[2020-08-09 22:09] #10943 closed

[2020-08-09 22:14] leahkeeler opened #12253 "[eFolders] Display Letters in Table format"
## Issue Description
As a veteran I want to sew the letters from vbms displayed in a table format similar to what is currently in eFolders

## Front end tasks
- Ensure the page is styled according to design spec.
- Ensure the back end data from API is displayed in local and review instance
- Ensure unit tests are available.
- Ensure your code changes are covered by E2E tests
- Run axe checks using

[2020-08-09 22:18] leahkeeler opened #12254 "eFolders - add search functionality by date and letter type"
## Issue Description
As a veteran who has a long list of documents in eFolders I would like the ability to filter on type of document and date uploaded

## Front end tasks
- Ensure the page is styled according to design spec.
- Ensure the back end data from API is displayed in local and review instance
- Ensure unit tests are available.
- Ensure your code changes are covered by E2E tests
- Run axe

[2020-08-09 23:33] tlei123 commented on #11938
@pjhill , DD-ineligible test-case ([C773](https://dsvavsp.testrail.io/index.php?/cases/view/773)) has Passed ([T9732](https://dsvavsp.testrail.io/index.php?/tests/view/9732)), using provide test-acct 360.

Re. those test-cases without references, there're no specific tickets that explicitly mentioned their respective use-case conditions -- only the [test-case spreadsheet](https://docs.google.com/s

[2020-08-10 01:21] DanielleThierryUSDSVA commented on #8020
Hi @lenaecb. Just checking in on this.

We've updated the content on this page to include community care as part of the Cerner SSO work. I'm OOO M-W, but will be publishing the community care updates on 8/17 (unless something has changed and you need me to hold off).

One question for you: In previous MISSION Act related work that I handled a while back, we linked over to the community care site r

[2020-08-10 01:21] DanielleThierryUSDSVA commented on #8020
FYSA @MickinSahni I moved this to sprint 28 since it will go live within next sprint. Thanks!

[2020-08-10 01:23] DanielleThierryUSDSVA commented on #11593
thanks, @markgreenburg! Will update this.

@MickinSahni We can leave this in in progress for sprint 28. thanks!

[2020-08-10 01:24] #10317 closed

[2020-08-10 01:44] DanielleThierryUSDSVA commented on #12198
Files that went to JTF for review (**not** final, approved files).

[Copay FAQ for jtf review 8.6.20](https://app.zenhub.com/files/133843125/f3f378da-4c10-45bc-9b63-86716e8d3326/download)

[Coronavirus FAQ page_testing content updates_for jtf review_8.7.20](https://app.zenhub.com/files/133843125/fd570a7b-59a0-40a8-89b4-a4be56fe0191/download)

[COVID alerts for Debt Management tool](https://app.zen

[2020-08-10 01:46] DanielleThierryUSDSVA opened #12255 "COVID-19 testing content: Update FAQs and chatbot"
## User story

Veterans need to understand if and how they can get tested for COVID-19.

## Issue Description
We need to:
- Update the FAQs
- Update the chatbot (GH files: https://github.com/department-of-veterans-affairs/covid19-chatbot/blob/master/content/chatbot-copy.md and https://github.com/department-of-veterans-affairs/covid19-chatbot/blob/master/content/chatbot-messages.md)

---
## Tasks
-

[2020-08-10 01:47] DanielleThierryUSDSVA commented on #12255
File sent to jtf (**not** final, approved version):
[Coronavirus FAQ page_testing content updates_for jtf review_8.7.20](https://app.zenhub.com/files/133843125/5d06a253-80df-4a56-9041-8467a77d9886/download)

[2020-08-10 01:59] DanielleThierryUSDSVA commented on #10530
Hi @MickinSahni FYI for sprint planning - I attended a Cerner meeting and asked about contact center on Cerner side. Confirmed # and will add to info write up for contact center when I return from being OOO (8/10-8/12). Thanks!

[2020-08-10 02:53] MickinSahni commented on #9538
Thanks, Danielle. Hey @johnhashva. This seems like it has potential to majorly impact search analytics, no? Not sure how far out the batch upload is but we should prioritize click-through analytics. Something to add to the search discovery chat.

[2020-08-10 03:01] MickinSahni commented on #11787
@swirtSJW checking in on when this can be created

[2020-08-10 03:06] MickinSahni commented on #11335
@tlei123 @pjhill hey team, we have one scenario we're working on re: error message for form detail pages (#12181). we're working on that this coming sprint (8/12).

you mentioned having stubbed out cases in TestRail. how long will it take to flesh those out completely?

[2020-08-10 03:06] MickinSahni commented on #12181
that's generally correct, @jenniferlee-dsva. but checking in with the QA team on when they anticipate being able to prioritize completing test cases they already started stubbing out (https://github.com/department-of-veterans-affairs/va.gov-team/issues/11335#issuecomment-671143420)

[2020-08-10 03:24] bethpottsVADEPO commented on #11804
@RLHecht @MickinSahni Here's the text for building this page in drupal. I'm uploading a version with my  tracked changes so Danielle can see what I did when she returns. For the sake of building the page, go ahead and accept all edits.[https://app.zenhub.com/files/133843125/e654d29a-f119-45d5-a406-67d654d3a564/download](https://app.zenhub.com/files/133843125/e654d29a-f119-45d5-a406-67d654d3a564/do

[2020-08-10 13:00] johnhashva commented on #9538
We have indeed prioritized click-through analytics -- but dependent on Search.gov to complete development/testing of that new capability for API clients.   Latest word on that: the final round of work on that has been delayed, repeatedly, by security-related and now Type-Ahead issue resolution.

[2020-08-10 13:07] ksantiagomorgan6 commented on #12224
pull request: https://github.com/department-of-veterans-affairs/vets-website/pull/13788

[2020-08-10 13:22] kevinstachura opened #12256 "[Metrics] Claims Status: Get Metrics for Average Number of Claims, Type of Claims for CST"
We need to gather a few quantitative metrics around claims in the Claim and Appeals Status Tool. By doing so, we can better understand if there is value in having filters. If so, what types of filters make sense from a usability perspective?

Note: If this report would be gigantic, I will add some sort of range on it, just let me know.

### Tasks

- [ ] Find the average number of items (claim and

[2020-08-10 13:24] kevinstachura commented on #11255
We have not yet heard back from Fred. I will follow up on this today.

[2020-08-10 13:24] arickalewis1 commented on #12176
Thanks for the feedback. I've reviewed it and we will proceed with listening sessions if Veterans are not able to use the card sort tool.

[2020-08-10 13:25] #11095 closed

[2020-08-10 13:27] arickalewis1 commented on #12178
Thanks for your feedback! I have incorporated most of what you stated -- I will update once more after the study.

![reason for visit](https://user-images.githubusercontent.com/54509359/89787570-49def000-dae3-11ea-9375-1d327a4d2980.png)

[2020-08-10 13:29] #12176 closed

[2020-08-10 13:33] #12177 closed

[2020-08-10 13:38] sanlouise commented on #12037
@DanielleThierryUSDSVA Could you please provide the anchor link to the connected apps section in the FAQs whenever you have a moment? Thank you!

[2020-08-10 13:41] RLHecht commented on #11636
This is now live in the style guide. Closing ticket. FYSA @MickinSahni @bethpottsVADEPO

[2020-08-10 13:41] #11636 closed

[2020-08-10 13:49] ndsprinkle commented on #11812
First test confirms we need to ask "Is VA Employee" question. Will add this in #11858

[2020-08-10 13:58] lenaecb commented on #12221
test @beth-wodzinski @aarathi-poldass can you see this?

[2020-08-10 13:59] leahkeeler commented on #12250
We will need this in place by 8/14 for moderated UAT, earlier to show to stakeholders, if at all possible

[2020-08-10 14:00] bethpottsVADEPO commented on #11807
@RLHecht This is the same file I posted in #11804, just posting in the right ticket here!

[https://app.zenhub.com/files/133843125/33277a5f-e7ae-42d6-b22e-4487d66b3565/download](https://app.zenhub.com/files/133843125/33277a5f-e7ae-42d6-b22e-4487d66b3565/download)

[2020-08-10 14:01] leahkeeler commented on #11222
Thanks @DanielleThierryUSDSVA I will f/u on content changes with DMC and give them a deadline. Thanks again for all your help

[2020-08-10 14:09] pjhill commented on #11938
@tzelei --

Hrmm, that's an interesting conundrum there. I'm assuming that although these unreferenced scenarios are not explicitly detailed in any user story, their details are somehow derived from one or more user stories. Perhaps it would be prudent to reference the user story from which the derived scenarios originated?

Excellent! I'm aware that discovering appropriate test accounts can be ve

[2020-08-10 14:15] aarathi-poldass commented on #12221
@lenaecb Yes, I can see it. Testing. Thank you!

[2020-08-10 14:16] RLHecht commented on #10893
Validated on live site. Closing ticket. FYSA @MickinSahni @bethpottsVADEPO

[2020-08-10 14:16] #10893 closed

[2020-08-10 14:17] Samara-Strauss commented on #11938
Sounds good. If the SSO team can get DS Logon to work again on staging, we *should* be able to get a user for you, but if not, then we will not be able to provide a test user for this case.

[2020-08-10 14:21] #10695 closed

[2020-08-10 14:24] bsmartin-ep commented on #11893
I checked with Leyda and everything looks good.  Closing.

[2020-08-10 14:24] #11893 closed

[2020-08-10 14:24] Samara-Strauss commented on #11528
Ah, ok, @bsmartin-ep — thank you, that makes sense. I think we need to change the label of that so it is clear that is successful saves and not just attempted submissions. That was totally unclear to me and we've been thinking the actual amount save was submitted minus failed for pretty much the whole time we've had the dashboard. But we can do that in a separate ticket.

Looks like we have all th

[2020-08-10 14:24] #11528 closed

[2020-08-10 14:29] bethpottsVADEPO commented on #11804
Closing as we've moved on to the drupal stage of the process.

[2020-08-10 14:29] #11804 closed

[2020-08-10 14:31] Samara-Strauss commented on #10247
Thank you for this! Anything else that needs to be documented here?

[2020-08-10 14:32] Samara-Strauss commented on #10857
Awesome — keep us posted. I'll let you know of an official start date for UAT when we have one.

[2020-08-10 14:35] kevinstachura commented on #10838
Our initial concepts can be found here: https://vsateams.invisionapp.com/share/SUYB3J9FZ2Y

[2020-08-10 14:36] abuckley3385 opened #12257 "[Frontend] Display Demographics"
## Product Documentation
[Questionnaires Product Outline ](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/product-outline.md)
- [Visit Intro Initiative (Proof of Concept)](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/initiatives/visit-intro.md)
- [Feature -

[2020-08-10 14:38] Samara-Strauss commented on #10255
My guess is that this will be too complicated to handle in a V1. What are your thoughts? How much more investigation needs to happen here?

[2020-08-10 14:39] Samara-Strauss commented on #10249
Awesome, that's what I expected. Thanks! This is really exciting and will go a long way in matching user expectations.

[2020-08-10 14:42] batemapf opened #12258 "Include messages in popular and targeted newsletters about opportunity to participate in COVID-19 research"
**Targets**
- VetResouces (VEO)
- MHV Newsletter (OCC)
- Faith-based newsletter(s) (CFOI)
- Center for Women Veterans newsletter(s) (CWV)
- Rural health / rural Veterans newsletters

**To Do**
- [ ] Develop list of email newsletters we'd like to include our blurb
- [ ] Connect with newsletter sponsor to discover process for inclusion
- [ ] Develop standard and, as needed, custom content for each n

[2020-08-10 14:43] jason-gcio commented on #11794
@peggygannon - thank you!

[2020-08-10 14:43] #11794 closed

[2020-08-10 14:43] abuckley3385 opened #12259 "[UI] UX Design Demographics"
## Product Documentation
[Questionnaires Product Outline ](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/product-outline.md)
- [Visit Intro Initiative (Proof of Concept)](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/initiatives/visit-intro.md)
- [Feature -

[2020-08-10 14:44] jbalboni opened #12260 "staging.va.gov: Past Appointments On the Current Date Not Displaying"
@marcynadeau commented on [Fri Aug 07 2020](https://github.com/department-of-veterans-affairs/vets-json-schema/issues/474)

Steps to recreate
1. In VistA create two appointments (in a clinic configured for VAOS)  on the current date for a patients.  One appt for a time that has passed and one for a time in the future.
2.  Log in to New UI
3.  Expected Response: In Upcoming Appointments tab the fut

[2020-08-10 14:44] Samara-Strauss commented on #11054
Things are working on the military information, direct deposit, and account settings pages. It looks like I got you incorrect URLs for personal and contact information and connected apps.

- The URL for the personal and contact information page is /profile/personal-information.
- The URL for connected apps is /profile/connected-applications.

Once those are fixed, we should be good to go. Sorry fo

[2020-08-10 14:46] batemapf opened #12261 "Set up GA dashboard for COVID-19 research registry metrics"
**Acceptance criteria**
- [ ] GA dashboard exists that reports on all "out-of-the-box" metrics included with the VA Forms System
- [ ] Metrics are being populated in production

[2020-08-10 14:46] abuckley3385 opened #12262 "[BE] Interface for Demographics"
## Product Documentation
[Questionnaires Product Outline ](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/product-outline.md)
- [Visit Intro Initiative (Proof of Concept)](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/initiatives/visit-intro.md)
- [Feature -

[2020-08-10 14:48] #11622 closed

[2020-08-10 14:48] erikphansen commented on #10255
I think that this should be doable. But it's concerning that I can't find a staging user that can view the page. Anna said [this list of users](https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/blob/master/Administrative/vagov-users/mvi-staging-users-birls-participant-edipi.csv) should work, but they all get the same error I posted above. More concerning is that the page cras

[2020-08-10 14:49] #11768 closed

[2020-08-10 14:50] erikphansen commented on #10247
At this point I think we can call this one done.

[2020-08-10 14:52] jason-gcio opened #12263 "Update Copy on View Payment History"
## Goal
Now that we have Peggy's copy edits, we can move forward with making changes to that copy so that the feature is complete on the frontend.

## Considerations
- Peggy's [feedback](https://github.com/department-of-veterans-affairs/va.gov-team/issues/11794#issuecomment-670783357)
- [Changelog](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/teams/vsa/teams/ebenefits/

[2020-08-10 14:56] ricetj opened #12264 "Migrate Review instances to vfs.va.gov"
## Description
Review instances are a key part of the testing experience on Va.gov. Right now the only way to access them is by using the SOCKS proxy. If we migrated them to vfs.va.gov users could access them on the internal Va network.

## Background/context/resources
review instances are in vetsgov VPCs FYI.
## Technical notes
_Notes around work that is happening, if applicable_

---
## Tasks
-

[2020-08-10 14:56] batemapf commented on #12240
Meeting being scheduled w/ CoVPN folks to, "discuss how to get the VA in the registry" for week of 8/10.

[2020-08-10 14:59] #9078 closed

[2020-08-10 15:00] jason-gcio opened #12265 "Update Silent Failure Email Copy"
## Goal
With the final word on the email copy from Peffy, we can use that text in the email that goes to Veterans when a failure has occurred and they need to be notified in order to take action.

## Tasks
- [x] Take the content from Peggy's [feedback](https://github.com/department-of-veterans-affairs/va.gov-team/issues/11874) and insert it into the ruby mailer file.
- [x] Fire the emailer when th

[2020-08-10 15:00] batemapf opened #12266 "Initial usability study for COVID-19 research registry and content"
**Acceptance criteria**
- [ ] \>5 research sessions with a prototype of the landing page and registration form have been completed with Veterans
- [ ] Synthesis of observations with findings is complete and shared with team and ORD partners
- [ ] Tickets created to track any required changes based on the findings

[2020-08-10 15:05] #11874 closed

[2020-08-10 15:12] jason-gcio commented on #11452
I believe these are the answers so far:
- Are the new questions required?
Yes
- How will business follow-up with applicants who opt-in on e-VA and Tele-counseling?
Not sure, but for now we can assume a manual follow up
- What are acceptable inputs for "other" times
Going to be an open text field
- Are "other" time ranges actually acceptable? (e.g. 11:00 p.m. to midnight, 3:00 a.m., etc.)
We might

[2020-08-10 15:13] lwalsh617 opened #12267 "Life insurance rewriting batch 3: Content Review"
**Issue Description**
Review of batch 3 pages that have been built in Drupal.
1. PW initial copy editing in Drupal (Randi)
2. DEPO review (Beth)

**[Update your insurance beneficiary](<http://preview-prod.vfs.va.gov/preview?nodeId=5583>)**
- [x] PW copy edit
- [ ] DEPO review

**[VGLI autopay](<http://preview-prod.vfs.va.gov/preview?nodeId=5584>)**
- [x] PW copy edit
- [ ] DEPO review

**[SGLI onl

[2020-08-10 15:13] #11986 closed

[2020-08-10 15:13] #11989 closed

[2020-08-10 15:15] sonntag-adam commented on #12201
![Screen Shot 2020-08-10 at 11.14.58 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/56fb4a71-0e1a-4bed-a5c2-61c3804d5f06)
##
![Screen Shot 2020-08-10 at 11.15.05 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/03b8acee-ac19-4d99-803a-5e19ebc96899)

[2020-08-10 15:19] bethpottsVADEPO commented on #8913
@lwalsh617 @MickinSahni I'm reviewing these pages over the next two days. Creating a ticket now to capture that work. So this ticket will stay in backlog until I'm done and ready to send to SMEs.

[2020-08-10 15:20] aarathi-poldass opened #12268 "Test Issue - Aarathi"
## What happened?
_Describe in detail what went wrong; screenshots, videos, or gifs are strongly encouraged_

@lenaecb Test Issue

## Specs:
- Device: (e.g. iPhone 8, Macbook)
- Browser: (e.g. Firefox, IE 11)
- Test User _(if applicable)_:

## Steps to Reproduce
- URL:
- Test User _(if applicable)_:

## Desired behavior
_Describe in detail what was supposed to happen; reference existing Github iss

[2020-08-10 15:21] lenaecb opened #12269 "[Discovery] Enable Labs to be direct scheduled"
# Stakeholder input:
## High Level User Story / Problem / Opportunity
As a Veteran who has labs to scheduled at the VA, I want to be able to do this directly in VAOS and get a confirm lab appointment at the end of my VAOS submission.

With social distancing and limiting the number of Veterans that come into the facility at a time, we are hoping to institute direct scheduling for lab for our Vetera

[2020-08-10 15:24] batemapf opened #12270 "Cross link COVID-19 research landing page from other relevant properties"
**Targets**
- Coronavirus FAQ
- Facilities pages
- Homepage banner
- Facility locator
- Public health pages
- MHV home page

**To do**
- [ ] Coordinate with the Public Websites, Facilities, and other teams to determine proper process
- [ ] Identify possible places for links to live
- [ ] Implement links
- [ ] Add metrics to GA dashboard

**Acceptance criteria**
- [ ] User viewing >1 other relevant

[2020-08-10 15:24] lwalsh617 opened #12271 "Life Insurance Batch 3: Staging Review Accessibility Checklist"
Content-only accessibility review of the following batch 2 pages:

-   Complete required accessibility checklist items for staging review:
    -   [ ]  Read the [accessibility staging review documentation](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/staging-review-processes.md#accessibility-staging-review-preparation)
    -   [ ]  [Axe

[2020-08-10 15:24] rianfowler opened #12272 "Review PR to Transition off deprecated URLSearchParams polyfill"
Review and get this PR merged: https://github.com/department-of-veterans-affairs/vets-website/pull/13412

[2020-08-10 15:25] YanaRoy opened #12273 "Offboarding of Kim Mueller"
# Instructions
Fill out name of individual and *Description* section below.

# Description
- Please provide the name of the individual needing offboarded.

- Please provide the name of their team, their role on that team, expected last day, and the name of the company they work for.

- Please provide any type of access they may have.

## AC
 - [x] Remove global/config.yml / SOCKS Access removed (i

[2020-08-10 15:28] jonwehausen opened #12274 "Analytics Reporting Request for Screener Team - Addition to COVID Dashboard"
# Metrics Reporting Request

## Description
How might we incorporate components from [our GA Screening Tool](https://analytics.google.com/analytics/web/#/dashboard/qHm9KfILQnmYWnUVDycH0w/a50123418w177519031p184624291/_u.date00=20200601&_u.date01=20200810/) dashboard into our current COVID-19 VA.gov response dashboard.

## Instructions

Please fill out the following sections:
- [ ] Description
- [

[2020-08-10 15:35] sonntag-adam commented on #11843
![Screen Shot 2020-08-10 at 11.33.04 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/bc0c6be5-50f1-432b-b116-fe89d7485471)

[2020-08-10 15:37] aarathi-poldass commented on #12268
@lenaecb Test Comment

[2020-08-10 15:38] Samara-Strauss commented on #10247
Great! I'll close it out.

[2020-08-10 15:38] #10247 closed

[2020-08-10 15:41] Samara-Strauss commented on #10255
I can ask about this in Slack and see if anyone on BAM2 is aware of a staging user that works.

[2020-08-10 15:46] bethpottsVADEPO opened #12275 "Life insurance rewriting review: Batch 1"
## Issue Description
As VBA lead, Beth needs to do a final pass on Life Insurance pages.
[life-insurance-rewriting-phase1-v04-08-06-20-master.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/5036899/life-insurance-rewriting-phase1-v04-08-06-20-master.docx)
---
## Tasks: Review these pages
- [x] [Insurance plans](https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f

[2020-08-10 15:48] kevinstachura commented on #11439
@chrvalla has generated a summarized list of issues from the aggregated social listening snippets. It can be found here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/claim-appeal-status/research/CST-social-listening/Summary.md

We can use this as our list of 'known' QA issues and work with the developers to finalize a list from there.

[2020-08-10 15:48] #11439 closed

[2020-08-10 15:52] ala-yna opened #12276 "Staging Review - Caregivers"
## Steps to complete Staging Review:

- [x] Product Manager: create this issue and fill in feature name in the title and other bolded information appropriately
- [x] Link to this issue once created in [#vfs-platform-support](https://dsva.slack.com/channels/vfs-platform-support) in Slack; tag @ AndreaHewitt @ Mandi Lipka
- [x] Mandi to schedule meeting with VSP reviewers and **requesting team** att

[2020-08-10 15:55] mandifrances commented on #12276
Hi @ala-yna Please check out the Scheduling part of the ticket and find a time that works best for your team that hasn't already been taken (Keep in mind it must be at least 2 full business days before the date you choose).

[2020-08-10 15:56] delli-gatti-michael commented on #12200
Local testing complete

![Screen Shot 2020-08-10 at 11.11.08 AM.png](https://images.zenhubusercontent.com/5c07f000391a6f6357adc430/e77a6dab-2f8e-4b99-bdbc-fb34ff6c27a9)

[2020-08-10 16:02] amyknox commented on #11284
@mnorthuis - do you know where the PDF of approved STEM programs will end up living when the new page is launched? It's currently here:  https://benefits.va.gov/gibill/docs/fgib/STEM_Program_List.pdf

[2020-08-10 16:07] sonntag-adam commented on #12202
![Screen Shot 2020-08-10 at 12.02.59 PM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/195f6d98-c726-437b-86dd-dcad876e83ab)

[2020-08-10 16:10] rianfowler opened #12277 "Review forms library documentation updates"
https://github.com/department-of-veterans-affairs/veteran-facing-services-tools/pull/349/files

[2020-08-10 16:13] erikphansen opened #12278 "Document title is the same for all Profile sections"
The `document.title` is identical for all Profile sections. Which makes is hard to make sense of the browser history.

In this screenshot, each item in the list is actually a different section but it's impossible to know which page any entry maps to:
![profile pages in history menu.png](https://images.zenhubusercontent.com/5b4d0309a8d8be5bda39303e/17949278-31e2-4562-9f15-93f83fc7415e)

Perhaps we

[2020-08-10 16:14] erikphansen commented on #12278
@mnorthuis I'm assigning you since I think this might be in your wheelhouse. Feel free to remove yourself.

[2020-08-10 16:16] sporeboy commented on #11789
Recruiting criteria changed per guidance from design/research leads. Plan and guide are complete pending review by leads, and guidance from LOB.

[2020-08-10 16:18] MickinSahni commented on #11355
axe checks already executing for all pages from Drupal automatically
i.e. unauth content in this issue will be tested as part of that.
auth content will _not_ be tested by axe checks. but they're similar to unauth.

moving to sprint 29 until we're in prod and can actually run e2e tests.

[2020-08-10 16:25] #11951 closed

[2020-08-10 16:27] #11961 closed

[2020-08-10 16:27] anitadewitt-va commented on #12218
I don't think that I will need AWS console access. Thanks!

[2020-08-10 16:30] delli-gatti-michael commented on #12204
Local testing complete

![Screen Shot 2020-08-10 at 12.25.28 PM.png](https://images.zenhubusercontent.com/5c07f000391a6f6357adc430/2fa426c3-0a89-42d6-a253-96c6edcb5671)

[2020-08-10 16:30] delli-gatti-michael commented on #12203
Local testing complete

![Screen Shot 2020-08-10 at 12.27.47 PM.png](https://images.zenhubusercontent.com/5c07f000391a6f6357adc430/b4402c05-fd15-44c3-8ec4-00dae6e612e5)

[2020-08-10 16:32] abuckley3385 opened #12279 "[UI] Intro Page"
## Product Documentation
[Questionnaires Product Outline ](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/product-outline.md)
- [Visit Intro Initiative (Proof of Concept)](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/initiatives/visit-intro.md)
- [Feature -

[2020-08-10 16:39] abuckley3385 commented on #12262
On hold until we verify that authentication gets us all person demographics for the Veteran.  @mdewey @massrb

[2020-08-10 16:41] MickinSahni commented on #12250
TBD when we're able to complete (sprint planning this week). This is slotted for our next sprint (8/12-8/25) and will consider against other priorities.

[2020-08-10 16:43] ccruzgra commented on #11951
Reviewed UI during today's UXBA Sync.

[2020-08-10 16:46] sporeboy commented on #10599
Initial draft created: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/ebenefits/features/view-payment-history/research-design/payment-history-usability-research-plan.md

Draft can be reviewed by leads, but cannot be submitted until testing dates are determined.

[2020-08-10 16:46] abuckley3385 opened #12280 "[UI] This Visit Questions"
## Product Documentation
[Questionnaires Product Outline ](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/product-outline.md)
- [Visit Intro Initiative (Proof of Concept)](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/initiatives/visit-intro.md)
- [Feature -

[2020-08-10 16:47] #7852 closed

[2020-08-10 16:47] jbalboni commented on #11033
Events:

vaos-express-care-request-button-clicked
vaos-express-care-request-cancel-flow
vaos-express-care-request-continue-flow
vaos-express-care-submission
vaos-express-care-submission-successful
vaos-express-care-submission-failure

Additional data on submission: `health-expressCareReason` (contains the symptom)

Cancel events are the same:

vaos-cancel-appointment-submission
vaos-cancel-appoint

[2020-08-10 16:49] abuckley3385 opened #12281 "[FE] This Visit Questions"
## Product Documentation
[Questionnaires Product Outline ](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/product-outline.md)
- [Visit Intro Initiative (Proof of Concept)](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/initiatives/visit-intro.md)
- [Feature -

[2020-08-10 16:51] sonntag-adam commented on #11706
![Screen Shot 2020-08-10 at 12.33.15 PM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/aa33eb0d-646d-4543-a3be-f96c3488f57e)
##
![Screen Shot 2020-08-10 at 12.33.23 PM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/bc3a95e8-a8c9-4ebc-b525-593a6fd046a5)
##
![Screen Shot 2020-08-10 at 12.37.55 PM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8

[2020-08-10 16:52] U-DON commented on #11703
## Week of August 10

### Cypress
39 test cases across 12 files

### Nightwatch
92 tests

[2020-08-10 16:59] meganhkelley commented on #2719
Bill/Rian/Megan/Eugene mtg 8/10

@billfienberg @bkjohnson @U-DON @rianfowler

*Next steps:*
- [ ] Brooks/Bill/Eugene connect on & finalize the plan for validating/comparing the two builds
- [ ] Add approximate timing to [the google doc](https://docs.google.com/document/d/1NSqXeo-SGyBzusEoyQ_hwZK7jNuCUawAXkpN0gC18Cc/edit) to represent how we’re doing each of these
- [ ] Finalize a plan for what Bro

[2020-08-10 17:02] abuckley3385 opened #12282 "[Frontend] Display Landing Page"
## Product Documentation
[Questionnaires Product Outline ](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/product-outline.md)
- [Visit Intro Initiative (Proof of Concept)](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/initiatives/visit-intro.md)
- [Feature -

[2020-08-10 17:03] sonntag-adam commented on #11706
![Screen Shot 2020-08-10 at 1.01.18 PM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/710a2335-247f-4504-90ab-e2b3766f488a)

[2020-08-10 17:03] jbalboni commented on #11033
@bsmartin-ep Can you help with the above? I have a question above about how I should track additional data about a particular page. I'd also like to verify that the additional data listed for our cancel appointment events is actually set up correctly.

[2020-08-10 17:07] abuckley3385 opened #12283 "[BE] Data interface for Landing Page"
## Product Documentation
[Questionnaires Product Outline ](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/product-outline.md)
- [Visit Intro Initiative (Proof of Concept)](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/initiatives/visit-intro.md)
- [Feature -

[2020-08-10 17:09] batemapf opened #12284 "Continuous engagement of any registered participants"
- For registrants who participate in a study and complete it
- For registrants who don't participate in a study
- For registrants who are offered a study and don't participate
- For participants who begin a study and don't complete it

**Matrixed across**: patient, non-patient, non-Veteran, dependents / non-dependents

[2020-08-10 17:13] peggygannon commented on #12178
thank you @arickalewis1 Please keep me posted on the research and if the content needs further tweaking based on users feedback.

[2020-08-10 17:13] abuckley3385 opened #12285 "[BE] Reason for Visit data Integration"
## User Story
**As** a Veteran
**I want** to provide my care team with my Reason for Vist
**So that** I can obtain relevant care for my problem

## Documentation
[Questionnaires Product Outline ](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/product-outline.md)
- [Visit Intro Initiative (Proof of Concept)](https://github.com/de

[2020-08-10 17:15] batemapf opened #12286 "Performance reporting to be consumed by leadership / stakeholders"
Things like:

- Visits
- Registrants
- Eligible registrants
- Contacts
- Consents
- Scheduled
- Showed up
- Began study
- Submitted study data
- Completed study

Across all of these: demographics, Veteran / non-Veteran, etc...

[2020-08-10 17:20] sonntag-adam commented on #11706
![Screen Shot 2020-08-10 at 1.19.39 PM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/4acf8178-e126-4fdd-9e6e-47918b58c559)

[2020-08-10 17:20] lwalsh617 opened #12287 "Iris Q&As: Define work process"
## Issue Description
IRIS includes approximately 928 faqs that will be used to provide Q&A content for the new VA.gov learning center. We need a process that maps to the October launch of the learning center MVP (which includes account and profile as well as "general" Q&As only--no benefit-related ones) and the goal of having all remaining IRIS faq content migrated to VA.gov by the end of 2020.

#

[2020-08-10 17:21] peggygannon opened #12288 "VSP Content feedback - Staging review - STEM Scholarship form"
## User story

This ticket captures VSP content feedback on STEM form

Staging link: https://staging.va.gov/education/apply-for-education-benefits/application/10203/introduction

## Acceptance criteria

- [x]  VSP/Peggy provides content feedback for the form/tool and any associated static pages
- [ ]  Product team incorporates feedback and/or asks follow up questions about the feedback
- [ ] Teams

[2020-08-10 17:22] batemapf opened #12289 "Distribute comms material through VSO communicators"
VA Outreach team does regular meetings w/ public affairs staff of traditional and non traditional VSOs. Use these relationships / pathways to get the info out.

**Acceptance criteria**
- [ ] \> 2 VSOs uses their platform to broadcast research opportunity
- [ ] Basic metrics are tracked

[2020-08-10 17:24] ncksllvn commented on #11435
Doing a quick scroll those issues and will follow up with more info as I work through the issue...

I think this one requires knowledge of a CMS engineer to define the best solution. I love the idea of FAQ content being modeled like reusable alerts though.

We _could_ have a dedicated step in our website build that would sort of configure the data for the Learning Center, such as defining the FAQs

[2020-08-10 17:25] dneel-bah opened #12290 "CT: Update Landing Page Text Search Field Behavior"
As a comparison tool user, I need the text search auto complete to just populate the text box so that I have a chance to review my inputs prior to moving on to the next page.

## Assumptions:
1. This work is completed behind the feature flag #10615.
2. This is a shared component with the search results page and will need to be split out / have an override so that the search results page behavior i

[2020-08-10 17:25] abuckley3385 opened #12291 "[FE/BE] Tech Spike - Unauth and Auth Pros and Cons"
## Product Documentation
[Questionnaires Product Outline ](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/product-outline.md)
- [Visit Intro Initiative (Proof of Concept)](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/initiatives/visit-intro.md)
- [Feature -

[2020-08-10 17:26] batemapf opened #12292 "Internal VHA employee-facing comms"
**Possible channels**

- EIC daily video
- Employee newsletter
- Hey VA!
- Non-VHA channels, e.g. VBA employees newsletters, or msg from Sec VA

**Acceptance criteria**
- [ ] \>2 employee engagement channels blast out vaccine opportunity
- [ ] Basic metrics are tracked

[2020-08-10 17:27] batemapf opened #12293 "VEO activate CVEBs"

[2020-08-10 17:31] #11302 closed

[2020-08-10 17:31] #11301 closed

[2020-08-10 17:32] batemapf opened #12294 "Create engagement packet for research opportunity"
**Should include**

(All focused on CTA of "go to VA.gov/[something] and sign up)

- Fact sheets / one pagers on volunteering for medical research
  - Riff off of existing ORD handout (ugly, but OK content)
  - Riff off of CoVPN collateral ("Fact sheet on volunteering on vaccine trials")
- "Subway map" on how to get involved / steps in the process
- Draft social media posts
- Video? Testimonials?

[2020-08-10 17:32] #11847 closed

[2020-08-10 17:33] mnorthuis commented on #12278
@erikphansen Hi!  Guidelines are title tags are documented here: https://design.va.gov/content-style-guide/seo .  They are typically pulled from the H1, but doesn't look like you have an H1 on the pages?

Title tags for the individual pages of profile should be as below.
cc: @peggygannon

Personal and Contact Information | Veterans Affairs
Military Information | Veterans Affairs
Direct Deposit | V

[2020-08-10 17:38] batemapf opened #12295 "Activate VA Communicators to inform prospective participants about COVID research"
Good place to start to access all of the specialist / affinity offices (e.g. CWV, rural health, CFOI, etc...)

Bi-weekly meeting. Jenn _is_ the agenda.

[2020-08-10 17:39] mshea0606 commented on #11938
@pjhill Here are the tickets/references related to the test cases you mentioned above.

C776 | P2 - LOA3 - Dir. Dep. - Visibility - Incompetent w/o Fiduciary
C794 | P2 - LOA3 - Dir. Dep. - Visibility - Incompetent w/ Fiduciary
= Design - Hide Direct Deposit information if the user is incompetent or has a fiduciary #6094

C795 | P2 - LOA3 - Dir. Dep. - Visibility - Deceased
= [FE] Add direct deposi

[2020-08-10 17:39] erikphansen commented on #12278
Should we use Title Case as you called out or sentence case like they appear on the page?

[2020-08-10 17:41] erikphansen commented on #12278
The `h1` is there (currently not on mobile but we'll fix that) and reads `Your profile`.

[2020-08-10 17:41] ricetj commented on #9188
Karl said he doesn't need AWS access right now and will re-request it if needed in the future

[2020-08-10 17:41] #9188 closed

[2020-08-10 17:43] abuckley3385 opened #12296 "[Product] Demographics Feature Outline"
## Product Documentation
[Questionnaires Product Outline ](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/product-outline.md)
- [Visit Intro Initiative (Proof of Concept)](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/initiatives/visit-intro.md)
- [Feature -

[2020-08-10 17:43] batemapf opened #12297 "Activate PAOs at each VHA facility"
Can help push info out locally (e.g. VSOs local branches).

[2020-08-10 17:47] lenaecb opened #12298 "Audit request flows for design/content consistency for VA, Community Care, & EC requests"
With changes in feature enablement (turning on/off Community Care and Direct Schedule) and the addition of Express Care request flow, we should do a request flow walk-through for design and content consistency.

## Acceptance Criteria:
- [x] Review request flows and identify language/content consistency through flows - VA Request, Community Care Request, Express Care Request
- [ ] Identify variati

[2020-08-10 17:49] mnorthuis commented on #12278
Title tags should be title case.  I can't visibly see the H1 on desktop either - are they actually displayed on the page?
The H1s should be the actual page title, so they should be updated to reflect these same titles, although H1s are sentence casing.

[2020-08-10 17:49] batemapf opened #12299 "General information about research opportunities for contact centers"

[2020-08-10 17:49] abuckley3385 opened #12300 "[Product] Landing Page feature documentation"
## Product Documentation
[Questionnaires Product Outline ](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/product-outline.md)
- [Visit Intro Initiative (Proof of Concept)](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/initiatives/visit-intro.md)
[Feature - Qu

[2020-08-10 17:50] batemapf opened #12301 "Include mention of research opportunities in appointment letters / other snail mail"

[2020-08-10 17:51] batemapf opened #12302 "Send out COVID 19 research opportunities via MVP newsletter"
- Snail mail
- ~800K recipients
- Mid-Sept
- Jenn looking into it

[2020-08-10 17:55] abuckley3385 opened #12303 "[Product] This Visit Questions Feature Outline"
## Product Documentation
[Questionnaires Product Outline ](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/product-outline.md)
- [Visit Intro Initiative (Proof of Concept)](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/initiatives/visit-intro.md)
- [Feature -

[2020-08-10 17:55] dneel-bah opened #12304 "STEM: Address Application Summary UI/Content Issues"
As a developer, I need to update the form summary page so that it matches DEPO content and design best practices and patterns so that the user has a positive and consistent experience with all forms.

## Assumptions:
1. This work is done behind feature flag #7271.

## Acceptance Criteria
1. The content "These details will help us review your application faster, but aren’t required." in the program

[2020-08-10 17:55] peggygannon opened #12305 "Audit and iterate on current error messages"
## User story
Review and update current VA.gov [error messages](https://design.va.gov/patterns/messaging-dictionary) and [error message styleguide](https://design.va.gov/patterns/messaging-error-messages), taking into account mobile standards and best practices.

Acceptance criteria
- [x]  Peggy and Danielle review current messaging in dictionary and error message styleguide: https://design.va.gov

[2020-08-10 17:57] lenaecb opened #12306 "[Discovery] Provide more information about VVC appointments (ex. which Provider)"
As a Veteran who uses VAOS, I want to know who my VVC appointment is with and if possible what it is for. Right now it just tells me I have a VVC appointment and nothing else.

### Discovery questions:
- What other information exists for VVC appointments that we're not showing?
- Can we show provider and specific doctor information?
- Can we show type of care with VVC appointment?
- How can we dis

[2020-08-10 18:00] tlei123 commented on #11342
@bradl3yC @camerontesterman , do you have Staging test-accounts for all the user-scenarios listed above (in the main Description)?

Also, the Staging Debt-List page that was accessible last week is now throwing up our Not-Found error-page: https://staging.va.gov/manage-va-debt/your-debt  I'm using test-acct 1 & 21 (for the 2 user-scenarios that have test-accts provided.

I didn't think Flipper fea

[2020-08-10 18:01] marcynadeau commented on #12221
Lenae
This is Marcy and yes I can see this.

From: Lenae Storey <notifications@github.com>
Sent: Monday, August 10, 2020 7:59 AM
To: department-of-veterans-affairs/va.gov-team <va.gov-team@noreply.github.com>
Cc: Nadeau, Marcy M. <Marcy.Nadeau@va.gov>; Assign <assign@noreply.github.com>
Subject: [EXTERNAL] Re: [department-of-veterans-affairs/va.gov-team] staging.va.gov - VA Canceled VVC appts in f

[2020-08-10 18:10] peggygannon commented on #12278
@erikphansen I love that you asked that question!
title tags= title case
H1: sentence case

[2020-08-10 18:10] ncksllvn commented on #11435
I suspect we will need a custom API to power search, designed similarly to the Find Forms API, where a nightly migration moves Drupal Learning Center data into an API database intended for real-time access. Then we could just tailor the API to our exact needs. For example, this page `www.va.gov/learning-center/search?tags=burials&20and%20memorials` would send an API request to `api.va.gov/v0/learn

[2020-08-10 18:13] jenniferlee-dsva commented on #12278
Quick correction - per style guide: https://design.va.gov/content-style-guide/seo#title-tags

Meta title tags - Initial Caps (slightly different - much simpler - than title case)
H1 - sentence case

[2020-08-10 18:16] jenniferlee-dsva commented on #12278
P.S. The guidance ^ and the character limit is geared toward public -- unauthenticated - pages that come up in organic searches.

For signed in authenticated pages, I think the character limit of meta titles don't matter -- bc these pages do not come up in searches at all.

[2020-08-10 18:18] mnorthuis opened #12307 "IA Feedback - Staging Review - STEM Scholarship"
**Feedback framework**

- **Must** for if the feedback must be applied
- **Should** if the feedback is best practice
- **Consider** for suggestions/enhancements

## Description

**Notes**:  This issue describes IA feedback for **the STEM scholarship application only**.  At the time of this review, the static landing page was not implemented, which requires the use of an interim breadcrumb and navi

[2020-08-10 18:26] mnorthuis commented on #11284
It depends on how the Public Websites team decides to handle the PDF.  Some PDFs are converted to web pages and migrated over, other PDFs remain and continue to be  hosted by the business line.  I'll make sure this is on the PW team radar when they work on that page.

[2020-08-10 18:27] RLHecht commented on #11807
@bethpottsVADEPO This page is now built. Preview link is listed at the top of this ticket. A few things:

1. We can't style the sext with the green button until we have a link to the online form. We also need to add the links to the online forms where we have the text.

2. Under the question about private school rates, should we add a link to the Chapter 33 rates in the answer?

3. Should the "Why

[2020-08-10 18:31] annaswims commented on #11892
I've correlated these logins with what what Michael Harlowe messaged me.

-----

vets.gov.user+247@gmail.com - Nicholas Willis has a dozen pending claims and I cancelled them all, so he's a good candidate for BDD testing.

vets.gov.user+250@gmail.com - I submitted a BDD for Clifford Wilson through Swagger and it worked. I cancelled it so he's ready to test from staging.

vets.gov.user+258@gmail.co

[2020-08-10 18:31] #11892 closed

[2020-08-10 18:32] erikphansen commented on #12278
@mnorthuis The H1 should be showing up on Desktop (see screenshot). Making the H1 the subnav heading while the H2 is the section heading was by Jen Strickland's direction.
<img width="980" alt="Screen Shot 2020-08-10 at 11 29 36 AM" src="https://user-images.githubusercontent.com/20728956/89817538-29239400-dafd-11ea-8283-766c8eccf345.png">

[2020-08-10 18:39] mnorthuis commented on #12278
Thank you @jenniferlee-dsva for catching that (title versus init caps).  Based on that, I believe there's just one change to the above  - the "And" in the first title should be capitalized.

Personal And Contact Information | Veterans Affairs

Will follow up with @peggygannon and @jenniferlee-dsva  on whether the style guides need any reference to nuanced guidelines for authenticated pages.  We ca

[2020-08-10 18:41] jenniferlee-dsva commented on #11435
This is an amazing summary of initial thoughts and findings [re search](https://github.com/department-of-veterans-affairs/va.gov-team/issues/11435#issuecomment-671507045) - thank you @ncksllvn .  (CC @johnhashva )

- What would a hybrid approach look like? (Using the search capabilities already available in search.gov + adding FE template search logic)
- Or would that not even be worth it because

[2020-08-10 18:44] lunascoop opened #12308 "Clone historic 2019 rates page for Pension - Survivors benefits"
Current Rates URL: https://www.va.gov/pension/survivors-pension-rates/

Tasks:
- [x] Clone current Pension - Survivors rates page in Drupal. Selina
- [x] Copy over rates from legacy historic page, https://www.benefits.va.gov/PENSION/rates_survivor_pen18.asp
- [x] Copy edit and doublecheck rates and new math examples. Randi

Epic: #10544

## Acceptance Criteria
- [x] Page created in Drupal for 2018

[2020-08-10 18:49] lunascoop commented on #12308
HI @RLHecht this page is ready for review. http://preview-prod.vfs.va.gov/preview?nodeId=6861

[2020-08-10 18:50] tlei123 commented on #11938
Thx, @mshea0606 !

@pjhill , new Coverage for References report generated: https://dsvavsp.testrail.io/index.php?/reports/view/128

[2020-08-10 18:51] johnpaulashenfelter opened #12309 "Experiment: Add a *lib* directory to CODEOWNERS"
We have already worked with the VAOS team to allow that team to review its own code in their `/modules/vaos`directory. As we try rolling this out to a wider group of teams, the `lib/xxxx` directory is also a possibility for code ownership. The first experiment will cover a single team using `lib/bgs`

- [x] Get the OK from DEPO (@dror)
- [x] Create a team
- [x] Update CODEOWNERS
- [ ] Look at a 2s

[2020-08-10 18:51] lunascoop commented on #10785
Hi @RLHecht this page is ready for review. http://preview-prod.vfs.va.gov/preview?nodeId=6859.

I also made update to the current rates page per our discussion in draft mode: preview-prod.vfs.va.gov/preview?nodeId=589

[2020-08-10 18:55] annaswims commented on #10524
ok, here's what I think is happening.  A veteran logs in and we can find them in MVI with either their EDIPI or ICN.  But, they don't have a BIRLS id or Participant id.  So we call `mvi_add_person` but the data from the identity provider doesn't match the data in MVI, so  MVI responds with the status `AE`, (which we're calling `invalid_request`.

We're only calling `mvi_add_person` for veterans wi

[2020-08-10 18:58] johnpaulashenfelter commented on #12309
Created vfs-ebenefits team

[2020-08-10 18:59] jenniferlee-dsva opened #12310 "Build FE for Single Q/A, Multiple FAQs, and Step-by-step CMS templates"
## Build FE for Single Q/A, Multiple FAQs, and Step-by-step CMS templates.

This work is dependent on [ticket #12066](https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/12066) being completed first.

Purpose - As the CMS LC content templates are being built out, we want to test that the FE mapping is working and be able to preview the t

[2020-08-10 19:02] erikphansen commented on #11269
I'm closing this one. I couldn't find any other glaring issues.

[2020-08-10 19:02] #11269 closed

[2020-08-10 19:07] #10121 closed

[2020-08-10 19:07] pjhill commented on #11938
Nice -- thanks everyone!

[2020-08-10 19:08] mdewey commented on #11514
Research findings for VeText: https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/health-care/questionnaire/discovery/engineering#vetext-integration

[2020-08-10 19:14] #11872 closed

[2020-08-10 19:16] #11237 closed

[2020-08-10 19:17] #11793 closed

[2020-08-10 19:18] #11792 closed

[2020-08-10 19:22] mnorthuis commented on #11284
@amyknox Looks like that PDF is not planned to move, should remain exactly where it is for now.  Let me know if you have any concerns about that.

[2020-08-10 19:25] RLHecht commented on #12246
@bethpottsVADEPO I don't know the background on this but for the sentence "You can talk to the male or female coordinator" is there only one of each at a regional office or there are many coordinators? If it's many, we should change it to "You can talk to **a** male or female coordinator."

[2020-08-10 19:26] annaswims commented on #11812
staging test users linked in https://github.com/department-of-veterans-affairs/va.gov-team/issues/11892

[2020-08-10 19:29] leahkeeler commented on #11222
Here is the feedback from the DMC SMEs

Under “What types of debt can I check with this tool?”
Can we include the Burial, Voc Rehab debts?
The home loan debt can be tricky. We are talking internally about this.

Under “Who can I call for help with my debt questions?”
“Paying a debt or completing a Financial Status Report” does not adequately cover the reasons why they should contact DMC
Why are th

[2020-08-10 19:30] kevinmirc opened #12311 "Filling our the 10-10CG when auth'd, will say progress is saved but it's not."

[2020-08-10 19:41] mnorthuis commented on #12307
Follow up to the above "Consider" feedback - the link is used across all the education applications, so we will review this separately outside of this work effort and create an issue to address any changes across the forms needed.

Follow up to the question on the "Finish application later" link - I am deferring this question to the team that is working on the application wizards - as the need may

[2020-08-10 19:45] dmccurdybah commented on #12214
PR: https://github.com/department-of-veterans-affairs/vets-website/pull/13798

[2020-08-10 19:47] Clark-W-Griswold commented on #11594
When submission status is equal to the below cases, we show a submit button:
`false`
`submitPending - button is disabled`
`applicationSubmitted`
`clientError`
`throttledError`
`validationError`

And the catch all case when it is NOT production will have a submit button.

[2020-08-10 19:53] mchelen-gov commented on #11840
Probably the first question here is whether the doc site https://department-of-veterans-affairs.github.io/veteran-facing-services-tools/ is even *supposed* to contain anything from `va.gov-team`?

[2020-08-10 19:55] desireeturner commented on #12084
The usability issue that BAH brought up on the call that @emilywaggoner is going to follow up on with the front end tools team is #12185

[2020-08-10 19:55] Samara-Strauss opened #12313 "[Analytics] Direct deposit dashboard: Change the name of the successful submission field"
## Background

[Direct deposit dashboard](https://analytics.google.com/analytics/web/?authuser=0#/dashboard/T7daIpzoRw2LOg1BVHJ0Dw/a50123418w177519031p176188361/)

We just learned that the "Form Submits for Direct Deposit Information [Total Events]" event field on the direct deposit dashboard reflects forms that were submitted and successfully saved, not just attempted submissions.

![Screen Shot

[2020-08-10 19:57] Samara-Strauss commented on #12313
cc/ @mshea0606 for awareness

[2020-08-10 20:02] f1337 opened #12314 "Add Form526ConfirmationEmailJob monitoring to the Job Queue Dashboard in Grafana"

[2020-08-10 20:06] jenstrickland opened #12315 "CMS sitewide 508-defect-2 [SEMANTIC MARKUP]: Heading levels SHOULD only increase by one"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

[code]
Already logged: https://github.com/department-of-veterans-affairs/va.gov-team/issues/7708

**Feedback framework**
- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider**

[2020-08-10 20:10] mchelen-gov opened #12316 "Clarify onboarding docs and va.gov-team access"
### What is your documentation request, question, comment, or issue?
When a new user is starting work on VSP, they can follow these onboarding docs: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/working-with-vsp/orientation/Welcome%20to%20VSP.md

There is another document that explains how to get access to the tools needed: https://github.com/department-of-vete

[2020-08-10 20:12] leahkeeler opened #12317 "Analytics Implementation and QA Support for EDU how to apply wizards"
# Google Analytics Implementation or QA Request

## What this form is for

<details>
<summary>More Information</summary>
<div>
    <br>
<p>Use this template to request Google Tag Manager and Google Analytics implementation or QA for your product. Please fill out all brackets.</p>

For more information, please check out the [Google Tag Manager resources](https://github.com/department-of-veterans-af

[2020-08-10 20:19] batemapf commented on #12240
- Is / how is GLA site team interacting with CoVPN?
- What happens when people register both with CoVPN and VA?

**CoVPN**: just CoVPN studies at VA
**VA**: All studies at VA, including CoVPN studies
**Both**: All studies, by all sites, probably with some overlap

[2020-08-10 20:20] jenstrickland opened #12318 "508-defect-2 [SEMANTIC MARKUP]: Page must contain a level-one heading"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

**Feedback framework**
- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

Page **must** contain a level-one heading. Please r

[2020-08-10 20:20] andaleliz commented on #8896
@johnhashva Is it okay I remove myself as an assignee on this since there is nothing actionable for me to do?  Also, I'm thinking the product outline should be migrated to [the product folder,](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/search) from this issue, so that it is easily accessible/findable once this epic is closed.

[2020-08-10 20:28] jenstrickland commented on #12315
Apologies, got the urls for products mixed up trying to access the debt letters product.

[2020-08-10 20:28] #12315 closed

[2020-08-10 20:28] jenstrickland commented on #12318
Apologies, got the urls for products mixed up trying to access the debt letters product.

[2020-08-10 20:28] #12318 closed

[2020-08-10 20:29] mdewey commented on #10488
[early tech details](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/health-care/questionnaire/discovery/engineering#analytics-investigation)

[2020-08-10 20:36] luke-gcio opened #12319 "[Development] HLR: Update to HLR Schema Based on Ed's Changes"
`ratingIssueId`, in the HLR Create payload, is now `ratingIssueReferenceId` [1]

`ratingDecisionIssueId`, in the HLR Create payload, is now `ratingDecisionReferenceId` [1]

all JSON:API datatypes (type field) are now lowercase camelCase: [2]
  `appeals_api_higher_level_review_validation` -> `higherLevelReviewValidation`
  `appeals_api_higher_level_review` -> `higherLevelReview`
  `HigherLevelRevie

[2020-08-10 20:37] luke-gcio commented on #10711
Closed as duplicate of the Schema update ticket #11094.

[2020-08-10 20:37] #10711 closed

[2020-08-10 20:39] rebeccawalsh commented on #11782
https://preview.uxpin.com/679eca76d6ef48962a601d04c869bc7a5f70462e#/pages/131048672/simulate/sitemap?mode=i

[2020-08-10 20:44] #11955 closed

[2020-08-10 20:45] jonwehausen commented on #12317
Thanks @leahkeeler , confirming receipt!

[2020-08-10 20:45] #11948 closed

[2020-08-10 20:45] erikphansen commented on #11910
This'll be fixed with [this PR](https://github.com/department-of-veterans-affairs/vets-website/pull/13795)

[2020-08-10 20:45] erikphansen commented on #11909
This'll be fixed with [this PR](https://github.com/department-of-veterans-affairs/vets-website/pull/13795)

[2020-08-10 20:46] #11946 closed

[2020-08-10 20:49] leahkeeler commented on #12317
Thank-you @jonwehausen - This is kind of a strange one LMK if you have any questions, I can clear them up in a 5 minute convo if needed 👍

[2020-08-10 20:53] delli-gatti-michael commented on #12200
@department-of-veterans-affairs/uxbah This is now on Staging and ready for review

[2020-08-10 20:54] MickinSahni opened #12320 "Make repeated VA.gov tasks more efficient"
## Product Outline
[TBcreated](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/product-management/product-outline-template.md)

## High Level User Story/ies
As a VFS team, we need site components created so we can release products on VA.gov.
As the PW team, we need to ensure we're _unnecessary_ middle-persons.
As the PW team, we need to ensure quality of unauthen

[2020-08-10 20:54] delli-gatti-michael commented on #12203
@department-of-veterans-affairs/uxbah This is now on Staging and ready for review

[2020-08-10 20:55] delli-gatti-michael commented on #12204
@department-of-veterans-affairs/uxbah This is now on Staging and ready for review

[2020-08-10 20:57] delli-gatti-michael commented on #11809
Tested by TestRail test Case:
https://dsvavsp.testrail.io/index.php?/tests/view/10240&group_by=cases:section_id&group_order=asc&group_id=51

[2020-08-10 20:57] delli-gatti-michael commented on #11876
Tested by Testrail test case:
https://dsvavsp.testrail.io/index.php?/tests/view/10260

[2020-08-10 20:57] luke-gcio commented on #7197
Now that @edmangimelli is on the  team he wants to chat to Robin about the approach.

[2020-08-10 21:00] pjhill commented on #12084
QA Feedback:

1. Several defects were discussed during the course of the staging review meeting, but I don't see any link between the test executions in TestRail and the creation of defects in GitHub. Your [Summary Defects](https://dsvavsp.testrail.io/index.php?/reports/view/126) report shows no defects. In the future, when you create a bug report please populate the defect field with the relevant

[2020-08-10 21:01] 1Copenut opened #12321 "Staging Accessibility Review: STEM Standalone Form 22-10203"
## Description
This issue will be the epic for accessibility findings related to the [STEM Standalone Form staging review](https://github.com/department-of-veterans-affairs/va.gov-team/issues/12084).

## Definition of Done
- [ ] All `508-defect-1` issues are closed prior to launch
- [ ] All other defect level 2 and 3 issues are closed post-launch to be fully Section 508 compliant
- [ ] Defect leve

[2020-08-10 21:05] ricetj opened #12322 "Update Grafana Version 7"
## Description
The Identity team and BE tools team would like to utilize some features in Grafana 7 (latest). This will be a major upgrade from 6 to 7 and it looks like there are going to be some issues with w/ backend plugins & signing.

## Background/context/resources
Both Bennie and Keifer are willing to support this rollout.

- Ref: https://dsva.slack.com/archives/CJYRZK2HH/p1597078047032300
-

[2020-08-10 21:12] ncksllvn commented on #10853
@MickinSahni I don't know if I'll finish but I'd like to grab this one into this current sprint unless there is something more pressing

[2020-08-10 21:16] 1Copenut opened #12323 "508-defect-1 ❗ Launchblocker [COGNITION] Sitewide: Multi-step forms MUST announce page headings to screen readers when users press Back or Continue"
# [508-defect-1 :exclamation: Launchblocker](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-1)

**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

Today I discovered a

[2020-08-10 21:19] billfienberg opened #12324 "Create new trigger to deploy drupal content to content bucket"
Before we can ensure the contents of the new content bucket are included in the original bucket, we need to add a trigger to deploy drupal content to the content bucket.

[2020-08-10 21:20] billfienberg commented on #12324
Closing: Duplicate of https://github.com/department-of-veterans-affairs/va.gov-team/issues/7971

[2020-08-10 21:20] #12324 closed

[2020-08-10 21:22] 1Copenut commented on #12321
@desireeturner #12321 has been identified as a forms library item. the VSP Tools FE team is aware and making it a priority item. I've added it here because it affects your form, and wanted to maintain visibility.

[2020-08-10 21:24] ncksllvn commented on #10853
@DanielleSoCompany Currently the message for verifying your identity is shared across several call-to-action widgets like this one. This means the best and easiest way to update the message is to do it site-widget. Currently, the message reads -

Title: `Please verify your identity to {name of service such as "change your address"}`
Body: `We take your privacy seriously, and we’re committed to pro

[2020-08-10 21:32] 1Copenut opened #12325 "[AXE-CORE] STEM Standalone - ID attribute value MUST be unique"
# [508-defect-1 :exclamation: Launchblocker](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-1)

**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

The [axe-core browser

[2020-08-10 21:33] MickinSahni opened #12326 "Problem Brief - Optimize VA.gov component creation"
## Issue Description
Create problem documentation of component creation process

---
## Tasks
- [ ] Spin up doc
- [ ] Publish in markdown
- [ ] Review with engineers, content folks, and POs

## Acceptance Criteria
- Shared sense of the problem among members of PW

[2020-08-10 21:42] MickinSahni opened #12327 "VA.gov Product Dev Wardley Map"
## Issue Description
_What details are necessary for understanding the specific work or request tracked by this issue?_

---
## Tasks
- [ ] Inventory of inputs to VA.gov product development process
- [ ] Generate wardley map
- [ ] Plan for recs

## Acceptance Criteria
- We understand how individual components of the VA.gov product dev process are relatively optimized

[2020-08-10 21:51] ncksllvn commented on #10853
Also, just noticed that the direct deposit CTA widget has the button text "Go to your profile" rather than "Go to your VA.gov profile". We may want to decide on one to be consistent.

[2020-08-10 22:00] Samara-Strauss commented on #10162
@tressaellen @callen2563 @sshein @mshea0606

[This is my ideal plan for V1 of the logged-in homepage](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/logged-in-homepage/2.0-redesign/product/v1-plan.md). Take a look, and let me know your questions.

What I think we should do from here:

- Review this list. We can review together if you hav

[2020-08-10 22:01] 1Copenut opened #12328 "[COGNITION]: STEM Standalone - Information MUST NOT interrupt the normal reading flow unless it is critical or time sensitive"
# [508-defect-1 :exclamation: Launchblocker](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-1)

**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

On Step 5: Personal I

[2020-08-10 22:02] peggygannon commented on #12288
Hello, @amyknox @desireeturner Please see below for VSP content feedback to the STEM form.

*Feedback key

Must = Required
Should = Strongly encouraged/content best practice
Consider = Suggestion or possible enhancement

------

VSP content review
Breadcrumb: confirming that breadcrumb is correct? doesn't match what is in the I/A ticket

*Consider* the below suggestions to make content more clear:

[2020-08-10 22:09] jenniferlee-dsva opened #12329 "Review LC articles list for LC card sort"
## Review LC articles list for LC card sort

**Spreadsheet can be viewed, edited, and commented on here:**
https://dvagov-my.sharepoint.com/:x:/g/personal/jennifer_lee27_va_gov/EeZlOnNcqcNHldoCwec_vo4BvZHDA0qRPYdkMyFx5wa0yQ?e=SIwxqz

**AC:**
- [x] Please review list of articles and topic and audience labels.
- [x] Provide comments and feedback.

**Purpose:**
We need to create a list of articles fo

[2020-08-10 22:12] jenniferlee-dsva commented on #12329
This task is part of work to get read for the [card sort in ticket #10982](https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/10982)

[2020-08-10 22:19] jenniferlee-dsva commented on #12329
fysa @oksana-c vis-a-vis audience and topic CMS taxonomy

[2020-08-10 22:23] jenniferlee-dsva commented on #10982
Hi @andaleliz CC @DanielleThierryUSDSVA - can you please reference the other card sort ticket you created? I uploaded my comments for you there along with the list of audience tags. (In a Word doc)

@DanielleThierryUSDSVA - please refer to the list of audiences on that Word doc. You can also use this list here - which is the same list but in the context of actual wip article titles for the card so

[2020-08-10 22:30] jenniferlee-dsva commented on #11012
Hi @MickinSahni - I don't think this should be closed yet bc I have not seen Liz incorporate feedback into the research plan and review with the team yet.

Will reopen for now. @andaleliz - I know you're focused on LC prototype usability research synthesis, so let's sync on this and other card sort related tickets when you're ready.

[2020-08-10 22:31] peggygannon commented on #12153
Hi, @rtwell and @lenaecb here's the latest content for the EC mental health alert.. this was posted in Slack, but got lost in a flurry of messages!

{begin alert}
**If you need a mental health appointment today**
Please call your nearest VA medical center or Vet center, and ask for a "same-day mental health appointment."
[Find a VA location](/find-locations)

**If your health concern isn't listed

[2020-08-10 22:32] ncksllvn commented on #10853
Opened this PR, https://github.com/department-of-veterans-affairs/vets-website/pull/13804, which includes the following changes -

1. Implement the Change Address widget, including the routing based on the Flipper toggle
1. Updates the text for the Verify state (site-wide)
1. Updates the text for the Sign-In state (site-wide; just adds the word "now" at the end)

LMK if that all sounds good.

[2020-08-10 22:35] jenniferlee-dsva commented on #11012
@andaleliz - made a few corrections to the og ticket. Lauren's our contact on research, not Andrea; and because this is just recruiting via Perigean, I believe we supply them with the email text (w/ the link to the card sort in optimal) that they send out to Veterans. (Not 100 on details of the email part, so Lauren can advise when you get closer to that point.)

[2020-08-10 22:40] ericbuckley opened #12330 "SPIKE: investigate auto login loops"
There appear to be a few cases where users are caught in auto login loops, likely because of some JS race conditions, but further work should be done to see how widespread this is.  Could we create a script that finds instances of 2 or more nginx `GET /v1/sessions/custom/new` requests from the same IP address within X seconds?

Example:
On [8/7 between 10:20 and 10:30 am UTC we noticed this patter

[2020-08-10 22:43] mnorthuis commented on #10184
I don't believe we reference IDES in disability currently, what scenario would require reference to IDES?   Would that reference go away once BDD is rolled out?

[2020-08-10 22:48] mnorthuis commented on #12278
@erikphansen do you have what you need for this issue?

[2020-08-10 22:50] jchasia-adhoc commented on #11897
@gmaciolek The draft is ready for review. [https://us19.admin.mailchimp.com/campaigns/wizard/neapolitan?id=4512268#](https://us19.admin.mailchimp.com/campaigns/wizard/neapolitan?id=4512268#)
Open Newsletter: August 2020 and click on “Edit Design” to see the draft newsletter.

PM for each topic:
- Google Analytics Content Grouping for Benefit Hubs: Joanne Esteban
- External Service Performance Moni

[2020-08-10 23:27] rianfowler commented on #223
marking as complete @U-DON @meganhkelley

[2020-08-10 23:27] #223 closed

[2020-08-10 23:34] jsev-io commented on #9516
@mdewey This ticket has been open for a bit, can you confirm you still need AWS access?

[2020-08-10 23:39] patrickvinograd commented on #7092
One additional PR needed but otherwise this is working in staging.

[2020-08-10 23:42] andaleliz opened #12331 "[Discovery] - Create research plan for VA.gov sitewide search usability study"
As a UX Designer, I need to create a research plan so I can document the research's purpose, goals, hypothesis, and usability testing recruitment needs.

[Research plan folder](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/search/research)

[Usability study research plan](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/search/

[2020-08-10 23:42] andaleliz commented on #12331
Plan in progress https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/search/research/site-search-research-plan.md

[2020-08-10 23:44] andaleliz opened #12332 "[Discovery] - Conduct user sessions for VA.gov sitewide search usability study"
Conduct user sessions for VA.gov sitewide search usability study

**Acceptance Criteria**

- [x] Sessions completed

[2020-08-10 23:46] andaleliz opened #12333 "[Discovery] - Create DRAFT conversation guide for VA.gov sitewide search usability study"
## Description

Complete the conversation guide for our research study
[Link to Conversation Guide draft](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/on-site-search/research/user-research/conversation-guide.md)

## Background/Context/Resources

- [Conversation guide ideas doc](https://docs.google.com/document/d/1pbeYiiMViLBTm79Aw7pi9kDDoduM9sF6Tc07iCw_KIQ/edi

[2020-08-10 23:48] andaleliz opened #12334 "[Discovery] - Recruit notetakers + schedule debrief sessions for VA.gov sitewide search usability study"
This issue covers supporting tasks needed to get set up for our research study

**Tasks**
- [x]  Recruit notetakers (option perigean, SD members)
- [x] create a spreadsheet of top of mind questions
- [x] Share conversation guide with notetakers and Search and discovery team members (.md file in gh to capture notes)
- [x] Have notetakers added to research session calendar invite
- [x] Schedule dail

[2020-08-10 23:49] rianfowler commented on #10807
- The header injection doesn't include foresee. Foresee is already available on at least one of the Teamsite pages via:
`<script type="text/javascript" src="/va_files/foresee/foresee-trigger.js"></script>`
  - To see this script navigate to www.cem.va.gov with js turned off on your browser
- I've never validated that the foresee surveys work with the header injection. Is there a way we can force t

[2020-08-10 23:50] andaleliz opened #12335 "[Discovery] - Topline summary for VA.gov sitewide search usability study"
**Tasks**
Use [this template](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/design/topline-summary-template.md) to create a topline summary for research findings immediately following last session.

**Acceptance criteria**

- [x] Create summary (published in research folder)
 - [x] Share with team (John, Denise, Sam, Megan)
 - [x] Capture team feedback

[2020-08-10 23:53] andaleliz opened #12336 "[Discovery] - Synthesize data and provide recommendations"
Produce synthesis report for VA.gov sitewide search usability study

**Tasks**
 - [x] Synthesis draft
 - [x]  Report shared with team and stakeholders, gather recommendations
 - [x] Synthesis feedback incorporated
 - [x] Final Synthesis share out
 - [ ] Study added to research history markdown page

[2020-08-11 00:01] andaleliz commented on #11638
Meeting today with myself, @johnhashva, @sshein and @MickinSahni. Determined research scope will be to VA.gov site search (rather than broader Veteran search behavior) as we feel we can make a more meaningful impact on Veteran UX with a narrower focus.

This research is going to be on hold per team priorities until other UX efforts are completed.

Updated description + created appropriate tickets

[2020-08-11 00:12] gunsch commented on #8736
cc @alexpappasoddball for the backlog

[2020-08-11 00:23] peggygannon opened #12337 "Facility visitation policy - COVID-19 updates"
## User story

Veterans need to know about changes in VA facility visitation policy during COVID-19.

## Tasks
- [x] Update visitation FAQ content (Peggy)
- [x] Revised per SME feedback (Peggy)
- [x] Send to JTF (Lauren)

## Issue Description
Once FAQ is approved, we need to:
- [ ]  Update the FAQ in drupal
- [ ] Update the chatbot (GH files: https://github.com/department-of-veterans-affairs/covid

[2020-08-11 00:32] bkjohnson commented on #12129
The `content-build` repo has far fewer folders and files than what is in `vets-website`, but anytime a file gets updated in `vets-website` that is in the `content-build` repo we should make sure that the repos don't get out of sync.

### Steps to update the `content-build` repo

1. Look at the history for the same folder in both repos, i.e. `src/site`
1. If `vets-website` is ahead by a few commits

[2020-08-11 00:47] MickinSahni commented on #11487
Platform approved

[2020-08-11 00:47] #11487 closed

[2020-08-11 00:53] MickinSahni commented on #10853
thanks @ncksllvn. keeping it with next sprint given response time/pr review etc.

[2020-08-11 01:00] tlei123 commented on #11335
@MickinSahni @jenniferlee-dsva , I've just started stubbing-out [TestRail test-cases](https://dsvavsp.testrail.io/index.php?/suites/view/9&group_by=cases:section_id&group_order=asc&group_id=187).

There're a few questions though before I'd know when\* they can all be fully fleshed-out:

1. Re. [Use-Case C](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/find-va-f

[2020-08-11 01:45] erikphansen commented on #12278
@mnorthuis I believe so. Thanks!

[2020-08-11 02:02] MickinSahni commented on #9538
Hmm that sucks. Wonder if we move on and ask the Analytics team to give us a table that let's us calculate it ourselves on the dashboard we're asking them to create.

[2020-08-11 02:58] 1Copenut opened #12338 "[KEYBOARD]: STEM Standalone - Focus MUST be returned to the Edit button when Update page is pressed or clicked"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

Some of the Update page buttons do not return foc

[2020-08-11 03:08] 1Copenut opened #12339 "508-defect-2 [COGNITION]: STEM Standalone - Heading levels SHOULD only increase by one"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

The introduction and confirmation pages skip from

[2020-08-11 03:16] 1Copenut opened #12340 "[COGNITION]: STEM Standalone - Home phone number SHOULD be formatted like mobile number on the review form page"
# [508-defect-3](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-3)

**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

The home phone number and the mobile phone number

[2020-08-11 03:29] 1Copenut opened #12341 "[COGNITION]: STEM Standalone - CONSIDER revising the optional / required pattern for contacting a user in step 5"
# [508-defect-3](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-3)

**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

Users can select which way they'd like to be cont

[2020-08-11 03:32] 1Copenut opened #12342 "[COGNTION]: STEM Standalone - CONSIDER removing the opt-out direct deposit message when users have opted in"
# [508-defect-4](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-4)

**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

When users opt in to direct deposit, there is an

[2020-08-11 03:40] bethpottsVADEPO commented on #12246
@RLHecht I haven't heard back from the stakeholder. I may still get a mail about this tomorrow, but let's set it to publish on Tuesday. We can revise later if need be.

[2020-08-11 03:42] 1Copenut opened #12343 "508-defect-4 [IMPROVEMENT]: STEM Standalone - CONSIDER using a higher resolution image for the personal check in Step 5"
# [508-defect-4](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-4)

**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

The personal check image is a bit blurry on highe

[2020-08-11 03:59] 1Copenut opened #12344 "[TESTING]: STEM Standalone - All accordions SHOULD be opened and tested with axe in E2E suite"
**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

The accordions on the review page should be evaluated for automated accessibility, both opened and closed. This will give us better test coverage for accessibility.

## Point of Contact

**VFS Point of Contact:**

[2020-08-11 04:25] jsev-io commented on #12273
Kim Mueller has no AWS accounts in dsvagovcloud, or in dsvasupport.

[2020-08-11 12:20] ccruzgra commented on #12200
@delli-gatti-michael This checks out for UX!

[2020-08-11 12:21] ccruzgra commented on #12203
@delli-gatti-michael This checks out for UX!

[2020-08-11 12:22] ccruzgra commented on #12204
@delli-gatti-michael This checks out for UX!

[2020-08-11 12:26] rianfowler commented on #12323
Focusing the `h2` and moving the tabIndex doesn't resolve this issue. This old [post](https://stackoverflow.com/questions/9250847/advancing-voiceover-to-a-specified-element-in-mobile-safari) suggests forcing VO to focus an `h2` doesn't work on mobile safari.

Is there something else we can try like moving the aria attributes?

[2020-08-11 12:36] rianfowler commented on #11594
@Clark-W-Griswold what determines the submission status? is this a enum in the redux state or a status returned from the backend?

[2020-08-11 12:39] johnhashva commented on #9538
Good idea!  Let me get my ducks in a row for a research/analytics "spike" for Search, based on the Top Questions doc I've created.    I will schedule a walk-through of that doc with you first so we can weave your thinking/value framework components into the overall ask.

[2020-08-11 12:59] dneel-bah commented on #12307
Must and should are covered in: #12156.  Assigning to @amyknox for Consider / Questions.

[2020-08-11 13:12] #12200 closed

[2020-08-11 13:12] #12203 closed

[2020-08-11 13:12] #12204 closed

[2020-08-11 13:13] kevinstachura commented on #11803
We have begun some technical discovery around the CST. We have a ticket to see claim types/average number of claims per user within the tool that was assigned to the BE developers.

[2020-08-11 13:21] #11963 closed

[2020-08-11 13:23] kevinstachura commented on #11188
A few things about this ticket:

- Public Websites is going to be [condensing the information on some disability claim pages](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/information-architecture/ia-reviews/bam-benefits-at-discharge.md) to 'live' on the /how-to-file-claim/ page. Not sure what that looks like exactly, but the assumption is that they will be add

[2020-08-11 13:30] johnhashva commented on #10772
As a postscript, adding this exchange with Google re: our COVID 19 Rich Results (FAQ) deployment and validation:

**John's 8/6 post to Google COVID-19 Search Group:**

We have re-formatted the VA COVID-19 FAQ page for rich results, confirmed that it passed validation via the RR tool -- and it is now live here: https://www.va.gov/coronavirus-veteran-frequently-asked-questions/.

However:

- When we

[2020-08-11 13:42] desireeturner commented on #12215
@WillMcCormack can you coordinate w Analytics to get this updated? Thanks!

[2020-08-11 13:51] delli-gatti-michael opened #12345 "Duplicate Feedback button"
There are currently 2 feedback buttons on va.gov. need to determine why this is happening and fix it if necessary.

![Screen Shot 2020-08-04 at 3.41.30 PM.png](https://images.zenhubusercontent.com/5c07f000391a6f6357adc430/89d59c41-18c0-4c9d-8668-ad86669d8384)

[2020-08-11 13:56] Jeff-Hayter commented on #12161
@tskinn Approved for AWS access.

[2020-08-11 14:20] ncksllvn commented on #10772
@johnhashva whoa, based on that chart, it seems like the schema.org fixes we made are working?

[2020-08-11 14:22] delli-gatti-michael commented on #12216
PR:
https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/vets-website/13797

[2020-08-11 14:24] lenaecb commented on #8020
Great, thanks @DanielleThierryUSDSVA! Sounds good.

CC: @peggygannon - I verified with the Community Care team, and they also confirmed we should use this link (https://www.va.gov/COMMUNITYCARE/programs/veterans/General_Care.asp) that Danielle recommended.

[2020-08-11 14:28] #12104 closed

[2020-08-11 14:30] desireeturner commented on #12339
@amyknox @ccruzgra @JenLJ This looks like a defect that might need some UX input since it is specific to headers. Can you all take a look?

[2020-08-11 14:32] erikphansen opened #12346 "Profile mobile sub nav sits above main site nav"
On mobile, the Profile sub nav sits on a layer about the site's main nav. It should be on an z-index below the main nav.

![menu-layers.gif](https://images.zenhubusercontent.com/5b4d0309a8d8be5bda39303e/18187ee5-2633-4bf9-a239-9393c2b0cf2c)

I don't know off the top of my head how the z-indexes are managed.

[2020-08-11 14:33] #10120 closed

[2020-08-11 14:33] #10123 closed

[2020-08-11 14:33] erikphansen commented on #10255
Based on this thread and yesterday's standup it sounds like this one will be closed for now.

[2020-08-11 14:33] #10255 closed

[2020-08-11 14:34] desireeturner commented on #12341
@amyknox @ccruzgra @JenLJ This bug needs some UX input on implementation. Can you take a look? Thanks!

[2020-08-11 14:34] desireeturner commented on #12342
@amyknox @ccruzgra @JenLJ This bug needs some UX input on implementation. Can you take a look? Thanks!

[2020-08-11 14:34] sonntag-adam commented on #11843
@department-of-veterans-affairs/uxbah The fix for this is now on Staging

[2020-08-11 14:35] sonntag-adam commented on #12201
@department-of-veterans-affairs/uxbah The fix for this is now on Staging

[2020-08-11 14:36] delli-gatti-michael commented on #12216
Local testing complete

![Screen Shot 2020-08-11 at 10.35.43 AM.png](https://images.zenhubusercontent.com/5c07f000391a6f6357adc430/af326dd3-1d3b-4557-b7d0-7dccd0baf15f)

[2020-08-11 14:36] sonntag-adam commented on #12202
@department-of-veterans-affairs/uxbah The fix for this is now on Staging

[2020-08-11 14:39] #11789 closed

[2020-08-11 14:39] sonntag-adam commented on #12224
@department-of-veterans-affairs/uxbah The fix for this is now on Staging

[2020-08-11 14:39] #10599 closed

[2020-08-11 14:46] sonntag-adam commented on #11706
In staging. Closing story.

[2020-08-11 14:46] #11706 closed

[2020-08-11 14:49] RLHecht opened #12347 "Get SME approval and publish 2018 and 2019 DIC Parents and Spouse and Children rates pages"
## Issue Description
The cloned historic DIC Parent and DIC Spouse and Children rates pages for 2018 and 2019 need to be approved by SMEs and published in order to retire the legacy historic rates pages. The 2020 DIC rates pages also need to have the historic rates pages added as links to the bottom of their pages.

## Tasks
- [x] Send 2018 and 2019 DIC Parents and Spouse and Children rates pages

[2020-08-11 14:50] RLHecht commented on #11171
Closing this ticket. I captured the DIC rates pages work that still needs to be completed in a new ticket #12347 FYSA @MickinSahni @bethpottsVADEPO

[2020-08-11 14:50] sonntag-adam commented on #12224
https://dsvavsp.testrail.io/index.php?/tests/view/10535&group_by=cases:section_id&group_order=asc&group_id=51

[2020-08-11 14:50] johnhashva commented on #10772
Yes, but as noted, my gut analysis of the pages/links that are driving the impressions and clicks are not related to the COVID-19 FAQ.   On second thought, maybe the issue here is that so many of the page links in the FAQ link out to cdc, www.myhealth.va.gov, veteran.mobile.va.gov -- basically NOT va.gov domain -- meaning we are not able to track all those impressions/clicks.

[2020-08-11 14:52] RLHecht commented on #11656
This has been validated on the live site. Closing ticket. FYSA @MickinSahni

[2020-08-11 14:52] #11656 closed

[2020-08-11 14:55] #11987 closed

[2020-08-11 14:55] bethpottsVADEPO commented on #12066
@jenniferlee-dsva I think this could be a content team member task this sprint. Where are the templates/who on the CMS team should Randi work with on how to get this done?

[2020-08-11 14:57] dmccurdybah commented on #11766
This is 3 PRs because of the way we're required to break this up, but the final PR branch `post911-csv-cleanup` is the one that should be tested.

PRs:

- https://github.com/department-of-veterans-affairs/gibct-data-service/pull/699
- https://github.com/department-of-veterans-affairs/gibct-data-service/pull/700
- https://github.com/department-of-veterans-affairs/gibct-data-service/pull/701

[2020-08-11 15:00] #11690 closed

[2020-08-11 15:00] #11588 closed

[2020-08-11 15:00] mdewey commented on #11514
Laurence (@massrb )

I have a couple of questions for you

[code]

[2020-08-11 15:01] #10418 closed

[2020-08-11 15:03] bethpottsVADEPO commented on #11171
Reopening to ask @RLHecht to switch the order of 2018 and 2019, so that 2019 comes first for all 4 disability rate types.
<img width="279" alt="Screen Shot 2020-08-11 at 7 59 26 AM" src="https://user-images.githubusercontent.com/66026798/89913847-0cdd3100-dba9-11ea-8c0d-ab108b27ab45.png">

[2020-08-11 15:08] bethpottsVADEPO commented on #11171
After this left nav issue is fixed, let's close this ticket and open a separate on for the remaining two SME approvals for DIC pages, which need to go to the pension SME (not the disability SME). @RLHecht could you create that ticket so we can close this one? @MickinSahni FYSA

[2020-08-11 15:20] anitadewitt-va commented on #12218
I am having issues connecting to the socks proxy, is there anyway you can let me know which of the above ssh keys is being used by the platform?

[2020-08-11 15:26] rileyorr opened #12348 "[Design] Debt Letters UAT"
## Issue Description
_In order to validate that the data we're receiving from the DMC matches what we're expecting on the frontend, we need to conduct UAT _

---
## Tasks
- [x] _Moderate UAT sessions from August 14th - 19th_
- [x] _Complete [the UAT spreadsheet](https://docs.google.com/spreadsheets/d/1lqrm8cMcwwNsaA2WZSyVR2pHkP2J_w8JaMnxM5oN7do/edit#gid=0) to keep track of tested use cases_

## Ac

[2020-08-11 15:27] amyknox commented on #10780
Updated Privacy policy link with new & improved & final STEM Application URL. Ideally we'll add an anchor to this link so users land directly at the Privacy Policy which is at the bottom of the page.

Link for "Privacy Policy" | https://www.va.gov/education/other-benefits/rogers-STEM-scholarship/?utm_source=confirmation_email&utm_medium=email&utm_campaign=privacy-policy
-- | --

[2020-08-11 15:28] Clark-W-Griswold commented on #11594
These are the values as used on the frontend. Those values are mapped as follows:

[code]

If the form submission to the api returns an error:
[code]

[2020-08-11 15:28] ncksllvn commented on #10489
https://dsva.slack.com/archives/C011K1VSTC3/p1592853360008800

[2020-08-11 15:28] ndsprinkle commented on #11812
I was able to successfully submit a BDD claim, so we are at least making past the schema validation now, but will need to see how things go upstream. This was using user 229, so I will also need to see how things go with the new staging users.

[2020-08-11 15:29] theodur commented on #12072
Merged in https://github.com/department-of-veterans-affairs/vets-website/pull/13772.

[2020-08-11 15:29] #12072 closed

[2020-08-11 15:32] hughes-dustin commented on #12156
PR: https://github.com/department-of-veterans-affairs/vets-website/pull/13814
Branch: bah-12156

Note:
 You will need to run `yarn build` in order to see the changes

[2020-08-11 15:39] bethpottsVADEPO commented on #11807
@RLHecht  Thanks! I'll let @DanielleThierryUSDSVA  handle these good issues you're raising. There are still some details to nail down. Thanks so much for getting this done to help us stay on track with the short timeframe.

[2020-08-11 15:41] RLHecht commented on #11171
Just made these left nav fixes. Will validate later this afternoon.

[2020-08-11 15:41] bethpottsVADEPO commented on #12246
@RLHecht Re: your question above, yes, as we discussed, please do change "the" to "a"

[2020-08-11 15:43] erikphansen opened #12349 "Focus not managed correctly when Connected Apps section appears"
Focus should be set on the H2 of the Connected Apps section when it loads, but instead the focus is on the `body`.

[2020-08-11 15:44] mmiddaugh commented on #11121
Moving this back to Icebox. Our work in [#12131] should resolve this issue. We can ask Jennifer to validate it once that issue is complete.

[2020-08-11 15:44] amyknox commented on #12201
Checks out for me.

[2020-08-11 15:45] bethpottsVADEPO commented on #11171
Thanks, @RLHecht !! We'll survive the rates work, I know we will.

[2020-08-11 15:45] dmccurdybah commented on #12328
PR: https://github.com/department-of-veterans-affairs/vets-website/pull/13812

[2020-08-11 15:45] nickbloom commented on #10969
Sorry was out on PTO. I think I might have...is that a problem?

[2020-08-11 15:50] RLHecht commented on #11634
PR has been merged. Moving to validate and will close once on live site. FYSA @MickinSahni

[2020-08-11 15:51] bsmartin-ep opened #12350 "Account Security GA Dashboard for Profile 2.0"
# Google Analytics Implementation or QA Request

As discussed @bmcgrady-ep , we need to build some additional GA Dashboard for Profile 2.0

From [Analytics needs for Profile 2.0
](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/profile/Combine%20Profile%20and%20Account/analytics/Analytics%20needs%20for%20profile%202.0.md)

### Account sec

[2020-08-11 15:53] bsmartin-ep opened #12351 "Connected apps GA Dashboard for Profile 2.0"
# Google Analytics Implementation or QA Request

As discussed @bmcgrady-ep , we need to build some additional GA Dashboards for Profile 2.0

From [Analytics needs for Profile 2.0
](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/profile/Combine%20Profile%20and%20Account/analytics/Analytics%20needs%20for%20profile%202.0.md)

### Connected

[2020-08-11 15:58] ncksllvn commented on #11435
On a call with @johnhashva I decided to double check myself on whether search.gov supports tags and there is some really interesting information - https://search.gov/manual/filter-tags.html. This requires a feature known as [i14y](https://search.gov/developer/i14y.html) so that would be a new thing for us as well, but it does look promising. I think this is worth exploring but I believe the point

[2020-08-11 15:59] mpelzsherman commented on #11776
I did a quick check in prod, and the PPMS searches seem to be working the same as before AFAICT - with the usual slowness and pagination issues.

[2020-08-11 16:00] theodur opened #12352 "Update the isPublished function"
## Issue Description
The [isPublished](https://github.com/department-of-veterans-affairs/vets-website/blob/216bd758ce10604fb452df7b8a26b8d6a7078ac4/src/site/stages/build/process-cms-exports/transformers/helpers.js#L159) function needs to be updated to properly check if an entity is published. It turns out, the [correct way](https://github.com/department-of-veterans-affairs/vets-website/pull/13772#

[2020-08-11 16:04] CrystabelReiter opened #12353 "Design feedback - Staging Review Debt Letters MVP"
**Do:** Mandatory feedback
**Try:** Exploratory next step
**Consider:** Sharing ideas/alternate ways of thinking

Question: When we resized the window the right rail content on mobile disappeared. Is that an intended behavior?

**Do:**
- Please change the font of the body text in the expanded additional info component to source sans pro 16px. We use H5 (bitter bold 15px) inside the expanded additi

[2020-08-11 16:05] #8721 closed

[2020-08-11 16:07] ncksllvn commented on #10489
Per the Slack thread linked above, I implemented the typeahead using a `<datalist>` element per the accessibility recommendation. I think this is a great suggestion but it does conflict with the typeahead style that we're use to on the website - the typeahead UX becomes more native to the browser so there is little flexibility in terms of styling it. I haven't explored styling it, but we might be

[2020-08-11 16:15] MickinSahni commented on #11435
iirc i14y wasn't the recommended route which means it might be deprecated at some point in the future.

regardless, it will require a new index is created for us that we'd manually maintain via API.
i suppose we can just send the contents of our sitemap + any tags we might want.

i would like to understand the specific problem tags intends to solve.

[2020-08-11 16:21] ccruzgra opened #12354 "STEM: Wizard UI Updates"
Create a prototype of the Education How to Apply form routing wizard for the STEM Scholarship that integrates the latest requirements copy.

[2020-08-11 16:25] zurbergram commented on #12325
https://github.com/department-of-veterans-affairs/vets-website/pull/13817

[2020-08-11 16:29] mmiddaugh opened #12355 "[DISCOVERY] Vet Center Field"
## High Level User Story
As the Facilities Team, we need to understand the services provided at Vet Centers so we can build pages to display information about them that are meaningful to our users.

## Goals
- To build a foundation for understanding Vet Centers in preparation for future conversations with SMEs and research sessions with Veterans
- Begin to validate [assumptions](https://github.com

[2020-08-11 16:29] erikphansen commented on #12349
The complicating factor with this is that the loading spinner hijacks the focus when data is loading. When that loading spinner is removed from the DOM focus needs to be properly managed so it doesn't go back to the `body`

[2020-08-11 16:29] ccruzgra commented on #12354
Prototype for updates: https://bahdigital.invisionapp.com/share/KGIAEOQA39H

Also here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/education-careers/stem/stem-standalone-10203/design/prototypes.md

[2020-08-11 16:31] erikphansen commented on #11910
@jenstrickland this should be fixed in staging now. Please validate and close at your leisure.

[2020-08-11 16:31] erikphansen commented on #11909
@jenstrickland this should be fixed in staging now. Please validate and close at your leisure.

[2020-08-11 16:32] mmiddaugh opened #12356 "[DISCOVERY] Vet Center Process"
## High Level User Story
As the Facilities Team, we need to understand the services provided at Vet Centers so we can build pages to display information about them that are meaningful to our users.

## Goals
- To build a foundation for understanding Vet Centers in preparation for future conversations with SMEs and research sessions with Veterans
- Begin to validate [assumptions](https://github.com

[2020-08-11 16:41] ccruzgra commented on #11843
@sonntag-adam This checks out for UX. Awesome to see the form there now!

[2020-08-11 16:41] bethpottsVADEPO opened #12357 "Create remaining parent DIC rates spreadsheet for CSV upload"
## Issue Description
To maximize efficiency and accuracy, we're asking stakeholders to send us a spreadsheet with the new rates, when they change. On our end, we take the info from each tab and upload the numbers into drupal. There is already one created and stored by Selina for when it's needed, for this page: https://www.va.gov/disability/survivor-dic-rates/

**For awareness**, the SME for this

[2020-08-11 16:43] ccruzgra commented on #12201
This checks out here, too @sonntag-adam.

[2020-08-11 16:44] sonntag-adam commented on #11843
Closing bug

[2020-08-11 16:45] #11843 closed

[2020-08-11 16:45] sonntag-adam commented on #12201
Closing bug

[2020-08-11 16:45] #12201 closed

[2020-08-11 16:46] ccruzgra commented on #12202
@sonntag-adam Checks out for UX!

[2020-08-11 16:46] sonntag-adam commented on #12202
Closing bug.

[2020-08-11 16:46] desireeturner commented on #12340
@1Copenut As discussed, this issue appears to be form system-wide.

[2020-08-11 16:46] #12202 closed

[2020-08-11 16:46] WillMcCormack commented on #12345
Can you include the staging URL @delli-gatti-michael ?

[2020-08-11 16:46] jbalboni opened #12358 "Centralize local service mocking logic"
We have mocking logic in each of the functions in api/index.js. This can be hard to follow and it also causes some weirdness in our code coverage numbers.

One option for this is the msw library that was added to vets-website a while back. It could be a good replacement for our custom mocking solution used when running VAOS locally.

https://mswjs.io/

If this library does not work, we can come up

[2020-08-11 16:47] desireeturner commented on #12343
@1Copenut As discussed, this issue appears to be form system-wide.

[2020-08-11 16:50] peggygannon commented on #12255
@RLHecht this version above was approved by JTF today (with no changes!). this is ready to be updated in drupal and chatbot.

[2020-08-11 16:51] elder-joseph commented on #12186
Associated PR: https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/vets-website/13770

[2020-08-11 16:53] anitadewitt-va commented on #12218
I am having issues connecting to the socks proxy, is there anyway you can let me know which of the above ssh keys is being used by the platform?

[2020-08-11 16:54] dneel-bah opened #12359 "STEM: Add GA tracking to SCO email links"
As a developer, I need to update the URLS contained within the SCO email to contain GA trackers so that we understand if recipients are using the links.

## Assumptions:
1. This work is currently behind the feature flag implemented in #12467 (`stem_sco_email`)

## Acceptance Criteria
1. The "Programs approved for STEM Scholarship" link is: https://benefits.va.gov/gibill/docs/fgib/STEM_Program_List

[2020-08-11 16:58] sonntag-adam commented on #12186
![Screen Shot 2020-08-11 at 12.56.28 PM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/e5252092-3170-4d58-ba1f-50b2214483f6)
##
![Screen Shot 2020-08-11 at 12.56.35 PM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/103ea339-6c94-4a21-9572-1041ca382f96)

[2020-08-11 16:59] WillMcCormack commented on #12215
@joanneesteban can you take a look at this when you get back in the office next week? The only page that these surveys should appear is: https://staging.va.gov/gi-bill-comparison-tool

[2020-08-11 16:59] WillMcCormack commented on #12345
@joanneesteban can you take a look at this when you get back in the office next week? The only page that these surveys should appear is: https://staging.va.gov/gi-bill-comparison-tool

[2020-08-11 17:01] sonntag-adam commented on #12186
https://dsvavsp.testrail.io/index.php?/tests/view/10617&group_by=cases:section_id&group_order=asc&group_id=46

[2020-08-11 17:04] jenstrickland commented on #11909
Validated! 🎉

[2020-08-11 17:04] #11909 closed

[2020-08-11 17:04] jenstrickland commented on #11910
Validated! 🎉

[2020-08-11 17:04] #11910 closed

[2020-08-11 17:07] #11565 closed

[2020-08-11 17:07] jsev-io commented on #12218
@anitadewitt-va  The second key - the one starting with AAAAB3NzaC1yc2EAAAADAQABAAABAQDEEX4CqOUYO

[2020-08-11 17:09] jenniferlee-dsva commented on #11435
@ncksllvn - that's great news - thanks for finding that search.gov info!

And v good points, @MickinSahni . To answer your question or concern...

[The purpose of tags,](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/content/tier-2-content-IA-and-design/learning-center-mvp/template-requirements.md#purpose-of-tags-in-the-learning-center) as documented in the temp

[2020-08-11 17:09] ncksllvn commented on #10772
We have FAQ rich results!

![image](https://user-images.githubusercontent.com/1915775/89927115-d668db80-dbd3-11ea-896e-e39c78fa0dae.png)

[2020-08-11 17:11] johnhashva commented on #10772
**### Postscript/Postscript Update:**   After a bit more finagling with Google Search Console, @ncksllvn and I have confirmed that the COVID-19 FAQs rich results -- with Schema.org structured markup -- is live on Google and generating impressions and clicks.

<img width="543" alt="Screen Shot 2020-08-11 at 12 27 55 PM" src="https://user-images.githubusercontent.com/63107147/89926551-13809e00-dbd3-

[2020-08-11 17:12] delli-gatti-michael commented on #12205
Tested by the following test case
https://dsvavsp.testrail.io/index.php?/tests/view/10545&group_by=cases:section_id&group_order=asc&group_id=51&group_by=cases:section_id&group_order=asc&group_id=51

[2020-08-11 17:17] delli-gatti-michael commented on #12205
Testing passes locally.

a 10203 form was submitted on 8/11/2020 under confirmation number `V-EBC-4656`. That submission will show in the spool file generated on the morning of 8/12. It will contain the following line:

`Auto Email Sent to SCO: NO`

[2020-08-11 17:22] peggygannon commented on #12198
**8/11/2020 update** JTF has not approved the copay copy. Lauren is thinking of other options for this.

[2020-08-11 17:22] desireeturner commented on #12185
We're waiting on feedback regarding how to handle this from the platform team. cc @emilywaggoner

[2020-08-11 17:23] kfrz commented on #10666
**2020-08-10**

- Spun up a test [GitHub app](https://github.com/settings/apps/sentry10-test-kf)
- Configured Sentry with the following in `sentry.conf.py.j2`:

[code]

- Added those values into Credstash

[2020-08-11 17:27] RLHecht commented on #12255
@peggygannon I updated the question in the FAQs. Please review and publish if all looks good.
preview-prod.vfs.va.gov/preview?nodeId=3014

[2020-08-11 17:32] RLHecht commented on #12246
I published this page. Moving to validate and will close later this afternoon. @bethpottsVADEPO If we get any new info back from stakeholders we can reopen and make changes.

[2020-08-11 17:32] abuckley3385 opened #12360 "[Spike] authenticated and whitelisted experience"
Research what "I appears they have a list of approved users." from Sprint Demo - Micah Chiang

## Acceptance Critieria
- [ ] Findings in the [Tech Feas Doc](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/health-care/questionnaire/discovery/engineering)

[2020-08-11 17:33] kfrz commented on #10666
**2020-08-11**

- Meeting with @omgitsbillryan to go over progress and deploy latest AMI
- Need to define webhook url in revproxy for Sentry10

### Notes

[2020-08-11 17:35] sonntag-adam commented on #11324
![Screen Shot 2020-08-11 at 1.33.21 PM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/0a5a199f-b45d-46a2-a6ca-498227a1b281)
##
![Screen Shot 2020-08-11 at 1.34.24 PM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/244989df-9c2c-476c-bef4-50e8db1c6ece)
##
![Screen Shot 2020-08-11 at 1.35.33 PM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/

[2020-08-11 17:38] rumyeahs commented on #12255
@peggygannon @RLHecht Whenever you are ready to make the content changes on Chatbot, can you please make them on a branch as opposed to on master. It is easier for the team to review and merge changes.
cc: @shefalinayak FYI

[2020-08-11 17:45] peggygannon commented on #12255
Hi, @rumyeahs Yes, will do! We'll make the updates on a branch.

I will let you and @shefalinayak know when they are ready to merge.

[2020-08-11 17:47] mchelen-gov opened #12361 "Investigate options for project management"

[2020-08-11 17:51] drorva commented on #11870
Part of the reverse field work.

[2020-08-11 17:53] #10410 closed

[2020-08-11 17:54] drorva commented on #10410
Duplicating other tickets.

[2020-08-11 17:54] ccruzgra commented on #11844
@delli-gatti-michael This checks out for UX!

[2020-08-11 17:56] #11312 closed

[2020-08-11 17:58] drorva commented on #11642
Happens on dev. We're pointing everything to prod.

[2020-08-11 17:58] #11642 closed

[2020-08-11 17:58] digitaldrk commented on #10673
[https://app.zenhub.com/files/133843125/51e0cd98-24d8-4ee6-b1bf-2da94faa1b86/download](https://app.zenhub.com/files/133843125/51e0cd98-24d8-4ee6-b1bf-2da94faa1b86/download)

[2020-08-11 18:01] leahkeeler commented on #6595
@jenstrickland There should be no outstanding issues except the forms related ones that were called out. Thanks!

[2020-08-11 18:01] digitaldrk commented on #11258
Here's where the va_file number goes in: https://github.com/department-of-veterans-affairs/vets-api/pull/4673/files#diff-23fbad49e83e80f682302d5048858fecR19

[2020-08-11 18:05] #12349 closed

[2020-08-11 18:07] narin commented on #12153
@rtwell Do we want to use a different font for the bolded headers, or does this look okay?

![image](https://user-images.githubusercontent.com/786704/89932639-cdbbd980-dbc2-11ea-89e7-09e7b3c48224.png)

[2020-08-11 18:11] jenstrickland commented on #6595
Which forms related issues were called out? If there are known issues, they should be listed in the request under the Known Issues heading.

There are some open issues. For example, the lack of an h1 on the pages where a person can't order anything. All of those issues should be listed.

[2020-08-11 18:17] jenniferlee-dsva commented on #12066
@bethpottsVADEPO -   We will be adding content in prod.cms. I don't see a way to filter Learning Center content but you will be able to find the specific LC templates in the massive dropdown list located on the content dashboard.   @oksana-c / @swirtSJW in the LC slack channel will be able to provide more details.

Screenshot:
![image.png](https://images.zenhubusercontent.com/5bb2975c143b4d2ee7a35

[2020-08-11 18:18] #11683 closed

[2020-08-11 18:23] dneel-bah opened #12362 "School Ratings: Research and Design CSV to support school ratings details"
As a developer, I need to research and design the CSV that will support the loading of school ratings information that is displayed within the comparison tool.

## Assumptions:
1. A veteran will be prompted by an automated process to provide a rating for an institution.
2. A veteran may be prompted to rate an institution multiple times, if so, only the most recent rating is counted.
3. A veteran m

[2020-08-11 18:28] sonntag-adam commented on #11324
https://dsvavsp.testrail.io/index.php?/tests/view/10687&group_by=cases:section_id&group_order=asc&group_id=46

[2020-08-11 18:29] sonntag-adam commented on #11844
Closing bug.

[2020-08-11 18:29] #11844 closed

[2020-08-11 18:29] 1Copenut commented on #12340
@meganhkelley This was flagged in my staging review for BAH's STEM standalone form. @desireeturner let me know this appears to be a forms lib issue, so I've reassigned to you. LMK if I need to post it elsewhere.

[2020-08-11 18:29] 1Copenut commented on #12340
@meganhkelley This was flagged in my staging review for BAH's STEM standalone form. @desireeturner let me know this appears to be a forms lib issue, so I've reassigned to you. LMK if I need to post it elsewhere.

[2020-08-11 18:30] 1Copenut commented on #12343
@meganhkelley This was flagged in my staging review for BAH's STEM standalone form. @desireeturner let me know this appears to be a forms lib issue, so I've reassigned to you. LMK if I need to post it elsewhere.

[2020-08-11 18:35] cvalarida opened #12363 "Update the formation-react publishing documentation"
## Background
I recently published a new version of `formation-react`. When I got to the "Create a release" step of [the documentation](https://department-of-veterans-affairs.github.io/veteran-facing-services-tools/getting-started/common-tasks/updating-formation/), the `yarn release` script threw a syntax error.

After talking with some folks, it sounds like this may have never worked.

I ended up

[2020-08-11 18:38] anitadewitt-va commented on #12218
got it. I am all connected now.

[2020-08-11 18:49] #11258 closed

[2020-08-11 18:51] billfienberg opened #12364 "GitHub search finds unreachable commits after git history rewrite"
## Description

In January 2020, the git history of the `va.gov-team` repo was rewritten to remove PII that was discovered. By rewriting the history, some GitHub search results now return commits that are unreachable.

[2020-08-11 18:52] jenniferlee-dsva opened #12365 "Iteration 1: Build the FE template for Step-by-step, Multiple FAQs, and single QA learning center content types"
## Iteration 1: Build the FE template for Step-by-step, Multiple FAQs, and single QA learning center content types

The FE build for iteration 1 is to start mapping the middle layer of the templates, based on Ryan's designs and the template requirements.

**The 3 CMS templates for this ticket are:**

- Single Q/A
- Multiple Q/A
- Step-by-step

_Note: The CMS templates currently **don't** include t

[2020-08-11 18:54] tressaellen commented on #8836
[Banner GH document](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/logged-in-homepage/2.0-redesign/design-ia/banner-discovery.md)

I've asked Ryan Thurlwell to review this and will post when I hear back.

[2020-08-11 18:59] jsev-io commented on #10969
@nickbloom Does your key work? Do you have access to SOCKS?

[2020-08-11 18:59] andaleliz commented on #10982
@jenniferlee-dsva I listed the other card sort ticket as a dependency to this one. #11012, @DanielleThierryUSDSVA

[2020-08-11 19:00] andaleliz commented on #11012
@jenniferlee-dsva thank you! I had copied and pasted this from another ticket and hadn't cleaned up yet. I'll review the doc you uploaded and focus on the card sort later this week, once synthesis is complete for the usability study.

[2020-08-11 19:01] sonntag-adam commented on #11730
Tags are blocking housing, moving back to in progress for fix happening between 482 - 640 px

![Screen Shot 2020-08-11 at 3.00.21 PM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/b9d89a89-6d4f-4ddc-96de-c34b6ab78055)

[2020-08-11 19:02] dneel-bah opened #12366 "STEM: Update form selection wizard STEM content"
As an applicant, I need the information provided in the form finder wizard to be clear and concise so that I know whether I should continue to pursue applying for the STEM scholarship.

## Assumptions:
1. This work is done behind feature flag #7271.

## Acceptance Criteria
1. The following content is displayed when the user selects "Applying to extend my Post-9/11 or Fry Scholarship benefits using

[2020-08-11 19:03] emilywaggoner commented on #12185
Consulting with the engineering team on the best way forward - I'll update here shortly @desireeturner!

[2020-08-11 19:03] ncksllvn commented on #12181
I think this one is required for MVP, so I think we should consider get this one ready for implementation. Before that, we need two things -

1. Where should the error be placed, and what should it look like.
    - My gut says top of the page as a [warning alertbox](https://design.va.gov/components/alertboxes#warning-alert)
1. The content of the alert box

Engineering work _can_ get started and th

[2020-08-11 19:04] delli-gatti-michael commented on #12216
@department-of-veterans-affairs/uxbah This is on Staging and ready for review

[2020-08-11 19:05] bradl3yC opened #12367 "Right rail content needs to be displayed inline on mobile browsers"
Currently right rail content is being pushed off the page for mobile browsers.

[2020-08-11 19:07] sonntag-adam commented on #12214
@department-of-veterans-affairs/uxbah The fix for this is now on Staging

[2020-08-11 19:08] sonntag-adam commented on #12186
@department-of-veterans-affairs/uxbah The fix for this is now on Staging

[2020-08-11 19:09] ncksllvn commented on #11380
The tech requirements here are met for us to add this into the template. It seems like we only need to decide on position. It seems like just under the name of the form could be a good spot?

[2020-08-11 19:10] peggygannon commented on #11935
hello,  @rileyorr I wanted to let you know that the JTF has not approved the Copay/collection alerts. So please do not use them in the Debt Management Tool.

In my staging review feedback, I'll be suggesting we use the below debt-related general COVID alert in the tool:

![image.png](https://images.zenhubusercontent.com/59b0414bb0222d5de476aa22/564e6dea-7da5-472e-bc5d-41ca395e44b6)

cc @mattpointz

[2020-08-11 19:10] ncksllvn commented on #12242
I think the plan was for us to do this via robots.txt, although we might be able to do it this way instead.

[2020-08-11 19:13] YanaRoy opened #12368 "Offboarding of Mahariel Rosario"
# Instructions
Fill out name of individual and *Description* section below.

# Description
- Please provide the name of the individual needing offboarded.

- Please provide the name of their team, their role on that team, expected last day, and the name of the company they work for.

- Please provide any type of access they may have.

## AC
 - [x] Remove global/config.yml / SOCKS Access removed (i

[2020-08-11 19:15] YanaRoy opened #12369 "Offboarding of Sundar Kumarasamy"
# Instructions
Fill out name of individual and *Description* section below.

# Description
- Please provide the name of the individual needing offboarded.

- Please provide the name of their team, their role on that team, expected last day, and the name of the company they work for.

- Please provide any type of access they may have.

## AC
 - [x] Remove global/config.yml / SOCKS Access removed (i

[2020-08-11 19:16] ccruzgra commented on #12216
@delli-gatti-michael This update checks out for UX!

[2020-08-11 19:17] ncksllvn commented on #12250
What is the URL of the page we want to gate for UAT?

[2020-08-11 19:18] leahkeeler commented on #11935
Thanks @peggygannon cc: @bradl3yC

[2020-08-11 19:19] ccruzgra commented on #12214
@sonntag-adam This work checks out.

[2020-08-11 19:20] #11598 closed

[2020-08-11 19:22] ccruzgra commented on #12186
@sonntag-adam This work checks out.

[2020-08-11 19:25] bkjohnson commented on #4613
Do we want to add a `<span>` with `aria-live="polite"` that says something like "You may now edit these fields" at the top of the section?

[2020-08-11 19:29] delli-gatti-michael commented on #12328
Looks good locally

[2020-08-11 19:32] jsev-io commented on #12369
No AWS Access.

[2020-08-11 19:33] jsev-io commented on #12368
No AWS Access

[2020-08-11 19:34] leahkeeler opened #12370 "[Front End] Update for Covid alert"
Per Peggy, the COVID alert was not approved, it needs to be updated to suggested alert box found here https://github.com/department-of-veterans-affairs/va.gov-team/issues/11935

Please ping @rileyorr @rebeccawalsh one complete so they can review

[2020-08-11 19:34] Samara-Strauss commented on #10247
cc/ @tressaellen and @callen2563 for awareness. There are images above of the different states for scheduled appointments.

[2020-08-11 19:36] kelsonic commented on #10756
PR merged and ready for content validation on staging tomorrow following the daily deploy! CC @DanielleThierryUSDSVA @RLHecht

[2020-08-11 19:38] ccruzgra commented on #12354
@amyknox Unless other updates are needed, this story may be closed.

[2020-08-11 19:41] michaelkimball opened #12371 "Access for Michael Kimball"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Add a comment @department-of-veterans-affairs/vsp-operations to ping the operations team
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please

[2020-08-11 19:41] jenniferlee-dsva commented on #12066
@oksana-c - will there be a COPE FAQs library for the content team to add the individual Q/A's (end state) or should they just be adding the WIP test content for now directly into the FAQs template page?

[2020-08-11 19:43] jenniferlee-dsva commented on #11335
Will try to answer ^ in-line.

[2020-08-11 19:45] sonntag-adam commented on #12216
Closing bug

[2020-08-11 19:45] #12216 closed

[2020-08-11 19:48] sonntag-adam commented on #12214
Closing bug.

[2020-08-11 19:48] #12214 closed

[2020-08-11 19:48] sonntag-adam commented on #12186
Closing story.

[2020-08-11 19:48] #12186 closed

[2020-08-11 19:50] jenniferlee-dsva commented on #12181
Content of the message can say:

**New message:**
We're sorry, but the form you're trying to download appears to have an invalid link. Please contact the VA forms managers for more information about this form.

I'm good with alert box on the page, but going to defer here to Liz on exact location of the alert box. (Only requirement is that it's an in-body alert box, not a full-width banner that goe

[2020-08-11 19:50] theodur commented on #12352
Merged in https://github.com/department-of-veterans-affairs/vets-website/pull/13820.

[2020-08-11 19:50] #12352 closed

[2020-08-11 19:51] massrb commented on #11514
I don't know the answer to:
`a type field with values such as "SERVICE CONNECTED", "REGULAR", "ORGAN DONORS", "COMPENSATION & PENSION"`. Is that all the values? and what do those values mean?

[2020-08-11 19:52] #12354 closed

[2020-08-11 19:52] jenniferlee-dsva commented on #12181
Once this is complete, can we capture it as a screenshot for @tlei123's QA test?

[2020-08-11 19:52] RLHecht commented on #12255
@rumyeahs @shefalinayak I just reviewed Peggy's changes and approved it. It's ready to merge.

[2020-08-11 19:53] bradl3yC commented on #12250
@ncksllvn  https://va.gov/manage-va-debt/

[2020-08-11 19:53] #11940 closed

[2020-08-11 19:54] desireeturner commented on #12344
We are planning to work this issue after we've completed our initial launch.

[2020-08-11 19:56] tressaellen commented on #10162
[User Story Mural Board](https://app.mural.co/t/vsa0499/m/vsa0499/1597156877591/25248822b34df6bbf8041a9b11b3150974e51efb)

[2020-08-11 19:57] ndsprinkle commented on #11812
Attempted to submit a BDD claim with user 250 and the form did successfully submit like before, but still not seeing anything in the CST. Will investigate further, jobId: 8f3181bb7d5d0925a3b6e6ea

[2020-08-11 19:58] desireeturner commented on #10780
@jonwehausen The updates covered in the following comments have been made and are now available for review on staging:
  a. https://github.com/department-of-veterans-affairs/va.gov-team/issues/10780#issuecomment-662429290
  b. https://github.com/department-of-veterans-affairs/va.gov-team/issues/10780#issuecomment-665338349

[2020-08-11 20:00] jenniferlee-dsva commented on #11335
I couldn't finish answering ^, but will get back to finishing replies in a bit @tlei123

[2020-08-11 20:03] ncksllvn commented on #12181
I think so, as long as we have the URL of a form that meets this criteria

[2020-08-11 20:04] rtwell commented on #12153
yes @narin it should look like what's posted above.

[2020-08-11 20:05] tressaellen commented on #8836
Meeting scheduled for 08/17

[2020-08-11 20:08] MickinSahni commented on #12242
just here to start the convo :)

[2020-08-11 20:08] mdewey opened #12372 "Create Authenication diagram"
As per our conversion with Paul Short, create a current state diagram for the Vets API authentication schema.  This diagram should also include the plans and strategy to add a new authentication schema; specifically the Lighthouse API authentication (OpenId Connect)

## Acceptance Criteria
- [x] Diagram of the current state
- [x] Diagram with new authentication strategy added

[2020-08-11 20:09] SgardnerPMP opened #12373 "[Content] Create list of Best of the Best (Examples) for PAOs (From all previous systems) [CW]"
## Story
As a PAO or Web master I need to have best practices and examples of pages I need to create, so I can use them as ideas, templates, and examples for my new pages.

## Resources
[Listing of VISN-4 URLs to review](https://drive.google.com/drive/folders/1Juw7qXdDtzXHm-yPPwaJNUaYZkCFD9B-)
[Listing of VISN-19 URLs to review](https://drive.google.com/drive/folders/1Fi1J24nQ0o_85DW_JkA-ZkYs0tEWr

[2020-08-11 20:12] luke-gcio commented on #8815
We are going to drop this into the IceBox and see if we can get the same (and more) data from Tableau.

[2020-08-11 20:14] tressaellen opened #12374 "[FE] Add 'I live on a United States military base outside of the country.' checkbox to the Home address"
## Background

We noticed an inconsistency between addresses. We need to add the 'I live on a United States military base outside of the country.' checkbox to the Home address section of the Personal and contact information section.

## Specs

![Screen Shot 2020-08-11 at 2.11.52 PM.png](https://images.zenhubusercontent.com/5dfa65bbbd078d1699e52294/b1a20534-4c47-4be0-b2bb-75562aaa7aef)

## Tasks

-

[2020-08-11 20:19] leahkeeler opened #12375 "[Design] Create design for eFolders documents page"
## Issue Description
Design page that aligns with design library and style guides at va.gov that replicates the functionality of page on eBenefits

---
## Tasks
- [ ] Document listing page
![image.png](https://images.zenhubusercontent.com/5e41d853bb7b6d67d84e6080/76aa2e6b-8627-47e9-9d76-733a487ee4f3)
- [ ] Search box for document type
![image.png](https://images.zenhubusercontent.com/5e41d853bb7b6

[2020-08-11 20:24] amyknox commented on #12307
@dneel-bah - Consider / Questions were resolved by Mikki in her follow-up after the meeting (see below).  This can be closed.

[2020-08-11 20:24] luke-gcio opened #12376 "[Development] 526: MVI Errors Logged to PII Friendly Table"
## Issue Description
We need more info on why MVI Add Person is occasionally failing.  it may be part of the "orchestrated" lookup (deeper search beyond the local MPI database).  Since we cannot log the body of the response (contains PII) we need to use something other than Sentry to log.  The PII table in our Postgres database.

## Acceptance Criteria
- [ ] Production-level logging to the PII fri

[2020-08-11 20:26] #11544 closed

[2020-08-11 20:30] amyknox commented on #12288
Thanks for the great input, @peggygannon. We'll review and let you know if we have any questions.

[2020-08-11 20:32] RLHecht commented on #11634
Validated on live site. Closing ticket. FYSA @MickinSahni

[2020-08-11 20:32] #11634 closed

[2020-08-11 20:32] ediiotero opened #12377 "Access for Edwin Otero"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Add a comment @department-of-veterans-affairs/vsp-operations to ping the operations team
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please

[2020-08-11 20:34] RLHecht commented on #12246
This is validated on live site. @bethpottsVADEPO do you want to let the stakeholders know? Closing ticket. FYSA @MickinSahni

[2020-08-11 20:34] #12246 closed

[2020-08-11 20:35] amyknox commented on #9699
@dneel-bah Think this can this be closed as we have breadcrumbs & URLs documented elsewhere.

[2020-08-11 20:36] billfienberg commented on #8334
@gmaciolek, since all of the above PRs have been merged, I think it's safe to say this is **Done**.

[2020-08-11 20:36] peggygannon opened #12378 "VSP content feedback - Staging review - Debt Letters MVP"
## User story

This ticket captures VSP content feedback on Debt Letters tool

Staging link: https://staging.va.gov/manage-va-debt/your-debt/
Team: BAM 2

Product/Tool/Form: Debt Letters MVP

Collaboration stage: Staging review

Is there a static landing page that supports this product/tool/form? Y

## Acceptance criteria

- [x]  VSP/Peggy provides content feedback for the form/tool and any associ

[2020-08-11 20:39] mmiddaugh commented on #11776
@mpelzsherman Snapshots were taken from staging for baseline so this needs to be validated in that environment. I've confirmed all of the scenarios except Indianapolis + oncology since that one repeatedly timed out for me.

## Validated

<details>

 <summary> Psychologist - Rehab in Raleigh, N.C. search </summary>

![image.png](https://images.zenhubusercontent.com/5d8a47393ac3440001d1a2ed/bb6561dd

[2020-08-11 20:39] #11776 closed

[2020-08-11 20:39] peggygannon commented on #12378
Team: BAM 2

Product/Tool/Form: Debt Letters MVP

Collaboration stage: Staging review

Is there a static landing page that supports this product/tool/form? Y

------

Content feedback
*Feedback key

Must = Required
Should = Strongly encouraged/content best practice
Consider = Suggestion or possible enhancement

[2020-08-11 20:40] luke-gcio commented on #11094
Updated to 5 points - more than we thought and new team member on this ticket.

[2020-08-11 20:40] #8334 closed

[2020-08-11 20:49] ccruzgra commented on #12339
@1Copenut I think these are inherited headings. Taking a look at other VA.gov forms, they have the same issue going on. Would that also need to be fixed in the forms system?

[2020-08-11 20:50] nathanbwright opened #12379 "Access for Nathan Wright"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Add a comment @department-of-veterans-affairs/vsp-operations to ping the operations team
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please

[2020-08-11 20:51] nathanbwright commented on #12379
@department-of-veterans-affairs/vsp-operations

[2020-08-11 20:55] gmaciolek commented on #11840
@mchelen I think the Frontend and Backend tools team are doing some discovery to explore the possibility of rendering content from va.gov-team. If I understand correctly, the backend tools team is considering putting their documentation on the Gatsby site. Being able to render the content from va.gov-team repo would prevent them from having to migrate docs.

I don't know enough of the details to h

[2020-08-11 20:56] mpelzsherman opened #12380 "Fast filtering for Facility Locator Urgent Care Search results"
As a User, I want to quickly filter my search results between VA facilities and non-VA providers
So that I can quickly find the best place for my needs

When doing a "mashup" urgent care search that includes both VA facilities and non-VA providers,
we can cache the search results in the Redux state, and filter on the front end.
This will avoid hitting the API, which is very slow esp. for PPMS data

[2020-08-11 20:58] jenstrickland commented on #4613
If we move focus to the first editable field it should read the label and input, which provides the cue it is now editable.

[2020-08-11 21:01] gmaciolek commented on #12316
I'll try to take this one on within the next couple weeks. I think that there might even be more docs that discuss getting access to tools than the ones you listed and I'm pretty sure the Working with VSP doc is a little outdated as well. Would be good to do an audit of the various "access tools" docs and clean things up.

[2020-08-11 21:06] mdewey commented on #12360
Added comments here after a quick meeting with Micah

https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/health-care/questionnaire/discovery/engineering#user-whitelist

[2020-08-11 21:10] Samara-Strauss commented on #11836
@lihanli we finally have a staging user for testing (cc/ @mshea0606 for awareness). The user is vets.gov.user+377@gmail.com with our standard staging password.

However, when you log in to to staging and check My VA, you'll see secure messages but not prescriptions. When I emailed the people who helped us set up the staging user, they assured me that this user has active prescriptions, and sent th

[2020-08-11 21:12] 1Copenut commented on #12344
Not a problem. @U-DON did a lot of work with the Cypress form tester, so it's possible this might already be happening. If not, getting this hidden content under test is a good post-launch item.

[2020-08-11 21:12] annaswims commented on #12364
for example, if I search for [tutorial](https://github.com/department-of-veterans-affairs/va.gov-team/search?q=tutorial&unscoped_q=tutorial) and click on the link to `platform/engineering/git-lfs-tutorial.md` I get linked to a sha that no longer exists https://github.com/department-of-veterans-affairs/va.gov-team/blob/e360cdb89a584fdb8de694b423c475cc4ae3c921/platform/engineering/git-lfs-tutorial.m

[2020-08-11 21:18] bethpottsVADEPO commented on #12066
@jenniferlee-dsva Thanks for the screen shots and explanation.

@RLHecht Let's talk about this work.

[2020-08-11 21:19] jenniferlee-dsva commented on #11335
@tzelei - in line answers above

[2020-08-11 21:20] mchelen-gov commented on #12361
slack thread: https://dsva.slack.com/archives/GFX52HT97/p1597172758248500
github/jira teams integration: https://dsva.slack.com/archives/G03HQ55DC/p1597175067267500

[2020-08-11 21:21] mchelen-gov opened #12381 "Health data collection & connected care question"
slack thread: https://dsva.slack.com/archives/GFX52HT97/p1596825562240600
Get Care docs: https://coderepo.mobilehealth.va.gov/projects/GC/repos/get-care-resources/browse/docs?at=refs%2Fheads%2Ffeature%2Fdocumentation

[2020-08-11 21:23] katieho-va opened #12382 "Project Kickoff: Team Orchid (IRIS)"
## Steps to complete Project Kickoff
- [x] Product Manager: create this issue and fill in feature name in the title and other bolded information appropriately
- [x] Link to this issue once created in [#vfs-platform-support](https://dsva.slack.com/channels/vfs-platform-support) in Slack; tag @ AndreaHewitt @ Mandi Lipka
- [x] Mandi will schedule meeting with VSP reviewers and Team Orchid attendees

[2020-08-11 21:23] saneshark opened #12383 "Adding Lance Gunderson to DSVA Slack"
The following individual `lance.gundersen@b3groupinc.com` needs be added as a full member to #vaos-team

I'm requesting full member because I will ultimately need to invite him to several more channels that we use across the VFS platform. He will be a core contributor / software engineer as part of VAOS.

[2020-08-11 21:23] #11777 closed

[2020-08-11 21:28] 1Copenut commented on #12339
@ccruzgra Yes, if they're appearing on other forms, these are quite possibly forms system items. I'll reassign to to the right team. Thank you for following up.

[2020-08-11 21:30] mandifrances commented on #12382
Scheduled for 8/12 @ 11:30am ET @katieho-va

[2020-08-11 21:31] saneshark opened #12384 "Adding Bradley Gross to DSVA Slack"
The following individual `bradley.gross@b3groupinc.com` needs be added as a full member to #vaos-team

I'm requesting full member because I will ultimately need to invite him to several more channels that we use across the VFS platform. He will be a core contributor / software engineer as part of VAOS.

[2020-08-11 21:38] LizCallaghan commented on #12383
done!

[2020-08-11 21:39] LizCallaghan commented on #12383
done!

[2020-08-11 21:39] LizCallaghan commented on #12384
done!

[2020-08-11 21:47] saneshark commented on #12384
@LizCallaghan could you please make him a full member -- he'll need to be invited to at least 4 other channels.

[2020-08-11 21:48] saneshark commented on #12383
@LizCallaghan could you please make him a full member -- he'll need to be invited to at least 4 other channels.

[2020-08-11 21:54] mpelzsherman commented on #7782
Is this still blocked?

[2020-08-11 21:57] mpelzsherman commented on #12085
[Facility Locator Attributes for Community Care Providers and VA Facilities](https://docs.google.com/spreadsheets/d/1jhUwU2jRbnoKW0C0Kp1EZSsCNbSlRONwkYViDyuS1Lg/edit#gid=0)

@darkbushido - for your review

[2020-08-11 21:59] #10806 closed

[2020-08-11 22:06] mpelzsherman opened #12385 "Tech Cleanup - remove unused Community Care Provider code"
We've removed the links to Community Care Provider detail pages, but the code remains.

Unless we plan to bring this page back, we should just remove it.

### Tasks:

-[ ] Remove the `provider/:id` route from `src/applications/facility-locator/routes.jsx`
-[ ] Remove the `ProviderDetail` class

[2020-08-11 22:20] amyknox commented on #11988
Thanks for this input Trevor. As you saw Friday, we've incorporated some of your feedback and are still working on the search button & Search Results page updates.

[2020-08-11 22:22] mnorthuis opened #12386 "IA Feedback - Staging Review - Debt Letters"
**Feedback framework**

- **Must** for if the feedback must be applied
- **Should** if the feedback is best practice
- **Consider** for suggestions/enhancements

## Description
This issue describes IA feedback for the Manage Debt/Debt Letters tool experience

*Note: Given this is an MVP and not full implementation of the solution, only a small portion of the IA can be reviewed.  Will need to do an

[2020-08-11 22:36] leahkeeler commented on #12386
Thank-you @mnorthuis, iteration 2,3 is a few sprint out but will for sure go through a separate staging review.

@bradl3yC - can you run by Mikki please once complete

[2020-08-11 22:57] mnorthuis commented on #9686
@leahbannon All final IA information is documented here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/information-architecture/ia-reviews/bam2-debt-letters.md

This write-up includes everything for the next iterations of this tool.  Please let me know if you want to walk through it or have any questions.

The only outstanding issue I have is for entry points.

[2020-08-11 23:01] pnwstevan commented on #11699
@ricetj THANK YOU for gathering all this for me; super helpful and appreciated.  Feel free to assign to me as I have access to Zenhub now.

[2020-08-11 23:04] #11514 closed

[2020-08-11 23:05] #11243 closed

[2020-08-11 23:09] leahkeeler commented on #12378
Thank-you @peggygannon. We were awaiting feedback from SMEs at DMC on the "Why might.. " they have until eod tomorrow to come back with feedback. The content is below:

'Why might I have this debt?' content
30 - Compensation & pension debt
A letter was sent from the Compensation & Pension office to your address on file explaining the reason for this debt.  Some common reasons for this type of debt

[2020-08-11 23:11] jenniferlee-dsva commented on #12181
Hi @ncksllvn
We fixed a recent example of this scenario. There may be others that we don't know about - bc form managers are changing/updating forms all the time in the source DB.

If I gave you that previous known example of an invalid form pdf URL, could you use it to test but without us having to revert versions in prod to that bad form version?  (This kind of got us into problems.)

On this no

[2020-08-11 23:11] jenniferlee-dsva commented on #12181
In case the version history helps:

![image.png](https://images.zenhubusercontent.com/5bb2975c143b4d2ee7a35ef6/82bc2100-c9cf-4cd4-8c71-5d7448453426)

[2020-08-11 23:12] leahkeeler commented on #9686
Thank-you @mnorthuis

[2020-08-11 23:16] bmcgrady-ep commented on #11677
@MickinSahni - I have updated the Find Forms Dashboard 1.0 with your requests above. Let me know if that's what you are looking for.

[2020-08-11 23:21] #11664 closed

[2020-08-11 23:30] mnorthuis opened #12387 "Create user flows for My health entry points/sign-in scenarios"
Need to document all the sign in flows - focused on my health/health care tools, but may evolve to include all sign-in flows.

- User clicks on "My health" in header of va.gov > user taken to `/my-health-account-validation`
- User clicks to sign in from http://patientportal.myhealth.va.gov/ > User routed to va.gov/sign-in > User logs in > User routed back to Cerner
-

[2020-08-11 23:34] jenniferlee-dsva commented on #12329
Note: @JeffBarnesUSDS and I discussed a few evolutions of tags governance (such as enabling a 'none' topic value and restricting the administration labels for use only for non-beneficiary audience content). The card sort is primarily a nomenclature test, so this shouldn't affect the card sort, except for some articles in the spreadsheet may be okay to map just to an audience label and 0/null topic

[2020-08-11 23:56] peggygannon commented on #8020
@lenaecb OK, sounds good. thank you for confirming!

[2020-08-12 00:02] jchasia-adhoc opened #12388 "VSP Release Plan Template"
## Release Plan Template [Draft]
This Release Plan Template is intended to be used to help ensure your new VSP product or feature is ready for launch and will deliver the desired user outcomes. In Phase 1, you will test your product to learn how it'll actually be used, what problems it might create, and then fix/adjust if necesssary prior to going live. In Phase 2, you will define the launch commu

[2020-08-12 00:23] andaleliz commented on #12181
How can I see an example of a form detail page? Here's what I've tried
- clicking links in the comments above (get a 404).
- gone to va.gov/find-forms and searched for form numbers (1995, 1010ez 10-10ez), and keywords (pension, disability), but all the results give me a download link directly in the search results that points away from VA.gov.

A couple of thoughts/questions in the meantime:

What

[2020-08-12 01:01] tlei123 opened #12389 "[Bug] - Debt Letters MVP - Your VA Debt - Copy anomalies"
## What happened?
On Staging Your VA Debt page, the following copy anomalies were found:
1. Under Need Help? \[right-rail on desktop], time-range copy did not follow VA Design System > Content guidelines.
2. Under same section, 1st subheading has typo.

## Specs:
- Device: \[device-agnostic]
- Browser: \[browser-agnostic]
- Test User _(if applicable)_: ```vets.gov.user+1@gmail.com``` (Greg)

## St

[2020-08-12 01:27] narin commented on #11923
Haven't had any luck reproducing this one and it has affected less than 10 users.  Moving back to Ready column for now.

[2020-08-12 01:53] tlei123 opened #12390 "[Bug] Debt Letters - My VA Debt - Download links not working [DRAFT]"
[DRAFT: Will finalize details once all QA test-runs are completed.]

## What happened?
On Staging My VA Debt page, debt-letter download links are not working -- no PDF is downloaded.

## Specs:
- Device: (e.g. iPhone 8, Macbook)
- Browser: (e.g. Firefox, IE 11)
- Test User _(if applicable)_:

## Steps to Reproduce
- URL:
- Test User _(if applicable)_:

## Desired behavior
_Describe in detail what

[2020-08-12 04:27] bethpottsVADEPO commented on #12275
Closing this. My review is complete and after I get the answer to one question about an H1 change, these 4 pages will be ready to go to stakeholders for review.

This was the original H1 for one of these pages: Life insurance with uninsurable health issues
Now it is: Life insurance if you have pre-existing conditions

The URL is: /life-insurance/uninsurable-medical-conditions/

Need to align with

[2020-08-12 04:27] #12275 closed

[2020-08-12 04:41] SgardnerPMP opened #12391 "[Content] Review copy edit and content for VA Cheyenne content pages prior to publishing [CW]"
## Story
As a Veteran, I need content written in plain language that clearly defines the page and content of the page, so I can quickly determine how best to use the page for my benefit

## Resources
[VISN-19 Final Content pages](https://drive.google.com/drive/folders/1KVjgw4Z56Zm3m1TVTDktpKk9aKVpP9ms)
[Production pages](prod.cms.va.gov)
[Page review doc](https://drive.google.com/drive/folders/1Ih

[2020-08-12 04:53] SgardnerPMP opened #12392 "[Content] Review copy edit and content for VA Western Colorado content pages prior to publishing [CW]"
## Story
As a Veteran, I need content written in plain language that clearly defines the page and content of the page, so I can quickly determine how best to use the page for my benefit

## Resources
[VISN-19 Final Content pages](https://drive.google.com/drive/folders/1KVjgw4Z56Zm3m1TVTDktpKk9aKVpP9ms)
[Production pages](prod.cms.va.gov)
[Page review document](https://drive.google.com/drive/folder

[2020-08-12 04:54] SgardnerPMP opened #12393 "[Content] Review copy edit and content for VA Sheridan content pages prior to publishing [CW]"
## Story
As a Veteran, I need content written in plain language that clearly defines the page and content of the page, so I can quickly determine how best to use the page for my benefit

## Resources
[VISN-19 Final Content pages](https://drive.google.com/drive/folders/1KVjgw4Z56Zm3m1TVTDktpKk9aKVpP9ms)
[Production pages](prod.cms.va.gov)
[Page review document](https://drive.google.com/drive/folder

[2020-08-12 11:13] sonntag-adam commented on #11324
@department-of-veterans-affairs/uxbah The fix for this is now on Staging

[2020-08-12 12:11] ccruzgra commented on #11324
This checks out for UX, @sonntag-adam.

[2020-08-12 12:12] sonntag-adam opened #12394 "CT-Filter: Gender radio button switching on refresh"
Steps to reproduce:

1. Navigate to https://staging.va.gov/gi-bill-comparison-tool/search?category=school&name=
2. Select "Women only" under gender
3. Refresh the page
4. Observe the "Any" radio button is selected and it still shows the "Women only" results
5. Can do the same steps for "Men only" and on refresh, the "Any" gets selected

Expected behavior: On refresh, the radio button selection sho

[2020-08-12 12:13] mshea0606 opened #12395 "AE-Sprint 28"
# Priorities
1. Complete Call Center review
2. UAT Go/No-go, submit request if possible
3. High priority staging review updates/fixes
4. Direct Deposit (integration discovery)
5. LIH - Design and Dev tickets
6. Profile 2.0 Bug fixes and tests coverage
7. My VA Rx regression testing

## Profile 2.0
### PM
- [x] [PM] Complete Contact Center Review #11573
- [x] [PM] UAT - Go/No Go #12397

### Design

[2020-08-12 12:13] sonntag-adam commented on #11324
Closing story.

[2020-08-12 12:14] #11324 closed

[2020-08-12 12:22] jenniemc commented on #11985
Hi @rtwell , could use your help providing the language/flow to inform users they are limited from making a direct appointment beyond 395 days (or 13 months) into the future. Currently, if they enter a date say 14 months from now, it would send the them to a calendar with no available date to select.
<img width="568" alt="Screen Shot 2020-08-12 at 8 12 02 AM" src="https://user-images.githubusercon

[2020-08-12 12:33] #12041 closed

[2020-08-12 12:55] jonwehausen commented on #10780
@bsmartin-ep Would you mind finishing the GTM implementation of 1995 and staging the implementation for 10203 according to the spec? Let me know of any questions. Thanks!

[2020-08-12 12:57] bsmartin-ep commented on #6830
@jonwehausen -

Updated to use `JS - Generic - Button Click Text Null Check` as a default `Event Action` in case we ever want to dataLayer something in there.

Just to refresh my memory, we aren't making any changes to the `Event Action` to differentiate between Primary and Default CTA buttons?  Relying on the `Event Label` for that?

Data Layer|Tag
---|---
![image](https://user-images.githubuserc

[2020-08-12 13:07] bsmartin-ep commented on #11704
@srmyers17 -

Here are User numbers for `2019-06-18 `(start of data in BigQuery) - `2020-06-18`:

Segment Overlap|Users who visit _Health Care_ Pages|Users who visit _Claims_ pages
----|----|------
1,171,281|5,479,354      |  4,401,957

[2020-08-12 13:07] #11704 closed

[2020-08-12 13:10] #10214 closed

[2020-08-12 13:11] abuckley3385 commented on #12178
@peggygannon can you close this ticket per your review and end of sprint 27

[2020-08-12 13:12] #11959 closed

[2020-08-12 13:12] abuckley3385 commented on #11646
Will work through engineering estimates in sprint 28 once full feature docs are complete

[2020-08-12 13:12] #11646 closed

[2020-08-12 13:13] #11303 closed

[2020-08-12 13:14] sonntag-adam commented on #11730
![Screen Shot 2020-08-12 at 9.14.32 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/e2ffa8c1-3373-4980-9d3a-aa9a8b14c54f)

[2020-08-12 13:15] abuckley3385 commented on #11669
@massrb and @mdewey I feel like we have done quite a bit on this ticket but I don't see any comments or acceptance for this las sprint. Please update.

[2020-08-12 13:17] leahkeeler commented on #11222
Here are two additional comments:

There is a “note” listed that alludes to this so if we add any language about balance I suggest we add it here.

“…We’ll confirm the amount you owe so you don’t overpay as the balances shown are not real-time.”
Use IRIS for contact us, only use the ops box for areas to submit items (like FSR, Waiver)

[2020-08-12 13:21] abuckley3385 commented on #11839
@arickalewis1 given you stated we are done with Veteran sessions I will close this issue.  Unless you have a reason for it to carry over to sprint 28 since its still in progress status. ??

[2020-08-12 13:21] #11299 closed

[2020-08-12 13:23] bsmartin-ep commented on #9488
@markgreenburg / @sanlouise -

As promised, here is a dataLayer spec for Connected Apps disconnect:

[code]
### Would you be able to do us a HUGE favor while making this change?

We would like the Get Connected Apps / Direct Deposit events to be changed to match our normal past-tense taxonomy.

So:
`profile-get-connected-apps-failure` would need to become `profile-get-connected-apps-failed`
`profi

[2020-08-12 13:24] jonwehausen commented on #12247
@bmcgrady-ep Could I task you with the following items related to this

- [ ] Do a full audit of the metrics above and just make sure the components being asked for are in fact surfaced within the dashboard, identify any gaps in what's being requested and what we're currently showing
- [ ] QA current numbers for accuracy against GA, determine any historical backfills that we should execute
   - [

[2020-08-12 13:29] jonwehausen commented on #12274
@bmcgrady-ep As part of your auditing/QA of the COVID dashboard Could you take a look at the description above and perform the following tasks. We will want to have this done prior to our export for Lauren/Chante next week:
- [ ] Configure the GA connector to pull in this data. See [this as a starting point](https://va-gov.domo.com/datasources/6b31f414-d723-45af-8b92-0ebe18527d95/details/overview)

[2020-08-12 13:30] amyknox opened #12396 "STEM: Post-VSP Staging Review Prototype Updates"
Update prototype per VSP staging review, as relevant
- content
- accessibility
- ia

Create new prototype for ease of use

[2020-08-12 13:34] mshea0606 opened #12397 "[PM] UAT - Go/No Go"
## Background
We want to ensure everything is ready to go for UAT
[UAT Plan](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/profile/Combine%20Profile%20and%20Account/Research/UAT/profile-research-plan-UAT.md)

[UAT go/no go](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/profil

[2020-08-12 13:35] zurbergram commented on #12342
https://github.com/department-of-veterans-affairs/vets-website/pull/13833

[2020-08-12 13:35] amyknox opened #12398 "STEM - Post-VSP Staging Review Content Doc updates"
Update content per VSP staging review, as relevant
- content
- accessibility
- ia

Create new content doc for ease of use

[2020-08-12 13:39] RLHecht commented on #11171
Left nav is showing correctly now. Closing ticket!

[2020-08-12 13:39] #11171 closed

[2020-08-12 13:40] jonwehausen commented on #11163
Hey @ethanteague,

Just wanted to bump this to help get closed out.

@bsmartin-ep identified we need to make the update on dev CMS as well. This isn't currently affecting anything as our GTM environments dev<>prod are all aligned, just want to make sure we get this solidified in dev as well.

Once we've got the two snippets in and validated, we can close. Thanks again for your assistance!

[2020-08-12 13:40] jenniferlee-dsva commented on #12181
Hi @andaleliz - You need to be on your VA network in order to view the CMS preview pages. (You don't however need CMS access.)

You can also see sample mockups here: https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/find-va-forms-redesign/form-detail-landing-pages/final-docs#visual-mockups

Note that the content fields are dynamic:

- Some form details have the Whe

[2020-08-12 13:40] ricetj commented on #11699
hmm looks like you are not in the org yet. This is a public repo, so I guess that is why you can comment on stuff hmmm.

[2020-08-12 13:41] RLHecht commented on #12255
The FAQ changes have been validated on the live site. @peggygannon can we close this ticket?

[2020-08-12 13:41] rianfowler commented on #11594
Which one of these statuses causes the button to disappear in general and which one causes it to disappear in this specific case?

[2020-08-12 13:45] abuckley3385 commented on #11544
@arickalewis1 before we close this ticket I'd like to have the card sort and mockups in a space that can be accessed by the team outside github comments.  Please post your CardSort link or Screen shot and the mockups that were shown to veterans in the study.

[2020-08-12 13:46] jonwehausen commented on #12368
mrosario@governmentcio.com has been removed from Google Analytics and does not have DOMO access.

[2020-08-12 13:47] sanlouise opened #12399 "Update GA for connected apps"
See conversation [here](https://github.com/department-of-veterans-affairs/va.gov-team/issues/9488)

We need to make small updates to the events we're tracking.

here is a dataLayer spec for Connected Apps disconnect:

[code]

[code]

[2020-08-12 13:47] jonwehausen commented on #12369
No Google Analytics or DOMO access

[2020-08-12 13:49] sanlouise commented on #9488
@bsmartin-ep Unless @markgreenburg sees an issue with the updates, on my end this would be absolutely no problem! I created [this ticket](https://github.com/department-of-veterans-affairs/va.gov-team/issues/12399) and will ping you Brian once it's merged.

[2020-08-12 13:49] ncksllvn commented on #12181
Yeah what Jen said - VA network or the SOCKS proxy. Here's a [screenshot of the form detail page for 10-10EZ](https://user-images.githubusercontent.com/1915775/90022701-d83ca880-dc80-11ea-9bb4-9eb8da216686.png) though, which the preview link should have taken you to. Ignore the "you are viewing a draft" message and "Edit this page in the CMS" link.

I think that is out of scope for this

[2020-08-12 13:49] katieho-va opened #12400 "Design Intent Collaboration for IRIS (Team Orchid)"
## Steps to complete Design Intent Collaboration
- [x] Product Manager or Designer: create this issue and fill in feature name in the title and other bolded information appropriately
- [x] Link to this issue once created in #design in Slack; tag @ Crystabel Reiter @ Emily
- [x] Crystabel and Emily to schedule meeting with VSP reviewers and Team Orchid attendees (as listed below)
- [x] At least 2 d

[2020-08-12 13:51] jonwehausen commented on #12273
Kim Mueller has no GA or DOMO accounts.

[2020-08-12 13:53] jenniferlee-dsva commented on #12181
This alert message for the form detail page only.

In the search if a form has an invalid PDF, the API/FE logic suppresses the form from appearing at all in search results. I have a separate request out to the LH team to send form managers an autonotification of forms with invalid PDFs, so the form managers can resolve them at the source.

[2020-08-12 13:54] ncksllvn commented on #12181
@jenniferlee-dsva I missed your comment, sorry about that -

I can definitely capture a screenshot and locally I can test using just a spoofed form URL to trigger the message. During formal QA though, Tze may need a URL that is set up to trigger the invalid-pdf message. I think we have what we need for now though 🙂

[2020-08-12 13:55] andaleliz commented on #12181
Thanks, and sounds good. I'll give this my full attention after synthesis is published for LC MVP (should be by EOD today)

[2020-08-12 14:03] jonwehausen opened #12401 "GIBCT Profiles Text Field Changes firing multiple events"
## Description of Bug

### GIBCT Form Change for Text Fields
- The dataLayer push seems to be happening on every keystroke, for example inputting 100 is pushing on `1`, `0`, `0`. **We will want to adjust this event listener to be on click away from the text field -- indicating the user has finished inputting their adjusted numbers**. See the example screenshot below firing 3 separate `gibct-form-c

[2020-08-12 14:04] jonwehausen commented on #9991
@dneel-bah @amyknox Closing this issue in place of bug-specific ticket for item outlined above.

[2020-08-12 14:04] #9991 closed

[2020-08-12 14:06] peggygannon commented on #12255
hello! @RLHecht the chatbot isn't yet updated, so let's wait until that change is live, then we can close this ticket.

[2020-08-12 14:07] RLHecht commented on #10785
These numbers have been checked and updated. @lunascoop I am going to break out these tickets so we can close them once the work is ready for stakeholders and we'll have a new ticket for approval, changes and publishing.

[2020-08-12 14:09] sonntag-adam commented on #11730
https://dsvavsp.testrail.io/index.php?/tests/view/11013&group_by=cases:section_id&group_order=asc&group_id=46

[2020-08-12 14:12] erikphansen commented on #12346
The PR is still pending.

[2020-08-12 14:13] desireeturner commented on #9953
Moved to Icebox until the new responsive table component is available.

[2020-08-12 14:14] mdewey opened #12402 "Clipboard Feature Flag"
Front End
## Product Documentation
[Questionnaires Product Outline ](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/product-outline.md)
- [Visit Intro Initiative (Proof of Concept)](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/initiatives/visit-intro.md)

Cr

[2020-08-12 14:15] jonwehausen commented on #12065
Hi @zachgoldfine44 ,

Thank you for your patience on this request. You should have received an email notification indicating you now have been provisioned Google Analytics access through your va.gov email.

Let us know any further questions you may have!

[2020-08-12 14:15] #12065 closed

[2020-08-12 14:15] lwalsh617 commented on #8437
Closing this ticket. Added the Drupal preview link to [Life insurance rewriting batch 3: Content Review #12267](https://github.com/department-of-veterans-affairs/va.gov-team/issues/12267)

[2020-08-12 14:15] #8437 closed

[2020-08-12 14:16] lwalsh617 commented on #8545
Closing this ticket. Added the Drupal preview link to [Life insurance rewriting batch 3: Content Review #12267](https://github.com/department-of-veterans-affairs/va.gov-team/issues/12267)

[2020-08-12 14:16] #8545 closed

[2020-08-12 14:17] jonwehausen commented on #12182
Thanks @ala-yna , confirming receipt. We will get back with you as soon as we can here.

[2020-08-12 14:17] RLHecht opened #12403 "Get SME approval and publish 2018 and 2019 historic pension rates pages"
## Issue Description
Cloned 2018 and 2019 pension rates pages need stakeholder approval before publishing. This ticket captures us getting approval, making changes and publishing with correct URLs.

2018 Survivors Pension rates: http://preview-prod.vfs.va.gov/preview?nodeId=6859
2019 Survivors Pension rates: http://preview-prod.vfs.va.gov/preview?nodeId=6861
2018 Veterans Pension rates http://prev

[2020-08-12 14:18] lwalsh617 commented on #8547
Closing this ticket. Added the Drupal preview link to [Life insurance rewriting batch 3: Content Review #12267](https://github.com/department-of-veterans-affairs/va.gov-team/issues/12267)

[2020-08-12 14:18] #8547 closed

[2020-08-12 14:18] jonwehausen commented on #12182
@bmcgrady-ep to fulfill reporting request at earliest convenience.

[2020-08-12 14:20] lwalsh617 commented on #8541
Closing this ticket. Added the Drupal preview link to [Life insurance rewriting batch 3: Content Review #12267](https://github.com/department-of-veterans-affairs/va.gov-team/issues/12267)

[2020-08-12 14:20] #8541 closed

[2020-08-12 14:21] jbalboni commented on #11985
@jenniemc Typically we do this as a validation error message that says something like "You must choose a date less 395 days in the future." @rtwell and @peggygannon can come up with the exact wording and maybe if there should be extra explanatory text on the page, but the validation error is the main thing.

[2020-08-12 14:21] #11623 closed

[2020-08-12 14:25] massrb opened #12404 "[BE] Service for Retrieving Appointment Details"
## Product Documentation
[Questionnaires Product Outline ](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/product-outline.md)
- [Visit Intro Initiative (Proof of Concept)](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/initiatives/visit-intro.md)
- [Feature -

[2020-08-12 14:26] jbritt1 commented on #11699
Nancy [submitted one for him yesterday](https://github.com/department-of-veterans-affairs/github-user-requests/issues/3601), just hasn't been pick up yet

[2020-08-12 14:27] CrystabelReiter commented on #12400
Scheduled August 17 3:30-4 pm. Thanks!

[2020-08-12 14:27] katieho-va commented on #12400
@CrystabelReiter Sorry, just updated to Tuesday timeslot if that works instead?

[2020-08-12 14:27] ksantiagomorgan6 commented on #10201
Can not test this issue without a local build on an iPhone, The xcode accessibility inspector shows the same for working and non working learn more links.

[2020-08-12 14:34] CrystabelReiter commented on #12400
that still works! @katieho-va I'll update

[2020-08-12 14:37] sanlouise commented on #12399
@bsmartin-ep For the 'error-key' when disconnecting has failed, what is the `error message` we want to record? Do we want to use the error `code` or `status`? I am seeing both being used in different parts of the application.

![image](https://user-images.githubusercontent.com/14869324/90028389-db329b80-dc76-11ea-9c46-c450c8eaba1d.png)

[2020-08-12 14:38] mmiddaugh opened #12405 "Research plan for vaccination service"
## Issue Description
How might we support Veterans searching for vaccination services?

## Goals of research
Learn the Veteran mental models for vaccination within the health service taxonomy, primarily for VAMCs
- Where in the VHA taxonomy do Veterans expect vaccination services to be found?
  - For example, do they expect to find it under primary care, with pharmacy (related to "medication"), un

[2020-08-12 14:39] ricetj commented on #11699
Looks like @pnwstevan is now in the GH Org 🎉

[2020-08-12 14:40] massrb opened #12406 "Figure out how questionnaire data should flow through our systems to a veterans clinical care team"
## Product Documentation
[Questionnaires Product Outline ](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/product-outline.md)
- [Visit Intro Initiative (Proof of Concept)](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/initiatives/visit-intro.md)
- [Feature -

[2020-08-12 14:40] mmiddaugh opened #12407 "Placeholder for urgent care mashup punchlist"
This issue to document design changes which need to be implemented following Leyda's review of the new mashup design.

[2020-08-12 14:42] amyknox commented on #10179
@CrystabelReiter - closing the loop on older stories.  Do you have a screenshot of where this is happening? I'm not able to reproduce that specific issue.

[2020-08-12 14:43] ricetj commented on #11699
ok nevermind, we can assign him now, but still not in the Org 😞

[2020-08-12 14:44] rileyorr commented on #11935
Hi @peggygannon! Thank you for proving that feedback. Did the JTF provide a reason about why they'd like us to display a general COVID alert instead of telling Veterans that debt collection has been suspended due to the pandemic and linking to the coronavirus FAQs for more information?

[2020-08-12 14:51] CrystabelReiter commented on #10179
@amyknox Here is the screenshot that I found in my old notes:
<img width="517" alt="Screen Shot 2020-08-12 at 10 50 59 AM" src="https://user-images.githubusercontent.com/18386248/90030189-c01d5700-dc89-11ea-9541-946dca932288.png">

[2020-08-12 14:57] dneel-bah commented on #6233
Closing this epic as all issues have been closed out and the PI has been completed.

[2020-08-12 14:57] #6233 closed

[2020-08-12 15:01] ccruzgra commented on #10179
@CrystabelReiter @amyknox Looks like the yellow warning alert is similar to these "Background color only" alerts: https://design.va.gov/components/alertboxes#background-color-only

In that case, maybe the blue one is the one that shouldn't have the icon? Although, I agree icons are helpful in conveying meaning. Maybe the background color only alerts need to be revised.

[2020-08-12 15:01] #12367 closed

[2020-08-12 15:02] johnhashva commented on #7549
Closing this ticket (per @MickinSahni agreement) as the BAM teams are leading the Collab Cycle process for their individual Wizard efforts.   More [here.](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/public-websites/how-to-apply-wizards/status_reports/status.md)

[2020-08-12 15:02] #7549 closed

[2020-08-12 15:03] lenaecb opened #12408 "(wip) Update Cerner URLs (staging and prod)"
Please find the links below to go to direct pages within My VA Health patient portal Non-Production (this has been completed and tested already) and PROD.  Can you please identify when the VA.gov and My HealtheVet PROD sites will be available for testing these links?  Additionally, when language will be updated to direct Veteran appropriately from VA.gov and My HealtheVet?  It is preferred to test

[2020-08-12 15:03] oksana-c commented on #12066
@jenniferlee-dsva , dedicated COPE FAQ UI is not a part of a LC MVP.

in the meantime, the content team can add single "Q&A" and "FAQ - multiple Q&As" pages straight from the available Content Types list - https://prod.cms.va.gov/node/add

The process of entering Q&A content should begin with creating single Q&A pages. Then, if you need to compose a page with a collection of Q&As as shown on the L

[2020-08-12 15:05] rileyorr commented on #11578
Peggy's given me [her feedback for this alert](https://github.com/department-of-veterans-affairs/va.gov-team/issues/11935). Going to forward these updates to Brad

[2020-08-12 15:06] mchelen-gov commented on #12316
@gmaciolek yeah that would be great, thanks! there are quite a lot of tool/system access docs, anything you can do to deduplicate or consolidate them would be really helpful. i'm not sure what all these processes *should* be but maybe we can start by describing how they currently work.

[2020-08-12 15:06] katieho-va commented on #12400
@murrayra to add designs here, after internal ThoughtWorks team review

[2020-08-12 15:09] #11630 closed

[2020-08-12 15:14] #12309 closed

[2020-08-12 15:15] #10488 closed

[2020-08-12 15:15] #12360 closed

[2020-08-12 15:15] alexpappasoddball commented on #11505
@omgitsbillryan link the PRs you reviewed and close out when you are done

[2020-08-12 15:17] jason-gcio opened #12409 "Content Revisions for CH31's Prototype"
## Goal
Given feedback, we need to implement the latest content changes for CH31 so the feature is copy complete and ready to go.

## Tasks
- [x] Take the [recommendations](https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/11434) ([Crystabel's](https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans

[2020-08-12 15:19] CrystabelReiter commented on #10179
@ccruzgra True, I think right now adding the icon is optional with these background alerts. I think we can keep the alerts as they are here.

I can bring up this alert question to the design system council and see if we'd like to change the documentation on these bg alerts to be more clear whether we should use icons or not.

[2020-08-12 15:20] jason-gcio opened #12410 "Content Revisions for CH36's Prototype"
## Goal
Given feedback, we need to implement the latest content changes for CH31 so the feature is copy complete and ready to go.

## Tasks
- [x] Take the [recommendations](https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/11794) and update the features' prototypes

## Acceptance Criteria
- [x] The prototypes are updated with the lates

[2020-08-12 15:22] murrayra commented on #12400
Will also add a few notes on the design decisions that shaped the creation of the wireframes, and specifically any questions or areas where we'd love some feedback.

[2020-08-12 15:23] oksana-c commented on #12066
Checklist content type is available for test data entry - https://prod.cms.va.gov/node/add/checklist

[2020-08-12 15:26] jason-gcio opened #12411 "Content Revisions for View Payment's Prototype"
## Goal
Given feedback, we need to implement the latest content changes for CH31 so the feature is copy complete and ready to go.

## Tasks
- [x] Take the [recommendations](#) and update the features' prototypes
- [x] Update the changelog in {feature-name}/research-design

## Acceptance Criteria
- [x] The prototypes are updated with the latest recommendations, as needed
- [x] Prototypes are shared

[2020-08-12 15:26] amyknox commented on #10179
@CrystabelReiter - what do you think the turnaround on the query to design council might be? Ideally we can get the answer quickly and make an update so the alerts are consistent.

[2020-08-12 15:26] rumyeahs commented on #12255
@peggygannon and @RLHecht We have these content changes up on staging at https://staging.va.gov/coronavirus-chatbot/
Can you please take a look and let us know if this is good to push to prod. We will change the Last Updated Date to 11 Aug 2020, to keep it consistent with the FAQ page.
Thank you!

cc: @shefalinayak

[2020-08-12 15:28] CrystabelReiter commented on #10179
@amyknox Can I get you an answer by end of day?

[2020-08-12 15:29] #11260 closed

[2020-08-12 15:29] peggygannon commented on #12337
@RLHecht per JTF feedback, we are going to keep the original Visitation FAQ, but we need to make this minor edit below to current content:

Can you update drupal and I will do the chatbot?

**Can I visit a patient at a Department of Veterans Affairs facility?**
We’re currently following CDC guidelines and limiting visitors for patients receiving care in a VA facility, including a hospital, nursing

[2020-08-12 15:40] f1337 opened #12412 "CI version-check script for vets-json-schema"
because folx have merged breaking changes w/o bumping the version number in package.json, blocking other teams. look in Slack over the past month for examples. more details later.

[2020-08-12 15:46] jason-gcio commented on #11822
Does this PR need to be poked?

[2020-08-12 15:48] kevinmirc opened #12413 "Remove veteran status search on 10-10cg submissions"
Since veteran status searches with an ICN aren't working, remove the vet status search on 10-10cg until we get a better solution / workaround in place or the ICN based searches are fixed.

[2020-08-12 15:48] ricetj commented on #12247
This is being pushed back by a week per conversations in slack: https://dsva.slack.com/archives/CKCRMLGAC/p1597062982488700

[2020-08-12 15:50] massrb commented on #11669
The lighthouse team has been having meetings on this but hasn't said anything definitive for us. I have been trying to make sure that the slack discussion continues with informational updates

https://lighthouseva.slack.com/archives/CB0DV4HC5/p1597094739210100

The last comment was: We have a sprint planning meeting tomorrow. We'll make sure this usecase is included in the discussion of priorities

[2020-08-12 15:52] kevinmirc commented on #12212
All veteran status searches with an ICN fail with the error:
[code]

I've tested this by going though our staging user and querying emis with their icn and their edipi. icn based searched will fail even when the edipi based search was successful, for the same user.

[2020-08-12 15:52] jenstrickland opened #12414 "508-defect-2 [SCREENREADER, COGNITION]: if links are different, they MUST communicate their differences"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

**Feedback framework**
- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

Screen reader users may navigate a page by keyboard

[2020-08-12 15:54] kevinmirc opened #12415 "Update our staging users list with veteran status, icns, and edipis"

[2020-08-12 15:56] arickalewis1 commented on #11544
Attached are the screens shown to Veterans in the study.
![Veteran info 1](https://user-images.githubusercontent.com/54509359/90037970-71bc8800-dc8a-11ea-8231-fd70b1f50059.png)
![reason for visit](https://user-images.githubusercontent.com/54509359/90037980-741ee200-dc8a-11ea-8a31-b4048f5ee19c.png)

[2020-08-12 15:57] RLHecht commented on #12337
@peggygannon These has now been updated in FAQs. Ready for your review.

[2020-08-12 15:57] arickalewis1 commented on #11544
@abuckley3385 done, link in acceptance criteria

[2020-08-12 15:58] arickalewis1 commented on #11839
This one is finished @abuckley3385

[2020-08-12 15:58] #11839 closed

[2020-08-12 16:00] Clark-W-Griswold commented on #11594
It's just our catch all in the case that the environment is production. Sorry for lack of clarity there.

so if the following conditions are NOT met:
[code]

Then we conditionally set the `submitButton` variable (which is the placeholder for the submit button) based on the following logic:
[code]

[2020-08-12 16:00] luke-gcio opened #12416 "[Discovery] JSON Schema: Front End Seems to Use Three Different Schemas"
## Issue Description
We have three sources of schema's (vets-api, vets-json, lighthouse).

## Acceptance Criteria
- [ ] Determine why we have so many and whether there are consolidation/deletion/combination options
---
## How to configure this issue
- [x] **Attached to a Milestone** (when will this be completed?)
- [x] **Attached to an Epic** (what body of work is this a part of?)
- [x] **Labeled

[2020-08-12 16:00] kathleencrawford commented on #11822
No, it has gotten eyes on it, but is going through a feedback/update loop.

[2020-08-12 16:12] SgardnerPMP opened #12417 "Business Optimization] Create user instructions for stakeholders to complete Health Services Data call [BA]"
## Story
As a PAO and webmaster I need to understand each of the data columns and how to fill them out, so I can quickly and accurately respond to the data call.

## Goal
Provide a general and thorough instruction/guideline to stakeholders so they can quickly respond to data call requests

## Resources
[VISN-19 Playbooks](https://drive.google.com/drive/folders/1mXSsjBi8ts0pTWRUSfffSV0CmTgY2F0z)

#

[2020-08-12 16:15] #11838 closed

[2020-08-12 16:15] SgardnerPMP opened #12418 "[Business Optimization] Build test, and provide updated .csv files for CMS team to migrate System Health Services for VISN-19 [PM]"
## Story

## Goal

## Resources

## Tasks

## Acceptance Criteria

[2020-08-12 16:20] kathleencrawford commented on #11822
This has been approved and merged.

[2020-08-12 16:21] ccruzgra commented on #10179
@CrystabelReiter Sometimes I've noticed confusion between which is which for the featured content component vs. the blue background color only alert since they are a similar color:

https://design.va.gov/components/featured-content

[2020-08-12 16:22] U-DON commented on #8983
Might want to look into using [`React.lazy`](https://reactjs.org/docs/code-splitting.html#reactlazy).

[2020-08-12 16:25] jason-gcio opened #12419 "Create prototype for search/appoint representative (VSO)"
### Background
We need to review and refine the current Search Rep mockups. A functioning prototype is needed for usability testing and capturing latest design/508/IA/content feedback.

### Considerations
Prototype will need to be built using UXPin. Mobile layout should be used.

### Tasks
- [x] Incorporate latest design feedback
- [x] Implement 508 feedback
- [x] Address IA and content feedback
-

[2020-08-12 16:28] CrystabelReiter commented on #10179
Talked to Ryan T (visual design lead at DEPO) and got an answer!  He thinks we should add the :warning: icon to the GI Bill alert. The yellow alert seems severe enough to call attention to it differently than the VR&E message.

@ccruzgra I've seen that confusion as well. I made a ticket around alerts for the design system consistency audit that addresses that.

[2020-08-12 16:29] CoryTrimmUSDS commented on #9480
It appears that EVSS does not have this in production. [See thread here](https://dsva.slack.com/archives/C8R3JS8BU/p1589393762200800).

This could be something that could be a fast-follow on for work after SSOe Outbound is up and functioning at a better level.

CC: @jholton @benniemosher @christine-dillman

[2020-08-12 16:42] desireeturner commented on #12341
@1Copenut We've looked into this issue and have determined that this functionality is also part of the forms system (this is how the form system works for `ui:required` fields). Is this another one you can pass along for the platform team to review?

[2020-08-12 16:43] peggygannon commented on #12255
HI, @rumyeahs and @shefalinayak Updated chatbot looks good. Thank you! We're good to push this to PROD

[2020-08-12 16:44] delli-gatti-michael commented on #12205
[307_08122020_070002_vetsgov.txt](https://github.com/department-of-veterans-affairs/va.gov-team/files/5064183/307_08122020_070002_vetsgov.txt)

Spool file entry is as expected. Closing this issue

[2020-08-12 16:44] #12205 closed

[2020-08-12 16:45] LEHigley commented on #12383
looks like he's a full member

[2020-08-12 16:45] #12383 closed

[2020-08-12 16:48] jason-gcio opened #12420 "Introduce New Communication Preferences into `vets-json-schema` for CH31"
# Background
Now that we have created the pages and fields for the Chapter 31 form we need to move all of the schemas into the `vets-json-schema` repo.

(A new section of the form that indicates how the Veteran would like to be contacted.)

## Tasks
- [ ] Add new fields to `vets-json-schema` for chapter 31
- [ ] Bump the version number for chapter 31 in `vets-json-schema`
- [ ] Add unit tests for

[2020-08-12 16:48] Clark-W-Griswold commented on #11594
@jonathanjnelson given the above behavior of the submit buttons on the review page, is there an alternative expectation around when a submit button should/should not be displayed? Possibly a specific condition/response from the API would be subject to that case?

[2020-08-12 16:50] #12039 closed

[2020-08-12 16:52] sonntag-adam commented on #11730
@department-of-veterans-affairs/uxbah The fix for this is now on Staging

[2020-08-12 16:56] billfienberg commented on #11911
Closing in lieu of https://github.com/department-of-veterans-affairs/va.gov-team/issues/11519

[2020-08-12 16:56] #11911 closed

[2020-08-12 16:57] jason-gcio opened #12421 "Write Unit Test for Static Veterans Information Page (CH31)"
## Background
In order to make sure that the Static Veterans Information page behaves as expected we need to write unit tests for it. The established standard for VA.gov is 80% test coverage so we need to at least achieve this for the Additional Information page.

## Tasks
- [ ] Set up test file
- [ ] Write unit tests for Static Veterans Information page
- [ ] Submit a PR for review

## Acceptance

[2020-08-12 17:02] #12026 closed

[2020-08-12 17:03] #12031 closed

[2020-08-12 17:04] jenstrickland opened #12422 "508-defect-2 [MOBILE-DESIGN]: Mobile layout SHOULD be legible and easy-to-use"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

On the mobile device tested (iPhone 8+), the table

[2020-08-12 17:05] billfienberg opened #12423 "[Post-release] Update old Drupal content deploy trigger (CMS Team to execute)"
After the revproxy config in prod has been updated to use the content bucket instead of the original bucket, we should should remove the old drupal content deploy trigger so stop deploying content to the original bucket.

[2020-08-12 17:12] abuckley3385 commented on #12404
@massrb what backend service is this for...can you please associate a Epic and give a description of what this back end service is expected to achieve. Also please estimate this ticket.

[2020-08-12 17:14] abuckley3385 commented on #12406
@massrb  can you please describe the feature that this ticket goes with?  The FHIR client you are looking into is for what fields/features.  Please link to the EPIC and estimate the ticket.

[2020-08-12 17:15] abuckley3385 commented on #12291
@mdewey please add an estimate to this issue

[2020-08-12 17:16] Clark-W-Griswold commented on #9683
@meganhkelley sorry I missed this.

Yes, this functionality has been added:
https://github.com/department-of-veterans-affairs/vets-website/commit/f80e3f44535ff012656df4d53b398a967e7d2965#diff-75b3292e450e9eb8f95e9733d550e022

[2020-08-12 17:17] leahkeeler commented on #11935
Hi @peggygannon We received substantial pushback from our stakeholders at the DMC over the proposed covid alert. Their position is it will confuse the veteran more than explain and will generate more calls to the contact center. What do we need to do to revisit the original alert?  Happy to jump on a quick call with @mattpointzxer0

[2020-08-12 17:17] elder-joseph commented on #12338
Hey @1Copenut, after looking through some other “review-and-submit” pages, I was able to find the same behavior was also present in the 1995 form for “Education Benefit” and potentially in other places throughout the app.

I was able to identify a fix, but it would be a platform wide fix by making a change in the
`vets-website/src/platform/forms-system/src/js/utilities/ui/index.js`
The fix I found

[2020-08-12 17:18] #12413 closed

[2020-08-12 17:27] jenstrickland commented on #12166
### Tickets will be documented, notes taken here from the VA environment.

**CMS landing page**
1. The heading level issue is with the Option 1: Pay online, Option 2: Pay by phone, and Option 3: Pay by mail. Each of these are `h4`, but there isn't a preceding `h3`. These should be `h3`s.

![Screen Shot 2020-08-12 at 1 19 21 PM](https://user-images.githubusercontent.com/57469/90046445-7b4feb00-dc9e

[2020-08-12 17:28] MickinSahni commented on #10638
Hey @pjhill @tlei123 we're targeted 8/21 for our initial Cerner go-live. Do we have test cases wrapped up in TR? Is there anything you need from Public Websites?

[2020-08-12 17:30] cohnjesse opened #12424 "Create Schema File for Chapter 36 in vets-json-schema"
# Background
Now that we have created all the fields in the Chapter 36 form we need to copy the schema for those fields into `vets-json-schema`.

## Considerations
- Meet with BE as well

## Tasks
- [x] Build out for fields for chapter 36 form in `vets-json-schema`
- [x] Bump version number in package.json in `vets-json-schema`
- [x] Update commit hash in package.json in `vets-website`
- [x] chang

[2020-08-12 17:33] jason-gcio opened #12425 "[MINI] Dependency Claims Internal Testing"
## Background
Given that all the PRs are complete, BE needs to do internal testing to see how and where anything needs to be adjusted for the submission process.

## Tasks
- [x] Discover and implement existing codebase to reflect the requirements of RBPS
  - [x] Split 686 and 674 to separate forms upon submission
    - [x] Split the model
    - [x] Split higher ed services
    - [x] Split the job

[2020-08-12 17:33] edmangimelli commented on #7197
Double-checked some things in vets-api (double-checked with Cameron Testerman too), and spoke with Robin Garrison again this morning:

vets-api is /not/ using the same HLR schema as vets-website.
Robin says vets-website doesn't actually use the schema in vets-json-schema

[2020-08-12 17:38] rileyorr commented on #11935
Hey @peggygannon, I was looking at [the content review ticket for empty states](https://github.com/department-of-veterans-affairs/va.gov-team/issues/11902) and I want to verify: is the JTF also saying we're not allowed to use [the COVID-related empty state](https://preview.uxpin.com/8019d7c491dc05231e456a666928bd6a5ca40e6e#/pages/131174235/simulate/sitemap?mode=i)? We need to provide context for w

[2020-08-12 17:38] #11827 closed

[2020-08-12 17:38] bradl3yC commented on #12190
@jenstrickland this has been resolved and is ready to be validated in staging

[2020-08-12 17:40] lenaecb opened #12426 "Alert - EC request limit reached"
If a Veteran has too many open requests for Express Care concurrently, they need to be prompted with an alert that they have reached their limit for express care requests.

## Acceptance criteria:
- [ ] request care limit check happens when Veteran clicks "Continue express care request" on the How express care works
- [ ] if veteran has reached limit they are how the 'request limit' alert

[2020-08-12 17:40] #12119 closed

[2020-08-12 17:42] #11877 closed

[2020-08-12 17:42] lenaecb opened #12427 "Limit EC window date and times for inactive state"
When the EC window is inactive, we want to limit the future windows we show for Veterans so it's not overwhelming.

## Acceptance criteria:
- [ ] if today's EC window is in the future, show today's date and time
- [ ] if today's EC window is in the past, show tomorrow's date and time

[2020-08-12 17:45] #7561 closed

[2020-08-12 17:53] peggygannon commented on #11935
hello! @leahkeeler @mattpointzxer0 @rileyorr I'm happy to get on a call to talk through. I realize an alert about the debt letters not being mailed out, but showing up on tool is needed. We can try to make this one more general and not tie it to "debt collection being suspended or on hold"

[2020-08-12 18:01] #11886 closed

[2020-08-12 18:05] tlei123 commented on #10638
@pjhill , I'm assuming you got this, but do let me know if you need me to jump back in.

[2020-08-12 18:08] mpelzsherman opened #12428 "FL search result header shows code instead of name for VA benefits service type"
## What happened?
When searching for VA benefits, the service type code is shown instead of the human-readable name.

Bug:
![Find_VA_Locations___Veterans_Affairs.png](https://images.zenhubusercontent.com/5ee91ea93ee2bbe222cd827f/96a0a434-67f2-47b9-a5b0-8264c28c737b)

Fix:
![Find_VA_Locations___Veterans_Affairs.png](https://images.zenhubusercontent.com/5ee91ea93ee2bbe222cd827f/659a44c2-4751-4ac4-a1

[2020-08-12 18:09] MickinSahni commented on #12365
@ncksllvn @kelsonic to groom this sprint (28)

[2020-08-12 18:11] jenstrickland commented on #12190
I'm sorry, @bradl3yC — I'm still seeing this, even after a hard reload. Is it possibly due to it happening in a couple of the sr-only spans?

![Screen Shot 2020-08-12 at 2 09 47 PM](https://user-images.githubusercontent.com/57469/90051421-aa1d8f80-dca5-11ea-9d65-b2fd858e05d3.png)

[2020-08-12 18:17] Samara-Strauss commented on #11573
@Kimberley2019 any updates here? We are wondering if we can close this out or if you need anything else from us.

[2020-08-12 18:20] Samara-Strauss commented on #12397
Can we get this on the calendar for late next week, maybe Thursday the 20th (I'm planning on taking off on Friday)? If we're able to proceed with UAT, we need to give at least a week for recruiting, so I want to make sure we've made this determination prior to the last day of the sprint.

If that Thursday is too soon, let's do Monday the 24th.

[2020-08-12 18:21] erikphansen commented on #12278
Gonna remove @mnorthuis from this since all the required info is in this ticket now.

[2020-08-12 18:23] jhonnyoddball commented on #12007
Done!

[2020-08-12 18:23] #12007 closed

[2020-08-12 18:24] short000 commented on #11770
From: Paul Short <pshort@governmentcio.com>
Date: Thu, Aug 6, 2020 at 5:09 PM
Subject: Re: FW: PSC Metrics VA.GOV
To: Murrill, Cameren P. (Favor Tech) <Cameren.Murrill@va.gov>
Cc: Salvato, Stephanie (Favor TechConsulting) <Stephanie.Salvato@va.gov>

After checking back with ops, here are my responses:

 [2] I've answered with Mean-Time-to-Repair (not Mean Time to Restore [a Service]). This is time

[2020-08-12 18:24] #11770 closed

[2020-08-12 18:31] jenstrickland opened #12430 "508-defect-2 [HEADING, COGNITION]: Heading levels SHOULD only increase by one"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

**Feedback framework**
- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

At the top of the CMS authoring system, there is a

[2020-08-12 18:32] mchelen-gov opened #12431 "Investigate options for document management"

[2020-08-12 18:36] #12035 closed

[2020-08-12 18:45] tlei123 commented on #11335
thx, @jenniferlee-dsva !  Never mind about mapping the top-40 forms to use-cases from your end.

I can now log into prod.cms.va.gov, so i'll sort them out.

@MickinSahni , expect an update on TR test-cases some time tmrw (Thu).  We're looking good for having those finalized by end of week.  :)

@pjhill , nvm about access the top-40 forms; i got that figured out now.

[2020-08-12 18:46] leahkeeler commented on #12370
This is still under review -- please wait on this tix until a final decision is made

[2020-08-12 18:50] Mottie commented on #11801
While I searched through caseflow's repository, it appears that all the above events were accounted for, and I did not discover any missing events. Luckily @edmangimelli spotted a Sentry entry - http://sentry.vfs.va.gov/vets-gov/website-production/issues/34946/?query=appeals-unknown-event - that shows the error is from a `remand_return` status.

`remand_return` is listed as a legacy event in [this

[2020-08-12 18:53] mchelen-gov commented on #9508
It looks like currently CircleCI does not flag or enforce any level of test coverage, is that correct?

[2020-08-12 18:55] #11984 closed

[2020-08-12 18:55] #11505 closed

[2020-08-12 18:59] #11488 closed

[2020-08-12 19:03] mchelen-gov commented on #11691
:heavy_plus_sign: for enabling `no-unused-vars`
i'm guessing the number after the `//` is the number of errors from that rule?

[2020-08-12 19:08] sanlouise commented on #11489
@peggygannon No rush at all, but do you have any updates on the desired TTY number?

[2020-08-12 19:12] #11822 closed

[2020-08-12 19:13] cvalarida commented on #1726
Ooh, good call. Totally forgot about this. I'm sure it's still applicable, but it's a pretty low priority, I think. I'm not sure how often the stars align for this to to happen these days. And when it does, it just means we're using more Jenkins juice than we need to for like another 5 minutes tops, I'd estimate.

Closing now because I'm not convinced it's worth the time spent on it.

[2020-08-12 19:13] #1726 closed

[2020-08-12 19:13] #12113 closed

[2020-08-12 19:13] rianfowler opened #12432 "Enforce unit test coverage on vets-website"

[2020-08-12 19:16] johnhashva opened #12433 "Project Kickoff: VA.gov Search Type Ahead"
## Steps to complete Project Kickoff
- [X] Product Manager: create this issue and fill in feature name in the title and other bolded information appropriately
- [x] Link to this issue once created in [#vfs-platform-support](https://dsva.slack.com/channels/vfs-platform-support) in Slack; tag @ AndreaHewitt @ Mandi Lipka
- [x] Andrea will schedule meeting with VSP reviewers and **requesting team** a

[2020-08-12 19:23] jsev-io commented on #12379
@nathanbwright Please verify you've got access to the socks proxy

[2020-08-12 19:23] jsev-io commented on #12371
@michaelkimball Please verify you've got access to the socks proxy

[2020-08-12 19:24] jsev-io commented on #12377
@ediiotero Please verify you've got access to the socks proxy

[2020-08-12 19:27] jhonnyoddball commented on #11691
That is correct!

[2020-08-12 19:30] mchelen-gov commented on #12432
possible checks:
- overall code coverage must increase or stay the same due to code coverage
- apply minimum [application code coverage](https://github.com/department-of-veterans-affairs/va.gov-team/issues/184) based on files modified

relevant tools:
- https://coveralls.io/
- https://codecov.io/

it might also be worth making code coverage more visible, regardless of enforcement?

[2020-08-12 19:31] jsev-io commented on #12377
cc: @Jeff-Hayter requesting approval for AWS access

[2020-08-12 19:31] jsev-io commented on #12371
cc: @Jeff-Hayter requesting approval for AWS access

[2020-08-12 19:31] jsev-io commented on #12379
cc: @Jeff-Hayter requesting approval for AWS access

[2020-08-12 19:31] mpelzsherman commented on #11691
Is it necessary for ALL of these rules to be re-enabled in one go? Or can we break this up into smaller chunks?

I'm happy to lend a hand if you need help with this. I'm particularly missing `no-unused-vars`.

[2020-08-12 19:35] mmiddaugh commented on #11776
Duplication is occurring in Swagger as well. Sent observations to OCC.

[2020-08-12 19:38] #5902 closed

[2020-08-12 19:39] mchelen-gov commented on #11840
@gmaciolek ah ok interesting, do you know where the issues are for that work?

i don't have any particular opinion on whether that should be done or not.

if it is still in discovery process, then the code should **not** be in the production codebase.

[2020-08-12 19:50] RLHecht commented on #12308
This page is reviewed and checked. Just waiting on the one outstanding question which @lunascoop and I slacked @bethpottsVADEPO about regarding the year in the Notes section.

[2020-08-12 19:54] amyknox commented on #9699
Musts

- [ ] Including question about how users will navigate to the form in user research.
We included questions about how users would navigate to the form in our first round of testing.  [Research readout is available here](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/education-careers/stem/stem-standalone-10203/research/22-10203-RogersSTEMScholarship-Testin

[2020-08-12 20:02] Mottie commented on #11801
There is also this list of appeals events that has extra entries that I'm not sure what to do with: https://github.com/department-of-veterans-affairs/vets-api/blob/master/lib/caseflow/schema/appeals_event.json

[2020-08-12 20:30] mdewey commented on #12402
Pull Request for API https://github.com/department-of-veterans-affairs/vets-api/pull/4707

[2020-08-12 20:51] leahkeeler commented on #12250
@ncksllvn Will we be able to get this in place for UAT testing this Friday ?

[2020-08-12 20:55] mpelzsherman commented on #12085
Provider (v1/facilities/ccp) |  
-- | --
Attribute Key | Where Used (under src/applications/facility-locator)
id | containers/FacilityLocatorApp.jsx
type |  
attributes: |  
access | components/AppointmentInfo.jsx
accNewPatients | unused - only used on Provider Detail page, which has been removed
activeStatus | unused
address | components/search-results/LocationAddress.jsx
mailing |  
physical |  

[2020-08-12 20:56] mpelzsherman commented on #12085
Facility (v1/facilities/va) |  
-- | --
Attribute Key |  
id |  
type |  
attributes: |  
access |  
activeStatus | unused
address |  
mailing |  
physical |  
zip, city, state, address1, address2, address3 |  
classification |  
facilityType |  
feedback |  
health |  
effectiveDate |  
hours (monday, tuesday... etc.) |  
id |  
lat/long |  
mobile | unused
name |  
operatingStatus |  
code |  
p

[2020-08-12 20:59] digitaldrk commented on #11828
https://github.com/department-of-veterans-affairs/vets-api/pull/4630

[2020-08-12 21:02] YanaRoy opened #12435 "Adding Craig Wheeler to DSVA Slack"
Hello! We have a new person starting with the VSA Project. Can you please add him as a full member to the DSVA Slack. Thanks!
Email: cwheeler@governmentcio.com

[2020-08-12 21:04] marisahoenig commented on #6671
Reopening to request AWS Console Access

[2020-08-12 21:12] mchelen-gov opened #12436 "Get OIT Screener under Federalist ATO"

[2020-08-12 21:12] jbritt1 commented on #6671
### AWS Approval

User: Marisa Hoenig
COR: Courtney Bethea
Approval needed: @Jeff-Hayter

[2020-08-12 21:16] jhonnyoddball commented on #11691
Well, I usually take 1 at the time. In addition, I have to group the errors by code owners and create multiple PRs for each code owner per rule.

Yeah, absolutely!

cc: @meganhkelley

[2020-08-12 21:31] tlei123 commented on #11342
@pjhill , i just attached @rileyorr 's Prod Moderated UAT spreadsheet up in the main Description above \[see **Moderated UATs on Prod** section].  On first scan, it looks plenty thorough to me.

Do feel free to take a look if you like.  Your input is very welcome.  Thx much!  :)

[2020-08-12 21:38] jonwehausen commented on #11513
### Update 8/12
- Maintained existing copies of VEO Dashboard using Google Analytics connector
- Created a separate VEO dashboard utilizing ONLY BigQuery connectors
- Setup the following datasets that can be reused where appropriate:
  - `BQ - All Transaction Events by Day`
  - `BQ - All Login Events by Day
  - `BQ - All Product Form Events by Day`
  - `BQ - Generic - Overall PV's Sessions, Users,

[2020-08-12 21:54] #12085 closed

[2020-08-12 21:56] jhonnyoddball commented on #12197
Done!

[2020-08-12 21:56] #12197 closed

[2020-08-12 22:01] LizCallaghan commented on #12435
done!

[2020-08-12 22:01] #12435 closed

[2020-08-12 22:20] peggygannon commented on #11489
Hi, @sanlouise 711 is the desired TTY number.

[2020-08-12 22:35] mnorthuis commented on #9086
Draft IA is posted for your review.  I still have some outstanding items to work through.
- clarification on form 28-0588 vs 28-1990
- discuss wizard flows and placement
- discuss entry points and content strategy with PW team

https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/information-architecture/ia-reviews/ebenefits-chapt31.md