[2021-12-16 15:34] #28429 closed

[2021-12-16 15:35] #28488 closed

[2021-12-16 15:35] julieadair1 commented on #28488
Closing this epic, as all related issues have been completed.

[2021-12-16 15:36] RLHecht commented on #34247
Thanks @MarciMcGuireGCIO. Public Websites will need to change the button link because this is inside a react widget and not in Drupal. Sitewide Content will be able to update the Contact information text though. You'll just need to let us know when this should be published to prod (it won't show in staging because we'll do the work in Drupal).

[2021-12-16 15:38] andaleliz commented on #33734
@Samara-Strauss out of curiosity, do you have any background info on this functionality? I'm curious why this checkbox exists in the home address but there isn't an equivalent in the mailing address, and also about the decision to have the blue background behind the checkbox. I imagine the latter is to separate it from the second checkbox but am not sure. Tressa wasn't sure either.

[2021-12-16 15:39] MarciMcGuireGCIO opened #34250 "[BE] Review and Verify API endpoints for Integration Experience team"
## Background
The Integration Experience team is requesting verification of some API endpoint ownership. https://dsva.slack.com/archives/CE4304QPK/p1639581752304000

## Tasks

- [ ] Review [Endpoint Ownership Inventory spreadsheet](https://docs.google.com/spreadsheets/d/1Aze2OD1X_kbzVTV-sWBYI-pyLCY_kImheuW4Qo6_qvA/edit#gid=1584543895)
- [ ] Confirm the information for the endpoints for our team is

[2021-12-16 15:41] andaleliz commented on #30112
@MarciMcGuireGCIO and @Samara-Strauss, aside from prescriptions and correspondence, are there other things the mailing address is used for that the stakeholders brought up (or you are aware of)? This will be helpful to know as we work on content.

[2021-12-16 15:43] Samara-Strauss commented on #33734
For most of your questions, tbh, I'm not sure. These decisions were made years ago, and I don't even think I was the person who made them at the time. So I'm sorry to not be more helpful, but I don't have any background context here.

I'm not sure this is the reason, but if I had to hypothesize, it's because the mailing address is seen as far more important than home address at the VA since all co

[2021-12-16 15:44] MarciMcGuireGCIO commented on #34250
@hdjustice for visibility.

[2021-12-16 15:49] SKasimow commented on #34055
@shiragoodman - I will add an overview and link to epic. Will ping you when ready.

[2021-12-16 15:50] Dene-human opened #34251 "Finalize design and copy for "Bet A" release of sign as a rep"
## High Level User Story
As a Veteran and/or Caregiver I want to be able to accurately say who is signing the 10-10CG.
As a legal representative of a Veteran, I want to know what type of document I should upload to prove my representative status.

## Goals
- Improve acceptance rate of the documents uploaded
- Decrease uploads for those who aren't a health care representative to a Veteran
- Not cau

[2021-12-16 15:51] michemax commented on #34249
allison.maxwell@va.gov

[2021-12-16 15:52] kelsonic commented on #34240
PR is up: https://github.com/department-of-veterans-affairs/devops/pull/10451

[2021-12-16 15:52] Samara-Strauss commented on #30112
It's used for all correspondence with the VA. Considering they still need to send written details for pretty much everything, that's *a lot* of stuff. I don't have a more detailed list than that, but I don't know that we need one beyond prescriptions + literally all other correspondence.

[2021-12-16 15:53] jenniemc commented on #32198
@cferris32 , looks like this branch was merged with master. Can we move this ticket out of code review into validation?

[2021-12-16 15:53] rbeckwith-oddball commented on #34227
SOCKS access has been enabled and your old key has been replaced. Please give it about 15 minutes before attempting to use it.

[2021-12-16 15:53] #34227 closed

[2021-12-16 15:57] kelsonic commented on #33998
On it ✅ PR incoming

[2021-12-16 15:58] MarciMcGuireGCIO commented on #34247
Thanks, @RLHecht! I'll put in a ticket for Sitewide Content as well.

[2021-12-16 15:59] #34239 closed

[2021-12-16 16:03] mnorthuis commented on #34240
@brianalloyd @kelsonic Ok, this is clear and ready to roll.  Thank you!

[2021-12-16 16:05] hdjustice commented on #34250
@MarciMcGuireGCIO Thanks! Should we have a separate ticket for My VA? or since Lihan would be reviewing the list for Profile, might as well include looking for My VA and just have this one ticket?  Either way is fine with me.

[2021-12-16 16:08] oseasmoran73 commented on #28386
Reopening ticket to address so flakiness if possible

[2021-12-16 16:09] rbeckwith-oddball commented on #34243
/request Olga Apolinsarka

[2021-12-16 16:13] rbeckwith-oddball commented on #34243
1. Not found in team roster
2. Not found in `global/config.yml`
3. No user found in AWS console or the iam user file
4. DSVA slack already checked, will send request anyhow
5. No pagerduty entry associated
6. No DataDog entry associated
7. No Sentry entry associated
8. User not found in github bot accounts

[2021-12-16 16:13] #34243 closed

[2021-12-16 16:13] MarciMcGuireGCIO commented on #34250
One ticket should work! 🙂

[2021-12-16 16:18] joshkimux commented on #19618
# Recommendations for profile markup
Currently a WIP-- will be testing with Angela in the coming week. My current thoughts are as follows:
- Grey background with bitter font family should always be a heading
- For simple title description pairings, description lists work great e.g. service history
- Currently _uncertain_ if description lists will work well with more complex title description pairi

[2021-12-16 16:18] kelsonic commented on #33998
cross-domain redirect PR: https://github.com/department-of-veterans-affairs/vets-website/pull/19709

other redirects PR: https://github.com/department-of-veterans-affairs/devops/pull/10452

[2021-12-16 16:20] julieadair1 commented on #11861
Let's keep this one in the icebox.  Per @kristenmcconnell this will be an important feature when we implement health questionnaires.

[2021-12-16 16:25] Cmjones233 commented on #30292
Dashboard complete. waiting for feedback/review from team

[2021-12-16 16:38] lianilychee commented on #33761
12/16:
- got sucked by into insurance 😅
- today:
  - style guide review, see if anything is missing
  - could use 1:1 on YAML, also sent backup event for tmr
  - want to talk to Samara abt how we're collaborating, dpeends on Liani:Amy

[2021-12-16 16:39] mchelen-gov commented on #31199
@cweagans is approved for addition to `adhoc-vetsgov-devops` IAM role

[2021-12-16 16:41] kelsonic commented on #34240
Redirects are in production:
https://www.va.gov/playbook/
https://www.va.gov/playbook/blah

[2021-12-16 16:41] #34240 closed

[2021-12-16 16:46] MarciMcGuireGCIO commented on #19618
Thank you @joshkimux and @AngelaFowler82

[2021-12-16 16:48] lianilychee commented on #33764
12/16 Thurs:
- today:
  - on hold till Joe and Peter give us qual (color coded) feedback by afternoon-ish on Friday
    - we asked what do you think is wrong: consistency, style, some updating of info
  - enter note into Confl page linked above
  -

[2021-12-16 16:54] lianilychee commented on #33763
12/16 Thurs:
- I _kind of_ feel more grounded.  My footing is shaky re: Obj 1.  Want to get clarity on:
  - Are we setting objectives that are tightly aligned by building the Console?
  - Do we prioritize cleaning up the mess that are there, or establishing processes for net new content that's written?  (Teams are not gonna have the bandwidth to clean stuff up)

[2021-12-16 16:55] lianilychee commented on #33825
12/16 Thurs:

Gretchen Liani discussing tomorrow during 1:1

[2021-12-16 16:57] lwalsh617 commented on #33723
@bethpottsVADEPO -
QQ: Where would you like the debt faqs listed -- under the "Other Topics & Questions" section in the table?
Also, I updated the tally table in GH with the health care info provided ^^.

[2021-12-16 16:58] LizCallaghan commented on #34249
invite sent, thank you!

[2021-12-16 16:58] #34249 closed

[2021-12-16 17:02] Mottie opened #34252 "508-defect-4 [AXE CORE]: ID in ARIA and labels must be unique"
[508-defect-4 ✔️ Trivial](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-4)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback

[2021-12-16 17:06] brianalloyd commented on #34252
@tmac9494 ticket to pick up this sprint. Let me know what questions exist.

[2021-12-16 17:12] ldelacosta commented on #32687
@marcynadeau - This is ready for testing. Please let us know if there are any issues. Thanks.

[2021-12-16 17:12] rileyorr commented on #34181
@denisecoveyduc I added the designs to UXPin:
- [Overview page](https://preview.uxpin.com/16e8675a9898914d5615d6ea2d23e310b7d8dfaa#/pages/145208033/simulate/sitemap?mode=i)
- [Detail page](https://preview.uxpin.com/16e8675a9898914d5615d6ea2d23e310b7d8dfaa#/pages/145208032/simulate/sitemap?mode=i)

I'm going to attend this afternoon's content office hours to review the content prior to our meeting

[2021-12-16 17:13] ldelacosta commented on #30480
QA validated the issue. Closing out the ticket.

[2021-12-16 17:13] #30480 closed

[2021-12-16 17:18] kelsonic commented on #34252
This is not an easy one... So the reason we are getting a duplicate ID is because the legacy header is still on the DOM when header v2 is rendered, the legacy header is just display: none;. Hey @joshkimux would adding `aria-hidden="true"` resolve this issue when the legacy header is hidden for header v2?

![image](https://user-images.githubusercontent.com/12773166/146418491-76017926-9234-4cf9-9ac7

[2021-12-16 17:21] ERRonat0609 commented on #33143
Closed - approved UAT by Joe Preisser on 12/13.

[2021-12-16 17:21] #33143 closed

[2021-12-16 17:24] kelsonic commented on #33998
All redirects (except cross-domain redirect) are now on prod, cross-domain will go out with daily deploy

[2021-12-16 17:24] kelsonic commented on #33998
CC @mmiddaugh

[2021-12-16 17:26] callen2563 commented on #34085
All updates have been made and discussed with the team. [Sketch file](https://sketch.com/s/8ec18b80-a905-47fb-a217-5720450befa1)

[2021-12-16 17:29] AdamFreemer commented on #12338
[code]

[2021-12-16 17:31] brianalloyd opened #34253 "Content Review for Outreach & Events MVP from Public Websites Team"
## What does your team need support for? Check all that apply.
- [ ] Launching one or more new unauthenticated (static) VA.gov pages
- [ ] Making revisions to one or more existing unauthenticated (static) VA.gov page
- [ ] Launching a new online form, app, or tool on VA.gov
- [X] Making revisions to an existing online form, app, or tool on VA.gov
- [ ] Something else (please add details in the nex

[2021-12-16 17:33] nicole-leonard commented on #25565
@denisecoveyduc This is a very vague ticket. Can you please tell me what it is for?

[2021-12-16 17:34] nicole-leonard commented on #25562
@denisecoveyduc Same here. Can you please provide additional context??

[2021-12-16 17:38] mnorthuis commented on #33998
That first redirect is invalid and I forgot to remove that one (https://www.beckley.va.gov/locations/princeton_vet_center.asp).   The original sub-domain is fully redirected to the new VAMC, so we can't redirect that specific page.

@mmiddaugh I don't see a Princeton Vet Center, but there is a Beckley Vet Center: https://www.va.gov/find-locations/facility/vc_0231V.  Can you confirm if this is the

[2021-12-16 17:38] ddzz opened #34255 "QA Feedback - Staging Review - Design System Team - Telephone Web Component"
## VFS acceptance criteria
- [ ] Let Platform know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

Feedback for https://github.com/department-of-veterans-affairs/va.gov-team/issues/33714

**Comments:**
None.

## Feedback
- **Must** = the feedback must be applied
- **Should** = the feedback is best pra

[2021-12-16 17:40] nicole-leonard opened #34256 "UI Consistency for R&S Article Pages"
## Issue Description
Create design comps for [R&S Article pages](https://www.va.gov/resources/can-i-be-buried-in-arlington-national-cemetery/) to align with the rest of VA.gov.
'Related information', 'VA Benefits', 'Need more help?' section styling should align with the rest of VA.gov.

---
## Tasks
- [x] _Research available guidance for styles and existing styles on VA.gov_
- [x] _Create high fid

[2021-12-16 17:46] callen2563 commented on #34253
@RLHecht Update since you last reviewed copy: We have just finished the first round of research. For MVP we were told to keep most of the copy the same to what is seen in [production](https://www.va.gov/outreach-and-events/events/). For example "see all events" link and register buttons. However, we did change the button copy for the button under reoccurring events from "check more times" to "show

[2021-12-16 17:49] #32845 closed

[2021-12-16 17:50] bethpottsVADEPO commented on #33723
@lwalsh617 Yes, debt can go under other topics and questions. Thanks for updating the tally chart.

[2021-12-16 17:55] joshkimux commented on #34252
This was a good catch from Robin, and it's important to flag these! I did a little more digging after recommending Robin to create a `defect-1` ticket on this.

Technically with `vads-u-display--none` (which I'm guessing is `display:none`), the legacy header _should_ be hidden from the accessibility API which means there shouldn't be an issue with duplicate ids. That being said, the issue will be

[2021-12-16 17:59] jimuhh commented on #33714
Hi @caw310 ! I was wondering about the decision not to use the [North American Numbering Plan](https://en.wikipedia.org/wiki/North_American_Numbering_Plan) which calls for three-digit area codes to be put in parentheses, a format that users have come to expect and that is also recommended in [Google's dev style guide.](https://developers.google.com/style/phone-numbers)

[2021-12-16 18:04] kristenmcconnell commented on #33148
Calling out the focus is editing in pre-check-in.

[2021-12-16 18:04] nicole-leonard commented on #592
@srsuddath is this still relevant or has this been resolved?

[2021-12-16 18:06] mrblanco1 commented on #33864
Circling back with Brian G. to see if this is something we want to pursue.

[2021-12-16 18:07] kristenmcconnell commented on #33449
@acrollet Wanted to bring you in to help answer some of Mikki's questions.

[2021-12-16 18:17] grossb1 commented on #32614
This is a duplicate of VAOS-R 2218 and will be closed as such

[2021-12-16 18:17] #32614 closed

[2021-12-16 18:18] mrblanco1 commented on #33758
Circle back with Brian and ask him if this is still an issue. If it is, how does it happen? Use case.....

[2021-12-16 18:28] mrblanco1 commented on #24662
Need more info to find out about the Direct Deposit pattern. Gina to follow up with OCTO's design.

[2021-12-16 18:28] jonathan-epstein13 commented on #33937
### Jonathan QA

Test | Expected Behavior | Actual Behavior | Pass/Fail
-- | -- | -- | --
Dashboard title | Text fully readable, without errors | Text fully readable, without errors | Pass ✅
Date filter | Every chart gets filtered for date and group by settings are changed | Avg Satisfaction score, Total Logged in users, percent logged in,forms available online, Form comp rate,VAOS user comp rate,

[2021-12-16 18:29] LindseySaari commented on #33446
Thursday update: Ops is working on some issues around the datadog-agent. The app also seems to still not be sending traces. [See thread](https://dsva.slack.com/archives/CTYQL39FE/p1639678499121500?thread_ts=1639499702.475800&cid=CTYQL39FE) I've been working to re-deploy changes/detach instances to test as changes are pushed up, but the deletion/detachment process is somewhat timely.

[2021-12-16 18:30] jonathan-epstein13 commented on #33937
@chloedotbrown the above QA is what I was able to do, but based on my initial interpretation, so their might not be this many "Fails" with most of these. Just did my best to thoroughly go through the WIP - OCTO-DE Numbers Dashboard.

[2021-12-16 18:30] mrblanco1 commented on #24730
Need more info to find out about this change. Gina to follow up with OCTO's design.

[2021-12-16 18:33] #32864 closed

[2021-12-16 18:33] mmiddaugh commented on #33998
Princeton Vet Center is vc_0232V - it is published and can be directed.
Beckley Vet Center is vc_0231V - it is _not yet_ published and should _not_ be redirected.

[2021-12-16 18:42] mrblanco1 commented on #29375
Gina/Abe to follow up with Ryan ask if this is still a valid change after the Remove links are placed within the grey boxes. Do we still need a line?

[2021-12-16 18:44] caw310 commented on #33714
@jimuhh We are following the Content guidelines for telephone format.
https://design.va.gov/content-style-guide/dates-and-numbers

[2021-12-16 18:44] JordanSWhite opened #34257 "Accessibility review"

[2021-12-16 18:44] batemapf commented on #33988
@shiragoodman this is not a Veteran-facing tool. It is a link shortening service that is consumed by other Veteran-facing tools. As such, I do not think the following steps are necessary, as they will be covered by reviews performed on the consuming Veteran-facing tools:

- Design Intent
- Research Plan Review
- Analytics Request
- Contact Center Review
- Full Accessibility and 508 Office Audit

T

[2021-12-16 18:44] JordanSWhite opened #34258 "Accessibility review"

[2021-12-16 18:45] JordanSWhite opened #34259 "Accessibility review"

[2021-12-16 18:45] mrblanco1 commented on #12338
Hi @noahgelman - thank you for your feedback. Just wondering if you have an ETA? Thanks!

[2021-12-16 18:45] JordanSWhite opened #34260 "Accessibility"

[2021-12-16 18:45] stevelong00 opened #34261 "Adding Steve Long to DSVA Slack"
Please add steven.long@adhocteam.us as a full member.

Steve Long is a new engineer on Lighthouse, currently onboarding with Michael Lovejoy, and would like to be added as a full member.

[2021-12-16 18:46] JordanSWhite opened #34262 "Accessibility review"

[2021-12-16 18:46] JordanSWhite opened #34263 "Accessibility review"

[2021-12-16 18:49] toddstanich opened #34264 "Collaboration Cycle Kickoff [Digital Health Platform, Device Connection Experience]"
## Steps to complete the Collaboration Cycle Kickoff

**VFS Product Manager**

- [X] Create this issue and notify the Collaboration Cycle team of this ticket in the in #vfs-platform-support ([see Slack Workflow (User guide](https://depo-platform-documentation.scrollhelp.site/support/Getting-help-from-the-Platform-in-Slack.1439138197.html)).
- [X] Answer the questions below and attach any artifacts

[2021-12-16 18:54] #33936 closed

[2021-12-16 19:00] noahgelman commented on #12338
Looking at it today after my meetings

On Thu, Dec 16, 2021 at 1:45 PM mrblanco1 ***@***.***> wrote:

[2021-12-16 19:06] jimuhh commented on #33714
@caw310 OK thanks. No  IA feedback.

[2021-12-16 19:07] seanasewell commented on #33714
No design feedback. Good work!

[2021-12-16 19:08] denisecoveyduc commented on #33925
@bevnobev @rileyorr is right the unauthenticated FSR is on our roadmap currently slated for Q322 so what you mentioned on the call about ensuring an email is asked for on the form is a good thing to highlight. We will keep it in mind that the notifications may be impacted as we get closer.

[2021-12-16 19:09] tmitchellgcio commented on #32288
@hdjustice, @tressaellen this does say we pivoted from this in a previous sprint. Do you know if anything is changed or if it's still the same? Just want to be sure I have all of the information

[2021-12-16 19:15] jason-gcio opened #34265 "Prefill for COE"
## Background
Kelli has indicated that she thinks it would be a good idea to prefill info for the COE form.  in fact, we should pre-fill as much as we can.

## Considerations
- Prefill guidance [documentation](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/ebenefits/engineering/prefill_setup.md)

## Tasks
- [ ] Add the prefill information so that it appea

[2021-12-16 19:16] Mottie opened #34266 "HLR v2: A11y review & fix issues"
## Description

Perform a11y review of Higher-Level Review v2 and fix any problems

## Tasks

- [ ] Perform these [a11y checks](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/decision-reviews/higher-level-review/accessbility.md)
- [ ] Fix any issues that  are found
- [ ] Add unit tests (if needed)

## Definition of done

- [ ] All tasks complete
- [ ] All tests

[2021-12-16 19:18] jparker0425 opened #34267 "[BE] Setup Betamocks for Pre-Check-in"
## Description

## Related Documentation

- [Sketch](https://www.sketch.com/s/e79a827e-42cf-4a82-b554-874c75b5c70e)
- [Product Docs](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/health-care/checkin)

## Tasks

## Acceptance Criteria

- [ ] Deployed and tested on staging.

[2021-12-16 19:19] JennSchleicher commented on #34071
Please add to Batteam channel

[2021-12-16 19:21] lunascoop commented on #33720
@RLHecht I have made updates to the pages below.

Vacunas contra COVID-19 en el VA: http://preview-prod.vfs.va.gov/preview?nodeId=16359
Vacunas de refuerzo y dosis adicionales de COVID-19: http://preview-prod.vfs.va.gov/preview?nodeId=34408
Mga bakuna sa COVID-19 sa VA: http://preview-prod.vfs.va.gov/preview?nodeId=16413
Booster na iniksyon ng COVID-19 at karagdagang dosis: http://preview-prod.vfs

[2021-12-16 19:22] mleclerc00 commented on #31423
closing this issue, please reopen if needed

[2021-12-16 19:22] #31423 closed

[2021-12-16 19:22] bkjohnson commented on #34255
Axe tests added after staging review in https://github.com/department-of-veterans-affairs/component-library/pull/233/commits/c31c66b9b315d9b3f5fdbe124d652573e86307e6

[2021-12-16 19:22] #34255 closed

[2021-12-16 19:22] jparker0425 commented on #34267
@randomsync here is the ticket for betamock specific to pre-check-in. Split from 31500 that is check-in specific. Is this specific to unauthenticated users like the title says, or does that need to be more generic?

[2021-12-16 19:22] grossb1 commented on #33275
Arathi passed this on Dec 2nd and we were able to verify the location_id 983GC does appear in appoints fetch results

[2021-12-16 19:23] #33275 closed

[2021-12-16 19:23] #31501 closed

[2021-12-16 19:23] jparker0425 commented on #31501
Duplicate of 31500

[2021-12-16 19:23] #30137 closed

[2021-12-16 19:26] hdjustice commented on #32288
Hi @tmitchellgcio, the pivot was actually on the [**On-Site Notifications feature,**](https://github.com/department-of-veterans-affairs/va.gov-team/issues/30611) which is related to the new Payment Information section addition, but is not the same.  This feature is new for us to work on.

[2021-12-16 19:27] shiragoodman commented on #33988
Thanks @batemapf. The first question we ask on this form, `"1. Will your work result in visible changes to the user experience?" `is meant to put teams on 1 of 2 paths. By answering yes, then you're likely to get more Collaboration Cycle touchpoints since the Veteran experience is impacted. A no response leads you to a similar path that you outlined, however without a staging review. This product

[2021-12-16 19:29] jhouse-solvd opened #34268 "[EKS] Document how to deploy an app into Kubernetes"
## Description
_What details are necessary for understanding the specific work or request tracked by this issue?_

## Background/context
[Kubernetes Onboarding Template](https://github.com/department-of-veterans-affairs/va.gov-team/issues/new?assignees=&labels=operations%2C+kubernetes%2C+devops&template=kubernetes-onboarding-template.md&title=
)
## Technical notes
_Notes around work that is happen

[2021-12-16 19:30] tmitchellgcio commented on #32288
ah ok thanks

[2021-12-16 19:31] mleclerc00 commented on #32712
closing this ticket, please re-open if needed

[2021-12-16 19:31] #32712 closed

[2021-12-16 19:33] jason-gcio opened #34269 "Include Screen to Allow Veteran to Enter Their Name"
## Background
Against some norms, we are going to allow the Veteran to adjust their name as needed when completing the info portion of the COE form.  (Mortgage lenders might have different names than what is in the Veteran's profile and they need to be matched.)  The fact that this does not update the profile should be conveyed to the Veteran as well.

## Considerations/context
- [Mockup](https://

[2021-12-16 19:33] joshkimux commented on #19618
@MarciMcGuireGCIO we were able to conclude that it would be better to use an unordered list and headings pattern for the profile. I've documented the reasons above!

[2021-12-16 19:35] denisecoveyduc commented on #33925
@miabecker Could you please add the following debt team members:

Denise Coveyduc -  denise.coveyduc@gcio.com
Scott James - scott.james@gcio.com
Riley Orr  - riley@amida.com
Justin Linn -  justin.linn@gcio.com
Craig Wheeler -   craig.wheeler@gcio.com

[2021-12-16 19:42] k80bowman commented on #6461
@MarciMcGuireGCIO It sounds like this is something that is not the design system team's responsibility to fix, is that correct?

[2021-12-16 19:43] grossb1 opened #34270 "Verify HSRM appointments"
Verify that HSRM appointments can be tracked in our system for a new VAOS service user.

This is related to: https://issues.mobilehealth.va.gov/browse/VAOSR-2286

[2021-12-16 19:44] MarciMcGuireGCIO commented on #19618
Perfect!  This is super helpful!  Thanks again!

[2021-12-16 19:44] k80bowman commented on #5871
@CourtneyChambers77 would you mind checking our [current modal component](https://design.va.gov/storybook/?path=/docs/components-modal--default) to see if the close button is announced first?

[2021-12-16 19:45] mrblanco1 commented on #33758
Per Brian: "I found a work around. This ticket can be closed".

[2021-12-16 19:45] #33758 closed

[2021-12-16 19:46] grossb1 commented on #34270
closing dup of 33291

[2021-12-16 19:46] #34270 closed

[2021-12-16 19:47] k80bowman commented on #20488
@CourtneyChambers77 would you say that having an open all/close all button is a desirable solution here? Is this something we should have for this component?

[2021-12-16 19:47] denisecoveyduc commented on #25565
@nicole-leonard looks like I created a template for a new initiative we were thinking of defining- apologize that it wasn't documented more clearly.

This was related to when a veteran searches for a term using search.gov to populate terms that are related to that query to aid in their ability to discover information.  Search.gov has a feature that could be utilized. (using an easy example if a ve

[2021-12-16 19:48] MarciMcGuireGCIO commented on #6461
@k80bowman I can't really say for certain.  A FE engineer would probably need to look at the code to see if it utilizes components from the design system.  I suspect not, but my FE engineer made only minor text updates to it and brought some of the testing up to standards.

[2021-12-16 19:51] rebekahickey commented on #13622
On 12/8/21, posted the Platform Slack Customer Support Report for Sprint 66 to the [Platform Customer Support Dashboard Reports page](https://vfs.atlassian.net/wiki/spaces/SDT/pages/1571323928/Customer+Support+Dashboard+Reports) and to #platform-team in Slack

[2021-12-16 20:01] #13622 closed

[2021-12-16 20:02] noahgelman commented on #33714
No accessibility feedback

[2021-12-16 20:03] k80bowman commented on #6461
@MarciMcGuireGCIO I took a quick look at the code to see what the problem might be and it looks like there are some scrolling functions in [this file](https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/applications/discharge-wizard/components/FormQuestions.jsx) that are causing the issue (particularly the [scrollToLast](https://github.com/department-of-veterans-affairs/

[2021-12-16 20:13] jhouse-solvd commented on #32825
@jgacek - Sorry for the delay here. Sri has been out this week and the Ops team has been a high volume of support needs. Alina and I chatted and I've set a reminder for us to jump on this on Monday. Thank you for your patience, and we'll follow up then.

[2021-12-16 20:17] RLHecht commented on #33720
Thanks @lunascoop I published these and will send to Mateo. I also reached out to the translators to check on the omicron work we're waiting on.

[2021-12-16 20:32] CourtneyChambers77 commented on #20488
HTML
<div class="container">
  <div class="accordion-option">
    <h3 class="title">Lorem Ipsum</h3>
    <a href="javascript:void(0)" class="toggle-accordion active" accordion-id="#accordion"></a>
  </div>
  <div class="clearfix"></div>
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="

[2021-12-16 20:33] CourtneyChambers77 commented on #20488
CSS
body {
  color: #6a6c6f;
  background-color: #f1f3f6;
  margin-top: 30px;
}

.container {
  max-width: 960px;
}

.panel-default>.panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #e4e5e7;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.panel-default>.panel-heading a {
  display: block;
  padding: 10px

[2021-12-16 20:33] CourtneyChambers77 commented on #20488
JS
$(document).ready(function() {

  $(".toggle-accordion").on("click", function() {
    var accordionId = $(this).attr("accordion-id"),
      numPanelOpen = $(accordionId + ' .collapse.in').length;

    $(this).toggleClass("active");

    if (numPanelOpen == 0) {
      openAllPanels(accordionId);
    } else {
      closeAllPanels(accordionId);
    }
  })

  openAllPanels = function(aId) {
    con

[2021-12-16 20:36] CourtneyChambers77 commented on #20488
Please see the update review on adding an expand all when MULTI prop - Let
me know if you need more examples

On Thu, Dec 16, 2021 at 2:47 PM Katy Bowman ***@***.***>
wrote:

[2021-12-16 20:36] jason-gcio opened #34271 "Adjust Claim Labels for 686c/674 Submissions"
## Background
Changing the label for dependents that get removed so that the OBI line of business can track removals a little better.

## Considerations
- `130SSRDPMC`
PMC - Self Service - Removal of Dependent (Pension)
- `130SSRD`
Self Service - Removal of Dependent (Compensation)
- There might be more than one job to check
- Are there any removals in a 674? Prolly not...but let's be sure.
- Exce

[2021-12-16 20:42] jhouse-solvd opened #34272 "[RDS Maintenance] Investigate purpose of "dsva-vagov-statping-utility-db""
## Description
It's possible that the "dsva-vagov-statping-utility-db" database instance is no longer used. If this is not needed, let's take a final snapshot, and decommission the instance.

## Background/context
It would appear that there have been 0 connections over the past 2 weeks. (see image below) ![Screen Shot 2021-12-16 at 13.36.12.png](https://images.zenhubusercontent.com/5f5a5f39c4fbcc3

[2021-12-16 20:54] Kimberley2019 opened #34273 "[Tier 3] Application submission issue - SF 06198425"
## Issue Description
_Caller is experiencing issues with submitting an application.  Please review notes below and encrypted email for more details._

---
## Tasks
- [ ] _Review provided details in ticket_
- [ ] _Review additional information from encrypted email_
- [ ] _Advise if additional information is required for review and resolution_
- [ ] _Contact veteran and set up shadowing call if need

[2021-12-16 20:58] shiragoodman commented on #34055
Hi @SKasimow. Thanks for completing this Collaboration Cycle Kickoff ticket! Based on your responses, your project has no visible changes so we are recommending the following Collaboration Cycle touchpoints:

- [Privacy, Security, Infrastructure Readiness Review](https://depo-platform-documentation.scrollhelp.site/collaboration-cycle/Privacy-and-security-review.1782317101.html)

We understand that

[2021-12-16 21:01] Kimberley2019 commented on #34273
@alsleaders encrypted email sent.

From: Daniels, Kimberley N. (Oddball, Inc.)
Sent: Thursday, December 16, 2021 4:00 PM
To: Leaders, Amanda L. (Government CIO) <Amanda.Leaders@va.gov>
Cc: Henry, Veronica (GovernmentCIO) <Veronica.Henry@va.gov>
Subject: FW: VA Benefits Letter download issue

Good Afternoon Amanda,

I wanted to pass this along to you since it contains screenshots that contain PII.

[2021-12-16 21:01] rileyorr commented on #32315
Thanks for the feedback @RLHecht! I've incorporated your changes.

Additionally, I removed the facility name from the email based on feedback from the VA Notify team that we shouldn't put too much identifying information in our notifications. The sentence now reads: We updated your health care copay balance on ((patient statement date)).

It everything looks good I'll go ahead and send this over t

[2021-12-16 21:04] oseasmoran73 opened #34274 "Fix create release & tag failures"
## Description

I suspect is because we have `wait-for-deploy` step, at the time of creation run, new tag, and release, the flow waiting does not have that information of version bump recently created in `content-build`

See [slack](https://dsva.slack.com/archives/C0MQ281DJ/p1639686459121600)

## Task
- [x] Ensure workflow works as intended for single flow
- [x] Ensure workflow updates correctly f

[2021-12-16 21:08] denisecoveyduc commented on #25562
Hey @nicole-leonard .. I have to admit I am not 100% sure but I think this might have something do do with changing the search input field from the current drop down in the header to a centralized input field above the 4 boxes. I would recommend you close this one for now since I know they are working on a homepage refresh which will include some more holistic changes to the va.gov homepage.

[2021-12-16 21:09] cgednalske commented on #31815
Hi @MarciMcGuireGCIO - this is finished on Sketch files as well as Prototype!

[2021-12-16 21:10] RLHecht commented on #32315
That works @rileyorr. Send it over!

[2021-12-16 21:13] MarciMcGuireGCIO commented on #31815
Noting that we learned via email that the Preferred Name field has a db limit of 100 char, Gender Identity is 255 and Sexual Orientation is 255.

[2021-12-16 21:24] MarciMcGuireGCIO commented on #31815
Thank you @cgednalske !

[2021-12-16 21:25] ltrombley commented on #34064
Task #34064 - Post Production Audit of VAMC VA Montana health care for links, standards, and design standards.[BA]   - is Complete and moved to Validate.

[2021-12-16 21:26] rileyorr commented on #34181
Met with Beth and incorporated her content feedback. We should be good share this design with our stakeholders!

[2021-12-16 21:32] randomsync commented on #34267
It can be more generic, updated.

[2021-12-16 21:35] jfinnern commented on #33880
Validated in staging
Test run: https://dsvavsp.testrail.io/index.php?/runs/view/2739&group_by=cases:title&group_order=asc
Test case: https://afs365.sharepoint.com/:x:/r/sites/DGIBillServicesProject/Shared%20Documents/Legacy%20AO/Team%203/QA/Test%20Results/AFS-Sprint%204/%5BAssistive%20tech%20and%20device%20support%5D%20Page%20functionality%20isn%27t%20keyboard%20accessible.%20(11.05.4).xlsx?d=w70c

[2021-12-16 21:38] RLHecht opened #34275 "Content support for 2 new screens for Form 526"
## Issue Description
Christian Valla asked for content help for 2 new screens in the 526 Form. The text needs to be shortened and rewritten in plain language.

**The purpose of the question:** If the Veteran says yes, and fulfills certain criteria, they do not have to answer all the questions about PTSD (that has proven triggering / re-traumatizing), but will be called into an examination instead.

[2021-12-16 21:52] mnorthuis commented on #33998
Ok, that is already on the list above, so @kelsonic I'm removing the very top line from this redirect request.

[2021-12-16 21:58] ltrombley commented on #34201
Task #34201 - Validate VAMC web pages that are showing as duplicate or obsolete w/o parent [BA]  - is Complete and moved to Validate.

[2021-12-16 22:22] KCollinsBrown opened #34276 "Adding Erickson White to DSVA Slack"
# Description

**new user requests**: please verify that the user does not already exist in dsva.slack.com (it may be the account exists, but is not in a particular channel)

<describe the request>

Are you requesting to add an individual as a:

- Full member
- Single guest
- Multi-channel
- Switching from single-channel to multi-channel?
- What channel(s) do they need to be added to?

Then add a

[2021-12-16 22:23] SKasimow opened #34277 "**DISCOVERY** | Privacy and Security Review | 10-10CG Mulesoft Integration"
## Background:

Collab Ticket for 10-10CG Mulesoft inplementation opened here: [Ticket 377](https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/issues/377).

Need to research and understand what is required for the Mulesoft Privacy and Security review including what's relevant and what isn't, where to get info requested etc.

(This template has been moved to the `va.gov-team-se

[2021-12-16 22:45] #34054 closed

[2021-12-16 22:47] bosawt opened #34278 "Investigate ch33 delayed response issue"
Just a ticket to track the work being done to investigate this issue

[2021-12-16 22:57] acrollet commented on #33449
Hi @mnorthuis thanks for the response! Answers inline below:

The idea scenario right now is to use www.va.gov, in order to be able to leverage existing infrastructure. (Specifically, the reverse proxy)

I don't know of any need for separate subdirectories at this time, I'd suggest that we settle on a single sub-dir (perhaps `/u/`) for simplicity and re-visit if and when it's necessary.

For now l

[2021-12-16 23:15] mleclerc00 commented on #32448
Jeremy and I have made some good progress here this week.  We have a vets api pod running in eks and have done some cleanup to the manifests that makes it much more simple to work with.

For some background information, we were looking to implement a similar solution to how Demian deployed revproxy.  This was the path of least resistance and most definitely the cleanest and quickest route to movin

[2021-12-16 23:18] bethpottsVADEPO commented on #34197
@RLHecht @lunascoop The first PDF starts with Alabama and includes Arkansas but Terry's PDF at the top says, "Approved VRRAP Schools Part I, AZ - KS (so it doesn't indicate that Alabama and Arkansas are included--and it needs to change to reflect that). This first PDF also goes through Indiana (but tacks on 2 KS schools).

Questions for you/Terry: Are there really only 2 KS schools? Those are incl

[2021-12-16 23:53] andresriveratoro opened #34279 "<va-progress-bar> aria-label default value uses percent with multiple decimals"
## Issue Description
Migrating and testing `<va-progress-bar>` on `vets-website` led to the discovery of percent values with multiple decimals passed in as a prop resulting in a bad user experience when using a screen reader. This component's `aria-label` value defaults to the percent prop value when a label isn't given.

![Screen Shot 2021-12-16 at 17.42.38.png](https://images.zenhubusercontent.c

[2021-12-16 23:58] andresriveratoro commented on #34279
When using a screen reader, this reads as "17.3291......% complete, 17%, progress...". I believe the second percent value is coming from aria-valuenow and that value is being rounded.

[2021-12-17 00:05] #23523 closed

[2021-12-17 00:11] troymosher commented on #33890
@mmiddaugh Were you able to find someone with admin access to the API keys?  If not, let me know and I will track it down.

[2021-12-17 00:25] bkjohnson commented on #34279
Also, we noticed that this is not a regression in the web component. This behavior is already live in the `<ProgressBar>`.

![image](https://user-images.githubusercontent.com/2008881/146468453-728d63bb-5470-4ac0-83ac-f129fa2ad804.png)

[2021-12-17 01:33] chloedotbrown commented on #33935
Hi @jennaouellet – sorry this took a minute! Is it possible to re-QA lines 30 and 31 on the [spreadsheet](https://docs.google.com/spreadsheets/d/1B-U8_35c8CaETxz2iAJ2L-LxawIDXNvajpd9OlEr9GY/edit#gid=874229076)? I worked with Brian to create a [new datasource](https://va-gov.domo.com/datasources/42d302a8-0483-4e6d-a868-fcf28e8c92f5/details/overview) for this that's scoped by user instead of hit, an

[2021-12-17 01:43] cindymerrill commented on #32885
Done writing research report, which I'll share on Slack tomorrow morning: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/public-websites/outreach-and-events/research/research-findings.md

[2021-12-17 01:44] #32885 closed

[2021-12-17 03:23] bsmartin-ep commented on #28473
wc updated and deployed.  Closing.

[2021-12-17 03:23] #28473 closed

[2021-12-17 03:31] bsmartin-ep commented on #33113
@obrienjulie -

Looks like we can bulk reassign datasets to a new owner....

https://domohelp.domo.com/hc/en-us/articles/360042926054-Managing-User-Accounts-for-Connectors#:~:text=To%20transfer%20ownership%20of%20DataSets%20associated%20with%20a%20user%2C

[2021-12-17 03:44] bsmartin-ep commented on #33716
New URL added 12/8.  Closing.

[2021-12-17 03:44] #33716 closed

[2021-12-17 12:45] LizCallaghan commented on #34276
done!

[2021-12-17 12:45] #34276 closed

[2021-12-17 12:49] LizCallaghan commented on #34071
done!

[2021-12-17 12:49] #34071 closed

[2021-12-17 12:50] LizCallaghan commented on #34261
done!

[2021-12-17 12:50] #34261 closed

[2021-12-17 12:54] LizCallaghan commented on #34230
done!

[2021-12-17 12:54] #34230 closed

[2021-12-17 12:55] LizCallaghan commented on #34229
done!

[2021-12-17 12:55] #34229 closed

[2021-12-17 12:56] LizCallaghan commented on #34228
done!

[2021-12-17 12:56] #34228 closed

[2021-12-17 13:41] nsmith1982 opened #34280 "Adding Zach Lewis to DSVA Slack"
# Description

**new user requests**: please verify that the user does not already exist in dsva.slack.com (it may be the account exists, but is not in a particular channel)

Good morning,

Please add Zach Lewis (zlewis@clarityinnovates.com) as a Full Member of DSVA Slack.  Zach is a Site Reliability Engineer joining the Platform's SRE Team.  Please give him access to the following channels:

# vf

[2021-12-17 13:44] LizCallaghan commented on #34280
done!

[2021-12-17 13:44] #34280 closed

[2021-12-17 14:20] #33919 closed

[2021-12-17 14:24] #32868 closed

[2021-12-17 14:25] ldelacosta opened #34281 "[DEV placeholder] Cypress End to End Test"
Background: The Testing Tools Team are sharing their latest recommendations for writing Cypress end to end tests.
They are adding an ESLint rule that will require that at least one accessibility check is included in each Cypress test. If a test is missing an accessibility check, the rule will show a warning with a link to our documentation on automated accessibility testing. We ask that teams audi

[2021-12-17 14:31] hdjustice opened #34282 "[PM, Design, FE, BE] On-site Notifications: Continue to work with VA Notify to define needs and delivery timeline for MVP"
## Background
The team needs to meet with our VA Notify partners to discuss our high-level requirements for on-site notifications MVP

## Tasks
- [x] Continue to meet with VA Notify to discuss requirements for MVP
- [x] Confirm the type of debt related notifications VA Notify currently has
- [x] Validate what data can be sent to AE My VA from VA Notify to trigger an On-site Notification
- [x] Vali

[2021-12-17 14:34] codyreinold-usds commented on #32850
The Veteran was successfully contacted on 12/13 by ID.me. He elected to pause the process, as he is waiting for his DD214 to arrive. There is no further timeframe provided by the Veteran.

[2021-12-17 14:34] hdjustice commented on #33300
Created new ticket [[34282](https://github.com/department-of-veterans-affairs/va.gov-team/issues/34282)] for next sprint for continued discussions with VA Notify.  Our meeting this sprint went well, however there are some backend technical details that need to be confirmed and thought through with Lihan, after the holidays.  The next meeting is January 4th (sprint 64)

[2021-12-17 14:34] #33300 closed

[2021-12-17 14:46] #29972 closed

[2021-12-17 14:49] shiragoodman commented on #34244
hey @vhenry07  - is this ticket ready? our team didn't see the post on #vfs-platform-support

[2021-12-17 14:52] vhenry07 commented on #34244
Knew I forgot something. Thanks @shiragoodman. posting now.

[2021-12-17 14:56] alexander-ferzola commented on #33863
Nothing specific past the collection links. Is there any question we can help with?

[2021-12-17 15:03] shiragoodman opened #34283 "Remove assignees from Collaboration Cycle templates in github"
## Issue Description
On the Collaboration Cycle Kickoff, Design Intent, Midpoint Review, Staging Review and Full Accessibility & 508 Office Audit ticket templates in github, we have assignees. It is very common for VFS folks to submit the ticket and not follow through with the instructions in the ticket asking they post on #vfs-platform-support notifying the Collaboration Cycle team of the ticket.

[2021-12-17 15:04] mrblanco1 commented on #33864
Per Brian G. this ticket can be closed as he will not be impacted by this change.

[2021-12-17 15:07] k80bowman opened #34284 "[Discovery] Improvements to the migration script"
## Description
As we use the migration script for migrating more and more React components to web components, we are discovering more and more weaknesses in the script. We'd like to take a little time and figure out if there are some ways we can improve it.

## Acceptance Criteria
- [ ] Review the migration script and consider any improvements we might make
- [ ] Document any necessary improvement

[2021-12-17 15:07] jennaouellet commented on #33935
@chloedotbrown No problem, happy to help! I did another pass on those last two and all looks good in BQ/GA. let me know if any other changes are made and I'll hop back in again.

[2021-12-17 15:08] k80bowman commented on #34284
@bkjohnson if you have any examples of how the script has failed, feel free to add them here.

[2021-12-17 15:11] cmaeng opened #34285 "Offboarding of Amandeep Maman"
# Instructions
Fill out name of individual and *Description* section below.

# Description
- Please provide the name of the individual needing offboarded.

- Please provide the name of their team, their role on that team, expected last day, and the name of the company they work for.

- Please provide any type of access they may have and their GitHub username.

## AC
*Performed by Platform team*
 -

[2021-12-17 15:12] mrblanco1 commented on #33864
Brian G. confirmed we can move forward with this change as he will not be impacted.

[2021-12-17 15:19] #29597 closed

[2021-12-17 15:19] #31986 closed

[2021-12-17 15:20] #32647 closed

[2021-12-17 15:22] #31992 closed

[2021-12-17 15:22] #31993 closed

[2021-12-17 15:23] #32001 closed

[2021-12-17 15:24] #31994 closed

[2021-12-17 15:24] #31996 closed

[2021-12-17 15:32] #34266 closed

[2021-12-17 15:32] pjhill commented on #31966
Now with more accurate numbers! This is definitely one of the more immediately accessible visuals on the dashboard.

[2021-12-17 15:32] #31966 closed

[2021-12-17 15:34] #25565 closed

[2021-12-17 15:34] #25562 closed

[2021-12-17 15:38] ERRonat0609 opened #34287 "STEM Standalone Form: Turn off Auto-decision process"
## Issue Description
_What details are necessary for understanding the specific work or request tracked by this issue?_

The auto-decision process for form 22-10203 is incorrectly sending out auto-deny emails up to 50% of the time, according to statements from Kyle Pietrosanto of the Buffalo RPO. They want the process turned off until we can get it fixed.

Based on the results of spike ticket ##33

[2021-12-17 15:39] bkjohnson commented on #34284
Here's an example of the script failing on a component that has nested curly braces:

[code]

<details>

![image](https://user-images.githubusercontent.com/2008881/146567092-0c7d9d01-e772-4f2c-bdab-1b50a5dcd9d8.png)

</details>

Here's another failure related to the transformer expecting some form of headline, as well as something involving the `content` prop:

[code]

<details>

![image](https://

[2021-12-17 15:41] holdenhinkle commented on #33788
This is done.

The TudAccounts `email` attribute are currently required to be unique. We'll have to change that to `email` + `id_type`.

[2021-12-17 15:41] #33788 closed

[2021-12-17 15:46] briandeconinck opened #34288 "Request access to Google Analytics and/or Domo"
# Request Google Analytics and/or Domo access

## What this form is for
Use this template to request access to Google Analytics and/or Domo. Please complete steps 1 & 2 below.

## 1. Access Requirements
Please check the analytics tool(s) you need access to:
- [ ] Google Analytics
- [X] Domo
- [ ] (Platform Teams only) BigQuery

## 2. User Email Address to Receive Access
**Due to privacy concerns,

[2021-12-17 15:54] RLHecht commented on #34197
@lunascoop Here are the updated PDFs. Could you please update the page and I'll review?

https://benefits.va.gov/gibill/docs/ApprovedVRRAPSchools_Part_I_AL-IN.pdf
https://benefits.va.gov/gibill/docs/ApprovedVRRAPSchools_Part_II_KS-WY.pdf

[2021-12-17 16:03] Kimberley2019 opened #34289 "[Tier 3] Disability Claim Application Issues - SF 06194274"
## Issue Description
_Caller is having issue completing and submitting claim application.  Review encrypted email and details below._

---
## Tasks
- [ ] _Review provided details in ticket_
- [ ] _Review additional information from encrypted email_
- [ ] _Advise if additional information is required for review and resolution_
- [ ] _Contact veteran and set up shadowing call if needed_

## Acceptan

[2021-12-17 16:03] Kimberley2019 commented on #34289
Case Notes
Veteran is trying to submit his disability increase but when he tries to submit it tells him some of his information is "missing or invalid" in his supporting evidence. He's reviewed the information and couldn't find anything wrong with it. His application ID is #37506933. It's been going on for three days.

[2021-12-17 16:03] bsmartin-ep commented on #29854
This is a systemic issue we will address in another ticket.  But for this ticket, this particular dataset has been fixed, backfilled, and rescheduled.

Closing.

[2021-12-17 16:03] #29854 closed

[2021-12-17 16:07] Kimberley2019 commented on #34289
@alsleaders encrypted email was sent

From: Daniels, Kimberley N. (Oddball, Inc.)
Sent: Friday, December 17, 2021 11:06 AM
To: Leaders, Amanda L. (Government CIO) <Amanda.Leaders@va.gov>
Cc: Henry, Veronica (GovernmentCIO) <Veronica.Henry@va.gov>
Subject: FW: [EXTERNAL] Re: Application submission issue follow up

Good Morning Amanda,

I wanted to pass this along to you since it contains screenshot

[2021-12-17 16:08] pjhill commented on #31952
We can pursue a solution for mapping QA data to products in a future iteration.

[2021-12-17 16:08] #31952 closed

[2021-12-17 16:08] #33108 closed

[2021-12-17 16:08] pjhill commented on #33109
Saving time everywhere!

[2021-12-17 16:08] #33109 closed

[2021-12-17 16:10] chloedotbrown commented on #33935
Amazing, thank you @jennaouellet! No other changes pending, so I'll go ahead and move this back over to "Done."

[2021-12-17 16:13] #26288 closed

[2021-12-17 16:14] #33096 closed

[2021-12-17 16:15] MarciMcGuireGCIO opened #34290 "Button URL change request from Auth-Profile"
## Why you're here

### Engineering support for:
- Redirects that have **first been vetted by the Platform Product Support team**. If you are requesting a redirect, please submit the [Redirect Issue Template](https://github.com/department-of-veterans-affairs/va.gov-team/issues/new?assignees=mnorthuis&labels=vsp-product-support%2C+ia&template=redirect-request.md&title=Redirect+Request)
- REACT sign

[2021-12-17 16:16] #31963 closed

[2021-12-17 16:17] ken-non opened #34291 "Set up an Identity broker (cognito) user pool"

[2021-12-17 16:18] ken-non opened #34292 "Integrate an identity provider (login.gov) within cognito"
We are using an external identity provider with a high level of identity assurance. For cognito to be able to centralize access management we need to configure it to use an ID provider like login.gov
- [ ] Choose SAML vs openID for connecting Login.gov via OIDC based on existing cognito research
- [ ] Create & configure new identity provider with cognito

Task is done when:
- [ ] identity provider

[2021-12-17 16:20] ken-non opened #34293 "Integrate a service (ArgoCD) with cognito"
A two way configuration needs to happen between the ID provider and the client, so the broker can direct appropriately. In order for that redirect to happen we need to integrate the service we are using with cognito by configuring an app client
- [ ] Create & configure new app client with cognito
- [ ] Configure tool to integrate with cognito

Task is done when:
- [ ] app client is present in cogn

[2021-12-17 16:20] KCollinsBrown opened #34294 "Offboarding of Karina Gonzalez"
# Instructions
Fill out name of individual and *Description* section below.

# Description
- Please provide the name of the individual needing offboarded.

- Please provide the name of their team, their role on that team, expected last day, and the name of the company they work for.

- Please provide any type of access they may have and their GitHub username.

## AC
*Performed by Platform team*
 -

[2021-12-17 16:21] ken-non opened #34295 "Set up cognito to pass fine grained permissions (RBAC) to ArgoCD"

[2021-12-17 16:30] oseasmoran73 opened #34296 "Build.txt error in content-build (502 GraphQL Error)"
## Description

There have been a few cases where the `build.txt` error is returned. This has been an ongoing case since Jenkins that has surfaced in Github Actions as well.

I suspect build.txt are "missing" due to `build` step not error-ing out correctly. See [workflow](https://github.com/department-of-veterans-affairs/content-build/runs/4526320282?check_suite_focus=true). Observe that despite `

[2021-12-17 16:31] hallihocine commented on #33877
Ticket has been validated in staging: Sidebar "Learn more" modal content is now accessible by keyboard/screenreader technology. The user can tab to any link if present in the content, or the to the close button and can tab back to the content as well.

https://user-images.githubusercontent.com/86266024/146576571-edb87eac-b034-482a-8f52-8ce9a22c6b82.mov

### **Screenshots:**
- Focus on Modal header

[2021-12-17 16:32] ERRonat0609 commented on #24662
Here is the correct link for the direct deposit patterns that was not reachable yesterday.\: https://design.va.gov/patterns/form-patterns#direct-deposit.  I have also updated it above in the **Supporting Artifacts** section.

[2021-12-17 16:33] hallihocine commented on #33877
- Test Run in Test Tail:
https://dsvavsp.testrail.io/index.php?/runs/view/2740&group_by=cases:section_id&group_order=asc&group_id=3226
- Test Script/Steps:
[[Assistive tech and device support] Page functionality isn't keyboard accessible. (11.05.1).xlsx](https://github.com/department-of-veterans-affairs/va.gov-team/files/7736513/Assistive.tech.and.device.support.Page.functionality.isn.t.keyboard.a

[2021-12-17 16:36] lianilychee commented on #33761
12/17 Fri:
- no blockers
- today: want to start writing the rules for anything that doesn't have the rules written out
- at start of 2022: test with people to confirm if the rule is clear
-

[2021-12-17 16:37] oseasmoran73 commented on #28386
Upon investigating, there is not much within the CI that can be done to reduce the flakiness. May need to be via another action. Closing ticket

[2021-12-17 16:37] #28386 closed

[2021-12-17 16:41] RLHecht opened #34297 "Content update on disabilities that appear within 1 year after discharge page"
## Issue Description
Stakeholder Tanekwa Bournes shared that we need to fix a CFR reference we have 4 times on the [disabilities that appear within 1 year after discharge](https://www.va.gov/disability/eligibility/illnesses-within-one-year-of-discharge/) page.

Wherever we have 3.09(a) we need to change it to: 3.309(a).

It's shown twice in the featured content box and twice under the question "Ho

[2021-12-17 16:42] pjhill commented on #33579
This is such a nice set of data to have -- hooray.

[2021-12-17 16:42] #33579 closed

[2021-12-17 16:44] andaleliz commented on #34003
@hdjustice, @tressaellen  and @Samara-Strauss, I have a few questions as I familiarize myself with this. Not sure who exactly to direct these two, so bringing you all in :)

Are more specifics available? How is the reliability endpoint affecting the loading of the whole section, other than I'm assuming maybe the edu section doesn't show?

Are you saying they're not seeing it because it's not loadi

[2021-12-17 16:46] lianilychee commented on #33764
12/17 Fri:
- yesterday:
  - did not get far in putting down thoughts re: tech team collab
- today:
  - clarify what's up with the notification - testing tools sent something abt q planning?
  - discussion in OKRs chat: rachael - how we're meeting her expectations
  - write down initial thoughts to help jog Gretchen and Liani's memories as we have this conversation more thoroughly in Jan/Feb

[2021-12-17 16:49] af-manish commented on #29360
Thanks @RLHecht  . We will move forward with the changes and your suggestions to tweak.

[2021-12-17 16:49] #33764 closed

[2021-12-17 16:52] lianilychee commented on #33765
12/17 Fri:
- yesterday:
  - did not get far in putting down thoughts re: tech team collab
- today:
  - Samara
    - clarify what's up with the notification - testing tools sent something abt q planning?
    - discussion in OKRs chat: rachael - how we're meeting her expectations
    - write down initial thoughts to help jog Gretchen and Liani's memories as we have this conversation more thoroughly

[2021-12-17 16:55] lianilychee commented on #33763
12/17 Fri:
- wrote grounding: https://vfs.atlassian.net/wiki/spaces/~369451595/pages/2017100089/2022+Q1+Platform+website+publishing+workflow+updates?atlOrigin=eyJpIjoiNzQ4YzQ3ODIzMjJlNDU2N2I4NzZlODZiN2M1NzVkOTgiLCJwIjoiYyJ9
- today:
  - roughing out publishing workflow diagram and how it would change

[2021-12-17 16:57] tressaellen commented on #33827
@andaleliz - there are meetings with platform and accessibility this coming week (you should have the invites). Likely this will just result in us submitting an experimental design ticket.

[2021-12-17 16:57] lianilychee commented on #33825
12/17 Fri:
- we'll slack about it, maybe pair

[2021-12-17 16:58] kelsonic commented on #33998
Can we close this issue? All redirects are implemented 💯

[2021-12-17 16:58] tressaellen commented on #33994
All designs and comments will be in [this Mural board](https://app.mural.co/t/vsa8243/m/vsa8243/1638553268085/b0514c6d027e35eb98f636fa3c614872dd14b8a2?sender=tressafurner7646)

[2021-12-17 17:00] tressaellen commented on #33266
All screens and comments will be in [this Mural board](https://app.mural.co/t/vsa8243/m/vsa8243/1638500075560/0e849f61e282ebe2d8e7119eea504e4c05b0bbe4?sender=tressafurner7646).

[2021-12-17 17:02] Mottie commented on #32331
@tlei123 This page has been removed within the new v2 flow

[2021-12-17 17:03] Mottie commented on #32333
@tlei123 This page should now match the mock up. It's ready for you to review.

[2021-12-17 17:05] Mottie commented on #32332
The new HLR v2 flow is now available in staging. This page now only allows adding one issue, it will then return you to the issue list page upon update/cancel.

[2021-12-17 17:06] Mottie commented on #32344
This paragraph has been added.

[2021-12-17 17:07] Mottie commented on #32333
Oh, and I've enabled the `hlrV2` feature flag for all users in staging.

[2021-12-17 17:08] kelsonic commented on #34290
PR is up, we won't merge it until you give us the green light ✅ https://github.com/department-of-veterans-affairs/vets-website/pull/19719

[2021-12-17 17:15] Samara-Strauss commented on #34003
This is the ongoing issue with the direct deposit for edu endpoint that has been down for days (though randomly working today). It's been especially a mess in the last few days ([Slack channel](https://join.slack.com/share/enQtMjg0MjMzNzMzNjU5OS00ZWM1ZjNiOTJmZWExNDYxMDE4NDY5ZGYwODZiOWEwNWJlOTJhNGI1NjJiZDRiMDQ1ZDk5YjQ5ZjAzMTlmZThj) if you really want to follow along), but [you can see that this end

[2021-12-17 17:15] jhouse-solvd opened #34299 "[Testing] Will delete"
## Problem Statement
*In a couple of sentences, describe the Who, What, Why, and Where of the challenge / pain point you seek to address.*

*Follow your problem description up with a "How might we... _______" statement re-framing that challenge as an opportunity. Don't hint too much at what the solution might be, you should have enough of a focal point here to guide your ideas, but plenty of freed

[2021-12-17 17:18] jhouse-solvd commented on #34299
Testing initiative creation with @Khyatinp18.

Closing.

[2021-12-17 17:18] #34299 closed

[2021-12-17 17:20] #33964 closed

[2021-12-17 17:20] grossb1 commented on #33964
This has been fixed, retesting 12/15

[2021-12-17 17:22] #16733 closed

[2021-12-17 17:22] MarciMcGuireGCIO commented on #34187
@cgednalske - I am so sorry I am just now getting a chance to review this.

This really looks good!  I found just a few minor things in the Sketch files:

- Page 6 - Pronouns - the word 'preferred' is spelled incorrectly in the list of options.
- Page  6 - Pronouns shows 25 characters maximum above text field
- Page 6 & 7 - Pronouns -  Page 6 has "Use my preffered name' for the 5th option and Page

[2021-12-17 17:23] #33273 closed

[2021-12-17 17:25] grossb1 commented on #33276
When MAS can’t locate an appointment by ID, it returns a 404. If this happens when a client is trying to cancel an appointment through the vaos-service, the client gets back a 500 due to a NPE.

If MAS can’t locate an appointment by ID, then VAOS should also return a 404.

[2021-12-17 17:26] grossb1 commented on #33493
Closing dup of #33276

[2021-12-17 17:26] #33493 closed

[2021-12-17 17:36] mrblanco1 commented on #12338
@noahgelman - Hi! Happy Friday! Any word on this? Is there anything we can help with? Thanks!

[2021-12-17 17:45] cweagans commented on #34296
`build` doesn't error correctly specifically when the error is happening inside of the node script. That probably needs to be updated to emit the proper exit code. I think that's only half of the solution here though: we need to know when things fail, but we also need to _prevent_ the fails in the first place. I've seen a few different categories of failures that result in that missing build.txt e

[2021-12-17 17:47] DanielleThierryUSDSVA commented on #32560
Hi @kristenmcconnell. I'd be happy to talk with you all to bring you up to speed on translation planning. Feel free to put some time on our calendars. Please also invite Sharon Kasimow and Adam Whitlock as required, and Eunice Garcia and Michelle Steigerwalt as optional.

[2021-12-17 17:50] mrblanco1 commented on #29356
Need to reach out to Platform to request a new sketch file. @af-manish to follow up with Sean.

[2021-12-17 17:50] af-manish commented on #29356
@seanasewell  Sean, can you help update the Sketch file here so we can get the PDF?

[2021-12-17 17:54] cgednalske commented on #34187
@MarciMcGuireGCIO Thanks for pointing those out! I'm going to look into if there is a spellcheck plugin for Sketch to help avoid those little errors.
Everything you mentioned has been corrected!

[2021-12-17 17:55] MarciMcGuireGCIO commented on #34187
Awesome!! That was super-fast! Thank you!

[2021-12-17 17:55] #34187 closed

[2021-12-17 17:58] shiragoodman commented on #29356
hey @af-manish  - Sean is out today so I'm stepping in. The Platform is not responsible for updating the file in Sketch. If you need access to Sketch, please check out [Sketch for Teams at VA](https://design.va.gov/documentation/designers#sketch-for-teams-at-va).

[2021-12-17 18:00] bethpottsVADEPO commented on #34121
@RLHecht Since this one got approved, go ahead and run through the pre-pub checklist and we can get it live today: Will I have to pay back the GI Bill benefits I used if I fail a class? http://preview-prod.vfs.va.gov/preview?nodeId=37410

Then for this one, would you create an additional single Q&A to add to this larger article under "Can I get a Montgomery GI Bill refund?:
Will I have to pay back

[2021-12-17 18:01] mmiddaugh commented on #33696
Scheduled via Calendly for Tuesday, January 4, 2022, 9:30am - 10:00am, Mountain Time

[2021-12-17 18:02] lunascoop commented on #34297
@RLHecht this page is ready for review.

Disabilities that appear within 1 year after discharge: http://preview-prod.vfs.va.gov/preview?nodeId=890

[2021-12-17 18:03] mmiddaugh commented on #32124
@nicko-amida When the "Veterans should call main Vet Center for hours" option is selected in Drupal, I think we should just show a single phone number and add the "Please call the main Vet Center for hours" label

[2021-12-17 18:03] #32124 closed

[2021-12-17 18:03] shiragoodman commented on #33696
hey @mmiddaugh  - I apologize, but could we move to Monday 1/3 or Friday 1/7? We have a conflict at 11:30am ET and I hadn't gotten around to updating Calendly for availability yet.

[2021-12-17 18:07] oseasmoran73 commented on #34296
I think prevent is absolutely the way, but having a defensive method in addition may be the play as well. At least my initial thought, having some method of `try/catch`, `retries/wait`, or if there is in place to see if we can force it to error out appropriately via node script.

Thoughts?

[2021-12-17 18:09] bramleyjl commented on #33352
This is still blocked as of 12/17

[2021-12-17 18:14] jason-gcio opened #34300 "[UNPLANNED] Payment History Latency Issues"
## Story
As a Veteran, I want to be able to quickly and easily view an accurate history of my payment records between me and the VA so that I can make financial decisions and know that the compensation I receive is what it should be.

## Issue Description
The eBenefits Team was notified that payment history was not loading quickly or at all in some cases on VA.gov.  This presented similarly with o

[2021-12-17 18:17] thilton-oddball opened #34301 "Support requests"
## Issue Description
Currently open/unresolved support requests

- [x] #34332
- [x] #34337 - being worked on by another team
- [x] #34338
- [x] #34340
- [x] #34341
- [x] #34342
- [x] #34343
- [x] #34344

[2021-12-17 18:18] JordanSWhite opened #34302 "Design intent - Homepage"

[2021-12-17 18:18] JordanSWhite opened #34303 "Midpoint review - Homepage"

[2021-12-17 18:18] JordanSWhite opened #34304 "Design intent - Appointments"

[2021-12-17 18:19] JordanSWhite opened #34305 "Midpoint review - Appointments"

[2021-12-17 18:19] JordanSWhite opened #34306 "Design intent - Pharmacy"

[2021-12-17 18:19] JordanSWhite opened #34307 "Midpoint review - Pharmacy"

[2021-12-17 18:19] JordanSWhite opened #34308 "Design intent - Messaging"

[2021-12-17 18:20] JordanSWhite opened #34309 "Midpoint review - Messaging"

[2021-12-17 18:20] JordanSWhite opened #34310 "Design intent - Medical Records"

[2021-12-17 18:21] JordanSWhite opened #34311 "Midpoint review - Medical Records"

[2021-12-17 18:21] JordanSWhite opened #34312 "Design intent - Disability"

[2021-12-17 18:21] JordanSWhite opened #34313 "Midpoint review - Disability"

[2021-12-17 18:22] JordanSWhite opened #34314 "Design intent - Health Care"

[2021-12-17 18:22] JordanSWhite opened #34315 "Midpoint review - Health Care"

[2021-12-17 18:23] bethpottsVADEPO commented on #34121
@RLHecht Here's what you can add to the last paragraph. Just a "note" under the text that's already there. You're cc'd on the email to SMEs where I ask which phone number to use for this, so just plug it in when Myriah responds:

**Note:** If you believe you should have received a refund but didn’t, please call us at XXX-XXX-XXXX

[2021-12-17 18:25] mmiddaugh opened #34316 "Front end implementation of CAP hours"
## Issue description
Currently, hours of operations specified in Drupal for Community access points are not being reflected on the front end.

Vet Center editors may choose to display specified hours or direct Veterans to call the main Vet Center - **for each Community access point** associated with the Vet Center.

Vet Centers may have zero, one or multiple Community access points at any given ti

[2021-12-17 18:25] jsing0 commented on #34200
All Done!

[2021-12-17 18:27] laurensimpson14 commented on #34288
@briandeconinck You now have Domo access 🚀 You should get a welcome email from Domo with instructions for getting logged in. Please feel free to re-open this ticket if you have any questions!

[2021-12-17 18:27] #34288 closed

[2021-12-17 18:27] jason-gcio opened #34317 "[UNPLANNED] Latency Issues for Direct Deposit for EDU (CH33)"
## Story
As a Veteran, I want to be able to quickly and easily adjust my direct deposit information for education payments so that I can ensure that funds are being sent to the appropriate place.

## Issue Description
The Profile Team was notified that the profile page was not loading quickly or at all in some cases on VA.gov.  This presented similarly with other features on VA.gov and had a commo

[2021-12-17 18:29] aschulhof opened #34318 "Adding James Mullen to DSVA Slack"
# Description

**new user requests**: please verify that the user does not already exist in dsva.slack.com (it may be the account exists, but is not in a particular channel)

- Please add James.Mullen@ablevets.com as a full member. He is on the TEVI team

___
Are you requesting to add an individual as a:

- Full member
- Single guest
- Multi-channel
- Switching from single-channel to multi-channel

[2021-12-17 18:30] lunascoop commented on #34197
@RLHecht I updated this page

Veteran Rapid Retraining Assistance Program (VRRAP): http://preview-prod.vfs.va.gov/preview?nodeId=17942

[2021-12-17 18:30] cweagans commented on #34296
Emitting the right error code so that the job fails is a great first step. If an error _can_ be handled by a try/catch + some retries or waiting or whatever, that seems good. I think there are probably some things that just can't be handled by the node script though (e.g. getting bad content back from the API - it would be better to just fail at that point so that we don't inadvertently deploy inc

[2021-12-17 18:33] jason-gcio opened #34319 "Adjusts Error Handling Notifications"
## Background
As a VFS Team, we need to be notified faster and more directly of issues as they occur so that we can have a faster response and awareness to issues.

## Considerations
- There are several tools we should able able to use and get notifications in either our Slack channel or in a dedicated channel we can easily get to.

## Tasks
- [ ] Identify which tools should be used to meet our ob

[2021-12-17 18:34] jhouse-solvd opened #34320 "[Loki] Investigate ways to improve performance"
## Description
Specific queries or a high volume of I/O can cause issues for Loki. This results in inconsistent behavior or degraded performance. There are ways to improve Loki's configuration and infrastructure to provide consistent performance.

## Background/context

- Large in this context means queries with lots of data, ie a longer time window or high number of events
- Errors are seen for M

[2021-12-17 18:41] mchelen-gov commented on #34320
slack thread: https://dsva.slack.com/archives/CTYQL39FE/p1639758429146100

[2021-12-17 18:44] bramleyjl commented on #7300
Getting back to this now - the SAML metadata fetching is working properly and has test coverage, I'm just tweaking the Slack notification formatting; should be ready for review within a day or two.

[2021-12-17 18:50] LizCallaghan commented on #34318
done!

[2021-12-17 18:50] #34318 closed

[2021-12-17 18:50] cindymerrill commented on #33373
Shared research report on slack in Public Websites channel. Looking forward to research readout in January. Might @brianalloyd schedule this?

[2021-12-17 18:55] nicko-amida commented on #32124
@mmiddaugh The UXPin label has been updated to show only the label!

[2021-12-17 18:57] shiragoodman commented on #34244
@vhenry07 thanks! confirming that you're scheduled for 1/6 at 1:30pm ET.

Please be sure to add your own team to the invite - this is something that we no longer do for you. Thanks!

[2021-12-17 19:00] JordanSWhite opened #34321 "Design intent [Cedar Health Apartment - Apartment POC Homepage]"
# Steps to complete Design Intent Collaboration

## Before meeting

**VFS Product Manager or Designer**
- [x]  Create this issue and schedule meeting via Calendly (you are responsible for adding the VFS attendees).
- [ ] Notify the Collaboration Cycle team of this ticket with scheduled date/time in #vfs-platform-support ([see Slack Workflow User guide](https://depo-platform-documentation.scrollhel

[2021-12-17 19:08] mdewey opened #34323 "[FE] Combine API mocks and calls into one API mock and call"
## Related Documentation

- [Sketch](https://www.sketch.com/s/e79a827e-42cf-4a82-b554-874c75b5c70e)
- [Product Docs](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/health-care/checkin)

## Description

We want to take both the `api` directories and combine in to a root level `api`.

## Tasks

- [ ] refactor API
- [ ] OTHER THINGS TO FILL IN
- [ ] Create or updat

[2021-12-17 19:10] tlei123 opened #34324 "[Bug] [IE11] Medical Copays - Overview page - Styling anomaly"
## What happened?
In Windows **Internet Explorer 11**, on **[Staging Medical Copays > Balances Overview](https://staging.va.gov/health-care/pay-copay-bill/your-current-balances/)** page, **No-history** alert styling didn't match mockup.

\[COVID-alert styling anomaly already logged in #33844\]

## Specs:
- Device: Windows 10 desktop
- Browser: IE11\*
- Test User: `vets.gov.user+86@gmail.com` (Bria

[2021-12-17 19:11] mdewey opened #34325 "[FE] Create an API mock server that tracks UUID"
## Related Documentation

- [Sketch](https://www.sketch.com/s/e79a827e-42cf-4a82-b554-874c75b5c70e)
- [Product Docs](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/health-care/checkin)

## Description

Update the new single source `api` to track UUID across sessions. This is for pre-check and the day of check-in to use the same logic and have a shared experience

[2021-12-17 19:12] SKasimow opened #34326 "10-10EZ | Addition of American Indian Question | PTEMS-QA Test Plan"
\[**Product Managers**: Open this ticket **at least 3 Sprints (6 weeks)** before you expect a Platform Staging Review of this Product/Feature.  Then:
- Replace title's **[Product/Feature]** with your actual product/feature name.
- Add yourself to Assignees
- Fill-out sections below.]

**See also**: Relevant [VSA-QA process doc](https://github.com/department-of-veterans-affairs/va.gov-team/blob/mas

[2021-12-17 19:14] mmiddaugh opened #34327 "Align VBA list display"
## Issue Description
The Services list on VBA detail pages contains spelling/spacing errors and other deviations from the list as displayed in the search dropdown.

![image](https://user-images.githubusercontent.com/55411834/146595259-fe12a020-c5b6-49ab-86b3-720047f19dde.png)

![image](https://user-images.githubusercontent.com/55411834/146595417-0de9646c-28a4-4c07-91ca-dbbee1bdbfae.png)

![image](

[2021-12-17 19:15] mdewey opened #34328 "[FE] Refactor Redux functionality into shared place"
## Related Documentation

- [Sketch](https://www.sketch.com/s/e79a827e-42cf-4a82-b554-874c75b5c70e)
- [Product Docs](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/health-care/checkin)

## Description

Move the redux tools (reducers, selectors, and actions) to a shared location and combine them into a better laid out structure

## Tasks

- [ ] maybe create a `us

[2021-12-17 19:16] shiragoodman commented on #34321
thanks @JordanSWhite ! Please be sure to add all relevant artifacts. We can chat via Slack if needed.

[2021-12-17 19:17] mdewey opened #34329 "[FE] Refactor routing"
## Related Documentation

- [Sketch](https://www.sketch.com/s/e79a827e-42cf-4a82-b554-874c75b5c70e)
- [Product Docs](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/health-care/checkin)

## Description

- Update day-of to use the routing hooks and dynamic routing creation
- abstract into a shared location

## Tasks

- [ ] %Add any tasks%
- [ ] Create or update un

[2021-12-17 19:19] mdewey opened #34330 "[FE] Utils folders"
## Related Documentation

- [Sketch](https://www.sketch.com/s/e79a827e-42cf-4a82-b554-874c75b5c70e)
- [Product Docs](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/health-care/checkin)
- [Feature Doc](%FILL IN%)

## Description

Combine and abstract the utils folders into a unified location.

## Tasks

- [ ] OTHER THINGS
- [ ] Audit to see what utils can/should

[2021-12-17 19:21] drorva commented on #34248
Office hours with ops meeting 12/17
* VSP ops will increase resources for Loki since we're currently losing some log data
* Next time we see the issue of response time climbing ops will change the error level from INFO to ERROR
* We're creating a datadog alert to notify us when we see the issue of response time being slow and errors showing

[2021-12-17 19:21] mdewey opened #34331 "[FE] Align Day-of To Pre-check in standards"
## How to configure this issue

- [ ] Attached to an Epic (what body of work is this a part of?)
- [ ] Correctly Labeled
- [ ] Fill in User Stories
- [ ] Fill in Documentation
- [ ] Fill in Tasks
- [ ] Fill in Acceptance Criteria

---

## User Story

- (%FILL IN%)
- (%FILL IN%)

## Related Documentation

- [Sketch](https://www.sketch.com/s/e79a827e-42cf-4a82-b554-874c75b5c70e)
- [Product Docs](htt

[2021-12-17 19:29] ericboehs opened #34332 "Spring issue"
[Slack Thread](https://dsva.slack.com/archives/CBU0KDSB1/p1639151835258000)

Robin Garrison is having problems with Srping 3.1.1 in his Docker instance.

[2021-12-17 19:34] RLHecht commented on #34197
I published this page. Will close and notify the stakeholder when changes are live.

[2021-12-17 19:37] chaseakirby commented on #33818
Created pull requests and draft updated Platform Website pages ready for new link when PRs approved.

[2021-12-17 19:41] ericboehs commented on #34332
He has a workaround for now. Closing as he'll bring it back up in Jan when we switch to K8s.

[2021-12-17 19:41] #34332 closed

[2021-12-17 19:41] ericboehs opened #34336 "DocuSign PDFs fail upload"
When uploading a DocuSign PDF, a 500 occurs. This is due to `pdfinfo` failing to parse the PDF correctly (xref table too large error).

A fix was merged into poppler master on [Dec 23rd, 2020](https://gitlab.freedesktop.org/poppler/poppler/-/commit/4f478daa6a9734b8f269a6586bdce2909844bb6f). I'm not certain which version it's fixed in but I know it's not working on 20.09.0 and it is working in 21.1

[2021-12-17 19:42] ericboehs opened #34337 "ch33 issue"
https://dsva.slack.com/archives/CBU0KDSB1/p1639499732000200

Channel dedicated to this here: https://dsva.slack.com/archives/C02Q9FL124F

[2021-12-17 19:42] ericboehs opened #34338 "SOCKS tunnel issue"

[2021-12-17 19:43] ericboehs opened #34340 "Bundler issue"
[Slack Thread](https://dsva.slack.com/archives/CBU0KDSB1/p1639673874129900)

[2021-12-17 19:43] LizCallaghan commented on #34220
done!

[2021-12-17 19:43] #34220 closed

[2021-12-17 19:44] ericboehs opened #34341 "SOCKS issue"
[Slack Thread](https://dsva.slack.com/archives/CBU0KDSB1/p1639678340141400)

[2021-12-17 19:45] ericboehs opened #34342 "Spool file issue"
[Slack Thread](https://dsva.slack.com/archives/CBU0KDSB1/p1639762159212100)

[2021-12-17 19:45] ericboehs opened #34343 "VN1990 issueVN1990 issue"
[Slack Thread](https://dsva.slack.com/archives/CBU0KDSB1/p1639762416212300)

[2021-12-17 19:46] ericboehs opened #34344 "GIDS issue"
[Slack Thread](https://dsva.slack.com/archives/CBU0KDSB1/p1639763626214000)

[2021-12-17 19:58] #30215 closed

[2021-12-17 19:58] #28090 closed

[2021-12-17 20:01] kristenmcconnell commented on #32560
Thanks, @DanielleThierryUSDSVA for the contact names.

[2021-12-17 20:04] shiragoodman commented on #34264
hi @toddstanich ! Is this ready? I did not see your post on #vfs-platform-support. Please let me know :)

[2021-12-17 20:06] bsmartin-ep opened #34345 "Issue with Domo BQ datasets scheduling"
We have a systemic issue in Domo where the `hasGoogleAnalyticsDataLoaded` is not functioning correctly.   It is supposed to RAISE an exception if the previous day's GA table is not loaded.  It does that, but Domo suppress the exception and marks the update as successful (though with 0 added rows).

Here's an example where you can see "successful" updates with 0 rows....

https://va-gov.domo.com/da

[2021-12-17 20:11] ewilson-adhoc opened #34346 "Access for Emily Wilson"
### COR Name

Courtney Bethea

### Vendor Onboarding Representative Name

Liberty IT -  Michael G. Lovejoy

### Your Name

Emily Wilson

### Your Email

emily.wilson@adhocteam.us

### Name of Your Team

_No response_

### Service(s) You Want Access To

SOCKS

### Public SSH Key

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC9k6takXQ7xEYG1euBpWykKC3FYgrM837B7RZubTbpc4rJ94sKJZ/X/J25CSfXaEP8awuRfVYug64p6q7y

[2021-12-17 20:14] thilton-oddball commented on #34338
This one I was able to have him connect with `ssh socks` and he could access Sentry, Grafana, etc. in Safari but not Firefox. With `vtk socks setup`, the SSH test passes but it fails when configuring SOCKS tunnel to run on system boot.

[2021-12-17 20:23] bsmartin-ep commented on #34294
No GA or Domo access.

[2021-12-17 20:24] bsmartin-ep commented on #34285
No GA or Domo access.

[2021-12-17 20:26] ajmagdub opened #34348 "Error in creating booked appointment through VAOS Service '/vaos/v2/appointments ' endpoint"
Using the Jacqueline Morgan test user attempted to create a VA booked appointment with the VAOS Web Application. On confirming the appointment received the following error from the VAOS Service:

[code]

The request body is:
[code]

If the time and offset is added to the desiredDate value the request can be completed.

Initial issue written for the front end but this may end up being a VAMF VAOS S

[2021-12-17 20:27] kristenmcconnell commented on #34224
I'm gathering information and placing it in this[ Mural](https://app.mural.co/t/vsa8243/m/vsa8243/1639771440747/b81917d1a209099d40cad55cd376c991b69ddc8a?sender=uc940f53ad96ac0203d6d3631).

[2021-12-17 20:31] bsmartin-ep commented on #33744
@AirWalters - moving this into standby while we await a decision on publishing rights.  Please ping us (or send for approval in GTM) if you have any changes to the container.

[2021-12-17 20:40] #34222 closed

[2021-12-17 20:40] #34194 closed

[2021-12-17 20:42] Samara-Strauss commented on #34317
Latest status - it sounds like this may have been an issue that resulted from how we process logging. [Highlights from Slack](https://dsva.slack.com/archives/C02Q9FL124F/p1639766106299600):

From Dror:

From Joe Niquette:

A few takeaways:

- It sounds like there may have been latency issues with other non-BGS endpoints, but I don't know that it ever got as bad as things entirely not loading. I'm

[2021-12-17 20:46] MarciMcGuireGCIO commented on #31685
Closing now that Adam has added tests.

[2021-12-17 20:46] #31685 closed

[2021-12-17 20:46] jonathan-epstein13 commented on #27914
Hello @lianilychee we've add the changes/cards you requested! Here is the [WIP - Platform Website KPIs](https://va-gov.domo.com/page/1182586883?userId=44062480) Let us know if this is what you were looking for and please let us know what you think of the new dashboard.

[2021-12-17 20:49] Mottie commented on #29893
New Sentry error: http://sentry.vfs.va.gov/organizations/vsp/issues/60670/

[2021-12-17 20:51] toddstanich commented on #34264
Hi @shiragoodman it is ready now, I was waiting on an edit. But we're all set now. Thanks!

[2021-12-17 20:51] MarciMcGuireGCIO commented on #33007
R&S article for updating Legal Name is live - https://www.va.gov/resources/how-to-change-your-legal-name-on-file-with-va/

[2021-12-17 21:04] oseasmoran73 commented on #34274
Made a syntax fix for daily deploy https://github.com/department-of-veterans-affairs/content-build/pull/860

[2021-12-17 21:15] rbeckwith-oddball commented on #34346
https://github.com/department-of-veterans-affairs/devops/pull/10463

[2021-12-17 21:15] #34346 closed

[2021-12-17 21:16] Samara-Strauss commented on #34317
It appears we are having latency issues again, though as of now, the feature is not entirely down.

Bill Ryan put together [this Grafana chart](http://grafana.vfs.va.gov/d/000000017/vets-api?editPanel=10&orgId=1&from=now-1h&to=now) which shows us max/avg load times for the endpoint.

Joe says that the semantic logging is backing up again, so this is likely a logging issue. Conversation/work is con

[2021-12-17 21:19] bethpottsVADEPO commented on #34121
@RLHecht I just reviewed the last of these 3 articles (extension) and swapped the years as the SME indicated. I don't think it works to put the note in the intro, so I'm adding a a bit to the first sentence. Please copyedit, and thank you!

[2021-12-17 21:30] mchelen-gov commented on #34248
@drorva Thanks for the update! Is there a GH issue for the DD alert creation?

[2021-12-17 21:33] #31472 closed

[2021-12-17 21:37] andaleliz commented on #33007
Thanks Marci! I sent a follow-up to Jeremy for VBA info to make sure that doesn't get too stale.

[2021-12-17 21:38] MarciMcGuireGCIO commented on #33007
Thank you @***@***.******@***.***>!
________________________________
From: Liz Lantz ***@***.***>
Sent: Friday, December 17, 2021 4:37:30 PM
To: department-of-veterans-affairs/va.gov-team ***@***.***>
Cc: McGuire, Marci ***@***.***>; Mention ***@***.***>
Subject: Re: [department-of-veterans-affairs/va.gov-team] [Design] Profile - Confirm with VHA & VBA how info should be updated (Issue #33007)

Th

[2021-12-17 21:42] RLHecht opened #34349 "COVID updates for CDC recommending Pfizer/Moderna boosters"
## Issue Description
We need to make updates to our COVID vaccine pages with the new information that the CDC recommends the Pfizer and Moderna boosters.

## Tasks
- [x] Update pages (Danielle)
- [x] Copyedit (Randi)
- [x] Send out for approval (Danielle)
- [x] Publish (Randi)
- [x] Send to translators (Randi)
- [x] Update Spanish page (Selina)
- [x] Update Tagalog page (Selina)
- [x] Review and p

[2021-12-17 21:43] aarathi-poldass commented on #32687
Re-tested the defect and the issues has been resolved. Closing the ticket.
![Uploading image.png…]()

[2021-12-17 21:43] #32687 closed

[2021-12-17 21:49] holdenhinkle commented on #33789
Support for login.gov accounts added. The solution automatically generates the time-based one-time password using the given `mfa_code` for a TUD account, so TUD users don't have use an authenticator app. This will be one of the bigger benefits of using TUD, until we're able to generate new TUD accounts (test users) on the fly.

PR:
https://github.com/department-of-veterans-affairs/vsp-test-user-da

[2021-12-17 21:51] kelsonic commented on #34252
Both the legacy header and the new header use the same component for the auth menu, so the auth menu doesn't know about its id that's a duplicate 😬

[2021-12-17 21:53] andaleliz commented on #33734
I reviewed these with Samara and Danielle, and we are good to go with these solutions. I'd like to evaluate the proposal in a task at the end of the Personal Information research, just to validate that this approach will indeed work for Veterans. It will also be helpful to get confirmation about the technical feasibility of this, so I will set up a meeting to review. @MarciMcGuireGCIO is Adam the

[2021-12-17 21:54] ericboehs commented on #34337
Confirming this can be closed in thread.

[2021-12-17 21:54] Samara-Strauss commented on #33734
Yep! Adam is the FE dev working on profile currently.

[2021-12-17 21:57] thilton-oddball commented on #34342
Going to consider this issue closed. The issue was one of the spool files missing. I re-ran the job and the spool file was generated and delivered. It happened to have about 10 times the number of applications processed as normal. That aspect of it seems related to [this issue](https://github.com/department-of-veterans-affairs/va.gov-team/issues/34343).

[2021-12-17 21:57] rileyorr commented on #33159
Added the designs for the vehicles section:
- [Asking how many cars the Veteran owns](https://preview.uxpin.com/552e9ad135f7d7ee943a92576feab45190b069f4#/pages/145354965/simulate/sitemap?mode=i)
- [If the household only has one vehicle](https://preview.uxpin.com/552e9ad135f7d7ee943a92576feab45190b069f4#/pages/145354964/simulate/sitemap?mode=i)
- [If the household has more than one vehicle ](https:

[2021-12-17 21:57] andaleliz commented on #34003
Thank you so much @Samara-Strauss! This is very helpful, and wow, complicated. I don't have any questions about the failing end point, but do have a comment:

I do not recall anyone bringing up My VA during the discussions around the problem and proposed solutions 😞

 And I have just one question one about health:

Do you know if there any other data points we can cross-reference, such as last app

[2021-12-17 21:57] #34342 closed

[2021-12-17 21:59] holdenhinkle commented on #33789
PR for changes to `vets-api` - https://github.com/department-of-veterans-affairs/vets-api/pull/8721

[2021-12-17 22:00] #34278 closed

[2021-12-17 22:00] bosawt commented on #34278
We appear to be finished with this investigation for now. There was an issue with logs being backed up when written to Loki, and that was causing production issues. I think my role in this is finished for now at least

[2021-12-17 22:01] MarciMcGuireGCIO commented on #33734
@andaleliz thank you! Adam doesn’t yet have any context for this work, so maybe we should schedule a meeting with Christina and Adam after we get back from the holiday break.

[2021-12-17 22:13] Mottie opened #34350 "526: Fix undefined error seen in Sentry"
## Description

A Sentry error `Cannot read properties of undefined (reading 'view:livesOnMilitaryBase')` occurred after the page failed to load the save-in-progress data. Add checks to prevent this error

- http://sentry.vfs.va.gov/organizations/vsp/issues/59999
- https://github.com/department-of-veterans-affairs/va.gov-team/issues/34110

## Tasks

- [ ] Add checks to prevent `view:livesOnMilitar

[2021-12-17 22:25] ltrombley commented on #34065
Task #34065 - Post Production Audit of VAMC VA Charleston health care for links, standards, and design standards.[BA]  - is Complete and moved to Validate

[2021-12-17 22:47] RLHecht commented on #33809
@DanielleThierryUSDSVA Here is the new language Selina and I worked on for the FAQ accordion "What happens to my GI Bill benefits if my school changes to online classes or temporarily closes?"

**If your school changes to online classes**

If you’re currently receiving GI Bill benefits, payments will continue automatically. You don’t have to do anything.

To help students affected by the COVID-19

[2021-12-17 23:07] bsmartin-ep commented on #29063
@chloedotbrown -

We wouldn't get things like total search results, position clicked _etc_, but I don't see why we couldn't tie `page_path` in _Generic All Site Searched by Day_ to our standard search scope.  Looks like we only have site search and find forms in there, but that's definitely most searches on the site.

![image](https://user-images.githubusercontent.com/62304138/146617832-047c73c1-a

[2021-12-17 23:35] cindymerrill commented on #33373
I've done all that post-research tasks that I can do up until the research readout.

[2021-12-17 23:37] cindymerrill commented on #33756
Drafted [initial research plan](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/harassment-reporting/research/static-landing-page/research-plan.md) with unknowns noted, shared with Brian for feedback, made a few revisions, and then shared with Dave and Danielle in preparation for our meeting on Jan 3.

[2021-12-18 00:38] bsmartin-ep commented on #29573
### Complete:

_GA 101 to help completely new users get started._
https://depo-platform-documentation.scrollhelp.site/analytics-monitoring/New-Users-to-Google-Analytics.1877704964.html

_Expanded FAQs for GA (currently in WIP folder)_
https://depo-platform-documentation.scrollhelp.site/analytics-monitoring/Frequently-Asked-Questions.1783333118.html

### TODO:

_Guide to GA segmentation: how to do,

[2021-12-18 00:49] RudyOnRails commented on #34319
Great idea @jason-gcio. According to Bill Riley it is much easier to use DataDog for alerts than Grafana, and according to Platform, DD is the future, and Prometheus will be deprecated at some point.

We should all start adding our ideas to this ticket as far as:
- What the monitor should track/monitor (e.g. view-payments average request duration over a 5min period)
- What the warning threshold sh

[2021-12-18 01:01] bsmartin-ep opened #34351 "BUG: va-select missing from component analytics lookup"
The `va-select` [web component](https://github.com/department-of-veterans-affairs/component-library/blob/master/packages/web-components/src/components/va-select/va-select.tsx) has the same event as the old React `Select`, but needs to be added to the lookup object in:

https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/platform/site-wide/component-library-analytics-setu

[2021-12-18 01:06] RudyOnRails commented on #34248
@mchelen-gov actually there is not, good question. I am working on perfecting the monitor now, but will create an issue now.

[2021-12-18 01:58] RudyOnRails opened #34352 "create DD monitors for view_payments and ch33_bank_accounts"
## Background

In order to monitor the issue of lengthy response times for Ch33 and view-payments we are creating a Datadog monitor that will send notifications into #bgs-direct-deposit-payment-info-debugging

[2021-12-18 02:00] RudyOnRails commented on #34352
@drorva @mchelen here's the ticket I'm working on for the DD monitor to alert our slack channel.

[2021-12-18 03:09] theodur commented on #33983
I created a [draft PR](https://github.com/department-of-veterans-affairs/vets-website/pull/19726) for this ticket that I'll open later on.

[2021-12-18 05:42] RudyOnRails commented on #34352
https://app.datadoghq.com/monitors/58352878

Made a warning of 10sec and alert of > 30sec. Let me know if you see anything wrong or want any changes.

To be simple to start, I combined request durations for the top 3 endpoints causing delays (Ch33 index, Ch33 update, and view payments), and took an average of all 3. Perhaps tomorrow I will either create a dashboard or create separate monitors for

[2021-12-18 05:42] #34352 closed

[2021-12-18 17:58] bsmartin-ep commented on #34351
Deployed.

[2021-12-18 17:58] #34351 closed

[2021-12-18 20:51] andaleliz commented on #33734
@MarciMcGuireGCIO Adam and I have some time set up on Monday to meet and I'll use part of that time to introduce the problem and what I'm thinking of. We can go from there :)

[2021-12-19 15:12] jbritt1 commented on #20166
Since this one has been open since February + we are trying to get rid of prometheus, perhaps this one can be closed as a non-priority?

[2021-12-19 15:15] jbritt1 commented on #6637
This is approaching 2 years of being open with no activity, could it be argued that this is no longer needed / desired?

[2021-12-19 15:48] jbritt1 commented on #29036
Personally, I think the version pinning method is the lowest LOE that could get us closer to closing this sooner.

[2021-12-19 15:49] jbritt1 commented on #29038
Do we still want Pomerium?

[2021-12-19 15:53] jbritt1 commented on #29040
Could this perhaps also be solved if we went the route of version pinning secrets in application manifests for department-of-veterans-affairs/va.gov-team#29036?

[2021-12-19 16:05] jbritt1 commented on #30040
Solved by notes added to https://vfs.atlassian.net/wiki/spaces/OT/pages/1474595213/Self-Hosted+Runners

[2021-12-19 16:05] #30040 closed

[2021-12-19 16:06] jbritt1 commented on #30081
I personally would propose that the automated solution target and purge branches over 90 days of age. One could argue that considering the speed at which development often moves, 90 day old branches are typically long and far behind current work / initiatives / etc.

[2021-12-19 16:08] jbritt1 commented on #30081
My proposal for the solution would be (if possible) a github action that leverages the GitHub API to find and delete all branches in all repos we touch over 90 days of age. I could also see expanding it to 6 months at first and then tweak / reduce from there.

[2021-12-19 16:09] jbritt1 commented on #30081
Perhaps something along the lines of the discussion seen here: https://stackoverflow.com/questions/10325599/delete-all-branches-that-are-more-than-x-days-weeks-old/49998249

[2021-12-19 18:44] rbeckwith-oddball commented on #34285
/request Amandeep Maman

[2021-12-19 18:54] rbeckwith-oddball commented on #34285
1. Not found in roster
2. Removed https://github.com/department-of-veterans-affairs/devops/pull/10465
3. Access not found
4. Request submitted
5. Request https://github.com/department-of-veterans-affairs/github-user-requests/issues/9249
6. No pagerduty user found
7. No datadog user found
8. No sentry user found
9. User not found in bot accounts

[2021-12-19 18:57] #33990 closed

[2021-12-19 23:48] ERRonat0609 commented on #33880
@mattpointzxer0 this issue is ready for your review/approval. Please close upon validation. Thanks!

[2021-12-19 23:49] ERRonat0609 commented on #33877
@mattpointzxer0 This issue is ready for your review/approval. Please close upon validation. Thanks!!

[2021-12-20 00:18] ERRonat0609 commented on #34287
@af-manish @AdamFreemer @mrblanco1 In going through some older issues, I found a reference to a feature flag that was used to hide this functionality and then flipped to turn it on in prod, BUT -- according to issue #[10812 ](https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/10812)- the flag was never removed from production. It was cr

[2021-12-20 13:44] thilton-oddball commented on #34341
Getting timeout error when running vtk socks setup. User doesn't have file permissions to edit .ssh/config.

[2021-12-20 13:48] thilton-oddball commented on #34344
Had to update Rails and Brakeman because of the CVE issues. Doesn't look like they have kept up with gem updates in that repo so it is requiring a lot of additional updates that are causing problems.

[2021-12-20 14:24] thilton-oddball commented on #34341
User said to close ticket for now. She will open a new ticket if she still experiences issues once she has proper rights on her machine.

[2021-12-20 14:24] #34341 closed

[2021-12-20 14:26] jsgarmon commented on #32621
I'm in the Venafi portal. What is meant by "Request SSL certificates" @jhouse-solvd?

[2021-12-20 14:27] JordanSWhite opened #34354 "Project kickoff meeting with Collaboration Cycle"
Acceptance criteria:
- [ ] Held meeting on January 4
- [ ] Recorded insights and action items in shared document

[2021-12-20 14:29] JordanSWhite opened #34355 "Prioritize feedback from working group"

[2021-12-20 14:29] JordanSWhite opened #34356 "Prioritize feedback from collaboration cycle"

[2021-12-20 14:29] JordanSWhite opened #34357 "Midpoint review for homepage"

[2021-12-20 14:30] JordanSWhite opened #34358 "Submit research plan, conversation guide, and designs to Shane for formal testing"
- [x] Research plan, conversation guide, and designs submitted to Shane for review / edits / approval

[2021-12-20 14:31] JordanSWhite opened #34359 "Iterate unauth homepage"
Acceptance criteria:
- [ ] unauth mobile and web homepage evolved to reflect changes to the auth designs
- [ ] unauth mobile and web homepage evolved based on feedback from design intent

[2021-12-20 14:46] LinnJS commented on #34086
[PR](https://github.com/department-of-veterans-affairs/vets-api/pull/8713) where this work is being done.

[2021-12-20 14:46] LinnJS commented on #34086
Closing since this work was just merged this morning.

[2021-12-20 14:46] #34086 closed

[2021-12-20 14:48] rbeckwith-oddball commented on #34099
Duplicate of 34098, closing

[2021-12-20 14:48] #34099 closed

[2021-12-20 14:58] shiragoodman commented on #34264
@toddstanich is the Digital Health Platform a different team than VANotify? or was VANotify renamed? Please let me know.

[2021-12-20 15:03] tmac9494 commented on #32587
@brianalloyd I currently have a solution hacked together that sets a new custom cookie that tracks through the render but Im worried this only solves the issue visually. Upon further investigation I have found that there is no new cookie or window variable being added. Im reaching out now to other parts of the team to see if there is another location where this state lives or if there is a problem

[2021-12-20 15:23] nsmith1982 opened #34360 "Offboarding of Justin Bosse"
# Instructions
Fill out name of individual and *Description* section below.

# Description
- Please provide the name of the individual needing offboarded.

- Please provide the name of their team, their role on that team, expected last day, and the name of the company they work for.

- Please provide any type of a/ccess they may have and their GitHub username.

## AC
*Performed by Platform team*

[2021-12-20 15:25] brianalloyd commented on #33998
Looks great, thanks @kelson.  Closing ticket now in support.

[2021-12-20 15:25] #33998 closed

[2021-12-20 15:25] alexandec commented on #32896
Transfer was approved and the DataDog CI Visibility integration is now functioning! All builds for `vets-website` and `content-build` are being recorded. URL is https://app.datadoghq.com/ci/pipelines

[2021-12-20 15:25] LindseySaari commented on #33446
Monday update: Ops will be moving to staging for testing and Dev testing has proven successful. If everything checks out in staging, the plan is to turn on tracing for production.

[2021-12-20 15:26] #32896 closed

[2021-12-20 15:26] brianalloyd commented on #34085
Work is completed, closing ticket in support.

[2021-12-20 15:26] #34085 closed

[2021-12-20 15:27] lindsay-insco commented on #33954
Up to 68 users in office hours at peak.

[2021-12-20 15:27] #33954 closed

[2021-12-20 15:32] tmitchellgcio commented on #32288
I see payment history and that's fairly straightforward, but I'm not sure how I find things they owe and haven't paid. I don't know how to retrieve the api for that at the moment or if there is one. @tressaellen @hdjustice do you know who I would talk to in order to figure that one out? Also if we are showing a notification for recent payments the question I have is, how many days is it considered

[2021-12-20 15:34] chancetheoriginal commented on #34056
Doc drafted and sent to leadership.

[2021-12-20 15:35] holdenhinkle opened #34361 "Make sure TUD accounts are reset to back to their original state on checkin"
Make sure TUD accounts are reset to back to their original state on checkin.

[2021-12-20 15:35] chancetheoriginal commented on #33820
Tracker created and shared on VA side. Current version requires manual interaction, future update should include automation from ServiceNow

[2021-12-20 15:38] brianalloyd opened #34362 "[FE] Remove <class="vads-u-font-size--h3"> Q&A Content Blocks"
## User Story
- As a content editor on VA.gov I need headings to render properly in order to have a clearly communicated content for Veterans, caregivers and others visiting VA.gov.

## Related Documentation
- [Slack Thread](https://dsva.slack.com/archives/C52CL1PKQ/p1639769532151300)

## Description
- The ticket you worked on for making featured content Q&As H2s has them still looking like H3s ev

[2021-12-20 15:39] chancetheoriginal commented on #30829
Existing Area Manager list is puling a 404, notified Shane for further assistance. Awaiting followup.

[2021-12-20 15:41] MarciMcGuireGCIO opened #34363 "Auth Profile: Sprint 64"
## General

## Direct deposit latency issue

### BE - Lihan
-

[2021-12-20 15:41] lindsay-insco commented on #34138
Were already on site - Added additional information

[2021-12-20 15:41] #34138 closed

[2021-12-20 15:43] lindsay-insco commented on #31386
Final message guideline updates. Update sites of concern to helpdesk

[2021-12-20 15:44] lindsay-insco commented on #33742
Final training! @chancetheoriginal & @mdcarp have VEText superuser access

[2021-12-20 15:44] #33742 closed

[2021-12-20 15:45] lindsay-insco commented on #32305
Demonstrated to Shane

[2021-12-20 15:45] #32305 closed

[2021-12-20 15:45] brianalloyd opened #34364 "[FE] Minor inconsistency in the VA.gov site header"
## User Story
- As a Veteran, Caregiver and user of VA.gov, I need an optimized experience so I can complete tier 1 benefit actions while visiting VA.gov.

## Related Documentation
- [Slack Thread](https://dsva.slack.com/archives/CBU0KDSB1/p1639692573182100)

## Description
- Padding around the My VA link when the page is active (user is on the page) and the user hovers over the link. No L / R pad

[2021-12-20 15:45] joshkimux commented on #34252
@kelsonic ooph that's tricky 😅
If this doesn't cause any actual a11y issues (since it should be hidden from the a11y tree), I'm inclined to closing it now or leaving it open as a `defect-4` until the legacy header is officially retired so folks know why the issue is being flagged in axe.

That being said, I'm still not too sure how to proceed here then-- @noahgelman would you be able to help us?

[2021-12-20 15:46] hdjustice commented on #33834
@tressaellen @andaleliz - I created this **[Use Case document](https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/blob/master/Administrative/vagov-users/staging-test-accounts-PaymentInfo.md)**, using the old My VA 2.0 test case document as a reference (most of the use cases were already basically there).  Whenever there is a moment (not necessarily today even), please take a l

[2021-12-20 15:46] Samara-Strauss commented on #34003
Not that I know of without making things overly complex and potentially not reliable.

I agree. I think we should show the link to everyone.

I had another thought on this which I should have shared sooner but didn't because my brain was totally occupied by the direct deposit issue last week. If we are going to show the links for health care, disability compensation, and education at all times reg

[2021-12-20 15:52] pjhill commented on #31999
There isn't too much to take in with this visualization atm, but we are setup for the future!

[2021-12-20 15:52] #31999 closed

[2021-12-20 15:54] chancetheoriginal commented on #32592
Received response from OIT-SMO with a questionnaire to be filled out.
- Filled out questionnaire and returned.

Awaiting response.

[2021-12-20 15:54] MarciMcGuireGCIO opened #34365 "[BE] Auth Profile: Catch up on latency findings"
## Background
There have been ongoing latency issues when calling the BGS service for edu direct deposit info.  This latency was impacting our ability to load the VA.gov profile in a timeline manner.

Most of the pertinent technical findings are documented in:
- The [#bgs-direct-deposit-payment-info-debugging](https://github.com/department-of-veterans-affairs/va.gov-team/issues/34248#Hypotheses) S

[2021-12-20 15:55] kristenmcconnell commented on #34225
Upon review by @niradatta1 and @ytsaoca, the following items from Patrick's review will be added to the scope of this ticket...

- test different browser options
- recommendations for sticky footer (though, would this involve another team? do we "own" the decision on what to do with that banner?)

[2021-12-20 15:57] brianalloyd opened #34366 "[Design] Discovery: Good/Bad Rating on Benefit Hubs"
## User Story
- As a Veteran, Caregiver and user of VA.gov, I want to provide feedback to the VA concerning my experiences while on VA.gov.

## Documentation
- Current Design on VA.gov
![Screen Shot 2021-12-20 at 8 50 54 AM](https://user-images.githubusercontent.com/70410912/146795062-e0a06cb6-1a52-41f3-9b06-51eddf1738e7.png)

## Description
- The good/bad feedback component was created by the PW

[2021-12-20 16:02] MarciMcGuireGCIO opened #34367 "Auth Profile: Sprint 64 (Dec 29 - Jan 11)"
# Auth Profile: Sprint 64 (Dec 29 - Jan 11)

## PTO/OOO/Unavailable
Samara: 12/29-31
Heather: 12/31
Marci: 12/30-31
Tressa: 12/29-31
Liz: 12/29-31, 1/6-1/7
Christina: 12/29-31
Taylor:  12/31
Lihan: 12/31
Tom: 12/29-31
Adam: 12/31

## Sprint Objectives
- Final wrap-up on any outstanding direct deposit for edu issues
- Research for Personal information revisions
- Continue Personal information revis

[2021-12-20 16:10] brianalloyd opened #34368 "Public Websites: Sprint 64 Priorities"
## **Sprint 64 Priorities: Dec 29- Jan 11 , 2022**

VA.gov Mobile Header launch strategy close-out | Outreach & Events, Post Research actions, FE build, Collab Cycle for Launch Readiness |  Tech-debt & In-take Requests | Redirect Requests vetted by IA.

1.  Outreach & Events -->  FE Build actions, Internal UAT, VSP Staging Review, Launch Readiness.
2. HRT --> Conduct KPI Planning Session, Finalize

[2021-12-20 16:14] DanielleThierryUSDSVA commented on #33809
Hi @RLHecht. Yes, please send - thank you! I just added a sentence about the online rate being half the national average. If we can include the actual rate, that's even better.

**If your school changes to online classes**

If you’re currently receiving GI Bill benefits, payments will continue automatically. You don’t have to do anything.

To help students affected by the COVID-19 pandemic, we pai

[2021-12-20 16:16] MarciMcGuireGCIO opened #34369 "[BE] Auth Profile: Determine if logging should change, make changes if so"
## Background
There have been ongoing latency issues when calling the BGS service for edu direct deposit info.  This latency was impacting our ability to load the VA.gov profile in a timeline manner.

After reviewing the information referenced in #34365, determine what, if anything can be done with logging on the BE to prevent additional latency.  If there are changes that can positively impact pe

[2021-12-20 16:21] dcgoodwin2112 commented on #29983
Moving to blocked until the FE refactor of the utils and hooks is complete

[2021-12-20 16:29] MarciMcGuireGCIO opened #34370 "[BE] Auth Profile - Knowledge transfer on Ch33 Logging issues and any changes made"
## Background
There have been ongoing latency issues when calling the BGS service for edu direct deposit info.  This latency was impacting our ability to load the VA.gov profile in a timeline manner.

This ticket is to capture time for Lihan to give Tom a summary of the issue, technical findings, and any backend changes that were made to improve performance.

Related issues:
- #34365
- #34369

##

[2021-12-20 16:38] thilton-oddball commented on #34340
User was able to resolve issue by installing proper version of rvm.

[2021-12-20 16:38] #34340 closed

[2021-12-20 17:03] rbeckwith-oddball commented on #34098
/request Zach Morel

[2021-12-20 17:09] MarciMcGuireGCIO opened #34371 "[BE] Auth Profile: Determine how team can be automatically alerted of latency issues impacting VA.gov Profile"
## Background
There have been ongoing latency issues when calling the BGS service for edu direct deposit info.  This latency was impacting our ability to load the VA.gov profile in a timeline manner, but the only way we were aware of it is if someone on the team noticed it, or if a Veteran or other use let us know.

We need to determine if there is a better/easier way we can be alerted to backend

[2021-12-20 17:10] rbeckwith-oddball commented on #34098
1. VFS Roster - removed
2. zmorel@governmentcio.com removed [here](https://github.com/department-of-veterans-affairs/devops/pull/10467)
3. AWS access not found
4. Request submitted
5. https://github.com/department-of-veterans-affairs/github-user-requests/issues/9258
6. PagerDuty user not found
7. DataDog user not found
8. Sentry user found and removed

[2021-12-20 17:13] JordanSWhite opened #34372 "Accounts and Permissions"

[2021-12-20 17:13] Evafloyd commented on #33186
Update: we've learned there is a directive to the staff to inquire about changes in address, next of kin, emergency contact with every visit.

[2021-12-20 17:13] JordanSWhite opened #34373 "Folders in Messages"

[2021-12-20 17:23] shiragoodman commented on #34264
Hi @toddstanich. Thanks for completing this Collaboration Cycle Kickoff ticket! Based on your responses, your project is a new tool and/or application so we are recommending the following Collaboration Cycle touchpoints:

- [Design Intent](https://depo-platform-documentation.scrollhelp.site/collaboration-cycle/Design-intent.1782153235.html)
- [Research Plan Review](https://depo-platform-documentat

[2021-12-20 17:25] kristenmcconnell commented on #33288
Blocked by the following CHIP ticket: https://app.zenhub.com/workspaces/chip-api-6149f6401b0b3c001219802f/issues/department-of-veterans-affairs/chip/276

[2021-12-20 17:25] holdenhinkle commented on #34361
Draft PR - https://github.com/department-of-veterans-affairs/vets-api/pull/8729

^ is untested. I can't login to `vets-website` locally with `id.me` accounts for some reason.

[2021-12-20 17:28] SKasimow opened #34374 "DISCOVERY @ New Forms Library"
## Overview

The C+L team would like to initiate a project to create an MVP for a spanish version of the 1010CG form.
The new spike team is in Round 1 of research and we will participate in this effort to determine when/if we can plug ourselves in to help move this forward and work on a spanish 1010cg in 1Q22.

## Acceptance Criteria
-[ ]

[2021-12-20 17:32] andaleliz commented on #34003
This occurred to me over the weekend as well. If you are happy with the level of interaction you're seeing with the edu and disability sections, then I don't think it needs to be more complex than updating the logic and changing the heading. I can take that to content office hours this week.

[2021-12-20 17:37] mchelen-gov commented on #34320
memcache prod memory usage: https://app.datadoghq.com/monitors/58408512?live=1w&q=cluster_name%3Adsva-vagov-prod-cluster

[2021-12-20 17:39] mchelen-gov commented on #34320
example test query: http://grafana.vfs.va.gov/explore?orgId=1&left=%5B%22now-60d%22,%22now-30d%22,%22Loki%20(Prod)%22,%7B%22exemplar%22:true,%22expr%22:%22%7Bapp%3D%5C%22vets-api-server%5C%22,%20filename%3D~%5C%22.%2Bjson.log%5C%22%7D%20%7C%3D%20%5C%22payment_history%5C%22%20%7C%20regexp%20%5C%22(%3FP%3Ctime%3E%5C%5C%5C%5Cd%5C%5C%5C%5Cd:%5C%5C%5C%5Cd%5C%5C%5C%5Cd:%5C%5C%5C%5Cd%5C%5C%5C%5Cd)%20(%3F

[2021-12-20 17:40] hdjustice commented on #32288
@tmitchellgcio Hi Taylor.  I am not sure if @tressaellen has an idea on where to obtain the debt info, she did suggest posting in #vsa-debt slack channel.  They are aware we are working on this and the Onsite notification effort.
I have a quick meeting with Denise Coveyduc (PM for Debt Resolution team) today, so I will see if she can give us some people to talk with on her team.

[2021-12-20 17:46] thilton-oddball commented on #34343
- Duplicate VN1990s are being sent.

- Already have a VN1990 on file for each ‘applicant’, and the first VN1990 on each case was received during either August 2017 or September 2017.

- Both the old and new VN1990 have different confirmation numbers on them.

[2021-12-20 17:48] RLHecht commented on #34197
Page is live. Closing ticket.

[2021-12-20 17:48] #34197 closed

[2021-12-20 17:50] thilton-oddball commented on #34343
Current thinking is that the kms jobs may be causing the issue with the updating of decryption_verified_at date. Holding off on running the jobs until we can determine if this is indeed the case.

[2021-12-20 17:53] Kimberley2019 commented on #34105
@alsleaders the caller emailed stating that they have not heard anything as of yet.  Is there anything that we can provide to the caller at this time?

From: VA Technical Support
Sent: Monday, Dec
REDACTED
Subject: RE: No Response

Good Morning Mr. REDACTED,

I will reach out to the team today and inquire about a status update.  Once I receive a response, I will advise you of the details.

Kind Re

[2021-12-20 17:55] #13910 closed

[2021-12-20 17:55] bethpottsVADEPO commented on #13910
@RLHecht Since the only article left in play from this ticket is the one about back pay, and the pension SMEs are now pulling together some info for us to use for it, I'm going to close this ticket. Would you open a new one with the title: Get SME input on back pay article for disability comp and pension benefits (IRIS rewrite). Include the preview link for the article: http://preview-prod.vfs.va.

[2021-12-20 17:59] rbeckwith-oddball commented on #34101
/request Becca Walsh

[2021-12-20 17:59] pavanhothi commented on #33937
<html>
<body>
<h3 dir="auto" style="box-sizing: border-box; margin-top: 0px !important; margin-bottom: 16px; font-size: 1.25em; font-weight: 600; line-height: 1.25; color: rgb(36, 41, 47); font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;; font-style: normal; font-variant-ligatures: normal;

[2021-12-20 18:03] RLHecht commented on #34349
These changes were sent to translators on 12/20.

[2021-12-20 18:03] RLHecht commented on #34297
These changes are live. Closing ticket.

[2021-12-20 18:03] #34297 closed

[2021-12-20 18:05] RLHecht commented on #34121
These articles are all published. Waiting until they are live to add them to our master list in Github.

[2021-12-20 18:05] alsleaders opened #34375 "Access for Amanda Leaders"
### COR Name

Mary O’Toole

### Vendor Onboarding Representative Name

GovernmentCIO - Kimberly O. West

### Your Name

Amanda Leaders

### Your Email

amanda.leaders@gcio.com

### Name of Your Team

Claims & Appeals - Backend Software Engineer [GovernmentCIO]

### Service(s) You Want Access To

AWS

### Public SSH Key

_No response_

### Desired AWS Services

I need access to EC2, Cloudwatch and

[2021-12-20 18:06] rbeckwith-oddball commented on #34101
1. Removed from roster
2. Not found
3. Not found
4. Request submitted
5. Rebecca Walsh rebecca.walsh@adhocteam.us rebeccawalsh [here](https://github.com/department-of-veterans-affairs/github-user-requests/issues/9259)
6. PagerDuty user not found
7. DataDog pending invite deleted
8. Sentry user found and removed
9. User not found in bot key list

[2021-12-20 18:07] jfinnern commented on #33881
Validated in staging
Test run: https://dsvavsp.testrail.io/index.php?/runs/view/2742&group_by=cases:title&group_order=asc
Test case:
https://afs365.sharepoint.com/:x:/r/sites/DGIBillServicesProject/Shared%20Documents/Legacy%20AO/Team%203/QA/Test%20Results/AFS-Sprint%204/%5BMarkup%20and%20meta%20data%5D%20HTML%20markup%20isn%27t%20valid.%20(09.01.1).xlsx?d=w2a53bc456a51436c832e098bc0433338&csf=1&we

[2021-12-20 18:09] mydesignrocks commented on #34375
@mchelen-gov can you please review for AWS access. Thanks
@alsleaders said her equip has been submitted.

[2021-12-20 18:10] rbeckwith-oddball commented on #34294
/request Karina Gonzalez

[2021-12-20 18:12] #33711 closed

[2021-12-20 18:14] jsing0 commented on #34236
completed and reviewed

[2021-12-20 18:15] rbeckwith-oddball commented on #34294
1. User not found in roster
2. User not found in `global/config.yml`
3. No AWS account found
4. Request submitted
5. Karina Gonzalez karinamzalez@gmail.com karinamzalez [removal request](https://github.com/department-of-veterans-affairs/github-user-requests/issues/9261)
6. User not found in PagerDuty
7. User not found in DataDog
8. User not found in Sentry
9. User not found in bot key list

[2021-12-20 18:18] #32251 closed

[2021-12-20 18:18] Samara-Strauss commented on #34003
That works for me!

[2021-12-20 18:20] ERRonat0609 commented on #33881
@mattpointzxer0 Please review and approve. You can close this ticket once it has been validated.

[2021-12-20 18:28] #33629 closed

[2021-12-20 18:30] rileyorr commented on #34181
Presented to Jill + Matt! @denisecoveyduc would you like to send the approved designs to the VHA folks or would you like me to?

[2021-12-20 18:34] SKasimow opened #34376 "**PLACEHOLDER** | Discovery Session with Search Team"
- Understand future plans, where can our fact sheets fit in

[2021-12-20 18:35] SKasimow opened #34377 "PLACEHOLDER | Check-in | Spanish"

[2021-12-20 18:37] SKasimow opened #34378 "PLACEHOLDER | Discovery for Alternate Forms for a POC"

[2021-12-20 18:44] bosawt commented on #34369
The reason there's a stack trace with most of the ch33 calls:
When we make a call to get_ch33_dd_eft_info from the BGS service, we first make a call to generally get user's bank account information, find_ch33_dd_eft. We then make a second call for find_bank_name_by_routng_trnsit_nbr. The problem, we assume that the routing number is nil on the original call if the user has no bank account info. In

[2021-12-20 18:45] bosawt commented on #34369
The solution for now will be to check if the initial call returns with nil or '0', in either case we will prevent the second call from happening, as it is unnecessary

[2021-12-20 18:46] tressaellen commented on #32288
Hey @tmitchellgcio - sorry I've been in meetings all day!

We won't be showing notifications for recent payments on My VA in this design. We'll only show the most recent payment in that grey card. My guess is that should stay around for 30-60 days, but that's something we'll ask in testing. Sorry that's not a direct answer!

[2021-12-20 18:52] SKasimow commented on #34209
@James - can you put points on this please

[2021-12-20 18:53] cgreim opened #34379 "Adding Jon Bindebeutel to DSVA Slack"
# Description

Please add jon.bindbeutel@adhocteam.us as a full member.

Jon is a mobile engineer from Ad Hoc working on the VA Mobile App team.

[2021-12-20 18:56] LindseySaari commented on #33617
There were some issues surrounding the spool file job and claims that have already been processed. Thread [here](https://dsva.slack.com/archives/CBU0KDSB1/p1639762159212100). It's believed that by updating the `verified_decryptable_at` field it may have marked the saved claim for reprocesseing., We most need to take a different approach to verify the decryption rather than saving the `verified_dec

[2021-12-20 18:58] jenniemc commented on #32593
@grossb1 @laurenernest @ldelacosta , When making a foodAndNutrition clinic call to the vaos service api, the `physicalLocation` returns inconsistent data. One clinic returns "1-128", while another returns "PSYCH SERVICE". Whereas at Fort Collins VAMC, the clinic returns physicalLocation as "FORT COLLINS, CO".  Another concern is would exposing any data that displays "PSYCH SERVICE" violate PHI?

F

[2021-12-20 18:59] SKasimow opened #34380 "PLACEHOLDER | QA for Mulesoft Integation"

[2021-12-20 19:00] alexandec opened #34381 "Discovery: Investigate HMR slowness in Webpack 5"
## Details

In a [slack thread,](https://dsva.slack.com/archives/CBU0KDSB1/p1639689683174100?thread_ts=1639684843.152000&cid=CBU0KDSB1) a couple engineers mentioned that Hot Module Replacement (HMR) is slower after the Webpack 5 upgrade.

Investigate by comparing rebuild speed in `yarn watch` under webpack 4 and webpack 5. Gathering metrics will help us determine the urgency of the issue.

[2021-12-20 19:00] RLHecht commented on #33724
@bethpottsVADEPO This is the language Selina and I came up with for this updated alert. If this looks good, do we need to email it to the stakeholder before we publish?

H2: New requirement to verify your enrollment

If you get monthly housing allowance (MHA) and/or college fund (called “kicker”) payments under the Post-9/11 GI Bill, you must verify your enrollment each month if one of these appli

[2021-12-20 19:01] MarciMcGuireGCIO opened #34382 "[BE] Check routing number is nil or 0 and prevent the get_bank_info_from_rounting_number"
## Background
It has been determined that a call to `get_bank_info_from_rounting_number`  should not be made unless a valid routing number is returned from `find_ch33_dd_eft` .  Calling `get_bank_info_from_rounting_number` with an invalid number (ex `0`) results in stack trace errors, which could be slowing down ch33.

## Tasks
- [x] Modify logic in call to `get_ch33_dd_eft_info` from BGS service

[2021-12-20 19:01] outerpress commented on #33529
In dev ([33330](https://app.zenhub.com/workspaces/vaos-team-603fdef281af6500110a1691/issues/department-of-veterans-affairs/va.gov-team/33330)), closing

[2021-12-20 19:01] #33529 closed

[2021-12-20 19:07] KCollinsBrown opened #34383 "Adding Karina Gonzalez to DSVA Slack"
# Description

**new user requests**: please verify that the user does not already exist in dsva.slack.com (it may be the account exists, but is not in a particular channel)

<describe the request>

Are you requesting to add an individual as a:

- Full member
- Single guest
- Multi-channel
- Switching from single-channel to multi-channel?
- What channel(s) do they need to be added to?

Then add a

[2021-12-20 19:09] #33482 closed

[2021-12-20 19:09] Kimberley2019 opened #34384 "[Tier 3] Claim Status Issue - SF 06191619"
## Issue Description
_Please review details from encrypted email that was sent in order to review and resolve issue veteran is experiencing._

---
## Tasks
- [ ] _Review provided details in ticket_
- [ ] _Review additional information from encrypted email_
- [ ] _Advise if additional information is required for review and resolution_
- [ ] _Contact veteran and set up shadowing call if needed_

##

[2021-12-20 19:11] RLHecht opened #34385 "Get SME input on back pay article for disability comp and pension benefits (IRIS rewrite)"
## Issue Description
Stakeholders provided feedback on our back pay article and are sending us new information to add. Once they do, we need to rewrite in plain language and send back the final article to them for approval.

Preview link here:  http://preview-prod.vfs.va.gov/preview?nodeId=36481

We also want to look at whether we should change the H1.

## Tasks
- [ ] Incorporate new stakeholder i

[2021-12-20 19:12] Kimberley2019 commented on #34384
@alsleaders encrypted email containing PII has been forwarded to you.

From: Daniels, Kimberley N. (Oddball, Inc.)
Sent: Monday, December 20, 2021 2:12 PM
To: Leaders, Amanda L. (Government CIO) <Amanda.Leaders@va.gov>
Cc: Henry, Veronica (GovernmentCIO) <Veronica.Henry@va.gov>
Subject: FW: [EXTERNAL] RE: Claim Status Issue (Case Number: 06191619)

Good Afternoon Amanda,

I wanted to pass this alo

[2021-12-20 19:14] kanchanasuriya opened #34386 "[BE] Add Emergency Contact Payload in Demographics Confirmation"
## Description
Implement pre-check-in workflow to get emergency contact confirmation from front end and pass the confirmation to CHIP

## Acceptance Criteria

- [ ] Deployed and tested on staging.

[2021-12-20 19:15] holdenhinkle commented on #33416
12/20/21:
Jesse House:spiral_calendar_pad:  1 hour ago
Hi @Holden Hinkle - Thanks for bringing this to our attention. Typically, with requests like this, the approach is to evaluate them as a team so that they can be worked into an upcoming sprint. Right now it’s a bit of a special case since it’s a double-sprint for the rest of the year. That aside…
Can you provide the following in the issue?
Whe

[2021-12-20 19:21] LizCallaghan commented on #34383
done!

[2021-12-20 19:21] #34383 closed

[2021-12-20 19:26] jlang10761 opened #34387 "Adding [nana arkorful] to DSVA Slack"
Please add nana.arkorful@u.group to the channels below. She is with Coforma and will be providing general project support.
new user requests:

Are you requesting to add an individual as a: Multi-channel
What channel(s) do they need to be added to?
• cpm-public
• lcs-public
• cds-team
• Cds-tools-team
• Cpm-onboarding

[2021-12-20 19:30] kelsonic commented on #32600
PR merged, will be on staging shortly

[2021-12-20 19:30] #32600 closed

[2021-12-20 19:32] kathleencrawford opened #34388 "[UNPLANNED] LGY Determination NOT_ELIGIBLE"
## Background
During testing, it was reported that the NOT_ELIGIBLE scenario is not currently working in staging.

## Tasks
- [x] Determine why the NOT_ELIGIBLE scenario is not displaying properly

## Acceptance Criteria
- [x] Code and tests have been implemented
- [x] A PR has been requested for merging

[2021-12-20 19:33] RLHecht commented on #33905
@ianpsant We were planning on looking at this in the new year. Does that time frame work?

[2021-12-20 19:34] kathleencrawford opened #34389 "[UNPLANNED] LGY Determination PENDING"
[PLACEHOLDER]
Update LGY get coe status for PENDING

[2021-12-20 19:34] kathleencrawford opened #34390 "[UNPLANNED] LGY Determination PENDING"
[PLACEHOLDER]
Update LGY get coe status for PENDING

[2021-12-20 19:34] LizCallaghan commented on #34387
done!

[2021-12-20 19:34] #34387 closed

[2021-12-20 19:35] kathleencrawford opened #34391 "[UNPLANNED] LGY Determination PENDING"
## Background
The PENDING status for LGY's get COE feature needs to be implemented.

## Tasks
- [x] Determine which combination of responses for `\determination` and `\application` should display PENDING
- [x] Make sure the appropriate response is being sent to the FE

## Acceptance Criteria
- [x] Code and tests have been implemented
- [x] A PR has been requested for merging

[2021-12-20 19:37] mleclerc00 commented on #34320
I am still seeing some `failed to put to memchached i/o` errors with the following query so it seems to be unrelated to memory usage.  Will be investigating this further.

http://grafana.vfs.va.gov/explore?orgId=1&left=%5B%22now-1h%22,%22now%22,%22Loki%20(Prod)%22,%7B%22expr%22:%22%7Bapp%3D%5C%22loki-distributed%5C%22%7D%20%7C%3D%20%5C%22fail%5C%22%22%7D%5D

[2021-12-20 19:41] bethpottsVADEPO commented on #33723
I think we can close this ticket now.

[2021-12-20 19:41] #33723 closed

[2021-12-20 19:41] tressaellen commented on #34122
Just met with the the engineer on the platform team and it sounds like we're good to go! After I meet with accessibility then I'll submit the experimental design ticket!

[2021-12-20 19:42] RLHecht commented on #33349
@andaleliz Can you please review the above copy to make sure what we have is accurate? Danielle is still reviewing our language so it's not quite ready to go on the pages yet. Thanks!

[2021-12-20 19:42] ianpsant commented on #33905
It think after the New Year would be fine. We don't plan on going live until February. We do have a Staging Review meeting set for January 6th and possibly the only thing that would be of interest to that team would be the Info Box placement (that will contain the link to the Chatbot page) on the Contact Us page, but I think we can talk through that.

cc: @agmurphy

[2021-12-20 19:43] ldelacosta opened #34392 "Adding Type of Care to the Appointment Details page"
## Description

Currently, the appointment details page does not show the type of care to a veteran.

When the user books an appointment or views their booked VA appointment, then the veteran will see the type of care on the appointment details page. Update the page content on the appointment details page with the clinic location information.

**A few examples of the current Appointment Details Pa

[2021-12-20 19:43] #34122 closed

[2021-12-20 19:55] rileyorr commented on #33159
Double-checked everything and it's good to go!

[2021-12-20 19:55] tmitchellgcio commented on #32288
Payments url - `/v0/profile/payment_history` example `src/applications/disability-benefits/view-payments/tests/fixtures/test-payments-response.json`
Debt url - `/v0/debts` example `src/applications/debt-letters/tests/e2e/fixtures/mocks/debts.json`

[2021-12-20 19:57] andaleliz commented on #33349
The refill/tracking prescription is tricky - you can get text notifications for those, but only at 2 VAMCs as far as I know (Denver and Asheville). It feels overly complicated to write logic to try to conditionally display that here, so I think it's fine as-is until those notifications are rolled out across all VAMCs.

The other 2 look great! Thanks.

[2021-12-20 20:03] alsleaders opened #34393 "Sidekiq Admin UI Access Request"
_Access to the Sidekiq Admin UI is managed through a GitHub team under the [department-of-veterans-affairs/va.gov-sidekiq team](https://github.com/orgs/department-of-veterans-affairs/teams/va-gov-sidekiq/members). Please provide your GitHub username to be added to that team, along with a reason access is required._

- GitHub username: alsleaders
- Reason access is required:
I would like sidekiq ac

[2021-12-20 20:09] bethpottsVADEPO commented on #33724
@lunascoop @RLHecht This actually isn't quite accurate. The monthly housing allowance (MHA) and/or college fund (called “kicker”) payments under the Post-9/11 GI Bill connects only to people who are in a non-college degree program. It's not applicable for people who are at an institution of higher learning.

Can you try reworking it to reflect this?

[2021-12-20 20:12] k80bowman commented on #17766
@CourtneyChambers77 could you please check if this is a problem with our [va-radio](https://design.va.gov/storybook/?path=/docs/components-va-radio--default) web component?

[2021-12-20 20:14] MarciMcGuireGCIO commented on #33754
Tested Profile on Staging and found no issues.

[2021-12-20 20:14] #33754 closed

[2021-12-20 20:16] jhouse-solvd commented on #34320
interesting thread on tuning loki performance:

https://community.grafana.com/t/how-to-improve-loki-performance/42800/6

[2021-12-20 20:17] ltrombley commented on #34066
Task #34066 - Post Production Audit of VAMC VA Columbia South Carolina health care for links, standards, and design standards.[BA]  - is Complete and moved to Validate.

[2021-12-20 20:18] hdjustice commented on #32288
@tmitchellgcio @tressaellen Documented above in this ticket as well as in the Product Outline that we are looking at 30-31 days (actual days to be confirmed) as the limit on when to show the payment information section.

[2021-12-20 20:19] pdavies88 commented on #33188
## Notes on package.json packages
## react-components
### classnames
* Widely used across many files - Suggestion: Keep

### core-js
* In `package.json` in `react-components` but not imported on any files and it will still exist as a peer dependency of babel - Suggestion: Remove

### lodash
* All functions can be replaced by native JS - Suggestion: Remove and convert functions below
Functions used

[2021-12-20 20:19] k80bowman commented on #23792
I looked into this one and it seems there need to be some updates to the Storybook stories for the va-alert component. The close-btn-aria-label, disable-analytics, and visible props do not cause the code to change in storybook and we have no individual stories that show these options.

[2021-12-20 20:19] kristenmcconnell commented on #34225
@jparker0425 is going to help get you access to URL and test users.

[2021-12-20 20:20] candy-gcio commented on #34137
Updated Wireframes](https://www.sketch.com/s/f0ac7ad9-03cf-49c4-b2a8-9fb85a88b31a/a/WKqK8MA)
[Updated hub page](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/ebenefits/features/view-apply-SAHG/research-design/README.md)

[2021-12-20 20:20] k80bowman commented on #4679
@CourtneyChambers77 could you please make sure that this issue is fixed in our [va-progress-bar](https://design.va.gov/storybook/?path=/docs/components-va-progress-bar--default) web component?

[2021-12-20 20:23] andaleliz commented on #33734
Reviewed [this prototype ](https://preview.uxpin.com/e21218c405e4475d518bc209ffd66405a9633080#/pages/145359491/simulate/no-panels?mode=i) with Adam and Christina today. Closing out!

[2021-12-20 20:23] #33734 closed

[2021-12-20 20:25] andaleliz commented on #32293
Hey all, just trying to keep everything straight - are there existing tickets that came out of design intent to reference for this?

[2021-12-20 20:27] andaleliz commented on #33737
Completed on 12/17

[2021-12-20 20:27] #33737 closed

[2021-12-20 20:28] #33119 closed

[2021-12-20 20:32] k80bowman commented on #9116
@CourtneyChambers77 could you please follow the Steps to Recreate and check if this is still an issue?

[2021-12-20 20:41] RLHecht opened #34394 "Iterate on About VA disability rating page"
## Issue Description
We need to review the [About VA disability ratings](https://www.va.gov/disability/about-disability-ratings/) page to determine if some content should change. Specifically, should the info in the second paragraph of the intro come down to where the disability calculator is? And should the calculator be housed within its own H2 with that info?

## Tasks
- [ ] Review current cont

[2021-12-20 20:48] jhouse-solvd commented on #32621
@jsgarmon - I think just that you have access to the portal and know how to use it for managing certs

[2021-12-20 20:51] MarciMcGuireGCIO commented on #32768
@adamwhitlock1 - Zach left this comment, I believe after a conversation with someone on the design system team.  It might be worthwhile to reach out to them on Slack to see if they can give you any further guidance on this.  https://github.com/department-of-veterans-affairs/va.gov-team/issues/32768#issuecomment-991200600

[2021-12-20 21:00] MarciMcGuireGCIO opened #34395 "[FE] Auth Profile: Address Change Messaging: Initial FE DIscovery"
## Issue Description

_See #30112 for more background and discussion from meeting with stakeholder team_

As a Veteran, I need to be aware that if I modify my home address that I also need to confirm my mailing address so I can make sure that I continue to receive correspondence and/or prescriptions from the VA.

Today, there is a message in the Home address section, but it is not clear to the end

[2021-12-20 21:03] bethpottsVADEPO commented on #33724
@RLHecht Thank you for pointing me to where this is explained. I misunderstood, and you are correct!

Couple edits (can you show me the preview when it's ready, then we'll send to SMEs?):
**H2: New requirement to verify your enrollment**

**If you get monthly housing allowance (MHA) and/or college fund (called “kicker”) payments** under the Post-9/11 GI Bill, you must verify your enrollment each m

[2021-12-20 21:08] vlivshin commented on #32541
Survey is closed out now. Updated analysis: https://docs.google.com/document/d/1SuLoLf5Me3U9H8jG_5dQe3kRMqS3rp8EhxEQaHQQZCE/edit

[2021-12-20 21:19] jhouse-solvd commented on #34320
To understand how different Loki components are involved in processing a query, it could be useful to use logcli directly w/ the --stats option. This would take Grafana out of the equation and produce interesting data.

https://grafana.com/docs/loki/latest/getting-started/logcli/#logcli-command-reference

For example:
Ingester.TotalReached 12
Ingester.TotalChunksMatched 72
Ingester.TotalBatches 0

[2021-12-20 21:39] lunascoop commented on #33724
@bethpottsVADEPO I'd have to publish the alert for the updates to show. Is that ok?

[2021-12-20 21:43] #22335 closed

[2021-12-20 21:52] ewilson-adhoc opened #34396 "Investigate leveraging built-in ruby debugging tools for method tracing"
## Issue Description
_We will want to consider the method calls an endpoint utilizes as part of our effort for identifying target endpoints for the IET platform inventory._

---
## Tasks
- [x] _Investigate leveraging built-in ruby debugging tools for method tracing in a local environment._

## Acceptance Criteria
- [x] _Document findings for the IET team._

[2021-12-20 22:13] bethpottsVADEPO commented on #33724
@lunascoop I'm going to try to shorten it a bit, then Randi can send it to stakeholders to make sure it's accurate before we publish tomorrow. I'll just edit directly in drupal. I'll ping you here in the ticket when I'm done.

[2021-12-20 22:15] cgednalske commented on #34185
@MarciMcGuireGCIO Bug reports submitted. Ticket numbers are [#604](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/604) and [#605](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/605) for visibility.

[2021-12-20 22:20] Kimberley2019 opened #34397 "[Tier 3] Disability Claim Application Issue - SF 06208568"
## Issue Description
_Please review case notes below and encrypted email in order to review and resolve issue caller is experiencing._

---
## Tasks
- [ ] _Review provided details in ticket_
- [ ] _Review additional information from encrypted email_
- [ ] _Advise if additional information is required for review and resolution_
- [ ] _Contact veteran and set up shadowing call if needed_

## Accepta

[2021-12-20 22:21] bethpottsVADEPO commented on #33724
I see what you're saying about alerts now that I went to the file. So just posting the shortened language here for Randi to run past SMEs:

**New requirement to verify your enrollment**

**If you get monthly housing allowance (MHA) and/or college fund (called “kicker”) payments,** you must verify your enrollment each month if you're at:

• A non-college degree facility, or
• An institution of high

[2021-12-20 22:22] holdenhinkle commented on #33789
I spent the morning working on resetting TUD accounts back to their original state on checkin and discovered that missed something regarding implementing login.gov accounts.

Each `Account` object has fields for both `idme_uuid` and `logingov_uuid`.  Here's an example:

[code]

Each `User` has an `account` object.

Each `login.gov` TUD account needs a `logingov_uuid`. I need to create this new col

[2021-12-20 22:24] bethpottsVADEPO commented on #33724
If this ends up being way too long after we publish, we could put it in an additional info component like we have on this page: https://www.va.gov/education/about-gi-bill-benefits/how-to-use-benefits/vettec-high-tech-program/

[2021-12-20 22:25] Kimberley2019 commented on #34397
@alsleaders encrypted email has been sent to you.

From: Daniels, Kimberley N. (Oddball, Inc.)
Sent: Monday, December 20, 2021 5:24 PM
To: Leaders, Amanda L. (Government CIO) <Amanda.Leaders@va.gov>
Cc: Henry, Veronica (GovernmentCIO) <Veronica.Henry@va.gov>
Subject: FW: [EXTERNAL] Re: Disability claim application issue

Good Afternoon Amanda,

I wanted to pass this along to you since it contains

[2021-12-20 22:40] RLHecht commented on #34121
These are all live and the stakeholders notified. Closing ticket.

[2021-12-20 22:40] #34121 closed

[2021-12-20 22:53] mchelen-gov commented on #34320
updated query for "failed to put to memcached": http://grafana.vfs.va.gov/explore?orgId=1&left=%5B%22now-1h%22,%22now%22,%22Loki%20(Prod)%22,%7B%22expr%22:%22%7Bapp%3D%5C%22loki-distributed%5C%22%7D%20%7C%3D%20%5C%22failed%20to%20put%20to%20memcached%5C%22%22%7D%5D

[2021-12-20 23:00] michelpmcdonald commented on #34158
The error on this is:

[{"key"=>"form526.submit.establishClaim.serviceError", "severity"=>"FATAL", "text"=>"Benefit Type, Payee code or EP Code is not valid. Benefit Type must be CPD, Payee code must be 00, 10 - 29, 50, 60 or 70 - 78."}]

This issue has been seen in the past and seems to be related to multiple IDs tied to the vets, possibly a spouse ID might be a factor

[2021-12-20 23:25] alsleaders commented on #34105
@Kimberley2019 It looks like this is a FE error where the treatment date predates the service start date.  I'm sending you a follow-up email with more information (and a screenshot if I can).

[2021-12-20 23:49] meganhkelley opened #34398 "Changed apps only builds in PRs: Release Plan"
## Phase I: User Acceptance Testing
*Test real-world user scenarios to ensure your product or feature performs as expected.*

### Planning:

- Desired date range or test duration: Begin December 13, 2021 (with release of changed app only builds to prod)
- Desired number of users: 1 VFS team
- The group(s) from which you'll recruit test users: VFS
- How you'll recruit test users: Identify good cand

[2021-12-21 00:06] ERRonat0609 opened #34399 "Adding Dalton Atkins to DSVA Slack"
# Description

**new user requests**:

- Please add Dalton Atkins [_dalton.atkins@accenturefederal.com_] as a **full member** in DSVA Slack.

Dalton is a new member on the AFS-Education team who will be replacing Gina Ronat as the Product Analyst when she retires at the end of this year.

_We aim to complete slack requests within 24hrs._

## Sample Descriptions
- Please add [_insert email_] as a s

[2021-12-21 00:12] tlei123 commented on #32331
Closing this bug due to new UI updates.

[2021-12-21 00:12] #32331 closed

[2021-12-21 00:13] tlei123 commented on #32332
Closing this bug due to new UI updates.

[2021-12-21 00:13] #32332 closed

[2021-12-21 00:14] ERRonat0609 opened #34400 "Offboarding of Eugenia (Gina) Ronat - 12/30/2021"
# Instructions
Fill out name of individual and *Description* section below.

# Description
- Please provide the name of the individual needing offboarded.

- Please provide the name of their team, their role on that team, expected last day, and the name of the company they work for.

- Please provide any type of access they may have and their GitHub username.

## AC
*Performed by Platform team*
 -

[2021-12-21 00:17] meganhkelley opened #34401 "VFS developer documentation - changed app only builds in PRs"
## Details
As a VFS developer, I need to understand how builds in PRs work if I am on (or not on) the "changed app only" allowlist.

On 12/13, we released changed apps only builds in PRs to production. Only VAOS is on the allowlist currently, but we plan to release this functionality to additional teams in 2022. We need developer documentation for this.

### Qs to answer in documentation
- [x] Wha

[2021-12-21 00:29] andaleliz commented on #34015
@mnorthuis, @DanielleThierryUSDSVA, and/or @RLHecht I'm taking the lead on this work for Tressa. I think the booster got both Tressa and Danielle last week, so not sure any progress has been made on this.  Tressa was right in her slack post that we are hoping to get this wrapped up in this sprint.  I'll bring this to office hours Thursday but welcome any thoughts ahead of time if you have a chance

[2021-12-21 00:31] tlei123 commented on #32344
Will validate once Staging login issue's resolved.

[2021-12-21 00:32] tlei123 commented on #32333
Will validate once Staging login issue's resolved.

[2021-12-21 00:39] kristenmcconnell commented on #34224
Some information from Peter Russo to review: As for other work that's been done, here are a few things:
- This hasn't been shared broadly, but we did a pilot study for the service mapping workshop in October - [here's the report from that](https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/blob/master/products/health-care/appointments/research/2021-10%20Notifications%20service

[2021-12-21 00:41] andaleliz commented on #31615
@tressaellen If I understand the new direction of onsite notifications correctly (no dedicated page, only the one payment alert), the new design that will need to be reviewed is shown in your [Round 4 payment mock-ups](https://app.mural.co/t/vsa8243/m/vsa8243/1638500075560/0e849f61e282ebe2d8e7119eea504e4c05b0bbe4?wid=0-1639773433074), specifically the alert for a new debt being added at the top of

[2021-12-21 00:43] andaleliz commented on #33295
[Research plan draft](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/my-va/payment-history/discovery-and-research/user-research/payment-information-research-plan.md) started

[2021-12-21 00:54] DanielleThierryUSDSVA commented on #33349
Hi @RLHecht @lunascoop. Thank you! Here's the content with my edits. Reasons for edits and a question below:
- Gave questions a little more context for clarity
- Broke up some sentences to keep sentence length short
- Reframed this note so that it's framed in the positive: **Note:** You can get notifications with a Basic or Premium **My HealtheVet** account. 
- Made the button names on MHV sentenc

[2021-12-21 01:00] DanielleThierryUSDSVA commented on #34015
Thanks, @andaleliz. That sounds great to bring this to health office hours. I'll see if @mnorthuis can potentially make it as well and we can talk through. Thanks!

[2021-12-21 01:03] andaleliz commented on #33295
@tressaellen Thanks for getting that draft started! I updated it to match the latest OCTO research template, which prompted me to reorganize the research questions a bit. I think we need to add some about onsite notifications but I'm not exactly sure what.

I have a few questions about the research questions you've already added - we can chat vs type about it if that's easier.

Is this trying to u

[2021-12-21 01:04] lunascoop commented on #33349
@DanielleThierryUSDSVA thanks for your edits and feedback.

The reason why I framed the refill prescriptions question "How can I get..." vs. "Can I get..." because there's a bullet point in the **How can VA’s prescription tool help me manage my health care?** section that already tells users that they can get email notifications about when to expect your prescription.

[2021-12-21 01:36] meganhkelley opened #34402 "Usability Testing w/ VAOS"
Per release plan for changed apps only builds in PRs, VAOS is the first VFS team on the allowlist.

Host feedback session with VAOS ([notes](https://vfs.atlassian.net/wiki/spaces/FTT/pages/2026536988/Feedback+session+w+VAOS))

Document usability here issues and address.

Release plan ticket #34398
Changed app only builds in PRs initiative ticket #29132

[2021-12-21 06:14] bethpottsVADEPO commented on #34275
@chrvalla
I actually don't think it's necessary to point to or quote the law at all in explaining why the Veteran is being asked this question. I'm curious if Paul thought we should for some reason. If not, here's what I'd suggest--I've simplified the question too and revised the additional info label since we're not asking for more information, but rather a simple yes or no. I'd especially like t

[2021-12-21 11:31] DanielleThierryUSDSVA commented on #33349
Ah, that makes sense - thanks, @lunascoop!

[2021-12-21 13:40] LizCallaghan commented on #34399
done!

[2021-12-21 13:40] #34399 closed

[2021-12-21 14:09] MarciMcGuireGCIO commented on #34185
Both tickets have been submitted to the design system team.

[2021-12-21 14:09] #34185 closed

[2021-12-21 14:10] Kimberley2019 commented on #34105
@alsleaders I received your email and sent a follow up email to the caller.  One I hear back, I will provide you with the details that he provides.

From: VA Technical Support
Sent: Tuesday, December 21, 2021 9:06 AM
To: REDACTED
Subject: RE: No Response

Good Morning Mr. REDACTED,

I have heard back from the team and it appears that the issue may be with the dates.

It looks like there is a probl

[2021-12-21 14:23] Kimberley2019 commented on #34158
@michelpmcdonald thank you for the information.  Please advise if we need to reach out to the Veteran for any additional information.

[2021-12-21 14:26] MarciMcGuireGCIO opened #34403 "[BE] Auth Profile: Send links to relevant Grafana & Sentry dashboards"
## Background
There have been some performance issues while loading the VA.gov profile and MyVA.  We would like to have links to all dashboards/monitoring for all Profile products.

## Tasks
- [ ] Locate links to all Grafana and Sentry dashboards/monitoring visualization pages for all Profile products
   - Personal/Contact Info
   - Military Info
   - Direct deposit info (Edu & Disability Comp & P

[2021-12-21 14:29] Kimberley2019 opened #34404 "[Tier 3] Claim Submission Issue - SF 06220271"
## Issue
_Veteran is having issues submitting claim.  Please review details from SF case notes below and information provided in encrypted email that was sent._

---
## Tasks
- [ ] _Review provided details in ticket_
- [ ] _Review additional information from encrypted email_
- [ ] _Advise if additional information is required for review and resolution_
- [ ] _Contact veteran and set up shadowing c

[2021-12-21 14:29] Kimberley2019 commented on #34404
Salesforce Case Notes:
Veteran verified PII. Calling re: She is using Chrome to sign in to her VA.gov with her PIV Card DS Logon. She is getting an error when submitting her compensation claim. Saying that "We're sorry something went wrong on our end. Please try back again with in 24 hours." This error message has been happening for a week now. I had her try using just user name and password and s

[2021-12-21 14:35] Kimberley2019 commented on #34404
@alsleaders encrypted email has been sent.

From: Daniels, Kimberley N. (Oddball, Inc.)
Sent: Tuesday, December 21, 2021 9:35 AM
To: Leaders, Amanda L. (Government CIO) <Amanda.Leaders@va.gov>
Cc: Henry, Veronica (GovernmentCIO) <Veronica.Henry@va.gov>
Subject: FW: [EXTERNAL] Re: Disability Claim application issue

Good Morning  Amanda,

I wanted to pass this along to you since it contains screens

[2021-12-21 14:37] hdjustice commented on #33295
updated ticket to reflect Research plan tasks (conversation guide tasks are in another ticket) and added On-site Notification scope, as the research and conversation guide efforts will be combined to include both projects.

[2021-12-21 14:38] hdjustice commented on #34117
updated ticket to add On-site Notification scope, as the research and conversation guide efforts will be combined to include both projects.

[2021-12-21 14:39] andaleliz commented on #33834
Hey Heather - thanks for sharing this with me. Generally, it looks like the appropriate level of detail but I have _no idea_ if any of these are correct/valid for this work or what the expected outcome should be.  E.g. - no clue what happens in My VA for LOA1 users. This makes me realize I have a lot of gaps to fill before Tressa's departure! I'll follow along closely so I can learn.

@tressaellen

[2021-12-21 14:46] timwright12 commented on #33625
PR to remove Sass related to the playbook: https://github.com/department-of-veterans-affairs/vets-website/pull/19735

[2021-12-21 15:01] joshkimux commented on #17766
@k80bowman I can chime in here as the person who wrote the ticket. The va-radio web component works golden.

The issue traces back to the old wizard (which is being deprecated) in the form system that dynamically added content based on radio selections. Upon doing so, it caused those radio selections to lose focus (which ultimately led to the issue).

[2021-12-21 15:02] k80bowman commented on #17766
Thank you for the clarification @joshkimux. Do you feel like this is an issue we need to continue to look into or should we close this ticket?

[2021-12-21 15:06] joshkimux commented on #17766
I think this would directly be a part of the work in deprecating the old wizard.

If the old wizard is successfully deprecated and replaced with a more accessible pattern, this could be closed out without any problems. However, if there are still many instances of the old wizard on VA.gov where this issue will likely still exist, it would be something to prioritize and look into.

[2021-12-21 15:25] LindseySaari opened #34405 "Access for Lindsey Hattamer and Travis Hilton"
### COR Name

Other

### Vendor Onboarding Representative Name

Oddball - Amber Malcolm

### Your Name

Lindsey Hattamer

### Your Email

Lindsey.Hattamer@oddball.io
Travis.Hilton@oddball.io

### Name of Your Team

VSP Backend Tools

### Service(s) You Want Access To

AWS

### Public SSH Key

_No response_

### Desired AWS Services

Request access to RDS snapshots for vets-api.

When a SavedClaim 

[2021-12-21 15:28] RLHecht commented on #33809
@DanielleThierryUSDSVA Based on the new information the stakeholder sent us this morning we updated this text. We would change the accordion question to the following:

What happens to my GI Bill benefits if I take online classes or my school temporarily closes?

Then we reworked the first subhead and information in it to the following:

**If you’re taking online classes**

**If your school offers

[2021-12-21 15:30] adamwhitlock1 opened #34406 "[FE] Auth Profile: Require certain fields based on initial API response data"
## Issue Description
As a front end developer, I want to build the logic to detect data that has come in from the API response and require certain fields to have data based on that response.

## Front end tasks
- [x] If the MPI-derived value for Preferred Name, Pronouns, Gender Identity or Sexual Orientation are NULL/blank, then the field shall not be flagged as required. If the MPI-derived value

[2021-12-21 15:36] jparker0425 opened #34407 "[BE] Pass the patientDemographicsStatus property in read.full from LoROTA"
## Description
The patientDemographicsStatus property needs to be passed to read.full along from LoROTA to the day-of checkin app. During pre-check-in staging testing it found this is not getting passed for check-in.

## Related Documentation

- [Sketch](https://www.sketch.com/s/e79a827e-42cf-4a82-b554-874c75b5c70e)
- [Product Docs](https://github.com/department-of-veterans-affairs/va.gov-team/tre

[2021-12-21 15:36] DanielleThierryUSDSVA commented on #33809
@RLHecht Awesome! Thanks so much for staying on top of this!

[2021-12-21 15:38] tressaellen commented on #33295
Hey @andaleliz - I'm sorry I ran out of time yesterday to clean up/finish the research questions! But I'm hoping to get it done before our meeting this afternoon so we can chat through everything together. But thank you for the questions! I'll be sure to address those as I'm going through.

[2021-12-21 15:44] af-manish commented on #29356
@RLHecht  Attached is the updated PDF and Sketch file with yours and Peggy's comments.
[gibct-redesign-comparison-postmvp-12_20_21 updates.sketch.zip](https://github.com/department-of-veterans-affairs/va.gov-team/files/7756437/gibct-redesign-comparison-postmvp-12_20_21.updates.sketch.zip)

[gibct-redesign-comparison-postmvp-12_20_21 updates.pdf.zip](https://github.com/department-of-veterans-affair

[2021-12-21 15:45] k80bowman commented on #17766
What do you mean by the "old wizard." Are you talking about the current forms system?

[2021-12-21 15:46] timwright12 commented on #32796
Updating some Sass in the forms system to use design system classes https://github.com/department-of-veterans-affairs/vets-website/pull/19739 - this removes a static pages import as well

[2021-12-21 15:46] af-manish opened #34408 "Review Update form button seeing issues"
Check on all forms “Update form” button – specifically Feedback Tool and 1990– Cinda is seeing the same problem as discovered on the 10203 (STEM) form Review screen.

[2021-12-21 15:47] joshkimux commented on #17766
I can clarify! [By the "old wizard"-- I'm referring to this pattern](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/399) which is [now in the process of being deprecated](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/399#issuecomment-990011476)

[2021-12-21 15:53] td-usds commented on #34405
Access approved *until* end-of-day 2021-DEC-21. Please file a ticket to revert this access at end-of-day and link to it in here.

[2021-12-21 16:03] RLHecht commented on #33724
I published this page this morning. @bethpottsVADEPO you can see how long it is in the preview link. I think it's OK as is. preview-prod.vfs.va.gov/preview?nodeId=935

[2021-12-21 16:03] andaleliz commented on #33295
Oh thank you @tressaellen! I didn't realize you were still going to add more to it. I'll stay tuned.

[2021-12-21 16:06] mmiddaugh commented on #34327
Gaida did similar work in #20567

[2021-12-21 16:13] Kimberley2019 opened #34409 "[Tier 3] Disability Claim Application Issue - SF 05963619"
## Issue Description
_Please review details from the encrypted email that was sent._

---
## Tasks
- [ ] _Review provided details in ticket_
- [ ] _Review additional information from encrypted email_
- [ ] _Advise if additional information is required for review and resolution_
- [ ] _Contact veteran and set up shadowing call if needed_

## Acceptance Criteria
- [ ] _What will be created or happen

[2021-12-21 16:13] jparker0425 commented on #34407
Work is covered in another ticket. 34186

[2021-12-21 16:13] #34407 closed

[2021-12-21 16:14] thilton-oddball opened #34410 "Revoke Temporary Access for Lindsey Hattamer and Travis Hilton"
### COR Name

Other

### Vendor Onboarding Representative Name

Oddball - Amber Malcolm

### Your Name

Travis Hilton

### Your Email

Lindsey.Hattamer@oddball.io Travis.Hilton@oddball.io

### Name of Your Team

VSP Backend Tools

### Service(s) You Want Access To

AWS

### Public SSH Key

_No response_

### Desired AWS Services

We were granted [temporary access to RDS snapshots for vets-api](htt

[2021-12-21 16:15] Kimberley2019 commented on #34409
@alsleaders sent encrypted email, it DOES contain screenshots

From: Daniels, Kimberley N. (Oddball, Inc.)
Sent: Tuesday, December 21, 2021 11:14 AM
To: Leaders, Amanda L. (Government CIO) <Amanda.Leaders@va.gov>
Subject: FW: [EXTERNAL] Re: Upload Issue (05963619)

Good Morning Amanda,

I have reached back out to this veteran today and he is still experiencing the issue.

I wanted to pass this alo

[2021-12-21 16:16] RLHecht commented on #34253
@callen2563 These changes look good to me. I think "Show more times" works well. Just confirming that's all I need to review if we need to leave those other changes as is for MVP.

[2021-12-21 16:25] nbarthelemy commented on #29367
Updated PR with minor classname change: https://github.com/department-of-veterans-affairs/vets-website/pull/19740

[2021-12-21 16:26] DanielleThierryUSDSVA commented on #25350
Good morning, @Dene-human! Let me know what you think of this. Happy to talk through as needed.

## Application signature

We'll now guide you through the steps to review and sign your application.

First, we need to know if the Veteran will sign the application or if a representative will sign for them. A representative must have legal authority to make medical decisions for the Veteran.

**Note:

[2021-12-21 16:27] mnorthuis commented on #32980
@natashaj7 @miabecker Wondering if you have any questions or feedback on the above?  We will need flows finalized before we can move forward on this work.  Thank you!

[2021-12-21 16:29] laurenernest commented on #32684
@jenniemc What's the event name and parameter? The VSP Analytics team will need that to implement on their end.

[2021-12-21 16:34] vlivshin opened #34411 "Update existing user guides"
Make initial updates, looking at:

- clarity

- consistency

- grammar

[2021-12-21 16:39] alexandec commented on #34381
### Methodology
- run `yarn watch`
- modify `src/platform/forms-system/src/js/components/SchemaForm.jsx`
- record rebuild time
- take average of 5 runs

I checked in with the original reporters of the issue in the [slack thread](https://dsva.slack.com/archives/CBU0KDSB1/p1639684843152000). They confirmed this methodology should reproduce the issue, if it exists.

### Webpack 4 benchmarks
Initial b

[2021-12-21 16:40] MarciMcGuireGCIO commented on #34317
Trevor Bowsaw discovered on 12/20 that there is a second call to the BGS service that occurs even if the first call does not return bank account information.  [Full Slack thread](https://dsva.slack.com/archives/C02Q9FL124F/p1639786132335600)

When we make a call to get_ch33_dd_eft_info from the BGS service, we first make a call to generally get user's bank account information, find_ch33_dd_eft. We

[2021-12-21 16:40] mmiddaugh commented on #33890
@troymosher we have a POC for the API keys and are working through the tasks associated with this work. I am creating separate issues for the tasks and will link to this issue. I will also send an email to you outlining the plan.

[2021-12-21 16:42] miabecker commented on #32210
@kellylein just checking here - any updates on a go live date?

[2021-12-21 16:43] miabecker commented on #31896
@RileyRPM just checking here - any updates on a go live date?

[2021-12-21 16:44] miabecker commented on #28516
@Lemirrerr just checking here - any updates on a go live date?

[2021-12-21 16:45] nbarthelemy commented on #33864
PR: https://github.com/department-of-veterans-affairs/gibct-data-service/pull/873

[2021-12-21 16:46] mleclerc00 commented on #34320
Turning my attention away from loki and trying to figure out the actual root cause for semantic logger being backed up I came across the following information

Looking at the semantic logger logs, it states its falling behind by x seconds and has a queue size of x

ex.
`Async: Appender thread has fallen behind by 5858.35666882 seconds with 109013 messages queued up. Consider
reducing the log level

[2021-12-21 16:46] lemirerr commented on #28516
We are in a holding pattern currently.

On Tue, Dec 21, 2021 at 11:44 AM Maria ***@***.***> wrote:

[2021-12-21 16:46] mmiddaugh opened #34412 "Determine desired settings for new Mapbox API keys"
### Issue Description
#33890 documents the report of a pay-per-use abuse vulnerability related to the unrestricted Mapbox token in va.gov/find-locations.  The researcher found a pay-per-user abuse on va.gov where any attacker can make unrestricted requests to the Mapbox API using the va.gov access token that can result in high cost for API usage.

We will begin our mitigation by following Mapbox's

[2021-12-21 16:50] miabecker commented on #33572
@stevek45 wanted to check back in with you on this ticket. Would you like to meet in the 1st week of January? When might work for you and your team?

[2021-12-21 16:50] mmiddaugh opened #34413 "Establish and test new Mapbox dev API key"
### Issue Description
#33890 documents the report of a pay-per-use abuse vulnerability related to the unrestricted Mapbox token in va.gov/find-locations.  The researcher found a pay-per-user abuse on va.gov where any attacker can make unrestricted requests to the Mapbox API using the va.gov access token that can result in high cost for API usage.

We will begin our mitigation by following Mapbox's

[2021-12-21 16:50] hallihocine opened #34414 "The compare drawer header not visible when the drawer is closed (Collapsed)"
## What happened?
The compare drawer header is changing the background color when the drawer is collapsed, which making it less visible. This will lead to color contrast accessibility failure. See below:

https://user-images.githubusercontent.com/86266024/146967362-dc31f4da-12fa-4b94-8795-f29d2f7c0a35.mov

## Steps to Reproduce
- Navigate to: https://staging.va.gov/gi-bill-comparison-tool-sandbox/

[2021-12-21 16:54] mmiddaugh opened #34415 "Establish and test new Mapbox prod API key"
### Issue Description
In #34412 we determine desired settings for new keys (secret scopes/default features).
In #34413, we established and validated a new dev key
Based on that effort, we are ready to repeat the process for a prod key

### Background
#33890 documents the report of a pay-per-use abuse vulnerability related to the unrestricted Mapbox token in va.gov/find-locations.  The researcher f

[2021-12-21 16:56] miabecker commented on #33925
@miabecker will send link and then we'll assign folks to DMC service with edit capabilities and read only to VA.gov that way they can copy content.

[2021-12-21 16:57] mmiddaugh opened #34416 "Deprecate legacy Mapbox API keys"
### Issue Description
In #34412 we determine desired settings for new keys (secret scopes/default features).
In #34413, we established and validated a new dev key
In #34415, we established and validated a new prod key

### Background
#33890 documents the report of a pay-per-use abuse vulnerability related to the unrestricted Mapbox token in va.gov/find-locations.  The researcher found a pay-per-us

[2021-12-21 16:58] laurenernest commented on #32593
@jenniemc this change should be for v0, not vaos service. we can make a separate ticket for that. i also don't trust the data in staging to represent what's in production. do you have production examples? cc @grossb1

@Cieramaddox what should it look like if we don't have the physical location

[2021-12-21 16:58] Kimberley2019 opened #34417 "[Tier 3] Disability Claim Application Issue - SF 06223259"
## Issue Description
_Please review details from encrypted email that was sent in order to review and resolve submission issue caller is experiencing._

---
## Tasks
- [ ] _Review provided details in ticket_
- [ ] _Review additional information from encrypted email_
- [ ] _Advise if additional information is required for review and resolution_
- [ ] _Contact veteran and set up shadowing call if ne

[2021-12-21 16:58] pdavies88 opened #34418 "Tech Debt: Remove core-js from react-components package.json"
In `package.json` in `react-components` folder `core-js` is a dependency but not imported on any files.

Note - core-js is a peer dependency of babel so it will still exist as a peer dependency but should not direct dependency of `react-components`

## Parent Ticket
https://app.zenhub.com/workspaces/vsp-design-system-5f8de67192551b0012ebb802/issues/department-of-veterans-affairs/va.gov-team/33188

[2021-12-21 16:59] kellylein commented on #32210
We have built all of the notification functionality into our API. This functionality will go live with our Supplemental Claim MVP, so the timing is dependent on when VA.gov can build the front-end.  We won't have the final go-live timing for a while yet.  I will let you know once I know when it will be, but for now we are all set!  Thank you!

[2021-12-21 17:01] #32816 closed

[2021-12-21 17:05] Kimberley2019 commented on #34417
@alsleaders encrypted email has been sent.

From: Daniels, Kimberley N. (Oddball, Inc.)
Sent: Tuesday, December 21, 2021 12:05 PM
To: Daniels, Kimberley N. (Oddball, Inc.) <Kimberley.Daniels@va.gov>
Subject: RE: [EXTERNAL] Re: Claim application issue

Good Afternoon Amanda,

I wanted to pass this along to you since it contains screenshots that contain PII.  The ZH ticket number is below.

[Tier 3]

[2021-12-21 17:08] pdavies88 opened #34419 "Tech Debt: Remove lodash from react-components and convert to native JS functions"
Remove lodash from `react-components` `package.json`
All functions can be replaced by native JS

Functions used:
* uniqueId - https://youmightnotneed.com/lodash/#uniqueId
* isUndefined - https://youmightnotneed.com/lodash/#isUndefined
* isString - https://youmightnotneed.com/lodash/#isString
* range - https://youmightnotneed.com/lodash/#range
* has and isPlainObject and mapValues all used in the d

[2021-12-21 17:10] Dene-human commented on #25350
Awesome @DanielleThierryUSDSVA Thank you! I have put them in the design and marked a few places with questions.

![question](https://user-images.githubusercontent.com/80857940/146968982-13edf448-13e5-42ea-a2ed-3b1dc3062993.png)
![upload](https://user-images.githubusercontent.com/80857940/146968996-9ffa7c41-5f91-4cae-b282-4d329415e764.png)

__________________________________________________________

[2021-12-21 17:34] SebVortex commented on #33608
PR is here: https://github.com/department-of-veterans-affairs/vets-website/pull/19738

[2021-12-21 17:34] andaleliz commented on #34003
@Samara-Strauss one other thing occurred to me -  It feels like it makes sense to hide the "learn how to apply" CTA if there is an existing application in progress. So we could show these sections to everyone _unless_ they have an application in progress.  Do you think the endpoints are reliable enough to handle that?

[2021-12-21 17:39] tlei123 commented on #31452
Re-opening for new UI-flows & 2nd round of tests.

[2021-12-21 17:42] bethpottsVADEPO commented on #33724
It's a little long I think. Would you put it in an additional info components as on the vet tech page? And please tweak the first line to eliminate "and/or," to change "called" to "or," and to add back some of the text I had before since length isn't as much of a concern with using the additional info approach:

**If you get monthly housing allowance (MHA), college fund (or "kicker") payments, or

[2021-12-21 17:42] alexandec commented on #34381
@meganhkelley going to close this one out since I didn't find any speed differences.

[2021-12-21 17:42] #34381 closed

[2021-12-21 17:43] Dene-human commented on #25350
Should it be "scanned copy of a photo..." or "scanned copy **or** a photo..."

[2021-12-21 17:50] azimzores opened #34420 "Access for Antony Zimzores"
### COR Name

Cecila Lee

### Vendor Onboarding Representative Name

Liberty IT -  Michael G. Lovejoy
COR: Cecilia Lee

### Your Name

antony zimzores

### Your Email

antony.zimzores@libertyits.com

### Name of Your Team

Leeoroy Jenkles

### Service(s) You Want Access To

AWS

### Public SSH Key

_No response_

### Desired AWS Services

Access to EKS, ECS, S2, EC2 and other standard services for

[2021-12-21 17:55] GnatalieH commented on #32515
Here are the GA reports I found from Megan in the DSC notes. I added the secondary dimension of "page" for the Action links report so we can compare URLs:

[Buttons](https://analytics.google.com/analytics/web/#/report/content-event-events/a50123418w177519031p176188361/_u.date00=20210101&_u.date01=20211001&explorer-segmentExplorer.segmentId=analytics.eventAction&explorer-table.plotKeys=%5B%5D&explo

[2021-12-21 18:00] bethpottsVADEPO commented on #20644
@lwalsh617 I wanted to check in on this and see where you were with it.

[2021-12-21 18:00] stevek45 commented on #33572
Most of my team is out one or more days during the holidays.  The second week in Jan would probably be best so I can have the appropriate team members available to see what VANotify can offer our project.

Thanks

Stephen Kopecky
Program Analyst
+1-518-674-6277 (telework  8am-4:30pm Eastern)
Please click here<https://gcc01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdvagov.sharepoint.com%2

[2021-12-21 18:08] #34114 closed

[2021-12-21 18:13] #9538 closed

[2021-12-21 18:14] RLHecht commented on #33527
I published this page. Moving to validate and will close when live.

[2021-12-21 18:15] #13939 closed

[2021-12-21 18:16] jhouse-solvd commented on #32825
Discussion w/ Jacob in [this thread](https://dsva.slack.com/archives/CJYRZK2HH/p1640110554061300)

[2021-12-21 18:19] #16778 closed

[2021-12-21 18:20] Samara-Strauss commented on #34003
Yes, this should be much easier to do, and I think we are already doing it. Worth confirming.

[2021-12-21 18:21] DanielleThierryUSDSVA commented on #29582
Connecting this issue to the content work for this ([#33349]([url](https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/33349))). Thanks!

[2021-12-21 18:24] #18083 closed

[2021-12-21 18:26] #18554 closed

[2021-12-21 18:27] #19372 closed

[2021-12-21 18:27] #19374 closed

[2021-12-21 18:29] #19731 closed

[2021-12-21 18:31] af-manish opened #34421 "Sidekiq Admin UI Access Request"
_Access to the Sidekiq Admin UI is managed through a GitHub team under the [department-of-veterans-affairs/va.gov-sidekiq team](https://github.com/orgs/department-of-veterans-affairs/teams/va-gov-sidekiq/members). Please provide your GitHub username to be added to that team, along with a reason access is required._

- GitHub username: af-manish
- Reason access is required:  To be able to review si

[2021-12-21 18:32] #20428 closed

[2021-12-21 18:32] AdamFreemer opened #34422 "Sidekiq Admin UI Access Request"
_Access to the Sidekiq Admin UI is managed through a GitHub team under the [department-of-veterans-affairs/va.gov-sidekiq team](https://github.com/orgs/department-of-veterans-affairs/teams/va-gov-sidekiq/members). Please provide your GitHub username to be added to that team, along with a reason access is required._

- GitHub username: AdamFreemer
- Reason access is required: Monitoring of active j

[2021-12-21 18:33] #20838 closed

[2021-12-21 18:34] tressaellen commented on #34155
Here's the [sketch file we'll be working on.](https://www.sketch.com/s/9b0e6efc-423a-4354-9db3-ab2083d566c9)

[2021-12-21 18:35] miabecker commented on #33572
Sounds good! Let us know if there is a particular date or time that works
best for you.

On Tue, Dec 21, 2021 at 1:00 PM Steve Kopecky ***@***.***>
wrote:

--
Maria Becker
Product Manager
Pronouns she/they
Email ***@***.***
Telephone +1 234 567 8910 <+1+234+567+8910>
[image: Thoughtworks]
<http://www.thoughtworks.com/?utm_campaign=maria-becker-signature&utm_medium=email&utm_source=thoughtworks-ema

[2021-12-21 18:38] #21527 closed

[2021-12-21 18:40] tressaellen commented on #33834
Sorry @hdjustice I still haven't had a second to look at this - I'll take a look this afternoon!

[2021-12-21 18:41] #22498 closed

[2021-12-21 18:41] #23648 closed

[2021-12-21 18:46] miabecker commented on #32980
@mnorthuis thank you so much for your thoughtful engagement on this. I read your feedback and found it helpful. Let me review with our UX Designer and Tech Lead and get back to you. Appreciate your engagement.

[2021-12-21 18:47] mmiddaugh opened #34423 "Add hours of operation to Vet Center Locations page"
## Issue description
The Vet Center location page includes the name, address and phone number for the main Vet Center and any associated outstations
and community access points (if any). Hours of operation data for the main Vet Center and outstation comes from VAST.

### Current experience
Hours of operation are shown only for the main Vet Center and only on the main page.

<details>
<summary> Scr

[2021-12-21 18:47] #23948 closed

[2021-12-21 18:50] mleclerc00 opened #34424 "[EKS] Create elasticache instances for loki"
## Description
The goal is to extract memcached from the eks clusters as it is a stateful set and should be treated like other stateful components (i.e. postgres databases).  We can use a dedicated elasticache instance for this.  This alleviates the need to manage larger instances in the clusters themselves and dealing with any affinity conflicts when deploying the memcached pods.  It will also el

[2021-12-21 18:50] #24304 closed

[2021-12-21 18:51] #24779 closed

[2021-12-21 18:51] srsuddath commented on #24779
We are closing this ticket as typeahead 2.0 has officially been launched

[2021-12-21 18:53] #25009 closed

[2021-12-21 18:53] k80bowman opened #34425 "Resolve IE11 issues in components-library core build"
## Description
We noticed that web components aren't loading properly in IE11 due to a syntax issue with the build. This is a result of the "core" component-library build which isn't targeting ES5 for IE11 compatibility.

In order to resolve the issue quickly, we [changed `vets-website` to use the build from the web-components child package](https://github.com/department-of-veterans-affairs/vets-w

[2021-12-21 18:54] lwalsh617 commented on #20644
@bethpottsVADEPO - I haven't been able to access CAG since Tuesday when my contract was terminated so am unable to wrap this up. I'm meeting with Randi and Selina before the 31st to pass things off so will let Randi know she can copyedit and share the node.

[2021-12-21 18:54] hallihocine opened #34426 "Sidekiq Admin UI Access Request"
_Access to the Sidekiq Admin UI is managed through a GitHub team under the [department-of-veterans-affairs/va.gov-sidekiq team](https://github.com/orgs/department-of-veterans-affairs/teams/va-gov-sidekiq/members). Please provide your GitHub username to be added to that team, along with a reason access is required._

- GitHub username: hallihocine
- Reason access is required: To be able to review/t

[2021-12-21 18:55] mmiddaugh opened #34427 "Add map slices to Vet Center locations page"
## Issue description
The Vet Center location page includes the name, address, phone number and link to directions for the main Vet Center and any associated outstations and community access points (if any) but not the map slice.
Map slices are generated based on lat/long provided by VAST.

### Current experience
Map slices are shown only for the main Vet Center and only on the main page.

<details

[2021-12-21 18:56] #25151 closed

[2021-12-21 19:07] tressaellen commented on #34124
Reviewed with Josh. The current design makes sense, but to make it work we need to make sure to add an aria describe by label to the dismiss button.

He also recommended in future states grouping all notifications together at the top of the page (like we have in  our future state mocks).

I'm going to close this ticket and submit an experimental design ticket!

[2021-12-21 19:07] #34124 closed

[2021-12-21 19:08] mmiddaugh opened #34428 "[CONSIDER] Create VAMC program page template(s) (i.e. long COVID/PTSD/SUD)"
## Issue Description
Some programs are available across many VAMC health systems, providing an opportunity to standardize and simplify the creation of some types of program pages, such as long COVID, PTSD, and SUD.

Creation of PTSD and SUD program pages will also allow us to sunset existing directories.

---
## Tasks
- [ ] Research with SMEs for program understanding to use in determining page st

[2021-12-21 19:11] SKasimow opened #34429 "DISCOVERY | "Fact Sheet" Database/Search Functionality"
## Story

As part of our efforts to support the new law around "fact sheets", we want to explore what potential databases we can use to store translated fact sheets (in 10+ languages) and what search function to use to surface them.

## Acceptance Criteria

- [x] Document possible options and recommendations in Github product folder
- [x] Present to the C+L team during a Monday Stand-Up

[2021-12-21 19:16] jenniemc commented on #32684
@laurenernest, this is the first time i'm working GA using custom dimension so i'm taking a stab at the event name and parameter forVA request. The event name is `vaos-request-submission-successful`, the parameter is `vaos-number-of-days-from-preference`  Below is an example of what you can expect.

      event: 'vaos-request-submission-successful',
      flow: 'va-request',
      'health-TypeOfCa

[2021-12-21 19:18] Kwoly commented on #33972
Going to create a ticket for the design system team as this is an issue with the modal component as a whole. The issue arises from a browser rendering bug that occurs when an element has a scrolled overflow with a `transform: translate()` css property.

It is not necessarily fixable as it's an issue on the browser renderer, but it can be alleviated with a 1px white border top and bottom. We are go

[2021-12-21 19:19] Kwoly opened #34430 "Consolidate FE Login Component Copy"
We had a lot of duplicated code.  This ticket removed the duplicate code and resolve potential issues with future changes.

[2021-12-21 19:22] laurenernest commented on #32684
Thanks! I'll leave this in validate until we can confirm everything is passing correctly.

[2021-12-21 19:23] mmiddaugh opened #34431 "[DESIGN/RESEARCH] Methods for contacting VAMCs"
## Issue Description
Previously we added the VA health connect phone number to Facility Locator search results and Contact information on VAMC pages for VISN 8 facilities. This was done as a stop gap measure until a more elegant solution could be determined.

Several factors make returning to this work a priority
- VA health connect will be rolling out nationally.
- December 2021 Executive order e

[2021-12-21 19:24] laurenernest commented on #34128
@laurensimpson14 this is in staging now. here's the note from the dev:

The event name is `vaos-request-submission-successful`, the parameter is `vaos-number-of-days-from-preference`  Below is an example of what you can expect.

      event: 'vaos-request-submission-successful',
      flow: 'va-request',
      'health-TypeOfCare': 'Primary care',
      'health-ReasonForAppointment': 'routine-follo

[2021-12-21 19:31] jenniemc commented on #32593
@laurenernest, v0 does not contain clinic location detail only v2 does. I do not have examples pulled from production, but I understand staging pulls data from CDW, Central Data Warehouse. cc @grossb1

[2021-12-21 19:31] tressaellen commented on #34095
I've submitted [this ticket to platform](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/606)

[2021-12-21 19:31] hdjustice opened #34432 "[FE] My VA: Add screen reader headings to each link list within My VA Dashboard"
## Background

After talking with Josh Kim regarding accessibility on the new Payment Information section on My VA, he mentioned that we should consider having Screen Reader headings (SR Only, Screen Reader Only) for each link list within each section (Claims & Appeals, Health Care, and Payment Information).  Currently, they may read as links that pertain to the card within the section.

See Mid-p

[2021-12-21 19:35] hdjustice commented on #34432
@tressaellen @tmitchellgcio  Ticket created and in the backlog for addressing the Link List within each section of My VA - adding screen reader headings to make the site more clearly understood and accessible.

[2021-12-21 19:40] Kimberley2019 commented on #34409
@alsleaders I sent you an encrypted email.  The Veteran has a question.

From: REDACTED
Sent: Tuesday, December 21, 2021 2:31 PM
To: VA Technical Support <VATechnicalSupport@va.gov>
Subject: Re: [EXTERNAL] Re: Claim application issue

I am wondering if I am entering something incorrectly that is keeping it from submitting.  Like the name of the treatment facility or my banking information.

REDACT

[2021-12-21 19:41] hdjustice commented on #34095
Fabulous!!

[2021-12-21 19:42] hdjustice commented on #33834
No Worries!  I will be looking for actual users today and plug them in where it makes sense for testing.

[2021-12-21 19:43] laurenernest commented on #32593
which toggle will it be behind so we can document in the ticket? cc @ldelacosta

[2021-12-21 19:45] laurenernest commented on #32594
@grossb1 which vaos service toggle is this work behind?

[2021-12-21 19:56] SKasimow opened #34433 "On-Boarding | Testing Tools | End -to-End Testing"
## High Level Story

As a new FE engineer, I need to become familiar with the current tool suite I need to use for acceptance testing, unit testing and end-to-end testing, as well as some soon to be deployed testing tools.

## Acceptance Criteria

- [x] End to end testing - Complete Cypress course on Udemy

[2021-12-21 19:57] SKasimow commented on #34433
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VSA---Caregiver-5fff0cfd1462b6000e320fc7/issues/department-of-veterans-affairs/va.gov-team/34433?planning-poker) with ZenHub @lzapson

[2021-12-21 20:01] mnorthuis commented on #33449
A couple of follow ups...

Is there a significance/meaning to using /u/?  Just trying to understand what the "u" stands for.  Also, if a sub-directory is utilized, a redirect will need to be put in place at the directory level.  In addition appropriate redirects should be put in place for an invalid or expired character string.

By this, I am assuming that the single application is for appointment

[2021-12-21 20:17] andaleliz commented on #31615
Chatted with Tressa and she confirmed I am correct, with the addition of the fact that we need to review the lack of a heading for the notification section.

[2021-12-21 20:17] tressaellen commented on #31615
Here's the [latest mural board](https://app.mural.co/t/vsa8243/m/vsa8243/1640028268317/2ba4e1b2846c87f5d0bfc6bcb643bef84720bea1?sender=tressafurner7646) with the latest design for onsite notifications and payment information! Thanks!

[2021-12-21 20:18] bosawt opened #34434 "Investigate elevated log ingestion with updated chapter 33 bank accounts controller"
We recently merged a PR for `ch33_bank_accounts_controller` that reduces the amount of stack trace logging during the `index` function of the controller (there were two BGS calls, and if the first returned a `nil` response for certain information, the second BGS call was still made, but it would crash).
When we are stressing the Loki log ingestion, certain routes are slow, but others are not. I ha

[2021-12-21 20:27] hallihocine commented on #29367
Ticket has been validated in staging: The "Cautionary information" section contains ONLY styling alerts for institutions that have caution flag. see below:
<img width="1332" alt="Screen Shot 2021-12-21 at 2 59 29 PM" src="https://user-images.githubusercontent.com/86266024/146993259-a3152e14-5de4-4179-817e-cbc0074f822e.png">

[2021-12-21 20:32] DanielleThierryUSDSVA commented on #25350
Thanks, @Dene-human! To answer your questions:

- I like that as the title. Just use "We'll" instead of "We will." And I think we don't need the period if it's the header.
- Yes, I think a note works there, thanks!
- I'm not sure about the copy above the buttons. I like that it's there for someone who might have made a mistake. But then I worry that it could be just too many messages on the page a

[2021-12-21 20:36] k80bowman commented on #767
@bkjohnson did you ever verify that your fix works in staging?

[2021-12-21 20:37] hallihocine commented on #29367
- Test Run in Test Rail:
https://dsvavsp.testrail.io/index.php?/runs/view/2744&group_by=cases:section_id&group_order=asc&group_id=3251
- Test Script/Steps:
[Design components or patterns don't align with Design System guidelines. (04.07.3).xlsx](https://github.com/department-of-veterans-affairs/va.gov-team/files/7758053/Design.components.or.patterns.don.t.align.with.Design.System.guidelines.04.07.

[2021-12-21 20:38] pdavies88 opened #34435 "Tech Debt: Remove and convert number-to-words in react-components"
Remove and convert `number-to-words` dependency in `react-components`
File it is being used in `src/components/ProcessList/ProcessList.jsx`
The package it being used to convert integer to word ie: 1 to one
Strategy on how to do that with native JS: https://ourcodeworld.com/articles/read/353/how-to-convert-numbers-to-words-number-spelling-in-javascript

## Parent Issue
https://github.com/department

[2021-12-21 20:42] andaleliz commented on #34003
Okay, it seems like that logic is in place for the health care section, but not for disability compensation. I logged in with user 100, and saw this (disability comp application in progress, and CTA at the bottom):
![Screen Shot 2021-12-21 at 3.33.53 PM.png](https://images.zenhubusercontent.com/5d9def68b6de6d00018d50f2/2c8b4a0c-fe3d-4368-95ae-2be705c1fbb5)

and then started a health care applicati

[2021-12-21 20:42] pdavies88 opened #34436 "Tech Debt: Remove react-focus-lock from react-components"
`react-focus-lock` is a dependency in `react-components -> package.json` but not imported on any files

## Parent Ticket
https://github.com/department-of-veterans-affairs/va.gov-team/issues/33188

## Acceptance Criteria
[] `react-focus-lock` is removed from `react-components -> package.json` and `yarn.lock` is updated

[2021-12-21 20:47] Dene-human commented on #25350
@DanielleThierryUSDSVA Thank you! I have updated the title and "or." Here are 3 treatments below, let me know what you think!

![Screen Shot 2021-12-21 at 3 37 47 PM](https://user-images.githubusercontent.com/80857940/146994653-2102eac6-b319-4ded-91fc-a72fab5f5df2.png)

![Screen Shot 2021-12-21 at 3 38 41 PM](https://user-images.githubusercontent.com/80857940/146994626-81e640bd-fa75-4fe8-b070-454f

[2021-12-21 20:47] pdavies88 opened #34437 "Tech Debt: Remove and convert react-scroll dependency"
`react-scroll` is used only in CollapsiblePanel.jsx
* It is used to do an animated scroll to the top of the panel when the panel is clicked
* There is native JS to use to do smooth scrolling: https://css-tricks.com/snippets/jquery/smooth-scrolling/
* However IE11 will need a polyfill to work properly or an if/else to determine the browser like below:
[code]

## Parent Ticket
https://github.com/dep

[2021-12-21 20:48] RLHecht commented on #33724
I just updated this and will check once it's live.

[2021-12-21 20:51] bkjohnson commented on #767
No, I was going to let an accessibility expert verify it since I can't test with screen readers for Windows or MacOS.

[2021-12-21 20:51] tressaellen commented on #33834
- If a user is LOA1 then we will handle it the same as the previous test case - we won't show the payment information section. So it should show the screenshot that is already linked.
- We need to add a test case for the 'Request travel reimbursement' link since it's a new link - even though it's in the health care section.
- For 'User has payments made to them, but there have been no payments in

[2021-12-21 20:52] pdavies88 opened #34438 "Tech Debt: Remove and convert react-transition-group"
`react-transition-group` is used only in `ExpandingGroup.jsx`
* It is used only create a Fade Toggle
* Same effect can be recreated completely in CSS with opacity, height and transition
* Example: https://gomakethings.com/how-to-a-fade-in-to-vanilla-javascript-show-and-hide-methods/

## Parent Ticket
https://github.com/department-of-veterans-affairs/va.gov-team/issues/33188

## Acceptance Criteria

[2021-12-21 20:56] k80bowman commented on #767
That sounds fine, do you know if there are good pages to test this out on?

[2021-12-21 20:56] jsgarmon commented on #33446
Dev and staging environments are successfully sending traces from vets-api workers and servers to the Datadog dashboard. Instances are not showing unusually high network throughput or resource usage.

No debugging was required in staging once this change was made. We expect promotion to production to go smoothly, but will monitor network/resource usage once deployed to check for impacts on workers

[2021-12-21 20:56] pdavies88 opened #34439 "Tech Debt: Remove date-fns from build completely"
Most cleanup was done via: https://github.com/department-of-veterans-affairs/component-library/pull/243

However some bindings still remain in `core` and `storybook`

## Parent Ticket
https://github.com/department-of-veterans-affairs/va.gov-team/issues/33188

## Related PR
https://github.com/department-of-veterans-affairs/component-library/pull/243

## Acceptance Criteria
[] Remove from `Maintenan

[2021-12-21 20:57] Kimberley2019 opened #34440 "[Tier 3] Disability claim application - SF 06254773"
## Issue Description
_Review case notes below and details sent in encrypted email in order to review and resolve issue veteran is experiencing._

---
## Tasks
- [ ] _Review provided details in ticket_
- [ ] _Review additional information from encrypted email_
- [ ] _Advise if additional information is required for review and resolution_
- [ ] _Contact veteran and set up shadowing call if needed_

[2021-12-21 21:02] Kimberley2019 commented on #34440
Case Notes
Veteran verified PII. Calling re: Stated that the issue has been happening since 10/31/2021. Error Message "We are sorry something went wrong when trying to submit your claim."
He is using a desktop and Google Chrome. I had him clear his cookies and cache history. He is signing into his DS Logon account again. He is continuing the compensation application. Submitting the application wit

[2021-12-21 21:09] joshkimux commented on #17766
@k80bowman [some more context is in this closed PR](https://github.com/department-of-veterans-affairs/vets-website/pull/15443#discussion_r552827222)

The group came to the conclusion that it would be better to fix this from a design perspective by splitting items onto separate pages (which is another reason why the wizard as it currently is designed is being deprecated).

That being said:
- We may

[2021-12-21 21:14] RLHecht commented on #29356
@af-manish In the PDF, pages 34 and 35 are still showing "School comparison" as the header instead of "Institution comparison." And in the mobile views on pages 36, 37, 39, 40, and 41, the header isn't sentence cased. It should be "Institution comparison" (comparison is lowercase)

[2021-12-21 21:19] acrollet commented on #33449
No particular significance, I think it was first suggested by @stephenBarrs - probably standing for "Url". :-)

To clarify, you're saying a re-direct would need to be put in place from `/u/` to the root?

So you would want the shortener service to return a redirect to the homepage instead of a 404 if a person visited an invalid URL?

Our current need is for these long URLs that are used for check-

[2021-12-21 21:25] RLHecht commented on #33527
Changes live. Closing ticket.

[2021-12-21 21:25] #33527 closed

[2021-12-21 21:27] trenholmstem2021zach opened #34441 "VSP Operations Onboarding"
# Ops Onboarding
## Overview
Welcome to the platform and more particularly the VSP Operations team.  This ticket is a checklist and guide to try and improve the onboarding process and get you up to speed.

If you have any questions/need access please reach out to Jesse House (@jhouse-solvd) or Demian Ginther (@dginther).

##  Checklist

### Admin work
- [ ] If new to VA, will need background check

[2021-12-21 21:30] andaleliz commented on #33295
@Samara-Strauss I'm writing up the participant criteria for this research plan, and wondering what your thoughts are on having @tmitchellgcio build a prototype in code vs having me build a UX Pin prototype for this research.

Since My VA is already coded out, it would likely be a matter of copying and pasting a section, updating copy + styling the new alert for testing.  Taylor estimates it would

[2021-12-21 21:32] zachclarity opened #34442 "VSP Operations Onboarding"
# Ops Onboarding
## Overview
Welcome to the platform and more particularly the VSP Operations team.  This ticket is a checklist and guide to try and improve the onboarding process and get you up to speed.

If you have any questions/need access please reach out to Jesse House (@jhouse-solvd) or Demian Ginther (@dginther).

##  Checklist

### Admin work
- [ ] If new to VA, will need background check

[2021-12-21 21:32] #34441 closed

[2021-12-21 21:32] zachclarity commented on #34441
wrong account

[2021-12-21 21:36] k80bowman commented on #17766
This is great, thank you for the additional context @joshkimux!

@CourtneyChambers77 I don't think at this point that we need you to look into this.

[2021-12-21 21:38] RLHecht commented on #33809
Now that the REMOTE law was signed, in-person rates are being extended until June 1, 2022. We updated the date on the FAQs page in all three languages. Moving to validate and will close once live. I'll make a note in the editorial calendar to revisit this before June 1.

[2021-12-21 21:41] k80bowman commented on #33188
@pdavies88 This all looks good to me, thank you for digging into this. We will want to make sure that as we make changes to your dependencies that we are thoroughly testing every change in all supported browsers (including IE11 for now) to make sure everything works. Would you mind adding an item for that to the acceptance criteria for the tickets you are creating?

[2021-12-21 21:46] holdenhinkle commented on #33789
I clarified a bunch of things with John Bramely today and subsequently made a bunch of updates to `vets-api` - https://github.com/department-of-veterans-affairs/vets-api/pull/8721

This included a number of changes to the `test_user_dashboard_tud_accounts` schema.

The only thing left to do is to handle an array of `id_types` in the TUD app. It used to handle an `id_type` string. Now, each TUD acc

[2021-12-21 21:48] callen2563 commented on #34366
@mgleo Hi Megan, I know you are currently working on page rating for the Recourses and Support page. I have a couple questions: Have you done any discovery research for page rating on Recourses and Support yet? Is there any discovery work you can share with us? Thanks!

[2021-12-21 21:48] Kimberley2019 commented on #34440
@alsleaders encrypted email sent.

From: Daniels, Kimberley N. (Oddball, Inc.)
Sent: Tuesday, December 21, 2021 4:48 PM
To: Leaders, Amanda L. (Government CIO) <Amanda.Leaders@va.gov>
Subject: FW: [EXTERNAL] Re: Application Submission Issue

Good Afternoon Amanda,

I wanted to pass this along to you since it contains screenshots that contain PII.  The ZH ticket number is below.

[Tier 3] Disabilit