[2022-09-27 23:57] #47027 closed

[2022-09-27 23:57] cindymerrill commented on #41585
Presented to the Health Apartment team today and don't foresee any other readouts.

[2022-09-27 23:57] #41585 closed

[2022-09-27 23:59] cindymerrill commented on #41567
Presented to the Health Apartment team today and don't foresee any other research readouts, so closing ticket

[2022-09-27 23:59] #41567 closed

[2022-09-28 00:13] simiadebowale opened #47650 "[Spike] Improve VAOS process to look up the timezone - (BE)"
## Background/Request
We need to update the facilities timezone offset in the preferred timezone VAOS FE is sending back (endpoint/name of field)
This would apply to direct appointment workflow.

Background:
For V0, we were sending the veterans preferred date with a 0 offset: desiredDate: ${data.preferredDate}T00:00:00+00:00Z and the facility timezone in a separate timezone field. It was confirmed

[2022-09-28 01:46] tpharrison opened #47651 "BE | Profile | Discovery | Planning: Identify Caching Opportunities for BGS Calls"
## Background
Trevor Bosaw has added caching to BGS calls.  The purpose of this ticket is to identify if any opportunities exist for the Profile and My VA pages to adopt existing or similar caching of BGS calls.

## Tasks
- [x] Determine which supporting calls can be cached and create a ticket for each.
- [x] Create tickets for implementation.

[2022-09-28 06:49] aliyahblackmore commented on #40831
Hi @megzehn ! I went through the first 54 entries in the [audit doc](https://github.com/department-of-veterans-affairs/va.gov-team/issues/40831#issuecomment-1172493256) and I'm attaching the pages that I've reviewed so far. I'll continue to go through this today,

**Spreadsheet document**
[711_Audit_Changed Pages_AB_Copy.xlsx](https://github.com/department-of-veterans-affairs/va.gov-team/files/966

[2022-09-28 12:23] laflannery commented on #6379
No longer relevant, there is no nested aside on the page.  Will close the issue in 1 week unless told otherwise

[2022-09-28 12:23] td-usds commented on #46729
Requested access approved

[2022-09-28 12:25] td-usds commented on #46302
Access via `dsva-vagov-developers` approved

[2022-09-28 12:28] laflannery commented on #6507
This has been resolved. Only the title text is linked now rather than the paragraph text below. Will close in 1 week unless told otherwise

[2022-09-28 12:28] td-usds commented on #47401
@nfstern02 cf Slack message

[2022-09-28 12:34] ninaranusavice opened #47652 "Platform Orientation Template Nina Anusavice"
## Welcome and Introduction
Welcome to the Veteran's Administration (VA) Veteran Facing Services (VFS) team!
As a new VFS team member, you will be working in the web ecosystem we call the VA.gov Platform (or "**The Platform,**" for short).  The tasks on this list are designed to get you up to speed on the role of Platform, making it easier for you to do your job.

Because the VA is a huge organiza

[2022-09-28 12:35] laflannery commented on #9987
Heading levels no longer skipped, no issue reported in axe.  Will close in 1 week unless told otherwise

[2022-09-28 12:41] loripusey commented on #47639
@benbrasso-agile6 let's talk through these recommendations

[2022-09-28 12:44] laflannery commented on #21020
There is no enough information to complete this task - we are also not responsible for videos, the YouTube team is.  Therefore, I will be closing this in 1 week unless told otherwise.

[2022-09-28 12:45] #47312 closed

[2022-09-28 12:45] laflannery commented on #21016
The only remaining item in this epic is stale. Will close this in 1 week unless told otherwise.

[2022-09-28 12:46] marcynadeau commented on #47312
Closing as invalid.  1) Lighthouse Facilities API and CDW sandbox environments are copies of production and Sterling is no longer a valid site in production.  2) CHYSHR VistA instance is a static copy and does not get updated to be in synch with production site updates.

[2022-09-28 12:46] marcynadeau commented on #47312
1) Lighthouse Facilities API and CDW sandbox environments are copies of production and Sterling is no longer a valid site in production.  2) CHYSHR VistA instance is a static copy and does not get updated to be in synch with production site updates.

[2022-09-28 12:48] laflannery commented on #23699
No issues were found, I do not think there is a need for this issue to remain open.  Will close in 1 week unless told otherwise.

[2022-09-28 12:53] it-harrison commented on #47482
Published to Developer Documentation

[2022-09-28 12:59] joeniquette commented on #47594
Initially we will want to provide whats in the accounts table as Trevor
described, next iteration we will want to have all known user data about a
Veteran, even beyond MPI. Phase 2 would be MPI record, phase 3 would be
"other systems" such as BGS, EVSS, etc. All with planned out interactions.
Initially this will be needed for troubleshooting staging and below but
this tool will be very helpful to

[2022-09-28 13:13] laurwill commented on #47388
Changes are live and I notified Melissa. @RLHecht we can close this out and I'll open a backlog ticket to pick up less urgent content changes to this page!

[2022-09-28 13:14] waltherraymondVA opened #47653 "Platform Orientation Template [Your name here]"
## Welcome and Introduction
Welcome to the Veteran's Administration (VA) Veteran Facing Services (VFS) team!
As a new VFS team member, you will be working in the web ecosystem we call the VA.gov Platform (or "**The Platform,**" for short).  The tasks on this list are designed to get you up to speed on the role of Platform, making it easier for you to do your job.

Because the VA is a huge organiza

[2022-09-28 13:18] laflannery commented on #23834
I do not believe this is relevant anymore, I cannot find the screenshotted area on the page.  Will close in 1 week unless told otherwise

[2022-09-28 13:19] michelle-dooley commented on #47611
No Domo or GA

[2022-09-28 13:20] laflannery commented on #23829
I don't believe this is relevant anymore, the screenshot is not on the page.  Will close unless I hear otherwise

[2022-09-28 13:23] laflannery commented on #25018
This looks resolved - Tested this on a couple pages on desktop and mobile and focus goes to the H1.  Will close in 1 week unless told otherwise

[2022-09-28 13:26] laurwill commented on #47212
I validated changes, confirmed the redirect is working, and notified the stakeholders. @RLHecht we can close this out!

Also noting this via PW for future redirect tickets: The code that manages redirects is only automatically deployed on Wednesdays at ~10am ET.  So when we have urgent timing around a redirect that doesn't align with that, we'll always need to request an off-cycle deploy.

[2022-09-28 13:26] laflannery commented on #25594
Language Assistance accordion button is now an H2 on mobile.  Will close in 1 week unless told otherwise

[2022-09-28 13:31] shiragoodman commented on #23699
@laflannery I think it's safe for you to close this issue.

[2022-09-28 13:32] #23699 closed

[2022-09-28 13:37] laflannery commented on #26360
Global, Find a Form and Resources search all have the proper landmark.  Will close in 1 week unless told otherwise

[2022-09-28 13:41] RLHecht commented on #47388
Thanks! Closing

[2022-09-28 13:42] RLHecht commented on #47212
Thanks, Laura. I'll add this info to the redirect request ticket and look at the other redirect documentation to make sure it's added there as well. Closing ticket!

[2022-09-28 13:42] #47212 closed

[2022-09-28 14:00] shiragoodman opened #47655 "Update Collaboration Cycle guidance for IA and Research"
## User Story
As an IA support person for Sitewide crew, I want to be included in the Collaboration Cycle touchpoints so that I may provide IA support and guidance to VFS teams.

As a Governance team member, I want to make sure Collaboration Cycle guidance includes the names of the people I'll be working with so that I know who I'll be receiving support from.

Assignee: @allison0034
Peer Reviewer:

[2022-09-28 14:09] saderagsdale opened #47656 "Staging Review [Benefits Team 1 - Certificate of Eligibility]"
# NOTE
This template is being deprecated. If your kickoff meeting took place after May 26, 2022, you should be following the guidance specified in the Collaboration Cycle Request per the [May 26, 2022 change history post](https://depo-platform-documentation.scrollhelp.site/collaboration-cycle/Change-history.1846870032.html) instead. If you are unsure if this applies to you, please reach out to the

[2022-09-28 14:09] #46940 closed

[2022-09-28 14:09] rsmithadhoc commented on #46940
Thanks @pjhill, looks like that was published successfully: https://depo-platform-documentation.scrollhelp.site/developer-docs/quality-assurance-standards, so I will close this out.

[2022-09-28 14:11] laflannery commented on #27615
This is not an issue - Accordion titles are headings. A couple of things to note:
- Accordions are in the shadow DOM and do not get caught in headingsMap, ANDI, web devloper Chrome plugin, etc. If you want to confirm that these are markup up correctly, you need to inspect the HTML
- The incorrect heading structure of all accordions is being handled separately by the Public Websites team

I will cl

[2022-09-28 14:12] laflannery commented on #27594
This is resolved and is no longer styled as a button.  Will close in 1 week unless told otherwise

[2022-09-28 14:15] npeterson54 commented on #46741
Looks like this can be closed out

[2022-09-28 14:17] laineymajor commented on #46779
The name of this project was narrowed to 'vets-api' specifically. We are still planning to complete a discovery to better understand what is remaining on BRD (looking ahead at future work), but I want to make sure we are on the same page that this project is now narrowed from 'move everything to EKS' -> 'move **VETS-API** to EKS'. Making sure this scoping is accurate @td-usds @andreahewitt-odd @Li

[2022-09-28 14:29] laflannery commented on #3843
I do not believe this is still an issue - the above URL does not appear to exist anymore.  Will close in 1 week unless I hear otherwise

[2022-09-28 14:29] laurwill opened #47657 "Update R&S page for school closures due to natural disaster"
## Issue Description
Stakeholder Tammy asked us to update the [What if my school closes due to a natural disaster?](https://www.va.gov/resources/what-if-my-school-closes-temporarily-because-of-a-natural-disaster/) R&S page. They provided a Word doc with updates in a table, but we'll find a way to update without using a table.

[https://app.zenhub.com/files/133843125/be6d1635-0f95-4ded-ac33-58711d4

[2022-09-28 14:32] laurwill commented on #47657
Hi @katherine-fung , if you have time to work on this today, that would be great! The character limit on single Q&As will be a limiting factor here — see if you can work within the template, and if not we can discuss.

Here are some bulleted talking points from stakeholders, in case these have helpful info not in the Word doc table:
- If your school is, or was, temporarily closed due to a natural

[2022-09-28 14:33] eileen-coforma commented on #42493
Questions:
- What is considered 'good cause' for extension? I can't find any more information about it.
- What does it mean to appeal a VHA denial? Is the process any different for veterans? That information is not part of the form.

[2022-09-28 14:36] LindseySaari commented on #46779
Yes, the scoping sounds accurate to me!

[2022-09-28 14:37] eileen-coforma commented on #42492
@saderagsdale Is there a reason we're keeping this open, if it's a dupe for #42493 ?

[2022-09-28 14:39] laflannery commented on #7757
No longer relevant, it looks as though the HTML for the page has change since this was reported.  Will close in 1 week unless told otherwise

[2022-09-28 14:40] mnorthuis commented on #47655
FYSA @heyjoni

[2022-09-28 14:44] laurwill opened #47658 "Create R&S page for O*NET Interest Profiler"
## Issue Description
- On September 27, we completed [this ticket](https://github.com/department-of-veterans-affairs/va.gov-team/issues/47212#issuecomment-1260936163) to remove CareerScope from VA.gov because we're no longer offering access to that service.
- We set up a temporary redirect to this [Veteran employment resources](https://www.va.gov/careers-employment/veteran-resources/) page
- Now w

[2022-09-28 14:49] #23834 closed

[2022-09-28 14:50] #23829 closed

[2022-09-28 14:51] #25018 closed

[2022-09-28 14:52] #25594 closed

[2022-09-28 14:53] Mottie commented on #47111
Most components have been updated, with the exception of the `FileInput` which was not updated because of unit testing problems. I will close this ticket and open a new one once `va-file-input` is updated to allow testing

[2022-09-28 14:53] #47111 closed

[2022-09-28 14:58] artsymartha68 commented on #18399
Can this issue be closed? The two linked issues are closed.

[2022-09-28 14:58] #11347 closed

[2022-09-28 15:01] #27594 closed

[2022-09-28 15:02] briandeconinck opened #47659 "Design Intent - Accessibility Feedback - Benefits Team 2 - FSR- Enhancements"
## VFS acceptance criteria
- [ ] Let Platform know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
- I really like what you're doing here with this pattern! I'm looking forward to seeing what comes out of usability testing along the way.

## Feedback
- Practice areas will documen

[2022-09-28 15:12] shiragoodman commented on #47656
@saderagsdale I wanted to confirm with you before you continue -is this work that was started by the former eBenefits team? Loan Guarantee: Certificate of Eligibility? Here is there [Design Intent ](https://github.com/department-of-veterans-affairs/va.gov-team/issues/23484)and [Midpoint Review ](https://github.com/department-of-veterans-affairs/va.gov-team/issues/24947)tickets for reference.

[2022-09-28 15:24] #47211 closed

[2022-09-28 15:33] saderagsdale commented on #42492
@eileen-coforma I think this is for the frontend work and #42493 is for the backend work. Correct, @Mottie?

[2022-09-28 15:37] ldelacosta opened #47660 "VA Request Flow - Preferred Dates (Acheron)"
## Description
Scheduling Manager is the service layer used to send the data for the VA request. There is a plan to sunset scheduling manager later this year. We need to send the VA request data to Acheron (new service).

When a Veteran selects the preferred date(s) in VAOS, the front end will pass the 1st date in the `PID` field Patient Indicated Date and 2nd and 3rd date in the comments to Acher

[2022-09-28 15:38] eileen-coforma commented on #42492
If that's the case, I need to move my comments over.

Draft designs: https://www.sketch.com/s/0424c51d-7818-43ea-8821-6de91eb7ab27/p/6863DCFF-CAA2-4BAD-BE68-F2D584466FFB/canvas

**Questions:**
- What is considered 'good cause' for extension? I can't find any more information about it.
- What does it mean to appeal a VHA denial? Is the process any different for veterans? That information is not par

[2022-09-28 15:39] mrblanco1 opened #47661 "Offboarding of AFS Comparison Tool Team"
# Description
The AFS Comparison Tool Team's participation with VA EDU / Comparison Tool ends Thursday **9/29/2022 at 5pm EST**. Please let @mrblanco1 Abe Blanco if you have any questions or concerns. This request is for all team members listed on this ticket to be off-boarded please. Thank you!

# Description
Please provide the following information about the individual being offboarded:
- name:

[2022-09-28 15:43] eunicegar commented on #47580
Shows as a full member.

[2022-09-28 15:43] #47580 closed

[2022-09-28 15:44] mgleo opened #47662 "[Wizard] Update FSR Wizard to add Copay Path"
## Issue Description
Copy needs to be added for the Copay path on the Wizard

---
## Tasks
- [x] Meeting with Sitewide content to discuss various solutions and path forward
- [x] Mockups Design with initial draft content and new structure
- [x] Validate copy with Sitewide Content
- [x] Validate copy with SME
- [x] Approve final copy with Sitewide Content

## Acceptance Criteria
- [x] Designs are c

[2022-09-28 15:50] mmiddaugh commented on #46710
Daytona Beach and Greenville, SC are both ready for your copy-editing pass, @megzehn

[2022-09-28 15:54] sarahknoppA6 commented on #47372
maybe @ytsaoca can pick this up? cc @kristenmcconnell

[2022-09-28 15:57] RLHecht commented on #43553
@megzehn I just added all the past rates pages to this ticket too. Since the content is the same as it is on the current pages (except for the numbers) it might be helpful to have them open at the same time, so if you find something to correct on the current rates page you can go in and make that same update on the past rates page.

Since the past rates pages were cloned from the current pages, yo

[2022-09-28 16:05] #47611 closed

[2022-09-28 16:05] elizabethkochBT opened #47663 "Platform Orientation Template [Elizabeth Koch]"
## Welcome and Introduction
Welcome to the Veteran's Administration (VA) Veteran Facing Services (VFS) team!
As a new VFS team member, you will be working in the web ecosystem we call the VA.gov Platform (or "**The Platform,**" for short).  The tasks on this list are designed to get you up to speed on the role of Platform, making it easier for you to do your job.

Because the VA is a huge organiza

[2022-09-28 16:11] bramleyjl opened #47664 "Update SiS Postman documentation for Dev & Staging"
## Issue Description

The SiS Postman collection was developed on localhost, its documentation should be expanded to explain how to successfully connect to SiS on dev-api.va.gov & staging-api.va.gov

https://dsva.slack.com/archives/C019S3NSSAD/p1664372498381999

## Tasks
- [x] update SiS postman documentation to explain the need to block the automatic `/token` call made by vets-website in order to

[2022-09-28 16:12] joeniquette opened #47665 "add idme and logingov uuid if available to SiS introspect endpoint"
when we call the introspect endpoint we should be showing the idme or logingov uuid if its available

[2022-09-28 16:14] manalo-soco commented on #46366
Uploaded readout to repo: https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/teams/vsp/teams/contact-center/research/Q2-2022/VA_Caller

[2022-09-28 16:14] #46366 closed

[2022-09-28 16:17] #47271 closed

[2022-09-28 16:19] ajakabcin commented on #38967
Closing this epic as audit work is complete. Implementation of findings from the audit can be tracked in #41934

[2022-09-28 16:19] #38967 closed

[2022-09-28 16:21] thehastingsp commented on #44414
closing this ticket as we follow up with a [full content review ticket](https://github.com/department-of-veterans-affairs/va.gov-team/issues/46818) post usability.

[2022-09-28 16:21] #44414 closed

[2022-09-28 16:21] eunicegar commented on #47182
He is on Slack and is a full member. However, his status shows as inactive. Closing this ticket due to no response on above question.

[2022-09-28 16:22] thehastingsp commented on #45057
this ticket is done and midpoint review had specific notes for usability.

[2022-09-28 16:22] #45057 closed

[2022-09-28 16:24] thehastingsp commented on #45097
this issue has been considered and resolved. thank you!

[2022-09-28 16:24] #45097 closed

[2022-09-28 16:26] thehastingsp commented on #46514
@briandeconinck @joshkimux and I went through this and resolved. thank you!

[2022-09-28 16:26] #46514 closed

[2022-09-28 16:27] thehastingsp commented on #46611
@jimuhh working with @bethpotts in [this ticket](https://github.com/department-of-veterans-affairs/va.gov-team/issues/46818) so we can close this issue. thank you!

[2022-09-28 16:27] #46611 closed

[2022-09-28 16:30] adamwhitlock1 opened #47666 "[FE] | Profile | Scroll to top of field after successful update"
## User Story

- As a mobile user, I should be able to update a field, then have that field still be visible once the update is completed and not have to scroll to that field.

## Description

When fields are updated on mobile (specifically noticeable for addresses) the field itself is sometimes not visible after a successful updates. We should make sure that the field is scrolled into view after

[2022-09-28 16:31] oseasmoran73 commented on #46729
Reached out to @mariahsager-tw via slack & provided instructions on how to login. Closing ticket

[2022-09-28 16:31] #46729 closed

[2022-09-28 16:34] data-doge commented on #46647
Sent the following message to Kelli on 9/26:

No response yet. I'll email Kelli to confirm whether we can close this issue.

[2022-09-28 16:37] trevor2718 opened #47667 "Platform Orientation Template [Trevor Drummond]"
## Welcome and Introduction
Welcome to the Veteran's Administration (VA) Veteran Facing Services (VFS) team!
As a new VFS team member, you will be working in the web ecosystem we call the VA.gov Platform (or "**The Platform,**" for short).  The tasks on this list are designed to get you up to speed on the role of Platform, making it easier for you to do your job.

Because the VA is a huge organiza

[2022-09-28 16:40] ericasauv09 opened #47668 "[Design] My VA Audit UX Improvements: Updates to LOA1 Call to Action"
## Background
We need to update the alert for identity verification based on design intent feedback. The Platform team informed us there is a lot alert fatigue on Va.gov in general so they recommend not using the yellow styling and maybe using a blue styling instead.

## Tasks
- [x] Review design for LOA1 users "verify your identity alert"
- [x] Share design updates with team

## Acceptance Criter

[2022-09-28 16:44] sortizsh opened #47669 "DDL: Revise Decision Letter designs"
Revise Decision Letter designs based on feedback from testing

[2022-09-28 16:46] RLHecht opened #47670 "Spanish translation work for booster/flu shot content on main vaccines page"
## Issue Description
We made changes to the featured content box and the flu shot question on 9/23/22. We need to send this text to the translators and update our Spanish page with the translated content.

## Tasks
- [ ] Send content to translators (Randi)
- [ ] Update page with translated content (Aliyah)
- [ ] Copyedit
- [ ] Publish

## Acceptance Criteria
- [ ] Spanish live page has new content

[2022-09-28 16:47] mnorthuis commented on #47655
@shiragoodman Agree with your approach above and confirmed with Beth and Danielle.  Here is who should be listed under the Sitewide Content and IA section:

Project manager: Randi Hecht
Managing editor: Laura Willwerth
Information Architect (IA): Joni Chan

Beth, Danielle, and myself (and other OCTO leads) can be listed under the OCTO leads section.

[2022-09-28 16:48] #47434 closed

[2022-09-28 16:48] data-doge commented on #46647
Kelli just responded:

I'll close this issue.

[2022-09-28 16:49] #46647 closed

[2022-09-28 16:50] RLHecht opened #47671 "Spanish translation work for booster/flu shot content on boosters page"
## Issue Description
We made updates about booster shots and flu vaccines to our COVID-19 boosters page on 9/23/22 and 10/17. We need to send this content to translators and update the Spanish page.

Updated word doc sent to translators: [https://app.zenhub.com/files/133843125/f47b3fdc-fd00-49fa-b927-4751728bedae/download](https://app.zenhub.com/files/133843125/f47b3fdc-fd00-49fa-b927-4751728bedae

[2022-09-28 16:54] RLHecht opened #47672 "Tagalog translation work for booster/flu shot content on main vaccines page"
## Issue Description
We made updates on booster content and flu vaccines to our main COVID-19 page. We need to send the text to translators and update the Tagalog page.

## Tasks
- [ ] Send content to translators (Randi)
- [ ] Update Tagalog page (Aliyah)
- [ ] Copyedit page
- [ ] Publish

## Acceptance Criteria
- [ ] Tagalog main page is live with updates

[2022-09-28 16:55] ajakabcin commented on #45453
Discussed next steps in grooming today:

1. @tmitchellgcio to discuss e2e testing with another FE dev to see best practice
2. @tmitchellgcio and PM's to discuss with @tpharrison feasibility of turning feature flag on for the BE piece of this fix so we can proceed with testing and fix

[2022-09-28 16:58] RLHecht opened #47673 "Tagalog translation work for booster/flu shot content on COVID-19 boosters page"
## Issue Description
We made updates to the booster and flu content on the booster vaccine page on 9/23/22 and 10/17. We need to update our Tagalog page with the same content.

Updated Word doc sent to translators:
[https://app.zenhub.com/files/133843125/df8e52d3-23e9-41a1-82a1-ef9bd97b20ce/download](https://app.zenhub.com/files/133843125/df8e52d3-23e9-41a1-82a1-ef9bd97b20ce/download)

## Tasks
-

[2022-09-28 16:58] katherine-fung commented on #47657
Hi @laurwill - I added the update about having to verify your enrollment in the Post-9/11 GI Bill to the page.

Preview: http://preview-prod.vfs.va.gov/preview?nodeId=14968

-Due the character limit, I put the "How to verify enrollment" info for the Post-9/11 GI Bill and the MGIB in the "Related links" section.

I tried to put this info in the body of the Q&A and take out the contact info from the

[2022-09-28 16:59] oseasmoran73 commented on #46302
Reached out to @data-doge via slack to provide information regarding AWS account. Should you run into any issues please feel free to submit request in #vfs-platform-support channel or reopen this ticket.

Closing!

[2022-09-28 17:00] laflannery commented on #26335
Resources and Support and Find a form search results have proper headings now. Closing issue

[2022-09-28 17:00] #26335 closed

[2022-09-28 17:01] #18399 closed

[2022-09-28 17:02] mmiddaugh commented on #46710
Knoxville is also ready for copy-editing @megzehn

[2022-09-28 17:07] #46496 closed

[2022-09-28 17:08] #43849 closed

[2022-09-28 17:11] jhouse-solvd commented on #47613
@rmtolmach - I think the audience is primarily platform operators, but also developers using this system that want to understand the underlying "magic". Does that help?

[2022-09-28 17:13] mleclerc00 commented on #47661
Hi @mrblanco1

Can you please resubmit an offboarding ticket for each individual per the instructions.  Closing this ticket

Thanks

[2022-09-28 17:13] #47661 closed

[2022-09-28 17:18] katherine-fung commented on #47657
Update: I took the approach of putting the "how to verify" info in the body - http://preview-prod.vfs.va.gov/preview?nodeId=14968

[2022-09-28 17:20] ScottyRJames opened #47674 "Add expandable alert for hurricane debt relief"
## Issue Description
DMC would like to add a pop up on the debt portal alerting Veterans that they are offering debt suspension for benefit debts for 90 days.

![image.png](https://images.zenhubusercontent.com/614a1fef81dbf0d12d8dd5ac/9e6546b9-1ac2-4867-adf7-7bac838a3414)

---
## Tasks
- [ ] Add expandable alert to summary page
- [ ] Add content shown in screenshot

## Acceptance Criteria
- [ ] We

[2022-09-28 17:20] CoryTrimmUSDS commented on #47611
Removed from DSVA Slack

[2022-09-28 17:20] jerekshoe commented on #47562
I was able to pull the claim referenced in the email from Kayla up
User email: vets.gov.user+127@gmail.com
Claim details URL: https://staging.va.gov/track-claims/your-claims/600323190/status

[2022-09-28 17:22] ScottyRJames opened #47676 "Add max character length for additional info field in FSR PDF"
## Issue Description
If content overflows in the additional info field of the FSR PDF it should be overflowed into a new page, not cut off with no way to view.

---
## Tasks
- [ ] Determine max character length
- [ ] Update PDF fill logic with legnth

## Acceptance Criteria
- [ ] Too long of additional info text responses will be available on a new page
---
## How to configure this issue
- [ ] **A

[2022-09-28 17:24] mrblanco1 opened #47677 "Offboarding of Anthony Buchanan"
# Instructions
Fill out name of individual and *Description* section below.

*(Please add only one individual per form)*

# Description
Please provide the following information about the individual being offboarded:
- name:

- team name:

- role on team:

- expected last day: _(MM/DD/YYYY)_

- company they work for:

- email: _(Multiple emails listed in order of relevance to VA business, VA, Compa

[2022-09-28 17:26] mrblanco1 opened #47678 "Offboarding of Nick Barthelemy"
# Instructions
Fill out name of individual and *Description* section below.

*(Please add only one individual per form)*

# Description
Please provide the following information about the individual being offboarded:
- name:

- team name:

- role on team:

- expected last day: _(MM/DD/YYYY)_

- company they work for:

- email: _(Multiple emails listed in order of relevance to VA business, VA, Compa

[2022-09-28 17:27] mrblanco1 opened #47679 "Offboarding of Patrick Arthur"
# Instructions
Fill out name of individual and *Description* section below.

*(Please add only one individual per form)*

# Description
Please provide the following information about the individual being offboarded:
- name:

- team name:

- role on team:

- expected last day: _(MM/DD/YYYY)_

- company they work for:

- email: _(Multiple emails listed in order of relevance to VA business, VA, Compa

[2022-09-28 17:27] #46820 closed

[2022-09-28 17:29] mrblanco1 opened #47680 "Offboarding of David Rowley"
# Instructions
Fill out name of individual and *Description* section below.

*(Please add only one individual per form)*

# Description
Please provide the following information about the individual being offboarded:
- name:

- team name:

- role on team:

- expected last day: _(MM/DD/YYYY)_

- company they work for:

- email: _(Multiple emails listed in order of relevance to VA business, VA, Compa

[2022-09-28 17:29] mrblanco1 opened #47681 "Offboarding of Adam Freemer"
# Instructions
Fill out name of individual and *Description* section below.

*(Please add only one individual per form)*

# Description
Please provide the following information about the individual being offboarded:
- name:

- team name:

- role on team:

- expected last day: _(MM/DD/YYYY)_

- company they work for:

- email: _(Multiple emails listed in order of relevance to VA business, VA, Compa

[2022-09-28 17:30] mrblanco1 opened #47682 "Offboarding of Dan Brooking"
# Instructions
Fill out name of individual and *Description* section below.

*(Please add only one individual per form)*

# Description
Please provide the following information about the individual being offboarded:
- name:

- team name:

- role on team:

- expected last day: _(MM/DD/YYYY)_

- company they work for:

- email: _(Multiple emails listed in order of relevance to VA business, VA, Compa

[2022-09-28 17:31] #47202 closed

[2022-09-28 17:33] #47033 closed

[2022-09-28 17:39] ajmauricio commented on #40963
Hello, I had to get a new laptop and need to update my vagov public key. Can someone please help? Here is the new key:

`ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMl2Q6uIKhNam0zTKMDjSN/rA3yaCcWqBg1vR446f42O amauricio89@gmail.com`

[2022-09-28 17:40] outerpress commented on #46529
Updated vaccine flow

[2022-09-28 17:40] #46529 closed

[2022-09-28 17:43] benbrasso-agile6 commented on #47626
Taking to talk to Danielle about

[2022-09-28 17:44] SKasimow commented on #47003
Addresses #47003

[2022-09-28 17:44] SKasimow commented on #46614
Closing - work being done in #47003

[2022-09-28 17:44] #46614 closed

[2022-09-28 17:52] RLHecht commented on #46884
@aliyahblackmore Here's the word doc back from the translators:

[https://app.zenhub.com/files/133843125/271c30fc-060f-43b0-90cd-5a090c695763/download](https://app.zenhub.com/files/133843125/271c30fc-060f-43b0-90cd-5a090c695763/download)

[2022-09-28 17:52] RLHecht commented on #46882
@aliyahblackmore Here's the content from the translators

[https://app.zenhub.com/files/133843125/e2f0d0c2-ad1e-4014-aa2a-6010aa18a94d/download](https://app.zenhub.com/files/133843125/e2f0d0c2-ad1e-4014-aa2a-6010aa18a94d/download)

[2022-09-28 17:53] RLHecht commented on #46881
@aliyahblackmore Here's the content from the translators: [https://app.zenhub.com/files/133843125/a0eaa6d5-ea4d-4104-8f91-1f8600a0156d/download](https://app.zenhub.com/files/133843125/a0eaa6d5-ea4d-4104-8f91-1f8600a0156d/download)

[2022-09-28 17:53] RLHecht commented on #46880
@aliyahblackmore Here's the content from the translators:
[https://app.zenhub.com/files/133843125/c704cb8b-8d61-4551-b515-54d6ccf1e8bd/download](https://app.zenhub.com/files/133843125/c704cb8b-8d61-4551-b515-54d6ccf1e8bd/download)

[2022-09-28 17:53] RLHecht commented on #46879
@aliyahblackmore Here's the content from the translators:
[https://app.zenhub.com/files/133843125/6b13ed8e-7038-4ebf-9654-a7a4d60ef3f2/download](https://app.zenhub.com/files/133843125/6b13ed8e-7038-4ebf-9654-a7a4d60ef3f2/download)

[2022-09-28 17:55] adamwhitlock1 commented on #46195
This is how the personal information additional info section shows the TTY. It is built as a hard coded anchor element instead of a `va-telephone` design system component.

![Screen Shot 2022-09-28 at 11 51 18 AM](https://user-images.githubusercontent.com/8332986/192854129-3ce1e36a-8e64-47a7-b3ad-d569b189d0c5.png)

[2022-09-28 17:56] jimuhh commented on #46611
Hi @thehastingsp That's great news. I knew you would do this right. 😀

[2022-09-28 18:02] andaleliz commented on #46731
Per our convo at the end of grooming, another alternative to this could be to explore an error summary pattern.  That would require design + dev work though, and engaging with the experimental design process.

[2022-09-28 18:02] #46983 closed

[2022-09-28 18:10] jaredcunha commented on #47457
@joshkimux In similar tickets, we've also added `role="status"` to the information box because its contents are not apparent if the user is tabbing through.

[2022-09-28 18:17] bethpottsVADEPO commented on #42952
@mnorthuis I'm going to update this ticket with slightly adjusted H1s for a couple of the pages since I realized this ticket isn't up to date. There are a lot of tickets out there having to do with rates. I think this one makes the most sense as far as where you'll put your IA recommendations that we talked through the other day for past and future rates.

[2022-09-28 18:23] ericasauv09 opened #47683 "[FE] My VA Audit UX Improvements: Education and Training Updates"
## Background
This ticket is to implement the FE development work based on the new designs for the Education and Training section of My VA.

[Frontend documentation](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/my-va/2022-audit/documentation/education-and-training-FE-documentation.md)

1. Create new section for "Education and training"

[2022-09-28 18:25] denisecoveyduc commented on #47346
During 9/28 Grooming session we discussed this has turned out to be more work than anticipated. @mgleo will break out additional work to continue into Sprint 84

[2022-09-28 18:29] denisecoveyduc commented on #46590
Text updates are happening as part of #47339

[2022-09-28 18:29] #46590 closed

[2022-09-28 18:30] jaredcunha commented on #47242
This component sort of acts like a hybrid of navigation on tabs.
![Screen Recording 2022-09-28 at 02 17 13 PM](https://user-images.githubusercontent.com/1094951/192858875-e13cfd13-7ed5-4868-bfff-2b4fab845999.gif)

Feels like something that might need some more work. I do think that removing the `tablist` and similar roles is the right approach.

However, we might want to explore some additional be

[2022-09-28 18:33] jaredcunha commented on #47460
@joshkimux updated your comment by adding a screenshot

[2022-09-28 18:37] benbrasso-agile6 commented on #46971
Closing, as there are separate tickets

[2022-09-28 18:45] kellysmith1008 commented on #47513
Hi @loripusey!
I can see this ticket but I can't seem to edit it or assign it to me. Any help you can provide is appreciated!

[2022-09-28 18:48] RLHecht commented on #43901
@laurwill Can you look at this updated word doc for the react widget? I added back in the ebenefits information for the 75% of users who won't see the new online tool.
[https://app.zenhub.com/files/133843125/e5d51500-610a-4ee6-8190-fab2140468e1/download](https://app.zenhub.com/files/133843125/e5d51500-610a-4ee6-8190-fab2140468e1/download)

[2022-09-28 18:49] RLHecht commented on #44612
This is live. Closing!

[2022-09-28 18:49] #44612 closed

[2022-09-28 18:51] Mottie commented on #42493
Unassigned Eileen, this is a frontend ticket.

[2022-09-28 18:52] Mottie commented on #42492
This ticket is for the design, #42493 is the frontend ticket.

[2022-09-28 18:58] laflannery commented on #16713
Confirmed that this Back to top button is using the design system component and behaves correctly.  Will close in 1 week unless told otherwise

[2022-09-28 18:58] benbrasso-agile6 commented on #47639
@loripusey using this ticket, for the moment, to represent progress across all the team's feedback. addressed some of the feedback via content. I sent this to danielle a moment ago. she'll either respond asynchronously or I'll catch her at office hours tomorrow. updated content and new suggestions are in here - https://docs.google.com/document/d/1tSuRWQ-dveIh5NwWVKSVY6ZC4bAL70exV0axJjfAVhM/edit#he

[2022-09-28 19:06] #47562 closed

[2022-09-28 19:06] markfallows commented on #42836
Related to logging when someone has a different email in the healthcare application than the email associated to their account.

[2022-09-28 19:08] markfallows commented on #47300
@nicko-amida and @jessicastump will update this with any additional details/steps needed.

[2022-09-28 19:08] cferris32 opened #47684 "Apply group label matching to Sum Of VAMF Partials V2 dashboard"
Some of our VAOS Alerts dashboards, eg. Sum Of VAMF Failures, implement group filtering to clean up commonly formatted endpoints. We'd like to replicate this grouping on the Sum Of VAMF Partials dashboard where applicable, in order to make those logs more readable. This will likely involve updates to the StringHelpers class in vets-api, similar to previous efforts.

AC:
[ ] - Sum of VAMF Partials

[2022-09-28 19:09] markfallows commented on #43204
Check with Heather to see where this gets prioritized.

[2022-09-28 19:11] markfallows commented on #41904
@nicko-amida to update with additional information as needed.

[2022-09-28 19:12] markfallows commented on #38633
Closing as no longer necessary.

[2022-09-28 19:12] #38633 closed

[2022-09-28 19:13] cferris32 opened #47685 "Regression test the VAOS specs in vets-api after Acheron integration"
Once we've integrated with Acheron, one of our first priorities should be running regression tests of all our vets-api code and bridge any gaps the service change may have introduced.

AC:
[ ] - run the VAOS test suite in vets-api, post Acheron integration
[ ] - resolve any test failures

[2022-09-28 19:13] cferris32 opened #47686 "Regression test the VAOS specs in vets-api after Acheron integration"
Once we've integrated with Acheron, one of our first priorities should be running regression tests of all our vets-api code and bridge any gaps the service change may have introduced.

AC:
[ ] - run the VAOS test suite in vets-api, post Acheron integration
[ ] - resolve any test failures

[2022-09-28 19:13] caw310 opened #47687 "Staging Review [Design System Team - Privacy Agreement web component]"
The Design System Team would like staging review for Privacy Agreement web component.

Privacy Agreement
design.va.gov:  https://design.va.gov/components/privacy-agreement
Storybook: https://design.va.gov/storybook/?path=/docs/components-va-privacy-agreement--default

[2022-09-28 19:14] cferris32 opened #47688 "Regression test the VAOS specs in vets-api after Acheron integration"
Once we've integrated with Acheron, one of our first priorities should be running regression tests of all our vets-api code and bridge any gaps the service change may have introduced.

AC:
[ ] - run the VAOS test suite in vets-api, post Acheron integration
[ ] - resolve any test failures

[2022-09-28 19:17] #46640 closed

[2022-09-28 19:17] RLHecht commented on #43901
Update: React widget code to add is: coe_access

[2022-09-28 19:19] jacobworrell commented on #47468
We're going to use the aria_describedby solution.

[2022-09-28 19:19] markfallows commented on #40499
Placing in Icebox until such a time that we can take this up or there's additional concerns/problems.

[2022-09-28 19:22] markfallows commented on #35807
@markfallows and @hdjustice to do some additional research into this to confirm the goals and what research needs to be done.

[2022-09-28 19:25] markfallows commented on #28464
Closing as unnecessary.  Will open again if needed in the future.

[2022-09-28 19:25] #28464 closed

[2022-09-28 19:26] jacobworrell commented on #47242
@jaredcunha agree with the approach, let's incorporate the first two bullets of the solutions approach but omit the third for now:

- Give the <ul> a navigation role, as wells as aria-label
- Transfer focus to the content. Hitting the tab key focuses on the next link instead of the tab content. See [Scott O'Hara's accessible tabs](https://scottaohara.github.io/a11y_tab_widget).

[2022-09-28 19:27] markfallows commented on #27791
@hdjustice and @markfallows to investigate and add any additional detail/information as needed.

[2022-09-28 19:30] jaredcunha commented on #47242
@joshkimux wanna take a look at this suggestion and let me know your thoughts?

[2022-09-28 19:30] markfallows commented on #27378
Lihan will need to investigate when we are ready to take up the work.

[2022-09-28 19:32] markfallows commented on #32824
- [ ] Is this field on the paper form?
- [ ] Are we asking this on the VA Profile?
- [ ] Is this in the Enrollment System?

[2022-09-28 19:34] markfallows commented on #34326
Closing ticket as unnecessary and/or completed.

Team did QA internally on the question.

[2022-09-28 19:34] #34326 closed

[2022-09-28 19:35] markfallows commented on #30728
Ticket is very out of date.

Is a reminder for us to submit a ticket to the Analytics team for the introduction of the SIGI question.

[2022-09-28 19:36] saderagsdale commented on #42492
Thanks for clarifying @Mottie

[2022-09-28 19:36] jacobworrell commented on #45653
We can't think of a good reason why we should be opening a new tab for these links.

In addition, we think we should update the "download the latest version" link text to be more specific about what they're downloading.

[2022-09-28 19:37] nikolasavic-tw opened #47689 "Offboarding of [individual]"
# Instructions
Fill out name of individual and *Description* section below.

*(Please add only one individual per form)*

# Description
Please provide the following information about the individual being offboarded:
- name:

- team name:

- role on team:

- expected last day: _(MM/DD/YYYY)_

- company they work for:

- email: _(Multiple emails listed in order of relevance to VA business, VA, Compa

[2022-09-28 19:39] markfallows commented on #43204
@markfallows and @hdjustice to do some research/investigation on this one to see if this is still currently an issue and/or whether it needs our attention.

[2022-09-28 19:48] jimuhh opened #47690 "Design Intent - IA Feedback - Benefits Team 2 - FSR- Enhancements"
## VFS acceptance criteria
- [ ] Let Platform know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
-

## Feedback
- Practice areas will document their feedback following the [Must, Should, and Consider Framework](https://depo-platform-documentation.scrollhelp.site/collaboration-c

[2022-09-28 19:50] acaruso-oddball opened #47691 "Protected Route Sign-In redirect update"
## Issue Description
When a unauthenticated(not signed in yet) user attempts to access a protected route they are redirected to the home page with SSOe sign in. This needs to be updated to redirect to SiS sign in page.

## Tasks
- [ ] Update the protected route to redirect to SiS component.

## Acceptance Criteria
- [ ] When an unauthenticated user attempts to access a protected route they are red

[2022-09-28 19:54] denisecoveyduc commented on #47391
Previous discovery can be found on issue #47069

[2022-09-28 19:55] saderagsdale commented on #47656
@shiragoodman Hey there! Yes, this is the work that was started by the former team. From what I could find in the handoff documentation, they had completed the midpoint review and were next up for QA and analytics reviews. Is that accurate?

[2022-09-28 19:56] #47385 closed

[2022-09-28 19:57] joshkimux commented on #47242
@jaredcunha brilliant, I love it! Some minor thoughts here:
- we can use `aria-labelledby` if we want to point to the `h2` on the page so it reads out as "Compensation claim navigation" and won't require manual updating if the name ever becomes more specific 😄
- I do still think we should keep the bit on avoiding tab styles so these feel more like links (and less like buttons or tabs) in case
  -

[2022-09-28 20:02] MarciMcGuire commented on #47408
@rbsingleton ByLight team has largely taken ownership of this, right?  Should I leave this open for support?

[2022-09-28 20:09] shiragoodman commented on #47656
@saderagsdale yes, it looks like all they completed was the 2 I linked above. Are you picking up right where they left off or are you making changes to their design?

[2022-09-28 20:12] megzehn commented on #46316
Thanks @laurwill! Confirming that this is now published.

CC @RLHecht

[2022-09-28 20:20] joeniquette commented on #47548
completed, tested with user vets250

[2022-09-28 20:20] #47548 closed

[2022-09-28 20:22] joeniquette commented on #47077
complete

[2022-09-28 20:22] #47077 closed

[2022-09-28 20:39] VAlusevier opened #47692 "Adding [individual] to DSVA Slack"
# Description

The following guest user lu.sevier@va.gov should be switched from single-channel to multi-channel guest and then added to vfs-platform-support

Thank you!

[2022-09-28 20:44] #46584 closed

[2022-09-28 20:49] #45278 closed

[2022-09-28 21:01] #47455 closed

[2022-09-28 21:04] joeniquette commented on #45618
I am deferring to self startup by the teams, if they show they need a weekly status call OR if BGS becomes a problem again for latency then I will put this back on the priority queue. Closing for now.

[2022-09-28 21:04] #45618 closed

[2022-09-28 21:06] rbsingleton commented on #47408
@MarciMcGuire - I'm going to be supporting Anne in navigating review from VA research ops - like submitting the plan/ convo guide, adhering to SOPs, etc. So let's leave it open for the moment.

[2022-09-28 21:14] #46629 closed

[2022-09-28 21:17] rmtolmach commented on #47613
Clarified that "platform operators" is whoever would be maintaining or debugging this workflow. What was previously known as the individuals on the "Operations" or "Infrastructure" teams.

Link to documentation: https://vfs.atlassian.net/wiki/spaces/OT/pages/2388885509/Details+on+app+onboarding+WIP

[2022-09-28 21:19] SKasimow commented on #47473
@adamwhitlock1 @jcatergovy I updated the tasks and AC; let me know if this works.

[2022-09-28 21:26] #45279 closed

[2022-09-28 21:28] ajmagdub commented on #47419
extending the timeout did not seem to make any difference

[2022-09-28 21:28] #47419 closed

[2022-09-28 21:28] MarciMcGuire commented on #47617
@jonathanjnelson we have another "support ByLight team" secure messaging issue. This one is pretty old; should we close it and add the points you estimated on this to that one?

[2022-09-28 21:30] ajmagdub commented on #47455
Increased default timeout from 15 seconds to 55 seconds. Removed all timeout overrides, since they were equal to or less than the new default timeout of 55 seconds.

[2022-09-28 21:30] #46292 closed

[2022-09-28 21:32] saderagsdale commented on #47656
@shiragoodman Picking up where they left off. No big design changes.

[2022-09-28 21:55] data-doge opened #47693 "Certificate of Eligibility | Document display and download on COE status page"
## Issue Description

In conversation, Robin raised a number of points regarding how we display documents, and download documents, on the [COE status page](https://staging.va.gov/housing-assistance/home-loans/check-coe-status/your-coe). I will enumerate these points below. Because these points are closely related to each other, and because some of these points may not generate any follow-up action

[2022-09-28 22:24] mnorthuis commented on #42952
I updated the URLs and left nav labels [in my comment above](https://github.com/department-of-veterans-affairs/va.gov-team/issues/42952#issuecomment-1156924652), as well as the left nav order.
- Beth solidifed the H1s above
- The URLs use whatever name the H1 leads with - for most that is the common name (i.e. Post-9/11 GI Bill), but for DEA it's the chapter number.
- The left nav labels for the c

[2022-09-28 22:31] SKasimow commented on #46731
Thanks @andaleliz

[2022-09-28 22:40] brianseek commented on #46116
Update for 500 error is merged. @loripusey this should be good to review on stage.

[2022-09-28 22:58] SKasimow commented on #47266
Hi @cgednalske - I updated this ticket to reflect Design/Discovery work and kept it focused on looking at alternatives for Nametag placement and aligning team.  Let me know if that sounds good or if there is anything else you'd like to add/change. Thanks!

[2022-09-28 23:16] allison0034 commented on #47687
This has been scheduled for October 4 at 11:30am EST

[2022-09-28 23:36] starlow00 commented on #44330
No changes from VEO. Approved copy v5.2 attached here.
[VA_gov_Profile_v5.2_09232022.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/9669457/VA_gov_Profile_v5.2_09232022.docx)

[2022-09-29 00:47] bkjohnson commented on #32758
In https://github.com/department-of-veterans-affairs/component-library/pull/540 I explored a few different options for using USWDS SVG icons inside one of our web components and I was able to get them to work using the "USWDS way" using an inline `<svg>` and a sprite sheet. This seems like the best path forward.

[2022-09-29 00:58] bkjohnson commented on #32758
If we wanted to modify the spritesheet either to remove some USWDS icons or add our own, that seems possible as well. The [USWDS icon documentation](https://designsystem.digital.gov/components/icon/#using-the-icon-component) has a section that reads:

And that `uswds-compile` tool [has instructions on rebuilding the spritesheet](https://github.com/uswds/uswds-compile/#updating-the-uswds-icon-sprit

[2022-09-29 04:55] jenniemc commented on #47327
@simiadebowale, @ldelacosta, @JRRoof A previous ticket [#28269 ](https://github.com/department-of-veterans-affairs/va.gov-team/issues/28269) has already addressed removing past clinic check for Primary Care and Mental Health in v0. Closing this ticket.

[2022-09-29 04:55] #47327 closed

[2022-09-29 05:57] bethpottsVADEPO commented on #42952
@mnorthuis I updated your comment above as well to start the convo about **past rates** H1s/urls.

[2022-09-29 07:09] rmessina1010 commented on #47349
completed

[2022-09-29 12:43] loripusey commented on #47513
@kellysmith1008 We are waiting on @batemapf to request edit access for you, after which you will be able to edit this ticket.

[2022-09-29 12:51] td-usds commented on #47374
Did data call to PO and PM

[2022-09-29 12:56] loripusey commented on #46116
validated on staging, looks good!

[2022-09-29 13:00] saderagsdale commented on #37919
@data-doge Answer from John: Best case is to use ICN instead of File_Number or SSN as an identifier.

[2022-09-29 13:07] laurwill commented on #46316
Thank you! I let the stakeholder know. @RLHecht we can close this one out!

[2022-09-29 13:14] td-usds commented on #47401
Reached out to VOR

[2022-09-29 13:14] td-usds commented on #47235
Reached out to VOR

[2022-09-29 13:14] td-usds commented on #46853
Reached out to VOR

[2022-09-29 13:14] td-usds commented on #47557
Reached out to VOR

[2022-09-29 13:15] RLHecht commented on #46316
Thanks all! Closing

[2022-09-29 13:15] #46316 closed

[2022-09-29 13:16] elizabethkochBT opened #47695 "Broken Link"
### Description
On Welcome page (https://depo-platform-documentation.scrollhelp.site/getting-started/welcome)
Under Analytics and insights the link is broken for
"Here's how to set KPIs to track the success of your VA.gov solutions"
(https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/analytics/kpi-protocol.md)
I'm guessing it should be https://github.com/department-

[2022-09-29 13:21] saderagsdale commented on #43646
@Mottie this is a dupe of #42492, right? We can delete this?

[2022-09-29 13:26] kristenmcconnell commented on #46651
Numbers this morning:
Check-in: 27 participants
Pre-check-in: 34 participants

I messaged Perigean and told them that the pre-check-in study can be closed. I was shooting for 30-35 participants. One study down; one to go.

[2022-09-29 13:38] jessicastump commented on #47300
## Background
In support of the initiative to improve the household information section ([epic #41403](https://github.com/department-of-veterans-affairs/va.gov-team/issues/41403)) a research roadmap (this ticket) will be created to help prepare all materials ensuring the research plan and methods help support the objective and key results.

## Research Goals:
Understand and measure the usability i

[2022-09-29 13:38] GcioNapoleon commented on #47235
Please let me know if you need me to do anything

[2022-09-29 13:43] laflannery commented on #369
Closing this in favor of more recent Facility locator recommendations [#31718](https://github.com/department-of-veterans-affairs/va.gov-team/issues/31718) and https://github.com/department-of-veterans-affairs/va.gov-team/issues/31714

[2022-09-29 13:43] #369 closed

[2022-09-29 13:45] GcioNapoleon commented on #47235
Please approve my staging access and we can cancel the prod access.

[2022-09-29 13:50] k80bowman commented on #32758
Do you feel like rebuilding the spritesheet is worth exploring? Or should we move forward with the inline `<svg>`?

[2022-09-29 13:50] laflannery commented on #30918
I reviewed multiple Vet Center pages and this looks resolved.  I will close this in 1 week unless told otherwise.

[2022-09-29 13:54] #43133 closed

[2022-09-29 13:54] shiragoodman commented on #47656
sounds good @saderagsdale ! Please remember to post in #vfs-platform-support when you're ready to schedule. Thanks!

[2022-09-29 13:58] michelle-dooley commented on #47682
No Domo or GA

[2022-09-29 13:58] bevnobev opened #47696 "Request access to Google Analytics and/or Domo"
# Request Google Analytics and/or Domo access

## What this form is for
Use this template to request access to Google Analytics and/or Domo. Please complete steps 1 & 2 below.

## 1. Access Requirements
Please check the analytics tool(s) you need access to:
- [ ] Google Analytics
- [x ] Domo
- [ ] (Platform Teams only) BigQuery

## 2. User Email Address to Receive Access
**Due to privacy concerns,

[2022-09-29 13:59] michelle-dooley commented on #47681
No Domo or GA

[2022-09-29 14:01] michelle-dooley commented on #47680
No Domo or GA

[2022-09-29 14:03] michelle-dooley commented on #47679
No Domo or GA

[2022-09-29 14:04] michelle-dooley commented on #47678
No Domo or GA

[2022-09-29 14:04] leahbannon2 commented on #45437
There are 2 issues we need to resolve on this:

1. The "Operations" folder is not a good name for our folder. We should name and organize docs based on how they will be used and searched for, not the team creating them. Based on several conversations I've had with different folks in OCTO, I think our best approach might be renaming the "Operations" folder to be the "OCTO" folder. Then, clarifying

[2022-09-29 14:05] michelle-dooley commented on #47677
No Domo or GA

[2022-09-29 14:07] Mottie commented on #43646
Oh yeah, this is a duplicate.

[2022-09-29 14:07] #43646 closed

[2022-09-29 14:12] shiragoodman commented on #47653
@waltherraymondVA you're not a member of the VA Organization on Github and this is a prerequisite to being added to the vets.gov-write team for repo access. Please refer to this [guidance on Platform Website. ](https://depo-platform-documentation.scrollhelp.site/getting-started/request-access-to-tools#Requestaccesstotools-GettingaccesstotheVAGitHuborganization)

[2022-09-29 14:14] shiragoodman commented on #47652
All Platform tasks complete.

[2022-09-29 14:27] michelle-dooley opened #47697 "GA4: New Report Development & Training"
## Issue Description
GA4 reports and reporting functionality are different than current UA reporting.  We will need to work with VFS teams to develop new GA4 reports that provide the detailed information they need and are getting from current UA reports.  As part of the development work we will provide training resources to the VFS teams.

---
## Tasks
By VFS team:
- [ ] Audit current GA reports a

[2022-09-29 14:31] laflannery commented on #22159
This is resolved.  Will close in 1 week unless told otherwise

[2022-09-29 14:32] michelle-dooley opened #47698 "GA4: BQ Data Discovery"
### Description
GA4 data will need to be brought in BQ same as UA data is today.  We need to understand how to do that, the differences between the 2 datasets and how to manage to that (what are the downstream implications, if any at alll?)

**Resources:**
- [[UA→GA4] Events in Google Analytics 4 vs Universal Analytics](https://support.google.com/analytics/answer/11091422?hl=en&ref_topic=12154439,

[2022-09-29 14:33] michelle-dooley opened #47699 "GA4: Perform audit of fields and Beastmode calculations in Standardized Domo KPI Dashboards"
### Description
As part of the GA4 migration we will need to assess the impact to our standardized Domo KPI dashboards, and which cards, or calculations we'll need to update and/or rework to reflect the differences in the GA4 data model.

**Artifact:** [DOMO Inventory Spreadsheet ](https://docs.google.com/spreadsheets/d/1_sFDhS53qmUFg0qePiXDcKn67stzR9yt-ZTkGgrIcO0/edit#gid=0)

To _**maximize impac

[2022-09-29 14:34] shiragoodman commented on #47667
All Platform tasks complete.

[2022-09-29 14:36] shiragoodman commented on #47663
All Platform tasks complete.

[2022-09-29 14:37] shiragoodman commented on #47526
All Platform tasks complete.

[2022-09-29 14:38] rsmithadhoc commented on #29721
- https://vfs.atlassian.net/wiki/spaces/TTT/pages/2346025005/Daily+Accessibility+Scan+Improvement+Brainstorming contains the brainstorming information. Since teams are being restructured, I am going to unassign this for now.

[2022-09-29 14:39] pjhill commented on #47482
Hooray, nice job! Documentation fits in nicely [here ](https://depo-platform-documentation.scrollhelp.site/developer-docs/load-tests)and looks good.

[2022-09-29 14:39] #47482 closed

[2022-09-29 14:41] shiragoodman commented on #47635
@bushnicoleVA as stated on your other [ticket you closed](https://github.com/department-of-veterans-affairs/va.gov-team/issues/46948), you're not a member of the VA github Organization, which is a prerequisite to vets.gov-write. Please refer to this [guidance on Platform Website. ](https://depo-platform-documentation.scrollhelp.site/getting-started/request-access-to-tools#Requestaccesstotools-Gett

[2022-09-29 14:41] pjhill commented on #47101
Several comments and questions in the RFC need to be addressed.

[2022-09-29 14:46] #21640 closed

[2022-09-29 14:48] loripusey commented on #47513
Thanks @shiragoodman !

[2022-09-29 14:50] laurwill commented on #43901
Thanks @RLHecht ! Content for react widget looks good — thanks for adding that back in.

[2022-09-29 14:56] joshkimux commented on #47457
@jaredcunha that's a great idea! If we go for the bandaid solution of `role="status"` and `aria-describedby`, we can bump this down to a `508-defect-4`  😄

[2022-09-29 14:57] laflannery commented on #20864
If I'm looking in the correct place, I believe the visitation policy was updated and this is no longer relevant.  Will close in 1 week unless told otherwise

[2022-09-29 14:57] laineymajor opened #47700 "Migration: Vets-API Server to Sandbox"

[2022-09-29 14:57] #27615 closed

[2022-09-29 14:57] bushnicoleVA commented on #47635
@shiragoodman just got a notification that I am now a member of the VA organization

[2022-09-29 15:01] laineymajor opened #47702 "Migration: Vets-API Server to Sandbox"
## Problem Statement
*In a couple of sentences, describe the Who, What, Why, and Where of the challenge / pain point you seek to address.*

*Follow your problem description up with a "How might we... _______" statement re-framing that challenge as an opportunity. Don't hint too much at what the solution might be, you should have enough of a focal point here to guide your ideas, but plenty of freed

[2022-09-29 15:01] ryanshaw commented on #45541
Frontend findings:

- Concur about whether or not there should be effort placed on this in V0 with V2 coming soon, although that impact is probably more on the backend.
- If `vets-api` can return all cancelled appointments within a timeframe, there would be minimal effort to display them in the past appointments list. However, as mentioned there isn't a way to determine what the appointment's prev

[2022-09-29 15:07] laurwill commented on #43901
Spoke too soon! We just realized that this we can shorten the amount of content in the widget and keep more of it in Drupal.

Here's the updated content:
[COE react widget content_updated 9.29.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/9675819/COE.react.widget.content_updated.9.29.docx)

[2022-09-29 15:07] SKasimow commented on #44330
@starlow00 Thanks Steve! Did you make any formatting changes or edits? If so, I want to use your version as "final" and work from this one in future so you don't have to re-edit anything :)

[2022-09-29 15:15] loripusey commented on #41064
@kristenmcconnell did we ever get any information for this ticket?

[2022-09-29 15:16] saderagsdale commented on #47420
@Mottie Does this dropdown provide Veterans with a dropdown list to select from? or show them facilities based on their history of visits?

[2022-09-29 15:16] ajmauricio commented on #40963
@calquisola can you please take another look at this?

[2022-09-29 15:19] ericasauv09 opened #47703 "[PM] Payment Info V2: Prepare for and complete Privacy Review"
## Background
Need to prep for and complete privacy and security review

## Tasks
- [x] Gather artifacts
- [x] Submit [request](https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/issues/new?assignees=td-usds%2C+troymosher&labels=security-review&template=privacy-and-security-review.md&title=Readiness+Review+%5BTeam-Name%2C+Feature-Name%5D)
- [x] Create tasks as needed to addres

[2022-09-29 15:20] loripusey opened #47704 "[FE] Add New Page Shell based on Platform Feedback"
## Wireframes
TBD

## Tasks
- [ ] [FE] Add page shell
- [ ] Create or update unit tests
- [ ] Create or update e2e tests
- [ ] Update relevant documentations (readme and use cases)

## Acceptance Criteria
- [ ] Passes Accessibility checks using axe
- [ ] Deployed to staging.
- [ ] Tested on staging
- [ ] Designer has signed off on the feature
- [ ] Product team has signed off on the  feature
- [ ]

[2022-09-29 15:22] loripusey opened #47705 "[FE] Update Content for All Travel Pages based on Platform Feedback"
## Wireframes
[Wireframes](https://app.abstract.com/projects/ab30c34e-e2f9-4d3e-bb96-3b683b006c24/branches/ecc65d23-3ae2-47cb-9a52-8ab4fa9dab29/commits/eab82af147bca0e28ee00e3734ee9290f1b77efb/files/585436fe-2120-45f4-b4f7-fbae01d258d9/layers/9B61B462-73BA-45CF-ABA4-215FD07B6D5A?collectionId=90b54a54-d2ee-4fae-ad07-73114aa02714&collectionLayerId=6311c53e-ab0c-484a-9e09-8ddcd43532a1&mode=design)

#

[2022-09-29 15:22] longmd opened #47706 "[FE] | 10-10EZ | Add GA event tag to track short form usage"
## Description
Our VFS product owners and stakeholders would like to track how many Veterans are entering the short form flow of the application. This will allow them to compare that volume to how many of those went on to complete and submit the application. With two possible methods for entering the short form flow, event tags will be needed at both entry points to track when the Veteran enters t

[2022-09-29 15:29] kristenmcconnell commented on #41064
I don't believe that we did. @DanielleThierryUSDSVA Did you ever talk to the State Dept about this? If not, @loripusey could we add this to our questions with some of the things that we found during the Spanish study?

[2022-09-29 15:30] nicko-amida opened #47707 "[DESIGN] 1010EZ Introduction page variations"
## Description

The introduction page of the 1010EZ looks different depending on the status of the user: whether they are authenticated, not authenticated, or verified. We need mockups to match these states.

## Tasks

**Authenticated pages**

- [x] Authenticated user that has already applied for healthcare
- [x] Authenticated user that has not been verified
- [x] Authenticated user with in progre

[2022-09-29 15:32] ajakabcin opened #47708 "[Research] My VA Audit UX Improvements: Submit for research review/begin recruitment"
## Background
We need to submit all research artifacts for my va audit UX improvements research/usability testing.

Pre-requisites:
- [x] Dev needs to be complete
- [x] Research plan/documentation needs to be complete

## Tasks
- [x] Submit materials to research repo
- [x] Message research ops in slack to let them know you've submitted the materials
- [x] Perform any followup tasks that research t

[2022-09-29 15:43] brianseek commented on #46889
Moving to closed since this is dev setup only.

[2022-09-29 15:43] #46889 closed

[2022-09-29 15:43] #46116 closed

[2022-09-29 16:11] benbrasso-agile6 commented on #47567
@zach-park @kristenmcconnell you guys will want to respond to this ticket when ready, thanks

[2022-09-29 16:13] joeniquette opened #47709 "Remove DSLogon status checker"
The tool made by Boris needs to be removed and eventually replaced with a new one.

Current link: https://dslogon.statuspage.io/
This conversation seems to point out the current gaps: https://dsva.slack.com/archives/C01G476SCEN/p1660969562339379

- One of the points made by Boris is that the [backend_status](https://api.va.gov/v0/backend_statuses) for DSLogon isn't correct, and hasnt been since Ma

[2022-09-29 16:14] AGarcia-Clarity opened #47710 "Re-Authenticate error (Login.gov) in Sign in Service"
## Description
When a user logs out with a Login.gov account, the user is redirected to Login.gov to clean up cookies.  On the return back to VA.gov a `state=<hash>` query parameter is appended to the finished request. When a user tries to re-authenticate a TypeError is thrown and the user is prevented from re-authenticating.

## Tasks
- [ ] Modify the `saveStateAndVerifier` function to not return

[2022-09-29 16:15] laucon opened #47711 "Broken Link #47695"
Fix this issue we got on Github: https://github.com/department-of-veterans-affairs/va.gov-team/issues/47695

[2022-09-29 16:15] #47704 closed

[2022-09-29 16:19] laucon commented on #47695
Hi Elizabeth. Thanks so much for pointing this out. I fixed the link. I will deploy at 4pm today and then the link should be fixed on the platform website.

[2022-09-29 16:20] brianseek commented on #47130
@loripusey this is out on prod. @randomsync and I validated it with a missing UUID on prod. Is this good to close or should it stay open for product guides & etc?

[2022-09-29 16:27] laucon opened #47713 "Broken link on Sentry page #47630"

[2022-09-29 16:28] laucon opened #47714 "Broken link on Sentry page #47630"
Fix this issue we got on [Github: #47695](https://github.com/department-of-veterans-affairs/va.gov-team/issues/47630)

[2022-09-29 16:28] jhouse-solvd commented on #41251
This is looking good. Closing.

[2022-09-29 16:28] #41251 closed

[2022-09-29 16:36] saderagsdale commented on #37919
@data-doge to confirm if overflow attachment work is already done.

[2022-09-29 16:37] jhouse-solvd commented on #47508
I nested those docs [here](https://vfs.atlassian.net/wiki/spaces/OT/pages/2390622213/Details+for+certain+SSL+Certificates)

@jbritt1 - Would love for you to review the docs that Oseas created and close this out if it looks good.

[2022-09-29 16:38] markkvba commented on #37944
This is issue will be worked by the new @department-of-veterans-affairs/govcio-vfep  to resolve the need for AWS production console.  But we required AWS console PROD access until this is closed.

[2022-09-29 16:39] RLHecht commented on #42952
@mnorthuis I'm setting up the redirect ticket and have a question about the Post-9/11 and Fry rates pages. Would [the legacy page](https://www.benefits.va.gov/GIBILL/resources/benefits_resources/rates/ch33/ch33rates080122.asp) that lists both types of rates redirect to our Post-9/11 page and nothing will redirect to the new Fry page?

[2022-09-29 16:41] #38842 closed

[2022-09-29 16:42] katherine-fung commented on #47658
Hi @laurwill, here's the preview link for this R&S article:

http://preview-prod.vfs.va.gov/preview?nodeId=49817

[2022-09-29 16:42] markkvba commented on #46853
We'll be working this issue created by prior team to along to eliminiate the need for PROD access: [Here's the prior teams issue ](https://github.com/department-of-veterans-affairs/va.gov-team/issues/37944)

[2022-09-29 16:44] markkvba commented on #47401
We'll be working this issue created by prior team to along to eliminate the need for PROD access: https://github.com/department-of-veterans-affairs/va.gov-team/issues/37944

[2022-09-29 16:47] loripusey commented on #47130
Thanks, release notes have been sent. All that's left is pushing final wireframes & product guide updates per this [ticket ](https://app.zenhub.com/workspaces/check-in-experience-61fc23a2cb8a14001132e102/issues/department-of-veterans-affairs/va.gov-team/47126) and this [ticket](https://app.zenhub.com/workspaces/check-in-experience-61fc23a2cb8a14001132e102/issues/department-of-veterans-affairs/va.g

[2022-09-29 16:48] RLHecht opened #47715 "Redirect Request: Education rates pages"
### Instructions
- Requests must be submitted **AT LEAST** 2 weeks in advance.  Some requests take a significant amount of time and coordination to implement, so start the process as soon as you know you will need one.
- This issue will be used from initial request through implementation to ensure all individuals working on this are notified of status updates.  Please do not create multiple issues

[2022-09-29 16:50] loripusey opened #47716 "[Design] Submit our Navigation Pattern to the Experimental Design System"
## Description
We need to submit our navigation pattern to the experimental design system. Our back button and how we display buttons is different. Our pattern was based off of the COVID screener.

## Tasks
- Prepare documentation
- Submit to Design System

[2022-09-29 16:50] RLHecht commented on #47715
@jilladams FYSA we haven't gotten final sign-off to publish all these new rates pages yet, so I don't have a definite date for when the redirects need to happen. The earliest we are looking at is the later part of next week (10/3-10/7).

[2022-09-29 16:52] loripusey opened #47717 "[Design] Collaborate with the Design System Team to Get Them to Update their Documentation for Cards"
## Description
The design system team needs to update their documentation for cards. During our midpoint review, they pointed out that the button within our cards needs to be left-aligned. However, a button outside of a card when at a mobile screen size is centered and expands across the page. We were originally following the base button behavior. They need to specify that the button behavior is d

[2022-09-29 16:56] jilladams commented on #47715
Thanks Randi. @davidconlon FYI this will be an injection but we have front-end capacity, so shouldn't be a problem.

[2022-09-29 16:57] bramleyjl commented on #35464
Given that the original use case for a more advanced Slack client - [complex slack notifications for SAML metadata changes](https://github.com/department-of-veterans-affairs/vets-api/pull/8305), is no longer needed, the work to replace the several different working Slack integrations in vets-api is more work than it is worth.

I submitted [a small PR](https://github.com/department-of-veterans-affa

[2022-09-29 16:57] #47664 closed

[2022-09-29 17:02] jbritt1 commented on #47508
Updated https://vfs.atlassian.net/wiki/spaces/OT/pages/2384265224/Renew+SSL+Certificate+for+vagov-mobile-app-api-server- last know PR link to one that included the additional setting in the vets-api configs https://github.com/department-of-veterans-affairs/devops/pull/12006

[2022-09-29 17:06] michelle-dooley commented on #47398
@chloedotbrown - looks great!!  Only found a couple small things...
<html>
<body>
<google-sheets-html-origin><style type="text/css"></style>

Test | Expected Behavior | Actual Behavior | Pass/Fail
-- | -- | -- | --
Dashboard title | Text fully readable, without errors |   | 🟢 PASS
Date filter | Every chart gets filtered for date and group by settings are changed |   | 🟢 PASS
Section titles | Every

[2022-09-29 17:09] #44504 closed

[2022-09-29 17:10] jbritt1 commented on #47508
Reviewed the docs mentioned with one slight tweak. Rest looks great to me! I imagine we will start wanting to create more of these to track the ever-growing nuance(s) of some of these SSL certs. That may need to be its whole own epic though because we manage a ton of them... so for the scope of this particular issue I would consider it good to close.

[2022-09-29 17:11] CherylEvans commented on #46816
@it-harrison Hi Ian.  I have created a [draft page](https://vfs.atlassian.net/wiki/spaces/PPST/pages/2388262920/46816+-+Cheryl+Draft+Copy+of+Staging+Environment+Guidance+for+VFS+teams) for the first assigned task above.  I have linked the page from the 2nd assigned task, into my new draft document.  I won't be able to complete the other tasks until you approve my draft page, and it is published in

[2022-09-29 17:13] oseasmoran73 commented on #47508
A thought came to mind. @jhouse-solvd @ph-One is the expectation with the new re-org that the technical team will be in charge of updating certs?

[2022-09-29 17:13] michelle-dooley commented on #47696
Access granted.

[2022-09-29 17:13] #47696 closed

[2022-09-29 17:13] loripusey commented on #41064
@kristenmcconnell @ytsaoca Do we have a consolidated list of things from the Spanish study that we need to bring to the translators attention?

[2022-09-29 17:18] saderagsdale commented on #47420
Hold off until we get some light research cc @thehastingsp

[2022-09-29 17:24] ajakabcin commented on #47524
Closing this - no longer needed. All health care section updates can be tracked in #47523

[2022-09-29 17:24] #47524 closed

[2022-09-29 17:25] ajakabcin commented on #42408
Closing - no longer needed. Logic to always show all sections for LOA3 users is incorporated into individual section update tickets.

[2022-09-29 17:25] #42408 closed

[2022-09-29 17:30] steel36 opened #47718 "Request access to Google Analytics and/or Domo"
# Request Google Analytics and/or Domo access

## What this form is for
Use this template to request access to Google Analytics and/or Domo. Please complete steps 1 & 2 below.

## 1. Access Requirements
Please check the analytics tool(s) you need access to:
- [x ] Google Analytics
- [x ] Domo
- [x ] (Platform Teams only) BigQuery

## 2. User Email Address to Receive Access
**Due to privacy concern

[2022-09-29 17:32] chloedotbrown commented on #47398
@michelle-dooley corrected the hover text for "CTR to Debt Balances" and changed interaction settings for "VA.gov traffic to the Combined Debt Portal page." Let me know if there are any other changes that should be made!

[2022-09-29 17:39] RLHecht commented on #43901
@Mottie Here's the new content for the widget:
[COE.react.widget.content_updated.9.29.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/9677796/COE.react.widget.content_updated.9.29.docx)

Let us know when it's ready and we'll add it to the page. Thank you!

[2022-09-29 17:46] shiragoodman commented on #47635
All Platform tasks complete.

[2022-09-29 17:53] jhouse-solvd opened #47719 "[jesse-test-app] Application onboarding infrastructure request"
## Summary
The purpose of this template is to capture requirements for onboarding a software application to the Platform's delivery infrastructure.

### Overview
- The Platform leverages container orchestration to host and deploy software applications
- Container orchestration automates the deployment, scaling, and management of containerized applications
- To learn more, see ["Application Hosting

[2022-09-29 17:53] laurwill commented on #47657
Thanks @katherine-fung ! I agree that we want the verify enrollment links in the body, since those are key next steps. I did some editing to try to fit that and the contact info into the character count — see what you think of these updates. I went back and forth between bolding the "take these steps" intro vs. bolding the beginning of each bullet. I think this is more helpful, but let me know if

[2022-09-29 17:55] #47362 closed

[2022-09-29 17:55] shiragoodman commented on #46983
- For the sake of closing out the ticket, I am going to leave it as a histogram for now, but I think I'll look into setting it up as a bar graph with clearly defined buckets. I love your percentage recommendation below!

 - Agreed. The reason I changed it back was bc I couldn't figure out how to add a note stating that this excluded tickets older than 365 days. I think if we pivot toward the bar g

[2022-09-29 17:56] shiragoodman opened #47720 "Update "days to close" histogram to bar graph in CC Dashboard"
## User Story
_"As a (persona), I (want to), (so that)."_

Assignee:
Peer Reviewer:

## Description
_What details are necessary for understanding the specific work or request tracked by this issue?_

## Impacted Artifacts

## Tasks
- [ ] _Placeholder task_

## Peer Review
- [ ] Ticket reassigned to peer reviewer when ready for peer review
- [ ] Peer Reviewer: Completes review and validates user st

[2022-09-29 17:57] kristenmcconnell commented on #41064
@ytsaoca That will be in the PDF that we discussed, correct?

[2022-09-29 18:11] SKasimow opened #47721 "FE | Profile | Accessibility | Focus Area"
## Background

We received feedback from a11y team that when editing in Profile the in-line error message doesn't focus on the update button.

Recommendation is to include descriptive error messages for screen readers and other users to help them determine what needs to be corrected.

## Tasks
- [ ]

## Acceptance Criteria
- [ ]

## Validation
- Who can validate this ticket? (FE, BE, Design, PM)?

[2022-09-29 18:14] ericasauv09 opened #47722 "[FE] Payment Info V2: (Bug) Copays card not Matching Debt Portal data"
## Background
When logging into Staging with user 36 we see that the user has 3 copays totaling $324.22. However, when clicking on "Manage your VA Bills" and taken to the copay debt portal the user only has 2 copays listed totaling $106.42. We need to investigate and determine if this is an issue with our implementation and why there is a mismatch in the data.

User 36 Copay Card:
<img width="905"

[2022-09-29 18:22] adamwhitlock1 commented on #46324
Docs are available at

https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/blob/master/products/identity-personalization/profile/notification_settings/frontend_documentation.md

and are also linked in the [product outline](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/profile/README.md)

[2022-09-29 18:28] ianMcCullough-ob opened #47723 "Content Review Request from Contact Center"
## What does your team need support for? Check all that apply.
- [X] Launching one or more new unauthenticated (static) VA.gov pages
- [ ] Making revisions to one or more existing unauthenticated (static) VA.gov page
- [X] Launching a new online form, app, or tool on VA.gov
- [ ] Making revisions to an existing online form, app, or tool on VA.gov
- [ ] Something else (please add details in the nex

[2022-09-29 18:29] #47635 closed

[2022-09-29 18:37] jhouse-solvd commented on #41250
This is the golden path for new developers:

- Fill out an "Application Onboarding Requirements Checklist"
  - Set up the app repo and container
  - Set up app delivery pipeline
  - Set up app secrets and parameters
- Fill out an "Application Onboarding Form"
- Build Helm chart
- Automation to update the Kubernetes manifest
- Fill out an "Application Promotion Form"

---
The step to add "Automatio

[2022-09-29 18:39] kanchanasuriya commented on #47030
Following up to see if any updates on getting access.  Pls, keep us posted.

[2022-09-29 18:41] jhouse-solvd opened #47724 "[Application Hosting and Deployment] Update application onboarding checklist"
## Description
The application onboarding checklist should be updated to reflect the new process. There are various steps that are no longer needed, and there is new documentation to better guide users through the process.

## Background/context
- Previous form [here](https://github.com/department-of-veterans-affairs/va.gov-team/issues/new?assignees=&labels=devops%2C+eks%2C+infrastructure%2C+infra

[2022-09-29 18:47] rmtolmach opened #47725 "[Application Hosting and Deployment] Documentation for updating Kubernetes manifest"
## Description
The next step after https://vfs.atlassian.net/wiki/spaces/OT/pages/2350645620/Build+a+Helm+chart+for+EKS should be explaining how to add automation to keep the Kubernetes manifest up-to-date when a new version of the app's container is pushed to ECR.
[Example](https://github.com/department-of-veterans-affairs/vsp-infra-calico/blob/main/.github/workflows/update-manifests.yaml).

## B

[2022-09-29 18:51] mnorthuis commented on #42952
@RLHecht Yes, that is the best we can do for the redirect.  You could consider a sentence on the Post-9/11 page that tells visitors about the separate Fry page, but ultimately the rates are exactly the same.  Our new Fry page will just ensure that visitors know where to go if that is what they are looking for.

[2022-09-29 18:55] shiragoodman opened #47726 "Collaboration Cycle - Define partnership with Sitewide: Shared Support"
## Problem Statement
*In a couple of sentences, describe the Who, What, Why, and Where of the challenge / pain point you seek to address.*

In September 2022, due to funding not getting renewed, the Platform lost an accessibility specialist who was the backup for the accessibility specialist on Governance team supporting the Collaboration Cycle. The Sitewide: Shared Support team has 3 accessibilit

[2022-09-29 18:57] ldelacosta opened #47728 "VA Request Flow - Best Times to Contact (Acheron)"
## Description
Scheduling Manager is the service layer used to send the data for the VA request. There is a plan to sunset scheduling manager later this year. We need to remove the best times to contact selection on the frontend since the data is no longer supported in the Acheron service.

---

## Acceptance Criteria
Background: the `va_online_scheduling_acheron_service` toggle is on

Given the u

[2022-09-29 18:57] mchristiansonVA opened #47729 "Platform Orientation Template Matthew Christianson"
## Welcome and Introduction
Welcome to the Veteran's Administration (VA) Veteran Facing Services (VFS) team!
As a new VFS team member, you will be working in the web ecosystem we call the VA.gov Platform (or "**The Platform,**" for short).  The tasks on this list are designed to get you up to speed on the role of Platform, making it easier for you to do your job.

Because the VA is a huge organiza

[2022-09-29 18:58] it-harrison commented on #46816
@CherylEvans your draft page for the first assigned task looks good!

[2022-09-29 19:09] ldelacosta opened #47730 "VA Request Flow - Phone Number and Email (Acheron)"
## Description
Scheduling Manager is the service layer used to send the data for the VA request. There is a plan to sunset scheduling manager later this year. We need to send the phone number and email contact information to the Acheron service in the comments field.

---

## Acceptance Criteria
Background: the `va_online_scheduling_acheron_service` toggle is on

Given the user is in the VA reques

[2022-09-29 19:14] bramleyjl opened #47731 "Audit User Attributes"

[2022-09-29 19:14] jhouse-solvd commented on #47613
One way to look at the pattern is from the user perspective. One way to look at the pattern is from the configuration or system perspective.

[2022-09-29 19:15] jhouse-solvd opened #47732 "[Application Hosting and Deployment] Update application onboarding checklist"
## Description
The application onboarding checklist should be updated to reflect the new process. There are various steps that are no longer needed, and there is new documentation to better guide users through the process.

## Background/context
- Previous form [here](https://github.com/department-of-veterans-affairs/va.gov-team/issues/new?assignees=&labels=devops%2C+eks%2C+infrastructure%2C+infra

[2022-09-29 19:16] jhouse-solvd commented on #47719
Testing. Closing.

[2022-09-29 19:23] lzapson commented on #47274
Duplicate of department-of-veterans-affairs/va.gov-team#47276

[2022-09-29 19:23] #47274 closed

[2022-09-29 19:23] lzapson commented on #47275
Duplicate of department-of-veterans-affairs/va.gov-team#47276

[2022-09-29 19:23] #47275 closed

[2022-09-29 19:40] lzapson opened #47733 "[FE] | 10-10EZ | Refactor Introduction Page"
## Description

Refactor Introduction Page on 10-10EZ, implement clear conditional requirements along with the associated JSX to be rendered

## Acceptance Criteria

The conditional requirements include
- [ ] show enrollment status for a logged in user that is already enrolled
- [ ] show verification required for a Loa1 user
- [ ] show Loading alert when application is loading
- [ ] show sign in t

[2022-09-29 19:47] ldelacosta opened #47734 "VA Request Flow - Reason Code (Acheron)"
## Description
Scheduling Manager is the service layer used to send the data for the VA request. There is a plan to sunset scheduling manager later this year. We need to send the reason code and user's comment in the comments field to Acheron.

Screenshot for the Choose a reason for this appointment page:
<img width="206" alt="Screen Shot 2022-09-29 at 3 38 46 PM" src="https://user-images.githubus

[2022-09-29 20:00] laflannery commented on #20474
I don't believe this is still relevant, I cannot find a specific link to return to the search results. Will close in 1 week unless told otherwise

[2022-09-29 20:00] ianMcCullough-ob commented on #47383
I generated a few reports within the Emerging Trends tab in Medallia and exported them as PDFs, PPTs and excels. I'm not very pleased with any of the results. I'd like to meet with Sarkis to review the emerging trends a bit more and see if there is something I'm missing or get recommendations from him on how to generate reports.

[2022-09-29 20:00] #47718 closed

[2022-09-29 20:04] laflannery commented on #18269
IE has been deprecated and is no longer supported, I am closing this

[2022-09-29 20:08] laflannery commented on #10377
Closing as there are no open issues remaining in the epic

[2022-09-29 20:08] #10377 closed

[2022-09-29 20:09] megansiddle opened #47735 "Analytics KPI dashboard update request for VA Notify Team"
# Request an update to your KPI Dashboard

## What this form is for

Use this ticket template to request an update to your existing KPI dashboard. To request a new product be added to our dashboards, please use [Request a New Standardized KPI Dashboard template](https://github.com/department-of-veterans-affairs/va.gov-team/issues/new?assignees=joanneesteban&labels=analytics-insights%2C+analytics-r

[2022-09-29 20:10] ldelacosta opened #47736 "VA Request Flow - serviceType (Acheron)"
## Description
The VAMF team plans to deprecate the `serviceType` which displays the Type of Care information. We should fetch the new field serviceTypes[] field from the service.

---

## Acceptance Criteria
Background: the `va_online_scheduling_vaos_v2_next` toggle is on

VAOS application will use the new field `serviceTypes[] ` and will no longer user  `serviceType` to fetch the Type of Care.

[2022-09-29 20:18] laflannery commented on #7688
I think this is no longer relevant.  Will close in 1 week unless told otherwise

[2022-09-29 20:20] laflannery commented on #25857
I believe this is resolved.  Will close in 1 week unless told otherwise

[2022-09-29 20:24] rmtolmach commented on #43859
It's possible https://github.com/department-of-veterans-affairs/devops/pull/12018 may have fixed this problem. The PR made temporary changes to `SiteLatencyCritical` while Lighthouse Infrastructure investigates `fhir`'s latency. They are tracking that work in https://github.com/department-of-veterans-affairs/lighthouse-devops-support/issues/1832 (I don't have the perms to see it, but it's there 🤷)

[2022-09-29 20:28] jhouse-solvd commented on #46247
Samara and I reviewed this today. We'll take a look and figure out which links need to be updated.

[2022-09-29 20:45] bevnobev opened #47737 "Request access to Google Analytics and/or Domo"
# Request Google Analytics and/or Domo access

## What this form is for
Use this template to request access to Google Analytics and/or Domo. Please complete steps 1 & 2 below.

## 1. Access Requirements
Please check the analytics tool(s) you need access to:
- [ ] Google Analytics
- [x ] Domo
- [ ] (Platform Teams only) BigQuery

## 2. User Email Address to Receive Access
**Due to privacy concerns,

[2022-09-29 20:48] mleclerc00 commented on #47677
/request Anthony Buchanan

[2022-09-29 20:53] mleclerc00 commented on #47677
No confluence
Removed from vfs roster
Removed from socks
No aws
Removed from org -> https://github.com/department-of-veterans-affairs/github-user-requests/issues/12741
No pagerduty
No datadog
Removed from socks
No bot users

[2022-09-29 20:53] #47677 closed

[2022-09-29 20:58] mleclerc00 commented on #47678
/request Nick Barthelemy

[2022-09-29 21:01] jaredcunha commented on #43901
Hi @RLHecht I've submitted a [pull request with the updated content](https://github.com/department-of-veterans-affairs/vets-website/pull/22294):

[2022-09-29 21:05] mleclerc00 commented on #47678
No confluence
Removed from vfs roster
Removed from socks
No aws
Not part of the org
No pagerduty
No datadog
No sentry
No bot users

[2022-09-29 21:05] #47678 closed

[2022-09-29 21:05] markkvba commented on #46853
VFEP-1 #comment This better make to Jira for us

[2022-09-29 21:06] katherine-fung commented on #47657
Thanks @laurwill!

@megzehn - this is ready for copyedit: http://preview-prod.vfs.va.gov/preview?nodeId=14968

Since there was one instance of 711 in the copy, I didn't repeat on another phone number 4 lines down. If that's not right, please let me know.

Thanks!

[2022-09-29 21:06] mleclerc00 commented on #47679
/request Patrick Arthur

[2022-09-29 21:12] benbrasso-agile6 commented on #44110
Few more slides to add - https://docs.google.com/presentation/d/1Tm_QGLIMIYXbgseGGxSiYRN7oMj1jZHyq-ytAaM692E/edit?usp=sharing

[2022-09-29 21:15] rmtolmach commented on #47724
Done! ✅
* https://github.com/department-of-veterans-affairs/va.gov-team/pull/47727

[2022-09-29 21:15] #47724 closed

[2022-09-29 21:21] laurwill commented on #45774
Hi @davidconlon @dsinla ,
Noting that Danielle shared the messages with VHA digital media, VHA comms, and NCP for awareness and will reach out if there are any questions/concerns.

[2022-09-29 21:22] mleclerc00 commented on #47679
No confluence
Removed from vfs roster
Removed from socks
Removed from aws
Removed from org -> https://github.com/department-of-veterans-affairs/github-user-requests/issues/12743
No datadog
No pagerduty
Removed from sentry
No bot users

[2022-09-29 21:22] #47679 closed

[2022-09-29 21:25] joeniquette opened #47738 "add more temporary logs for token and userinfo request on SiS"

[2022-09-29 21:30] rbsingleton opened #47739 "Generative Research for Medical Records: Research Plan and Conversation Guides"
## 🌟 Related Documentation
- [MVP Product Outline](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/checkin/product/product-outline.md)
- Platform [research process](https://depo-platform-documentation.scrollhelp.site/research-design/Research-Overview.1958740385.html) and [research checklist](https://depo-platform-documentation.scrollhelp.site/research

[2022-09-29 21:33] bkjohnson commented on #32758
I don't think it's worth exploring now unless we know that we want to change, remove, or add icons to the spritesheet.

[2022-09-29 21:41] SKasimow commented on #47003
@adamwhitlock1 - so we need someone from a11y team to validate?

[2022-09-29 22:04] michelle-dooley commented on #47737
Access granted.

[2022-09-29 22:04] #47737 closed

[2022-09-29 22:12] mleclerc00 commented on #47680
/request David Rowley

[2022-09-29 22:21] mleclerc00 commented on #47681
/request Adam Freemer

[2022-09-29 22:25] mleclerc00 commented on #47681
No confluence
Removed from vfs roster
Removed from socks
No aws
Removed from org -> https://github.com/department-of-veterans-affairs/github-user-requests/issues/12745
No pagerduty
No datadog
No sentry
No bot users

[2022-09-29 22:25] #47681 closed

[2022-09-29 22:25] mleclerc00 commented on #47682
/request Dan Brooking

[2022-09-29 22:26] laucon commented on #47695
@elizabethkochBT I fixed this and deployed the document. :)

[2022-09-29 22:30] mleclerc00 commented on #47682
No confluence
Removed from vfs roster
Removed from socks
Removed from aws
Removed from org -> https://github.com/department-of-veterans-affairs/github-user-requests/issues/12746
No sentry
No datadog
No pagerduty
No bot users

[2022-09-29 22:30] #47682 closed

[2022-09-29 22:39] sethdarragile6 opened #47740 "Platform Orientation Template [Seth Darr]"
## Welcome and Introduction
Welcome to the Veteran's Administration (VA) Veteran Facing Services (VFS) team!
As a new VFS team member, you will be working in the web ecosystem we call the VA.gov Platform (or "**The Platform,**" for short).  The tasks on this list are designed to get you up to speed on the role of Platform, making it easier for you to do your job.

Because the VA is a huge organiza

[2022-09-29 22:49] mmiddaugh commented on #46710
@megzehn Madison Vet Center is ready for copy editing.  I've reported their broken link to the support team, fyi.

[2022-09-29 23:06] mmiddaugh commented on #46710
@megzehn Lawrenceville Vet Center is ready for copy editing

[2022-09-30 13:08] DanielleThierryUSDSVA opened #47741 "Add alt text entry to style guide"
## Stories

As a Veteran, I need relevant and meaningful alt text for images on VA.gov.

As a VA content author, I need clear and concise instructions on how to create relevant and meaningful alt text for images on VA.gov.

## What's needed

- Copy edit of entry content
- Add entry to style guide, in alphabetical order in the style guide's navigation list

Here's the content for the entry:

# Alte

[2022-09-30 13:12] laflannery commented on #28107
I think this might be resolved? I know there was a separate issue that handled the heading structure of search results.  I also know that the global search will be surfaced with the new redesigned homepage.  Will close in 1 week unless told otherwise

[2022-09-30 13:14] mchristiansonVA opened #47743 "SOCKS access for Matthew Christianson"
### Your Name

Matthew Christianson

### Your Email

matthew.christianson@adhocteam.us

### Your Role and Team

Backend Engineer on VA Lighthouse

### Product Manager (PM) name and email

Kayla Watanabe, kayla.watanabe@va.gov

### Product Owner (PO) name and email

Janet Coutinho, Janet.Coutinho@va.gov

### Access Type Requesting

developers

### Public SSH Key

SHA256:d0QJBX6tfH8qctx+p73IGZYO55db

[2022-09-30 13:15] it-harrison commented on #47416
@briandeconinck PR is [here](https://github.com/department-of-veterans-affairs/va.gov-team/pull/47742).

[2022-09-30 13:15] #47743 closed

[2022-09-30 13:26] laflannery commented on #27564
No feedback recorded, closing issue

[2022-09-30 13:26] #27564 closed

[2022-09-30 13:31] #27976 closed

[2022-09-30 13:45] laurwill opened #47744 "Add "decision reviews" to claim status tool"
## Issue Description
Shireen asked us to incorporate decision reviews into the [Check your VA claim or appeal status](https://www.va.gov/claim-or-appeal-status/) landing page and online tool.

We'll need to coordinate with the product team(s) currently working with this tool content, and with Mikki/Joni on IA considerations for changing the H1.

**Update:** This ticket is for the work in the tool

[2022-09-30 13:50] longmd commented on #47706
Confirmed the event is being called in the browser for authenticated users with rating of 50% or higher.

![Screen Shot 2022-09-30 at 9 49 03 AM](https://user-images.githubusercontent.com/6738544/193284346-939c6617-a8c4-45e5-9e23-41b3c44af936.png)

[2022-09-30 13:53] OptionSelect commented on #47442
@michelle-dooley No worries! Thank you for the update :)

[2022-09-30 13:53] longmd commented on #47706
Confirmed the event is being called in the browser for unauthenticated users when confirmation of service-connected pay is acknowledged.

<img width="1433" alt="Screen Shot 2022-09-30 at 9 52 51 AM" src="https://user-images.githubusercontent.com/6738544/193285172-3581ea27-a760-4ff3-8f0b-4a0568d50c1a.png">

[2022-09-30 13:54] longmd commented on #47706
@hdjustice , per the previous comments and screenshots above. I have confirmed the events are being recorded in the correct locations.

[2022-09-30 14:02] RLHecht opened #47745 "Redirect Request"
### Instructions
- Requests must be submitted **AT LEAST** 2 weeks in advance.  Some requests take a significant amount of time and coordination to implement, so start the process as soon as you know you will need one.
- This issue will be used from initial request through implementation to ensure all individuals working on this are notified of status updates.  Please do not create multiple issues

[2022-09-30 14:04] RLHecht commented on #47745
@heyjoni I wasn't sure how best to mark up this ticket. We want to change the vanity url that is listed above to a new vanity url. The campaign landing page that this is for is: https://www.va.gov/initiatives/flu/

[2022-09-30 14:08] aliyahblackmore commented on #46878
Thanks @RLHecht!

@megzehn this is ready for you!
Preview link: http://preview-prod.vfs.va.gov/preview?nodeId=16359

**Notes/Flags:**

There were some 711 changes made to this page, as part of the audit. This is reflected in the revision log.

1. In the page intro, “Lea esta página para saber cómo obtener la vacuna COVID-19 en VA” is slightly different than the English in the document that we sent

[2022-09-30 14:08] laurwill commented on #45908
Hi @skylerschain ,
Thanks for updating us on the testing findings — as we chatted, I've tried some adjustments to the content to move Claim letters higher on the page. If it still isn't prominent enough, we could add the "on this page" element to help people navigate, but you can see how it looks first.

I also removed the "how do I download" text about Adobe, since it seems that I can download an

[2022-09-30 14:09] RLHecht opened #47746 "Update NADL rate on Native American Direct Loan Rate page--PUBLISH ON 10/3"
## Issue Description
The NADL rate is changing on October 3. The new rate should be **5.50%**. We need to make this change on the [Native American Direct Loan](https://www.va.gov/housing-assistance/home-loans/loan-types/native-american-direct-loan/) housing page.

This page needs to be published on Monday 10/3.

## Tasks
- [x] Update rate
- [x] Copyedit (Megan)
- [x] Publish (Megan)

## Acceptance

[2022-09-30 14:12] rmessina1010 commented on #44437
I. Redundant calls
https://github.com/department-of-veterans-affairs/vets-website/pull/21989
This issue was solved, as it was found that the call to the API was found that redundant calls to the API were being made in the header and footer ( these calls were subsequently removed).
This issue can be considered closed.

II. Caching
https://github.com/department-of-veterans-affairs/vets-website/pull/

[2022-09-30 14:23] MickinSahni commented on #45140
**Things teams ask for help on leading up to launch:**
- How do teams determine the rate of release % increase?
- What data should they look at to know whether they can increase launch %?
- How do they instrument data to make sure they can measure changes in GA without losing historic data?

[2022-09-30 14:27] ericasauv09 commented on #45866
validated "user has 1 copay" with user 11: ![Screen Shot 2022-09-30 at 10.21.01.png](https://images.zenhubusercontent.com/62571b850845ac72a9917e8e/802ba775-d753-4486-8982-29aabdd59f17)

validated "user has no copays" with user 0: ![Screen Shot 2022-09-30 at 10.25.22.png](https://images.zenhubusercontent.com/62571b850845ac72a9917e8e/5795a626-acf4-4330-aaaa-856ec5cfd1f6)

user 36 has multiple copays

[2022-09-30 14:27] #45866 closed

[2022-09-30 14:30] tpharrison commented on #47332
@SKasimow @adamwhitlock1

The [profile errors document](https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/blob/master/products/identity-personalization/profile/profile_errors.md) has been converted to markdown and added to the sensitive repo.

No other documents are currently linked to it.

[2022-09-30 14:30] #47332 closed

[2022-09-30 14:31] #41354 closed

[2022-09-30 14:32] alexiawunder opened #47747 "Content and IA Request from MHV Secure Messaging: Patient safety message"
## What does your team need support for? Check all that apply.
- [x] Launching one or more new unauthenticated (static) VA.gov pages
- [ ] Making revisions to one or more existing unauthenticated (static) VA.gov page
- [ ] Launching a new online form, app, or tool on VA.gov
- [ ] Making revisions to an existing online form, app, or tool on VA.gov
- [ ] Something else (please add details in the nex

[2022-09-30 14:33] ericasauv09 commented on #47288
validated that user 80 is working now, user 36 has multiple copays that are mismatching the information shown in the debt portal. Opened #47722 to look into that issue. Closing this ticket since we have another one open to resolve this bug.![Screen Shot 2022-09-30 at 10.33.00.png](https://images.zenhubusercontent.com/62571b850845ac72a9917e8e/821c4ead-0b23-476b-912c-a268b014255c)

[2022-09-30 14:33] #47288 closed

[2022-09-30 14:33] RLHecht commented on #46316
Noting that after we published a stakeholder reached out about the medallions accordion. We reworked the bullets to make the requirements clearer, got their approval and published the page.

[2022-09-30 14:37] rmessina1010 commented on #583
A similar issue was recently opened (2022)
https://github.com/department-of-veterans-affairs/va.gov-team/issues/44437

[2022-09-30 14:38] katherine-fung commented on #47746
Hi @megzehn - this page is ready for copy edit. It needs to be published Monday, 10/3.

http://preview-prod.vfs.va.gov/preview?nodeId=758

I only updated the rate per requested. Just FYI it looks like you copyedited this page recently, in mid-July.

cc @RLHecht

[2022-09-30 14:45] ericasauv09 commented on #45861
validated with user 80 (has payments): ![Screen Shot 2022-09-30 at 10.34.21.png](https://images.zenhubusercontent.com/62571b850845ac72a9917e8e/1c86c02e-c71a-444a-b97c-42c52e53b71f)

and user 39 (has never had payments: ![Screen Shot 2022-09-30 at 10.43.19.png](https://images.zenhubusercontent.com/62571b850845ac72a9917e8e/59bd431d-8317-4b9c-aa57-27a2530069a8)

and user 0 (has had payments in the pa

[2022-09-30 14:45] #45861 closed

[2022-09-30 14:52] joeniquette commented on #45363
closing this ticket, this type of work should fall on governance.

[2022-09-30 14:52] joeniquette commented on #45363
closing this ticket, this type of work should fall on governance.

[2022-09-30 14:52] #45363 closed

[2022-09-30 14:54] joeniquette commented on #45365
not going to do this as part of this epic.

[2022-09-30 14:54] #45365 closed

[2022-09-30 14:55] joeniquette commented on #45357
flame graphs have been established however we determined that our version of DD doesnt allow us to see this level of detail. Great idea here but will need to wait for this feature to be enhanced by DD. Closing.

[2022-09-30 14:55] #45357 closed

[2022-09-30 14:56] joeniquette commented on #45351
completed by Infra, nothing was determined as needing changes.

[2022-09-30 14:56] joeniquette commented on #45619
Eric implemented timeouts, closing.

[2022-09-30 14:56] #45619 closed

[2022-09-30 14:58] joeniquette commented on #45395
completed from the perspective of what can be done without engineer interaction.

@little-oddball @pjhill Thoughts on messaging teams that still have these around and are "still being called" but likely just need to be merged in as real code instead of feature toggle code? Probably should spin a new ticket for that.

[2022-09-30 15:04] joshkimux commented on #28107
@laflannery agree! These should all be covered in the new homepage design

[2022-09-30 15:04] #28107 closed

[2022-09-30 15:11] ericasauv09 commented on #45864
validated with user 39 (has never had payments): ![Screen Shot 2022-09-30 at 10.43.19.png](https://images.zenhubusercontent.com/62571b850845ac72a9917e8e/4242ae75-40ad-4702-a4ed-07d56b35ecb6)

user 0 (has not had any payments in the last 60 days): ![Screen Shot 2022-09-27 at 10.21.35.png](https://images.zenhubusercontent.com/62571b850845ac72a9917e8e/c3dfd119-fad3-4dc0-bb9e-36b1431dcfd4)

user 11 (e

[2022-09-30 15:11] #45864 closed

[2022-09-30 15:23] rmessina1010 commented on #44530
added the following to the documentation , under _4. Create the file you referenced in the entryFile property above_ :

This should publish by Tue Oct 4,  due to platform-confluence publishing schedule. the issue can be considered closed.

[2022-09-30 15:26] jacobworrell opened #47748 "Contact Center Review for Benefits Team 1 Download Decision Letter"
# Request the Contact Center Review

## What this form is for
Use this template to request a Contact Center review of your product.

Please review the Self-service Product Guide Template [link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/contact-center/self-service-product-guide-template.md) and the Contact Center Review How to [link](https://github.com/depar

[2022-09-30 15:29] #47276 closed

[2022-09-30 15:30] RLHecht opened #47749 "Redirect Request: Vet Centers"
### Instructions
- Requests must be submitted **AT LEAST** 2 weeks in advance.  Some requests take a significant amount of time and coordination to implement, so start the process as soon as you know you will need one.
- This issue will be used from initial request through implementation to ensure all individuals working on this are notified of status updates.  Please do not create multiple issues

[2022-09-30 15:40] #47695 closed

[2022-09-30 15:41] #47711 closed

[2022-09-30 15:45] #47714 closed

[2022-09-30 15:51] vbellissimo opened #47750 "Loki Doc: Additional editing post SME meeting"
AC:

- [x] Make additional edits to this technical documentation based on meeting Samara and Jesse had
- [x] Collaboration amongst Samara and Jill
- [x] Send final documentation to Jesse over slack, before it's published
- [x] Archive old pages; move drafts back to website area

[2022-09-30 15:54] MarciMcGuire opened #47751 "[EPIC]MHV to VA.gov - IA and Nav for section within VA.gov"
# My Health Section IA and Nav Epic

## Description
As part of the moving MyHealtheVet applications to VA.gov, we must plan how this new section will fit within VA.gov and how it will impact the VA.gov navigation and site map.

## Issues to Create

- [ ]

[2022-09-30 15:54] #32758 closed

[2022-09-30 16:14] #46706 closed

[2022-09-30 16:14] chloedotbrown commented on #44171
Hi all - I'm reopening this ticket, because we actually need to do some work on our end to make sure the new step is captured on the dashboard. I'll update here once changes have been made. You should see the new funnel version that includes the American Indian step next week when this week's data has been added.

[2022-09-30 16:16] tmitchellgcio commented on #47722
I believe this needs to be discussed with the copay team. Two of the copays are from the same facility and they are trying to separate the copays by facility, but the way they are doing it is only pulling the first one and ignoring the second. I doubt this is intended on their end and if it is it will be very confusing to anyone looking at the page coming from our link. They aren't totaling the am

[2022-09-30 16:18] hdjustice commented on #44171
Thank you @chloedotbrown - Let us know if you need anything.

[2022-09-30 16:19] Samara-Strauss commented on #47350
@cgednalske This copy works, but I'm wondering -- do we already have a similar error elsewhere in the profile? I'm so sorry I can't remember the specific scenario, but I think we might have something that exists that's close enough to this. Basically, I'm wondering if we can repurpose an existing error instead of adding a new one. The answer may be no (which is fine), but would you mind looking th

[2022-09-30 16:34] nathanbwright opened #47752 "Request access to Google Analytics and/or Domo"
# Request Google Analytics and/or Domo access

## What this form is for
Use this template to request access to Google Analytics and/or Domo. Please complete steps 1 & 2 below.

## 1. Access Requirements
Please check the analytics tool(s) you need access to:
- [x] Google Analytics
- [x] Domo
- [ ] (Platform Teams only) BigQuery

## 2. User Email Address to Receive Access
**Due to privacy concerns,

[2022-09-30 16:38] rmessina1010 commented on #47415
PR approval/changes pending
https://github.com/department-of-veterans-affairs/vets-website/pull/22252

[2022-09-30 16:41] rmessina1010 commented on #47414
PR approval/changes pending
https://github.com/department-of-veterans-affairs/vets-website/pull/22250

[2022-09-30 16:42] rmessina1010 commented on #47415
PR changes/approval in progress
https://github.com/department-of-veterans-affairs/vets-website/pull/22251

[2022-09-30 16:46] megzehn commented on #47657
Hi @katherine-fung - this looks good to me.

Noting in the ticket that we struggled to fit in the hours for the phone number, so we left that off.

CC @RLHecht

[2022-09-30 16:48] rmessina1010 commented on #47413
PR approval/changes pending [https://github.com/department-of-veterans-affairs/vets-website/pull/22251](https://github.com/department-of-veterans-affairs/vets-website/pull/22251)

[2022-09-30 16:49] mleclerc00 commented on #47689
/request Nikola Savic

[2022-09-30 16:58] laflannery commented on #22927
@joshkimux The search results on Find a Form are being announced for me correctly, but the NVDA upstream issue is still open.  I can't figure out if we had done a work around (that would need to perhaps be undone later) or if this just works now?  Are you able to let me know if this can be closed?

[2022-09-30 17:03] benbrasso-agile6 commented on #47551
Action: Updated

Need help?

For questions about your appointment or if you have a health-related concern, ask a staff member at your VA health facility.

For questions about travel reimbursement and filing a claim, call your VA health facility’s Beneficiary Travel contact.

Find the travel contact for your facility

Or call our BTSSS toll-free call center at 855-574-7292 (TTY: 711). We’re here Mo

[2022-09-30 17:06] benbrasso-agile6 commented on #47551
@CherylEvans updated based on feedback. Thank you!

[2022-09-30 17:09] laflannery commented on #22927
Thanks, I'll close.

For possible future reference/documentation, I _think_ looking at the NVDA issue, it might be a case of they fixed some of the bug but maybe not all super specific cases? There was some reopening of multiple tickets.

I confirmed on Global, Resources, and Find a Form search that with NVDA 2022.2 and Chrome Version 105.0.5195.127 The updated search results (i.e. Showing 21-30)

[2022-09-30 17:09] #22927 closed

[2022-09-30 17:10] DanielleThierryUSDSVA opened #47753 "MISSION Act final phase updates to caregiver program landing page"
## Story

As a Veteran or caregiver, I need to know the latest eligibility information for the caregiver program.

## What's needed

The final phase of the MISSION Act goes into effect on 10/1. This phase expands caregiver program eligibility to caregivers of Veterans of all service eras.

We need to update content to reflect this update:

- Update [family member health benefits page](http://previ

[2022-09-30 17:12] benbrasso-agile6 commented on #47639
Action: Moved all notifications above Yes and No buttons

Action: We tried it for the scenario when the claim won't be able to be submitted. E.g., we added an additional page. However, we all thought that adding that additional page would drastically cut down on the success of someone making it through to check in. We agreed that the priority of the app is on check in, where travel reimbursement i

[2022-09-30 17:13] benbrasso-agile6 commented on #47639
@briandeconinck thank you for the feedback. all set.

[2022-09-30 17:13] DanielleThierryUSDSVA commented on #47753
Hi @megzehn @RLHecht. Could you please copy edit the preview pages listed here today? Please don't publish. I am actually going to publish these and do a content release tomorrow morning since that's when this new rule goes into effect. Thanks!

For reference, here's the Word doc with content updates to the main page and alert that our SME partner approved. Thanks!
[https://app.zenhub.com/files/13

[2022-09-30 17:13] DanielleThierryUSDSVA commented on #47753
Hi @megzehn @RLHecht. Could you please copy edit the preview pages listed here today? Please don't publish. I am actually going to publish these and do a content release tomorrow morning since that's when this new rule goes into effect. Thanks!

For reference, here's the Word doc with content updates to the main page and alert that our SME partner approved. Thanks!
[https://app.zenhub.com/files/13

[2022-09-30 17:13] DanielleThierryUSDSVA commented on #47753
Hi @megzehn @RLHecht. Could you please copy edit the preview pages listed here today? Please don't publish. I am actually going to publish these and do a content release tomorrow morning since that's when this new rule goes into effect. Thanks!

For reference, here's the Word doc with content updates to the main page and alert that our SME partner approved. Thanks!
[https://app.zenhub.com/files/13

[2022-09-30 17:19] benbrasso-agile6 commented on #47626
Action: Consulted with sitewide. Updated.

Are you claiming only mileage and no other expenses today?

If you need to submit receipts for other expenses like tolls, meals, or lodging, you can’t file a claim now. But you can file your claim online 24/7 through the Beneficiary Travel Self Service System (BTSSS). Or you can use VA Form 10-3542 to submit a claim by mail, fax, email, or in person.

Act

[2022-09-30 17:19] benbrasso-agile6 commented on #47626
@jimuhh thank you for the feedback. all set.

[2022-09-30 17:40] ericasauv09 opened #47754 "FE | Profile | Contact Information | Validation for Emojis in email addresses"
## Background
As noted in [this thread](https://dsva.slack.com/archives/C909ZG2BB/p1664386601195079) we discovered that emojis can be used in email addresses. Similar to the validation rules for addresses we should disallow non-ascii characters

## Tasks
- [ ] Add form validation for non ascii characters
- [ ] Conduct Unit tests
- [ ] Run E2E tests covering current code and regression
- [ ] All ax

[2022-09-30 17:46] mleclerc00 commented on #47689
No confluence
Removed from vfs roster
No socks
No aws
User removed from org -> https://github.com/department-of-veterans-affairs/github-user-requests/issues/12757
No pagerduty
No datadog
No sentry
No bot users

pinging @department-of-veterans-affairs/platform-analytics-insights-team for GA/DOMO

[2022-09-30 17:47] ericasauv09 opened #47755 "Design | Profile | [Project]| [Issue Name]"
## Background

During research sessions for our accessibility audit we found that there is one alert on Profile that does not match the other alert stylings we use. This is a problem for continuity but also because a mobile user was not able to zoom in on this alert. We need to update the design for this alert to be displayed in a background only alert like the others on Profile.

Here is the aler

[2022-09-30 17:48] jhouse-solvd opened #47756 "[jesse-test-app] Application onboarding requirements checklist"
## Summary
The purpose of this checklist is to capture requirements for onboarding a software application to the Platform's delivery infrastructure.

### Overview
- The Platform leverages container orchestration to host and deploy software applications
- Container orchestration automates the deployment, scaling, and management of containerized applications
- To learn more, see ["Application Hostin

[2022-09-30 17:51] ericasauv09 opened #47757 "FE | Profile | Bug | Update Alert Style for Contact Info Alerts"
## Background

During research sessions for our accessibility audit we found that there is one alert on Profile that does not match the other alert stylings we use. This is a problem for continuity but also because a mobile user was not able to zoom in on this alert. We need to update the design for this alert to be displayed in a background only alert like the others on Profile.

This applies to

[2022-09-30 18:06] denisecoveyduc opened #47758 "Updating URLs that link to VHA FSR"
## Issue Description
There combined debt portal is complex and has many different routes to the electronic FSR experience. We have discovered pathways that aren't routing to the onlineFSR/ waiver submission process.

---
## Tasks
- [x] Validate that following pathways to the electronic FSR from copay cards and detailed pages.

<img width="1303" alt="image" src="https://user-images.githubuserconten

[2022-09-30 18:07] dmkosko opened #47759 "Future Link Locations for Product Definitions"
From our Product Operations meeting on September 29th, one of the action items was to discuss future use of where the product definitions will live.

It was mentioned to add a link in the GitHub Product Board form template, on the VFS Directory, and possibly on the Product/Initiative outline template.

[2022-09-30 18:07] cgednalske commented on #46918
Hi @Samara-Strauss and @SKasimow -- the [Connected apps documentation](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/identity-personalization/profile/connected-apps) is ready for your review! In particular, could you take a look at the "can't display connected apps" use case? I referenced the documentation from the other sections, but I'm not sure if this is di

[2022-09-30 18:13] chloedotbrown commented on #44171
Thanks @hdjustice! BigQuery updates have been made, so closing this ticket out. You should see this as a new "V3" option in your funnel and exit rate tables starting next week.

[2022-09-30 18:13] #44171 closed

[2022-09-30 18:25] tpharrison commented on #46744
@Samara-Strauss @SKasimow

The following users have academy attendance records:
- User 100
- Users 121 - 124

There is a feature flag called `profile_show_military_academy_attendance` that needs to be turned on to view academy attendance.

Academy attendance records are returned in the same list with military service records.  Each service history record has a `service_type` field that is either `

[2022-09-30 18:25] laflannery commented on #20436
No issues attached to this, closing

[2022-09-30 18:25] #20436 closed

[2022-09-30 18:28] #47626 closed

[2022-09-30 18:28] #42868 closed

[2022-09-30 18:28] #47639 closed

[2022-09-30 18:28] #42875 closed

[2022-09-30 18:41] laflannery commented on #14159
There is no feedback in this issue, closing

[2022-09-30 18:41] #14159 closed

[2022-09-30 18:44] laflannery commented on #14158
Only specific feedback is indicating which component to use, any updates to the component would not be PW.  Closing

[2022-09-30 18:44] #14158 closed

[2022-09-30 18:45] laflannery commented on #14157
Closing, the feedback has been covered separately in more recent issues

[2022-09-30 18:45] #14157 closed

[2022-09-30 18:47] laflannery commented on #14160
Closing - the alerts and accordions have been discussed in more recent issues

[2022-09-30 18:47] #14160 closed

[2022-09-30 18:47] laflannery commented on #14086
No feedback provided, closing

[2022-09-30 18:47] #14086 closed

[2022-09-30 18:48] laflannery commented on #14087
No feedback provided, closing

[2022-09-30 18:48] #14087 closed

[2022-09-30 18:54] cgednalske commented on #46700
Hi @SKasimow -- closing this!

And linking to our UAT [findings](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/profile/contact-information/bad-address-indicator/uat/uat-findings.md) and [notes](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/profile/contact-information/bad-addr

[2022-09-30 18:54] #46700 closed

[2022-09-30 18:55] jacobworrell opened #47760 "Analytics Implementation or QA Support for Benefits Team Download Decision Letter Feature"
# Google Analytics Implementation or QA Request

## What this form is for

<details>
<summary>More Information</summary>
<div>
    <br>
<p>Use this template to request Google Analytics implementation or QA for your product. Please fill out all brackets.</p>

</div>
</details>

## Description
### Required
- **Is this request for **Google Analytics implementation** or **QA**?**

     - [ ] Google An

[2022-09-30 18:58] cindymerrill commented on #46653
Updated per feedback from Michelle, then shared with PO Dave to review.

[2022-09-30 18:58] cindymerrill commented on #46662
Updated per feedback from Michelle, then shared with PO Dave to review.

[2022-09-30 19:01] laflannery commented on #9717
@DanielleThierryUSDSVA I am currently going through backlog issues and came across this.  Would you be able to tell me if

- this is something for the sitewide content team (going through and adding captions within Drupal) or
- should it be public websites because they need to switch these tables to the proper design system component?

Thanks!

[2022-09-30 19:03] laflannery commented on #9135
@DanielleThierryUSDSVA This is another issue I found in my review, it's labelled Public websites but based on the description I think it might actually be Sitewide Content.  Let me know and I can update the labels.  Thanks!

[2022-09-30 19:07] #47722 closed

[2022-09-30 19:09] kristenmcconnell commented on #47716
@loripusey - @zach-park found out that they did add our pattern to the design system, so this ticket is no longer needed.

[2022-09-30 19:09] #47716 closed

[2022-09-30 19:12] RLHecht opened #47761 "Temporary Redirect Request: Community care medical debt relief"
### Instructions
- Requests must be submitted **AT LEAST** 2 weeks in advance.  Some requests take a significant amount of time and coordination to implement, so start the process as soon as you know you will need one.
- This issue will be used from initial request through implementation to ensure all individuals working on this are notified of status updates.  Please do not create multiple issues

[2022-09-30 19:17] RLHecht opened #47762 "Redirect Request: Community care copays"
### Instructions
- Requests must be submitted **AT LEAST** 2 weeks in advance.  Some requests take a significant amount of time and coordination to implement, so start the process as soon as you know you will need one.
- This issue will be used from initial request through implementation to ensure all individuals working on this are notified of status updates.  Please do not create multiple issues

[2022-09-30 19:17] ericasauv09 opened #47763 "[Design] Payment Info V2: Update Copay Card Design and Logic"
## Background
After speaking with the benefits-team-2 we learned that the debts portal only shows the most recent copays owed at each facility. They have no way of knowing if the user has paid off their copay therefore, they only show the most recent copay owed and do not include additional copays that may exist for that user. Since My VA is showing all copays and aggregating them we need to updat

[2022-09-30 19:21] ericasauv09 opened #47764 "[FE] Payment Info V2: Implement updated copay card design and logic"
## Background
After speaking with the benefits-team-2 we learned that the debts portal only shows the most recent copays owed at each facility. They have no way of knowing if the user has paid off their copay therefore, they only show the most recent copay owed and do not include additional copays that may exist for that user. Since My VA is showing all copays and aggregating them we need to updat

[2022-09-30 19:23] markfallows opened #47766 "Collaboration Cycle for [10-10 Health Apps, 10-10EZ, Household Information Optimization]"
## VFS product information

### VFS team name

10-10 Health Apps

### Product name

10-10EZ

### Feature name

Household Information Optimization

### GitHub label for product

1010-ez

### GitHub label for feature

household-info-optimization

## Kickoff questions

<details><summary>Toggle kickoff questions</summary>

### When did/will you start working on this product/feature?

05/2022

### Will

[2022-09-30 19:23] RLHecht opened #47767 "Redirect Request: VHIC"
### Instructions
- Requests must be submitted **AT LEAST** 2 weeks in advance.  Some requests take a significant amount of time and coordination to implement, so start the process as soon as you know you will need one.
- This issue will be used from initial request through implementation to ensure all individuals working on this are notified of status updates.  Please do not create multiple issues

[2022-09-30 19:24] rmtolmach commented on #43859
Site latency has been modified and the alerts coming in from pager duty are fewer.
Created this issue to deal with follow-up:
* https://github.com/department-of-veterans-affairs/va.gov-team/issues/47765

Closing.

[2022-09-30 19:24] #43859 closed

[2022-09-30 19:24] lzapson opened #47768 "[FE] | 10-10EZ | Implement Unit Tests for Unauthenticated Screener (IDPage) Page"
## Description

Implement unit tests for ID Page on 10-10EZ form

## Acceptance Criteria

- [x] test for component rendered
- [x] test for fields on page
- [x] test for required fields

[2022-09-30 19:25] jimuhh commented on #47687
No IA feedback, Thanks.

[2022-09-30 19:31] lzapson opened #47769 "[FE] | 10-10EZ | Implement Unit Test for the Introduction Page"
## Description

Add unit test for Introduction Page on 10-10EZ form

## Acceptance Criteria

- [ ] test for logged in Loa3 user that has a form saved in progress

[2022-09-30 19:32] Samara-Strauss commented on #46918
This is actually not accurate -- users can only connect apps through a third part interface (think giving Apple Health access to your VA data from the Apple Health app). Users can only view and disconnect apps from the profile, so "connect" needs to be removed from everywhere it's mentioned in this use case.

You can entirely remove this section since it's redundant with "View apps".

I think you

[2022-09-30 19:35] lzapson opened #47770 "[FE] | 10-10EZ | Implement Unit Tests for the DependentViewField Component"
## Description

Implement unit tests for the DependentViewField Component (hca/components/FormFields/DependentViewField.jsx)

## Acceptance Criteria

- [ ] test for component rendered
- [ ] test for fields on page

[2022-09-30 19:38] lzapson opened #47771 "[FE] | 10-10EZ | Implement Unit Tests for the InsuranceProviderViewField Component"
## Description

Implement unit tests for the InsuranceProviderViewField Component (hca/components/FormFields/InsuranceProviderViewField.jsx)

## Acceptance Criteria

- [ ] test for component rendered
- [ ] test for fields on page

[2022-09-30 19:38] lzapson opened #47772 "[FE] | 10-10EZ | Implement Unit Tests for the InsuranceProviderViewField Component"
## Description

Implement unit tests for the InsuranceProviderViewField Component (hca/components/FormFields/InsuranceProviderViewField.jsx)

## Acceptance Criteria

- [ ] test for component rendered
- [ ] test for fields on page

[2022-09-30 19:40] Samara-Strauss commented on #46744
Thanks for this, @tpharrison! Can you clarify what the plan is at this point? Do we need to bring in a designer to help decide next steps? It sounds like there are a few things we could do. Are we waiting to see what Mike Richard sees before determining next steps?

[2022-09-30 19:42] lzapson opened #47773 "[FE] | 10-10EZ | Implement Unit Tests for the EnrollmentStatusFAQ Component"
## Description

Implement unit tests for the EnrollmentStatusFAQ  Component (hca/components/EnrollmentStatus/EnrollmentStatusFAQ.jsx)

## Acceptance Criteria

- [ ] test for component rendered
- [ ] test for appropriate content

[2022-09-30 19:42] lzapson opened #47774 "[FE] | 10-10EZ | Implement Unit Tests for the VaMedicalCenter Component"
## Description

Implement unit tests for the VaMedicalCenter Component (hca/components/FormFields/VaMedicalCenter.jsx)

## Acceptance Criteria

- [x] test for component rendered
- [x] test for appropriate content

[2022-09-30 19:44] DanielleThierryUSDSVA commented on #9717
Hi @laflannery. I'm going to bring @RLHecht in here for an update on this one. Thanks!

[2022-09-30 19:44] tpharrison commented on #46744
@Samara-Strauss I think we should get a designer involved.  We don't need to wait to see what displays for Mike Richard.

[2022-09-30 19:45] lzapson opened #47775 "[FE] | 10-10EZ | Implement Unit Tests for the Confirmation Screen and Print Components"
## Description

Implement unit tests for the Confirmation Screen and Print Components
 (hca/components/ConfirmationPage/ConfirmationScreenView.jsx | hca/components/ConfirmationPage/ConfirmationPrintView.jsx)

## Acceptance Criteria

- [x] test for component rendered
- [x] test for appropriate content

[2022-09-30 19:47] Samara-Strauss commented on #46744
OK, you and @SKasimow should talk about what questions we need a designer to answer so we can get Liz or Christina involved when they have bandwidth. @SKasimow once you and Tom chat about designer needs, can you add a ticket to the backlog? If Liz or Christina has bandwidth in this upcoming sprint, great! If not, let's schedule for the following sprint.

[2022-09-30 19:47] lzapson opened #47776 "[FE] | 10-10EZ | Implement Unit Tests for the CompensationTypeReviewPage Component"
## Description

Implement unit tests for the CompensationTypeReviewPage Component (hca/components/FormReview/CompensationTypeReviewPage.jsx)

## Acceptance Criteria

- [ ] test for component rendered
- [ ] test for appropriate content

[2022-09-30 19:49] lzapson opened #47777 "[FE] | 10-10EZ | Implement Unit Tests for the CustomDateReviewField Component"
## Description

Implement unit tests for the CustomDateReviewField Component (hca/components/FormReview/CustomDateReviewField.jsx)

## Acceptance Criteria

- [x] test for component rendered
- [x] test for appropriate content

[2022-09-30 19:51] cgednalske commented on #46918
Thanks @Samara-Strauss, this all sounds good. I had included that the user needs to go elsewhere to actually connect apps, but if it's better to remove all of that completing that works for me! 👍

[2022-09-30 19:51] lzapson opened #47778 "[FE] | 10-10EZ | Implement Unit Tests for the CustomReviewField Component"
## Description

Implement unit tests for the CustomReviewField Component (hca/components/FormReview/CustomReviewField.jsx)

## Acceptance Criteria

- [ ] test for component rendered
- [ ] test for appropriate content

[2022-09-30 19:53] lzapson opened #47779 "[FE] | 10-10EZ | Implement Unit Tests for the CustomYesNoReviewField Component"
## Description

Implement unit tests for the CustomYesNoReviewField Component (hca/components/FormReview/CustomYesNoReviewField.jsx)

## Acceptance Criteria

- [ ] test for component rendered
- [ ] test for appropriate content

[2022-09-30 19:53] megzehn commented on #47741
Hi @DanielleThierryUSDSVA! I copyedited this and added it to github.

Here's the PR: https://github.com/department-of-veterans-affairs/vets-design-system-documentation/pull/1250

Let me know if you need us to do anything else. Thank you!

CC @RLHecht

[2022-09-30 20:01] ndsprinkle commented on #37351
I will try to wrap up what I discovered from this ticket.

First, I grabbed full page screenshots for several pages in vets-website. I planned on using Pixelmatch (https://github.com/mapbox/pixelmatch) to do some visual regression testing.

Then, I followed a guide (https://dev.to/ccreusat/migrating-from-node-sass-to-sass-dart-sass-with-npm-3g3c) to upgrade from node sass to sass dart. Didn't have

[2022-09-30 20:12] megzehn commented on #46767
@RLHecht - this page is now published!

http://preview-prod.vfs.va.gov/preview?nodeId=864

FYI, I haven't reverted the page back yet, because I wasn't 100% sure which version we wanted.

[2022-09-30 20:13] hdjustice commented on #44171
awesome, you are a gem @chloedotbrown!  Thank you, thank you.. a thousand times Thank You!

[2022-09-30 20:25] SKasimow commented on #46744
Yes...will meet with Tom when he returns.

[2022-09-30 20:31] megzehn commented on #47753
Hi @DanielleThierryUSDSVA - I reviewed your changes, and they look good!

On the Family and Caregiver Health Benefits page, I made some minor tweaks to get the links under 100 characters. Let me know if that's OK!

[2022-09-30 20:34] megzehn commented on #47183
Thanks! Changes look good, and this is now published.

[2022-09-30 20:36] RLHecht commented on #46878
Changes are live. Closing this ticket but will reopen when we hear back from the translation team about the missing content.

[2022-09-30 20:36] #46878 closed

[2022-09-30 20:39] DanielleThierryUSDSVA commented on #47753
Oh, that's great to get that link shorter - thank you, @megzehn!

[2022-09-30 20:42] cgednalske commented on #46918
@Samara-Strauss @SKasimow -- I reorganized the main [use case](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/profile/connected-apps/use-cases/view-and-disconnect-apps.md) by apps connected vs. no apps connected, and will check with Adam about the "can't display connected apps" use case, though I imagine that won't be confirmed until we'

[2022-09-30 20:43] hdjustice opened #47780 "Analytics Implementation or QA Support for [10-10EZ]"
# Google Analytics Implementation or QA Request

## What this form is for

<details>
<summary>More Information</summary>
<div>
    <br>
<p>Use this template to request Google Analytics implementation or QA for your product. Please fill out all brackets.</p>

</div>
</details>

## Description
### Required
- **Is this request for **Google Analytics implementation** or **QA**?**

     - [x] Google An

[2022-09-30 20:44] hdjustice commented on #47706
Ticket #47780 opened for the Analytics team

[2022-09-30 20:54] aliyahblackmore commented on #46879
Thanks, Randi!

@megzehn This page is ready for you!
Preview link: http://preview-prod.vfs.va.gov/preview?nodeId=34408

**Notes/Flags:**

1. In the featured content box the sentence “ An updated booster will protect you even more against COVID-19.” is missing the end of the sentence, “against COVID-19.” My thought is that it would be “contra el COVID-19” but I’m not sure if this would have a diffe

[2022-09-30 21:09] jaredcunha commented on #47242
@sortizsh I've updated the main content above to keep it relevant based on the decisions we've made.

**Notes that I've removed**
- Instructions to add kekyboard functionality to the tabs
- Screenshots, code snippets, and reference materials to the MDN tabs

**To reiterate how we've decided to address the accessibility issues:**
- Remove any `role` related tabs, then we can use aria-labelledby if

[2022-09-30 21:18] andaleliz commented on #47381
Hi @Samara-Strauss, @SKasimow @cgednalske @adamwhitlock1 @tpharrison and @jcatergovy - I have a [topline summary](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/profile/Research/2022-09-profile-editing-evaluation/topline-summary.md) published for your initial review. Please have a look and let me know your thoughts! The intro to the doc

[2022-09-30 22:06] chloedotbrown commented on #47752
@michelle-dooley Access granted for DOMO and Google Analytics. Will wait to close out until we make sure confirmation emails were received. Read permissions for BigQuery table [also requested](https://dsva.slack.com/archives/CBU0KDSB1/p1664555902202399?thread_ts=1664555830.098809&cid=CBU0KDSB1).

[2022-09-30 22:48] SKasimow commented on #47332
Thanks Tom!

[2022-09-30 22:49] SKasimow opened #47781 "FE | Profile | Document Error Codes"
## Background

Currently we have some info on error codes and error messaging sprinkled throughout our GitHub Profile section but would like to build a repository that houses this information across the product portfolio and includes error codes, messaging, end-points, screenshots and the like. This is information will be helpful to everyone on the team and improve our ability to quickly identify

[2022-09-30 23:02] mmiddaugh commented on #46710
@megzehn Fort Lauderdale is ready for copy-editing

[2022-09-30 23:31] rocio-desantiago commented on #22622
URL where this occurs:
http://localhost:3001/disability/file-disability-claim-form-21-526ez/supporting-evidence/service-treatment-records

[2022-09-30 23:32] rocio-desantiago commented on #22622
Testing with screenreader on 10/3

[2022-10-01 21:16] kristenmcconnell commented on #46651
The check-in study closed today with 32 participants. @loripusey This ticket is done now, so we could synthesize and complete the report next sprint.

[2022-10-01 21:16] #46651 closed

[2022-10-03 05:45] theodur commented on #30478
After some tinkering with the image and setup, I was able to get the `vets-api` container along with its dependent services running in CodeSpaces. This was accomplished by using the default CodeSpaces [image](https://github.com/microsoft/vscode-dev-containers/tree/main/containers/codespaces-linux) instead of the image built from the `vets-website` Dockerfile. The reason the default image is needed

[2022-10-03 12:36] RLHecht commented on #47746
@megzehn I published this so it would get into the 9 a.m. build. Moving to validate and will close once it's live. Thanks all!

[2022-10-03 12:40] RLHecht commented on #47753
These changes are now live. Closing ticket.

[2022-10-03 12:40] #47753 closed

[2022-10-03 12:43] RLHecht commented on #47741
Moving this to validate and will close once it's live in the style guide.

[2022-10-03 12:52] pjhill commented on #45395
Based on Rachal's document, it looks like there are around 57 feature toggles that have valid routes. Are you discussing the idea of nudging teams to merge and remove those feature toggles? We would only want to nudge teams with particularly old feature toggles. I'm thinking this is a quality issue related to improper application of the SDLC that VA.gov proposes.

It should be quite doable to use

[2022-10-03 12:58] loripusey commented on #41064
@ytsaoca @kristenmcconnell Can you set up some time for us to review the recommendations from this study? I'd like to submit round 3 to the SD soon and any recommendations from this study need to be a part of that, if applicable.

[2022-10-03 13:01] #42106 closed

[2022-10-03 13:05] DanielleThierryUSDSVA commented on #41064
Hi, @kristenmcconnell. I thought we'd talked with translators about this, but let's follow up as part of the list of questions. Thanks!

[2022-10-03 13:06] RLHecht commented on #34477
@aliyahblackmore I just got September's info. Could you please update the 2 pages? The new number should be 106.4

Thanks!

[2022-10-03 13:09] #42891 closed

[2022-10-03 13:10] #42877 closed

[2022-10-03 13:10] #42879 closed

[2022-10-03 13:17] benbrasso-agile6 commented on #47126
@loripusey @brianseek could you describe the use case here so I can determine if any updates are needed to the product guides?

Do Veterans get this message when the UUID is missing? When it's incorrect? What does "incorrect" mean? Which system made an error?

[2022-10-03 13:24] RLHecht commented on #47183
This is live. Closing ticket!

[2022-10-03 13:24] #47183 closed

[2022-10-03 13:26] RLHecht commented on #46767
@aliyahblackmore could you revert to the draft that was originally the most recent before you made your changes? And then make sure to update that with the new content on the page? Thanks!

[2022-10-03 13:48] RLHecht commented on #47746
This is live. Closing ticket.

[2022-10-03 13:48] #47746 closed

[2022-10-03 14:15] OptionSelect commented on #46689
Closing, was completed on 9/7/2022.

[2022-10-03 14:15] #46689 closed

[2022-10-03 14:24] aschulhof opened #47782 "Adding Nicholas Henning to DSVA Slack"
# Description

**new user requests**: please verify that the user does not already exist in dsva.slack.com (it may be the account exists, but is not in a particular channel)

- Please add nicholas.henning@oddball.io as a full member.

Are you requesting to add an individual as a:

- Full member
- Single guest
- Multi-channel
- Switching from single-channel to multi-channel?
- What channel(s) do th

[2022-10-03 14:24] loripusey commented on #47372
@ytsaoca where are we with this ticket?
cc: @kristenmcconnell

[2022-10-03 14:24] Samara-Strauss commented on #46918
The new organization of that use case looks great! Very intuitive way to organize things.

Totally fine! We'll come back to this when you're back from your trip.

[2022-10-03 14:25] shiragoodman opened #47783 "Update "Faith Owusu-Sekere" to "Faith Arthur""
## User Story
As a VFS team member I want to be able to find the correct person for ATO orientation so that I don't have to reach out for help/assistance.

Assignee: @allison0034
Peer Reviewer: @it-harrison

## Description
"Faith Owusu-Sekere" has changed her name to "Faith Arthur". The purpose of this ticket is to update Faith's name in all of the VFS-facing guidance she is mentioned in.

## Impa

[2022-10-03 14:25] aschulhof opened #47784 "Adding Lindsey Sprinkle to DSVA Slack"
# Description

**new user requests**: please verify that the user does not already exist in dsva.slack.com (it may be the account exists, but is not in a particular channel)

- Please add lindsey.sprinkle@oddball.io as a full member.

Are you requesting to add an individual as a:

- Full member
- Single guest
- Multi-channel
- Switching from single-channel to multi-channel?
- What channel(s) do th

[2022-10-03 14:27] ianhundere opened #47785 "Make `named_tag` values included with content in order to query more easily"
## Description
Currently, we have a variety of event attributes under `named_tags` that we'd like to be available in content in order to more easily query against values such as:
- `request_id`
- `remote_ip`

## Acceptance Criteria
- [x] `request_id` / `remote_ip` can be queried without having to use `@named_tags.*`

[2022-10-03 14:31] loripusey commented on #47126
@brianseek , @benbrasso-agile6 and I talked about this, so no action needed.

[2022-10-03 14:32] loripusey commented on #47125
@zach-park where are we with this ticket?
cc: @benbrasso-agile6

[2022-10-03 14:34] joeniquette commented on #45395
Yea thats exactly what I was thinking Peter. Set a timeline of how long a toggle should live for, with the expectation that the code is now officially ready to be "permanent" and get rid of the flipper part of it. It should always only be seen as a temporary integration solution. 60 days seems fair to me. Anyone who currently has feature toggles over this time period I think we should message them

[2022-10-03 14:35] jbackfieldVA opened #47786 "Platform Orientation Template Joshua Backfield"
## Welcome and Introduction
Welcome to the Veteran's Administration (VA) Veteran Facing Services (VFS) team!
As a new VFS team member, you will be working in the web ecosystem we call the VA.gov Platform (or "**The Platform,**" for short).  The tasks on this list are designed to get you up to speed on the role of Platform, making it easier for you to do your job.

Because the VA is a huge organiza

[2022-10-03 14:37] Samara-Strauss commented on #47381
Thanks for this, @andaleliz! In the formal report, we should definitely call out that we did not see differences among people who used screen readers or magnification and people who did not.

[2022-10-03 14:38] loripusey opened #47787 "[Design] Create Final Wireframe for API Error Messages"
## Tasks
- [ ] Create final mockups with callouts for these error messages
    - System error (claim did not go through, something bad happened)
    - No response error (claim may or may not have been submitted)
- [x] Decide: Should a content and accessibility review be part of this ticket or separate tickets due to scope?

## Acceptance Criteria
- [ ] UI review meeting with product/UX team for fe

[2022-10-03 14:42] chancetheoriginal commented on #43356
Reworking VEText DLs
[ ] VEText Facility POCs: VETextPOCs@va.gov
[ ] VEText Support: VETextSupport@va.gov
    - Unmonitored, autoforwards to VEText@va.gov
    - Will be used to send messages from Power Automate flows
[ ] VEText Newsletter: VETextNewsletter@va.gov

[2022-10-03 14:45] chancetheoriginal commented on #41749
Power App submissions insert to SP list -> Automate reads item creation and generates email to VEText@ containing submitted data and **includes attachments.**

[2022-10-03 14:52] raywangoctova commented on #42029
From: Kearns, Rodney T. <[Rodney.Kearns@va.gov](mailto:Rodney.Kearns@va.gov)>
Sent: Wednesday, July 27, 2022 4:36 PM
To: Worthington, Charles (he/him/his) <[Charles.Worthington@va.gov](mailto:Charles.Worthington@va.gov)>
Cc: Cunningham, Robert M. (OI&T) <[Robert.Cunningham2@va.gov](mailto:Robert.Cunningham2@va.gov)>; Carbajal, Rogaciano <[Rogaciano.Carbajal@va.gov](mailto:Rogaciano.Carbajal@va.gov

[2022-10-03 15:08] #47194 closed

[2022-10-03 15:09] benbrasso-agile6 commented on #47126
Updatd in git

https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/checkin/product/product-guides/README.md

Updated in google drive

https://drive.google.com/drive/folders/1IOA0HkUkNDE7CVDppPCe4BC57-KN9Nx0

[2022-10-03 15:11] loripusey opened #47788 "Fix Wireframes to Match Production"
## Tasks
- Fix Wireframes to Match Production
   - If there are designs in the wireframes that SHOULD be in the product, please bring these to Lori's attention. Here is [**the list of UX items**](https://docs.google.com/spreadsheets/d/1vr5m0tfqAtCtBFLMvn54aU9bdWhxR7GRxNkZzw42G10/edit#gid=0) that are reviewed with Lori in which we would need to update.
- Delete any wireframes that are not needed or

[2022-10-03 15:12] benbrasso-agile6 commented on #47125
@zach-park i don't believe any updates are needed for user flows. just make sure this has been pushed to abstract and sketch and add the links in this ticket. thanks

[2022-10-03 15:13] zach-park commented on #47125
I actually haven't started with this ticket yet. I'd like to work on this ticket in the next sprint if that is possible.

[2022-10-03 15:15] loripusey commented on #46781
Documented [here](https://docs.google.com/spreadsheets/d/1BPOlI6vzH-tMTswvUrci3Q0NkBmfIIfo8Cgj_nM10gk/edit#gid=0)

[2022-10-03 15:15] #46781 closed

[2022-10-03 15:18] benbrasso-agile6 commented on #47125
I think you may have done this work already. Let me check.

[2022-10-03 15:22] benbrasso-agile6 commented on #47125
https://share.goabstract.com/db9517dc-1a98-4de1-8d2e-54dad13552f2?collectionLayerId=35543ba6-4f62-4261-b2af-033282668ddf&mode=design

I believe that is already merged. @zach-park just check if that's in master and it's available in sketch cloud please.

[2022-10-03 15:23] zach-park commented on #47130
Published the check-in sketch file (from the abstract master branch) to the sketch cloud.

[2022-10-03 15:27] zach-park commented on #47125
@benbrasso-agile6 , yes, it is completed and published in the sketch cloud. cc: @loripusey

[2022-10-03 15:28] loripusey commented on #47130
closing as it looks like everything is done

[2022-10-03 15:28] #47130 closed

[2022-10-03 15:29] #47125 closed

[2022-10-03 15:29] loripusey commented on #46107
@randomsync can this be closed?

[2022-10-03 15:31] #47389 closed

[2022-10-03 15:31] megzehn commented on #46879
Thanks @aliyahblackmore! This is now published.

1. I think it's probably OK as is, based on the context.
2. Great flag re: gripe/influenza. @RLHecht said she was going to mention this to the translators.
3. Randi said this was a new update and will come back in a future translation.
4. Thank you!!

[2022-10-03 15:33] #46107 closed

[2022-10-03 15:37] #47126 closed

[2022-10-03 15:37] #46117 closed

[2022-10-03 15:41] robertbylight opened #47789 "AWS access for Robert Rodriguez"
### COR Name

Other - please specify in 'Additional Notes'

### Vendor Onboarding Representative Name

Other - please specify in 'Additional Notes'

### Your Name

Roberto Rodriguez

### Your Email

roberto.rodriguezrenteria@va.gov

### Team, Role, and Company of the target individual

MHV Secure Messaging, Software Engineer, By Light Professional IT Services

### Product Manager (PM) name and ema

[2022-10-03 15:46] acaruso-oddball opened #47790 "VerifyAccountLink Unit Test Fix"
## Issue Description
Tests within the VerifyAccountLink test suite are flaky.

## Tasks
- [x] Update tests within the VerifyAccountLink spec to produce consistent results.

## Acceptance Criteria
- [ ] VerifyAccountLink tests consistently pass.

[2022-10-03 15:48] joeniquette opened #47791 "update cert document"
I've made some changes to where the cert is stored, also discovered a spec in vets-api that is impacted when updating the idme oauth cert fixture used in localhost:
https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/blob/master/teams/vsp/teams/Identity/Sign%20In%20Service/Sign-in-Service_certs_explained.md

[2022-10-03 15:58] joeniquette opened #47792 "update prod idme oauth SiS cert"
IDme is rotating the production cert VA.gov uses for the sign in service on the night of the 8th.

- Cert rotation has already been completed for staging and below
- The value of the cert must be extracted from the idme JWKS file and then stored in the appropriate AWS PS value
- We must then kickoff a deploy of production after the change is in to force the instances to pick up the new PS value
-

[2022-10-03 16:03] loripusey commented on #47193
closing as we should address this with the feature to redirect users to Check-in from a Pre-Check-in link if they access it on the day of their appointment

[2022-10-03 16:03] #47193 closed

[2022-10-03 16:10] td-usds commented on #47374
VOR confirmed information, requested access approved.

[2022-10-03 16:12] td-usds commented on #47235
@markkvba confirmed that issue https://github.com/department-of-veterans-affairs/va.gov-team/issues/37944 is being tackled with high priority and is the first issue they will be working on.
Access for @nfstern02 approved for 2 months; based on the conversation with Mark, this is sufficient time for now.

[2022-10-03 16:15] td-usds commented on #46853
I am still awaiting the response from the VOR, once I have their response to my data call, then I can move this forward with an approval for 2 months based on our conversation

[2022-10-03 16:16] td-usds commented on #46853
Note that two of your team mates have received approval (see linked item)

[2022-10-03 16:20] joeniquette commented on #47792
Updated the devops config to use the PS value instead of the locally stored version: https://github.com/department-of-veterans-affairs/devops/pull/12039

[2022-10-03 16:23] edmund-dunn opened #47793 "Request access to Google Analytics and/or Domo"
# Request Google Analytics and/or Domo access

## What this form is for
Use this template to request access to Google Analytics and/or Domo. Please complete steps 1 & 2 below.

## 1. Access Requirements
Please check the analytics tool(s) you need access to:
- [x] Google Analytics
- [ ] Domo
- [ ] (Platform Teams only) BigQuery

## 2. User Email Address to Receive Access
**Due to privacy concerns,

[2022-10-03 16:26] RLHecht opened #47794 "Content review of 911/emergency note on MHV secure messaging tool"
## Issue Description

The health apartment team needs us to review content on the new secure messaging tool about what to do in an emergency. They need to have this content finalized before they go into their usability study.

When reviewing and editing this content, we should look at the language we use in other areas on the site when mentioning 911 and what to do in an emergency. Once we have ou

[2022-10-03 16:27] EWashb opened #47795 "Request access to Google Analytics and/or Domo"
# Request Google Analytics and/or Domo access

## What this form is for
Use this template to request access to Google Analytics and/or Domo. Please complete steps 1 & 2 below.

## 1. Access Requirements
Please check the analytics tool(s) you need access to:
- [X] Google Analytics
- [X] Domo
- [ ] (Platform Teams only) BigQuery

## 2. User Email Address to Receive Access
**Due to privacy concerns,

[2022-10-03 16:38] jenniemc commented on #45582
@outerpress @ldelacosta

Settings: facility is configured for Direct and Request enabled

This only happens when user enters TODAY as preferred date (i.e.  user enters 10/1/2022 but next available slot is on 11/22/2022)

Recommendation:
1. disallow users to enter TODAY as preferred date
2. have the calendar display the month the earliest appointment is available

<img width="349" alt="Earliest-dat

[2022-10-03 16:39] jbritt1 commented on #47374
Just to be clear, user is approved for general access and 6 months of prod access? Or ongoing? Or some other combination of access levels?

[2022-10-03 16:40] jbritt1 commented on #47401
Just to be clear, user is approved for general access and 2 months of prod access. Is that correct?

[2022-10-03 16:42] jbritt1 commented on #47235
@td-usds, are we able to grant general + lower env access to Napoleon at this time? Or is your note about Noah Stern superseding this request at this time and the thing we are moving forward with currently?

Just want to make sure I am understanding what is / is not being approved at this time.

[2022-10-03 16:48] #44604 closed

[2022-10-03 16:50] katherine-fung commented on #47188
Hi @bethpottsVADEPO,

I'm posting the working draft of the Supplemental Claims page here:

http://preview-prod.vfs.va.gov/preview?nodeId=3011

Since we last met with Danielle to talk about this page, I've moved around some of the content to get the "How do I file a Supplemental Claim?" section higher.

- The "You'll need this information to file your claim" section is now further down on the page,

[2022-10-03 16:50] katherine-fung commented on #47188
Hi @bethpottsVADEPO,

I'm posting the working draft of the Supplemental Claims page here:

http://preview-prod.vfs.va.gov/preview?nodeId=3011

Since we last met with Danielle to talk about this page, I've moved around some of the content to get the "How do I file a Supplemental Claim?" section higher.

- The "You'll need this information to file your claim" section is now further down on the page,

[2022-10-03 16:53] joeniquette opened #47796 "VSP Identity Channel Improvements"
- Formalize template (Frequently Asked Questions, documentation, error codes, etc) to act as a buffer for various questions in vsp-identity channel
- Steal support bot/implement our own support bot with the above if its just a question and not an emergency (We want people that have Auth emergencies to still be able to reach out)
- Create a formalized template of engineers who should go own rotatio

[2022-10-03 16:54] joeniquette opened #47797 "Championing Sign in Service"
- Create Service Level Agreement (SLA) for Sign in Service for mobile, additionally create one for our individual Sign in Service

[2022-10-03 16:55] joeniquette opened #47798 "Zenhub Board Improvements"
When new PM comes (or with Andrea’s input) come up with a better flow of how tickets are completed without over complicating it (aka better swim-lanes)

[2022-10-03 16:56] RWEagans opened #47799 "Offboarding of Denise Eisner"
# Instructions
Fill out name of individual and *Description* section below.

*(Please add only one individual per form)*

# Description
Please provide the following information about the individual being offboarded:
- name:

- team name:

- role on team:

- expected last day: _(9/30/2022)_

- company they work for:

- email: _(Multiple emails listed in order of relevance to VA business, VA, Compan

[2022-10-03 16:57] joeniquette opened #47800 "UX Research improvements"
- Create a list of plans & definitions around research
  - Pros/cons of what will be sacrificed if we focus on research we shouldn’t own (Login.gov)
- Meet with John R & team to find the best way forward for research

[2022-10-03 16:58] joeniquette opened #47801 "Championing DataDog"
- Get with Jessie & Kyle for DataDog (show them the best ways the Identity team has used it/copy our dashboard)
- Create more demos/write-ups/wins on how DataDog has ultimately helped us (caught bugs earlier, insights on different environments)

[2022-10-03 16:59] joeniquette opened #47802 "Docker Setup Improvements"
## Description
Update Docker setup for vets-api and improve overall documentation

## Tasks
- [x] Talk with Client about Docker hybrid setup and his recommendations (why do we have hybrid)
- [x] Update documentation on working with Docker (possibly create a YouTube/GIF on how to get setup quickly) in both vets-website and vets-api repos

[2022-10-03 17:00] joeniquette opened #47803 "Improve unit tests"
- Create unit tests that implement the Redux store to verify things are working as expected

[2022-10-03 17:03] jaredcunha commented on #22622
For testing this user, be sure to indicate that you **active duty** and that you select the link to the **BDD** form.

[2022-10-03 17:04] jaredcunha commented on #22622
@joshkimux Question about the AC. Should the `aria-describedby` attribute be removed? What's happening in VoiceOver when we add `aria-live="polite"` is that the alert content is read twice. But, if we were to remove the `aria-describedby` attribute, and the user misses the announcement when making a selection, the association between the radio option and the alert content is lost.

[2022-10-03 17:08] benbrasso-agile6 commented on #47551
@zach-park left you a comment here - https://share.goabstract.com/3f25b4c0-4404-4079-a938-367f40c4903b?collectionLayerId=4abc857d-a1d0-4559-ace0-18926d0c6ad4&mode=design

[2022-10-03 17:11] denisecoveyduc opened #47804 "Disaster Relief Alert on Debt Portal from Benefits Team 2"
## What does your team need support for? Check all that apply.
- [ ] Launching one or more new unauthenticated (static) VA.gov pages
- [ ] Making revisions to one or more existing unauthenticated (static) VA.gov page
- [ ] Launching a new online form, app, or tool on VA.gov
- [x] Making revisions to an existing online form, app, or tool on VA.gov
- [ ] Something else (please add details in the nex

[2022-10-03 17:19] k80bowman commented on #45510
@michelle-dooley I wanted to let you know that I will be passing this ticket off to @jamigibbs. I had a question about the banner specs above, though. Could I get specs for a 'nav-banner-close' event please? Thank you!

[2022-10-03 17:23] #46324 closed

[2022-10-03 17:27] benbrasso-agile6 opened #47805 "Day of check in content changes as a result of travel pay midpoint review"
## Description

As a result of midpoint review for travel pay, we received feedback that impacts the check in app, not just travel pay. Here are the updates for day of check in app.

## Tasks

- [x] The h1 on the confirmation page needs to end with a period punctuation. You're checked in.
- [x] Update design of the "check in now" box to comply with DS team. Check for resolution here - https://app.

[2022-10-03 17:30] laurwill commented on #34385
Hi @katherine-fung ! Thanks for jumping in to help with research here.
We currently have a draft page about back pay for pension and disability benefits — now we need to confirm whether a concept of "back pay" exists for other types of benefits as well.
Could you:
- Search in Github for any old tickets that mention back pay work for other benefit types?
- Search in Google for other types of VA ben

[2022-10-03 17:49] ianhundere commented on #47785
dd responded, and as i think we suspected, you have to use `named_tags.*` in order to query for these values:
"I don't completely understand why you're trying to add the named_tags.remote_ip and named_tags.request_id attribute values to the log message. You can directly search for any of the named_tags.* attributes by adding them to the search query: https://vagov.ddog-gov.com/logs?query=%40named_

[2022-10-03 17:54] denisecoveyduc commented on #47568
Hi @allison0034 Thank you for the feedback on the “other living expenses” section of the FSR experience.

The current submission experience allows Veterans to submit ‘other’ living expenses by just adding a dollar amount for that expense. We want to incorporate a way for them to also include a description for that expense as well as add more than one if needed.

As Veterans complete the form, they

[2022-10-03 18:04] #45156 closed

[2022-10-03 18:05] ianhundere commented on #47785
support suggested looking into using:
https://docs.datadoghq.com/logs/log_configuration/processors/?tab=ui#string-builder-processor

and then follow that with the message remapper. will give that a go.

[2022-10-03 18:25] shiragoodman opened #47806 "Ensure Shared Support team members have access to Platform docs/tools"
## User Story
As an accessibility specialist on the Shared Support team, I need to ensure that I have access to the necessary Platform tools/guidance so that I can support the Collaboration Cycle Staging Review.

## Description
Accessibility specialists on the Shared Support team need access to Confluence (where Collaboration Cycle Staging Review guidance is stored) and to the Staging Revew Google

[2022-10-03 18:25] shiragoodman opened #47807 "DraftingTemplate training for Staging Review"
## User Story
As the PM for Governance team, I want to train Shared Support on the Staging Review DraftingTemplate so that they can fill in for Brian on the Staging Review, if/when needed.

As an a11y specialist on Shared Support, I want to be trained in the Staging Review DraftingTemplate so that I can help fill in for Brian on the Staging Review/, if/when needed.

Assignee: @shiragoodman

## Des

[2022-10-03 18:31] GcioNapoleon commented on #47235
Because I'm the team lead I'm just trying to get access to the lower env so that I can understand the process. I don't need production access at the moment.

[2022-10-03 18:48] jwowk opened #47808 "Parameter based templates for Ad-Hoc messages"
## Description
Create parameter-based templates for ad-hoc messages for specific use-cases such as a specific message for reaching out to Veterans that require communication due to the recent PACT act.

## Dev Notes
- Existing templates that do not include parameters would not be impacted.
- Persisting parameters possible

## Level Of Effort
- Rob has determined that this may not require a large a

[2022-10-03 18:52] jwowk opened #47809 "Clinic Cancellation User Research"
Determine user pain points for Clinic Cancellations and how to increase adoption.

[2022-10-03 18:53] jwowk opened #47810 "Add Monkeypox Template to Vaccine Outreach"

[2022-10-03 18:54] kanchanasuriya opened #47811 "[BE] Setting up Monitors in VA Gov Datadog"
## User Story
As an on-call engineer in CIE team, I want to get alerted in CIE Slack APM channel if any user request fails in production so that I can work on mitigating the issue

Blocked with no access for creating monitor in VAGov Datadog Instance: https://github.com/department-of-veterans-affairs/va.gov-team/issues/47030

## Tasks
- [ ] [BE] Create monitors in vagov datadog instance
- [ ] [BE]

[2022-10-03 18:56] jwowk commented on #47810
Template - One-Way:

The VA would like to notify you that the vaccine approved for prevention of Smallpox and Monkeypox is now available.

It is given as a two-dose series, 28 days apart. For more information or to schedule an appointment, call %FACILITY_PHONE%.

[2022-10-03 18:57] loripusey opened #47812 "Add Event Widgets to GA Dashboards"
## Tasks
- Add Event Widgets to GA Dashboards (Pre-Check-in & eCheck-in)

[2022-10-03 19:12] #43354 closed

[2022-10-03 19:13] #43358 closed

[2022-10-03 19:13] #43626 closed

[2022-10-03 19:31] katherine-fung commented on #34385
Hi @laurwill,

I found a few other mentions of back pay/retroactive pay/retroactive benefits for the following programs:

**Life insurance:**
- TSGLI: "You may be able to get retroactive TSGLI (meaning that it takes effect starting from a date in the past) if you were injured between October 7, 2001, and November 30, 2005, and you meet all of the TSGLI qualifications listed above."

Source: https:

[2022-10-03 19:46] loripusey opened #47813 "[FE] Display Check-in Info when Using Pre-Check-in Link on Day of Appointment but BEFORE Check-in Window"
## User Story
As a Veteran, when I click on my Pre-Check-in link on the **day of my appointment**, but **BEFORE** the check-in window. because I think that this is how I need to check-in, I would like to see a message that tells me what I need to do to check-in.

## User Flow
- Given I
    - Have a Pre-Check-in link that was sent to me and for which there is still a UUID in LoROTA
- When I
    - C

[2022-10-03 19:50] loripusey opened #47814 "[FE] Display Check-in Info when Using Pre-Check-in Link on Day of Appointment but AFTER Check-in Window"
## User Story
As a Veteran, when I click on my Pre-Check-in link on the **day of my appointment**, but **AFTER** the check-in window. because I think that this is how I need to check-in, I would like to see a message that tells me what I need to do to check-in.

## User Flow
- Given I
    - Have a Pre-Check-in link that was sent to me and for which there is still a UUID in LoROTA
- When I
    - Cl

[2022-10-03 19:54] loripusey opened #47815 "[Design] Create Final Wireframe for Displaying Check-in Info when Using Pre-Check-in Link on Day of Appointment but AFTER Check-in Window"
## User Story
As a Veteran, when I click on my Pre-Check-in link on the **day of my appointment**, but **AFTER** the check-in window. because I think that this is how I need to check-in, I would like to see a message that tells me what I need to do to check-in.

## Tasks
- [ ] Create final mockups with callouts
- [ ] Decide: Should a content and accessibility review be part of this ticket or separ

[2022-10-03 19:57] aliyahblackmore commented on #34477
Thanks @RLHecht ! These are both ready for you.

The VA claim process after you file your claim: http://preview-prod.vfs.va.gov/preview?nodeId=870
How to file a disability claim: http://preview-prod.vfs.va.gov/preview?nodeId=905

[2022-10-03 19:57] loripusey opened #47816 "[Design] Create Final Wireframes for Check-in Info when Using Pre-Check-in Link on Day of Appointment Outside of Check-in Window"
## User Story
As a Veteran, when I click on my Pre-Check-in link on the **day of my appointment**, but **outside the check-in window**, because I think that this is how I need to check-in, I would like to see a message that tells me what I need to do to check-in and when.

There are 2 scenarios:
 - Day-of appointment but BEFORE the check-in window
     - Need new error message for Pre-Check-in tha

[2022-10-03 20:13] tmitchellgcio commented on #45453
Tested E2E with both cases of the flag being on and the flag being off

[2022-10-03 20:17] lindsay-insco commented on #45231
Being sent in daily email stats.

Rob updated code to obtain stats to resolve mismatched data. @Cmjones233 to verify data accuracy.

[2022-10-03 20:20] ajakabcin commented on #45453
Confirmed with user 11 and 21 that we're not seeing the error at the top of page

[2022-10-03 20:21] shiragoodman commented on #47640
All Platform tasks complete.

[2022-10-03 20:22] allison0034 commented on #47687
No design feedback, : )

[2022-10-03 20:24] shiragoodman commented on #47433
All Platform tasks complete.

[2022-10-03 20:25] #40998 closed

[2022-10-03 20:26] Cmjones233 opened #47817 "Emergency Management Dashboard"
- [ ] Link data

- [ ] Create dashboard dash

- [ ] Review

- [ ] Apply revisions

- [ ] Present to Shane

[2022-10-03 20:27] #47104 closed

[2022-10-03 20:27] Cmjones233 commented on #47817
These are on clinical for emergency mgmt report
smsEmergencyManagementMessageLog
smsEmergencyManagementMessage

[2022-10-03 20:31] #42511 closed

[2022-10-03 20:44] lindsay-insco commented on #46754
Rob unable to reproduce

[2022-10-03 20:45] lindsay-insco commented on #43912
Review with Shane

[2022-10-03 20:47] lindsay-insco commented on #41241
@chancetheoriginal - Is this still an issue?

[2022-10-03 20:47] #46331 closed

[2022-10-03 20:47] aarathi-poldass commented on #45809
After [VAOSR-4454](https://issues.mobilehealth.va.gov/browse/VAOSR-4454) was fixed by the HSRM team, We were able to test 2 remaining scenarios from the above Comment:
**Scenario 1:** Enter a CC request in VAOS and process the request with the required specialty and validate the flow - **PASS**
**Scenario 2:** Enter a CC request in VAOS and process the request with a different specialty and valida

[2022-10-03 20:52] rmessina1010 commented on #44530
This update is now live  in the developer docs. Closing  issue.

[2022-10-03 21:47] benbrasso-agile6 commented on #44110
Presentation

https://docs.google.com/presentation/d/1Tm_QGLIMIYXbgseGGxSiYRN7oMj1jZHyq-ytAaM692E/edit?usp=sharing

Need to create the markdown in git and update the research repo ticket

[2022-10-03 22:21] zach-park commented on #47551
@benbrasso-agile6 updated the padding, apologies!

[2022-10-03 22:29] aarathi-poldass commented on #46903
After VAOSR-4454 was fixed by the HSRM team, we were able to test 2 remaining scenarios from the above Comment:
Scenario 1: Enter a CC request in VAOS and process the request with the required specialty and validate the flow - PASS
Scenario 2: Enter a CC request in VAOS and process the request with a different specialty and validate the flow - PASS

@ldelacosta this passes testing. No issues to re

[2022-10-03 22:37] aliyahblackmore commented on #46880
Hi @megzehn - this is ready for you! I did  scan of the page as well and removed any text that is no longer on the live English page and made a few other small changes.

Preview link: http://preview-prod.vfs.va.gov/preview?nodeId=14580

**Notes/Flags:**
1. In accordion “¿Puedo ahora recibir la vacuna contra COVID-19 en el VA?” changed the text about FMP to match what is on the main COVID-10 page.

[2022-10-03 23:32] rmessina1010 commented on #44437
Addendum:
My last commit confirms that many  that  the `cy.wait()` errors are caused by `cy.intercept('GET', '/v0/feature_toggles*'...`
Making the test conditional and checking to see if a sessionStorage object has been set; intercepting the endpoint only if it has not resolves the issue for that particular test.

e.g.:
[code]
Note that for thoroughness the session storage object should be retriev

[2022-10-04 02:04] tlei123 commented on #44341
Upgraded cy-tr-reporter to v1.2.8 &mdash; reports [successfully pushed to TestRail](https://dsvavsp.testrail.io/index.php?/runs/overview/4) [see **Monday, October 03, 2022**].

[2022-10-04 13:10] loripusey opened #47818 "Travel Reimbursement - Enhancement Round 1"
## Background
[Research study](https://docs.google.com/presentation/d/1Tm_QGLIMIYXbgseGGxSiYRN7oMj1jZHyq-ytAaM692E/edit#slide=id.g15d82b1b860_0_114)

## Ideas
- Talk to the Travel Reimbursement Business and BTSSS API partners about finding a way to check a Veteran’s travel reimbursement eligibility prior to them submitting a claim and making that function available within the online travel reimbur

[2022-10-04 13:18] RLHecht commented on #34477
Thanks, Aliyah. I reviewed and published these. Will close once live.

[2022-10-04 13:34] michelle-dooley commented on #47799
Removed GA, no Domo.

[2022-10-04 13:37] michelle-dooley commented on #47795
Access granted.

[2022-10-04 13:37] #47795 closed

[2022-10-04 13:39] Samara-Strauss commented on #46744
Now that my brain is back online and no long in Friday-mode, I've had time to do a little more thinking about this. I want to make sure that we *should* pursue this work, not just that we can. Here is what I understand so far:

- Right now, we get `service_type`, but we don't distinguish between `Academy Attendance` or `Military Service`. Going forward, we have the opportunity to do that.
- Howeve

[2022-10-04 13:40] michelle-dooley commented on #47793
Access granted.

[2022-10-04 13:40] #47793 closed

[2022-10-04 13:48] michelle-dooley commented on #47752
Access granted.

[2022-10-04 13:48] #47752 closed

[2022-10-04 13:53] ajmagdub commented on #47650
The facility timezone lookup can be performed in Vets API. The VAOS::V2::AppointmentsService#post_appointment method can be modified, so that facility information is retrieved using the VAOS MobileFacilityService class. In the facility information is the facility's time zone. The desired date can then be modified within the post's body using the timezone if the appointment is directly scheduled, k

[2022-10-04 13:57] michelle-dooley commented on #46893
Hey @jimuhh - just following up on this, if you still need access please provider your email address per the instructions in Step 2 above.   Thanks.

[2022-10-04 13:58] michelle-dooley commented on #47689
No GA or Domo.

[2022-10-04 13:59] michelle-dooley commented on #47735
@megansiddle - thank you for submitting.  We will review as part of grooming this week and get back to you on eta.

[2022-10-04 14:02] michelle-dooley commented on #47760
@jacobworrell - thank you for your submission.  We will review as part of grooming this week and get back to you with timing.

[2022-10-04 14:08] laurwill commented on #47657
Thanks @katherine-fung and @megzehn ! I see you were able to fit in the hours after all — I just made one more tiny tweak so that the Ask VA link was closer to the "contact us online" option in that last paragraph.

I've sent this to stakeholders for review.

[2022-10-04 14:17] #46671 closed

[2022-10-04 14:18] kristenmcconnell commented on #47282
I believe that this process will evolve. For instance, I still need to meet with Shane Strassberg to talk through a VSignals taxonomy for the research repo. However, the process that I think will work for now has been added to [GitHub](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/checkin/research/VSignals/README.md). I can take on next sprint's ana

[2022-10-04 14:20] RLHecht opened #47819 "Sprint 84 stakeholder requests for Sitewide Content and IA"
This epic is to track all incoming stakeholder requests during Spring 84.

[2022-10-04 14:21] RLHecht commented on #34477
Pages are live. Closing ticket.

[2022-10-04 14:21] #34477 closed

[2022-10-04 14:21] ScottyRJames opened #47820 "Other income populating for Veteran & Spouse"
## Issue Description
We've noticed instances of the income populating for both a veteran and a spouse when it should just be for the Veteran. This seems to only happen with manually inputted data and has happened when the Veteran doesn't have a spouse.

---
## Tasks
- [x] Determine cause for duplication
- [x] Only show income for Veteran

## Acceptance Criteria
- [ ] We have removed duplicate valu

[2022-10-04 14:22] #47282 closed

[2022-10-04 14:22] tmitchellgcio commented on #45453
Since this is confirmed @ajakabcin should we get @tpharrison to turn on the feature in prod? I believe he said the feature is not flipped in prod

[2022-10-04 14:24] ScottyRJames opened #47821 "Content of additional information in FSR is getting cut off"
## Issue Description
Determine the max character length achievable in this field and specify.

---
## Tasks
- [x] Determine max character length
- [x] Update PDF fill with specification
- [x] Test VBS API submissions with max content

## Acceptance Criteria
- [ ] We accept large bodies of content within additional information
---
## How to configure this issue
- [ ] **Attached to a Milestone** (wh

[2022-10-04 14:24] ScottyRJames commented on #47676
duplicate

[2022-10-04 14:24] #47676 closed

[2022-10-04 14:27] ScottyRJames opened #47822 "Always use SSN for File No field in FSR for VHA"
## Issue Description
VHA has requested to use SSN for the file number field as they do not use VA file numbers.

---
## Tasks
- [ ] Update VHA submission to contain SSN for every request
- [ ] Keep VA file number for DMC

## Acceptance Criteria
- [ ] VHA submissions always contain SSN in file number section
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be com

[2022-10-04 14:28] andreahewitt-odd opened #47823 "Adding Jae Kwon to DSVA Slack"
# Description

**new user requests**: please verify that the user does not already exist in dsva.slack.com (it may be the account exists, but is not in a particular channel)

<describe the request>

Are you requesting to add an individual as a:

- Full member

- Please add jkwon@thesocompany.com a full member.

[2022-10-04 14:29] ScottyRJames opened #47824 "Current employment not populating in VHA FSR"
## Issue Description
VHA has found a case where they can see two employment histories but only the past was present within the FSR PDF.

---
## Tasks
- [ ] Replicate use case
- [ ] Fix to fill current employment

## Acceptance Criteria
- [ ] We show all employment history on PDF
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to

[2022-10-04 14:32] jbritt1 commented on #47799
/request Denise Eisner

[2022-10-04 14:39] jbritt1 commented on #47799
Not found in Confluence
Not found in VFS team roster
YubiKeys not applicable
No PagerDuty
No Datadog
No Sentry
No AWS
Removed SOCKS
GitHub org removal: https://github.com/department-of-veterans-affairs/github-user-requests/issues/12784

[2022-10-04 14:40] #47799 closed

[2022-10-04 14:43] #36064 closed

[2022-10-04 14:43] #38909 closed

[2022-10-04 14:43] #38910 closed

[2022-10-04 14:45] #46306 closed

[2022-10-04 14:48] ajakabcin commented on #45453
@tmitchellgcio yes - I'll follow up in slack

[2022-10-04 14:52] laurwill commented on #47658
Thanks @katherine-fung !
Could you try adjusting to:
-  get "O*NET Interest Profiler" into the H1
-  mention the switch from CareerScope in the intro

ONET has some search volume so it makes sense to keep it in the title, and I think "take a career assessment" sounds like we might offer several options for assessments, or like it's an official VA resource. I also started adjusting to make the ONET

[2022-10-04 14:57] #46276 closed

[2022-10-04 15:00] laurwill commented on #46001
Hi @megzehn ,

We're still waiting on final approval to publish, but all the actual content has been approved — I think you could go ahead with the final copyedit and prepub checklist, and just hold on publishing until I hear back from Heather (likely later today). Thanks!

[2022-10-04 15:09] RLHecht commented on #47260
Closing out. Copyediting will be done before publishing all the rates pages.

[2022-10-04 15:09] #47260 closed

[2022-10-04 15:09] zach-park commented on #47567
The card UI style is updated. Also, the button (wihtin the card) is flushed left and right side as shown below:

![card_button3.png](https://images.zenhubusercontent.com/6155d02ed6dc2cbaa5d23b32/98c5d7c9-0528-4d43-933c-15c5ae642631)

[2022-10-04 15:17] #45945 closed

[2022-10-04 15:21] shiragoodman opened #47825 "Clean up comments in Collaboration Cycle operational guidance"
## User Story
As a Governance team member, I want to be able to follow directions without navigating comments so that I can complete my task quickly and efficiently.

Assignee: @allison0034
Peer Reviewer: @CherylEvans

## Description
There are many comments piling up in the Collaboration Cycle operational docs in Confluence. The purpose of this ticket is to read through them all, identify if there

[2022-10-04 15:23] jaredcunha commented on #47457
@joshkimux Similar to my comment in [#22622](https://github.com/department-of-veterans-affairs/va.gov-team/issues/22622#issuecomment-1265759243), curious what the preference is between using `role="status"`/`aria-describedby` reading the text twice.

[2022-10-04 15:35] CherylEvans commented on #47687
No Content feedback, looks great!

[2022-10-04 15:35] pjhill commented on #47687
No QA feedback -- looks neat!

[2022-10-04 15:55] denisecoveyduc commented on #46668
As per discussion on 10/4, @mgleo @briepipitone will review the direction moving forward.
related to #22855

[2022-10-04 15:55] OptionSelect commented on #22855
https://app.zenhub.com/workspaces/vsa---debt-607736a6c8b7e2001084e3ab/issues/department-of-veterans-affairs/va.gov-team/22855
Link to previous CC Bill breakout ticket

[2022-10-04 15:59] RLHecht commented on #46879
Changes are live. Closing ticket.

[2022-10-04 15:59] #46879 closed

[2022-10-04 16:05] rlyons89 commented on #47200
Hey @mnorthuis, following up on the IA doc, let us know if we should be looking for it somewhere else, thanks.

[2022-10-04 16:05] RLHecht opened #47826 "Swap out videos in COVID CLP-HOLD TO PUBLISH UNTIL WEEK OF 10/17/22"
We need to swap out the videos in the stories section of the CLP to these 2 Veterans:

Robert Bonner: https://www.youtube.com/watch?v=wMVj5kYn8ps
Ronald Pipkins: https://www.youtube.com/watch?v=jpykh5DMZb8

Drupal Page: Have questions before you get your COVID-19 vaccine? http://preview-prod.vfs.va.gov/preview?nodeId=19578

Documentation for how to swap videos: https://github.com/department-of-vet

[2022-10-04 16:06] brianseek opened #47827 "[FE] Need Help Section Updates for Day-of Check-in"
## Release
This will be in a branch separate from the rest of the travel pay work, which is behind a feature flag.

## Description
Update Footer on day of pages to match footer in linked mock.
update footer for check-in confirmation page to have additional travel pay information.

## Wireframes
- [abstract](https://share.goabstract.com/6b69924f-904b-4d78-b5a1-4c40ed65e4d2?collectionLayerId=bbf2ae3

[2022-10-04 16:19] brianseek opened #47828 "[FE] [TECH DEBT] - data persistence and place saving"
## Description
Currently when a user reloads the app at any point before completion, they are taken back to the start and none of their answers are remembered. With Travel Pay adding 4 additional answers, we may want to look at ways to persist answer data for a session.

Mark had done a POC that also retained data for the full-auth edit work: https://github.com/department-of-veterans-affairs/vets-

[2022-10-04 16:19] brianseek opened #47829 "[FE] [TECH DEBT] - data persistence and place saving"
## Description
Currently when a user reloads the app at any point before completion, they are taken back to the start and none of their answers are remembered. With Travel Pay adding 4 additional answers, we may want to look at ways to persist answer data for a session.

Mark had done a POC that also retained data for the full-auth edit work: https://github.com/department-of-veterans-affairs/vets-

[2022-10-04 16:20] brianseek opened #47830 "[FE] [TECH DEBT] - data persistence and place saving"
## Description
Currently when a user reloads the app at any point before completion, they are taken back to the start and none of their answers are remembered. With Travel Pay adding 4 additional answers, we may want to look at ways to persist answer data for a session.

Mark had done a POC that also retained data for the full-auth edit work: https://github.com/department-of-veterans-affairs/vets-

[2022-10-04 16:31] joeniquette opened #47831 "Investigate VIC display"
See email sent on 10/4/22. It references an error in redirection from va.gov to the wrong version of the vic app on the eauth side.

[2022-10-04 16:34] bramleyjl opened #47832 "Add Backend Info to Identity Onboarding"
## Description
The [Identity Team Onboarding document](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity/New%20Team%20Member%20Onboarding.md) should be updated with relevant information for new Backend Engineers.

## Document Information
- [x] SSOe
- [x] SiS
- [x] creating & maintaining mocked user data
- [x] common terminal/rails commands
- [x] LoA & IAL

[2022-10-04 16:41] jbritt1 commented on #47585
Relevant ATO control around publicly accessible content: https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/blob/master/ATO/controls/AC/Readme.md

[2022-10-04 16:43] jbritt1 commented on #47585
Currently, Review Instances are routed to via a bind/named configuration that lives specifically in the SOCKS proxy EC2 instance using a "vetsgov-internal" zone https://github.com/department-of-veterans-affairs/devops/blob/master/ansible/deployment/config/jumpbox/templates/vetsgov.named.conf.j2.

[2022-10-04 16:44] humancompanion-usds commented on #9113
We have web components for buttons and links now. There are no icons in buttons currently. We do have links that include icons and those do hide the icons from screen readers. Closing.

[2022-10-04 16:44] #9113 closed

[2022-10-04 16:55] andreahewitt-odd opened #47833 "Adding sara sterkenburg to DSVA Slack"
# Description

- Please add sara.sterkenburg@adhocteam.us as a full member.

[2022-10-04 16:56] RLHecht commented on #47206
Changes are live. Closing ticket.

[2022-10-04 16:56] #47206 closed

[2022-10-04 17:04] #47665 closed

[2022-10-04 17:07] bethpottsVADEPO commented on #44011
@katherine-fung Thanks so much for your work on this. Here's my feedback on the duty to assist article. You can build it out in drupal and we'll see how it looks! Thanks so much, and let me know if you have questions about what I did. Sometime I'd like to explain how I came back around to using the broader H1. Let's find time--it was a process! Also, I answered the above questions in the Word doc.

[2022-10-04 17:13] joshkimux commented on #22622
@jaredcunha ooph, this is a tricky one. If this information is important, I wouldn't rust `aria-live="polite"` on its own to get the job done (just in case it's accidentally missed the first time). Using `aria-describedby` will keep the association, even if the user returns to this page (and `aria-live="polite"` isn't triggered).

[2022-10-04 17:17] joshkimux commented on #47457
@jaredcunha Again, this is really tricky and will require some subjective takes (unless we can do testing with actual screen reader users).

If this information is important, I think it may be worth keeping `aria-describedby` even if it makes the experience more verbose as at least it will be programmatically linked to the radio buttons (permanently, not temporarily announced).

If it's not import

[2022-10-04 17:20] jcatergovy commented on #46278
@SKasimow This issue is now in staging and ready for your review.

[2022-10-04 17:21] ianhundere commented on #47785
if we can't retain the log msg then we can just go forward with using the attribute search option and build out some basic documentation on how to use dd logs to send out to the necessary parties:
https://github.com/department-of-veterans-affairs/va.gov-team/issues/42770#issuecomment-1195758952
^ initial seeds for docs + `@named_tags.*` etc

[2022-10-04 17:25] jbritt1 commented on #47585
One _potential_ avenue for publicly accessible review instance URLs could be by leveraging the reverse proxy. A working example of that at this time would be the Pact Broker service. One can see here how that configuration works: https://github.com/department-of-veterans-affairs/devops/blob/master/ansible/deployment/config/revproxy-vagov/templates/nginx_website_server.conf.j2#L98-L116.

This allow

[2022-10-04 17:27] SKasimow commented on #46278
Looks good @jcatergovy. I validated with user 126.

[2022-10-04 17:47] megzehn commented on #46880
Thanks @aliyahblackmore! Your changes all make sense to me.

I'll echo that the line below is missing, for when we send the next round of update requests. Although I don't think it's a super high-priority need, since there's a link that directly follows for people to send a secure message to their provider.

In accordion, “¿Qué debo saber sobre las citas y remisiones de atención comunitaria? This

[2022-10-04 17:48] megzehn commented on #46880
@RLHecht this is now published and ready for validation. Thanks!

[2022-10-04 17:53] shiragoodman commented on #47687
FYI @caw310 - I'll be adding all of your Design System staging's for this quarter to epic #47486 . This is our Collab Cycle support epic for FY23-Q1. It'

[2022-10-04 17:55] joeniquette commented on #46735
This is with QA standards. Once the appropriate changes are made then we can re-engage on the issues (lack https).

[2022-10-04 17:55] #46735 closed

[2022-10-04 17:57] JRRoof commented on #45809
Closing ticket.  All scenarios passed.

[2022-10-04 17:57] #45809 closed

[2022-10-04 17:58] JRRoof commented on #46903
Closing ticket.  All scenarios passed.

[2022-10-04 17:58] #46903 closed

[2022-10-04 17:59] mydesignrocks commented on #47401
@jbritt1 looks like @td-usds approved it for a temporary 2 month period. If so, is the process still the same with onboarding a new user to AWS? or anything different and if it is the same, which group does this user fall under?

[2022-10-04 17:59] eli-oat commented on #47726
@shiragoodman I've been working on a way to summarize some of what we've spoken about. I've tried to summarize that here -- this is probably better served as a document one day, but wanted to share here for initial review.

***

A document describing how the Governance Team and Shared Support work together through the Collab Cycle.

Shared Support’s role within the Collab Cycle is to **identify an

[2022-10-04 18:02] data-doge commented on #47435
Merged two PRs adding additional logging/monitoring to help us diagnose this issue. https://github.com/department-of-veterans-affairs/vets-api/pull/10811; https://github.com/department-of-veterans-affairs/vets-api/pull/10826

[2022-10-04 18:09] allison0034 commented on #47655
@jimuhh this is ready for a peer review. You can see the changes on the [copy contact us page](https://vfs.atlassian.net/wiki/spaces/PWD/pages/2391048193/Copy+of+Contact+us) and once you approve I will move to production. You can check the emails by using the group emails in an email.

[2022-10-04 18:11] jbritt1 commented on #47401
It honestly isn't clear to me which part / what is approved for the user....

If approved for general access, I personally would give Noah the groups previously used by the AFS team like Jacob Finnern here: https://github.com/department-of-veterans-affairs/devops/blob/master/terraform/environments/global/iam_users.tf#L704-L713. Noah and team aren't AFS I don't believe, so a new group will likely n

[2022-10-04 18:11] #43498 closed

[2022-10-04 18:11] #43493 closed

[2022-10-04 18:12] #43396 closed

[2022-10-04 18:12] #43394 closed

[2022-10-04 18:12] #43395 closed

[2022-10-04 18:12] jimuhh commented on #47655
Hi @allison0034 Sounds good. i'm waiting to board return flight at Orlando but will look into it tomorrow AM.

[2022-10-04 18:14] mydesignrocks commented on #47401
me neither, I didnt quite understand on whats approved and whats not for this user

[2022-10-04 18:14] RLHecht commented on #47519
This has been published. Closing ticket

[2022-10-04 18:14] #47519 closed

[2022-10-04 18:16] nfstern02 commented on #47401
There was a guy from AFS named Patrick Arthur. I need to have access similar to his at least with respect to the instances that pertain to EDU GIDS Institution Builder and Geocoder process. Prod 2 months, staging open ended?

[2022-10-04 18:16] andreahewitt-odd opened #47834 "2023 Q1 Technical debt reduction"
Link your team's technical debt reduction activities grouped in no larger than a quarter-sized epic as a sub-epic. In your team's epic, set the timeline, document estimation, and add epic and issue dependencies where applicable.

[2022-10-04 18:17] nfstern02 commented on #47401
AFS was the prior subcontractor that rolled off, so there's nobody on my team that can be used as a model to clone.

[2022-10-04 18:18] jaredcunha commented on #22622
@joshkimux [Check this out](https://bugs.chromium.org/p/chromium/issues/detail?id=946653). I guess add a little more weirdness to it, when `aria-describedby` content updates, Chromium treats it like a live region. Might need to dig into this a little more, but i wonder if we might have use both attributes and put with with the double reading? I'll have to test this with other browsers.

[2022-10-04 18:18] #46848 closed

[2022-10-04 18:19] vsaleem opened #47835 "AWS access for Victoria Saleem"
### COR Name

Other - please specify in 'Additional Notes'

### Vendor Onboarding Representative Name

Other - please specify in 'Additional Notes'

### Your Name

Victoria Saleem

### Your Email

victoria.saleem@va.gov

### Team, Role, and Company of the target individual

MHV Secure Messaging, Software Engineer, By Light Professional IT Services

### Product Manager (PM) name and email

Lichelle

[2022-10-04 18:19] RLHecht commented on #47741
This is now live. Closing!

[2022-10-04 18:19] #47741 closed

[2022-10-04 18:21] allison0034 commented on #47687
Here is the [zoom recording](https://oddball-io.zoom.us/rec/share/-i2nJ4mMuJedWNmmbiU580r6fax2ci8vu1dLzkKdE5-AOHB4_Fn1voLAeUYhSIRM.1csHQHn86LPX0-aF) and Passcode: 8V8t&06*

[2022-10-04 18:29] loripusey opened #47836 "[Design] Create Final Wireframes for Card Style at Tablet Width"
## Tasks
- [x] Create final mockups with callouts
- [ ] Decide: Should a content and accessibility review be part of this ticket or separate tickets due to scope?

## Acceptance Criteria
- [ ] UI review meeting with product/UX team for feature capabilities
- [ ] UI review meeting with engineering for layout and callouts (can be the same meeting as above)
- [ ] Wireframe available on Sketch Cloud
-

[2022-10-04 18:30] andreahewitt-odd opened #47837 "2023 Q1 Security and compliance"
Link your team's security and compliance activities grouped in no larger than a quarter-sized epic as a sub-epic. In your team's epic, set the timeline, document estimation, and add epic and issue dependencies where applicable.

[2022-10-04 18:31] #47828 closed

[2022-10-04 18:32] katherine-fung commented on #47658
Hi @laurwill,

Thanks for chatting with me as I updated the draft! Here's the updated page for your review:

http://preview-prod.vfs.va.gov/preview?nodeId=49817

[2022-10-04 18:32] andreahewitt-odd opened #47838 "2023 Q1 Operations and maintenance"
Link your team's internal operational activities grouped in no larger than a quarter-sized epic as a sub-epic. In your team's epic, set the timeline, document estimation, and add epic and issue dependencies where applicable.

2022 Q3 Operations and maintenance hasno dependencies

[2022-10-04 18:37] andreahewitt-odd opened #47839 "2023 Q1 Service delivery"
Link your team's ongoing services that involve customer interaction with the VFS teams grouped in no larger than a quarter-sized epic as a sub-epic. In your team's epic, set the timeline, document estimation, and add epic and issue dependencies where applicable.

[2022-10-04 18:59] pjhill commented on #47572
Stakeholder Interview Guide draft has been created [here](https://vfs.atlassian.net/wiki/spaces/TT4/pages/2396094503/Stakeholder+Interview+Guide).

[2022-10-04 19:06] joeniquette opened #47840 "add acr value to logingov callback statsd"

[2022-10-04 19:07] #46201 closed

[2022-10-04 19:07] joeniquette commented on #46201
- scope: logingov and idme only
- Two options, dev mocking or staging automated in DD
- constraints:
  - manual step required for phone verification with logingov, with MFA setup
    - a real phone must receive a real unique code
    - logingov requires you to click on a link in an email during the loa1 account creation process
 - idme there really is not manual intervention required, just unique

[2022-10-04 19:08] SKasimow opened #47841 "FE | Profile | DD | Fiduciary Flag Needs to Gate All of Profile"
## Background

Currently if a user is flagged with a deceased/fiduciary/incompetent flag they are unable to access the Direct deposit section of their account. However, we should be blocking access to the rest of the Profile site since any changes made won't actually get updated when this flag is in place.

More background can be found here:

## define custom event

## Tasks
- [x] If a fiduciary f

[2022-10-04 19:10] SKasimow commented on #44390
Closing this; have opened a new ticket #47841

[2022-10-04 19:10] #44390 closed

[2022-10-04 19:12] laurwill opened #47842 "Covid FAQ updates — Claim exams"
## Issue Description
We need to update the [Covid FAQ page](https://www.va.gov/coronavirus-veteran-frequently-asked-questions/#claims-and-applications) to reflect that in-person claim exams are now available everywhere.

---
## Tasks
- [x] Suggest updates and sections to remove (Laura)
- [x] Review (Danielle)
- [x] Send to stakeholders (Laura)
- [x] Copyedit with prepub (Megan)
- [x] Publish (Mega

[2022-10-04 19:12] #46880 closed

[2022-10-04 19:12] RLHecht commented on #46880
This is now live. Closing!

[2022-10-04 19:19] mgleo commented on #47339
Question: [Resolution options](https://preview.uxpin.com/552e9ad135f7d7ee943a92576feab45190b069f4#/pages/150789115/comment/sitemap,comments/632486e6a0c0110051a8bbb1?mode=i) Accept, Approve, or Receive?

Additional comments were made during demo on 10/4/22

[2022-10-04 19:20] laurwill commented on #47842
Documenting suggested updates from Heather (claim exams stakeholder):
- Is VA still doing claim exams? Update to reflect both VA medical facilities and contract examiners are conducting examinations without restrictions. Remove "if we can't conduct the exam in person" content.
- For the 3 Qs in screenshot below, "recommend reaching out to OFO/OPO to gain clarity as to the regional office openings/

[2022-10-04 19:23] ajakabcin commented on #45453
Reopening this - seeing user 11 again in staging with the error at the top of the page. Confirmed yesterday that user 11 was correctly only showing the alert within the benefit payments section, but now it's displayed within the section and at the top of the page again:
![Screen Shot 2022-10-04 at 3 13 48 PM](https://user-images.githubusercontent.com/45603961/193907531-2a9c5f36-5e65-4947-8d59-14cb

[2022-10-04 19:34] #46724 closed

[2022-10-04 19:35] Samara-Strauss commented on #46744
@tpharrison did you mean to close this ticket?

[2022-10-04 19:44] mgleo commented on #47342
Wizard currently shows the following info for copays:
![Screen Shot 2022-10-04 at 3.43.31 PM.png](https://images.zenhubusercontent.com/5f91de193a0ac23f49d7bf89/6768b74c-5a68-4e01-b92c-764bc8e0011d)

[2022-10-04 19:58] mgleo commented on #46668
[Unpaid credit card debt](https://preview.uxpin.com/552e9ad135f7d7ee943a92576feab45190b069f4#/pages/145377492/simulate/sitemap?mode=i) should be separate from [Your installment contracts and other debts](https://preview.uxpin.com/552e9ad135f7d7ee943a92576feab45190b069f4#/pages/145482543/simulate/sitemap?mode=i) as users were confused by 'original contract or debt amount' and 'date debt began' in r