[2020-11-18 19:43] digitalken commented on #14725
Added to TestRails.

[2020-11-18 19:43] #15854 closed

[2020-11-18 19:47] jenniferlee-dsva commented on #15375
Here is a validated table on a benefit hub page. Validated and closing.

![image.png](https://images.zenhubusercontent.com/5bb2975c143b4d2ee7a35ef6/4add1793-8a0a-4991-b062-e4c2d2d0df5a)

[2020-11-18 19:47] #15375 closed

[2020-11-18 19:48] #15682 closed

[2020-11-18 19:48] lexicalninja commented on #16284
11/18:
Emailed the three engineers listed above with a request for assistance or referral to someone that might help.

[2020-11-18 19:55] jenniferlee-dsva opened #16369 "Add dynamic back to top feature to the other RS article templates"
## This back to top feature appears to have been implemented only on the multiple FAQs template, but it is supposed to be implemented on all article templates.

- [ ] Single Q&A desktop + mobile
- [ ] About desktop + mobile
- [ ] Step-by-step desktop + mobile
- [ ] Checklist desktop + mobile
- [ ] Images desktop + mobile

_I'm not including Videos on this list because Videos template is iceboxed f

[2020-11-18 19:55] emilywaggoner commented on #16230
@ricetj Hey TJ! Would you be able to post some screenshots of the pages needing review from the preview link? Some of us do not have the SOCKS proxy set up to be able to view it.

[2020-11-18 19:56] MarciMcGuireGCIO opened #16370 "Yellow Ribbon Analytics Discovery"
## Issue Description
Determine user behavior, actions, analytics metrics we want to track in the Yellow Ribbon schools search tool

---
## Tasks
- [ ] What questions do we need answered?
- [ ] What metrics do we need to capture so that we can show improvement?

## Acceptance Criteria
- [ ] We will have a curated list of questions that we want to be able to answer with Google Analytics
- [ ] We wil

[2020-11-18 19:57] digitalken commented on #14803
Displaying mock data as expected.  Moving to Design QA.

[2020-11-18 20:00] timwright12 commented on #16094
PR: https://github.com/department-of-veterans-affairs/vets-website/pull/14997

[2020-11-18 20:09] bsmartin-ep commented on #13404
@leahkeeler -

Here's a first pass at your Debt Letter KPI dashboard using our non-production Google Analytics:

https://va-gov.domo.com/page/74130670

Let me know if you have any questions about what data is going into these cards and if you have any opinions on how you would like this data visualized.  Line graph, bar chart, data table?  A combination of these?

@bradl3yC - I noticed you were no

[2020-11-18 20:09] mpelzsherman opened #16371 "Map markers at the same location overlap each other"
## What happened?
Search for VA facilities in 10538 zip code. Note that several overlapping markers are created for the same address.

## Desired behavior
We should use [marker clustering](https://docs.mapbox.com/mapbox-gl-js/example/cluster/) to indicate the presence of multiple markers.

## Acceptance Criteria
- [ ] Multiple markers at the same location are rendered as a cluster. When clicked, t

[2020-11-18 20:10] indytechcook commented on #16074
@theodur not that I know of.  Is this something you have just noticed?

[2020-11-18 20:13] LeKeve commented on #16110
@RLHecht That may well be the case. The daily release was deployed a few minutes ago and after refreshing the preview page I'm seeing the updates.

[2020-11-18 20:14] Mottie commented on #3825
We haven't addressed this yet. Should I rename the event data names from "different office" to "same office"?

![Screen Shot 2020-11-18 at 2 11 29 PM](https://user-images.githubusercontent.com/136959/99582850-48597980-29a8-11eb-9169-01e708bc5420.png)

[2020-11-18 20:14] mmiddaugh opened #16372 "[DISCOVERY] Evaluate Campaign Landing page template for use with Vet Center product"
## Issue Description
We are trying to solve for a fundamental lack of awareness about Vet Centers, the services they offer, and how they are different from the services offered at medical centers.

The Campaign Landing template may be an opportunity for this centralized information.

---
## Tasks
- [ ] Evaluate the [Campaign Landing page template](https://github.com/department-of-veterans-affairs/

[2020-11-18 20:16] jbalboni commented on #15103
I'm currently unable to reproduce this on my own, working with @1Copenut to see if we can figure out what's going on.

[2020-11-18 20:16] jonwehausen commented on #13167
Prefix for CH36: `-careers-28-8832-`

[2020-11-18 20:19] indytechcook commented on #16074
@theodur recently `field_datetime_range_timezone` was added to replace `field_date`.  I haven't looked at that node json yet but I assume the transformer needs to be updated to use `field_datetime_range_timezone` instead of `field_date`.  The new field adds the ability to add timezones.  I know the frontend templates are already using the new field.

[2020-11-18 20:20] msmanak commented on #15974
Spoke with Peter from the VAOS team. Their current model is that they do not separate CC and VA hospital appointment error states so if one is missing it will be a generalized message stating that not all appointments will be displayed. I asked if this could change in the future as they are revamping their scheduling and it's not in their pipeline. He will send me the screenshot of the error state

[2020-11-18 20:23] LindseySaari opened #16373 "CircleCI - Modify FE CI to include a workflow that can be triggered via API call from vets-api CI"
## Issue Description
The vets-website deploy check in CircleCI polls on the verification status, but it was decided that triggering pipelines between projects is the optimal solution to avoid polling.

In V1 of the CircleCI API, you could trigger specific jobs, but that's no longer the case in V2. FE will need to refactor the Circle config to wrap the can-i-deploy check in a workflow.

Correspondi

[2020-11-18 20:26] MarciMcGuireGCIO opened #16374 "Discovery to size issue 11453"
## Issue Description
@zacharymorel takes the time to do any further technical discovery and ramp up needed to accomplish [11453](https://github.com/department-of-veterans-affairs/va.gov-team/issues/11453) before Sprint 36.

---
## Acceptance Criteria
- [x] Personal understanding of the existing data contract and user story/ additional work dependencies.
- [x] If needed, report any additional work

[2020-11-18 20:27] RLHecht commented on #16110
@LeKeve I see it now too! I noticed that the text that was in the blue box is no longer there. Should I put that in as rich content on our end?

[2020-11-18 20:30] ricetj commented on #16230
Hello @emilywaggoner, here is a screenshot:
<img width="449" alt="Screen Shot 2020-11-18 at 3 27 23 PM" src="https://user-images.githubusercontent.com/49173478/99584313-c9b60980-29b2-11eb-9f12-be7fa26a0bb2.png">

Also, here are the mockups if you are interested: https://github.com/department-of-veterans-affairs/va.gov-team/issues/14279#issuecomment-722454068

[2020-11-18 20:32] ricetj commented on #16230
Here is another with the learn more accordion expanded. <img width="343" alt="Screen Shot 2020-11-18 at 3 31 13 PM" src="https://user-images.githubusercontent.com/49173478/99584569-20234800-29b3-11eb-8388-24946a41f91e.png">

[2020-11-18 20:35] mmiddaugh commented on #15131
apologies....[DRAFT] removed from issue title

[2020-11-18 20:38] theodur commented on #16074
@indytechcook Thanks for confirming! I'll make the appropriate changes to the transformer.

[2020-11-18 20:41] YanaRoy opened #16375 "Add new employees and BAM1 stakeholder to DSVA Slack as Full Members"
Hello! We have two new hires who started this week on the VSA Project. Can you please add them as a full members to the DSVA Slack.
Email: rtafoya@governmentcio.com AND skasimow@governmentcio.com

Also, BAM1 has a stakeholder they would like to have added to the DSVA slack: barrett.cooper@va.gov

Thank you!!!

[2020-11-18 20:42] jonwehausen commented on #13060
@cohnjesse Thanks again for your time today and volunteering here, we greatly appreciate it!

Per our conversation, our goal is to standardize our specification into the platform wizard code for fast-tracked deployments of analytics for how to wizards moving forward (similar to our forms library events today).

Please reference [this specification](https://github.com/department-of-veterans-affairs

[2020-11-18 20:44] mmiddaugh commented on #15132
@davidconlon to review the week of Nov 23

[2020-11-18 20:46] jenniferlee-dsva commented on #15618
Correction - just tb w/ Ryan - he says design will stay with pagination for Images article template - desktop and mobile. @youngfreezyVA fysa.

@rtwell - please drop mobile design here for Fareez. Tyvm.

[2020-11-18 20:46] indytechcook commented on #16074
Also, sorry for not informing you before.  There is so much going on I lost track :(

[2020-11-18 20:50] annaswims opened #16376 "[Development] 526 - Only send separation location to evss for BDD"
it looks like some users are answering the separation location question and then submitting form 526 after they're no longer eligible for BDD.

we get the response “form526.serviceInformation.separationLocationCode.isInvalidValue” from evss

 I've asked evss [in slack](https://dsva.slack.com/archives/C1VBAHWQL/p1605732568085600)

[2020-11-18 20:51] dillo opened #16377 "GET Questionnaire Responses for an appointment from the PGD"
## User Story
**In order** to confirm and or refresh my memory for the reasons for my visit to a primary care provider
**As a** Veteran
**I want** the website to provide me the details that I submitted in the pre-visit questionnaire for my upcoming appointment

## Related Documentation
[Backend Architecture](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-

[2020-11-18 20:51] mmiddaugh opened #16378 "Maximum zoom for "search this area""
## Issue Description
The purpose of allowing a Veteran to initiate a search following zooming or panning is to adjust the search parameters by interacting with the map. However, this inadvertently makes it possible to zoom the view out to large regions (or the entire country) and then trigger a search. This isn't intending functionality and won't return meaningful or performant results.

---
## Ta

[2020-11-18 20:53] ricetj commented on #16110
Hello @RLHecht the current CTA replaces the blue box. We do not want it there anymore, so the current look is correct as is.

[2020-11-18 20:53] jsev-io commented on #14736
Mike Lumetta Confirmed he could access as expected. Closing this issue.

[2020-11-18 20:54] dillo opened #16379 "GET Questionnaire Response by id from the PGD"
## User Story
**In order** to confirm and or refresh my memory for the reasons for my visit to a primary care provider
**As a** Veteran
**I want** the website to provide me the details that I submitted in the pre-visit questionnaire for my upcoming appointment

## Related Documentation
[Backend Architecture](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-

[2020-11-18 20:54] jsev-io commented on #14147
Updated policy to include the necessary permissions . Alex reported he could access as expected. Closing this issue

[2020-11-18 20:55] MarciMcGuireGCIO commented on #14482
Removing public websites tag since this now falls under the Decision Tools team

[2020-11-18 20:55] LEHigley commented on #16375
@YanaRoy added the first two. what channels should barrett.cooper be?

[2020-11-18 20:55] mmiddaugh opened #16380 "Default search area for secondary searches"
## Issue Description
The purpose of allowing a Veteran to initiate a search following zooming or panning is to adjust the search parameters by interacting with the map.

However, we've identified two scenarios which need to be considered -
1. The Facility Locator has a default bounding search area which applies even after exploring an area with close zoom level before triggering another search. As

[2020-11-18 20:58] mpelzsherman commented on #14614
The common downloadable file template (`site/paragraphs/downloadable_file.drupal.liquid`) isn't being used currently. When we fix this issue, we should change all templates that contain download links to use it.

[2020-11-18 21:00] theodur opened #16381 "Add fieldDatetimeRangeTimezone to transformers with fieldDate"
## Issue Description
A new field `field_datetime_range_timezone ` was added to the CMS export as a [replacement](https://github.com/department-of-veterans-affairs/va.gov-team/issues/16074#issuecomment-729929746) for `field_date`. We will need to add `fieldDatetimeRangeTimezone` to the transformers that use `fieldDate`.

`fieldDatetimeRangeTimezone` is already being used in a few [transformers](htt

[2020-11-18 21:01] theodur commented on #16074
No worries!

[2020-11-18 21:03] rtwell commented on #13037
fixed the comp above 👆  FYSA I labeled them as h2s so folks know how they should be styled, not how it should be codified.

to answer your question about the CTA @jenstrickland — these CTAs can point to any page on va.gov, but we will provide guidance for their usage. We _do_ use CTAs to link to pages on VA.gov—we cannot link users directly into a tool, we send them to a tool landing page, or a pa

[2020-11-18 21:14] emilywaggoner commented on #16230
Excellent, thanks @ricetj! @allison0034 let's use these 2 screenshots for the staging review.

[2020-11-18 21:17] lwalsh617 commented on #16351
Hey @RLHecht - If we're not making these accordions, should we instead add the "On this page" feature? (I didn't put OTP in the copy deck because I thought we were doing accordions. Am find with OTP instead if the tables can't go in accordions.)

[2020-11-18 21:24] jonwehausen commented on #16233
@bmcgrady-ep Please refer to ticket: https://github.com/department-of-veterans-affairs/va.gov-team/issues/15196 for a more detailed list of interested metrics upon review of KPIs and grooming metrics.

[2020-11-18 21:29] LEHigley commented on #16375
done!

[2020-11-18 21:29] #16375 closed

[2020-11-18 21:31] LindseySaari opened #16383 "MPI rename - Update MVI StatsD keys"
## Issue Description
Following some MVI to MPI rename changes in the /lib directory, we will need to update any rules or Grafana boards that reference the old MVI keys directly. Example MVI::Service::STATSD_KEY_PREFIX}.find_profile.total is now MPI::Service::STATSD_KEY_PREFIX}.find_profile.total

An effort towards these changes was started here by duplicating the existing MVI board: http://grafana

[2020-11-18 21:38] mpelzsherman opened #16384 "Hide SideNavs for events, news releases and stories (WIP)"
The Side Nav component should not be displayed for events, news releases and stories.

This was originally supposed to be done in https://github.com/department-of-veterans-affairs/va.gov-team/issues/3575.

But at some point, the solution used here stopped working. Or maybe it never worked.

[2020-11-18 21:39] brianalloyd commented on #13395
@ncksllvn and @kelsonic I'm going to use the original Epic to align with our future transformer tickets.  I'll be building those out shortly and placing NodeQA (Nick) and NodeStepByStep (Kelson) into this sprint for action as discussed in planning.  Thanks.

[2020-11-18 21:47] RLHecht commented on #16110
Ah, got it. I am rebuilding the demo environment now and will do a content release so that the page should be ready to view there. Not sure how long it will take but I'll let you know when it's done.

[2020-11-18 21:47] brianalloyd opened #16385 "[Build] Transformer for R&S NodeStepByStep"
## Issue Description
_Build appropriate transformer for content type NodeStepByStep_

## Front end tasks
- Provide an estimate.
- Remove 'Needs Grooming' label
- Build transformer and validate connection.

## Acceptance Criteria
- [ ] Designer comments on this issue to approve page styling
- [ ] Unit tests pass
- [ ] E2E tests cover current code and regression
- [ ] End-to-end tests show 0 violati

[2020-11-18 21:55] brianalloyd opened #16386 "[Build] Transformer 'NodeQA' for R&S Content Type"
## Issue Description
_Review the CMS [documentation](https://vfs.atlassian.net/wiki/spaces/VP/pages/637567205/Transformers+Development+Guide) and build the following for the `NodeQA` bundle:
- Input schema
- Transformer
- Output schema

## Front end tasks
- Provide an estimate for the work to be preformed.
- Remove 'Needs Grooming' label once estimated
- Build Transformer.
- Ensure your code chang

[2020-11-18 21:57] YanaRoy opened #16387 "VSA Onboarding - Ron Tafoya"
## Welcome to the VSA Program

Welcome, Ron! This issue will be used to track your onboarding to the VSA Program.

---

## Pre-Onboarding

**Operation Lead Tasks**

- [ ] Send Welcome email to New Hire (request GitHub Username)

*Send Notifications with New Hire details (name, position, start date) to:*

- [ ] Admin Analyst
- [ ] VA Leadership
- [ ] VA PO
- [ ] Practice Lead
- [ ] VSP Onboarding

[2020-11-18 21:58] joeniquette opened #16388 "Sentry SSOe Error Cleanup"
## Issue Description
This is one of many issues that are a result of research into the `SSOe error:` we see within Sentry [here](http://sentry.vfs.va.gov/organizations/vsp/issues/?project=3&project=4&query=is%3Aunresolved+assigned%3A%23vsp-identity+level%3Aerror+message%3A%22SSOe+error%3A%22&statsPeriod=14d). The changes proposed will reduce the error level for some of the typeerrors being reporte

[2020-11-18 22:00] YanaRoy opened #16389 "VSA Onboarding - Sharon Kasimow"
## Welcome to the VSA Program

Welcome, Sharon! This issue will be used to track your onboarding to the VSA Program.

---

## Pre-Onboarding

**Operation Lead Tasks**

- [ ] Send Welcome email to New Hire (request GitHub Username)

*Send Notifications with New Hire details (name, position, start date) to:*

- [ ] Admin Analyst
- [ ] VA Leadership
- [ ] VA PO
- [ ] Practice Lead
- [ ] VSP Onboardin

[2020-11-18 22:01] rileyorr commented on #15867
@jenstrickland I forgot to mention this, but we'd like to incorporate 'search suggestion' (unsure if this is the correct terminology) functionality that exists in the 526-EZ's list loop component. This would allow users to see predetermined values  as well as include additional values we didn't provide. Are there any accessibility considerations we should take into account when it comes to that fu

[2020-11-18 22:05] brianalloyd commented on #16353
@youngfreezyVA could you provide an estimate on the work effort for this ticket?  Once selected please remove the 'needs grooming' label and we should be good for action this sprint cycle.  Thanks.

[2020-11-18 22:08] johnhashva commented on #15043
11/From VA business line lead, based on validation testing in production:

As we were validating the implementation of the below fix, we noticed some inconsistencies. For the most part, the address field is now directly on the form itself (and not on the extra page); however, it’s not consistent. We are seeing that some parts of the address field are still on the additional page, primarily zip cod

[2020-11-18 22:10] digitaldrk commented on #16342
UPDATE:
PR updated and requested for re-review: https://github.com/department-of-veterans-affairs/vets-api/pull/5320#issuecomment-729986883

[2020-11-18 22:10] mmiddaugh opened #16391 "[DESIGN] Scenarios in which location pins are stacked"
## Issue Description
Due to close proximity or identical addresses, sometimes pins are stacked, making it difficult to locate specific pins or appear that some locations are missing. Even though we are fit the mp to the locations, some pins may still become stacked due to the spread of facilities across the area.

---
## Tasks
- Evaluate [Mapbox marker clustering](https://docs.mapbox.com/mapbox-gl

[2020-11-18 22:10] bmcgrady-ep commented on #11477
@ala-yna - Both Google Analytics and Domo have been updated to include the `-failed-client` events. Let me know if you have any more questions!

[2020-11-18 22:25] ala-yna commented on #11477
Thanks @bmcgrady-ep! Could you explain to me quickly what the -failed-client event is, and if it's separate from -failed events? Is one a subset of the other or do they represent different things?

[2020-11-18 22:26] mmiddaugh opened #16392 "Release map enhancements to Prod"
## Issue Description
Once the map enhancement changes are complete and validated, we need to release the new experience to Prod.

---
## Tasks
- [ ] Check on status of CSP error to be sure this will not occur on Prod.
      - [Link to Slack thread #1 with VSP](https://dsva.slack.com/archives/CBU0KDSB1/p1604435610493100) and {Slack thread #2](https://dsva.slack.com/archives/CBU0KDSB1/p1604508278056

[2020-11-18 22:29] mpelzsherman commented on #16384
This does appear to be working! I was looking at the index pages, not the individual events, etc. My bad.

[2020-11-18 22:29] #16384 closed

[2020-11-18 22:32] bmcgrady-ep commented on #11477
@ala-yna - We are still investigating the difference between failed and failed-client events, as it predates Jon, Brian, and I's time on the project. However, I do know that failed-client events fire when something fails on the user-end (like loses internet connection).

[2020-11-18 22:42] peggygannon commented on #15721
hi, @amyknox  I'm not aware of any recent content updates around claims in the benefit applications. I do have in my backlog a task to audit content across all form to ensure consistency, as the apps work is spread across multiple product teams and it's not always clear if my content feedback is implemented.

Do you have a specific example or application you're referring to with above example?

[2020-11-18 22:53] brianalloyd commented on #15196
Thanks @joanneesteban appreciate the support.  Please reach out with any questions.  Also have a KPI Dashboard Ticket #16233 in flight as well.

[2020-11-18 22:53] 3obryandogs commented on #16333
This Google doc contains the debt letters content with marked/tracked editing suggestions. Or would you prefer it in a Word doc?

https://docs.google.com/document/d/1hJVNgGle56lunZlnx6uFSEkjVXE7Y_UnNsLMaDIrKmM/edit?usp=sharing

[2020-11-18 23:00] mnorthuis commented on #15647
Hi @kristenmcconnell,  here's where my flows landed after Friday's discussion.  I'm working on finalizing the documentation now, but wanted to see if this matches your thoughts.  Also, please note #3 in the flow.  We had talked about using that unauthenticated view of the questionnaire, but wondering what your thoughts are on simplifying the flow to direct them to to the sign in and the list page

[2020-11-18 23:06] amycesal commented on #14192
better funnel viz
<img width="707" alt="Screen Shot 2020-11-18 at 5 05 17 PM" src="https://user-images.githubusercontent.com/1656046/99599108-4a2f3700-29c0-11eb-9b01-8bebe7c28565.png">

[2020-11-18 23:07] jenstrickland commented on #15867
@rileyorr Yes, this component exists already in a few places, referred to as "type ahead." The Public Websites team recently used a `<datalist>` for the search functionality on their CMS pages. Facility Locator also has a type ahead.

Recommendations are to wait until 3 characters have been entered before proposing suggestions to reduce the noise for screen reader users. When the word is announced

[2020-11-18 23:10] jenstrickland commented on #14614
The Public Websites team is using the component currently.

In the interim, it would help to adjust the `download` attribute value to ensure the downloaded file matches user expectation from the download link.

[2020-11-18 23:20] cvalarida commented on #16122
What does this mean? How is this different from #16119

[2020-11-18 23:27] mmiddaugh opened #16393 "Left Nav on level 4 VAMC pages"
## What happened?
The Left Navigation menu was not intended to appear on VAMC pages deeper than L3. The spoke label "ABOUT VA PITTSBURGH" is counted as 1 - even though it's not clickable.

However, the Left Nav appears on [example level 4 page] (https://www.va.gov/pittsburgh-health-care/work-with-us/internships-fellowships/psychology-internships-and-fellowships/).

![image](https://user-images.git

[2020-11-18 23:30] #15794 closed

[2020-11-18 23:32] laurenernest commented on #15794
Confirmed the alert is in Production.
![image (4).png](https://images.zenhubusercontent.com/5f7dd2dad6b9a9301bbab94e/9fcc406d-4cda-4f4e-8f36-8650d4fc44c0)

[2020-11-18 23:32] alexpappasoddball opened #16394 "Document Production Environment Details"
## User Story

As a user of the platform, I would like to understand the full capabilities and limitations of the production environment so that I can better develop, test and demo changes.

## Description

Create documentation that assists all personal working with the platform understand in detail what the Production environment is and how to use it in the different development capacities.

The

[2020-11-18 23:33] esther-k opened #16395 "Edit Address - Accessibility issues"
## What Happened?
**VoiceOver / TalkBak**

1. With VoiceOver enabled on iOS, the country, state, and APO/FPO/DPO drop down fields are not announced as pickers when selected
2. With TalkBack enabled on Android, the country, state, and APO/FPO/DPO drop down fields are not announced as selectable (i.e. TalkBack does not say "double-tap to activate")
3. With VoiceOver enabled on iOS, the save button h

[2020-11-18 23:35] alexpappasoddball opened #16396 "Document Sandbox Environment Details"
## User Story

As a user of the platform, I would like to understand the full capabilities and limitations of the Sandbox environment so that I can better develop, test and demo changes.

## Description

Create documentation that assists all personal working with the platform understand in detail what the Sandbox environment is and how to use it in the different development capacities.

The follow

[2020-11-18 23:37] alexpappasoddball opened #16397 "Document Staging Environment Details"
## User Story

As a user of the platform, I would like to understand the full capabilities and limitations of the Staging environment so that I can better develop, test and demo changes.

## Description

Create documentation that assists all personal working with the platform understand in detail what the Staging environment is and how to use it in the different development capacities.

The follow

[2020-11-18 23:38] alexpappasoddball opened #16398 "Document Dev Environment Details"
## User Story

As a user of the platform, I would like to understand the full capabilities and limitations of the Dev environment so that I can better develop, test and demo changes.

## Description

Create documentation that assists all personal working with the platform understand in detail what the Dev environment is and how to use it in the different development capacities.

The following ques

[2020-11-18 23:39] mnorthuis commented on #15647
FYI,  in progress IA documentation is here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/information-architecture/ia-reviews/health-questionaires.md

[2020-11-18 23:39] alexpappasoddball opened #16399 "Document Review Instance Environment Details"
## User Story

As a user of the platform, I would like to understand the full capabilities and limitations of the Review Instance environment so that I can better develop, test and demo changes.

## Description

Create documentation that assists all personal working with the platform understand in detail what the Review Instance environment is and how to use it in the different development capacit

[2020-11-18 23:42] alexpappasoddball opened #16400 "Determine where Environment documentation is to be stored"
## Description

As we work to develop documentation that relates to the different environments, we need to know where these documents should ultimately be stored.  Are they going to be stored in GitHub, or can we create them in the BE Tools pilot section of Confluence?

## Teams involved in decision
BE Tools
Content & IA
DEPO

## Acceptance Criteria
- [x] Decision has been made and documented in t

[2020-11-18 23:43] alexpappasoddball commented on #16400
@gmaciolek & @lianilychee Next sprint (40) BE Tools is going to be working through the epic linked in the acceptance criteria.  Do you have a thought on where you would like this to be stored?  Is there a logical place in Confluence that we could put this?  Is this the right time to be putting new documentation there?  Thoughts?

[2020-11-18 23:44] alexpappasoddball commented on #12126
@meganhkelley Can we close this one?

[2020-11-18 23:51] Clark-W-Griswold opened #16401 ""yarn fetch-drupal-cache" should always fetch the drupal cache."
We have seen instances when running `yarn fetch-drupal-cache` where the build will still attempt to pull the drupal data behind the socks proxy. Some background information can be found [here](https://dsva.slack.com/archives/CBU0KDSB1/p1605648714209800).

Definition of done:
When running `yarn fetch-drupal-cache` we always respect the flag to pull the drupal data from cache.

[2020-11-19 00:06] cvalarida commented on #16117
# The problem
The main struggle I see is getting the editing experience for designers. It's easy to add JSDocs to the component which will show up in the `Docs` page, but that requires designers to edit the comments in the actual source file. Also, that's probably not the best place for the "when to use" kinds of documentation.

## Assumptions
Just to be thorough, I'd like to call out any assumpti

[2020-11-19 00:25] bethpottsVADEPO commented on #15950
Edits approved by VBA SME Keith Hancock. Rework the existing "Gulf War Illnesses linked to SW Asia service" page to incorporate these changes:

[https://app.zenhub.com/files/133843125/d9fb748d-20fc-450a-9807-a545cf1e8a5e/download](https://app.zenhub.com/files/133843125/d9fb748d-20fc-450a-9807-a545cf1e8a5e/download)

Next step is to edit similarly for the parallel page: Gulf War Illnesses linked to

[2020-11-19 00:26] digitalken commented on #16132
Added to TestRail.

[2020-11-19 00:32] #8780 closed

[2020-11-19 00:41] #15652 closed

[2020-11-19 00:49] outerpress commented on #16038
Working spec for the modal that shows up after remove is clicked. This'll use the standard modal component. Need to check the spacing on this one:
![VAOS-CC-MVP-04-ConfRemove.png](https://images.zenhubusercontent.com/5f7ce3163782a585b910eaf3/850c7d85-bbc4-40e7-9efd-d23610a0255a)

[2020-11-19 01:03] peggygannon commented on #16006
Hi, @Mottie Here's my recommendation:

{CTA button} Check the status of your decision review

**Note:** Please allow some time for your decision review to process through our system. It could take 7 to 10 days for it to show up in our claim status tool.

[2020-11-19 02:23] pjhill opened #16402 "Update Cypress-TestRail-Reporter config to allows test runs with a limited selection of test cases from the test suite"
## Issue Description
Tze is requesting the ability to have Cypress to TestRail reporter create a test run with a subset of the test cases contained in a project's test suite.  This makes sense for a variety of use cases including a dashboard project for the entire platform, automated smoke tests for a product reported to TestRail, creating automated acceptance tests during a sprint, etc.

---
## T

[2020-11-19 03:04] pjhill opened #16403 "Discovery Research Epic"
## High Level User Story
As a VFS team, I need manual and automated cross-platform so I can verify that my product functions as intended on VA.gov's most used platforms.

## Goals
- Discover what features of a potential cross-platform testing solution are most important to users.
- Determine if an existing product will integrate with the VSP's tooling and process.
- Understand the cost/effort requ

[2020-11-19 13:35] bradl3yC commented on #13846
@jonwehausen @bsmartin-ep can we verify this and close?

[2020-11-19 13:38] MarciMcGuireGCIO opened #16404 "Yellow Ribbon: Add link to download schools data for upcoming year (Groom in June 2021)"
## Issue Description
Each year the school data for the Yellow Ribbon Program changes to reflect the schools that are participating in the upcoming school year (Aug 2021 to July 2022)

---
## Tasks
- [ ] Confirm that simply adding a text link to the existing HTML is acceptable (proposed solution below):

![Image 3](https://user-images.githubusercontent.com/73354907/99845354-7c68a200-2b42-11eb-8f1a-

[2020-11-19 13:39] MarciMcGuireGCIO commented on #16404
Putting in icebox so we don't lose sight of it next year.

[2020-11-19 13:52] MarciMcGuireGCIO opened #16405 "Add School-Approved Abbreviations to School Data to Improve Search Results"
## Issue Description
The Yellow Ribbon school search does not yield desirable results for searches containing commonly-used abbreviations (ex: UNC-CH vs. University of North Carolina at Chapel Hill).

This shortcoming means that, in order to find a specific school, the user must refine their search term so that it contains all or part of the school's "official" full name, scan through a list of sc

[2020-11-19 14:13] holdenhinkle commented on #15836
Documentation for the new Cypress environment variables and custom commands have been added. I'm waiting for the PR for the code updates to be approved and merged to master so I can update the links in this document to the new code then submit a PR for this updated documentation.

https://github.com/department-of-veterans-affairs/va.gov-team/blob/write_documentation_for_new_cypress_viewport_env_va

[2020-11-19 14:36] jenniferlee-dsva commented on #14797
That would be nice, but I'm not sure - or Platform may have built it a while back and it might have drift?

 @brianalloyd - Could you verify with Megan and Dror, so we have a complete list of whatever these transformer thingeys are called for benefit hub content types?

[2020-11-19 14:43] #15773 closed

[2020-11-19 14:58] bethpottsVADEPO commented on #13906
@RLHecht I'll take another look before you copyedit. Thanks!

[2020-11-19 15:03] #15955 closed

[2020-11-19 15:03] #11276 closed

[2020-11-19 15:03] 3obryandogs commented on #16333
Brad and Craig, please let me know if you can't see the editing suggestions in the Google doc.  Or let me know if you'd prefer my edits in a different manner. Thanks!

https://docs.google.com/document/d/1hJVNgGle56lunZlnx6uFSEkjVXE7Y_UnNsLMaDIrKmM/edit?usp=sharing

[2020-11-19 15:06] #15888 closed

[2020-11-19 15:12] brianalloyd commented on #14797
Yes, I'll verify and comment and update ticket accordingly.

[2020-11-19 15:15] pjhill commented on #16230
Hey, it looks like the standard QA artifacts that we ask for as part of staging review are not available. Have you been able to execute your test suite? I poked around in TestRail a bit, and it looks like your [functional / acceptance test cases have not yet been executed](https://dsvavsp.testrail.io/index.php?/runs/view/722&group_by=cases:section_id&group_order=asc).

For more information regardi

[2020-11-19 15:16] bethpottsVADEPO commented on #14282
@mnorthuis Also, should the redirected/soon to be archived REAP page be taken out of the sitemap?

[2020-11-19 15:30] caw310 commented on #16119
This is just adding the link to Storybook.

[2020-11-19 15:31] rebeccawalsh commented on #16152
Hey, @3obryandogs!

What we're looking for this ticket are the list items inside our "type ahead" component. Here's an example of the type ahead component on the 526-ez form:
![image](https://user-images.githubusercontent.com/6361930/99685090-33382580-2a50-11eb-891a-503fff865033.png)

The way it works is that you can type into the field and it will suggest options in the dropdown to populate the f

[2020-11-19 15:36] 3obryandogs commented on #16152
Becca,
Gotcha! Do you have a preference for priority? This one, or the error messages?

Thanks!

From: Rebecca Walsh <notifications@github.com>
Sent: Thursday, November 19, 2020 9:32 AM
To: department-of-veterans-affairs/va.gov-team <va.gov-team@noreply.github.com>
Cc: Susan O’Bryan <ObryanS@twd.com>; Mention <mention@noreply.github.com>
Subject: Re: [department-of-veterans-affairs/va.gov-team] Ev

[2020-11-19 15:40] rebeccawalsh commented on #16152
From what I'm seeing, this ticket is in the current sprint, while the error messaging tickets are currently in backlog and ready, which would mean this is prioritized. Not sure if error messaging was meant to be in the sprint for you. I'd suggest doing this before error messaging.

[2020-11-19 15:45] #16258 closed

[2020-11-19 15:46] Samara-Strauss opened #16406 "[PM] My VA 2.0: Make a list of all the updates/notifications we'll need on the new dashboard"
## Background

Regardless of whether we choose approach A or B after user research (#15684) we will need a full list of all the different updates we want to show. This will allow us to do two things:

- Design a standard update pattern (we'll understand exactly what data points we want to include)
- Start working with copy ASAP before visual design is fully complete

## Tasks

- [ ] Make full list

[2020-11-19 15:51] 3obryandogs commented on #16152
Working on it now.

From: Rebecca Walsh <notifications@github.com>
Sent: Thursday, November 19, 2020 9:41 AM
To: department-of-veterans-affairs/va.gov-team <va.gov-team@noreply.github.com>
Cc: Susan O’Bryan <ObryanS@twd.com>; Mention <mention@noreply.github.com>
Subject: Re: [department-of-veterans-affairs/va.gov-team] Evaluate loop list item type options (#16152)

From what I'm seeing, this ticke

[2020-11-19 15:54] #14983 closed

[2020-11-19 15:54] msmanak commented on #15974
![Screen Shot 2020-11-18 at 3.20.15 PM.png](https://images.zenhubusercontent.com/5faabf11b099434179a66d66/dbe4d141-f57a-4f73-8119-412160ac2825)![appointments- Upstream.png](https://images.zenhubusercontent.com/5faabf11b099434179a66d66/624550d3-09e0-4f82-bfc1-76521449c29d)

[2020-11-19 15:54] zacharymorel commented on #16192
@rtwell @jenstrickland Button updates are not live.
https://staging.va.gov/resources/signing-in-to-vagov/

[2020-11-19 15:57] pjhill commented on #15686
Hey all, it looks like your link to test cases routes to an [empty folder in your product space](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/direct-deposit/edu-direct-deposit/qa-testing/Direct%20Deposit_Edu%20test%20cases.xlsx).

Have you been able to create draft test scenarios or stubbed out test cases anywhere?

[2020-11-19 16:14] jhouse-solvd opened #16407 "Document fwdproxy to prepare for move to new infrastructure (EKS)"
## Issue Description
_Ensure that we've fully documented current architecture / configuration of fwdproxy to ensure that we can move it to the new infrastructure with minimal impact to the platform._

---
## Tasks
- [x] _Written documentation that clearly explains fwdproxy's configuration and setup in sufficient detail_
- [x] _Supporting architecture / configuration diagram_

WIP DOC (not started

[2020-11-19 16:17] LeKeve commented on #16230
@pjhill

The test suite has been checked during daily development but I did a check this morning. Those tests have been updated as passing. The test plan and results are linked in the TestRail plan here: https://dsvavsp.testrail.io/index.php?/runs/view/722&group_by=cases:section_id&group_order=asc

As for the Reference Test Coverage Report and Summary (Defects), I don't appear to have access to th

[2020-11-19 16:19] rtwell commented on #15618
@jenniferlee-dsva incorrect! I advocated to sticking with pagination for now. I will drop mobile designs asap.

[2020-11-19 16:21] bethpottsVADEPO commented on #16351
@lwalsh617 @RLHecht
- The first sentence of the intro is vague re: "it." I'd recommend:
Your status tells you where your decision review or appeal is in the review process.

- Can you rewrite the second sentence so it is more directed? This page is much bigger than the claim status one, and covers different types of appeals, so we'll want to direct the user to find the chart that's relevant to the

[2020-11-19 16:25] pjhill commented on #16230
@LeKeve Sorry about that -- I think a recent update to TestRail changed the default access within our instance to be more restricted which is generally a good thing, but it had the side effect of locking down a bunch of example materials.  I believe I've resolved the issue. Have another go at accessing the relevant reports --
[Defects](https://dsvavsp.testrail.io/index.php?/reports/view/14)
[Refer

[2020-11-19 16:44] sporeboy commented on #15518
Hi there @peggygannon !

For "Where does the links take users?", I'm good with your suggestion to link education to the eligibility page. As for comp and pen, seems I need to point to the two (different) eligibility pages. Here are the two mocked pages:

- https://xd.adobe.com/view/5315e9ba-69ee-4082-bb26-29605bc4ae67-0646/screen/a942fa36-4ebd-446f-92ee-65149d9e9584
- https://xd.adobe.com/view/531

[2020-11-19 16:46] caw310 commented on #14527
Example of the component in global sense.
https://www.va.gov/pittsburgh-health-care/health-services/

Make a react component. Chis and Brooks to look into this.

[2020-11-19 16:47] rumyeahs commented on #15303
Hi team, can I also request another investigation to be added to this card:
We have currently identified from code there are only a handful references to the existing IRIS homepage [here](https://iris.custhelp.va.gov/app/home).  We are leaning towards deprecating this in the new solution. Can you please provide if there are any usage stats for this homepage from GA tracking that can help with this

[2020-11-19 16:51] lenaecb opened #16409 "[Observation session] Static VAOS scheduling page + widget to app"
We have received similar feedback below in other [research session](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/appointments/va-online-scheduling/research/july-2020-user-research/2020-july-VAOSR-EC-research-report.md) and now also in a recent Veteran observation session:
1.  The content (and it's placement) is too much on the static scheduling pag

[2020-11-19 16:53] brianalloyd commented on #13375
@johnhashva we discussed this yesterday during planning, are we at a point where we can close out this ticket based on the finalization of the work @andaleliz has done?  Thanks.

[2020-11-19 16:54] mnorthuis commented on #15384
@johnhashva @brianalloyd the changes to the order and labels in the "More VA resources" column were not implemented per the recommendations above, are those being handled in another issue?

[2020-11-19 16:54] 3obryandogs commented on #16152
Question: If the Veteran also has business expenses, are those applicable to the FSR? Or does the FSR only take in consideration “personal” expenses and assets?

C2P1 - Add a payroll deduction
•	Federal tax
•	Social Security
•	Medicare
•	State tax
•	Other tax
•	Other deductions (Note: Pay stubs may add insurance, 401K, or retirement/pension, into one category)
C2P2 - Type of “other” income
•	Renta

[2020-11-19 16:55] RLHecht commented on #16110
@ricetj Just giving you an update: We are currently having issues with the demo environment but the CMS team is working on it. I'll let you know once you're able to take a look and test what you need to.

[2020-11-19 16:55] alexpappasoddball commented on #16400
The new environment docs will be created in Confluence based on Content & IA and DEPO decisions!

[2020-11-19 16:55] #16400 closed

[2020-11-19 16:58] jhouse-solvd opened #16410 "Discovery - Architecture for proposed a VPC that supports Terrform testing and development"
## Issue Description
_As an operations engineer, I need a VPC for testing purposes In order to test configurations and ensure smooth delivery of infrastructure services in higher environments._

---
## Tasks
- [ ] _Discuss proposed architecture and configuration of a VPC that meets the needs for testing and development of Terraform modules_

## Acceptance Criteria
- [ ] _We will be ready to implem

[2020-11-19 16:59] ala-yna commented on #16354
Tagging @MaryO-USDS for approval. Thanks Mary!

[2020-11-19 16:59] brianalloyd opened #16411 "Fix Condensed Alert Spacing"
## Issue Description
_Fix condensed Alert Spacing based on sketchy style rule_

## Front end tasks
- FE engineer estimate this task (
- Fe engineer remove the needs-grooming label
- Ensure unit tests are available.
- Ensure your code changes are covered by E2E tests
- Run axe checks using the Chrome or Firefox browser plugin
- Test for color contrast and color blindness issues
- Zoom layouts to 40

[2020-11-19 17:00] lenaecb opened #16412 "[Observation session] Type of care page"
Veteran expressed confusion as to why he is only seeing some types of care, but not others. Again this is an ongoing constraint given that online scheduling is only available for very specific care types that are established via OVAC/VA policy.

This is not new feedback re: limitation of care type. However, we should think about how we're helping veterans understand why they only see this short li

[2020-11-19 17:01] mnorthuis commented on #15229
@bethpotts @brianalloyd This appears to be complete, can you confirm?

[2020-11-19 17:03] zurbergram commented on #15828
The issue with "high school" and other searches using only excluded words is because only the `institution_search` column is used for search.

The 2 results displayed in description are appearing because the institution name only contains excluded search terms

![image](https://user-images.githubusercontent.com/1094999/99698702-16efb500-2a5f-11eb-862f-9c2d6a260a1d.png)

[2020-11-19 17:06] bethpottsVADEPO commented on #15229
Closing.

[2020-11-19 17:06] #15229 closed

[2020-11-19 17:06] 1Copenut opened #16413 "MVP release of keyboard-e2e test"
## Issue Description
We are defining the MVP for a keyboard end-to-end test that teams can opt in to for their Cypress forms testing.

---
## Tasks
- [x] Unblock vets-website in developer's working environment -- 2
- [x] Finish work on the tab up / tab down function -- 1
- [x] Extract tab up / tab down to a `goto` function -- 2
- [x] Add the `goto` function to the `formTester` method -- 3
- [x] Ad

[2020-11-19 17:06] drorva commented on #16115
1. This will start in Confluence but will end up in Github for now.
1. Let's remember to point to the equivalent doc in the FE if it makes sense.

[2020-11-19 17:09] bethpottsVADEPO commented on #14568
@lwalsh617 Rework answer to take into account this and others you find:
https://www.va.gov/health-care/eligibility/active-duty/

[2020-11-19 17:10] johnhashva commented on #15384
@mnorthuis this was a miss on my part during validation.   @brianalloyd should we-open this ticket and re-assign to Zach (if it's easy)?  I'm guessing that will be more efficient.  LMK.

[2020-11-19 17:11] lenaecb opened #16414 "[Observation Session] Contact Center check in"
We observed during a recent feedback session with a Veteran that he received in accurate information when he called HRC number (877-470-5947).

We did training and updates in March/April with HRC, but it's probably worth re-reviewing now that all scheduling is pointing to VAOS on VA.gov.

### Specific feedback:
- [ ] when veteran was experiencing what he thought was a problem with the app not disp

[2020-11-19 17:12] ericbuckley opened #16415 "parse birls and participant ids from SSOe SAML response"
The `birls_id` and `participant_id` values from a user's MPI record are needed to complete form 526.  In some cases [MPI Proxy Errors](https://github.com/department-of-veterans-affairs/va.gov-team/issues/10524) prevent us from gathering those values when the user needs them.  However, for those users that are logging in via SSOe, the values should already be present in the SAML Response returned b

[2020-11-19 17:14] #16094 closed

[2020-11-19 17:16] jbritt1 commented on #16354
SOCKS access granted. Please continue with [the guide](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/engineering/internal-tools.md#configure-the-socks-proxy) to establish a connection to SOCKS proxy.

[2020-11-19 17:22] #13418 closed

[2020-11-19 17:26] mnorthuis commented on #14282
@bethpotts

The pages that don't have links in the content likely just have the left nav link available, so that will need to be removed.

Yes, it should also be removed from the xml sitemap.

[2020-11-19 17:28] kristenmcconnell commented on #15647
@mnorthuis I just talked through a few of the flows with engineering.
@DanielleThierryUSDSVA and @peggygannon I had a question about the proposed H1s.
Attached are some of our questions and comments.

@mdewey Let me know if everything looks correct based upon our discussion.

![User Flow.jpg](https://images.zenhubusercontent.com/5f44055c65a5c54f7cfe5928/6e02c616-f62d-4008-8d1b-13b40ef0b6a6)

[2020-11-19 17:28] mnorthuis commented on #14282
@bethpotts also need to make sure it is not in the search best bets.

[2020-11-19 17:29] esther-k opened #16416 "Service verification letter - Incorrect mobile alert background color"
## What Happened?
The mobile alert background color is darker than the designs

## Specs:
- Device: Android - Google Pixel 3XL

## Steps to Reproduce
1. Navigate to the service verification letter page
2. Note the darker mobile alert background color

## Desired Behavior
- The background color should be hex code #F1F1F1

## Acceptance Criteria
- [ ] The background color is hex code #F1F1F1

## Bug

[2020-11-19 17:35] jenstrickland commented on #16192
Thanks, @zacharymorel — I still need to write up the issue ticket for making this button accessible for assistive tech. I'm trying to track down the previous notes.

There were a couple of approaches we discussed:

1. If the sticky button was the chosen direction, then it would need aria applied to announce it to screen readers, and then focus management to make it clear where the user is and what

[2020-11-19 17:36] zurbergram commented on #15828
To test
- upload weams csv > generate > publish
- search for "high school" or a search term only containing [excluded words](https://github.com/department-of-veterans-affairs/gibct-data-service/blob/master/config/settings.yml#L38)
  - results should contain institutions whose name is similar to excluded words entered
- search for "standford" or other words that are not excluded
  - results returne

[2020-11-19 17:38] LeKeve commented on #16230
@pjhill No worries at all! Unfortunately, I'm still not able to view the example reports, however, I believe I've generated the correct reports and made them viewable by all.

[Defects](https://dsvavsp.testrail.io/index.php?/reports/view/155)
[References](https://dsvavsp.testrail.io/index.php?/reports/view/154)

[2020-11-19 17:39] SgardnerPMP opened #16417 "[Content Structure] Move VISN-16 Facilities listed in parent category "VAMC facilities" into Correct VISN-16 System [VAMC]"
## Story
As a VAMC web user in need to have all facilities correctly listed under the system, so I can best associate and find my closest health service provider.

## Resources

## Tasks
**Move facility from parent "VAMC facilities" location to the correct System location within VISN-16 as listed below**
Open VAMC facilities menu and search for each of the below facilities and assign the following

[2020-11-19 17:42] SgardnerPMP opened #16418 "[Content Structure] Move VISN-21 Facilities listed in parent category "VAMC facilities" into Correct VISN-16 System [VAMC]"
## Story
As a VAMC web user in need to have all facilities correctly listed under the system, so I can best associate and find my closest health service provider.

## Resources

## Tasks
**Move facility from parent "VAMC facilities" location to the correct System location within VISN-16 as listed below**
Open VAMC facilities menu and search for each of the below facilities and assign the following

[2020-11-19 17:42] glennettec opened #16419 "Request access to Google Analytics"
Requesting access to GA - glennette.clark@usds.dhs.gov

[2020-11-19 17:45] mnorthuis opened #16420 "IA feedback - Usability testing prep - Direct deposit for Edu"

[2020-11-19 17:50] SgardnerPMP opened #16421 "[Content Structure] Move VISN-23 Facilities listed in parent category "VAMC facilities" into Correct VISN-16 System [VAMC]"
## Story
As a VAMC web user in need to have all facilities correctly listed under the system, so I can best associate and find my closest health service provider.

## Resources

## Tasks
**Move facility from parent "VAMC facilities" location to the correct System location within VISN-16 as listed below**
Open VAMC facilities menu and search for each of the below facilities and assign the following

[2020-11-19 17:50] pjhill commented on #16230
Well, that's frustrating!  Thanks for the links to your reports!

[2020-11-19 17:51] mnorthuis commented on #16420
**Feedback framework**

- **Must** for if the feedback must be applied
- **Should** if the feedback is best practice
- **Consider** for suggestions/enhancements

## Description

**MUST**
- Engage Public Websites team for updates to static content

**CONSIDER**
- For scenario where the user does not have a disability direct deposit, but does have an education one, reverse the order so that educatio

[2020-11-19 17:51] #15786 closed

[2020-11-19 17:53] SgardnerPMP opened #16422 "[Content Structure] Move VISN-2 Facilities listed in parent category "VAMC facilities" into Correct VISN-16 System [VAMC]"
## Story
As a VAMC web user in need to have all facilities correctly listed under the system, so I can best associate and find my closest health service provider.

## Resources

## Tasks
**Move facility from parent "VAMC facilities" location to the correct System location within VISN-16 as listed below**
Open VAMC facilities menu and search for each of the below facilities and assign the following

[2020-11-19 18:00] bessgreen commented on #14155
11/19 update: ticket is blocked - Profile service is down. Moving this ticket to the backlog.

[2020-11-19 18:04] 1Copenut opened #16423 "Analytics KPI dashboard request for Testing Team - Accessibility Health"
# Request a KPI Dashboard

## What this form is for
Use this template to request a KPI dashboard on Domo for your product.

## Instructions for the VFS team
- [x] For additional info, read through the [How to Request a KPI Dashboard Documentation](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/analytics/kpi-dashboard-request.md)
- [ ] Your KPIs are clearly linke

[2020-11-19 18:04] brianalloyd commented on #15384
@johnhashva, reopening the ticket and will reassign to @zacharymorel for update as I think he's closest to the implementation needs for this ticket.  We can close out once updates have been applied and validation has been achieved.

[2020-11-19 18:12] esther-k opened #16424 "Review and update margin/padding specs"
## Acceptance Criteria

Reference [MVP Mobile App UI Styles doc
](https://docs.google.com/document/d/1VC-CLWnhevB8HLBBHPwkSJvECn8EBie8HOkJylKE1lo/edit#)

Margin and padding specs should be reviewed and updated throughout the app as necessary to reflect requirements:

**L/R Gutters**
- 20px gutters to the L/R

**General Rules**
- 20px below top navigation bar above screen content
- 40px above botto

[2020-11-19 18:15] joeniquette commented on #15236
@ericbuckley I believe this statement is related to the issue you brought up to me last week when we were discussing Sentry errors. If we are resolving this with another ticket do you mind linking it here?

[2020-11-19 18:22] esther-k opened #16425 "Benefit Summary & Service Verification letter - Incorrect toggle label"
## What Happened?
The first toggle on the page is labeled "letters.benefitService.includeMilitaryServiceInfo"

## Specs:
- Device: Android - Google Pixel 3XL

## Steps to Reproduce
1. Navigate to the service verification letter page
2. Scroll down to view the first toggle
3. Note the label

## Desired Behavior
- The first toggle should be labeled “Include military service information”

## Acceptan

[2020-11-19 18:25] RLHecht commented on #15361
@jason-gcio I've put the widget on all the above pages but I have a few questions on some:

- Independent-living track: The react widget is not showing the unique subway map for this in preview. I know I saw that the one code will work for all the pages and it will update depending on the URL but it's not showing in preview. Is this an issue?

- Eligibility page: I'm a little confused what will be

[2020-11-19 18:28] esther-k opened #16426 "Benefit Summary & Service Verification letter - Unbolded text"
## What Happened?
The Discharge type, Active duty start, and  Separation date text are not bolded

## Specs:
- Device: Android - Google Pixel 3XL

## Steps to Reproduce
1. Navigate to the service verification letter page
2. Note that the Discharge type, Active duty start, and  Separation date text are not bolded

## Desired Behavior
- The Discharge type, Active duty start, and  Separation date tex

[2020-11-19 18:28] RLHecht commented on #16110
@ricetj Here's the preview link in the demo environment: http://learningcenter.demo.ci.cms.va.gov/resources/find-apps-you-can-use?_format=static_html

[2020-11-19 18:33] ricetj commented on #16110
@RLHecht thanks, how do I access this link? What is the different between this link and the other preview one?

Also, another question for you. It looks like in order to get better analytics on the app directory some things need to be added the CSM template. Is this something on your radar already?

[2020-11-19 18:33] ericbuckley commented on #15236
Tldr; lets just delete the call to `set_sso_cookie`

@joeniquette I haven't started any work on this issue, nor do I think @bramleyjl has.  However I think this issue is a bit misleading and should be replaced with another.

a) We should NEVER be setting a SSO cookie when authenticating with SSOe, as we will be sending users back to MHV via the eauth proxy and the old SSO cookie is no longer neede

[2020-11-19 18:35] Jeff-Hayter commented on #16283
@omgitsbillryan Approved for AWS access.

[2020-11-19 18:46] mdewey commented on #15525
Approved, and waiting to verify in staging

[2020-11-19 18:47] 1Copenut commented on #16332
This is excellent feedback! VSP is on board with all of your findings and recommendations.

[2020-11-19 18:49] RLHecht commented on #16110
The demo environment is for whatever testing you needed to do since it can't be done on prod. It looks the same as the prod preview. Use this link: learningcenter.web.demo.ci.cms.va.gov/resources/find-apps-you-can-use/

[2020-11-19 18:54] bridgethapner opened #16427 "Get schema from VA Video Connect App Team"
To link from VA mobile app to VA Video Connect we need to get the schema from the VAVC app team.

- [ ] Figure out what we need to ask
- [ ] Email VAVC app owners

[2020-11-19 18:55] bridgethapner commented on #16427
@lexicalninja can you post what we need to ask here?

[2020-11-19 18:59] jenstrickland commented on #14482
@zacharymorel Here's a screenshot of what VoiceOver is reading, showing that it reads as "2 items":
 ![Screen Shot 2020-11-19 at 1 48 21 PM](https://user-images.githubusercontent.com/57469/99709939-f11ddc80-2a6d-11eb-843e-9b7ad9ad9c57.png)

Additionally, it then reads the form name a second time, as [shown in this screen recording](https://dsva.slack.com/files/UMLC20J79/F01EY9KTWBG/h4-2items-repea

[2020-11-19 19:02] outerpress commented on #15084
Sorry I've been plodding in getting back to this one.

I like the idea of providing the additional descriptions as needed, maybe not in additional info blocks (In my head it looks like rows of dotted lines, very distracting). But a tooltip could work!

Some stories are coming up to improve the type of care list, one of which adds the header list pattern. Those would be good opportunities to try a

[2020-11-19 19:04] peggygannon opened #16428 "VSP content review - Staging - App directory"
## User story

This ticket captures VSP content feedback on App Directory in Drupal preview environment.

Preview link: preview-prod.vfs.va.gov/preview?nodeId=9615

## Acceptance criteria

- [x]  VSP provides content feedback for form/tool and any associated static pages
- [x]  Team incorporates feedback and/or asks follow up questions about the feedback
- [x]  Teams leaves comments about any feed

[2020-11-19 19:07] peggygannon commented on #16428
@ricetj

Is this App Directory a Veteran-facing page? If so, the content nested under the "Learn more" links doesn't adhere to our plain language and VA.gov content style guide guidance.

Recommendation: please work with @bethpottsVADEPO and @RLHecht to get a content review for this content.

[2020-11-19 19:08] lexicalninja commented on #16427
Yep!
We need to contact the VA Video Connect App team and ask what url scheme they use for their app to pick up actions/intents.

We should also ask if they have a deep linking path or how our app can best open the app the the correct page.

If there are preferred links for us to use to refer users to their apps in the app stores, in case they are tracking referrals, then those would also be somet

[2020-11-19 19:11] peggygannon commented on #16230
@ricetj Here is the link to my content feedback. thank you!

https://app.zenhub.com/workspaces/vsp---product-support-5f85b91c14d8df0018fac414/issues/department-of-veterans-affairs/va.gov-team/16428

[2020-11-19 19:16] emilywaggoner commented on #15084
I have also been meaning to get back to this one! We did some research earlier this year on the usability of tooltips, including the accessibility of them, vs. the [additional info component](https://design.va.gov/components/additional-info) for providing contextual help, and found that tooltips performed worse all around. The exception to this perhaps worth exploring is a tooltip used for explain

[2020-11-19 19:16] bkjohnson opened #16429 "Remove SortableTable component"
## Issue Description
The `<SortableTable>` component is only used once, and now that we have a responsive `<Table>` component, it is no longer necessary. Sorting features can be added to `<Table>` if they are desirable (the only current instance of `<SortableTable>` is configured to prevent sorting).

## Front end tasks
- Replace the existing `<SortableTable>` with a `<Table>`
- Remove `<SortableT

[2020-11-19 19:18] dneel-bah opened #16430 "EDU: Remove old prod flags"
As a developer, I need to remove old prod flags so that the update functionality is available in the production environment.

## Assumptions:
1. N/A

## Acceptance Criteria
1. The functionality outlined in #7533 (#14419 is related) is available in the production environment.
2. The functionality outlined in #9243 is available in the production environment.
3. The functionality outlined in #8821 is

[2020-11-19 19:20] joanneesteban opened #16431 "Ongoing Service - maintain security"
## Issue Description
In order to ensure that we're keeping up with security best practices and maintain PII, we need to maintain security on Google Analytics.

---
## Tasks
- [ ] As we work with VFS teams, start documenting our best practices and guidance for maintaining PII and security on Google Analytics. See [repo](https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/tree/ma

[2020-11-19 19:20] 1Copenut opened #16432 "Bilby (Lighthouse End-User Experience Team) - App Directory - Accessibility Staging Review"
This will be the epic for storing accessibility findings from the [Bilby App Directory staging review](https://github.com/department-of-veterans-affairs/va.gov-team/issues/16230) on 11/19/2020.

[2020-11-19 19:22] dneel-bah opened #16433 "STEM: Remove applicant CC code"
As a developer, I need to remove the applicant CC code because it is not supported by the email library being used.

## Assumptions:
1. N/A

## Acceptance Criteria
1. The applicant is not CC'ed as part of the SCO email sent on 10203 submission.

## Supporting Artifacts:
1. N/A

[2020-11-19 19:23] ksantiagomorgan6 commented on #14417
Additional PR: https://github.com/department-of-veterans-affairs/vets-website/pull/15025https://github.com/department-of-veterans-affairs/vets-website/pull/15025

[2020-11-19 19:25] luke-gcio commented on #16376
Made a swag at the estimate. Looks like you are already working on it, added to sprint 35.

[2020-11-19 19:26] dmccurdybah commented on #7528
PR: https://github.com/department-of-veterans-affairs/vets-website/pull/15023

[2020-11-19 19:26] dmccurdybah commented on #8228
PR: https://github.com/department-of-veterans-affairs/vets-website/pull/15023

[2020-11-19 19:28] luke-gcio commented on #12775
Requested meeting.

[2020-11-19 19:30] luke-gcio commented on #16210
I've requested a review from the stakeholder of the content.  If I don't get a review we will go with the version they provided and not the version I am working on.

[2020-11-19 19:31] ricetj commented on #16110
@RLHecht we just had our Staging review with VSP and will be ready to go live tomorrow. Do we need to do anything on our end on getting this to prod or is that something on your end?

One thing Peggy brought up during the review was the content of the descriptions in the learn more section of the apps. This is straight from the different applications and is pulled in via an API.

[2020-11-19 19:32] brianalloyd commented on #14797
This is the response from the convo with Megan and Dror:

Having your developers determine which transformers your team should own
Running the diff & fixing all discrepancies (between GraphQL and CMS Export Build) in those areas
I need to write up tickets for that — will try to get to it today!

I'm linking her into our Epic so they understand our breakdown and can help us determine if some of the

[2020-11-19 19:33] peggygannon commented on #16243
Closing. This effort is still early in the discovery phase. More detailed content feedback will likely be provided at later stage.

[2020-11-19 19:33] #16243 closed

[2020-11-19 19:36] #14084 closed

[2020-11-19 19:37] allison0034 opened #16434 "Design Feedback - Staging Review - [Bilby (Lighthouse End-User Experience Team) - App Directory]"
- **Must** for if the feedback must be applied
- **Should** if the feedback is best practice
- **Consider** for suggestions/enhancements

**Must:**

- Style the Need help? section like the Sketch file under Templates or like this page (remove gray background and the word more) https://www.va.gov/health-care/apply/application/introduction

**Should:**

- None

**Consider:**

- None

**Definition of

[2020-11-19 19:44] allison0034 opened #16435 "Design Feedback - Usability Testing Prep - Authenticated Experience — Direct Deposit for EDU"
- **Must** for if the feedback must be applied
- **Should** if the feedback is best practice
- **Consider** for suggestions/enhancements

This looks nice!

**Must:**
- None

**Should:**

- None

**Consider:**

- Putting the bank fraud in the warning or info alert style to draw more attention https://design.va.gov/components/alertboxes

**Definition of Done:**
- [x] Incorporate the **Must** feedbac

[2020-11-19 19:45] peggygannon commented on #15518
Hi, @sporeboy  I don't see the new screens in the mockup links you provided above ^^. I can take a look again, once they latest updates are in there.

Here is what I'd recommend for those eligibility links:
[Find out if you're eligible for VA disability benefits](https://www.va.gov/disability/eligibility/)

[Find out if you're eligible for VA pension benefits(https://www.va.gov/pension/eligibility

[2020-11-19 19:46] allison0034 commented on #16434
@ricetj can you please assign the correct designer for this? I was not sure who it was. Thank you! 😊

[2020-11-19 19:48] kelsonic commented on #15196
PR merged, ready for validation following the daily deploy 🙂

[2020-11-19 19:51] esther-k commented on #13893
UI and functionality pass. Accessibility does not pass with multi-issue accessibility bug entered. Moving this to Design QA for review

[Accessibility Bug](https://app.zenhub.com/workspaces/va-mobile-app-5f205eac3155a2000f422ecb/issues/department-of-veterans-affairs/va.gov-team/16395)

[2020-11-19 19:53] RLHecht commented on #16110
I will be able to publish this tomorrow so you won't have to do anything. Does @LeKeve still need to test anything on demo or everything is OK to go live tomorrow?

[2020-11-19 19:57] omgitsbillryan commented on #16223
Bump @Jeff-Hayter

[2020-11-19 19:58] careyotto commented on #16434
@allison0034 What mockups are you looking at? The latest prototype does include black links for the additional info component  - the old files had blue because an old version of the design system sketch file included this error. Please let me know if I can be of further assistance. I will be OOO all of next week.

https://www.figma.com/proto/Oi4PR8zuoUwwMB2qbQnWtV/VA.gov-App-directory?scaling=min-

[2020-11-19 20:01] mnorthuis commented on #15647
Thank you!  I will update my notes for your #1 and #3 notes above.

For #2, please keep me posted on your conversations.  Taking users to the list page and scrolling to a questionnaire on the page with messaging will work except in those cases where a questionnaire (or link) is no longer valid.  For debt letters, we opted to always send the user to the overarching list page any time they bookmark

[2020-11-19 20:05] jbritt1 commented on #16223
@omgitsbillryan it appears Drew wasn't requesting AWS access according to the response to that portion of the request.

[2020-11-19 20:10] esther-k opened #16436 "Edit Address - Misaligned hint labels on iOS"
## What Happened?
_This applies to all of the edit address stories_

On iOS, the hint labels for each field are not centered

## Specs:
- Device: iOS - iPhone XR

## Steps to Reproduce
1. Navigate to either the mailing or residential address page
2. Note that the hint labels are not centered

## Desired Behavior
- The hint labels should be centered on the field

## Acceptance Criteria
- [ ] The hi

[2020-11-19 20:11] omgitsbillryan commented on #16223
Doh! Thanks

[2020-11-19 20:15] esther-k commented on #15058
Functionality passes on Android and iOS. UI passes on Android but fails on iOS. Accessibility does not pass with multi-issue accessibility bug entered. Moving this to Design QA for review

[iOS UI Bug](https://app.zenhub.com/workspaces/va-mobile-app-5f205eac3155a2000f422ecb/issues/department-of-veterans-affairs/va.gov-team/16436)

[Accessibility Bug](https://app.zenhub.com/workspaces/va-mobile-app

[2020-11-19 20:17] esther-k commented on #15059
Functionality passes on Android and iOS. UI passes on Android but fails on iOS. Accessibility does not pass with multi-issue accessibility bug entered. Moving this to Design QA for review

[iOS UI Bug](https://app.zenhub.com/workspaces/va-mobile-app-5f205eac3155a2000f422ecb/issues/department-of-veterans-affairs/va.gov-team/16436)

[Accessibility Bug](https://app.zenhub.com/workspaces/va-mobile-app

[2020-11-19 20:22] #16006 closed

[2020-11-19 20:26] luke-gcio commented on #12905
Talked to Mikki, did the whole staging review, I do not think they need anything else at this time.

[2020-11-19 20:26] #12905 closed

[2020-11-19 20:30] 1Copenut opened #16437 "508-defect-2 [AXE-CORE]: App Directory - Heading levels should increase by one"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2020-11-19 20:32] jenniemc commented on #16293
Hi @1Copenut, is this what you have in mind for the section heading to have h4 tags?

![image](https://user-images.githubusercontent.com/54327023/99720138-4d3b2d80-2a7b-11eb-8b46-e2309d3645a6.png)

[2020-11-19 20:36] bmcgrady-ep commented on #13102
@amycesal - I updated the data to include Percent Change. I had to create a new dataset, so can you update the table colors?

[2020-11-19 20:36] LeKeve commented on #16434
@allison0034 The mockups that Carey provided have the correct color. This is a front end update that needed to be made. The PR is linked to this issue and I will let you know when the changes have been made.

[2020-11-19 20:43] allison0034 commented on #16434
@LeKeve ok thank you. The screen shots that were given to us were blue. I did add one more comment about the "Need more help?" section.

[2020-11-19 20:44] bessgreen opened #16438 "Center loading screen"
## User story
1. Center the loading screen, with a margin between the spinner and the text

This updates the original requirements for [#14725](https://app.zenhub.com/workspaces/va-mobile-app-5f205eac3155a2000f422ecb/issues/department-of-veterans-affairs/va.gov-team/14725)

## Designs
https://app.zenhub.com/workspaces/va-mobile-app-5f205eac3155a2000f422ecb/issues/department-of-veterans-affairs/va.

[2020-11-19 20:45] 3obryandogs opened #16439 "Error message responses for FSR form"
Peggy, BAM2 asked me to research error message replies for the FSR form. Would the following be the best option? There are more than 30 such required questions and statements in the form.

Is your spouse currently receive VA benefits?  (*Required)

**Informational alert - We need your help to continue working on your request.**
Please answer the spouse benefits question so we can continue helping

[2020-11-19 20:46] RLHecht commented on #16110
@ricetj One request: In the intro, can we add "VA.gov" before "profile? So it would read: You can connect these third-party websites and applications to your VA.gov profile.

[2020-11-19 20:49] zacharymorel commented on #14482
@rtwell Tagging you here to get your weigh in.

The solution that Jenn purposed in the User story works. If we use change that `h3` to a `p` tag and use a definition element for the hidden **Form name** text, the screen reader does not register that theres two elements and does not repeat the "Form Name" + heading text.

If we bold the `p` tag and give the font size of `h4`, it goes against the he

[2020-11-19 20:49] artsymartha68 commented on #16427
Info from @stephenBarrs (thanks!)

From the info.plist it looks like the URL Scheme is: vavideoconnect
<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>vavideoconnect</string>
			</array>
		</dict>
	</array>

Aaron Steele is the VHA Office of Connected Care PM:
Aaron Steele	aaron.steele@va.gov	(202) 461-7302

LMK if dev team wants any other info

[2020-11-19 20:51] johnhashva commented on #13494
@jonwehausen (with @denisecoveyduc + @srsuddath + @ncksllvn FYSA) -- we've decided to launch the type-ahead POC site wide (vs. just home page) to ~5% of audience for 4 weeks.  With that change in mind: Will we be able to track where Type Ahead is used since we are making it global -- or is this a new dimension to the spec? (Apologies for the small creep here).

[2020-11-19 20:57] zacharymorel commented on #15785
Thread to current collaboration to determine best solution => https://dsva.slack.com/archives/C01DWJFD45D/p1605813270016600

[2020-11-19 20:58] LeKeve commented on #16110
@RLHecht No further testing on demo is needed. However, I noticed that the demo environment is not displaying the updates to the UI that are on `master` like prod preview did.

[2020-11-19 21:01] srsuddath commented on #14452
@jonwehausen We are looking at releasing this functionality to 5% of users side-wide, rather than just on the homepage. Does the analytics for the event tracking monitor which page the events come from? Or does the data layer not specify what the source of the traffic is? Just looking to get some clarifications before we release this feature.

[2020-11-19 21:01] ricetj commented on #16110
Hey @RLHecht sure. I think that makes things more clear.

[2020-11-19 21:04] ala-yna commented on #16354
### Accessing SOCKS proxy from the internet
The ~/.ssh/config file on your local system contains configuration to access the SOCKS proxy from outside the VA network - see Line 28 here.

Run the following command:

`ssh socks -D 2001 -N &`

https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/engineering/internal-tools.md#accessing-socks-proxy-from-the-internet

[2020-11-19 21:10] ricetj commented on #16434
@allison0034 The "Need More help" section is part of the Resource and Support (formerly Learning center) template. We do not control/ can not change anything there. You will need to talk with the Public Website team about any concerns in that section.

[2020-11-19 21:18] andaleliz commented on #16358
@jenniferlee-dsva I received some small edits from a couple of our contacts - everything is updated and reflected in the docs in the IRIS folder: https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/content/tier-2-content-IA-and-design/learning-center-mvp/discovery-and-research/iris

I've left guidance for my backfill as to where the source files can be found should a

[2020-11-19 21:18] #16358 closed

[2020-11-19 21:32] kristenmcconnell commented on #15647
#2. I will let you know. Good to know about debt letters. I will talk to them, because their use case may help with #3 UI.

@peggygannon and @DanielleThierryUSDSVA
#4. After exploring stop codes more, we think that we can make a more dynamic H1 now. Our first use case's stop code would translate to "Primary care." Also, we thought about what happens to this questionnaire once the appointment is co

[2020-11-19 21:33] theodur commented on #15628
Resolved in https://github.com/department-of-veterans-affairs/vets-website/pull/15031.

[2020-11-19 21:33] #15628 closed

[2020-11-19 21:38] bridgethapner commented on #15857
**Wireframe**: https://adhoc.invisionapp.com/share/GTZ1ESFF6BN#/screens/438292718_Homescreen_Loading_State
**Content**: "We are loading your personal and health-related information. This may take a couple of minutes."

- Font: Mobile Body (centered on screen)
- Common Component Loading Indicator
- marginBetween content & Loading Indicator

[2020-11-19 21:38] #15857 closed

[2020-11-19 21:40] meganhkelley commented on #14797
👋 here's the list of transformers we made (just scaffolding to unblock ourselves — they are not complete) after y'all launched R&S, in case it's helpful https://github.com/department-of-veterans-affairs/va.gov-team/issues/15861#issuecomment-722590115

[2020-11-19 21:41] jhonnyoddball commented on #16250
Fixed on PR [15026](https://github.com/department-of-veterans-affairs/vets-website/pull/15026)

[2020-11-19 21:41] #16250 closed

[2020-11-19 21:44] bridgethapner commented on #14762
### UX of Notifications for MVP

**We will send push notifications for:**
- Appointment reminders

**Details of how notifications will work:**
- The interval will be controlled by VEText (either morning of or 24 hours prior, it will be off schedule from the SMS to prevent overloading users with notifications at the same time).
- Notifications will deep-link to the relevant appointment screen.
- In

[2020-11-19 21:46] allison0034 commented on #16434
@LeKeve got it, thank you

[2020-11-19 21:46] bridgethapner commented on #14031
Hi there @DanielleThierryUSDSVA & @peggygannon! :wave: Just wanted to let you know that I will be PTO starting tomorrow until 11/30. If you have any questions about mobile app in the next week, please reach out to @artsymartha68.

[2020-11-19 21:46] #16434 closed

[2020-11-19 21:49] DanielleThierryUSDSVA commented on #15647
Hi @kristenmcconnell @peggygannon. Yes, sounds like a simple "[appointment type] questionnaire" is the best way to go. Even without "upcoming," an H1 of "Answer questions for your [appointment type] appointment" or another CTA-based H1 wouldn't work once it's in the "completed" tab. Only future concern, which I think @mnorthuis mentioned, is making sure stop codes translate to plain language appoi

[2020-11-19 21:50] mnorthuis commented on #15647
I was wondering if we could use "Answer [appointment type] questionnaire" for the actual form, but drop "Answer" when its displayed on the list page?

[2020-11-19 21:51] peggygannon commented on #16304
HI, @kristenmcconnell thank you for your feedback, especially about the findings from usability research. I'll take a look at your updated mockup and drop in feedback later today.

[2020-11-19 21:52] meganhkelley opened #16440 "Identify & document transformers owned by VSA Public Websites"
## Overview

The purpose of this ticket is to document ownership of transformers that are relevant to VSA Public Websites team. This will be used in part for triaging discrepancy issues in a forthcoming audit between GraphQL <> CMS Export Build.

## To Do

- Identify [which transformers](https://github.com/department-of-veterans-affairs/vets-website/tree/master/src/site/stages/build/process-cms-ex

[2020-11-19 21:53] 1Copenut opened #16441 "508-defect-2 [COGNITION]: App Directory - Accessible labels for "Find app" should describe which app"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2020-11-19 21:54] #12126 closed

[2020-11-19 21:55] meganhkelley commented on #12126
Duplicate of #15477

[2020-11-19 21:55] bridgethapner commented on #15974
Really like the idea of including a phone number here! But I don't think the help desk # that VAOS features would be able to give a Vet information about appointments if the appointments aren't loading on VA.gov. Maybe we can direct Vets to call their Medical Center (VA or otherwise) as the quickest solution?

I think we should also clarify the copy here that we can load some upcoming appointments

[2020-11-19 21:56] pjhill opened #16442 "VSP QA feedback for App Directory [Staging Review]"
## VSP QA feedback for App Directory [Staging Review]

**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

### Links
**Test Plan / Execution logs:**
https://dsvavsp.testrail.io/index.php?/runs/view/722
**Coverage for References Report**
https://dsvavsp.testrail.io/index.php?/report

[2020-11-19 21:59] 3obryandogs commented on #16361
I sent this to Peggy today to see if I'm headed in the right direction.

1.	Have you been employed within the past two years? (*Required)
Informational alert - We need your help to continue working on your request.
Please answer the employment question so we can continue helping you fill out your request.

[2020-11-19 22:00] brianalloyd commented on #15969
@meganhkelley closing this out based on our convo, team is going to focus on specific nodes related to R&S as a kickstarter and circle back with any questions.  We're also going to work ownership ticket as assigned.  Thanks.

[2020-11-19 22:00] #15969 closed

[2020-11-19 22:00] shiragoodman opened #16443 "Collaboration Cycle Assessment Checklist"
## Problem Statement
*In a couple of sentences, describe the Who, What, Why, and Where of the challenge / pain point you seek to address.*

*Follow your problem description up with a "How might we... _______" statement re-framing that challenge as an opportunity. Don't hint too much at what the solution might be, you should have enough of a focal point here to guide your ideas, but plenty of freed

[2020-11-19 22:01] denisecoveyduc opened #16444 "[SD] Click Tracking"
## Description

Search capabilities on VA.gov are powered by search.gov. To date they have not had click tracking abilities built into their analytics for API clients. As a result, we have not been able to track a users clicks on VA.gov.

Recently Search.gov has completed development and soft launched API-based  [click-tracking](https://search.gov/manual/clicks.html)  to enable "closed loop" analy

[2020-11-19 22:02] denisecoveyduc opened #16445 "Type Ahead"

[2020-11-19 22:03] 3obryandogs commented on #16363
I sent this to Peggy today to see if I'm on the right track.

1.	Have you been employed within the past two years? (*Required)

Informational alert - We need your help to continue working on your request.
Please answer the employment question so we can continue helping you fill out your request.

[2020-11-19 22:04] kristenmcconnell commented on #15647
Yes, we will keep an eye on stop codes. Like I said, our first use case will translate to "primary care." It should be close to/the same as the list of specialities in VAOS.

@mnorthuis I think that your suggestion could work.

[2020-11-19 22:07] bethpottsVADEPO opened #16446 "Remove REAP page from the sitemap and best bets"
## Issue Description
REAP page is being archived. We need to make sure it is removed from the sitemap and best bets.
/education/other-va-education-benefits/reap/index.html

---
## Tasks

- [x] Remove from Best Bets (@johnhashva)

- [x] Remove from sitemap (@denisecoveyduc & @srsuddath)

## Acceptance Criteria
- [x] REAP page is no longer findable.
--
## How to configure this issue
- [ ] **Attached

[2020-11-19 22:12] oksana-c commented on #15121
@jonwehausen , we've deployed the User Role dimension work on the CMS side and I updated the GTM container w/ appropriate variables.
The GTM container for VA.gov Internal Drupal CMS - Version 7 is ready for QA.

Pasting screenshots below that indicate changes made in GA and GTM made changes:

GA user role dimension:
<img width="1656" alt="Screen Shot 2020-11-18 at 7 57 00 AM" src="https://user-ima

[2020-11-19 22:12] JoeTice opened #16447 "Accessibility Health Dashboard"
## Problem Statement
*VSP does not currently have a mechanism to automatically gather, filter, display and report on accessibility issues in a way that can be regularly viewed and reported to VFS Teams, VSP and DEPO Leadership.*

## Hypothesis or Bet
*By creating a dashboard that can gather, filter and report on accessibility issues on the platform, we will provide greater insight the frequency, s

[2020-11-19 22:19] bethpottsVADEPO commented on #14568
@lwalsh617 I spent a little time with this today.
- Your main CTA (button) would be to the tier 1 page: https://www.va.gov/service-member-benefits/
- You can see the above page for how to frame your answer, specifically the section with the H2 "Time-sensitive VA benefits to consider when separating or retiring." Then, also cover in your answer info that will link to https://www.va.gov/health-care/

[2020-11-19 22:20] esther-k opened #16448 "Edit direct deposit info page - Embedded image missing on iOS"
## What Happened?
The embedded image in the expanded section of the "Where can I find these numbers" dropdown is missing on iOS

## Specs:
- Device: iOS - iPhone XR

## Steps to Reproduce
1. Navigate to the edit direct deposit info page
2. Expand the "Where can I find these numbers" dropdown

## Desired Behavior
-  The expanded section should contain the embedded check image

## Acceptance Criteri

[2020-11-19 22:27] mmiddaugh opened #16449 "[DISCOVERY] UX for when the Veteran has zoomed out too far"
## Issue Description
Since community care searches are now limited to 500 miles by PPMS, the "Search this area" button disappears when the Veteran has zoomed out past the limit.

We need to make some UX adjustments to ensure

1. Veterans using Voiceover understand that the button is no longer available
2. All Veteran users understand why the button is no longer available and how to adjust the sear

[2020-11-19 22:29] laurenernest commented on #16248
@bsmartin-ep Can you confirm you're seeing this on your end?

@vbahinwillit what would you say the LOE for this work was? (points-wise)

[2020-11-19 22:35] esther-k commented on #14714
**11/19**

UI and functionality pass. Accessibility does not pass on Android. Moving to Design QA for review

[2020-11-19 22:38] bmcgrady-ep commented on #16233
Learning Center KPI | Metric | Source | Go/No Go
------------ | ------------- | ------------- | -------------
Decrease in Contact Center calls | Total MyVA311 Calls by time period | Call Center Data (MyVA11) | ❌ No Go (need updated data)
Veteran "Customer" Satisfaction | Majority of feedback responses are positive (>50% are at least 3/5) | Foresee | ✔️ Go
Increase traffic to benefit hubs | User Co

[2020-11-19 22:41] brianalloyd commented on #16386
@ncksllvn provide an estimate for this and remove `needs grooming` label.

[2020-11-19 22:41] esther-k commented on #15097
**11/19**

PASS - on iOS and Android. Moving to design QA

[2020-11-19 22:44] esther-k commented on #15946
**11/19**

PASS - on iOS and Android. Moving to design QA

[2020-11-19 22:45] 1Copenut opened #16450 "508-defect-4 [COGNITION]: App Directory - Links with same name should have similar purposes"
# [508-defect-4](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-4)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2020-11-19 22:46] esther-k commented on #15960
**11/19**

PASS - on iOS and Android. Moving to design QA

[2020-11-19 22:49] laurenernest commented on #15834
@bsmartin-ep Can you confirm you're seeing these events appear on your end?

[2020-11-19 22:51] esther-k commented on #15989
**11/19**

PASS - on iOS and Android. Moving to design QA

[2020-11-19 22:52] ala-yna opened #16452 "Caregiver POA Discovery"
## High Level User Story
As a Veteran or Caregiver, I need _____ so I can _____.

See notes: https://github.com/department-of-veterans-affairs/va.gov-team/issues/16485

## Goals
_What outcome(s) do we want to see?_

## Research questions

- Can you tell me a little bit about POA and how it is currently being used?
- Are there any reasons (we need to be aware of) that made attaching POA documentati

[2020-11-19 22:54] joanneesteban commented on #14883
## Notes from 11/19 Meeting

The Caregivers team is looking to share findings on Monday, 11/23.

Metrics to Look At: @bsmartin-ep @JasonTheBearded
Time frame - 2 views:
- March - October of 2019 and March - October of 2020
- July 1 - October of 2019 and July 1 - October of 2020

How many Veterans are looking at the How to Apply page?
- Number of veterans looking at the How to Apply page
- [GA](htt

[2020-11-19 22:54] mmiddaugh opened #16453 ""Search this area" does not appear after zooming"
## Issue Description
The "Search this area" does not appear after zooming in or out on the map, only after panning.

https://www.loom.com/share/64888f77d01f483f96b56803a401f110

Both zooming and panning will trigger the "Search this area" button?

---
## Tasks
- [ ] Determine the desired user experience.

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---

[2020-11-19 22:57] ala-yna opened #16454 "Backend - allow Veterans to apply to PCAFC with only secondary caregiver(s)"
See: https://github.com/department-of-veterans-affairs/vets-api/pull/5264

[2020-11-19 22:58] esther-k commented on #15995
**11/19**

PASS - on iOS and Android. Moving to design QA

[2020-11-19 22:58] #16454 closed

[2020-11-19 23:02] esther-k commented on #15622
**11/19**

PASS - on iOS and Android. Moving to design QA

[2020-11-19 23:04] ala-yna opened #16455 "Research on 10-10CG Submission Times"
How long does the average API call to submit a 10-10CG claim take?

https://dsva.slack.com/archives/CMJ2V70UV/p1604702251367000

[2020-11-19 23:04] ala-yna opened #16456 "Research on 10-10CG Submission Times"
How long does the average API call to submit a 10-10CG claim take?

https://dsva.slack.com/archives/CMJ2V70UV/p1604702251367000

[2020-11-19 23:04] #16456 closed

[2020-11-19 23:08] ala-yna opened #16457 "Frontend - apply to PCAFC with only secondary caregiver(s)"
Clones https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/15161

[2020-11-19 23:16] pnwstevan commented on #16181
This should be complete; check the repo for all PRs:

https://github.com/department-of-veterans-affairs/terraform-aws-vsp-eks/

[2020-11-19 23:19] outerpress commented on #16038
@laurenernest @vbahinwillit I added links in the description to specs that show general layout for reference. This should use the standard modal/button/header styles and components. If you need more detail, let me know.

[2020-11-19 23:21] DanielleThierryUSDSVA commented on #16308
Hi @brianalloyd @youngfreezyVA @kelsonic . Just connecting dots here. I'd originally logged a similar bug about this issue during the Cerner launch week. We didn't want to work on it then because we didn't want to potential interfere with the more critical issues. But just want to make sure you know that these 2 tickets are for the same issue: https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a

[2020-11-19 23:29] laurenernest commented on #16038
@jbalboni @LanceGundersen Just want to confirm that this ticket can be worked on in conjunction with #15653

[2020-11-19 23:29] mmiddaugh opened #16458 ""all" Urgent care search results"
## What happened?
Search results for "All urgent care" is not the same as "VA urgent care" + "Community urgent care" with the same geographic parameters.

## Desired behavior
When a Veteran searches for  "All urgent care" , it should include the results from "VA urgent care" and  "Community urgent care" assuming the same geographic parameters.

## How to configure this issue
- [ ] **Attached to a

[2020-11-19 23:35] mlighdc commented on #16452
@ala-yna  and @jonathanjnelson would either of you like to drive the conversation tomorrow? Do you have your list of questions ready?

[2020-11-19 23:37] outerpress commented on #15943
@laurenernest The [spacing issue I saw](https://images.zenhubusercontent.com/5f7ce3163782a585b910eaf3/3e443619-6794-43fa-a233-0118b8c1be4d) that led to this one was from leaving Mailing Address Line 2 blank.

So I don't know if there's value in adding specs for this, we just need to not be adding a blank space on the review page address if mail 2 is blank.

Though that issue might resolve itself o

[2020-11-19 23:39] bsmartin-ep commented on #15834
@laurenernest -

A few things I see...

1.  The radio button clicks have the `vaos-` prefix.  They should start with `int-`.

![image](https://user-images.githubusercontent.com/62304138/99737535-7ddc9080-2a96-11eb-8cd0-b24d73da5a61.png)

2.  I don't see the `vaos-number-of-preferred-providers` parameter in the `vaos-community-care-submission` event:

![image](https://user-images.githubusercontent.

[2020-11-19 23:45] DanielleThierryUSDSVA commented on #14031
Thank you, @bridgethapner, and hope you enjoy your time away!

[2020-11-19 23:55] esther-k opened #16459 "Appointments Overview Nav - Accessibility issues"
## What Happened?
**Axe / Accessibility Scanner**
1. Using Axe and Google Accessibility Scanner, the segmented selector was measured to be 33px tall. Touchpoints must be a minimum of 44px by 44px
     - Note: Screenshot only shows the upcoming button, however, the entire selector is affected

**Resizing**
2. When a larger font/display size is enabled on iOS, the upcoming button text in the segment

[2020-11-20 00:13] esther-k commented on #15991
**11/19**

PASS - on iOS and Android. Moving to design QA

[2020-11-20 00:22] esther-k commented on #15942
**11/19**

Pass on iOS (issue only affected iOS). Input for pickers is only taken once 'done' is selected

[2020-11-20 00:22] #15942 closed

[2020-11-20 00:24] esther-k commented on #16134
**11/19**

Pass on iOS and Android. Page title now reads '"Direct deposit"

[2020-11-20 00:24] #16134 closed

[2020-11-20 00:38] lianilychee commented on #14527
Hello!  Wanted to check in on this - do yall still need content review / may I remove Amy from the list of assignees?

[2020-11-20 00:44] tlei123 commented on #16135
For BaM2's Debt Letters Stg Rvw, used my own custom NodeJS script to post E2E test-results to TestRail, in order to:
- post into an existing Test Plan.
- post only the relevant Group (Section) of Test Cases.

[2020-11-20 00:51] bessgreen opened #16460 "Save phone number: Service integration"
This is a backend task to save a user's phone number. The associated UI is included in different stories.

## Acceptance Criteria:

1. Make call to save a user's phone number on the following pages:
     - Home phone
     - Work phone
     - Cell phone
     - Fax number
2. Selecting the "Save" button will save the fields in the edit screen and on the Personal Information page. The saved fields sho

[2020-11-20 00:53] bessgreen opened #16461 "Save address: Service integration"
This is a backend task to save a user's address. The associated UI is included in different stories.

## Acceptance Criteria:

1. Make call to save a user's address on the following pages:
     - Mailing address
     - Residential address
2. Selecting the "Save" button will save the fields in the edit screen and on the Personal Information page. The saved fields should persist & appear to the user

[2020-11-20 00:59] jonathanjnelson commented on #16452
Hi, @mlighdc

Here are some questions that @ala-yna and I will revise in the morning. Alayna and I can discuss who will drive the conversation first thing.

- What problem are we trying to solve for the user?
- What problem are we attempting to solve for program team?
- Are there any reasons (we need to be aware of) that made attaching POA documentation a top priority?
- When would a Veteran uploa

[2020-11-20 01:26] laurenernest opened #16462 "Community Care Provider Selection - Iterations to MVP"
## Who is the target user?
Eligible community care Veterans who are using VAOS to request community care appointment

## High Level User Story/ies
As a veteran, I would like the VAOS app to automatically find and display eligible Community Care providers closest to my residential address when booking a Community Care appointment. I also want my selected Community Care provider's information to aut

[2020-11-20 01:38] esther-k commented on #13962
**11/19**

UI and functionality pass. Accessibility does not pass with a [multi-issue bug](https://app.zenhub.com/workspaces/va-mobile-app-5f205eac3155a2000f422ecb/issues/department-of-veterans-affairs/va.gov-team/16459) entered. Moving this to Design QA for review.

[2020-11-20 01:40] mlighdc commented on #16452
Thanks @jonathanjnelson and @ala-yna .  Couple of suggestions... I would think through the order of the questions for the conversation like you would for any conversation guide for user research. Unless you both know the reasons why POA is needed, I would suggest starting off with a basic question like that so you have background and understanding of how it is used in the Caregiver Application pro

[2020-11-20 02:09] SgardnerPMP opened #16463 "[Engineer] Rebuild Devshop environments for systems [PM]"
## Issue Description
Sites need to be rebuild for VAMC, so they can continue to test, stage review, and move to dual state prep

---
## Tasks
update the following systems in Devshop
- [x] Erie
- [x] Lebanon
Create the following:
- [x] Asheville
- [x] Durham
- [x] Fayetteville Costal
- [x] Hampton

## Acceptance Criteria
- [x] Sites are created
- [x] Sites are published and content is released
- [x

[2020-11-20 02:09] 1Copenut opened #16464 "508-defect-2 [COGNITION]: App Directory - Additional information buttons must have aria-expanded attribute to give screen readers context"
#  [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2020-11-20 02:34] 1Copenut opened #16465 "508-defect-4 [COGNITION]: App Directory - Consider reviewing technical language for OneRecord app additional information"
# [508-defect-4](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-4)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2020-11-20 02:43] 1Copenut opened #16466 "508-defect-4 [COGNITION]: App Directory - Additional information lists should be unordered lists"
# [508-defect-4](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-4)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2020-11-20 02:53] 1Copenut commented on #16432
@ricetj I've got all my issues entered ahead of a prod launch. LMK when you're ready for me to test there as well.

[2020-11-20 04:17] #15817 closed

[2020-11-20 05:10] mlighdc commented on #14883
@joanneesteban based on the notes ^^. Can we see how many veterans come back at a later time to complete the form? I thought there was a measure in GA that has this information but I can't remember exactly.

[2020-11-20 12:43] #15932 closed

[2020-11-20 12:44] #15931 closed

[2020-11-20 12:44] #15930 closed

[2020-11-20 13:08] ndsprinkle commented on #15601
![image](https://user-images.githubusercontent.com/53942725/99803497-90db7900-2b07-11eb-8487-7cb3aa3ac941.png)

Issue last seen three days ago, which coincides with the merged PR! This should be safe to close now @luke-gcio

[2020-11-20 13:45] RLHecht commented on #16110
@LeKeve Great. Yeah, sometimes the demo doesn't pull the latest from Prod as it should. But what you see on Prod is what will publish so we are OK. @ricetj Great. This will get published today in time for the deploy. It should be live by around 4 p.m. ET.

[2020-11-20 13:53] lealester commented on #16078
-moving into validate 11.20.2020

[2020-11-20 14:00] delli-gatti-michael commented on #15828
Local testing complete

![Screen Shot 2020-11-20 at 8.13.22 AM.png](https://images.zenhubusercontent.com/5c07f000391a6f6357adc430/5ee3d04b-12d0-4e20-9ccc-a6a9abeba121)

---

![Screen Shot 2020-11-20 at 8.30.06 AM.png](https://images.zenhubusercontent.com/5c07f000391a6f6357adc430/1838600a-b13b-4609-b9d9-d69ea96d69d9)

[2020-11-20 14:19] joanneesteban opened #16467 "User Survey Request for Public Websites"
# Request the Medallia Survey

## What this form is for
Use this template to request adding the Medallia Survey to your product.

Read more about Medallia [link](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/platform/medallia) & how to request a survey [link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/analytics/medallia-r

[2020-11-20 14:19] holdenhinkle opened #16468 "Access for Holden Hinkle"
@department-of-veterans-affairs/vsp-operations

# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Do not remove `operations` label; this will notify the VSP Operations team of your request
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (

[2020-11-20 14:23] ala-yna commented on #16452
Thanks @mlighdc and @jonathanjnelson ! I edited the question list a bit and put it in the description of this Github issue. Once we get a sense of the scope for what they have in mind, we can start to think about prototyping. I agree it would be great to do a few usability sessions.

[2020-11-20 14:24] johnhashva commented on #14739
•	On 11/5/2020, VA sent #VetResources Newsletter:  Action may be needed on your online VA Disability Claim to 2,507 recipients opened by 1,838 and drove 122 clicks to embedded links. Additional analytics: open ratio 40%, bounce ratio 1% and unsubscribed as 0.
•	Top links accessed from this send were: File for disability compensation , VA.gov and How to file a VA disability claim

[2020-11-20 14:24] #14739 closed

[2020-11-20 14:24] johnhashva commented on #16446
@denisecoveyduc I will take care of the Best Bets task in this ticket -- and we will need Sam to tackle the Site Map XML removal.   We have a few other Site Map XML housecleaning tasks so may want to bundle these in an upcoming sprint -- e.g. #9494.

[2020-11-20 14:25] ricetj commented on #16432
@1Copenut Thank you for putting all this together. We will be live around 4:00 pm est today at this url: http://www.va.gov/resources/find-apps-you-can-use

[2020-11-20 14:28] amyknox opened #16469 "CT Redesign: Executive Summary"
Create executive summary from discovery deck for distribution to Education leadership

[2020-11-20 14:30] jbalboni commented on #16038
@laurenernest It would need to wait for  #15653 to be complete

[2020-11-20 14:32] johnhashva commented on #16446
@bethpotts updated the ticket to reflect two discrete tasks -- removal from Best Bets, then removal from Site Map.   The Best Bets has been deleted.  We will get the Site Map in our upcoming sprint.

[2020-11-20 14:34] #15803 closed

[2020-11-20 14:34] ricetj commented on #16465
@1Copenut I agree that the text here is not as user friendly as one would hope, but this is coming straight from the 3rd party app (in this example one health), so we really don't want to edit or rework any content they are marketing to users.

[2020-11-20 14:36] luke-gcio commented on #15900
We decided to go with a full usability study.  Closing this and will be creating more stories for the research study.

[2020-11-20 14:36] #15900 closed

[2020-11-20 14:37] Samara-Strauss opened #16470 "[FE] Direct deposit for comp & pen: Update copy so it matches eventual direct deposit for edu designs"
## Background

As Jim was developing the direct deposit for edu designs, Peggy suggested we [update some of the direct deposit copy](https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/15518#issuecomment-718869730). We'll implement this copy for direct deposit for edu when we do the direct deposit for edu build, but in the meantime, we s

[2020-11-20 14:38] #15933 closed

[2020-11-20 14:39] 1Copenut commented on #16465
@ricetj I wondered if that was the case. Given that fact, and the SC is a WCAG 2 AAA (beyond basic Section 508 compliance). Go ahead and close this issue when you're ready.

[2020-11-20 14:40] luke-gcio opened #16471 "[Development] BDD: UAT Session 11/20 10 AM ET"
## Issue Description
Visualizing the UAT session and will take notes here.

https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/disability/disability-compensation-claim/bdd/BDD%20Research/UAT-August-2020/conversation-guide-uat.md

---
## How to configure this issue
- [x] **Attached to a Milestone** (when will this be completed?)
- [x] **Attached to an Epic** (what bo

[2020-11-20 14:42] #16465 closed

[2020-11-20 14:44] 1Copenut commented on #16432
Thank you @ricetj I'll put this on the short list of things to do. It might be Monday / Tuesday before I can finish up, but I didn't see big items in the first pass. It should be a straightforward audit.

[2020-11-20 14:44] ricetj commented on #16428
Hello Peggy, thank you for taking the time to talk with us in the staging review yesterday. I agree that the text here is not as user friendly as one would hope, but this is coming straight from the 3rd party app, so we really don't want to edit or rework any content they are using to market to users.

[2020-11-20 14:45] ricetj commented on #16432
Sounds great, thank you for all the great work you do @1Copenut !!

[2020-11-20 14:48] ajmagdub commented on #12912
error processing was modified to provide more BE (VAMF) error information to the Back End. Pager Duty hooks are already in the Rails AP. Next step is to come up with a DevOps call response / rotation that can be triggered by Pager Duty.

[2020-11-20 14:48] #12912 closed

[2020-11-20 14:57] delli-gatti-michael commented on #14417
Local testing complete

[2020-11-20 15:13] holdenhinkle opened #16472 "Analyze removing testing data attributes from production to save bandwidth"
## High Level User Story/ies
As an operations engineer, I need a way to remove the `data-` attributes that are used for Cypress end-to-end and UI tests from the production build so the VA can save bandwidth.

## Hypothesis or Bet
If we perform an analysis as to what kind of impact removing test-related data attributes from the production build could have on reducing bandwidth we’ll see that it has

[2020-11-20 15:14] ricetj commented on #13708
Hey @bmcgrady-ep sorry to took my awhile to find this ticket. Can we setup sometime today so I can show you the flow to connect and disconnect an app?

[2020-11-20 15:16] amyknox commented on #15721
@peggygannon - the forms we're looking at updating are all education benefit forms: 22-1995, 22-0994, 22-1990, 22-1990E, 22-1990N, 22-5490, 22-5495

We're looking at changing the chapter titles to sentence case, updating any of the form labels to match the form label master list, and updating the confirmation content as relevant. The confirmation page updates are what I'm asking about in the Nov.

[2020-11-20 15:18] #15219 closed

[2020-11-20 15:19] johnhashva opened #16473 "Education Wizard - Complete Development with new UX/IA/Content Guides"
## Issue Description

With the completion the Wizards refinements usability study the week of November 9th --  with no significant changes required -- we are now ready to provide the final UX-IA-Content specs/guides to you for “close out” implementation.  Here are the relevant links to guide the final phase of development for staging review/production release:

- [IA documentation](https://github.

[2020-11-20 15:20] ricetj commented on #15335
@LeKeve has a PR for the analytics in the widget, but it looks like the public website will need to do the other parts of the analytics because they live in their templates. We're launching the app directory today around 4:00 pm est at this url: http://www.va.gov/resources/find-apps-you-can-use, but linking to the page won't happen until Monday.

@jonwehausen I think you said you needed to test th

[2020-11-20 15:22] holdenhinkle opened #16474 "Document how to test viewports and which viewports to test"
## High Level User Story/ies
As a frontend engineer, I need clear and concise documentation about the mobile, tablet and desktop viewports I should test.

## Hypothesis or Bet
Creating documentation about the top mobile, tablet and desktop viewports used by va.gov users will help frontend engineers write tests faster and write tests that are applicable to real va.gov users.

## Issue Description
D

[2020-11-20 15:26] holdenhinkle opened #16475 "Update Cypress Migration Guide & create new Best Practices doc"
## High Level User Story/ies
As a frontend developer, I need documentation that is on-topic so I can quickly find the information I need.

## Hypothesis or Bet
Moving the general information about Cypress from the Cypress Migration Guide to a new document called Cypress Best Practices will provide focus to the Cypress documentation making it easier for engineers to find the information they’re loo

[2020-11-20 15:29] holdenhinkle opened #16476 "Consolidate Cypress documentation & remove documentation that is out of date."
## High Level User Story/ies
As a frontend developer who uses Cypress for automated tests, I need Cypress documentation that is up-to-date and in one place so I know where everything is and don’t have to hunt for it, so I can find the accurate information I need quickly and easily.

## Hypothesis or Bet
Keeping all Cypress-related documentation in one place will make it easier for engineers to fin

[2020-11-20 15:39] caw310 commented on #14527
I think you can remove Amy from the list of assignees.

[2020-11-20 15:41] #15890 closed

[2020-11-20 15:49] bmcgrady-ep commented on #13708
Hi @ricetj - Sure, I am available anytime after 12PM EST today.

[2020-11-20 15:51] shiragoodman commented on #16387
hey @YanaRoy  - please let me know when Ron is on Slack and I'll reach out to schedule VSP orientation. thanks!

[2020-11-20 15:51] jenstrickland commented on #14482
The proper solution is if we retain the `<h4>` semantics and don't hide the "Form name: ". This will prevent VoiceOver from repeating the heading, while retaining the semantic relationship of the `<h3>` and `<h4>` for both sighted and non-sighted users.

What do you think, @rtwell ?

[2020-11-20 15:51] LeKeve commented on #16110
@RLHecht Perfect, thank you!

An additional question, I have a UI update and analytics that will be in the daily release of `vets-website` today. Will we need to let you know and have the page republished or am I correct in understanding that it will automatically pull from prod?

[2020-11-20 15:55] LinnJS opened #16477 "Ensure un-nesting Veteran Facility name and type does not break API"
## User Story
As a Frontend Developer I have completed Schema updates to unnest veteran medical facility name & type from the 10-10CG form. To ensure lower risk we need to check the BE to make sure this schema update does not break the BE.

## Expected Behavior
@kevinmirc please check vets-api to ensure [this](https://github.com/department-of-veterans-affairs/vets-json-schema/pull/549) schema upda

[2020-11-20 15:58] RLHecht commented on #16110
@LeKeve I won't need to republish anything. It should automatically pull from prod.

[2020-11-20 15:58] mnorthuis commented on #15647
@kristenmcconnell  Draft of IA is complete and ready for review and can be shared with your team.   I know we have a couple of things to finalize, so will keep this open until those questions are answered.  Findings in research and development, as well as content changes can impact URLs and breadcrumbs, so please keep me posted if anything impacts the information here.

https://github.com/departme

[2020-11-20 16:02] meganhkelley opened #16478 "Determine solution for auto-deploy of content using CMS Export Build"
### User Story

As a content editor, I want to see my published content on VA.gov within minutes, without having to ask someone to kick off a manual deploy.

### Description

Content editors and VA stakeholders expect that when we release CMS Export Build, the above user story will be met — there will be an auto-deploy that will publish the content to VA.gov. Currently, according to Neil (CMS team

[2020-11-20 16:07] jenniferlee-dsva commented on #15649
Adding a blocked flag here. @rtwell  is updating interim 1.1 desktop design, so we'll upload final final desktop and mobile here so everything is ready for you together at the same time.

[2020-11-20 16:08] Samara-Strauss opened #16479 "[FE] Direct deposit for edu build"
## Background

Related tickets: Direct deposit for edu epic #11537; Design #13810, #14557, and #15916 ; Copy #15518

As of 11.20.20, we are ready to begin FE build for the direct deposit for edu feature. There may be some updates pending user testing feedback, but designs are done and copy has been approved. Here's the link to the final FE specs:

[Direct deposit for edu final design specs for FE

[2020-11-20 16:14] RLHecht commented on #16110
This page has been published. Moving to validate and will close after today's deploy. FYSA @brianalloyd @bethpottsVADEPO

[2020-11-20 16:14] lexicalninja commented on #16427
Wait, is this only on iOS?

[2020-11-20 16:21] artsymartha68 commented on #16427
Excellent question! @stephenBarrs is OOO today.

Repasting what he sent me, it seems to be missing from my cut n paste:

[code]

[2020-11-20 16:22] artsymartha68 commented on #16427
The App Store says it works on Android.

[2020-11-20 16:23] meganhkelley opened #16480 "Benchmark GraphQL build & deploy time and prepare to measure for CMS Export Build"
### Problem Statement

We have committed to reaching a 5 minute "publish time" with CMS Export build, but we do not have a benchmark for this metric in GraphQL, and we have not defined "publish time".

How might we define & benchmark this metric so that we can track changes in it over time & build pipeline systems?

### Definition of Done
- [ ] Determine what makes sense to measure — build time? b

[2020-11-20 16:23] lexicalninja commented on #16427
I am not seeing an android app here in play store

[2020-11-20 16:24] artsymartha68 commented on #16427
https://mobile.va.gov/appstore/android

[2020-11-20 16:25] holdenhinkle commented on #16472
Jhonny Gonzalez was a big help in giving me some direction here. Part of my conversation with him:

Jhonny Gonzalez  11:06 AM
`yarn analyze` should do the trick. You can also specify a bundle.
11:06
I'm not sure how familiar you are with the system

Holden Hinkle  11:06 AM
I’m not very familiar yet.
11:07
cool, I’ll look into `yarn analyze`…

Jhonny Gonzalez  11:07 AM
this is the library
`webpack-

[2020-11-20 16:25] artsymartha68 commented on #16427
Not sure it's in the official play store but this is the VA "App Store"

[2020-11-20 16:25] johnhashva opened #16481 "[Idea] Make Modern VA.gov Preferred in Search Results"
### What is the Idea?

How might we make VA.gov site search results (as powered by Search.gov) "favor" VA.gov modernized content as the source of truth?

### Problem(s) to be solved

- Right now, a typical VA.gov search result (for terms such as "Blue Water" or "Vet Tech") return a lot of links for duplicative content or old content that is already available via the modernized VA.gov benefit hubs.

[2020-11-20 16:26] jenniferlee-dsva commented on #16352
Hi @MarciMcGuireGCIO  - feel free to reach out to Brian who is our POC and lead with all things transformer with the platform team. It's rather complex - even hard for engineers to grasp. We'd like to keep this line of coordinating with the platform team streamlined through Brian, so things don't get super diffuse and blobby.

[2020-11-20 16:27] lexicalninja commented on #16427
I am looking on my phone and no VA Video connect app is available through the Play Store

[2020-11-20 16:28] lexicalninja commented on #16427
here is what is in play store
https://play.google.com/store/apps/developer?id=US+Department+of+Veterans+Affairs+%28VA%29

[2020-11-20 16:28] jenniferlee-dsva commented on #16352
And I may have some of that wrong - because: not an engineer. :-)

[2020-11-20 16:29] artsymartha68 commented on #16427
What happens if you go here? Sorry, I don't have an Android phone
https://mobile.va.gov/appstore/android

[2020-11-20 16:29] #15967 closed

[2020-11-20 16:32] lexicalninja commented on #16427
Those are links to the play store apps. But VAVC only has a link to the apple app store; there isn't a link to the Play Store.
if I click on the Android link next to the icon it takes me back to the mobile.va.gov/appstore/android landing page

[2020-11-20 16:32] youngfreezyVA commented on #16353
after discussions with @kelsonic and @ncksllvn closing this out in favor of either a drupal or 3rd party solution (like prismic). edibility workflow of vagovcontent isn't scalable.
cc: @DanielleThierryUSDSVA

[2020-11-20 16:32] #16353 closed

[2020-11-20 16:33] #13619 closed

[2020-11-20 16:34] meganhkelley opened #16482 "Establish rollback plan for each phase of CMS Export Build release"
This ticket is for documenting a rollback plan for each phase of CMS Export Build release.

The rollback may be pretty straightforward, but we should be sure to consider things like:
- [ ] How fast would rev-proxy changes take effect?
- [ ] How much of a burden will it be on Ops to coordinate with us?
- _what other edge cases or dependencies do we need to consider as part of a rollback plan?_

###

[2020-11-20 16:34] artsymartha68 commented on #16427
Aaaaah..... here we go. Working as designed? No app on Android?

"VA Video Connect works on Android devices that have an internet connection and a web camera. No application download is required. Ahead of a VA Video Connect appointment, you will receive an email or calendar invite with a link to launch the session."

[2020-11-20 16:35] lexicalninja commented on #16427
That page needs some help. under each app it has links for ios android and maybe web. But the links just direct back to mobile.va.gov/app-type/<whatever>

[2020-11-20 16:36] artsymartha68 commented on #16427
+1 on the confusion

[2020-11-20 16:37] lexicalninja commented on #16427
Not technically. It just uses the phones browser, but iOS has an app specifically designed for the form-factor.

Using the browser just uses the web in whatever responsive way they have decided on.

If you look at the play store reviews for the VA Launchpad, people are not happy about it

[2020-11-20 16:37] #15228 closed

[2020-11-20 16:41] artsymartha68 commented on #16427
Shall I try and set up a meeting with Aaron? Who all would like to attend?

[2020-11-20 16:43] lexicalninja commented on #16427
Probably. Lets bring this up next time you are at stand up and see who needs to attend. I don't want to assume anything for anyone on the team on this one since it may or may not be a big sticking point.

[2020-11-20 16:44] LeKeve commented on #15335
PR has been merged. The following interactions are ready to be tracked:

- Clicks on the `Find app` secondary button CTA
- Clicks on additional info component

The remaining interactions will need to be implemented in the static template by the public websites team.

@jonwehausen The additionalInfo component is no longer executing API calls (all requests are being made on application load) so no f

[2020-11-20 16:48] kevinmirc commented on #16456
**How long do submissions API calls take (on average)?**
Response time of successful API responses for form submissions on 11-05-20 UTC, in seconds.
 |metric|value|
|------|----:|
| Average                    | 10.370 |
| Min                            |  6.365 |
| Max                          | 53.528 |
| 95th Percential        | 13.283 |
| Standard Deviation  |  3.475 |

 \* *more details here*:

[2020-11-20 16:53] zacharymorel commented on #15772
Thread to current collaboration to determine best solution => https://dsva.slack.com/archives/C01DWJFD45D/p1605813270016600

[2020-11-20 16:55] meganhkelley opened #16483 "Secondary test for CMS build comparison"
### Description

Primary validation of CMS build comparison is captured in ticket #13762. However, we need a secondary method of validation to supplement. VSA Facilities team has expressed interest in having a manual validation to compare build outputs — manual is certainly an option, but for a full site comparison manual validation would almost certainly consist of a "spot check," assuming that n

[2020-11-20 16:57] esther-k opened #16484 "Checkbox common component - Text labels not picked up by screen reader on Android"
## What Happened?
On Android, the text labels for the checkbox are not being read by the screen reader. TalkBack is only picking up the a11yHints.

Affects the checkboxes on these pages:
- Edit Address
- Edit Direct Deposit Information

## Specs:
- Device: Android - Google Pixel 3XL with TalkBack enabled

## Steps to Reproduce
1. With TalkBack enabled on Android, navigate to either the edit addres

[2020-11-20 16:59] esther-k commented on #15442
**11/20 Update**
Android [accessibility bug](https://app.zenhub.com/workspaces/va-mobile-app-5f205eac3155a2000f422ecb/issues/department-of-veterans-affairs/va.gov-team/16484) entered

[2020-11-20 17:06] Samara-Strauss commented on #15686
@pjhill the only reason we used a spreadsheet for this is because the original direct deposit QA for the comp & pen feature happened prior to the team using TestRail. @tzelei said it was OK if I modified the old spreadsheet for the new direct deposit for edu test cases, and he said it was OK to submit the spreadsheet for the review. We know about TestRail and have used it for all our other QAs, an

[2020-11-20 17:12] mpelzsherman commented on #15454
The "media asset downloads" are also not showing up, so I'll fix that here as well.

[2020-11-20 17:39] ala-yna opened #16485 "POA Notes"
## Research questions

- Can you tell me a little bit about POA and how it is currently being used?
 - If someone is signing on behalf of another, we need to be able to document that and be able to attach that documentation.
- Are there any reasons (we need to be aware of) that made attaching POA documentation a top priority?
- When would a Veteran upload a POA document?
- What do you know about w

[2020-11-20 17:49] kevinmirc commented on #16226
Other states to confirm:
|Name|ANSI|Test Passed (accepted by CARMA)|
|---|---|---|
| Micronesia | FM||
|American Samoa|AS||
|Guam|GU||
|Northern Mariana Islands|MP||
| Puerto Rico | PR ||
| U.S. Virgin Islands | VI ||
| U.S. Minor Outlying Islands | UM ||
| Marshall Islands | MH ||
| Palau | PW ||
| U.S. Armed Forces - Americas | AA ||
| U.S. Armed Forces - Europe | AE ||
| U.S. Armed Forces - Pac

[2020-11-20 17:59] johnhashva commented on #15043
Attached here are new examples of various address "issues" related to forms as outlined by the stakeholder (with PII redacted)

[VA 21-530 Application for Burial Benefits_Redacted.pdf](https://github.com/department-of-veterans-affairs/va.gov-team/files/5575282/VA.21-530.Application.for.Burial.Benefits_Redacted.pdf)

[redacted 2.zip](https://github.com/department-of-veterans-affairs/va.gov-team/fil

[2020-11-20 18:02] ElijahLynn opened #16486 "Use `cheerio` dependency instead of `libxmljs`"
Per discussion (internal) https://dsva.slack.com/archives/C5HP4GN3F/p1605894432045100.

The latest `libxmljs` dependency with the recent Node 14 upgrade doesn't have up to date binaries, see https://github.com/libxmljs/libxmljs/issues/582 and the install falls back to `make`ing it from source, which increases the build time and creates an OS level dependency on `gcc-c++`.

There is a newer, mainta

[2020-11-20 18:03] rtwell commented on #16192
This issue should not be closed as it is not complete.

[2020-11-20 18:04] rtwell commented on #16192
what's missing: **The corner radius of the button is different on mobile—the top-right and bottom-right corners should have a radius of `0`**

[2020-11-20 18:05] rtwell commented on #14482
Oh, well if we can make this better for all with this change, I fully support it!

[2020-11-20 18:11] mgleo commented on #16189
[Social listening doc](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/search/research/social-listening.md) created and added to the research folder.

[2020-11-20 18:13] jenstrickland commented on #16192
Additionally, the implementation must be 508-compliant and accessible. The options recommended were:

1. If the sticky button is the chosen direction, it needs aria applied to announce it to screen readers, and then focus management to make it clear where the user is and what options are available.

1. If the Back to top link is provided at the bottom of individual sections it will be more accessi

[2020-11-20 18:13] rtwell commented on #16192
I would also like the logic of the full button/vs mobile button to work like this (and I apologize @zacharymorel if I am contradicting myself from our convo earlier, but now that I see this work, it's clearer to me). It would great if whenever the button would be right-aligned **against** the viewport (which is dependent on breakpoints) that it would be the square (mobile) incarnation, and the ful

[2020-11-20 18:17] lunascoop commented on #13912
Here's the latest draft.
[rs-1.1-content-iris-housing questions_112020.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/5575364/rs-1.1-content-iris-housing.questions_112020.docx)

[2020-11-20 18:18] peggygannon commented on #16304
Hi, @kristenmcconnell I've responded above to your notes. It doesn't look like some of the new content is in this updated mockup. I've re-uploaded the document here with some tweaks you mention ^^

[Health care questionnaire landing page.V2.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/5575369/Health.care.questionnaire.landing.page.V2.docx)

[2020-11-20 18:20] digitalken commented on #14699
Added to TestRail.

[2020-11-20 18:22] MickinSahni commented on #14245
Closing out!

[2020-11-20 18:22] #14245 closed

[2020-11-20 18:23] MickinSahni commented on #12365
hey @brianalloyd unassigned myself but think this can be closed?

[2020-11-20 18:24] jason-gcio commented on #15361
@RLHecht - Yea, I think we should definitely chat about the first one, and as far as the second one, that is just a button swap.

Let me know when a good time to hop on zoom might be and Jesse and I will be there!

cc: @cohnjesse

[2020-11-20 18:25] brianalloyd commented on #12365
Thanks Mickin, concur closing now.

[2020-11-20 18:25] #12365 closed

[2020-11-20 18:29] laurenernest opened #16487 "Fix event prefix on current CC preferences page"
## What Happened?
Tracking events were added to the current community care preferences page in #15834

## Actual Behavior
Per Analytics review, the radio button clicks have the `vaos-` prefix.
![image.png](https://images.zenhubusercontent.com/5f7dd2dad6b9a9301bbab94e/506493b2-7628-4fff-a379-9a421137d0dd)

## Desired Behavior
The radio button click should start with `int-`

## Acceptance Criteria
-

[2020-11-20 18:31] YanaRoy commented on #16387
@shiragoodman  he is on DSVA slack as rtafoya.

[2020-11-20 18:34] youngfreezyVA commented on #16192
ok understood! my bad for closing it out too early. i'll be working on this ticket moving forward and will carefully review the comments above. thank you.

[2020-11-20 18:35] delli-gatti-michael commented on #14417
@1Copenut This fix is now on Staging

[2020-11-20 18:35] pjhill commented on #16402
Current idea on how to fix this:
- Split out config into two different files so that a test run that wants the reporter can use the config with it enabled and a test run that does not want to use the reporter can use the config without the reporter declared.
  - If a test run uses the config with the reporter declared but doesn't set any of the environment variables then it fills the log up with 4

[2020-11-20 18:39] digitalken commented on #15763
Added to TestRail.

[2020-11-20 18:41] laurenernest commented on #15834
@bsmartin-ep Thanks for reviewing!

1. Good catch. I created another ticket to fix that #16487 (cc @vbahinwillit)

2. We ended up moving it out of this ticket and into another (#16248) based on where the work was. It should show now.

3. No, I hadn't intended to track that at this time

[2020-11-20 18:42] jason-gcio opened #16488 "Scaffold Modal Screen for Dependency Verification"
## Story
As a Veteran, I want to be presented with a minimal screen that allows me to verify the dependents I have on file and be provided an opportunity to adjust them accordingly.

**Veteran Experience:**
_"I have not logged in to VA.gov in a while and upon login, I am presented with a modal asking if I am still married to Person A.  Turns out, I am not; we were divorced last month.  I click to

[2020-11-20 18:52] bessgreen commented on #15763
@bridgethapner @srmyers17  looping you in on AC #4: **"Abbreviate month names [in the Past Appointments filter]".**

The screenshot from the web app UI shows some months are abbreviated ("Dec."), while some aren't ("June"), but it looks like for the mobile implementation, we'll need to either abbreviate all months, or none. To avoid wrapping, abbreviating all seems like the right way to go - but l

[2020-11-20 18:55] #15929 closed

[2020-11-20 18:56] #15924 closed

[2020-11-20 18:57] luke-gcio opened #16489 "[Content] 526: Update Content on Disability Add Page"
## Issue Description
When adding a disability it seems to come up often that veterans and service members are unsure whether they are required to use the auto suggested disabilities. Suggest something to draw attention to it (bolding) and changing the wording a little.

https://staging.va.gov/disability/file-disability-claim-form-21-526ez/new-disabilities/add

![image](https://user-images.githubus

[2020-11-20 19:05] bkjohnson commented on #16283
Thank you!

[2020-11-20 19:05] #16283 closed

[2020-11-20 19:17] jenstrickland commented on #16489
The `<p>` element is not allowed to appear in the`<label>`, since it is a block-level element.

## Current code

[code]

## Recommended code

[code]

[2020-11-20 19:19] starlow00 commented on #16062
Sent email language edits to @clantosswett on 11/19/20 for approval;

[2020-11-20 19:20] starlow00 commented on #16062
Sent @clantosswett email language draft for approval 11/19

[2020-11-20 19:25] digitalken opened #16490 "Text rows where toggle switches are (letters, for example) need to have entire row tappable, not just the toggle switch (iOS)"
## What happened?
In Android the entire text row is tappable where a toggle switch appears but the same is not true for iOS.

## Specs:
- Device: iOS (iPhone SE)

## Steps to Reproduce
- Navigate to a letters configuration page and find that in iOS, only the toggle is tappable.

## Desired behavior
Should have the entire row tappable to work the toggle switch because the switch is too small for ac

[2020-11-20 19:26] bethpottsVADEPO commented on #16446
@johnhashva Thank you, I'll hold off archiving the page until the page is out of the site map.

[2020-11-20 19:28] esther-k opened #16491 "View / edit address before opening letters & docs - Accessibility issues"
## What Happened?
**VoiceOver / TalkBack**

1. On Android and iOS, the a11yHint for the cancel and save buttons are either not being picked up by the screen reader or are picked up incorrectly
     - NOTE: Should be updated with [a11y update ticket](https://app.zenhub.com/workspaces/va-mobile-app-5f205eac3155a2000f422ecb/issues/department-of-veterans-affairs/va.gov-team/17185)
2. Save button acces

[2020-11-20 19:31] esther-k commented on #13940
**11/20**
UI and functionality pass. Accessibility fails with a [bug entered](https://app.zenhub.com/workspaces/va-mobile-app-5f205eac3155a2000f422ecb/issues/department-of-veterans-affairs/va.gov-team/16491). Moving to Design QA for review

[2020-11-20 19:31] #16429 closed

[2020-11-20 19:33] peggygannon commented on #16439
Hi, @3obryandogs

- I want to be sure this question you listed above is fixed: replace Is with Does

**Does** your spouse currently receive VA benefits? (*Required)

- and few followup questions:

will this message be shown only if the user skips a required entry?

do you have a sample design for this yet. I'm wondering if  it's designed to be an alert or a validation error?

[2020-11-20 19:38] #15188 closed

[2020-11-20 19:38] meganhkelley commented on #14067
Resolved in #15188

[2020-11-20 19:38] #14067 closed

[2020-11-20 19:43] meganhkelley commented on #15178
Upgraded. Announcement: https://dsva.slack.com/archives/CE4304QPK/p1603815025227700

[2020-11-20 19:43] #15178 closed

[2020-11-20 19:43] meganhkelley commented on #15178
Upgraded. Announcement: https://dsva.slack.com/archives/CE4304QPK/p1603815025227700

[2020-11-20 19:49] meganhkelley commented on #13544
I believe this is something that security point of contact should handle — @f1337 is that you for the time being?

[2020-11-20 19:52] meganhkelley commented on #241
@annaswims @erluti cc @f1337

Which team would be responsible for looking into this more to determine whether it is still an issue?

[2020-11-20 20:00] #15830 closed

[2020-11-20 20:05] kristenmcconnell commented on #16304
@peggygannon I incorporated your latest updates into the wireframes and uploaded everything to Zeplin. Attached is a copy of the updated Intro page. The H1 was discussed in ticket #15647.

Speaking of H1s...
Our your final recommendations at this time, the following H1s.
Drupal page: Health questionnaires
Questionnaire list (the page full of all a Veteran's questionnaires in cards): Your health qu

[2020-11-20 20:11] #15832 closed

[2020-11-20 20:13] joeniquette commented on #13544
I'm adding myself as an assignee. This will be picked up sometime next quarter. We can remove all other teams for now.

[2020-11-20 20:13] 3obryandogs commented on #16113
After the conversation with DMC ladies:

Why might I have this debt?
A letter was sent to the address on file with details about VA overpayment for specific benefits.
Compensation and pension
Some reasons you might owe disability compensation or pension repayment to VA include:
•	Military pay and disability compensation at the same time
•	Change in active duty status
•	Change in eligibility
•	Chan

[2020-11-20 20:16] meganhkelley commented on #12700
Notes from convo w/ Rian:

* Related: https://adhoc.slack.com/archives/DT5GF6HCG/p1601565472019600?thread_ts=1601564816.017700&cid=DT5GF6HCG
* Rian talked to Fleet about this, Fleet says we should do this now — ”go back to using the random filename approach but rather than building it into the static markup (which requires the two build processes to talk to each other somehow)- VSP handles it in t

[2020-11-20 20:17] 3obryandogs opened #16492 "Draft updated coronavirus alert box"
Using the resources provided by DMC team, draft preliminary coronavirus alert box. It has been OK'd by Peggy and the DMC team. It now goes to Danielle for her input and to present it to the joint task force for approval.

[2020-11-20 20:19] Mottie commented on #15096
Hi Peggy! I've just updated "most" of the content. I didn't touch the "may not be eligible" additional info content since that is still being separately reviewed in https://github.com/department-of-veterans-affairs/va.gov-team/issues/16211

[2020-11-20 20:19] #14460 closed

[2020-11-20 20:19] holdenhinkle commented on #16474
Documentation for the new Cypress environment variables and custom commands have been added. I'm waiting for the PR for the code updates to be approved and merged to master so I can update the links in this document to the new code then submit a PR for this updated documentation.

https://github.com/department-of-veterans-affairs/va.gov-team/blob/write_documentation_for_new_cypress_viewport_env_va

[2020-11-20 20:20] MarciMcGuireGCIO commented on #16404
Added tasks and a screen shot of where the link is meant to appear.

[2020-11-20 20:25] kristenmcconnell commented on #16304
Reread some things from #15647. I'm fixing the H1s and breadcrumbs.

[2020-11-20 20:35] desireeturner opened #16493 "CT Redesign: Features Identification"
Identify Feature-level updates to comparison tool
Prioritize with internal team
Prioritize with clients

[2020-11-20 20:36] desireeturner opened #16494 "CT Redesign: Draft Prototype"
Rough in screens for new UI
Build screens
Build interactions, as necessary

[2020-11-20 20:37] dmccurdybah commented on #16433
PR: https://github.com/department-of-veterans-affairs/vets-api/pull/5367

[2020-11-20 20:40] desireeturner opened #16495 "CT Redesign: Draft Content for Prototype"
Draft initial content for any new content elements
Review w UX team
Incorporate input

[2020-11-20 20:41] desireeturner opened #16496 "CT Redesign: Prototype Review - B.A./Dev"
Review with BA/Dev Lead
Update prototype as necessary

[2020-11-20 20:42] kristenmcconnell commented on #16304
@peggygannon I fixed the H1s and breadcrumbs based on #15647. I incorporated your latest updates into the wireframes and uploaded everything to Zeplin. Attached is a copy of the updated Intro page.

Is the privacy text that you sent me for the Intro page also supposed to be used on the Drupal page for this feature?

If the above items are correct, then I think the only currently outstanding conten

[2020-11-20 20:43] kristenmcconnell commented on #15647
@abuckley Review @mnorthuis's documentation listed in the previous comments. It looks good to me.

[2020-11-20 20:43] desireeturner opened #16497 "CT Redesign: Update Content per stakeholder input"
Refine Content
Review w UX team
Share w BA Incorporate input

[2020-11-20 20:44] desireeturner opened #16498 "CT Redesign: Update Prototype per stakeholder input"
Refine screens for new UI
Refine interactions

[2020-11-20 20:45] desireeturner opened #16499 "CT Redesign: Design Intent"
Hold Design Intent mtg with VSP
Respond to input
Pull in stories, as necessary

[2020-11-20 20:45] MarciMcGuireGCIO opened #16500 "Yellow Ribbon Search 2021-2022 Academic Year Data Update"
## Issue Description
The data behind the Yellow Ribbon school search page [https://www.va.gov/education/yellow-ribbon-participating-schools/](https://www.va.gov/education/yellow-ribbon-participating-schools/) is updated annually to include participating schools in the upcoming academic school year.  The text on the search page needs to be updated with the new date range. See below.

![Image 4.png]

[2020-11-20 20:52] kristenmcconnell commented on #15647
@mdewey Check it out too.

[2020-11-20 20:53] kristenmcconnell commented on #14848
Most of the work and comments can be seen in ticket #15647. I updated the MVP: Visit Intro Initiative (Proof of Concept) documentation with mikki's final IA proposal document.

[2020-11-20 20:54] 3obryandogs commented on #16439
Peggy, no I don't. The designers asked me to figure it out. They want a statement when a required field throws back an error message. I looked through the list of options, but needed your input/direction. Thanks!

[2020-11-20 20:55] kristenmcconnell commented on #15509
Draft of the texting experience can be viewed here: https://zpl.io/2ErXn1D or https://scene.zeplin.io/project/5f3d86a458ea2231e60a4780 (navigate to the Notifications section).

[2020-11-20 20:55] desireeturner opened #16501 "STEM Automated Decision: Requirements Recap"
Get low-down on AD Requirements
Identify all user-facing elements  (email = yes; confirmation page update = TBD)

[2020-11-20 20:56] desireeturner opened #16502 "STEM Automated Decision: Denial letter research"
Solicit denial email from EDU to use as baseline for content

[2020-11-20 20:57] desireeturner opened #16503 "STEM Automated Decision: Discovery Efforts"
Get the low-down on any Automated Decision discovery points UX needs to support the denial email effort
Work with Education to get copy of other denials

[2020-11-20 20:58] 3obryandogs commented on #16492
Peggy, I've been asked to rough out a DMC alert box (to replace the coronavirus box that expires Dec. 31. Leah and DMC requested that I send this to you for first review. Your thoughts?

**VA overpayment collection no longer on hold**

Collection of VA overpayments will begin Jan. 1, 2021. Collection had been on hold through Dec. 31, 2020, to ease financial burdens on Veterans. Suspension of repay

[2020-11-20 20:59] desireeturner opened #16504 "STEM Automated Decision: Denial Email draft content"
Draft content for STEM denial email

[2020-11-20 21:00] desireeturner opened #16505 "STEM Automated Decision: Review Email draft content / DEPO"
Share content with DEPO for review

[2020-11-20 21:01] desireeturner opened #16506 "Validated user log-in - Discovery Activity"
Get low-down on tech discovery thus far
Identify all user-facing elements

[2020-11-20 21:02] 3obryandogs commented on #16439
Peggy, thank you!

Yes, I alerted the designers to the Does your spouse currently receive VA benefits? (*Required)

They want an auto message if the required space is left blank.

From: peggygannon <notifications@github.com>
Sent: Friday, November 20, 2020 1:34 PM
To: department-of-veterans-affairs/va.gov-team <va.gov-team@noreply.github.com>
Cc: Susan O’Bryan <ObryanS@twd.com>; Mention <mention@n

[2020-11-20 21:05] erikphansen opened #16507 "Make a platform-level function to disable FTUX modals for Cypress tests"
In many Cypress tests we have code like this that is used to make sure FTUX (first-time user-experience) modals do no appear:

[code]

We could have a platform-level function, maybe called `disabledFTUXModals()`, that could set the value of `DISMISSED_ANNOUNCEMENTS` to all of the possible modals:

`window.localStorage.setItem('DISMISSED_ANNOUNCEMENTS', '*');`

[2020-11-20 21:05] MarciMcGuireGCIO commented on #16405
We may be able to leverage GI Bill Comparison Tool predictive text, abbreviation search logic, and weighted results to improve the quality of the Yellow Ribbon search tool.

The GI Bill Comparison Tool queries the same GIDS data source used in the Yellow Ribbon search - see the search at https://www.va.gov/gi-bill-comparison-tool.  Presumably, the data needed for abbreviation searches should alrea

[2020-11-20 21:07] tlei123 commented on #15686
@Samara-Strauss @pjhill , now worries...  i already have [TestRail test cases](https://dsvavsp.testrail.io/index.php?/suites/view/5&group_by=cases:section_id&group_order=asc&group_id=402) in-place, just waiting for passwords right now.

And yes, this was a one-off situation with pre-Testrail process/documentation -- my first concern has always been to minimize added workloads on the Product Teams,

[2020-11-20 21:07] ricetj commented on #16110
@RLHecht is the content still on track for going live today?

[2020-11-20 21:10] RLHecht commented on #16110
Yes, it should be though it doesn't look like any pages that were published today are live yet.

[2020-11-20 21:29] RLHecht commented on #16110
It's live now! https://www.va.gov/resources/find-apps-you-can-use/

[2020-11-20 21:30] rebeccawalsh commented on #16340
UXPin links:
- [C3P1: Bank information](https://preview.uxpin.com/803dc24213cf723bfce6c5e3eaef5a2c3f3e344b#/pages/134410684/simulate/sitemap?mode=i)
- [C3P2: Real estate](https://preview.uxpin.com/803dc24213cf723bfce6c5e3eaef5a2c3f3e344b#/pages/134410685/simulate/sitemap?mode=i)
- [C3P3: Trailers, boats, and campers](https://preview.uxpin.com/803dc24213cf723bfce6c5e3eaef5a2c3f3e344b#/pages/1344102

[2020-11-20 21:34] rileyorr commented on #16337
I've finished incorporating all the feedback and updated list loops into what is now [a monstrous chapter](https://preview.uxpin.com/803dc24213cf723bfce6c5e3eaef5a2c3f3e344b#/pages/134410885/comment/comments,sitemap?mode=i) (12 pages not including the various states added to each page). I'll probably double-check my work with fresh eyes on Monday, but wanted to pop the update UXPin in here before

[2020-11-20 21:38] RLHecht commented on #16110
Page on live site. Closing ticket. FYSA @brianalloyd @bethpottsVADEPO

[2020-11-20 21:38] #16110 closed

[2020-11-20 21:48] mmiddaugh opened #16508 "FLocator list of results does not display in order"
## What happened?
Occasionally a search will return a list of results out of order.
_The map display will be addressed in a separate issue._

Begin watching [Loom](
https://www.loom.com/share/3a8512179b434176b2d27398f5be1e99) at 1:33.
City, state or postal code = Valparaiso, IN

<details>
<summary> Facility type = Urgent care, Service type = VA urgent care. Results display as expected. </summary>

[2020-11-20 21:51] ncksllvn commented on #16286
This is live 🎉

[2020-11-20 21:51] mmiddaugh opened #16509 "Previous pins continue to display (FLocator)"
## What happened?
Locations continue to display on map after urgent care service type has changed

Begin watching [Loom](https://www.loom.com/share/3a8512179b434176b2d27398f5be1e99) at 1:33.
City, state or postal code = Valparaiso, IN

<details>
<summary> Facility type = Urgent care, Service type = VA urgent care. Results display as expected. </summary>

![image](https://user-images.githubusercont

[2020-11-20 22:05] jsev-io commented on #14716
AWS Credentials for @christineyost have been delivered via slack.

[2020-11-20 22:05] #14716 closed

[2020-11-20 22:09] johnhashva commented on #16405
@MarciMcGuireGCIO  This is terrific news!  Great job of sleuthing.

[2020-11-20 22:16] #15266 closed

[2020-11-20 22:24] bmcgrady-ep commented on #16233
@brianalloyd - Can you review and see if the KPIs look right? I interpreted them from the KRs attached in this ticket.

[2020-11-20 22:44] #15934 closed

[2020-11-20 22:45] #16469 closed

[2020-11-20 22:45] #15928 closed

[2020-11-20 22:54] esther-k opened #16510 "Benefit Summary & Service Verification letter - Accessibility issues"
## What Happened?
**VoiceOver / TalkBak**

1. With the appropriate screen reader enabled on iOS and Android, the military service info items are being picked up as menu items instead of ReadOnly
     - Note: this is causing the menu items to picked up as selectable by voice control/access and by the Keyboard
2. With the appropriate screen reader enabled on iOS and Android, the a11yHint for the bac

[2020-11-20 22:58] DanielleThierryUSDSVA commented on #14544
@bethpottsVADEPO Quick note re: the "Closed programs" page (http://preview-prod.vfs.va.gov/preview?nodeId=5588).

I think this is one to actually ask the SMEs if we need at all. It looks like the legacy page hasn't been updated since 2013.

If we do need the info somewhere on the site, I would recommend removing the "Policies still in force" and "Average age of policyholders" fields under each pro

[2020-11-20 23:02] esther-k commented on #13947
**11/20**
UI and functionality pass (need to verify bug fixes on iOS when new build is available). Accessibility fails with a [multi-issue bug](https://app.zenhub.com/workspaces/va-mobile-app-5f205eac3155a2000f422ecb/issues/department-of-veterans-affairs/va.gov-team/16510) entered. Keeping in QA for iOS verification

[2020-11-20 23:03] ala-yna commented on #14883
@joanneesteban, do you have an estimate on when your team will be able to get some of these questions back to us?

[2020-11-20 23:20] mmiddaugh opened #16511 "[DESIGN] "use my current location" in Facility Locator"
## Issue Description
This idea from @mpelzsherman - Hackathon, November 2020
Veterans need to be able to opt-in for geolocation at the search level, rather than the browser level. It should not be auto-detected. We need to implement a call to action.

<details>
<summary> Example of similar experience: Best Buy </summary>

![image.png](https://images.zenhubusercontent.com/5d8a47393ac3440001d1a2ed/6

[2020-11-20 23:25] esther-k opened #16512 "Service Verification letter - Accessibility issues"
## What Happened?
**VoiceOver / TalkBak**

1. With the appropriate screen reader enabled on iOS and Android, the a11yHint for the back button is not being picked up
     - NOTE: Should be updated with [a11y update ticket](https://app.zenhub.com/workspaces/va-mobile-app-5f205eac3155a2000f422ecb/issues/department-of-veterans-affairs/va.gov-team/17185)

## Specs:
- Device: Android - LG LM-Q720 Stylo

[2020-11-20 23:25] youngfreezyVA commented on #16192
@rtwell implemented your feedback.
@jenstrickland my understanding is we are going with option #1. which aria labels would you recommend?
we can chat on Monday, and i will submit the accessibility specialist review.
cc: @brianalloyd

[2020-11-20 23:28] mmiddaugh opened #16513 "Clear input field (FLocator)"
## Issue Description
This idea from @lildziner during Hackathon, November 2020
Veterans need a way to efficiently clear the City, state or postal code and Service typeahead fields so that they can the input(s)

This design was discussed with Josh and his feedback was incorporated.
**When engineering begins, we should also seek feedback by posting in the va-search channel since they’re wrangling wi

[2020-11-20 23:28] esther-k commented on #13942
**11/20**
UI and functionality pass (need to verify bug fixes on iOS when new build is available). Accessibility fails with a [bug](https://app.zenhub.com/workspaces/va-mobile-app-5f205eac3155a2000f422ecb/issues/department-of-veterans-affairs/va.gov-team/16512) entered. Keeping in QA for iOS verification

[2020-11-20 23:32] peggygannon commented on #9298
**11/20/2020 update**

This issue addresses recommendation number 1 above:
https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/261

[2020-11-20 23:40] digitalken commented on #13994
Test run is set for retest on iOS.  Passes on Android for UI.  Fails on accessibility. Moving to Design QA.

[2020-11-20 23:41] mmiddaugh opened #16514 "Revamp Facility Locator mobile experience"
## Issue Description
Problem: Mobile Facility Locator Map is not interactive and missing key information
- Map view is separate from the list view
- Pins do not reveal information about locations
- Using the map in conjunction with pins increases the cognitive load for Veterans
- Map is not screenreader accessible in its current state

- How can display useful information for each map location, in

[2020-11-20 23:42] digitalken commented on #13971
Pass on UI / functionality, fails on accessibility. Moving to Design QA.

[2020-11-20 23:45] mmiddaugh opened #16515 "[CONSIDER] Facility Locator Directions experience"
## Issue Description
Explore ideal user experience related to Directions for mobile and desktop Facility Locator experience

Ideas from Gibran Rodriguez during Hackathon, November 2020: [Directions api integration](https://github.com/department-of-veterans-affairs/vets-website/pull/14967)
---

## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _Wh

[2020-11-20 23:55] peggygannon commented on #15721
Hi, @amyknox Thanks for the additional info. Here's some updates/feedback from me:

1. Form chapter titles, subhead, buttons, etc. *should* be sentence-case.  I opened this [ticket](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/261) back in July for the design council to review and slot into their work queue. I have asked them for an update on this.

2.

[2020-11-21 00:01] holdenhinkle commented on #16474
PR submitted - https://github.com/department-of-veterans-affairs/va.gov-team/pull/16516

[2020-11-21 00:04] peggygannon commented on #13889
Closing this issue.  Wizard Github content outlines are complete and tracked here:
https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/13375

[2020-11-21 00:04] #13889 closed

[2020-11-21 00:04] holdenhinkle commented on #16330
PR approved, merged and squashed. This ticket can be closed.

[2020-11-21 00:08] peggygannon commented on #16428
thank you @ricetj for your follow up. I'm going to close this issue.

[2020-11-21 00:08] #16428 closed

[2020-11-21 14:41] bsmartin-ep commented on #3825
@jonwehausen -

We have two GTM workspaces for this:

One for the How To Wizards:

https://tagmanager.google.com/#/container/accounts/144676348/containers/2214120/workspaces/1000387

And one for the product specific changes.

https://tagmanager.google.com/#/container/accounts/144676348/containers/2214120/workspaces/1000390

You wanted these extra params in CDs, correct?

![image](https://user-imag

[2020-11-21 18:09] bsmartin-ep commented on #16248
Looks good @laurenernest:

![image](https://user-images.githubusercontent.com/62304138/99884222-88179f80-2bfa-11eb-9db0-5e6b17598b07.png)

@bmcgrady-ep / @jonwehausen -

For QA purposes, these VAOS CC changes are split between two GTM workspaces:

Design system changes:
https://tagmanager.google.com/#/container/accounts/144676348/containers/2214120/workspaces/1000382

Everything else:
https://tagm

[2020-11-21 18:33] bsmartin-ep commented on #15335
@jonwehausen -

Should `breadcrumb-click-level' and `breadcrumb-total-levels` be integers?

![image](https://user-images.githubusercontent.com/62304138/99884617-ae8b0a00-2bfd-11eb-88d3-d245b589395d.png)

Did you want the `#` in these color hexcodes?

![image](https://user-images.githubusercontent.com/62304138/99884653-e5f9b680-2bfd-11eb-9136-1f55e332afcb.png)

[2020-11-21 18:44] bsmartin-ep commented on #15793
Placeholder GTM workspace for this:

https://tagmanager.google.com/#/container/accounts/144676348/containers/2214120/workspaces/1000392

[2020-11-21 18:50] bsmartin-ep commented on #13167
GTM workspace for this:

https://tagmanager.google.com/#/container/accounts/144676348/containers/2214120/workspaces/1000387

[2020-11-21 19:13] bsmartin-ep commented on #14213
@bmcgrady-ep -

It looks like the `BQ - All File Downloads` dataset is back-filling all data every day...

https://va-gov.domo.com/datasources/2054d92d-cb84-4448-a031-b4182eeaf8ab/details/settings

![image](https://user-images.githubusercontent.com/62304138/99885409-a97c8980-2c02-11eb-98ef-099850f1c1a1.png)

Thoughts on updating this to an APPEND and just loading the previous day's data?  I'm not

[2020-11-21 19:16] bsmartin-ep commented on #13060
GTM workspace for this:

https://tagmanager.google.com/#/container/accounts/144676348/containers/2214120/workspaces/1000387

[2020-11-21 23:11] bethpottsVADEPO commented on #16245
@RLHecht @lwalsh617 I'm locked out of the file because Randi's in it, so I'll just request here that you swap out

[2020-11-21 23:37] #15454 closed

[2020-11-22 00:25] bethpottsVADEPO commented on #14544
When I share the 2 IRIS questions with the stakeholder, I'll also ask her to review these rewritten pages that we worked on previously but had put on pause.
http://preview-prod.vfs.va.gov/preview?nodeId=5581
http://preview-prod.vfs.va.gov/preview?nodeId=5582
http://preview-prod.vfs.va.gov/preview?nodeId=5587

And yes, @DanielleThierryUSDSVA will specifically ask whether it makes sense to publish t

[2020-11-22 22:28] DanielleThierryUSDSVA commented on #12986
@bethpottsVADEPO Could you give this a look on Monday morning so we can publish? General look + double check phone numbers, hours, links. Thanks! http://preview-prod.vfs.va.gov/preview?nodeId=8472

[2020-11-22 22:55] DanielleThierryUSDSVA commented on #15937
Hi @murrayra. I connected with @clantosswett on this as well. I looked into directives and found info around the fact that information collection isn't authorized after the OMB number expires. But I'm not seeing answers to the specific questions above. I think the next step would likely be to find and contact the appropriate forms officer for the IRIS form. Chante, let me know how you'd like to ha

[2020-11-23 00:14] clantosswett commented on #15516
Danielle Thierry came back with a bunch of edits. Also, during a call with the VEO contact center we were given instruction on how to label the new content so it can be added. I will be following up over email to ask for this information so we can complete that task.

[https://app.zenhub.com/files/133843125/762a46c2-4508-49db-8d42-5ae59252877f/download](https://app.zenhub.com/files/133843125/762a4

[2020-11-23 00:19] mpelzsherman commented on #15385
This field was removed from the graphql query by @ethanteague in this [commit](https://github.com/department-of-veterans-affairs/vets-website/commit/f88a675c52f74995c1395cd7bbe3ce6d1b11c0a6).

So this is no longer showing up as a different in the cms-export build. Reassigning to @ethanteague to confirm the field is no longer needed, despite still being in src/site/includes/metatags.drupal.liquid.

[2020-11-23 00:40] ethanteague commented on #15385
Yep, no longer needed, @mpelzsherman : https://github.com/department-of-veterans-affairs/va.gov-cms/issues/2982

[2020-11-23 00:40] #15385 closed

[2020-11-23 01:55] mpelzsherman commented on #15385
Thanks Ethan. Any reason we didn’t remove those fields from the template as
well?

On Sun, Nov 22, 2020 at 7:40 PM Ethan Teague <notifications@github.com>
wrote:

--

Michael Pelz-Sherman
mpelzsherman@gmail.com
919-279-0825

[2020-11-23 01:58] ethanteague commented on #15385
Nah, @mpelzsherman - I think it’s fine to remove.

[2020-11-23 12:36] rtwell commented on #16192
@youngfreezyVA looks like the corners are all round still, and the breakpoint behavior doesnt appear to have changed—
![image](https://user-images.githubusercontent.com/12564977/99962526-5586b780-2d5e-11eb-952c-5bbe3521b40d.png)

I'm using [https://staging.va.gov/resources/signing-in-to-vagov/](https://staging.va.gov/resources/signing-in-to-vagov/) to check changes

[2020-11-23 13:59] jenstrickland commented on #16192
@youngfreezyVA I would recommend that the implementation be changed, and that the "back to top" button be inserted at the bottom of each section. That way, it is accessible by keyboard and announced to screen readers in the content flow. It could be persistently visible there. Aria-live behavior in screen readers can be erratic, so we tend to avoid it on VA.gov.

Relevant Section 508 requirement:

[2020-11-23 14:03] annaswims commented on #8736
Form526 depends on the v0 facilities api,and I'm not clear what this ticket means [grafana](http://grafana.vfs.va.gov/d/zGS4XzkMk/backend-to-frontend-app-mapping?orgId=1&var-data_source=Prometheus%20(Production)&var-backend_controller=v0%2Ffacilities%2Fva&var-frontend_app=All).  Can you be more clear what you mean by "Deprecate" and what the path forward is?

[2020-11-23 14:19] ksantiagomorgan6 commented on #15778
I was able to resolve the infinite spinner issue on both Safari and Chrome mobile browsers by clearing the browsing data.

iPhone safari mobile:

Settings > Safari > Clear History and Website Data

![image_from_ios.jpg](https://images.zenhubusercontent.com/5cddbb05ed0dce4209e0b99b/1e13562b-f203-429e-8878-271882ffa8b6)

On Chrome open the app press the three dots on the bottom right hand corner

Se

[2020-11-23 14:24] johnhashva opened #16517 "Disability & HLR Wizards - Complete Development with new UX/IA/Content Guides"
## Issue Description

With the completion the Wizards refinements usability study the week of November 9th --  with no significant changes required -- we are now ready to provide the final UX-IA-Content specs/guides to you for “close out” implementation.  Here are the relevant links to guide the final phase of development for staging review/production release:

- [IA documentation](https://github.

[2020-11-23 14:26] #14783 closed

[2020-11-23 14:31] sporeboy commented on #13812
Research plan and convo guide submitted 11/20. Sessions scheduled 12/2 to 12/7.

[2020-11-23 14:32] murrayra commented on #15937
@rumyeahs fyi on updates for this

[2020-11-23 14:41] RLHecht commented on #16351
@lwalsh617 All of Beth's changes from Slack are now in there.

[2020-11-23 14:45] alexpappasoddball commented on #8736
@annaswims This is still in the backlog, and based on your feedback it will require more in-depth analysis before we do anything.  We will circle up as a team once we move this ticket along to make sure we fully understand it.

[2020-11-23 14:49] denisecoveyduc commented on #16445
Duplicate Epic created by mistake

[2020-11-23 14:49] #16445 closed

[2020-11-23 14:51] delli-gatti-michael commented on #16433
local testing complete

[2020-11-23 14:53] joanneesteban commented on #14883
@mlighdc we will need to do additional implementation for that metric; we're unfortunately a bit behind on resources for the next few weeks, and will need at least a couple of weeks (a sprint) to get you the entirety of this information.

[2020-11-23 14:58] joanneesteban commented on #14883
[1010EZ Funnel in Google Analytics](https://analytics.google.com/analytics/web/?authuser=0#/report/conversions-goal-funnel/a50123418w177519031p184624291/_.goalOption=13/)

[2020-11-23 15:11] dmccurdybah commented on #7528
PR: https://github.com/department-of-veterans-affairs/vets-website/pull/15052

[2020-11-23 15:12] dmccurdybah commented on #8228
PR: https://github.com/department-of-veterans-affairs/vets-website/pull/15052

[2020-11-23 15:12] lexicalninja commented on #15977
QA Considerations when using this:

Android:
- if a user has one calendar app, it should use the default app
- if a user has multiple calendar apps but told the system that one app is default it should open that app
- if a user has multiple calendar apps and doesn't specify it should bring up a share sheet

iOS:
- It should use the default Calendar app.
- iOS forces a user to use the default apps

[2020-11-23 15:15] MarciMcGuireGCIO commented on #16404
Updating title to better distinguish this from the front-end change needed to accommodate the new school data being added to the database for 2021-2022 school year.

[2020-11-23 15:16] saneshark opened #16518 "Adding Corey Ferris to DSVA Slack"
The following individual corey.ferris@adhocteam.us needs be added as a full member and invited to #vaos-team

I'm requesting full member because I will ultimately need to invite him to several more channels that we use across the VFS platform. He will be a core contributor / software engineer as part of VAOS.

[2020-11-23 15:27] LindseySaari commented on #15891
It was discovered that this issue needs to go out with the switch over to Zeitwerk mode change. Specs fail with 'undefined method `ignore' for nil:NilClass' in the application.rb when in classic mode.

In the original PR, Zeitwerk mode in application.rb is turned on along with the autoloading ignore for the education_form files here:
https://github.com/department-of-veterans-affairs/vets-api/pull/

[2020-11-23 15:31] LinnJS commented on #14106
This was addressed and fixed in this [PR](https://github.com/department-of-veterans-affairs/vets-website/issues/14385)

[2020-11-23 15:31] #14106 closed

[2020-11-23 15:33] LinnJS commented on #16457
This was addressed in this [PR](https://github.com/department-of-veterans-affairs/vets-website/pull/14999) and was merged last Friday.

[2020-11-23 15:33] #16457 closed

[2020-11-23 15:47] bmcgrady-ep commented on #14213
@bsmartin-ep - I agree this should be an APPEND, instead of a REPLACE. @jonwehausen - What are your thoughts on this - can we make this an APPEND? I don't what to change it, since it looks like you are the owner of the dataset.

[2020-11-23 15:55] lenaecb opened #16519 "[Observation session] More clarity on VA location selection page"
The main issue our test Veteran had with VAOS was when he arrived at the VA location selection page. He assumed that since the app states that "**_Below is a list of VA locations where you're registered that offer Primary care appointments. Locations closest to you are at the top of the list_**." that when he didn't see the Washington, DC facilities that there was an issue with the app.

### What

[2020-11-23 15:59] sporeboy commented on #16206
Initial pass of DD-EDU prototype built: https://preview.uxpin.com/f80ffd0a5433096bc9abd52333b1e60a4ffd745d#/pages/134411565/simulate/sitemap

[2020-11-23 16:11] cmaeng opened #16520 "Footer link update on VA.gov homepage from VFS-CMS"
## Why you're here

### Content support for:
- Unauthenticated (static) VA.gov pages
- Apps or tools
- Other writing or editing requests

### Engineering support for:
- Redirects that have **first been vetted by the VSP IA team**
- REACT sign-in widgets or feature flags (flipper)
- Other engineering support

**Note:** Apps teams engineers are responsible for flipper implementation related to their

[2020-11-23 16:12] cmaeng commented on #16520
Based on [this slack thread](https://dsva.slack.com/archives/CBU0KDSB1/p1606146042473500), tagging in @mnorthuis .

[2020-11-23 16:14] cmaeng commented on #16520
Converting email conversation to a Word file.
[Footer link update request email.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/5584241/Footer.link.update.request.email.docx)

[2020-11-23 16:18] cmaeng commented on #16520
Response from Brendan Fitzgerald through email: "yes it needs to be updated ASAP."

[2020-11-23 16:18] DanielleThierryUSDSVA commented on #16520
Hi @brianalloyd. This looks like a dev-only change to a link URL in the footer. Could you please look into this and coordinate with our engineers to update? Let me know if you have any questions. Thank you!

[2020-11-23 16:19] youngfreezyVA commented on #16192
hi @rtwell changes aren't reflected there just yet. i updated the breakpoint as you suggested. i'll let you know who when it's viewable at that link.
@jenstrickland I will get back to you regarding changing the implementation after discussing with @brianalloyd in standup.

[2020-11-23 16:22] jonwehausen commented on #13494
Hi team,

Thanks for the notice & update here!

**A couple items here:**
- To understand where the user performed the search, I would recommend we pass in a `'search-page-path'` variable indicating where the search took placed along with each `'view_search_results'` event. You can find that specification [here](https://github.com/department-of-veterans-affairs/va.gov-team/issues/13494#issuecomment

[2020-11-23 16:24] brianalloyd commented on #16520
@cmaeng Intake request received and acknowledge the urgency.  Team will jump on this now, thanks. @kelsonic can you take a look at this and advise on estimate, thanks.

[2020-11-23 16:35] LizCallaghan commented on #16518
done!

[2020-11-23 16:35] #16518 closed

[2020-11-23 16:36] shiragoodman opened #16521 "Orientation for 2 new VSA Team Members"
## Orientation User Story
Sharon Kasimow and Ron Tafoya (VSA) are going through orientation to work on the VSP, they need support to get up and running. This epic contains the tasks our team will perform to support them through their orientation stage.

## Goal
Get Sharon and Ron up and running in their workflow as quickly as possible._

## Issues to create within this Epic

[code]

## How to conf

[2020-11-23 16:38] LindseySaari opened #16522 "Disable FacilityLocationDownloadJob"
## Issue Description
After some [discussion](https://dsva.slack.com/archives/CQHBJ5U06/p1605910509496200), V0 facilities is no longer being maintained in favor of moving to an external app that we call via the api.

Additional Context [here](https://dsva.slack.com/archives/CBU0KDSB1/p1605895009424800)

The FacilityLocationDownloadJob syncs data for four different facility types on as a scheduled c

[2020-11-23 16:40] kelsonic commented on #16385
Disregard ^^ accidentally tagged this ticket

[2020-11-23 16:41] cvalarida opened #16523 "Discovery: Investigate upgrading to USWDS 2.x"
## Background
The VA design system is currently using USWDS 1.x as a base. USWDS is currently on 2.x.

## Discovery goal
Is it worth spending the effort to make the upgrade?

## Questions
- What's the estimated level of effort associated with the upgrade?
- What benefit would we derive from it?
  - What does it do that we don't?
  - What are we re-implementing in the design system that we could le

[2020-11-23 16:43] jason-gcio commented on #13812
@sporeboy, @Samara-Strauss - I propose we move this to the next sprint and replace it with a ticket that reflects what has been done this sprint

[2020-11-23 16:45] mnorthuis commented on #16520
This change is good to go.   I would recommend notifying the requestor to implement redirects to their old URLs to ensure all traffic is captured and sent to the new URLs.

[2020-11-23 16:47] Samara-Strauss commented on #13812
That's fine with me. No need to create any other tickets unless there's additional work that hasn't been documented.

[2020-11-23 16:47] jason-gcio opened #16524 "Prepare for EDU DD Usability Sessions"
## Goal
Conduct usability sessions for Direct Deposit for EDU to understand how a Veteran is currently interacting with this feature holistically so that we can create a more accurate description of what needs to be further developed or iterated upon.

## Considerations
- Use a research plan and conversation guide (included in previous delivery, linked below)
- Conduct a usability session that ans

[2020-11-23 16:49] brianalloyd commented on #16192
@jenniferlee-dsva wanted to loop you into the discussion, what's the desired approach related to the comment:

Let me know as this would change scope slightly and require a more targeted focus for implementation from the FE team.  Thoughts?

[2020-11-23 16:51] jenstrickland commented on #16192
@brianalloyd The recommendation should be a simpler implementation, however it does require @rtwell to determine if a design change is desired here.

[2020-11-23 16:52] brianalloyd commented on #16520
Thanks @mnorthuis for the quick review.  @cmaeng be advised that a PR is already in flight for the update @kelsonic is the quickest trigger in the west and got this knocked out quickly.  Please let us know what questions remain.  Once Validated we'll closeout this ticket in support.

[2020-11-23 16:57] rtwell commented on #16192
sorry—i don't think I'm following @jenstrickland

Are you saying that instead of a single, fixed button (like it is now), you would prefer multiple static instances at the tail end of each section? or am i confusing something. sorry if i'm missing something!

[2020-11-23 17:04] jenstrickland commented on #16192
@rtwell —That would be the most straightforward solution. If the team wants to retain the appearance of a sticky button, there are a few considerations to work through, that would require custom JavaScript and additional QA time with browsers and screen readers. The gov.uk decision to avoid implementing sticky components lists a few of the reasons.

To implement the sticky button, how would we let

[2020-11-23 17:45] komaly15 commented on #16490
@bessgreen @bridgethapner if we make the entire row tappable, the switch component will lose its animation unless we click directly on the switch (we will not see that circle in the switch move left to right/right to left, it will just update to be on the left or right). For this bug we will need to either lose that animation and make the entire row tappable to pass accessibility, or we need to ma

[2020-11-23 17:52] bsmartin-ep commented on #15834
@bmcgrady-ep / @jonwehausen -

This is ready for QA and publishing...

**Non-design system stuff:**
https://tagmanager.google.com/#/container/accounts/144676348/containers/2214120/workspaces/1000391

**Design system stuff:**
https://tagmanager.google.com/#/container/accounts/144676348/containers/2214120/workspaces/1000382

Do you feel the need to strip this down to just the radio button used in th

[2020-11-23 17:53] #15388 closed

[2020-11-23 17:53] allison0034 commented on #15752
The evaluation and suggested solution is on the[ original mural board](https://app.mural.co/t/adhocvetsgov9623/m/adhocvetsgov9623/1604350644537/2a40e0aca3dd25f4ea375b3180201d4bf1f382b5). The next steps should be for each practice area to meet and discuss if the proposed solution will work for everyone.

[2020-11-23 17:55] youngfreezyVA commented on #15568
https://drive.google.com/file/d/1zlBWPRTj7X1My1CbzJr1YNKTPEKoxHp_/view?usp=sharing

[2020-11-23 17:56] murrayra opened #16525 "Pre-Usability Review [IRIS]"
## Steps to complete Usability Testing Prep:
- [ ] Product Manager: create this issue and fill in the team name and feature name in the title and other bolded information appropriately
- [ ] Attach all artifacts before requesting the meeting
- [ ] Link to this issue once created in [#vfs-platform-support](https://dsva.slack.com/channels/vfs-platform-support) in Slack; tag @ Shira Goodman and @ And

[2020-11-23 17:56] zacharymorel commented on #15384
PR in review.

[2020-11-23 17:58] RLHecht commented on #16194
Second set of changes are now complete. Moving to validate and will close once the updates are live this afternoon. FYSA @brianalloyd

[2020-11-23 18:00] peggygannon opened #16526 "Content recommendations based on forms/tool content audit"
## User story
Based on content audit of forms/tools, the following recommendations are being communicated to appropriate teams or forms stakeholders.

## Recommendations

1. Sentence case all H1s, chapter heads, subheads, labels, and buttons.
I thought this fix got applied to all forms when we made this style update, but it looks like the updates never happened or somehow got reverted
**Next step:

[2020-11-23 18:01] peggygannon commented on #9298
Closing this issue. Recommendations and next steps are being tracked in this ticket:

https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/16526

[2020-11-23 18:01] #9298 closed

[2020-11-23 18:09] peggygannon opened #16527 "Content audit: Form confirmation pages"
## User story
Review confirmation pages for all online forms to ensure consistency in language and content best practices.

## Acceptance criteria
Review confirmation pages for following forms:

- [ ] EDU 1990
- [ ]  EDU 1990N
- [ ]  EDU 1995
- [ ]  EDU 5490
- [ ]  EDU 5495
- [ ] EDU 10203
- [ ]  EDU VET TEC
- [ ]  Disability
- [ ]  Pension
- [ ]  Health Care
- [ ]  Burial allowance
- [ ] Preneed

[2020-11-23 18:12] leahkeeler commented on #16492
Hi @peggygannon I assume this will need approval by the corona virus task force similar to the collection suspension one?

[2020-11-23 18:15] tlei123 opened #16528 "VSA/Auth Experience - Direct Deposit for Education Benefits - QA Test Plan"
\[**Product Managers**: Open this ticket **at least 2 Sprints** before you expect a Platform Staging Review of this Product/Feature. Then:
- [x] Add yourself to Assignees
- [x] Fill-out sections below

## Product/Feature summary
\[Provide brief summary of product/feature to be tested on Staging by VSA-QA.
Also, be sure to include

- [x] [ DD4EDU Product/Feature Outline](https://github.com/departme

[2020-11-23 18:19] peggygannon opened #16529 "Update form Need help? footnote with MYVA411 number"
## User story
Need to update forms' Need help component with new VA general number:

**Need help?**
If you have questions or need help filling out this form, please call our MYVA411 main information line at 800-698-2411[hyperlink] and select 0. We’re here 24/7.

If you have hearing loss, call TTY: 711[hyperlink}

## Acceptance criteria
- [x] Reach out to form product team during content review to

[2020-11-23 18:21] JasonTheBearded commented on #15000
@jonwehausen @bsmartin-ep here's the link to the query,
https://console.cloud.google.com/bigquery?sq=86772881199:7338b54de20142bd8bdd7f9cce319064

[2020-11-23 18:28] jbritt1 commented on #16468
For AWS Access:

User: Holden Hinkle
COR: Jeff Hayter
Approval required: @Jeff-Hayter

[2020-11-23 18:33] RLHecht commented on #15361
@jason-gcio After reviewing other hub pages, we want to take out the "Ready to apply?" H2 that is above the CTA widget on all these pages. We are also going to update in Drupal the text above the subway map to the following:

H2 How do I get these benefits?
First, you’ll need to apply for VR&E benefits. Then, you’ll work with your Vocational Rehabilitation Counselor (VRC). If you've received your

[2020-11-23 18:35] jbritt1 commented on #16468
SOCKS access granted. Please continue with [the guide](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/engineering/internal-tools.md#configure-the-socks-proxy) to establish a connection to SOCKS proxy.

[2020-11-23 18:36] jason-gcio commented on #15361
Sure - let me check in with @cohnjesse on this and we can get back with you

[2020-11-23 18:36] rileyorr opened #16530 "[FSR] CH2 content review"
## Issue Description
_We recently updated the FSR's CH2 designs and would like a quick content spot check._

---
## Tasks
- [x] _Review [CH2 in UXPin](https://preview.uxpin.com/803dc24213cf723bfce6c5e3eaef5a2c3f3e344b#/pages/134410885/comment/comments,sitemap?mode=i) for content mistakes and improvements_
- [x] _Add comments containing suggested content as needed_

Reach out to Becca/Riley with an

[2020-11-23 18:43] johnhashva commented on #15384
@zacharymorel Hi Zach -- will there be a way for @mnorthuis and I to validate this on staging before it's pushed live into production?

[2020-11-23 18:44] bessgreen commented on #15977
@bessgreen to update swimlane / move to QA once [#16046](https://app.zenhub.com/workspaces/va-mobile-app-5f205eac3155a2000f422ecb/issues/department-of-veterans-affairs/va.gov-team/16046) is QA-ready

[2020-11-23 18:44] zacharymorel commented on #15384
@johnhashva , great questions. it looks like it was just pushed to staging.
https://staging.va.gov/

[2020-11-23 18:45] rileyorr commented on #16337
Gave the design another spot check & made [a ticket for content review](https://github.com/department-of-veterans-affairs/va.gov-team/issues/16530).

[2020-11-23 18:45] zacharymorel commented on #15384
Great question @johnhashva , after it is merged, it should be deployed to staging within a few minutes.

https://staging.va.gov/

[2020-11-23 18:49] erluti commented on #16399
draft PRs don't generate review instances

[2020-11-23 18:51] erluti commented on #16396
Lighthouse has an SLA for sandbox

[2020-11-23 18:51] joeniquette commented on #16415
I'm not exactly clear what values will be present and if it will be encrypted or not, but I do want to point out that the birls_id in my personal case is my SSN. I haven't researched to see if this is always the case, but it is greater than zero. We need to ensure this field is protected and not stored in generally accessible logs.

[2020-11-23 18:56] erluti commented on #16394
should reference auto deployment times

[2020-11-23 18:57] kelsonic commented on #16520
@mnorthuis that's a great point, I can implement the redirect as well right now. Is that desired?

To be pedantic, that would mean:

**Current URL** => **Destination URL**
`https://www.va.gov/orm/NOFEAR_Select.asp` => `https://www.va.gov/ormdi/NOFEAR_Select.asp`

[2020-11-23 18:59] jenstrickland commented on #16192
Met with @rtwell.

1. We have a sticky button that is located in the page source just above the footer. This works for sighted users, and is okay as-is, except rather than placing it just above the footer it should be the last item in the parent container (see sketch below). One caveat, I want to connect with @1Copenut — to learn if we should use aria-live to announce the button for assistive tech

[2020-11-23 19:00] rtwell commented on #16192
awesome @jenstrickland thank you for clarifying! Very helpful.

[2020-11-23 19:03] 3obryandogs commented on #16530
I've finished the review. Please note Social Security is always capitalized. I also noted a style for the bottom "help" note. You can choose Monday-Friday, or Monday through Friday, but the time style needs updating.

[2020-11-23 19:05] clantosswett commented on #15937
@DanielleThierryUSDSVA @murrayra let me send an email to Trisha Dang to see if she knows who is the owner of the IRIS form PRA approval. I'll send out that email and see what we learn from there.

[2020-11-23 19:08] alexpappasoddball commented on #15811
@ericboehs & @kfrz Is this resolved now, or is there more to do?  If its not we should close

[2020-11-23 19:18] rileyorr commented on #16530
Hey, @3obryandogs! This ticket isn't in the current sprint, so no worries getting to it unless your other tickets are complete :)
I'll create a separate ticket for myself to incorporate your edits.

Thanks for getting this review done so quickly! I don't see many edits so I just want to double-check: is everything written in plain language and match our content style guide? Are there any areas whe

[2020-11-23 19:22] brianalloyd commented on #16192
Yes, thanks @jenstrickland for the update and support.  @youngfreezyVA can you review the details and let me know if you have any questions on implementation elements?  Thanks.

[2020-11-23 19:28] peggygannon commented on #16439
@3obryandogs OK, sounds like this should be a validation alert that would appear if the entry is blank:  We have standardized messaging for this as a "Required form field empty" located  in our error message dictionary: https://design.va.gov/patterns/messaging-dictionary

Here's what I recommend:
Please enter your [required information] so we can continue with your request.

[required information]

[2020-11-23 19:30] 3obryandogs commented on #16439
Peggy,
Thank you! I really appreciate your help and guidance!

From: peggygannon <notifications@github.com>
Sent: Monday, November 23, 2020 1:28 PM
To: department-of-veterans-affairs/va.gov-team <va.gov-team@noreply.github.com>
Cc: Susan O’Bryan <ObryanS@twd.com>; Mention <mention@noreply.github.com>
Subject: Re: [department-of-veterans-affairs/va.gov-team] Error message responses for FSR form (#1

[2020-11-23 19:31] kevinmirc commented on #16226
[_Nov 21, 2020 1:06 PM Eastern_] Milagros Ridoutt:

[2020-11-23 19:41] brianalloyd commented on #15196
@kelsonic just validating PR was merged and @bsmartin-ep has everything to work the request. Thanks.

[2020-11-23 19:48] mnorthuis commented on #16520
@kelsonic I'd prefer that we are not responsible for redirects that are not part of/unrelated to the modernized site...so let's try to get them to handle it on their side.

[2020-11-23 19:50] #15740 closed

[2020-11-23 19:53] digitalken commented on #15741
Added to TestRail.

[2020-11-23 19:54] lwalsh617 commented on #14544
Hi @bethpottsVADEPO and @RLHecht
Here's the complete copy deck for life insurance. For ease of reviewing/commenting, I put everything in the Word doc rather than having some articles in Drupal and others in Word.
@bethpottsVADEPO -- Do you want to have a look before Randi does an edit?

  [https://app.zenhub.com/files/133843125/dba9654c-4815-4192-9999-ae6d34659a0a/download](https://app.zenhub.com/

[2020-11-23 19:54] joeniquette commented on #16228
https://github.com/department-of-veterans-affairs/vets-website/pull/15060
https://github.com/department-of-veterans-affairs/vets-api/pull/5379

[2020-11-23 19:57] kelsonic commented on #16192
@brianalloyd I think these markup changes are out of scope for this ticket as the AC seem to have changed a lot. Could we create a follow-up ticket to knock out this follow-up work?

[2020-11-23 19:58] youngfreezyVA commented on #16192
@jenstrickland i understand the logic behind moving the back to top button to be the last element in the child container. not clear on why we need to repeat the non-visible button on the page that many times, i'm probably missing something.

@brianalloyd since it seems like accessibility wasn't considered when developing this ticket from the beginning, i'd suggest reopening the original ticket, an

[2020-11-23 20:06] luke-gcio opened #16531 "[Development] BDD: Update STR Content, Make Very Clear That STR is NOT Required for BDD"
## Issue Description
We made the executive decision that we will not delay BDD any further in order to fix all of the STR upload issues.  The last real issue is the file size and we have to wait for EVSS to implement it.  In the meantime, we want to change the STR page to encourage veterans to not get stuck on it.

This is the before:
![Screen Shot 2020-11-20 at 8 46 12 AM](https://user-images.git

[2020-11-23 20:12] brianalloyd opened #16532 "R&S Back to Top Accessibility Update"
1. We have a sticky button that is located in the page source just above the footer. This works for sighted users, and is okay as-is, except rather than placing it just above the footer it should be the last item in the parent container (see sketch below). _One caveat, @jenstrickland connecting with @1Copenut — to learn if we should use aria-live to announce the button for assistive tech._

2. An

[2020-11-23 20:12] brianalloyd commented on #16192
@youngfreezyVA and @kelsonic I've created a new ticket as suggested that will point back to this ticket for clarity.  Let me know if you have any questions or if the new ticket needs to be clarified.

[2020-11-23 20:13] denisecoveyduc commented on #14955
@johnhashva Just to confirm we are all on the same page. As per our discussion in slack on Wednesday @srsuddath plans to prioritize this issue over the work to finalize the type ahead POC [#14452 (likely to be completed)  and #13494 (a stretch goal)]. Let us know if that is not aligned to your expectations.

[2020-11-23 20:14] denisecoveyduc commented on #13494
As per slack discussion on 11/18, this will become a stretch goal because of the addition of #14955 to the sprint. @johnhashva @srsuddath

[2020-11-23 20:20] digitalken commented on #15742
Added to TestRail.

[2020-11-23 20:26] delli-gatti-michael commented on #15828
@department-of-veterans-affairs/uxbah The fix is on Staging and ready for review

[2020-11-23 20:28] kristenmcconnell commented on #14848
Final IA recommendations from Mikki link: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/information-architecture/ia-reviews/health-questionaires.md

[2020-11-23 20:28] #14848 closed

[2020-11-23 20:29] kristenmcconnell commented on #16063
Met with researchers who use eScreening on Nov. 19. Met with BHL Demo on Nov. 23.

[2020-11-23 20:30] glennettec opened #16533 "Request access to Google Analytics"
Request access to Google Analytics

glennette.clark@usds.dhs.gov

[2020-11-23 20:32] komaly15 commented on #16046
Note: if the user turns off calendar permissions in their settings for ios, as of now the link will not do anything. This will be handled in another story once UI/UX is finalized for this case

[2020-11-23 20:37] jenstrickland commented on #16192
@youngfreezyVA  If a user is navigating the page with a screen reader, they will not know there is a "Back to top" link available to them on par with the sighted user's experience. The screen reader user will only hear the link after reading through **all of the page content** to just before the footer. If you navigate to the page and read the page with the screen reader only — don't look at the p

[2020-11-23 20:40] peggygannon commented on #16492
hi, @3obryandogs @leahkeeler  Yes, this will need to be approved by COVID task force. Here's my recommendation and a few questions below. This recommended alert needs to be reviewed/ approved by covid task force team.

Question:
- Do this line mean that Veterans will have to repay their whole debt by Feb 1? I removed it from my recommendation b/c I wanted to understand this line...
*If you do not

[2020-11-23 20:44] kimberlymcm opened #16534 "Request access to Google Analytics and Domo"
Google Analytics & Domo access request:

Name(s):
Kimberly McManus (already has GA)
Glennette Clark
Meg Peters (already has GA)
Emily Mann (already has GA)

Email(s):
kimberly.mcmanus@va.gov
glennette.clark@usds.dhs.gov
meg.peters@va.gov
emily.mann1@va.hov

Team: Digital Health Modernization

(Optional) Dashboard:

[2020-11-23 20:46] zacharymorel commented on #14482
Good afternoon  @jenstrickland this is ready to be validated on https://staging.va.gov/ .

[2020-11-23 20:46] zacharymorel commented on #15772
Good afternoon  @jenstrickland this is ready to be validated on https://staging.va.gov/ .

[2020-11-23 20:46] zacharymorel commented on #15785
Good afternoon  @jenstrickland this is ready to be validated on https://staging.va.gov/ .

[2020-11-23 20:49] digitalken commented on #15713
Added to TestRail.

[2020-11-23 20:52] watersemma commented on #15828
UX Review 1/2: Looks good to me!

[2020-11-23 20:53] leahkeeler opened #16535 "Staging Review BAM2 Debt Letters Iteration 2"
## Steps to complete Staging Review:

Requested time 12/1 11am

- [ ] Product Manager: create this issue and fill in feature name in the title and other bolded information appropriately
- [ ] Attach all artifacts before requesting the meeting
- [ ] Link to this issue once created in [#vfs-platform-support](https://dsva.slack.com/channels/vfs-platform-support) in Slack; tag @ Shira Goodman and @ An

[2020-11-23 20:53] digitalken commented on #16461
Added to TestRail.

[2020-11-23 20:57] digitalken commented on #16460
Added to TestRail.

[2020-11-23 20:59] 3obryandogs commented on #16361
The following answers are based on Peggy's approved wording. Each one is specific to the question asked. I used a UXPin preview which currently is undergoing revision.

1.	C2P1: Have you been employed within the past two years? (*Required)
•	Please enter your employment information so we can continue helping you fill out your request.
2.	C2P1: Are you currently employed?  (*Required)
•	Please ente

[2020-11-23 21:00] digitalken commented on #15439
Added to TestRail.

[2020-11-23 21:02] leahkeeler commented on #16492
@peggygannon @3obryandogs Since the debt letters will be staggered, we ned to avoid any reference to when the debts need to be repaid. Thanks!

[2020-11-23 21:02] lealester commented on #16321
completed Minneapolis (Leadership); pivoting to assist Ed with technical debt (11/23/2020)

[2020-11-23 21:04] digitalken commented on #14886
Added to TestRail.

[2020-11-23 21:04] amyknox commented on #15828
UX Review 2/2: LGTM! Thanks!

[2020-11-23 21:07] digitalken commented on #14707
Added to TestRail.

[2020-11-23 21:08] 3obryandogs commented on #16492
Peggy, how should we reword the line about health care copays to remove “debt?” Also, what is the process for getting this to the COVID task force? Do you do that, or is something I can do?

Could we say:

If you have VA health care copay overpayment, go to our [pay your copy bill] page to learn about your payment options.

From: peggygannon <notifications@github.com>
Sent: Monday, November 23, 20

[2020-11-23 21:09] #15376 closed

[2020-11-23 21:09] mmiddaugh opened #16536 "Event start times displayed 5 hours later than expected"
## What happened?

Outreach hub users have reported an issue with the new time zone data, which is also affecting VAMC events.

The time and time zones appear correctly on event listings page (such as https://www.va.gov/pittsburgh-health-care/events/ and https://www.va.gov/outreach-and-events/events/).  That data matches with the new CMS.

But on event detail pages like https://www.va.gov/pittsbur

[2020-11-23 21:16] delli-gatti-michael commented on #15828
Closing this out

[2020-11-23 21:16] #15828 closed

[2020-11-23 21:20] digitaldrk commented on #16342
Updated PR after Feedback. Pinged VSP:
https://github.com/department-of-veterans-affairs/vets-api/pull/5320

https://dsva.slack.com/archives/CBU0KDSB1/p1606166136026400

[2020-11-23 21:26] digitalken commented on #13995
Added to TestRail.

[2020-11-23 21:28] kristenmcconnell commented on #16304
Meeting with Amanda and Mark held Nov. 23 to review scope of changes and what FE stories need to be written. Call outs added to Zeplin file with list of changes needed as well. Complete list of changes sent out Amanda and Mark via vsa-clipboard Slack channel.

[2020-11-23 21:28] #16304 closed

[2020-11-23 21:28] mpelzsherman commented on #16536
Investigation log:

1. Tried to reproduce locally. Pulled master and ran `yarn build:content --pull-drupal`. Works fine on my machine. The start times on the events list and event detail pages are identical.

2. Confirmed that the event template (src/site/layouts/event.drupal.liquid) still contains the correct code to assign the date variables:

`{% include "src/site/includes/date.drupal.liquid" %

[2020-11-23 21:31] mpelzsherman commented on #16536
Confirmed that src/site/includes/date.drupal.liquid no longer contains the environment check code.

[2020-11-23 21:35] digitalken commented on #15702
Added to TestRail.

[2020-11-23 21:39] digitalken commented on #16046
Added to TestRail.

[2020-11-23 22:03] brianalloyd opened #16537 "[Build] Transformer 'NodeFaqMultipleQA' for R&S Content Type"
## Issue Description
_Review the CMS [documentation](https://vfs.atlassian.net/wiki/spaces/VP/pages/637567205/Transformers+Development+Guide) and build the following for the `NodeFaqMultipleQA` bundle:
- Input schema
- Transformer
- Output schema

## Front end tasks
- Provide an estimate for the work to be preformed.
- Remove 'Needs Grooming' label once estimated
- Build Transformer.
- Ensure your

[2020-11-23 22:05] brianalloyd opened #16538 "[Build] Transformer 'NodeSupportResourcesDetailPage' for R&S Content Type"
## Issue Description
_Review the CMS [documentation](https://vfs.atlassian.net/wiki/spaces/VP/pages/637567205/Transformers+Development+Guide) and build the following for the `NodeSupportResourcesDetailPage` bundle:
- Input schema
- Transformer
- Output schema

## Front end tasks
- Provide an estimate for the work to be preformed.
- Remove 'Needs Grooming' label once estimated
- Build Transformer.

[2020-11-23 22:07] rileyorr commented on #16113
Thanks for providing the updated content! I added some suggestions in areas I think could be more concise for our users. Let me know what you think!

A letter was sent to your mailing address explaining overpayment for your benefit.

**Compensation and pension**

Reasons you owe disability compensation and pension repayment might include:

You received disability compensation and drill pay at the

[2020-11-23 22:07] jenstrickland commented on #13999
@ala-yna 👋  Hey there, do you still have this on your team's radar?

[2020-11-23 22:08] brianalloyd opened #16539 "[Build] Transformer 'NodeBasicLandingPage' for R&S Content Type"
## Issue Description
_Review the CMS [documentation](https://vfs.atlassian.net/wiki/spaces/VP/pages/637567205/Transformers+Development+Guide) and build the following for the `NodeBasicLandingPage` bundle:
- Input schema
- Transformer
- Output schema

## Front end tasks
- Provide an estimate for the work to be preformed.
- Remove 'Needs Grooming' label once estimated
- Build Transformer.
- Ensure y

[2020-11-23 22:10] brianalloyd opened #16540 "[Build] Transformer 'NodeChecklist' for R&S Content Type"
## Issue Description
_Review the CMS [documentation](https://vfs.atlassian.net/wiki/spaces/VP/pages/637567205/Transformers+Development+Guide) and build the following for the `NodeChecklist` bundle:
- Input schema
- Transformer
- Output schema

## Front end tasks
- Provide an estimate for the work to be preformed.
- Remove 'Needs Grooming' label once estimated
- Build Transformer.
- Ensure your cod

[2020-11-23 22:12] shiragoodman commented on #16535
@leahkeeler can you add last names please? I don't know who Craig is. Also, please be sure to include any shared resources for a11y, QA, content, IA or design. Thanks!

[2020-11-23 22:12] brianalloyd opened #16541 "[Build] Transformer 'Page nodeMediaListImages ' for R&S Content Type"
## Issue Description
_Review the CMS [documentation](https://vfs.atlassian.net/wiki/spaces/VP/pages/637567205/Transformers+Development+Guide) and build the following for the `Page nodeMediaListImages ` bundle:
- Input schema
- Transformer
- Output schema

## Front end tasks
- Provide an estimate for the work to be preformed.
- Remove 'Needs Grooming' label once estimated
- Build Transformer.
- Ens

[2020-11-23 22:16] kristenmcconnell commented on #15510
@abuckley3385 A draft conversation guide and research plan for our possible next usability study are ready for review. I definitely have a few questions in the documents for you. Let me know if you want to meet to talk through everything.

[2020-11-23 22:16] brianalloyd opened #16542 "[Build] Transformer 'NodeMediaListVideos' for R&S Content Type"
## Issue Description
_Review the CMS [documentation](https://vfs.atlassian.net/wiki/spaces/VP/pages/637567205/Transformers+Development+Guide) and build the following for the `NodeMediaListVideos` bundle:
- Input schema
- Transformer
- Output schema

## Front end tasks
- Provide an estimate for the work to be preformed.
- Remove 'Needs Grooming' label once estimated
- Build Transformer.
- Ensure yo

[2020-11-23 22:18] #16298 closed

[2020-11-23 22:22] leahkeeler commented on #16535
@shiragoodman last names added. For reference, Iteration 2 adds additional information to Iteration 1 - mainly debt status and history - everything else is the same - Iteration 1 was going to be released and went through staging review already.