[2019-10-11 19:02] omgitsbillryan opened #2400 "Missing `pr-head` Status from Jenkins for vets-api PR"
### The Problem
A PR (https://github.com/department-of-veterans-affairs/vets-api/pull/3412) was missing it's `pr-head` status check from Jenkins
![image](https://user-images.githubusercontent.com/3077884/66677604-fb00c980-ec37-11e9-9894-a164bbd8c8dc.png)

This prevents the PR from being merged even though it has been approve by reviewers.

[2019-10-11 19:04] omgitsbillryan commented on #2400
After investigation - we saw that the GH webhook POST request was indeed sent from GH to our dev revproxy, however we do not see Jenkins ever receiving the request. Coincidentally, there was a dev-revproxy deployment on the same day and around the same time as the PR was opened, so we _think_ that this request may have simply been dropped / mishandled by the re-deploy.

Result: no other `vets-api`

[2019-10-11 19:05] #2400 closed

[2019-10-11 19:05] Karak888 commented on #763
@ncksllvn is this ticket in progress or go to backlog? Thanks!

[2019-10-11 19:14] andaleliz commented on #504
@Karak888 This is validated and can be closed.

[2019-10-11 19:14] #504 closed

[2019-10-11 19:18] andreahewitt-odd opened #2401 "Benefits & Memorials #2 Onboarding"
## User Story
As a new VA.gov team member, I need to complete onboarding activities so I can successfully work on my project.

## Acceptance Criteria
- [ ] Each team member has completed each item in the onboarding checklist below.

## Onboarding Checklist

- [x] PM: Attend intro meeting with product support PM
- [x] Attend general onboarding meeting
- [x] [Request Access to Tools](https://github.

[2019-10-11 19:20] kfrz opened #2402 "Add the `vale` dependency to `vets-website`"
## User Story or Problem Statement
How might we lint `vets-website` with `vale` linter so linting errors can be displayed to editors on the CMS preview server ?

## Goal
Integrate the `vale` tool into the `vets-website` dependency build pipeline.

## Objectives or Key Results this is meant to further
**VSP Bets:** `ROE, Scalability`

## Acceptance Criteria
- [x] `Dockerfile` is updated to contain

[2019-10-11 19:27] kfrz opened #2403 "Create a `metalsmith` plugin to encapsulate `vale` linting"
## User Story or Problem Statement
How might we incorporate the `vale` linting process into the `vets-website` build pipeline via `metalsmith`?

## Goal
A plugin can run `vale` on HTML content in the `vets-website` build pipeline.

## Objectives or Key Results this is meant to further
**VSP Bets:** `ROE, Scalability`

## Acceptance Criteria
- [x] Locally, `yarn preview` ignores the `plainLanguageL

[2019-10-11 19:28] kfrz opened #2404 "Inject output warnings and errors into page"
## User Story or Problem Statement
How might we communicate `vale` warnings/errors to the editor on the CMS preview server so they can edit accordingly?

## Goal
`vale` linting warnings and errors are identified to the viewer of a CMS preview page.

## Objectives or Key Results this is meant to further
**VSP Bets:** `ROE, Scalability`

## Acceptance Criteria
- [x] Correct target location for outpu

[2019-10-11 19:34] kfrz commented on #2236
Updated the epic #2233 with the above issues. Closing this as DOD is fulfilled.

[2019-10-11 19:34] #2236 closed

[2019-10-11 19:47] jason-gcio commented on #2047
Reached out to Matt Self for a time in the afternoon next week after Wed.

[2019-10-11 19:52] #2148 closed

[2019-10-11 19:52] #2091 closed

[2019-10-11 19:56] 1Copenut commented on #1794
HI @Karak888. I had to pass this one back to @ncksllvn because my daily obligations shifted rapidly. We're looking to take the proof of concept errors that are appearing in the Dev Tools console and have them appear on the Preview Server page in a banner.

[2019-10-11 20:00] andaleliz opened #2405 "Determine how to address facilities with null hours"
### **Description**
The facility locator displays hours for some locations as `N/A - N/A`; the api data for these locations comes in as `null` for the hours each day.   Here are some examples:

- [Ralph H. Johnson Department of Veterans Affairs Medical Center](va.gov/find-locations/facility/vha_534)
- [Wm. Jennings Bryan Dorn Department of Veterans Affairs Medical Center](https://www.va.gov/find-l

[2019-10-11 20:06] #2339 closed

[2019-10-11 20:06] #754 closed

[2019-10-11 20:19] markgreenburg opened #2406 "Add print button to confirmation page"
As a veteran, I want to be able to print my appointment / request confirmation pages so that I can keep them on hand in a way that works for me.

AC
- [ ] Veterans can print directly from the confirmation page for appointments / requests.

[2019-10-11 20:21] markgreenburg commented on #1598
Duplicate of main ticket for facility / system selector.

[2019-10-11 20:21] #1598 closed

[2019-10-11 20:22] markgreenburg commented on #1787
This now seems like a dupe of the ticket in progress that determines request vs. direct scheduling flows. @jbalboni please feel free to close if that's the case.

[2019-10-11 20:26] #1787 closed

[2019-10-11 20:31] jenniferlee-dsva commented on #1727
Uploading for @AnneHurley - to touch base with Mikki on open questions. [https://app.zenhub.com/files/133843125/64892f59-bd66-48ec-85c1-def464022fba/download](https://app.zenhub.com/files/133843125/64892f59-bd66-48ec-85c1-def464022fba/download)

[2019-10-11 20:44] markgreenburg opened #2408 "Update content for system & facility selection"
There are several possible UI / data states on the facility selection page for which we don't have updated content, which may be confusing to veterans who are trying to decide what step to take next.

AC
- [ ] Each of the three scenarios have updated content attached to this ticket.

**Failed recency check:** Only one facility supports the selected type of care, however, the veteran hasn't been se

[2019-10-11 21:02] jbalboni commented on #2149
I've put updated screenshots in https://github.com/department-of-veterans-affairs/vets-website/pull/10890

[2019-10-11 21:10] lisac-usds commented on #2357
Hi @JQuaggles , with the exception of `#cms-ci`, I've archived the channels in your list.

Why did I not archive `#cms-ci`? I saw recent activity in it. I'm asking the CMS team for feedback, via a post in the [#cms-general]( https://dsva.slack.com/archives/CDHBKAL9W/p1570828052009000) channel. Planning to follow up on Tuesday (Oct 15) afternoon.

[2019-10-11 21:10] kfrz opened #2409 "Update VSP API engineering-focused documentation to reflect error handling practices"
## User Story or Problem Statement
As an engineer using `vets-api`, I need to understand our approach to error handling so I can consistently implement new services/interactions.

## Goal
All documentation related to API error handling is identified, audited and refreshed

## Objectives or Key Results this is meant to further
**VSP Bets:** `ROE, Lights On, Data`

## Acceptance Criteria
- [ ] [VSP]

[2019-10-11 21:11] mmiddaugh commented on #2319
Beginning to dive into Google analytics for baseline: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/facilities/facility-locator/research/discovery-sprints/analytics-baseline.md

[2019-10-11 21:14] markgreenburg opened #2410 "Add system selection to Community Care preference page"
As a veteran wanting community care, I need to select the VA system that will handle my private care scheduling so that I can get scheduled for community care.

Proposed page to update:
![Screen Shot 2019-10-11 at 4.13.57 PM.png](https://images.zenhubusercontent.com/59c29173b0222d5de478791d/6e5dc9c3-1ff9-4f88-b8f0-5ba8dd26e28c)

AC
- [ ] If veteran has multiple systems that have a facility enabled

[2019-10-11 21:22] #2158 closed

[2019-10-11 21:24] markgreenburg opened #2411 "Only show veterans CC / VA choice page if 1+ facility enabled for CC"
As a veteran, I don't want to choose between VA and Community Care if there are no facilities in one of my registered systems that support scheduling community care appointments, because I won't be able to finish the scheduling process.

Notes:
- The way we check for CC enabled facilities is the supported-facilities endpoint, which we can compare against a Veteran's registered systems.

AC
- [ ] V

[2019-10-11 21:26] gunsch commented on #1579
Couple resources here:
* https://csp.withgoogle.com/docs/strict-csp.html also has a recommended policy as a starting point.
* https://csp-evaluator.withgoogle.com seems like a pretty great tool! Couple things it calls out on our policy:

* `unsafe-inline` was the one that scared me the most, but the tool mentions that in modern browsers (CSP2) `nonce-*` overrides it / cancels it out. The recommend

[2019-10-11 21:29] ncksllvn commented on #763
@Karak888 can probably be closed in favor of the now-epic, https://github.com/department-of-veterans-affairs/va.gov-team/issues/1506

[2019-10-11 23:43] peggygannon commented on #2351
@Justin-Pickett @Samara-Strauss OK, so it sounds like we'll go with this.

**We're testing out the direct deposit feature on VA.gov**
We're in the process of bringing direct deposit to VA.gov. This feature isn't available to everyone right now. If you see the direct deposit feature in your profile, you can update your information from there. If you don’t see this feature in your profile, please [g

[2019-10-12 00:07] tlei123 commented on #1924
@rileyorr & @Mottie, I've started a QA Manual Testing Matrix for Step 1 Veteran Details page.

Please review it, and make any edits and/or add any comments as needed there*: https://1drv.ms/x/s!AtFPwFnvF2TMdHaJmfZJb2dXakQ

Thanks much!

*This is an MS OneDrive experiment I'm running to enable easier online viewing/editing of the Matrix.  Anyone with the above link can view/edit the spreadsheet, as

[2019-10-12 01:48] tlei123 opened #2414 "Update load-test sessions documentation"
## Problem
The [load-test sessions documentation](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/quality-assurance/auth-session-loadtest.md) is outdated, after Ansible code was recently updated by @wyattwalter to improve load-test setup-experience.

## Goal
Documentation should reflect the updated setup-experience.

## Objective this is meant to further
General

[2019-10-12 22:33] jonwehausen commented on #1846
Hi Team,
cc: @ethanteague @ncksllvn @jefflbrauer @andrewlewandowski @nedierecel @joanneesteban

Thanks so much for working thru the changes!

The accordion embedded links are working great 👍

**I did notice however the jumplink `nav-jumplink-click` push is still not firing on click..._good news is it is no longer firing on page load_.**

I was able to put in a temporary fix that gives tracking to

[2019-10-13 16:27] nedierecel commented on #1828
@jenniferlee-dsva @lwalsh617 @artsymartha68 The file was too large to send over Git, so I will send over Slack. I am attaching an updated version of Jennifer's original request that filters out activity from employees coming from a VA Network Domain.

**For Visibility:**
- Data Sources for 01/01/2019-10/11/2019:
    - [Unsampled data from Top 5000 VA Forms URLs in Google Analytics](https://analyti

[2019-10-13 19:14] ethanteague commented on #1846
Awesome, @jonwehausen ! Can you give me the url(s) and the subordinate links you are testing that aren’t firing? I wanna make sure I’m plugging in my trackers in the correct place. Thanks!

[2019-10-14 11:21] ndsprinkle commented on #1832
Pull request: https://github.com/department-of-veterans-affairs/vets-website/pull/10880

[2019-10-14 12:24] ricetj opened #2415 "Coordinating with VAAPI (Lighthouse) on their updates of scratch instance build to AL2."
This came from the is post: https://dsva.slack.com/archives/C7S6EA0ES/p1570828096047600

@wyattwalter We will need to talk through this one.

[2019-10-14 13:06] Karak888 commented on #763
Closing this ticket per https://github.com/department-of-veterans-affairs/va.gov-team/issues/1506

[2019-10-14 13:06] #763 closed

[2019-10-14 13:11] peterhill-oddball commented on #1445
@tlei123 Explored this on his own, and discussed the Jenkins output with the owner.  They've agreed to make some tweaks which should make grabbing the cookies from the Jenkins console much easier.  Tze will update the documentation accordingly once the new console output has been settled on.

[Authenticated Sessions](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platfor

[2019-10-14 13:25] nedierecel commented on #1828
10/14/2019 - Provided XLS file via Slack; follow-up issue in #2182 will track PDF downloads

[2019-10-14 13:25] #1828 closed

[2019-10-14 13:27] #2105 closed

[2019-10-14 13:27] nedierecel commented on #2105
@clantosswett One other item that I will spin off into another issue is the tracking of the `Contact Us` in the header. Though we're tracking the click on the phone number as a link, it gets lumped into the count for all clicks to 844-698-2311; the issue though is that we can't separate the `Contact Us` header activity from the rest.

I'll close this issue for the initial dashboard and will tag yo

[2019-10-14 13:34] LindseySaari commented on #1816
This is a WIP branch for PPMS refactor (for Sprint 10 tracking purposes): https://github.com/department-of-veterans-affairs/vets-api/tree/1816-ppms-service-refactor

[2019-10-14 13:38] nedierecel commented on #2182
@jonwehausen Thanks for the new look-up table. So it aligns with the Modernized container, we could:

- Update the Modernized version of the tag to also pick up the Click Text (instead of Click URL) and leverage your look-up table here also

![image.png](https://images.zenhubusercontent.com/5b295b9ff378ea1890b3d77e/85ccce92-b386-4897-aec7-6ca07181de51)

- Within both versions of the tags, I know o

[2019-10-14 14:11] ricetj opened #2416 "Start Forwarding logs to VA's Splunk"
Boris would like us to start forwarding logs to VA's Splunk.
From Boris: Yep, for now. I would like us to save the VPC flow logs -> Cloudwatch.
- Create a LogGroup for VPC flow logs
- Create a subscription filter for Kinesis to forward to Splunk (ECSO COMS can walk you through that)

Came from this conversation: https://github.com/department-of-veterans-affairs/devops/pull/5686#discussion_r3337174

[2019-10-14 14:12] ricetj commented on #2416
@wyattwalter Craig, brought this one up and asked if we can take it on.

[2019-10-14 14:12] nedierecel commented on #1846
@ethanteague - @jonwehausen is OOO today, but I believe an example of the jumplinks is on https://staging.va.gov/pittsburgh-health-care/health-services/#mental-health-care

![image.png](https://images.zenhubusercontent.com/5b295b9ff378ea1890b3d77e/d233467f-19fb-414d-ae16-0df210a9872c)

I see Jon's temp fix here on the page.

**For Analytics-Insights Team to address:**
@jonwehausen Once the ^^ is r

[2019-10-14 14:47] omgitsbillryan opened #2417 "Support for Testing EVSS API's from Local Dev Machines"
https://dsva.slack.com/archives/C0MQ281DJ/p1570736650003700

Connects: #2295

[2019-10-14 14:47] #2417 closed

[2019-10-14 15:23] ncksllvn commented on #1541
Hey @jonwehausen! Apologies for the delay. I just merged the design system updates to define these new events, and have a vets-website pull request open to begin using them. Before I merge the vets-website PR, I wanted to update you on what to expect from GTM.

The new event is simply:

[code]

However, the event is triggered by the full AdditionalInfo component instead of the button DOM element,

[2019-10-14 15:23] joanneesteban commented on #1030
@jonwehausen @nedierecel This should be a bi-quarterly update - if it's easier, a monthly update.

[2019-10-14 15:27] ricetj commented on #2395
Need to VA intranet to access

[2019-10-14 15:44] Karak888 commented on #1961
so @ncksllvn just to confirm this work should go to staging and please KEEP the link to Tri-West- I am referencing the ticket so you have latest information.  Thank you! cc:  @jenniferlee-dsva @chrisj-usds

https://github.com/department-of-veterans-affairs/va.gov-team/issues/1519#issuecomment-540101781

[2019-10-14 15:52] ncksllvn opened #2418 "Update "Downshift" NPM module site-wide"
An accessibility audit revealed that the Facility Locator's `Facility Type` dropdown has some issues which resulted in this ticket, https://github.com/department-of-veterans-affairs/va.gov-team/issues/1056. However, after picking that ticket up, it was discovered that the dropdown component used there is a module from NPM called Downshift. vets-website uses Downshift in various areas throughout th

[2019-10-14 15:53] ncksllvn commented on #1056
New ticket for updating Downshift site-wide is here, https://github.com/department-of-veterans-affairs/va.gov-team/issues/2418.

[2019-10-14 15:55] jenniferlee-dsva commented on #1328
@Karak888 @ncksllvn  - referencing past site search decisions and history here: https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/global/search

Perhaps we can start adding discovery, decisions, and plans for the next iteration (v.3)  of search work in this folder.

[2019-10-14 16:05] peterhill-oddball commented on #2008
Switching to a spreadsheet which is shared [here](https://drive.google.com/file/d/1gXS3Ma1Vx11lPz4mlgi_8y6wGOdSV8rX/view?usp=sharing).

[2019-10-14 16:10] ethanteague commented on #1846
Okay. I _think_ this pr should resolve: https://github.com/department-of-veterans-affairs/vets-website/pull/10894 cc: @jefflbrauer @nedierecel

[2019-10-14 16:14] ricetj commented on #2416
@jbritt1 This is the ticket I spoke about and Nathan gave the overview for. @wyattwalter gave this to Jeremy to take on as a learning task.

[2019-10-14 16:32] #2382 closed

[2019-10-14 16:47] #1859 closed

[2019-10-14 16:48] nedierecel commented on #849
First draft uploaded for `Defining Success` resources under Platform>Analytics>Google Analytics - https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/analytics/google-analytics/defining-success.md

More to come!

[2019-10-14 16:50] joanneesteban commented on #2180
@deweydell Could you add screenshots of the local site with notes by EOD today?

[2019-10-14 17:00] benniemosher opened #2419 "Access for Benjamin Allen Mosher, Jr."
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Add a comment @department-of-veterans-affairs/vsp-operations to ping the operations team
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please

[2019-10-14 17:00] benniemosher commented on #2419
@department-of-veterans-affairs/vsp-operations

[2019-10-14 17:05] tskinn commented on #2419
@Jeff-Hayter
COR: Yourself
User: Benjamin Allen Mosher, Jr.

[2019-10-14 17:16] nathanhruby opened #2420 "Access for Nathan Hruby"
Hi @department-of-veterans-affairs/vsp-operations

Please grant me access to the platform, AWS, and ssh access.

Thanks!

-n

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please provide the name of your team, your role on that team, and the name of the company you work for.

- What is the **public** SSH key?

- [Grant AWS Cons

[2019-10-14 17:31] 1Copenut commented on #2418
Bringing my comment over from #1056 because it will weigh on the difficulty of this issue ticket:

The WAI-ARIA 1.1 specification ( https://www.w3.org/TR/wai-aria-practices-1.1/examples/listbox/listbox-collapsible.html ) for comboboxes creates a lot of challenges for screen readers. I have previously upgraded an Autocomplete component to Downshift V3, but had to manually re-write it to use the bet

[2019-10-14 17:39] ricetj commented on #2420
@Jeff-Hayter
COR: Yourself
User: Nathan R. Hruby

[2019-10-14 17:42] Karak888 opened #2421 "#1595"
Style guide edits to live pages in Drupal

[2019-10-14 17:53] andaleliz opened #2422 "Broken links in left nav, multiple sections"
## What happened?
Noticed a few broken/incorrect links in the left nav on multiple pages.  This seems to be the case on any page where the left nav heading is `For Employees`, such as:

- https://www.va.gov/OPA/index.asp
- https://www.va.gov/landing_organizations.htm
- https://www.va.gov/employee/
- https://www.va.gov/icare/
- https://www.va.gov/oca/index.asp

It doesn't happen on
- https://www.va

[2019-10-14 17:56] jbalboni opened #2423 "Submit direct schedule appointment to vets-api"
## Story
As a developer, I want to submit an appointment that a veteran filled out to vets-api so that the appointment goes directly into VistA

Notes:
- We'll need to concatenate the reason for appointment text with the additional details text before sending to the endpoint.

## AC
- [ ] Appointment submits to vets-api successfully
- [ ] All data is properly converted from the form data format to

[2019-10-14 18:03] Karak888 opened #2424 "On-site Search: Discovery, decisions, plans for v.3"

[2019-10-14 18:20] jenniferlee-dsva commented on #2281
@Karak888 - I updated the epic story above and linked to the repo folder.

[2019-10-14 19:04] joanneesteban commented on #2191
Met with team on Friday, 10/11/19. Added members to GA and will be workshopping KPI setting in Sprint 11.

[2019-10-14 19:04] #2191 closed

[2019-10-14 19:10] nedierecel commented on #1124
The objectives of this issue are replicated in #849, so I will close this task.

[2019-10-14 19:10] #1124 closed

[2019-10-14 19:10] peterhill-oddball commented on #2290
I'm not quite sure where to create a QA bug report template.  VFS teams creating a product that exists entirely in the front end might find it most relevant to create the bug report in the *vets-website* repo; whereas, teams creating new components in the back end might find the *vets-api* repo to be the most relevant.

Should we avoid creating the bug reports in the repository where the related c

[2019-10-14 19:12] peterhill-oddball commented on #2290
Regardless of which repository in which we elect to create bug reports, it will require administrator privileges to create the template in the repo.  I'm referencing this guide from GitHub -- [GitHub Help Page](https://help.github.com/en/articles/creating-issue-templates-for-your-repository).

[2019-10-14 19:14] nedierecel opened #2425 "[Discovery] Determine Impact of Sampling on GA Product Health v2"
## User Story or Problem Statement
As an analytics-insights team member, I want to see the impact of sampling on trendline reports within the Product Health tool.

## Goal
- Compare data pulled via API against Unsampled reports

## Objectives or Key Results this is meant to further
- Communicate if data has been sampled using 12+ month timeframe
- Summarize results and how this impacts our roadmap

[2019-10-14 19:22] mnorthuis commented on #2053
This issue is blocked until the URL change for the `/effective-dates` page is done per this issue: https://github.com/department-of-veterans-affairs/vets.gov-team/issues/16956

[2019-10-14 19:26] tlei123 commented on #2414
@peterhill-oddball, [PR](https://github.com/department-of-veterans-affairs/va.gov-team/pull/2426) now Open for your review & approval.  :)

[2019-10-14 19:51] peterhill-oddball commented on #2290
@andreahewitt-odd Do you have any thoughts about where we might best create and address bug reports from the wide variety of VFS teams?

[2019-10-14 20:07] 1Copenut opened #2427 "[KEYBOARD]: Text Appointments - Focus must return to Edit button when modal dialog is closed"
## Description

When I close the modal dialog to update my mobile phone number, focus is being returned to the body element instead of the Edit button that opened it. This should be updated to return focus to the original trigger. Screenshot attached below.

## Point of Contact

**VFS Point of Contact:** _Trevor_

## Acceptance Criteria

1. As a keyboard user, I want to see the yellow focus halo w

[2019-10-14 20:11] mnorthuis commented on #2211
Issue tracking the rewriting of the rates pages: https://github.com/department-of-veterans-affairs/vets.gov-team/issues/17828#

[2019-10-14 20:13] johnpaulashenfelter commented on #2377
From @wyattwalter https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/working-with-vsp/policies-work-norms/sensitive-guidance.md

[2019-10-14 20:14] 1Copenut opened #2428 "[KEYBOARD]: Text Appointments - Checkbox needs instructions or a Submit button"
## Description

We are triggering the text appointments to mobile phone action by checking and unchecking a box. This goes against SC 3.2.2 unless we add clear instructions or a Submit button to drive the action. Screenshot attached below.

## Point of Contact

**VFS Point of Contact:** _Trevor, Emily, Peggy_

## Acceptance Criteria

1. As a user, I want to either press a Submit button to turn on/

[2019-10-14 20:19] 1Copenut opened #2429 "[KEYBOARD]: Text Appointments - Skip link targets need tabindex -1 for IE11 to behave properly"
## Description

Our On this page links are designed to let users skip to specific content sections. IE11 does not focus the content container as expected, and our skip links should be considered broken for IE11 users who prefer to navigate by keyboard. Screenshot attached below.

## Point of Contact

**VFS Point of Contact:** _Trevor_

## Acceptance Criteria

* As an IE11 keyboard user, I want to

[2019-10-14 20:24] Mottie commented on #1917
@peggygannon The image in the first post was from the original Mural design. We have since switched to using inVision. I have updated the screenshot and the missing "Higher-Level Review" reference has since replaced the "disability claim" reference.

[2019-10-14 20:26] jbalboni commented on #2308
Based on discussions, it sounds like we don't want to auto-fill the answer and can close this?

[2019-10-14 20:26] 1Copenut opened #2430 "[SCREENREADER]: Text Appointments - Focus must be managed when users press Delete in the modal dialog"
## Description

When I press Delete in the update mobile phone number modal window, there is no announcement to screen readers something is happening. We should be setting focus on the heading inside the alert box so users are oriented that an action is required. Screenshot attached below.

## Point of Contact

**VFS Point of Contact:** _Trevor_

## Acceptance Criteria

1. As a screen reader user,

[2019-10-14 20:36] jbalboni commented on #2075
This is implemented according to the current app, testing should reveal if any changes are necessary.

[2019-10-14 20:36] #2075 closed

[2019-10-14 20:41] saneshark opened #2431 "VAOS Documentation + Security Concerns"
We need to document and get approval for various things. This is an Epic to track those.

[2019-10-14 20:43] saneshark opened #2432 "Document VAOS -> VA.gov Auth Flow"
Complete this documentation for VAOS -> VA.GOV Auth Flow

https://coderepo.mobilehealth.va.gov/projects/VAR/repos/architecture-artifacts/browse/vaos-r/vaos_vagov_authFlow.md

[2019-10-14 20:43] mnorthuis commented on #2051
**Tickets tracking the rewriting work**

**DONE** Cost of care rewriting: https://github.com/department-of-veterans-affairs/vets.gov-team/issues/16095#

**DONE** Active Duty rewriting: https://github.com/department-of-veterans-affairs/va.gov-team/issues/2391

VHIC rewriting: https://github.com/department-of-veterans-affairs/vets.gov-team/issues/16957

VADIP rewriting: https://github.com/department

[2019-10-14 20:44] 1Copenut opened #2433 "[SCREENREADER]: Text Appointments - Mobile Phone group should have aria-live and aria-atomic attributes for context"
## Description

The message that we are updating a user's mobile phone preferences and the success message are not being announced to assistive device users. I think we should include all of these sub-sections in the main container and add `aria-live` and `aria-atomic` regions to the container. Screenshot attached.

## Point of Contact

**VFS Point of Contact:** _Trevor_

## Acceptance Criteria

*

[2019-10-14 20:47] 1Copenut opened #2435 "[ZOOM]: Text Appointments - Need a space between input and label in modal window"
## Description

The modal dialog window needs a space between the top input field and the second label element. Screenshot attached.

## Point of Contact

**VFS Point of Contact:** _Trevor_

## Acceptance Criteria

1. The inputs have proper spacing
2. No other items are changed visually

## Screenshots or Trace Logs

![Screen Shot 2019-10-14 at 3 44 48 PM](https://user-images.githubusercontent.com

[2019-10-14 20:47] saneshark opened #2436 "Complete SDD Template for VAMF integration"
Complete the System Design Document.

[2019-10-14 20:49] saneshark opened #2437 "Complete the SRVDD Template for VAMF integration"
Complete the Service Design Document for the work we're doing with vets-api (if applicable TBD).

[2019-10-14 20:53] Mottie opened #2438 "HLR: Update Higher Level Review file online Introduction page"
## User Story or Problem Statement
As a claimant, I need to know if I need to know my logged in state and the steps needed to request a Higher-Level Review (process list/subway map). Some additional information should be visible (the OMB info: respondent burden, OMB control number and expiration date) so I know how approximately long it will take me to complete the form.

## Goal
_Provide detailed

[2019-10-14 20:53] saneshark opened #2439 "VSP Security Review"
Once the SDD and SRVDD are verified, we should have the following available:

• an architecture diagram, showing involved systems + data flows
• description of any new publicly-exposed endpoints (vets-api or otherwise)
• description of any new interactions with dependent services (i.e. vets-api --> ???)
• description of any other security hotspots you're concerned about / want extra attention on

[2019-10-14 20:53] 1Copenut opened #2440 "[COGNITION]: Text Appointments - Edit buttons would benefit from aria-labels"
## Description

The `Edit` buttons rely on proximity to a label or heading to answer the question "Edit what?". This can be improved for assistive devices and screen readers by adding `aria-label` attributes to the buttons. Example screenshots attached.

/cc @peggygannon for Content team guidance as needed

## Point of Contact

**VFS Point of Contact:** _Trevor, Peggy_

## Acceptance Criteria

* A

[2019-10-14 20:53] mnorthuis commented on #2052
Blocked until content edits are complete.

[2019-10-14 20:54] saneshark opened #2441 "VAMF Security Review"
Mike Ramirez is going to provide a list of possible security concerns he would like feedback on. Will update this issue once we have received the list.

[2019-10-14 20:58] 1Copenut opened #2442 "[COGNITION]: Text Appointments - Can we review the update message for language and intent?"
## Description

The update message has me a bit confused. As I understand it, we want to convey to the user we are updating their preference for text messages about upcoming appointments. I'd like to take a look at this for visual design and content accuracy. Adding Peggy and Emily for visibility.

Screenshot attached below.

## Point of Contact

**VFS Point of Contact:** _Trevor, Peggy, Emily_

#

[2019-10-14 21:02] 1Copenut opened #2443 "Text Appointments Profile Preference 508 Audit"
Hi @lichellebain. This is the epic we will use in Zehnub to capture and track the 508 pre-flight findings.

[2019-10-14 21:03] 1Copenut commented on #2336
@lichellebain I've logged all issues in epic https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/2443 and am moving this pre-launch 508 audit to close.

[2019-10-14 21:03] #2336 closed

[2019-10-14 21:12] saneshark opened #2444 "ATO Documentation (if needed)"
Determine if ATO changes are required as part of the VAMF integration. Either on the VA.gov or VAMF side.

[2019-10-14 21:12] mnorthuis commented on #1510
Still need to clearly identify for stakeholders which pages we are recommending for rewriting/parity work.

Once that is complete we will send this to stakeholders for review.  Removing tasks pertaining to any IA/content strategy work from this issue, that will be handled separately based on stakeholder feedback and preferred direction.

[2019-10-14 21:13] johnpaulashenfelter commented on #2208
@andreahewitt-odd I think you can take me off this one

[2019-10-14 21:24] 1Copenut commented on #1817
@andreahewitt-odd I'm going to move this into `Review` for the VSP board. I've added about as much value as I can at this point, and waiting to see if there's a need for further coded versions like a simpler tooltip.

[2019-10-15 00:00] tlei123 commented on #1794
@ncksllvn, I've just ungated the e2e test & pushed it up.  You’ll see it in the [PR](https://github.com/department-of-veterans-affairs/vets-website/pull/10836/files#diff-f41e583bfc3d994eaa36e9f27b694794L32-L33).

[2019-10-15 00:40] andaleliz commented on #2394
@jenniferlee-dsva Can you please take a look at the attached spreadsheet and let me know how this lines up with what you were expecting?

I've gone through all the links in the VA Mega Menu, and all the left sidebar links under VHA and Benefits pages.  As I started to go through the sidebar links on other sections of va.gov, I kept hitting the same sites over and over, so it feels like I exhausted

[2019-10-15 03:16] saneshark commented on #2432
@stephenBarrs I've written this particular document up here: please feel free to contribute changes and we can discuss and update the doc in coderepo as well.

https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/appointments/engineering/authentication_flow.md

@markgreenburg You'll notice in the matrix that I identified DS Logon LOA1 users who have not FI

[2019-10-15 12:45] deweydell commented on #2180
I updated @joanneesteban, but here is where I am so far:
I have a chart with real data from OAuth spiked out with Chart.js:
<img width="1132" alt="Screen Shot 2019-10-15 at 8 43 24 AM" src="https://user-images.githubusercontent.com/11186572/66832535-1dd8f980-ef28-11e9-954b-b4ba6577101c.png">

I also have started a react app to reuse charts and be able to query multiple educatio products from a dro

[2019-10-15 13:14] ricetj opened #2446 "Remove Access for Bill Tran"

[2019-10-15 13:26] Justin-Pickett commented on #2351
This beta messaging is scheduled to  go live on 10/15 during 2pm EST daily deploy.

[2019-10-15 13:34] Karak888 commented on #2375
hi @jason-gcio we will not be able to get to this for a few weeks, because in addition to content / design, it will require a build out of the page (i.e., work on the REACT part of the tool page), and we will not have our FE engineers for a month.  Looks like you have started with IA and design (Mikki / waiting on Shawna), and if you need conrtent maybe Megan Kelly can help you?  I am going to mov

[2019-10-15 13:43] markgreenburg opened #2448 "Mock messaging UI"
As a veteran, I want to be able to send my scheduling clerk a note with my request to give them more conrtext about the care I need.

AC
- [ ] Mock attached to this ticket
- [ ] Mock includes a way for veterans to send 100 characters to the scheduling clerk during the appointment request process

[2019-10-15 14:06] Karak888 opened #2449 "DRUPAL: About Disability Ratings/ Effective Date page- Structure Change Needs to be fixed in Drupal"
### **Background:**
It was discovered that there was a change to the structure of the Effective Date page on the About Disability ratings (/disability/about-disability-ratings/effective-date/ changes to /disability/effective-date/), which has moved the page out from being a child of the About Disability Ratings page, and also affects the left nav.  Being that this page is in the CMS (along with th

[2019-10-15 14:26] lisac-usds commented on #2357
from the team's comments in the slack thread, I've decided not to archive `#cms-ci`.

[2019-10-15 14:26] #2357 closed

[2019-10-15 14:28] #2189 closed

[2019-10-15 14:31] Samara-Strauss commented on #2351
@Justin-Pickett @peggygannon — sorry I missed this! With the day off yesterday, I'm just getting back to emails now.

I agree with Justin 100% and think we should go with the "We're testing out the direct deposit feature on VA.gov" heading. The rest of the copy looks great as well. Thank for adding it to the drupal page, @peggygannon!

[2019-10-15 14:49] hughes-dustin commented on #2381
Branch: bah-2381
PR: https://github.com/department-of-veterans-affairs/vets-website/pull/10899

[2019-10-15 14:50] hughes-dustin commented on #2381
![Screen Shot 2019-10-15 at 10.38.19 AM.png](https://images.zenhubusercontent.com/5c98ddbd98ed1e00013adfec/fc9d9aa1-7f45-409c-9126-23edaf281398)

[2019-10-15 15:17] Samara-Strauss opened #2451 "Remove the "Records" side nav from the "Discharge upgrade" page"
## What happened?

The "Records" side nav shows on the "Discharge upgrade" page even though it shouldn't. "Discharge upgrade" does not live under the "Records" root — it lives outside of the "Records" hub — so we should not be showing the "Records" side nav.

<img width="1026" alt="Discharge upgrade_remove side nav" src="https://user-images.githubusercontent.com/34068740/66844546-75816000-ef3c-11e

[2019-10-15 15:18] Mottie opened #2452 "Form generator defaults to production"
The [form generator](https://department-of-veterans-affairs.github.io/veteran-facing-services-tools/forms/form-tutorial-basic/) adds a `manifest.json` entry to prevent the work-in-progress form from showing up in production.

Currently it adds a `production: false` entry which, according to Nick Sullivan, was a vets.gov build flag. It no longer applies to the va.gov site. This needs to be changed

[2019-10-15 15:24] Samara-Strauss commented on #2298
Following up — @nedierecel @joanneesteban @jonwehausen, now that you've had a week to noodle on things, any additional thoughts on how we can approach success metrics for this project?

[2019-10-15 15:26] jonwehausen commented on #2182
@nedierecel Great call.

- I've adjusted this tag in both the modernized and legacy containers to use an Event Action of "file_type Downloaded - {{Click Text}}" and Event Action of "{{Click URL}}" instead of {{Event}}.

Please see the workspaces here:

- [Legacy Container - Any File Download Workspace ](https://tagmanager.google.com/#/container/accounts/144676348/containers/9159499/workspaces/93)

[2019-10-15 15:32] Samara-Strauss opened #2453 "[Design] Combine Profile & Account: Create mockups of the new profile"
Epic #2086

[Sketch file](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/personalization%202.0/Combine%20Profile%20and%20Account/Design/Profile%202.0.sketch)

- [x] Create mockups including:
  - [x] Personal information
  - [x] Contact information
  - [x] Military information
  - [x] Direct deposit
  - [x] Connected accounts
  - [x] Edit

[2019-10-15 15:33] jonwehausen commented on #1846
@ethanteague Thanks for all of your work in correct this, I've validated the jumplinks are now firing on click.

@nedierecel I am ready for your final QA of this container: [Pittsburgh Health](https://tagmanager.google.com/#/container/accounts/144676348/containers/2214120/workspaces/672), the latest changes include:

- T[ag for header link clicks ](https://tagmanager.google.com/#/container/account

[2019-10-15 15:34] Samara-Strauss commented on #2092
Reopening and repurposing to track user testing.

[2019-10-15 15:36] sporeboy commented on #2364
Aricka has a starting point for review/analysis of user interviews here:

https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/ebenefits/research/discovery/research-findings.md

I will pick up where she started.

[2019-10-15 15:41] nedierecel commented on #2298
@Samara-Strauss @jonwehausen and I met this AM, but we're going to set up some additional internal time to brainstorm the KPIs against the user intent.

[2019-10-15 15:42] YanaRoy opened #2454 "Create Transaction IDs"
## User Story or Problem Statement
As a Veteran, I need to successfully complete transactions from start to finish without running into issues so I can submit the needed information.

## Goal
_Identify each transaction to allow for better resolution of errors that currently occur_

## Tasks
- [x] _Create Transaction IDs_
- [x] _Log Transaction IDs on va.gov_
- [x] _Identify what is needed from EVS

[2019-10-15 15:44] Samara-Strauss commented on #2298
Thanks for the update, @nedierecel!

[2019-10-15 15:47] erikphansen commented on #2352
@Justin-Pickett @peggygannon These are the error messages we'll need better copy for. Note that we don't need to handle the case where both their phone numbers and address are throwing errors because we don't know what sort of error message we'd get in that case. Chances are even if there are multiple problems with their contact info, we'll only get one error from the server.

`Update your home an

[2019-10-15 15:47] Samara-Strauss opened #2455 "[FE] Combine Profile & Account: Technical Discovery"
Epic #2086

Tracking questions for technical discovery. This list will continue to grow:

1. What are our current profile save messages, warnings, and errors?
2. Do we show military awards under the "Military information" section? I have that in an old mockup but I'm not sure if we actually pull in that information. Can you check the code?
3. What are all the military branches we detect in the Mil

[2019-10-15 15:49] Kimberley2019 commented on #1968
Currently the Call Center team does not use Microsoft Dynamics.  The WHVAH is in a state of standstill.  They are still working in SalesForce with no date in site if they will be migrating into Microsoft Dynamics or making modifications to Salesforce.

https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsp/teams/triage/call-center/whh-escalation-process

[2019-10-15 15:57] clantosswett commented on #2105
Hmm okay. So are you saying that if any of the links shown in the contact us drop down are shown somewhere else on the site (i.e. footer, benefit hub pages, etc) then any clicks on those links will be counted toward total clicks on the contact us drop down in the header? Additionally, if a user clicks on the "contact us" drop down in the header but doesn't click on a link from the drop down, will

[2019-10-15 15:58] #2149 closed

[2019-10-15 16:11] omgitsbillryan commented on #1934
No longer blocked since our jenkins jobs are now "Pull Request" discovered.

[2019-10-15 16:14] YanaRoy commented on #898
@Kimberley2019 Thursday 10/24 3-4pm EST; Friday 1/25 1-2pm EST; Monday 10/28 3-4pm

[2019-10-15 16:14] clantosswett commented on #2119
Any sense of timeline on this issue and the broader epic? The inability for call center agents to replicate a veterans' signed in view on VA.gov could be a potential blocker to standing up some work in the near future, so it would be great to get a sense of timing so we can determine if we need to build out a process to the current work arounds.

[2019-10-15 16:14] peggygannon commented on #2332
@lichellebain Please see my content review edits below.

1. No changes to the checkbox copy ("Send me text message reminders....," as I had reviewed this content earlier).

2. Please update in-line mobile phone message to the below:
We’re saving your new mobile phone number. We’ll show it here once it’s been updated.  

[2019-10-15 16:19] sporeboy commented on #2016
Began baselining functionality. MD available here:

https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/teams/vsa/teams/ebenefits/design/dependents

[2019-10-15 16:23] omgitsbillryan opened #2456 "Change Display Name for Vets-API PR Jobs"
### The Problem
Since switching to "Pull Request Jenkins Discovery", the jobs in jenkins are listed by their pull request ID like so:
![image](https://user-images.githubusercontent.com/3077884/66850035-fb55d900-ef45-11e9-9e33-b4b061e773fe.png)

It can be difficult for developers to quickly find their job.

### Proposed Solution
Modify the Jenkins display name for the job to include the branch name

[2019-10-15 16:31] kfrz opened #2457 "Investigate RVM issue with newly generate binstubs"
## Background

Binstubs are broken when using `bundler @1.17` on debian

##

[2019-10-15 16:34] tlei123 commented on #2290
@peterhill-oddball, just wanted to put this on your radar for developing whatever checklist(s) you’re planning for the QA Request template (unless this template here is exclusively for VSP)...

For front-end, manual, UI testing of va.gov on Staging, I think it's important to determine in advance the specific test-accounts for all user-flows/-scenarios.

The main challenge for me so far when preppi

[2019-10-15 16:35] jenstrickland commented on #1251
@peggygannon Here's the original ticket, and here's the Codepen with @1Copenut proposed improvement: https://codepen.io/tpierce_402/pen/PoYVKKa

[2019-10-15 16:39] Karak888 commented on #2451
Thanks @Samara-Strauss will have someone look into this today, and will follow-up with you.

:cc @jenniferlee-dsva

[2019-10-15 16:43] peterhill-oddball commented on #2008
I need to discuss the results of the evaluation with others.  Additionally, we need to address a few questions:
1.  What kind of budget do we have for this tool?
2.   Is a cloud or privately hosted tool preferred?
3.  How many users do we expect for this kind of tool?

[2019-10-15 16:45] YanaRoy opened #2458 "Clean up street address (line two) consistency"
@goldenmeanie commented on [Thu Dec 13 2018](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/15731)

## Story

There are a couple different ways that we label street addresses. We should just have one.

## Acceptance Criteria
- [ ] Addresses should have a built-in default treatment for labeling a second line
- [ ] We should coordinate with VA-DS

## Def of Done
- [ ] All AC

[2019-10-15 16:46] sporeboy commented on #2021
Created an initial mockup for discussion:

https://xd.adobe.com/view/852342af-36f7-41b6-7e04-29c9ca8b210e-f312/

[2019-10-15 16:55] amycesal commented on #1236
![Grey Sky copy](https://user-images.githubusercontent.com/1656046/66852474-aa90b100-ef42-11e9-9174-8b3bd02a2de2.png)

[2019-10-15 17:25] Kimberley2019 commented on #898
@YanaRoy  Thank you for the dates.  I will reach out to him today and hopefully receive an answer ASAP.  I will let you know what day works best for him.

[2019-10-15 17:28] jhonnyoddball opened #2459 "Access for Jhonny Gonzalez"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Add a comment @department-of-veterans-affairs/vsp-operations to ping the operations team
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please

[2019-10-15 17:29] jhonnyoddball commented on #2459
@department-of-veterans-affairs/vsp-operations Please proceed

[2019-10-15 17:36] Karak888 opened #2460 "Health Care Rewriting: Priority Groups"
@DanielleSoCompany commented on [Wed Feb 20 2019](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/17005)

## User story

As a Veteran, I want to understand what my priority group means and why I've been assigned to that priority group.

## What needs to be done

Create a new page within Health Care Eligibility that explains what priority groups are, and outlines the criteria

[2019-10-15 17:44] ricetj commented on #2459
@Jeff-Hayter
COR: Yourself
User: Jhonny Gonzalez

[2019-10-15 17:49] lkoenigsberg commented on #2442
@peggygannon , how would you feel about updating this text so that it just adds text preferences?  So something like "...your new mobile phone number and text preference..."

[2019-10-15 17:49] Jeff-Hayter commented on #2459
@ricetj Confirmed, please grant access.

[2019-10-15 17:50] lkoenigsberg commented on #2440
This will move to the Authenticated Experience board for consideration as we merge account and profile to a single page and redesign.

[2019-10-15 17:51] lkoenigsberg commented on #2435
This will move to the Authenticated Experience board for consideration as we merge account and profile to a single page and redesign. (cc/ @Justin-Pickett )

[2019-10-15 17:52] Karak888 commented on #2460
@RLHecht @mnorthuis I copied this from vets.gov repo for visibility @mnorthuis I left the copy on vets repo, didn't close it.  Let me know if that is bad practice and I will kill this one.  Again just doing for visibility on VA.gov repo, but let me know.  Thanks

[2019-10-15 17:53] lkoenigsberg commented on #2433
@elwoodva , this one I think we should do as part of the mobile text preference release.  Please let me know if the complexity is huge!

[2019-10-15 17:53] lkoenigsberg commented on #2430
This will move to the Authenticated Experience board for consideration as we merge account and profile to a single page and redesign. (cc/ @Justin-Pickett  )

[2019-10-15 17:53] mmiddaugh commented on #1694
This looks similar to the issue reported in https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/492

[2019-10-15 17:54] lkoenigsberg commented on #2429
This will move to the Authenticated Experience board for consideration as we merge account and profile to a single page and redesign. (cc/ @Justin-Pickett  )

[2019-10-15 17:54] clantosswett opened #2463 "Update Call Center Number on "Check Post 9/11 GI Bill Benefits" Page"
## What happened?
At the bottom of the statement of benefits page (https://www.va.gov/education/gi-bill/post-9-11/ch-33-benefit) we list a phone number where users can call to receive assistance. This phone number needs to be updated from an incorrect number to the education call center number.

## Specs:
- Device: NA
- Browser: NA

## Steps to Reproduce
- URL: https://www.va.gov/education/gi-bill

[2019-10-15 17:56] lkoenigsberg commented on #2427
This will move to the Authenticated Experience board for consideration as we merge account and profile to a single page and redesign. (cc/ @Justin-Pickett )

[2019-10-15 17:57] Karak888 commented on #2463
thanks @clantosswett will have it done as soon as possible!  @RLHecht can you please take a look at this one as well?  This was something that @lunascoop worked on, but assume fix needs to be made in Drupal?

[2019-10-15 18:00] YanaRoy commented on #1663
@AZSchneider Is this something we should move forward on?

[2019-10-15 18:00] Karak888 commented on #2449
Will keep this in backlog to discuss during grooming. Thanks @mnorthuis thanks @ncksllvn

:cc @jenniferlee-dsva

[2019-10-15 18:01] amyknox commented on #1627
Nedie - 107 updates for international branches & extensions are in staging now.

Functional permutation visible on this profile page (University of Florida in Panama): https://staging.va.gov/gi-bill-comparison-tool/profile/11816110

107 Question:  Where will you take the majority of your classes?

[2019-10-15 18:03] Samara-Strauss commented on #2428
Recommendation: Make this read only and require some to click the edit button to edit the field within the mobile phone modal.

[2019-10-15 18:05] Samara-Strauss commented on #2428
That, or update the copy with directions that meet accessibility needs.

[2019-10-15 18:09] AZSchneider commented on #1663
@YanaRoy It would be helpful to the veteran to be able to communicate what's happening and to be able to queue a submission. Yes, let's try to dig in to what options might exist

[2019-10-15 18:10] lunascoop commented on #2463
@Karak888 I don't recall working on this. I worked on #2163 and #2243 .

[2019-10-15 18:16] mnorthuis commented on #2449
This page: `/disability/about-disability-ratings/effective-date/`

Should be here: `/disability/effective-date/`

[2019-10-15 18:19] erikphansen commented on #2352
There's another error message we are seeing in the Sentry logs that is not given any special handling: `cnp.payment.routing.number.fraud.message`. Is there some better messaging that we can put in place for this error?

[2019-10-15 18:19] Karak888 commented on #2460
I fear that somehow I will lose track of something important (although doesn't seem to me that I could), but I just didn't want to mess up your system!  I will let you know when I copy/close one moving forward.  Thanks @mnorthuis

[2019-10-15 18:21] peggygannon commented on #2352
@Justin-Pickett @erikphansen Hello, please see suggested error messages below. Please let me know if these will work?

**We couldn't update your information**
We're sorry. We couldn't update your address. Please go back to [your profile](link) and try again. 

**We couldn't update your information**
We're sorry. We couldn't update your home phone number. Please go back to [your profile](link) and

[2019-10-15 18:23] erikphansen commented on #2352
@peggygannon sorry we didn't do the best job communicating the need. In these scenarios the user is trying to update their direct deposit/bank info. But the server rejects the change because some of their required contact info is missing or invalid. So the error should be more along the lines of "we couldn't update your direct deposit bank information because your phone number is missing..."

[2019-10-15 18:28] Karak888 commented on #2449
doh! Thanks @mnorthuis !!

[2019-10-15 18:37] Karak888 commented on #2451
@Samara-Strauss I spoke to @RLHecht and she said she will take a look this afternoon.  thanks both!

[2019-10-15 18:41] #2315 closed

[2019-10-15 18:42] peggygannon commented on #2442
Hi, @lkoenigsberg thank you. I had provide an edit to this text in this issue, per (https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/2332)

And yes, we can add "text alert preference" to the message. So the update would now read:

We’re saving your mobile phone number and text alert preference. We’ll show them here once they've been u

[2019-10-15 18:43] peggygannon commented on #2332
@lichellebain please see additional update to this message, per request in https://github.com/department-of-veterans-affairs/va.gov-team/issues/2442

We’re saving your mobile phone number and text alert preference. We’ll show them here once they've been updated.

[2019-10-15 18:44] jenniferlee-dsva opened #2466 "Design workshop for tier 2 content design & IA"
## The goal/outcome of this 2-day design workshop is to come out with concepts for a first draft wireframe of IA, content design, and page template(s) for tier 2 content on VA.gov.

@rtwell @JeffBarnesUSDS  @lalexanderson-dsva @mnorthuis @kevwalsh @andrewlewandowski  Early scattered thoughts to get us brainstorming... Not in any order of importance:

1. Rethink/modify the "More resources" spoke to

[2019-10-15 18:46] jenniferlee-dsva commented on #2466
@Karak888 - this is happening next week, so I think it along with the epic can come out of ice box and into backlog. Thank you!

[2019-10-15 18:53] meganhkelley opened #2468 "Content & IA Support Sprint 11"

[2019-10-15 19:17] Mottie commented on #2138
It looks like the error message is there, but only if I edit the content of that confirmation page.

In this screenshot, I unchecked the second checkbox (gotten worse), and checked the new condition checkbox (user 228, on [this page](https://staging.va.gov/disability/file-disability-claim-form-21-526ez/review-and-submit)).

![](https://user-images.githubusercontent.com/136959/66861959-90140300-ef5

[2019-10-15 19:17] alexpappasoddball opened #2469 "Programmatically Create Endpoint to Product mapping (Distributed Tracing)"
## User Story or Problem Statement
As a developer, I need to understand the what products are hitting an endpoint so I can better troubleshoot issues

As a member of the analytics and insights team, I need to link products to their relevant endpoints so I can show application teams that data on the Grey Sky tool.

## Goal
Have a always up to date list, that is programmatically generated that shows

[2019-10-15 19:24] RLHecht commented on #2451
I am having trouble finding where this page lies to update it. It's not in Drupal yet (no date at the bottom of the page) and I can't locate it in the root pages or in Records in Github.  @ncksllvn or @kelsonic would you guys know where I could find this? cc @jenniferlee-dsva

[2019-10-15 19:27] #2459 closed

[2019-10-15 19:31] ncksllvn commented on #2451
Hm, I thought that the Discharge Upgrade application was a root-level page but still considered part of the Records hub. That's how the MegaMenu represents it -

![image](https://user-images.githubusercontent.com/1915775/66863328-c30fc400-ef60-11e9-89c3-e7a8d942d88b.png)

That said, I'd have to figure out whether this sidebar is from Drupal or vagov-content to remove it. Should I do that?

[2019-10-15 19:38] mnorthuis commented on #2332
@lichellebain FYI, No IA review is required for this work since it is just content being added to an existing page.

[2019-10-15 19:40] batemapf commented on #2311
yeah i've been handling slack removals as part of the [contractor offboarding process](https://github.com/department-of-veterans-affairs/vets.gov-team/blob/4c04bcfab1ac4d8f551df4fd47a5e363db715ccc/Administrative/Onboarding%20and%20Offboarding/ContractorOffboarding.md). @JQuaggles what doc were you following that resulted in this request? i'll take a look at it and try to rectify the two.

[2019-10-15 19:49] RLHecht commented on #2463
@ncksllvn Here's another one where I can't find where this page lies. I don't see it in Education on Github and it's not in Drupal. If you steer me in the right direction I can make these changes. There are some style guide fixes that need to be done too (no vanity numbers and no periods after links).

[2019-10-15 19:55] jason-gcio opened #2470 "Design Intent Review of "View Dependents""
## Goal
Present "View Dependents" screen layout to Design community.

## Task
- [x] Schedule time with **Shawna, Jennifer Strickland, **and** Emily W.** for review and feedback of  latest mockup for the "View Dependents."
- [x] Gather and incorporate feedback to ensure consistent application of design system components. Troubleshoot potential design/development related issues.
- [x] Communicate co

[2019-10-15 19:57] peterhill-oddball commented on #2290
@tlei123 , that's great feedback / input.  However, the intention for the template described in this ticket is to create a unified way for VFS teams to track issues encountered as a result of QA activities such as defects, enhancement requests, usability issues, security vulnerabilities, etc.

That said, everything that you've described is important, and it is something that I want to deal with as

[2019-10-15 19:59] jason-gcio opened #2471 "Update Mockup for View Dependents for Usability Study"
## Story
As a designer, I want to prepare my mockups for the View Dependents portion of the Usability Study so that I can clearly and more accurately gain insight as to its efficacy.

## Tasks
- Update mockups for the walkthrough with real content
- Prototype to match Conversation Guide

## Acceptance Criteria
- [x] The View Dependents mockup has been updated
- [x] Submit content to Peggy for revi

[2019-10-15 20:01] jason-gcio opened #2472 "Create Conversation Guide (View Dependents)"
### Story
As a design researcher, I want to create a consistent conversation guide that encompasses the guidance of approved methods and all the components for the users I will be communicating with.

### Task
- Document a conversation guide to include ([previous](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/ebenefits/research/discovery-conversation-gui

[2019-10-15 20:03] jason-gcio opened #2473 "Create Research Plan (Rated Disabilities & View Dependents)"
## Story
As a design researcher, I want to create a consistent plan that encompasses the guidance of approved methods and all the components for the item I am researching.

## Goal
To validate my hypothesis and ensure that I am applying user centered designs before engineers start to build.

## Considerations
- Baseline functionality
- Incorporate info from users already obtained
- Walkthrough of

[2019-10-15 20:05] jason-gcio opened #2474 "Iterate on Feedback Received from Shawna (View Dependents)"
## Tasks
- Based on user feedback, adjust mockups

## Acceptance Criteria
- [x] Incorporate feedback from Shawna on "View Dependents"

### Next Steps
- Design Review

[2019-10-15 20:15] ElijahLynn commented on #1258
Thanks everyone!

[2019-10-15 20:22] pjhill opened #2475 "Create a system for cataloging and recording staging test user information"
VFS teams looking to utilize test users in staging to test their products need to understand what kind of services the user is authorized for and what kind of data is mapped to the user.  A piece of documentation in the form of a table or perhaps a custom tool describing the characteristics of the test accounts in great detail would be very useful.  VFS teams would find the following information u

[2019-10-15 20:25] peterhill-oddball commented on #2475
@tlei123 , Per our discussion on the other ticket, I've created this ticket for creating/enhancing the staging test user documentation.  If you have any input about what this should look like, or if you have any ideas about how to accomplish this then let's discuss that here!

[2019-10-15 20:40] johnpaulashenfelter commented on #1868
![Contributors - Code Climate 2019-10-14 14-51-17.png](https://images.zenhubusercontent.com/5453b9977c6ccc6277a5d25b/c8af467d-edba-4244-a0ec-cd17f4cb90c7)![Workflow - Code Climate 2019-10-15 16-21-52.png](https://images.zenhubusercontent.com/5453b9977c6ccc6277a5d25b/54c983fc-e4c0-458f-b254-90d7fe13f249)![Decrease pull request time to review - Code Climate 2019-10-15 16-20-42.png](https://images.ze

[2019-10-15 20:40] johnpaulashenfelter commented on #1868
![Targets - Code Climate 2019-10-15 16-20-04.png](https://images.zenhubusercontent.com/5453b9977c6ccc6277a5d25b/ae4a49f2-6c2d-480c-8f4a-b4ff233a0ddd)

[2019-10-15 21:12] johnpaulashenfelter commented on #507
Done.

i also updated the onboarding PR section a bit https://docs.google.com/presentation/d/1qewAANeGvQSTfXK4m40lO2N0-S9IaCfl7JlZY_0EI6A/edit#slide=id.g5ce90f7698_0_94

[2019-10-15 21:16] andaleliz commented on #2405
@arickalewis1 just an FYI for you so you have visibility to this issue. My understanding is the Global UX team will tackle for now but would love to hear any thoughts you want to share

[2019-10-15 21:40] meganhkelley opened #2476 "Draft guidance for VSP and VFS teams on Git LFS usage"

[2019-10-15 21:46] rianfowler opened #2477 "Add Consumer Driven Contract testing to HCA application"
# overview

We need a good representation of CDC testing to vet the approach before recommending it to external teams. Add a full CDC test to HCA. See https://github.com/department-of-veterans-affairs/va.gov-team/issues/1005

[2019-10-15 21:51] JQuaggles commented on #2311
@batemapf Probably been updated and was following an older process. Also probably assumed that since slack items were all going through github that removal did as well.

[2019-10-15 21:51] #2311 closed

[2019-10-15 22:01] rianfowler opened #2478 "Add HCA readme"
# Overview

- summarize what the application does in the team repo
- summarize an overview of the application in an app readme
  - architecture, tools used, how to run it, tests, etc

[2019-10-15 22:08] jason-gcio opened #2479 "Load Testing Rated Disabilities"
## Story
As a frontend engineer, I want to be able to test this page to ensure it will not go down under heavy traffic.

## Considerations
- Docs for load testing [here](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/quality-assurance/auth-session-loadtest.md)
- VSP QA: Peter Hill (peter.hill@oddball.io)
- VSA QA (for manual, front-end UI testing on Staging): Tz

[2019-10-15 22:10] joanneesteban opened #2480 "Add Call Center Data to Local Site for Product Health Tool"
## User Story or Problem Statement
How might we design an interactive MVP of the product health tool with the Insights Grey Sky design?

## Goal
Make the paper Grey Sky Product Health Tool mockup into an interactive site with Call Center data.

## Objectives or Key Results this is meant to further
Implement second iteration of Product Health tool by Q1 2020

## Acceptance Criteria
- [x] Amy provid

[2019-10-15 22:10] joanneesteban commented on #2180
Thanks @deweydell! I'm removing the Call Center data from this issue and branching it off to a separate issue (https://github.com/department-of-veterans-affairs/va.gov-team/issues/2480)

[2019-10-15 22:12] jason-gcio opened #2481 "Verify Rated Disabilities is Code Complete on Staging"
## Tasks
- Investigate the process in getting pages deployed into staging
- Review checklist (/ebenefits/launch-playbook/checklist.md)
- Review [deployment procedures](https://department-of-veterans-affairs.github.io/veteran-facing-services-tools/getting-started/workflow/deploy/)

## Acceptance Criteria
After staging:
- [ ] Verify that all components for Rated Disabilities are code complete
  - [

[2019-10-15 22:15] joanneesteban commented on #2209
Team KPIs have been set during workshop on [this Google Doc](https://docs.google.com/spreadsheets/d/1Kv91DobU2sl1Y-vzicfIDZg8MtiX254tcYPiwU6VkWA/edit#gid=1554481611).

We need to internally complete the equations, gaps, dependencies, baselines, and goals, which will run into Sprint 11.

Thanks @rroueche for hosting!

[2019-10-15 22:17] rianfowler opened #2482 "Maybe refactor HCA form config to use pattern in 0994"
# Overview

The way the 0994 education form config is organized provides a better way to manage large form configs.  Do an RFC on this organization approach to weigh the pros and cons. If there is consensus on the approach, refactor the HCA app's config to match the approach in 0994

# Notes

- There might be better ways to configure forms- maybe capture this feedback for consideration as part of

[2019-10-15 22:23] joanneesteban commented on #2184
[Triage Issue](https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/2469)

Triage is working on a more granular dynamic endpoint mapping that Insights may be able to call.

[2019-10-15 22:29] Justin-Pickett opened #2483 "[ Discovery] Vet360 - Person and Contact Information Split - Update Request"
## Background
Back in August, we split our person and contact information endpoints apart to set the stage for our expansion into additional data domains in the future. Vets360 team are requesting that we start planning an update to use the new endpoint/points before June 2020.  We will work with you to submit any necessary change requests to accomplish this transition in the near future.

* Conta

[2019-10-15 22:32] joanneesteban opened #2484 "Synthesize Grey Sky User Research"
## User Story or Problem Statement
How might we synthesize our user research findings to inform our next round of adjustments for the Grey Sky Product Health Tool?

## Goal
Synthesize our user research findings to validate assumptions and re-evaluate our hypotheses to adjust the interactive Product Health Tool.

## Objectives or Key Results this is meant to further
- Launch Grey Sky Product Health

[2019-10-15 22:36] joanneesteban opened #2485 "Analytics Reporting Request for Chris J"
# Metrics Reporting Request

## What this form is for

Use this template to request performance, usability, or outcomes va.gov metrics that is difficult to access or that needs analytics interpretation.

Insights will usually provide data reports within the current sprint, but if there is time-sensitivity, please note them in "additional comments."

## Instructions

Please fill out the following s

[2019-10-15 22:36] joanneesteban commented on #2485
Data sent Monday, Oct 14 via Slack:
[Va.gov October Historical - Digital Modernization Council.xlsx](https://github.com/department-of-veterans-affairs/va.gov-team/files/3731716/Va.gov.October.Historical.-.Digital.Modernization.Council.xlsx)
[Vets.gov_Va.gov Historical Data - October 2019.pdf](https://github.com/department-of-veterans-affairs/va.gov-team/files/3731717/Vets.gov_Va.gov.Historical.Dat

[2019-10-15 22:36] #2485 closed

[2019-10-15 22:38] jason-gcio commented on #2375
Thanks @Karak888.  We will keep an eye out on this and we will chat a little further down the road.

[2019-10-15 22:40] joanneesteban opened #2486 "Report VA.gov metrics after one-year VA.gov relaunch mark"
## User Story or Problem Statement
How might we report VA.gov metrics after November 2019 so that the insights are still useful after the one-year VA.gov relaunch mark?

## Goal
Propose iteration of our weekly and monthly vets.gov vs. VA.gov metrics reporting for after the one-year VA.gov relaunch mark.

## Objectives or Key Results this is meant to further
- Support
- Data

## Acceptance Criteria

[2019-10-15 22:43] jason-gcio opened #2487 "Receive Data from `FindRatingInfoService`"
## Story
As a Veteran using Rated Disabilities, I need to see the real data coming from within the VA to inform me of my status.

## Notes
- This will replace the dummy data with real data

## Tasks
- Change the redux code so it uses the number from `FindRatingInfo`
- Update the endpoint the redux action is using and potentially update how errors are handled
- Check unit test still passes

## Acce

[2019-10-15 22:51] jason-gcio opened #2488 "Endpoint Testing for Total Combined Disability Rating"
## Goal
- Create a dummy API endpoint to test what comes from the EVSS api, ahead of the actual data coming from EVSS

## Tasks
- Create `/TotalRating` endpoint
- Test that endpoint

## Acceptance Criteria
- [x] Frontend receives dummy data (not from EVSS)

[2019-10-15 22:59] jason-gcio opened #2489 "Investigate Location and Naming Convention for TCDR"
## Story
As a backend engineer, I want to ensure that any new service that there is a structure to the directory in the repo and controls go in the right area of the repo.

## Considerations
- Follow the correct naming convention
- Communicate with someone (JP?) about more on this

## Acceptance Criteria
- [x] The correct directory is being used for a new service.

[2019-10-15 23:10] tlei123 commented on #2475
@peterhill-oddball , thanks much for creating this & including me!  I should have some time later this week or early next to provide input here, but feel free to ping me on Slack if you want to chat more before then.

[2019-10-15 23:45] peggygannon commented on #2352
@Justin-Pickett @erikphansen OK, updated messages below. Please let me know if these will work?

**We couldn't update your bank information**
We're sorry. We couldn't update your direct deposit bank information because your phone number is missing or invalid. Please go back to [your profile](link) and fill in this required information.

**We couldn't update your bank information**
We're sorry. We

[2019-10-15 23:47] nedierecel commented on #1627
Thanks @amyknox Confirming I received this and will QA.

[2019-10-16 12:06] peterhill-oddball commented on #2008
Preliminary evaluation of software is complete.

[2019-10-16 12:06] #2008 closed

[2019-10-16 13:48] Karak888 commented on #2278
Hi @kelsonic, just wondering who was doing the QA review and what status of that was?  Thanks!

[2019-10-16 13:51] ricetj commented on #1905
done

[2019-10-16 13:51] #1905 closed

[2019-10-16 13:52] Samara-Strauss commented on #2451
Yes please!

@ncksllvn yes, you are correct that the Discharge Upgrade application IS a root-level page, and while we do link to it from the Records hub, @mnorthuis said this page shouldn't have the side nav because it's not a *child* of the Records hub.

Let me know if you have any other questions!

[2019-10-16 13:53] Karak888 opened #2491 "Health Care Rewriting: VADIP"
@DanielleSoCompany commented on [Wed Feb 20 2019](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/17004)

## User story

As a Veteran, I want to understand how to access dental insurance through VA if I don't qualify for free dental care.

## What needs to be done

- [x] Finalize IA recommendations @mnorthuis @DanielleSoCompany
- [x] First draft: Rewrite VADIP (https://www.v

[2019-10-16 13:54] ricetj opened #2493 "Discover What needs to be done around mapping."

[2019-10-16 13:57] Karak888 commented on #2451
@RLHecht is this something you can do or is left nav in Drupal that needs to be done?  Thanks!

[2019-10-16 13:57] ricetj commented on #1959
Done

[2019-10-16 13:57] #1959 closed

[2019-10-16 14:00] #2135 closed

[2019-10-16 14:02] ricetj opened #2495 "Operations VFS Support - Sprint 11"

[2019-10-16 14:03] ricetj commented on #2395
submitted

[2019-10-16 14:03] #2395 closed

[2019-10-16 14:08] ricetj opened #2496 "Conduct WASA Scans"

[2019-10-16 14:08] ricetj opened #2497 "Conduct NESSUS scans"
- [ ] Let's get Taylor to request access.

[2019-10-16 14:08] ricetj opened #2498 "Process for staying up to date on our scans."

[2019-10-16 14:09] ricetj opened #2499 "Conducting our ATO requirements."
As an Ops team, we need to perform certain tasks in order to make sure our platform is compliant under our ATO and other federal regulations.

[2019-10-16 14:13] ricetj opened #2500 "Maintaining platform compliant"

[2019-10-16 14:30] ricetj opened #2501 "Discovery around tightening Jenkins access for new users."
right now, if we give users access to Jenkins they have full access. Is there a way we can tighten our access, so that when people do have access they don't have the keys to the kingdom right out the gate?

[2019-10-16 14:31] ricetj opened #2502 "Discovery: Looking into ways to quicken giving access without Security risks."
Right now, there is a bit of a wait for new Dev to gain access due and once they do get access they seem to have access to a lot. This epic is to look into other ways we can tighten access or break it down more.

[2019-10-16 14:34] ricetj opened #2503 "Discovery efforts to improve platform access management"

[2019-10-16 14:41] LindseySaari opened #2504 "RFC for call center issue reporting automation"
## User Story or Problem Statement
As a vets-api engineer, I need to further investigate and discover automation solutions for reporting call center issues from IRIS and Salesforce

## Goal
When reported issues from Salesforce, IRIS, etc are in need of further triaging, additional steps are required to report the data. The goal is to further automate the reporting process to avoid tedious and leng

[2019-10-16 14:53] markgreenburg commented on #1577
@rtwell @goldenmeanie looking at this mock, I'm pretty sure it's old. Could we get updated mocks for the different versions of the confirmation page? Think we need all three variants:
- [ ] Direct schedule confirmation
- [ ] VA request confirmation
- [ ] CC confirmation

[2019-10-16 14:56] annaswims opened #2505 "Ongoing VFS teams Support - Sprint 11"

[2019-10-16 14:56] thatmattjohnson commented on #2476
kickoff conversation with content/IA and product support team members scheduled for Thu 10/17

[2019-10-16 15:07] RLHecht commented on #2451
@Karak888 I think I need help with this. I don't see the info in the menu that's in Drupal.

[2019-10-16 15:18] #1593 closed

[2019-10-16 15:18] joanneesteban opened #2506 "Backend Analytics Requests"
## User Story or Problem Statement
How might we _____________ ?

## Goal
_What outcome(s) do we want to see?_

## Objectives or Key Results this is meant to further
- _lorem ipsum_

## Acceptance Criteria
- [ ] Define the metrics that we are requested that are exist in the backend and not in GA

## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] *

[2019-10-16 15:26] markgreenburg commented on #1577
@rtwell @goldenmeanie also would be good to get the 'print' button into the page mocks, per usability.

[2019-10-16 15:40] #989 closed

[2019-10-16 15:42] #1833 closed

[2019-10-16 15:42] markgreenburg commented on #1833
Proposal is to simply allow veterans to send a message to schedulers for MVP.

[2019-10-16 15:48] jenniferlee-dsva commented on #2451
This is another of those funny Drupal business with menu structure - per this Slack explanation from Kevin Walsh: https://dsva.slack.com/archives/CDHBKAL9W/p1570728600006000?thread_ts=1570719676.005300&cid=CDHBKAL9W

Basically, when we cross-link to a page (whether in another hub or in this case, at the root level), we have to make sure that the link is not showing up under that parent hub menu. O

[2019-10-16 15:52] jenniferlee-dsva commented on #2451
p.s. @RLHecht - this page isn't in Drupal. There were a few root pages that we deliberately did not migrate into Drupal. This appears to be one of them, but I'd have to check.

[2019-10-16 16:00] wyattwalter opened #2507 "remove client-side redirects in vets-website"
While doing some discovery for other redirect related work, I learned that there was still a client-side redirect implementation in vets-website that can conflict (but gets overridden by) the server-side redirects we have in place. I believe this was introduced during the vets.gov transition, but not cleaned up because the matching by default on the server-side rules was based on a prefix and it w

[2019-10-16 16:01] markgreenburg opened #2508 "Build messaging into request flow"
As a veteran, I want to be able to message my scheduler when I request an appointment so that I can tell them more context about my situation, which will get me connected to the right care that I need as fast as possible.

[2019-10-16 16:02] erikphansen commented on #1296
probably. will need a new ticket for another change when we roll this out to 100% of users

[2019-10-16 16:06] nedierecel commented on #1627
@amyknox Do you also have a facility that has the extension available?

QA Findings:
- For this facility, when I entered in my location in the zip, I did not see this expected event after the results appeared `gibctZipCodeExtensionSearch`

_Zip Code Search_
![image.png](https://images.zenhubusercontent.com/5b295b9ff378ea1890b3d77e/eccb3e83-cc39-449b-a3d4-6395f9250dfa)

[2019-10-16 16:07] Justin-Pickett commented on #2351
Content page has been updated and live with correct information. Closing this ticket.

[2019-10-16 16:07] #2351 closed

[2019-10-16 16:09] Justin-Pickett commented on #1735
@lihanli any updates regarding this ticket?

[2019-10-16 16:09] Justin-Pickett commented on #2115
@lihanli any updates regarding this ticket?

[2019-10-16 16:13] Justin-Pickett opened #2509 "Direct Deposit - Ramp up user percentage to 50% w/ feature toggle"
- [x] Ramp up feature flag toggle user percentage for Direct Deposit feature to 50% of users.

[2019-10-16 16:16] Samara-Strauss commented on #1296
Great, I'll create a ticket.

[2019-10-16 16:16] #1296 closed

[2019-10-16 16:40] jenniferlee-dsva commented on #2098
Per this note from Beth's old ticket - live Edu pages have been okayed and communicated to Edu stakeholders: https://github.com/department-of-veterans-affairs/vets.gov-team/issues/15111#issuecomment-467600261

[2019-10-16 16:46] ndsprinkle commented on #1963
@tskinn When are these keys going to be authorized? I also have this PR created to get them added to the devops repo: https://github.com/department-of-veterans-affairs/devops/pull/5708

[2019-10-16 16:56] Karak888 commented on #2098
@AnneHurley and @RLHecht will make recommendatins in the ticket and then Randi and Anne will get them into Drupal.  Once that is done, @AnneHurley will send sMEs a heads-up to review these small edits.

[2019-10-16 17:05] Karak888 commented on #2252
closing this out and will create a new ticket when we are ready to do redirect work.

[2019-10-16 17:05] #2252 closed

[2019-10-16 17:11] thatmattjohnson opened #2510 "Legacy content migration: Personalization"
As a VSP documentation owner I need to copy select legacy documentation to the va.gov-team repo in order for VFS and VSP teams to have ready access to the most relevant legacy assets.

High level procedure:
-- identify content for migration and its destination within va.gov-team
-- copy selected content to the relevant area of va.gov-team (scripting)
-- add deprecation messaging to copied content

[2019-10-16 17:15] thatmattjohnson commented on #2510
Review of subset of Identity content (Personalization) completed; need signoff from content owner (Lisa K.) before proceeding. Review session rescheduled from Wed 10/16 to Fri 10/18.  Review of remainder of Identity content not yet started.

[2019-10-16 17:16] Samara-Strauss opened #2511 "[Copy] Direct deposit: Remove beta copy from content page when we go 100% live"
**Blocked until direct deposit goes live to 100% of VA.gov users**

### Definition of done

- [ ] Remove beta copy on the direct deposit content page (https://www.va.gov/change-direct-deposit/) when the direct deposit feature goes live to 100% of customers.

<img width="674" alt="Direct deposit remove beta copy" src="https://user-images.githubusercontent.com/34068740/66942390-fdd43380-f016-11e9-88

[2019-10-16 17:16] Karak888 commented on #1729
@RLHecht here are the list of URLs

[2019-10-16 17:16] Samara-Strauss commented on #2511
Cc/ @Justin-Pickett @lkoenigsberg @erikphansen for awareness

[2019-10-16 17:17] Samara-Strauss commented on #1296
Created ticket to remove beta copy when we go live to 100% of users in #2511

[2019-10-16 17:17] thatmattjohnson opened #2512 "Legacy content migration: Health care products"
As a VSP documentation owner I need to copy select legacy documentation to the va.gov-team repo in order for VFS and VSP teams to have ready access to the most relevant legacy assets.

High level procedure:
-- identify content for migration and its destination within va.gov-team
-- copy selected content to the relevant area of va.gov-team (scripting)
-- add deprecation messaging to copied content

[2019-10-16 17:20] thatmattjohnson commented on #2512
Health care product content owned by Lauren A. includes: Blue Button, Health Application, Rx Refills, Scheduling, Secure Messaging, Urgent Care, View Appointments.  Review session scheduled from Thu 10/10 to Wed 10/16.

[2019-10-16 17:21] Karak888 commented on #1507
conversation has been had - to see if Cosmos DB. Wait and see to see when their new changes do improve things.  Create a new ticket to pick up to assess search speed in some weeks.
@Karak888 @jenniferlee-dsva

[2019-10-16 17:21] #1507 closed

[2019-10-16 17:21] jenniferlee-dsva commented on #1727
@Randi - please see word doc attached above.

[2019-10-16 17:24] Karak888 commented on #2244
need access for feature landing page or area where people can click into this feature.  @mnorthuis @jenniferlee-dsva  meet to assess where and how this feature can be accessed from unauthenticated site.

[2019-10-16 17:30] ricetj commented on #2498
Some of this is in the ATO repo.

[2019-10-16 17:31] Karak888 commented on #1510
@lwalsh work is finishing up with #1510, when this is done can we move #2051 redirect work to the ready column? @mnorthuis

[2019-10-16 17:34] ricetj commented on #2166
We need the team to match the logical way we want it to work.

[2019-10-16 17:34] Karak888 commented on #2375
closing this as we did engage, but commented in other ticket. @mnorthuis @jenniferlee-dsva @Karak888  to connect on how we are going to do this.

[2019-10-16 17:34] #2375 closed

[2019-10-16 17:38] erikphansen commented on #2352
Here are some examples of the new errors in place:

<img width="429" alt="Screen Shot 2019-10-16 at 10 35 29 AM" src="https://user-images.githubusercontent.com/20728956/66943916-f4d86780-f000-11e9-9bed-cb5a3aa6eaa9.png">
<img width="442" alt="Screen Shot 2019-10-16 at 10 34 46 AM" src="https://user-images.githubusercontent.com/20728956/66943917-f4d86780-f000-11e9-9f6e-c91897d831a6.png">

I tweaked

[2019-10-16 17:38] Karak888 commented on #2466
work on this will not begin until 10/21

[2019-10-16 17:38] nedierecel commented on #2330
Reshifting to backlog since it is dependent on the Discovery portion.

[2019-10-16 17:40] #313 closed

[2019-10-16 17:43] ricetj opened #2513 "vets-api deployments on docker"
As a step towards de-coupling the apps from infra and to support further Ruby upgrades, we need to switch the build/deployments to use docker images.  This will allow the dev team to control the ruby and runtime env at their own pace and process.

- [x] using current ruby version, rework the Dockerfile in vets-api to better use layer caching and change the entrypoint so we can start both sidekiq a

[2019-10-16 17:43] Karak888 commented on #1961
@ncksllvn @jenniferlee-dsva will be meeting with client tomorrow , and didn't know if getting this to be ready by then?   If no that's fine, please just let us know! thanks!

[2019-10-16 17:45] Karak888 commented on #1727
@RLHecht will update in Drupal and work with Nick/ @kelsonic

[2019-10-16 17:47] mojaray2k commented on #705
@1Copenut How am I supposed to reproduce this issue? I don't have a windows machine. And that screen reader only has a windows version https://www.nvaccess.org/download/

[2019-10-16 17:49] kelsonic commented on #2278
@Karak888 Nick has reviewed the [current PR](https://github.com/department-of-veterans-affairs/vets-website/pull/10881) and all comments have been addressed. That said, there's still a few blockers I need to update:

1. bug when switching pages since the raw data we get is incorrect (some items are expanded when they shouldn't be)
2. unit tests
3. standardize the styling
4. the design didn't speci

[2019-10-16 17:52] Karak888 commented on #1878
@Karak888 to create a ticket to do audit benefit hub URL that need to be moved up a level to (3 OR 4, @jenniferlee-dsva to find out from Andy)

[2019-10-16 17:53] #507 closed

[2019-10-16 17:53] peggygannon commented on #2352
thanks, @erikphansen the updates look good. Let me know when you have more information about the other two error codes.

[2019-10-16 17:53] erikphansen commented on #705
@mojaray2k looks like you can replicate it using VoiceOver in Safari based on Trevor's previous comment. Did you give that a shot?

[2019-10-16 17:53] #1910 closed

[2019-10-16 17:54] #1907 closed

[2019-10-16 17:54] #1855 closed

[2019-10-16 17:54] #1570 closed

[2019-10-16 17:54] ricetj opened #2514 "Look into Jenkins fails"
Take some time to look into why these issues are happening ie a few hours and then spend a few more into fixing the issues.

[2019-10-16 17:55] #1794 closed

[2019-10-16 17:55] mojaray2k commented on #705
@erikphansen Will do that thank you.

[2019-10-16 17:55] Karak888 commented on #2460
this was validated and completed.

[2019-10-16 17:55] #2460 closed

[2019-10-16 17:56] Karak888 commented on #2394
@jenniferlee-dsva will review.

[2019-10-16 18:08] andreahewitt-odd opened #2515 "Refine in-person research guidelines"
As a researcher on a VFS team, I want guidelines for how to conduct in-person research to make sure I'm compliant with the DSVA research guidelines

AC
- [x] Write in-person research guidelines
- [x] distribute the guidelines

[2019-10-16 18:11] Justin-Pickett commented on #1735
will close this ticket. it is covered in ticket 2115.

[2019-10-16 18:11] #1735 closed

[2019-10-16 18:12] andreahewitt-odd opened #2516 "Create ROE for VFS teams engaging with VSP design"
As a VFS team, I want to know the correct way to engage with the VSP design team so that I can correctly solicit their help.

AC:
- [x] Write ROE
- [ ] Publish ROE
- [ ] Distribute ROE

[2019-10-16 18:23] Karak888 commented on #2278
thank you @kelsonic!  we miss you already!

[2019-10-16 18:25] rtwell commented on #1495
here's my initial pass at this—but it needs some content attention from @peggygannon

![image.png](https://images.zenhubusercontent.com/5568d4774f7a08fbb7f30688/280ede86-282d-476c-8108-28c3608055a5)

[2019-10-16 18:29] erikphansen commented on #1740
moving back to In Progress as I should handle the issue I mentioned in this comment https://github.com/department-of-veterans-affairs/va.gov-team/issues/1740#issuecomment-541161987

[2019-10-16 18:48] ricetj opened #2517 "Make an on-boarding flow/ issue to make it easier for new people coming on."
This came up in a retro meeting.
Make onboarding issue template, ie list of things to go throw, ie flow of what to order to look into things.

idea: make a checklist for them to go through
idea: also ask for ideas from new people ie tell them to make notes where improvements can be made.

[2019-10-16 18:59] ricetj opened #2518 "Clean up the DevOps Repo"

[2019-10-16 19:07] ricetj opened #2519 "Discovery: Terraform fmt, plan, and apply"
@jbritt1 please fill in with more detail.

[2019-10-16 19:12] rtwell commented on #1881
https://vsateams.invisionapp.com/share/USU2W52K37A

[2019-10-16 19:21] ricetj opened #2520 "Ansible walk through"
To give a few hours walkthrough for people not familiar with it.

[2019-10-16 19:26] rianfowler opened #2521 "Investigate using automated actions to require manual reviews in vets-website"
# Overview

- generally code owner reviewers do not return to pull review requests after they are approved
- it is possible that after receiving a code owner review for a contributor to push additional changes that may not pass manual review
- investigate using GitHub actions to trigger additional reviews when the `/platform` folder is changed after a pull request review has received a code owner

[2019-10-16 19:44] peggygannon commented on #2188
Onboarding meeting scheduled for Thursday 10/17.

[2019-10-16 19:45] Samara-Strauss commented on #2380
@jason-gcio wanted to update you on how things are going here for the rated disabilities work:

- I've been in regular contact with @sporeboy about his design and approach. This seems to be working well and I plan to stay in the loop on the rated disabilities designs as they progress.
- I had originally been thinking I would link to the rated disabilities page from the profile, but I have changed

[2019-10-16 19:46] rianfowler opened #2522 "Document / sunset Heroku usage"
# Overview

- Heroku instances are used for content edit reviews
- with the migration of the CMS to drupal, content editors should be using the the preview server / drupal to review content changes

# Tasks

- Evaluate the need for heroku instances (e.g. are people using them, what for)
- Determine a plan for sunsetting heroku build process / review instances

[2019-10-16 20:04] Mottie opened #2523 "Form review accordion expansion JS error"
## What happened?

While expanding select accordions on the `review-and-submit` in several forms. A JavaScript error breaks the page view.

![error](https://user-images.githubusercontent.com/136959/66953628-84434200-f024-11e9-9b39-88fba7acabf5.gif)

Screenshot is showing localhost, but it also occurs on staging.va.gov

## Specs:
- Device: Any
- Browser: Any
- Test User: 228

## Steps to Reproduce

[2019-10-16 20:06] Karak888 opened #2524 "**Cards**"
Cards can be added to your board to track the progress of issues and pull requests. You can also add note cards, like this one!

[2019-10-16 20:06] jbritt1 commented on #2416
I think I have done all that I can currently with this one after merging these. Taylor has agreed to help me with the applies, but for the Kinesis info I have from Boris it seems to require VA network access to accomplish the second half of this issue.

[2019-10-16 20:15] peggygannon opened #2525 "Consolidate CTA widgets Unauthenticated Appointments page"
## User story
Currently there are two widgets on the page and we need to consolidate them into a single "sign in to schedule or view a VA appointment online" message on the unauthenticated and authenticated pages.  We need to do this for VAOS ~full launch~ phased rollout (https://www.va.gov/health-care/schedule-view-va-appointments/)

I/A review captured in this ticket:
https://app.zenhub.com/work

[2019-10-16 20:21] wyattwalter commented on #2522
Note that review instances are also used by API devs as well, they contain both front- and back-end components together.

[2019-10-16 20:23] jbritt1 commented on #2519
### Placeholder, will work on this more tomorrow ###

# RFC: _title_

- Date: _YYYY-MM-DD_
- Related Issue: _git/zenhub issue if applicable_

## Background
_Explain the current state of the feature._

## Motivation
_Why do we want to change the current implementation? What problem(s) does the change solve?_

## Design
_Explain the proposed changes in enough detail so that a team member with workin

[2019-10-16 20:24] jbritt1 commented on #2519
@wyattwalter suggested perhaps using the RFC template which i can do here and then copy over to https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/platform/engineering/request-for-change once complete

[2019-10-16 20:25] amyknox commented on #1627
@nedierecel University of Minnesota has an extension dropdown
https://staging.va.gov/gi-bill-comparison-tool/profile/11802123

[2019-10-16 20:32] jenniferlee-dsva commented on #1961
Chris and I met with Aszure and team. They confirmed there are some data discrepancies between the Tri-West, Facility Locator, and PPMS location results.

Conclusion:
Do not remove Tri-West link or update messaging for now.

Next step:
- They're sending over the spreadsheet with examples of discrepancies.
- We'll need to take a closer look at the specific fields that aren't quite mapping and sugge

[2019-10-16 20:43] kevinstachura opened #2526 "[Discovery] Determine UX Issue on Burials and Memorials Pre-Form"
## Goal

Determine where to guide the user if they cannot complete a pre-need application.

## Acceptance Criteria

- [ ] Understand the process of submitting a pre-need application
- [ ] Determine what steps to take if user cannot complete a pre-need form

[2019-10-16 20:50] RLHecht commented on #2449
@mnorthuis For the left nav of this page, should it now reside under More Resources and in what order in there should it go?

[2019-10-16 20:50] kevinstachura commented on #2526
From Leah Bannon:

I think the main problem is that the user is trying to complete a pre-need application, and the error message is giving them the impression that they can still accomplish this task by calling a help desk. I think we may need a product/design person to weigh in on this -- what should the user be directed to do if they can't complete our pre-need form on VA.gov? Is there an altern

[2019-10-16 21:11] Mottie commented on #1805
This doesn't seem to be an issue anymore.

[2019-10-16 21:20] #1698 closed

[2019-10-16 21:37] 1Copenut opened #2528 "Update front-end testing guidelines to include accessibility testing"
We are required to have accessibility testing in our client-side apps, so this is a good place to add some bullet points about those expectations.

[2019-10-16 21:38] micahchiang opened #2529 "Update Application layout and RE-Implement Left Side Bar Navigation"
## User Story or Problem Statement

As a user, I want an accessible navigation bar, so I can easily navigate to different pages within the disability hub.

## Goal
To re-introduce the left navigational sidebar in the original eBenefits Rated Disabilities mockup.

## Considerations
- use `page-react-sidebar.html` to include the navigational sidebar.
- Update overall application layout to remove rig

[2019-10-16 22:04] markgreenburg opened #2530 "Real-time messaging & communication in VAOSR"
# Stakeholder input:
## High Level User Story / Problem / Opportunity
As a Veteran who uses VAOSR for scheduling, I want to be able to communicate directly with my provider about my appointments in VAOSR. I also want to be able to get real-time information about my appointments (such as reminders) inside of VAOSR.

## Goals / Outcomes
*Need to understand goals/outcomes for this*

##  Options for a

[2019-10-16 22:11] markgreenburg opened #2531 "Build `/requests/{requestId}/messages` GET endpoint"
As a backend developer, I want a vets-api endpoint that will pull messages sent to the scheduler so that the front end can show the message that was sent to the scheduler in an appointment request's details.

AC:
- [ ] Mock data from staging vaos services recorded to cassette
- [ ] `/requests/{requestId}/messages` endpoint supports `GET` method with staging data
- [ ] Tests, specs, and Swagger exi

[2019-10-16 22:24] #791 closed

[2019-10-16 22:57] peggygannon commented on #2230
@meganhkelley The downtime banner messages currently listed in ticket #2208 are consistent with our content styleguide (tone and voice). However, I would like to explore further if we can give users a more actionable step for some of them.

Some of the notifications ask users to "check back soon," but they don't provide a timeline to do so (should they check back within a day? 24-48 hours?).

Also

[2019-10-17 02:35] markgreenburg commented on #1016
Dupe of #2144

[2019-10-17 02:35] #1016 closed

[2019-10-17 02:57] markgreenburg commented on #1495
@narin do you think we have the data available to show what @rtwell is suggesting? If not, what can we show? For example, I know that we're deep linking to the VA Facility locator page on the appointments list.

[2019-10-17 03:00] markgreenburg commented on #1776
@goldenmeanie can you please add a mock for the UI that should show if a cancellation attempt fails for whatever reason? I'm thinking that there isn't really more helpful info that we could show in that case, so probably just need to do something along the lines of existing va.gov patterns?

[2019-10-17 03:10] markgreenburg commented on #1774
@goldenmeanie @rtwell these mocks probably need updating given that the content is filler and we're consolidating the pending & confirmed appointments into one list.

[2019-10-17 03:33] markgreenburg commented on #1648
@narin or @goldenmeanie do either of you know if this ticket is still needed? I actually think we could use the facility data in a few different places (e.g., if a veteran gets stuck, give him/her info about a given facility to call), but I'm not sure if this data is still necessary for the appointments list views. @goldenmeanie - could you please take a look at what's on the appointments list now

[2019-10-17 03:34] markgreenburg commented on #2127
@goldenmeanie @rtwell I think Jeff's contact info page mock is out of date - could y'all please provide the latest?

[2019-10-17 03:52] markgreenburg commented on #2444
@saneshark regardless, I think we'll want to schedule & complete a formal pre-launch ATO review on the va.gov side via this process: https://github.com/department-of-veterans-affairs/va.gov-vfs-teams/blob/master/Request-Reviews/request-ato-reviews.md

That might be good acceptance criteria for this ticket?

[2019-10-17 03:53] markgreenburg commented on #949
This is a dupe of several more strictly scoped tickets.

[2019-10-17 03:53] #949 closed

[2019-10-17 03:53] #950 closed

[2019-10-17 03:55] #2129 closed

[2019-10-17 03:57] markgreenburg commented on #1612
Closing - I don't think we'll need to address the third AC as we're not planning on giving fine-grained info about eligibility.

[2019-10-17 03:57] #1612 closed

[2019-10-17 09:13] lihanli opened #2532 "[Back-End] vet360 address validation endpoint"
create an api that allows the frontend to receive address suggestions using the vet360 address validation api

[2019-10-17 13:13] jbritt1 commented on #2501
@benniemosher I haven't done a deep dive into this yet, but a quick google search found something called "role-based authorization strategy plugin". I am unsure what it is, how it works, etc. at this time, but wanted to drop a note here.

[2019-10-17 13:17] jbritt1 commented on #2514
[code]

[2019-10-17 13:18] jbritt1 commented on #2514
[code]

[2019-10-17 13:18] jbritt1 commented on #2514
Failed to deploy revproxy to vagov-prod!
http://jenkins.vfs.va.gov/job/deploys/job/revproxy-vagov-prod/142/console

[2019-10-17 13:19] jbritt1 commented on #2514
[code]

[2019-10-17 13:20] jbritt1 commented on #2514
[code]

[2019-10-17 13:20] jbritt1 commented on #2514
[code]

[2019-10-17 13:20] jbritt1 commented on #2514
[code]

[2019-10-17 13:21] jbritt1 commented on #2514
[code]

[2019-10-17 13:21] jbritt1 commented on #2514
[code]

[2019-10-17 13:21] jbritt1 commented on #2514
[code]

[2019-10-17 13:22] jbritt1 commented on #2514
[code]

[2019-10-17 13:22] jbritt1 commented on #2514
[code]

[2019-10-17 13:23] jbritt1 commented on #2514
[code]

[2019-10-17 13:23] jbritt1 commented on #2514
[code]

[2019-10-17 13:29] jbritt1 commented on #2514
[code]

[2019-10-17 13:29] jbritt1 commented on #2514
[code]

[2019-10-17 13:30] jbritt1 commented on #2514
[code]

[2019-10-17 13:31] jbritt1 commented on #2514
[code]

[2019-10-17 13:31] jbritt1 commented on #2514
[code]

[2019-10-17 13:31] jbritt1 commented on #2514
[code]

[2019-10-17 13:32] jbritt1 commented on #2514
[code]

[2019-10-17 13:32] jbritt1 commented on #2514
[code]

[2019-10-17 13:32] jbritt1 commented on #2514
[code]

[2019-10-17 13:33] jbritt1 commented on #2514
[code]

[2019-10-17 13:33] jbritt1 commented on #2514
[code]

[2019-10-17 13:33] jbritt1 commented on #2514
[code]

[2019-10-17 13:33] jbritt1 commented on #2514
[code]

[2019-10-17 13:33] jbritt1 commented on #2514
[code]

[2019-10-17 13:34] jbritt1 commented on #2514
[code]

[2019-10-17 13:34] jbritt1 commented on #2514
[code]

[2019-10-17 13:35] jbritt1 commented on #2514
[code]

[2019-10-17 13:35] jbritt1 commented on #2514
[code]

[2019-10-17 13:35] jbritt1 commented on #2514
[code]

[2019-10-17 13:35] jbritt1 commented on #2514
[code]

[2019-10-17 13:36] jbritt1 commented on #2514
[code]

[2019-10-17 13:36] jbritt1 commented on #2514
[code]

[2019-10-17 13:36] jbritt1 commented on #2514
[code]

[2019-10-17 13:36] jbritt1 commented on #2514
[code]

[2019-10-17 13:37] jbritt1 commented on #2514
[code]

[2019-10-17 13:37] jbritt1 commented on #2514
[code]

[2019-10-17 13:37] jbritt1 commented on #2514
[code]

[2019-10-17 13:37] jbritt1 commented on #2514
[code]

[2019-10-17 13:37] jbritt1 commented on #2514
[code]

[2019-10-17 13:38] jbritt1 commented on #2514
[code]

[2019-10-17 13:38] jbritt1 commented on #2514
[code]

[2019-10-17 13:38] jbritt1 commented on #2514
[code]

[2019-10-17 13:39] jbritt1 commented on #2514
[code]

[2019-10-17 13:39] jbritt1 commented on #2514
[code]

[2019-10-17 13:40] jbritt1 commented on #2514
[code]

[2019-10-17 13:42] jbritt1 commented on #2514
##All Jenkins failures for the past week and a half (Sunday, October 6 - Present [Thursday, October 17@0941]).##

Plan is to investigate each of the above and search for patterns / work with teams to get as many of them resolved as possible during this sprint.

[2019-10-17 13:52] Mottie opened #2533 "[USABILITY]: Form error handling when users press Continue button should be reviewed"
## Issue

This issue was opened to address this issue across all forms. The content of this issue was copied from #1705 (closed) which was only specifically addressing form 526EZ.

The error handling when users press the `Continue` button was flagged by the VA 508 office during an audit. They said the expected behavior was to focus the first form field in error when users press Continue and one or

[2019-10-17 13:53] Mottie commented on #1705
Closed. See #2533 which broadens the scope of this issue.

[2019-10-17 13:53] #1705 closed

[2019-10-17 14:00] #1879 closed

[2019-10-17 14:07] jenniferlee-dsva commented on #2394
Looking now @andaleliz

[2019-10-17 14:11] amyknox commented on #1627
@nedierecel - Since you didn't see the event triggers, what happens now? Is remediation work for the analytics team, the Booz team or another team?

If the Booz team, do we need to create the story to outline that work or do you do that?

[2019-10-17 14:20] nedierecel commented on #1627
@amyknox Apologies for not being clear on next steps. The remediation would be back on the Booz team, using the dataLayer events provided in: https://github.com/department-of-veterans-affairs/vets.gov-team/issues/19642#issuecomment-537604711

We can then QA again to ensure that the events outlined here are triggering with the following form interactions:

- [x] How do you want to take classes?
- [

[2019-10-17 14:24] jenniferlee-dsva commented on #2280
@Karak888 - We can close this epic now. The nature of this work changed (simpler) and Liz's audit for [2394](https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/2394) completes this for our team. Sending over to Platform team and Jeff Barnes now for the FE engineering injection work. If any part of this comes back to us, we can reopen.

[2019-10-17 14:26] Karak888 commented on #2280
closing this Epic per note above.

[2019-10-17 14:26] #2280 closed

[2019-10-17 14:37] Jeff-Hayter commented on #1275
@ricetj @tskinn Confirmed, please grant access to both.

[2019-10-17 14:42] Justin-Pickett commented on #2509
This was completed on 10/16.

[2019-10-17 14:42] #2509 closed

[2019-10-17 14:49] markgreenburg commented on #1495
Chatting with Ryan & Alex - if we can't get facility info without adding another integration, we could do something along the lines of what we do in the appointments list where we use a deep link to facility locator instead.

[2019-10-17 14:57] Kimberley2019 commented on #898
@YanaRoy He emailed back and stated that 10/25 1-2 EST would be best for him.
Once I set up the meeting, I will send to you so that you can pass it along to the appropriate team members.

[2019-10-17 15:01] jonwehausen commented on #2182
@nedierecel I think so, users will at least know the file name by the Event Label in this case.

[2019-10-17 15:09] jonwehausen commented on #1846
@nedierecel @ethanteague @andrewlewandowski @jefflbrauer @joanneesteban

Moving this to Closed, as we have completed QA and published to live container. New data will begin flowing immediately to the production property.

Feel free to use this **[custom report template](https://analytics.google.com/analytics/web/template?uid=mNZF5wYgS_mukgRIrhd02A)** to monitor events throughout the prototype laun

[2019-10-17 15:09] #1846 closed

[2019-10-17 15:18] markgreenburg opened #2535 "Create mock for past appointments"
As a veteran, I want to see my past appointments so that I can find info about doctors and facilities that I've seen before.

![image (7)](https://user-images.githubusercontent.com/24251447/74287731-47e0d380-4cf0-11ea-8549-eafe0d1777bb.png)

## AC
- [ ] Mock exists for past appointments
- [ ] All past confirmed appointments should show regardless of whether the appointment was kept
- [ ] Missed ap

[2019-10-17 15:27] clantosswett commented on #929
@YanaRoy  it would be great to meet with you or others from the team to discuss this issue and issue 898 (https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/898).

We continue to get user reaching out about this problem (or continue to experience the problem) and some have been stuck for weeks or months. I'd like to get together to brai

[2019-10-17 15:37] mnorthuis commented on #2449
@RLHecht Yes, it should go under More Resources, and it should be the second option, so from the screen shot you sent me, just move it up one spot so it is after the "About disability ratings" info.  That puts the general "about" type content grouped together, then the actual rates, then other resources.

![image](https://user-images.githubusercontent.com/20994159/67024399-f91c8780-f0c9-11e9-83fd-

[2019-10-17 15:43] Justin-Pickett commented on #1688
@artistgreen has made the revisions for the candidate address design work per @peggygannon suggestions.

Next steps, @artistgreen  will complete the conversation guide and research plans.

[2019-10-17 15:43] jbritt1 commented on #2416
Tested with Craig yesterday morning on one of the envs. Flow logs were indeed being created and pushed to a log group in CloudWatch. This will still need assistance from someone with VA network access for the second half though.

[2019-10-17 15:45] RLHecht commented on #2449
Thanks @mnorthuis. This is now moved. Here's the screenshot:
<img width="316" alt="Screen Shot 2019-10-17 at 11 37 22 AM" src="https://user-images.githubusercontent.com/48728214/67025147-87e1d200-f0d3-11e9-807a-06ecdfc980dd.png">

I'll move this to validate and will check once it's live on the site. @Karak888

[2019-10-17 15:50] Justin-Pickett commented on #2326
@artistgreen has completed the research plan. Next steps, He will share this research plan with @lalexanderson-dsva  for her review and feedback.

After that,  He will update the Authenticated Exp Team on feedback received from Lauren.

[2019-10-17 15:54] Justin-Pickett commented on #2327
@artistgreen has completed the conversation guide. Next steps, he will share this with @Samara-Strauss and @lkoenigsberg for their review and feedback.

[2019-10-17 15:55] narin opened #2537 "Update Calendar UI Widget to Show AM/PM bubbles for Appointment Request"
## User Story
As a veteran, I need visual indications of my selections so I can have confidence in my appointment preferences.

Mockup coming soon.

## Acceptance Criteria
- [ ] Green bubbles with "AM" or "PM" inside should show on the date for each appointment/time  preference the user selects

[2019-10-17 16:04] narin commented on #2537
cc: @markgreenburg

[2019-10-17 16:07] Justin-Pickett commented on #1700
I tagged both @erikphansen and @mojaray2k on this work. Whoever has the bandwidth to pick this up when ready please update the ticket.

[2019-10-17 16:13] markgreenburg commented on #2144
Seems like dupe, already done.

[2019-10-17 16:13] #2144 closed

[2019-10-17 16:13] peggygannon commented on #1688
@artistgreen Updated screenshots look good. Just one more tweak; please be sure all the headers are sentence-cased. There is one screen above where Edit Mailing Address should be changed to:

Edit mailing address

cc @Justin-Pickett

[2019-10-17 16:31] #2167 closed

[2019-10-17 16:35] sporeboy commented on #2363
Meeting and review conducted 10/16. Feedback received and addressed in layouts presented during design review:

https://xd.adobe.com/view/0db723ac-52ff-48b3-4877-9d5882cb2e1f-7b86/

[2019-10-17 16:35] #2363 closed

[2019-10-17 16:38] sporeboy commented on #2016
View functionality of current (legacy) implementation of View Dependents complete. User path and functionality matrix at link in above comment.

Resulting concept layout here: https://xd.adobe.com/view/852342af-36f7-41b6-7e04-29c9ca8b210e-f312/

NOTE: Concept is WIP for formulating design intent.

[2019-10-17 16:38] #2016 closed

[2019-10-17 16:40] sporeboy commented on #2021
Tentative WIP layout here: https://xd.adobe.com/view/852342af-36f7-41b6-7e04-29c9ca8b210e-f312/

This layout reflects a design intent to move forward with a "tools" screen that aligns with direction given to follow Claim Status pattern.

[2019-10-17 16:40] andreahewitt-odd opened #2538 "Decide what QA content to move and where to move it to"
Columns:
Link to all QA content
Is it moving?
If it's moving, where to?

[2019-10-17 16:42] andreahewitt-odd opened #2539 "Schedule meeting to discuss TCMS"
Schedule meeting with Nancy, Peter, Andrea to discuss TCMS options and where we go from here.

[2019-10-17 16:43] sporeboy commented on #2364
Aricka's initial synthesis/analysis MURAL is here: https://app.mural.co/t/vsa8243/m/vsa8243/1570714734227/135cc9229f15be89de914d583c8f5d51fa38552d

[2019-10-17 16:45] Justin-Pickett opened #2540 "[ QA ] MHV API gateway changes- Smoke Testing Needed"
## Background
The MHV Program is changing our API Gateway and would like to schedule some testing cycles with your team.

Needing to run some smoke tests for the parts of VA.gov that talk to the essapi services -- system test (syst/sysb) or integration (intb).

There are no changes to the actual signatures and responses.  This change will be transparent to your application.
MHV are swapping out ou

[2019-10-17 16:49] alexpappasoddball opened #2541 "Consolidate VSA Team Roster Data into Product Directory"
## User Story or Problem Statement
There is duplicate data stored in the [VSA Team Roster](https://docs.google.com/spreadsheets/d/1ju1BJQhi6mynVey7G-LiR9C0eGMn4wXjF4vdsKqnoPc/edit#gid=0) document that is duplicate

## Goal
Consolidate the data, ensuring complete coverage from the VSA Team Roster into the Product Directory sheet and deprecate the VSA Team Roster so it is no longer used moving forwa

[2019-10-17 16:51] Justin-Pickett commented on #2540
When a POC is  given, we will get this QA sessions scheduled.

[2019-10-17 17:05] Karak888 opened #2542 "Health Care Rewriting: VHIC"
@DanielleSoCompany commented on [Fri Feb 15 2019](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/16957)

## User story

As a Veteran, I want to understand the different ID cards I may need, including the Veterans Health ID card.

## What needs to be done

This page (https://www.va.gov/healthbenefits/vhic/index.asp) is currently linked to from “Types of Veteran ID Cards” (ht

[2019-10-17 17:21] artistgreen commented on #2326
Hi @lalexanderson-dsva !  Sharing my plan with you for feedback and approval.  Thank you!

[2019-10-17 17:21] anandbhagwat commented on #2528
Hi @1Copenut  I can Work On this to add Bullet Points, Feel Free to assign it to me

[2019-10-17 17:41] desireeturner opened #2543 "Slack request: Team members need access to #devops-deploys"
The BAH team needs access to the #devops-deploys channel because it's the channel where gids deploy notifications are shared and we're supporting GIDS as part of our work for the GI Bill Comparison Tool.

Team members to include:
Desiree Turner
Matthew Roth
Devin McCurdy
Daniel Shawkey
Will McCormack
Kenneth Santiago
Joseph Elder

[2019-10-17 17:42] lalexanderson-dsva commented on #2326
Plan approved and recruiting request submitted.

[2019-10-17 17:43] artistgreen commented on #1688
@peggygannon - Thank you!!  I will make that last edit - good catch and thanks again!

[2019-10-17 17:45] rianfowler opened #2544 "Evaluate GitGaurdian"
# Overview

- some of our engineers get alerts from GitGaurdian  (@jbalboni)
- determine if this is something we've set up for `vets-website`
- document what it does and how to manage the notifications from it
- determine if it's still needed (or if we should use it if it's not set up for the platform)

[2019-10-17 17:53] andrewlewandowski commented on #2203
@1Copenut - Thanks for this! Do you think we need to start exposing accordion titles as new h3 classes for screenreaders? This would be a global change to all our accordions.

Based on your research, I don't think there is a way to "expose" collapsed accordion content to users who want to utilize the control+f/search-on-page tool in their browser.

[2019-10-17 17:57] andrewlewandowski commented on #2199
@1Copenut - Looks like there's nothing special we can do to answer question 1.

For question 2, I think it would be great if we implemented a slowed-down page scroll/jump. Can we use our JS helper for global interaction events (e.g.m page loads, accordion expand/collapse, etc.) -- like, transition-delay, ease-in, ease-out, etc.? @ncksllvn, do you have thoughts on this from a global front-end persp

[2019-10-17 17:58] andrewlewandowski commented on #2199
@rtwell and @emilywaggoner - Please be thinking about global interaction design in regards to my comment about question 2 above.

[2019-10-17 18:17] Samara-Strauss commented on #2352
@peggygannon — can you update the copy for the following error? Danielle wrote this copy, so 99% of it shouldn't need to be changed, but Lisa/Justin pointed out that this copy is slightly confusing because it says the account is locked when in fact someone's entire account is not locked, just the direct deposit functionality and the ability to edit and update direct deposit information.

### Desig

[2019-10-17 18:17] artistgreen commented on #2326
Thank you @lalexanderson-dsva !  Including @azwilling

[2019-10-17 18:20] Karak888 opened #2545 "https://github.com/department-of-veterans-affairs/va.gov-team/projects/11#card-27933467"
this is a test

[2019-10-17 18:31] Karak888 opened #2546 "Style guide edits to live pages in Drupal #1595"

[2019-10-17 18:49] micahchiang commented on #2347
Since this work is closely related to the work in #2346, it will be completed on the same branch to avoid future build failures.

[2019-10-17 18:56] SMLuthi commented on #1046
@1Copenut @alexpappasoddball The 20 max length is due to an upstream limitation. More specifically, the EVSS submit endpoint address fields only allow max of 20 characters. Theres not much that can be done about that.

[2019-10-17 19:01] #1924 closed

[2019-10-17 19:34] desireeturner commented on #1252
@1Copenut we have other stories to cover the other Learn More links. Please take a moment to review these and let me know if it doesn't cover the 508 office feedback:
- CT: Update Aria Label Text for Landing Page Learn More Links #19778
- CT: Update Aria Label Text for Search Results Learn More Links #19780
- CT: Update Aria Label Text for Profile Page Learn More Links #19781
- CT: Update Aria Lab

[2019-10-17 19:55] omgitsbillryan opened #2547 "Exclude Large Test Files from Counting Against PR Size Dangerbot Check"
## The Problem
The danger bot is warning In PR's where large test files (.json, fixtures, .txt) are either added or deleted. These test files can be thousands of LoC, and are not typically considered cumbersome to review.

## Work to be Done
Exclude these files from being counted in the total number of LoC changed in a PR.

[2019-10-17 20:08] RLHecht commented on #1727
@mnorthuis Trying to get my ducks in a row with this issue. The three pages that need to move from Burials to Disability, two of them don't lie in Drupal yet: /survivor-dic-rates and /parent-dic-rates. They are in burials in Github but with no text. Do these pages need to be written before any of the other work with them happen?

[2019-10-17 20:24] narin commented on #1648
@markgreenburg  I'm not sure I've seen the latest mocks and whether the map is still in play, but I believe the [mock data](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/appointments/engineering/mock-data.json) from staging does have address info, but not phone.  I'd imagine the phone number is pretty important data in case the vet needs to talk to

[2019-10-17 20:30] #2539 closed

[2019-10-17 20:43] micahchiang commented on #2347
Completed and merged via https://github.com/department-of-veterans-affairs/vets-website/pull/10908

[2019-10-17 20:43] #2347 closed

[2019-10-17 20:44] micahchiang commented on #2346
Merged into master via https://github.com/department-of-veterans-affairs/vets-website/pull/10908

[2019-10-17 20:44] #2346 closed

[2019-10-17 20:54] #196 closed

[2019-10-17 21:04] peggygannon commented on #2352
@Samara-Strauss  @erikphansen Please see my suggested edit below:

One question for you: Is there a set period of time that this function typically stays locked (24-48 hours?)
If so I'd like to suggest that we add a CTA for resolution  (for example, "Please try again in 24 hours.... ") depending on how long this feature stays locked. Let me know your thoughts.

**We couldn’t update your bank infor

[2019-10-17 21:05] erikphansen commented on #2352
as far as I know the locking is permanent until they call and get it unlocked

[2019-10-17 21:13] wyattwalter commented on #2277
Did some work with @nathanhruby on this.

It appears that something either in new version of Jenkins or the Prometheus plugin is creating significantly more metrics than previously. In this case it went from about 12k metrics to just over 40k during the latest deploy of Jenkins. It's on the order of ~4x, so not an astronomical number. However, it is sending almost 6M of metrics over the wire on ea

[2019-10-17 21:27] peggygannon commented on #2396
@lalexanderson-dsva Please see my content suggestions below.  I still need to review all the VAOS headers to see if they are best as statements or questions. I'll be making that recommendation when I do a content review of the full flow in prototype.

Choose the type of sleep medicine appointment that you need
•	**Continuous Positive Airway Pressure (CPAP)**
This includes an office visit to set up

[2019-10-17 21:35] peggygannon commented on #2352
ok, thank you. If that's the case, then I'd like to suggest we add that to the message, like below:

**We couldn’t update your bank information**
We’re sorry. You can’t change your direct deposit information right now because we’ve locked the ability to edit this information. We do this to protect your bank account information and prevent fraud when we think there may be a security issue.
To reque

[2019-10-17 21:45] jenniferlee-dsva commented on #1727
@mnorthuis - to clarify: /survivor-dic-rates and /parent-dic-rates links in the Burials nav point to legacy URLs.

[2019-10-17 21:52] erikphansen commented on #2352
this is what it looks like in place:
![image](https://user-images.githubusercontent.com/20728956/67050603-b8cf0080-f0ed-11e9-8cf3-27f8af6d46cf.png)

[2019-10-17 22:05] wyattwalter opened #2548 "alert for prometheus utility being down"
The utility prometheus instance restarted today and did some crash recovery for a bit with no alert. I only caught it because I was logging in and.. um.. probably ran the query that crashed it.

We _do_ monitor for errors/fatals in the log file as well as monitor that the other environments are reachable from utility, but it appears that nothing is alerting if the utility one is up.

[2019-10-17 22:07] peggygannon commented on #2352
@erikphansen looks good!

[2019-10-17 22:17] #2343 closed

[2019-10-17 22:19] #2366 closed

[2019-10-17 22:25] jason-gcio commented on #2312
Feedback received and in the process of being implemented.

[2019-10-17 22:25] #2312 closed

[2019-10-17 22:30] #2047 closed

[2019-10-18 06:19] erikphansen commented on #2054
@markgreenburg which phone number should be prefilled? Home, mobile, and work are all available options.

[2019-10-18 12:41] lkoenigsberg commented on #2442
@elwoodva , please go ahead and make the text change as we've agreed above.

[2019-10-18 12:45] lkoenigsberg commented on #2428
@elwoodva , please have a look at Samar's recommendations.  Feel free to reach out to her to chat about and decide on an approach.

[2019-10-18 12:51] lkoenigsberg commented on #2332
@elwoodva , please see Peggy's suggestions and coordinate with her on any questions.

[2019-10-18 12:53] lkoenigsberg commented on #2333
@elwoodva and @gunsch , what is the status of this review please?

[2019-10-18 12:54] lkoenigsberg commented on #2331
@lichellebain @CrystabelReiter @andreahewitt-odd what is the status of this please?

[2019-10-18 13:06] Samara-Strauss commented on #2352
@peggygannon @erikphansen all of this looks good to me! Thanks!

[2019-10-18 13:54] nedierecel commented on #2182
@jenniferlee-dsva @Karak888 We are getting ready to publish the changes to track PDFs for you to see PDF downloads on the VA Forms pages (and other legacy content).

**FYI**: We are making a naming event change in Google Analytics that will also impact downloads in our Modernized content.

For example, a download of PDF version of 10-10EZ on https://www.va.gov/health-care/how-to-apply/index.html:

[2019-10-18 13:55] kelsonic commented on #2278
Just to keep in mind when validating this ticket, there needs to be 6 tickets that get created for the new `SideNav`:

1. Accessibility improvements (maybe loop in 1Copenut to check it out)
2. Port to the design system (Formation) (Mostly SCSS naming conventions)
3. Unit tests
4. Need to update the sidenav to be 1/3 instead of 1/4 width on each page that uses it.
5. Abstract out complexities in Si

[2019-10-18 14:02] Samara-Strauss commented on #2428
This is my suggestion: make the setting read-only in the read-only version of the profile. Edit will happen in the modal (and this works nice since the checkbox is already in the modal). This is prob what we should have done from the beginning since nothing else is editable in the profile without clicking one of the Edit links.

Note: We'll need copy approved for this approach if we decide to go w

[2019-10-18 14:05] 1Copenut commented on #2528
Hi @anandbhagwat. I'm adding you as an Assignee, much appreciated.

I took a first pass at it and merged a few adjustments yesterday ( https://github.com/department-of-veterans-affairs/va.gov-team/pull/2527 ) but still think we're thin on specifics. Please feel free to improve and adjust.

[2019-10-18 14:35] andaleliz commented on #2394
[subdomain_header_footer_audit.xlsx](https://github.com/department-of-veterans-affairs/va.gov-team/files/3744412/subdomain_header_footer_audit.xlsx)

@jenniferlee-dsva Here's the updated file you requested - new column indicating if it is a subdomain, and another column to indicate if it's linked to from the About Us megamenu.  Only urls with direct links from that menu are indicated with an X.

[2019-10-18 14:38] Justin-Pickett commented on #1135
@erikphansen and @lihanli any update on this ticket?

[2019-10-18 14:39] Justin-Pickett commented on #1129
Work around has been agreed upon for a course of action for users to update their mailing address when prompted with errors blocking them from completing the intended tasks.

[2019-10-18 14:46] Justin-Pickett opened #2551 "[ Usability Testing for Candidate Address Validation ]"
## Usability Testing

### Scheduled for the following timeframe in Eastern Time

11/13/19 - 8:30am - 9:30am
11/13/19 - 11:30am - 12:30pm
11/13/19 - 1:30pm - 2:30pm
11/15/19 - 11:30am - 12:30 pm
11/15/19 - 1:30 pm - 2:30pm

## Definition of Done
- [x] Usability testing has been scheduled
- [ ] Usability testing has been completed
- [ ] Feedback has been compiled and socialized with team

- [ ] If c

[2019-10-18 14:49] elwoodva commented on #2428
@Samara-Strauss @1Copenut

I like Suggestion 1 when the checkbox is there.  But when it's not there it is not clear that you are not opted in.  The words still make you think you're going to get the notifications sent to you.

If there was an opposite symbol to use when the flag is false that might be better.

Or if the words without the checkbox were changed and said something like "We won't send

[2019-10-18 14:58] gunsch commented on #2333
Status at https://dsva.slack.com/archives/CBU0KDSB1/p1571179979092400?thread_ts=1570564090.361700&cid=CBU0KDSB1 --- I'm still looking for Elwood or Lichelle to schedule a security review and provide architectural details that we can speak to/review.

[2019-10-18 15:00] Samara-Strauss commented on #2428
If someone had not opted in, we either a) wouldn't show any copy there or b) show something like this:

<img width="512" alt="Screen Shot 2019-10-18 at 10 57 49 AM" src="https://user-images.githubusercontent.com/34068740/67105128-2df61080-f196-11e9-84f2-56b5e5ea1745.png">

Suggestion 2 works for me. All copy needs to be reviewed by our content team but I think any copy they come up with would be i

[2019-10-18 15:28] #2207 closed

[2019-10-18 15:46] elwoodva commented on #2333
Yes, @lichellebain has been out this week but she will schedule that review when she gets back next week.  Since I'm not sure exactly what architectural details you still need since we're using the existing transactions and endpoints we can discuss it during the review I think.

[2019-10-18 15:53] mnorthuis commented on #2188
Meeting complete.

[2019-10-18 15:53] #2188 closed

[2019-10-18 16:00] peterhill-oddball commented on #2538
Spreadsheet with links to old content, move/don't move, and new location created as [Google Sheet](https://docs.google.com/spreadsheets/d/1Lx8lbzFou-zuPv7cXsk_9swlnUTYFclbrqEfouC_h3I/edit?usp=sharing).

[2019-10-18 16:11] mnorthuis commented on #1727
@RLHecht @jenniferlee-dsva The ticket for the rewriting effort for those pages is here:  https://github.com/department-of-veterans-affairs/vets.gov-team/issues/1832

[2019-10-18 16:31] lkoenigsberg commented on #1129
@clantosswett , any way we can get actual addresses or had you shared that in encrypted msg you provided some time ago to the v360 team?

[2019-10-18 16:33] lisac-usds commented on #2543
this is done!

[2019-10-18 16:33] #2543 closed

[2019-10-18 16:34] peterhill-oddball commented on #2538
Contacted Matt Johnson via Slack for review / approval on proposed migration locations.

[2019-10-18 16:35] Karak888 opened #2553 "Sub-Task: Accessibility Audit for SideNav"
As part of validation for SideNAV and menu for Pittsburgh, need to ensure accessbility improvements are validated and accounted for prior to deploying to Production.

@1Copenut would you kindly let me know or include any specific tasks that are needed to fulfill this validation?  This relates to https://github.com/department-of-veterans-affairs/va.gov-team/issues/2278.

Page: https://staging.va.go

[2019-10-18 16:42] Karak888 opened #2554 "Subtask: Port SideNav to Design System"
**This is a subtask for the validation of new SideNav menu for Pittsburgh:**
Port to the deisng system (Formation) (Mostly jSCSS naming conventions)

Relates to ticket https://github.com/department-of-veterans-affairs/va.gov-team/issues/2278 Implement new sidebar navigation on Pittsburgh health care

[2019-10-18 16:45] thatmattjohnson opened #2555 "[repo migration]: Personalization - review"

[2019-10-18 16:48] Karak888 opened #2556 "Update the width of SideNav to be 1/3 instead of 1/4"
## Problem Statement
The Pittsburgh VAMC left side nav width needs to be updated to 1/3 instead of 1/4 so that lengthy titles and names can be accommodated.

## Goal
Consistency with design system
Usability

## Objectives or Key Results this is meant to further
OBJECTIVE 3: Deliver a usable and accessible experience

---
## Tasks
- [ ] Update the width of SideNav to be 1/3 instead of 1/4

## Accep

[2019-10-18 16:48] thatmattjohnson opened #2557 "[repo migration]: Personalization"
Content/IA steps:

- [x] Review vets.gov-team documentation with SME
- [x] Generate migration plan based on SME feedback; link to issue
- [x] Review PRs generated by Product Support
- [x] UAT, remediation on documentation post-migration
- [x] Follow-up communication with SME

Product Support steps:

- [x] Run migration script on linked migration plan file
- [x] PR for va.gov-team
- [x] PR for vets

[2019-10-18 16:49] thatmattjohnson opened #2558 "[repo migration]: Personalization - deprecation"

[2019-10-18 16:49] thatmattjohnson opened #2559 "[repo migration]: Personalization - redirects"

[2019-10-18 16:50] #2510 closed

[2019-10-18 16:51] thatmattjohnson opened #2560 "[repo migration]: Personalization"
As a VSP documentation owner I need to copy select legacy documentation to the va.gov-team repo in order for VFS and VSP teams to have ready access to the most relevant legacy assets.

High level procedure:
-- identify content for migration and its destination within va.gov-team
-- copy selected content to the relevant area of va.gov-team (scripting)
-- add deprecation messaging to copied content

[2019-10-18 16:58] Samara-Strauss commented on #2094
We barely link to the Account page. A few small recommendations are in the "Where we link to account" tab of [this spreadsheet](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/personalization%202.0/Combine%20Profile%20and%20Account/Information%20architecture/Prof%20%26%20Acct.%20%E2%80%94%20Content%20inventory%20and%20information%20archit

[2019-10-18 17:00] thatmattjohnson opened #2561 "[repo migration]: Call Center - review"

[2019-10-18 17:01] thatmattjohnson opened #2562 "[repo migration]: Call Center"
Content/IA steps:

- [x] Review vets.gov-team documentation with SME
- [x] Generate migration plan based on SME feedback; link to issue
- [x] Review PRs generated by Product Support
- [x] UAT, remediation on documentation post-migration
- [x] Follow-up communication with SME

Product Support steps:

- [x] Run migration script on linked migration plan file
- [x] PR for va.gov-team
- [x] PR for vets

[2019-10-18 17:01] mnorthuis commented on #2215
DIC Rewriting: https://github.com/department-of-veterans-affairs/va.gov-team/issues/1727

[2019-10-18 17:02] Karak888 opened #2563 "Subtask: Abstract out complexities in SideNav into functional components"
**Subtask for new page and navigation for Pittsburgh:**
- [ ] Abstract out complexities in SideNav into functional components

**Relates to ticket #2278** Implement new sidebar navigation on Pittsburgh health care

[2019-10-18 17:02] thatmattjohnson opened #2564 "[repo migration]: Call Center - deprecation"

[2019-10-18 17:02] thatmattjohnson opened #2565 "[repo migration]: Call Center - redirects"

[2019-10-18 17:03] jenniferlee-dsva commented on #2182
Hi @nedierecel - If I'm understanding this - now the event action will show the actual link text; and the event label will show the URL -- and these are what will display on Google Analytics reports?

I love this! In fact, it would be awesome to expand this beyond VA Forms pages and track these events also on the benefit hub pages. @Karak888 - Maybe this is a new ticket/request...

[2019-10-18 17:05] thatmattjohnson opened #2566 "[repo migration]: Call Center"
As a VSP documentation owner I need to copy select legacy documentation to the va.gov-team repo in order for VFS and VSP teams to have ready access to the most relevant legacy assets.

High level procedure:
-- identify content for migration and its destination within va.gov-team
-- copy selected content to the relevant area of va.gov-team (scripting)
-- add deprecation messaging to copied content

[2019-10-18 17:09] ricetj opened #2567 "Reserve Instances Expiration"
Our RIs expired and we need to know how much reserve do we want for VA.gov

[2019-10-18 17:11] jenniferlee-dsva commented on #2394
Thank you Liz!

[2019-10-18 17:13] 1Copenut opened #2568 "Write documentation outlining the 508 error viewer for CMS"
I'd like to write some documentation illustrating the CMS 508 error viewer so editors know how to access it on the preview server. These updates could like in the https://department-of-veterans-affairs.github.io/veteran-facing-services-tools/platform/architecture/cms/#preview-server section.

Also see PR https://github.com/department-of-veterans-affairs/vets-website/pull/10836

[2019-10-18 17:13] #2528 closed

[2019-10-18 17:15] 1Copenut opened #2569 "Review the VAOS calendar draft PR for accessibility"
WIP PR: https://github.com/department-of-veterans-affairs/vets-website/pull/10877

[2019-10-18 17:18] 1Copenut opened #2570 "Move the eBenefits 508 checklist to platform/accessibility"
eBenefits has a good 508 checklist for their team. After talking with @jason-gcio , we're going to move it over to platform/accessibility so all teams can find it easily.

[2019-10-18 17:21] thatmattjohnson commented on #2510
replaced by #2560 (epic).

[2019-10-18 17:32] rianfowler opened #2571 "Audit / document current dashboard / reporting / telemetry for HCA"
# Overview

Production metrics for HCA should be consolidated into a single place for maintainers

# Task

- Document the current views for production metrics
  - web analytics
  - prometheus
  - sentry
- Identify holes or improvements in the monitoring
- Document troubleshooting guidelines for production
  - Can a maintainer quickly determine if there is a problem?
  - If there is a problem, can

[2019-10-18 17:36] rianfowler opened #2572 "Document test cases for HCA"
tbd

QA is evaluating test case management software. best practices for documenting these will be incoming

[2019-10-18 17:37] mnorthuis commented on #2175
Issue tracking burials parity approvals: Burials parity: https://github.com/department-of-veterans-affairs/vets.gov-team/issues/19058

[2019-10-18 17:38] #2094 closed

[2019-10-18 17:40] 1Copenut commented on #1046
@SMLuthi Copy that. I happened to notice it when the test address threw an error, and figured it was worth a mention. I have seen addresses that include directional indicators like NW or SE and proper names that could easily exceed this limit.

Is there a fallback or graceful handling if the user's address is too long? I'll close out the ticket if this is a non-issue/solved problem.

Thank you.

/

[2019-10-18 17:40] rianfowler opened #2573 "Create ops toggle(s) for HCA"
# Overview

VFS teams need a demonstration of an operations toggle for their applications

# Tasks

- The main use case is deactivating an app. This should be managed through an ops toggle
- Determine the best practice for handling turning off an app temporarily
  - We may need to explore a generalized downtime page

[2019-10-18 17:45] Samara-Strauss opened #2574 "[FE] Update link on 2FA prompt under Direct Deposit section"
On the VA.gov profile, the link to set up 2FA in the 2FA prompt under the direct deposit section links to /account. That was my mistake originally — it should link directly to the 2FA flow. Can we update its destination to the following?:

https://api.idmelabs.com/en/multifactor/setup/phone/new

<img width="670" alt="Screen Shot 2019-10-18 at 12 55 23 PM" src="https://user-images.githubusercontent

[2019-10-18 17:46] rianfowler opened #2575 "Determine how to handle down time for form submission in HCA"
# Overview

Some forms may be completed but not submitted - determine the best UX for those situations (e.g. a service may not allow us to submit data but we can save the form in our system until it's back up).

# Tasks

- Determine if applications go unsubmitted because of VA system issues like downtime (we should have monitoring in place for this)
- Categorize types of form apps by their interac

[2019-10-18 17:51] kelsonic opened #2576 "Subtask: SideNav unit tests"
This is a subtask for the validation of SideNav menu for Pittsburgh:
We need 100% unit test coverage for the SideNav.

Relates to ticket #2278 Implement new sidebar navigation on Pittsburgh health care

[2019-10-18 17:51] Karak888 opened #2577 "Subtask: Update SideNav `expanded` logic to not rely on original data source"
**Subtask for new SideNav for Pittsurburgh Health:**
- [ ] Update Expanded Logic to not rely on original data source
- [ ] Remove new SideNav from pages other than `/pittsburgh-health-care/**`

Relates to ticket #2278:  Implement new sidebar navigation on Pittsburgh health care

[2019-10-18 17:52] rianfowler opened #2578 "Refactor end to end tests in HCA to use test cafe"
# Overview

tbd - this might need to be an epic. would like to reduce the platform down to three types of testing tools: visual, functional, and integration.

- visual testing tools test the application as it's running- looks for CSS regressions
- functional testing tools test the behavior of the application- includes unit tests + form tests
- integration testings tools test the integration with s

[2019-10-18 17:57] elwoodva commented on #2428
Our team has reviewed this and we think it's best to go with Suggestion 1.

However, for consistency we think the second message about not being opted in should also include an icon.  The icon we think would work would be a red 'X'.  Either that or remove the green checkbox when they are opted in.  Again for consistency.

Here is our suggestion for a slight re-wording of the second message:

"You

[2019-10-18 18:05] Karak888 opened #2579 "Health Care Rewriting: VHIC"
@DanielleSoCompany commented on [Fri Feb 15 2019](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/16957)

## User story

As a Veteran, I want to understand the different ID cards I may need, including the Veterans Health ID card.

## What needs to be done

This page (https://www.va.gov/healthbenefits/vhic/index.asp) is currently linked to from “Types of Veteran ID Cards” (ht

[2019-10-18 18:11] mnorthuis commented on #2175
Sent list of redirects to Jen Lee for communication to stakeholders on 10/18.

[2019-10-18 18:11] mnorthuis commented on #2215
Sent list of redirects to Jen Lee for communication to stakeholders on 10/18.

[2019-10-18 18:19] Samara-Strauss commented on #2428
OK, I will work with one of our copywriters to get the verbiage right and report back when I have exact copy.

[2019-10-18 18:19] wygonikGCIO opened #2580 "Test Epic for Joe"
## User Story
As the new Facility Locator team, we need to be familiar with the current product so we have the best information possible to plan the next version of the product.

## Goal(s)
Investigate and document the current Facility Locator tool's
1. data sources and data owners (i.e., people/offices/groups)
2. exports or flat files of those data sources (or examples of the data)
3. Google Anal

[2019-10-18 18:23] elwoodva commented on #2428
Sounds good!

[2019-10-18 18:25] #1087 closed

[2019-10-18 18:29] mnorthuis commented on #1510
Sent doc to Jen Lee on 10/18 for communication to stakeholders. Closing this issue.

[LegacyLeftNavRecs-VHA-10182019.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/3745211/LegacyLeftNavRecs-VHA-10182019.docx)

[2019-10-18 18:29] #1510 closed

[2019-10-18 18:30] mnorthuis commented on #1511
Provided recommendations along with /healthbenefits audit to Jen Lee on 10/18 to send to stakeholders.

[LegacyLeftNavRecs-VHA-10182019.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/3745214/LegacyLeftNavRecs-VHA-10182019.docx)

[2019-10-18 18:30] #1511 closed

[2019-10-18 18:30] Samara-Strauss opened #2581 "[Content] Update copy for the health reminder text message notification setting in the VA.gov profile"
@peggygannon per #2428 we need to modify the copy for the upcoming notification setting that will allow people to opt in to health care appointment reminders right from their VA.gov profile. Trevor says that [per this standard](https://www.w3.org/TR/2016/NOTE-WCAG20-TECHS-20161007/G13), the existing copy isn't friendly for people using screenreaders because it doesn't explicitly mention that you n

[2019-10-18 18:31] Samara-Strauss commented on #2428
Copy ticket here #2581

[2019-10-18 18:32] Karak888 commented on #487
@1Copenut just want to confirm who neeeds to work on this and is it ready to move into backlog or do we need more investigation, and if so that would be a FE engineer correct?  Thanks!

[2019-10-18 18:32] mnorthuis commented on #2542
This is duplicate of #2579

[2019-10-18 18:32] #2542 closed

[2019-10-18 18:34] mnorthuis commented on #1506
All current issues in this epic are complete. Leaving epic open until feedback is received from stakeholders on recommendations and next steps are determined.

[LegacyLeftNavRecs-VHA-10182019.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/3745232/LegacyLeftNavRecs-VHA-10182019.docx)

[2019-10-18 18:34] wyattwalter opened #2582 "cleanup of pre-VAEC migration sentry resources"
Looks like some cleanup was missed when sentry got moved into VAEC. I see that there's at least:

- dsva-vetsgov-utility-redis-sg security group
- a "vetsgov-util" elasticache cluster
- a "dsva-vetsgov-utility-sentry-elb" ELB
- sentry-vetsgov deployment configs in ansible

There's likely others. The AWS resources should be removed from Terraform and the rest of the config removed.

[2019-10-18 18:35] #2187 closed

[2019-10-18 18:36] Karak888 opened #2583 "Facility Locator: General"
This epic tracks work related to general Facility Locator issues, bugs, and tickets that are not specific to the PPMS database epic (#977).

[2019-10-18 18:37] #1872 closed

[2019-10-18 18:38] mnorthuis opened #2584 "IA Review for Rated Disabilities"
## Story
As a member of the eBenefits team building with VSP, we need our IA reviewed to ensure it's aligns with VA.gov standards and best practices.

## Goal
**IA:** To review the IA structure, URL and entry points and provide feedback.

We have thought about some of the impacts on IA for [**this and a few of our other features**](https://github.com/department-of-veterans-affairs/va.gov-team/blob

[2019-10-18 18:41] #2282 closed

[2019-10-18 18:45] Samara-Strauss opened #2585 "[User testing] Combined Profile and Account: Create research plan"
Epic #2092

https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/profile/Combine%20Profile%20and%20Account/Research/User%20Research.md

- [x] Create research plan

[2019-10-18 18:46] mojaray2k commented on #705
@1Copenut Can you provide me with a user that has benefits. I think I have the correct attribute removed but just need to test.

[2019-10-18 18:48] Samara-Strauss opened #2586 "[User testing] Combined Profile and Account: Create conversation guide"
Epic #2092

- [x] [Create conversation guide](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/profile/Combine%20Profile%20and%20Account/Research/Profile-2.0-Conversation-Guide.md)

[2019-10-18 18:50] Samara-Strauss opened #2587 "[User testing] Combined Profile and Account: Conduct sessions"
Epic #2092

- [x] Conduct sessions

[2019-10-18 18:56] Karak888 commented on #482
We are moving these to our Facility Locator General Epic, do we need to keep your audit ticket open on our end still?

[2019-10-18 18:57] nedierecel commented on #2182
@jenniferlee-dsva You are reading that correctly.

And, good news! The work @jonwehausen did in this issue will cover the Modernized content, including the hub pages.

For _historical data_: The data you pull _before_ we make this change will still use the older format:

`Event Action: PDF Downloaded - https://www.va.gov/vaforms/medical/pdf/1010EZ-fillable.pdf (Includes the PDF URL link)`
`Event L

[2019-10-18 18:58] Samara-Strauss opened #2588 "[User testing] Combined Profile and Account: Create report and tickets"
Epic #2092

[CPAA Research Findings](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/profile/Combine%20Profile%20and%20Account/Research/cpaa-research-findings.md)

- [x] Write research report
- [x] Create any tickets that come out of research

[2019-10-18 19:00] 1Copenut commented on #482
@Karak888 No, the audit can be closed with issues being moved to your General epic. Thank you!

[2019-10-18 19:02] Karak888 opened #2589 "Site Improvements"
This epic tracks general, small, independent task for improving public website features, interactions, and UX that are not covered by specific product epics.

[2019-10-18 19:02] 1Copenut commented on #487
@Karak888 I think this one's ready to move into Backlog. It'll be an FE ticket. Some event is firing that bumps focus to the top of the page.

[2019-10-18 19:04] nedierecel commented on #2359
Recap from meeting:

In current state, we can look at the Behavior Flow report to identify potential blocks with [Direct Deposit-->Address Saves](https://analytics.google.com/analytics/web/?authuser=0#/report/content-engagement-flow/a50123418w177519031p187673796/_.goalOption=3&_.useg=useri7QjhRJgTqiUkfwy6eG7_Q&_r.engageMode=events&_r.screen=~2Faccount~2Fconnected-accounts~2Findex.html&_r.hlNode=3-

[2019-10-18 19:07] Karak888 commented on #2132
this is being closed.

[2019-10-18 19:07] #2132 closed

[2019-10-18 19:08] thatmattjohnson opened #2590 "[repo migration]: Analytics - review"

[2019-10-18 19:08] thatmattjohnson opened #2591 "[repo migration]: Analytics - review"

[2019-10-18 19:09] mnorthuis commented on #2584
### IA Review and Feedback:
If you have any questions, please let me know.

**URL**
- Static page URL: www.va.gov/disability/check-disability-rating/
- Report/dynamic page URL: www.va.gov/disability/check-disability-rating/rating

This is a functional/dynamic page where users complete tasks, so we generally lead these pages with action words.  We try to avoid using "My" or "Your" when possible as

[2019-10-18 19:10] thatmattjohnson opened #2592 "[repo migration]: Analytics"
Content/IA steps:

- [x] Review vets.gov-team documentation with SME
- [x] Generate migration plan based on SME feedback; link to issue
- [x] Review PRs generated by Product Support
- [ ] Complete Part 1 of [migration UAT checklist](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsp/teams/content-ia/vsp-repos/migration-uat-checklist.md) on documentation post-migrat

[2019-10-18 19:11] thatmattjohnson opened #2593 "[repo migration]: Analytics - deprecation"

[2019-10-18 19:11] thatmattjohnson opened #2594 "[repo migration]: Analytics - redirects"

[2019-10-18 19:13] thatmattjohnson opened #2595 "[repo migration]: Analytics"
As a VSP documentation owner I need to copy select legacy documentation to the va.gov-team repo in order for VFS and VSP teams to have ready access to the most relevant legacy assets.

High level procedure:
-- identify content for migration and its destination within va.gov-team
-- copy selected content to the relevant area of va.gov-team (scripting)
-- add deprecation messaging to copied content

[2019-10-18 19:16] Karak888 commented on #804
Moving to close thanks!

[2019-10-18 19:16] #804 closed

[2019-10-18 19:16] mnorthuis commented on #749
There is no IA feedback for this work.  Functionality is being added to an existing page and no IA changes are needed.

[2019-10-18 19:16] thatmattjohnson commented on #2591
duplicates #2590, closing issue.

[2019-10-18 19:16] #2591 closed

[2019-10-18 19:24] Karak888 commented on #360
@1Copenut is this still something we need to handle in the near future? Thanks!

[2019-10-18 19:27] Karak888 commented on #2246
@alexpappasoddball we are unclear as to what this issue is, specifically in the "content template"

[2019-10-18 19:29] Karak888 opened #2596 "Public Website Bugs"

[2019-10-18 19:34] Karak888 commented on #2269
I think we are good to close this one for now as we are already working on that. @tlei123

[2019-10-18 19:34] #2269 closed

[2019-10-18 19:35] mnorthuis commented on #2244
Provide feedback on this in the overall IA review here: https://github.com/department-of-veterans-affairs/va.gov-team/issues/2584

[2019-10-18 19:35] Karak888 commented on #802
we are going to close this for now

[2019-10-18 19:35] #802 closed

[2019-10-18 19:35] AnneHurley commented on #2098
Creating a separate doc with all the recs above to be as clear as possible.

[2019-10-18 19:38] clantosswett commented on #1129
I still have actual example addresses that aren't working that I can share. How would you like me to go about doing that?

[2019-10-18 19:38] mnorthuis commented on #2449
@RLHecht @Karak888 Is the redirect from the old URL to the new URL being implemented with this change?  Or does this just change its position in the left nav?

[2019-10-18 19:41] peterhill-oddball commented on #2538
The materials have been manually moved to va.gov-team.  Now I need to run the scripts from -- https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/scripts

[2019-10-18 19:52] mmiddaugh opened #2597 "Facility Locator Team Onboarding: Front End"
## User Story
As a new VA.gov team member, I need to complete onboarding activities so I can successfully work on my project.

## Acceptance Criteria
- [ ] Each team member has completed each item in the onboarding checklist below.

## Onboarding Checklist

- [x] Attend general onboarding meeting
- [x]  [Request Access to Tools](https://github.com/department-of-veterans-affairs/va.gov-team/blob/ma

[2019-10-18 19:52] #2438 closed

[2019-10-18 19:53] Karak888 opened #2598 "On-site search improvements"
See this issue for background information and discovery conversations: https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/1328

This epic is to track tasks for improving the search.gov public website search functionality, ux, and accuracy of results.

"As a user, I want to search for X and find what I'm looking for."

[2019-10-18 19:55] Karak888 commented on #2424
closing this as it is a dupe

[2019-10-18 19:55] #2424 closed

[2019-10-18 19:58] kevinstachura commented on #1755
Research Summary has been created and is located here:

https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/claim-appeal-status/research/discovery-SEP-2019/research-summary.md

@azwilling - for awareness

[2019-10-18 20:12] markgreenburg commented on #2397
@rtwell is this page still where you'd like to introduce some text about emergency care, or would you prefer to do that on a different page in the flow?

[2019-10-18 20:13] Karak888 opened #2599 "Web Brand Consolidation Continued"
@jenniferlee-dsva

[2019-10-18 20:14] Samara-Strauss commented on #2453
First pass at design. Up next: modals, saving, errors.

[Profile 2.0.pdf](https://github.com/department-of-veterans-affairs/va.gov-team/files/3745520/Profile.2.0.pdf)

[2019-10-18 20:17] Samara-Strauss commented on #2455
@Justin-Pickett can we get this prioritized for next sprint?

[2019-10-18 20:18] Karak888 opened #2600 "Unassociated Tickets Epic"
This Epic is to track all unassociated (orphaned) tickets that are not otherwise associated with an Epic.

[2019-10-18 20:32] #2106 closed

[2019-10-18 20:56] jenniferlee-dsva commented on #2584
RE:
I would recommend that content and link also be added to the Disability Calculator tool that is currently being worked on so that users know they can log in to see their actual rating.

@mnorthuis Yes, agree - great idea to add cross link on the calculator page.   @Karak888 can we create a ticket to do that when/after  the ^ new page goes live.

@peggygannon For the H1 "View your disability ra

[2019-10-18 21:41] Justin-Pickett commented on #2455
@Samara-Strauss yes we can look at getting this slated to go into Sprint 7 coming up.

[2019-10-18 21:59] wyattwalter opened #2602 "better cleanup of docker resources on jenkins-swarm nodes"
We have a job right now that does a weekly `docker system prune` to cleanup cached images and other things that are stored locally for CI. It looks like this is probably not enough as a couple of Fridays lately we've seen disk warnings.

So far I've just kicked off the cleanup job early, but we should come up with a better system to keep the filesystems from filling.

[2019-10-18 22:03] Mottie opened #2603 "HLR: Move opt-out confirmation page after form introduction page"
## User Story or Problem Statement

Currently the opt-out of the old appeals system statement with checkbox is shown _before_ the Higher-Level Review introduction page.

The forms system doesn't appear to easily allow adding a confirmation page between the introduction page and the first step of the form.

This will be worked around by adding the opt-out page as the first sub-step of the first ste

[2019-10-18 22:13] kathleencrawford opened #2604 "Implement TotalRating API to retrieve Total Combined Disability Rating from EVSS"
## Story
As a user/ or Veteran, I need to be able to view my Total Combined Disability Rating so I can better understand my disability compensation benefits and eligibility.

## Goal
Build an API that communicates with EVSS and retrieves the Total Combined Disability Rating for a user/veteran.

## Objectives
- Migrate this functionality from eBenefits to VA.gov so users will no longer have to log

[2019-10-18 22:27] kathleencrawford opened #2605 "Create mock data for TotalRating API"
## User Story
As a backend engineer, I need to create mock data for the totalRating API so I can test that the engineers are able to access the data on the front end.

## Goal
Mock data is created and provides a Total Combined Disability Rating for the user/veteran for testing.

## Objectives
- The key objective is to display the TCDR in VA.gov so that users/veterans will no longer have to log in

[2019-10-18 22:30] erikphansen commented on #2359
@nedierecel I'm not really sure how many error codes we could get back. We've been more concerned with the `key`s that come back and then the `text` values. Right now I'm wondering how we could expand on the events we send you when they can't save direct deposit info. This is the function we call when there is any sort of direct deposit update error:

https://github.com/department-of-veterans-affa

[2019-10-18 22:32] kathleencrawford opened #2606 "Create swagger files for new TotalRating API"
## Story
As an engineer, I need to publish the appropriate swagger documentation for newly built APIs so other developers can understand and access them as needed.

## Goal
Swagger documentation is updated for the new TotalRating API, which retrieves the Total Combined Disability Rating from EVSS.

## Goals
- The key objective is to display the TCDR on VA.gov so that end users/veterans no longer h

[2019-10-20 00:18] jonwehausen commented on #1541
Hi Nick,

Can you give us an update on deployment status for this?

Thank you sir.

[2019-10-20 16:33] jenniferlee-dsva opened #2607 "Website content maintenance"
This epic tracks general, small, independent content tasks for the public website that are not covered by specific product epics.

Examples:
- Copy bugs, fixing outdated/incorrect information
- Updating benefit hub info like rate info, average monthly claims processing times
- Adding or updating in-body alert box copy
- General change requests from stakeholders to copy
- Reviewing or updating home

[2019-10-20 16:41] jenniferlee-dsva opened #2608 "Update Disability 'how to file' page"
Per Paul Shute (Disability stakeholder) and the AMO team (Lynny Thiem, Fred Somers) - general content updates related to:
- UX improvements/fixes
- Correcting inaccurate seeming information (because of the way the widget, when expanded, appears to flow into the body copy right below the REACT widget)

This page needs text updates in the REACT widget and in body copy:
https://www.va.gov/disability/

[2019-10-20 19:28] jenniferlee-dsva opened #2609 "Update Disability hub AMA appeals info"
**This set of changes include pages still published through GitHub only.**

Please provide Heroku preview pages with these updates this week, Wed or Thu (to shoot for going live with Friday's daily deployment).

Per Disability and AMO stakeholder change requests, updates include:
- Clarifying misleading or confusing info (e.g., calendar timeframes/deadlines)
- Refining minor UX - spacing, header i

[2019-10-21 11:11] jbritt1 commented on #2501
Further example of the above note: https://github.com/jrichardsz/jenkins-tips-snippets-templates/blob/master/kblearningacademy_com_jenkins_Role%2BStrategy%2BPlugin.pdf.

[2019-10-21 11:21] jbritt1 commented on #2501
More reading material on this: https://jenkins.io/doc/book/system-administration/security/.

[2019-10-21 12:03] RLHecht commented on #2449
@mnorthuis @Karak888 The new URL should take the place of the old one but there was a bug that occurred on Thursday after I moved it. I'll check with the CMS team again today to see if it's fixed. I just checked the live site and the URL is not showing up at the moment. I'll let you both know once it's fixed and working.

[2019-10-21 12:22] RLHecht commented on #2609
@jenniferlee-dsva I'm getting an error message when I try to open the Word doc you attached. Can you upload again?

[2019-10-21 12:28] RLHecht commented on #1727
@mnorthuis Not sure the ticket mentioned above is the right one for the rewriting effort.

[2019-10-21 13:24] nedierecel commented on #2182
@jonwehausen - This should be good to publish. Let's leave in the QA for post-deploy review, and then we'll close out when everything looks good.

[2019-10-21 13:35] jenniferlee-dsva commented on #2609
@RLHecht - I will Slack the attachment to you. Not sure what the GH issue is.

[2019-10-21 13:39] jenniferlee-dsva commented on #2609
Just tried to reattach with .docx added to filename link. Not sure it will work though. Just fyi.

[2019-10-21 14:28] Karak888 commented on #2608
@RLHecht this REACT component needs to be handled by FE engineer correct?

[2019-10-21 14:31] nedierecel commented on #2359
@erikphansen Here are two options if you're more interested in the `key` and `text`:

Suggested State - Option 1:
`recordEvent({
        event: 'profile-edit-failure',
        'profile-action': 'insert-error-here', // e.g. 'missing-invalid-address'
        'profile-section': 'direct-deposit-information',
      });`

You could then pass a more readable format into the `profile-action` like the sugg

[2019-10-21 14:36] jonwehausen commented on #1030
CC: @joanneesteban @nedierecel @rroueche

Hi Team,

I spent some time researching how we would do this programmatically thru the API. Unfortunately, the API is very limited in the ability to extract / output data in a comparable format to [this type of report](https://analytics.google.com/analytics/web/?utm_source=marketingplatform.google.com&utm_medium=et&utm_campaign=marketingplatform.google.com

[2019-10-21 14:45] #2352 closed

[2019-10-21 14:55] erikphansen opened #2611 "Rename vet360 components/modules"
As a developer, I want the file names of components to match the actual component name to make it easier to navigate and understand the code. ie, it should be obvious when glancing at an open tab which component the file corresponds to.

For example, the Vet360EditModal component's file is named `EditModal.jsx` but should be changed to `Vet360EditModal.jsx`. Also, `InitializedID.jsx` should be ren

[2019-10-21 15:24] Karak888 opened #2612 "Education rewriting: Yellow Ribbon schools"
@DanielleSoCompany commented on [Fri Jun 21 2019](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/19039)

**What's needed:**

- Create a new branch/PR for this work for "education-rewriting-yellow-ribbon." We're going to be presenting the concept to SMEs first, and we need to wait for the new August rates before we fill in all the tables, so we want to make sure it's in a se

[2019-10-21 15:25] Justin-Pickett commented on #2326
User testing research plan was approved. Closing this ticket.

[2019-10-21 15:28] Karak888 commented on #2612
Just FYI this is a copy for referencing ticket "Education rewriting: Yellow Ribbon schools **#19039"**

[2019-10-21 15:36] 1Copenut commented on #2246
@Karak888 content template refers to the Markdown file(s) we're using to generate static HTML pages. I *think* there's just one that is being used as a blueprint file for all of the variations. If that's the case, this should be a one-file fix, but it will need QA testing across lots of template types with IE11 to ensure proper functionality.

[2019-10-21 15:37] kelsonic commented on #2608
@Karak888 @RLHecht I'm happy to pick this up if needed/wanted! :)

[2019-10-21 15:43] elwoodva commented on #2442
I have made the change and I have started a draft pull request started for this issue.

[2019-10-21 15:44] 1Copenut commented on #2442
@elwoodva Would you mind linking the PR and this issue when you've got a few minutes?

[2019-10-21 15:51] erikphansen commented on #2359
@nedierecel The second option would be the simplest for me to implement on my end. How about these as the possible values for the new `errorKey` prop?:

- `mailing-address-error`
- `home-phone-error`
- `work-phone-error`

[2019-10-21 15:54] elwoodva commented on #2442
@1Copenut I think I already did.  Didn't I?

[2019-10-21 16:03] 1Copenut commented on #2442
@elwoodva Ah, yes I see it now. I had to log into Zenhub, but it's linked now. Much appreciated.

[2019-10-21 16:17] nedierecel commented on #2359
Thanks @erikphansen I think this makes sense to bring those error types in.

@jonwehausen For your visiblity, I will make a new customDimension called `errorKey`, which other teams can also leverage if they'd like. I'll need to add this to the GTM tag for `Profile Save Failures`

[2019-10-21 16:19] erikphansen commented on #2359
@nedierecel and to be clear, there will still be times that we don't send a `errorKey` at all. Is that cool? Or do you want me to always send _something_ for the `errorKey` value even if the error reason has nothing to do with bad address or phone?

[2019-10-21 16:21] nedierecel commented on #2359
@erikphansen It would be a nice-to-have, otherwise the value for the errorKey will just remain as null. In those instances, GA would record the value, but we wouldn't have the context as to why.

[2019-10-21 16:23] erikphansen commented on #2359
so I'll just pass in `other-error` for anything else if that's cool with you

[2019-10-21 16:26] mnorthuis commented on #2449
@RLHecht My understanding is that drupal does not currently handle redirects.  The change in drupal will change the URL of the page, but we need to redirect the old URL to the new URL to avoid 404s.

[2019-10-21 16:28] #2442 closed

[2019-10-21 16:31] #2332 closed

[2019-10-21 16:32] lichellebain commented on #2331
@CrystabelReiter  Sorry, I was out of office last week. The URL is https://staging.va.gov.
The user is vets.gov.user+220@gmail.com  and the password is Zm9ydHkgdHdv.  Lets get a meeting scheduled this week.  My email is lichelle.bain@va.gov.  Elwood Gary is the developer and would need to be present.  His email is kenneth.gary@va.gov.

[2019-10-21 16:35] ricetj opened #2613 "Vets API ASG Incident."

[2019-10-21 16:38] jonwehausen commented on #2329
CC: @Samara-Strauss

Hi Team,

@nedierecel and I spoke today about tracking options for this request, here are some of the options we propose:

**Main Ideas**
- Measure increase in key profile/account transactions, particularly profile form submissions and 2FA account upgrades.
    - Rationale: _Because these items should now be easier to find, and we would see an increase in their usage_
- Track

[2019-10-21 16:42] elwoodva commented on #2433
@1Copenut In issue 2581 we are going to make a change so that there is no checkbox here on the profile page.  It's only going to be updated through the edit modal.  How does that affect the changes you are suggesting here on this issue?  Also, all of the phone numbers work exactly the same way and share the code.  So would I be able to assume that this should not be changed just for the mobile pho

[2019-10-21 16:47] nathanhruby opened #2614 "vets-api puma performance tuning"
This is a tracking ticket for puma performance tuning in vets-api as a result of EVSS / https://www.va.gov/track-claims/your-claims related issues from an incident on 2019-10-21.

- [x] Investigate i/o load on nodes during this time, high local i/o could indicate that ruby is doing a lot of code loading per thread.  In this case preloading the app may help
- [x] Investigate stats to see if we have

[2019-10-21 16:59] peggygannon commented on #2608
@jenniferlee-dsva @RLHecht Yes, the react wizard needs to be updated by an engineer. I'm happy to review/preview the updates when ready.

[2019-10-21 17:34] micahchiang commented on #2201
Updated this document https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/ebenefits/features/view-update-dependents/rainbow-meeting-notes.md with some findings for the frontend in `vets-website`

[2019-10-21 17:34] micahchiang commented on #2201
@cohnjesse - feel free to update the above document as well with anything you want to add. Otherwise, this ticket can probably be closed out.

[2019-10-21 17:40] delli-gatti-michael commented on #2381
Local testing passes

![Screen Shot 2019-10-21 at 1.32.57 PM.png](https://images.zenhubusercontent.com/5c07f000391a6f6357adc430/05027a0f-1761-4989-8e6d-06e15cd00dab)

[2019-10-21 17:45] Karak888 opened #2616 "https://github.com/department-of-veterans-affairs/va.gov-team/projects/11#card-28079619"

[2019-10-21 17:46] kelsonic commented on #2553
![image](https://user-images.githubusercontent.com/12773166/67229317-0fe41680-f409-11e9-8e5a-e3156f22389e.png)

It doesn't look like there's any SideNav-specific accessibility errors on [this page](https://staging.va.gov/pittsburgh-health-care/). @1Copenut could you confirm if that's true on your side?

[2019-10-21 17:48] SMLuthi commented on #1757
This integration is currently blocked due to testing purposes. Once all the endpoints are exposed on the dev environment cassettes can be written and the integration can be completed.

[2019-10-21 17:59] Karak888 opened #2617 "https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/977"

[2019-10-21 18:09] Karak888 commented on #1845
@kelsonic can we please move this someplace else for tracking or maybe in you GH acct?  Thanks!~

[2019-10-21 18:12] AZSchneider opened #2618 "Run test scenarios to support VBMS testing (beginning Nov 4)"
## Purpose

As a Benefits and Memorials team member, I need support VBMS in testing their interactions with VA.gov so that I can be confident that VBMS changes have not affected VA.gov submissions of 526 forms.

## Background and scenarios

(test user accounts are being created to support this)
See info below from the email from Jennifer Powell:

"VBMS is preparing for our 18.0 release and we are

[2019-10-21 18:20] kelsonic commented on #1845
Moving this to closed.

[2019-10-21 18:20] wygonikGCIO opened #2619 "Certificate of Eligibility Process 1990 & Applicant Experience"
Explore the connection between the 1990 (and possibly 5490) to “Digital COE” workflow;
more clearly tie the completed forms to next steps in the Veteran/beneficiary workflow

[2019-10-21 18:23] wygonikGCIO opened #2620 "Certificate of Eligibility Process"
Create and/or clarify an experience for an “on demand” Certificate of Eligibility (COE)
Establish new workflow with School Certifying Officials to reduce time to confirmation of benefit

[2019-10-21 18:24] wygonikGCIO opened #2621 "GI Bill Statement of Benefits"
Address Veterans Benefits and Transition Act of 2018 (VBTA) compliance
Clarify GIBSB can be integration into Veteran and SCO workflow 
 
Improve availability/ stability

[2019-10-21 18:28] Karak888 commented on #2463
@RLHecht were you able to find any more information on this issue or no? Not sure if Nick was able to help you.

@clantosswett I assume this is still occurring pretty regularly?

Thanks!

[2019-10-21 18:30] Karak888 commented on #2451
hi @RLHecht were we still not able to find this in GH?  Just trying to circle back on a few things, thanks!!

[2019-10-21 18:34] CrystabelReiter opened #2622 "Update downtime warning notifications to warning modal style"
**User Story**:

As a UX expert, I want the downtime warning notification updated so that it clearly communicates that the platform is going down soon.

**More context**:

These notifications are in the form of a default modal as displayed here https://department-of-veterans-affairs.github.io/veteran-facing-services-tools/visual-design/components/modal/ This type of modal does not indicate visuall

[2019-10-21 18:36] 1Copenut commented on #1082
@Justin-Pickett I was just working through the backlog and noticed this one hadn't ever been assigned. Please feel free to re-assign or holler at me for more context. Thank you.

[2019-10-21 18:36] RLHecht commented on #2463
@Karak888 I still need Nick or maybe @kelsonic to help me with this one. Not sure where the page lies for me to make the changes.

[2019-10-21 18:38] RLHecht commented on #2451
@Karak888 Still need help with this one. If there's time on the other call I have with Jen and Mikki tomorrow maybe Jen can walk us through it. If not, I'll touch base with her again on it.

[2019-10-21 18:40] CrystabelReiter opened #2623 "Add dismissible alert documentation to design system"
**User Story**
As a UX expert, I want to read more documentation of dismissible alerts so that I can know when to use dismissible alerts in my designs.

**Goal**:

Add more documentation on the alerts components page https://design.va.gov/components/alertboxes on when it’s appropriate to use a dismissible alert box.

**Acceptance criteria**:
[ ] -Add more distinct rules in the “Guidance” section o

[2019-10-21 18:40] Karak888 opened #2624 "Global UX FE Engineering Tasks"
Tasks for front end Engineers working on vsa-global-UX.

[2019-10-21 18:42] wygonikGCIO opened #2625 "GI Bill   Comparison Tool"
Perform policy assessment of tool data points, better align UX to Veteran priorities, promote increased usage, identify staff pain points

[2019-10-21 18:44] Kimberley2019 opened #2626 "DS Logon down - Va.gov/EBN"
Today, 10/21/2019, the following information was reported to us by the HRC Call Center.

Problem description. How might we fix the newly identified issue of:

eBenefits Help Desk is receiving reports of blank screen, latency, “page cannot be displayed”, page spinning/loading when using DS Logon to log into Va.gov or ebenefits.va.gov

![image.png](https://images.zenhubusercontent.com/5d3b2f7176f865

[2019-10-21 18:53] jason-gcio opened #2627 "Contribute Card Component to VA Design System"
## Story
As a team member working on VA.gov, I want to be able to use the card component to display data in a more legible format.

## Goals
Contribute a component that houses multifaceted data in the form of cards as opposed to tables, which should only be used for numerical data representations.

## Considerations
- Review protocols found in the [Contributing to Formation](https://design.va.gov/

[2019-10-21 18:54] clantosswett commented on #2463
@Karak888 when you say occurring regularly, what do you mean? Basically this is a content update we need to make so that users are no longer calling the wrong number to get help when they are stuck or have questions. Hope this helps and let me know if you need additional information.

[2019-10-21 18:58] ricetj commented on #1845
Still open, please do not close if you still need access.

[2019-10-21 19:03] Karak888 commented on #1626
closing out this ticket as it seems to be covered under superteam / CMS stuff.  @ncksllvn let me know if you want this to stay open? thanks

[2019-10-21 19:03] #1626 closed

[2019-10-21 19:06] mnorthuis commented on #1727
@RLHecht sorry!  Corrected link above...I left off the last digit of the issue #.

[2019-10-21 19:06] #2446 closed

[2019-10-21 19:10] nathanhruby opened #2628 "vets-api sidekiq performance tuning"
This is a tracking ticket for sidekiq performance tuning in vets-api as a result of EVSS / https://www.va.gov/track-claims/your-claims related issues from an incident on 2019-10-21.

- [ ] Look at enabling sidekiq [swarm](https://github.com/mperham/sidekiq/wiki/Ent-Multi-Process) to maximize thoughput on the current c5.xl instances (is only using one core now)
- [x] Look at concurrency to see if t

[2019-10-21 19:12] nathanhruby commented on #2628
see also #2614 for puma issues from same incident

[2019-10-21 19:13] Karak888 commented on #2451
thanks @RLHecht !

[2019-10-21 19:18] micahchiang opened #2629 "Update url for rated disabilities based on IA feedback"
## User Story
As an engineer, I want to make sure the location of my application is inline with IA feedback, so that analytics, SEO, and web crawlers can access it properly.

## Considerations
- IA feedback has been provided in #2584:
  - Static page URL: www.va.gov/disability/check-disability-rating/
  - Report/dynamic page URL: www.va.gov/disability/check-disability-rating/rating
- URl for this

[2019-10-21 19:22] ncksllvn commented on #1541
Apologies for taking forever on this. This is merged and should be in Staging in the next hour! LMK if you run into any issues grabbing the new attributes and I'll adjust.

[2019-10-21 19:40] micahchiang commented on #2072
@joanneesteban, @nedierecel  - As we move towards deploying rated disabilities to staging, I wanted to kick off a conversation about what sort of events this page should fire. I've attached a screenshot of the page to this comment. Would it be possible, just by looking at it, for you to give us an idea of:

1. How many events would need to be implemented.
2. The names of the events.

I have seen s

[2019-10-21 19:43] markgreenburg commented on #2054
Let's use mobile if available, and home if no mobile available.

[2019-10-21 19:45] 1Copenut commented on #2381
Passes testing in VoiceOver on Safari (MacOS Mojave) as well. LMK when it's in staging and I'll re-test it against NVDA and JAWS.

[2019-10-21 19:55] RLHecht commented on #2609
@AnneHurley These pages are now ready for you to review in Github. I made all the stakeholder edits and also proofread the pages. Once you're good with it we can share the links with stakeholders. @jenniferlee-dsva @Karak888

Heroku: https://vagov-content-pr-570.herokuapp.com/
PR: https://github.com/department-of-veterans-affairs/vagov-content/pull/570

[2019-10-21 19:58] Justin-Pickett commented on #1082
@mojaray2k can you take a look into this ticket. Let me know if you need my assistance with anything in getting the info you need.

[2019-10-21 19:58] nedierecel commented on #2072
@micahchiang Thanks for sharing.

1. For Event Tracking - Outside of 'Check Your Claims and Appeals' and the right rail content, are there any other user interactions that are expected to take place that might not be visible in this mock?
2. For Pageview Tracking - Does this page render a unique URL than /track-claims/? Are there any other historyChanges that take place as the screen loads? I ask

[2019-10-21 20:01] jenniferlee-dsva commented on #2608
@kelsonic Thank you for picking this up! Appreciate you! Please let @peggygannon know when the change is ready to review.

[2019-10-21 20:04] 1Copenut commented on #1252
@desireeturner I reviewed all of the tickets and left one comment on the PR. I'm good for your team to close this item when the last update is made.

[2019-10-21 20:04] arickalewis1 commented on #2316
Submitting the research plan for review @lalexanderson-dsva
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/facilities/facility-locator/research/discovery-sprints/user-research/research-plan.md

[2019-10-21 20:06] micahchiang commented on #2529
This isn't relevant for now, since we've decided to continue with the right side rail.

[2019-10-21 20:06] #2529 closed

[2019-10-21 20:16] lkoenigsberg commented on #2453
@Samara-Strauss , this is great stuff and I only have a few comments/questions/suggestions.

1. Consider making the breadcrumb Home: Profile: Page, where Page is the section you are in now.  I’m sure you talked to the IA folks and maybe what you have is better, just wondering if there’s a real use case where a user might want to go back tot he start of profile and w/out a breadcrumb is not sure ho

[2019-10-21 20:22] kelsonic commented on #2608
@peggygannon the PR is ready for review! https://github.com/department-of-veterans-affairs/vets-website/pull/10927

[2019-10-21 20:27] AnneHurley commented on #2098
[Education remaining issues.docx]
(https://github.com/department-of-veterans-affairs/va.gov-team/files/3752727/Education.remaining.issues.docx)
@jenniferlee-dsva  @RLHecht
I've created a word doc listing all these missing pieces of info, with sections to be added, and where I think they would make sense, but please let me know if you disagree.
A few notes:
1. The special Air Force requirements que

[2019-10-21 20:29] kelsonic commented on #2463
@RLHecht @Karak888 You can assign this to me 👍

[2019-10-21 21:03] lkoenigsberg commented on #1129
Working on getting my encrypted email working but if your in the office tomorrow (Tuesday) I’ll stop by and maybe get a few examples directly from you.

[2019-10-21 21:04] #746 closed

[2019-10-21 21:11] RLHecht commented on #2463
@kelsonic When you make the change, please take out the vanity number and fix the text so it reads: If none of the above situations applies to you, and you think your Statement of Benefits should be here, please call the GI Bill Hotline at 888-442-4551. @clantosswett Should the TTY number still be included?

[2019-10-21 21:11] 1Copenut commented on #2569
@narin && @markgreenburg I took a look at this on Friday and have some general 508 comments and a Codepen for proof of concept: https://codepen.io/tpierce_402/pen/LYYxLxN

========================================
HTML
* Codepen with the [calendar mocked up using a table](https://codepen.io/tpierce_402/pen/LYYxLxN)
* `<i>` should have an `aria-hidden=“true”` attribute so it’s not a stop for virtual

[2019-10-21 21:15] clantosswett commented on #1129
I'll be in so feel free to stop by whenever!

[2019-10-21 21:21] AnneHurley commented on #2609
@RLHecht  @jenniferlee-dsva  @Karak888  I've reviewed/approved this page and it's ready for SME review.

[2019-10-21 21:54] 1Copenut commented on #1817
Add a tooltip-like short explainer and guidance for when to use it over the more interactive Learn more elements.

[2019-10-21 22:14] 1Copenut commented on #2553
@kelsonic I'm gathering notes tonight for this and will add them as a single comment here ASAP.

[2019-10-21 22:18] jenniferlee-dsva commented on #2609
@AnneHurley - just want to confirm - there are actually 5 pages. Are all 5 reviewed and ready for SME?

[2019-10-21 22:21] AnneHurley commented on #2609
@jenniferlee-dsva  - Yes all ready assuming all the time info etc is correct.

[2019-10-21 22:30] #2201 closed

[2019-10-21 22:39] #2367 closed

[2019-10-21 22:51] jason-gcio commented on #2380
@Samara-Strauss Thank very much for responding, my apologies for not writing sooner.  We will wayfind to an intermediate solution in the meantime.  Thanks again for the guidance!

[2019-10-21 22:51] #2380 closed

[2019-10-21 22:57] narin commented on #2569
Thank you @1Copenut.  The item with the highest LOE would be converting the calendar to using a table instead of divs.  I'd be interested to know if using the table `roles` outlined [here](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/Rowgroup_Role) would be an acceptable solution, either long term, or for the interim?

[2019-10-21 23:08] jonwehausen commented on #1541
Thanks a lot for this @ncksllvn ! This is great!

@nedierecel, I've got [this workspace](https://tagmanager.google.com/#/container/accounts/144676348/containers/2214120/workspaces/689) setup to leverage the HTML attributes Nick has setup.

I setup two global JS variables that can pull in the data-label and data-alert-box-title components.

Let me know your thoughts. @ncksllvn we'll confirm when we

[2019-10-21 23:11] peggygannon commented on #2011
@rileyorr Hi, Riley, I updated the HLR mockup with some additional content recommendations. Please let me know if you have any questions or need to sync up with me over the phone. I've made a note that some of my edits should be shared with a SME to ensure I've interpreted the content accurately.  Let me know if you have any questions!

https://vsateams.invisionapp.com/share/W5U21BDFTQK#/screens/3

[2019-10-21 23:20] kfrz commented on #512
Perhaps related, `vets-api/src/lib/evss/auth_headers.rb:16` has `'va_eauth_assurancelevel' => @user.loa[:current].to_s` which was written in 2016 it seems, and is showing up in all the EVSS remote job failures. Will continue to investigate.

[2019-10-21 23:23] peggygannon commented on #1882
The error messaging dictionary and guidelines have been moved to the design section of design system (https://design.va.gov/patterns/)

These references will be crosslinked from the content section.

Updated links:
https://design.va.gov/patterns/messaging-dictionary
https://staging-design.va.gov/patterns/error-messages

[2019-10-22 00:31] jenniferlee-dsva commented on #2609
@RLHecht - One teensy thing. On the Decision Review page, there's a missing colon after a bolded Note.

Note[MISSING COLON] You can’t file a Supplemental Claim if you have a fiduciary claim or you’re one of multiple people claiming the same benefit (this is rare).

Will send this to stakeholders with preview links now, as this is not a showstopper, but wanted to note it should be fixed before go-l

[2019-10-22 04:30] wyattwalter opened #2633 "API latency 2019-10-21"
Incident from 2019-10-21 where vets-api experienced high latency and caused instances to cycle in and out of the ASG. Incident first detected here: https://dsva.slack.com/archives/C30LCU8S3/p1571670614020900

Looks like some issues with Sidekiq workers caused abnormally high polling by the front-end which eventually resulted in latency issues and instances becoming unhealthy. Need to write up lear

[2019-10-22 08:13] lihanli opened #2634 "log vet360 address errors"
we have been seeing a lot of errors around vet360 address updates, the vet360 team wants us to log these errors and send it to them so they can investigate

[2019-10-22 12:42] ricetj commented on #2613
resolved

[2019-10-22 12:42] #2613 closed

[2019-10-22 13:39] nedierecel commented on #2359
@erikphansen For naming conventions, is it easier for your code to use camelCase? If so, I can use `errorKey` and also use camel case for the sections like `primaryTelephone` vs. `primary-telephone` (as outlined in #1740).

[2019-10-22 13:57] erikphansen commented on #2359
@nedierecel it's not any easier one way or another. But for whatever reason we use hyphens in the front end for both the keys and the values. That's how I set it up in my PR that should get merged and this morning and go out with the daily deploy.

[2019-10-22 14:01] nedierecel commented on #2359
@erikphansen For naming conventions, is it easier for your code to use camelCase? If so, I can use `errorKey` and also use camel case for the sections like `primaryTelephone` vs. `primary-telephone` (as outlined in #1740).

[2019-10-22 14:02] nedierecel commented on #2317
@elwoodva Following up here if you need Analytics-Insights to do further testing.

[2019-10-22 14:04] sonntag-adam commented on #2386
Testing passes

[2019-10-22 14:05] RLHecht commented on #2609
@jenniferlee-dsva Good catch! That's been fixed now so all we need to do is enter any other stakeholder changes.

[2019-10-22 14:06] erikphansen opened #2635 "Improve tests coverage of paymentInformation actions"
- make sure that events are reported to GA correctly
- make sure that the unhappy paths are covered

[2019-10-22 14:11] amyknox commented on #1627
@nedierecel

For this datalayer push,
dataLayer.push({'event': 'gibct-form-change', 'gibct-form-field': 'gibctExtensionCampusDropdown', 'gibct-form-value': 'Insert location here'});

Some extension campuses use the same name - there are a number of "Strayer University" entries, for example.  We're looking for ways to distinguish these extensions in GA.  We could use the City & State for that exten

[2019-10-22 14:11] erikphansen opened #2636 "Refactor code that parses Direct Deposit save errors"
As described here https://github.com/department-of-veterans-affairs/vets-website/pull/10930#discussion_r337240086

I also noticed that the code needs to be more precise. It needs to make sure that the searched-for key and text are part of the _same_ error message; as it stands it only checks to see if there's a message that has a given key and a message that contains a given text string. Hypotheti

[2019-10-22 14:22] jenniferlee-dsva opened #2637 "Update FOIA + Privacy footer links"
## What happened?

1/ On this page, called **Privacy, policies, and legal information** https://www.va.gov/privacy-policy/
- The  Freedom of Information Act (FOIA) link on the page is currently pointing to a 404. It should point to their new URL: https://www.va.gov/foia

Screenshot:
![image.png](https://images.zenhubusercontent.com/5bb2975c143b4d2ee7a35ef6/d60a195c-9460-4322-9a9d-5863ac6d6cee)

##

[2019-10-22 14:24] nedierecel commented on #1627
@amyknox Confirming I've seen this and will look into the compliance piece.

[2019-10-22 14:24] jenniferlee-dsva commented on #2637
WAIT - please hold.

[2019-10-22 14:31] jenniferlee-dsva commented on #2637
Okay, updated. @Karak888 @RLHecht

[2019-10-22 14:32] andreahewitt-odd opened #2638 "Interate on General Onboarding presentation"
[ ] - Add information about engaging practice areas
[ ] - Hold meeting with full Product Support team to identify gaps based on request they've received.

[2019-10-22 14:34] #2021 closed

[2019-10-22 14:43] Samara-Strauss commented on #2329
Thanks @jonwehausen and @nedierecel! Here are my thoughts:

I think this makes sense. Re: 2FA, just be aware many people are defaulted into 2FA if they sign up through ID.me, so we would specifically want to look at transactions initiated from the profile.

So, to be clear, all of the profile features (contact, personal, military, and direct deposit info) are staying right where they are, and we a

[2019-10-22 14:46] sonntag-adam commented on #2387
![Screen Shot 2019-10-22 at 10.44.18 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/323ef7d7-b4d7-4ddd-a21b-ab76e522fe29)

[2019-10-22 14:47] Justin-Pickett commented on #2359
@Nedie, after all the changes are made and pushed, how soon can we get a report of seeing the users events?

[2019-10-22 14:49] jason-gcio opened #2639 "Complete a Usability Study for Rated Disabilities & View Dependents"
## Story
As a member of the eBenefits Team Design Team, I need a usability study regarding the tools page implementation so that I can validate that the new components on the  tools page are an effective choice for conveying disability ratings.

## Tasks
- Create the research plan
- Create the conversation guide
- Establish [mockups](https://xd.adobe.com/view/2b040c88-19d3-47dc-4eba-d18d0636ae4e-5

[2019-10-22 14:51] #2202 closed

[2019-10-22 14:52] sonntag-adam commented on #2387
Testing passes QA

[2019-10-22 14:54] 1Copenut commented on #2569
@narin I'm testing ^^ out this morning and will follow up when I have the big three screen readers tested.

[2019-10-22 14:57] thatmattjohnson commented on #2561
review completed 10/22, details in this document: https://docs.google.com/spreadsheets/d/16IFBkaspXpvi-g17bw8eYUB8-UFsExpTc_4AeXYssgk/edit#gid=0

[2019-10-22 14:57] #2561 closed

[2019-10-22 14:58] thatmattjohnson commented on #2562
migration plan here: https://docs.google.com/spreadsheets/d/16IFBkaspXpvi-g17bw8eYUB8-UFsExpTc_4AeXYssgk/edit#gid=0

[2019-10-22 14:59] jason-gcio opened #2640 "Create Research Plan (Rated Disabilities)"
### Story
As a design researcher, I want to create a consistent plan that encompasses the guidance of approved methods and all the components for the item I am researching.

### Goal
To validate my hypothesis and ensure that I am applying user centered designs before engineers start to build.

### Considerations
Previous Reasearch Plans used:
- [General VSA eBenefits Research Plan](https://github.

[2019-10-22 14:59] thatmattjohnson commented on #2555
review completed 10/21, see document for details: https://docs.google.com/spreadsheets/d/1o2AFM2W1PSXeIM_u-tmo_RjAkHkZrdzdmJ4TPFYy7aw/edit#gid=0

[2019-10-22 14:59] #2555 closed

[2019-10-22 15:11] Samara-Strauss commented on #2453
Thanks for this, @lkoenigsberg!

OK, so this is a little complicated because of how the side navigation is currently built. Right now, the side nav is built so the top heading (outlined in red) only serves to expand/close the navigation. It is *not* its own page and *does not* have its own URL.

<img width="222" alt="Screen Shot 2019-10-22 at 10 47 48 AM" src="https://user-images.githubusercontent

[2019-10-22 15:16] jason-gcio opened #2641 "Create Conversation Guide (Rated Disabilities and View Dependents)"
### Story
As a design researcher, I want to create a consistent conversation guide that encompasses the guidance of approved methods and all the components for the users I will be communicating with.

### Task
- Document a conversation guide to include ([previous](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/ebenefits/research/discovery-conversation-gui

[2019-10-22 15:23] johnpaulashenfelter opened #2643 "Migrate content to va.gov for IA"
Migrate a few CSVs

Personalization: https://docs.google.com/spreadsheets/d/1o2AFM2W1PSXeIM_u-tmo_RjAkHkZrdzdmJ4TPFYy7aw/edit?ts=5dadfd06#gid=0

Call Center: https://docs.google.com/spreadsheets/d/16IFBkaspXpvi-g17bw8eYUB8-UFsExpTc_4AeXYssgk/edit?ts=5daf1760#gid=0

[2019-10-22 15:42] RLHecht commented on #2637
Link updated in Drupal. @peggygannon Can you please review and then publish?

[2019-10-22 15:53] rianfowler opened #2644 "Add exponential backoff strategy to polling behavior"
See

- https://jiayihu.github.io/rx-polling/
- https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/applications/claims-status/actions/index.jsx#L199

# tasks

- identify were services are polling
- update behavior to use a backoff strategy
- add documentation about polling best practices (e.g. point out helper, document how / why for using backoff strategy

[2019-10-22 16:06] RLHecht opened #2645 "Update link to point to 2019-2020 Yellow Ribbon schools"
## User Story or Problem Statement
As a Veteran, I need the most up-to-date list of schools so I can see if my school offers the Yellow Ribbon Program. The program page currently links to the 2018-2019 school year list of schools.

## Goal
In Drupal, update the link to the 2019-2020 list of Yellow Ribbon participating schools on the [Yellow Ribbon Program](https://www.va.gov/education/about-gi-bil

[2019-10-22 16:22] jenniemc commented on #2309
@markgreenburg  here is the screenshot with schedule button located on the left
![image](https://user-images.githubusercontent.com/54327023/67307448-8e52be00-f4c6-11e9-9aef-0ff8e9671eb4.png)

[2019-10-22 16:24] lalexanderson-dsva commented on #2396
@peggygannon these edits look great.

[2019-10-22 16:27] thatmattjohnson commented on #2476
draft document incorporating team feedback here: https://docs.google.com/document/d/1ZyjbSJm8ZOqpeK1n7wdsU4fiyfUl9Np_M0sh_1Z7o6g/edit

[2019-10-22 16:27] #2476 closed

[2019-10-22 16:33] thatmattjohnson commented on #2512
closing, recreating as epic

[2019-10-22 16:33] #2512 closed

[2019-10-22 16:36] rianfowler opened #2647 "On call improvements"
# Overview

The on call process should be reviewed periodically for process improvements. It's probably been a couple of years since it's been reviewed.

# Tasks

- Review the current on call incident process / instructions and identify documentation improvements
  - Documentation should include an overview of  Pager Duty
  - Any references to graphs should include examples of what to look for (e.

[2019-10-22 16:36] thatmattjohnson opened #2648 "[repo migration]: Healthcare"
As a VSP documentation owner I need to copy select legacy documentation to the va.gov-team repo in order for VFS and VSP teams to have ready access to the most relevant legacy assets.

High level procedure:
-- identify content for migration and its destination within va.gov-team
-- copy selected content to the relevant area of va.gov-team (scripting)
-- add deprecation messaging to copied content

[2019-10-22 16:38] thatmattjohnson opened #2649 "[repo migration]: Healthcare - review"

[2019-10-22 16:38] #2337 closed

[2019-10-22 16:39] thatmattjohnson opened #2650 "[repo migration]: Healthcare"
Content/IA steps:

- [x] Review vets.gov-team documentation with SME
- [x] Generate migration plan based on SME feedback; link to issue
- [ ] Review PRs generated by Product Support
- [ ] Complete Part 1 of [migration UAT checklist](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsp/teams/content-ia/vsp-repos/migration-uat-checklist.md) on documentation post-migrat

[2019-10-22 16:39] kfrz commented on #2647
Just to be clear, which process documents are you referring to, [these](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsp/teams/triage/on-call-process.md) or otherwise?

[2019-10-22 16:39] thatmattjohnson opened #2651 "[repo migration]: Healthcare - deprecation"

[2019-10-22 16:40] sporeboy commented on #2364
Final MD write-up is here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/ebenefits/research/discovery/research-findings.md

[2019-10-22 16:40] #2364 closed

[2019-10-22 16:41] thatmattjohnson opened #2652 "[repo migration]: Healthcare - redirects"

[2019-10-22 16:50] sporeboy commented on #2017
Work begun here:

https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/ebenefits/design/dependents/add-modify-dependents-workflows.md

DS Logon issues (?), lack of proper detail in test accounts prevented a full discovery.

[2019-10-22 16:52] thatmattjohnson opened #2653 "[repo migration]: Identity"
As a VSP documentation owner I need to copy select legacy documentation to the va.gov-team repo in order for VFS and VSP teams to have ready access to the most relevant legacy assets.

High level procedure:
-- identify content for migration and its destination within va.gov-team
-- copy selected content to the relevant area of va.gov-team (scripting)
-- add deprecation messaging to copied content

[2019-10-22 16:53] thatmattjohnson opened #2654 "[repo migration]: Identity - review"

[2019-10-22 16:54] thatmattjohnson opened #2655 "[repo migration]: Identity"
Content/IA steps:

- [x] Review vets.gov-team documentation with SME
- [x] Generate migration plan based on SME feedback; link to issue
- [ ] Review PRs generated by Product Support
- [ ] Complete Part 1 of [migration UAT checklist](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsp/teams/content-ia/vsp-repos/migration-uat-checklist.md) on documentation post-migrat

[2019-10-22 16:55] thatmattjohnson opened #2656 "[repo migration]: Identity - deprecation"

[2019-10-22 16:56] thatmattjohnson opened #2657 "[repo migration]: Identity - redirects"

[2019-10-22 17:05] lkoenigsberg commented on #2581
@peggygannon , after discussion with the team we are going to leave the check box's on both the profile and modal.  What we need is better copy for when/if the box is checked or unchecked.

cc @Samara-Strauss, @claricechan, @elwoodva

[2019-10-22 17:13] ncksllvn commented on #1541
Woohoo! Sounds great to me @jonwehausen!

[2019-10-22 17:16] lkoenigsberg commented on #2333
@elwoodva , I think we can solve this using copy instead of making both a copy and design change.

My proposed solution is to use new copy (from https://github.com/department-of-veterans-affairs/va.gov-team/issues/2581) but keep the check boxes on both the profile and within the modal.

cc/ @Samara-Strauss and @claricechan

[2019-10-22 17:17] lkoenigsberg commented on #2428
@elwoodva , I think we can solve this using copy instead of making both a copy and design change.

My proposed solution is to use new copy (from https://github.com/department-of-veterans-affairs/va.gov-team/issues/2581) but keep the check boxes on both the profile and within the modal.

cc/ @Samara-Strauss and @claricechan

[2019-10-22 17:22] lkoenigsberg commented on #2433
Note that we will still be having checkboxes on the profile page and make appropriate copy updates to support the 508 issue at https://github.com/department-of-veterans-affairs/va.gov-team/issues/2428.

[2019-10-22 17:26] Samara-Strauss commented on #2581
I've updated the top message to reflect the new direction we're taking.

I'm also waiting to hear back from Trevor about whether we need to specifically mention checking AND unchecking the box, and will update the directions accordingly when I hear back.

[2019-10-22 17:44] Karak888 commented on #2637
oh wow didn't know footer was in Drupal yet, cool!  So @peggygannon please just let me know when you have reviewed and updated so I can close out on my end.  Thanks!!