[2021-07-14 12:51] #26515 closed

[2021-07-14 13:01] timwright12 commented on #26651
@mpelzsherman  Opened [PR](https://github.com/department-of-veterans-affairs/content-build/pull/365) to update manual checks to run on:

[code]

[2021-07-14 13:04] zurbergram commented on #23284
Closing as https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/applications/gi/README.md now exists

[2021-07-14 13:04] #23284 closed

[2021-07-14 13:15] ltrombley commented on #27285
Updated for VISN-20 & VISN-9 which are the VISNs we held off on cloning the Leadership pages

[2021-07-14 13:17] MarciMcGuireGCIO commented on #25571
Closing this issue; will open a new one specific to adding the A/B versions per our conversation on 7/13/2021

[2021-07-14 13:17] #25571 closed

[2021-07-14 13:28] craigwheeler opened #27305 "Add widgets to /manage-va-debt"
## Issue Description
The content separation work completed by platform moved the static page for /manage-va-debt on localhost:3001 -> localhost:3002 and as a result does not load any content

![listing directory manage-va-debt 2021-07-02 15-50-24.png](https://images.zenhubusercontent.com/5f355b2a6fe9a1b76ba980d4/03f5480b-5eeb-411d-8cfe-707beab3992f)
---
## Tasks
- [ ] Add widgets for FSR and Debt

[2021-07-14 13:30] dneel-bah opened #27306 "CT: Accept "In-State Tuition URL" column in WEAMS file and incorporate into version generation."
As an Education Team Member, I need the In-State Tuition URL to be loaded from the WEAMS data file so that the update of the information can be automated in place of the current manual process.

## Assumptions:
1. This work is completed in GIDS and does not require a prod / feature flag.
2. This story is to replace the data file InStateTuitionPolicyUrl.

## Acceptance Criteria:
1. A WEAMS file wit

[2021-07-14 13:33] denisecoveyduc opened #27307 "Exploration - Screenreader pronunciation"
##  Description
The accessibility team identified a level 3 defect that requires some exploration in order to determine what is required to resolve

## Background

- 408-defect-3 [SCREENREADERS]: Word "veteran" in search suggestions mispronounced and search suggestions are spoken twice #24784

## Steps
- Acquire screen reader
- attempt to replicate
- investigate screenreader issues on firefox
- di

[2021-07-14 13:38] MarciMcGuireGCIO commented on #26829
Moving to Sprint 52 per Zach's comment above ^

[2021-07-14 13:38] #27128 closed

[2021-07-14 13:42] MarciMcGuireGCIO opened #27308 "**DECISION TOOLS SPRINT 52 PRIORITIES (Jul 14-27)**"
<hr>

## 🏖️ Sprint 52 Vacation/PTO/Holidays
- Cindy PTO - 7/14/2021

## :fire: Sprint 52 Priorities

### Find a Form Bug Fix
- [x] Mark - fix for issues he's found in Forms API
- [x] Marci - test Mark's changes extensively on Staging 7/15

### FIND A VA FORM PDF DOWNLOAD INSTRUCTIONS, EPIC #26816
- [x] (Zach) - Find a VA Form - PDF Instructions - Implement single alert option on Staging for user r

[2021-07-14 13:45] dat-gcio commented on #27273
Around 9:30 AM EST, I was not able to reproduce this error anymore.

[2021-07-14 13:46] denisecoveyduc opened #27309 "S+D Sprint 52 Priorities"
## Search & Discovery Team Sprint 52 Priorities

To summarize and track team efforts aligned to Sprint 52 (July 14 - 27, 2021)
_Aligned with [Quarterly Planning](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/search-discovery/quarterly-planning.md)_

## Sprint Goals/ Priorities
1. Establish high fidelity designs ahead of usability study
2. Finalize usabil

[2021-07-14 13:51] timwright12 commented on #26651
vets-website PR as well https://github.com/department-of-veterans-affairs/vets-website/pull/17860

[2021-07-14 13:53] srsuddath commented on #27307
I am sizing this issue as a 5 due to needing to acquire a screen reader in order to even begin testing / replicating this issue

[2021-07-14 13:58] craigwheeler commented on #22684
Hi @joshkimux ... theres been some recent work around debt letters and appears that `vets.gov.user+1@gmail.com` is loading mocked user data for the download debt letter links now so you should be able to continue with user 1 let me know if something doesn't look right and i'll look into it ..thanks!

[2021-07-14 14:01] #25126 closed

[2021-07-14 14:01] LeKeve commented on #26384
Documentation updated. Ready for validate

[2021-07-14 14:05] #25918 closed

[2021-07-14 14:08] jwowk commented on #26647
7/14 - OVAC approved sending of messages. Approved form is attached. Shawn Kingston will reach out when ready to send.

[https://app.zenhub.com/files/133843125/d08d4948-b75c-419e-b878-3674284c218b/download](https://app.zenhub.com/files/133843125/d08d4948-b75c-419e-b878-3674284c218b/download)

[2021-07-14 14:08] denisecoveyduc opened #27310 "S+D Sprint 53 Priorities"
## Search & Discovery Team Sprint 53 Priorities

To summarize and track team efforts aligned to Sprint 53 (July 28- August 10)
_Aligned with [Quarterly Planning](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/search-discovery/quarterly-planning.md)_

## Sprint Goals/ Priorities
1. Finalize High Fidelity Designs Ahead of Midpoint
2. Complete Midpoint Revie

[2021-07-14 14:10] denisecoveyduc opened #27311 "S+D Sprint 54 Priorities"
## Search & Discovery Team Sprint 54 Priorities
 To summarize and track team efforts aligned to Sprint 54 (Aug 11- 24)
_Aligned with [Quarterly Planning](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/search-discovery/quarterly-planning.md)_

## Sprint Goals/ Priorities
1. Sprint goal to be added
2. Sprint goal to be added
3. Sprint goal to be added

## C

[2021-07-14 14:19] joanneesteban commented on #25870
Thanks, @chloedotbrown !

🤔 Questions
- **Chart Title** - (I should've titled this "Dashboard Title" instead) This is more an issue about matching product name.
- **Data sources** -  Let's keep the section to remind folks they should still be looking at satisfaction as a KPI. I don't believe we have any ForeSee data specific to these products, but we should check in with Jason Woodman about who ha

[2021-07-14 14:21] jbalboni opened #27312 "Handle 612 site facilities api fetches"
Sentry: http://sentry.vfs.va.gov/organizations/vsp/issues/31252/events/65591ccbc4c84082b3a1f6cfd05ae873/?environment=production&project=4&query=is%3Aunresolved+appointments%2Fva&statsPeriod=14d

We're often fetching facility information for site 612, which doesn't exist in the facilities api. This happens because there's not an actual facility at 612, but we're likely getting some video (or regula

[2021-07-14 14:27] zacharymorel commented on #26829
Something of note, can we get a conformation that Booze Allen is still considering about combining YR in with GI Bill tool.
I was chatting with their engineers and they were not aware of it, nor do they consider thee YR tool under their umbrella to maintain.

[2021-07-14 14:28] SgardnerPMP opened #27313 "[VAMC] Create csv file for VISN-22, VISN-5, VISN-12 System Health Services used to migrate into CMS Systems [VAMC]"
## Story
As a data editor and customer, unique system health services need to be pulled from the system playbook and migrated through an automated process, so the process is scalable and accurate.

## Goal
Create a repeatable process that will allow for scalable input into the CMS system via data migration

## Resources
[Previous csv files](https://drive.google.com/drive/folders/1jpxDn49L4NonSd6bx

[2021-07-14 14:28] ajakabcin opened #27314 "Authenticated Experience: Sprint 55 (8/25 - 9/7)"
## Priorities

1. Complete Notification Preferences build
2. Test Notification Preferences: with VA Profile and VA Notify; and internally
3. Action Items research synthesis

PTO
- all team members 9/6 (Labor Day)
- Lihan 8/30 - 9/10
- Tressa 9/6 - 9/10
- Taylor 9/3

## Notification Preferences
**PM**
- [ ] Finish test case documentation #26223
- [ ] Submit test plan ticket for Notification Prefere

[2021-07-14 14:28] #22932 closed

[2021-07-14 14:28] #25908 closed

[2021-07-14 14:28] #26291 closed

[2021-07-14 14:28] #26857 closed

[2021-07-14 14:29] timwright12 commented on #25215
Closing this since we've already moved onto the tickets

@jhonnyoddball @meganhkelley

[2021-07-14 14:29] #25215 closed

[2021-07-14 14:32] SgardnerPMP opened #27315 "[VAMC] Create csv file for VISN-22, VISN-5, VISN-12 Facility Health Services used to migrate into CMS Systems [VAMC]"
[VAMC] Create csv file for VISN-1 Facility Health Services used to migrate into CMS Systems [VAMC]

## Story
As a data editor and customer, unique system health services need to be pulled from the system playbook and migrated through an automated process, so the process is scalable and accurate.

## Goal
Create a repeatable process that will allow for scalable input into the CMS system via data mi

[2021-07-14 14:35] RLHecht commented on #27269
@bethpottsVADEPO

Lori said this should go under the Manage your policy and benefits section. If so, my suggested copy is:

**Get an instant loan decision**
Learn about instant loan approval for your insurance loan applications.

If we think it makes more sense to go under More information and resources, my suggestion is:

*Instant loan approval**
Find out how to get an instant decision on your in

[2021-07-14 14:40] timwright12 commented on #9268
@bradbergeron-us @Mottie did you have a specific rule in mind here. I'm not able to find anything that does this. Also if you have an example on the site where this is happening, that would be extra helpful

[2021-07-14 14:41] timwright12 commented on #9556
This doesn't complete this ticket, but we do now have build timestamps available for each step: https://www.va.gov/metalsmith-build-data.json

[2021-07-14 14:42] melissa-lefevre commented on #27186
Something to consider is to avoid using red buttons for normal call to actions, otherwise you’ll alarm users. Reserve them for destructive actions only. We follow this for the most part but we do have red for the crisis hotline, perhaps it is worth considering alternatives here.

All of the actions in the top right of the nav are affirmative such as "Save" and all of the top left are dismissive ta

[2021-07-14 14:44] timwright12 commented on #12432
@mchelen-gov We have an in progess ticket to publish the coverage report https://app.zenhub.com/workspaces/vsp---frontend-tools-5fc9325744944e0015ed1861/issues/department-of-veterans-affairs/va.gov-team/184

Would that satisfy this?

[2021-07-14 14:44] timwright12 commented on #13031
Kicking over to design system as they own forms now

[2021-07-14 14:45] joshkimux commented on #23436
@ajakabcin I'm trying to verify now but profile is not loading for some reason
<img width="1156" alt="Screen Shot 2021-07-14 at 10 45 05 AM" src="https://user-images.githubusercontent.com/14154792/125642169-36652073-47de-4077-94e3-41a60fb2e174.png">

[2021-07-14 14:45] #25536 closed

[2021-07-14 14:46] #26489 closed

[2021-07-14 14:46] pjhill opened #27316 "Exploring Chrome Dev Tools Integration with Cypress"
# Description
Accessibility tree in dev tools might be useful to check ARIA labels for example.  While exploring this possibility, we should focus in on one particular application such as ARIA-labe.

Explore the possibility of throwing a warning if a product meets certain less than ideal conditions for a11y.

[2021-07-14 14:50] #26181 closed

[2021-07-14 14:50] #17744 closed

[2021-07-14 14:52] LindseySaari opened #27317 "attr_encrypted key rotation"
## Issue Description
Our database attrs are encrypted via the attr_encrypted gem. The key used to encrypt the attribute needs to be rotated (probably on a monthly basis, similar to the session key rotation) in an effort to decrease brute force and malicious user based vulnerabilities

If a malicious actor obtains the value of our db encryption key, they will then have full access to decrypt all th

[2021-07-14 14:55] holdenhinkle commented on #26740
The bug I encountered persists, but Applitools says:

Matt Jasaitis (Applitools)

Jul 9, 2021, 10:38 AM PDT

Hi Holden,

Interesting, I'm not seeing the same problem on my side. How did your meeting go? Was this issue resolved?

If not, I'm happy to set up a quick call to go over this issue in your environment so I can better understand what the problem is.

---

I'm moving this ticket to Review/Q

[2021-07-14 14:55] timwright12 commented on #13088
@mchelen-gov I can see that the codeclimate file was removed in Nov. 2018 (but the data kept reporting), then it was added back in Oct. 2019 (this is when the data dropped off)

https://github.com/department-of-veterans-affairs/vets-website/commits/master/.codeclimate.yml

I can look into this one

[2021-07-14 14:56] #25790 closed

[2021-07-14 14:56] #26822 closed

[2021-07-14 14:57] joanneesteban commented on #26507
Head's up, @chloedotbrown - everyone on the [VSP Roster](https://docs.google.com/presentation/d/1ktf_Gx8UJGW9sJiIgyNCWuCe16zMkjjlnZ1mXEEZQFQ/edit#slide=id.g5b254597e5_6_40) should be filtered out from our AooA. The most important folks to filter out are members of our own team, including `VA.gov Platform Analytics & Insights` & `Participant Tester`.

[2021-07-14 14:57] holdenhinkle commented on #25900
This work is done.

[2021-07-14 14:57] Mottie commented on #9268
No specific rule I can think of, but I just asked the design council if the [punctuation documentation](https://design.va.gov/content-style-guide/punctuation#contractions) could get updated with a rule. here is the closest thing I could find to a consensus - https://dsva.slack.com/archives/C0NGDDXME/p1589892039330600

We have examples in pretty much every form, e.g. https://github.com/department-o

[2021-07-14 14:58] dat-gcio commented on #27273
Error started happening again.

Something I've also notice is that in this new incognito session, if you navigate around va.gov and use the hyperlinks to get to the 1010cg form, you wont get these errors. Leads me to believe that the somewhere along these steps, the token is getting set.

[2021-07-14 14:59] #17730 closed

[2021-07-14 14:59] joshkimux commented on #23436
<img width="760" alt="Screen Shot 2021-07-14 at 10 59 31 AM" src="https://user-images.githubusercontent.com/14154792/125644695-0e28ca7f-9e8c-407e-9124-b67a8f4a1148.png">
Confirming this has been fixed 🥳

[2021-07-14 14:59] #23436 closed

[2021-07-14 15:02] jason-gcio opened #27318 "Request Security and Privacy Review (Dep Ver Modal) (BE)"
## Background
While this is not a large feature, we still need to submit a privacy and security review and document any relevant developments.

## Considerations
## What artifacts do I provide?
VFS provides:
- Link to [product outline](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/product-management/product-outline-template.md)
- Ensure Product Outline contains

[2021-07-14 15:03] holdenhinkle commented on #20024
This ticket is old.

LambdaTest tried to demo the product with our custom Cypress configuration a few months ago and it didn't get well. Just errors.

Moving this to Review.

[2021-07-14 15:05] #24936 closed

[2021-07-14 15:05] jwowk commented on #26610
7/9 - July messages were sent (24): "The world is a better place because you are in it."

[2021-07-14 15:07] jason-gcio opened #27319 "Incorporate COE Recommendations"
## Background
Now that the COE feature has had some feedback and analyzed, we need to incorporate that feedback into the feature so that we can be sure we have improved the feature as much as possible based on real Veteran and stakeholder input.

## Tasks
- [x] Using feedback, create a changelog of changes for FE to make
- [x] Update any applicable mockups or prototypes

## Acceptance Criteria
- [

[2021-07-14 15:08] gmaciolek commented on #25850
@AGarcia-Clarity My apologies, but I might have been a little overconfident in my estimate for when I could have the content ready. I'm in the middle of some other sprint work that I have to prioritize ahead of this today. Can I give you the content by Friday?

[2021-07-14 15:08] jbalboni opened #27320 "Refactor provider selection field"
The ProviderSelectionField component is pretty large and complicated. It would be good to refactor it by breaking it into multiple components and making the different visual states more obvious and scannable.

[2021-07-14 15:09] jason-gcio opened #27321 "Conduct Walkthrough of COE Feature"
## Background
We need to perform an end to end walkthrough of what we have in staging to ensure we are as far along as possible before sharing with LoB.

## Tasks
- [x] ~Schedule some time (Friday morning?) with Team~
- [x] Conduct Walkthrough of COE Feature
- [x] Note any changes

## Acceptance Criteria
- [x] Walkthrough has been completed
- [x] Changes have been noted for completion

[2021-07-14 15:10] AGarcia-Clarity commented on #25850
@gmaciolek That is not a problem at all. I will update my team on the timeline.  Thank you for the update!

[2021-07-14 15:12] timwright12 commented on #13088
It looks like a bunch of the metrics were turned off to incrementally bring them back in, but it never happened https://github.com/department-of-veterans-affairs/vets-website/commit/a25e443991f1d5ea901501fdc5fa3b5115596039#diff-e97904d8a0443f46ad2c8ceb5fbe5355e52f6be540378ab8ea1e98870395d7de

[2021-07-14 15:14] dmccurdybah commented on #25507
PR: https://github.com/department-of-veterans-affairs/vets-api/pull/7431

[2021-07-14 15:15] jason-gcio opened #27322 "Interview VSOs"
## Story
VSOs perform a critical part of the Veteran journey for more benefits and we need to talk to them so that we can be sure to capture any other functionality in our features.

## Tasks
- [x] Reach out to Bill Meadows
- [x] Connect with Josh + Leyda + Dene'
- [x] Schedule a meeting with a reasonable number of VSOs (3 -5)
- [ ] Conduct interviews with VSOs

## Acceptance Criteria
- [x] Calls

[2021-07-14 15:18] jason-gcio opened #27323 "Reconnect with Beth on Content changes"
reach out to Beth about follow up for content on view payments
https://github.com/department-of-veterans-affairs/va.gov-team/issues/26891

[2021-07-14 15:20] jbalboni opened #27324 "[vaos service appointments] Convert request and direct scheduling eligibility checks"
We need to use the info from the patient metadata and clinics endpoints to determine which flow patients are eligible for. These checks happen on the facilities page, generally when you click Continue (sometimes before if there's only one facility).

We also probably want to convert the appointment history call used in this logic to fetch appointments from the vaos service.

Current services:
- GE

[2021-07-14 15:20] denisecoveyduc opened #27325 "[SD] Typeahead 2.0 (Drop Down Component)"
## Description
Establishing a typeahead drop down component to provide veterans with typeahead in various search locations across VA.gov

## High Level User Story/ies
As a VA.gov user, I need to have the option of using a typeahead suggestion when I conduct a query so I can navigate to targeted content more quickly and efficiently.

## Hypothesis or Bet
**If** _we make this change_ **then** _we ex

[2021-07-14 15:22] #26479 closed

[2021-07-14 15:24] bethpottsVADEPO commented on #26050
@MarciMcGuireGCIO @callen2563 @joshkimux Sounds like we're shifting to one alert. Content should change to:

We encourage you to download PDF forms and open them in Adobe Acrobat Reader
Get instructions for opening PDF forms in Acrobat Reader

[2021-07-14 15:27] ajakabcin opened #27326 "[FE] My VA: Clean up My VA 1.0 code post 2.0 launch to 100%"
## Background
Once we launch My VA 2.0 to 100% of users we need to go back and clean up all code from My VA 1.0. We should proceed this work about a week or so after we go to 100% once we're confident that there isn't a reason we'll need to roll back 2.0.

## Tasks
- [x] Erik and Taylor to discuss what needs to be done here
- [x] Taylor to execute

[2021-07-14 15:27] #26290 closed

[2021-07-14 15:28] rebeccawalsh commented on #27201
Just documenting our conversation (re: graphics) here for reference!

For VA.gov proper, messaging shouldn't be contained in imagery, since it is not accessible for screen readers and can cause problems with responsive mobile viewports. We would not be able to control the sizing of the text in those cases, and could potentially be serving up font sizes that are inaccessible. We should focus on cle

[2021-07-14 15:28] sonntag-adam commented on #26835
https://dsvavsp.testrail.io/index.php?/runs/view/1986&group_by=cases:section_id&group_order=asc

[2021-07-14 15:29] jason-gcio opened #27327 "Research Spike for Representative Change Submissions"
## Story
We need to better understand where we are sending 21-22/a's and if the SEP portal is involved so that we can be sure we are delivering the forms appropriately

## Considerations
In case SEP IS involved, we need to know how it correlates and and what the requirements are to integrate.

## Tasks
- [ ]
- [ ]

## Acceptance Criteria
- [ ] Findings have been documented and stored in GH

[2021-07-14 15:30] #26835 closed

[2021-07-14 15:33] brianalloyd commented on #18151
Discussed with CMS, looking to hardcode on Frontend.

[2021-07-14 15:33] RLHecht opened #27328 "Add entry on typographical quotation marks to style guide"
## Issue Description
We need to add an entry to the style guide under the Punctuation section about using the curved typographical apostrophes in text rather than the straight up and down ones.

---
## Tasks
- [x] Add entry to style guide (Randi)
- [x] Review update (Danielle/Beth)
- [x] Merge into master

## Acceptance Criteria
- [x] New content is live in the style guide

[2021-07-14 15:33] #27006 closed

[2021-07-14 15:33] #27004 closed

[2021-07-14 15:34] #24864 closed

[2021-07-14 15:34] MarciMcGuireGCIO commented on #26050
Thanks, @bethpottsVADEPO !

[2021-07-14 15:35] jason-gcio opened #27329 "Sync COE Introduction page with Latest Designs"
## Story
Now that we have gotten design updates we need to update the introduction page of the form to incorporate the new designs for both un-auth and authorized states

## Considerations
- May be done after by #25981 (design)
- There are three states:
  - [Unauth](https://preview.uxpin.com/65c0623a799c268173fe1a3cb4375f9ce00ad820#/pages/139055586/simulate/sitemap) ticket: #27329 (this one)
  - [

[2021-07-14 15:35] miabecker commented on #27119
50,000 users and 102 VAMCs. Would most likely start in Pittsburgh. Going to reach out to Joseph Ukasik as a potential POC.

[2021-07-14 15:40] jbalboni opened #27330 "[vaos service appointments] Convert slots api call in new appointment flow"
We need to convert the slots fetch to the new slots endpoint in the vaos service in the new appointment flow.

Current services:

GET /vaos/v0/facilities/:facility_id/available_appointments

Replacement service:

GET /vaos/v2/locations/:facility_id/clinics/:clinic_id/slots

AC

- [ ] The services listed in current services are not called when VAOS service appointments feature toggle is on
- [ ] Th

[2021-07-14 15:43] jbalboni opened #27331 "[vaos service appointments] Create appointment through VAOS service in new appointment flow"
We need to convert the appointments POST at the end of the new appointment flow to use the VAOS service appointments POST.

Current services:

POST /vaos/v0/appointments?type=va

Replacement service:

POST /vaos/v2/appointments

AC

- [ ] The services listed in current services are not called when VAOS service appointments feature toggle is on
- [ ] The services mentioned as replacement services a

[2021-07-14 15:44] delli-gatti-michael commented on #26834
local testing complete

[2021-07-14 15:46] U-DON commented on #25864
Closing. POC work for building the apps with esbuild has been archived in PR department-of-veterans-affairs/vets-website#17863.

[2021-07-14 15:46] #25864 closed

[2021-07-14 15:46] miabecker commented on #23251
Clipboard project is on hold currently. Not currently in the appointment reminder due to negative feedback from Veterans during usability testing. Pending LRODA (low-risk identity management) project - sending URL, with UID to VA.gov so folks can log in to fill out a questionnaire.

[2021-07-14 15:49] melissa-lefevre commented on #27188
![Leaving the app blue](https://user-images.githubusercontent.com/79866060/125651541-c766ba65-1070-44dd-87c9-756e37b33a44.png)

A11y Considerations:
It seems like the most important thing to consider here not abruptly changing the context. Especially for low vision users we need to make sure there is a clear transition ie a confirmation to inform the user that they are being redirected and give th

[2021-07-14 15:53] jbalboni opened #27332 "[vaos service community care appointments] Convert community care appointment fetches on list and detail pages"
We need to convert the calls to fetch the list of community care appointments as well as single community care appointments to the VAOS service call. Additionally, we will need to update the detail page to fetch provider info from PPMS, like we do for community care requests.

Because the VAOS service now returns both CC and VA appointments in one call, we could just remove the extra CC call, but

[2021-07-14 15:55] timwright12 commented on #13088
Opened PR to turn on the metrics again https://github.com/department-of-veterans-affairs/vets-website/pull/17861

[2021-07-14 15:56] LindaLi123 opened #27333 "Midpoint Review [Deb Resolution, Medical Copays]"
## Steps to complete Midpoint Review
- [x] VFS Product Manager: Create this issue and fill in your team and feature name in the title.
- [x] VFS: Using the Slack Workflow ([User guide](https://depo-platform-documentation.scrollhelp.site/support/Getting-help-from-the-Platform-in-Slack.1439138197.html)), notify Collaboration Cycle team of this Github ticket in #vfs-platform-support.
- [x] Platform:

[2021-07-14 15:57] laurenernest commented on #26384
Looks good. closing ticket.
![26384 validation](https://user-images.githubusercontent.com/72046525/125653440-6096a745-3e21-4a05-8fbf-37b74e366d88.png)

@LeKeve would this clinic selection page never show in the request flow?

[2021-07-14 15:57] #26384 closed

[2021-07-14 15:58] #26856 closed

[2021-07-14 16:04] mnorthuis commented on #26475
@kevwalsh Was there agreement that a redirect was not needed?  I'm assuming we can close this issue?

[2021-07-14 16:05] RudyOnRails commented on #26498
Am I correct when I say that the VA file number should only show on form 1900 when different from SSN, and when it does show, add an extra char box?

[2021-07-14 16:05] mnorthuis commented on #23573
@sporeboy @jason-gcio Can you provide an update on your work so I can update/finalize IA?

[2021-07-14 16:08] brianalloyd commented on #26582
Sprint 51 is closed.

[2021-07-14 16:08] #26582 closed

[2021-07-14 16:08] rjohnson2011 commented on #27277
Per the original ticket - https://github.com/department-of-veterans-affairs/va.gov-team/issues/17631
the main requirement is verifying search brings results and not a redirect to va.gov.

[2021-07-14 16:10] chloedotbrown commented on #26507
Great! I'm already pulling out activity from our team, but I'll add the `Participant Tester` as well. As for the rest of the Platform crew, using Domo groups with a VSP in the name seems like the easiest approach, so long as they're accurate.

@laurensimpson14 this may be a question for you! Are these groups pretty actively maintained?

![VSP Domo Groups](https://user-images.githubusercontent.com/

[2021-07-14 16:11] SKasimow commented on #22997
@jwoodman5 Hi Jason - looks good to me! Can we push to prod today?

[2021-07-14 16:17] bethpottsVADEPO commented on #27269
@RLHecht We don't link to PDFs from our hub--so we need to figure out another solution. I'm talking wtih Mikki about the promo spot, but I'm not sure that's the way to go. Would you look around in the life insurance section and see if there's any page where you link it might be appropriate to link to this PDF?

[2021-07-14 16:24] amyknox commented on #27266
From Joe P on suspensions

2.21 SUSPENSIONS OR DISCONTINUANCES OF PAYMENTS BY VA

           a. VA Rationale. VA may suspend or discontinue payments of education benefits when a school or job training establishment fails to correct reporting requirement errors or if the SAA fails to correct approval criteria deficiencies.
           b. Committee on Educational Allowances. VA may suspend or discont

[2021-07-14 16:25] shiragoodman commented on #27333
@LindaLi123 the Monday 9/19 timeslot is not available. We do have availability on Tuesday 7/20 at 11:30am... does that work for you?

[2021-07-14 16:27] delli-gatti-michael commented on #26834
Changes are on staging. Closing this issue

https://staging.va.gov/gi-bill-comparison-tool-sandbox/profile/11513535#veteran-programs-and-support
![Screen Shot 2021-07-14 at 12.26.47 PM.png](https://images.zenhubusercontent.com/5c07f000391a6f6357adc430/d30c36a4-dfc1-477a-9c47-d83e5dd72bb6)

[2021-07-14 16:27] #26834 closed

[2021-07-14 16:34] RudyOnRails opened #27334 "Sidekiq Admin UI Access Request"
_Access to the Sidekiq Admin UI is managed through a GitHub team under the `department-of-veterans-affairs/vets.gov-write` org. Please provide your GitHub username to be added to that team, along with a reason access is required._

- GitHub username: RudyOnRails
- Reason access is required: A nightly job that sends an email report erred last week and now that the bug is fixed there was a small bur

[2021-07-14 16:37] RLHecht commented on #27269
@bethpottsVADEPO Could we put it as a related link on the eligibility page?

[2021-07-14 16:39] jeff2d2 commented on #27334
Added on 7/14/21

[2021-07-14 16:39] #27334 closed

[2021-07-14 16:45] Dene-human opened #27335 "Create a research plan for the 10-10EZ automatic qualifier usability"
## High Level User Story
As a Veteran applying for health care, I would like to expedite the HC application so I can complete it faster, remove blockers, and have less confusion.

## Goals
_We want to make sure the applicant has full transparency of the experience (that it is expedited, that some questions are skipped) and set proper expectations for that expedited process._

## Acceptance Criteri

[2021-07-14 16:45] Dene-human opened #27336 "Create a research plan for the 10-10EZ short form usability"
## High Level User Story
As a Veteran applying for health care, I would like to expedite the HC application so I can complete it faster, remove blockers, and have less confusion.

## Goals
_We want to make sure the applicant has full transparency of the experience (that it is expedited, that some questions are skipped) and set proper expectations for that expedited process._

## Acceptance Criteri

[2021-07-14 16:52] laurenernest commented on #15951
- Reduce manual process for maintenance windows
- Reduce manual process for extended downtimes
- Document template text, dashboards - to help with creating MAPSUP tickets

[2021-07-14 16:57] chloedotbrown commented on #25870
Awesome, thanks for the quick response! For the last few outstanding things:

- **Exports** – Unfortunately, this is one of the things Domo is not strong in and doesn't provide a lot of flexibility for workarounds. The Domo official rec for improving PDF exports is to keep dashboards under 11 inches tall and Dojo users have recommended DIYing card exports into your own PPT template. Our How-To doc

[2021-07-14 17:01] rebeccawalsh opened #27337 "[MCP] Update prototypes with content/IA/accessibility feedback"
## Issue Description
Danielle provided content feedback in the[ desktop prototype](https://preview.uxpin.com/18073b171729031ac0af64822d31a7427b012d66#/pages/?mode=i) - we need to incorporate her feedback in both the mobile and desktop versions.

---
## Tasks
- [x] incorporate content feedback in both the mobile and desktop prototypes

## Acceptance Criteria
- [x] Prototypes updated and linked in t

[2021-07-14 17:02] joanneesteban commented on #25870
- **Exports** - Ah, sorry, I should've reviewed that document first! Let's keep the documentation as is.

[2021-07-14 17:03] craigwheeler opened #27338 "[FSR] Fix breadcrumbs"
## Issue Description
After the content separation work it was noticed that the breadcrumb path for  "Manage VA Debt" is wrong and redirects to http://localhost:3001/manage-va-debt/request-debt-help-form-5655/manage-va-debt

![Screen Shot 2021-07-14 at 1.03.37 PM.png](https://images.zenhubusercontent.com/5f355b2a6fe9a1b76ba980d4/65edbc4d-cf93-4644-bd08-377f22df7d23)
---
## Tasks
- [ ] Manage VA Deb

[2021-07-14 17:03] kreek opened #27339 "Mobile Appointments NoMethodError"
Looks like some production facilities do not have phone numbers and the regex match is returning nil which then later causes a NoMethodError. Sentry event is [here](http://sentry.vfs.va.gov/organizations/vsp/issues/6142/?environment=production&project=3&query=Mobile&statsPeriod=14d).

```NoMethodError: undefined method `[]' for nil:NilClass
  from mobile/v0/adapters/va_facilities.rb:43:in `phone_f

[2021-07-14 17:04] andaleliz commented on #25985
I reviewed my auto save concepts with our a11y specialists and have refined the recommendations.  I've prototyped them out, but content still needs to be reviewed for all of them.

- Proceed with the modal UX (checkbox triggers confirmation modal), and add a "don't show this again" option in the modal.
  - **Why a modal?** It introduces a little friction to confirm people understand what they're d

[2021-07-14 17:07] callen2563 commented on #26050
@bethpotts I have updated the copy for the version with the alert at the top of the links. Let me know if you'd like to make any tweaks. Thanks! :)
![Find a Form - desktop V6](https://user-images.githubusercontent.com/68560244/125663491-d94300de-4fa9-49c9-aa6a-b641b74dc236.png)

[2021-07-14 17:08] mnorthuis commented on #25663
Updated crosslinking diagram that updates the tool to correctly reflect the ability to view copay bills and detail, as well as includes Travel Pay page (only crosslinked from financial landing page) and shows link to pay.gov for paying copay bills.   This does not show a link between the copay details and the online FSR since the current FSR does not yet support copays.  The copay details page wil

[2021-07-14 17:09] zurbergram commented on #27177
https://github.com/department-of-veterans-affairs/vets-website/pull/17864

[2021-07-14 17:09] jperk51 commented on #27339
Saw the same error popping up on this line: https://github.com/department-of-veterans-affairs/vets-api/blob/b41af48b827a1412ccfa3b1c1304ce71a09b55fa/modules/mobile/app/models/mobile/v0/adapters/va_facilities.rb#L15

[2021-07-14 17:10] dneel-bah opened #27340 "CT Redesign: Update search page display on mobile viewports"
As a developer, I need to update the search page UI of the comparison tool redesign sandbox so that it displays in a user friendly manner on mobile devices.

## Assumptions:
1. This work is completed in the CT sandbox found here: https://staging.va.gov/gi-bill-comparison-tool-sandbox/
2. The "Update tuition and housing estimates" is hidden until a search is executed.
3. The "Filter your results" i

[2021-07-14 17:11] kevinstachura commented on #11803
The claims data comes from EVSS and the appeals data comes from Caseflow (however it's glacially slow). We have data from REDIS(sp?) and that will give us an indicator of what comes back. Mobile app team might have some insights as to what data comes in.

[2021-07-14 17:11] bridgethapner commented on #27186
@melissa-lefevre This is great! Is the re-color of the "Remove" buttons in Profile ready to become a FE ticket?

[2021-07-14 17:12] tmitchellgcio opened #27341 "Access for Taylor Mitchell"
# Instructions
1. Fill out **Description**
2. Change the **Title** to include your name
3. Add the label used by your team (eg: `BAH-526`)
4. Do not remove `operations` label or the `ops-access-request` label; this will notify the VSP Operations team of your request
5. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contrac

[2021-07-14 17:13] shiragoodman commented on #27333
@LindaLi123 the Monday 7/19 slot is already booked, but since this is asynch we can get you feedback by EOD Tuesday 7/20. Thanks.

[2021-07-14 17:14] tmitchellgcio commented on #25985
I like the "Don't show this again" and I agree it should be session based. The only thing we probably need to figure out is a pending state for when the API is waiting for a response. Something like this I would expect to be quick, but it makes sense to have some kind of loading circle. I'm kinda thinking where the saved is have a small loading circle until it's saved and then show the saved messa

[2021-07-14 17:14] ksantiagoBAH commented on #27234
PR: https://github.com/department-of-veterans-affairs/vets-website/pull/17865

[2021-07-14 17:18] joanneesteban commented on #26535
@timwright12 - following up on this! Will you need editing access to BigQuery?

[2021-07-14 17:19] RLHecht commented on #26864
@bethpottsVADEPO I made the updates to the disability page, adding the CTA button and removing the widget. I reworked the text above the CTA and the button text slightly so that it aligned with what we have on other how to apply pages I did the same with the H2 underneath about other ways to file. Can you take a look and let me know if all looks OK?

[2021-07-14 17:20] joanneesteban commented on #27087
Hi @clantosswett - does that report work for you, or do you need anything else from us? Thanks!

[2021-07-14 17:23] joanneesteban commented on #12317
Thanks, @leahkeeler! Any luck with who owns this now?

[2021-07-14 17:24] denisecoveyduc opened #27342 "Create High Fidelity Mockups for prototype"
##  Description
Create high fidelity designs for usability testing

## Acceptance Criteria
- [x] High Fidelity Designs have been created for all 3 pages (Search Landing Page, Home Page and Search Results Page
- [x] Design Exploration for Search Landing Page as discussed during platform design office hours

[2021-07-14 17:24] joanneesteban commented on #20130
@SgardnerPMP Hi! Are we good to close this ticket?

[2021-07-14 17:24] joanneesteban commented on #20131
@SgardnerPMP can we close this ticket as well?

[2021-07-14 17:26] joanneesteban commented on #20347
@mmiddaugh Hi! Checking in - is this in Staging or Prod yet?

[2021-07-14 17:28] kevinstachura commented on #27069
We might make this an epic. @vhenry07 please help us

[2021-07-14 17:28] #27188 closed

[2021-07-14 17:29] rebeccawalsh opened #27343 "[Debt Portal] Ideate and design payments functionality for debt portal (v1)"
## Issue Description
**User story**
As a Veteran, I want to be able to see my payment history and payment agreement information so I can know where I stand with my debt.

We'd like to create a preliminary design so that we can create some guidelines for engineering discovery for the feature. It's likely that we will create something that won't be possible, so this is v1 and will serve as a startin

[2021-07-14 17:29] joanneesteban commented on #25876
@cohnjesse Hello! Were you able to make the change on this? Thanks!

[2021-07-14 17:29] andaleliz commented on #25985
@tmitchellgcio thanks for the feedback - that's a good call. I updated the first interaction on the [success example](https://preview.uxpin.com/51ca6ecd7ddaf2ceaf75f94e2b2ccbed2a193f6d#/pages/140288788/simulate/sitemap?mode=i) to reflect what I _think_ you're talking about. Is that what you were thinking?

[2021-07-14 17:31] joanneesteban commented on #23723
Hi @amyknox ! Do you need anything else from the Analytics team, or are you okay if we close this out? Thanks!

[2021-07-14 17:31] tmitchellgcio commented on #25985
Absolutely! That is exactly what I was thinking

[2021-07-14 17:31] pjhill opened #27344 "Quality Assurance Feedback - Staging Review - [Caregivers, File Upload Error Workflow]"
## VFS acceptance criteria
- [ ] Let Platform know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
- Thanks for getting those test cases into TestRail!

## Feedback
- **Must** = the feedback must be applied
- **Should** = the feedback is best practice
- **Consider** = suggestions

[2021-07-14 17:31] melissa-lefevre commented on #27186
Yes.
![01-Default Copy](https://user-images.githubusercontent.com/79866060/125666352-dca3c1c2-0b3a-4de7-89f8-c0552bb4acf4.png)

[2021-07-14 17:36] miabecker opened #27345 "Business intake form for [1990 Application for Education Benefits]"
## Requestor Name

## Business Line

## What is the business outcome you are trying to achieve? (required 1-2 sentences)

Alerting Veterans when their 1990 Application form has been:

*Received
*Approved
*Denied

**Potentially a reminder as well depending on stats
As a part of the form submission, the team is collecting preferences for communication and channel for communication. Advised the team

[2021-07-14 17:43] RLHecht commented on #26864
@mnorthuis For the CTA button on disability are we linking to the /start page or the /introduction page? In your entry points doc you have /introduction. If the wizard is on the /start page is that an issue?

[2021-07-14 17:44] LinnJS opened #27346 "Scaffold MCP Wizard"
## Technical Task

Make file structure outline in [mocks](https://preview.uxpin.com/18073b171729031ac0af64822d31a7427b012d66#/pages/139873794/simulate/sitemap?mode=i) with cards. Expect to update content and URLs in the future.

## Expected Behavior

- Wizard looks like the mocks with base options and routing

## Acceptance Criteria

- [ ] Looks like mocks supplied
- [ ] Routing is set up for disp

[2021-07-14 17:45] LeKeve commented on #26384
@laurenernest That's correct, clinic selection isn't shown in request flow.

[2021-07-14 17:45] laurenernest opened #27347 "Document MAPSUP ticket creation process"
Document our current process for reporting issues in MAPSUP tickets. Including, but not limited to: information to include, dashboards/images, where to create the ticket.

[2021-07-14 17:45] meganhkelley opened #27348 "Discovery: review libraries/dependencies and recommend upgrades"
## Details

The purpose of this ticket is to investigate what software dependencies should be upgraded in frontend repos.

This should be done in vets-website, content-build, and vets-json-schema if applicable.

### To Do:

- [x] Inventory the package.json files in [vets-website](https://github.com/department-of-veterans-affairs/vets-website/blob/master/package.json) and [content-build](https://gi

[2021-07-14 17:47] LinnJS opened #27349 "Update wizard content and links"
## Technical Task

Assuming that wizard content and links and been solidified we need to update them according to content and design recommendations.

## Expected Behavior

Update scaffold to contain finalized content and links

## Acceptance Criteria

- [ ] *Add updates when finalized here*

[2021-07-14 17:49] ashley-matthews opened #27350 "Replace "View""
## User Story
As a user, I want the app to use accessible language so that it's more inclusive for non-sighted users.

## Acceptance Criteria
* Pages that uses "View" via JSON file:
https://github.com/department-of-veterans-affairs/va-mobile-app/search?l=JSON&q=view

"View your medical appointments"

Change this to "Review your medical appointments"
"To view more details about your appeal, visit V

[2021-07-14 17:49] timwright12 commented on #13088
@mchelen Closing out, this should be all set: https://codeclimate.com/github/department-of-veterans-affairs/vets-website - you'll see the updated metrics in the dashboard and the trends information should be filled in https://codeclimate.com/github/department-of-veterans-affairs/vets-website/trends/technical_debt

[2021-07-14 17:49] #13088 closed

[2021-07-14 17:49] LinnJS opened #27351 "[MCP] Cypress test coverage for wizard"
## Technical Task

Add cypress test to Medical Copays wizard

## Expected Behavior

Medical Copays wizard and test are covered end to end

## Acceptance Criteria

- [ ] Medical Copays has maximal Cypress test
- [ ] Medical Copays has minimal Cypress test

[2021-07-14 17:50] meganhkelley opened #27352 "Review and determine approach for feature toggle request"
## Details

VFS teams (specifically VFS) have submitted a feature request: Provide global access to feature flags on app start up #25105

The purpose of this ticket is to investigate the request, gather additional info as needed, and recommend a path forward.

Possible outcomes might be:
- Recommend implementation of the request
- Recommend implementation of the request but hand to another team to

[2021-07-14 17:51] mnorthuis commented on #26864
@RLHecht Good question!  We actually shouldn't be linking to either /start or /introduction, our links (for any form) should go to the primary form URL (www.va.gov/disability/file-disability-claim-form-21-526ez/)  and the FE code will resolve to the appropriate URL.   This ensures all scenarios are handled (sometimes the wizard is skipped) and that if the wizard should ever be removed, all the ent

[2021-07-14 17:52] meganhkelley commented on #27352
FE Tools team member comments:

[2021-07-14 17:54] denisecoveyduc opened #27353 "Establish engineering requirements for typeahead drop down component"
This ticket is to capture our proposed list of features / implementation decisions for the search and discovery typeahead dropdown component.

## Implementation Decisions
- We have decided to implement this feature as a component within the search application. This will allow us to tailopr this component to meet our specific needs, rather than to prematurely focus on generalizing and over-emphasiz

[2021-07-14 17:56] cbtkc commented on #17794
All steps have been completed. Prometheus will need to be redeployed to pick up the new retry queue size alert.

[2021-07-14 17:59] denisecoveyduc opened #27354 "Identify search terms that use stop words"
- send to search.gov
- continuation to #24994

[2021-07-14 18:02] #26948 closed

[2021-07-14 18:02] jbalboni commented on #27275
Fixed with #26106

[2021-07-14 18:04] andaleliz commented on #25985
Cool - I updated my original comment. I'll persist it through the prototype screens (it's just in one place for now) once I hear back from others.

[2021-07-14 18:04] jason-gcio opened #27355 "Investigate LH Integration Endpoints"
## Story/Background
Now that Lighthouse has finished the work on the endpoint we will use for View Representative, we should investigate and test the endpoint so that we can set up a `vets-api` endpoint that uses the Lighthouse endpoint.

## Considerations
The URL for the Lighthouse endpoint documentation is https://developer.va.gov/explore/benefits/docs/claims?version=current

## Tasks
- [x] Dete

[2021-07-14 18:06] bosawt commented on #17193
Looks like this was actually done recently

[2021-07-14 18:06] #17193 closed

[2021-07-14 18:10] LinnJS opened #27356 "Copay List Page Balance Alert"
## Technical Task

Make a warning alert that fetches total amount of debt owed with the phone number to call to get more information about these said debt.

[Mocks](https://preview.uxpin.com/18073b171729031ac0af64822d31a7427b012d66#/pages/139873795/simulate/sitemap?mode=i)

## Expected Behavior

Warning alert shows how much total debt is owed with phone number to call to get more information

## A

[2021-07-14 18:10] ltrombley commented on #27285
Task #27285 - Return and Clone Leadership pages for VISN-20 and VISN-9 Systems [BA] - is Complete and moved to Validate

[2021-07-14 18:10] joanneesteban commented on #26512
Question for Platform Website tracking. This **does not** need to be added to the dashboard:

- Is there a way to see the search terms & frequency of search terms?

[2021-07-14 18:11] meganhkelley commented on #22335
Update:

* Research with VFS teams has been completed and [synthesis presented](https://docs.google.com/presentation/d/1saLoA19c4ju48GKj4k7u9cghD_JoQHKCGHEsPf9NIeU/edit#slide=id.g5f29ec5fc2_4_71)
* High level proposal being drafted by FE Tools team, which will be shared by end of month

[2021-07-14 18:13] jason-gcio commented on #27108
- Google Events might be unreliable
- This might require a fair amount of time to create a custom widget and then it might not be reliable
- Tracking results in submissions might be tough as well
- Can this be tracked in Sentry? Other tools?

Need some more info before finding a path forward

[2021-07-14 18:15] LindaLi123 commented on #26805
Wait for verification for DFN parsing.

[2021-07-14 18:16] LinnJS opened #27357 "Copays List Page Footer"
## Technical Task

Make the footer for the MCP debt list page with all of the resources and phone numbers they need to reach whom they need to reach. As presented in [mocks](https://preview.uxpin.com/18073b171729031ac0af64822d31a7427b012d66#/pages/139873795/simulate/sitemap?mode=i).

Make sure to use <Telephone/> component for a11y and to add the phone numbers to the global registry if needed.

*M

[2021-07-14 18:16] rebeccawalsh opened #27358 "[Wizard] Outline wizard changes for release of MCP"
## Issue Description
Reassess the medical copayments logic in the current wizard for the launch of the MCP tool.

---
## Tasks
- [x] Reassess the medical copayments logic in the current wizard for the launch of the MCP tool.
- [x] Send the proposed content to VHA stakeholders for feedback
- [x] Create ticket for frontend to implement changes

## Acceptance Criteria
- [x] Wizard logic and content c

[2021-07-14 18:21] MarciMcGuireGCIO commented on #26050
Just to clarify before I roll this into our new sprint -- are we going with the [standard alert style ](https://user-images.githubusercontent.com/68560244/125663491-d94300de-4fa9-49c9-aa6a-b641b74dc236.png) for the single-alert option, and the [experimental blue background with icon style](https://user-images.githubusercontent.com/68560244/125503761-cc8efd99-0dd8-4055-9944-dcb85e4f5460.png) for re

[2021-07-14 18:23] MarciMcGuireGCIO commented on #26050
Clarifying that this task is specific to the mockup.  Build on Staging is a separate issue.

[2021-07-14 18:26] kevinmirc commented on #27237
Duplicate of: https://app.zenhub.com/workspaces/vsa---debt-607736a6c8b7e2001084e3ab/issues/department-of-veterans-affairs/va.gov-team/27238

[2021-07-14 18:26] #27237 closed

[2021-07-14 18:28] MarciMcGuireGCIO commented on #25145
Closing; Lighthouse has added a keyword column that can be used to add abbreviations as we discover them in our analytics.

[2021-07-14 18:28] #25145 closed

[2021-07-14 18:30] johnhashva commented on #27240
@brianalloyd final decision on sticky banner text change from @DanielleThierryUSDSVA --

Get a COVID-19 vaccine at VA

Let us know if any questions about this one.

[2021-07-14 18:34] clantosswett commented on #27087
This was perfect and helped with some of the discussions I was having with VA stakeholders so thank you very much!

[2021-07-14 18:34] dneel-bah opened #27359 "CT Redesign: Add conditional display logic to the ratings functionality."
As a developer, I need to put the ratings functionality in the sandbox behind the ratings feature flag so that it is not enabled in production when the updated CT is rolled out if the ratings functionality data is not available.

## Assumptions:
1. This work is completed in the CT sandbox found here: https://staging.va.gov/gi-bill-comparison-tool-sandbox/

## Acceptance Criteria:
1. Ratings inform

[2021-07-14 18:34] miabecker commented on #27345
See our github page for examples of content: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/va-notify/README.md @audayotte

[2021-07-14 18:34] zacharymorel commented on #26829
@MarciMcGuireGCIO Here is the data we have available from the Yellow Ribbon Programs data base.

[YellowRibbonData-7-14-2021.xlsx](https://github.com/department-of-veterans-affairs/va.gov-team/files/6818228/YellowRibbonData-7-14-2021.xlsx)

[2021-07-14 18:36] MarciMcGuireGCIO commented on #23071
Mockup for this change can be found here: https://github.com/department-of-veterans-affairs/va.gov-team/issues/23591#issuecomment-874870018

[2021-07-14 18:37] jperk51 opened #27360 "Military History Titlize error"
When there is no service branch titlize throws error in API. Would like to handle this more gracefully. Need to determine what case a user would actually not have a service branch and still have a service episode. http://sentry.vfs.va.gov/share/issue/74df6717e30247538ecd919ee8c10792/

[2021-07-14 18:38] MarciMcGuireGCIO commented on #24597
Updating description to link to Experimental Request template.

[2021-07-14 18:40] jbalboni commented on #25906
This looks like it's working in staging now, so I'll close it.

[2021-07-14 18:40] #25906 closed

[2021-07-14 18:42] holdenhinkle commented on #26568
So...

I ran this function beginning in the console on [this page](https://staging.va.gov/find-locations/facility/vha_691) with an element in the Medallia form and it returned `false`:

[code]

So, it's not a shadow dom issue.

The form is in an `iframe` that’s on a different domain - https://resource.digital.voice.va.gov/wdcvoice/5/forms/6/form1626210164730.html?formId=6&ty[…]splayType=lightbox&i

[2021-07-14 18:44] tlei123 opened #27361 "[TR ref] Check-in - Link to Use Case A"
This ticket links TestRail test-case [C5522](https://dsvavsp.testrail.io/index.php?/cases/view/5522) for Check-in **[Use Case A - Happy Path - Successful Check-in](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/checkin/engineering/qa/test-cases.md#test-case-a-happy-path---successful-check-in)**.

[2021-07-14 18:46] tlei123 opened #27362 "[TR ref] Check-in - Link to Use Case B"
This ticket links TestRail test-case [C5523](https://dsvavsp.testrail.io/index.php?/cases/view/5523) for Check-in **[Use Case B - Happy Path - Needs to Update Information](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/checkin/engineering/qa/test-cases.md#test-case-b-happy-path---needs-to-update-information)**.

[2021-07-14 18:46] #25823 closed

[2021-07-14 18:46] LindaLi123 opened #27363 "Debt Letters - Fast Follows"
Getting Debt letters working End to End in staging.

[2021-07-14 18:48] brianalloyd opened #27364 "General Analytics Request for Public Websites Team"
# General Analytics Request

## What this form is for

Use this template to request support for analytics that need interpretation. If you have your KPIs set, please [request a KPI dashboard](https://github.com/department-of-veterans-affairs/va.gov-team/issues/new?assignees=joanneesteban&labels=analytics-insights%2C+analytics-request%2C+kpi-dashboard&template=analytics-request-kpi-dashboard.md&tit

[2021-07-14 18:51] MarciMcGuireGCIO commented on #26829
Whoo hoo!  Thanks!

[2021-07-14 18:54] SKasimow opened #27365 "DISCOVERY | CMS Sandbox | Content Relationship in Drupal for Lang Attribute"
## Story

Per our meeting with CMS on 6/16, there was an agreement that any content relationships should live in Drupal. Since that isn't currently feasible, we'd like to explore the creation of a programmatic workaround that can  be used in the near-term. Ideally, this would make it easier for us to migrate to i18n in the future.

Some of the options noted include:

- meta data tags
- naming conv

[2021-07-14 18:55] tlei123 opened #27366 "[TR ref] Check-in - Link to Use Case D"
This ticket links TestRail test-case [C5524](https://dsvavsp.testrail.io/index.php?/cases/view/5524) for Check-in **[Use Case D - Edge Case - Expired Token](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/checkin/engineering/qa/test-cases.md#test-case-d-edge-case---expired-token)**.

[2021-07-14 18:55] mchelen-gov commented on #27365
is it possible to use node reference fields?

[2021-07-14 18:56] MarciMcGuireGCIO commented on #26986
This request has been implemented.

[2021-07-14 18:56] leahkeeler commented on #12317
sorry must have missed - checking with John H. - he will know where it landed

[2021-07-14 18:56] bosawt opened #27367 "Create a working curl for benefit_summary_dependent letter"
We have a `cURL` that is used in `vets-api` today that generates a `benefit_summary` letter, but we don't send the proper fields over for a `benefit_summary_dependent` letter. If we can get a working `cURL` for this feature, we can start development for this features in `vets-api`

[2021-07-14 18:57] tlei123 opened #27368 "[TR ref] Check-in - Link to Use Case E"
This ticket links TestRail test-case [C5525](https://dsvavsp.testrail.io/index.php?/cases/view/5525) for Check-in **[Use Case E - Edge Case - No token provided](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/checkin/engineering/qa/test-cases.md#test-case-e-edge-case---no-token-provided)**.

[2021-07-14 18:58] bridgethapner opened #27369 "Replacing carousel dots in onboarding UI with a different pattern"
# User Story
Update the UI of the onboarding carousel to remove the dot indicators which suggest swiping (we don't have swipe controls), and replace it with something else

# Screenshot reference
![onboarding-ui-update.png](https://images.zenhubusercontent.com/5d8e52f61c53fd000173c5de/ce844646-45f7-4064-b9db-40907ea1e50d)

# Acceptance Criteria
- [ ] Define new UI style for onboarding carousel pro

[2021-07-14 18:59] tlei123 opened #27370 "[TR ref] Check-in - Link to Use Case F"
This ticket links TestRail test-case [C5526](https://dsvavsp.testrail.io/index.php?/cases/view/5526) for Check-in **[Use Case F -Edge Case - Malformed Token](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/checkin/engineering/qa/test-cases.md#test-case-f-edge-case---malformed-token)**.

[2021-07-14 18:59] jason-gcio opened #27371 "Create Ten 0538 PDFs for Centralized Mail"
## Story
The Centralized Mail folks would like 10 different PDF 0538 so they can run them through the Centralized Mail automated system to update their diary entries, indicating they have verified their dependents as of that date.

## Considerations
- The only (form fields) needed are:
  - (1) Veteran's Name - `Required for establishment`
  - (2/3) SSN or File Number - `Required for establishment`

[2021-07-14 19:00] #26540 closed

[2021-07-14 19:01] tlei123 opened #27372 "[TR ref] Check-in - Link to Use Case G"
This ticket links TestRail test-case [C5527](https://dsvavsp.testrail.io/index.php?/cases/view/5527) for Check-in **[Use Case G - Edge Case - User Tries to check in again after already successfully checking in](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/checkin/engineering/qa/test-cases.md#test-case-g-edge-case---user-tries-to-check-in-again-afte

[2021-07-14 19:01] CBonade commented on #27175
After updating the speed of the runners, the build times have drastically improved on the testing front and I believe are below our target goal of 15 minutes. Process index 1 has the highest time, as it contains our largest spec.  We might be able to trim this down by breaking that spec apart into separate tests, but outside of that, there's not a lot more optimization that I see opportunity for h

[2021-07-14 19:02] tlei123 opened #27373 "[TR ref] Check-in - Link to Use Case H"
This ticket links TestRail test-case [C5528](https://dsvavsp.testrail.io/index.php?/cases/view/5528) for Check-in **[Use Case H - Edge Case - User Tries to check in again after not completing an earlier check in attempt](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/checkin/engineering/qa/test-cases.md#test-case-h-edge-case---user-tries-to-check-in-

[2021-07-14 19:06] bridgethapner commented on #21930
@ashley-matthews let's talk about this ticket today! This seems valuable to include, what do you think?

[2021-07-14 19:06] laurenernest commented on #23895
@LeKeve i'm not seeing the Foot & Ankle Surgery provider that i would've expected in the list
![23895 validation missing provider.jpg](https://images.zenhubusercontent.com/5f7dd2dad6b9a9301bbab94e/1cdcbd72-9fa6-471c-9b5a-bebdb6e5f729)

[2021-07-14 19:07] brianalloyd commented on #27240
Thanks @johnhashva I'm shifting this over to our Stick Banner ticket [25694](https://github.com/department-of-veterans-affairs/va.gov-team/issues/25694) feel free add additional details on that ticket as they come up.  Thanks.

[2021-07-14 19:08] mnorthuis commented on #4934
This is an oldie!  I'm going to hang on to this issue and validate whether anything additional needs to be done.

[2021-07-14 19:11] annaswims opened #27374 "EVSS - Veteran must have DOB"
What we know:
 EVSS  requires that we send the veteran's date of birth in a header for form 526 submissions. There's no point in a veteran starting an application only for EVSS to reject it on submission.  We have the birthday for most but not all identity-verified veterans.

# back end:
the [access_form526?](https://github.com/department-of-veterans-affairs/vets-api/blob/master/app/policies/evss_

[2021-07-14 19:15] melissa-lefevre commented on #27186
User Story:
As a user I feel frustrated when the button I want to select is grayed out because it looks disabled. I need a clear affordance.

Change:
The chevron on a white background throughout the app to Primary-blue #0071bb

Example:
<img width="419" alt="Screen Shot 2021-07-14 at 3 13 19 PM" src="https://user-images.githubusercontent.com/79866060/125679420-2b2ac04d-3122-4027-9278-1441f3e0b0e3.

[2021-07-14 19:15] RLHecht commented on #27219
@lunascoop Here are the translations back for both Spanish and Tagalog pages.

[https://app.zenhub.com/files/133843125/09fe0b47-62da-44d1-b1bf-8a743e59157d/download](https://app.zenhub.com/files/133843125/09fe0b47-62da-44d1-b1bf-8a743e59157d/download)

[https://app.zenhub.com/files/133843125/0ea00aa6-ce36-48ec-a649-5f5dd7b121b6/download](https://app.zenhub.com/files/133843125/0ea00aa6-ce36-48ec-a6

[2021-07-14 19:20] #27093 closed

[2021-07-14 19:22] chloedotbrown commented on #25869
For @bsmartin-ep re: engagement clicks with missing or incomplete link_labels, as mentioned in Grooming today:

- [Links with highest engagement](https://va-gov.domo.com/page/426422632/kpis/details/1727922670): no value in `link_label` for link with 3rd highest clicks in unfiltered dashboard view _(not consistent across views, more notes below)_.
- [Buttons with highest engagement](https://va-gov.

[2021-07-14 19:27] MarciMcGuireGCIO commented on #26907
Blocked - need Content to provide recommendation

[2021-07-14 19:28] johnhashva commented on #25694
**7/14/21 Update** @brianalloyd -- Final decision on sticky banner is to _keep it in place for the time being_ -- and change the  text to: (via @DanielleThierryUSDSVA)

Get a COVID-19 vaccine at VA

[2021-07-14 19:29] joanneesteban commented on #27087
Thanks, @clantosswett ! And thanks, @jennaouellet for your work and help here! Closing this ticket.

[2021-07-14 19:29] #27087 closed

[2021-07-14 19:29] dat-gcio opened #27375 "[Research] Prototype out caregiver facility search"
### Description

Initial research and prototyping of the caregiver support coordinator facilities search and selector.

[2021-07-14 19:32] dneel-bah opened #27376 "STEM AD: Add GA to "View Details" action link"
As a developer, I need to add google analytics tracking to the view details action link so that we can understand how users are interacting with the information.

## Assumptions:
1. The link where the automated denial cards are displayed: https://staging.va.gov/track-claims/your-claims

## Acceptance Criteria:
1. The card "View detail" link fires the following event:

The links in the more resourc

[2021-07-14 19:34] johnhashva commented on #12317
@leahkeeler + @joanneesteban I actually don't know where this landed.   In effect -- we (Public Web, with Liz Lantz and Mikki and Peggy most heavily involved) -- handed off implementation (including Analytics) to the various teams who manage benefits applications that include How to Apply Wizards.  This, per agreement with @mattpointzxer0 .   Our hand-off included fairly well documented guidance h

[2021-07-14 19:36] ajakabcin opened #27377 "[FE] Profile: Implement table styling for screens >768px"
## Background
As part of the revisions to the "remove" functionality, we need to implement different table styling for when screens are >768 px. This needs to be done before [27169](https://github.com/department-of-veterans-affairs/va.gov-team/issues/27169).

Full documentation for remove functionality [here](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identi

[2021-07-14 19:36] amyknox commented on #27267
Draft per @JenLJ

Title: School is suspended
Description: This school does not currently meet the approval criteria for receiving GI Bill funds. The school has 60 days to provide proof of compliance to regain approved status.

[2021-07-14 19:46] laurenernest commented on #26772
@jbalboni Could you drop in a screenshot of what a group appointment looks like currently in homepage refresh?

[2021-07-14 19:46] laurenernest commented on #15294
@jbalboni can you drop a screenshot of what it looks like now?

[2021-07-14 19:47] joanneesteban commented on #27364
Thanks for opening this ticket, @brianalloyd ! Would you be able to attend our office hours tomorrow, 7/15 12:30-1pm ET? We can coach you how to set up your GA dashboards there. Thanks!

[2021-07-14 19:49] lihanli commented on #25985
that design should work fine with the backend api

[2021-07-14 19:52] tchrisdyer opened #27378 "Submission failures on 10-10EZ without an email address look like a successful submission"
## User Story

**As a** veteran, **I want to** know that my submission has failed on the 10-10EZ, **in order to** retry and successfully submit my health care application.

### Background

During research on notifications, we discovered that the 10-10EZ is currently queuing up a Sidekiq job for submission of the form if the user provided an email address. The job will attempt to submit several tim

[2021-07-14 19:52] CBonade commented on #26220
Went ahead and moved this back to the backlog as it will need reevaluating once the a11y test situation is sorted.

[2021-07-14 19:55] joanneesteban commented on #12317
Thank you for the quick responses & info, @leahkeeler & @johnhashva ! We might end up backlogging or iceboxing this until this has an owner then.

[2021-07-14 19:56] #21680 closed

[2021-07-14 19:58] ajakabcin opened #27379 "[FE] My VA: Remove feature flag code for My VA 2.0"
## Background
As part of the code cleanup of My VA (#27326) post launch to 100%, we need to remove the feature flag code since it's available to all users.

We should do this mid-sprint after My VA 2.0 has been live to all users for a few days so that we can make sure there isn't a reason to roll back.

## Tasks
- [x] Remove feature flag code
- [x] Test

[2021-07-14 20:01] zacharymorel commented on #26829
increasing the Est to a 3 because I am looking at the data and the possibility to query using Abbreviations and Autocomplete.

[2021-07-14 20:03] SKasimow commented on #27365
Hi Mike - so funny that you commented on this! I was just pinging you to see if we can grab a few minutes with you tomo as Adam (our new FE) and I have some questions on testing translations in the CMS sandbox. We're meeting with Neil H but not until he is back from PTO on Monday and wanted to start some work before then.

[2021-07-14 20:03] jwowk commented on #21881
Upcoming Updates
Expand Enabled Clinics to include Excluded clinics and expand available fields (Message Template, Message timeframe)
Update CC report with additional filters, date, station, visn

[2021-07-14 20:06] brianalloyd commented on #27364
@joanneesteban unfortunately not, I have a team retro during that time.  Any chance you have office hours on Friday that I could join?

[2021-07-14 20:08] delli-gatti-michael commented on #27150
[Testrail test run](https://dsvavsp.testrail.io/index.php?/runs/view/1988)

[2021-07-14 20:09] delli-gatti-michael commented on #27150
Testing complete

[2021-07-14 20:09] #27150 closed

[2021-07-14 20:09] ajakabcin commented on #26710
Confirmed on staging (tested with user 204)

[2021-07-14 20:09] #26710 closed

[2021-07-14 20:14] SKasimow opened #27380 "CMS Sandbox | Translation Management"
## Objective

Explore the addition of preliminary translation management data to back-end CMS content in order to define requirements for further functionality of front-end implementation.

## Story

As a product manager within the C&L team, I would like to find a programmatic solution to support  in-language content and eliminate the very manual, labor intensive approach we've used to date.

Curr

[2021-07-14 20:15] brianalloyd opened #27381 "Design intent [Public Website Team - Harassment Reporting Tool (HRT)]"
## Steps to complete Design Intent Collaboration
- [x] VFS Product Manager or Designer: Create this issue and fill in your team and feature name in the title.
- [x] VFS: Using the Slack Workflow ([User guide](https://depo-platform-documentation.scrollhelp.site/support/Getting-help-from-the-Platform-in-Slack.1439138197.html)), notify Collaboration Cycle team of this Github ticket in #vfs-platform-s

[2021-07-14 20:17] melissa-lefevre opened #27382 "Consistent 'action color'"

[2021-07-14 20:17] johnhashva commented on #12317
@leahkeeler  who is the new PM who works with the team that owns the [22-1990 application](https://www.va.gov/education/apply-for-education-benefits/application/1990/introduction)?

[2021-07-14 20:17] CBonade commented on #27211
This is merged and ready to close!

[2021-07-14 20:22] melissa-lefevre opened #27383 "Create consistent 'action color' in UI"

[2021-07-14 20:29] brianalloyd opened #27384 "Intake Requests for Public Websites - July 2021"
In-take for Public Websites Team for the month of July 2021

[2021-07-14 20:29] #26797 closed

[2021-07-14 20:30] ltrombley commented on #27287
Task #27287 - Prepare Alaska-health-care for Dual-state VISN-20 [VAMC]  - is Complete - Pending setup in CMS Demo environment - moved to BLOCKED

[2021-07-14 20:30] brianalloyd opened #27385 "Intake Requests for Public Websites - August 2021"
In-take for Public Websites Team for the month of August 2021

[2021-07-14 20:32] amyknox commented on #23723
@joanneesteban Close. This. Ticket.

:)

[2021-07-14 20:32] brianalloyd opened #27386 "Intake Requests for Public Websites - September 2021"
In-take for Public Websites Team for the month of September 2021

[2021-07-14 20:33] laurenernest commented on #27275
confirmed the dropdown label matches the default sort. closing ticket.

[2021-07-14 20:33] #27275 closed

[2021-07-14 20:34] mchelen-gov commented on #25271
is this different from https://github.com/department-of-veterans-affairs/va.gov-team/issues/24144 ?

[2021-07-14 20:34] mchelen-gov commented on #27032
Related work that may help:
- https://github.com/department-of-veterans-affairs/va.gov-team/issues/27231
- https://github.com/department-of-veterans-affairs/va.gov-team/issues/25271
- https://github.com/department-of-veterans-affairs/va.gov-team/issues/24144

[2021-07-14 20:35] brianalloyd commented on #23927
June work flow is completed, closing epic in support.

[2021-07-14 20:35] #23927 closed

[2021-07-14 20:41] joanneesteban commented on #23723
@amyknox :success-kid:

[2021-07-14 20:41] #23723 closed

[2021-07-14 20:52] laurenernest commented on #26106
added to test document and GA dashboard. closing ticket.

[2021-07-14 20:52] #26106 closed

[2021-07-14 20:54] jbalboni commented on #15294
@laurenernest
![Screen Shot 2021-07-14 at 4 53 30 PM](https://user-images.githubusercontent.com/634932/125691460-113ebea3-624d-40e2-9796-e71d65792f34.png)

[2021-07-14 20:58] MarciMcGuireGCIO commented on #26050
Updating following Sprint Planning.   This is the direction we are taking.

[2021-07-14 20:59] jbalboni commented on #26772
@laurenernest As far as I can tell, group appointments are only differentiated by the groupAppointment flag and having more items in the patients list. We ignore those, so a group appointment would look like any other video appointment from VVC (at home or I think even ATLAS).

![Screen Shot 2021-07-14 at 4 58 44 PM](https://user-images.githubusercontent.com/634932/125691993-fb39becb-6c5b-4829-882

[2021-07-14 21:04] tressaellen commented on #27270
Designs will be in this [Mural Board.](https://app.mural.co/t/vsa8243/m/vsa8243/1626214472084/d772e75a35186877eabba1863fed8fa2a51a8195?sender=tressafurner7646)

[2021-07-14 21:07] laurenernest commented on #18918
Based on user research, not moving forward with this work.

[2021-07-14 21:07] #18918 closed

[2021-07-14 21:07] chloedotbrown commented on #25871
🤔 Questions
- **Chart/Dashboard Title** – Think this is a question for us about what seems most user-friendly and most uniform across all 3 dashboards? Currently, Search uses the prefix `Search product: XYZ`, Content is just `Product: XYZ` and Forms has no prefix (though each form product name _does_ start with `Form 123 -`). Should we delete all prefixes? Match the Search one to Content? Open to

[2021-07-14 21:16] shiragoodman commented on #27381
hey @brianalloyd  - the Friday 7/23 timeslot is already booked. We have openings on Monday 7/26 and Tuesday 7/27. Please let me know what works for you!

[2021-07-14 21:17] laurenernest opened #27387 "Remove Express Care toggle"
## Description
Express Care was sunset in VAOS. It was managed by a toggle that can now be removed.

Related Epic #23842

---

## Acceptance Criteria
- [ ] There are no references to the `va_online_scheduling_express_care_new` toggle in vets-api
- [ ] There are no references to the `va_online_scheduling_express_care_new` toggle in vets-website
- [ ] `va_online_scheduling_express_care_new` toggle c

[2021-07-14 21:18] YanaRoy opened #27388 "Offboarding of Nick Sullivan"
# Instructions
Fill out name of individual and *Description* section below.

# Description
- Please provide the name of the individual needing offboarded.

- Please provide the name of their team, their role on that team, expected last day, and the name of the company they work for.

- Please provide any type of access they may have and their GitHub username.

## AC
 - [x] Remove global/config.yml

[2021-07-14 21:18] brianalloyd commented on #27381
Hi @shiragoodman let's go with 7/26, thank you.

[2021-07-14 21:18] MarciMcGuireGCIO commented on #26829
Moving this to Sprint 52 since the data did not yield the fields we need and Zach is doing additional research to determine if we can obtain that data elsewhere.

[2021-07-14 21:21] shiragoodman commented on #27381
@allison0034 will you please schedule for 7/26 at 3:30pm? thanks!

[2021-07-14 21:24] kevinmirc commented on #24402
From a review instance (using DMC staging credentials) I was able to get a response from DMC using the health check endpoint (`{staging fwd proxy}/api/v1/digital-services/health`.

I will work on manually (from cli) submitting a valid form submission to see what type of response we get.

[2021-07-14 21:24] #26986 closed

[2021-07-14 21:26] MarciMcGuireGCIO commented on #26050
Moving to Sprint 52 since there may be some additional update to the text on the alerts.

[2021-07-14 21:26] drorva commented on #26639
Approved

[2021-07-14 21:28] #26823 closed

[2021-07-14 21:28] drorva commented on #26091
Approved

[2021-07-14 21:28] SgardnerPMP opened #27389 "Redirect Request - VAMC - VA syracuse health care health care"
### Instructions
- Requests for URL changes/redirects need to be submitted **AT LEAST** 2 weeks in advance.  Some changes/redirects take significant amount of time and coordination to implement, so start the process as soon as you know you will need one.
- This issue will be used from initial request through implementation of the redirect to ensure all individuals working on this are notified of s

[2021-07-14 21:28] drorva commented on #15295
Approved

[2021-07-14 21:29] drorva commented on #12220
approved

[2021-07-14 21:32] SgardnerPMP opened #27390 "Redirect Request - VAMC - VA butler health care health care"
### Instructions
- Requests for URL changes/redirects need to be submitted **AT LEAST** 2 weeks in advance.  Some changes/redirects take significant amount of time and coordination to implement, so start the process as soon as you know you will need one.
- This issue will be used from initial request through implementation of the redirect to ensure all individuals working on this are notified of s

[2021-07-14 21:33] drorva commented on #26527
approved

[2021-07-14 21:36] SgardnerPMP opened #27391 "Redirect Request - VAMC - VA salt lake city health care health care"
### Instructions
- Requests for URL changes/redirects need to be submitted **AT LEAST** 2 weeks in advance.  Some changes/redirects take significant amount of time and coordination to implement, so start the process as soon as you know you will need one.
- This issue will be used from initial request through implementation of the redirect to ensure all individuals working on this are notified of s

[2021-07-14 21:36] lunascoop commented on #27219
@RLHecht these translated pages are ready for review. I also needed to fix an issue on the English page. My notes are below.

**COVID-19 vaccines at VA: http://preview-prod.vfs.va.gov/preview?nodeId=11463**
- Deleted sentence in Q. What should I know if I get a COVID-19 vaccine outside of VA? I should've deleted it in my update yesterday. It was after this sentence: Both of these vaccines have gon

[2021-07-14 21:37] RLHecht opened #27392 "Remove Sign Up alert from Spanish and Tagalog pages"
## Issue Description
An alert that used to be on the [English vaccine page](https://www.va.gov/health-care/covid-19-vaccine/) is now showing up on the [Spanish](https://www.va.gov/health-care/covid-19-vaccine-esp/) and [Tagalog](https://www.va.gov/health-care/covid-19-vaccine-tag/) pages. We want it removed from all three pages.

The page was created in drupal but the alert was created separately

[2021-07-14 21:39] #27197 closed

[2021-07-14 21:40] #18141 closed

[2021-07-14 21:40] #18142 closed

[2021-07-14 21:40] #16865 closed

[2021-07-14 21:40] #12910 closed

[2021-07-14 21:40] #9808 closed

[2021-07-14 21:40] #10994 closed

[2021-07-14 21:40] #16864 closed

[2021-07-14 21:41] #23926 closed

[2021-07-14 21:41] #18028 closed

[2021-07-14 21:41] MarciMcGuireGCIO commented on #27197
@shiragoodman would you mind attaching this to Epic #27212 for me?  I don't see to have the authority on this ticket.

[2021-07-14 21:41] bridgethapner commented on #14129
Closing - we can keep this simple and use ET for now. If we want to change this later we can open a new ticket.

[2021-07-14 21:41] #14129 closed

[2021-07-14 21:43] SgardnerPMP opened #27393 "Redirect Request - VAMC - VA New Jersey health care health care"
### Instructions
- Requests for URL changes/redirects need to be submitted **AT LEAST** 2 weeks in advance.  Some changes/redirects take significant amount of time and coordination to implement, so start the process as soon as you know you will need one.
- This issue will be used from initial request through implementation of the redirect to ensure all individuals working on this are notified of s

[2021-07-14 21:44] annaswims opened #27394 "EVSS headers - veteran first and last name"
As part of the epic[ reviewing validators for form 526 ](https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/27069
)we learned that not all names are accepted by EVSS or its upstream partners.  In addition to the validation rules provided by EVSS,[ we learned that accented characters are not accepted](
https://dsva.slack.com/archives/C1V

[2021-07-14 21:52] bridgethapner opened #27395 "Add Disability Rating to Profile Banner"
# User story
As a user of the VA mobile app, I want to view my disability rating.

**Note:** Reference staging.va.gov to see ratings (test user +224 has several disability ratings)

### Research support
User research supports that many users would find it valuable to view their disability rating.

This feature has also recently been added to VA.gov's Profile.

# Acceptance Criteria

- [x] Include

[2021-07-14 21:53] MarciMcGuireGCIO commented on #25924
Moving to Sprint 52 since the decision to conduct an A/B test will require changes to the research plan & conversation guide.

[2021-07-14 21:54] bridgethapner opened #27396 "Detail screen for disability ratings"
# User Story
As a user of the app, I want to see my combined disability rating and my individual ratings.

**Note:** Reference staging.va.gov to see ratings (test user +224 has several disability ratings)

# Acceptance Criteria

- [x] Screen should include combined & individual disability ratings
- [x] Each rating should include what the disability rating is for, if it is service-connected (yes or

[2021-07-14 21:54] bridgethapner opened #27397 "Disability Rating"

[2021-07-14 22:07] LeKeve commented on #23895
@laurenernest

What user were you using to test on staging? I'd like to take a look at the data in the console.

[2021-07-14 22:13] laurenernest commented on #23895
Jacob Reid

[2021-07-14 22:14] holdenhinkle commented on #26017
PR for removing the Feedback button and appending it to the `content` section, and displaying it inline (so it doesn't stick) - https://github.com/department-of-veterans-affairs/vets-website/pull/17870/files

The design needs to be updated. It doesn't look so great.

Here's a movie (skip the first few seconds). It shows tabbing before and after, and opening and closing the form before and after:

[2021-07-14 22:14] SgardnerPMP opened #27398 "Redirect Request - VAMC - VA oklahoma city health care health care"
### Instructions
- Requests for URL changes/redirects need to be submitted **AT LEAST** 2 weeks in advance.  Some changes/redirects take significant amount of time and coordination to implement, so start the process as soon as you know you will need one.
- This issue will be used from initial request through implementation of the redirect to ensure all individuals working on this are notified of s

[2021-07-14 22:28] SgardnerPMP opened #27399 "[vamc] Remove "disallow" entries from Robots.txt file on July 15th, for the following systems"
## Story
As a VAMC system administrator, I need the disallow of my site to be removed from Robot.txt file, so that the browsers and crawlers can see the site prior to redirect from Web Operations.

## Goal
Remove disallow so crawlers and browsers will have access directly to site and when redirect is engaged

## Task
- [ ] Remove the following system names from robot.txt file on July 15th, 2021
**

[2021-07-14 22:31] SgardnerPMP opened #27400 "[vamc] Remove "disallow" entries from Robots.txt file on July 22nd, for the following systems"
## Story
As a VAMC system administrator, I need the disallow of my site to be removed from Robot.txt file, so that the browsers and crawlers can see the site prior to redirect from Web Operations.

## Goal
Remove disallow so crawlers and browsers will have access directly to site and when redirect is engaged

## Task
- [x] Remove the following system names from robot.txt file on July 22nd, 2021
**

[2021-07-14 22:33] bridgethapner opened #27401 "Fix borders on Claim Step Table & alert"
## What happened?
On the Claim Step Table, there should be a border on top of the first row and no border above the alert for "You have X file requests from VA".

## Specs:
- Device: iPhone 11
- Test User: +366 has a claim with file requests

## Steps to Reproduce
- Sign in as +366 and click on Claims.
- Click to view the active Supplemental Claim submitted October 22, 2020.
- Test User: +366

##

[2021-07-14 22:33] ElijahLynn commented on #25883
Cool, this is [tested, working and merged](https://github.com/department-of-veterans-affairs/devops/pull/9569#issuecomment-880252440)!! I think this is closeable now!

[2021-07-14 22:37] bridgethapner commented on #27139
Assigning you here @lexicalninja per our convo earlier!

@ayushchak I meant to chat w/ you about this in our 1:1 and forgot -- can you take a look at the 2 questions at the end of the ticket? Would love your POV on these.

[2021-07-14 22:44] #21003 closed

[2021-07-14 22:48] LeKeve commented on #23895
@laurenernest

It looks like the correct podiatry code is being requested to the backend but it's not sending back data for the 5th code. When I remove a code and request only 4 codes (including the new code for Foot & Ankle Surgery) I see that provider in the response.

I'll reach out to the backend team to see if they can take a look and will follow up on this ticket.

[2021-07-14 22:53] bridgethapner opened #27402 "Redesign Letters empty state UI"
# User Story
As a user, if the VA app can't find letters for me, I want to see a screen that says that and is clearly designed.

# Background
This error message got long over time and is a lot of text center-aligned on a screen -- it feels hard to read. Let's apply the Empty UI style we're using for Claims and Secure messaging here to increase readability.

# Screenshot reference of the build now

[2021-07-14 22:58] meganhkelley commented on #25271
@mchelen Nope, it certainly is not - haha! Classic case of forgetting I had already made a ticket.

Here are the details from the other one & I'll close that now.

Details
FE Tools is not currently triaging errors that happen on the website.

The purpose of this issue is to investigate and make a recommendation for Sentry error triaging.

Questions to answer:

Is it feasible to triage errors manua

[2021-07-14 22:58] meganhkelley commented on #24144
Duplicate of #25271

[2021-07-14 22:58] #24144 closed

[2021-07-14 23:18] digitalken commented on #25538
PASS 7/14/2021 - Works as expected in iOS.  Closing.

[2021-07-14 23:18] #25538 closed

[2021-07-14 23:20] digitalken commented on #27052
PASS 7/14/2021 - Now I'm no longer able to reproduce the bug, either.  Closing.

[2021-07-14 23:20] #27052 closed

[2021-07-14 23:26] erikphansen commented on #27377
@ajakabcin I think I can knock this out super fast so I'll just do it.

[2021-07-14 23:30] digitalken commented on #27115
PASS 7/14/2021 - Looks good on Android and iOS.  Accessibility passed, also.  Closing.

[2021-07-14 23:30] #27115 closed

[2021-07-14 23:53] digitalken commented on #14764
FAIL - Still saying "VAH" on Samsung phones.  @rarroyo23 - There is code in the app for taking care of the special case of the Samsung phones and "vah", I believe.  This is what it sounds like on the Samsung phone.  (Sending back to In Progress.)

https://images.zenhubusercontent.com/133843125/ace3ce0e-563e-49f8-b170-5ae3d715cb2e/vah.mp4

[2021-07-15 00:06] jason-gcio commented on #26831
Making adjustment to this in another PR

[2021-07-15 00:25] #26831 closed

[2021-07-15 01:31] bsmartin-ep commented on #27388
No GA / GTM / Domo access found for Nick Sullivan.

[2021-07-15 02:57] bsmartin-ep commented on #27364
@brianalloyd -

Is this dashboard set to "Shared"?

https://analytics.google.com/analytics/web/?authuser=0#/dashboard/J-aJKanqTnmCDZh5UP9UlA/a50123418w177519031p176188361/_u.date00=20210601&_u.date01=20210713/

I'm getting a permissions error.    To share...

![image](https://user-images.githubusercontent.com/62304138/125720807-4e5ca63b-3053-44be-8d00-38af75b4bd53.png)

[2021-07-15 03:25] bsmartin-ep opened #27403 "Remove unused debug event in GTM"
We have an event called `Debug Event` and a related trigger called `CE - debug` with no recorded data in production....

https://analytics.google.com/analytics/web/#/report/content-event-events/a50123418w177519031p184624291/_u.date00=20200801&_u.date01=20210713&explorer-segmentExplorer.segmentId=analytics.eventLabel&explorer-table.plotKeys=%5B%5D&explorer-table.filter=debug-/

I suggest we remove

[2021-07-15 03:37] bsmartin-ep opened #27404 "Remove unused "Crisis Modal" tag from GTM"
We have tagging for a homelessness crisis modal on https://www.va.gov/health-care/ that is no longer in use.  It's now an `additionalInfo` component and [can be tracked here](https://analytics.google.com/analytics/web/#/report/content-event-events/a50123418w177519031p184624291/_u.date00=20210101&_u.date01=20210713&explorer-table.plotKeys=%5B%5D&_r.drilldown=analytics.eventLabel:nav-additionalInfo-

[2021-07-15 04:32] bsmartin-ep opened #27405 "Remove "vets.gov" and "preview.va.gov" tagging from GTM"
We still have several objects related to `vets.gov` and `preview.va.gov`.  As those domains are decommissioned, we can remove them...

- [x] `Environment Lookup IDs` contains two rows that can be removed
- [x] `Vets.gov Umbrella Tracking ID` can be removed
- [x] `Testing Tracker ID` can be removed
- [x] `Navigation Click - Vets.gov to Preview Button` and its trigger `Sitewide Alert - preview.va.go

[2021-07-15 04:42] bsmartin-ep opened #27406 "Update staging base config tag in GTM to match production"
We have a GA settings variable in GTM that only runs on lower environments like dev or staging.

`Staging Only - Base Configuration`

It no longer matches the production tag (`Base Configuration`) and should be updated before being used.

- [ ] Tracking ID still pointing to the correct non-prod GA property?
- [ ] Fields to Set match?
- [ ] Custom Dimensions match?
- [ ] Custom metrics match?
- [ ]

[2021-07-15 11:46] sonntag-adam commented on #26736
https://dsvavsp.testrail.io/index.php?/runs/view/1999&group_by=cases:section_id&group_order=asc

In staging.

[2021-07-15 11:46] #26736 closed

[2021-07-15 11:52] allison0034 commented on #27381
This has been scheduled for 7/26 at 3:30pm

[2021-07-15 12:14] dat-gcio commented on #27273
Can't reproduce it anymore. Moving this to backlog.

[2021-07-15 12:22] johnhashva commented on #26050
@bethpotts to make our positioning a little stronger -- would you be open to changing the text to:

We **recommend** you download PDF forms and open them in Adobe Acrobat Reader
Get instructions for opening PDF forms in Acrobat Reader

OR

**It is recommended you** download PDF forms and open them in Adobe Acrobat Reader
Get instructions for opening PDF forms in Acrobat Reader

[2021-07-15 12:24] timwright12 commented on #26651
This is updated in both [vets-website](https://github.com/department-of-veterans-affairs/vets-website/commit/5295b8322ddaa562b647aebaf6e8e1dd4cfc63b4) and [content-build](https://github.com/department-of-veterans-affairs/content-build/commit/7af48e893fd0efabdf946b53c94f55af0d657a94). Closing out.

[2021-07-15 12:24] #26651 closed

[2021-07-15 12:30] annaswims commented on #27394
will fix the error in https://github.com/department-of-veterans-affairs/va.gov-team/issues/9903

[2021-07-15 12:34] timwright12 commented on #25883
@ElijahLynn awesome!! Closing out. Let me know if you discover that we need to reopen it

[2021-07-15 12:34] #25883 closed

[2021-07-15 12:37] dneel-bah opened #27407 "CT Redesign: Update name search results display on mobile viewports"
As a developer, I need to update the name search results UI of the comparison tool redesign sandbox so that it displays in a user friendly manner on mobile devices.

## Assumptions:
1. This work is completed in the CT sandbox found here: https://staging.va.gov/gi-bill-comparison-tool-sandbox/

## Acceptance Criteria:
1. After clicking the search button, the "Showing XX results..." content is the f

[2021-07-15 12:39] sporeboy commented on #21902
Error states for the View Dependents formlet are mapped here: https://xd.adobe.com/view/109d38ed-c729-4b73-94a7-85f29fa92052-45ce/

We'll need:
- Inline form-field error states
- Submission error

Other error around dependents' data availability (400, 500-series) will be handled using the View Dependents page messaging.

[2021-07-15 12:54] dneel-bah opened #27408 "CT Redesign: Update location search results display on mobile viewports"
As a developer, I need to update the location search results UI of the comparison tool redesign sandbox so that it displays in a user friendly manner on mobile devices.

## Assumptions:
1. This work is completed in the CT sandbox found here: https://staging.va.gov/gi-bill-comparison-tool-sandbox/

## Acceptance Criteria:
1. After clicking the search button, the "Showing XX results..." content is t

[2021-07-15 12:55] holdenhinkle commented on #26017
Trying to figure out where this `js` should live - https://dsva.slack.com/archives/C01CHAY3ULR/p1626353282310600

@1Copenut , when you have a chance, can you go to [this page](https://staging.va.gov/change-address/) and pop this `js` in your console to confirm this does what you want it to do?

Some comments:
I need some design direction. This doesn't look right. And the button needs to have bette

[2021-07-15 13:10] adamwhitlock1 opened #27409 "Test CMS Sandbox with relations modules installed."
## Description:

We need a rudimentary way to relate existing page nodes to each other in regards to their language and translation.

- [ ] Install 'Relation' module on local/sandbox cms and document/test for usability [relation module](https://www.drupal.org/project/relation)
- [ ] How does each module work, and what are their benefits?
- [ ] What additional work would need to be done to use thes

[2021-07-15 13:21] LinnJS commented on #26608
This is not a bug but actually a feature since the signatures were never intended to be send but just to be used a user validation before submitting.

[2021-07-15 13:36] pjhill commented on #26568
This issue with Medallia will be discussed in the meeting with Sarkis on Monday.

[2021-07-15 13:37] #26406 closed

[2021-07-15 13:39] #25947 closed

[2021-07-15 13:39] #26151 closed

[2021-07-15 13:39] #26152 closed

[2021-07-15 13:40] #26153 closed

[2021-07-15 13:40] #26777 closed

[2021-07-15 13:40] #26775 closed

[2021-07-15 13:40] #26776 closed

[2021-07-15 13:40] #26150 closed

[2021-07-15 13:40] #24838 closed

[2021-07-15 13:40] #26149 closed

[2021-07-15 13:40] #26136 closed

[2021-07-15 13:40] #26115 closed

[2021-07-15 13:40] #26548 closed

[2021-07-15 13:40] #26078 closed

[2021-07-15 13:40] #26077 closed

[2021-07-15 13:40] #26076 closed

[2021-07-15 13:40] #26075 closed

[2021-07-15 13:40] #26141 closed

[2021-07-15 13:40] #26120 closed

[2021-07-15 13:40] #25489 closed

[2021-07-15 13:40] #26074 closed

[2021-07-15 13:40] #26133 closed

[2021-07-15 13:40] #26073 closed

[2021-07-15 13:41] #25488 closed

[2021-07-15 13:41] #24244 closed

[2021-07-15 13:41] #26114 closed

[2021-07-15 13:41] #26130 closed

[2021-07-15 13:41] #26144 closed

[2021-07-15 13:41] #26134 closed

[2021-07-15 13:41] #26131 closed

[2021-07-15 13:41] #26132 closed

[2021-07-15 13:41] #24241 closed

[2021-07-15 13:45] joshkimux commented on #26017
@holdenhinkle and @jwoodman5

In terms of button placement, would it possible to unfloat the button and make it static to the bottom of the `main`?
It'll be easier for Veterans with cognitive and reading disabilities to read if it isn't rotated. More importantly, it will resolve the defect of it interfering with mobile screen readers which can render entire pages unusable.

[2021-07-15 13:49] holdenhinkle commented on #26017
@joshkimux Yes, this script un-floats the button and places it at the bottom of `main`. We definitely need a new graphic--a horizontal button--and maybe some additional design direction.

[2021-07-15 13:49] Mottie commented on #25109
Thank you. I am able to reproduce the problem with your data. I will spend some time troubleshooting it today.

[2021-07-15 13:52] erikphansen commented on #26703
@bsmartin-ep I think that the only thing we need an OK from you on is how to handle the _optional_ parameter that'll track how long it took to get data from an API. Will a key of `api_latency_ms` work? And can we pass in numbers or does GA only support strings?

I'm starting to code all of this today but it'll be easy for me to adjust this stuff if you veto this design.

[2021-07-15 13:55] mbmasuda commented on #25109
👍🏼

To be clear, my personal situation is already resolved because the supervisor sent me a PDF of the letter that initially went to an address in a state I've never lived in, but if the root cause of this issue is somehow related to that issue, then finding out the problem could help fix that issue for other people.

[2021-07-15 13:59] shiragoodman commented on #27215
meeting moved to 7/27 at 11:00am per discussions with @rlyons89

[2021-07-15 14:00] #27186 closed

[2021-07-15 14:01] zacharymorel commented on #26829
This is still **dev** env data, but this shows you, as of today, how the table is structured.

[Yellow-Ribbon-Program-Table-7-14-2021.xlsx](https://github.com/department-of-veterans-affairs/va.gov-team/files/6823629/Yellow-Ribbon-Program-Table-7-14-2021.xlsx)

[2021-07-15 14:01] ajmagdub commented on #25853
VAOSR-2005 is now closed and this issue is no longer blocked.

[2021-07-15 14:08] jenniferlee-dsva commented on #26862
Speak of the devil - as soon as I sent out next steps email, heard back from Amber that they DO have feedback.

Will wait on it a bit and assign this back to you @DanielleThierryUSDSVA @RLHecht after they send feedback.

[2021-07-15 14:16] tskinn commented on #27388
/request Nick Sullivan

[2021-07-15 14:28] mmiddaugh commented on #27207
closing as duplicate to #27400

[2021-07-15 14:28] #27207 closed

[2021-07-15 14:33] jason-gcio commented on #21902
Ok cool - do we know if these exist already in the Design System? Or can FE grab these off a shelf or do we need to make them?

[2021-07-15 14:33] jennaouellet commented on #25869
@chloedotbrown I also was able to reproduce that error without any filters applied

[2021-07-15 14:34] bcastoe commented on #27315
#27315 Create csv file for VISN-22, VISN-5, VISN-12 Facility Health Services used to migrate into CMS Systems - completed and moved to Validate

[2021-07-15 14:36] timwright12 commented on #9268
ok, thanks. Maybe we can do this as another manual check in the PR

[2021-07-15 14:38] zacharymorel commented on #27143
Markdown bare bones flow of the decision tree.

https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/veteran-military-records/discharge-update/dw-content.md

[2021-07-15 14:38] KevinCranmer commented on #26312
michael.lovejoy@va.gov is his VA email. He's been serving as my CORS for my onboarding.

[2021-07-15 14:39] shiragoodman opened #27410 "[Assistive tech and device support] Focus state isn't visible. (11.09.1)"
### General Information

#### VFS team name
Caregivers

#### VFS product name
Improve File Upload Error Messaging

#### Point of Contact/Reviewers
Josh Kim

---

### Platform Issue
Focus state isn't visible.

### Issue Details
Not within scope to error messaging in particular, but significantly impacts upload experience. Focus is lost on the single upload flow when a user uploads a document, cance

[2021-07-15 14:40] shiragoodman opened #27411 "[FE] 10-10CG - File Upload: [Assistive tech and device support] Focus state isn't visible. (11.09.2)"
### General Information

#### VFS team name
Caregivers

#### VFS product name
Improve File Upload Error Messaging

#### Point of Contact/Reviewers
Angela Fowler

---

### Platform Issue
Focus state isn't visible.

### Issue Details
When an error is encountered when attempting to upload a file, focus is not placed at the point of the error.

**NOTE: This issue may already be resolved.  Please check

[2021-07-15 14:40] shiragoodman opened #27412 "[Components and pattern standards] Design component or pattern in use isn't mobile-friendly. (04.09.1)"
### General Information

#### VFS team name
Caregivers

#### VFS product name
Improve File Upload Error Messaging

#### Point of Contact/Reviewers
Josh Kim

---

### Platform Issue
Design component or pattern in use isn't mobile-friendly.

### Issue Details
Not within scope to error messaging in particular, but significantly impacts upload experience. When a file with a long name is uploaded, the

[2021-07-15 14:40] shiragoodman opened #27413 "[Assistive tech and device support] Alert and status messages aren't announced without receiving focus. (11.22.1)"
### General Information

#### VFS team name
Caregivers

#### VFS product name
Improve File Upload Error Messaging

#### Point of Contact/Reviewers
Josh Kim

---

### Platform Issue
Alert and status messages aren't announced without receiving focus.

### Issue Details
Not within scope to error messaging in particular, but significantly impacts upload experience. The upload progress bar does not ann

[2021-07-15 14:40] shiragoodman opened #27414 "[Assistive tech and device support] Alert and status messages aren't announced without receiving focus. (11.22.2)"
### General Information

#### VFS team name
Caregivers

#### VFS product name
Improve File Upload Error Messaging

#### Point of Contact/Reviewers
Josh Kim

---

### Platform Issue
Alert and status messages aren't announced without receiving focus.

### Issue Details
The error message is being cut off before it is announced, possibly by a loss of focus on the page. Users may not know that an error

[2021-07-15 14:40] shiragoodman opened #27415 "[Content styleguide] The content isn't written consistently across static pages, tools, and devices. (05.03.1)"
### General Information

#### VFS team name
Caregivers

#### VFS product name
Improve File Upload Error Messaging

#### Point of Contact/Reviewers
Peggy Gannon

---

### Platform Issue
The content isn't written consistently across static pages, tools, and devices.

### Issue Details
The content that appears on the upload instruction screens are different across the 10-10CG (caregiver upload screen

[2021-07-15 14:47] dneel-bah opened #27416 "CT Redesign: Update typeahead menu and pin selection behavior"
As a developer, I need to update the typeahead and pin behavior so that the experience is good on both mobile and desktop experiences.

## Assumptions:
1. This work is completed in the CT sandbox found here: https://staging.va.gov/gi-bill-comparison-tool-sandbox/

## Acceptance Criteria:
1. On mobile, the typeahead for name search pushes the rest of the controls below the free text field down so t

[2021-07-15 14:47] timwright12 commented on #12081
Looked into the docs for this. It looks nice, but people also already complain about the noise in their PRs. This seems like a "maybe if we can figure out real value"

[2021-07-15 14:52] timwright12 commented on #14644
Going to leave this in a separate repo as to not bloat vets-website anymore

[2021-07-15 14:52] #14644 closed

[2021-07-15 14:53] timwright12 commented on #16401
Closing as this does not seem to be an issue anymore

[2021-07-15 14:53] #16401 closed

[2021-07-15 14:54] timwright12 commented on #13455
@ElijahLynn looks that PR got approved

[2021-07-15 14:55] erikphansen commented on #26703
@bsmartin-ep I've actually got a couple more questions about these events we are sending.

1. I'm not seeing any other places in the `vets-website` repo where we are sending events with `api_name` keys. Is this the first time the new `api_name` event is being used?
2. The use of underscores in key names seems a bit odd since we normally use `-` in the key names. I just want to make sure you really

[2021-07-15 14:59] brianalloyd commented on #27364
@bsmartin-ep I believe so, think you our John W. might have created for us initially.  Here's a share link: https://analytics.google.com/analytics/web/template?uid=7upyOw24TmibU2eGiVk87A

[2021-07-15 15:00] pjhill commented on #27277
Do we know if this [PR ](https://github.com/department-of-veterans-affairs/vets-website/pull/17586)was the cause of the Canary failing?

[2021-07-15 15:00] timwright12 commented on #1484
Kicking over to design system

[2021-07-15 15:01] timwright12 commented on #1464
Closing since we've either dealt with this in other tickets or are currently dealing with

[2021-07-15 15:01] #1464 closed

[2021-07-15 15:05] holdenhinkle commented on #24353
I just sent Boris the following email:

[2021-07-15 15:06] tskinn commented on #27341
@tmitchellgcio your key has been added and you should be able to connect now. Reach out in slack if you have any issues.

[2021-07-15 15:06] #27341 closed

[2021-07-15 15:07] drorva commented on #26312
Can you please check with your PM and find out who is your CORS?

On Thu, Jul 15, 2021 at 7:38 AM Kevin Cranmer ***@***.***>
wrote:

[2021-07-15 15:08] holdenhinkle commented on #24353
Repo for the script while I'm converting it - https://github.com/department-of-veterans-affairs/dslogon-monitor-script

[2021-07-15 15:10] brianalloyd opened #27417 "[FE] Add Search Results for Resources and Support Copy"
## Issue Description
_As part of the search UI consistency effort, working with IA, Design and Accessibility to create a more consistent design for search tools. PW team needs to add "Search results for resources and support:" copy to the staging environment for review and approval by Design Leads_

Desktop:
<img width="602" alt="Screen Shot 2021-07-15 at 9 05 04 AM" src="https://user-images.githu

[2021-07-15 15:13] sporeboy commented on #21902
There are design system elements. I have mocks for the text and element placement here:
- [Field validation](https://xd.adobe.com/view/d390050f-bc57-4550-a139-a57642c89f8c-86c3/screen/ba1c8fe1-a4eb-41a8-b7f2-d76086078b0d)
- [Submission error](https://xd.adobe.com/view/d390050f-bc57-4550-a139-a57642c89f8c-86c3/screen/70e464a0-a727-4507-b6e8-13263c26516c)

Note: There could be a status indicator on

[2021-07-15 15:17] kristenmcconnell commented on #27213
Broke apart one test case to turn it into two: Test Case F and G. Added the error state wireframes and fixed some small typos.

I had a question that I asked Mark Dewey about. He is posting it in the check-in Slack channel. My question was:

When a user has already successfully checked in, but tries again...we can't tell the difference as to why to the token expired, can we? It would be nice to ha

[2021-07-15 15:20] miabecker commented on #27345
@cesaresantiago I couldn't find Russel in Github but tagging you!

[2021-07-15 15:21] Dene-human commented on #25350
Hi @DanielleThierryUSDSVA we are hoping to have SIGI ready to send to stakeholders tomorrow if possible.

Design [links here](https://www.sketch.com/s/da85cf44-4503-4e98-834e-ff068b242ef6)

- Birth sex
- Gender
- Marital status
- Race, ethnicity, origin

I think for each of these we can provide the how/why the question is asked and utilize either the more info component or hint text depending on t

[2021-07-15 15:23] bridgethapner opened #27418 "Disability Rating"
# User Story
As a user, I want to view my total combined and individual disability ratings in the app.

### Notes
We should look at making the various user calls that make up this response in parallel.

[2021-07-15 15:27] rtwell commented on #1045
ok gang — I consulted with @1Copenut and here is our proposed solution:

![image](https://user-images.githubusercontent.com/12564977/125814333-97e44d8d-278d-4bc5-8607-79a4eda1c57f.png)

1. Add the sentence "Disability ratings are given in 10% increments, from 0 to 100." to the paragraph beneath the tool header
2. On desktop, we display contextually relevant hint text, leveraging we use the [hint t

[2021-07-15 15:27] mnorthuis commented on #25561
IA recommendations were complete on 6/22.  You can close this ticket whenever you are ready.  Please reach out if there's anything additional you would like to discuss.  Thanks!

[2021-07-15 15:29] shiragoodman commented on #27197
@MarciMcGuireGCIO looks like it's already link to the epic.

[2021-07-15 15:34] joshkimux commented on #27257
One thing per page works great here for accessibility! Great work!!

Some consider items:
- Could we provide more short one-liner help texts to explains why certain questions are being asked? Since the page is much less busy thanks to one thing per page, I feel there's an opportunity to make these questions more transparent without all the noise. For example, instead of just "Marital status, requi

[2021-07-15 15:42] mnorthuis commented on #26059
@jason-gcio @sporeboy  In regards to the verification modal only,  I have a question I need help with...

What triggers this modal to display?  Will it just automatically appear on this page, or do they receive an email to this page that triggers the display?  I want to confirm that it is intended that there is no CTA on the view dependents page for a user to "Verify dependents".

[2021-07-15 15:42] msmanak opened #27419 "onboarding displaying grey background"
https://images.zenhubusercontent.com/133843125/ccad1fa4-e91a-4dac-b047-664fbc8f0fb3/rpreplay_final1626361093.mov

## What happened?

onboarding swipe up and down showing grey background

## Specs:

Device: iOS 8

## Steps to Reproduce

1. wipe to make sure you can view onboarding
2. swipe/up and down to display the grey

## Desired behavior

lock page, do not allow swipe up and down to show the gr

[2021-07-15 15:42] joshkimux opened #27420 "Accessibility Feedback for Midpoint Review [Deb Resolution, Medical Copays]"
# Accessibility Feedback for Midpoint Review [Deb Resolution, Medical Copays]

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix and/or document decisions made.
1. Accessibility specialist will close ticket after r

[2021-07-15 15:43] MarciMcGuireGCIO commented on #26829
@zacharymorel interesting.  So there doesn't seem to be an alias field (at least in Dev).  Wonder where that comes from in the GI Bill search?  Also looks like Public/Private wasn't being populated

[2021-07-15 15:46] digitalken commented on #26678
PASS 7/15/2021 - Got the Signing Out screen.  Closing.

[2021-07-15 15:46] #26678 closed

[2021-07-15 15:46] MarciMcGuireGCIO commented on #27197
@shiragoodman Thanks!   Hmmm...  there seems to be a new bug in ZenHub.  When I initially load some issues, there are several fields - like Epic - that sometimes aren't visible (estimate is another), but when I refresh (sometimes more than once), they magically appear.  So far cannot identify a pattern. Strange.

[2021-07-15 15:47] aparcel-va opened #27421 "Request access to Google Analytics and/or Domo"
# Request Google Analytics and/or Domo access

## What this form is for
Use this template to request access to Google Analytics and/or Domo

## User Email Address
andrew.parcel.libertyits@gmail.com

Please use `/support` on the DSVA Slack channel [#vfs-platform-support](https://dsva.slack.com/channels/vfs-platform-support), add `Analytics` in the "I need help from" dropdown, and add this issue's l

[2021-07-15 15:48] zacharymorel commented on #26829
@MarciMcGuireGCIO Yes. There's an `alias` field on the `Institution` table in the database!
There would be work to be required to expose that to the Yellow Ribbon portion of the API.

[2021-07-15 15:49] timwright12 commented on #25965
Looked into this briefly and it is because the sourceUrl is coming back undefined from the pageContent object. It looks like pageContent is just returning front matter.

[2021-07-15 15:52] digitalken commented on #27117
PASS 7/15/2021 - Looks good on iOS and Android.  Closing.

[2021-07-15 15:52] #27117 closed

[2021-07-15 15:53] AngelaFowler82 commented on #22684
FYI I am still not able to download debt letters using user+1.
![image](https://user-images.githubusercontent.com/78870095/125818391-f421f06c-6541-4b50-ba8b-f1ccf7dde987.png)

[2021-07-15 15:53] bethpottsVADEPO commented on #26562
@RLHecht Can you add to the top of this ticket a task for auditing the site for mentions of and links to IRIS, like there is on this page?: https://www.va.gov/manage-va-debt/

I think we audited the site for this a year ago, but we'll have to do it again to catch everything since we've launched pages since then.

[2021-07-15 15:55] MarciMcGuireGCIO commented on #26829
@zacharymorel oh shoot.  I was thinking this file was from the DB.  Ooops.  Thanks for clarifying!

[2021-07-15 15:55] laurenernest commented on #26391
Also tracking in Slack support request https://dsva.slack.com/archives/CBU0KDSB1/p1625076737454700

[2021-07-15 15:58] laurenernest commented on #26539
Fix for blocker is slated for var-resources 4.30.1

[2021-07-15 15:58] shiragoodman commented on #27197
@MarciMcGuireGCIO hahaha i noticed the same thing this morning! refreshing the page worked for me. It was in github too, not just Zenhub

[2021-07-15 15:59] MarciMcGuireGCIO commented on #27197
Doh!

[2021-07-15 16:01] rjohnson2011 commented on #27277
@pjhill Yes, not only was the PR merged the day the failures began, the HTML structure of the search results page was modified in `searchApp.jsx`.
This interfered with the Canary search alert XPath selector ```
await page.waitForSelector("#react-root > div > div:nth-child(3) > div.usa-width-three-fourths.medium-8.small-12.columns > div > div:nth-child(4) > ul > li > a > h5", { timeout: 30000 });
[

[2021-07-15 16:10] holdenhinkle commented on #24353
Boris emailed me the link to the repo with those missing files - https://github.com/department-of-veterans-affairs/monitor-dslogon

I refactored the script to use synthetics instead of puppeteer - https://github.com/department-of-veterans-affairs/dslogon-monitor-script/blob/master/index.js

Now we need the DSLogon account...

[2021-07-15 16:12] digitalken commented on #25804
Hi @jperk51, is there anything for me to test on this one?

[2021-07-15 16:12] digitalken commented on #25803
Hi @jperk51, is there anything for me to test on this one?

[2021-07-15 16:20] holdenhinkle commented on #24353
I asked Dror if he might be able to help us get a DSLogon account - https://dsva.slack.com/archives/C01CHAY3ULR/p1626366012314000?thread_ts=1626204805.284200&cid=C01CHAY3ULR

[2021-07-15 16:23] jparker0425 commented on #27216
@kristenmcconnell I have the below link round the Contact Center process (you may have this already):

- https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/contact-center/request-contact-center-review.md

We will need to work with the Contact Center team given our timeline as well, since we do not technically have all aspects in staging yet. Maybe can go through thi

[2021-07-15 16:29] andaleliz opened #27422 "Content review - [auth experience] notification settings and sign in vs. contact email"
# Background
**Update:** We aren't moving forward with the modal UX anymore.

We need review of a content update in the personal and contact section of profile, clarifying the difference between the contact and sign in email address.

## Notifications
[Mock-up](https://preview.uxpin.com/51ca6ecd7ddaf2ceaf75f94e2b2ccbed2a193f6d#/pages/140375964/simulate/sitemap?mode=i)

### Confirmation message

Yo

[2021-07-15 16:32] callen2563 commented on #27143
Yes, 3 as well

[2021-07-15 16:41] rjohnson2011 commented on #27277
Awaiting PR approval https://github.com/department-of-veterans-affairs/devops/pull/9579

[2021-07-15 16:41] mdewey commented on #27164
idea: storing stuff in session

[2021-07-15 16:44] zurbergram commented on #23952
https://github.com/department-of-veterans-affairs/vets-website/pull/17877

[2021-07-15 16:46] zacharymorel commented on #26829
It is. YR pulls from a different table than the GI Bill does.

[2021-07-15 16:48] kelsonic commented on #15244
@joshkimux is this still a ticket we should do? e.g. putting anchor tags within our heading tags for TOC same-page linking

[2021-07-15 16:55] RLHecht commented on #27219
I've reviewed and published these pages. I sent the english and translated copy to Mateo for a final review and I sent Chad the question that was never translated.

[2021-07-15 16:55] ltrombley commented on #27289
Task #27289 - Prepare Boise-health-care for Dual-state VISN-20 [VAMC] - is Complete - Pending Tugboat update - Moved to Blocked

[2021-07-15 16:57] KevinCranmer commented on #26312
Oh shoot. Michael is my Point of Contact...
Actual COR:
Cecilia Lee
Cecilia.Lee@va.gov

[2021-07-15 16:58] SKasimow opened #27423 "Analytics Feature Request/Bug Report"
# Analytics Feature Request/Bug Report

## What this form is for

Use this template to request an Analytics dashboard feature or report a dashboarding or Google Analytics/Google Tag Manager bug. This form is for enhancements to the existing KPI dashboards. If you have any analytics questions, please use the `/support` command on [#vfs-platform-support](https://dsva.slack.com/archives/CBU0KDSB1) ch

[2021-07-15 17:00] jason-gcio commented on #26059
The modal procs when an authenticated Veteran arrives on the View Dependents page and their Diary Entry shows that it is older than 1 year.  We anticipate the modal being used elsewhere on VA.gov and depending on where it goes, we may want to build in an inline question on View Dependents about the verification.

As of right now, there is no CTA to cause this modal pop up.

[2021-07-15 17:02] MarciMcGuireGCIO opened #27424 "Find a VA Form - PDF Instructions - Implement single alert option on Staging for user research"
## Issue Description
Implement PDF download info alert that is displayed once at the top of the page.

---
## Tasks
- [ ] Build out an alert at the top of the Search results page using the following text and URL.

  - We recommend that you download PDF forms and open them in Adobe Acrobat Reader
  - Get instructions for opening PDF forms in Acrobat Reader](https://www.va.gov/resources/how-to-downl

[2021-07-15 17:03] Mottie opened #27425 "Pre-need: Form updates"
## Description

The pre-need form has several issues that need to be addressed including content updates & cleanup and a11y fixes

## Tasks
- [x] Update OMB expiration date
- [x] Update `manifest.json` app name - it's showing an incorrect form number
- [x] Determine what modal content should be shown in production (see https://dsva.slack.com/archives/C5AGLBNRK/p1626367361329700) - moved to ticket

[2021-07-15 17:04] MarciMcGuireGCIO opened #27426 "Find a VA Form - PDF Instructions - Implement multiple alert option on Staging for user research"
## Issue Description
Implement PDF instructions alert option that is displayed with every PDF link on the Find a VA Form search results.

---
## Tasks
- [ ] Build out an alert near each PDF link in the Find a Form Search results using the below content and mock-up:

  - We recommend that you download PDF forms and open them in Adobe Acrobat Reader
  - Get instructions for opening PDF forms in Acro

[2021-07-15 17:08] 1Copenut commented on #26391
@laurenernest I retested this in VoiceOver, NVDA, and JAWS briefly. JAWS isn't announcing the alert as expected. I'm attaching an image below that shows the `div[role="alert"]` will need to be in the DOM on first page render and then we drop the Alert box into it if the appointment can't be scheduled. We'll retest promptly after this update.

---
![Screen Shot 2021-07-15 at 12 05 00 PM](https://us

[2021-07-15 17:09] mnorthuis commented on #26059
Thank you for confirming.  Given this is a modal that sits over one page with no entry points at this time, there's no additional IA work needed for it.   I will close this issue.  Thanks!

[2021-07-15 17:09] #26059 closed

[2021-07-15 17:12] joanneesteban commented on #22360
## Content Dashboard Launch Checklist

### Is this service / tool / feature...

### ... tested?

- [x] [Usability test](https://github.com/department-of-veterans-affairs/va.gov-team/issues/25871) (_TODO: link_) has been performed, to validate that new changes enable users to do what was intended and that these changes don't worsen quality elsewhere. If usability test isn't relevant for this change

[2021-07-15 17:13] kelsonic commented on #27417
![image](https://user-images.githubusercontent.com/12773166/125829261-7d795433-fad5-44ad-8f33-85822bf9a71c.png)

We want an additional header despite already having `Search resources and support articles or all of VA.gov`? I'm confused by this request

[2021-07-15 17:13] SKasimow commented on #27423
@laurensimpson14 Hi Lauren - please take a look at the write-up and feel free to edit/clarify any of it! Thanks, Sharon

[2021-07-15 17:13] joanneesteban commented on #22360
## Search Dashboard Launch Checklist

### Is this service / tool / feature...

### ... tested?

- [x] [Usability test](https://github.com/department-of-veterans-affairs/va.gov-team/issues/25870) (_TODO: link_) has been performed, to validate that new changes enable users to do what was intended and that these changes don't worsen quality elsewhere. If usability test isn't relevant for this change,

[2021-07-15 17:16] mnorthuis commented on #6582
I'll pull this into my queue to review...

[2021-07-15 17:22] MarciMcGuireGCIO opened #27427 "Content request from Decision Tools Team"
## What do you need content guidance and support for?

- [ ] Content strategy and writing to create new unauthenticated (static) VA.gov page
-	[ ] Writing/editing to update existing unauthenticated (static) VA.gov page
-	[X] Content support for an app or tool
-	[ ] Something else (please add details in the next question)

## What do you need help with?

In our most recent Staging review, an issue

[2021-07-15 17:24] callen2563 commented on #26477
@brianalloyd Just posting the Unauthenticated and Authenticated Intro pages I have mocked up so far but these will need copy.

![HT-Content page - Unauthenticated - Mobile](https://user-images.githubusercontent.com/68560244/125825255-d5223dbd-c622-420a-9ec1-20b63a52bce0.png)
![HT-Content page - Unauthenticated - Desktop](https://user-images.githubusercontent.com/68560244/125825263-3b80d8ac-1a18-4c

[2021-07-15 17:28] delli-gatti-michael commented on #26343
[Testrail Test run](https://dsvavsp.testrail.io/index.php?/runs/view/1969)

[2021-07-15 17:39] holdenhinkle commented on #24353
Unfortunately, we can't get an account for DSLogon.

https://dslogon.statuspage.io/ relies on https://api.va.gov/v0/backend_statuses which has a status for DSLogon.

Here's an example:

[code]

Dror:

[2021-07-15 17:46] SKasimow opened #27428 "Add language code field to nodes in CMS"
## Description:

We need a field to set a language for a given page.
This field should most likely be a dropdown where several possible language options are available. (English, Spanish, Tagalog)

- [x] Add field to sidebar of cms node editing UI with 3 main options
![Screen Shot 2021-07-15 at 7.18.03 AM.png](https://images.zenhubusercontent.com/60ddebd504ce2452d0e0fa92/ddd0db59-241e-4031-a5f5-b42

[2021-07-15 17:50] adamwhitlock1 opened #27429 "Sandbox - Use Entity Reference for tying translated pages"
## Issue Description

We need a rudimentary way to relate existing page nodes to each other in regards to their language and translation.

---
## Tasks
- [ ] On CMS add entity reference module and document/test for usability [entity reference module](https://www.drupal.org/project/entityreference)
- [ ] How does each module work, and what are their benefits?
- [ ] How is this module different than

[2021-07-15 17:51] jbalboni commented on #26391
@1Copenut I was following the pattern used by other va.gov forms. Is using an alert here even the correct way to handle this? Could we just focus on the headline?

This pattern of adding a div with role="alert" appears to also be how validation errors work.

Also, to be clear, this is separate from the other issue that we were trying to get feedback on in here, which is the loading text being read

[2021-07-15 17:52] #27399 closed

[2021-07-15 17:54] MarciMcGuireGCIO commented on #26050
@bethpottsVADEPO if you have a strong opinion about the two options above, please let me know.  Zach plans to start building this out with the new copy tomorrow.  Thx!

[2021-07-15 17:58] shiragoodman commented on #27413
@joshkimux can you insert the .mov file? Thanks!

[2021-07-15 17:59] ksantiagoBAH commented on #27304
This story will be covered in the VET TEC frame work story https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/27234
PR: https://github.com/department-of-veterans-affairs/vets-website/pull/17865

[2021-07-15 18:00] #26944 closed

[2021-07-15 18:01] Mottie opened #27430 "Pre-need: Update or remove respondent burden text"
## Description

At the bottom of the [pre-need introduction page](https://staging.va.gov/burials-and-memorials/pre-need/form-10007-apply-for-eligibility/introduction) is a "Respondent Burden" paragraph.

![Screen Shot 2021-07-15 at 12 43 34 PM](https://user-images.githubusercontent.com/136959/125833392-42a20e0a-4faf-49ae-804d-4a9d54b3e950.png)

It is difficult to read and includes content that is

[2021-07-15 18:06] Mottie commented on #27425
Opened a ticket related to the respondent burden content - https://github.com/department-of-veterans-affairs/va.gov-team/issues/27430

[2021-07-15 18:16] MarciMcGuireGCIO commented on #25924
@cindymerrill - capturing what we discussed in our 7/15 meeting:

- Earlier this week Shawna suggested an A/B test and the PO and rest of the team were on board with that
- We now want to test how users respond to a version with a single alert at the top as compared to a version with alerts that appear alongside each PDF link
- The original timeline will pushed out by a couple of days, but testing

[2021-07-15 18:17] craigwheeler commented on #22684
@AngelaFowler82 @joshkimux sorry for the delay on this I believe the original issue has been resolved however turns out theres seems to be some intermittent issues with staging that are affecting users from hitting the debts endpoint which results in the error that were experiencing now... @kevinmirc and I are currently looking into the issue and we'll post back here once a fix has been confirmed.

[2021-07-15 18:23] andaleliz commented on #26950
- Got a great run through on Slack about ID.me constraints
- Put together a mock-up and shared with Danielle to review content. She's on board, but wanted one last look to review before we call it "official". Captured in GH issue #27422

Will update when I get confirmation from her.

[2021-07-15 18:27] mpelzsherman opened #27432 "Improve handling of invalid locations in Facility Locator"
# Description

As a Veteran, I get a helpful response if I enter an invalid location into the Facility Locator

# Current Behavior

After entering an invalid location and clicking "Search", the user sees the following message:

![Find_VA_Locations___Veterans_Affairs.png](https://images.zenhubusercontent.com/5ee91ea93ee2bbe222cd827f/40c67f8f-f580-48cd-8ea3-2467e078349c)

# Desired Behavior

After e

[2021-07-15 18:27] jbalboni commented on #22859
@laurenernest @outerpress @peggygannon Reading back through this ticket again, this language isn't accurate: "You need to have visited this facility within the past [number] months to schedule an online appointment for the type of care you selected."

It's not just that you visited the facility, it's that you had an appointment for that type of care within the type period. The current message for

[2021-07-15 18:32] jwoodman5 commented on #26017
@holdenhinkle Talked with @ianMcCullough-ob about this and we are good with the concept. Ian will drop in a new button and provide direction.

[2021-07-15 18:33] LindaLi123 commented on #27233
@rileyorr Hey Riley, when can this be live?

[2021-07-15 18:34] jwoodman5 commented on #26017
@holdenhinkle If you read my previous comment, which I deleted, please disregard. We are good with updating the screenreader order, but actually moving the button is a larger/ongoing conversation with leadership and we need to hold off on that.

[2021-07-15 18:35] jeff2d2 commented on #23483
May not be needed if #23571 is successful and flipper access is managed as a sub-group of `vets.gov-write`

[2021-07-15 18:37] andaleliz commented on #25985
Reviewed via Zoom with @erikphansen. Based on his feedback, I decided to keep the modal "don't show this again" option in our pockets as something we might do post-MVP. Giving people a way to do this without the modal increases the technical list by at least double, and also removes the friction added by the modal that ensures people understand what they're doing.

He also let me know we don't nee

[2021-07-15 18:38] digitalken commented on #22401
PASS 7/15/2021 - Sounds OK on Samsung phones (VA).  Keyboard portion has been added to existing bug #17008 for the Claims accordion.  Closing.

[2021-07-15 18:38] #22401 closed

[2021-07-15 18:42] melissa-lefevre commented on #27402
I changed the Letters empty state to look like the Claims empty state. Other than changing the copy, everything else is the same as the claims empty state, font, padding etc.

Copy:
We couldn’t find any letters for you.
We’re sorry, we can’t find any letters for you. If you think this is an error, please call the VA benefits hotline.

![Info screen.png](https://images.zenhubusercontent.com/603fe0d

[2021-07-15 18:42] #27402 closed

[2021-07-15 18:43] rileyorr commented on #27233
@LindaLi123 I'm going to our suite's content office hours in 17 minutes to chat about this! Will have an update for ya afterwards

[2021-07-15 18:43] mpelzsherman opened #27433 "Resolve event listing page discrepancies between full build and preview"
# Description

There are some discrepancies between preview and full build on the system/events page

http://preview-prod.vfs.va.gov/preview?nodeId=2807 vs
https://www.va.gov/pittsburgh-health-care/events/

Preview still shows a past event, and shows the Upcoming/Past toggle.

It looks like the issue with showing past events might be unique to Pittsburgh. Wilmington does not have this issue:

http

[2021-07-15 18:45] andaleliz commented on #27100
@ajakabcin here are my notes from the meeting. My main takeaway was that there isn't a compelling reason shared in that meeting to put this on VA.gov, but we really need to talk to Carnetta before we pull the plug on this.

**Facilities in MHV profile:**
-  are shown based on what is in MPI
- has to be a treatment facility
- are where records are located (not necessarily where people have actually

[2021-07-15 18:46] digitalken commented on #26767
PASS 7/15/2021 - Sounds good in both Android and iOS.  Closing.

[2021-07-15 18:46] #26767 closed

[2021-07-15 18:47] meganhkelley commented on #9532
Platform Website strategy is Confluence-based so we are not going to make this change.

[2021-07-15 18:47] #9532 closed

[2021-07-15 18:47] Dene-human commented on #27375
Design and most current text: [PDF](https://app.zenhub.com/files/133843125/9bb45a1e-7cc3-4880-9fe5-fbfe7537e994/download)

**Specs**
- When user lands on page, results should be automatically generated based on Veteran's home address input in form

- Hint text below input should appear until user inputs something different in field and presses Search button

- Reference for search interaction: [ht

[2021-07-15 18:48] #9157 closed

[2021-07-15 18:50] digitalken commented on #25541
@lexicalninja - I've run into occasions of this bug happening a day or two ago.  Should this tag be put back into the known issues queue?

[2021-07-15 18:50] meganhkelley commented on #12251
@jeff2d2 @ericboehs is this a BE Tools task and/or is this irrelevant now?

[2021-07-15 18:52] #12272 closed

[2021-07-15 18:52] #12781 closed

[2021-07-15 18:52] elder-joseph commented on #25506
Associated PR: https://github.com/department-of-veterans-affairs/vets-api/pull/7447

[2021-07-15 18:54] #13118 closed

[2021-07-15 18:57] mmiddaugh opened #27434 "Access for Michelle Middaugh"
# Instructions
1. Fill out **Description**
2. Change the **Title** to include your name
3. Add the label used by your team (eg: `BAH-526`)
4. Do not remove `operations` label or the `ops-access-request` label; this will notify the VSP Operations team of your request
5. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contrac

[2021-07-15 18:58] meganhkelley commented on #2418
Closing in favor of #27348

[2021-07-15 18:58] #2418 closed

[2021-07-15 18:59] #9702 closed

[2021-07-15 19:00] Dene-human commented on #26754
Development ticket updated with specs: #27375

Things to be defined during dev:
- "miles filter" breakdowns and dropdown design
- mobile design
- This likely won't affect the 10-10CG, but when implementing the 10-10EZ, we may need to define how many results are shown at a time (pagination) if the number is large.

Midpoint review ticket updated with designs: #27255

Notes:
- VAOS use case is diffe

[2021-07-15 19:04] Dene-human commented on #27255
Design/content: [PDF](https://github.com/department-of-veterans-affairs/va.gov-team/files/6825652/10-10CG.VA.Medical.center_7.15.pdf)

Dev specs: #27375

Notes about design intent feedback:
- VAOS use case is different because the user is already familiar with the facility as it is tied to their profile.
- VAOS user doesn't need to locate a facility- there is no city/state/ postal code input field

[2021-07-15 19:04] mpelzsherman commented on #27200
Please make sure to review the requirements around Google Analytics for the accordions, and be sure not to break them.

https://github.com/department-of-veterans-affairs/va.gov-team/issues/21555

[2021-07-15 19:09] andaleliz commented on #27422
@DanielleThierryUSDSVA there's also one point we didn't discuss. People found one notification name confusing in research:
"Scheduled payment updates"

They weren't sure what kind of payments that referred to.  That's a notification requested by the comp + pen team, so I'm recommending we update it to:

"Scheduled compensation and pension payment updates"

What do you think?

[2021-07-15 19:10] timwright12 commented on #1425
closing since we're doing this as part of the app isolation discovery

[2021-07-15 19:10] #1425 closed

[2021-07-15 19:11] caw310 opened #27435 "[Forms Library Documentation] Reference: Set up the tooling"
[Forms Library Documentation] Reference: Set up the tooling

[2021-07-15 19:11] #1244 closed

[2021-07-15 19:12] caw310 opened #27436 "[Forms Library Documentation] Reference: Build the docs in CI"
[Forms Library Documentation] Reference: Build the docs in CI

[2021-07-15 19:12] #26754 closed

[2021-07-15 19:13] #7570 closed

[2021-07-15 19:14] #8239 closed

[2021-07-15 19:17] delli-gatti-michael commented on #26794
[Testrail test run](https://dsvavsp.testrail.io/index.php?/runs/view/2003)

[2021-07-15 19:17] delli-gatti-michael commented on #26794
Local testing complete

[2021-07-15 19:17] mnorthuis commented on #9343
Closing old epic used for trackingon VSP

[2021-07-15 19:17] #9343 closed

[2021-07-15 19:30] rileyorr commented on #27233
@LindaLi123 just chatted with @bethpotts & @DanielleThierryUSDSVA and they are currently revising the alert and will update this ticket soon! 🚀

[2021-07-15 19:31] lexicalninja commented on #27178
native module created

[2021-07-15 19:32] lexicalninja commented on #27156
most work done, need to add something for profile updates after I talk with ayush about what event name(s) to use

[2021-07-15 19:34] mnorthuis commented on #11229
Holding on this work for stakeholder review of all legacy appeal content and whether content is still applicable.

[2021-07-15 19:39] holdenhinkle commented on #24353
Write canary script to throw error when dslogon status is not `active` - https://github.com/department-of-veterans-affairs/dslogon-monitor-script/blob/master/status.js

[2021-07-15 19:40] andaleliz commented on #27100
Per Kevin, we're going to let this work go. We don't have bandwidth on the team to continue hunting this down, and we can defrost this feature, and continue work later if needed.

[2021-07-15 19:40] #27100 closed

[2021-07-15 19:46] craigwheeler opened #27437 "Debts are being fetched twice on the Manage VA Debts page"
## Issue Description
When navigating to `/manage-va-debt/your-debt/` it was noticed the debts endpoint is being called twice.

---
## Tasks
- [ ]  remove additional debts endpoint call

## Acceptance Criteria
- [ ] calls to the debts endpoint should only fire once on page load
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to an

[2021-07-15 19:46] DanielleThierryUSDSVA commented on #27233
Hi @rebeccawalsh and @rileyorr. Here's content based on our conversation. Definitely need to check the accuracy with SMEs, as it was a bit hard to really get all the nuances of the meaning from the original. Just let me know if you need more help with this. Thanks!

**If you got a letter about Chapter 33 tuition debt with code 75B**
This is a debt assigned to your school. You won’t find it listed

[2021-07-15 19:55] holdenhinkle commented on #26017
Okay, thanks. I can modify this PR so it only moves the button into `main` but doesn't visually move the button, if that's what you mean. Then we can address moving the button visually (un-floating it, etc.) later in a separate PR if leadership wants that.

[2021-07-15 19:56] holdenhinkle commented on #24353
Unfortunately, I still can't create a canary - https://dsva.slack.com/archives/CBU0KDSB1/p1626378419165800?thread_ts=1625067149.442700&cid=CBU0KDSB1

[2021-07-15 19:57] delli-gatti-michael commented on #27234
Local testing complete

[2021-07-15 19:57] delli-gatti-michael commented on #27234
[Testrail test case](https://dsvavsp.testrail.io/index.php?/runs/view/2004)

[2021-07-15 20:09] bsmartin-ep commented on #27421
Access granted to Andy's va.gov email.

[2021-07-15 20:09] #27421 closed

[2021-07-15 20:12] mnorthuis commented on #22860
IA work complete for this, closing issue.

[2021-07-15 20:12] #22860 closed

[2021-07-15 20:13] mnorthuis commented on #11081
Closing old epic for tracking IA work.

[2021-07-15 20:13] #11081 closed

[2021-07-15 20:15] #18045 closed

[2021-07-15 20:16] brianalloyd opened #27438 "[Discovery] Harassment Reporting Tool - Ongoing content strategy and content design work"
_The Office of Resolution Management, Diversity and Inclusion (ORDMI) is the office in-charge VA Wide for processing complaints from Veterans and Employees for alleged Civil Rights Violations as well as for Harassment, Reasonable Accommodations, and other inappropriate behaviors while on a VA Site._

_In response to Section 5303 of the Deborah Sampson Act which is part of the Megabus Bill that was

[2021-07-15 20:20] SKasimow commented on #26434
@adamwhitlock1 Analytics complete. Closing as implementation needs to be done holistically by PW team.

[2021-07-15 20:20] #26434 closed

[2021-07-15 20:20] #27137 closed

[2021-07-15 20:21] brianalloyd commented on #26299
@Rleahy22 and @kelsonic How are we doing with this redirect request?

[2021-07-15 20:22] ericboehs commented on #12251
I don't think it's irrelevant. Right now the frontend isn't consistently using snake_case or camelCase so we're having to return every key twice. It would be best if frontend stuck with one case so we wouldn't have to return double entries.

[2021-07-15 20:25] #5441 closed

[2021-07-15 20:26] MarciMcGuireGCIO commented on #27424
@zacharymorel I will add details to this first thing in the AM

[2021-07-15 20:26] LindaLi123 opened #27439 "Researching intermittent issues for staging debt letters"
Description: Research ways to resolve intermittent issues with staging that are affecting users from hitting the debts endpoint.
Reference [Here](https://github.com/department-of-veterans-affairs/va.gov-team/issues/22684)

[2021-07-15 20:26] MarciMcGuireGCIO commented on #27426
@zacharymorel this too I shall flesh out in the AM

[2021-07-15 20:28] brianalloyd commented on #27417
@kelsonic let's circle back on this tomorrow during SU as @callen2563 has context on this and agree this might not be needed based on what we already have in support.

[2021-07-15 20:28] mpelzsherman opened #27440 "Convert Vet Centers custom CSS to design system styles/components"
## Description

The Vet Center product uses several [custom CSS classes](https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/applications/static-pages/sass/modules/_m-facilities.scss#L346-L388) rather than design system styles and components.

This goes against our best practices. It was done this way to accelerate our velocity, but now that the product has shipped, we s

[2021-07-15 20:28] alexandec commented on #25257
I've been testing the content build with this new setup and it works fine. Closing the ticket.

[2021-07-15 20:28] #25257 closed

[2021-07-15 20:33] LindaLi123 opened #27441 "FSR-Send signature fields to FSR on submission"
Description: BE need to receive signature value from FE so we can generate the signature on the PDF and pass that payload to the DMC so they can generate PDF.

[2021-07-15 20:33] LindaLi123 opened #27442 "FSR-Send signature fields to FSR on submission"
Description: BE need to receive signature value from FE so we can generate the signature on the PDF and pass that payload to the DMC so they can generate PDF.

[2021-07-15 20:35] LindaLi123 opened #27443 "Confirm DMC PreProd"
Confirming what we can use the DMC pre-prod environment for

[2021-07-15 20:37] Rleahy22 commented on #26299
@brianalloyd I merged this today and moved it to validate. I'm still learning our process, so are there other steps I need to take?

[2021-07-15 20:38] peggygannon commented on #27257
Hello, @tchrisdyer I have no content feedback for this update. thanks!

[2021-07-15 20:38] micahchiang opened #27444 "[Bugfix] - eben forms - add Puerto Rico to list of states"
## Description
There exists in `vets-json-schema` at least two different lists for USA states: `states50AndDC` and `usaStates`. Our forms currently use `states50AndDC` but should use `usaStates` instead because it includes Puerto Rico, the Virgin Islands, and several other places.

## Considerations
- Import [this list](https://github.com/department-of-veterans-affairs/vets-json-schema/blob/f12ddc

[2021-07-15 20:40] SKasimow commented on #27365
Closing. Dupe to https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/27409

[2021-07-15 20:40] #27365 closed

[2021-07-15 20:44] kevinmirc commented on #27260
Started a #platform-support-thread for off-cycle deployment at that time (see [here](https://dsva.slack.com/archives/CBU0KDSB1/p1626377245161200)).

Dror has approved: https://dsva.slack.com/archives/CBU0KDSB1/p1626380745171700?thread_ts=1626377245.161200&cid=CBU0KDSB1

[2021-07-15 20:47] mnorthuis commented on #27245
No IA work is needed for this effort since it is within an existing application flow and covered within the design system.

[2021-07-15 20:47] #27245 closed

[2021-07-15 20:50] Mottie commented on #27096
@joshkimux Do you want me to leave this ticket open until you validate?

[2021-07-15 20:58] digitalken commented on #26594
PASS 7/15/2021 - Looks good on iOS and Android.  Closing.

[2021-07-15 20:58] #26594 closed

[2021-07-15 21:11] CBonade commented on #27067
Temporarily on hold prioritizing Cypress reliability for GHA launch

[2021-07-15 21:13] CBonade commented on #25551
There's been nothing discovered here about a better way to handle failures, however, as we've monitored this longer....and having resolved the regular "SIGILL" and "SIGTRAP" errors that were occurring, I personally feel that having all cases of Cypress failing has been beneficial to us in shutting down some critical issues and I'm not sure we should remove this, unless the plan is to separate it i

[2021-07-15 21:14] #27305 closed

[2021-07-15 21:18] mmiddaugh opened #27445 "Skip link should go to H1"
## User story
As a Veteran who uses assistive technology, orienting myself on websites is often unpredictable, cumbersome and time-consuming.

## Issue Description
According to a recent Webaim survey, ~ 50% of screen readers use  ‘skip to content’ to navigate a webpage at least sometimes (if not always)

**Current experience:** On Facility Locator, Skip to content goes to the page breadcrumb which

[2021-07-15 21:20] mmiddaugh opened #27446 "Recommendations from screen reader accessibility research"
## Issue Description
This epic will house the recommended following the screenreader usability study in July 2021.
[Research findings](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/facilities/facility-locator/research/user-research/screenreader-usability-study/research-findings.md)

### Short Term

- [ ]  Assess and refine page hierarchies for Facility Locator

[2021-07-15 21:22] callen2563 commented on #27438
[HRT Flow Mural Board](https://app.mural.co/t/vsa8243/m/vsa8243/1625100817340/c87980e063ad3ee8eebcb54ee1a76474d97b882e?sender=u7ad68f2a3a694c00d8a38130)

[Initial HRT Sketch Mocks](https://www.sketch.com/s/b3f90417-a2a0-41f5-8fb9-151ce163710a)

[2021-07-15 21:28] Rleahy22 commented on #26299
@tskinn first, nice to meet you 👋! While testing the redirect I'm seeing a weird issue where va.gov/%5Cvaforms redirects correctly, but with the trailing slash included it does not: va.gov/%5Cvaforms/. The same problem does not exist for the second redirect I added, even though the code outside of the specific path is identical. Do you have any ideas why that might be?
https://github.com/departmen

[2021-07-15 21:30] mmiddaugh opened #27447 "[DESIGN] Group Facility Locator COVID content and links under a heading"
## User story
As a Veteran who uses assistive technology, I am confused to hear COVID-related links organized under a heading about finding a facility.

## Issue Description
Assistive technology users already spend extra time understanding and orienting themselves on a page. We can improve this experience by grouping links and content with logically ordered heading levels to create an understandab

[2021-07-15 21:37] mmiddaugh opened #27448 "Assess the placement and label for 'Use my location'"
## User story
As a Veteran who uses assistive technology, I use my search engine either by dictating or typing in my search parameter to look for a place that I need to visit physically.

**Current experience:** During research sessions, some users had trouble with location input. Users may have expectations about the location of the label relative to the field. The ‘Use my location’ input may int

[2021-07-15 21:46] mmiddaugh opened #27449 "[DESIGN] Help users of assistive tech understand how to use the FL service type field"
## Issue description
When users of assistive technology selects Facility type = Community Providers (in VA's network), the screen reader tells them to choose a service type but there are no choices until a user types. If the user is able to understand and use the field, the laundry list of options which are presented to users is confusing, particularly for those without visual cues.

**Reference:*

[2021-07-15 21:50] mmiddaugh opened #27450 "Assess options for making Facility Locator service list more accessible"
## User story
As a Veteran using assistive technology to search for Community Providers (in VA's network), I need the list of service types to be organized in a manner I can understand

**Current experience:** When a user selects Facility type = Community Providers (in VA's network), the laundry list of options presented to users is confusing, particularly for those without visual cues.

**Referen

[2021-07-15 21:52] digitalken commented on #26324
PASS 7/15/2021 - Looks good on iOS and Android.  Closing.

[2021-07-15 21:52] #26324 closed

[2021-07-15 21:54] micahchiang commented on #25246
cc @jason-gcio

[2021-07-15 22:01] ltrombley commented on #27290
Task #27290 - Prepare Portland-health-care for Dual-state VISN-20 [VAMC] - is Complete - Pending run in Tugboat - moved to BLOCKED

[2021-07-15 22:09] mmiddaugh opened #27451 "Add phone labels for Facility Locator search results"
## User story
As a screen reader user, I need phone numbers to be labelled so I understand their context relative to other numerical information.

## Issue description
During screen reader usability sessions, one participant interpreted a phone number as GPS coordinates because it was read directly following "Get directions''.

**Reference:** [Facility Locator short-term recommendations #7](https:

[2021-07-15 22:12] mmiddaugh commented on #20432
@AngelaFowler82 I have moved information from this issue into an issue titled "Update accessibility for "Get Directions" link on Facility Locator" (#25759). That issue will handle more comprehensive improvements to the "Get Directions" link on Facility Locator.
Closing this

[2021-07-15 22:12] #20432 closed

[2021-07-15 22:17] #13053 closed

[2021-07-15 22:20] mmiddaugh opened #27452 "Screenreader users need context for relative location of FL search results (letter/number combo)"
## User story
During screenreader usability sessions, the meaning of the letter and number combo in search results (representing the map pin and the mileage) was not clear to Veterans. These Veterans were also not able to access the map, which might have provided a small context.

**Current experience:** When a user selects Facility type = Community Providers (in VA's network), the laundry list of

[2021-07-15 22:24] mmiddaugh commented on #26955
closing as a duplicate

[2021-07-15 22:24] #26955 closed

[2021-07-15 22:34] narin commented on #23857
### Subject
VA Secure Message Notification
### Body
Dear [FIRST NAME],

You have a new Secure Message waiting to be read. Sign in to [My HealtheVet](https://mhv-syst.myhealth.va.gov/) to read your message.

From: VA Flagship mobile applications interface 2_DAYT29
Message ID: 1999343

For online help:
  Monday-Friday, 8:00 a.m. - 8.00 p.m. (ET)
  My HealtheVet call 1-877-327-0022 or 1-800-877-8339

[2021-07-15 22:48] narin commented on #23857
@ashley-matthews I've added the copy of the email notification that veterans receive currently in this ticket's description.  Can you tag the appropriate people that can work on the adapted copy for push notifications?

[2021-07-15 22:49] digitalken opened #27453 "Draft Messages - Draft count on Folders page doesn't increment like the total of drafts in the pagination for the draft folder does"
## What happened?
When I add drafts during a session on the app, the number of drafts on the folders page does not increment.  The number of drafts shown in the pagination in the Folders drafts listing page does increment.  The two become out of sync during the same session.  See screen shot below.

If I log out, then log back in, the number of drafts shown in folders page will sync up and display

[2021-07-15 22:52] 1Copenut commented on #26391
@jbalboni

Thank you for the nudge on this other question. After talking with Noah, we believe the [Loading Button component](https://github.com/department-of-veterans-affairs/vets-website/blob/21260300681f449c564f53596d0a8302dd684e7b/src/platform/site-wide/loading-button/LoadingButton.jsx) is not reading out the `loadingText` consistently because of where the `role="status"` attribute is placed.

[2021-07-15 22:53] mmiddaugh opened #27454 "Online scheduling API"
## Issue Description
As a Veteran searching for locations offering COVID-19 vaccinations, I want to know which locations allow online scheduling through VAOS.

During Q2 21, the Facilities team planned to provide this information by connecting directly to and by providing access to this data via a backend connection to Lighthouse (#22736). However, the service details were slow to roll out and dep

[2021-07-15 22:54] #27388 closed

[2021-07-15 22:56] mpelzsherman commented on #25172
Can we use either https://www.va.gov/colorado-springs-vet-center/ or https://www.va.gov/nashville-vet-center/ to validate?

[2021-07-15 23:06] laurenernest opened #27455 "[Spike] Track contact info page interactions"
## Description
Currently, we have a separate page in the scheduling flow for users to input contact information. If a user has this information in their profile, we pre-populate the fields and allow them to edit for the one appointment. All fields are required to continue through the flow.
- Requests: phone number, best times to call, email address
- Direct: phone number, email address

Goal:
- Re

[2021-07-15 23:23] mpelzsherman opened #27456 "EntityID is not displayed on VAMC locations page"
## Description

The entityID is not displayed on VAMC locations page (https://staging.va.gov/pittsburgh-health-care/locations/) - N/A is shown instead. This makes it hard to generate the preview URL; we have to get the ID from Drupal.

[Locations___VA_Pittsburgh_Health_Care___Veterans_Affairs.png](https://images.zenhubusercontent.com/5ee91ea93ee2bbe222cd827f/9b69fdc7-28bf-4376-b177-bee48ac12da6)

[2021-07-15 23:24] alexandec commented on #25859
### Summary

I ran builds with 48k nodes on both Jenkins and GHA to compare the two.

### Pipeline Benchmarks

Build configuration: Staging build, 48k nodes, 60-second manual garbage collection interval, 10gb max heap size. A couple new optimizations are in place (see Optimizations below).

|               | Setup   | Build       | Prearchive | Compress | Upload | Total         |
| -------- | ----

[2021-07-15 23:28] mpelzsherman commented on #25842
This has been fixed.

[2021-07-15 23:28] #25842 closed

[2021-07-15 23:33] digitalken opened #27457 "Draft with attachment is not displaying attachment icon in listing"
## What happened?
Saved draft with attachment but it is not showing the attachment icon in the listing.

(Acceptance criteria in story says "optional" and I took that to mean that it is optional in the listing, if there is an attachment, it will display the icon.  If there isn't an attachment, it won't display the icon.)

## Specs:
- Device: All phones

Each draft message ListItem should include:

[2021-07-15 23:41] digitalken commented on #26495
PASS 7/15/2021 - Although I logged two fairly minor bugs on this one, I've chosen to pass/close it since the minor bugs are being tracked in zenhub.  Other than the bugs, it looks good on iOS and Android in functionality and accessibility.  Bugs listed below.  Closing.

Draft Messages - Draft count on Folders page doesn't increment like the total of drafts in the pagination for the draft folder do

[2021-07-15 23:41] #26495 closed

[2021-07-16 00:06] digitalken commented on #22123
7/15/2021 - FAIL for Android when backing out when user is a few screens deep.  iOS will announce the "Back" buttons in my example.  Android is not automatically picking up the Back button when backing out.  If iOS will do it, I figured that Android ought to be able to do it, too.

@lexicalninja - I'm putting it back to "In Progress".

https://images.zenhubusercontent.com/133843125/bcc36ea8-5f2c-4

[2021-07-16 00:18] mleclerc00 commented on #27032
Short writeup of some findings
https://github.com/department-of-veterans-affairs/devops/issues/9580#issuecomment-881088834

[2021-07-16 01:57] bsmartin-ep commented on #26703
Apologies for the delay @erikphansen.

`api_latency_ms` with an integer value sounds good to me.  I'll get a Custom Metric added to GA for this.

Definitely - I'm going to include this Custom Metric for every API event, so feel free to pass it in for all of them.

Correct.  We currently have a separate GTM tag for every API call (due to the product prefix in the event name).  Thinking ahead though

[2021-07-16 02:20] mpelzsherman commented on #26853
Known differences in Preview mode that we want to keep:

1. "Edit this page in the CMS" link
2. AXE checks (may yield false positives)

[2021-07-16 02:29] mpelzsherman commented on #26853
Closing as objectives have been met.

[2021-07-16 02:29] #26853 closed

[2021-07-16 02:39] bsmartin-ep commented on #27364
@brianalloyd -

Do you want a separate dashboard for each CLP or use one dashboard for all of them?

If the former...

GA doesn't have a direct way to copy a dashboard.  But you can use that template link to re-import the dashboard under a different name.  Then just change the filtering on each widget to the new URL...

![image](https://user-images.githubusercontent.com/62304138/125883082-9cb66d09

[2021-07-16 02:58] bethpottsVADEPO commented on #26573
@cindymerrill @MarciMcGuireGCIO for awareness, the article has been updated--changes are live.

[2021-07-16 03:08] bethpottsVADEPO commented on #26050
@johnhashva @MarciMcGuireGCIO Sure, this works: "We recommend **that** you download..." (I would just, uh, recommend that you use the word "that" in there):

**We recommend that you download PDF forms and open them in Adobe Acrobat Reader**
Get instructions for opening PDF forms in Acrobat Reader

[2021-07-16 10:41] MarciMcGuireGCIO commented on #26050
Thanks, @bethpottsVADEPO! Cc @zacharymorel

[2021-07-16 12:47] erikphansen commented on #26703
Underscores are fine if that's what Google considers idiomatic. [It does require us to disable an ESLint rule](https://github.com/department-of-veterans-affairs/vets-website/pull/17878/files#diff-fe0dff57b4f73ab23e943a28112a893eeda349ad1c5c6fe08b79242ad7cdb0dfR309) in our FE code because it is _not_ idiomatic JS :) And also introduces potential confusion since most of the keys use a hyphen and pro

[2021-07-16 12:50] erikphansen commented on #26703
I don't really have a vote in this, but I'd push towards sticking with using hyphens in the key names, unless there was a plan to convert all the existing hyphenated keys to use snake_case.

[2021-07-16 12:51] #27266 closed

[2021-07-16 12:55] zurbergram commented on #24375
https://github.com/department-of-veterans-affairs/vets-website/pull/17885

[2021-07-16 13:00] MarciMcGuireGCIO commented on #27424
@zacharymorel this issue is fleshed out now.  Updating the multi-alert ticket now.

[2021-07-16 13:18] MarciMcGuireGCIO opened #27458 "Find a VA Form - VA.gov content pages/apps links should point to form detail pages vs. PDF"
## Issue Description
Pages across VA.gov that currently link directly to VA form PDFs need to be updated so that they point to the form's detail page (where one exists) so that the link will continue to work if a VA Form Manager changes the PDF file name.

---
## Tasks
- [ ] Identify pages on VA.gov that contain links directly to VA form PDF files
- [ ] Document links by Hub
- [ ] Determine if tho

[2021-07-16 13:30] mmiddaugh commented on #20347
Hi @joanneesteban we have two sites in Prod 🎉
https://www.va.gov/nashville-vet-center/
https://www.va.gov/colorado-springs-vet-center/

[2021-07-16 13:32] mmiddaugh commented on #25019
This can now be validated in Prod 🎉
https://www.va.gov/nashville-vet-center/
https://www.va.gov/colorado-springs-vet-center/
@AngelaFowler82 @joshkimux

[2021-07-16 13:32] mmiddaugh commented on #25023
This can now be validated in Prod 🎉
https://www.va.gov/nashville-vet-center/
https://www.va.gov/colorado-springs-vet-center/
@AngelaFowler82 @joshkimux

[2021-07-16 13:32] mmiddaugh commented on #25011
This can now be validated in Prod 🎉
https://www.va.gov/nashville-vet-center/
https://www.va.gov/colorado-springs-vet-center/
@AngelaFowler82 @joshkimux

[2021-07-16 13:33] mmiddaugh commented on #24998
This can now be validated in Prod 🎉
https://www.va.gov/nashville-vet-center/
https://www.va.gov/colorado-springs-vet-center/
@AngelaFowler82 @joshkimux

[2021-07-16 13:35] shiragoodman commented on #26697
hi @tchrisdyer, @Dene-human, @dat-gcio and @mlighdc ,

As stated on the call, we are asking you to please complete a survey for the pilot of our new standards and Staging Review process. The survey link can be found here: https://adhoc.optimalworkshop.com/questions/xv854bro

We will be reviewing all feedback received from VFS teams, and will be making enhancements to our process prior to launch.

[2021-07-16 13:36] MarciMcGuireGCIO commented on #27426
@zacharymorel I believe this one is ready to go also.

[2021-07-16 13:38] rileyorr commented on #27233
@LindaLi123 I've updated the UXPin prototype ([view here](https://preview.uxpin.com/067dc9cad4c5966bc8a5f3a400cf10206e6a51d4#/pages/140309044/simulate/no-panels?mode=i)) with the proposed content. I've also attached a screenshot of the alert below. Per Danielle's comment, we should check the accuracy with Jill. Do you want to send it over to her since you've been communicating with her about this

[2021-07-16 13:40] MarciMcGuireGCIO commented on #26573
@bethpottsVADEPO thank you!

[2021-07-16 13:41] zacharymorel commented on #27426
Thank you, has the sprint been updated to reflect it?
I gave it a 5 since I have to add a new Feature Flag.

[2021-07-16 13:42] MarciMcGuireGCIO commented on #27426
The sprint 52 report wasn't ready on Wed because of all the Outlook migration madness, but I'll pull a couple things out of this sprint on here.

[2021-07-16 13:45] LindaLi123 commented on #27233
@rileyorr  Yes i will check with Jill and confirm as soon as i hear back.  Thank you so much!

[2021-07-16 13:52] jbalboni opened #27459 "Explore ways to make mock data set up easier for unit tests"
It can be complicated to set up mock data for unit tests. You have to know a lot about the properties needed and the way the service calls are made.

In some ways, it's useful to have to know that info, because it helps make sure we fully understand what's being tested. But I think we could at least streamline both the mock data generation and the helper functions that set up the mock fetch calls.

[2021-07-16 13:55] dmccurdybah commented on #27306
PRs:

- https://github.com/department-of-veterans-affairs/gibct-data-service/pull/845
- https://github.com/department-of-veterans-affairs/gibct-data-service/pull/844
- https://github.com/department-of-veterans-affairs/gibct-data-service/pull/846

This can be tested on https://github.com/department-of-veterans-affairs/gibct-data-service/pull/846, which contains the changes in the other two.

[2021-07-16 13:57] CBonade opened #27460 "Monitor Cypress failures and address accordingly"
We have had an extreme number of failures being reported in our `gha-test-status`  channel.  Some of these are due to failed tests, while others present other complications that are not related to a test failing. We need to start smoothing out these issues to ensure GHA has a non-frustrating launch for users.

1) Any test failures should be run in a loop locally to try and reproduce. If possible,

[2021-07-16 14:06] #27434 closed

[2021-07-16 14:08] CBonade commented on #27460
Yesterday, I noticed that the spec `src/applications/search/tests/e2e/00-required.cypress.spec.js` was involved in roughly 20-30% of our failures in the `gha-test-status` channel.  A number of improvements have been made to this spec:

- Updated Cypress server and route commands to the newer intercept
- Changed the custom axe function being declared in this spec to use the globally set up ones (ac

[2021-07-16 14:09] MarciMcGuireGCIO opened #27461 "[EPIC] Find a VA Form: DocuSign POC for e-signature"
## Product Outline
[Link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/find-a-va-form/README.md)

## Pilot Pitch
[Link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/find-a-va-form/e-application/Pilot_Pitch.md)

## High Level User Story/ies
As a Veteran or caregiver, I need a way to digitally sign forms without the complexi

[2021-07-16 14:12] brianalloyd commented on #27240
Worked like a charm.  @kelsonic how do we test for the use case of "when a new update is applied, it will reappear of users browser"?

[2021-07-16 14:16] mmiddaugh commented on #27202
will check on preview nodeID=3886

[2021-07-16 14:17] brianalloyd commented on #26299
@kelsonic is this something you could help @Rleahy22 resolve?

[2021-07-16 14:18] mdewey commented on #27041
@kristenmcconnell  This is staging, can you review and give any feedback

https://staging.va.gov/health-care/appointment-check-in/?id=46bebc0a-b99c-464f-a5c5-560bc9eae287

[2021-07-16 14:25] jbalboni opened #27462 "[Spike] Explore ways to reorganize and rename tests to improve clarity"
It can be hard to read through test files and understand how they're organized and what they're testing.

We should attempt to do some reorganization and renaming of tests to make what's being tested clearer

This should be timeboxed and follow up tickets created after that.

## Time Box
12 hours

[2021-07-16 14:25] brianalloyd commented on #27364
@bsmartin-ep thanks for the follow up, would like them separate if possible and yes they can be available to anyone to view.

[2021-07-16 14:26] jbalboni opened #27463 "Dashes in appointment ids may not be parsed properly by vets-api"
This call received a 404 in production: https://api.va.gov/vaos/v0/appointments/va/202107130000000000000000000000000000UdimCKR5gTn-Weqtpq9PgPg

Are `-`'s allowed in the appointment ids in the Rails url parsing? This seems similar to the period issue.

http://sentry.vfs.va.gov/organizations/vsp/issues/42458/?environment=production&project=4&query=is%3Aunresolved+vaos&statsPeriod=14d

[2021-07-16 14:27] jbalboni commented on #27463
@grossb1 Can you look into this and see if dashes are the culprit here?

[2021-07-16 14:30] bethpottsVADEPO commented on #26891
@candy-gcio Here you go! Did a little editing and plain language work. Two questions:
1/ Does the Veteran really have to mail a missing check they've found back to Treasury? If so, we should put that address here or say something like "...you must return it to the U.S. Department of the Treasury. Send it to the address listed on the check." (I'm assuming there's a Treasury address there, but you'l

[2021-07-16 14:36] MarciMcGuireGCIO commented on #27458
@bethpotts @RLHecht - please review and let me and/or John know your thoughts and what additional info you need from us.  Thanks!

[2021-07-16 14:43] AngelaFowler82 commented on #24998
All landmarks are uniquely labeled and their labels indicate their purpose. I think we can close this baby!

[2021-07-16 14:43] #24998 closed

[2021-07-16 14:46] #27202 closed

[2021-07-16 14:50] jbalboni commented on #26391
@1Copenut Made that change here, though it requires ignoring one of the a11y linting rules: https://github.com/department-of-veterans-affairs/vets-website/pull/17888

[2021-07-16 14:50] LeKeve commented on #23895
@laurenernest

After looking in vets-api it looks like the facilities endpoint is hardcoded to only look at the first 4 specialty codes.

[This method](https://github.com/department-of-veterans-affairs/vets-api/blob/fcb8cb4e960d14b0dbe3f6a165c9ec4c2fc6455a/lib/facilities/ppms/v1/client.rb#L161) in vets-api needs to be updated by the facilities team in order for us to query the 5th podiatry code.

[2021-07-16 14:53] zacharymorel commented on #26829
@MarciMcGuireGCIO Keep you updated as this is finished.

**Autocomplete**
I have confirmed that I can build a typeahead/ autocomplete on the API side.
This would be a rather large effort, but I can do it.
I've even taken the time to build a proof of concept locally for it.

**Abbreviations**
As far as search by Abbreviations are concerned, I would need more time to figure that out if it is plausib

[2021-07-16 14:53] AngelaFowler82 commented on #25011
You guys have made dramatic improvements to not only how the maps and images are handled but the experience of determining how to get to the vet center as a blind person. My only suggestion would be for the image of the vet center to render under the main location heading rather than under the list of other locations.

[2021-07-16 14:55] MarciMcGuireGCIO commented on #26829
Thank you @zacharymorel!  That is super exciting to hear!  Let's plan for another Discovery task specific to abbreviations once we're done with the PDF info research & Air Force link for Discharge Upgrade wizard.

[2021-07-16 14:56] AngelaFowler82 commented on #25023
The blank links are officially gone. :)

[2021-07-16 14:56] #25023 closed

[2021-07-16 14:59] MarciMcGuireGCIO opened #27464 "[Discovery] Yellow Ribbon - Determine feasibility of search by abbreviation"
Follow-on Discovery issue to this one: https://github.com/department-of-veterans-affairs/va.gov-team/issues/26829

Now that the data sources have been identified, determine if there is a way we can provide users with a way to search by common institution abbreviations such as NYU, UCLA

[2021-07-16 15:01] #26829 closed

[2021-07-16 15:03] #27176 closed

[2021-07-16 15:03] laurenernest opened #27465 "5th specialty code doesn't return results"
## Summary
In #23895, a 5th Podiatry specialty code (213ES0103X - Podiatrist - Foot & Ankle Surgery) was added to our query of Community Care providers for the provider list.

**Technical Notes**
From initial investigation in original ticket ([see comment](https://github.com/department-of-veterans-affairs/va.gov-team/issues/23895#issuecomment-881507299)), "...the facilities endpoint is hardcoded t

[2021-07-16 15:04] AngelaFowler82 commented on #25019
Headings are properly nested and each article is clearly marked. Are the podcast and specific groups no longer highlighted on the vet center page about which this issue was created? If so, we can close.

[2021-07-16 15:04] laurenernest commented on #23895
The Facilities work should already be done. I created a separate ticket (#27465) to track this since this ticket has our part of the work complete. Thanks!

[2021-07-16 15:04] #23895 closed

[2021-07-16 15:06] dneel-bah opened #27466 "CT Redesign: Create search / search results framework for mobile displays"
As a developer, I need to create the framework for the mobile search / search results page so that multiple developers can work on the page at once implementing the various sections.

## Assumptions:
1. This work is completed in the CT sandbox found here: https://staging.va.gov/gi-bill-comparison-tool-sandbox/
2. The contents and stylings of the accordions are out of scope of this story.

## Accep

[2021-07-16 15:06] #27031 closed

[2021-07-16 15:06] #26502 closed

[2021-07-16 15:07] MarciMcGuireGCIO opened #27467 "Find a VA Form - Translation request for updated "Go to online tool" verbiage."
The Decision Tools team needs the text for two action links translated into Spanish so that we can display it on our search page for forms that are in Spanish.

The first action link reads **Fill out VA Form [`form name`] Online.**

The second link reads **Download VA Form [`form name`] (PDF).**

![image](https://user-images.githubusercontent.com/73354907/128397901-4ce03a5a-f5a4-4773-9409-72708372

[2021-07-16 15:10] joshkimux commented on #25023
@mmiddaugh Heads up, the issue regarding the ghost tab stop still exists for the image of the map, but that might be best addressed in a separate ticket.

[2021-07-16 15:11] MarciMcGuireGCIO commented on #27467
@SKasimow - I am just creating this as a placeholder and will update/tag you once we have new CTA text to translate.

[2021-07-16 15:12] mmiddaugh commented on #26684
Synthesis artifacts can be found in the[ Screenreader usability study folder](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/facilities/facility-locator/research/user-research/screenreader-usability-study)

[2021-07-16 15:12] #26684 closed

[2021-07-16 15:14] JasonTheBearded commented on #26512
@joanneesteban We could potentially extract the search term from the URL since the search results page is tracked. But I think it would only be available for all Platform website tracking.

What do you think @bsmartin-ep?

[2021-07-16 15:15] ashley-matthews opened #27468 "Add 'Reason for Appointment' to Appt Cards"
## User Story
As a user, I want to see the reason for my visit when viewing my appointments so that I can be reminded/have more context as to why I needed the appointment.

## Acceptance Criteria
# Within the appointments detail screen, the reason for visit displays

## Reference Screen from va.gov
![Screen Shot 2021-07-16 at 11.12.52 AM.png](https://images.zenhubusercontent.com/5fa59749c2f3e3e913

[2021-07-16 15:16] johnhashva commented on #24880
7/16 Update: VA Forms stakeholders reviewed and provided mark-ups; the Sitewide Content team reviewed those changes, accepting some but also suggesting "final edits" for others. The update content deck was sent to Yvette Allmond on 7/14 for one final review and hopefully approval so we can implement the new detail page content in the CMS.

[2021-07-16 15:21] cferris32 commented on #25906
This has been resolved with [#7407](https://github.com/department-of-veterans-affairs/vets-api/pull/7407) - our most recent spec recordings show expected results back from the facilities endpoint, with multiple facilities being passed back when children=true

[2021-07-16 15:25] mdewey commented on #27048
Blocked up Analytics team can have a look

[2021-07-16 15:27] mmiddaugh commented on #26954
Closing as duplicate to #27446

[2021-07-16 15:27] #26954 closed

[2021-07-16 15:29] mmiddaugh commented on #26956
Clsoing as duplicate to #27454

[2021-07-16 15:29] #26956 closed

[2021-07-16 15:30] tchrisdyer opened #27469 "Update Privacy Act model"
## User Story

**As a** Veteran, **I want to** review accurate privacy policy information on the 10-10EZ, **in order to** understand my privacy rights and respondent burden.

### Issue:
Today, the Privacy Act model on the 10-10EZ introduction screen contains some "default" language that says the purpose of the form is to gather information for Education Benefits. We need to replace this default la

[2021-07-16 15:37] zacharymorel commented on #27424
@MarciMcGuireGCIO So is it cool if I do all the work on the multi-alert ticket?

[2021-07-16 15:39] MarciMcGuireGCIO commented on #27424
@zacharymorel it might be good to keep them separate just so you can post the links and keep any commentary/request changes isolated to a specific version.

[2021-07-16 15:41] digitalken commented on #26363
PASS 7/16/2021 - Looks good on both iOS and Android.  Closing.

[2021-07-16 15:41] #26363 closed

[2021-07-16 15:41] kevinmirc commented on #27238
Started a #platform-support-thread for off-cycle deployment at that time (see here).

Dror has approved: https://dsva.slack.com/archives/CBU0KDSB1/p1626380745171700?thread_ts=1626377245.161200&cid=CBU0KDSB1

[2021-07-16 15:42] zacharymorel commented on #27424
Oh I see, I miss understood the ticket! Thanks!

[2021-07-16 15:43] travis-newby opened #27470 "Add native support for iPad"
## Issue Description
This issue requires simply turning on support for iPad with the app as-is. There is no anticipation that new UI/UX needs to be developed.

## Discussion
This change requires flipping two switches inside Xcode: adding support for iPad and adding support for Upside Down orientation on all devices. Because of the latter switch, this is going to require not only a full set of test

[2021-07-16 15:44] ashley-matthews opened #27471 "Appointment Refinements"
## User Story
As a user, I want to see more information about my appointments on the app so that I don't need to check the website.

## Acceptance Criteria

## Tasks

- [ ] Identify refinements (Ashley)

- [ ] Update appointment UX

[2021-07-16 15:44] joshkimux commented on #25172
<img width="1318" alt="Screen Shot 2021-07-16 at 11 43 31 AM" src="https://user-images.githubusercontent.com/14154792/125974050-0426955c-6247-44a7-82e1-0c985719260a.png">

Opening up headingsMap it looks like this has been resolved. @AngelaFowler82 to confirm and close out!

[2021-07-16 15:46] dnalbach commented on #27378
The 1010EZ controller calls a process action on the HealthCareApplication model that performs an immediate synchronous submit of the application to the Enrollment System using the `HCA::Service` client calling its `.submit_form` method if the user did not provide an email address. The HCA service client appears to be hardcoded to return success as seen in this `submit_form` method:

[code]

Note h

[2021-07-16 15:47] digitalken commented on #25589
PASS 7/16/2021 - Sounds good on iOS and Android. Closing.

[2021-07-16 15:47] #25589 closed

[2021-07-16 15:52] bcastoe commented on #27313
#27313 - Create csv file for VISN-22, VISN-5, VISN-12 System Health Services used to migrate into CMS Systems - completed and moved to validate

[2021-07-16 15:53] cindymerrill commented on #25912
@MarciMcGuireGCIO This is a Find a Form prep tasks ticket that Brian created a while ago, so you might want to take this over, plus the Research Sessions, and Synthesis and Reporting tickets from my baseline wayfinding research for Public Websites.

[2021-07-16 15:54] joshkimux commented on #25185
<img width="1077" alt="Screen Shot 2021-07-16 at 11 52 36 AM" src="https://user-images.githubusercontent.com/14154792/125975181-c13f9a3c-b941-4a3f-9454-a694838ad173.png">
Checkbox issue is resolved, but more problems seem to be emerging on the review page specifically around editing 😢

[2021-07-16 15:54] cindymerrill commented on #25912
@brianalloyd could probably point you to the other 2 research tickets, @MarciMcGuireGCIO

[2021-07-16 15:54] MarciMcGuireGCIO commented on #25912
Thank you! I will create equivalents in about an hour or so.

[2021-07-16 15:55] joshkimux commented on #27096
<img width="1077" alt="Screen Shot 2021-07-16 at 11 52 36 AM" src="https://user-images.githubusercontent.com/14154792/125975181-c13f9a3c-b941-4a3f-9454-a694838ad173.png">
Checkbox issue is resolved, but more problems seem to be emerging on the review page specifically around editing 😢

[2021-07-16 15:55] MarciMcGuireGCIO commented on #25912
@cindymerrill Thanks - I located them all yesterday. Just haven't had a chance to create them in our backlog.

[2021-07-16 15:56] joshkimux commented on #26017
@jwoodman5 Is there any way we can help with that ongoing conversation?

[2021-07-16 15:57] joshkimux commented on #27413
I ended up not recording a video for this one, I'll remove that off from here!

[2021-07-16 15:58] kevinmirc commented on #27260
I have a calendar event with Sri (who will be on call at that time) and he's been given a heads up.

[2021-07-16 15:58] #27260 closed

[2021-07-16 16:02] joshkimux commented on #15244
Yes, but I recommend following the articles linked closely to ensure it's an anchor tag without an `href`

[2021-07-16 16:03] AngelaFowler82 commented on #25172
Headings are now nested properly. Officially closing.

[2021-07-16 16:03] #25172 closed

[2021-07-16 16:09] sonntag-adam commented on #23952
https://dsvavsp.testrail.io/index.php?/runs/view/2010&group_by=cases:section_id&group_order=asc

[2021-07-16 16:09] larrywest52 commented on #27300
DONE

[2021-07-16 16:10] #23952 closed

[2021-07-16 16:14] #27155 closed

[2021-07-16 16:17] zurbergram commented on #27136
https://github.com/department-of-veterans-affairs/vets-website/pull/17892

[2021-07-16 16:19] cvalarida opened #27472 "Change va-accordion-item internal ID to "va-accordion-item-content""
## Issue Description
Having a generic ID like `content` (what it is now) has a greater chance to inherit conflicting styles.

This may be a non-issue if we can encapsulate the web component styles to not inherit anything, but I'm not sure if that's what we want to do.

---
## Tasks
- [ ] Change the `content` id to `va-accordion-item-content`

[2021-07-16 16:24] Rleahy22 commented on #27200
It looks like we'll want to hold off on `src/site/navigation/sidebar_nav.drupal.liquid` until another time: https://github.com/department-of-veterans-affairs/va.gov-team/issues/26280#issuecomment-871568160

[2021-07-16 16:34] kelsonic opened #27473 "Replace straight quotes with curly quotes in content (not code)"
# Description

**Slack:** https://dsva.slack.com/archives/C52CL1PKQ/p1626451577121800

Currently, it is up to the content editor to use curly quotes over straight quotes:

![image.png](https://images.zenhubusercontent.com/5d812458c75aaf0001c430f8/5655e325-5f52-4182-bb0c-4846cdd016a2)

This is not sustainable as many content editors' keyboards default to straight quotes. We should look into fronten

[2021-07-16 16:45] #27339 closed

[2021-07-16 16:47] kreek opened #27474 "NoMethod error in mobile military information serializer"
When calling `service_period[:branch_of_service].titleize` it seems like `service_period[:branch_of_service]` can sometimes be nil.

http://sentry.vfs.va.gov/organizations/vsp/issues/6142/?environment=production&project=3&query=Mobile&statsPeriod=14d

[2021-07-16 16:48] laurensimpson14 commented on #25246
@bsmartin-ep The `howToWizard-skip-orientation` event is firing correctly in the GTM workspace:
![image](https://user-images.githubusercontent.com/80417436/125980609-f65e91ee-f8c7-4472-8f8c-41841a87ecf8.png)

However, the `howToWizard-complete-orientation` event is not firing. It should be this button after the user gets through the 10 orientation slides - correct @micahchiang?
![image](https://us

[2021-07-16 16:54] digitalken commented on #26003
From reading through the comments and notes, I'm interpreting this ticket to be the following:

App store / Google Play name:  "VA: Health and Benefits"
App name on device:  "VA"
IAM page name:  "the VA mobile app"

As such, I'm passing this on 7/16/2021.

[2021-07-16 16:54] #26003 closed

[2021-07-16 16:54] andaleliz commented on #27422
Actually, I was just reminded that payment update notification won't be part of our MVP, so we can revisit that verbiage down the road.

[2021-07-16 16:57] micahchiang commented on #25246
@laurensimpson14 - yes that's correct, it will be on that button. It isn't firing because we haven't attached it to the button just yet.

@jason-gcio - could you please create a ticket for this? Not sure if we have one on the board for it yet.

[2021-07-16 17:02] MarciMcGuireGCIO opened #27475 "Prep Tasks for Research: Find a VA Form PDF Download Information"
## Issue Description
_Tasks needed in support of upcoming research project_

## Preparatory tasks
- [x] Review both versions of prototype on Staging
- [x] Share research plan and conversation guide with Lauren Alexanderson for approval and recruiting
- [x] Make note-taking spreadsheet
- [x] Schedule pilots
- [x] Change display name of Perigean Zoom account to "Cindy (Moderator)"
- [x] Run pilots
-

[2021-07-16 17:07] #27189 closed

[2021-07-16 17:08] delli-gatti-michael commented on #26794
Testing complete

[2021-07-16 17:08] #26794 closed

[2021-07-16 17:10] wonhchoi opened #27476 "Access for [won choi]"
# Instructions
1. Fill out **Description**
2. Change the **Title** to include your name
3. Add the label used by your team (eg: `BAH-526`)
4. Do not remove `operations` label or the `ops-access-request` label; this will notify the VSP Operations team of your request
5. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contrac

[2021-07-16 17:10] rjohnson2011 opened #27477 "Data Fetch Canary"
## Description
Seeking to confirm the successful fetch of data from a logged in user to VA platform by querying profile information.

Will begin as test user to staging.va.gov and extend to va.gov production environment as credentials/permissions are generated.

## Tasks
- [x] Log into VA gov as a user
- [ ] Click on 'Profile' section
- [ ] Confirm successful fetch/retrieval of profile information

[2021-07-16 17:11] #26278 closed

[2021-07-16 17:13] delli-gatti-michael commented on #27234
testing complete

[2021-07-16 17:13] #27234 closed

[2021-07-16 17:14] tchrisdyer commented on #27469
Daniel wrote:

To follow up on this: For now, you can replace the content with the content from the relevant paper form.
Example from paper 10-10EZ:
![image.png](https://images.zenhubusercontent.com/60a82759d2c5ea6177753bf1/3747cba0-ac70-424b-bd15-57c4bb2d48a6)

For the questionnaire, we did work with the privacy office to make this information more plain language. I'm happy to do that with other

[2021-07-16 17:14] brianalloyd commented on #27417
Awaiting response from @callen2563 in terms of decision from the Design Council on decision point.  Team feedback is that this is redundant and likely not need for R&S Search elements.

[2021-07-16 17:15] MarciMcGuireGCIO opened #27478 "Post Research Tasks: Find a VA Form PDF Download Info"
## Description
Wrap up research study and associated documents/resources

## Tasks
- [x] Share research report with team, stakeholders, research, Shawna for feedback
- [x] Add participant characteristics into MVS checker (for marginalized groups)
- [x] Make short presentation from research report for Sprint Demo
- [x] Make longer presentation for Design/Research/Content Mon mtg
- [x] Present findi

[2021-07-16 17:18] MarciMcGuireGCIO opened #27479 "Research synthesis and reporting: Find a VA Form PDF Download Info"
## Description
The purpose of this research is to determine two things:

1. Which of two PDF instruction options is most user-friendly and intuitive
2. Understand challenges PDF forms with e-signature may be introducing for our Veterans.

## Tasks
- [x] Clean up notes spreadsheet
- [x] Write topline summary and share out with team
- [x] Do data analysis/synthesis of data collected from research
-

[2021-07-16 17:19] ltrombley commented on #27289
Task #27289 - Prepare Boise-health-care for Dual-state VISN-20 [VAMC]  is Complete and moved to Validate.  All issues resolved

[2021-07-16 17:22] MarciMcGuireGCIO opened #27480 "Conduct Research: Find a VA Form PDF Download Info"
## Description
Conduct research with Veterans and caregivers

## Tasks
- [x] Print conversation guide
- [x] Post to #feedback-backchannel right before session starts with observer instructions and participant description
- [x] Conduct scheduled research sessions
- [x] Debrief research sessions w/team
- [ ] Post debrief/updates on slack
- [x] Debrief research sessions into note-taking spreadsheet
-

[2021-07-16 17:24] MarciMcGuireGCIO commented on #27479
@cindymerrill let me know when you would anticipate having your research synthesis and reporting completed and I'll move those two items to the appropriate sprint.  Thanks!

[2021-07-16 17:27] MarciMcGuireGCIO commented on #26050
Closing this since we have settled on the design for our research.  If new changes are needed, I'll create a new issue.

[2021-07-16 17:27] #26050 closed

[2021-07-16 17:29] bridgethapner opened #27481 "Phase 1: personalized home screen"
# User Story
As a user of the app, I want to see a welcome message or something that makes it clear this is **my app** and **my account** on the home screen when I sign in.

# Note
This is the first iteration of introducing a more personalized home screen overall, so think about how an initial element of personalization could grow in future releases.

[2021-07-16 17:30] andaleliz commented on #25985
Reviewed my concepts with Ryan and need to pivot yet again.  [Created an abbreviated mock](https://preview.uxpin.com/51ca6ecd7ddaf2ceaf75f94e2b2ccbed2a193f6d#/pages/140373535/simulate/sitemap?mode=i) (doesn't include all notifications) to demonstrate the success alert functionality that uses the existing design system components we have.

[2021-07-16 17:33] #27213 closed

[2021-07-16 17:34] kristenmcconnell commented on #27213
Adding slack thread for record purposes about the error case mentioned above:

https://dsva.slack.com/archives/C022AC2STBM/p1626362005032700
https://dsva.slack.com/archives/C022AC2STBM/p1626362006032900

[2021-07-16 17:35] dginther opened #27482 "ATO - Whitelist the penetration testing IP addresses provided by External Assessment Services"
## Description
_We have requested a penetration test from the EAS, and they are asking us to whitelist some IP addresses to all of our staging assets._

## Technical notes
_@dginther can provide the IP addresses via Keybase._

---
## Tasks
- [x] _Create an AWS Security group in the staging VPC_
- [x] _Add that SG to all assets in the staging VPC_
- [x] _Add the whitelisted IP addresses, all ports,

[2021-07-16 17:36] laurenernest commented on #26658
Fix confirmed.
![26658 validation.png](https://images.zenhubusercontent.com/5f7dd2dad6b9a9301bbab94e/d3e2739b-677b-4b49-838e-c4a014371fd7)

[2021-07-16 17:36] #26658 closed

[2021-07-16 17:43] laurenernest commented on #26606
Copy changes confirmed.

@vbahinwillit please update the screenshots in the documentation linked above.

[2021-07-16 17:44] #25011 closed

[2021-07-16 17:46] MarciMcGuireGCIO commented on #26298
@pjhill @noahgelman for visibility

[2021-07-16 17:46] MarciMcGuireGCIO commented on #26665
@pjhill @noahgelman for visibility

[2021-07-16 17:53] pjhill opened #27483 "[WCAG2.1]: Apply TestRail Templates to a Real Product"
# Description
While we were discussing the creation of these new TestRail templates with VFS teams, we received some feedback that they would find an example project highly beneficial to applying the process to their own products.

We are going to be working the Find VA Forms team to customize and execute the templates for their project.

## Tasks
- [x] Move template materials into the product tea

[2021-07-16 17:56] cindymerrill commented on #25912
Closing because a new Decision Tools ticket was created for this. @MarciMcGuireGCIO @brianalloyd

[2021-07-16 17:56] #25912 closed

[2021-07-16 17:59] laurenernest commented on #25745
Latest steps to repro:
Judy
Audiology
Dayton
Date input = Dec 1, 2021

[2021-07-16 18:03] jwoodman5 commented on #26017
@holdenhinkle Yes, if we can fix for screen-readers without changing the placement/design right now, that would be ideal.

Moving the button to the bottom of main has not been part of the conversation until now. We have been considering adding a link within the footer for the Feedback survey (and removing the button from where it is today). However, since this new idea is on the table, I'd like to

[2021-07-16 18:09] #26945 closed

[2021-07-16 18:10] #26941 closed

[2021-07-16 18:10] #23742 closed

[2021-07-16 18:11] #26938 closed

[2021-07-16 18:13] mchelen-gov commented on #27094
please use https://github.com/department-of-veterans-affairs/va.gov-team/issues/new/choose "New Team VSP Orientation Epic Template"  for onboarding new team members

[2021-07-16 18:13] #27094 closed

[2021-07-16 18:14] annaswims commented on #27394
**How many veterans had applications rejected, due to their name?**

3347 veterans have has their applications rejected with `form526.submit.establishClaim.serviceErrorClaim not established. System error with BGS.` of those, 62 had a character in their name that we now know is not allowed.

some names like `Florez` and `Jose`  that typically/frequently have accents were on that list.   So, perhaps

[2021-07-16 18:19] DanielleThierryUSDSVA commented on #25350
Hi @Dene-human. Following up from our working session today with content for birth sex and gender.

As we talked about, I'd recommend going with a standard "Why we ask for this information" and avoid questions for the additional info within the context of questions to avoid confusion. Let me know any questions/thoughts on the "why" language. Also, I noticed a missing "s" in "Transgender woman" in

[2021-07-16 18:27] mmiddaugh commented on #25019
@AngelaFowler82
The podcast spotlight has been replaced with new national content titled "Vet Centers are celebrating their 42nd anniversary!" The podcast content from the staging review is similar to Colorado Springs' content  titled "Military Arts Connection (MAC) Program Partnership" in that both have calls to action and link to a page outside VA.gov.

We do have a few Vet Center pages which in

[2021-07-16 18:30] mmiddaugh commented on #25091
I validated this in Tugboat using an event in Wilkes-Barre with "Featured" checked in the "Feature This Content" section. . It displays when the date is in the future and does not when in the past.

[2021-07-16 18:30] #25091 closed

[2021-07-16 18:30] annaswims commented on #27394
Michael Harlow says:

and I agree

[2021-07-16 18:39] #26237 closed

[2021-07-16 18:41] RLHecht opened #27484 "Fix typo in Prosthetic Socks best bet"
## Issue Description
When searching "prosthetic socks" on VA.gov, the best bet that comes up has a typo in the meta description. The word "stocks" should be "socks." It's correct in the meta description within Drupal though the meta title does not match, so it must be pulling from somewhere else.

![Screen Shot 2021-07-16 at 2.38.04 PM.png](https://images.zenhubusercontent.com/5c9b7e302ac54336e2c3

[2021-07-16 18:44] APorter-Clarity opened #27485 "Login.gov Mock Up Content Review"
## Issue Description

Identity team needs editing support for mockup screen to be viewed/tested with Veteran users.

The goal of the text is to inform Veterans that changes will be made to current (sign in) providers.

Also to see which choice the Veteran would make between providers (Login.gov, ID.Me, Or continue with their current provider).

[https://app.zenhub.com/files/133843125/5107103d-e085

[2021-07-16 18:46] bethpottsVADEPO commented on #23765
@lwalsh617 You can go ahead with the above changes I noted, and here are some more edits/updates from your questions in the spreadsheet that you can make now:

- Do you have to be a "family member" to request a replacement, or should we say something like:
 "If you feel that a Veteran's government-issued headstone needs to be replaced, we may be able to help. Keep reading this page to find out abo

[2021-07-16 18:47] bridgethapner opened #27486 "Personalized Home Screen"
# User Story

As a user, I want to have a personalized and tailored experience in the VA mobile app.

[2021-07-16 18:47] DanielleThierryUSDSVA commented on #25350
Oh! @Dene-human @mlighdc One other thing: We talked about how if the gender question is not check all that apply, we need to shift the language a bit.

Options:

We could change the question to something like this:

- Which of these options best fits how you describe your gender?

Or we could add hint text like this:

**What is your gender?**
Choose the option that best fits how you describe yours

[2021-07-16 18:47] kelsonic commented on #26299
@brianalloyd It's not unfortunately, I think we need devops' insight into why the regex is not working for that specific redirect (https://va.gov/%5Cvaforms/) 🤔

[2021-07-16 18:48] kjduensing opened #27487 "Add feature flag for rollback"
In case we need to make the entire system unavailable CHIP should add and respect a feature flag that turns off the initiate check in logic.

Feature flag name: `FF_FORCE_UNAVAILABLE`
Behavior: Return 503 (Service Unavailable) status code and message.

[2021-07-16 18:49] kelsonic commented on #27240
If you dismiss the homepage banner on https://www.va.gov right now, the next time there is a homepage banner update we can see if it reappears. Desired behavior is that the homepage banner does reappear when updated (due to the copy change) even if we previously dismissed it.

[2021-07-16 18:50] RLHecht commented on #22726
@lunascoop Here's the second batch back to you. I updated a few of the related links and did some other tweaks. If you don't have any questions I think you can accept the changes and pass it back to John and Marci. [https://app.zenhub.com/files/133843125/84910afd-39f3-4fe5-8d8f-5088414e1c9c/download](https://app.zenhub.com/files/133843125/84910afd-39f3-4fe5-8d8f-5088414e1c9c/download)

[2021-07-16 18:54] joshkimux commented on #26017
Couple of things to consider:
- This fix will only apply to desktop screen readers, not mobile screen readers; most pages may be inaccessible to mobile screen readers until it is no longer sticky on the page.
- Placing the feedback survey in the footer removes it from the context of the content of the page itself.
- It would be more discoverable and accessible to screen readers if it was not desig

[2021-07-16 18:56] joshkimux commented on #25011
@mmiddaugh could we open up a new ticket to address Angela's comment on headings? Right now the image of the vet center is in other locations, which gives the illusion that it's related to other locations instead of the main location itself.

[2021-07-16 19:08] MarciMcGuireGCIO commented on #27417
@callen2563

[2021-07-16 19:13] delli-gatti-michael commented on #26436
[Testrail test run](https://dsvavsp.testrail.io/index.php?/runs/view/2013)

[2021-07-16 19:13] delli-gatti-michael commented on #26436
Local testing complete

[2021-07-16 19:15] cindymerrill commented on #27479
@MarciMcGuireGCIO This work is currently planned for the week of August 2

[2021-07-16 19:19] cindymerrill commented on #27475
@MarciMcGuireGCIO Added task at top: **Review both versions of prototype on Staging**

[2021-07-16 19:20] MarciMcGuireGCIO commented on #27308
**2021/07/16**
- Zach finished research on Yellow Ribbon data
- Working on PDF alerts; hope to have it ready for review on Monday
- Cassandra is heads-down on harassment tool; lots of flowchart updates

[2021-07-16 19:21] MarciMcGuireGCIO commented on #27479
Thank you @cindymerrill !

[2021-07-16 19:21] MarciMcGuireGCIO commented on #27475
@cindymerrill Thank you!

[2021-07-16 19:28] lealester commented on #27284
facilities, system, operating status pages remaining

[2021-07-16 19:30] andaleliz commented on #27422
**Update:** we've had to pivot with our designs _again_ so we are no longer going with the modal UX 🙃

[2021-07-16 19:33] callen2563 commented on #27417
We can disregard that "search results" copy addition it looks like it was decided that we remove it.

https://github.com/department-of-veterans-affairs/va.gov-team/issues/21513

[2021-07-16 19:39] annaswims commented on #27374
@michelpmcdonald - depending what EVSS answers, we may also want to add a check for user.birth_date in all of the `EVSSPolicy` checks

[2021-07-16 19:41] Dene-human commented on #27375
@dat-gcio Please note that i updated the above with a V2 design based on A11y feedback that i received from Josh and Angela. I think it is likely that we will use something similar to this version.

[2021-07-16 19:47] bridgethapner opened #27489 "Refine in-app web view Common Component"
# User Story
As a user of the app, I want the in-app web view interface to be clear and usable.

# Background
Today the web view component elements are chunky, differently sized, and some are offset from the baseline:

![Group.png](https://images.zenhubusercontent.com/5d8e52f61c53fd000173c5de/0ec4e6b1-24ae-4691-b15f-447cce486fd6)

# Acceptance Criteria
- [ ] Refine the UI elements of the web view

[2021-07-16 19:51] dat-gcio commented on #27378
@tchrisdyer Regarding tickets to make the email field required:
1) vets-website (front-end) (3 points to make required, and make sure previous in progress forms still function)
2) vets-json-schema change (2 points)
3) vets-api (backend) (Whatever point @dnalbach  deems)
4) add feature toggle (2 points)

If you wanted to add this under a feature toggle for 50%, then we do not need to do 2 and 3, un

[2021-07-16 19:54] Mottie commented on #26867
Form 526's wizard now lives on the form `/start` page in production.

[2021-07-16 19:56] Mottie commented on #25109
Hi @mbmasuda! Thanks for your help and feedback. This problem should now be fixed. Please let us know if you still encounter any problems.

[2021-07-16 20:02] kristenmcconnell commented on #27053
Met with Corey.

High-level plan is:
### How to test MVP launch
- Go to pilot site
  - Would want to go on high volume days and time
  - NPS
  - General thoughts?
  - What did you like? Not like?
- Work with pilot and have them get feedback (similar to Questionnaire plan: https://docs.google.com/presentation/d/1XAqnUKsL5C-Btg_QTFwLUWJeRbn4xNB-Lhzttm-9P4c/edit?usp=sharing)
  - Benefit of veteran an