[2019-09-23 15:27] #1165 closed

[2019-09-23 15:28] jholton commented on #1964
Duplicate of #1672

[2019-09-23 15:28] #1964 closed

[2019-09-23 15:31] andreahewitt-odd commented on #1853
https://docs.google.com/presentation/d/1if-Cvp7ylIlPBbj5QyU5akHt4MILxxbVPgjGwF--560/edit#slide=id.g639ada1118_0_51

[2019-09-23 15:39] johnpaulashenfelter commented on #1633
YAYAYAY 🎉 Thanks @Jeff-Hayter

[2019-09-23 15:39] Kimberley2019 opened #1966 "SalesForce Reporting"
## User Story or Problem Statement
As a Call Center Lead, I need to test and implement a solution for constant monitoring of SalesForce now that access has been granted so I can get the details to the appropriate department for resolution.

## Goal
_What outcome(s) do we want to see? Ensuring that we have a reliable report that can be counted on to represent all issues on Va.gov that come through

[2019-09-23 15:41] jonwehausen commented on #1846
**Proposed DL requirements:**
_These are components that will require developer intervention, we can discuss tomorrow during our call._

**Primary CTA Buttons:**

- Example: Make an appointment, Register for care, pharmacy

[code]

**Jumplinks**

- Example: Top of this [page](https://www.va.gov/pittsburgh-health-care/locations/pittsburgh-va-medical-center-university-drive/)

[code]
**Alert Box Lin

[2019-09-23 15:42] johnpaulashenfelter opened #1967 "Look into sanitizing the entire Sentry data hash for all controllers"
The new Sentry processor in department-of-veterans-affairs/vets-api#3304 ensures that any PII in the data hash is removed from the log. This fixes the issue in the specific case covered in that PR, but it seems like it should be handled across all data hashes, regardless of controller.

Proposed steps to address:

- [ ] Use the filter on all controllers, run specs, and ensure there's no surprises

[2019-09-23 15:43] Kimberley2019 opened #1968 "IRIS and Microsoft Dynamics Reporting"
## User Story or Problem Statement
As a Call Center Lead, I need to investigate and document a proposed solution on how issues will be escalated from IRIS and Microsoft Dynamics so that we have an understanding of how the systems work and how we can extract reported issues.

## Goal
_What outcome(s) do we want to see? Have an understanding of how the systems work and how we can extract reported is

[2019-09-23 15:57] tskinn commented on #1633
@johnpaulashenfelter your ssh key has been merged in. It usually takes about ten minutes for the change to take effect. If you have trouble connecting to socks, reach out in slack in #vsp-operations

[2019-09-23 16:09] #1261 closed

[2019-09-23 16:15] RLHecht commented on #1728
@jenniferlee-dsva  I made the above change in Drupal. @peggygannon can you please review?

[2019-09-23 16:19] kelsonic commented on #484
@1Copenut @alexpappasoddball Ready for another round of validation! Thank you! :)

[2019-09-23 16:37] arickalewis1 commented on #1070
![eBenefits VA Touchpoints](https://user-images.githubusercontent.com/54509359/65444731-46bd1180-ddf6-11e9-93ec-8a5858b42fa5.png)

I'm considering the workflow of viewing pending claims (that lead to the Claim Status tool) from the Rated Disabilities page. Attached is the current workflow to view Rated Disabilities compared with a proposed workflow that somewhat mimics the eBenefits workflow on VA

[2019-09-23 16:56] RLHecht commented on #1812
Just previewed these changes in Drupal and they all look good.

[2019-09-23 16:57] brandonrapp opened #1969 "Dashboard - reduce the JavaScript-bundle size"
@ncksllvn commented on [Fri Oct 26 2018](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/14664)

The Dashboard's compiled Javascript bundle is very large, at 2.5 megabytes. We should figure out a way to cut this down, because that could have a performance hit on mobile or slow internet.

---

@ricetj commented on [Fri May 17 2019](https://github.com/department-of-veterans-af

[2019-09-23 16:59] #1673 closed

[2019-09-23 17:06] brandonrapp opened #1970 "Beta-Enrollment Improvement Ideas"
@ncksllvn commented on [Thu May 24 2018](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/10606)

Now that the Personalization initiative has finished its Beta and other teams are considering using its Beta-Enrollment workflow in their own applications, it would be worth outlining some improvements.

1. The React components/containers belong in the platform directory, not app

[2019-09-23 17:09] brandonrapp opened #1971 "Swagger docs for the EVSS::PCIU address endpoints the portray the three potential address types"
@hpjaj commented on [Thu Apr 19 2018](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/10104)

The `EVSS::PCIU` address endpoint can return one of three email types, and associated schemas:

- domestic
- military
- international

The swagger docs portray that only a domestic address can be returned.

## Definition of done

- [x] Adds all three possible responses to the swagge

[2019-09-23 17:12] brandonrapp opened #1972 "Clean up Vet360 access checks"
@rlbaker commented on [Tue Jun 26 2018](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/11249)

We can probably standardize our access check for Vet360 to use the policies that have been created, but we need to do some cleanup to make sure we're checking the right things in the right spots. Take a look at these three areas to start figuring out what the best course forward w

[2019-09-23 17:12] micahchiang commented on #1890
@jason-gcio - I've updated the title of this ticket to reflect the story. Since we have #1420 that deals with frontend development, this ticket is more closely associated with backend work.

[2019-09-23 17:14] tskinn commented on #1963
@Jeff-Hayter
COR: Mary O'Toole
User: Nick Sprinkle

[2019-09-23 17:16] micahchiang commented on #1420
### User Story
As a veteran, I want the ability to view any pending disabilities I may have, as well as the date they were submitted, and the type they are. I want to be able to click on one of them to view more information.

[2019-09-23 17:17] rianfowler opened #1973 "Remove settings.js"
# Overview

The settings file (https://prod-va-gov-assets.s3-us-gov-west-1.amazonaws.com/js/settings.js) should no longer be used by vets-website apps.

# Tasks

- Document how the settings file is currently used
- Remove the settings.js file
- Test for regressions on va.gov and teamsite pages

[2019-09-23 17:17] micahchiang commented on #1420
### Current view of pending disabilities:
![Screen Shot 2019-09-11 at 11 09 58 AM](https://user-images.githubusercontent.com/15097156/65447361-39e6f080-ddeb-11e9-8410-3a9666902ca7.png)

### Proposed view:
https://xd.adobe.com/view/ebfa6df6-c0aa-4ea9-413e-98793ba7a5a3-9dcb/

[2019-09-23 17:26] micahchiang opened #1975 "Investigate API availability for Total Combined Disability Rating."
## User Story or Problem Statement
As a backend engineer, I need to know where the Total Combined Disability Rating (TCDR) comes from so I can query that data and send it the appropriate frontend application.

Additionally, if it's discovered that TCDR needs to be calculated on our end, I want to send a 'final calculated value' to the frontend to avoid having to calculate it there.

## Goal
_What

[2019-09-23 17:28] micahchiang commented on #1889
@jason-gcio - I've made #1975 to capture the backend work required for total combined disability rating feature. This ticket can house the frontend work required to display that rating.

[2019-09-23 17:39] YanaRoy commented on #1357
@peterhill-oddball is this something we can work on setting up for the benefits and memorials team? I know there was something we were waiting on, per andrea hewitt, but don't recall what that was and want to get this task completed. Thank you!

[2019-09-23 17:42] ncksllvn commented on #1970
This is a pretty old ticket. Initially, we used the concept of "beta" apps to conduct usability testing for the personalization suite - the dashboard (now `/my-va`), profile, and account. I'm not sure how often this process is still followed anymore though.

[2019-09-23 17:43] rianfowler commented on #1742
tried this out: https://github.com/department-of-veterans-affairs/vets-website/pull/10793#pullrequestreview-291944140

[2019-09-23 17:44] steve-gov opened #1976 "🚢 Migrate "Modify Dependents" (Submit 686c and 674) from eBenefits to VA.gov"
# Modify Dependents
eBenefits URL: https://www.ebenefits.va.gov/ebenefits/dependents

**Staging URL:** https://staging.va.gov/view-change-dependents/add-remove-form-686c/

**Production:**
Static landing (Drupal): https://www.va.gov/view-change-dependents ([Ticket via PubWeb](https://github.com/department-of-veterans-affairs/va.gov-team/issues/8012))
View dependents: https://www.va.gov/view-change-

[2019-09-23 17:49] brandonrapp commented on #1970
Thank you @ncksllvn - We will go ahead and close this out.

[2019-09-23 17:49] #1970 closed

[2019-09-23 17:51] #1713 closed

[2019-09-23 17:53] #1007 closed

[2019-09-23 17:53] #1714 closed

[2019-09-23 17:54] erikphansen commented on #1135
_bump_ @clantosswett can you validate that this bug has been resolved? Thanks!

[2019-09-23 17:55] #1762 closed

[2019-09-23 17:56] Mottie commented on #1536
I wasn't able to access that record. You should be able to get to that page without a PIV after [starting up the proxy](https://department-of-veterans-affairs.github.io/veteran-facing-services-tools/getting-started/internal-tools/#starting-the-socks-proxy).

[2019-09-23 18:02] Karak888 opened #1977 "Search Landing Page: Identify Ideal Candidate for Pilot"
work with analytics to identify an ideal candidate for Search Landing Page.

[2019-09-23 18:04] cvalarida commented on #1946
:thinking: This is interesting. I've outlined the problem in a little more detail, but don't know what the root cause is offhand. Looking into it, this might be a Global UX team issue?

## Problem
The `font-family` for the `Service member benefits` and `Family member benefits` links is wrong.

**Records link**

| Site | `font-family` | Source |
| --- | --- | --- |
| VA.gov | Source Sans Pro,Helvet

[2019-09-23 18:05] Karak888 opened #1978 "Create Design Prototype for Search Landing Page"
Work with Ryan to create design for Search Landing Page after / in tandem with assigning content writer.

[2019-09-23 18:08] alexpappasoddball commented on #1946
@Karak888 I have added your teams labels to this one.  Let me know when you have eyes on it and I will remove it from the Triage backlog once you confirm your team will take ownership.

[2019-09-23 18:21] clantosswett commented on #1135
I am so sorry for not responding to this earlier. I reached out to the users about trying to update their address but I have not heard back, which is usually a good sign. That being said, I will follow up and let you know if I hear anything. I don't have access to an account in production that would allow me to complete this task so I am going to ask around and see if someone might have the abilit

[2019-09-23 18:21] kfrz commented on #1967
I think this work is a good candidate for our [Error handling epic](https://github.com/department-of-veterans-affairs/va.gov-team/issues/1816). Going to pull it onto our board, but happy to continue the collaboration!

[2019-09-23 18:50] batemapf opened #1979 "Jenkins includes job trigger in Slack message"
## User Story
As a VA.gov engineer, I need to know what/who triggered a `vets-website` Jenkins deploy job in Slack to speed up the triage of issues or questions about the job should they arise.

## Goal
The existing Slack notification includes information about what/who triggered each Jenkins deploy job.

## Objectives or Key Results this is meant to further
 - Reliability: ensure VA.gov is a reli

[2019-09-23 19:02] steve-gov opened #1980 "Discovery: Document SEP Features"
# Document SEP

https://www.sep.va.gov/

SEP (the _Stakeholder Enterprise Portal_), in its own words, "can help VSOs and other VA partners manage the VA claims process more efficiently." It has many functions, but one way of thinking about it is **eBenefits + user roles**; in other words, it allows representatives of Veterans to log in on the Veteran's behalf and perform certain actions (like revi

[2019-09-23 19:49] Justin-Pickett commented on #1280
@gunsch can you validate that the recommended changes from the Direct Deposit security review have been completed. I have listed the 5 items that needed to be corrected before launch above. Once you've verified the items have been completed (PR's have been merged) can you respond back to this ticket that they have. Thank you.

[2019-09-23 20:02] #1672 closed

[2019-09-23 20:12] ncksllvn commented on #1625
Hm, I'm actually having trouble finding a good example of this. @peggygannon any chance you can provide me a link to a page in preview that serves as example of a page that doesn't match the live site?

[2019-09-23 20:27] ncksllvn opened #1981 "Publish banner for Tropical Storm Karen"
Using text:

[2019-09-23 20:33] #1070 closed

[2019-09-23 20:35] wyattwalter commented on #1952
I didn't see this ticket. Working on it in #1959

[2019-09-23 20:35] #1952 closed

[2019-09-23 20:37] ncksllvn commented on #1981
![image.png](https://images.zenhubusercontent.com/59cb9de1b0222d5de47953d8/a3e795d3-3841-44bd-a866-f35b2b0dea2f)

[2019-09-23 20:55] ncksllvn commented on #1284
I'm trying to think of ways to gauge success. We can use Google's [structured data tool](https://search.google.com/structured-data/testing-tool) to make sure we've implemented schema.org correctly on the five pages outlined above. Then, it will probably take a few days to a week for Google to crawl the site, process the schema.org changes so that the changes are visible from a Google search, thus

[2019-09-23 20:56] rianfowler opened #1982 "Automate validation of microtags"
# Overview

VA.gov has a few microtags in its markup. [Example](https://github.com/department-of-veterans-affairs/vets-website/pull/10792)

# Tasks

- Determine if we can add automated validation / linting to check microtags.

[2019-09-23 21:00] jason-gcio commented on #1722
Great work, this is going to be super helpful.

[2019-09-23 21:00] #1722 closed

[2019-09-23 21:03] meganhkelley commented on #1559
IA intro completed 9/23, closing.

[2019-09-23 21:03] #1559 closed

[2019-09-23 21:09] clantosswett commented on #1869
I put together a few graphs and charts for this request. I am not sure if these will be used because there is a desire to have the reporting to happen on a monthly basis and our numbers might not be consistent across sources for a little while and therefore not terribly useful for reporting and tracking. [https://app.zenhub.com/files/133843125/8a37603c-a4d0-42c1-9b6d-7018790d730d/download](https:/

[2019-09-23 21:12] rianfowler opened #1983 "RFC - deprecate lodash"
# Overview

lodash/fp has some performance issues. determine if we should deprecate lodash as a common utility, if we should move to another version of it, or if it should be an optional dependency

[2019-09-23 21:16] #1831 closed

[2019-09-23 21:26] peggygannon commented on #1703
@RLHecht I checked the pages in Drupal. The updates look good.

[2019-09-23 21:44] Mottie opened #1984 "Form 526ez and 996 (HLR) url path determination"
Per @mnorthuis

The intro page for form 526EZ is:
https://staging.va.gov/disability/file-disability-claim-form-21-526ez/introduction

Once you are logged in and start working on the form, it redirects to:
https://staging.va.gov/disability-benefits/apply/form-526-disability-claim/resume

I was asking what path should form 0996 (Higher-Level Review) use. So once this has been determined, I can finis

[2019-09-23 21:49] #1148 closed

[2019-09-23 21:57] sporeboy commented on #1716
I've review the current frontend code and the MD files for clues as to how the screen are built. I believe Micah has a good handle on this. Of course discover is ongoing. A few things to bolt down:

--MD formatting for React pages (layouts, templates, etc.)
--Responsiveness of components used--particularly the table component

[2019-09-23 21:57] #1716 closed

[2019-09-23 22:20] smoonpeyes commented on #1916
## Recommendations
- We do not typically use the disabled style for progress buttons in the application forms.
- Instead, use a [field-level validation on the checkbox](https://design.va.gov/patterns/form-feedback) if the Continue button is selected without first checking the box. We can decide on the specific copy during the content review.
- Replace the Cancel button with the Back button. The Ba

[2019-09-23 22:53] mnorthuis commented on #1615
Links to original hub epics that may provide insights on "parity" related tickets and their status.

Disability: https://github.com/department-of-veterans-affairs/vets.gov-team/issues/11093
Education: https://github.com/department-of-veterans-affairs/vets.gov-team/issues/11094
Careers: https://github.com/department-of-veterans-affairs/vets.gov-team/issues/11095
Pension: https://github.com/departme

[2019-09-23 23:02] cvalarida opened #1985 "[Discovery] Separate CMS build from vets-website"
## Problem Statement
As an engineer separating out the CMS concerns from the build process, I need to understand what all the pieces are and how they fit together so I can ensure the pipeline is stable at the end of it.

## Goals
- The problem is clearly defined
- Every place CMS concerns are introduced to `vets-website` is documented
- A plan is in place to get the work done

## Acceptance Criter

[2019-09-23 23:27] mnorthuis opened #1986 "Redirects in Life Insurance based on parity work"
**User Story**
As user of VA.gov, if I click on a link or option for a legacy content page, I want to be automatically redirected to the new updated content page, so that I am always seeing the most updated, single source of truth for benefits information.

*Issue copied from vets.gov-team repo - original issue: https://github.com/department-of-veterans-affairs/vets.gov-team/issues/15519*

**Goal*

[2019-09-23 23:32] mnorthuis commented on #1986
@jenniferlee-dsva @Karak888
All parity work for life insurance is done per this issue: https://github.com/department-of-veterans-affairs/vets.gov-team/issues/16293.
This ticket covers just the redirects related to the parity work.  Legacy rewriting will be handled separately.

This list has not been sent to the Life Insurance stakeholder for review yet.  Can you confirm that that contact is still

[2019-09-24 00:48] 1Copenut commented on #484
@kelsonic This looks good for facilities. I apologize for not raising a Community Care Provider in the original ticket too. If you check out https://staging.va.gov/find-locations/provider/ccp_1851813299 and run axe, you'll see this error appear again.

If you make the same fix you've made for this last go-round, we'll be 💯.

[2019-09-24 01:23] #1733 closed

[2019-09-24 01:35] 1Copenut commented on #1817
@KevinMHoffmanUSDS & @jenstrickland I added what I've got to Codepen ( https://codepen.io/tpierce_402/pen/PoYVKKa ) and added it to the ticket description. It's been a few days since I tested with assistive devices, so that would be a good idea to get a benchmark for usability of these patterns.

I can say the button in the input label was especially tricky. Basically the button has to be after th

[2019-09-24 12:29] elwoodva commented on #1283
The pull request  for the checkbox on the profile page has been moved to master.  The code is in staging ready for testing.

[2019-09-24 14:20] kelsonic commented on #1284
Sent up 2 PRs for this:

[1 on vets-website](https://github.com/department-of-veterans-affairs/vets-website/pull/10792) that updates https://www.va.gov/education/gi-bill/post-9-11/ch-33-benefit and https://www.va.gov/discharge-upgrade-instructions.

[1 on vagov-content](https://github.com/department-of-veterans-affairs/vagov-content/pull/562) that updates https://www.va.gov/disability/eligibility,

[2019-09-24 14:21] RLHecht commented on #1591
@jenniferlee-dsva I removed the link to the DBQs page on the disability hub landing page in Drupal. @peggygannon can you please review and publish?

[2019-09-24 14:41] erikphansen commented on #1332
This PR fixed the Modal in Formation React: https://github.com/department-of-veterans-affairs/veteran-facing-services-tools/pull/170
This PR will pull in the update to the website: https://github.com/department-of-veterans-affairs/vets-website/pull/10796

[2019-09-24 14:46] camerontesterman commented on #1172
Is there any specific endpoint where this is occurring, or does this happen with every PDF upload? Could I get an example endpoint @markgreenburg ?

[2019-09-24 14:47] meganhkelley commented on #1894
Duplicate of #1822, closing.

[2019-09-24 14:47] #1894 closed

[2019-09-24 14:56] kelsonic commented on #484
@1Copenut No worries! Do you mind if I create a separate ticket/branch for that?

[2019-09-24 14:58] smoonpeyes opened #1989 "[design] Review Higher-Level Review content page"
## User Story or Problem Statement
As a Veteran, I need to understand the higher-level review process so I can decide if I should file a higher-level review.

## Goal
Review the design and content of the higher-level review content page to ensure that it's using the appropriate design patterns. Also, ensure that information and next steps are presented in a clear and usable way.

## Current page
h

[2019-09-24 15:28] Karak888 opened #1990 "Map VA Digital Forms to Paper Forms"
Now that we have received analytics on our highest ranking / downloaded VA forms, the next step is to take the list of digital forms (included below) and map them against the list of paper forms .

[2019-09-24 15:30] YanaRoy opened #1991 "Discovery of Changes to 526 PDF Form"
## User Story or Problem Statement
As a disabled Veteran, I want to be sure that I am submitting all VA required information and that I am provided with the most up to date instructions on the online disability claim form so I can be confident that nothing is missing from my submission.

## Goal
_Identify and research all updates made in the PDF version of the 526 form and how they should  be inco

[2019-09-24 15:31] #710 closed

[2019-09-24 15:54] LindseySaari commented on #1704
https://github.com/department-of-veterans-affairs/vets-api/pull/3320

[2019-09-24 16:03] jason-gcio opened #1992 "Implement "Pending" Items into RD Staging"
## Story
Once `pending disabilities` has been located, we want to build it into the "View My Rated Disabilities" page on staging so that we can test it further and eventually deploy it.As a backend engineer, I want to know how 'pending disabilities' are generated and defined, and where they live, so I can query that data and send it to the appropriate frontend application for consumption.

## Cons

[2019-09-24 16:11] erikphansen commented on #1840
Rian Fowler tested this on prod (since he's a Veteran) and it worked.

[2019-09-24 16:16] jbalboni commented on #1774
From @rtwell on another ticket:

This is a rough first draft. @peggygannon and @lalexanderson-dsva would love to get your thoughts on this.

## Confirmed appointments

**VA Medical center** link would take the user to the facility locator

**Go here to manage your pending appointments** would take the user to their pending appointments page

![image](https://user-images.githubusercontent.com/12564

[2019-09-24 16:16] smoonpeyes commented on #1989
## Recommendations
- Reordered content
- Replaced mailing address pattern with accordion pattern
- Added a `File a Higher-Level Review` button

[View mockup](https://vsateams.invisionapp.com/share/W5U21BDFTQK#/385333421_00-Request-Higher-Level-Review)

[View mockup with expanded accordions](https://vsateams.invisionapp.com/share/W5U21BDFTQK#/385333422_01-Request-Higher-Level-Review-Expanded-Benefi

[2019-09-24 16:25] smoonpeyes opened #1993 "[content] Review content on the revised 'Request for Higher-Level Review' page"
## Goal
Review the content of the higher-level review content page to ensure:
- content follows the VA.gov style guide and
- information and next steps are presented in a clear and usable way.

## Page to be reviewed
- [Higher-Level Review](https://vsateams.invisionapp.com/share/W5U21BDFTQK#/385333421_00-Request-Higher-Level-Review)
- [Higher-Level Review with expanded accordions](https://vsateams

[2019-09-24 16:38] smoonpeyes opened #1994 "[Front End] Revise 'Request for Higher-Level Review' Launch page"
## User Story or Problem Statement
As a Veteran, I need to understand the higher-level review process so I can decide if I should file a higher-level review.

## Goal
Revise the design and content of the higher-level review content page based on UX and content strategy recommendations.

## Current URL
https://www.va.gov/decision-reviews/higher-level-review/

## Revised page
* [Higher-level review

[2019-09-24 16:39] lkoenigsberg commented on #1840
Closing ticket.

[2019-09-24 16:39] #1840 closed

[2019-09-24 16:40] smoonpeyes commented on #1989
Created content review ticket: #1993
Created front-end ticket: #1994

[2019-09-24 16:41] nedierecel commented on #1125
@Karak888 Hello! Bumping this request to see if someone can help look into the Profile Direct Deposit forms that are embedded within tools (not at the Profile level, which the VSA Auth team is already implementing)?

[2019-09-24 16:41] nedierecel commented on #1627
9/23/2019 - Additional context was provided to BAH team on how to handle International checkbox

[2019-09-24 16:41] #1759 closed

[2019-09-24 16:41] smoonpeyes commented on #1759
I was unable to get any helpful data about this issue. Closing.

[2019-09-24 16:47] peggygannon commented on #1014
@Karak888 @jenniferlee-dsva Since I've validated these H1s in Drupal, I'd like to close this issue. That OK with both of you?

[2019-09-24 16:52] nedierecel opened #1995 "[Support] Overview of Google Tag Manager for MHV Team"
## User Story or Problem Statement
As a MHV content producer, I need access to Google Tag Manager and Google Analytics so I can implement and measure performance of MHV content.

## Goal
- [x] Analytics Insights walks through MHV implementation for David W. and Chip H.

## Objectives or Key Results this is meant to further
- Ownership: Provide avenues for teams to self-service analytics

## Accept

[2019-09-24 16:59] cvalarida opened #1996 "Open a --no-drupal-proxy option for bypassing the proxy"
## Task
Add a `--no-drupal-proxy` option so the CMS build can use it to bypass the proxy.

## Acceptance Criteria
- [ ] Passing the `--no-drupal-proxy` flag to the build tells it to not use the proxy when querying the CMS

[2019-09-24 17:00] #1542 closed

[2019-09-24 17:07] markgreenburg opened #1997 "Build 'would you like to schedule with x clinic' page"

[2019-09-24 17:08] markgreenburg opened #1998 "build / update 'why do you want to make an appointment' page for DS"

[2019-09-24 17:10] markgreenburg opened #1999 "Build 'What date and time' direct schedule page"
- how far in advance can you book?
    - Depends on what VistA returns, it's config'd there

[2019-09-24 17:12] markgreenburg opened #2000 "build / update 'appointment conf and comm pref' page for DS"

[2019-09-24 17:13] markgreenburg opened #2001 "Build / update 'review & confirm appointment' page"

[2019-09-24 17:14] Kimberley2019 commented on #898
@YanaRoy @AZSchneider @SMLuthi

Are there any updates that can be shared concerning this issue?

[2019-09-24 17:14] markgreenburg opened #2002 "Build / update appointment confirmation page for DS"

[2019-09-24 17:15] Kimberley2019 commented on #929
@aeltarhoni @AZSchneider @SMLuthi @YanaRoy
Are there any updates that can be shared concerning this issue?

[2019-09-24 17:18] markgreenburg opened #2003 "Enable direct schedule / self-scheduling in VAOS"
As a veteran, I want to be able to self-schedule an appointment directly without needing to request an appointment for a provider that I've already seen.

## Zenhub link
https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/2003

[2019-09-24 17:37] RLHecht commented on #1796
Just discussed list in Content Weekly meeting (9/24). Making changes to live pages and updating information in style guide where necessary.

[2019-09-24 17:56] erikphansen commented on #1332
@Justin-Pickett since Trevor is out, can you validate that tabbing and shift-tabbing works as expected in the Direct Deposit modal (or any modal on the site)? Will have to test on staging as it won't be on prod until after our daily deploy in an hour.

[2019-09-24 17:56] johnpaulashenfelter opened #2004 "Enable VCR cassette recording and update existing cassettes"
A lot of our VCR cassettes are *old* -- as in years. Some examples popped up in

department-of-veterans-affairs/vets-api#3309
department-of-veterans-affairs/vets-api#3303

One of the impediments to re-running them is the areas where connectivity is and isn't allowed, even from staging. Without access from staging, there's pretty much no way to update a cassette (which begs the question about how t

[2019-09-24 17:59] YanaRoy opened #2005 "Successfully generate PDF for submitted claim"
## User Story
As an Adjudicator, I need to view the PDF version of a disability claim filed online so I can make my determination based on the information provided in all of the fields on the form.

## Goal
_Ensure PDF is created properly in staging_

## Acceptance Criteria
- [ ] _Run test cases with a successful generation of PDF_

## Background Info
related ICHMS changes

[2019-09-24 18:07] markgreenburg opened #2006 "[WIP] Update / build system & facility selection page for Direct Scheduling"

[2019-09-24 18:07] kfrz opened #2007 "Replace `Timecop` dependency with `ActiveSupport::Testing::TimeHelpers`"
## User Story or Problem Statement
As an engineer I need to replace outmoded dependencies to improve overall performance and security of the application.

## Goal
`Timecop` gem is removed and usage replaced with [ActiveSupport::Testing::TimeHelpers](https://api.rubyonrails.org/v5.2/classes/ActiveSupport/Testing/TimeHelpers.html), which has been available since `rails-4.1`.

## Objectives or Key Re

[2019-09-24 18:08] peterhill-oddball opened #2008 "Discover and Evaluate Test Case Management Software"
As part of an effort to formalize and expand the capabilities of QA on the platform, VSP needs to discover and select the best test case management software for use by VFS teams on the platform.  In my experience, some key features to consider for a TCMS are --
1. Create and edit test cases within the software
2. Create test plans in the software
3. Integrate with GitHub
4. Link to User Stories /

[2019-09-24 18:11] erikphansen opened #2009 "Remove `profile_show_direct_deposit` feature flag"
After we have released Direct Deposit to all users, we should remove the `profile_show_direct_deposit` feature flag entirely.

This involves:
- [ ] remove the flag from local, staging, and prod environments using the Flipper UI
    - localhost:3000/flipper/features
    - https://staging-api.va.gov/flipper/features
    - https://api.va.gov/flipper/features
- [ ] update front end code that checks fo

[2019-09-24 18:11] erikphansen commented on #1163
Since the rollout strategy for this has changed, I am closing this ticket. We still have two tickets related to changing the static content page:

https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/vets.gov-team/18960
https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/1296

And I created

[2019-09-24 18:11] #1163 closed

[2019-09-24 18:13] RLHecht commented on #1796
@peggygannon I have updated all "Veteran-owned small business" references in Drupal on the pages below. Can you please review and publish?

- https://www.va.gov/careers-employment/veteran-owned-business-support/
- https://www.va.gov/careers-employment/

[2019-09-24 18:23] RLHecht commented on #1796
@peggygannon I updated the "direct deposit" reference in Drupal on this page. Can you please review and publish?

- https://www.va.gov/disability/

[2019-09-24 18:37] RLHecht commented on #1796
@peggygannon I updated the "Character of Discharge" reference in Drupal on this page. Can you please review and publish?

- https://www.va.gov/disability/eligibility/

[2019-09-24 19:21] peggygannon commented on #1296
@Samara-Strauss and @Justin-Pickett I'm updating the direct deposit page today (adding widget and move down alert to lower on the page, etc)

@Samara-Strauss However, it's unclear to me how to account for the 4 different use cases above after the user signs in? Does the page widget change, based on the user being sign in vs. signed out and if they've been verified?

[2019-09-24 19:54] smoonpeyes opened #2011 "[design + content] Define signed in/out states of the 'File a Higher-Level Review' page"
## User Story or Problem Statement
As a Veteran, I need to be prompted to log in to VA.gov so I can file a Higher-Level Review online. If I'm logged in, I need to know what to expect during the application process.

## Goal
Define the design and content for the signed-in/out states of the Higher-Level Review page.

## Design pattern for the Apply Now page
https://dev-design.va.gov/patterns/benefit

[2019-09-24 20:14] Mottie opened #2012 "[COGNITION]: Missing error message for 526 forwarding address effective date inputs"
## Description

When adding a forwarding address on the form 526 File for increased disability compensation address page - https://staging.va.gov/disability-benefits/apply/form-526-disability-claim/veteran-details/address-information - the effective date block is required, but does not show any error messages if left blank.

I noticed this issue after [adding an error message](https://github.com/d

[2019-09-24 21:13] #1273 closed

[2019-09-24 21:19] johnpaulashenfelter commented on #1633
Access unlocked 😄

[2019-09-24 21:35] #1014 closed

[2019-09-24 21:38] peggygannon commented on #1438
Closing. this is a dupe of https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/1440

We are now combining IA and Content intros meetings.

[2019-09-24 21:38] #1438 closed

[2019-09-24 21:43] peggygannon commented on #603
@jenniferlee-dsva Now that UAT is "complete" do you think we are ready to close this issue?

cc: @Karak888

[2019-09-24 22:23] micahchiang commented on #1992
@jason-gcio, @kathleencrawford  - This feels like a duplicate of #1890, should we consider closing this out?

[2019-09-24 22:24] micahchiang commented on #1992
Oh wait, I just realized that this is the implementation ticket that follows up #1890. Maybe we can update the user story so it reflects more implementation that research?

[2019-09-24 22:25] ricetj commented on #1950
@Jeff-Hayter
COR: Mary O'Toole
User: Glen Stevenson

[2019-09-24 22:29] #1790 closed

[2019-09-24 23:09] cvalarida opened #2013 "Parse HTML files only once in the Metalsmith pipeline"
## Problem
The current Metalsmith build has four distinct steps that each parse all the HTML files. These steps each take 6 - 10 seconds. If we parsed them only once in a discreet step, then passed that data along with the file, we can probably reduce our build time by maybe 20 seconds or more—likely a > 25% improvement.

## Goal
A faster build.

## Acceptance Criteria
- [ ] The HTML files are onl

[2019-09-24 23:10] jenniferlee-dsva commented on #603
I guess the Burials SME updates are not technically part of UAT, so this sounds right. Close this EPIC epic. Thank you for a phenomenal job of coordinating this huge effort @peggygannon !

[2019-09-24 23:23] jenniferlee-dsva commented on #1828
Hi @nedierecel - Thank you! Is there a way to expand the column that includes the URL info?

Example:
![image](https://user-images.githubusercontent.com/43381063/65557254-9be54a00-df00-11e9-953d-531c720c6c95.png)

[2019-09-24 23:26] jenniferlee-dsva commented on #1828
P.S. This is truly awesome.

[2019-09-24 23:29] cvalarida commented on #2013
Sample run before making any changes:

| Step | Time |
| --- | --- |
| Add `nonce` to scripts | 10.8s |
| Update external links | 6.8s |
| Add IDs to subheadings | 6.8s |
| Check for broken links | 7.2s |
| --- | --- |
| **Total** | 31.6s |

[2019-09-25 03:31] cvalarida commented on #2013
## Testing strategy
I tried generating a checksum for the files, but that doesn't work because at least one step in our Metalsmith build generates random data (adding IDs to headings...and maybe other tags?), so no two builds will be the same.

**Example:** The 404 page has a button with a randomly generated ID.
![image](https://user-images.githubusercontent.com/12970166/65567075-b4a62d80-df09-11e

[2019-09-25 12:54] Karak888 opened #2014 "Map VA Digital Tools to Paper Forms"
**Objectives or Key Results this is meant to further**
From the identified list of digital and paper VA forms (included below), our next step is to map the paper forms to the digital forms.

Spreadsheet attached
[List of VA.gov Products.xlsx](https://github.com/department-of-veterans-affairs/va.gov-team/files/3652460/List.of.VA.gov.Products.xlsx)

**Acceptance Criteria**
- [X]  List of all Digital

[2019-09-25 12:56] #1990 closed

[2019-09-25 12:58] Karak888 commented on #1990
this is a duplicate ticket and closing this with no estimates as this will become a part of Sprint 5.

[2019-09-25 13:00] Karak888 commented on #1981
Verified and moving to close this issue.

[2019-09-25 13:00] #1981 closed

[2019-09-25 13:01] Karak888 commented on #1624
moving to close this ticket as Global UX work is complete

[2019-09-25 13:01] #1624 closed

[2019-09-25 13:02] #1728 closed

[2019-09-25 13:03] #1704 closed

[2019-09-25 13:06] Karak888 commented on #1703
moving to close this as updates have been made in GH and in Drupal

[2019-09-25 13:06] #1703 closed

[2019-09-25 13:07] Karak888 commented on #1812
closing this ticket as this work was previewed in Drupal.

[2019-09-25 13:07] #1812 closed

[2019-09-25 13:09] clantosswett commented on #1866
Had a conversation with Sylvia and she was able to share HRC data for VA.gov calls for the past 4 months.

[2019-09-25 13:14] Karak888 commented on #484
@kelsonic I will close this one and if you haven't already please create a new one for community care.  Thanks!

[2019-09-25 13:14] #484 closed

[2019-09-25 13:21] Karak888 commented on #1008
@peggygannon can this be closed now or are we still waiting on DIC Page?

[2019-09-25 13:25] Karak888 commented on #1284
@kelsonic @ncksllvn - Does this ticket still need to be validated? It is currently residing in "In Progress" column.  Please let me know, thanks!!

[2019-09-25 13:27] Karak888 commented on #1020
@RLHecht are we still waiting on the following issue:  https://github.com/department-of-veterans-affairs/vets.gov-team/issues/15832#issuecomment-530198327

Thanks!

[2019-09-25 13:36] nedierecel commented on #1828
@jenniferlee-dsva Happy to help! Yes, that is a little frustrating that we can't drag the column widths like you would with GSheets or Excel.

Speaking of Excel, there is a handy feature to download the data if that's a little more helpful for you:

![image.png](https://images.zenhubusercontent.com/5b295b9ff378ea1890b3d77e/8bbd6265-f9a1-42e2-b953-ade993c6ddd0)

[2019-09-25 13:36] RLHecht commented on #1020
@Karak888 Yes, this still needs to be written, reviewed and put in. Jen said it can wait till after the page goes live so it does not have to be done right away.

[2019-09-25 13:37] kelsonic commented on #1284
@Karak888 I wasn't sure if I should put this in the Validate column just yet since this specific issue seems to be more of an epic and the PRs I sent up were POCs only for [the pages mentioned above](https://github.com/department-of-veterans-affairs/va.gov-team/issues/1284#issuecomment-534581334) and not across the whole website. Happy to put it in the Validate column though if that's what we shou

[2019-09-25 13:38] nedierecel commented on #1846
@jonwehausen Notes from our Tuesday call. I'll chat with you via Slack on naming convention.

- For the Primary CTA buttons, we'll treat these differently since they are common and heavily requested patient tasks.

[2019-09-25 13:38] Samara-Strauss commented on #1296
@peggygannon please don't make any changes yet.

@lkoenigsberg can you confirm: we should **not** be changing the content page yet for DD since we are in a phased rollout but have not rolled out to all users.

@peggygannon yes, the widget changes based on whether the user is signed out, signed in but LOA1, signed in/LOA3/no 2FA, or signed in/LOA3/has 2FA.

@erikphansen can you help with technical

[2019-09-25 13:42] kelsonic opened #2015 "[COGNITION] Community Care second-level lists should be nested properly for assistive devices"
## Issue
This is a follow-up ticket to [this comment](https://github.com/department-of-veterans-affairs/va.gov-team/issues/484#issuecomment-534340349). The community care provider views sometimes have second-level lists that use CSS to indent them instead of nesting an `<ul>` inside the `<li>`. These lists were flagged as SC 1.3.1 issues. Screenshots attached below.

## Audit Finding
* Note 1, Def

[2019-09-25 13:43] Samara-Strauss commented on #1296
@peggygannon @lkoenigsberg nvm, just saw the part of your post where you said you were keeping things in draft until full launch. Sorry I missed that at first.

But otherwise, all other comments from above still stand. I don't know anything about how the technical implementation should work, but @erikphansen may be able to help you there.

[2019-09-25 13:43] kelsonic commented on #484
New issue created for Community Care: https://github.com/department-of-veterans-affairs/va.gov-team/issues/2015 👍

[2019-09-25 13:52] sporeboy opened #2016 "Discover Current Baseline for 'View Dependents' Functionality"
### User Story
As a eBenefits team member, I need a baseline of the current functionality of View Dependents so I can visualize features and process flow.

### Goal
Document the existing View Dependents workflow

### Objectives
- Understand current functionality
- Determine discrete functional elements/components
- Estimate LOE of each element and/or entire workflow
- Document user journeys (happy

[2019-09-25 13:58] sporeboy opened #2017 "Discover Current Baseline for 'Modify Dependents' Functionality"
### User Story
As a eBenefits team member, I need a baseline of the current functionality of Modify Dependents so I can visualize features and process flow.

### Goal
Document the existing Modify Dependents workflow

### Objectives
- Understand current functionality
- Determine discrete functional elements/components
- Estimate LOE of each element and/or entire workflow  vs discrete workflows
- Do

[2019-09-25 14:02] RLHecht commented on #1796
@peggygannon I updated the "Vocational Rehabilitation and Employment" reference in Drupal on this page. Can you please review and publish?

- https://www.va.gov/claim-or-appeal-status/

[2019-09-25 14:10] Karak888 opened #2018 "Update of Forms Search Page and Results Page - Content"
Ticket requires more information.  @kara to fill in after speaking with Jen.

[2019-09-25 14:10] joanneesteban opened #2019 "Analytics Support and Requests Sprint 9"
## High Level User Story
As VSP, I need to know the analytics support levels for Sprint  so I can prioritize analytics work accordingly.

## Hypothesis/(es)
**If** we track analytics support for this sprint **then** we expect to be able to prioritize our work in accordance to team bandwidth and maintain support consistency across VSP.

## Goals
Track all analytics support for this sprint.

## Obje

[2019-09-25 14:19] RLHecht commented on #1435
@jenniferlee-dsva I've updated this to put in the terms we discussed on the content weekly call yesterday. Please let me know when you've found out about Disability Benefits Questionnaires and Fully Developed Claim).

[2019-09-25 14:21] #1938 closed

[2019-09-25 14:30] Karak888 opened #2020 "Master Detail Landing Pages: Content for Forms based on the top 25 highly ranked search forms"
**Overview:**
This ticket is to create content templates for Master Detail Landing Page Forms, based off of the top 25 highly searched forms.

**Precursor Work:**
- [x] Determine which master landing page forms receive the highest traffic (template based on analytics forms)
- [x] Custom landing pages for our digital tool products (that have a paper form counterpart) even if they're not currently r

[2019-09-25 14:31] sporeboy opened #2021 "Create 'View Dependents' Screen Mockup"
### Story
As a Veteran, I want to be able to view my dependents in a clear and easy to read fashion so that I can make adjustments as needed with clear instruction.

### Goal
Create blueprint for Dependents screen layout

### Considerations
- There currently no mockup for this in the rainbows folder

There are 3 discrete pages to consider:
1.  Unauthenticated landing page (if not logged in)
2.  **

[2019-09-25 14:33] Justin-Pickett opened #2022 "Sprint 4 Retrospective"
## High Level User Story
As an Authenticated Experience Team Member I need review and comment on the retrospective board prior to our retrospective meeting so I can provide feedback to the team to apply this feedback towards the next sprint.

[Link to Retro board](https://funretro.io/publicboard/5gBtcenp7aSilrbq7MHxFy06UtF3/04c74306-55fb-4c74-8fcc-62f0f0c2aa58)
## Hypothesis/(es)
If we are providi

[2019-09-25 14:40] Justin-Pickett commented on #1332
@erikphansen this has been validated by myself and @artistgreen.

Closing this ticket!

[2019-09-25 14:41] #1332 closed

[2019-09-25 14:53] nedierecel commented on #1995
9/23/2019 - An overview was provided on Monday, 9/23 with Chip and David
9/24/2019 - Access was provided to GTM for both Chip and David, and an email was sent:

- Tuesday, Oct. 1 - 11-Noon EST
- Tuesday, Oct. 1 - 2-3 EST

[2019-09-25 14:56] nedierecel opened #2023 "[Support] Access for Jason W on Google Analytics"
## User Story or Problem Statement
As a Lighthouse team member, Jason W needs access to Google Analytics

## Goal
Provide access to Jason

## Objectives or Key Results this is meant to further

## Acceptance Criteria
- [ ] Collaborate access needs to be provided to Jason

## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to an Epic** (

[2019-09-25 14:57] YanaRoy opened #2024 "Contention Auto-Classification"
Original Ticket: https://github.com/department-of-veterans-affairs/vets.gov-team/issues/18981

Completed Synthesis: https://github.com/department-of-veterans-affairs/vets.gov-team/blob/master/Products/Disability/Disability%20526EZ/research/2019-07-automation/synthesis.md

## High Level User Story
As a _____, I need _____ so I can _____.

## Hypothesis/(es)
**If** _we make this change_ **then** _we

[2019-09-25 14:59] #1650 closed

[2019-09-25 15:01] mojaray2k commented on #1740
@tlei123 and @clantosswett I am not able to reproduce this error with the addresses you provided me. No Dialog box popped up.

![Your_Profile___Veterans_Affairs](https://user-images.githubusercontent.com/875558/65613261-b3194b80-df83-11e9-8e55-02de93fb4012.png)

[2019-09-25 15:02] #2023 closed

[2019-09-25 15:02] nedierecel commented on #2023
Jason W requested access via the [Vets.gov repo](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/19708) and was provided access today.

[2019-09-25 15:03] erikphansen commented on #1296
The widget is already done and will render all those states as needed. As long as it's embedded in the page it'll do everything itself.

[2019-09-25 15:08] lwalsh617 commented on #1418
Here is the tier 2 content audit for Disability, VR&E, Housing, Pension, & Life Insurance. All that's missing is education which is coming from Lunascoop (Thanks for that!)

[va.gov-tier2contentaudit-v1-092519.xlsx](https://github.com/department-of-veterans-affairs/va.gov-team/files/3653232/va.gov-tier2contentaudit-v1-092519.xlsx)

[2019-09-25 15:11] Justin-Pickett opened #2025 "Authenticated Experience: Maintenance, hardening, and improvements"
### This epic will help us track general improvements we want to make to tools that are outside of an existing/open project epic.

This also includes some tickets that were migrated over from the vets.gov repo (formally Dragon's board). [Link to hardening items on vets.gov repo](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/10292)

[2019-09-25 15:22] YanaRoy commented on #1715
Is this still applicable given that the ticket was created in 2018 pre va.gov?

[2019-09-25 15:23] RLHecht commented on #1796
@ncksllvn Please change the text in this green button to read "Apply for Veterans Pension benefits" (cap the word Pension): https://www.va.gov/pension/eligibility/

Also on the page it clicks through to: https://www.va.gov/pension/application/527EZ/introduction change the H1 to cap the word Pension so it reads "Apply for Veterans Pension benefits." It also needs to be changed in the text above the

[2019-09-25 15:25] smoonpeyes commented on #1715
It's still a valid concern, but not a high priority.

[2019-09-25 15:27] #1916 closed

[2019-09-25 15:27] smoonpeyes commented on #1989
Closing. This is done.

[2019-09-25 15:27] #1989 closed

[2019-09-25 15:34] smoonpeyes opened #2026 "[design] Design Eligibility page for the Higher-Level Review application"
## User Story or Problem Statement
As a Veteran, I need to understand if I am eligible to apply for a Higher-Level Review so I know if applying for a High-Level Review is worth my time.

## Acceptance Criteria
- [x] The Eligibility page follows the [VA.gov Benefits Application Design pattern](https://dev-design.va.gov/patterns/benefit-applications#eligibility).
- [x] Left nav has been designed acc

[2019-09-25 15:38] smoonpeyes opened #2027 "[OBE] Design "How to Apply" page for the Higher-Level Review application"
## User Story or Problem Statement
As a Veteran, I need to understand how to apply for a Higher-Level Review so I that I know what to expect during the application process.

## Acceptance Criteria
- [ ] The `How to Appy` page follows the [VA.gov Benefits Application Design pattern](https://dev-design.va.gov/patterns/benefit-applications#how-to-apply).
- [ ] Left nav has been designed according to

[2019-09-25 15:42] smoonpeyes opened #2028 "[OBE] Design the After You Apply page for the Higher-Level Review application"
## User Story or Problem Statement
As a Veteran, I need to understand what to expect after I apply for a Higher-Level Review so I that I know how long the process might take and how to interact with VA if I have questions.

## Acceptance Criteria
- [ ] The `After You Appy` page follows the [VA.gov Benefits Application Design pattern](https://dev-design.va.gov/patterns/benefit-applications#after-yo

[2019-09-25 15:53] chrisj-usds commented on #1284
For now, I think we can consider this done.

This particular issue was to properly tag a handful of pages so we could look at search results and try to identify any other positive aspects from using schema.org.

From there we can decide if / how to move forward and write a larger epic to do so. (That work, if we chose to continue it, would likely include some testing with JSON-LD and integration w

[2019-09-25 16:07] LindseySaari commented on #1816
MVI may be another service similar to EVSS, where we will want to extract some of the error handling logic out

[2019-09-25 16:15] #1857 closed

[2019-09-25 16:24] Kimberley2019 commented on #898
@AZSchneider @SMLuthi @YanaRoy

Good Afternoon,

Please add this to the list of other individuals that are having issues.  Please advise if any additional information is required.

Ticket #190923-000471
Date & Time 9/25/2019 11:46AM

I’m still unable to review my appeals information after 2 months. I have made repeated inquiries and most of them have received no response. Why is I taking so long t

[2019-09-25 16:30] jason-gcio opened #2029 "Locate the Total Calc endpoint location"
## Story
As a backend engineer, I want to know where 'total calc' is generated and defined, and where they live, so I can query that data and send it to the appropriate frontend application for consumption.

## Considerations
- If this appears to be a dead-end, note findings and discuss

## Tasks
- [x] Investigate the location (within EVSS) of the data surrounding pending items and how it would be

[2019-09-25 16:30] Justin-Pickett opened #2030 "Sprint 7 Objectives (10/23 - 11/05)"
## Sprint 7 Objectives for our team

Focal Point Areas for Sprint 7 are listed below:

1. Continue working towards launch of Direct Deposit. Shooting for 10/30. Dependent on ebenefits, error messaging work arounds.

2. Direct Deposit post launch items

3. Usability testing for Candidate Address. Beginning 10/25 - 11/ 2 . (Rescheduling for later date after DD stabilizes)

4. Break down of FE techni

[2019-09-25 16:37] ncksllvn commented on #1466
Moving to validate because the RFC is about done and just needs to be proposed to the wider engineering group.

[2019-09-25 16:42] Karak888 commented on #1466
Thanks @ncksllvn ! I am sure you already have your recommendations or write-up, but let me know if you would like for me to capture it and save for you somewhere!

[2019-09-25 16:43] jason-gcio opened #2031 "Investigate Efficacy of Pending Items on Rated Disabilities"
## Goals
Determine whether the information provided in the Claim Status Tool for Pending Ratings is the same as what is trying to be displayed on Rated Disabilities.  It might be possible that we don't need this feature.

## Definition of Done
- [x] Establish whether or not the Pending information is redundant

[2019-09-25 16:46] steve-gov commented on #1889
If we can't get it into the current EVSS package we're pulling from, this is an alternative: https://developer.va.gov/explore/verification/docs/disability_rating

[2019-09-25 16:47] tlei123 commented on #1437
@mojaray2k ,
Please route* to @1Copenut for Validation once [PR](https://github.com/department-of-veterans-affairs/vets-website/pull/10715)'s merged and change is on Staging \[the PR's not Merged yet due to some failing Jenkins checks].

Thanks much!

\*For a11y updates/bugfixes (anything involving assistive devices), @1Copenut’s the appropriate validator, because he has the specialized screenread

[2019-09-25 16:47] steve-gov commented on #1975
If we can't get it into the current EVSS package we're pulling from, this is an alternative: https://developer.va.gov/explore/verification/docs/disability_rating

[2019-09-25 16:47] Karak888 commented on #1284
Moving this to close but will brainstorm on where to store this amazing info for future rollouts! Thanks again for working this so great!

[2019-09-25 16:47] #1284 closed

[2019-09-25 16:48] #1418 closed

[2019-09-25 16:50] YanaRoy opened #2032 "[Original Claims] Implement MVI proxy add endpoint"
## User Story
As a member of the Benefits and Memorials Team, I want to be utilize the MVI endpoint so that data is dynamic and relevant to the end user.

## Task
Implement MVI proxy add endpoint

## Goal
_Create an integration between MVI and va.gov to provide ability to create a CORP ID if a BIRLS ID is found_

## Acceptance Criteria
- [ ] _Implement MVI proxy add endpoint_

[2019-09-25 16:51] Karak888 commented on #1466
moving to close- follow-up with Nick to capture write-up and his recommendations!

[2019-09-25 16:51] #1466 closed

[2019-09-25 16:51] YanaRoy opened #2033 "[Original Claims] Downtime Testing with Consumers"
## User Story
As the Back-end Engineer on the Benefits and Memorials team, I need to perform downtime testing with consumers so I can ensure they experience the expected results.

## Task
Downtime Testing with Consumers

## Acceptance Criteria
- [ ] Tests have been scheduled
- [ ] Tests have been executed
- [ ] Addition needs have been identified and documented in future ticket (if needed)

[2019-09-25 16:53] YanaRoy opened #2034 "[Development] Testing in MVI Staging Environment"
## User Story or Problem Statement
As a veteran, I need to be able create a profile so I can file a new, first time claim for a disability compensation.

In order to achieve the goal for the veteran, we need to complete a series of tests in the staging environment to test the proxy add endpoint and complete the integration with MVI.  This is dependent on the iDev story wrapping up.

## Tasks
- [x]

[2019-09-25 16:54] YanaRoy opened #2035 "[OBE] Configure in pre-prod environment"
## User Story or Problem Statement
As the Backend Engineer on the Benefits and Memorials team, I need to complete a series of configuration tasks in the pre-production environment so I can establish the implementation and complete the integration with MVI.

## Goal
_Complete configuration in pre-prod environment_

## Tasks
- [ ] Configure in pre-prod environment

## Acceptance Criteria
- [ ] Compl

[2019-09-25 16:55] YanaRoy opened #2036 "[Checklist] Release to Production Launch Checklist"
## Tasks
- [x] Release to Production!

[2019-09-25 17:06] ncksllvn commented on #1284
@chrisj-usds Should we do a follow-up ticket for evaluating the results using @nedierecel's suggestion after X amount of time has passed?

[2019-09-25 17:06] jason-gcio opened #2037 "Internal 508 Testing for Rated Disabilities"
## Goal
As an frontend engineer, I want an internal 508 test, so I know my application is as accessible as possible, and accounts for various different user scenarios before official 508 review.

## Task
- Define the 508 testing domains for this feature and reference any existing documentation and create a test infrastructure.
- Keyboard functionality/accessibility
- Onscreen, color contrast, colo

[2019-09-25 17:11] Karak888 commented on #1697
continuing in a new form - mapping from what is live to what is retired became way too complicated. @mnorthuis @lwalsh617 - page to page parity review from 100 pages Mikki wants to identify.  Check if VSP IA has a link - will check with Mikki!

[2019-09-25 17:11] #1697 closed

[2019-09-25 17:12] Karak888 commented on #1435
waiting for @jenniferlee-dsva  review and following up on a few terms to see if we should be adding them.  ^^^

[2019-09-25 17:12] chrisj-usds commented on #1284
Sounds good to me @ncksllvn !

[2019-09-25 17:13] Karak888 commented on #1615
Moving to close this one and will start a new ticket with help of @mnorthuis CC:  @lunascoop @jenniferlee-dsva

[2019-09-25 17:18] jason-gcio opened #2038 ""View and Update Dependents" Orientation"
## Goal
Introduce and orient the team on the View and Update Dependents feature

## Consideration
Be sure to record this session, and make it widely available to team

## Definition of Done
- [x] Schedule a time for the team to get together and learn about Dependents (Thursday morning, Friday 9/27, **Monday 9/30 - 12:30 pm PT 3:30 pm ET**, Tuesday 10/1)
- [x] Attend orientation

[2019-09-25 17:18] gunsch commented on #1735
Hey, I see you documented _what happens_ above but then closed this without much follow-up. Questions I have:

* are we okay with this behavior?
* is anyone notified when jobs end up in DeadSet?
* sure, they _can_ be manually retried, but is anyone actually doing that?

[2019-09-25 17:18] gunsch commented on #1735
cc @annaswims @johnpaulashenfelter PTAL at above

[2019-09-25 17:20] Karak888 commented on #1625
- @ncksllvn looked at a few, on preview server and didn't see any visual inconsistencies (outside of those that are intentional) some things are not 1-1 aligned it is a bug CMS will fix after UAT- talk to @jefflbrauer can you help provide us with a screenshot

[2019-09-25 17:20] gunsch commented on #1280
Confirming they've been completed (and I checked off the AC boxes above). Thanks for organizing things this way, this was pretty easy to follow.

I reopened https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/1735 because that was intended to be a conversation starter --- not blocking launch, but probably a few things we ought to investi

[2019-09-25 17:20] #1280 closed

[2019-09-25 17:22] Karak888 commented on #1637
Looks great @nedierecel @jenniferlee-dsva will share the VA forms Stakeholder Team.  Closing this out!

[2019-09-25 17:22] #1637 closed

[2019-09-25 17:24] Karak888 commented on #1626
not much we can do here conversation was with CMS - @jefflbrauer we may have some involvement but will get with Platform team to handle VSP-CMS.

[2019-09-25 17:25] YanaRoy opened #2039 "Complete research on MVI work needed"
## Task
Complete research on MVI work needed

- Research meeting with previous developers to identify problem points
- Walkthrough of current test data
- Get access to datapower

[2019-09-25 17:25] ncksllvn opened #2040 "Evaluate results of schema.org improvements"
Follow up to the work here - https://github.com/department-of-veterans-affairs/va.gov-team/issues/1284

In the work behind the ticket above, our schema.org implementation was improved in five pages of the website. We should now use Google Analytics to determine if the schema.org improvements in those five pages has resulted in more users coming to the site.

This is difficult to measure, but this

[2019-09-25 17:26] Karak888 commented on #1519
@jenniferlee-dsva will have a couple more conversations - Discovery ticket (in-flight)

[2019-09-25 17:27] Karak888 commented on #483
will take on in this sprint 5.

[2019-09-25 17:30] ncksllvn commented on #1284
Follow-up ticket added here, https://github.com/department-of-veterans-affairs/va.gov-team/issues/2040!

[2019-09-25 17:31] Karak888 commented on #1328
@Karak888 to add outline from Steve. K - Hasn't been touched in awhile but add document!!

[2019-09-25 17:34] Karak888 commented on #490
@Karak888 will discuss with @jason-gcio to understand if this is being duplicated?

[2019-09-25 17:37] Karak888 commented on #490
crossteam meeting will be good to have with the new Facility Locator teeam as they come up to speed.

[2019-09-25 17:44] Karak888 commented on #1519
bringing back stakeholder team @Karak888 to create a ticket for demo bi-weekly etc.

[2019-09-25 17:46] #1416 closed

[2019-09-25 17:46] #1419 closed

[2019-09-25 17:46] #1422 closed

[2019-09-25 17:48] YanaRoy commented on #1918
Not MVP priority per designers

[2019-09-25 17:49] Justin-Pickett commented on #1798
@erikphansen will look into this item. Will follow up if additional information is needed.

[2019-09-25 17:49] #1975 closed

[2019-09-25 17:50] jason-gcio commented on #2029
Per Steve:

[2019-09-25 17:51] Justin-Pickett commented on #2009
Will follow up with @erikphansen  on this item after we roll DD out on 10/2.

[2019-09-25 17:52] #1911 closed

[2019-09-25 17:53] Karak888 commented on #1878
associated epic onpage navigation and Menu for Pittsburgh - that work will be applied to benefit hubs.

@Karak888 IA placeholder - deep levels of navigation
change on page nav so we only allow 3 /4 levels of pages

begin to identify pages below levels 3/4 and bring them up to surface to level above.

@jenniferlee-dsva will add some examples and tickets will come out of this epic to work.

Kick - O

[2019-09-25 17:54] Justin-Pickett commented on #1691
@mojaray2k will looking this ticket.

[2019-09-25 17:55] aeltarhoni commented on #1725
@YanaRoy will schedule call with stakeholders to start process.

[2019-09-25 17:56] Justin-Pickett commented on #705
Having trouble replicating this issue. Need clearer guidance on what changes are needed for the code. Will coordinate with platform team on trying to get some movement on this issue.

[2019-09-25 17:57] Justin-Pickett commented on #1735
@lihanli  will follow up on this item.

[2019-09-25 18:01] lunascoop commented on #1418
Here is an updated version with education included.

[va.gov-tier2contentaudit-v1-092519.xlsx](https://github.com/department-of-veterans-affairs/va.gov-team/files/3654108/va.gov-tier2contentaudit-v1-092519.xlsx)

[2019-09-25 18:09] Karak888 commented on #1960
This was handled by CMS - @nick to look for PR

[2019-09-25 18:10] #1960 closed

[2019-09-25 18:11] Karak888 commented on #1961
@jenniferlee-dsva  will follow up to see if that haven't had any data issues we will move forward with updating the messaging.

[2019-09-25 18:14] Karak888 commented on #1507
@jenniferlee-dsva  @ncksllvn will work on getting call setup to discuss next steps.

[2019-09-25 18:21] Karak888 commented on #2020
@artsymartha68 will handle design, @jenniferlee-dsva will determine who from content team should pick this up.

[2019-09-25 18:24] ncksllvn commented on #731
While doing this work, also update error messages here - https://github.com/department-of-veterans-affairs/vets.gov-team/issues/19139#issuecomment-534742591

[2019-09-25 18:24] aeltarhoni commented on #1536
@ndsprinkle will follow up

[2019-09-25 18:35] wyattwalter opened #2041 "missing billing tags on ELBs"
Boris pointed out that we were missing tags on a few ELB's:

- [ ] dsva-vetsgov-utility-sentry-elb -- can be deleted
- [x] dsva-vetsgov-dev-forward-proxy
- [x] dsva-vetsgov-prod-forward-proxy
- [x] dsva-vetsgov-stag-forward-proxy
- [x] dsva-vagov-utility-sentry-elb

I'm pretty sure that the 3 forward-proxy ones should be torn down, need to audit this list and get rid of what we don't need and make

[2019-09-25 18:37] RLHecht opened #2042 "Determining title casing for Aid and Attendance and Housebound allowance"
## User Story or Problem Statement
As a content team member, I need to know proper casing for terms used on VA.gov so I can maintain consistency across all benefit hubs.

## Goal
Determine if the term Aid and Attendance and Housebound allowance is a proper name that should be capped in all instances on the website. Currently we have it written different ways.

## Objectives or Key Results this is

[2019-09-25 18:39] markgreenburg opened #2043 "Update Type of Care List"
The type of care options for veterans need to be updated to clarify the sleep medicine options for veterans (based on feedback) and to remove express care since MVP will not handle these.

Sleep medicine option should show a follow up page (like what we do with audiology)

## AC
- [ ] Type of Care page does not include Express Care
- [ ] Type of Care page includes 'Sleep Medicine' option
- [ ] Typ

[2019-09-25 18:51] markgreenburg commented on #2043
@rtwell do we have some content to put into the sleep medicine follow up page? Kind of like the helper content we have for audiology?

[2019-09-25 18:54] peterhill-oddball commented on #1398
@tlei123 Please have a look at the load tests that require authenticated sessions.  One example is the appealsv2 test.

[2019-09-25 18:55] peterhill-oddball commented on #1445
@tlei123 Please have a look at the load tests that require authenticated sessions. One example is the appealsv2 test.

[2019-09-25 18:55] rtwell commented on #2043
i would get that from @peggygannon and @lalexanderson-dsva

[2019-09-25 19:03] mnorthuis commented on #1615
Work here is not complete, reopening.

[2019-09-25 19:16] RLHecht opened #2044 "Change text on Correspondence Training page per stakeholder request"
## User Story or Problem Statement
Per a stakeholder request, text to the correspondence training page needs to be updated.

## Goal
In the intro of this page: https://www.va.gov/education/about-gi-bill-benefits/how-to-use-benefits/correspondence-training/, change the text from "Correspondence training (coursework completed by mail)" to "Correspondence training (coursework completed by mail, onlin

[2019-09-25 19:24] RLHecht commented on #2044
@peggygannon I've made this change. Please review and publish. @KevinMHoffmanUSDS FYI

[2019-09-25 19:31] Mottie commented on #1916
Should I make a ticket about what text to show in the error message?

[2019-09-25 20:05] jenniferlee-dsva commented on #1961
Pending stakeholder confirmation. Email comms and notes pasted below. @ncksllvn re your note ^ - If we're just removing that paragraph of text, not sure we need to say anything. I don't have the full history though, so let's talk when this gets worked on. IF text is needed, yes, can def assign to content team first.

From: Lee, Jennifer Y.
Sent: Wednesday, September 25, 2019 3:45 PM
To: Rollins, A

[2019-09-25 20:09] peggygannon commented on #1965
Hi, @jason-gcio

Can you tell me when you need the content review to be completed by? Have user sessions been scheduled?

[2019-09-25 20:10] wyattwalter opened #2045 "unbound deployment should auto-refresh"
It looks like the current implementation of unbound is setup to auto-refresh in the DVP environment, but not the VSP/vagov environments. This is causing nodes to become stale and not get updates as they should.

In the short-term, we should add something to the release job that pushes it out to the additional environments. In the longer-term we should have something in place to prevent the need fo

[2019-09-25 20:18] peggygannon commented on #1296
@Samara-Strauss @erikphansen @Justin-Pickett OK, thank you for the updates.

Yes, the page is in a "draft" state in the CMS and will NOT be published until full launch (please keep me posted on that date).

And thank you for answering my questions about the "different" sign-in states. The widget is embedded in the draft page, so glad to hear it will render the different states. thank you!!

@Samar

[2019-09-25 20:33] cvalarida opened #2046 "Break content-only builds on broken links"
## Problem
The content only build finds broken links, but does not abort the build when they're found. This causes broken links to be deployed to production.

### Possible solution
The `buildAll` function has a `contentOnlyBuild` argument. We can use this in `build()` to pass to `checkForBrokenLinks()` which will `throw` `if(IS_PROD_BRANCH || contentOnlyBuild)` when broken links are found.

## Goa

[2019-09-25 20:39] Karak888 commented on #1615
we went over in sprint planning but @jenniferlee-dsva please keep me in the loop on where things stand from planning perspective. thanks

[2019-09-25 20:54] Samara-Strauss commented on #1296
Sure, why not 😄

[2019-09-25 20:55] jason-gcio opened #2047 "[TASK] Engage with Former Team on Dependents Work"
## Story
As as an eBenefits Team member, I would like to learn as much as I can from the former 686 Dependents Team.

## Tasks
- Review the 686 Dependents [Product Outline](https://github.com/department-of-veterans-affairs/vets.gov-team/tree/master/Products/Disability/Declare%20Dependent%20686)
- Get in touch with someone from the 686 Dependents Team and/or Matt Self
![686-team](https://user-image

[2019-09-25 20:56] jenniferlee-dsva commented on #1615
@mnorthuis - my bad! I thought with the new approach, this was going to be replaced, but makes sense to keep same issue. Would it make sense to update this with the new approach we discussed at weekly (and I think you already outlined in Slack)?

[2019-09-25 21:05] Kimberley2019 commented on #1883
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsp/teams/triage/call-center/ROE.MD

[2019-09-25 21:10] wyattwalter commented on #183
We can pick up whatever report is generated in Jenkins with something like this: https://github.com/department-of-veterans-affairs/vets-api/blob/master/Jenkinsfile#L33

vets-website uses a scripted pipeline, so the syntax will look a bit different.

[2019-09-25 21:14] ndsprinkle commented on #1536
I have followed up with Mark on this and will report back once I hear from him.

[2019-09-25 21:15] rianfowler opened #2048 "Add unit test coverage report to vets-website jenkins jobs"
follow the suggestion mentioned [here](https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/183#issuecomment-535222733) to add unit test coverage reporting to jenkins.

The report should look similar to this: http://jenkins.vfs.va.gov/job/testing/job/vets-api/job/master/lastCompletedBuild/Coverage/

[2019-09-25 21:18] ncksllvn commented on #1541
Hey @nedierecel @jonwehausen! So right now, our additional infos trigger events specific to its context. For example, the one on `/health-care`  triggers `nav-crisis-homelessness-expander`. It looks like it's also passing a property called `additional-info-expander-label` with the value of the button text - `We may be able to help`. Do we want to keep any of that?

![image.png](https://images.zenh

[2019-09-25 21:19] mnorthuis commented on #1615
The tasks are still pretty much the same, but I will update the list in the description to be more detailed.

[2019-09-25 21:22] ndsprinkle commented on #1638
I have reached out to Alex Taylor about this and will report back once I have more information. He is equally confused by some of the wording, so we may have to schedule a time to talk to try to figure out what exactly this story is asking and if this has maybe already been resolved.

Yana provided this link:

https://github.com/department-of-veterans-affairs/vets.gov-team/blob/master/Products/Dis

[2019-09-25 21:48] #2022 closed

[2019-09-25 21:53] mnorthuis commented on #1615
Description updated and converting to an epic.  Will attach all new redirects tickets for tracking purposes.

[2019-09-25 21:56] mnorthuis opened #2049 "Redirects in Pension based on parity work"
**User Story**
As user of VA.gov, if I click on a link or option for a legacy content page, I want to be automatically redirected to the new updated content page, so that I am always seeing the most updated, single source of truth for benefits information.

*Issue copied from vets.gov-team repo -https://github.com/department-of-veterans-affairs/vets.gov-team/issues/15516*

**Goal**
After all parit

[2019-09-25 21:58] mnorthuis opened #2050 "[Due on 03/02] Redirect Request: Careers parity work"
**User Story**
As user of VA.gov, if I click on a link or option for a legacy content page, I want to be automatically redirected to the new updated content page, so that I am always seeing the most updated, single source of truth for benefits information.

*Issue copied from vets.gov-team repo - original issue: https://github.com/department-of-veterans-affairs/vets.gov-team/issues/15515*

**Goal*

[2019-09-25 22:17] mnorthuis opened #2051 "Redirects in Health Care based on legacy rewriting work"
**User Story**
As user of VA.gov, if I click on a link or option for a legacy content page, I want to be automatically redirected to the new updated content page, so that I am always seeing the most updated, single source of truth for benefits information.

*Issue copied from vets.gov-team repo - original issue: https://github.com/department-of-veterans-affairs/vets.gov-team/issues/17973*

**Goal*

[2019-09-25 22:19] mnorthuis opened #2052 "[Launch April 6] Redirects in Education based on parity work"
**User Story**
As user of VA.gov, if I click on a link or option for a legacy content page, I want to be automatically redirected to the new updated content page, so that I am always seeing the most updated, single source of truth for benefits information.

*Issue copied from vets.gov-team repo - original issue: https://github.com/department-of-veterans-affairs/vets.gov-team/issues/15512*

**Goal*

[2019-09-25 22:21] mnorthuis opened #2053 "Redirects in Disability based on legacy rewriting work"
**User Story**
As user of VA.gov, if I click on a link or option for a legacy content page, I want to be automatically redirected to the new updated content page, so that I am always seeing the most updated, single source of truth for benefits information.

*Issue copied from vets.gov-team repo - original issue:https://github.com/department-of-veterans-affairs/vets.gov-team/issues/17974*

**Goal**

[2019-09-25 22:49] mnorthuis commented on #2049
All parity work for life insurance is done per this issue: https://github.com/department-of-veterans-affairs/vets.gov-team/issues/16292

[2019-09-25 22:55] mnorthuis commented on #2050
All parity updates were approved and implemented per this issue: https://github.com/department-of-veterans-affairs/vets.gov-team/issues/16289.

[2019-09-25 23:05] mnorthuis commented on #2052
Parity updates are complete and live based on this issue: https://github.com/department-of-veterans-affairs/vets.gov-team/issues/15111.

[2019-09-25 23:08] kfrz commented on #1962
I don't believe this is severe issue, but I agree it needs some improvement. The API returns a response that is mocked out when running locally - this is likely some sort of difference in the response being sent to in production/staging than we have mocked.

We will investigate the disparity and likely have to update the mocks accordingly.

/cc @alexpappasoddball I'm going to put this onto our boa

[2019-09-25 23:19] mnorthuis commented on #2052
@peggygannon  This[ issue](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/15111) states that all parity edits are approved and live, but the issue below has a number of questions that came up after the fact that I'm not sure if they were resolved or not.  Can we chat about this one?

https://github.com/department-of-veterans-affairs/vets.gov-team/issues/15512

[2019-09-25 23:29] mnorthuis commented on #1891
My notes on 9/25 meeting with full eBenefits team:

**General process for migrating**
- notifying users and handling traffic/redirects - they added this to their launch checklist to come back to as they get closer to launch.  eBenefits has its own timeline and process for initial messaging and then full redirect.

**View rated disabilities tool**
- this is their next thing, mockups are done, disco

[2019-09-25 23:49] chrisj-usds commented on #1961
RE: the messaging and links to Tri-west. I think there are a few steps in that work:

1/ Ensure that the urgent care data in PPMS is correct. (I believe we're still waiting on the OCC team for confirmation)

2/ Remove the message above the search box that links to Tri-west. *

OCC suggested (and I concur) that this be replaced with some simple instructions on how to search for urgent care and reta

[2019-09-26 08:07] markgreenburg opened #2054 "Prefill contact info"
## Story
As a veteran with an existing VA.gov account, I want my contact information to be prefilled for me in the online scheduling tool when I so that I don't have to type it in again.

## AC
- [ ] Email address for appt contact preferences prefilled to veteran's email on file for both requests and direct schedule appointments
- [ ] Phone number for appt contact preferences prefilled to veteran'

[2019-09-26 12:22] kfrz commented on #1962
Confirmed modifying the mock data set [here](https://github.com/department-of-veterans-affairs/vets-api-mockdata/blob/master/search/default.yml) has a very high results number which doesn't match actual results set.

[2019-09-26 12:39] KevinMHoffmanUSDS commented on #2044
@RLHecht Thank you!

[2019-09-26 12:55] RLHecht commented on #1595
Style guide updates need to be made to the following page, including sentence casing and "service member" among others.

https://www.va.gov/housing-assistance/

- [ ] Changes made
- [ ] Reviewed and published

[2019-09-26 12:57] Jeff-Hayter commented on #1633
@tskinn eQIP received, AWS access can now be granted.

[2019-09-26 13:00] rtwell commented on #948
@goldenmeanie will be picking this up in my absence.

[2019-09-26 13:02] nedierecel commented on #1541
@ncksllvn @jonwehausen

When those were first created, we were looking on components on a case-by-case scale. However, with this particular use case:

1. A business question that @jenniferlee-dsva may want to weigh in on - for homeless expanders, we currently track this as an Event Action of :`Crisis Modal Clicked - Homelessness`. Do we want to treat Homelessness interactions distinctly since they

[2019-09-26 13:11] ricetj commented on #1947
done

[2019-09-26 13:11] #1947 closed

[2019-09-26 13:13] ricetj commented on #1951
resolved

[2019-09-26 13:13] #1951 closed

[2019-09-26 13:13] ricetj commented on #1905
This was started, but need to do another run through next week

[2019-09-26 13:14] lwalsh617 commented on #1418
Quick note: I included content like factsheets in videos in tier 2, though, strictly speaking they address tier 1 issues around accessing/managing benefits. My rationale is that much of the same info is available on tier 1 pages. So, for example, while I don't think we'd want a factsheet to compete with the tier 1 content on a webpage, it's valuable for the user who prefers to download a "factshee

[2019-09-26 13:19] jenniferlee-dsva commented on #1961
Second what Chris said here: "Another idea is to replace the example searches in that box with those examples? (Cardiology is a terrible example, fwiw)"  - in lieu of instructional text. (More sense to test with less text, and then add if we need to.)

[2019-09-26 13:30] annaswims commented on #2048
I think these reports will meet your needs
Total coverage over time:
https://codeclimate.com/github/department-of-veterans-affairs/vets-website/trends/test_coverage_total
current coverage per file:
https://codeclimate.com/github/department-of-veterans-affairs/vets-website/code?sort=-test_coverage

[2019-09-26 13:50] Kimberley2019 commented on #1886
![Call Center Flowchart.png](https://images.zenhubusercontent.com/5d3b2f7176f8655a8ad39ace/197ec2ed-6a0e-4dfb-8f21-013e2d77809a)

[2019-09-26 13:50] clantosswett commented on #1867
Held training but realized the process might not work so I have been working on updating how we triage IRIS issues and documenting the new process. Kimberley and I will test it out and make any tweaks and then finalize documentation and upload into Github.

[2019-09-26 14:31] ricetj opened #2055 "Expose Platform Data"
## Description:
Bring to life data that was not available before and work to automate it's retrieval.

## User Story
As VSP Ops members we want other teams to be able to have access to data that they need to help VFS teams make smart product decisions for their applications.

## Goals
Expose infrastructure and Backend data for others to see and use.

## VSP OKRs
O4: All of the Platform's KPIs are

[2019-09-26 14:35] jenniferlee-dsva commented on #1828
@nedierecel - I'm now getting a message that I don't have permission to view, even though I am signed in.

[2019-09-26 14:44] 1Copenut commented on #705
@Justin-Pickett Try adding all of the benefits from the select benefits screen and then return to this first view. It should be reading out all of the information, which has been flagged by auditors in other cases.

I'm adding @jenstrickland as a resource to this ticket. She's the VSA accessibility lead and will be able to offer context and guidance.

[2019-09-26 14:54] nedierecel commented on #1828
@jenniferlee-dsva Confirming I see this and will check out what's going on.

[2019-09-26 15:09] #1333 closed

[2019-09-26 15:09] #1529 closed

[2019-09-26 15:11] nedierecel commented on #1898
Jason W. was added on 9/24/2019

[2019-09-26 15:11] #1898 closed

[2019-09-26 15:16] rianfowler commented on #2048
@gunsch @annaswims I added the links here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/engineering/unit-test-coverage-reports.md

[2019-09-26 15:16] #2048 closed

[2019-09-26 15:17] jason-gcio commented on #1909
@sporeboy - Is there anything else missing from this that we should capture ahead of getting feedback back from Content/IA?

[2019-09-26 15:17] erikphansen commented on #705
Thanks @1Copenut! I think the hangup is the fact that this is an issue using NVDA on Win 10, which we don't have easy access to so we can't replicate it. Is this also an issue using voiceover in Safari?

[2019-09-26 15:30] sporeboy commented on #1909
My takeaways from the meeting:

--Content/IA didn't carefully review what we sent :-0 We may have hit them too early...
--Peggy will put us on her calendar to review Disabilities mockup for content in the next two weeks
--Mikki suggested looking at current inbound eBenefits Disabilities links
--IA wants to have redirect plan when we go live
--Rated Disabilities will (most likely) live in the disab

[2019-09-26 15:32] #1909 closed

[2019-09-26 15:35] sporeboy commented on #1909
[Content Review Process](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/content/content-review-process.md)
[Error Handling Dictionary](https://github.com/department-of-veterans-affairs/vets.gov-team/blob/master/Products/Platform/Design%20System/Guidelines/Error%20handling/Dictionary.md)
[Error Message Standardization](https://github.com/department-of-veterans-af

[2019-09-26 15:42] nedierecel commented on #1828
@jenniferlee-dsva It looks like the report is operating again, but please let me know if you are running into the issue. I wanted to also call out another item within the report. Because of the timeframe and filters we've applied, the data here is sampled:

![image.png](https://images.zenhubusercontent.com/5b295b9ff378ea1890b3d77e/b6be0734-6b5f-4fe5-bd0a-d4ce00dc4ee8)

This should still be a good

[2019-09-26 15:43] erikphansen commented on #1798
So the profile itself is gated on the user being verified: https://github.com/department-of-veterans-affairs/vets-website/blob/bd4e32db6f87b800820e8dffdda02c90f0b66414/src/applications/personalization/profile360/components/ProfileView.jsx#L93

So, I know nothing about DSLogon; is it possible for them to be verified without going through the ID.me ID proofing procedure? Is that what this "remote pr

[2019-09-26 15:57] nwalke opened #2056 "Access for Nick Walke"
# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please provide the name of your team, your role on that team, and the name of the company you work for.

- What is the **public** SSH key?

- [Grant AWS Console access?]

[2019-09-26 15:58] nwalke commented on #2056
@department-of-veterans-affairs/vsp-operations ^

[2019-09-26 15:59] ricetj commented on #2056
@Jeff-Hayter
COR: Yourself
User: Nick Sprinkle

[2019-09-26 16:06] Karak888 commented on #1828
@nedie I haven't been in yet but doing that today, but this is awesome info and I am excited to go through it.  Thanks!

[2019-09-26 16:12] ndsprinkle commented on #1638
From what I understand, Alex believes that there is a condensed contentions list somewhere of only around 120 items that was meant to make it easier for the veteran to scroll through them and pick the right disability. We were supposed to meet and talk about it this morning, but Alex said his schedule today is super tight, so we will probably meet tomorrow instead.

[2019-09-26 16:14] kelsonic commented on #490
I just want to reaffirm that this is what we want:

**Current behavior** is that when a user is focused on the map and presses either `+` or `-`, it zooms the user in/out and when the new results come in we focus on the results.

**Expected behavior** is that when a user is focused on the map and presses either `+` or `-`, it zooms the user in/out and when the new results come in focus does not ch

[2019-09-26 16:14] ndsprinkle commented on #1536
According to Mark, this still happens frequently. He says this is another example: http://jenkins.vfs.va.gov/job/rake_tasks/job/vets-api-form526-errors/35/console

And he said that any message that reads like "form526.treatments[0].treatedDisabilityNames.isInvalidValue: The disability name tinnitus does not match any disability name from your list of disabilities" is an example.

[2019-09-26 16:16] tlei123 commented on #1740
@mojaray2k , IF this is replicable on Staging (i.e., only not replicable on your Local), then pls. try to temporarily tweak the relevant Redux action/reducer code to force a local error condition.  Just make sure your temp tweak doesn't get commited.

Not sure if Erik/Lihan has told you but, while Staging returns actual API-endpoint responses, Local mostly returns mocked (from vets-api-mockdata).

[2019-09-26 16:34] erikphansen commented on #1798
I just found the thread in Slack that is the root of this issue: https://dsva.slack.com/archives/C909ZG2BB/p1568420910001800

This change is going to be a much larger task than I had initially thought. We need to change the info we get back from the `GET user` endpoint. Maybe we'd include something like an `idmeVerified` prop next to `verified` on the `data.attributes.profile` object that we get b

[2019-09-26 16:45] tlei123 opened #2057 "Access for Tze-chiu Lei (VSA Engineering Support)"
# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please provide the name of your team, your role on that team, and the name of the company you work for.

- [if requesting SSH key authorization] What is the **public** SSH key? If you don't have a SSH Key or know how to find it [click here](https://github.com/department-of-veterans-

[2019-09-26 16:47] tlei123 commented on #2057
Hi, @department-of-veterans-affairs/vsp-operations!  Please grant me AWS access, per info provided in Description above.  Thanks much!

[2019-09-26 16:49] ricetj commented on #2057
@Jeff-Hayter
COR: Mary O'Toole
User: Tze-chiu Lei

[2019-09-26 16:51] narin opened #2058 "Update routing on 'Type Of Appointment' Page"
## Description
This page was created before @jbalboni created the consolidated newAppointmentFlow.  Will need to update it to adhere to the flow.

## Acceptance Criteria
- [ ] `goForward()` and `goBack()` functions updated
- [ ] `newAppointmentFlow.js` has been updated accordingly

[2019-09-26 18:14] tlei123 commented on #1445
I should hopefully have AWS-access granted in the next couple of days.

In the meantime, I'm continuing my Python & Locust learning.

[2019-09-26 18:16] narin commented on #1574
Validated on staging

[2019-09-26 18:16] #1574 closed

[2019-09-26 18:30] jason-gcio opened #2061 "Address Table Component Reflow at 320px Breakpoint"
## Story
As a member of a development team working within the VA.gov website, I need a way to create tables that reflow to accommodate the 320px grid-breakpoint (mobile).

## Consideration
- Should we consider reflowing table at 481px?

## Tasks
- Review the [VA design system](https://design.va.gov/components/tables) to see if there is any information to address table reflow--particularly at 481px

[2019-09-26 18:31] steve-gov commented on #2031
Confirmed that "Pending Disabilities" are actually claims in process.

![pending-disabilities](https://user-images.githubusercontent.com/25468689/65714930-ebd32680-e050-11e9-9d8a-a878af5b8b56.gif)

[2019-09-26 18:36] steve-gov commented on #1890
As per the blocking issue, "Pending Disabilities" is actually just a list of claims in process. That is not a function we want to replicate on this page at this time. Directing user to the Claim Status tool is sufficient for this function.

Requires: New design issue, replacing the Pending Disabilities table with a CTA to view the Claim Status Tool page.

[2019-09-26 18:39] steve-gov commented on #2031
Better screencap:

![pending-disabilities-2](https://user-images.githubusercontent.com/25468689/65715632-56d12d00-e052-11e9-8acb-66b4b703dbcf.gif)

[2019-09-26 18:43] kelsonic commented on #2040
@Karak888 @ncksllvn For the following pages, what specific Google Search queries would we like to track (to see if the presentation of our *search engine results pages* improves with the recent PRs that update the schema.org implementation)?

- [] https://www.va.gov/disability/eligibility
- [] https://www.va.gov/disability/add-remove-dependent
- [] https://www.va.gov/discharge-upgrade-instructions

[2019-09-26 18:55] kelsonic commented on #1258
As @ncksllvn mentioned, one solution is to update the robots.txt conditionally depending on the environment. On environment's that are not production, the `robots.txt` file should look like:
[code]

Another solution is to use the meta tag `<meta name="robots" content="noindex">`, but it's important to note that [this will **only** block Google from indexing the site](https://support.google.com/web

[2019-09-26 19:02] cvalarida commented on #2013
With https://github.com/department-of-veterans-affairs/vets-website/pull/10805 merged in, I'm getting the following:

| Step | Time |
| --- | --- |
| Parse HTML | 6.2s |
| Add `nonce` to scripts | 578ms |
| Update external links | 167s |
| Add IDs to subheadings | 302s |
| Check for broken links | 1.2s |
| --- | --- |
| **Total** | 8.4s |
| **Total build time for all steps** | 40.7s |

[2019-09-26 19:12] kelsonic commented on #1258
I'm actually wondering why we should allow random users from the internet use environments other than production anyways 🤔Despite not wanting to create more process, perhaps the best solution is to limit non-production environments access to only specific IP addresses (or alternatively/additionally a login). There's some pros and cons to doing this:

**Pros:**
1. We don't have to worry about a `ro

[2019-09-26 19:21] ElijahLynn commented on #1258
In the spirit of open source and also developer onboarding and testing, I think these should stay public. As an open source software engineer, I was really happy to see these non-prod environments be public, it gave me a boost working on this project, it showed me that this really is opensource in not only practice, but spirit as well.

[2019-09-26 19:23] ElijahLynn commented on #1258
Yeah, just this in non-prod environments and it is done.

[2019-09-26 19:29] #1996 closed

[2019-09-26 19:29] #2013 closed

[2019-09-26 19:32] cvalarida commented on #2046
I added `contentOnlyBuild` to the `build()` parameters, and it broke the content-only build.
[code]

See [Slack](https://dsva.slack.com/archives/C0MQ281DJ/p1569456043077600) for more details.

[2019-09-26 19:54] ricetj opened #2062 "Mapping Backends to their Form or Tool using Vets.api"
we can use the vets.api to help make with this mapping and get more detail from it if we have this in place we then can track what backends are effecting what apps. needs more work flushing this out.

[2019-09-26 20:04] mnorthuis commented on #2052
@lunascoop Can you help track down whether we answered/modified content to accomodate all the open questions mentioned in this issue for education?

department-of-veterans-affairs/vets.gov-team#15512

[2019-09-26 20:16] smoonpeyes commented on #2011
@peggygannon Can you review content on the pages below?

**Higher-Level Review Apply Now (Signed-Out state)**
https://vsateams.invisionapp.com/share/W5U21BDFTQK#/385994365_Signed_Out-File_A_Higher_Level_Review

**Higher-Level Review Apply Now (Signed-In state)**
https://vsateams.invisionapp.com/share/W5U21BDFTQK#/385994366_Signed_In-File_A_Higher_Level_Review_

[2019-09-26 20:17] smoonpeyes commented on #2011
@rileyorr Assigning you to this ticket to incorporate any feedback from @peggygannon after I'm gone.

[2019-09-26 20:28] RLHecht opened #2063 "Writing Naming section of content style guide"
## User Story or Problem Statement
As a content team member, I need to understand the naming conventions used on VA.gov  so I can create and edit copy that adheres to our style guide.

## Goal
Write a section of the style guide to explain VA.gov's naming rules as well as do's and don'ts.
Draft version can be found here: https://github.com/department-of-veterans-affairs/vets-design-system-documenta

[2019-09-26 20:29] peggygannon commented on #2052
Hi, @mnorthuis @lunascoop I don't think we updated content for the questions I raised in issue 15512. I recall Beth was going to followup with stakeholders on those questions, but I'm not sure that happened before the transition.

If not, then global-ux team might need to reach out to EDU stakeholders about those open parity questions.

[2019-09-26 20:41] Karak888 commented on #1328
@jenniferlee-dsva as follow up I am including the outline that steve K. worked on with Chris (you already have just attaching to keep things succinct)!  Also including contact information for search.gov team so I keep it together!

(https://app.zenhub.com/files/133843125/8f036e07-0c74-4198-9a28-eb39b7d97fb4/download)

**Search.gov contacts:**
Dawn McCleskey (program manager) - QXD <dawn.mccleskey@

[2019-09-26 20:55] jonwehausen commented on #1846
Team:

Following our call from Tuesday, I've made the following adjustments/updates:

1. Changed the convention for the primary navigation button clicks to be
[code]
2. I setup a stand alone event for CTA button clicks and put in an additional page path check that will output 'Patient Tasks' with the click text for CTAs contained on the relevant pages
3. I made a similar adjustment for the hub CTA

[2019-09-26 21:18] jonwehausen opened #2064 "Products Used Discovery Adjustments"
## User Story
As a implementation specialist with the intention of reaching self-service, I would like a global framework of identifying the product being used in GTM.

There is already a product in place, but would like to revisit to align more closely with new products.

## Goals
- Establish a framework to scale the product used across the application
- Align more closely with product documentat

[2019-09-26 21:29] ncksllvn commented on #2040
I think this ticket is semi-blocked right now because I'm not able to successfully pull up the FAQ Widget on Google.com for any one of these pages and it seems like we should check out the FAQ widgets rendering on Google.com ourselves before attempting to measure its success.

When we are ready, I'm thinking we can check the amount of users that land on each one of those pages after an organic sea

[2019-09-26 21:34] johnpaulashenfelter commented on #1633
🎉

[2019-09-26 21:37] peggygannon commented on #1882
Error messaging guidelines have been incorporated into the design system. Guides are currently in "draft" state, but will go live after sharing VSP and VFS teams.

https://dev-design.va.gov/content-style-guide/messaging-dictionary
https://dev-design.va.gov/content-style-guide/messaging-error-messages

[2019-09-26 21:51] kelsonic commented on #1258
After discussing with @ncksllvn, it seemed much less complicated to go the meta tag route over modifying the `robots.txt` during the build process. After doing some research, we found that the robots meta tag is definitely respected by Google and is *very likely* to be [respected by Bing](https://www.bing.com/webmaster/help/which-robots-metatags-does-bing-support-5198d240) and [by Yahoo](https://e

[2019-09-26 21:51] Mottie opened #2066 "Improve application form generator output"
## User Story or Problem Statement

As a front-end engineer, when I use the [VA.gov application generator]() to build a new form, it would help speed up the process if it would also update the following files:

- `src/applications/personalization/dashboard/helpers.jsx`
  - This file is accessed by the `<SaveInProgressIntro>` component to get specific details about the form.
  - The contents of thi

[2019-09-26 22:03] jefflbrauer commented on #1846
Cool! I like "cta" as the preface. Is Andy cool with that?

:)
Jeff

On Thu, Sep 26, 2019 at 4:55 PM jonwehausen <notifications@github.com>
wrote:

[2019-09-26 22:45] ElijahLynn commented on #1258
That will cause confusion when others engineers look at `/robots.txt. If it works though then that is a good start!

[2019-09-26 23:11] jason-gcio opened #2067 ""View Your Claims" Instead of "View Pending""
## Story
As a member of the eBenefits Team, I would like to learn more about call to actions in the VA.gov website.  This would potentially lead to replacing the "Pending Disabilities" table with a call to action for the end user to be sent to the Claim Status Tool.

## Considerations
- Keep text generic, brief, and simple; be clear to signal exactly what will happen when a veteran clicks a button

[2019-09-26 23:32] #1890 closed

[2019-09-26 23:34] #1992 closed

[2019-09-26 23:35] #1420 closed

[2019-09-26 23:50] jason-gcio opened #2068 "Edit Rated Disabilities mockup to reflect CTA for Claim Status Tool"
## Story
As a member of the eBenefits Team, I want a call to action (CTA) link or panel to replace the Pending Disabilities table  of the Rated Disabilities screen, so that veterans can navigate to a comprehensive functional screen to view and manage pending claims.

## Task
- Edit current mockup to include a CTA link or panel
- Incorporate guidance provided by Content/IA and Global UX

## Definit

[2019-09-26 23:56] #2031 closed

[2019-09-27 13:06] ncksllvn commented on #1258
@ElijahLynn would you suggest modifying the robots.txt based on environment as opposed to the meta tag?

[2019-09-27 13:42] amyknox commented on #1649
@1Copenut - finalized content is **Zip code must be a 5-digit number**

This is live on production now.  Thanks for your help!

[2019-09-27 13:43] #1649 closed

[2019-09-27 14:31] tskinn commented on #1937
This has been taken care of in https://github.com/department-of-veterans-affairs/devops/pull/5558 and https://github.com/department-of-veterans-affairs/devops/pull/5569

[2019-09-27 14:32] ricetj commented on #1937
ok closing

[2019-09-27 14:32] #1937 closed

[2019-09-27 14:38] alexpappasoddball commented on #456
@LindseySaari @cvalarida, Can you make sure you get this access.  @omgitsbillryan is an admin and he can help.

[2019-09-27 15:06] ricetj commented on #1668
Finishing slides now and will do intro recording next sprint.

[2019-09-27 15:14] ncksllvn commented on #1541
@nedierecel We can definitely pass the event data into the dataLayer with some extra data indicating that it's a Homelessness additional info toggle, but just curious if we should change that `event` property from `nav-crisis-homelessness-expander` to that `nav-additionalInfo-expand'/collapse`

[2019-09-27 15:15] ricetj commented on #1263
@kreek That config is already in Vets api we assuming you are taking care of the other stuff. Let us know if there is something else you need.

[2019-09-27 15:17] ricetj commented on #1905
Will do recording next sprint.

[2019-09-27 15:18] ricetj commented on #862
Nick will drive what is the first step.

[2019-09-27 15:18] #1633 closed

[2019-09-27 16:09] elwoodva commented on #1283
It's not working in staging, I think, because the flag I'm checking for the mobile phone, isTextable, might actually be false on all of them.  Perhaps this flag is not being maintained in the data.  So I'm going to change it to just look at the phoneType and make sure it is "MOBILE" instead and see how that works out.  It should be equivalent.

[2019-09-27 16:25] rroueche opened #2070 "VSP Product Manager Checklist"
- [ ] Team mission
- [ ] List of Platform features and services your team is responsible for
- [ ] Team charter
- [ ] OKRs for your team
- [ ] KPIs and baselines for each feature and service your team is responsible for
- [ ] Agile roadmap
- [ ] Super Epics for "Now" part of roadmap, in ZenHub fully groomed w/user stories and tasks

[2019-09-27 16:31] smoonpeyes commented on #1362
Adding this to GH (and then will post a link and close):

## High-Level Review MVP Design and Research Priorities

- Claim Status Tool Research (#1754, #1755): This research will include findings that determine the information architecture for the Higher-Level Review pages.

- Identify points of entry to access Decision Review pages (#1913)

- [design] Regional Office selection (#1915)

- [design]

[2019-09-27 16:34] ElijahLynn commented on #1258
Yes, this is what I suggest long term. It is easier to see what is going on that way.

[2019-09-27 16:56] smoonpeyes commented on #1362
@kevinstachura feel free to update the list as you see fit, and then close this ticket. Moving to `Validate`.

[2019-09-27 17:07] alexpappasoddball opened #2071 "Make VA.gov Product Directory single source of truth"
## User Stories / Goals

As the triage team, I use this document to map applications to owners so that we can triage incidents to the correct team/POC.

As product support, I use this document to see what products are in progress and their status so that I can provide contextual help.

As Va.gov leadership, I use this document to see all features, when they launched and what is coming up soon so t

[2019-09-27 17:28] micahchiang opened #2072 "GA Events for Rated Disabilities Page"
## User Story or Problem Statement
As a member of the eBenefits team or the GA/Insights team, I need to know how users are interacting with the Rated Disabilities Page, so I can gather data about traffic, number of users, etc.

## Goal
Fire appropriate GA events on Rated Disabilities so we gain insight into how often it's accessed and how it is being used.

## Tasks
- Engage with GA/Insight Team t

[2019-09-27 17:35] lunascoop commented on #2052
Hi @mnorthuis @peggygannon I reviewed the pages mentioned in issue 15512 and here's what I noted. I also included the original comment/question. I will search for additional tickets that pertain to this issue.

www.va.gov/education/about-gi-bill-benefits/how-to-use-benefits/non-college-degree-programs/
**Original comment:** Add barber/beautician school to this page?
**Review:** Content regarding b

[2019-09-27 17:41] alexpappasoddball commented on #2071
Start solving the low hanging fruit problems so that we are planting the seed for this to be the single source of truth. In the meantime, start efforts on the more difficult problems to solve so in the near future we can start driving adoption.

*Initial tasks to complete the low hanging fruit:*
Multiple duplicative docs (Trevors Labels Doc, VSP Product Model, Intake Spreadsheet, perhaps some VSA

[2019-09-27 17:47] johnpaulashenfelter commented on #1853
OKRs are here: https://docs.google.com/document/d/1B71DHv22vNeNFtt27YEUN1sdX3AJNqMedp3a4NgaIgU/edit

[2019-09-27 17:47] mnorthuis commented on #2052
Thank you @lunascoop for doing all the digging!  I won't be able to redirect the legacy pages if we have not accounted for the content yet.  I think we should create a ticket with the information above (or however we want to track it) for doing the content work to get these pages up to parity. That will remain a blocker for these redirects.   Selina, can you work with Kara/Jen on creating the tick

[2019-09-27 17:54] rileyorr commented on #1917
@YanaRoy & @Mottie I reviewed the original mockup and compared it to other patterns on VA.gov. A Veteran's contact information is typically displayed separately from their details, so I created new screens to reflect that pattern. Additionally, different components needed to be used for the contact information section to align with current patterns in the design library. If everything looks good,

[2019-09-27 18:02] ncksllvn commented on #1258
Okay, @kelsonic, I'll defer to @ElijahLynn's judgement here and go with a build step for generating the robots.txt.

Here's an [example](https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/site/stages/build/plugins/create-drupal-debug.js#L37) for creating a [Drupal debug page](https://staging.va.gov/drupal/debug/). I think we can follow a similar model for this.

[2019-09-27 18:10] ncksllvn commented on #1796
@RLHecht just made those updates - should be live in an hour!

[2019-09-27 18:11] ncksllvn commented on #731
The work here is done and will be on Staging in about ten minutes or so!

[2019-09-27 18:11] Mottie commented on #1917
Thanks @rileyorr!

So will the personal info block be separate from the contact information? Meaning will they be moved into two separate steps?

Otherwise, the new design looks good to me, and answers a few questions I had planned to bring up with the design team.

[2019-09-27 18:14] Mottie commented on #1917
Actually, does the collapsed mailing address need to be inside of an [address block component](https://design.va.gov/components/address-block)? Having the blue bar on the left looks off when comparing it to the phone & email block.

[2019-09-27 18:17] rroueche opened #2073 "Empower VSP teammates to document baseline product artifacts"
For every VSP team:

- [x] Team mission
- [ ] List of Platform features and services your team is responsible for
- [ ] Product / Service Outline for each feature and service your team is responsible for
- [x] Team charter
- [ ] OKRs for your team tracked in one canonical place (provided by leadership)
- [ ] KPIs and baselines for each feature and service your team is responsible for tracked in on

[2019-09-27 18:24] lihanli opened #2074 "fix direct deposit production errors"
http://sentry.vfs.va.gov/vets-gov/platform-api-production/issues/75312/?query=is%3Aunresolved%20ppiu

[2019-09-27 18:25] jbalboni opened #2075 "Figure out PACT check for scheduling appts"
You can be prevented from direct scheduling appointments if you don't have a PAC team. How this works in code seems confusing and doesn't appear to work. Need to dig into this and figure out what the actual logic that we should implement is.

[2019-09-27 18:35] peterhill-oddball commented on #1861
In communication with Kara and Brandon.  We are tentatively scheduled for Tuesday 10/1 @ 2:30-3:30 ET.

[2019-09-27 18:36] peterhill-oddball commented on #1860
Onboarding session completed 9/27.

[2019-09-27 18:36] #1860 closed

[2019-09-27 18:36] peterhill-oddball commented on #1862
Completed onboarding session on 9/26.

[2019-09-27 18:36] #1862 closed

[2019-09-27 18:38] peterhill-oddball commented on #1486
Due to repo reorganization, I have relocated QA documentation to here and renamed some things: https://github.com/department-of-veterans-affairs/va.gov-team/tree/peter-qa/platform/quality-assurance

[2019-09-27 18:43] peggygannon commented on #1296
![2019-09-27.png](https://images.zenhubusercontent.com/59b0414bb0222d5de476aa22/97f80f83-b0bb-4f68-8e35-f6d05335f43f)

Here's the screenshot, showing the updated direct-deposit widget.

[2019-09-27 18:51] jenniferlee-dsva commented on #1828
It is still giving me denied message

[2019-09-27 18:59] jason-gcio opened #2076 "Investigate the Total Calc Percentage?"
## Story
As an eBenefits Team member I want to see if there is a better way to present the visual of this percentage for more effective communication.

## Considerations
- A circular indicator might lead some viewers to perceive that a higher number is advocating for a Veteran to be more disabled, versus its intent which is, how much benefit is available to that Veteran.
- A circular bar is not cu

[2019-09-27 19:14] wyattwalter commented on #791
👍 Thanks Boris! I just verified and shot an email over to search.gov support for them to tear this down on their side.

[2019-09-27 19:16] wyattwalter commented on #791
Looks like this did not get torn down internally. I thought they were the same zone, but clearly not. I'll check with internal DNS folks quick.

[2019-09-27 19:22] wyattwalter commented on #791
filed INC7661761 for the internal change.

[2019-09-27 19:29] jenniferlee-dsva commented on #1828
Before permissions got blocked, I was able to download 2 of the reports as CSV docs.

Since I'm still locked out, @nedierecel would you mind posting here or Slacking me the CSV export of the one I didn't get to download? I still need the one of the ^ listed page URLs associated with forms search:

[ ] Page Views for these pages:
https://www.va.gov/vaforms/
https://www.va.gov/vaforms/search_action.

[2019-09-27 19:49] jenniferlee-dsva commented on #1418
@lwalsh617  and @lunascoop Thank you! Looking...

[2019-09-27 19:52] rileyorr commented on #1917
**So will the personal info block be separate from the contact information? Meaning will they be moved into two separate steps?**
So they're technically part of the same step, but once the Veteran selects "Continue" they would be presented with the new screen showing their contact information. We want to break up the amount of information presented to reduce cognitive overload.

**Actually, does t

[2019-09-27 20:19] cvalarida opened #2077 "Generate reproducible IDs in the nonce plugin"
## User Story
As an engineer, I need the Metalsmith build to be idempotent so I can tell when something I've done changes the output .

### Background
The plugin that adds the `nonce`s to scripts also wraps `onclick` handlers in a script with a `nonce`. It ties the original handler back to the element it belongs in by ID. If the element doesn't have an ID, it'll generate a random one.

### Possibl

[2019-09-27 21:26] gunsch commented on #241
bumping this ticket --- what are next steps here?

I see https://github.com/department-of-veterans-affairs/vets-website/pull/10320 was merged already, did that address this or is there more to do?

[2019-09-27 23:25] #1935 closed

[2019-09-27 23:27] erikphansen commented on #1798
Will follow up with @annaswims on Monday regarding the feasibility of expanding the user model to include something that would indicate if the user was verified via ID.me or not.

[2019-09-28 15:58] #1914 closed

[2019-09-29 18:06] jenniferlee-dsva commented on #1423
@lwalsh617  - LOVE what you've put together. Great food for thoughts and a lot of interesting ideas. There were some content types that I would def put into our tier 3 bucket ( a lot of those 'about us'/ 'working with us'/ legal OIG stuff).

[2019-09-29 19:05] meganhkelley opened #2078 "[Ongoing Service] Offboard departing customers"
## User Story

As a VFS team picking up work on an existing product on VA.gov, I need to know what development has happened on that product and related products in the past, so that I can efficiently move the product forward.

As a VSP team member responsible for access management, I need to enforce a standard protocol for access management offboarding, so that I can ensure that the only people wi

[2019-09-29 19:12] meganhkelley opened #2079 "Determine documentation offboarding process and best practices"
## High Level User Story
As a VFS team whose contract is ending, I need to know what documentation to create or refine and where to put it, so that a future VFS team can pick up work on the same product.

## Hypothesis/(es)
**If** we set clear expectations regarding documentation for VFS teams whose contracts are ending, **then** those teams will make it easier for future VFS teams to pick up work

[2019-09-29 19:28] meganhkelley opened #2080 "Discovery: content & IA offboarding approach"
## User Story or Problem Statement
Problem description. How might we (as content & IA) go about creating best practices for VFS teams' documentation when they are offboarding?

## Goal
- Discuss what role Content & IA team should play in VFS teams offboarding
- Determine next steps for creating offboarding best practices for VFS teams regarding their documentation

## Acceptance Criteria
- [x] Con

[2019-09-29 19:36] meganhkelley opened #2081 "Support for VFS Teams: Documentation Offboarding"
## High Level User Story
As a VFS team whose contract is ending, I need to know what documentation to create or refine and where to put it, so that a future VFS team can iterate on the same product.

## Hypothesis/(es)
**If** we support VFS teams with capturing and storing documentation about their team and product before their contract ends, **then** the next VFS team who works on the product in

[2019-09-29 19:41] meganhkelley opened #2082 "VFS support: determine approach for Agile 6 documentation offboarding"
## User Story or Problem Statement
Problem description. What support is needed from content & IA team to ensure Agile 6's documentation for the CMS product is accessible to future VFS teams?

## Goal
- Determine what the status is of Agile 6's documentation on the CMS product, and determine next steps for making that documentation accessible to current and future VFS and VSP teams working on the C

[2019-09-30 12:29] meganhkelley commented on #538
Converting this to a super epic.

[2019-09-30 12:35] meganhkelley commented on #1444
Converting this to an epic and narrowing the scope to be specific to research documentation (migrating content from vets.gov-team/Practice Areas/Research).

[2019-09-30 13:04] meganhkelley opened #2083 "[Repo migration]: crucial Product Support content to va.gov-team"
## User Story
As a VFS team member, I need to be able to find and access content that is owned by VSP's Product Support team (including information about QA, Accessibility), so that I have the information I need to build the best veteran-facing apps.

## Goal(s)
Enable VFS teams to find and access content owned by VSP's Product Support team in the va.gov-team repo.

## Definition of Done
Product S

[2019-09-30 13:21] ricetj commented on #328
this work will continue and we will be working closely with the skeleton crew.

[2019-09-30 13:24] meganhkelley opened #2084 "[Repo migration]: Prep and admin work for va.gov-team and sensitive"
## Problem Statement
How might we prepare to consolidate content into the public va.gov-team repo (and sensitive) so that it is easily findable and accessible to VFS teams?

## Goal(s)
- Build out high level folder structures in va.gov-team (done) and sensitive repo.
- Determine content owners for content that needs to be migrated.
- Determine what to do with (where to store) crucial large files f

[2019-09-30 13:38] ricetj commented on #683
This work is started now and will be continued in the next few sprints

[2019-09-30 13:38] meganhkelley opened #2085 "[Repo migraiton]: post-migration cleanup work"
## Problem Statement
How can we ensure that VFS and VSP members are directed to the consolidated va.gov-team repo, and that it suits their needs?

## Goal(s)
- Fix crucial broken links that were not fixed in another migration epic (ex. Slackbot replies).
- Deprecate old repos overall (in high level readme?)
- Other cleanup work related to migration and consolidation of repos

[2019-09-30 14:55] Samara-Strauss opened #2086 "[Epic] Combine Profile & Account (Profile 2.0)"
We'll use this epic to track the progress for combining the existing Profile and Account pages.

## Discovery
- [x] Personalization 2.0 discovery [19078](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/19078)
- [x] Create product outline #2168
- [x] Determine analytics approach #2298

## Design-Intent Review
- [x] Complete Design-Intent review #5061

## Connected Accounts (C

[2019-09-30 15:01] andreahewitt-odd opened #2087 "Product Support Issues -- Sprint 10"

[2019-09-30 15:02] thilton-oddball opened #2088 "Access for Travis Hilton"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Add a comment @department-of-veterans-affairs/vsp-operations to ping the operations team
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please

[2019-09-30 15:02] Samara-Strauss opened #2089 "[Epic] Combine Profile and Account: Information Architecture"
We'll use this epic to track the information architecture phase of the combine profile and account project.

- [ ] Create content inventory of what needs to be included in the combined Profile and Account section. #2090
- [ ] Propose new IA. #2091
- [ ] Conduct closed card sort #2092
- [ ] Propose updates main navigation. #2093
- [ ] Review wayfinding in logged out states and on content pages — wh

[2019-09-30 15:03] thilton-oddball commented on #2088
@department-of-veterans-affairs/vsp-operations

[2019-09-30 15:04] Samara-Strauss opened #2090 "[IA] Combined Profile and Account: Create content inventory"
Epic #2086

- [x] [Create spreadsheet of content we need to include in profile and account](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/personalization%202.0/Combine%20Profile%20and%20Account/Information%20architecture/Prof%20%26%20Acct.%20%E2%80%94%20Content%20inventory%20and%20information%20architecture.xlsx)
- [x] Check out eBenefi

[2019-09-30 15:04] ricetj commented on #2088
@Jeff-Hayter
COR: Yourself
User: Travis Hilton

[2019-09-30 15:06] 1Copenut commented on #490
@kelsonic Great question. I wrote the ticket based on the auditor's assessment that moving focus was a violation of WCAG Success Criteria 3.2.2. We are not informing users in text or instructions that a change in the map will cause focus to be moved off the map "spot" so to speak, and that triggered the notation.

When I was testing, the behavior felt disruptive to move back to the list of facilit

[2019-09-30 15:07] Samara-Strauss opened #2091 "[IA] Combined Profile and Account: Propose new IA"
Epic #2086

[Prof & Acct. — Content inventory and information architecture](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/personalization%202.0/Combine%20Profile%20and%20Account/Information%20architecture/Prof%20%26%20Acct.%20%E2%80%94%20Content%20inventory%20and%20information%20architecture.xlsx)

- [x] Inventory existing content and e

[2019-09-30 15:12] Samara-Strauss opened #2092 "[User testing] Combined Profile and Account"
Full project epic #2086

- [x] Create research plan #2585
- [x] Create conversation guide #2586
- [x] Conduct sessions #2587
- [x] Create report and tickets #2588
- [x] Kickoff recruiting for Profile 2.0 Research #6325

[2019-09-30 15:13] Samara-Strauss opened #2093 "[IA] Combined Profile and Account: Propose updates to main navigation"
Epic #2086

- [x] Propose updates main navigation.

[2019-09-30 15:14] Jeff-Hayter commented on #2088
@ricetj Approved for both SSH and AWS.

[2019-09-30 15:15] Samara-Strauss opened #2094 "[IA] Combined Profile and Account: Create a list of places we link to account"
Epic #2086

- [x] Audit for places we link to /account
- [x] Create list of copy/links we need to change

[2019-09-30 15:23] Samara-Strauss commented on #2089
Closing in favor of tracking in larger project epic #2086

[2019-09-30 15:23] #2089 closed

[2019-09-30 15:25] mnorthuis commented on #1986
Blocked until ops/front end team can determine approach for implementation of redirects.

[2019-09-30 15:34] #1564 closed

[2019-09-30 15:34] #1614 closed

[2019-09-30 15:48] peterhill-oddball commented on #1861
Scheduled for 10/1 4:00 to 4:45 pm

[2019-09-30 15:53] nedierecel commented on #1995
Closing this task and will create a follow-up for additional training in the next sprint.

[2019-09-30 15:53] #1995 closed

[2019-09-30 15:56] nedierecel commented on #1293
Via Slack - Dorothy expressed she and Dan do not need access at the moment. We will add a subsequent team member in a new ticket.

[2019-09-30 15:56] #1293 closed

[2019-09-30 16:06] #2088 closed

[2019-09-30 16:09] andreahewitt-odd opened #2095 "Backend kick off with Kathleen Crawford -- eBenefits"

[2019-09-30 16:12] steve-gov opened #2096 "File BIP Intake for Dependents"
EVSS is being deprecated. While the Dependents EVSS endpoints are developed, we should consider the future state of the platform, and connect with BIP to develop new endpoints.

- [ ] Figure out the BIP intake process and file an intake request

[2019-09-30 16:14] johnpaulashenfelter commented on #1868
Permissions were fixed on W (thanks @lisac-usds!) and now we're stuck since Fr with waiting for our giant repos to sync. Support call in with them that we'll hopefully deal with today or tomorrow

[2019-09-30 16:21] mnorthuis commented on #2049
Blocked until ops/front end team can determine approach for implementation of redirects.

[2019-09-30 16:22] mnorthuis commented on #2050
Blocked until ops/front end team can determine approach for implementation of redirects.

[2019-09-30 16:25] mnorthuis commented on #1508
Work blocked until audit of additional /benefits pages is complete.

[2019-09-30 16:36] thatmattjohnson commented on #1893
completed as of 9/26/2019.

[2019-09-30 16:36] #1893 closed

[2019-09-30 16:37] peggygannon commented on #603
Closing this issue, as all benefit hubs have been migrated to drupal.

UAT check is complete for all of those hubs.

[2019-09-30 16:37] #603 closed

[2019-09-30 16:54] lunascoop opened #2098 "Education Parity Edits"
Education redirects cannot be completed until all the additional parity issues mentioned in [Issue #15512 ](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/15512)are resolved. The pages below require additional parity work. The original comment/question for each page is included and its current status.

VA.gov page: www.va.gov/education/about-gi-bill-benefits/how-to-use-bene

[2019-09-30 16:54] johnpaulashenfelter commented on #1409
Woohooo! Glad to see this on the docket.

I'd love to see activestorage replacing shrine and carrierwave as part of this, though that isn't Rails6 directly.

[2019-09-30 16:56] peterhill-oddball commented on #2008
[TestLodge](https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/2008) looks fairly interesting.  Their "GitHub" integration is pretty much just creating issues from the test case execution in GitHub.  Which is probably all that we need.

[2019-09-30 17:07] joanneesteban opened #2099 "Analytics Onboarding - Onboard VFS Teams to VSP Insights & Analytics Protocol (ONGOING)"
## High Level User Story
As a VFS team, I need to be onboarded onto VSP Analytics & Insights so that I can understand how VSP Analytics & Insights can support my data needs.

## Hypothesis/(es)
**If** _we add onboarding documentation and onboard VFS teams_ **then** _we expect teams to understand how to get analytics support_.

## Goals
Onboard VFS teams and produce onboarding documentation and pro

[2019-09-30 17:13] joanneesteban opened #2100 "Analytics Service - Standardize GTM & GA Documentation"
## High Level User Story
As VSP Analytics & Insights, I need up-to-date documentation and training for analytics implementation so I can continue implementation for Google Tag Manager regardless of who is on the Insights team.

## Hypothesis/(es)
**If** _we make analytics documentation_ **then** _we expect VSP Analytics & Insights to continue owning analytics implementation and reduce risk for sin

[2019-09-30 17:28] nedierecel commented on #1828
@jenniferlee-dsva Please see the Excel document broken out by the top 5 pages. the `/search_action.asp` page includes the different iterations of forms and search.

For these pages, we'll have to get these from DAP:
- https://www.archives.gov/veterans/military-service-records/standard-form-180.html
- https://www.gsa.gov/reference/forms
- https://www.esd.whs.mil/Directives/forms/

[SGLI Insurance F

[2019-09-30 17:33] #1871 closed

[2019-09-30 18:01] peggygannon commented on #1881
**9/30/19 update**

Meeting with VAOS team to sync on content needs/areas to focus on for the prototype.

[2019-09-30 18:13] wyattwalter opened #2101 "tear down old CSRs"

[2019-09-30 18:25] wyattwalter opened #2102 "*.vets.gov certificate renewal for November 2019"
The *.vets.gov certificate is coming up for renewal soon. We need to renew this soon to give Gateway Ops time to get this applied at the TIC.

[2019-09-30 18:26] Karak888 opened #2104 "Deprecate vagov-content"
As the Drupal work will soon be wrapping up, we will no longer need the GitHub CMS, vagov-content.  This is an Epic is to capture user stories, tickets, etc. associated with depricating the VA.gov content.

This will require working closely with VSP teams to help facilitate this transition / deprication.

Acceptance Criteria and Tasks associated with this epic will be filled in as further informat

[2019-09-30 18:27] tlei123 commented on #1445
@peterhill-oddball , AWS-access request process is getting held up until my VA onboarding (PIV) paperwork gets transferred to the new VSA contract.

I'll update here when access is granted, and continue with independent learning/research in the meantime.

Ping me on Slack as need, especially if this becomes time-sensitive.

[2019-09-30 18:28] Karak888 commented on #2104
@mnorthuis I am sure there will be overlap with VSP teams but @ncksllvn suggested we begin an epic to start tracking this work as it is identified.

[2019-09-30 18:31] Karak888 commented on #1796
closing this issue as updates have been made.

[2019-09-30 18:31] #1796 closed

[2019-09-30 18:38] tskinn commented on #2088
@thilton-oddball reach out in slack in #vsp-operations if you have trouble with your socks proxy. You should have access now.

[2019-09-30 18:40] Karak888 commented on #1328
@ncksllvn since this is part of the discovery work which will be happening in this sprint, I am going to leave it in the Backlog until we have our grooming session on Wednesday.  At that point I will hopefully have our search.gov meeting scheduled and we can make some progress on recommendations, etc.
:cc @jenniferlee-dsva

[2019-09-30 18:42] ncksllvn commented on #1328
You rock @Karak888!

[2019-09-30 18:44] Karak888 commented on #1414
The work under this Epic has been completed, so moving to close out this Epic.

[2019-09-30 18:44] #1414 closed

[2019-09-30 18:45] clantosswett opened #2105 "Analytics Reporting Request for Chante Lantos-Swett"
# Metrics Reporting Request

## What this form is for

Use this template to request performance, usability, or outcomes va.gov metrics that is difficult to access or that needs analytics interpretation.

Insights will usually provide data reports within the current sprint, but if there is time-sensitivity, please note them in "additional comments."

## Instructions

Please fill out the following s

[2019-09-30 18:46] clantosswett commented on #2105
![Contact_Us_Footer](https://user-images.githubusercontent.com/32465263/65906792-26aac680-e391-11e9-8084-83a8fe91d2a2.PNG)
![Contact_Us_Header](https://user-images.githubusercontent.com/32465263/65906793-26aac680-e391-11e9-91bc-a0183b6ed977.PNG)

[2019-09-30 19:06] sporeboy commented on #2067
Updated mockups to reflect content changes to accommodate an RD link to the Claims Status Tool.

[2019-09-30 19:07] #2068 closed

[2019-09-30 19:07] sporeboy commented on #2068
Mockups updated to reflect most current thinking. Review by Peggy Gannon pending.

[2019-09-30 19:15] wyattwalter opened #2106 "AMI and snapshot cleanup"
There was a tool written and dropped into the `devops` repo to clean up snapshots not associated with AMI's, but it hasn't been scheduled to run. This is leaving snapshots laying around that are detached from AMI's that we've already de-registered. We should do this regularly with the defaults (1 year) via Jenkins as a first step to get a sizable list of snapshots cleaned up.

https://github.com/d

[2019-09-30 19:23] andrewlewandowski commented on #1846
@jonwehausen - Thanks for connecting this afternoon! Everything in this ticket looks good. Here is the one item that needs to be added.

**1. Tracking click events of detail page links inside these 10 health service accordions:**

https://www.va.gov/pittsburgh-health-care/pharmacy/
https://www.va.gov/pittsburgh-health-care/mental-health-care/
https://www.va.gov/pittsburgh-health-care/suicide-preve

[2019-09-30 19:23] wyattwalter opened #2107 "automatic cleanup of EBS snapshots after deployments"
In the BRD deployment configuration, we support automatically taking a snapshot of an EBS volume before the deploy happens. It doesn't look like these snapshots are being cleaned up automatically. Luckily, the list isn't huge as the number of deployments on these systems is smaller, but this can build up over time and is a sizable source of cost in AWS.

I am unsure if this can easily be done inli

[2019-09-30 19:28] jenstrickland opened #2108 "Analytics Implementation or QA Support for VFS Platform Support/508"
# Analytics Implementation or QA Request

## What this form is for
Use this template to request Google Tag Manager and Google Analytics implementation or QA for your product. Please fill out all brackets.

## Description
- Is this request for Google Analytics implementation or QA?

- Who is this request for?

    - [Jennifer Strickland]
    _Provide any relevant contact information and link this i

[2019-09-30 19:32] desireeturner commented on #1647
@1Copenut Bringing this back to the top of your inbox. See @delli-gatti-michael's comment above. Is this something we can close out or do you have additional feedback?

[2019-09-30 19:52] 1Copenut commented on #483
Confirmed this item has been remediated. Used the axe scanner to verify H2's were showing up as expected. Moving to close.

[2019-09-30 19:52] #483 closed

[2019-09-30 19:59] Karak888 commented on #2098
@peggygannon can you please confirm if these items were deliberalety not included or do they still need to happen? If we chose not to bring it over, does this acctually complete parity?  Please let us know.
CC: @jenniferlee-dsva

[2019-09-30 20:20] rileyorr commented on #1920
@YanaRoy @Mottie My mockups can be found [here](https://vsateams.invisionapp.com/share/W5U21BDFTQK).

I spent a lot of time comparing the mockup I was given to the paper [form](https://www.va.gov/decision-reviews/forms/higher-level-review-20-0996.pdf),  so many of my edits were to ensure the Veteran knows that the time and day selected not for when the informal conference will take place but rathe

[2019-09-30 20:25] jonwehausen commented on #1846
@andrewlewandowski Thanks for your time as well.

@ethanteague For links that are embedded within an expanded accordion (found [HERE](https://www.va.gov/pittsburgh-health-care/health-services/)), such as the one in the screenshot below, we would like to track these as:

![image](https://user-images.githubusercontent.com/48527022/65913846-8b205280-e39e-11e9-9c61-9f827a979583.png)

[code]

I've adde

[2019-09-30 20:28] ricetj opened #2109 "Infrastructure Tools and Systems - Reinvest and improve our infrastructure."
## User Story or Problem Statement
As a VSP Ops team member, I want to be proactive with changes that would lead to incidents on the platform, so I can spend less time responding to incidents and more time improving the developer experience on VA.gov.

### High Level User Story/ies or Description:
Taking care of systems, tools, and/or processes that need to be updated to be proactive instead of re

[2019-09-30 20:29] ricetj opened #2110 "AWS Clean Up"

[2019-09-30 20:42] mnorthuis commented on #1591
@RLHecht Is there a separate issue for the content changes that I can reference here?  Or, if you want to use this ticket for the content work, can  you add a list of all the places we removed links from?

[2019-09-30 20:43] markgreenburg opened #2111 "[wip] Add system & facility selection page to direct schedule flow"
## Story:
As a veteran, I want to be able to pick my system & facility before choosing a time for my appointment so that I can pick a location convenient to me.

## AC:
- [ ]

[2019-09-30 20:43] kreek opened #2112 "Add VA mobile URLs to forward proxies and update settings"
## User Story
As a developer I want the VA Mobile base URLs added to the forward proxies, and the forward proxy URL added to the env's setting file, so that we can connect to VAOS services.

### Notes
Their sandbox env has a dynamic base URL :( so we won't be adding it at this time.

**Staging**: https://veteran.apps-staging.va.gov/
**Production**: https://veteran.apps.va.gov/

[2019-09-30 20:50] ricetj commented on #1415
Dependency upgrade protocol for systems that affect platform and apps

[2019-09-30 20:52] mnorthuis commented on #952
Rewriting work was approved and implemented and new page is live per this issue: https://github.com/department-of-veterans-affairs/vets.gov-team/issues/18470

[2019-09-30 20:55] mnorthuis commented on #952
Blocked until ops/front end team can determine approach for implementation of redirects.

[2019-09-30 20:55] rileyorr commented on #1920
@Mottie Kevin Stachura just made a great point - so the users are only meant to choose up to 2 time slots. I'm unsure how much technical discovery occurred during the original design, but I was wondering if you know if that's possible to implement. I'm also going to add another screen showing the error message that would occur if the user selects more than two options.

[2019-09-30 20:56] #107 closed

[2019-09-30 20:57] peggygannon commented on #2098
@Karak888 I believe these parity additions/changes still need to be run by the stakeholders. Beth Potts was going to reach out to the stakeholders with these final parity questions, but I don't think that happened before she transitioned off.

These should be run past the stakeholders before EDU parity is closed out.

[2019-09-30 21:02] mnorthuis commented on #1510
@lwalsh617 This issue just documents the audit you are doing of that giant list of pages.  You are welcome to post your findings/recommendations here.

[2019-09-30 21:04] jenniferlee-dsva commented on #1828
Hi @nedierecel - I didn't see the Excel spreadsheet per your message. (Also, it looks like I am able to get into the 3-tabbed report dashboard now, but can't see or download anything bc it doesn't stop loading.)

[2019-09-30 21:04] jenniferlee-dsva commented on #1828
Nvmd - I'm in. Just took a few minutes!

[2019-09-30 21:17] markgreenburg opened #2113 "[wip] update mocks & ux for clinic selection"
## Story:
As a veteran, I want to be able to choose from among the clinics I've been to before when I'm making an appointment so that I can choose a sub-type of care that most closely matches my current health needs.

## AC:
- [ ] Screenshot of mock exists in GitHub
- [ ] Interactions documented for case with multiple clinics, one clinic, and no clinics
- [ ] Veteran can choose between clinics tha

[2019-09-30 21:18] andrewlewandowski commented on #1846
Yes! So for the accordions on the Health Services page (like the screenshot above), we need to track the location links (what the red arrow points to) and also the 10 links for the health program pages (listed above).

[2019-09-30 21:46] 1Copenut commented on #872
Reschedule for Thursday, October 3rd.

[2019-09-30 22:08] andrewlewandowski commented on #1846
The URL for medical records was updated (noted above), and we need to update the URL for the Heinz campus (also noted above).

[2019-09-30 22:25] jenniferlee-dsva commented on #1328
Also, per convo with Chris today: Mikkn at Ad Hoc used to be onsite search PM for last year's merger launch. He may be a resource for history and background info.

[2019-09-30 22:42] jenniferlee-dsva opened #2114 "Update burial allowance rates with new October $ values"
@AnneHurley - Please update the allowance rates on the Github instance, so it's live by the 10/1 effective date - it'll have to go in time for 2pm deploy. Please loop in @peggygannon or @RLHecht for PR review.

This page needs to be made in Github because we're still not able to make this page go live via Drupal.

- On this page https://www.va.gov/burials-memorials/veterans-burial-allowance/
- On

[2019-09-30 23:02] jenniferlee-dsva commented on #1828
Hmm - @nedierecel can we try to connect tomorrow? I was able to download a CSV export for the pages, but want to make sure I'm ignoring irrelevant items or looking at this right. It looks like there are a ton of variations on the /search_action.asp URLs as well as random form URLs too, unless I'm reading this wrong and they're variations of same page... ?

For this particular report, I needed to s

[2019-09-30 23:42] AnneHurley commented on #2114
@jenniferlee-dsva  @Karak888  I will get the first two rates updated, but Jen since we don't yet know where those other two rates live, I will hold off on those for now, correct?

[2019-10-01 03:32] lihanli opened #2115 "alert the auth exp team if the DirectDepositEmailJob fails"
work with the platform team to create an email alert that is sent to an auth exp developer if the `DirectDepositEmailJob` fails. this job should never fail and it is a security risk if it doesn't work.

[2019-10-01 03:35] lihanli commented on #1735
i don't think we should be retrying jobs in the deadset manually for the same reason that we don't automatically retry the job for more than one day, because it would be strange if a user received an email about someone changing their banking information many days after they actually did it. i do think we should alerted the first time the `DirectDepositEmailJob` fails and made an issue for that ht

[2019-10-01 11:57] meganhkelley opened #2116 "VSP Orientation service - Refine protocol"
## User Story and/or Problem Statement

### User Story

As a VFS team member, I want to have an amazing onboarding experience so that I can start contributing to VA.gov as soon as possible while meeting VSP’s expectations.
As a VSP team member, I want to continually improve the onboarding process so that I can do less long-term support for VFS teams.

## VSP Objective (Q1 & Q2 2020)
O1: Any volume

[2019-10-01 12:05] meganhkelley opened #2117 "Offboarding - Launch offboarding process"
## User Story

As a VFS team whose contract is ending, I need to know what documentation to create or refine and where to put it, so that a future VFS team can pick up work on the same product.

As a VSP team member responsible for access management, I need to know the standard protocol for access management, so that I can enforce it and thus ensure that the only people with access to VA.gov syste

[2019-10-01 12:38] jbalboni commented on #1941
Places where we need to use timezones:

Appointment list/detail: appt time
Timeslot page for DS: appt times
Contact info page: call back time ranges

[2019-10-01 12:38] #1941 closed

[2019-10-01 12:49] jonwehausen commented on #1846
@ethanteague @ncksllvn

I noticed there is an issue with the

[code]
request...this dataLayer push seems to be happening on page load rather than on jumplink click.

I've paused the tag I have setup to track jumplink usage not fire to not skew data until corrected in staging/production.

Thanks,
Jon Wehausen

[2019-10-01 12:51] chrisj-usds commented on #1328
@jenniferlee-dsva To clarify my comment from our earlier conversation... Mickin did not work on VA.gov on-site search (or any other aspect of VA.gov). Rather, he was (as I understand it) PM for Search.gov itself, under a different contract between GSA (where search.gov resides) and AdHoc. Hence, my suggestion that he might have broad general knowledge about how search.gov works, who to talk to for

[2019-10-01 13:20] rroueche opened #2118 "Establish rotational Product Support Model across all practice areas"
How can we take the shared support model that engineering practices use, but expand it to design, product, analytics etc

[2019-10-01 13:23] rroueche opened #2119 "Testing - Talk with teams representing the staging testing use cases to understand their needs and challenges more deeply"

[2019-10-01 13:24] artistgreen commented on #1688
Desktop screens - Revision3

![Edit Address Overlay.png](https://images.zenhubusercontent.com/5d49d1baa8585c0001b6a7a8/487ab1b9-f261-4a10-aa8d-0aa4d00e74b9)

![Address not recognized - 1.png](https://images.zenhubusercontent.com/5d49d1baa8585c0001b6a7a8/ee5858ff-6bba-4531-be2a-0094242146ef)

![Address not recognized - 2.png](https://images.zenhubusercontent.com/5d49d1baa8585c0001b6a7a8/707e6dd7-1d

[2019-10-01 13:25] jenniferlee-dsva commented on #2114
Yes please and thank you.

"Those other two rates" - yep, exactly @AnneHurley . Once the whole hub goes live via Drupal, we should look at the non-CEM legacy source pages (referenced in Angie's email) and see if the info lives there; and add them to our hub allowance page table.

[2019-10-01 13:25] rroueche opened #2120 "Make useful + valuable README.md page for va.gov-team repo"

[2019-10-01 13:28] artistgreen commented on #1688
Mobile Screens - Revision3

![Profile.png](https://images.zenhubusercontent.com/5d49d1baa8585c0001b6a7a8/a78f1939-fa0b-4b23-b9c0-e5a8a13d2f5e)

![Edit Address Overlay.png](https://images.zenhubusercontent.com/5d49d1baa8585c0001b6a7a8/8beca6ca-1751-4626-b396-77e1127aaeb5)

![Address not recognized - 1.png](https://images.zenhubusercontent.com/5d49d1baa8585c0001b6a7a8/e625074e-f7c4-4590-bbf7-5c8013e

[2019-10-01 13:30] nedierecel commented on #1541
@ncksllvn For follow-up - I just noticed the use of the `data-analytics` attribute. Will the `nav-additionalInfo-expand` replace the `nav-crisis-homelessness-expander` attribute, or is it only in the dataLayer event?

[2019-10-01 13:35] artistgreen commented on #1688
@Justin-Pickett @erikphansen

Discussion notes from @lihanli  technical discovery regarding Vet360's Address Validation API:

-  API will always return 1 suggestion, even if the entered address is 100% correct (We do not want to show the correct address and have the user confirm, we just want to update the address in this case)
- API returns suggestions based on 'Confidence Score'
- API has a 'Cou

[2019-10-01 13:46] jbalboni opened #2122 "Adding missing info to review page"
There's some missing info on the review page. We should update it to make sure to add it:

- Contact email
- Requested appointment dates
- Appointment time (direct schedule)

This ticket should be done after the pages with the above data are complete.

[2019-10-01 13:48] jbalboni opened #2124 "Allow scheduler messaging on request appointment details page"
We need to show messages on the appointment list pages for requests that have been exanded.

[2019-10-01 13:48] ricetj commented on #1294
Not used

[2019-10-01 13:48] #1294 closed

[2019-10-01 13:50] jbalboni opened #2125 "Replace mock facility data with real API call"
The actions for the facility page use mock data, we need to replace them with requests to the real api services.

[2019-10-01 13:51] #1866 closed

[2019-10-01 13:51] #1170 closed

[2019-10-01 13:51] #858 closed

[2019-10-01 13:51] jbalboni opened #2126 "Add paging to appointment list page"
We likely need to paginate the appointment list page, since users might have a lot of appointments or past requests.

[2019-10-01 13:54] nedierecel commented on #1828
@jenniferlee-dsva Apologies - the file was too large to send via Git, and I didn't realize it was blocked from uploading.

To answer your question, there are multiple iterations for `/search_action.asp` as it is capturing the search query parameters used. For example, this link below indicates that users are looking for form 2850, since the `FormNo=` parameter includes that number in the URL.

`ht

[2019-10-01 14:00] jbalboni opened #2127 "Update contact info page to match new mocks"
Update contact info page to match:

![Screen Shot 2019-10-01 at 9.59.35 AM.png](https://images.zenhubusercontent.com/599c94608f62dc7798c3b2cd/9672c80a-93d7-4d7a-8fda-3f350f7848a9)

@goldenmeanie to confirm the UX for the contact info page (and whether it should be the same across the two flows).

[2019-10-01 14:06] meganhkelley opened #2128 "Support - Ongoing content & IA support"

[2019-10-01 14:07] jbalboni opened #2129 "Fix focus and scroll handling when moving between pages"
Moving between form pages puts you in a weird scroll position and I don't think we're focusing on the headline of the page like we should.

[2019-10-01 14:09] ncksllvn commented on #1846
Thanks @jonwehausen! @ethanteague addressed this issue in PR, https://github.com/department-of-veterans-affairs/vets-website/pull/10830

[2019-10-01 14:09] meganhkelley opened #2130 "Documentation Site - Launch MVP"
## User Story

As a team member building or supporting products on VA.gov, I need to be able to access and navigate documentation so that I can find what I need on my own quickly and easily.

## VSP Objective (Q1 & Q2 2020)

O1: Any volume of simultaneous customers have a delightful, self-service, end-to-end experience using the Platform to build on VA.gov.

## Measuring Success (KRs/KPIs)

- [VSP

[2019-10-01 14:12] meganhkelley opened #2131 "Bugs in FE Eng docs in Gatsby"

[2019-10-01 14:14] meganhkelley commented on #1006
I changed this back to an issue, which now rolls into epic: MVP of Gatsby as documentation site portal #2131 which rolls into super epic: Determine documentation site approach #2130

Please reach out with any questions/comments!

[2019-10-01 14:19] jenniferlee-dsva opened #2132 "Anchor link not working on the About VA disability ratings page"
## What happened?
_Anchor link is not working.

On this page:  https://www.va.gov/disability/about-disability-ratings/  the text link "Go to the combined ratings table" (see screenshot) should link down to the content below with the tables.

Screenshot:
![image](https://user-images.githubusercontent.com/43381063/65970187-0d0e8b00-e434-11e9-9308-02d6f4fd8030.png)

## Specs:
- Device: Dell PC
- Brow

[2019-10-01 14:21] johnpaulashenfelter commented on #507
Its a little hard to deal with content in that repo right now :/

[2019-10-01 14:22] Karak888 commented on #2132
@ncksllvn can you please take a look at this anchor link issue not working? Thanks!!

[2019-10-01 14:23] Karak888 commented on #2132
oh wait sorry @ncksllvn @jenniferlee-dsva had just written that this was already published live in Drupal. Can you please advise if I should reach out to someone on CMS team?  Thank you!

[2019-10-01 14:29] meganhkelley opened #2133 "[Ongoing Service] Iterate on content style guide & best practices"
## User Story

As a VFS content writer, designer or VA employee who works on content, I need to know be able to access up to date standards and best practices for content on VA.gov, so that the tool or page I'm building communicates clearly and effectively to Veterans.

## VSP Objective (Q1 & Q2 2020)

O5: All customers comply with the Platform’s standards.

## Measuring Success (KRs/KPIs)

- [VSP

[2019-10-01 14:31] ncksllvn commented on #1541
It looks like the event for the homelessness additional info ultimately looks like this -

[code]

It seems like that to do the work in this ticket, we should update that to -

[code]

But I'm not a GTM expert - maybe we should/can pass both events into the dataLayer?

[2019-10-01 14:31] wyattwalter commented on #2112
Hey @kreek, can we get a good health check URL so we can monitor our connect to this service easily?

[2019-10-01 14:36] jonwehausen commented on #1846
As nick called out [here](https://github.com/department-of-veterans-affairs/vets-website/pull/10818), there's a correction that needs to be made to the jumplink dataLayer push to only occur on jumplink click.

While we wait for the correction to the jumplink dataLayer push, @nedierecel and I have put a hotfix in GTM in place to eliminate the risk for inflated jump link event fires.

We put in an e

[2019-10-01 14:48] ncksllvn commented on #2132
It looks like this anchor link just needs to be updated. The link for `Go to the combined ratings table` should go to `#how-we-determine-combined-va-d`. Right now, it's linking to `#How we determine combined VA disability ratings`, which is invalid.

[2019-10-01 14:50] ncksllvn commented on #1056
After looking into this, the scope for this ticket is a bit more than expected. It looks like that the `Select a facility type` dropdown is using an external module, [Downshift](https://www.npmjs.com/package/downshift), under the hood. We're using a very old version. In the updated versions, it looks like accessibility support is improved substantially.

I updated our Downshift version to receive

[2019-10-01 15:03] jonwehausen commented on #1541
Hi Nick,

Yes, we would like to move forward with changing to be nav-additionalInfo-expand /collapse.

As far as the 'additional-info-expander-label' variable goes, we can regularly pull in the click text label OOB within GTM, so the most beneficial thing to pass here would be more like a keyword that would give product owners in the future the ability to output whatever tag verbiage they need.

S

[2019-10-01 15:11] ncksllvn commented on #504
I don't think this issue is quite as widespread as it would appear from Sentry. It looks like each time a page is hit for a facility with hours malformed (like the facility linked in the ticket), we hit Sentry a whole bunch of times -

![image.png](https://images.zenhubusercontent.com/59cb9de1b0222d5de47953d8/a6a9d90f-9433-4cf7-9c9f-d31a9c1b5f0e)

Many of the facilities I checked had hours that lo

[2019-10-01 15:12] omgitsbillryan commented on #1816
Some random points:

- The only way to make `vets-api` return an error response code (anything other than `200`) is to raise an exception and let it bubble up to `application_controller.rb`. I find this problematic because there are cases where an upstream service returns a failure that isn't "exceptional", and it would be nice if the controller in question could just `render json: error_json_stuf

[2019-10-01 15:18] ricetj opened #2135 "Operations VFS Support - Sprint 10"

[2019-10-01 15:20] jonwehausen commented on #1846
For transparency, here is a list of the changes currently contained within the GTM container from this story and a couple 1-off improvements:

- Temporary hotfix for nav-jumplink-click PROD event - **TO REMOVE LATER**.
- Navigation event additions as outlined in https://github.com/department-of-veterans-affairs/va.gov-team/issues/1846
- CTA-specific tracking needs
- Additional info tracking adjust

[2019-10-01 15:22] ncksllvn commented on #2132
@jenniferlee-dsva yeah the value for that anchor link is generated from the heading text. It looks like the process for doing so is something like replacing spaces with hyphens and cutting it off at 30 characters.

I have no idea what's going on in the CMS interface unfortunately! I haven't explored that.

[2019-10-01 15:29] meganhkelley opened #2137 "Global Customer Support - Iterate on review model (excluding PR reviews)"
## User Story and Problem Statement

### High Level User Story/ies

As a VFS team, I want to know what my options are for support for the VSP team so that I can pick how I want to utilize them in our development process based on our team's needs.

As a VSP team member, I want to make sure our review process is as effective as possible while still not being a complete blocker so that I can be confi

[2019-10-01 15:30] YanaRoy opened #2138 "[Development/Design] Robin's Validation Changes - Provide Better Validation Messages"
## User Story or Problem Statement
As a claimant, I need to see what information I missed while completing my claim so I can get back to that section of the form to provide it and successfully submit my form.

### Background Info
During a screen share, a Veteran was receiving an error message saying that information on his form is missing, but there was no way to tell what and where that informati

[2019-10-01 15:30] peterhill-oddball commented on #1445
@tlei123 , Understood, this is a fairly low priority item, so just keep it on your radar when you can.

[2019-10-01 15:31] meganhkelley opened #2139 "MVP of Content & IA support levels & and process"

[2019-10-01 15:31] jenniferlee-dsva commented on #2132
Thanks Nick. I'll share ^ info w/Kevin W on CMS team, in case this is something they can address on the CMS-FE template.

[2019-10-01 15:38] 1Copenut commented on #1056
@ncksllvn I'm happy to dig into this one further. I've got a lot of meetings today, so I'll put my initial comment in while I've got a few.

The WAI-ARIA 1.1 specification ( https://www.w3.org/TR/wai-aria-practices-1.1/examples/listbox/listbox-collapsible.html ) for comboboxes creates a lot of challenges for screen readers. I have previously upgraded an Autocomplete component to Downshift V3, but

[2019-10-01 15:40] kevwalsh commented on #2132
Yes this is expected behavior (cutting it off at 30 characters). There is no CMS interface for determining these, it's automatic.

@ncksllvn one issue is that the anchor links in Preview do not match the ones that created in prod, so when creating new pages in drupal, authors/editors don't know what the final anchor link will be until the page is published. I believe that's what happened here. I d

[2019-10-01 15:42] ncksllvn commented on #1625
From discussion, I am taking this issue to mean that we just need to enable anchor link-generation in the CMS Preview server. Starting this now...

[2019-10-01 15:42] ncksllvn commented on #2132
Thanks @kevwalsh! I'm going to address that issue with the CMS Preview server in this ticket, https://github.com/department-of-veterans-affairs/va.gov-team/issues/1625#issuecomment-537097584.

[2019-10-01 15:45] meganhkelley commented on #1692
Meeting completed on 9/27.

[2019-10-01 15:45] #1692 closed

[2019-10-01 15:45] jenniferlee-dsva commented on #2132
@ncksllvn  You are awesome, as always. Thank you. This anchor linking issue has been a persistent bug for us with things moving into the CMS.

[2019-10-01 15:53] YanaRoy opened #2140 "[Epic] Notice of Disagreement Digital Experience"
## High Level User Story
As a Veteran who has received a decision about my VA benefits, I want to request an appeal to a Veterans Law Judge via a NOD (aka Board Appeal) so that a judge could review my case and determine whether it changes the decision.

## Hypothesis/(es)
**If** _the NOD process is converted to a personalized, digital experience_ **then** _it is expected that it will ease the user

[2019-10-01 15:55] jason-gcio opened #2141 "Implement POC of New Table Reflow"
## Story
As an eBenefits Team member, I need to figure out the reflow so that tables will breakdown at a new pixel width (320px vs 481px)

## Goal
After the reflow is working as intended for Rated Disabilities, share the work with Global UX (including POC) and discuss how best to help them implement it in the larger design system.

## Task
- Discuss with Emily and Kevin Hoffman and get feedback on

[2019-10-01 15:56] YanaRoy opened #2142 "[Discovery] Determine UX goals and objectives for NOD claims"
## Goal
The goal is to gain a clear understanding of the UX work needed to allow Veterans to complete Board Appeal claims on VA.gov.

## Acceptance Criteria
- [ ] Meeting with stakeholders to discuss background, goals, and objectives
- [ ] Agree on a plan for upcoming UX work
- [ ] Create epic and related tickets for UX work

## Stakeholders (don't contact until further notice from Andrea)
CASEFLO

[2019-10-01 15:59] markgreenburg opened #2143 "Update VAOS dashboard"
- Remove 'get started' sub-header
- Update help content under 'manage appointments' heading to 'View or cancel appointments'

[2019-10-01 16:00] joanneesteban commented on #406
This issue is working in conjunction with https://github.com/department-of-veterans-affairs/va.gov-team/issues/1843

**Discussed initial options with Nancy, Rachael, Andrew, Megan, Alex P, and John Paul on Friday, September 27th.**

## Outcomes of the meeting:
- Low-hanging fruit: Insights will begin building an interactive prototype using the Education product with the researched data that we hav

[2019-10-01 16:05] jefflbrauer commented on #1625
@ncksllvn to be honest - we probably should hold off on preview work until we have that broader conversation around the build process. If we revamp that process to include single page builds, the preview process should just leverage that.

[2019-10-01 16:06] #1274 closed

[2019-10-01 16:09] kreek opened #2144 "Connect to and test VAOS User Service in staging"
**User Story**
As a developer I want to connect to and test VAOS User Service in staging so that we can confirm JWT tokens can be created to connect to other services.

[2019-10-01 16:09] jbalboni opened #2145 "Write e2e tests for appointment list page"
Should go through pages and run a11y checker on main visual variations

[2019-10-01 16:13] kreek opened #2146 "Figure out the health check endpoint for VAOS"
**User Story**: As devops I want a VAOS health check endpoint so that va.gov's tools can monitor it.

[2019-10-01 16:16] kreek opened #2147 "Update VAOS appointment service to retrieve live data"
**User Story**: As a developer I want to connect appointment service to live staging and production data so that we can confirm it works with non-mocked data.

[2019-10-01 16:17] Justin-Pickett commented on #1688
@meganhkelley Please review the above screenshots that @artistgreen has uploaded into this ticket. We need a content review of the language in the screenshots above. Please let us know if there is anything else that is needed on our end.

[2019-10-01 16:18] brandonrapp commented on #1674
Successfully assisted Direct Deposit Team in rolling out Release Toggles with a % rollout.
![image (6).png](https://images.zenhubusercontent.com/5d39b8710efb727bd5a02056/2f9ab89e-d7c7-4f7a-a7f3-1fee415140d8)

Based on the feedback from Direct Deposit we are enhancing the UI so it is easier to manage % rollouts in the Toggle Admin UI.  https://github.com/department-of-veterans-affairs/va.gov-team/i

[2019-10-01 16:19] #614 closed

[2019-10-01 16:24] erikphansen commented on #1688
@artistgreen just to clarify, isn't it also possible for the API to return 0 suggestions if it can't find anything close to what the user entered?

[2019-10-01 16:35] markgreenburg opened #2148 "Conditionally direct veterans to clinic choice page"
As a veteran, I only want options presented to me that are actually available given my specific use-case.

We should only show the clinic selection/confirmation page when:

- The type of care is primary care or mental health
- The facility chosen has direct scheduling enabled
- There are available clinics for the type of care and facility
- There are matching clinic ids in the appointment history

[2019-10-01 16:37] markgreenburg opened #2149 "UI for multiple clinics in history"
## Story
As a veteran, I want to be able to choose which clinic of the ones that I've been to before I want to schedule into, so that I can go to the clinic that most closely matches my existing needs.

## AC
- [ ] Multiple clinics are shown when veteran has multiple clinics that match
Need a new UI for cases where a veteran has several clinics that they've been seen at within a given type of care

[2019-10-01 16:47] markgreenburg opened #2152 "Decide on including purpose of visit in DS flow"
Purpose of visit radio options only available in request flow in legacy vaos, not supported in direct scheduling (probably not a field supported by VistA), so two options:
1. Remove the question from the DS flow
    - Could be helpful to include this info, but this would be the easiest thing to do otherwise
2. Prepend / append / etc. the answer to the textarea of 'reason for appointment'
    - Cou

[2019-10-01 16:54] markgreenburg opened #2153 "Make decision on 'edit' buttons"
The 'edit' buttons in the review page are a new forms pattern. Decisions made early in the form affect every other page greatly, so easiest / safest thing to do is to navigate veterans to the page that contains the info to be edited, then having them navigate through the rest of the flow again.

[2019-10-01 17:00] kreek commented on #2112
@wyattwalter they said we can use {base_url}/users/v2/ e.g. https://veteran.apps.va.gov/users/v2/ for prod.

[2019-10-01 17:06] rianfowler opened #2154 "Add README to va-gov/eslint package in tool repo"
the eslint package is missing a readme. it should describe how linting works in the tools repo and how to update hte eslint rules.

[2019-10-01 17:09] jbalboni opened #2155 "Write e2e tests for VA appointment request flow"
Run a11y check on each page.

[2019-10-01 17:10] ricetj commented on #2112
cc: @tskinn for awareness

[2019-10-01 17:11] accbjt commented on #1683
Here is a list of most visited pages on va.gov. These are the pages I will conduct my baseline performance tests with.

https://docs.google.com/spreadsheets/d/1LvHRWCqBJjJLxo12ENiaV0w6yHLiVonqkC0JzJ--Ow4/edit?usp=sharing

[2019-10-01 17:11] ncksllvn commented on #1625
@jefflbrauer agreed. I'm tackling solely the issue with the anchor links not aligning between CMS Preview and the live site...it looks like that we're applying some dynamic integers there that could change as the CMS grows, so we may start seeing (or may already be seeing) some anchor links becoming outdated in Prod. It's just surfacing most clearly in the Preview Server not aligning with Prod.

[2019-10-01 17:11] jason-gcio opened #2156 "Breakdown 686c Form"
## Goal
- An abstraction might be beneficial to:
  -  help see the form in its component parts
  - highlight the forms intent
  - identify any confusing elements and business logic

## Tasks
- Create something like an exploded view of the pdf form to show its high level components

## Definition of Done
- [x] Complete the breakdown

[2019-10-01 17:12] #1492 closed

[2019-10-01 17:16] ricetj commented on #1668
done will continue work on other tickets.

[2019-10-01 17:16] #1668 closed

[2019-10-01 17:19] jason-gcio opened #2157 "Endpoint Baseline for Dependents"
## Goal
Establish endpoints and data sources used currently and within previous Dependents work notes.

## Considerations
Documentation on previous work completed by **rainbows**

## Definition of Done
- [ ] xyz

[2019-10-01 17:20] jbalboni opened #2158 "Add UI for when there are no appointments or requests"
We need a message to show up whenever there are no requests or appointments sent back from the api.

Here's the mock screens. We can leave out the first sentence that has the "insert description here" text for now. These would display on the existing `/vaos/appointments/confirmed` and `/vaos/appointments/pending` pages:

![image](https://user-images.githubusercontent.com/12564977/65171233-60d2aa80

[2019-10-01 17:21] ricetj opened #2159 "Create BRD intro Slides for new Ops members."
In order for new VSP ops members to understand our BRD process, information needs to be presented in a plain language manner.

[2019-10-01 17:22] ricetj opened #2160 "Record BRD intro for new VSP Ops members"
In order for future team members or interested parties to better understand the BRD process, we need to record our presentation.

[2019-10-01 17:26] johnpaulashenfelter commented on #2095
I *think* this is done after our meeting yesterday.

[2019-10-01 17:26] artistgreen commented on #1688
@erikphansen  - yes, I edited my entry regarding the technical discovery - thank you!

[2019-10-01 17:27] ricetj opened #2161 "Create OKRs for Ops team"

[2019-10-01 17:28] ricetj opened #2162 "Create KRs for Ops Team"

[2019-10-01 17:28] lunascoop opened #2163 "Rewriting/Editing of Call-Center FAQ Info"
Review the linked documents about two-factor authentication. Light research on these topics may be needed. The main focus will be the FAQ document, which needs to be simplified and put into our plain language style. The docs won't live on the website but will be background info/scripts for folks in our call centers who get queries.

Feedback and recommendations are needed by end of this week (Octo

[2019-10-01 17:28] ricetj opened #2164 "Exposing BRD data (Ops OKRs)"
## Problem statement
In order for us to show a successful platform, we need to have measurements of our goals or OKRs, so that we can strive to improve our work and the lives of the Veterans whom VFS teams serve.

## AC
- [ ] setup up and create frameworks for any of our KRs that need them, so that we can track later on.
- [ ] Have things in place to measure all our KRs.

[2019-10-01 17:30] ricetj opened #2165 "Ops Team OKRs"
In order to have a clear vision for how we can see if we are succeding and to improve we need to have OKRs that lead to measurable KRs.

[2019-10-01 17:35] YanaRoy commented on #2026
@carolynwill @kevinstachura to discuss details of this ticket.

[2019-10-01 17:37] ricetj opened #2166 "Rollout of the GitHub Teams initiative MVP to VA.gov"
Getting teams organized and using GH teams base before connecting access and using them as sources of truth.

## AC
- [ ] establish process for GH teams
- [ ] Ensure Teams have created and established GH teams.
- [ ] Make sure process is in place for all teams and they are following it
- [ ] Work with Onboarding to ensure new teams follow the process

[2019-10-01 17:39] #1903 closed

[2019-10-01 17:44] YanaRoy commented on #1705
@1Copenut following up: is this still blocked?

[2019-10-01 17:49] #916 closed

[2019-10-01 17:51] #1863 closed

[2019-10-01 17:51] #1479 closed

[2019-10-01 17:52] amycesal commented on #855
Prototype with REAL DATA!

<img width="1017" alt="Screen Shot 2019-10-01 at 12 51 35 PM" src="https://user-images.githubusercontent.com/1656046/65986815-43570500-e44a-11e9-8b1c-02bef3c28060.png">

[2019-10-01 17:52] kfrz commented on #1816
Good point. Do you have suggestions on how this could be a more approachable interface? Just gathering ideas at this point.

- Agreed. Investigating which of the classes are most offensive and will suss out some more solutions in future comments.

Agreed. We intend to audit and prioritize the services based on complexity/legacy-ness of code.

[2019-10-01 17:53] #2095 closed

[2019-10-01 17:53] #1870 closed

[2019-10-01 17:58] amycesal commented on #1236
![Grey Sky](https://user-images.githubusercontent.com/1656046/65987308-2ec73c80-e44b-11e9-8ba0-d4f961a032b7.png)

[2019-10-01 18:00] lkoenigsberg commented on #1129
@clantosswett provided data but need an update from @lihanli on where we stand.

[2019-10-01 18:07] jason-gcio opened #2167 "[Design] Breakdown 686c Workflow"
## Story
As a Veteran, I want to be presented with an easy to use form so I can view and modify my dependents.

## Goal
- An workflow overview might be beneficial to:
  - better define what all 686 is used to do
  - highlight the forms intent handoffs to other forms
  - identify any confusing elements and business logic

## Tasks
- Create something like a flowchart that will describe a stepwise ap

[2019-10-01 18:13] rileyorr commented on #1920
I've added a screen displaying a potential error message the user would see if they selected more than 2 time slots.

[2019-10-01 18:19] 1Copenut commented on #1705
@YanaRoy Yes, this is a wider issue that would affect all of our forms. What do you think about closing this item for the 526 specifically and opening a new issue ticket for exploration? It might be better served that way, because any change will be sitewide.

[2019-10-01 18:53] markgreenburg commented on #2043
@vbahinwillit here are two other tweaks based on new designs:

- Put '(including hearing aid support)' next to audiology option (not in bold)
- Remove subbheaders for mental health & specialty care

[2019-10-01 19:12] erikphansen commented on #1798
Based on a chat with Anna, we can use the `authnContext` value that we get from the `GET user` endpoint to determine if the user was verified via DSLogon. If they are, the value of `authnContext` is `"dslogon"`. But we don't currently store this value in Redux. So we'll need to:
1. actually store the `authnContext` in the Redux store
2. gate the DD component on that value: if it's `"dslogon"` we s

[2019-10-01 19:12] markgreenburg commented on #2149
@goldenmeanie could we please get an updated mock? The addresses won't be necessary here b/c all the clinics will be coming from the same facility. Not sure if you just wanted to strip that out or if you think other clinic-level info would be more helpful.

[2019-10-01 19:24] markgreenburg commented on #2152
## Decision:

After chatting with @lalexanderson-dsva , there seems to be enough benefit to schedule grooming to include the radios in the DS flow. We will pre-pend the answers to the 'reason for visit' textarea, along with 'purpose' to indicate what the question was in the first place. E.g., `Purpose: New issue`, `Purpose: Follow up/Routine appointment`, etc.

[2019-10-01 19:24] #2152 closed

[2019-10-01 19:28] #2090 closed

[2019-10-01 19:31] Samara-Strauss opened #2168 "[PM] Combined Profile and Account: Create product outline"
Epic #2086

- [x] [Create product outline](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/personalization%202.0/Combine%20Profile%20and%20Account/README.md)

[2019-10-01 19:41] jefflbrauer commented on #1846
@jonwehausen Any other work required by @ethanteague to fulfill the additional requirements will need to be done next week. He's out at this point.

Can we run through some tests with what we have tomorrow?

[2019-10-01 19:43] mnorthuis opened #2170 "[Due on 02/25] Redirects in Housing based on parity work"
**User Story**
As user of VA.gov, if I click on a link or option for a legacy content page, I want to be automatically redirected to the new updated content page, so that I am always seeing the most updated, single source of truth for benefits information.

*Issue copied from vets.gov-team repo - original issue: https://github.com/department-of-veterans-affairs/vets.gov-team/issues/15518*

**Goal*

[2019-10-01 19:43] ricetj commented on #1956
@tskinn can we close this out?

[2019-10-01 19:45] mnorthuis commented on #2170
Housing parity review and approval by stakeholders is being tracked here: https://github.com/department-of-veterans-affairs/vets.gov-team/issues/16294

Parity work is not yet complete, this issue will be on hold until it is.

[2019-10-01 19:51] jenniemc commented on #2158
@jbalboni, are you suggesting I modify the existing ConfirmedAppoinmtentListItem.jsx and PendingAppoinmtentListItem.jsx to display the message above when api returns no confirmed appointments and no appointment requests on the respective webpages?

[2019-10-01 19:52] lihanli commented on #1129
@lkoenigsberg i don't see any recent errors in the logs for the `effectiveStartDate.Past` bug, it looks like vets360 has fixed that issue.
@clantosswett this error should be resolved, can you check with your users if it is?

[2019-10-01 20:02] joanneesteban opened #2171 "Analytics Reporting Request for [person or team]"
# Metrics Reporting Request

## What this form is for

Use this template to request performance, usability, or outcomes va.gov metrics that is difficult to access or that needs analytics interpretation.

Insights will usually provide data reports within the current sprint, but if there is time-sensitivity, please note them in "additional comments."

## Instructions

Please fill out the following s

[2019-10-01 20:03] 1Copenut commented on #1437
@Justin-Pickett I've tested this with VoiceOver and NVDA (Firefox, Chrome) and it's responding as expected so far. Going to test JAWS later today and close out ASAP.

[2019-10-01 20:04] joanneesteban commented on #2171
Metrics for the last 14 months delivered 9/30/19.
[Va.gov September Historical - Digital Modernization Council.xlsx](https://github.com/department-of-veterans-affairs/va.gov-team/files/3678336/Va.gov.September.Historical.-.Digital.Modernization.Council.xlsx)
[Vets.gov_Va.gov Historical Data - September 2019.pdf](https://github.com/department-of-veterans-affairs/va.gov-team/files/3678337/Vets.gov_V

[2019-10-01 20:04] #2171 closed

[2019-10-01 20:19] micahchiang opened #2172 "Right Rail Standardization"
## User Story
As a user, I want an easily accessible side bar that gives me information so I can easily learn how to easily file an appeal, contact customer support if necessary, and check pending disabilities or claim status elsewhere on va.gov.

## Goal
Construct the third and final piece of the migrated eBenefits rated disabilities page.

## Notes
- Need more definition on what a right rail sta

[2019-10-01 20:21] jbalboni commented on #2158
@jenniemc It would be the PendingAppointmentListPage and ConfirmedAppoinmtentListPage files, but yes, that's correct.

[2019-10-01 20:28] joanneesteban opened #2173 "Launch Grey Sky Product Health Tool MVP"
## High Level User Story
As a VFS team member, I need an easy to use, easy to access tool to see my product's health so I can easily make data-informed product decisions.

## Hypothesis/(es)
**If** _we launch an interactive product health tool_ **then** _we expect VFS teams to use the tool to improve data-driven product decisions_.

## Goals
Launch interactive Product Health tool with the data and

[2019-10-01 20:28] #1485 closed

[2019-10-01 20:30] joanneesteban opened #2174 "Analytics Support & Requests Sprint 10"
## High Level User Story
As VSP, I need to know the analytics support levels for Sprint  so I can prioritize analytics work accordingly.

## Hypothesis/(es)
**If** we track analytics support for this sprint **then** we expect to be able to prioritize our work in accordance to team bandwidth and maintain support consistency across VSP.

## Goals
Track all analytics support for this sprint.

## Obje

[2019-10-01 20:34] peterhill-oddball commented on #1486
Created a pull request to merge the peter-QA branch into master.

[2019-10-01 20:36] mnorthuis opened #2175 "Redirects in Burials based on parity work"
**User Story**
As user of VA.gov, if I click on a link or option for a legacy content page, I want to be automatically redirected to the new updated content page, so that I am always seeing the most updated, single source of truth for benefits information.

*Issue copied from vets.gov-team repo - original issue: https://github.com/department-of-veterans-affairs/vets.gov-team/issues/15513*

**Goal*

[2019-10-01 20:37] clantosswett commented on #1129
Yep. I'll reach out and give an update either way.

[2019-10-01 20:38] mnorthuis commented on #2175
The DIC pages were removed from this redirect list in September 2019 per
https://github.com/department-of-veterans-affairs/va.gov-team/issues/1729

Parity reviews/approvals by stakeholders is being tracked here:
https://github.com/department-of-veterans-affairs/vets.gov-team/issues/19058

[2019-10-01 20:46] micahchiang opened #2176 "Final UI tweaks based on approval from IA/Content/AE"
## User Story
As a frontend engineer, I need to do a final UI & text update to all necessary Rated Disabilities Components after approval from IA/Content/AE on a finalized MVP mockup.

### Problem Statement
Since we were unable to begin building Rated Disabilities with research and design done ahead of development, our current application code has diverged from the current version of our [Rated Di

[2019-10-01 21:04] jenniemc commented on #2158
Thanks @jbalboni

[2019-10-01 21:08] 1Copenut commented on #1647
@desireeturner I just re-tested this and it's looking great. Moving to close.

[2019-10-01 21:08] #1647 closed

[2019-10-01 21:14] joanneesteban commented on #1869
@clantosswett was the limit for monthly reporting communicated to Chris?/can we close this ticket?

[2019-10-01 21:15] joanneesteban commented on #1848
[VA KPI Setting Template - VSA eBenefits.xlsx](https://github.com/department-of-veterans-affairs/va.gov-team/files/3678535/VA.KPI.Setting.Template.-.VSA.eBenefits.xlsx)

[2019-10-01 21:15] #1848 closed

[2019-10-01 21:16] #1547 closed

[2019-10-01 21:17] joanneesteban commented on #1669
@amycesal Can you add notes about keeping the goals to this issue? We can close this once that's done.

[2019-10-01 21:20] joanneesteban commented on #2173
Duplicated. Closing this issue.

[2019-10-01 21:20] #2173 closed

[2019-10-01 21:28] andrewlewandowski opened #2177 "New VAMC site content for sharing medical records"
We need new content for this section on the new VAMC website: https://www.va.gov/pittsburgh-health-care/medical-records-office/#share-your-records-with-provid

Due the the Mission Act, the rules around sharing medical records via VHIE have changed. The content can be drafted and published directly in Drupal.

**This needs to be published on Prod by October 11** (before Beta launch of VAMC Pittsbur

[2019-10-01 21:36] jefflbrauer commented on #2177
Added this to the runbook for tracking

[2019-10-01 21:37] joanneesteban commented on #1236
All AC met for this. Thank you @amycesal for your work with this!

[2019-10-01 21:37] #1236 closed

[2019-10-01 21:37] joanneesteban commented on #855
All AC plus stretch goals completed. Thanks, Amy & Chante!

[2019-10-01 21:37] #855 closed

[2019-10-01 21:38] clantosswett commented on #1869
Yep. I talked with Chris and others about this so we are good to close.

[2019-10-01 21:39] joanneesteban commented on #1030
@nedierecel @jonwehausen Where are we with this issue?

[2019-10-01 21:40] joanneesteban commented on #1847
[Roadmap in Insights Strategy deck](https://docs.google.com/presentation/d/10QFMqTCrEliqYaQr0dP4MZGOeL9broJPmakNc6A5YKk/edit#slide=id.g61980307dd_0_223)

[2019-10-01 21:40] #1847 closed

[2019-10-01 21:41] joanneesteban commented on #1850
[First draft of OKRs in Insights Strategy deck](https://docs.google.com/presentation/d/10QFMqTCrEliqYaQr0dP4MZGOeL9broJPmakNc6A5YKk/edit?usp=sharing)

[2019-10-01 21:41] #1850 closed

[2019-10-01 21:42] joanneesteban commented on #1849
[KPI Roadmap in Insights Strategy Deck](https://docs.google.com/presentation/d/10QFMqTCrEliqYaQr0dP4MZGOeL9broJPmakNc6A5YKk/edit#slide=id.g61980307dd_0_236)

[2019-10-01 21:42] #1849 closed

[2019-10-01 21:46] alexpappasoddball commented on #2071
@amycesal for visibility here is the list of use cases for the Product Directory

[2019-10-01 21:51] rroueche commented on #2071
Current org charts

VSP org chart (TO version): https://docs.google.com/presentation/d/1tIn0Bsqgc7yNtqUhhNXpt4wS9m6Xam4OEgh5HWwJcZE/edit

VSP org chart (Patrick version):[https://app.zenhub.com/files/133843125/6434b072-52c4-4014-a7ac-411172d602c5/download](https://app.zenhub.com/files/133843125/6434b072-52c4-4014-a7ac-411172d602c5/download)

VSA org chart: coming soon, I had to ask Andrea for this

[2019-10-01 22:00] 1Copenut commented on #1437
@Justin-Pickett Just finished testing with JAWS (IE11 and Chrome) and it worked as expected. Moving this issue to close.

[2019-10-01 22:00] #1437 closed

[2019-10-01 22:09] 1Copenut commented on #1655
@ksantiagomorgan6 && @desireeturner I retested this with NVDA and JAWS today and it's working as expected. Moving to close.

I found one oddity with the error messaging if I entered a valid ZIP code with no rates found, but I'll open that as a separate issue.

[2019-10-01 22:09] #1655 closed

[2019-10-01 23:39] jenniferlee-dsva commented on #2177
@Karak888 - I think Anne would be perfect for this one because she's already worked on a little bit of content related to VHIE and MISSION Act change. And most of the info and stakeholder approved language can be repurposed from here: https://www.va.gov/health-care/get-medical-records/

@andrewlewandowski - you said "in a couple weeks" on Slack msg. Could you provide more specific time frame, so K

[2019-10-02 00:46] brandonrapp opened #2178 "Research 508 Accessibility tools"
Research 508 Accessibility tools to understand if there is additional testing and best practices we can provide VSA teams in future sprints so that VSA apps are more 508 compliant and we can reduce the number of 508 bug tickets found after deployment.

[2019-10-02 01:51] jonwehausen commented on #1846
Hi Team,

I've done some initial QA in staging and it looks like we are in a good spot with most of what was requested.

### :exclamation: The remaining tracking needs / adjustments include:
- Change jumplink clicks to only fire when clicked [_currently firing on page load_]
- Missing dataLayer push for clicks on 'In the Spotlight' links on landing page [_this is working on health services page_]

[2019-10-02 03:19] nedierecel commented on #1030
@jonwehausen @joanneesteban Using the existing method of Google Sheets, the Reporting API is outputting the total page time and not the distribution (as we see in the Google Analytics interface).

Here is my test, so I don't muck up the [existing prototypes](https://docs.google.com/spreadsheets/d/1UOHXIIIHLuUCURbJPzK3WpXh3pH90of9FPt9Zs2yuaA/edit#gid=681579896).

Jon, I used `ga:pageLoadTime` and `

[2019-10-02 03:37] nedierecel commented on #1846
@jonwehausen Scroll depth has been added to the Scroll Depth tag. The new trigger is built on `Page Path` contains /pittsburgh-health-care and will fire at 50, 75, and 100%. (I avoided 25% since this is typically the viewport on page load)

For future-proofing as new facilities are rolled out, we can reformat the trigger conditions to be more inclusive of all `location-health-care` URLs.

Please p

[2019-10-02 06:28] lihanli commented on #2074
we talked with EVSS about these errors. they say that need logs of the full request and responses from their servers along with user edipis to diagnose them. i asked if they can lookup logs by timestamp and they said it wasn't possible. i asked if we can omit bank account numbers from the logs and they said it should be ok for now but they might need them later.

[2019-10-02 10:49] jenniferlee-dsva commented on #2177
@Karak888 - could you hold off on assigning? sorry for the reversal - but looked back at my old notes on this page and it may be a simple case of removing content and cross linking. Andy and I will circle back.

[2019-10-02 12:54] #995 closed

[2019-10-02 12:55] #1887 closed

[2019-10-02 12:57] clantosswett commented on #1866
We have followed up with EDU but have not heard back about getting added to their weekly/monthly reports. We will continue to reach out but for now, the work involved does not require an issue to be active. Additionally, we spoke with ID.me and are setting up a bi-weekly sync and will be discussing if we can get access to their contact center data as well.

[2019-10-02 13:16] lunascoop commented on #2163
Closing issue as this work is essentially "outside" of our team's scope and will impact sprint velocity.

[2019-10-02 13:27] jefflbrauer commented on #1846
Hi @nedierecel Thank you so much for doing the thorough QA! The remaining adjustments we'll be able to make on Monday. @ethanteague is OOO the remainder of this week unfortunately, but I don't anticipate any of that taking him longer than Monday to complete.  @andrewlewandowski I'll adjust our timeline accordingly to plan for Monday to resolve the issues, Tuesday to test and QA certify, and then W

[2019-10-02 13:42] joanneesteban opened #2179 "Onboard Nicola onto Google Analytics"
## User Story or Problem Statement
As an Insights front end, I need to understand how Google Analytics works and what kind of data comes out of it so I can determine how to integrate Google Analytics data onto the Product Health tool

## Goal
Onboard and train Nicola onto the VA instance of Google Analytics.

## Objectives or Key Results this is meant to further
Implement second iteration of Produ

[2019-10-02 13:47] joanneesteban opened #2180 "Create local Product Health Tool site using Google Analytics data"
## User Story or Problem Statement
How might we design an interactive MVP of the product health tool with the Insights Grey Sky design?

## Goal
Make the paper Grey Sky Product Health Tool mockup into an interactive site using available Google Analytics data.

## Objectives or Key Results this is meant to further
Implement second iteration of Product Health tool by Q1 2020

## Acceptance Criteria

[2019-10-02 13:54] nedierecel commented on #849
@joanneesteban I tried to create a `google-analytics` folder within `platform` but blocked on access. Can you help with permissions so I can commit changes?

![image.png](https://images.zenhubusercontent.com/5b295b9ff378ea1890b3d77e/4591c163-2406-428b-a4cc-7739aaefa23a)

[2019-10-02 13:57] joanneesteban opened #2181 "Create custom report for user time to task completion"
## User Story or Problem Statement
How might we show form specific metrics on the product health tool?

## Goal
Create and get feedback on a user time to task completion report.

## Objectives or Key Results this is meant to further
- Implement second iteration of Product Health tool by Q1 2020

## Acceptance Criteria
- [x] Insights creates custom report for time to task completion
- [ ] Auth Expe

[2019-10-02 13:57] nedierecel opened #2182 "Analytics Implementation for Downloads on Legacy Sections"
# Analytics Implementation or QA Request
I want to understand how PDF downloads are performing on legacy sections of the site, including:
- Content on https://va.gov/vaforms and MHV

This is also a follow up to the MHV training and request from the VSA Global UX team to track PDF downloads in #1828

## What this form is for
Use this template to request Google Tag Manager and Google Analytics imple

[2019-10-02 13:57] joanneesteban opened #2183 "Validate open assumptions to understand user behavior"
## User Story or Problem Statement
How might we understand how product owners will use the Grey Sky Product Health tool?

## Goal
Conduct user research with product owners, managers, and DSVA leadership to determine user behavior for the Grey Sky Product Health tool.

## Objectives or Key Results this is meant to further
- Implement second iteration of Product Health tool by Q1 2020

## Acceptance

[2019-10-02 13:57] joanneesteban opened #2184 "Work with VSP DevOps & Triage to map products to backend services"
## User Story or Problem Statement
As a Product Manager or Product Owner, I need to see if my product or form was down in the last 30 days so that I can understand if trends were due to downtime.

## Goal
Be able to see percentage of downtime for backend systems of different forms (and therefore products) for the last 30 days. Be able to programmatically call the data and and store it so that user

[2019-10-02 13:57] joanneesteban opened #2185 "Propose Questions for Foresee Feedback Survey Reconfiguration"
## User Story or Problem Statement
As a VFS team, I need to be able to see user survey data related to my product so I can strategically solve user issues based on real user feedback.

## Goal
Decide on changes we would like to make to Foresee surveys so that we can have better insight into user feedback for products on the platform.

## Objectives or Key Results this is meant to further
- Launch

[2019-10-02 13:58] nedierecel commented on #517
@jonwehausen FYI - I'm going to close this backlog item, as it was tackled in another issue.

[2019-10-02 13:58] #517 closed

[2019-10-02 14:00] amycesal commented on #1669
<img width="1314" alt="Screen Shot 2019-10-02 at 8 58 12 AM" src="https://user-images.githubusercontent.com/1656046/66050412-caf84e80-e4f2-11e9-88ba-b52be9125fab.png">
I added the words "shading key" to the goals heading. However, I left the part about conditional formatting at the end, so it's clear how how people can update the shading if they need to. In theory, product owners can use this to s

[2019-10-02 14:01] #1669 closed

[2019-10-02 14:03] joanneesteban opened #2186 "Synthesize findings from KPI Workshops"
## User Story or Problem Statement
How might we synthesize findings from KPI workshops into insights for moving forward with data-driven product decisions?

## Goal
Determine which KPIs Insights needs to maintain and consolidate KPIs so that we can more easily track them in the next quarter.

## Objectives or Key Results this is meant to further
- Track and maintain KPIs every quarter across the V

[2019-10-02 14:09] Karak888 commented on #2104
Not all hubs are ready as they are not yet live in Drupal:  Housing, Burials, Disability

[2019-10-02 14:10] #1891 closed

[2019-10-02 14:14] meganhkelley opened #2187 "Content & IA Support Sprint 10"

[2019-10-02 14:15] ricetj commented on #1825
done

[2019-10-02 14:15] #1825 closed

[2019-10-02 14:16] ricetj commented on #1953
Outstanding issues will continue in the next sprint.

[2019-10-02 14:16] #1953 closed

[2019-10-02 14:23] meganhkelley opened #2188 "PM: Coordinate IA and Content Intro for Facility Locator Team"
### User Story
As a PM for a VFS team going through onboarding with VSP, I need to participate in an IA & content intro session along with relevant members of my team, so that we know best practices for IA & content and how to engage with the VSP content & IA team.

### Goal
Schedule and attend IA & content onboarding session with VSP's content and IA team and the PM, content writers, and designer

[2019-10-02 14:28] meganhkelley opened #2189 "IA and Content Review for BAH Team"
### User Story
As a VFS team working on the platform, I need to participate in an IA & content intro session along with relevant members of my team, so that we know best practices for IA & content and how to engage with the VSP content & IA team.

### Goal
Schedule and attend IA & content onboarding session with VSP's content and IA team and the PM, content writers, and designers on BAH.

### Defi

[2019-10-02 14:28] RLHecht commented on #1591
@mnorthuis I only removed the link to the DBQs page from the disability hub landing page. Jen Lee removed it from the left nav. Let me know if there is more you need me to do.

https://www.va.gov/disability/

[2019-10-02 14:30] #1956 closed

[2019-10-02 14:33] joanneesteban opened #2190 "Monthly VEO Metrics + Metrics after Nov '18"
## User Story
As a VEO user, I need monthly analytics for Education, Burials, and Claims so I can report on this data to internal stakeholders.

## Goal
Provide monthly data for September in visualization
Provide links to Jack Yang within Google Analytics
Determine how we grab + visualize data next month and the following months

## Acceptance Criteria
 - [ ] Monthly Data
 - [ ] Visualize Data
- [

[2019-10-02 14:37] joanneesteban opened #2191 "[Support] Onboard VSA Facility Locator"
## User Story
As a VSA team, I need to know what the VSP Analytics and Insights team does so I can use efficiently use their analytics support for my products and processes.

## Goal
Onboard VSA Facility Locator onto VSP Analytics and Insights.

## Acceptance Criteria
- [x] Schedule Meeting with Team
- [x] Meet with Team
- [x] Add Team Members to Google Analytics
- [x] Iterate Onboarding Documenta

[2019-10-02 14:43] Karak888 commented on #924
@1Copenut I will reach out to you about getting this scheduled via DM, thanks!

[2019-10-02 14:48] #1869 closed

[2019-10-02 14:50] Justin-Pickett commented on #1135
@clantosswett can you provide an update on this ticket if you have been able to reach out to any other team members to test this item so we can look at closing this ticket.

[2019-10-02 14:52] joanneesteban commented on #1125
Deprioritizing for Sprint 10. Bumping to Ready.

[2019-10-02 14:57] joanneesteban commented on #1030
Will need API requests to get the data that is required in correct formatting. @joanneesteban follow up with Rachael to see priority on this.

[2019-10-02 14:58] MickinSahni commented on #1328
Yep, that's right; i'm new to VA and was the PM for search.gov.

@Karak888 already reached out and I provided some quick suggestions re what might addressed:
* Any problems we're currently seeing and/or outcomes we seek to enable [where updates to on-site search may be our Bet]
* Type of content being/to be indexed
* Anticipated changes to query volume
* Mitigating stability issues - driving this

[2019-10-02 15:07] mnorthuis commented on #1591
@RLHecht If we are confident that there are no other links/references to these pages within other content pages, then I will move forward with redirects.

[2019-10-02 15:12] 1Copenut commented on #924
Reschedule for Friday, October 4th.

[2019-10-02 15:26] omgitsbillryan opened #2192 "Migrate vets-api Jenkinsfile to be "PR multibranch" Compliant"
## Background
[Integrating danger-ruby into the `vets-api` CI](https://github.com/department-of-veterans-affairs/va.gov-team/issues/1934) is blocked by the fact that Jenkins is configured to discover branches and not pull requests. We intend on changing that shortly([RFC](https://github.com/department-of-veterans-affairs/vets.gov-team/pull/19765)), as a result, there are some changes necessary to

[2019-10-02 15:31] erikphansen commented on #1798
We can now safely ignore my last message. We shouldn't use `authnContext` at all. This is still TBD, but the backend might expand on the `signIn` object to also keep track of the verification method. And if a user is DSLogon, we'll need to check with ID.me when they try to access DD to see if they're ID verified with ID.me. If so, we'll show them DD. If not, we'll need to prompt them to verify wit

[2019-10-02 15:32] markgreenburg commented on #1775
@jbalboni can you confirm that the fetches for both pending & confirmed appointments also retrieve all of the appointment details for each list? I.e., one call to retrieve appts + all details and another call to retrieve requests + all details, rather than separate calls for list and individualo appt details. Want to make sure I understand how many calls are being made so that we know what the ful

[2019-10-02 15:36] meganhkelley commented on #549
This work is captured in epic #2139 and super epic #2137. Closing!

[2019-10-02 15:36] #549 closed

[2019-10-02 15:38] jbalboni commented on #1775
That's correct, though there are actually three calls:

- Get appointments from VistA
- Get booked CC appointments
- Get appointment requests

So that's potentially a little tricky of one of the first two fail, but not both, because we combine those into one page.

[2019-10-02 15:54] #1852 closed

[2019-10-02 15:56] Karak888 commented on #924
closing this piece out as we are scheduled for Friday as Trevor has indicated above!

[2019-10-02 15:56] #924 closed

[2019-10-02 15:56] andreahewitt-odd opened #2193 "Onboard Facility Locator Team"
## Onboarding User Story
Facility Locator team is onboarding to work on the VSP, they need support to get up and running. This epic contains the tasks our team will perform to support them through their onboarding stage.

## Goal
Get Facility locator team up and running in their workflow as quickly as possible._

## Issues to create within this Epic

[code]

## How to configure this issue
- [ ] **

[2019-10-02 15:58] #1195 closed

[2019-10-02 16:12] omgitsbillryan opened #2194 "[Discovery] VA.gov User Questions & Feedback"
## User Story or Problem Statement
As a user of the VA.gov site, I need a way to submit feedback about the site to so I can feel engaged and listened to.

# Background
VA.gov uses a service called `iris` for collecting feedback & questions from users.
![image](https://user-images.githubusercontent.com/3077884/66060645-005d6600-e50c-11e9-8c7b-85f3f6590ed0.png)

We think there could be some opportun

[2019-10-02 16:21] RLHecht commented on #1591
@mnorthuis There shouldn't be any other links or references.

[2019-10-02 16:34] omgitsbillryan opened #2195 "Discovery Automatic Metrics for vets-api Apps"
## User Story or Problem Statement
As a VFS Developer, I need automatic metrics on the services I write so I can self-monitor the services I write.

## Goal
Some type of charts that are automatically updated/created as a result of new `vets-api` code being deployed.

Create a draft implementation process that developers can monitor SLOs.

## Extra Context
Not all external developers consider updat

[2019-10-02 16:39] Karak888 commented on #2104
moving to close Epic as not needed at this point.  Will work with VSP teams when ready.

[2019-10-02 16:39] #2104 closed

[2019-10-02 16:41] #1900 closed

[2019-10-02 16:41] #1901 closed

[2019-10-02 16:54] erikphansen commented on #1798
This ticket should probably be turned into an epic now. It'll be a multi-team effort and might also require some new UX/design work as well.

[2019-10-02 16:54] goldenmeanie commented on #2149
Ok, given less data and the focus on one facility, I've revised the screens.

Many clinics:
![Choose a clinic – three@2x](https://user-images.githubusercontent.com/1969/66064412-5386e700-e513-11e9-88db-afc2d0715b1a.png)

Only one clinic:
![Choose a clinic – one@2x](https://user-images.githubusercontent.com/1969/66064424-5c77b880-e513-11e9-8b7d-694db6fd51a6.png)

If there are no clinics, then they