[2021-02-18 19:42] edmangimelli commented on #13086
do want to consider lengthening this?

[2021-02-18 19:43] edmangimelli commented on #10481
is the action item:

and send that info to the VSP identity team?

[2021-02-18 19:50] ala-yna commented on #18969
The last two -

1) Mailing and Home addresses are the same in Profile
2) No addresses in Profile

[2021-02-18 19:50] Yuffster commented on #20165
What are the possible consequences of exceeding the supported capacity from a business perspective?

[2021-02-18 19:52] mshea0606 commented on #18349
@lihan Ian McEwan is looking into this. They have everything they need and have created an issue and will start work on it in Sprint 42. [Slack](https://dsva.slack.com/archives/C7TE0PFTL/p1613676887099500?thread_ts=1611332694.003100&cid=C7TE0PFTL)

[2021-02-18 19:53] RLHecht opened #20169 "Create Word doc for COVID vaccine translation effort"
## Issue Description
We need to send our [COVID-19 vaccine page](https://www.va.gov/health-care/covid-19-vaccine/) to a translator so we can create a Spanish version of the page. A sitewide content member needs to create a Word doc with all of the content. We should make sure to number each question so that when the translation comes back it is easier to match up the Spanish with the English versi

[2021-02-18 19:54] mshea0606 commented on #17739
@mshea0606 following up on this [Slack](https://dsva.slack.com/archives/C7TE0PFTL/p1608215573214600?thread_ts=1608135206.197100&cid=C7TE0PFTL)

[2021-02-18 19:57] grossb1 commented on #18732
Putting this in blocked until back-end changes are live.

[2021-02-18 19:57] digitalken commented on #19836
PASS 2/18/2021 - Android and iOS.  Closing.

[2021-02-18 19:57] #19836 closed

[2021-02-18 20:01] bsmartin-ep commented on #18491
Documentation has been updated:
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsp/teams/insights-analytics/analytics-tools/domo-internal-faq.md

[2021-02-18 20:01] #18491 closed

[2021-02-18 20:06] callen2563 commented on #19702
I have created the expired state for benefit applications and uploaded it to InVision with the other screens here:
https://vsateams.invisionapp.com/share/RNZWCZBXZJ6#/445338903_My_VA_Desktop_Application_Expired

[2021-02-18 20:06] #19702 closed

[2021-02-18 20:08] timwright12 commented on #7971
Opened a new PR for this because of some uncomfortable merge conflict with the older stale one https://github.com/department-of-veterans-affairs/devops/pull/8534

[2021-02-18 20:18] jbalboni commented on #20161
Yeah, I think step 1 or 2 is the way to go there. The current polyfill has locale information that we'll never need. You should be able to get it down to 300kb with one of the [other build](https://github.com/formatjs/date-time-format-timezone#browserified-file-size), if there's not another polyfill to use.

The polyfills are in the vendor bundle because historically we put everything that was nee

[2021-02-18 20:23] mchelen-gov commented on #20165
Good question, right now either 1) the build would complete but more slowly or 2) the build would fail. The system is currently dependent on editors not to overload it beyond capacity.

[2021-02-18 20:23] johnhashva opened #20170 "VA.gov Site Map XML & Template Structured Data Issues"
## Why you're here

Crawl reports from SEMRush -- and reported by Jen Lee --  have revealed issues that appear to be rooted in our Site Map and Site Templates.  Details:

- report has identified 17 of our modernized pages as missing the mainEntity field value in structured data (schema markup).

[va.gov_structured_data_that_contains_markup_errors_20210218.xlsx](https://github.com/department-of-vet

[2021-02-18 20:25] RLHecht opened #20171 "Review and edit SME content changes to Headstones, Markers and Medallions page"
## Issue Description
Stakeholder Brett Lee made content changes to the [Headstones, Markers, and Medallions page](https://www.va.gov/burials-memorials/memorial-items/headstones-markers-medallions/) in the "Who can be honored with a medallion?" section. We need to review these changes and edit for plain language and VA.gov voice and style before publishing.

![Screen Shot 2021-02-18 at 3.58.41 PM.p

[2021-02-18 20:30] allison0034 opened #20172 "Design Feedback - Usability Testing Prep [VAOS, VAOS for Distribution]"
## VFS acceptance criteria
- [ ] Let VSP know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
-

## Feedback
- **Must** = the feedback must be applied
- **Should** = the feedback is best practice
- **Consider** = suggestions/enhancements

**Must:**

**Should:**
- Use info and [al

[2021-02-18 20:33] laurellawrence commented on #19867
Hi Ladies, based on the feedback above, I have a new prototype ready using only a black icon with "link copied" feedback after a user click

https://preview.uxpin.com/c24f0ec63fcc859b8eebaacad860a0d968bc3d45#/pages/136710695/simulate/sitemap?mode=i

[2021-02-18 20:34] delli-gatti-michael commented on #19390
Local testing complete

[2021-02-18 20:34] bessgreen opened #20173 "Update a11y announcements for radio buttons"
## Acceptance Criteria
1. Update the accessibility announcements for radio buttons:
     - accessibilityRole=radio _(these are currently announced as "checkbox")_
     - accessibilityState= denote when "selected" or "unselected"

[2021-02-18 20:35] #19417 closed

[2021-02-18 20:37] RLHecht opened #20174 "Update COVID FAQs and debt management page with links for debt-related questions"
## Issue Description
In an effort to provide the most up-to-date information on COVID-19, we need to add new links to our [FAQs page](https://www.va.gov/coronavirus-veteran-frequently-asked-questions/) for debt-related questions. This will go under the question "What if I can't pay my existing VA debt?" These links and new content surrounding it also needs to be added to our [Manage your VA debt p

[2021-02-18 20:37] #17211 closed

[2021-02-18 20:38] #19600 closed

[2021-02-18 20:47] holdenhinkle commented on #20028
My Email to BS:

Hi Mark,

Re Requirement / Problem: Re ticket #388072

Thanks for your last comment.

We love BrowserStack and were excited to run our Cypress tests on your platform but we cannot get our non-standard Cypress configuration to work with your system.

To be frank, the support from your team has been lackluster; there have been significant delays in your response times (6-7 days) and

[2021-02-18 20:48] holdenhinkle commented on #20028
BS' fast response:

Hi Holden,
​
Firstly, I'd like to apologize for the Support experience you've had so far. We are constantly working on improving our response rates and will also note this as feedback for improvement. Rest assured, we will strive to assist you with timely updates here onward.
​
Coming to the issues you've raised - I see that your primary concern is the error: "Your `supportFile

[2021-02-18 20:48] bessgreen commented on #20173
@msmanak @ayushchak can you weigh in on what the requirements should be for the announcement copy? More specifically:

1. What phrase should be announced when a selectable element is in focus? i.e. "Double tap to activate", "Double tap to open", etc.

2. Will the same phrase be used for all selectable elements? Or will there be different phrases for different elements? Elements include: buttons, l

[2021-02-18 20:49] lexicalninja commented on #18904
currently working with @steve-gov to get a widget implementation for oauth built out by IAM team. This would replace the current flow with this:
![widget view.gif](https://images.zenhubusercontent.com/5f60e9930170febc016f0a50/bb1f4f79-0078-46b5-8217-134a60a9c832)

[2021-02-18 20:54] erikphansen commented on #19334
@bmcgrady-ep I can add the `direct-deposit-setup-eligible: true` to my existing call that looks like this:
[code]
As you can see in the comment, we have no way of knowing if someone is eligible for DD4EDU. The API for education benefits is not as fleshed out as the one for comp and pen benefits.

So if you need me send `direct-deposit-setup-eligible` and hardcode its value to `true` or `false` I c

[2021-02-18 20:54] lexicalninja opened #20175 "Have IAM team create widget view implementation for OAuth"
Va Mobile app would like to switch from the current IAM flow to the widget view flow. IAM does not have this built in at this point and need to create the implementation. Once this is complete the log in should appear like this
![widget view.gif](https://images.zenhubusercontent.com/5f60e9930170febc016f0a50/688f7854-4bc7-4fdf-ac5d-b2a10d7940f2)

[2021-02-18 20:54] shiragoodman commented on #19822
The [Platform Collaboration Point Tracker](https://docs.google.com/spreadsheets/d/1OgPyEvUlNF6EnaYMFAXJkV6FKOvZnlPnbOQ2fAJ7W7A/edit#gid=1116695886) has been updated (under the "New" tab). Zoom link is available there.

[2021-02-18 20:54] holdenhinkle commented on #20028
My response:

3:45 PM (2 minutes ago)
to BrowserStack

Hi Reehan,

Thank you for your response; I really appreciate it. I cleared out all of our builds because we've tried so many different things to get this to work since I last communicated with you.

I tried what you said and it didn't work. I set "supportFile" to "./cypress/support/index.js" but that's not where the support file lives; it live

[2021-02-18 20:54] lexicalninja commented on #16171
blocked by #20175

[2021-02-18 20:55] lexicalninja commented on #18904
blocked by #20175

[2021-02-18 20:55] lexicalninja commented on #18905
blocked by #20175

[2021-02-18 21:00] bmcgrady-ep commented on #20112
@KD-VA - Thanks for the update. I provisioned ou with access to both Google Analytics and Domo. Please let me know if you have any issues with your access.

[2021-02-18 21:00] bridgethapner commented on #19533
Here are some screenshots of the states on VA.gov for health and claims when a user doesn't have any:

# Health
![Screen Shot 2021-02-08 at 4.46.37 PM.png](https://images.zenhubusercontent.com/5d8e52f61c53fd000173c5de/1633f846-57dc-494f-8084-ec5e0555f948)

# Claims
![Screen Shot 2021-02-17 at 8.39.13 PM.png](https://images.zenhubusercontent.com/5d8e52f61c53fd000173c5de/20375a8c-38dd-434d-96ad-f974

[2021-02-18 21:02] lexicalninja commented on #19533
@bridgethapner  user 1414 should not be authed for anything except profile, I can send you the pw, just message me for it

[2021-02-18 21:08] sporeboy commented on #19800
Created current and future flow diagrams: https://xd.adobe.com/view/6c65f5c2-36e1-4051-81be-6f8b9415a3cd-3936/

[2021-02-18 21:09] alexandec commented on #11510
Resuming work on this ticket. Benchmarks for "yarn build:webpack" (averages of 5 runs each):

- Webpack 4: 25.0 seconds
- Webpack 5: 48.3 seconds

So Webpack 5 takes about twice as long to complete a build. I'll look into whether there are configuration changes to reduce the Webpack 5 build time.

[2021-02-18 21:11] lunascoop commented on #20169
@RLHecht the Word doc has been created.

[COVID-19 Vaccine Page Translation 2-18-21.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/6005916/COVID-19.Vaccine.Page.Translation.2-18-21.docx)

[2021-02-18 21:11] lexicalninja opened #20176 "Refactor List Items"
With the new design system, we would like to start having explicit components for the different lists that we have.

We will want to refactor list item to be two different components, `DefaultListItem` and `SimpleListItem`

There are a few ways that can be done and we can explore how best to do this, but we should have some way to indicate default or simple when calling the compoent.

Secure messa

[2021-02-18 21:12] RLHecht commented on #20171
@bethpottsVADEPO I made changes to the edits that Brett made. Can you take a look and let me know if what I have is OK? I put a screenshot of his changes in the top of the ticket so you can see the difference. preview-prod.vfs.va.gov/preview?nodeId-859

[2021-02-18 21:14] RLHecht commented on #20169
Thank you @lunascoop ! @DanielleThierryUSDSVA here you go!

[2021-02-18 21:19] #19990 closed

[2021-02-18 21:21] sporeboy commented on #19798
Initial commit of stubbed research plan here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/ebenefits/features/apply-for-home-loan-COE/research-design/discovery-interviews/coe-discovery-research-plan.md

[2021-02-18 21:24] erikphansen opened #20177 "Show a different view for In-progress Applications that have expired"
We now have [a design for a Benefit Application that has expired](https://github.com/department-of-veterans-affairs/va.gov-team/issues/19702). We now need to update the `ApplyForBenefit` component to show this new state when the application has expired. [This is the relevant code](https://github.com/department-of-veterans-affairs/vets-website/blob/c82bdfb3832e6369a258afbd03582cd034ee8abf/src/appli

[2021-02-18 21:25] mpelzsherman opened #20178 "Re-enable main Facility Locator Cypress test (search.cypress.spec.js) on Jenkins"
This test:

src/applications/facility-locator/tests/e2e/search.cypress.spec.js

.. was found to be "flaky" and crashing on Jenkins about one out of every 15-20 runs.

This was blocking builds, so the testing team disabled the test on Jenkins.

However, without this test running in our build pipeline, it no longer prevents code from being released to production that could break our search feature.

[2021-02-18 21:32] RLHecht commented on #20174
These changes are all live. Closing ticket.

[2021-02-18 21:32] #20174 closed

[2021-02-18 21:37] jason-gcio opened #20179 "[UNPLANNED] Pass Through Bio for Standalone 674's with Preexisting Dependents"
## Background
In testing, it was determined that there is a field that RBPS requires to be passed that shows no impact but needs to be set a certain way:
When a 674 is submitted referencing an existing child, it requires the child's status to be set as `Biological` in the payload to be successful.  Currently, it is difficult to retrieve the actual status as it is not stored in CorpDB (yet) but is

[2021-02-18 21:40] #19360 closed

[2021-02-18 21:40] #19803 closed

[2021-02-18 21:42] lianilychee commented on #19914
hey there @Samara-Strauss, thanks for submitting this ticket (you got the right person)!  And thanks, too, for your patience while we respond.  I will be able to respond/act more thoroughly over the next few days - I'm part of the 40% of Austin, TX that's has been without power, heat, and water the past week because of a severe winter storm that is still ongoing.

[2021-02-18 21:43] joeniquette commented on #20167
![Screen Shot 2021-02-18 at 4.42.48 PM.png](https://images.zenhubusercontent.com/5f6a5e454ede530876cfc425/3bc8e64e-cec3-4d38-951a-684e0903dc7e)

[2021-02-18 21:46] kristenmcconnell commented on #19517
@peggygannon Any feedback on Cerner appointment wording?

[2021-02-18 21:46] jbalboni opened #20180 "Use breadcrumbs on new appointment details pages"
I believe this Manage Appointments link at the top of the details page should actually be our normal breadcrumbs likes:

![Screen Shot 2021-02-18 at 4.44.52 PM.png](https://images.zenhubusercontent.com/599c94608f62dc7798c3b2cd/bad7f051-0239-47af-9c1b-8ce54a2090ab)

Currently we've been coding them exactly as they're displayed in the specs, but I believe that's just the mobile state? Pretty sure th

[2021-02-18 21:47] jbalboni commented on #20180
@laurenernest @outerpress Am I correct in what I said above?

[2021-02-18 21:55] k80bowman commented on #19612
Given that we may be sticking with our GraphQL query instead of changing to the CMS Export query process, I've updated my recommendations here to reflect that.

## Updated Recommendations
### Investigate re-organizing the Jenkins build process so that the site build only needs to happen once
This could mean removing the site build from the Prearchive stage. Or this could mean running our tests in

[2021-02-18 22:02] laurenernest commented on #20180
I'll let Peter have the final say, but yes we should be following the general VA design system which does look different between desktop and mobile.

https://design.va.gov/components/breadcrumbs

[2021-02-18 22:02] starlow00 commented on #19899
Hi @mshea0606 (cc @Kimberley2019) Attached is the draft of the product guide with my edits, which were minor. I think it works well!
[VA Profile - Product Guide v3_ST_021821_.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/6006157/VA.Profile.-.Product.Guide.v3_ST_021821_.docx)

[2021-02-18 22:07] DanielleThierryUSDSVA commented on #20169
Thank you so much, @lunascoop @RLHecht!

[2021-02-18 22:09] bethpottsVADEPO commented on #20002
You all may have this covered already, but I just wanted to note that My HealtheVet appears incorrectly as one word in several places on that "We can't sign you in" page--in the alert box and also in the text under that box. I see it wrong twice under "Submit a request for online help." And a space needs to be inserted before the link "My HealtheVet online help form." Can someone make those additi

[2021-02-18 22:13] grossb1 commented on #19759
We've identified at least one source of these errors.  They are related to validation failures on message length, see below.  Due to the fact this is the messages end-point it's likely that this is the source for all of the errors we've encountered.  It is curious that these validation error were not caught by vets-website or vets-api to begin with:
[code]

[2021-02-18 22:14] grossb1 commented on #19759
Will want to spend a bit more time to ensure there are not other sources of these errors.

[2021-02-18 22:19] Samara-Strauss commented on #19334
We do not need to track whether someone can add direct deposit for edu the way we track eligibility for direct deposit for comp & pen because, as Erik mentioned, we can't detect this for direct deposit for edu. You can take that out of the datalayer, @bmcgrady-ep.

[2021-02-18 22:19] bessgreen commented on #13898
Added screen tracking with the React Navigation and React Native Firebase libraries: #19047

Closing this task.

[2021-02-18 22:19] #13898 closed

[2021-02-18 22:20] joanneesteban opened #20181 "Brainstorm Ideas for KPI Dashboard Standardization"
## Issue Description
The VSP Analytics & Insights team is working on standardizing which KPIs & themes VA.gov teams should use when determining their KPIs. We're looking at standardizing some, most, or all of these datasets so that our data cleanup times can improve, and we can deliver the dashboards faster.

We eventually want to templatize the dashboards themselves.

This ticket is to start docu

[2021-02-18 22:20] laurenernest commented on #4669
To be handled by Lighthouse team in CCE API

Related Slack [thread](https://lighthouseva.slack.com/archives/CJ162GDDJ/p1612575703031700)

Dev ticket https://vajira.max.gov/browse/API-2109

[2021-02-18 22:22] RLHecht commented on #19893
@brianalloyd This is one to add to your board. I think @ncksllvn needs to do the changes but I can review whether the wording is still correct.

[2021-02-18 22:23] joanneesteban commented on #20181
Parent page with static goals
Sub pages with the ability to look at the KPIs over time

[2021-02-18 22:26] Samara-Strauss commented on #19914
@lianilychee I am SO sorry to hear that. This is not at all urgent. Even if you get back to me in a couple weeks or so, that is totally fine. Please take care of yourself!

[2021-02-18 22:33] ddzz commented on #20178
The other suggestion I have is to mock out Mapbox API calls in order to reduce map animations in these tests since these animations appear to be causing the crashes.

[2021-02-18 22:39] laurenernest opened #20182 "Update team working agreements"
Update VAOS team working agreements based on latest team feedback.
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/appointments/va-online-scheduling/product/team-working-agreements.md

- Add code review best practices
- Add different Slack channels and usage

[2021-02-18 22:44] laurenernest commented on #17198
@beth-wodzinski is this still an issue?

[2021-02-18 22:49] AGarcia-Clarity opened #20184 "TUD - Update Availability column for accessibility"
## Issue Description
As a user, I would like to be able to see if an account is available / currently being used by a means other than it being conveyed by color so that I can easily determine which test accounts will appropriately serve my needs.

---
## Tasks
- [x] Reformat the 'Availability' column to display useful text for the relationship of Available vs Unavailable
- [x] Apply a nicer UI to

[2021-02-18 22:53] outerpress commented on #20180
Correct and correct y'all. I didn't intend to deviate from our standard breadcrumbs. I just didn't get around to mocking up tablet views for those states.

[2021-02-18 22:54] beth-wodzinski commented on #17198
Yes; I am still not able to log in to VAOS in IE.

From: Lauren Ernest <notifications@github.com>
Sent: Thursday, February 18, 2021 3:45 PM
To: department-of-veterans-affairs/va.gov-team <va.gov-team@noreply.github.com>
Cc: Wodzinski, Beth <Beth.Wodzinski@va.gov>; Assign <assign@noreply.github.com>
Subject: [EXTERNAL] Re: [department-of-veterans-affairs/va.gov-team] User automatically logged out i

[2021-02-18 22:59] AGarcia-Clarity commented on #20002
@bethpottsVADEPO, I corrected all references of My HealtheVet on the entire "We can't sign you in page".  I took a [screenshot of my local changes](https://github.com/department-of-veterans-affairs/vets-website/pull/16097) as they will appear once the deployment process kicks off for staging & production.  Thank you.

[2021-02-18 23:01] meganhkelley commented on #11510
Will this add literally 23.3 seconds to the build? Or is that magnified/compounded in some way for a greater effect? If it's just an extra 23 seconds, I would assume it's a pretty low bar for the question "are the improvements worth the extra time"?

[2021-02-18 23:15] alexandec commented on #11510
Since Webpack runs twice on Jenkins (in the build stage and the prearchive stage), that number would be doubled. But actually, those numbers above were for the local development build. I'll run the benchmarks again using the production build, which requires more processing power. That will give us a more realistic number since the staging and production builds on Jenkins both do a production build

[2021-02-18 23:16] digitalken commented on #18951
2/18/2021 - @komaly15, I'm able to go through the screens with Android and hear things like "Claims page" when I tap onto a portion of the page that doesn't highlight text and read it back to me.  When I try the same with iOS, I only hear a 'click'.  I can never seem to hear "Claims page".  (This is only an example.). The Profile page would be another example.  If something else is highlighted and

[2021-02-18 23:23] digitalken commented on #18227
Get the password for the 1401 user and we're (hopefully) golden on testing this one.  https://app.zenhub.com/workspaces/va-mobile-app-5f205eac3155a2000f422ecb/issues/department-of-veterans-affairs/va.gov-team/19691

[2021-02-18 23:24] KD-VA commented on #20112
Ben,

Thank you so much! I believe I have access now to what I need. Thanks!

Respectfully,

Kiran Dhillon

Veterans Experience Office
Department of Veterans Affairs

From: Ben McGrady <notifications@github.com>
Sent: Thursday, February 18, 2021 1:01 PM
To: department-of-veterans-affairs/va.gov-team <va.gov-team@noreply.github.com>
Cc: Dhillon, Kiran <Kirandeep.Dhillon@va.gov>; Mention <mention@no

[2021-02-18 23:27] SKasimow opened #20185 "Front-end Task Checklist | Anchor Tags"
## Issue Description
_Insert issue details here_

Process doc: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/staging-review-processes.md

## Front end tasks
- Ensure the page is styled according to design spec.
- Ensure the back end data from API is displayed in local and review instance
- Ensure unit tests are available.
- Ensure your co

[2021-02-18 23:45] digitalken commented on #19679
CLOSING 2/18/2021 - This doesn't seem to be our issue.

[2021-02-18 23:45] #19679 closed

[2021-02-18 23:52] SKasimow opened #20186 "[TRACKING TICKET] For Updates to the Coronavirus FAQ Spanish Page"
The purpose of this ticket is to track the dates/timing for updating the spanish version of the Coronavirus FAQ page.  This will help us get a better understanding of the overall timeline for updating translated content.

Please provide dates for the following activities (add in any additional steps that may be needed):

 <br/>- **Update Requested:**

 <br/>- **Request sent to VA PoC (Translation

[2021-02-18 23:55] digitalken commented on #18951
PASS 2/18/2021 - only for Android.  Closing.
From @komaly15 -

"The issue though is that if we update it so that IOS can read the overall page accessibility label, then it can't access any of the individual elements on the page (Thats just how IOS is, if an outer element is accessible then any elements within that can't be accessed). The overall page accessibility labels are only something we adde

[2021-02-18 23:55] #18951 closed

[2021-02-19 00:08] callen2563 commented on #20104
@mshea0606 @tressaellen
Link to spreadsheet: https://docs.google.com/spreadsheets/d/1P2p8wFWMZQOpAEbNM6x751HZcqOuB79dXA-ybla9ao4/edit?usp=sharing

[2021-02-19 00:08] #20104 closed

[2021-02-19 00:13] callen2563 commented on #19164
I see what you mean, I had an extra link in there but removed it so that will fix the problem. The InVision link has been updated. Thanks!

[2021-02-19 00:13] bcastoe commented on #19712
Create new Health Services "LIST, PLAYBOOK, and STAFF PROFILES" for VA Martinsburg health care [BA]#19712

02182021 - Martinsburg Playbook created and all Health Services matched up to 95 Health Service list/staff profile is on hold

[2021-02-19 00:29] sshein commented on #19477
I'm interested this so I'm commenting so I see what ends up being recommended :)

[2021-02-19 00:29] bethpottsVADEPO commented on #19892
@lunascoop I should hear back from Lori Hamilton tomorrow about who else to include on your redirect email. I wanted to ask about the third new life insurance page we put up too--is this one getting redirected?: https://www.va.gov/resources/life-insurance-dividend-payment-options/

[2021-02-19 00:30] sshein commented on #19544
Interested in this, so following :)

[2021-02-19 00:31] SKasimow commented on #20186
@DanielleThierryUSDSVA  @RLHecht Hi - I created a ticket for tracking Coronavirus FAQ updates. Just lmk when we get the first request in!

Thanks,

Sharon

PS Can someone add Selina in as I couldn't find her

[2021-02-19 00:34] bosawt commented on #19975
I think we can't actually do this yet, so I'm changing the name of the title from `Create example mock entry in MPI for local development to use with relationship associations`, to `Investigate how to call MPI directly`. The reason we can't do this yet, is making a call to MPI and requesting relationship information currently doesn't work, even if the user exists and the relationship information i

[2021-02-19 00:35] bosawt commented on #19975
Instead, here is information on how to call MPI directly:

# MPI Service Testing
#oddball/reference/mpi
#oddball/reference/mvi
#oddball/testing/mpi
#oddball/testing/mvi

### How to Connect
* To connect to MPI Service
	* Need a certificate
	* Need to be on the VA network (or communicate with a proxy)
* It can be difficult to connect to the service locally for this reason, so one of the easier ways

[2021-02-19 00:40] bethpottsVADEPO commented on #19937
Not sure if the version I edited had the above changes from Camille... but here you go, @jenniferlee-dsva, my substantive edits. It'll still need Randi's copyedit. Let me know if you want me to proceed with these edits in drupal. I thought you'd want to see track changes first, and my comments in the Word doc. Let me know if you have any questions!

[2021-02-19 00:41] bethpottsVADEPO commented on #19937
[How to update your legal name change on file with VA.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/6006828/How.to.update.your.legal.name.change.on.file.with.VA.docx)

[2021-02-19 00:57] SKasimow commented on #19867
@laurellawrence looks good to me!

[2021-02-19 01:11] kathleencrawford commented on #20179
https://github.com/department-of-veterans-affairs/vets-api/pull/5972

[2021-02-19 01:20] jwoodman5 opened #20187 "COVID-19 Documentation Audit"
## Issue Description
There has been a surplus of COVID-19 documentation created over the last year (nearly). We need to review the documentation and make edits/deletions to ensure we only have currently relevant and non-duplicative content.

---
## Tasks
- Review all existing COVID-19 documentation VA.gov has
- Delete any duplicate documentation
- Archive non-relevant/current documentation
- Updat

[2021-02-19 01:25] patrickvinograd opened #20188 "Attachment filename header is double-quoted"
## Problem:
When downloading a file attachment from the secure messaging API, the API includes a response header like `Content-Disposition: attachment; filename="test.pdf"`
However, it appears that MHV is providing us with the value for  this header with quotes, and then we are additionally quoting it, so it's winding up as:
`Content-Disposition: attachment; filename="%22test.pdf%22"`

User agents

[2021-02-19 01:27] bessgreen commented on #16165
Android's native solution to long entries is to gradually hide the field. Per feedback from Bridget (2/17), we can use Android's native solution _instead of_ ellipses. We will continue to use ellipses on iOS.

[2021-02-19 01:28] patrickvinograd opened #20189 "Add API docs for secure message write operations"
Mobile API docs for secure messaging are partially there - none of the write operations such as creating a message, moving a message, deleting a message are documented yet.

[2021-02-19 01:33] meganhkelley commented on #20165
At what node count? How does this change as nodes scale? If 14k nodes = 16 minutes (sometimes), can we assume that 86k nodes = > 1 hour? If so, does that mean we are depending on significant further build time improvements happening well before end of year?

Edit: ah I see it further in, that's what you're referring to with this line "Planned GQL performance improvements are expected to support Q3

[2021-02-19 01:36] patrickvinograd opened #20190 "Correctly derive multifactor attribute for all credential types"
## Background
For the most part, VA.gov and mobile app gate accessed based on "LOA3" status. However, on VA.gov there is a separate "multifactor" user attribute which can be used to gate high-sensitivity features like direct deposit.

It's possible for an LOA3 user to not have  multifactor, because MHV Premium and DSLogon Level 2 accounts without multifactor were grandfathered in as pseudo-LOA3 ac

[2021-02-19 01:40] patrickvinograd opened #20191 "Check whether delete message is same as moving to deleted folder."
As @drjecker is working on making sure the set of MVP features is cohesive, a question came up about supporting "move message to folder" and/or "delete message". Since there is a deleted message folder, are these operations equivalent? Or is deleting messages somehow a special case?

1. Can you use the move message API to move a message to the deleted folder?
2. Can you move a message out of the d

[2021-02-19 01:46] patrickvinograd opened #20192 "Clean up use of MHV account audit API in mobile SM client"
Pre-existing MHV integration code was invoking `MHVLoggingService.login(current_user)`, which invokes an audit endpoint on MHV.

This seems like it is a holdover from when Vets.gov was exposing SM and Rx features, i.e. it was a web portal equivalent to MHV and so login events needed to be audited. It makes less sense from the standpoint of a mobile app API integration.

I checked with Barry from t

[2021-02-19 01:50] patrickvinograd opened #20193 "Confirm where secure message replies appear"
When a user gets a reply to a message that is in a folder, does the reply appear in the inbox, or the folder?

1. We are assuming inbox, but it would be good to confirm.
2. Also confirm whether the "message thread" operation retrieves all the thread of messages regardless of folder situation.

[2021-02-19 01:54] patrickvinograd opened #20194 "Set up triage teams for additional SM staging users"
We have a fair number of test accounts that are MHV premium users. However most of them are not configured with any triage teams so they are not eligible to send messages.

Once we have been granted access to the SM admin and clinician UIs, set up a couple of triage teams and get as many of our staging users set up with working SM access so we can verify existing behavior and use them for app test

[2021-02-19 01:55] patrickvinograd commented on #20194
Blocked awaiting approval for admin/clinician access.

[2021-02-19 02:00] patrickvinograd opened #20195 "Confirm any size limitations on secure message fields"
Most APIs have a size limit on various user-entered fields.

We know of:
- size limit on attachments.

Currently unknown:
- number of attachments
- length of subject
- length of message body

We might be able to figure these out from MHV API docs or existing vets-api/vets-website code, otherwise we'll need to ask MHV.

Once known:
1. Document in API docs
2. Make sure mobile app is respecting these

[2021-02-19 02:12] patrickvinograd commented on #20191
API spec says:

[2021-02-19 02:13] patrickvinograd commented on #20191
There's also a note

[2021-02-19 02:23] bcastoe commented on #19715
Create new Health Services "LIST, PLAYBOOK, and STAFF PROFILES" for VA Beckley health care [BA]#19715

02182021 - Beckley Playbook created and all Health Services matched up to 95 Health Service list/staff profile is on hold

[2021-02-19 03:26] outerpress commented on #19964
Thanks @peggygannon , great feedback as always. I made most of your recommended changes. There were a couple of minor conflicts with @DanielleThierryUSDSVA 's feedback but the resolution seemed clear. You can see the conversation thread in the Invision comments if you like.

I made some larger changes to resolve issues that came up during review:

**Problem: rough transition from home CTA to flows

[2021-02-19 03:32] outerpress commented on #20172
Thanks @allison0034 !

* I tweaked the home CTA based on your comments and some that came up during the content review. See https://github.com/department-of-veterans-affairs/va.gov-team/issues/19964 for detail there.

* I thought about the alert styles some more and:
    * I don't think it makes sense if we [can't offer them any online scheduling options](https://adhoc.invisionapp.com/share/GU1028

[2021-02-19 04:02] drorva commented on #20165
So to summarize, as of today with graphql:
* We're doing around 33 nodes per second
* The queries seem to scale linearly
* Q4 worst case 86,733 would take 42 minutes. Even with the rest of the pipeline should be under an hour.
So we're in good shape with this approach until the end of the year.
We should also explore optimizations that should take us even further including:
* Since we're using RDS

[2021-02-19 04:53] bethpottsVADEPO commented on #20171
@RLHecht Looks good, thank you!

[2021-02-19 05:16] larrywest52 commented on #19637
Reviewed all pages, fixed what I could, and documented the rest. Posted the internal review document to our team's Google Drive.

[2021-02-19 12:58] kevinstachura commented on #19544
@sshein this is actually just the checkbox page - I updated the description above with a screenshot so you can see! You may be more interested in ticket #20069 - where we will be taking a look at patterns and improving the language and dropdown for adding new conditions 👍

[2021-02-19 13:27] vhenry07 opened #20196 "Project Kickoff [Claims & Appeals - Notice of Disagreement]"
## Steps to complete Project Kickoff
- [x] VFS Product Manager: create this issue and fill in feature name in the title and other bolded information appropriately
- [ ] VFS: Attach all relevant artifacts to the ticket
- [x] VFS: Link to this issue once created in [#vfs-platform-support](https://dsva.slack.com/channels/vfs-platform-support) in Slack; tag @ Shira Goodman and @ AndreaHewitt
- [ ] VSP

[2021-02-19 13:44] jonwehausen commented on #3085
## Description of Solution Pivot

### Timeline
- This pivot was identified, discussed and introduced on February 12, 2021

Before receiving further guidance from the Design System team, we started out by duplicating the technique used in the Pagination component -- directly writing our Data Layer taxonomy directly into each component.  While this works, it is pretty rigid from a design standpoint.

[2021-02-19 13:59] sonntag-adam commented on #18294
In staging and prod. Testing passes QA.

[2021-02-19 14:00] #18294 closed

[2021-02-19 14:01] meganhkelley commented on #19612
@k80bowman great info! Can you help me understand the role that Cypress & Nightwatch tests play in the content-only deploy? My understanding is that there are only a couple Cypress tests on anything to do with content generation (I think Michael P-S has some on Facilities' team's templates), and I'd be surprised to learn that there were any relevant Nightwatch tests. This came up in discussions re

[2021-02-19 14:06] ltrombley commented on #19638
Task #19638- Internal Review, Test, Proof Read, and CORRECT all NODES for "VA Shreveport health care" is Complete and moved to Validate

[2021-02-19 14:21] delli-gatti-michael commented on #20077
This seems to have been caused by bad data. Clearing the data in the `education_stem_automated_decisions` table fixed this issue. Closing as invalid.

[2021-02-19 14:21] #20077 closed

[2021-02-19 14:22] delli-gatti-michael commented on #18622
Submissions from 2/18 are shown as expected on the 10203 SSR generated the morning of 2/19. Closing this issue.

[2021-02-19 14:22] #18622 closed

[2021-02-19 14:25] dneel-bah opened #20197 "0994: Update Service History Chapter Content"
As an education team member, I need the Service History Chapter questions of the 0994 updated so that they are compliant with recent legislative changes and the veterans who are completing the application are able to provide accurate information for processing their claim request.

## Assumptions:
1. This work is completed behind feature flag 'edu_form_omb_and_expiration' #18293.

## Acceptance Cr

[2021-02-19 14:31] shiragoodman commented on #19413
hey @mmiddaugh  - just wanted to follow up and let you know that this initiative is being tracked under the New tab of the [Platform Collaboration Point Tracker](https://docs.google.com/spreadsheets/d/1OgPyEvUlNF6EnaYMFAXJkV6FKOvZnlPnbOQ2fAJ7W7A/edit#gid=1116695886).

[2021-02-19 14:36] shiragoodman commented on #20111
Meeting scheduled for 2/26 at 2pm ET

[2021-02-19 14:36] kevinmirc commented on #20021
This created a blocker during our testing on [January 19, 2021](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/health-benefits/healthcare-application/10-10ez-address-project/use-cases.md#team-testing) and [February 18, 2021](https://github.com/department-of-veterans-affairs/va.gov-team/issues/18969#issuecomment-781547169) which forced us to merge our code

[2021-02-19 14:43] mshea0606 commented on #19233
@sporeboy can you provide your feedback on the email design mockup above?

[2021-02-19 14:48] AGarcia-Clarity opened #20198 "TUD - Request site content reviewed by VSP Content/IA"
## Issue Description
As an Identity team developer, I would like to have the content reviewed by professional content editors on VSA and VSP teams, so that the Test User Dashboard's content follows VA Design guidelines.

Closes https://github.com/department-of-veterans-affairs/va.gov-team/issues/25850

---
## Tasks
- [x] Request a VSA/VSP content-review of the Test User Dashboard
- [x] Create a ne

[2021-02-19 14:49] ncksllvn commented on #19612
@meganhkelley No tests except for the broken link checker are run during a content-only deployment, so this wouldn't be a point of improvement for a content build separation. Is there a product outline describing the objectives of that content build separation?

[2021-02-19 14:57] Samara-Strauss commented on #19164
@callen2563 this is still not working how it needs to — now I can't close the menu from My VA or the homepage. If I click into this menu from My VA, I am forced to click "My VA" again and go through the sign in flow. This is not how things would work on the website, and it should not be how things work in the prototype, or it will cause confusion for users and potentially disrupt testing. Please f

[2021-02-19 14:58] RLHecht commented on #20186
Thanks @SKasimow, this is great. I added Selina onto this ticket (she's @lunascoop ). We had an addition to the FAQs page yesterday but it was a super quick turnaround and a small bit of content so we had Mateo look it over for us rather than sending it out to the translation team.

[2021-02-19 15:00] RLHecht commented on #20002
@AGarcia-Clarity It looks like there's a space missing after the sentence "Call us at 877-327-0022." Could you please fix?

[2021-02-19 15:04] timwright12 commented on #19612
@k80bowman This is great! Thanks for putting it together. I see a couple buckets of improvements here:

1. Macro improvements (big stuff)
2. Micro improvements (small stuff)

**Macro**
While I'm not confident we'll be able to remove that second build completely when we move to content build separation, running cypress on the --env.scaffold might let us rework the pipeline enough to same some time.

[2021-02-19 15:13] bmcgrady-ep commented on #20112
Great! I am closing out this ticket. Feel free to reopen if you run into any access issues.

[2021-02-19 15:13] #20112 closed

[2021-02-19 15:13] k80bowman commented on #19612
@timwright12 I completely agree with that assessment. Just to note, though, that the micro changes you mentioned are only micro if we stick with GraphQL. If we decide to move to CMS Export sometime in the future, those changes could become a much bigger deal.

[2021-02-19 15:14] bmcgrady-ep commented on #19334
@erikphansen @Samara-Strauss - You're correct, if eligibility isn't currently being tracked, then we don't need to pass it into the dataLayer.

[2021-02-19 15:16] bmcgrady-ep commented on #19334
@jonwehausen / @bsmartin-ep - When one of you have some time, can you QA this [workspace](https://tagmanager.google.com/#/container/accounts/144676348/containers/2214120/workspaces/1000453?orgId=oXPY3GFFQwaHnjNHpFLyFg)? Thank you!

[2021-02-19 15:19] mmiddaugh commented on #15701
Closing this as remaining work is in #18913

[2021-02-19 15:19] #15701 closed

[2021-02-19 15:20] annaswims commented on #10524
No response. Trying to find the correct people

[2021-02-19 15:22] EdwardBoehme05 commented on #19342
These 2 clinics were added to this story:
Minneapolis VA Clinic
Fort Snelling VA Clinic

[2021-02-19 15:37] meganhkelley commented on #19612
@ncksllvn thanks for clarifying! Content build separation is an initiative with a design doc outlining the approved solution. I suspect you've seen that doc but [it is here](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/engineering/design-docs/2020-04-09-separate-content-build.md).

The content build itself as a product is currently subject to conversations abo

[2021-02-19 15:39] #19648 closed

[2021-02-19 15:39] mmiddaugh commented on #20062
https://recordit.co/BmJjt9fWsS

[2021-02-19 15:39] zacharymorel commented on #18470
This is ready on staging @jonwehausen .
CC: @MarciMcGuireGCIO

[2021-02-19 15:39] #19449 closed

[2021-02-19 15:45] jonwehausen opened #20199 "QA Medallia for va.gov/ormdi Launch"
# Google Analytics Implementation or QA Request

## What this form is for

<details>
<summary>More Information</summary>
<div>
    <br>
<p>Use this template to request Google Tag Manager and Google Analytics implementation or QA for your product. Please fill out all brackets.</p>

For more information, please check out the [Google Tag Manager resources](https://github.com/department-of-veterans-af

[2021-02-19 15:50] #873 closed

[2021-02-19 15:54] micahchiang opened #20200 "Write adapter service for manage dependents and the 686 endpoint"
## Description
In order to properly remove dependents from the view dependents page, data stored in redux from the formletts needs to be transformed so it's identical to the payloads submitted directly by the 686c-674 form.

## Considerations
- Do we need to add a privacy act disclaimer?
- How to handle waiting for api response? Loading indicator of sorts?

## Tasks
- [x] write adapter service use

[2021-02-19 15:56] kelsonic commented on #18954
Do we close this?

[2021-02-19 15:59] alexpappasoddball opened #20201 "[Spike] Audit Gem Version in vets-api"
## Description

There are over 300 gems installed on vets-api, about 160 have updates available to them.  In order to get ahead of potential issues and security threats we need to identity which gems have updates available, and out of those create a priorityseverity list so that we can slowly start upgrading them.

##Audit
[Working document can be found here](https://docs.google.com/spreadsheets/d

[2021-02-19 16:00] 1Copenut commented on #14013
@Mottie I shipped a fix for #16544 on 2/19. Color contrast rule is disabled by default, can be turned back on by passing two arguments to `cy.axeCheck()`:

[code]

Please see draft PR https://github.com/department-of-veterans-affairs/va.gov-team/pull/20058 for the documentation update I'm working on that further documents this change and links back to the relevant axe-core API.

[2021-02-19 16:00] 1Copenut commented on #16544
@JoeTice All work is completed on this issue. The last item is documentation, in PR now: https://github.com/department-of-veterans-affairs/va.gov-team/pull/20058.

Moving this to close.

[2021-02-19 16:00] #16544 closed

[2021-02-19 16:01] alexpappasoddball commented on #20201
@thilton-oddball here you go!  Also, @LindseySaari I added your outdated gems spreadsheet, thank you for putting that together.  Do you think we can change the permissions to anyone with the link instead of locking it down to just the BE tools team?  I can't seem to change that setting as I'm not the owner.

[2021-02-19 16:02] lealester commented on #19343
Added from VAST: 636QA Omaha VA Clinic
Unable to test in Tugboat: Bellevue VA Clinic, Omaha VA Clinic, Campus Maps

[2021-02-19 16:02] LindseySaari commented on #20201
Permissions updated! ✔️

[2021-02-19 16:07] kelsonic commented on #20087
Social media share buttons won't work properly until we are on staging (not the preview servers) since it's taking your `hostUrl`

[2021-02-19 16:08] kelsonic commented on #20087
@brianalloyd I'm a bit confused with this one and what I can do to resolve it?

[2021-02-19 16:11] SgardnerPMP opened #20202 "[VAMC] Review and correct invalid content in System Health Services for VA Asheville health care [CW]"
## Story
As a Veteran I need to have accurate and correct System health service description, so I can quickly and correctly find where to go to get my correct health care support.

## Goal
Accurately update Health Services with approved content.

## Resources
[CMS Production environment](https://prod.cms.va.gov/)
[Health Service Library](https://drive.google.com/drive/folders/1_3ThJKPJ6r1U-zEM-L6i

[2021-02-19 16:14] ddzz commented on #16680
Cypress has [a plugin](https://github.com/cypress-io/code-coverage) for generating coverage reports for E2E tests. I was able to generate reports locally, but this required modifying the `vets-website` production build to include testing plugins that are meant only for test environments (this is similar to the [issue with removing test attributes from our production build](urlhttps://github.com/de

[2021-02-19 16:20] elder-joseph commented on #19571
Associated PRs:

Full PR: https://github.com/department-of-veterans-affairs/gibct-data-service/pull/791
DB Specific PR: https://github.com/department-of-veterans-affairs/gibct-data-service/pull/790

[2021-02-19 16:22] annaswims commented on #13664
If you'd like to see examples for validation take a confirmationCode
 from here http://sentry.vfs.va.gov/organizations/vsp/issues/441/events/97f4764633314c758840d0c917beb4ad/?project=3&query=transaction%3ASidekiq%2FEVSS%3A%3ADisabilityCompensationForm%3A%3ASubmitUploads&statsPeriod=14d
and search for it in s3
https://console.amazonaws-us-gov.com/s3/buckets/dsva-vetsgov-prod-evss?region=us-gov-west

[2021-02-19 16:29] jbalboni opened #20203 "Error handling on availability check for project cheetah"
If we encounter an error trying to determine if someone is eligible for the cheetah flow (e.g. they have at least one facility available), what should we display to the user?

[2021-02-19 16:29] jbalboni commented on #20203
cc @outerpress

[2021-02-19 16:31] RLHecht opened #20204 "Delete education direct deposit R&S article and update disability/pension R&S direct deposit article"
## Issue Description
The Authenticated Experience/eBenefits team is adding education benefits to the direct deposit page (it will no longer be done through eBenefits). Because of this our ["How to change direct deposit for VA education benefits article](https://www.va.gov/resources/how-to-change-direct-deposit-information-for-va-education-benefits/) is irrelevant and should be removed.

We will al

[2021-02-19 16:33] Samara-Strauss commented on #19728
Re-opening, since no one has had a chance to give feedback to Jim.

**Feedback**

Participants don't necessarily need to change their direct deposit info for edu, they just need to have it in the first place. They can update their info with the exact same bank information they have now, and that should work just fine.

That being said, yes, we need people who actually have access to this feature,

[2021-02-19 16:37] msmanak commented on #17022
## Slice

[Slice.png](https://images.zenhubusercontent.com/5faabf11b099434179a66d66/c0c4afc7-fdd9-40ff-9ed4-24c8eae1a1cd)

## screen location:

Appointments
- VA Appointment (Past)
- VA Appointment (Cancelled)
- VA Appointment to cancel

- VA Appointment / Cancel/ VA device
- VA Appointment / Cancel/ want to cancel
- VA Appointment / Cancel/ success
- VA Appointment / Cancel/ Call us
- VA Appointm

[2021-02-19 16:41] digitalken commented on #18232
Use user in this story to test.  https://app.zenhub.com/workspaces/va-mobile-app-5f205eac3155a2000f422ecb/issues/department-of-veterans-affairs/va.gov-team/19691

[2021-02-19 16:42] brianalloyd commented on #20087
Good question @kelsonic, let me see if we can get you some clarity.  I believe the issue was to hard code the CTA. I think it's just using a default value ATM.

[2021-02-19 16:43] jonwehausen commented on #19334
Thanks @bmcgrady-ep , yes will pickup the QA here.

[2021-02-19 16:44] #20051 closed

[2021-02-19 16:44] johnhashva commented on #20087
@kelsonic I'm seeing quite a few of the FE issues resolved -- should @RLHecht and I wait until another deployment (today or Monday) to take a second look and validate all FE issues are closed?  Don't want to keep reloading all day -- just easier for me (at least) to set aside time for a panel-by-panel look.

[2021-02-19 16:44] kelsonic commented on #20087
I would wait until today's deployment so I can get [this PR](https://github.com/department-of-veterans-affairs/vets-website/pull/16108) merged + deployed 🙂

[2021-02-19 16:45] kelsonic commented on #18821
FE PR is open: https://github.com/department-of-veterans-affairs/vets-website/pull/16110/files

[2021-02-19 16:48] AGarcia-Clarity commented on #20184
TODO
- [ ] Design review with @APorter-Clarity (Amanda)

[2021-02-19 16:48] nsmith1982 opened #20205 "Offboarding of Dan Shank"
# Instructions
Fill out name of individual and *Description* section below.

# Description
- Please provide the name of the individual needing offboarded.

- Please provide the name of their team, their role on that team, expected last day, and the name of the company they work for.

- Please provide any type of access they may have and their GitHub username.

## AC
 - [x] Remove global/config.yml

[2021-02-19 16:49] kelsonic commented on #18821
Oh gosh, I just noticed that those feature toggles are heavily in use on the vaos team I think, so I won't be sending up a BE PR to remove them

[2021-02-19 16:53] digitalken commented on #17607
PASS 2/19/2021 - Has been integrated.  Closing.

[2021-02-19 16:53] #17607 closed

[2021-02-19 17:08] #18187 closed

[2021-02-19 17:13] kristenmcconnell commented on #19517
@DanielleThierryUSDSVA @bethpottsVADEPO Based upon this week's VSA UX Weekly meeting, I am tagging you in this story. Please review the story and comments, then let me know if you have any particular feedback on the Cerner/My VA Health thing that Peggy mentioned. Thank you.

[2021-02-19 17:26] digitalken commented on #15865
PASS 2/19/2021 - Android and iOS.  Closing.

[2021-02-19 17:26] #15865 closed

[2021-02-19 17:28] sporeboy commented on #19800
Use case diagram added. Next draft of discovery doc available with inline graphics.

[2021-02-19 17:30] meganhkelley opened #20206 "Investigate whether using Cheerio instead of regex could speed up our build time"
## Details

Research ticket: #19612
Use `cheerio` dependency instead of `libxmljs` #16486

From research ticket: We have some conflicting reports on whether using Cheerio instead of regex for DOM traversal could help speed up our build time. The purpose of this ticket is to investigate regex vs Cheerio and determine a path forward. Currently we use Cheerio in some places and regex in others — dete

[2021-02-19 17:35] billfienberg commented on #18706
@1Copenut, I think I'm doing something wrong when inspecting the contrast ratio of the Powered by Medallia element on the Intercept survey on https://staging.va.gov/find-locations/facility/vha_691.

I'm seeing 7.0:1, not3.86:1. In the following screenshot, can you tell if I'm doing something wrong?

![image](https://user-images.githubusercontent.com/6130520/108540199-84052780-72a6-11eb-8f6d-a9cbed

[2021-02-19 17:37] meganhkelley opened #20207 "Discovery on incremental metalsmith builds"
## Details

Incremental metalsmith builds have come up in the context of improving content build scalability. CMS Super team discussed this (?), Dror has brought this up, etc.

This ticket is to gather all relevant context on incremental build discussions, and determine whether it is a feasible option for us to pursue for the content build.

Tim tried this plugin at one point but it didn't work, b

[2021-02-19 17:42] RLHecht commented on #20171
This page has been published. Moving to validate and will close after deployment.

[2021-02-19 17:42] alexandec commented on #11510
Build times for production build on Jenkins (averages):

- Webpack 4: 5.59 minutes
- Webpack 5: 11.18 minutes

Difference is 11.18 - 5.59 = 5.59 minutes. Since we run the build twice on Jenkins, that's 5.59 * 2 = 11.18 minutes total added to the build time. I'll profile the build to see where that time is going and what we can do to reduce it.

[2021-02-19 17:50] kevwalsh commented on #20087
My understanding is that the Panel 6 CTA text was hardcoded in FE as "See more stories". Content editors would not be able to specify that.

[2021-02-19 17:53] sshein commented on #20196
please add me as optional to this meeting as well thank you

[2021-02-19 17:55] mchelen-gov commented on #20165
Current published node count is 3300. GQL query times have been [benchmarked to 14k](https://docs.google.com/spreadsheets/d/1enwIGvEyGLVCLIHeRWXrp-ggDsnss8dyxSK4Bvxx4Mw/edit#gid=1540963105) and are approximately 0.039s per node, worst case. Based on [FE benchmarks](https://docs.google.com/spreadsheets/d/1enwIGvEyGLVCLIHeRWXrp-ggDsnss8dyxSK4Bvxx4Mw/edit#gid=615400060&range=A33) the total build time

[2021-02-19 17:59] grossb1 commented on #19810
Here is an example of an error:
[code]

[2021-02-19 18:00] joanneesteban opened #20208 "Translate KPI Framework Metrics"
## Issue Description
On the VFS side, our customers often ask what the data actually means.
On the Platform side, we often have to put in extra work to determine what the data requirements are.

How might we translate our KPI Framework Metrics so that:
- VFS customers understand what the metrics mean for their product
- VSP understands how to pull the metrics for dashboards and can more easily han

[2021-02-19 18:18] joanneesteban commented on #17498
@jonwehausen - to help look into why Domo isn't lining up w/GA on [this chart](https://va-gov.domo.com/analyzer?pageId=2047315758&cardid=1830180380)

[2021-02-19 18:19] dginther commented on #15954
Running the OS Check job is an important part of maintaining the security and reliability of our overall system, we want to continue running this on _all_ nodes in our environment, so we need to find a way to honor that, while also allowing for CMS nodes to be somewhat 'different'.

[2021-02-19 18:21] Samara-Strauss commented on #19356
Done. Prototype is in #19164.

[2021-02-19 18:21] #19356 closed

[2021-02-19 18:22] bethpottsVADEPO commented on #20002
When should I tell the stakeholder that this fix will be deployed? Today or next week? Thanks!

[2021-02-19 18:25] johnhashva commented on #20087
Great reminder @kevwalsh  -- you're right and that approach works.

[2021-02-19 18:27] dginther commented on #18119
Rather than removing checks against the eks cluster nodes, we have made a decision to refresh the worker nodes on a schedule to avoid them triggering the OS check. Closing this ticket and opening a new ticket for that work.

[2021-02-19 18:27] #18119 closed

[2021-02-19 18:32] bethpottsVADEPO commented on #19937
@jenniferlee-dsva One other change, I unintentionally left out, so I want to note it here for you:

I wanted to suggest moving this information that was in a bullet point in the intro to the third section, as a note following the other text:

**Note:** When you change your legal name on file with VA, your information doesn't automatically get updated in DEERS. And if you change your name in DEERS,

[2021-02-19 18:33] ksantiagomorgan6 commented on #13364
FE PR: https://github.com/department-of-veterans-affairs/vets-website/pull/16112
BE PR: https://github.com/department-of-veterans-affairs/vets-api/pull/5975

[2021-02-19 18:42] peggygannon commented on #19517
Hi, @kristenmcconnell thanks for the ping. The issue is where that link will take users.  I was thinking it would go to health-care/schedule-view-va-appointments/appointments/ , but is that the right location for those users whose facility users Cerner/My VA Health for appts?

We should get Danielle's and/or Lauren Alexanderson thoughts here, as they are more closely involved with the Cerner integ

[2021-02-19 18:42] zacharymorel commented on #18398
@1Copenut Can you this comment https://github.com/department-of-veterans-affairs/va.gov-team/issues/18398#issuecomment-759119105 a review on https://staging.va.gov/find-forms/ ,

[2021-02-19 18:44] laurellawrence commented on #19867
I have the mock updated to change to blue (visited link color) after click and to still display the text "Link Copied." Whether or not this text is displayed to the user or only read out loud while using a screenreader using aria tags is up to an accessibility expert to review (Trevor or Josh).

https://preview.uxpin.com/c24f0ec63fcc859b8eebaacad860a0d968bc3d45#/pages/136710695/simulate/sitemap?mo

[2021-02-19 18:44] zacharymorel commented on #18389
@1Copenut can you give this a review on https://staging.va.gov/find-forms/ since Josh has been out.

[2021-02-19 18:50] dneel-bah opened #20209 "CT: Research Yellow Ribbon Degree Drop-down implementation"
As a developer, I need to research the yellow ribbon implementation within the comparison tool so that the team can understand how to improve the usability for comparison tool users.

## Assumptions:
1. N/A

## Acceptance Criteria
1. Documentation is created and attached to this story of how the yellow-ribbon degree level dropdown:
    a. is populated
    b. impacts conditional questions
    c. im

[2021-02-19 18:58] omgitsbillryan opened #20210 "Create Refresh / Redeploy / Update Schedule for EKS Worker Node EC2 Instances"
## The Problem
Our EKS EC2 worker nodes get deployed once and exist indefinitely. We need a way to refresh/update/redeploy these instances on a set schedule, so that they stay up to date with the latest security patches.

## Extra Context
- The EKS worker EC2 nodes are getting flagged by the [`os-check` job](http://jenkins.vfs.va.gov/job/utility/job/os-check-dev/):
[code]
- We [originally wanted t

[2021-02-19 18:59] RLHecht commented on #20171
Changes are live. Closing ticket.

[2021-02-19 18:59] #20171 closed

[2021-02-19 19:00] omgitsbillryan commented on #20210
One possible solution to updating our EKS instances on a schedule 👉  https://github.com/hellofresh/eks-rolling-update

[2021-02-19 19:01] starlow00 commented on #19899
Sent to VEO for review, requesting reply by COB 2/25/21.

[2021-02-19 19:07] timwright12 opened #20211 "Prearchive build from content-only process"
Look into removing one of the builds from content-only deploys. We have no integration tests, so we might be able to remove the first build.

Slack thread:
https://dsva.slack.com/archives/C01512KN35G/p1613759694339800

[2021-02-19 19:13] ala-yna commented on #19321
Count of timeout errors by date since 10/1:

| Date (UTC)  | COUNTA of Date (UTC) |
|-------------|----------------------|
|  10/29/2020 |                    1 |
|   11/3/2020 |                    1 |
|   11/5/2020 |                    1 |
|   12/8/2020 |                    1 |
|  12/22/2020 |                    2 |
|    1/4/2021 |                    1 |
|    1/6/2021 |                    2 |
|

[2021-02-19 19:21] SKasimow opened #20212 "[Discovery] Drop-down Option for Spanish vs Tagalog"
As we enhance and expand our Covid-related pages, we will need to provide users with the ability to choose a language if they are non-english speakers.

Today on the Coronavirus FAQ page, we offer users the option to toggle between english and spanish via a link placed above the H1.
This ensures good visibility without changing the navigational elements of the page since our translated content is

[2021-02-19 19:24] Samara-Strauss commented on #19728
From Luke Tickner on recruiting:

So, we should confirm that Perigean can recruit off of GI Bill recipients. **I will leave one of you to check on that**. If they are able to filter participants by GI Bill, we *should* be able to assume they receive DD4EDU payments. However, we should still make sure that Perigean explicitly mentions receiving direct deposit payments for education in their recruit

[2021-02-19 19:25] SKasimow commented on #20212
@youngfreezyVA Hi Fareez - here's the ticket we touched on yesterday for discovery work on how to support language choices. Please point ti and let me know if you can do by 2/23 (end of sprint 41) or I can bump it into next sprint.

Thanks!

cc @DanielleThierryUSDSVA

[2021-02-19 19:27] starlow00 commented on #20187
Contacted Chante re. details for this project.

[2021-02-19 19:31] mchelen-gov commented on #19321
Additional metrics reference: https://docs.google.com/spreadsheets/d/1OVghvx8yFkOSNnnzpHZulbdDnqQRGohAOr4SELO0L7M

[2021-02-19 19:33] SKasimow commented on #20186
@RLHecht Thanks!

[2021-02-19 19:33] erikphansen commented on #19334
@bmcgrady-ep so no updates are needed on the FE? Direct deposit for EDU is hooked up to GA properly as far as you can tell?

[2021-02-19 19:35] bethpottsVADEPO commented on #19937
Here's the DEERS article with my edits, @jenniferlee-dsva
[https://app.zenhub.com/files/133843125/5f99a4f9-45cf-49d4-87dd-4410d244a00d/download](https://app.zenhub.com/files/133843125/5f99a4f9-45cf-49d4-87dd-4410d244a00d/download)

This one is a great example of a single Q&A that can be more broadly used when COPE is enabled!

[2021-02-19 19:36] sshein commented on #19867
tiny thing but I'd recommend removing the exclamation point after "link copied" - also funnily, the design system page itself is not built with our design system, so those anchor links are not necessarily recommended, but you can certainly use them as an example in the wild :)

[2021-02-19 19:38] jenniferlee-dsva commented on #19937
@bethpottsVADEPO - I love 95% of these changes! It is so much simpler. Take a look at my comments on the few areas where the edit changed the factual accuracy and needs either a different kind of phrasing or going back.

Happy to just talk you through if faster.

**How.to.update.your.legal.name.change.on.file.with.VA-jl-021921.doc**
[https://app.zenhub.com/files/133843125/4de5e1fc-9404-49ee-8c02-0

[2021-02-19 19:40] lealester commented on #19346
Added from VAST: 656QA St. Cloud VA Mobile Clinic

[2021-02-19 19:41] bcastoe commented on #19713
Create new Health Services "LIST, PLAYBOOK, and STAFF PROFILES" for VA Maryland health care [BA]#19713

02192021 - Maryland Playbook created and all Health Services matched up to 95 Health Service list/staff profile is on hold

[2021-02-19 19:42] SKasimow opened #20213 "IA Request [C+L Link to Spanish Page for Covid Vaccine page]"
## What this is:
Work with VSP Information Architecture experts to finalize the IA of your product for VA.gov

## When to use this:
After completion of usability/protyping, prior to moving to development

## Required Inputs:

- We've received a priority request to provide a spanish version of the Covid Vaccine page. We're going to take the same approach of providing a link to spanish <--> english

[2021-02-19 19:53] jenniferlee-dsva commented on #19937
@bethpottsVADEPO - I forgot to include this comment on the main name change article. We can't remove the note about the veteran having to update their name in deers and vice versa. Many ppl assume that updating their name in DEERS automatically updates their info for VA benefits and it doesn't. The various databases don't connect/sync at all.

[2021-02-19 20:05] jenniferlee-dsva commented on #19937
@bethpottsVADEPO - here are a couple comments about the DEERS article to consider. Nothing factually changed by your edits.

**DEERS-namc-change-IRIS-RS-article-021921-jl.doc**

[https://app.zenhub.com/files/133843125/5044598e-4cc0-4cc4-ad5e-91a66bc14a58/download](https://app.zenhub.com/files/133843125/5044598e-4cc0-4cc4-ad5e-91a66bc14a58/download)

[2021-02-19 20:12] sonntag-adam commented on #17691
Testing passes QA. Closing story.

[2021-02-19 20:12] #17691 closed

[2021-02-19 20:12] mmiddaugh opened #20214 "Review Policy content spec"
## Issue Description
As the Facilities team, we need to understand the tasks required for the implementation of the new Policies content front end implementation so that we can accurately groom and complete the work.

---
## Tasks
- [ ] Review the [CMS documentation](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/cms/product-team-support/content-model-changes.md

[2021-02-19 20:13] jenniferlee-dsva commented on #19937
Oh, yes, feel free to make the updates in Drupal, incorporating the latest feedback I uploaded ^.

[2021-02-19 20:15] lihanli commented on #20079
i was able to reproduce the error, the address validation api does give address suggestions that are over 35 characters long

[2021-02-19 20:18] rjohnson2011 commented on #18766
In evaluating the solutions for a cloud based hosting for load tests, k6.io seems to be the preferable solution. While locust was a fine solution for local load tests (generating reports on a local machine), it is not commonly used for web app or cloud hosted solutions, which is required to automate load tests. Migrating locust to a web app solution would require a number of customizations, from s

[2021-02-19 20:21] mmiddaugh opened #20215 "Sunset mashup controller"
## Issue Description
#19959 changes the sort and merge process for urgent care mash-up searches on the Facility Locator. By changing this process, we are able to sunset the mashup controller

---
## Tasks
- [ ] sunset the mashup controller

## Acceptance Criteria
- [ ] Mashup controller is no longer in use

---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be com

[2021-02-19 20:22] #17928 closed

[2021-02-19 20:23] denisecoveyduc commented on #16778
Thanks @joanneesteban for the update.

I have been able to find most of these metrics by using a combination of  GA and search.gov data but would love to validate that I am looking at the right information. I was planning to open a validation ticket to confirm I am looking at the right metrics or would you prefer I just add that here?

The only one that is missing is the "Conversion Rate for searc

[2021-02-19 20:28] ltrombley commented on #19106
Task #19106-  Internal Review, Test, Proof Read, and CORRECT all NODES for "VA Southern Nevada health care" ending with stakeholder review doc
1. Added new clinic: vha_593QC West Cheyenne VA Clinic

[2021-02-19 20:35] ashley-matthews opened #20216 "Send a Message"
## Product Outline
[Link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/product-management/product-outline-template.md)

## High Level User Story
As a Veteran, I want to send a message and reply to messages. so that I can communicate effectively with my healthcare team.

## Hypothesis or Bet
**If** we allow Veterans to communicate via secure messaging **then**

[2021-02-19 20:37] callen2563 commented on #19164
@Samara-Strauss @tressaellen @mshea0606
I have made the above edits..
https://vsateams.invisionapp.com/share/XNZWCYAYD45#/444774121_Home_Screen

[2021-02-19 20:37] bkjohnson commented on #18079
The component has been created: https://github.com/department-of-veterans-affairs/component-library/pull/30

I am now preparing for a staging review by adding some axe tests: https://github.com/department-of-veterans-affairs/component-library/pull/43

[2021-02-19 20:42] denisecoveyduc opened #20217 "Exploration - Other VA Search Tools"
## Description

The search and discovery team would like to learn more about the right rail implementation on the results page to understand the intent from a stakeholder perspective. Why were these links chosen and what is the reasoning to have them on the right rail. We would also like to understand more about the user data and have reached out to the analytics team.

![Right Rail Links.png](htt

[2021-02-19 20:42] zurbergram commented on #19721
https://github.com/department-of-veterans-affairs/vets-website/pull/16115

[2021-02-19 20:50] #19528 closed

[2021-02-19 20:53] Samara-Strauss commented on #19164
Thanks!

One last thing I noticed: when you click the menu from My VA, it still shows as overlaying over the homepage. Can we make it so clicking the menu from My VA overlays over My VA?

[2021-02-19 21:05] bramleyjl opened #20219 "Update TUD Documentation Post-MVP"
## Issue Description
_What details are necessary for understanding the specific work or request tracked by this issue?_

With the TUD app's soft release, various documentation needs to be updated to direct internal VA.gov users to use the tool, as well as to prepare for the project's handoff from the Identity to the Testing team.

---
## Tasks
- [x] update all password lists and references in `va.

[2021-02-19 21:07] bethpottsVADEPO commented on #19937
@jenniferlee-dsva Responding here to your comments.

**Name change article:**

**For the intro paragraph**...
1/ This sentence goes back essentially to what you had before! Works?:
You'll need to contact each program office that you receive direct benefit payments from.

2/ For this sentence, since we've already said it twice above in the intro (see No. 1 here, above), I think it would be overkill

[2021-02-19 21:09] SKasimow commented on #20213
Covid was included with original Corona FAQ IA approach:https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/information-architecture/ia-reviews/cto-spanish-content.md

[2021-02-19 21:12] #19015 closed

[2021-02-19 21:13] #19059 closed

[2021-02-19 21:13] #19209 closed

[2021-02-19 21:13] #19454 closed

[2021-02-19 21:15] meganhkelley opened #20220 "Remove CMS Export from dev"
## Details

Remove CMS Export from dev
Announce this change in Slack (vfs-all-teams, vfs-frontend, vfs-engineers)

Ticket to put it in dev was #19909

[2021-02-19 21:16] Samara-Strauss opened #20221 "[Design] Profile: Add FAQ around what departments get updated when a veteran updates their contact info"
## Background

In the last two days, I've had two different groups (MHV and VAOS) ask me about showing information in the profile around what departments get updated when someone updates their contact info. We used to have a FAQ in profile 1.0 about this, and I don't remember why we took this out of Profile 2.0. But, I do think this information would be helpful since VA Profile connects to some, b

[2021-02-19 21:22] bessgreen opened #20222 "UI updates for Direct Deposit"
## User story
As a user, I want a page to edit my direct deposit info that indicates which fields are mandatory.

**Note for dev**: This ticket does not include field-level errors.

## Acceptance Criteria
Make the following updates to the UX/UI on the Edit Direct Deposit page:

1. Routing number
     - Display Input Field CC
     - Mark as "Required"
     - Include helper text with specified chara

[2021-02-19 21:24] bessgreen opened #20223 "Field errors for Edit Direct Deposit (UI)"
## User story
As a user, I want to understand why my direct deposit information cannot be saved so I can fix the fields that were flagged as invalid.

## Acceptance Criteria
1. On the Edit Direct Deposit page, the Save button should always be enabled, even when all fields are null/disabled
2. When there is at least 1 field-level error, display the mobile alert error CC at the top of the page:

[2021-02-19 21:28] kristenmcconnell commented on #19517
@peggygannon Thank you. @DanielleThierryUSDSVA and @lalexanderson-dsva - Let me know if there is anything else that I should be aware or if you have different recommendations.

[2021-02-19 21:38] kelsonic commented on #18954
Closing because of https://dsva.slack.com/archives/C01512KN35G/p1613768774348100

[2021-02-19 21:38] #18954 closed

[2021-02-19 21:45] joanneesteban commented on #16778
Thanks, @denisecoveyduc ! Sure, apologies about the overhead here: would you actually be able to open another ticket? That way we don't miss the dashboard part of your request.

[2021-02-19 21:47] ashley-matthews commented on #16271
### **User Story**
As a Veteran, I want to compose a new message so that I can communicate a new question or need to my healthcare team.

### **Acceptance Criteria**
- user can create a new message and send it to a recipient
- includes: select a recipient, select a subject, message field, and sending the new message

**### Tech Notes**

### **Design**

[2021-02-19 21:49] joanneesteban commented on #16233
@brianalloyd - unfortunately, our resources are a bit limited right now and have needed to shuffle our resources around (our teammate who was assigned to work on this in out of office for the foreseeable future due to the Texas blackouts). We're anticipating pulling this work back into another sprint (in March), but please let us know if there are metrics in Google Analytics that we can help you w

[2021-02-19 21:50] #16272 closed

[2021-02-19 21:55] ashley-matthews opened #20224 "Test-attachments"
test

[2021-02-19 21:59] #18981 closed

[2021-02-19 22:02] joanneesteban commented on #18316
Hi @amyknox - unfortunately, Jason is out of office for the foreseeable future due to the Texas blackouts, and our team is at capacity right now. We're hoping to pull this back in in another sprint (March), but please let us know if you need support finding some of the data in Google Analytics. Thank you for your patience!

[2021-02-19 22:02] DanielleThierryUSDSVA commented on #20169
@SKasimow

[2021-02-19 22:13] bethpottsVADEPO commented on #19937
@jenniferlee-dsva Responding here to your comments about the DEERS article.

Agree with many of your notes/comments, but want to note 3 things here:

- The approach for the phone numbers and hours of operation that I edited is our style throughout the site--tier 1 and R&S. It appears this way, with this formula, on dozens of pages. If we want to discuss a new style, I'd like that to be part of a m

[2021-02-19 22:15] laurellawrence commented on #19867
Removed exclamation - same mock link as above https://preview.uxpin.com/c24f0ec63fcc859b8eebaacad860a0d968bc3d45#/pages/136710695/simulate/sitemap?mode=i

[2021-02-19 22:22] cohnjesse opened #20225 "Scaffold Dependency Verification Modal Application"
## Background
Now that we have a refined design for the dependency verification modal we need to scaffold out the actual files and folders we will eventually use in production. This scaffolding is not meant to build the final product but rather to set up the files and folders and basic structure as we know it today as we will have subsequent tickets to fill in the rest later.

## Tasks
- [x] Build

[2021-02-19 22:27] cohnjesse opened #20226 "Add list component of dependents"
# Background
Now that the dependency verification modal has been scaffolded out we need to fill in the component that will list the dependents inside the modal.

## Tasks
- [ ] Build out the dependents list component for dependency verification modal
- [ ] Submit a PR for review

## Acceptance criteria
- [ ] The users dependents can be listed in the dependency verification modal
- [ ] A PR has bee

[2021-02-19 22:30] #20002 closed

[2021-02-19 22:30] bessgreen commented on #20223
Hi @bridgethapner, I cross-referenced the designs & the discovery ticket (#17057) and it looks like there are differences in the field error copy for the following 2 fields:

Account Type:
     - Field error in designs: "Please select the type that best describes the account."
     - Field error in UX ticket: "Please select an account type."

Checkbox:
     - Field error in designs: "Check to conf

[2021-02-19 22:31] cohnjesse opened #20227 "Add Redux to dependency verification modal application"
# Goal
We use Redux to manage the state of our apps across VA.gov and since the [App Name] will use data from any of various sources we need to build out the redux code to support that. This initial build of the Redux code does not have to use live data if none is available yet, we can hard code mock data for the time being if needed.

## Tasks
- [ ] Set up Action(s) file for dependency verificati

[2021-02-19 22:34] caw310 opened #20228 "Staging Review Design System Team - Accordion Web Component (Accessibility review)"
## Artifacts - _please provide the following artifacts at least 4 days before scheduled review meeting_
- Epic https://app.zenhub.com/workspaces/vsp-design-system-5f8de67192551b0012ebb802/issues/department-of-veterans-affairs/va.gov-team/16678 - Product outline  https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsp/teams/design-system/web-component-pilot.md-  Release

[2021-02-19 22:51] 1Copenut commented on #18389
@zacharymorel I took a look briefly before close of business Friday afternoon. The heading is still announcing as 9 items in Safari + VO with `<strong>` tags inside the H2. LMK if there's a branch I should check out and re-test locally or if I overlooked something. Thank you.

[2021-02-19 22:57] bessgreen opened #20229 "Rules for displaying Direct Deposit field errors"
## Acceptance Criteria
1. On the Edit Direct Deposit page, the field-level errors should appear when any of the following occur:
     - A user taps into a required input field and leaves the field without completing it
     - A user tries to save the form without interacting with a required field. In this case, the error message displays when  "Save" is selected
2. A field level error should disap

[2021-02-19 22:59] bmcgrady-ep commented on #20205
User had no DOMO access and their Google Analytics access has been removed.

[2021-02-19 23:09] bessgreen commented on #20223
@bridgethapner follow-up question about the various states for the checkbox. Based on the designs, it looks like the checkbox can assume any of the following states:

1. Disabled
2. Active / unselected
3. Active / selected
4. Active / unselected with a field error

When the checkbox is in state #4, should we allow the user to check the box even if they have incomplete form fields? Or, should state

[2021-02-19 23:10] mlighdc commented on #15160
@ala-yna and @LinnJS have you coordinated with CARMA yet on this change? Where is the blocker?

[2021-02-19 23:15] bessgreen commented on #19706
Validation required:

- AC #1
- AC #2: should the mobile alert disappear when all field errors are resolved on the form? Or should the alert persist as long as the user is still on the page?
- AC #4 E & F: are these differentiators for zip code errors correct?

[2021-02-19 23:21] mlighdc commented on #18736
@sshein - the progress indicator is part of this ticket. It looks like @jonathanjnelson has not broken this down or associated with the timed out work the team has been doing.

@jonathanjnelson can you let Shawna know where the ticket is for the progress indicator / submission time indicator? I could not locate it on the zenhub board.

[2021-02-19 23:33] DanielleThierryUSDSVA commented on #19910
Hi @outerpress. Just a quick note that I'm adding labels to help my sitewide content team track this work. Thanks!

[2021-02-19 23:47] U-DON commented on #20126
# FE Tools Discovery: GitHub Actions replacing CircleCI as VSP CI tool

## What exactly is the decision?

Operations is designating GitHub Actions as the primary continuous integration (CI) solution.

Each application (`vets-website` being one) will have an AWS user with limited permission scope.
- That user will have a token stored in GitHub Encrypted Secrets.
- Any application-specific secrets c

[2021-02-19 23:52] digitalken commented on #17839
PASS 2/19/2021 - All being read as single announcement. iOS and Android.  Closing.

[2021-02-19 23:52] #17839 closed

[2021-02-19 23:59] bcastoe commented on #19714
Create new Health Services "LIST, PLAYBOOK, and STAFF PROFILES" for VA Washington DC health care [BA]#19714

02192021 - Washington D.C Playbook created and all Health Services matched up to 95 Health Service list/staff profile is on hold

[2021-02-20 00:15] digitalken commented on #20065
PASS 2/19/2021 - Able to log out, then back in as different user without having to kill the app.  Android and iOS.  Closing.

[2021-02-20 00:15] #20065 closed

[2021-02-20 00:24] mpelzsherman commented on #19612
Thought I'd add a few observations which i hope might be helpful:

1. The Ops team announced at the ToT meeting on 2/16 that "Ops is pivoting away from CircleCI as its primary tool for Continuous Integration, due to some administrative limitations around effective management of security contexts across many projects, in an automated fashion"

2. AFAICT, the purpose of the `convertDrupalFilesToLoca

[2021-02-20 00:32] digitalken commented on #17612
PASS 2/19/2021 - Groups as single items now, both iOS and Android.  Closing.

[2021-02-20 00:32] #17612 closed

[2021-02-20 00:46] laurenernest opened #20230 "[Cheetah MVP] Use consistent terminology across pages"
## Issue Description
Update all pages in the flow to use consistent terminology.

---

## Acceptance Criteria
- [ ] Changes are behind va_online_scheduling_cheetah feature flag

- [ ] All references to `covid` are `COVID-19`

- [ ] All references to `vaccination` (singular) are `vaccine`
- [ ] All references to `vaccinations` (plural) are `vaccines`

[2021-02-20 00:59] laurenernest opened #20231 "[Cheetah MVP] Document current pages of flow"
## Description
Due to the rapid iterations of the cheetah flow, I would like to document all pages and content as we have developed so far. This will help more accurately capture the next round of updates and be able to get IA feedback for the URLs.

## Acceptance Criteria

- [ ] Full page screenshots for all pages and states included in the flow
- [ ] URLs for all pages included in the flow
- [x]

[2021-02-20 02:05] #18947 closed

[2021-02-20 02:05] #19511 closed

[2021-02-20 15:14] DanielleThierryUSDSVA opened #20232 "Debt collection pause communications"
## User story

As a Veteran or family member, I need to know the latest updates on VA debt collection and understand what it means for me and what I need to do.

## Issue Description
Work with DMC stakeholders to determine how best to surface Q&As around this and create content that aligns with plain language and VA.gov content standards.

Immediate step is adding links to a Q&A on the DMC site to

[2021-02-20 15:17] DanielleThierryUSDSVA commented on #20232
@RLHecht I created this ticket to make sure we capture this work. If you have other related tickets to capture your part of this work, feel free to use those to estimate your time on this. I just want to make sure we're capturing the full volume of content work as we track sitewide content's capacity. Thanks!

[2021-02-20 15:18] DanielleThierryUSDSVA commented on #20232
@leahkeeler This work isn't specifically tied to the DMC content migration. But since you've been on the emails around this, I wanted to tag you in the ticket for awareness. Thanks!

[2021-02-20 15:23] DanielleThierryUSDSVA commented on #18765
@RLHecht @bethpottsVADEPO Just tagging you for awareness as we set up more of our sitewide content process. I've added our product support labels as well. I'd been working with the mobile app team before, and helping out now before they go to their full staging review. Thanks!

[2021-02-20 15:33] DanielleThierryUSDSVA opened #20233 "Build COVID-19 Vaccine Page | Tagalog"
## User story
As a Veteran, caregiver, or family members who speaks Spanish or Tagalog and has limited English proficiency or is more comfortable reading critical health and benefit information in my first language, I need COVID-19 vaccine information in that language.

## Issue description

Building a Spanish-language COVID-19 vaccine page is planned work. We've now been asked to prepare to also

[2021-02-20 15:36] DanielleThierryUSDSVA commented on #20233
@RLHecht @lunascoop I'm just creating this issue as a placeholder so we're ready to start building this out on Monday. We can start with getting the structure set up while we wait for the translated content. Feel free to adjust this issue as needed.

@SKasimow for awareness/tracking

[2021-02-20 21:29] allison0034 commented on #20172
@outerpress looks great!

[2021-02-21 19:07] #10738 closed

[2021-02-21 19:10] leahkeeler commented on #20232
@DanielleThierryUSDSVA Thank-you for tagging I was going to open a ticket requesting a new alert for the debt portal but it sounds like it is captured in this ticket - correct? Basically, an update to the original alert we had for debt collection suspension but with dates updated - Thanks!

[2021-02-21 19:13] #7527 closed

[2021-02-21 19:13] #9932 closed

[2021-02-21 19:14] #10315 closed

[2021-02-21 19:14] #8650 closed

[2021-02-21 19:20] leahkeeler opened #20234 "MCP Discovery Research Epic"
## High Level User Story
As a Veteran I want the ability to see my medical copays in the debt portal in a consolidated view with my other debts
## Goals
The first step is to understand the business process of why a Veteran may have a medical copay and the paths to payments, resolutions in as-is scenario

## Issues to create within this Epic

[code]

## How to configure this issue
- [ ] **Labeled w

[2021-02-21 20:52] leahkeeler opened #20235 "MCP Technical Discovery"
## High Level User Story/ies
As a Veteran I want the ability to see my medical copays in he debt portal including amount due, status, date charge was incurred and due date

## Hypothesis or Bet
If we have this information available in the debt portal, the Veteran will be able to have a holistic view of all their VA debt in one place

## OKR
Veteran experience, reduce adverse action

## Definition

[2021-02-22 02:38] #19594 closed

[2021-02-22 02:38] #19790 closed

[2021-02-22 05:45] noahgelman opened #20236 "508-defect-3 [AXE-CORE]: Aside must not be contained in another landmark"
#[508-defect-3](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-3)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix a

[2021-02-22 08:14] noahgelman opened #20237 "508-defect-1 [SCREENREADER] FAQ needs to have aria-label to properly pronounce it"
# [508-defect-1](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-1)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2021-02-22 08:21] noahgelman opened #20238 "508-defect-2 [SCREENREADER] VA needs to have aria-label to properly pronounce it"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2021-02-22 08:39] noahgelman opened #20239 "508-defect-2 [SCREENREADER] Hours column in "Call Us" table not announcing correctly"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2021-02-22 08:42] noahgelman commented on #19401
The accessibility review for this issue has been completed

[2021-02-22 13:19] LinnJS commented on #18849
I noticed what seemed to be a Platform bug when I hit the "Update" button on the review page accordion for a page it does not seem that the "Update" button triggered data validation like you might expect from behavior like the continue button. Feels like you would need to sanitize that data as well. Will bring up with VSP platform support today.

[2021-02-22 14:06] pjhill commented on #16680
Let's explore those two workarounds and brainstorm alternatives under this ticket.
- [ ] Schedule timeboxed brainstorming session for alternatives with the team.
- [ ] After the brainstorming session, create a POC of the chosen solution

[2021-02-22 14:14] pjhill commented on #18452
Platform Cypress documentation has been updated with findings -- done

[2021-02-22 14:14] #18452 closed

[2021-02-22 14:14] #20083 closed

[2021-02-22 14:14] pjhill commented on #20083
No issues have arisen in the subsequent week -- done

[2021-02-22 14:17] #18801 closed

[2021-02-22 14:18] MarciMcGuireGCIO commented on #18336
Given the updated VSP guidance and the fact we have outstanding 508 issues from Staging, I am withdrawing this request and will re-submit once we have addressed those issues.

[2021-02-22 14:23] pjhill commented on #20034
Thanks for keeping docs up-to-date.

[2021-02-22 14:23] #20034 closed

[2021-02-22 14:27] mdewey opened #20240 "[FE] Add message for upper limit of characters on form fields"
Figure out and add an upper limit message for all the form fields

[for reference 1mb of raw text](https://gist.githubusercontent.com/khaykov/a6105154becce4c0530da38e723c2330/raw/41ab415ac41c93a198f7da5b47d604956157c5c3/gistfile1.txt)

[2021-02-22 14:27] #19801 closed

[2021-02-22 14:30] jason-gcio commented on #19094
Another possible solution: https://github.com/department-of-veterans-affairs/devops/blob/master/ansible/deployment/config/revproxy-vagov/templates/enable-auth.conf.j2#L4-L13

[2021-02-22 14:30] #19094 closed

[2021-02-22 14:31] #19823 closed

[2021-02-22 14:31] #20179 closed

[2021-02-22 14:34] pjhill commented on #20033
:tada:

[2021-02-22 14:34] #20033 closed

[2021-02-22 14:35] kevinmirc commented on #19505
Worth noting here that the Caregiver Program had some hesitation with sending users to the Caregiver Support Line and instead, we could consider directing them straight to the facility that the application was routed to.

[2021-02-22 14:35] kevinmirc commented on #19321
Wanted to document some of the solutions we proposed to the Caregiver Progam in our last sync (Friday, February 19, 2021). These are some ideas that we can consider to make the user's experience a little bit better when processing time is long (knowing it's 10 avg and up to 60+ seconds).

- Set expectations on processing time before submission.
- Provide progressive feedback when data is being pro

[2021-02-22 14:42] RLHecht commented on #20236
@noahgelman Can you give me more information for this ticket? I'm not sure what page we are talking about.

[2021-02-22 14:43] RLHecht commented on #20238
@noahgelman Can you provide more information for this ticket? I'm not sure what page I'm supposed to make changes on. Thanks!

[2021-02-22 14:44] #18959 closed

[2021-02-22 14:47] #19761 closed

[2021-02-22 14:48] dneel-bah opened #20241 "STEM AD: Add denied 10203 submissions to list view"
As an education team member, I would like an applicant to view the status of their denied application when it has been denied based on reasons that will immediately make them ineligible, so that the time to notify the applicant is reduced.

## Assumptions:
1. Completed behind feature flag `stem_automated_decision` (#13829)
2. Login to claims page here: https://staging.va.gov/claim-or-appeal-status

[2021-02-22 14:50] #19518 closed

[2021-02-22 14:50] #19530 closed

[2021-02-22 14:51] #18699 closed

[2021-02-22 14:51] #18702 closed

[2021-02-22 14:52] leahkeeler commented on #18757
Do y'll want to close this or keep open for potential regression issues

[2021-02-22 14:52] zacharymorel commented on #18389
@1Copenut Looks like Dev and Staging env's are behind Production. So to test, can you check out prod?
https://www.va.gov/find-forms/?q=health

[2021-02-22 14:53] leahkeeler commented on #15043
@johnhashva - Can you please confirm closing this ticket?

[2021-02-22 15:00] mdewey opened #20242 "[FE] Figure out what [X] days before should be"
## User Story

As a veteran, I should know how many days I have to fill out my form, so I can fill my form out on time.

## Related Documentation

- [MVP: Visit Intro Initiative (Proof of Concept)](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/initiatives/visit-intro.md)

## Description

This text is on the introduction page:

[2021-02-22 15:00] annaswims opened #20243 "Request access to foersee"
# Request Foresee and/or Domo access

## What this form is for
Use this template to request access to Google Analytics and/or Domo

I'd like to better understand the change in customer satisfaction for Disability over the past year
  https://www.va.gov/performance-dashboard/
I know that domo is the future and Foresee is the past, but I'd like to understand the change in User Satisfaction over time

[2021-02-22 15:17] jonwehausen commented on #20199
@ianMcCullough-ob this is officially ready for testing --

A couple things to note:

- Since this is the legacy site I had to swap our use of `recordEvent` for a standard `dataLayer.push` in the custom HTML
- Please notice & test on `survey--submission` event fire, custom dimension 125 collects each survey `unique_name` and it's value to ensure collection of survey submission metadata

[2021-02-22 15:22] jbalboni commented on #19580
@outerpress @laurenernest The page title in the screenshot is different from what's on the page currently. Do you want the page title to be "Your appointment location" for just the single facility scenario or do you want the page to always have that title?

Here's the current title:

![Screen Shot 2021-02-22 at 10.17.51 AM.png](https://images.zenhubusercontent.com/599c94608f62dc7798c3b2cd/b4f803df

[2021-02-22 15:22] oragame commented on #16656
The alerts have been disabled - could be closed or left open until further discussion about the long term plan

[2021-02-22 15:23] Samara-Strauss commented on #17739
Asked in Slack, but it is unclear what work still needs to happen on our end and what next steps are for both our team and VA Profile. This ticket has been open for a while, so please do what you need to do to move it forward.

[2021-02-22 15:27] annaswims commented on #7816
I was hoping this would fix the problem, but it didn't (or at least not entirely).  I'll do some digging.

[2021-02-22 15:31] jonathanjnelson commented on #18178
[For awareness: Prototypes used for Feb 2021 usability study ](https://github.com/department-of-veterans-affairs/va.gov-team/issues/19805)

[2021-02-22 15:33] noahgelman commented on #20236
@RLHecht Added screenshots. The `<aside>` element should not be inside the `<article>` element.

[2021-02-22 15:35] jonathanjnelson commented on #19805
- [Option 1: Desktop](https://preview.uxpin.com/667a6269d62332d37e18a10b41547f6905588c4b#/pages/?mode=i)
- [Option 1: Mobile](https://preview.uxpin.com/61f79c1ea3e63ea88cd1dc9266a02fb3d53ebd2b#/pages//simulate/no-panels?mode=i)
- [Option 2: Desktop ](https://preview.uxpin.com/2dcebcd201915133a476e3a28ea0e16e3e44e95a#/pages//simulate/no-panels?mode=i)
- [Option 2: Mobile](https://preview.uxpin.com/

[2021-02-22 15:40] noahgelman commented on #20238
@RLHecht Elaborated a bit more in detail in the "Details" section

[2021-02-22 15:43] digitaldrk commented on #19450
Working with Charley. I made the request to `/forms/2122/active` and I'm getting a 500 back. He sees the error in Sentry and is looking into it. I am in a group DM with him and his team.

[2021-02-22 15:44] LindseySaari commented on #20201
[Outdated Gems Spreadsheet](https://docs.google.com/spreadsheets/d/1XAANeTmGK2-kSDyxk3qjlS3aODSWBIgFhPHAH7by9Ns/edit#gid=1471246704)

[2021-02-22 15:55] mmiddaugh commented on #18980
closing as duplicate to #18351

[2021-02-22 15:55] #18980 closed

[2021-02-22 15:57] zacharymorel commented on #18728
@mviterna https://staging.va.gov/find-forms/?q=21-674 _form to url_ on the result is still not populating today.
Any word is vets api staging env deployed your commit?

[2021-02-22 15:59] kevinmirc commented on #16888
Completed. Implementation plan added to this ticket.

[2021-02-22 15:59] #20103 closed

[2021-02-22 16:06] jenniemc commented on #20230
Hi @laurenernest and @outerpress, for this ticket to make consistent use of terminology [Cheetah MVP] I was wondering do you also have an updated heading for choosing facility page and choosing clinic pages? It currently reads, "Choose a VA location for your project cheetah booking" and "Choose a clinic for your Project Cheetah appointment".

[2021-02-22 16:09] jonathanjnelson opened #20244 "[Research]: Moderate Usability Study on Sign as a Representative"
## User Story

The team hopes to test the understandability, usability, and ease of use of the two representative workflow options and if the suggested changes improve the understanding of Primary Family Caregiver and Secondary Family Caregivers.

Research questions:

- Does one of the representative workflow options perform better than the other with regards to understandability, usability, and u

[2021-02-22 16:10] denisecoveyduc opened #20245 "Request access to Google Analytics and/or Domo"
# Request Google Analytics and/or Domo access

## What this form is for
Use this template to request access to Google Analytics and/or Domo

## User Email Address

Please add ssuddath@governmentcio.com to the search and discovery team Typeahead DOMO Dashboard.

Please link this issue to the DSVA Slack channel [#vfs-platform-support](https://dsva.slack.com/channels/vfs-platform-support), add VSP An

[2021-02-22 16:16] johnhashva commented on #15043
@leahkeeler just re-engaged with Richelle, the VA stakeholder with cc: to you. If we don't hear back by tomorrow, we can close this ticket.

[2021-02-22 16:29] mleclerc00 commented on #19972
Hi @jw81,

I checked your ssh key that is provided versus the one pushed to the proxy and the only thing that is missing is the comment which should have no effect.  Are you having troubles connecting to resources via socks?

[2021-02-22 16:38] bsmartin-ep commented on #20245
Sam has been added to DOMO and the dashboard.  However, I think @joanneesteban will need to add him to the _Search and Discovery_ DOMO group.

I'll keep this open for now.

[2021-02-22 16:38] #15331 closed

[2021-02-22 16:42] jw81 commented on #19972
Hi @mleclerc00 ,

Yeah, when I run ::
`ssh socks -D 2001 -N`

I get ::
[code]

So it looks like my key isn't being accepted.

[2021-02-22 16:45] LindseySaari commented on #20201
[Helpful gem update commands](https://medium.com/cedarcode/updating-gems-cheat-sheet-346d5666a181)

[2021-02-22 16:50] dillo opened #20246 "Locations API"
## User Story
**In order** to successfully complete my pre-visit questionnaire for a primary care appointment and then get the information to a clinician
**As a** Veteran
**I want** the backend to create a location service so that my questionnaire manager in the browser will show clinic information.

## Related Documentation
[Backend Architecture](https://github.com/department-of-veterans-affairs/

[2021-02-22 16:52] #20161 closed

[2021-02-22 16:52] bethpottsVADEPO commented on #19892
@lunascoop Here's who Lori identified for the redirect email for LI:
**Note:** Please _don't_ send the mail to dennis.nicastro
mychaellee.askew@va.gov
larry.eby2@va.gov
ruth.berkheimer@va.gov

And from the original list of redirects in the ticket Mikki linked to, I do see dividend-payment-options listed, so please add that to the email too (4 total redirects to our 3 new pages):

https://www.benef

[2021-02-22 16:53] bethpottsVADEPO commented on #19892
Also send it to Lori! @lunascoop

[2021-02-22 16:53] drorva commented on #15757
My inclination is to have it start as a script for eBenefits and when we have 3 or more apps using it, make it a general purpose script.

[2021-02-22 16:54] dillo opened #20247 "Organization API"
# TODO write story and details

[2021-02-22 16:56] narin commented on #18545
@laurenernest @outerpress After the users cancels, should we remain on the details page and update it to the Canceled state, or should we redirect them to the list page?

[2021-02-22 16:57] dillo opened #20248 "Lighthouse Appointment/Location/Organization API integration with Questionnaire Manager service"
## User Story
**In order** to successfully complete my pre-visit questionnaire for a primary care appointment and then get the information to a clinician
**As a** Veteran
**I want** the backend's questionnaire manager service to provide a complete set of data to my browser so that I can use the pre-visit questionnaire service successfully

## Related Documentation
[Backend Architecture](https://gi

[2021-02-22 17:00] brianalloyd commented on #19653
Validated - closing per validation.  Thanks @ncksllvn for the fix on this one.

[2021-02-22 17:00] #19653 closed

[2021-02-22 17:03] jonathanjnelson commented on #18736
Hi @mlighdc @sshein @ala-yna -

These are the tickets I was assigned this sprint:

- [Finalize the prototypes for usability study](https://app.zenhub.com/workspaces/vsa---caregiver-5fff0cfd1462b6000e320fc7/issues/department-of-veterans-affairs/va.gov-team/19805)
- [Moderate Usability Study](https://app.zenhub.com/workspaces/vsa---caregiver-5fff0cfd1462b6000e320fc7/issues/department-of-veterans-aff

[2021-02-22 17:03] rebeccawalsh opened #20249 "[FSR] Empty state for when there are no debts"
## Issue Description
Currently, a Veteran can technically access the FSR form when they do not have an active debt. Investigate our options and define the design direction for this.

- Does the FSR need to be available for authenticated Veterans with no debts?
  - Is there any way to prevent authenticated Veterans with no debts from seeing them, technically?
- Should this design mimic the unauthen

[2021-02-22 17:04] brianalloyd commented on #18821
Thanks @kelsonic moving this to Validate and will close out once PR has merged.

[2021-02-22 17:06] rebeccawalsh opened #20250 "[FSR] Empty state for when there are no Veteran benefits"
## Issue Description
Currently, a Veteran is served a benefits screen displaying $0 if they have no active benefit payments from the VA (See mockups here: https://preview.uxpin.com/803dc24213cf723bfce6c5e3eaef5a2c3f3e344b#/pages/136159512/specification/sitemap?mode=i). Investigate our options and define the design direction for this.

---
## Tasks
- [x] Determine design direction for Authenticated

[2021-02-22 17:06] jonwehausen commented on #19682
@srsuddath and I spoke over Slack:

- Will want to adjust the logic on the `search-dropdown-used` (can adjust naming as needed for clarify) variable to fire with `true` ANY time the heading dropdown is used, with typeahead, without typeahead, organically, etc.
- Not yet able to `type-ahead-options-list` in data layer in staging

[2021-02-22 17:06] jenniferlee-dsva commented on #19813
Hi @SKasimow - adding a couple mobile interaction examples here for you to add to the product outline. Ryan Thurlwell and I checked out some nuanced edge case scenarios and we both like the NYT  approach which appears both 508- and mobile-friendly.

https://www.nytimes.com/live/2021/02/16/us/winter-storm-weather-live#about-3500-sea-turtles-are-rescued-from-the-frigid-temperatures-in-texas

### Exa

[2021-02-22 17:08] #19841 closed

[2021-02-22 17:08] brianalloyd commented on #3556
This issue has been resolved, closing out in support based on validation.

[2021-02-22 17:08] #3556 closed

[2021-02-22 17:09] rebeccawalsh opened #20251 "[FSR] Redesign employment sections to allow for multiple current jobs [usability]"
## Issue Description
Currently, both the Veteran and spouse employment screens allow for only a single current job. Adjust the design to allow for multiple current jobs.

---
## Tasks
- [x] Redesign the employment sections to allow for multiple current jobs
- [x] Sync to UXPin - both Unauth and Auth
- [x] Create a frontend ticket for the work

## Acceptance Criteria
- [x] Designs updated and poste

[2021-02-22 17:10] brianalloyd commented on #15756
@ncksllvn this is available to be worked with you have bandwidth.  Thanks.

[2021-02-22 17:12] vbahinwillit commented on #19686
I need a little more information on what tag should be used for tracking this page? Is a new take required or do we have an existing one? Thanks.

[2021-02-22 17:13] jonathanjnelson commented on #18969
Completed testing in staging:

 - with Mailing and Home (same as mailing) in Profile
      - **User**: 275
      - **Expected**: EZ askes for 2 addresses. Mailing is populated, "Yes, home is same as mailing" is pre-selected. `veteranAddress` and `veteranMailingAddress` is sent to the api, and they both have the same value (same address).
      - **Actual**:

  - with No addresses in Profile

[2021-02-22 17:14] erikphansen commented on #19552
@mshea0606 I noticed you added the `508-defect-1` label to this because Peggy had flagged it as a launch blocker. @joshkimux can correct me if I'm wrong, but I am think you probably shouldn't be messing with the `508-defect` labels since those are really specific to a11y issues and an accessibility specialist should be managing those labels on the ticket. Also seems weird to have both `508-defect-

[2021-02-22 17:14] jenniferlee-dsva commented on #19867
Hello - There are a couple of things unincorporated from previous feedback. Could we please see:

1/ More than 1 instance on a page - no need to go mock a real page; just copying/pasting the same question a couple times would be fine. Maybe just add some lorem ipsums to make the question text longer or shorter to indicate how this might appear with many different items on the same page.

2/ Exampl

[2021-02-22 17:15] bridgethapner commented on #18795
@ayushchak @lexicalninja We are blocked on UX design for this ticket for now - we need a staging user with file requests to fully audit the flows for both the 'Select a File' and 'Take Photos' flows & to audit the A11y criteria included in the build.

[2021-02-22 17:16] brianalloyd commented on #19722
@ncksllvn can we close out this ticket based on the merged PR above?

[2021-02-22 17:17] erikphansen commented on #19552
In actually reading this ticket, it sounds like the issues are far wider than simply changing the `Direct deposit` label to `Direct deposit information`. But those issues do not have a clear solution or path forward. So I submitted a PR to fix the menu, section, and document titles and will wait for future guidance on the other issues. We should leave it to @joshkimux to close this ticket after ht

[2021-02-22 17:19] sshein commented on #19867
Just a quick note that Laurel is no longer with the public websites team (she was a fill in), @callen2563 will be taking over starting next week and will finish up this ticket I assume. cc @SKasimow @brianalloyd

[2021-02-22 17:19] laurenernest commented on #19686
@vbahinwillit I think the only other place we track something like this is in CC so this will likely be new. What's the URL for this page? Based on my latest understanding of the URL structure for these facility pages in this flow, we may be able to waive an additional tracking method.

[2021-02-22 17:20] RLHecht opened #20252 "Create an R&S article about disaster relief"
## Issue Description
As a Veteran I need to know how VA handles disaster relief efforts.

The sitewide content team needs to create an R&S article about disaster relief at VA. These two links can serve as references:

https://www.disasterassistance.gov/information/veterans
https://www.va.gov/ve/docs/brochureVAdisasterAssistanceForVeterans.pdf

## Tasks
- [ ] Write copy for a disaster relief R&S ar

[2021-02-22 17:21] outerpress commented on #18545
If we send them on the details page in the canceled state it'll act as a confirmation after they've canceled. Sending them to the list page it might be confusing, esp if they have to scroll around to find the canceled event.

So I'll say go with your first option - remain on the details page and update it to the Canceled state.

[2021-02-22 17:23] bcastoe commented on #19715
02222021 - Amarillo Caregiver/Coordinator data collected and data loaded to Drupal

[2021-02-22 17:24] bcastoe commented on #19715
02222021 - is Complete and moved to Validate.

[2021-02-22 17:27] brianalloyd commented on #19867
Thanks for the update @sshein appreciate it.

[2021-02-22 17:27] laurenernest commented on #20230
Good catch @jenniemc! Those can say "Choose a location" and "Choose a clinic" respectively.
Hopefully we don't have any other cheetahs on the loose :)

[2021-02-22 17:30] keli13 commented on #20032
User has the 'directDepositBenefits' permission so it allowed to see direct deposit but there is a separate PPIU check(permission) that needs to added in order to verify that the user can update their bank information.

Will need to wait for update from BE before fixing this ticket.

[2021-02-22 17:30] #19586 closed

[2021-02-22 17:30] outerpress commented on #19580
@jbalboni "Your appointment location" should be the header. The choose language would be confusing in there for sure.

[2021-02-22 17:33] as-va opened #20253 "Access for [individual]"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Do not remove `operations` label; this will notify the VSP Operations team of your request
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Pleas

[2021-02-22 17:35] #18701 closed

[2021-02-22 17:35] #18867 closed

[2021-02-22 17:36] RLHecht commented on #20236
@noahgelman I think this is a sitewide issue and not just for this page. It would be a FE fix. I only add the teaser text and links to the template within Drupal. @brianalloyd is this something Public Websites would be able to work on?

[2021-02-22 17:38] sporeboy commented on #19800
No visibility into automatic COE criteria. Basic components:
- Applicant is a Veteran (?)
- Applicant biological and contact info
- Service history
- No loans on record (?)

[2021-02-22 17:42] brianalloyd commented on #20236
@RLHecht thanks for circling back on this, think PW team can scrub into the FE work on this issue.  Updating ticket now to get it into our sprint workflow.  Thanks.

[2021-02-22 17:42] mmiddaugh opened #20254 "Facility Locator Mobile Design"
## Issue Description
Following [usability test prep ](https://github.com/department-of-veterans-affairs/va.gov-team/issues/19413 )and [research ](https://github.com/department-of-veterans-affairs/va.gov-team/issues/18690 )using a mobile first prototype, we need to incorporate findings into an engineering-ready design spec

---
## Tasks
- [ ] Incorporate research findings/recommendations
- [ ] Inco

[2021-02-22 17:43] mmiddaugh commented on #19699
Feedback has been added to [Mobile design issue ](https://github.com/department-of-veterans-affairs/va.gov-team/issues/20254)

[2021-02-22 17:43] mmiddaugh commented on #19413
Feedback has been added to [Mobile design issue ](https://github.com/department-of-veterans-affairs/va.gov-team/issues/20254)

[2021-02-22 17:47] RLHecht commented on #20237
@noahgelman I think this would be a sitewide issue as well. @brianalloyd is this something that can done in the FE since we generally don't use source code when we add content within Drupal? Not sure what the best way to handle this is.

[2021-02-22 17:48] MarciMcGuireGCIO opened #20255 "Find a VA Form: Typeahead"
## User Story

As a Veteran or caregiver, I would like to see typeahead suggestions appear as I enter a form search term because it would help me more quickly find the VA form I am looking for.

## Expected Behavior

As a user is keying in a search term, relevant results would be displayed after a yet-to-be defined number of characters has been entered.

## Acceptance Criteria

- [ ] Story is groo

[2021-02-22 17:49] bosawt commented on #19765
This is possible, follow the instructions posted here: https://app.zenhub.com/workspaces/vsp-identity-5f5bab705a94c9001ba33734/issues/department-of-veterans-affairs/va.gov-team/19975

[2021-02-22 17:52] SKasimow opened #20256 "Build Covid-19 Vaccine Page | Spanish"
**User Story**
As a spanish speaking vet or caretaker seeking information on the Covid Vaccine, I would like to be able to view this information in spanish.

**Scenario 1:**
Given I am viewing the Covid Vaccine page in english: https://www.va.gov/health-care/covid-19-vaccine
OR
tagalog:  https://www.va.gov/health-care/covid-19-vaccine-tag/
AND
I click the link for spanish "Leer esta página en Espa

[2021-02-22 17:54] #15847 closed

[2021-02-22 17:55] MarciMcGuireGCIO opened #20257 "Find a VA Form - Search Tips"
## User Story

As a Veteran or caregiver, I would like to be presented with some simple suggestions to improve the quality of my search terms so that I can find the form I am searching for without having to refine my search term multiple times.

## Expected Behavior

The Find a VA Form search page would display a brief suggestion on how one might format search terms to improve the success rate of

[2021-02-22 17:56] delli-gatti-michael commented on #19569
Local testing complete

[2021-02-22 18:03] RLHecht commented on #20239
@noahgelman Our VA.gov style guide has us using periods in a.m. and p.m. across the site, so we wouldn't remove it on this page. Is there something that should/could be done within the source code to fix this? if so then it would go to the public websites team.

[2021-02-22 18:10] ala-yna commented on #15160
We were waiting to batch this request with other changes, including the changes needed to support the new paper version of the form. I just followed up with Matt and he should be sending it over today.

[2021-02-22 18:10] mmiddaugh opened #20258 "Analysis of spotlight/featured content boxes across VA.gov analysis"
## Issue Description
Before we determine the appropriate character limits for the spotlight/featured content box component for the Vet Center MVP, we need to understand current usage

- CTA/link label and URL currently has a character limit of 40

---
## Tasks
- [ ] Review places across VA.gov where the spotlight/feautred content boxes are used and document the character limits in place for

[2021-02-22 18:19] #19775 closed

[2021-02-22 18:21] digitalken opened #20259 "Android adds "title" after every line when reading address listing - (found while testing #17612)"
## What happened?
If the address listing is:

Mailing address
1025 Florida Ave NE
Washington, DC, 20002

Android with Talkback reads back:

Mailing address title
1025 Florida Ave NE title
Washington, DC, 20002 title

Possible side effect of bug #17612 fix.

## Specs:
- Device: Android Samsung Galaxy Note 9 w/Talkback enabled

## Steps to Reproduce
- Read the address listing with Android and Talkba

[2021-02-22 18:29] sshein commented on #18736
Thanks @jonathanjnelson! When this ticket gets prioritized and into a sprint, Here are some links that might be useful:

- Loading button that is currently in the profile a few places but is not an official component https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/platform/site-wide/loading-button/LoadingButton.jsx
- The loading indicator component https://design.va.

[2021-02-22 18:29] LindseySaari opened #20260 "Update non-production gem group patch versions"
## Issue Description
The non-production gem groups are defined as test and development. In an effort to keep our gems up to date, we should approach the less risky updates first. The least risky update includes the non-production gems (test and development) and their patch version updates.

In the case of regression caused by a gem update, gems should be updated in isolation. For the less risky up

[2021-02-22 18:30] LindseySaari opened #20261 "Update non-production gem group minor versions"
## Issue Description
The non-production gem groups are defined as test and development. In an effort to keep our gems up to date, we should approach the less risky updates first. The next least risky update after the patch versions, includes the non-production gems (test and development) and their minor version updates.

In the case of regression caused by a gem update, gems should be updated in i

[2021-02-22 18:32] LindseySaari opened #20262 "Update non-production gem group major versions"
## Issue Description
The non-production gem groups are defined as test and development. In an effort to update our gems, we should approach the less risky updates first. Following the non-production updates of patch and minor versions, we should update the major versions.

In the case of regression caused by a gem update, gems should be updated in isolation. It would be best to commit each update

[2021-02-22 18:34] lunascoop commented on #19892
Hi @ncksllvn and @kelsonic these URLs are scheduled to be redirected on **03/03**. Stakeholders are being notified. @bethpottsVADEPO

[2021-02-22 18:37] LindseySaari opened #20263 "Update “production” gem group patch versions"
## Issue Description
As a more cautious approach to update our production gems, the upgrade path for our production gems should be split into three sub-steps, with increasing risk level. This step includes updating the patch versions.

In the case of regression caused by a gem update, gems should be updated in isolation. It would be best to commit each update in isolation to avoid an “all or nothi

[2021-02-22 18:38] LindseySaari opened #20264 "Update “production” gem group minor versions"
## Issue Description
As a more cautious approach to update our production gems, the upgrade path for our production gems should be split into three sub-steps, with increasing risk level. This step includes updating the minor versions.

In the case of regression caused by a gem update, gems should be updated in isolation. It would be best to commit each update in isolation to avoid an “all or nothi

[2021-02-22 18:38] #19839 closed

[2021-02-22 18:38] LindseySaari opened #20265 "Update “production” gem group major versions"
## Issue Description
As a more cautious approach to update our production gems, the upgrade path for our production gems should be split into three sub-steps, with increasing risk level. This step includes updating the major versions.

In the case of regression caused by a gem update, gems should be updated in isolation. It would be best to commit each update in isolation to avoid an “all or nothi

[2021-02-22 18:45] LindseySaari opened #20266 "Investigate/Update gems with constraints"
## Issue Description
Often developers set an intentional constraint on a gem due to breaking changes in later versions that may not be compatible. We will need to investigate if our defined gem constraints can or cannot be updated.

Running `bundle outdated --groups` will point out gem constraints.

[Gem update spreadsheet](https://docs.google.com/spreadsheets/d/1XAANeTmGK2-kSDyxk3qjlS3aODSWBIgFhP

[2021-02-22 18:47] #17732 closed

[2021-02-22 18:52] mnorthuis commented on #19281
Thanks @sporeboy, unfortunately we can't do a staging review on a prototype/mock.  If that work is being done by the PW team, it will be up to that team to bring it through the collab cycle for review.  However, I recommend your team stay informed on that work so you can also validate that key entry point to your functionality.

cc @shiragoodman

[2021-02-22 18:54] #20224 closed

[2021-02-22 18:54] Samara-Strauss commented on #19281
@mshea0606 @sporeboy did no one communicate this need for an update to the content to the PW team? Do we not have a ticket for this work?

[2021-02-22 18:55] mnorthuis commented on #20088
This redirect is vetted and can be implemented when you are ready.  Please note that the redirect cannot be case sensitive, all variations of casing will need to be account for (i.e. "VOCREHAB" versus "vocrehab").

[2021-02-22 19:03] timwright12 commented on #18845
**Schedule**:

- daily for 1-2 days
- 3 times a day for 1-2 days
- Hourly 8AM - 8PM Eastern

cc @theodur

[2021-02-22 19:05] MarciMcGuireGCIO opened #20267 "Find a VA Form: Dev/Staging POC to display form "teaser" info in search results"
# User Story

As a Veteran or caregiver, I would like to see some basic information about a form in the list of search results, similar to how Google search results are presented, so that I can quickly determine if a form is the one I am looking for without having to visit the form's detail page.

## Expected Behavior

When a user enters a search term, the results return not only the name of the f

[2021-02-22 19:06] dneel-bah opened #20268 "STEM AD: Add denial details content"
As an education team member, I would like an applicant to view their rejected application and the reason for rejection when their application has been denied based on reasons that will immediately make them ineligible, so that the time to notify the applicant is reduced.

## Assumptions:
1. Completed behind feature flag `stem_automated_decision` (#13829)
2. Login to claims page here: https://stagi

[2021-02-22 19:10] #19963 closed

[2021-02-22 19:10] ashley-matthews opened #20269 "Reply to a message- Triage Message"
When replying to a message, content displays stating the user may be replying to someone who is different from the person originally contacted.

Do we still need this?
![Screen Shot 2021-02-22 at 2.10.21 PM.png](https://images.zenhubusercontent.com/5fa59749c2f3e3e913ad2b06/54437525-1ee6-4aaa-98b9-d953e7ec2529)

[2021-02-22 19:10] laurenernest opened #20270 "General Analytics Request for VAOS-backfill funnel data in Domo"
# Metrics Reporting Request

## What this form is for

Use this template to request one-off performance, usability, or outcomes va.gov metrics that is difficult to access or that needs analytics interpretation. If you have your KPIs set, please [request a KPI dashboard](https://github.com/department-of-veterans-affairs/va.gov-team/issues/new?assignees=joanneesteban&labels=analytics-insights%2C+ana

[2021-02-22 19:13] #20227 closed

[2021-02-22 19:14] MarciMcGuireGCIO opened #20271 "[Find a Form] Revisit, possibly change Search Landing page links"
## Status
**[2024-04-24]** Adding to the next product sync mtg with Dave C to ask if we should still consider this.

## User Story

As a Veteran or caregiver, I would like the form links presented on the Search Landing page to be more clearly related to forms or their online equivalents so that I can quickly access popular forms without the need for searching.

## Expected Behavior

The links pres

[2021-02-22 19:17] ala-yna opened #20272 "Update 10-10CG Content (April 2021)"
## User Story

As a Veteran/Caregiver
I want to fill out the latest version of the online form
So that I can apply for the program with the most useful information.

## Acceptance Criteria
- [Product] Receive & distribute new paper form
- [Design] Prototypes are updated
- [Design] New language is approved by VSP
- [Design/Product] New changes are approved by Caregiver program
- [Frontend] Front en

[2021-02-22 19:18] SKasimow commented on #19813
Got it - thanks!

I'll also add to the design ticket.

[2021-02-22 19:20] #19805 closed

[2021-02-22 19:21] MarciMcGuireGCIO opened #20273 "Find a VA Form: Most popular forms related to search topic"
## User Story

As a user, if I enter a certain topic such as "health", I would like to be presented with the most popular forms related to that topic to possibly help me find what I'm looking for faster.

## Expected Behavior

When a user enters a key term such as "health" or "education", rather than bombard them with a potentially hard-to-navigate list of forms, we can provide links to the most p

[2021-02-22 19:22] kathleencrawford opened #20274 "Populate Country Code on 686 PDF"
## Background
The country code is no longer being populated in the address fields on the 686 PDF.  This occurs in multiple places (screenshot added in comments as an example).

## Considerations
This was working previously so need to determine why it is no longer working.

## Tasks
- [ ] Determine why the country code is no longer displaying on the PDF
- [ ] Fix the broken PDF code to ensure count

[2021-02-22 19:23] ashley-matthews opened #20275 "Attachment Instructions"
### **User Story**
As a Veteran, I want to be able to view instructions on how to attach a file so that I can learn if I need help.

### **Acceptance Criteria**

### **Tech Notes**

### **Design**
Current state:
"Instructions to attach a file" link takes users to this page:
![Screen Shot 2021-02-22 at 2.25.34 PM.png](https://images.zenhubusercontent.com/5fa59749c2f3e3e913ad2b06/55893f63-2bf7-489f-

[2021-02-22 19:25] SKasimow commented on #19867
@youngfreezyVA - am adding some feedback from Jennifer and Ryan depicting the mobile experience. Let's discuss at next stand-up:

Hi @SKasimow - adding a couple mobile interaction examples here for you to add to the product outline. Ryan Thurlwell and I checked out some nuanced edge case scenarios and we both like the NYT  approach which appears both 508- and mobile-friendly.

https://www.nytimes.

[2021-02-22 19:27] jonwehausen commented on #19334
## QA Testing

- Tested with user +378 who had DDEdu setup

Test Case | Tag Screenshot | QA Status
| -- | -- | -- |
_Get edu direct deposit API call started_ | ![image](https://user-images.githubusercontent.com/48527022/108757694-2c6df280-7518-11eb-82a3-a25bf48bcd16.png) | ✔️ **PASS**
_Get edu direct deposit API call retrieved_ | ![image](https://user-images.githubusercontent.com/48527022/10875892

[2021-02-22 19:27] kathleencrawford commented on #20274
![Screen Shot 2021-02-22 at 11.27.15 AM.png](https://images.zenhubusercontent.com/5d4b154f046a317fe3b7760e/9aba6804-4b5a-438a-a215-b26b9d72328b)

[2021-02-22 19:32] ashley-matthews opened #20276 "View Messages"
## Product Outline
[Link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/product-management/product-outline-template.md)

## High Level User Story
As a Veteran, I want to see my messages so that I can communicate with my healthcare team.

## Hypothesis or Bet
**If** Veterans can view their messages **then** they will get answers to their questions.

## Definitio

[2021-02-22 19:34] jonwehausen commented on #19334
@erikphansen Just letting you from our testing we did in fact see the `direct-deposit-setup-complete` variable pushed with the `profile-get-edu-direct-deposit-retrieved` event -- this can be please removed from this event push if not needed to track eligibility and completion per you all's conversation here.

![image](https://user-images.githubusercontent.com/48527022/108759829-e1a1aa00-751a-11eb-

[2021-02-22 19:35] jonwehausen commented on #19334
@bmcgrady-ep Assigning back to you for final closure.

[2021-02-22 19:35] ashley-matthews opened #20277 "View All Messages (Folder View)| BE"
### **User Story**
As a Veteran, I want to see all of my messages in each of my folders so that I can access information easily.

### **Acceptance Criteria**
- All messages are retrieved from vets-api
- Should be able to identify the folder associated with the message
- Within each folder for each message, the following information is retrieved:
  - Sender + Avatar
  - Date/ time the message was s

[2021-02-22 19:40] ashley-matthews opened #20278 "View a Full Message (Threaded view) | BE"
### **User Story**
As a Veteran, I want to be able to view a message and the corresponding thread so that I can see the full details of the conversation.

### **Acceptance Criteria**
- For a single message, the following information is retrieved from vets-api:
   - Who the message is from
   - Date/time
   - Subject (pre-defined options)
   - Subject line (user-generated)
   - Which folder the mes

[2021-02-22 19:47] noahgelman commented on #20239
@RLHecht If the style guide is using the periods then they can be wrapped in a span with an aria label to announce it correctly.

`<span aria-label="am">a.m.</span>`

[2021-02-22 19:48] ashley-matthews opened #20279 "Message Navigation"
## Product Outline
[Link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/product-management/product-outline-template.md)

## High Level User Story/ies
As a Veteran, I want to navigate within secure messaging so that I get the information I need and take action accordingly.

## Hypothesis or Bet
**If** Veterans can navigate within secure message **then** we expec

[2021-02-22 19:52] ashley-matthews opened #20280 "Unread Message Badge"
### **User Story**
As a Veteran, when I receive a new message, I want to see a badge indicating I have an unread message so that I know I haven't seen it yet.

### **Acceptance Criteria**
- When a user has an unread message, a badge displays indicating the number of unread messages in the folder

### **Tech Notes**

### **Design**
- how do we handle unread messages in folders outside of the inbox?

[2021-02-22 19:54] ashley-matthews opened #20281 "SM Notifications"
Placeholder for secure messaging notifications- should these be under a mobile-wide epic for notifications?

[2021-02-22 19:58] ashley-matthews opened #20282 "SM Email Notifications"
### **User Story**
As a Veteran, when I receive a secure message, I want to receive an email notification so that I know I need to check my secure messaging inbox.

### _Acceptance Criteria_
- When a user receives a new secure messaging, they should receive an email notification if they have indicated so within their SM preferences on MHV.

### **Tech Notes**

### **Design**

[2021-02-22 19:58] shiragoodman commented on #20196
hey @vhenry07 and @sshein  - This has not been scheduled due to a time conflict, however we rolled out changes to the Collab Cycle on Friday. We no longer require Project Kickoffs, and instead have an asynch Collaboration Cycle Kickoff.

Would you be able to close this ticket, review our [Getting Started with the Collaboration Cycle guidance](https://github.com/department-of-veterans-affairs/va.go

[2021-02-22 20:02] vhenry07 commented on #20196
Opening a new collab cycle kickoff ticket.

[2021-02-22 20:02] #20196 closed

[2021-02-22 20:06] LinnJS opened #20283 "Research frontend components available for attachments"
## Technical Task

Research platform tooling for uploading files on VA.gov find what what params it accepts and the different use cases we might need to account for

## Acceptance Criteria

- [x] We have all the information we need to allow document uploading for POA representatives on the 10-10cg
- [x] We know all the possible error states to account for

[2021-02-22 20:06] bridgethapner commented on #20223
@bessgreen :wave:

- For the Account type dropdown "Please select the type that best describes your account" is the correct copy.
- For the confirmation checkbox "Please confirm this information is correct" is the correct copy.
- Re the questions about the checkbox -- good question! I think you are right that we should allow the user to select even if they have incomplete form fields. I'm realizin

[2021-02-22 20:06] cohnjesse opened #20284 "Add pop-up logic for when dependency verification modal appears"
## Background
Now that the basic structure of the verification modal is in place we need to build the logic that will fire the modal. This will largely depend on an API call that will be made to the back end and then to the diary service to see if we need to ask the user to verify their dependents. Then based on the answer we get back from the API we need to show the modal.

## Considerations
- Co

[2021-02-22 20:08] vhenry07 opened #20285 "Collaboration Cycle Kickoff [Claims & Appeals, Notice of Disagreement]"
## Steps to complete Collaboration Cycle Kickoff
- [x] VFS Product Manager: Create this issue and fill in your team and feature name in the title.
- [x] VFS: Answer the questions below.
- [ ] VFS: Link to this issue once created in vfs-platform-support in Slack; tag @vsp-product-support-members.
- [x] VSP: Review the responses and comment in ticket with recommended touchpoints and practice area in

[2021-02-22 20:08] bcastoe commented on #19711
02222021 - Clarksburg Caregiver/Coordinator data collected and data loaded to Drupal
                 - Completed and moved to validate

[2021-02-22 20:08] delli-gatti-michael commented on #17709
[Testrail test case](https://dsvavsp.testrail.io/index.php?/tests/view/67762&group_by=cases:section_id&group_order=asc&group_id=51)

[2021-02-22 20:11] SgardnerPMP opened #20286 "[VAMC] Publish Philadelphia health care into Dual-State [PM]"
## Story
As a VA tester and web maintainer,  VAMC systems need to launch into a Dual-state prior to Go-Live, so complete testing, training, 508 compliance and final updates and content can be loaded in prep for final product release.

## Goal
- run through publishing testing and document obstacles and performance tasks to improve future publishing

## Resources
[Wilmington  Run Book](https://drive

[2021-02-22 20:11] cvalarida opened #20287 "Design system dashboard MVP"
## Issue Description
I had an idea for a "design system dashboard" MVP. The goal for this project is to get a bird-eye view of how the parts of the design system are being used.

This ticket is to capture work for building the MVP only.

### Post-MVP
Post-MVP may include a self-service web-app that doesn't require an engineer to run a command and reports on other things such as analytics on docume

[2021-02-22 20:14] SgardnerPMP opened #20288 "[Dual-State-Prep] Prepare Philadelphia Health Care VAMC for Dual State [VAMC]"
## STORY
As a web user I need to confirm all broken links, updates, and content has been updated prior to Dual-state publishing, so I can be assured the latest and best system input is loaded to Dual-State

## Resources
[Philadelphia Tugboat Instance](https://web-wiumowemuedknkxemn9bu1gzrpwuavjn.demo.cms.va.gov/)
[Site Page Checklist](https://drive.google.com/drive/folders/1v0CGhpx7BM2tWbZx7zNY_Zk

[2021-02-22 20:16] #18150 closed

[2021-02-22 20:22] rebeccawalsh opened #20289 "[MCP] VAHRC Call Center Interviews"
## Issue Description
We need to hold VAHRC interviews to learn more about what Veterans commonly struggle with.

---
## Tasks
- [x] Hold 5 interviews with VAHRC SMEs
- [x] Add notes and artifacts to Github

## Acceptance Criteria
- [x] Notes scrubbed and uploaded to Github

[2021-02-22 20:26] Samara-Strauss opened #20290 "Dashboard: Legacy VA.gov MyVA vs. WBC My VA confusion"
## Background

@artsymartha68 just alerted me to the fact that there is this [whole initiative on the legacy site called MyVA](https://www.va.gov/myva/).  It's also linked from the legacy footer: https://blogs.va.gov/VAntage/myva/.

Clearly, this could cause some confusion with users who log into the WBC site and are looking for/at their [My VA dashboard](www.va.gov/my-va), as these two things are

[2021-02-22 20:26] cohnjesse opened #20291 "Swap dummy api calls for real calls to BE"
`needs diary update endpoint complete: could be another ticket`

## Background
Once we have the back end API call in place for the dependency verification we need to swap our dummy API call for that real one.

## Tasks
- [x] Holler at Derek for methods
- [x] Test the list and logic (READ)
- [x] Adjust API call and returned data
- [x] Submit a PR for review

## Acceptance criteria
- [x] The API cal

[2021-02-22 20:29] jbalboni opened #20292 "Consider replacing Moment with date-fns"
A different date library, date-fns, is being used in some platform code. It's unlikely that we could completely exclude Moment from our build, but we could potentially avoid moment-timezone, because date-fns uses built in browser apis (and the design system team polyfilled that for older browsers).

We should explore:
- How much effort would it take to convert our existing timezone related logic t

[2021-02-22 20:29] digitalken commented on #19519
PASS 2/22/2021 - x of y is not being stated.  Closing.

[2021-02-22 20:29] #19519 closed

[2021-02-22 20:32] kevinmirc opened #20293 "Upload 10-10CG Dataflow diagram .sketch file to va.gov-team-sensitive"

[2021-02-22 20:33] digitalken commented on #15316
PASS 2/22/2021 - Now reading correctly without the 'minus' inserted.  closing.

[2021-02-22 20:33] #15316 closed

[2021-02-22 20:34] LindseySaari commented on #19331
Correct, @jhouse-solvd. It works in the rails console, but not in the staging environment. It appears that prod works properly.

[2021-02-22 20:36] #18969 closed

[2021-02-22 20:37] bessgreen opened #20294 "Add File Upload screenshots to Drive"
## Context for this task
VA does not currently have a known staging user with access to the claims File Upload feature. The purpose of this ticket is to support the UX team so they can: 1) showcase the current flow to VA to get content feedback, and 2) start making UX enhancements to this flow.

## Dev task
1. Mock your way into a Step 3 claim w/ open file requests and take screenshots of the foll

[2021-02-22 20:38] MarciMcGuireGCIO opened #20295 "Find a VA Form: Update Search Results according to Style Guide; increase visibility of CTA links"
## User Story

As a Veteran or caregiver, I want Find a VA Form search results to have a consistent appearance with the rest of VA.gov so that I don't have to re-orient myself with a different look and feel and briefly wonder if something is clickable.

## Expected Behavior

The list of results presented should be displayed in a manner that is consistent with the rest of VA.gov, and should provide

[2021-02-22 20:43] mshea0606 commented on #17826
Hi @RLHecht, moving our convo to this ticket for greater awareness. We plan to start UAT 3/10.

[2021-02-22 20:45] ala-yna opened #20296 "[Time-boxed research spike] - Investigate SiP Errors"
## User Story

As a Veteran with an SiP health care application
I want to be able to enter both a mailing and home address on the 10-10EZ

Note: Bug was discovered in Staging on 2/22.

## Goal
Spend a day investigating the root cause of the SiP bug on the HCA (where the new button is missing)

## Acceptance Criteria
Understand and document what the next steps are
Link to bug/reproduction tickets

[2021-02-22 20:46] mshea0606 commented on #19281
@Samara-Strauss @sporeboy that work is being tracked on this ticket #17826. @RLHecht has already started making the updates.

[2021-02-22 20:47] digitalken commented on #20151
PASS 2/22/2021 - Previously, a user showed up as Sean Not_found Gptestkfive.  Not the 'Not_found' is gone and only first and last names display.  Closing.

[2021-02-22 20:47] #20151 closed

[2021-02-22 20:48] shiragoodman commented on #20285
[Product Outline](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/decision-reviews/Notice-of-Disagreement/readme.md) - draft

[2021-02-22 20:50] digitalken commented on #20117
PASS 2/22/2021 - "account" is now present.  Closing.

[2021-02-22 20:50] #20117 closed

[2021-02-22 20:51] cshupp1 opened #20297 "Access for [Cris Shupp]"
Fill out Description
Add the label used by your team (eg: Matsumoto)
Do not remove operations label; this will notify the VSP Operations team of your request
When the issue is closed you will be notified and can continue with on-boarding setup
Description
Please provide your Contracting Officer's Representative (COR) name.
Cecilia Lee - Cecilia.Lee@va.gov

Please provide your name.
Cris Shupp

Ple

[2021-02-22 20:53] mmiddaugh opened #20298 "Remove v0 lighthouse engine"
## Issue Description
After sunsetting the v0 ccp controller and v0 VA controller, we need to remove the backend code for the v0 lighthouse engine.

---
## Tasks
- [ ] Remove v0 lighthouse engine

## Acceptance Criteria
- [ ] Unneeded code for the v0 lighthouse engine is no longer present
- [ ]
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ]

[2021-02-22 20:55] mmiddaugh opened #20299 "Remove base facility table for V0"
## Issue Description
After sunsetting the v0 ccp controller and v0 VA controller, we need to remove the v0 base facility table
---
## Tasks
- [ ] Remove base facility table for V0

## Acceptance Criteria
- [ ] Unnecessary data models are no longer present
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to an Epic** (what body of

[2021-02-22 20:58] Samara-Strauss commented on #19281
@mnorthuis can you work off of #17826?

[2021-02-22 21:11] mnorthuis commented on #19281
I will review that content page if/when that team brings it through the collab cycle.  This is not a blocker to your work, I'm just letting you know that I have not confirmed that work is done, and recommending that your teams are coordinating on the launch timing.

[2021-02-22 21:14] digitalken commented on #19830
PASS 2/2/2021 - VA in both places now.  closing.

[2021-02-22 21:14] #19830 closed

[2021-02-22 21:15] ala-yna commented on #20296
@LinnJS  - Who on VFS has the best understanding of SiP functionality and can help with this?

[2021-02-22 21:17] RLHecht commented on #19281
The only changes sitewide content is making is removing the ebenefits widget from the page and updating some of the content to match what's in the mockup. Does that kind of work go through the collab cycle?

[2021-02-22 21:20] kelsonic commented on #19892
PR is up: https://github.com/department-of-veterans-affairs/vets-website/pull/16133 Won't merge until morning of 03/03, redirects will go out following the daily deploy on 03/03.

[2021-02-22 21:23] digitalken commented on #16634
PASS 2/22/2021 - Showing the correct amount of numbers (for voice control).  closing.

[2021-02-22 21:23] #16634 closed

[2021-02-22 21:24] kevinmirc commented on #20296
Summary of issue and reproduction steps can be found in the QA session results:

- https://github.com/department-of-veterans-affairs/va.gov-team/issues/18969#issuecomment-783529416

- (Insert Previous QA session results)

[2021-02-22 21:24] mnorthuis commented on #19552
There is a larger conversation we need to revisit here regarding the H1s, the left nav and the breadcrumb.  That convo wasn't able to happen prior to Josh's time off.  I don't believe this is a launch blocker given Josh tagged it as a 2, and this is something that existed prior to the direct deposit work.  Please keep this ticket up until we can resolve the original issue.

cc @1Copenut @noahgelma

[2021-02-22 21:25] SKasimow commented on #20111
@shiragoodman @andreahewitt-odd Hello - per convo with Shira, I am closing this ticket out and will instead open a ticket using the  Collab process to kick-off this initiative.

Sharon

cc: @jenniferlee-dsva

[2021-02-22 21:25] #20111 closed

[2021-02-22 21:27] kevinmirc commented on #20021
This was a blocker for our QA session on [February 22, 2021](https://github.com/department-of-veterans-affairs/va.gov-team/issues/18969#issuecomment-783529416)

[2021-02-22 21:36] digitalken opened #20300 "VoiceControl (iOS) can not Save or Cancel in Personal Information Edit Screens or Back button on Personal Information page"
## What happened?
iOS is not recognizing the Save or Cancel buttons in the header on the Personal Information edit screens (for Addresses and Phones).
iOS is not recognizing the Back button on the Personal Information page.

Saying "Tap Cancel" or "Tap Save" or "Tap Back" are not working.  Saying "show numbers" lights up the screen with those elements that iOS will recognize for VoiceControl.  Can

[2021-02-22 21:39] #18786 closed

[2021-02-22 21:40] abuckley3385 commented on #19649
@dillo  can you post a link so I can review prior to sprint planning in the morning

[2021-02-22 21:41] omgitsbillryan commented on #15687
I started deep-diving on this one, and so far, I hate all my solutions 😄

- disabling the nginx check altogether --- exposes us to some DOS attacks
- conditionally adding `Access-Control-Allow-Origin` response header if it doesnt exist --- seems rather clunky since these CORS headers are more intricate than that and I don't pretend to know all the subtle nuances of how these headers work

I think

[2021-02-22 21:41] mnorthuis commented on #19281
@RLHecht We will follow up with you and team outside of this ticket.  For the sake of this particular review, there are no IA blockers or feedback.

[2021-02-22 21:45] billfienberg commented on #13287
PR to remove the content hash from the prod version of the Medallia custom CSS file: https://github.com/department-of-veterans-affairs/vets-website/pull/16111

Staging CSS URL: https://staging-va-gov-assets.s3-us-gov-west-1.amazonaws.com/generated/va-medallia-styles.css

Prod CSS URL: https://prod-va-gov-assets.s3-us-gov-west-1.amazonaws.com/generated/va-medallia-styles.css

[2021-02-22 21:45] Mottie opened #20301 "526 POW confinement validation issue"
## What happened?

On form 526, when a Veteran enters a period of confinement date range, it must fall within a service period block, or a validation error is shown. Currently, the entered service periods are not available to the confinement page and thus the validation is never shown (on the POW confinement page itself), or always shown (confinement block on the review & submit page).

![bug](htt

[2021-02-22 21:51] digitalken commented on #19956
PASS 2/22/2021 - As seen in Designs...  Closing.

[2021-02-22 21:51] #19956 closed

[2021-02-22 21:53] digitalken commented on #20063
PASS 2/22/2021 - VA rather than VAW.  Closing.

[2021-02-22 21:53] #20063 closed

[2021-02-22 21:53] msmanak commented on #19706
Validation required:
#1: Correct

#2: should the mobile alert disappear when all field errors are resolved on the form? This one

#4 E & F: are these differentiators for zip code errors correct? Yes correct.

[2021-02-22 21:54] digitalken commented on #19459
PASS 2/22/2021 - As noted, my failure was a dupe.  Closing.

[2021-02-22 21:54] #19459 closed

[2021-02-22 21:56] mchelen-gov commented on #19321
for reference: https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/blob/master/teams/vsa/teams/caregiver/architecture-diagram-as-of-june-15-2020.pdf

[2021-02-22 21:58] vbahinwillit commented on #19686
@laurenernest - Sorry for the late reply. The URL is "http://localhost:3001/health-care/schedule-view-va-appointments/appointments/new-project-cheetah-booking/contact-facilities".

[2021-02-22 21:59] mmiddaugh opened #20302 "Facilities found outside map when using Search this area button"
## What happened?
Please see [this Loom](https://www.loom.com/share/bae53b16a6af4b238790d0ea2ec1d57f).

# Steps to reproduce

1. Search with parameters: Polson, Montana + Community care providers + Optometrist
2. After a successful search, drag the map to the east until the "Bob Marshall Wilderness" appears in the center, and initiate a new search using the "Search this area button".

Matching loc

[2021-02-22 22:03] shiragoodman opened #20303 "Add section for artifacts in Collab Cycle Kickoff ticket"
Upon launch of the Custom Tracks on 2/19/2021, we noticed that we did not include a section for VFS PMs to attach artifacts that they may have available in the Collaboration Cycle Kickoff issue template.

Allison:

- [x] Modify Collaboration Cycle Kickoff template to include section (after Steps, before Questions) for VFS team to attach artifacts (if available).
- [x] Submit PR and assign to Peggy

[2021-02-22 22:06] laurenernest commented on #18732
@LanceGundersen @grossb1 var-resources 4.27.2 was deployed and verified in Production today. we're good to proceed with our changes.

[2021-02-22 22:10] komaly15 commented on #20085
Note for QA: for this story please go through the app and verify vertical margins are still correct, and verify all buttons still look as what is specified in designs

[2021-02-22 22:12] mmiddaugh opened #20304 "[DISCOVERY] FE build process from CMS to VA.gov"
## Issue Description
We need to understand the build process from CMS to VA.gov, including how new pages are added to the system to inform our work with VAMCs and the creation of the new Vet Center pages.

---
## Tasks
- [x] Review existing documentation related to the build process, if any is available
- [ ] Identify any gaps in understanding/documentation and work with CMS/Public Websites team t

[2021-02-22 22:17] laurenernest commented on #19686
@vbahinwillit Thanks! I left a note in the description and waiving this AC for this ticket.

[2021-02-22 22:19] mmiddaugh opened #20305 "[DISCOVERY] Identify and confirm VAMC environmental checks"
## Issue Description
Environment checks are sometimes unneeded and can cause difficulty troubleshooting or confusion for content editors when the behavior in one environment is different than another

---
## Tasks
- [ ] Identify environment checks used for VAMC pages
- [ ] Cross-reference content documentation to confirm need for check
- [ ] Document questions regarding intended behavior
- [ ] Doc

[2021-02-22 22:30] annaswims commented on #10524
The error responses we've seen from MPI in the past two weeks are (with counts)
[code]

[2021-02-22 22:31] mviterna commented on #18728
@MarciMcGuireGCIO @zacharymorel @swirtSJW @johnhashva  Hey all, I apologies the length of time it took to get this resolved. Being new to the workflow, our team had several hurdles and processes to get over to get set up. Once we were, it took some time getting familiar with the code. I think I have it fixed. The problem was we were hitting a timeout on Sandbox (which is where staging points, for

[2021-02-22 22:31] mmiddaugh commented on #18911
Blocked by need to scrub data formatting (pipes)

[2021-02-22 22:40] mchelen-gov opened #20306 "Send full broken link list in Slack notification"
Currently slack alerts only link to Jenkins build, and the user must read through the Jenkins log to see what they are.

AC
- [ ] Slack alerts are sent for broken links in production build on `master` branch
- [ ] Alerts include link to Jenkins build
- [ ] Alerts include full list of broken links

[2021-02-22 22:45] johnhashva commented on #18728
@mviterna I just validated 21-674 Online Tool link is now showing up in staging.va.gov.    @MarciMcGuireGCIO may as well take a look yourself in the AM so we can close.    Thanks for the fix @mviterna !

[2021-02-22 22:47] MarciMcGuireGCIO commented on #18728
I just validated too. Thank you @mviterna and @zacharymorel!

[2021-02-22 22:52] mchelen-gov commented on #20306
Approach: use `slackUploadFile()`
Result: could not determine appropriate path, see https://github.com/department-of-veterans-affairs/va.gov-team/issues/19678

Approach: use `slackSend()` with `attachments` parameter
Result:  needs to be formatted into JSON, errors out with `ERROR: Slack notification failed with exception: net.sf.json.JSONException: Invalid JSON String`
see https://stackoverflow.c

[2021-02-22 22:57] peggygannon commented on #14096
HI, @laurenernest Here's slight update to the message proposed above:

 You need to have visited this facility within the past 12 months for {type of care selected} to request an appointment for this type of care.

[2021-02-22 22:57] mviterna commented on #18728
Great. I'll close the Jira item if someone here wants to close GH

[2021-02-22 22:59] bmcgrady-ep commented on #17683
### QA Testing

Data Layer Event | DL Screenshot | GTM Tag Screenshot | Test Status
------------ | ------------- | ------------- | -------------
fl-search-results | ![image](https://user-images.githubusercontent.com/66263904/108781043-88d80e80-7526-11eb-8570-60029ce87866.png)| ![image](https://user-images.githubusercontent.com/66263904/108780993-72ca4e00-7526-11eb-80b3-780e26550856.png)| ✔️ **PASS

[2021-02-22 22:59] #18728 closed

[2021-02-22 23:00] MarciMcGuireGCIO commented on #18728
Closed!

[2021-02-22 23:00] 1Copenut commented on #19616
@mshea0606 Yes, it reads as a design system issue. We have a ticket started here: https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/396

[2021-02-22 23:01] bmcgrady-ep commented on #16643
### QA Testing

Data Layer Event | DL Screenshot | GTM Tag Screenshot | Test Status
------------ | ------------- | ------------- | -------------
fl-search-results | ![image](https://user-images.githubusercontent.com/66263904/108781043-88d80e80-7526-11eb-8570-60029ce87866.png)| ![image](https://user-images.githubusercontent.com/66263904/108780993-72ca4e00-7526-11eb-80b3-780e26550856.png)| ✔️ **PASS

[2021-02-22 23:04] 1Copenut commented on #18389
@zacharymorel Hm, I'm seeing `<strong>` tags inside the H2 on the prod link you sent. LMK if you want to discuss in person. We can schedule a short call or VSP Product Support has office hours on Wednesday at 11:30am Eastern Time if that works better.

[2021-02-22 23:09] mmiddaugh commented on #18351
Per Chris Valarida, the current forms library is not a good option for the Facility Locator as it is really intended for the digitization of paper forms[Slack thread here](https://dsva.slack.com/archives/G01PBG4D397/p1614030445000100)
Any improvements to the current forms library likely won't be available for early adoption until probably Q3 at the earliest.

[2021-02-22 23:09] mmiddaugh commented on #18908
Per Chris Valarida, the current forms library is not a good option for the Facility Locator as it is really intended for the digitization of paper forms[Slack thread here](https://dsva.slack.com/archives/G01PBG4D397/p1614030445000100)
Any improvements to the current forms library likely won't be available for early adoption until probably Q3 at the earliest.

[2021-02-22 23:16] mmiddaugh opened #20307 "[CONSIDER] `operationalHoursSpecialInstructions` field for VAMC"
## Issue Description
VAST administrators have included a new `operationalHoursSpecialInstructions` field that is now in Lighthouse.

![operational status](https://user-images.githubusercontent.com/55411834/105556756-e5e26980-5cc7-11eb-85dd-56ac73acca56.jpg)

There are 4 possible options that could be concatenated from VAST:
- Administrative hours are Monday-Friday 8:00 a.m. to 4:30 p.m.
- Expanded

[2021-02-22 23:26] mleclerc00 commented on #19972
closing request

https://dsva.slack.com/archives/CBU0KDSB1/p1614016425026700

[2021-02-22 23:26] #19972 closed

[2021-02-22 23:34] msmanak opened #20308 "TTY Content Language"
## User story

## Suggested:
“We weren’t able to find information about your VA letters.
If you should be able to access this information, please call VA Benefits and Services. Tap the first link to make a voice or TTY call. Tap the second link if you would like help making a TTY call.”

[2021-02-22 23:38] laurenernest opened #20309 "Analytics Implementation or QA Support for VAOS (VAOS for Distribution Initiative)"
# Google Analytics Implementation or QA Request

## What this form is for

<details>
<summary>More Information</summary>
<div>
    <br>
<p>Use this template to request Google Tag Manager and Google Analytics implementation or QA for your product. Please fill out all brackets.</p>

For more information, please check out the [Google Tag Manager resources](https://github.com/department-of-veterans-af

[2021-02-22 23:43] laurenernest commented on #20309
This might end up being mostly for GA reports, but created a ticket just in case additional work is needed.

[2021-02-22 23:43] ltrombley commented on #20288
Task #20288 - [Dual-State-Prep] Prepare Philadelphia Health Care VAMC for Dual State is Complete and moved to Validate
3 Orphaned Facilities pulled in:
1. Philadelphia VA Domiciliary
2. Chestnut Street VA Clinic
3. Fourth Street VA Clinic

[2021-02-22 23:47] bridgethapner commented on #20017
@emily-mann mentioned today that which sign in type folks use on MHV (sso or not sso) might be a characteristic to consider here as well for MHV accounts. Many folks who use MHV have an MHV account but not one of the other two types.

Another thing to look into is how a MHV account might influence a user's ability to access non-MHV features like Claims -- I have heard that this is something to thi

[2021-02-22 23:50] mmiddaugh commented on #16513
Hi @1Copenut if you're able to take a peek at this new feature in Staging while Josh is out, we'd love your input on:

- focus flow (it's an image, rather than a button so we'll need to apply it manually.)
- how to announce for screen readers

Basically, it has been implemented without either so we can determine the best approach by looking at it in Staging and kicking the tires, so to speak.

[2021-02-22 23:51] bsmartin-ep commented on #20270
Funnel dataset has been backfilled and scheduled.  Closing...

![image](https://user-images.githubusercontent.com/62304138/108785204-ef692680-753e-11eb-8b0a-485e4303f9e5.png)

[2021-02-22 23:51] #20270 closed

[2021-02-23 00:00] ncksllvn commented on #18389
Would using a `span` instead of a `strong` tag make any difference?  Right now it might say `<h2>Showing <strong>two</strong> results</h2>` but what if it said `<h2>Showing <span class="vads-u-font-weight--bold">two</span> results</h2>`? That way the 508 issue is fixed but we can keep the bolded keywords.

[2021-02-23 00:12] bridgethapner commented on #19533
I think we need 2 new screens to meet this requirement: 1 for Claims and 1 for Appointments/Secure Messaging that block access to those sections of the app when a user is not authorized to use those services and replicate the content shown in the web screenshots above. I started a Mural to track screenshots and content for this plus any other "unhappy paths" or errors we want to offer a unique sta

[2021-02-23 00:12] #19533 closed

[2021-02-23 00:18] bridgethapner commented on #20017
@patrickvinograd :wave: I would love to learn from your identity knowledge to help take next steps on this ticket. Essentially I'm looking to understand when and why identity issues might occur based on the characteristics of a user's credentials. I know you are currently busy on Secure Messaging, so no worries if you don't have the capacity now, I can follow up next week. cc @lexicalninja

[2021-02-23 00:21] digitalken commented on #20127
PASS 2/22/2021 - Sounds good.  closing.

[2021-02-23 00:21] #20127 closed

[2021-02-23 00:24] digitalken commented on #19748
Dev task - Closing 2/22/2021.

[2021-02-23 00:24] #19748 closed

[2021-02-23 00:27] bridgethapner commented on #14621
I think we can close this, we have instructions for Test Flight made

[2021-02-23 00:27] #14621 closed

[2021-02-23 00:27] digitalken commented on #18086
PASS 2/22/2021 - Looks good in random sampling, both iPhone and Android. closing.

[2021-02-23 00:27] #18086 closed

[2021-02-23 00:34] bridgethapner commented on #20016
Update: we heard from an internal tester with all 3 cred types on Friday that data is appearing the same across credential types. I think the next steps are using this ticket to do discovery work to identify any remaining authentication issues..

[2021-02-23 00:40] bessgreen commented on #20223
@bridgethapner thank you!

Added a new requirement (AC #2) to remove the disabled state on the checkbox, so it's always active even if the user has not completed the form.

Also - based on some of Danielle's copy changes in the prototype, there are a few areas where she's requested we remove "Please". Should we do the same for these field errors?
     - Ex: "Please enter the bank's 9-digit routing

[2021-02-23 00:59] kathleencrawford commented on #15155
https://github.com/department-of-veterans-affairs/vets-api/pull/5980

[2021-02-23 01:02] laurenernest commented on #20076
@marcynadeau In step 2 of the Steps to Recreate, you mention "VAOS will display the following" I want to clarify if you're saying it currently does this or if this is your suggestion.

[2021-02-23 01:05] bridgethapner commented on #20223
Thanks @bessgreen! The web uses "please" for DD text so my gut is to leave it here unless Danielle specifically says we should remove it - let's ask her POV on that in our follow-up conversation about open Qs.

[2021-02-23 01:33] SKasimow opened #20310 ""Stay Informed" Widget is Translated to Spanish"
# The "Stay Informed" widget should be displayed in spanish on the spanish Vaccine page:

![Screen Shot 2021-02-22 at 8.32.56 PM.png](https://images.zenhubusercontent.com/5fb57aafa11eae0592a15cb1/72ed106c-97e9-4f0e-8760-bc7a042554ec)

Note: it will link to english sign-up form.

# **User Story**

# ** Scenario 1: **

As a user viewing the spanish version of the Covid Vaccine page (insert link) I w

[2021-02-23 01:36] SKasimow commented on #20310
@youngfreezyVA - let me know if there is anything specific that needs to be defined once you have a chance to review.
I assume analytics can be copied over from English widget.

[2021-02-23 01:45] SKasimow commented on #20212
@youngfreezyVA - can you work on this after Covid page? We expect this to be the next request.

[2021-02-23 01:48] bessgreen opened #20311 "Update checkbox CC: add error state"
## Acceptance Criteria
1. Update the checkbox common component to include an error state
2. UI details:
     - Border: solid, #CD2026
     - Width: 2px
     - Error text: Mobile Body Bold, #CD2026
3. Scenarios when this error state will appear:
     - Checkbox is unselected, and user tries to "Save" the form
     - Checkbox is selected, then unselected

## Designs
https://adhoc.invisionapp.com/sha

[2021-02-23 02:20] youngfreezyVA commented on #20125
hi @SKasimow can you let me know which colors to use for which states? ie clicked, hover, page load

[2021-02-23 02:39] youngfreezyVA commented on #20212
yes or sure

[2021-02-23 02:58] sporeboy commented on #19728
@Samara-Strauss @mshea0606 If we want to test the transactional aspect of the DD-EDU feature, we'll need to be sure a change can be made. That's why I put in the stipulation about recruiting people who need to change their DD.

That said, I'm OK if we don't want to test that part of the tool, and I've changed the recruiting requirements accordingly.

I've revised the requirements to reflect other

[2021-02-23 03:56] bcastoe commented on #19712
02222021 - Martinsburg Caregiver/Coordinator data collected and data loaded to Drupal; completed and moved to validate

[2021-02-23 04:03] #18477 closed

[2021-02-23 05:13] #19625 closed

[2021-02-23 06:27] mpelzsherman opened #20313 "Facility Locator Refactoring"
The Facility Locator code (src/applications/facility-locator) is in need of some refactoring:

1. actions/index.js is too large. It should be broken up into functional groups, e.g.
  - searchActions
  - mapActions
  - geolocationActions

2. utils/SearchAreaControl.js should be converted to a React component
  - use conditional rendering instead of CSS to show/hide

3. Get rid of separate rendering

[2021-02-23 06:44] larrywest52 commented on #19641
Reviewed all pages and posted internal review doc to our team's Google Drive.

[2021-02-23 13:23] #19612 closed

[2021-02-23 13:45] johnhashva commented on #15043
@leahkeeler validated -- and you can close this one.  Thanks.

From: Gatti, Molly A., VBAVACO <molly.gatti@va.gov>
Sent: Monday, February 22, 2021 6:59 PM
To: Hashimoto, John <John.Hashimoto@va.gov>; Pearson, Richelle, VBAVACO <richelle.pearson@va.gov>
Cc: Self, Matthew <Matthew.Self2@va.gov>; Braddock, Nicholas, VBAVACO <Nicholas.Braddock@va.gov>; lkeeler@governmentcio.com
Subject: RE: Va.gov add

[2021-02-23 13:49] mshea0606 commented on #19616
ok thanks @1Copenut!  cc/ @erikphansen @sporeboy

[2021-02-23 14:05] #18092 closed

[2021-02-23 14:14] micahchiang commented on #18983
PR - https://github.com/department-of-veterans-affairs/vets-website/pull/16130

[2021-02-23 14:26] dillo commented on #19649
cc: @abuckley3385
https://docs.google.com/spreadsheets/d/17qKQl_plHjMW8mXONlfv6bk_wmH8cE3DHh8QerkFgrY/edit?usp=sharing

[2021-02-23 14:32] #12638 closed

[2021-02-23 14:33] #12456 closed

[2021-02-23 14:43] abuckley3385 opened #20315 "Stakeholder & SME Interviews for HealthRecord Discovery"
- [ ] Complete [interview list on this page](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/discovery/health-record/interviews.md) to inform our research and priorities
- [ ] Document Notes from each session
- [ ] Include in Key findings for Stakeholders Research

[2021-02-23 14:47] jonathanjnelson opened #20316 "[Research] Synthesize Usability Findings for Sign as a Representative"
## Description

_Synthesize research findings_

## Acceptance Criteria

- [x] _Transfer notes to "notes-folder" from Preigean_
- [x] _Topline summary_
- [x] _Draft of findings_
- [x] Finalize findings_
- [x] _Create deck_
- [x] _Readout to Caregiver program team_

[2021-02-23 14:55] leanna-usds opened #20317 "Rx Refill Discovery Planning"
- Deep dive into current app functionality
- Moving away from Rx Norm to First Databank - what does that mean?

[2021-02-23 14:55] #18331 closed

[2021-02-23 14:56] #20184 closed

[2021-02-23 14:59] leanna-usds commented on #20317
Lauren Alexanderson (7813663643)  9:54 AM
Get Care is further delayed.
[8:21 AM] 2. The prescription benefit management team (PBM) is moving away from using RxNorm to using something called First Databank
FDB (First Databank)
Drug Data Integration | Drug Database API | FDB (First Databank)
FDB has several integration options for its drug knowledge in healthcare IT systems: program to the drug know

[2021-02-23 15:02] #18821 closed

[2021-02-23 15:02] #20087 closed

[2021-02-23 15:12] jonathanjnelson opened #20318 "[Design]: Design details and customize copy and/or error messaging for the "upload" component in 10-10CG"
## Description

_Work with Justin to make sure the upload feature in the 10-10CG is optimized for the use case_

Note, I (Shawna) recommend this ticket happen *after* Justin pulls in and codes the basic upload pattern from other forms (e.g. the 21-526EZ) so we can play around with what works and doesn't from our form

## Acceptance Criteria

- [ ] _Reserach error states_
- [ ] _Allign with content

[2021-02-23 15:25] jonathanjnelson opened #20319 "[Design]: Research long submission times solutions, patterns, and implementations Across VA.gov"
## Description

_Research and document spinner and loading indicator patterns across VA.gov _

## Acceptance Criteria

- [ ] _Document patterns used_

[2021-02-23 15:31] jonwehausen commented on #15757
Thanks here team! We have confirmed [this page](https://staging.va.gov/careers-employment/vocational-rehabilitation/apply/introduction) is the only case of YouTube tracking within the wizard(s) to-date.

After further discovery this AM, it looks as though the UX for the YouTube video embed has changed since we last visited [this page](https://staging.va.gov/careers-employment/vocational-rehabilita

[2021-02-23 15:35] Samara-Strauss commented on #19728
It *should* be ok to have them update with the same info, since that still needs to hit the backend, save, and show in their profile. We tested this way for direct deposit for comp & pen, and it worked out just fine, but please feel free to ask Erik or Lihan more about this and whether there is a fundamental enough difference between updating with the same info vs. changing altogether that we need

[2021-02-23 15:37] jonwehausen commented on #15757
Also tagging VFS devs here for awareness: @micahchiang @cohnjesse

[2021-02-23 15:43] jonathanjnelson opened #20320 "[Design]: Design User Experience for Long Submission Times for the 10-10CG"
## Description

_Design and document solutions for long submission times for the 10-10CG _

## Acceptance Criteria

- [ ] _Design solution_
- [ ] _Mockup UI_
- [ ] _Sync with content (if needed)_
- [ ] _Approval from product_
- [ ] _Handoff to FE_

[2021-02-23 15:43] jonathanjnelson commented on #20320
[For awarness](https://app.zenhub.com/workspaces/vsa---caregiver-5fff0cfd1462b6000e320fc7/issues/department-of-veterans-affairs/va.gov-team/18736)

[2021-02-23 15:44] jonathanjnelson commented on #20319
For awareness: https://app.zenhub.com/workspaces/vsa---caregiver-5fff0cfd1462b6000e320fc7/issues/department-of-veterans-affairs/va.gov-team/18736

[2021-02-23 15:49] kristenmcconnell commented on #20095
Think through how we can jump between sections of the questionnaire.

[2021-02-23 15:54] mdewey commented on #16574
Carrying into next sprint because:

- Waiting on test data
- the PR approval Process is slow for back-end tickets.

[2021-02-23 15:57] RLHecht commented on #17826
Noting that the content work we are doing is in ticket #20096

[2021-02-23 16:01] laurenernest commented on #20080
@jbalboni From a technical perspective, does this overlapping appointment check have to happen on click of confirm appointment at the final step?

[2021-02-23 16:02] #17960 closed

[2021-02-23 16:04] #19615 closed

[2021-02-23 16:05] lealester commented on #19346
Unable to test in Tugboat: Max J. Beilke Department of Veterans Affairs Outpatient Clinic

[2021-02-23 16:05] #19655 closed

[2021-02-23 16:09] #20294 closed

[2021-02-23 16:09] vhenry07 commented on #19745
Summary complete.

[2021-02-23 16:09] #19745 closed

[2021-02-23 16:10] ncksllvn commented on #20170
Is this for sure work for Public Websites and not the Search team?

[2021-02-23 16:16] joanneesteban commented on #18785
For the VSP team: [notes](https://dsva.slack.com/archives/CKCRMLGAC/p1613756008171800) to transition from Jon back to Jason

[2021-02-23 16:17] #19531 closed

[2021-02-23 16:17] johnhashva commented on #20170
@ncksllvn unclear to me -- and so @brianalloyd will surface this a topic of quick discussion/assessment with you at Sprint Planning this week.

[2021-02-23 16:20] msmanak commented on #20173
## Update
Buttons/links, menu items **do not need** "double tap to activate" announcement

edit fields | switches **needs** "double tap to activate" announcement

[2021-02-23 16:21] Samara-Strauss opened #20321 "[Github] Request for updates to /products/identity-personalization/my-va/2.0-redesign/discovery-and-research/"
## Background

We need to clean up and consolidate our research efforts on the My VA 2.0 redesign under the /products/identity-personalization/my-va/2.0-redesign/discovery-and-research/ folder. These are the changes I am requesting:

- **Under /products/identity-personalization/my-va/2.0-redesign/discovery-and-research/** Please take everything in there now and place it in a sub-folder: discovery-

[2021-02-23 16:24] jbalboni commented on #20080
@laurenernest We on the FE have no way of knowing this ahead of time. This is a var-resources error, it needs to be fixed in the backend. They need to:

1. Send us a 400 level error when this happens, instead of a 500 error
2. If possible, don't send us timeslots that a user can't schedule into because there's an overlapping appointment

[2021-02-23 16:27] zacharymorel commented on #19601
@MarciMcGuireGCIO do you still have the data of the top queried forms that "I queried this form but what form I meant" value?

[2021-02-23 16:27] #16411 closed

[2021-02-23 16:33] MarciMcGuireGCIO commented on #19601
Yes, I'll send on Slack.  I combined the different variations to re-rank the most popular forms.

[2021-02-23 16:39] sporeboy commented on #19798
Research plan and conversation drafts are available for review.

Research Plan: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/ebenefits/features/apply-for-home-loan-COE/research-design/discovery-interviews/coe-discovery-research-plan.md

Convo Guide: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/ebenefits/featu

[2021-02-23 16:40] bsmartin-ep commented on #14488
@joeniquette / @jonwehausen -

Here is the updated event structure for components we are currently working on.

The big question is if there is a risk automatically sending text from these components into Google Analytics.  Is there ever PII/PHI in modal titles, button text, link text, radio button lists _etc._?

### Modal

[code]

### Additional Info

[code]

### Alert Box links

[code]

### Prom

[2021-02-23 16:41] kevinmirc commented on #18849
I tested this in the RI and it worked as expected. Good to merge :thumbsup:

[2021-02-23 16:42] kevinstachura commented on #19479
Based on conversations with Paul Schute and Nancy Hogan, we should be able to successfully 'nest' the reserves data into the military service history page. Here is a mockup of what that might look like:

https://vsateams.invisionapp.com/share/9Y10APGURJSV#/445677373_BDD_Military_History_-_Reserves_-_Concept

This will be added to the list of 526 enhancements to test with veterans.

[2021-02-23 16:42] #19479 closed

[2021-02-23 16:48] 1Copenut commented on #15247
@mshea0606 I'm not seeing any issues attached to this audit. Has it been completed, or should I reopen it and work with the VSA specialists to get it started?

[2021-02-23 16:51] jhouse-solvd opened #20322 "EKS - Set up DEV cluster that allows other teams to deploy applications"
## Description
Let’s see if we can get a DEV EKS cluster running for application teams to deploy to. Right now, we have a couple of teams that have some testing apps that are not yet running in production, and this environment will be a great place for them to bring up these new apps, and it will help ops in setting up deployment pipelines for applications that are not owned by Ops.

Right now, we

[2021-02-23 16:54] jbritt1 commented on #19331
Newly linked PR shows an email I received this morning about pertaining to this external business partner / connection.

[2021-02-23 16:56] theodur commented on #20100
PR: https://github.com/department-of-veterans-affairs/va.gov-team/pull/20312

[2021-02-23 16:57] erikphansen commented on #19552
@joshkimux ready to validate on staging.

[2021-02-23 16:57] erikphansen commented on #19570
@joshkimux ready to validate on staging.

[2021-02-23 16:58] erikphansen commented on #19764
@joshkimux ready to validate on staging.

[2021-02-23 16:58] bsmartin-ep commented on #20245
Sam has been added to the correct DOMO group.  Closing...

[2021-02-23 16:58] #20245 closed

[2021-02-23 17:00] zacharymorel commented on #19601
@MarciMcGuireGCIO So, out goal here is to really hone down on when a consumer queries "1010ez", do we always want that to translate to "10-10ez*" ?

[2021-02-23 17:12] mgleo commented on #12336
[Search Readout PDF](https://app.zenhub.com/files/133843125/ac6530c0-512e-4693-9098-4b2677dda696/download)

[2021-02-23 17:12] #12336 closed

[2021-02-23 17:14] lunascoop commented on #20088
Hi @ncksllvn and @kelsonic. This redirect is scheduled for **03/04**. Stakeholders have been notified. Also, please see Mikki's most recent comment about casing. Thanks!

[2021-02-23 17:16] mgleo commented on #12335
[Topline Summary](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/on-site-search/research/user-research/research-study-jan-2021/topline-summary.md)

[2021-02-23 17:16] #12335 closed

[2021-02-23 17:17] jbritt1 commented on #19331
Seems there are also some successes being observed in staging at this time (redacted ip addresses just in case):

![image.png](https://images.zenhubusercontent.com/5d9b3f56add771000187d3a8/9af0d08f-b99a-42a8-b516-f142aac59d27)

[2021-02-23 17:18] peggygannon opened #20323 "Identify content issues found during staging reviews"
Create documentation on launch-blocking content issues.

[2021-02-23 17:24] jbritt1 commented on #19331
Never mind, another team member tested and is still seeing errors in staging :\

[2021-02-23 17:26] kellylein opened #20324 "Request access to Google Analytics"
# Request Google Analytics and/or Domo access

## What this form is for
I would like access to the VA.gov Google Analytics so I can ensure that the Lighthouse metrics match the VA.gov metrics for Appeal submissions.

## User Email Address
Please link this issue to the DSVA Slack channel [#vfs-platform-support](https://dsva.slack.com/channels/vfs-platform-support), add VSP Analytics & Insights to y

[2021-02-23 17:27] LinnJS commented on #20296
Conversation with platform [here](https://dsva.slack.com/archives/CE4304QPK/p1614100991013800?thread_ts=1614100864.013000&cid=CE4304QPK)

[2021-02-23 17:37] bridgethapner commented on #18765
Hi there @DanielleThierryUSDSVA ! I have added you to a Mural board labeled **Mobile App: Content** that has screenshots of the Claims File Upload flow and the work Meli is doing around TTY. Please let me know if you have any issues accessing it. As a heads up, @msmanak will be refining the Claims File Upload UX, so what we have in the Mural will change. But I still wanted to go ahead and share wh

[2021-02-23 17:38] MarciMcGuireGCIO commented on #19601
I'll ask @johnhashva to also chime in, but you could do a transformation on the search term and CMS form name to do an apples to apples comparison.  That transformation would nullify spaces, special characters, the word "VA" and the word "form"  and convert lower case to upper.  Nothing would change in how we display those, but during the actual comparison, you'd be comparing the two transformed t

[2021-02-23 17:46] ksantiagomorgan6 commented on #20067
PR: https://github.com/department-of-veterans-affairs/gibct-data-service/pull/792

[2021-02-23 17:46] bridgethapner commented on #18765
I also just want to loop in @ayushchak, our Product Lead, into this ticket for visibility! Ayush, Danielle is helping us refine and revise content across the app :tada: We are using a combo of the old Invision prototype + a Mural board to show Danielle the app.

[2021-02-23 17:52] ianMcCullough-ob commented on #20199
| Tag Values                     | Screenshot                                                   | Status |
| ------------------------------ | ------------------------------------------------------------ | ------ |
| survey--submission             | ![Screen Shot 2021-02-23 at 12.29.31 PM.png](https://images.zenhubusercontent.com/5f8db741ece9322d39872b91/24764320-da74-4d83-a624-af0916e704a2) |Pass|

[2021-02-23 17:54] kevinstachura commented on #19477
After chatting with Paul Schute and the BDD team, it was clear that surfacing the information specific to FDC is not necessary in the flow. We have created these solutions:

1. For BDD, it is completely unnecessary to ask about FDC. It does not affect their claim processing and thus **we will not show this screen at all**.
2. For regular 526 filings, it is still relevant and necessary. However, th

[2021-02-23 17:54] #19477 closed

[2021-02-23 18:16] noahgelman commented on #19802
@jbalboni Hidden focused elements are not ideal since their outline/border that typically displays when focused is not visible. Users can lose track of where focus is and get confused. Is your change available for me or Trevor to check out?

[2021-02-23 18:27] sshein commented on #19477
@kevinstachura definitely much simpler and better, but I think the copy might still confused veterans a little - they might be like "um, I'm not sure if I've uploaded everything I'm supposed to, how would I know?"... maybe the question can be more clear, like "Are you waiting on any documentation that you will need to submit later" with a Yes/No.

[2021-02-23 18:28] ala-yna commented on #16354
I have a new laptop and generated a new SSH key. That key is:

`AAAAB3NzaC1yc2EAAAADAQABAAABgQDCCB7w9FRhsqOcHaYYiNddI6iROwQd2hfvg68TG5suImNbg1EDBw910nRFtU5BHFz5Xs79IgS9gLbI3dg8DITzwym6URvoPAIFJ4FwD0msJHlkLTFqT1wDUXac5qlNilwezDINgOK9GQMG5m4AsPfstBtOEDc2peAC42M7Ur5FLJHvdDOWs/WU6rPH7nXGNloCzgT0JbqkjRzLg9VBkseVlb6LtBUeZq1TdZKgsqL++Xnp50RncLrLJghSV/x4/6s7WKVVnjb8JT3X2tzLNwCIvVw3S/2ilPdp5V91bBqx2alkeUFy

[2021-02-23 18:28] sshein commented on #19477
Are you making another ticket to nail down the design/copy? may be worth tagging Danielle or Beth quickly to get their thoughts

[2021-02-23 18:29] annaswims commented on #18379
fixed in https://github.com/department-of-veterans-affairs/vets-website/pull/15983/files

[2021-02-23 18:29] #18379 closed

[2021-02-23 18:30] annaswims commented on #18379
![image (13)](https://user-images.githubusercontent.com/19188/108890207-46243e00-75db-11eb-96d7-8b0993b8f37b.png)

[2021-02-23 18:32] mchelen-gov opened #20325 "CMS Export Retrospective"
WIP meeting agenda for March/April
# Ground Rules
**Regardless of what we discover, we understand and truly believe that everyone did the best job they could, given what they knew at the time, their skills and abilities, the resources available, and the situation at hand.**

# Background

# Timeline

| Date | Event | Reference |
| --- | --- | --- |
| Nov 2019 | Superteam formed | [Charter](https:/

[2021-02-23 18:48] laurenernest commented on #18893
@jbalboni Based on the spike #19282, do we have a technical preference on how we make these improvements?

[2021-02-23 18:49] #17104 closed

[2021-02-23 18:57] sporeboy commented on #19798
Reviewed by Shawna; feedback implemented.

[2021-02-23 18:58] peggygannon commented on #20228
Hi, @caw310 I'm not able to access the Accordion component with this link.  I want to confirm that this is the correct link posted above? https://dev-design.va.gov/storybook/?path=/docs/components-va-accordion--default.

I'm getting this message:

![2021-02-23](https://user-images.githubusercontent.com/17554224/108893354-d9527900-75c5-11eb-87de-22db5ada1535.png)

[2021-02-23 19:00] jbalboni commented on #19802
@noahgelman The most current version is up on staging, I haven't made any changes since Trevor opened the issue.

Maybe we should put some actual header text in the card itself, @outerpress. Something like "Selected provider." It just feels like if you're navigating through headings, hearing "heading level 1, Tell us your community care preferences, heading level 2, Smith, John" is confusing.

Or

[2021-02-23 19:01] mpelzsherman commented on #20325
Additional topic suggestions:

- What were the original assumptions that led to the decision to move forward with the transformers?
- Could these have been verified sooner?
- What communication issues contributed to delays in reaching a decision to pursue alternative approaches?

[2021-02-23 19:01] kevinstachura commented on #19477
@sshein this:

Is certainly _clearer_. It's representative of how we want to approach this, which is "did you submit everything that **you** have to support this claim, or no?" rather than the concept of "did you submit everything VA **needs** to make a decision on this?" which is almost impossible for them to answer, and pretty much impossible info for us to _give_, given all the nuances case-by-

[2021-02-23 19:07] Kimberley2019 commented on #15516
@clantosswett have you received any additional information on this particular ticket?  Does the work that @starlow00 is currently doing for COVID-19 relate to this body of work as well?

[2021-02-23 19:08] sshein commented on #19477
exactly this 💯 : "It's representative of how we want to approach this, **which is "did you submit everything that you have to support this claim, or no?" rather than the concept of "did you submit everything VA needs to make a decision on this?" which is almost impossible for them to answer,** and pretty much impossible info for us to give, given all the nuances case-by-case of what VA might need.

[2021-02-23 19:08] Kimberley2019 commented on #17925
Phase two is currently in progress.

[2021-02-23 19:10] omgitsbillryan commented on #15687
I hacked this together ☝️ which really only fixes the error messaging. I think we need a more comprehensive solution to allow for large uploads while also not exposing us to DOS attacks.

[2021-02-23 19:10] sshein commented on #19477
Maybe "Is there additional documentation you don't have on hand now, but would like to submit later?" or something to that effect

[2021-02-23 19:11] Kimberley2019 commented on #16062
Will review with VEO once the IVR messaging decision has been made.

[2021-02-23 19:22] caw310 commented on #20228
@peggygannon , it seems that a merge overwrote that page. Brooks has updated it so give it a few minutes and try again.

[2021-02-23 19:23] bramleyjl opened #20327 "Refactor User Model Address"
## Issue Description
As part of a larger refactoring of the `User` model the logic around accessing a user's address/location information should be cleaned up. The larger User model refactoring/`va_profile` elimination story can be found here: **https://github.com/department-of-veterans-affairs/va.gov-team/issues/18740**

---
## Tasks
- [x] Replacement of all instances where `user.va_profile.addre

[2021-02-23 19:24] jwoodman5 commented on #17950
Started conversations to understand our current outage notification procedures and learned there have been talks in the past about this. It seems to be rather complicated and lost steam. There are two distinct components - unplanned outages and planned outages. Our monitoring and associated notifications are not streamlined (from what I heard) for unplanned outages and the major complexity lies th

[2021-02-23 19:25] zacharymorel commented on #19601
I came up with two possible solutions after studying the existing data/ schemas and Lighthouse API model interface.
A. Your comment is definitely a possibility.
B. I have used an approach where a column is added called **SearchableTerm** and its a string that holds the patterns that we are looking for, so for the row(s) _10-10EZ_, _10-10EZ (esp)_, and _10-10EZR_, the value of **SearchableTerm** wo

[2021-02-23 19:29] mmiddaugh opened #20328 "Remove flipper for operationalHoursSpecialInstructions field (VHA)"
## Issue Description
The implementation of operationalHoursSpecialInstructions field for VHA was governed by a flipper, pending data scrubbing to remove the pipes. This issue will remove the flipper once it is no longer needed.

---
## Tasks
- [ ] Remove flipper

## Acceptance Criteria
- [ ]  operationalHoursSpecialInstructions field can no longer be toggled using flipper

## How to configure this

[2021-02-23 19:29] Kimberley2019 commented on #17179
Blocked due to VA Access currently.

[2021-02-23 19:39] Kimberley2019 commented on #17460
@jwoodman5

[2021-02-23 19:40] jhonnyoddball commented on #16939
There have been times where there are some commits that are in prod but never made it to dev/staging environments. This is due to the way that we skip deploys when a build finishes if there’s a later build in progress.

Jeremy Britt brought this up again on [slack](https://dsva.slack.com/archives/C5HP4GN3F/p1614011014002700)

Jeff Balboni made a suggestion in [slack](https://dsva.slack.com/archive

[2021-02-23 19:44] Kimberley2019 commented on #11571
@clantosswett this is pretty old and you have completed the work.  Are you comfortable closing this issue?

[2021-02-23 19:46] mmiddaugh commented on #17960
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/facilities/vet-centers/discovery/client-usability-tests/Vet-Centers-Usability-V2-Research-Findings.pdf

[2021-02-23 19:50] mmiddaugh opened #20329 "Vet Center spec"
## Issue Description
Following research, we are ready to finalize the MVP Vet Center design and prepare a spec which can be used by Facilities and CMS team engineers to begin building

---
## Tasks
- [ ] Incorporate relevant findings and recommendations into engineering ready spec

## Acceptance Criteria
- [ ] CMS and Facilities team have detailed spec to begin building
---
## How to configure thi

[2021-02-23 19:51] Kimberley2019 commented on #5015
No response.  Closing.  It can be reopened if needed.

[2021-02-23 19:51] #5015 closed

[2021-02-23 19:52] Kimberley2019 commented on #11011
@clantosswett any updates on this to your knowledge?  I am moving this to Icebox.

[2021-02-23 19:54] ashley-matthews opened #20330 "Secure Messaging Auth Empty States"
Documenting potential empty states related to authentication + secure messaging:

**1) User is not a VA patient, therefore cannot access secure messaging**
Options
- what does VA patient mean? Does this mean they are a Veteran that does not access VA healthcare for a variety of reasons?
- is the assumption that we're going to hide secure messaging altogether?

**2) User is a VA patient but does no

[2021-02-23 19:54] Kimberley2019 commented on #18646
Closing.

[2021-02-23 20:06] MarciMcGuireGCIO commented on #19601
Awesome, @zacharymorel.  I'll defer to you as the engineer on how to best accomplish that.  It might also be worthwhile to run by some other engineers to see if they may have already implemented something similar.

[2021-02-23 20:10] johnhashva commented on #19601
This is super promising!

[2021-02-23 20:16] brianalloyd opened #20331 "[DISCOVERY] Send to Mobile R&S Enhancement"
## Problem Statement(s)
As a Veterans (or someone that supports Veterans) I want to share an article or article recommendation to someone via mobile share..  This could help increase content confidence through helping more Veterans better understand the benefits they have earned.

## Bet
As a Veteran I would be interested in a rated article that other Veterans found helpful.

As a Veteran I would

[2021-02-23 20:18] zacharymorel commented on #19601
@MarciMcGuireGCIO @johnhashva This will require a collab with Lighthouse and the CMS engineers.

As far as dependencies go, it will require the CMS engineers to add the field on to the form node so we can fill it out the **SearchableTerm(s)** for each node. After that is done, the Lighthouse engineer team will need to update their API to reflect the new field on the VAFrom nodes from the CMS.

[2021-02-23 20:22] brianalloyd opened #20332 "[ITERATE] Resources and Support NEW FEATURE PRIORITIES"
This Epic is a list of potential Resources and Support work items that need to be prioritized.

[2021-02-23 20:24] ksantiagomorgan6 commented on #20209
In the example school given it looks correct locally.
![Screen Shot 2021-02-23 at 2.57.49 PM.png](https://images.zenhubusercontent.com/5cddbb05ed0dce4209e0b99b/c56f68f8-dbc1-4ba6-adcd-ef5393a86e6c)

in prod it looks like this
![Screen Shot 2021-02-23 at 3.20.03 PM.png](https://images.zenhubusercontent.com/5cddbb05ed0dce4209e0b99b/3b2b2318-e0e7-45db-b595-559a54a88406)

Looks like the solution to th

[2021-02-23 20:29] laurenernest opened #20333 "Homepage-Updates to printable appointment page"
## Description
Additional enhancements to the printable appointment found from work in #12679.

## Tasks

- [ ]  VA
- [ ]  CC
- [ ]  VVC

## Acceptance Criteria
- [ ]  Changes are behind the va_online_scheduling_homepage_refresh feature flag
- [ ]  When user clicks/taps Print link on appointment detail page, open default browser dialog box

- [ ] If appointment has a "Join Appointment" link, Then

[2021-02-23 20:29] bessgreen opened #20334 "Delete Contact Information CC"
## User story
As a user, I want the ability to delete my contact information from my VA profile.

Note: please reference the Content Spreadsheet for page-specific copy. See tab: **Delete Contact Info Copy** https://docs.google.com/spreadsheets/d/1USfiA2rPplfBLiccQk__YNPCY1rg9451Ojj0YLEVfXY/edit?usp=sharing

## Acceptance Criteria
1. Create common component for deleting contact information fields (

[2021-02-23 20:31] patrickvinograd commented on #20189
1. Verify these operations working as expected in CURL
2. Update API docs to include these operations.

Operations:
- Send a message
- Send a message with one or more attachments
- Delete a message
- Reply to an existing message

[2021-02-23 20:34] jabando-va opened #20335 "Access for Jesse Abando"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Do not remove `operations` label; this will notify the VSP Operations team of your request
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Pleas

[2021-02-23 20:36] jjabando1 commented on #20335
@department-of-veterans-affairs/vsp-operations

[2021-02-23 20:38] ashley-matthews opened #20336 "Secure Messaging UX"

[2021-02-23 20:40] ericboehs opened #20337 "Logout fails on staging"
Conversation here: https://dsva.slack.com/archives/CBU0KDSB1/p1613511248226700

[2021-02-23 20:43] brianalloyd opened #20338 "CLP Refinement Punch List - Stakeholder Review"
## Issue Description
_Place holder for refinement is needs/requests for Campaign Landing Page based on VA Stakeholder UAT.  This punchlist will house all fixes and requested 'nice to haves' from both internal reviews_

## CLP UAT Refinement Task List
- [ ] _Place Task Here_

[2021-02-23 20:44] mmiddaugh commented on #18822
Similar request: https://github.com/department-of-veterans-affairs/va.gov-team/issues/15132

[2021-02-23 20:49] ashley-matthews opened #20339 "SM Wireframes"
Initial set of wireframes: https://app.mural.co/t/adhoccorporateworkspace2583/m/adhoccorporateworkspace2583/1613583900890/e6c19090bd775e88e1e13ff0a28aa23f12246bf5

[2021-02-23 20:50] SgardnerPMP opened #20340 "[VAMC] Determine Content Intent for each Level 1 Section of VAMC - Web Modernization [PM]"
## Issue Description
_What details are necessary for understanding the specific work or request tracked by this issue?_

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [x] **Attached to a Milestone** (when will this be completed?)
- [x] **Attac

[2021-02-23 20:53] rebeccawalsh opened #20341 "[MCP] Veteran interview conversation guide"
## Issue Description
We need to speak to Veterans about their experiences with medical copayment debt in order to better evaluate their needs

---
## Tasks
- [x] Create a conversation guide for initial discovery work with Veterans around MCP
- [x] Upload conversation guide to GH and link to this ticket

## Acceptance Criteria
- [x] Conversation guide linked in this ticket

[2021-02-23 20:54] SKasimow opened #20342 "Collaboration Cycle Kickoff [C+ L, Anchor Tags]"
## Steps to complete Collaboration Cycle Kickoff
- [x] VFS Product Manager: Create this issue and fill in your team and feature name in the title.
- [x] VFS: Answer the questions below.
- [x] VFS: Link to this issue once created in vfs-platform-support in Slack; tag @vsp-product-support-members.
- [x] VFS: Attach any available artifacts.
- [x] VSP: Review the responses and comment in ticket with r

[2021-02-23 20:56] rebeccawalsh opened #20343 "[MCP] Veteran interview research plan"
## Issue Description
We need to speak to Veterans about their experiences with medical copayment debt in order to better evaluate their needs. Create a research plan to describe our plans so that we can start scheduling people!

---
## Tasks
- [x] Create a research plan for initial discovery work with Veterans around MCP
- [ ] Upload research plan to GH and link to this ticket

## Acceptance Crite

[2021-02-23 21:05] bethpottsVADEPO commented on #19937
@RLHecht These two articles are now ready for your copyedit, then you can publish!

[2021-02-23 21:07] mpelzsherman commented on #20325
One more:

- When the decision was made to spend developer time on the parallel graphql queries, should this have been communicated more widely?

[2021-02-23 21:09] ashley-matthews opened #20344 "SM Research Plan"
Develop plan for usability testing the secure messaging mobile MVP

Draft- https://docs.google.com/document/d/19ckydTxvA_lzqhCO7A-sw7HcMMB4GSlCQMoA96R2nDs/edit

[2021-02-23 21:10] rebeccawalsh commented on #19797
Conversation guide can be found here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/Debt%20Resolution/Medical_Copays/vahrc-conversation-guide.md

[2021-02-23 21:11] annaswims commented on #7816
I take it back.  I see a major improvement in google analytics. Deployed 3 pm feb 19
https://analytics.google.com/analytics/web/#/report/content-event-pages/a50123418w177519031p176188361/_u.date00=20210103&_u.date01=20210222&explorer-table.plotKeys=%5B%5D&explorer-table.filter=letter-list-failure&_r.drilldown=analytics.pagePath:www.va.gov~2Frecords~2Fdownload-va-letters~2Fletters~2Fconfirm-address

[2021-02-23 21:11] #19370 closed

[2021-02-23 21:11] #19369 closed

[2021-02-23 21:12] ashley-matthews opened #20345 "SM Research Discussion Guide"
Create discussion guide for SM mobile app usability testing

https://docs.google.com/document/d/1eMZ6xJE2m6E3OYvjNzHZm3fkOo6Y9mkzx_etnrWfA3w/edit

[2021-02-23 21:13] ashley-matthews opened #20346 "SM Prototype"
Create SM mobile app prototype for usability testing

[2021-02-23 21:15] Mottie commented on #7816
<img alt="ghe-emoji" title=":_badger:" src="https://cloud.githubusercontent.com/assets/136959/13512240/15d31412-e15f-11e5-8577-06cff0976977.gif"><img alt="ghe-emoji" title=":_badger:" src="https://cloud.githubusercontent.com/assets/136959/13512240/15d31412-e15f-11e5-8577-06cff0976977.gif"><img alt="ghe-emoji" title=":_badger:" src="https://cloud.githubusercontent.com/assets/136959/13512240/15d3141