[2019-09-11 18:17] omgitsbillryan commented on #1704
This looks to be a "sometimes it displays and sometimes it doesnt case"

https://dsva.slack.com/archives/C0MQ281DJ/p1547821475118700

[2019-09-11 18:20] steve-gov commented on #1361
The (theoretical) Higher Level Review workflow and the Claim for Increase workflow have a lot of things in common -- so much so that we've been saying things like "you know, very much like how 526 does it." (And so much so that Veterans sometimes confused the two things in our research sessions!) This led us to believe they could possibly share some architecture, but it completely makes sense that

[2019-09-11 18:21] #1585 closed

[2019-09-11 18:22] dmccurdybah commented on #1658
Can be tested on vets-website branch `bah-school-locations`

[2019-09-11 18:26] aeltarhoni opened #1705 "[USABILITY]: 526 V2 error handling when users press Continue button should be reviewed"
@1Copenut commented on [Wed Aug 22 2018](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/12581)

## Issue

The error handling when users press the `Continue` button was flagged by the VA 508 office during an audit. They said the expected behavior was to focus the first form field in error when users press Continue and one or more fields have errors.

I checked this behavior

[2019-09-11 18:27] Karak888 commented on #977
As of 9/11/19 the Facility Locator tickets for PPMS related issues (including Urgent Care and in network / speed) have been diprioritized in sprint 4 to finalize and continue work on CMS/Drupal.

[2019-09-11 18:30] lkoenigsberg commented on #1129
@lihanli was able to provide some stats the V360 call on 9/6, but they are really looking for a bit deeper analysis if you had it.  Specifically an impact statement in terms of x% of users are unable to complete the action. @clantosswett is working with our analytics team to pull and provide some additional info.

[2019-09-11 18:32] aeltarhoni opened #1706 "Update design for 'other docs' links on VA Letters page"
@rroueche commented on [Thu Sep 14 2017](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/4842)

1. check google analytics to see what clicks are like for these
2. check with call center to see if ppl are having trouble finding those items on Vets.gov
3. then decide whether to do this ticket.

---

![image](https://user-images.githubusercontent.com/8680732/30448067-8fa27b9c-9

[2019-09-11 18:36] aeltarhoni opened #1707 "526 All Claims - edit definition of service-connected disability"
@djmunoz1 commented on [Tue Nov 06 2018](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/14883)

Currently, the definition of service-connected reads as follows:
![Screen Shot 2018-11-06 at 11.45.42 AM.png](https://images.zenhubusercontent.com/5a008bb78a75884b90863d96/d5144639-16ad-4c02-8d9b-01293b9719c2)

Now, we want to edit the first sentence (per SME request) so it reads

[2019-09-11 18:37] jason-gcio opened #1708 "Error Handling within vets-api"
## User Impact
Knowing what errors are possible and how they work can let us better inform the end user about what is happening with their data.

### Tasks
- Investigate what exceptions are baked in the the vets-api today

### Considerations
- Are they specific to this call we are looking at or is there a general error handling service with EVSS?

### Notes
- What did we learn about those exceptio

[2019-09-11 18:38] aeltarhoni opened #1709 "[AXE-CORE]: Disability increase review application definition lists must be structured correctly"
@1Copenut commented on [Mon Nov 12 2018](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/15087)

## Issue
The definition lists on the review page of our apply for increase form have a number of `<div>` elements inside the opening `<dl>` tag, and it's causing a number of errors. Screenshot attached below.

## Issue Type
* Defect

## Acceptance Criteria
* As a tester, I don't

[2019-09-11 18:41] jason-gcio opened #1710 "RD: Error Handling Process"
## User Impact
Knowing what errors are possible and how they work can let us better inform the end user about what is happening with their data.

### Tasks
- Investigate how we consume and pass along errors to the front end

### Considerations
- Is there an error handling service and how does it work?
- Is there any documentation that can be shared with the Call Center?

### Notes
- What did we le

[2019-09-11 18:41] aeltarhoni opened #1711 "[SCREENREADER] Recommend reviewing language for error messages to improve descriptiveness"
@1Copenut commented on [Mon Sep 24 2018](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/13536)

## Issue

Some of the error messages we are providing, especially for empty fields on the `blur` event firing, are general in their description. I'd like to review these and see if the content team has any suggestions for more specific errors. I have reviewed this with the VA 508

[2019-09-11 18:45] aeltarhoni opened #1712 "[Development] Breadcrumbs and Header copy is mismatched on 526 (Disability Compensation)"
@katelyncai commented on [Thu Jun 13 2019](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/18961)

**Steps to Reproduce**
url: https://staging.va.gov/disability/file-disability-claim-form-21-526ez/

**What happened:**
The breadcrumbs for this form are `File for disability compensation` while the header reads `Apply for disability compensation`

![Screen Shot 2019-06-13 at 10

[2019-09-11 18:48] aeltarhoni opened #1713 "Remove repetitive content on Check Post-9/11 GI Bill Benefits (GIBs)"
@katelyncai commented on [Mon Jun 03 2019](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/18838)

## Purpose

As a user looking to check my Post-9/11 GI Bill benefits, I want a streamlined page with only useful or necessary information.

With the changes we're making in #18785, we have identified a few repetitive instances of content that we should remove to help keep this

[2019-09-11 18:48] #1583 closed

[2019-09-11 18:51] aeltarhoni opened #1714 "Wizard button arrows should flip when expanded"
@katelyncai commented on [Wed May 22 2019](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/18691)

## Description
**url:** https://staging.va.gov/disability/how-to-file-claim/
or
https://staging.va.gov/education/how-to-apply/
There may be more instances of the wizard button out there.

## Steps to reproduce:
1. Go to either the edu or 526 wizard
2. Click on the wizard button

[2019-09-11 18:54] aeltarhoni opened #1715 "526 All Claims: Design - Usability feedback content update (adding attachments)"
@peggygannon commented on [Wed Oct 24 2018](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/14557)

Problem: When adding multiple items, people are not always sure if they need to do anything other than continue. “Do I need to save?”

On screens where users can upload a document, make language more clear about their next steps.
- [ ] Add 'Save' button to the editable form in

[2019-09-11 18:57] jason-gcio opened #1716 "RD: Front End Display"
## User Impact
Knowing how the front end displays information will better inform the team how to be the most effective with that data.

### Tasks
- Investigate and see if there is any current code that can be reused.
- Locate or define the standard or best practice.
- Document any error codes and what they do.

### Considerations
- How does the front end get displayed to the user?

### Definition

[2019-09-11 19:07] jason-gcio opened #1717 "RD: UX Error Analysis"
## User Impact
How does UX ensure the errors are meaningful?

### Tasks
- Research/analyze best practices
- Document what is being done now & what's not happening now but should

### Definition of Done
- [x] Identified best practices
- [x] List of what needs to change

### Notes
- What did we learn about those exceptions?
- [ ] Any notes for the Call Center should be uploaded to `feature/$feature-

[2019-09-11 19:17] annaswims commented on #1704
Alternatively, we could just run rubocop on Codeclimate and not on Jenkins.  It'd make Jenkins a bit quicker and Codeclimate has output that easier to use.
... Just a thought.

[2019-09-11 19:23] jason-gcio opened #1718 "RD: Internal 508 Breakout"
## User Impact
508 Compliance is important for ensuring that all users can access the features set forth.

### Tasks
- Investigate more about how Rated Disabilities fares in 508

### Considerations
- 508 can be quite involved, lets just establish the landscape at this point.

### Definition of Done
- [x] Complete meeting with 508 team **(set for Friday, September 13 at 12 pm ET)**
- [x] Define 508

[2019-09-11 19:23] #1589 closed

[2019-09-11 19:23] #1528 closed

[2019-09-11 19:28] jason-gcio opened #1719 "RD: Mockups/Wireframes"
## User Impact
We want to ensure that there is structure and standards to how information is conveyed, even low fidelity displays can be helpful.

### Tasks
- simple, easy to read representation
- investigate and compare within 526 form, RD is being displayed (worth checking)
- eventually this might turn into a map used by the Call Center

### Definition of Done
- [ ] Create a mockup or wireframe

[2019-09-11 19:28] Karak888 commented on #1623
@ncksllvn wanted to ensure it was blocked by CMS implementation but there wasn't a direct blocker to select.  This ticket has a dependency on CMS implementation.  Need to identify what the links are for the footer.

[2019-09-11 19:30] jason-gcio opened #1720 "RD: Backend Service"
### Tasks
- Investigate how the backend service on the front end makes a call

### Definition of Done
- [x] Use the backend service to retrieve data from vets-api

### Notes
- What did we learn about this?
- [ ] Any notes for the Call Center should be uploaded to `feature/$feature-name/call-center` in GitHub

[2019-09-11 19:32] mnorthuis opened #1721 "Restructure Folders Under /products/global/"
## User Story
As a product owner of VA.gov products, I need to be able to store documents in the va.gov-team repo for my team to access and utilize to build the best product I can.

## Goal
Restructure folders under `/products/global` to better match how work is done.

## Acceptance Criteria
- [ ] Rename menus-navigation folder to global-navigation
- [ ] Remove contact-us, crisis-line, and header-

[2019-09-11 19:33] jason-gcio opened #1722 "Discovery: Research Plan"
## User Impact
Looking ahead to what is entailed for design is helpful to better achieve our goals.

### Tasks
- Initialize a research plan

### Definition of Done
- [x] Complete research plan for initial eBenefits discovery.
- [x] Start a Conversation Guide
- [x] Determine Team availability

### Notes
- What did we learn about those exceptions?
- [ ] Any notes for the Call Center should be upload

[2019-09-11 19:34] jason-gcio commented on #1069
this has been broken down to smaller issues

[2019-09-11 19:34] #1069 closed

[2019-09-11 19:36] #1066 closed

[2019-09-11 19:36] jason-gcio commented on #1421
broken down to another story

[2019-09-11 19:36] #1421 closed

[2019-09-11 19:38] nedierecel commented on #1666
Jay created a Google account on 9/10, so access was provided to the Burials view on 9/11.

[2019-09-11 19:38] #1666 closed

[2019-09-11 19:42] omgitsbillryan commented on #1704
Assuming Codeclimate doesn't swallow the output the way our Jenkins/Makefile seems to be doing, then it sounds good to me.

As a VFS dev, I don't really care _where_ the rubocop errors live, I only care that I can view it.

[2019-09-11 20:04] Karak888 commented on #1626
Adding to top of Ready column as priorities changed to accomodate CMS / Drupal rollout / implementation 9/11/19

[2019-09-11 20:10] peterhill-oddball commented on #1486
GitHub provides a list of testing tools that integrate with GitHub here -- https://github.com/marketplace/category/testing

Of particular interest, [Test Quality](https://github.com/marketplace/testquality) appears to manage test plans, test case creation, and test case execution.  That would be lovely!

[2019-09-11 20:38] 1Copenut commented on #1698
Moving to close after content review by content SME.

[2019-09-11 20:46] lkoenigsberg commented on #1280
Security review was completed on 9/10 where 5 issues were identified to be fixed prior to launch and two future changes.  These are all documented in the ticket references above.

@Justin-Pickett will create tickets for each of the issues, assigning the 5 for launch to @lihanli
 in sprint 4.

This ticket can be closed once the 5 vulnerabilities are completed.

[2019-09-11 20:50] Mottie commented on #879
To do?

- Attend general onboarding meeting (#1334)
- Set up back end - mostly complete, see below.
- Attend breakout session (#1346)
- Attend deep-dive session (#1350)
- Request analytics intro (#1355)
- Request load testing, privacy, and security intro (#1357)
- Request ATO intro (#1358)

Done:

- Everything checked in the first post.
- Set up back end:
  - I have started the PIV process.
  - SO

[2019-09-11 20:52] smoonpeyes opened #1724 "[526] Determine if users should be able to add blank conditions to the 526 application"
## Purpose
During the demo of work for #1365, we learned that Veterans can add blank/unknown conditions to the 526 application. We need to determine if this is the appropriate user experience.

### Screenshot
Currently, Veterans can add blank conditions to the 526 application. (In the below screenshot, a blank condition has been added.)
![image.png](https://images.zenhubusercontent.com/5b744a5479b

[2019-09-11 20:53] smoonpeyes commented on #1724
@YanaRoy Tagging you for awareness.

[2019-09-11 20:58] annaswims commented on #1704
yep, here's an example of lots of rubocop violations https://github.com/department-of-veterans-affairs/vets-api/pull/3263

[2019-09-11 21:48] micahchiang commented on #1720
@jason-gcio - I've updated the definition of done for this ticket to more closely align with the purpose of a backend service - to retrieve data from an api. I will transfer the original definition of done (pull and display data) to the other ticket in this sprint that deals with frontend display.

[2019-09-11 21:51] micahchiang commented on #1716
@jason-gcio - I've updated the definition of done for this ticket to include 'pull and display data' originally from #1720. I think this is a more appropriate place for this definition of done to live, as this ticket has more to do with displaying data.

[2019-09-11 21:59] goldenmeanie commented on #1706
I'm not sure if I'm on here on purpose or not, but my 2¢ is that you might look at category headers, or front-loading with the category. Something like this?

**Post-9/11 GI Bill**
- [Request a Certificate of Eligibility (COE)](url)
- [View your benefits summary or eligibility](url)

**Discharge or separation papers**
- [Request a copy of your DD214](url)

**Home loan**
- [Request a Certificate of

[2019-09-11 22:05] smoonpeyes opened #1725 "[Discovery] Determine UX goals and objectives for Supplemental Claims"
## Goal
The goal is to gain a clear understanding of the UX work needed to allow Veterans to complete supplemental claims on VA.gov.

## Acceptance Criteria
- [ ] Meeting with stakeholders to discuss background, goals, and objectives
- [ ] Agree on a plan for upcoming UX work
- [ ] Create epic and related tickets for UX work

[2019-09-11 22:07] smoonpeyes commented on #1725
@YanaRoy -- for awareness.

@kevinstachura Feel free to edit this ticket.

[2019-09-11 22:17] peggygannon commented on #1651
Hi, @amyknox I recommend a slight tweak (adding "the"):

Learn more about the location-based housing allowance

[2019-09-11 23:12] micahchiang commented on #1719
Not sure if this is the right ticket for this comment - Something to consider as we begin to build out eBenefits, and specifically Rated Disabilities, is whether or not a feature or piece of functionality should be classified as an 'application' or a 'widget' per https://department-of-veterans-affairs.github.io/veteran-facing-services-tools/getting-started/common-tasks/new-feature.

I'm inclined t

[2019-09-11 23:29] micahchiang commented on #1720
https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/platform/utilities/api/index.js handles calls to the backend and is used in both redux actions and plain react components.
- When should it be used in one over the other?

[2019-09-11 23:33] cvalarida opened #1726 "Fail the Jenkins build if the fallback to the cache fails"
## Problem
If the Metalsmith build script failed due to a Drupal content issue, we'll try to fall back to the cache. If there's no cache to fall back to, there's little point in trying again to query Drupal again and go through the exact same process to get the exact same failure. This just takes up more resources and causes the build to take longer before failing.

## Acceptance Criteria
- [ ] Th

[2019-09-11 23:35] cvalarida commented on #1726
Note to my future self: Ensure this doesn't happen already by pushing up a branch with an intentionally-failing Metalsmith build (just `throw` an exception). Pretty sure this ticket still needs to be done, but it's worth double-checking.

[2019-09-12 00:27] mnorthuis commented on #1004
Summary of results copied here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/disability/dic/ia-placement.md

closing issue

[2019-09-12 00:27] #1004 closed

[2019-09-12 00:35] mnorthuis opened #1727 "Move DIC to Disability Hub"
## User Story
As a surviving spouse, dependent or parent, I need to easily find DIC benefit info, so I can apply and access the benefit I'm eligible for.

## Goal
Move DIC into Disability where users expect to find it and ensure there is crosslinking in Survivors Pension, Burials and Family hubs.

## Acceptance Criteria
- [x] DIC page and all DIC rates pages are moved to Disability hub with new UR

[2019-09-12 00:36] mnorthuis commented on #556
Notes, analytics and decisions documented here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/disability/dic/ia-placement.md

New issue for implementation is here: https://github.com/department-of-veterans-affairs/va.gov-team/issues/1727

Closing this discovery issue.

[2019-09-12 00:36] #556 closed

[2019-09-12 00:45] mnorthuis commented on #1727
@jenniferlee-dsva What is the status of these pages in Drupal?   They will need their URLs updated to reflect that we are moving them to Disability as part of this work.

/burials-memorials/survivor-dic-rates/
/burials-memorials/survivor-dic-rates/
/burials-memorials/parent-dic-rates/
/burials-memorials/parent-dic-rates/

[2019-09-12 00:51] accbjt commented on #1569
Here is the list broken out by product support team members so we can figure out what we should keep.

https://docs.google.com/spreadsheets/d/1ZoIGnZXdz_BLirl4lnkeFNDSLN4nb90_OTt8V9oNpQA/edit#gid=132796699

[2019-09-12 01:25] jenniferlee-dsva commented on #1727
Burials hub is out of the first pass of UAT, and we'll be going back next week to make SME feedback and other style guide updates. (@peggygannon  and @AnneHurley  - please correct status if I'm behind.)

@mnorthuis, if you create a ticket with the specific changes that need to be made to the above 4 pages, Peggy and I can implement/review/publish. (Ex: exactly where in the Disability left nav thes

[2019-09-12 01:51] mnorthuis commented on #1727
I'm going to convert this issue to an epic.  There are a lot of moving pieces to keep track of here.  I will document final IA in one issue.  We can discuss how we want the other tickets broken out to accomplish all the items listed in the acceptance criteria above.  I feel like that will work better than passing a single ticket back and forth between people.

[2019-09-12 03:19] jenniferlee-dsva opened #1728 "Update 5103 approach on 'Evidence needed' pg"
## User Story
As a VBA stakeholder, I need to refer Veterans to specific source legal content about evidence requirements.

@RLHecht - On this page: https://www.va.gov/disability/how-to-file-claim/evidence-needed/

1.	Pull the source PDF link / https://www.vba.va.gov/pubs/forms/VBA-21-526ez-ARE.pdf /  to the top of the “What should the evidence show to support my disability claim?” section, so we

[2019-09-12 03:31] amycesal commented on #1584
# Research Plan for Insights and Analytics, Grey Sky prototype, September 2019

## Goals
1. What product & team are you doing this research for?
To learn what leadership and product owners want out of an analytics tool and how they will use findings from it

2. Background: The goal of the dashboard is to surface analytics with actionable items so leadership and product owners have information in o

[2019-09-12 13:29] mnorthuis opened #1729 "VFS Support: Complete IA work for moving DIC to Disability hub"
**See epic for user story, goal and acceptance criteria. **

This issue documents the IA/navigational changes required.

## IA Tasks:
- [x] Identify all pages impacted by this change
- [x] Define IA and document changes in Site Map
- [x] Define navigation and crosslinking changes and document
- [x] Identify and document redirects needed and document in Master URL Mapping

## How to configure this

[2019-09-12 13:32] jbalboni opened #1730 "Update confirmed appointment list and details page to use real mock data"
Currently the confirmed appointment list pages are written with data that doesn't match the data that will come back from the appointments or cc booked appointments services. We should update the front end to match this data.

[2019-09-12 13:38] Justin-Pickett opened #1731 "Security Review AIs before Direct Deposit launch - Email Notifications"
Email notifications should go to all addresses on file

i.e. the identity address, not just the Vet360 one --- concern about attacker changing Vet360 address before updating direct deposit info

Link to the the vets.gov repo - [19647] (https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/vets.gov-team/19647)

[2019-09-12 13:44] Justin-Pickett opened #1732 "Security Review AI's before Direct Deposit launch - LOA3 & Multi-factor"
Ensure that “LOA3 & multi-factor” are enforced at vets-api level.

Make sure this is explicitly enforced in vets-api

Link to the the vets.gov repo - [19647] (https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/vets.gov-team/19647)

[2019-09-12 13:46] Justin-Pickett opened #1733 "Security Review AI's before Direct Deposit Launch - Sentry Field Names"
Sentry field names: everything needs to be sanitized

Looks like only account_number is currently sanitized

Link to the the vets.gov repo - [19647] (https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/vets.gov-team/19647)

[2019-09-12 13:48] Justin-Pickett opened #1734 "Security Review AI's before launch - Filtering data from other (non-Sentry) logging"
Confirm we're filtering same data from other (non-Sentry) logging

Should be OK because whitelist, but please confirm

Link to the the vets.gov repo - [19647] (https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/vets.gov-team/19647)

[2019-09-12 13:49] Justin-Pickett opened #1735 "Security Review AI's before Direct Deposit Launch - Sidkiq Failures"
File a ticket to investigate what happens to Sidekiq failures

Doesn't have to be followed up on before launch

Link to the the vets.gov repo - [19647] (https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/vets.gov-team/19647)

[2019-09-12 13:52] Justin-Pickett opened #1736 "Security Review AI #1 for Direct Deposit (Post launch)"
[low-pri]

Figure out why va_eauth_authenticationmethod is set to DSLogon and if that can/should be changed (2-year-old TODO)

[2019-09-12 13:53] Justin-Pickett opened #1737 "Security Review AI #2 for Direct Deposit (post launch)"
[low-pri]

Ask EVSS: Why do we always indicate VETERAN status to EVSS?

[2019-09-12 14:57] meganhkelley opened #1739 "Determine & document best practices for using va.gov-teams/teams folder"
### User Story
As a user of the va.gov-team repo (as a member of a VSF or VSP team), I need to know how to use the va.gov-team/teams folder, so that I can find what I need quickly and easily.

### Goals
Create documentation for best practices of using the va.gov-team/teams folder. Communicate those best practices to all VSF and VSP teams.

### Definition of Done
- [ ] Create documentation of best

[2019-09-12 14:58] nedierecel opened #1740 "[Bug] Google Analytics Not Capturing Location of Profile Save Failures"
## What happened?
The Call Center is receiving feedback that veterans are not able to save their mailing address. Analytics-Insights wants to research how often this is occurring in order to determine the impact and resolution for the error.

Currently, the `Profile Save Failure` is being tracked in [Google Analytics](https://analytics.google.com/analytics/web/?authuser=0#/report/content-event-eve

[2019-09-12 16:16] rianfowler opened #1741 "Add feature toggle helper for setting toggle values during tests"
# Problem

- end to end tests use the staging toggle values.

# Tasks

- create a helper for setting the values during tests that run in the browser

# Notes

- maybe set these values in a config like the manifests file
- consider defaulting to true during tests using and object proxy in the toggle selector

[2019-09-12 16:36] rianfowler opened #1742 "Add alias resolution to node environment"
# Overview

- `vets-website` supports babel aliases for several core folders like `platform/` for browser apps but does not support similar aliasing for node apps (e.g. testing scripts)

# Goal

- Determine if aliasing is possible in node apps

# Notes

- Maybe use this: https://www.npmjs.com/package/require-alias
- Maybe drive the alias behavior in both environments with a single configuration

[2019-09-12 16:59] rianfowler opened #1743 "Use va.team repo as client documentation site source"
# Problem

- documentation is being consolidated into [va.gov-team](https://github.com/department-of-veterans-affairs/va.gov-team) repo
- the client documentation site houses its documentation [here](https://github.com/department-of-veterans-affairs/veteran-facing-services-tools/tree/master/packages/documentation) and is falling out of sync with latest documentation
- client documentation site (ga

[2019-09-12 17:49] smoonpeyes opened #1745 "[Discovery] Create research plan"
## Goal
Create a research plan to learn how Veterans are using the claim status tool to upload Decision Review forms.

## Acceptance Criteria
- [x] Research plan has been reviewed with the team
- [x] Recruiting ticket (with research plan attached)has been created and shared with Lauren Alexanderson
- [x] Link to research plan has been added to this ticket

[2019-09-12 17:49] YanaRoy opened #1746 "Create Product Outline for Decision Review Requests and Appeals"
## User Story
As a Product Manager, I need to create a Product Outline for Decision Review Requests and Appeals so that I can record and view details about its vision and implementation.

## Goal
_Create an outline that identifies intentions of the Decision Review product, provide clear direction for team members to follow, and offer information for executives to review and support._

## Acceptanc

[2019-09-12 18:18] jbalboni opened #1747 "Create confirmed appointment mocks for appointment list page"
We need to create mocks for the different variations of confirmed appointments list and detail pages

The three main variations are VA facility appointments, video appointments, and CC appointments.

Facility appointment data:
- Facility id (just id, no name or anything)
- Clinic name
- Appointment time/length
- Booking note

Video appointment data:
- Facility name, id
- Video link
- Appointment t

[2019-09-12 19:22] jbalboni opened #1749 "Set up scaffolding for appointment flow config"
We need a reasonable way to manage the different branching paths through the appointment flow and a centralized config seems slightly better than spreading the logic out between different components.

So, this ticket is for setting that up.

AC:
- [ ] Initial config file with tests
- [ ] Added to the current form pages

[2019-09-12 19:33] ricetj opened #1750 "Create meta-wrapper job to listen for master changes and build/deploy to STAGING"
Brought over from CMS doc:
- Webhook is already sending all push events to the dev.va.gov/* endpoint
- e.g for () loop this job http://jenkins.vfs.va.gov/job/cms/job/rmw-meta-build-deploy-env/
    - use master instead of develop
    - use STAGING instead of DEV
- Rename job to remove rmw- prefix
- Wait to activate, needs to be a timed/planned merge. ETA Sept 18thish. Discuss with Elijah.

@tskinn

[2019-09-12 19:49] YanaRoy opened #1751 "[Epic] Supplemental Claim Digital Experience"
## High Level User Story
As a Veteran who has received a decision about my VA benefits, I want to add new and relevant evidence via a Supplemental Claim so that I can have a reviewer examine all the evidence and determine whether it changes the decision.

## Hypothesis/(es)
**If** _the Supplemental Claim process is converted to a personalized, digital experience_ **then** _it is expected that it w

[2019-09-12 19:50] kevinstachura opened #1752 "[Discovery] Recruit for Research Sessions"
## Goal
We want to recruit participants for our Claim Status Tool research study

## Acceptance Criteria
- [x] The research plan has been attached to this ticket
- [x] Lauren Alexanderson has been assigned
- [x] Identify available dates / times for the sessions
- [x] Identify observers to Perigean (in Slack)
- [x] Recruiting has been kicked off with Perigean

[2019-09-12 19:59] kevinstachura opened #1753 "[Discovery] Create Conversation Guide"
## Goal
Create a conversation guide to moderate Claim Status Tool research sessions

## Acceptance Criteria
- [x] Conversation Guide has been created and added to Github repo
- [x] Conversation Guide has been reviewed with the team
- [x] Share Conversation Guide with Perigean (Slack or via Research Tracker)

[2019-09-12 20:06] kevinstachura opened #1754 "[Discovery] Conduct Claim Status Tool Research Sessions"
## Goal
Conducting research sessions to learn how veterans are using Claim Status Tool

## Acceptance Criteria
- [x] The appropriate amount of research sessions have been completed
- [x] Session notes have been scrubbed for PII and uploaded to GitHub repo

[2019-09-12 20:15] kevinstachura opened #1755 "[Discovery] Complete Research Synthesis"
## Goal
Synthesize research data to understand why veterans are submitting Decision Reviews through the Claim Status Tool so that we can make recommendations

## Acceptance Criteria
- [x] Key findings have been identified and opportunities to improve veteran experience
- [ ] Create Research Readout and share with team
- [ ] Conduct session between Research and PM to discuss findings and additional

[2019-09-12 20:18] YanaRoy opened #1756 "[Documentation] Add swagger documentation for Caseflow API"

[2019-09-12 20:27] YanaRoy opened #1757 "Build Decision Review API Service Integration"
## User Story or Problem Statement
As a Veteran, I want to ensure the information I entered via an online submission method has been processed so that I can ensure my request has been received for review.

## Goal
To Build a service integration with the lighthouse Decision Review API within vets-api

## Objectives or Key Results this is meant to further
- Create integration points with higher revi

[2019-09-12 20:30] andreahewitt-odd opened #1758 "508 deep dive presentation for VSA eBenefits team"
As an eBenefits team member, I want to know more about 508 accessibility so I can design and develop with accessibility in mind.

[2019-09-12 20:50] smoonpeyes opened #1759 "[Discovery] Identify how many Veterans are submitting Decision Review forms on the Claim Status tool"
## Goal
Learn how many Veterans are submitting Decision Review forms on the VA.gov Claim Status tool.

**Identify documents in the eFolder that have:**
- form numbers (20-0995, 20-0996)
- no EP codes

## Acceptance Criteria
- [x] Connect with Zach G. to find out if we can run a report on VBMS to get this data
- [ ] If the report is available, share with the team

[2019-09-12 20:58] smoonpeyes opened #1760 "[Discovery] Identify the volume of calls to the Call Center about submitting Decision Reviews on VA.gov"
## Goal
Identify the volume of calls to the Call Center about submitting Decision Reviews on VA.gov.

## Acceptance Criteria
- [x] Connect with Chante to find out if we can run a report to learn how many Veterans are calling the Call Center about submitting Decision Reviews on VA.gov
- [ ] If the report is available, share with the team

[2019-09-13 02:14] erikphansen opened #1762 "Update Profile to call API when on `dev.va.com`"
Now that there is a working vet360 API in the `dev` environment, the Profile app should stop mocking the endpoints and actually call the API in that environment.

[2019-09-13 12:03] sonntag-adam commented on #1658
Branches
![Screen Shot 2019-09-13 at 7.59.20 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/51adcc9c-6773-4038-b50b-cbf4c2522422)
##
Extensions
![Screen Shot 2019-09-13 at 8.00.16 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/a2975ebc-238b-420d-b279-0869db912344)
##
Branches and Extensions
![Screen Shot 2019-09-13 at 8.02.09 AM.png](https://images.zen

[2019-09-13 12:06] sonntag-adam commented on #1658
@ccruzgra how does this look

[2019-09-13 13:10] #584 closed

[2019-09-13 13:10] #585 closed

[2019-09-13 13:10] ccruzgra commented on #1658
@sonntag-adam Thanks for posting this. Could you share a screen @ 320px?

[2019-09-13 13:18] rianfowler opened #1763 "Add stickiness to user based feature toggles"
# Overview

- Users who receive a variant should stay in that variant across devices when they are logged in

# Examples

- after logging in on my home computer, a new feature is enabled for me use
- later that day, I log in with my phone and see the same feature enabled

# Notes

- Some UX work might be required for this- there may be other use cases to work through
- Team wish to ramp up % durin

[2019-09-13 13:23] rianfowler opened #1764 "Improve user admin and auditing for Flipper"
# Overview

- There is one user for each environment in Flipper.
- Administrators should be able to revoke access for a single person.
- Teams should be able to see a change history for their toggle value changes (e.g. who changed it, when it was changed, and the value it was set to)

# Goals

- Determine how to support individual user authorization for Flipper
- Ideally this access can be granted

[2019-09-13 13:27] rianfowler opened #1765 "Gate access to specific feature toggles by users or groups of users"
# Overview
- Only designated administrators should be able to modify the value of a feature toggle.  Administrators will be managed by pull request.

# Tasks

- create a list of admin users in [features.yml](https://github.com/department-of-veterans-affairs/vets-api/blob/master/config/features.yml) . Users can log in using their va.gov login (they can create one through id.me if they do not have o

[2019-09-13 13:32] sonntag-adam commented on #1658
320px Branches only
![Screen Shot 2019-09-13 at 9.29.02 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/e2cf2c62-5bb5-4438-9b76-50409c5e9eb3)
##
320px Extensions only
![Screen Shot 2019-09-13 at 9.29.40 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/4605c42d-9c5c-4fb1-b615-18e91d892eeb)
##
320px Branches and Extensions
![Screen Shot 2019-09-13 at 9.30.4

[2019-09-13 13:32] sonntag-adam commented on #1658
@ccruzgra

[2019-09-13 13:33] rianfowler opened #1766 "UI updates to Flipper admin"
# Overview

- Some of the nomenclature used on the flipper admin is confusing
- The branding doesn't match VA

# Tasks

- Update to use design.va.gov (ideally time box this to less than a day. Use discretion when applying class names / styles- don't try to overhaul the markup / structure of the page)
- Make the buttons' active / inactive states more pronounced
---
<img width="405" alt="Screen Shot

[2019-09-13 13:42] Karak888 commented on #1466
@ncksllvn is this still an issue, or you just need someone from CMS to do pull request? Let me know how I can help!

[2019-09-13 13:42] desireeturner commented on #1251
@1Copenut any update on this issue and path forward?

[2019-09-13 13:46] rianfowler commented on #1766
The Flipper admin UI is based on an ERB template: https://github.com/department-of-veterans-affairs/vets-api/blob/master/lib/flipper/features.erb

[2019-09-13 13:58] 1Copenut commented on #1251
@desireeturner Not yet. I'm assembling findings and taking them to the right personnel today to see what we can come up with.

[2019-09-13 14:10] 1Copenut commented on #981
@jefflbrauer Is this item still being worked on, or should I make time to re-test today / Monday?

[2019-09-13 14:30] nedierecel commented on #847
@jonwehausen These are the analytics changes to make in GTM:

1. Extra According Event could be removed: When clicking on the accordion expand or collapse on [Disability hub](https://staging.va.gov/disability/), we could rely on the existing Navigation event.

![image.png](https://images.zenhubusercontent.com/5b295b9ff378ea1890b3d77e/4cac9cc4-3910-474d-a5a3-5e3933143862)

![image.png](https://imag

[2019-09-13 14:43] Karak888 commented on #1043
These have been captured moving to close

[2019-09-13 14:43] #1043 closed

[2019-09-13 14:45] joanneesteban opened #1767 "[Analytics Discovery] Conversations with PA&I"
## User Story or Problem Statement
As an Analytics lead, I need access to PA&I (Performance Analysis and Integrity) data so I can incorporate more holistic data into the VSP Analytics process, including but not limited to KPI tracking and the Product Health tool.

## Goal
Converse with PA&I stakeholders or connections to PA&I to obtain consistent reports.

## Objectives or Key Results this is mean

[2019-09-13 14:54] Karak888 commented on #1039
These have been captured moving to close.

[2019-09-13 14:54] #1039 closed

[2019-09-13 14:57] sporeboy commented on #1719
Concept walkthrough available at: https://xd.adobe.com/view/ebfa6df6-c0aa-4ea9-413e-98793ba7a5a3-9dcb/

[2019-09-13 15:03] sporeboy commented on #1716
@micahchiang I'd say the **Related To** column shows "special_issues... name"

[2019-09-13 15:08] ncksllvn commented on #993
It looks like CareSite phone is way more reliable in Prod. Most providers do have phone number values from my random searches. We should definitely move forward with showing this on the front-end.

Just wondering a few things - should we retain both phone numbers values - for Provider-level and CareSite-level - and show the former if we have it, and the latter if we don't. Or if we should just alw

[2019-09-13 15:11] ncksllvn commented on #1466
Still wrapping up! This is just me writing up an approach for broken links that I'll propose to the rest of the team for feedback. If it's received well, we can map out some work from it. Nothing will come from this ticket alone though besides a writeup.

[2019-09-13 15:36] ccruzgra commented on #1658
@sonntag-adam This checks out with UXers! Thank you.

[2019-09-13 15:50] Karak888 commented on #1519
@chrisj-usds @jenniferlee-dsva @ncksllvn I just pulled this into Sprint 4.

**Next steps** (per Jen's feedback):
- [ ] Chris to set up intro call meeting with Jen and Azzure (OCC Stakeholder)

**Goal of Call:**
- Introduce Jen and Azzure to start conversation re:  root problem she is trying to address / reality of contractual needs.

[2019-09-13 17:04] accbjt commented on #1569
I discussed it with @andreahewitt-odd to clarify what docs we are looking for in the list. So what we want to keep in the list is document that we can use now and in the future to support other teams (onboarding, practice area, etc.). What we don't want is product specific files, archived files, and anything else that is not relevant to our team.

[2019-09-13 17:13] kathleencrawford commented on #1708
@micahchiang i got a 500 error on one of the test users as well.  but i also received this error for test user #2:

{
    "errors": [
        {
            "title": "Forbidden",
            "detail": "User does not have access to the requested resource",
            "code": "403",
            "status": "403"
        }
    ]
}

trying to find out if all the possible error codes are documented somew

[2019-09-13 17:22] micahchiang commented on #1708
@kathleencrawford - Nice, that's definitely helpful. I wonder what causes a 403 to be returned instead of a 401 or some other error. I got the 401 with tester user + 0 which doesn't have rated disabilities set up, similar to tester user + 2.  I wonder if Silvio would know of all possible error codes and their triggering conditions since he built the /rated_disabilities endpoint.

[2019-09-13 17:25] kathleencrawford commented on #1708
@micahchiang thats interesting - i could have sworn i got a 500 error using test user +0.  i guess further testing is needed.  i have a follow up call with Silvio today and planned on asking him exactly what you wrote!

[2019-09-13 17:42] sonntag-adam commented on #1655
Re tested
##
![Screen Shot 2019-09-13 at 1.40.19 PM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/fb0cff5e-8827-45a0-8e81-9fb51083449f)
![Screen Shot 2019-09-13 at 1.41.21 PM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/b9ad7d89-eaa5-4ec8-8193-6c02c5c5135a)

[2019-09-13 18:17] ncksllvn commented on #993
Man, I may have just missed the 2 PM cutoff for this :angry: But the work here is merged and will go live soon.

@Karak888 The PPMS developer docs didn't seem to indicate  that there was a CareSite-level fax number, but maybe it's worth additional exploration in a follow-up ticket?

[2019-09-13 18:18] ncksllvn commented on #1624
This is code review, FYI, and is being handled by both the VSP and CMS teams. I think our piece  here is done, but there isn't really a way to prove that until the CMS is powering the MegaMenu.

[2019-09-13 18:27] kreek opened #1769 "Update appointments mock data"
**User Story**: As a developer I want to update the `GET /appointments` endpoint mock data so that it reflects what is returned by VAOS staging.

**Acceptance Criteria**:
- [ ] The mock data yml file in vets-api-mockdata is updated
- [ ] Resource files in vets-api updated to adapt the new data to our schema

[2019-09-13 18:32] kreek opened #1770 "Update appointments endpoint to return va and cc booked appointments"
## User Story
As a developer I want `GET /appointments` to return both regular VA appointments and Community Care booked appointments so that the FE has to make less calls.

## Acceptance Criteria
- [ ] `GET /appointments` return two lists, `va_appointments` and `cc_appointments`, depending on the `type` passed in

[2019-09-13 18:40] YanaRoy opened #1771 "Create Higher Level Review submission endpoint"
## User Story or Problem Statement
As a developer, I want to send requests to the Caseflow API so I can access the resources needed to carry out the Higher Level Review submission function.

## Goal
Create a submission endpoint on vets-api that can accept a veteran higher reviews submission

## Objectives or Key Results this is meant to further
- Allow the veteran to submit a higher review form
-

[2019-09-13 18:47] markgreenburg opened #1772 "Video link in appointment details"
## Story
As a veteran I want to be able to join my confirmed video / telehealth appointment from my appointment details page so that I don't have to check my email. (Veterans get video link email on day of request & 24 hours before video appointment).

## Current functionality
- Button is enabled 30 minutes prior to start time, until 4 hours after start time
   - The timezone is factored in, compa

[2019-09-13 18:53] markgreenburg opened #1773 "Allow canceling appointments"
## Story
As a veteran, I want to be able to cancel my own scheduled & pending appointments online so that I don't have to call in or miss my appointment.

## More Info
- Requests of any type (CC or VA) can be cancelled as long as they're in "Submitted" status
- Only traditional booked appointments can be cancelled (i.e. not video, not CC).
- We don't know ahead of time if clinics have configured t

[2019-09-13 18:55] Karak888 commented on #1637
@jenniferlee-dsva please review the above and edit away as you see fit.  I just wanted to provide analytics team with some tasks to get started, but am sure I didn't state everything correctly!
@nedierecel I know you had worked with Jen previously on something similar, so please reach out to her directly and she said she would be available to hop on a call, etc.  Thanks!!

cc: @joanneesteban

[2019-09-13 18:58] markgreenburg opened #1774 "'No appointments' UI mocks"
As a veteran, I want an explicit indication when I have no upcoming appointments so that I don't think the tool is broken.

AC:
- [ ] Mock exists for no appointments

[2019-09-13 18:59] markgreenburg opened #1775 "Error UI when confirmed or pending appointment fetches fail"
## Story
As a veteran, I want to understand why I can't see any of my appointments when I know I've booked / requested some.

## Context
It's possible that the request to fetch either pending or confirmed appointments will fail (there is one call made for each of these two lists) for whatever reason. If we don't have a UI for this, the veteran will be confused as to why they can't see what they kn

[2019-09-13 19:01] markgreenburg opened #1776 "Mock & build Cancel appointment flows"
## Story
As a veteran, I want to be able to cancel my appointments and requests if my circumstances change so that I don't have to stand my provider up.

## UIs for cancel flow
- [x] Where to cancel from (i.e., how to access the cancel functionality and what it looks like)
- [x] What are the steps in the process (i.e., how to present cancel options to veterans)
- [x] What if a cancellation attempt

[2019-09-13 19:04] #1581 closed

[2019-09-13 19:06] YanaRoy opened #1777 "Create Higher Level Review Retrieve intake status endpoint"
## User Story or Problem Statement
As a developer, I need a higher level review retrieve intake status endpoint so I can ensure a response has been processed.

## Goal
Create an Intake Status endpoint on vets-api that can retrieve the intake status for the veteran

## Objectives or Key Results this is meant to further
- Allow the veteran to retrieve the intake status of their review(s)
- Send this

[2019-09-13 19:07] markgreenburg opened #1778 "[wip] build endpoint for canceling appointment"
Notes: It appears that the cancel endpoint for booked appointments may return a 409 status when canceling is disallowed by clinics. We should make sure that info is passed on somehow to the FE.

[2019-09-13 19:08] markgreenburg opened #1779 "[wip] build endpoint for canceling an appointment request"

[2019-09-13 19:09] markgreenburg opened #1780 "[wip] build endpoint for fetching cancelation reasons"

[2019-09-13 19:09] YanaRoy opened #1781 "Create Higher Level Review Retrieve details endpoint"
## User Story or Problem Statement
As a developer, I need to create a higher level review retrieve details status endpoint so I can ensure the actual results are retrieved.

## Goal
Create a Retrieve Details endpoint on vets-api that can retrieve the details of their review for the veteran

## Objectives or Key Results this is meant to further
- Allow the veteran to retrieve the details of  their

[2019-09-13 19:17] delli-gatti-michael commented on #1646
The reference to links has been conditionally removed if no links are present. This bug passes QA

#### With Links
![Screen Shot 2019-09-13 at 3.01.50 PM.png](https://images.zenhubusercontent.com/5c07f000391a6f6357adc430/7b4200a1-b118-44a2-a5e3-637531787ebf)

#### Without Links
![Screen Shot 2019-09-13 at 3.06.41 PM.png](https://images.zenhubusercontent.com/5c07f000391a6f6357adc430/5d53460f-ea5d-4

[2019-09-13 19:21] kevinstachura commented on #1745
@AZSchneider for your review: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/claim-appeal-status/research/discovery-SEP-2019/research-plan.md

[2019-09-13 19:27] markgreenburg commented on #1578
Not in scope for MVP; too many open questions.

[2019-09-13 19:31] markgreenburg opened #1782 "build /systems endpoint to retrieve healthcare systems"
As a developer, I want to allow integrate with `/systems` endpoints so that the VAOS front end can support retrieving VA healthcare systems.

AC:
- [ ] Mock data from staging vaos services recorded to cassette
- [ ] `systems` endpoint supports `GET` method with staging data
- [ ] Tests, specs, and Swagger exist in vets-api

[2019-09-13 19:32] markgreenburg opened #1783 "build `/systems/{systemId}/facilities` GET endpoint to retrieve healthcare facilities"
## Story
As a backend developer, I want to have an endpoint I can call to retrieve a list of VA facilities by VA system ID so that the front end can show veterans the facilities in their registered system and help decide whether the veteran can direct schedule or submit an appointment request.

## AC
- [ ] Staging data recorded to cassettes
- [ ] `/systems/{systemId}/facilities` `GET` endpoint exi

[2019-09-13 19:41] delli-gatti-michael commented on #1640
This table appears to be working with voiceover now. Animated gif showing what voiceover reads below:

![voiceover.gif](https://images.zenhubusercontent.com/5c07f000391a6f6357adc430/acbb8b06-ed81-4a36-abe1-df2cb61936c1)

[2019-09-13 19:42] markgreenburg opened #1784 "Express Care"

[2019-09-13 19:54] markgreenburg opened #1785 "Update review page variants"
## Story
As a developer, I want to understand what to show to veterans depending on their appointment flow they went down so that I can build the right thing.

## Variants
- Community Care appointment request flow review
- VA appointment request flow review
- Direct schedule appointment flow review

## Usability updates from existing mocks:
- Location and clinic should be grouped together.

## AC

[2019-09-13 19:55] markgreenburg opened #1786 "submit appointment request to vets-api"
## Story
As a developer, I want to submit the appointment request that a veteran filled out to vets-api so that the appointment goes into scheduling manager and is completed by a scheduling clerk.

Notes:
- For CC
   - Default distanceWillingToTravel to "40"
   - Send an empty array for officeHours
   - For preferred city and state, use the residential address from Vet360

## AC
- [ ] Appointment

[2019-09-13 19:56] 1Copenut commented on #1646
@delli-gatti-michael This looks good to me too. I'll go ahead and close the ticket since this is a cognition issue and the code was easy to review in PR.

[2019-09-13 19:56] #1646 closed

[2019-09-13 19:57] markgreenburg opened #1787 "Mocks for post-facility selection restrictions"
## Story
As a designer, I want to understand what the different requirements we have for determining if a Veteran can schedule or request an appointment given a particular facility and type of care.

## Details
- A user can't direct schedule an appointment at a given facility if
   - The facility has disabled direct scheduling for that type of care through VATS
   - There are no clinics returned f

[2019-09-13 20:01] markgreenburg opened #1788 "Support PUTing to /requests/{requestId}"
## Story
As a backend engineer, I want to support PUTing to the `/requests/{requestId}` endpoint so that the frontend can support canceling appointment requests by request ID.

## AC
- [ ] use staging console to retrieve json and convert the json into vcr cassettes for future playback
- [ ] `/requests/{requestId}` endpoint supports `PUT` method with success using data from cassette
- [ ] Tests, sp

[2019-09-13 20:02] markgreenburg opened #1789 "Create endpoint for CCE"
## Story
As a front end developer, I want to be able to call a vets-api endpoint that will return Community Care eligibility data, so that I can determine whether or not to show a veteran the community care / va care choice page

## AC
- [ ] Endpoint exists in vets-api for determining CCE eligibility
- [ ] Requests and responses to / from this endpoint use schema (does this still need to be built?

[2019-09-13 20:06] jenniferlee-dsva commented on #1637
@Karak888 - Edited the above with a couple clarifications.

[2019-09-13 20:09] cvalarida opened #1790 "Improve logging in the Metalsmith build pipeline"
## Problem
When the build pipeline takes a long time between console logs, we can't tell what it's doing to determine why it's taking a long time.

## Goal
Better logging during the build.

## Acceptance Criteria
- [ ] Each step in the Metalsmith build pipeline is logged
- [ ] **Extra credit:** Each step is timed

## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be

[2019-09-13 20:35] #1249 closed

[2019-09-13 20:41] jbalboni opened #1791 "Replace confirmed appointment list mock data with vets-api service call"
Fetch from vets-api instead of using mock data.

Service: GET /vaos/appointments
Query parameters:
- startTime
   - ISO datetime
   - Today's date
- endTime
   - ISO datetime
   - Today's date plus 4 months
- useCache
   - boolean
   - false
- pageSize
   - number
   - 0

Data returned:
- Two arrays, one with VistA appointments, the other with Booked CC appointments

AC:
- [ ] Service requested ma

[2019-09-13 20:52] jbalboni opened #1792 "Replace pending appointments mock data with data from requests service"
Fetch from vets-api instead of using mock data.

Service: GET /vaos/requests
Query parameters:
- startTime
   - ISO datetime
   - Today's date
- endTime
   - ISO datetime
   - Today's date minus 1 month

Data returned:
- Array with requests data, includes booked and cancelled, which should be filtered out on FE

AC:
- [ ] Service requested matches above endpoint and parameters
- [ ] Data returned

[2019-09-13 20:54] ncksllvn opened #1793 "Update documentation to encourage application manifest as single source for creating app entry points"
Previously, engineers were required to create Markdown files in the vagov-content repo to serve as "entry points" for applications. As of this vets-website PR, https://github.com/department-of-veterans-affairs/vets-website/pull/10660, engineers can instead use their application's `manifest.json` in vets-website to create entry points, and no longer have to work outside their repo. This is the appr

[2019-09-13 20:59] ncksllvn opened #1794 "Explore rendering accessibility validation into the CMS Preview Server"
To prevent non-compliant HTML from being entered into the CMS and to in general improve the quality of our HTML, we should explore creating a build step (via a Metalsmith plugin) that is executed by our CMS Preview Server that -

1. Injects axe-core JS script
2. Executes the axe check
3. If issues are found - including best practices - we should:
    - If on the CMS Preview Server, or a non-prod b

[2019-09-13 21:01] kathleencrawford commented on #1708
Notes from my 1:1 with Silvio...vets-api error mapping can be found here:

https://github.com/department-of-veterans-affairs/vets-api/blob/master/config/locales/exceptions.en.yml

* This is a comprehensive list of all expected exceptions within vets-api, not specific to rated disabilities.

[2019-09-13 21:03] kathleencrawford commented on #1708
Errors specifically related to the disability compensation form can be found here:

https://github.com/department-of-veterans-affairs/vets-api/blob/master/lib/evss/disability_compensation_form/service_exception.rb

[2019-09-13 21:07] cvalarida commented on #1790
It's not enough to time each `smith.use` statement; those are all queued up for use in the `smith.build()`.

[2019-09-13 21:08] ncksllvn commented on #291
Created a ticket for updating documentation - https://github.com/department-of-veterans-affairs/va.gov-team/issues/1793 - but otherwise, this is done!

[2019-09-13 21:20] kathleencrawford commented on #1708
@jason-gcio @micahchiang

Please review my notes/comments above based on my discussion with Silvio.  I think this is enough info to close this ticket but please confirm or let me know if I'm missing anything.

I did not ask about any call center updates as it doesn't look like we'll be adding any new error codes at this point (and I'm assuming that question would be for someone else anyway).

[2019-09-13 22:08] wyattwalter commented on #1432
I started an OnCall directory in the sensitive repo and migrated this list here. The list itself isn't sensitive, but my intent is to migrate all of the related documentation here. A lot of this info (like contacts) can't be shared publicly.

https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/tree/master/OnCall

[2019-09-13 22:10] wyattwalter commented on #1432
Oops, I thought this was the other ticket linked. The rules are written, need to audit the existing list to make sure they all conform. I made a pass initially at some of the worst offenders, but we should be defensive by auditing the whole list.

[2019-09-13 22:11] wyattwalter opened #1795 "update operations team onboarding document and migrate out of private repo"
## Description

We have an onboarding doc started for the team that encapsulates thing that new engineers may want to know about, but it's incomplete and parts of it are out-of-date. Goal of this task is to re-write or update that doc and move it into this repo.

## AC

- [ ] operations onboarding doc covers goals defined here: https://docs.google.com/document/d/1IM4WJNrSVxzX7jYSdcO_1xSxumJlQ_2e32

[2019-09-13 22:17] wyattwalter commented on #1795
Sigh. I didn't see this already got assigned to me here: #1668

[2019-09-13 22:17] #1795 closed

[2019-09-13 22:19] kathleencrawford commented on #1708
And one more:

https://pint.ebenefits.va.gov/wss-form526-services-web-v2/swagger-ui/index.html?url=https://pint.ebenefits.va.gov/domain1/wss-form526-services-web-v2/rest/swagger.yaml#/

[2019-09-13 23:05] micahchiang commented on #1716
A thought to consider - Can there be more than one special issue? special_issues is an array so it seems possible. If so, what is the best way to display multiple special issues in the Related To table field?

[2019-09-13 23:12] micahchiang commented on #1720
Typically backend requests are handled in asynchronous redux actions:

https://github.com/department-of-veterans-affairs/vets-website/blob/d238bdd6f73e8e769609c2c2ea037cede3f56108/src/applications/personalization/profile360/actions/index.js

A wrapper function is provided in a util file that handles importing an `apiRequest` function from src/platform.

[2019-09-13 23:15] micahchiang commented on #1716
As outlined here: https://department-of-veterans-affairs.github.io/veteran-facing-services-tools/platform/front-end-standards/react/

Any new application should consider using a Container Component as a single point of connection to the redux store. All other react components should be handed props down the component chain from this Container component.

[2019-09-14 23:19] nedierecel commented on #1291
@jenniferlee-dsva Hello! I wanted to check in and see if you had an opportunity to review. Thanks!

[2019-09-15 15:07] #1097 closed

[2019-09-15 20:48] amycesal commented on #996
### Notes from meeting with @JeffBarnesUSDS

- Insights and Analytics team has access to Forsee Data
- Currently most data is from the intercept survey, which targets all of VA.gov, not individual products
- Starting to use the feedback survey on certain pages, but there is no historical data, and there will be fewer responses than the intercept survey because it doesn't intercept/pop-up
- could t

[2019-09-15 20:59] amycesal commented on #996
### Notes from meeting with @clantosswett

- Not possible to do get sentiment of calls
- currently the only data source possible is the White House Hotline data which is in Salesforce
- don't currently do a "how was this call resolved" post-call survey, but it might happen in the future
- Other call centers might be possible to get data from in the future
- Harder but not impossible to get data ab

[2019-09-15 21:01] amycesal commented on #996
### Notes from meeting with @ricetj @tskinn

- Biggest question: defining uptime or downtime
- One factor is that one service is down like 30% of the time
- Which services affect which products will take some work. Not something that’s done already. Would take work to do.
- Open question: is it easier to start with services and map to products or start with products and map which services affect t

[2019-09-16 12:02] delli-gatti-michael commented on #1651
PR: https://github.com/department-of-veterans-affairs/vets-website/pull/10729

[2019-09-16 13:11] #1189 closed

[2019-09-16 13:12] #1552 closed

[2019-09-16 13:12] #1567 closed

[2019-09-16 13:12] #1568 closed

[2019-09-16 13:12] #1566 closed

[2019-09-16 13:12] #1573 closed

[2019-09-16 13:12] sonntag-adam commented on #1658
Merged into staging. Testing passes QA

[2019-09-16 13:13] sonntag-adam commented on #1658
@1Copenut changes are in staging.

[2019-09-16 14:00] jonwehausen commented on #847
Hi @nedierecel ,

Thanks for managing and testing this in my absence.

For the disability calculator widget:
1) Custom metric 11 is allocated to capture the number of fields used when calculate is clicked
2) I left Custom Dimension 51 there inadvertently, this can be marked as unused for re-purposing in the future.

After reviewing and assuming we don't intend to capture the text label **anytime**

[2019-09-16 14:01] delli-gatti-michael commented on #1651
Local testing passes. "Learn more about the location-based housing allowance" is read by voiceover when focused on the Learn More link.

![Screen Shot 2019-09-16 at 8.35.28 AM.png](https://images.zenhubusercontent.com/5c07f000391a6f6357adc430/3d2635d6-8171-4675-839f-fe5ed98395fc)

[2019-09-16 14:16] nedierecel commented on #847
@jonwehausen

#1 and #3 - Sure - let's document this and try it for this approach.
#2 - I'm leaning toward prioritizing the custom dimensions for more user, session, or other hit-level traits that are related to veteran-facing tools vs. Click Text. Though we still have 150 custom dimensions left, internal users are accustomed to seeing the Click Text pull through in the Event Action.

[2019-09-16 14:22] RLHecht commented on #1288
@peggygannon Could you please review this in Drupal and set it to publish if the alert has been moved down to the right spot on the page? Thanks!

[2019-09-16 14:23] peterhill-oddball commented on #1486
Rachael's Feedback:
1. Switch support requests for QA to #vfs-platform-support
2. Add explanation of "what QA is" to the top level README
3. Change label in the Process diagram "Discover Changes" -- maybe "Understand Product Updates"
4. Reduce "intensity" of Sample Test Plan
5. Consider overlap with E2E Critical User Journeys -- https://docs.google.com/presentation/d/1-8LlD8jljlv-C9IIQO1fHDC4ok0Nz

[2019-09-16 14:27] #810 closed

[2019-09-16 14:44] delli-gatti-michael commented on #1647
@1Copenut looks like the fix for this is live on staging and the issue for entering fewer than five numbers is covered by https://github.com/department-of-veterans-affairs/vets.gov-team/issues/19674. Is this issue ready to be closed?

[2019-09-16 14:48] RLHecht opened #1796 "Fix inconsistencies of title casing of certain terms on Veteran-facing pages"
User Story or Problem Statement
There are several terms used on benefit pages where the capping is inconsistent. Some pages these terms are lowercase, others they are capped, and some we even have written both ways on the same page. Examples: Veterans Pension, Aid and Attendance, Vocational Rehabilitation and Employment. A Word doc is attached with more examples and the pages they can be found on.

[2019-09-16 14:54] lkoenigsberg opened #1797 "Bad Address Indicator"
**Background**
Each address stored in Vet360 comes with an optional Bad Address Indicator (BAI). When BAI is true that means that the VA has had mail returned to it from that address, which means not only have the taxpayers paid for a bad government interaction, but also that the Veteran in question did not receive her benefit.

**Expectations**
We should consume the BAI and surface a UI notificat

[2019-09-16 15:02] #809 closed

[2019-09-16 15:02] #641 closed

[2019-09-16 15:02] LEHigley commented on #1664
hi @JQuaggles sorry for the delay here! this is done but i couldn't edit cms-leads members

[2019-09-16 15:05] jenniferlee-dsva commented on #1291
Hi Nedie - thank you for following up. I will slack you with a couple questions.

[2019-09-16 15:11] rianfowler commented on #1460
add auditing and individual access controls: https://github.com/department-of-veterans-affairs/va.gov-team/issues/1764

add user groups and gate access to toggles by group: https://github.com/department-of-veterans-affairs/va.gov-team/issues/1765

[2019-09-16 15:14] JQuaggles commented on #1664
No worries, thanks! @LEHigley

[2019-09-16 15:19] mojaray2k commented on #1740
@tlei123 How do I reproduce this?

[2019-09-16 15:27] RLHecht commented on #1595
Change "active duty service members" to "active-duty service members" per style guide.

https://www.va.gov/health-care/eligibility/![Screen Shot 2019-09-16 at 11.26.05 AM.png](https://images.zenhubusercontent.com/5c9b7e302ac54336e2c327b8/ff667795-0594-47db-8653-f814b2620303)

[2019-09-16 15:31] jason-gcio commented on #1708
Thanks @kathleencrawford & @micahchiang this looks good.  I think I agree that the Call Center probably has these in hand but either way, I put these notes into their folder just in case.  I'll close this!

[2019-09-16 15:31] #1708 closed

[2019-09-16 15:46] clantosswett commented on #1546
Recap of conversation with Education Call Center Conversation on 9/9:

The call was with Mary Ann McMullen and Brian Ellis from the EDU call center as well as Kevin Hoffmann and Matt Self from DSVA. The call was primarily focused on understanding how the call center works and how they go about tracking the calls and the associated metrics. We learned that there is a daily/weekly email that is a re

[2019-09-16 15:50] markgreenburg commented on #1609
Moving back to backlog - research sessions indicate that the address page is confusing so will probably leave this out of the mvp

[2019-09-16 15:51] markgreenburg commented on #936
Sessions complete as of 9/13

[2019-09-16 15:51] #936 closed

[2019-09-16 15:53] clantosswett commented on #1546
Recap of conversation with White House Hotline Team on 9/6:

I was finally able to find a time to speak with Rebecca and a few others from the White House Hotline team. The main focus of the discussion was on the documents that we provided several weeks earlier. We were able to go through them and get feedback from Rebecca and her team. Since then, we've updated the documents and sent back out for

[2019-09-16 15:54] lkoenigsberg opened #1798 "Require ID.me Identify proofing for all DS Logon accounts for DD access (Post DD launch)"
Due to the direct deposit data breach, remote proofing of DS Logon was disabled.. it was very Knowledge Base Authentication heavy and prone to compromise

In addition, about 3000 DS Logon accounts associated with the breach have been disabled. Those folks will be instructed to go in person to re-enable their accounts

We need to make changes that require ID.me identity proofing for all DS Logon ac

[2019-09-16 15:56] #291 closed

[2019-09-16 16:04] lkoenigsberg commented on #1798
@Justin-Pickett , please add this to the DD post launch list of items to take care of.

[2019-09-16 16:07] brandonrapp commented on #1408
Updated presentation is here - https://docs.google.com/presentation/d/11GWnu5r2qg8P12uglVY6q3P5t3rzGWoC170n0irTNl0/edit?usp=sharing

[2019-09-16 16:10] brandonrapp commented on #1042
The Privacy and Security slides have been added! We wanted to keep these fairly high level as there is A LOT of detail documentation already in place to help answer more granular questions. We wanted to create some talking points so that we can better understand what each new team's security and privacy needs are going to be based on their type of work. Depending if they are using PII or other fac

[2019-09-16 16:35] lkoenigsberg opened #1799 "Notification Launch Checklist"
All items here must be completed and signed off on by VSP before your new application can launch, and you should start convos about each item early - so you can work on them incrementally and iterate from day one.

If you're unsure how to tackle various things on this list, just ask in #vfs-platform-support so VSP can help!  These processes are here to help ensure we're launching features that are

[2019-09-16 16:39] accbjt opened #1800 "Support By Light Team"
Had a meeting to show how they might be able to implement their success message

[2019-09-16 16:40] #1800 closed

[2019-09-16 16:41] accbjt opened #1801 "Discovery: By Light success feature"
Needed to spend some time to figure out the best approach for the success message for By Light.

[2019-09-16 16:41] #1801 closed

[2019-09-16 17:11] #1434 closed

[2019-09-16 17:12] Karak888 opened #1802 "Change FOIA Footer Link on VA.gov from www.oprm.va.gov/foia to www.va.gov/foia."
Task
Since the new FOIA site is live they are no longer part of the oprm.va.gov site and will need footer link to be changed from Freedom of Information Act FOIA) link from: https://www.oprm.va.gov/foia to https://www.va.gov/foia.

Acceptance Criteria
FOIA Footer link has been changed on VA.gov site to be:  https://www.va.gov/foia.

[2019-09-16 17:53] YanaRoy opened #1803 "[Development] Create pre-fill form profile for Higher Level Review"
## User Story or Problem Statement
As a Veteran, I need to have all of my relevant information that the VA has stored about me to be pre-populated for me in the Higher Level Review form so I can avoid having to enter it again.

## Goal
_Avoid the need for user to be required to enter information that the VA already has about them_

## Acceptance Criteria
- [ ] Create a form profile to populate pre

[2019-09-16 17:53] #1149 closed

[2019-09-16 17:58] ricetj commented on #1468
done on this level

[2019-09-16 17:58] #1468 closed

[2019-09-16 18:02] NateJohnson-BAH commented on #1640
PR was merged as of 1400 on 16 Sep, 2019.

[2019-09-16 18:03] #1408 closed

[2019-09-16 18:04] ricetj opened #1804 "Create Jenkins Jobs for CMS-CI"
this work is ongoing collaboration with the CMS team to migrate their Continuous Integration system into our infrastructure.

@tskinn can you fill in more detail. Also, adjust the estimate number

[2019-09-16 18:23] kevinstachura commented on #1752
@lalexanderson-dsva can you please review the Research Plan documentation? Located here:

https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/claim-appeal-status/research/discovery-SEP-2019/research-plan.md

Thank you!

[2019-09-16 18:29] #1493 closed

[2019-09-16 18:29] #1580 closed

[2019-09-16 18:36] #1720 closed

[2019-09-16 18:37] 1Copenut commented on #1640
@NateJohnson-BAH I verified this ticket with IE11 and Chrome with JAWS, and Firefox and Chrome with NVDA. All are reporting the table as expected. Moving to close.

[2019-09-16 18:37] #1640 closed

[2019-09-16 18:42] YanaRoy commented on #881
- [x] @1Copenut I have reviewed **GitHub Markdown syntax**

[2019-09-16 18:42] #881 closed

[2019-09-16 18:43] #1710 closed

[2019-09-16 18:46] 1Copenut commented on #1651
[This PR](https://github.com/department-of-veterans-affairs/va.gov-team/issues/1640) is working as expected. It has a small redundancy in that screen readers will hear "Learn more" read twice. For future uses of this pattern to create an entirely new label from the previous one for screen readers, we need to add an `aria-hidden="true"` span around the redundant text.

We can also omit the `aria-li

[2019-09-16 18:50] #1651 closed

[2019-09-16 18:51] clantosswett commented on #1546
Recap of conversation with National Call Center on 9/4:

I have been able to touch base with the heads of the National Call Center quite a bit (Regina Yount) because of the upcoming roll out of direct deposit. We've had several conversations around training for the new direct deposit feature on VA.gov. Nothing major to report here but the hope is we can get their CRM updated to reflect direct depo

[2019-09-16 18:54] clantosswett commented on #1586
I heard back from USDS and they said the information they received came from Ryan Luu from adhoc. Not sure how helpful that is considering he isn't with adhoc anymore but I asked to see if there were any other POCs who might have provided the information as shown on the website.

[2019-09-16 18:58] YanaRoy commented on #884
invited @andreahewitt-odd

[2019-09-16 18:58] #884 closed

[2019-09-16 19:01] Mottie opened #1805 "Duplicate side menu entry"
## What happened?

On this page: https://staging.va.gov/disability/about-disability-ratings/

The "About disability ratings" accordion is duplicated.

![Screen Shot 2019-09-16 at 1 34 02 PM](https://user-images.githubusercontent.com/136959/64985504-9d709b80-d88a-11e9-91d5-3bc60eadc576.png)

Note: This only applies to the staging.va.gov site. This is **not seen** on the [va.gov site](https://stagin

[2019-09-16 19:01] lkoenigsberg opened #1806 "Direct Deposit Post Launch"
## Background

This epic serves as a central place to collect various post launch items related to direct deposit.

## Desgin Tickets

## Front End Build Tickets
- #3982

## Back End Build Tickets
- #3981

## QA Tickets

[2019-09-16 19:04] lkoenigsberg commented on #1061
Might be duplicate of #1797, which is an epic?

[2019-09-16 19:09] #1802 closed

[2019-09-16 19:35] jbalboni opened #1807 "Rename Confirmed/Pending appointment components"
These are confusingly named right now, we should update the names to be more explicit.

Currently we have:
- `ConfirmedAppoinmentsPage`
   - The confirmed appointments list page
- `ConfirmedAppointment`
   - A component that renders one item in the above list page
- `ConfirmedAppointmentPage`
   - The details page for a confirmed appointment, which is linked to from the list page

We decided this

[2019-09-16 19:39] brandonrapp opened #1808 "Ongoing VFS teams Support - Sprint 9"
Provide ongoing support for VFS to help with code reviews and problems related to VSP tools and best practices.

[2019-09-16 19:43] 1Copenut commented on #1658
@sonntag-adam I retested this zoomed in and with screen readers (JAWS, NVDA, VoiceOver). Working as expected, moving to close.

[2019-09-16 19:43] #1658 closed

[2019-09-16 19:43] brandonrapp opened #1809 "Tools and Improvement Team Ongoing VFS Team Onboarding Support - Sprint 9"

[2019-09-16 19:59] nedierecel commented on #1586
@clantosswett Thanks - I served on Ryan's team, so I'll comb through former issues. Appreciate the help!

[2019-09-16 20:05] RLHecht opened #1812 "Fix the About Disability Ratings page due to a CMS anomaly"
## User Story or Problem Statement

Problem description. Due to a CMS anomaly, we can't have a subway map with charts in it like in this disability page: https://vagov-content-pr-268.herokuapp.com/disability/about-disability-ratings/

## Goal
Change the organization of the page to remove the subway map and just use H4s that say "Step 1, Step 2, etc."

## Objectives or Key Results this is meant to

[2019-09-16 20:06] mnorthuis commented on #931
File for working with IA (the ROE) now created and placed in the IA folder in the repo.  This will serve as the agenda/talking points for the onboarding meetings.

https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/information-architecture/working-with-ia.md

[2019-09-16 20:06] #931 closed

[2019-09-16 20:07] mnorthuis commented on #1246
Document finalized and placed in repo for use:
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/working-with-vsp/onboarding/repo-guidelines.md

[2019-09-16 20:12] clantosswett commented on #1170
Work on this issue can be reviewed here: https://github.com/department-of-veterans-affairs/vets.gov-team/issues/18824

[2019-09-16 20:13] clantosswett commented on #858
Have had one round of reviews. We are currently waiting to have the edits and changes reviewed again. Tentative deadline for 9/26. [https://app.zenhub.com/files/133843125/8baff444-6f83-438a-a87c-d0d57a62a984/download](https://app.zenhub.com/files/133843125/8baff444-6f83-438a-a87c-d0d57a62a984/download)

[2019-09-16 20:21] peggygannon commented on #1288
@RLHecht @Karak888 I've reviewed and published. We should wait until after the deploy tomorrow (9/17) to validate on the live site before closing out this issue.

[2019-09-16 20:24] clantosswett commented on #1586
Sounds good, @nedierecel  Let me know if additional information would help with that.

[2019-09-16 20:30] lkoenigsberg opened #1813 "Prevent updates given a Fiduciary"
Given that Vet360 rejects updates from a VBA user with a Fiduciary -- but much like date-of-death we should find and consume Fiduciary info and set the profile to read-only if the logged-in user has one.

[2019-09-16 20:31] kfrz opened #1814 "Faraday client configuration spec set up is extracted into shared helper"
## User Story or Problem Statement
As a VSP API engineer writing specs I want to use a common Faraday client configuration to avoid module namespace collisions.

## Goal
Service class specs are easily written and highly performant, without repeating excess setup/teardown code.

## Acceptance Criteria
- [x] Specs identified where we're using a configuration, and extraction pattern applied
- [x] Far

[2019-09-16 20:59] kfrz opened #1816 "Exception handling and error coercion refactor"
## User Story or Problem Statement
As a engineer working with `vets-api` I need a maintainable approach for handling errors returned from external (upstream) requests, so that future developers can easily augment and extend custom error handling when necessary.

## Background

Currently, we approach exception coercion and error reporting in a smattering of various classes and mixins and middleware

[2019-09-16 21:00] amycesal commented on #996
### Notes from meeting with @nedierecel @jonwehausen
- Time to complete - don’t have but could get. Could show distribution
- Users and submissions - source from 2 different sets of data because of vets.gov
- Time of day, possible but not a thing we have currently implemented. Currently just track the day.

### Data that doesn't fall into anyone's current domain
- Manual tracking of some things li

[2019-09-16 21:17] annaswims commented on #128
The starting point for all BE dociumentation is now https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/engineering/backend/README.md and a lot of the topics alre well covered.

[2019-09-16 21:26] lalexanderson-dsva commented on #1752
Hi @kevinstachura  and @smoonpeyes. Just looked at your research plan. We do not have the granularity of detail in Perigean's recruiting database to be able to find people who have erroneously done this submission on VA.gov because this tool is too new to the website. I'm not confident that we will be able to get you the profile you're looking to talk to via Perigean, unless you are planning to pr

[2019-09-16 21:43] jenniferlee-dsva commented on #1703
@RLHecht (and fysa @Karak888 ) Please make this content update in Github instance this week. I was waiting to do this in Drupal, but because Disability hub pages in Drupal are going to take longer than expected to get out of UAT, this change now needs to be made in GH to be timely.

[2019-09-16 21:44] jenniferlee-dsva commented on #1703
This change will need to be made in the Drupal instance for 1:1 UAT/Github parity: https://github.com/department-of-veterans-affairs/va.gov-team/issues/1020#event-2562405819

[2019-09-16 21:56] 1Copenut opened #1817 "Explore new patterns for Learn more buttons and expandable section buttons for all applications"
## Description

The GI Bill Comparison Tool® has an open issue where `Learn more` buttons are [interfering with screen reader behavior](https://github.com/department-of-veterans-affairs/va.gov-team/issues/1251) on input labels. This lead to a bit more exploration into buttons in labels and legends to understand how they affected screen readers.

This ticket will collect 508 findings and be a point

[2019-09-16 22:03] Justin-Pickett commented on #1061
yeah it is but no worries. I'll  keep the other one (#1797) as the Epic and close this one out.

[2019-09-16 22:03] #1061 closed

[2019-09-16 22:11] mnorthuis commented on #1727
@Karak888 I think  you can use my acceptance criteria as a guide on what needs to be done. I'm not sure if you want to group those by role on the team or some other way though.  If you want to set up time to talk through, feel free to!

[2019-09-16 22:40] amycesal commented on #1584
# Conversation Guide

## Moderator logistics

*Use [#feedback-backchannel](https://dsva.slack.com/messages/C40B45NJK/details/) in Slack for real-time feedback from observers.*

*Before the session, send out the [observer instructions](https://github.com/department-of-veterans-affairs/vets.gov-team/blob/master/Work%20Practices/Research/Research%20Process%20and%20Templates/observer-instructions.md)

[2019-09-17 00:01] cvalarida opened #1818 "Add flag for failing fast for CMS errors"
## User Story
As a CMS engineer, I need the `vets-website` build to break transparently when the CMS breaks something so I can ensure I don't unintentionally break the `vets-website` build.

Originally part of https://github.com/department-of-veterans-affairs/vets-website/pull/10270

## Goal
An optional flag can be passed to ignore all the failsafes we have in the website build.

## Acceptance Cri

[2019-09-17 00:06] cvalarida opened #1819 "Output Drupal URL"
## Task
Output the Drupal URL next to "Successfully piped Drupal content into Metalsmith!"

## Acceptance Criteria
- [ ] The URL is in the build log

[2019-09-17 00:16] cvalarida commented on #1819
Originally found in https://github.com/department-of-veterans-affairs/vets-website/pull/10270.

@jonpugh Turns out there's some overhead in getting the actual URL used where we're logging `Successfully piped Drupal content into Metalsmith!`. We do have this, though. Does this fill the need?
![image](https://user-images.githubusercontent.com/12970166/65001764-b89cd480-d8a5-11e9-9d54-116ad78fde4e.pn

[2019-09-17 00:29] leahbannon commented on #1547
After reviewing this, I want to build on this comment from Joanne’s notes from our earlier discussion:

To do this effectively, I think we need to first start by providing a high level overview of product health, which is designed to pique interest in potential problem areas — and then empowers further research and investigation. To that end, I outlined a draft list of the areas that I think are m

[2019-09-17 01:08] #1731 closed

[2019-09-17 01:13] jenniferlee-dsva commented on #1812
@RLHecht - Just caught one thing on the Github source. The "(not rounded)" text should actually be appearing as part of the h3 below where it appears now.

**Screenshot here:**

![image](https://user-images.githubusercontent.com/43381063/65003500-c3b42c80-d8c6-11e9-9c96-e39798e93692.png)

[2019-09-17 01:46] lihanli commented on #1735
errors in sidekiq jobs are logged to sentry. sidekiq will retry the DirectDepositEmailJob for 24 hours. afterwards it moves the job into Sidekiq::DeadSet. dead set jobs can retried manually through the console. jobs in the dead set are deleted after 6 months. https://github.com/mperham/sidekiq/wiki/Error-Handling

[2019-09-17 01:48] lihanli commented on #1734
confirmed https://github.com/department-of-veterans-affairs/vets.gov-team/issues/19647#issuecomment-530178568

[2019-09-17 01:48] #1734 closed

[2019-09-17 02:31] jenniferlee-dsva commented on #1805
@Mottie - I wanted to flag that this page currently has a couple of in-flight things that might/not factor into this issue. But just wanted to make all the folks aware who are currently working various updates related to this page -- in both Drupal and Gh heroku/md.

FYSA @JeffBarnesUSDS @jefflbrauer @kevwalsh @RLHecht @peggygannon

[2019-09-17 04:02] narin opened #1821 "Create "Type of Facility" Page"
## Story
As a veteran, if I'm eligible for Community Care, I want to be able to specify whether I'd like to be seen at a VA medical center/clinic or a Community Care facility.

Maps to this mockup: https://adhoc.invisionapp.com/share/KYTTUL9GU92#/screens/382961723

## Screenshots
![image.png](https://images.zenhubusercontent.com/560c1d84638e718c995d70da/67d82543-7b34-4003-8f52-737e7563e9d0)

## Ac

[2019-09-17 12:08] Karak888 commented on #1727
will do, thanks @mnorthuis !

[2019-09-17 12:29] meganhkelley opened #1822 "Refine Content & IA VSP Orientation Process"
### User Story
As a VFS team, I need to know best practices and ROE for content & IA for va.gov and the va.gov-team repo, so that I can build apps for veterans with agility, efficiency, and human-centered practices.

### Goal
To create documentation and processes that help C & IA team efficiently onboard new (and sometimes old) VFS teams onto the platform.

[2019-09-17 12:30] meganhkelley commented on #1246
Reopened to add to applicable epic, closing now.

[2019-09-17 12:30] #1246 closed

[2019-09-17 12:56] RLHecht commented on #1812
@jenniferlee-dsva I just moved that text to the chart. It's currently also styled as an H4. I was trying to have it be smaller text next to it but when I look in the preview, it's showing it on a separate line. Not sure if this would be the case in the Heroku instance but that is still not working so I can't check it.

[2019-09-17 13:05] U-DON commented on #1742
[`module-alias`](https://www.npmjs.com/package/module-alias) seems to be an actively supported module that is fairly simple to configure.

[2019-09-17 13:14] joanneesteban opened #1823 "Analytics Reporting Request for Digitized Modernization Council Meeting"
# Metrics Reporting Request

## What this form is for

Use this template to request performance, usability, or outcomes va.gov metrics that is difficult to access or that needs analytics interpretation.

Insights will usually provide data reports within the current sprint, but if there is time-sensitivity, please note them in "additional comments."

## Instructions

Please fill out the following s

[2019-09-17 13:15] joanneesteban commented on #1823
@amycesal Could you put this on Microsoft PPT? (and redesign as necessary?)

https://docs.google.com/presentation/d/1G92yeWeA-rtZ1KxrdKvJg7LjQo_Msneea8wY6I5qalQ/edit#slide=id.p

[2019-09-17 13:21] jenniferlee-dsva commented on #1812
Perfect! Thank you @RLHecht !  Let's send this updated content over to Jeff Brauer and Kevin W. and just let them know we haven't been able to heroku preview it, so we'll do that in Drupal preview.

[2019-09-17 13:23] joanneesteban commented on #1823
Data caveat: Foresee does not track modernized vs. legacy pages in the same way that Google Analytics does because currently, Foresee does not separate out surveys based on separate pages but instead sends out an intercept survey that captures users from across the site at the end of a full user cycle.

We can generate CSAT impact over time from the question, "Did you notice the redesign?", which

[2019-09-17 13:24] jbalboni opened #1824 "Create breadcrumbs for existing pages"
We need to have breadcrumbs for each page. Because they will change depending on the page you're on, they'll need to be in React, rather than ones in a Metalsmith template.

We can look at the breadcrumbs in the claim status app as guidance.

[2019-09-17 13:37] #1749 closed

[2019-09-17 13:37] YanaRoy commented on #1357
Load testing is ready to go but security and privacy aren't yet (should be in the next couple days). Then Peter will schedule with the team.

[2019-09-17 13:45] jbalboni commented on #1562
Duplicate

[2019-09-17 13:45] #1562 closed

[2019-09-17 13:49] markgreenburg commented on #1784
Dupe of #1645

[2019-09-17 13:49] #1784 closed

[2019-09-17 13:52] #1809 closed

[2019-09-17 13:52] jonwehausen commented on #847
@nedierecel With the accordion implementation being global, we may want to do a little extra QA.

[Story 847 - Disability Calculator](https://tagmanager.google.com/#/container/accounts/144676348/containers/2214120/workspaces/657) container reflects the most recent changes:
- Added {{Click Text}} into the expand and collapse entries for Navigation Action Lookup
- Abandoned the Accordion Event, will

[2019-09-17 13:53] mnorthuis commented on #1739
I think this is a duplicate of #1246?

[2019-09-17 14:01] jenniferlee-dsva commented on #1728
This legal text refinement was supposed to go out this week via Drupal -- based on original schedule of hub coming out of UAT this week.  But now that it's going to be another 2 weeks of UAT for Disability hub, this text should go live via Github this week.

Note - this update will ALSO need to be made post-UAT freeze in Drupal: https://github.com/department-of-veterans-affairs/va.gov-team/issues/

[2019-09-17 14:05] meganhkelley commented on #1739
Yep, totally is. Closing.

[2019-09-17 14:05] #1739 closed

[2019-09-17 14:11] tskinn commented on #1148
The original testing proposal of this ticket is pretty ambitious. I've started out by doing something simpler and just creating a post init task that tests redirects immediately after a new deploy is created. So if a redirect is misbehaving we will know to either push a fix ASAP or rollback.

[2019-09-17 14:12] ricetj commented on #860
Duplicate ticket

[2019-09-17 14:12] #860 closed

[2019-09-17 14:15] #1758 closed

[2019-09-17 14:16] mnorthuis commented on #1615
@Karak888 I updated the list of tasks in the description for my next steps.  Do you want the redirect tickets recreated in the VSP repo as they are ready to go/be assigned out?  Also, is Nick still the person to do the redirects?

[2019-09-17 14:18] #1699 closed

[2019-09-17 14:20] ricetj opened #1825 "Operations VFS Support - Sprint 9"

[2019-09-17 14:20] 1Copenut commented on #924
@Karak888 I've got a demo ready for talking 508 with the VSA Global team. LMK if there's a time that works well for your team. I recommend 30-60 minutes. Thank you.

[2019-09-17 14:21] #1188 closed

[2019-09-17 14:28] 1Copenut opened #1826 "Arrange and present 508 deep dive to VSA Benefits and Memorials"
* Best practices
* Focus management
* HTML structure

As a developer, I want an accessibility workshop so that I understand the best practices when developing with accessibility in mind.

[2019-09-17 14:29] 1Copenut commented on #1826
This has been scheduled for Monday, September 23rd.

[2019-09-17 14:33] lunascoop commented on #1615
https://docs.google.com/spreadsheets/d/12PyJ2PLlBqcVOfQwSOafCm0I7XhDst1ZRFO9NPUxc-E/edit?usp=sharing

[2019-09-17 14:57] andreahewitt-odd opened #1827 "Product Support Issues -- Sprint 9"

[2019-09-17 14:57] #1687 closed

[2019-09-17 15:15] sporeboy commented on #1718
508 overview and checklist is updated in team repo. List includes best practices, resources, tools, detailed checklist, and review processes.

[2019-09-17 15:24] tlei123 commented on #1740
@clantosswett , would you mind helping @mojaray2k find more addresses to trigger this Mailing Address profile-save-failure please?

For some reason test-user 150 and both the TX & MD addresses \[see Steps to Reproduce section above] are no longer triggering any error on [Staging Profile](https://staging.va.gov/profile/#contact-information).

Thanks much!

[2019-09-17 15:29] Karak888 opened #1828 "Analytics Reporting Request for VA Forms for VSA Global UX"
# Metrics Reporting Request

## General Analytics for page visits from the following VA forms pages:

## Instructions

Please fill out the following sections:
- [X] Description:
- [X] Timeframe for Analytics Requested
- [X] Analytics to Track Down
- [X] Which Product Questions are you trying to answer?
- [ ] Additional Comments

## Description
Who is this request for?

- [Jennifer Lee]
- [Kara Kem

[2019-09-17 15:30] 1Copenut opened #1829 "Arrange and present a 508 deep dive to the By Light team"
* Best practices
* Focus management
* HTML structure

As a developer, I want an accessibility workshop so that I understand the best practices when developing with accessibility in mind.

[2019-09-17 15:32] 1Copenut opened #1830 "Arrange and present a 508 deep dive to VSA Authenticated Experience"
* Best practices
* Focus management
* HTML structure

As a developer, I want an accessibility workshop so that I understand the best practices when developing with accessibility in mind.

[2019-09-17 15:36] jason-gcio opened #1831 "Analytics Onboarding"
## Analytics Onboarding
Last few items to cover to complete for the Analytics Team  (**@Joanne Esteban** & **@nedierecel** in Slack)

## Follow up items to complete:
- [x] Opt out of [VA.gov's tracking](https://www.va.gov/analytics-opt-out.html)
  - [x] Micah
  - [x] Aricka
  - [x] Kathleen
  - [x] Jim
  - [x] Jason
-  [x] [Slack over pre-workshop doc](https://github.com/department-of-veterans-aff

[2019-09-17 15:38] narin commented on #1821
I don't think there was a ticket created for this page yet. CC: @markgreenburg

@jbalboni I saw some references in the code to `typeOfFacility`.  Did you start work on the page at all yet? If not I'll pick this up next.

[2019-09-17 15:49] 1Copenut commented on #1830
Closing b/c duplicate of https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/872

[2019-09-17 15:49] #1830 closed

[2019-09-17 15:54] markgreenburg commented on #1821
Looks like #1821 was that ticket for this but let's tie the work to this ticket since that one's closed as a dupe.

[2019-09-17 15:58] markgreenburg commented on #989
@kreek not sure if this issue is a dupe; believe most of this work is either done or split into individual issues for the endpoints that need to be created. Feel free to close or refine as you see fit.

[2019-09-17 16:15] YanaRoy opened #1832 "Letters: Migrate address updater to vet360"
@markgreenburg commented on [Tue Nov 20 2018](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/15250)

## Problem
The Letters app needs to use vet360 for its mailing address display and update functionality. It currently uses `pciu_address` and a custom component.

## AC
- [ ] Update `<AddressSection/>` to include the vet360 `MailingAddress` and related components (can be fou

[2019-09-17 16:28] markgreenburg opened #1833 "VAOS Messaging Discovery"
## Story
As a designer or product manager, I want to understand whether messaging is important to include in the MVP, what problem it solves in legacy VAOS, and how the redesigned VAOS should solve that problem so that I can advocate for building the right solution into the new VAOS tool.

## AC
- [ ] Documentation exists in github for: current messaging functionality, what problem it solves, what

[2019-09-17 16:29] U-DON commented on #1742
Seems like the `babel-plugin-module-resolver` should work just fine by calling `require('@babel/register')` before any code is executed. In the code base's current state, tests can already abbreviate their import paths.

[2019-09-17 16:39] YanaRoy opened #1834 "BDD Claims Flow"
## High Level User Story
As an active service member who is between 180 and 90 days from separation, I need to be able to submit a Disability Claim on va.gov so I can avoid being redirected to eBenefits.

## Hypothesis/(es)
**If** _we make this change_ **then** _we expect this to happen_.

## Goals
_What outcome(s) do we want to see?_

## Objectives
_Which VSP Objectives does this body of work pus

[2019-09-17 17:16] nedierecel commented on #1293
Brittany was added on Monday, 9/16; Sent Slack on 9/17 that Dorothy and Dan's emails need an associated Google account.

[2019-09-17 17:24] YanaRoy commented on #1701
Original ticket #18984
This issue is for triaging recent claims & appeals issues from call center. It's possible we will need to re-collect this data with PII or even follow up with veterans.

https://app.zenhub.com/files/31788863/7be5115b-f56b-4e6c-b50e-e2aceb24abc5/download

[2019-09-17 17:29] lwalsh617 commented on #1418
Adding some notes per today's content call. Priority areas are as follows:
- Disability
- Education
- Voc Rehab, aka Careers & Employment
After these three area are done, we'll move on to:
- Housing
- Pension
- Life Insurance

[2019-09-17 17:31] #975 closed

[2019-09-17 17:48] aeltarhoni commented on #1054
@smoonpeyes will sync with Carola

[2019-09-17 17:51] aeltarhoni commented on #1663
@ndsprinkle will look at the possibility.

[2019-09-17 17:52] aeltarhoni commented on #1650
@goldenmeanie Can you upload the notes to Git?

[2019-09-17 17:54] markgreenburg opened #1835 "Add Care Type to confirmed appointment details"
## Story
As a veteran, I want to see the type of care for each of my confirmed appointments so that I know why I'm going to a facility. When I have multiple appointments scheduled, it's very hard to know which appointment is for which specialty because I don't have any information about that in my appointment list.

## AC
- [ ] Add type of care, or some other relevant info, to the appointment list

[2019-09-17 18:09] #1718 closed

[2019-09-17 18:09] johnpaulashenfelter commented on #1558
Got a copy of cache from @annaswims so I'm ok on frontend now

[2019-09-17 18:11] markgreenburg commented on #989
user service integration work blocked by devops work but that should be taken care of this sprint.

[2019-09-17 18:23] RLHecht commented on #1703
@jenniferlee-dsva These changes have been made in Github. Here's the PR for the branch: https://github.com/department-of-veterans-affairs/vagov-content/pull/556

FYI @Karak888

[2019-09-17 18:28] #509 closed

[2019-09-17 18:28] #1029 closed

[2019-09-17 18:38] markgreenburg commented on #1772
@rtwell I think we need a mock for where this link / button / etc. would go in the details page for telehealth appointments, and what the interactions around it would be. E.g., should it only appear within a given time from the appointment.

[2019-09-17 19:12] RLHecht commented on #1728
@jenniferlee-dsva These changes have been made in this PR: https://github.com/department-of-veterans-affairs/vagov-content/pull/557
FYI @Karak888 @peggygannon

[2019-09-17 19:23] Karak888 opened #1836 "Find a list of all Digital Tools / experiences on VA.gov"
## User Story or Problem Statement
I need to find a list of all digital tools that exist on VA.gov so that I may account for those as part of analytics we are collecting for top page views in support of the VA Forms Redesign page.

## Objectives or Key Results this is meant to further
Will need to determine what paper forms this list of digital tools correspond to

## Acceptance Criteria
- [x] Lis

[2019-09-17 19:26] brandonrapp commented on #1161
Plan has been finalized! Moving on to more granular tickets for ATO work upcoming.

1. Get access into EMS (Patrick is providing assistance)
2. Share docs with Faith - including new PIA template
3. Submit a PTA for VFSP (leverage vets.gov and change name and project owner)
4. Enter in a remediation task around CMS - This should handle our CMS integration. We can make this to be completed in the fu

[2019-09-17 19:26] #1161 closed

[2019-09-17 19:30] brandonrapp opened #1837 "Submit a PTA for VFSP (leverage vets.gov and change name and project owner)"

[2019-09-17 19:31] brandonrapp opened #1838 "Enter in a remediation task to include CMS under VFSA ATO"

[2019-09-17 19:31] brandonrapp opened #1839 "Submit PIA for VFSA"

[2019-09-17 19:44] #1557 closed

[2019-09-17 19:55] lkoenigsberg opened #1840 "Bug: Unable to request a veteran ID card"
Page not found when clicking the button at the bottom of https://staging.va.gov/records/get-veteran-id-cards/apply/.  Possible the URL has changed?

[2019-09-17 20:04] #161 closed

[2019-09-17 20:25] jonpugh commented on #1819
Apologies @cvalarida that line came from our original PR and was submitted and merged a few weeks ago. (same with the file path of local cache log)

I can't find the PR right now, but if you look at the `git blame` for that logging, it was cherry-picjked or recommitted from our branch.

CC: @ElijahLynn

[2019-09-17 20:32] rianfowler commented on #1481
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/engineering/frontend-testing-guidelines.md

[2019-09-17 20:32] #1481 closed

[2019-09-17 21:23] cvalarida commented on #1819
Sounds good! Thanks! :raised_hands:

[2019-09-17 23:47] erikphansen commented on #1840
I get the same error message in prod using the test user provided by @lkoenigsberg. It's due to an error from `GET https://api.va.gov/v0/id_card/attributes `:
[code]

@lihanli could this be because the test user we're using isn't fully fleshed out?

[2019-09-18 01:36] amycesal commented on #1547
![Bluest Sky](https://user-images.githubusercontent.com/1656046/65096477-bd878400-d98a-11e9-931a-239333415497.png)

[2019-09-18 04:18] markgreenburg commented on #1564
@rtwell please chime in if this needs more up-to-date mocks; believe this was an area where usability research may have changed our minds a bit.

[2019-09-18 04:22] markgreenburg commented on #1575
@rtwell to confirm what we should do with this page - seems as though we probably need this but also probably need new mocks to reflect the calendar UI that was originally meant for direct scheduling.

[2019-09-18 04:38] #940 closed

[2019-09-18 04:43] lihanli commented on #1840
@erikphansen yea, the production user must be loa3, must have an EDIPI, and their title 38 status must be v1, v3, or v6 (https://github.com/department-of-veterans-affairs/vets.gov-team/issues/6042)

[2019-09-18 13:00] joanneesteban opened #1842 "Analytics Requests & Support Sprint 9"
## High Level User Story
As VSP, I need to know the analytics support levels for Sprint  so I can prioritize analytics work accordingly.

## Hypothesis/(es)
**If** we track analytics support for this sprint **then** we expect to be able to prioritize our work in accordance to team bandwidth and maintain support consistency across VSP.

## Goals
Track all analytics support for this sprint.

## Obje

[2019-09-18 13:03] clantosswett commented on #1740
@tlei123 Here are a few more addresses that I tested and produced the error. I tested on staging with the user vets.gov.user+0@gmail.com.

5201 Kingston Pike, Suite 1-169, Knoxville, TN 37919

227 Sandy Springs Place, Suite D457 , Atlanta, Georgia 30328

Let me know if these don't work for you.

[2019-09-18 13:11] joanneesteban opened #1843 "[Discovery] Where to put our data (Data Warehouse) for the Product Health Tool"
## Problem Statement
How might we store data from across multiple platforms (Google Analytics, Grafana, Foresee, Call Centers, PA&I) so that the data can be easily displayed in one platform?

## Goal
Determine the best data warehouse solution for hosting data from across multiple platforms. The dashboard should be accessible for members of VSP teams and have the potential to integrate with whichev

[2019-09-18 13:35] #247 closed

[2019-09-18 13:41] RLHecht commented on #1288
Validated and closing issue.

[2019-09-18 13:41] #1288 closed

[2019-09-18 13:47] RLHecht commented on #1728
@jenniferlee-dsva added you as a reviewer to the PR, which is in the above comment.

[2019-09-18 13:57] Karak888 commented on #1615
Hi @mnorthuis I must have completely missed this yesterday, sorry!  Yes that would be great if we could re-create them as they are ready to go that would be great! Nick for now, he may assign to our new FE engineer Kelson Adams, but Nick for now.  Thanks!!

[2019-09-18 13:57] ncksllvn commented on #993
We now have phone numbers!

![image.png](https://images.zenhubusercontent.com/59cb9de1b0222d5de47953d8/296a8ce5-e04c-4947-843b-b6e453f74e38)

[2019-09-18 14:01] kelsonic opened #1845 "Access for Kelson Adams (@kelsonic)"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Add a comment @department-of-veterans-affairs/vsp-operations to ping the operations team
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

**Mary O'Toole**

- Please provide you

[2019-09-18 14:04] Karak888 commented on #993
awesome @ncksllvn!  I know that @chrisj-usds reviewed on Monday so maybe we can put this PPMS one to rest (cause we gots lots more on the PPMS front)!

[2019-09-18 14:05] kelsonic commented on #1845
@department-of-veterans-affairs/vsp-operations

[2019-09-18 14:12] nedierecel commented on #847
@jonwehausen Good reminder to do a little more QA. For the disability calculator itself, these changes appear correctly.

_Disability Calculator_:
- {{Click Text}} looks correct
- Correct approach that I don't see CDs 51 and 52 set.
- metric11 is working correctly

_Global QA - Navigation Accordion + Collapse_:
I met with the Andy and Jeff leading a new beta of VAMC that you can see here on Prod f

[2019-09-18 14:21] jonwehausen commented on #847
Thanks for your feedback. Published and closed.

[2019-09-18 14:21] #847 closed

[2019-09-18 14:24] ricetj commented on #1845
@Jeff-Hayter
COR: Mary O'Toole
User: Kelson Adams

[2019-09-18 14:25] jenniemc commented on #1526
going on leave, not available to complete the ticket @jbalboni @markgreenburg

[2019-09-18 14:29] erikphansen commented on #1840
Thanks, @lihanli. So @lkoenigsberg I'm not going to worry about the error you see with that particular user.

[2019-09-18 14:29] erikphansen commented on #1840
So we can just send logged in users directly to  https://access.va.gov/accessva/?cspSelectFor=vic but will that maintain the logged-in experience for vets like we've had in the past? A little more background re: the reason for this change would be awesome! This VIC stuff is all new to me. I remember hearing that some other team was working on VICv2, so I'm guessing that this might be that change g

[2019-09-18 14:38] erikphansen commented on #743
Gonna close this one now as https://github.com/department-of-veterans-affairs/va.gov-team/issues/1762 was created to wire up `dev.va.gov` to the backend and the work was done in https://github.com/department-of-veterans-affairs/vets-website/pull/10737

[2019-09-18 14:38] #743 closed

[2019-09-18 14:42] jefflbrauer opened #1846 "Analytics Implementation or QA Support for Pittsburgh Facility Pilot"
# Analytics Implementation or QA Request

## What this form is for
Use this template to request Google Tag Manager and Google Analytics implementation or QA for your product. Please fill out all brackets.

## Description
- Is this request for Google Analytics implementation or QA? - Google Analytics

- Who is this request for?

PO: @andrewlewandowski
Delivery Manager: @jefflbrauer
Communication Sl

[2019-09-18 14:44] Mottie commented on #1709
This issue has been resolved

[2019-09-18 14:45] #1709 closed

[2019-09-18 14:47] ricetj commented on #1521
end of sprint

[2019-09-18 14:47] #1521 closed

[2019-09-18 14:50] joanneesteban opened #1847 "Strategize Roadmap for Product Health Tool"
## Problem Statement
How might we strategize our now, next, and future steps

## Goal
Rework Product Health Tool roadmap and flesh out Product Health Tool epics and issues.

## Objectives or Key Results this is meant to further
Human-centered-ness: incentivize high quality, holistic VFS UX, and product decisions based on user research / data.

## Acceptance Criteria
- [x] Create Product Health Too

[2019-09-18 14:50] Mottie commented on #1705
Slack response from Trevor Pierce

I reviewed the ticket and this is standard behavior on all of our forms, to require users to press <kbd>TAB</kbd> after pressing Continue to get to the first invalid required field. I reached out to the VA 508 team and referenced the new ticket to get a final conclusion.
I’ll set a todo to circle back with them next week and let you know.
No action is required un

[2019-09-18 14:52] joanneesteban opened #1848 "eBenefits KPI Workshop"
## User Story
As a VSA team, I need to set my KPIs so I can see what my data-driven product goals are before I begin building my veteran facing product.

## Goal
Hold KPI workshop with the eBenefits team and set KPI tracking expectations.

## Acceptance Criteria
- [x] Schedule KPI setting workshop with the team
- [x] Send out pre-workshop work
- [x] Host KPI setting workshop
- [x] Send KPI worksho

[2019-09-18 15:13] YanaRoy commented on #1356
Meeting for full team scheduled to occur on 9/23 @ 3:30pm EST.

[2019-09-18 15:22] erikphansen commented on #1332
This appears to be an issue with any and all instances of the Formation Modal component. We have the same issue with any of the modals you can pop open on the Profile page. Will continue to see if there's a fix but I suspect that component has some custom logic to handle tabbing (to override the browser's default tabbing behavior) so that it prevents tabbing to move focus to elements _outside of_

[2019-09-18 15:23] sporeboy commented on #1717
I reviewed errors and alerts on the VA.gov Design System site--and in the VA.gov Sketch doc.

In the presentation layer, screen-level errors and alerts are displayed via React AlertBox components. These are styled with a series of properties that will determine the type of message, and its look. Guidance regarding error text and remedies presented will be provided by the content team. The is boile

[2019-09-18 15:23] joanneesteban opened #1849 "Strategize Roadmap for KPI procedures"
## Problem Statement
How might we roadmap supporting and enabling KPI tracking for Now, Next, and Future.

## Goal
Have a roadmap for supporting VFS teams in KPI tracking.

## Objectives or Key Results this is meant to further
Human-centered-ness: incentivize high quality, holistic VFS UX, and product decisions based on user research / data.

## Acceptance Criteria
- [x] Create and document a road

[2019-09-18 15:28] joanneesteban opened #1850 "Draft Insights OKRs"
## Problem Statement
How might we set our objectives as VSP Analytics and Insights to align our team and prioritize goals.

## Goal
Draft out our team objectives.

## Acceptance Criteria
- [x] Team workshop to set OKRs
- [x] Finalize first draft of team OKRs

## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to an Epic** (what body of

[2019-09-18 15:29] sporeboy commented on #1717
The Rated Disabilities screen has the potential for several alerts/errors:

     • No data (but no error) for Total Combined Disability, Rated Disabilities Table, and/or Pending Disabilities Table.
     • Error returned for Total Combined Disability, Rated Disabilities Table, and/or Pending Disabilities Table.

Error states mocked-up here: https://xd.adobe.com/view/ebfa6df6-c0aa-4ea9-413e-98793ba7

[2019-09-18 15:39] erikphansen commented on #1332
yup, this function gets called if the browser tries to focus on an element outside of the modal. So we'll need to add some logic to determine if the user hit `tab` or `shift-tab` and handle things differently.

https://github.com/department-of-veterans-affairs/veteran-facing-services-tools/blob/f0259ddbf75207d40ecdf765b4dc08f17576cae4/packages/formation-react/src/components/modal/Modal.jsx#L77-L85

[2019-09-18 15:51] amycesal commented on #1823
powerpoint:
[CSAT - Sep '19.pptx](https://github.com/department-of-veterans-affairs/va.gov-team/files/3627327/CSAT.-.Sep.19.pptx)

[2019-09-18 15:54] omgitsbillryan commented on #1635
### Summary
I ran into a whole slew of problems trying to check for this:

...and ultimately, it isn't worth the time or complexity to accomplish.

### More Details
`checkout scm` checks out code to a detached HEAD, and doesnt set any branch tracking. This means the a command like : `git whatchanged --name-only --pretty= origin..HEAD` will result in:

[code]
We could use the raw `GitSCM` and use t

[2019-09-18 15:54] #1635 closed

[2019-09-18 15:56] #1551 closed

[2019-09-18 15:57] #1186 closed

[2019-09-18 15:59] jenniferlee-dsva commented on #1828
Minor edit - these are pages, not forms. Also added clarifying comment, under Additional Comments.

[2019-09-18 16:02] omgitsbillryan opened #1851 "Add a "First Seen" Sentry Alert Rule"
### Background
A recent issue existed in Sentry that didn't have a high enough affected users or volume of errors in order to trigger a Sentry Alert, but it was something we wanted to know about - [Link to Sentry Issue](http://sentry.vfs.va.gov/vets-gov/platform-api-production/issues/71623/?query=is%3Aunresolved)

### More Context
There are too many issues in Sentry to only key off of "First Seen"

[2019-09-18 16:02] andreahewitt-odd opened #1852 "Create Product Support Team Charter"
As someone wanting to learn more about the product support team, I want a team charter so that I can get quick information about the team in a document.

AC:
- [ ] Use the team charter template https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/product-management/team-charter-template.md
- [ ] Store here: https://github.com/department-of-veterans-affairs/va.gov-team

[2019-09-18 16:09] andreahewitt-odd opened #1853 "Create Product Support Team OKRs"
As a product support team, we want OKRs so we know what our overall mission and goals are for the team.

AC:
- [ ] OKRs are created

[2019-09-18 16:10] joanneesteban commented on #1823
Thanks, @amycesal! Closing out this issue.

[2019-09-18 16:10] #1823 closed

[2019-09-18 16:12] erikphansen opened #1854 "Spike: Research into feasibility of highlighting diff in suggested addresses"
When suggesting an address to the user after they have input their address, the suggested addresses would ideally highlight the parts of the suggestion that are different from the address the user input. We should spend a little time researching if it's feasible for the FE to do this.

Technical discovery information on how to write the function that will do this work. @Erik will verify if this is

[2019-09-18 16:13] andreahewitt-odd opened #1855 "Prep work to onboard VSA Benefits #2 and VSA Facility Locator"
- [ ] Contact DSVA PMs for Benefits #2 Matt Self/Kevin Hoffman
- [ ] Contact DSVA PMs for Facility Locator Andy Lewandowski - > Luke Majewski
- [x] Create google drive folders for both teams
- [ ] Create rosters of both teams
- [ ] Meet with PMs of teams
- [ ] create zenhub epic for both teams
- [ ] Schedule general onboarding for both teams
- [ ] Schedule engineering breakouts for both teams
- [

[2019-09-18 16:14] jbalboni commented on #1526
Assigning to you, @vbahinwillit, based on discussion in standup.

[2019-09-18 16:15] andreahewitt-odd opened #1856 "Assist VAOS team with initial 508 findings"
Assist the VAOS team in understanding the existing 508 findings. Provide examples how the design system and best practices could reduce or mitigate these findings. A spreadsheet has been provided to @1Copenut offline documenting findings for the existing product.

[2019-09-18 16:17] jbalboni opened #1857 "Add filtering to confirmed appointments list"
We should match the confirmed appointments list behavior of the current app and filter out appointments with particular statuses from being displayed. The field is `currentStatus` for return VA appointments, and these are the statuses to exclude:

[code]

[2019-09-18 16:18] lkoenigsberg commented on #1700
See some previous work that might be relevant to this at https://github.com/department-of-veterans-affairs/vets.gov-team/issues/11339 but please use this ticket to continue the conversation as needed.

[2019-09-18 16:19] andreahewitt-odd opened #1858 "Circulate Deployment Policy across VFS Teams"
As a member of the product support team, I want all the people working on the platform to be aware of our deployment policy to avoid a fiasco like we had on July 3rd.

- [ ] Add holiday schedule. WIP by @gunsch https://docs.google.com/document/d/1srwEkd2usoeYyuAnpm2fwABAt4AiEgZ7KQXa6jsmKFY/edit?ts=5d6858d5 From andrew about this doc: "We can iterate here if you want, but I'll send this out as a PR

[2019-09-18 16:20] smoonpeyes commented on #1711
@Mottie It looks like @peggygannon has provided content for the error messages in the previous comment. I don't think there is any additional UX work needed.

[2019-09-18 16:27] Mottie commented on #1711
Ok, sorry about that!

[2019-09-18 16:30] joanneesteban opened #1859 "Onboard Nicola onto VSP and Analytics"
## User Story or Problem Statement
As a new VSP member, I need to be onboarded so that I can understand my role within VSP and my team.

## Goal
Onboard Nicola onto VSP and VSP Analytics & Insights.

## Acceptance Criteria
- [x] Analytics Intro Meeting
- [x] Add to Stand Ups, Retros, Planning, and Grooming
- [x] Intro to Google Analytics
- [x] Share Team Kickoff and Team Onboarding Deck
- [x] Get

[2019-09-18 16:36] #1607 closed

[2019-09-18 16:36] #626 closed

[2019-09-18 17:08] peterhill-oddball opened #1860 "Schedule Load Testing / Privacy / Security Onboarding with By Light"
Work with Dorothy Biederman to schedule this onboarding session.

[2019-09-18 17:09] peterhill-oddball commented on #1034
This has been scheduled for 9/20 at 1:30PM.

[2019-09-18 17:09] #1034 closed

[2019-09-18 17:09] Karak888 commented on #1530
@Karak888 to follow up with @jenniferlee-dsva with broken out stories and estimates.

[2019-09-18 17:10] peterhill-oddball opened #1861 "Schedule Load Testing / Privacy / Security Onboarding with VSA Global UX"
Work with Kara Kemahli to get the onboarding session scheduled.

[2019-09-18 17:11] peterhill-oddball opened #1862 "Schedule Load Testing / Privacy / Security Onboarding with VSA Benefits"
Work with Yana Roy to schedule onboarding session.

[2019-09-18 17:12] Karak888 commented on #1626
CMS meeting on 9/18 will hopefully create actionable items.  @ncksllvn will follow up with Kara and get some tickets in and estimated.

[2019-09-18 17:15] Karak888 commented on #1623
Header mega menu will go through but footer is being reprioritized.

[2019-09-18 17:16] ricetj commented on #1750
@tskinn to update ticket

[2019-09-18 17:17] Karak888 commented on #1637
@Karak888 to follow-up with analytics team @joanneesteban and @nedierecel - Is this currently in the works or can we follow up with timeline?  Thanks!

[2019-09-18 17:19] nedierecel commented on #1637
Thanks @Karak888 - We're going to grab this task for this sprint and deliver early next week.

[2019-09-18 17:20] Karak888 commented on #1519
This is just a ticket to track conversations and will create tasks as @jenniferlee-dsva needs.

[2019-09-18 17:22] #1804 closed

[2019-09-18 17:24] rtwell commented on #1564
This is a rough first draft. @peggygannon and @lalexanderson-dsva would love to get your thoughts on this.

**VA Medical center** link would take the user to the facility locator

**Go here to manage your pending appointments** would take the user to their pending appointments page

![image](https://user-images.githubusercontent.com/12564977/65170696-32080480-da17-11e9-86a4-1f98b00fe6d1.png)

[2019-09-18 17:25] andreahewitt-odd opened #1863 "Onboard Crystabel"
- [x] Get github access to va.gov-team -- work with @andreahewitt-odd
- [x] Work closely with @emilywaggoner
- [x] Read through design.va.gov
- [x] Talk with Andrea about onboarding
- [x] read through all documentation in research folder
- [x] read through all documentation in design folder
- [x] Download sketch library file

Readings:
- [x] https://medium.com/the-u-s-digital-service/vets-gov-a-mo

[2019-09-18 17:25] Karak888 commented on #1328
@Karak888 to send Info from @steve-gov to @jenniferlee-dsva to pick this up again and get specifics created.

[2019-09-18 17:25] Mottie commented on #1711
Actually @smoonpeyes I found multiple places where "Please provide a response" was used, including first name & last name; I'll follow the above convention for now, then tag you & Kevin once I submit the PR.

[2019-09-18 17:27] #1586 closed

[2019-09-18 17:27] ricetj commented on #597
Looking to have a conversation around this.

[2019-09-18 17:28] #1588 closed

[2019-09-18 17:29] Karak888 commented on #1796
@RLHecht to send out documentation and this will be disussion for wider group.  @peggygannon discrepencies between vets.gov styling with whats on live site.  To be discussed at next content meeting @jenniferlee-dsva

[2019-09-18 17:32] 1Copenut commented on #1709
@Mottie Is there a PR I can take a look at for this issue?

[2019-09-18 17:33] Mottie commented on #1709
I didn't find a PR, but the possible fix HTML shared above is in place when I looked. I'll try to find a PR/commit.

[2019-09-18 17:33] Karak888 commented on #1836
next steps

[2019-09-18 17:34] #996 closed

[2019-09-18 17:36] jbalboni opened #1864 "Add logic to route to type of facility page depending on CC eligibility"
We need to write the logic to determine when the type of facility page shows up. That page only shows up if someone is eligible for CC.

This decision would happen after the user chose their type of care. We need to check:

1. The user chose a type of care eligible for CC (these types have a `ccId` in the types of care constant)
2. The user has an H, G, or N code returned from the community care e

[2019-09-18 17:36] joanneesteban commented on #1584
Completed first drafts of the research plan and conversation guide. Closing this issue.

[2019-09-18 17:36] #1584 closed

[2019-09-18 17:37] Karak888 commented on #1418
@Karak888  can we create a checklist on this ticket so that it stays together, @lwalsh617 will work with Kara on tickets.

[2019-09-18 17:37] joanneesteban commented on #855
Initial conversations and data sharing completed - data will get incorporated to Grey Sky.

[2019-09-18 17:38] jbalboni opened #1865 "Add code for drive time to CC eligibility check"
When we check for CC eligibility, we need to add the right codes so that we pick up when Veterans are eligible for CC due to the new drive time checks.

[2019-09-18 17:38] #1532 closed

[2019-09-18 17:39] Karak888 commented on #1435
@Karak888 to look into whether or not this is included in an already existing epic.

[2019-09-18 17:40] #1546 closed

[2019-09-18 17:41] #679 closed

[2019-09-18 17:42] andreahewitt-odd commented on #1044
Analytics team is taking care of this content now.

[2019-09-18 17:42] #1044 closed

[2019-09-18 17:42] Karak888 commented on #1615
@lunascoop to discuss what's left here look in existing tickets created by Mikki in benefit hub tickets (IA) are document of URLs - continuation .....

[2019-09-18 17:42] #1042 closed

[2019-09-18 17:43] #1569 closed

[2019-09-18 17:43] joanneesteban opened #1866 "[Call Center] Education Call Center & HRC Data"
## User Story or Problem Statement
How might we get data from Health Resource Center and Education Call Center?

## Goal
-Be added to weekly and/or monthly reports sent out by EDU call center.
-Get full access to all VA.gov tracked issues in HRC CRM.
-_stretch:_ See if it's possible for us to get access to MS Dynamic instance being used by HRC

## Objectives or Key Results this is meant to further

[2019-09-18 17:44] joanneesteban opened #1867 "[Call Center] Training and Transition Triage Work"
## User Story or Problem Statement
How might we transition Call Center triage work to Kimberley and the Triage team?

## Goal
_What outcome(s) do we want to see?_

## Objectives or Key Results this is meant to further
- _lorem ipsum_

## Acceptance Criteria
- [ ] _What needs to happen or be created?_

## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
-

[2019-09-18 17:46] johnpaulashenfelter opened #1868 "Research integration with CodeClimate Velocity"
I've been asked by @gunsch to look into Velocity from CodeClimate as a potential tool for getting some metrics around our GitHub repositories. This involves

- [x] Contacting Velocity
- [x] Sales call
- [x] Demo installation

[2019-09-18 17:47] johnpaulashenfelter commented on #1868
Did a call with JP @ CodeClimate. Going to set up our 6 core repos and run a demo starting next week.

[2019-09-18 17:47] joanneesteban opened #1869 "Analytics Reporting Request for Digitized Modernized Content"
# Metrics Reporting Request

## What this form is for

Use this template to request performance, usability, or outcomes va.gov metrics that is difficult to access or that needs analytics interpretation.

Insights will usually provide data reports within the current sprint, but if there is time-sensitivity, please note them in "additional comments."

## Instructions

Please fill out the following s

[2019-09-18 17:48] Karak888 commented on #1628
started by @jenniferlee-dsva tracking to keep updated of non-UAT bugs as list.  @RLHecht will help cover -  This ticket is being closed as it will be split into tickets to work in Drupal!

[2019-09-18 17:48] #1628 closed

[2019-09-18 17:49] #1316 closed

[2019-09-18 17:49] joanneesteban commented on #1316
Added remaining engineer to GA.

[2019-09-18 17:51] johnpaulashenfelter opened #1870 "Take over presentations of backend onboarding process"
Now that there's a backend dev (me) on the product support team again, I need to be prepared to do the presentation during onboarding.

- [ ] Get the presentation
- [ ] Review/revise the presentation
- [ ] Test run with @andreahewitt-odd and team

[2019-09-18 17:52] #1558 closed

[2019-09-18 17:52] Karak888 commented on #1728
@Karak888 to get Jen answer as to how we close this but maintain tracking.

[2019-09-18 17:54] wyattwalter commented on #683
- get github teams created
- audit of current group membership in git
- sync up current user list in git with users in github teams
- ansible updates to pull list of users/keys from a given team
- configure deployments to use new key list
- update documentation, demos, etc
- phase out old list and delete keys from git

[2019-09-18 17:55] Karak888 commented on #1703
need to have this updated in drupal instance so @Karak888 will follow up with @randi and get back to Jen.

[2019-09-18 17:56] accbjt commented on #507
@johnpaulashenfelter Code review guidelines:
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/engineering/code_review_guidelines.md

[2019-09-18 17:58] Karak888 commented on #1020
github pages that are live now are out of sync with drupal insttance this ticket is to ensure all emergency updates needed to be made in github instance get made to the drupal instance comes out of UAT.   Last remaining hubs in UAT:  eduacation, burials, disability, family and service members hubs.

[2019-09-18 18:02] kfrz opened #1871 "Update triage team internal Sentry document"
## User Story or Problem Statement
As a triage engineer I need updated documents for Sentry alert response processes so our team knows how to handle Sentry alerts sent to #vfs-sentry-alerts

## Goal
This [document](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsp/teams/triage/On-point%20Rotation.md) is up-to-date.

## Objectives or Key Results this is meant to fu

[2019-09-18 18:05] artistgreen commented on #1287
Notes from Meeting w/ @lihanli @erikphansen and @mojaray2k :

- We don't have definitive idea of what will be returned for addresses from Vet360
- Lihan is waiting on authorization for his API Key requests to be able to determine what is returned
- We know Vet360 can return up to 10 address suggestions but are asking the question: 'how may suggestions should we show?'
- Based on Lihan's technical

[2019-09-18 18:06] Mottie commented on #1536
Neither @ndsprinkle nor I are able to access the jenkins page without a PIV

[2019-09-18 18:12] meganhkelley opened #1872 "Content & IA Support Sprint 9"

[2019-09-18 18:15] artistgreen commented on #1287
Screenshots with 1st revisions from initial review discussions -
![Profile-suggest an address-profile-rev1](https://user-images.githubusercontent.com/53535009/65174114-3f74bd00-da1e-11e9-88cd-52d9531fce18.png)

![Profile-suggest an address-edit address-rev1](https://user-images.githubusercontent.com/53535009/65174171-5adfc800-da1e-11e9-844e-dcee86cc582e.png)

![Profile-suggest an address-waiting m

[2019-09-18 18:17] artistgreen commented on #1854
![Profile-suggest an address-address not recognized message-rev1.png](https://images.zenhubusercontent.com/5d49d1baa8585c0001b6a7a8/d11b3b07-550a-499e-8be5-797a4141ab37)

[2019-09-18 18:21] rianfowler opened #1873 "Investigate using lambda for the vets-website build process"
# Overview

Determine pros and cons of using lamdba to break down / manage the vets-website build process

[2019-09-18 18:25] andrewlewandowski opened #1874 "L Nav update for VAMC Pittsburgh"
## High Level User Story
As a user on a content page on VA.gov, I need better on-page and section navigation and menus so I can get to all content and tools in 1-2 clicks/taps.

We will initially redesign and build our new navigation and menu components and patterns for the va.gov/pittsburgh-health-care product. We will do usability testing on staging.va.gov/pittsburgh-health-care.

## [Product fo

[2019-09-18 18:26] lkoenigsberg commented on #1840
@lkoenigsberg find out more about VIC and VIC pages

[2019-09-18 18:27] Karak888 commented on #1637
Thanks so much @nedierecel !

[2019-09-18 18:33] andrewlewandowski opened #1875 "New VA.gov primary header/footer, navigation, and menus"
## High Level User Story
As a user on VA.gov, I need streamlined main menus and global utilities so I can get to all content and tools in 1-2 clicks/taps.

## Product folder: https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/global/header-footer-and-navigation/primary-header-footer

## Hypothesis/(es)
**If** we redesign our global header and footer with new navigat

[2019-09-18 18:34] mnorthuis commented on #1727
@Karak888 you can reference issue #1729 for detailed notes on the changes.

[2019-09-18 18:35] lkoenigsberg commented on #1287
Refer to https://github.com/department-of-veterans-affairs/vets.gov-team/issues/11416 for some additional technical API chatter, if helpful.

[2019-09-18 18:37] andrewlewandowski opened #1877 "New subdomain.va.gov header and footer"
## High Level User Story
As a user on a VA.gov subdomain or web application not hosted on the primary VA.gov domain, I need a new header and footer so I can get access to VA.gov and federally required links.

## Product folder: https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/global/header-footer-and-navigation/secondary-header-footer

## Hypothesis/(es)
**If** we

[2019-09-18 18:37] mnorthuis commented on #1729
IA work complete and this issue is referenced in the epic so team members can see details of work.

@Karak888 is it ok to close this issue?

[2019-09-18 18:38] clantosswett commented on #374
We spoke with the Vets360 team to confirm that if a user updates their address on eBenefits and/or MHV and that will be shared across these platforms and updated accordingly. We created the below response and have been using it to triage and provide a work around for users who are unable to update their address on VA.gov:

*Issue Title: *I can’t update my mailing address on VA.gov

*Description:*

[2019-09-18 18:39] #374 closed

[2019-09-18 18:42] andrewlewandowski opened #1878 "Apply new VA.gov page navigation and menus to benefit hubs"
## High Level User Story
As a user on one of the 9 benefit hubs, I need new on-page navigation and menus so I can get to all hub content in 1-2 clicks/taps.

## Product folder: https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/global/header-footer-and-navigation/page-nav

## Content work
* We will need to move up any content pages that are published at the 5th and

[2019-09-18 18:43] ncksllvn commented on #1499
I tested in Staging and it looks good to me!

Urgent Care search -
https://staging.va.gov/find-locations/?address=10%20Chapman%20Lane%2C%20Newport%2C%20Kentucky%2041076%2C%20United%20States&context=Newport%2C%20Kentucky%2041076%2C%20United%20States&facilityType=cc_provider&location=39.03%2C-84.46&page=1&serviceType=261QU0200X&zoomLevel=9

Community/Retail Pharmacy search -
https://staging.va.gov/f

[2019-09-18 18:44] ricetj opened #1879 "Facility Alerts Jenkins Job"
We need to make a Jenkins job that executes the query and pushes to S3.

Note:  cache control headers apply to json but if they do we should it to NO-CACHE

@tskinn to update as needed.

[2019-09-18 18:46] talbotmj opened #1880 "Permission BIO addition to the vets-api backend to support Notification Settings"
## User Story or Problem Statement
As a Frontend developer, I need the api calls to the backend to support retrieval of the new Permission BIOs contained in Vet360.

## Goal
The new api calls for Permission BIOS retrieved from Vet360 will enhance front-end functionality exposed to end Users that enables them to update and submit Text permissions via the new Permission Bio in their profiles. The fi

[2019-09-18 18:47] clantosswett commented on #1867
Kimberley received access to IRIS. We will be holding training on Friday.

[2019-09-18 18:49] talbotmj commented on #1880
@elwoodva when you have a minute would you look over this ticket and give me any corrections you think appropriate - thanks

[2019-09-18 18:52] SMLuthi commented on #1757
Im currently investigating whether this can service can be added straight into the `lib` folder as has been the practice in the past or if this needs to be built out as a module as seems to be standard practice for external services. Until this question is answered, this work is blocked.

[2019-09-18 18:52] peggygannon opened #1881 "Content review: VAOS tool in staging"
## User Story or Problem Statement
As a member of a team building with or on VSP, content needs to be reviewed to ensure it's accurate, aligns with VA style, and is error-free.

## Goal
Peggy reviews VAOS tool on staging ensure plain language and screens follow VA.gov content styleguide.

Research synthesis doc:
https://www.figma.com/file/2VX8fV3vdJyxHbwt2fzUG5/Self-Schedule-Synthesis?node-id=0%3A

[2019-09-18 18:58] elwoodva commented on #1880
Looks good to me.  You might not have to actually include the last section on how to configure.  It looks like you have checked all of those boxes.

[2019-09-18 19:01] peggygannon opened #1882 "Work with DSVA on getting error messaging guides into design system"
## User Story or Problem Statement
Need to make sure VFS teams to follow standards and best practices for building helpful error messaging into my solution to best help users.

## Goal
Make the existing error handling standardization work that has been done and well-documented here:

https://github.com/department-of-veterans-affairs/vets.gov-team/tree/b07556070d6f3a21f3ecd08ed5abd6bdd1276acc/Produ

[2019-09-18 19:03] Kimberley2019 opened #1883 "Call Center ROE"
## User Story or Problem Statement
As a Call Center, we need to define to VFS and Platform teams how to interact with the Call Center team on issues and escalations so we can properly identify, prioritize, resolve, or delegate items.

## Goal
_What outcome(s) do we want to see?_

## Objectives or Key Results this is meant to further
- _lorem ipsum_

## Acceptance Criteria
- [ ] _What needs to happ

[2019-09-18 19:04] peterhill-oddball opened #1884 "Schedule and Perform Load Testing Onboarding Session with VSA eBenefits Team"
- [ ] Schedule the load testing session
- [ ] Host the load testing session

[2019-09-18 19:04] #1884 closed

[2019-09-18 19:05] peterhill-oddball commented on #1884
Session schedule for 9/12 @ 1pm

[2019-09-18 19:06] peterhill-oddball commented on #1884
Session completed -- survey feedback attached [https://app.zenhub.com/files/133843125/331be92b-02d7-4107-a256-d2a94533eb42/download](https://app.zenhub.com/files/133843125/331be92b-02d7-4107-a256-d2a94533eb42/download)

[2019-09-18 19:08] #1480 closed

[2019-09-18 19:08] #1478 closed

[2019-09-18 19:11] clantosswett opened #1885 "Refine and Formalize Call Center Review Process"
## User Story or Problem Statement

How might we improve the process of notifying call center leads about new features and functionality so that they can take the proper steps to notify call centers prior to a launch.

## Goal
-Have a clearly defined way for teams to notify the call center lead about upcoming releases that will affect users.

## Objectives or Key Results this is meant to further
-

[2019-09-18 19:11] Kimberley2019 opened #1886 "Resolution Flow Diagram"
## User Story or Problem Statement
As a Call Center Lead, we need to create a flow diagram for contact center issue to resolution so we have a visual representation of how information flows across the process.

## Goal
_What outcome(s) do we want to see?_

## Objectives or Key Results this is meant to further
- _lorem ipsum_

## Acceptance Criteria
- [ ] _What needs to happen or be created?_

## H

[2019-09-18 19:19] clantosswett opened #1887 "Call Center Options Research and Strategy"
## User Story or Problem Statement

How might we identify and pursue alternative call center options for VA.gov issues?

## Goal
-Read out of current state of call center implementation (with list of alternative options) and decision on how to proceed.

## Objectives or Key Results this is meant to further
- _lorem ipsum_

## Acceptance Criteria
- [ ] Research other options for call center support

[2019-09-18 19:32] RLHecht commented on #1595
In the alert box, lowercase "benefit letters"
https://www.va.gov/records/download-va-letters/
![Screen Shot 2019-09-18 at 3.30.21 PM.png](https://images.zenhubusercontent.com/5c9b7e302ac54336e2c327b8/b7505e8f-238d-4794-b5d5-84a9ee63440a)

[2019-09-18 19:51] RLHecht commented on #1628
@jenniferlee-dsva Just started looking at this to see what the bugs were. I'm not seeing the wrong  nav and parent menu on the Download VA benefits letters page on Drupal or the live site. Can you open it in preview again to see if it's still the case for you?

[2019-09-18 19:53] #1707 closed

[2019-09-18 19:55] jenniferlee-dsva commented on #1628
@RLHecht - Looks like that has been fixed in the CMS now!

[2019-09-18 19:55] brandonrapp opened #1888 "Upgrade Rubocop-rspec"
Upgrades to rubucop were broken into two pieces. This work will be to upgrade the rubocop-rspec.

[2019-09-18 19:56] Mottie commented on #1707
Forgot to connect this to https://github.com/department-of-veterans-affairs/vets-website/pull/10738

[2019-09-18 19:57] Karak888 commented on #1499
@ncksllvn @chrisj-usds are there any outstanding things that need to be completed here? Chris I know you said there would be follow-up items but will we be able to create those as new tickets under our PPMS Epic?  @ncksllvn looks like you just had that one merge, do you need any further PRs or reviews needed.  Thanks!

[2019-09-18 20:08] ncksllvn commented on #1499
I'm not sure I follow what this piece means - `Database will store both retail and non retail Urgent Care Facilities as:` but everything else appears to be complete with just that one PR!

[2019-09-18 20:10] ncksllvn commented on #1499
The options show as `Clinic/Center - Urgent Care` and `Pharmacy - Community/Retail Pharmacy`.

[2019-09-18 20:24] peggygannon commented on #1014
@Karak888 @jenniferlee-dsva

The shortened burial H1s listed above have been checked and validated on Drupal.

[2019-09-18 20:28] Karak888 commented on #1014
wow @peggygannon great news!  does this mean that all of the burials above are complete in Drupal?

[2019-09-18 20:31] Karak888 commented on #1499
@chrisj-usds I will wait for your blessing here or what if anything needs to be done for this specific ticket?  Thanks @ncksllvn !!

[2019-09-18 20:37] jason-gcio opened #1889 "Integrate Total Combined Disability Rating on 'My Rated Disabilities Page'"
## Story
As a user, I want to view my Total Combined Disability Rating (TCDR), so I can know how much benefit pay I will receive. I want the option to know how this value is calculated in case I have questions about my rating.

## Task
- Display TCDR on the rated disabilities page per this mockup: https://xd.adobe.com/view/ebfa6df6-c0aa-4ea9-413e-98793ba7a5a3-9dcb/
- Data is retrieved and passed t

[2019-09-18 20:38] Karak888 commented on #1729
um, yes please!!! and I'll close on my end now!

[2019-09-18 20:41] #1291 closed

[2019-09-18 20:44] jason-gcio opened #1890 "Pending Rated Disability Items Investigation"
## Story
As a backend engineer, I want to know how 'pending disabilities' are generated and defined, and where they live, so I can query that data and send it to the appropriate frontend application for consumption.

## Considerations
- Upon clicking for more information on a pending item, the user is taken to the Claim Status Tool
- If this appears to be a dead-end, note findings and discuss

##

[2019-09-18 20:59] peggygannon commented on #1014
yes, @Karak888 Burial pages are in drupal. The have gone through the first pass of UAT and we are now in the process of incorporating SME parity feedback into the pages.

[2019-09-18 21:00] chrisj-usds commented on #1499
Short answer: approved.
Longer answer: we're not quite done. There are a few things that we need to do and some we should try to improve. Examples:

- Take out the link to tri-west
- OR perhaps update the text and link to be "quick access" to our urgent care and pharmacy search
- Generally, we need to improve the way these searches work, because nobody is going to search for "Pharmacy - Community/

[2019-09-18 21:05] ricetj commented on #683
Some work was started here: https://github.com/department-of-veterans-affairs/devops/pull/5383

[2019-09-18 21:15] mnorthuis commented on #195
Will review this work to incorporate as needed into the repo guidelines created.

[2019-09-18 21:20] mnorthuis commented on #1556
Meeting complete, closing issue.
cc @meganhkelley

[2019-09-18 21:20] #1556 closed

[2019-09-18 21:43] ncksllvn commented on #1840
I don't know how to test this in prod and in general don't have a lot of knowledge about this product, but it looks like the green button at the bottom of `/records/get-veteran-id-cards/apply/` appears to be redirected using the `url` property [here on staging](https://github.com/department-of-veterans-affairs/devops/blob/master/ansible/deployment/config/vets-api/prod-settings.local.yml.j2#L148),

[2019-09-18 21:50] Karak888 commented on #1499
thanks @chrisj-usds - Short term for our current sprint, I will move this ticket to done.  Will look into some research for bullets 2 and 3 above..(I am actually going to stop adding "..." after prepositions, because Danielle told me that is no longer the rule, and I was blown away)!
- bullet 2 we can probably do rather easilly (understanding that new Facility Locater will likely be proposing a ne

[2019-09-18 21:50] #1499 closed

[2019-09-18 21:57] Karak888 commented on #1499
@Karak888 to go back to 3 bullets provided by @chrisj-usds and get tickets made for those.

[2019-09-18 22:19] #1818 closed

[2019-09-18 23:13] meganhkelley commented on #1556
FYI feedback (currently just my notes) documented here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsp/teams/content-ia/vfs-onboarding-feedback.md

[2019-09-18 23:29] meganhkelley commented on #1636
Meeting completed 9/18/19

[2019-09-18 23:29] #1636 closed

[2019-09-18 23:34] #1238 closed

[2019-09-18 23:35] #1550 closed

[2019-09-18 23:39] kfrz commented on #722
Closed. PagerDuty offers a wealth of [analytics tools](https://dsva.pagerduty.com/reports#team) which we can leverage.

[2019-09-18 23:45] meganhkelley opened #1891 "VFS Support: Determine content and IA needs to support eBenefits."
### User Story

As a member of eBenefits, I need to review my current content and IA needs with VSP, so that I can adhere to best practices and ROE and build veteran-facing apps with agility and human centeredness.

### Goal(s)

In our onboarding meeting with eBenefits <> Content & IA, eBenefits identified that they have existing content & IA that needs reviewed. The goal here is to identify those

[2019-09-18 23:50] meganhkelley commented on #1514
Meeting 9/10 to gather feedback from Rachael and Andrea. Matt made changes to branch as documented here: https://github.com/department-of-veterans-affairs/va.gov-team/tree/MJ_rearchitect_teams_vsp_09112019/teams/vsp

[2019-09-18 23:50] #1514 closed

[2019-09-18 23:55] meganhkelley opened #1892 "PM: Coordinate IA Intro for By Light team"
### User Story
As a PM for a VFS team going through onboarding with VSP, I need to participate in an IA intro session along with relevant members of my team, so that we know best practices for IA and how to engage with the VSP content & IA team.

### Goal
Schedule and attend IA onboarding session with VSP's content and IA team and the PM, content writers, and designers on By Light.

### Definition

[2019-09-19 00:02] meganhkelley opened #1893 "Finalize IA and mapping for migration of content from vets.gov-team/Practice Areas/Research"
### User Story
As a VFS team, I need to be able to access research documentation in the new public va.gov-team repo, so that I can proceed with user research according to best practices and guidelines.

### Goal(s)
Based on Lauren's (content owner of vets.gov-team/Practice Areas/Research) audit of her content and her proposed folder structure, review proposed folder structure, re-map content as ne

[2019-09-19 00:14] meganhkelley opened #1894 "Refine Content & IA onboarding for VFS teams"
### User Story

As a VFS team, I need to learn best practices and rules of engagement for content and IA, so that I can get the support I need to build veteran-facing apps with agility and human centered-ness.

### Goal

Review and refine C & IA's onboarding process to be more effective and efficient.

[2019-09-19 01:36] YanaRoy opened #1895 "Disability Claim Form (526) Updates"
## High Level User Story
As a disabled Veteran, I need to file a claim for disability compensation or increased disability compensation using the latest versioned online form so I can include the most currently needed information by VA.

## Hypothesis/(es)
**If** _the 526 online form is updated to reflect changes made to its paper counterpart_ **then** _it would comply with specifications dictated

[2019-09-19 01:42] YanaRoy commented on #1350
@Mottie @ndsprinkle please reach out to @accbjt to coordinate a day/time to complete this session.

[2019-09-19 01:44] #883 closed

[2019-09-19 02:02] Mottie commented on #1350
Huh, we had our deep dive session with Bill Tran on 9/17.

[2019-09-19 03:38] 1Copenut opened #1896 "Assist VAOS team through rollout"
heads up that VAOS may be looking for incremental rollout options for the product(s) they're building, so good opportunity to reach out and learn about another feature toggles use case. Might make sense to include @AndreaHewitt in the convo so we understand their status and can help them twd launch as well?

[2019-09-19 11:43] ndsprinkle commented on #1350
@YanaRoy @Mottie That's true, we did already do this. I think we were supposed to comment Done, but I forgot to do that.

[2019-09-19 12:18] ndsprinkle commented on #1206
@YanaRoy Am I okay to pull this onto the current sprint? This relates heavily to the contentions list story I currently have in review and may even alter my code because I actually added "109: '2010 Presumptive Herbicide Condition'" with my changes, so I'll need to do some research and testing to see if I am actually supposed to add this or not. This contention was in the excel document that Mark

[2019-09-19 12:46] YanaRoy commented on #1350
Ok, then I'm closing! Thanks @Mottie @ndsprinkle !!

[2019-09-19 12:46] #1350 closed

[2019-09-19 12:57] YanaRoy commented on #1206
@ndsprinkle Yes. :) I appreciate the heads up, but I don't think you need to ask me to do it if it's in favor of work you are currently working on.

[2019-09-19 13:19] Mottie commented on #1348
Done.

[2019-09-19 13:30] sporeboy commented on #1719
WIP PNGs of RD screen layouts are uploaded: https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/teams/vsa/teams/ebenefits/features/view-rated-disabilities/research-design

[2019-09-19 13:42] jbalboni opened #1897 "Add provider address to CC provider page"
There was some difficulty with filling out the address on the CC provider page during user testing, so we left it out of the initial ticket for that page. This ticket is to remind us to add it later, or we can close this if it turns out not to be necessary.

[2019-09-19 13:43] #1613 closed

[2019-09-19 13:43] #1730 closed

[2019-09-19 13:55] amycesal commented on #1547
Hey @leahbannon I just wanted to address some of your feedback and provide some further context.

The newest version (Bluest Sky) hopefully enables leadership to make decisions about teams of specific tools or products by allowing selections of what metrics go into that one score number. For all 8 metrics that go into the score, teams will need to set a target, and the score is measured on how far

[2019-09-19 14:05] nedierecel opened #1898 "Adding Jason Woodman to Google Analytics"
# Analytics Access Request

## User Email Address
_Provide email address(es) for user(s) requesting access to the Insights team on the DSVA Slack channel: #VSP-Analytics. Please also link this issue. Email addresses ending in `@gmail.com` _**may not**_ be used. If the user has a VA.gov or work email address that is not linked to a Google account, they will need to create one by visiting [this link

[2019-09-19 14:08] #1629 closed

[2019-09-19 14:08] #1630 closed

[2019-09-19 14:10] alexpappasoddball opened #1899 "Triage VFS Support - Sprint 9"
This ticket will be used to track PR reviews that were completed by the Triage team.

## Triage Team
As you review PRs, please add this epic to the issue so the business has visibility into our time spent supporting VFS teams.

[2019-09-19 14:12] alexpappasoddball opened #1900 "Sentry Noise Clean Up- Sprint 9"
This epic is used to track how many incidents were worked on as a result of active Sentry monitoring by the Triage team.

This epic is NOT used for known issues or clean up items that come out of our backlog.

[2019-09-19 14:15] alexpappasoddball opened #1901 "Incidents that have been Triaged to another team - Sprint 9"
This epic is used to track each incident that came to use and was ultimately assigned to another team for resolution.

[2019-09-19 14:16] alexpappasoddball opened #1902 "Incidents that have been resolved by Triage - Sprint 9"
This epic is used to track which incidents that the triage team handles to resolution and does not pass to another team.

[2019-09-19 14:23] rianfowler commented on #1426
This requires additional discussion but I think this can get us started: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsp/teams/tools/troubleshooting-build-failures-DX.md

[2019-09-19 14:23] #1426 closed

[2019-09-19 14:23] 1Copenut commented on #1655
@ksantiagomorgan6 && @desireeturner I reviewed this one on Staging this morning. Results:

* MacOS + Safari + VoiceOver working as expected
* Win10 + IE11, Chrome + JAWS is reading the "Your postal code is located in..." too early
* Win10 + NVDA + Firefox is reading the "Your postal code is located in..." too early

I think this has to do with the text block "Your postal code is located in" being

[2019-09-19 14:35] meganhkelley opened #1903 "Migrate content from vets.gov-team/Practice Areas/Research to va.gov-team/platform/research"
## User Story or Problem Statement
As a VFS team, I need to be able to access research documentation in the new public va.gov-team repo, so that I can proceed with user research according to best practices and guidelines.

## Goal
va.gov-team/platform/research folder is populated with relevant content

## Definition of Done
- [ ] Bill, Matt, and @mnorthuis to work together on migration of content

[2019-09-19 14:38] ricetj opened #1904 "Onboard new operation team members"
As a new member of VSP Ops, I need to be on-boarded in order to fully understand my role and start helping support the platform.

[2019-09-19 14:41] ricetj opened #1905 "Overview of Ops Work, Technical Introduction"
In order to have new Ops members taking on work, they first need to have a more technical introduction to how we work.

The intention is to do an intro to the BRD process and use this as an onboarding artifact for future team members.

[2019-09-19 14:44] jason-gcio opened #1906 "Testing for "Rated Disabilities Table Component""
## Story
As an frontend engineer, I want unit tests, integration tests, and e2e tests where viable, so I know my application is as resilient as possible, and accounts for various different user scenarios.

## Task
- Define the major testing domains for this feature (e.g., load testing, usability, website responsiveness, integration, etc) and reference any existing documentation and create a test i

[2019-09-19 14:48] meganhkelley opened #1907 "Deprecate content in vets.gov/Practice Areas/Research that has been copied over to va.gov-team/platform/research"
## User Story
As a VFS team member who might land on research documentation in the vets.gov-team repo, I need to know that that content is out of date so that I don't use it to conduct research.

## Goal
All old content in the vets.gov-team/Practice Areas/Research repo that has been copied over into the new repo should be marked as out of date and no longer in use.

## Definition of Done
- [ ] Mat

[2019-09-19 14:52] brandonrapp opened #1908 "Upgrade Rubocop-rails"

[2019-09-19 14:55] jason-gcio opened #1909 "Engage with Content/IA Team"
## Story
The Content/IA Team is an important component in ensuring that all products, features and pieces of VA.gov come together as a cohesive experience for the end user; the Veteran and their caregivers/dependents.

## Tasks
Engage with the Content/IA Team and introduce them to the new feature with a walkthrough with various highlights to help them better understand the goals of the product, se

[2019-09-19 14:57] meganhkelley opened #1910 "Identify and update links on va.gov-team that point to old Research content"
## User Story
As a VFS team member, I need to be directed to current Research documentation, so that I can conduct Research correctly.

## Goal(s)
Identify links on va.gov-team that point to any Research content we just copied over from the old repo. Update those links on va.gov-team so that they point to the new Research content on va.gov-team.

## Definition of Done
- [ ] Work with engineer to i

[2019-09-19 14:57] ndsprinkle commented on #1206
A commit that addresses this issues was pushed into this PR: https://github.com/department-of-veterans-affairs/vets-website/pull/10731

[2019-09-19 15:00] jason-gcio opened #1911 "User Interviews"
## Story
Part of the Validation Process involves gaining insight directly from the end user.

## Goal
Gain insight as to how this feature is actually used and discover if there are other pieces not present or if there is an enhancement that can be made.

## Acceptance Criteria
- [ ] Schedule a meeting with the team responsible for recruiting end users

[2019-09-19 15:02] RLHecht commented on #1628
@ncksllvn @kelsonic See bugs 3 and 4 above. Not sure if you guys are the ones to help with this but I'm trying to figure out if there's a way to fix the PDF from opening in that weird two-inch scrolling way. Seems to be happening on both Drupal and Github. Any suggestions?

[2019-09-19 15:08] LindseySaari commented on #1851
This issue did not require a PR, just a rule change in Sentry. The new rule can be viewed here: http://sentry.vfs.va.gov/settings/vets-gov/projects/platform-api-production/alerts/rules/

[2019-09-19 15:08] #1851 closed

[2019-09-19 15:15] YanaRoy opened #1912 "[Development] Access Decision Review Page for Higher Level Review"
## User Story
As a claimant, I need to easily access the Decision Review page on VA.gov so I can submit a Higher Level Review for my existing claim.

## Goal
_Easy and direct access to the Decision Review page_

## Tasks
- [ ] Multiple points of entry created
- [ ] Update this ticket with individual points of entry
- [ ] _ *This relates to epic ticket #1053 *Check the box below when this has been

[2019-09-19 15:16] artistgreen commented on #1688
Notes from Design/Technical Discovery Meeting w/ @lihanli @erikphansen and @mojaray2k :

We don't have definitive idea of what will be returned for addresses from Vet360
Lihan is waiting on authorization for his API Key requests to be able to determine what is returned
We know Vet360 can return up to 10 address suggestions but are asking the question: 'how may suggestions should we show?'
Based on

[2019-09-19 15:17] artistgreen commented on #1688
Revision 1 screenshots

![image](https://user-images.githubusercontent.com/53535009/65257256-f29cef00-dace-11e9-9975-22246566bbc7.png)

![image](https://user-images.githubusercontent.com/53535009/65257282-faf52a00-dace-11e9-993a-1bb5e57e9556.png)

![image](https://user-images.githubusercontent.com/53535009/65257290-00eb0b00-dacf-11e9-95b3-0531207f9029.png)

![image](https://user-images.githubuserc

[2019-09-19 15:20] YanaRoy opened #1913 "[IA] Identify points of entry to access Decision Review page"
## User Story or Problem Statement
As a claimant, I need to easily access the Decision Review page on VA.gov so I can submit a Higher Level Review for my existing claim.

## Goal
Easy and direct access to the Decision Review page from multiple locations on VA.gov

## Acceptance Criteria
Scenario: System user wants to file an appeal for their disability claim decision
- GIVEN the system user is on

[2019-09-19 15:26] YanaRoy opened #1914 "Build out skeleton of HLR form"
## User Story or Problem Statement
As a developer, I need to build out a skeleton of the Higher-level review form so I can use it to build out the individual steps within the form's process.

## Goal
_Create a reusable skeleton to populate with information specific to individual steps needed in the HLR process_

## Objectives or Key Results this is meant to further
- _reusable skeleton_

## Accept

[2019-09-19 15:32] YanaRoy opened #1915 "[Design] Regional Office Selection (step 4 of 6)"
## User Story or Problem Statement
As a claimant, I need a comprehensive way to select a single regional office from a list or regional offices when completing the HLR form so that I can be certain that the right office is selected.

## Goal
_Display multiple regional offices in comprehensive, select-able view_

## Acceptance Criteria
- _As the designer, I need to identify a comprehensive way of a

[2019-09-19 15:34] YanaRoy opened #1916 "Function of Cancel Button and Error Validation on Withdrawal from Legacy Appeals"
## User Story or Problem Statement
As a designer, I need to confirm the application process navigation button pattern so I can ensure a consistent experience for Veterans.

## Definition of Done
- [x] Confirm the application process navigation
- [x] If pattern is different from original Higher-Level review designs, post an updated in the Comments section of this ticket.
- [x] _ *This relates to ep

[2019-09-19 15:35] YanaRoy opened #1917 "[Design] HLR (Step 1) Review Contact Information Pattern"
## Goal
Review step 1 of the proposed Higher-Level Review application an ensure that the Contact Information section aligns with patterns used on VA.gov.

## Definition of Done
- [x] Review Contact Information pattern and compare to other patterns on VA.gov
- [x] If needed, update designs with any changes
- [x] Communicate design changes with the team
- [x] Request content review from VSP (Yana cr

[2019-09-19 15:36] YanaRoy opened #1918 "[Design] Scale display of large number of disabilities (step 2 of 6)"
## User Story or Problem Statement
As a designer, I need to identify a way to display multiple number of disabilities so the Veteran can locate the needed disabilities without confusion.

## Goal
_Create a user-friendly view of a large number of disabilities_

## Acceptance Criteria
- _As a system user, I want to avoid being confused by a large number of items in a single view._

## Definition of

[2019-09-19 15:38] YanaRoy opened #1919 "[Research] Optional Notes Character Limit (step 3 of 6)"
## User Story or Problem Statement
As a researcher, I need to understand if there is a character limit for optional notes on the Higher-Level Review form so I can determine the size and type of the Optional Notes field.

## Definition of Done
- [x] Confirm the character limit for the optional notes field
- [x] Review condition listing pattern and update designs as needed
- [x] Remove icons at the

[2019-09-19 15:40] YanaRoy opened #1920 "[Design] Time Periods rule"
## User Story or Problem Statement
As a claimant, I need to identify the best day and times that work for me to have an informal review so I can communicate this in my form without any chance of error.

## Goal
_Create a user friendly way to select day/time for informal review_

## Acceptance Criteria
Scenario: System user wants to select time-frames of availability for informal review
- GIVEN the

[2019-09-19 15:41] YanaRoy opened #1921 "[Design] Prevent selection of disability claim that already has a HLR in progress"
## User Story or Problem Statement
As a claimant, I need to select only applicable disability claim(s) for which I can file a HLR so I can do not duplicate efforts.

## Goal
_Identify disability claims that can have a HLR filed against them_

## Acceptance Criteria
- _The system allows user to select only the applicable disability claims for HLR_

## Definition of Done
- [ ] _Identify design for s

[2019-09-19 15:43] YanaRoy opened #1923 "HLR Content Review post completion of Design"
## User Story or Problem Statement
As a content writer, I need to ___ so I can .

## Goal
__

## Objectives or Key Results this is meant to further
- __

## Acceptance Criteria
- __

## Definition of Done
- [ ] __
- [ ]
- [ ] _ *This relates to epic ticket #1053 *Check the box below when this has been completed and comment "done"._

[2019-09-19 15:52] YanaRoy opened #1924 "HLR: Confirm Veteran Details page (step 1)"
## User Story or Problem Statement
As a claimant, I need to review, update and confirm my contact information so the VA has my most up to date and accurate info.

## Goal
_Provide access to view and edit contact information_

## Acceptance Criteria
- _The user is able to confirm contact information already available in system_
- _The user is able to edit contact information already available in sy

[2019-09-19 15:59] erikphansen opened #1925 "Enforce passing `lint:sass` when doing `git commit`"
Because what's the point of having linting rules for our Sass if we don't enforce them?

About a week ago I cleaned up the warnings we get when running our `lint:sass` script (https://github.com/department-of-veterans-affairs/vets-website/pull/10700). Since then a few new (very easy to fix) warnings were introduced.

- I propose we enforce passing `lint:sass` via a git commit hook similar to how t

[2019-09-19 16:04] YanaRoy opened #1926 "HLR: Select your contested issues page (step 2a & 2b)"
## User Story or Problem Statement
As a claimant, I need to be able to view and select applicable disability claims so I can file for a Higher-Level Review.

## Goal
_Provide user ability to identify and select eligible disability claims.

## Acceptance Criteria
- _A system user can view all of their contested issues_
- _A system user can select all of their eligible contested issues_

## Definiti

[2019-09-19 16:06] erikphansen commented on #1925
I'd be happy to do this work, FWIW

[2019-09-19 16:15] YanaRoy opened #1927 "HLR: Add choose jurisdiction & notes page (step 2c)"
## User Story or Problem Statement
As a claimant, I need to be able to view and select applicable disability claims so I can file for a Higher-Level Review. Then choose if I want to use the original jurisdiction to do the review (previously step 4) and add a note (previously step 3, now 2c).

## Goal
_Provide user ability to choose to use the same jurisdiction and add a note for each eligible issu

[2019-09-19 16:23] YanaRoy opened #1928 "HLR: Request Original Jurisdiction page (step 4)"
## User Story or Problem Statement
As a claimant, I need to identify and select the jurisdiction of my contested claim so I can the same office that issued my prior decision could conduct the review.

## Goal
_Allow user to view and selected the Original Jurisdiction where the decision for their issue was made_

## Acceptance Criteria
- _The system user can view jurisdictions_
- _The system user c

[2019-09-19 16:28] YanaRoy opened #1929 "HLR: Request an Informal Conference (step 3)"
## User Story or Problem Statement
As a claimant, I need to provide the adjudicator with my available days and times for an informal conference so I can ensure I am available during those time frames to meet and discuss my HLR form.

## Goal
_Give the user an opportunity to provide availability for an informal conference_

## Acceptance Criteria
- _The system user can request an informal conferenc

[2019-09-19 16:29] erikphansen opened #1930 "Investigate adding ability to autofix Sass warnings"
Looks like we could add https://www.npmjs.com/package/sass-lint-auto-fix to enable us to autofix errors/warnings we get from `sass-lint`. Would be extra helpful if we enforce passing `lint:sass` in git/Jenkins (https://github.com/department-of-veterans-affairs/va.gov-team/issues/1925)

[2019-09-19 16:42] thatmattjohnson commented on #1515
content/DSVA POCs for both vets.gov-team and va.gov-team completed and documented here:

https://docs.google.com/spreadsheets/u/1/d/18OP-vOKGYDrOKSXDkumrm-TP4YDFk-lAH6asVSkoFvg/edit#gid=1674922252

[2019-09-19 16:42] #1515 closed

[2019-09-19 16:45] YanaRoy opened #1931 "HLR: Submit Application page (step 4)"
## User Story or Problem Statement
As a claimant, I need to review and submit my HLR form so I can ensure all of the information I provided is accurate and submit my form.

## Goal
_Create a user friendly view of information to be reviewed and submitted_

## Acceptance Criteria
Scenario: System user wants to review and submit their HLR form
- GIVEN the HLR review form has been completed by a user

[2019-09-19 17:03] YanaRoy opened #1932 "HLR: Submitted page (confirmation step)"
## User Story or Problem Statement
As a claimant, I need a confirmation that my HLR form has been submitted so I can verify that I have completed the process on my end.

## Goal
_Create a confirmation page_

## Acceptance Criteria
Scenario: System user wants to confirm their HLR form has been submitted
- GIVEN the HLR form has been completed by a user_
- WHEN the user submits the form_
*and* all e

[2019-09-19 17:11] YanaRoy opened #1933 "[Development] Connect HLR Form with our Back-End Endpoints"
## User Story
As a veteran, I want to be able to submit a Higher Level Review so I can appeal a decision on one of my benefit compensations.

As a developer, I need to make all necessary connections between the Higher-level Review form and its endpoints are made so I can ensure the form is functioning.

## Goal
_Tie front end to API_

## Acceptance Criteria
- _Fully integrated HLR form_

## Tasks

[2019-09-19 17:36] Karak888 commented on #1836
documentation attached.  (url)

[2019-09-19 17:37] Karak888 commented on #1836
Spreadsheet attached.
[List of VA.gov Products.xlsx](https://github.com/department-of-veterans-affairs/va.gov-team/files/3632519/List.of.VA.gov.Products.xlsx)

[2019-09-19 18:17] 1Copenut commented on #872
This has been scheduled for Monday, September 23rd.

[2019-09-19 18:24] omgitsbillryan opened #1934 "Automate "Best Practices" Enforcement on Pull Requests"
### The Problem
Some common mistakes are made when starting pull requests:

1. The PR is too long
2. The PR changes code in `/db/migration` & `/app` at the same time (changes to `/db/migration` should be done in a standalone PR)
3. (Any more ideas?)

### Work to Be Done
- [x] Discover a tool that best is a best fit to check for PR size & code changes
  - Ideas:
    - `codeclimate` since we already

[2019-09-19 18:25] smoonpeyes commented on #1745
Done. Closing this ticket.

[2019-09-19 18:25] #1745 closed

[2019-09-19 18:26] erikphansen opened #1935 "Move Flipper feature flag IDs to constants"
As the IDs of Flipper feature flags are used in multiple places in the front end, in both the query list (src/platform/utilities/feature-toggles/feature-toggle-query-list.json) and in Redux selectors, such as https://github.com/department-of-veterans-affairs/vets-website/blob/f1c50af9c1dd29e068b0240c12000e9b9997c8fd/src/applications/facility-locator/utils/selectors.js#L4, we should move the string

[2019-09-19 18:27] smoonpeyes commented on #1753
@kevinstachura Have you linked the conversation guide to the Perigean research project tracker? I think that's the last step before closing this ticket.

Conversation guide: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/claim-appeal-status/research/discovery-SEP-2019/conversation-guide.md

[2019-09-19 18:28] smoonpeyes commented on #1760
We weren't able to get any helpful data about this issue from the call center. Closing.

[2019-09-19 18:28] #1760 closed

[2019-09-19 18:34] kelsonic commented on #1628
@RLHecht I'm not entirely sure where this is rendered in the codebase, yet. I'll discuss the 2 bugs with @ncksllvn here shortly so I can get more details. Thanks! :)

[2019-09-19 18:39] YanaRoy commented on #1360
9/19 meeting: API team is working on resolving their issues that are preventing @SMLuthi from completing this task. Working on issues endpoint; UAT.

[2019-09-19 19:13] ricetj opened #1937 "Set ASG timeout for PROD, DEV, and STAGING"
From the CMS team task:
Set ASG timeout to 30 seconds for PROD (and 5 seconds for DEV and STAGING) so that deployments will speed up by 7 minutes.

[2019-09-19 19:13] #1549 closed

[2019-09-19 19:17] ricetj opened #1938 "Migrate CMS Pager Duty"
Pager Duty account consolidation:
- Put in maintenance mode during deploy
- migrate users

The users who need to be migrate are:
- Elijah Lynn (elijah.lynn@agile6.com)
- Jon Pugh (jon.pugh@agile6.com)
- Howard Brande (howard.brande@agile6.com)

[2019-09-19 19:19] kelsonic commented on #1628
After reviewing with @ncksllvn, it looks like we don't control either PDFs for bugs 3 and 4. I'm not sure who maintains those forms (https://www.clfamilymembers.fsc.va.gov/Home/DownloadForm/10-10068b and https://www.clfamilymembers.fsc.va.gov/Home/DownloadForm/10-10068) but they will need to update the code on their side. My guess is it's the same team that maintains https://www.clfamilymembers.fs

[2019-09-19 19:26] ricetj opened #1939 "Discovery: identify steps for taking over subdomain"
We need to figure out how to get pittsburgh.va.gov pointed at the VFS infrastructure.

There are steps fairly well known at VA for obtaining a new domain and tearing down an old one, but nothing related to moving a domain from one system to another.

Need to do some discovery starting with site owner and DSVA to figure out what steps might be necessary.

[2019-09-19 19:27] YanaRoy commented on #1912
@Karak888 this ticket may need Global UX eyes on it. FYI

[2019-09-19 19:40] jbalboni commented on #1772
@markgreenburg @rtwell I added some info to the description that has the functionality used in the current app.

[2019-09-19 19:40] ricetj opened #1940 "Take over va-cms-bot account, credstash, MFA"
Elijah will reach out

[2019-09-19 19:48] Karak888 commented on #1912
@YanaRoy this seems like it is for the authenticated experience?

[2019-09-19 19:54] kfrz commented on #1934
This is awesome. :) :pray:

- There might be a few obstacles to implementing this particular tool, but [`git-cop`](https://github.com/bkuhlmann/git-cop) is highly functional. It offers optionally configured cops for many commit-related styles, including blacklisting phrases in messages to encourage concision, etc...

`<soapbox>`

----

I've ranted on this before but I would *love* to see us improv

[2019-09-19 20:01] rianfowler commented on #1458
https://www.oprm.va.gov/ header is live

[2019-09-19 20:01] #1458 closed

[2019-09-19 20:08] RLHecht commented on #1628
@jenniferlee-dsva see Kelson's comment above regarding the PDF that isn't showing the whole page when it opens. Do you know who we would reach out to about this?

[2019-09-19 20:10] rtwell commented on #1772
This is what we're going to test next week— @lalexanderson-dsva for 👀

![image](https://user-images.githubusercontent.com/12564977/65277208-694de280-daf7-11e9-9fd3-c3beb8160570.png)
![image](https://user-images.githubusercontent.com/12564977/65277232-74087780-daf7-11e9-9252-5cc8ba980460.png)

[2019-09-19 20:18] Mottie commented on #1709
@1Copenut I'm still learning the code base... I spent a bit too much time trying to find the PR. Sorry, no luck. Do you want me to keep looking?

[2019-09-19 20:19] jenniferlee-dsva commented on #1628
I think the Agent Orange SME just retired, but I think we can reach out to Misty Sweet in VBA. Do you feel comfortable reaching out to her directly via email, and just CC me? It sounds like we can't fix this but VBA will need to find the form owner to get it fixed - is that it?

[2019-09-19 20:28] jbalboni opened #1941 "Figure out timezone handling on appointment list/details pages"
What do we need to do with timezones and where does it matter?

- Are timezones based on system or facility?
- We should show timezone in facility/system zone when we show times
- When determining video connect window, use timezone, compare to current time in user timezone

[2019-09-19 20:28] #1807 closed

[2019-09-19 20:29] #1563 closed

[2019-09-19 20:32] rtwell commented on #1575
i think we do want this page. I'm leaning toward a little more straight forward approach to the previous/next buttons and just using links at the top cc @lalexanderson-dsva

Also, i need to figure out a AM/PM annotation, but here's my first stab:
![image](https://user-images.githubusercontent.com/12564977/65278915-170ec080-dafb-11e9-8bc6-76f5260ce6ae.png)

[2019-09-19 20:34] ncksllvn commented on #1628
The form links - https://www.clfamilymembers.fsc.va.gov/Home/DownloadForm/10-10068b and https://www.clfamilymembers.fsc.va.gov/Home/DownloadForm/10-10068 - aren't linking to true PDFs; they're linking to HTML pages with the PDFs embedded in a very strange way. I wonder if we can just ask them for direct links to the PDFs to get around this?

[2019-09-19 20:35] RLHecht commented on #1628
@jenniferlee-dsva I am comfortable reaching out to Misty and I'll cc you. I'll let her know what's happening and see if she can provide direct links to the PDFs like @ncksllvn just suggested.

[2019-09-19 21:13] kelsonic opened #1942 "Update dependencies with deprecated React lifecycle method name warnings"
# Description
When working locally since having updated to React `v^16.9.0`, you will notice at least one of the following warning in the dev tools:

[code]

# Screenshot(s)
![image.png](https://images.zenhubusercontent.com/5d812458c75aaf0001c430f8/ab435083-975f-4d7b-afb7-4a214220cec1)

# Potential Solution(s)
While there are long-term solutions to these warnings as mentioned [in the link above](h

[2019-09-19 21:38] 1Copenut opened #1943 "[AXE-CORE]: Definition list DD and DT elements must be contained by a DT"
## Description

Definition lists being used in our forms are returning invalid markup errors in axe. Screenshots attached below for the non-logged-in Healthcare and Education forms showing the elements in question.

## Point of Contact

**VFS Point of Contact:** _Trevor_

## Related Issues
* https://github.com/department-of-veterans-affairs/va.gov-team/issues/1709

## Acceptance Criteria

* As a t

[2019-09-19 21:40] 1Copenut commented on #1709
@Mottie No problem. I investigated the issue on a few other forms and opened a sitewide ticket related to other instances of the issue: https://github.com/department-of-veterans-affairs/va.gov-team/issues/1943

Thank you for following up.

[2019-09-19 21:42] ElijahLynn commented on #1819
I don't see this in latest master, we still need this I think.

[2019-09-19 21:44] ElijahLynn commented on #1819
Getting this on master.

![image](https://user-images.githubusercontent.com/1504756/65283447-01de6580-daec-11e9-9f3e-baa7907fcdc1.png)

[2019-09-19 21:53] Mottie commented on #1709
Oh, I think I misunderstood... I was looking for the `<span>` wrapping the content in the `<dd>`.

[2019-09-19 21:54] kelsonic commented on #1942
Oh it looks like this was already completed in our codebase... So then why are we still getting warnings? I wonder if it's due to our dependencies having not updated, yet. Or perhaps they did update and we just haven't updated our own dependency versions, yet. 🤔

[2019-09-19 21:54] kelsonic commented on #1942
Our current dependency list (including the ones that are outdated):
[code]

[2019-09-19 22:01] kelsonic commented on #1942
It looks like it might very well be from other dependencies: https://github.com/JedWatson/react-select/issues/3715

[2019-09-19 22:46] cvalarida commented on #1819
Looks like that screenshot is pulling from the cache, which wouldn't output any Drupal URL.

[2019-09-20 00:01] ElijahLynn commented on #1819
K, per Slack: `npm run build -- --pull-drupal` needs to be run, with the `--`. If `yarn` is used then the `--` is not needed.

[2019-09-20 00:01] #1819 closed

[2019-09-20 12:33] elwoodva commented on #1281
This work is included in 1283.

[2019-09-20 12:34] Karak888 commented on #1284
https://github.com/department-of-veterans-affairs/vets.gov-team/tree/master/Products/Global/Search

[2019-09-20 13:15] cvalarida opened #1945 "Send the CSV of broken links to Slack"
## Task
Send the CSV of broken links in a Slack notification from Jenkins.

## Acceptance Criteria
- [ ] That CSV is sent
- [ ] The notification goes to #cms-general

[2019-09-20 13:19] cvalarida commented on #1945
According to [this](https://jenkins.io/doc/pipeline/steps/slack/), we should have a `slackUploadFile` command, but I tried that and the error output was that the function didn't exist.

[2019-09-20 13:30] KevinMHoffmanUSDS opened #1946 "Header Injection CSS Issue on Benefits.VA.gov"
## What happened?
The CSS for the two bottom menu items, Service member benefits and Family member benefits, is not rendering correctly. Screenshot attached.

![benefits-va-gov](https://user-images.githubusercontent.com/50150810/65330622-fa20ce80-db88-11e9-85b9-ede2a507d0fa.png)

## Specs:
- Device: MacBook Pro (Retina, 13-inch, Early 2015)
- Browser: Google Chrome Version 75.0.3770.142 (Official

[2019-09-20 13:31] KevinMHoffmanUSDS commented on #1946
@batemapf Like this... also, feel free to let me know who I might normally assign this sort of thing to.

[2019-09-20 13:54] 1Copenut commented on #1709
I'd say that's on me for not explaining the issue as well as I could. I first saw this issue in the 526 form, but after quick review yesterday, it's definitely a wider item that the Tools team should investigate. My hunch is the issue is in the forms system markup, so a fix will have to happen there, be pushed into the code base, and QA'ed for accuracy in multiple places.

[2019-09-20 13:55] 1Copenut commented on #1943
@brandonrapp I first discovered this issue in the 526 v1 form, but after talking with one of the devs working on it, realize it's a wider issue, so closed that one off and opened this sitewide issue for the Tools team to investigate. LMK if I can help QA or answer questions.

[2019-09-20 13:57] rtwell commented on #1575
on second thought, i wonder a) should these be check boxes? and b) if stacking them would be easier to implement, esp on mobile:

![image](https://user-images.githubusercontent.com/12564977/65332641-1292e800-db8d-11e9-9b4b-7032815af4ec.png)

[2019-09-20 13:58] Justin-Pickett commented on #1280
corresponding security review tickets have been created. Closing this ticket.

[2019-09-20 13:59] Justin-Pickett commented on #1437
@tlei123 can you validate this in QA please. Thank you.

[2019-09-20 14:06] jbalboni commented on #1575
@rtwell The api we're submitting to looks like it doesn't allow you to send both AM and PM at the same time, so radio buttons might make more sense there.

Stacking them is probably slightly easier to implement, but not a big deal either way on the FE. It might depend on how you want to show multiple dates selected at once. Does the AM/PM tooltip thing collapse for dates you've selected but aren't

[2019-09-20 14:08] ricetj opened #1947 "ATO Support"
The team is helping answer some ATO questions and talking through our current ATO.

[2019-09-20 14:10] ricetj opened #1948 "Supporting Lighthouse with Prometheus Alerting Error"

[2019-09-20 14:11] ricetj commented on #1948
This is resolved now.

[2019-09-20 14:11] #1948 closed

[2019-09-20 14:16] kelsonic commented on #1942
So due to dependencies sometimes being shared across applications, and sometimes only used by a single application that doesn't have an owner (and we may not be familiar with it ourselves), it's difficult to safely upgrade dependencies, but that is still something we should have eyes on... Should this ticket be moved to Icebox/Backlog for now? @ncksllvn @Karak888

[2019-09-20 14:29] nedierecel commented on #1637
@Karak888 @jenniferlee-dsva A few updates on the request:

1. Analytics on Lisa K's Audit of VA Forms Landing Pages - We will be able to view top pages by pageviews as well as landing pages by organic search.

2. Analytics from Kevin's DB Export of all raw VA forms - These actions are not tracked on the legacy section but have a low level of effort to implemen to begin tracking this sprint. Though

[2019-09-20 14:36] ricetj opened #1949 "Incident Forward Proxies Failed"
The result was vets-api functionality was completely lost. This was an incident that we had to jump in and resolve right away. Tracking here for awareness.

[2019-09-20 14:37] ricetj commented on #1949
fixed

[2019-09-20 14:37] #1949 closed

[2019-09-20 14:50] rtwell commented on #1575
do we need an interface that allows a user to choose a date with both AM and PM selected for the same date? currently, I believe a user can:
![times](https://user-images.githubusercontent.com/12564977/65336472-6c4ae080-db94-11e9-8a67-d88bb8d6d8b9.png)

[2019-09-20 15:13] joanneesteban commented on #1669
@amycesal Before Friday of next week, please make the changes within the AC to the MVP that are good to go, and note any changes that you are not making with UX/design reasoning (and we can discuss further). Notify @jonwehausen when you're done with those changes.
Jon, after the design changes are made, please check the code to ensure that the report can still run smoothly.

[2019-09-20 15:25] brandonrapp commented on #1943
Thank you @1Copenut! We will get someone to look at this shortly. We will be sure to grab you if we have questions!

[2019-09-20 15:30] Justin-Pickett commented on #870
This has session was completed with @mnorthuis @thatmattjohnson @artistgreen and @Justin-Pickett on 9/20/19.

Closing this ticket.

[2019-09-20 15:30] #870 closed

[2019-09-20 15:33] Justin-Pickett commented on #1732
@lihan, can you notate the feedback you are waiting to receive from VSP in this ticket just for visibility. Thank you.

[2019-09-20 15:34] Justin-Pickett commented on #1733
@lihan, can you notate the feedback you are waiting to receive from VSP in this ticket just for visibility. Thank you.

[2019-09-20 15:39] kevinstachura commented on #1753
Conversation Guide has been shared with Perigean.

[2019-09-20 15:39] gstevenson-va opened #1950 "Access for Glen Stevenson"
# Instructions
1. Socks access
2. VSA
3. @department-of-veterans-affairs/vsp-operations to ping the operations team
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please provide the name of your team, your role on that team, and the name of

[2019-09-20 15:43] #1753 closed

[2019-09-20 15:58] #1824 closed

[2019-09-20 15:58] #1821 closed

[2019-09-20 16:29] lihanli commented on #1733
waiting on pr review here https://github.com/department-of-veterans-affairs/vets-api/pull/3304

[2019-09-20 16:30] lihanli commented on #1732
waiting on pr review here https://github.com/department-of-veterans-affairs/vets-api/pull/3285

[2019-09-20 16:38] ricetj opened #1951 "Prometheus deploy issue"
Had to jump on this right away and resolve.

[2019-09-20 16:38] ricetj commented on #1951
Resolved

[2019-09-20 16:52] #993 closed

[2019-09-20 16:54] Karak888 commented on #1703
@RLHecht @peggygannon is this good to close or not just yet?  Thanks!

[2019-09-20 16:56] Karak888 commented on #484
@1Copenut @alexpappasoddball would you kindly validate / review these changes that @kelsonic made? Thanks!

[2019-09-20 17:05] kelsonic commented on #1284
This is how one of the pages **currently** appears in my google search:
![image](https://user-images.githubusercontent.com/12773166/65344775-94433f80-dba6-11e9-8f54-63a691fbad21.png)

It seems quite informative and there already exits relevant questions on this SERP. Note that this is **before** I've added any Schema microtags. So I have 2 questions from this:

[code]

I am a little confused what

[2019-09-20 17:06] 1Copenut commented on #484
@Karak888 && @kelsonic I reviewed this in Staging using the URL https://staging.va.gov/find-locations/facility/vha_674GD from the original description. The axe error is still being reported because the UL is not nested inside the LI. I've attached a screenshot below.

Let me know if you want to discuss over video chat and I'll follow up late today or Monday morning.

---
![Screen Shot 2019-09-20 a

[2019-09-20 17:10] 1Copenut commented on #1829
This meeting is scheduled for Friday, September 27

[2019-09-20 17:12] kelsonic commented on #484
@1Copenut I haven't used the Axe extension before, but it looks very handy! I see the issue as well and will send up a follow-up PR where the below issue(s) are solved :) Thanks!

![image](https://user-images.githubusercontent.com/12773166/65345444-47f8ff00-dba8-11e9-9665-69c9e7b3450f.png)

[2019-09-20 17:18] 1Copenut commented on #1856
I have provided initial findings as a attached text document.

[2019-09-20 17:19] 1Copenut commented on #1856
[Initial accessibility notes (text file)](https://app.zenhub.com/files/133843125/770622c7-f94e-4c3e-9357-384b3ba30d6f/download)

[2019-09-20 17:19] #1856 closed

[2019-09-20 17:22] 1Copenut commented on #484
@kelsonic Glad to hear axe is helpful. I encourage all front-end teammates to download it for their preferred Chrome/Firefox browser if they're allowed to do so. It's helpful in finding and verifying issues.

[2019-09-20 17:29] lkoenigsberg commented on #1840
So it sounds like we might be fine on production but there's no way to know.  Can we maybe change the URL on staging to the one that's on production so that we can find a user to test with?

I don't want to escalate to the VIC team until we've explored it further.

[2019-09-20 17:43] ricetj opened #1952 "Postmortem Forward Proxies Fail"

[2019-09-20 17:55] RLHecht commented on #1703
It was updated in Github but I haven't updated in Drupal. Is this out of UAT and able to be worked on @jenniferlee-dsva ?

[2019-09-20 18:00] jenniferlee-dsva commented on #1703
Disability pages are not out of UAT yet.

[2019-09-20 18:15] ncksllvn commented on #1840
Hey @lkoenigsberg, this wouldn't have impacted the functionality of the button at the bottom of the VIC application like the description here describes, but there was an incident on Sunday that would have affected the VIC landing page, causing `/records/get-veteran-id-cards/apply/` to render as not found during a certain timeframe. We wrote a [postmortem](https://github.com/department-of-veterans-

[2019-09-20 18:16] #1717 closed

[2019-09-20 18:59] lkoenigsberg commented on #1840
Definitely happening after I click the green button, at least on staging.

[2019-09-20 19:03] #1752 closed

[2019-09-20 19:17] ncksllvn commented on #1840
I don't have VA network access right now - do you mind posting a screenshot of what you see on that page that the green buttons leads to?

[2019-09-20 19:21] ricetj opened #1953 "Ops Incidents Sprint 9"

[2019-09-20 19:22] ricetj opened #1954 "[Ongoing Service] Incident response."
## User Story and Problem Statement
As a member of VSP and VFS, I want to see incidents responded to and addressed in a timely manner, so that the site can continue to a reliable place for Veterans to access their benefits.

### High Level User Story/ies
These tasks are for ensuring we address issues in a timely manner and any follow-up work to prevent further incidents in the future.

## Measurin

[2019-09-20 19:35] Justin-Pickett commented on #972
@Justin-Pickett  @mojaray2k  @erikphansen @lihanli  completed this session  with @peterhill-oddball on 9/20/2019.

Closing this ticket.

[2019-09-20 19:35] #972 closed

[2019-09-20 20:05] omgitsbillryan commented on #1934
`git-cop` requires Ruby 2.6 or higher 😢 . `fit-commit` seems like a reasonable alternative that does pretty much the same thing, albeit slightly lesser adopted. this would be a nice addition IMO.

`master` is configured as a protected branch, which I'm pretty sure means that commits directly to it are not allowed. `vets-api` is also configured to disallow merge and rebase commits to `master` - it

[2019-09-20 20:11] lkoenigsberg commented on #1840
<img width="1204" alt="Screen Shot 2019-09-20 at 4 11 30 PM" src="https://user-images.githubusercontent.com/51327745/65355994-5869a380-dbc1-11e9-8809-7ab636463202.png">

[2019-09-20 20:13] Mottie commented on #1536
Actually, I was wrong. I can check Jenkins, but not at the URL that was shared.

Use: http://jenkins.vfs.va.gov/job/rake_tasks/job/vets-api-form526-errors/

But, I'm only seeing the last 3 reports? Currently 32-34; I can't get to 29 where the reported error occurred.

![Screen Shot 2019-09-20 at 2 49 12 PM](https://user-images.githubusercontent.com/136959/65355983-ec833d00-dbb8-11e9-962a-c509955ff

[2019-09-20 20:13] YanaRoy opened #1955 "[Epic] Complete Original 526 Claim on VA.gov"
## High Level Epic Goal
As a Veteran, I want to be able to submit a 526 Disability Compensation application on VA.gov even if I have never filed a 526 claim previously, so I can avoid having to be redirected to eBenefits.

## Hypothesis/(es)
**If** _the gating to complete an original 526 form is removed_ **then** _the claimant can avoid having to take additional steps to begin the process to do so

[2019-09-20 20:16] #1732 closed

[2019-09-20 20:33] goldenmeanie commented on #1650
Sorry about the lag all!

[synthesis uploaded](https://github.com/department-of-veterans-affairs/vets.gov-team/blob/master/Products/Disability/Disability%20526EZ/research/2019-07-automation/synthesis.md)

[2019-09-20 20:34] wyattwalter opened #1956 "static uid's for system users"
It looks like in the build phase for some apps (Prometheus and likely Jenkins), we're letting the system add users using dynamically allocated uid's. These need to be set statically as we're trying to persist data between instances on EBS volumes. This'll leave us vulnerable to having these apps break when the image changes.

[2019-09-20 20:41] YanaRoy opened #1957 "Discovery: generating a pID and/or BIRLS ID for service members applying for disability claims"
@djmunoz1 commented on [Tue Sep 18 2018](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/13357)

FROM GDIT: There are edge cases for 526 where user is not found in Corp or BIRLS, eBen handles this by adding the record in corpDB or BIRLS id (often same as ssn) before starting 526. This means there will be a much higher possibility of users not having a participant record (pID

[2019-09-20 21:06] Mottie commented on #1712
This ticket is on hold per Peggy Gannon:

[2019-09-20 21:06] YanaRoy commented on #1701
Meeting scheduled with Veteran on 9/26

[2019-09-20 21:15] ncksllvn commented on #1840
Hm, assuming you're connected to the VA network...then yeah, that does look like a good reason to reach out to partners at that domain. It seems like their domain may have changed something 🤔

[2019-09-20 21:20] wyattwalter opened #1959 "write postmortem for fwdproxy deploy on 2019-09-19"
Primary discussion in Slack during incident here: https://dsva.slack.com/archives/C30LCU8S3/p1568928128052400

Draft of document started here: https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/pull/12

## AC

- [x] incident review written and reviewed
- [x] any improvement items tracked via issues and linked here

[2019-09-20 21:49] ncksllvn opened #1960 "Create E2E test for MegaMenu"
With the MegaMenu configuration moving to the CMS, the data is now more dynamic than ever, and we should confirm its safety before deploying any changes. The most standard way for us to do that is via an E2E test. This will allow us to confirm that the MegaMenu is still working as expected before each deployment.

[2019-09-20 21:49] ncksllvn commented on #1960
Adding `cms` label, because this work is warranted based on work in that realm.

[2019-09-20 21:51] ncksllvn commented on #1258
I believe this comes down to just updating our `robots.txt` to block everything on dev/staging, only allowing crawlers on production. So, sounds like a good candidate for a build plugin.

[2019-09-20 21:52] ncksllvn commented on #1258
Moved to backlog, so it'll be groomed for next sprint.

[2019-09-22 00:02] nedierecel commented on #1695
Team was added on 9/21/2019

[2019-09-22 00:02] #1695 closed

[2019-09-23 13:11] #1892 closed

[2019-09-23 13:11] meganhkelley commented on #1892
Meeting completed, internal notes documented: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsp/teams/content-ia/vfs-onboarding-feedback.md

There is no epic for By Light onboarding because the majority of onboarding was done before the onboarding epic system was in place. Closing.

[2019-09-23 14:07] Jeff-Hayter commented on #1633
@tskinn SAC adjudication has been received, please grant proxy access.  I'll update this thread after I receive confirmation for eQIP.

[2019-09-23 14:21] ncksllvn opened #1961 "Facility Locator and Urgent Care searches"
As of this work - https://github.com/department-of-veterans-affairs/va.gov-team/issues/1499 - users can now search for Urgent Care and Retail Pharmacies from a Community Cares search. However, we still have come messaging on the Facility Locator that somewhat suggests that you still need to leave the website to do one of these searches. These should be updated so that the user knows this is someth

[2019-09-23 14:23] ncksllvn commented on #1961
@chrisj-usds @jenniferlee-dsva thoughts on this one? Maybe it should go to content first?

CC: @Karak888

[2019-09-23 14:29] Mottie opened #1962 "Search results total is incorrect in mocked response"
### Status

UNRESOLVED

### Severity Analysis

*Estimate of how critical this bug is*

`sev 3`
- Can go out in a regular deploy but still needs fixed ASAP
- Can be put into the owning team's backlog and scheduled by PM

### User Impact

- *Who is the user impacted by this problem?*

Any user that is using the search feature/

- *How does this problem affect the user?*

The primary results are usua

[2019-09-23 14:33] RLHecht commented on #1703
@peggygannon I just made these changes to the two pages in Drupal. Can you please check them? FYI @jenniferlee-dsva

[2019-09-23 14:36] ndsprinkle opened #1963 "Access for Nick Sprinkle"
# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please provide the name of your team, your role on that team, and the name of the company you work for.

- [Grant AWS Console access?]

- Public SSH Key

[2019-09-23 14:36] ndsprinkle commented on #1963
@department-of-veterans-affairs/vsp-operations

[2019-09-23 14:53] nedierecel commented on #1828
@jenniferlee-dsva - This issue is cross-posted with #1637. Please see a [link to the report](https://analytics.google.com/analytics/web/?authuser=0#/analysis/a50123418w177519031p176188361/edit/8-kxQse4QCS3fyG8N0v98g) with 3 tabs:

_Timeframe: 2019 year-to-date_
1. Top 100 VA Forms pages ranked by pageview
2. Top 100 VA Forms Detail Pages ranked by pageview
3. Top Landing pages by organic traffic

[2019-09-23 14:53] ndsprinkle commented on #1536
@Mottie Were you ever able to get to report 29? I can't even hit the link at all (because of no PIV I'm sure).

[2019-09-23 15:06] jbalboni commented on #1941
It looks like:

1. Times always come back from the api in UTC
2. We have timezones for video and CC appointments
3. For regular VA appts, we have to get the timezone from the timezones endpoint, which appears to only have the timezones for systems, not child facilities.

[2019-09-23 15:15] jonwehausen commented on #1846
**Updates:** CC: @jefflbrauer @nedierecel

1) As a result of our previous go-ahead work, we already have accordion expands/collapses, side navigation expands/collapses, scroll depth, and outbound link tracking available.

2) I have documented the various dataLayer pushes we will need from FE devs for tracking the button CTA's, jumplink clicks, and banner clicks (see below DL example)

An example o

[2019-09-23 15:22] nedierecel commented on #1846
@jefflbrauer

1. *Staging Banner for Legacy-->Modernized Pittsburgh Pilot* - Is there a location on staging where we can see this?
2. `vads-facility-hub-cta-label`: These are the links within the Manage Healthcare section. Should we simply call these "Manage Healthcare links"?

![image.png](https://images.zenhubusercontent.com/5b295b9ff378ea1890b3d77e/42021fe2-s567a-487f-9b9d-a0b8be141399)

[2019-09-23 15:22] jefflbrauer commented on #1846
@jonwehausen Thank you for your quick and thorough review! For your first question - that banner isn't live just yet on the legacy site, but it will function just like the one on the modernized site, just will go in the opposite direction and be served by the Teamsite CMS.

@andrewlewandowski you may need to answer #2

I think we also need a follow up call as I don't see where you have documented

[2019-09-23 15:22] ncksllvn commented on #1284
Hey @kelsonic, so we do have schema.org markup implemented in the website already, at varying levels per page. If you visit `view-source:https://www.va.gov/change-address/`, search for `schema.org`, you'll see that page is actually pretty well-decorated with schema.org markup already, so it does a pretty good job in the Google search results.

This ticket appears to be asking us to enhance the sch

[2019-09-23 15:24] jholton opened #1964 "Update Salesforce consumer keys for Feedback Tool"
Update Salesforce consumer keys for GI Bill School Feedback Tool.

[2019-09-23 15:25] jason-gcio opened #1965 "VFS Support: Content Review for Rated Disabilities (Mockup)"
## Story
As a member of the eBenefits team building with VSP, we need our content reviewed before a usability session to ensure it's accurate, aligns with VA style, and is error-free.

## Goal
**Content:** To review the content in the [**Rated Disabilities**](https://xd.adobe.com/view/0db723ac-52ff-48b3-4877-9d5882cb2e1f-7b86/) mockup and make sure it meets the standards.

**Context:** The Veteran