[2020-03-24 19:38] #6789 closed

[2020-03-24 19:38] #6488 closed

[2020-03-24 19:39] tressaellen commented on #2586
Okay, sounds good. I'll update the conversation guide with these.

[2020-03-24 19:40] Samara-Strauss commented on #7193
You can take out anything for the logged-in homepage discovery. That's already [documented here](https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/7190).

[2020-03-24 19:47] mmiddaugh commented on #2556
@kelsonic @rtwell , I am a little confused and hope you two can clarify this for me.
My assumptions are:
Left Nav is for VAMc only
Changes made to Left Nav should not affect the rest of the site

Am I missing anything? Are these assumptions true?

[2020-03-24 19:49] mshea0606 commented on #7193
@Samara-Strauss Ok thanks!

[2020-03-24 19:49] jbritt1 commented on #6650
On it.

[2020-03-24 19:50] peggygannon commented on #7014
@jbalboni @lenaecb

Here is  my content recommendation for this page.
I have a question regarding the radio button options. Can we add the name of the VAMC associated with the VA health system?

For example, for VA Spokane should we say instead, VA Spokane, Mann-Grandstaff, since the alerts we'll be using for Cerner sites use the VAMC name, not the health system name.

-------

You’re registered a

[2020-03-24 19:51] kathleencrawford commented on #6650
Thank you @jbritt1 !

[2020-03-24 19:58] annaswims commented on #7034
Barry Egbert (Bylight) is a good contact regarding the functionality of MHV account creation/upgrade.

[2020-03-24 19:58] rebeccawalsh commented on #6776
Documentation for this page can be found in GH here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/medical-device-tool/design/prototype-drupal-pages.md

Unauthenticated: https://vsateams.invisionapp.com/share/6MVTG94WNH5#/410077289_Content_Page_-_Unauthenticated_-_Desktop

Authenticated: https://vsateams.invisionapp.com/d/main?origin=v7#/console/19309480/410077

[2020-03-24 19:58] amyknox commented on #6610
@desireeturner  - Update on analytics... Nedie  reviewed the data on the /review-and-submit page, and didn't see data for interactions with the accordion. We are capturing the values on the form submission but not the edits on the Review & Submit.

They can prioritize requirements for this feature so it can be quickly implemented.

[2020-03-24 19:59] rebeccawalsh commented on #6776
I will be getting this document reviewed by VSP / Content prior to converting it to markdown in GH.

[2020-03-24 20:00] ncksllvn commented on #6756
@jenniferlee-dsva  This is all done and working great, but there's a side effect I hadn't considered. The tool landing page has its sidebar as configured in Drupal, but the tool itself doesn't have the sidebar.

<details>

<summary>Tool landing page(/education/gi-bill/post-9-11/ch-33-benefit/)</summary>

![image](https://user-images.githubusercontent.com/1915775/77470108-89cc6180-6de6-11ea-8031-ce

[2020-03-24 20:02] kelsonic commented on #2556
@mmiddaugh both of those assumptions are true! 🙂We do still have other left navs around the site, but they have a different design.

[2020-03-24 20:07] rileyorr commented on #6699
My notes from yesterday's meeting can be found [here](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/medical-device-tool/meetings/20200324-mdt-staging-review.md).
I've created all the tickets based off those notes. Feel free to reach out with any questions!

[2020-03-24 20:09] jbalboni commented on #7014
@peggygannon We currently just show the VAMC name, I think. Ryan's mock isn't using real data.

[2020-03-24 20:11] #6908 closed

[2020-03-24 20:11] #6810 closed

[2020-03-24 20:11] #6909 closed

[2020-03-24 20:11] #6845 closed

[2020-03-24 20:11] #6910 closed

[2020-03-24 20:12] #6912 closed

[2020-03-24 20:15] #4988 closed

[2020-03-24 20:16] #6451 closed

[2020-03-24 20:18] annaswims commented on #6813
The #vfs-sentry-alerts slack channel should be monitored by a VSP engineer.

[2020-03-24 20:21] #6752 closed

[2020-03-24 20:21] RLHecht commented on #6752
This page is now live and working. I let Matt know as well. Closing the ticket. FYSA @MickinSahni

[2020-03-24 20:24] mshea0606 commented on #6628
@mshea0606  Regression test updates needed:
- connected accounts
- delete contact information

[2020-03-24 20:24] mmiddaugh commented on #6066
Back end code has been removed. Need to remove from UI.
@darkbushido

[2020-03-24 20:25] mmiddaugh commented on #6067
Back end code has been removed. Need to remove from UI.
@darkbushido

[2020-03-24 20:29] mshea0606 commented on #6814
Updates per Carey on 3/24/20:
- Rough drafts of FAQs and App Directory are complete and on GitHub
- Meeting with Public Websites team to kick-off their help with this tomorrow
- VSP got wind and want to talk to me about whether we can incorporate this into your future collab cycle meetings or not — I will need to get their design/copy blessing on these extra piece.
- Hopefully the App Directory an

[2020-03-24 20:30] bridgethapner commented on #5733
@Samara-Strauss I'm so sorry about the tardiness in responding to your post! The email notification of your reply slipped through the cracks for me. I assigned the ticket to me just so I don't miss any questions in the future.

Some stuff from SSO-Login team work that might be hepful:

- Peggy reviewed copy for the Scheduling Page Alert ([wireframe here](https://adhoc.invisionapp.com/share/DYVMI5O

[2020-03-24 20:33] jbalboni commented on #7014
@peggygannon What you're describing sounds different than the way @rtwell designed it. I put your message in all the different presentations we could use on this page. Which one is the one we want to use (or start from)?

Inline radio message
![Screen Shot 2020-03-24 at 4 16 35 PM](https://user-images.githubusercontent.com/634932/77474120-edf22400-6dec-11ea-94db-9d46ff2879ff.png)

Validation messa

[2020-03-24 20:34] tressaellen commented on #2586
Hey @Samara-Strauss and @sshein - i've updated the conversation guide if you'd like to take another look at it.

[2020-03-24 20:36] jason-gcio opened #7194 "Design intent Collaboration for "View my payment history""
## Steps to complete Design Intent Collaboration
- [x] Product Manager or Designer: create this issue and fill in feature name in the title and other bolded information appropriately
- [x] Link to this issue once created in #design in Slack; tag @ Crystabel Reiter @ Emily
- [ ] Crystabel and Emily to schedule meeting with VSP reviewers and **requesting team** attendees (as listed below)
- [ ] At l

[2020-03-24 20:36] peggygannon commented on #7011
@lenaecb @rtwell here is my content recommendation for this message and one question:

Question, will users need to sign in again to go to My VA Health?

I feel like this **SHOULD** know this by now, but I wanted to clarify again if single sign on will apply to Cerner as well?

------

**You can't cancel this appointment on the VA appointments tool**
To cancel this appointment, please go to [My VA

[2020-03-24 20:38] marriej opened #7195 "Request manual QA services for SSO-Login"
Requesting manual QA services from the VSP Product Support team.

Team Name: SSO-Login
Test Cases (include product URL and credentials): https://dsvavsp.testrail.io/index.php?/suites/view/30&group_by=cases:section_id&group_order=asc

Requesting support week of April 2nd or prior if available.

[2020-03-24 20:40] mnorthuis commented on #2052
In reading through comments, it appears that all parity work is complete.

I removed one line for yellow ribbon page/content that is already redirected and does not need to be touched as part of this work.   All other redirects are ready to go.

[2020-03-24 20:52] mnorthuis commented on #6799
@lwalsh617 I agree with @jenniferlee-dsva in above feedback...we have some benefits that don't necessarily have online applications, but the "Get" spoke is still where all the information is on how to apply as well as access to PDFs - that is the same as here.  So I think the same approach/model works and helps us to keep some level of consistency in approach for now until we can test this further

[2020-03-24 20:53] peggygannon commented on #7017
@lenaecb I have a few followup questions, so I understand what we need to say:

Is this content meant for Cerner users who might navigate to the Appointments landing page without first going through the Scheduling page?

It's my understanding that users who are registered at a Cerner-only site, won't necessarily see the Appointment home page, as the "Cerner" alert on the authenticated Scheduling p

[2020-03-24 20:55] rebeccawalsh commented on #6936
Decided that we will hand our plan and guide off to VSP as GH markdown, since some members are VA and won't be able to access Docs. This is just more standard practice and is worth the extra time to put it up.

Research plan: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/medical-device-tool/research/usability-march20/research-plan.md

Conversation guide: https:

[2020-03-24 20:58] bridgethapner commented on #5384
@hinzed1127 This alert is ready to go!
- [Desktop wireframe](https://adhoc.invisionapp.com/share/DYVMI5OXEQN#/screens/404881778)
- [Mobile wireframe](https://adhoc.invisionapp.com/share/5QWAJJQNG2J#/screens/409645750_M--5745_AUTH_Scheduling_Page_Content_Updates_-non-Alert_Box-)
---
**A couple of design notes:**
- The design uses the Contextual Warning Alert from the pattern library.
- Please use a

[2020-03-24 21:04] rroueche commented on #7043
Thank you @jbritt1 !!

[2020-03-24 21:05] jbritt1 commented on #7043
No problem! It is definitely a team effort.

[2020-03-24 21:05] jonwehausen commented on #7118
### Relevant GA Reports for COVID

-  [COVID FAQ Page Navigation Clicks](https://analytics.google.com/analytics/web/?authuser=0#/report/content-event-events/a50123418w177519031p184624291/_u.date00=20200324&_u.date01=20200324&explorer-segmentExplorer.segmentId=analytics.eventAction&explorer-table.plotKeys=%5B%5D&explorer-table.filter=Navigation%20-%20COVID/)
- [Homepage banner clicks](https://analy

[2020-03-24 21:05] #6650 closed

[2020-03-24 21:06] #5647 closed

[2020-03-24 21:06] jbritt1 commented on #6650
User created, will send a DM via Slack with first time login instructions / credentials momentarily.

[2020-03-24 21:07] #5649 closed

[2020-03-24 21:08] #5643 closed

[2020-03-24 21:12] emilywaggoner opened #7196 "Design Feedback: Pre-Usability Review [Left Nav]"
## User Story

VSP Design feedback on Left Nav redesign

Prototype we're reviewing:
- [Desktop](https://github.com/department-of-veterans-affairs/va.gov-team/issues/1874#issuecomment-595797269)
- [Mobile](https://github.com/department-of-veterans-affairs/va.gov-team/issues/1874#issuecomment-601907235)

**Do**
- Incorporate yellow halo focus state to "active/on-click state"
- In the "You are there/

[2020-03-24 21:18] RLHecht commented on #6922
Adding in Jen's Word doc for changes to be updated in each of the Drupal pages after her first review:[Uploading... AMA-preview-pg-jl-comments-032420.docx ]

[2020-03-24 21:24] rtwell commented on #7196
![image](https://user-images.githubusercontent.com/12564977/77478232-09146200-6df4-11ea-943d-c64e8a33c395.png)

![image](https://user-images.githubusercontent.com/12564977/77478298-20534f80-6df4-11ea-86b6-ee8e4525aaae.png)

![image](https://user-images.githubusercontent.com/12564977/77478347-39f49700-6df4-11ea-9f9a-deb4648cd01f.png)

[2020-03-24 21:29] johnpaulashenfelter commented on #7078
Figured it out. Starting a PR. `i18n.transliterate` ftw

[2020-03-24 21:31] peggygannon commented on #5583
@RLHecht I wanted to let you know that you can merge in your PR. Bill is migrating the Forms masterlist into design system today.

[2020-03-24 21:31] jason-gcio commented on #6021
PR was merged elsewhere

[2020-03-24 21:31] #6021 closed

[2020-03-24 21:38] jenniferlee-dsva commented on #3572
@kevwalsh @ncksllvn - we're doing this first on Pittsburgh as part of side nav (left nav) work. So not sitewide at this time.

[2020-03-24 21:41] jenniferlee-dsva commented on #3997
Hi @kelsonic - Just want to make sure I understand the list of page URLs you have above in this ticket. These are the pages that need to be worked on separately bc of the custom vets-website layer, not that these are the only pages you're removing the Home link from, correct?

[2020-03-24 21:47] #6820 closed

[2020-03-24 21:55] jenniferlee-dsva commented on #6756
@ncksllvn If I'm following you... the tool landing page is our unauthenticated content page. And the second page is the authenticated tool page that you land on after signing in.

This is typical for our other authenticated apps, so this is fine. Thank you for checking!

[2020-03-24 21:57] #7159 closed

[2020-03-24 22:01] zurbergram commented on #7111
https://github.com/department-of-veterans-affairs/gibct-data-service/pull/626

[2020-03-24 22:07] RLHecht commented on #5583
Just merged it! Should be live tomorrow afternoon.

[2020-03-24 22:09] #6921 closed

[2020-03-24 22:16] narin commented on #5849
@lenaecb @rtwell

I'm working on the drop down with the different appointment ranges as seen in Ryan's mockup. The default range will be the past 3 months as discussed earlier.  Can I get some guidance/clarification on what the other options should be?

From the mockup, it looks like 3 month chunks going back one year, and then the final option is all of the current year (YTD), or should it be all

[2020-03-24 22:33] patrickvinograd commented on #6823
Requested artifacts are available here:
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/sso/security-review/SSOSecurityReview.md

[2020-03-24 22:33] patrickvinograd commented on #6823
Tagging @gunsch for awareness.

[2020-03-24 22:48] meganhkelley commented on #7194
Scheduled for 3/31!

[2020-03-24 22:55] SMLuthi opened #7197 "[Development] HLR: Add JSON validation to decision review create endpoint"
## Purpose
Update 6/29: Discussed during meeting with dev team, we don't want to use this endpoint to cache or even pull the schema since it is overly prescriptive.  Robin has been using a modified schema based on their schema to simplify our end. We need to explore whether this is the right way to go or whether we want to talk to LH about their schema so we end up with the same one on both ends.

[2020-03-24 22:56] mmiddaugh opened #7198 "Left Nav: Section open state"
## User Story or Problem Statement
As a veteran, I need to know which elements in the navigation menu are clickable so I can more easily understand which page I am on.

## Goal
Use neutral tone for the text and highlight colors in the "You are there/section open" state to avoid confusing users, per feedback on [#7196](https://github.com/department-of-veterans-affairs/va.gov-team/issues/7196)

![im

[2020-03-24 23:08] MickinSahni opened #7199 "Analytics Implementation or QA Support for Public Websites [Yellow Ribbon]"
# Analytics Implementation or QA Request

## Description
- **Is this request for Google Analytics implementation or QA?**
  - Google Analytics, Foresee

- **Who is this request for?**
  - @jenniferlee-dsva , @MickinSahni

- **What team/project is this work for?**
    - Public Websites, Yellow Ribbon

- **Provide the Domain where Google Analytics needs to be implemented**
    - www.staging.va.gov (

[2020-03-24 23:10] jason-gcio opened #7200 "Refactor Workflow: {workflow}"
## Goal
Update fields and ensure requirements* are in place for earlier workflows.

## Considerations
Based on whether they selected that as an option in the wizard
- Report a divorce
 -Report child marriage
- Report dependent death

## Tasks
- [ ] TBD

## Acceptance Criteria
- [ ] All selected workflows have been refactored and there were no errors thrown

[2020-03-24 23:21] jason-gcio opened #7201 "Content Specific QA the 686 Form"
## Goal
All content and fields should match exactly to what we have in the mockups ahead of a more official QA by Tze

## Considerations
- Should be done before e2e tests (#6049)
- [View Dependents punch list](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/ebenefits/features/view-update-dependents/research-design/text-revisions/view-dependents-punch-list-

[2020-03-24 23:34] MickinSahni commented on #727
Hey @ncksllvn putting this in next sprint and also added a `needs-grooming` label on it as there might still be some questions to answer in planning mañana.

[2020-03-24 23:36] AnneHurley commented on #7074
@RLHecht  The special monthly compensation page in Drupal is ready for your eagle eye, including new math: https://prod.cms.va.gov/node/991/edit

Note: One figure on the TeamSite page has an extra digit so have emailed Sandy Tadeo for the correct figure, which I'll input when I get it.

[2020-03-24 23:38] MickinSahni commented on #2052
Thanks, Mikki.
@AnneHurley @lunascoop — safe to slot for sprint 18?

[2020-03-24 23:38] AnneHurley commented on #7074
Updated:
1. Special Monthly Compensation
This page in Drupal with 2019 rates https://www.va.gov/disability/compensation-rates/special-monthly-compensation-rates/
Needs to be updated with rates from this page,
https://www.benefits.va.gov/COMPENSATION/resources_comp02.asp

this is updated and ready to be pushed live. Will submit new redirect to @lunascoop

[2020-03-24 23:41] AnneHurley commented on #7074
**2. Special Benefit Allowance**
This page in Drupal with 2019 rates https://www.va.gov/disability/compensation-rates/special-benefit-allowance-rates/

Has been updated with rates from this page,
https://www.benefits.va.gov/compensation/special_Benefit_Allowances_2019.asp

This is updated and live. Will submit new redirect to @lunascoop

[2020-03-24 23:41] lunascoop commented on #2052
@MickinSahni That should work. I'll send out the stakeholder comm tomorrow.

[2020-03-24 23:43] AnneHurley commented on #7074
Update links **from** the following pages to the current special benefits rates tables:
1. Automobile modification benefits overview: https://www.va.gov/disability/eligibility/special-claims/automobile-allowance-adaptive-equipment/  -- currently links to 2017 rates: https://www.benefits.va.gov/COMPENSATION/special_Benefit_Allowances_2017.asp
2. Clothing allowance: https://www.va.gov/disability/eli

[2020-03-24 23:59] AnneHurley commented on #7074
Updated:
3. Birth Defects Allowance
This page in Drupal with 2019 rates https://www.va.gov/disability/compensation-rates/birth-defect-rates/

Has been updated with rates from this page:
https://www.benefits.va.gov/compensation/sb2019.asp

https://prod.cms.va.gov/node/993/edit

@RLHecht Ready for your review. Will add this to the redirect list for @lunascoop

[2020-03-25 00:00] AnneHurley commented on #2052
@MickinSahni  - Yes good to go. thx

[2020-03-25 00:13] AnneHurley opened #7202 "Legacy redirects for disability rates pages"
### Description
*These disability rates tables pages were initially redirected on March 10th in ticket [#6087](https://github.com/department-of-veterans-affairs/va.gov-team/issues/6087), and were reverted due to outdated information in tickets #6833, and #6902 . The content has since been updated with the correct 2020 information and redirects need to be re-implemented.*

**_Update 04/30/20_**: Th

[2020-03-25 00:15] AnneHurley commented on #7202
@mnorthuis @lunascoop  Wasn't sure if I needed to create a whole new redirect ticket for these pages, which we did recently, then undid the redirects. Let me know if you see anything missing.

Note that I still need to tweak these pages' content to add latest historic rate chart link at the bottom, but otherwise pages are either live already or are ready to be, then redirects.

[2020-03-25 00:19] AnneHurley commented on #7202
https://www.benefits.va.gov/COMPENSATION/special_Benefit_Allowances_2019.asp

Needs to redirect to:

https://www.benefits.va.gov/COMPENSATION/special_Benefit_Allowances_2019.asp

[2020-03-25 00:22] AnneHurley commented on #6937
Howie to show Anne method of reverting, in Drupal, a page to its previous year's content. We can then generate an actual link to that historic chart. Will do this for all the 2019 rates historic charts.

[2020-03-25 00:26] peggygannon commented on #6748
Hello! @tressaellen @careyotto

here is another pass at the content, based on our meeting on Monday.
I've emphasized "third-party" more, as well as recommending a helper link "What's a third-party app?" to better distinguish this from VA Mobile Apps.

One thing I was considering on this first screen, is do you think there is value in include a link to VA Mobile apps or a line of content explaining

[2020-03-25 03:51] nedierecel commented on #6356
@joanneesteban Updates to Domo housekeeping:

1. Ownership - I have transferred the ownership for the Education dashboard to you.
2. Data Sets - For data sets that I own, I deleted ones that were not powering any cards or dataflows. These are marked by "Nothing in Domo uses this dataset"

- Data Flow: Education Modernized - Blended Goals - Conversion Rate
- GA Connector: Education Modernized - Con

[2020-03-25 05:22] #7037 closed

[2020-03-25 05:22] #7039 closed

[2020-03-25 05:22] #6587 closed

[2020-03-25 05:22] #6589 closed

[2020-03-25 05:22] #7018 closed

[2020-03-25 05:22] #7036 closed

[2020-03-25 05:22] #7006 closed

[2020-03-25 05:22] #7016 closed

[2020-03-25 05:22] #7009 closed

[2020-03-25 05:22] #7019 closed

[2020-03-25 05:22] #7021 closed

[2020-03-25 05:22] #6330 closed

[2020-03-25 05:22] #6332 closed

[2020-03-25 05:22] #6333 closed

[2020-03-25 05:23] #7038 closed

[2020-03-25 05:23] #7042 closed

[2020-03-25 05:23] #7040 closed

[2020-03-25 05:23] #6586 closed

[2020-03-25 05:23] #7041 closed

[2020-03-25 05:23] #7008 closed

[2020-03-25 05:23] #6585 closed

[2020-03-25 05:23] #7007 closed

[2020-03-25 05:23] #6442 closed

[2020-03-25 05:23] #6601 closed

[2020-03-25 05:23] #7035 closed

[2020-03-25 05:23] #6584 closed

[2020-03-25 05:23] #6440 closed

[2020-03-25 05:23] #6438 closed

[2020-03-25 05:23] #6441 closed

[2020-03-25 05:23] #6437 closed

[2020-03-25 05:23] #6532 closed

[2020-03-25 05:23] #6435 closed

[2020-03-25 05:23] #6531 closed

[2020-03-25 05:23] #6432 closed

[2020-03-25 05:23] #6529 closed

[2020-03-25 05:23] #6434 closed

[2020-03-25 05:23] #6527 closed

[2020-03-25 05:23] #6517 closed

[2020-03-25 05:23] #6514 closed

[2020-03-25 05:23] #6512 closed

[2020-03-25 05:23] #6487 closed

[2020-03-25 05:23] #6506 closed

[2020-03-25 05:23] #6509 closed

[2020-03-25 05:23] #6428 closed

[2020-03-25 05:23] #6427 closed

[2020-03-25 05:23] #6574 closed

[2020-03-25 05:23] #6425 closed

[2020-03-25 05:23] #6424 closed

[2020-03-25 05:23] #6417 closed

[2020-03-25 05:23] #6418 closed

[2020-03-25 05:23] #6415 closed

[2020-03-25 05:23] #6484 closed

[2020-03-25 05:23] #6414 closed

[2020-03-25 05:23] #6483 closed

[2020-03-25 05:23] #6573 closed

[2020-03-25 05:23] #6479 closed

[2020-03-25 05:23] #6481 closed

[2020-03-25 05:24] #6575 closed

[2020-03-25 05:24] #6475 closed

[2020-03-25 05:24] #6477 closed

[2020-03-25 05:24] #6474 closed

[2020-03-25 05:24] #6590 closed

[2020-03-25 05:24] #6588 closed

[2020-03-25 05:24] #6591 closed

[2020-03-25 05:28] #6436 closed

[2020-03-25 05:28] #6433 closed

[2020-03-25 05:39] SgardnerPMP opened #7203 "[Dataload] Create Clone-able copy of ALTOONA, PA "POLICIES" web page into "New" plain language Web Page [Data-tech)"
## User Story or Problem Statement
As a Veteran Web user, I need a need a plain language description of the medical center "Policies" web page, so I will know and abide by the medical center regulations on my health care journey.

## Goal
_Efficient and clear content describing local System Policies_

## Objectives or Key Results this is meant to further
- _Reduced word count and improved plain la

[2020-03-25 11:23] sonntag-adam commented on #7124
Merged. Closing story

[2020-03-25 11:23] #7124 closed

[2020-03-25 11:32] #6924 closed

[2020-03-25 12:03] #7143 closed

[2020-03-25 12:11] ricetj opened #7204 "Minor vision upgrade of Vets-api Postgres DB to 11.6"
## User Story or Problem Statement
We need to upgrade Vets-api's DBs to 11.6

## Goal
_Upgrade DBs from 11.5 to 11.6_

## Acceptance Criteria
- [x] _Dev is 11.6_
- [x] _Staging is 11.6_
- [x] _Prod is 11.6_

---
## How to configure this issue
- [x] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to an Epic** (what body of work is this a part of?)
- [x] **Labeled with Te

[2020-03-25 12:12] ricetj opened #7205 "Minor vision upgrade of GIDs Postgres DB to 11.6"
## User Story or Problem Statement
We need to upgrade GIDs's DBs to 11.6

## Goal
_Upgrade DBs from 11.5 to 11.6_

## Acceptance Criteria
- [x] _Dev is 11.6_
- [x] _Staging is 11.6_
- [x] _Prod is 11.6_

---
## How to configure this issue
- [x] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to an Epic** (what body of work is this a part of?)
- [x] **Labeled with Team**

[2020-03-25 13:11] sonntag-adam commented on #7114
Merged. Closing bug

[2020-03-25 13:12] #7114 closed

[2020-03-25 13:37] Kimberley2019 commented on #6957
Alexis James from SSO relayed:
I'm on the SSO team and also responding to your request for questions last week. Please see the attached product guide. The main question to ask would be: "Please describe the error screen you are encountering". The product guide includes the possible error states which you can than communicate back to the team troubleshooting the issue. Please let me know if you hav

[2020-03-25 13:44] #6253 closed

[2020-03-25 13:44] Kimberley2019 commented on #6957
Michelle Middaugh from Facilities Locator relayed:

I'm responding to your message for Contact Center questions regarding the Facility Locator.

- Did you find what you were looking for? If not, what were you looking for and where did you expect to find it? (Or how did you try to find it?)

- If the search was successful, did the page include the information you needed? (If not, what was missing o

[2020-03-25 13:48] #5817 closed

[2020-03-25 13:50] andaleliz commented on #7087
Based on current stakeholder list, I don't think a "one-size-fits-all" guide will work for all stakeholders but [this could be a starting point.](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/logged-in-homepage/2.0-redesign/discovery-and-research/conversation-guide-stakeholders.md)

[2020-03-25 13:53] #6200 closed

[2020-03-25 13:54] ricetj commented on #6951
Jeremy helped Jon from Insights team with Socks troubleshooting for over an hour

[2020-03-25 13:57] Kimberley2019 commented on #6200
Final changes were made on 3/25/2020.

Megan Kelley  21 minutes ago
hey Kimberley, you will only have the option to "approve" if you're a reviewer on the PR — so, there's no problem with your access here

Megan Kelley  21 minutes ago
we can just ask bill to merge in these changes when he's online if the changes look good to you

Bill Fienberg  12 minutes ago
The PRs been merged, and I have no obje

[2020-03-25 14:11] jholton commented on #6813
One way to do this (we did this on a team pre-VSP):
If a team "owns" a controller, in that controller:
[code]

Now any error that occurs anywhere in the stack for requests that come through that controller will be tagged in Sentry.  You can then filter in Sentry on the 'team' attribute.

[2020-03-25 14:13] jbalboni commented on #7017
@peggygannon Yes, that's my understanding. We can't guarantee no one will get into the app, even though they should get redirected in the scheduling page.

[2020-03-25 14:15] ncksllvn commented on #6756
Awesome, thank you! It looks like the width of the authenticated tool needs to be reduced a bit (it looks like full-page width right now) so I'm addressing that now.

[2020-03-25 14:17] #6447 closed

[2020-03-25 14:17] #6689 closed

[2020-03-25 14:18] Samara-Strauss commented on #2586
Overall, this is looking so much better. Great job! I have just a few final notes.

**Second task**

- **What was your overall impression of the mobile navigation?** “Mobile navigation” still feels a little inside-baseball to me. Assuming you’re trying to assess whether they thought the profile was easy or hard to navigate from the mobile view, maybe ask something like “Did you find it easy or har

[2020-03-25 14:23] jbalboni commented on #7017
We would also probably want to update this state:

![Screen Shot 2020-03-25 at 10.23.29 AM.png](https://images.zenhubusercontent.com/599c94608f62dc7798c3b2cd/64061a8c-71a8-4c96-9241-ba16dacbc28d)

[2020-03-25 14:24] sonntag-adam commented on #7111
![Screen Shot 2020-03-25 at 10.15.43 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/a1191b81-bd42-4b0c-94eb-4594f4533295)

[2020-03-25 14:29] bsmartin-ep commented on #7093
@narin - Is there an ETA for the staging system to be back online?

"Sorry, our system is temporarily down while we fix a few things. Please try again later."

Thanks.

[2020-03-25 14:35] sshein commented on #2586
Cool. I'm not seeing time estimates, but assuming you're going to add them after the practice session :)

[2020-03-25 14:37] joanneesteban commented on #7054
@Samara-Strauss - let us know if you need anything else!

[2020-03-25 14:39] joanneesteban commented on #6465
Waiting (on COVID) to talk to Rebecca about the proposed Salesforce fields.

[2020-03-25 14:39] Samara-Strauss commented on #7087
@andaleliz this looks great, and I think actually could work as a one-size-fits-all guide. We can go over everyone's roles ahead of time so you can determine if you'd like to add more specifically tailored questions beforehand, or if you would prefer to add those based on people's answers in the interviews.

Some thoughts on the existing questions:

- **What does a typical day look like for you?**

[2020-03-25 14:40] joanneesteban commented on #5001
Research plan on https://github.com/department-of-veterans-affairs/va.gov-team/issues/5977. Closing this ticket! Thanks all!

[2020-03-25 14:40] #5001 closed

[2020-03-25 14:45] lwalsh617 commented on #6799
@RLHecht - per feedback from Jen and Mikki, can we change one H2 on this page? The correct H2 is:
**Request a decision review or appeal**
It should replace "**Get information about the decision review process**" (just below the "Mark your calendar" alert box). Thank you!

[2020-03-25 14:45] joanneesteban commented on #2064
@bsmartin-ep and @jonwehausen to regroup on this on 3/25.

[2020-03-25 14:47] RLHecht commented on #7074
@AnneHurley The birth defects allowance page has been reviewed and is now published.

[2020-03-25 14:49] #6847 closed

[2020-03-25 14:50] clantosswett commented on #6012
@Samara-Strauss I know that the roll out of the address validation feature has begun. Do you think it is worth reaching out to these users to see if the new feature has fixed the issue. Or should we wait until the it is fully out for all users?

[2020-03-25 14:50] kelsonic commented on #3997
This ticket was completed and merged and deployed a few months ago @jenniferlee-dsva 🙂The list of page URLs above do not have the `Home` breadcrumb anymore -- not sure if I understood your question, though!

[2020-03-25 14:51] joanneesteban commented on #6632
Waiting on the "readouts" from Discovery Sprint. Will ping Kevin.

[2020-03-25 14:51] RLHecht commented on #6799
@lwalsh617 That H2 has been changed.

[2020-03-25 14:54] #6948 closed

[2020-03-25 14:55] camerontesterman opened #7207 "Create POST /supplies endpoint in DLC stand in API"
## User Story or Problem Statement
As a backend engineer, I need to supply a /supplies endpoint that can be POSTed to to mimmick functionality that will be present in the DLC API to accept new reorders of medical supplies.

See: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/medical-device-tool/api/dlc-proposal.md

## Goal
Supply submission endpoint for MDOT DLC

[2020-03-25 14:56] camerontesterman opened #7208 "[Backend] Create Debt Letters Backend Service Documentation"

[2020-03-25 14:57] joanneesteban commented on #5728
HI Sophie! Are you still looking for a KPI workshop with us?

[2020-03-25 14:59] lunascoop commented on #7074
@RLHecht @AnneHurley @MickinSahni I recommend that this ticket just capture a "Revise in drupal disability rates pages and the other ticket(s) (#7120 and #7202) capture the redirect efforts.

[2020-03-25 15:08] Samara-Strauss commented on #7054
Looks like everything has been fixed! I isolated the data from Tuesday to today, so a full 24+ hours since the fix launched on Monday. Thank you for this! Closing this ticket 😃

<img width="293" alt="Screen Shot 2020-03-25 at 11 07 09 AM" src="https://user-images.githubusercontent.com/34068740/77551519-d799a600-6e88-11ea-89de-bb2e96ad45f2.png">

[2020-03-25 15:08] #7054 closed

[2020-03-25 15:10] AnneHurley commented on #7074
@lunascoop  Sounds good

[2020-03-25 15:12] camerontesterman opened #7209 "VBMS Backend Research"

[2020-03-25 15:12] #6520 closed

[2020-03-25 15:18] billfienberg commented on #6643
I’m not sure how/why, but the Gatsby search seems to have fixed itself.

![gatsby-search-started-working.gif](https://images.zenhubusercontent.com/5dcadfa162b0b700019b1427/18f0b25c-a9a8-4c43-a203-1af34b4e6495)

[2020-03-25 15:21] luke-gcio opened #7210 "[Development] BDD: Discovery for Back End Engineering"
## User Story or Problem Statement

How might we gain insight into the APIs we will be integrating with and submitting the BDD claim to.

1. EVSS, MVI integration?
2. Can we begin thinking about the interfaces and the data being pulled from the initial design?
3. Do we have any details on the integration necessary with the DoD service (Luke will provide more details here after he reaches out to th

[2020-03-25 15:26] #2772 closed

[2020-03-25 15:28] micahchiang opened #7211 "Reusable address ui schema for the 686c-674"
## Story
As an engineer, I want to create a single, reusable address schema and uiSchema that I can use anywhere in the 686c-674.

## Considerations
The address uiSchema should be flexible enough to handle these cases:
 * Top level address property (schema.properties.address)
 * Nested address property (schema.properties.someProperty.properties.address)
 * Array items.
 * Addresses that depend on

[2020-03-25 15:32] narin commented on #7093
Hey @bsmartin-ep.  MVI has been down since yesterday and the VSP team has been working on getting that fixed.  I don't have an ETA unfortunately.  I can comment on this ticket as soon I find out it's back up.

[2020-03-25 15:33] mmiddaugh opened #7212 "Left Nav design updates"
## User Story or Problem Statement
As a veteran, I need the left menu elements assist me in navigating the website so I can find what I am looking for more easily.

## Goal
Use style to represent hover, active and open left nav element states to avoid confusing users

## Objectives or Key Results this is meant to further
OBJECTIVE 3: Deliver a usable and accessible experience

---
## Tasks
- [ ] D

[2020-03-25 15:35] jbalboni commented on #7011
@peggygannon I believe the plan is no, they won't have to sign in again.

[2020-03-25 15:39] jbritt1 commented on #6951
Spent time looking into an IOPS provisioning issue for Elijah / CMS. Think we found the solution to his error in: https://github.com/department-of-veterans-affairs/devops/pull/6572. I now believe the ratio he was attempting to use is not allowed in AWS as stated / clarified in https://dsva.slack.com/archives/CBU0KDSB1/p1585078501276600?thread_ts=1585078089.270700&cid=CBU0KDSB1.

[2020-03-25 15:39] mmiddaugh opened #7213 "Hover state Left Nav Upgrade"
## User Story or Problem Statement
As a veteran, I need the left nav to indicate which page I am on so I can more easily navigate to the content I am searching.

## Goal
Provide active state styling consistent with the rest of VA.gov

![image](https://user-images.githubusercontent.com/55411834/77554654-f80f3380-6e7b-11ea-944c-2243b1bd8abe.png)

## Objectives or Key Results this is meant to further

[2020-03-25 15:43] andaleliz commented on #7087
I was thinking it'd be a good warm up question to grease the wheels if needed, and honestly, I don't know many of the people so I'm interested to learn more about their day to day. But, definitely not a crucial question so we can nix it.

I meant with both - I'll update to add more clarity to that.

[2020-03-25 15:44] jason-gcio opened #7214 "Implement Lighthouse Service for BGS vnpBnftClaimCreate"
## Goal
One of the first BGS steps in submitting the 686 is the BGS `vnpBnftClaimCreate` service.
- Build an API that communicates with BGS and calls the `vnpBnftClaimCreate` service.
- Migrate this functionality from eBenefits to VA.gov so users will no longer have to login to eBenefits to update their dependents.

## Tasks
- [x] Build and configure a dependents service within `lighthouse-bgs` th

[2020-03-25 15:45] jason-gcio opened #7215 "Implement Lighthouse Service for BGS vnpBnftClaimUpdate"
## Goal
One of the first BGS steps in submitting the 686 is the BGS `vnpBnftClaimUpdate` service.
- Build an API that communicates with BGS and calls the `vnpBnftClaimUpdate` service.
- Migrate this functionality from eBenefits to VA.gov so users will no longer have to login to eBenefits to update their dependents.

## Tasks
- [x] Build and configure a dependents service within `lighthouse-bgs` th

[2020-03-25 15:47] jason-gcio opened #7216 "Implement API for BGS vnpBnftClaimCreate"
## Goal
One of the BGS steps in submitting the 686 is the BGS `vnpBnftClaimCreate` service.
- Build an API that communicates with BGS and calls the `vnpBnftClaimCreate` service.
- Migrate this functionality from eBenefits to VA.gov so users will no longer have to login to eBenefits to update their dependents.

## Tasks
- [x] Download appropriate WSDL file and test sending a request and receiving a

[2020-03-25 15:48] jason-gcio opened #7217 "Implement API for BGS vnpBnftClaimUpdate"
## Goal
One of the BGS steps in submitting the 686 is the BGS `vnpBnftClaimUpdate` service.
- Build an API that communicates with BGS and calls the `vnpBnftClaimUpdate` service.
- Migrate this functionality from eBenefits to VA.gov so users will no longer have to login to eBenefits to update their dependents.

## Tasks
- [x] Download appropriate WSDL file and test sending a request and receiving a

[2020-03-25 15:53] lwalsh617 commented on #6799
^ Thanks, Randi!
Here's the latest copy deck, just so we have it on the ticket.
[decision-reviews-hub-page_copy-v1.5.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/4381922/decision-reviews-hub-page_copy-v1.5.docx)

[2020-03-25 15:53] luke-gcio opened #7218 "[Discovery] Original Claims: Release Strategy Discovery and Planning"
## User Story or Problem Statement
How might we release Original Claims after we get through SQA testing and on staging with MVI.

## Goal
Come up with exactly how we will deploy this to production and manage the filtering of certain "new" original claims to this.

## Tasks
- Work together to determine  the filtering strategy (how do some veterans get sent to our new OC submissions versus get filt

[2020-03-25 15:55] lenaecb commented on #7011
@peggygannon - I am with Jeff, my understanding is that they shouldn't need to sign-in again. The SSOe team will have inbound SSOe completed prior to Cerner going live is my understanding.

[2020-03-25 15:58] #2033 closed

[2020-03-25 15:58] luke-gcio commented on #2033
This is OBE.  Part of new collab cycle among other things.

[2020-03-25 16:01] lenaecb commented on #7017
@peggygannon - for some time, Cerner-only users will still be able to get into VAOS to see upcoming appointments that were booked prior to their site going live with Cerner. This is just an interim state. They will also soon be able to see their past appointments prior to Cerner in VAOS as well. Not ideal, but best way for us to handle this interim time.

[2020-03-25 16:06] brandonrapp commented on #7028
We will wait for @chrisj-usds to give the final go ahead before merging!

[2020-03-25 16:07] #5895 closed

[2020-03-25 16:08] lwalsh617 commented on #6922
[ama-preview-pg-jl-comments-032420.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/4381995/ama-preview-pg-jl-comments-032420.docx)
Testing! I think Jen's doc did not upload previously because the file name had cap letters. Here it is without caps.

[2020-03-25 16:14] jason-gcio opened #7219 "Review Questions for Stakeholders (686)"
## Goal
Gain clarification from stakeholders on various issues

## Tasks
- Refine questions and let Steve know its ok to schedule

## Acceptance Criteria
- [x] Questions are ready for stakeholders

[2020-03-25 16:17] camerontesterman opened #7220 "Update DLC API Proposal to More RESTful Resources"

[2020-03-25 16:17] mmiddaugh commented on #7198
Closing as duplicate

[2020-03-25 16:17] #7198 closed

[2020-03-25 16:28] luke-gcio commented on #2804
Let's follow up with EVSS on this.  I looked for some follow-up convos with EVSS but was not able to see anything.

[2020-03-25 16:29] mmiddaugh commented on #7213
closing as duplicate

[2020-03-25 16:29] #7213 closed

[2020-03-25 16:30] luke-gcio commented on #2804
![image.png](https://images.zenhubusercontent.com/5d54025346ffca000148e7f7/39a354ab-992a-4baf-b22f-584cb7ec2be5)

[2020-03-25 16:38] Samara-Strauss commented on #2586
Here are my notes from the practice session. Sorry they're a little bit messy:

**General**

- We may have issues with sound if they are using computer mic/speakers (because of sound breaking up or they might not have them). We should be prepared to help them call in.
- Let’s book an hour for these calls just in case. People likely will not be as fast as Shawna, and we want time for ask follow-up

[2020-03-25 16:39] andreahewitt-odd opened #7221 "Lea Lester VSP Orientation"
## User Story
As a new VA.gov team member, I need to complete onboarding activities so I can successfully work on my project.

## Acceptance Criteria
- [ ] Each team member has completed each item in the orientation checklist below.

## Onboarding Checklist

- [ ] Attend general orientation meeting
- [ ] Review the [Code of Conduct](https://github.com/department-of-veterans-affairs/va.gov-team/blo

[2020-03-25 16:41] brangi commented on #3448
merged

[2020-03-25 16:41] erluti commented on #1409
`apivore` is a gem used for testing that is marked incompatible with Rails 6.0.2.
`active_model_serializers` is locked for our project at 0.10.4 because later versions remove nil id keys, and our specs expect those to return "null".  However, 0.10.4 doesn't support Rails versions greater than 6.0.0.

[2020-03-25 16:46] mshea0606 opened #7222 "Profile 2.0 epic grooming"
## Background
What comes next with profile 2.0?

## Tasks
- [x] update product outline
- [x] create needed placeholder tickets

[2020-03-25 16:51] tressaellen commented on #6739
![pc 1](https://user-images.githubusercontent.com/58752772/77563185-c8f5c380-6e75-11ea-8833-2cb1e9c088c4.png)
![pc 4](https://user-images.githubusercontent.com/58752772/77563196-cd21e100-6e75-11ea-838f-5abb45a0a4f7.png)
![pc 14](https://user-images.githubusercontent.com/58752772/77563200-cf843b00-6e75-11ea-9c19-3c56bd8cd660.png)

[2020-03-25 16:51] #6739 closed

[2020-03-25 16:52] SMLuthi opened #7223 "[Development] HLR: Add SSN to header for Decision Review Lighthouse requests"
# Purpose
The Lighthouse team has deemed it protocol that certain data needs to be included in the request headers instead of the request json body.

## What we need to do
Currently, we do not include the veterans social security number, now we want to include this in the header of the request(s) we send to the decision review lighthouse API. Lighthouse team should be asked to see exactly what thi

[2020-03-25 16:53] tressaellen commented on #6740
All states have been created. Here's a sampling.

![DD 1](https://user-images.githubusercontent.com/58752772/77563371-0c503200-6e76-11ea-8bdd-d74a166bb576.jpg)
![DD 2](https://user-images.githubusercontent.com/58752772/77563383-0f4b2280-6e76-11ea-86ae-c33fae692203.jpg)

[2020-03-25 16:53] #6740 closed

[2020-03-25 16:55] jason-gcio opened #7224 "End-to-End Tests for "Submit 686" (Part 2)"
## Goal
Once the 686 application is code complete, e2e tests need to be added to ensure the form behaves as expected. This means writing e2e tests for each distinct workflow, and any combinations of workflows. Combinations don't have to be exhaustive, but should be diverse enough to cover as many realistic scenarios as pragmatically possible.

## Considerations
- This issue may be a big ticket ite

[2020-03-25 16:55] tressaellen commented on #6741
All states have been created, here's a sampling.

![mobile pc 13](https://user-images.githubusercontent.com/58752772/77563652-651fca80-6e76-11ea-8a38-a59826f68dd4.jpg)
![mobile pc 2](https://user-images.githubusercontent.com/58752772/77563637-60f3ad00-6e76-11ea-96e9-93defcc71af6.jpg)
![mobile pc 5 copy](https://user-images.githubusercontent.com/58752772/77563648-63560700-6e76-11ea-9bd3-2a2e77b4396

[2020-03-25 16:55] #6741 closed

[2020-03-25 16:56] bsmartin-ep commented on #6354
@jonwehausen - Think the heading should be in the front of the group or the end?

Practice Area Click - {{Click Heading}} - {{Click Text}} - {{Click URL}}

[2020-03-25 16:57] tressaellen commented on #6742
![Mobile DD 2](https://user-images.githubusercontent.com/58752772/77563797-97c9c300-6e76-11ea-947b-d6cac6309251.jpg)
![Mobile DD 3](https://user-images.githubusercontent.com/58752772/77563807-9ac4b380-6e76-11ea-92b5-2a2f5c9a8f41.jpg)

[2020-03-25 16:57] #6742 closed

[2020-03-25 16:59] SarahJaine commented on #6813
Thanks for the suggestion! This is way better way to do this than the tedious path and url based sentry rules I was adding- by controller is what I wanted to do originally.

[2020-03-25 17:04] #6628 closed

[2020-03-25 17:08] MickinSahni commented on #6895
2020-03-25 PW Planning:

- Closing this out for Sprint 17.
- Creating a follow-up ticket [for sprint 18] related to different versions/permutations of flows e.g. from Disability, deep link, content page, Education, from search, a url from a postcard. Once this is wrapped up, we'll be able to move towards implementation.

[2020-03-25 17:08] #6895 closed

[2020-03-25 17:10] MickinSahni commented on #6798
2020-03-25 PW Standup
- Work for this ticket is complete and we have a follow-on ticket in #6922 for Sprint 18.
- We're able to close this out

[2020-03-25 17:10] #6798 closed

[2020-03-25 17:11] hughes-dustin commented on #7186
branch: bah-7186
PR: https://github.com/department-of-veterans-affairs/vets-website/pull/12004

[2020-03-25 17:12] jason-gcio opened #7225 "Communicate FE Data to BE, (vice versa) and How"
## Goal
We need to wire up both sides of the application from both a BE and a FE perspective

## Considerations
- BE should complete the endpoint calls first, to come up with a potential data structure
- Schemas will most likely merge somehow
- FE has one large flat object, may need some cleanup

## Tasks
- [ ] Have a discussion between FE and BE and how these two data interactions will work

## A

[2020-03-25 17:15] brandonrapp opened #7226 "FE Testing Standards - Deliver a comprehensive suite of testing tools\processes for VFS Teams"
# Overview
We want the most comprehensive testing possible with the least amount of configuration required.  We have some tools in place now, but we do not always agree on a definitions for our testing methodologies (eg. e2e Testing). We need to audit our existing solutions and do discovery on new solutions so we can decide on what tools\processes we are going to utilize for our standards.

# VSP

[2020-03-25 17:19] cvalarida opened #7227 "Discovery: Generate API Reference Documentation"
## User Story
As a front end engineer, I need to know the specifics of how to use the front end platform code so I can leverage it to build my applications.

## Goal
An automatically-generated API reference documentation site.

(To be clear, "API" doesn't mean `vets-api` in this case. It's the front end platform code. Specifically, the bits that VFS applications use, but internal documentation is

[2020-03-25 17:19] tressaellen commented on #6731
![Connected Accounts 2](https://user-images.githubusercontent.com/58752772/77565895-bda49700-6e79-11ea-943e-d0cbb0a7edcb.jpg)
![Connected Accounts 3](https://user-images.githubusercontent.com/58752772/77565909-c1381e00-6e79-11ea-8d0c-8a8dfe57e9d3.jpg)

[2020-03-25 17:21] andaleliz opened #7228 "How to apply wizards: create versions of user flows reflecting how users move from various entry points to the forms"
## User Story or Problem Statement
As a stakeholder, I need to see detailed user flows from each possible form entry point so I can understand technical and ux implications of moving the wizards to the existing form intro pages.

## Goal
- Uncover any nuances specific to a particular flows
- Finalize recommendation so we can begin engaging other teams

## Tasks
 - [ ] Visualize flow from content p

[2020-03-25 17:27] jenstrickland commented on #3448
The horizontal rule is still there, separating the parent from the child. Can that rule be removed to meet the criteria of this ticket?

[2020-03-25 17:27] erikphansen commented on #7179
closing this. I did the work but there isn't a real way to validate it on staging since our staging users are not patients in VISN8 so we can't prove that the banner no longer appears for them.

[2020-03-25 17:27] #7179 closed

[2020-03-25 17:29] mmiddaugh commented on #7212
![left nav mobile](https://user-images.githubusercontent.com/55411834/77566820-d0c06280-6e8b-11ea-989c-be469f55a882.png)

![Left Nav overall state](https://user-images.githubusercontent.com/55411834/77566829-d3bb5300-6e8b-11ea-8976-af7a6616901c.png)

![left nav states](https://user-images.githubusercontent.com/55411834/77566839-db7af780-6e8b-11ea-8814-8d81431bde11.png)

[2020-03-25 17:33] jbritt1 commented on #6951
Started work on improving documentation for windows / non-technical associates with initial SSH keypair configuration.

[2020-03-25 17:34] jonwehausen commented on #5673
## Round 2 QA - with GTM Preview Mode now accessible

### Items to Correct - @ethanteague

#### Page Load Event
1) We are noticing a handful of ```pagePath``` variables that are ```null``` on the ```pageLoad``` event -- we can easily set a condition within GTM to use the Page Path inherent within the URL when the pagePath is not called out within the DL, however calling out for visibility.
2) We a

[2020-03-25 17:35] jason-gcio opened #7229 "Conduct a Walkthrough of Educational and Career Counseling (CH36)"
## Goal
We need a baseline to start creating initial product and design artifacts

## Tasks
- [x] Schedule a time (3/25 11:15 PT, 2:15 ET) to walk through the CH36 workflow
- [x] Create a markdown document with initial impressions, design hypotheses, and simple field research/ competitive analysis [here](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/eben

[2020-03-25 17:36] jason-gcio opened #7230 "Create High Level Thumbnail View for Educational and Career Counseling (CH36)"
## Goal
A journey map is a handy thing to have for understanding how a feature works.

## Tasks
- [x] Based on the walkthrough, create a high level thumbnail view of the workflow and Veteran user experience

## Acceptance Criteria
- [ ] A high level view of the feature is saved in the feature folder

[2020-03-25 17:37] patrickvinograd commented on #6059
We are deferring this in favor of the alternate approach in #7110 that doesn't require changing out account IDs in all models. This change is still a good one to do _at some point_, but doesn't need to be coupled with SSO launch.

Closed PR https://github.com/department-of-veterans-affairs/vets-api/pull/3989
work is still present in branch `pv-inprogforms_by_account_id`

Will close this ticket but

[2020-03-25 17:37] #6059 closed

[2020-03-25 17:37] micahchiang commented on #7211
PR merged - https://github.com/department-of-veterans-affairs/vets-website/pull/11994

[2020-03-25 17:37] #7211 closed

[2020-03-25 17:38] jason-gcio opened #7231 "Create Initial Mockup for Educational and Career Counseling (CH36)"
## Goal
Starting a mockup based on findings so far for the CH36 feature

## Tasks
- [x] Based on research findings and existing product documentation, create an initial mockup
- [ ] Prepare for an initial design intent review with the Design Practice to review for existing patterns and strategies

## Acceptance Criteria
- [ ] An initial mockup has been shared with the team

[2020-03-25 17:38] MickinSahni commented on #7097
Hi @jenstrickland, we're anticipating working on this in this coming sprint.

Did you have any feedback on Ryan's designs?

I saw [he tagged you](https://github.com/department-of-veterans-affairs/va.gov-team/issues/6273#issuecomment-601890900) a few days ago but wasn't sure if there wasn't anything there that will require a major deviation on our part.

[2020-03-25 17:40] mmiddaugh commented on #3448
@jenstrickland the purpose of this particular ticket was the elimination of the duplicate label only. Styling will be addressed in a subsequent issue.

[2020-03-25 17:41] patrickvinograd commented on #6056
Deferring this work in favor of #7110. Will close this issue but leave linked in the epic for later implementation.

The main touchpoint was the form526_submission having a user_uuid, since all the processing was asynchronous. That would presumably want to switch over to an account_id, but without affecting processing of in-flight submissions.

Another complexity for future implementers: the form

[2020-03-25 17:41] #6056 closed

[2020-03-25 17:41] peggygannon commented on #7011
@lenaecb @jbalboni OK, thanks for confirming!  I wanted to make sure the message I wrote above ^^is accurate.

[2020-03-25 17:41] jenstrickland commented on #7097
Hi @MickinSahni, feedback was provided in the collaboration cycle checkpoint, https://github.com/department-of-veterans-affairs/va.gov-team/issues/6710, although Ryan added his designs to the ticket mentioned in your comment.

[2020-03-25 17:42] patrickvinograd commented on #5290
Note please keep this epic open in the Icebox category - it's still valuable work to be done at some point and there's a fair amount of research/in-progress work captured in the linked issues.

[2020-03-25 17:43] steve-gov opened #7232 "Migrate "Apply for Education and Career Counseling (CH36)" from eBenefits to va.gov"
# _Apply for Education and Career Counseling (CH36)_

eBenefits URL: https://www.ebenefits.va.gov/ebenefits/vre

## Story

As a Veteran I want to apply for CH36 benefits so that I can receive educational and vocational counseling and planning from the VA.

## Considerations

- Form 8832

## Definition of Done

- [ ] The user must be able to submit a valid 8832

[2020-03-25 17:43] peggygannon commented on #5583
OK, thank you. I will take a look tomorrow and validate that all looks good.

Thank you @RLHecht and @billfienberg for your help!

[2020-03-25 17:43] jenstrickland commented on #3448
This issue ticket included both items, so I wouldn't close this, yet.

[2020-03-25 17:44] MickinSahni commented on #2052
2020-03-25 PW Planning
- Sending out stakeholder comms and scheduling for April 6

[2020-03-25 17:48] #6756 closed

[2020-03-25 17:49] MickinSahni commented on #6756
2020-03-25 PW Planning
- Validated and closing out

[2020-03-25 17:49] #5373 closed

[2020-03-25 17:51] MickinSahni commented on #6799
2020-03-25 PW Planning
- built in Drupal
- confirming that the copy deck and Drupal are consistent
- note: this is separate from a new Launch ticket we'd need to launch this new page as well as the other Decision Review pages we migrated to Drupal

[2020-03-25 17:53] careyotto commented on #6748
@peggygannon Thanks for taking another pass at this. My feedback below:

Let's leave off for 1st party apps for now - I don't want to confuse users (first party don't display as a connected app) and I'm not in touch with that dpt. and don't know if they want to be linked to from here or not. For cover, we have a question about the differences between MyHealtheVet, VA Mobile App, and Connected thir

[2020-03-25 17:53] MickinSahni commented on #6928
2020-03-25 PW Planning
- Waiting for page to go-live before we implement the redirect cc @kennedycollins

[2020-03-25 17:56] andaleliz commented on #7086
[Created a research plan](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/logged-in-homepage/2.0-redesign/discovery-and-research/research-plan.md) based on the [research needs document ](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/logged-in-homepage/2.0-redesign/discovery-and

[2020-03-25 17:57] #6222 closed

[2020-03-25 17:59] jonwehausen commented on #6354
@bsmartin-ep Great question! Let's roll with the front. That way our syntax is consistent in terms of Most General > Most Specific.

[2020-03-25 18:02] MickinSahni commented on #7097
Hi Jen, we wanted to confirm that you've had a chance to review the new designs we're implementing as part of this ticket based on [Ryan's message](https://github.com/department-of-veterans-affairs/va.gov-team/issues/6273#issuecomment-601890900).

[2020-03-25 18:03] andaleliz commented on #7083
[Created a research plan](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/logged-in-homepage/2.0-redesign/discovery-and-research/research-plan.md) based on the [research needs document ](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/logged-in-homepage/2.0-redesign/discovery-and

[2020-03-25 18:06] bsmartin-ep commented on #6354
@jonwehausen - OK cool.  I added the Custom JavaScript to pull the heading and updated the RegEx.

Think the heading and regular link clicks should be split up into different events?

[2020-03-25 18:16] Samara-Strauss commented on #7087
I think we can take this question out. I think you'll get the important info you need through the first question — "Tell me about your role and what you do in your work on va.gov." — and I can also give you an overview of who everyone is beforehand so that you know what to listen out for/can add any person-specific questions you feel are necessary.

Noted! Just looked at the modification to this q

[2020-03-25 18:19] KevinMHoffmanUSDS commented on #7028
Look at those videos! Just look at them. They are awesome.

[2020-03-25 18:32] Samara-Strauss commented on #7083
Hey! This is looking great. Let's take a few minutes to discuss during our review/sprint planning today.

A few thoughts:

- AWESOME mapping of goals to research methods. And this list of goals looks good/comprehensive to me.
- "How might their experience be improved with an improved logged in experience and notification system?" Idk if this is already clear or not, but when we're talking about a

[2020-03-25 18:33] MickinSahni commented on #7182
@jenniferlee-dsva adding to your radar

[2020-03-25 18:36] RLHecht commented on #6799
@lwalsh617 This page now reflects the newest copy deck and is ready minus the promo.

[2020-03-25 18:38] lunascoop commented on #2052
Stakeholder comm sent. @ncksllvn @kelsonic scheduled for **April 6th**.  Updated URL list in the initial comment to exclude the URL below, which was stricken through.

www.benefits.va.gov/gibill/yellow_ribbon.asp | /education/about-gi-bill-benefits/post-9-11/yellow-ribbon-program/
-- | --

[2020-03-25 18:45] Kimberley2019 commented on #6957
Luke Majewski from benefits-memorial relayed today:

- Get as much information about the error.  If possible, screenshot.  If possible, screenshot with computer time/clock or information about exactly when they submitted the claim.

- Name/SSN of veteran sent to Andrea (not written in ticket, obviously) so we can get the UUID.

- What type of document(s) were uploaded.   File types/extensions.  Di

[2020-03-25 18:49] dmccurdybah commented on #6805
Can be tested with the following branches:

vets-website: `gi-caution-flags`

gibct-data-service: `gi-caution-flags`

[2020-03-25 18:51] Samara-Strauss commented on #6731
Is the design done? If so, we can probably close this since I know copy is being worked on in another ticket.

[2020-03-25 18:52] #6731 closed

[2020-03-25 18:55] Samara-Strauss commented on #6012
Let's wait until we've launched to 100%, which should be by Monday. I can let you know when we've done that.

[2020-03-25 19:05] jonwehausen commented on #6354
@bsmartin-ep I'm with you -- Let's break this one out for heading clicks.

[2020-03-25 19:06] LindseySaari commented on #7061
[Sentry 10 Infra Approach Slack Thread](https://dsva.slack.com/archives/CJYRZK2HH/p1585063979460800)

[2020-03-25 19:08] jbalboni commented on #7014
Final decision was this:

![Screen Shot 2020-03-24 at 4.40.54 PM.png](https://images.zenhubusercontent.com/599c94608f62dc7798c3b2cd/b33040a6-3f52-49dd-a87a-85c07b21f09f)

[2020-03-25 19:12] patrickvinograd commented on #6336
Ticket #7127 overlaps with this one - thinking about how to reconcile the MHV vs. SSO cookie detection when we are authenticating a user.

It might be tricky since we can detect presence of the SSO cookie on the _frontend_ but can detect and deal with the MHV shared cookie on the _backend_.

[2020-03-25 19:17] jenstrickland commented on #7097
Yes, I reviewed all of Ryan's new designs in #6710.

[2020-03-25 19:23] amyknox commented on #6876
Slack Q&A w VFS analytics

Per Jon

Work with Darrell, as Product Mgr, to submit analytics request
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/working-with-vsp/vsp-collaboration-cycle/vsp-collaboration-cycle.md#analytics-request

[2020-03-25 19:24] Samara-Strauss commented on #7086
@sshein

[2020-03-25 19:24] MickinSahni commented on #6900
Moving to sprint 18

[2020-03-25 19:24] Samara-Strauss commented on #7083
@sshein

[2020-03-25 19:24] Samara-Strauss commented on #7087
@sshein

[2020-03-25 19:24] MickinSahni commented on #6918
Moving to sprint 18

[2020-03-25 19:24] Samara-Strauss commented on #7088
@sshein

[2020-03-25 19:24] Samara-Strauss commented on #7089
@sshein

[2020-03-25 19:33] andaleliz commented on #7083
Updated the doc! Thanks for the feedback @Samara-Strauss.  @sshein, let me know if you have any feedback too.

[2020-03-25 19:34] ericbuckley commented on #6914
@hinzed1127 based on the work done so far by the VSP team, we should use the `FLIPPER_ID` cookie value as the query parameter to `/v0/feature_toggles`.  Take a look at this PR for more information https://github.com/department-of-veterans-affairs/vets-website/pull/11890

[2020-03-25 19:45] marriej commented on #6538
Product guide sent to Chante (via Slack), no further action required.

[2020-03-25 19:45] #6538 closed

[2020-03-25 19:49] luke-gcio commented on #1204
Not even sure what this is, closing.

[2020-03-25 19:49] #1204 closed

[2020-03-25 19:50] luke-gcio commented on #5694
Has not come up again, closing.

[2020-03-25 19:50] #5694 closed

[2020-03-25 19:52] #4346 closed

[2020-03-25 20:09] Samara-Strauss commented on #7083
Looking good to me! One last request — Can you please link the Mural board from the research plan? That'll make it easier to find for documentation purposes once we close out this ticket.

[2020-03-25 20:10] jbritt1 commented on #6951
Commented, reviewed, added labels to several PR's. Requested update on work / status on some older PRs that are multiple months old.

[2020-03-25 20:11] #5905 closed

[2020-03-25 20:24] brandonrapp commented on #7226
Here is the document we can use for tomorrow's scope and planning discussion. https://docs.google.com/document/d/1Isn6lb7U45n3l0TxPHyG5zIqhNRIcsqG5ZvmyG1IL3I/edit?usp=sharing

[2020-03-25 20:24] dbru commented on #7226
### Link to discovery interview notes
[https://drive.google.com/drive/u/0/folders/1cu4Mx6jJrNLMh7Fwe2ykVtRjZD7UBbhG]

[2020-03-25 20:25] joanneesteban commented on #459
Work for ForeSee has been changed. Ice-boxing and have open tickets/will open tickets about retrieving ForeSee data as necessary.

[2020-03-25 20:25] #459 closed

[2020-03-25 20:25] rebeccawalsh opened #7234 "Drupal content review from BaM2 (Medical Device Tool)"
## Why you're here
- Content support for static public website pages

## Instructions
* Submit this request when VSA Public Website team intervention is required
* Provide detailed information of your request to help us understand our role in completing your request

__When to submit a request__

Requests should be submitted at least **2 weeks** in advance of the targeted launch/completion.  Make

[2020-03-25 20:31] joanneesteban commented on #119
@bsmartin-ep

Assigning you to this for now, but we'll discuss later as this is staying in the backlog for now. No need to start work on this just yet.

[2020-03-25 20:34] joanneesteban commented on #461
Needs around Product Success Tool have changed. Will eventually switch to BigQuery. Closing this issue.

[2020-03-25 20:34] #461 closed

[2020-03-25 20:35] joanneesteban commented on #1030
@rroueche - this doesn't look like a Platform KR anymore. Okay to close this ticket?

[2020-03-25 20:48] brandonrapp commented on #784
@theodur - Just confirming that this is your next step? Run with Cypress for now and spin up a smaller example of it and draft a PR.

[2020-03-25 20:51] RLHecht commented on #6933
@lunascoop Just checked and we can't access the footer from Drupal. Is this something @ncksllvn or @kelsonic can work on?

[2020-03-25 20:53] ncksllvn commented on #6933
@RLHecht Yeah sorry for the confusion, but the footer links are in the front-end code. Kelson or I will have to do it.

[2020-03-25 20:53] joanneesteban commented on #6970
## Info for Insights

- Goal Date for GA Dashboard: 3/31/20

@lenaecb Thanks for meeting with us earlier! Would you be able to prioritize top performance stories for VAOS?

We would suggest leaving the funnel conversion out because it is better visualized in the funnel report on GA/please continue to leverage the funnel conversion report that Narin has been using.

[2020-03-25 20:54] #6643 closed

[2020-03-25 20:55] indytechcook opened #7235 "Access for Neil Hastings"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Add a comment @department-of-veterans-affairs/vsp-operations to ping the operations team
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please

[2020-03-25 20:56] indytechcook commented on #7235
@department-of-veterans-affairs/vsp-operations

[2020-03-25 20:57] joanneesteban commented on #6398
@mmiddaugh

The ForeSee data in the dashboard is current to 3/20/20. Do you need an additional report? Thanks!

[2020-03-25 20:57] mmiddaugh opened #7236 "Repeated dash in hours of operation"
## What happened?
When we made the changes for invalid hours [#4000](https://github.com/department-of-veterans-affairs/va.gov-team/issues/4000), we may have inadvertently introduced a bug.
Hours of operation now display as 24/7 - 24/7 or Sunrise - Sunset- Sunset

![image (19).png](https://images.zenhubusercontent.com/5d8a47393ac3440001d1a2ed/85ead4af-aa11-4e97-a2db-4a38876d8be2)
![image (20).png](

[2020-03-25 21:00] joanneesteban commented on #6510
Will be working on this Sprint 23 or 24. Moving the Backlog.

[2020-03-25 21:04] kelsonic commented on #6933
@ncksllvn I'm happy to do this! 🙂

[2020-03-25 21:05] lunascoop commented on #6933
@ncksllvn Good to know. I assumed that this was something @RLHecht could do. @kelsonic perhaps we should do this when the page is live? (which it is not currently).

[2020-03-25 21:05] saneshark commented on #6795
Per conversation on slack @davem-va said:

Trying to determine if there is a vet-360 ticket already tracking this and can just link to that and follow-up when that work is complete. My understanding is that this effort might be on hold due to covid-19 changes -- moving this ticket to backlog for now.

[2020-03-25 21:08] kelsonic commented on #6933
@lunascoop Definitely! I'll get a PR sent up for it now so all we have to do is merge it 👍

[2020-03-25 21:08] karlbrown-va commented on #6933
Hi, yeah you may want to leave this in a branch until the new URL is live. We are awaiting another PR for this which is here: https://github.com/department-of-veterans-affairs/devops/pull/6558

We also need to actually push the dashboard/scorecard to production, which should happen within a day or two. Will ping you here when we're ready for the new footers.

[2020-03-25 21:09] joanneesteban commented on #6356
Thank you, @nedierecel . Noting this for https://github.com/department-of-veterans-affairs/va.gov-team/issues/7161.

Moving to the backlog to groom when we can clean up the rest of the datasets.

[2020-03-25 21:12] kelsonic commented on #6933
[PR is up](https://github.com/department-of-veterans-affairs/vets-website/pull/12012)! We won't merge it until we get the green light from both of you @lunascoop @karlbrown-va 🙂

[2020-03-25 21:20] theodur commented on #784
@brandonrapp That's correct, I will be going off the [current app e2e tester](https://github.com/department-of-veterans-affairs/vets-website/pull/9390) and creating a similar example with Cypress for now.

[2020-03-25 21:24] ncksllvn commented on #6928
Off-topic, but @karlbrown-va does this mean we can remove all of these Scorecard/Playbook assets and references?

https://github.com/department-of-veterans-affairs/vagov-content/tree/master/pages/playbook
https://github.com/department-of-veterans-affairs/vets-website/search?q=playbook&unscoped_q=playbook

[2020-03-25 21:36] karlbrown-va commented on #6928
Is that the stuff that ends up here:
https://www.va.gov/playbook/

If so, I'd say we haven't discussed that directly per my recollection, but it seems it might be worth considering, not just b/c of the scorecard refresh but more generally from a content refresh perspective.

@kennedycollins or @rumyeahs do you recall any discussions about the playbook and its relation to scorecard?

[2020-03-25 21:37] ncksllvn commented on #6928
Oh yeah, whoops, Scorecard is not the same thing as Playbook 🤦‍♂ Sorry, dumb question!

[2020-03-25 21:38] mmiddaugh commented on #7149
Feedback for the following have been incorporated into [#7212](https://github.com/department-of-veterans-affairs/va.gov-team/issues/7212)

   - Focus to go to the top of the page
   - Focus state to be consistent with styling across VA.gov.
   - Indicator of current page
   - Accordion ARIA markup for the mobile "On this section" button.
   - Text for selected objects will be darker text, adding t

[2020-03-25 21:40] karlbrown-va commented on #6928
I mean,  it's a good point. It talks about "The new vets.gov intends to deliver both."

That whole page is somewhat dated, and could be refreshed to reflect reality of today - e.g. there is no vets.gov, a bunch of cool things have been done on VA.gov, and more is to come.

[2020-03-25 21:42] mmiddaugh commented on #7196
Feedback for the following have been incorporated into Ryan's designs as above and in [#7212](https://github.com/department-of-veterans-affairs/va.gov-team/issues/7212):

- Focus state to be consistent with styling across VA.gov for both hover and "on" states
- When a left nav menu item is selected, the text color will change from default blue to $color-primary-darker with a border box and vertica

[2020-03-25 21:43] Samara-Strauss commented on #5733
@bridgethapner how does this look? I implemented the copy and changed the second CTA to the secondary style.

Also, with all the COVID stuff going on, is the timeline the same for the Cerner launch? If this needs to be ready by April 10, we'll want to get this built ASAP.

![Dashboard-Columbus notification](https://user-images.githubusercontent.com/34068740/77588392-21ea4980-6ec0-11ea-910a-e8a5c77

[2020-03-25 21:43] mmiddaugh commented on #7212
Description above incorporates [design](https://github.com/department-of-veterans-affairs/va.gov-team/issues/7196) and [accessibility](https://github.com/department-of-veterans-affairs/va.gov-team/issues/7149) feedback per the pre-usability review

[2020-03-25 21:43] peggygannon commented on #4946
@jbalboni Please let me know if this message is more accurate?

**You’ve reached the limit for appointment requests at this location**
Our records show that you have an open appointment request at this location. We can’t schedule any more appointments at this facility until your open requests are scheduled or canceled.
To schedule or cancel your open appointments:

• Go to [your appointment list](

[2020-03-25 21:45] mmiddaugh commented on #7212
Note: per @rtwell we will address the width of the left nav after the style changes are made.

[2020-03-25 21:46] karlbrown-va commented on #6933
Note: adding this for reference:
https://github.com/department-of-veterans-affairs/vets.gov-team/issues/3419

I note that the scorecard is currently blocked by crawlers. We should decide if this same thing is desired for the performance-dashboard.
https://github.com/department-of-veterans-affairs/vets-website/blob/1b2f8ba5234cbff40d840cfc5df947ccd0c74521/src/site/assets/robots.txt#L96

[2020-03-25 21:47] mmiddaugh commented on #2556
Per conversation with @rtwell , we will come back to wdith after the other style updated have been addressed in Left Nav design updates[#7212](https://github.com/department-of-veterans-affairs/va.gov-team/issues/7212)

[2020-03-25 21:51] mmiddaugh commented on #3413
This issue should be resolved as part of the design changes in [#7212](https://github.com/department-of-veterans-affairs/va.gov-team/issues/7212). Will confirm once changes are available in staging.  Moving this to the Icebox until then.

[2020-03-25 21:53] mmiddaugh commented on #3445
@jenstrickland is this issue now resolved by the absence of the carats in the new design?

[2020-03-25 21:54] mmiddaugh commented on #3552
This issue should be resolved as part of the design changes in [#7212](https://github.com/department-of-veterans-affairs/va.gov-team/issues/7212). Will confirm once changes are available in staging.  Moving this to the Icebox until then.

[2020-03-25 21:58] mmiddaugh commented on #3557
This issue should be resolved as part of the design changes in [#7212](https://github.com/department-of-veterans-affairs/va.gov-team/issues/7212). Will confirm once changes are available in staging.  Moving this to the Icebox until then.

[2020-03-25 21:59] mmiddaugh commented on #3441
This issue should be resolved as part of the design changes in [#7212](https://github.com/department-of-veterans-affairs/va.gov-team/issues/7212). Will confirm once changes are available in staging.  Moving this to the Icebox until then.

[2020-03-25 22:01] mmiddaugh commented on #3448
I have added _- [ ] Horizontal rules do not separate parent from child items._ as acceptance criteria to [#7212]

[2020-03-25 22:05] Mottie commented on #4877
Created this PR: https://github.com/department-of-veterans-affairs/vets-website/pull/12013

[2020-03-25 22:07] mmiddaugh commented on #4215
This issue should be resolved as part of the design changes in [#7212](https://github.com/department-of-veterans-affairs/va.gov-team/issues/7212). Will confirm once changes are available in staging.  Moving this to the Icebox until then.

[2020-03-25 22:12] mmiddaugh commented on #7059
Turns out we have already been handling this appropriately.
See https://github.com/department-of-veterans-affairs/vets api/blob/master/lib/facilities/ppms/client.rb#L174

May need to be handled by PPMS or may be resolved by moving to sending lat/long parameters as part of

[2020-03-25 22:13] #7059 closed

[2020-03-25 22:17] #6090 closed

[2020-03-25 22:39] 1Copenut commented on #6979
@Clark-W-Griswold Adding you for visibility, and because I saw the PR was approved. 🎉

I *also* noticed a comment change in one of the helpers, but I'll tackle that as a small, standalone PR. This one has gone on long enough, let's ship this thing.

[2020-03-25 22:53] jason-gcio commented on #7229
Here are some notes from the walkthrough this afternoon.  Please feel free to add anything!
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/ebenefits/features/apply-CH36-VRE-counseling/discovery/README.md

[2020-03-25 22:53] #7229 closed

[2020-03-25 23:03] patrickvinograd commented on #7137
Flow should be as follows:

1. Frontend invokes api.va.gov/v1/sessions/slo/new (keeps parity with v0,  even though the "slo" is somewhat of a misnomer)
2. Backend terminates user session and triggers eauth.va.gov/pkmslogout?filename=foo ("foo" is TBD, not clear if we ever got this configured or not)
3. Eauth pkmslogout terminates IAM session then based on that query param, redirects to api.va.gov/

[2020-03-25 23:25] tlei123 commented on #6900
Hi, @MickinSahni!  While I'm builidng test-cases for caregiver and medical scenarios, I'd like some clarifications please re. the 3rd and 4th scenarios:

1. Complete top tasks available as online tools:
  - There's nothing saying "Top tasks" in the design screenshots in #6710 -- are we waiting on a design for this? Note: There is one search-result that shows an "Go to online tool" button, is that

[2020-03-25 23:34] patrickvinograd opened #7237 "Conditionalize MHV base URL to be eauth-enabled URL when SSOe cookie is present"
Various parts of vets-website link out to MHV. For MHV to accept an SSOe session, we need to link to the "standard junction" URL instead of the regular www.myhealth.va.gov URL. (The standard junction is actually an SSOe proxy URL that passes traffic on to MHV).

The base standard junction URL for that is something like https://eauth.va.gov/mhv-portal-web/eauth (or "sqa.eauth or int.eauth for lower

[2020-03-25 23:43] tlei123 commented on #6900
Hi, @rtwell!  Do you have a newer design that has the new "Top tasks" cards on the [Search MVP Beta](https://dev.va.gov/find-va-forms-beta/) page?

I checked your [PDFs](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/find-va-forms-redesign/design) and they still don't have those top task cards.

Thanks much!

[2020-03-26 00:08] nedierecel commented on #5833
Hello @lenaecb - I'm going to close this since we are addressing the reporting requirements in #6961.

CC: @joanneesteban

[2020-03-26 00:08] #5833 closed

[2020-03-26 00:47] bsmartin-ep commented on #6354
@jonwehausen - Updated.  These actions look OK to you?

Practice Area - Heading Click - Research - https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/platform/research

Practice Area - Link Click - Research - Research plan template - https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/research/research-plan-template.md

[2020-03-26 01:11] MickinSahni commented on #6379
Hi Trevor, should this pass to you as it's a global issue? @1Copenut

[2020-03-26 01:13] MickinSahni commented on #6375
Thanks, Jennifer. Given what we've discussed, I think it makes sense to pass this to Trevor (@1Copenut) for triage. Trevor, can you confirm?

[2020-03-26 01:20] MickinSahni commented on #5648
Thanks, Mikki.
@lwalsh617 @ncksllvn  — how do you feel about where we are with this inventory and whether we're able to begin making these CTAs consistent? Granted we prob didn't find them all.

[2020-03-26 01:25] MickinSahni commented on #5541
@lwalsh617 @RLHecht i reformatted the acceptance criteria above and saw that "Remove banner from Drupal file and appeal page" might still be pending. can you confirm?

[2020-03-26 01:26] MickinSahni commented on #6421
Hey Tze, Peter — following up to the [thread here](https://dsva.slack.com/archives/CQV81GBBM/p1585160871002000) re: the AMA effort and the Collab Cycle.

I'm flagging this epic for your QA expertise along with these tickets:
- https://github.com/department-of-veterans-affairs/va.gov-team/issues/5541
- https://github.com/department-of-veterans-affairs/va.gov-team/issues/6799
- https://github.com/de

[2020-03-26 02:06] MickinSahni commented on #6691
@kelsonic @AnneHurley @andaleliz
hey team, can you confirm the status of the checklist items above within your respective areas of expertise?
I just checked off the box for url per Mikki's guidance.

[2020-03-26 03:11] sshein commented on #7083
looks good. One thought. a lot of the plan is focused on what people are currently doing on VA.gov.  One of the instigators of this project was that we're moving a bunch of stuff over from eBenefits that may well fit on a logged in dashboard - so veterans are not currently "doing these tasks" on VA.gov. Can we add some questions like "what is currently being migrated from other places onto VA.gov

[2020-03-26 03:15] sshein commented on #7087
looks good. Can we add "What are you worried about? What do you imagine going wrong with this project?" Also we could add some specific questions for designers versus broader stakeholders (Ryan and Mel) e.g. "can you show me some of your designs and talk about why you made some of these decisions?)"

[2020-03-26 03:17] sshein commented on #7087
oh no I somehow closed this ticket with a keyboard shortcut??? can't figure out how to re-open it @Samara-Strauss

[2020-03-26 04:59] patrickvinograd commented on #7137
https://github.com/department-of-veterans-affairs/vets-api/pull/4059

[2020-03-26 13:14] sonntag-adam commented on #7186
![Screen Shot 2020-03-26 at 9.09.53 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/16222d79-89d8-4f87-9adb-115296737b7e)

[2020-03-26 13:24] kelsonic commented on #6691
@MickinSahni `Dev` is now updated! 🙂

[2020-03-26 13:24] rileyorr opened #7238 "[Design] QA Designs in Staging"
## User Story or Problem Statement
Problem description. How might we ensure that the UI is consistent across both the Invision prototypes and staging?

## Goal
_The UI in staging matches the Invision prototypes_

## Objectives or Key Results this is meant to further
- _Finalize the MDT in staging for usability testing_
---
## Tasks
- [ ] _The design team will review and compare the most up-to-date

[2020-03-26 13:26] sonntag-adam commented on #7186
Production build
![Screen Shot 2020-03-26 at 9.25.27 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/4cbe766c-427b-4362-bfc4-e4b87de77916)

[2020-03-26 13:46] sonntag-adam commented on #7111
In staging. Testing passes QA

[2020-03-26 13:46] #7111 closed

[2020-03-26 13:46] andaleliz commented on #6691
@MickinSahni and @jenniferlee-dsva - I'm thinking of our `kick the tires` session w/ stakeholders as a form of UAT, and that we need to wait until we have prod data.  Also, I would like to put together a plan/checklist for those sessions.

Is that how you're thinking of it too? If we're on the same page, I'll open an issue for creating that plan and work on it this sprint.

[2020-03-26 13:51] rtwell commented on #6900
ah, I found the disconnect—my newer comps didn't include the bottom half. Apologies! I have updated the Sketch / desktop comps (I assume it's straightforward regarding the mobile but happy to add if helpful). PNG here for easy visual:

![image](https://user-images.githubusercontent.com/12564977/77654355-5ce39000-6f47-11ea-85af-dcd22062cac0.png)

[2020-03-26 13:57] #6610 closed

[2020-03-26 14:06] Samara-Strauss commented on #7083
Agreed! Thanks for raising this, @sshein.

[2020-03-26 14:10] RLHecht commented on #5541
@MickinSahni This work was done. No more banner on the page!

[2020-03-26 14:15] ricetj commented on #7235
@Jeff-Hayter
COR: Mary O'Toole
User: Neil Hastings

[2020-03-26 14:19] LindseySaari commented on #6769
[Sentry 10 converstation in #vsp-operations](https://dsva.slack.com/archives/CJYRZK2HH/p1585063979460800)

[2020-03-26 14:28] joanneesteban commented on #7118
### Other Updates

VCL data was added to dashboard on 3/25/20. Will need reconfiguration as the table has been added, but is not lined up with the other metrics.

[2020-03-26 14:32] jbritt1 commented on #6951
Not support related, but still work during.
Started on #7204 && #7205

[2020-03-26 14:42] bridgethapner commented on #5733
Hi @Samara-Strauss - looks great.

Yes, the date is still the 10th at this point. We are awaiting word if that's getting pushed amid COVID stuff, but haven't heard yet. If we do, I'll post here. So yes we should move this into development.

[2020-03-26 14:47] mmiddaugh commented on #7180
**Links to improved test plans:**
[Left Nav Test plan](https://dsvavsp.testrail.io/index.php?/plans/view/225)
[Left Nav Mobile Test plan](https://dsvavsp.testrail.io/index.php?/plans/view/232)

**Regression Tests:**
1. Both test plans now contain a regression test case for expected page content to be loaded.

**Manual Functional Tests:**
1. Typo has been addressed
2. Github issue has been linked a

[2020-03-26 14:56] RLHecht commented on #6755
Pretty sure this ticket can be closed since the work was done in the other buggy spoke ticket. Just confirming @ncksllvn

[2020-03-26 14:59] jenniferlee-dsva commented on #6691
Yes. I don't think it needs to be as formal as a real UAT process, but a checklist would be helpful for them (and ensure they don't start redesigning). Thank you @andaleliz

[2020-03-26 15:00] #7014 closed

[2020-03-26 15:02] Samara-Strauss commented on #5093
Is this ticket still being used? Or is there a different epic?

[2020-03-26 15:04] ncksllvn commented on #6755
@RLHecht Ah yep, this is done!

[2020-03-26 15:07] jbalboni commented on #7005
I was able to reproduce this with a user with a single registered system that has multiple child facilities, but only one that has a requestSupported flag set to true.

[2020-03-26 15:11] jenstrickland opened #7239 "[COGNITION]: Reading order SHOULD provide context between form and results"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

**Feedback framework**
- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

- After entering search criteria and the Search but

[2020-03-26 15:12] #6380 closed

[2020-03-26 15:12] #5093 closed

[2020-03-26 15:13] ncksllvn commented on #727
Just to confirm, does this example event look correct?

[code]

[2020-03-26 15:13] delli-gatti-michael commented on #7183
# AC4:
![Screen Shot 2020-03-26 at 10.50.24 AM.png](https://images.zenhubusercontent.com/5c07f000391a6f6357adc430/f570f0b8-ff38-4c17-8ab0-1daa5fc92001)

# AC5: (Screenshot at 768 px wide)
![Screen Shot 2020-03-26 at 10.55.18 AM.png](https://images.zenhubusercontent.com/5c07f000391a6f6357adc430/eaf2e429-85c0-46e2-9700-8a0f73dc2456)

# AC6:
![Screen Shot 2020-03-26 at 10.50.24 AM.png](https://images

[2020-03-26 15:14] andaleliz commented on #7083
Ah, really good point! Def not something I considered, @sshein

I've added a new bullet under Research Questions:

And I also added the mural board to the Resources section. I think we can close this out.

[2020-03-26 15:14] #7083 closed

[2020-03-26 15:15] erluti commented on #1409
Forking `apivore` and `active_model_serializers` and releasing the version lock allows the Rails 6.0 upgrade to continue, so with that approach the upgrade can continue.

[2020-03-26 15:15] #1409 closed

[2020-03-26 15:17] amycesal commented on #7118
Hey @jonwehausen
Can you get the call Veterans Crisis Line spreadsheet to display as a bar graph like this:
![Image from iOS](https://user-images.githubusercontent.com/1656046/77663243-d9c43900-6f4a-11ea-8fce-85c78520e60e.jpg)

The data needs to be manipulated to calculate the call total that's covid related.

[2020-03-26 15:21] jenstrickland opened #7240 "[SCREENREADER]: Upon Submit, focus MUST move to the context change notification"
# [508-defect-1 :exclamation: Launchblocker](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-1)

**Feedback framework**
- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

- After entering search

[2020-03-26 15:21] erluti opened #7241 "Work through changes from Rails 6 upgrade"
After completing [discovery](https://github.com/department-of-veterans-affairs/va.gov-team/issues/1409), these tasks will get a Rails 6.0 PR ready to merge:
- [x] Fork `apivore` and remove Rails version lock.
- [x] Fork `active_model_serializers` and remove Rails version lock
- [x] Review and Update failing tests
- [x] Resolve deprecation warnings

[2020-03-26 15:21] andaleliz commented on #7087
@sshein breakdown was a way for me to just work through different categories of questions as I got ideas out of my head; it's really _all_ about the logged-in homepage.  Put those all in one section now, for clarity.

Yes, can definitely add some more specific questions for designers.  Created a Practice Specific section, in case there are other specifics that I think of once I learn more about th

[2020-03-26 15:27] RLHecht commented on #7074
@AnneHurley and I checked the rates agains the legacy page for the Special Monthly Compensation page. Once we have one final number from Sandy it is ready to be published.

[2020-03-26 15:27] #6755 closed

[2020-03-26 15:28] TamGIBill commented on #3869
Corrected 508 issues.

[2020-03-26 15:28] TamGIBill commented on #3919
Corrected 508 issues.

[2020-03-26 15:29] TamGIBill commented on #3918
Corrected 508 issues.

[2020-03-26 15:29] TamGIBill commented on #3917
Corrected 508 issues.

[2020-03-26 15:34] peggygannon commented on #5583
Closing. this has been reviewed/validated in design system.

[2020-03-26 15:34] #5583 closed

[2020-03-26 15:41] MickinSahni commented on #7109
2020-03-26 PW Standup
- PR merged, validated. Closing

[2020-03-26 15:41] #7109 closed

[2020-03-26 15:44] MickinSahni commented on #6928
2020-03-26 PW Standup
- 2 open PRs: one is the redirect, other is content change in footer (#6933)
- awaiting confirmation that the new scorecard page is live cc @kennedycollins @karlbrown-va

[2020-03-26 15:46] MickinSahni commented on #6922
2020-03-26 PW Standup
- All Drupal node ids are in
- Remaining: incorporate time frame language per Jen's feedback

[2020-03-26 15:47] MickinSahni commented on #6933
2020-03-26 PW Standup
- Related to #6928
- PR open for this ticket

[2020-03-26 15:47] MickinSahni commented on #727
2020-03-26 PW Standup
- In progress

[2020-03-26 15:50] MickinSahni commented on #7074
2020-03-26 PW Standup
- they're all done, most are published. one page is waiting for stakeholder feedback and then that can be published (already reached out to stakeholder, Jen)
- Bringing into Sprint 18 (unplanned)
- @AnneHurley can you confirm the estimation on this item? wondering if 21 is a typo

[2020-03-26 15:50] joanneesteban commented on #7118
### Follow Up

**Data we currently have connected to Domo:**

- FAQ Navigation Events
- VCL March 1-23
- Covid Homepage Banner Clicks

**Data we need to connect:**

- publichealth.va.gov (GA Implementation)(Previous/Next Page Path)

Baselines vs. Now:

- General VA.gov Traffic
- Health Services Traffic

**How to Visualize & Filter:**

- Covid Homepage Banner Clicks
- FAQ Navigation Events (Maybe t

[2020-03-26 15:50] jbalboni commented on #4946
@peggygannon That looks mostly good to me. There's not a number of days requirement that I'm aware of, they would just need to cancel any open requests or wait for a scheduler.

We can show facility info there if we need to. The user will already be able to see the VAMC name in the radio button list, but we could show phone or address.

[2020-03-26 15:54] MickinSahni commented on #7128
2020-03-26
- Can't upload Prod yellow ribbon data csv to Admin center for GIDS. Check with Brian/Matts

[2020-03-26 15:56] MickinSahni commented on #6838
2020-03-26 PW Standup
- adding to sprint 18 (unplanned)

[2020-03-26 15:56] lwalsh617 opened #7242 "[Reference] AMA Follow On Work: Launch"
## User Story or Problem Statement
As a Veteran, I need to understand the new decision review process so I can choose the proper lane(s) when appealing a claim decision that I disagree with.

## Objectives or Key Results this is meant to further
- _Include references to KPIs we intend to impact_
-Veterans proceed from informational pages to an action (tracking appeal status, linking to HLR tool, d

[2020-03-26 16:02] sonntag-adam commented on #7186
@amyknox @ccruzgra @JLynnJ changes are in staging.  https://staging.va.gov/gi-bill-comparison-tool/search?category=school&name=test

[2020-03-26 16:02] jenstrickland opened #7243 "508-defect-1 ❗ Launchblocker [SCREENREADER]: Focus MUST move to notification of context change when new content is added"
# [508-defect-1 :exclamation: Launchblocker](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-1)

**Feedback framework**
- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

When composing search c

[2020-03-26 16:02] mshea0606 commented on #5093
@Samara-Strauss  I closed this ticket out since we already have the other copy tickets broken out by screen.

[2020-03-26 16:04] delli-gatti-michael commented on #7183
PR:
https://github.com/department-of-veterans-affairs/vets-website/pull/12006

[2020-03-26 16:04] peggygannon commented on #7017
Hello, @lenaecb @jbalboni Here are my content recommendations.

One question, do we need to say "request" an appointment for the Cerner sites? or can users directly schedule?

**Need to schedule an appointment?**
You can schedule a VA appointment through My VA Health.

{button} Go to My VA Health

**OR** if we need to say "request" for Cerner sites, then let's use this one:

**Need to schedule an

[2020-03-26 16:07] kelsonic commented on #7128
We've discovered that out-of-country YRPs are denoted by the states `AA`, `AE`, and `AP`. Updating this ticket to 1) remove country dropdown and 2) include additional states to our state dropdown. https://dsva.slack.com/archives/C52CL1PKQ/p1585238508051200 @MickinSahni @andaleliz

[2020-03-26 16:08] peggygannon commented on #5242
@lunascoop is there anything more you need from me on this ticket?

[2020-03-26 16:14] kelsonic commented on #6933
@ncksllvn @RLHecht

@RLHecht @ncksllvn What are your thoughts on blocking it from crawlers? Happy to make the update if desired! 🙂

[2020-03-26 16:15] peggygannon commented on #5381
internal note for myself.. this alert is in regards to Mann-Grandstaff (Spokane), est. cerner launch July 2020.

[2020-03-26 16:18] jbalboni commented on #7017
@peggygannon I think they direct schedule? That would be a question for @lalexanderson-dsva.

[2020-03-26 16:27] lunascoop commented on #5242
@peggygannon No, I don't need anything else from you on this ticket. @artsymartha68 Can we close this?

[2020-03-26 16:27] Kimberley2019 commented on #6958
https://mail.google.com/mail/u/0?ui=2&ik=4f24e7ff58&attid=0.1&permmsgid=msg-f:1662242311101440805&th=1711789333d36325&view=att&disp=safe

[2020-03-26 16:27] #6885 closed

[2020-03-26 16:33] mnorthuis commented on #6920
@lwalsh617 IA recommendations are available here:
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/information-architecture/ia-reviews/websites-decision-reviews.md

There are 2 open questions:
1) Will the legacy Board of Appeals page be retired or need to be moved along with the other legacy content
2) Placement of link to decision reviews on the home page - for t

[2020-03-26 16:35] mnorthuis commented on #6943
Page is live, closing issue.

[2020-03-26 16:35] #6943 closed

[2020-03-26 16:42] artsymartha68 commented on #5242
I have heard nothing from the dev team. Yes let’s close, we can always reopen if need be.

[2020-03-26 16:45] jenstrickland opened #7244 "Sitewide, design system [AXE-CORE]: Heading levels SHOULD increase by one"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

**Feedback framework**
- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

When search criteria includes Urgent care for facil

[2020-03-26 16:48] pjhill commented on #7180
@mmiddaugh I love it!  Thanks for working on this.  Some feedback --

- Regarding references, the "References" field automatically assumes that you are going to be referring to va.gov-team repo issues, so all you need to enter there is the ticket number (7212) from that repository.  I've edited [this](https://dsvavsp.testrail.io/index.php?/tests/view/1630) test case to correctly reference just "72

[2020-03-26 16:51] lenaecb commented on #6970
@joanneesteban - I have update the story to split out priority for dashboard and for the funnels via questions to answer. Is that what you are looking for?

@narin - what are your thoughts about the errors and showing that in the dashboard? I haven't been able to make sense of what the error are telling us but I assume those errors will give us some idea of the dropoff rate during the schedule pro

[2020-03-26 16:58] amycesal commented on #7118
### Key dates for annotations:
JAN. 21 - First US confirmed cases
MARCH 13 - US declares a national emergency

Sources: https://www.nytimes.com/article/coronavirus-timeline.html

[2020-03-26 17:02] jbalboni commented on #7017
![Screen Shot 2020-03-26 at 12.58.46 PM.png](https://images.zenhubusercontent.com/599c94608f62dc7798c3b2cd/b03530ce-8977-4248-a854-ee920250084c)

[2020-03-26 17:06] mnorthuis commented on #7242
IA is attached to issue #6920 with 2 open questions.

[2020-03-26 17:06] ccruzgra commented on #7186
@sonntag-adam This checks out for ux!

[2020-03-26 17:20] ndsprinkle opened #7245 "[Development] Original Claims: Integrate Front-End with Back End in Staging"
## User Story or Problem Statement
As a veteran, I need to be able to start my first claim on VA.gov so I can use have a better experience than eBenefits.

Integrate new original-claims back end service with vets-website in staging only.

## Tasks
- [ ] Complete integration with BE endpoint

## Acceptance Criteria
- [ ] Integration test we can then use for SQA with MVI

[2020-03-26 17:20] ndsprinkle commented on #7245
Pull request for staging implementation: https://github.com/department-of-veterans-affairs/vets-website/pull/12014

[2020-03-26 17:20] SarahJaine opened #7246 "[Development] Visual monitoring of Letters API"
## User Story or Problem Statement
We need a way to quickly answer stakeholder questions about the health of our Letters API

## Goal
Create a grafana dashboard for monitoring the Letters API

---
## Tasks
- [x] talk to Andrea about what questions she has about the API health
- Create grafana dashboard with 2-3 panels
  - [x] sum get letters errors - group by errors?
  - [x] sum get letters calls

[2020-03-26 17:25] ndsprinkle opened #7247 "[Development] Original Claims: Update Front-End Flow in Staging"
## User Story or Problem Statement
As a veteran, I need to be able to start my first claim on VA.gov so I can use have a better experience than eBenefits.

In vets-website, update the front end flow to support original claims only in staging.

## Tasks
- [ ] Update FE flow

## Acceptance Criteria
- [ ] FE ready to go
- [ ] Would be nice to get an integration test we can then use for SQA with MVI

[2020-03-26 17:26] ndsprinkle commented on #7247
Pull request for staging implementation: https://github.com/department-of-veterans-affairs/vets-website/pull/12015

[2020-03-26 17:27] bkjohnson opened #7248 "Manual review check can be avoided"
## What happened?

A PR in `vets-website` can be made in a way that will prevent the manual review automated check from scanning it.

## Steps to Reproduce
- Make commits to a local branch that include changes which should trigger a manual review, i.e. disabling ESlint
- Push the branch up
- Without pushing any more commits, open a PR
- Notice that the check runs for the branch, but not the PR

##

[2020-03-26 17:27] ncksllvn commented on #5648
I think almost all of them are editable from Drupal, except for the wizard at /disability/how-to-file-claim/

[2020-03-26 17:28] ncksllvn commented on #5648
Scratch that, https://www.va.gov/disability/how-to-file-claim/ -

![image](https://user-images.githubusercontent.com/1915775/77677108-a0e58d80-6f65-11ea-97e6-737a31a99265.png)

This is also a plain link. I was looking at the wrong page component.

[2020-03-26 17:29] sonntag-adam commented on #6805
-- Set caution flag fields
Update caution_flags
SET
	title = 'Test caution flag',
	description = 'Test caution flag description',
	link_text = 'Click this link',
	link_url = 'https://va.gov'
WHERE id = 1234
-- institution with future closing
UPDATE institutions
SET
	school_closing = true,
	school_closing_on = '2022-1-1'
WHERE facility_code = '31000040'
-- institution closed
UPDATE institutions
SET

[2020-03-26 17:30] sonntag-adam commented on #6805
-- Find caution flags for an institution:
SELECT caution_flags.*
FROM caution_flags
	INNER JOIN institutions ON institutions.id = caution_flags.institution_id
WHERE facility_code = '21014523'

[2020-03-26 17:30] SarahJaine opened #7249 "[Development] Assign BAM1 areas of ownership in Sentry"
## User Story or Problem Statement
**_Came out of work for https://github.com/department-of-veterans-affairs/va.gov-team/issues/6813_**
It is tedious and time intensive for developers to review Sentry for errors and determine which are under our team's purview. Sentry is not pro actively reviewed by developers. Bugs are often surfaced and corrected after they negatively affect the users.

## Goal

[2020-03-26 17:31] johnpaulashenfelter opened #7250 "Replace deprecated `iconv` library"
Task:
Replace deprecated `iconv` with `ActiveSupport::Inflector.transliterate()`

Background:
As part of the CircleCi migration, an issue came up with the `iconv` library and the default service `LANG` environment variable. While its straightforward enough to solve (ensure `LANG=en-us.UTF-8` is set on the server), it demonstrates clearly that there's some non-application configuration and cross-pl

[2020-03-26 17:37] jason-gcio commented on #5671
Pinging Tze when these test accounts start to show data

[2020-03-26 17:50] jordanamello opened #7251 "Access for Jordana Mello"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Add a comment @department-of-veterans-affairs/vsp-operations to ping the operations team
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please

[2020-03-26 17:54] jason-gcio opened #7252 "Revise Workflow in 686: Include "Additional Evidence""
## Goal
Include the necessary schema workflows and submit PRs for them to be incorporated.  This will fully flesh out the rest of the workflows to coincide with what has already been put out.

## Considerations
- When these are done as multiples, there are merge conflicts that will need to be carefully addressed.
- [Overall Mockups](https://github.com/department-of-veterans-affairs/va.gov-team/tre

[2020-03-26 17:56] jason-gcio opened #7253 "Revise Unit Test to 686: Include "Additional Evidence""
## Goal
Write and complete a unit test for the workflow mentioned above.

## Considerations
- Implement items from previous unit test tickets.
- Use some existing unit test as a model.
- Workflows that need "Additional Evidence" included:
  - [Add Spouse](https://xd.adobe.com/view/e185627d-0f83-4762-747d-d646b4557713-97b4/screen/d6460303-5b1a-4889-8aaf-44868c14429a/Upload-1)
  - [Add Child](https:

[2020-03-26 17:56] joanneesteban commented on #7118
## Implementation To Do

@jonwehausen
- Add key date annotations above (if it makes sense)
- Adjust VCL chart to Amy's sketch
- Filter FAQ top 10 clicks & add to dashboard
- Add publichealth.va.gov metrics
- Add general VA.gov traffic (then vs. now)

@joanneesteban
- Add VCL annotations/definitions
- Add WBC vs All VA.gov definitions

@nedierecel
- Emails from Gov Delivery?

@amycesal
- Visualize

[2020-03-26 17:58] #7251 closed

[2020-03-26 17:58] peggygannon commented on #7017
@jbalboni Looks good. thank you

[2020-03-26 18:05] marriej opened #7254 "Set up Saucelabs for testing"
Using these instructions, to set up SauceLabs.

https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/quality-assurance/cross-platform-testing-plan.md#browsers-supported

Please add comment with whether you were successful or not and re-assign in the following order:

- [ ] Bridget

- [ ] Eric

- [ ] Alexis

- [ ] Ambika

- [ ] Dan

- [ ] Patrick

[2020-03-26 18:09] jbritt1 commented on #7251
SOCKS access granted. @jordanamello, please continue with [the guide](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/engineering/internal-tools.md#configure-the-socks-proxy) to establish a connection to SOCKS proxy.

[2020-03-26 18:12] mshea0606 opened #7255 "Create new profile app"
## Tasks

- [ ] make a skeleton react app for Profile 2.0

[2020-03-26 18:15] mshea0606 opened #7256 "Create a new side-nav component for Profile 2.0"
## User story

As a veteran, I need to be able to easily navigate through the profile.

## Additional background

Epic #5346

## Design & Copy

- [InVision prototype](https://vsateams.invisionapp.com/share/FJW9OGY2B9A#/screens/407039340)
- ["Profile Navigation" build specs](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/profile/Combine%2

[2020-03-26 18:15] jason-gcio opened #7257 "Revise Workflow in 686: "Dependent Death""
## Goal
Include the necessary schema workflows and submit PRs for them to be incorporated.  This will fully flesh out the rest of the workflows to coincide with what has already been put out.

## Considerations
- When these are done as multiples, there are merge conflicts that will need to be carefully addressed.
- [Overall Mockups](https://github.com/department-of-veterans-affairs/va.gov-team/tre

[2020-03-26 18:17] jason-gcio opened #7258 "Revise Unit Test: "Dependent Death""
## Goal
Write and complete a unit test for the workflow mentioned above.

## Considerations
- Implement items from previous unit test tickets.
- Use some existing unit test as a model.
- Workflows that need "Additional Evidence" included:
  - [Dependent Death](https://xd.adobe.com/view/1506a12d-12af-49d2-4137-97bb5a06fa11-6337/)

## Acceptance Criteria
- [x] 80% coverage for the workflow has been

[2020-03-26 18:22] sonntag-adam commented on #7186
Testing passes QA. Closing story.
https://dsvavsp.testrail.io/index.php?/runs/view/238&group_by=cases:section_id&group_order=asc

[2020-03-26 18:22] #7186 closed

[2020-03-26 18:23] MickinSahni opened #7259 "Public Websites Covid-19"
## Product Outline
N/A
## High Level User Story/ies
As a Veteran, I want to know how VA services are affected by the Covid pandemic so that I can plan accordingly.

[2020-03-26 18:30] MickinSahni opened #7260 "Disability Rate Pages and Redirects"
## Background
Ensure Disability rates—past and present—are accurate and pages are redirected accordingly.

[2020-03-26 18:30] #6639 closed

[2020-03-26 18:39] andaleliz commented on #7128
Design spec updated to reflect removal of country field, [desktop](https://vsateams.invisionapp.com/share/P4W04QPWHTK) and [mobile](https://vsateams.invisionapp.com/share/36W0CAZHJ2U)

[2020-03-26 18:42] mmiddaugh commented on #7180
Thanks @pjhill for the help on linking to Github. I have separated the steps with multiple actions into individual steps and also added a test case for the Focus state.

Where is the best place to reference automated unit tests once those are defined?

[2020-03-26 18:47] #5111 closed

[2020-03-26 18:50] MickinSahni opened #7261 "How-to Apply Wizard"
## Product Outline
TBD

## High Level User Story/ies
How might we make it easier for Veterans to find the online experience that most accurately helps them apply fort the benefit they're looking to receive?

## Hypothesis or Bet
TBD

## OKR
Objective 1 - Increased self-service

## Definition of done
### What must be true in order for you to consider this epic complete?
TBD
*Take into consideration

[2020-03-26 18:52] chrvalla commented on #5559
The BDD prototype has been tested with 10 users.
 Notes are uploaded to GH
Topline Summary and Notes has been shared with team.
Topline Summary uploaded to GH.
Research Finding report written. Will be uploaded to GH 3/27/2020
See all documents here:
https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/disability/disability-compensation-claim/bdd/BDD%20Research/Initial

[2020-03-26 18:52] #5559 closed

[2020-03-26 18:53] mmiddaugh commented on #6398
I should be able to access this info after your recent tutorial...thanks

[2020-03-26 18:56] wyattwalter commented on #6167
This was a bunch of old review instance apps on the old stack. I was cleaning up some stuff in Heroku today and just deleted all of them. There's one app left called mock-prescriptions-api that was still on the old stack that I put into maintenance mode for now. I think we can delete that one as it hasn't seen any activity for quite some time.

[2020-03-26 18:56] #6167 closed

[2020-03-26 18:56] ccruzgra commented on #7183
@delli-gatti-michael thanks for sharing the updates! These updates look great. Just have two observations:

AC4: I'm seeing this for the closing alerts in staging search results, which is different than the image you posted:
![Screen Shot 2020-03-26 at 2.42.46 PM.png](https://images.zenhubusercontent.com/5b55212f6dabc3393a2dbe50/2761ac52-421c-4704-bab4-125233701a97)

AC7: I'm still seeing some of

[2020-03-26 19:00] wyattwalter commented on #2522
@rianfowler I discovered that the Heroku builds were connected to GitHub by my user by mistake for vagov-content. I corrected that today, and discovered that they've been broken for some time anyway. The build is trying to connect to the CMS which doesn't work off the VA network. We could probably just sunset the vagov-content stuff without much notice at this point. I can't tell how long they've

[2020-03-26 19:01] elder-joseph commented on #7183
@ccruzgra I see why # 7 is happening, the changes that Dustin checked in need the `        className="vads-u-margin-top--0p5"` to be consistent with the changes I made in 7183.

[2020-03-26 19:03] lwalsh617 commented on #7242
@RLHecht - Here's a word doc with all final copy edits to Drupal pages. Thank you!
[decison-review-drupal-edits-032620.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/4389384/decison-review-drupal-edits-032620.docx)

[2020-03-26 19:14] ericbuckley commented on #6336
Would this only be needed for our inbound SSO launch?

[2020-03-26 19:14] SarahJaine commented on #6240
This is enough context for now.  I'm going to close this ticket out since I've hit all the important points.  I feel well orientated. :)

[2020-03-26 19:14] #6240 closed

[2020-03-26 19:24] Samara-Strauss commented on #6622
Can we close this out?

[2020-03-26 19:30] rileyorr commented on #7125
<img width="669" alt="Screen Shot 2020-03-26 at 12 30 37 PM" src="https://user-images.githubusercontent.com/46329147/77688016-c11d4880-6f75-11ea-9290-e1e424e1a646.png">
The component above is displayed if the Veteran is not logged in and navigates to the form. The content should be updated to:
Save time—and save your work in progress—by signing in before starting your order
When you’re signed in t

[2020-03-26 19:32] mnorthuis commented on #7120
This redirect is vetted and documented and can be implemented when ready.

[2020-03-26 19:33] #4877 closed

[2020-03-26 19:34] rileyorr commented on #7126
I've provided the updated content in #7125
Let me know if you have any questions!

[2020-03-26 19:35] mnorthuis commented on #7202
@AnneHurley Can you clarify what redirects this ticket covers?

#7120 Covers https://www.benefits.va.gov/COMPENSATION/special_Benefit_Allowances_2019.asp
This is mentioned in the top description and your comment above which has it redirecting to itself.

Can you update the original description with the URLs that need to be redirected please?

[2020-03-26 19:37] micahchiang opened #7262 "Update remaining 686c addresses to use addressUISchema"
## Goal
As an engineer, I want to standardize how addresses are created in my application, so I can maintain consistency and scale easily. All addresses in the 686 should use a single reusable address module.

## Considerations
There are a couple addresses left in the 686c-674 that need to be updated (inc their unit tests) to use `addressUISchema()`:
* [veteran's address](https://github.com/depart

[2020-03-26 19:38] desireeturner opened #7263 "CF: Indicate school closed when closure date is in the past on Profile Page"
As a user of the comparison tool, I want to see the most accurate cautionary information as it relates to school closings so that I can make the best decision regarding how to use my education benefits.

## Assumptions
1. This functionality will be behind a prod flag so that it is only available on staging.

## Acceptance Criteria:
1. When the school closure date associated with a school closing f

[2020-03-26 19:38] Samara-Strauss opened #7264 "[Discovery] Logged-in homepage: Research review — Compile list of documents to review"
## Background

Epic #6326

As part of the logged-in homepage discovery phase, we have decided to do a review of past research write-ups to help us gain insight/set context and to guide future user interviews so they are unique and answers new questions.

## Tasks

- [ ] [Review master list of past research](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/research

[2020-03-26 19:39] Samara-Strauss commented on #7264
### List we have so far:

- [Personalization 2.0 Discovery: Summary and Strategy](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/personalization%202.0/discovery-research/README.md)
- [Dashboard 2.0 User Interviews Research Summary](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization

[2020-03-26 19:39] pjhill commented on #7180
At the moment, unit test results are not integrated into TestRail.  I'm working on getting that integration added to VSP's backlog in hopes that it can be worked in the near term.  For now, unit test, automated test, and load test results must be interpreted independently from manual test results.

[2020-03-26 19:40] AnneHurley commented on #7202
@mnorthuis  and @lunascoop  Since these URLs are a group that actually *were* redirected previously, I think it'd be better for Selina to list out the URLs or connect to the right other ticket. This is new territory, redirected, un-redirected tickets - don't want to confuse things if possible. Selina, can you make that list here if we need them?

[2020-03-26 19:41] #6917 closed

[2020-03-26 19:41] jbritt1 commented on #6951
https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/7251

[2020-03-26 19:42] Samara-Strauss opened #7265 "[Discovery] Logged-in homepage: Research review — Review documents and document insights"
## Background

Epic #6326

As part of the logged-in homepage discovery phase, we have decided to do a review of past research write-ups to help us gain insight/set context and to guide future user interviews so they are unique and answers new questions.

## Tasks

- [ ] Review documents compiled in [comments of #7264](https://github.com/department-of-veterans-affairs/va.gov-team/issues/7264#issuec

[2020-03-26 19:52] Samara-Strauss opened #7266 "[Discovery] Logged-in homepage: Comparative analysis"
## Background

Epic #6326

As part of the logged-in homepage discovery, we would like to conduct a comparative analysis of other dashboards/notification centers.

## Tasks

- [x] Compile list of experiences to compare
- [x] Conduct analysis
- [x] Write-up findings
- [ ] Share with team

## Acceptance criteria

- [ ] Comparative analysis has been written up and shared with team

[2020-03-26 19:53] ricetj opened #7267 "Onboarding to VSP Ops"
## Overview
Welcome to the platform and more particularly the VSP Operations team.  This ticket is a checklist and guide to try and improve the onboarding process and get you up to speed.

If you have any question please reach out to TJ.

##  Checklist

### Access to what you need
- [x] [Getting setup](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/working-with-

[2020-03-26 19:54] jbritt1 commented on #7204
Going to plan staging for Monday 3/30.

[2020-03-26 19:54] jbritt1 commented on #7205
Going to plan staging for Monday 3/30.

[2020-03-26 19:57] Samara-Strauss opened #7268 "[Discovery] Logged-in homepage: User research"
## Background

Epic #6326

As part of the logged-in homepage discovery phase, we have decided to conduct user interviews/testing to help us better gauge user needs and expectations.

## Tasks

- [x] Create research plan #7269
- [x] Create card sort #8230
- [x] Create co-design with veterans exercise #8232
- [x] Create conversation guide #7270
- [x] Kick-off recruiting #7273
- [x] Conduct interview

[2020-03-26 20:00] Samara-Strauss opened #7269 "[Discovery] Logged-in homepage: User research — Create research plan"
## Background

Epic #7268

As part of the logged-in homepage discovery phase, we have decided to conduct user interviews/testing to help us better gauge user needs and expectations.

## Tasks

- [x] Review [overall research goals](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/logged-in-homepage/2.0-redesign/discovery-and-research/resear

[2020-03-26 20:05] Samara-Strauss opened #7270 "[Discovery] Logged-in homepage: User research — Create conversation guide"
## Background

Epic #7268

As part of the logged-in homepage discovery phase, we have decided to conduct user interviews/testing to help us better gauge user needs and expectations.

## Tasks

- [x] Create conversation guide
- [x] Share with team
- [ ] Revise as necessary

## Acceptance criteria

- [ ] Conversation guide is ready to be sent to Lauren to kick off recruiting

[2020-03-26 20:08] bsmartin-ep commented on #727
@nedierecel -  In reference to @ncksllvn's comment, is this event supposed to have the section heading?

[code]

[2020-03-26 20:12] dneel-bah opened #7271 "STEM: Create STEM Scholarship Feature Flag"
As a developer, I need to create a feature flag that can be used to turn on and off STEM scholarship application related functionality so that it can be delivered to production in a timely manner.

## Assumptions:
1. Feature flag for STEM form will need be available in both vets-api and vets-website repos.

## Tasks
1. Follow feature flags documentation to create front-end STEM feature flag.
2. Fo

[2020-03-26 20:14] dneel-bah opened #7272 "STEM: Remove STEM Scholarship question from 22-1995 workflow and submission"
As a veteran looking to update my benefits, I should not have to answer unnecessary questions about the STEM scholarship application in order to update my benefits.

## Assumptions:
1. This work is completed behind a ~feature flag (#7271)~ prod flag.  (Changed due to form pages not being removable via feature flag.
2. This work is not enabled in production until the new STEM OMB form is available

[2020-03-26 20:14] #1641 closed

[2020-03-26 20:15] #1643 closed

[2020-03-26 20:15] lunascoop commented on #7202
@mnorthuis @AnneHurley I did update the initial comment to reflect that the redirects of these URLs needs to be re-implemented. The existing URL list looks fine, only that https://www.benefits.va.gov/COMPENSATION/special_Benefit_Allowances_2019.asp is also covered in ticket #7120. I will close out that ticket and use this ticket to capture all disability rates page redirects.

[2020-03-26 20:15] Samara-Strauss opened #7273 "[Discovery] Logged-in homepage: User research — Kick-off recruiting"
## Background

Epic #7268

As part of the logged-in homepage discovery phase, we have decided to conduct user interviews/testing to help us better gauge user needs and expectations.

## Tasks

- [ ] Send off research plan and conversation guide to Lauren Alexanderson to kick-off recruiting

## Acceptance criteria

- [ ] Recruiting has started

[2020-03-26 20:16] lunascoop commented on #7120
@MickinSahni @mnorthuis @AnneHurley closing this ticket as this redirect, along with others, is covered in ticket #7202.

[2020-03-26 20:16] #7120 closed

[2020-03-26 20:17] #1644 closed

[2020-03-26 20:17] #3733 closed

[2020-03-26 20:18] Samara-Strauss opened #7274 "[Discovery] Logged-in homepage: User research — Conduct interviews"
## Background

Epic #7268

As part of the logged-in homepage discovery phase, we have decided to conduct user interviews/testing to help us better gauge user needs and expectations.

## Tasks

- [ ] Conduct user interviews

## Acceptance criteria

- [ ] All interviews have been completed

[2020-03-26 20:19] dneel-bah opened #7275 "STEM: Create STEM Scholarship Application Infrasturcture"
As a developer, I need to create the infrastructure to support the new OMB STEM Scholarship application so that it development can being once discovery and prototyping is complete.

## Assumptions:
1. This work is completed behind a feature flag (#7271)
2. This work is not enabled in production until the new STEM OMB form has successfully completed UAT.
3. The URL we create for this story will not

[2020-03-26 20:20] jonwehausen commented on #6354
Thanks Brian! Confirming container has been published here and closing story.

cc: @billfienberg @meganhkelley

[2020-03-26 20:20] #6354 closed

[2020-03-26 20:22] Samara-Strauss opened #7276 "[Discovery] Logged-in homepage: User research — Synthesis"
## Background

Epic #7268

As part of the logged-in homepage discovery phase, we have decided to conduct user interviews/testing to help us better gauge user needs and expectations.

## Tasks

- [x] [Write research report](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/logged-in-homepage/2.0-redesign/discovery-and-research/user-research/

[2020-03-26 20:25] meganhkelley commented on #6499
Scheduled for 3/31

[2020-03-26 20:26] dneel-bah opened #7277 "GIDS: Research viability of adding Dashboard Data Validator to GIDS"
As a developer, I need to research the technical feasibility of adding the Excel Data Validator to the GIDS tool so that additional manual steps can be removed from the CT maintenance process.

##Assumptions:
1. N/A

## Acceptance Criteria
1. If this is technically feasible, a document is created outlining the technical approach to implement the functionality.

## Supporting Artifacts:
1. <img wid

[2020-03-26 20:29] Samara-Strauss opened #7278 "[Discovery] Logged-in homepage: Create product outline"
## Background

We need a product outline for the logged-in homepage work

## Tasks

- [x] [Create product outline](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/logged-in-homepage/2.0-redesign/README.md)
- [x] Share with team
- [x] Implement feedback

## Acceptance criteria

- [x] Product outline has been reviewed and approved by team

[2020-03-26 20:29] Mottie opened #7279 "[Development] HLR updates"
## User Story or Problem Statement

As a frontend dev, I need to update the Higher-Level Review form based on more feedback. And continue to implement minor fixes to the HLR form

## Goal

- Continue to make changes to the HLR form.
- Work on tech debt for this and related forms.

## Objectives or Key Results this is meant to further

Get 'er done.

## Tasks
- [x] Complete updates based on the rec

[2020-03-26 20:30] desireeturner opened #7280 "CT: Remove prod flag for #6848 and #7281"
As a developer, I need to remove the prod flag for the updates the Learn More caution flag content in Comparison Tool so that the updates are available in the production environment.

## Assumptions:
1. EDU has reviewed and signed off on the changes as of 03/30.

## Acceptance Criteria:
1. The functionality in #6848 and #7281 is available in the production environment.

## Supporting Artifacts:
1.

[2020-03-26 20:31] hughes-dustin commented on #7020
new branch: bah-7020-2
new PR: https://github.com/department-of-veterans-affairs/vets-website/pull/12026

[2020-03-26 20:36] #6067 closed

[2020-03-26 20:36] #6066 closed

[2020-03-26 20:36] desireeturner opened #7281 "CT: Update link in "Learn more about these warnings" modal on profile page"
As a user of the GI Bill Comparison Tool, I need to understand all of the caution flags an institution can have so that I can make the best decision regarding how to use my education benefits.

## Assumptions
1. This work will be completed behind a prod flag so that upon merge it is only available on staging.
2. Production flag for this work is covered in #7280
2. This work updates the work comple

[2020-03-26 20:39] dneel-bah opened #7282 "EYB: Research and Document Input Fields"
As a developer, I need to research and document the variables and formulas used on the profile Estimate your benefits section so that the development team has a complete understanding of how the section works.

## Assumptions:
1. N/A

## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
1. Documentation is created outlining the inputs that affect each of

[2020-03-26 20:40] Samara-Strauss opened #7283 "[Discovery] Logged-in homepage: Schedule kickoff with platform team"
## Background

[VSP collab cycle documentation on kickoff](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/working-with-vsp/vsp-collaboration-cycle/vsp-collaboration-cycle.md#project-kickoff)

## Tasks

- [x] Fill out and submit kickoff request

## Acceptance Criteria

- [x] Request has been submitted

[2020-03-26 20:42] ncksllvn commented on #727
The work is now merged and visible on Staging. We'll have time tomorrow to change or revert it if something goes wrong, but otherwise it'll go to prod during the daily.

[2020-03-26 20:45] tressaellen commented on #6246
Closing as content for 'connected apps' is now being tracked in #6748

[2020-03-26 20:45] #6246 closed

[2020-03-26 20:47] Samara-Strauss commented on #5733
OK, I will get the ticket created for this.

[2020-03-26 20:49] #2823 closed

[2020-03-26 20:49] #3786 closed

[2020-03-26 20:49] Samara-Strauss commented on #5733
ALSO — what technical details do my FE devs need to know so they can differentiate the veterans to whom this applies (Chalmers P. Wylie Ambulatory Care Center patients) from veterans who don't?

[2020-03-26 20:51] psanders86 commented on #6912
# Deck 1 of 3: Existing Drupal page
### Note that this page is owned by Public Websites
New content is in * italics *

#### How do I get these benefits?
You’ll need to apply to get these benefits. To apply, fill out an Application for the Program of Comprehensive Assistance for Family Caregivers (VA Form 10-10CG). You’ll need health care coverage information for both the primary family caregiver a

[2020-03-26 20:53] tlei123 commented on #6499
@leahkeeler, please ping @pjhill & me on #vsp-product-support when Regression Test Plan is ready for review...

I've added a Regression - MDRT test-cases section to house your Regression Test Cases: https://dsvavsp.testrail.io/index.php?/suites/view/8&group_by=cases:section_id&group_order=asc&group_id=57

Feel free to delegate test-cases development to team members -- share your TestRail VSA-BaM2

[2020-03-26 20:54] #328 closed

[2020-03-26 20:54] #1290 closed

[2020-03-26 20:55] ambikaroos commented on #5733
@Samara-Strauss - this should be the info from @ericbuckley included in my comment above. But feel free to have your devs reach out to him directly if they need more details!

[2020-03-26 20:55] mmiddaugh opened #7284 "Remove TriWest Link"
## User Story
As a Veteran, I want to be able to search for urgent care facilities using the Facility Locator so that I can find a location with minimal clicks.

## What Happened?
When links were removed during implementation of MVP, the link within the "no results found" error was missed.

![image](https://user-images.githubusercontent.com/55411834/75197324-dbfc6300-5712-11ea-9d7f-8f2f4b982f11.pn

[2020-03-26 20:58] Samara-Strauss commented on #5733
OMG, thank you. I'm sorry. I totally forgot about that @ambikaroos. We should be good!

[2020-03-26 21:02] 1Copenut commented on #6375
@MickinSahni I agree. This one will likely need a refactor on the design system component so devs can modify what heading level is output to the page. I'll add it to the list Jennifer sent me earlier today.

[2020-03-26 21:02] karlbrown-va commented on #6737
hi @jbritt1 Can you replace the existing key for Saman with the one noted above? Saman has lost his other private key.

[2020-03-26 21:05] 1Copenut commented on #6379
@MickinSahni Yeah, I'll take it as a global issue and follow up with the triage team for next steps.

[2020-03-26 21:07] ambikaroos commented on #5733
No worries at all @Samara-Strauss ! I know there are a ton of tickets and comments flying around 😅

[2020-03-26 21:08] bridgethapner commented on #6523
Started a research plan for UAT/usability testing session for Outbound SSOe here. It's a work in progress.
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/sso/ux-research/SSOe-testing-plan.md

[2020-03-26 21:11] jenstrickland opened #7285 "[SCREENREADER]: Search results SHOULD include semantic context"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

When a screen reader reads the content of the sear

[2020-03-26 21:12] Samara-Strauss commented on #5733
Am I correct in remembering that we don't yet have a URL for the "Go to My VA Health" button?

[2020-03-26 21:17] Samara-Strauss opened #7286 "[FE] My VA: Health care update to "Schedule an appointment" related to MHV/Cerner split"
## User story

As a person who receives medical care from VA facilities in Columbus, OH, I will need to start going to a different VA system than MHV on April 10 to schedule appointments.

## Background

Design in #5733

The VA is moving to a new health care system — Cerner — over the course of the next couple of years. The very first part of this move launches in April, where veterans that go to

[2020-03-26 21:19] jbritt1 commented on #6951
https://dsva.slack.com/archives/CJYRZK2HH/p1585254288034000

[2020-03-26 21:20] ambikaroos commented on #5733
@hinzed1127 did we get a URL from Steve for My VA Health? Can't remember where we landed

[2020-03-26 21:22] Samara-Strauss commented on #5733
Creating an issue for our FE devs — #7286

[2020-03-26 21:22] #6007 closed

[2020-03-26 21:23] #6947 closed

[2020-03-26 21:26] jbritt1 commented on #6951
Updated ssh key as requested when https://github.com/department-of-veterans-affairs/va.gov-team/issues/6737 was reopened.

[2020-03-26 21:31] hinzed1127 commented on #5733
@ambikaroos I believe [this is the accurate info](https://dsva.slack.com/archives/GTUSXTBNE/p1584396531014600)

**Staging URL**: https://ehrm-va-test.patientportal.us.healtheintent.com/
**Production**: https://patientportal.myhealth.va.gov/

[2020-03-26 21:34] patrickvinograd opened #7287 "Direct deposit CTA is categorized as "health tool""
## User Story or Problem Statement
Reviewing the code in vets-website `src/platform/site-wide/cta-widget/helpers.js`, I see that `DIRECT_DEPOSIT` is categorized under the `HEALTH_TOOLS` category.

Assuming that this is the VBA direct deposit feature, I don't think it belongs there. The health tool categorization does impact some checks that gate access to features, like making sure that the user h

[2020-03-26 21:37] hinzed1127 commented on #6249
@patrickvinograd  given Damien's comments about a health check endpoint, is there a viable way to check for this right now to display a message this specific?

[2020-03-26 21:38] jenstrickland commented on #6375
@1Copenut - the more I dig into this, a description list seems like it would be really helpful, with the role="alert" or whatever. These need flexibility!

[2020-03-26 21:39] mnorthuis commented on #7023
Helpful data:

- Bounce rates
- Page views of key content/tools over time
- Entrance rates, top entrance pages
- % users browsing more than 1 benefit hub
- % auth vs non-auth users
- conversion rate of applications
-  % of unique users that use top nav and % of unique users that use search.
- Usage of top nav fly-out options
- Usage of home page links (top tasks and hub links)
- Usage of block con

[2020-03-26 21:39] ncksllvn commented on #7287
Thanks @patrickvinograd!

@Samara-Strauss I added the `vsa-authenticated-exp` label 👍 CC: @erikphansen @bradl3yC

[2020-03-26 21:42] jbritt1 commented on #6737
New key configured on sock proxy machine(s). Closing this one up.

[2020-03-26 21:52] patrickvinograd commented on #7287
I removed the "tech debt" tag since the categorization does impact accessibility of the tool based on MHV account status, so could be a functional issue.

[2020-03-26 21:58] jenstrickland opened #7288 "[SCREENREADER]: aria-live="polite" MUST be removed from the search results container"
# [508-defect-0 :exclamation: Launchblocker](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-0)

**Feedback framework**
- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

Using JAWS or NVDA, onc

[2020-03-26 22:03] jenniferlee-dsva commented on #6920
I have the same #1 question above about the legacy Board appeals page. @lwalsh617 did you get SME confirmation about that page. We removed the link to that page in the last phase of updates, per their request. We need to remove and redirect it or consolidate it with the DR Board page.

@mnorthuis - Thank you for the IA recommendation. Super clear to understand. Only one question - from where else

[2020-03-26 22:04] jenniferlee-dsva commented on #7242
IA ticket review and 2 questions for @lwalsh617 and @mnorthuis here: https://github.com/department-of-veterans-affairs/va.gov-team/issues/6920#issuecomment-604710450

[2020-03-26 22:10] mmiddaugh opened #7289 "Address parameter search bug"
## What happened?
Searches using "10301 New Guinea Rd Fairfax, VA 22032-3268” as the address parameter were returning search results in NJ and NY. Initially reported by the OCC, it was believed this was related to the 5 igit street address number being interpreted as a zip code.

Additional testing revealed:
- other 5 digit street addresses had accurate search results.
- The Fairfox address parame

[2020-03-26 22:11] jenstrickland commented on #3445
Yes, this will be resolved by the new design.

[2020-03-26 22:20] careyotto opened #7290 "Pre-Usability Review [Profile 2.0 Connected Apps - FAQ and App Directory pages]"
## Steps to complete Usability Testing Prep:
- [x] Product Manager: create this issue and fill in feature name in the title and other bolded information appropriately
- [x] Link to this issue once created in #vfs-platform-support in Slack; tag @ Megan Kelley @ AndreaHewitt
- [x] Andrea and Megan to schedule meeting with VSP reviewers and **requesting team** attendees (as listed below)
- [x] At lea

[2020-03-26 22:50] tressaellen commented on #6247
Clarification update from Peggy:

breadcrumb and side nav- Profile
dark blue banner at top (with the user name/details)- Your profile
light blue drop down- Profile menu

[2020-03-26 22:51] jenstrickland opened #7291 "[KEYBOARD]: In Firefox Choose a VA facility type dropdown MUST be keyboard accessible"
#  [508-defect-1 :exclamation: Launchblocker](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-1)

**Feedback framework**
- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

Using Firefox in Windo

[2020-03-26 22:53] #7284 closed

[2020-03-26 22:53] #7236 closed

[2020-03-26 22:56] kelsonic commented on #7128
Thank you @andaleliz! You're the best! 🎉

[2020-03-26 22:56] jenstrickland commented on #5288
@mmiddaugh Accessibility audit complete. cc @tlei123

[2020-03-26 22:57] andaleliz opened #7292 "Yellow Ribbon MVP - Create checklist for stakeholder UAT session"
## User Story or Problem Statement
As a stakeholder, I need a task checklist so I can appropriately review the Yellow Ribbon participating schools search tool.

## Goal
Help EDU stakeholders "kick the tires" on our YR tool in an organized way to ensure they thoroughly review to relevant functionality and data.
## Tasks
- [ ] Create checklist for Edu stakeholders to use as they go through the Yello

[2020-03-26 23:01] andaleliz opened #7293 "Minor Yellow Ribbon participating schools tool content updates"
Please make the following edits:

- In the value for `Maximum Yellow Ribbon funding amount (per student, per year)`, please remove the decimal after the dollar amount, since all values are whole amounts. (The `.00` isn't necessary)
- Please add the word `benefits` (lowercase b) to the end of the string `All tuition and fees not covered by Post-9/11 GI Bill`
- Please lowercase the word `Benefits` i

[2020-03-26 23:42] jonwehausen commented on #7118
### Updates EOD 3/26/2020
- Constructed charts of high-level overall va.gov metrics
- Adjusted call center metrics to closest format could get to @amycesal's sketch
- Added annotations to a few
- Want to discuss a different approach to the FAQ page metrics
- Hitting a snag with filtering data down on publichealth.va.gov (seeking assistance)

[2020-03-27 00:57] gunsch commented on #6823
Thanks for meeting today! We had a great long conversation, couple AIs that we'd like the team to make sure happen _eventually_ (not launch-blocking) and a couple we';d like to see happen _before launch_.

Eventually (not launch blocking):
- [ ] Fetch SSOe SAML metadata (public key, etc.) from public endpoint rather than checked into devops repo
- [ ] Find way to allow login during local developme

[2020-03-27 00:57] patrickvinograd commented on #7237
For the most part the substitution is straightforward, a url like
`https://www.myhealth.va.gov/mhv-portal-web/download-my-data`
becomes
`https://eauth.va.gov/mhv-portal-web/download-my-data`

HOWEVER, it looks like deep-linking to one of those features under the eauth standard junction domain does not work unless you link to `https://eauth.va.gov/mhv-portal-web/eauth` first - i.e. it seems like th

[2020-03-27 00:57] patrickvinograd commented on #7237
Here  is the list of all the destinations that VA.gov links to:

[code]

[2020-03-27 01:34] RLHecht commented on #7074
@AnneHurley The final page is now published. Moving to validate and will close after tomorrow's deploy.  FYSA @MickinSahni

[2020-03-27 01:53] MickinSahni commented on #7074
👍 Updated

[2020-03-27 02:17] MickinSahni commented on #7242
Thanks for opening this, Laura. I'm not seeing any Must accessibility items here that aren't CMS (i.e. global) accessibility issues except for https://github.com/department-of-veterans-affairs/va.gov-team/issues/6697 which is dependent on https://github.com/department-of-veterans-affairs/va.gov-team/issues/6799.

[2020-03-27 02:19] MickinSahni commented on #6375
Thanks, team. Trevor, I'm removing the `vsa-public-websites` label and the PW Epic related to the AMA changes. Leaving the 508 epic. @jenstrickland @1Copenut

[2020-03-27 02:20] MickinSahni commented on #6379
Sweet. Dropping the `vsa-public-websites` label and AMA Public Websites Epic. Thanks.

[2020-03-27 02:39] MickinSahni commented on #6339
Trevor, should this CMS item be transferred to you? @1Copenut

[2020-03-27 02:39] MickinSahni commented on #6368
Same with this one, Trevor, should this CMS item be transferred to you? @1Copenut

[2020-03-27 02:44] MickinSahni commented on #7120
sweet. prepending a 'dupe' on it

[2020-03-27 10:29] jonwehausen commented on #6970
[Current Dashboard Template](https://analytics.google.com/analytics/web/template?uid=mYlX1F5eSV2NXT93eoHTcw) - **_Work In Progress!_**

@nedierecel Could I request your assistance on a few items:
- Where did we settle in [this thread](https://github.com/department-of-veterans-affairs/va.gov-team/issues/5983) on our error tracking methodology?
- Can we surfacing a comprehensive conversion rate toda

[2020-03-27 11:33] jonwehausen commented on #5673
## 3.27 QA - @ethanteague

### Resolved
_Thanks for making the corrections! the following issues have been resolved:_
- Navigating tabs 'View' > 'Edit' on a content page is no longer is firing multiple ```pageLoad``` events 👍
- ```pageTitle``` is no longer populating with #markup in the dataLayer 👍

### Items to correct
1) Tested on this [page](/node/3067/edit) and saw multiple ```content-save```

[2020-03-27 12:17] jonwehausen commented on #3825
@kevinstachura and @luke-gcio Thanks for your patience here! Here is a markdown of what we propose for dataLayer events for the new HLR form based on what we saw above. This includes our standard form tracking framework as well as the additional questions within the form you're wishing to track (same office & informal conference).

Let us know if these make sense and if we need to make any tweaks

[2020-03-27 12:39] ricetj commented on #2801
closing and will reopen later if needed

[2020-03-27 12:39] #2801 closed

[2020-03-27 12:45] sonntag-adam opened #7294 "CT: Alert margin should be 8px instead of 4px"
On the search results page, the alerts are spaced too close

What it's currently set at
![Screen Shot 2020-03-27 at 8.43.18 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/006b7396-d05d-4bdc-b4ea-b6828f9ba6c9)

What it should be
![Screen Shot 2020-03-27 at 8.42.11 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/e3f933f6-4ab1-45da-a164-1fb5f358a140)

[2020-03-27 12:47] #2109 closed

[2020-03-27 12:53] meganhkelley commented on #7290
Scheduled for 3/31

[2020-03-27 12:54] pjhill commented on #6421
@MickinSahni -- I'm scanning through these issues.  It looks 3 out of 4 of them are closed, and it looks like they've all been resolved.  Once you've verified that the resolutions are in place, I find that it is beneficial to include test cases that verify the resolution as part of your regression testing for the next sprint or two.

@tzelei -- I'd recommend creating test cases that verify the fix

[2020-03-27 12:58] pjhill commented on #6499
If you run into any issues using TestRail and need some help figuring anything out then please contact me through Slack or pose your question in #vfs-platform-support.  I'm happy to help.

Please keep in mind that there are some tutorial write-ups and videos demonstrating various aspects of using TestRail here -- https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/platform/qu

[2020-03-27 13:11] LindseySaari commented on #7060
Testing 9.1.1 => 9.1.2 upgrade locally through vagrant workflow

[2020-03-27 13:15] johnpaulashenfelter commented on #7013
Final results

# Admin
- [x] https://github.com/department-of-veterans-affairs/devops

# Write

# TBD
- [ ] https://github.com/department-of-veterans-affairs/generator-vets-website
- [ ] https://github.com/department-of-veterans-affairs/va.gov-team
- [ ] https://github.com/department-of-veterans-affairs/va.gov-team-sensitive
- [ ] https://github.com/department-of-veterans-affairs/veteran-facing-se

[2020-03-27 13:33] joanneesteban commented on #7118
## Touchups to Current MVP

Thank you for adding all that data, @jonwehausen !! 🙌🏼

@amycesal

A few follow ups
- Adding in some of these charts for All VA.gov data is to show the baselines vs. now, or is the coronavirus changing our numbers? If so, where? First thought would be the best way to visualize is the same way the contact center numbers should be visualized. Thoughts?
- Edited some of th

[2020-03-27 13:35] #6901 closed

[2020-03-27 13:41] delli-gatti-michael commented on #7020
Round 2 of local testing complete

[2020-03-27 13:43] Samara-Strauss commented on #7287
Thanks for this! We'll add it to our backlog.

[2020-03-27 13:43] Samara-Strauss commented on #7287
cc/ @mshea0606

[2020-03-27 13:43] #6939 closed

[2020-03-27 13:49] jenstrickland opened #7295 "sitewide, components [COGNITION]: Focus outline SHOULD be consistent throughout"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

[code]

**Feedback framework**
- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

During the VA 508 Office review, on https:/

[2020-03-27 14:07] #7017 closed

[2020-03-27 14:22] pjhill commented on #7290
Given that both the App Directory and FAQ are new products, a regression test plan is not required for this effort.  I **would** encourage the team to start thinking about test scenarios that will verify these new apps are functioning correctly and being rendered appropriately across the many platforms that our Veterans use to access the platform.  It appears as though at the moment all we have is

[2020-03-27 14:25] nedierecel commented on #727
@bsmartin-ep Correct, we currently do not include the section heading.

@ncksllvn We're okay to omit so we can keep data consistent.

_Screenshot: Production Data showing Zone One interactions_
![image](https://user-images.githubusercontent.com/24525739/77765458-abab2b80-7014-11ea-9972-6245dbbd5853.png)

[2020-03-27 14:26] pjhill commented on #7153
I have not seen any test plan artifacts posted to the ticket.  I dug through TestRail a bit, but I haven't been able to find any test cases related to what I'm seeing in the product outline.  Are there any QA artifacts currently available for review?

[2020-03-27 14:27] luke-gcio opened #7296 "[Development] 526: Explore Secondary Disability Code Usage in Submit Transformer"
## User Story or Problem Statement
How might we avoid secondary disability claim errors?

This may be related to this older PR https://github.com/department-of-veterans-affairs/vets-website/pull/9893

## Goal
Reduce the number of claims errors related to secondary disabilities.

## Tasks
- [ ] Look at https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/applications/disab

[2020-03-27 14:37] zurbergram commented on #7272
https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/applications/edu-benefits/1995/helpers.jsx#L22
https://github.com/department-of-veterans-affairs/vets-api/blob/master/app/models/saved_claim/education_benefits/va1995s.rb#L6
https://github.com/department-of-veterans-affairs/vets-api/blob/master/app/models/education_benefits_claim.rb#L120
https://github.com/department-of

[2020-03-27 14:38] #6373 closed

[2020-03-27 14:38] peggygannon commented on #4946
ok, @jbalboni  thanks. So would it be more accurate for the 2nd bullet to say something about "wait for a scheduler to get back to you to schedule your open request"?

I got direction somewhere along the way that having user to call their VAMC was an action we should recommend, but I can revised this, if that is not the best option for this message.

[2020-03-27 14:39] MickinSahni opened #7297 "E2E tests to confirm Yellow Ribbon functionality"
# Description

We need E2E tests written for Yellow Ribbon work so that we can confirm its functionality continues to work as the codebase continues to change. An "E2E test" is a test that spawns a browser then automates the interaction with it, so that we can programmatically type input, refine, and click the search button.

## Acceptance criteria
- [ ] Dedicated E2E tests for Yellow Ribbon is ex

[2020-03-27 14:39] ncksllvn commented on #727
It looks like the section heading was omitted in the first place due to a bug in the code, so I just fixed that during this update. But I'll update again to remove references to the section heading so that it's consistent.

[2020-03-27 14:39] jenniferlee-dsva commented on #6905
^ removed artysmith - I think I was trying to @ aruna

[2020-03-27 14:39] wyattwalter commented on #7187
Firewall update completed last night for staging, and I'm pushing out the changes now to fixup staging. We need to request all the other environments and get setup for production still.

[2020-03-27 14:40] luke-gcio opened #7298 "[Development] 526: Look at the Review Page for 526 to Make Sure We Are Handling Removals Correctly"
## User Story or Problem Statement
How might we avoid data discrepancies when using the review page?

## Goal
No more errors between the data arrays holding the submitted/rated disabilities.

## Tasks
- [ ] Figure out if the form system has an "error" and whether it is an easy fix to correct either on the back-end (new ticket written for the form folks) or whether it is something we can fix on our

[2020-03-27 14:43] rebeccawalsh commented on #7134
Prototype links, descriptions, and content for this ticket can be found in GH here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/medical-device-tool/design/prototype-accessory-selection.md#use-case---veteran-has-no-accessories-on-record

[2020-03-27 14:44] MickinSahni commented on #7293
Adding `needs-grooming` label and placing in Ready until we're able to pickup

[2020-03-27 14:47] #6080 closed

[2020-03-27 14:49] jbalboni commented on #4946
@peggygannon I think calling is ok to recommend. I'm just saying that the first bullet shouldn't mention a number of days. It's just any open requests that need to scheduled or canceled before going any further.

[2020-03-27 14:54] kristinagore commented on #6080
- Updated https://department-of-veterans-affairs.github.io/veteran-facing-services-tools/platform/tools/feature-toggles
- Updated https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/engineering/feature-toggles.md
- Updated links to https://department-of-veterans-affairs.github.io/veteran-facing-services-tools/platform/tools/feature-toggles throughout repo

[2020-03-27 14:55] kristinagore commented on #6373
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/engineering/backend/review-instances.md

[2020-03-27 14:57] marriej opened #7299 "Security Review After Actions (for launch)"
Follow-up on ticket https://github.com/department-of-veterans-affairs/va.gov-team/issues/6823 when items are completed.

Directions from Andrew:

Some of these are "look into" items, which means they don't necessarily have a pre-determined solution. If there's something achievable that makes sense / isn't too difficult, let's try to get it in for launch. If not, we can decide case-by-case whether

[2020-03-27 15:00] mmiddaugh commented on #5288
Thanks, @jenstrickland. I will be review today and follow up with you on questions

[2020-03-27 15:01] marriej opened #7300 "Fetch SSOe SAML metadata"
Follow-up on ticket https://github.com/department-of-veterans-affairs/va.gov-team/issues/6823 when items are completed.

Note: this is an old issue, this [contemporaneous SSOe security review](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/sso/security-review/SSOSecurityReview.md) provides much of the necessary context for understanding

[2020-03-27 15:02] kristinagore opened #7301 "FE quality tools documentation"
Update Gatsby Documentation site for new FE Quality Tools (CircleCI, eslint, manual triggers, unit test output, unit test coverage report)

## User Story or Problem Statement
As a VFS developer, I need to understand the new quality tools so I can understand why I triggered a manual review and/or use them to test new functionality.

## Goal
Developers should be able to use the documentation to know

[2020-03-27 15:09] kristinagore commented on #7301
![image.png](https://images.zenhubusercontent.com/5e387fa505ac7e30c820a2da/a09c4c8c-ae32-4142-8fa5-0fc81b6a1892)

[2020-03-27 15:25] mmiddaugh commented on #7285
@jenstrickland I believe this is a duplicate for https://github.com/department-of-veterans-affairs/va.gov-team/issues/5555. Can you please confirm? If so, will you please close this one? (#5555 is already groomed)
Thank you!

[2020-03-27 15:26] mmiddaugh commented on #5555
I believe this one is a duplicate for #7285 so adding the 508-defect-2 label to this one.

[2020-03-27 15:27] mmiddaugh commented on #7288
This one may make sense to handle along with [#5555]

[2020-03-27 15:28] kelsonic opened #7302 "Sanitize Yellow Ribbon data"
# Description

The current Yellow Ribbon production CSV has 365+ unique values for the column `degree level`.

The current Yellow Ribbon production CSV has 870+ unique values for the column `division professional school`.

Ideally both of these columns would have a fixed number of unique values no greater than 5-20 so that:
1. we can start using the columns for filtering and
2. we can start showin

[2020-03-27 15:29] kelsonic commented on #7302
Updated the `degree level` column to just 7 unique values! 🎉

[YellowRibbonProgramSource_GIDS_03252020 - YellowRibbonProgramSource_GIDS_03252020-updated-degree-level.csv.zip](https://github.com/department-of-veterans-affairs/va.gov-team/files/4394399/YellowRibbonProgramSource_GIDS_03252020.-.YellowRibbonProgramSource_GIDS_03252020-updated-degree-level.csv.zip)

[2020-03-27 15:29] MickinSahni commented on #7302
Adding as unplanned sprint 18

[2020-03-27 15:30] 1Copenut opened #7303 "[CI/CD]: Review coverage of accessibility checks in Caregivers end-to-end tests"
**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

Applications **must** have thorough end-to-end tests that run in our continuous integration/continuous deployment (CI/CD) pipeline. While auditing the `/caregivers` app folder, I wasn't able to determine if coverag

[2020-03-27 15:30] camerontesterman opened #7304 "Add Prescribed Date to Supply Field"

[2020-03-27 15:32] omgitsbillryan opened #7305 "Sporadic Spec Failure: uploads_request_spec"
## The Problem
The following spec has failed the `master` vets-api build a number of times, and therefore prevented the daily deploy (2 times so far that I counted, [1](https://dsva.slack.com/archives/C0MQ281DJ/p1585247667002600), [2](https://dsva.slack.com/archives/C0MQ281DJ/p1584640829086900)).

[code]

## Additional Info
The spec mostly seems to pass but will sporadically fail.

## Work to be D

[2020-03-27 15:39] lwalsh617 commented on #6920
@jenniferlee-dsva @mnorthuis -- I didn't get SME feedback, so will call it out the following when we send out Drupal preview links:
![image](https://user-images.githubusercontent.com/53535663/77773188-a2738c00-701f-11ea-9315-e4b6265d7701.png)

[2020-03-27 15:40] MickinSahni commented on #7202
2020-03-27 PW Standup
- likely slot for Sprint 19

[2020-03-27 15:40] MickinSahni commented on #7074
2020-03-27 PW Standup
- SMC page ready to go live with next push (later today) and validated

[2020-03-27 15:42] MickinSahni commented on #727
2020-03-27 PW Standup
- New tweaks in an open PR

[2020-03-27 15:43] jbritt1 commented on #6951
Kept various conversations moving:
 - https://dsva.slack.com/archives/CBU0KDSB1/p1585322052089700
 - https://dsva.slack.com/archives/CJYRZK2HH/p1585315989083200
 - https://dsva.slack.com/archives/CBU0KDSB1/p1585316797077900
 - https://dsva.slack.com/archives/CBU0KDSB1/p1585169335026200
 - etc.

[2020-03-27 15:45] MickinSahni commented on #6928
Hey team, checking in to see if the page is now live per the [timeline on 6933](https://github.com/department-of-veterans-affairs/va.gov-team/issues/6933#issuecomment-604088603). cc @karlbrown-va @kennedycollins

[2020-03-27 15:46] ricetj commented on #4616
Process merged, looking to make sure all of VSP is following process

[2020-03-27 15:46] #4616 closed

[2020-03-27 15:48] mshea0606 commented on #6622
@Samara-Strauss closed.

[2020-03-27 15:48] #6622 closed

[2020-03-27 15:49] MickinSahni commented on #6922
2020-03-27 PW Standup
- Closing this out as node ids have been updated

[2020-03-27 15:49] #6922 closed

[2020-03-27 15:50] #7207 closed

[2020-03-27 15:54] kelsonic commented on #7293
Pulling this into sprint, hope that's ok! @MickinSahni

[2020-03-27 15:55] MickinSahni commented on #6838
2020-03-27 PW Standup
- Reviewing copy/documentation and making edits
- Updated title to reflect content-only focus (IA request in another ticket for Mikki to vet)
- We'll close out this ticket once we have follow-on ticket(s) for us to implement content changes **if necessary**. Otherwise this ticket will be the end of PW involvement.

[2020-03-27 15:56] kelsonic commented on #7133
@andaleliz Awesome! Would you mind updating the acceptance criteria if need be?

[2020-03-27 15:56] ala-yna opened #7306 "Make content changes based off program content review"
Given that the program team has reviewed the content and suggested changes
I want to comb through the feedback and update the content
So that we can provide them with updated language to review
So that we can get their approval to launch the 10-10CG.

[2020-03-27 15:58] MickinSahni commented on #7096
2020-03-27 PW Standup
- In progress
- Q: where should focus be _while_ the results are loading—the loading indicator or the submit button? Granted, once results are loaded focus will go to "Displaying results...".
  - @jenstrickland could you help us out with what's most appropriate here?

[2020-03-27 15:58] KevinMHoffmanUSDS commented on #7118
Thank for that Domo demo, @joanneesteban and team! Kudos on how quickly you've pulled all this together, and to the whole team for their work. Here's some feedback in a DO, TRY, CONSIDER format.

DO
In order to get this to a sharable state, we'll need to add
* FAQ page GA metrics we discussed
* The topics listing that @clantosswett is gathering
* For now, the VetText information incorporated as pa

[2020-03-27 15:58] ala-yna opened #7307 "Make a spreadsheet to track content changes"
Given that the program team has provided comments on the contents
I want to generate documentation to track the comments and which ones were implemented
So that we can build understanding of what changes are taking place and be able to reference the provided comments in the future.

[2020-03-27 16:01] ala-yna opened #7308 "Create a deliverable to compare all paper form content to the online 10-10CG"
Given that the program team has requested a side-by-side comparison of the paper and online versions of the 10-10CG
I want to generate a document that compares the two and highlights where all the information has gone
So that the program team can understand that the two versions of the form are compatible.

[2020-03-27 16:03] ala-yna opened #7309 "Make changes to prototype based off of content review"
Given that the program team has provided 100+ comments on the prototype
I want to generate a new version that takes their feedback into consideration
So that we can move forward with consensus on the form's design.

[2020-03-27 16:05] MickinSahni commented on #7228
2020-03-27 PW Standup
- Continuing in progress

[2020-03-27 16:05] joanneesteban commented on #7118
@amycesal @jonwehausen
Please see Kevin's comment above!

#### Follow Up

- Jon - can you add the FAQ navigation card to the dashboard? Also, would the publichealth.va.gov and the health care benefit hubs data be more easily retrievable or unblocked by BigQuery?

- [x] Added the VEText data as static text to the dashboard

[2020-03-27 16:07] #7112 closed

[2020-03-27 16:08] MickinSahni commented on #6799
- All the latest content updates are complete
- @lwalsh617 to confirm:
  -  Update individual lane pages as needed (ensuring all details on the current decision reviews and appeal page are not lost in the move)

[2020-03-27 16:09] ncksllvn commented on #6933
I believe `/scorecard` is only blocked by crawlers because the product was rolled over from Vets.gov and just wasn't revisited until now.

But yeah, like @kelsonic said, if your team wants to do some testing in the prod environment before your product is ready to be user-facing, then adding a record into `robots.txt` is an easy way to reduce traffic.

[2020-03-27 16:10] MickinSahni commented on #2052
2020-03-27 PW Standup
- Redirects on-schedule for April 6
- Note: [one redirect removed](https://github.com/department-of-veterans-affairs/va.gov-team/issues/2052#issuecomment-604015135) from list

[2020-03-27 16:10] jholton opened #7310 "eliminate need for EXCLUDE_SIDEKIQ_ENTERPRISE env var in Gemfile"
## Description
The `EXCLUDE_SIDEKIQ_ENTERPRISE` environment variable is used in the `Gemfile` to determine whether or not to attempt to install Sidekiq Pro/Ent.

The actual download/installation of these gems depends on credentials for the gem host being present.
If `EXCLUDE_SIDEKIQ_ENTERPRISE` is not set and the credentials are not present, an error occurs during gem installation.

This scenario

[2020-03-27 16:11] MickinSahni commented on #7292
Adding to sprint 18 (unplanned)

[2020-03-27 16:16] jenstrickland commented on #7096
@MickinSahni I recommend:

1. Focus moves to an indication that work is in progress (ideally this is designed in a way that is empathetic to screen reader users as well as sighted users)
    1. For example, a visual loading indicator receives focus with a screen reader only message that we are processing your search query, thank you for your patience
    1. Alternatively, there could be text displ

[2020-03-27 16:18] #7310 closed

[2020-03-27 16:26] MickinSahni opened #7311 "AMA/Decision Review Follow-on (Phase 2) x VSP Collab Cycle"
- [x] Define/Planning Kickoff-Intent- #6380
- ~Define Design intent~
- [x] Discover Usability Testing Prep - #7153
- ~Discover Research Plan Review~
- [ ]  Discover IA Request - #6920
- [x] Discover Analytics Request -#7345
- [ ] ~Build Contact Center Review~ @lwalsh617 to send Chante write-up of copy changes
- ~Build Privacy/Security Review~
- [x] Build Staging Review - #7521
- [x] Launch
  - [x]

[2020-03-27 16:32] nedierecel commented on #6382
@bsmartin-ep I will hand this task off to you as well. The intent was to do a period cleanup of the filters to ensure that our filters are still relevant. I will share any artifacts or will create new documentation.

Next steps for you:
1. Initial Review - Within the Production property, please begin combing through the view-level filters to get familiarity.
2. PII Filters - We use View settings a

[2020-03-27 16:39] #7247 closed

[2020-03-27 16:40] #7245 closed

[2020-03-27 16:40] wyattwalter opened #7312 "correct prometheus uptime check for utility"
## Description

Yesterday we had the utility Prometheus instance go offline for a bit, and the existing check didn't catch this particular case.

The check tries to make sure that the port is running and the http listener responds, so it _does_ catch when the process is completely halted, but it's not catching when Prometheus is in crash recovery. During that phase, the check was hitting `/prometh

[2020-03-27 16:40] 1Copenut opened #7313 "[CI/CD]: Review coverage of accessibility checks in Claims Status end-to-end tests"
**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

Applications **must** have thorough end-to-end tests that run in our continuous integration/continuous deployment (CI/CD) pipeline. These tests should include thorough axe checks. While auditing the `/claims-status

[2020-03-27 16:41] wyattwalter commented on #7312
The check for this is defined here: https://github.com/department-of-veterans-affairs/devops/blob/master/ansible/deployment/config/prometheus/script-exporter-vagov-prod.yml.j2#L5

[2020-03-27 16:42] nedierecel commented on #6970
@jonwehausen Confirming I received and that we can talk through this at our 2pm.

- There are ineligibility errors and API errors (the latter will be surfaced as a `vaos-error` event).
- Yes, each type of request is included in the event label, so we should be able to calculate that accordingly. For this implementation, we didn't surface it as custom metrics.
- Sure - other items are still being w

[2020-03-27 16:44] 1Copenut opened #7314 "[CI/CD]: Review coverage of accessibility checks in 526EZ end-to-end tests"
**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

Applications **must** have thorough end-to-end tests that run in our continuous integration/continuous deployment (CI/CD) pipeline. These tests should include thorough axe checks. While auditing the `/disability-be

[2020-03-27 16:50] 1Copenut opened #7315 "[CI/CD]: Review coverage of accessibility checks in 686/686c-674 end-to-end tests"
**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

Applications **must** have thorough end-to-end tests that run in our continuous integration/continuous deployment (CI/CD) pipeline. These tests should include thorough axe checks. While auditing the `/disability-be

[2020-03-27 16:53] ndsprinkle commented on #7298
After meeting with @Mottie and Chris Valarida this morning, we discovered there actually is a function in the code to handle this situation. The function is called `removeDisability` and it lives [here](https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/applications/disability-benefits/all-claims/pages/addDisabilities.js#L141). This function should be handling the remov

[2020-03-27 16:53] 1Copenut opened #7316 "[CI/CD]: Review coverage of accessibility checks in 996 end-to-end tests"
**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

Applications **must** have thorough end-to-end tests that run in our continuous integration/continuous deployment (CI/CD) pipeline. These tests should include thorough axe checks. While auditing the `/disability-be

[2020-03-27 16:55] 1Copenut opened #7318 "[CI/CD]: Review coverage of accessibility checks in 2346 end-to-end tests"
**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

Applications **must** have thorough end-to-end tests that run in our continuous integration/continuous deployment (CI/CD) pipeline. These tests should include thorough axe checks. While auditing the `/disability-be

[2020-03-27 16:57] sonntag-adam commented on #7294
https://github.com/department-of-veterans-affairs/vets-website/pull/12037

[2020-03-27 16:58] 1Copenut opened #7319 "[CI/CD]: Review coverage of accessibility checks in all-claims end-to-end tests"
**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

Applications **must** have thorough end-to-end tests that run in our continuous integration/continuous deployment (CI/CD) pipeline. These tests should include thorough axe checks. While auditing the `/disability-be

[2020-03-27 17:01] sonntag-adam commented on #7294
![Screen Shot 2020-03-27 at 1.01.36 PM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/460ba37a-d6f7-4517-a4d3-8e4b7ace99f3)

[2020-03-27 17:06] 1Copenut opened #7320 "[CI/CD]: Review coverage of accessibility checks in disability-rating-calculator end-to-end tests"
**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

Applications **must** have thorough end-to-end tests that run in our continuous integration/continuous deployment (CI/CD) pipeline. These tests should include thorough axe checks. While auditing the `/disability-be

[2020-03-27 17:12] jenstrickland commented on #7285
@mmiddaugh Yes, this is a duplicate. There's a slightly different approach in the potential fix of this issue, using the `<address>` element that may be of interest to your dev team.  cc @brangi

[2020-03-27 17:12] #7285 closed

[2020-03-27 17:13] ndsprinkle commented on #7296
After looking into this ticket this morning with @Mottie and Chris Valarida, we determined that there intentionally isn't a `newSecondaryDisabilities` array being sent to the back end. This function [here](https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/applications/disability-benefits/all-claims/submit-transformer.js#L323) takes the separate secondary array and comb

[2020-03-27 17:20] delli-gatti-michael commented on #7020
Fix for the period that should not be there is included in this PR for story #7294:
https://github.com/department-of-veterans-affairs/vets-website/pull/12037

[2020-03-27 17:22] bsmartin-ep commented on #7164
@mmiddaugh - Any thoughts on this?

[2020-03-27 17:24] MickinSahni commented on #7153
Updated with latest copy deck.

@pjhill, our conclusion was that user stories/AC would be sufficient from a QA perspective. I [added those here](https://github.com/department-of-veterans-affairs/va.gov-team/issues/6421#issuecomment-604175380). Is more necessary?

[2020-03-27 17:25] meganhkelley commented on #6312
All PMs contacted by Megan 3/27

[2020-03-27 17:29] sonntag-adam commented on #7281
https://github.com/department-of-veterans-affairs/vets-website/pull/12038

[2020-03-27 17:31] marriej opened #7321 "Spike: Research Google Analytics functionality (Security Review after-action)"
Question from Anna after. our security and Privacy Review:

Currently, we pass a Google analytics id from the originating saml request to id.me. Will this functionality remain intact with SSOe in the middle.

[2020-03-27 17:37] marriej opened #7322 "SSO Latency Measurement"
Look into ways we can measure how much add'l latency SSOe is adding to the login flow (coordinate with Anna on this).

- [ ] Establish a baseline of time to login in current state
- [ ] Compare to SSOe implementation.

[2020-03-27 17:41] marriej opened #7323 "Implement version tags/labels"
Enable Version tags/labels on statsd metrics for SAML error responses.

[2020-03-27 17:41] jonwehausen commented on #7118
@joanneesteban Top 10 FAQ Page Navigations have been added

[2020-03-27 17:46] kelsonic commented on #7293
PR is open 🙂

[2020-03-27 17:47] kelsonic commented on #7096
Unassigning myself from this ticket, but ping me if you need anything! 🙂

[2020-03-27 17:53] psanders86 commented on #7307
##### Highlighted fields were not changed

[https://app.zenhub.com/files/133843125/9210264f-9dc4-4b12-a6cd-94052da5888e/download]

[2020-03-27 17:53] #7307 closed

[2020-03-27 17:54] johnpaulashenfelter commented on #7013
Big thanks to @KevinMHoffmanUSDS for the assist here.

[2020-03-27 17:58] #7196 closed

[2020-03-27 18:01] erikphansen opened #7324 "sitewide - 508-defect-2 – Progress Button - Make Find VA Benefits work with JAWS+IE11"
There is an issue with JAWS re-reading the Find VA Benefits page when you update the selected options and navigate back to the main My VA Dashboard. We should work with Jennifer Strickland and/or Trevor Pierce to iterate on possible fixes.

[2020-03-27 18:15] jenniferlee-dsva opened #7325 "Request: Current complete list of CMS users & permissions"
## Request for the current complete list of CMS users & roles/permissions info

Could I get a list of current CMS users and their roles/permission settings?

I would also like the current state of role/permission capabilities of each role type. I know a lot of work has been done since the CMS launched, and would like to get a clearer sense of roles and permissions and different kinds of access/cap

[2020-03-27 18:20] andaleliz commented on #7133
@kelsonic adding that span to the h1 isn't part of the "bug" that's called out in this issue.  I can def update the AC but not sure if it matters to separate out the different categories of work or not.

[2020-03-27 18:20] jenniemc commented on #6279
Hi @lenaecb, I can pick this ticket up but want to make sure it doesn't need to go through Peggy for word-smithing.

[2020-03-27 18:38] lenaecb commented on #6279
Thanks @jenniemc - let me check

@peggygannon - what are your thoughts on evening vs. afternoon? After going through the flow just now, I would also assume that we would want this to say 'afternoon' as opposed to evening like it does now.

[2020-03-27 18:42] #6875 closed

[2020-03-27 18:43] #6868 closed

[2020-03-27 18:43] joanneesteban commented on #7118
Message from @clantosswett :

1. Are the metrics that VCL is reporting a good template for what we want from other call centers? What other metrics would we want delivered?
- Resolution of the call (transfer, resolved, any additional actions taken)

1. The themes section is the anecdotal information on disposition of the calls. It is heartbreaking and I think this type of information is important

[2020-03-27 18:43] #6874 closed

[2020-03-27 18:43] #6881 closed

[2020-03-27 18:49] ala-yna opened #7326 "Public Websites update request from Caregivers"
## Request

### Background
- We are launching an online version of the 10-10CG form and need changes to the Program of
Comprehensive Assistance for Family Caregivers landing page support the form. This would ideally include a CTA link to the form and some content from the paper version of the form.

 * **Is the request related to a VA.gov tool? Provide a brief description of the tool or functional

[2020-03-27 18:49] narin commented on #7093
@bsmartin-ep Looks like staging is working now if you haven't tried recently

[2020-03-27 18:50] ala-yna commented on #7326
Tagging: @psanders86, @jenniferlee-dsva, @sshein, @jonathanjnelson, @ccgongie for awareness.

[2020-03-27 18:50] bsmartin-ep commented on #7093
@nedierecel -

I believe the issue is with this code in the VAOS app:

https://github.com/department-of-veterans-affairs/vets-website/blob/b38a5be6ec384428ca9c09607205bedbf49d47c6/src/applications/vaos/actions/appointments.js#L303-L306

The _appointmentType_ and _facilityType_ fields are updated in the datalayer with the "${eventPrefix}-successful" event, but I don't see anywhere where they are be

[2020-03-27 18:51] #4059 closed

[2020-03-27 18:51] johnpaulashenfelter commented on #7078
Still two failures.

[code]

They fail reliable for

`bundle exec rake ci`
`bundle exec rake spec`
`bin/rake spec` with spring

and pass for

`bundle exec rspec spec`.. — every. time

After some digging, learned that they both have `:skip_mvi` metadata attribute (thanks @saneshark) but also consistently failing with `rake`.

No current conclusion but have narrowed down the issue signficantly.

[2020-03-27 18:51] joanneesteban commented on #7118
@jonwehausen

The updated VCL sheet. I didn't want to mess with yours.
[VCL.Metrics.3-27 with Total Covid Calls.xlsx](https://github.com/department-of-veterans-affairs/va.gov-team/files/4395374/VCL.Metrics.3-27.with.Total.Covid.Calls.xlsx)

[2020-03-27 18:55] jbritt1 commented on #6951
https://dsva.slack.com/archives/CJYRZK2HH/p1585327232090800
(#7312)

[2020-03-27 18:56] AnneHurley opened #7327 "Education rewriting/redirects - legacy"
Copied from old vets.gov ticket #17828

**User story**
As a Veteran considering or actively using the GI Bill and other VA education benefits, I want to quickly and easily see exactly how much tuition my benefits cover for different types of education and training, and how much money I can get for additional needs like housing and books.
Steps to completion

- Strategy recommendations @DanielleSoC

[2020-03-27 18:58] Samara-Strauss commented on #7264
Adding these to the above list:

- [Health care application/My VA dashboard research (April 2019)](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/application/va-application/research/user-testing/dashboard-updates/research-summary.md)

[2020-03-27 18:58] andaleliz commented on #7086
Final list of stakeholders:
- Charles Worthington
- Chris Johnston
- Lauren Alexanderson
- Samara Strauss
- Clarice Chan
- Steve Kovacs
- Andrea Schneider
- Matt Self
- Jen Lee
- Ryan Thurlwell
- Mel Woodard
- Kevin Hoffman
- John Hashimoto
- Mikki Northius
- Dave Conlon
- Andy Lewandowski

@Samara-Strauss shall I update the [research needs](https://github.com/department-of-veterans-affairs/va.gov

[2020-03-27 19:01] mmiddaugh commented on #7164
@bsmartin-ep I apologize for my delay. I missed your first comment.
I'm not not exactly following your question. I initially asked how to interpret the (not set) referral path since it represents the vast majority of our traffic. We don't expect veterans are directly navigating to the [Facility Locator search page](https://www.va.gov/find-locations/) but must be arriving from the home page or othe

[2020-03-27 19:01] AnneHurley commented on #7327
Screen shot of 3 pages already built in Drupal but not live:
<img width="1221" alt="Screen Shot 2020-03-27 at 2 56 40 PM" src="https://user-images.githubusercontent.com/46570591/77790631-642b9c00-7022-11ea-9291-8da92095978b.png">
2019 Post-9/11 GI Bill (Chapter 33) rates
2019 REAP (Chapter 1607) rates
2019 VA education benefit rates

^ Will need to be updated with2020 rates

[2020-03-27 19:02] bridgethapner commented on #7254
I logged in and st up the proxy. I'm stuck on [this step](https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/blob/master/platform/quality-assurance/cross-platform-testing-plan.md#launching-the-proxy).

[2020-03-27 19:05] AnneHurley commented on #7327
See archived issue https://github.com/department-of-veterans-affairs/vets.gov-team/issues/17828 and comment thread. It appears we have not regrouped with @jenniferlee-dsva after SME review. Some pages were built in GH and the three above have been built in Drupal.

[2020-03-27 19:06] Kimberley2019 commented on #6957
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsp/teams/insights-analytics/contact-center/technical-questions-for-agents.md

[2020-03-27 19:09] Samara-Strauss commented on #7086
I don't think we need to update that list since we'll have be able to see this full list of stakeholders reflected in research notes/the stakeholder interview summary. This looks good to close when you're ready!

[2020-03-27 19:12] rianfowler commented on #2522
thanks @wyattwalter . heads up @cvalarida

[2020-03-27 19:13] jcosta-gcio commented on #7182
The VLM endpoints need to be added to the whitelist so that we can leverage va.gov js scripts to include the VA crisis functionality and the va.gov footer as per our clients request.

At his point we are requesting the following resources at run time once the whitelist work have been completed and we actually have access to the resources we will verify if all this resources are indeed needed:

[co

[2020-03-27 19:19] AnneHurley commented on #7327
Rewritten education pages built in GitHub and not yet migrated to Drupal mentioned in this PR: https://github.com/department-of-veterans-affairs/vagov-content/pull/375

[2020-03-27 19:32] bsmartin-ep commented on #7164
@mmiddaugh -

(Correct me if I'm wrong @nedierecel ...)

I believe the _Referral Path_ is primarily _(not set)_ because _Referral Path_ refers to the file path on an **external referrer** like google.com or another non-VA site.  Because - like you said - most of our traffic is direct or from VA sites, there is no external referrer and therefore no _Referral Path_.

Here is what it looks like with

[2020-03-27 19:33] mnorthuis commented on #7327
@AnneHurley Can we separate out the writing work from the redirect please?  I don't believe I need to be on this issue.

[2020-03-27 19:39] joanneesteban commented on #7118
@jonwehausen - can we define New Users & Total Users on the chart?

[2020-03-27 19:40] bridgethapner opened #7328 "Document SSOe UX call outs for stakeholder awareness"
Document UX decisions made for the SSOe end user experience here in this Google doc: https://docs.google.com/document/d/1lw7Pm0vvnRHmKjUmUMNQyp8lxOuDN4lsGWy1iQpXhqs/edit

[2020-03-27 19:42] bridgethapner opened #7329 "Bridget - verify my CAG access"
Troubleshoot CAG access issues and verify I can access CAG to help with test cases.

[2020-03-27 19:49] tlei123 commented on #7153
@MickinSahni , per out Usability Testing Prep mtg, I'll start converting the linked tickets' user-stories into TestRail test-cases, pinging you on #vsa-public-websites DSVA Slack-channel if I have questions/problems.

@pjhill , I'll ping you on #vsp-product-support channel if/when I have questions/problems.

[2020-03-27 19:52] andaleliz commented on #7086
Linking to [notes from our meeting](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/logged-in-homepage/2.0-redesign/discovery-and-research/stakeholder-review-notes.md) and closing out.

[2020-03-27 19:52] #7086 closed

[2020-03-27 19:58] Samara-Strauss commented on #7264
Also adding ["Find VA Benefits" user testing (September 2018)](https://github.com/department-of-veterans-affairs/vets.gov-team/blob/master/Products/Identity/Personalization/Recommendations/Research/MVP%20Research/User%20Testing/Research%20Summary.md)

[2020-03-27 20:17] gmaciolek commented on #6073
Link fixed: https://department-of-veterans-affairs.github.io/veteran-facing-services-tools/getting-started/internal-tools/

[2020-03-27 20:17] #6073 closed

[2020-03-27 20:19] ccruzgra commented on #7294
@delli-gatti-michael This checks out.

[2020-03-27 20:21] psanders86 commented on #7326
Tagging: @LouCarlozo63

[2020-03-27 20:24] SgardnerPMP opened #7331 "Access for Stan Gardner - VAMC-Upgrade team - GovernmentCIO"
# Description
- Request: Please provide SOCKS proxy access as this is required to complete support work on VAMC-Upgrade product.  Access needed for: dev, staging, prod, CI environments and Jenkins.

- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please provide the name of your team, your role on that team, and the name of the company you work

[2020-03-27 20:26] delli-gatti-michael commented on #7294
Fix is now present in staging. Closing this issue

[2020-03-27 20:26] #7294 closed

[2020-03-27 20:28] delli-gatti-michael commented on #7020
Latest changes now present in staging. Closing this issue

[2020-03-27 20:28] #7020 closed

[2020-03-27 20:29] delli-gatti-michael commented on #7183
Fixes now present in staging. Closing this issue

[2020-03-27 20:29] #7183 closed

[2020-03-27 20:29] cvalarida opened #7332 "Remove Webpack from the Metalsmith script"
## Description
Webpack is currently run via the Metalsmith script. To separate the builds from each other, we need to run Webpack standalone. So we don't break anything during the transition, we need to ensure both content and applications are built the same as before.

## Goal
To split the content and application builds.

## Tasks
- [x] Add [`html-webpack-plugin`](https://github.com/jantimon/html

[2020-03-27 20:30] #6803 closed

[2020-03-27 20:30] delli-gatti-michael commented on #6803
Now present in staging. Closing this issue

[2020-03-27 20:41] RLHecht commented on #7074
Validated. Closing issue.

[2020-03-27 20:41] #7074 closed

[2020-03-27 20:42] Samara-Strauss commented on #7264
@andaleliz Feel free to take a look through the research history doc, but I think [the list in this comment](https://github.com/department-of-veterans-affairs/va.gov-team/issues/7264#issuecomment-604643663) should be a good enough compilation of past research/context setting. If there's something else you'd like to include, feel free to add it to the list. Otherwise, I think my personal review is

[2020-03-27 20:43] sporeboy commented on #6962
The initial View Payments concept mockups are here: https://xd.adobe.com/view/5f609803-b045-428a-510e-1754e404af3e-2951/

[2020-03-27 20:44] nedierecel commented on #7199
@jonwehausen @bsmartin-ep This is a new analytics request to review. Thanks!

[2020-03-27 20:45] nedierecel commented on #4552
@ncksllvn When this is ready for Analytics-Insights, can you please tag @bsmartin-ep and @jonwehausen in the comments.

CC: @joanneesteban

[2020-03-27 21:00] rileyorr commented on #6780
I've added the Invision mockup and the content as a Word document to be reviewed by the content team to [this GH markdown file](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/medical-device-tool/design/prototype-drupal-pages.md).

[2020-03-27 21:07] meganhkelley commented on #7153
Group met today to regroup as there was still confusion on the scope of this work and how it should be integrated with the VSP Collaboration Cycle.

Notes & decisions:
IA - already involved!
QA - Context was helpful! Tze and Peter are going to keep in touch as they work on this and collaborate with Mickin as needed
Accessibility — V1 audit complete! V2 - accessibility will review in staging
Conten

[2020-03-27 21:08] meganhkelley commented on #7311
The list documented here of Collaboration Cycle points that apply to this work has been reviewed and approved by VSP! ✅

[2020-03-27 21:09] ethanteague commented on #5673
Thanks, @jonwehausen :+1: - updated

[2020-03-27 21:12] AnneHurley commented on #7327
@mikki This ticket duplicates the expired ticket https://github.com/department-of-veterans-affairs/vets.gov-team/issues/17828   - And that ticket is made up of all the education URLs needing to be redirected in our current Education Redirect ticket, which you are on. That's why I added you. Feel free to take yourself off.

[2020-03-27 21:12] Mottie commented on #6797
The problem appears to be that if the save-in-progress data provides a `reservesNationalGuardService` entry without a corresponding "Reserves" or "National Guard" service entry (within the `servicePeriods` array). This block is still submitted; which may or may not include valid data or a `unitName`.

I believe the fix would be to not include the `reservesNationalGuardService` block if the user ha

[2020-03-27 21:28] jbritt1 commented on #6951
https://dsva.slack.com/archives/CQHBJ5U06/p1585343092045000

[2020-03-27 21:30] mmiddaugh opened #7333 "Make active_status available to front end"
## User Story
As a Veteran, I want to see facility level operating status within the Facility Locator so that I will which facilities are open to provide services.

## Goal
Facility level ` active_status` can be displayed.
Particular use case: Operating status during COVID-19
This is not intended as veteran facing filter at this time.

**This is relevant to all VA facility types**

## Objectives o

[2020-03-27 21:32] mmiddaugh commented on #7333
fyi, @arickalewis1 and @davidconlon
according to VA Facilities API:

[2020-03-27 21:55] AnneHurley commented on #2211
@MickinSahni  This does need grooming after all; several of the above new URLs have not been built in Drupal yet, so to do redirects that has to happen first. We should regroup Monday to figure out a plan. @beeyayjay  and @RLHecht  and @lunascoop  fysa

[2020-03-27 21:56] peggygannon commented on #6748
Hello, @tressaellen and @careyotto Below are additional content and some followup questions. Thx.

1. Screen 1

Question: Do you want to move forward with a helper link "what is a third-party app?" If so, i can provide content under that link.

**Connected apps**
You don’t have any third-party apps or websites connected to your Veteran profile. If you connect a third-party app to your profile, it

[2020-03-27 22:00] peggygannon commented on #7153
Hello all, I'm ok with doing my next content review during staging.

[2020-03-27 22:08] peggygannon commented on #4946
Ok, here you go!

**You’ve reached the limit for appointment requests at this location**
Our records show that you have an open appointment request at this location. We can’t schedule any more appointments at this facility until your open requests are scheduled or canceled.
To schedule or cancel your open appointments:

• Go to [your appointment list](link to Appointment card screen) and cancel op

[2020-03-27 22:16] 1Copenut commented on #3917
Thank you Desiree. I sent the update to the VA 508 office.

On Thu, Mar 26, 2020 at 10:29 AM TamGIBill <notifications@github.com> wrote:

--
Trevor Pierce
402.646.8542

[2020-03-27 22:17] 1Copenut commented on #3918
Thank you Desiree. I sent the update to the VA 508 office.

[2020-03-27 22:18] 1Copenut commented on #3919
Thank you Desiree. I sent the update to the VA 508 office.

[2020-03-27 22:18] 1Copenut commented on #3869
Thank you Desiree. I sent the update to the VA 508 office.

[2020-03-27 22:20] #4440 closed

[2020-03-27 22:40] Mottie opened #7335 "[Development] Remove reserve prefill data as needed"
## What happened?

Given a situation when a user is submitting form 21-526EZ for a disability increase. And they have 1) prefill data provided by the save-in-progress component that includes their Reserve or National Guard service obligation dates, and 2) the user doesn't enter any reserve service periods into the form; the form submission includes this data. EVSS reports an issue with the data st

[2020-03-27 22:40] Mottie commented on #6797
Opened a fix ticket - https://github.com/department-of-veterans-affairs/va.gov-team/issues/7335

[2020-03-27 22:40] #6797 closed

[2020-03-27 22:42] mmiddaugh opened #7336 "Analytics Implementation or QA Support for VAMC"
# Analytics Implementation or QA Request

## What this form is for
Use this template to request Google Tag Manager and Google Analytics implementation or QA for your product. Please fill out all brackets.

## Description
This request is for Google Analytics implementation

Who is this request for?

    - Michelle Middaugh

What team/project is this work for?
    - Facilities: Left Nav enhancement

[2020-03-27 22:47] patrickvinograd opened #7337 "Bug: MHV user getting blocked with "No MHV Account" prompt on health feature page"
During joint testing with IAM, worked through scenario of an MHV Basic account authenticating via SSOe that was identity proofed with ID.me and matched up to an MVI record as a VA patient.

This user should be able to perform MHV account upgrade, but instead got prompted with error:
"Please create a My HealtheVet account to secure message  your provider"

Frontend code pops this warning if mhvAcco

[2020-03-27 23:01] patrickvinograd commented on #7337
The mhvAccount object is not in the user profile, it's fetched from a separate API call to the `/mhv_account` resource. That call for this user is resulting in
[code]
That in turn tries to get current_user.mhv_account. That's creating an mhv_account object (since the state machine moves to needs_terms_acceptance) but accountLevel is null. That in turn is calling user.mhv_account_type which is
[cod

[2020-03-27 23:18] #6962 closed

[2020-03-27 23:18] amyknox commented on #6876
@dneel-bah @desireeturner - think we need to carry this over due to new VSP Collab / Analytics Request... we have to submit a story AND meet with VSP Analytics to review.

[2020-03-27 23:19] jason-gcio commented on #6792
🙌

[2020-03-27 23:19] #6792 closed

[2020-03-27 23:24] peggygannon commented on #5839
Hello, @bridgethapner Here is my content feedback. I also left feedback in the mockup. thank you!

Updates to first content block:

Change *With VA Online Scheduling you can:** TO

**With the VA appointments tool you can:**

Remove last bullet in that list: Add non-VA to your health calendar

**With My VA Health you can:**

------

2nd content block:
I have a question, about the first line pointin

[2020-03-27 23:55] patrickvinograd commented on #7337
lib/saml/user_attributes/ssoe.rb is not exposing an mhv_account_type attribute so that's where things go missing.

[2020-03-28 01:36] patrickvinograd commented on #7076
Might be able to just set ForceAuthn unilaterally for any of the "first-round" login requests `{idme/mhv/dslogon}_url` in url_service.

[2020-03-28 01:37] patrickvinograd commented on #7137
Fixed via above PR in conjunction with https://github.com/department-of-veterans-affairs/devops/pull/6600

[2020-03-28 01:37] #7137 closed

[2020-03-28 01:44] patrickvinograd commented on #6536
We are requesting a waiver for load testing before launch of SSOe integration.

From vets-api infrastructure perspective, the SSOe integration is effectively a 1:1 swap of traffic previously received from ID.me (in the form of SAML assertions to the v0 sessions callback endpoint) for traffic received from SSOe (SAML assertions to the v1 sessions callback endpoint). There is no reason to expect tha

[2020-03-28 02:05] careyotto commented on #6866
**Design reviewers:** Would love your nerdy design thoughts on the "additional info" app widget in these designs. What's in the mock doesn't feel quite there.

@tressaellen and I want to land on something that will work equally well here and on the [connected apps page](https://github.com/department-of-veterans-affairs/va.gov-team/issues/6478#issuecomment-601813400). Have been exploring swapping o

[2020-03-28 19:40] #7153 closed

[2020-03-28 20:38] MickinSahni commented on #6900
Hi Tze, in short:
1. Yes, it will Pass.
2. Just like 1., it will pass by validating that people can navigate to their expected destinations. This relates to the **Manage your VA and other information online** section near the bottom here: https://www.va.gov/find-form (Lmk if you're in need of credentials). The design is also available in Ryan's screenshot although the header doesn't match the head

[2020-03-29 19:36] EdwardBoehme05 opened #7338 "Access for Edward Boehme - VAMC-Upgrade team - GovernmentCIO"
•	Description:  Please provide SOCKS proxy access as this is required to complete support work on VAMC-Upgrade product.  Access needed for: dev, staging, prod,  CI environments and Jenkins.

•	 Please provide your Contracting Officer's Representative (COR) name.

•	 Please provide your name.

•	 Please provide the name of your team, your role on that team, and the name of the company you work for.

[2020-03-29 23:36] MickinSahni opened #7339 "Request a VSA 508 spot check review for AMA/Decision Review Part 2"
### For reference

**VSA Development Review** - [https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/accessibility/vsa-accessibility-review-process.md#development-review](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/accessibility/vsa-accessibility-review-process.md#development-review)

## Team Name

Public Websites

## Product/

[2020-03-30 00:56] #127 closed

[2020-03-30 00:57] #194 closed

[2020-03-30 00:59] #125 closed

[2020-03-30 01:03] #2116 closed

[2020-03-30 01:06] andreahewitt-odd opened #7340 "Design system -- Improve Experience for VFS teams"
**Painpoint:** VFS teams don't know when components are added to design system. VFS teams don't know how to request things are added to design system. VSP doesn't think everything in design system is accessible. Not everything across sketch, formation and react are consistent.
**How will we solve the pain point:** Building a governance model. Auditing and fixing accessibility issues. Auditing and

[2020-03-30 01:08] andreahewitt-odd opened #7341 "Accessibility — Automate Manual Processes"
**Painpoint:** We can't scale up the number of teams we support with the current accessibility processes we have in place.
**How will we solve the pain point:** Identify and automate any parts of the manual accessibility audit that we can.
**The desired outcome:** VFS teams have tools and guardrails in place to ensure their code/features/products/enhancements are meeting VA's accessibility best pr

[2020-03-30 01:10] andreahewitt-odd opened #7342 "VSP Collaboration Cycle — V2: Conduct User Research & Improve Scalability"
### High Level User Story/ies
As a VFS team, I want to be able to use VSP's collaboration cycle without feeling like I'm being unnecessarily slowed down so that I can develop in an agile framework.

As a VSP team member, I want to be able to use the collaboration cycle to make sure that features and products being launched are meeting the best practices of my practice area so that I can feel confi

[2020-03-30 01:12] andreahewitt-odd opened #7343 "Increase quality of test coverage"
Enhance TestRail integration

- CI/CD pipeline pulls: logic in place to determine “If this build has appropriate manual test coverage that has been executed and passed in the past nn business days then proceed with build.”  Or, "If this build has a test run associated with it that is in a 'passed' state then proceed with build."
- CI/CD pipeline pushes: Automated test results, accessibility test r

[2020-03-30 01:13] #3666 closed

[2020-03-30 01:57] nedierecel commented on #6382
@bsmartin-ep I added a subtask for you to please review.

[2020-03-30 02:37] MickinSahni opened #7344 "Request a VSA spot check review for Public Websites Yellow Ribbon"
### For reference

**VSA Development Review** - [https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/accessibility/vsa-accessibility-review-process.md#development-review](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/accessibility/vsa-accessibility-review-process.md#development-review)

## Team Name

Public Websites

## Product/

[2020-03-30 03:00] MickinSahni opened #7345 "Analytics Implementation or QA Support for Decision Review/AMA Part 2"
# Analytics Implementation or QA Request

## What this form is for
Use this template to request Google Tag Manager and Google Analytics implementation or QA for your product. Please fill out all brackets.

## Description
- Is this request for Google Analytics implementation or QA?
Google Analytics, potentially Foresee

- **Who is this request for?**
  - @MickinSahni

- **What team/project is this