[2020-08-25 15:30] sonntag-adam commented on #12230
![Screen Shot 2020-08-25 at 11.27.46 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/b587ed14-425a-46be-a075-e55a52cd9a00)

[2020-08-25 15:36] sonntag-adam commented on #12230
https://dsvavsp.testrail.io/index.php?/runs/view/671&group_by=cases:section_id&group_order=asc&group_id=46

[2020-08-25 15:38] kelsonic commented on #11579
![image](https://user-images.githubusercontent.com/12773166/91194520-75520500-e6b5-11ea-89ab-5c27abb1e45a.png)

On this page: http://localhost:3001/cerner-staging/records/

Two links are going to the same destination and have close proximity/context to one another:

![image](https://user-images.githubusercontent.com/12773166/91195890-aed74000-e6b6-11ea-94de-8fe4e5c778bd.png)

[2020-08-25 15:39] Samara-Strauss commented on #12786
I am 99% sure this is the issue where the user has multiple identities at the VA so the backend system isn't able to verify him. I am basing this on his profile not loading coupled with the Letters tool not working. This is exactly what was reported to us back in May.

Unfortunately, there is nothing we can do about this because we don't manage identity at the VA. Even our identity team can't do a

[2020-08-25 15:39] joanneesteban commented on #12182
@ala-yna - let us know if you want the behavioral tracking for 1010ez?

[2020-08-25 15:40] jenniferlee-dsva commented on #12329
Hi @andaleliz - Either way, I prefer we gather data by actual card sort rather than via survey feedback.

Flagging @JeffBarnesUSDS to confirm one way/other re asking questions at the end of a card sort - whether that needs OMB survey approval.

[2020-08-25 15:42] kelsonic commented on #11579
## On this page: https://staging.va.gov/cerner-staging/results/

Can't fix this since this is a common CTA widget and it will mess up the heading levels on all other pages where CTA widgets are used.

![image](https://user-images.githubusercontent.com/12773166/91196328-3ae96780-e6b7-11ea-974c-a3c5885e77d1.png)

[2020-08-25 15:43] leahkeeler opened #12788 "eFolders - Type ahead for search"
As a veteran who is looking for a document on eFolders, I want. the ability to be able to start typing the document and have the choices narrow down as I type in real time.

[2020-08-25 15:43] mmiddaugh commented on #11474
Conversation with VAOS is related

[2020-08-25 15:44] delli-gatti-michael commented on #8004
Local testing complete for this story

[2020-08-25 15:45] #10842 closed

[2020-08-25 15:45] #10966 closed

[2020-08-25 15:45] kelsonic commented on #11579
PR is up for fixing some a11y issues found during the staging review 🎉 Once this is merged, then this ticket will be ready for validation + closing! CC @MickinSahni

[2020-08-25 15:45] #7935 closed

[2020-08-25 15:50] jonathanjnelson opened #12789 "Design intent Collaboration [Address Project Form 10-10EZ]"
## Steps to complete Design Intent Collaboration
- [x] Product Manager or Designer: create this issue and fill in feature name in the title and other bolded information appropriately
- [X] Link to this issue once created in #design in Slack; tag @ Crystabel Reiter @ Emily
- [X] Crystabel and Emily to schedule meeting with VSP reviewers and **requesting team** attendees (as listed below)
- [X] At l

[2020-08-25 15:51] jenniferlee-dsva commented on #12329
RE first bullet point:

@bethpottsVADEPO  @DanielleThierryUSDSVA and I discussed this during last week's working session. Our concern about including all 3 variations in one card sort is that it will definitely skew comprehension bc:
1/ The other labels map 1:1 to articles.
2/ But by having all 3 older/elderly/65+ labels together, by juxtaposition, it already breaks the pattern of a label mapping

[2020-08-25 15:58] hughes-dustin commented on #12464
For running the Cypress e2e tests:
Go to `vets-website` in terminal and run:
`yarn cy:run --spec "src/applications/edu-benefits/10203/tests/edu-10203.cypress.spec.js"`.

Cypress will generate a mp4 for the test located at: `vets-website/cypress/videos`.

[2020-08-25 16:01] elder-joseph opened #12791 "Access for Joseph Elder"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Add a comment @department-of-veterans-affairs/vsp-operations to ping the operations team
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please

[2020-08-25 16:03] hughes-dustin commented on #12464
Axe checks are automatic so there is no need to create a manual check. See [documentation](https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/platform/testing/e2e/cypress/support/form-tester/README.md#accessibility) for more info.

[2020-08-25 16:03] jenniferlee-dsva commented on #11012
Replying in reverse order:

Sounds good. Simpler.

Yes, that sounds reasonable and I think we can def hit that 8/31 target.

I submitted MD edits in a branch. You should have it in your review/assigned queue. Per my PR comments, please be sure to vet the final email text with @lalexanderson-dsva and @JeffBarnesUSDS to make sure we're not veering into PRA violation territory. Thank you @andaleliz

[2020-08-25 16:04] ndsprinkle commented on #12657
Robin and I believe using `hideHeaderRow` will fix this issue. However, this also seems to hide the edit button which technically does need to be there if want the user to be able to edit separation location on the review page. I will consult with Kevin on this to see what he thinks. I have also consulted with Kevin about moving separation location to its own page which would theoretically fix all

[2020-08-25 16:04] hughes-dustin commented on #12464
branch: bah-12464
PR: https://github.com/department-of-veterans-affairs/vets-website/pull/14007

[2020-08-25 16:10] Kimberley2019 commented on #12786
@Samara-Strauss I have passed this information along to the user.  Hopefully this will be helpful to him.  This ticket will now be closed out.

[2020-08-25 16:10] #12786 closed

[2020-08-25 16:12] jbritt1 commented on #12791
### For AWS access:
User: Joseph Elder
COR: Doris Lin
Approval needed: @Jeff-Hayter

[2020-08-25 16:14] luke-gcio opened #12792 "[Development] BDD: Separation Location Pulled from API not HardCoded"
## Issue Description
Looks like we are still hardcoding separation location and not calling the endpoint developed by the back end.  This story is to integrate and remove the hardcoded file here: https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/applications/disability-benefits/all-claims/content/separationLocations.js

The endpoint is
[v0/disability_compensation_form/

[2020-08-25 16:14] bmcgrady-ep commented on #12698
@QaysarA - Thank you for the clarification. I will let you know when this request is fulfilled.

[2020-08-25 16:14] #12717 closed

[2020-08-25 16:16] erikphansen commented on #12727
Handled by https://github.com/department-of-veterans-affairs/vets-website/pull/14002. It's been merged. There is no good way to validate this so I'm closing it.

[2020-08-25 16:16] #12727 closed

[2020-08-25 16:18] tlei123 commented on #12774
Thx, @ala-yna !

@jenniferlee-dsva @MickinSahni , feel free to Close this ticket unless you'd like to keep this as a reminder for later.

[2020-08-25 16:22] #10032 closed

[2020-08-25 16:28] bsmartin-ep commented on #11513
@joanneesteban / @jonwehausen -

Cards have been updated to new monthly BQ datasets.  Looking a lot closer now.

[Old](https://va-gov.domo.com/page/1475431113/kpis/details/291701415)|[New BQ](https://va-gov.domo.com/page/1587068891/kpis/details/970194194)
---|---
![image](https://user-images.githubusercontent.com/62304138/91200986-e3a2c180-e6cd-11ea-91ef-29a497074646.png)|![image](https://user-ima

[2020-08-25 16:29] MickinSahni commented on #12774
Thanks for the find! We're launching form detail pages before caregiver's launch anticipated in september so will be good to go. closing this out for now. 🙇

[2020-08-25 16:29] #12774 closed

[2020-08-25 16:33] ricetj opened #12793 "Modify Lighthouse Developers Group to allow access for various job-related services"
## Description
It seems that the main services that Lighthouse devs need access right away, are services in AWS. This means they would need limited AWS access (only to CodeBuild) as soon as they are onboarded in order for them to start working.

## Background/context/resources
Ref:
- https://dsva.slack.com/archives/CJYRZK2HH/p1598369837054900
- https://dsva.slack.com/archives/CJRQ85PQB/p1598370787

[2020-08-25 16:34] annaswims commented on #12792
related: https://github.com/department-of-veterans-affairs/va.gov-team/issues/10275

[2020-08-25 16:37] delli-gatti-michael commented on #12464
[Cypress_10203_test.mp4.zip](https://github.com/department-of-veterans-affairs/va.gov-team/files/5125116/Cypress_10203_test.mp4.zip)

Test passes locally. Captured video atatched

[2020-08-25 16:43] dmccurdybah commented on #12362
## Institution Ranking CSV Import

### Columns
- `ranker_id` (`string`)
  - The format of this isn't known, so `string` gives us the most flexibility.
- `facility_code` (`string`)
- `overall_experience` (`int`)
  - The rating columns can be a value of 1 to 5 stars with `null` or `0` being treated as a "N/A" rating.  Anything over a 5 will be treated as a 5.
- `quality_of_classes` (`int`)
- `online

[2020-08-25 16:45] jonathanjnelson opened #12794 "10-10CG Signature page (two check boxes)"
## Issue Description
As a CSC,
I would like to see a PDF that indicates whether the Primary Family Caregiver is:

An immediate family member
Not an immediate family but currently lives with the Veteran full time or will do so upon to approval to the PFAFC
Note: designs are still in progress, and it's possible we might not need to make any front end changes.

---
## Tasks
- [X] Redesign signature p

[2020-08-25 16:53] #12362 closed

[2020-08-25 16:53] sonntag-adam opened #12795 "STEM: Exit application button going to wrong link"
Steps to reproduce:
Navigate to Chapter 3 of https://staging.va.gov/education/other-va-education-benefits/stem-scholarship/apply-for-scholarship-form-22-10203/benefits/confirm-eligibility. Select the "Exit application" button. It navigates to https://staging.va.gov/education/about-gi-bill-benefits/ and opens in a new tab

##
Expected behavior:

The link should go to https://staging.va.gov/educatio

[2020-08-25 17:02] ksantiagomorgan6 commented on #12795
pull request: https://github.com/department-of-veterans-affairs/vets-website/pull/14008

[2020-08-25 17:07] andaleliz commented on #11491
talked to @rtwell today; he has this underway and will take care of this.

[2020-08-25 17:08] andaleliz commented on #11490
talked to @rtwell today; he has this underway and will take care of this.

[2020-08-25 17:08] joanneesteban commented on #11513
Great!  Thanks, @bsmartin-ep ! Do you know why the July numbers for page views would have changed more than the others?

@amycesal , since these reports will start to go out next week, if we're ready to switch over the datasets to BigQuery let's start thinking about how to add annotations that display what the changes are and the value.

[2020-08-25 17:11] joanneesteban commented on #10780
fysa @bsmartin-ep @bmcgrady-ep ^

[2020-08-25 17:12] andaleliz commented on #12758
talked to @rtwell today; he has this underway and will take care of this.

[2020-08-25 17:13] andaleliz commented on #12758
talked to @rtwell today; he has this in progress already and will take care of this.

[2020-08-25 17:15] andaleliz commented on #12761
@rtwell and I synced today and he mocked this up in the call. Assigning over to him to wrap up/close out.

[2020-08-25 17:17] rileyorr commented on #11902
Hey, @peggygannon! No worries - I know you've got a lot on your plate :) I updated the COVID empty state with your suggested content, so we should be good to close this ticket!

[2020-08-25 17:24] luke-gcio commented on #11814
We are no longer going to spend time differentiating between All and Original Claims.

[2020-08-25 17:24] #11814 closed

[2020-08-25 17:25] DanielleThierryUSDSVA commented on #7286
Hi @Samara-Strauss. Dropping in the live site updated content. Let me know if you have any questions. Thanks!

![image](https://user-images.githubusercontent.com/62957278/91207187-63348e80-e6d6-11ea-8614-2c4a7737ec56.png)

[2020-08-25 17:27] DanielleThierryUSDSVA commented on #12762
Hi @Samara-Strauss. Adding latest design/content here as well. Thanks!

![image](https://user-images.githubusercontent.com/62957278/91207399-b0b0fb80-e6d6-11ea-8eb6-bc93636e7839.png)

[2020-08-25 17:28] short000 opened #12796 "Parameterized Forms (JSON-driven, dynamic)"
### User story
As a VSF developer, I want to pass in parameters to a form to dynamically customize questions, answers, text, or functionality, so that we can have one such parametrized dynamic form rather than maintaining a large set of similar forms.

### Additional details/notes/links
WIP: I am not 100% percent sure on this one yet, but it comes down to the questions "When the form best able to

[2020-08-25 17:30] peggygannon commented on #11902
ok, sounds good. thank you!

[2020-08-25 17:31] CrystabelReiter commented on #12789
Scheduled for August 31 3:30 PM EST

[2020-08-25 17:32] dneel-bah opened #12797 "STEM: Update spool file benefit and document types"
As an EDU team member, I need the spool file to have a valid benefit and document type so that the TIMS system can appropriately process the data entry.

## Assumptions:
1. This work is done behind feature flag #7271.

## Acceptance Criteria:
1. The 7th line of the spool file header is: "STEM1995"
2. The 10th line of the spool file header is: "CH33"

## Supporting Artifact:
1. [10203_Spool_2020082

[2020-08-25 17:39] short000 opened #12798 "Better support for read-only data"
### User story
 As a VFS developer, I need to the forms library to direct support read-only data, so that I can avoid inconsistent workarounds involving empty schemas and empty objects.

### Additional details/notes/links
Read-only data is only pseudo supported, with a variety of ways that teams have gotten around this, (empty schemas, empty objects) but a consistent way to deal with this would be

[2020-08-25 17:39] andaleliz commented on #11012
@jenniferlee-dsva I'm not seeing any active branches from you, or anything in my review/assigned queue. Can you double check that I'm assigned?

I think Lauren will review email template as part of the review process of the research plan but will also check w/ Jeff too.

[2020-08-25 17:49] KevinMHoffmanUSDS commented on #12323
This global design system change is approved, and FE should implement.

[2020-08-25 17:49] narin commented on #10662
Hi @bsmartin-ep.  After some additional discussion, we were thinking a more specific event for this particular alert would be preferable.  There are several alerts throughout VAOS, but this one is more important to track.  Would something like the following work?

* Alert displayed: `vaos-update-address-alert-displayed`
* User clicked `vaos-update-address-alert-link-clicked`

[2020-08-25 17:50] dneel-bah opened #12799 "STEM: Update Spool File Header Document Type"
As an EDU team member, I need the spool file to use the new V10203 document type so that the TIMS system can appropriately process the data entry.

## Assumptions:
1. TIMS is configured to receive the new document type as of 2020-09-02.
2. The Feature Flag is configured per environment.
    a. Feature flag for spool header is available in both vets-api repo.
3. When the feature flag is:
     a. Of

[2020-08-25 17:57] RLHecht commented on #11649
Validated on live site. Closing ticket. FYSA @MickinSahni

[2020-08-25 17:57] #11649 closed

[2020-08-25 17:59] mshea0606 commented on #12727
@erikphansen thanks for the heads up!

[2020-08-25 17:59] RLHecht commented on #12645
Closing this ticket. Next steps for this work are tracked in #12347. FYSA @MickinSahni

[2020-08-25 17:59] #12645 closed

[2020-08-25 18:04] luke-gcio opened #12800 "[Development] BDD: Make Banking Info Required for Now"
## Issue Description
We are getting errors on BDD submissions if there is no banking info submitted.  For some reason, EVSS is allowing 526 to go through on the same endpoint with no banking info.  There must be some other logic for BDD.  Short term fix is make it required. We are starting convo with EVSS in the meantime.

## Acceptance Criteria
- [ ] We force validate banking info for BDD only
--

[2020-08-25 18:05] luke-gcio commented on #4313
Closing as OBE.  We have review capability for banking info.

[2020-08-25 18:05] #4313 closed

[2020-08-25 18:08] short000 opened #12801 "Better internal component documentation"
### User story
As a VFS developer, I need documentation for internal forms components so that I understand why they exist and how to leverage them.

### Additional details/notes/links
A better insight into the components under the hood. There is good enough docs around the basic big building blocks, but in the code there are several form components that are not documented anywhere, such as "Schema

[2020-08-25 18:10] mshea0606 opened #12802 "[FE] update profile header when no military info is available"
## Background
See ticket: [Design] update profile header when no military info is available #11532

<img width="634" alt="Screen Shot 2020-08-25 at 2 11 15 PM" src="https://user-images.githubusercontent.com/60523453/91211521-ea850080-e6dc-11ea-9744-73de41382e45.png">

# Tasks
- [ ] Update header

[2020-08-25 18:11] psanders86 commented on #12766
# Content changes #

The following changes to the 10-10CG form are in response to the program's team's feedback from Aug. 21, 2020.

## Issue 1: Change phone number ##

*Everywhere the “Need Help” phone number of 877-222-8387, we need to have it changed to 855-488-8440.  This is the same office, but a number specific to PCAFC questions.*

The phone number 877-222-8387 (877-222-VETS) is a well-publ

[2020-08-25 18:12] #11532 closed

[2020-08-25 18:12] psanders86 commented on #12766
Added @jonathanjnelson to this so he can get notifications.

[2020-08-25 18:15] luke-gcio commented on #12540
Closing as duplicate, started this during meeting and then made a new one after meeting.

[2020-08-25 18:15] #12540 closed

[2020-08-25 18:17] rebeccawalsh commented on #11947
- [Readout](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/debt-letters-mvp/research/usability-july20/usability-readout.md)
- [Presentation](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/debt-letters-mvp/research/usability-july20/Debt%20Letters%20Usability%20Test.pptx)

[2020-08-25 18:20] ala-yna commented on #12748
Hi @Kimberley2019  - we're still refining some of the questions on the for, so I wasn't sure if it made sense to go through the steps to create a full video - since some of the fields be changing soon. What do you think?

[2020-08-25 18:22] jonathanjnelson opened #12803 "Medical Facility Form 10-10CG"
## Issue Description
_What details are necessary for understanding the specific work or request tracked by this issue?_

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attac

[2020-08-25 18:24] short000 opened #12804 "Form Content Management"
### User story
As a non-technical person, I want to be able to change content on the form (content limited to wording of the question) so that I can quickly make updates to the content without involving development resources.

### Additional details/notes/links
A way to config forms content that does not require a developer. The idea is that it shouldn't take a developer to update the content that

[2020-08-25 18:26] leahkeeler opened #12805 "eFolders Sort list of documents"
As a veteran I would like the ability to sort the list of returned documents by name and date

[2020-08-25 18:29] michaelkimball commented on #12371
Still need AWS Access. If it's possible, I also need access to the Parameter Store

[2020-08-25 18:34] joanneesteban commented on #11485
### Feedback for where to put the Playbook

- [ ] Access: where is the friendliest, most accessible location?
- [ ] Usability: can people interact with it? Click links, view images, easily distinguish sections
- [ ] Iterability: can we iterate on the playbook while ensuring that users receive the updated content?
- [ ] Analytics: where can we track if people are viewing and interacting with it?

[2020-08-25 18:38] joanneesteban commented on #12619
### Feedback for KPI Framwork

- [ ] DO: Retrieve feedback from Chris J, Jeff B
- [ ] TRY: Retrieve feedback from Dave C, John H, Jenn L, Matt S, and Steve K
- [ ] Feedback session ideas:
  - 45 minute Zoom - 15 minute walk through, 15 minute Q&A, 15 minute discussion/free form feedback
  - 45 minute Zoom - 15 minute walk through, 15 minute Optimal Workshop feedback, 15 minute discussion/free form

[2020-08-25 18:39] rebeccawalsh commented on #11786
Topline was rolled up into the full readout due to not having to present topline

[2020-08-25 18:39] Kimberley2019 commented on #12748
@ala-yna It makes sense to hold off on the video and transcript if there are still changes to be made, it's better to send them the most up to date version.  These changes will not effect the current product guide that needs to be sent over for review correct?

[2020-08-25 18:43] ericbuckley commented on #12330
I put together a [script to analyze](https://gist.github.com/ericbuckley/38e234b34cc69c2ee03ce3089edc8a26) how often the auto logins are happening.

I wouldn't say its widespread, but it's clearly happening a couple of hundred times a day.  Looking at this time period, 08/24/2020 08:00 EDT to 08/24/2020 17:00 EDT, I got these counts per browser.

#### definitions

- **auto login loop**: the user a

[2020-08-25 18:44] Samara-Strauss commented on #12762
Thanks for this! Can you copy/past the copy in plain text here for easier handoff to FE?

[2020-08-25 18:46] jonathanjnelson opened #12806 "Caregiver revisions based on program & Veteran feedback"
## Issue Description
During beta testing with online 10-10CG, Caregiver Support Coordinators and Veterans/caregivers had feedback regarding certain screens. We have made design changes that the program has approved, and want to run them by VSP Content/Design/A11y leads before we code them.

We have included the new designs below. Program feedback that we integrated includes:

- Intro page
     - C

[2020-08-25 18:46] ndsprinkle commented on #12657
Agreed on solution with design to move separation location to its own page. A PR has been created and linked to this ticket.

[2020-08-25 18:46] Samara-Strauss commented on #12762
Sorry, forgot to @-you. @DanielleSoCompany ☝️

[2020-08-25 18:49] joanneesteban opened #12807 "Content review for the analytics playbook"
## Issue Description
The VSP Analytics & Insights team is creating an MVP for an analytics playbook for VFS product decision makers to use to understand how to use KPIs on their VA.gov products and to understand the resources available to help with this process. How might we improve the content of our MVP so that it's consistent, accessible, and understandable?

---
## Tasks
- [x] VSP Content & IA

[2020-08-25 18:55] short000 opened #12808 "Customizable Review Page"
### User story
As a VSF developer I need the form's review page to be customizable so that we don't have to artificially compromise the user experience for development effort/time or vice-versa.

### Additional details/notes/links
Review page is not customizable, would prefer a container with platform components rather than a black box. I would extend this to other black boxes in the system, with

[2020-08-25 18:56] #11902 closed

[2020-08-25 18:58] jbalboni opened #12809 "Create error messages for clinic configuration issues"
We have two scenarios where a user will submit an appointment and an error occurs due to clinic configuration problems that we can't know about in advance (the data is not exposed by the underlying VistA services used by the VAMF services). Currently, we show a generic error message:

![ProhibitAccessUI.PNG](https://images.zenhubusercontent.com/599c94608f62dc7798c3b2cd/2aca0c6c-f59a-41d1-8af3-2aed

[2020-08-25 19:01] dneel-bah opened #12810 "CT Site Search: Update Free Text Search of City Data Behavior"
As a developer, I need to update the free text search functionality to include cities with a better match algorithm so that the search results return better behavior.

## Assumptions:
1. This work is completed behind the feature flag #10615.
2. An auto-complete match bypasses fuzzy search.

## Acceptance Criteria
1. When comparing the search value against the city data, only exact city matches are

[2020-08-25 19:03] ala-yna commented on #12748
@Kimberley2019  - The changes will not effect the product guide substantially. There are some questions that are currently marked as required that are going to be changed to not required in the future, for example. But the big issues (who fills out the form, the form experience, and what happens upon submission) are all the same.

[2020-08-25 19:03] #12409 closed

[2020-08-25 19:04] #12410 closed

[2020-08-25 19:04] rileyorr opened #12811 "[Frontend] Debt Letters - Update content in the coronavirus empty state"
## Issue Description
_Peggy provided updated content for the coronavirus empty state in the Debt Letters tool. [The content can be found in this UXPin prototype.](https://preview.uxpin.com/8019d7c491dc05231e456a666928bd6a5ca40e6e#/pages/131174235/simulate/no-panels?mode=i)_

---
## Tasks
- [ ] _Update the coronavirus empty state with the new content_
- [ ] _Review updated alert with designer_

##

[2020-08-25 19:05] #12692 closed

[2020-08-25 19:07] sshein commented on #12014
testing something

[2020-08-25 19:08] short000 opened #12812 "anyOf should trigger custom error message"
### User story
As a VSF developer, I need errors on _anyOf_ to trigger the custom error message (similar to other validation definitions), so that I can directly handle _anyOf_ errors.

### Additional details/notes/links

Workaround: combine patterns using "or" in our regex; however, it's less straightforward to do that. More importantly, that worked for our specific case for that situation, but i

[2020-08-25 19:12] patrickvinograd commented on #12485
adafdadf

[2020-08-25 19:16] luke-gcio opened #12813 "[Development] BDD: Update Separation Location Hardcoded Values to Production API Values"
## Issue Description
As a short term fix for BDD testing, we are going to update the hardcoded values to match those in the prod API call.

https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/applications/disability-benefits/all-claims/content/separationLocations.js

The final fix is #12792. This will break staging BDD submissions since now staging won't match prod.

##

[2020-08-25 19:26] sshein commented on #12329
Hi all - Liz and I discussed the options at our 1:1 today around how to test between the three "elderly" labels, and I wanted to chime in a few thoughts:

- Three different card sorts doesn't seem like it would necessarily solve the problem, and plus it would be a lot to ask of Perigeon. Given we only have a couple articles that we think would "fit" in those categories, and the fact that the label

[2020-08-25 19:28] sshein commented on #12329
also I'm on PTO tomorrow through Friday so if this turns into a discussion and I'm not replying, that's why! :)

[2020-08-25 19:28] delli-gatti-michael commented on #8004
Flag is gone at https://staging-api.va.gov/flipper/features

Closing this issue

[2020-08-25 19:28] #8004 closed

[2020-08-25 19:31] jason-gcio opened #12815 "Adjust the Step-Child Leaving Household Workflow In Submission"
## Background
After testing internally, it was noticed that some of the information that gets passed for the step-child as they leave needed an expanded relationship with the child and the guardian.  (Like spouses and former spouses)

## Considerations
- Check Derek's whiteboard
- Clear test users's EP
- This will have two PRs (`lib` and `bgs_dependents`)

## Tasks
- [ ] Write code
- [ ] Write tes

[2020-08-25 19:32] dmccurdybah commented on #12797
PR: https://github.com/department-of-veterans-affairs/vets-api/pull/4781

[2020-08-25 19:33] gmaciolek commented on #12316
@mchelen Update: I looked into this a bit more and I think it's part of a broader problem of orientation docs, slide decks etc. being out of date and out-of-synch. If I start updating this doc, it will turn into a bit of a rabbit hole. It's a rabbit hole I want to explore, but since it will take a bit of time, I need to make sure it aligns with our team's current priorities. I should know more by

[2020-08-25 19:35] andaleliz commented on #11435
@ncksllvn I see your thumbs up to my comment, but not sure exactly what that means...

Do the current designs reflect what we'd get using search.gov, or do we need to discuss further and make some design changes?

[2020-08-25 19:35] bsmartin-ep commented on #10662
@narin -

My plan for this was to append the Click Text and alertBoxHeading to the event action.  So something like...

`Navigation - Alert Box Link Click - {{Click Text}} - {{alertBoxHeading}}`

Would that be enough for you to differentiate clicks?

Good call on this one.  I forgot Jon W was trying to keep the VAOS event actions clean (and instead load up on custom dimensions).

I'm cool with you

[2020-08-25 19:37] luke-gcio commented on #12581
Worked as part of other BDD story but yes we have these metrics now.

[2020-08-25 19:37] #12581 closed

[2020-08-25 19:38] jbalboni commented on #11033
As far as I know, the development for this ticket is complete and in production.

[2020-08-25 19:39] andaleliz commented on #12244
Hi @mnorthuis, these are really great! Thanks for thinking through all of these scenarios.

In the `ignore` step in 1d and 2d, does that refer to if someone goes through the wizard, doesn't like the outcome, and then clicks the link `No thanks, I'm sure this is the right form` (or whatever it will say)?

Just want to be sure there isn't some `ignore` option _within_ the wizard that I have somehow

[2020-08-25 19:43] ncksllvn commented on #11435
@andaleliz sorry, I just meant that as an acknowledgement that I read your comment and need to respond. Sorry will respond by EOD

[2020-08-25 19:46] annaswims commented on #10427
[grafana metrics ](http://grafana.vfs.va.gov/d/000000066/evss-526-submissions?viewPanel=19&orgId=1&from=now-14d&to=now)![Screen Shot 2020-08-25 at 3.45.47 PM.png](https://images.zenhubusercontent.com/5bb3c3a61c43df49f8b08cfb/07b7c3da-822d-4a2f-9599-fdf2d9d3f8ba)

[2020-08-25 19:50] SgardnerPMP opened #12816 "[Review-Testing] Review and re-format of the form templates VISN-19 [BA]"
## Story
As a stakeholder In need a clear document formatted for me to provide critical data in the data call request.

## Resources

---
## Tasks
- [x] Reformat Form templates for System data calls

## Acceptance Criteria
- [x] Updated template documents are ready for distribution at System data calls

[2020-08-25 19:53] amyknox commented on #12795
@sonntag-adam - Checks out for UX.

[2020-08-25 19:53] rileyorr commented on #11639
Peggy provided me final content for the covid empty state, and Brad's already implemented it :)

[2020-08-25 19:53] #11639 closed

[2020-08-25 19:53] #12348 closed

[2020-08-25 19:53] #11786 closed

[2020-08-25 19:53] #11947 closed

[2020-08-25 19:53] #12389 closed

[2020-08-25 19:54] #12375 closed

[2020-08-25 19:54] #11785 closed

[2020-08-25 19:55] sonntag-adam commented on #12795
closing bug.

[2020-08-25 19:55] #12795 closed

[2020-08-25 20:08] erikphansen opened #12817 "[Design] Show different error alert text when we cannot connect to MPI"
Currently if we are unable to connect to MPI/MVI, when we show the Profile we treat the user as though they aren't even in MPI, when the reality is we can't even tell if they are or not.

If we cannot even connect to MPI, I think we should:
- still block users from most Profile sections, as though they are not in MPI
- show an error alert, like we do if they aren't in MPI, but modify the text to m

[2020-08-25 20:08] bethpottsVADEPO commented on #12655
@RLHecht Reopening this ticket for you to copyedit the latest SME edits that I just made. Do you think you can take a look and set to publish for tomorrow's deployment? I forgot to put a note in drupal about what I did. But I'll forward you the email and you can see. It is very minor. An edit to one sentence and adding the initialism in two places.

[2020-08-25 20:09] mmiddaugh commented on #10653
Tests have been expanded to cover these facilities as part of other issues.

[2020-08-25 20:09] #10653 closed

[2020-08-25 20:09] mmiddaugh commented on #10652
Tests have been expanded to cover these facilities as part of other issues.

[2020-08-25 20:09] #10652 closed

[2020-08-25 20:12] erikphansen commented on #12727
I created [this ticket](https://github.com/department-of-veterans-affairs/va.gov-team/issues/12817) to discuss showing a different error message in this case, when we cannot connect to MPI.

[2020-08-25 20:15] desireeturner opened #12818 "Spool File Routing: Files being routed to St. Louis on 08/24"
## What happened?
Shay Norton-Leonard from the Buffalo EDU team sent @WillMcCormack the following information regarding spool file routing for routing that took place on 08/24/20:
   12:08 PM] Norton-Leonard, Shay, VBAVACO
   Will - I also was looking to see if the spool file has been processed and see that yesterday 8/24 there was a spool file created for RPO
331 (St. Louis). There has no been on

[2020-08-25 20:22] mnorthuis commented on #12244
@andaleliz Yes, this would be for someone who completes the wizard and wants to ignore the wizard recommendation.  That is the scenario that I want to discuss whether we want to accommodate - or if they want to ignore the wizard result, do we make them "start over".

I did not include scenarios where a user could cancel/ignore while completing the wizard (before it is done) - I assumed we were not

[2020-08-25 20:22] mmiddaugh opened #12819 "Vet Center Synthesis"
## Issue description
The Facilities team conducted interviews with representative Vet Center Outreach specialists during Sprint 28 with the following goals:

- To understand the role of a Vet Center's outreach coordinator
- To understand the typical "clients" (Veterans, active service members/loved ones) served at Vet Centers and the services those clients typically receive
- To develop the person

[2020-08-25 20:25] mmiddaugh commented on #12442
Low hanging fruit is Location and Contact information. Will follow up with Jessica or during outreach specialist interviews to learn if any of this information has been gathered for the creation of brochures (as referenced in the Brand Analysis report). We may be able to tap into that work without going back to the individual Vet Centers.

[2020-08-25 20:25] #12442 closed

[2020-08-25 20:26] mdewey opened #12820 "Further Unauthenicated Research"
After review of [this doc](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/discovery/engineering/auth-vs-unauthed.md) for #12291, more research is needed once more use cases for unauthenticated experience is needed

## Notes for unauthenticated experience
- How can we trust that who is filling out the form is the patient
- What systems c

[2020-08-25 20:28] mdewey commented on #12291
Meeting summary:

- For now, we will stick with forcing a user to log in
- More research needs to be done for an unauthenticated experience and what data we can/can not display and where we can write.

[2020-08-25 20:28] #12291 closed

[2020-08-25 20:29] Mottie opened #12821 "[Documentation] Add ui option `ariaLabelForEditButtonOnReview`"
### What is your documentation request, question, comment, or issue?

On _all_ form review & submit pages are edit buttons to allow editing the content of a form page.

I recently discovered an array of items that had an `aria-label="Edit undefined"`, and while searching the code base, discovered the `ariaLabelForEditButtonOnReview` ui option, and using it fixed the problem with the edit button ar

[2020-08-25 20:29] mdewey commented on #12257
Unblocked and re-scoping this ticket to just displaying the data with the knowledge that the source might change later,

[2020-08-25 20:35] andaleliz commented on #12244
@mnorthuis so with 1d and 2d, you're exploring whether or not to **add** an `ignore` option to the wizard itself? just want to be sure I'm crystal clear on this.

Yes, I suppose someone could be in the middle of filling out the wizard, and then jump to the "skip" link. I'm not sure what you mean by "not handling" this scenario (do you mean programmatically?), but if the link is there on the page,

[2020-08-25 20:50] mmiddaugh opened #12822 "Logic for facility health services"
## Issue Description
The VAMC health services content structure has changed from blobby content to discrete reusable components in Drupal. We need to update the front end to accommodate this new data structure.

<details>
<summary> Current UI </summary>

![image.png](https://images.zenhubusercontent.com/5d8a47393ac3440001d1a2ed/b0a2f750-f45e-4941-96bc-88d206de7608)

</details>

The first step to i

[2020-08-25 20:52] mmiddaugh opened #12823 "{DISCOVERY] Global search"
## Issue Description
How might we better leverage global search to help Veterans find the Facility Locator

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to an Epi

[2020-08-25 20:54] mmiddaugh opened #12824 "[DISCOVERY] Google search/rich results"
## Issue Description
How might we better leverage google search for structured data to offer rich results to help Veterans find VA facilities and services?

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when wi

[2020-08-25 20:59] #11191 closed

[2020-08-25 21:00] Mottie commented on #11191
Added in https://github.com/department-of-veterans-affairs/vets-website/pull/13585

[2020-08-25 21:00] #12654 closed

[2020-08-25 21:01] mnorthuis opened #12825 "Redirect Request: Disability & BDD related pages"
**Instructions**
- Requests for URL changes/redirects need to be submitted **AT LEAST** 2 weeks in advance.  Some changes/redirects take significant amount of time and coordination to implement, so start the process as soon as you know you will need one.
- This issue will be used from initial request through implementation of the redirect to ensure all individuals working on this are notified of s

[2020-08-25 21:08] peggygannon commented on #12378
@bradl3yC @rebeccawalsh @rileyorr I noticed on staging two places where we're missing a period at the end of sentences.

Two examples below:
1. We're missing a period after the phone number:

*If you want more information about the reason for this debt or the decision resulting in this debt, please call the Education office at 888-442-4551 We're here Monday through Friday, 8:00 a.m. to 7:00 p.m. E

[2020-08-25 21:10] mnorthuis commented on #12825
These redirects can be implemented independently from the launch of the BDD capability in the 526.

The 2 legacy pages are no longer relevant now that minimal to no disability claims will be filed from eBenefits, but stakeholders should be notified that we are retiring and redirecting them.

The 2 Drupal pages can be redirected once we have the ok on the H1 change to reference the BDD program and

[2020-08-25 21:15] #12767 closed

[2020-08-25 21:23] jonathanjnelson commented on #12766
Design to do list:

- [ ] Issue 1 **Phone number**
- [X] Issue 2 **Content in _Apply_ section**
- [X] Issue 3 **Remove _required_ and _unknown_ for Gender question**
- [X] Issue 4 **Remove _required_  and possible redesign for Medical facility**
- [X] Issue 5 **Remove reference to VSO support**
- [X] Issue 6 **PCAFC appeal process**

[2020-08-25 21:25] #10197 closed

[2020-08-25 21:37] bmcgrady-ep commented on #12698
@QaysarA - Here is a [custom report ](https://analytics.google.com/analytics/web/template?uid=ekhoyxZbRRqi5bVBnC4H4Q)that I created. When opening the custom report, just select All VA.gov View [Production]. Due to Google Analytics' reporting capabilities, I could not get the monthly average for the successful form submissions, but I did download the data into Excel and got the monthly average.

He

[2020-08-25 21:39] mnorthuis commented on #10896
Updated the IA info based on follow up conversations around what work is needed to best support the BDD launch and what can be postponed.

https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/information-architecture/ia-reviews/bam-benefits-at-discharge.md

[2020-08-25 21:40] mnorthuis commented on #10184
Updated the IA info based on follow up conversations around what work is needed to best support the BDD launch and what can be postponed.

https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/information-architecture/ia-reviews/bam-benefits-at-discharge.md

Redirect request to support above IA work has been submitted: https://github.com/department-of-veterans-affairs/

[2020-08-25 21:42] MickinSahni commented on #11335
Hey, Tze. Use-Case D (invalid PDF link) is in progress with #12181 and #11380 in code review at the moment.
Nick will supply a screenshot/recording when it's wrapped up.

Wrt to Use Case C (No custom form data), closing the loop here that Jen provided a sample in slack with http://forms.demo.ci.cms.va.gov/find-forms/about-form-10-2649b 👍

[2020-08-25 21:47] mnorthuis commented on #12244
My goal was to document all the possible user flows, and then make sure we had all the content and appropriate CTAs to support them.  For 1d and 2d, this would be a scenario where the user fills out the entire wizard and the wizard either says "you need to do a different form, go there now" and user would have the option to say "ignore this recommendation, I still want to do this form".  We may no

[2020-08-25 21:48] #12512 closed

[2020-08-25 21:49] mnorthuis commented on #8895
Updated the IA info based on follow up conversations around what work is needed to best support the BDD launch and what can be postponed.

https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/information-architecture/ia-reviews/bam-benefits-at-discharge.md

Redirect request to support above IA work has been submitted: #12825

[2020-08-25 21:49] #12502 closed

[2020-08-25 21:49] #12501 closed

[2020-08-25 21:50] #12507 closed

[2020-08-25 21:55] bradl3yC commented on #12378
@peggygannon I fixed a few of them in a previous PR and I have a PR to fix the remaining ones that I could find.

[2020-08-25 22:00] ncksllvn commented on #11435
I cannot say with absolutely certainty as I would need to do a deep dive into search.gov's concept of tags (referenced above), but based on our current search.gov integration visible on `ww.va.gov/search?query=anything`, my answer would be no. The current designs do not reflect what we'd get using search.gov.

These are the LC designs I am looking at - https://github.com/department-of-veterans-aff

[2020-08-25 22:10] peggygannon commented on #12607
Hello! No content changes from VSP content, but something to consider below:

-Possibly add some language about how ratings show up only after school has *x* or more ratings.  Something like (in bold below)

**About ratings**
We ask Veterans to rate schools they’ve attended on a scale of 1-5 stars, with 5 being the best rating.
We reach out to Veterans who’ve received a Certificate of Eligibility

[2020-08-25 22:24] #12704 closed

[2020-08-25 22:32] cohnjesse opened #12826 "Adjust SSN and DOB for 686 Workflows"
## Background
In performing the partner integration testing we have identified that we need to add a field to the front end for the 686. So far we know we need to add a SSN field to the workflows, we may need to add more fields but that is still to be determined at this time.

## Considerations
There are 5 workflows:
1. Remove divorced spouse
1. Remove stepchild
1. Remove deceased dependent
1. Rem

[2020-08-25 22:37] mmiddaugh opened #12827 "Editorial experience: URL creation for Stories/News Releases"
## Issue Description
This issue to track the following problem: VAMCs create Stories/News Releases and the URL becomes unwieldy b/c by default we use the H1 to govern the URL. It may not be realistic to ask content creators to write the tighter H1s needed for SEO. How can we create an editorial experience which supports content creators?

Need:

- A field with a cap (length is already challenging

[2020-08-25 22:39] MickinSahni commented on #10530
Closing out

[2020-08-25 22:39] #10530 closed

[2020-08-25 22:49] mnorthuis commented on #12607
Hi - No additional IA feedback.  Looking forward to seeing results!

[2020-08-25 22:50] #12730 closed

[2020-08-25 22:50] #12106 closed

[2020-08-25 22:51] #12082 closed

[2020-08-25 22:53] #10318 closed

[2020-08-25 22:53] MickinSahni commented on #11787
Closing out as QA env is available cc @swirtSJW @jenniferlee-dsva

[2020-08-25 22:53] #11787 closed

[2020-08-25 22:54] mmiddaugh opened #12828 "PPMS analytics by parameter"
## Issue Description
The traffic goes from the Rails app to an HAProxy through the Trusted Internet Gateway (TIC) to go from GovCloud West to GovCloud East then through another TIC to get to the Gov Azure instance. If PPMS needs to make a call to Bing it may also be going from the Gov Azure instance to another TIC to get over there. Monitoring is limited because all of the traffic is encrypted in

[2020-08-25 23:02] cohnjesse opened #12829 "Add logic for showing/ hiding the Static Veteran Information page based on if the user is logged in or not for CH36"
# Background
We need to add the logic to either hide or show the Static Veteran Information page based on if the user is logged in or not. This same logic will most likely be used in a separate ticket to also hide and show the dependent information pages based on if the user is logged in or not since at this point if you are logged in then you are not a dependent of a Veteran.

## Tasks
- [ ] Pull

[2020-08-25 23:06] cohnjesse opened #12830 "Add Logic For Showing/ Hiding Dependent Information and dependent address pages based on if user is logged in or not for CH36"
# Background
We need to add the logic to either hide or show the Dependent Information page and Dependent Address page based on if the user is logged in or not.

## Considerations
- If you are known to the VA, you can log in with ID.me (or DSLogin) and I will have prefillable data base on my profile, and there is no telling whether you are a Veteran or a dependent, etc.
- Selection screen will alw

[2020-08-25 23:16] pnwstevan commented on #12322
### **Detailed documentation of upgrade procedure for future reference/onboarding**

**tl;dr**
Detailed documentation of first production deploy; process itself and documentation is likely excessive, but consider this essentially `upgrading Grafana the hard way` as a bit of a forcing function to learn a bunch of things.  Hopefully this is helpful for future reference and onboarding other Ops team

[2020-08-25 23:17] #12633 closed

[2020-08-25 23:19] #12634 closed

[2020-08-25 23:19] cohnjesse opened #12831 "Unit Test Claimant Address on CH36"
# Background
In order to make sure that the Dependent Address page on Chapter 36 behaves as expected we need to write unit tests for it. The established standard for VA.gov is 80% test coverage so we need to at least achieve this for the Claimant Address page.

## Tasks
- [ ] Set up test file
- [ ] write unit tests for Dependent Address page
- [ ] submit a PR for review

## Acceptance criteria
- [

[2020-08-25 23:21] pnwstevan commented on #12322
@ricetj Docs as discussed (CC: @dginther).

Is there a SOP for closing issues - do you/PMs typically do that?  When they're done, or at end of sprint?

[2020-08-25 23:22] cohnjesse opened #12832 "Unit test Veteran Address on Chapter 36"
# Background
In order to make sure that the Veteran Address page on Chapter 36 behaves as expected we need to write unit tests for it. The established standard for VA.gov is 80% test coverage so we need to at least achieve this for the Veteran Address page.

## Tasks
- [ ] Set up test file
- [ ] write unit tests for Veteran Address page
- [ ] submit a PR for review

## Acceptance criteria
- [ ] Th

[2020-08-25 23:24] jason-gcio opened #12833 "Write Unit Test for Static Claimant Information Page (CH36)"
# Background
In order to make sure that the Static Claimant Information page behaves as expected we need to write unit tests for it. The established standard for VA.gov is 80% test coverage so we need to at least achieve this for the static claimant info page.

## Tasks
- [ ] Set up test file
- [ ] Write unit tests for Static claimant Information page
- [ ] Submit a PR for review

## Acceptance cr

[2020-08-25 23:28] bmcgrady-ep commented on #11033
### QA Testing of 11033
Description of Test Scenario | DL Screenshot | Test Status
-- | -- | --
Event for button "Create an Express Care request" - the start of Express Care request flow | (https://user-images.githubusercontent.com/66263904/91233901-08eff980-e6e7-11ea-9391-dc9801d1a8a1.png) | ✔️ PASS
Event on 'Cancel' button on 'How Express Care works' page - tracks users who drop out of flow on t

[2020-08-25 23:29] cohnjesse opened #12834 "Connect FE to BE for CH36"
# Background
Now that the backend has been set up for CH36 we need to adjust the Redux code to use the actual API endpoint set up for it.

## Considerations
- Using this in the url: `/education_career_counseling_claims/`

## Tasks
- [x] Change submit URL for CH36 form
- [ ] ~Adjust data structure based on data that comes back from the API endpoint~
- [x] Submit a PR for `vets-website` for review
-

[2020-08-25 23:35] cohnjesse opened #12835 "e2e test Veteran workflows for both NOT logged in for CH36"
# Overview
In order to make sure that workflows for a Veteran that is logged in and for one that is NOT logged in filling out the CH36 form is fully e2e tested.

## Tasks
- [x] Set up test file
- [x] Write e2e test for the Veteran workflows
- [x] Submit a PR for review

## Acceptance criteria
- [x] These user paths for the Chapter 36 form has been e2e tested
- [x] A PR has been submitted for revie

[2020-08-25 23:39] #12054 closed

[2020-08-26 00:37] tlei123 commented on #11335
Thx, @jenniferlee-dsva @MickinSahni !  Use Case C test-runs done and Passed.

For Use Case D (invalid PDF link), I'm now Subscribed to both #12181 & #11380.

[2020-08-26 01:06] lenaecb opened #12836 "VAOSR - Scaling Communications & product static site"
**Problem:** We have a large stakeholder group for VAOS. We also need a way to scale communication to that group without overburdening our day to day.

**Idea:** Improve broadcast communication of VAOSR efforts while also maintaining a running documentation for that information that is easily accessible to users not familiar with Github.

**Solution options:**
- Github page + Jekyll
- Emails and S

[2020-08-26 01:50] MickinSahni commented on #12773
@RLHecht @lunascoop can you validate / update if needed?

[2020-08-26 02:27] MickinSahni commented on #11311
@jenniferlee-dsva some updates ⬇️

yep, updated. indicated on the plan that UAT (internal + Form Managers) is happening in the QA env

yep, we have the first pages published in prod happening as part of "phase 2" right after the form managers finish UAT in the QA env

got it. so we'll need to keep track of any new findings from UAT and fix directly in Prod

---

We can close this out. Here are the

[2020-08-26 02:27] #11311 closed

[2020-08-26 02:36] bsmartin-ep commented on #11033
Ah @bmcgrady-ep - the address alert stuff is on a slightly different flow.  Click the blue _Schedule an appointment_ button on the main VAOS page.

Not seeing those events firing on staging yet.

![image](https://user-images.githubusercontent.com/62304138/91248538-e24fb400-e722-11ea-8406-7615aa26e102.png)

[2020-08-26 04:20] SgardnerPMP opened #12837 "[VAMC-Scaffolds] Create or Clone all required pages for VA Asheville health care in VISN 6 [BA]"
## User Story
As a Veteran Web user, I need a easier and more efficient site, so I can quickly get to my objective and complete my journey on the local VA.Gov/MC website.

## Goal
_Implement required VAMC-upgraded va.gov webpages_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran web user_
- _Reduce Click through count by_Highlighting top sto

[2020-08-26 04:27] #11202 closed

[2020-08-26 04:43] SgardnerPMP opened #12838 "[Business Optimization] Work with VHA to find why systems are not in VAST and HOW to get them added ASAP [PM]"
## Story
_As a VAMC System administrator, I need all facilities that are not listed in VAST updated, confirmed, and listed, so that I can properly host and associated those facilities to the correct system and VISN.

## Resources
[facility locator updates](https://vaww.va.gov/WEBCOM/VAMC_Facility_Location_Updates.asp)

## Tasks
- [x] List all facilities not in VAST/CMS_
- [x] Provide list to VHA t

[2020-08-26 04:46] SgardnerPMP opened #12839 "[VAMC-Scaffolds] Create or Clone all required pages for VA Durham health care in VISN 6 [BA]"
## User Story
As a Veteran Web user, I need a easier and more efficient site, so I can quickly get to my objective and complete my journey on the local VA.Gov/MC website.

## Goal
_Implement required VAMC-upgraded va.gov webpages_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran web user_
- _Reduce Click through count by_Highlighting top sto

[2020-08-26 04:50] SgardnerPMP opened #12840 "[VAMC-Scaffolds] Create or Clone all required pages for VA Fayetteville Coastal health care in VISN 6 [BA]"
## User Story
As a Veteran Web user, I need a easier and more efficient site, so I can quickly get to my objective and complete my journey on the local VA.Gov/MC website.

## Goal
_Implement required VAMC-upgraded va.gov webpages_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran web user_
- _Reduce Click through count by_Highlighting top sto

[2020-08-26 04:56] SgardnerPMP opened #12841 "[VAMC] Create new System pages for all VISN-6 Systems so Owner/Governance can be created by CMS [PM]"
## Story
_As a CMS engineer, I require System pages to be created, so I can associate an owner and governance to a system.

## Resources
---
## Tasks
- [x] _Create the following System pages:
- [x] VA Asheville health care
- [x] VA Durham health care
- [x] VA Fayetteville Coastal health care
- [x] VA Hampton health care
- [x] VA Richmond health care
- [x] VA Salem health care
- [x] VA Salisbury he

[2020-08-26 05:00] SgardnerPMP opened #12842 "[VAMC-Scaffolds] Create or Clone all required pages for VA Hampton health care in VISN 6 [BA]"
## User Story
As a Veteran Web user, I need a easier and more efficient site, so I can quickly get to my objective and complete my journey on the local VA.Gov/MC website.

## Goal
_Implement required VAMC-upgraded va.gov webpages_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran web user_
- _Reduce Click through count by_Highlighting top sto

[2020-08-26 05:05] SgardnerPMP opened #12843 "[VAMC-Scaffolds] Create or Clone all required pages for VA Richmond health care in VISN 6 [BA]"
## User Story
As a Veteran Web user, I need a easier and more efficient site, so I can quickly get to my objective and complete my journey on the local VA.Gov/MC website.

## Goal
_Implement required VAMC-upgraded va.gov webpages_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran web user_
- _Reduce Click through count by_Highlighting top sto

[2020-08-26 05:09] SgardnerPMP opened #12844 "[VAMC-Scaffolds] Create or Clone all required pages for VA Salem health care in VISN 6 [BA]"
## User Story
As a Veteran Web user, I need a easier and more efficient site, so I can quickly get to my objective and complete my journey on the local VA.Gov/MC website.

## Goal
_Implement required VAMC-upgraded va.gov webpages_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran web user_
- _Reduce Click through count by_Highlighting top sto

[2020-08-26 05:10] SgardnerPMP opened #12845 "[VAMC-Scaffolds] Create or Clone all required pages for VA Salisbury health care in VISN 6 [BA]"
## User Story
As a Veteran Web user, I need a easier and more efficient site, so I can quickly get to my objective and complete my journey on the local VA.Gov/MC website.

## Goal
_Implement required VAMC-upgraded va.gov webpages_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran web user_
- _Reduce Click through count by_Highlighting top sto

[2020-08-26 05:22] SgardnerPMP opened #12846 "[EPIC] UPDATE ALL REQUIRED LEGACY CONTENT PAGES INTO PLAIN LANGUAGE VA.GOV DESIGN FORMAT [CONTENT]"
## VAMC - Product Outline
[VAMC-upgrade Product Outline](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/facilities/medical-centers/Project_Plan_Outline_2019.md)

## High Level User Story/ies
As a Veteran Web User, I need clear, concise, and instructional language on all VISN 19 Medical System web sites,  so I quickly get to where I want, the data I require, and

[2020-08-26 05:30] SgardnerPMP opened #12847 "[CONTENT] Translate legacy VA Asheville health care web pages to new VAMC-upgrade format [CONTENT]"
## User Story or Problem Statement
As a Veteran Web user, I need a need a plain language description of services in VAMC system web pages, so I can quickly understand the services and service location for my needs.

## Goal
_Efficient and clear content describing primary Content Pages_

## Objectives or Key Results this is meant to further
- _Reduced word count and improved plain language._

## Re

[2020-08-26 05:34] tlei123 opened #12848 "[Bug] SSO-Cerner Health Page Updates - Unauthd - Appointments - Copy mismatches"
## What happened?
On Staging, **[Cerner Health, Appointments](https://staging.va.gov/cerner-staging/appointments/)** page \[unauthenticated], **How can the VA appointments tool help me manage my care?** section, copy did not match provided copy-spec.

## Specs:
- Device: \[device-agnostic]
- Browser: \[browser-agnostic]

## Steps to Reproduce
1. Go to https://staging.va.gov/cerner-staging/appointm

[2020-08-26 05:34] SgardnerPMP opened #12849 "[CONTENT] Translate legacy VA Durham health care web pages to new VAMC-upgrade format [CONTENT]"
## User Story or Problem Statement
As a Veteran Web user, I need a need a plain language description of services in VAMC system web pages, so I can quickly understand the services and service location for my needs.

## Goal
_Efficient and clear content describing primary Content Pages_

## Objectives or Key Results this is meant to further
- _Reduced word count and improved plain language._

## Re

[2020-08-26 05:37] SgardnerPMP opened #12850 "[CONTENT] Translate legacy VA Fayetteville Coastal health care web pages to new VAMC-upgrade format [CONTENT]"
## User Story or Problem Statement
As a Veteran Web user, I need a need a plain language description of services in VAMC system web pages, so I can quickly understand the services and service location for my needs.

## Goal
_Efficient and clear content describing primary Content Pages_

## Objectives or Key Results this is meant to further
- _Reduced word count and improved plain language._

## Re

[2020-08-26 05:38] SgardnerPMP opened #12851 "[CONTENT] Translate legacy VA Hampton health care web pages to new VAMC-upgrade format [CONTENT]"
## User Story or Problem Statement
As a Veteran Web user, I need a need a plain language description of services in VAMC system web pages, so I can quickly understand the services and service location for my needs.

## Goal
_Efficient and clear content describing primary Content Pages_

## Objectives or Key Results this is meant to further
- _Reduced word count and improved plain language._

## Re

[2020-08-26 06:48] tlei123 opened #12852 "[Bug] SSO-Cerner Health Page Updates - Unauth'd - Messaging - Copy mismatches"
## What happened?
On Staging **[Cerner Health, Messaging](https://staging.va.gov/cerner-staging/messaging/)** page \[unathenticated], copy did not match provided copy-specs.

## Specs:
- Device: \[device-agonstic]
- Browser: \[browser-agnostic]

## Steps to Reproduce
1. Go to https://staging.va.gov/cerner-staging/messaging/ -- do not sign in.
1. Observe the following copy mismatches
    - Immediat

[2020-08-26 06:50] narin opened #12853 "Fix tab GA events"
## Description
Created this ticket based on @bsmartin-ep's comment on a different ticket.

_Originally posted by @bsmartin-ep in https://github.com/department-of-veterans-affairs/va.gov-team/issues/10662#issuecomment-680229012_

[2020-08-26 11:32] mshea0606 opened #12854 "AE-Sprint 29"
# Priorities
1. Validate/get update on Profile 2.0 analytics
2. Kick off UAT recruiting
4. Conduct UAT
5. LIH initial design work/Technical discovery
6. Direct Deposit integration discovery
7. MyVA Cerner Update

## Profile 2.0
### PM
- [x] [PM] Regroup with analytics to regarding profile 2.0 #12856
- [x] [PM] Schedule UAT user set up meeting #12857

### Design
- [x] Kick off UAT recruiting
- [x]

[2020-08-26 11:38] #12657 closed

[2020-08-26 11:43] #12397 closed

[2020-08-26 11:48] Kimberley2019 commented on #12748
@ala-yna I can send over the current product guide to the Contact Center for review, however, if there are changes made, they will need the updated product guide highlighting those changes.  I would personally wait until the product guide is 100% complete, because it can seem like double work, but that final decision is up to you and your team.  Please advise on how you would like to proceed.

[2020-08-26 12:46] ricetj commented on #12322
Hey Stevan, we have been having folks close their own tickets after completing all the AC. In terms of an SOP we do not have that.

[2020-08-26 13:08] #11304 closed

[2020-08-26 13:12] abuckley3385 commented on #11937
This ticket will continue as we need a wireframe story board flow and a prototype. Reassigning to Kristen.

[2020-08-26 13:15] abuckley3385 commented on #12285
@massrb See last comment posted on Monday - do you have any details to add?

[2020-08-26 13:16] meganhkelley commented on #784
Hey @U-DON is this one (and #10631) complete? Is there any validation needed before we close these?

[2020-08-26 13:23] delli-gatti-michael opened #12855 "Duplicate Spool Submission reports and Year to Date reports being sent in staging"
Duplicate reports are being sent by the staging environment. These reports include the Spool Submission Report and Year to Date report. One of the two YTD reports sent is missing the `22-1995 STEM` section. Only one of each report should be sent daily and the `22-1995 STEM` section should be present in the YTD report.

### Expected Behavior
1. Only one of each of the following reports is sent dail

[2020-08-26 13:25] abuckley3385 commented on #10485
Per Retro - we discussed this ticket is a combined FE and BE collaboration given the different sources we are leveraging.  Both @massrb  and @mdewey  are owners and responsible for progress towards completion in Sprint 29

[2020-08-26 13:26] mshea0606 opened #12856 "[PM] Regroup with analytics to regarding profile 2.0"
## Background

We need to regroup with the analytics team to get an update on where things are and confirm that the data we requested will be included and get an overview of the metrics/labels and their meanings.

## Tasks
- [x] Set meeting with analytics team
- [x] Get update on when profile analytics will be ready
- [x] Get quick walk through on analytics terms to ensure we know what we are look

[2020-08-26 13:29] abuckley3385 commented on #12778
@massrb  can you comment describe what the difference in this ticket compared to #12406 the descriptions and acceptance seem the same and IMO need to be combined.

[2020-08-26 13:30] #12777 closed

[2020-08-26 13:30] mshea0606 opened #12857 "[PM] Schedule UAT user set up meeting"
## Background
Prior to starting UAT, it will be beneficial to have a quick meeting to discuss how to set up users/use flipper.

## Tasks
- [ ] Schedule meeting
- [ ] Ensure everybody knows how to set up users for UAT and knows where to access the documentation

[2020-08-26 13:32] abuckley3385 commented on #12776
@massrb  can you please describe what the difference in this ticket is compared to what is being delivered for #12285 & #12404?

[2020-08-26 13:36] andaleliz commented on #12244
That does make sense, thanks for taking the time to clarify! I feel better prepared to go into our meeting on Tuesday :)

[2020-08-26 13:37] mshea0606 opened #12858 "[Design] Gather email addresses of UAT users & share those with Erik/Sandra"
## Background
As part of the requirements for UAT, we will need to provide Erik/Sandra with the list of recruited users email addresses.

##Tasks
- [ ] Gather email addresses of UAT users & share those with Erik/Sandra
- [ ] Verify they are the correct type of email addresses

[2020-08-26 13:42] mshea0606 opened #12859 "[Design] Conduct UAT"
## Background
We are conducting UAT for Profile 2.0

[UAT Plan](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/profile/Combine%20Profile%20and%20Account/Profile%202.0%20Release%20Plan.md)

## Tasks
- [x] Conduct UAT
- [x] Document any issues that come out of UAT

[2020-08-26 13:45] mshea0606 opened #12860 "[FE] Launch Profile 2.0 to production behind a feature flag"
## Background
We will need to have Profile 2.0 behind a feature flag in order to to UAT.

## Tasks
- [ ] Launch Profile 2.0 to production behind a feature flag

[2020-08-26 13:49] mchelen-gov commented on #12836
Option details:

1. Markdown files in va.gov-team project dir
    - Location: https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/health-care/appointments/va-online-scheduling
    - Note: could create subdir such as `/docs` for user-facing documentation

1. Github pages: va.gov-team repo
   - Location: https://department-of-veterans-affairs.github.io/va.gov-team/

[2020-08-26 13:49] mshea0606 opened #12861 "[Design] Discuss a plan for design iterations/explorations"
## Background
Now that we have done the initial discovery work and put together the uses cases, we can start to work on some initial design iterations/explorations.

## Tasks
- [x] Create plan for design exploration and iteration
- [x] Review with Samara/Matt

[2020-08-26 13:51] RLHecht commented on #12655
Changes look good and I've published this for today's deployment. Moving to validate.

[2020-08-26 13:52] mchelen-gov commented on #12836
From email:

@lenaecb does any of the documentation needed by these stakeholders need restricted access, or is ok to be public?

[2020-08-26 13:53] mshea0606 opened #12862 "[Design] Track the documentation from the LOA3/LOA1 use case/data point exercise in Github"
## Background
It would be very helpful to have the documentation from the LOA1/LOA3 use cases exercise in Github. This would make it easier to find and accessible to a larger number of people.

## Tasks
 - [ ] Track documentation from LOA1/LOA3 use cases exercise in Git Hub

[2020-08-26 13:56] andaleliz opened #12863 "[Design] - Learning Center MVP - Update search results page to reflect search.gov as data source"
Update the design of the search results page to reflect that the description under the title will come from search.gov snippets and aren't something we can control.

**Acceptance Criteria**
- [ ] Update design of desktop search results pages based on above and share with team

[2020-08-26 13:56] bsmartin-ep commented on #12598
@alexpappasoddball -

We're able to observe your `gatsby-route-change` event, so we can use that to fire pageviews.

![image.png](https://images.zenhubusercontent.com/5e73c8e4b62b077da52f1c14/bb9c0c35-8004-47b9-a68f-ff82badd8a6e)

We'll need to maintain _Window Loaded_ triggers for any pages not generating this event.

Can you think of any pages in our docs **besides** the ToC page that wouldn't h

[2020-08-26 14:02] MickinSahni commented on #10638
👋 Tze, how do we feel about closing this out?

[2020-08-26 14:03] andaleliz commented on #11435
@ncksllvn thank you - that makes sense.

Looking at our search results (e.g. [disability benefits search](https://www.va.gov/search/?page=1&query=disability+benefits)), I can't quite figure out the rhyme or reason to the description under the titles. For sure, none are using an `...` at the end to truncate (like the LC design), adding a `read full article` link or anything like that.

But, some _s

[2020-08-26 14:11] abuckley3385 commented on #12777
closing as a duplicate of #12406

[2020-08-26 14:11] #12858 closed

[2020-08-26 14:14] ncksllvn commented on #11435
Everything there - the title, the description, etc. - all comes from search.gov's API from last time our pages were indexed/crawled. There are many factors taken into account when a search engine is determining the best description, but it doesn't always work out because it's a complicated task.

We _do_ control the title/descriptions and even what shows under `Our top recommendations for you`. We

[2020-08-26 14:16] massrb commented on #12404
The 18 tests for appointments all pass. I am building a draft pull request on the health quest code branch

[2020-08-26 14:16] RLHecht commented on #12702
I reviewed this page and it's good to go. @bethpottsVADEPO Is this OK to publish or do you want to take a look through it first? I had slacked you a question about the 2019 in the table headings but I think that's the correct info based on the old closed ticket I sent you.

[2020-08-26 14:18] Samara-Strauss commented on #12861
Let's get a meeting on the calendar to start discussing this for either this Friday, 8/28, or Monday, 8/31.

[2020-08-26 14:21] massrb commented on #12776
this is a much smaller subset of what is in #12404. Quite a bit of #12404 is complete based on that ticket, other things for PGD will have to be added at some point to the service.

 I didn't have to create this ticket but I thought perhaps I needed a new ticket for the next sprint

[2020-08-26 14:22] leahkeeler opened #12864 "eFolders Search/Filter/Sort Documents"
## High Level User Story/ies
As a Veteran who is searching for documents on MyFolders in eFolders I want the ability to search for documents in several different ways including:

1-Sorting the documents by name and date
2-Type ahead search filter
3-By date range

## Hypothesis or Bet
This will make it easier and more intuitive  for the veteran to find what they are looking for

## Definition of do

[2020-08-26 14:22] #10394 closed

[2020-08-26 14:22] dginther opened #12865 "Separate Terraform 'modules' directory in devops repo into discrete module repositories"
## Description
_What details are necessary for understanding the specific work or request tracked by this issue?_
In order to have proper versioning for Terraform modules, we need to separate them each into their own github repository.

## Background/context/resources
_Any additional context for the reader to know, if applicable_
Some modules depend on one another, so we will need to make sure to

[2020-08-26 14:28] rileyorr opened #12866 "[Design] My Documents - Dropdown search filter (mobile)"
## Issue Description
_In order to provide Veterans the ability to quickly search for the documents they need, we're going to explore a search filtering component._

---
## Tasks
- [ ] _Research existing search filtering functionality (tip: Facility Locator tool)_
- [ ] _Design a concept for a mobile search filtering component in the My Documents UXPin prototype_
- [ ] _Present mobile search filter

[2020-08-26 14:28] andaleliz commented on #11386
I'm pretty sure all of this feedback was addressed via separate tickets (linked above) - can we close this one out?

[2020-08-26 14:28] massrb commented on #12285
This document explains some technical details about the health quest service which will be updated with more details as needed. Currently everything it does is the same basically as VAOS for appointments. Those aspects of VAOS we have documented

https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/discovery/engineering/HealthQuest%20Service.

[2020-08-26 14:32] ajmagdub commented on #10085
got the code repositories for VAR and VAMF projects on my local computer. Some of the repositories no longer are used, especially true for the mock repos. But the major repos such as var-resources are at a point where i can use them to assist in issue resolution.

[2020-08-26 14:32] #10085 closed

[2020-08-26 14:44] annaswims commented on #10675
https://github.com/department-of-veterans-affairs/vets-api/pull/4778  was merged and I'll validate after deploy today

[2020-08-26 14:44] andaleliz commented on #10278
Per @jenniferlee-dsva  on #8665

[2020-08-26 14:44] #10278 closed

[2020-08-26 14:45] annaswims commented on #12813
will validate after deploy today

[2020-08-26 14:48] mchelen-gov commented on #12361
public board https://github.com/department-of-veterans-affairs/va.gov-team/projects/18
private board https://github.com/department-of-veterans-affairs/cto-health-products/projects/1
more info: https://github.com/orgs/department-of-veterans-affairs/teams/va-cto-health-products

[2020-08-26 14:48] annaswims commented on #12376
progress in https://github.com/department-of-veterans-affairs/vets-api/compare/aec/mvi_logs?expand=1 bug putting this down for a while to look at BDD stuff

[2020-08-26 14:53] #12713 closed

[2020-08-26 14:53] #12604 closed

[2020-08-26 14:54] #12146 closed

[2020-08-26 14:55] luke-gcio commented on #12800
Not needed! Looks like the "error" back from EVSS is a warning.

[2020-08-26 14:56] #12800 closed

[2020-08-26 14:59] chrvalla commented on #7802
Internal UAT testing. Will continue to BDD claims that are successfully submitted. Then, 8 real users will be invited to go through BDD flow (and normal claim flow).

[2020-08-26 15:00] luke-gcio commented on #6209
We may be able to do this in sprint 29 depending on whether the front end changes get done early in the sprint.

[2020-08-26 15:01] luke-gcio commented on #12753
Spoke to Matt Self.  He is going to reach out to Chris J about going in the total removal direction and whether DEPO is ok with this.

[2020-08-26 15:02] #12811 closed

[2020-08-26 15:03] bsmartin-ep commented on #11513
I think I figured out the issue with pageviews @joanneesteban.  The old GA report is configured to run on the **last day of the month** minus one day (and not the first of the next month like it should probably be).  So we've been truncating the last day of pageview data from our monthly total.

HOWEVER - it's also re-fetching **all data back to 2018 every time it runs**, so when the report runs,

[2020-08-26 15:03] Mottie commented on #11188
I'm working on this now, with some additional tasks:

- [ ] Update BDD content within the intro page
- [x] Update form title based on all-claims vs BDD flow
- [ ] Update breadcrumb & document title based on flow

[2020-08-26 15:04] bradl3yC commented on #9860
@jenstrickland I was going off of your comment on #9859 where you stated it is up to the team to decide.

[2020-08-26 15:07] mdewey commented on #12281
Edit was updating the link for feature doc to https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/features/this-visit.md

[2020-08-26 15:07] chrvalla commented on #11803
This is being pushed due to focus on BDD UAT testing and BDD launch.

[2020-08-26 15:09] camerontesterman opened #12867 "Add BGS Mockdata for UploadedDocumentWebService"
## Issue Description
_What details are necessary for understanding the specific work or request tracked by this issue?_

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attac

[2020-08-26 15:09] abuckley3385 commented on #12285
thanks for adding this doc to the ticket.  Lets plan on you reviewing this during our engineering sync tomorrow morning. We have asked for the need to diagram this out to show what this service is connecting to.  the descriptions are helpful but Im not clearly understanding and everyone a visual of the systems and service is critical to ensure we are on the same page.  Im adding a task right now f

[2020-08-26 15:10] jason-gcio opened #12868 "Create a Conversation Guide for CH36/CH31"
## Goal
We want to create a consistent conversation guide that encompasses the guidance of approved methods and all the components for the users we will be communicating with.

## Considerations
Conversation guides are usually incorporated into Research Plans but because they are large enough, we separate them.  Both are considered deliverables.

## Task
- [x] Coordinate with Shawna on some of the

[2020-08-26 15:10] camerontesterman commented on #12711
This is captured by 12754 - closing.

[2020-08-26 15:10] #12711 closed

[2020-08-26 15:10] #11589 closed

[2020-08-26 15:11] #12599 closed

[2020-08-26 15:11] alexpappasoddball commented on #12580
@f1337 Is this is the right column?  Anything to add to this?

[2020-08-26 15:13] jason-gcio opened #12869 "Conduct Usability Session for CH36/CH31"
## Story
As a designer/researcher for the eBenefits Team, I want to be able to understand how the Veteran is currently interacting with this feature holistically so that I can create a more accurate description of what needs to be developed.

## Goals
- Use a conversation guide (include as delivery)
- Use research plan (include as delivery)
- Conduct a usability session that answers pain point que

[2020-08-26 15:16] CrystabelReiter opened #12870 "Update sketch templates and improve on sketch performance issues"
- [x] Iterate on sketch templates and make improvements

- [x] Streamline components for more efficient use

- [x] Update sketch library

[2020-08-26 15:19] jason-gcio opened #12871 "Create a Research Plan for CH36/CH31"
## Goal
We want to put the feature we have worked on in front of real users to ensure that we have provided an improvement over the legacy digital experience.

## Considerations
- [Previous Research Plans used](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/ebenefits/research/disabilities-dependents-usability-1119/disabilities-dependents-usability-researc

[2020-08-26 15:20] ncksllvn commented on #11380
This is merged and will be on staging soon

[2020-08-26 15:21] ncksllvn commented on #11380
Actually I guess staging doesn't matter in this case (CMS preview pages), but this will go out during today's deployment

[2020-08-26 15:21] ndsprinkle commented on #12792
I will be moving on to this ticket to work on today since the banking info screen ticket has been determined unnecessary.

[2020-08-26 15:21] kevinstachura commented on #12753
I have a design on standby already (for the removal). I can't imagine we can change the algorithm to meet the desired turnaround timeline requested by VBA...makes sense that would be a second round if possible.

[2020-08-26 15:25] abuckley3385 commented on #12776
1. How does PGD relate to retrieving appointment details and displaying in our workflow?
2. When I read the #12404 acceptance ( not complete yet) is that we have retrieved appt. details and are able to show in the screen.  The comments state we are waiting for staging environment and blocked until we have access. This is the same as what the above tasks/description does?  So either we need to upda

[2020-08-26 15:27] jenstrickland commented on #9860
@bradl3yC — I said that because the team continues to ask and I don't understand the reason for differing from the documented process, although I also said I prefer to keep the epic open until all issues are resolved. At the bottom of the epic opening text it outlines a Definition of Done, and indicates the accessibility specialist will validate fixes and is responsible for closing the epic.  The

[2020-08-26 15:28] jason-gcio opened #12872 "Adjust 686 Mockups with New Information"
## Goal
We want to ensure that the prototypes for 686 are reflecting the latest info from stakeholders so that we can share the list of changes more directly with the FE and the BE.

## Considerations
While these fields are not asked for on the form, they are required for BGS-RBPS.

## Tasks
- [x] Add required SSN and DOB fields to these workflows
  - [x]  "Report a Divorce"
  - [x] "Married Child

[2020-08-26 15:29] erikphansen commented on #12860
This is already done.

[2020-08-26 15:29] #12860 closed

[2020-08-26 15:31] bradl3yC commented on #9860
@jenstrickland my apologies.  I was only going off of the comments visible to me related to this work.  I am not a PM and haven't been privy to those conversations :)

[2020-08-26 15:33] MickinSahni commented on #11677
Thanks for your work, Ben.
Could you clarify the impact/implications of using sessions instead? Is it that the searches on the custom report aren't considered unique?

I checked it out this morning and the Unique Searches are at ~42k whereas the custom report searches are at ~29k.

Is the PDF download count on the custom report *also* not unique?
My thinking is that we might be able to rely on teh

[2020-08-26 15:33] RLHecht commented on #12773
The text attached to the related forms is auto-populated and pulls from the When to use copy. It looks like this may be an error in the Word doc for that instance and is currently showing correctly. CC @jenniferlee-dsva

[2020-08-26 15:36] tressaellen commented on #11890
I suggest making the top an opaque white and adding a drop shadow to help differentiate between the content and button even more.

![mobile sticky nav.jpg](https://images.zenhubusercontent.com/5dfa65bbbd078d1699e52294/e4e4dd5f-2626-4486-bfec-0d434d02088f)

[2020-08-26 15:37] #11386 closed

[2020-08-26 15:39] mchelen-gov commented on #12779
duplicates https://github.com/department-of-veterans-affairs/cto-health-products/issues/26

[2020-08-26 15:39] #12779 closed

[2020-08-26 15:39] joanneesteban commented on #12618
X-check "Help Desk (Contact Centers)" part of the Playbook outline with the actual analysis and recommended way to analyze contact center data. https://docs.google.com/document/d/1Z8GaBtH9R3eLdv7p_XLdxnBxOXNffoV_QSA8e5GeR7k/edit

[2020-08-26 15:41] mchelen-gov commented on #12595
closed in favor of https://github.com/department-of-veterans-affairs/va.gov-team/issues/12597

[2020-08-26 15:41] #12595 closed

[2020-08-26 15:45] mmiddaugh commented on #6254
Blocked pending contact from Megan/VSP's readiness to begin

[2020-08-26 15:48] mshea0606 opened #12873 "[FE] [MOBILE DESIGN][508] - Consider abutting mobile subnav to the top of viewport"
## Background
See: 508-defect-4 [MOBILE DESIGN] Consider abutting mobile subnav to the top of viewport#11890
Proposed updated design in bottom of the ticket in Tressa's comment
- low priority 508 review ticket

##Specs

Make the top an opaque white so the content isn't visible behind the menu bar.

![mobile sticky nav copy](https://user-images.githubusercontent.com/58752772/91350839-bcaec300-e793-

[2020-08-26 15:50] luke-gcio opened #12874 "[Design] Claims Status: Allow the Notification Letter to be accessed once the package has been sent via US Mail"
## Issue Description
This is coming from NCC and we had an idea that this would be an update to the existing tool.

It looks like once we get confirmation that the letter has been sent, we would like to allow them to download it or view it (as PDF) within the tool.

This ticket is to figure out where to place the letter in the design of the existing tool.

Some goals:
1. Determine where in the UX

[2020-08-26 15:52] zurbergram commented on #12855
Based on the instances in ![image](https://user-images.githubusercontent.com/1094999/91326561-79a02000-e792-11ea-86e6-802318c7afa7.png)

And when jobs were ran at https://staging-api.va.gov/sidekiq/recurring-jobs

We cannot tell if any old instances existed at the time of job occurring because all the new instances were created after the job was ran

[2020-08-26 15:52] zurbergram commented on #12855
Recommend checking again tomorrow to see if issue occurs again

[2020-08-26 15:54] lenaecb opened #12875 "Enabling 'Preferred Facility' selection in VA.gov profile"
### Problem/Need:
Veterans are more often than not registered at more than one VA facility. When we're trying to assist Veterans with digital services, it can be confusing for them when they have to select from a list of facilities that they are registered at because that list can be overwhelming.

### Hypothesis:
We believe that if we enable Veterans to define their preferred VA facilities as par

[2020-08-26 15:55] sanlouise opened #12876 "[FE] Make "My home address is the same as my mailing address." un-clickable"
On the profile under home address, there is a checkbox to indicate that a user's home address is the same as their mailing address.

It is not possible to un-check this box, which is confusing for users as checkboxes are usually always un-checkable.

### Tasks

- [ ] Design: determine whether we clear the home address fields or not if someone un-checks this checkbox
- [ ] FE: Implement fix — Make

[2020-08-26 15:57] jason-gcio opened #12877 "Setup Central Mail Submission for CH36"
## Goal
CH36 uses Central Mail as its submission process, so we need to get that in place for CH36 to operate properly.

## Tasks
- [x] Implement submission process for CH36

## Acceptance Criteria
- [x] CH36 is ready to test its submit process via Central Mail

[2020-08-26 15:59] #12527 closed

[2020-08-26 15:59] lenaecb commented on #12875
@saneshark - lets talk about this and start some of the discovery asap for the authentication team. The actual implementation, including the FE implementation, will be by the authentication team. But given we have some BE bandwidth I volunteered our team to do some of the BE discovery because this feature will immediately benefit us.

MHV is doing this now with their profile. So the starting point

[2020-08-26 16:01] sanlouise opened #12878 "Add authenticated-experience team members to vets-api's feature flipper config"
Any team member who will be conducting UAT testing and who should be able to add people to feature flipper to see Profile 2.0 need to be added to `vets-api`. We need relevant team members' email addresses and add them to the config.

[2020-08-26 16:02] jason-gcio opened #12879 "Investigate EVSS Submission Process for CH31"
## Background
As an interim step, we might want to use EVSS to submit CH31 until the VRE API is ready.

## Tasks
- [ ] Discover what is required to submit using EVSS
- [ ] Discuss the cost/benefits of implementing in EVSS as opposed to waiting until the VRE API is ready to go.

## Acceptance Criteria
- [ ] A decision can be made surrounding which direction to take

[2020-08-26 16:03] joanneesteban commented on #11513
## Audit to do

- [ ] Annotate July numbers for September export
- [ ] Audit last month numbers on other reports

[2020-08-26 16:06] ffafara-tw commented on #6737
AWS Access:
User: Saman Moshafi
COR: Courtney Bethea
Approver: @Jeff-Hayter

[2020-08-26 16:06] #10899 closed

[2020-08-26 16:08] abuckley3385 commented on #12172
Adding our status update to the PGD Epic but also applies to the Appointment details Epic #12169
 1. In order to authenticate the call for MAP - Stephen is creating a JIRA ticket to get Public and Private keys Access in addition to access to their wiki documentation pages.
	 - Our team needs to have PIV access and VA email.
	 - Each team member is to send email and PIV expiration date to Stephen a

[2020-08-26 16:10] jbritt1 commented on #6737
Thanks @ffafara-tw for catching this, not sure how I missed it.

[2020-08-26 16:13] leahkeeler opened #12880 "Design intent Collaboration eFolders [Draft]"
## Steps to complete Design Intent Collaboration
- [ ] Product Manager or Designer: create this issue and fill in feature name in the title and other bolded information appropriately
- [ ] Link to this issue once created in #design in Slack; tag @ Crystabel Reiter @ Emily
- [ ] Crystabel and Emily to schedule meeting with VSP reviewers and **requesting team** attendees (as listed below)
- [ ] At l

[2020-08-26 16:17] joanneesteban commented on #12274
### Other to do

- [ ] Clarifying the funnel:
- Raw dataset
- Explanation for the sessions

- [ ] Opening a Content request for the content

- [ ] Adding overall dashboard description: `How might we improve the Screening Tool completions by metro area`

[2020-08-26 16:18] joanneesteban commented on #12460
### Additional to do

- [ ] Opening a Content request for the content

- [ ] Adding overall dashboard description: `How might we improve the Screening Tool completions by metro area`

[2020-08-26 16:19] sanlouise opened #12881 "[FE] Logged-in homepage: Basic implementation of suggested approach(es)"
### Background
After discussions with the public-websites team in our [initial discovery phase](https://github.com/department-of-veterans-affairs/va.gov-team/issues/10256) we now have a couple of approaches to test.

[Non-exhaustive list of approaches](https://docs.google.com/document/d/1QIAXCaeL5PYPITizshvTzKZI_5fohU0c57ZnO_XYDiM/edit?usp=sharing)

### Tasks
- [ ] Implement a basic skeleton struc

[2020-08-26 16:21] YanaRoy opened #12882 "Adding Kristen McConnell to DSVA Slack"
Hello! We have a new person starting with the VSA Project. Can you please add her as a full member to the DSVA Slack. Thanks!
Email: kristen.mcconnell@adhocteam.us

[2020-08-26 16:22] #12736 closed

[2020-08-26 16:22] #12464 closed

[2020-08-26 16:23] #12508 closed

[2020-08-26 16:24] #11476 closed

[2020-08-26 16:24] joanneesteban commented on #11476
Analysis linked above. Closing this ticket.

[2020-08-26 16:28] edmangimelli commented on #11094
gonna give Anna my draft PR this afternoon so we can start discussing it (and before I invest too much in testing).
also have a PR in vets-json-schema that needs review, and will need a handful more reviewed before this PR (in vets-api) gets closed out.

[2020-08-26 16:29] ccruzgra commented on #12511
https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/education-careers/school-comparison-tool/search/research/session-notes

[2020-08-26 16:29] joanneesteban commented on #7560
@jason-gcio - ^ this is in non-prod. Let us know if you need anything around the goal funnel!

[2020-08-26 16:30] CrystabelReiter commented on #12880
Hi @leahkeeler you can tag me when you're ready to schedule! Thanks

[2020-08-26 16:31] sanlouise commented on #10256
@Samara-Strauss @erikphansen We should be able to close this ticket.

I created [a follow-up ticket](https://github.com/department-of-veterans-affairs/va.gov-team/issues/12881) to implement a very basic skeleton for the authenticated homepage that should allow us to answer the questions asked in this ticket better. We should also wait with adding documentation of a plan until we are a bit further

[2020-08-26 16:35] leahkeeler opened #12883 "eFolders MyFolders Design"
## High Level User Story/ies
As a Veteran I need to be able to see the documents that are available to me to view/download in a table format, I would also liek to be able to search by documetn name and date range.

## Definition of done
### As a veteran I will be able to see the documents that are available to me for download and be able to fileter/search/sort

*Take into consideration Accessibili

[2020-08-26 16:35] dneel-bah opened #12884 "CT Filters: Remove scorecard filters from search results"
As a developer, I need to remove the scorecard filters from the Comparison Tool search results page because they were not found to be useful by the users during usability testing.

## Assumptions:
1. N/A

## Acceptance Criteria
1. The following filters are not available on the Comparison Tool Search Results page:
    a. Gender
    b. Specialized mission
    c. Religious affiliation

## Supporting

[2020-08-26 16:35] leahkeeler commented on #12883
Closing - need to create epic

[2020-08-26 16:36] #12883 closed

[2020-08-26 16:42] dmccurdybah commented on #12818
PR: https://github.com/department-of-veterans-affairs/vets-api/pull/4786

[2020-08-26 16:43] jenstrickland commented on #12585
While auditing with JAWS and IE11, I noticed this behavior with the "at least 6 characters". Is this part of standard email validation on VA.gov? If so, I'll re-close the ticket. It was confusing, but if this is how we validate emails then it's manageable.

![image (7)](https://user-images.githubusercontent.com/57469/91331934-75c3cc00-e799-11ea-8e50-860514520545.png)

![image (8)](https://user-ima

[2020-08-26 16:44] #12515 closed

[2020-08-26 16:46] #12303 closed

[2020-08-26 16:46] #12296 closed

[2020-08-26 16:48] leahkeeler opened #12885 "eFolders - MyDocuments Page"
## High Level User Story/ies
As a Veteran I would like the ability to see the documents that are available to me to view/download in a tabel format with the ability to filter/sort/search

## Hypothesis or Bet
**Allow veterans to download needed documents

## Definition of done
### As a veteran I am able to see a full list of the documents available to me and be abel to sort, filter, search for spe

[2020-08-26 16:50] lwalsh617 opened #12886 "IRIS Q&As: Batch 1"
All account, profile and other general (or not benefit-specific) faqs need to be migrated out of IRIS and into Drupal for the October launch of the learning center MVP. Because learning center templates are not yet available in Drupal, copyediting will be done in Word doc form.

### Tasks

- [x] PW to pull faqs into Word doc (Laura)

- [x] PW to develop draft copy (Laura)

- [x] PW to create new G

[2020-08-26 16:53] srmyers17 opened #12887 "Title"
**User Story:** As a Veteran...

**UX Tasks**
- [ ]

**Screen Sign-off**
- [ ]

**API Tasks**
- [ ]

**Front-end Tasks**
- [ ]

**QA**
- [ ]

[2020-08-26 16:55] camerontesterman opened #12888 "Filter out Debts with a Payee code that does not equal "00" from the debts response"
## Issue Description
_What details are necessary for understanding the specific work or request tracked by this issue?_

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attac

[2020-08-26 16:59] jenstrickland opened #12889 "508-defect-2 Fast Follow! [COGNITION]: Downloaded files SHOULD be consistent with what the user clicked to download"
# [508-defect-2 Fast Follow!](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

**Feedback framework**
- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

For the downloaded PDF upon a failed s

[2020-08-26 17:00] andaleliz commented on #9914
Taking a look in my backlog and revisited this.  Interesting stuff in the navigation summary in analytics, from launch to today:

57.40% of pageviews of the YR landing page go on to the GI bill info page (First link on the page).

Then, 58% of the pagviews of the GI bill info page, go to YR landing page from there! I haven't dug into segmenting to see if these are the same people or try to get a v

[2020-08-26 17:06] billfienberg opened #12890 "Add a Resources page to the `documentation` package in VFS Tools"
## Description

It might be helpful to have a page of resources we can link to when people inquire about specific libraries/patterns/etc.

For example:
- Class components vs hook components

[2020-08-26 17:07] mshea0606 commented on #12861
@Samara-Strauss Just put some time on for Monday, 8/31 at 2:30-3pm ET.

[2020-08-26 17:08] luke-gcio commented on #9807
Closing - we have made some final changes and taken in some feedback.  We want to cut it off at this point and if we have more major changes we can create separate (specific) stories for any HLR changes.

[2020-08-26 17:08] #9807 closed

[2020-08-26 17:09] luke-gcio opened #12891 "[Design] HLR: Design and Content Wizard Updates"
## Issue Description
Moving the wizard to the intro page. Same deal as we did for 526.

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to an Epic** (what body of work is this a part of?)
- [ ] **Labeled with Team** (`product support`, `analy

[2020-08-26 17:10] ncksllvn commented on #12181
This work will go live today. I also added a static HTML page on GItHub to help us see the UX. The page will be published to https://staging.va.gov/form-detail-dummy and should make it there before EOD.

[2020-08-26 17:15] bethpottsVADEPO opened #12892 "Audit VA.gov for account and profile content to pull into LC for MVP launch"
## Issue Description
Assess root-level pages and others for inclusion in LC within the account and profile grouping of FAQs. What should move over?

List of pages to assess:

![image](https://user-images.githubusercontent.com/53535663/92013471-d6b04e80-ed1b-11ea-9623-8308026a46bf.png)

---
## Tasks
- [ ] Assess VA.gov root-level pages for account & profile and general categories content
- [ ] Asse

[2020-08-26 17:16] luke-gcio commented on #11927
Closing as duplicate.

[2020-08-26 17:20] leahkeeler opened #12893 "Debt Letters - Debt Detail Page FE"

[2020-08-26 17:21] leahkeeler commented on #12714
done

[2020-08-26 17:21] #12714 closed

[2020-08-26 17:24] LinnJS commented on #12766
Frontend to do list:

- [ ] Issue 1 **Phone number**
- [ ] Issue 2 **Content in _Apply_ section**
- [ ] Issue 3 **Remove _required_ and _unknown_ for Gender question**
- [ ] Issue 4 **Remove _required_  and possible redesign for Medical facility**
- [ ] Issue 5 **Remove reference to VSO support**
- [ ] Issue 6 **PCAFC appeal process**

[2020-08-26 17:24] leahkeeler opened #12894 "[Design] My Documents Discovery Research Plan"
## Issue Description
_To kick off discovery research for My Documents, we need to write a research plan using [the provided template](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/research/research-plan-template.md)._

---
## Tasks
- [x] _Write a research plan for the My Documents discovery research_
- [x] _Send the completed research plan to Shawna for feedbac

[2020-08-26 17:25] kevinmirc commented on #12889
Hi @jenstrickland, Great catch! It would definitely be confusing to see that filename as a user.

On the backend, we currently return the header "Content-Disposition" with a suggested filename of "10-10CG_{veteran_first_name}_{veteran_last_name}.pdf" and a "Content-Type" of "application/pdf". So this may require updates on the front-end.

Here's an example:
[code]

Another note about the filename,

[2020-08-26 17:27] leahkeeler opened #12895 "[Design] My Documents Conversation Guide"
## Issue Description
_To kick off discovery research for My Documents, we need to write a research plan using [the provided template](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/research/planning/conversation-guide-template.md)._

---
## Tasks
- [x] Write a conversation guide for the My Documents discovery research
- [x] Send the completed conversation guide

[2020-08-26 17:27] tressaellen opened #12896 "[Design] Connect with VAOS team to go over appointments"
## Background

We need to understand what specific data points of the appointments feature need to be included in the LIH. We need to meet with the VAOS team to get the rundown on current data points and then decide what points we should include.

## Tasks

- [x] Meet with VAOS team
- [x] Document data points

[2020-08-26 17:30] leahkeeler opened #12897 "Wizard - Refactor code prior to release"

[2020-08-26 17:33] kevinmirc opened #12898 "Add expectation for 'Content-Disposition' and 'Content-Type' headers on /download_pdf for 10-10cg spec"
Related to: https://github.com/department-of-veterans-affairs/va.gov-team/issues/12889

[code]

[2020-08-26 17:33] tressaellen commented on #10162
I dropped everything into [this document](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/logged-in-homepage/2.0-redesign/design-ia/LIH%20data%20points.md)

[2020-08-26 17:33] #10162 closed

[2020-08-26 17:33] tressaellen commented on #10164
I dropped everything into [this document](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/logged-in-homepage/2.0-redesign/design-ia/LIH%20data%20points.md)

[2020-08-26 17:33] #10164 closed

[2020-08-26 17:35] leahkeeler opened #12899 "Debt Letters - Workshop #6"
## Issue Description
Conduct diary code workshop w/ DMC

---
## Tasks
- [x] Conduct the final diary code workshop on 8/26/2020
- [x] Consolidate decisions made and upload to GH

## Acceptance Criteria
- [x] Workshop conducted
- [ ] Decisions documented in GH

[2020-08-26 17:38] leahkeeler opened #12900 "Debt Letters - Status Draft"

[2020-08-26 17:39] jason-gcio opened #12901 "Create CH36 PDF for Eventual Submission to Central Mail"
## Background
The VRE CH36 feature does not have a backend like some other features where structured data is being sent to a lower environment or system for data processing; Central Mail acts like a PDF depository.  Once a pdf has been created, it can then be sent to Central Mail likely accompanied by certain requisite data pieces that help identify who the PDF belongs to and its final destination

[2020-08-26 17:40] #12677 closed

[2020-08-26 17:40] tressaellen commented on #11890
FE will be tracked in #12873

[2020-08-26 17:44] luke-gcio commented on #3205
This is a pre-collab cycle ticket and this work is now done as part of a review process. OBE.

[2020-08-26 17:44] #3205 closed

[2020-08-26 17:45] #11222 closed

[2020-08-26 17:45] #12287 closed

[2020-08-26 17:47] #10851 closed

[2020-08-26 17:47] Samara-Strauss opened #12902 "[FE] Logged-in homepage: Investigate what data we have access to for prescriptions on the My VA dashboard"
## Background

Now that we have a staging user (user 377) so we can see prescriptions live in staging, we are realizing that there is a big difference between the original mockup that was done of the "Refill prescriptions" section and what we are actually showing there.

This is the old design mockup:

![Prescription refills on My VA dashboard.png](https://images.zenhubusercontent.com/5a4e5e33a016

[2020-08-26 17:51] edmangimelli opened #12903 "[Launch] BDD Post-Launch: Review metrics"
Review metrics (number of successful entries etc)

1. Make sure our charts are working and we have data coming into Sentry.
2. Run the rake task and look at 526/BDD and make sure nothing (new) weird is happening.
3. Look every day during launch (as we ramp up from X% to 100%)

[2020-08-26 17:51] edmangimelli opened #12904 "BDD Post-Launch: Verify Successful Submission with VBMS"
Get with VBMS to verify that the data we submitted is showing up correctly in their systems.

1. During UAT, it should be taken care of live essentially (but just in case we can track it here).
2. During X%-100% rollout phase, make sure we are regularly letting Barry/Paul know and track some submissions to make sure things are looking good (EP codes, establishment of claims, STR uploads).
3. Make

[2020-08-26 17:51] edmangimelli opened #12905 "[Launch] BDD Post-Launch: Public Websites Rollout Discussions"
Continue talking to Mikki about things like the IA, content, redirects.  Also can use this ticket for when the wizard is coming aboard and what the new IA/content stuff all looks like.

[2020-08-26 17:51] peggygannon opened #12906 "VSP Content review: IRIS form content-design outline"
## User story
Provide content feedback the content/design outline for IRIS form.

Link to the spec doc: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/iris/IRIS%20Design%20%2B%20Content%20Specifications.md

[2020-08-26 17:52] edmangimelli opened #12907 "[Launch] BDD Post-Launch: Adjusting Flipper"
Adjusting flipper (whitelist, 0%+)

This story is to capture the decisions about when/how much to increase the flipper.  This should also include a decision on initial flipper value based on eBennies traffic.

[2020-08-26 17:52] LizCallaghan commented on #12882
it looks like she already has access?

[2020-08-26 17:55] mchelen-gov opened #12908 "Use function components in form app generator"
The form app generator is currently using class components: https://github.com/department-of-veterans-affairs/generator-vets-website/search?q=extends+React.Component&unscoped_q=extends+React.Component

It should be updated to use function components instead, in accordance with React best practices.

[2020-08-26 17:56] YanaRoy commented on #12882
Yes, I had not realized that she had it from her previous project. I will close the ticket.

[2020-08-26 17:56] #12882 closed

[2020-08-26 17:56] MickinSahni commented on #12773
What's in the QA env is consistent with other forms so likely an issue with the copy in the doc.
@jenniferlee-dsva to confirm offline and then close or comment.

[2020-08-26 17:57] mchelen-gov opened #12909 "Update React doc code samples to use function components"
Some of the React docs include [code samples with class components](https://github.com/search?q=%22extends+React.Component%22+repo%3Adepartment-of-veterans-affairs%2Fveteran-facing-services-tools+path%3A%2Fpackages%2Fdocumentation%2Fsrc%2Fpages%2F&type=Code)

These should be updated to use function components instead, in accordance with React best practices.

[2020-08-26 17:59] jenniferlee-dsva commented on #12773
Randi is correct - what you see in Drupal is correct - prepopulated text - so this isn't a real bug.

[2020-08-26 17:59] #12773 closed

[2020-08-26 17:59] MickinSahni opened #12910 "Intake Requests for Public Websites - August 2020"

[2020-08-26 18:01] lenaecb opened #12911 "(WIP) Show VistA CC Appointments in VAOSR"
### Problem/Need:

### Constraints:

### Risks:

### Considerations:

### Acceptance Criteria:

[2020-08-26 18:01] MickinSahni commented on #12470
@RLHecht to evaluate next steps in this sprint

[2020-08-26 18:05] #11154 closed

[2020-08-26 18:08] MickinSahni commented on #4552
Hey team, confirming this will probably be on it's own GA dashboard for the Form Detail Pages, correct?

[2020-08-26 18:09] #10256 closed

[2020-08-26 18:11] saneshark opened #12912 "SRE Pager Duty for Warnings (Backend)"
*As a user, I should be notified when there might be latency or high number of errors.*

Currently there is only a mechanism to put up a maintenance window. What we'd like to do is to put up a warning without maintenance. There is a way to pass messages between pager duty and vets-api. We should investigate how to make this happen. We'd still need to get the copy approved though.

1. Do discovery

[2020-08-26 18:11] sporeboy opened #12913 "Revise Chapter 36 (28-8832) prototype workflows to account for signed-in dependent"
## Background
The Chapter 36 prototype was built with the assumption that only Veterans would access the form signed-in. In fact, other types of users--dependents and active-duty service members--can access the form signed-in.

The UXPin prototype needs to accommodate the signed-in non-Veteran accessing the form.

## Tasks
- [ ] Adjust mockup to include the status selection screen in authenticated

[2020-08-26 18:13] saneshark opened #12914 "SRE Pager Duty Warnings (Frontend)"
*As a user, I should be notified when there might be latency or high number of errors.*

Currently there is only a mechanism to put up a maintenance window. What we'd like to do is to put up a warning without maintenance. There is a way to pass messages between pager duty and vets-api. We should investigate how to make this happen. We'd still need to get the copy approved though.

1. Do discovery

[2020-08-26 18:15] MickinSahni commented on #12365
@ncksllvn @kelsonic they are 3 separate templates mentioned here. Let's consider breaking this out into 3 separate tickets within this epic.

[2020-08-26 18:20] luke-gcio opened #12915 "[Bug] 526: File Upload Corrupted on the Way to VBMS"
## Issue Description
EVSS had an issue with their file uploads being corrupted.

1. Is it possible to do something with the files from S3?
2. Can we use their auth headers and retry the failed jobs?
---
## Tasks
- [x] Get list of errored out submissions from VBMS
- [x] Discover whether we can do something with the files in S3

## Acceptance Criteria
- [ ] Understand whether there is anything we ca

[2020-08-26 18:20] billfienberg opened #12916 "Investigate flaky tests"
## Description

Tests have been flaky, and it's slowing down builds, inflating support requests, and generally annoying.

Real Life Example:

It's literally just adding a line to `yarn build:content` help :unamused:
I guarantee you it's not breaking a thing. - https://dsva.slack.com/archives/CQH357ZTP/p1598028988043500

[2020-08-26 18:24] #12046 closed

[2020-08-26 18:25] U-DON commented on #10631
We're now on the latest version of the app generator (`generator-vets-website@3.4.0`), which generates Cypress tests.

[2020-08-26 18:25] #10631 closed

[2020-08-26 18:26] U-DON commented on #784
We're now on the latest app generator (`generator-vets-website@3.4.0`), which generates Cypress tests. I've validated that the correct tests are generated and run successfully.

[2020-08-26 18:26] #784 closed

[2020-08-26 18:27] #12010 closed

[2020-08-26 18:27] #12644 closed

[2020-08-26 18:28] jbalboni commented on #11923
I think this is a duplicate of #12644, closing

[2020-08-26 18:28] #11923 closed

[2020-08-26 18:30] ffafara-tw commented on #6719
**AWS Access:**
User: Phil Herbert
COR: Bryan Broome
Approver: @Jeff-Hayter

[2020-08-26 18:34] AGarcia-Clarity opened #12917 "Access for [individual]"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Add a comment @department-of-veterans-affairs/vsp-operations to ping the operations team
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please

[2020-08-26 18:35] AGarcia-Clarity commented on #12917
@department-of-veterans-affairs/vsp-operations Thank you!

[2020-08-26 18:38] mdewey commented on #12172
<img width="584" alt="Screen Shot 2020-08-24 at 12 41 48 PM" src="https://user-images.githubusercontent.com/1793923/91342987-d5c26e80-e7a9-11ea-9c61-6020b8fa53df.png">

Here is the whiteboard

[2020-08-26 18:39] amyknox commented on #12780
Thanks for the input, Trevor. We'll keep in mind the issue if someone rates a school but the display is delayed because there's insufficient ratings to display.  Still exploring what the threshold might be.

We'll definitely be looking forward to testing this on staging, and with mobile users, to make sure the experience works across all platforms.

[2020-08-26 18:40] peggygannon commented on #12378
ok, thanks!

[2020-08-26 18:42] amyknox commented on #12607
Thanks @CrystabelReiter !
Thanks @mnorthuis !
Thanks @peggygannon ! Great point on the additional content. We're still working on what the threshold would be for aggregate ratings display.  We'll keep your suggestion in mind.

[2020-08-26 18:42] bradl3yC commented on #12378
@peggygannon this should have trickled down to staging now and is ready to be reviewed

[2020-08-26 18:43] jenniferlee-dsva commented on #12181
@ncksllvn - thx for the test dummy page. the only part of the AC that's missing is autopopulating the bad form URL in the mailto email message text.

So when I click on the form manager email link and the email message client opens, it should populate the To: with the form manager email (which it does now) + in the message body, it should autopopulate the text:

[2020-08-26 18:45] #12780 closed

[2020-08-26 18:46] jenstrickland opened #12918 "508-defect-2 Fast Follow! [DOCUMENTS]: PDFs MUST be accessibility compliant"
# [508-defect-2 Fast Follow!](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

**Feedback framework**
- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

The generated PDF **must** pass an acc

[2020-08-26 18:47] jenstrickland commented on #10743
@1Copenut This audit is complete and ready for your VSP review.

cc @ala-yna for visibility

[2020-08-26 18:49] pjhill commented on #12103
@lenaecb - thanks for the list. I'm going through these to see what kind of errors we get now.

For `tristan.mhv@id.me` and `tristan`, where did these username and passwords come from? It does appear that they are not valid logins for the moment.

For `ben.morgan@id.me`, agreed that there is an error immediately upon login.
![image](https://user-images.githubusercontent.com/52456633/91343949-3d2ce

[2020-08-26 18:52] #12917 closed

[2020-08-26 18:57] leahkeeler opened #12919 "EFolders - Discovery Research Epic"
## High Level User Story
As a  Veteran on MyFolders eFolders page I want the ability to be able to retrieve the documents available to me

## Goals
On the current eBenefits site it is unclear if the filtering on dates and doc names are used by veterans and how - the intent of thi  study is to determine if the current features are used or if it would be better to introduce different components

##

[2020-08-26 18:59] jenniferlee-dsva commented on #4552
This all LGTM @MickinSahni. Not sure what action item I needed to do here other than review. LMK if there's something else.

[2020-08-26 19:00] micahchiang commented on #10015
Recent PR that puts the 526 wizard on the intro page - https://github.com/department-of-veterans-affairs/vets-website/pull/13963/files

[2020-08-26 19:02] jenniferlee-dsva commented on #12616
LMK what screenshots you need @MickinSahni

[2020-08-26 19:02] jbritt1 commented on #12917
SOCKS access granted. Please continue with [the guide](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/engineering/internal-tools.md#configure-the-socks-proxy) to establish a connection to SOCKS proxy.

[2020-08-26 19:05] sonntag-adam commented on #12230
In staging. Testing passes QA

[2020-08-26 19:06] #12230 closed

[2020-08-26 19:08] AGarcia-Clarity commented on #12917
@jbritt1 - I am getting a 404 on Step 1's 'Click this link'.  I don't think I have access to the `devops` repo.

[2020-08-26 19:09] mnorthuis opened #12920 "Staging review - Dependents claim - IA feedback"
**Feedback framework**

- **Must** for if the feedback must be applied
- **Should** if the feedback is best practice
- **Consider** for suggestions/enhancements

## Description
This issue describes IA feedback for 2 items: View dependents tool and Add/remove dependents form

**MUST** <br>
Add/remove dependents 686
- Update URL for the 686 from to include the "21" in the form number.  URL should be

[2020-08-26 19:10] pjhill commented on #12544
Taking a look at the defects of today (8/26/2020), they all appear to be closed -- hooray!

[2020-08-26 19:12] andaleliz opened #12921 "[Discovery] - Learning Center MVP - IRIS Call Center Author Research kick-off"
@andaleliz and @jenniferlee-dsva to sync w/ team to discuss:
- [x] How do the call center authors fit into the learning center product?
- [x] Past attempts at info gathering
  - What questions have we tried to answer in the past?
  - How did we try to get those answers?
  - Why couldn't we get the info we were looking for?
- [x] What are our research goals for interviews w/ call center authors?
-

[2020-08-26 19:13] mnorthuis commented on #9529
@jason-gcio Is this review for the 686 form AND the view dependents tool or just the 686 form?  Can you drop a link to the form I'm not seeing it where anticipated:  https://staging.va.gov/view-change-dependents/add-remove-form-21-686c

[2020-08-26 19:23] ncksllvn commented on #12181
Oh interesting, I'll see if I can add that!

[2020-08-26 19:24] #12395 closed

[2020-08-26 19:27] jenstrickland commented on #11890
I need to be able to validate the fix to close this issue.

[2020-08-26 19:28] mmiddaugh commented on #3557
@jenstrickland this is ready for validation

[2020-08-26 19:28] mmiddaugh commented on #3441
This is ready for validation at your convenience, @jenstrickland

[2020-08-26 19:29] jenstrickland commented on #3557
Validated. 🎉

[2020-08-26 19:29] #3557 closed

[2020-08-26 19:30] jenstrickland commented on #3441
Validated. 🎉

[2020-08-26 19:30] #3441 closed

[2020-08-26 19:30] mmiddaugh commented on #7244
@jenstrickland this is ready for your validation, when you are able

[2020-08-26 19:31] sporeboy commented on #12440
@peggygannon Thanks so much for all of your help. Answers to your questions below:

- The optional info screens were removed by the LOB. I made the text changes, but we're leaving them "on the side" for now. We can add explainer text if the LOB pulls them back in.
- The out-of-order screens are rigged to work as a prototype, so running through as a slideshow may result in screens out of place.
- I

[2020-08-26 19:33] jenstrickland commented on #7244
Validated. 🎉

[2020-08-26 19:33] #7244 closed

[2020-08-26 19:34] desireeturner commented on #10780
@jonwehausen @bsmartin-ep @bmcgrady-ep The typo in the following comment has been addressed and is available for review: https://github.com/department-of-veterans-affairs/va.gov-team/issues/10780#issuecomment-676864241

[2020-08-26 19:35] jbritt1 commented on #12917
Roger. Does the identity team have an official GitHub team yet? Have you been added there?

[2020-08-26 19:35] cvalarida opened #12922 "Missing entityId on paragraphs (at least)"
## Issue Description
When comparing the build GraphQL and CMS export build output, it looks like all the paragraphs are missing `entityId`.
Example:
![image](https://user-images.githubusercontent.com/12970166/91348370-8293f000-e798-11ea-800c-c57cc0a3c2ef.png)

---
## Tasks
- [ ] Add the `entityId` to all entities

## Acceptance Criteria
- [ ] The `data-entity-id` attributes include data

[2020-08-26 19:37] jbritt1 commented on #12917
@ricetj, can you add this user to vets.gov-write in the meantime while he waits for official identity team membership so he can view the devops repository please sir?

[2020-08-26 19:38] Samara-Strauss opened #12923 "[FE] Match error messages with VA Profile codes"
## Background

I mentioned [in this Slack convo](https://dsva.slack.com/archives/C909ZG2BB/p1598377650070400) that we had someone outside of our team request that we let them know what error messages go with which VA Profile error codes. While I'd love to have a full audit of this, that would be insane; there are about 200 error codes. So, I got this person to scope the request for us and drastica

[2020-08-26 19:38] mchelen-gov opened #12924 "Clarify code linting docs"
### What is your documentation request, question, comment, or issue?
https://department-of-veterans-affairs.github.io/veteran-facing-services-tools/platform/front-end-standards/manual-reviews

The "ESLint" section of this page is helpful because it covers the basic linting config, mainly as used in the CI server.

However, ESLint is used in at least 3 slightly different places:
1. IDE (`.eslintrc`

[2020-08-26 19:45] RLHecht commented on #12537
@oksana-c I've put in the sample text for the checklist template. Here's the node: prod.cms.va.gov/node/6924

Two issues I found:

1. Can there be text underneath the section header that is not a checklist item? Here's a screenshot of a draft in github: ![Screen Shot 2020-08-26 at 3.38.27 PM.png](https://images.zenhubusercontent.com/5c9b7e302ac54336e2c327b8/d2c7de19-d0ec-4673-917d-86fe1fa6485a)

T

[2020-08-26 19:46] luke-gcio commented on #10445
BDD UAT and BDD/HLR release plans out there.

[2020-08-26 19:46] #10445 closed

[2020-08-26 19:46] AGarcia-Clarity commented on #12917
I will ask my team lead but none exist to my knowledge.  Thank you again!

[2020-08-26 19:47] jbritt1 commented on #12917
Roger that,

Roger that, in the meantime I have asked TJ if we can get you on a team that I believe will at least work in interim.

[2020-08-26 19:50] luke-gcio opened #12925 "[Development] HLR: Wizard Implementation"
## Issue Description
Once we have the design and content for the new wizard, we will implement it in time for UAT testing.

## Acceptance Criteria
- [ ] Wizard built and approved by designers, etc
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [x] **Attached to an Epic** (what body of work is this a part of?)
- [x] **Labeled with Team** (`prod

[2020-08-26 19:51] mchelen-gov commented on #12924
.cc @chrvalla @jhonnyoddball

[2020-08-26 19:59] tressaellen commented on #11890
Oh, sorry Jen!

[2020-08-26 20:01] Clark-W-Griswold commented on #10114
Adding here for visibility:
https://dsva.slack.com/archives/CQH357ZTP/p1598361284101000

[2020-08-26 20:06] zurbergram commented on #12810
https://github.com/department-of-veterans-affairs/gibct-data-service/pull/710/

Changes made in this PR will make it so that exact matches to alias, city, and institution are correctly sorted to the top

When testing use cases that should work as one would think
1. exact matches to alias
1. exact matches to institution name
1. exact matches to city
1. exact matches to facility code
1. partial matc

[2020-08-26 20:10] rileyorr opened #12926 "[Design] Debt Letters UAT round 2"
## Issue Description
_In order to validate that the data we're receiving from the DMC matches what we're expecting on the frontend, we need to conduct UAT. We didn't achieve our desired number of participants with current VA debts during the last round, so we've extended to recruit more participants._

---
## Tasks
- [x] _Moderate UAT sessions from August 26th - September 2nd_
- [x] _Complete [the

[2020-08-26 20:12] mshea0606 commented on #12374
@sanlouise looks good!

[2020-08-26 20:12] #12374 closed

[2020-08-26 20:12] tlei123 commented on #10638
@MickinSahni , i'm finishing test-runs today, and will close this once all are done.

[2020-08-26 20:15] RLHecht commented on #12470
I've changed this so that the "On this page" is out of the intro. I checked the "Include table of contents?" so it's now showing as that. Just note it goes below the featured content blue box so not directly below the intro text like it was previously in the bigger font. See screenshot:
<img width="871" alt="Screen Shot 2020-08-26 at 4 13 42 PM" src="https://user-images.githubusercontent.com/48728

[2020-08-26 20:22] annaswims commented on #11353
affected 49 users in the past month

[2020-08-26 20:26] mmiddaugh commented on #4215
This is ready for validation, @jenstrickland

[2020-08-26 20:29] rileyorr opened #12927 "[Design] Incorporate Debt Letters usability study recommendations"
## Issue Description
_The team needs to review the recommendations that came out of the Debt Letters usability study and incorporate the approved short-term recommendations._

---
## Tasks
- [x] _Present the usability test findings to the team_
- [x] _Discuss and decide which short-term recommendations will be included_
- [x] _Incorporate the approved short-term recommendations into the UXPin prot

[2020-08-26 20:31] tlei123 opened #12928 "[Bug] - SSO-Cerner Health Page Updates - Unauth'd - Prescriptions - Copy mismatches"
## What happened?
On, Staging **[Cerner Health, Prescriptions](https://staging.va.gov/cerner-staging/prescriptions/)** page \[unauthenticated], copy did not match copy-specs.

## Specs:
- Device: \[device-agnostic]
- Browser: \[browser-agnostic]

## Steps to Reproduce
1. Go to https://staging.va.gov/cerner-staging/prescriptions/ -- do not sign in.
1. Observe the following copy mismatches:
    A. I

[2020-08-26 20:31] jason-gcio commented on #9529
We have been using https://staging.va.gov/view-change-dependents/add-remove-form-686c/
Should we update that with the "21"?

[2020-08-26 20:32] mmiddaugh commented on #7239
@jenstrickland this is ready for validation at your convenience

[2020-08-26 20:41] mmiddaugh commented on #6009
I think this issue is resolved.
@1Copenut can you please validate at your convenience?

[2020-08-26 20:44] rileyorr opened #12929 "[Design] Debt Letters statuses and next steps draft"
## Issue Description
_The categorized status codes need to be translated into statuses and next steps that will be displayed in the UI._

---
## Tasks
- [x] _Create an Excel sheet mapping the diary codes to statuses_
- [x] _Draft the statuses and next steps_
- [x] _Send the drafted statuses and next steps to the DMC team for review_

## Acceptance Criteria
- [x] _An Excel sheet mapping the diary c

[2020-08-26 20:48] mmiddaugh commented on #6026
I think this is resolved. Please validate at your convenience, @1Copenut or @jenstrickland

[2020-08-26 20:53] mmiddaugh commented on #3445
New design no longer incorporates carats. This is resolved.

[2020-08-26 20:53] #3445 closed

[2020-08-26 20:54] mmiddaugh commented on #8245
This should be resolved in the new design implementation. Please validate at your convenience, @jenstrickland

[2020-08-26 21:00] mmiddaugh commented on #8977
I believe this is resolved. Please validate at your convenience, @jenstrickland

[2020-08-26 21:04] mmiddaugh commented on #4219
This preview header is no longer in use.

[2020-08-26 21:04] #4219 closed

[2020-08-26 21:05] mnorthuis commented on #9529
Oh right, I just had that convo with Jim!  Yes, I'll put the URL change in my feedback.

[2020-08-26 21:06] mmiddaugh commented on #8414
This issue should be resolved by our recent responsive design changes. Please validate at your convenience, @jenstrickland

[2020-08-26 21:15] mmiddaugh commented on #12075
@rtwell this issue for "VAMC facility health services design" meeting scheduled for Friday, August 28

[2020-08-26 21:15] jenstrickland commented on #8414
I tested in production, and it isn't fixed. Should I test in staging?

![Screen Shot 2020-08-26 at 5 09 28 PM](https://user-images.githubusercontent.com/57469/91357317-0c56b400-e7bf-11ea-967c-10de37d2bd17.png)

![Screen Shot 2020-08-26 at 5 09 48 PM](https://user-images.githubusercontent.com/57469/91357323-0fea3b00-e7bf-11ea-9ecc-5c5c828f6a17.png)

![Screen Shot 2020-08-26 at 5 09 54 PM](https://u

[2020-08-26 21:19] jenstrickland commented on #4215
validated. 🎉

[2020-08-26 21:19] #4215 closed

[2020-08-26 21:22] jbalboni opened #12930 "Remove previous functions in flow files in favor of holding data in state"
Currently we have next and previous functions for each entry in our form flow files (newAppointmentFlow and newExpressCareRequestFlow). We've had several bugs where the previous logic wasn't in sync with the next logic and going back through the form sent users to the incorrect page.

A different approach for this would be to hold the previous page for each page in our Redux state. Essentially:

1

[2020-08-26 21:23] tlei123 opened #12931 "[Bug] SSO-Cerner Health Page Updates - Unauth'd - Results - Copy mismatch"
## What happened?
On Staging **[Cerner Health, Results](https://staging.va.gov/cerner-staging/results/)** page \[unauthenticated], copy did not match copy-spec.

## Specs:
- Device: \[device-agnostic]
- Browser: \[browser-agnostic]

## Steps to Reproduce
1. Go to https://staging.va.gov/cerner-staging/results/ -- do not sign in.
1. Immediately below **page-title**, observe that spec'ed 1st paragrap

[2020-08-26 21:23] jenstrickland commented on #8977
validated 🎉

[2020-08-26 21:23] #8977 closed

[2020-08-26 21:24] jenstrickland commented on #8245
validated 🎉

[2020-08-26 21:24] #8245 closed

[2020-08-26 21:24] #12607 closed

[2020-08-26 21:25] jenstrickland commented on #6026
validated 🎉

[2020-08-26 21:25] #6026 closed

[2020-08-26 21:26] #12506 closed

[2020-08-26 21:28] jenstrickland commented on #6009
This one does not seem to be resolved. I was unable to scroll to see more to the side.

![Screen Shot 2020-08-26 at 5 27 13 PM (2)](https://user-images.githubusercontent.com/57469/91358794-73756800-e7c1-11ea-8405-ee79b5569d2b.png)

[2020-08-26 21:29] jenstrickland commented on #7239
Validated 🎉

[2020-08-26 21:29] #7239 closed

[2020-08-26 21:29] amyknox commented on #12509
Mural https://app.mural.co/t/bahdigitalexperience6902/m/bahdigitalexperience6902/1596203507651/dc70997c2bc44977e499d367d36e419c2541a5f0

[2020-08-26 21:40] ElijahLynn opened #12932 "Add Eric Oliver to Pager Duty"
## Description
Add Eric Oliver to Pager Duty. I will put him on the right schedule etc. Just need him added.

eric.oliver@agile6.com

## Background/context/resources
_Any additional context for the reader to know, if applicable_

https://dsva.slack.com/archives/CBU0KDSB1/p1598478099373900 (internal)

## Technical notes
_Notes around work that is happening, if applicable_

---
## Tasks
- [ ] _What

[2020-08-26 21:41] mdewey commented on #12720
Update with a draft ready for review. Set meeting for Friday 8/28/2020

[2020-08-26 21:43] mmiddaugh commented on #6009
My apologies, I thought my browser had zoomed but apparently, it had not. Sending this back to backlog

[2020-08-26 21:50] amyknox commented on #12503
Was going to add Luke's comment about "the content looks great" from EDU meeting earlier this sprint but can't track it down in mtg notes.  Will send over content doc (attached) for their review with 8/27 mtg agenda.

[https://app.zenhub.com/files/133843125/0037f234-34b9-485e-bba9-02a89595485d/download](https://app.zenhub.com/files/133843125/0037f234-34b9-485e-bba9-02a89595485d/download)

[2020-08-26 21:56] #12322 closed

[2020-08-26 22:13] bmcgrady-ep commented on #12620
Auth Experience KPI | Metric | Source | Go/No Go
------------ | ------------- | ------------- | -------------
Overall searches for "direct deposit" | Total Unique Searches of "direct deposit" | Google Analytics | ✔️ Go
Searches for "direct deposit" initiated from the profile | Total Unique Searches of "direct deposit" | Google Analytics | ✔️ Go
Searches initiated from the profile | Total Unique Se

[2020-08-26 22:20] MickinSahni opened #12933 "[Epic] [Content] Learning Center MVP"

[2020-08-26 22:28] jsev-io commented on #12073
AWS Access granted as part of recent lighthouse onboarding.

[2020-08-26 22:29] #12073 closed

[2020-08-26 22:39] kathleencrawford opened #12934 "Update BGS Gem for Get Regional Office by Zip Code"
## Goal
We need to call the BGS (Regional Office) RO Routing Service to determine the location id based on the Veteran's postal code so that, presumably, the person looking at it is closest to the Veteran.

## Tasks
- [x] Update BGS gem to allow the `getRegionalOfficeByZipCode` data to be utilized

## Acceptance Criteria
- [x] BGS gem code is submitted and a PR is requested for merging

[2020-08-26 22:43] tlei123 opened #12935 "[Bug] SSO-Cerner Health Page Updates - Auth'd - Appointments - Copy mismatch"
## What happened?
On Staging **[Cerner Health, Appointments](https://staging.va.gov/cerner-staging/appointments/)** page \[authenticated], copy did not match copy-spec.

## Specs:
- Device: \[device-agnostic]
- Browser: \[browser-agnostic]
- Test User _(if applicable)_: ```ssoissoetesting+mhvcss4@gmail.com``` (Adolph)

## Steps to Reproduce
1. Go to https://staging.va.gov/cerner-staging/appointmen

[2020-08-26 22:44] 1Copenut commented on #10784
I'm on the fence with this one. Is the current best strategy to hide the map in favor of search results, and only show the map on user interaction like clicking a button `Show map` ? If we go that route, I would concur on having a message about the map being on the roadmap for updates. Not perfect, but acknowledging the current status.

[2020-08-26 23:24] tlei123 opened #12936 "[Bug] SSO-Cerner Health Page Updates - Auth'd - Messaging - Copy/styling mismatches"
## What happened?
On Staging **Cerner Health, Messaging** page \[authenticated], copy/styling did not match specs.

## Specs:
- Device: \[device-agnostic]
- Browser: \[browser-agnostic]
- Test User _(if applicable)_: ```ssoissoetesting+mhvcss4@gmail.com``` (Adolph) -- this was provided as a Cerner user.

## Steps to Reproduce
1. Go to https://staging.va.gov/cerner-staging/messaging/ -- sign in as

[2020-08-26 23:49] tlei123 opened #12937 "[Bug] SSO-Cerner Health Page Updates - Auth'd - Prescriptions - Copy/styling mismatch"
## What happened?
On Staging **[Cerner Health, Prescriptions](https://staging.va.gov/cerner-staging/prescriptions/)** page \[authenticated], copy/styling did not match specs.

## Specs:
- Device: \[device-agnostic]
- Browser: \[browser-agnostic]
- Test User _(if applicable)_: ```ssoissoetesting+mhvcss4@gmail.com``` (Adolph) -- this was provided as a Cerner user.

## Steps to Reproduce
1. Go to htt

[2020-08-27 02:03] edmangimelli commented on #9903
Errors Anna and I discussed on 8/26

*issues must be between 1 and 100*
  majority of errors were on 7/27 & 7/28
  --seems like it's probably not an issue anymore? (after 7/28 this error doesn't pop up much)

*form526.submit.establishClaim.serviceError: Benefit Type, Payee code or EP Code is not valid.  Benefit Type must be CPD, Payee code must be 00, 10 - 29, 50, 60 or 70 - 78.*
  we have a ticke

[2020-08-27 02:44] edmangimelli opened #12938 "[Development] 526: disabilities array must be between 1 and 100"
Some submissions are failing with this error:
`form526.disabilities.Size: size must be between 1 and 100`

Add validation to the UI that will catch this error before the form is submitted.

Looking at occurrences of this error, largely the problem is that 0 disabilities are handed to the BE.

this ticket comes from https://github.com/department-of-veterans-affairs/va.gov-team/issues/9903#issuecomm

[2020-08-27 02:46] edmangimelli commented on #12938
not sure what epic this should be in

[2020-08-27 04:55] tlei123 opened #12939 "[Bug] SSO-Cerner Health Page Updates - Auth'd - Records - Copy mismatches"
## What happened?
On Staging **[Cerner Health, Records](https://staging.va.gov/cerner-staging/records/)** page \[authenticated], copy did not match specs.

## Specs:
- Device: \[device-agnostic]
- Browser: \[browser-agnostic]
- Test User _(if applicable)_: ```ssoissoetesting+mhvcss4@gmail.com``` (Adolph) -- this was provided as a Cerner user.

## Steps to Reproduce
1. Go to https://staging.va.gov/

[2020-08-27 05:55] tlei123 opened #12940 "[Bug] SSO-Cerner Health Page Updates - Auth'd - Results - Copy mismatches"
## What happened?
On Staging **[Cerner Health, Results](https://staging.va.gov/cerner-staging/results/)** page \[authenticated], copy did not match spec.

## Specs:
- Device: \[device-agnostic]
- Browser: \[browser-agnostic]
- Test User _(if applicable)_: ```ssoissoetesting+mhvcss4@gmail.com``` (Adolph)) -- this was provided as a Cerner user.

## Steps to Reproduce
1. Go to https://staging.va.gov/

[2020-08-27 07:16] tlei123 commented on #10638
@MickinSahni , all test runs done.

TestRail links
- Test Plan
- Coverage for References report
- Summary (Defects) report

NOTE: It seems the provided Staging test-acct ```ssoissoetesting+mhvcss4@gmail.com``` may have brought up Unauthenticated content (for Users signed-in but not belong to a Cerner facility) while running many of the Authenticated test-cases.  That would explain the numerous cop

[2020-08-27 11:58] edmangimelli commented on #7197
another PR
https://github.com/department-of-veterans-affairs/vets-json-schema/pull/490

[2020-08-27 12:17] #11957 closed

[2020-08-27 12:49] erluti commented on #10979
Considering this work https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/11585 and upcoming Pact work, we've got much better coverage of this

[2020-08-27 12:49] #10979 closed

[2020-08-27 13:03] meganhkelley commented on #11703
@U-DON friendly reminder to grab Cypress/Nightwatch numbers this week when you have a moment. Thanks in advance!

[2020-08-27 13:12] #12513 closed

[2020-08-27 13:18] edmangimelli opened #12941 "[Development] 526: error: "disability being claimed for increase was not found""
Some submissions are failing with this error:
`form526.disabilities.ratedDisability.isInvalid: The rated disability being claimed for increase was not found for Disability`

Look up occurrences of this error one-by-one and see if we're maybe formatting the request incorrectly.
Spin up a ticket as necessary (if you want this to be a discovery ticket and you think there should be a separate implemen

[2020-08-27 13:20] abuckley3385 commented on #11669
@massrb @mdewey can we link to the Tech feasibility section where the research for this gap is documented and what exactly we are needing /wanting from Lighthouse to enhance to work with the va.gov auth. In addition, I believe the current description is a bit out of date so it might be nice just to have a couple sentences outlining the issue for a quick read.  Otherwise it really only has the upda

[2020-08-27 13:20] RLHecht commented on #12655
Validated on live site. Closing ticket. FYSA @MickinSahni

[2020-08-27 13:20] #12655 closed

[2020-08-27 13:26] artsymartha68 opened #12942 "Increase font size for date on final screen"
## What happened?

Per feedback from users in Puget Sound, the font size for the date on the final screen to be larger since they are required to verify the date.

I'll work on an updated design.

[2020-08-27 13:32] edmangimelli commented on #11094
ran out of time to go over the draft PR.
asking for a review on another vets-json-schema PR
https://dsva.slack.com/archives/CBU0KDSB1/p1598529641385300

[2020-08-27 13:33] mchelen-gov commented on #12316
@gmaciolek very true, it's quite a lot of interconnected pieces. would it be helpful to either 1) limit scope to one of these docs, updating it as best as possible without touching anything else 2) try to describe & plan the pieces that need to be updated, without trying to modify anything yet
i'll look forward to hearing what you discover, it's definitely a big knot to untangle so any progress or

[2020-08-27 13:34] mchelen-gov commented on #10631
awesome, ty!!

[2020-08-27 13:57] bsmartin-ep commented on #11045
@joanneesteban / @amycesal -

I updated the BAM2 events dataset to include `browser` and added a new dataset for BAM2 traffic (with `browser` and `device category`) in users and pageviews.

https://va-gov.domo.com/page/1133411197

Any thoughts on line graph vs bar on this one?  Are day-to-day numbers useful or is it better to have an overall segmentation?

![image](https://user-images.githubuserco

[2020-08-27 14:06] artsymartha68 commented on #12942
OK this is what it looks like on my iPhone 8. We definitely have some vertical room to play with.

The only thing I'm changing here:

1. Day name font size: 54 px in Sketch (can we insure no line breaks in day name somehow?)
2. Add a line return/paragraph for Date
3. Increase font size for date: 74 px in Sketch
4. Remove comma, add line return/paragraph for time
5. Time font is 24 px in Sketch

<i

[2020-08-27 14:07] sanlouise opened #12943 "[FE] - Update form button styling"
### Description
In some rare scenarios, the 'Remove' action did not wrap to the next line. Also, the padding between the Cancel and Confirm buttons is too wide.

![image.png](https://images.zenhubusercontent.com/5e9d15aab51cccb259a8a6c7/905cd394-2c3b-4757-9847-b965293940c3)
![image.png](https://images.zenhubusercontent.com/5e9d15aab51cccb259a8a6c7/08b3ab32-46c1-4a39-b038-6483f45d597d)

### Tasks
-

[2020-08-27 14:10] bsmartin-ep commented on #11513
@joanneesteban -

Pageview dataset has been fixed and back-filled to correct July 2020.

![image](https://user-images.githubusercontent.com/62304138/91452779-fd1e4780-e84c-11ea-9876-9bfae0322d10.png)

I also adjusted the scheduling and back-filled this one:

- [Claims Views Details Only](https://va-gov.domo.com/datasources/d36dd4e7-04c7-4ed9-84c4-ddbc2d584357/details/overview)

This one also had t

[2020-08-27 14:19] dneel-bah opened #12944 "EDU: Update feature flag implementations."
As a developer, I need to modify feature flags to verify user has authorization to access the feature flag.

## Assumptions:
1. This work is related to feature flags in vets-api repository.
2. The following feature flags are to be reviewed to determine changes necessary for this story:
    a. edu_benefits_stem_scholarship
    b. stem_sco_email
    c. gibct_filter_enhancement
    d. gibct_search_en

[2020-08-27 14:21] meganhkelley opened #12945 "Review Pact docs for FE & BE Tools teams"
### What is your documentation request, question, comment, or issue?

VSP FE & BE Tools teams are currently working on setting up Pact. Pact is an integration testing tool that will allow VFS teams to run automated tests on their apps, specifically to test the frontend of the app (the UI on VA.gov)'s integration with the backend.

Lindsey and Eugene have drafted VFS-facing documentation about how

[2020-08-27 14:27] mpelzsherman commented on #11764
Re: cutover plan: per @ethanteague, we will need to add a field to Drupal to indicate which model to use. This is a blocking dependency.

[2020-08-27 14:30] mpelzsherman commented on #11764
@ethanteague has offered to document the new content model, and work with us to update the GraphQL queries and templates.

[2020-08-27 14:35] billfienberg commented on #7946
## Example of an inline JS asset

The [`survey-tools.html`](https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/site/includes/survey-tools.html) [Twig template](https://twig.symfony.com/doc/3.x/templates.html) checks the `buildtype` variable, and [`includes`](https://twig.symfony.com/doc/3.x/tags/include.html) the corresponding [`staging`](https://github.com/department-o

[2020-08-27 14:37] dneel-bah opened #12946 "STEM: Remove 'gibct_ch33_benefit_rate_update' feature flag"
As a developer, I need to remove the feature flag for benefit level percentages because they will not be reverted going forward.

## Assumptions:
1. The feature flag was configured as part of story #11534.
2. This functionality has been turned on as of 07/31/2020 and no issues have been encountered.

## Acceptance Criteria:
1. The feature flag 'gibct_ch33_benefit_rate_update' is not displayed here

[2020-08-27 15:00] U-DON commented on #11703
## Week of August 24

### Cypress
62 test cases across 23 files

### Nightwatch
88 tests

[2020-08-27 15:15] delli-gatti-michael commented on #12797
Confirmed in Staging
[Spool File](https://app.zenhub.com/files/133843125/414804f7-00af-4694-b3fa-baacd75692b4/download)

[2020-08-27 15:16] delli-gatti-michael commented on #12797
Tested by TestRail test case
https://dsvavsp.testrail.io/index.php?/tests/view/11964&group_by=cases:section_id&group_order=asc&group_id=51

[2020-08-27 15:16] delli-gatti-michael commented on #12797
Awaiting confirmation by EDU before closing

[2020-08-27 15:22] #12161 closed

[2020-08-27 15:30] delli-gatti-michael commented on #12818
Submitting using a user in Colorado (previously a Central state) routes to Buffalo

![Screen Shot 2020-08-27 at 11.29.19 AM.png](https://images.zenhubusercontent.com/5c07f000391a6f6357adc430/51d8bc69-3397-4eca-a36f-42b0889fff75)

[2020-08-27 15:35] leahkeeler opened #12948 "Contact Center Review for Debt Letters MVP + Iteration2"
Request the Contact Center Review

## What this form is for
Use this template to request a Contact Center review of your product.

Please review the Self service Product Guide Template [link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/contact-center/self-service-product-guide-template.md) and the Contact Center Review How to [link](https://github.com/departm

[2020-08-27 15:40] mchelen-gov commented on #12404
slack thread: https://dsva.slack.com/archives/C019EATUKN2/p1598537574004700

[2020-08-27 15:41] ricetj opened #12949 "VSP Operations Onboarding for Srikanth"
# Ops Onboarding
## Overview
Welcome to the platform and more particularly the VSP Operations team.  This ticket is a checklist and guide to try and improve the onboarding process and get you up to speed.

If you have any questions/need access please reach out to TJ.

##  Checklist

### Access to what you need
- [ ] [Getting setup](https://github.com/department-of-veterans-affairs/va.gov-team/blob

[2020-08-27 15:43] mchelen-gov commented on #12778
@abuckley3385 it seems like this might a sub issue of https://github.com/department-of-veterans-affairs/va.gov-team/issues/12406
@massrb can you try using a tool like https://marketplace.visualstudio.com/items?itemName=humao.rest-client to manually query VAMF FHIR sandbox?

[2020-08-27 15:43] MickinSahni commented on #12181
Nick working on the email update and an example for of the invalid PDF url for the product guide and QA

[2020-08-27 15:46] #11899 closed

[2020-08-27 15:46] #9773 closed

[2020-08-27 15:46] #11903 closed

[2020-08-27 15:47] lenaecb commented on #12625
@narin - looks like we're good to go on this ticket? If so, I'll get the 508 review ticket opened for Trevor for EC audit.

[2020-08-27 15:47] ncksllvn commented on #12181
Note to self - Make this page a complete form detail but with invalid PDF links - https://staging.va.gov/form-detail-dummy - to show full context

[2020-08-27 15:48] mpelzsherman opened #12950 "Add sass:changed yarn task"
Currently our `lint:changed` task, which runs as a pre-commit hook, calls `lint:sass`, which examines ALL of our scss files, not just the ones we touched.

Can we please add a `sass:changed ` task so we only see warnings and errors related to the files we actually touched?

[2020-08-27 15:48] bethpottsVADEPO commented on #8306
Update: Confirmed with OTED (Charlotte Kemper) that the name of the PDF form will not change. This means there's nothing for us to update related to the language linking users to the PDF from our page.

[2020-08-27 15:49] lenaecb commented on #12298
Need to break Peggy's recommendations into separate tickets based on flow (meaning for all CC request changes put in one ticket)

[2020-08-27 15:50] MickinSahni commented on #11579
Validated, closing!

[2020-08-27 15:50] #11579 closed

[2020-08-27 15:51] mdewey commented on #12257
Created test for the happy path, need to create tests for edge cases

Working Branch: https://github.com/department-of-veterans-affairs/vets-website/tree/healthcare-12257-display-demographics

[2020-08-27 15:53] lenaecb opened #12951 "Iteration on Location/Facility Selection experience"
## User need/problem
When a Veteran is going through VAOS scheduling flow for VA requests/self schedule and they reach "Select a location" page they do not immediately recognize the options we are presenting them. These options at are the parent site level and do not include city/state.

From user testing, Veterans did not immediately know what to do or what to select if they didn't recognize the

[2020-08-27 15:54] U-DON commented on #9703
Currently, the Gatsby site is only pulling from the `working-with-vsp` folder, since I originally set it up that way as a demo of how it could work. We could easily expand it to encompass the structure from a higher level, and it would follow the IA of the source repo (va.gov-team).

This doesn't mean that the navigation (sidebar, header menu, etc.) automatically adapts to that structure; we'd hav

[2020-08-27 15:57] johnhashva commented on #12824
Hi @mmiddaugh -- @ncksllvn and I have been doing some work on this front (e.g. schema.org markup/rich results) so welcome opportunity to catch-up on this front and fill you in on where we are at -- at this early stage.

[2020-08-27 15:59] #12922 closed

[2020-08-27 15:59] U-DON commented on #9703
To use an example, let's look at this [Request Access to Tools doc](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/working-with-vsp/orientation/request-access-to-tools.md), which got updated yesterday (as of this comment). Meanwhile, the Gatsby site was updated 2 days ago.

This doc falls under the `working-with-vsp` folder that I designated as the source (again

[2020-08-27 16:02] #10662 closed

[2020-08-27 16:06] narin commented on #12625
Yes, we should be good to go @lenaecb

[2020-08-27 16:06] #12625 closed

[2020-08-27 16:12] mmiddaugh opened #12952 "[DESIGN] Low-fi prototype for Vet Center"
## Issue Description
Based on existing Vet Center research and interviews with outreach specialists, we believe the services taxonomy will best be fine-tuned in the context of a webpage prototype.

---
## Tasks
- [x] Create a low-fi design informed by research findings, the existing detail page and new VAMC pages which can be used in discussions with the Vet Center stakeholders and in Veteran rese

[2020-08-27 16:12] annaswims commented on #7816
Sentry error http://sentry.vfs.va.gov/vets-gov/platform-api-production/issues/154347/?query=addressLine1

[2020-08-27 16:14] annaswims commented on #7701
We're seeing the error again from evss http://sentry.vfs.va.gov/vets-gov/platform-api-production/issues/154347/?query=addressLine1

[2020-08-27 16:16] annaswims commented on #7816
A description of what the user is doing to see the error is in https://github.com/department-of-veterans-affairs/va.gov-team/issues/8575#issue-609247664

[2020-08-27 16:30] jbalboni opened #12953 "Create endpoint for direct booking eligibility criteria"
Service: https://veteran.apps.va.gov/facilities/v1/direct-booking-eligibility-criteria

We need expose this endpoint through vets-api, similar to what we do for request-eligibility-critiera.

Swagger: https://veteran.apps.va.gov/facilities/v1/

In the future, it will also have a `parent-sites` query param like the request version that we'll need, so we may want to map that now, even though it won'

[2020-08-27 16:37] #10651 closed

[2020-08-27 16:41] zurbergram commented on #12810
Sorting was changed to create a 0.0 to 1.0 value for relevant columns to allow for a "weighted value" to be created by adding all criteria together and having those with largest "weighted value" be sorted to the top

The sum of the following determines a rows weight
- `CASE WHEN UPPER(ialias) LIKE :upper_contains_term THEN 1 ELSE 0 END`
- `CASE WHEN UPPER(ialias) = :upper_search_term THEN 1 ELSE 0

[2020-08-27 16:42] #12771 closed

[2020-08-27 17:01] #12813 closed

[2020-08-27 17:09] ncksllvn commented on #11332
Checklist was added here, .https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/find-va-forms-redesign/form-detail-landing-pages/accessibility-checklist.md

[2020-08-27 17:11] ncksllvn commented on #11332
My only concern is screenreader support when a PDF is found invalid and we show the alert box informing the user per https://github.com/department-of-veterans-affairs/va.gov-team/issues/12181. I'll need to test this to make sure the screenreader reads out the PDF-invalid message.

[2020-08-27 17:12] digitaldrk commented on #12815
`models/bgs_dependents`
https://github.com/department-of-veterans-affairs/vets-api/pull/4791

[2020-08-27 17:12] zurbergram commented on #12855
Duplicates were not sent on 8/26/2020

[2020-08-27 17:12] #12855 closed

[2020-08-27 17:24] Mottie opened #12955 "508-defect-2 [SCREENREADER] Undefined in aria-label"
# 508-defect-2

**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

Edit buttons in the ArrayField and ObjectField will have an `aria-label` set as `Edit undefined` when the `ui:title` and `schema.title` are undefined. It will also be set to `Edit  ` when the `ui:ti

[2020-08-27 17:28] peggygannon opened #12956 "VSP content feedback - Staging - Dependents form"
## User story

This ticket captures VSP content feedback on 686 Dependents Form in a staging environment.

Staging link:  https://staging.va.gov/view-change-dependents/add-remove-form-686c/
Access information for the tool or feature in staging (usual staging password):

User (Mark): vets.gov.user+228@gmail.com (has zero on award, 2 not)
User (Eric): vets.gov.user+10@gmail.com (has zero on award, 3

[2020-08-27 17:32] ncksllvn commented on #11332
It doesn't look like the screenreader reads the invalid-PDF message. It's an edge case so no big deal (not part of the "happy path"), but we may want to add a ticket for this.

[2020-08-27 17:39] meganhkelley commented on #5086
Hey y'all, we are still holding for further direction from folks to approve these changes before we deploy to production — see comment thread above. Should we move forward on this or continue holding? If you'd like us to move forward, we'll need to re-evaluate the PRs to confirm they are not out of date. Thank you!

@jenniferlee-dsva @KevinMHoffmanUSDS @hampshire100

[2020-08-27 17:43] meganhkelley commented on #7028
Hi there @chrisj-usds and @KevinMHoffmanUSDS can you please confirm that this should be merged? Thanks!

[2020-08-27 17:44] meganhkelley commented on #11702
Hi @pjhill (no rush — I know you're just getting back from leave) and @1Copenut could you please take a look at the links in my above comment and let me know if (a) you are able to update those docs or if (b) something else that's in our Cypress backlog #12206 needs to happen first?

[2020-08-27 17:45] meganhkelley commented on #12074
This is on hold as we finish up some short term forms library tasks including review page refactor and accessibility bugs. Moving to `Ready` for now.

[2020-08-27 17:47] meganhkelley commented on #7969
From Bill:
* content build repo exists
* dependencies can be run
* yarn-build can be run

So that we're not leaving this open throughout the entire content build separation release, we will close this ticket now.

[2020-08-27 17:47] #7969 closed

[2020-08-27 17:48] meganhkelley commented on #7946
From Bill: https://docs.google.com/spreadsheets/d/1Njhp1GRAzPhd67iIUzbTQtrnASUbLg36Vha52aymOA8/edit?usp=sharing

This doc identifies all the usages of js assets. Once this documentation is finalized, we will be able to evaluate whether this ticket can be closed (unfinished) or must be completed.

[2020-08-27 17:48] peggygannon commented on #11615
@sporeboy

**8/27/2020 update**

I'm dropping in the ticket that will capture post-launch content recommendations:

https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/12956

[2020-08-27 17:55] meganhkelley commented on #11594
This topic is on the agenda for design system council meeting 8/28

[2020-08-27 17:59] meganhkelley commented on #12277
Context: https://dsva.slack.com/archives/C862Q82UQ/p1597873675006800

[2020-08-27 18:00] meganhkelley commented on #1945
Bill: this is still needed.

Moving to backlog.

[2020-08-27 18:10] billfienberg commented on #7964
branch with example scheduled job in CircleCI: https://github.com/department-of-veterans-affairs/vets-website/compare/add-nightly-build-to-circleci

[2020-08-27 18:20] luke-gcio opened #12957 "IA Request for Higher Level Review Entry Points"
As we are beginning to roll out different decision review and appeals capabilities it is clear that the decision and appeal review information is not very easy to find.  We are wondering how it would be best to update the IA and public websites to advertise the fact that we have the new capability available.

Currently, we have the following flow.

![image](https://user-images.githubusercontent.co

[2020-08-27 18:22] lunascoop commented on #12701
Hi @RLHecht these pages have been created and are ready for review. The meta title tag exceeded the character limit and I attempted to shorten it. You may want to change it.

- 2018: http://preview-prod.vfs.va.gov/preview?nodeId=6926

- 2019: http://preview-prod.vfs.va.gov/preview?nodeId=6925

Another thing
CC: @bethpottsVADEPO In looking at the historic rates, I'm fairly sure that the rates liste

[2020-08-27 18:22] luke-gcio commented on #12957
Added @lwalsh617 since she was heavily involved in some of the content around decision reviews.

[2020-08-27 18:43] meganhkelley commented on #9703
Thanks for this info @U-DON ! A couple more questions ...

(1) It looks like the "Edit page in GitHub" feature doesn't work on this page https://department-of-veterans-affairs.github.io/veteran-facing-services-tools/platform/working-with-vsp/orientation/request-access-to-tools — could you do some poking around [maybe timebox 30 min] as to whether that would be easy to fix?

(2) There's no way to t

[2020-08-27 18:45] chrisj-usds commented on #7028
Wow. I completely forgot this was hanging out there.
Let me check in with our partners in OPIA if this is a "go". It's still in staging I guess?

[2020-08-27 18:46] meganhkelley commented on #9992
The point of this tool was to account for the drift between old transformers and the way things work now. That's been done.

Christopher Valarida  1 hour ago
What we're currently working on is accounting for the differences between the transformers and the GraphQL, which is a different beast.

Christopher Valarida  1 hour ago
It can be closed.

[2020-08-27 18:46] #9992 closed

[2020-08-27 18:48] erluti commented on #9534
link to first attempt PR that inspired this epic https://github.com/department-of-veterans-affairs/vets-api/pull/4379

[2020-08-27 18:49] erluti commented on #10185
Part of this PR now https://app.zenhub.com/workspace/o/department-of-veterans-affairs/vets-api/issues/4787

[2020-08-27 18:49] #10185 closed

[2020-08-27 18:53] Samara-Strauss commented on #9488
@bsmartin-ep @bmcgrady-ep — @sanlouise made the data layer updates request above, so you should be good to go to move this ticket forward.

[2020-08-27 18:57] kfrz commented on #10666
**2020-08-26**

- Using the `onpremise` repository, I needed to run `./install.sh` and then `docker exec -it sentry_onpremise_web_1 /bin/bash` to drop into a shell
- Running `sentry upgrade` will migrate the databases and prompt for a user creation, then `localhost:9000` is accessible
- Testing with a local `vets-api` and updating the `SENTRY_DSN` env var
- Successfully built and [deployed AMI](ht

[2020-08-27 19:14] tlei123 commented on #12940
Closing this as invalid for the underlying Authenticated-content test-run.

Unauthenticated content actually came up instead, which generated this Bug.  There was feature-flagging on Staging that disabled the Authenticated-content.

[2020-08-27 19:14] #12940 closed

[2020-08-27 19:14] tlei123 commented on #12939
Closing this as invalid for the underlying Authenticated-content test-run.

Unauthenticated content actually came up instead, which generated this Bug.  There was feature-flagging on Staging that disabled the Authenticated-content.

[2020-08-27 19:14] #12939 closed

[2020-08-27 19:14] tlei123 commented on #12937
Closing this as invalid for the underlying Authenticated-content test-run.

Unauthenticated content actually came up instead, which generated this Bug.  There was feature-flagging on Staging that disabled the Authenticated-content.

[2020-08-27 19:14] tlei123 commented on #12936
Closing this as invalid for the underlying Authenticated-content test-run.

Unauthenticated content actually came up instead, which generated this Bug.  There was feature-flagging on Staging that disabled the Authenticated-content.

[2020-08-27 19:14] #12936 closed

[2020-08-27 19:16] tlei123 commented on #12935
@DanielleThierryUSDSVA , FYI, this is now the ONLY valid Bug for Authenticated-content.  I've Closed the other Authenticated-content Bugs as invalid.

[2020-08-27 19:20] MickinSahni commented on #12616
Ok, @jenniferlee-dsva. I have a GSlides version of the product guide ready.

And I think I can pull screenshots from the prod-preview links here: [Find VA Forms - Detail Pages: Product Use Cases/Batch 1 - top 40 forms for QA](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/find-va-forms-redesign/form-detail-landing-pages/form-detail-product-use-cases.md#batch-1--

[2020-08-27 19:21] #8565 closed

[2020-08-27 19:26] MickinSahni opened #12958 "Screenreader support for invalid PDF message"
## Issue Description
Given a PDF url may be invalid
I want to make sure the alert that appears is accessible by screenreaders
so people of differing abilities can note when a PDF form isn't available.

---
## Tasks
- [ ] tbd

## Acceptance Criteria
- Alert is made accessible by screenreaders

Note:
- TBD if this is already handled elsewhere

[2020-08-27 19:27] MickinSahni commented on #11332
👍 `Created Screenreader support for invalid PDF message` #12958 in this epic `Post-soft-launch: Form detail pages iterations` #11378

[2020-08-27 19:41] short000 opened #12959 "vets-json-schema: "additionalProperties" should default to False"
### User story
As a VFS developer, I want "additionalProperties" in vets-json-schema to default as false, so that undefined data does not accidentally make it past validation and possibly enter our database.

### Additional details/notes/links
The property “additionalProperties” should be “false” on every schema property of type “object” - to avoid unsolicited data entering our database. (addition

[2020-08-27 19:43] bethpottsVADEPO commented on #12701
Thank you for noticing that @lunascoop !!

[2020-08-27 19:45] tlei123 commented on #10638
@MickinSahni @pjhill , [NEW Summary (Defects) report](https://dsvavsp.testrail.io/index.php?/reports/view/135) generated.

Turns out Staging feature-flag(s) disabled Authenticated-content for Messaging, Prescriptions, Records, and Results pages, so I've just Closed the 4 relevant Bugs as invalid, and added Retest statuses to the 4 now-outstanding test-runs in TestRail.

I'm expecting a new ticket

[2020-08-27 19:46] RLHecht commented on #12626
@peggygannon I created a branch for the addition I made to the word list. Not sure if you want to work in there or create your own for your work but I'm finished.

[2020-08-27 19:48] bethpottsVADEPO commented on #12957
Hi @luke-gcio... I appreciate your looping in @lwalsh617, but I'm going to unassign her for now since this is (at least initially) purely IA and Laura is heads down on a big project. @mnorthuis will bring her into the fold when there are content needs. Thanks!

[2020-08-27 19:51] short000 opened #12960 "vets-json-schema: test suite should test "src" rather than "dist" ?"
### User story
As a VSF developer, I want the test suite to run when we change something in src rather than the copy in dist, so that we don't have to manually run the build before running the tests.

### Additional details/notes/links
Our test runs on dist folder, if we change something in src, we must remember to manually run build before running tests. It's easy to forget this; confuses new dev

[2020-08-27 19:52] lunascoop commented on #12701
@RLHecht I made those changes to all the pages and they are ready for review.

[2020-08-27 19:59] dneel-bah commented on #12670
@Kimberley2019 EDU provided this link for information regarding the scholarship https://benefits.va.gov/gibill/fgib/stem.asp.  On a call today EDU mentioned that there are some policy changes in the works that may change the benefit.

Additionally, some others at DEPO are working on some static content pages that will be available soon that you can preview here;
· Static Page - http://preview-prod

[2020-08-27 20:00] jenniferlee-dsva commented on #12329
This is complete.

**The document with the final list is here:**

https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/content/tier-2-content-IA-and-design/learning-center-mvp/discovery-and-research/card-sort-audience-topic-082720.docx

Final decisions for card sort:

- We'll use Veterans age 65+ with complex care needs;  LGBTQ - no + sign; Family members and caregive

[2020-08-27 20:00] #12329 closed

[2020-08-27 20:01] mchelen-gov commented on #9703
@meganhkelley it seems like currently all the files in `https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/working-with-vsp` are included so maybe add something to https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/working-with-vsp/README.md? this would change if all/more of `va.gov-team` became included

[2020-08-27 20:03] andaleliz commented on #11006
@jenniferlee-dsva [Here's a start](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/content/tier-2-content-IA-and-design/learning-center-mvp/discovery-and-research/card-sort-recruit-email-sme.md) on the email we'll send out to SMEs on Monday. Links will come once we have cards/categories set up. Pasting here as well in case that's easier for you to review:

----

[2020-08-27 20:04] short000 opened #12961 "vets-json-schema: improve error message for SchemaTestHelper"
### User story
As a VFS developer, I need to be able to see properties that failed validation and why rather than the cryptic "expected false to equal true" error message, so that I can avoid the initial confusion and directly see the error the first time rather than making one-off troubleshooting changes to log the error manually and suppressing the log for other tests.

### Additional details/no

[2020-08-27 20:04] short000 commented on #12961
Is this related to the discussion that starts here?
https://dsva.slack.com/archives/C0MQ281DJ/p1597342098483300

[2020-08-27 20:04] bethpottsVADEPO commented on #12702
If you've reviewed, I don't think I need to. Thanks! You can publish.

[2020-08-27 20:09] ncksllvn commented on #4552
Can I pick this up as a dev task to implement, or do we need a separate ticket? I think I prefer just using the same ticket.

[2020-08-27 20:13] dneel-bah opened #12962 "School Ratings: Upload school ratings data CSV to GIDS"
As an EDU Team Member, I need the ability to upload a data file containing school ratings information to GIDS so that the information can then be displayed within the comparison tool

## Assumptions:
1. The rating columns can be a value of 1 to 5 stars with `null` or `0` being treated as a "N/A" rating.  Anything over a 5 will be treated as a 5.
2. Rankers can rate an institution multiple times
3.

[2020-08-27 20:15] short000 opened #12963 "vets-json-schema: semantic versioning"
### User story
As a VFS developer, I want library references to use semantic versioning rather than individual hash codes, so that our builds leverage the benefits of a standard release versioning scheme rather than the current the tedious and brittle process of manually updating references across several repos manually.

### Additional details/notes/links
Enforce semantic versioning and require r

[2020-08-27 20:24] dneel-bah opened #12964 "DEV: Get local builds working on iPhone / iOS"
As a developer, I need local builds working on the iPhone so that I can test and validate iOS specific fixes.

## Assumptions:
1. This story will unblock https://github.com/department-of-veterans-affairs/va.gov-team/issues/10201

## Acceptance Criteria
1. A local build is accessible on an iPhone.
2. Documentation is attached to this story that outlines the steps necessary for future reference.

##

[2020-08-27 20:24] #12509 closed

[2020-08-27 20:26] #12503 closed

[2020-08-27 20:27] #12514 closed

[2020-08-27 20:28] massrb commented on #12404
I added the endpoint health_quest/v0/appointments/:id.  and added tests for that endpoint.

 I added tests for the HealthQuest::Middleware::Response::Errors class. This class was basically copied from VAOS but since not everything was copied a situation occurred where there was not enough test coverage for the class so I added specific tests for that class. The reason for this is that if there is

[2020-08-27 20:30] pjhill commented on #11702
@meganhkelley -- I think I have what I need to make the updates to these docs. If I run into any questions then I will use this ticket to pose questions.

[2020-08-27 20:40] massrb commented on #12778
@mchelen-gov I have used this Ruby client on some fhir based sandboxes on the web for experimentation https://github.com/fhir-crucible/fhir_client.

This slack discussion also mentions that we need access to the MAP PGD sandbox, so it's not currently accessible: https://dsva.slack.com/archives/C019EATUKN2/p1598538149005400

 I don't know if it's really open access to the fhir PGD because this docu

[2020-08-27 20:44] bmcgrady-ep commented on #11033
@bsmartin-ep - I updated the QA Document with screenshots of the GTM tags. I went through the "schedule an appointment" and still don't get an "updated address" prompt, so I couldn't QA the Data Layer for those events.

[2020-08-27 20:50] gmaciolek commented on #12945
@meganhkelley I'm going to take a look at this with @amygoldman tomorrow morning and between the two of us, we'll get back to you with recommendations by end of day Tuesday. Does that timing work for you?

[2020-08-27 20:53] jsev-io commented on #12377
AWS Access has been granted.

[2020-08-27 20:53] #12377 closed

[2020-08-27 20:54] jsev-io commented on #12379
AWS Access has been granted.

[2020-08-27 20:54] #12379 closed

[2020-08-27 20:54] jsev-io commented on #12371
AWS Access has been granted.

[2020-08-27 20:54] #12371 closed

[2020-08-27 20:58] luke-gcio commented on #12957
No worries - thanks for taking the time to explain it!

[2020-08-27 20:58] peggygannon commented on #12626
ok, thank you for the update @RLHecht. I'm still working on my update, but will keep you posted.

[2020-08-27 21:00] meganhkelley commented on #12945
Yep, Tuesday will work! 💯

[2020-08-27 21:06] mmiddaugh commented on #12356
Information specifically related to the Vet Center data collection process is documented [here](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/facilities/vet-centers/discovery/data-process.md)

[2020-08-27 21:06] #12356 closed

[2020-08-27 21:06] meganhkelley commented on #9703
Yeah @mchelen-gov re: your first point of just noting it in the readme, I worry that someone who's movin' stuff around in GitHub won't notice that, will move the doc, will break a link that's serving to the Gatsby site (once we put some of that stuff in the IA), etc. But I suppose the only ones moving those VSP docs will be VSP, so it shouldn't be impossible to just keep an eye out for it in the s

[2020-08-27 21:06] mchelen-gov commented on #12778
@massrb ah ok, yeah i see the "fhir client" mentioned in the https://github.com/department-of-veterans-affairs/va.gov-team/issues/12406#issue-677747029 tasks
wasn't sure if it would be easier to use a simple CURL or POSTman type query to start, or just go right for the FHIR client? 🤷‍♂️

[2020-08-27 21:08] joanneesteban commented on #4552
@bsmartin-ep @bmcgrady-ep to follow up on this implementation & questions.

[2020-08-27 21:14] joanneesteban commented on #11045
Defer to you, @amycesal . The bar graph is easier to read, but the line graph is better to understand trends. Would probably look pretty convoluted if broken down by browser, though.

[2020-08-27 21:17] billfienberg commented on #7946
## Table of JS asset usages

|  File in `src/site/assets/js` | Usages | Notes |
| --- | --- | --- |
|  src/site/assets/js/execute-axe-check.js | https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/site/stages/build/plugins/inject-axe-core.js |  |
|  src/site/assets/js/incompatible-browser.js | • https://github.com/department-of-veterans-affairs/vets-website/blob/8f5a01ac

[2020-08-27 21:18] meganhkelley commented on #7028
Hey @chrisj-usds ! This work was looped in with another series of header/footer injections that we are also waiting for direction on: https://github.com/department-of-veterans-affairs/va.gov-team/issues/5086#issuecomment-626763680

@jholton can you describe the current status of the PRs in that linked list? Are those all in staging currently?

[2020-08-27 21:18] meganhkelley commented on #7028
Ack sorry @jholton wrong tag — @jhonnyoddball see above

[2020-08-27 21:20] joanneesteban commented on #11513
Thanks, @bsmartin-ep ! Yes, if that's grabbing vets.gov info, cached copy is probably better.

[2020-08-27 21:21] #11068 closed

[2020-08-27 21:24] jbalboni commented on #12953
Related VAMF work: https://issues.mobilehealth.va.gov/browse/VAOSR-994

[2020-08-27 21:33] kfrz commented on #11823
**2020-08-27**

- @thilton-oddball and I met w/ Mike Fraysher today and walked through some more examples
- Mike was able to insert data into the LTS database
- We were able to curl the LTS service directly and recieved a 200 + XML response
- Maybe we will be able to try the SOAP project to test
- All responses are the same, even for existing test users

**Next steps:**

We are going to collect th

[2020-08-27 21:38] bmcgrady-ep commented on #11677
@MickinSahni - Yes, the custom report is based on session, which basically means that it is only counting one search per session. The Total Unique Searches is unique only for the **same keyword during the same session**. This means that if a user is searching for **1995** and **10203**, 2 unique searches are counted. In the goal funnel, I believe it would only count as one, since it is session-bas

[2020-08-27 21:42] ala-yna opened #12965 "Support during beta testing for Caregivers"
Provide spport during beta testing for Caregivers

[2020-08-27 21:42] #12965 closed

[2020-08-27 21:43] ala-yna opened #12966 "Set up password protection on Caregivers to support beta testing"
Set up password protection on Caregivers to support beta testing

[2020-08-27 21:43] #12966 closed

[2020-08-27 21:44] jbalboni opened #12967 "Pass through geolocation properties in VA Profile address"
We need to add some additional properties from the VA Profile address into the address the va.gov profile uses for residential address.

I believe this is the file that needs to be updated: https://github.com/department-of-veterans-affairs/vets-api/blob/f0e152273b693d3ee61246c1b3f44f99f749b3ce/lib/vet360/models/address.rb

Address swagger (must be on VA network): https://qa.vaprofile.va.gov:7005/a

[2020-08-27 21:55] mmiddaugh opened #12968 "[Consider] Leverage Drupal for intro text on Facility Locator"
## Problem Statement
The length of intro text on Facility Locator can impact the search usability.
Currently, text changes need to be done by engineers, preventing them from engaging in more technical tasks. Frequent language tweaks can impact productivity.

How might we leverage Drupal as the source of truth for the intro text on Facility Locator?

[2020-08-27 22:01] mmiddaugh opened #12969 "[CONSIDER] Add service animal information to detail pages"
## Issue description
During research for the Learning Center MVP, one participant commented that they always have to call before going to a VA location because every VA location has different rules about service animals and he is never sure if he can bring his.

Can imagine this as part of a data call for "prepare for your visit"
Service Animals (seeing eye dog, diabetic detection dog, etc) access

[2020-08-27 22:07] mmiddaugh opened #12970 "Dynamic query to build left nav (VAMC)"
## Issue Description
The VAMC upgrade team discovered a bug in the DevShop build process in which new facility instances were built without the left nav. Root cause was determined to be the hardcoding of `FACILITY_MENU_NAMES` in src/site/stages/build/drupal/graphql/navigation-fragments/facilitySidebar.nav.graphql.js

Given the intent to dramatically speed up the volume of new VISNs which are onboa

[2020-08-27 22:14] mmiddaugh opened #12971 "Facility Locator position within menu"
## Issue Description
Mobile month research (conducted in August 2020) revealed that Veterans have a hard time finding Facility Locator in the top Nav menu, particularly on mobile. They tend to use global search to accomplish a service-oriented task (I need benefit assistance).

<details>
<summary> Current position in mobile experience </summary>

 ![mobile menu2](https://user-images.githubusercont

[2020-08-27 22:25] mpelzsherman opened #12972 "Responsive Design Fast Follow Bug Fixes"
The Responsive Design of the Facility Locator went live on 8/27 without any testing from QA and without much cross-browser testing.

This ticket is for quickly addressing any bugs found in production post-release that resulted from the responsive design code changes.

## Bugs

1. Search button cut off on desktop

![Screen Shot 2020-08-27 at 4.17.26 PM.png](https://images.zenhubusercontent.com/5ee9

[2020-08-27 22:29] 1Copenut commented on #11702
@meganhkelley I haven't forgotten about this one, just haven't had a moment to sit down and parse it. Will make it a priority item tomorrow or Monday.

[2020-08-27 22:47] srmyers17 opened #12973 "Direct Deposit"

[2020-08-27 22:48] srmyers17 opened #12974 "Letters and Documents"

[2020-08-27 22:50] srmyers17 opened #12975 "Homescreen"

[2020-08-27 23:52] andaleliz commented on #12329
@jenniferlee-dsva

A recent Facilities sort similar to ours had a post-sort question asking Veterans to enter a participation code given to them by Perigean to confirm completion. This is how Perigean keeps track to compensate people, and I'm pretty sure Lauren was part of the process to set that up.

I've reached out to Lauren to see what is the preferred way to keep track of this for our study.

[2020-08-28 00:01] digitaldrk commented on #11830
PR:
https://github.com/department-of-veterans-affairs/vets-api/pull/4798

[2020-08-28 04:37] SgardnerPMP opened #12976 "[Automation] Rebuild and publish pages for VISN-4 with Stakeholder Updates [PM]"
## Issue Description
As a CMS engineer, I need System detail pages created, so I can finalized all governance drop downs to be used in future page creation and stub out of nodes.

---
## Tasks
* _Using customer feedback forms and input, update Prod.cms.va.gov, rebuild, and publish the following in devshop environment:
- [x] Altoona, PA
- [x] Butler, PA
- [x] Erie, PA
- [x] Lebanon, PA
- [x] Wilkes

[2020-08-28 12:12] DanielleThierryUSDSVA commented on #12935
Hi @tlei123. I've checked this and we're good. This was a change we made due to the appointments tool changing from My HealtheVet to the VA appointments tool on VA.gov.  Thanks very much for flagging!

[2020-08-28 12:30] rtwell commented on #12549
OK gang—here's a couple comps demonstrating the location based sort for facilities.

Some high level design decisions:

1. We flattened the parent/child facility hierarchy, and instead display _all_ facilities a Veteran can request an appointment.
2. We will pair the *facility name* with its respective *city, state*.

This approach introduces a new problem: sometimes the list of facilities will be

[2020-08-28 12:42] bsmartin-ep commented on #11033
@lenaecb / @jbalboni / @narin -

Our GTM workspace has been published.  Event label data has been recording since day 1, but this will include the extra custom dimensions for _# of cards_ and _express care health reason_.  And some slightly more detailed Event Actions.

Let me know if you need a hand coaxing this data out of GA.

[2020-08-28 13:01] amyknox commented on #12496
As of 8/28, includes
- Twilio update
- Personal info / Best way to contact you update

Additional updates may result from UAT (scheduled for 8/31, 9/1)

[2020-08-28 13:08] #12518 closed

[2020-08-28 13:08] #12519 closed

[2020-08-28 13:08] #12520 closed

[2020-08-28 13:08] #12521 closed

[2020-08-28 13:14] elder-joseph commented on #11307
Associated PR: https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/vets-website/14047

[2020-08-28 13:16] massrb commented on #12778
@mchelen-gov I find it easy to work with Ruby based gems such as that fhir client. I had played with it on a public sandbox which I found it was very easy to connect to and pull down some fhir based patient records. I think it was this sandbox: https://www.logicahealth.org/solutions/fhir-sandbox/

 We don't have access to the VAMF (MAP) sandbox and are waiting on that.

[2020-08-28 13:30] Jeff-Hayter commented on #6671
@jbritt1 Approved.

[2020-08-28 13:34] Jeff-Hayter commented on #12791
@jbritt1 Approved for AWS.

[2020-08-28 13:36] Jeff-Hayter commented on #3088
@jbritt1 Approved for AWS.

[2020-08-28 13:36] Jeff-Hayter commented on #5106
@jbritt1 @ricetj Approved for AWS.

[2020-08-28 13:48] Mottie commented on #12770
It would be nice to have the generator include options for extra content, e.g. include a wizard.

[2020-08-28 13:53] kevinmirc commented on #12959
To resolve this I'd suggest adding a test to `vets-json-schema/test/common/all-schemas.spec.js` that would assert that any property with `"type": "object"` has an adjacent key of `additionalProperties` set to `false`.

Future versions of json-schema may default "additionalProperties" to false, so this may be something to consider if we have a version update planned.

[2020-08-28 13:53] Mottie commented on #12796
It would also be useful to dynamically update the document title, page title and breadcrumbs to match the flow, e.g. for form 526EZ we need to show "File for disability compensation" when in the all-claims flow, and "File for Benefits Delivery at Discharge" when in the BDD flow.

[2020-08-28 13:55] RLHecht commented on #12702
Published this page with the fixes to the table headers we discussed yesterday (with dependents and without need to be swapped). Will close after today's deployment. FYSA @MickinSahni

[2020-08-28 13:55] Mottie commented on #12798
Related to #12769

[2020-08-28 14:03] ndsprinkle commented on #12792
I have successfully adjusted the separation locations file to pull from the api. This file now also formats the response into data that the searchable drop down can use. That functionality is working as expected, but there are still issues with validation on the input that I believe are due to the fact that the data in the separation locations file are a promise. Going to talk with Robin about thi

[2020-08-28 14:10] U-DON commented on #9703
Changing the edit link seems pretty simple. I can do that.

I don't think there's a automatic way to indicate on the va.gov-team doc that it's on Gatsby. It's more of a one-way relationship since Gatsby is pulling from va.gov-team without the repo having to acknowledge it. Maybe we could clarify on the Gatsby version of the doc when it was last updated (in va.gov-team) or pulled? I could look into

[2020-08-28 14:11] mchelen-gov commented on #11543
how about enforcing markdown validity in PR checks instead of trying to handle errors in build process?

[2020-08-28 14:13] mchelen-gov commented on #12404
@massrb can we import the class from VAOS instead of copying it?

[2020-08-28 14:18] mchelen-gov commented on #9477
any reason not to use `va.gov-team` + Gatsby per https://github.com/department-of-veterans-affairs/va.gov-team/issues/9703#issuecomment-682190996?

[2020-08-28 14:20] #10984 closed

[2020-08-28 14:23] meganhkelley commented on #9477
Hi @mchelen you can view the full documentation tool discovery results and summary here:
* [recommendation summary](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/platform/documentation-site/v2/confluence-recommendation-5-2020.md)
* [presentation](https://docs.google.com/presentation/d/1FUMIikoxUuMAKd5NhHcOHd6OvP9bnukhALsW6xG5_vY/edit#slide=id.p1)

[2020-08-28 14:25] leahkeeler commented on #12948
Video was too large to upload to Github - it is a google drive link, please let me know if you are having any issues opening, downloading. Thanks!

[2020-08-28 14:32] annaswims commented on #11823
I don't think the `csraciapp6.evss.srarad.com` domain exists anymore.  My understanding is that it  was a domain from a former contract.  I think you would want pint.ebenefits.va.gov or int.ebenefits.va.gov

[2020-08-28 14:33] #9855 closed

[2020-08-28 14:36] lenaecb commented on #11412
@jbalboni - based on what we're looking to do with the location selection (referencing facilities based on residential address), I would assume we'd repurpose that logic for what we're trying to do here for multi-site EC windows?

[2020-08-28 14:36] annaswims commented on #11823
I did some work to find EVSS staging user for claims a few weeks ago.  I was looking for users with an EDIPI, BIRLS ID and Participant id in MVI and not more than one ICN (so that they weren't blocked by SSOe).

https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/blob/master/Administrative/vagov-users/mvi-staging-users-birls-participant-edipi.csv

It's essentially a filtered li

[2020-08-28 14:41] Samara-Strauss opened #12977 "[BE] Profile 2.0 bug: Direct deposit isn't working"
## Background

The direct deposit feature on Profile 2.0 isn't working. [Sandra looked into the issue](https://dsva.slack.com/archives/C909ZG2BB/p1598624841098400?thread_ts=1598623926.098000&cid=C909ZG2BB), and reported that this is an issue with the API retrieving direct deposit info.

This needs to be fixed ASAP, as we are starting UAT on 9.1.20.

## Tasks

- [ ] Get direct deposit up and runnin

[2020-08-28 14:43] leahkeeler opened #12978 "Dedicated Content Editor support from BAM2"
## Why you're here

- Content support for authenticated application or tools

## Steps to complete intake request
- [ ] Submit this request when VSA Public Website team intervention is required
- [ ] Provide detailed information of your request to help us understand our role in completing your request
- [ ] Link to this issue in [#vsa-public-websites](https://dsva.slack.com/channels/vsa-public-web

[2020-08-28 14:46] kevinmirc opened #12979 "Add Logging and Alerts when Attachment fails to reach CARMA"
Because the attachment is non-critical, we catch any error with generating and sending it. We should add a log or alert to will tell us when the attachment doesn't reach CARMA, so a fix can be made: in the case, some future code update breaks it.

Also, consider creating a background task to send the attachment (this would require persistence of the form though).

[2020-08-28 14:53] lenaecb commented on #12549
Thanks, @rtwell

**A few questions:**
- @rtwell - For Veteran's address: What if Veteran wants to use an address that is neither their address on file or their current location? I am wondering also if folks will get tripped up on how to use the 'use my current location.' I know in other areas of the app we allow for personal information to be updated in a field (like email, phone). Would that actu

[2020-08-28 15:00] kfrz commented on #10666
**2020-08-27**

- Built an AMI and deployed with configuration locally
- Configuration is in place but won't connect to webhook?

### Next Steps

- [ ] Figure out why deploy is not updating AMI in `vagov-utility`
- [ ] Finish updating the new README.md

[2020-08-28 15:02] jbalboni commented on #11412
@lenaecb Probably? I'd actually be interested to think through if we want slightly different logic here because EC is generally a phone/video appointment and because we're choosing a single facility. But we could definitely use the same logic here as on the facilities page if we want.

[2020-08-28 15:10] amyknox commented on #8228
@dmccurdybah - is raising awareness of this to platform. If we don't get traction, address at 9/1 ToTs

[2020-08-28 15:12] lwalsh617 commented on #11234
Moving this to icebox where it will be ready for @bethpottsVADEPO to pick up again whenever we restart this. Next steps at that point will be for Beth to review and me to edit to get it ready for SME review.

[2020-08-28 15:14] mdewey commented on #12720
Had a meeting with the team and the team bought in.

Actions items:
- Lacey will follow up for PCIU
- Amanda will decide on the source of truth,
- Mark will add comments about trigger and create tickets for engineering tasks

[2020-08-28 15:14] #12720 closed

[2020-08-28 15:15] #8944 closed

[2020-08-28 15:28] #11983 closed

[2020-08-28 15:33] erikphansen commented on #9765
@Samara-Strauss just curious why this got raised as a high priority issue the other day.

[2020-08-28 15:39] Samara-Strauss commented on #9765
@erikphansen I marked it as high priority since it seems like something we want to fix pre-launch. I guess it's not truly a launch blocker, but it seems pretty unideal and like something we'd hopefully get fixed before going live.

I'll move this to medium priority, but still hoping we can fix this this sprint :)

[2020-08-28 15:48] billfienberg commented on #7946
`src/site/assets/js/incompatible-browser.js` in the DOM on staging.va.gov

![image](https://user-images.githubusercontent.com/6130520/91587102-ee529600-e91b-11ea-816a-d7596205e225.png)

[2020-08-28 15:52] #12740 closed

[2020-08-28 16:04] #8149 closed

[2020-08-28 16:04] tskinn commented on #3088
@brangi has told me he doesn't need AWS access at this time.

[2020-08-28 16:04] #3088 closed

[2020-08-28 16:13] rtwell commented on #12549
@lenaecb

the goal is to surface facilities in an intuitive (enough) way to help folks make a selection quickly. no matter which approach we take, some segment of folks' facilities will end up at the bottom of the list (because the location they want is far away, or the name is towards the end of the alphabet). both of those scenarios are far less frustrating for users that aren't registered at ma

[2020-08-28 16:23] MickinSahni commented on #4552
Unfortunately we can't Nick since GH doesn't allow multiple sprints associated with a ticket (VSP + ours).
I created https://github.com/department-of-veterans-affairs/va.gov-team/issues/12757 for us which is already in our sprint. @ncksllvn

[2020-08-28 16:24] meganhkelley commented on #11543
Megan/Eugene convo 8/28:
* The fix Theo used for invalid html in `va.gov-team` does not exactly apply here
* We are not going to prioritize troubleshooting this in the short term, pending a documentation site strategy decision from Content & IA Team

[2020-08-28 16:24] ncksllvn commented on #4552
Oh I missed that one, sorry. Thanks for creating that!

[2020-08-28 16:52] #12511 closed

[2020-08-28 16:52] jhonnyoddball commented on #7028
@chrisj-usds the changes are up in staging and can be tested using [these instructions](https://github.com/department-of-veterans-affairs/va.gov-team/issues/7028#issuecomment-601788895)

The list of all the new hostnames is [here](https://github.com/department-of-veterans-affairs/va.gov-team/issues/5086#issuecomment-626763680)

[2020-08-28 16:53] #12495 closed

[2020-08-28 16:55] 1Copenut opened #12981 "Accessibility Staging Review -- Dependency Claims (Form 21-686c/674 - eBenefits)"
**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Must

## Should

## Consider

## Definition of done

1. Review and acknowledge feedback.
1. Fix and/or document decisions made.
1. Accessibility specialist will close ticket after reviewing documented decisions / validating fi

[2020-08-28 16:57] lenaecb commented on #12549
We definitely will test, but I do want to move to implementing a next iteration and use our feature toggle to display this new selection experience to some % of Veterans along with manual testing.

I am still hunting for this data - avg # of facilities a Veteran is registered

Nonetheless, outside of wanting the data point above, sounds like we're at a decision point for next iteration to test wit

[2020-08-28 17:00] jbalboni commented on #12549
@lenaecb To answer your question above, we definitely can use straight line distance in miles for the sorting and I would also agree that that's what we should use, since facility locator does the same thing.

[2020-08-28 17:01] lenaecb commented on #11412
@jbalboni - sorry, I just meant in terms of sorting/selecting the active EC facility (when there is more than 1) by location proximity. Does the other work we're considering for the location selection page not also help us do that type of sorting? What else did you have in mind?

[2020-08-28 17:02] Mottie commented on #12653
Hi @peggygannon, this is a current work-in-progress. See https://github.com/department-of-veterans-affairs/va.gov-team/issues/11188

[2020-08-28 17:06] 1Copenut opened #12982 "508-defect-1 ❗ Launchblocker [DATA SAFETY]: If an email address is provided, it MUST be validated"
# [508-defect-1 :exclamation: Launchblocker](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-1)

**Feedback framework**
- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

For the email address

[2020-08-28 17:20] saneshark commented on #8718
This issue appears to have been resolved.

[2020-08-28 17:20] #8718 closed

[2020-08-28 17:20] saneshark commented on #7122
This issue appears to have been resolved.

[2020-08-28 17:20] #7122 closed

[2020-08-28 17:20] jbalboni commented on #11412
@lenaecb I think we're on the same page, I just wasn't being very clear in my response. We have the technical ability to do several different things:

- Sort facilities by straight line distance from residential address
- Sort facilities within 90 minutes by drive time from residential address
- Use current location from browser (after asking permission) as the starting point for sorting distances

[2020-08-28 17:22] LanceGundersen opened #12983 "Test Issue"
## Issue Description
_What details are necessary for understanding the specific work or request tracked by this issue?_

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attac

[2020-08-28 17:28] #12983 closed

[2020-08-28 17:33] andaleliz commented on #11435
FYI I'm going to add [this comment](https://github.com/department-of-veterans-affairs/va.gov-team/issues/11435#issuecomment-670083837) to our [status/decisions doc ](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/content/tier-2-content-IA-and-design/learning-center-mvp/status-and-decisions.md) for more visibility.

[2020-08-28 17:43] mmiddaugh commented on #10782
@1Copenut if you are available to validate this one, I think our responsive design changes will have resolved the issue.

[2020-08-28 17:43] mmiddaugh commented on #11121
@1Copenut if you are available to validate this one, I think our responsive design changes will have resolved the issue.

[2020-08-28 17:48] pjhill commented on #9529
QA Feedback Summary --

1. Looks like a great suite of test cases.

2. 100% reference coverage for test cases - excellent!

3. The [one discovered defect is still open](https://github.com/department-of-veterans-affairs/va.gov-team/issues/10096) and appears to be fairly minor. Are you comfortable releasing to production with the copy/styling differences?

[2020-08-28 17:50] lenaecb commented on #11412
Ah gotcha, yes same page. Thanks for adding those tech options, super helpful @jbalboni

I think we go with both highest value and lightest lift for EC because of the limited usage of the feature now. There are still a lot of open questions such as - ease of data transfer between facilities and how many EC requests actually turn into f2f appts. We won't know that for awhile because so few sites ar

[2020-08-28 18:03] kevinmirc opened #12984 "Public Release Checklist for 10-10cg"
**Pre-Release (t - 4 days)**
- [x] [Flipper] Disable `:allow_online_10_10cg_submissions` flipper for all in prod (this will end beta testing)
- [x] [DevOps] Remove password protection on `/family-member-benefits/apply-for-caregiver-assistance-form-10-10cg` for all environments
  - [x] [DevOps] Delete the login credentials from credstash
  - relates to: https://github.com/department-of-veterans-aff

[2020-08-28 18:24] zurbergram commented on #12810
https://github.com/department-of-veterans-affairs/gibct-data-service/pull/712

[2020-08-28 18:31] #12935 closed

[2020-08-28 18:43] mchelen-gov opened #12985 "Add screener metrics to performance dashboard (implementation)"
https://github.com/department-of-veterans-affairs/vets.gov-status#services-data

[2020-08-28 18:45] tskinn commented on #5106
A user for Kevin has been created in AWS and his credentials have been provided to him.

[2020-08-28 18:52] #10800 closed

[2020-08-28 18:54] bethpottsVADEPO opened #12986 "Create "Contact us" page to replace the soon-to-be-retired IRIS page"
## Issue Description
Help users find contact information that currently lives on the IRIS main page: https://iris.custhelp.va.gov/

Consider this information:
https://app.mural.co/t/departmentofveteransaffairs9999/m/departmentofveteransaffairs9999/1597851188988/2ee72198710ac9e2ef6cae04d97fecb20fcdae08

---
## Tasks
- [x] Create page in drupal.
- [x] IA sync.
- [x] Copyedit page.
- [x] Check phone

[2020-08-28 19:01] lenaecb commented on #12549
Data point to note: based on input from folks on the identity team/MVI, they estimate that Veterans will see 5 or less with known outliers potentially having up to 25 facilities.

I think we use this as our hypothesis and add analytics to see how close or far off that hypo is. So, I would say we could also filter by 5 at first and see on avg how many folks actually have.

[2020-08-28 19:09] jenstrickland commented on #11692
@leahkeeler Do we have a name for the people in VBMS who own the PDFs? That way I can provide it to the VA 508 Office for them to reach out and ensure all PDFs are 508 compliant or have a plan to remediate (ahead of the October congressional report).