[2021-09-10 16:35] oseasmoran73 commented on #24190
The work has been completed and integrated in `content-build` and `vets-website`. Closing ticket as #29254 addresses enabling to deprecate Jenkins.

[2021-09-10 16:35] #24190 closed

[2021-09-10 16:36] miabecker commented on #25887
@DanielleThierryUSDSVA @RLHecht Thank you so much for the review. We need to remove the below bullet from the content given what we have learned about MyHealtheVet and how it works: "Through your My HealtheVet profile (for health care communications)" And @DanielleThierryUSDSVA can you help me understand our next steps? FYI we completed the Privacy & Security Review.

[2021-09-10 16:40] oseasmoran73 commented on #24191
Daily production deploy work has been completed and in `vets-website` and `content-build` repo. Pending is enabling it fully to replace Jenkins. Keeping ticket open.

[2021-09-10 16:41] DanielleThierryUSDSVA commented on #28982
Makes sense - thanks, @erikphansen!

[2021-09-10 16:44] oseasmoran73 commented on #29252
Edited task to omit removal of Jenkins. Closing this ticket as #29254 is updated with more recent information. Rather than removing all tasks from Jenkins for dev & staging, will be broken up into iterations. See referenced ticket for more info.

[2021-09-10 16:44] #29252 closed

[2021-09-10 16:54] laurenernest commented on #28432
@LeKeve Thanks for confirming. Please write up the FE ticket and we can groom next week.

[2021-09-10 16:54] #28432 closed

[2021-09-10 17:00] laurenernest commented on #29601
@beth-wodzinski Ready for retesting

[2021-09-10 17:16] LindaLi123 commented on #27780
Hello @DanielleThierryUSDSVA no problem we can leave this ticket open, just want to confirm all work from outside has been completed.

[2021-09-10 17:24] miabecker commented on #26923
Closing this ticket as we have what we need!

[2021-09-10 17:24] #26923 closed

[2021-09-10 17:26] miabecker commented on #25887
@shiragoodman We have received Security and Privacy Approval. I know you said we don't need a midpoint review and could go into staging next. What do we do in order to move forward? Thank you! cc:@bevnobev @toddstanich

[2021-09-10 17:26] #29654 closed

[2021-09-10 17:27] mmiddaugh commented on #20922
resolved by #17521

[2021-09-10 17:27] #20922 closed

[2021-09-10 17:27] calquisola commented on #29654
set to 4am EST/ 12am UTC

[2021-09-10 17:33] laurenernest commented on #5682
Closing ticket. Will reopen or create new ticket if a need comes up for this work.

[2021-09-10 17:33] #5682 closed

[2021-09-10 17:34] #29260 closed

[2021-09-10 17:34] #29245 closed

[2021-09-10 17:35] #29433 closed

[2021-09-10 17:36] #29380 closed

[2021-09-10 17:37] #29434 closed

[2021-09-10 17:40] andaleliz commented on #28982
I'm not sure about that, or if we can be more specific.  If we can't, I like the idea of giving users some kind of step they can take by checking with their facility. Maybe it should be "Check with your pharmacy first?

@ajakabcin can you gather some more details about this notification from Paras and/or Shane and see what we can learn about
- exactly which facilities are participating,
- who at t

[2021-09-10 17:40] Mottie commented on #28962
Merged in a fix which should be available for testing in staging soon.

[2021-09-10 17:43] zacharymorel commented on #12535
Oh thank you for catching that @MarciMcGuireGCIO .

[2021-09-10 17:44] MarciMcGuireGCIO commented on #12535
Actually it was Mikki who caught it!  😺

[2021-09-10 17:46] rebeccawalsh commented on #28280
We've drafted the content for both the grey summary cards and the detail page blue cards.  The goal with this work was to streamline the most important content on the debt detail pages and consolidate the designs with the medical copay tool. By making the tools similar, we create a more consistent experience and we might be able to combine the tools easier.

@LindaLi123 @leahkeeler

**Our next ste

[2021-09-10 17:49] Rleahy22 commented on #15244
https://user-images.githubusercontent.com/3144003/132895144-b62e6b22-016a-4627-8adc-1988fbc58c2e.mov

@joshkimux I've got this change locally and added `tabindex="-1"` to the `a` tags so they're not focusable when tabbing generally, but it does look this this now when you tab to and click the in page link. Is that expected/what we want?

[2021-09-10 17:50] zacharymorel commented on #12535
I'm on it!

[2021-09-10 17:51] MarciMcGuireGCIO commented on #12535
Thank you, sir! 🎩

[2021-09-10 17:54] RLHecht commented on #28670
I reviewed and published the page. Moving to validate and will let Peter Granato know when it's live.

[2021-09-10 17:55] davidconlon commented on #27447
@mmiddaugh
This recommendation is outdated as we have updated the text/links.
We now only have one link that pertains to masking at our locations.
I don't feel the need to move this into an alert/run this through JTF.

[2021-09-10 18:00] bosawt opened #29833 "Create proposal for database schema to allow for login.gov->cognito integration and sharing user preferences/forms/etc between log in types"
This schema should provide:
- Ability for a login.gov user to log initially with IAL2, prove they've been verified, and later log in with IAL1
- Mapping from login_gov_uuid to icn
- Ability for an ID.me user to utilize this schema (perhaps with the same IAL1 working with previously verified IAL2 plan)
- Correlation between user information from a login_gov log in and an id.me log in
- At least som

[2021-09-10 18:03] ajakabcin commented on #28982
@andaleliz and @DanielleThierryUSDSVA - thinking about how to make this as clear as possible for Veterans while also keeping it evergreen to some degree, what if we simplified the message even further to this?

cc @erikphansen

[2021-09-10 18:05] caw310 opened #29834 "Compare Checkbox error message placement and then make announcement"
Follow up from DSC meeting on 9/10 when issue with checkbox error message placement was discussed. Issue where error message was showing up below for one checkbox vs. error message appears above for multiple checkboxes has been resolved.

- [ ] DST to compare existing Forms library component with DS component to make sure they’re the same.

- [ ] Make announcement that checkbox component has been

[2021-09-10 18:06] caw310 commented on #29834
@bkjohnson , assigned this to you since you were at the DSC meeting. Let me know when you have time to get this done.

[2021-09-10 18:09] joshkimux commented on #15244
@Rleahy22 Nice! Any chance I can test this myself using SOCKS?

[2021-09-10 18:10] caw310 opened #29835 "Discovery: margin/padding for checkboxes and radio buttons"
Follow up from DSC meeting on 9/10 when issue around Margin/padding discrepancy between checkboxes and radio buttons was discussed.

Action items for DST

- [ ] Determine level of effort to make this change. Look at code for these components and see how they’re structurally formed.
- [ ] Identify any down stream effects if we change padding to get margins and spacing equal.

Original issue
https:/

[2021-09-10 18:10] caw310 opened #29836 "Discovery: What would it take to make padding/margins for checkboxes and radio buttons consistent"
Follow up from DSC meeting on 9/10 when issue around Margin/padding discrepancy between checkboxes and radio buttons was discussed.

Action items for DST

- [ ] Determine level of effort to make this change. Look at code for these components and see how they’re structurally formed.
- [ ] Identify any down stream effects if we change padding to get margins and spacing equal.

Original issue
https:/

[2021-09-10 18:11] caw310 commented on #29836
@bkjohnson , Sorry, assigned to you since you were at the DSC meeting. We'll figure out when we can get this LOE done.

[2021-09-10 18:12] batemapf opened #29837 "Assess need for additional security measures to protect vets-api check in endpoints from abuse"
https://dsva.slack.com/archives/C022AC2STBM/p1631294887239900.

[2021-09-10 18:13] Rleahy22 commented on #15244
I can clean this up and open a pr if you want, but first I wanted to make sure that it's okay to have that focus outline next to the header.

[2021-09-10 18:14] joshkimux commented on #15244
@Rleahy22 We wouldn't want to have the focus outline to be visible if possible 🙏

[2021-09-10 18:15] caw310 opened #29838 "Discovery: Determine LOE to fix the issue where error message causes checkboxes to jump around"
Follow up from DSC meeting on 9/10.

- [ ] Determine LOE to fix the issue where error message causes checkboxes to jump around

- [ ] Get priority from Kevin and Ryan once we have the estimate.

Original ticket
https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/532

[2021-09-10 18:16] DanielleThierryUSDSVA commented on #28982
@ajakabcin Absolutely in favor of simplifying further.

The only question I have is for Veterans who might be registered at a facility in Asheville or Denver + one or more facilities outside of these areas. The simple version would be accurate, but including "Asheville and Denver" gives the person the signal that they shouldn't even bother checking at facilities outside of these areas. Not sure ho

[2021-09-10 18:18] alexandec commented on #9556
After we switch to GHA we'll check on the status of Datadog CI Visibility for GHA. If CI Visibility is available we'll hook it up. If it's still not released we'll discuss the best approach at that point.

[2021-09-10 18:18] #9556 closed

[2021-09-10 18:20] lunascoop commented on #29798
@RLHecht this page has been updated and is ready for review.

Have questions before you get your COVID-19 vaccine?: http://preview-prod.vfs.va.gov/preview?nodeId=19578

[2021-09-10 18:23] ajakabcin commented on #29773
Confirmed on staging - closing. Thanks Erik!

[2021-09-10 18:23] #29773 closed

[2021-09-10 18:24] DanielleThierryUSDSVA commented on #25887
Hi @miabecker. We can remove that bulleted line, no problem. Are we still waiting for feedback from the legal reviewer? If no, then we'll just remove that one line and this will be ready for staging review.

Then as soon as it's good to go live, just let @RLHecht know. We'll publish and it will go live in the next content release (usually within an hour or so during normal business hours). Thanks!

[2021-09-10 18:29] DanielleThierryUSDSVA commented on #29557
Thanks for bringing this to office hours yesterday, @andaleliz!

**Capturing notes from our discussion here:**

- A Resources and Support article to help Veterans understand their notification options and how to manage them is probably a good idea, yes. The content team can look at SEO, contact center questions, etc. and craft and article.
- We'll also want to take into account the new notificatio

[2021-09-10 18:31] erikphansen commented on #28982
Another thing to keep in mind is that the list of facilities that support this feature will grow.

[2021-09-10 18:31] DanielleThierryUSDSVA commented on #29557
@RLHecht I moved this from In Progress to Backlog for now. This is important, but not something we have the capacity for right now, so just moving it for transparency. Thanks!

[2021-09-10 18:32] RLHecht commented on #29798
Thanks, @lunascoop I published this. will set up a new ticket for swapping them out in 2 weeks.

[2021-09-10 18:35] craigwheeler opened #29839 "Update feature flag names"
## Issue Description
Rename feature flag names in [featureFlagNames.js](https://github.com/department-of-veterans-affairs/vets-website/blob/caa65b236ea47a325cfa51d0c25886c3eef636de/src/platform/utilities/feature-toggles/featureFlagNames.js#L51) to use snake_case instead of camelCase

Docs: https://department-of-veterans-affairs.github.io/veteran-facing-services-tools/platform/tools/feature-toggles

[2021-09-10 18:38] andaleliz commented on #28982
Yes, exactly.  I know these two are a pilot - it'd be good to understand what the plan is once the pilot proves successful. Will all facilities participate, or will it be a very slow going process?

[2021-09-10 18:38] Rleahy22 commented on #15244
Fixed. I have a pr up now with an updated screen recording, and it should create a branch deployment.

[2021-09-10 18:41] oseasmoran73 commented on #27798
Referencing documentation for how to use NEXUS with GitHub Actions for future teams if this ticket gets reviewed.

https://vfs.atlassian.net/wiki/spaces/OT/pages/1848803419/NEXUS+for+Self-Hosted+Runners

[2021-09-10 18:42] micahchiang opened #29840 "686 - Update feature toggle to snake case"
## Description
In an ongoing effort to maintain consistency with how feature toggles are described and garner a performance optimization in vets-website, the `vaViewDependentsAccess` feature toggle needs to be converted to snake case: `va-view-dependents-access`. This mirrors its corresponding feature toggle entry in vets-api.

## Considerations
- 686 is slated to go to 100% traffic very soon. Wai

[2021-09-10 18:50] mdewey opened #29841 "[FE] Update Questionnaire Feature Flip to be snake Case"
## Description

The platform team has requested all Feature Flips be `snake_case`. We need to update the clipboard flip to be the correct casing.

## Tasks

- [ ] Update flip to match casing

[2021-09-10 18:54] mnorthuis commented on #29622
@rlyons89 I'm digging into this work, and have a few questions for you as I work through things:
1. For authenticated users that have an application in progress, when they are prompted to continue, I'm assuming the logic knows which version of the 1990 flow to send them to?
2. In the wizard you have included a link to "Learn more about the Post-9/11 GI Bill" in that question.  This link will take

[2021-09-10 18:59] laurenernest commented on #29408
@jenniemc I'm not seeing the instructions and the text above the CTA is different between 2 of the same types of video appointments. Can you verify if this is a staging/test data issue or something else?

![Screen Shot 2021-09-10 at 11.56.30 AM.jpg](https://images.zenhubusercontent.com/5f7dd2dad6b9a9301bbab94e/799ea464-521c-4dd0-a3f4-c347828a439b)

[2021-09-10 19:10] tlei123 commented on #29821
Due to conflict with Public-Websites' QA test-runs same week, QA portion of Staging Review for this Dependent Verification will likely be **async** -- QA-artifacts may as late as Thu morning.

cc @pjhill @ddzz

[2021-09-10 19:12] timwright12 commented on #12251
Spreadsheet to track flag values: https://docs.google.com/spreadsheets/d/1N0GJMa-PpLDMP-585Wd3KEC6QIHljueGRCgC6Qq3LXc/edit#gid=0

Most teams are updating this themselves, will followup with a PR for the ones we're doing

[2021-09-10 19:16] bethpottsVADEPO commented on #28848
@kelsonic Please adjust the link label to: **Ask us a question online**

Thanks!

[2021-09-10 19:21] #29263 closed

[2021-09-10 19:22] dneel-bah commented on #26612
Closing this issue as completed, based on recent guidance from OCTO, as it has passed internal validation.

[2021-09-10 19:22] #26612 closed

[2021-09-10 19:23] k80bowman commented on #29825
I was looking through the slack thread cited above and it seems that the problem isn't so much that the summary needs to be at the top as it is that the way the messages are currently formatted they take up too much space. So I decided to play around a little in Slacks Block Kit playground to see if I could reformat the message to be more compact and make sure it's highlighting the important infor

[2021-09-10 19:23] timwright12 commented on #12251
PR to fix 8 facility locator flags: https://github.com/department-of-veterans-affairs/vets-website/pull/18669

[2021-09-10 19:27] jenniemc commented on #29408
The patientInstruction field must have either `Medication Review` or `Video Visit Preparation` in order to display the link which expands to show video appointment instruction. Currently the 2 at home video appointment on staging does NOT have anything in the patientInstruction field.

[2021-09-10 19:31] rebekahickey commented on #29670
I shared the first draft of the design mockup for the MVP Orientation Materials page with Gretchen today. I have a couple of revisions to make and then will post it here and in the platform-orientation-team slack channel for the group's feedback.

[2021-09-10 19:37] lianilychee commented on #27914
along with ^^^, Joanne sent this screenshot as an example of the Highlights section:
![image](https://user-images.githubusercontent.com/6895034/132908036-aeb5f0c7-8c7c-4923-8055-7378f0703674.png)

[2021-09-10 19:39] rileyorr commented on #29787
- Updated the MVP design and exported to UXPin ([link](https://preview.uxpin.com/16e8675a9898914d5615d6ea2d23e310b7d8dfaa#/pages/141562175/simulate/sitemap?mode=i))
- Updated the use case document and notified Tze that we removed the table ([link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/Debt%20Resolution/Medical_Copays/Docs/MCP-Use-Cases.md))

[2021-09-10 19:40] rebeccawalsh commented on #28280
FYI -- It's worth noting that quite a few of these cards now include the payment plan amounts and due dates. These are new to the tool, but something we've been expecting to add in for some time.

[2021-09-10 19:40] rlyons89 opened #29842 "Design intent [DGIB - Secure Inbox/Messaging (for Education)]"
## Steps to complete Design Intent Collaboration
- [X] VFS Product Manager or Designer: Create this issue and fill in your team and feature name in the title.
- [X] VFS: Using the Slack Workflow ([User guide](https://depo-platform-documentation.scrollhelp.site/support/Getting-help-from-the-Platform-in-Slack.1439138197.html)), notify Collaboration Cycle team of this Github ticket in #vfs-platform-s

[2021-09-10 19:54] rlyons89 commented on #29622
@mnorthuis, see responses below:

1. Yes, if they will be directed to the correct version when picking an application back up.
2. If it would be preferred/recommended to remove this link, our team is fine with that.
3. Ideally, the user would be able to switch to this new form if they signed in when starting with the unauthenticated version in the future, but the current unauthenticated version wo

[2021-09-10 20:03] allison0034 commented on #29842
This has been scheduled for 9/17 2pm. : )

[2021-09-10 20:09] RLHecht commented on #28670
This work is complete. Closing ticket.

[2021-09-10 20:09] #28670 closed

[2021-09-10 20:15] rileyorr commented on #27780
Hey @DanielleThierryUSDSVA! Due to data constraints, we're removing the table containing charges and payments from the MVP. Veterans will be able to download their monthly patient statements and learn about their resolution options. Just wanted to give you a heads up because the sign in widget on [our mock content page](https://preview.uxpin.com/16e8675a9898914d5615d6ea2d23e310b7d8dfaa#/pages/1418

[2021-09-10 20:24] watersemma commented on #29369
Update has been made on sketch and uploaded here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/education-careers/school-comparison-tool/redesign/design/sketch-files/ct-redesign-search-namelocation-postmvp.sketch

[2021-09-10 20:24] watersemma commented on #29368
Update has been made on sketch and uploaded here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/education-careers/school-comparison-tool/redesign/design/sketch-files/ct-redesign-search-namelocation-postmvp.sketch

[2021-09-10 20:25] watersemma commented on #29364
Update has been made on sketch and uploaded here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/education-careers/school-comparison-tool/redesign/design/sketch-files/ct-redesign-search-namelocation-postmvp.sketch

[2021-09-10 20:39] RLHecht commented on #29798
Changes are live. Closing ticket.

[2021-09-10 20:39] #29798 closed

[2021-09-10 20:39] mmiddaugh commented on #27447
COVID-19 content cannot be skipped (Joint Task Force).

[2021-09-10 20:39] #27447 closed

[2021-09-10 20:44] RLHecht opened #29843 "Change out Veteran videos on vaccine CLP"
## Issue Description
We need to swap out the 2 stories videos on the vaccine CLP with the 2 Veterans we had previously used.

2 videos to use:

Robert Bonner
https://www.youtube.com/watch?v=wMVj5kYn8ps

Ronald Pipkins
https://www.youtube.com/watch?v=jpykh5DMZb8

## Tasks
- [x] Update CLP with new videos (Selina)
- [x] Review and publish (Randi)

## Acceptance Criteria
- [x] CLP has new videos on l

[2021-09-10 20:59] john-thomashill commented on #29463
sounds good - thanks, @HeatherSborz!

[2021-09-10 21:08] mmiddaugh opened #29844 "FE display for preferred Vet Center name"
## Issue Description
As a Vet Center, I want to display the preferred name for our location, rather than the "official" name so that it is recognizable and easily found by search engines.

(i.e. Dr. Cameron McKinley Department of Veterans Affairs Veterans Center = Prescott Vet Center)

---
## Tasks
- [ ] [TBD] based on CMS changes

## Acceptance Criteria
- [ ] _What will be created or happen as a

[2021-09-10 21:13] annaswims commented on #28365
fully resolved

[2021-09-10 21:13] #28365 closed

[2021-09-10 21:15] #29408 closed

[2021-09-10 21:19] annaswims commented on #29024
https://dsva.slack.com/archives/C8R3JS8BU/p1630699008006500?thread_ts=1629920298.023000&cid=C8R3JS8BU

[2021-09-10 21:21] annaswims commented on #11352
actually, we still see this error

[2021-09-10 21:23] mmiddaugh opened #29845 "Links from VAMC "Manage health online" in Cerner roll-out"
## Issue Description
As a Veteran registered for care at a VA Medical system implementing the Cerner portal, I need the links in the "Manage my health online" box on my VAMC page to connect me to the appropriate entry point in the portal so that the experience is seamless.

![image](https://user-images.githubusercontent.com/55411834/132918141-c4aa49cd-64e5-4c73-92b1-65dc92f877aa.png)

## Resources

[2021-09-10 21:23] annaswims opened #29846 "File upload error form 526"
Troubleshoot the error

EVSS_15006We were unable to complete your upload because the uploaded file is corrupted and cannot be uploaded. Please verify that the file is valid. If you still have problems, call the VA  at 1-800-827-1000 (711, if you use a TDD) for assistance. When you call, provide the following error code: EVSS_15006.

[2021-09-10 21:27] annaswims opened #29847 "Troubleshoot EVSS file upload error EVSS_15004"
EVSS_15004We were unable to complete your request because your file type is not a supported format. Try using a different file type such as PDF (unlocked), JPEG, BMP or TXT. If you still have problems, call the VA at 1-800-827-1000 (711, if you use TDD), Monday - Friday. 8:00 am - 9:00 pm ET. When you call, provide the following error code: EVSS_15004.

[2021-09-10 21:45] mmiddaugh commented on #29828
This was caused by a bug in the Facilities API. Lighthouse deployed an update this morning ~10:15am ET which caused the API to only emit default values for both operating_status and detailed_services. After we reported it to Lighthouse, Adam Stilton went in and corrected the error, resolving the issue on FL.

[2021-09-10 21:45] #29828 closed

[2021-09-10 21:50] SKasimow opened #29848 "RESEARCH | Page & Word Counts for VA.gov"
## User Story

As a product manager, I would like to have a count of the # of pages in the Benefit Hubs and the associated word count for each page, so that I can begin to estimate our translation  budget and secure adequate funding.

Benefit Hubs:
- Disability
- Health Care
- Education
- Records
- Housing Assistance
- Pension
- Careers & Employment
- Burials & Memorials
- Family Member Benefits
-

[2021-09-10 21:57] ajakabcin opened #29849 "[Notification Preferences] VSA-QA Test Plan"
\[**Product Managers**: Open this ticket **at least 3 Sprints (6 weeks)** before you expect a Platform Staging Review of this Product/Feature.  Then:
- Replace title's **[Product/Feature]** with your actual product/feature name.
- Add yourself to Assignees
- Fill-out sections below.]

**See also**: Relevant [VSA-QA process doc](https://github.com/department-of-veterans-affairs/va.gov-team/blob/mas

[2021-09-10 21:58] SKasimow opened #29850 "RESEARCH | Translation Approach Summary and Architecture Diagram"
Refer to sensitive-repo: https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/issues/323

[2021-09-10 22:00] 1Copenut opened #29851 "Offboarding of Trevor Pierce"
# Instructions
Fill out name of individual and *Description* section below.

# Description
- Please provide the name of the individual needing offboarded.

- Please provide the name of their team, their role on that team, expected last day, and the name of the company they work for.

- Please provide any type of access they may have and their GitHub username.

## AC
 - [ ] Remove from [VFS Team Ro

[2021-09-10 22:01] ajakabcin commented on #28042
Submitted #29849 - still needs some additional details in [test case doc](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/notifications/notification-preferences/product/notification-preferences-QA-use-cases.md).

[2021-09-10 22:07] LeKeve opened #29852 "Remove appointment list facilities request"
Currently when vets-website displays an appointment list it must make an additional call to retrieve facility details.

The VAOS service now makes that additional call from the back-end and provides facility details in each appointment object. We should refactor the appointment list logic to use the facility details in each appointment object and remove the extra facilities endpoint call.

[2021-09-10 22:12] kelsonic commented on #28079
So instead of 20k+ results there's now only 10k+ results! Certainly an improvement! haha

[10549 results - 9417 files.txt](https://github.com/department-of-veterans-affairs/va.gov-team/files/7146689/10549.results.-.9417.files.txt)

[2021-09-10 22:42] mleclerc00 commented on #29851
/request Trevor Pierce

[2021-09-10 22:46] mleclerc00 commented on #29851
Removed from socks
No aws
No pagerduty
No Datadog
Removed from sentry

[2021-09-10 22:46] joanneesteban opened #29854 "Analytics Bug Report - Facilities monthly report data update"
# Analytics Feature Request/Bug Report

## What this form is for

Use this template to request an Analytics dashboard feature or report a dashboarding or Google Analytics/Google Tag Manager bug. This form is for enhancements to the existing KPI dashboards. If you have any analytics questions, please use the `/support` command on [#vfs-platform-support](https://dsva.slack.com/archives/CBU0KDSB1) ch

[2021-09-11 00:32] theodur commented on #29742
# Instructions on getting dependent imports for an application
There are two ways to get the dependent imports of an app. Both of these ways will list all the files outside the app that import code from the app. The benefit of getting external files (files outside the app) that import from an application rather than getting the external app imports that an application has is that the former allows

[2021-09-11 03:14] tlei123 commented on #29691
Child-process exec code added.  Now cypress-testrail-helper (CTH) app automatically runs the Cypress spec after gathering user-inputs for TestRail-info and spec-path.

Will need help testing this to determine whether machine-specific NVM/Node paths might impact the child-process code.

[2021-09-11 16:36] LizCallaghan commented on #29851
removed from Slack

[2021-09-11 16:38] LizCallaghan commented on #29627
removed from slack

[2021-09-11 16:47] LizCallaghan commented on #29623
done!

[2021-09-11 16:47] #29623 closed

[2021-09-11 17:31] DanielleThierryUSDSVA commented on #27780
Okay, great - thanks, @rileyorr! I'll remove that from the landing page Mikki, Ryan, and I are working on as well.

[2021-09-11 18:37] watersemma commented on #29367
Updates have been made based on feedback. Sketch file can be found here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/education-careers/school-comparison-tool/redesign/design/sketch-files/gibct-redesign-comparison-postmvp.sketch

[2021-09-11 18:37] watersemma commented on #29360
Updates have been made based on feedback. Sketch file can be found here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/education-careers/school-comparison-tool/redesign/design/sketch-files/gibct-redesign-comparison-postmvp.sketch

[2021-09-11 18:46] bethpottsVADEPO commented on #29176
Update: I'm continuing to make updates to the FAQ as I communicate with AVA stakeholders about the details--especially about identity verification.

I got sign off from Education Service (Joseph Preisser).

Next: I need to send the latest version to an ID.me SME for approval.

[2021-09-13 11:36] RLHecht commented on #29572
@lunascoop Here are the translations back for the pieces that were missing. [https://app.zenhub.com/files/133843125/c473b920-2f2f-4da2-abb2-491b187e0097/download](https://app.zenhub.com/files/133843125/c473b920-2f2f-4da2-abb2-491b187e0097/download)

[https://app.zenhub.com/files/133843125/b1598016-49b6-4cb5-b243-1866c9bd3c83/download](https://app.zenhub.com/files/133843125/b1598016-49b6-4cb5-b243-

[2021-09-13 11:49] RLHecht commented on #28754
@lunascoop Here are the translations we've been waiting on for this.

[https://app.zenhub.com/files/133843125/d5e1da50-be0e-4eee-b94d-3923e5e09b03/download](https://app.zenhub.com/files/133843125/d5e1da50-be0e-4eee-b94d-3923e5e09b03/download)

[https://app.zenhub.com/files/133843125/4b1add89-d8df-44ae-b57c-7cfc873ee886/download](https://app.zenhub.com/files/133843125/4b1add89-d8df-44ae-b57c-7cfc87

[2021-09-13 12:30] dneel-bah opened #29855 "DGIB: Transition EDU Comparison Tool Redesign"
## Product Outline
[Link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/education-careers/school-comparison-tool/redesign/ct-redesign-discovery_product-outline.md)

## Description:
This is a placeholder epic that contains backlog work related to Comparison Tool Redesign that is being transitioned to the Digital GI Bill project.

## Resources:
[Documentation in

[2021-09-13 12:38] dneel-bah commented on #26611
Closing this issue as the attached issues have been fixed / passed to platform.

[2021-09-13 12:38] #26611 closed

[2021-09-13 12:39] dneel-bah commented on #25373
Closing this issue as the attached issues have been fixed / passed to platform.

[2021-09-13 12:39] #25373 closed

[2021-09-13 12:49] jbritt1 commented on #26091
Can anyone provide an update on this access request?

[2021-09-13 13:00] dneel-bah commented on #18256
@noahgelman This matches the pattern outlined here: https://design.va.gov/patterns/form-templates#direct-deposit

Does this issue need to be passed over to platform, or should it be closed out?

[2021-09-13 13:16] #29839 closed

[2021-09-13 13:17] #29713 closed

[2021-09-13 13:18] #29764 closed

[2021-09-13 13:18] craigwheeler commented on #29764
error appears to be resolved in sentry will continue to monitor this issue closing ticket

[2021-09-13 13:28] bsmartin-ep commented on #29851
GA access removed.  Domo access archived.

[2021-09-13 13:33] miabecker commented on #25887
@DanielleThierryUSDSVA we just got the legal "ok" which is great. I think we can remove that one line and do a staging review.

[2021-09-13 13:39] kevinstachura commented on #27144
This design change has been made:

![BDD-evidence-type](https://user-images.githubusercontent.com/54544300/133093753-b9fb6c26-868c-4f62-91ea-449b614d42f0.jpg)

Can now send to @Mottie for changes. Let me know if you have any questions - thanks!

[2021-09-13 13:39] #27144 closed

[2021-09-13 13:55] kevinstachura commented on #29516
I have made mention of this global item for the design team to potentially review:

https://dsva.slack.com/archives/C0NGDDXME/p1631541208068800

[2021-09-13 14:06] denisecoveyduc opened #29856 "Investigations ways to document design system patterns"
##  Description
In order to document the search design pattern on the design system it has been suggested that we use Storyboard. This issue is to investigate what is required.

## Background
- Search UI Consistency: Document Search Design Pattern for Design System #24597
- Slack message: https://dsva.slack.com/archives/C01Q9PDPLE9/p1630514356000600

## Acceptance Criteria
- [x] Determine if story

[2021-09-13 14:08] kevinstachura commented on #27142
This has been completed on the last checkbox as suggested:

![BDD-evidence-type](https://user-images.githubusercontent.com/54544300/133098173-4817a6bc-815c-47ec-a7fd-455434d26c1b.jpg)

If this refers to the heading, we try to keep those short in general to avoid cognitive overload, and the context should be there as part of the interaction model (the checkboxes below state these things). Closing a

[2021-09-13 14:08] #27142 closed

[2021-09-13 14:08] lildziner commented on #29548
**Phone Number Audit:**
Here is a [link to the spreadsheet ](https://governmentcio.sharepoint.com/:x:/r/sites/VSATeam/Shared%20Documents/Design%20%26%20Research/Facilities%20Team/2021%20-%20Mobile%20Clinic%20Discovery%20and%20Design/VISN%208%20Phone%20Audit.xlsx?d=wde893f1280744f7fbc565dec58595748&csf=1&web=1&e=bLXYrw)documenting the main phone numbers present on VISN 8 facility pages and facility

[2021-09-13 14:14] denisecoveyduc opened #29857 "YouTube API Exploration"
##  Description
_What details are necessary for understanding the specific work or request tracked by this issue?_

## Background
https://developers.google.com/youtube/v3/getting-started

## Acceptance Criteria
- [x] Sam review the developer guidance
- [x] Denise to add the details to [Video Exploration Findings](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/on

[2021-09-13 14:19] aschulhof opened #29858 "Adding Lindsay Insco to DSVA Slack"
# Description

**new user requests**: please verify that the user does not already exist in dsva.slack.com (it may be the account exists, but is not in a particular channel)

- Please add Lindsay.insco@oddball.io as a full member. She is coming on as a TEVI Product Support Lead.

Are you requesting to add an individual as a:

- Full member
- Single guest
- Multi-channel
- Switching from single-cha

[2021-09-13 14:28] laurensimpson14 commented on #28040
Hi @jason-gcio 👋 Below is a QA chart of everything that is currently tracked on http://www.staging.va.gov/housing-assistance/home-loans/apply-for-coe-form-26-1880.

| Interaction | Screenshot of Interaction | QA Screenshot | Status |
| -- | -- | -- | -- |
| Pageviews | N/A | ![image](https://user-images.githubusercontent.com/80417436/132704659-4f19aeff-af12-42fe-8191-13a72337c83d.png) | 🟢 Tracking

[2021-09-13 14:32] LizCallaghan commented on #29858
done!

[2021-09-13 14:32] #29858 closed

[2021-09-13 14:37] annaswims opened #29859 "Form 526 Submission gender error"
When someone tries to submit a form 526 and has a `user.gender` other than `M` or `F` we seen an error.

- [x] Fall back to MPI if the identity provider returns a blank string for gender
- [ ] Can we just ask for gender if we don't have it already?
http://sentry.vfs.va.gov/organizations/vsp/issues/14901/events/5feefa4514ab4443802787e4cd43e829/tags/user/?environment=production&project=3&statsPeriod

[2021-09-13 14:39] annaswims commented on #29859
The people with these id.me uuid's had a gender of `M` or` F` in MPI, which makes me wonder if we're getting something like empty string from the identity provider.

"0bf1321e19e943d6970f1c7ce4e5fd26"
"5bc6ae587b754499a5333e8f3d5ac32d"
"68eda8ff75e24bb2926bcc9cd4ca1c9e"
"0185077966c74cdab44d4b315c680928"
"16405d012eca4b5eb648ca5f2e1ef5a5"
"19805bf4c5a545959948d0f82f863975"
"25ed9e97ae3c469fb1209f7

[2021-09-13 14:39] annaswims commented on #29859
the people with these id.me uuid's had a nil gender in MPI
 "069ced66f15a4d49a34fb7280c6254ed"
 "1af3bd75fad14ae58796a9e97a42ad10"
 "1dd1f4a8b212471f9df92d302bebe06f"
 "272e9b2cb73c4a118b180f5c0117c371"
 "2c3389f10cd74af1ac24b131fcdbe401"
 "44b9ffb420e842978f858ba706b910a0"
 "4d7e3f7d3fbf460bb980e882c14a9b23"
 "523c34a3b0364b97aa4a36cf9bed95e3"
 "567e5a66b23d4c94975cc311b86329a2"
 "5f80c89ff18246b

[2021-09-13 14:47] allison0034 commented on #29805
@jason-gcio I clicked the verify this is correct button. Can you please reset user 50 so others can test? Thank you!

[2021-09-13 14:47] mchelen-gov commented on #29155
request approved 👍

[2021-09-13 14:48] mchelen-gov commented on #29152
request approved 👍

[2021-09-13 14:48] mchelen-gov commented on #29145
request approved 👍

[2021-09-13 14:49] mchelen-gov commented on #29143
request approved 👍

[2021-09-13 14:49] mchelen-gov commented on #29052
request approved 👍

[2021-09-13 14:50] mchelen-gov commented on #29030
request approved 👍

[2021-09-13 14:50] mchelen-gov commented on #29029
request approved 👍

[2021-09-13 14:50] mchelen-gov commented on #29028
request approved 👍

[2021-09-13 15:10] ashagross commented on #29527
Waiting on EVSS to send the info before front-end can start work on implementing

[2021-09-13 15:10] LinnJS commented on #29248
[PR](https://github.com/department-of-veterans-affairs/devops/pull/9926) where this work is being done

[2021-09-13 15:14] andaleliz commented on #29582
@DanielleThierryUSDSVA, I'm following up on our discussion last Thursday - I believe you said your team would help identifying content where it would make sense to update or add info about our new notification settings. Can you confirm?

[2021-09-13 15:25] RLHecht opened #29860 "Content updates to Post-9/11 GI Bill (Chapter 33) page"
## Issue Description
We need to make some text changes to the [Post 9/11 GI Bill (Chapter 33)](va.gov/education/about-gi-bill-benefits/post-9-11/) page now that we will have an R&S page with information on how much of the benefit you can qualify for.

Under the question **What benefits can I get through the Post-9/11 GI Bill (Chapter 33)?** we need to remove the following content section:

Here’s

[2021-09-13 15:27] sonntag-adam commented on #29806
https://dsvavsp.testrail.io/index.php?/runs/view/2269&group_by=cases:section_id&group_order=asc

[2021-09-13 15:34] jason-gcio commented on #29805
@allison0034 - got it, thanks!

[2021-09-13 15:36] #29278 closed

[2021-09-13 15:36] lianilychee commented on #29535
9/13 Mon:
-
- Liani to look at

[2021-09-13 15:41] brianalloyd commented on #29818
Work is completed, moving to close.

[2021-09-13 15:41] #29818 closed

[2021-09-13 15:42] erikphansen commented on #29814
This is being addressed by https://github.com/department-of-veterans-affairs/vets-website/pull/18674

[2021-09-13 15:43] brianalloyd commented on #29528
@mnorthuis work is complete for 1-3 on this ticket, I've moved 4-5 to separate tickets based on timing.  I'm going to close out this ticket in support and will keep it connected to the follow on tickets for items 4 & 5 as discussed.

[2021-09-13 15:43] #29528 closed

[2021-09-13 15:47] brianalloyd commented on #28288
Great work on this @kelsonic and @Rleahy22, great technical walk through that will help me build out the Product assumptions now, thank you so much for the support.  Closing out ticket in support.

[2021-09-13 15:47] #28288 closed

[2021-09-13 15:50] nsoutouras opened #29862 "VSP Identity - Sprint 61"

[2021-09-13 15:50] RLHecht commented on #19258
Update: Tanekwa sent me info for August. The number should be changed to 138.

[2021-09-13 15:52] RLHecht commented on #28079
Yikes! @kelsonic Since we aren't removing all instances of MISSION act mentions but any mentions of links to the MISSION act website, are we able to search by what we are linking to? it's https://missionact.va.gov/

[2021-09-13 15:58] theodur commented on #29742
After completing the audit, there are 23 applications that have other apps importing from them. I recorded the audit in this [spreadsheet](https://docs.google.com/spreadsheets/d/1K2QtE9qQXS1uFnlKXzAIsGr9Grin5k5RzLsSreQosCU/edit#gid=0). Next steps are for me to go through the imports and determine which ones need to stay, and which ones need to be removed.

[2021-09-13 15:59] santy78 commented on #28231
+Robert Villare ***@***.***> , +Vanitha Yoganand
***@***.***>

On Fri, Sep 10, 2021 at 9:23 PM Maria ***@***.***> wrote:

[2021-09-13 16:21] RLHecht commented on #19258
These pages were updated and published. Will close after validate on live site. FYSA @bethpottsVADEPO

[2021-09-13 16:21] aschulhof opened #29863 "Adding Katie Roach to DSVA Slack"
# Description

**new user requests**: please verify that the user does not already exist in dsva.slack.com (it may be the account exists, but is not in a particular channel)

- Please add katie.roach@oddball.io as a full member. She is the Delivery Manager on the Check-in Team, as part of the new TEVI contract.

Are you requesting to add an individual as a:

- Full member
- Single guest
- Multi-ch

[2021-09-13 16:23] ajakabcin commented on #28982
Great convo with @shanemelliott  and @pcshah1026  this morning that answered several questions for us and helped relieve our concerns about child/parent facilities:

- The fact that we only receive the parent station ID indicating facility(ies) a Veteran is registered with is not an issue because for the pilot all child facilities under Denver and Asheville are participating. Facilities like this

[2021-09-13 16:30] kelsonic commented on #28079
Ah ha! That gets us only ~500 results, way better! 🚀

[missionact-results.txt](https://github.com/department-of-veterans-affairs/va.gov-team/files/7155930/missionact-results.txt)

[2021-09-13 16:32] brianalloyd commented on #29178
@shiragoodman @andreahewitt-odd in recent communication with stakeholder we're looking to shift the staging review to 9/23 if possible based on some needed content from VA Stakeholder in order to finalize the static content landing page.  I posted in slack but also wanted to follow up on this ticket in support.

[2021-09-13 16:41] Mottie commented on #28178
EVSS does not check or prevent submission of overlapping service periods. So, I'm going to close this issue.

[2021-09-13 16:41] #28178 closed

[2021-09-13 16:48] craigwheeler opened #29864 "BGS::PeopleService::VAFileNumberNotFound"
## Issue Description
Receiving errors in Sentry for the BGS people service. Sentry Link: http://sentry.vfs.va.gov/organizations/vsp/issues/35358/?project=3&query=is%3Aunresolved+source%3Ayour-debt+VAFileNumberNotFound&sort=user&statsPeriod=90d

[code]

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a resu

[2021-09-13 17:04] AGarcia-Clarity opened #29865 "Remove ssoe feature flags on vets-website"
## Issue Description
This will remove the feature flags for all ssoe related.  Additionally, it will remove any dependencies for the feature flags including Redux, etc.

---
## Tasks
- [ ] The `featureFlagNames.js` file is updated to remove ssoe
- [ ] Feature Flag YAML file is updated.

## Acceptance Criteria
- [ ] Verify ssoe feature flags are removed and functionality remains intact.
---
## How

[2021-09-13 17:05] #28262 closed

[2021-09-13 17:06] holdenhinkle opened #29866 "Improve error messages in Liquid Template Testing Framework"
Fork `tinyliquid` (it hasn't been updated in ~5 years) or add `try/catch` block to `renderHMTL` to improve error handling.

See Slack thread https://dsva.slack.com/archives/C01CHAY3ULR/p1631540367135800

[2021-09-13 17:09] lwalsh617 commented on #13912
@RLHecht - Here is the first of four housing articles I'm building in Drupal. Once you review them, I'm sending them to Raleigh for SME review. Two notes on this entitlement article:

- Under "Restoring your entitlement to get a second loan," I want to use the following anchor link:\
https://www.va.gov/housing-assistance/home-loans/eligibility/#can-i-use-a-coe-i-used-before
I tried using Linkit to

[2021-09-13 17:09] holdenhinkle commented on #29866
@mpelzsherman @zacharymorel So you can follow this...

[2021-09-13 17:10] aryeh-usds opened #29867 "Collaboration Cycle Kickoff [Health Apartment Team, My HealtheVet Inside VA.gov]"
## Steps to complete Collaboration Cycle Kickoff
- [x] VFS Product Manager: Create this issue and fill in your team and feature name in the title.
- [x] VFS: Answer the questions below.
- [ ] VFS: Using the Slack Workflow ([User guide](https://depo-platform-documentation.scrollhelp.site/support/Getting-help-from-the-Platform-in-Slack.1439138197.html)), notify Collaboration Cycle team of this Githu

[2021-09-13 17:10] craigwheeler opened #29868 "Debts endpoint gateway timeout errors"
## Issue Description
Sentry reporting gateway timeout errors the the debts endpoint `/v0/debts`

http://sentry.vfs.va.gov/organizations/vsp/issues/14866/?environment=production&project=3&query=is%3Aunresolved+source%3Ayour-debt&sort=freq&statsPeriod=7d

[code]
---
## Tasks
- [ ] Look into Sentry and Loki to drill into why the timeout is occuring

## Acceptance Criteria
- [ ] We understand the reas

[2021-09-13 17:11] holdenhinkle opened #29869 "Reduce find-imports error noise in cypress-tests-prep job in the GHA CI workflow"
Reduce find-imports error noise in cypress-tests-prep job in the GHA CI workflow.

[2021-09-13 17:12] jbritt1 commented on #13823
https://dsva.slack.com/archives/CJYRZK2HH/p1631279782326600

[2021-09-13 17:12] RLHecht commented on #28754
@lunascoop here's the tagalog
[13669 _COVID-19 contrent updates 08.11.21-2 Tagalog Final.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/7156177/13669._COVID-19.contrent.updates.08.11.21-2.Tagalog.Final.docx)

[2021-09-13 17:13] aryeh-usds commented on #29867
Deprecated by a non-ticket process.

[2021-09-13 17:13] #29867 closed

[2021-09-13 17:13] holdenhinkle commented on #29869
From convo with @ddzz:

[2021-09-13 17:16] mleclerc00 commented on #29465
Argo notifications infra repo, gha for mirroring image, and gha for updating manifests complete.
https://github.com/department-of-veterans-affairs/vsp-infra-argo-notifications-controller
https://github.com/department-of-veterans-affairs/vsp-infra-argo-notifications-controller/actions

[2021-09-13 17:17] bosawt commented on #29816
I confirmed that staging works with these changes, and is indeed specifying the authn_context for id.me

[2021-09-13 17:18] bosawt opened #29870 "Add settings to specify authn_context for id.me on production"

[2021-09-13 17:18] bosawt opened #29871 "Add settings to specify authn_context for id.me on production"

[2021-09-13 17:19] bosawt commented on #29871
https://app.zenhub.com/workspaces/vsp-identity-5f5bab705a94c9001ba33734/issues/department-of-veterans-affairs/va.gov-team/29816 This change is live in staging, and it works, but now we need a coordinated deploy to make this change on production, after IAM makes a code change to enable the authn_context specification functionality, but before they change their configuration

[2021-09-13 17:19] zacharymorel commented on #29866
Hey, thank you @holdenhinkle.

[2021-09-13 17:23] RLHecht commented on #28079
Thank you @kelsonic ! Super helpful. From that list there aren't any more I need to remove thankfully. Did this search include apps and tools?

[2021-09-13 17:24] grossb1 opened #29872 "Fix flaky test"
There was an intermittent failing test in vets-api/modules/vaos. It has been disabled it so it doesn’t affect deploys. Please fix at your convenience.
#7870 Skip intermittent failing JWT wrapper spec
• This test was off by a second. We should use TimeCop here so we can avoid issues where time advances between when logic is run and comparison happens.
• VAOS will be notified so the spec can be fixe

[2021-09-13 17:24] oseasmoran73 opened #29873 "Deploy workflow in Github Actions"
## Details

It was noticed that if a newer commit finishes the pipeline before is predecessor and deploys, once its predecessor finishes it will deploy, thus not including the "latest" commit. This is due to race condition being present.

A few ideas on how to address this race condition could be:
- In the `deploy` step, we can check if the current `commit.sha` is the "latest" in master. If it's n

[2021-09-13 17:30] craigwheeler opened #29874 "deductionCode is undefined"
## Issue Description
Sentry reporting errors for `deductionCode` in the console. TypeError: Cannot read properties of undefined (reading 'deductionCode')

http://sentry.vfs.va.gov/organizations/vsp/issues/49086/?project=4&query=is%3Aunresolved+source%3Ayour-debt&statsPeriod=7d

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be c

[2021-09-13 17:35] andaleliz commented on #28982
@DanielleThierryUSDSVA, in addition to what we learned above we also talked about conditionally showing the hint text.  We'll show this hint text only to users who are registered at the participating facilities and any others.

Since sites will continue to be added, we'd like to keep the text as generic as we can while still making it helpful.

What do you think about:

"Only available at some VA

[2021-09-13 17:35] jhouse-solvd commented on #14550
Closing in favor of https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/16157

Closing.

[2021-09-13 17:35] #14550 closed

[2021-09-13 17:42] rileyorr opened #29875 "[FSR] Update 'Make a payment' terminus in the wizard"
## Issue Description
We received feedback from IA to provide more specific info/link directly to all the ways Veterans can make a payment on a debt. To align with the medical copay portion of the wizard, we want to add another question to ask how the Veteran wants to make a payment: online, by phone, or by mail.

---
## Tasks
- [ ] Update the FSR wizard to add a question 'How do you want to make a

[2021-09-13 17:42] meganhkelley commented on #29742
@theodur could you make that spreadsheet publicly viewable? Thanks!

[2021-09-13 17:42] rileyorr opened #29876 "[FSR] Update 'Make a payment' terminus in the wizard"
## Issue Description
We received feedback from IA to provide more specific info/link directly to all the ways Veterans can make a payment on a debt. To align with the medical copay portion of the wizard, we want to add another question to ask how the Veteran wants to make a payment: online, by phone, or by mail.

---
## Tasks
- [ ] Update the FSR wizard to add a question 'How do you want to make a

[2021-09-13 17:45] rileyorr commented on #23204
To align with the VHA's 'Make a payment' termini, I broke out the VBA's 'Make a payment' into an additional question with three termini (online, by phone, by mail). They've been documented as [d1-d3 in this UXPin
](https://preview.uxpin.com/4963ba1575f3616f61f9a1c8e40b66501c9303d0#/pages/139691609/simulate/sitemap?mode=i)
- [Frontend ticket for this work can be found here](https://app.zenhub.com/w

[2021-09-13 17:48] brianalloyd commented on #28225
Insights received now we just need to complete Analytic requests to fill in the gaps on tracking from above.  I'm going to closing ticket in support and work independent tickets for the associated gaps identified.

[2021-09-13 17:48] #28225 closed

[2021-09-13 17:50] cmaeng opened #29877 "Adding Suzanne Gray to DSVA Slack"
# Description

**new user requests**: please verify that the user does not already exist in dsva.slack.com (it may be the account exists, but is not in a particular channel)

- Please add suzanne.gray@civicactions.com as a full member.

Are you requesting to add an individual as a:

- Full member

- What channel(s) do they need to be added to? #cms-team

Then add a brief description of this person

[2021-09-13 17:51] theodur commented on #29742
@meganhkelley Whoops, sorry about that. You should be able to view it now!

[2021-09-13 17:52] cmaeng opened #29878 "Adding JayDarnell to DSVA Slack"
# Description

**new user requests**: please verify that the user does not already exist in dsva.slack.com (it may be the account exists, but is not in a particular channel)

- Please add jay.darnell@civicactions.com as a full member.

Are you requesting to add an individual as a:

- Full member
- What channel(s) do they need to be added to? #cms-team

Then add a brief description of this person,

[2021-09-13 17:55] ajakabcin opened #29879 "[FE] Notification Prefs: Display hint text for Rx tracking conditionally"
## Background
Per our findings in #28982, we're going to to revise the hint text to be more evergreen and conditionally display it for Veterans when they are registered with more than one VA facility where at least one of those facilities is a participant in the pilot Rx tracking feature. They will not see the hint text if they are associated _only_ with facilities that support the feature.

## Ta

[2021-09-13 18:11] RLHecht commented on #19258
Live on site. Closing ticket.

[2021-09-13 18:11] #19258 closed

[2021-09-13 18:19] #22406 closed

[2021-09-13 18:20] #28819 closed

[2021-09-13 18:20] ericboehs opened #29880 "Sidekiq: Convert to Periodic Jobs"
We're currently using a third-party gem 'sidekiq-scheduler'. Sidekiq Enterprise has this functionality built in. We should convert to using [Periodic Jobs](https://github.com/mperham/sidekiq/wiki/Ent-Periodic-Jobs).

[2021-09-13 18:23] mpelzsherman commented on #29866
If we don't want to fork tinyliquid, we could simply add a try/catch in our `renderHTML` function that says something like “An error occurred while rendering the template. Check to make sure all required values are populated.”

[2021-09-13 18:30] oseasmoran73 opened #29881 "Add retries on install for content-build"
## Details

It would be nice to be able to have retries in our install step, similar to [vets-website](https://github.com/department-of-veterans-affairs/vets-website/blob/master/.github/workflows/continuous-integration.yml#L87-L94)

Currently if the retry step is added, it will "install", but the `build` step will fails saying it is missing libraries.

## Acceptance Criteria

- [x] Investigate why

[2021-09-13 18:36] jennaouellet commented on #27983
@mdewey the latency custom metric has been updated to be consistent with the dashes in the API request ID and will not be using underscores, see below for formatting:

{
     event: 'api_call',
     api-name: 'Name of API',
     api-status: 'started',
     api-latency-ms: 20000,
     api-request-id: "55d07138-4056-405f-b361-e03ef56a386e"
}

[2021-09-13 18:36] #24455 closed

[2021-09-13 18:37] #23278 closed

[2021-09-13 18:38] RLHecht commented on #17774
Iceboxing this

[2021-09-13 18:48] Mottie opened #29882 "526: Discover & fix `toLowerCase` of undefined Sentry error"
## Description

The linked Sentry error shows a JS error `Cannot read property 'toLowerCase' of undefined`. After a quick investigation, there isn't one specific instance that jumps out, but maybe adding extra checks to existing `toLowerCase` function may prevent this event in the future.

Sentry event: http://sentry.vfs.va.gov/organizations/vsp/issues/47091

## Tasks

- [ ] Add default and/or fal

[2021-09-13 19:04] pshahVA opened #29883 "Adding [individual] to DSVA Slack"
# Description

**new user requests**: please verify that the user does not already exist in dsva.slack.com (it may be the account exists, but is not in a particular channel)

Andrew Gray is part of the business sponsor for the supplemental claims work on Lighthouse.

Are you requesting to add an individual as a:

- Multi-channel
- Switching from single-channel to multi-channel?
- What channel(s) d

[2021-09-13 19:06] DanielleThierryUSDSVA commented on #25887
Thanks, @miabecker! That's great now. I removed that line/tweaked that section. Good to go to staging then. Thanks!

[2021-09-13 19:08] erikphansen commented on #29814
The radio button hit areas, and radio button spacing, have been adjusted and can be validated on staging, @andaleliz

[2021-09-13 19:15] erikphansen commented on #28982
Initial version of the conditional display of this radio button group can be validated on staging. https://github.com/department-of-veterans-affairs/va.gov-team/issues/29879 will update the "hint" text and also _hide_ the hint text unless the user is associated with a mix of facilities that support Rx tracking and that do not support Rx tracking.

[2021-09-13 19:17] kelsonic commented on #28079
Yupp! 0 instances in apps + tools 🚀

[2021-09-13 19:31] callen2563 commented on #29704
![FAF_PDF_Modal_mobile](https://user-images.githubusercontent.com/68560244/133144945-1e2d305e-400a-495b-9521-2b6abedcd7c7.png)
@MarciMcGuireGCIO I had to shorten the FPO copy above the bullets so it would fit better. Let me know if you'd like something else as a placeholder.

[2021-09-13 19:32] Rleahy22 commented on #15244
For validation, this should not affect use on any browser other than IE11. Changes should go out with the Tuesday (9/14) deployment.

[2021-09-13 19:38] RLHecht commented on #28677
UX Pin with content that should be added to page once ready to implement: https://preview.uxpin.com/65c0623a799c268173fe1a3cb4375f9ce00ad820#/pages/137557312/simulate/sitemap

[2021-09-13 19:46] goldenmeanie opened #29884 "Adding Pamela Hastings to DSVA Slack"
# Description

Please add pamela.hastings@adhocteam.us as a full member

[2021-09-13 19:47] lunascoop commented on #29572
@RLHecht these pages are ready for review

Tagalog pages

- Paano makuha sa online ang talaan ng bakuna para sa COVID-19: http://preview-prod.vfs.va.gov/preview?nodeId=35108
- Mga bakuna sa COVID-19 sa VA: http://preview-prod.vfs.va.gov/preview?nodeId=16413

Spanish pages

- Vacunas contra COVID-19 en el VA: http://preview-prod.vfs.va.gov/preview?nodeId=16359

[2021-09-13 19:47] goldenmeanie opened #29885 "Adding Jacob Worrell to DSVA Slack"
Please add jacob.worrell@adhocteam.us as a full member

[2021-09-13 19:48] goldenmeanie opened #29886 "Adding Bryan Ivie to DSVA Slack"
Please add bryan.ivie@adhocteam.us as a full member

[2021-09-13 19:48] lunascoop commented on #28754
@RLHecht these pages are ready for review

- Vacunas contra COVID-19 en el VA: http://preview-prod.vfs.va.gov/preview?nodeId=16359
- Preguntas frecuentes sobre el coronavirus: http://preview-prod.vfs.va.gov/preview?nodeId=14580 (For the question Can I visit a Veteran in a VA health facility?, we need the last sentence of the For nursing homes, inpatient hospital stays, and other long-term care fac

[2021-09-13 19:54] charCodelet opened #29887 "Access for Patrick Ryll"
# Instructions

1. Fill out **Description**
2. Change the **Title** to include your name
3. Add the label used by your team (eg: `BAH-526`)
4. Do not remove `operations` label or the `ops-access-request` label; this will notify the VSP Operations team of your request
5. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contra

[2021-09-13 19:56] ericboehs opened #29888 "RuboCop: Review Pending and Disabled Cops"
We should review the pending and disabled cops and see which we want to enable (pending) and which we want to periodically run (disabled).

Related: https://github.com/department-of-veterans-affairs/vets-api/pull/7897

[2021-09-13 20:09] joshkimux opened #29889 "Access for Josh Kim (new macbook)"
# Instructions
1. Fill out **Description**
2. Change the **Title** to include your name
3. Add the label used by your team (eg: `BAH-526`)
4. Do not remove `operations` label or the `ops-access-request` label; this will notify the VSP Operations team of your request
5. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contrac

[2021-09-13 20:11] LizCallaghan commented on #29877
done!

[2021-09-13 20:11] #29877 closed

[2021-09-13 20:12] nsoutouras commented on #29501
Will wrap up at end of 61

[2021-09-13 20:13] kjduensing commented on #28509
Talk to Dillo about when we can do this.

[2021-09-13 20:14] #29633 closed

[2021-09-13 20:14] jbritt1 commented on #29889
@joshkimux, is this key to be added in addition to the existing key we have on file for you or is it a total replacement?

[2021-09-13 20:15] zacharymorel commented on #12535
@MarciMcGuireGCIO This should be fixed on staging now

[2021-09-13 20:16] kjduensing commented on #29656
Last landed on setting e-checkin-started for all appointments.

[2021-09-13 20:16] LizCallaghan commented on #29884
done!

[2021-09-13 20:16] #29884 closed

[2021-09-13 20:17] nsoutouras commented on #28911
Job to generate stats was run today.  Need to set up dashboard.

[2021-09-13 20:17] nsoutouras commented on #28727
John to sync with Trevor.  Carries to 61.

[2021-09-13 20:19] kjduensing commented on #28454
call VistA API to get appointments

[2021-09-13 20:21] kjduensing commented on #28454
add stories for VETExt tweak and vista api endpoint.

[2021-09-13 20:21] nsoutouras commented on #29577
Need to figure out other account table stuff w/r/t inbound before tackling this.  Carries to 61.

[2021-09-13 20:21] MarciMcGuireGCIO commented on #12535
@zacharymorel this looks spot-on to me.  FYSA @mnorthuis

![image](https://user-images.githubusercontent.com/73354907/133150907-0c73a104-9b4e-4487-8004-cf261ba38857.png)

[2021-09-13 20:21] LizCallaghan commented on #29885
done!

[2021-09-13 20:21] #29885 closed

[2021-09-13 20:21] jhouse-solvd commented on #29001
According to Faith, this requirement has been satisfied.

Closing.

[2021-09-13 20:21] #29001 closed

[2021-09-13 20:22] nsoutouras commented on #26190
Same status as 29577

[2021-09-13 20:22] LizCallaghan commented on #29886
done!

[2021-09-13 20:22] #29886 closed

[2021-09-13 20:23] jhouse-solvd commented on #28674
@ElijahLynn - please let us know if you intend to move forward with this or need any add'l support. Ops will have a follow up task to close an open proxy if this is no longer needed.

[2021-09-13 20:23] kjduensing commented on #29505
need vista link account

[2021-09-13 20:23] nsoutouras commented on #28722
Carries to 61.  Waiting for PR.

[2021-09-13 20:23] joshkimux commented on #29889
@jbritt1 A total replacement, my old macbook bricked 🙇

[2021-09-13 20:24] jbritt1 commented on #29889
Sorry to hear that, we will get that key updated for you.

[2021-09-13 20:24] nsoutouras commented on #29564
Move to PM review and close.

[2021-09-13 20:25] kjduensing commented on #29655
Do dynamic time calc

[2021-09-13 20:26] kjduensing opened #29890 "Get DNS entries registered for stating CHIP and VistA API"
(break into 2 stories)

dependent on getting SSL certs - figure out how to get va.gov certs working on lambda

[2021-09-13 20:27] kjduensing commented on #29890
will need to add cert to API gateway

[2021-09-13 20:29] kjduensing commented on #29890
perhaps talk to vets-api folks about this.

[2021-09-13 20:29] #29889 closed

[2021-09-13 20:30] jbritt1 commented on #29889
Key updated @joshkimux, give it about 10 minutes before attempting a new connection. Feel free to reach out over Slack in #vfs-platform-support or reopen this ticket if any issues are observed.

[2021-09-13 20:30] #29840 closed

[2021-09-13 20:32] kjduensing opened #29891 "Get SSL certs"
need to do this for setting up DNS.

[2021-09-13 20:37] SgardnerPMP opened #29892 "[VAMC] Update Operating systems with correct facilities for use in this system operating status [VAMC]"
## Story
As a PAO editor I must have all correct facilities listed in the Operating Status, so I can keep correct status updates listed for each facility.

## GOAL
Update last remaining operating status pages witl the correct facilities for the system.

## TASK
Update each operating status page for each of the below systems with the correct facilities associated to that system.  Make sure Medical

[2021-09-13 20:42] joshkimux commented on #29889
It's working great! Thank you again!

[2021-09-13 20:42] MarciMcGuireGCIO commented on #29704
@callen2563 thank you!  This looks very nice.   Would you mind making a few minor tweaks?

- Replace the bullet list with the three options below (please don't laugh at my janky mockup).

- First link would go to https://get.adobe.com/reader/

- Action link goes to https://www.va.gov/vaforms/medical/pdf/10-10EZ-fillable.pdf

- Cancel button closes the modal.

![image](https://user-images.githubuse

[2021-09-13 20:43] jbritt1 commented on #29889
Anytime!

[2021-09-13 20:57] timwright12 commented on #15244
@joshkimux @Rleahy22  Just wanted to poke my head in here as I saw this PR get merged. It looks to me like we're violating two WCAG rules with this fix:

- [Link Purpose](https://www.w3.org/WAI/WCAG21/quickref/#link-purpose-in-context)
- [Focus Visible](https://www.w3.org/WAI/WCAG21/quickref/#focus-visible)

Link purpose fill trigger an issue on an empty link and focus visible, while it won't trig

[2021-09-13 21:00] jhouse-solvd commented on #13823
Let's leave this in the icebox and either schedule some new monthly deploys, or decide to put in the work to do this.

[2021-09-13 21:01] ElijahLynn commented on #7633
Jenkins is deprecated, closing.

[2021-09-13 21:01] #7633 closed

[2021-09-13 21:02] Rleahy22 commented on #15244
Did those issues not exist prior to this change as well? What would we like these links to do in that case?

[2021-09-13 21:05] #28398 closed

[2021-09-13 21:07] Mottie opened #29893 "526: Discover & fix Sentry `undefined is not an object` for `n.definitions`"
## Description

The linked Sentry event shows a JS error `undefined is not an object (evaluating 'n.definitions')`. After viewing related events, this issue appears to occur on the `/new-disabilities/follow-up/:index` pages. This error may live within the platform code, or within the `react-jsonschema-form` repo.

Sentry error: http://sentry.vfs.va.gov/organizations/vsp/issues/49240

## Steps to d

[2021-09-13 21:13] #29882 closed

[2021-09-13 21:17] Rleahy22 commented on #29126
This fix should got out with the Tues (9/14 deployment)

[2021-09-13 21:25] ajmagdub commented on #29872
added timecop to jwt_wrapper_spec.rb.

[2021-09-13 21:25] aschulhof opened #29894 "Adding Warren (David) Benson to DSVA Slack"
# Description

**new user requests**: please verify that the user does not already exist in dsva.slack.com (it may be the account exists, but is not in a particular channel)

- Please add warren.benson@ablevets.com  as a multi-channel guest to these channels: #notifications-vetext

David is a trainer on the TEVI VEText product support team.

Are you requesting to add an individual as a:

- Full me

[2021-09-13 21:31] mleclerc00 commented on #29465
Argo notifications infra repo, gha for mirroring image, and gha for updating manifests complete.
https://github.com/department-of-veterans-affairs/vsp-infra-argo-workflows-server
https://github.com/department-of-veterans-affairs/vsp-infra-argo-workflows-server/actions
![image](https://user-images.githubusercontent.com/76792875/133158964-4a2848b3-8af1-4a74-b9c2-164a1c9d4c47.png)
![image](https://us

[2021-09-13 21:32] ericboehs opened #29895 "Add Coverband"
There is code in production that is not in use. We should know what is and isn't being called. [Coverband](https://github.com/danmayer/coverband) provides metrics on code that is called in production.

- [x] add the gem
- [ ] add it to the authentication block

[2021-09-13 21:35] ajakabcin commented on #28982
Confirmed conditional display rules on staging with 36 (to appear) and cerner test user mhvcss4 (to not appear). Awesome @erikphansen !

[2021-09-13 21:35] #28982 closed

[2021-09-13 21:45] jhouse-solvd commented on #17586
This is what we need next:

- Migrate revproxy to EKS: lift and shift at first ie take the current revproxy (open resty) config and move it into a container and run it in EKS rather than EC2; likely some little gotchas in terms of network routing, but overall can probably happen in a couple of Sprints
  - tasks for observability and alerting
- Migrate fwdproxy to EKS: lift and shift at first ie ta

[2021-09-13 22:12] ericboehs opened #29896 "Add test for bootability"
Waiting for ~EKS~ Preview Environments.

Multiple times broken code has been missed in CI and has been deployed to production. Tests needs to be performed to ensure the bootability of our application (both web/puma and background/sidekiq).

## AC

- [ ] A GitHub action is in place that prevents merging unless the Review Instance is up and running.

[2021-09-13 22:19] peggygannon commented on #28196
Hii, @shiragoodman and @allison0034 I'm sharing a WIP updated staging review template. This template includes some of the recommendations from Josh and Angela, and some new recommendations from me.

Let me know your thoughts. Or we can review together in an upcoming meeting. Thx!

https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/content/WIP%20staging%20review%20te

[2021-09-13 22:23] bosawt opened #29897 "Transition vets-api localhost to SSL"
As part of the integration of login.gov, it forces the callback to be an SSL URL. This isn't a problem on any stack except localhost, since we use SSL everywhere else. So we should transition vets-api backend localhost to SSL in order to get the integration working.

[2021-09-13 22:25] bethpottsVADEPO commented on #17601
[rs-1.1-education-coverage.bp.9-11-21.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/7157651/rs-1.1-education-coverage.bp.9-11-21.docx)

Here's my feedback. See tracked changes, comments, and highlighting. Basically, instead of one coverage article, I'd like to break it up into a handful of articles using various templates.

Some of the strategy work for you involves fig

[2021-09-13 22:43] ltrombley commented on #28540
Task #28540 -  Create or Clone all required pages for VA Milwaukee health care in VISN-12 [BA] - is Complete and moved to Validate

[2021-09-13 22:47] mleclerc00 commented on #29465
Argo rollouts infra repo, gha for mirroring image, and gha for updating manifests complete.
https://github.com/department-of-veterans-affairs/vsp-infra-argo-rollouts
https://github.com/department-of-veterans-affairs/vsp-infra-argo-rollouts/actions
![image](https://user-images.githubusercontent.com/76792875/133166035-a7be2f65-538e-4973-bed9-cee7407dbe68.png)
![image](https://user-images.githubuserc

[2021-09-13 22:50] mleclerc00 commented on #29460
Closing in favor of https://github.com/department-of-veterans-affairs/va.gov-team/issues/29812

[2021-09-13 22:50] #29460 closed

[2021-09-13 22:55] tlei123 opened #29898 "[DRAFT] [Bug] View Dependents - Dependent Verification modal - content/styling anomalies"
[DRAFT: Ticket details to be finalized after all test-runs are completed.]

## What happened?
On Staging **View Dependents** page, **Dependent Verification modal** had the following content/styling anomalies:
- Mobile [no mobile mockups provided to QA]:
  - Close button collided with modal-title.
- Desktop:
[tbd]

## Specs:
- Devices:
  - Samsung S9
- Browsers:
  - Chrome (Android)
- Test User _(i

[2021-09-13 23:13] erikphansen commented on #29879
I have a PR up for this, but am still awaiting final copy.

[2021-09-13 23:30] kelsonic commented on #28848
PR is up: https://github.com/department-of-veterans-affairs/vets-website/pull/18689
I won't be able to test this until there's a react widget content block with react widget ID `ask-va`, perhaps you can help @RLHecht? We can sync on it tomorrow or whenever you have time 🙂

[2021-09-14 00:11] michelle-nyamushanya opened #29899 "Adding Shibu Shamsuddin to DSVA Slack"
# Description

- Please add shibu.shamsuddin@thoughtworks.com as a full member to VA-Bedrock channels data-as-a-product, data-catalog, dod-va-interop, project, team.

- Shibu Shamsuddin is a new Thoughtworks data engineer that will be working with the DoD/VA Data-Mesh team to implement the Data Product Factory alongside team members Michelle Nyamushanya, Subi Thayamkery, Aurelio Nogueira

[2021-09-14 00:19] shanemelliott commented on #29668
@Durkin, Robert M. per our conversation yesterday, below you will find the link to the different VA Profile Swaggers.  At the bottom of the SharePoint page, you find v2.0:
https://dvagov.sharepoint.com/sites/OITEPMOEPMDES/Projects/Vet360/OnBoarding%20with%20Vet360/Home.aspx

Let me know if you need anything else from my end.

Thanks,
Paras

Paras C. Shah, MHA
Office of the VA CTO (OCTO)
Advisor, V

[2021-09-14 00:20] shanemelliott commented on #29668
https://dev.vaprofile.va.gov:7005/profile-service/swagger-ui/index.html?configUrl=/profile-service/v3/api-docs/swagger-config&urls.primaryName=Profile-v2

[2021-09-14 01:34] andaleliz commented on #28982
Woot woot! Thanks @erikphansen!

Just a heads up, since we haven't heard back from @DanielleThierryUSDSVA on the content suggestion, we might need to tweak that down the road.

Danielle, you can still leave your feedback here even though it's closed. That will help us close the loop in the same place it started :)

[2021-09-14 02:16] tlei123 opened #29900 "[TR ref] View Dependents - Dependent Verification - Link to Use Cases"
This ticket links TestRail Test Case [C5554](https://dsvavsp.testrail.io/index.php?/cases/view/5554) to View Dependents - Dependent Verification **[Use Cases doc](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/ebenefits/features/dependency-verification/use-cases-dependency-verification-modal.md#)**.  [One Test Case for ALL Use Cases]

[2021-09-14 02:33] tlei123 commented on #29805
@pjhill @ddzz , QA test-runs now completed, and QA-artifact links updated above in main description.

cc @jason-gcio @shiragoodman

[2021-09-14 02:36] tlei123 commented on #29821
@jason-gcio , all QA test-runs completed, and QA-artifact links updated in Staging Review ticket #29805 .

91% Passed - only 1 defect logged: #29898

Public Websites happened to postpone their Staging Review, so I had time to QA this feature instead.

[2021-09-14 03:12] mpelzsherman opened #29901 "Clean up flags and code for Nearby Vet Centers"
After completion and validatrion of the [Automate Nearby Vet Centers](https://github.com/department-of-veterans-affairs/va.gov-team/issues/27870) work, we will need to remove some legacy code.

Tasks:
- [ ] Remove `facilities_vet_center_automate_nearby` feature flag from vets-api and supporting code in vets-website
- [x] Remove `fieldNearbyVetCenters` from `vetCenterLocations.graphql.js`
- [x] Rem

[2021-09-14 12:14] MarciMcGuireGCIO commented on #22307
We are no longer able to reproduce this issue, and believe it to be resolved.   Recent changes to the blue boxes may have inadvertently corrected this problem.

[2021-09-14 12:14] #22307 closed

[2021-09-14 12:15] MarciMcGuireGCIO commented on #12535
@zacharymorel this didn't get to Production, just FYI. Thx!

[2021-09-14 12:17] timwright12 commented on #15244
@Rleahy22 these would be new issues that care coming up with the PR. In dealing with the IE11 issue, it's standard to add some JS to fix it. This is how WordPress deals with it: https://github.com/Automattic/_s/issues/1206 -- basically a small amount of JS that binds to the click of a skip link, adds `tabindex="-1"` to the target element, then sets focus to that element. There's also a blur event

[2021-09-14 12:18] #29407 closed

[2021-09-14 12:18] #29816 closed

[2021-09-14 12:18] #28725 closed

[2021-09-14 12:19] #17242 closed

[2021-09-14 12:19] #29638 closed

[2021-09-14 12:19] #29729 closed

[2021-09-14 12:28] lildziner commented on #29548
@nicko-amida I am taking screengrabs of the main pages with phone numbers on them and tagging them by type of phone in [this Mural board](https://app.mural.co/t/vsa8243/m/vsa8243/1630421025033/f184b85a498694d12baced65c028f8be8545760a?sender=leydahughes3111). This goes with the phone spreadsheet above but maybe this Mural can be the start of our combined synthesis to identify all the communications

[2021-09-14 12:43] #29728 closed

[2021-09-14 12:44] ndsprinkle commented on #29727
Finished all changes. Need to ask some questions about "Reverse Proxy", but this will just be a keep/remove decision of that section on the diagram.

[2021-09-14 12:46] shiragoodman commented on #29670
thanks @rebekahickey !

[2021-09-14 12:51] zacharymorel commented on #12535
It will be today!

[2021-09-14 12:52] #29564 closed

[2021-09-14 12:58] MarciMcGuireGCIO commented on #12535
🥳

[2021-09-14 13:01] joshkimux commented on #15244
Thanks for linking to how WordPress handles it! 🙏

[2021-09-14 13:08] joshkimux commented on #28196
@peggygannon I made a pull request to propose some minor accessibility changes around headings and links 😄

[2021-09-14 13:10] #29831 closed

[2021-09-14 13:10] LindaLi123 opened #29903 "General tech debt/house keeping"
## High Level User Story/ies
General maintenance and improve work for existing products

## How to configure this issue
- [ ] **Labeled with Team** (`product support`, `analytics-insights`, `operations`, `tools-be`, `tools-fe`,`content-ia`, `service-design`, `vsa-*`)
- [ ] **Labeled with Practice Area** (`backend`, `frontend`, `devops`, `design`, `research`, `product`, `ia`, `qa`, `analytics`, `co

[2021-09-14 13:11] nsmith1982 opened #29904 "Adding Gino Perlangeli to DSVA Slack"
# Description

**new user requests**: please verify that the user does not already exist in dsva.slack.com (it may be the account exists, but is not in a particular channel)

Good morning, please add Gino Perlangeli (gperlangeli@clarityinnovates.com) to DSVA Slack as a Full Member.  Gino is a new Site Reliability Engineer (SRE) working on VSP.  Please give him access to the following channels:

#

[2021-09-14 13:11] LindseySaari opened #29905 "Parameter store write permissions for vets-api service account"
## Issue Description
In order to automate the db key rotation, the vets-api service account needs write permissions to parameter store (it currently only has read). The vets-api account will need write perms for the lockbox.master_key and lockbox.previous_master_key across all envs in order to use Github Actions to update values in parameter store. We can most likely use something like [this](http

[2021-09-14 13:15] MarciMcGuireGCIO opened #29906 "Incorrect PDF form name on VA Survivors Pension page"
## What happened?
When reviewing analytics for VA form PDF downloads, I found metrics for a form that doesn't exist (21-534EZ) and traced it to https://www.va.gov/pension/survivors-pension/.   The URL to the form is correct, but the text should be changed to 21**P**-534EZ.   Screen shot below.

![image.png](https://images.zenhubusercontent.com/5f92fce34aee8412716359a7/c318c5d5-4378-44dc-8549-9e98e

[2021-09-14 13:16] MarciMcGuireGCIO commented on #29906
@bethpottsVADEPO @brianalloyd - I am not certain if this is PW or related to another team.  If it's not PW, please let me know and I will re-assign.  Thanks!

[2021-09-14 13:23] SgardnerPMP opened #29907 "[VAMC] Prepare and present presentation for VHA Monthly training [BA]"
## Story
As an editor I need continued education and information, so I can make informed decisions and correct validation and modifications to my new System website.

## Goal
Provide guidance on what pages and validations to complete and provide how to and confidence.

## TASK
- [ ] Create presentation and send copy to Jeff Grandon
- [ ] Present during monthly training event.

## Acceptance criter

[2021-09-14 13:24] LizCallaghan commented on #29904
done!

[2021-09-14 13:24] #29904 closed

[2021-09-14 13:40] andaleliz opened #29908 "[Design] - Notification preferences: Update mock-up for adding mobile number"
Need to update mock-up to remove reference to email addresses.

[2021-09-14 13:41] #29908 closed

[2021-09-14 13:43] RLHecht commented on #28754
These pages are now published. I'm sending the missing line of text to the translators as well.

[2021-09-14 13:43] vhenry07 commented on #29272
@shiragoodman ready to move forward with kickoff.

[2021-09-14 13:43] zurbergram commented on #29159
https://github.com/department-of-veterans-affairs/gibct-data-service/pull/861
https://github.com/department-of-veterans-affairs/vets-website/pull/18690

[2021-09-14 13:45] mpelzsherman commented on #27870
Note: the current behavior uses Drupal data which may contain both published and unpublished Vet Centers.

The published centers appear first, followed by unpublished. This behavior occurs in both preview mode and on the published site in production (e.g. on https://www.va.gov/escanaba-vet-center/locations/, the Green Bay Vet Center is still in Draft state, but appears under Nearby Vet Centers).

[2021-09-14 13:46] kevinstachura commented on #29518
This has been fixed by adding more context to the page. In the instruction text above the form field, we have added "You can request a Board Appeal up to 1 year from the date on your decision notice" clarifying the expectations on the date entered. The changes can be viewed here:

https://www.sketch.com/s/0424c51d-7818-43ea-8821-6de91eb7ab27/v/xyRA5J/a/jgMAyob/r/xyRAxl

[2021-09-14 13:48] kevinstachura commented on #29517
This has been fixed by adding more context to the page. In the instruction text above the form field, we have added "You can request a Board Appeal up to 1 year from the date on your decision notice" clarifying the expectations on the date entered. The changes can be viewed here:

https://www.sketch.com/s/0424c51d-7818-43ea-8821-6de91eb7ab27/v/xyRA5J/a/jgMAyob/r/xyRAxl

[2021-09-14 13:49] kevinstachura commented on #29517
Tagging @Mottie for awareness as this will likely be an FE ticket soon.

[2021-09-14 13:50] #29518 closed

[2021-09-14 13:51] kevinstachura commented on #29516
Based on comments from the above Slack link, it seems that content is taking a look at this. Closing as complete.

[2021-09-14 13:51] #29516 closed

[2021-09-14 13:58] andaleliz opened #29909 "[Design/PM] - Notification preferences: add screenshots to product documentation"
Update product documentation with screenshots of "after" state

[2021-09-14 14:17] RLHecht commented on #29572
The Spanish and Tagalog pages have now been published.

[2021-09-14 14:26] nicko-amida commented on #29548
@lildziner Ok thanks, sounds good. I can start adding anything relevant from my discovery to the board.

[2021-09-14 14:35] rlyons89 commented on #29622
2. Sounds good, we will update.
3. Sounds good, no concerns here.
5. It is possible but unlikely that the user would have enrollment activity immediately after applying. Our goal was to start directing users to where they could track their entitlement usage when they start attending school. I will confirm there is need to direct applicants that are under review or declined to that page.
6. Our goa

[2021-09-14 14:38] jeff2d2 opened #29910 "Tools BE VFS Support - Sprint 61"
As you review PRs, please add this epic to the issue so the business has visibility into our time spent supporting VFS teams.

[2021-09-14 14:44] ndsprinkle opened #29912 "Access to devops Repo for Nick Sprinkle"
## Description
I am requesting access to the devops repository for work I am doing on the FE Tools team.

---
## Acceptance Criteria
- [x] Nick Sprinkle has access to the devops repository

---
### Reminders
- [ ] Please attach your team label and any other appropriate label(s) (operations, devops, and needs-grooming will automatically be applied as part of the template)
- [ ] Please connect to an

[2021-09-14 14:46] ddzz opened #29913 "Improve Mochawesome report for Cypress accessibility tests"
# Description
Currently the Mochawesome report generated for the daily Cypress accessibility scan only lists whether or not there was an accessibility issue found on a page. In order to view the specific failure(s), the raw test output on GitHub Actions needs to be searched.

This task is to improve the format of the Mochawesome report so that the report shows the specific failure(s) found so that

[2021-09-14 14:46] Rleahy22 commented on #25659
Good catch, we're getting closer! I'll have a fix soon.

[2021-09-14 14:48] Mottie opened #29914 "NOD: Update additional issue content"
## Description

Updating the Notice of Disagreement additional issues page content based on feedback from the Board

Related:
- https://github.com/department-of-veterans-affairs/va.gov-team/issues/29517
- https://github.com/department-of-veterans-affairs/va.gov-team/issues/29518
- Design: https://www.sketch.com/s/0424c51d-7818-43ea-8821-6de91eb7ab27/v/xyRA5J/a/jgMAyob/r/xyRAxl

<img width="613" al

[2021-09-14 14:50] #29365 closed

[2021-09-14 14:50] #29353 closed

[2021-09-14 14:51] #29483 closed

[2021-09-14 14:52] #29343 closed

[2021-09-14 14:52] #29362 closed

[2021-09-14 14:55] Mottie opened #29915 "BDD: Evidence content changes"
## Description

On step 3 of 5 page of the Benefits Delivery at Discharge flow for Form 526, there was a recommendation to revise "What type of evidence do you want us to review as part of your claim?" to "What type of evidence do you want to submit as part of your claim?"

Related:
- https://github.com/department-of-veterans-affairs/va.gov-team/issues/27144

![](https://user-images.githubusercont

[2021-09-14 14:57] #29344 closed

[2021-09-14 14:57] DanielleThierryUSDSVA commented on #29817
Hi there. Just a quick note that I've started looking at this and will add the rest of my comments by tomorrow. Thanks!

[2021-09-14 14:58] #29345 closed

[2021-09-14 14:59] jbritt1 commented on #29912
Added `vsp-tools-frontend` with `write` permissions to the `devops` repository

[2021-09-14 15:01] #24576 closed

[2021-09-14 15:02] RLHecht commented on #23084
This work was completed but ticket never closed

[2021-09-14 15:02] #23084 closed

[2021-09-14 15:03] #29349 closed

[2021-09-14 15:08] allison0034 commented on #29272
Hi @vhenry07. Thanks for completing this Collaboration Cycle Kickoff ticket! Based on your responses, your project is an iteration to a tool and/or application.

So we are recommending the following Collaboration Cycle touchpoints:

- Design Intent
- Midpoint Review
- Contact Center Review
- Staging Review
- Privacy and Security Review
- Full Accessibility and 508 Office Audit
- Post-launch Check-

[2021-09-14 15:11] allison0034 commented on #29178
@brianalloyd 9/23 is available. Shira is back in the office today and owns the meeting, she will get it updated. Thanks you!

[2021-09-14 15:31] #29872 closed

[2021-09-14 15:33] jeff2d2 opened #29916 "Deprecate old GH docs"

[2021-09-14 15:36] callen2563 commented on #29704
You got it! np

[2021-09-14 15:40] lianilychee commented on #29534
9/14 Tues:
- ready to share
- need to double check that our current accessibility recs match the resource that Amy found

[2021-09-14 15:45] jeff2d2 commented on #25227
For this effort, I would create a spreadsheet that shows:
1. Current document title
1. Current doc link
1. Suggested path for where the new doc should live
and a draft of a front page (similar to the [Frontend developer documentation](https://depo-platform-documentation.scrollhelp.site/developer-docs/Frontend-developer-documentation.687931428.html))

[2021-09-14 15:45] michelle-nyamushanya commented on #29899
canceling this request. Shibu needs access to Bedrock slack and not DSVA

[2021-09-14 15:45] #29899 closed

[2021-09-14 15:47] jenniemc opened #29917 "Change feature toggle flag names from camelCase to snake_case"
Tim Wright of VSP FE Tools Group requested to update all VAOS feature flag names from camelCase to snake_case  in `FeatureFlagNames.js` file so the values match those in `features.yml`

The spreadsheet with the 15 VAOS flags that require changes are: https://docs.google.com/spreadsheets/d/1N0GJMa-PpLDMP-585Wd3KEC6QIHljueGRCgC6Qq3LXc/edit#gid=0

Examples of feature toggle flag names in `FeatureFlag

[2021-09-14 15:49] shiragoodman commented on #29178
@brianalloyd Staging REview has been moved to 9/23 at 2:00pm.

Thanks @allison0034 !

[2021-09-14 15:51] shiragoodman commented on #28196
@joshkimux could you link your PR to this ticket? Thanks!

[2021-09-14 15:54] shiragoodman commented on #25887
hi @miabecker  - apologies for the delayed response but I was OOO Thursday-Monday. In order to move forward with a Staging REview, please follow the instructions on our [Staging Review touchpoint page on Platform Website. ](https://depo-platform-documentation.scrollhelp.site/collaboration-cycle/Staging-review.1810137181.html) If you have any questions, please feel free to contact us on #vfs-platfo

[2021-09-14 15:56] jeff2d2 commented on #25227
Note that some of the frontend docs already launched include links to how to set up vets-api, which are currently all in GitHub. We'll need to go back and update these links later once our docs are launched.

For example: https://depo-platform-documentation.scrollhelp.site/developer-docs/Setting-up-your-local-frontend-environment.1844215878.html#Settingupyourlocalfrontendenvironment-Step4:Backenda

[2021-09-14 15:58] peggygannon commented on #28518
Confluence touchpoint docs have been updated.

[2021-09-14 15:58] #28518 closed

[2021-09-14 15:58] peggygannon commented on #28573
This is completed.

[2021-09-14 15:58] #28573 closed

[2021-09-14 16:06] charCodelet opened #29918 "Access for Patrick Ryll"
# Instructions
1. Fill out **Description**
2. Change the **Title** to include your name
3. Add the label used by your team (eg: `BAH-526`)
4. Do not remove `operations` label or the `ops-access-request` label; this will notify the VSP Operations team of your request
5. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contrac

[2021-09-14 16:07] #29887 closed

[2021-09-14 16:08] joshkimux commented on #28196
@shiragoodman [Here's my PR to this ticket](https://github.com/department-of-veterans-affairs/va.gov-team/pull/29902)

[2021-09-14 16:16] shanemelliott commented on #29668
https://dsva.slack.com/archives/C022AC2STBM/p1631635848277000?thread_ts=1628879449.231200&cid=C022AC2STBM

[2021-09-14 16:16] #18517 closed

[2021-09-14 16:18] LizCallaghan commented on #29894
done!

[2021-09-14 16:18] #29894 closed

[2021-09-14 16:20] grossb1 commented on #17191
Check with Lance to see if there is already something similar in Grafana that the facility-locator or VSA-facility team created

[2021-09-14 16:27] LizCallaghan commented on #29883
already has a guest account and is in the channel

[2021-09-14 16:27] #29883 closed

[2021-09-14 16:28] LizCallaghan commented on #29863
done!

[2021-09-14 16:28] #29863 closed

[2021-09-14 16:29] grossb1 commented on #10088
Next action item -
Schedule meeting with the team to review that above mentioned issues.

[2021-09-14 16:32] grossb1 commented on #22740
This will be tracked in the backend Jira system, closing this ticket

[2021-09-14 16:32] #22740 closed

[2021-09-14 16:36] grossb1 commented on #21644
Closing for now, will reopen if VAMF requests that we create this.

[2021-09-14 16:36] #21644 closed

[2021-09-14 16:40] #29918 closed

[2021-09-14 16:40] ajakabcin commented on #29043
Hey @joshkimux we had a question about this ticket - isn't this standard behavior? Just curious if this is a new a11y requirement or if we need to look into this issue elsewhere. Thanks in advance for the assistance!

cc @erikphansen and @tmitchellgcio

[2021-09-14 16:40] jbritt1 commented on #29912
SOCKS access granted. Please continue with [the guide](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/engineering/internal-tools.md#configure-the-socks-proxy) to establish a connection to SOCKS proxy.

[2021-09-14 16:40] jbritt1 commented on #29918
SOCKS access granted. Please continue with [the guide](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/engineering/internal-tools.md#configure-the-socks-proxy) to establish a connection to SOCKS proxy.

[2021-09-14 16:41] shiragoodman opened #29919 "Implement standardized process for new VFS team members"
## Issue Description
The creation of the [Platform Orientation - Current State Service Blueprint](https://app.mural.co/t/adhocvetsgov9623/m/adhocvetsgov9623/1634334965737/bf671d055e1072a001d00cd1d6b7dc89b0987bfc?sender=u0574179b1d97118ccc0e3591) allowed Platform to recognize many areas for improvement in the current process. All Improvement Opportunities identified have been documented in the [Epi

[2021-09-14 16:55] JenLJ commented on #29480
UX reviewed the search page design and looked into reducing a couple margins, but didn't see many opportunities.  To mitigate the above, the page automatically scrolls down to the results once a search has been run so the user sees what their query found.

[2021-09-14 16:55] #29480 closed

[2021-09-14 16:56] shiragoodman opened #29920 "Standardize scheduling of role-based orientations"
## Issue Description
In November of 2021, Platform made the decision to no longer schedule/coordinate 1:1 with new team members for General Orientation. Instead, Platform would host General Orientation once a month (the first Tuesday of each month at 3:00pm ET). Simultaneously, Platform also began using Calendly for scheduling General Orientation for VA.gov Platform. Calendly tool allows VFS team

[2021-09-14 17:02] cmaeng opened #29921 "Adding Tim Cosgrove to DSVA Slack"
# Description

**new user requests**: please verify that the user does not already exist in dsva.slack.com (it may be the account exists, but is not in a particular channel)

- Please add tim.cosgrove@agile6.com as a full member.

Are you requesting to add an individual as a:

- Full member
- What channel(s) do they need to be added to? #cms-team

Then add a brief description of this person, their

[2021-09-14 17:02] jbritt1 commented on #29912
Confirmed access is now allowed: https://dsva.slack.com/archives/CJYRZK2HH/p1631630667409000

[2021-09-14 17:02] #29912 closed

[2021-09-14 17:03] joshkimux commented on #29043
@ajakabcin Yes and no-- I can explain 😄

This is a new _recommendation_ we're making to stay in accordance with WCAG best practices, specifically:
- [G200: Opening new windows and tabs from a link only when necessary](https://www.w3.org/TR/WCAG20-TECHS/G200.html)
- [G201: Giving users advanced warning when opening a new window](https://www.w3.org/TR/WCAG20-TECHS/G201.html)

For more info on this,

[2021-09-14 17:03] cmaeng opened #29922 "Adding Chris Craig to DSVA Slack"
# Description

**new user requests**: please verify that the user does not already exist in dsva.slack.com (it may be the account exists, but is not in a particular channel)

- Please add chris.craig@agile6.com as a full member.

Are you requesting to add an individual as a:

- Full member
- What channel(s) do they need to be added to? #cms-team

Then add a brief description of this person, their

[2021-09-14 17:05] #26793 closed

[2021-09-14 17:08] Mottie commented on #29674
Successful test in staging.

[2021-09-14 17:08] #29674 closed

[2021-09-14 17:11] craigwheeler commented on #29874
looking at the sentry error noticed the url includes a % before the debt id which could be causing it to fail

`https://www.va.gov/manage-va-debt/your-debt/debt-detail/%202819694530`

[2021-09-14 17:14] SKasimow commented on #28685
@adamwhitlock1 hi - can I close this out?

[2021-09-14 17:17] adamwhitlock1 commented on #28685
Yes lets close it out

[2021-09-14 17:33] bsmartin-ep commented on #28919
Sure thing @chloedotbrown.  The four video CDs have been added to the dataset...

![Screenshot from 2021-09-14 13-32-38](https://user-images.githubusercontent.com/62304138/133306125-1cfef71e-9292-44d1-9cf2-eb5a32ce0a98.png)

[2021-09-14 17:34] AGarcia-Clarity opened #29923 "Bug: Update MHV staging URL"
## Issue Description
Fix MHV staging URL (see email).

---
## Tasks
- [x] Fix MHV staging url

## Acceptance Criteria
- [x] Redirects to MHV with the correct staging URL.
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to an Epic** (what body of work is this a part of?)
- [ ] **Labeled with Team** (`product support`, `analytics-i

[2021-09-14 17:34] chloedotbrown commented on #28919
Huge thanks - I'll add to the AooA dash! Closing ticket.

[2021-09-14 17:34] #28919 closed

[2021-09-14 17:34] ajakabcin commented on #29043
Thanks @joshkimux! Ok so if we make this change here, we probably would then need to do an audit of sorts elsewhere to see where windows/tabs open without warning, for consistency?

[2021-09-14 17:35] RLHecht commented on #29572
This page is live. Closing for now and will open if Mateo's team has any updates for us to make.

[2021-09-14 17:36] shiragoodman opened #29924 "Document instructions for VFS teams re: how to Coordinate with the VA 508 Office to address accessibility findings (in Full Accessibility & 508 Office Audit)"
## Issue Description
In the Full Accessibility & 508 Office Audit Collab Cycle touchpoint, we tell VFS teams to "Coordinate with the VA 508 Office to address accessibility findings." however we do not provide instructions to VFS with regards to HOW.

The purpose of this ticket is to document the instructions that the VFS teams need to follow (ServiceNow) in order to coordinate with the VA 508 Offi

[2021-09-14 17:38] #29350 closed

[2021-09-14 17:40] #28697 closed

[2021-09-14 17:49] RLHecht commented on #28079
After Kelson's search, there was only one instance of mention of the MISSION Act website, which was in an alert on the caregiver page. This has been updated. Closing this ticket. FYSA @DanielleThierryUSDSVA

[2021-09-14 17:49] #28079 closed

[2021-09-14 17:55] lunascoop commented on #19262
@RLHecht this page is ready for review.

The Program of Comprehensive Assistance for Family Caregivers: http://preview-prod.vfs.va.gov/preview?nodeId=10

[2021-09-14 17:59] #29914 closed

[2021-09-14 18:11] allison0034 opened #29925 "Update how to cc kickoff and custom track flow questions"
## Issue Description
The [How to for CC Kickoff documentation](https://vfs.atlassian.net/wiki/spaces/PPS/pages/1749286928/CC+-+Collaboration+Cycle+Kickoff?focusedCommentId=1886191655#comment-1886191655) is currently outdated and does not match the questions on the [custom track flow](https://vfs.atlassian.net/wiki/spaces/PPS/pages/1872822276/Custom+Tracks+Flow).

---
## Tasks
- [ ] Review the ques

[2021-09-14 18:28] shiragoodman commented on #29924
Per @pjhill:Hey, so this is not something that I have handled a ton in the past, but my understanding of the process is that you need to do roughly the following:
1. Navigate to https://yourit.va.gov/va from inside the VA network in order to link the service request to your VA email / identity
2. Select the option for 508 Accessibility Audit Request for the ticket
3. Fill out the form with the rel

[2021-09-14 18:38] cgreim opened #29926 "Adding Meko Hong to DSVA Slack"
Please add Meko Hong (meko.hong@adhocteam.us) as a full member. Meko is a new Product Manager on the VA Mobile App team with Ad Hoc.

[2021-09-14 18:44] shiragoodman commented on #29924
@noahgelman do you have any experience with this?

[2021-09-14 18:51] allison0034 commented on #29842
Hi @rlyons89 can you link the product outline please?

[2021-09-14 18:56] joshkimux commented on #29043
@ajakabcin Agreed-- I'll look into creating an online document to track issues we find elsewhere like we did with buttons vs. links! 👍

[2021-09-14 18:58] callen2563 commented on #29704
![FAF_PDF_Modal_desktop](https://user-images.githubusercontent.com/68560244/133317774-f806cc7b-e8bd-49a8-a545-1694e7cb9e49.png)

[2021-09-14 18:59] beth-wodzinski commented on #29601
Looks good! I'm able to schedule vaccine appointments now.

[2021-09-14 18:59] #29601 closed

[2021-09-14 19:01] vhenry07 opened #29927 "Missing Intent to File"
## Issue Description
Issue submitted via email from Odegard, Jason, VBASTPL <Jason.Odegard@va.gov>
Jason Odegard
Decision Review Officer
St. Paul VA Regional Office
612-970-5323

I’ve received notice that you haven’t been receiving copies of emails due to a lack of email encryption. I’ve sent this email unencrypted with a hope of obtaining your assistance. The veteran’s information can be obtained

[2021-09-14 19:07] CBonade commented on #26560
Happy to report this is finally complete - Nightwatch, it's old specs, configs and helpers are gone from vets-website.

[2021-09-14 19:08] zacharymorel commented on #12535
@MarciMcGuireGCIO This is on Prod now!

[2021-09-14 19:13] MarciMcGuireGCIO commented on #12535
Whoo hoo!!  Thanks, @zacharymorel!   Looks  great!  And I am actually looking at Prod this time and not Staging!

[2021-09-14 19:14] #12535 closed

[2021-09-14 19:18] KCollinsBrown opened #29928 "Adding Beth Culp to DSVA Slack"
# Description

**new user requests**: please verify that the user does not already exist in dsva.slack.com (it may be the account exists, but is not in a particular channel)

<describe the request>

Are you requesting to add an individual as a:

- Full member
- Single guest
- Multi-channel
- Switching from single-channel to multi-channel?
- What channel(s) do they need to be added to?

Then add a

[2021-09-14 19:19] cvalarida opened #29929 "Optionally hide the form title on the confirmation page"
## Issue Description
On the confirmation page, some forms may want to disable displaying the form title. This should be configurable.

### Links
- [Original request in Slack.](https://dsva.slack.com/archives/CBU0KDSB1/p1631561301028600)
- [PR to an application to override the title](https://github.com/department-of-veterans-affairs/vets-website/pull/18702)

## Acceptance Criteria
- [ ] The confirm

[2021-09-14 19:23] #29915 closed

[2021-09-14 19:36] LizCallaghan commented on #29928
done!

[2021-09-14 19:36] #29928 closed

[2021-09-14 19:37] erikphansen commented on #29043
@joshkimux I feel like someone else (not sure who) would have to weigh in on no longer opening external links in new tabs/windows since that has been such an established "best" practice that is clearly not actually the best practice. I'm happy to kill the `"_blank"` behavior, but want to make sure this change doesn't upset other people in the org. Or do you think I should just do it?

[2021-09-14 19:38] aschulhof opened #29930 "Adding Vera Livshin to DSVA Slack"
# Description

**new user requests**: please verify that the user does not already exist in dsva.slack.com (it may be the account exists, but is not in a particular channel)

Please add vlivshin@fearless.tech as a full member. She is the Tech Writer on the VEText Product Support Team Team, as part of the new TEVI contract.

Are you requesting to add an individual as a:

- Full member
- Single gues

[2021-09-14 19:39] aschulhof opened #29931 "Adding Chris Wilmsen to DSVA Slack"
# Description

**new user requests**: please verify that the user does not already exist in dsva.slack.com (it may be the account exists, but is not in a particular channel)

Please add cwilmsen@fearless.tech as a full member. She is the Delivery Manager on the Check-in Team, as part of the new TEVI contract.

Are you requesting to add an individual as a:

- Full member
- Single guest
- Multi-chan

[2021-09-14 19:40] allison0034 commented on #28082
[Practice area table](https://vfs.atlassian.net/wiki/spaces/CC/pages/1872232521/Practice+Area+Involvement+Table+for+Touchpoints)

[2021-09-14 19:41] oseasmoran73 commented on #27681
PR has been recently merged, will be observing

[2021-09-14 19:42] peggygannon commented on #28082
Hi, @allison0034 table looks good. I have a recommendation below for a new H1:

Touchpoint practice area involvement

[2021-09-14 19:43] allison0034 commented on #27653
[FAQ page](https://depo-platform-documentation.scrollhelp.site/collaboration-cycle/FAQ's.1864073263.html)

[2021-09-14 19:43] #27653 closed

[2021-09-14 19:46] timwright12 commented on #29873
@ndsprinkle The current Jenkins implementation handles this by setting up a deployment queue. If there are any running master pipelines, the dev/staging deployment won't happen.

Can we do the same thing here?

[2021-09-14 19:47] joshkimux commented on #29043
@erikphansen I can clarify a bit in terms of my intention; the goal isn't to end `_blank` behavior, because there are use cases where it is viable. I'm hoping to propose more specific guidelines around when it should be used, and in those cases, how to provide a heads up to folks before they click on it.

In this case-- depending on the context-- there's two proposed recommendations in the ticket.

[2021-09-14 19:48] k80bowman opened #29932 "Platform support slack bot:"
# Description
Update the dropdown menu for selecting a team in the Supportbot modal to show the full team names rather than abbreviations.

# Details
Here is what the dropdown looks currently:
![image.png](https://images.zenhubusercontent.com/5952ac1861b4ca3b0a727ca8/ebe2b889-a3b0-4976-b10c-423756a6fac4)

[2021-09-14 19:53] miabecker opened #29933 "Staging Review [VANotify/VEText - Digital Notifications Terms & Conditions page on VA.gov]"
## Steps to complete Staging Review:

- [X] VFS Product Manager: Create this issue and fill in your team and feature name in the title.
- [x] VFS: Using the Slack Workflow ([User guide](https://depo-platform-documentation.scrollhelp.site/support/Getting-help-from-the-Platform-in-Slack.1439138197.html)), notify Collaboration Cycle team of this Github ticket in #vfs-platform-support.
- [ ] Platform:

[2021-09-14 19:53] dneel-bah commented on #26872
Staging review has been completed; closing this issue as OBE.

[2021-09-14 19:53] #26872 closed

[2021-09-14 19:53] dneel-bah commented on #26875
Staging review has been completed; closing this issue as OBE.

[2021-09-14 19:53] #26875 closed

[2021-09-14 19:53] dneel-bah commented on #26876
Staging review has been completed; closing this issue as OBE.

[2021-09-14 19:53] #26876 closed

[2021-09-14 19:54] dneel-bah commented on #26869
Staging review has been completed; closing this issue as OBE.

[2021-09-14 19:54] #26869 closed

[2021-09-14 19:54] dneel-bah commented on #26870
Staging review has been completed; closing this issue as OBE.

[2021-09-14 19:54] #26870 closed

[2021-09-14 19:54] dneel-bah commented on #26871
Staging review has been completed; closing this issue as OBE.

[2021-09-14 19:54] #26871 closed

[2021-09-14 19:56] ndsprinkle commented on #29873
@timwright12 That's a good suggestion, I'll look into doing that. I'd essentially be checking to see if there are any running CI workflows?

[2021-09-14 19:56] jbritt1 opened #29934 "Create Documentation Around TIC Gateway Outages"
## Description
We (operations team) need a document that outlines the proper process to obtaining assistance from Gateway Ops when a TIC Gateway goes down.

## Background/context
https://dsva.slack.com/archives/C24RH0W11/p1631643451071900

---
## Tasks
- [ ] Create document outlining proper process for TIC Gateway outages

## Acceptance Criteria
- [ ] Clear and concise doc on this topic exists in

[2021-09-14 20:03] Kimberley2019 opened #29935 "[Tier 3] Disability Claim Application Issue with Application ID number 3550591"
## Issue Description
_Veteran is experiencing issues when attempting to submit claim_

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to an Epic** (what body of wor

[2021-09-14 20:04] timwright12 commented on #29873
I'd have to think on it a bit more, but essentially when a CI completes on a commit, if there's a newer commit into master, don't deploy. if there are no newer commits, that means it's the latest and it can safely deploy.

Basically we don't want older commits deploying after newer ones because it would kill them off

[2021-09-14 20:07] Kimberley2019 commented on #29935
Initials: Scott

Issue: Cannot submit disability Claim application

ID: 3550591

Veteran only provided screenshot

![Disability Claim - Scott.jpg](https://images.zenhubusercontent.com/5d3b2f7176f8655a8ad39ace/af75b9f5-d3ad-447a-a781-786c78109c93)

[2021-09-14 20:10] k80bowman opened #29936 "Platform support slack bot: Format date and time for FirstReplyTimeUTC"
# Description
The Service Design team would like us to add a column to the [Platform Support Responses](https://docs.google.com/spreadsheets/d/1TItdfPMH_TiXEhgMKEqxIW2e5EaMKy4cHaBhaeQ7drU/edit#gid=0) spreadsheet that formats the date and time for the First Reply Time into a readable format, as per this [Slack message](https://dsva.slack.com/archives/CPCGRR7F1/p1631648114046200).

# Details
This is

[2021-09-14 20:17] rebekahickey commented on #29670
Design mockups attached. I prefer the first option with all materials in a single list, but also attached a version that shows the materials grouped by area (using the Platform website's IA).  In both versions, there is a spot for intro text to provide context for VFS teams/team members followed by links to current orientation materials (in their existing formats - Google Slides, Docs, etc.).![Pla

[2021-09-14 20:19] pcshah1026 commented on #29668
plan is to use VEText's existing integration -- use VEText cert for authorization

[2021-09-14 20:24] pcshah1026 commented on #29668
**3 paths to pull demographics, etc.:**

VA Profile (via VEText)
Lighthouse
via VETS API

[2021-09-14 20:27] k80bowman opened #29937 "Unit Testing: Remove coverage report from logs and add failing test details"
# Description
Since we have the coverage report details by application readily available in [two](https://department-of-veterans-affairs.github.io/veteran-facing-services-tools/frontend-support-dashboard/unit-test-coverage-report) [other](https://github.com/department-of-veterans-affairs/vets-website/runs/3603031146?check_suite_focus=true) places, we no longer need it to display at the end of our

[2021-09-14 20:29] mnorthuis commented on #29622
@rlyons89 Core IA information is available here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/information-architecture/ia-reviews/edu-1990-post-9-11.md

A couple of things to note:
- There are ways that users can directly link to the existing 1990 form.  I am assuming that when this happens, the user will complete the existing 1990 as it is - including in an a

[2021-09-14 20:29] pcshah1026 commented on #29668
Shane confirmed with Patrick that its read-only demographic.  Veterans need to only verify demographics once -- multiple appts in one day.

[2021-09-14 20:30] shanemelliott commented on #29668
Can we modify Date Updated.

[2021-09-14 20:34] pcshah1026 commented on #29668
@pcshah1026  follow-up on whether data updated in VistA is updated in real-time with VA profile.

[2021-09-14 20:36] mleclerc00 commented on #29139
The query in the script itself was flawed as it would only capture a single instance from the list of results.  This resulted in a lot of stale runners running needlessly.  The change pushed 4 days ago fixes this issue.

[2021-09-14 20:36] k80bowman opened #29938 "Unit Testing: Automate test coverage report"
# Description
We are currently updating the Frontend Support Dashboard Unit Test Coverage Report manually once a month or so. We would like to have this happen automatically instead.

# Details
Most of the work for this has already been done (and then undone). This [PR](https://github.com/department-of-veterans-affairs/vets-website/pull/17848/files#diff-c6ff63d9fe07d20f6be6c10743321f1b97d35be90248

[2021-09-14 20:37] erikphansen commented on #29043
@joshkimux sure I follow, I was just leaning towards doing your **preferred** fix because it does make sense :) Leaving VA.gov isn't going to have the side effect of signing you out or anything like that.

I'd ask Mikki about this because she used to do a lot of the IA stuff and this sort of falls under that. She might have a lead on the correct person or team to raise this to.

[2021-09-14 20:42] joanneesteban opened #29939 "Create Analysis & Insights training"
## Issue Description
VFS teams understand how to analyze their data using basic exploratory analysis.

They may or may not use the data dictionaries for this purpose.

They should be able to use the data that Platform Analytics & Insights provides to understand their product's pain points and/or make further recommendations.

It can be asynchronous, but the Platform Analytics & Insights team can u

[2021-09-14 20:42] joanneesteban opened #29940 "Create Google Analytics training"
## Issue Description
VFS teams understand how to navigate the **VA**'s Google Analytics properties.

It can be asynchronous, but the Platform Analytics & Insights team can use whatever we create to do a live training if needed.
---
## Tasks
- [x] Modify the Empirical Path training deck
- [x] Grab links for Google's GA courses
- [ ] Test out a 20 minute video recording
- [x] Schedule a training wit

[2021-09-14 20:45] joshkimux commented on #29043
@erikphansen Awesome! If there isn't going to be any undesired side effects, taking out `_blank` and making it a regular old link would be preferred 🙏

Also, thanks for recommending Mikki-- I should have thought about that sooner! Appreciate the tip.

[2021-09-14 20:51] ajakabcin commented on #29043
ok @erikphansen so for this ticket we'll go with the first recommendation in the AC:

and then @joshkimux is going to follow up with @mnorthuis on the underlying concern and potential broader solution(s)

[2021-09-14 21:07] shiragoodman commented on #29933
hey @miabecker - we don't have availability on 9/16 (plus it's not within our 4 day window). Can you do 2:00pm on 9/23?

[2021-09-14 21:07] Kimberley2019 opened #29941 "[Tier 3] Disability Claim Issue with Application ID number (3611501)"
## Issue Description
_Veteran is having issues when attempting to upload application._

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to an Epic** (what body of wo

[2021-09-14 21:09] Kimberley2019 commented on #29941
Initials: D.A.

Application ID: 3611501

[2021-09-14 21:11] miabecker commented on #29933
Yes! Apologies I misread the calendar - and yes we were trying to squeeze
in sorry!

On Tue, Sep 14, 2021 at 5:07 PM shiragoodman ***@***.***>
wrote:

--
Maria Becker
Product Manager
Pronouns she/they
Email ***@***.***
Telephone +1 234 567 8910 <+1+234+567+8910>
[image: Thoughtworks]
<http://www.thoughtworks.com/?utm_campaign=maria-becker-signature&utm_medium=email&utm_source=thoughtworks-email-si

[2021-09-14 21:15] mmiddaugh opened #29942 "Reduce VA facility search results per page from 20 to 10"
## Issue Description
~Currently, search results for VA facilities are returned with pagination but the number of results are not limited per page.~
Currently, search results for VA facilities are paginated with 20 listings per page. This was done because we couldn't paginate PPMS data. Now that PPMS is supporting pagination, we can start by reduce this to 10 per page.

Steps to reproduce:

- Use t

[2021-09-14 21:30] Rleahy22 commented on #29824
This should go out with the deployment Wed (9/15)

[2021-09-14 21:32] kelsonic opened #29943 "React pages should also have banners"
# Description

**Slack:** https://dsva.slack.com/archives/C52CL1PKQ/p1631650897339000?thread_ts=1631633582.318600&cid=C52CL1PKQ

Notice how on [this page](https://www.va.gov/education/survivor-dependent-benefits/) the banner appears (it's not a React page, it's just a normal statically generated page). However, on [this page](https://www.va.gov/education/yellow-ribbon-participating-schools/) the b

[2021-09-14 22:07] Kimberley2019 opened #29944 "[Tier 3] Disability Claim Issue with Application ID number (3537038)"
## Issue Description
_Veteran is experiencing issues when attempting to submit claim_

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to an Epic** (what body of wor

[2021-09-14 22:09] Kimberley2019 commented on #29944
Initials: R.U.

ID: 3537038

Issue: Cannot submit disability Claim

Veteran only provided screenshot
![Disability Claim - JW.jpg](https://images.zenhubusercontent.com/5d3b2f7176f8655a8ad39ace/f9d4094f-9501-432b-876b-25551d663f59)

[2021-09-14 22:37] Kimberley2019 opened #29945 "[Tier 3] Disability Claim Issue with Application ID number (2425203)"
## Issue Description
_Veteran is experiencing issues when attempting to submit claim._

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to an Epic** (what body of wo

[2021-09-14 22:39] Kimberley2019 commented on #29945
Initials: K.G.

Issue: Cannot submit disability Claim application

ID: 2425203

Veteran only submitted screenshot

![Disability Claim - KG.png](https://images.zenhubusercontent.com/5d3b2f7176f8655a8ad39ace/b4269668-928e-41dd-9fc2-c4fe8ed24e70)

[2021-09-14 23:04] Kimberley2019 opened #29947 "[Tier 3] Disability Claim Issue with Application ID number (3039242)"
## Issue Description
_Veteran is experiencing issues when attempting to submit claim application._

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to an Epic** (wha

[2021-09-14 23:06] Kimberley2019 commented on #29947
Initials: W.R.

ID: 3039242

Issue: Cannot submit disability Claim

Veteran only submitted screenshot
![Disability Claim - WR 3039242.jpg](https://images.zenhubusercontent.com/5d3b2f7176f8655a8ad39ace/f8c106d6-f06f-46a2-a8fd-34e9aeadeea8)

[2021-09-14 23:18] Kimberley2019 opened #29948 "[Tier 3] Disability Claim Issue with ref number"
## Issue Description
_Veteran experiencing issue when attempting to upload claim application._

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to an Epic** (what bo

[2021-09-14 23:22] Kimberley2019 commented on #29948
Initials: A.C.

Issue: Cannot submit disability Claim application

ID: Not provided
reference number:  25b9d12f6eb44c2707e90a53

User Story: I've tried this for months and it is the same outcome. From what i was told my account was flagged and that is why i could not file anything and to call technical support to help me remove that flagged issue.

[2021-09-14 23:22] bramleyjl opened #29949 "Update TUD Account on User Login & Logout"
## Issue Description
The TUD currently gets its account data from a `.csv` that is imported directly into its database. This will lead to account data becoming out-of-date as the user accounts the TUD references are used and modified. We already have the user object present in some TUD logic that occurs on login and logout; we should take that opportunity to update the TUD with that user's informa

[2021-09-14 23:27] #28685 closed

[2021-09-14 23:34] charwo commented on #26830
I just wanted to chime in from afar to say Great Job on this! Really proud of how well this team is collaborating across OIT to quickly deliver value to Veterans. Intake to production was fast on this one!

[2021-09-14 23:54] SKasimow opened #29950 "Documentation | Translation of Static Content Solution"
## Overview

Today, we have a small-scale approach for handling translated content in 2 languages (Spanish and Tagalog).
For translated content, we enable users to select/toggle between the English, Spanish or Tagalog version of the page
We also provide accessibility via in-language screen reader capability.

We use a separate node/page for each language and a react widget placed within the page i

[2021-09-15 00:04] SKasimow commented on #29950
Hi @adamwhitlock1 here's a draft for your review. Please feel free to edit/update as needed and then point. Thanks!

[2021-09-15 01:23] bosawt commented on #29833
### Proposal

#### Prerequisite
	* Every credential provider uses a different unique identifier (idme_uuid, login_gov_uuid, mhv_correlation_id, edipi, etc)
	* If we receive an identifier from a credential provider, this identifier is assumed to be the new ground truth (any conflicts will be resolved in favor of incoming identifier)

#### Schema
[image:6FFA647A-9895-4C01-BE58-EE44B6183E41-1351-0000

[2021-09-15 01:24] bosawt opened #29951 "Document user login flows and how their information is stored with existing accounts table and future login.gov+cognito method"

[2021-09-15 01:54] andaleliz commented on #27169
@tmitchellgcio and @ajakabcin as part of the alert audit I'm doing, I checked out this functionality and I noticed that there's a delay on the modal closing after confirming removal. The modal shows the loading button, and then the `yes, remove my information` button re-appears and the modal stays open for 2 seconds before it closes.

Here's a video of what I'm talking about.

https://user-images.

[2021-09-15 02:19] annaswims commented on #29024
EVSS said today that they will ask their contact if they're able to help veterans.
In order to get the veterans helped we need:
-  SOJ ( id of the regional office) - va.gov doesn't have this, but EVSS looks it up using zip code in  BGS. VA.gov may be able to look it up in an an api, ask @kathleencrawford. vets-api getting the SOJ seems preferable to waiting for EVSS to do the dev. They were planni

[2021-09-15 02:31] annaswims commented on #22657
In the claim status tool we were able to make a "version" of the file with the correct file extension, but In department-of-veterans-affairs/vets-api#6542 I'm struggling to make it work. The "Version" doesn't seem to work the same when we're retrieving something from carrierwave.  Maybe we should just return an error immediately if a user uploads a file with an incorrect extension, like a png name

[2021-09-15 02:34] #22582 closed

[2021-09-15 02:36] #28676 closed

[2021-09-15 02:41] annaswims commented on #29762
EVSS generates the letter and they use central time. Vets-api uses UTC.

[2021-09-15 02:53] theodur commented on #29742
# Types of external imports

Going through the external imports of apps, I found some common themes in the imports and divided them into these types.

## Manifest File
Some applications, primarily the Dashboard app, import the `manifest.json` file from other applications. This is done solely to get the `rootUrl` of the app. Since places that import the manifest files are getting the `rootUrl` dyna

[2021-09-15 02:55] annaswims opened #29952 "Homelessness Flash for Form 526 - implementation"
discovery in https://github.com/department-of-veterans-affairs/va.gov-team/issues/22066

[2021-09-15 02:55] annaswims commented on #29952
draft in https://github.com/department-of-veterans-affairs/vets-api/pull/7732

[2021-09-15 03:34] lianilychee opened #29953 "Draft Sept newsletter edition"
# User story

As a VFS team member, I want to understand any Platform releases, so that I can build my VA.gov service.

# Tasks

- [x] Conduct pair-writing sessions (Amy)
- [ ] Draft newsletter edition
- [ ] Conduct reviews for technical accuracy and OCTO-DE signoff

Overall newsletter production tasks:
- Solicit content (Service Design)
- Conduct pair-writing sessions (Amy)
- Draft newsletter edi

[2021-09-15 03:34] lianilychee opened #29954 "Socialize VIDEOS + IMGs guidance"
# User story

As a Platform team member, I need to know how to structure VIDEOS + IMAGES that go on the Platform website, so that I can convey info as smoothly as possible to customers.

# Tasks

- [ ] Take template messaging from previously socialized materials

# Acceptance criteria
- Platform teams know where to find the guidance

# Reference info
- [Guidance 1](https://vfs.atlassian.net/wiki/s

[2021-09-15 03:34] lianilychee opened #29955 "Publish and train re: CHANGELOG guidance"
# User story

As a Platform team member, I need to know make announcements via the Platform website, customers are aware of (and can refer to) our changes.

# Tasks

- [ ] Clean up
  - Reach out to PS, Analytics since they already have announced
  - Prepare the developer docs August changelog
- [x] Schedule sesh w/ PMs and their documentation team members (that will be recorded)
- [x] Create messa

[2021-09-15 03:34] lianilychee opened #29956 "Validate non-eng TOP TASKS"
# User story

As a Content team member, I need to validate and finalize the non-eng top tasks, so that I can identify what writing work results from this research round-up.

# Tasks

- [ ] Validate with Rachael Roueche and dial in the level of refinement needed
- [ ] Refine spreadsheet into presentable form
- [ ] Determine with whom to additionally validate

# Acceptance criteria
- To come.

# Ref

[2021-09-15 03:34] lianilychee opened #29957 "Validate, iterate on PLATFORM TOOLS"
# User story

As a Content team member, I need to round up the list of tools the VA.gov Platform uses so that customers can smoothly start building their applications.

# Tasks

- [x] Round up feedback and determine what feedback can be shelved
- [x] Determine how to divvy up feedback betw. Amy and Gretchen
- [x] Secure approval from Rachael Roueche (consulted Mike Chelen and Mike Pritchard)
- [ ]

[2021-09-15 03:34] lianilychee opened #29958 "Socialize PLATFORM TOOLS"
# User story

As a Platform customer, I need to know what tools the VA.gov Platform uses so that I can smoothly start to building my application.

# Tasks

- [ ] Background research
  - Identify what about Platform tools requires the doc to be socialized differently from prev guidance
  - Identify how it's most helpful for customers to receive the Platform tools info
- [ ] Tasks from background re

[2021-09-15 03:34] lianilychee opened #29959 "[stretch] Launch Platform website dashboard"

[2021-09-15 03:46] annaswims commented on #29935
Claim fails with this error message from EVSS `[{\"key\"=>\"form526.submit.save.draftForm.PIFInUse\", \"severity\"=>\"FATAL\", \"text\"=>\"Claim could not be established. Contact the BDN team and have them run the WIPP process to delete Cancelled/Cleared PIFs\"}]`

We're actively working on troubleshooting this error with EVSS this sprint.  https://github.com/department-of-veterans-affairs/va.gov-

[2021-09-15 03:54] annaswims commented on #29944
user uuid is 6791a3f77db54ed1a1b40a61b60cf33c

EVSS rejects with:
"[{\"key\"=>\"form526.submit.establishClaim.serviceError\", \"severity\"=>\"FATAL\", \"text\"=>\"Benefit Type, Payee code or EP Code is not valid.  Benefit Type must be CPD, Payee code must be 00, 10 - 29, 50, 60 or 70 - 78.\"}]"

sentry issue:
http://sentry.vfs.va.gov/organizations/vsp/issues/509/events/45cd09991f6e4cfd97d63504d132

[2021-09-15 04:07] annaswims commented on #29941
http://sentry.vfs.va.gov/organizations/vsp/issues/137/events/ea857ea3f7274ccbba5ec7e081e30e0a/?environment=production&project=3&statsPeriod=14d

{"messages"=>[{"key"=>"form526.submit.establishClaim.serviceError", "severity"=>"FATAL", "text"=>"Claim not established. System error with BGS. GUID: 2e613b07-7aa5-4456-8b8d-916aec02291a"}]}

transaction_id
vagov-a85dde1d-d89f-4e6f-8cd3-fae0e76b87ab

http

[2021-09-15 04:34] annaswims commented on #29945
user uuid: 258142f4a3eb4d709ce9df407d4f2181

There is a bug on our end that we can fix, but in the meantime, the vetan can resume the form and go to the page about the individuals involved and click "remove" for the extra individual who has no information entered.

https://github.com/department-of-veterans-affairs/va.gov-team/issues/21422

[2021-09-15 04:37] annaswims commented on #21422
This issue came up again in veteran support.
[code]

FWIW, the veteran began the form 2020-12-02

[2021-09-15 04:47] annaswims commented on #29947
user uuid: 47e098a705d44c8699a2baf69f7965d8
@Mottie also caused by https://github.com/department-of-veterans-affairs/va.gov-team/issues/21422

There is a bug on our end that we can fix, but in the meantime, the vetan can resume the form and go to the page about the individuals involved and click "remove" for the extra individual who has no information entered.

[2021-09-15 05:00] annaswims commented on #29948
user uuid: 4ab1b83a24c3473d90301d9931008633

we're getting an error from evss - we'll have to ask them why
ransaction_id
vagov-b1833bc8-cb4d-4844-95ad-2deab09d0fcb
http://sentry.vfs.va.gov/organizations/vsp/issues/137/events/f70fc4bb16504329bb69b93b8a36724f/?environment=production&project=3&statsPeriod=14d

{"messages"=>[{"key"=>"form526.submit.establishClaim.serviceError", "severity"=>"FATAL", "t

[2021-09-15 06:23] larrywest52 commented on #29699
DONE

[2021-09-15 10:32] #29352 closed

[2021-09-15 12:07] allison0034 opened #29960 "Update platform website/confluence docs to show IA changes (remove Mikki and add Jim)"
## Issue Description
Mikki is no longer on the Platform team and Jim Ryan has been added. The IA request is also no longer part of the collaboration cycle. We need to review and update any incorrect IA information on platform website and confluence.

---
## Tasks
- [x] Review the [contact us page](https://depo-platform-documentation.scrollhelp.site/collaboration-cycle/Contact-us.1764524036.html) t

[2021-09-15 12:20] vhenry07 commented on #29272
Thanks Allison. Will proceed through the recommended touchpoints.

[2021-09-15 12:29] MarciMcGuireGCIO opened #29961 "[BUG] - Broken PDF form link on Fry Scholarship content page"
## What happened?
Broken link to PDF form on https://www.va.gov/education/survivor-dependent-benefits/fry-scholarship/

![image.png](https://images.zenhubusercontent.com/5f92fce34aee8412716359a7/4849fe00-ae5b-45e9-9143-a632e07687f9)

## Specs:
- Device: (e.g. iPhone 8, Macbook)
- Browser: (e.g. Firefox, IE 11)
- Test User _(if applicable)_:

## Steps to Reproduce
- URL: https://www.va.gov/educatio

[2021-09-15 12:29] MarciMcGuireGCIO commented on #29961
@brianalloyd @bethpottsVADEPO please let me know if this needs to be assigned elsewhere.  Thanks!

[2021-09-15 12:30] #29472 closed

[2021-09-15 12:30] #29712 closed

[2021-09-15 12:30] allison0034 commented on #28196
@peggygannon dont Josh and Angela only attend if its a VSA team?

[2021-09-15 12:33] annaswims opened #29962 "hypertension fast track"
The group working on hypertension fast track met with VSA claims and appeals and we established that it would be fairly straightforward to create a Sidekiq (background job) that ran when a veteran had a single issue claim for increase for hypertension.

The fast track team talked about making an API in aws lambda that got hypertension info from lighthouse and put it in a pdf that was uploaded to V

[2021-09-15 12:46] jbritt1 commented on #25152
Ansible playbook was created. This was tested against live Jenkins deployment and incurred no downtime. It was also observed that the new test path was added correctly to the nginx config:

![image.png](https://images.zenhubusercontent.com/5d9b3f56add771000187d3a8/53825ea3-c78c-4507-bc73-153d642d8c9c)

[2021-09-15 12:46] #25152 closed

[2021-09-15 12:49] DanielleThierryUSDSVA commented on #29817
@RLHecht, I did a quick pass through this. Could you give it a look as well for anything else? Thanks!

[2021-09-15 12:53] jbritt1 commented on #29637
Seems to have been a temporary blip as builds have been running successfully from what is currently observed in the job list:

![image.png](https://images.zenhubusercontent.com/5d9b3f56add771000187d3a8/c0f671db-3793-4101-870d-4fad983c7760)

Verification that these were triggered by GitHub pushes and not manual intervention:

![image.png](https://images.zenhubusercontent.com/5d9b3f56add771000187d3a

[2021-09-15 12:53] #29637 closed

[2021-09-15 12:56] RLHecht commented on #19262
Thanks @lunascoop These changes were reviewed and published. Moving to validate and will close after next deploy.

[2021-09-15 13:06] jbritt1 commented on #29422
### For AWS ACCESS
User: <user's first and last name>
COR: Cecilia Lee
GTL: Scott Mason
Approval needed: @mchelen-gov

[2021-09-15 13:07] LEHigley commented on #29931
done

[2021-09-15 13:07] #29931 closed

[2021-09-15 13:08] allison0034 commented on #29805
@jason-gcio sorry can you reset user 50 again? It seems someone verified the info. Also is the form part of this product? I wasnt sure if the form already existed on va and you did not make any changes

[2021-09-15 13:08] LEHigley commented on #29930
done

[2021-09-15 13:08] #29930 closed

[2021-09-15 13:11] RLHecht commented on #29817
I took a look at this as well and made a few minor copy edits. @ambikaroos this should be ready for you now. Let us know if you need anything else. Thanks!

[2021-09-15 13:22] DanielleThierryUSDSVA commented on #29817
Thanks, @RLHecht!

[2021-09-15 13:27] RLHecht commented on #28395
This work was done in ticket #28575. Closing.

[2021-09-15 13:27] #28395 closed

[2021-09-15 13:36] bevnobev commented on #26830
Thanks @charwo.  Appreciate the shout out from afar.  cc: @miabecker

[2021-09-15 13:37] tmitchellgcio commented on #27169
Oh weird. I don't think I noticed that. I will get it fixed. Thank you for noticing this

[2021-09-15 13:40] craigwheeler opened #29963 "Nothing was returned from render"
## Issue Description
Sentry reporting errors for some users when visiting https://www.va.gov/manage-va-debt/your-debt/

`Z(...): Nothing was returned from render. This usually means a return statement is missing. Or, to render nothing, return null.
`

`
Minified React error #152; visit https://reactjs.org/docs/error-decoder.html?invariant=152&args[]=Z for the full message or use the non-minified d

[2021-09-15 13:49] #29467 closed

[2021-09-15 13:50] craigwheeler opened #29964 "Minified React error #152"
## Issue Description
Sentry reporting errors for https://www.va.gov/manage-va-debt/your-debt/

`
Minified React error #152; visit https://reactjs.org/docs/error-decoder.html?invariant=152&args[]=H for the full message or use the non-minified dev environment for full errors and additional helpful warnings.
`

Sentry error: http://sentry.vfs.va.gov/organizations/vsp/issues/48985/?environment=product

[2021-09-15 13:53] shiragoodman commented on #29933
no problem @miabecker ! The staging review has been scheduled for 9/23 at 2:00pm ET

[2021-09-15 13:55] kelsonic commented on #26562
@RLHecht

[gi bill help portal.txt](https://github.com/department-of-veterans-affairs/va.gov-team/files/7170639/gi.bill.help.portal.txt)
[iris (in apps).txt](https://github.com/department-of-veterans-affairs/va.gov-team/files/7170640/iris.in.apps.txt)

[2021-09-15 13:57] mmiddaugh commented on #29076
<details>
<summary> Images previously submitted by Michael </summary>
![Find_VA_Locations___Veterans_Affairs](https://user-images.githubusercontent.com/80267/130507004-43d5398f-6c55-42ae-8996-69984f838486.png)

![Find_VA_Locations___Veterans_Affairs.png](https://images.zenhubusercontent.com/5ee91ea93ee2bbe222cd827f/5f8c9b24-7a57-453a-bef3-64d2feec977e)

</details>

[2021-09-15 14:16] jason-gcio commented on #29805
I see that modal as working but let me know if you see something different.
 Yes, the form page is all set and is actually deployed in prod.  If you have some feedback for that page though, please let me know!

[2021-09-15 14:17] shiragoodman commented on #28082
hey @allison0034 - Can we move the table to [this page](https://depo-platform-documentation.scrollhelp.site/collaboration-cycle/Touchpoints.1768423528.html) and delete the page it's on now? It's hard to find since it's alongside the touchpoints (one of these things is not like the other). Also, can we get more specific with the intro paragraph? Right now it says, "This table shows which practice a

[2021-09-15 14:22] ajakabcin commented on #27169
Thanks for flagging this @andaleliz! In the future let's make a new ticket for this instead of reopening it since it was from the previous sprint. Thanks!

cc @tmitchellgcio

[2021-09-15 14:23] tmitchellgcio commented on #27169
I can close it and open a new ticket if needed. Sorry about that

[2021-09-15 14:24] ajakabcin commented on #27169
No worries! just for next time :)

[2021-09-15 14:42] andaleliz commented on #24974
@ajakabcin FYI I took Tressa off this ticket; she doesn't have bandwidth to do her portion of the research ([outlined in this doc](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/discovery-research/auth-exp-comparative-analysis-reseach-plan.md)).

I think I can still move forward with my parts for this ticket and the next, and Tressa can

[2021-09-15 14:42] laurensimpson14 commented on #28938
@jennaouellet I edited the template to slim it down & make it user friendly. Here's the first pass: https://github.com/department-of-veterans-affairs/va.gov-team/blob/28938---edit-GA-request-template/.github/ISSUE_TEMPLATE/analytics-implementation-and-qa-request-template.md

[2021-09-15 14:44] dillo opened #29965 "Setup Rack-attack for Check-in V1 & V2"
Setup rack-attack protection for the Check-in V1 routes.

[2021-09-15 14:47] andaleliz commented on #29810
@ajakabcin I'm closing this since you and Erik have closed out #28982.

[2021-09-15 14:47] #29810 closed

[2021-09-15 14:48] dillo opened #29966 "Setup Grafana dashboard for Check-in V1"
Like the title says: Setup Grafana dashboard for Check-in V1

[2021-09-15 14:51] andaleliz commented on #26914
@ajakabcin in my opinion, this profile "edit in place" functionality is separate from notification preferences. We identified the need for this through the work we did on notification preferences but it would likely (hopefully) be something that could be used anywhere on the site where we are currently directing people back to profile to edit contact information in the middle of another task.

I s

[2021-09-15 14:51] tmitchellgcio commented on #28425
@ajakabcin ready for validation.

[2021-09-15 14:54] annaswims commented on #28999
I checked up on this one - the vet has not yet submitted

[2021-09-15 14:55] annaswims commented on #29115
@Kimberley2019  can we close this one?

[2021-09-15 14:56] #29248 closed

[2021-09-15 14:58] noahgelman commented on #29924
@shiragoodman I don't. I've never visited yourit.va.gov/va

[2021-09-15 14:58] annaswims commented on #29116
the veteran has not yet returned to the form to resubmit - last  updated_at: "2021-08-16"

[2021-09-15 15:01] noahgelman commented on #18256
@dneel-bah It would need to passed over to them. There is an accessibility issue related to the pattern that needs to be corrected

[2021-09-15 15:06] annaswims commented on #29117
@Mottie is this link better for you? http://sentry.vfs.va.gov/organizations/vsp/issues/241/events/ad9522f141b84ae2b3eff8d1c0f1c009/?project=4&statsPeriod=14d

[2021-09-15 15:08] annaswims commented on #29120
vet successfully submitted on 2021-09-02

[2021-09-15 15:08] #29120 closed

[2021-09-15 15:09] #29727 closed

[2021-09-15 15:10] amyknox commented on #29356
@peggygannon

**Updating:**
* Heading = Compare institutions (breadcrumb will need to be updated as well)

**Recommending:**
* Using the recommendation for "*Highlight differences" checkbox subtext as an aria label on the checkbox but not including it in the visual.  Our testing indicates that users do not have any trouble understanding the difference between institution categories when the asteri

[2021-09-15 15:11] annaswims commented on #29127
same as https://github.com/department-of-veterans-affairs/va.gov-team/issues/21422

[2021-09-15 15:12] annaswims commented on #29182
no response from EVSS, asked again. https://dsva.slack.com/archives/C8R3JS8BU/p1631718758015700?thread_ts=1629926344.025600&cid=C8R3JS8BU

[2021-09-15 15:13] pjhill opened #29967 "Tweak Dashboard Dataset to Reflect Recent CC Process Change"
# Description
We need to narrow the dataset we are displaying for the Collaboration Cycle Dashboard. Detailed information is available [here](https://github.com/department-of-veterans-affairs/va.gov-team/issues/25770).

1. Change dataset to only involve these labels:
[code]
2. Remove the `Open / Closed Issues by Team` card in favor of the alt view
3. Display a single donut card with open launch bl

[2021-09-15 15:14] amyknox commented on #29485
@dneel-bah This issue duplicates a portion of #29356

Our solution is as follows:

Using the recommendation for "*Highlight differences" checkbox subtext as an aria label on the checkbox but not including it in the visual.

Our testing indicates that users do not have any trouble understanding the difference between institution categories when the asterisk + color are used. We're also concerned th

[2021-09-15 15:16] amyknox commented on #29372
Changing "Remove" text link to secondary button

[2021-09-15 15:17] #29493 closed

[2021-09-15 15:17] dneel-bah commented on #29485
Closing this issue as a duplicate of #29356.

Fix is outlined in comment https://github.com/department-of-veterans-affairs/va.gov-team/issues/29356#issuecomment-920108507.

[2021-09-15 15:17] #29485 closed

[2021-09-15 15:18] annaswims commented on #29941
asked EVSS https://dsva.slack.com/archives/C8R3JS8BU/p1631719114016700

[2021-09-15 15:19] #29492 closed

[2021-09-15 15:20] annaswims commented on #29944
https://dsva.slack.com/archives/C8R3JS8BU/p1631719215017500

[2021-09-15 15:22] jbritt1 commented on #29820
Reviewed and verified that we are running the desired version of HAProxy outlined here:

![image.png](https://images.zenhubusercontent.com/5d9b3f56add771000187d3a8/a74607a0-cd20-4867-a7e0-6eb1449b02d2)

[2021-09-15 15:22] #29820 closed

[2021-09-15 15:23] DanielleThierryUSDSVA commented on #29582
Hi @andaleliz. Yes! We can help with this. @RLHecht can you add this as a discussion point for our next content check-in meeting? Thank you!

[2021-09-15 15:24] DanielleThierryUSDSVA commented on #28982
Hi @andaleliz. Looks good to me!

[2021-09-15 15:29] allison0034 commented on #28082
@shiragoodman done. I also changed the table title to include Platform. I am just waiting to push the changes

[2021-09-15 15:31] jbritt1 commented on #29465
Great work on this @mleclerc00!

[2021-09-15 15:31] #29465 closed

[2021-09-15 15:33] #29529 closed

[2021-09-15 15:34] lianilychee commented on #29534
9/15 Weds:
- been published!
- ready for demo :D

[2021-09-15 15:34] #29534 closed

[2021-09-15 15:35] bethpottsVADEPO commented on #26933
@RLHecht Looks like this is still outstanding? Want to ping Raleigh again?

[2021-09-15 15:35] lianilychee commented on #29535
9/15 Weds:
- After user tasks, Gretchen will round up feedback

[2021-09-15 15:35] #29535 closed

[2021-09-15 15:41] rlyons89 commented on #29842
@allison0034 just added the link to an initial draft

[2021-09-15 15:45] mpelzsherman commented on #27870
@mmiddaugh There is no image data in Lighthouse, so the nearby vet centers will not have images.

[2021-09-15 15:49] watersemma commented on #29484
UX has opted to update the "Preferred providers" filter check box language to "Preferred providers only"

[2021-09-15 15:50] mpelzsherman commented on #27870
I'm seeing some discrepancies between the operating status data in Lighthouse vs. CMS. For example, Green Bay Vet Center has operatingStatus "NORMAL", but "Limited Hours" in Drupal.

[2021-09-15 16:01] swirtSJW commented on #27870
I am not seeing the disconnect.   CMS and facility locator show the same status.
![image](https://user-images.githubusercontent.com/5752113/133468300-5ee4c932-55c6-41ee-b8f0-dadbead5b4ca.png)

[2021-09-15 16:01] peggygannon commented on #28196
@shiragoodman PR for the template updates, for your review

https://github.com/department-of-veterans-affairs/va.gov-team/pull/29946

[2021-09-15 16:07] mpelzsherman commented on #27870
Correct, sorry. I guess the discrepancy only exists on dev.

[2021-09-15 16:08] shawkey-daniel commented on #29159
Both PRs are merged into master. Closing this issue.

[2021-09-15 16:08] #29159 closed

[2021-09-15 16:17] tchrisdyer commented on #28703
Adding @charCodelet to the ticket. Lihan is still working on getting the lower environments to work so that we can test submissions to full test this before pushing to production.

[2021-09-15 16:25] timcosgrove opened #29968 "Access for Tim Cosgrove"
# Instructions
1. Fill out **Description**
2. Change the **Title** to include your name
3. Add the label used by your team (eg: `BAH-526`)
4. Do not remove `operations` label or the `ops-access-request` label; this will notify the VSP Operations team of your request
5. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contrac

[2021-09-15 16:25] timcosgrove commented on #29968
This is possibly premature. Closing.

[2021-09-15 16:34] pjhill commented on #25770
@shiragoodman Hey, I'm struggling a bit with the filter for these issues. Is this right?
We only care to collect issues that are `collab-cycle-feedback`, have a practice area of `QA`, `IA`, `Design`, `508/Accessibilty`, and be marked with a `CCIssueXX.YY` style label. Are those the only criteria? It looks like about 116 issues have been created that match those criteria. I have an example of the w

[2021-09-15 16:39] brianalloyd opened #29970 "Two links showing on one line due to CTA buttons are removed"
## Issue Description
_Now that CTA buttons have been removed to have with a11y screenreader page elements, we've identified an issue where two (2) links are showing on one line.  To improve the ux and ensure users are not confused this will need to be resolved_

## Replicating the issue
https://www.va.gov/resources/direct-deposit-for-your-va-benefit-payments/

## Front end tasks
- Remove the 2 lin

[2021-09-15 16:40] Mottie commented on #21422
Making the change as Anna described, provide empty strings within the name object:

[code]

[2021-09-15 16:43] ajakabcin commented on #26914
@andaleliz yes, agreed!

[2021-09-15 16:49] Mottie commented on #29117
Yes thanks! Hopefully this issue is resolved.

[2021-09-15 16:53] mchelen-gov commented on #17615
is there any dependency on BE Tools or CMS teams to implement this or will it be transparent for them?

[2021-09-15 16:53] rtwell commented on #29842
@rlyons89 can you please give @allison0034 and I (@rtwell) access to the abstract boards? tyvm!

[2021-09-15 16:53] brianalloyd commented on #29970
Linking PR Request: https://github.com/department-of-veterans-affairs/content-build/pull/548

[2021-09-15 16:55] mchelen-gov commented on #28205
@jhouse-solvd thanks this is helpful! one question about:

what type of policy is this, PagerDuty or other?

[2021-09-15 16:59] rlyons89 commented on #29842
@rtwell @allison0034, updated the links so you should be able to access them now

[2021-09-15 17:04] brianalloyd commented on #29458
Closing.

[2021-09-15 17:04] #29458 closed

[2021-09-15 17:06] #29552 closed

[2021-09-15 17:07] brianalloyd commented on #29733
@davidconlon @DanielleThierryUSDSVA @bethpottsVADEPO this looks to be more of a product decisions, please review and advise.  Thanks.

[2021-09-15 17:10] mnorthuis commented on #29807
@mmiddaugh I corrected the spelling in the Albuquerque URLs above.

@brianalloyd These are vetted and ready for implementation.

[2021-09-15 17:11] jason-gcio commented on #19826
might need a discovery task for finding the correct template
https://design.va.gov/patterns/email_template

[2021-09-15 17:15] mnorthuis commented on #29809
Created doc for conversation, posted to slack

https://dsva.slack.com/archives/C01GCADCMQT/p1631290403077200

[2021-09-15 17:15] #29809 closed

[2021-09-15 17:17] meganhkelley commented on #29578
Solution may depend on what we end up doing for #29873 — check in there before starting this

[2021-09-15 17:19] #29451 closed

[2021-09-15 17:21] shiragoodman commented on #27730
@peggygannon just noticed this was supposed to be a ticket you worked on during the tech debt sprint but i never added you as an assignee! Could you please work on it when you have time in the next sprint?

[2021-09-15 17:22] tlei123 commented on #29805
@jason-gcio , I've just added a test-accounts table to the main description above, for self-service reservations/test-runs.

IF you dispense any of the accts, please be sure to update this table.  Thx much!

I'll notify VSP about this in Slack.

[2021-09-15 17:22] laurensimpson14 commented on #28936
Update: This is out on scrollhelp now

[2021-09-15 17:25] jeff2d2 commented on #25227
[Working ssheet](https://docs.google.com/spreadsheets/d/1FkkxASkBkGS4gI6mnlo5ZQL00f5lk9Tj81dkmPkuook/edit#gid=0)

[2021-09-15 17:25] #29732 closed

[2021-09-15 17:27] jeff2d2 commented on #11583
@f1337 You had mentioned at the beginning of the quarter that you'd like to take this one on as a pet project. Just curious on current status, or if this is something we still desire to do?

[2021-09-15 17:35] annaswims commented on #29762
the api response from https://staging-api.va.gov/v0/letters/beneficiary is:
[code]

[2021-09-15 17:36] RLHecht commented on #29906
@brianalloyd @MarciMcGuireGCIO We can fix this. I'll let you know when the change is live.

[2021-09-15 17:36] rebeccawalsh opened #29972 "[MCP] Create preliminary design diagrams for inclusion of HTML statements"
## Issue Description
We are currently investigating if the HTML statements that are currently being rendered and produced on AccessVA are accessible; we need to think about how this feature might be incorporated into our existing design.

---
## Tasks
- [x] Ideate methods of including the HTML statements
- [x] Create a wireflow diagram showing how we might include them into the UI

## Acceptance C

[2021-09-15 17:37] #27108 closed

[2021-09-15 17:37] shiragoodman commented on #28082
thanks @allison0034 ! I forgot to mention 1 last thing - my bad... Can you change the names of the touchpoints in the table to match the touchpoint names as written on Platform Website? Thanks!
![image](https://user-images.githubusercontent.com/71330581/133482291-4fa493ea-5866-4ff8-b98b-fcb4eb727fa2.png)

[2021-09-15 17:38] oseasmoran73 commented on #29873
@timwright12 I don't think that there is a way to have it in a "queue" system. The closest way (if possible) is for the deploy step to check if it is the latest one, if it is, safely deploy, otherwise, skip deploy step.

[code]

something along the lines and it will then act like a "queue". This will ensure that no older commits deploy after newer ones. Thoughts?

[2021-09-15 17:40] brianalloyd commented on #29961
@lunascoop @RLHecht Can you all advise on what can be done if VBA owns this PDF.  Link:https://www.vba.va.gov/pubs/forms/vba-22-1999-are.pdf?_ga=2.18213945.1206357025.1555902018-524815269.1555902018

[2021-09-15 17:41] annaswims commented on #27394
I'm going to re-open for tracking purposes.  We really need someone to fix this.

[2021-09-15 17:42] annaswims commented on #27394
even if we strip characters that aren't accepted by VBMS the claim will still be rejected if the character is in VBMS.

[2021-09-15 17:44] brianalloyd commented on #14623
@davidconlon can you determine if @mattpointzxer0 and the benefits team has taken ownership of this action.  Reviewed and would like to clear from our repo if it no longer applies to PW team actions.

[2021-09-15 17:44] rebeccawalsh opened #29973 "[FSR] List loop ideation"
## Issue Description
Because list loops did not test well in the FSR, we need to investigate alternative directions for the FSR's design.

During ideation, we will use findings from the competitive analysis to create high-level concepts to discuss and vote on with our team.

---
## Tasks
- [x] Discuss design alternatives for FSR list loops
- [x] Present design alternatives to team for alignment
-

[2021-09-15 17:45] annaswims commented on #29182
from evss:

we know what the widespread problem is, but are having a hard time convincing anyone to fix it.
https://github.com/department-of-veterans-affairs/va.gov-team/issues/27394

[2021-09-15 17:47] andaleliz commented on #14623
FWIW, I noticed that there is [guidance about this content on design.va.gov](https://design.va.gov/patterns/benefit-applications#apply-now) so it may be a design system team issue.

[2021-09-15 17:47] rebeccawalsh opened #29974 "[FSR] List loop wireflows"
## Issue Description
Because list loops did not test well in the FSR, we need to investigate alternative directions for the FSR's design.

Once ideation is complete, we will take the final outcomes from our presentation and compile it into a more fleshed-out wireflow spec for approval by our stakeholders

---
## Tasks
- [x] Create wireflows and document in GH
- [x] Discuss with team

## Acceptance

[2021-09-15 17:48] candy-gcio commented on #26490
@sporeboy , Do you have mockups/prototypes that are updated past what is in development for these?
 - 686C-674
 - 28-1900 Veteran Readiness
 - Apply for Personalized Career Planning and Guidance with VA Form 28-8832

I think I have the latest versions of the others. I'll add the links here, just in case...
- [Rated Disabilities](https://www.sketch.com/s/9a70f4c7-68f8-4998-bfee-2fdbb709cfb2)
 - [Vi

[2021-09-15 17:48] jason-gcio commented on #25876
@joanneesteban / @laurensimpson14
Just to close the loop on this, here is the mockup for this feature :https://xd.adobe.com/view/e27b7e71-d920-4bcd-9e81-dc62a9665d5e-b728/

We want to see if there is anything else on this that is not standardized.

[2021-09-15 17:49] rwilliams-oddball commented on #29029
Shoot me an IM for your AWS temp password.

[2021-09-15 17:49] rwilliams-oddball commented on #29028
Shoot me an IM for your AWS temp password.

[2021-09-15 17:49] rwilliams-oddball commented on #29030
Shoot me an IM for your AWS temp password.

[2021-09-15 17:50] batemapf opened #29975 "Request access to Google Analytics and/or Domo: patient check-in"
# Request Google Analytics and/or Domo access

## What this form is for
Use this template to request access to Google Analytics and/or Domo. Please complete steps 1 & 2 below.

## 1. Access Requirements
Please check the analytics tool(s) you need access to:
- [x] Google Analytics
- [ ] Domo
- [ ] (Platform Teams only) BigQuery

## 2. User Email Address to Receive Access
**Due to privacy concerns,

[2021-09-15 17:51] andaleliz commented on #29814
YAS! Looks great. Thanks @erikphansen

[2021-09-15 17:51] #29814 closed

[2021-09-15 17:52] rebeccawalsh opened #29976 "[FSR] FSR Enhancements research discovery"
## Issue Description
This ticket is for research discovery for the FSR enhancement release

---
## Tasks
- [x] Review previous FSR research, exploring how to build on that research and compare new research to issues seen and changes we have to improve the experience.
- [x] Review [FSR enhancements](https://app.zenhub.com/workspaces/vsa---debt-607736a6c8b7e2001084e3ab/issues/department-of-veterans-

[2021-09-15 17:53] rileyorr opened #29977 "[FSR] List loop redesign prototype"
## Issue Description
We need to convert the list loop redesign wireflows into prototypes

---
## Tasks
- [ ] Create prototypes for the redesigned list loops based on the wireflows

## Acceptance Criteria
- [ ] Prototypes have been uploaded to UXPin and linked in this ticket

[2021-09-15 17:54] rebeccawalsh opened #29978 "[FSR] Enhancements Usability conversation guide"
## Issue Description
This ticket captures the conversation guide creation for the Enhanced FSR usability study.

---
## Tasks
- [ ] Draft the conversation guide

## Acceptance Criteria
- [ ] Conversation guide has been uploaded to GH and linked in this ticket
- [ ] The conversation guide has been sent out for review/feedback

[2021-09-15 17:54] john-thomashill commented on #29463
@miabecker @HeatherSborz reached out to some additional technical POCs and it sounds like it's going to use new APIs. Here's the answer we were emailed:

"When the Veteran requests a COE, in the future state, VA.gov will pass the Veteran's ICN and EDI-PI and call the following new LGY endpoints through Lighthouse:
-GET Eligibility API (includes Eligibility Determination API, Basic Entitlement API,

[2021-09-15 17:57] jason-gcio commented on #26868
BGS would need to accept pagination parameters...appears maybe not

[2021-09-15 17:58] jason-gcio commented on #26868
More evidence to support this need would be good

[2021-09-15 17:59] miabecker commented on #29463
@john-thomashill This is helpful! I think a call with your technical folks would be good. We have an existing integration with Lighthouse API so they are able to send things to use so I think that is good. We have worked with ICNs before but not directly with EDI-PIs. So I think as long as we have the ICN coming in the notification request we would be ok.

[2021-09-15 18:01] LinnJS commented on #27923
Here is a [thread](https://dsva.slack.com/archives/CBU0KDSB1/p1628264694224600?thread_ts=1628260407.224000&cid=CBU0KDSB1) asking platform around this error during discovery

[2021-09-15 18:02] jason-gcio commented on #26868
View Payments page load times in GA indicates an average of 2.2 seconds, 2% faster than the rest of VA.gov

[2021-09-15 18:02] #26868 closed

[2021-09-15 18:04] rwilliams-oddball commented on #29030
Verified login to AWS.

[2021-09-15 18:04] #29030 closed

[2021-09-15 18:05] mdewey opened #29979 "[FE] API Call Clean Up"
## Related Documentation

- [Sketch](https://www.sketch.com/s/e79a827e-42cf-4a82-b554-874c75b5c70e)
- [Product Docs](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/health-care/checkin)

## Description

After the quick push to production We need to clean the API calls

## Tasks

- [ ] Add error handling for API alls that redirect to the error page
- [ ] Check GA

[2021-09-15 18:06] jason-gcio commented on #29233
https://github.com/department-of-veterans-affairs/va.gov-team/issues/29227

[2021-09-15 18:07] rwilliams-oddball commented on #29029
Access granted and temporary credentials provided to user at this time.

[2021-09-15 18:07] rebeccawalsh opened #29980 "[FSR] Incorporate MCP debts into FSR (IXD)"
## Issue Description
There are a few places in the FSR that need interaction updates in order to incorporate copays into the form:
- Debt selection
- Resolution selection

---
## Tasks
- [x] Create designs to incorporate copay debts and sync to UXPin
- [x] Share work to team
- [ ] ~Create FE tickets (if needed)~

## Acceptance Criteria
- [x] Design created and UXPin linked to this ticket
- [x] Sha

[2021-09-15 18:08] #29383 closed

[2021-09-15 18:11] mnorthuis commented on #29043
Hi all, thanks for the tag!  Catching up on the convo, here's my thoughts...

We have always had some inconsistencies across the site on this, and probably need to revisit it.  Typically we only opened a new tab if 1) clicking the link will take a user out of a process and risk losing data (i.e. filling out a form), 2) opening the link in the same window would be confusing, or 3) it is an external

[2021-09-15 18:19] jeff2d2 commented on #24536
https://github.com/department-of-veterans-affairs/vets-api/pull/7839

[2021-09-15 18:20] #23096 closed

[2021-09-15 18:21] #22348 closed

[2021-09-15 18:21] meganhkelley opened #29981 "Tools FE VFS Support - PR Reviews Sprint 61"
## Details

Add PRs to this epic during Sprint 61. Any time you ...
* Approve a PR
* Leave comments on a PR
* Request changes on a PR

Add PRs from ...
* VFS teams
* Other VSP or Platform Crew teams

DO NOT add PRs from ...
* FE Tools team

[2021-09-15 18:22] #29563 closed

[2021-09-15 18:22] jeff2d2 opened #29982 "Plan and migrate Operational docs to Confluence"
@jeff2d2 to fill out

[2021-09-15 18:23] ericboehs commented on #23096
I believe I meant to comment this here instead of on #24536:

[2021-09-15 18:26] #14572 closed

[2021-09-15 18:27] bsmartin-ep commented on #29975
All three users have been granted access.  Closing.

[2021-09-15 18:27] #29975 closed

[2021-09-15 18:27] #14573 closed

[2021-09-15 18:27] #15186 closed

[2021-09-15 18:27] zacharymorel commented on #29553
@MarciMcGuireGCIO I think this is at a good point to close up for us!

[2021-09-15 18:32] #29747 closed

[2021-09-15 18:35] rtwell commented on #29929
This is a deviation from the pattern we use on all other forms and is unnecessary. Please revert, tyvm!

[2021-09-15 18:35] #29929 closed

[2021-09-15 18:37] LinnJS commented on #27923
[PR](https://github.com/department-of-veterans-affairs/devops/pull/9949) where this working is being done

[2021-09-15 18:39] annaswims commented on #29948
It seems that this was flagged for fraud.  Not sure where to go from here yet.  We don't have any contacts at VBMS (yet)

[2021-09-15 18:40] jeff2d2 commented on #26887
Stories to complete:
1. Discovery on which cops have the fewest offenses and are auto-correctable. Create list/sheet of all that need attention. Decide if some should turn into their own stories.
1. Figure out at the beginning of each sprint which ones we'd like to tackle in that sprint.

[2021-09-15 18:42] #15482 closed

[2021-09-15 18:52] #29553 closed

[2021-09-15 18:53] bevnobev commented on #29463
Hi @john-thomashill.  While the team is working on technical items, now might be a good time to reach out to your privacy officer for content "approval".  The privacy officer for LGS is Travis B. Cousins travis.cousins@va.gov.  I think git hub will block the email, so let me know if you can't find him in outlook

[2021-09-15 18:57] sporeboy commented on #26490
I think we managed to stay up to date on 686. For the others, I'm going to drop the links below. I'll need to check against what's in staging to be sure:

- [CH 31 28-1900](https://preview.uxpin.com/e291c4ac8956d804d774160cdb82ecb724044689#/pages/130773489)
- [CH36 28-8832](https://preview.uxpin.com/2dbde8d15bf667f5c584fe4a8a6d011cf9f0a14d#/pages/139282245)

[2021-09-15 18:57] MarciMcGuireGCIO commented on #9914
Note - This will be resolved with the launch of #9374

[2021-09-15 18:59] mdewey opened #29983 "[FE] Restrict Retries"
## User Story
- As a veteran, I should be able to try to validate my identity 3 times in case I mistyped my identity.

## Related Documentation

- [Sketch](https://www.sketch.com/s/e79a827e-42cf-4a82-b554-874c75b5c70e)
- [Product Docs](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/health-care/checkin)

## Description

A veteran should only be able to attempt to

[2021-09-15 18:59] #29029 closed

[2021-09-15 18:59] drorva commented on #27394
Just to be clear. Here's the pipeline and capabilities:
* va.gov -- accepts special characters
* EVSS -- does
* VBMS -- does not
* corpdb -- does
How does the PDF fit in with the above?

[2021-09-15 19:11] allison0034 commented on #28082
Done... it is publishing... taking forever

[2021-09-15 19:15] zurbergram commented on #20107
For AC2
https://dsva.slack.com/archives/CBU0KDSB1/p1631713339075000

[2021-09-15 19:18] pcshah1026 opened #29984 "[10/07] Insurance Check"

[2021-09-15 19:20] vhenry07 opened #29985 "Notify Veteran if Submission Fails"
## Issue Description
We would like to be able to notify the Veteran in the event of a disability claim submission failure.

Slack Thread: https://dsva.slack.com/archives/C5AGLBNRK/p1631741755144200
Backend Failed notification call location: EVSS::DisabilityCompensationForm::SubmitForm526#sidekiq_retries_exhausted

---
## Tasks
- [ ] Investigate possibility of engaging VA Notify team to implement a

[2021-09-15 19:24] mdewey opened #29986 "[FE]"
## User Story

As a veteran, I should get feedback for required fields so that I can provide all the information needed to verify my identity

## Related Documentation

- [Sketch](https://www.sketch.com/s/e79a827e-42cf-4a82-b554-874c75b5c70e)
- [Product Docs](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/health-care/checkin)

## Description

We need to mark the

[2021-09-15 19:26] RLHecht opened #29987 "Add new quick start guides to Welcome Kit page"
## Issue Description
Stakeholder Justin Hoffman has new quick start guides that need to be uploaded to the Welcome Kit page. He has already uploaded them to the media library in the CMS.

The new QSGs:

Get Started with Veteran-Owned Small Business support
Get started with services for LGBTQ+ Veterans

These should be placed under the "For Veterans" section.

---
## Tasks
- [x] Add QSGs to welcome

[2021-09-15 19:28] aryeh-usds opened #29988 "Request access to Google Analytics and/or Domo"
# Request Google Analytics and/or Domo access

## What this form is for
Use this template to request access to Google Analytics and/or Domo. Please complete steps 1 & 2 below.

## 1. Access Requirements
Please check the analytics tool(s) you need access to:
- [x] Google Analytics
- [ ] Domo
- [ ] (Platform Teams only) BigQuery

## 2. User Email Address to Receive Access
**Due to privacy concerns,

[2021-09-15 19:30] jeff2d2 opened #29989 "VTK Improvements"
Based on [this support request](https://dsva.slack.com/archives/CBU0KDSB1/p1631729402104500), it was discovered that we should do a few things to improve VTK:
- [x] #30702
- [x] #30703
- [x] #30705
- [x] #30704
- [x] #30706
- [x] #30707

[2021-09-15 19:38] ERRonat0609 opened #29990 "Analytics Feature Request/Bug Report"
# Analytics Feature Request/Bug Report

## What this form is for

Use this template to request an Analytics dashboard feature or report a dashboarding or Google Analytics/Google Tag Manager bug. This form is for enhancements to the existing KPI dashboards. If you have any analytics questions, please use the `/support` command on [#vfs-platform-support](https://dsva.slack.com/archives/CBU0KDSB1) ch

[2021-09-15 19:46] bsmartin-ep commented on #29990
Thanks @ERRonat0609.

We'll start looking into these.  In the meantime, can you make a copy of this spreadsheet and fill out the "Forms" sheet for all the forms you want to track in the Domo forms dashboard?

https://docs.google.com/spreadsheets/d/1dIh-MVmVYCc2mZ_b_8y-cPVZB5-8RIShuOP_ng9uqAA/edit?usp=sharing

Let me know if you have any questions.

[2021-09-15 19:47] bsmartin-ep commented on #29988
Both users have been granted access.  Closing.

[2021-09-15 19:47] #29988 closed

[2021-09-15 19:51] shiragoodman opened #29991 "Remove Trevor from Product Support/Collaboration Cycle guidance"
## Issue Description
Trevor Pierce departed VSP/Platform Product Support on September 10. Trevor is mentioned in VFS-facing documentation on Platform Website, as well as in internal documentation on Confluence.

The purpose of this ticket is to remove Trevor from all guidance and documentation.

Note: Trevor has already been removed from the [How to Staging](https://vfs.atlassian.net/wiki/spaces/P

[2021-09-15 19:57] ajakabcin opened #29992 "[FE] Profile: Modal is delayed in closing after remove contact info is confirmed"
## Background
As noted in [Liz's comment](https://github.com/department-of-veterans-affairs/va.gov-team/issues/27169#issuecomment-919634916) in 27169, there seems to be a delay on the modal closing after confirming removal. The modal shows the loading button, and then the `yes, remove my information` button re-appears and the modal stays open for several seconds before it closes.

https://user-ima

[2021-09-15 19:58] jeff2d2 commented on #28291
Will not be doing this at this time

[2021-09-15 19:58] #28291 closed

[2021-09-15 19:58] jeff2d2 commented on #28293
Will not be doing this at this time

[2021-09-15 19:58] #28293 closed

[2021-09-15 19:59] jeff2d2 commented on #26743
Will not be doing this at this time

[2021-09-15 19:59] #26743 closed

[2021-09-15 19:59] ajakabcin commented on #27169
Ok changed my mind on this one - creating a separate bug ticket to address the issue Liz found > #29992

Closing this out. @tmitchellgcio please track the issue in the bug ticket linked above. Thanks!

[2021-09-15 19:59] #27169 closed

[2021-09-15 20:00] Rleahy22 commented on #15244
@timwright12 @joshkimux since we use `h2` tags for the in page link anchors we can't use `.focus()` on them so I have 2 proposals for how we can use `a` tags.

1) Wrap the `h2` in an `a` tag with link styles reset. This makes it so the link has text unlike in the initial solution which used empty links. This solves our issue, but does make the Headings clickable, and the resulting scroll make catc

[2021-09-15 20:01] ajakabcin opened #29993 "[FE] Notification Prefs: Refactoring frontend filtering"
## Background
Due to the various adjustments we've had to make to the notification prefs feature throughout the built, there's a bit of refactoring that needs to be done on the frontend related to filtering.

## Acceptance Criteria
- [ ] Remove duplicated logic re: notification group and item filtering; handle all filtering at the Redux reducer level and remove it from the complex Redux selectors.

[2021-09-15 20:10] dneel-bah commented on #13502
Closing this story as the work is being transitioned to the Digital GI Bill project.  All information has been #29855 and this issue has been referenced for historical purposes.

[2021-09-15 20:10] #13502 closed

[2021-09-15 20:20] watersemma commented on #29372
Updates have been made and can be seen here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/education-careers/school-comparison-tool/redesign/design/sketch-files/gibct-redesign-comparison-postmvp.sketch

[2021-09-15 20:20] watersemma commented on #29356
Updates have been made and can be seen here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/education-careers/school-comparison-tool/redesign/design/sketch-files/gibct-redesign-comparison-postmvp.sketch

[2021-09-15 20:23] RLHecht commented on #25439
Removing the Q&A from the Survivors Pension page for now so we can publish a change needed for ticket #29906. Will put back in once stakeholders give us OK to publish.

[2021-09-15 20:31] watersemma commented on #29484
Updates have been made and are currently uploading here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/education-careers/school-comparison-tool/redesign/design/sketch-files/ct-redesign-search-namelocation-postmvp.sketch

[2021-09-15 20:37] mdewey opened #29994 "[FE] Make sure the page can be refreshed"
## Related Documentation

- [Sketch](https://www.sketch.com/s/e79a827e-42cf-4a82-b554-874c75b5c70e)
- [Product Docs](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/health-care/checkin)
- [Feature Doc](%FILL IN%)

## Description

Validate the when each page is refreshed it starts the user over at the appropriate page (the start)

## Tasks

- [ ] Check the pages:

[2021-09-15 20:40] mdewey opened #29995 "[FE] Redirect validated user"
## User Story

As a veteran, I should be redirected past the validate page if I am already validated

## Related Documentation

- [Sketch](https://www.sketch.com/s/e79a827e-42cf-4a82-b554-874c75b5c70e)
- [Product Docs](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/health-care/checkin)

## Description

Once a user loads the app after they have validated, they sh

[2021-09-15 20:48] brianalloyd commented on #14623
That's helpful @andaleliz thank you for the additional details.

[2021-09-15 20:49] brianalloyd commented on #29906
Thanks @RLHecht appreciate it.

[2021-09-15 20:50] pjhill commented on #29924
![508audit](https://user-images.githubusercontent.com/52456633/133507470-6b308da6-6bf1-4df9-83f7-6c1f3badcabb.gif)

[2021-09-15 20:53] wamccarty commented on #29984
/v1/sdec/insurance-verify/{stationNo}/{dfn}:
    get:
      summary: determine if a patient's insurance need to be verified
      operationId: getInsuranceVerify
      parameters:
      - name: stationNo
        in: path
        description: sta3n of VistA system; should match stationNo in bearer token
        required: true
        schema:
          type: string
        example: 600
      - name:

[2021-09-15 20:54] ltrombley commented on #29693
Task #29693 - Publish Systems in VISN-22 to Dual-State [VAMC] - is Complete and moved to Validate

[2021-09-15 20:54] brianalloyd commented on #29767
Work is completed and promoted to production.  Closing ticket in support.

[2021-09-15 20:54] #29767 closed

[2021-09-15 20:57] ltrombley commented on #29892
Task #29892 -  Update Operating systems with correct facilities for use in this system operating status [VAMC] - is Complete and moved to Validate

[2021-09-15 20:58] SKasimow opened #29996 "Add "Language assistance" links to all sub-domains using our standard footer"
## User Story

As a product manager, I would like to have this the "Language assistance" links added to the sites/pages that inject our header/footer into their sites to increase awareness and provide a more consistent experience.

## Expected Behavior

The sites should have the following added to the footer with working hyperlinks:

![Screen Shot 2021-09-15 at 4.56.32 PM.png](https://images.zenhu

[2021-09-15 20:58] ltrombley commented on #29907
Task #29907 - Prepare and present presentation for VHA Monthly training [BA] - is Complete and moved to Validate

[2021-09-15 21:02] ERRonat0609 commented on #29990
ok, @bsmartin-ep I just got approval from EDU to do that but it might take awhile to get that back to you - there are quite a few forms that we maintain...

[2021-09-15 21:03] jchasia-adhoc opened #29997 "Reformat support request confirmation posts"
**User Story**
As a Platform team member providing support in Slack, I want support requests confirmation posts to have the Summary at the top so they are easier to scan.

[2021-09-15 21:04] brianalloyd opened #29998 "[FE] Remove Pittsburgh Promo Modal"
## Issue Description
_When looking at promo banners components it was determined that the Pittsburgh promo modal can be removed from the promo listing_

## Front end tasks
- Remove Pittsburgh promo modal

## Acceptance Criteria
- [ ] Remove above modal and ensure remaining modals are functioning properly.

## Appendix
<details>

 <summary>Ensure your code changes are covered by E2E tests (expand)<

[2021-09-15 21:11] callen2563 commented on #28920
**Update on discovery / design research:**

Gov.uk - looks like some of their events are hosted by [eventbrite.com](https://www.eventbrite.co.uk/e/mhra-board-meeting-held-in-public-tickets-165779558121) Do we want to use a similar online tool?

[Link to appointment scheduler](https://www.sketch.com/s/ccd66412-dd7c-41ba-9528-88892a33af63/p/50DC3685-35CE-4EE4-924C-73B1E444D4C5) mock ups by Peter Rus

[2021-09-15 21:16] john-thomashill commented on #29463
Good call @bevnobev! We'll reach out to Travis. Thanks for the suggestion!

[2021-09-15 21:18] jchasia-adhoc opened #29999 "Tracking time to first response"
As a Platform stakeholder, I want to be access to data on how long it takes Platform Support personnel to respond to support requests in Slack.

[2021-09-15 21:21] brianalloyd opened #30000 "Test less used Promo modals to ensure functionality (NOT announcement promo)"
## Issue Description
_Over the course of using promo banners several created modals have been less utilized and we want to test these modals to ensure they are still functional and relevant to promo offering as a step to migrate promo banners to CMS Drupal_

## Front end tasks
- Test all promo modals with the exception of "announcement promos"

## Acceptance Criteria
- [x] Provide an analysis on f

[2021-09-15 21:22] shiragoodman commented on #25770
thanks @pjhill  - yes, that's right... however the other label (that's not as necessary right now as it will be in the future) is `staging`. When we apply the new process to Midpoint review, the `staging` and `midpoint` labels will be very important.

[2021-09-15 21:27] annaswims commented on #29024
I made a report of all PIF errors so we can pass them on to be resolved.

[2021-09-15 21:28] shiragoodman commented on #28082
ugh I'm sorry.. I feel like my comments are never-ending. Can we edit,

"When you’re ready to schedule your recommended Collaboration Cycle touchpoints, review the guidelines outlined in each of the touchpoint documents to prepare. Then go to the Platform Collaboration Meetings Calendar under Resources to find a time for the review."

to

"When you’re ready to schedule your recommended Collaborati

[2021-09-15 21:38] RLHecht commented on #29906
This change is now live. FYSA @MarciMcGuireGCIO @brianalloyd. Going to close the ticket.

[2021-09-15 21:38] #29906 closed

[2021-09-15 21:51] brianalloyd commented on #29906
Thanks @RLHecht for the lift on this ticket.

[2021-09-15 21:52] MarciMcGuireGCIO commented on #29906
Thank you @RLHecht and @brianalloyd !

[2021-09-15 22:08] oseasmoran73 commented on #29578
@timwright12 @ndsprinkle Depending on how #29873 and the direction that it is going in, we may not go the route of separate workflow. If that is the case, I propose the following:

Currently in GHA, for manual deploy the options to enter `time to deploy` (default to 5). See screenshot below.

![image](https://user-images.githubusercontent.com/10648480/133515917-933ea056-9d22-49c5-a838-c4877678f515

[2021-09-15 22:13] shanemelliott opened #30001 "VEText Support Feature: Find by phone"
SQL to find a Veteran(s) by cell phone:

SELECT p.PAtientNAme, p.patientSSN, p.sta3n FROM cdwwork.SPatient.SPatientPhone ph
join cdwwork.spatient.SPatient p on p.patientSID=ph.patientSID
WHERE REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(PhoneNumber, '+', ''), '(', ''), ')', ''), '-', ''), ' ', '') = 'xx' --and p.sta3n = 528

select * from cdwwork.dim.sta3n where Sta3nName like '%alask%'

use ovac_Vete

[2021-09-15 22:39] callen2563 commented on #28920
Initial home screen mock that incorporates a search bar, filter by date and time, type etc, includes optional image and reoccurring dates and times:

![OBH-mobile](https://user-images.githubusercontent.com/68560244/133518975-4d872e1d-61b1-45f5-bee3-673e40dae384.png)

[2021-09-15 23:55] EdwardBoehme05 commented on #28541
Tomah VA Mobile Clinic:
-excluded from operating status page
-disabled in the menu

[2021-09-16 04:21] bethpottsVADEPO commented on #29622
@rlyons89 Here's some content feedback for How to apply / Application instructions / Applicant Information screens. I'd like to revisit some of the content in the rest of the screens before staging review, so I'll be in touch to figure out the timing of that. But I believe these are the screens that will have the most edits from me--especially the intro screen. (I did click through the others, and

[2021-09-16 12:10] pjhill commented on #25770
Cool, easy peasy -- for reference, I added another where clause to the query:
[code]

[2021-09-16 12:23] dneel-bah commented on #20107
No emails were received today, and I have confirmed that I no longer have GIDS access after OCTO has confirmed removal of accounts.  Closing this issue as completed.

[2021-09-16 12:23] #20107 closed

[2021-09-16 12:29] dneel-bah commented on #26964
All attached issues have been closed.  Closing this epic as completed.

[2021-09-16 12:29] #26964 closed

[2021-09-16 12:50] shiragoodman commented on #25770
thanks! We may have to edit the query later on when we want to start tracking issues that are created at Midpoint and still are valid at Staging, or issues that are created at Midpoint then resolved by Staging, etc. This should be sufficient for now tho - thanks again!

[2021-09-16 13:20] td-usds opened #30002 "[Platform Arch WG]: login.gov Cognito Architecture"
### Topic

Cognito Architecture

### Summary

- [login.gov cognito - Login.gov Architecture.pdf](https://github.com/department-of-veterans-affairs/va.gov-team/files/7177996/login.gov.cognito.-.Login.gov.Architecture.pdf)
- [login.gov cognito - SSO Final Phase.pdf](https://github.com/department-of-veterans-affairs/va.gov-team/files/7177997/login.gov.cognito.-.SSO.Final.Phase.pdf)

### Status

Draft

[2021-09-16 13:26] pjhill opened #30003 "Quality Assurance Feedback - Staging Review - eBenefits - Dependent Verification"
## VFS acceptance criteria
- [ ] Let Platform know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
- The implemented button order appears to be different from the prototype.
As implemented:
![image](https://user-images.githubusercontent.com/52456633/133616973-ec0a29b4-edd6-43f5-b

[2021-09-16 13:27] kjduensing commented on #29579
Questions:
- Is stationNo something that should be considered 'read.basic'?
- Does CHIP need to re-up the options when putting to LoROTA?
  - Resend options as they are?
  - Recalculate valid start/end times?

TODOS:
- [ ] ask FE to send appointmentIEN
- [ ] collab with Carl/FE team to choose response structure
- [ ] collab with Carl/FE team on if this is a full replace
- [ ] Getting patientDFN re

[2021-09-16 13:31] aryeh-usds opened #30004 "Request access to Google Analytics and/or Domo"
# Request Google Analytics and/or Domo access

## What this form is for
Use this template to request access to Google Analytics and/or Domo. Please complete steps 1 & 2 below.

## 1. Access Requirements
Please check the analytics tool(s) you need access to:
- [x] Google Analytics
- [ ] Domo
- [ ] (Platform Teams only) BigQuery

## 2. User Email Address to Receive Access
**Due to privacy concerns,

[2021-09-16 13:34] vhenry07 opened #30005 "Business intake form for Claims & Appeals Team"
## Veronica Henry / Dror Matalon

## Benefits and Memorials

## What is the business outcome you are trying to achieve? (required 1-2 sentences)
We would like an automated alert to notify a Veteran if their disability claim submission has failed and provide instructions for how to resolve.

## What is an overview of the notification use case? (required 3-5 sentences)
Today, when a Veteran submits

[2021-09-16 13:34] bsmartin-ep commented on #30004
Access has been granted.  Closing.

[2021-09-16 13:34] #30004 closed

[2021-09-16 13:35] aryeh-usds commented on #30004
@bsmartin-ep Fastest grant in the west. Thanks.

[2021-09-16 13:41] jennaouellet commented on #28938
@laurensimpson14 I think it looks great! I have no adjustments/ further suggestions but I did notice the link ' All items of checklist have been executed'  under Acceptance Crtieria 404s

[2021-09-16 14:01] AGarcia-Clarity opened #30006 "Add basic auth to the TUD site"
## Issue Description
To prevent unauthorized use as we start piloting the Test User Dashboard a recommendation was made to lock down the site.  Basic auth is the simplest form to lock down the site in a quick manner.

---
## Tasks
- [x] Create a htaccess/htpasswd file for TUD
- [x] Ensure credentials are hashed

## Acceptance Criteria
- [x] When visiting TUD, I need to sign in with Basic Auth to v

[2021-09-16 14:08] cgreim commented on #29926
@LEHigley @KevinMHoffmanUSDS @LizCallaghan Hi all! Checking in - do you need additional information to approve Meko's slack access? @leanna-usds is our Product Owner if needed. Thanks!

[2021-09-16 14:20] AGarcia-Clarity opened #30007 "Remove moment dependency in sso utilities"
## Issue Description
Currently the `utilities/sso` file uses the moment library to work with JavaScript dates.  Since the use is very limited (difference between 2 dates for session timeouts) we should remove the dependency and create a utility function to parse the dates.

---
## Tasks
- [x] Ensure there are no other JS date parser utils in vets-website
- [ ] Create a utility file for parsing bet

[2021-09-16 14:25] AGarcia-Clarity opened #30008 "Upgrade to va-alert web components"
## Issue Description
The Design System team has isssue a notice of the AlertBox becoming deprecated.  To ensure there is no lapse in functionality and user experience for the user we want to replace the AlertBox with the `<va-alert />` web component.

---
## Tasks
- [x] Replace AlertBox with the va-alert web components
- [x] Remove AlertBox imports
- [x] Ensure unit tests are updated accordingly

[2021-09-16 14:29] LindaLi123 opened #30009 "Debt letters - Sentry issues"
## High Level User Story/ies
All sentry related work and improvement

## Hypothesis or Bet
**If** _we make this change_ **then** _we expect this to happen_.

## OKR
_Which Objective / Key Result does this epic push forward?_

## Definition of done
### What must be true in order for you to consider this epic complete?

*Take into consideration Accessibility/QA needs as well as Product, Technical, a

[2021-09-16 14:30] vhenry07 commented on #29008
Can we determine if there is a record of this veteran initiating a claim/ITF on 3/20/20. I’ve been told that the veteran’s claims were submitted via va.gov so you may be able to provide assistance. Thank you.

[2021-09-16 14:34] julieadair1 opened #30010 "test"
test

[2021-09-16 14:36] AGarcia-Clarity commented on #29714
E2E Tests are failing because of the current implementation.  By removing the ssoeInbound feature flag in (VSP Identity) teams code, the SingleSignOnModal is popping up in the E2E tests because mocked users have the `session: { ssoe: true }` in their JSON.

I reached out to Testing Tools team to figure out how we want to handle this and gave them 2 options ([original thread here](https://dsva.slac

[2021-09-16 14:41] denisecoveyduc opened #30011 "Record Research Study Observations"
##  Description
Assist researcher by taking note and sharing observations during user research session for design concepts.

## Background
[Research Epic](https://github.com/department-of-veterans-affairs/va.gov-team/issues/26815)

## Acceptance Criteria
- [x] Attend user research sessions and record observation/ take notes
- [x] Attend debrief discussions to process observations and discuss with

[2021-09-16 15:07] mnorthuis commented on #29811
duplicate of 29815, closing

[2021-09-16 15:07] #29811 closed

[2021-09-16 15:18] RudyOnRails opened #30012 "[UNPLANNED] Implement refactor suggestions from Eric"
- [ ] Make Handle BDN Downtime refactor, bring DownTimeChecker logic into middleware
    - [ ] https://github.com/department-of-veterans-affairs/vets-api/pull/7910#discussion_r709379403
    - [ ] https://github.com/department-of-veterans-affairs/vets-api/pull/7910#discussion_r709380746
    - [ ] https://github.com/department-of-veterans-affairs/vets-api/pull/7910#discussion_r709379825

[2021-09-16 15:28] shiragoodman opened #30013 "[Assistive tech and device support] Pages require sensory characteristics to be understood or operable. (11.11.1)"
### General Information

#### VFS team name
eBenefits

#### VFS product name
Dependency Verification

#### Point of Contact/Reviewers
Josh Kim (Accessibility)

---

### Platform Issue
Pages require sensory characteristics to be understood or operable.

### Issue Details
No alternative is provided to screen reader users to inform them that the first `h2` on the page is an alert as the "!" icon is s

[2021-09-16 15:28] shiragoodman opened #30014 "[Markup and meta data] Page title tag isn't unique and/or meaningful. (09.04.1)"
### General Information

#### VFS team name
eBenefits

#### VFS product name
Dependency Verification

#### Point of Contact/Reviewers
Angela Fowler (Accessibility)

---

### Platform Issue
Page title tag isn't unique and/or meaningful.

### Issue Details
Page titles should indicate the purpose of the page.

### Link, screenshot or steps to recreate

### VA.gov Experience Standard
[Category Number

[2021-09-16 15:28] shiragoodman opened #30015 "[Markup and meta data] HTML markup isn't valid. (09.01.3)"
### General Information

#### VFS team name
eBenefits

#### VFS product name
Dependency Verification

#### Point of Contact/Reviewers
Josh Kim (Accessibility)

---

### Platform Issue
HTML markup isn't valid.

### Issue Details
Introduction paragraph in the modal should not be nested in a `<header>` element. This causes screen readers to announce the paragraph as a "banner" region which is undesir

[2021-09-16 15:28] shiragoodman opened #30016 "[Markup and meta data] HTML markup isn't valid. (09.01.2)"
### General Information

#### VFS team name
eBenefits

#### VFS product name
Dependency Verification

#### Point of Contact/Reviewers
Josh Kim (Accessibility)

---

### Platform Issue
HTML markup isn't valid.

### Issue Details
Add or remove a dependent on your VA disability benefits confirmation page should have a second review to clean up design and code to meet VA design system standards.

###

[2021-09-16 15:28] shiragoodman opened #30017 "[Markup and meta data] HTML markup isn't valid. (09.01.1)"
### General Information

#### VFS team name
eBenefits

#### VFS product name
Dependency Verification

#### Point of Contact/Reviewers
Josh Kim (Accessibility)

---

### Platform Issue
HTML markup isn't valid.

### Issue Details
List of dependents can be improved to be more usable to screen reader users

### Link, screenshot or steps to recreate

### VA.gov Experience Standard
[Category Number 09,

[2021-09-16 15:28] shiragoodman opened #30018 "[Link and button labels] Button and link language isn't descriptive and/or their purpose isn't clear. (08.03.1)"
### General Information

#### VFS team name
eBenefits

#### VFS product name
Dependency Verification

#### Point of Contact/Reviewers
Ryan Thurlwell (OCTO Design Lead)

---

### Platform Issue
Button and link language isn't descriptive and/or their purpose isn't clear.

### Issue Details
The button Verfiy this is correct makes it seem like the user will have another step after they click the butto

[2021-09-16 15:28] shiragoodman opened #30019 "[Link and button labels] Your content doesn't use correct and consistent labels across links, entry points, navigation components, and H1s. (08.02.1)"
### General Information

#### VFS team name
eBenefits

#### VFS product name
Dependency Verification

#### Point of Contact/Reviewers
Ryan Thurlwell (OCTO Design Lead)

---

### Platform Issue
Your content doesn't use correct and consistent labels across links, entry points, navigation components, and H1s.

### Issue Details
The are 2 different buttons for adding and removing dependents. The modal

[2021-09-16 15:28] shiragoodman opened #30020 "[Content styleguide] Content doesn’t align with style guidance in VA.gov content style guide. (05.08.1)"
### General Information

#### VFS team name
eBenefits

#### VFS product name
Dependency Verification

#### Point of Contact/Reviewers
Peggy Gannon (Content)

---

### Platform Issue
Content doesn’t align with style guidance in VA.gov content style guide.

### Issue Details
H1 should sentence-cased

### Link, screenshot or steps to recreate

### VA.gov Experience Standard
[Category Number 05, Issue

[2021-09-16 15:28] shiragoodman opened #30021 "[Content styleguide] The content has spelling, punctuation, or typo errors. (05.02.1)"
### General Information

#### VFS team name
eBenefits

#### VFS product name
Dependency Verification

#### Point of Contact/Reviewers
Peggy Gannon (Content)

---

### Platform Issue
The content has spelling, punctuation, or typo errors.

### Issue Details
Typo in alert

### Link, screenshot or steps to recreate

### VA.gov Experience Standard
[Category Number 05, Issue Number 02](https://depo-plat

[2021-09-16 15:28] shiragoodman opened #30022 "[Components and pattern standards] Design components and patterns in use are outdated. (04.08.1)"
### General Information

#### VFS team name
eBenefits

#### VFS product name
Dependency Verification

#### Point of Contact/Reviewers
Allison Christman (Design)

---

### Platform Issue
Design components and patterns in use are outdated.

### Issue Details
Add or remove dependent is a green button which is no longer being used

### Link, screenshot or steps to recreate

### VA.gov Experience Stand

[2021-09-16 15:28] shiragoodman opened #30023 "[Components and pattern standards] Design components or patterns don't align with Design System guidelines. (04.07.1)"
### General Information

#### VFS team name
eBenefits

#### VFS product name
Dependency Verification

#### Point of Contact/Reviewers
Angela Fowler (Accessibility)

---

### Platform Issue
Design components or patterns don't align with Design System guidelines.

### Issue Details
Form elements should be labeled according to the data required.

### Link, screenshot or steps to recreate

### VA.gov

[2021-09-16 15:28] shiragoodman opened #30024 "[Content organization] Your page doesn't follow heading hierarchy. Headings aren't properly nested, and headings and/or labels aren't relevant to the page. (02.04.3)"
### General Information

#### VFS team name
eBenefits

#### VFS product name
Dependency Verification

#### Point of Contact/Reviewers
Josh Kim (Accessibility)

---

### Platform Issue
Your page doesn't follow heading hierarchy. Headings aren't properly nested, and headings and/or labels aren't relevant to the page.

### Issue Details
Add or remove a dependent on your VA disability benefits confirm

[2021-09-16 15:28] shiragoodman opened #30025 "[Content organization] Your page doesn't follow heading hierarchy. Headings aren't properly nested, and headings and/or labels aren't relevant to the page. (02.04.2)"
### General Information

#### VFS team name
eBenefits

#### VFS product name
Dependency Verification

#### Point of Contact/Reviewers
Josh Kim (Accessibility)

---

### Platform Issue
Your page doesn't follow heading hierarchy. Headings aren't properly nested, and headings and/or labels aren't relevant to the page.

### Issue Details
Headings should be logically ordered

### Link, screenshot or st

[2021-09-16 15:28] shiragoodman opened #30026 "[Content organization] Your page doesn't follow heading hierarchy. Headings aren't properly nested, and headings and/or labels aren't relevant to the page. (02.04.1)"
### General Information

#### VFS team name
eBenefits

#### VFS product name
Dependency Verification

#### Point of Contact/Reviewers
Angela Fowler (Accessibility)
Josh Kim (Accessibility)

---

### Platform Issue
Your page doesn't follow heading hierarchy. Headings aren't properly nested, and headings and/or labels aren't relevant to the page.

### Issue Details
Currently, the modal has the follo

[2021-09-16 15:28] shiragoodman opened #30027 "[Overall user experience] Your feature doesn't focus users on the primary task. (01.02.2)"
### General Information

#### VFS team name
eBenefits

#### VFS product name
Dependency Verification

#### Point of Contact/Reviewers
Ryan Thurlwell (OCTO Design Lead)

---

### Platform Issue
Your feature doesn't focus users on the primary task.

### Issue Details
The primary button is Change dependents.

### Link, screenshot or steps to recreate

### VA.gov Experience Standard
[Category Number 0

[2021-09-16 15:29] shiragoodman opened #30028 "[Overall user experience] Your feature doesn't focus users on the primary task. (01.02.1)"
### General Information

#### VFS team name
eBenefits

#### VFS product name
Dependency Verification

#### Point of Contact/Reviewers
Allison Christman (Design)

---

### Platform Issue
Your feature doesn't focus users on the primary task.

### Issue Details
On the modal, after a user clicks change depenedent, the modal closes and then they have to click add/remove dependent. Then it routes them t

[2021-09-16 15:29] shiragoodman opened #30029 "508-defect-2 [FOCUS]: Focus should be sent to the `h1` upon closing the modal"
### General Information

#### VFS team name
eBenefits

#### VFS product name
Dependency Verification

#### Point of Contact/Reviewers
Josh Kim (Accessibility)

---

### Platform Issue
No VA.gov Experience Standard for the issue found.

### Issue Details
Upon closing the modal, focus should not be sent to the skip to content link or breadcrumb.

### Link, screenshot or steps to recreate

<img width

[2021-09-16 15:29] annaswims opened #30030 "Improved error/warning messaging for CST appeals"
When https://api.va.gov/v0/appeals responds with 404 we should present a better error message.
The 404 response means the veteran was not found in caseflow, meaning that we did not find any appeals for the veteran. It's not that the system is having trouble and it's unlikely to change in the next hour.

![Screenshot from 2021-09-16 07-51-59](https://user-images.githubusercontent.com/19188/13364036

[2021-09-16 15:37] rebeccawalsh opened #30031 "[Debt Portal] Business and content review for status card redesigns"
## Issue Description
We consolidated designs for the status cards in debt portal to mimic the cards created for MCP - we also incorporated payment plan information into these new cards. We need to introduce these new designs to VBA/DMC and hand them off for fact check then content review.

---
## Tasks
- [x] Send concepts to Jill and Co. for review

## Acceptance Criteria
- [x] Review kicked off w

[2021-09-16 15:40] lianilychee commented on #29954
9/16 Thurs:
- we are good to go (unless we get feedback)
- do we want to do a video of how to embed the macro?
  - decision: no for now, till ppl ask
- draft message to socialize
- eliminate redundancy from [training framework](https://vfs.atlassian.net/wiki/spaces/AP/pages/1802993669/Platform+training+framework+draft?atlOrigin=eyJpIjoiZjJjNjk0MGFmNzgxNDkyYjhkN2U5NmMxMWEyOTA2NzUiLCJwIjoiYyJ9), cro

[2021-09-16 15:43] lianilychee commented on #29955
9/16 Thurs:
- Will schedule something with the PMs
  - Weds IA session worked, maybe it will still work?

[2021-09-16 15:46] lianilychee commented on #29957
9/16 Thurs:
- Begin rounding up ppl's feedback
- tmr morning goal: Have had feedback compiled in audit spreadsheet
  - stretch goal: Have had ALL feedback compiled

[2021-09-16 15:51] Mottie opened #30032 "526: Contact info prefill"
## Description

Since the contact info page was moved from near the end of the flow to the beginning, the prefill has stopped working. The phone, email and address is all empty in redux. Looking at the prefill data from the API, the data is there, it's not being added to the form.

## Tasks

- [ ] Discover why the form is dropping the API data
- [ ] Fix contact info prefill
- [ ] Add tests

## Def

[2021-09-16 15:56] rebeccawalsh opened #30033 "[MCP] Create standard 404 error messaging content and design"
## Issue Description
We need to create a 404 alert for MCP to show when something has gone wrong.

---
## Tasks
- [x] Create the content and design then upload to UXPin

## Acceptance Criteria
- [x] New 404 message uploaded to UXPin and linked in this ticket

[2021-09-16 15:56] miabecker commented on #30005
Hi @vhenry07 welcome to our VANotify intake! Your ticket looks great and the use case totally makes sense. When you are ready can your share your content and we can help a bit with that as well as get you into staging. Looking forward to working together!

[2021-09-16 15:59] #29630 closed

[2021-09-16 15:59] jhouse-solvd commented on #29630
This looks good. Please see linked doc.

Closing.

[2021-09-16 16:02] rebeccawalsh opened #30034 "[MCP] Create scheduled downtime messaging"
## Issue Description
We need to create a downtime alert for scheduled maintenance of the MCP tool

---
## Tasks
- [ ] Create the content and design then upload to UXPin

## Acceptance Criteria
- [ ] New alert uploaded to UXPin and linked in this ticket