[2020-06-23 14:11] DanielleThierryUSDSVA commented on #10435
Re: subsistence allowance rates page: Intention was to rewrite/redirect this, but we had open questions for SMEs first. These questions were communicated to SMEs not long before contract transition, so likely got paused/lost in transition period.

@bethpotts Let's sync on this with @mnorthuis before bringing back to SMEs.

[Careers - voc rehab - legacy content rewriting](https://app.zenhub.com/fil

[2020-06-23 14:12] delli-gatti-michael commented on #10474
Tested by the following testrail test case
https://dsvavsp.testrail.io/index.php?/cases/view/736

[2020-06-23 14:18] camerontesterman opened #10548 "Add Debt Letter History Endpoint"
## Issue Description
A new endpoint has been provided by the DMC team to return the debt letter history. A method to access this will need to be added to the debts service, a method within the debts controller will also need to be added.

## Tasks
- [ ]

## Acceptance Criteria
- [ ] A new route will be added allowing veterans to view their debt history for a particular debt.

[2020-06-23 14:54] sporeboy commented on #9979
Low-fi wireframe flow added... https://xd.adobe.com/view/879cf230-f3ce-4204-79ba-c3453b0bcc09-f1ad/screen/28f5d3f7-c2c1-49c0-bfa1-3791dba4dd7e/CH31-CH36-Wizard-Screen-Flow-1

[2020-06-23 14:57] ncksllvn commented on #10277
Working with DevOps on this, https://dsva.slack.com/archives/CBU0KDSB1/p1592839630199700

[2020-06-23 14:58] sonntag-adam commented on #9790
![Screen Shot 2020-06-23 at 10.58.22 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/96188d2b-1f47-4e38-ac21-6b6dd651dc13)

[2020-06-23 15:01] dneel-bah opened #10549 "STEM: Pre-fill 10203 chapter fields"
As an authenticated user, I need the 10203 form to pre-fill application information that I have previously provided to VA.gov so that I have to spend less time completing the form.

## Assumptions:
1. This work is done behind feature flag #7271.
2. The applicant is authenticated and pre-fill data is that available on authenticated users profile.
3. The Chapter 3 pre-fill data is retrieved using th

[2020-06-23 15:03] sonntag-adam commented on #9790
![Screen Shot 2020-06-23 at 11.03.45 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/b2418b7d-179c-4303-8621-29681a55b8de)

[2020-06-23 15:05] sonntag-adam commented on #9790
https://dsvavsp.testrail.io/index.php?/runs/view/496&group_by=cases:section_id&group_order=asc&group_id=51

[2020-06-23 15:13] delli-gatti-michael commented on #10474
@department-of-veterans-affairs/uxbah This is in staging and ready for review

#### Test (Fake) Data
- SOUTHERN UTAH UNIVERSITY
  - https://staging.va.gov/gi-bill-comparison-tool/profile/11000144
- BIG BEND COMMUNITY COLLEGE
  - https://staging.va.gov/gi-bill-comparison-tool/profile/14802147

#### Real Data
- AMERICAN INTERCONTINENTAL UNIVERSITY-ATLANTA
  - https://staging.va.gov/gi-bill-compariso

[2020-06-23 15:14] stephorkandatx opened #10550 "Dev Task: Complete Questions from Developer Experience Team at VA"
We had a meeting on June 12, to answer a series of questions from the Developer Experience Team at the VA.

There were some questions that we did not answer, as we ran out of time.

They have asked that we answer these questions and send the answers back.

**Tasks**
- [ ] Fill out the questions below
- [ ] Send to Tim Akampa, either by Slack or by email (akampati@thoughtworks.com)

- Where do you

[2020-06-23 15:18] zurbergram commented on #8914
https://github.com/department-of-veterans-affairs/devops/pull/7154 appears to have fixed the issue in https://staging.va.gov/gids/

[2020-06-23 15:20] zurbergram commented on #8914
http://va.gov/gids/ is working as well

[2020-06-23 15:32] jenstrickland commented on #9133
I find this happens on occasion. Also sometimes when I load the intro page, the sign-in block doesn't load and I have to refresh.

[2020-06-23 15:35] stephorkandatx commented on #5589
@ncksllvn I'm pulling this into the current sprint. We plan to do the redirects this Thursday

[2020-06-23 15:39] sonntag-adam opened #10551 "STEM: Staging 10203 form not loading"
Steps to reproduce:

1. Navigate to https://staging.va.gov/education/apply-for-education-benefits/application/10203/applicant/information
2. Infinite spinner/doesn’t load

dev notes: this is due to schema issues

[2020-06-23 15:40] #10049 closed

[2020-06-23 15:43] #10551 closed

[2020-06-23 15:49] wdrougas-tista opened #10552 "Access for Will Drougas"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Add a comment @department-of-veterans-affairs/vsp-operations to ping the operations team
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please

[2020-06-23 15:52] lenaecb commented on #9852
@rtwell @lalexanderson-dsva - It looks like the desired implementation for this has changed from only having this prompt show in flow to now having a prompt both on the Appointment list homepage and in app.

I want to make sure that's our new intention.

Also, @lalexanderson-dsva do we want the 'update your address' blue button to open which of the following links in a new tab:
- https://www.va.go

[2020-06-23 15:54] sonntag-adam commented on #8914
This is working now. Was able to reset without error.

[2020-06-23 15:54] #8914 closed

[2020-06-23 15:54] MickinSahni opened #10553 "Agile CoE metrics (May 23, 2020 – June 19, 2020)"
The VA Agile CoE looks for particular delivery metrics:

Lead Time (LT)
- From time an item (story) is created on a product team backlog to the time it is resolved
Defect Lead Time (DLT)
- From time a defect is created on a product team backlog to the time it is resolved

The CoE is requesting these data points for 1 month: May 23, 2020 – June 19, 2020

- [x] gather these metrics
- [x] ship off to

[2020-06-23 15:57] peggygannon commented on #10328
@toddstanich ok, thank you. I'm going to be working on this today.

[2020-06-23 15:58] jenstrickland commented on #3448
Validated. 🎉

[2020-06-23 15:58] #3448 closed

[2020-06-23 16:03] andaleliz commented on #10270
I've updated the research plan and taken it about as far as I can without the prototype. I'd love to review with the team once we have the prototype ready, and before we submit for approval.

Some specific questions we'll need to address, and I'd like input on:

- Have I sufficiently captured the project background?
- Review of research questions. I added `Where would the most useful place be to p

[2020-06-23 16:03] jenstrickland commented on #4255
Validated. 🎉

[2020-06-23 16:03] #4255 closed

[2020-06-23 16:07] batemapf opened #10554 "Add www. to SMS response URL w/o increasing number of message segments"
As a user connected to the VA network, I need to be able to access the screener but cannot because of VA's unconventional use of the `va.gov` internal DNS entry, so I can quickly complete an entry screening.

[2020-06-23 16:08] jenstrickland commented on #4210
Validated. 🎉

[2020-06-23 16:08] #4210 closed

[2020-06-23 16:08] peggygannon commented on #10040
Hi, @kevinstachura ok, thank you for the further clarifications. I will take a look at the additional screenshots/ content you provided above.

Thank you also for the additional user feedback on this accordion  'what happens if I miss a phone call?'  I will offer up some recommendations to make it sounds less harsh, but you should run any updated content by the VA/BDD stakeholder to make sure the

[2020-06-23 16:13] kevinstachura commented on #10040
Thanks so much @peggygannon! And we will certainly follow up with the stakeholder to understand what the process of rescheduling would look like.

[2020-06-23 16:15] #10536 closed

[2020-06-23 16:16] peggygannon commented on #9852
@lenaecb I will take a look at this today. Also, i see there is additional content/detail describing the types of care. Was this recently added to the tool?

[2020-06-23 16:17] bethpottsVADEPO commented on #8665
@jenniferlee-dsva would like to drive these next steps, so I'm adding her and removing @AnneHurley so she can turn to other work.

[2020-06-23 16:25] RLHecht commented on #8276
@lwalsh617 I've added the links to all the left navs listed above. The only one I didn't do was the "consider" one in Pension. Let me know if I should put it in there as well. FYSA @mnorthuis

[2020-06-23 16:28] AnneHurley commented on #8306
@bethpottsVADEPO  @stephorkandatx  We have a meeting with Sandy on 6/24 to go over these questions/changes. Given the note above saying other stakeholders want to get back to us 6/26 with the other URLs/pages that are affected - we can go ahead and meet with Sandy to check in on this w him. What do you think?

@jenniferlee-dsva  FYSA

[2020-06-23 16:30] AnneHurley commented on #9676
6/23 - Kelly Wante and team have approved this first spreadsheet. New tickets will cover the other DIC rates tables and Pension, which also are managed by Angie and Kelly.

[2020-06-23 16:30] ccruzgra commented on #10474
@delli-gatti-michael UX reviewed and the only discrepancy is the missing period at the end of the warning description. This should be: The FTC has reached a settlement with this school.

[2020-06-23 16:30] jenstrickland commented on #8974
Validated. 🎉

[2020-06-23 16:30] #8974 closed

[2020-06-23 16:36] tskinn commented on #10552
@wdrougas-tista did you close this ticket because you do not need access?

[2020-06-23 16:36] zurbergram commented on #10474
https://github.com/department-of-veterans-affairs/gibct-data-service/pull/674

[2020-06-23 16:37] luke-gcio opened #10555 "[Launch] Original Claims: Prep for Security Review"
## Issue Description
One of the collab cycle items is to do a full security review.  We will likely be able to use all of the same things for BDD but we were asked/recommended we go ahead and do Original Claims now.  The following items are required for the security review.

- [x] An architecture diagram, showing involved systems + data flows
I am getting information on the necessary fidelity.  So

[2020-06-23 16:37] stephorkandatx commented on #9385
Re-opening as a new Epic, to house @AnneHurley's work.

Anne to update the description as needed.

[2020-06-23 16:37] sonntag-adam commented on #10353
![Screen Shot 2020-06-23 at 12.30.14 PM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/f2653182-1049-4d31-94b5-3bf3c780a550)
##
![Screen Shot 2020-06-23 at 12.30.33 PM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/b5b847e8-7774-4554-bd3d-30aae398635e)
##
![Screen Shot 2020-06-23 at 12.30.43 PM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8

[2020-06-23 16:40] bmcgrady-ep commented on #10536
Leslie was able to get the metrics needed.
https://dsva.slack.com/archives/G0162Q9Q8UU/p1592922816003400

Here is the Google Analytics report: https://analytics.google.com/analytics/web/template?uid=XRr5mQjAQWeMNmFOTMOUpQ

[2020-06-23 16:40] drorva opened #10556 "Change the Drupal GraphQL to provide metadata to the CMS Transfomer"
# Overview

The CMS transformer transformer pipeline transforms the Drupal content into static HTML files. To be able to automate the process, we need metadata about the structure of the different bundles: content types, paragraph types, etc.

# Details
We need to have GraphQL queries that provide the following:
* List of bundles to export
* For each bundle provide the meta data of the bundle
* Fo

[2020-06-23 16:43] #9676 closed

[2020-06-23 16:46] jenniferlee-dsva commented on #10125
@stephorkandatx @ncksllvn @clantosswett - Updated ticket with 1 more location where IRIS link needs to be removed. It's a global utility nav, so requires FE engineering to update I believe... but not 100.

[2020-06-23 16:51] wdrougas-tista commented on #10552
@tskinn Yes apologies, I have received the access I need

[2020-06-23 16:52] sporeboy commented on #9979
Basic static screens are built: https://xd.adobe.com/view/17b9e3b9-abb2-4c17-6619-adcc54353687-6188/

[2020-06-23 16:53] mshea0606 commented on #7561
https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/identity-personalization/profile/Combine%20Profile%20and%20Account/Call%20Center

[2020-06-23 16:53] sonntag-adam commented on #9875
https://github.com/department-of-veterans-affairs/vets-website/pull/13237

[2020-06-23 16:55] #10311 closed

[2020-06-23 16:58] annaswims commented on #10524
Sentry issue: http://sentry.vfs.va.gov/vets-gov/platform-api-production/issues/31727/
success rate: http://grafana.vfs.va.gov/d/000000062/mvi?orgId=1&from=now-24h&to=now

[2020-06-23 16:59] ncksllvn commented on #10277
@DanielleThierryUSDSVA fixed!

[2020-06-23 17:03] mmiddaugh opened #10557 "Facility Locator to accept 'type' param for community care"
## Issue Description
Implement changes to Facility Locator front end to accept 'type' param for community care from v1 ccp controller. This is necessary to support the urgent care mashup.

response will include 2 types
- 'type': 'cc_provider' -> 'type': 'provider'
- 'type': 'cc_pharmacy' -> 'type': 'pharmacy'
- 'type': 'cc_urgent_care' -> 'type': 'urgent_care'
---
## Tasks
- [ ] Ensure front end c

[2020-06-23 17:05] tskinn commented on #10552
Sorry I'm still confused. I added your ssh key to the socks proxy so you could access things like sentry. Do you no longer need that access?

[2020-06-23 17:14] Mottie commented on #9799
BDD e2e tests have been merged, but are all currently disabled until BDD is in production (the tests only run locally & in production). We're still missing some unit tests, but they can be done quickly.

[2020-06-23 17:14] #9799 closed

[2020-06-23 17:16] kelsonic commented on #10027
Is this ready for me to send up a PR yet? 🙂 CC @lunascoop @mnorthuis

[2020-06-23 17:21] annaswims commented on #10479
[this conversation](https://dsva.slack.com/archives/C8R3JS8BU/p1586795125022600) makes me think that the error "Error calling external service to establish the claim during Submit" is not BDD -related.

[2020-06-23 17:22] lenaecb commented on #10520
@rtwell - I agree. I would have the copy/link outside of the actual form.

@lalexanderson-dsva - can you concur?

[2020-06-23 17:30] wdrougas-tista commented on #10552
I will need that access. Sorry for the confusion, the initial reason why I submitted this request was to be able to log in to Sentry on my GFE. I was provided that login information from Tista but having access through socks proxy will be helpful as well. Again, apologies for the confusion and thank you for the assistance

[2020-06-23 17:31] Samara-Strauss commented on #9181
Thanks for the review @MickinSahni! I'm going to go through the spreadsheet and clean things up. Since I was only thinking about KRs last time, I'll take a pass at refining objectives and picking final KRs next. Should be able to get to that tomorrow.

[2020-06-23 17:37] ala-yna opened #10558 "Research plan for 10-10CG"

[2020-06-23 17:38] tskinn commented on #10552
No worries. Thanks for clarification!

[2020-06-23 17:40] DanielleThierryUSDSVA commented on #10285
@RLHecht Widget is on and published now, right? Moving to validate, but feel free to move back if it's not published yet.

[2020-06-23 17:44] ala-yna opened #10559 "Accessibility Audit of 10-10CG PDF Attachment"
Given that we want the PDF to be 508 compliant
I want to audit the current implementation
So that we can make a plan to ensure accessibility.

[2020-06-23 17:46] DanielleThierryUSDSVA commented on #10277
Thanks so much, @ncksllvn!

[2020-06-23 17:47] luke-gcio commented on #10297
Added #10555

[2020-06-23 17:49] kevinmirc commented on #10559
**Example 10-10CG Submissions as PDF**

Blank PDF: https://github.com/department-of-veterans-affairs/vets-api/blob/master/lib/pdf_fill/forms/pdfs/10-10CG.pdf

Filled in PDF (simple example): https://github.com/department-of-veterans-affairs/vets-api/blob/master/spec/fixtures/pdf_fill/10-10CG/simple.pdf

Filled in PDF (kitchen sink example): https://github.com/department-of-veterans-affairs/vets-ap

[2020-06-23 17:50] lwalsh617 commented on #8276
@RLHecht @mnorthuis -- I'm not sure about the pension top nav question. I don't have anything in my SME notes about that item. Mikki, how did they respond to that in the IA review?
All "musts" are done on my end. Need to circle back with Mikki and Jen on two things:
1. Confirm language for claim status tool links
2. Adding "What happens after I apply" sections. @mnorthuis I started looking at this

[2020-06-23 17:53] ala-yna commented on #10559
Hello @jenstrickland! As a part of our desire to make sure our work is entirely accessible, we wanted to get your thoughts on our current PDF implementation, and your recommendations for making it the best it can be. I'm not sure if there's a formal Collab Cycle route for this, but here's the ticket, with the current implementation details in the above comments. Thanks for your help!

[2020-06-23 18:18] jenniferlee-dsva commented on #5653
@swirtSJW - Thank you for the walk through and AX validation. Once the items we noted during the walk through have been updated, we can mark this as done. The items are:

1/ Form administration dropdown choices: Add "Veterans Affairs"; remove "DEPO"

2/ Add ability to add an in-body alert component (unique or reusable). This component should be allowed above the `When to use this` form custom fiel

[2020-06-23 18:22] DanielleThierryUSDSVA commented on #10317
**Update:** Peggy and I connected on this today. Option 2 is our top recommendation, as it keeps the header brief and more personalized, but brings in the "you're registered at:" language that's key for connecting Veterans to the idea of where they're registered.

In the eligibility info on the page mockups, we reference being registered at a "VA health facility." In the alert mockups, we referenc

[2020-06-23 18:32] ncksllvn commented on #10282
PR is open -

## Unauthenticated state
![image.png](https://images.zenhubusercontent.com/59cb9de1b0222d5de47953d8/e649d67e-4dac-4b9a-8eb1-f0838e032dac)

## Auth state
![image.png](https://images.zenhubusercontent.com/59cb9de1b0222d5de47953d8/4a6ecfe7-c6d9-440f-97e3-61d4fa5d3ea8)

[2020-06-23 18:33] ncksllvn commented on #10282
A thing to note is that the button text under Auth State is proper case instead of sentence case. I think this is shared behavior for all call-to-action prompts after login. We can change this if we want to although I'd prefer to do that separately.

[2020-06-23 18:40] #9979 closed

[2020-06-23 18:45] KevinMHoffmanUSDS commented on #2858
A thought -  how might we frame this as a service we provide?

[2020-06-23 18:56] DanielleThierryUSDSVA opened #10560 "Compile list of potential debt management FAQs"
## Issue Description
We need to compile a list of potential FAQs to include on the tool landing page and/or in the authenticated experience.

---
## Tasks
- [x] Review pages on debt management site
- [x] Put together a list of potential FAQs we may want to include in the unauthenticated and/or authenticated content

## Documentation and files

**Pages to review for content:**
- https://www.va.gov/

[2020-06-23 18:59] jenniferlee-dsva commented on #7491
This work can begin any time. @RLHecht - let's find 30 mins to sync on a call.

[2020-06-23 19:07] jenniferlee-dsva opened #10561 "Not top forms: Add custom form content fields into Drupal for form detail landing pages"
## Not top forms: Add custom form content fields into Drupal for form detail landing pages

This ticket is related to VA form detail landing pages, per this [epic #5590 ](https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/5590)

**Acceptance critera:**

- [x] Add the custom "Related to" and "Online tool" field values (if any specified)

[2020-06-23 19:07] DanielleThierryUSDSVA commented on #10315
# Notes from 6.23.20 meeting

**Attendees:**
@lunascoop, @DanielleThierryUSDSVA, @peggygannon, @mnorthuis, @bethpotts

**Discussion:**
- We'll have a standard tool landing page that will drive to the authenticated experience.
- We're not aiming to consolidate the full Debt Management site into our benefit hubs.
- Landing page will likely like at the root level or within Records. Mikki to determine

[2020-06-23 19:10] AnneHurley commented on #9270
[Rough draft of edits to top of page in Drupal as of June 23](https://app.zenhub.com/files/133843125/ef799cd0-02e6-41ee-9bee-d43b43ccb189/download)
@bethpottsVADEPO  and @RLHecht  FYSA

Have also emailed this doc, and Raleigh's original word doc, above, to Beth.

[2020-06-23 19:13] jbalboni commented on #10056
Based on the couple PRs I've written and @narin's comments about Cypress, I think option 3 is the better option. Cypress isn't wildly more efficient to write tests in than Nightwatch, so while it's hopefully more stable and readable, it's not clear that widely expanding our usage is a good idea.

Enzyme tests using `mount` are very likely to keep us in a position where most of our tests break afte

[2020-06-23 19:20] swirtSJW commented on #5653
Created ticket for 1, 3, and 4 here
https://github.com/department-of-veterans-affairs/va.gov-cms/issues/2108

2 is already tracking here https://github.com/department-of-veterans-affairs/va.gov-team/issues/9189

[2020-06-23 19:21] jenniferlee-dsva commented on #7491
I separated out the content entries for the 400~ non-top forms, so these can be validated in chunks. And also, in case we need to launch with only the top forms (due to Drupal nodes/memory issue).  FYSA @RLHecht

[2020-06-23 19:21] andaleliz commented on #10432
Started [draft of conversation guide](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/content/tier-2-content-IA-and-design/learning-center-mvp/discovery-and-research/conversation-guide.md)

[2020-06-23 19:25] ncksllvn commented on #10232
### Facility Locator
![image.png](https://images.zenhubusercontent.com/59cb9de1b0222d5de47953d8/f31d6aa8-bf49-4d3c-9221-e1a9091cd1da)

### GIBCT
![image.png](https://images.zenhubusercontent.com/59cb9de1b0222d5de47953d8/608ebd0a-bd8a-44be-bc11-8f2b7febe8be)

![image.png](https://images.zenhubusercontent.com/59cb9de1b0222d5de47953d8/52f7ad34-2544-4665-95eb-d7708eb161c7)

![image.png](https://images

[2020-06-23 19:29] LindseySaari opened #10563 "Misc namespacing updates"
## Issue Description
The concerns within the common/client/concerns directory need to be namespaced within the ::Concerns namespace in to be in compliance with autoloading and namespacing for Zeitwerk

The MDOT ServiceException needs to be namespaced within the MDOT::Exceptions::ServiceException namespace in order to be compliant with autoloading for Zeitwerk

---
## Tasks
- [x] Add the ::Concern

[2020-06-23 19:34] ncksllvn commented on #10232
### /My-VA

![image.png](https://images.zenhubusercontent.com/59cb9de1b0222d5de47953d8/51e3bef6-4e3f-40cf-9c1a-a0d85b38fc15)

[2020-06-23 19:34] jbalboni opened #10564 "Write integration tests for past appointments"
Write integration tests for past appointments tab logic: https://dsvavsp.testrail.io/index.php?/suites/view/21&group_by=cases:section_id&group_id=114&group_order=asc

These tests should use RTL and following the existing integration test patterns.

[2020-06-23 19:35] ncksllvn commented on #10232
### View Payment History

![image.png](https://images.zenhubusercontent.com/59cb9de1b0222d5de47953d8/d4933e34-810b-466b-81dc-16c655e3b079)

[2020-06-23 19:36] jbalboni opened #10565 "Write integration tests for appointment list"
Write integration tests for past appointments tab logic: https://dsvavsp.testrail.io/index.php?/suites/view/21&group_by=cases:section_id&group_id=109&group_order=asc (Appointment list and Upcoming appointments and requests sections)

These tests should use RTL and following the existing integration test patterns.

[2020-06-23 19:41] mr0sari0 commented on #9850
@rileyorr The PR for this has been created. Here is a screenshot of how it looks.

![screenshot-localhost_3001-2020 06 23-15_19_44](https://user-images.githubusercontent.com/12755283/85451549-04348b00-b568-11ea-8bf3-cd71f8233b76.png)

[2020-06-23 19:51] ncksllvn commented on #10232
### Claims
I can't find a user to use for `/track-claims` but this screenshot is what we're looking at -

https://github.com/department-of-veterans-affairs/vets.gov-team/blob/master/Products/Global/Claim%20Status/Screenshots/Claims%20List%20-%20Has%20Claims.png

I'm semi-guessing, but I think the title of one of those cards could contain `vocational rehabilitation and employment`, like `Claim for

[2020-06-23 19:55] psanders86 commented on #10220
Here is the final product guide, including a screenshot to the landing page when the application button is activated.

[https://app.zenhub.com/files/133843125/0f027b26-f455-4dea-8c60-8f605a28c784/download](https://app.zenhub.com/files/133843125/0f027b26-f455-4dea-8c60-8f605a28c784/download)

[2020-06-23 20:06] tressaellen opened #10566 "[FE] LOA1 screen breadcrumb update"
## Background

If we have the original [Home > Your profile > Account security], it doesn't make sense to have the Your profile be clickable since a user can't go to the Personal and contact information page or anywhere else in the profile.  We need to change the breadcrumbs on this page to be [Home > Your profile - Account security].

![Screen Shot 2020-06-23 at 11.00.13 AM.png](https://images.ze

[2020-06-23 20:07] JenLJ commented on #10474
@delli-gatti-michael UX has reviewed and this looks good!

[2020-06-23 20:24] mnorthuis commented on #8276
Its more of a question for content experts, if Pension is a top decision review/appeal request (like Disability), then I would recommend adding it.  If Pension only represents 10% of all appeals, then it may not be worth it.

[2020-06-23 20:25] bmcgrady-ep commented on #9975
Hi @Yuffster-usds ,

As @jonwehausen noted above, we can provide you Google Analytics access as soon as you provide us your VA.gov email and associate your active VA.gov email as a Google account.

Let us know when that is done and we will provide you access.

[2020-06-23 20:26] zurbergram commented on #10474
@dneel-bah This is production environment

[2020-06-23 20:26] #10474 closed

[2020-06-23 20:34] DanielleThierryUSDSVA commented on #10327
Thank you, @RLHecht! I've accepted your edits and made one additional edit.

@stephorkandatx This is now clean and ready for a content writer to implement.  We should save in **draft** until profile 2.0 launches.

[connected.third.party.apps.faqs.final.6.23.20](https://app.zenhub.com/files/133843125/703d4fab-26e0-4341-b93e-b6398c45f978/download)

[2020-06-23 20:44] ccruzgra commented on #10492
https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/education-careers/school-comparison-tool/school-ratings/research/session-notes

[2020-06-23 20:48] bethpottsVADEPO commented on #8362
@RLHecht Please see if you can figure out the anchor links so everything's functional on this page. Thanks!

[2020-06-23 20:56] RLHecht commented on #8362
@bethpotts These anchor links should all be working now.

[2020-06-23 21:00] djmunoz1 opened #10567 "Adding VA API Team Members to DSVA Slack"
Please add the following new API team members to DSVA Slack. We are expecting a number of new additions over the next few weeks and will try to batch requests where we can.

Brent Schneider - UX Designer  brent.schneider@adhocteam.us
Darcy Duda - UX Writer darcy.duda@adhocteam.us
Andrew Suprenant - PM  andrew.suprenant@adhocteam.us

Thank you!

[2020-06-23 21:00] bkjohnson opened #10568 "Document the public assets S3 bucketand the regular deployment bucket"
## Issue Description

For each environment in `vets-website`, we deploy to two S3 buckets.  One is designated an "assets" bucket, and the other just seems to be a catch-all bucket which currently contains the output of both the content and the application builds.

In addition to the S3 bucket that holds the build outputs of the content and the webpack builds, we also have another bucket which hold

[2020-06-23 21:07] jbalboni opened #10569 "Write integration tests for pending appointments"
Write integration tests for requests on appointment list: https://dsvavsp.testrail.io/index.php?/suites/view/21&group_by=cases:section_id&group_id=112&group_order=asc

These tests should use RTL and following the existing integration test patterns.

[2020-06-23 21:09] jbalboni opened #10570 "Write appointment cancellation integration tests"
Write integration tests for requests on appointment list: https://dsvavsp.testrail.io/index.php?/suites/view/21&group_by=cases:section_id&group_id=113&group_order=asc

These tests should use RTL and following the existing integration test patterns.

[2020-06-23 21:11] RLHecht commented on #10284
@DanielleThierryUSDSVA Redirect and new URL are both working if you want to let stakeholders know and then close ticket!

[2020-06-23 21:13] RLHecht commented on #10285
Widget is on the live page. Closing ticket. FYSA @stephorkandatx @DanielleThierryUSDSVA

[2020-06-23 21:13] #10285 closed

[2020-06-23 21:30] peggygannon commented on #9852
@lenaecb @rtwell
Hello, please see recommended content for this message. Per Jeff's comment above, it looks like users can have a military and/or PO box address in the residential address field. As such, the content I recommend makes it clear that we need a physical address.

**You need to have a physical address on file to use some of the tool's features**
You can update your address in your VA p

[2020-06-23 21:32] erikphansen opened #10571 "Profile blows up when formatting addresses with `stateCode === null`"
Profile v1 crashes when trying to format an address with a null stateCode.

same `GET user` response that crashes profile:
[code]
and the console error:
[code]

[2020-06-23 21:33] jason-gcio opened #10572 "Platform Contributions"
## Background
This team should capture any work that is done to enhance the program forward by contributions to the platform or other teams.

[2020-06-23 22:17] wyattwalter opened #10573 "remove database scan access configuration"
## Description

Earlier this year we had some confusion about whether the regular VA database scans were required or not. We ended up going through the exercise of setting up access, getting a scan done (with results) and then getting told that the scan wasn't supposed to happen because all the controls it checks for are covered by the FedRAMP certification and VA approval for using RDS.

The docu

[2020-06-23 22:30] DanielleThierryUSDSVA commented on #7234
Hi @lunascoop. Updates to follow-up items tracked and highlighted in blue. Let me know if you have any questions, or if you need any support in finalizing the Drupal pages. When all changes are in, could you please ask @RLHecht to do a final proof? Thanks!

[[Order hearing aid batteries and accessories_dt2_6.23.20](https://app.zenhub.com/files/133843125/e3e8784d-2e47-46f9-9ffa-a9e875d7d594/downloa

[2020-06-23 22:30] AnneHurley commented on #8306
@bethpottsVADEPO  - the page has all of Danielle's suggested edits in it now as well as the other updates from this week.
http://preview-prod.vfs.va.gov/preview?nodeId=720

[2020-06-23 23:36] peggygannon opened #10575 "Content audit: In-app downtime notifications"
## User story
review all downtime messages for authenticated tools/app. remove custom messages.

## Acceptance criteria
- [x] Peggy review/audit current messaging for all in-app/form downtime notifications captured here:
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsp/teams/tools/frontend/downtime-notification-discovery.md
- [x] Peggy to recommend standardized m

[2020-06-24 00:55] erikphansen opened #10576 "Form System `select`s often have additional `")}"` cruft after the options"
![Screen Shot 2020-06-23 at 5.48.40 PM.png](https://images.zenhubusercontent.com/5b4d0309a8d8be5bda39303e/6f28e5f6-9b68-4dc8-9a17-1aab8f68dc65)

Often, but not always, the `select` elements that get rendered to the DOM have a stray `")}"` after all the child `option`s.

This doesn't affect the month and date selects on http://localhost:3001/health-care/apply/application/veteran-information/birth-i

[2020-06-24 00:56] erikphansen commented on #10576
Tagging @Clark-W-Griswold for awareness.

[2020-06-24 01:11] DanielleThierryUSDSVA commented on #10207
This issue is complete. Closing. FYSA @stephorkandatx

[2020-06-24 01:11] #10207 closed

[2020-06-24 01:20] tlei123 opened #10577 "[Bug] Facility Locator - "Sticky" error message after correcting search input"
## What happened?
On Staging [**Find VA Locations**](https://staging.va.gov/find-locations/) page, after an invalid search, the error-message persisted even for a subsequently valid search, and required a page-refresh to return location results on the results-list.

## Specs:
- Browser-/device-agnostic
- Unauthenticated-experience

## Steps to Reproduce
1. Go to https://staging.va.gov/find-locatio

[2020-06-24 03:30] bethpottsVADEPO commented on #10232
@ncksllvn Thanks for ushering through these edits!

[2020-06-24 06:43] drorva commented on #10417
@cvalarida
I generated the following schema from the export of the [a google sheet](https://docs.google.com/spreadsheets/d/1vL8rqLqcEVfESnJJK_GWQ7nf3BPe4SSevYYblisBTOI/edit#gid=943298572).

* Both bundles and fields have a bunch of info that we don't need. I figured it won't hurt for now, but we can later clean that up.
* I didn't test this too much, so while I think it's correct, I won't guarante

[2020-06-24 07:09] Clark-W-Griswold commented on #10114
Updates to component structure:
 - new components have grouped imports which leverage aliases (makes for easy refactoring and shuffling of logic).
 - where possible, components are now functional components.
 - removed depreciated lifecycle methods on refactored components and upgraded to hooks.
 - added selectors to help with selecting data from store.

Component specific updates:
RoutedSavableRe

[2020-06-24 10:59] sonntag-adam commented on #9790
@department-of-veterans-affairs/uxbah This is in staging and ready for review

[2020-06-24 11:02] sonntag-adam commented on #9991
[10353](https://github.com/department-of-veterans-affairs/va.gov-team/issues/10353)

[2020-06-24 12:13] desireeturner commented on #3536
@KevinMHoffmanUSDS @1Copenut This work has been completed as part of our initiative to update the "Estimate your benefits" section of the Comparison Tool. These changes went live on 6/16 on Production. Please let us know if you need anything additional to close this out. Thank you!

[2020-06-24 12:17] dneel-bah opened #10578 "EDU: Create Feature Flag for RPO Routing Update"
As a developer, I need to create a feature flag that can be used to turn on and off routing files to the St. Louis RPO so that it can be delivered to production in a timely manner.

## Assumptions:
1. Feature flag for St. Louis RPO routing will need be available in the vets-api repo.
1. The Feature Flag is configured per environment.
2. When the feature flag is:
     a. Off: Submissions are routed

[2020-06-24 12:31] bradl3yC commented on #9802
Closed - designs no longer use tabs

[2020-06-24 12:31] #9802 closed

[2020-06-24 12:32] bradl3yC opened #10579 "[Debt Letters] Frontend - Wire up to API"
Per cameron the API integration on the BE is complete - the FE needs to be connected to the vets-api to fetch debt letters

[2020-06-24 12:40] desireeturner opened #10580 "School Ratings: Pilot Test"

[2020-06-24 12:43] dneel-bah opened #10581 "EDU: Route St. Louis RPO Submissions to Buffalo RPO"
As a Buffalo RPO Team Member, I need submissions that were previously being sent to the St. Louis RPO to be routed to my RPO so that the submissions can be processed in a timely manner and there is no impact to the veterans.

## Assumptions:
1. This work is completed behind feature flag #10578 .

## Acceptance Criteria
1. Submissions from the following states are routed to the Buffalo RPO:
    - C

[2020-06-24 12:49] desireeturner commented on #10201
This issue is blocked by Update the Additional Info component to be used for Learn More expandable sections in forms #4330. Moving to the Blocked column until #4330 is resolved.

[2020-06-24 13:28] ala-yna opened #10582 "Confirm MPI/Identity Management Approach with DEPO"
On the Caregivers Privacy and Security Review on 6/24, we learned that DEPO was unsure of the current implementation to verify legitimate submission by looking for the Veteran in MPI. We need to meet with the DEPO leads (Andrew, Chris, Kevin) and ensure they're comfortable with the current approach.

We also added https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-

[2020-06-24 13:31] ala-yna opened #10583 "Identical backend error on submission"
Based on our Privacy and Security Review, we need to ensure that the same error appears regardless of why the application was rejected (Veteran status vs. CARMA error vs. ______) so ensure that no information about veteran status is communicated to the end user.

[2020-06-24 13:33] ala-yna opened #10584 "Incident Response Playbook"
Create an Incident Response Guide to prepare for the 10-10CG launch. Playbook includes: contacts/ways to get ahold of dependent systems and links to dashboards for "where would you look if someone told you the form was broken?"

Specific suggestions: monitoring (a) success/failure rate of overall submissions, and (b) success/failure rate of calls to each backend (esp. CARMA)

[2020-06-24 13:34] johnpaulashenfelter commented on #7305
Temporarily handled by https://github.com/department-of-veterans-affairs/vets-api/pull/4439

[2020-06-24 13:41] johnpaulashenfelter opened #10585 "Review and resolve "pending" specs in vets-api"
There are a handful of pending specs in the vets-api test suite that have been pending for quite some time. They should either be removed, fixed, or replaced.

The current list of pending specs:

[code]

[2020-06-24 13:46] ala-yna opened #10586 "Background application processing for 10-10CG"
How might we update the processing of the application so that the user doesn't see as long of a response time?

Possible alternative Workflow
[code]

[2020-06-24 13:46] johnpaulashenfelter commented on #10585
I believe we need to determine the owner of each of these (eg #7 is Lance Sanchez, 5 and 6 are VAOS, etc) and allocate them. If there's no owner, that's on us.

[2020-06-24 13:48] ala-yna opened #10587 "Can we allow users to print their application? (Caregivers)"
@ccgongie - Can you reach out to the privacy/security stakeholders on the Caregiver program side and ensure that there are no privacy concerns around printing the application (including all PII) as submitted?

Additionally, is the goal to:
Allow user to print a copy of the submitted information *or*
Allow user to print a pre-filled PDF if the submission did not go through?

Is there a preference t

[2020-06-24 13:49] ala-yna opened #10588 "Design - allow user to print their application"

[2020-06-24 13:51] jbalboni opened #10589 "Convert VA facilities page tests to integration tests"
Make sure to cover any logic mentioned in TestRail as well as existing logic covered in current unit tests.

https://dsvavsp.testrail.io/index.php?/suites/view/21&group_by=cases:section_id&group_id=117&group_order=asc.

AC:
- [ ] Tests primarily written as integration tests (preferably in react-testing-library)
- [ ] Tests following [testing guidance doc](https://github.com/department-of-veterans-

[2020-06-24 13:51] ala-yna opened #10590 "Front-end: Allow user to print their application"

[2020-06-24 13:52] DanielleThierryUSDSVA commented on #10231
@jenniferlee-dsva Just adding note based on your slack that feedback came in - Curt doesn't want pre-written banner. We'll meet on next steps soon.

[2020-06-24 14:03] lenaecb commented on #10092
At this point, based on our conversations, it sounds like we need to move this back to 'backlog' at a minimum.

can you confirm @saneshark ?

[2020-06-24 14:04] jonwehausen commented on #9991
Thank you @sonntag-adam we will QA as soon as we can!

[2020-06-24 14:07] lenaecb commented on #10088
@saneshark - this is currently being discussed throughout the VAOS suite team (not just VAOSR on VA.gov).

Are you taking lead on this? I want to make sure we scope this appropriately so it doesn't hang around as a 'to do.'

[2020-06-24 14:08] lenaecb commented on #10089
Same as #10088 - are you taking lead on this? If so, can we get this a bit more scoped so it's something we can complete (at least first iteration) in this coming sprint?

[2020-06-24 14:15] sonntag-adam commented on #9790
Moving back to in progress. The following needs to be updated.

AC 5
The following questions are displayed in Chapter 1.
a. Your first name
b. Your middle name
c. Your last name

[2020-06-24 14:19] swirtSJW commented on #10556
I think this looks good.    We anticipate handling this with GraphQl to deliver the data, and then write that toto a file that would be included in the tar of the content export.   By doing it this way we make the data available for real time things like Lighthouse and and front end content builds via the content export.

[2020-06-24 14:25] lenaecb commented on #10086
@saneshark - i want to try and knock out some of these high priority prod error handling tasks in this sprint. Given what was discussed with the VAOS team, is this something we want to tackle sooner than later?

[2020-06-24 14:26] lenaecb commented on #10082
@saneshark - I think this one can wait for now. We should add this to our recommendation for a shared process as an action item, but it doesn't seem like an action item for our team.

[2020-06-24 14:29] DanielleThierryUSDSVA opened #10591 "Travel pay page: Updates requested by SMEs"
## Issue Description
We've received a request from the Beneficiary Travel team to update how to file a claim information based on process updates.

---
## Tasks
- [x] Review provided document (Danielle)
- [x] Incorporate updates into page and edit for plain language/structure (Danielle)
- [x] Sync with Mikki on structure of page (Danielle)
- [x] Send to Jeff Grandon for OK/feedback
- [x] Copy edit

[2020-06-24 14:37] jenniferlee-dsva opened #10592 "Create a landing page for IRIS redirects and implement redirects"
## Create a landing page for IRIS redirects and implement redirects

### Problem Statement
tbd Beth, Danielle

---

~~1/ Implement redirects for IRIS URLs - **[iris.custhelp.va.gov](iris.custhelp.va.gov)** AND **https://gibill.custhelp.va.gov**  @ncksllvn / @kelsonic / @lunascoop~~ (Update 6/24: these redirects cannot be set up client-side because the legacy pages do not have the injection script.

[2020-06-24 14:37] ncksllvn commented on #5589
PR to launch redirects - https://github.com/department-of-veterans-affairs/devops/pull/6819
PR to update footer - https://github.com/department-of-veterans-affairs/vets-website/pull/13250

[2020-06-24 14:39] mr0sari0 commented on #10075
Hey @rebeccawalsh , I'm having trouble viewing your link for empty states for when a Veteran is not eligible to order within their categories. [Is this the correct mockup](https://vsateams.invisionapp.com/share/6MVTG94WNH5#/screens/421066123) for that case? Also what is supposed to happen when you click on add batteries/accessories to your order?

[2020-06-24 14:39] jenniferlee-dsva commented on #10125
Please also see new related[ ticket 10592 ](https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/10592)

[2020-06-24 14:41] jbalboni opened #10593 "Convert clinic choice page and wait time alert tests to RTL"
We want to rewrite our Enzyme based tests with tests in RTL that do not test implementation details

General guidelines:

- Don't test component implementation details (class names, DOM structure, etc), favor checking for something a user would look for
- There are some exceptions to this, like if we want to verify that the correct icon is used, which can only be checked by class
- Try to mock as

[2020-06-24 14:42] jbalboni opened #10594 "Write integration tests for community care appointments on appointment list"
Write integration tests for community care appointments on appointment list: https://dsvavsp.testrail.io/index.php?/suites/view/21&group_by=cases:section_id&group_id=112&group_order=asc

These tests should use RTL and following the existing integration test patterns.

[2020-06-24 14:48] ncksllvn commented on #10592
The redirect piece will be easy but just fysa that they'll be client-side redirects through the inject script, like we do on benefits.va.gov

[2020-06-24 14:49] rebeccawalsh commented on #10075
@mr0sari0 Yes. And to be clear, a user should never see both of those 'You can't add ____ to your order due to ineligibility' messages at the same time, they're just together to illustrate both messages.

[2020-06-24 14:52] jenniferlee-dsva commented on #10592
I figured that as well, thx @ncksllvn for confirming.

- Does that mean that any IRIS links that live on legacy pages without our modern header won't get redirected here?
- What about people who have bookmarked  `iris.custhelp.va.gov` or `https://gibill.custhelp.va.gov` - those folks _would_ be redirected, correct?

[2020-06-24 14:55] stephorkandatx commented on #10125
For the global utility nav, I'll get this reviewed today to determine the support we need for the update

[2020-06-24 15:02] mr0sari0 commented on #10075
@rebeccawalsh Got it!  And about the links to adding the product? Will that be similar to the edit button where it displays all of the products?

[2020-06-24 15:02] delli-gatti-michael commented on #10199
local testing complete

[2020-06-24 15:12] clantosswett commented on #10592
Because IRIS will still be usable internally to respond to inquiries until July 1, we might want to add a disclaimer notifying users they will receive a response to their previously submitted inquiry by July 1. Once we reach July 1, we can probably remove that information. Here's a suggestion for that language:

[2020-06-24 15:15] digitaldrk commented on #9792
Code is complete on the gem and requested review yesterday. Waiting for response.

[2020-06-24 15:18] jenniferlee-dsva commented on #10125
Note - I didn't see the footer link identified above, so just added it as one of the places that also need to have IRIS link removed.

- [ ] Remove "Ask a question" IRIS link in global footer <-- added 6/24

@stephorkandatx @ncksllvn @clantosswett

[2020-06-24 15:22] lenaecb opened #10595 "Discovery - Review filtering logic for Facilities"
We know that we have a high % of dropoff in the user funnel on the Facilities page.

We have also received some feedback from users indicating they are not seeing "their facilities/clinics" or that their "facilities/clinics are incorrect." We know that when they say 'clinic' they are not talking about direct schedule clinics because that feature is not currently available.

There is UX testing to

[2020-06-24 15:27] gmaciolek commented on #9010
Goal for this week is to move the content from the draft into GitHub. Trevor will review it when he is back in the office next week. Doc will be published next week. We will also deprecate a few docs that this updated doc replaces.

[2020-06-24 15:27] mnorthuis commented on #10592
@clantosswett Do teams use the web interface of IRIS, or do they have an internal interface for responses?  Want to make sure that redirecting doesn't impact internal teams' ability to access inquiries and respond.

@DanielleThierryUSDSVA @bethpottsVADEPO when you are ready, let's discuss where this new landing page will live.

@stephorkandatx can you please submit a redirect request for the appro

[2020-06-24 15:30] tressaellen opened #10596 "[FE] - Profile Content Edits"
## Tasks

**Personal and Contact information**

- [x] Zip code needs to be sentence cased  (Zip code, not Zip Code)
![Screen Shot 2020-06-23 at 1.55.58 PM.png](https://images.zenhubusercontent.com/5dfa65bbbd078d1699e52294/7fd5e4e1-df80-4c9e-bc9d-5f7f7474925a)

- [x] Add period to end of this sentence:
I live on a United States military base outside of the United States.

- [x] Phone numbers should

[2020-06-24 15:31] sonntag-adam commented on #9875
![Screen Shot 2020-06-24 at 11.24.57 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/39d7153b-6016-4ade-a539-f3cd1b475179)
##
[Uploading... Screen Shot 2020-06-24 at 11.25.04 AM.png ]

[2020-06-24 15:33] jason-gcio opened #10597 "Conduct Usability Testing Prep of "View Payment History""
## Goal
Once we have laid down our bets for what we think this feature should be doing, we would like to get the latest version of what we have in front of users so that we can be sure that we are headed in the right direction.

## Considerations
- Don't forget to set a meeting with VSP

## Tasks
We will need:
- [ ] Link to product outline
- [ ] Link to or attach prototype or mockups
- [ ] Link to

[2020-06-24 15:33] sonntag-adam commented on #9875
https://dsvavsp.testrail.io/index.php?/runs/view/496&group_by=cases:section_id&group_order=asc&group_id=51

[2020-06-24 15:34] RLHecht opened #10598 "Minor text update to "VA Claim Process After You File a Claim" page"
## Issue Description
Stakeholder request to update text on After You File a Claim page. Change "a Veterans service representative" and VSR to "we" in steps 2 and 3 or subway map.

## Tasks
- [x] Check stakeholder's changes in Drupal
- [x] Publish page

## Acceptance Criteria
- [x] Stakeholder's changes showing live on site
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when

[2020-06-24 15:35] RLHecht commented on #10598
This work was done this morning. Writing ticket to track the work. FYSA @stephorkandatx

[2020-06-24 15:36] clantosswett commented on #10592
@mnorthuis internal users access IRIS using this URL: https://va-osvchelpdesk.custhelp.va.gov/app/answers/detail/a_id/42/

And just to clarify, the target date to have the redirect page set up and IRIS links removed is **Friday, 6/26, TBC by me**. Internal IRIS helpdesk users will have access to the system to answer submitted inquiries through June 30th. But we want to stop veteran/user submission

[2020-06-24 15:37] rebeccawalsh commented on #10075
@mr0sari0 Yes!

[2020-06-24 15:39] jason-gcio opened #10599 "Create a Research Plan for "View your VA payment history""
## Goal
We want to put the feature we have worked on in front of real users to ensure that we have provided an improvement over the legacy digital experience.

## Considerations
- [Previous Research Plans used](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/ebenefits/research/disabilities-dependents-usability-1119/disabilities-dependents-usability-researc

[2020-06-24 15:40] saneshark commented on #10092
Yeah, this was never going to improve latency issues but rather to help avoid stability to the platform. Based on recent conversations the probability of that seems somewhat nebulous, but I'll write something up about that decision for posterity and we can re-evaluate later if it's worth doing this.

Icebox might be more fitting.

[2020-06-24 15:41] jason-gcio opened #10600 "Create a Conversation Guide for "View your VA payment history""
## Goal
We want to create a consistent conversation guide that encompasses the guidance of approved methods and all the components for the users we will be communicating with.

## Considerations
Conversation guides are usually incorporated into Research Plans but because they are large enough, we separate them.  Both are considered deliverables.

## Task
- [x] Coordinate with Shawna on some of the

[2020-06-24 15:42] saneshark commented on #10088
In discussion yes, was waiting for conversation on 6/26 with Barrs, Case, and others before and writing something up to share after that discussion.

[2020-06-24 15:44] saneshark commented on #10086
This one is going change dramatically once the VAR Resources changes go into affect so it doesn't make sense to look at it now. We might find that no further action is necessary if the error payloads we receive are more informative.

[2020-06-24 15:45] saneshark commented on #10082
Sitting in on a conversation regarding this for 6/26

[2020-06-24 15:52] joanneesteban commented on #8023
Putting IA KPIs in backlog until that team is ready to set KPIs.

[2020-06-24 15:53] jason-gcio opened #10601 "Pre-Launch Text Changes for 686"
## Goal
Before launch, there might be some late text changes that need to be implemented coming from internal findings, recommendations from research, and Peggy's feedback.

## Unknowns
- Extent of recommendation
- Peggy's feedback

## Tasks
- [x] Address any text changes we have
- [x] Triage recommended changes from research
- [ ] Sync with Peggy and get her feedback

## Acceptance Criteria
- [x]

[2020-06-24 15:55] joanneesteban commented on #7560
Adding the `blocked` label until we receive test users for staging.

[2020-06-24 15:56] joanneesteban commented on #6830
Adding the `blocked` label until we receive test users for staging.

[2020-06-24 15:57] #8579 closed

[2020-06-24 15:59] joanneesteban commented on #9025
@Kimberley2019 to follow up on Slack with @joanneesteban & @clantosswett for closing this ticket.

Thoughts: we can probably pause on this issue until we receive more case studies on actual contact center data usage to improve services and contact center issues to go with our asks.

[2020-06-24 16:00] joanneesteban commented on #7157
GA Guides were completed - will continue to iterate based off of new customer feedback.

[2020-06-24 16:00] #7157 closed

[2020-06-24 16:03] ncksllvn commented on #10592
Update per Slack thread - neither of these IRIS pages include the inject script and they are not on www.va.gov, so we don't have the ability to redirect them. The team that manages IRIS will have to set up the redirect

[2020-06-24 16:03] clantosswett commented on #10362
Created an outline of the places where we would want to add VA 311 messaging. Identified the sign in modal and the profile as the starting place for phase 1 messaging. Still haven't heard back from the VEO group if they are okay with this.

[VA 311 Messaging Roll Out.xlsx](https://github.com/department-of-veterans-affairs/va.gov-team/files/4826575/VA.311.Messaging.Roll.Out.xlsx)

[2020-06-24 16:04] joanneesteban commented on #9622
Data has been added to the Chatboot KPI dashboard. Will close once the dashboard has been shared.

[2020-06-24 16:06] joanneesteban commented on #9611
Implementation completed & added to the KPI dashboard. Closing this issue.

[2020-06-24 16:06] #9611 closed

[2020-06-24 16:07] joanneesteban commented on #10425
Data sent on 6/18. Closing this issue.

[2020-06-24 16:07] #10425 closed

[2020-06-24 16:08] clantosswett commented on #10592
That all makes sense. Maybe a silly question, but can we still create the redirect page that the IRIS team will redirect to?

[2020-06-24 16:12] mr0sari0 commented on #10075
@rebeccawalsh Is the redundancy needed for a certain reason?

[2020-06-24 16:13] joanneesteban commented on #8081
@ala-yna - is this on the queue for Caregivers? We're ready to implementation when you're ready!

[2020-06-24 16:14] joanneesteban commented on #5977
Synthesis was done^ and added pain points/recommendations to Q3 planning. Closing this ticket.

[2020-06-24 16:14] #5977 closed

[2020-06-24 16:14] joanneesteban commented on #8555
New process in Mural board. Closing this issue.

[2020-06-24 16:14] #8555 closed

[2020-06-24 16:14] abuckley3385 commented on #10222
Unknown Stakeholders to interview until we get feedback from Veterans on what they need the product scope to be.

[2020-06-24 16:16] joanneesteban commented on #7118
No major changes should occur on a consistent basis. Any additional changes can be opened in a new issue. Closing this ticket.

[2020-06-24 16:16] #7118 closed

[2020-06-24 16:16] ala-yna commented on #8081
Yes! A little backlogged at the moment. The ticket we're using to track is: https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/7849 :)

[2020-06-24 16:17] stephorkandatx commented on #10240
@kelsonic and @DanielleThierryUSDSVA : I have added links (staging, production) c+p from a Cerner email. Kelson, please review & share questions you have with Danielle. We can hop on a call as well if that is faster. We will need to get questions over to the right people quickly.

[2020-06-24 16:19] jason-gcio opened #10602 "Implement Feedback from Design on Wizard Mockup"
## Goal
We want to take feedback from the design community on how best to present the wizard for eligibility.

## Tasks
- [x] Implement feedback obtained into mockups before prototypes.

## Acceptance Criteria
- [x] Feedback implemented
- [x] Mockups shared for additional feedback

[2020-06-24 16:20] leahkeeler opened #10603 "[Backend] Create test users/use case scenarios for DMC data"
## Issue Description
_Create test users with applicable use use scenarios for veterans who have debt and do not have debt (paid off)

---
## Tasks
- [ ] _Identify all applicable use cases for user testing
- [ ] _provide  data to DLC with assocaited test user accounts

## Acceptance Criteria
- [ ] _This is an input for FE qa _
---
## How to configure this issue
- [ ] **Attached to a Milestone** (wh

[2020-06-24 16:20] jenniferlee-dsva commented on #5653
Referencing one more item here for visibility - a new ticket - on CMS board for Steve: https://github.com/department-of-veterans-affairs/va.gov-cms/issues/2119

[2020-06-24 16:22] joanneesteban commented on #8549
Covid Dashboard "redesigned" Sprint 28. Closing this issue.

[2020-06-24 16:22] #8549 closed

[2020-06-24 16:23] joanneesteban commented on #6958
@Kimberley2019  - is this body of work still open?

[2020-06-24 16:24] joanneesteban commented on #5628
ForeSee pushed to prod last month. Closing this issue!

[2020-06-24 16:24] #5628 closed

[2020-06-24 16:24] #7472 closed

[2020-06-24 16:25] #9663 closed

[2020-06-24 16:26] joanneesteban commented on #10022
Filing structure determined. Moving onto changing the structure in Domo. Closing.

[2020-06-24 16:26] #10022 closed

[2020-06-24 16:27] joanneesteban commented on #3825
@luke-gcio - do you have an update on the launch for this? Thanks!

[2020-06-24 16:28] joanneesteban commented on #5972
SSOe moving to VSP Identity. May have KPI setting workshop with them.

[2020-06-24 16:28] jenniferlee-dsva commented on #10592
Replying to @clantosswett
...can we still create the redirect page that the IRIS team will redirect to?

Yes. Could you confirm with the IRIS team that they will/can implement the server side redirect? If they cannot do that for whatever reason, creating a redirect landing page won't be useful.

Once they confirm, we can give them the new URL of the redirect page and work on publishing the page.

[2020-06-24 16:29] #8551 closed

[2020-06-24 16:29] joanneesteban commented on #8551
Work is being done on #686. Closing this ticket.

[2020-06-24 16:29] #8021 closed

[2020-06-24 16:29] rileyorr commented on #9850
@mr0sari0 Thanks for providing a screenshot! The DLC's API is currently working (which is a good thing!) so I can't view this in staging. Some feedback I have based on the screenshot:

- Padding between header "We're sorry. Something went wrong on our end" and paragraph "You can't place an order for hearing aid batteries and accessories because something went wrong on our end" should be 16px
- Pad

[2020-06-24 16:31] mmiddaugh opened #10604 "Connect review instances with vets-api/ppms"
## Issue Description
We need the review instances to be connected to vets-api/PPMS so we can use them for QA.

---
## Tasks
- [ ] Connect Facility Locator review instances with vets-api/PPMS (staging)

## Acceptance Criteria
- [ ] PPMS staging data is available in review instances and is consistent with Swagger

---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this b

[2020-06-24 16:31] kelsonic commented on #10317
Thank you @DanielleThierryUSDSVA! I'm not sure who's maintaining the design but could we update it with Option 2? 🙂

Sounds great, lmk! 🚀

[2020-06-24 16:31] joanneesteban commented on #5728
@srmyers17 Iceboxing this issue. Please feel free to reach out to us if you're looking for a KPI setting workshop!

[2020-06-24 16:32] joanneesteban commented on #6758
System Status link has been added. Will update when BigQuery has Prometheus connection. Closing this ticket.

[2020-06-24 16:32] #6758 closed

[2020-06-24 16:36] andaleliz commented on #10317
@stephorkandatx Am I responsible for making content updates to the designs? I believe they were created in Figma, which is a tool I'm not familiar with (and don't have a license for), so updating these designs may be significantly more time consuming than usual. I'm not sure if there is an easy Figma > Sketch translation.

@kelsonic Do you have it coded out based on the current design spec somewhe

[2020-06-24 16:39] kelsonic commented on #10317
@andaleliz Unfortunately I don't since each page is now a widget and would have to be added via drupal, which I believe would affect all envs 🤔 but maybe someone with access to drupal could add the widgets to a dummy page to test them out!

[2020-06-24 16:39] jason-gcio opened #10605 "Develop a Few User Types to be Created for 686 Testing"
## Goal
To create new users (3) to test with, we need to establish the parameters for the personas we want to test with.  This avoids collisions with other systems.

## Considerations
- Rated Disabilities (0-10%) and (50+%)
- VA file number (yes) and (no)
- Born 1960 (before) and (after)
- Template? How do we add other important aspects to the user profile?
- Develop use cases/ presonas

| first_n

[2020-06-24 16:42] leahkeeler commented on #5952
Hey @tlei123  - Can I close this ticket out? I think everything is passing right

[2020-06-24 16:42] #9673 closed

[2020-06-24 16:44] jenniferlee-dsva opened #10606 "Create FE CMS preview: form detail landing pages"
### Create FE CMS preview: form detail landing pages

**aka Enables writers to be able to preview the form detail pages**

As a content author, I want to preview a form detail node, so I can validate that the content is rendering correctly as a page.

-----------
**Frontend content mapping specs:**
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/find-va-forms-red

[2020-06-24 16:45] lwalsh617 commented on #9306
@DanielleThierryUSDSVA -- I updated the pre-existing conditions page  Two things to note:

**1) Dividing the bulleted list of pre-existing conditions.** I considered splitting it into types of health conditions, but there don't seem to be natural categories. (You could do a category like "Auto immune conditions" but I don't think that's helpful to Veterans.) So I landed on dividing into two catego

[2020-06-24 16:45] mshea0606 commented on #7561
[Product Guide Outline](https://docs.google.com/document/d/18ohdH6QHgDNmtqshlkJYfYphqcHlo305rc-hQj-3Bc0/edit?ts=5ef355b0)

[2020-06-24 16:46] mshea0606 commented on #7561
[Product Guide](https://docs.google.com/document/d/1XNHpYOP73so_bnnEjplx_zG_ybGarGenG2V0E6-N-CA/edit)

[2020-06-24 16:48] lihanli opened #10607 "remove vet360 reference_data code from vets-api"
the va profile team is deprecating their `/referencedata/contact-information/va/zipcode5` endpoint. after talking with a frontend engineer, we realized that none of the vets-api `reference_data` endpoints are being called by the frontend. therefore i think we should remove all the old `reference_data` code from vets-api.

## Acceptance Criteria
vets360 `reference_data` code has been removed from v

[2020-06-24 16:49] luke-gcio commented on #9081
Spoke to VSP - with the understanding that BDD is part of Disability Claims, they are ok with combining this when we get to BDD.

[2020-06-24 16:53] DanielleThierryUSDSVA commented on #10317
@kelsonic @andaleliz I have access to Drupal and can help with adding widgets if needed.

[2020-06-24 16:53] SgardnerPMP opened #10608 "[Content] Research and write Intern and Fellowship Part 1 program pages for Salt Lake City Health Care [CW]"
## User Story or Problem Statement
As a Veteran Web user, I need a need a plain language description of services in VAMC system web pages, so I can quickly understand the services and service location for my needs.

## Goal
_Efficient and clear content describing primary Content Pages_

## Objectives or Key Results this is meant to further
- _Reduced word count and improved plain language._

## Re

[2020-06-24 16:54] kelsonic commented on #10254
@DanielleThierryUSDSVA

![image](https://user-images.githubusercontent.com/12773166/85598595-f8e56c00-b608-11ea-952c-68f4e957d201.png)

Just want to confirm, should we remove **What types of medical appointments can I schedule online?** section when a user is authenticated despite if they belong to a Cerner facility?

[2020-06-24 16:55] #7749 closed

[2020-06-24 16:56] SgardnerPMP opened #10609 "[Content] Research and write Intern and Fellowship program Part 2 pages for Salt Lake City Health Care [CW]"
## User Story or Problem Statement
As a Veteran Web user, I need a need a plain language description of services in VAMC system web pages, so I can quickly understand the services and service location for my needs.

## Goal
_Efficient and clear content describing primary Content Pages_

## Objectives or Key Results this is meant to further
- _Reduced word count and improved plain language._

## Re

[2020-06-24 16:57] #2401 closed

[2020-06-24 16:57] andaleliz commented on #10317
@DanielleThierryUSDSVA Good to know! I'm working on getting the source files, we should have those anyway. I may also be able to create the mockup with the existing page on staging. Stay tuned.

[2020-06-24 16:57] #5175 closed

[2020-06-24 16:57] #5142 closed

[2020-06-24 16:58] SgardnerPMP opened #10610 "[Content] Research and write Intern and Fellowship Part 3 program pages for Salt Lake City Health Care [CW]"
## User Story or Problem Statement
As a Veteran Web user, I need a need a plain language description of services in VAMC system web pages, so I can quickly understand the services and service location for my needs.

## Goal
_Efficient and clear content describing primary Content Pages_

## Objectives or Key Results this is meant to further
- _Reduced word count and improved plain language._

## Re

[2020-06-24 16:59] #4771 closed

[2020-06-24 17:00] #5143 closed

[2020-06-24 17:00] #4782 closed

[2020-06-24 17:03] andaleliz commented on #10317
@DanielleThierryUSDSVA on second thought - is that Option 2 copy final? I wasn't sure from your message yesterday whether or not you need to review with the SSO team before we move forward.  I'd like to wait to make mock-ups until we're sure of the copy.

[2020-06-24 17:08] peggygannon commented on #10328
Hello, @toddstanich Please see below recommended content for:
-- Successful 526 submission email
-- Suggested content for email template to be used across benefit applications.

One thing to note about the 526 email.
--For disability comp applications, we use "file" vs. "apply", per user research done a few years ago. So I've adjusted the first line of the 526 email to accommodates that. (Other be

[2020-06-24 17:14] DanielleThierryUSDSVA commented on #9306
Thanks, @lwalsh617!

1. I like this idea a lot! I think it would be okay to flesh out a draft for SME input and see what they say.

2. Not sure what happened there, but yes, it had said "hypertension" and I changed to "high blood pressure." Nothing else needed there.

Also, 2 FYIs for you on this work:

1. Because there are just so many priorities on my end right now, I'm going to remove sprint co

[2020-06-24 17:15] SgardnerPMP opened #10611 "[Review-CleanUp] Set up Presentation to VISN-4 PAOs and Webmasters to begin review of systems in Devshop [PM]"
## User Story or Problem Statement
As a Webmaster and PAO, I need a review and access to sites for to begin review of page format, content, and health services, so I can compare and make updates as required for my Health care system.

## Goal
_Implement required va.gov web pages_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran web user_
- _

[2020-06-24 17:16] #4551 closed

[2020-06-24 17:18] rianfowler commented on #9537
@gunsch @drorva I'm going to close this ticket. We're going to stick with using dependabot for managing our dependency upgrades. We'll continue to make this part of the[ support rotation responsibility](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsp/teams/tools/frontend/support-and-triage.md) on FE.

[2020-06-24 17:18] #9537 closed

[2020-06-24 17:20] camerontesterman opened #10612 "Create Debts API Betamocks"
## Issue Description
_What details are necessary for understanding the specific work or request tracked by this issue?_

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attac

[2020-06-24 17:21] kelsonic commented on #10254
Also, need to confirm that we want to show the **More information about your benefits** links when a user is authenticated despite if they belong to a Cerner facility:

![image](https://user-images.githubusercontent.com/12773166/85602700-dc4b3300-b60c-11ea-8541-6e366f94cdb9.png)

[2020-06-24 17:22] clantosswett commented on #10592
@jenniferlee-dsva thank you for the summary. I will confirm with the team that hosts IRIS that they can implement a server side redirect and notify the group once I have that information. I will make sure to coordinate the go live date and time with that team. My assumption is that the new page will go live during the daily deploy on Friday. If you imagine it happening at a different time, let me

[2020-06-24 17:23] kelsonic commented on #10254
![image](https://user-images.githubusercontent.com/12773166/85602794-f422b700-b60c-11ea-8e03-3bc316c4e090.png)

Sorry, last thing, but where should `[contact us online]` link to? Should that just be the normal link design, too?

[2020-06-24 17:23] dneel-bah opened #10613 "CT-Search: Update Search to find close matching schools"
As a Comparison Tool user, I need the search functionality to be smarter so that results are found when I have small typos.

## Assumptions:
1. This story is completed behind the feature flag #10615
2. The fuzzy match should leverage database capabilities.
3. This fuzzy match capability will not affect the autocomplete end point.
4. The search label currently calls out "City, School, or Employer N

[2020-06-24 17:23] #5172 closed

[2020-06-24 17:26] kelsonic commented on #10251
@DanielleThierryUSDSVA @andaleliz Do we know if this design is still up-to-date with the recent content changes for the authenticated CTA widget on this page?

![image](https://user-images.githubusercontent.com/12773166/85603244-6a271e00-b60d-11ea-9052-935b4dfc4069.png)

Also it'd be super helpful if I could know what to show based on:

1. Authenticated + belongs to 0 Cerner facilities
2. Authenti

[2020-06-24 17:32] jenstrickland commented on #8975
@mmiddaugh I'm still seeing the same styling. Is this intended? The consistent focus styling on VA.gov is that it appear around all four sides.

![Screen Shot 2020-06-24 at 1 30 53 PM](https://user-images.githubusercontent.com/57469/85604076-f55cdf80-b61e-11ea-8e5c-6fd4887f2ee3.png)

[2020-06-24 17:34] DanielleThierryUSDSVA commented on #10317
@andaleliz Great question. I confirmed with SSO team that they don't need to review. But I'm going to share with Lauren today. I'll tag you here when copy is final. Thanks!

[2020-06-24 17:34] jenstrickland commented on #8958
Validated.

[2020-06-24 17:34] #8958 closed

[2020-06-24 17:39] DanielleThierryUSDSVA commented on #10254
@kelsonic I'll look at these questions today. Also, just want to give you the heads up that I will have content changes coming to you in the next few days. All changes will be tracked/highlighted so they should be easy to see. But just want to make sure you know!

[2020-06-24 17:41] jenstrickland commented on #8961
Validated.

[2020-06-24 17:41] #8961 closed

[2020-06-24 17:51] leahkeeler opened #10614 "[Backend] Create Betamocks for DMC Debt Letters APIs"
Create Betamocks for Debt Letters debt summary and debt details APIs so testing can take place in local environment before merging to staging

[2020-06-24 17:54] #10612 closed

[2020-06-24 17:54] kelsonic commented on #10254
@DanielleThierryUSDSVA Sounds great! Thanks for keeping me updated! 🎉

[2020-06-24 17:58] DanielleThierryUSDSVA commented on #10251
@kelsonic I'm going to recommend similar changes to the alert content across all alerts. Will post final content for each as soon as I can. Will also confirm the approach to showing each state.

[2020-06-24 18:00] dneel-bah opened #10615 "CT-Search: Create Feature Flag for Search Enhancements."
As a developer, I need to create a feature flag that can be used to turn on and off the search enhancement changes so that they can be delivered to production in a timely manner.

## Assumptions:
1. Feature flag for search enhancement routing will need be available in the vets-api & vets-website repos.
1. The Feature Flag is configured per environment.
2. When the feature flag is:
     a. Off: Sea

[2020-06-24 18:02] #10056 closed

[2020-06-24 18:13] mshea0606 commented on #10542
Waiting on content from Peggy

[2020-06-24 18:17] #9337 closed

[2020-06-24 18:26] kevinmirc commented on #10586
For reference, the last staging submission was 15 seconds.

<img width="682" alt="Screen Shot 2020-06-24 at 2 24 02 PM" src="https://user-images.githubusercontent.com/7391284/85612040-7ff50d00-b626-11ea-97bf-2ae06c3b1d39.png">

[2020-06-24 18:28] rebeccawalsh commented on #10075
@mr0sari0 It's to make the path to adding products a little more obvious and it is consistent with empty states on other parts of the site, where it has a link to "Add" something.

[2020-06-24 18:28] mshea0606 commented on #9774
@erikphansen is this still an issue?

[2020-06-24 18:29] andreahewitt-odd opened #10616 "Update getting access documentation to account for changes to github access flow"
## Issue Description
Work with Ops team to nail down the process for new VFS teams/team members to get write access to the va.gov-team repo during orientation so we can guide VFS teams on how to get write access when they start.

---
## Tasks
- [ ] Work with DEPO to figure out what their new process is
- [ ]Work with OPs team to figure out how we want to use github teams for access

## Acceptance

[2020-06-24 18:29] dneel-bah opened #10617 "CT-Search: Add additional search criteria to free text search field."
As a Comparison Tool user, I would like to be able to search for schools by nickname and/or ZIP code so that I can better find schools that I am looking for.

## Assumptions:
1. This work is completed behind the feature flag #10615 .
2. These data elements are not subject to the fuzzy search.

## Acceptance Criteria
1. The 'ialias' from the IPEDSHD is searchable within the Comparison Tool.
2. The

[2020-06-24 18:31] #2270 closed

[2020-06-24 18:32] mshea0606 commented on #7287
@patrickvinograd is this still an issue?

[2020-06-24 18:33] sonntag-adam commented on #9790
https://github.com/department-of-veterans-affairs/vets-website/pull/13251

[2020-06-24 18:42] jason-gcio commented on #9744
@Kimberley2019 - just a heads up, still working on this

[2020-06-24 18:43] #9730 closed

[2020-06-24 18:43] johnpaulashenfelter commented on #10607
@lihanli we just figured out the same thing in paralell with @kfrz

[2020-06-24 18:47] mshea0606 commented on #8419
@erikphansen investigate if these widgets have access to feature flags

[2020-06-24 18:49] Kimberley2019 commented on #9744
@jason-gcio Thank you for the update.

[2020-06-24 18:56] andaleliz opened #10618 "Update authenticated mock-ups for Cerner roll out content"
Update authenticated content mock-ups reflecting new content across health pages impacted by Cerner roll out.

Acceptance Criteria
- [x] Mock-ups updated
- [x] [InVision updated](https://adhoc.invisionapp.com/share/DYVMI5OXEQN#/screens/404880626) (or new URL created)
- [x] Link shared with @kelsonic

[2020-06-24 19:01] jbalboni opened #10619 "Convert va appointment request tests to Cypress"
Tests:

- https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/applications/vaos/tests/e2e/va-appointment.e2e.spec.js
- https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/applications/vaos/tests/e2e/sleep-care.e2e.spec.js
- https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/applications/vaos/tests/e2e/eye-care.e2e.sp

[2020-06-24 19:02] jbalboni opened #10620 "Convert direct schedule and facility path tests to Cypress"
Tests:

- https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/applications/vaos/tests/e2e/direct-schedule.e2e.spec.js
- https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/applications/vaos/tests/e2e/va-single-facility.e2e.spec.js
- https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/applications/vaos/tests/e2e/va-sin

[2020-06-24 19:03] jbalboni opened #10621 "Convert CC e2e tests to Cypress"
Tests:

- https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/applications/vaos/tests/e2e/community-care.e2e.spec.js

[2020-06-24 19:04] sporeboy commented on #10602
Initial feedback implemented per conversation with PW designer, Liz Lantz. Three wizard start screen variations created. Link: https://xd.adobe.com/view/17b9e3b9-abb2-4c17-6619-adcc54353687-6188/

[2020-06-24 19:22] alexpappasoddball opened #10622 "Utility Developer Rotation - Sprint 29"
## Goal

The Backend Tools team utilizes a single resource each sprint to be the point person for a number of different things the entire team is responsible for.  This single resource will be responsible for items listed below and will have a lighter work load towards sprint objectives during the sprint in which they are assigned Utility Developer.

# Areas of Focus

## Triage Process
Monitoring

[2020-06-24 19:23] alexpappasoddball opened #10623 "Tools BE VFS Support - Sprint 29"
As you review PRs, please add this epic to the issue so the business has visibility into our time spent supporting VFS teams.

[2020-06-24 19:24] #10061 closed

[2020-06-24 19:24] #10064 closed

[2020-06-24 19:26] ncksllvn commented on #10291
Just to close the thread above, after a convo with other engineers, it seems like the best route is to hit the search.gov API directly because it's intended to be hit every keystroke, so it'll be more performant without a middleman in vets-api.

[2020-06-24 19:27] elder-joseph commented on #10578
Associated Pull Requests:

Front End: https://github.com/department-of-veterans-affairs/vets-website/pull/13255
Back End:  https://github.com/department-of-veterans-affairs/vets-api/pull/4442

[2020-06-24 19:29] AnneHurley commented on #9270
[Draft of home loan limits revise - v2 for Beth]
(https://app.zenhub.com/files/133843125/bdbeadeb-077c-453f-9558-1ad3d360317b/download)

@bethpottsVADEPO @stephorkandatx FYSA

[2020-06-24 19:30] alexpappasoddball commented on #131
Closing this super epic in favor of the new Q3 one.

[2020-06-24 19:30] #131 closed

[2020-06-24 19:36] micahchiang opened #10624 "686 Load Testing"
## Description
The 686c uses up to 4 endpoints in vets-api:
1. VA file number check
1. Save in progress (platform?)
1. Document upload (platform?)

When the 686 gets submitted it kicks off a job that handles the rest of the payload submission in the background. The question remains whether or not load testing needs to be done for this scenario.

## Considerations
- Load test research [here](https:

[2020-06-24 19:42] leahkeeler opened #10625 "[Frontend] DL-Create Debt Summary Page"
## Issue Description
_Create Debt Summary page per [design](https://preview.uxpin.com/305eb36ed6ec2e5f2bc1dd91659b70ef961ab269#/pages/129573096/simulate/sitemap?mode=i). As a veteran who is authenticated on va.gov I want to see my deb summary that contains the information I received in debt letter in the mail

---
## Tasks
- [ ] _Design page per provided designs
- [ ] _Display back end data from A

[2020-06-24 19:42] jonwehausen commented on #6510
### Update

Per @mr0sari0 and I's conversation over Slack we would like to institute tracking on the batteries / accessories check/uncheck screen prior to submission.

### Screenshot Example
![image](https://user-images.githubusercontent.com/48527022/85619915-031b6080-b631-11ea-97e9-ddb14b81fa6e.png)

### Datalayer Code
[code]

[2020-06-24 19:43] tlei123 commented on #9984
@leahkeeler @pjhill , I just finished Regression test-runs, and QA-artifact links have been updated/added in ticket description above.

NOTE: I marked a couple test-cases **Retest** due to some unexpected behavior, but haven't logged any defects for them as I'm not sure if any are warranted:
- City, State Search
- ZIP Code Search

The unexpected behaviors might well stem from certain test-case ste

[2020-06-24 19:51] leahkeeler opened #10626 "[Frontend] DL-Create Debt Details Page"
## Issue Description
_Create Debt Summary page per [design](https://preview.uxpin.com/305eb36ed6ec2e5f2bc1dd91659b70ef961ab269#/pages/129743302/simulate/sitemap?mode=i). As a veteran who is authenticated on va.gov I want to see my deb summary that contains the information I received in debt letter in the mail

---
## Tasks
- [ ] _Design page per provided designs
- [ ] _Display back end data from A

[2020-06-24 19:51] micahchiang opened #10627 "686 Remaining Punch List items"
## Description
[686 Punch List](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/ebenefits/features/view-update-dependents/research-design/text-revisions/686-punch-list-0420.md)

Some items on the punch list remain incomplete because we agreed they would be done post-launch. Since then, the launch date for the 686 has been postponed, and these things can be

[2020-06-24 19:55] mnorthuis commented on #10027
Timing is driven by the BAM2 team, @leahkeeler can you provide an update on launch plan for the new content pages?

[2020-06-24 19:59] erikphansen opened #10628 "Consider adding a `name` attribute to all our benefit applications `form` elements"
[This PR](https://github.com/department-of-veterans-affairs/vets-website/pull/13256) added support for optionally using a `SchemaForm`'s `name` prop as the rendered `<form>`'s `name` attribute. Using a name attribute on a `form` enables the element's implicit form role. From https://developer.mozilla.org/en-US/docs/Web/HTML/Element/form:

If we flipped the default value of `addNameAttribute` from

[2020-06-24 20:01] abuckley3385 commented on #10223
@mdewey #10223 issue looks like the same as #10486 should we close this on and copy contents into #10486?

[2020-06-24 20:06] #10212 closed

[2020-06-24 20:14] RLHecht commented on #10598
Changes are live. Closing ticket. FYSA @bethpotts @stephorkandatx

[2020-06-24 20:14] #10598 closed

[2020-06-24 20:23] abuckley3385 opened #10629 "Discovery Readout"
## Issue Description
Complete documentation post discovery findings

---
## Tasks
- [ ] Present End of Discovery deck to the Leads about work done, current state, potential concerns, areas for opportunity, findings, and recommendations/next steps.
- [ ] Draft Stakeholder deck and send to the Leads (customize as needed).
- [x] Conduct a discovery sprint retrospective.
- [ ] With a lead, finalize th

[2020-06-24 20:28] Samara-Strauss commented on #9181
[I've created a new tab in the spreadsheet](https://docs.google.com/spreadsheets/d/1B6c1rY-1l64cWhHO7D8WjA328zwfdAhSgKkPatIKmts/edit#gid=1242119200) — "OKRs and KPIs revised" — where I've refined everything we've been talking about. I need to confirm whether we can actually calculate some of the proposed key results, but otherwise, this is ready for review.

If this looks good, I'll move forward a

[2020-06-24 20:40] andaleliz commented on #10489
@johnhashva I just took another look at this ticket, and have a few questions.

1. I want to clarify the work that should come out of this.   I understand the goal of this ticket to be to
- evaluate which of the 2 existing patterns currently on VA.gov we should follow (or do we pave our own path)?
- evaluate whether or not we should propose our direction as a new design system component

Am I unde

[2020-06-24 20:56] bethpottsVADEPO commented on #8362
@stephorkandatx I sent the stakeholder this page today to review. Do you want to close this issue and open a new one for the stakeholder approval stage? Or edit the title of the issue to indicate the stage we're in? If the former, just bring over the info at the top of this one (Information and files for reference) into a new one.

[2020-06-24 21:07] DanielleThierryUSDSVA commented on #10254
@kelsonic

**Posting update that I just slacked you as well:**

Unauthenticated users + authenticated users who are not Cerner facility patients = unauthenticated content

Cerner facility patients = authenticated content

[2020-06-24 21:30] hinzed1127 opened #10630 "Fix redirect logic for inbound Cerner users"
Right now inbound Cerner users are effectively redirected to MyVaHealth, but a VA.gov session isn't actually established.

The goal of this work is to make sure that the redirect path from `vets-api` is guided through `va.gov/auth/login/callback`, where a va.gov session is properly established before subsequently being redirected externally.

[2020-06-24 21:48] jenstrickland commented on #9081
👍  Is this ticket a request for the full accessibility audit now?

[2020-06-24 22:08] johnhashva commented on #10291
And per my Slack message, believe the remaining sequence here as a prototype are:

- [ ] Get on staging
- [ ] Review with Design/UX (@rtwell and @andaleliz] week of 6/29 for final alignment on any styling/functional changes
- [ ] Request accessibility review

In parallel, we are working with Search.gov to resolve "quality of suggestions" issues.

[2020-06-24 22:30] tlei123 commented on #5952
Yep, closing now.

[2020-06-24 22:30] #5952 closed

[2020-06-24 23:20] U-DON opened #10631 "Include a Cypress test template in the app generator"
Once teams have gotten settled into using Cypress, the app generator should include a skeleton Cypress test.

[2020-06-24 23:35] #10411 closed

[2020-06-25 00:29] mr0sari0 commented on #10075
@rebeccawalsh The PR for this is created. Just let me know how you want to review.

[2020-06-25 01:04] mr0sari0 commented on #10375
@rebeccawalsh @rileyorr The PR for this has been created. Please let me know how you want to review.

[2020-06-25 01:06] mr0sari0 commented on #10379
Hey @rebeccawalsh, are there any mockups associated with the partially submitted orders yet?

[2020-06-25 01:09] mr0sari0 commented on #9850
@rileyorr It might be easier for you if we jumped on a call to do inspections. Let me know what time works for you.

[2020-06-25 02:35] tlei123 commented on #6949
@kevinstachura , I have Main-Flow test-case ready for you to preview:
- [Functional test case](https://dsvavsp.testrail.io/index.php?/cases/view/701)
- [Copy/Layout/Links test-case](https://dsvavsp.testrail.io/index.php?/cases/view/707)

@luke-gcio should be able to share TestRail login creds with you to access these cases. Alernatively, feel free to ping me on Slack if you prefer that I set up a

[2020-06-25 10:18] batemapf opened #10632 "Trouble tickets can be used in real time by operations team"
The MHV team utilizes changes in frequency and type of trouble tickets — calls to the help desk and issues filed with (YourIT) ServiceNow — to identify when production issues are happening. In addition to environment- and application-level telemetry, how might we use these existing trouble ticket data sources to inform the operations team of issues in near-realtime without requiring human interven

[2020-06-25 10:20] batemapf commented on #10065
Got review of trouble ticket metrics from Tom on 6/24. ~5K issues reported per week. Tom has data going back >7 years. Issues reported via two contact centers (veteran-facing) and YourIT/ServiceNow (employee-facing). Tom produces a weekly trends report that the team uses as another datapoint in determining changes in system performance / reliability and prioritization.

[2020-06-25 10:20] sonntag-adam commented on #9790
![Screen Shot 2020-06-25 at 6.20.26 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/6b6105f0-6f29-449f-ae1d-0169d927f9a0)

[2020-06-25 10:25] sonntag-adam commented on #9790
Social Security Number not showing required when it should be. Text "You aren’t required to fill in all fields, but we can review your application faster if you provide more information" has gone missing. Moving back to In Progress.

[2020-06-25 10:28] batemapf commented on #10080
All three possibilities sound promising and would be an improvement on what we've got now (not much). If you wanted to take test out the usefulness of each approach, what would you need? When cookies are set on the client side, is there a record of that event recorded on the server side?

[2020-06-25 10:38] batemapf commented on #10063
Very helpful info. Triggering an alert on `Server restarts` seems incongruous with the idea of an alert — the team should already know that a server was restarted because they are being manually restarted. Maybe this is in anticipation of some kind of self-healing behavior so the can be aware if things are going down and restarting at a too high frequency. Or maybe it is just another way to keep t

[2020-06-25 10:39] batemapf commented on #10081
Email to Eric 6/25 for latest comms on the requirement

[2020-06-25 10:42] batemapf commented on #10245
Cursory overview looks like GA tags are in place on many/most/all pages, so basic GA info is being captured. Does not look like there are any custom events or other custom GA implementations that would allow us to get a more fine grained view of what's going on at the product level.

Maybe next step is to discuss with one of the product dev teams about their openness to drop a few event triggers i

[2020-06-25 10:46] batemapf commented on #10065
Potential next step here is to get a chunk of historical data and see how well the data is labeled / how useful the level of detail is in the tickets. If anything looks promising, is there something we could do programmatically (e.g. simple script or something AI-fancy) to help Tom produce current and additional reports for the team with less manual effort?

[2020-06-25 10:49] batemapf commented on #9606
@Yuffster-usds have you had a chance to pick this one up? If not, please unassign yourself so others can grab it.

[2020-06-25 11:19] dmccurdybah commented on #9874
PR: https://github.com/department-of-veterans-affairs/vets-website/pull/13252

[2020-06-25 11:51] rtwell commented on #10283
prototype updated @lenaecb @peggygannon

https://vsateams.invisionapp.com/share/U9XQMY2GS5V

[2020-06-25 12:01] rtwell commented on #9852
Copy updated:

![image.png](https://images.zenhubusercontent.com/5568d4774f7a08fbb7f30688/2e9e4fbe-0efd-4662-92e5-82fd1032e6af)

[2020-06-25 12:12] clantosswett commented on #10592
@jenniferlee-dsva @stephorkandatx I wanted to confirm here that the redirect page is a go and we have identified who will implement the redirect to this page. I am working today to finalize the content for this page, with the relevant stakeholders. Given this needs to go live tomorrow, it would be helpful to know what is needed by when. Here is the list I am tracking but please let me know if I'm

[2020-06-25 12:34] johnhashva commented on #10489
@andaleliz in answer to your Q's:

1. Yes.  My plan is to schedule a convo with you and @rtwell on that question when he is back next week.  Good?
2. Got it.  So, I will create a **separate ticket** for accessibility review once @ncksllvn has the "prototype version" on staging -- will do.

And thanks for adding the labels.  I'll make sure to tack those on from now on.

[2020-06-25 13:05] rebeccawalsh commented on #10379
@mr0sari0 @rileyorr has been working on this, and said yesterday in grooming that she doesn't believe this is a real case we need to design for, since we're not allowing users to select products that aren't available to them in the form itself. I think this is back burnered while she confirms her assumption completely.

[2020-06-25 13:12] leahkeeler commented on #10027
@kelsonic - Our business partner has slipped their date to move the API to a service - I am going to have a new date after meeting with them this afternoon. Thanks for your patience

[2020-06-25 13:27] delli-gatti-michael commented on #10199
This is now in Staging

[2020-06-25 13:29] #9054 closed

[2020-06-25 13:43] rileyorr commented on #10379
Thanks for providing that clarification, @rebeccawalsh!! Yeah, I'm still waiting to hear back from Kevin about what happens in their database when an item is discontinued/replaced. Depending on their answer, I may work with Cam to get those items tagged so Veterans are aware when their items are discontinued/replaced

[2020-06-25 13:45] #10491 closed

[2020-06-25 13:45] ccruzgra commented on #10580
@amyknox This can be closed.

[2020-06-25 13:46] #10580 closed

[2020-06-25 13:53] jenniferlee-dsva commented on #10592
@clantosswett - should the 'remove IRIS links on pages' task go live at the same time as this redirect page or can they be staggered?

[2020-06-25 13:56] peggygannon commented on #10520
Hello, @rtwell @lenaecb

Looking at this, I recommend we break out the questions as we're asking Veterans two different questions.

If they already  have a referral for CC provider, then they wouldn't need to see the question or link asking them if they want to choose a provider from our approved list.   Please let me know if I am understanding that correctly. See recommendation below:

Do you hav

[2020-06-25 13:58] bethpottsVADEPO commented on #10232
@ncksllvn I need to change the first guidance I gave, above, in the main drop-down in facility locator. That one actually needs to be a general reference rather than a branded one to match the other entries here, so: Vocational rehabilitation and employment help. Can you change the request to that team?

[2020-06-25 14:01] jonwehausen commented on #10124
@mmiddaugh Thank you for your patience on this request! We are going to work this guy along with 10126 - stayed tuned.

[2020-06-25 14:28] clantosswett commented on #10592
@jenniferlee-dsva I think they can be staggered. What were you thinking in terms of the timing? I'm thinking the links would be removed prior to the landing page going live. If that is the case, would that happen during today's daily deploy?

[2020-06-25 14:32] jonwehausen opened #10633 "Analytics Tracking - Hard Refresh Capabilities - Mobile Users"
## What happened?
_At times, Google Analytics data can be affected by mobile users caching an old version of the site (and inherently Google Tag Manager) for several days. Similar to what we saw on #10420 -- if a bug is raised, and that bug is corrected within a deployment, if the user still has a cached version of the site still open on their mobile browser (a common occurrence in today's digital

[2020-06-25 14:32] melissajschaff commented on #9948
notes/thoughts about the strategy from my convo with @lenaecb:

**Hypotheses:**
- *DEPO has repeatedly heard from Veteran participants that it is difficult to complete forms online due to certain conditions, which contributes to frustration when trying to complete tasks such as online scheduling*
- Users have information overload on VA appointments page
- Users have information overload on VA sche

[2020-06-25 14:34] peggygannon commented on #8420
Hello, @tressaellen  I have a few followup questions:

1. Looking at above comments it sounds like the subway map is going away  and being replaced by the sign in widget? (3 different states) . Can you confirm if that is correct?

2. If a user is already signed in and LOA3, then will they see the widget at all?

3. If the subway map is going away, then do you still need content for ~"'Go to my va.

[2020-06-25 14:35] stephorkandatx commented on #10125
@ncksllvn and @AnneHurley how soon can we remove these links? Discussion in the related ticket indicates we can stagger. I am not sure we would be able to make today's deploy window but would love your thoughts on when we'd be able to make the changes.

Other ticket's comment at https://github.com/department-of-veterans-affairs/va.gov-team/issues/10592#issuecomment-649583475

FYSA @clantosswett

[2020-06-25 14:42] ncksllvn commented on #10125
We can probably have them removed in today's deploy if we act soon

[2020-06-25 14:47] ncksllvn commented on #10232
@bethpotts I actually haven't opened the PR yet, but will make sure to update that when I do!

[2020-06-25 14:48] kelsonic commented on #9841
References to `TTY` in `vets-website`:

[code]

[2020-06-25 14:50] Samara-Strauss commented on #8420
Also, @tressaellen, it would be helpful to see mockups of the different states of the page. This should generally be our practice before pulling Peggy in for copy help.

[2020-06-25 14:51] bethpottsVADEPO commented on #10125
@clantosswett I wanted to confirm with you, since there are two tickets going and I don't want anything to get lost, that we should remove all IRIS links 6/26. That's what I see in your comment in https://github.com/department-of-veterans-affairs/va.gov-team/issues/10592#issuecomment-649583475

@stephorkandatx @ncksllvn Who will own these two tasks that @jenniferlee-dsva added to the top of the ti

[2020-06-25 14:53] delli-gatti-michael opened #10634 "CT - Yellow Ribbon drop-downs not behaving correctly"
On a school profile page, one of the calculator questions is "Will you be a Yellow Ribbon recipient?". If the user selects Yes, several conditional questions are displayed including drop-downs for "Degree Level" and "Division or school". There should be additional options in those drop-downs.

1. navigate to https://staging.va.gov/gi-bill-comparison-tool/profile/11806124
2. expand the "Scholarship

[2020-06-25 14:56] sonntag-adam commented on #9790
![Screen Shot 2020-06-25 at 10.54.38 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/f563cbd2-dbe5-4cda-870f-beae45a0c1e3)
##
![Screen Shot 2020-06-25 at 10.56.24 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/21b0ba8e-a355-4cd2-b69f-93ced653f64e)

[2020-06-25 14:57] stephorkandatx commented on #10125
@bethpottsVADEPO the two tasks in question ^^ are FE items, and @ncksllvn would need to set that up for us.

[2020-06-25 14:58] sonntag-adam commented on #9790
![Screen Shot 2020-06-25 at 10.54.38 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/8489e42e-c443-4388-b972-46c80f81b7b7)
##
![Screen Shot 2020-06-25 at 10.57.33 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/42c61558-0cde-4f9e-a696-cdc28c902a19)

[2020-06-25 15:01] ncksllvn commented on #10125
Oof, so there are more references to Iris in the frontend code than I anticipated. I should have done a search sooner.

## Claims and Appeals

![image](https://user-images.githubusercontent.com/1915775/85744262-c142f680-b6d2-11ea-8b6b-0e899cfd06d3.png)

## Letters
![image](https://user-images.githubusercontent.com/1915775/85744301-c99b3180-b6d2-11ea-9489-4f3b7e5b7397.png)

## Profile

### Military

[2020-06-25 15:02] ala-yna commented on #10586
Note from 6/25 - We're going to move forward with sending the entire submission at once, and work with DEPO and CARMA to figure out the best way to break that process up to make the user experience more seamless.

cc @kevinmirc

[2020-06-25 15:04] tressaellen commented on #8420
@Samara-Strauss and @peggygannon , oh my goodness, I'm so sorry! I could've sworn I added the screenshots with that message, that definitely would have made things easier! Here are the screenshots:

If a user needs to sign-in:
![Screen Shot 2020-06-25 at 8.49.19 AM.png](https://images.zenhubusercontent.com/5dfa65bbbd078d1699e52294/51cd12e1-646c-4453-a2ba-41c7e03f91af)

Verify your identity:
![Scre

[2020-06-25 15:07] AnneHurley opened #10635 "Clone historic 2018 rates page for Disability - Special Allowance benefits"
# Issue description
In order to retire legacy pages with historic special allowance rates, we need to clone our current rates pages in Drupal and input the 2018 rates information.

# Tasks:
- [x] Clone current Disability - Special Allowance rates page in Drupal. Anne
- [x] Copy over rates from legacy historic page, https://www.benefits.va.gov/compensation/special_Benefit_Allowances_2017.asp
- [x]

[2020-06-25 15:12] Samara-Strauss commented on #8420
Questions:

- Is there anything else on that page that needs to be updated? The answer to this may be no, but just confirming.
- Can you confirm which colors we should be using for each alert/CTA? I know we sometimes use the blue box/blue CTA but I personally don't know what the guidance is on those at this point. You may have already confirmed this for each state of the alert, so just checking.

[2020-06-25 15:14] jbalboni commented on #8421
The date times from Slots are in UTC. I'm a little nervous about transforming the existing dates into UTC, because we could get out of sync if our timezone data is wrong. Might be worth some more discovery with the EAS folks about how timezones are handled in VistA up through VSP.

[2020-06-25 15:23] hughes-dustin commented on #9241
PR: https://github.com/department-of-veterans-affairs/vets-website/pull/13273
Branch: bah-9241-d

[2020-06-25 15:27] Samara-Strauss commented on #10176
The plan has been reviewed with the auth exp team, DEPO, and Chris J, and all have approved it. [This is the high-level initial plan pending discovery](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/logged-in-homepage/2.0-redesign/README.md#june-2020).

[2020-06-25 15:27] #10176 closed

[2020-06-25 15:27] Samara-Strauss commented on #10230
Regrouping with Chris J on 6/29.

[2020-06-25 15:30] DanielleThierryUSDSVA commented on #10592
Hi @jenniferlee-dsva @clantosswett Content for landing page v1 with a few notes in comments. Let me know your thoughts and I can finalize for Nick to flow into page. Thanks![IRIS landing page v1 6.25.20](https://app.zenhub.com/files/133843125/35806ee0-9333-4d31-85bb-43f303220cf7/download)

[2020-06-25 15:36] stephorkandatx commented on #10125
@ncksllvn can you confirm that you'll be removing from the detail pages, right rail as well as global util nav + footer? talking to Anne, sounds like those are also FE tasks. If we can remove them all via FE that would be great

[2020-06-25 15:41] jenniferlee-dsva commented on #10592
@DanielleThierryUSDSVA - LGTM - the warm empathetic tone. You're so masterful.

[2020-06-25 15:44] jenniferlee-dsva commented on #10592
@clantosswett - re https://github.com/department-of-veterans-affairs/va.gov-team/issues/10592#issuecomment-649583475

I was really wondering if the links could be removed AFTER the redirect went live. But that's fine, it sounds like the team should be targeting removing the links and launching the redirect landing page together on Friday?

[2020-06-25 15:51] clantosswett commented on #10592
@DanielleThierryUSDSVA agree with, Jen, this looks fantastic. Two quick questions. I don't have data around the top uses for IRIS but I know some people used it to find information about facilities. I'm wondering if we might want to have a link to the facility locator as part of the helpful online tools?

My second and more difficult question has to do with stakeholder requests. I am hearing from

[2020-06-25 15:52] zurbergram commented on #9876
https://github.com/department-of-veterans-affairs/vets-website/pull/13257

[2020-06-25 16:01] sanlouise opened #10636 "Ensure we do not show 'Identity Verified' when user is not MVI"
We need to make sure that we only show the Identity Verification section in the table when the user is both LOA3 and in MVI, otherwise this can happen (is LOA3, but not MVI):

![image.png](https://images.zenhubusercontent.com/5e9d15aab51cccb259a8a6c7/3439153c-cb24-4e33-ac41-8f28698253a4)

This is confusing for the user.

[2020-06-25 16:03] #8940 closed

[2020-06-25 16:06] toddstanich commented on #10328
Hi @peggygannon thank you for sending this over. I dropped the content in the email template design here - https://github.com/department-of-veterans-affairs/vanotify-team/blob/master/design/email-template/email-html-alt.jpg

A couple questions for you:
• We plan to display full URLs instead of linking text so users see can see what they are clicking on or copy and paste the link if they are not co

[2020-06-25 16:07] #10084 closed

[2020-06-25 16:08] lenaecb commented on #10424
Closing ticket.

Regardless of error returned, we will redirect Veteran to VA request (as we do now).

If errors do return, we'll catch them in our sentry report and can follow up with Lighthouse.

[2020-06-25 16:08] #10424 closed

[2020-06-25 16:08] ndsprinkle commented on #10309
PR here done by back end:

https://github.com/department-of-veterans-affairs/vets-json-schema/pull/442

[2020-06-25 16:14] rileyorr opened #10637 "[Frontend] MDT - Remove 'Need help' component from screens that only return alerts"
## Issue Description
_I noticed that the 'Need help?' component is included on screens that are returning error alerts (404, 500, etc). The 'Need help?' component isn't included on other forms displaying these types of alerts, so we should remove that component from our form to align with VA.gov design patterns._

To reference an existing error alert w/o the 'Need help' component, [sign into the 5

[2020-06-25 16:15] sonntag-adam commented on #9790
@department-of-veterans-affairs/uxbah This is in staging and ready for review

[2020-06-25 16:15] sonntag-adam commented on #9875
@department-of-veterans-affairs/uxbah This is in staging and ready for review

[2020-06-25 16:32] JenLJ commented on #9875
@sonntag-adam UX has reviewed and this looks good from our end!

[2020-06-25 16:33] tlei123 opened #10638 "[QA] Test Plan - SSO Cerner"
## Product/Feature summary

We are introducing a new alert box design to the health pages to highlight easy access to Cerner log-in, for patients who are Cerner patients. While there are content updates happening to the pages as well (both for unauthenticated and authenticated) those do not impact functionality.

There is a team at Cerner testing functionality. They have created test scenarios, in

[2020-06-25 16:39] tlei123 commented on #10638
@stephorkandatx , please start building your use-case above in the ticket Description or add a link to any separate docs you my have.

Feel free to ping me on Slack as needed.  Either I or @pjhill will help as needed.

[2020-06-25 16:48] lenaecb commented on #10520
I feel torn about this. I like the suggestion, but hate that we can't allow for the Veteran who doesn't have a referral/approved CC provider will have to jump out of the app to get to the list (vs. it being exposed in app which we will do in the future when we figure out provider selection/PPMS data needs)

@lalexanderson-dsva - thoughts?

[2020-06-25 16:50] ncksllvn commented on #10125
@stephorkandatx Yep! Removing from the util nav, footer, right rail, and instances across the frontend applications - https://github.com/department-of-veterans-affairs/vets-website/pull/13181

[2020-06-25 16:51] sonntag-adam commented on #9875
Closing story.

[2020-06-25 16:51] #9875 closed

[2020-06-25 16:53] #10304 closed

[2020-06-25 16:55] lenaecb commented on #9852
Awesome, thanks @peggygannon !

@rtwell - for your awareness, we are breaking this into two tickets. This ticket will only be about implementing this update 'in flow'. For implementing on alert on the homepage, we're going to create another ticket and hold off from now to revisit based on future homepage research/updates.

[2020-06-25 17:04] peggygannon commented on #10283
Thanks, @rtwell . I'm going to make some additional tweaks based on my sync with Lenae and Lauren yesterday. I'll list them here and put in the mockup.

[2020-06-25 17:06] desireeturner commented on #9953
@Clark-W-Griswold This issue is ready for your review on staging. Thank you!

[2020-06-25 17:08] #9610 closed

[2020-06-25 17:08] #9587 closed

[2020-06-25 17:09] #9397 closed

[2020-06-25 17:10] mmiddaugh commented on #10038
@mpelzsherman @brangi the following liquid layout templates are **not** part of VAMC sites and **should not** be impacted by our Breadcrumb changes:

As listed in layouts
- page.drupal
- landing page.drupal
- home.drupal
- office.drupal

[2020-06-25 17:17] AnneHurley commented on #10125
@ncksllvn @stephorkandatx @RLHecht  - Have found 1 instance of IRIS in body of a Drupal page, and it's now removed, and saved as draft. Ready for copyedit, Randi. Holding off on publish till Chante gives @bethpottsVADEPO  the heads up.

http://preview-prod.vfs.va.gov/preview?nodeId=709

Was the 2nd bullet in CHAMPVA section, now removed.

[2020-06-25 17:18] #10316 closed

[2020-06-25 17:21] luke-gcio opened #10640 "[Development] BDD: Final Front-End Changes Bucket"
## Issue Description
Several small conversations with Barry have occurred and there are some minor updates to content.  This ticket will capture those changes.

1. We have some information to add regarding which exam vendor companies are available.
 Design is here https://vsateams.invisionapp.com/share/8GXOG91ZWNJ#/screens/421410780_BDD_New_Conditions_17
2. Add an exact date based on CST when a cl

[2020-06-25 17:23] batemapf commented on #9608
@stephenBarrs going to check with a non-sighted user that _might_ be an Android user about experience.

[2020-06-25 17:28] LindseySaari opened #10641 "File rename for app/workers/education_form/forms/va****.rb"
## Issue Description
Zeitwerk mode requires filenames for the va forms in app/workers/education_form/forms/ to follow conventions for constantizing the class name. This requires renaming the files to include an underline between "va" and the form number.

Example: forms/va0993.rb =>  forms/va_0993.rb

---
## Tasks
- [x] rename va form files to include an underline in app/workers/education_form/for

[2020-06-25 17:29] batemapf commented on #10273
@stephenBarrs is looking into what happens w/ caching if saved to phone home screen.

[2020-06-25 17:30] mshea0606 opened #10642 "[FE] Update the links to contact information that appear in some direct deposit error alerts"
## Background

[Slack convo](https://dsva.slack.com/archives/C909ZG2BB/p1593098938233800)

[example of a link that needs to change](https://github.com/department-of-veterans-affairs/vets-website/blob/4adca1048c37da3425b35aa539ff0c3aa12a96f5/src/applications/personalization/profile360/components/PaymentInformationEditModalError.jsx#L105)

## Tasks
- [ ] Make updates

[2020-06-25 17:34] stephorkandatx commented on #10638
From the handoff document at https://docs.google.com/document/d/11OGKfLk0fKd08pqCKT0Wvrt9ze2vZW_PSEn2kJdK714/edit#heading=h.yeejgddqil0p

**Testing**
We have a limited number of cases in TestRails pertaining to the release of scheduling functionality for patients at the Columbus (Chalmers P. Wylie Ambulatory Care Center in MVI). https://dsvavsp.testrail.io/index.php?/runs/view/241&group_by=cases:s

[2020-06-25 17:34] #10534 closed

[2020-06-25 17:35] mshea0606 opened #10644 "[FE] -Update Direct Deposit links to the profile"
## Background
[Slack convo](https://dsva.slack.com/archives/C909ZG2BB/p1593098872233100)
We need to update links from Direct Deposit that occur as a result of an error that redirect the user to correct their profile/contact information.

## Tasks
- [ ] Make updates

[2020-06-25 17:36] RLHecht commented on #10125
@AnneHurley This looks OK to me. Just let me know when we should publish.

[2020-06-25 17:38] ksantiagomorgan6 commented on #9873
pull request: https://github.com/department-of-veterans-affairs/vets-website/pull/13277

[2020-06-25 17:41] ala-yna commented on #10582
@ala-yna - reach out to andrew about follow up

[2020-06-25 17:43] jenstrickland commented on #8697
I'm going to reopen this one, while we await the VA 508 Office report. 🤞  it is a all-okay and we'll just close this again. That's what I aim for.

[2020-06-25 17:47] erikphansen commented on #10644
Looks like we can just set up redirects in Profile 2.0's router.

[2020-06-25 17:48] #9666 closed

[2020-06-25 17:52] sporeboy commented on #10602
Revised mockups shared and reviewed by Wizards team: https://dsva.slack.com/archives/C0113MPTGH5/p1593034304002500

[2020-06-25 17:53] clantosswett commented on #10125
@jenniferlee-dsva @bethpotts @ncksllvn Chiming in to confirm that it would be ideal for links to IRIS to be removed on Friday 6/26 along with the publishing of the redirect page. What is most important is that the redirect page is live so that even if the links are still available, users will not be taken to IRIS. If it would help the team to push back the link removals to a later date, just let m

[2020-06-25 17:54] sporeboy commented on #10602
Feedback implemented and variants created--Options 2 and 3 here: https://xd.adobe.com/view/17b9e3b9-abb2-4c17-6619-adcc54353687-6188/

[2020-06-25 18:05] tressaellen commented on #8420
@Samara-Strauss

- The only other part of the page that might need need some updating is if the contents of this list have changed at all and need to be updated. If they haven't then I think the rest of the current content works well.
![Screen Shot 2020-06-25 at 11.53.14 AM.png](https://images.zenhubusercontent.com/5dfa65bbbd078d1699e52294/e896e8ed-cfe6-4590-b818-a8bae0a04fae)
- I talked to platfo

[2020-06-25 18:11] batemapf opened #10646 "Connect with OCC MHV analytics team"

[2020-06-25 18:12] bethpottsVADEPO commented on #10125
@clantosswett Thanks for the confirmation! @ncksllvn can correct me if I'm wrong, but when he and I spoke this morning, it seemed like he'd be able to get the FE work done for deployment tomorrow. And Anne has found only that once instance in running text on a drupal page. @RLHecht, can you make sure that publishes on Friday? So we should be good to go for getting all the links removed tomorrow.

[2020-06-25 18:17] Samara-Strauss commented on #9181
@MickinSahni @mshea0606 checking back in again. Some thoughts:

- Pending your feedback on the current proposal for OKRs and KPIs, I think we can probably close this ticket and create further to-dos for future work (eg. working with teams to establish exact baseline metrics). At this point, I need to know whether you think the general direction of the objectives and the key results is way off (eg.

[2020-06-25 18:18] lalexanderson-dsva commented on #10520
there are 2 conditions under which a veteran would need to enter an address for a CC provider:
1. If they have a referral
2. if they want to pick a provider in the area from the locator.

If Veterans have a referral, they may not have all of the information they need from their provider and may still need to look at the locator. The name and address are important. As @davidconlon showed me recentl

[2020-06-25 18:19] Samara-Strauss commented on #8420
Awesome, thanks for this! Heard loud and clear on the button/CTA colors (I'm wondering now if we are handling that correctly on all our content pages, but that's a problem for another day). Also, that content blurb is still correct AFAIK.

[2020-06-25 18:29] jenniferlee-dsva commented on #10414
Hey all - as promised, a decision. Let's go with the static CMS approach.

After additional consultations, I think the pros of the Lighthouse approach ultimately doesn't outweigh the cons, and doesn't give us that much more value for publishing the form detail pages. Rendering static html via Lighthouse also sounds like there could be performance issues especially if the user has slow service or i

[2020-06-25 18:32] melissajschaff commented on #9948
@lenaecb @lalexanderson-dsva After thinking about it a bit more, I think we may be able to tease at 7 throughout the conversation, but I still feel this is its own research. For example, we can ask participants if they expected to be able to leave notes for schedulers, nurses, drs, etc. to review; if they expect a response and where they anticipate being able to get that message.

I think that wil

[2020-06-25 18:32] mnorthuis commented on #9670
@tressaellen Here is the final IA information. It includes, the page structure, breadcrumbs, URLs, entry points and the user flows.    Your front end team will likely need this information, as well as the Public Websites team for any entry points needed outside of the authenticated experience.

Please note we will need to implement a redirect on the old account page URL in case someone has that bo

[2020-06-25 18:35] Samara-Strauss commented on #9181
One final thing — I renamed the file "Authenticated Experience Value Framework" because I wanted to use this same template to refine the OKRs and KPIs for the profile (as a product) and our profile 2.0 redesign (as a project). You'll see those two tabs in the spreadsheet now, but they have nothing to do with this specific to-do.

[2020-06-25 18:44] lenaecb commented on #10520
@lalexanderson-dsva - thanks for that additional insight. Based on what you described here then, we want to continue with the implementation that Ryan designed above (exposing the copy/FL link only after the Veteran has selected 'yes'). Correct?

Thanks!

[2020-06-25 18:50] Kimberley2019 commented on #10019
Draft survey has been created and will be reviewed by @amycesal

https://adhoc.optimalworkshop.com/questions/5p040tyr

[2020-06-25 18:55] tressaellen commented on #8420
Okay great! I had the same thought about the CTA buttons, it'd be interesting to take a look at those.

[2020-06-25 18:55] #10553 closed

[2020-06-25 19:07] #10571 closed

[2020-06-25 19:08] mnorthuis commented on #10592
Proposed URL for landing page after discussion with @DanielleThierryUSDSVA and @bethpottsVADEPO

www.va.gov/iris-no-longer-available

[2020-06-25 19:10] mpelzsherman commented on #10604
Since we are moving to Cypress for all new e2e tests, can I assume this issue pertains only to Cypress tests?

[2020-06-25 19:14] rileyorr commented on #10380
I've adjusted [my design](https://vsateams.invisionapp.com/share/6MVTG94WNH5#/423013061_At_least_one_item_couldn-t_be_ordered) based on our conversation with the DLC folks this afternoon. I've updated [the GH documentation](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/medical-device-tool/design/prototype-confirmation-screen.md#use-case---full-order-could-not-b

[2020-06-25 19:14] leahkeeler commented on #10027
@kelsonic New Launch date is 7/8/2020 I will let you know if anything changes. Thanks! Leah

[2020-06-25 19:18] swirtSJW commented on #5653
https://github.com/department-of-veterans-affairs/va.gov-cms/issues/2108 has been merged in.
it resolves 1,3 and 4 as well as the breacrumb and title change to add "About "

1/ Form administration dropdown choices: Add "Veterans Affairs"; remove "DEPO"  This request could only be partially acted upon because this is just surfacing the top levels of the "Sections" taxonomy in the CMS
1. Veterans Af

[2020-06-25 19:18] rileyorr commented on #10379
@mr0sari0 based on this afternoon's conversation, I've created [a design for if at least one item is not submitted](https://vsateams.invisionapp.com/share/6MVTG94WNH5#/423013061_At_least_one_item_couldn-t_be_ordered). I've updated [the GH documentation](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/medical-device-tool/design/prototype-confirmation-screen.md#use

[2020-06-25 19:50] meganhkelley commented on #10359
Convo w/ Joanne, James, Mandi, Andrea 6/25

- Engineering teams have been working on tooling for quality standards — part of performance dashboard (recent Analytics & Insights Design Sprint) was to understand what engineering quality standards should be and how to report those
- As part of this super epic, teams will need to determine whether engineering platform standards need to be presented in

[2020-06-25 19:54] joanneesteban commented on #10359
### Potential Resources

- [Data Platforms Overview](https://docs.google.com/spreadsheets/d/1gXH7PfI3UCSu8mzEuYqkE5qwSJV6nFO1s8UpDCZm0BA/edit#gid=0):
  - different sources of data owned by VSP (where some of the engineering quality standards would live)
- [Analytics & Insights Design Sprint Readout](https://docs.google.com/presentation/d/1zX5PRJyY5o5EJ_vPjCrt60J7Xb1Ov-IYHNa-iNbAjog/edit#slide=id.g

[2020-06-25 19:55] annaswims commented on #9903
I realized that this list is incomplete.  We should also include errors in ancillary jobs like [document upload](http://sentry.vfs.va.gov/vets-gov/platform-api-production/issues/120661/) error that happens hundreds of times a day.

[2020-06-25 19:57] bmcgrady-ep commented on #9991
Description of Interaction | Screenshot | Test Status
------------ | ------------- | -------------
mini accordion open | ![image.png](https://images.zenhubusercontent.com/5ed5304a223097003bc78534/7b9eb685-4ddb-4a76-9ab2-ca55748e6835) | ✔️ **PASS**
mini accordion close | ![image.png](https://images.zenhubusercontent.com/5ed5304a223097003bc78534/3fa6b121-3ae6-4e13-ba46-94c6a9e51153) | ✔️ **PASS**
"U

[2020-06-25 19:59] delli-gatti-michael commented on #9241
On the `bah-9241-d` branch, the only way I can reproduce this is by highlighting a link that will open a modal and rapidly spamming the enter key effectively hitting the link and then the close modal button over and over.  I don't think that's going to actually happen in real life, so I'm going to approve the PR.

[2020-06-25 20:03] hughes-dustin commented on #9241
I was able to reproduce it through _vigorous_ spamming of the enter key. I believe this is related to what @delli-gatti-michael  stated earlier.

[2020-06-25 20:05] delli-gatti-michael commented on #9241
It's probably worth noting that this is only with the enter key. Pressing the spacebar, for example, will not reproduce the defect.

[2020-06-25 20:37] DanielleThierryUSDSVA commented on #10592
@jenniferlee-dsva @clantosswett @ncksllvn

Final content. Nick - I may have an update to the aria coding for phone numbers. Will post if needed asap. Thanks!

[IRIS landing page v3_6.25.20](https://app.zenhub.com/files/133843125/ba762c12-a3f0-4be7-91f7-c8689834311f/download)

[2020-06-25 20:40] mmiddaugh opened #10650 "Expand test coverage for mobile experience"
## Background
We need to expand the test suite specifically for the mobile experience

## Tasks

**1. Ensure the following user stories are covered by existing tests**

<details>
  <summary>When a Veteran uses a mobile device to visit https://www.va.gov/find-locations (expand) </summary>

All search fields and associated drop-down lists are visible.
All buttons are visible.
All content, including

[2020-06-25 20:48] mmiddaugh opened #10651 "Expand test coverage for Facility Locator (VA benefits)"
## Background
We need to expand the test suite specifically for VA benefits searches

## Tasks

**1. Check to see if the following user stories are covered by the existing test suite**

<details>
  <summary> When `VA benefits` is selected as the facility type, (expand)</summary>
- The "Choose a service type" default is `All VA benefit services`
- The following options are shown in the "Choose a se

[2020-06-25 20:56] #8941 closed

[2020-06-25 20:56] mmiddaugh opened #10652 "Expand E2E Tests for Facility Locator (Vet Centers)"
## Background
We need to expand the test suite specifically for Vet Center searches

## Tasks

**1. Check to see if the following user stories are covered by existing tests**

-When `Vet centers` is selected as the facility type,

<details>
  <summary>When `Vet centers` is selected as the facility type (expand)</summary>

- The "Choose a service type" is unavailable- No alert displays below search

[2020-06-25 21:08] mmiddaugh opened #10653 "Expand test coverage for Facility Locator (VA cemeteries)"
## Background
We need to expand the test suite specifically for VA cemetery searches

## Tasks

**1. Check to see if the following user stories are covered by existing tests**

- When `VA cemeteries` is selected as the facility type, the "Choose a service type" is unavailable.

<details>
  <summary>When `VA cemeteries` is selected as the facility type, (expand)</summary>

- No alert displays below

[2020-06-25 21:09] jenstrickland commented on #10377
**Working notes in progress**

- axe and axe-coconut scans of the initial FL page, populated search results, and the facility detail page were all clean, apart from documented known issues above

[2020-06-25 21:19] jhonnyoddball opened #10654 "Setup Dependabot in FE repos"
`dependabot` needs to be configured for the following repos:

- [x] [Vets-website](https://github.com/department-of-veterans-affairs/vets-website/pull/13001)
- [x] [VFS tools](https://github.com/department-of-veterans-affairs/veteran-facing-services-tools/pull/286)
- [x] [App Generator](https://github.com/department-of-veterans-affairs/generator-vets-website/pull/33)
- [ ] Design system

[2020-06-25 21:30] davidconlon commented on #4465
@mmiddaugh @darkbushido
Correct me if I'm wrong, but I think that this may be moot.
When PPMS 8.1 is finally released we will no longer be required to submit drive time.

Instead, all searches should be based upon the default radius of the map, currently 80 miles but may be reduced at some point.

Can you confirm?

[2020-06-25 21:40] SgardnerPMP opened #10655 "[Analytics] Update Playbook and Facilities document for Eastern Oklahoma & Sheridan [BA]"
## Story
As a PAO, I need an updated playbook and facility artifact to reflect background information from where data came from, so I can better understand the background of the data and where it came from.

## Resources
[Analytics Google Drive Folder](https://drive.google.com/drive/folders/1_rMzWOrogXW4g0YazOB1e2U8FuZIAvLY)

## Tasks
- [ ] Update Playbook columns
- [ ] Update Facilities documents

[2020-06-25 21:42] mpelzsherman commented on #10604
@mmiddaugh @davidconlon - please see this comment from @U-DON in Slack:

https://dsva.slack.com/archives/CBU0KDSB1/p1593120905382400?thread_ts=1593113381.350300&cid=CBU0KDSB1

Sounds like this ticket conflicts with the platform team's plans for end-to-end tests. They intend to use https://pact.io/ instead. Let's discuss!

[2020-06-25 21:44] SgardnerPMP opened #10656 "[Analytics] Update Playbook and Facilities document for Eastern Colorado and Salt Lake City [BA]"
## Story
As a PAO, I need an updated playbook and facility artifact to reflect background information from where data came from, so I can better understand the background of the data and where it came from.

## Resources
[Analytics Google Drive Folder](https://drive.google.com/drive/folders/1_rMzWOrogXW4g0YazOB1e2U8FuZIAvLY)

## Tasks
- [ ] Update Playbook columns
- [ ] Update Facilities documents

[2020-06-25 21:47] davidconlon commented on #5900
@mmiddaugh Is this moot?

[2020-06-25 21:47] SgardnerPMP opened #10657 "[Analytics] Update Playbook and Facilities document for VA Cheyenne, VA Montana, VA Oklahoma, & VA W Colorado [BA]"
## Story
As a PAO, I need an updated playbook and facility artifact to reflect background information from where data came from, so I can better understand the background of the data and where it came from.

## Resources
[Analytics Google Drive Folder](https://drive.google.com/drive/folders/1_rMzWOrogXW4g0YazOB1e2U8FuZIAvLY)

## Tasks
- [x] Update Playbook columns
- [x] Update Facilities documents

[2020-06-25 21:49] DanielleThierryUSDSVA commented on #10554
Hi. @batemapf. We need to stay <160, right? We may be OK just adding the www.

Would be:

Welcome. To help us protect you and others, please use our COVID-19 screening tool and share your results when you arrive: https://www.va.gov/covid19screen

Total of 155 characters with spaces.

If we do need to shorten further, here's a version that's 149 characters with spaces:

Welcome. Please help us prot

[2020-06-25 21:58] MickinSahni commented on #9181
These look pretty good, Samara. I especially like this "I removed the prescription and secure messages metrics from here since those tools don't live on VA.gov right now...". It shows how we might iterate on these KRs.

Yes, I think we do want to track these individually and by the respective category they represent so we understand how/when we iterate the LiH. I.e. are we ignoring a particular be

[2020-06-25 22:03] MickinSahni commented on #9181
Also, I'd like to depict the finalized KPIs visually e.g. via that drawing I included.

Feel free to update that or I can do it once we have the finalized OKRs w/ baselines.

[2020-06-25 22:07] ncksllvn commented on #10592
@DanielleThierryUSDSVA PR is open! https://github.com/department-of-veterans-affairs/vagov-content/pull/698

[2020-06-25 22:08] ncksllvn commented on #10592
![image](https://user-images.githubusercontent.com/1915775/85800370-d63d7b00-b70e-11ea-85ae-c47371bdc0e7.png)

[2020-06-25 22:10] U-DON opened #10658 "Integrate Pact with Cypress"
Implement a method for creating stubs in Cypress tests based on contracts generated from Pact.

[2020-06-25 22:29] jenniferlee-dsva commented on #9027
@danielle - this is the list of articles for MVP VA.gov account and profile topic that we discussed at our call with Chante, plus 1 omission and 1 addition (IRIS phone number page).  Take a look and thumbs up/down here if this is a reasonable list to start with.

This is just to get something in front of users for research. We can and will of course add more VA.gov account issues for launch.

1. S

[2020-06-25 22:43] bethpottsVADEPO commented on #9916
The long-term solution is now to add the needed contact info for VSOC counselors and VRCs to the Learning Center. The immediate-term way forward for this, after a convo with @jenniferlee-dsva , is to add a link to the IDES page that goes to a list of VRCs. A similar solution was already implemented on the VSOC page with a link to the teamsite page that lists the counselors and their contact info.

[2020-06-26 00:35] jchasia-adhoc opened #10659 "VSP Customer Engagement Strategy"
### High Level User Stories
- As a VFS team member, I want VSP to engage with me to ensure I am aware of platform changes that could impact my work.
- As a VFS team member, I want to be able to easily provide feedback to VSP on platform products.
- As a VSP team member, I want VSP customer engagements to contribute to VFS teams adopting platform standards.

### Problem Statement
VSP currently comm

[2020-06-26 00:40] jchasia-adhoc commented on #10659
Q3 roadmap meeting notes:
[Kevin] we need something on the roadmap around defining a clear comms strategy (VSP <-> VFS comms strategy), and if we don’t have that clearly defined today, then we need an initiative for it on the roadmap. “This  is how ppl learn of a change” “this is how we remind them of a change” “this is how we…”

[2020-06-26 02:21] DanielleThierryUSDSVA commented on #10317
Hi @RLHecht. Could you review the attached for any errors/omissions before @andaleliz flows into the mock-ups? This document has updated copy for all of the authenticated page alerts. Thank you!

[SSO content review_alerts_6.25.20](https://app.zenhub.com/files/133843125/512f1c4c-a630-47c9-bede-979c3f36b465/download)

(also note that the dates in here are FPO and will change once we know actual lau

[2020-06-26 02:25] DanielleThierryUSDSVA commented on #10592
This looks great, @ncksllvn, thank you! @clantosswett Let us know when we have approval or any additional stakeholder feedback on content. Thank!

[2020-06-26 11:41] andaleliz commented on #10270
@jenniferlee-dsva (or maybe @DanielleThierryUSDSVA knows?)

I'm thinking through how we will answer the research question:

Are any of the [topic or audience tags](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/content/tier-2-content-IA-and-design/learning-center-mvp/template-requirements.md#topic-tags) open to change based on what we learn from users?  There ar

[2020-06-26 12:36] desireeturner commented on #10353
Waiting on feedback via #9991 in order to close this issue.

[2020-06-26 13:24] lenaecb opened #10660 "Homepage prompt to update physical address"
user story about address prompt

## Acceptance Criteria:
- [ ] User see's prompt on homepage to update the physical (home) address

## v1 iteration of this design:

[2020-06-26 13:27] mshea0606 commented on #9181
@Samara-Strauss @MickinSahni This sounds good to me.

[2020-06-26 13:38] #10048 closed

[2020-06-26 13:38] abuckley3385 opened #10661 "Create Team Charter Documentation"
[Create Team Charter](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/health-products/healthcare-experience/team-charter.md)

---
## Tasks
- [x] Create team folder
- [x] Team Mission Statement
- [x] Team North Star
- [x] Finalize Charter document for Team norms

---
## How to configure this issue
- [x] **Attached to a Milestone** (when will this be completed?)
- [x]

[2020-06-26 13:40] lenaecb opened #10662 "Analytics for 'update physical address' prompt"
Once we complete this story -- #9852 -- we need to set track on two events

## Events to track:
- [ ] track when update address prompt is displayed (We want to know how many Veterans are getting/seeing this prompt)
- [ ] track when Veteran clicks the blue "update my address" button

For reference here is the prompt:
![Screen Shot 2020-06-26 at 9.10.27 AM.png](https://images.zenhubusercontent.com/5

[2020-06-26 13:40] Samara-Strauss commented on #9181
Sounds good! I'll update it after we have the KRs finalized.

Thanks for both of your help in getting these to where they needed to be! I have learned SO much about OKRs and KPIs in this process. Really excited about that. :D

Closing and will open smaller tickets as needed.

[2020-06-26 13:40] #9181 closed

[2020-06-26 13:43] lenaecb commented on #9852
This has been updated to only focus on the 'in flow' prompt. GH issues have been created for a future implementation of the prompt on the appointments 'homepage.' An analytics ticket that corresponds to this work has also been created.

[2020-06-26 13:43] Samara-Strauss commented on #9670
@mnorthuis was there supposed to be an attachment/link in the comment above?

[2020-06-26 13:43] abuckley3385 commented on #10661
@LEHigley Im adding you to this issue so we can draft a team Mission and North Star statements. The rest of the charter has been reviewed and complete.

[2020-06-26 13:52] lunascoop commented on #10560
@DanielleThierryUSDSVA I've reviewed the debt management pages and included my findings in the Google spreadsheet (I can download/convert as an excel file if needed). Based on my findings, I'm not really sure that the FAQs need to be divided up based on unauthenticated/authenticated experience. The FAQs on the spreadsheet are organized according to a logical flow of questions (my opinion of course

[2020-06-26 13:52] ncksllvn commented on #10282
This is ready!

In Drupal, the React widget type is `cta` (call-to-action) and second field is (I think called the `app-id`) is `hearing-aid-supplies`. The widget at `/change-direct-deposit/` is an example of how to set this up.

[2020-06-26 13:55] abuckley3385 opened #10663 "Discovery research synthesis"
## User research
Veteran sessions were conducted during the week of June 22 and June 26, with the goals of learning about the current Veteran health journey and how our solution might improve the pre-appointment process of filling out forms/questionnaires.

[Link to Discovery research planning issue](https://github.com/department-of-veterans-affairs/va.gov-team/issues/10226#issue-638921582)

## Ac

[2020-06-26 13:57] ndsprinkle commented on #10405
After digging into this, I believe the core issue is simply that we aren't validating the date entered at all. We show plenty of messages and warnings, but the user isn't blocked from continuing in any way. I will post some screenshots to illustrate the situation.

[2020-06-26 14:00] abuckley3385 opened #10664 "Initial Epics complete in Product Outline"
- [x] [Create Unmet Needs](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/Jobs-to-be-done-statements.md)

- [x] Create [Epic User Stories](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/product-outline.md#veteran)

- [x] Create [MVP User Stories](https://githu

[2020-06-26 14:03] jonwehausen commented on #10126
Hi @mmiddaugh ,

Thank you for providing examples of metrics wishing to track yet also detailing the larger analytics goal here of measuring search success, and filling the template out thoroughly with site-side conditions to keep in mind, we really appreciate it.

Here are a couple custom reports you can replicate withing your own GA account within the Facility Locator Modernized View:
- [Total D

[2020-06-26 14:16] LindseySaari opened #10665 "Review Inflections in Serializers"
## Issue Description
Recently, a new change for the PDF inflection introduced a bug on the [frontend](https://github.com/department-of-veterans-affairs/vets-website/pull/13278/files). This was caused by a [serializer](https://github.com/department-of-veterans-affairs/vets-api/blob/master/modules/va_forms/app/serializers/va_forms/form_list_serializer.rb) inflecting Pdf to PDF causing an issue on th

[2020-06-26 14:17] RLHecht commented on #10317
@DanielleThierryUSDSVA @andaleliz Here's the doc with my edits. Let me know if you need anything else.
[SSO content review_alerts_6.25.20-RH-edit.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/4837405/SSO.content.review_alerts_6.25.20-RH-edit.docx)

[2020-06-26 14:24] omgitsbillryan opened #10666 "Enable GitHub OAuth for Sentry 10"
## Issue Description

Configure our Sentry 10 deployment with GitHub OAuth to allow our users to login using their GitHub accounts.

### Extra Context
- Our Sentry 9 deployment has already been configured for this behavior
- Our current Sentry 10 deployment is completely vanilla and will probably require that config files are copied written to the EC2 instance as part of our Ansible deploy scripts

[2020-06-26 14:28] cmaeng opened #10667 "Offboarding of [Jon Pugh]"
# Instructions
Fill out name of individual and *Description* section below.

# Description
- Please provide the name of the individual needing offboarded.

- Please provide the name of their team, their role on that team, expected last day, and the name of the company they work for.

- Please provide any type of access they may have.

## AC
 - [x] Remove global/config.yml

 - [x] SOCKS Access remo

[2020-06-26 14:31] desireeturner opened #10668 "STEM: Update Schema"
## Assumptions
1. This story will be behind a feature flag #7721
2. This story is a blocker for submission of the 22-10203 STEM form

## Acceptance Criteria
1. The following schema fields are not required:
    a. isPursuingTeachingCert
    b. bankAccount
    c. mobilePhone

[2020-06-26 14:31] mnorthuis commented on #9670
Oh my goodness...wouldn't that have been helpful!  So sorry!
Here it is:
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/information-architecture/ia-reviews/auth-exp-profile-v2.md

[2020-06-26 14:35] DanielleThierryUSDSVA commented on #10560
Thanks so much for this, @lunascoop! Looking forward to going over this together in our call.

[2020-06-26 14:37] sonntag-adam commented on #9991
@jonwehausen it looks like it passes the testing. Is that safe to say?

[2020-06-26 14:47] dginther commented on #10413
Ooh, this is great. I love this idea.

[2020-06-26 14:47] desireeturner opened #10669 "CT-Search: Update labels"
As a Comparison Tool user, I need the search functionality to be smarter so that results are found when I have small typos.

## Assumptions
1. This story is completed behind the feature flag #10615

## Acceptance Criteria:
1. The Comparison Tool Landing Page displays the following content:
   a. Text Search field Label "Enter a city, school or employer name" is replaced with "Enter a school, locat

[2020-06-26 15:04] desireeturner opened #10670 "STEM Scholarship content request from BAH Education Team"
## Why you're here
- Content support for static public website pages
- Content support for authenticated application or tools
- For specific copy editing tasks
- Support for redirects that have **first been vetted by the VSP IA team**
- Engineering support for implementation of REACT sign in widgets

## Steps to complete intake request
- [x] Submit this request when VSA Public Website team interve

[2020-06-26 15:04] steve-gov commented on #5730
DONEZO

[2020-06-26 15:04] #5730 closed

[2020-06-26 15:05] Kimberley2019 commented on #10007
@leahkeeler after review it appears to have all the required information, however, I am unsure if the external contact center has access to Slack (in which the videos were recorded).  I am in the process of determining with @clantosswett if this is going to be an issue.

As long as there have been no edits to the content that has been provided and they are able to view the videos in Slack, I will

[2020-06-26 15:08] lunascoop commented on #10670
Thanks @desireeturner. I'll review.

[2020-06-26 15:10] leahkeeler commented on #10007
Hi Kimberly, The video is viewable in a browser - can you please confirm? The content is complete

Thanks!!! Leah

[2020-06-26 15:10] steve-gov opened #10671 "[MINI] Authenticated form flow: Make decision on whether to show Bio info in static component, or allow authenticated user to manage Bio fields"
## User Story
As a Veteran, I want to know what info is changeable and how to do that so that I can ensure my record is up to date and represents my situation accurately.

## Goal
Figure out which path we will implement for displaying static unchanging info.  If the Veteran is shown two different forms that one allows for a change in data, and another does not, we need to ensure there is ample mes

[2020-06-26 15:11] bethpottsVADEPO opened #10672 "VANITY URL Redirect Request"
**Selena, nothing for you to do on this one. Stakeholder communication is already taken care of.**
### Instructions
- Requests for URL changes/redirects need to be submitted **AT LEAST** 2 weeks in advance.  Some changes/redirects take significant amount of time and coordination to implement, so start the process as soon as you know you will need one.
- This issue will be used from initial request

[2020-06-26 15:12] annaswims commented on #10427
About 80 times a day we fail up upload documents because EVSS doesn't agree what the type is.  Maybe this is a document issue or maybe this is an EVSS validation issue. Either way, we should make sure that we successfully get the document to EVSS or let the user know that it didn't happen.
<img width="317" alt="Screen Shot 2020-06-26 at 11 09 36 AM" src="https://user-images.githubusercontent.com/1

[2020-06-26 15:15] lalexanderson-dsva commented on #10520
I like Peggy's phrasing

Do you have a community care referral or a preferred VA-approved community care provider?
Yes
No/I don't know

then if yes:

Use the [facility locator](https://www.va.gov/find-locations) to find your preferred comm care provider. Copy and paste their name and address below.

[2020-06-26 15:15] #2272 closed

[2020-06-26 15:16] johnpaulashenfelter commented on #2272
Closing due to inactivity

[2020-06-26 15:19] davidconlon commented on #10520
@lalexanderson-dsva  Pre-set for Community Care:
https://www.va.gov/find-locations/?facilityType=cc_provider

[2020-06-26 15:20] #8280 closed

[2020-06-26 15:21] mmiddaugh commented on #8909
@tlei123 @jenstrickland can you label this with a defect level to help us with prioritization, please?

[2020-06-26 15:22] mmiddaugh commented on #8946
@tlei123 @jenstrickland can you label this with a defect level to help us with prioritization, please?

[2020-06-26 15:26] bethpottsVADEPO commented on #10125
@stephorkandatx @jenniferlee-dsva @ncksllvn @RLHecht @DanielleSoCompany @clantosswett The relevant folks involved in this work have been on calls this morning, but just confirming here too that we  are pressing pause on removing links to IRIS until we know for sure the program is getting retired at the end of June. There is the possibility the contract will be extended. Thanks, everyone!

[2020-06-26 15:29] bethpottsVADEPO commented on #10592
@stephorkandatx @ncksllvn @DanielleThierryUSDSVA @jenniferlee-dsva @RLHecht @clantosswett Confirming here that this work is moving forward for implementation Friday 6/26.

[2020-06-26 15:36] f1337 commented on #7305
I ran the specs locally, using the seed mentioned, and… cannot reproduce. I'm still digging.

[2020-06-26 15:36] lenaecb commented on #10520
@peggygannon - we're going to keep the question to one question since even if you have the referral or have a preferred provider, you need to cross check with the approved list.

Do you have feedback on our direction here?

Question: Do you have a community care referral or a preferred VA-approved community care provider?

Yes
No/I don't know

if {yes}

Copy: Use the facility locator (link) to fin

[2020-06-26 15:37] micahchiang opened #10673 "Compile Resources for Privacy and Security Review (Dependency Claims)"
## Description
One of the final steps in the collaboration cycle is scheduling a privacy and security review with VSP to ensure an application meets platform standards before going to production.

## Considerations
- [Collab Cycle meeting description](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/working-with-vsp/vsp-collaboration-cycle/vsp-collaboration-cycle.

[2020-06-26 15:42] #7384 closed

[2020-06-26 15:44] omgitsbillryan opened #10674 "Nginx Script for Sentry 10 Deployment"
## The Problem
The nginx installation and config on the current Sentry 10 deployment was put there manually. We want this to happen automatically as part of build and deploy.

## Extra Context
We tried getting Sentry10 to serve web traffic w/o using nginx and failed - [slack thread](https://dsva.slack.com/archives/CJYRZK2HH/p1592933807153200). My best guess is it may have been related to an IPV6 i

[2020-06-26 15:45] SarahJaine opened #10675 "[Development] BDD: Monitor BDD Claims"
## Issue Description
We need to separate BDD claim submissions from both the more general "original claims" umbrella and from "increase only"/non-original claims in the monitoring and reporting platforms.  It would allow us to more discover and resolve user frustrations and bugs.  It would be nice to see, in grafana, the failure rate of BDD claims in juxtaposition to non-BDD original claims and in

[2020-06-26 15:47] #7319 closed

[2020-06-26 15:50] Mottie commented on #8890
Cypress e2e tests have been added - https://github.com/department-of-veterans-affairs/vets-website/pull/12978, thus completing this spot check. The only thing that wasn't done was added keyboard e2e tests, which would need to be built using Cypress.

[2020-06-26 15:50] #8890 closed

[2020-06-26 15:53] peggygannon commented on #10520
hello! @lenaecb thank you. I have no further edits. this looks good.

[2020-06-26 15:55] mnorthuis commented on #10672
This is ready for implementation.

[2020-06-26 15:56] joanneesteban commented on #10019
@Kimberley2019 - can you Slack us the PW for this survey?

[2020-06-26 15:57] amyknox commented on #10503
@ccruzgra - when the "Update prototype as necessary" task is done, feel free to close this story.

[2020-06-26 15:58] sonntag-adam commented on #10578
![Screen Shot 2020-06-26 at 11.56.48 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/50e9bb44-025d-442c-8931-aa2bf8fb9971)
##
![Screen Shot 2020-06-26 at 11.57.08 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/61e19ae9-be60-4d44-8c6a-4890d6bff901)
##
![Screen Shot 2020-06-26 at 11.57.17 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8

[2020-06-26 16:00] DanielleThierryUSDSVA commented on #10270
Hi @andaleliz. I'll let @jenniferlee-dsva speak to how much openness to changing topics/audiences there might be, as that work happened before I joined. But I think your questions above are good ones to learn more about. Will think about other possibilities as well.

[2020-06-26 16:01] amyknox opened #10676 "STEM: Dev Support"
Review UI when updated by Dev team
Relay any edits / updates

[2020-06-26 16:01] ccruzgra commented on #10505
@amyknox This can be closed.

[2020-06-26 16:02] #10505 closed

[2020-06-26 16:03] #10506 closed

[2020-06-26 16:08] DanielleThierryUSDSVA commented on #10592
Thanks. @bethpottsVADEPO.

2 caveats for @ncksllvn

- Please wait for final go-ahead before merging.
- Please set this to no-index so it doesn't appear in search.

Thanks!

[2020-06-26 16:09] #9942 closed

[2020-06-26 16:10] #10028 closed

[2020-06-26 16:11] #9943 closed

[2020-06-26 16:11] DanielleThierryUSDSVA commented on #10592
@ncksllvn just fyi that it is looking like this may be held off (no definitive change in direction at the moment, but definitely a reason to hold off on merging until we are 100% sure).

[2020-06-26 16:13] jbritt1 commented on #10667
global/config.yml, SOCKS, and AWS removed in https://github.com/department-of-veterans-affairs/devops/pull/7136

confirmed user is not in Pagerduty at this time

request for GitHub org removal submitted: https://github.com/department-of-veterans-affairs/github-user-requests/issues/3156

[2020-06-26 16:17] ndsprinkle commented on #10405
![image](https://user-images.githubusercontent.com/53942725/85877679-88c01d00-b7a5-11ea-9da8-8d9c276261ce.png)

Entering a date in the future (any amount of days in the future) shows no messaging of any kind. Hitting continue does not cause info to appear, it simply goes the next page. However, if you hit continue and then go back, you will see an appropriate message:

![image](https://user-images

[2020-06-26 16:24] #9811 closed

[2020-06-26 16:25] ricetj commented on #9642
@tskinn is this still an issue, if so can we add language around having this go through the FWD proxy.

[2020-06-26 16:25] wyattwalter commented on #10573
If anyone finds this ticket later, the reasoning for not needing this scan is documented in the Database Scans folder on the ATO repo: https://github.com/department-of-veterans-affairs/vets.gov-ato/tree/master/assets/Database%20Scans

[2020-06-26 16:26] #8440 closed

[2020-06-26 16:28] #156 closed

[2020-06-26 16:31] clantosswett commented on #10592
@ncksllvn @DanielleThierryUSDSVA There is a meeting happening at 2pm where we should learn new information. I've reached out directly to see if they can update me prior to this on how to proceed with the redirect page. I'll make sure to update here when when I hear something. Thank you all for your patience and apologies for how all over the place this work has been.

[2020-06-26 16:41] #9644 closed

[2020-06-26 16:42] ndsprinkle commented on #10405
I think that this messaging:
![image](https://user-images.githubusercontent.com/53942725/85880164-8f509380-b7a9-11ea-87ee-7b7d268a4c04.png)

should just be removed as the main reason it isn't showing up is because the military date is still in "edit" mode and there probably isn't an easy way to get that to show up. Plus, the messaging on the next page should be more than enough to deal with the si

[2020-06-26 16:51] #10012 closed

[2020-06-26 16:52] #9446 closed

[2020-06-26 17:06] mmiddaugh opened #10677 "Expand Facility Locator test coverage"
## Problem statement
Limited testing can negatively impact Veterans by:

- Delaying the delivery of value due to the need to revert code
- Interrupting service
- Returning incorrect or confusing information
- Creating a negative user experience or perception

## Hypothesis or Bet
**If** we expand our test coverage for Facilities applications **then** we expect higher quality code releases.

## How

[2020-06-26 17:11] AnneHurley opened #10678 "Review right rail "Connect with us" main links"
## Issue Description
Right rail "Connect with us" links aren't consistent and one redirects to Va.gov. Need to do quick audit/check that the right resources are in place, and/or consider removing them altogether, as the Records page doesn't have one at all.

---
## Tasks
- [x]  Identify all the hub pages with these right rail links. Anne
- [ ] Discuss appropriate strategy to apply to these links.

[2020-06-26 17:14] #9378 closed

[2020-06-26 17:14] mr0sari0 commented on #9378
Refactor has been completed. The PR has been merged to `master`.

[2020-06-26 17:15] mr0sari0 commented on #9850
Received design team approval and this PR has been merged to `master`.

[2020-06-26 17:15] #9850 closed

[2020-06-26 17:16] zurbergram commented on #10358
database PR: https://github.com/department-of-veterans-affairs/gibct-data-service/pull/675

[2020-06-26 17:16] mr0sari0 commented on #10075
Received design team approval. This PR has been merged to `master`.

[2020-06-26 17:16] #10075 closed

[2020-06-26 17:16] joanneesteban commented on #10667
Confirming that the user did not have Google Analytics or Domo accounts.

[2020-06-26 17:17] ksantiagomorgan6 commented on #10202
pull request: https://github.com/department-of-veterans-affairs/vets-website/pull/13290

[2020-06-26 17:22] mnorthuis commented on #9686
@rebeccawalsh @rileyorr @leahkeeler   All IA information will be here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/information-architecture/ia-reviews/bam2-debt-letters.md

There is a link to view the user flows we looked at today on that page, and I keep my meeting notes there as well.

[2020-06-26 17:22] zurbergram commented on #10358
https://github.com/department-of-veterans-affairs/gibct-data-service/pull/676

[2020-06-26 17:24] Samara-Strauss commented on #9670
Thank you! This looks good to me 😃

[2020-06-26 17:29] SgardnerPMP opened #10679 "[Analytics] Update Caregiver document for Eastern Oklahoma & Sheridan [BA]"
## Story
As a PAO, I need an updated caregiver artifact artifact to reflect leadership information from where data came from, so I can better understand the background of the data and where it came from.

## Resources
[Analytics Google Drive Folder](https://drive.google.com/drive/folders/1_rMzWOrogXW4g0YazOB1e2U8FuZIAvLY)

## Tasks
- [ ] Update Caregiver documents with Leadership information

## A

[2020-06-26 17:30] Kimberley2019 commented on #10019
@joanneesteban I put it in Slack yesterday but will Slack again so that it's more current.  Private channel of course.

[2020-06-26 17:30] peggygannon commented on #8420
Per our convo today with PW content team, that team will handle the content updates to change-address page.

@DanielleSoCompany @lunascoop @bethpottsVADEPO

to summarize what is happening:

1. subway map is being being replaced by widgets. Depending on user's sign in status (signed out, LOA1, or LOA3), they will see the widget that applies to their sign in status.  (see the screenshots above from

[2020-06-26 17:31] SgardnerPMP opened #10680 "[Analytics] Update Caregivers document for Eastern Colorado and Salt Lake City [BA]"
## Story
As a PAO, I need an updated caregiver artifact artifact to reflect leadership information from where data came from, so I can better understand the background of the data and where it came from.

## Resources
[Analytics Google Drive Folder](https://drive.google.com/drive/folders/1_rMzWOrogXW4g0YazOB1e2U8FuZIAvLY)

## Tasks
- [ ] Update Caregiver documents with Leadership information

## A

[2020-06-26 17:31] tressaellen commented on #9670
Thanks @mnorthuis - this looks great!

[2020-06-26 17:33] SgardnerPMP opened #10681 "[Analytics] Update Caregiver document for VA Cheyenne, VA Montana, VA Oklahoma, & VA W Colorado [BA]"
## Story
As a PAO, I need an updated caregiver artifact artifact to reflect leadership information from where data came from, so I can better understand the background of the data and where it came from.

## Resources
[Analytics Google Drive Folder](https://drive.google.com/drive/folders/1_rMzWOrogXW4g0YazOB1e2U8FuZIAvLY)

## Tasks
- [x] Update Caregiver documents with Leadership information

## A

[2020-06-26 17:35] ricetj opened #10682 "Offboarding of Nathan Hruby :("
# Instructions
Fill out name of individual and *Description* section below.

# Description
- Please provide the name of the individual needing offboarded.

- Please provide the name of their team, their role on that team, expected last day, and the name of the company they work for.

- Please provide any type of access they may have.

## AC
 - [x] Remove global/config.yml

 - [x] SOCKS Access remo

[2020-06-26 17:40] jchasia-adhoc commented on #10469
External services doc from the Ops team: https://github.com/department-of-veterans-affairs/devops/tree/master/docs/External%20Service%20Integrations

[2020-06-26 17:45] delli-gatti-michael commented on #9873
Tested by test case
https://dsvavsp.testrail.io/index.php?/cases/view/740

[2020-06-26 17:46] ccruzgra commented on #10503
Amy's feedback was incorporated into the content doc and prototype.

[2020-06-26 17:46] #10503 closed

[2020-06-26 17:50] Kimberley2019 commented on #10007
After speaking with Chante, the videos should not be an issue.
I will pass along to the appropriate contact center and obtain feedback.

[2020-06-26 18:18] jenstrickland commented on #8946
Because this bug prevents some users from accessing content I marked it as 508-defect-1, Launchblocker.

[2020-06-26 18:21] jenstrickland commented on #8909
I don't think the section headers are meant to be tab accessible. Headings are not typically focusable, with exceptions for those that indicate a context change, such as moving from a Submit button on a form to a heading that indicates the search results. Is there documentation that indicates this should be focusable?

[2020-06-26 18:42] clantosswett commented on #10592
@DanielleThierryUSDSVA @jenniferlee-dsva @ncksllvn the group is NOT moving forward with the transition plan from IRIS. Funding has not be definitively secured but will likely be available starting today or tomorrow. We do not need to move forward with publishing the redirect page.

[2020-06-26 18:48] sanlouise commented on #10399
@mshea0606 This one is ready for validation when you have a moment 😄

[2020-06-26 18:49] sanlouise commented on #10636
@mshea0606 This one is ready for validation when you have a moment 😄  We can test it by checking a non-MVI user, the 'Identity Verification' section should not appear in the table

[2020-06-26 18:49] sanlouise commented on #10330
@mshea0606 This one is ready for validation 😄

[2020-06-26 18:49] sanlouise commented on #10644
@mshea0606 This one is ready for validation 😄

[2020-06-26 19:01] brangi commented on #8946
Well,  I did ask previously ^ but I can ask again, because I cannot find examples of the correct behavior `I have not found any other link on va.gov with the same behavior (so far), I think only buttons do need this behavior. Can you please provide an example where links open with spacebar?`

[2020-06-26 19:09] jonwehausen commented on #9991
Thank you @bmcgrady-ep for testing the DL! Very much appreciated.

Yes @sonntag-adam thank you for your efforts here. I'll go through and get our tag management tested and deployed shortly thereafter.

[2020-06-26 19:09] lunascoop commented on #10560
[Mapping Recommendations for Debt Management FAQs - Unauthenticated_Authenticated(1).xlsx](https://github.com/department-of-veterans-affairs/va.gov-team/files/4838834/Mapping.Recommendations.for.Debt.Management.FAQs.-.Unauthenticated_Authenticated.1.xlsx)

[2020-06-26 19:18] #8662 closed

[2020-06-26 19:25] jonwehausen commented on #9991
### Tag Management QA - WIP

Description | Screenshot | Status
------------ | ------------- | -------------
Clicked on 'update benefits' button within each of the mini accordions | ![image](https://user-images.githubusercontent.com/48527022/85893235-7d2e1f80-b7c0-11ea-8e99-ecd752163737.png) | ✔️ **PASS**

[2020-06-26 19:27] mshea0606 commented on #10636
@sanlouise do you know a non-MVI staging user? or is there a way to recreate it locally?

[2020-06-26 19:34] stephorkandatx commented on #9723
Whoever picks this up - please sync with @jenstrickland before beginning to confirm the scope of what's needed + output for the checklist. I spoke with her and she thinks we can make this easier to get completed

[2020-06-26 19:34] tressaellen opened #10683 "[Design] Create a GH document with all copy to track updates"
## Background:

Invision with be the design source of truth: [Desktop](https://vsateams.invisionapp.com/share/FJW9OGY2B9A) , [Mobile](https://vsateams.invisionapp.com/share/34WJ8JOCMAB)
GH ticket will be copy source of truth: _Add here_

[Most recent copy changes](https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/9927)

##Tasks

- [ ]

[2020-06-26 19:35] stephorkandatx commented on #8694
Whoever picks this up - please sync with @jenstrickland before beginning to confirm the scope of what's needed + output for the checklist. I spoke with her and she thinks we can make this easier to get completed

[2020-06-26 19:35] tressaellen commented on #9927
FE changes tracked in #10596
Updated Copy document tracked in #10683

[2020-06-26 19:35] #9927 closed

[2020-06-26 19:36] peggygannon commented on #10283
@rtwell some additional content updates to the EC prototype. I also added these to the mockup.

also, I am still PL the conditions list. will drop that into the mockup on Monday.

Screen 1
Update to this alert to more clearly define Express Care

**If you need to talk to someone today about your symptoms, you can request an Express Care screening**
With Express Care you can get a same-day teleheal

[2020-06-26 19:47] sanlouise commented on #10636
@mshea0606 How are staging test users normally created? Is there a specific team responsible for this? We surely should have a document that lists non-MVI, LOA1 etc. users for staging?  I don't normally test in staging but make sure things work properly locally. In this case, I logged in with a user that was in MVI but tweaked the code so I could test in my local environment. 🙂

[2020-06-26 19:49] tressaellen opened #10684 "[Design] Connected apps error states"
## Background

We realized we don't have any of the error states for connected apps.

FE Ticket: #10687

[Slack Conversation](https://dsva.slack.com/archives/C0136FJV5R9/p1593190549001000)

## Tasks

- [ ] Tressa and Sandra work together to get the correct copy
- [ ] Tressa design error states

[2020-06-26 19:57] tressaellen opened #10686 "[FE] Connected apps carrot is in a line by itself"
## Background

In connected apps the last FAQ carrot sits in a line by itself on iPhone 6,7,8, X.  It should have a word or two with it so it's not confusing.

[2020-06-26 20:01] tressaellen opened #10687 "[FE] Build connected apps errors"
## Background

We realized we don't have any of the error states for connected apps.

Design Ticket: #10684

[Slack Conversation](https://dsva.slack.com/archives/C0136FJV5R9/p1593190549001000)

**Needs screenshots**

## Tasks

- [ ] Build error
- [ ] Get Matt/Tressa to validate.

[2020-06-26 20:10] bethpottsVADEPO commented on #10672
Validated that it's live.

[2020-06-26 20:10] #10672 closed

[2020-06-26 20:15] tressaellen opened #10688 "Redirect Request: Account page"
### Date: October 1, 2020
---
### Instructions
- Requests for URL changes/redirects need to be submitted **AT LEAST** 2 weeks in advance.  Some changes/redirects take significant amount of time and coordination to implement, so start the process as soon as you know you will need one.
- This issue will be used from initial request through implementation of the redirect to ensure all individuals wor

[2020-06-26 20:17] tressaellen commented on #9670
We won't need the redirect until the new profile is rolled-out to 100% of users.  I know it's early, but I created a [redirect issue](https://github.com/department-of-veterans-affairs/va.gov-team/issues/10688) and will updates and notify all parties when the time gets closer.

[2020-06-26 20:17] #9670 closed

[2020-06-26 20:20] tressaellen opened #10689 "[Design] Update time and notify parties for URL redirect"
I am creating this ticket to remind myself to update the time and notify parties for URL redirect once we know the dates that the profile will be 100% rolled out.

[Redirect issue](https://github.com/department-of-veterans-affairs/va.gov-team/issues/10688)

[2020-06-26 20:20] jholton opened #10690 "[Incident Response] - Rollback inflection changes"
[Incident Slack channel](https://dsva.slack.com/archives/G0165598RM1)

## Summary

The BE team has merged three PRs over the past few days that change the “inflections” of some acronyms in the BE.
For example, in the BE usage of `Va` changed to `VA`,  `Mvi` changed to `MVI`, etc. This was supposed to be a BE-only change.
It has come to light though, that these inflection changes also have affected

[2020-06-26 20:25] lihanli opened #10691 "[BE] fix ppiu GET payment_information on staging"
test users that were previously working in staging are now returning null data for the PPIU GET payment_information endpoint. see if this is being caused by the PPIU api or by vets-api and then try to get test users working again.

## Acceptance Criteria
working test users are available to test the payment_information endpoint

[2020-06-26 20:32] jenstrickland commented on #8946
Generally, on VA.gov, control+option+space will open links, when using VoiceOver+Safari. Otherwise, I'm not familiar with the spacebar opening.

[2020-06-26 20:37] tressaellen commented on #8420
@peggygannon I think that intro content works really well - I'll drop in some screenshots shortly.

There are a couple other widgets that are _very similar_ on the [change your direct deposit page](va.gov/change-direct-deposit/).  They also change depending on the users logged in status.  If a user is not logged in then I think we could just change the title to 'Go to your VA.gov profile to change

[2020-06-26 20:39] tressaellen commented on #8420
And here is the screenshot with the updated intro content.

![Screen Shot 2020-06-26 at 2.38.37 PM.png](https://images.zenhubusercontent.com/5dfa65bbbd078d1699e52294/98fd37e8-5dbe-4aaf-a76b-896fb1883ce5)

[2020-06-26 20:49] tressaellen commented on #5959
@erikphansen do we need to mention direct deposit at all in the messaging? Or can it be pretty vague?  Also, what is the timeline for this kind of error?

![Screen Shot 2020-06-26 at 2.48.07 PM.png](https://images.zenhubusercontent.com/5dfa65bbbd078d1699e52294/a6bdea66-c73a-4c11-8c9c-dadd3cb4550a)

[2020-06-26 20:51] #10604 closed

[2020-06-26 20:55] lildziner commented on #9843
Hello @meganhkelley
I'm a new designer on the Facilities team making my way through the VSP orientation checklist. I'd like to request the content and IA intro, please!
Thank you!
Leyda Hughes
(leyda.hughes@adhocteam.us)

[2020-06-26 20:55] cohnjesse opened #10693 "Add Sorting to View Payments Table Columns"
## Goal
Currently, the tables on the View Payments page are not sortable yet. The tables themselves provide an interface to connect sorting logic to but we still need to create that logic.

## Tasks
- [x] Create logic that uses the `onHeaderClick` prop of the table to sort on whatever header is clicked in either Ascending or Descending order
- [x] Ensure that the logic toggles between ascending an

[2020-06-26 21:00] wyattwalter commented on #10682
Created ticket for Nathan's offboarding from the org: https://github.com/department-of-veterans-affairs/github-user-requests/issues/3162

[2020-06-26 21:01] cohnjesse opened #10694 "Adjust the Mobile Card View of Tables on "View Payments""
## Goal
When we originally built the View Payments page it was ahead of design finishing the mobile mockups of the page. We have received a set of updates for the mobile mockups and although they are not the finished state for the mobile view of the page we can make some of those updates to get the page closer to what it's end state on mobile will be.

## Tasks
- Adjust the payment view table per

[2020-06-26 21:04] cohnjesse opened #10695 "Write Unit Tests for Responsive Table on View Payments"
## Background
Since we have built a custom version of the table component from the design system to make it responsive, it does not use the unit tests for the existing table component.

## Tasks
- [ ] Write unit tests for the responsive table code

## Acceptance Criteria
- [ ] The unit tests for the responsive table showing payments to the Veteran are complete
- [ ]  The unit tests for the respons

[2020-06-26 21:07] cohnjesse opened #10696 "Write Unit Tests for Redux on View Payments"
## Goal
The Redux implementation we have added to View Payments needs to be unit tested to ensure it works as intended.

## Tasks
- [ ] Adjust data structure per BE
- [ ] ~Write and conduct unit tests that cover ascending sorting~
- [ ] ~Write and conduct unit tests that cover descending sorting~
- [ ] Write and conduct unit tests that cover pagination
- [ ] Write and conduct unit tests that cover

[2020-06-26 21:08] joanneesteban commented on #10682
He's been removed from Google Analytics and Domo. I reassigned his Domo datasets to myself and can reassign those to another Ops rep.

[2020-06-26 21:09] davidconlon commented on #4465
Drive time is no longer required by PPMS.
Closing issue.

[2020-06-26 21:09] #4465 closed

[2020-06-26 21:10] swirtSJW commented on #9189
This was merged and should go out to production on Mon 6/28.

[2020-06-26 21:10] erikphansen commented on #5959
The current messaging is shown below:
![image.png](https://images.zenhubusercontent.com/5b4d0309a8d8be5bda39303e/5bc77bfe-891d-45ba-a72a-13189025de17)
The difference now is that we are showing this message at the top of the Personal Info section. I think it might be good to leave this vague, though as it's possible we'll show this if we can't access other parts of the profile as well?

[2020-06-26 21:11] cohnjesse opened #10697 "Meet with GA re: Events to "View Payments""
## Goal
We want to meet with the Google Analytics Team to establish what events we want to fire for the this feature.

## Tasks
- Connect with the GA/Insights Team (over either Slack or Zoom) to share what function and features this product is involved with, and a recommendation for what events they might be interested in tracking.
- We then need to add the code to fire those events.
- Ask if ther

[2020-06-26 21:11] erikphansen commented on #9819
looks like we have [a ticket for coming up with copy for the alert](https://github.com/department-of-veterans-affairs/va.gov-team/issues/5959)

[2020-06-26 21:21] swirtSJW commented on #5653
This has been merged and will go out to production on Mon 6/28 https://github.com/department-of-veterans-affairs/va.gov-cms/pull/2123

This resolves

[2020-06-26 21:25] #6419 closed

[2020-06-26 21:28] jenniferlee-dsva commented on #9728
I think this duplicates [ticket 10606](https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/10606) so I'm closing it.

[2020-06-26 21:28] #9728 closed

[2020-06-26 21:34] jenniferlee-dsva commented on #10606
Related tickets:

Change Revision Date logic and label to "Form last updated" [8633 ](https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/8633)

FE display of in-body alert [9189 ](https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/9189)

[2020-06-26 22:04] jenniferlee-dsva commented on #10270
@andaleliz - I provided edits to your research draft. Feel free to refine further. Also added as a PR comment one design learning I'd love to get user input on. It's too granular for the research plan, but maybe more for convo guide.

The diverse Veteran criteria you have is good. Since we're launching with VA.gov account topic for MVP, I would also add, people who have a VA.gov online account, MH

[2020-06-26 22:05] jenniferlee-dsva commented on #8694
You can sync with me for now @jenstrickland.

[2020-06-26 22:28] jenniferlee-dsva commented on #8388
This is complete, per Steve's work tracked on the CMS team board, so closing.

[2020-06-26 22:28] #8388 closed

[2020-06-26 22:35] peggygannon commented on #8020
@lenaecb @lalexanderson-dsva Per discussion today with the Public Website content team, I'm reassigning this ticket to that team since this is an update to the static page.

cc @DanielleThierryUSDSVA , please let me know if you want to sync after you've taken a look at the content updates needed.

[2020-06-26 23:03] DanielleThierryUSDSVA commented on #10317
Thank you, @RLHecht! Clean version attached. Will wait until Monday to confirm if we need to remove date or make other changes based on availability of data.

[SSO.content.review_alerts_6.25.20_ready for design](https://app.zenhub.com/files/133843125/deb7ac09-4303-496e-a3c4-ad2c7ad70bdc/download)

[2020-06-26 23:07] mmiddaugh opened #10698 ""Community care providers" disappears from the "Choose a VA facility type" drop down"
## What happened?
<details>
 <summary>"Community care providers" disappears from the "Choose a VA facility type" drop down </summary>

![image (38).png](https://images.zenhubusercontent.com/5d8a47393ac3440001d1a2ed/99fe868e-abf5-498c-b46d-456f2ea43077)

</details>

This is intermittent and will be difficult to replicate. It resolves on its own, without changing browsers. It may or may not be resol

[2020-06-27 22:09] kelsonic opened #10700 "Authenticated Users Updates: Test + Lab Results - Authenticated users main content updates"
**User Story**
As a user who is a patient at a Cerner facility and who is browsing the Test + Lab Results page on VA.gov after authenticating (logging in), I want the content on the page (above ad below the alert box) to give me the correct information about Cerner and/or MHV so that I am not confused about where my patient portal information is housed.

Note that authenticated users who are not p

[2020-06-28 13:13] johnhashva commented on #8896
Adding audit results of Type-Ahead suggestions -- with open issues identified for Search.gov assessment.

[Search.gov_Type-ahead_Issues.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/4842300/Search.gov_Type-ahead_Issues.docx)

[2020-06-28 16:59] jenstrickland commented on #8694
The current status of this ticket is that the team needs to complete the requirements above, to certify the above accessibility work is complete.

To clarify, this does not require screenshots or an individual checklist for each page. Each step in the checklist is generally performed across the scope of the work being reviewed. Issues identified should be logged in issue tickets, and itemized as l

[2020-06-28 17:15] peggygannon commented on #9854
@lenaecb I'm going to close this issue as it's a duplicate of https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/8020

Let me know if you have any concerns.

[2020-06-28 22:27] erikphansen commented on #9819
This crasher was resolved when we gated the Direct Deposit, hiding it from users who did not have DD set up and were not eligible to set up Direct Deposit. However we still need to display some sort of alert on the Personal Info section if there is an error hitting this endpoint.

[2020-06-29 02:00] DanielleThierryUSDSVA commented on #7234
Hi @lunascoop. Let me know if you need anything else from me on this one for now. I understand from Mikki that this is now launching  around July 7 I believe.

[2020-06-29 02:01] DanielleThierryUSDSVA commented on #10554
Hi @sstrass. We think we're okay with adding the www to the link for the first text without needing to cut any character. Updated text below. Just let me know if it needs to be shortened. Thanks!

Welcome. To help us protect you and others, please use our COVID-19 screening tool and share your results when you arrive: https://www.va.gov/covid19screen

[2020-06-29 02:30] mshea0606 commented on #10354
@Samara-Strauss Here is the [Profile 2.0 Release Plan](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/profile/Combine%20Profile%20and%20Account/Profile%202.0%20Release%20Plan.md)

[2020-06-29 06:01] SgardnerPMP opened #10701 "[ENGINEER] Create and/or Clone nodes outside of Menu for VA Cheyenne System and associate all facility pages [BE]"
## User Story or Problem Statement
As a Veteran Web user, I need a easier and more efficient site, so I can quickly get to my objective and complete my journey on the local VA.Gov/MC website.

## Goal
_Implement required va.gov webpages_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran web user_
- _Reduce Click through count by_Highlighting

[2020-06-29 06:16] SgardnerPMP opened #10702 "[ENGINEER] Create and/or Clone all nodes for VA Eastern Colorado System NOT in the Menu [BE]"
## User Story or Problem Statement
As a Veteran Web user, I need a easier and more efficient site, so I can quickly get to my objective and complete my journey on the local VA.Gov/MC website.

## Goal
_Implement required va.gov webpages_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran web user_
- _Reduce Click through count by_Highlighting

[2020-06-29 07:14] drorva commented on #10417
[transform.zip](https://github.com/department-of-veterans-affairs/va.gov-team/files/4844258/transform.zip)

Focusing on the page https://www.va.gov/coronavirus-veteran-frequently-asked-questions/

The transform.zip has 4 files in it:
1. coronafaq.json -- has the node info for the above page from the generated graphQL at vets-website/.cache/localhost/drupal/pages.json. This is a sample of the outpu

[2020-06-29 12:18] ndsprinkle opened #10703 "[Development] 526: Nicely Prevent Users with Invalid Military History Dates"
## Issue Description
The 526 form should not allow users to enter military history service end dates that are greater than 89 days from now. This is because if the date is between 90 and 180 days from now, the user should fill out a BDD form. If the date is greater than 180 days out, the user is unable to fill out either form.

Currently, if the user enters any date in the future for military hist

[2020-06-29 12:18] ndsprinkle commented on #10405
Ticket created #10703

[2020-06-29 12:34] DanielleThierryUSDSVA opened #10704 "Coronavirus chatbot: Week of 6.29.20 updates"
# User story
As a Veteran or family member, I need the latest information about how the coronavirus may impact my VA health care and benefit services. As a Veteran with low or no vision, I need phone numbers to be coded in a way that makes them accessible.

## Issue Description
We need to update the chatbot with newly approved content from the VA.gov coronavirus FAQs.
- 6.29.20: Add new VGLI exten

[2020-06-29 12:37] #10602 closed

[2020-06-29 12:37] #9777 closed

[2020-06-29 12:55] #10405 closed

[2020-06-29 13:11] jbritt1 commented on #8812
Due to inactivity, we the Ops team have removed the unused accounts from this list at this time [(pull request for reference)](https://github.com/department-of-veterans-affairs/devops/pull/7183). The three that have used their first time login credentials will be keeping their accounts (Daniel Fein, John Horton, Jonathan Kislin). We will be happy to revisit / reopen / assist if the other accounts

[2020-06-29 13:11] #8812 closed

[2020-06-29 13:12] jonwehausen commented on #7988
@joanneesteban here is the writeup you requested for this functionality.

### Summary
The Analytics and Insights team is interested in deprecating 35 custom dimensions that have existed since early 2019 in lieu of [**content groupings**](https://support.google.com/analytics/answer/2853423?hl=en).

### [Custom Dimensions - Prefixed "Product \(or Product Area\") Used](https://analytics.google.com/an

[2020-06-29 13:18] sonntag-adam commented on #10358
Last column in the data to version export

[2020-06-29 13:23] sonntag-adam commented on #10353
Testing passes in #9991. Closing out current story.

[2020-06-29 13:23] #10353 closed

[2020-06-29 13:41] JenLJ commented on #9790
@sonntag-adam UX has reviewed and this is good to go!

[2020-06-29 13:41] sonntag-adam commented on #9790
Closing story

[2020-06-29 13:41] #9790 closed

[2020-06-29 13:46] joanneesteban commented on #7988
Thanks for sharing this, @jonwehausen ! Do you know if teams are actively using this functionality and where they find it?

[2020-06-29 13:50] digitaldrk commented on #9792
The gem PR was merged over the weekend

[2020-06-29 13:51] #9792 closed

[2020-06-29 13:52] #10508 closed

[2020-06-29 13:56] darkbushido commented on #4465
It is no longer required and we need to remove it from the params we send when 8.1 is released

[2020-06-29 13:57] kevinstachura commented on #10287
@luke-gcio is this 30 days from submission or 30 days from VA personnel reviewing the submitted evidence?

[2020-06-29 13:59] andaleliz commented on #10270
Adding a comment from Jen on the PR she submitted to ensure this doesn't get lost, since we haven't built out the conversation guide yet:

[2020-06-29 14:01] Samara-Strauss commented on #10354
Thanks for this!

- Added some notes for the “Design/FE/BE UAT plan” sections. Idk exactly what they are looking for here but filled in what we know now.
- Under the “How will you make the product available in production while limiting the number of users who can access it?”, I extended the period of time at 50% to 1 full week. I don’t think there is a right or wrong amount of time to stay at 50%

[2020-06-29 14:04] andaleliz commented on #10270
Are these labels broad enough to capture most of the content people are looking for?
If the information they're looking for isn't in one of these categories, what's missing?
Can people still find what they need through search? (And in the after launch future: Through a combination of tag filtering and keyword search - e.g., I search by a keyword, then I filter results by audience?)

@jenniferlee-d

[2020-06-29 14:05] Samara-Strauss commented on #5959
Is this messaging only for when direct deposit is down, or for when there might be multiple sections down at once? If it's specific and only for the case where direct deposit is down, I would err on the side of more specific with the messaging instead of less specific. As a general UX practice, we should always be more specific if (1) we're able to and (2) if it helps the user understand what's go

[2020-06-29 14:15] #5648 closed

[2020-06-29 14:15] #7366 closed

[2020-06-29 14:15] #9487 closed

[2020-06-29 14:16] stephorkandatx commented on #9163
@johnhashva I'd like to close this one out - any future improvements or learnings can be captured in another ticket. Let me know if you have any concerns. Thanks!

[2020-06-29 14:16] #10277 closed

[2020-06-29 14:17] #10284 closed

[2020-06-29 14:17] peggygannon commented on #10328
Hello, @toddstanich! answers to your questions below, and I have one question for you:

1. *re: We plan to display full URLs instead of linking text so users see can see what they are clicking on or copy and paste the link if they are not comfortable clicking on it.*
I've updated email (below) to account for this

 2.* re: We would like to include a headline at the top of the email so users have a

[2020-06-29 14:18] #10690 closed

[2020-06-29 14:19] dneel-bah commented on #6229
Final story was delivered to production on 06/23.  Closing this epic out.

[2020-06-29 14:19] #6229 closed

[2020-06-29 14:20] #10330 closed

[2020-06-29 14:20] kevinstachura commented on #10287
I have generated this copy, contingent upon the above answer:

@Mottie you know that confirmation success alert box that shows when a user uploads evidence? We want the exact copy above to go in there. The alert we currently show looks like this:

<img width="1159" alt="Screen Shot 2020-06-29 at 10 12 24 AM" src="https://user-images.githubusercontent.com/54544300/86017346-f19bd500-b9f1-11ea-842f-e

[2020-06-29 14:20] Samara-Strauss commented on #9752
This is complete as #9670 has been closed.

[2020-06-29 14:20] #9752 closed

[2020-06-29 14:23] sonntag-adam commented on #10358
https://dsvavsp.testrail.io/index.php?/runs/view/518&group_by=cases:section_id&group_order=asc&group_id=46

[2020-06-29 14:24] #10636 closed

[2020-06-29 14:25] Samara-Strauss commented on #9381
@mshea0606 @tressaellen this was on the list of to-dos for sprint 24 (see #10352) but I don't see that milestone associated with this. Did this get lost in the mix? If so, we will need to move to sprint 25.

[2020-06-29 14:27] tressaellen commented on #9381
@Samara-Strauss I think it must've been lost in the mix - I didn't have that on my radar for sprint 24 at all.

[2020-06-29 14:30] desireeturner commented on #10166
@clantosswett checking in on this to see if there is anything else needed on our end. Is there anything else that needs to be done before this issue can be closed?

[2020-06-29 14:38] jbritt1 commented on #9511
Teleport was evaluated and demo'd to the team. Taking a pause this sprint due to pressing ATO obligations, but for the scope of this ticket this is likely good to close until we can pick back up on this work.

[2020-06-29 14:38] #9511 closed

[2020-06-29 14:38] jonwehausen commented on #10633
#10420

[2020-06-29 14:43] lenaecb commented on #9854
@peggygannon - no concerns, just wanted to make sure that as part of the static updates this gets added to the Community Care content given that it wasn't previously. So if it's easier to just make this a note in #8020 we can.

[2020-06-29 14:44] erikphansen commented on #5959
This is only for DD

[2020-06-29 14:44] #8956 closed

[2020-06-29 14:45] johnhashva commented on #9163
@stephorkandatx I'm of two thoughts here: We keep it open until we confirm it is "working as intended" -- e.g. generating impressions and clicks to measure effectiveness in driving referral traffic (I should have made it clear that this is part of the acceptance criteria).   OR, close it, and I can generate another ticket that covers what we may need to do to make sure this feature is index-able b

[2020-06-29 14:45] davidconlon opened #10706 "Implement PPMS 8.1 changes to ProviderLocator function"
## Issue Description
PPMS 8.1 includes changes to the ProviderLocator function which were intended to improve performance and streamline queries.

**New fields**
- Geowarning field for confidence intervals related to lat/long

Optional functionality
- Can select subset of fields to be returned
- Removed requirement to pass every parameter in query
- Can pass lat/long for address parameter

---
##

[2020-06-29 14:47] desireeturner commented on #10199
@1Copenut this is ready for review.

[2020-06-29 14:48] tressaellen commented on #5959
<img width="1057" alt="Screen Shot 2020-06-29 at 8 35 06 AM" src="https://user-images.githubusercontent.com/58752772/86019148-b807a180-b9d2-11ea-9f5a-1a9a23b0afb8.png">

If this is only for direct deposit, then I think this should work with updating "payment" to "direct deposit.

If we are using it for other sections as well, could we do something like the editing modal and insert the section titl

[2020-06-29 14:51] dneel-bah commented on #6230
All issues have been closed out; closing epic.

[2020-06-29 14:51] #6230 closed

[2020-06-29 14:53] mshea0606 commented on #10354
@Samara-Strauss Ok great! That makes sense to me. Thanks for the updates!

[2020-06-29 14:53] delli-gatti-michael commented on #10615
This is in Staging. Closing this issue

![Screen Shot 2020-06-29 at 10.51.15 AM.png](https://images.zenhubusercontent.com/5c07f000391a6f6357adc430/dd855f40-f6b8-4a42-a460-e023112024da)

[2020-06-29 14:53] #10615 closed

[2020-06-29 14:56] djmunoz1 opened #10707 "Adding Giles Wells to DSVA Slack"
Giles Wells is a new FE who will be supporting work on the VA API team. Please add him as a full member to DSVA Slack.

Thank you!

Email: giles.wells@oddball.io

[2020-06-29 14:56] zurbergram commented on #10581
https://github.com/department-of-veterans-affairs/vets-api/pull/4452

[2020-06-29 14:57] mshea0606 commented on #9381
@Samara-Strauss @tressaellen It looks like it got lost. I will remove it from this sprint's objectives and add it to Sprint 25.

[2020-06-29 14:57] kevinstachura commented on #6949
Hi @tlei123 ! So sorry for the delayed response (we're doing usability testing sessions all day on the 26th, 27th and 29th). But that sounds great - I will make an attempt at viewing them in TestRail tomorrow and will ping @luke-gcio for the credentials. I will certainly let you know if I have any questions. Thanks again!

[2020-06-29 14:59] lildziner commented on #9843
Hey @andreahewitt-odd
Regarding the checklist item:  'Designers: Attend breakout session'
What exactly am I looking for?
Thanks!
Leyda

[2020-06-29 15:09] amyknox commented on #9991
@jonwehausen - have we completed this story, met all AC and are good to close?
Looks like yes but we want to make sure we're on the same page.

[2020-06-29 15:09] ncksllvn opened #10708 "Find Forms - Capture an error to Sentry when there are no results for an empty query"
When a search is executed on `/find-forms/` without a query (just hitting "search" without typing), there should _always_ be results. If not, this could be an indication of a server problem, so we should capture the error into our monitoring service, [Sentry](http://sentry.vfs.va.gov/), so that we can easily spot the problem.

## Tasks
- [ ]

## Acceptance criteria
- Error shows up in our logs whe

[2020-06-29 15:10] digitaldrk commented on #10404
There seems to be some sort of layering of services on BGS's side that needs unraveling.

*My understanding* is that a deprecated service(s) are mapping to their middleware framework and they're un aware of what middleware element is involved. They are digging around to find out that information. Once they have it, they will 'whitelist' va.gov and we will make calls to the deprecated service.

[2020-06-29 15:15] lunascoop commented on #7234
@DanielleThierryUSDSVA will do and thanks for the feedback!

Hi @RLHecht these pages are ready for review. I made changes per Danielle's feedback (two comments above).
- http://preview-prod.vfs.va.gov/preview?nodeId=5681
- http://preview-prod.vfs.va.gov/preview?nodeId=36

Re: the hearing aid supplies page:
- For the "Find the phone number for your local VA facility" link, I couldn't find the node

[2020-06-29 15:15] luke-gcio opened #10709 "[Development] HLR: Add Flipper for Higher Level Review"
## Issue Description

Add Higher-Level Review (HLR) flipper to allow a staged rollout of the HLR form

We need to determine the ideal location for this check, either or both of the following:

- Within the HLR start wizard (gating before the introduction page)

  <details><summary>Click to see a screenshot of the wizard</summary>

  ![HLR gating wizard appearance](https://user-images.githubusercon

[2020-06-29 15:15] #10238 closed

[2020-06-29 15:21] #9656 closed

[2020-06-29 15:21] omgitsbillryan commented on #7305
Here's the trace:
[code]

[2020-06-29 15:26] jonwehausen commented on #9991
@amyknox Thank you for checking in, it's much appreciated -- we are are still in the process of doing test testing tags from Friday afternoon, planning on picking back up today and will confirm when we're ready to close 😄

[2020-06-29 15:27] omgitsbillryan commented on #7305
Oh woops - that trace ☝️ is already in the OP. I looked through http://jenkins.vfs.va.gov/job/testing/job/vets-api/job/master/2741/consoleFull and was unable to find the _full_ trace. I don't think our build spits it out.

[2020-06-29 15:29] tressaellen commented on #5959
Great - then I'll loop Peggy in.

@peggygannon - we are working on messaging for a generic error state when direct deposit can't be accessed.  The current messaging is this screenshot:

<img width="712" alt="Screen Shot 2020-06-29 at 9 28 03 AM" src="https://user-images.githubusercontent.com/58752772/86024939-1b490200-b9da-11ea-8fed-bb31b6f992c8.png">

We'd like to change "payment" to "direct depo

[2020-06-29 15:33] marriej opened #10710 "SPIKE: Research - Inbound SSOe alternative"
Currently MHV uses a one-off single sign on solution to connect users to legacy VAOS. Investigate if this is a path worth pursuing to ensure session continuity between MHV and New VAOS.

**From Slack Conversation with Lynne Chase:** lynne.case@charlwood-mgmt-consulting.com
Could you provide some details (at the protocol level) about the current one-off single sign on mechanism between MHV and Lega

[2020-06-29 15:35] luke-gcio opened #10711 "[Development] HLR: Final Updates to HLR Endpoint"
## Issue Description
Since Silvio implemented the endpoint, we have had several changes on the LH side. This ticket is to review the current implementation on our end and update as necessary.  Related to making sure we are following the right schema but this captures the actual back-end code changes.

## Acceptance Criteria
- [ ] We are matching what LH expects
---
## How to configure this issue
-

[2020-06-29 15:36] mdewey commented on #10223
Looks like a duplicate. Bringing over the considerations from the #10486

Discovery research and prototype API integrations.

Considerations:

- [ ]  Security precautions needed to take
- [ ]  Performance of the API and if we need to cache or store requests
- [ ] Source of Truthiness of the API
- [ ] Where in the flow of information do they go

[2020-06-29 15:38] mdewey commented on #10486
@abuckley3385  This is now a duplicate. Moved to #10223

[2020-06-29 15:38] luke-gcio opened #10712 "[Analytics] HLR: Back-End Grafana Dashboard for Submission Success/Errors"
## Issue Description
Gather metrics in Grafana

A new dashboard with:

1. Form Submissions
2. Form Error rates
3. rate of calls to Lighthouse
  api.decision_review.total
  api.decision_review.fail

## Acceptance Criteria
- [X] Grafana dashboard created ( http://grafana.vfs.va.gov/d/qCRjZjDMk/hlr-higher-level-review?orgId=1 )

[2020-06-29 15:41] lwalsh617 commented on #8276
@mnorthuis spoke to @DanielleThierryUSDSVA about this ^. We don't have the info to make this call and need to get SME input if they didn't respond to the suggestion when IA was presented. I am doing some keyword and page traffic research to share with them so we have a POV based on SEO and traffic. LMK if you have questions. Thanks

[2020-06-29 15:44] Samara-Strauss commented on #5959
Sure, in theory, this could happen if multiple systems happen to be down at the same time.

However, this begs the question: Why are we showing the direct deposit error on the first page of the profile? I'm curious as to the rationale here and why we aren't just showing this on the direct deposit section itself. Not saying that we *shouldn't* take this approach, but genuinely curious as to why thi

[2020-06-29 15:44] jenniemc commented on #9852
Hi @jbalboni, would you know the normalization pattern for the PO Box address?

[2020-06-29 15:47] luke-gcio opened #10713 "[Content] HLR: Content review of contestable issue endpoint responses"
## Issue Description

We need content review for the Higher-Level Review introduction page. We made it show messages to the user concerning the get contestable issues API endpoint:

- When the API endpoint is unavailable, we need to show a message to the user that they will need to try again later

  <details><summary>Click to see error mock up example</summary>

  ![HLR-get-contestable-issue-erro

[2020-06-29 15:49] mdewey opened #10714 "Create Authenticated Prototype"
Requirements:

- [ ] Create a small authenticated-only prototype that pre-fills data for a user.

Key Targets:

- [ ] Can we display the current user's data in a form

- [ ] Include  testing of the prototype (e2e, and unit)

- [ ] Stretch Goal to use the health API

[2020-06-29 15:50] jbalboni commented on #9852
@jenniemc Yes, it looks like VA Profile reformats all of them to start with `PO Box`

[2020-06-29 15:53] mdewey opened #10715 "Create developer.vet.gov API Prototype"
Create a prototype that uses https://developer.va.gov/explore/health to get a user's data

[2020-06-29 15:53] mdewey commented on #10715
related to #10223

[2020-06-29 15:53] kelsonic commented on #10240
Merged in authenticated + unauthenticated content for Cerner pages (not live yet of course) 🎉  Posting what each page looks like compared to current + design spec below:

### Get Medical Records Page ([current live URL](https://www.va.gov/health-care/get-medical-records/))

**Unauth** Design Spec: https://adhoc.invisionapp.com/share/DYVMI5OXEQN#/screens/405228622

**Unauth** Implementation Screens

[2020-06-29 15:56] mdewey commented on #10488
Key questions to answer:

- [ ] how do we measure vets satisfaction
- [ ] how can we measure the vet's time in a  clinic

[2020-06-29 15:57] mdewey commented on #10487
Key questions:

- [ ] How does this work
- [ ] How static is the information?
- [ ] who owns and manages the data?

[2020-06-29 15:57] lunascoop commented on #7234
Quick question re: the 6th step on the prosthetic socks page. Should we say "we" as it pertains to eBenefits? I know that **we** are VA, but eBenefits too?

[2020-06-29 15:58] leahkeeler commented on #10543
@brad here is the ticket that has all the links that need to be changed https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/information-architecture/ia-reviews/bam2-med-device-order.md

[2020-06-29 15:58] arickalewis1 opened #10716 "Discovery - personas and journey map"
## Acceptance Criteria
- [x] [Personas](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/discovery/user-research/discovery-personas.md) based on discovery research
- [x] [Journey map](https://app.mural.co/t/vsa8243/m/vsa8243/1595002246550/dcc8f89e70628bfb9f123075ff514189005fa17c) based on discovery research

[2020-06-29 15:58] brangi commented on #8946
thanks @jenstrickland for that information. So is this defect valid then?

[2020-06-29 16:01] AnneHurley opened #10717 "Create cloned 2018 historic rates page for DIC - spouse and children"
# Issue description
In order to retire legacy pages with historic DIC rates, we need to clone our current rates pages in Drupal and input the 2018 rates information.

# Tasks:
- [x] Clone current Disability - DIC rates for spouses and children rates page in Drupal. Anne
- [x] Copy over rates from legacy historic page, Anne ***NOTE question about child rate at top of page***
https://www.benefits.va

[2020-06-29 16:09] leahkeeler commented on #10548
Per our request the API endpoints are combined into one API call - there is no need for this work