[2021-12-21 21:50] Samara-Strauss commented on #33295
That sounds great to me if we really anticipate it'll be a low FE lift and if we can accommodate all the different test/use cases we need in the prototype. Can we review the plan to make sure all of our research questions can easily be accounted for in a coded prototype?

[2021-12-21 21:51] #34057 closed

[2021-12-21 21:52] tmitchellgcio commented on #33295
@Samara-Strauss my only concern would be, does this need to be on staging? If so then we may need to write in things that prevent it from being shown or deployed in prod like a feature flipper. If having to build that it would take longer. I'm not as familiar building that part of it so it would take probably another day for me to get it right and test it.

[2021-12-21 21:53] RLHecht commented on #33724
The alert as the expanded text is now live. https://www.va.gov/education/about-gi-bill-benefits/post-9-11/ Closing ticket.

[2021-12-21 21:53] #33724 closed

[2021-12-21 21:57] Samara-Strauss commented on #34003
I've been staring at this for like 20 minutes and I'm still not sure which way I want to go. I'm gonna sleep on it and get back to you tomorrow.

[2021-12-21 21:59] andaleliz commented on #34003
That's totally fine! It may also be worth sharing both with Danielle to see if one is more aligned with other content strategies than other.

[2021-12-21 22:01] lunascoop commented on #31651
@RLHecht I've removed "new" from the page intro in the multiple QA and single QA. I've also updated some of the other single QAs (bolding account types (ID.me, etc.)

- Ask VA replaces IRIS and the GI Bill Help Portal: http://preview-prod.vfs.va.gov/preview?nodeId=34313
- How do I get a verified account to access all the features in Ask VA?: http://preview-prod.vfs.va.gov/preview?nodeId=34513
- Wh

[2021-12-21 22:01] andaleliz commented on #33295
Thanks for that extra info @tmitchellgcio. Maybe it's not worth it then, unless it's a good learning opportunity and we have extra time in the sprint.

@Samara-Strauss I will draft the research plan as if we're going forward w/ the coded version, and if we decide not to go that route (because of FE LOE or it just won't answer our research questions), I can add the extra criteria to the recruiting

[2021-12-21 22:07] pdavies88 commented on #33188
### Related Tickets

- https://github.com/department-of-veterans-affairs/va.gov-team/issues/34418
- https://github.com/department-of-veterans-affairs/va.gov-team/issues/34419
- https://github.com/department-of-veterans-affairs/va.gov-team/issues/34435
- https://github.com/department-of-veterans-affairs/va.gov-team/issues/34436
- https://github.com/department-of-veterans-affairs/va.gov-team/issues/

[2021-12-21 22:09] lunascoop commented on #33832
@RLHecht the page has been updated and is ready for review.

Have questions before you get your COVID-19 vaccine? http://preview-prod.vfs.va.gov/preview?nodeId=19578

[2021-12-21 22:14] michelpmcdonald commented on #34397
We pulled the info on this submission based on the PII in the email.

The 526 submission failed with PIF in Use.  No sure how to proceed.

1. No technical workaround, requires manual field review of vet's data, and manual clearing of stuck PIFs.
2. I don't have a firm contact to initiate the manual pif clearing process.

Just to be clear, at this point, this claim that this vet submitted is not go

[2021-12-21 22:28] #33188 closed

[2021-12-21 22:42] lunascoop commented on #32178
@RLHecht Please review the link and teaser text added to this page. Thanks!

VA decision reviews and appeals: http://preview-prod.vfs.va.gov/preview?nodeId=3071

[2021-12-21 22:47] Kimberley2019 commented on #32850
Thank you @codyreinold-usds would you like to keep this ticket open until you hear ack form the veteran?

[2021-12-21 22:53] Kimberley2019 commented on #32849
From: REDACTED
Sent: Thursday, December 2, 2021 9:43 AM
To: VA Technical Support <VATechnicalSupport@va.gov>
Subject: [EXTERNAL] Re: Technical issues with VA.gov -- are you still experiencing them?

Good Morning,

I logged on last night with my laptop, I had to log in to ebenefits first, then I went to the va site sucessfully.  However, I get an error 16 message if I log directly to va from my lap

[2021-12-21 22:53] bethpottsVADEPO commented on #20644
@lwalsh617 Thanks so much.

[2021-12-21 22:58] jhouse-solvd commented on #34442
@zachclarity - For the google groups, I'll believe you'll want to message Nancy Smith @ Oddball.

[2021-12-21 23:22] SKasimow opened #34443 "Discovery | On-line Apps Used by Spanish Speakers"
## Background

The C+L team would like to understand the requirements and level of effort to translate an english on-line application to another language (spanish). Since the next version of the Forms Library is currently at the research phase, for the near-term we would like to explore taking a simple on-line form used by the Spanish-speaking population and determine if we can build a PoC using t

[2021-12-21 23:37] SKasimow opened #34444 "Research | On-line Apps | Candidates for Translation"
## Story

Based on the discovery work done in [ticket 344430](https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/34443), the C+L team would like to see if any of the on-line forms are simple enough to do a translation using an override in the existing Forms Lib.

Check these 2:
- VA Form 21-526EZ: Application for Disability Compensation

[2021-12-22 00:21] mleclerc00 commented on #34424
Important note to make this work.  The memcached_client `host` parameter needed to be changed to `addresses` in the manifests

ex. https://github.com/department-of-veterans-affairs/vsp-infra-application-manifests/blob/40ed3e6945555d42df9e353e1c78dd1a72face8d/apps/vsp-operations/loki/values-dev.yaml#L125

https://github.com/cortexproject/cortex/issues/1505#issuecomment-808428354

[2021-12-22 00:22] SKasimow opened #34445 "(PLACEHOLDER) All Tickets Above Are Candidates for Sprint 64 and 65"

[2021-12-22 00:31] #34445 closed

[2021-12-22 00:33] bethpottsVADEPO commented on #34119
@RLHecht @lunascoop Would you please work on this in a separate internal ticket that you can tag me in to review before we post here?

[2021-12-22 00:39] brentschneider opened #34446 "Request access to Google Analytics and/or Domo"
# Request Google Analytics and/or Domo access

## What this form is for
Use this template to request access to Google Analytics and/or Domo. Please complete steps 1 & 2 below.

## 1. Access Requirements
Please check the analytics tool(s) you need access to:
- [x] Google Analytics
- [x] Domo
- [x] (Platform Teams only) BigQuery

## 2. User Email Address to Receive Access
**Due to privacy concerns,

[2021-12-22 00:43] laurenernest commented on #26851
@chloedotbrown I've reviewed the flows and wrote up notes on the mockup [here](https://docs.google.com/document/d/1wmxbrzo50jBSgULIGdAjofWyIFvT0VO6vY0DR-lDaY8/edit?usp=sharing)

[2021-12-22 01:19] andresriveratoro commented on #33489
`react-focus-on` provides:
- traps focus - keyboard focus management - limits keyboard navigation to modal
- prevents scrolling outside of the modal
- traps voice reader - limits voice reader to modal

## Keyboard focus management
We need to make sure that keyboard navigation is limited to the modal. This means using the keys `TAB` or `SHIFT+TAB` should move the focus to the next or previous eleme

[2021-12-22 01:28] #33489 closed

[2021-12-22 02:56] kristenmcconnell commented on #32805
The Health Questionnaires wireframes from the pilot can now be found in Sketch for Teams at: https://www.sketch.com/s/fd688be2-76eb-484b-a306-9c1b522f4f09

[2021-12-22 02:58] kristenmcconnell commented on #32805
@jparker0425 @julieadair1 Pulling this into the sprint, since I have extra capacity. I was able to quickly move the old wireframes over and clean them up a little this afternoon. I'm not sure what Epic this would be connected to.

[2021-12-22 02:58] #32805 closed

[2021-12-22 03:01] mydesignrocks commented on #34405
done and closing

[2021-12-22 03:01] #34405 closed

[2021-12-22 03:05] kristenmcconnell commented on #34087
[Information on a similar pattern done on the Claims and Appeals team. ](https://dsva.slack.com/archives/C02GXKL8WM6/p1638303129266000)

[2021-12-22 03:16] mydesignrocks commented on #34420
@mchelen-gov please review for aws access.

[2021-12-22 03:17] mydesignrocks commented on #34410
temp access revoked. If needed as a permanent route, please go through the standard access request route.

[2021-12-22 03:17] #34410 closed

[2021-12-22 03:19] mydesignrocks commented on #34400
last day is marked as 12/30 and ballparking it for now and will resume next week.

[2021-12-22 03:19] mydesignrocks commented on #34360
no pagerduty, no aws, no sentry

[2021-12-22 03:22] mydesignrocks commented on #34360
/request Justin Bosse

[2021-12-22 03:55] kristenmcconnell commented on #34087
Draft wireframes: https://www.sketch.com/s/5331b114-280d-4ff5-8d36-ec49b1696b9e/p/5BCAB931-5EBD-4208-BDA4-592B768DE26F

[2021-12-22 13:14] LizCallaghan commented on #34179
I see he is already a member.

[2021-12-22 13:14] #34179 closed

[2021-12-22 13:31] nicole-leonard commented on #24543
Per convo's with MIkki. Here are some examples of the existing issues:

A few example items that should not be in the xml sitemap:
<loc>https://www.va.gov/session-expired/</loc>
<lastmod>2021-12-21</lastmod>
<loc>https://www.va.gov/resources/search/</loc>
<lastmod>2021-12-21</lastmod>
<loc>https://www.va.gov/auth/login/callback/</loc>
<lastmod>2021-12-21</lastmod>
<loc>https://www.va.gov/education

[2021-12-22 13:42] AGarcia-Clarity opened #34447 "Add space between TTY & number"
## Issue Description
A bug exists in the SubmitSignInForm component in which the "TTY" and its corresponding phone number does not contain a space between them.  To increase accessibility and readability a space should be added between them to ease user experience.

---
## Tasks
- [x] Add a space between "TTY" and the phone number 711

## Acceptance Criteria
- [x] I can see a space between the TTY

[2021-12-22 13:53] MarciMcGuireGCIO commented on #31815
@cgednalske -- you already completed this, right?

[2021-12-22 13:56] MarciMcGuireGCIO commented on #34363
duplicate

[2021-12-22 13:56] #34363 closed

[2021-12-22 14:03] LindseySaari opened #34448 "EducationBenefitClaim/Spool file record cleanup"
## Issue Description
On 12/17 & 12/20, the `KmsEncryptionVerificationJob` was run to verify that encrypted records were able to be decrypted by the new kms key (so that we could remove the lockbox key). While the Kms job was running, the job marked some of the EducationBenefitClaim records for re-processing again. What happened is that there's a [job](https://github.com/department-of-veterans-affa

[2021-12-22 14:08] MarciMcGuireGCIO opened #34449 "[Research] Personal Information Revision: Provide support during research sessions, follow-up tasks"
## Background
Information Revision research sessions will be held during Sprint 64.  Christina has limited experience with conducting these types of sessions and the standards for recording, taking notes, synthesizing the findings and reporting.   Liz will dedicate part of her time to conducting a few sessions for Christina to observe, and to being available to provide guidance on follow-up activi

[2021-12-22 14:09] andaleliz commented on #31615
@hdjustice FYI I'm going to review this in office hours tomorrow so I've moved this into the current sprint.

[2021-12-22 14:16] andaleliz commented on #34184
👋  Hi! I removed the blocked label since we have participants lined up now, and added myself as an assignee so I can track this more easily.  RE the task list above:

This will happen before each  session via #feedback-backchannel, so I'll mark it as done above.

Is Christina the "my" in that sentence?

@cgednalske these are usually a 15 minute meeting. Ideally, they immediately follow the last sc

[2021-12-22 14:23] MarciMcGuireGCIO commented on #34184
Thanks, @andaleliz !  I think the "my" would probably apply to both of you in this case.  I actually used a list of tasks that Cindy used, so feel free to make any adjustments that you want.

[2021-12-22 14:23] hdjustice commented on #31615
@andaleliz Got it, thank you!

[2021-12-22 14:26] PJart opened #34450 "Access for Patrick Arthur"
### COR Name

Other

### Vendor Onboarding Representative Name

Other

### Your Name

Patrick Jason Arthur

### Your Email

patrick@arthuremail.com

### Name of Your Team

AFS-Education

### Service(s) You Want Access To

SOCKS

### Public SSH Key

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC2Bxex1rypfm2ci9SVld8q44P6BKJ//ftF9Z6Rrq9b7FCgbvhoVbwT7px3KfCn6LJ0KU6NGBPUtC6FRKY2nszXzKZ1OKpVn5pse4k38jKnucA1erl

[2021-12-22 14:30] andaleliz commented on #34117
@hdjustice I'm adding the research plan ticket as a blocker to this- I want to be sure we're aligned on research goals before I write the conversation guide.

[2021-12-22 14:32] RLHecht commented on #31651
@bethpottsVADEPO We made these updates but wanted you to review the intro and the "What's Ask VA" single Q&A because we reworked the sentences a little when we took out the word "new." Can you let us know if this is ready to publish?

[2021-12-22 14:35] MarciMcGuireGCIO commented on #34317
@Samara-Strauss - This ticket will need to move to Sprint 64 since code freeze is starting and won't end until after this sprint is over.  We still don't 100% know the root cause.

[2021-12-22 14:37] srsuddath commented on #33348
@joshkimux this fix is live on staging if you wouldn't mind checking it out. We highlight the Modal title rather than the close button

[2021-12-22 14:38] srsuddath commented on #33342
@joshkimux this fix is up on staging. you should be able to close the modal and have focus return the the link that you clicked to open it

[2021-12-22 14:39] srsuddath commented on #33346
@joshkimux the download button has been replaced with a download link that matches the link on the results page

[2021-12-22 14:39] andaleliz commented on #33295
@Samara-Strauss, I'm still waiting for Tressa to give this plan a once over, and normally wouldn't ask you to review a draft until I've had more eyes on it. However, in light of the holiday hours/PTO, would you mind taking a look at [the draft ](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/my-va/payment-history/discovery-and-research/u

[2021-12-22 14:45] k80bowman commented on #33489
Thank you for looking into this, Andrés!

[2021-12-22 14:55] MarciMcGuireGCIO commented on #34382
@bosawt - I only have visibility to front end deployments dashboard.  Can you confirm that this change is in Prod?  Thanks! 😄

[2021-12-22 14:56] RLHecht commented on #33832
Thanks @lunascoop I published and will create a new ticket for two weeks now.

[2021-12-22 14:58] LindseySaari opened #34451 "Document Spool File Debugging & Cleanup Process"
## Issue Description
See [Related Issue](https://github.com/department-of-veterans-affairs/va.gov-team/issues/34448). Document how to debug/cleanup records related to the spool file job if data is corrupted as seen on 12/21 for the 12/17 & 12/20 spool files

1. Document the more than 1 day scenario (This will require multiple spool files)
2. Document the duplicate record scenario and how to filter

[2021-12-22 14:59] RLHecht opened #34452 "Swap out videos in COVID CLP-HOLD TO PUBLISH UNTIL WEEK OF 1/3"
## Issue Description
We need to swap out the videos in the stories section of the CLP to the 2 Veterans we previously had:

Patricia Victor
John Scott McAllister

## Tasks
- [x] Replace text and videos (Selina)
- [x] Review and publish (Randi)
- [x] Create new ticket for next update (Randi)

## Acceptance Criteria
- [x] New videos and text are live on the page
- [x] New ticket created

[2021-12-22 15:03] mydesignrocks commented on #34360
all tasks verified, marking complete.

[2021-12-22 15:03] #34360 closed

[2021-12-22 15:03] hdjustice commented on #32293
@andaleliz @tressaellen I think this ticket is duplicative.  We have the Update with MVP #33266, which covers this as well.
Also, in response to Liz' questions above, there was only one Design Intent ticket from last review for creating 'sections' of notifications (like in the Notification Center we originally designed for) #30607.  This would no longer be required at this point.
The ticket for re

[2021-12-22 15:05] joshkimux commented on #33346
<img width="634" alt="Screen Shot 2021-12-22 at 10 03 06 AM" src="https://user-images.githubusercontent.com/14154792/147112875-266077e3-db98-4f24-90d3-8e00cf9a4b65.png">

Wonderful @srsuddath ! Closing this out 🥳

[2021-12-22 15:05] #33346 closed

[2021-12-22 15:05] hdjustice commented on #30607
Unassigning and closing ticket - Due to the MVP revisit, we are no longer pursuing the Notification Center design at this time.  This scope change renders this ticket unnecessary.

[2021-12-22 15:05] #30607 closed

[2021-12-22 15:07] Samara-Strauss commented on #34003
I don't think there is a bug with the disability CTA. People can file multiple claims at once (though IDK how common this is), so that makes sense to not hide it if someone has a claim in process. On the contrary, someone can *not* have two health care  or education applications at the same time.

As for the designs, I think # 1 makes the most sense. Since the CTAs are to learn how to apply and no

[2021-12-22 15:07] #32293 closed

[2021-12-22 15:08] joshkimux commented on #33342
https://user-images.githubusercontent.com/14154792/147113226-244a497a-dd81-424d-967c-24b24bf71feb.mov

Perfect @srsuddath 🥳

One minor thing I could use verification on-- it looks like the modal doesn't open when I:
1. open an incognito window in Chrome
2. paste in `https://staging.va.gov/find-forms/?q=10-10ez` to the url
3. tab to the download link
4. press `enter`

Would you be able to replicate

[2021-12-22 15:09] joshkimux commented on #33348
<img width="554" alt="Screen Shot 2021-12-22 at 10 02 53 AM" src="https://user-images.githubusercontent.com/14154792/147113443-977c029b-5d7b-4333-87e5-59872271c7e7.png">

Confirmed! Great stuff 🥳

[2021-12-22 15:09] #33348 closed

[2021-12-22 15:12] srsuddath commented on #33342
I will look into it! it might be that the click handler isnt registering the keyboard event. I will look into it!

[2021-12-22 15:13] MarciMcGuireGCIO opened #34453 "[BE] Review Profile products with BE lead and peers to determine if other changes could be beneficial for performance"
## Background
In order to mitigate latency related to BGS API call for Ch33, logging verbosity was lowered by Ops, and Trevor Bosaw [made a change](https://github.com/department-of-veterans-affairs/va.gov-team/issues/34382) to the Direct Deposit app so that a second call to the API to request account info would not occur if the first call failed to return a valid routing number.

## Tasks
- [ ] Re

[2021-12-22 15:16] toddstanich commented on #34264
Thanks @shiragoodman I added a digital-health-platform label. We'll get the design intent ticket going and speak to you all in January.

[2021-12-22 15:18] andaleliz commented on #34003
Ah, that makes sense about disability. And I'm good to go with #1! Thanks for weighing in on that.

Yes, I'm sure there is! I really struggled to come up with something in the appropriate active voice that wasn't along the same lines as "Benefits you might be interested in", so I will need to brainstorm with Danielle about what else might work.

[2021-12-22 15:22] kristenmcconnell commented on #34087
Slack thread requesting feedback and providing some information from profile team: https://dsva.slack.com/archives/C022AC2STBM/p1640186272410000

[2021-12-22 15:26] SKasimow commented on #34209
Review on call with Carma

[2021-12-22 15:26] #34209 closed

[2021-12-22 15:26] kristenmcconnell commented on #34087
Due to timing, I think the review of the final edit pattern with accessibility and the design system should take place within #31808. @jparker0425 @julieadair1 Thoughts?

[2021-12-22 15:46] bosawt commented on #34382
Yes, I can confirm from this log: http://sentry.vfs.va.gov/organizations/vsp/issues/44528/?environment=production&project=3&query=is%3Aunresolved+ch33&statsPeriod=14d
That we were seeing the `DdeftWebServiceBean-->findBankNameByRoutngTrnsitNbr-->routngTrnsitNbr is invalid` error before, but we are no longer seeing it after yesterday's deploy

[2021-12-22 15:47] MarciMcGuireGCIO commented on #34382
Awesome; thanks @bosawt !

[2021-12-22 15:55] RLHecht commented on #33809
Changes are live. Closing ticket.

[2021-12-22 15:55] Samara-Strauss commented on #33295
OK, so I only really reviewed the research goals section. I think you've covered all of the research goals I had in mind. Roughly speaking, the goals are to:

- Make sure payment and debt information is findable (so, we'll want to include tasks to see if people can find this info instead of landing them right on My VA for testing).
- Make sure we have included the right content and links.
- Make s

[2021-12-22 15:56] Samara-Strauss commented on #33295
Oh, and for observers, you can take Tom off the list. He's primarily dedicated to the profile work.

[2021-12-22 16:00] RLHecht commented on #32315
@rileyorr Pretty sure we can close out this ticket but let me know if there's anything else you need from our team for this.

[2021-12-22 16:00] #32315 closed

[2021-12-22 16:01] cgednalske commented on #31815
@MarciMcGuireGCIO correct! All limited-character fields have been updated.

[2021-12-22 16:01] #33809 closed

[2021-12-22 16:04] kristenmcconnell opened #34454 "[Design] Updated Address Editing Patterns Based on Profile Team's Findings"
# Description:
We made the decision to utilize the same pattern that profile is currently using for ["your mailing address and home address are the same."](https://www.sketch.com/s/5331b114-280d-4ff5-8d36-ec49b1696b9e/a/m1yqZxg). The profile team is running a user research study during the first week in January 2022 to test an improved design on how to denote that a Veteran's home and mailing addr

[2021-12-22 16:15] ENeal49 opened #34455 "Request access to Google Analytics"
Need access to Google analytics for capturing metrics.

[2021-12-22 16:16] Samara-Strauss commented on #33295
Also, sorry, I realized I missed these comments earlier:

Given that we want to evaluate whether people expect to find their payment info on My VA in the first place, it probably would help to have this on staging.

You'll need to put everything behind a feature flag anyway as you build the feature out on staging, though build does not necessarily need to happen before user testing if the LOE is t

[2021-12-22 16:18] Dene-human commented on #25350
H @DanielleThierryUSDSVA I have made all of the updates in this PDF. Let me know if you have any other feedback before I send it to the Caregiver program team. Thank you!

[Representative and upload_12.22.pdf](https://github.com/department-of-veterans-affairs/va.gov-team/files/7763858/Representative.and.upload_12.22.pdf)

[2021-12-22 16:21] RLHecht opened #34456 "Rework prepublishing checklist"
## Issue Description
We need to review our prepublishing checklist and add more detail and links so that any content author who needs to publish a page knows the steps to follow.

We should have the accessibility and design system teams review the document to see if we need to add any additional information and to provide documentation we can link to for certain items.

## Tasks
- [x]  Rework chec

[2021-12-22 16:22] GnatalieH commented on #32515
[Here is a link](https://dsva.slack.com/archives/CBU0KDSB1/p1639100454212600?thread_ts=1638893701.026100&cid=CBU0KDSB1) to the Slack conversation between me and Brian Marten from Analytics. It contains several resources including a link to a custom report. Just wanted to make sure it was attached to this ticket.

[2021-12-22 16:22] RLHecht commented on #33832
Work complete. Closing ticket.

[2021-12-22 16:22] #33832 closed

[2021-12-22 16:25] tressaellen commented on #34095
Carol let me know they will discuss this 1/7 in the design system council meeting. So I think we're good to close this ticket.

[2021-12-22 16:25] #34095 closed

[2021-12-22 16:28] CourtneyChambers77 commented on #20488
Yes using the button for expand all will be great for accessibility add on for the purposes for our users; those who have mobile disability or other physical disabilities.

[2021-12-22 16:28] tressaellen commented on #34047
We've kicked off the [experimental design process with this ticket](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/606) - it's set to be discussed 1/7.

I've updated the icons as well. [The latest designs can be seen in this mural board](https://app.mural.co/t/vsa8243/m/vsa8243/1640028268317/2ba4e1b2846c87f5d0bfc6bcb643bef84720bea1?sender=tressafurner7646

[2021-12-22 16:29] CourtneyChambers77 commented on #5871
the close button is announced when using NVDA

[2021-12-22 16:30] tressaellen commented on #33266
This is all updated, [designs can be seen in this mural](https://app.mural.co/t/vsa8243/m/vsa8243/1640028268317/2ba4e1b2846c87f5d0bfc6bcb643bef84720bea1?sender=tressafurner7646). We are in the process of working with content, so that might change. But everything else is pretty set (pending the experimental design process). So I think we're good to close this ticket!

[2021-12-22 16:30] #33266 closed

[2021-12-22 16:31] Samara-Strauss commented on #34317
@MarciMcGuireGCIO totally fine. I think I actually expected it to be for sprint 64 since Lihan isn't back until next week.

[2021-12-22 16:33] laurenernest commented on #20129
@michelle-dooley this was for the vaccine flow which will be covered in #26851. good to close.

[2021-12-22 16:34] srsuddath commented on #33342
looks like I need to add an event handler so that we can use enter press on those links as well, will have a fix shortly

[2021-12-22 16:34] andaleliz commented on #33295
Thanks @Samara-Strauss! I've updated the plan to reflect the feedback you provided.  One update I want to call out is the update to:

Now it reads as:
**Does the proposed MVP solution (a single dismissible debt notification displayed at the top of the page) help Veterans to more easily take action on their payments or debts?
- Why would a user want to dismiss this alert?
- What do users expect to

[2021-12-22 16:35] laurenernest commented on #19698
@michelle-dooley this will be covered in #26851. good to close.

[2021-12-22 16:36] laurenernest commented on #19659
@michelle-dooley this will be covered in #26851. good to close.

[2021-12-22 16:37] #25427 closed

[2021-12-22 16:39] #25556 closed

[2021-12-22 16:39] RLHecht commented on #32178
@bethpottsVADEPO This is ready for you.

[2021-12-22 16:39] #33301 closed

[2021-12-22 16:39] tressaellen commented on #33301
Everything is done here - we're just waiting for VFS to close the design intent ticket. so I think we're good to close this.

[2021-12-22 16:40] nicole-leonard commented on #25964
@MarciMcGuireGCIO Can you please provide me more context on this?

Thank you!

[2021-12-22 16:45] jsing0 commented on #33986
Here is the link to the [Sketch Deck](https://sketch.com/s/7ddd2962-35f2-4f08-8c84-fe35ebb3476a)
& The [burnboard for tracking changes until the next official review](https://app.mural.co/invitation/mural/innovationboards1199/1638999763255?sender=u363f843c6d3533347d471444&key=11637cf0-4f15-4a11-8857-7e4c15110bad)

[2021-12-22 16:45] srsuddath commented on #20721
Hey @joshkimux and @AngelaFowler82 can we close this ticket now that typeahead 2.0 has passed 508 reviews and is live in the wild?

[2021-12-22 16:46] Samara-Strauss commented on #33295
All of this sounds good to me, including the timeline to conduct the research. Thanks, Liz!

[2021-12-22 16:47] tlei123 commented on #32333
Closing -- validated on Staging.

[2021-12-22 16:47] #32333 closed

[2021-12-22 16:47] tressaellen commented on #33295
Things are looking really great! Great work Liz! I don't have much other feedback, but I'm following along and I'm happy to jump in when needed.

[2021-12-22 16:47] tlei123 commented on #32344
Closing -- validated on Staging.

[2021-12-22 16:47] #32344 closed

[2021-12-22 16:48] SKasimow opened #34457 "DISCOVERY | Modify "Authenticated" 10-10ez to be uneditable"
## Story

As a FE engineer, I need some discovery before starting work on ticket: [34049](https://app.zenhub.com/workspaces/vsa---caregiver-5fff0cfd1462b6000e320fc7/issues/department-of-veterans-affairs/va.gov-team/34049)

## Acceptance Criteria

- [x] Review UX design and confirm understanding
- [x] Understanding of implementation design
- [x] Understanding of technologies needed

[2021-12-22 16:49] SKasimow commented on #34457
@lzapson here's the ticket and outline for discovery we discussed during grooming today.

[2021-12-22 16:50] MarciMcGuireGCIO commented on #25964
@nicole-leonard sure!  Some of the PDF forms that can be downloaded from Find a VA Form have an expiration date on them.   Sometimes users will see that date and assume (unsurprisingly) that their request will be rejected if they use that form, and/or VA.gov is not up-to-date with the most current form, so they lose confidence.

In fact, we were advised by one of the Forms Managers (Kayce White) t

[2021-12-22 16:51] #27753 closed

[2021-12-22 16:51] andaleliz commented on #33295
Wonderful! I'm going to close this out then, and start working on the conversation guide.

[2021-12-22 16:51] #33295 closed

[2021-12-22 16:53] #27754 closed

[2021-12-22 16:55] #27982 closed

[2021-12-22 16:55] #28036 closed

[2021-12-22 16:55] #28453 closed

[2021-12-22 16:56] #28456 closed

[2021-12-22 16:56] #28458 closed

[2021-12-22 16:57] #28582 closed

[2021-12-22 17:04] #28505 closed

[2021-12-22 17:07] jason-gcio opened #34458 "Backend Onboarding: Access and Authentication"
## Background
When a new member joins VSA, there are a number of different points of access that are needed.  Some need simple knowledge transfer, others require more in-depth assistance to get set up.

## Tasks
- [x] Reach out to Program or Operations Manager to start the PIV process
- [x] Access to relevant Slack channels are obtained: #vsa-ebenefits-migration, evss-dev, evss-prod, backend-dev,

[2021-12-22 17:07] #16128 closed

[2021-12-22 17:09] #17558 closed

[2021-12-22 17:10] #18060 closed

[2021-12-22 17:11] #19371 closed

[2021-12-22 17:12] #20402 closed

[2021-12-22 17:15] thilton-oddball commented on #34343
This was finally resolved. We did determine that the kms job was what caused the issue, were able to make the needed corrections to get the spool files to print without the duplicates. Details have been logged [here.](https://github.com/department-of-veterans-affairs/va.gov-team/issues/34448)

[2021-12-22 17:15] #34343 closed

[2021-12-22 17:16] #34448 closed

[2021-12-22 17:18] #22092 closed

[2021-12-22 17:18] thilton-oddball commented on #34336
Details from email mentioned in thread:

Currently, on vets-api, the poppler utils (http://poppler.freedesktop.org) are installed to support the application’s ability to analyze pdf documents.  The current version installed is version:

vets-api@93a7ab682114:~/src$ pdfinfo

pdfinfo version 0.71.0

Copyright 2005-2018 The Poppler Developers - http://poppler.freedesktop.org

Copyright 1996-2011 Glyp

[2021-12-22 17:18] #22132 closed

[2021-12-22 17:19] jason-gcio opened #34459 "Backend Onboarding: Postman"
## Background
When a new member joins VSA, there are a number of different milestones that are needed.  Some need simple knowledge transfer, others require more in-depth assistance to get set up.

## Tasks
- [ ] Postman has been introduced
- [ ] A practice scenario has been created/simulated
- [ ] Any necessary tests have been drafted and reviewed

## Acceptance Criteria
- [ ] New team mate is com

[2021-12-22 17:19] #24333 closed

[2021-12-22 17:20] RLHecht opened #34460 "Review and edit failed 526 form submission email"
## Issue Description
Sitewide content needs to review email copy for the 526 form when there is a failed submission. We need to edit this to meet plain language standards and to ensure it matches VA.gov's voice and style. Once we are finished with our review we will send to Beth for review and then post final language in ticket #34119.

Content to review:

Subject: An error occurred with your disa

[2021-12-22 17:21] #25560 closed

[2021-12-22 17:21] zachclarity opened #34461 "Access for Zachary Lewis"
### COR Name

Mary O’Toole

### Vendor Onboarding Representative Name

Oddball - Amber Malcolm

### Your Name

Zachary Lewis

### Your Email

zlewis@clarityinnovates.com

### Name of Your Team

Platform - SRE

### Service(s) You Want Access To

SOCKS

### Public SSH Key

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC2tngvUyzZIc3vlyzVuPZu/TneRcGhF7KwseP6g8FYcHYgma9b8LJBOEajbNkL6QQYJKXPKyDS1BJKiTdVJ5CNWIuU

[2021-12-22 17:21] #25564 closed

[2021-12-22 17:23] RLHecht commented on #33033
Updating tasks and acceptance criteria of this ticket and will create a new ticket for the next sprint for incorporating stakeholder feedback, final copyedit, and publishing.

[2021-12-22 17:23] #26815 closed

[2021-12-22 17:26] #31762 closed

[2021-12-22 17:27] RLHecht opened #34462 "Publish plain language changes to Post-9/11 GI Bill page"
## Issue Description
We made plain language updates to the Post-9/11 GI Bill benefits detail page in ticket #33033 that we are sending to stakeholders for their review. We will need to incorporate any changes they have, do a final copyedit and publish the page.

## Tasks
- [ ] Final review (Beth)
- [ ] Send to stakeholders (Randi)
- [ ] Incorporate stakeholder feedback (Selina)
- [ ] Review and pu

[2021-12-22 17:31] thilton-oddball commented on #34336
Issue is with the version of ubuntu that is being used in docker. It comes packaged with an old version of poppler-utils. We will need to use a new release of ubuntu that comes packaged with a new version of poppler-utils.

[2021-12-22 17:33] jason-gcio opened #34463 "Backend Onboarding: Feature Toggles"
## Background
When a new member joins VSA, there are a number of different milestones that are needed.  Some need simple knowledge transfer, others require more in-depth assistance to get set up.

## Tasks
- [ ] Read or attend an orientation on Feature Toggles (Flipper) to get a baseline for what is involved in creating a feature toggle
- [ ] Test the feature toggle

## Acceptance Criteria
- [ ] N

[2021-12-22 17:35] jonathan-epstein13 commented on #34455
Hello! I just added @ENeal49 to google analytics. Please confirm! Thank you.

[2021-12-22 17:36] holdenhinkle commented on #33789
This is done.

`id_types` is now an array of id types. The values in the array are filterable.

Pic:
![image.png](https://images.zenhubusercontent.com/5f85bcde4f4764585e8ff820/d4f9a0e4-2c08-4e88-bc6d-38ebeff4ecf6)

[2021-12-22 17:38] SKasimow opened #34464 "DISCOVERY | Analytics for Legal Rep Updates"
## Story

As a PM, I would like to measure whether "Bet A" for improving the legal representative experience is successful.

Domo Dashboard: https://va-gov.domo.com/page/1905395623

## Acceptance Criteria

- [ ] Confirm data source for tracking the success rate of doc uploads (GA event vs Grafana?)
- [ ] Confirm data source for drop off rates for current vs new pages

New Pages (draft):[https://ap

[2021-12-22 17:42] jason-gcio opened #34465 "Backend Onboarding: AWS"
## Background
When a new member joins VSA, there are a number of different milestones that are needed.  Some need simple knowledge transfer, others require more in-depth assistance to get set up.

## Tasks
- [ ] Once AWS access has been obtained, we want to perform a few different asks in there

## Acceptance Criteria
- [ ] New team mate has a clear understanding of how we (VA.gov) operate in AWS

[2021-12-22 17:43] #34388 closed

[2021-12-22 17:43] #34137 closed

[2021-12-22 17:48] jonathan-epstein13 commented on #34446
@brentschneider already had access to DOMO since, 12/20.

[2021-12-22 17:49] mydesignrocks commented on #34461
Hi @zachclarity - you need socks to get to grafana/loki
Can you please generate your ssh keys from your local mac/pc and plug to this request.
For AWS access, we need to wait for your e-quip submittal, if that hasnt been done yet and further approval from our octode contact Mike Chelen.

[2021-12-22 17:50] SKasimow commented on #34464
Hi @Dene-human - anything else we want to try to track? Also, could you add the current screenshot to the ticket so we have old and new in same place? Thanks!

[2021-12-22 17:50] hdjustice commented on #33295
I just thought of a question we could ask regarding the dismissing of the alert.  I was just trying to think about when the notification appears...

"When would the user expect to see the alert appear, after dismissing it?" (you can re-word)
Meaning, if they dismiss the alert, would the user expect to see the alert when they log in again? or when they receive another new/update debt notice?

[2021-12-22 17:51] k80bowman commented on #32515
@GnatalieH I should be able to find the date that the change from button to action link was made for those pages.

[2021-12-22 17:53] mydesignrocks commented on #34461
and for DD, you should receive an email invite to be able to get in.

[2021-12-22 17:55] MarciMcGuireGCIO opened #34466 "[PM] Personal Information Revision - Update test cases to reflect content/UI changes"
## Background
Need to update initial set of test cases to reflect the changes that have occurred since they were initially written before midpoint review.

## Tasks
- [x] Update test cases to reflect current state

## Acceptance Criteria
- [x] Update test cases to reflect current state

[2021-12-22 17:57] MarciMcGuireGCIO commented on #31889
Duplicate

[2021-12-22 17:57] #31889 closed

[2021-12-22 17:59] chloedotbrown commented on #33937
@jonathan-epstein13 and @pavanhothi – big thanks to you both for such a thorough review! I've added my notes below for changes made, limitations, and places where the issue was an acceptance criteria I should have written more clearly. Please look over and let me know if you have any questions. If at least one of you is able to re-QA the places where changes were made so we can get to an official

[2021-12-22 18:01] chloedotbrown commented on #26851
Awesome, thanks for these notes @laurenernest! While @obrienjulie is working on engineering approaches, I'll put together another mockup that incorporates these edits so the design is ready to go once the data is available.

[2021-12-22 18:01] thilton-oddball commented on #34337
This has been taken over by another team and appears to essentially be resolved. The root issue was that Loki can’t handle the ingestion of info level logging. Logging has been reduced from info to warn and that seems to have resolved the issue.

[2021-12-22 18:01] #34337 closed

[2021-12-22 18:02] hdjustice opened #34467 "[Design] My VA - Payment Information & On-site Notification: Attend Experimental Design meeting and follow-up items"
## Background

After Design Intent review, [we were advised that there are no approved active link styles that have background colors](https://github.com/department-of-veterans-affairs/va.gov-team/issues/34047), which would allow us to call out action items on the My VA dashboard (example: "You have 2 new messages" or "You have 2 outstanding debts").

We have submitted a **[proposal ticket](https:

[2021-12-22 18:07] MarciMcGuireGCIO commented on #34406
Will likely need to move to Sprint 64

[2021-12-22 18:12] MarciMcGuireGCIO commented on #32771
Making a note that Christina, Adam and I discussed and all agree that Read-Only would show the text that the user entered as the "other" value, but we would not show the "other not listed" info.   We would also transform any abbreviated/obscure values that are returned from MPI when we read in the data.

[2021-12-22 18:13] #31815 closed

[2021-12-22 18:14] ERRonat0609 commented on #34408
@rtwell This is related to Github ticket [#12185](https://github.com/department-of-veterans-affairs/va.gov-team/issues/12185) where updates are being made to the form before the user clicks the "update" button. In that ticket, it was thought to be a platform issue but no final determination has been received. Now we are seeing similar issues on other forms. Please look into this and let us know if

[2021-12-22 18:15] jason-gcio commented on #34143
Consider reworking the individual ratings to be descending - talk to @cohnjesse about this

[2021-12-22 18:16] jason-gcio commented on #34142
not a very high priority

[2021-12-22 18:19] LinnJS commented on #31139
![image.png](https://images.zenhubusercontent.com/5dcf313b98e0b800015f2353/e7970cbf-e9e2-4b5d-94a7-c9fce9d93504)

![image.png](https://images.zenhubusercontent.com/5dcf313b98e0b800015f2353/3c9726fd-231d-4839-bf71-25d85aba6d67)

[2021-12-22 18:19] LinnJS commented on #31139
Closing this ticket since its officially gone stale and opening a new one with a new LETT ticket.

[2021-12-22 18:22] mnorthuis commented on #33863
Hi @alexander-ferzola @LeelahHolmes, I have a couple of questions for you

1. The mock-ups do not show a confirmation page.  When the user submits their verifications, a standard form flow would have a confirmation page to notify the user their work was successfully submitted.  I'm not sure what the intended destination and messaging is based on the screens provided.
2. What does "Finish verifying

[2021-12-22 18:23] LinnJS opened #34468 "[MCP]: Continuation of LETT ticket 2480"
## Technical Task

There has been a ongoing issue that has become stale and tacked on this [ticket](https://app.zenhub.com/workspaces/vsa---debt-607736a6c8b7e2001084e3ab/issues/department-of-veterans-affairs/va.gov-team/31139) we are closing the other ticket and opening a new one for continued support over the last 4 of 6 users. first 2 are working as expected.

You can find use cases on share-poi

[2021-12-22 18:23] LinnJS commented on #31139
This ticket is being closed and continued on this new [ticket](https://app.zenhub.com/workspaces/vsa---debt-607736a6c8b7e2001084e3ab/issues/department-of-veterans-affairs/va.gov-team/31139)

[2021-12-22 18:24] #31139 closed

[2021-12-22 18:31] jason-gcio commented on #34300
The outcomes from this ticket will most likely create other tickets

[2021-12-22 18:31] #34300 closed

[2021-12-22 18:33] LinnJS commented on #34468
[Net LETT Ticket created ID#: 2,528](https://nam10.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdvagov.sharepoint.com%2Fsites%2FOITEPMOIAM%2FLists%2FIAM%2520Environment%2520Tasks%2Factive.aspx&data=04%7C01%7Cjustin.linn%40gcio.com%7C0efb363b300a44bf7d3408d9c5797121%7C6499e3f51d3e4f099ad352b9e2f67fb8%7C1%7C0%7C637757947663891618%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJ

[2021-12-22 18:33] LinnJS commented on #34468
![image.png](https://images.zenhubusercontent.com/5dcf313b98e0b800015f2353/54c7d042-2a17-4afd-8696-3ca6afc08466)

![image.png](https://images.zenhubusercontent.com/5dcf313b98e0b800015f2353/e5705d84-d989-4781-83f3-a2407ca6a919)

[2021-12-22 18:34] jason-gcio commented on #34389
close if duped?
https://github.com/department-of-veterans-affairs/va.gov-team/issues/34391

[2021-12-22 18:37] jason-gcio commented on #34390
close if duped?
https://github.com/department-of-veterans-affairs/va.gov-team/issues/34391

unless:
pending returned
pending received
pending submitted

[2021-12-22 18:39] jason-gcio opened #34469 "Backend Onboarding: Creating and Sending a PDF"
## Background
This ticket is intended to represent the efforts taken in learning how to generate and populate (and maybe send?) a PDF on VA.gov

## Considerations
[Documentation](https://depo-platform-documentation.scrollhelp.site/developer-docs/PDF-generation.721780786.html)

## Tasks
- [ ] Walkthrough documentation, if any
- [ ] Test procedures

## Acceptance Criteria
- [ ] New BE has an underst

[2021-12-22 18:41] jason-gcio opened #34470 "Backend Onboarding: Monitoring and Error Handling"
## Goals
For  backend engineers, they should have access to the proper tools, and the ability to set up monitoring for errors across different features so that we can respond quickly and efficiently in diagnosing and resolving issues.  We should not hear about errors or issues via Twitter :upside_down_face:

## Considerations
- Grafana + DataDog
- integrations into #vsa-ebn-alerts (Slack)
- a vers

[2021-12-22 19:00] #33578 closed

[2021-12-22 19:00] Dene-human commented on #34464
Looks good @SKasimow Are we able to track time spent on page?

# Current (old)
![Screen Shot 2021-12-22 at 1 58 05 PM](https://user-images.githubusercontent.com/80857940/147141902-00f319d2-9ca2-44ec-812d-dd8c20ae7596.png)

![Screen Shot 2021-12-22 at 1 57 51 PM](https://user-images.githubusercontent.com/80857940/147141906-ac5348e8-f9e9-40ea-9833-5465bc0d66b8.png)

![success](https://user-images.gi

[2021-12-22 19:04] hallihocine commented on #33608
Ticket has been validated in staging: checkbox no longer broken.

https://user-images.githubusercontent.com/86266024/147142404-9e243f26-b772-4c22-8995-10ae7e0b557e.mov

**### Screenshots**
<img width="1008" alt="checkbox checked" src="https://user-images.githubusercontent.com/86266024/147142483-999109a6-172d-4808-a566-7f63d59a986a.png">
<img width="956" alt="Checkbox unchecked" src="https://user-i

[2021-12-22 19:06] hallihocine commented on #33608
- Test run in TestRail:
https://dsvavsp.testrail.io/index.php?/runs/view/2745&group_by=cases:section_id&group_order=asc&group_id=3251
-Test Script/Steps:
[Checkbox not selectable.xlsx](https://github.com/department-of-veterans-affairs/va.gov-team/files/7764684/Checkbox.not.selectable.xlsx)

[2021-12-22 19:09] RLHecht opened #34471 "Update bold text page in style guide"
## Issue Description
We need to add a new bullet to the [bold text page](https://design.va.gov/content-style-guide/bold-text) in the content style guide explaining when text should be styled as an H3 or H4 subhead instead of being bolded.

The bullet should be in the "Don't use bold in these cases section."

Here's a ticket for background on why headers can work better than bold in certain situati

[2021-12-22 19:12] Dene-human opened #34472 "[FE] 10-10CG Update sign as rep/doc upload to reflect Bet A"
## User Story

As a representative with legal authority to make medical decisions on behalf of the Veteran, I want to be able sign my own name on the application and upload a document to prove my representative status.

As a Veteran, I want to be able to sign the application as myself.

## Expected behavior
- [x] User selects Veteran and goes to Review/signature page upon "Continue"
     - [x] (On

[2021-12-22 19:17] RLHecht opened #34473 "Update number of days to complete disability related claims for January"
## Issue Description

We need to update the number of days it takes to complete disability related claims. Sitewide content needs to email Tanekwa Bournes on the first of the month to get the number from the previous month and input into Drupal.

This needs to be done on the following pages:
https://www.va.gov/disability/after-you-file-claim/
https://www.va.gov/disability/how-to-file-claim/

## Ta

[2021-12-22 19:19] RLHecht opened #34474 "Update number of days to complete disability related claims for February"
## Issue Description
We need to update the number of days it takes to complete disability related claims. Sitewide content needs to email Tanekwa Bournes on the first of the month to get the number from the previous month and input into Drupal.

This needs to be done on the following pages:
https://www.va.gov/disability/after-you-file-claim/
https://www.va.gov/disability/how-to-file-claim/

## Tas

[2021-12-22 19:20] RLHecht opened #34475 "Update number of days to complete disability related claims for March"
## Issue Description
We need to update the number of days it takes to complete disability related claims. Sitewide content needs to email Tanekwa Bournes on the first of the month to get the number from the previous month and input into Drupal.

This needs to be done on the following pages:
https://www.va.gov/disability/after-you-file-claim/
https://www.va.gov/disability/how-to-file-claim/

## Tas

[2021-12-22 19:23] RLHecht opened #34476 "Update number of days to complete disability related claims for June"
## Issue Description
We need to update the number of days it takes to complete disability related claims and change the month to June. Sitewide content needs to email Tanekwa Bournes on the second of the month to get the number from the previous month and input into Drupal.

This needs to be done on the following pages:
https://www.va.gov/disability/after-you-file-claim/
https://www.va.gov/disabil

[2021-12-22 19:28] denisecoveyduc commented on #34169
@rileyorr Can you take a look at this one?

[2021-12-22 19:28] RLHecht opened #34477 "Update number of days to complete disability related claims for September"
## Issue Description
We need to update the number of days it takes to complete disability related claims. Sitewide content needs to email Tanekwa Bournes on the first of the month to get the number from the previous month and input into Drupal.

This needs to be done on the following pages:
https://www.va.gov/disability/after-you-file-claim/
https://www.va.gov/disability/how-to-file-claim/

## Tas

[2021-12-22 19:29] mleclerc00 commented on #34424
Loki dev was running into the error `SERVER_ERROR object too large for cache` which was remedied by increasing the `max_item_size` from ~1MB to ~10MB

All seems well now and there are no immediate concerns searching through the loki-distributed logs looking for any keywords such as `error` `fatal` `memcached` etc

I will keep an eye on it and will be moving onto setting up staging

[2021-12-22 19:29] RLHecht opened #34478 "Update number of days to complete related claims for July"
## Issue Description
We need to update the number of days it takes to complete disability related claims. Sitewide content needs to email Tanekwa Bournes on the first of the month to get the number from the previous month and input into Drupal.

This needs to be done on the following pages:
https://www.va.gov/disability/after-you-file-claim/
https://www.va.gov/disability/how-to-file-claim/

## Tas

[2021-12-22 19:30] RLHecht opened #34479 "Update number of days to complete disability related claims for August"
## Issue Description
We need to update the number of days it takes to complete disability related claims. Sitewide content needs to email Tanekwa Bournes on the first of the month to get the number from the previous month and input into Drupal.

This needs to be done on the following pages:
https://www.va.gov/disability/after-you-file-claim/
https://www.va.gov/disability/how-to-file-claim/

## Tas

[2021-12-22 19:31] mnorthuis opened #34480 "Redirect Request - GI Bill Comparison Tool URL Change"
### Instructions
- Requests must be submitted **AT LEAST** 2 weeks in advance.  Some requests take a significant amount of time and coordination to implement, so start the process as soon as you know you will need one.
- This issue will be used from initial request through implementation to ensure all individuals working on this are notified of status updates.  Please do not create multiple issues

[2021-12-22 19:31] ltrombley commented on #34070
Task #34070 - Review and list all Pages with DoD shared and independent pages for Lovell Federal health care [BA]  - is Complete and moved to Validate

[2021-12-22 19:31] joshkimux commented on #20721
Let's close it! Thank you for all the hard work @srsuddath 🙏

[2021-12-22 19:31] #20721 closed

[2021-12-22 19:32] RLHecht opened #34481 "Update number of days to complete disability-related claims for October"
## Issue Description
We need to update the number of days it takes to complete disability related claims. Sitewide content needs to email Tanekwa Bournes on the first of the month to get the number from the previous month and input into Drupal.

This needs to be done on the following pages:
https://www.va.gov/disability/after-you-file-claim/
https://www.va.gov/disability/how-to-file-claim/

## Tas

[2021-12-22 19:32] denisecoveyduc commented on #34165
@rileyorr Can you review this one?

[2021-12-22 19:33] RLHecht opened #34482 "Update number of days to complete disability-related claims for November"
## Issue Description
We need to update the number of days it takes to complete disability related claims. Sitewide content needs to email Tanekwa Bournes on the first of the month to get the number from the previous month and input into Drupal.

This needs to be done on the following pages:
https://www.va.gov/disability/after-you-file-claim/
https://www.va.gov/disability/how-to-file-claim/

## Tas

[2021-12-22 19:35] andaleliz commented on #33295
Thanks Heather! I will update the research plan so that's included. Great point!

[2021-12-22 19:39] denisecoveyduc commented on #34168
@RLHecht  Can you have a look at this one to verify it is for you?

[2021-12-22 19:40] denisecoveyduc commented on #34170
@RLHecht  Could you also look at this issue?

[2021-12-22 19:43] denisecoveyduc commented on #34171
@jimuhh This will be a future enhancement as we had to remove it from the MVP because we weren't able to get the necessary data needed. We are working on acquiring the data so that we can implement the details table.

[2021-12-22 19:45] denisecoveyduc commented on #34172
@jimuhh We worked with Accessibility @joshkimux @AngelaFowler82 who recommended we write the information in this way. Let us know which way we should go. Thanks

[2021-12-22 19:47] GnatalieH commented on #32515
Buttons date range: August 16-September 16
Action links date range: September 18-October 18

https://www.va.gov/resources/gi-bill-and-other-va-education-benefit-payments-faqs/ (View your payment history)

- [Button](https://analytics.google.com/analytics/web/#/report/content-event-events/a50123418w177519031p176188361/_u.date00=20210816&_u.date01=20210916&explorer-table.plotKeys=%5B%5D&_r.drilldown

[2021-12-22 19:49] joshkimux commented on #34172
More than happy to sync with you here @jimuhh -- in order for these headings to be semantically unique, they need to contain information of the price _and_ the location (as there can be multiple receipts per location). The compromise we ended up reaching was a heading that contains the price with a subtitle (location) that is connected to the heading via an `aria-describedby`

[2021-12-22 19:53] denisecoveyduc commented on #33846
@brianalloyd I think this falls into your space ;)

[2021-12-22 20:13] kristenmcconnell commented on #34224
Moved the meeting with Nira and Ya-ching about their accessibility findings to Jan. 5.

[2021-12-22 20:16] kristenmcconnell commented on #34224
@jparker0425 and I met with VAOS today. The plan is to work with them to run [their service blueprint study](https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/blob/master/products/health-care/appointments/research/2021-10%20Notifications%20service%20map%20workshop/pilot-study-report.md), because it will answer both of our questions. Peter Russo and myself are going to get tog

[2021-12-22 20:16] kathleencrawford commented on #34389
yes, we can close this.  i was having zenhub issues that day - it kept saying "ERROR", but apparently it kept creating these issues!

[2021-12-22 20:16] #34389 closed

[2021-12-22 20:16] #34224 closed

[2021-12-22 20:16] kathleencrawford commented on #34390
yes, we can close this.  i was having zenhub issues that day - it kept saying "ERROR", but apparently it kept creating these issues!

[2021-12-22 20:16] #34390 closed

[2021-12-22 20:34] hdjustice commented on #33834
Thanks @tressaellen !!  I made some updates to align with your feedback.  The only question I have is on the item below:

I know you stated we would figure out the exact copy, but I want to make sure we are consistently talking about Payments made or Payments upcoming.
- If we are going to show Payments Made to the user, but they do not have any made to them recently, then maybe we should say some

[2021-12-22 20:35] mmiddaugh opened #34483 "Design intent [Facilities Team - Lovell Federal Health care]"
# Steps to complete Design Intent Collaboration

## Before meeting

**VFS Product Manager or Designer**
- [x]  Create this issue and schedule meeting via Calendly (you are responsible for adding the VFS attendees).
- [x] Notify the Collaboration Cycle team of this ticket with scheduled date/time in #vfs-platform-support ([see Slack Workflow User guide](https://depo-platform-documentation.scrollhel

[2021-12-22 20:45] kristenmcconnell opened #34484 "[Research] Plan Appointment Notifications Study with VAOS"
# Description:
VAOS (Peter Russo) and Check-in are going to pair up to run a study that was already in the [VAOS backlog](https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/tree/master/products/health-care/appointments/research/2021-10%20Notifications%20service%20map%20workshop) on appointment notifications. Their study plan will also help check-in understand the appointment n

[2021-12-22 20:45] DanielleThierryUSDSVA commented on #25350
Hi @Dene-human! I reviewed the feedback in this document. Here are my comments:
**- Header suggestion:** It looks like the original line for this I'd added above didn't make it into the design. I didn't realize that before. Let's use that: **We'll now guide you through the steps to review and sign your application**
**- Suggestion for bulleted list:** Please don't make this change. It's not necess

[2021-12-22 20:47] hdjustice commented on #33834
Follow up questions:
- If a user has NEVER had payments made to them, then we will not show the section?
- If a user has had payments made to them, but perhaps it has been a year since the last one, do we show the section?
     - Is there a cut-off for the last payment made, that would determine whether we show that section?

[2021-12-22 20:51] RLHecht commented on #34168
@denisecoveyduc The first alert on this page is using the alert component that is in Drupal, so I think Public Websites would need to change the icon size in the template.

[2021-12-22 21:00] hdjustice opened #34485 "[PM] On-site Notification: Create test cases in TestRail"
## Background
With design finalized and use cases/rules documented, a list of test cases needs to be created.
Reference [My VA 2.0 Test Cases](https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/blob/master/Administrative/vagov-users/staging-test-accounts-myva.md) for examples
Reference [Getting Started](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/

[2021-12-22 21:22] ENeal49 commented on #34455
Confirming access, ticket can be closed.

On Wed, Dec 22, 2021 at 12:36 PM jonathan-epstein13 <
***@***.***> wrote:

[2021-12-22 21:27] rileyorr commented on #34181
Sent the designs to Thuy, Daniel, and Brandon for review

[2021-12-22 21:30] lunascoop commented on #34460
@RLHecht here are my revisions to the email. Let me know your thoughts.

Subject: We couldn’t process your claim application

Hello [user],

We’re sorry. Your application didn’t go through. This can happen after submitting your application using our online tool.

Please fill out an application and submit it to us by mail or in person.
[Download VA Form 21-526EZ (PDF)](https://www.vba.va.gov/pubs/f

[2021-12-22 21:47] rileyorr commented on #33165
Added the designs to UXPin:
- [Ask the Veteran if they have any unpaid credit card bills](https://preview.uxpin.com/552e9ad135f7d7ee943a92576feab45190b069f4#/pages/145377491/simulate/sitemap?mode=i)
- [If yes, ask for information about those bills (need to validate with SMEs that this is enough information)](https://preview.uxpin.com/552e9ad135f7d7ee943a92576feab45190b069f4#/pages/145377492/simula

[2021-12-22 21:57] alexander-ferzola commented on #33863
Hi @mnorthuis,

Thank you for the questions.
1. When verifying a monthly enrollment, a user is brought to a summary screen (an application review) before submitting their enrollments. E.g. [](https://share.goabstract.com/6006cf1c-c40a-4bb4-912f-e4d05bb34dd9?collectionLayerId=db0ff19e-ba20-45f4-9178-2b419516d004&mode=design&sha=latest). After submitting, they would be brought back to the landing pa

[2021-12-22 22:05] laurenernest commented on #14150
covered in #25482

[2021-12-22 22:05] #14150 closed

[2021-12-22 22:07] laurenernest commented on #14151
covered in #25482

[2021-12-22 22:21] laurenernest opened #34486 "Cerner offboarding from VAOS landing pages"
## User Story
As a Veteran registered at a Cerner site, I would like to know where I should be managing my appointments when I enter an appointments experience on VA.gov so that I don't have to go through a scheduling flow only to be redirected to another portal.

### Background
Currently in VAOS, offboarding to My VA Health (Cerner) is handled on the Facility Selection. The unauthenticated page (

[2021-12-22 22:30] outerpress opened #34487 "[Design] Surface requested appointments on home"
Based on recommendations from [recent research](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/appointments/va-online-scheduling/research/2021-request-clarification/Requests%20discovery%20-%20report.md#recommendations-3) this work will make requested appointments easier to discover.

### Metrics
After this work, views of the requested status should i

[2021-12-22 22:35] callen2563 commented on #34366
After chatting with Megan on the Search team I think it would make sense to wait until they have finished conducting discovery research as well as gaining approval for this rating component from the design system council about adding it to the experimental design system. Once we have approval to use this rating component this would be a dev task to simply add that rating component to the benefit p

[2021-12-22 22:43] SKasimow commented on #34326
@tlei123 Hi Tze - you reviewed an earlier draft write-up for these use-cases so they will probably look familiar. I know you said I didn't need to include interactions but left them in since I had them :)

I think I've covered everything needed for this ticket...except for a staging account for the authenticated user. Would I just take an account from the staging accounts repository??

Thanks and

[2021-12-22 22:45] jwowk opened #34488 "Add Active Column to Power BI DBs"

[2021-12-22 22:49] mleclerc00 commented on #34424
Loki staging is now pointing at elasticache memcached instances

[2021-12-22 22:49] jwowk commented on #34488
Add an "Active" column to site tables in Power BI dashboards. This includes:

1. Appointment Reminders
2. Patient Tracking
3. OSM
4. Surgery Notifications
5. CC Self-Scheduling
6. CC Appointment Reminders

[2021-12-22 22:49] jwowk commented on #34488
Completed 12/22/21

[2021-12-22 22:49] #34488 closed

[2021-12-22 22:56] outerpress opened #34489 "[Design] Telehealth and CC direct-scheduling concept"

[2021-12-22 23:25] lunascoop commented on #32833
@RLHecht here's the new rates updates process doc.

https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/sitewide-content/how-to-do-different-tasks/how-to-update-rates-pages.md

[2021-12-22 23:46] jhouse-solvd commented on #32825
We spoke with the team today to clarify the requirements. @mydesignrocks - please configure as time allows and communicate with the team through this issue wherever possible.

[2021-12-23 01:34] SKasimow commented on #25686
@jchilders can you review the background provided in this ticket? Would like to discuss how we could automate this reporting based on the last comment above.

[2021-12-23 02:31] DanielleThierryUSDSVA opened #34490 "Error message style guide and dictionary iteration"
## High Level User Stories

**As a Veteran or family member,** I need clear and actionable error messages so I can quickly resolve problems related to VA.gov.

As a contact center representative, I need VA.gov error messages and related support articles that encourage self-service and lower contact center volume so I can

As a VA designer, UX content writer, or developer, I need an easy way to fin

[2021-12-23 12:48] DanielleThierryUSDSVA commented on #31580
Hi @denisecoveyduc. I realized that Becca hadn't answered before she left. I think this is good to move forward, yes. Thanks!

[2021-12-23 12:53] DanielleThierryUSDSVA opened #34491 "Error message audit"
## Issue Description

As part of an iteration on the error message guide and dictionary, we need to compile error messages that are not currently in the existing [error message dictionary](https://design.va.gov/patterns/messaging-dictionary).

---
## Tasks
- [ ] Compile error messages that are not currently in the existing error message dictionary.

## Acceptance Criteria
- [ ] We have all error m

[2021-12-23 12:56] DanielleThierryUSDSVA commented on #34491
Hi @RLHecht. Here's the ticket for the error message audit. I think the easiest way to go about this might be to reach out to product teams and ask them to point you to where you can find the error messages they're currently using for their products. Or, potentially asked Kelson and team if they have an easier way to search all. I have, in the past when searching for error messages, searched withi

[2021-12-23 13:05] DanielleThierryUSDSVA opened #34492 "Add accent to "información" in Spanish COVID-19 page"
## Issue Description

Our new access to the SiteImprove tool shows that we have 2 instances on the [COVID-19 vaccine Spanish language page]([url](https://www.va.gov/health-care/covid-19-vaccine-esp/)) where we don't have the accent mark on the "o" in "información."

We need to add the accent mark.

![image.png](https://images.zenhubusercontent.com/5e8b13016a4378a604f5e799/55161de3-541b-4cf5-89b8-b

[2021-12-23 13:31] DanielleThierryUSDSVA opened #34493 "Page last updated audit for health care"
## Issue description

As part of our work to create a more robust editorial calendar and regular content auditing, we need to assess when each of the pages within the VA.gov health care hub was last updated and whether there's any information on the page that always changes at a specific time (like rates that change annually or a new law that's set to change on a certain date). We'll then work wit

[2021-12-23 13:35] DanielleThierryUSDSVA commented on #34493
Hi @RLHecht. Here's the issue and spreadsheet for the last updated audit we briefly talked about for this sprint. Just let me know if you have any questions, thanks!

[VA health care hub audit_12.15.21](https://app.zenhub.com/files/133843125/08d7a56a-1ad0-40de-82ea-6dc4ec3b414b/download)

[2021-12-23 14:33] RLHecht commented on #33309
These pages are now published. Moving to validate and will close when live.

[2021-12-23 14:44] nsmith1982 opened #34494 "Adding Ray Messina to DSVA Slack"
# Description

**new user requests**: please verify that the user does not already exist in dsva.slack.com (it may be the account exists, but is not in a particular channel)

Good morning,

Would you please add Ray Messina (ray.messina@adhocteam.us) to DSVA Slack as a Full Member?  Ray is a Frontend Engineering joining the Platform's FE Tools Team.  Please give him access to the following channels

[2021-12-23 14:45] JordanSWhite opened #34495 "Gather priorities for each Feature page"
Acceptance criteria:
Priorities gathered for Pharmacy, Messages, Health Care, Medical Records, Disability and Resources and captured in a shared resource (Mural or Zenhub)

[2021-12-23 14:46] JordanSWhite opened #34496 "Put designs in VA Staging for research"

[2021-12-23 14:48] JordanSWhite opened #34497 "Prioritize feedback from design intent"

[2021-12-23 14:50] JordanSWhite opened #34498 "Iterate auth designs based on collab cycle feedback"
Acceptance criteria:
- [ ] Design evolution captured in Mural

[2021-12-23 14:51] JordanSWhite opened #34499 "Hold midpoint review for homepage"

[2021-12-23 14:52] JordanSWhite opened #34500 "Submit research plan and conversation guide to Lauren"

[2021-12-23 14:56] mmiddaugh commented on #34026
[UX Pin](https://preview.uxpin.com/93cf67f26d2b936504ffc415de7cf97fcb8d8e1c#/pages/145465352/simulate/no-panels?mode=i)

[2021-12-23 14:56] #34026 closed

[2021-12-23 14:57] af-manish commented on #29356
@RLHecht  Thx. Attached are updated files. Please check.
[gibct-redesign-comparison-postmvp-12_20_21 updates (1).sketch.zip](https://github.com/department-of-veterans-affairs/va.gov-team/files/7769993/gibct-redesign-comparison-postmvp-12_20_21.updates.1.sketch.zip)
[gibct-redesign-comparison-postmvp-12_20_21 updates (1).pdf.zip](https://github.com/department-of-veterans-affairs/va.gov-team/files/7

[2021-12-23 14:58] #33526 closed

[2021-12-23 14:59] lunascoop commented on #34492
@RLHecht these changes are ready for review.
Vacunas contra COVID-19 en el VA: http://preview-prod.vfs.va.gov/preview?nodeId=16359

It's in the accordion "Vacunas contra el COVID-19 actualmente disponibles" in the **Antes de vacunarse** section.

[2021-12-23 15:03] RLHecht commented on #34492
Thanks @lunascoop Just reviewed and published.

[2021-12-23 15:12] hallihocine commented on #34287
Ticket has been validated in staging.
Validation Process:  different Rogers STEM scholarship applications were submitted using a different test user accounts, all of the applications were successfully submitted and a submission confirmation was sent to the provided emails.  No auto-deny emails were received. Some regression tests were done and all items work as expected.

[2021-12-23 15:13] rlyons89 commented on #33863
Confirming for #2 that we will not be saving anything in progress, a user will have to submit all of their enrollment verifications at once or start over the next time they come in.

[2021-12-23 15:13] mmiddaugh commented on #33235
This has been resolved with a lat/long update in VAST.

[2021-12-23 15:13] #33235 closed

[2021-12-23 15:14] kelsonic opened #34501 "[Bug] Jump links on hub pages"
**Slack:** https://dsva.slack.com/archives/C52CL1PKQ/p1640265795013400

## Screenshots

![image.png](https://images.zenhubusercontent.com/5d812458c75aaf0001c430f8/9b1e35e3-648d-4bc3-b6e0-46c13711d475)

![image.png](https://images.zenhubusercontent.com/5d812458c75aaf0001c430f8/f1deae95-493a-4331-bc3a-7ea3cd385449)

## Acceptance Criteria

- [ ] Ensure jump links work on benefit hub pages

[2021-12-23 15:19] pavanhothi commented on #33937
@chloedotbrown just got done doing the QA of the areas where changes were made, and all looks great! Didn't find anything that was off or confusing or shouldn't be there. Also, I checked again and confirmed that I am seeing the "by Month" for the gauge card types (Total logged in users x2, Percent logged in).

[2021-12-23 15:19] kelsonic opened #34502 "[Bug] Investigate/fix icons not rendering properly for jump links (TOC on hub pages) + breadcrumbs"
## Description

**Slack:** https://dsva.slack.com/archives/CBU0KDSB1/p1640268916489300

## Screenshots

![image.png](https://images.zenhubusercontent.com/5d812458c75aaf0001c430f8/3c32d79e-d41f-41b1-9479-fde371d7e821)

![image.png](https://images.zenhubusercontent.com/5d812458c75aaf0001c430f8/1017dcbc-ae9a-44da-85da-16013c7063b7)

## Evidence of not using Font Awesome in these places

![image](http

[2021-12-23 15:22] hallihocine commented on #34287
- Test run in Test Rail
https://dsvavsp.testrail.io/index.php?/runs/view/2748&group_by=cases:section_id&group_order=asc&group_id=3251
- Test Steps/Script:
[STEM Standalone Form Turn off Auto-decision process.xlsx](https://github.com/department-of-veterans-affairs/va.gov-team/files/7770120/STEM.Standalone.Form.Turn.off.Auto-decision.process.xlsx)

[2021-12-23 15:25] nicole-leonard opened #34503 "Form Expiration Dates"
Hi forms team. Not urgent, but we received a question from a VA program partner asking what triggers the last updated date to change on a form detail page. They asked about the 10-10EZ page specifically because the last updated date (November 5, 2021) doesn't match the last updated date of any related PDF form. I checked with our 10-10 product team and it also doesn't match up with any updates to

[2021-12-23 15:33] ERRonat0609 commented on #12185
Verified with EDU that the actions in teh gray box have been removed. However, this does not fix the problem and furthermore there appears to be a similar issue with other forms, per Cinda Quattrini of EDU. This point to the idea that this may be a platform-level issue. A separate ticket was opened for checking other forms, such as the Feedback tool and 22-1990 that were reported by Cinda. I asked

[2021-12-23 15:36] rileyorr commented on #34181
The VHA team requested a meeting in the new year to discuss the designs - considering this ticket completed and will open a new one if there are any edits once that meeting happens

[2021-12-23 15:42] denisecoveyduc commented on #31580
@DanielleThierryUSDSVA Thanks for reaching out.. We shared this notification with VHA who had a few comments that @rileyorr has been integrating. We do plan to move this forward the first week in January and iron it any current wrinkles ahead of a Jan 7th meeting with the VA Notify team. We will post the latest content - I don't believe it is that different from the one you had reviewed previously

[2021-12-23 15:43] mmiddaugh opened #34504 "[DISCOVERY] Mapbox capabilities"
## Issue Description
It's likely that the options/features available via Mapbox have changed since we last evaluated it. This issue is to discover any new capabilities we might like to leverage, particularly for mobile

---
## Tasks
- [ ] Evaluate options available via Mapbox

## Acceptance Criteria
- [ ] Documentation of options for future evaluation

[2021-12-23 15:44] rileyorr commented on #34175
Hi @seanasewell, thanks for pointing this out! Originally, the action links were going to send the Veteran to either the Financial Status Report (VA Form 5655) or the FSR's wizard. However, the FSR hasn't yet been updated to support requesting financial help for medical copays. We went through multiple design iterations and worked with both Ryan and Allison on this design. We thought that the blue

[2021-12-23 15:47] mmiddaugh opened #34505 "[CONSIDER] Revisit emergency care user flow and alerts"
## Issue Description
We need to evaluate the success of the emergency care implementation on the Facility Locator.

Questions to answer
Does the placement/style of the Call 911 message support Veteran understanding that they can use the closest ER in an emergency?
Do Veterans understand they can click through to view the emergency benefit information? (and do they?)

---
## Tasks
- [ ] _What work

[2021-12-23 15:48] DanielleThierryUSDSVA commented on #31580
Perfect - thanks @denisecoveyduc!

[2021-12-23 15:53] mmiddaugh opened #34506 "[CONSIDER] Facility Locator search radius/parameters (NCA/GUAM/PR)"
## Issue Description
Should Facility Locator allow certain searches to be performed at a state level?

- NCA legacy cemetery finder allows for state level searching - this difference has been a barrier to sunsetting this separate finder
- Are there other use cases which could benefit from this design shift? (ie: Guam, PR)

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

[2021-12-23 15:53] #33941 closed

[2021-12-23 15:59] toddstanich opened #34507 "Design intent [Digital Health Platform - Device Connection Experience]"
# Steps to complete Design Intent Collaboration

## Before meeting

**VFS Product Manager or Designer**
- [ ]  Create this issue and schedule meeting via Calendly (you are responsible for adding the VFS attendees).
- [ ] Notify the Collaboration Cycle team of this ticket with scheduled date/time in #vfs-platform-support ([see Slack Workflow User guide](https://depo-platform-documentation.scrollhel

[2021-12-23 16:00] #34204 closed

[2021-12-23 16:06] chloedotbrown commented on #33937
Awesome, thank you @pavanhothi! I'll go ahead and close this ticket then - but if anything else comes up, we can always reopen.

[2021-12-23 16:06] #33937 closed

[2021-12-23 16:08] alsleaders commented on #34409
@Kimberley2019 I've just sent you a follow-up email with what I think the problem is.  Please let me know if the veteran has any more trouble after that.

[2021-12-23 16:15] mmiddaugh opened #34508 "Manila Outpatient Clinic - VAMC page"
## Issue Description
We need to determine what changes will be needed from the usual VAMC page design/flow to provide a meaningful and relevant online experience for Veterans cared for at the Manila Outpatient clinic.

### Manila specifics
- Usual VAMC hierarchy is a system with associated locations. Manila is a single facility.
- The VA Manila Outpatient Clinic is the only VA healthcare facility

[2021-12-23 16:18] laurenernest commented on #32657
Per Marcy's comment in [Slack](https://dsva.slack.com/archives/CMNQT72LX/p1640275801196100?thread_ts=1640201831.193500&cid=CMNQT72LX), this fix was released in VAOS Service 1.15.0

Moving back to Ready for validation on our end.

[2021-12-23 16:20] kelsonic commented on #34501
PR merged, will go out with daily on 1/3/2022

[2021-12-23 16:20] #34501 closed

[2021-12-23 16:28] chloedotbrown commented on #34053
12/22 - updated scope above to reflect Q1 KRs and challenges surfaced for gauges.

[2021-12-23 16:33] kelsonic commented on #34502
@tmac9494 will be taking this one 💪 thank you!

[2021-12-23 16:36] armaanshah-tw opened #34509 "Offboarding of Armaan Shah"
# Instructions
Fill out name of individual and *Description* section below.

# Description
- Please provide the name of the individual needing offboarded.

- Please provide the name of their team, their role on that team, expected last day, and the name of the company they work for.

- Please provide any type of access they may have and their GitHub username.

## AC
*Performed by Platform team*
 -

[2021-12-23 16:59] tressaellen commented on #33834
@hdjustice very great point - I'll pass this along to Liz who is working on content.

Totally - I'm kind of assuming it'll be like a one year cut off, but it's definitely something we could include in research. @andaleliz do you mind adding a question about this when we start on the conversation guide?

[2021-12-23 17:00] KCollinsBrown opened #34510 "Adding Erickson White to DSVA Slack"
# Description

**new user requests**: please verify that the user does not already exist in dsva.slack.com (it may be the account exists, but is not in a particular channel)

<describe the request>

Are you requesting to add an individual as a:

- Full member
- Single guest
- Multi-channel
- Switching from single-channel to multi-channel?
- What channel(s) do they need to be added to?

Then add a

[2021-12-23 17:03] KCollinsBrown opened #34511 "Adding Eric Ambrister to DSVA Slack"
# Description

**new user requests**: please verify that the user does not already exist in dsva.slack.com (it may be the account exists, but is not in a particular channel)

<describe the request>

Are you requesting to add an individual as a:

- Full member
- Single guest
- Multi-channel
- Switching from single-channel to multi-channel?
- What channel(s) do they need to be added to?

Then add a

[2021-12-23 17:03] KCollinsBrown commented on #34510
Closing - he has already been invited to Slack (duplicate request)

[2021-12-23 17:03] #34510 closed

[2021-12-23 17:17] RLHecht commented on #34460
Here are the edits from our slack convo:

Subject: We couldn’t process your claim application

Hello [user],

We’re sorry. Your application didn’t go through. Something went wrong on our end, but we’re working to fix the problem.

Please fill out a new application and submit it to us by mail or in person.
[Download VA Form 21-526EZ (PDF)](https://www.vba.va.gov/pubs/forms/VBA-21-526EZ-ARE.pdf)

**

[2021-12-23 17:34] #34287 closed

[2021-12-23 17:35] Kimberley2019 commented on #34107
@alsleaders caller reached out for a status update.  Encrypted email sent.  Please advise.

From: Daniels, Kimberley N. (Oddball, Inc.)
Sent: Thursday, December 23, 2021 12:34 PM
To: Leaders, Amanda L. (Government CIO) <Amanda.Leaders@va.gov>
Subject: FW: VA Benefits Letter download issue

Good Afternoon Amanda,

Can you please provide a status update on the issue below?

Kind Regards,

Kimberley

[2021-12-23 17:38] mydesignrocks commented on #32825
This is now complete and should be available for use with github action (I will include the details in the issue as well)
service account: svc-gha-va-virtual-agent-user
paramstore details for aws access and secret keys:

[2021-12-23 17:38] mydesignrocks commented on #32825
![image](https://user-images.githubusercontent.com/69813558/147274916-6eb953d3-9bf5-41ae-bc8f-f1f2fe18026e.png)

[2021-12-23 17:49] JordanSWhite opened #34512 "Iterate Unauth to match updates from Auth"

[2021-12-23 17:50] tlei123 commented on #34326
@LinnJS / @jchilders , a couple requests if you wouldn't mind:

1.  Please takea look at the [provided Use Cases](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/10-10ez/use-cases.md), and let me know if we really need separate cases to **test the AIQ page itself**?\*
2.  Once the above is decided, please help determine the Staging test-account(s) for the Case(s)

[2021-12-23 17:51] mydesignrocks commented on #34509
/request Armaan Shah

[2021-12-23 17:54] mydesignrocks commented on #34509
no socks, aws, PD, sentry, DD

[2021-12-23 17:54] Kimberley2019 commented on #34409
@alsleaders I have sent the veteran an email with the information that you have provided.  I will inform you of his response.

Thank you very much and lets keep our fingers crossed!

[2021-12-23 17:57] bethpottsVADEPO commented on #32178
@lunascoop @RLHecht Thanks for getting this in drupal. Could you update with this text?:

The Appeals Modernization Act
Learn more about how this law improves the decision review process.

[2021-12-23 18:00] RLHecht commented on #34460
@bethpottsVADEPO Here are our edits to the 526 email. Please let us know when we can put the final copy in their intake request ticket.

[2021-12-23 18:05] lunascoop commented on #32178
@RLHecht I updated the link teaser.

[2021-12-23 18:08] RLHecht commented on #32178
Thanks! @bethpottsVADEPO Let me know if I should send this to the stakeholders to review.

[2021-12-23 18:09] Kimberley2019 commented on #34409
@alsleaders veteran responded.  Encrypted email sent.

Caller is asking a question regarding the 0% rating and requesting a phone call.

[2021-12-23 18:11] SKasimow opened #34513 "On-Boarding | Testing Tools | Unit Testing"
## Story
As a new FE engineer, I need to become familiar with the current tool suite I need to use for acceptance testing, unit testing and end-to-end testing, as well as some soon to be deployed testing tools.

## Acceptance Criteria

- [x] Unit testing - Complete React Testing Library (RTL) course on Udemy
- [x] Review and understand hca application unit tests
- [x] Add or modify some hca unit t

[2021-12-23 18:15] GcioNapoleon commented on #34327
This is the function that's causing the problem. Instead of passing the Front End camelcase values it would be a better option if the CMS sent us values that don't need nay modification.

![Screen Shot 2021-12-23 at 11 56 17 AM](https://user-images.githubusercontent.com/95312667/147276662-6efcbaf2-58db-4664-84aa-88689171dc34.png)

https://api.va.gov/facilities_api/v1/va/vba_306h

"services": {

[2021-12-23 18:15] SKasimow commented on #34513
jj

[2021-12-23 18:25] candy-gcio commented on #34136
These are still drafts - need to finalize timing and get a UX review before being ready for platform review and usability testing.
- [Research Plan](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/ebenefits/features/view-update-POA/research-design/usability-testing/view-search-appoint-research-plan.md)
- [Conversation Guide](https://github.com/department-o

[2021-12-23 18:27] RLHecht commented on #29356
@af-manish These changes in the PDF look good. Thanks!

[2021-12-23 18:29] mnorthuis commented on #33863
Thank you both for such speedy responses.  A few responses, happy to jump on a call if that would help as well.

1.  I remember the convo about eliminating the review screen, but not the confirmation.  I'm not necessarily recommending you add in a screen, but you do need to provide some sort of confirmation messaging/notification so users know that the submission was successful.
2.  For this, sinc

[2021-12-23 18:30] RLHecht commented on #34492
Changes are live. Closing ticket.

[2021-12-23 18:30] #34492 closed

[2021-12-23 18:32] RLHecht commented on #33309
Changes are live. Closing ticket

[2021-12-23 18:32] #33309 closed

[2021-12-23 18:35] k80bowman opened #34514 "Define DST Accessibility Specialist role"
## Description
We would like to create a clearer definition of the responsibilities for the Accessibility Specialist role on the Design System Team. We are collecting information in this [Work-in-Progress Confluence document](https://vfs.atlassian.net/wiki/spaces/DST/pages/2030108729/Accessibility+Specialist+Role+Definition) and we will publish it once it is finalized.

## Details
Courtney, Carol,

[2021-12-23 18:37] ptouchton opened #34515 "Refactor standard react select component to the new VaSelect component in Va designs"
Vaos application has a select component based off of the react select component that needs to be refactored to the new VaSelect component.

[2021-12-23 18:39] srsuddath commented on #33342
@joshkimux the fix for this PR is now live on staging, if you wouldn't mind checking it out! enter key should work to open the modal as well!

[2021-12-23 18:39] bramleyjl opened #34516 "Create vets-api Slack Service module"
## Issue Description
`vets-api` currently leverages a Ruby gem called [Slack Notify](https://github.com/sosedoff/slack-notify) to handle most of its Slack notifications, this gem is largely unsupported at this point and does not allow for rich text formatting via Slacks [Block Kit](https://api.slack.com/block-kit) framework - only plain text messages can be sent. In addition to this gem, the Appea

[2021-12-23 18:48] andaleliz commented on #33834
Absolutely - I have this in one of the tasks in the guide. It may come up organically, so this an "if needed" reminder to myself to ask about it:

[2021-12-23 18:52] sporeboy commented on #34135
Initial draft of prototype follows an unauthenticated workflow. The UXPin screens begin here: https://preview.uxpin.com/ff9dda3348ca1caa09500613a08dbe3fa512da5a#/pages/145370991

[2021-12-23 18:52] mleclerc00 commented on #34424
Loki sandbox/utility are now pointing at elasticache memcached instances.  Will be waiting until next week to roll out prod.

[2021-12-23 18:58] bramleyjl commented on #7300
This ticket is blocked pending the creation of a new Slack notification module (#34516), which it will leverage to notify #vsp-identity of SAML metadata conflicts

[2021-12-23 18:59] jason-gcio commented on #32155
unplanned went before this: 34388 and 34391

[2021-12-23 19:12] Kimberley2019 opened #34517 "[Tier 3] Disability claim issue - SF 06484296"
## Issue Description
_Please review encrypted email and details below in order to review and resolve claim submission issue for caller._

---
## Tasks
- [ ] _Review provided details in ticket_
- [ ] _Review additional information from encrypted email_
- [ ] _Advise if additional information is required for review and resolution_
- [ ] _Contact veteran and set up shadowing call if needed_

## Accep

[2021-12-23 19:14] rileyorr commented on #33166
The designs have been added to the UXPin prototype:
- [The veteran selects any applicable debts ](https://preview.uxpin.com/552e9ad135f7d7ee943a92576feab45190b069f4#/pages/145482543/simulate/sitemap?mode=i)
- [An example of adding a medical bill](https://preview.uxpin.com/552e9ad135f7d7ee943a92576feab45190b069f4#/pages/145482544/simulate/sitemap?mode=i)
   - [Ask if they have another medical bill

[2021-12-23 19:15] bramleyjl commented on #32969
Remaining test accounts (including existing and new accounts for TUD) have had their ID.me & Login.gov credentials correlated

[2021-12-23 19:18] RLHecht commented on #34170
@denisecoveyduc The way Danielle reworked the static page there will be an H2 between the alert and the react widget on the page. The revised text is in the Drupal preview: http://preview-prod.vfs.va.gov/preview?nodeId=704 per [this ticket](https://github.com/department-of-veterans-affairs/va.gov-team/issues/27780#issuecomment-988771804).

[2021-12-23 19:18] Kimberley2019 commented on #34517
@alsleaders encrypted email sent.

[2021-12-23 19:20] nsmith1982 opened #34518 "Adding Peter Lane to DSVA Slack"
# Description

**new user requests**: please verify that the user does not already exist in dsva.slack.com `(it` may be the account exists, but is not in a particular channel)

Good afternoon,

Would you please add Peter Lane (Peter.lane@adhocteam.us) as a Full Member of DSVA Slack? Peter is a Frontend Eng joining the Platform's Design System team. Please give him access to the following channels:

[2021-12-23 19:24] k80bowman opened #34519 "Review Platform Accessibility Documentation"
## Description
The Platform team developed a set of accessibility standards earlier this year. We need to review them and note how these guidelines affect our accessibility documentation on design.va.gov.

Specifically, we need to know:
- Do we need to update any documentation on design.va.gov to match the Platform accessibility standards?
    - If so, which pieces? Please provide links and a desc

[2021-12-23 19:27] af-manish commented on #29356
Thx @RLHecht

[2021-12-23 19:29] jchilders commented on #34326
@tlei123 A single use case should be fine.

[2021-12-23 19:33] #34217 closed

[2021-12-23 19:33] RLHecht commented on #32178
This is waiting on the stakeholder to confirm if a report we are linking to is 508 compliant.

[2021-12-23 19:39] LindseySaari commented on #34451
# Spool File / EducationBenefitClaim Reprocessing

# Background
The `CreateDailySpoolFiles` job runs daily to gather EducationBenefitClaim records to be sent for processing. The records are formatted and grouped into different regions. The formatted files are then sent via SFTP to a TIMS team server for further processing.

# What went wrong
At the beginning of the week of 12/21, the EDU & TIMS te

[2021-12-23 19:39] LindseySaari commented on #34451
@rileyanderson @thilton-oddball Could you please review the docs I wrote up here please? Feel free to add/edit as you see fit. Thanks!

[2021-12-23 19:43] Evafloyd commented on #33186
Lauren Alexanderson also helped us: Spokane confirmed that they check demographics every time a veteran comes in.

[2021-12-23 19:47] jhouse-solvd commented on #32892
@k80bowman - I think it sounds like we might want Ops to create an AWS IAM service account that has access to Parameter Store for storing/fetching secrets. Those secrets can then be used in GitHub Actions, ie an NPM token tied to a platform-wide user account.

I'm not yet clear on where to sign up and create the token, but I think it might be this: https://www.npmjs.com/signup

Can you confirm and

[2021-12-23 19:51] Dave-Sukharan commented on #34192
[SME Benefits Research.pdf](https://github.com/department-of-veterans-affairs/va.gov-team/files/7771135/SME.Benefits.Research.pdf)
Here are the raw notes from our first two sessions. I can make a more formal output of research, if necessary, for these interviews as well!

[2021-12-23 19:52] #34192 closed

[2021-12-23 19:53] jhouse-solvd commented on #32015
A common use case lately is setting up an AWS IAM service account like svc-<purpose>-<team or product>... That service account then has access to a specific path in parameter store so that it can store/fetch secrets that can be used in build and deployment pipelines et al.

e.g.
- [AWS / IAM] Create service account that can be used with GitHub Actions for VA Virtual Agent #32825
- [GitHub Actions]

[2021-12-23 19:53] Dave-Sukharan commented on #34011
[Research Plan Drafted Services Research](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/facilities/facility-locator/research/user-research/services-benefits-taxonomy-USERS/research-plan.md)
[Convo Guide Drafted for Services Research](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/facilities/facility-locator/research/user-rese

[2021-12-23 19:54] alsleaders commented on #34409
@vhenry07 Do we have a procedure for getting on calls with veterans?  And is there any information available about changing a 0% disability rating?  I'm extremely hesitant to get on a phone call when I'm not sure how this is supposed to work.

[2021-12-23 19:55] joshkimux commented on #33342
Just verified! Works perfectly 💯

[2021-12-23 19:55] #33342 closed

[2021-12-23 20:05] Evafloyd commented on #34221
We're switching to staff feedback intake due to Omicron and expectations that we won't be able to conduct the research in person. Let's consider using https://www.optimalworkshop.com/questions/ to question intake.

[2021-12-23 20:05] LindseySaari opened #34520 "Move PgHero query stat capture and cleanup jobs to K8s"
## Issue Description
We most likely still want to have have some sort of historical query stats for PgHero. By removing pghero from vets-api, we will no longer have the historical query stat OR cleanup jobs running on a schedule via Sidekiq. https://github.com/department-of-veterans-affairs/vets-api/pull/8757/files.

Additionally, we will want the cleanup job that runs daily to clean up old histor

[2021-12-23 20:05] Evafloyd commented on #34221
Building a page here https://github.com/department-of-veterans-affairs/va.gov-team/new/master/products/health-care/checkin/research/veteran-facing

[2021-12-23 20:20] k80bowman commented on #32892
@jhouse-solvd yes that is where we would need to create the token. Thank you!

[2021-12-23 20:25] CBonade opened #34521 "Optimize Filtered Views of Product QA Dashboard Cards"
Our cards currently show all products as a default view, while allowing them to be filtered by a single product. There are two different ways filters can be applied, however, and they achieve different results depending on how that's done. While we may create a drill down view that applies when a single product is clicked, when the page filters by a product it will not access that drilled down vie

[2021-12-23 20:27] holdenhinkle commented on #32969
All of the accounts that should be associated with both an `idme_uuid` and a `logingov_uuid` are now.

[2021-12-23 20:31] alsleaders commented on #34517
@michelpmcdonald helped me and we  pulled the info on this submission based on the PII in the email.

The 526 submission failed with PIF in Use. Not sure how to proceed.

1. No technical workaround, requires manual field review of vet's data, and manual clearing of stuck PIFs.
2. We don't have a way to manually kick off the pif clearing process.
3. To make sure we covered all bases Michel tried to

[2021-12-23 20:31] holdenhinkle commented on #33789
I worked with John to make sure all of the accounts that should be associated with both an idme_uuid and a logingov_uuid are now.

One remaining issue:

Also, I removed the ability to generate a one-time code when an account is checked-out (`Available`) so others can't use TUD to checkout the user at the same time:
![image.png](https://images.zenhubusercontent.com/5f85bcde4f4764585e8ff820/b1a53da8

[2021-12-23 20:39] CBonade commented on #34521
Did some mulling on this today and adjusted the lighthouse data to reflect my findings. Looking to discuss a further plan for this early next week.

[2021-12-23 20:40] CBonade opened #34522 "Fix broken Mochawesome videos"
During our refactoring of the Mochawesome ingestion mechanisms, we unintentionally broke videos loading properly in the Mochawesome reports. These videos are invaluably helpful for anyone that wants to troubleshoot their failing tests and should be fixed as soon as we can.

[2021-12-23 20:41] andaleliz commented on #31615
I reviewed this with Mikki and Danielle today in office hours. They had one small tweak to the veribage, which has been updated in [the Sketch files](https://www.sketch.com/s/418ca6f6-cc24-4496-82aa-9deda03b08f6). I haven't updated the Mural board.

You have new debt. [Manage your VA debt](link to debt page)

It's longer, but linking the words "you have 3 outstanding debts" is not clear as to wher

[2021-12-23 20:42] #31615 closed

[2021-12-23 20:43] CBonade commented on #34522
This is now merged and fixed. The culprit was both the video artifact download, and subsequent upload of videos to S3 not jiving with our directory restructure we implemented in our refactoring of the ingestion mechanism. Additionally, some work was needed to be done to alter how we were rewriting the video URLs to be found appropriately at the S3 level. All set and confirmed with a deliberately f

[2021-12-23 20:53] candy-gcio commented on #34133
I replied to Mikki's questions, but she has been out so I'm not sure if they are resolved. I also sent an email to Melissa Rebstock and Nathan Kroes re: ownership of the pages.

[2021-12-23 20:54] andaleliz commented on #34015
We discussed this in office hours and decided on the following changes:

- Update **Payment information** heading to **Benefit payments and debts**
- Update the alert copy from a single link to improve clarity about where the user would go if they clicked the link, and to align with other similar CTAs on VA.gov. The new copy is: You have 3 outstanding debt. [Manage your VA debt]
- Update the card

[2021-12-23 20:54] #34015 closed

[2021-12-23 20:57] andaleliz commented on #33839
We discussed this in office hours and decided on the following changes, which are now all reflected in [the Sketch files](https://www.sketch.com/s/418ca6f6-cc24-4496-82aa-9deda03b08f6) (I have not updated the mural board yet).

- Update **Payment information** heading to **Benefit payments and debts**
- Update the alert copy from a single link to improve clarity about where the user would go if th

[2021-12-23 20:57] andaleliz commented on #31615
@hdjustice can you make a separate ticket for the copy documentation please, since I'm out for the rest of this sprint and won't get to it today? There can be one ticket for this and onsite notifications. Thank you!

[2021-12-23 20:57] #34133 closed

[2021-12-23 20:59] k80bowman opened #34523 "Add customization of feature name to Privacy Act Statement"
## Description
[Original feature request ticket](https://app.zenhub.com/workspaces/vsp-design-system-5f8de67192551b0012ebb802/issues/department-of-veterans-affairs/vets-design-system-documentation/381)

"The first line of the respondent burden paragraph within the privacy act statement always states the feature is for “education benefits,” even when the feature is something else like the caregiver

[2021-12-23 21:02] k80bowman opened #34524 "Make the Respondent Burden section of the Privacy Act Statement optional"
## Description
[Original feature request ticket](https://app.zenhub.com/workspaces/vsp-design-system-5f8de67192551b0012ebb802/issues/department-of-veterans-affairs/vets-design-system-documentation/381)

"Health questionnaires will not have a respondent burden or OMB control number. Therefore, the entire respondent burden section of the privacy act statement does not apply. The health questionnaire

[2021-12-23 21:03] bethpottsVADEPO commented on #34460
@lunascoop @RLHecht
Thank you, this is much improved. Here are some suggestions I have (and I don't need to see it again--you can update the intake request and send it off to that team!):
1/ Subject line: We couldn't process your VA.gov disability claim application
2/ I think you should take out "but we're working to fix the problem" because that doesn't matter for someone we're telling needs to f

[2021-12-23 21:06] k80bowman commented on #5871
Thank you @CourtneyChambers77! Moving this card back our Reviewed/Needs Prioritized column so we can prioritize it for work.

[2021-12-23 21:07] k80bowman commented on #20488
Thank you @CourtneyChambers77! Moving this card back our Reviewed/Needs Prioritized column so we can prioritize it for work.

[2021-12-23 21:10] kristenmcconnell commented on #34087
Reviewed designs with the UX team on Dec. 23. Here are a few decisions made at the Check-in UX team meeting...

- Due to accessibility and limiting number of font styles, we are going to format the labels (such as "Mailing address") as bold body text. If it is bold body copy, then a screen reader will read the entire block of contact information together.
- We are going to leave the "home address

[2021-12-23 21:10] #34087 closed

[2021-12-23 21:14] RLHecht commented on #34119
@kevinstachura Here is the edited text ready for your team:

Subject: We couldn't process your VA.gov disability claim application

Dear ((First name)),

We’re sorry. Your Application for Disability Compensation and Related Compensation Benefits (VA Form 21-526EZ) didn’t go through. Something went wrong on our end.

Please fill out a new application and submit it to us by mail or in person.
[Downl

[2021-12-23 21:15] RLHecht commented on #34460
Thanks @bethpottsVADEPO Sent Kevin the revised content in the other ticket. Closing this one.

[2021-12-23 21:15] #34460 closed

[2021-12-23 21:21] kristenmcconnell opened #34525 "[Design] Content/Accessibility Review of Editing Demographics and Next of Kin"
# Description:
A complete draft of editing demographics and next of kin information within the pre-check-in experience was completed within ticket #34087. The designs were not reviewed with content and accessibility. During 34087, it was determined that we do not know what fields are required when editing next of kin. We need to more information about the required fields.

# Tasks:
- [x] Review th

[2021-12-23 21:27] kristenmcconnell opened #34526 "[Design] Update Mailing/Home Addresses are the Same Pattern"
# Description:
We made the decision to utilize the same pattern that profile is currently using for ["your mailing address and home address are the same."](https://www.sketch.com/s/5331b114-280d-4ff5-8d36-ec49b1696b9e/a/m1yqZxg) Profile is actively improving this design and has a user study planned for the first week in January 2022. Based upon profile's findings, we should revisit this pattern an

[2021-12-23 21:28] andaleliz commented on #34117
@tressaellen here's a draft of the conversation guide - thanks in advance for your review and edits. Since I'll be out, it would be wonderful if you could tag Samara for her review once you think this is ready to rock.  I'd love to have this ready to submit the first week of January, but I'm anticipating I will be busy with profile research that week. So I extra-appreciate your help :)

A few note

[2021-12-23 21:31] kristenmcconnell opened #34527 "[Design] Phone Numbers in Pre-check-in's "Need Help" section"
# Description:
Should the pre-check-in experience provide clinic and facility phone numbers within the Need Help section and not just a link to the facility locator tool?

For day of check-in we decided to not include the phone numbers, since staff members are easily accessible and clinic phone numbers are moving to the call center. Within pre-check-in, Veterans are at home (not at a VA facility).

[2021-12-23 21:31] andaleliz commented on #34003
I reviewed this with Danielle and she suggested "Explore VA benefits and health care".

We can update this across all Sketch files as part of #34155; in the meantime [here's a mock-up](https://www.sketch.com/s/19703066-4d7c-4c29-841c-cacffa8f49ae/a/Gmr4AAE).

This is ready for a FE implementation ticket.

[2021-12-23 21:31] #34003 closed

[2021-12-23 21:52] laurenernest opened #34528 "Analytics Clean-up for VAOS Express Care"
# Google Analytics Implementation or QA Request

## What this form is for

<details>
<summary>More Information</summary>
<div>
    <br>
<p>Use this template to request Google Analytics implementation or QA for your product. Please fill out all brackets.</p>

</div>
</details>

## Description
### Required
- **Is this request for **Google Analytics implementation** or **QA**?**

     - [x] Google An

[2021-12-23 22:32] jonathan-epstein13 commented on #34528
@laurensimpson14 @jennaouellet @bsmartin-ep just tagging you all here in regards to this ticket for when you all get back. Happy Holidays!

[2021-12-23 22:32] bethpottsVADEPO commented on #33863
@alexander-ferzola Apologies for the delay in getting you content feedback! I'm attaching a Word doc with edits to the screens in the mockup. A few notes to summarize the types of edits I made:
1/ I changed passive to active voice throughout.
2/ I wanted to standardize one way of referring to the benefit rather than varying "awards" and "payments"--you'll see that I mostly went with "payments" sin

[2021-12-23 22:38] DanielleThierryUSDSVA commented on #33349
Hi @RLHecht @lunascoop. Adding this as a reminder for us to discuss when we all get back from the holidays: My HealtheVet vs. My VA (Cerner) portals in the different views and how this notifications content needs to work into that.

[2021-12-23 22:39] DanielleThierryUSDSVA commented on #26646
I believe we determined that we do **not** want to proceed with this for now. So, I'm putting this in the icebox. @denisecoveyduc, if that's not correct or if we need to reopen and revisit, just let me know. Thanks!

[2021-12-23 22:56] natashaj7 commented on #32980
@mnorthuis As Maria said, thanks again for your thoughtful engagement and feedback.

We incorporated and tested some of your suggestions in the research sessions we are conducting with Veterans. From what we have gathered so far:
- Veterans appreciate the unsubscribe confirmation page as it is and do not feel a need for a confirmation page in between, but appreciate having the subscribe again butt

[2021-12-23 23:07] natashaj7 commented on #32880
Thanks Allison, we are working on incorporating and testing some of the feedback from Mikki in the IA and content review as well.

[2021-12-23 23:25] LizCallaghan commented on #34518
done!

[2021-12-23 23:25] #34518 closed

[2021-12-23 23:26] LizCallaghan commented on #34511
done!

[2021-12-23 23:26] #34511 closed

[2021-12-24 00:29] DanielleThierryUSDSVA opened #34529 "Create R&S pilot kickoff materials"
- Goals
- Roles and responsibilities
- Process and timeline documentation
- Checklists (work with Beth and Randi)
- R&S authoring guide (work with R&S and CMS team)

[2021-12-24 21:54] SKasimow opened #34530 "RESEARCH | LOE to Remove SSN from 10-10 Forms"
## Background

We received a request to assess the level of effort that would be required to remove SSN fields from the 10-10 forms. At this point, there aren't any concrete plans to do this nor what might be used lieu of SSNs so the ask is just to evaluate effort to remove from front-end nd back-end required fields.

## Tasks

-[ ] Determine front-end/UI changes that would be needed for the 10-10

[2021-12-25 18:08] niradatta1 commented on #33079
@kristenmcconnell FYI, will need to pull this ticket into next sprint, since @ytsaoca and i focused on pre-check-in UX review this sprint.

[2021-12-26 23:52] adamwhitlock1 commented on #34429
I added a recommendation doc here:

https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/content-localization/development/Recommendation-Fact-Sheet-Search.md

[2021-12-27 00:34] LizCallaghan commented on #33217
done!

[2021-12-27 00:34] #33217 closed

[2021-12-27 00:36] LizCallaghan commented on #34494
done!

[2021-12-27 00:36] #34494 closed

[2021-12-27 02:51] jparker0425 opened #34531 "[FE] Pre-Check-in: Route to Appointment Confirmation Screen when Revisiting a Link"
## How to configure this issue

- [ ] Attached to an Epic (what body of work is this a part of?)
- [ ] Correctly Labeled
- [ ] Fill in User Stories
- [ ] Fill in Documentation
- [ ] Fill in Tasks
- [ ] Fill in Acceptance Criteria

---

## User Story

- (%FILL IN%)
- (%FILL IN%)

## Related Documentation

- [Sketch](https://www.sketch.com/s/e79a827e-42cf-4a82-b554-874c75b5c70e)
- [Product Docs](htt

[2021-12-27 03:00] jparker0425 opened #34532 "[FE] Pre-Check-in: Implement 24 Hour Check for Confirmation Status"
## Description
This ticket is regarding the need to implement a check to see if the pages in the pre-check-in workflow have been confirmed within the past 24 hours.

- Demographics
- NOK
- Emergency Contact

For each page, if confirmed within the specified timeframe, the page with need be hidden on the **day-of** check-in. i.e., if Demographics is confirmed, but NOK and Emergency Contacts are not,

[2021-12-27 03:09] jparker0425 opened #34533 "[BE] Vets-api to pass along data for pre-check-in"
## Description
CHIP is adding confirmation data that is stored in LoROTA for **Pre-Check-in**(currently only stored for day of check-in).

Vets-API will need pass along that data for pre-check-in.

## Related Documentation

- [Sketch](https://www.sketch.com/s/e79a827e-42cf-4a82-b554-874c75b5c70e)
- [Product Docs](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/he

[2021-12-27 03:17] jparker0425 opened #34534 "[BE] Vets-api to call initiate pre-checkin endpoint with UUID"
## Description
To refresh pre-check-in data, vets-api needs to call initiate pre-checkin endpoint with UUID.

Plan is to have vets-api make call to LoROTA GET, then with that data make call to CHIP InitiatePreCheckIn endpoint, then make another call to LoROTA GET before sending data back to FE.

## Related Documentation

- [Sketch](https://www.sketch.com/s/e79a827e-42cf-4a82-b554-874c75b5c70e)
- [

[2021-12-27 03:22] jparker0425 opened #34535 "[FE] Pre-Check-in: Receive data from vets-api containing UUID for Refresh"
## How to configure this issue

Once BE completes the work to call initiate pre-check-in with the UUID, FE will need to receive this data in order to refresh pre-check-in data.

- [ ] Attached to an Epic (what body of work is this a part of?)
- [ ] Correctly Labeled
- [ ] Fill in User Stories
- [ ] Fill in Documentation
- [ ] Fill in Tasks
- [ ] Fill in Acceptance Criteria

---

## User Story

- (

[2021-12-27 03:27] jparker0425 opened #34536 "[BE] Pre-Check-in: Single Refresh Endpoint"
## Description
In the Pre-check-in flow, there needs to be a single refresh endpoint created.

## Related Documentation

- [Sketch](https://www.sketch.com/s/e79a827e-42cf-4a82-b554-874c75b5c70e)
- [Product Docs](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/health-care/checkin)

## Tasks

## Acceptance Criteria

- [ ] Deployed and tested on staging.

[2021-12-27 03:32] jparker0425 opened #34537 "[UX] Pre-Check-in: Loading Indicator and Wording"
Review loading indicator and wording that is currently happening after authenticating.

[2021-12-27 03:57] jparker0425 opened #34538 "[UX] Pre-Check-in: Editing AFTER Confirmation(s) take Place"
## User Story
As a Veteran, I want edit capabilities for the pre-check-in pages after I have already confirmed, so that I can update data if needed and/or re-confirm.

## Description
This item is to research how to handle editing after confirmations have taken place for the pages in the pre-check-in flow:

- Demographics
- NOK
- Emergency Contact

Veteran goes through Pre-Check-in and confirms all

[2021-12-27 04:22] tpharrison commented on #34115
@Samara-Strauss, @MarciMcGuireGCIO - I've read through the documentation, but I've only had a one-on-one chat with Adam.

[2021-12-27 04:52] jparker0425 opened #34539 "[UX] Research - Testing Low Vision Poster"
This item is to research how to test the low vision poster. We need to determine various possible methods that can be used.

### Tasks
- [x] Discuss with Martha Wilkes

[2021-12-27 05:00] jparker0425 opened #34540 "[UX] Brainstorm Ideas for End-to-End Testing in Prod for PCI and CI with Veterans"
## Problem Statement
Determine how end-to-end testing can take place in production for pre-check-in and day-of check-in with Veterans.  Ideally, we'd have vets who have upcoming appt. who could potentially do a diary study to share experience from PCI->day of CI.

## Background Info
We have been hearing some feedback from St. Louis about the confusion between pre-check-in and check-in. We haven’t

[2021-12-27 05:11] jparker0425 opened #34541 "[UX] Research - Vet Answers “NO” in Pre-Check-in, what should the UX for Day-of Check-in be?"
## Description
If a veteran answers “NO” to a question in pre-check-in, what should the day-of check-in experience?
   - Should we show the screen again on day-of check-in or hide it?

[2021-12-27 11:52] nbarthelemy commented on #29369
Here is my branch: https://github.com/department-of-veterans-affairs/vets-website/tree/29369-remove-expanding-filter-group

[2021-12-27 13:58] hdjustice opened #34542 "[Design] My VA - Payment Information: Create copy documentation"
## Background

After Liz' meeting with Mikki and Danielle with Content, we're ready to create a copy document for the payment section of my VA.

- Update Payment information heading to Benefit payments and debts
- Update the alert copy from a single link to improve clarity about where the user would go if they clicked the link, and to align with other similar CTAs on VA.gov. The new copy is: You h

[2021-12-27 13:59] hdjustice commented on #31615
#34542 ticket created for next sprint

[2021-12-27 14:03] allison0034 commented on #34483
@mmiddaugh this is confirmed for 1/7/22 at 2pm ET

[2021-12-27 14:05] pjhill commented on #32009
This is a great visualization that's essential to understanding QA practice. The usefulness of this will expand as we increase the scope and quality of our product mappings.

[2021-12-27 14:05] #32009 closed

[2021-12-27 14:09] pjhill commented on #34522
Yep, looking good. I pulled up a random failed run and found [this ](https://testing-tools-testing-reports.s3-us-gov-west-1.amazonaws.com/vets-website-cypress-reports/7890576c-2245-45c2-8baa-e73a1fc5c7b3.html)playback available.

[2021-12-27 14:09] #34522 closed

[2021-12-27 14:12] #34178 closed

[2021-12-27 14:51] hdjustice opened #34543 "[PM] On-site Notification: Determine the QA/testing strategy to trigger the notification on My VA"
## Background

MVP - The on-site notification will only appear when a new debt notice has been sent to the veteran through VA Notify (This is for a new debt incurred by Veteran. Will not show for any other notices sent to veteran).  When VA Notify sends a message to the veteran, they should also communicate to My VA that the notice has gone out to that person.  My VA will receive this information,

[2021-12-27 14:57] hdjustice opened #34544 "[Design] My VA - Payment Info and On-site Notifications: Update design docs with changes from research"
## Background

Research sessions and synthesis is complete.  We have some immediate changes we will implement as part of our MVP, which need to be updated within the design documentation.

## Reference Materials

- [Sketch File](https://www.sketch.com/s/418ca6f6-cc24-4496-82aa-9deda03b08f6)
- [Mural board](https://app.mural.co/t/vsa8243/m/vsa8243/1640028268317/2ba4e1b2846c87f5d0bfc6bcb643bef84720b

[2021-12-27 15:01] hdjustice opened #34545 "[FE] My VA - Payment Information and On-site Notification: Begin build for prototype of the new Benefit Payments and Debts section and Notification"
## Background

For a clear, accurate experience, we would like to build a prototype in the staging environment to be used during usability testing with veterans.  This will help us obtain feedback about the functionality and expectations, without too many limitations.

## Reference Materials

- [Sketch File](https://www.sketch.com/s/418ca6f6-cc24-4496-82aa-9deda03b08f6)
- [Mural board](https://app

[2021-12-27 15:05] TSimmz opened #34546 "Access for Tyler Simoni"
### COR Name

Mary O’Toole

### Vendor Onboarding Representative Name

GovernmentCIO - Kimberly O. West

### Your Name

Tyler Simoni

### Your Email

tyler.simoni@gcio.com

### Name of Your Team

Search & Discovery

### Service(s) You Want Access To

SOCKS

### Public SSH Key

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC1xDSh4rL49Qg4ZtWaRQcnFMFbUbhfQYl2Rha3VekMYiSGfQr1KZ8uRe+FuOiDWx0sYS7+gmFIluLNCkvezI

[2021-12-27 15:11] adamwhitlock1 commented on #32771
@MarciMcGuireGCIO I completed this and have it deployed to staging. The only kicker is that we can't really test this in staging since we don't have the back end setup to provide responses yet, soooo I have e2e tests built to simulate the server response and have tested it locally as best I can.

[2021-12-27 15:17] pjhill commented on #32005
This card disappeared. Did it morph into this one?
https://va-gov.domo.com/page/1950369682/kpis/details/721967848

[2021-12-27 15:30] mgleo commented on #34256
Style guidance from VA.gov Pattern Library Sketch file:
![styles-sketch-template.png](https://images.zenhubusercontent.com/5f91de193a0ac23f49d7bf89/32a307fd-d5b7-478b-9ca3-1dcc1f3c5be5)

[2021-12-27 15:32] #33220 closed

[2021-12-27 15:36] kelsonic commented on #34362
PR is up: https://github.com/department-of-veterans-affairs/content-build/pull/869

[2021-12-27 15:37] kelsonic commented on #32681
Moving to backlog

[2021-12-27 15:38] lindsay-insco opened #34547 "[12/28/21] Message Template Guidelines"
Build message template guideline documentation

[2021-12-27 15:40] hdjustice commented on #34003
@andaleliz @Samara-Strauss - Did we decide to update the logic to show all sections to all veterans all the time?  There was a little back & forth in the comments above, and the Health care application CTA seems to have accurate logic.   What was our final decision on the logic?
cc @tmitchellgcio

[2021-12-27 15:43] thilton-oddball commented on #34344
Has updated Rails and merged.

[2021-12-27 15:43] #34344 closed

[2021-12-27 15:55] hdjustice opened #34548 "[FE] My VA Enhancement: Update the "Benefits you might be interested in" section"
## Background

In an effort to reduce complex dependencies between information we show on My VA and other backend systems, we have revisited the "Benefits you might be interested in" section.  We have decided on new terminology and new logic to show all info blocks (claims, education and health) at all times.

## Resource Materials
- Original research [ticket #34003](https://github.com/department-

[2021-12-27 15:58] lindsay-insco commented on #31250
Vera has obtained eMASS access

[2021-12-27 15:58] #31250 closed

[2021-12-27 16:04] pjhill commented on #33495
This is a pretty great high level visualization and the bottom level drill down is great as well!

[2021-12-27 16:04] #33495 closed

[2021-12-27 16:12] pjhill commented on #31967
For now this visualization is limited to form activity, right? Did we develop a plan to expand the scope of user activity beyond forms hosted on VA.gov?

[2021-12-27 16:19] pjhill commented on #31973
Ditto the other GA visual -- this is for forms only based on the dataset available from GA. Do we have a plan to grab data for products other than forms?

[2021-12-27 16:19] pjhill commented on #31997
Yep, looking good!

[2021-12-27 16:19] #31997 closed

[2021-12-27 16:28] hdjustice opened #34549 "Midpoint Review [Authenticated Experience, Payment Information]"
# Steps to complete Midpoint Review

## Before meeting

**VFS Product Manager**
- [x]  Create this issue and schedule meeting via Calendly (you are responsible for adding the VFS attendees).
- [x] Notify the Collaboration Cycle team of this ticket with scheduled date/time in #vfs-platform-support ([see Slack Workflow User guide](https://depo-platform-documentation.scrollhelp.site/support/Getting-h

[2021-12-27 16:32] alsleaders commented on #34384
@Kimberley2019 I just sent you an email asking for some follow up information from the veteran.

[2021-12-27 16:42] lihanli commented on #34369
we're not doing an excessive amount of logging with the direct deposit api, the `get_ch33_dd_eft_info` is normally logging 4 lines of data with every call
[code]

i'm seeing that there is an option in the savon library to turn off logging, we could do that for now, but this level of logging should not be causing any problems unless the logging library or api is already broken

[2021-12-27 16:51] mattpointzxer0 commented on #33877
👍

[2021-12-27 16:51] #33877 closed

[2021-12-27 16:52] lihanli commented on #34403
i need to make a new grafana dashboard to show profile apis latency, the one that currently exists includes every single backend api

[2021-12-27 16:54] lindsay-insco commented on #34411
@vlivshin please break up into each user guides you're updating and include dates you intend to have them completed in brackets at the beginning (example: [01/05/22] Pharmacy User Guide Update)

[2021-12-27 16:54] miabecker opened #34550 "Analytics KPI dashboard request for [VANotify]"
# Request an Edge Case KPI Dashboard

## What this form is for

Use this template to request a KPI dashboard on Domo for your product. This template is for products that fall outside of our standardized dashboards.

If you have another VA.gov product, please reach out to the Platform Analytics & Insights team on #vfs-platform-support.

### Expected delivery timelines

Please note that these dashbo

[2021-12-27 17:02] allison0034 commented on #34549
This is confirmed for 1/11/22 at 11am ET

[2021-12-27 17:07] jsgarmon commented on #33679
new approval group: @department-of-veterans-affairs/operations-aws-approvers

@peyton-lucas : they will require that your EQIP has been completed and transmitted. Can you verify that you have submitted your EQIP, and, if so, that your COR has added your transmittal date to the Sharepoint doc?

[2021-12-27 17:09] jsgarmon commented on #34375
new approval group: @department-of-veterans-affairs/operations-aws-approvers

[2021-12-27 17:11] jsgarmon commented on #34420
new approval group: @department-of-veterans-affairs/operations-aws-approvers

@azimzores  : they will require that your EQIP has been completed and transmitted. Can you verify that you have submitted your EQIP, and, if so, that your COR has added your transmittal date to the Sharepoint doc?

[2021-12-27 17:14] jsgarmon commented on #34450
This looks done. @PJart : See docs for further steps: https://depo-platform-documentation.scrollhelp.site/getting-started/Internal-tools-access-via-SOCKS-proxy.1821081710.html

Feel free to contact me in slack #vfs-platform-support if you have any trouble.

[2021-12-27 17:14] #34450 closed

[2021-12-27 17:17] JordanSWhite commented on #34498
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Health---Apartment-614de421e25eb20013d1ee70/issues/department-of-veterans-affairs/va.gov-team/34498?planning-poker) with ZenHub @jsing0 @JaredMostudio @nprimak

[2021-12-27 17:21] JordanSWhite commented on #34359
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Health---Apartment-614de421e25eb20013d1ee70/issues/department-of-veterans-affairs/va.gov-team/34359?planning-poker) with ZenHub @JaredMostudio @jsing0 @nprimak

[2021-12-27 17:24] jsgarmon commented on #34461
@zachclarity : please follow [these instructions](https://depo-platform-documentation.scrollhelp.site/getting-started/Internal-tools-access-via-SOCKS-proxy.1821081710.html) for settings up SOCKS access via VTK. Once you have your SSH public key, update this ticket (under Public SSH Key) with it, and we can get you added.

[2021-12-27 17:28] jsgarmon commented on #34061
new approval group: @department-of-veterans-affairs/operations-aws-approvers

@CosmicSyntax : they will require that your EQIP has been completed and transmitted. Can you verify that you have submitted your EQIP, and, if so, that your COR has added your transmittal date to the Sharepoint doc?

[2021-12-27 17:29] jsgarmon commented on #34125
new approval group: @department-of-veterans-affairs/operations-aws-approvers

@harshil1793 : they will require that your EQIP has been completed and transmitted. Can you verify that you have submitted your EQIP, and, if so, that your COR has added your transmittal date to the Sharepoint doc?

[2021-12-27 17:35] laurenernest commented on #29418
Seeing the new web component in some spots, but not others. The font of the selected value looks different, but appears to be part of the design system. @outerpress can you take a look and determine if we should use as is or override? we can handle in another ticket if changes need to be made.

✅  facility selection, CC provider selection
![Screen Shot 2021-12-27 at 9.17.17 AM (2).jpg](https://ima

[2021-12-27 17:36] mrblanco1 commented on #12338
Hi @noahgelman - I hope you had a great time with family and friends. Just wanted to follow-up on this ticket. Please let us know if you have any questions.

[2021-12-27 17:46] alexander-ferzola commented on #33863
@bethpottsVADEPO @mnorthuis  thank you both for your support! Really appreciate it. We'll review all of this feedback and reach out about any questions.

[2021-12-27 17:54] jbritt1 commented on #29419
New approval group: @department-of-veterans-affairs/operations-aws-approvers

[2021-12-27 17:55] jbritt1 commented on #30254
New approval group: @department-of-veterans-affairs/operations-aws-approvers

[2021-12-27 17:57] #33793 closed

[2021-12-27 17:59] #33632 closed

[2021-12-27 18:00] #33892 closed

[2021-12-27 18:00] ptouchton commented on #29418
This ticket replaced the deprecated select component with the new VaSelect from component-library. It was discovered that VAOS has a select component based off of the React component. It was decided to complete this ticket addressing the deprecated component and create a new ticket to address the VAOS component. This new ticket can be found here:
https://github.com/department-of-veterans-affairs/v

[2021-12-27 18:03] #34101 closed

[2021-12-27 18:03] #33930 closed

[2021-12-27 18:03] jbritt1 commented on #33930
Removed from VFS team roster

[2021-12-27 18:03] #34294 closed

[2021-12-27 18:03] #34098 closed

[2021-12-27 18:03] #34285 closed

[2021-12-27 18:04] #34097 closed

[2021-12-27 18:05] jbritt1 commented on #33957
https://github.com/department-of-veterans-affairs/github-user-requests/issues/9167

[2021-12-27 18:05] #33957 closed

[2021-12-27 18:05] #34083 closed

[2021-12-27 18:06] #29418 closed

[2021-12-27 18:06] laurenernest commented on #29418
Thanks! closing this ticket

[2021-12-27 18:07] #26931 closed

[2021-12-27 18:07] laurenernest commented on #26931
Retesting still pending, but closing this ticket. We can reopen if necessary.

[2021-12-27 18:08] jbritt1 commented on #34509
https://github.com/department-of-veterans-affairs/github-user-requests/issues/9297

[2021-12-27 18:08] #34509 closed

[2021-12-27 18:27] vlivshin opened #34551 "[12/22/21] Update FAQ User Guide"

[2021-12-27 18:28] Kimberley2019 commented on #34384
@alsleaders I just responded to the email with the information that you requested.  Please advise if that is not sufficient and I can reach out to the veteran.

From: Daniels, Kimberley N. (Oddball, Inc.)
Sent: Monday, December 27, 2021 1:27 PM
To: Leaders, Amanda L. (Government CIO) <Amanda.Leaders@va.gov>
Subject: RE: [EXTERNAL] RE: Claim Status Issue (Case Number: 06191619)

Good Afternoon Aman

[2021-12-27 18:29] vlivshin commented on #34551
@jwowk I emailed you my edits on 12/22, VA email.

[2021-12-27 18:31] vlivshin opened #34552 "[12/29/21] Update General User Guide"
Make initial updates, looking at:

- clarity
- consistency
- grammar

[2021-12-27 18:33] jsgarmon commented on #32901
new approval group: @department-of-veterans-affairs/operations-aws-approvers

@joehall-tw : they will require that your EQIP has been completed and transmitted. Can you verify that you have submitted your EQIP, and, if so, that your COR has added your transmittal date to the Sharepoint doc?

[2021-12-27 18:37] mattpointzxer0 commented on #33880
Gtg, thx!

[2021-12-27 18:37] #33880 closed

[2021-12-27 18:38] mattpointzxer0 commented on #33881
🏁

[2021-12-27 18:38] #33881 closed

[2021-12-27 18:47] jsgarmon commented on #30264
new approval group: @department-of-veterans-affairs/operations-aws-approvers

User claims to have finished EQIP and retrieved PIV card already.

[2021-12-27 18:57] mnorthuis commented on #24543
Needs:
1) establish team ownership for dev work this product
2) establish standards around what should be/should not be included within siteamp
3) establish structure of sitemap, and when/whether multiple sitemaps are needed
4) determine approach for legacy content within the xml sitemap
5) analyze existing sitemap against standards and create backlog of changes

Will likely close this issue and o

[2021-12-27 18:59] chloedotbrown commented on #31789
Since we're still working on this and don't want teams looking at incorrect information, I've removed both "avg. minutes to complete" cards from the Forms dashboard ([Highlights](https://va-gov.domo.com/page/447193050/kpis/details/1632380729) and [Ease of Use](https://va-gov.domo.com/page/447193050/kpis/details/204304216) versions) and replaced them with notecards letting viewers know they are und

[2021-12-27 19:06] harshil1793 commented on #34125
Yes, e-QIP has been submitted on 12/06/2021. Transmittal date is 12/13/2021.

Also, it has been added to my record in Jira. Now waiting for Certificate of Investigation.

[2021-12-27 19:10] jsgarmon commented on #34546
Access granted. Please allow for 10 minutes for your key to be propagated to the various locations before attempting to connect.

See docs for further steps: https://depo-platform-documentation.scrollhelp.site/getting-started/Internal-tools-access-via-SOCKS-proxy.1821081710.html

Feel free to contact me in slack on #vfs-platform-support if you have any trouble.

[2021-12-27 19:10] #34546 closed

[2021-12-27 19:32] ianMcCullough-ob commented on #28104
Here is the [Medallia DOMO POC](https://va-gov.domo.com/page/825663825)

I have not created a "how to use this dashboard" page yet.

cc @jwoodman5

[2021-12-27 19:38] laurenernest commented on #26931
Note from Aarathi

[2021-12-27 19:41] ianMcCullough-ob opened #34553 "CC DOMO Documentation"
## Issue Description
Document the various data sources and dashboard currently available to the VSP Contact Center team. The goal is share this document with teams who are interested in what data can be made available and to document and prioritize next steps.

---
## Tasks
- [x] Create a confluence document
- [x] Review with Jason
- [x] Add to Contact Center confluence space

## Acceptance Criter

[2021-12-27 19:42] ianMcCullough-ob commented on #34553
@jwoodman5 [here's the document I created for DOMO](https://vfs.atlassian.net/wiki/spaces/~403774134/pages/2015133780/Contact+Center+DOMO+Documentation). I'll also review with Chloe when I return next week.

[2021-12-27 19:44] jfinnern commented on #12343
Validated in staging
Test run: https://dsvavsp.testrail.io/index.php?/runs/view/2768&group_by=cases:title&group_order=asc
Test case: https://afs365.sharepoint.com/:x:/r/sites/DGIBillServicesProject/Shared%20Documents/Legacy%20AO/Team%203/QA/Test%20Results/AFS-Sprint%205/508-defect-4%20%5BIMPROVEMENT%5D%20-%20STEM%20Standalone%20-%20CONSIDER%20using%20a%20higher%20resolution%20image%20for%20the%20p

[2021-12-27 19:48] mleclerc00 commented on #34424
Loki prod is now pointing at elasticache memcached instances

[2021-12-27 19:50] #21534 closed

[2021-12-27 20:05] #32288 closed

[2021-12-27 20:06] hdjustice commented on #34545
Updated to current sprint (sprint 63) as unplanned work

[2021-12-27 20:37] jsgarmon commented on #31942
@bjmccotter7192 : since you're the first member of the FLT spike team we're settings up AWS permissions for, can you say more about what specific permissions you'll need to what specific resources? For example, in ECR, what repos do you need to push new images to, or do you need to be able to create new repos?

[2021-12-27 20:37] ERRonat0609 opened #34554 "Form 22-10203 STEM application: Turn off auto-decision process"
## Issue Description
_What details are necessary for understanding the specific work or request tracked by this issue?_
The auto-decision process, which was released earlier this year, appears to be incorrectly auto-denying applications. Of those that have been auto-denied, up to 50% have been determined by the RPO as incorrect denials.  Therefore, the Buffalo RPO (via Kyle Pietrosanto), who proce

[2021-12-27 20:42] ERRonat0609 opened #34555 "Form 22-10203 STEM application: Determine what is causing incorrect auto-denials"
## Issue Description
_What details are necessary for understanding the specific work or request tracked by this issue?_
AFS team needs to investigate why the auto-denay process is incorrectly denying some applications that should be processed as eligible applications.

---
## Tasks
- [ ] Get a list of denied applicant names from Buffalo RPO
- [ ] Query the database table in TIMS to get information

[2021-12-27 20:44] kelsonic opened #34556 "Create new URL structure for event detail page"
# Description

**Slack:** https://dsva.slack.com/archives/C52CL1PKQ/p1640283433038200

After discussing with @mnorthuis and @davidconlon, we have decided that the URL structure for event detail v2 pages will follow this syntax: `/events?eventID={entityId}&dateIndex={dateIndex}`.

We need to update the [`events v2 app`](https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/

[2021-12-27 20:49] ERRonat0609 opened #34557 "Form 22-10203 STEM application: Fix auto-denial functionality"
## Issue Description
_What details are necessary for understanding the specific work or request tracked by this issue?_
The auto-denial function is not working properly, per the Buffalo RPO (via Kyle Pietrosanto), so they requested that the functionality be temporarily turned off/disabled until a fix could be implemented.
Per the investigation completed in ticket #34555, a path forward to fix this

[2021-12-27 20:59] tressaellen commented on #34117
Hello @andaleliz - this looks really great! A couple thoughts.

I am wondering at what point after they log in do they expect to see an alert about new debt. That's more on the onsite notification side of things, but I think it'll help us shape the MVP. I updated the wording around that question to better reflect this.

- As far as the prototype goes - I think you're right. We're mostly focused on

[2021-12-27 21:01] tressaellen commented on #34117
Hello @Samara-Strauss ! I think we're ready to have you review [the conversation guide](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/my-va/payment-history/discovery-and-research/user-research/payment-information-conversation-guide.md) for the payment information research. Liz started the draft and I just finished making some edits. Tha

[2021-12-27 21:06] mnorthuis commented on #33953
A few notes from meeting with @kelsonic and @davidconlon
- It was determined that the current H1 as URL approach is not sustainable going forward, and that SEO is not a huge concern for individual events.
- We also discussed that these events need to be treated as COPE content that can be uased not only as global events but also pulled into individual experiences such as VAMC site calendars.
- a p

[2021-12-27 21:09] GnatalieH commented on #19573
There are no more examples I've found other than the VAOS appointment cards that incorrectly use bold or strong text where a heading should be used. I spoke with Noah, Angela and Josh, and they also couldn't think of any other examples. Josh said that they tend to call out misuse of bold or strong text right away and those issues get fixed quickly. We also decided that doing a search of `strong` (

[2021-12-27 21:10] ERRonat0609 opened #34558 "Form 22-10203 STEM application: Re-enable the auto-decision functionality"
## Issue Description
_What details are necessary for understanding the specific work or request tracked by this issue?_
This functionality was temporarily disable due to issues with the auto-deny process. Once the auto-deny problem has been solved, the process can be re-enabled. Please refer to ticket #34554

---
## Tasks
- [ ] Re-enable the auto-decision process.

## Assumptions
- [ ] Auto-deny p

[2021-12-27 21:10] #19573 closed

[2021-12-27 21:18] TamGIBill commented on #3869
Alt text added and links updated in document.

[2021-12-27 21:23] mnorthuis commented on #32980
Oooo!  So glad you were able to check on these in research!  Thank you for the updates!

A few thoughts/responses on the above
1) If users were comfortable with this, then that is great.  Thank you for testing.   Another option could possibly be to place the survey on the first page for them to indicate a reason and then click unsubscribe - that seems to be a very common way sites do that and may

[2021-12-27 21:31] ERRonat0609 opened #34559 "Update Form 22-1990S VRRAP application"
## Issue Description
_What details are necessary for understanding the specific work or request tracked by this issue?_
Per Rodney Hopkins (Education Services VRRAP team) some additional information has been requested to be added to the form. This information relates specifically to the high-demand occupations that are available to the veteran.

Currently, there is a PDF document that lists all of

[2021-12-27 21:37] ScottyRJames commented on #24402
As the financial status report is submitted, the document is successfully up uploaded to filenet but the `filenet_id` is not available through the response object. Without the necessary id the document is not available through Redis and therefore not available to fetch the pdf object. Will followup with DMC to make this attribute available upon submission.

[2021-12-27 22:22] Kimberley2019 opened #34560 "[Tier 3] Disability Claim Application Issue SF - 06274742"
## Issue Description
_Please review details from SF case notes and encrypted email in order to review and resolve issue veteran is experiencing on VA.gov. _

---
## Tasks
- [ ] _Review provided details in ticket_
- [ ] _Review additional information from encrypted email_
- [ ] _Advise if additional information is required for review and resolution_
- [ ] _Contact veteran and set up shadowing call

[2021-12-27 22:22] Kimberley2019 commented on #34560
Case Notes
Veteran called in about not being able to submit her disability claim, when she tries to submit it, it gives a error code, this has been happening for over a month, had her try edge and chrome, also had her clear her cache and cookies, she still gets the error code you're first treatment date needs to be after the start of your earliest active duty service period, she is putting the dat

[2021-12-27 22:34] rbeckwith-oddball commented on #30228
I don't want to delete any services unnecessarily. I don't see any services in PagerDuty that still need to be removed at this point. The integrations Demian mentioned have been removed.

[2021-12-27 23:04] mleclerc00 commented on #34424
https://app.datadoghq.com/dashboard/33k-mvc-q33?tpl_var_env=%2A&tpl_var_environment=dev&from_ts=1640639846169&to_ts=1640641646169&live=true

datadog dashboard for loki memcached

[2021-12-27 23:41] mnorthuis commented on #32980
Two (hopefully) final questions for you:

a) I am assuming you are passing in parameters to identify the user and the email communication they are unsubscribing from?  I can assign a core URL, you will add on the necessary parameters.

b) what is the experience when they re-subscribe?  Does the same page refresh with a new H1 and messaging? I recommend a convo with accessibility and content to mak

[2021-12-28 00:43] #34186 closed

[2021-12-28 00:43] #34386 closed

[2021-12-28 01:05] bjmccotter7192 commented on #31942
@jsgarmon So I originally request access while waiting for the team to finalize so at this moment I don't have a specific repo but would probably like to create containers and push to the registry eventually. This all depends on the business needs of updating the current forms system. Most of our work on this team has been in vets-website and formulate so I can see us having access to see those re

[2021-12-28 12:39] JordanSWhite opened #34561 "Sprint 8 Deliverables"
- [ ] Iterated unauth mobile and web homepage designs
- [ ] Iterated auth mobile and web homepage designs
- [ ] Approved research plan and conversation guide from Lauren and sent to Perigean
- [ ] Draft. Tiered feature requirements in sharable document (homepage, secured messaging).

[2021-12-28 13:52] kevinstachura commented on #34119
Excellent, thank you so much @RLHecht and @bethpottsVADEPO !

@vhenry07 I'm not certain what the next step is here, but we might need to engage the VA Notify team or to whomever enters content into our VA emails.

Closing this task as complete, as all acceptance criteria has been satisfied.

[2021-12-28 13:52] #34119 closed

[2021-12-28 13:56] kevinstachura commented on #34120
A preliminary design for the task list pattern's table of contents has been created:

https://www.sketch.com/s/be3ed2e2-a355-41e7-a1ce-a80779594fc5

We still have a handful of questions to work through, and after discussing it with design leadership and with Christian, we have decided to 'zoom out' and focus on more general tasks initially, so we can create a pattern that takes global consideratio

[2021-12-28 13:56] #34120 closed

[2021-12-28 13:57] MarciMcGuireGCIO commented on #34403
Thanks, @lihanli.  Is that something that can be completed today, or will it take longer?

[2021-12-28 14:03] LinnJS opened #34562 "[MCP]: Facility Phone Numbers not always showing"
## Technical Task

On Medical Copays we have to interact with a ton of facilities. For some reason some facilities do not show their phone number. We need to figure out which facilities don't show phone number and figure out why. We use a global VSP resource to lookup facility phone number maybe more need to be added or there is a key mismatch.

## Expected Behavior

All facilities show phone numb

[2021-12-28 14:03] LinnJS commented on #33560
Removing facility phone number bug from ticket so it does not hold up other changes. This ticket is a little complexed since it deals with global utilities.

[Ticket](https://app.zenhub.com/workspaces/vsa---debt-607736a6c8b7e2001084e3ab/issues/department-of-veterans-affairs/va.gov-team/34562)

[2021-12-28 14:13] audayotte opened #34563 "Offboarding of Mark Meardon"
# Instructions
Fill out name of individual and *Description* section below.

# Description
- Please provide the name of the individual needing offboarded.

- Please provide any type of access they may have and their GitHub username.

## AC
*Performed by Platform team*
 - [x] Remove from [VFS Team Roster](https://docs.google.com/spreadsheets/d/11dpCJjhs007uC6CWJI6djy3OAvjB8rHB65m0Yj8HXIw/edit?folde

[2021-12-28 14:15] jsgarmon commented on #26091
User has indicated he no longer requires DSVA AWS access. Closing this ticket, which can be reopened if needed.

[2021-12-28 14:15] #26091 closed

[2021-12-28 14:16] vhenry07 commented on #34195
Fast tracker launched. Closing complete

[2021-12-28 14:16] #34195 closed

[2021-12-28 14:39] alsleaders commented on #34232
We are waiting for the veteran to get back to us with some more information to research their appeals status issue.

[2021-12-28 14:40] #34468 closed

[2021-12-28 14:40] LinnJS commented on #34468
All test users are now working on staging

[2021-12-28 14:41] julieadair1 opened #34564 "Relocate BTSSS Link to Minimize Scrolling"
## Use Case
As a veteran using a mobile device I should not have to scroll very far to get to the BTSSS link on my mobile device screen, so that I am able to access the link quickly and easily.

## Acceptance Criteria
1. I do not have to scroll to get to the BTSSS link when using my mobile device for check in.

[2021-12-28 14:43] shiragoodman commented on #34483
@mmiddaugh did you submit a Collab Cycle kickoff for this work? I'm not able to find the ticket.

[2021-12-28 14:46] shiragoodman commented on #34507
confirming that this is scheduled for 1/10 at 3:30pm ET

[2021-12-28 14:58] dbarnes-VA commented on #33864
Moved to In Progress, currently still seeing the "Latitude/Longitude Issues" section display in https://staging.va.gov/gids/dashboards

[2021-12-28 14:59] KCollinsBrown opened #34565 "Offboarding of Charles Ferguson"
# Instructions
Fill out name of individual and *Description* section below.

# Description
- Please provide the name of the individual needing offboarded.

- Please provide the name of their team, their role on that team, expected last day, and the name of the company they work for.

- Please provide any type of access they may have and their GitHub username.

## AC
*Performed by Platform team*
 -

[2021-12-28 15:02] #34136 closed

[2021-12-28 15:02] #34135 closed

[2021-12-28 15:11] JordanSWhite opened #34566 "Hold design intent meeting"

[2021-12-28 15:18] LinnJS commented on #27662
[PR](https://github.com/department-of-veterans-affairs/vets-website/pull/19766) where this work is being done

[2021-12-28 15:29] KCollinsBrown opened #34567 "Offboarding of Beth Culp"
# Instructions
Fill out name of individual and *Description* section below.

# Description
- Please provide the name of the individual needing offboarded.

- Please provide the name of their team, their role on that team, expected last day, and the name of the company they work for.

- Please provide any type of access they may have and their GitHub username.

## AC
*Performed by Platform team*
 -

[2021-12-28 15:36] lindsay-insco commented on #31914
Materials sent to Shane for final review - live portal demo included but complete

[2021-12-28 15:36] #31914 closed

[2021-12-28 15:45] Dene-human commented on #34251
Design sent to Caregiver program team for feedback approval on 12/23/2021

[Design PDF](https://app.zenhub.com/files/133843125/8ee13636-45cb-4fb5-a22b-b5942b27bbb3/download)

[2021-12-28 15:45] jsgarmon commented on #34563
/request Mark Meardon

[2021-12-28 15:45] KCollinsBrown opened #34568 "Offboarding of Libbey White"
# Instructions
Fill out name of individual and *Description* section below.

# Description
- Please provide the name of the individual needing offboarded.

- Please provide the name of their team, their role on that team, expected last day, and the name of the company they work for.

- Please provide any type of access they may have and their GitHub username.

## AC
*Performed by Platform team*
 -

[2021-12-28 15:46] jsgarmon commented on #34563
User has no SOCKS, AWS, Pagerduty, Sentry, or Datadog access

[2021-12-28 15:48] jsgarmon commented on #34565
/request Charles Ferguson

[2021-12-28 15:50] Dene-human opened #34569 "[Research] Update research plan for Bet A design - to be used if needed"
## User Story

As a legal representative of a Veteran, I need to know what documents I should and should not upload, in order to prove that I have the legal right to represent the Veteran.

As of August 2021, only about 30% of Power of Attorney (PoA) documents uploaded via the online 10-10CG are valid and complete PoA documents. Most are either incorrect documents or partial documents. We recently

[2021-12-28 15:50] Dene-human opened #34570 "[Research] Update research plan for Bet A design - to be used if needed"
## User Story

As a legal representative of a Veteran, I need to know what documents I should and should not upload, in order to prove that I have the legal right to represent the Veteran.

As of August 2021, only about 30% of Power of Attorney (PoA) documents uploaded via the online 10-10CG are valid and complete PoA documents. Most are either incorrect documents or partial documents. We recently

[2021-12-28 15:54] denisecoveyduc commented on #33159
Thanks @rileyorr!!! Great catch on the two additional designs that didn't have a ticket. And designs look great today.

[2021-12-28 15:54] #33159 closed

[2021-12-28 15:55] jsgarmon commented on #34565
User removed from Github org.
No access to SOCKS, AWS, Pagerduty, Sentry, or Datadog.

[2021-12-28 15:58] jsgarmon commented on #34567
/request Beth Culp

[2021-12-28 16:04] vhenry07 commented on #30005
Hi @miabecker linking to the content that we'd like included in the email. [34119](https://github.com/department-of-veterans-affairs/va.gov-team/issues/34119)

[2021-12-28 16:07] jsgarmon commented on #34567
User removed from Github org.
No SOCKS, AWS, Pagerduty, Sentry, or Datadog access.

[2021-12-28 16:08] shiragoodman commented on #33197
@jimuhh i reviewed your changes to the template and made some additional changes (updated links, added acceptance criteria). Tasks 1, 2, and 3 above, however please verify that task 4 is complete. The updated template has been published and can be found here: https://github.com/department-of-veterans-affairs/va.gov-team/issues/new?assignees=&labels=vsp-product-support&template=orientation-epic.md&

[2021-12-28 16:09] Dene-human commented on #31137
Given our new plan for implementing Bet A, this ticket is not need at the moment.

[2021-12-28 16:10] Kimberley2019 opened #34571 "[Tier 3] Disability Claim Application Issue - SF 06294053"
## Issue Description
_Please review encrypted email that was sent in order to research and resolve issue veteran is experiencing._

---
## Tasks
- [ ] _Review provided details in ticket_
- [ ] _Review additional information from encrypted email_
- [ ] _Advise if additional information is required for review and resolution_
- [ ] _Contact veteran and set up shadowing call if needed_

## Acceptance

[2021-12-28 16:11] jsgarmon commented on #34568
/request Libbey White

[2021-12-28 16:12] alexandec opened #34572 "Upgrade react-router from v3 to v5.1.2"
## Upgrade documentation and tips
For help upgrading routes and links in an app, see [this documentation](https://github.com/department-of-veterans-affairs/va.gov-team/issues/34572#issuecomment-1016643583) further down in the ticket.

## Background
The official React router documentation [recommends](https://reactrouter.com/docs/en/v6/upgrading/v5#upgrade-to-react-router-v51) upgrading to v5.1 fir

[2021-12-28 16:12] #34455 closed

[2021-12-28 16:12] Kimberley2019 commented on #34571
@alsleaders encrypted email sent to you and @vhenry07

From: Daniels, Kimberley N. (Oddball, Inc.)
Sent: Tuesday, December 28, 2021 11:11 AM
To: Leaders, Amanda L. (Government CIO) <Amanda.Leaders@va.gov>; Henry, Veronica (GovernmentCIO) <Veronica.Henry@va.gov>
Subject: FW: [EXTERNAL] Re: Disability claim application issue

Hi Amanda,

Below are details from the caller.  The ZH ticket number is be

[2021-12-28 16:13] alexandec commented on #33822
I created [a new ticket](https://app.zenhub.com/workspaces/vsp---frontend-tools-5fc9325744944e0015ed1861/issues/department-of-veterans-affairs/va.gov-team/34572) to cover upgrading react-router from v3 to v5.1.2

[2021-12-28 16:14] #32285 closed

[2021-12-28 16:14] jsgarmon commented on #34568
User removed from Github org.
No access to SOCKS, AWS, Pagerduty, Sentry, or Datadog.

[2021-12-28 16:17] vhenry07 opened #34573 "Phase 4 - Form 526 Task List, Next Steps"
## Issue Description
_What details are necessary for understanding the specific work or request tracked by this issue?_

---
## Tasks
- [ ] Develop high level wireframes

## Acceptance Criteria
- [ ] Wireframes complete
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to an Epic** (what body of work is this a part of?)
- [ ] **Lab

[2021-12-28 16:20] vhenry07 opened #34574 "Phase 3 - Form 526 Task List, Next Step"
## Issue Description
Continue work on 526 user experience/form reduction & enhancement

---
## Tasks
- [ ] Define user journey
- [ ] Develop use cases
- [ ] Develop high level wireframes
- [ ] Usability study
- [ ] Conduct concept study to test design with Veterans
- [ ] Develop mockups based on Veteran feedback

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this stor

[2021-12-28 16:22] dan-brooking commented on #33883
Due to the way the system builds, this is a multi step process. Both URLs with exist temporarily - /gi-bill-comparison-tool and /education/gi-bill-comparison-tool. Once this goes to prod, a redirect will be put in place redirecting /gi-bill-comparison-tool to /education/gi-bill-comparison-tool. Once that redirect is in place, the old URL will be removed.

[2021-12-28 16:23] vhenry07 opened #34575 "Form 526 reduction - task list approach"
## Issue Description
Continue work on 526 user experience/form reduction & enhancement

---
## Tasks
- [x] Define user journey

## Acceptance Criteria
- [x] Artifacts completed
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to an Epic** (what body of work is this a part of?)
- [ ] **Labeled with Team** (`product support`, `analy

[2021-12-28 16:25] vhenry07 opened #34576 "Phase 3 - Form 526 Task List, Next Steps"
## Issue Description
Form 526 reduction & enhancement, next phase

---
## Tasks
- [ ] Develop use cases

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to an Epic** (what body of work is this a part of?)
- [ ] **Labeled with Team** (`product

[2021-12-28 16:27] dbarnes-VA commented on #33883
Test Run: https://dsvavsp.testrail.io/index.php?/runs/view/2769
Test Script: [URL standards URL doesn't accurately reflect the location of the page within the site. (07.02.1).xlsx](https://github.com/department-of-veterans-affairs/va.gov-team/files/7785572/URL.standards.URL.doesn.t.accurately.reflect.the.location.of.the.page.within.the.site.07.02.1.xlsx)

[2021-12-28 16:27] dbarnes-VA commented on #33883
Tested and Validated on https://staging.va.gov/education/gi-bill-comparison-tool/ and https://staging.va.gov/education/gi-bill-comparison-tool-sandbox/

Both URLs correctly direct users to the comparison tool without error.

[2021-12-28 16:36] #33808 closed

[2021-12-28 16:36] #32777 closed

[2021-12-28 16:37] #33933 closed

[2021-12-28 16:38] acrollet commented on #33434
@ytsaoca we believe this has been reviewed, if not will you please re-open? Thanks!

[2021-12-28 16:38] #33434 closed

[2021-12-28 16:40] SKasimow opened #34577 "Update Insurance question and Insurance detail question copy and design (part 2)"
## User Story

As a Veteran, I need to clearly and accurately answer the questions about my Insurance, in order to complete my application for VA Health Care.

Currently, the research shows that this question causes confusion, and people are having to guess what information to input. This can result in inaccurate information being submitted.

## Acceptance Criteria

- [x] Verify accessibility test

[2021-12-28 16:40] #33166 closed

[2021-12-28 16:40] brianalloyd commented on #33756
Thanks @cindymerrill research draft looks good.  Team plans to meet on Jan 3rd to review research KPIs and define success factors for research efforts.

[2021-12-28 16:41] #33165 closed

[2021-12-28 16:41] #34181 closed

[2021-12-28 16:44] brianalloyd commented on #34109
This design work has been completed.  Closing ticket in support.

[2021-12-28 16:44] #34109 closed

[2021-12-28 16:46] SgardnerPMP opened #34578 "[VAMC] Review and standardize all H1 Naming conventions for VAMC Campus map pages [BA]"
## Story
As a Veteran I need to have a clear understanding of what and where the VAMC campus map is viewings, so I can better navigate the buildings and campus in my health care journey

## Resources
[VAMC Page intent guide](https://salientcrgt.sharepoint.com/:w:/s/VSATeam/Ebq-Z0LhK7JLmJB-cnTKzvAByzi0F3ldKSopUJ2jPZXEEw?e=tH6CX6)

## Tasks
Review all VAMC Campus map VAMC detail pages and assure tha

[2021-12-28 16:53] allison0034 commented on #33116
@shiragoodman I made the changes you requested in the comments and this is ready for a final review. https://vfs.atlassian.net/wiki/spaces/PPST/pages/2017034292/Allison+-+Calendly+guide

[2021-12-28 17:00] LinnJS commented on #33560
Work is merged

[2021-12-28 17:00] #33560 closed

[2021-12-28 17:00] brianalloyd opened #34579 "[Research] Draft Conversation Plan - HRT Static Content Landing Page"
## High Level User Story/ies
As a Veteran or VA employee, I need a way to report an incident of workplace harassment or assault which takes place at a VA facility so I can be assured that there is investigation and remediation.

[Product Outline for Reference](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/harassment-reporting/read-me.md)

##  Tasks
- [x] Draft

[2021-12-28 17:02] lihanli commented on #34403
@MarciMcGuireGCIO i can complete it today

[2021-12-28 17:03] MarciMcGuireGCIO commented on #34403
Awesome! Thanks, @lihanli !

[2021-12-28 17:11] brianalloyd commented on #33552
Thanks @swirtSJW PW team will scrub into the issue.  Thanks.

[2021-12-28 17:20] kelsonic commented on #34362
PR merged

[2021-12-28 17:22] hdjustice commented on #33839
@andaleliz @Samara-Strauss I just had a thought as I was creating test cases.  Since the "Claims & appeals" section uses an ampersand ("&"), should we include that in the new name of "Benefit payments and debts" (Benefit payments & debts)?  This would keep the page consistent, in my thought.

[2021-12-28 17:29] kanchanasuriya opened #34580 "[BE] Modify specs to get passed as blocks to Timecop utility methods"
## Description
As per the [doc](https://www.rubydoc.info/gems/liangzan-timecop/Timecop.freeze), `Timecop.freeze` utility from `Timecop` ruby gem changes the system time.  Some of the specs in check-in module uses` Timecop.freeze()` and even though `Timecop.return` sets the system times back, any process running in the host calling `Time.now` will receive the frozen time set by the test until origi

[2021-12-28 17:39] mattpointzxer0 commented on #33883
Seeing the new url in staging. Thx!

[2021-12-28 17:39] #33883 closed

[2021-12-28 17:43] Dene-human commented on #34570
[Research plan](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/caregivers/1010cg-mvp/Sign-as-a%20Rep-Round3-Oct2021/Usability%20research/usability-research-plan.md)

[2021-12-28 17:43] laurenernest commented on #32194
PR changes pending approval from Tony when he returns from PTO

[2021-12-28 17:44] hdjustice commented on #34485
Draft Use cases and Test cases created in preparation for Midpoint review

[2021-12-28 17:44] #34485 closed

[2021-12-28 17:46] hdjustice commented on #33834
Draft Use cases and Test cases created in preparation for Midpoint review

[2021-12-28 17:46] #33834 closed

[2021-12-28 17:52] hdjustice commented on #32915
Midpoint artifacts are prepped and review is scheduled for 1/11 @11am ET - #34549

[2021-12-28 17:52] #32915 closed

[2021-12-28 17:55] SKasimow opened #34581 "Design intent [Team Name - Feature Name]"
# Steps to complete Design Intent Collaboration

## Before meeting

**VFS Product Manager or Designer**
- [ ]  Create this issue and schedule meeting via Calendly (you are responsible for adding the VFS attendees).
- [ ] Notify the Collaboration Cycle team of this ticket with scheduled date/time in #vfs-platform-support ([see Slack Workflow User guide](https://depo-platform-documentation.scrollhel

[2021-12-28 17:55] lindsay-insco opened #34582 "Clean up Reports and Data"

[2021-12-28 17:57] chrvalla commented on #34102
Closing ticket. Moving over to Phase 3 - concept development.

[2021-12-28 17:57] #34102 closed

[2021-12-28 17:59] lindsay-insco commented on #31386
Audit completed

[2021-12-28 17:59] #31386 closed

[2021-12-28 18:00] lindsay-insco commented on #33820
Moved to VA side, Updated weekly

[2021-12-28 18:00] #33820 closed

[2021-12-28 18:01] #34411 closed

[2021-12-28 18:01] lindsay-insco commented on #34411
Moved to individual user guide tickets

[2021-12-28 18:02] chrvalla opened #34583 "Phase 3 - Added question PTSD flow Form 526"
## Issue Description
Explore how we can improve the Veteran experience with our online forms

---
## Tasks
- [x] Design pages where the veteran is asked about "fear of hostile military or terrorist activity".
- [ ] Finish pages in Sketch, send out for approval. (Does one page require the whole review process?)

## Acceptance Criteria
- [ ] Documented form improvement research and recommendations.

[2021-12-28 18:03] #34189 closed

[2021-12-28 18:04] chrvalla commented on #34100
Closing ticket. Design mockups approved by Paul Shute. Moving to phase 3 - creating designs in Sketch for design review and final approval and implementation into Form 526.
https://app.mural.co/t/vsa8243/m/vsa8243/1638999373388/4dd450f76ceaa66dc01e552599f3b3811d047262?sender=cvalla7693

[2021-12-28 18:04] #34100 closed

[2021-12-28 18:17] mgleo commented on #34256
![rs-ui-article.png](https://images.zenhubusercontent.com/5f91de193a0ac23f49d7bf89/3a1b2a12-31e5-4385-8e44-dd9dbd336644)

Updated sections styles:

**Related information:**
Using the style, "Related Links, for navigating to related information outside a content section".
While most links are within Resources and Support, there are times where from outside R&S are used. There could be an argument t

[2021-12-28 18:26] miabecker commented on #30005
Thank you for sharing! We actually launched a new UI where folks can create their own notification template. Here is the information to access it so you can create your new notification:

[2021-12-28 18:38] SKasimow commented on #34581
@shiragoodman Hi Shira - I  drafted the Design intent ticket requested from the Collab Cycle kick-off feedback you provide to Jen S previously.

But before I set up a review, wanted to ask you to take a look and see if we needed a meeting. For this effort we're just adding in a question and are following the existing format and standard components so doesn't feel like a meeting would be necessary.

[2021-12-28 18:44] CBonade commented on #33794
Refactored using Javascript classes. There's now a parent github class that handles generic things such as fetching the data from any endpoint with dynamic params and uploading the data to BigQuery. There's then a child class that extends the parent class and is handling anything specific to the issues. New subclasses can be created to extend the github class for collecting different data types.

[2021-12-28 18:59] SgardnerPMP opened #34584 "[VAMC] Reassociate VAMC Detail pages to correct Parent Menu items both on page and in Menu [BA]"
## Story
As a Veteran I need to be able to find the additional programs, research, internships, and other VAMC detail pages under the correct Parent menu, so I can better understand the additional information and pages that relate to my local VAMC.

## Resources
TBD

## Task
Review all the pages that may have been saved under the incorrect Menu Parent prior to the hardening of the menu drop down.

[2021-12-28 19:06] #34382 closed

[2021-12-28 19:07] callen2563 commented on #34556
When the user enters a URL for an event detail page that no longer exists they will be redirected to the main event list page with this error message.  @RLHecht @DanielleThierryUSDSVA @bethpottsVADEPO When one of you have some time can you provide some error message copy? Thanks! :)

![Outreach   Events - Desktop - Error](https://user-images.githubusercontent.com/68560244/147598756-8df98449-a639-4

[2021-12-28 19:09] SgardnerPMP opened #34585 "[VAMC] Update 13 System Health Services descriptions with the correct wording from the Health Service Library [BA]"
## Story
As a Veteran

## Resources
[System Health Services Library](https://salientcrgt.sharepoint.com/:x:/s/VSATeam/EeXOBnRzO2dNnoMg-BSs2r0BxD03bf0zFFujJxi1go3FVw?e=1hTscQ)

## Tasks
Resolve content issues in Health Service taxonomy for Diabetes
- [x] Clear and replace all content for Diabetes in System Health Services using source content from System health Service library.
- [x] Save content a

[2021-12-28 19:15] SKasimow opened #34586 "Discovery | Verify CG Submission Against Live MS Instance"
## Background

Determine an approach to verify 10-10CG submissions against a live instance of Mulesoft.

## Acceptance Criteria

-[ ] Document approach in ticket

[2021-12-28 19:17] wesrowe opened #34587 "Links to Access Request issues seem wrong"
### Description
On the page "Analytics customer support guide" there are three links labeled "Analytics Access request template on Github." The first instance of the link is correct and opens a github issue with the proper checkboxes etc. The second and third instances open a blank issue with no template at all.
**Suggestion:** Update the links.
<img width="599" alt="Screen Shot 2021-12-28 at 11 1

[2021-12-28 19:17] MarciMcGuireGCIO commented on #32771
Ok, thank you!

[2021-12-28 19:17] #32771 closed

[2021-12-28 19:18] wesrowe opened #34588 "Request access to Google Analytics and/or Domo"
# Request Google Analytics and/or Domo access

## What this form is for
Use this template to request access to Google Analytics and/or Domo. Please complete steps 1 & 2 below.

## 1. Access Requirements
Please check the analytics tool(s) you need access to:
- [ ] Google Analytics
- [x] Domo
- [ ] (Platform Teams only) BigQuery

## 2. User Email Address to Receive Access
**Due to privacy concerns,

[2021-12-28 19:24] MarciMcGuireGCIO commented on #34369
@lihanli is it set to Debug in Production?  If so, is there an option to drop it down to Warn or Error?

[2021-12-28 19:30] MarciMcGuireGCIO commented on #32768
This has been completed and functions as well as it can given that it is not connected to the API, so cannot call an endpoint to save the value. We will create a separate ticket to validate with the backend once that is completed.  Also creating a new ticket  to work with the design system counsel on determining why the radio button group component does not select a radio button when the button it

[2021-12-28 19:30] #32768 closed

[2021-12-28 19:35] jsgarmon commented on #31942
AWS access granted and temporary login credentials sent. Changes to AWS permissions can be requested through the  #vfs-platform-support Slack channel.

[2021-12-28 19:35] #31942 closed

[2021-12-28 19:36] MarciMcGuireGCIO commented on #32775
Moving to Sprint 64.

[2021-12-28 19:37] MarciMcGuireGCIO commented on #34115
Moving to Sprint 64; Tom was not able to schedule 1-1 on meetings with everyone due to holiday schedules

[2021-12-28 19:39] MarciMcGuireGCIO commented on #33066
Continuing to monitor #32643, which should close this ticket.

[2021-12-28 19:48] #33438 closed

[2021-12-28 19:48] MarciMcGuireGCIO commented on #33438
Pilot has been completed.

[2021-12-28 19:54] pjhill opened #34589 "Create a document for Daily A11y Scan of `content-build`"
# Description
Let's document the process by which the daily accessibility scan executes against the `content-build`. I started a document that contains high level summary of the operation of the daily accessibility scan [here](https://vfs.atlassian.net/wiki/spaces/TTT/pages/2031255561/Daily+Accessibility+Scan+for+content-build). Feel free to throw that away or expand on it. Either way, we need to

[2021-12-28 19:55] #34563 closed

[2021-12-28 19:55] #34565 closed

[2021-12-28 19:55] #34567 closed

[2021-12-28 19:56] #34568 closed

[2021-12-28 20:00] MarciMcGuireGCIO commented on #34250
@lihanli - will you have a chance to review this today or should I move to Sprint 64?  Thanks!

[2021-12-28 20:02] pdavies88 commented on #33323
It looks like some work was done the Vets-Api to allow for a custom expiration date via this PR: https://github.com/department-of-veterans-affairs/vets-api/pull/5581/files
However it takes in a `days_till_expires` value to set up the custom expiration [here](https://github.com/department-of-veterans-affairs/vets-api/blob/f37e3fffc49625b9177c03df0c4cb0963af2caf2/app/models/in_progress_form.rb#L111)

[2021-12-28 20:02] lihanli commented on #34250
@MarciMcGuireGCIO i can review it today

[2021-12-28 20:04] MarciMcGuireGCIO commented on #34250
That’s great; thank you! The sprint report got moved from Wed end of day to Tue end of day, so I’m trying to fill out as much as I can.

[2021-12-28 20:08] mleclerc00 commented on #34424
https://app.datadoghq.com/monitors/58934395

datadog monitor updated to alert on low memcached memory coming from elasticache

[2021-12-28 20:14] lihanli commented on #34369
right now the log level for all of vets-api is set to warn so these messages are not being logged. i don't think any direct deposit specific logging needs to be changed though since when it's turned on there are only 4 lines of logs written for each call.

[2021-12-28 20:17] MarciMcGuireGCIO commented on #34369
Ok; thanks!

[2021-12-28 20:17] #34369 closed

[2021-12-28 20:22] laurenernest opened #34590 "Adding Gayathri Radhakrishnan to DSVA Slack"
# Description

Please add gradhakrishnan@lts.com as a multi-channel guest to these channels:
- vaos-team
- vaos-eng
- vaos-alerts
- idme-va-gov

This is a new VAMF QA team member supporting the VAOS backend services.

[2021-12-28 20:30] kevwalsh opened #34591 "Request access to Domo"
Looks like this template may be broken. I'll follow up on #vfs-platform-support

[2021-12-28 20:36] tressaellen commented on #33839
Sorry - I know this is closed - but I wanted to post this here while I'm thinking about it. Do we need to work with content on the 'You have 2 new messages' alert now as well to be plain text + a link? It seems like all of the alerts should be consistent structure-wise.![Screen Shot 2021-12-28 at 1.26.25 PM.png](https://images.zenhubusercontent.com/5dfa65bbbd078d1699e52294/bf1e0b38-390f-48c3-9d84-

[2021-12-28 20:51] pdavies88 commented on #33323
I believe that to achieve the result being requested a developer would need to add an additional parameter to their form configuration that would specify the correct ending date for that form set as daysTillExpires.

Overall this request will ultimately effect a lot of current forms and probably should lead to a larger conversation with the PST Forms Team about how to handle this request as they r

[2021-12-28 20:57] jsing0 commented on #33986
Here is the [link to the burn board and tracking changes mural for Sprint 8](https://app.mural.co/invitation/mural/innovationboards1199/1640715601448?sender=u363f843c6d3533347d471444&key=eb3b6ed3-9e88-49d7-b140-2bcd232a7a1b)

[2021-12-28 20:58] lihanli commented on #34250
i reviewed the spreadsheet and the endpoints are accurate, also the `/v0/notifications` endpoint is owned by our team

[2021-12-28 20:58] jsing0 commented on #34561
[Sprint 8 Design Mural ](https://app.mural.co/invitation/mural/innovationboards1199/1640715601448?sender=u363f843c6d3533347d471444&key=eb3b6ed3-9e88-49d7-b140-2bcd232a7a1b)

[2021-12-28 20:59] #34588 closed

[2021-12-28 20:59] MarciMcGuireGCIO commented on #34250
Thank you!

[2021-12-28 20:59] #34250 closed

[2021-12-28 21:12] tressaellen commented on #33827
The sketch file has been updated and the [documentation is here](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/my-va/payment-history/documentation/payment-history-frontend.md). I didn't put screenshots in since there are so many parts that are in flux.

[2021-12-28 21:12] #33827 closed

[2021-12-28 21:22] lihanli commented on #34403
@MarciMcGuireGCIO @Samara-Strauss

Grafana: http://grafana.vfs.va.gov/d/lmh-7kA7k/va-gov-profile-apis?orgId=1

Sentry: http://sentry.vfs.va.gov/organizations/vsp/issues/?environment=production&project=3&query=level%3Aerror+controller_name%3A%5Baddresses%2Cch33_bank_accounts%2Cppiu%2Cpayment_history%2Cvalid_va_file_numbers%2Cpersons%2Cemail_addresses%2Cconnected_applications%2Ctransactions%2Cteleph

[2021-12-28 21:23] JordanSWhite opened #34592 "Collaboration Cycle Kickoff [Cedar Health Apartment]"
## Steps to complete the Collaboration Cycle Kickoff

**VFS Product Manager**

- [ ] Create this issue and notify the Collaboration Cycle team of this ticket in the in #vfs-platform-support ([see Slack Workflow (User guide](https://depo-platform-documentation.scrollhelp.site/support/Getting-help-from-the-Platform-in-Slack.1439138197.html)).
- [ ] Answer the questions below and attach any artifacts

[2021-12-28 21:26] MarciMcGuireGCIO commented on #34403
Thank you so much!

[2021-12-28 21:26] #34403 closed

[2021-12-28 21:28] mgleo commented on #34152
Consideration: Elsewhere on VA.gov, users are asked for feedback using this blue feedback button. Consider utilizing the blue feedback button for style consistency and to prevent pushing content further down the page.
![Screen Shot 2021-12-28 at 2.53.54 PM.png](https://images.zenhubusercontent.com/5f91de193a0ac23f49d7bf89/1f51585c-8434-4508-96cb-2c0ddae7ca67)

Wireframes/ User flow:
![submit-feedb

[2021-12-28 21:28] #34152 closed

[2021-12-28 21:28] #34256 closed

[2021-12-28 21:34] shiragoodman commented on #34581
thanks @SKasimow . We no longer allow folks to skip design intent as it's the first time we're getting introduced to your product. So although we may not be providing critical feedback, it does allow us to be better prepared for Staging Review. Plus Ryan Thurlwell and the Sitewide Content team attend Design Intent, and they also use the meeting as an introduction to your feature/product.

[2021-12-28 21:51] #30189 closed

[2021-12-28 21:51] CBonade commented on #33795
So far I was able to condense two repeat groups of steps into composite actions:

1) The checkout and dependency install of the dashboard data repo is now a two-line step instead of 20+
2) The step that gets the bigquery service credentials and configures the cloud SDK (always done together) is also now a two-line step instead of ~6-8ish each

Looking for more opportunities for more reductions as

[2021-12-28 22:38] ltrombley commented on #34585
Task #34585 -  Update 13 System Health Services descriptions with the correct wording from the Health Service Library [BA]  - is Complete and moved to Validate

[2021-12-28 22:40] kathleencrawford commented on #34391
We had a group discussion about this today and plan on following up tomorrow.  We also need to confirm with Kelli for some of the unknown use cases.

But for now, the Pending and Pending Upload statuses have been submitted in this PR for merging.  We will need another PR to make additional changes for other Pending scenarios not included here.

[2021-12-28 22:40] ltrombley commented on #34578
Task #34578 - Review and standardize all H1 Naming conventions for VAMC Campus map pages [BA] - is Complete and moved to Validate

[2021-12-28 22:42] ltrombley commented on #34578
NOTE: URL re-directs are pending - Stan G. working on getting these done.

[2021-12-28 23:01] GcioNapoleon commented on #33740
Modified the liquid.filters.topTaskUrl to have all of the changes in the table

![Screen Shot 2021-12-28 at 5 00 06 PM](https://user-images.githubusercontent.com/95312667/147613281-616eedde-4957-4a59-8c80-eecfbbc4b223.png)

[2021-12-28 23:05] #33538 closed

[2021-12-28 23:06] SKasimow commented on #33538
Closing....Janes and Sharon reviewed ticket for completeness.

[2021-12-28 23:08] #33537 closed

[2021-12-28 23:10] #34031 closed

[2021-12-28 23:11] #34134 closed

[2021-12-28 23:13] #34570 closed

[2021-12-28 23:15] #34251 closed

[2021-12-28 23:15] laurenernest opened #34593 "[Report] Direct scheduling data & visuals - December (due 1/10)"
## Request

Data and visualizations for direct scheduling metrics in Loki for the full month of December (12/1-12/31)

**Submission errors**
- [x] Spreadsheet of error reasons and counts
- facility or site id
- clinic id
- error reason friendly description
- error code
- number of times occurred
- [x] Screenshot of trend chart

**Clinic names**
- [x] Spreadsheet of clinic names and counts
- facili

[2021-12-28 23:17] jsgarmon commented on #34461
Access granted. Please allow for 10 minutes for your key to be propagated to the various locations before attempting to connect.

See docs for further steps: https://depo-platform-documentation.scrollhelp.site/getting-started/Internal-tools-access-via-SOCKS-proxy.1821081710.html

Feel free to contact me in slack on #vfs-platform-support if you have any trouble.

[2021-12-28 23:17] #34461 closed

[2021-12-28 23:18] #30792 closed

[2021-12-28 23:19] lindsay-insco commented on #34080
Final version uploaded and approved by SS

[2021-12-28 23:19] #34080 closed

[2021-12-28 23:20] lindsay-insco commented on #32541
Survey closed

[2021-12-28 23:20] #32541 closed

[2021-12-28 23:37] SKasimow commented on #34429
@adamwhitlock1 Thanks Adam!

[2021-12-28 23:39] #34429 closed

[2021-12-28 23:41] lindsay-insco opened #34594 "[02/11/22]VEText Newsletter Template"
To better communicate news and increase touchpoints with VEText users, a newsletter which was previously sent out pre-product support team, will be re-integrated into the VEText environment. Steps to bring this newsletter back into the world include:

- [x] Establish content strategy for newsletters
- [x] Newsletter Cadence established
- [x] Determine Sharepoint template
- [x] Determine distributi

[2021-12-28 23:47] #34131 closed

[2021-12-28 23:47] #34132 closed

[2021-12-28 23:47] #34130 closed

[2021-12-28 23:47] #34129 closed

[2021-12-28 23:47] #34113 closed

[2021-12-28 23:47] #33402 closed

[2021-12-28 23:48] #33401 closed

[2021-12-28 23:48] #33398 closed

[2021-12-28 23:48] #33943 closed

[2021-12-28 23:48] #33806 closed

[2021-12-28 23:48] #32651 closed

[2021-12-28 23:48] #33409 closed

[2021-12-28 23:48] #33263 closed

[2021-12-28 23:48] #32994 closed

[2021-12-28 23:48] #33396 closed

[2021-12-28 23:48] #27288 closed

[2021-12-28 23:48] #33400 closed

[2021-12-28 23:48] #33395 closed

[2021-12-28 23:48] #33394 closed

[2021-12-28 23:48] #33393 closed

[2021-12-28 23:48] #33403 closed

[2021-12-28 23:48] #34111 closed

[2021-12-28 23:48] #33392 closed

[2021-12-28 23:48] #33404 closed

[2021-12-28 23:48] #33405 closed

[2021-12-28 23:49] #33399 closed

[2021-12-29 00:01] SgardnerPMP opened #34595 "[VAMC] Test Teams Forum/Blog with VHA resource [VAMC]"
## Story
As a VAMC editor, I need to be able to reach out to a Community of practice via a Teams Forum, so I can get feedback from my peers and VHA regarding any issues I am experiencing.

## Tasks
Set up Teams Meeting and set up meeting as Forum discussion site:
- [ ] Work with VHA Digital media to set up Communities of Practice via Teams for 2022
- [ ] Load all tools and documents needed so they

[2021-12-29 00:07] SgardnerPMP opened #34596 "[VAMC] Set Meeting with QR code Project, Support for first responders for Proof of Concept roll out [PM]"
## Story
As a Veteran I need first responders to have active access to support resources, so I can receive the support I needed quickly.

## Resources
KB article

## TASKS
- [x] Set up meeting to review outcome from four pilot projects that utilized the kb article to make their Contact Us section
- [x] Review the sections to see the consistency and outcomes and use for review.
- [x] Document feedb

[2021-12-29 01:04] alexandec commented on #34572
Changes required:
- Upgrade `react-router` to 5.1.2
- Upgrade `history` to 5.2.0
- Remove `history-v4` and change imports to `history`
- Change `<IndexRoute component={Introduction} key="/intro" />` to `<Route exact path="/" component={Introduction} key="/intro" />`
- Change `import { Link } from 'react-router'` to `import { Link } from 'react-router-dom'`
- Change `createHistory` to `createBrowse

[2021-12-29 02:12] pavanhothi commented on #34591
Confirmed received email confirmation. Access granted. Completed.

[2021-12-29 02:12] #34591 closed

[2021-12-29 02:32] jparker0425 commented on #34218
Hey @brianseek ! Would you mind adding what the dependency is for this item when you get chance?

[2021-12-29 05:35] SgardnerPMP opened #34597 "[VAMC] Review Lovell Federal health care - DoD pages with Facillities team for design [VAMC]"
## Story
As a active DoD and Veteran I need to understand my choices on the Lovell Federal health care system, so I better know my health care choices.

## Resources

## Tasks
- [x] Review DoD shared pages and details with Facilities team
- [x] Discuss Input from VAMC
- [x] Discuss notes from DoD and VAMC

## Acceptance Criteria
- [ ] Meeting with Facilities and support design and research

[2021-12-29 05:59] SgardnerPMP opened #34598 "[VAMC] Review and validate VAMC System pages have Operating Status link is in place [BA]"
## Story
As a Veteran I need to have a link to the Operating Status on the system page, so I can quickly find facility operational status.

## Resources

## Tasks
- [x] Review the VAMC system pages and confirm that Operating Status link is correct and updated.

## Acceptance Criteria
- [x] Validation of all VAMC systems have operating status complete.

[2021-12-29 06:03] SgardnerPMP opened #34599 "[Quality Assurance Audit] Post Production Audit of VAMC VA Birmingham health care for links, standards, and design standards.[BA]"
## User Story
As a VHA Digital Media web manager, the system websites need to be audited for standardization and mistakes, so websites can be updated an corrected to meet design standards.

## Goal
Remove deviations from standards.

## Resources - Tools - Documentation
[Audit checklist](https://governmentcio.sharepoint.com/sites/VSATeam/Shared%20Documents/Forms/AllItems.aspx?newTargetListUrl=%2Fsi

[2021-12-29 06:06] SgardnerPMP opened #34600 "[Quality Assurance Audit] Post Production Audit of VAMC VA Central Alabama health care for links, standards, and design standards.[BA]"
## User Story
As a VHA Digital Media web manager, the system websites need to be audited for standardization and mistakes, so websites can be updated an corrected to meet design standards.

## Goal
Remove deviations from standards.

## Resources - Tools - Documentation
[Audit checklist](https://governmentcio.sharepoint.com/sites/VSATeam/Shared%20Documents/Forms/AllItems.aspx?newTargetListUrl=%2Fsi

[2021-12-29 06:08] #34391 closed

[2021-12-29 06:08] SgardnerPMP opened #34601 "[Quality Assurance Audit] Post Production Audit of VAMC VA Cincinnati health care for links, standards, and design standards.[BA]"
## User Story
As a VHA Digital Media web manager, the system websites need to be audited for standardization and mistakes, so websites can be updated an corrected to meet design standards.

## Goal
Remove deviations from standards.

## Resources - Tools - Documentation
[Audit checklist](https://governmentcio.sharepoint.com/sites/VSATeam/Shared%20Documents/Forms/AllItems.aspx?newTargetListUrl=%2Fsi

[2021-12-29 06:11] SgardnerPMP opened #34602 "[Quality Assurance Audit] Post Production Audit of VAMC VA Puget Sound health care for links, standards, and design standards.[BA]"
## User Story
As a VHA Digital Media web manager, the system websites need to be audited for standardization and mistakes, so websites can be updated an corrected to meet design standards.

## Goal
Remove deviations from standards.

## Resources - Tools - Documentation
[Audit checklist](https://governmentcio.sharepoint.com/sites/VSATeam/Shared%20Documents/Forms/AllItems.aspx?newTargetListUrl=%2Fsi

[2021-12-29 06:14] SgardnerPMP opened #34603 "[Quality Assurance Audit] Post Production Audit of VAMC VA San Francisco health care for links, standards, and design standards.[BA]"
## User Story
As a VHA Digital Media web manager, the system websites need to be audited for standardization and mistakes, so websites can be updated an corrected to meet design standards.

## Goal
Remove deviations from standards.

## Resources - Tools - Documentation
[Audit checklist](https://governmentcio.sharepoint.com/sites/VSATeam/Shared%20Documents/Forms/AllItems.aspx?newTargetListUrl=%2Fsi

[2021-12-29 06:19] SgardnerPMP opened #34604 "[Quality Assurance Audit] Post Production Audit Part 2 of VAMC VA Black Hills for content, plain language standards, formatting.[CW]"
## User Story
As a VHA Digital Media web manager, the system websites need to be audited for standardization and mistakes, so websites can be updated an corrected to meet design standards.

## Goal
Remove deviations from standards.

## Resources - Tools - Documentation
[Audit Part 1 checklist](https://governmentcio.sharepoint.com/sites/VSATeam/Shared%20Documents/Forms/AllItems.aspx?newTargetListUr

[2021-12-29 06:25] SgardnerPMP opened #34605 "[Quality Assurance Audit] Post Production Audit Part 2 of VAMC VA Richmond for content, plain language standards, formatting.[CW]"
## User Story
As a VHA Digital Media web manager, the system websites need to be audited for standardization and mistakes, so websites can be updated an corrected to meet design standards.

## Goal
Remove deviations from standards.

## Resources - Tools - Documentation
[Audit Part 1 checklist](https://governmentcio.sharepoint.com/sites/VSATeam/Shared%20Documents/Forms/AllItems.aspx?newTargetListUr

[2021-12-29 06:27] SgardnerPMP opened #34606 "[Quality Assurance Audit] Post Production Audit Part 2 of VAMC VA Birmingham for content, plain language standards, formatting.[CW]"
## User Story
As a VHA Digital Media web manager, the system websites need to be audited for standardization and mistakes, so websites can be updated an corrected to meet design standards.

## Goal
Remove deviations from standards.

## Resources - Tools - Documentation
[Audit Part 1 checklist](https://governmentcio.sharepoint.com/sites/VSATeam/Shared%20Documents/Forms/AllItems.aspx?newTargetListUr

[2021-12-29 06:30] SgardnerPMP opened #34607 "[Quality Assurance Audit] Post Production Audit Part 2 of VAMC VA Central Alabama for content, plain language standards, formatting.[CW]"
## User Story
As a VHA Digital Media web manager, the system websites need to be audited for standardization and mistakes, so websites can be updated an corrected to meet design standards.

## Goal
Remove deviations from standards.

## Resources - Tools - Documentation
[Audit Part 1 checklist](https://governmentcio.sharepoint.com/sites/VSATeam/Shared%20Documents/Forms/AllItems.aspx?newTargetListUr

[2021-12-29 06:33] SgardnerPMP opened #34608 "[Quality Assurance Audit] Post Production Audit Part 2 of VAMC VA Cincinnati for content, plain language standards, formatting.[CW]"
## User Story
As a VHA Digital Media web manager, the system websites need to be audited for standardization and mistakes, so websites can be updated an corrected to meet design standards.

## Goal
Remove deviations from standards.

## Resources - Tools - Documentation
[Audit Part 1 checklist](https://governmentcio.sharepoint.com/sites/VSATeam/Shared%20Documents/Forms/AllItems.aspx?newTargetListUr

[2021-12-29 06:35] SgardnerPMP opened #34609 "[Quality Assurance Audit] Post Production Audit Part 2 of VAMC VA Puget Sound for content, plain language standards, formatting.[CW]"
## User Story
As a VHA Digital Media web manager, the system websites need to be audited for standardization and mistakes, so websites can be updated an corrected to meet design standards.

## Goal
Remove deviations from standards.

## Resources - Tools - Documentation
[Audit Part 1 checklist](https://governmentcio.sharepoint.com/sites/VSATeam/Shared%20Documents/Forms/AllItems.aspx?newTargetListUr

[2021-12-29 06:37] SgardnerPMP opened #34610 "[Quality Assurance Audit] Post Production Audit Part 2 of VAMC VA San Francisco for content, plain language standards, formatting.[CW]"
## User Story
As a VHA Digital Media web manager, the system websites need to be audited for standardization and mistakes, so websites can be updated an corrected to meet design standards.

## Goal
Remove deviations from standards.

## Resources - Tools - Documentation
[Audit Part 1 checklist](https://governmentcio.sharepoint.com/sites/VSATeam/Shared%20Documents/Forms/AllItems.aspx?newTargetListUr

[2021-12-29 06:53] SgardnerPMP opened #34611 "[VAMC] Develop VAMC report of pages and nodes that are not being used as assumed and categorize them [VAMC]"
## Story
As a VAMC editor I need to know the correct usage of the VAMC pages, so I can better manage the intent of pages.

## Resources

## Task
- [ ] Review all pages that are not being utilized correctly
- [ ] Categorize causes of the miss use
- [ ] Provide full report of all the categories and URL examples

## Acceptance Criteria
* Artifact in report format is provided to VHA DM

[2021-12-29 06:57] SgardnerPMP opened #34612 "[VAMC] Send QA documents back to PAO editors with informational summary and provide access suppport [PM]"
## Story
As a System editor, I need to have quality input on my system pages, so I know best practices, and can update my site regularly and keep it at a higher quality.

## Resources
VHA DM guidance on website report cards.

## Task
- [ ] Update all QA documents with new format, colors, and icons to match closer to VHA DM report card
- [ ] Send out QA document with email introduction to all syste

[2021-12-29 12:42] taylorkaren commented on #19473
Forms Library Team Ticket: https://app.zenhub.com/workspaces/forms-library---platform-spike-team-61b0ae1f2cd3c30014e8a5b0/issues/department-of-veterans-affairs/formulate/87.

[2021-12-29 12:43] taylorkaren commented on #14690
Forms Library Team Ticket: https://app.zenhub.com/workspaces/forms-library---platform-spike-team-61b0ae1f2cd3c30014e8a5b0/issues/department-of-veterans-affairs/formulate/86.

[2021-12-29 12:44] taylorkaren commented on #13007
Forms Library Team Ticket: https://app.zenhub.com/workspaces/forms-library---platform-spike-team-61b0ae1f2cd3c30014e8a5b0/issues/department-of-veterans-affairs/formulate/89.

[2021-12-29 12:45] taylorkaren commented on #5875
Forms Library Team Ticket: https://app.zenhub.com/workspaces/forms-library---platform-spike-team-61b0ae1f2cd3c30014e8a5b0/issues/department-of-veterans-affairs/formulate/88.

[2021-12-29 14:09] nicole-leonard opened #34613 "Form 21P-530EZ"
#[https://app.zenhub.com/files/133843125/5cc6ea20-2fdb-423b-9a95-567058280b41/download](https://app.zenhub.com/files/133843125/5cc6ea20-2fdb-423b-9a95-567058280b41/download)Issue Description

 21P-530EZ is not showing up in search results. This is an active entry in Lighthouse. We also have a "draft" version in Drupal as well as an older archived version. I hypothesize that this collision is what

[2021-12-29 14:11] #34073 closed

[2021-12-29 14:13] nicole-leonard opened #34614 "S+D Sprint 64 Priorities"
S+D Sprint 64 Priorities 34614
Search & Discovery Team Sprint 64 Priorities
To summarize and track team efforts aligned to Sprint 63(Dec 15 -Dec 28)

Sprint Goals/ Priorities DEV
[34156](https://github.com/department-of-veterans-affairs/va.gov-team/issues/34156)- Search UI Consistency for UX and Find a Form
[34626](https://github.com/department-of-veterans-affairs/va.gov-team/issues/34626)- Good/B

[2021-12-29 14:24] #32513 closed

[2021-12-29 14:24] #33151 closed

[2021-12-29 14:28] #34151 closed

[2021-12-29 14:30] #31215 closed

[2021-12-29 14:36] #33986 closed

[2021-12-29 14:36] #33984 closed

[2021-12-29 14:36] #34203 closed

[2021-12-29 14:36] #34190 closed

[2021-12-29 14:36] #33970 closed

[2021-12-29 14:36] #33985 closed

[2021-12-29 14:36] #34157 closed

[2021-12-29 14:36] #33971 closed

[2021-12-29 14:36] #34198 closed

[2021-12-29 14:36] #34199 closed

[2021-12-29 14:36] #34193 closed

[2021-12-29 14:36] #34237 closed

[2021-12-29 14:36] #34235 closed

[2021-12-29 14:36] #34191 closed

[2021-12-29 14:36] #34236 closed

[2021-12-29 14:36] #34200 closed

[2021-12-29 14:39] #29793 closed

[2021-12-29 14:40] shiragoodman commented on #33116
@allison0034 approved!

[2021-12-29 14:55] audayotte opened #34615 "Offboarding of Genevieve Hiller"
# Instructions
Fill out name of individual and *Description* section below.

# Description
- Please provide the name of the individual needing offboarded.

- Please provide the name of their team, their role on that team, expected last day, and the name of the company they work for.

- Please provide any type of access they may have and their GitHub username.

## AC
*Performed by Platform team*
 -

[2021-12-29 14:56] ptouchton commented on #33142
@laurenernest I am finishing up the work on this new component and I have a question about this task in the ticket.

I can't figure out how our alert boxes are tied to the loading indicator...can you clarify this A/C for me...or would Jennie know what I should be looking at?

Thank you

[2021-12-29 15:18] jsgarmon commented on #34615
@audayotte : I'm not seeing a Genevieve Hiller in any system, including Slack. Can you confirm she doesn't have GA or Domo access?

[2021-12-29 15:37] LinnJS commented on #27662
PR was merged

[2021-12-29 15:37] #27662 closed

[2021-12-29 15:49] af-manish commented on #33864
There are issues with deploying on GIDS to allow this to be QAed. @PJart is working with platform, but there will not be activity until after Jan 4, 2022 due to lack of resources on the platform team..

[2021-12-29 16:04] shiragoodman opened #34616 "Edit instructions for VA 508 Office support to include Martha"
## Issue Description
The [How to request support from the VA 508 Office](https://depo-platform-documentation.scrollhelp.site/developer-docs/How-to-request-support-from-the-VA-508-Office.1857913061.html) instructions on Platform Website need to be modified so that the OCTO Accessibility Lead, Martha Wilkes, is included. The instructions should be edited to instruct the VFS team member to include Ma

[2021-12-29 16:07] rbeckwith-oddball opened #34617 "DDL and DML against databases by principals shall be auditable, audited, and preserved"
As a security engineer, I need to have the ability to audit any and all queries performed against any database by a principal that's been granted temporary read-access.
# Scenario
Developer DEV does not have access to talk to the database DB directly
DEV requests access to DB in environment E and sufficiently justifies access request
Access is discussed and Security Team is looped in to evaluate
D

[2021-12-29 16:19] tmitchellgcio commented on #34545
![Screenshot 2021-12-29 111057.png](https://images.zenhubusercontent.com/60ad368786f922a382c8b16b/01c81475-b0c3-4071-941d-b6fd7fa795d6)
![Screenshot 2021-12-29 111120.png](https://images.zenhubusercontent.com/60ad368786f922a382c8b16b/266dc880-f949-436c-831f-f72da205cea9)

[2021-12-29 16:36] Dene-human commented on #34581
Hi @shiragoodman

Thank you so much for your review. Just to make sure that we are all on the same page, this is not a new product. (10-10 team is the new name for the Caregiver team). This is for the 10-10EZ Health care application, which we have met about on other features before. Danielle Thierry wrote this question in coordination with the Health care application stakeholders, and there are no

[2021-12-29 16:42] mdewey commented on #30050
This is tied to the restrict retries ticket

[2021-12-29 16:44] mmiddaugh commented on #34427
Blocked by requirements to determine lat/long for CAPs

[2021-12-29 16:50] LinnJS commented on #34160
[here](https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/applications/medical-copays/components/Alerts.jsx#L31) is the file that we have all Alerts in for Medical Copays.

One thing to note is we are not using a single icon element in this file.

When looking at the Design System Alert [here](https://github.com/department-of-veterans-affairs/component-library/blob/mast

[2021-12-29 16:51] shiragoodman commented on #34581
@Dene-human thanks for reaching out. Yes, I understand that the Caregivers team name has changed to 10-10. And we know that the 10-10EZ is not a new product. I should've spoken more generally above. This is the first time we're getting introduced to the _feature enhancement_ of your product. Even though there may not be any new design elements, the IA has likely changed and we still need to review

[2021-12-29 16:52] Dene-human commented on #34581
Ok, cool. Sounds good! Thank you for reviewing!

[2021-12-29 16:52] shiragoodman commented on #34160
@joshkimux can you look into this when you're back in the office? @LinnJS if confirmed, we will get this ticket transferred appropriately. Thanks!

[2021-12-29 17:00] joshkimux commented on #34160
Still in the office 😄

@LinnJS , thanks for exploring this! For some context, I thought this would be fixed in the design system [according to this ticket](https://github.com/department-of-veterans-affairs/component-library/pull/74) and [noted in this comment](https://github.com/department-of-veterans-affairs/va.gov-team/issues/19674#issuecomment-830233729).

Would love @bkjohnson or @caw310 to he

[2021-12-29 17:09] adamwhitlock1 commented on #32775
I'd like to discuss this further.

I think making the text field required when the 'other' radio is selected is a pretty easy ask, but clearing out the text field when a different radio is selected presents some challenges that I've kind of run into a wall on.

I wonder if conditionally hiding the field is completely off the table, because if we could conditionally hide the field, then we wouldn't

[2021-12-29 17:12] MarciMcGuireGCIO commented on #32775
Makes sense. I will schedule a meeting with Platform so we can discuss.

[2021-12-29 17:14] Samara-Strauss commented on #34247
@MarciMcGuireGCIO does this still need to be open given #34290? I'm genuinely unsure, so let me know if it does. I saw this was checked off for last sprint, so I just want to make sure I understand if there is still work on this specific ticket that needs to be done, or if everything has been moved over to #34290.

[2021-12-29 17:18] Samara-Strauss commented on #33860
@MarciMcGuireGCIO

- #34242 does not need to be in this list/checked off since it is a ticket you created for later.
- Is #34247 done or not?
- #34290 should also not be checked off since it's not done, but you can move it to next sprint since it of course couldn't be finished because of the code freeze.

[2021-12-29 17:18] MarciMcGuireGCIO commented on #34247
@Samara-Strauss The button-specific  work was moved to #34290, but the content highlighted in the screen shots still will need to be tweaked. It’s content work, but we’ll eventually have a FE ticket when they tell us what the new text should be.

[2021-12-29 17:21] MarciMcGuireGCIO commented on #34290
I’m sorry for the confusion @Samara-Strauss , I checked off my to creating the requests, not that the work in the tickets themselves have been completed. I just listed the new ticket numbers for reference.

[2021-12-29 17:23] ltrombley commented on #34067
Task #34067 - Post Production Audit of VAMC VA Black Hills health care for links, standards, and design standards.[BA]  - is Complete and moved to Validate

[2021-12-29 17:25] MarciMcGuireGCIO commented on #34247
@Samara-Strauss the content request is not done.  I only listed to-dos for myself to create new tickets so I had a place to keep up with requests I needed to create. They did not have estimates for my time and are not listed on the Sprint report.  I am sorry for the confusion.