[2022-10-17 19:22] bevnobev commented on #47441
It is odd that  the Board of Veteran Appeals team did not mention that the term appeals will no longer be used

[2022-10-17 19:23] shiragoodman commented on #48249
@sortizsh correct, this is not a launch-blocking issue, however it is also not a "nice to have". This is a Platform standard, and although you're not being asked to correct before launch, you will be required to fix in time.

[2022-10-17 19:25] adamwhitlock1 commented on #31403
@SKasimow you can validate this as well now if you would like.

[2022-10-17 19:27] ianpsant commented on #45133
Hi Chloe,

I made some edits to the sheet and am tracking down a few answers including
what's going on with the Start Chat button. I'll let you know when the
sheet is finalized, but letting you know in case this is helpful to get a
head start.

Thanks,

ian

On Wed, Oct 12, 2022 at 6:30 PM Chloe Brown ***@***.***>
wrote:

[2022-10-17 19:28] humancompanion-usds commented on #48258
@PSIEBENLIST - Here are the stats and conclusion I drew from the a11y audit:

### Digitizing forms will not remove a significant number of PDFs from VA.gov

* 6,408 PDFs scanned for accessibility in September 2022. 127,689 issues were identified.
* 259 contain the word “form” in the URL - 4% of all PDFs scanned [1]
* 54 are confirmed Veteran-facing forms that are in the Forms DB - only .8%
* Digit

[2022-10-17 19:32] considerable opened #48320 "AWS access for Igor Yegorov"
### COR Name

Cecila Lee

### Vendor Onboarding Representative Name

Liberty IT -  Michael G. Lovejoy

### Your Name

Igor Yegorov

### Your Email

Igor.Yegorov@adhocteam.us

### Team, Role, and Company of the target individual

VSP DevOps Community of Practice, Senior Software Engineer, AdHoc LLC

### Product Manager (PM) name and email

Lainey.Trahan@adhocteam.us

### Product Owner (PO) name and

[2022-10-17 19:35] vbellissimo opened #48321 "Draft and post Slack announcements for archiving #platform-confluence"
### Tasks

- [x] Create the first pre-change Slack announcement
- [x] Create the second pre-change Slack announcement
- [x] Create a post-chance Slack announcement
- [x] Post Jan 25 announcements
- [x] Post Jan 31 announcements
- [x] Post Feb 1 announcements

### Task Info:
Create a Slack announcement about the following things:

- The #platform-confluence Slack channel will be archived on xx/xx/x

[2022-10-17 19:36] vbellissimo opened #48322 "Establish Platform Content Orientation for Platform team members"
## High Level User Story/ies
As a new Platform team member,
I need to understand how the Platform website is maintained,
so I can make contributions to the content in the future.

As a Platform Content team member,
we need to know who is new to the Platform contract,
so that we can establish report with them,
so that we can explain the purpose of the Platform website,
so that they know how to cont

[2022-10-17 19:36] tbaker1026 commented on #48262
Is it possible to remove the PII data?

[2022-10-17 19:37] CherylEvans commented on #47417
@shiragoodman @briandeconinck Here is the first rough [draft](https://vfs.atlassian.net/wiki/spaces/PPST/pages/2396619099/47417+-+Cheryl+Draft+-+Staging+Review+Drafting+Template+Guidance) that shows the user how/where to add images to GH.  Number 4 is a work in progress with regard to previewing images.  This is what I found on the net, but when I tried the practical application, I had to go throu

[2022-10-17 19:39] heyjoni commented on #48303
The target link is correct and okay to implement.

As mentioned in[ issue 48280](https://github.com/department-of-veterans-affairs/va.gov-team/issues/48280), the "online tool" section should be removed from this page since the online tool would redirect back to this PDF form landing page (cc: @RLHecht )

[2022-10-17 19:41] CherylEvans commented on #47917
@briandeconinck PW has been updated, so it should be ready for peer review.  Once you give the thumbs up, I will complete the last task.  :-) Thanks in advance!

[2022-10-17 19:41] briandeconinck commented on #47917
I was just looking at it and updated everything looks good to me!

[2022-10-17 19:44] RLHecht opened #48323 "Minor updates to age eligibility for COVID boosters"
## Issue Description
We made changes to the main COVID page and the boosters page around age eligibility. We need to get the content approved and published.

## Tasks
- [x] Updates to main page and booster page (Danielle)
- [x] Review (Laura)
- [x] Send to stakeholders (Randi)
- [x] Copyedit and publish (Randi)

## Acceptance Criteria
- [x] New updates are live on production

[2022-10-17 19:46] taylojill commented on #47863
10/17/22 - Messages sent to Joe Tice and Peter Hill via platform-team Slack channel.

[2022-10-17 20:04] briandeconinck opened #48324 "Design Intent - Accessibility Feedback - 10-10EZ Household Information Optimization"
## VFS acceptance criteria
- [x] Let Platform know when the **Must** feedback has been incorporated
- [x] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
- Overall I think this is looking good! I'm looking forward to seeing what

## Feedback
- Practice areas will document their feedback following the [Must, Should, and Consider Frame

[2022-10-17 20:14] RLHecht commented on #48280
@jsimonVA Question about the PDF link we want to put onto the National Call to Service page. As a general rule, when we have form PDFs, we usually direct the user to the find form page for that specific form instead of directly to the PDF with this type of content: Get VA Form XX-XXXX to download. Is there a reason we can't do this here and would need to link directly to the PDF?

[2022-10-17 20:25] data-doge commented on #47435
Okay, I think I've wrapped my head around the expired auth token issue:

Auth tokens expire after 5 minutes. See [link](https://github.com/department-of-veterans-affairs/vets-api/blob/0f30e99bae5c4c15dcf5c2a18efe33e03d0d3098/app/models/sign_in/access_token.rb#L86), [link](https://github.com/department-of-veterans-affairs/vets-api/blob/0f30e99bae5c4c15dcf5c2a18efe33e03d0d3098/app/services/sign_in/c

[2022-10-17 20:26] jsimonVA commented on #48280
No reason at all. If there is a general rule then lets follow it. The thought process was to have the user able to download the form without any extra steps. I wasn't aware of a standard way of handling this so lets just do as you mentioned.

[2022-10-17 20:28] jsimonVA commented on #48303
@heyjoni What I can do, if it works with you, once I have my branch ready to merge I can let you know that way we the redirect happens around the same time as the code changes are in prod. Does that work?

[2022-10-17 20:34] benbrasso-agile6 commented on #46318
@kristenmcconnell @loripusey could you review this presentation when you have time? https://docs.google.com/presentation/d/1pwgrjvJU7XH-rQjIgcsuKdkSHSkIHPmM9khK1a2NlNY/edit#slide=id.g11bc03a7278_0_768

@kristenmcconnell I didn't include anything related to "From Corpus Christi... Veterans aren't sure what appointment types can use PCI to check-in" because I don't see the exact connection. For exam

[2022-10-17 20:38] CherylEvans commented on #41709
@naomimarcussen @sterkenburgsara @it-harrison  Hi Naomi! :-) I have created drafts of both of these pages. [Guidance on Inclusive Recruitment](https://vfs.atlassian.net/wiki/spaces/PPST/pages/2403401835/41709+-+Cheryl+Draft+Cheryl+Draft+Guidance+on+Inclusive+Recruitment) and [Guidance on Inclusive Research](https://vfs.atlassian.net/wiki/spaces/PPST/pages/2403500153/41709+-+Cheryl+Draft+Guidance+o

[2022-10-17 20:39] lindsay-insco commented on #38414
Confirm with Dr. Beckett

[2022-10-17 20:39] lindsay-insco commented on #38411
Completed

[2022-10-17 20:39] #38411 closed

[2022-10-17 20:41] lindsay-insco commented on #43912
Haven't transferred codes yet - mass messaging solution priority before.

[2022-10-17 20:41] #41241 closed

[2022-10-17 20:42] lindsay-insco commented on #46355
Completed

[2022-10-17 20:42] #46355 closed

[2022-10-17 20:45] lindsay-insco commented on #46754
Shane to set up appointments in staging for Rob to review issue

[2022-10-17 20:46] lindsay-insco commented on #40996
Transitioning to testing

[2022-10-17 20:48] rmtolmach commented on #47585
Here's the relevant section:

### 18.0 Publicly Accessible Content
#### Publicly Accessible Content (AC-22.1)

18.1 Va.gov designates individuals authorized to post information onto a publicly accessible information system.

18.2 Va.gov trains authorized individuals to ensure that publicly accessible information does not contain nonpublic information.

18.3 Va.gov and the Communications team (whic

[2022-10-17 20:48] lindsay-insco commented on #48152
Unable to test due to issue with invoking certain RPCs against dev VistA - Rob investigating

[2022-10-17 20:50] ldelacosta commented on #48313
Hello @aarathi-poldass

This is not a defect. I was able to submit a CC request for Grethel. Please check with us to see if a user ID has all the V2 feature toggles turned on. The user grethel.g.petryniec@id.me was not set up for the` mobile_appointment_use_VAOS_v2`
toggle. Please re-test to see if you can submit it. Thanks!

![Screen Shot 2022-10-17 at 4.43.58 PM.png](https://images.zenhubusercon

[2022-10-17 20:51] outerpress commented on #48197
@vbahinwillit and @simiadebowale see Brian's recommendations above. UX notes:

* We agree that screenreaders should announce that the appt is canceled both after the time is announced, and in the details link, as Brian describes.
* We agree that screenreaders should announce the full date (e.g., "Monday, October 1st").
* We will ask Angela Fowler to review with screenreader once POC is up on stagi

[2022-10-17 20:51] heyjoni commented on #48303
@jilladams The updates to the destination page will be ready probably this week or next week (@jsimonVA) will let us know when the change is in prod. The URL is correct though.

[2022-10-17 20:52] sortizsh opened #48325 "526ez keyboard only e2e tests (step 2 Disabilities, non-BDD)"
## Value Statement
**_As a_**
**_I want to_**
**_So that_**

---
## Background Context
This commit introduces keyboard-only e2e tests for Chapter 1 (Veteran Details) of the 526ez form. It is scoped to the experience of a non-BDD user. In future commits, we will introduce tests for the remaining 3 chapters. Then we may introduce tests covering the experience of a BDD user, if the team believes it i

[2022-10-17 20:52] sortizsh commented on #48325
relates to Step 1 https://github.com/department-of-veterans-affairs/vets-website/pull/22220

[2022-10-17 21:01] mnorthuis commented on #47441
Adding a little background in case it's helpful

Before the Appeals Modernization Act, everything was referred to as an "appeal", and after AMA it was referred to as a "decision review".  We used to refer to the old process as the "legacy appeal process" and have shifted the overarching terminology to "Requesting a decision review".

That said, there are 3 options you can choose when requesting a

[2022-10-17 21:02] outerpress commented on #48190
@jimuhh thanks! Just a couple of follow-up questions for you:

I think a word is missing after "include" here? ^

Why? The links go to separate pages. It would be confusing to ask a user to switch to an item in a dropdown to navigate to a new page. And since there are fewer than five options, it doesn't seem worth hiding them in a dropdown menu.
We switched from using a dropdown to links because w

[2022-10-17 21:16] #47331 closed

[2022-10-17 21:30] mchelen-gov commented on #47630
@laucon This section still contains a link to Github markdown file:

[2022-10-17 21:39] AGarcia-Clarity commented on #47435
Yes, I can provide some clarity on this situation.  Any part of vets-website that does not use our `apiRequest` utility function (i.e. `fetch`, `axios`, etc) will not work as intended when it comes to refreshing the Access + Refresh token.

@data-doge is correct in that there was a breakage in the `/refresh` endpoint being called automatically.  There was a PR that added the `type` query parameter

[2022-10-17 21:44] laucon commented on #47630
@mchelen-gov Is it not supposed to contain a link to a Github markdown file? I didnt realize that that was a problem since the link is still working. But I'll go ahead and change that link so that it links to the platform documentation instructions for setting SOCKS proxy [here](https://depo-platform-documentation.scrollhelp.site/getting-started/accessing-internal-tools-via-socks-proxy).

[2022-10-17 21:46] laucon commented on #47630
@mchelen-gov Also, is this an ok link? https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/engineering/sentry-tagging-standards.md It appears at the end.

[2022-10-17 21:48] katherine-fung commented on #46817
Hi @RLHecht - I updated the verification instructions on this page to match the upcoming changes in the check-in process.

The page now says: "We’ll ask you to provide your last name and your date of birth" in 2 places.

[I've left a note in the revision log that this change is scheduled to go into effect Thursday, 11/20]

[2022-10-17 21:49] michelle-dooley commented on #48191
No GA or Domo.

[2022-10-17 21:50] jilladams commented on #48303
And our team should wait to implement until that ping from @jsimonVA ?

[2022-10-17 21:56] outerpress commented on #48254
Thanks @allison0034 ! Since we're not doing dev work on the details pages for this body of work we'll incorporate this feedback when we pick up that project (TBD).

I will double-check that we're using the additional info component properly on the current detail pages.

@ldelacosta given that all feedback in this ticket is for the details pages, I think you can close this one.

[2022-10-17 22:02] SKasimow commented on #47381
Hi @ericasauv09 - links to research recommendations are above

[2022-10-17 22:02] acrollet commented on #46949
This was [fixed](https://github.com/department-of-veterans-affairs/vets-website/commit/59067808dbedea5cb4ae4a843694bd4d48edaff8) by Darius Dzien.

[2022-10-17 22:02] #46949 closed

[2022-10-17 22:04] acrollet commented on #46574
Idea: record GA events for pre-checkin started and completed with phone appt.

[2022-10-17 22:06] acrollet commented on #47230
duplicates #47229

[2022-10-17 22:06] #47230 closed

[2022-10-17 22:08] SKasimow opened #48326 "Profile Team | "One Thing Per Page" | Research Recommendations"
## Description

Based on the final report from the recent research sessions around the concept of "one thing per page" (see ticket #47381), several areas within the Profile were identified as areas we could improve upon and create a better experience for our users.

Full research report is [here](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personaliz

[2022-10-17 22:08] acrollet commented on #46239
This test was fixed by Darius Dzien.

[2022-10-17 22:08] #46239 closed

[2022-10-17 22:12] acrollet commented on #46574
related: https://app.zenhub.com/workspaces/check-in-experience-61fc23a2cb8a14001132e102/issues/department-of-veterans-affairs/va.gov-team/46755

[2022-10-17 22:16] ldelacosta commented on #48254
I'll note this for future initiative for the appointment details page. Closing out the ticket

[2022-10-17 22:16] #48254 closed

[2022-10-17 22:17] ldelacosta commented on #48313
Reviewing the ticket details.

[2022-10-17 22:19] outerpress commented on #48187
@DanielleThierryUSDSVA - we'll be sending a separate ticket for reviewing the modality and instruction language, which might overlap with the feedback in this one. No action is needed from you on this ticket, just FYI.

[2022-10-17 22:20] data-doge commented on #47435
Thanks @AGarcia-Clarity! I'm trying to understand the resolution. I see that `apiRequest` handles 403s [by returning the data promise, rather than rejecting it](https://github.com/department-of-veterans-affairs/vets-website/blob/0a8692b443a29b5a6476256f4d075e1491e3fe83/src/platform/utilities/api/index.js#L114). But I don't see how calling `apiRequest` would cause the auth token to be refreshed.

I

[2022-10-17 22:24] zach-park commented on #47836
@loripusey @kristenmcconnell @benbrasso-agile6 @kellysmith1008 @ytsaoca
The wireframe is ready for product/UX review:
https://share.goabstract.com/1f908534-6f25-4f79-8ea6-66a69cdbb7b6?collectionLayerId=0d1a6176-edf6-4c27-b726-df6143829bfe&mode=design

[2022-10-17 22:48] #46890 closed

[2022-10-17 22:54] rmessina1010 opened #48327 "Request access to Google Analytics and/or Domo"
# Request Google Analytics and/or Domo access

## What this form is for
Use this template to request access to Google Analytics and/or Domo. Please complete steps 1 & 2 below.

## 1. Access Requirements
Please check the analytics tool(s) you need access to:
- [ ] Google Analytics
- [ ] Domo
- [x] (Platform Teams only) BigQuery

## 2. User Email Address to Receive Access
**Due to privacy concerns,

[2022-10-17 22:58] SKasimow commented on #31403
@adamwhitlock1 - I also have an LOA1 account and validated that I am seeing same message you posted above :)

[2022-10-17 22:58] #31403 closed

[2022-10-17 23:05] jwoodman5 commented on #47923
@denisecoveyduc Sorry about the delay. This one slipped by. We will get you your data in the next few days!

[2022-10-17 23:07] jwoodman5 commented on #47923
@ianMcCullough-ob Denise confirmed https://va.gov/manage-va-debt/ is the URL she would like the data for. Thanks.

[2022-10-17 23:13] randomsync opened #48328 "[BE] Add configuration for BTSSS endpoints and secrets for staging and production"
## User Story
As a Veteran who is using eCheck-in to check-in for an appointment, I want to have the option to submit a claim for travel reimbursement when I check-in so that I don't have to later fill out a form or visit the Travel Office.

## Tasks
- [ ] [BE] Work with @mdewey to get config settings (incl secrets) from BTSSS team
- [ ] [BE] Add configuration settings to devops and other repos
-

[2022-10-17 23:16] jwoodman5 opened #48329 "[Initiative] Reduce Time for VA.gov Technical Issue Resolutions"
**Reduce the time it takes for Veterans to receive resolutions to their VA.gov technical problems**

## Problem Statement
*When Veterans experience issues while trying to complete tasks on VA.gov, they are often unable to get their issues resolved in a timely manner. It can often take weeks to get seemingly simple problems resolved due to tier 1 capabilities, tier 2 response times, tier 3 engineer

[2022-10-17 23:22] jwoodman5 opened #48330 "[Initiative] VFS Teams Use Customer Feedback to Improve VA.gov Products"
**Empower VFS teams to use customer feedback to improve VA.gov digital products and tools**

## Problem Statement
*We have been capturing valuable data from users of VA.gov through user surveys and support issue tracking systems (Salesforce and AVA) for several years, however it has not been widely utilized by the teams who own the products we are receiving feedback about. This seems to be due to

[2022-10-18 01:14] ericboehs commented on #48305
Everyone already had access except @Alex.Wilson which is not a GitHub member.

[2022-10-18 01:14] #48305 closed

[2022-10-18 01:21] naomimarcussen commented on #41709
Thank you for working on this @CherylEvans! I'd say these pages can live in the [Research: Planning and Recruiting section](https://depo-platform-documentation.scrollhelp.site/research-design/research-planning-and-recruiting).

Also, feel free to add an intro and any other edits to make it flow better. These 2 pages are just a couple in a collection linked to from the [Inclusive Research Guideline

[2022-10-18 01:24] dsinla opened #48331 "VAMC System Banner Alert guidance and governance request from Sitewide"
## What does your team need support for? Check all that apply.
- [ ] Launching one or more new unauthenticated (static) VA.gov pages
- [x] Making revisions to one or more existing unauthenticated (static) VA.gov page
- [ ] Launching a new online form, app, or tool on VA.gov
- [ ] Making revisions to an existing online form, app, or tool on VA.gov
- [x] Something else (please add details in the nex

[2022-10-18 01:30] DanielleThierryUSDSVA commented on #47441
Thanks, @mnorthuis. Yes, the term "appeals" as the overarching term is going away and being replaced by "decision reviews." "Decision reviews and appeals" has been the interim H1 of that section due to the familiarity and SEO value of the "appeal" term.

I agree that if Veterans can't get notifications for the other 2 decision review options (supplemental claim or higher level review) at this time

[2022-10-18 02:30] ldelacosta commented on #48313
Need to determine if this is a BE services issue. There is a [thread in the PPG slack](https://vappgteam.slack.com/archives/C023EFZPX4K/p1666051798611209). Waiting to hear back from Thomas.

cc: @aarathi-poldass

[2022-10-18 02:34] Cmjones233 opened #48332 "AVS Power BI User Guide"
- [ ] Replace VEText with AVS

- [ ] Replace screenshots

- [ ] Post for review

- [ ] make Revisions

- [ ] Upload to sharepoint

[2022-10-18 02:35] Cmjones233 opened #48333 "AVS Power BI User Guide [10/14/2022]"
- [x] Replace VEText with AVS

- [x] Replace screenshots

- [x] Post for review

- [x] make Revisions

- [x] Upload to sharepoint

[2022-10-18 02:35] Cmjones233 commented on #48333
posted guide for review

[2022-10-18 02:58] Cmjones233 commented on #45231
numbers are off significantly

[2022-10-18 11:54] mnorthuis commented on #48303
Hi all, I'd recommend we redirect the online form back to the benefit information page rather than the form search tool.  Can we update the request accordingly?

New destination: https://www.va.gov/education/other-va-education-benefits/national-call-to-service-program/

[2022-10-18 12:24] kylesoskin commented on #37771
Code example error in swagger docs, does not happen with a local/newer version of swaggerui. So hoping this is a thing that will eventually just fix itself. Going to ignore for now, unless I can recreate locally.

![Screen Shot 2022-10-18 at 8.21.13 AM.png](https://images.zenhubusercontent.com/62067253500f33af56810776/3c905b5f-92db-4706-bb98-0f9b511e7cf1)

[2022-10-18 12:43] loripusey commented on #47836
Looks great and well laid out!

[2022-10-18 12:43] loripusey commented on #46318
Looks great and well laid out!

[2022-10-18 12:44] td-usds commented on #48320
Reached out to VOR

[2022-10-18 12:45] #37771 closed

[2022-10-18 12:48] loripusey commented on #47836
@zach-park So, is the only difference from what we have now is the drop shadow?

[2022-10-18 12:50] td-usds commented on #48320
VOR Confirmed, approved

[2022-10-18 12:53] loripusey commented on #47836
Looks good to me

[2022-10-18 12:54] ldelacosta commented on #48250
@jenniemc - I do not see the feature toggle` va_online_scheduling_acheron_service` in [staging](https://staging-api.va.gov/flipper/features/)

[2022-10-18 12:59] annekerr49 commented on #38890
@jhouse-solvd Please update this requesed item.

[2022-10-18 13:00] kylesoskin opened #48334 "Parse CC data"
Acquiring data and parsing it into usable data for Emily.

[2022-10-18 13:01] ianMcCullough-ob opened #48335 "Qualitative Data Request"
### Data Type Requested

User Surveys

### Date Range Start

Test

### Date Range End

Test

### Product Name(s)

Test

### Product Description

Test

### Product URL(s)

Test

### VA Email Address(es)

Test

[2022-10-18 13:02] #48335 closed

[2022-10-18 13:05] loripusey commented on #47852
@ytsaoca @benbrasso-agile6 do we have wireframes yet?

[2022-10-18 13:07] RLHecht commented on #48323
These changes are live. Closing this ticket and will send out the translation work in a follow-up ticket.

[2022-10-18 13:07] #48323 closed

[2022-10-18 13:11] annekerr49 commented on #43543
@raywangoctova @kjduensing please update this requested item

[2022-10-18 13:12] loripusey commented on #47805
@brianseek this should be unblocked now as @zach-park has finished the wireframe (see [ticket](https://app.zenhub.com/workspaces/check-in-experience-61fc23a2cb8a14001132e102/issues/department-of-veterans-affairs/va.gov-team/47836))

[2022-10-18 13:18] benbrasso-agile6 commented on #47836
Added a couple comments for consideration https://app.abstract.com/projects/ab30c34e-e2f9-4d3e-bb96-3b683b006c24/branches/d66b288e-e77e-40ca-8cfe-5f2df811f4be/commits/8f4c19138d11f4fd06c754af7efb1a42442b4398/files/585436fe-2120-45f4-b4f7-fbae01d258d9/layers/00960AB5-9C2A-4E5A-AD8D-8B08C880469C?collectionId=b9470981-9390-403e-aa85-29f94971518b&collectionLayerId=0d1a6176-edf6-4c27-b726-df6143829bfe&

[2022-10-18 13:20] loripusey commented on #47827
@wullaski has this been released to production yet?

[2022-10-18 13:32] benbrasso-agile6 commented on #44383
10/7

![Screen Shot 2022-10-18 at 9.28.00 AM.png](https://images.zenhubusercontent.com/62264cddfdd7546d65710eff/24591334-a6b4-4b60-8236-71fbbdf51585)

[2022-10-18 13:33] benbrasso-agile6 commented on #46817
@RLHecht increasing to 70% today

[2022-10-18 13:37] RLHecht opened #48336 "Update link and remove content on National Call to Service page"
## Issue Description
A product team working on removing the online 22-1990n online form opened an intake request with our team to do some work on the [National Call to Service program](https://www.va.gov/education/other-va-education-benefits/national-call-to-service-program/) page.

Under the H2 How do I get these benefits? We need to remove the "Apply now" link and replace it with a link to the 2

[2022-10-18 13:44] RLHecht opened #48337 "Swap out videos in COVID CLP-HOLD TO PUBLISH UNTIL WEEK OF 10/31/22"
We need to swap out the videos in the stories section of the CLP to these 2 Veterans:

Patricia Victor: https://www.youtube.com/watch?v=Dcnx5fOY268
John McAllister: https://www.youtube.com/watch?v=X2c7NMAWgHM

Drupal Page: Have questions before you get your COVID-19 vaccine? http://preview-prod.vfs.va.gov/preview?nodeId=19578

Documentation for how to swap videos: https://github.com/department-of-

[2022-10-18 13:44] RLHecht commented on #47826
I published this and created a new ticket. Moving to validate.

[2022-10-18 13:52] michelle-dooley commented on #48327
Access has been granted.

[2022-10-18 13:52] #48327 closed

[2022-10-18 13:58] annekerr49 commented on #43540
@raywangoctova @kjduensing -Please update this requested item.

[2022-10-18 13:59] RLHecht commented on #47794
Closing out this ticket.

[2022-10-18 13:59] #47794 closed

[2022-10-18 14:07] Kimberley2019 commented on #46500
Hey @joeniquette let me take a gander.  Please hold.

[2022-10-18 14:10] kristenmcconnell commented on #47569
For the sprint starting on Oct. 19, rows 628-1106 will need to be synthesized.

[2022-10-18 14:16] annekerr49 commented on #38446
@steel36 Please update this requested item

[2022-10-18 14:16] jsimonVA commented on #48303
Good morning, Yes, I will update the request now to reflect the URL redirect change you recommended. I know at first we didn't want to redirect to that page but that was with the thought we could just download the form directly. However, this makes sense to me.

[2022-10-18 14:20] loripusey opened #48338 "Tagalog Support - Round 2"

[2022-10-18 14:24] loripusey opened #48339 "[UX] Submit Translations to the State Department"
## Tasks
- [ ] Create JSON file with new content to be translated
- [ ] Do a diff between the English json file and each non-English json file to ensure all keys that we need translated have been included in the new submission file
- [ ] Create English screen shots for context
- [ ] Submit JSON file and English screen shots to Randi Hecht for forwarding to the State Department

## Acceptance Crite

[2022-10-18 14:24] adamwhitlock1 commented on #46323
Military Info docs for FE have been completed and are located here:

https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/blob/master/products/identity-personalization/profile/military_info/frontend_documentation.md

Closing

[2022-10-18 14:24] #46323 closed

[2022-10-18 14:28] Kimberley2019 commented on #46500
Hey Joe.  He responded, I just sent you the email containing the details.

[2022-10-18 14:31] loripusey opened #48340 "[Product] Send QA Screenshots to the State Department"
## Tasks
- [ ] Create workflow documents that contain screenshots for the Epic/feature
- [ ] Submit documents to the Randi Hecht

## Acceptance Criteria
- [ ] Workflow documents have been submitted to Randi Hecht for forwarding to the State Department

[2022-10-18 14:31] loripusey opened #48341 "[Product] Send QA Screenshots to the State Department"
## Tasks
- [ ] Create workflow documents that contain screenshots for the Epic/feature
- [ ] Submit documents to the Randi Hecht

## Acceptance Criteria
- [ ] Workflow documents have been submitted to Randi Hecht for forwarding to the State Department

[2022-10-18 14:31] loripusey opened #48342 "[Product] Send QA Screenshots to the State Department"
## Tasks
- [x] Create workflow documents that contain screenshots for the Epic/feature
- [x] Submit documents to the Randi Hecht

## Acceptance Criteria
- [x] Workflow documents have been submitted to Randi Hecht for forwarding to the State Department

[2022-10-18 14:32] OptionSelect commented on #47357
https://github.com/department-of-veterans-affairs/vets-website/pull/22435
Initial set of work.

Rest of the stuff in ticket looks like itll just happen as we do efsr for the remaining pages but Ill keep ticket open in case to not miss anything

[2022-10-18 14:34] loripusey opened #48344 "[FE] Add Translations"
## Tasks
- [ ] Add translated content to the appropriate json file
- [ ] Generate screenshots for workflow documents to submit to the State Department

[2022-10-18 14:34] loripusey opened #48345 "[FE] Add Translations"
## Tasks
- [ ] Add translated content to the appropriate json file
- [ ] Generate screenshots for workflow documents to submit to the State Department

[2022-10-18 14:34] loripusey opened #48346 "[FE] Add Translations"
## Files from the State Department
- [LS-2022-0118394-B-FIL-FINAL_tagalog-round-2.json](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/checkin/translations/tagalog-round-2/LS-2022-0118394-B-FIL-FINAL_tagalog-round-2.json)
- [LS-2022-0118394-A-FIL-FINAL_updated_translations_08.18.22.json](https://github.com/department-of-veterans-affairs/va.gov-team/b

[2022-10-18 14:36] loripusey opened #48347 "Release to Production"
## ENGINEERING TASKS
- [ ] Merge code to main branch (or flip the feature flag) on day of release
- [ ] Conduct prod or staging validation, if necessary
   - [ ] Needed
   - [ ] Not needed

## RESEARCH TASKS
- [ ] Push updated Product Guides to Git

## DESIGN TASKS
- [ ]  Merge final wireframes to Abstract main branch
- [ ]  Merge Sketch files to VA Sketch cloud

## PRODUCT TASKS
- [ ] Create rele

[2022-10-18 14:38] loripusey opened #48348 "[FE] Add Translations"
## Files from the State Department
- [LS-2022-0118394-B-SPA-FINAL_spanish-round-3.json](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/checkin/translations/spanish-round-3/LS-2022-0118394-B-SPA-FINAL_spanish-round-3.json)
- [LS-2022-0118394-A-SPA-FINAL_updated_translations_08.18.22.json](https://github.com/department-of-veterans-affairs/va.gov-team/b

[2022-10-18 14:39] loripusey opened #48349 "Release to Production"
## ENGINEERING TASKS
- [ ] Merge code to main branch (or flip the feature flag) on day of release
- [ ] Conduct prod or staging validation, if necessary
   - [ ] Needed
   - [ ] Not needed

## PRODUCT TASKS
- [ ] Create release notes [here](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/checkin/release-plan/check-in-release-notes.md)
- [ ] Remove cor

[2022-10-18 14:46] RLHecht opened #48350 "Content review of My VA page"
## Issue Description
The My VA product team opened an intake request ticket to review the work they've been doing with Danielle. Once our team does a content review we should bring any questions we have to Danielle since she may have background if something should be changed or not.

Here are the sketch files and the work they want us to focus on:

[Sketch mockup 1](https://www.sketch.com/s/9b0e6e

[2022-10-18 14:47] annekerr49 commented on #46783
@pjhill  please can you give us a status update on this item?

[2022-10-18 14:52] zach-park commented on #47836
@benbrasso-agile6 @loripusey , just had another idea that I'm running by the DS team at the moment.  Thank you.

[2022-10-18 14:56] michelle-dooley commented on #47093
@benbrasso-agile6 - I created a new [All VA - Excluding Datadog Synthetic Test IPs](https://analytics.google.com/analytics/web/#/report/content-event-pages/a50123418w177519031p277188759/explorer-table.plotKeys=%5B%5D/) view.  It is exactly the same as the All VA.gov website data view with the addition of these IP filters.  Currently the numbers are the same for each view so I don't know if either

[2022-10-18 14:56] loripusey commented on #47836
Wasn't the point of this ticket just to get our wireframes to match the DS component specs?
@zach-park @benbrasso-agile6

[2022-10-18 15:02] kristenmcconnell commented on #46019
Ben and I reviewed my [draft](https://docs.google.com/presentation/d/1rcc_LOxhVnHh8s5FEgzIcgPi6YJmp_kJYMjVLOjRmlQ/edit?usp=sharing) this morning. I still have work to do to wrap it up today. I still plan to have a complete draft done by the end of the day.

[2022-10-18 15:02] kristenmcconnell commented on #46019
[Synthesis spreadsheet.](https://docs.google.com/spreadsheets/d/1IelhOCh1d8_COn-grpxLaJSQk0Pf29sG/edit?usp=sharing&ouid=109480271411960150160&rtpof=true&sd=true)

[2022-10-18 15:02] zach-park commented on #47836
@loripusey Yes, you're right.

[2022-10-18 15:08] mgleo commented on #47346
Currently on FSR:
![Screen Shot 2022-10-18 at 11.04.43 AM.png](https://images.zenhubusercontent.com/5f91de193a0ac23f49d7bf89/5cbb2eb1-150d-498e-af2a-8b19b06f6f60)

Any reason not to change Personal information section to something like this?
![Screen Shot 2022-10-18 at 11.06.02 AM.png](https://images.zenhubusercontent.com/5f91de193a0ac23f49d7bf89/dd75e633-ab9d-466e-80f2-b712515fa28b)

[2022-10-18 15:09] benbrasso-agile6 commented on #47093
@michelle-dooley thanks so much. I'm leaning towards "2) if those IPs are somehow being filtered as part of the internal users filter on the All VA.gov view."

@randomsync any thoughts?

[2022-10-18 15:12] loripusey commented on #47836
@zach-park are we done with the wireframes so that @brianseek can do his ticket or do we need to wait until you check with the DS?

[2022-10-18 15:29] rjohnson2011 commented on #48186
Upon reviewing the documentation for Clamby, and the implementation of ClamScan, there are a number of changes that would need to be made to the application to swap these gems:

- Most concerning is a ClamScan configuration file which sets the `client_location` to `Settings.binaries.clamdscan`. Within the Clamby documentation, there is not an equivalent method, so a suitable replacement would have

[2022-10-18 15:31] #45966 closed

[2022-10-18 15:32] #47015 closed

[2022-10-18 15:36] #47883 closed

[2022-10-18 15:40] #47836 closed

[2022-10-18 15:41] #46318 closed

[2022-10-18 15:42] loripusey commented on #46318
@sarahknoppA6 need to set up a meeting, please sync with @benbrasso-agile6

[2022-10-18 15:45] jsimonVA commented on #48303
@heyjoni @RLHecht Correction to my comment above about the "Online Tool" Section. This is being removed but not by me. It is being handled by the Content team. Just wanted to clarify my error above. The changes I am able to make is removing the National Call to Service question from the Education Wizard. That change I have completed and will push up today for pipeline testing.

I know both of you

[2022-10-18 15:46] ldelacosta commented on #48250
Thanks @simiadebowale for checking. We are all good here. Closing out the ticket!

[2022-10-18 15:52] CherylEvans commented on #41709
@naomimarcussen You're quite welcome! :-) I was thinking I would nest them with [Planning and recruiting resources](https://depo-platform-documentation.scrollhelp.site/research-design/research-planning-and-recruiting#Research:Planningandrecruiting-Planningandrecruitingresources), if that's okay with you.  I will write short introductions to both, and once you give the thumbs up on those, I will cr

[2022-10-18 15:53] OptionSelect commented on #47357
Closing per convo with Denise for cleanliness, will make new ticket for remaining EFSR forthcoming changes.

[2022-10-18 15:53] #47357 closed

[2022-10-18 15:56] ianhundere commented on #47100
i tried disabling info logs at the application layer (via `values.yaml`; `extraArgs` / `logLevel`), but still wasn't able to remove them. i'm going to wait to hear back from dd in regards to `log_processing_rules` via pod annotations.

[2022-10-18 15:59] loripusey opened #48351 "[UX] Update Product Artifacts for Need Help Section Release"
## Description
Update various product artifacts, as necessary, based on the feature release.

## Tasks
- [ ] Update the Pre-Check-in Product Guide, including content and screenshots, if necessary
- [ ] Update the eCheck-in Product Guide, including content and screenshots, if necessary
- [ ] Update the Poster, if necessary
- [ ] Update user flow diagrams, if necessary
- [ ] Send updated screenshots

[2022-10-18 15:59] loripusey opened #48352 "[UX] Update Product Artifacts for Need Help Section Release"
## Description
Update various product artifacts, as necessary, based on the feature release.

## Tasks
- [ ] Update the Pre-Check-in Product Guide, including content and screenshots, if necessary
- [ ] Update the eCheck-in Product Guide, including content and screenshots, if necessary
- [ ] Update the Poster, if necessary
- [ ] Update user flow diagrams, if necessary
- [ ] Send updated screenshots

[2022-10-18 16:00] loripusey opened #48353 "[UX] Update Product Artifacts for Need Help Section Release"
## Description
Update various product artifacts, as necessary, based on the feature release.

## Tasks
- [ ] Update the Pre-Check-in Product Guide, including content and screenshots, if necessary
- [ ] Update the eCheck-in Product Guide, including content and screenshots, if necessary
- [ ] Update the Poster, if necessary
- [ ] Update user flow diagrams, if necessary
- [ ] Send updated screenshots

[2022-10-18 16:00] loripusey opened #48354 "[UX] Update Product Artifacts for Need Help Section Release"
## Description
Update various product artifacts, as necessary, based on the feature release.

## Tasks
- [ ] Update the Pre-Check-in Product Guide, including content and screenshots, if necessary
- [ ] Update the eCheck-in Product Guide, including content and screenshots, if necessary
- [ ] Update the Poster, if necessary
- [ ] Update user flow diagrams, if necessary
- [ ] Send updated screenshots

[2022-10-18 16:00] loripusey opened #48355 "[UX] Update Product Artifacts for Need Help Section Release"
## Description
Update various product artifacts, as necessary, based on the feature release.

## Tasks
- [ ] Update the Pre-Check-in Product Guide, including content and screenshots, if necessary
- [ ] Update the eCheck-in Product Guide, including content and screenshots, if necessary
- [ ] Update the Poster, if necessary
- [ ] Update user flow diagrams, if necessary
- [ ] Send updated screenshots

[2022-10-18 16:00] loripusey opened #48356 "[UX] Update Product Artifacts for Need Help Section Release"
## Description
Update various product artifacts, as necessary, based on the feature release.

## Tasks
- [ ] Update the Pre-Check-in Product Guide, including content and screenshots, if necessary
- [ ] Update the eCheck-in Product Guide, including content and screenshots, if necessary
- [ ] Update the Poster, if necessary
- [ ] Update user flow diagrams, if necessary
- [ ] Send updated screenshots

[2022-10-18 16:02] acaruso-oddball opened #48357 "Login Button Standardization"
## Issue Description
This PR creates a button component that standardizes the process of toggling the LoginModal. When clicked, the button should toggle the LoginModal open and correctly append SiS attributes.

## Tasks
- [ ] Update logic around toggleLoginModal to properly append SiS.

## Acceptance Criteria
- [ ] When a user toggles open the login modal their url should update with the appropria

[2022-10-18 16:03] acaruso-oddball opened #48358 "Invert SiS default on USiP."
## Issue Description
This issue addresses how use of SiS is determined on the Unified Sign-In Page. When feature toggles are in use, a percentage of users are routed to SiS, and by default the rest are routed to SSOe.

## Tasks
- [x] Update the USiP to use SiS by default.

## Acceptance Criteria
- [x] Navigating to the Unified Sign in Page (USiP) `/sign-in` **SHOULD** add the `oauth=true` query pa

[2022-10-18 16:03] #46952 closed

[2022-10-18 16:07] jimuhh commented on #48190
@outerpress Thanks for the feedback. I will edit the ticket to fix the sentence fragment.
As far as the decision on links vs drop downs, that was a consensus decision arrived at after discussions with colleagues who felt that the links represented a departure from our standard design patterns.  FWIW, I agree with you that these links are probably more discoverable and wish I had argued that case h

[2022-10-18 16:11] #48200 closed

[2022-10-18 16:15] #47739 closed

[2022-10-18 16:24] loripusey opened #48359 "[Research] Create Research Plan"
## Related Documentation
- [MVP Product Outline](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/checkin/product/product-outline.md)
- Platform [research process](https://depo-platform-documentation.scrollhelp.site/research-design/Research-Overview.1958740385.html) and [research checklist](https://depo-platform-documentation.scrollhelp.site/research-d

[2022-10-18 16:24] loripusey opened #48360 "[Research] Create Research Plan"
## Related Documentation
- [MVP Product Outline](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/checkin/product/product-outline.md)
- Platform [research process](https://depo-platform-documentation.scrollhelp.site/research-design/Research-Overview.1958740385.html) and [research checklist](https://depo-platform-documentation.scrollhelp.site/research-d

[2022-10-18 16:36] CherylEvans commented on #41709
@naomimarcussen I removed all bad links (There is one I left that I made a note on, for your guidance.). I wrote an introduction but need your fb.  [DRAFT](https://vfs.atlassian.net/wiki/spaces/PPST/pages/2403401835/41709+-+Cheryl+Draft+Cheryl+Draft+Guidance+on+Inclusive+Recruitment) Thank you!!
FYSA @sterkenburgsara @it-harrison

[2022-10-18 16:37] sterkenburgsara opened #48361 "Midpoint Review - IA Feedback - Sitewide Homepage, VA.gov homepage redesign"
## VFS acceptance criteria
- [ ] Let Platform know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
- User research is really insightful and I found it fascinating to read.
- What will be driving the list "Popular on VA.gov" - will this change over time based on analytics, or more

[2022-10-18 16:43] Samara-Strauss commented on #47441
@mnorthuis @DanielleThierryUSDSVA thank you for the background info! This is super helpful.

@andaleliz I think your suggestions are clear and succinct, and I co-sign them if @DanielleThierryUSDSVA says they are ok.

[2022-10-18 16:46] DanielleThierryUSDSVA commented on #47441
Agree @Samara-Strauss! @andaleliz your suggestions are great. Thank you!

[2022-10-18 16:48] denisecoveyduc commented on #47357
@OptionSelect When it's ready could you just add that new ticket number here for tracking purposes?

[2022-10-18 16:49] benbrasso-agile6 commented on #46817
@RLHecht we decided that we have reached the point of diminishing returns. We have moved this to 100% of Veterans.

[2022-10-18 16:50] benbrasso-agile6 commented on #44383
@loripusey I will need to commit this to the VA research repo next sprint. Maybe re-mark this as a 2.

CC @kristenmcconnell

[2022-10-18 16:51] Samara-Strauss commented on #47441
Great, thank you, @DanielleThierryUSDSVA!

I will send Liz's latest suggestion over to BVA. cc/ @bevnobev

[2022-10-18 16:55] Samara-Strauss commented on #47441
Quick q -- Should it be "reminder" or "reminders"? Assuming there is only 1 since it is currently "reminder", but I figure I'd ask since "status updates" is plural.

[2022-10-18 16:56] saderagsdale commented on #46632
@kylesoskin If we haven't already, can we store this in github?

[2022-10-18 16:59] #48226 closed

[2022-10-18 17:06] laineymajor opened #48362 "Tracking of deployment volume"
**PROBLEM STATEMENT**
Frontend continuous deployment for vets-website (allowed apps) went live in Q3 2022. There is currently no automated way to track deployment volume (specifically looking for FE CD here). The live [dashboard](https://department-of-veterans-affairs.github.io/veteran-facing-services-tools/frontend-support-dashboard/) does not show which deployments go out via CD.

More info from

[2022-10-18 17:07] #45719 closed

[2022-10-18 17:11] BlakeOrgan opened #48363 "SOCKS access for Blake Organ"
### Your Name

Blake Organ

### Your Email

blake.organ@civicactions.com

### Your Role and Team

Product Designer on Sitewide CMS

### Product Manager (PM) name and email

Erika Washburn erika@cityfriends.tech

### Product Owner (PO) name and email

David Conlon David.Conlon@va.gov

### Access Type Requesting

viewers

### Public SSH Key

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDPEY30D1aYXXfRQyl4y0

[2022-10-18 17:18] mchelen-gov commented on #48362
A broader version of this could be simply tracking deployments. We should be able to say "X number of `codebase` deployments have occurred in the last 30 days".

[2022-10-18 17:21] saderagsdale opened #48364 "Supplemental Claims | 4142/4142(a) form integration work"
@kylesoskin commented on [Mon Sep 19 2022](https://github.com/department-of-veterans-affairs/vets-website/issues/22218)

## Value Statement

**_As a_** Veteran
**_I want to_** authorize medical providers to disclose my medical records
**_So that_** I can submit those records as evidence to support my claim.

---
## Background Context
- Forms [4142](https://www.va.gov/find-forms/about-form-21-4142/

[2022-10-18 17:22] SKasimow opened #48365 "BE | Profile | Documentation | Account Security"
## Background

Create a document that provides an overview of the back-end services and systems that support the account security page in Profile.

## Tasks
- [x] Add documentation for account security

## Acceptance Criteria
- [x] Update Github file
- [x] Notify PM

[2022-10-18 17:23] saderagsdale commented on #48364
@Mottie @kylesoskin I copied this ticket into our repo and closed the one in the other repo.

[2022-10-18 17:23] laucon commented on #47630
@jhouse-solvd On [this document](https://depo-platform-documentation.scrollhelp.site/developer-docs/tracking-application-errors-with-sentry), at the bottom it says "VFS engineers are responsible for complying with the Platform’s current [tagging standards](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/engineering/sentry-tagging-standards.md)." But it links to [

[2022-10-18 17:30] bramleyjl commented on #39797
Using the VA.gov development Android app I was unable to alter any of `sessions/new` SSOe & `sign_in/authorize` SiS calls to vets-api

[2022-10-18 17:30] #39797 closed

[2022-10-18 17:33] RLHecht commented on #46817
Thanks @benbrasso-agile6 I just published the update to the R&S page to reflect that it's now only the last name and date of birth for verification. Will close once I validate it on the site.

[2022-10-18 17:40] longmd opened #48366 "[FE] | 10-10CG | Update MaxLength values in Schema to match Salesforce values"
## Description
It was recently discovered that we have multiple fields in the Caregiver application whose max character length value in the current schema is greater than the max number of characters that the Salesforce system can accept downstream. An audit has been completed and a list of max values has been provided by Salesforce. We need to update the schema to match our max values with those

[2022-10-18 17:43] joeniquette opened #48367 "Create datadog android user agent refresh token monitor"
For this task we want to create a monitor that will inform us if the mobile app, in particular android phones, are having any issues with refreshing tokens. The reason for this is that we have an untested token split unique to android devices implemented by the mobile team. The second reason is that the web side has some refresh token issues with certain routes that are being fixed as we speak. We

[2022-10-18 17:44] joeniquette opened #48368 "Update new user log tracker in DD"
based in information from Trevors ticket [#10918](https://github.com/department-of-veterans-affairs/vets-api/pull/10918)

[2022-10-18 17:45] andaleliz commented on #48326
Here's the analytics event that I see in the console when the "currently editing modal is triggered". These should line up with the Behavior > Event reports in analytics

Running command: ga("gtm253.send", {hitType: "event",
**eventCategory**: "Interactions",
**eventAction**: "Modal - Click - warning - You’re currently editing your preferred name - (not set) - (not set) - Edit",
**eventLabel**: "i

[2022-10-18 17:46] saderagsdale opened #48369 "[task] Request from VA Notify | Fix staging view of the 40-10007"
## Value Statement
**_As a_** product manager
**_I want to_** fix the staging view of the form
**_So that_** I can complete testing in staging.

---
## Background Context
From Megan Siddle: My team had a few questions about the 40-10007 form as we are working through creating the email confirmation:

- Any update on if/when this form submission might get fixed in Staging?
- How do you get two appl

[2022-10-18 17:49] theodur commented on #47910
I reached out to the DataDog team to see what additional metrics are available with the agent, and they linked to the metrics listed [here](https://docs.datadoghq.com/integrations/redisdb/?tab=host). There are some additional metrics like `expired and evicted keys`, and `secondary connections` that are only available with the agent, but it seems like the important metrics such as memory usage and

[2022-10-18 17:53] Eallan919 commented on #48206
okay! Meetings are scheduled! @ndsprinkle can coordinate with engineers on their syncs + a sync with Matthew if need be!

[2022-10-18 17:53] #48206 closed

[2022-10-18 17:53] RLHecht opened #48370 "Remove content from tables on Veterans Pension rates page"
## Issue Description

As part of our ongoing effort to remove unneeded tables from VA.gov for accessibility reasons, we need to rework the content on the [VA pension rates for Veterans page](https://www.va.gov/pension/veterans-pension-rates/).

Once we take the content out of the current rates page, we should apply the same changes to the past rates pages in Drupal.

## Tasks
- [ ] Rework content

[2022-10-18 17:54] CherylEvans commented on #41709
@shiragoodman This ticket is on hold until Josh Kim has updated. Please refer to [thread](https://dsva.slack.com/archives/C046GT0TYDV/p1666108800545589).
FYSA @sterkenburgsara @briandeconinck @it-harrison

[2022-10-18 17:54] Samara-Strauss commented on #48111
Update: Adam confirmed we are not tracking this checkbox in analytics, so our team doesn't need anything else at this point. Thanks!

[2022-10-18 17:54] #48111 closed

[2022-10-18 17:56] #48192 closed

[2022-10-18 17:56] #48040 closed

[2022-10-18 17:57] RLHecht opened #48371 "Remove content from tables on VA Survivors Pension benefit rates page"
Context from epic that previously housed this work:

## Issue Description

As part of our ongoing effort to remove unneeded tables from VA.gov for accessibility reasons, we need to rework the content on the [VA Survivors Pension benefit rates page](https://www.va.gov/pension/survivors-pension-rates/).

Once we take the content out of the current rates page, we should apply the same changes to the

[2022-10-18 17:58] saderagsdale commented on #48369
@megansiddle @Mottie hey both! I added this to our backlog as a staging task. Megan - let me know if there's any other helpful context that should be here! Robin - the VA Notify team needs us to make some quick fixes to the staging setup so they can complete some testing on their end.

[2022-10-18 17:58] theodur opened #48372 "Create dashboards for Redis monitoring in DataDog"
## Description
Redis monitoring is connected to our DataDog instance via the ElastiCache integration. The template dashboard can be seen [here](https://vagov.ddog-gov.com/screen/integration/149/aws-elasticache-redis). Since we have ElastiCache monitoring connected, we want to create separate dashboards for monitoring specific clusters, primarily:
- `dsva-vagov-prod-rails-cache-002`
- `dsva-vagov-p

[2022-10-18 18:01] benbrasso-agile6 commented on #47852
1. Adjust the wires to have two versions. One with the footer that is just the logos. The other one with the logos plus the bottom links. Make sure to add all of the links.
2. I would also add the Feedback button and the Crisis hot line in the footer to both versions.
3. We should share those two versions with the CIE team.

--
Create new ticket(s) with this information:

4. Meet and share those t

[2022-10-18 18:06] ericasauv09 commented on #47522
@tmitchellgcio is this feature on for all users in Staging? For a few users I am only seeing an error instead of the claims and appeals section and I don't see a Claims and Appeals section at all for user 10 - i thought all LOA3 users should see the section.

[2022-10-18 18:06] saderagsdale opened #48373 "[task] Contention Mapping | Review the historical data set we got from VBA"
## Value Statement
**_As a_** team
**_I want to_** review data we got from the VBA
**_So that_** we can determine which codes from that data are in the updated mapping list.

---

## Tasks
- [ ] _Filter down to clmant_txt that are exact matches to 800 dropdown list_
- [ ] _Of those rows, aggregate the classification codes we see and total counts of each_
- [ ] _Identify which of the codes are in t

[2022-10-18 18:07] saderagsdale commented on #48373
@kylesoskin added a ticket for the first data analysis request that you completed for Emily. If it's done you can move it to closed. Just wanted to capture it.

[2022-10-18 18:08] theodur opened #48374 "Implement frontend caching of feature toggles"

[2022-10-18 18:13] saderagsdale opened #48375 "[task] Contention Mapping | Historical DB pull from va.gov"
## Value Statement
**_As a_** team
**_I want to_** review data we got from the VA.gov
**_So that_** we can determine which codes from that data are in the updated mapping list.

---

## Tasks
- [ ] _DB pull of a bunch of va.gov-submitted claims.

- Submission date
- Benefit claim ID (not the va.gov submission ID, the one we get back from EVSS when a successful submission goes through)
- Contention

[2022-10-18 18:13] saderagsdale commented on #48375
@kylesoskin second ticket for the data request Emily made.

[2022-10-18 18:17] denisecoveyduc commented on #47890
Talking to Jill it sounds like we need clarity on what information we need to present to Veterans and where that information is and how we make it available to the Veteran.

Jill said...

[2022-10-18 18:17] katherine-fung commented on #48336
Hi @laurwill @RLHecht,

Here's the updated page: http://preview-prod.vfs.va.gov/preview?nodeId=946

I updated the link text. For the "more information" section, I tried to find another page on va.gov with information about the program. I could only find another PDF which repeated the information already on the page (https://www.benefits.va.gov/BENEFITS/factsheets/education/NCTS.pdf) so I opted to

[2022-10-18 18:18] #48186 closed

[2022-10-18 18:18] loripusey opened #48376 "[FE] Fix Skipped Test"
## Tasks
- Determine if test is necessary
- Delete if no or fix it yes
src/applications/check-in/pre-check-in/tests/e2e/validation-attempts/validation.attempts.reset.cypress.spec.js

[2022-10-18 18:19] RLHecht commented on #48280
@jsimonVA Just want to clarify: Is our team removing the online tool section from the find forms page or is Public Websites? I want to add it to our ticket if it's us. Thanks!

[2022-10-18 18:21] jsimonVA commented on #48280
@RLHecht from what I understand, your team is removing it.

[2022-10-18 18:21] zach-park commented on #47788
@loripusey we found additional updates (from the VA side) that needed to be updated so I added them to the spreadsheet in the AC. Also we found a bug (from VA) regarding the "Feedback CTA" ticket (also added to the spreadsheet: line 7 & line 23) that needs to be reported back to them to fix it.

[Language toggle]
![Screen Shot 2022-10-18 at 11.20.28 AM.png](https://images.zenhubusercontent.com/615

[2022-10-18 18:23] loripusey opened #48377 "[SPIKE] [FE] Investigate if we can setup a DataDog RUM in Staging with the VA.gov DataDog"
## Tasks
- Investigate if we can setup a DataDog RUM in Staging with the VA.gov DataDog
- Evaluate to see if we can put in on PROD

[2022-10-18 18:23] loripusey opened #48378 "[SPIKE] [FE] Investigate if we can setup a DataDog RUM in Staging with the VA.gov DataDog"
## Tasks
- Investigate if we can setup a DataDog RUM in Staging with the VA.gov DataDog
- Evaluate to see if we can put in on PROD

[2022-10-18 18:23] loripusey opened #48379 "[SPIKE] [FE] Investigate if we can setup a DataDog RUM in Staging with the VA.gov DataDog"
## Tasks
- Investigate if we can setup a DataDog RUM in Staging with the VA.gov DataDog
- Evaluate to see if we can put in on PROD

[2022-10-18 18:25] theodur commented on #47910
Since Redis monitoring is configured in DataDog, this ticket is complete. A new [ticket](https://github.com/department-of-veterans-affairs/va.gov-team/issues/48372) for creating dashboards for specific clusters has been created.

[2022-10-18 18:25] #47910 closed

[2022-10-18 18:28] theodur opened #48380 "Automate process for handling old feature toggles"

[2022-10-18 18:30] denisecoveyduc commented on #18738
Currently va.gov is a Veteran only website as a result this is not being considered.

[2022-10-18 18:30] #18738 closed

[2022-10-18 18:31] #47091 closed

[2022-10-18 18:31] #47684 closed

[2022-10-18 18:34] holdenhinkle commented on #48191
Thank you!

[2022-10-18 18:35] holdenhinkle commented on #47959
@department-of-veterans-affairs/confluence-admins Can you please remove this user from confluence? https://vfs.atlassian.net/wiki/people/5ff48ec73b5e470138e6b483

[2022-10-18 18:35] SKasimow opened #48381 "FE | Profile | Documentation | Connected Apps"
## Background

Review Contact Info ection in GitHub and add/update relevant FE documentation.

## Tasks
- [x] Add analytics documentation on what events we are firing and where in the code they come from (if applicable)
- [x] Document Api calls and how they are set up in the FE code
- [x] Map what error codes that might surface for a particular feature and the alert/messaging it maps to

## Accept

[2022-10-18 18:35] ericboehs commented on #47991
Manual instrumentation was added in [#10900](https://github.com/department-of-veterans-affairs/vets-api/pull/10900) to determine if the upload (HTTP post) was the majority of the time.

It was determined that upload was 99%+ of the duration.

Some other notes:
- The upload limit for EVSS PDFs [is 150MB](https://github.com/department-of-veterans-affairs/vets-api/pull/5346).
- The timeouts were orig

[2022-10-18 18:37] ajakabcin opened #48382 "[FE] Onsite notifications: Documentation review/update"
## Background
Post launch of onsite notifications MVP we should review all of our design, FE and technical documentation to make sure everything is up to date and reflects the current implementation of the MVP. This is a joint effort from all team members, though we have specific tasks for each of us.

## Tasks
- [x] Consult with Adam to see how he crafted and structured technical documentation fo

[2022-10-18 18:37] ajakabcin opened #48383 "[BE] Onsite notifications: Documentation review/update"
## Background
Post launch of onsite notifications MVP we should review all of our design, FE and technical documentation to make sure everything is up to date and reflects the current implementation of the MVP. This is a joint effort from all team members, though we have specific tasks for each of us.

**For backend, we need to make sure we have thorough documentation on the API and VA Notify inte

[2022-10-18 18:38] holdenhinkle commented on #48012
/request Kira Davies

[2022-10-18 18:38] mgleo opened #48384 "FSR Review Page - Updates"
## Issue Description
_Discuss path forward for the FSR Review Page. Make updates to present to Platform team._

---
## Tasks
- [x] _Discuss path forward with team_
- [x] _Make updates to review page sections_

## Acceptance Criteria
- [x] _Upload in progress design for FSR Review Page_

[2022-10-18 18:41] mgleo opened #48385 "FSR Summary page design"
## Issue Description
_Create design for summary pages on FSR_

---
## Tasks
- [ ] _Create mockup for summary pages_

## Acceptance Criteria
- [ ] _Link summary page_

[2022-10-18 18:41] mgleo opened #48386 "FSR Summary Page Design"
## Issue Description
_Create design for summary pages on FSR_

---
## Tasks
- [ ] _Create mockup for summary pages_

## Acceptance Criteria
- [ ] _Link summary page_

[2022-10-18 18:41] #47827 closed

[2022-10-18 18:44] mgleo opened #48387 "Design for FSR Summary Page"
## Issue Description
_Create design for summary pages on FSR_

---
## Tasks
- [ ] _Create mockup for summary pages_

## Acceptance Criteria
- [ ] _Link summary page_

[2022-10-18 18:45] mgleo opened #48388 "Design for FSR Summary Page ("Mini Summary""
## Issue Description
Once a user enters a custom generated item (example: credit card bill), they will be asked if they have another credit card bill to add. We want to show the user the user the previous credit card bills that they have just entered on this screen.

---
## Tasks
- [x] _Create mockup for summary pages_
- [x] Mockups needed for the following sections of the FSR (need to validate th

[2022-10-18 18:46] ericboehs commented on #47991
We could also look into benchmarking the chunks using [Faraday's `on_data` callbacks](https://github.com/lostisland/faraday/issues/1071).

Perhaps this is something we keep in mind as we debug other Faraday-based issues.

[2022-10-18 18:46] ajakabcin opened #48389 "[Design] Onsite Notifications: Documentation review/update"
## Background
Post launch of onsite notifications MVP we should review all of our design, FE and technical documentation to make sure everything is up to date and reflects the current implementation of the MVP. This is a joint effort from all team members, though we have specific tasks for each of us.

## Tasks
- [x] Meet with Liz to go over documentation structure from Profile team
- [x] Review [

[2022-10-18 18:47] #41904 closed

[2022-10-18 18:48] holdenhinkle commented on #48012
User does not a confluence account.

[2022-10-18 18:50] holdenhinkle commented on #48012
User does not have a PD, DD, or Sentry account.

[2022-10-18 18:52] holdenhinkle commented on #48012
Analytics and Insights support request to remove user from GA and DOMO - https://dsva.slack.com/archives/CBU0KDSB1/p1666119093411719

[2022-10-18 18:56] holdenhinkle commented on #48114
@department-of-veterans-affairs/confluence-admins Please remove this user from Confluence - https://vfs.atlassian.net/wiki/people/5ee0472b4833d00aae304d55

[2022-10-18 18:56] nicko-amida opened #48390 "[DESIGN] Design/Accessibility feedback - collab cycle iteration"
## Description

Recent design & accessibility feedback from the household section collab cycle process is ready to be incorporated into the initial design.

- [Design intent feedback #48260](https://github.com/department-of-veterans-affairs/va.gov-team/issues/48260)
- [Accessibility feedback #48324](https://github.com/department-of-veterans-affairs/va.gov-team/issues/48324)
- [Content/IA feedback

[2022-10-18 18:57] taylojill commented on #48284
10/18/22 - I did not see calendar links to CMS - Accelerated Publishing or Platform Crew. All other links added to page.

[2022-10-18 18:57] CBMR opened #48391 "AWS access for [individual]"
### COR Name

Cecila Lee

### Vendor Onboarding Representative Name

Liberty IT -  Michael G. Lovejoy

### Your Name

Abdiel Fernandez

### Your Email

abdiel.fernandez@oddball.io

### Team, Role, and Company of the target individual

Koala, Software Engineer, Oddball

### Product Manager (PM) name and email

Alayna Abel, alayna@adhocteam.us

### Product Owner (PO) name and email

Dave Mazik, davi

[2022-10-18 18:57] holdenhinkle commented on #48114
User does not have a PD, DD, or Sentry account.

[2022-10-18 18:59] rmtolmach commented on #47030
The Epic this Issue is connected to (https://github.com/department-of-veterans-affairs/va.gov-team/issues/33081) is in the "Future Initiatives" column on the board. I believe that means this won't get addressed until the new year at the earliest. @jhouse-solvd, is there a way @kanchanasuriya can escalate this?

[2022-10-18 18:59] holdenhinkle commented on #48319
/request Rafael Arroyo

[2022-10-18 19:00] holdenhinkle commented on #48319
User does not have a Confluence account

[2022-10-18 19:00] loripusey opened #48392 "Collaborate with Design System on New Wireframes for Footer"
## Tasks
- Meet and share those two versions to the DS team (Matt Dingee) and have them make a decision on the footer.
- When Matt decides, create branch in Abstract and update all the header and footers in pre check in and check in.
- Start a new ticket with some tasks we want to complete for re-envisioning the "Need Help?" section. Then, we can point that ticket.

[2022-10-18 19:00] loripusey opened #48393 "Collaborate with Design System on New Wireframes for Footer"
## Tasks
- Meet and share those two versions to the DS team (Matt Dingee) and have them make a decision on the footer.
- When Matt decides, create branch in Abstract and update all the header and footers in pre check in and check in.
- Start a new ticket with some tasks we want to complete for re-envisioning the "Need Help?" section. Then, we can point that ticket.

[2022-10-18 19:01] holdenhinkle commented on #48319
User does not have an AWS account

[2022-10-18 19:01] loripusey opened #48394 "Collaborate with Design System on New Wireframes for Footer"
## Tasks
- Meet and share those two versions to the DS team (Matt Dingee) and have them make a decision on the footer.
- When Matt decides, create branch in Abstract and update all the header and footers in pre check in and check in.
- Start a new ticket with some tasks we want to complete for re-envisioning the "Need Help?" section. Then, we can point that ticket.

[2022-10-18 19:02] mgleo opened #48395 "Design for FSR Summary Page"
## Issue Description
_What details are necessary for understanding the specific work or request tracked by this issue?_

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attac

[2022-10-18 19:03] loripusey commented on #47852
Create new [ticket ](https://app.zenhub.com/workspaces/check-in-experience-61fc23a2cb8a14001132e102/issues/department-of-veterans-affairs/va.gov-team/48394)for the items (4-6) listed above.  Will 1-3 happen as part of this ticket?

[2022-10-18 19:04] #42836 closed

[2022-10-18 19:06] holdenhinkle commented on #48319
User had 2 Sentry accounts which I removed.

[2022-10-18 19:06] holdenhinkle commented on #48319
User does not have a PD or DD account

[2022-10-18 19:07] benbrasso-agile6 commented on #47852
Ya-ching is working to complete them now. We'll have to figure out when to share with the CIE team. Probably a quick share, so maybe sometime tomorrow during planning day. @ytsaoca thoughts?

[2022-10-18 19:08] markfallows commented on #47939
Closing as a duplicate.

[2022-10-18 19:08] #47939 closed

[2022-10-18 19:08] markfallows commented on #31735
Confirm that all currently approved content is up to date and then activate in Staging.

[2022-10-18 19:09] SKasimow opened #48396 "Design | Profile | Research Recommendations | Notification Settings Language"
## Background

Describe the issue background and scope

## Tasks
- [ ] Conduct Unit tests
- [ ] Run E2E tests covering current code and regression
- [ ] All axe checks pass
- [ ] Notify PM if this needs to be deployed to Staging behind feature flag

## Acceptance Criteria
- [ ] Complete all unit testing
- [ ] End-to-end tests showing 0 violations
- [ ] Notify Product Manager that the change is rea

[2022-10-18 19:11] longmd commented on #48366
This is the [link to the provided fields and character limits](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/caregivers/10-10CG%20Form/10-10CG%20SalesForce%20field%20character%20limits.md)

[2022-10-18 19:12] #48319 closed

[2022-10-18 19:13] kanchanasuriya commented on #47030
@batemapf Could you please help on prioritizing this effort?  If we have the ability to create monitors, we can easily get notified of any veteran facing side issues.

[2022-10-18 19:16] kristenmcconnell commented on #47836
@zach-park I added one comment in about the width of cards.

[2022-10-18 19:16] CherylEvans commented on #47417
@briandeconinck Thank you so much for your thoughtful comments. :-)

- I borrowed these examples from another document, but agree it is important that we maintain a consistent naming convention within the GH repo to avoid confusion.  I will work on this!

- Yes, that is correct.  You add the image in the GH repo, and then add the GH repo image link to the Drafting Template.  This does seem odd, si

[2022-10-18 19:32] holdenhinkle commented on #47959
Waiting for user to be removed from Confluence.

[2022-10-18 19:32] holdenhinkle commented on #48114
Waiting for user to be removed from Confluence.

[2022-10-18 19:32] denisecoveyduc commented on #19150
#47391 will move this work forward.

[2022-10-18 19:32] #19150 closed

[2022-10-18 19:33] holdenhinkle commented on #48012
Waiting for user to be removed from GA/DOMO.

[2022-10-18 19:34] SKasimow commented on #48396
Hi @andaleliz - here's he first ticket; can you add points please.

cc/ @ericasauv09

[2022-10-18 19:35] denisecoveyduc commented on #33564
was resolved as part of #33565

[2022-10-18 19:35] #33564 closed

[2022-10-18 19:36] RLHecht commented on #45948
@ldelacosta Wanted to drop a note here that we are working on this. Thanks!

[2022-10-18 19:37] saderagsdale opened #48397 "Supplemental Claims | Opt into the AMA decision review process"
## Value Statement
**_As a_** Veteran
**_I want to_** opt into the AMA decision review process
**_So that_** potentially get a faster decision.

---
## Background Context
This page is in place, it should only need:
- Content updates
- Check and/or add unit tests
- Add e2e test for this page

## Acceptance Criteria
- [ ] Users may check the box OR skip in order to press **Continue**
- [ ] Page isn'

[2022-10-18 19:38] joeniquette opened #48398 "Revoke All Endpoint (requires research)"
- review doc for notes: https://docs.google.com/document/d/1WrEql7TQokx9l5VGPQQui-x1NpilCMgIKAMqt8LhtvE/edit

**Next steps:**
- Research oauth logout compliance requirement
- Start with research based on “where would you expect to find this” without showing them anything to start with
  - After this show some ideas of where we think we want to place it
- Generate some low fidelity and mobile mocku

[2022-10-18 19:41] Cmjones233 commented on #47927
duplicate

[2022-10-18 19:41] #47927 closed

[2022-10-18 19:41] Cmjones233 commented on #48332
duplicate

[2022-10-18 19:41] #48332 closed

[2022-10-18 19:43] saderagsdale opened #48399 "Supplemental Claims | Acknowledge the VA's duty to assist"
## Value Statement
**_As a_** Veteran
**_I want to_** acknowledge that I have received the notice of evidence required to substantiate a claim for disability benefits
**_So that_** I can fulfill this step in the claim process without having to leave the form.

---
## Background Context
- Add here

## Acceptance Criteria
- [ ] User must check the box to press **Continue**

## Designs and Build Note

[2022-10-18 19:43] Cmjones233 opened #48400 "Add Cancellation card to OSM [10/17/2022]"
"Good Morning,
I am looking at the Open Slot Management report and am wondering if the number of the cancelled visits could be included in the report. Currently we can see: messages sent, declines, rescheduled. It would be nice to know how many appoints were cancelled for the month, so we could say of the number of appointments cancelled XX were rescheduled (already have this number). Then we coul

[2022-10-18 19:43] Cmjones233 opened #48401 "Add Cancellation card to OSM [10/17/2022]"
"Good Morning,
I am looking at the Open Slot Management report and am wondering if the number of the cancelled visits could be included in the report. Currently we can see: messages sent, declines, rescheduled. It would be nice to know how many appoints were cancelled for the month, so we could say of the number of appointments cancelled XX were rescheduled (already have this number). Then we coul

[2022-10-18 19:43] Cmjones233 opened #48402 "Add Cancellation card to OSM [10/17/2022]"
"Good Morning,
I am looking at the Open Slot Management report and am wondering if the number of the cancelled visits could be included in the report. Currently we can see: messages sent, declines, rescheduled. It would be nice to know how many appoints were cancelled for the month, so we could say of the number of appointments cancelled XX were rescheduled (already have this number). Then we coul

[2022-10-18 19:44] #48402 closed

[2022-10-18 19:45] Cmjones233 commented on #48401
duplicate

[2022-10-18 19:45] #48401 closed

[2022-10-18 19:45] Cmjones233 commented on #48402
added card

[2022-10-18 19:48] saderagsdale opened #48403 "Supplemental Claims | Review and submit"
## Value Statement
**_As a_** Veteran
**_I want to_** review and submit the information I shared related to my claim
**_So that_** I can confirm I've added all relevant info before proceeding.

---
## Background Context
- Add here

## Acceptance Criteria
- [ ] User may edit sections of the form without losing their progress

## Designs and Build Notes
- [DRAFT DESIGNS (NOT APPROVED)](https://www.s

[2022-10-18 19:50] saderagsdale opened #48404 "Supplemental Claims | E2E Testing"
## Value Statement
**_As a_**
**_I want to_**
**_So that_**

---
## Background Context
- Add here

## Acceptance Criteria
- [ ] _AC_
- [ ] _AC_
- [ ] _AC_

## Designs and Build Notes
- Add here

## Out of scope
- Add here

## Open questions
- Add here

## Tasks
- [ ] _Task_
- [ ] _Task_
- [ ] _Task_

## Definition of Ready
- [ ] _Clear value description_
- [ ] _Testable acceptance criteria_
- [ ]

[2022-10-18 19:52] tbaker1026 opened #48405 "Analyzing Airtable"

[2022-10-18 19:54] saderagsdale opened #48406 "Supplemental Claims | Staging Documentation"
## Value Statement
**_As a_**
**_I want to_**
**_So that_**

---
## Background Context
- Add here

## Acceptance Criteria
- [ ] _AC_
- [ ] _AC_
- [ ] _AC_

## Designs and Build Notes
- Add here

## Out of scope
- Add here

## Open questions
- Add here

## Tasks
- [ ] _Task_
- [ ] _Task_
- [ ] _Task_

## Definition of Ready
- [ ] _Clear value description_
- [ ] _Testable acceptance criteria_
- [ ]

[2022-10-18 19:55] saderagsdale opened #48407 "Supplemental Claims | Staging Documentation"
## Value Statement
**_As a_**
**_I want to_**
**_So that_**

---
## Background Context
- Add here

## Acceptance Criteria
- [ ] _AC_
- [ ] _AC_
- [ ] _AC_

## Designs and Build Notes
- Add here

## Out of scope
- Add here

## Open questions
- Add here

## Tasks
- [ ] _Task_
- [ ] _Task_
- [ ] _Task_

## Definition of Ready
- [ ] _Clear value description_
- [ ] _Testable acceptance criteria_
- [ ]

[2022-10-18 19:59] saderagsdale opened #48408 "Supplemental Claims | Authorize the release of my records"
## Value Statement

**_As a_** Veteran
**_I want to_** authorize medical providers to disclose my medical records
**_So that_** I can submit those records as evidence to support my claim.

---
## Background Context
- partner to [#22218](https://github.com/department-of-veterans-affairs/vets-website/issues/22218)
- Forms [4142](https://www.va.gov/find-forms/about-form-21-4142/)/[4142a](https://www.

[2022-10-18 20:06] #36939 closed

[2022-10-18 20:15] tpharrison commented on #47440
@ajakabcin @ericasauv09
[This document](https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/blob/master/products/identity-personalization/communication.md) explains the reasoning behind the changes that were made to the MyVA page and the API to fix payment history and reduce 403 errors.  Please review when you get a chance.

@SKasimow @Samara-Strauss
The changes outlined in the

[2022-10-18 20:17] allison0034 commented on #48043
@it-harrison this is ready for a peer review. The tasks have been added under step 3, if you have feedback.

[2022-10-18 20:19] #48135 closed

[2022-10-18 20:26] briandeconinck commented on #47421
@allison0034 This should be ready for PR. I'm not super confident in the change I made to the staging review code block and would be interested in any suggestions. Teams shouldn't request a 508 Office audit until after the product is launched, which didn't fit super cleanly into the order of tasks. Tried to make it make sense, happy to try something different.

[2022-10-18 20:28] tpharrison commented on #48365
Reference - https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/profile/account-security/README.md#backend

[2022-10-18 20:29] denisecoveyduc opened #48409 "Provide Veterans with ability to edit benefit information for their FSR Submission"
## Issue Description
As a Veteran completes an online FSR they are presented with Benefit information. We have heard on a few occasions that this information can be incorrect and the business would like to providing Veterans with a way to edit the benefit information that is presented to them.  The edited information should override what is submitted on the form for that submission.

![image.png](

[2022-10-18 20:34] tpharrison commented on #48383
@ajakabcin - let me know when you want to discuss.

[2022-10-18 20:57] ericasauv09 opened #48410 "Design | Profile | Research Recommendations | Notifications - Add Mobile Number Flow"
## Background

During the recent research sessions we observed that users were disrupted by having to leave the notifications preference page to add their mobile number. We want to review the design for this flow and specifically the link text "manage text notifications" as many users missed that this would take them back to the notifications preferences page.

Detailed findings [here](https://git

[2022-10-18 20:57] #48385 closed

[2022-10-18 20:58] #48386 closed

[2022-10-18 20:58] #48387 closed

[2022-10-18 20:59] #48395 closed

[2022-10-18 21:03] loripusey opened #48411 "[Design] [UX] Create Final Wireframes for Needs Information Updated Scenarios"
## Tasks
- [ ] Create final mockups with callouts for these scenarios
    - Need to Update Contact Info & needed - Choose to NOT file
Updates needed - Claim filed/
Updated needed - Claim NOT filed
- [ ] Decide: Should a content and accessibility review be part of this ticket or separate tickets due to scope?

## Acceptance Criteria
- [ ] UI review meeting with product/UX team for feature capabilit

[2022-10-18 21:04] loripusey opened #48412 "[Design] [UX] Create Final Wireframes for Needs Information Updated Scenarios"
We need to talk through whether we will offer the option to submit a travel reimbursement for the scenario where the Veteran needs to update their contact information and will need to check-in with a staff member.

Current h1 is Check in with a staff member

Midpoint review branch in abstract is most recent: https://share.goabstract.com/3f25b4c0-4404-4079-a938-367f40c4903b?collectionLayerId=4199b4

[2022-10-18 21:11] brianseek commented on #48237
@loripusey / @zach-park / @benbrasso-agile6 These updates are now in on stage. See screenshots[https://app.zenhub.com/files/133843125/05ee9f86-cf05-43bd-b57c-15ffb08d8340/download](https://app.zenhub.com/files/133843125/05ee9f86-cf05-43bd-b57c-15ffb08d8340/download).

[2022-10-18 21:13] brianseek commented on #47805
@zach-park this is ready to validate on stage also here are the screenshots:
![Day-of-check-in--Confirmation.png](https://images.zenhubusercontent.com/61523b5b9d354750f04823db/eb3d1e00-3cac-4ed5-b523-fb023e019e6d)
![Day-of-check-in--Appointments.png](https://images.zenhubusercontent.com/61523b5b9d354750f04823db/07bcc7cc-9375-4a0e-b830-2aa8483156d8)

[2022-10-18 21:13] ScottyRJames commented on #47821
VBS testing whether newlines break CSV formatting

[2022-10-18 21:14] ScottyRJames commented on #46667
Rolling over due to complex background worker testing to assure no prod breakages

[2022-10-18 21:39] saderagsdale commented on #46707
@jwoodman5 Hi Jason! Can you help me get this request to the appropriate folx?

[2022-10-18 21:40] aliyahblackmore commented on #48157
Hi @RLHecht these are ready for whenever you have a moment!

As discussed due to the CMS migrator publishing, these pages were reverted to these versions:
09/22/2022 - 6:14pm (Published)
10/04/2022 - 9:17am  (Published)
10/04/2022 - 9:17am (Published)

Preview links and notes (where needed):

[Eligibility for VA disability benefits](https://www.va.gov/disability/eligibility/)
**Preview link:** htt

[2022-10-18 21:41] #47892 closed

[2022-10-18 21:47] saderagsdale commented on #43350
@Mottie This work is done for CoE, right?

[2022-10-18 21:48] Mottie commented on #41632
I'd say let's pause this work until the new 526 has been implemented.

[2022-10-18 21:49] Mottie commented on #43350
@saderagsdale This ticket isn't owned by our team.

[2022-10-18 21:50] saderagsdale commented on #41632
@sortizsh @rocio-desantiago we're going to pause the remaining work on this for now. A new version of the form will come out that will change our E2E testing needs. We'll pivot to the supplemental claims work.

[2022-10-18 21:51] saderagsdale commented on #41632
Closing this ticket for now.

[2022-10-18 21:51] #41632 closed

[2022-10-18 21:52] tmitchellgcio commented on #48038
This is a downtime notification. This was a bit before my time so I'm not sure what their purpose is or how it works exactly. This may take me longer to figure out than originally expected. I'm still tracking this down. Basically if it seems like a service is down I think they are supposed to say it's down. I'm looking for documentation

[2022-10-18 22:11] jenniemc commented on #46281
@beth-wodzinski reported an error when direct scheduling at Ft Colins for CPAP appointment.
Given that VATS setting for FTC CPAP is set to YES ANY, ola.e.edgecombe@id.me should be able to complete a direct schedule appointment for CPAP appt at Ft Colins. All the api calls returned show patient is eligible for direct schedule, facility is enabled for DS and there is a CPAP clinic returned for DS ho

[2022-10-18 22:19] CBonade commented on #47581
Numerous vets-website and qa-standards-dashboard-data PRs have already been merged in the process of getting this up and running. The devops PR to make this the default behavior for the review instances is now open and awaiting review here: https://github.com/department-of-veterans-affairs/devops/pull/12109

It remains to be seen as this runs and with review instances not currently running properl

[2022-10-18 22:46] acrollet opened #48413 "[FE] [BUG] Content flashes on check-in confirmation page"
## How to Reproduce

* Answer "yes" to all questions
* Check in to an appointment

the confirmation page shows very briefly with the non-travel content, then shows the loading message, then shows the travel content.

## Tasks
- [ ] Prevent incorrect initial content from being shown
- [ ] Create or update unit tests
- [ ] Create or update e2e tests
- [ ] Update relevant documentations (readme and u

[2022-10-18 22:52] acrollet opened #48414 "[FE] [BUG] Confirmation page has incorrect title when using app in Spanish"
## How to reproduce

* start app in spanish
* answer "Si" to all questions
* check in to an appointment

The title is not modified to include the travel reimbursement content, and the travel pay success message is not shown.

## Notes

@brianseek said that the answers are stored in spanish in redux.

## Tasks
- [ ] Add e2e tests for travel reimbursement flows in spanish

## Acceptance Criteria
- [

[2022-10-19 03:11] swirtSJW opened #48415 "Investigate getting staging environment to pull injected header / footer from staging rather than from the production S3 bucket"
## Description
During a recent failure of the injected header ([header injected into TeamSite sites](https://depo-platform-documentation.scrollhelp.site/developer-docs/teamsite-overview) and subsites it was discoved that the staging environment pulls the injected header and footer from prod.  This makes it impossible to fully test without releasing to prod first.
## Tasks
- [ ] Research why stagin

[2022-10-19 03:27] kristenmcconnell commented on #46019
[Pre-check-in](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/health-care/checkin/research/2022-09-precheckin-appointment-info-prioritization) and [check-in](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/health-care/checkin/research/2022-09-checkin-appointment-info-prioritization) research folders have been updated with the s

[2022-10-19 06:25] ytsaoca commented on #47852
Couldn't find all of the footer links and the Feedback button element so I didn't include them in the 2 version. Will discuss with @zach-park about where to get them.
https://share.goabstract.com/96c4d4d5-1089-4ff6-af1b-25051ec084d2

[2022-10-19 06:25] ytsaoca commented on #47852
Couldn't find all of the footer links and the Feedback button element so I didn't include them in the 2 version. Will discuss with @zach-park about where to get them.
https://share.goabstract.com/96c4d4d5-1089-4ff6-af1b-25051ec084d2

[2022-10-19 06:26] #47852 closed

[2022-10-19 11:39] charleystran commented on #48203
I think we can close this one. I dont think we will get any more detailed info from central mail on this.

[2022-10-19 11:40] charleystran commented on #48204
As a spike, I think we have decided with Nick that the spike proved we could do it and this is a go. Closing the spike ticket and will create others for the non spike work

[2022-10-19 11:40] #48204 closed

[2022-10-19 12:11] rmessina1010 commented on #47577
A simplified write up based on the updated issue description:
https://vfs.atlassian.net/wiki/spaces/TT4/pages/2412314706/Explore+use+of+Tugboat

[2022-10-19 12:11] rmessina1010 commented on #47577
A simplified write up based on the updated issue description:
https://vfs.atlassian.net/wiki/spaces/TT4/pages/2412314706/Explore+use+of+Tugboat

[2022-10-19 12:17] loripusey commented on #47805
LGTM!

[2022-10-19 12:25] laineymajor opened #48416 "DSVA channel #platform-release-tools"
**PROBLEM STATEMENT**
As a VFS engineer, I have questions/comments/concerns that do not necessarily qualify as support, but need an appropriate _channel_ to communicate with engineers who are knowledgeable about platform FE product areas.

Before the reorg, VFS engineers (and OCTODE) used the DSVA #platform-release-tools channel to communicate information that isn't appropriate for support bot. Wi

[2022-10-19 12:50] laurwill commented on #48028
Hi @RLHecht ,
Aliyah and I chatted and we think we came up with a logical solution here, so we can send Raleigh our proposed edits and ask him to check for accuracy. Since we changed a bunch of text, could you copyedit just the "Will I have to pay the fee?" section before we send back to Raleigh?
http://preview-prod.vfs.va.gov/preview?nodeId=748

[2022-10-19 13:12] djfredvs opened #48417 "11/02/22 3 PM VEText Open Office Hour"
## Description
Every week the product support team hosts a bi-weekly office hours to advertize or demo new or existing features, communicate updates to our users, and hold an open forum to answer questions from users live.

---

## Agenda
What is the agenda for office hours?
Open Slot Management Review
New Opt Out Options
Support Line
Newsletter
---

## Acceptance Criteria
- [X] Agenda created and

[2022-10-19 13:22] RLHecht commented on #48028
This looks good to me @laurwill. You can send to Raleigh!

[2022-10-19 13:24] kristenmcconnell commented on #46019
@loripusey I added a meeting invite to your calendar for tomorrow to go over the report in detail.

@sarahknoppA6 Could you schedule a 30 minute meeting with the team, Stephen, and Patrick to review the results? Thank you. It will be a lot faster than past studies, but I think too long to share everything at Demos today.

[2022-10-19 13:28] andaleliz commented on #47441
@Samara-Strauss it's singular in the current UI; @mjones-oddball do you know how many text notifications a person will get as a hearing reminder if they opt into this notification?

[2022-10-19 13:28] #47912 closed

[2022-10-19 13:28] loripusey commented on #47912
https://dsva.slack.com/archives/C02GXKL8WM6/p1666183165876539

[2022-10-19 13:35] benbrasso-agile6 commented on #44383
10/18

![Screen Shot 2022-10-19 at 9.21.04 AM.png](https://images.zenhubusercontent.com/62264cddfdd7546d65710eff/58162ec8-6e77-4068-9427-81a80d7f8f6e)

[2022-10-19 13:37] kristenmcconnell commented on #46019
Research repo tickets updated.
[Pre-check-in](https://github.com/department-of-veterans-affairs/va.gov-research-repository/issues/180)
[Check-in](https://github.com/department-of-veterans-affairs/va.gov-research-repository/issues/179)

[2022-10-19 13:38] #46019 closed

[2022-10-19 13:43] RLHecht commented on #48230
@aliyahblackmore Here's the content back from the translators:

[https://app.zenhub.com/files/133843125/e4844ea9-6b7e-4da7-a110-f89806ec7b70/download](https://app.zenhub.com/files/133843125/e4844ea9-6b7e-4da7-a110-f89806ec7b70/download)

[2022-10-19 13:43] loripusey opened #48418 "[FE] Display BTSSS API Error"
## Wireframes
[Wireframe](https://app.abstract.com/projects/ab30c34e-e2f9-4d3e-bb96-3b683b006c24/branches/ac31709b-2855-41d4-a01c-be1c01d7356c/commits/26ba433f99f8b2576e21d58be4616f452ebd3dcc/files/585436fe-2120-45f4-b4f7-fbae01d258d9/layers/9C059432-24E0-4E89-971E-90EFA44BC078?collectionId=57d1d456-eaea-4ad2-9f62-8e2c91ec31ca&collectionLayerId=9421e29d-1565-4e6a-9ae5-0ca507077a80&mode=design)

##

[2022-10-19 13:43] loripusey opened #48419 "[FE] Display BTSSS API Error"
## Wireframes
[Wireframe](https://app.abstract.com/projects/ab30c34e-e2f9-4d3e-bb96-3b683b006c24/branches/ac31709b-2855-41d4-a01c-be1c01d7356c/commits/26ba433f99f8b2576e21d58be4616f452ebd3dcc/files/585436fe-2120-45f4-b4f7-fbae01d258d9/layers/9C059432-24E0-4E89-971E-90EFA44BC078?collectionId=57d1d456-eaea-4ad2-9f62-8e2c91ec31ca&collectionLayerId=9421e29d-1565-4e6a-9ae5-0ca507077a80&mode=design)

##

[2022-10-19 13:43] loripusey opened #48420 "[FE] Display BTSSS API General Error"
## Wireframes
[Wireframe](https://app.abstract.com/projects/ab30c34e-e2f9-4d3e-bb96-3b683b006c24/branches/ac31709b-2855-41d4-a01c-be1c01d7356c/commits/26ba433f99f8b2576e21d58be4616f452ebd3dcc/files/585436fe-2120-45f4-b4f7-fbae01d258d9/layers/9C059432-24E0-4E89-971E-90EFA44BC078?collectionId=57d1d456-eaea-4ad2-9f62-8e2c91ec31ca&collectionLayerId=9421e29d-1565-4e6a-9ae5-0ca507077a80&mode=design)

##

[2022-10-19 13:43] loripusey opened #48421 "[FE] Display BTSSS API General Error"
## Wireframes
[Wireframe](https://app.abstract.com/projects/ab30c34e-e2f9-4d3e-bb96-3b683b006c24/branches/ac31709b-2855-41d4-a01c-be1c01d7356c/commits/26ba433f99f8b2576e21d58be4616f452ebd3dcc/files/585436fe-2120-45f4-b4f7-fbae01d258d9/layers/9C059432-24E0-4E89-971E-90EFA44BC078?collectionId=57d1d456-eaea-4ad2-9f62-8e2c91ec31ca&collectionLayerId=9421e29d-1565-4e6a-9ae5-0ca507077a80&mode=design)

##

[2022-10-19 13:43] it-harrison commented on #48043
@allison0034 looks good!

[2022-10-19 13:44] loripusey opened #48422 "[FE] Display BTSSS API General Error"
## Wireframes
[Wireframe](https://app.abstract.com/projects/ab30c34e-e2f9-4d3e-bb96-3b683b006c24/branches/ac31709b-2855-41d4-a01c-be1c01d7356c/commits/26ba433f99f8b2576e21d58be4616f452ebd3dcc/files/585436fe-2120-45f4-b4f7-fbae01d258d9/layers/9C059432-24E0-4E89-971E-90EFA44BC078?collectionId=57d1d456-eaea-4ad2-9f62-8e2c91ec31ca&collectionLayerId=9421e29d-1565-4e6a-9ae5-0ca507077a80&mode=design)

##

[2022-10-19 13:44] loripusey opened #48423 "[FE] Display BTSSS API General Error"
## Wireframes
[Wireframe](https://app.abstract.com/projects/ab30c34e-e2f9-4d3e-bb96-3b683b006c24/branches/ac31709b-2855-41d4-a01c-be1c01d7356c/commits/26ba433f99f8b2576e21d58be4616f452ebd3dcc/files/585436fe-2120-45f4-b4f7-fbae01d258d9/layers/9C059432-24E0-4E89-971E-90EFA44BC078?collectionId=57d1d456-eaea-4ad2-9f62-8e2c91ec31ca&collectionLayerId=9421e29d-1565-4e6a-9ae5-0ca507077a80&mode=design)

##

[2022-10-19 13:44] loripusey opened #48424 "[FE] Display BTSSS API General Error"
## Wireframes
[Wireframe](https://app.abstract.com/projects/ab30c34e-e2f9-4d3e-bb96-3b683b006c24/branches/ac31709b-2855-41d4-a01c-be1c01d7356c/commits/26ba433f99f8b2576e21d58be4616f452ebd3dcc/files/585436fe-2120-45f4-b4f7-fbae01d258d9/layers/9C059432-24E0-4E89-971E-90EFA44BC078?collectionId=57d1d456-eaea-4ad2-9f62-8e2c91ec31ca&collectionLayerId=9421e29d-1565-4e6a-9ae5-0ca507077a80&mode=design)

##

[2022-10-19 13:44] loripusey opened #48425 "[FE] Display BTSSS API General Error"
## Wireframes
[Wireframe](https://app.abstract.com/projects/ab30c34e-e2f9-4d3e-bb96-3b683b006c24/branches/ac31709b-2855-41d4-a01c-be1c01d7356c/commits/26ba433f99f8b2576e21d58be4616f452ebd3dcc/files/585436fe-2120-45f4-b4f7-fbae01d258d9/layers/9C059432-24E0-4E89-971E-90EFA44BC078?collectionId=57d1d456-eaea-4ad2-9f62-8e2c91ec31ca&collectionLayerId=9421e29d-1565-4e6a-9ae5-0ca507077a80&mode=design)

##

[2022-10-19 13:46] loripusey opened #48426 "[FE] Display Error Message when General BTSSS API Error Encountered"
## Description
When we attempt to submit a travel claim and receive a general BTSSS API error, we should display a message to the user letting them know that we could not submit their claim.

## Wireframes
[Wireframe](https://app.abstract.com/projects/ab30c34e-e2f9-4d3e-bb96-3b683b006c24/branches/ac31709b-2855-41d4-a01c-be1c01d7356c/commits/26ba433f99f8b2576e21d58be4616f452ebd3dcc/files/585436fe-2

[2022-10-19 13:48] Dr-Pongo opened #48427 "[cFSR] Checkbox to input boxes Enhancements - Monetary Assets"
## Issue Description
Add "Checklist to box" functionality in FSR for the Monetary Assets.

- [Monetary assets](https://preview.uxpin.com/552e9ad135f7d7ee943a92576feab45190b069f4#/pages/145084977/specification/sitemap?mode=i)

Example of functionality
![image.png](https://images.zenhubusercontent.com/61f96bcb96295709970afb65/7aa9e209-aabc-4285-bf0b-53b796f182e3)

---
## Tasks
- [ ] Add checkbox to

[2022-10-19 13:48] Dr-Pongo opened #48428 "[cFSR] Checkbox to input boxes Enhancements - Monetary Assets"
## Issue Description
Add "Checklist to box" functionality in FSR for the Monetary Assets.

- [Monetary assets](https://preview.uxpin.com/552e9ad135f7d7ee943a92576feab45190b069f4#/pages/145084977/specification/sitemap?mode=i)

Example of functionality
![image.png](https://images.zenhubusercontent.com/61f96bcb96295709970afb65/7aa9e209-aabc-4285-bf0b-53b796f182e3)

---
## Tasks
- [ ] Add checkbox to

[2022-10-19 13:49] rmtolmach commented on #48320
@laineymajor, Can you add Igor to the Platform Roster? https://vfs.atlassian.net/wiki/spaces/AP/pages/1908834623/Platform+Roster

[2022-10-19 13:49] Dr-Pongo opened #48429 "[cFSR] Checkbox to input boxes Enhancements - Monetary Assets"
## Issue Description
Add "Checklist to box" functionality in FSR for the Monetary Assets.

- [Monetary assets](https://preview.uxpin.com/552e9ad135f7d7ee943a92576feab45190b069f4#/pages/145084977/specification/sitemap?mode=i)

Example of functionality
![image.png](https://images.zenhubusercontent.com/61f96bcb96295709970afb65/7aa9e209-aabc-4285-bf0b-53b796f182e3)

---
## Tasks
- [ ] Add checkbox to

[2022-10-19 13:50] Dr-Pongo opened #48430 "[cFSR] Checkbox to input boxes Enhancements - Monetary Assets"
## Issue Description
Add "Checklist to box" functionality in FSR for the Monetary Assets.

- [Monetary assets](https://preview.uxpin.com/552e9ad135f7d7ee943a92576feab45190b069f4#/pages/145084977/specification/sitemap?mode=i)

Example of functionality
![image.png](https://images.zenhubusercontent.com/61f96bcb96295709970afb65/7aa9e209-aabc-4285-bf0b-53b796f182e3)

---
## Tasks
- [ ] Add checkbox to

[2022-10-19 13:50] loripusey opened #48431 "[FE] Do Not Allow User to File a Travel Claim when they have More Than One Appointment for Today"
## Description
The BTSSS API will not allow a claim to be filed when the Veteran has more than one appointment for the day. We need to NOT show the travel questions to a Veteran who has more than 1 appointment for today.

## Tasks
- [ ] [FE] **DO NOT show the travel questions to a Veteran who has more than 1 appointment for today**
- [ ] Create or update unit tests
- [ ] Create or update e2e tests

[2022-10-19 13:50] Dr-Pongo opened #48432 "[eFSR] Checkbox to input boxes Enhancements - Monetary Assets"
## Issue Description
Add "Checklist to box" functionality in FSR for the Monetary Assets.

- [Monetary assets](https://preview.uxpin.com/552e9ad135f7d7ee943a92576feab45190b069f4#/pages/145084977/specification/sitemap?mode=i)

Example of functionality
![image.png](https://images.zenhubusercontent.com/61f96bcb96295709970afb65/7aa9e209-aabc-4285-bf0b-53b796f182e3)

---
## Tasks
- [ ] Add checkbox to

[2022-10-19 13:53] loripusey opened #48433 "[FE] Display Error Message when Claim Exists BTSSS API Error Encountered"
## User Story
As a <user>, I want to <do something> so that I can <accomplish a goal>

## User Workflow
- Given I
    - **_insert user pre-conditions or logged-in permissions_**
- When I
    - **_insert user actions_**
- Then I
    - **_insert user expectations_**

## Wireframes
- [Sketch]() **_insert link to sketch file_**
- NOTE: The following is a screenshot of the Sketch file at the time this

[2022-10-19 13:53] loripusey opened #48434 "[FE] Display Error Message when Claim Exists BTSSS API Error Encountered"
## User Story
As a <user>, I want to <do something> so that I can <accomplish a goal>

## User Workflow
- Given I
    - **_insert user pre-conditions or logged-in permissions_**
- When I
    - **_insert user actions_**
- Then I
    - **_insert user expectations_**

## Wireframes
- [Sketch]() **_insert link to sketch file_**
- NOTE: The following is a screenshot of the Sketch file at the time this

[2022-10-19 13:53] loripusey opened #48435 "[FE] Display Error Message when Claim Exists BTSSS API Error Encountered"
## User Story
As a <user>, I want to <do something> so that I can <accomplish a goal>

## User Workflow
- Given I
    - **_insert user pre-conditions or logged-in permissions_**
- When I
    - **_insert user actions_**
- Then I
    - **_insert user expectations_**

## Wireframes
- [Sketch]() **_insert link to sketch file_**
- NOTE: The following is a screenshot of the Sketch file at the time this

[2022-10-19 13:53] loripusey opened #48436 "[FE] Display Error Message when Claim Exists BTSSS API Error Encountered"
## User Story
As a <user>, I want to <do something> so that I can <accomplish a goal>

## User Workflow
- Given I
    - **_insert user pre-conditions or logged-in permissions_**
- When I
    - **_insert user actions_**
- Then I
    - **_insert user expectations_**

## Wireframes
- [Sketch]() **_insert link to sketch file_**
- NOTE: The following is a screenshot of the Sketch file at the time this

[2022-10-19 13:54] ericasauv09 opened #48437 "PM | Profile | Research Recommendations | Explore Analytics Around Adding Mobile Number Flow"
## Background

During the recent research sessions we observed that users were disrupted by having to leave the notifications preference page to add their mobile number. We want to review the analytics for this flow and specifically the link text "manage text notifications" as many users missed that this would take them back to the notifications preferences page. By understanding the metrics aroun

[2022-10-19 13:55] Dr-Pongo opened #48438 "[eFSR] Other Assets Enhancement"
## Issue Description
Add Checklist to input list and mini summary options for other assets.

~~[Other assets uxpin (old design)](https://preview.uxpin.com/552e9ad135f7d7ee943a92576feab45190b069f4#/pages/145084980/specification/sitemap?mode=i)~~

[Mural for mini summary design update](https://app.mural.co/t/departmentofveteransaffairs9999/m/departmentofveteransaffairs9999/1671734127581/dc254b12e788

[2022-10-19 14:00] ericasauv09 opened #48439 "PM | Profile | Research Recommendations | Review Analytics For Editing Addresses"
## Background

During the recent research sessions we observed that some users were confused by the address validation process. One issue noted was that during the editing process if a user does not save or cancel their changes they will see a modal that informs them that they are in the middle of editing and need to save their changes (see screenshot below).

We want to determine how many users s

[2022-10-19 14:03] benbrasso-agile6 commented on #47805
Looks good

[2022-10-19 14:03] Dr-Pongo opened #48440 "[cFSR] Checkbox to input boxes Enhancements - Housing Expenses"
## Issue Description
Add "Checklist to box" functionality in FSR for the following pages. Confirm expenses explainer is up to date

- [Housing expenses](https://preview.uxpin.com/552e9ad135f7d7ee943a92576feab45190b069f4#/pages/145022052/specification/sitemap?mode=i)

Example of functionality
![image.png](https://images.zenhubusercontent.com/61f96bcb96295709970afb65/2322a621-233e-43e2-934a-d938d195

[2022-10-19 14:04] #47390 closed

[2022-10-19 14:11] ericasauv09 opened #48441 "Design | Profile | Research Recommendations | Review Button Pair Options"
## Background

During our recent research sessions we observed that some users were confused by the button options for "saving" and "updating" their information. We want to reevaluate the button pairs in the cancel confirmation modal and the remove modal. Specifically we should look into why we chose "update" over "save."

Detailed findings are [here](https://github.com/department-of-veterans-affa

[2022-10-19 14:12] katherine-fung commented on #47926
Update to add that Beth answered the question in the previous comment. For now, we are leaving the content on the Post-9/11 GI Bill rates page.

[2022-10-19 14:12] katherine-fung commented on #47926
Update to add that Beth answered the question in the previous comment. For now, we are leaving the content on the Post-9/11 GI Bill rates page.

[2022-10-19 14:23] ahicksfearless opened #48442 "AVS Newsletter [10/19/22]"
## Description
Every other Wednesday, opposite of office hours, a newsletter is sent out to users and posted to the product SharePoint to advertise existing and new product features, cover FAQ, and potentially inform users of news that may not be best held off until the next office hours.

---

## Acceptance Criteria
- [ ] Draft newsletter including Q & A posted in slack channel for review by lead

[2022-10-19 14:24] ahicksfearless opened #48443 "AVS Newsletter [10/19/22]"
## Description
Every other Wednesday, opposite of office hours, a newsletter is sent out to users and posted to the product SharePoint to advertise existing and new product features, cover FAQ, and potentially inform users of news that may not be best held off until the next office hours.

---

## Acceptance Criteria
- [ ] Draft newsletter including Q & A posted in slack channel for review by lead

[2022-10-19 14:24] ahicksfearless opened #48444 "AVS Newsletter [10/19/22]"
## Description
Every other Wednesday, opposite of office hours, a newsletter is sent out to users and posted to the product SharePoint to advertise existing and new product features, cover FAQ, and potentially inform users of news that may not be best held off until the next office hours.

---

## Acceptance Criteria
- [ ] Draft newsletter including Q & A posted in slack channel for review by lead

[2022-10-19 14:38] zach-park commented on #47805
LGTM

[2022-10-19 14:39] ahicksfearless opened #48445 "AVS Newsletter [10/19/22]"
## Description
Every other Wednesday, opposite of office hours, a newsletter is sent out to users and posted to the product SharePoint to advertise existing and new product features, cover FAQ, and potentially inform users of news that may not be best held off until the next office hours.

---

## Acceptance Criteria
- [ ] Draft newsletter including Q & A posted in slack channel for review by lead

[2022-10-19 14:39] thehastingsp commented on #45639
This is done

[2022-10-19 14:39] #45639 closed

[2022-10-19 14:48] zach-park commented on #47836
@kristenmcconnell , could you include the link to the source? I had an additional follow-up question. Thank you!

[2022-10-19 14:50] benbrasso-agile6 commented on #48353
dupe

[2022-10-19 14:50] #48353 closed

[2022-10-19 14:51] benbrasso-agile6 commented on #48354
dupe

[2022-10-19 14:51] #48354 closed

[2022-10-19 14:51] benbrasso-agile6 commented on #48355
dupe

[2022-10-19 14:51] #48355 closed

[2022-10-19 14:51] #48352 closed

[2022-10-19 14:53] thehastingsp commented on #48142
design approved, content still in progress.

[2022-10-19 14:58] thehastingsp commented on #48159
design approved, content still in progress.

[2022-10-19 14:59] thehastingsp commented on #48160
design approved, content still in progress.

[2022-10-19 15:01] thehastingsp commented on #46511
design approved, content still in progress

[2022-10-19 15:03] thehastingsp commented on #48163
design approved, content still in progress

[2022-10-19 15:05] thehastingsp commented on #48397
Design approved, content still in progress

[2022-10-19 15:06] allison0034 commented on #47421
@briandeconinck you put it as an item to check off in the list of things to do... I do not know if you can be more clear lol. Peer request done!

[2022-10-19 15:09] thehastingsp commented on #48399
design and content approved

[2022-10-19 15:09] RLHecht commented on #48336
@katherine-fung The other part of this ticket, which I mentioned in standup is removing the online form section on the find forms landing page. Here's the page to work from: https://www.va.gov/find-forms/about-form-22-1990n/ Thanks!

[2022-10-19 15:09] #48043 closed

[2022-10-19 15:13] denisecoveyduc opened #48446 "[eFSR] Content changes - Part 2"
## Issue Description
Extracting content changes still outstanding from #47357

---
## Tasks
- [ ] Update content changes to reflect what the mockups show.
[Design ticket reference](https://app.zenhub.com/workspaces/vsa---debt-607736a6c8b7e2001084e3ab/issues/department-of-veterans-affairs/va.gov-team/46160)

## Content changes include:

- [x] [Retirement accounts](https://app.uxpin.com/edit/8974674

[2022-10-19 15:14] thehastingsp commented on #48408
Design approved, content still in progress.

[2022-10-19 15:16] allison0034 commented on #48242
No design feedback, thank you : )

[2022-10-19 15:20] ahicksfearless commented on #48152
Sent Justin STOP verbiage.

[2022-10-19 15:21] #48152 closed

[2022-10-19 15:21] CBMR opened #48447 "Need additional aws access."
Abdiel Fernandez,
I work for Oddball Inc
I'm on team Koala which is part of the lighthouse platform

## Description
I need additional access to AWS services. At the moment, I need access to SSM and ECS but preferebly please provide me the same access as @iriteshp or @kevingin9.

## Background/context
My team is now owning the maintenance of Kong Api Gateway which is hosted on AWS ECS
---
## Tasks

[2022-10-19 15:21] holdenhinkle commented on #48012
Thank you!

[2022-10-19 15:21] #48012 closed

[2022-10-19 15:21] CBMR commented on #48391
Opened another issue with the correct template

[2022-10-19 15:21] #48391 closed

[2022-10-19 15:22] ahicksfearless commented on #43915
Waiting on more info from Ambes.

[2022-10-19 15:23] oseasmoran73 commented on #3853
- Vets-api has circuit breakers done automatically and in Prod. When we migrate over from BRD to EKS, they will come out of the box
- It looks like to do bulkhead pattern in EKS, the reroute goes dedicated pod. Questions I have regarding that
  -  Is that pod spun up dynamically? I presume not since we want "standby" or something along those lines. Just curious if it will be on a per service (whic

[2022-10-19 15:24] RLHecht commented on #43350
I can re-close this.

[2022-10-19 15:26] thehastingsp commented on #48173
Design approved, content still in progress

[2022-10-19 15:30] loripusey commented on #43732
Following files sent to Randi Hecht on 10/18/2022 requesting translation from the State Department:

[2022-10-19 15:32] #44758 closed

[2022-10-19 15:33] andaleliz commented on #47646
@SKasimow yep :)

[2022-10-19 15:33] #47646 closed

[2022-10-19 15:35] #48191 closed

[2022-10-19 15:35] SKasimow commented on #47003
Hi @TiffanyPender - are you able to validate this work for us?

[2022-10-19 15:35] #47959 closed

[2022-10-19 15:41] #43732 closed

[2022-10-19 15:41] SKasimow commented on #46731
Closing...will open new ticket once we have analytics data

[2022-10-19 15:41] #46731 closed

[2022-10-19 15:42] ldelacosta opened #48448 "Content Review - Appointment Modality/Appointment Details Page from VAOS - VA Online Scheduling"
## What does your team need support for? Check all that apply.
- [ ] Launching one or more new unauthenticated (static) VA.gov pages
- [ ] Making revisions to one or more existing unauthenticated (static) VA.gov page
- [ ] Launching a new online form, app, or tool on VA.gov
- [X] Making revisions to an existing online form, app, or tool on VA.gov
- [ ] Something else (please add details in the nex

[2022-10-19 15:42] loripusey commented on #48339
Following files sent to Randi Hecht on 10/18/2022 requesting translation from the State Department:
NOTE: ZenHub would not let me attach the file

[2022-10-19 15:42] #48339 closed

[2022-10-19 15:43] ScottyRJames opened #48449 "Various discrepancies between Huron and SharePoint FSR Submissions"
## Issue Description
Ashlie provided a list of various discrepancies between SharePoint submissions and what they've received on Huron.

---
## Tasks
- [ ] Use provided IDs to determine possible cause
- [ ] Communicate with necessary teams to see source
- [ ] Draft document response about discrepancy reasoning's

## Acceptance Criteria
- [ ] Response about submission discrepancies has been provide

[2022-10-19 15:44] ianMcCullough-ob commented on #47923
@denisecoveyduc files have been shared, you're good to go. Thanks!

[2022-10-19 15:44] #47923 closed

[2022-10-19 15:45] #31408 closed

[2022-10-19 15:48] ScottyRJames opened #48450 "Create swagger spec document for copay notifications endpoint"
## Issue Description
Providing a swagger spec for VBS so they have required knowledge for how to integrate with copay notifications endpoint.

---
## Tasks
- [ ] Determine structure (headers, body, response) of endpoint
- [ ] Create swagger document that matches structure

## Acceptance Criteria
- [ ] We can provide swagger doc to VBS to start endpoint integration
---
## How to configure this issu

[2022-10-19 15:48] RLHecht commented on #46817
This is live. Closing.

[2022-10-19 15:48] #46817 closed

[2022-10-19 15:50] #47826 closed

[2022-10-19 15:50] bramleyjl opened #48451 "Remove vets-api UserIdentity class - Issue Research"
## Issue Description
[Relevant Slack thread](https://dsva.slack.com/archives/C019S3NSSAD/p1665770026803579)

vets-api user attributes for SSOe logins are currently sourced from both [the ISAM headers](https://github.com/department-of-veterans-affairs/vets-api/blob/master/lib/saml/user_attributes/ssoe.rb) and a subsequent [MPI call](https://github.com/department-of-veterans-affairs/vets-api/blob/ma

[2022-10-19 15:52] #46935 closed

[2022-10-19 15:57] ianhundere commented on #47100
found a solution for the annotations, wasn't using the correct container name. i'll have PRs out for goldilocks and argo shortly.

[2022-10-19 15:58] nanotone opened #48452 "Sidekiq Admin UI Access Request"
_Access to the Sidekiq Admin UI is managed through a GitHub team under the [department-of-veterans-affairs/va.gov-sidekiq team](https://github.com/orgs/department-of-veterans-affairs/teams/va-gov-sidekiq/members). Please provide your GitHub username to be added to that team, along with a reason access is required._

- GitHub username: nanotone
- Reason access is required: My team (OCTO Benefits De

[2022-10-19 16:01] CherylEvans commented on #48242
No content feedback.  Thank you!

[2022-10-19 16:01] laurwill commented on #48028
Thanks Randi! Sent to Raleigh for accuracy review.

[2022-10-19 16:03] sterkenburgsara commented on #48242
No IA feedback either. Thanks!

[2022-10-19 16:05] #47267 closed

[2022-10-19 16:05] Cmjones233 commented on #47267
this is no longer necessary

[2022-10-19 16:06] #48333 closed

[2022-10-19 16:07] #45231 closed

[2022-10-19 16:07] Cmjones233 commented on #45231
Dashboard taken down an no longer in use. Numbers were off but there is a know issue with data being reliable

[2022-10-19 16:07] sarahknoppA6 commented on #46318
@loripusey please include or link to relevant information about the ticket in the future- there is no context about what this ticket is about.

[2022-10-19 16:09] loripusey commented on #46318
the information is in the parent Epic

[2022-10-19 16:12] sarahknoppA6 commented on #46318
There is no link to an epic that I can see on this ticket

[2022-10-19 16:13] loripusey commented on #46318
![image](https://user-images.githubusercontent.com/86678742/196746838-dfe48494-adf6-409b-83b8-1c111f3b781c.png)

[2022-10-19 16:14] loripusey commented on #46318
sometimes GitHub & ZenHub doesn't show the Epic even though there is one there, I have run into that issue before

[2022-10-19 16:14] sarahknoppA6 commented on #46318
Thanks. It appears to be a github/zenhub issue, it's just not showing on my screen at all

[2022-10-19 16:14] sarahknoppA6 commented on #46318
sorry!

[2022-10-19 16:18] saderagsdale commented on #47435
Status: Waiting for updates from LGY and the platform.

[2022-10-19 16:26] stevelong00 commented on #47557
Any updates?

[2022-10-19 16:30] marcynadeau commented on #48313
per Slack this might be related to this JIRA ticket:  VAOS: Improve create appointment validations. https://issues.mobilehealth.va.gov/browse/VAOSR-3901

[2022-10-19 16:42] saderagsdale opened #48453 "(spike) Supplemental Claims | Logging and monitoring"
## Value Statement
**_As a_** Veteran
**_I want to_** understand the cause of errors that occur during my claim journey
**_So that_** I can get a quick resolution to my problem.

---
## Background Context
This tickets covers logging and monitoring needs for the Supplemental Claim form.

## Acceptance Criteria
- [ ] We've defined the use cases for which logging and monitoring need to be in place an

[2022-10-19 16:43] saderagsdale opened #48454 "(spike) Supplemental Claims | Logging and monitoring"
## Value Statement
**_As a_** Veteran
**_I want to_** understand the cause of errors that occur during my claim journey
**_So that_** I can get a quick resolution to my problem.

---
## Background Context
This tickets covers logging and monitoring needs for the Supplemental Claim form.

## Acceptance Criteria
- [ ] We've defined the use cases for which logging and monitoring need to be in place an

[2022-10-19 16:46] mleclerc00 opened #48455 "Application to Onboard: matt-test"
### Acknowledge Instructions

- [X] I acknowledge that I have read the above instructions and understand the application name provided will be used to create various resources

### Application Name

matt-test

### Environment

dev

### Maintainer(s)

mleclerc00

[2022-10-19 16:47] kylesoskin commented on #48373
I was able to sift through the data, and there is some meaningful things I think that have been found at least for a start or to look into. For example

[code]

This means, in all those records, records with the CNTNTN_CLSFCN_TXT matching CONGESTIVE HEART FAILURE , have 303 instances of the CNTNTN_CLSFCN_ID=1830  (which makes sense, this is the OLD code and what we [see in the drop down and are cu

[2022-10-19 16:48] loripusey commented on #47443
I thought we decided to not show it if there is only 1 appointment?

[2022-10-19 16:49] benbrasso-agile6 opened #48456 "Remove medallia feedback button from PCI (pre check in and day of)"
Decision was made here in [Slack](https://dsva.slack.com/archives/C022AC2STBM/p1629382816348500) to remove

## Tasks

- [x] Create ticket for Platform team to remove Medallia feedback form/button from our app
- [ ] Monitor movement on ticket

[2022-10-19 16:49] benbrasso-agile6 opened #48457 "Remove madallia feedback button from PCI (pre check in and day of)"
Decision was made here in [Slack](https://dsva.slack.com/archives/C022AC2STBM/p1629382816348500) to remove

## Tasks

- [ ] Create ticket for Platform team to remove Madallia feedback form/button from our app
- [ ] Monitor movement on ticket

[2022-10-19 16:50] #48457 closed

[2022-10-19 16:52] ldelacosta commented on #48313
Per Brad's update in the slack thread:

[2022-10-19 16:52] skylerschain commented on #47303
I created a one-pager called "Letters Strategy Proposal" in GitHub. This should cover all the sitewide recommendations coming out of our research. If there are others I'm missing, let me know.

https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/claim-appeal-status/research/2022-08-Decision-Letter-Download/letters-strategy-proposal.md

[2022-10-19 16:54] #48378 closed

[2022-10-19 16:54] #48434 closed

[2022-10-19 16:54] #48435 closed

[2022-10-19 16:56] benbrasso-agile6 commented on #47443
That sounds fine. I had just forgotten.

[2022-10-19 16:58] RLHecht opened #48458 "Content work for PDF certificate messaging"
## Issue Description

Adobe has been issuing certificates under an authority that is set to expire on January 7, 2023. This means that a user who opens any PDFs after January 7, 2023, that were saved before March 2, 2022, will not be able to fill them out.

VA's form managers are resaving all of their form PDFs so that this won't be an issue. However, if a Veteran has a PDF saved under the old cer

[2022-10-19 17:05] jilladams opened #103116 "Mobile Footer: accordion expansion does not fire analytics click event on some pages"
## Description
The mobile footer should fire a Google Analytics event when user clicks to expand an accordion. This GA event is correctly firing on [VA.gov](http://va.gov/) mobile view, for example (screenshots below)

On Healthcare appt pre-check in and check-in error pages, this event is not firing.  e.g.
* https://www.va.gov/health-care/appointment-pre-check-in/error?error=bad-token
* https://w

[2022-10-19 17:12] laineymajor commented on #48001
Note from mtg on 10.19: Should we add ECR repo as a step in the process? @LindseySaari for visibility...

[2022-10-19 17:34] #47440 closed

[2022-10-19 17:35] it-harrison commented on #48242
No QA feedback. Looks good!

[2022-10-19 17:39] ianhundere commented on #47100
argo + goldilocks in dev are done. will do the rest of envs for goldilocks.

[2022-10-19 17:41] #44760 closed

[2022-10-19 17:41] oseasmoran73 opened #48459 "Application to Onboard: oseas-test"
### Acknowledge Instructions

- [X] I acknowledge that I have read the above instructions and understand the application name provided will be used to create various resources

### Application Name

oseas-test

### Environment

dev

### Maintainer(s)

oseasmoran73

[2022-10-19 17:45] agmurphy commented on #48057
Ticket completed

[2022-10-19 17:45] #48057 closed

[2022-10-19 17:48] #48265 closed

[2022-10-19 17:49] #48459 closed

[2022-10-19 17:58] ajakabcin commented on #48038
There's documentation on error states for the current implementation of My VA (2.0) [here](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/my-va/2.0-redesign/frontend/documentation/claims-and-appeals-status.md#when-to-show-the-claims-and-appeals-section)

[2022-10-19 18:00] ericasauv09 opened #48460 "Design | Profile | Account Security | Updates to Contact Center Guide"
## Background

We recently made updates to the Account Security Alert section of Profile and we need to update all documentation around the alerts and add another section of the contact center guide for the second MPI (Master Person Index) alert.

## Tasks
- [x] Make updates to the current alert documentation and the contact center guide
- [x] Add a new section for the second alert

## Acceptance

[2022-10-19 18:05] #48455 closed

[2022-10-19 18:07] Dr-Pongo commented on #46683
Marking as complete with additional income pages included. Breaking out the rest into smaller tickets

[2022-10-19 18:07] #46683 closed

[2022-10-19 18:08] hdjustice commented on #48018
@jwoodman5 @ATMiddleton - We submitted this ticket and [#48019](https://github.com/department-of-veterans-affairs/va.gov-team/issues/48019) requesting data for both of our forms.  Please let us know if there is anything else you need, or if the timeframe being requested is too broad.
Thank you!

[2022-10-19 18:10] Dr-Pongo commented on #46680
Closing as duplicate for [#46683](https://app.zenhub.com/workspaces/vsa---debt-607736a6c8b7e2001084e3ab/issues/department-of-veterans-affairs/va.gov-team/46683)

[2022-10-19 18:10] #46680 closed

[2022-10-19 18:12] laucon commented on #48307
Done. Though I don't want to close this issue until I confirm with Vicky at standup. lol

[2022-10-19 18:14] laucon commented on #48284
I added our new calendly link to [this page](https://vfs.atlassian.net/wiki/spaces/AP/pages/2407464993/Platform+Team+Office+Hours). I'm not sure if there was anything else I needed to do here.

[2022-10-19 18:16] ajakabcin opened #48461 "[Design] Payment info V2: create alternate design for simplified overpayment debt card"
## Background
After speaking with the benefits-team-2 we learned that the debts portal only shows the most recent overpayment debts owed at each facility. They have no way of knowing if the user has paid off their debts therefore, they only show the most recent debt owed and do not include additional debts that may exist for that user. Since My VA is showing all debts and aggregating them we need

[2022-10-19 18:18] laurwill commented on #46305
Hey @katherine-fung , nice work on this! Here's the word doc with the notes we talked about on zoom. I'll take another look after you update! And if it feels like it's getting long, we can turn the bolded "va disability" and "ssdi" intros into H2s — we can make this a detail page instead of a single Q&A to allow for more characters and formatting.
[ssdi vs va disability.docx](https://github.com/de

[2022-10-19 18:21] #43507 closed

[2022-10-19 18:21] #43293 closed

[2022-10-19 18:24] saderagsdale commented on #48156
Note: We can mock the LOA1/3 properties in local environments.

[2022-10-19 18:29] denisecoveyduc commented on #46685
a duplicate of #46686

[2022-10-19 18:29] #46685 closed

[2022-10-19 18:30] tbaker1026 opened #48462 "Analyzing Airtable"

[2022-10-19 18:31] tbaker1026 opened #48463 "Analyzing Airtable"

[2022-10-19 18:32] #48462 closed

[2022-10-19 18:32] tbaker1026 commented on #48462
duplicate

[2022-10-19 18:32] #48463 closed

[2022-10-19 18:45] loripusey commented on #47852
there is a new ticket in this next sprint to collaborate with DS on this; I'm thinking UX can set that up
@benbrasso-agile6 @ytsaoca

[2022-10-19 18:45] RLHecht opened #48464 "Rework secure messaging tool page with new content pattern"
## Issue Description

We need to apply our new content pattern to our [VA Secure Messaging](https://www.va.gov/health-care/secure-messaging/) tool page. Currently the health care tool pages are all in react widgets, so this work needs to be done in Word docs rather than in Drupal.

The initial work was completed in a different ticket that contained all the health tool landing pages. We are now sep

[2022-10-19 18:46] loripusey commented on #48351
dupe; closing

[2022-10-19 18:46] #48351 closed

[2022-10-19 18:46] benbrasso-agile6 commented on #47852
Yeah, I would just wait to give the new header/footer to CIE team until Matt Dingee makes a decision or provides some type of feedback to us

[2022-10-19 18:48] oseasmoran73 opened #48465 "Application to Onboard: oseas-matt-test"
### Acknowledge Instructions

- [X] I acknowledge that I have read the above instructions and understand the application name provided will be used to create various resources

### Application Name

oseas-matt-test

### Environment

dev

### Maintainer(s)

oseasmoran73, mleclerc0

[2022-10-19 18:54] briandeconinck commented on #47421
Documentation updated, with Platform website changes pending. Will close when published!

[2022-10-19 18:54] #48320 closed

[2022-10-19 19:01] RLHecht opened #48467 "Rework Schedule your appointments tool page with new content pattern"
## Issue Description

We need to apply our new content pattern to our [Schedule and manage health appointments](https://www.va.gov/health-care/schedule-view-va-appointments/) tool page. Currently the health care tool pages are all in react widgets, so this work needs to be done in Word docs rather than in Drupal.

The initial work was completed in a different ticket that contained all the health t

[2022-10-19 19:03] CherylEvans commented on #41709
@shiragoodman Per guidance from @naomimarcussen It was suggested we put this on pause. The documentation is very outdated and she is not she want to tell researchers how to do discovery work, let alone give them outdated information. Per Josh Kim's Slack [link](https://dsva.slack.com/archives/C046GT0TYDV/p1666200772332989), he has a small task force working to update this material.

[2022-10-19 19:04] #48465 closed

[2022-10-19 19:06] outerpress commented on #48190
Gotcha, thanks @jimuhh !

We released the change from dropdown to links list while we were in the process of redesigning the appointments list. So I will do as you say and propose that as an experimental design feature. We're getting comparative usage data now so that should be helpful.

[2022-10-19 19:15] ericasauv09 commented on #48460
@cgednalske let me know if this is ok and covers the work you are doing - Also please add an estimate when you get a chance. Thanks!

[2022-10-19 19:16] ajakabcin opened #48468 "[FE] Payment info v2: Implement overpayment debt card design changes"
## Background
After speaking with the benefits-team-2 we learned that the debts portal only shows the most recent overpayment debts owed at each facility. They have no way of knowing if the user has paid off their debts therefore, they only show the most recent debt owed and do not include additional debts that may exist for that user. Since My VA is showing all debts and aggregating them we need

[2022-10-19 19:16] cgednalske commented on #48460
@ericasauv09 this looks great and covers everything 👍  Thanks so much!

[2022-10-19 19:17] michelle-dooley commented on #46365
@dsinla - so the utm_campaign in the url will come ins as "Campaign" name in GA that you filter/report on.  Here is an example of [report]( https://analytics.google.com/analytics/web/#/report/content-pages/a50123418w177519031p184624291/_u.date00=20221001&_u.date01=20221018&explorer-table.plotKeys=%5B%5D&explorer-table.rowCount=500&explorer-table.secSegmentId=analytics.campaign&explorer-table.advFi

[2022-10-19 19:24] joeniquette opened #48469 "Create `identity-bug` label to be used to track number of bugs"

[2022-10-19 19:24] joeniquette opened #48470 "Refactor Zenhub Board Layout"

[2022-10-19 19:25] RLHecht opened #48471 "Rework lab and test results tool page with new content pattern"
## Issue Description

We need to apply our new content pattern to our [View your VA lab and test results online](https://www.va.gov/health-care/view-test-and-lab-results/) tool page. Currently the health care tool pages are all in react widgets, so this work needs to be done in Word docs rather than in Drupal.

The initial work was completed in a different ticket that contained all the health tool

[2022-10-19 19:26] #48341 closed

[2022-10-19 19:26] #47898 closed

[2022-10-19 19:26] #48340 closed

[2022-10-19 19:27] #48062 closed

[2022-10-19 19:27] #48064 closed

[2022-10-19 19:27] #48392 closed

[2022-10-19 19:27] #48411 closed

[2022-10-19 19:27] #48098 closed

[2022-10-19 19:27] #48246 closed

[2022-10-19 19:27] #48247 closed

[2022-10-19 19:27] #48418 closed

[2022-10-19 19:27] #48423 closed

[2022-10-19 19:27] #48424 closed

[2022-10-19 19:27] #48345 closed

[2022-10-19 19:27] #48359 closed

[2022-10-19 19:27] #48393 closed

[2022-10-19 19:27] #48420 closed

[2022-10-19 19:27] #48422 closed

[2022-10-19 19:27] #48425 closed

[2022-10-19 19:28] CherylEvans commented on #48024
@allison0034 I assigned myself this ticket because I didn't understand the other 2 Tech-debt, Ready.
I know this isn't tech-debt, it was easy.  :-)
PR - [48472](https://github.com/department-of-veterans-affairs/va.gov-team/pull/48472)
Do you mind doing a quick review?

[2022-10-19 19:31] CherylEvans commented on #48024
@allison0034 All headings now have h2 hierarchal headings, except the title, which has an h1 hierarchal heading.

[2022-10-19 19:33] RLHecht opened #48473 "Rework the prescription tool page with new content pattern"
## Issue Description

We need to apply our new content pattern to our [Refill and track VA prescriptions](https://www.va.gov/health-care/refill-track-prescriptions/) tool page. Currently the health care tool pages are all in react widgets, so this work needs to be done in Word docs rather than in Drupal.

The initial work was completed in a different ticket that contained all the health tool landi

[2022-10-19 19:35] ajakabcin commented on #43508
In terms of priorities and order of operations, let's proceed with this plan to start the sprint:

**For design/research priorities, @aagosto90 here are your tickets to proceed with:**
1. Knock out the alternate design for overpayment debts so that when we hear back from Samara on how to proceed, Taylor can pick up the FE work (#48461)
2. Continue with the conversation guide for the audit UX impro

[2022-10-19 19:36] loripusey opened #48474 "[FE] Display Error Message when Multiple Appointments BTSSS API Error Encountered"
## Description
The BTSSS API will not allow a claim to be filed if the Veteran has multiple appointments for the day for which they want to file a claim.  We need to display an error message to the Veteran if this is encountered.

## Wireframe
UX decision is to show the following general error message when we get a multiple appointments error back from the BTSSS API.
[Wireframe](https://app.abstra

[2022-10-19 19:36] denisecoveyduc opened #48475 "Design Discovery: Changing contact info on Veteran's profile"
## Issue Description
Allowing Veterans to update their contact information as part of their VA profile instead of just for the FSR submission that does not persist.

## Background
As part of #48384, the design team questioned why the experience does not transfer to the Veteran's profile.
Currently on FSR:
![Screen Shot 2022-10-18 at 11.04.43 AM.png](https://images.zenhubusercontent.com/5f91de193a0

[2022-10-19 19:38] loripusey opened #48476 "[Design] Create Final Wireframes for Claim Exists Error Message"
## Tasks
- [ ] Create final mockups with callouts
- [ ] Decide: Should a content and accessibility review be part of this ticket or separate tickets due to scope?

## Acceptance Criteria
- [ ] UI review meeting with product/UX team for feature capabilities
- [ ] UI review meeting with engineering for layout and callouts (can be the same meeting as above)
- [ ] Wireframe available on Sketch Cloud
-

[2022-10-19 19:39] loripusey opened #48477 "[Design] Create Final Wireframes for Multiple Appointments Error Message"
## Tasks
- [ ] Create final mockups with callouts
- [ ] Decide: Should a content and accessibility review be part of this ticket or separate tickets due to scope?

## Acceptance Criteria
- [ ] UI review meeting with product/UX team for feature capabilities
- [ ] UI review meeting with engineering for layout and callouts (can be the same meeting as above)
- [ ] Wireframe available on Sketch Cloud
-

[2022-10-19 19:40] #34123 closed

[2022-10-19 19:40] RLHecht commented on #34123
I created separate tickets for each of these pages to make them easier to track. Going to close this.

[2022-10-19 19:41] loripusey opened #48478 "[Design] Create Final Wireframes for Multiple Appointments Error Message"
## Tasks
- [ ] Create final mockups with callouts
- [ ] Decide: Should a content and accessibility review be part of this ticket or separate tickets due to scope?

## Acceptance Criteria
- [ ] UI review meeting with product/UX team for feature capabilities
- [ ] UI review meeting with engineering for layout and callouts (can be the same meeting as above)
- [ ] Wireframe available on Sketch Cloud
-

[2022-10-19 19:41] loripusey opened #48479 "[Design] Create Final Wireframes for Multiple Appointments Error Message"
## Tasks
- [ ] Create final mockups with callouts
- [ ] Decide: Should a content and accessibility review be part of this ticket or separate tickets due to scope?

## Acceptance Criteria
- [ ] UI review meeting with product/UX team for feature capabilities
- [ ] UI review meeting with engineering for layout and callouts (can be the same meeting as above)
- [ ] Wireframe available on Sketch Cloud
-

[2022-10-19 19:41] loripusey opened #48480 "[Design] Create Final Wireframes for Multiple Appointments Error Message"
## Tasks
- [ ] Create final mockups with callouts
- [ ] Decide: Should a content and accessibility review be part of this ticket or separate tickets due to scope?

## Acceptance Criteria
- [ ] UI review meeting with product/UX team for feature capabilities
- [ ] UI review meeting with engineering for layout and callouts (can be the same meeting as above)
- [ ] Wireframe available on Sketch Cloud
-

[2022-10-19 19:42] lindsay-insco commented on #46858
Completed by Phil - Will have November 15 review of all POA&Ms

[2022-10-19 19:42] #46858 closed

[2022-10-19 19:42] SKasimow commented on #47350
Hi @cgednalske - think it makes sense to include this with the Nametag ticket you opened. Should I target that for Sprint 86?

[2022-10-19 19:42] lindsay-insco opened #48481 "Sepmtember 2022 Nessus Finding Remediation"
**Description

Remediation of critical findings for the VEText monthly Nessus Scans

![image (11).png](https://images.zenhubusercontent.com/613a5fe6c2664a3a7db92373/052f44c9-878a-43e6-b12e-9786912095bd)

**Acceptance Criteria
- [x] Receive monthly scan result
- [x] Review with Tier 3 team
- [x] Discuss and create any necessary POA&Ms
- [x] Remediate all possible findings

[2022-10-19 19:43] mgleo commented on #48384
Discussed with team on 10/19. We will keep edit functionality on the review page as there are not accessibility concerns with this. When the edit button is being developed there needs to be an ARIA label applied to it that describes what the user is editing.

[2022-10-19 19:44] #35765 closed

[2022-10-19 19:44] #34621 closed

[2022-10-19 19:45] denisecoveyduc opened #48482 "Continued discovery for the streamlined waiver"
## Issue Description
Product and Design both need time to understand the decision tree and spreadsheet that VHA has provided. It is a complicated process that has major implications on the user experience. Before the design team can move forward with the User Scenarios/Flow for the experience certain questions need to be answered.

---
## Tasks
- [x] Meet with Mike Dewey to better understand the d

[2022-10-19 19:46] lindsay-insco opened #48483 "October 2022 Existing CRISP Ticket Resolution"
**Description

CRISP tickets are assigned to the VEText group via SNOW frequently, and they are closely monitored, with negative attention if the issues are not resolved in a timely manner.

[CRISP Tickets Here](https://yourit.va.gov/nav_to.do?uri=%2Fincident_list.do%3Fsysparm_query%3Dassignment_group%253D17497358db439fc0096970340f961918%255EORassignment_group%253Ddab9489a1bf1c59046c9a798624bcbae%

[2022-10-19 19:46] ajakabcin commented on #46540
Removing this from our staging review epic since it doesn't pertain to our onsite notifications feature :)

[2022-10-19 19:49] ajakabcin commented on #46538
You're correct - this is not an intentional design choice, we have a bug ticket logged to address this issue. See #48038

[2022-10-19 19:49] #46538 closed

[2022-10-19 19:50] ajakabcin commented on #46537
Noted! We have a bug logged that we we're working through now - see #48038

[2022-10-19 19:50] #46537 closed

[2022-10-19 19:52] lindsay-insco commented on #43914
- Need to move AVS Servers off of old sites, this may in turn reduce critical scan findings

[2022-10-19 19:56] #47882 closed

[2022-10-19 20:05] vbellissimo opened #48485 "Peer Review: Pain Points and New Workflow"
Tasks:

During peer review, as a team:

- [x] Review triaging pain points

- [x] Review recommended workflow and adjust as necessary

[2022-10-19 20:06] vbellissimo opened #48486 "Update office hours reminder in Slack"
Tasks:

- [x] Update our office hour reminder in the #platform-confluence Slack channel

- Tuesdays only
- 2:30pm EST
- Add RSVP link

- [x] Update Google calendar to only Tuesdays and change time to 2:30pm EST

[2022-10-19 20:08] ajakabcin commented on #46536
Angela's design is under review with the design system after which this ticket would be a moot point: https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/1181

[2022-10-19 20:08] ajakabcin commented on #46539
Angela's design is under review with the design system after which this ticket would be a moot point: https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/1181

[2022-10-19 20:08] #46539 closed

[2022-10-19 20:10] ajakabcin commented on #45610
We began our phased launch of onsite notifications on 10/13/22 launching to 25% of users. We increased to 50% on the 17th and plan to go to 100% on 10/24/22

[2022-10-19 20:15] djfredvs opened #48487 "10/25/22 9:30 AM VEText Community Care Training"
Booked by Valarie Taylor Crawford

[2022-10-19 20:16] benbrasso-agile6 commented on #48356
@kellysmith1008 this "Need Help?" ticket refers to the updates here:
https://app.zenhub.com/workspaces/check-in-experience-61fc23a2cb8a14001132e102/issues/department-of-veterans-affairs/va.gov-team/47827

When updating the product guides, I would probably recommend doing the "Need Help?" update and the ["Tagalog" update in the same batch](https://app.zenhub.com/workspace/o/department-of-veterans-a

[2022-10-19 20:18] djfredvs opened #48488 "10/24/22 11:30 AM VEText Emergency Management Training"
Booked by Lisa Riehle

[2022-10-19 20:21] djfredvs opened #48489 "10/24/22 9:30 AM VEText Emergency Management Training"
Booked by May R Patterson

[2022-10-19 20:28] lindsay-insco opened #48490 "[11/15/22] Annual POA&M Review"
## Description
The VEText team will cover all existing POA&Ms with the system steward this day to determine what ones can possibly be resolved, and what ones do the team may need to consider accepting the risk on, which will require a new step in eMASS but remove the findings as concerns in future scans.
---

## Acceptance Criteria
- [x] Schedule meeting with ATO team
- [ ] Review POA&Ms active fo

[2022-10-19 20:29] lindsay-insco opened #48491 "[11/15/22] Annual POA&M Review"
## Description
The VEText team will cover all existing POA&Ms with the system steward this day to determine what ones can possibly be resolved, and what ones do the team may need to consider accepting the risk on, which will require a new step in eMASS but remove the findings as concerns in future scans.
---

## Acceptance Criteria
- [x] Schedule meeting with ATO team
- [ ] Review POA&Ms active fo

[2022-10-19 20:30] lindsay-insco commented on #48491
DUPLICATE

[2022-10-19 20:30] #48491 closed

[2022-10-19 20:31] ENeal49 opened #48492 "Adding Arash Aria to DSVA Slack"
# Description

**new user requests**: please verify that the user does not already exist in dsva.slack.com (it may be the account exists, but is not in a particular channel)

Adding Arash Aria arash.aria@agile6.com as a new users in DSVA slack

Are you requesting to add an individual as a: Full member

- Full member
- Single guest
- Multi-channel
- Switching from single-channel to multi-channel?
-

[2022-10-19 20:31] lindsay-insco opened #48493 "[10/26/22] VEText Newsletter"
## Description
Every other Wednesday, opposite of office hours, a newsletter is sent out to users and posted to the product SharePoint to advertise existing and new product features, cover FAQ, and potentially inform users of news that may not be best held off until the next office hours.

---

## Acceptance Criteria
- [x] Draft newsletter including Q & A posted in slack channel for review by lead

[2022-10-19 20:34] ENeal49 opened #48494 "Adding Rakshinda Aslam to DSVA Slack"
# Adding Rakshinda Aslam rakshinda.aslam@agile6.com to DSVA slack

**new user requests**: please verify that the user does not already exist in dsva.slack.com (it may be the account exists, but is not in a particular channel)

Are you requesting to add an individual as a: Full member

- Full member
- Single guest
- Multi-channel
- Switching from single-channel to multi-channel?
- What channel(s) d

[2022-10-19 20:41] ianpsant commented on #45133
Hi @chloedotbrown,

We investigated the Start Button chat some more and see what you're seeing, and the event being tracked in prod but not evident in GA.

![image](https://user-images.githubusercontent.com/24488607/196798883-a288d3f2-df28-4eda-ae67-22b42fc38f33.png)

Are you able to see these events in Google Tag Manager? One thing we've noticed is in Staging, we see the event tracked but don't s

[2022-10-19 20:49] holdenhinkle opened #48495 "Monthly session key rotation"
Just quickly capturing the task. The ticket will be defined later.

[2022-10-19 21:11] joeniquette opened #48496 "Add CSP uuid to DSLogon level of assurance log"

[2022-10-19 21:12] joeniquette opened #48497 "Research standard implementation of protected routes"

[2022-10-19 21:14] joeniquette opened #48498 "add logout confirmation datadog test"
Modify all staging, production, SiS and SSOe outbound Auth DD tests to ensure that the logout action is completing as expected.

A full list of these monitors can be found here: https://vagov.ddog-gov.com/monitors/manage?q=%28team%3Aidentity%29&order=desc&sort=status

[2022-10-19 21:21] sortizsh opened #48499 "[EVSS to Lighthouse] set up client credentials with Lighthouse"
## Value Statement
**_As a_**
**_I want to_**
**_So that_**

---
## Background Context
- there may be code to reference
- start digging around

## Acceptance Criteria
- [ ] _AC_
- [ ] _AC_
- [ ] _AC_

## Designs and Build Notes
- Add here

## Out of scope
- Add here

## Open questions
- Add here

## Tasks
- [ ] _Task_
- [ ] _Task_
- [ ] _Task_

## Definition of Ready
- [ ] _Clear value description

[2022-10-19 21:22] sortizsh opened #48500 "[EVSS to Lighthouse] set up client credentials with Lighthouse"
## Background Context
The other applications in our portfolio that connect to Lighthouse utilize apiKeys, but for the claims API, we will have to use the client credential grant authorization method.

## Acceptance Criteria
- [ ] _AC_
- [ ] _AC_
- [ ] _AC_

## Designs and Build Notes
- Add here

## Out of scope
- Add here

## Open questions
- Add here

## Tasks
- [ ] _Task_
- [ ] _Task_
- [ ] _Tas

[2022-10-19 21:26] rmtolmach commented on #47585
Notes are in https://vfs.atlassian.net/wiki/spaces/TT4/pages/2391343120/Preview+Environments+outside+of+SOCKS

* We met with Jeremy today. Meeting with Faith tomorrow.

[2022-10-19 21:27] katherine-fung commented on #48370
Hi @laurwill,

I started working on this page as we discussed.
http://preview-prod.vfs.va.gov/preview?nodeId=591

Notes for you:

1. On the live page, each MAPR table (Veterans with no dependents, Veterans with at least 1 dependent, 2 Veterans who are married to each other) comes with notes about how much money in medical expenses you can deduct from your annual income (which is then used to calcu

[2022-10-19 21:51] AGarcia-Clarity commented on #47435
@data-doge Sure so in the `apiRequest` method we explicitly check for the existence of a specific cookie `vagov_info_token` to return data (rejecting it will kill the session).  In the `initializeProfile` we attempt to make a request to the `/v0/user` endpoint. The `saveAndRefresh` will call the `/refresh` endpoint (if there is a token and original response is a 403), then reattempts the original

[2022-10-19 22:31] Cmjones233 commented on #47875
VISN was added to all and clinic for some

[2022-10-19 22:31] #47875 closed

[2022-10-19 22:45] SKasimow opened #48501 "FE | Profile | Update "Not in MPI" Error Alert"
## Background

While reviewing the security alerts in staging and comparing to our mocks, we found that the alert we are showing when we can't match records in MPI needs to be updated.

## Tasks
- [x] Update the alert used for when users sign in and MPI can not match the records to these designs:
[Desktop](https://www.sketch.com/s/ebd4596f-0707-46cb-941e-247a808725cc/a/AxG3GRz) and [Mobile](https:

[2022-10-19 22:57] SKasimow commented on #47350
@cgednalske - can you provide the link to the updated sketch file we should use to make the updates?

[2022-10-19 23:02] jwoodman5 commented on #48018
Hi @hdjustice Thank you for calling this out. The ticket is supposed to automatically assign @ianMcCullough-ob and I, but it looks like it did not, so we missed it. We will get right on it.

[2022-10-19 23:04] jwoodman5 commented on #48018
@ianMcCullough-ob Looks like it ended up in the VA.gov Platform workspace instead of ours also. Not sure why, but worth talking about and looking into.

[2022-10-19 23:07] jwoodman5 commented on #46707
@saderagsdale Sure thing. These are supposed to get auto-assigned to @starlow00, but it seems Zenhub is having issues because this has happened with other, unrelated requests also. We will get this in our sprint.

[2022-10-19 23:14] ianhundere commented on #47100
![image.png](https://images.zenhubusercontent.com/624b40ac4980d90d75917e4c/5874fb0a-01c0-4cdd-9892-10b218c13810)
so it should be pretty straightforward to do this in the future if there are any other noisy logs and/or logs we want to mask etc. as per:
https://docs.datadoghq.com/agent/logs/advanced_log_collection/?tab=kubernetes

[2022-10-19 23:26] jwoodman5 commented on #46433
Duplicate. Closing.

[2022-10-19 23:26] #46433 closed

[2022-10-19 23:27] jwoodman5 commented on #47256
@starlow00 Can you please in the main description which KM(s) you got to this sprint? Thanks.

[2022-10-19 23:42] starlow00 commented on #47256
Will do!

On Wed, Oct 19, 2022 at 4:27 PM Jason Woodman ***@***.***>
wrote:

--
*Steven Tarlow *| Consultant: Content/Technical Writer

The So Company <http://thesocompany.com/>

*We make the government better.*
Timezone: PT
***@***.***
*SDVOSB | SBA 8(a) Certified | Digital Services Coalition Founding Member*

[2022-10-19 23:45] bosawt opened #48502 "Give ID.me information about SiS user info errors"
Errors from: https://sentry.vfs.va.gov/organizations/vsp/issues/157956/?environment=production&project=3&query=is%3Aunresolved+signincontroller&statsPeriod=24h

[2022-10-19 23:51] bosawt commented on #48502
One user, with remote_ip: `98.97.182.134`
- `2022-10-19T16:35:03.114275Z` - Auth sent to ID.me with state: `eyJhbGciOiJSUzI1NiJ9.eyJhY3IiOiJtaW4iLCJ0eXBlIjoiaWRtZSIsImNsaWVudF9pZCI6IndlYiIsImNvZGVfY2hhbGxlbmdlIjoidUtrYVhrRnc5aVNfWXA2ZzRDLXRBWVBGa3pMa251c0pLNXF1bWw1cnRFOCIsImNsaWVudF9zdGF0ZSI6ImNiM2VmMWVmY2I1OTA5ZGQ0MTRhNzNiNzZkYjU1YzE2NDVkMjk3YmRmODIzMjJhMTc1YjE5YTg0IiwiY29kZSI6ImU1MWQ3MzBiNWMyMzE

[2022-10-19 23:52] bosawt commented on #48502
![image.png](https://images.zenhubusercontent.com/5fb55f12a11eae1f7ca15bde/efb266b2-daa2-4ed9-9cb5-bf30e8350402)

[2022-10-19 23:52] bosawt commented on #48502
22 logs

[2022-10-19 23:53] eunicegar commented on #48494
Done.

[2022-10-19 23:53] #48494 closed

[2022-10-19 23:53] bosawt commented on #48502
Questions:
- Why is status `nil` for many of these?
- Why is there no description? (We look at `error_description` in response body for description)

[2022-10-19 23:53] eunicegar commented on #48492
Done.

[2022-10-19 23:53] #48492 closed

[2022-10-19 23:58] bosawt opened #48503 "Give ID.me information about token errors"
![image.png](https://images.zenhubusercontent.com/5fb55f12a11eae1f7ca15bde/b9fb870d-a730-475c-88cb-c1a7546548a5)

[2022-10-19 23:58] bosawt commented on #48503
5 errors

[2022-10-20 00:01] bosawt commented on #48503
For user with ip: `172.88.89.166`
- `2022-10-19T16:47:34.654469Z` - authorize called, redirecting to id.me with state: `eyJhbGciOiJSUzI1NiJ9.eyJhY3IiOiJtaW4iLCJ0eXBlIjoiZHNsb2dvbiIsImNsaWVudF9pZCI6IndlYiIsImNvZGVfY2hhbGxlbmdlIjoibEpON09Sc2FVVkxKWVZaNlF6ZGY0OERmLUh5RUpYbEEtV241ZmljUmVWMCIsImNsaWVudF9zdGF0ZSI6Ijg3MWJlYzlkYzczMGZjNDliMzAxNjM3NWVjOWM0OTUzMmEwOGZmMzQ0YzU2MmZkMmZiYjIzMmMzIiwiY29kZSI6ImY

[2022-10-20 00:05] bosawt opened #48504 "Inform ID.me of missing attributes in valid credentials"
https://sentry.vfs.va.gov/organizations/vsp/issues/160316/?environment=production&project=3&query=is%3Aunresolved+signincontroller&statsPeriod=24h

[2022-10-20 00:07] bosawt commented on #48504
User with id.me uuid: `d6ec82c304ae4df39d86fe47924017cb` appears to have missing attributes in the credential, we need to find out why

[2022-10-20 00:17] bosawt opened #48505 "Investigate MPI parse_name and parse_ssn errors"
https://vagov.ddog-gov.com/logs?query=%22MPI%3A%3AResponse.parse_name%22%20%20name%3Adsva-vagov-prod-deployment-vagov-prod-vets-api-server-%2A&cols=%40named_tags.remote_ip%2C%40message%2Chost%2Cservice&index=&messageDisplay=inline&stream_sort=time%2Cdesc&viz=stream&from_ts=1665619979090&to_ts=1666224779090&live=true

https://vagov.ddog-gov.com/logs?query=%22MPI%3A%3AResponse.parse_ssn%22%20%20%20n

[2022-10-20 00:46] tmitchellgcio commented on #48038
PR here but it won't let me tag the ticket because Zenhub https://github.com/department-of-veterans-affairs/vets-website/pull/22454

[2022-10-20 01:18] andaleliz commented on #48410
@ericasauv09 👏 awesome job writing this up, the AC is especially great. Thank you!

[2022-10-20 04:47] theodur commented on #48374
Updating the [flipper-client]() to store the fetched feature toggle values in sessionStorage caused multiple Cypress tests to [fail](https://github.com/department-of-veterans-affairs/vets-website/actions/runs/3285567803). The failures were due to the tests depending on mock API calls being made to the feature toggle endpoint. Since requests to the feature toggle endpoint aren't made in subsequent

[2022-10-20 12:18] allison0034 commented on #48024
@CherylEvans awesome... looks good to me!

[2022-10-20 12:38] #47947 closed

[2022-10-20 13:01] Dr-Pongo opened #48506 "[cFSR] Checkbox to input boxes Enhancements - Utility Bills"
## Issue Description
Add "Checklist to box" functionality in FSR for the following pages.

- [Utility bills](https://preview.uxpin.com/552e9ad135f7d7ee943a92576feab45190b069f4#/pages/145111152/specification/sitemap?mode=i)

Example of functionality
![image.png](https://images.zenhubusercontent.com/61f96bcb96295709970afb65/34dc51c9-0081-4cfa-a8c6-39de39188ee8)

---
## Tasks
- [ ] Add checkbox to in

[2022-10-20 13:01] Dr-Pongo opened #48507 "[eFSR] Utility Bills Enhancements"
## Issue Description
Add Checklist to input list and mini summary options for Utility Bills.

- [Utility bills (original mockup)](https://preview.uxpin.com/552e9ad135f7d7ee943a92576feab45190b069f4#/pages/145111152/specification/sitemap?mode=i)

Checklist Options (Exclude Other):
![image.png](https://images.zenhubusercontent.com/61f96bcb96295709970afb65/b9dc4f53-9f47-4ec9-821a-38ee0b135aee)

---
##

[2022-10-20 13:04] Dr-Pongo opened #48508 "[cFSR] Checkbox to input boxes Enhancements - Other Living Expenses"
## Issue Description
Add "Checklist to box" functionality in FSR for the following pages.

- [Other living expenses](https://preview.uxpin.com/552e9ad135f7d7ee943a92576feab45190b069f4#/pages/146358669/specification/sitemap?mode=i)

Example of functionality
![image.png](https://images.zenhubusercontent.com/61f96bcb96295709970afb65/3c7f7c4e-e30a-4663-85a4-c744883f4d9f)

---
## Tasks
- [ ] Add checkb

[2022-10-20 13:04] Dr-Pongo opened #48509 "[cFSR] Checkbox to input boxes Enhancements - Other Living Expenses"
## Issue Description
Add "Checklist to box" functionality in FSR for the following pages.

- [Other living expenses](https://preview.uxpin.com/552e9ad135f7d7ee943a92576feab45190b069f4#/pages/146358669/specification/sitemap?mode=i)

Example of functionality
![image.png](https://images.zenhubusercontent.com/61f96bcb96295709970afb65/3c7f7c4e-e30a-4663-85a4-c744883f4d9f)

---
## Tasks
- [ ] Add checkb

[2022-10-20 13:05] Dr-Pongo opened #48510 "[eFSR] Other Living Expenses Enhancement"
## Issue Description
Add Checklist to input list and mini summary options for other living expenses.

~~[Other living expenses (old design)](https://preview.uxpin.com/552e9ad135f7d7ee943a92576feab45190b069f4#/pages/146358669/specification/sitemap?mode=i)~~

[Mural for mini summary design update](https://app.mural.co/t/departmentofveteransaffairs9999/m/departmentofveteransaffairs9999/1671734127581/

[2022-10-20 13:10] Dr-Pongo opened #48511 "[cFSR] Checkbox to input boxes Enhancements - Spouse Other Income"
## Issue Description
Add "Checklist to box" functionality in FSR for the following pages.

- [Other income ](https://preview.uxpin.com/552e9ad135f7d7ee943a92576feab45190b069f4#/pages/146262314/specification/sitemap?mode=i)(Spouse)

Example of functionality
![image.png](https://images.zenhubusercontent.com/61f96bcb96295709970afb65/9c502a46-b024-443e-96d4-ede381b3b0cc)

---
## Tasks
- [ ] Add checkb

[2022-10-20 13:10] Dr-Pongo opened #48512 "[cFSR] Checkbox to input boxes Enhancements - Spouse Other Income"
## Issue Description
Add "Checklist to box" functionality in FSR for the following pages.

- [Other income ](https://preview.uxpin.com/552e9ad135f7d7ee943a92576feab45190b069f4#/pages/146262314/specification/sitemap?mode=i)(Spouse)

Example of functionality
![image.png](https://images.zenhubusercontent.com/61f96bcb96295709970afb65/9c502a46-b024-443e-96d4-ede381b3b0cc)

---
## Tasks
- [ ] Add checkb

[2022-10-20 13:10] Dr-Pongo opened #48513 "[cFSR] Checkbox to input boxes Enhancements - Spouse Other Income"
## Issue Description
Add "Checklist to box" functionality in FSR for the following pages.

- [Other income ](https://preview.uxpin.com/552e9ad135f7d7ee943a92576feab45190b069f4#/pages/146262314/specification/sitemap?mode=i)(Spouse)

Example of functionality
![image.png](https://images.zenhubusercontent.com/61f96bcb96295709970afb65/9c502a46-b024-443e-96d4-ede381b3b0cc)

---
## Tasks
- [ ] Add checkb

[2022-10-20 13:18] CherylEvans commented on #48024
@shiragoodman @allison0034 Thank you!

[2022-10-20 13:39] #48461 closed

[2022-10-20 14:03] laurwill commented on #47192
Thanks Katherine! These look great — I just made a couple tweaks for consistency on the last 2 pages:
- Bolded account types
- Made order consistent in paragraphs as well as lists
- Added full returns before link text and shortened one long link

@megzehn , these are ready to copyedit and publish!

[2022-10-20 14:05] laurwill commented on #47192
Also noting here that we may want to make more significant changes to this [Privacy and security page](https://www.va.gov/resources/privacy-and-security-on-vagov/) to incorporate Login.gov — we'll check in with Danielle about this next week.

[2022-10-20 14:06] nicko-amida commented on #47707
@lzapson The [introduction page variations are her](https://www.sketch.com/s/da85cf44-4503-4e98-834e-ff068b242ef6/p/0C3B7020-8169-4FF2-AB5C-AF52BC4E34C2/canvas) This includes the list of alerts for the "application not approved" codes.

[2022-10-20 14:06] #47707 closed

[2022-10-20 14:16] RLHecht opened #48514 "Fix broken link on Pension benefit hub page"
## Issue Description
A stakeholder reached out to let us know that we have a broken link under the Other benefits and services section of the [VA pension benefits](https://www.va.gov/pension/) hub landing page.

The link for FTC complaint assistant for reporting fraud should be replaced with this: https://reportfraud.ftc.gov/#/

## Tasks
- [x] Update link
- [x] Copyedit (Megan)
- [x] Publish (Mega

[2022-10-20 14:18] andreahewitt-odd opened #48515 "Adding Lee Warrick to DSVA Slack"
# Description

**new user requests**: please verify that the user does not already exist in dsva.slack.com (it may be the account exists, but is not in a particular channel)

<describe the request>

- Please add lee.warrick@oddball.io as a full member. Lee is joining as a DevOps engineer on the VA.gov Platform contract.

[2022-10-20 14:19] andreahewitt-odd opened #48516 "Adding Sarah Koomson to DSVA Slack"
# Description

**new user requests**: please verify that the user does not already exist in dsva.slack.com (it may be the account exists, but is not in a particular channel)

<describe the request>

- Please add Sarah.Koomson@oddball.io as a full member. Sarah is rejoining as an a11y specialist on the Design System team. She was previously a member of the workspace.

[2022-10-20 14:21] andreahewitt-odd opened #48517 "Adding Jhonny Gonzalez to DSVA Slack"
# Description

**new user requests**: please verify that the user does not already exist in dsva.slack.com (it may be the account exists, but is not in a particular channel)

Please add jhonny.gonzalez@oddball.io as a full member. Jhonny is rejoining as a FE Eng on the Design System team. He was previously a member of the workspace.

[2022-10-20 14:26] LindseySaari opened #48518 "Monitoring for each TIC gateway"
## Issue Description

As an action item from the [vets-api latency postmortem](https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/pull/577/files#diff-2f510b355aac3047109ef16923f9aac80a17a78b533cd8612b2b990d9b24d84a), platform should be sure to increase monitoring and visibility for ALL the TIC gateways. It was new knowledge to platform that a round robin scheme is used to load

[2022-10-20 14:30] LindseySaari opened #48519 "Confirm SNOW access for teams who do incident response"
## Issue Description
As an action item from the [vets-api latency postmortem](https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/pull/577/files#diff-2f510b355aac3047109ef16923f9aac80a17a78b533cd8612b2b990d9b24d84a), platform should enable and confirm SNOW access for teams who do incident response. SNOW is the ticketing system is product of VA OIT for  collaboration with busine

[2022-10-20 14:34] LindseySaari opened #48520 "Create troubleshooting playbook for components like Vets API"
## Issue Description
As an action item from the [vets-api latency postmortem](https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/pull/577/files#diff-2f510b355aac3047109ef16923f9aac80a17a78b533cd8612b2b990d9b24d84a), platform should document a playbook for troubleshooting the various components of vets-api in relation to latency. It's possible that a playbook currently exists a

[2022-10-20 14:35] laurwill commented on #48336
Hey @katherine-fung , your changes to the first page look great, but it looks like we have some previous draft changes on that page related to education rates. So to do this work, you'll need to revert, remake these changes, then put the rates draft stuff back in after we publish.

When you do that, could you also make the line break before the link a full return? Thanks!

[2022-10-20 14:35] Cmjones233 opened #48521 "Add Definitions page [11/4/2022]"
Add definitions pages to the following dashboards:

- [ ] Appt. Reminders

- [ ] Push

- [ ] OSM

- [ ] IMH

- [ ] RX Notifications

- [ ] Enabled Features

- [ ] Surgery Notifications

- [ ] Flu-shot outreach

- [ ] cc self scheduling

- [ ] cc appt. reminders

- [ ] cc post appointment

- [ ] COVID

[2022-10-20 14:36] Cmjones233 opened #48522 "Add Definitions page [11/4/2022]"
Add definitions pages to the following dashboards:

- [x] Appt. Reminders

- [x] Push

- [x] OSM

- [x] IMH
- [x] Flu-shot outreach

- [x] cc self scheduling

- [x] cc post appointment

[2022-10-20 14:36] LindseySaari opened #48523 "GWS notifications"
## Issue Description
As an action item from the [vets-api latency postmortem](https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/pull/577/files#diff-2f510b355aac3047109ef16923f9aac80a17a78b533cd8612b2b990d9b24d84a), platform should ensure that we get notifications about HPI - Gateway South (GWS) availability and limited functionality. It was new knowledge to platform that a ro

[2022-10-20 14:37] #48400 closed

[2022-10-20 14:39] Sean85641 commented on #47835
COR approved.

[2022-10-20 14:39] nicko-amida opened #48524 "[FE] Remove marriage date validation & update content"
## Description

The marriage date validation has been removed from the household section per #41904. The validation is replaced with an error message that prompts the applicant to check the date, but does not prevent them from continuing through the application.

## Tasks

- [ ] Remove "required" validation from marriage date field
- [ ] Update error state with the new content

## Mockups

- [Link

[2022-10-20 14:39] Sean85641 commented on #48141
COR approved.

[2022-10-20 14:40] Sean85641 commented on #47789
COR approved.

[2022-10-20 14:42] longmd commented on #48524
@nicko-amida , we will need to do some research on this. I'm not sure we can mark the field as invalid, but still allow them to continue with the application.

[2022-10-20 14:43] LindseySaari opened #48525 "Restore network monitoring in Datadog"
## Issue Description
As an action item from the [vets-api latency postmortem](https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/pull/577/files#diff-2f510b355aac3047109ef16923f9aac80a17a78b533cd8612b2b990d9b24d84a), platform should ensure that we restore network monitoring in Datadog. Network Performance Monitoring (NPM) would allow for greater insight into quality and perform

[2022-10-20 14:51] ericasauv09 commented on #48155
@RLHecht Do you have an estimate of when the content review will be complete for this? thanks!

[2022-10-20 14:51] longmd commented on #48524
@nicko-amida , you can validate on a non-required field, but it will block the application from continuing until the field is valid. Can't have our cake and eat it, too. 😜

[2022-10-20 14:56] benbrasso-agile6 commented on #47812
https://app.zenhub.com/workspaces/check-in-experience-61fc23a2cb8a14001132e102/issues/department-of-veterans-affairs/va.gov-team/46171

[2022-10-20 15:02] Mottie opened #48526 "[tech task] Maintenance | Update Bypass schema form documentation"
## Value Statement
**_As a_** frontend developer
**_I want_** documentation that includes recent changes to the Bypass schema form documentation
**_So that_** I can efficiently use the `CustomPage` component

## Background Context

While building some `CustomPage` components for our Supplemental Claims form, I noticed that the form was not auto-saving, and the "Finish this application later" link

[2022-10-20 15:16] longmd commented on #31735
@hdjustice  / @markfallows , I just realized I cannot remember where we landed on this being a required question or not? I have to make a schema update to change the order of the options, so wanted to double check if I needed to add the required flag to the field as well.

[2022-10-20 15:19] lzapson commented on #47733
Design Ticket https://app.zenhub.com/workspaces/10-10-health-apps-5fff0cfd1462b6000e320fc7/issues/department-of-veterans-affairs/va.gov-team/47707

[2022-10-20 15:23] kellysmith1008 commented on #48356
@benbrasso-agile6 I started on some of the updates in the Word document using photoshop - if this works, I just need a screenshot of the Tagalog addition. I'm happy to also wait for staging screenshots as well. Please take a look when you get a chance and let me know - I haven't swapped out any files, yet :)
[10:20PATIENT.CHECK-IN_PRODUCT_GUIDE.docx](https://github.com/department-of-veterans-affai

[2022-10-20 15:23] mjones-oddball commented on #47441
@andaleliz I do not. Asking VEText - will get back to you!

[2022-10-20 15:24] markfallows commented on #31735
@longmd, as of right now this is _not_ a required question.  We just need to send `prefer not to answer` if they skip the question and submit the application.

[2022-10-20 15:26] npeterson54 commented on #44437
Theo created https://app.zenhub.com/workspaces/platform-tech-team-3-6335ab9b1901b99243ce7601/issues/department-of-veterans-affairs/va.gov-team/44437 to address the caching issues. closing this discovery out.

[2022-10-20 15:30] benbrasso-agile6 commented on #48356
Ahhh, good point. We don't have tagalog in abstract or on staging yet. I think we're going to have to wait for that to be up on staging.

[2022-10-20 15:31] benbrasso-agile6 commented on #48356
I'll take a look at the other updates shortly

[2022-10-20 15:38] rjohnson2011 commented on #47991
Working on implementing the above tasks. Set up the development environment on `vets-api` to be able to run tests locally rather than in production to pass CI & Rubocop. Will reach out if any blockers are encountered.

[2022-10-20 15:44] eunicegar commented on #48103
Invite sent.

[2022-10-20 15:44] agmurphy opened #48527 "Adding [Matt Terwilliger] to DSVA Slack"
This user does not already exist in dsva.slack.com

Please add [MATTHEW.TERWILLIGER@va.gov] as a full member. He is joining the Virtual Agent Chatbot team as an experience designer and lead researcher as well as supporting the Connected Care team in creating a medical records/pharmacy tool.

[2022-10-20 15:45] agmurphy commented on #48527
Duplicate. Worked with Cory Trimm and had the incorrect template

[2022-10-20 15:45] #48527 closed

[2022-10-20 15:52] vbellissimo commented on #48526
@Mottie Hi Rob, thanks for your content suggestions. The Platform Content team will review your request and put it in our backlog to refine for next steps.

[2022-10-20 15:52] lihanli opened #48528 "[BE] Investigate 1010ez validation error"
http://sentry.vfs.va.gov/organizations/vsp/issues/129405/events/dead7ba50c8f49309487b98ad70c6ee2/?environment=production&project=3&query=is%3Aunresolved+controller_name%3Ahealth_care_applications+level%3Aerror&statsPeriod=14d

[2022-10-20 15:56] bramleyjl opened #48529 "Remove SSOe Sidekiq Configs"
## Issue Description
_What details are necessary for understanding the specific work or request tracked by this issue?_
Unused [SSOe SAML metadata files](https://github.com/department-of-veterans-affairs/vsp-infra-application-manifests/blob/main/apps/sidekiq/dev/templates/ssoe-int-config.yaml) exist in the VSP-Infra repository. After confirming that these are truly unused they should be removed.

[2022-10-20 15:58] outerpress commented on #44846
@simiadebowale thank you for this. I have a few more questions on the 'We’re sorry. We’ve run into a problem' error:

The screenshots show the error on the Your/ Past appointments lists:

* What triggers this error to show in place of the entire list of appointments?
* Can you provide a screenshot of what the error looks like on the details pages, and request list?

* Can you provide a screenshot

[2022-10-20 16:03] kristenmcconnell commented on #48069
Meeting with Pam Hastings and Josh Kim, who worked on the new pattern recently, is set up for Tuesday, Oct. 25 at 13 pm EST.

[2022-10-20 16:04] sterkenburgsara opened #48530 "Platform Orientation Template [Sara Sterkenburg]"
## Welcome and Introduction
Welcome to the Veteran's Administration (VA) Veteran Facing Services (VFS) team!
As a new VFS team member, you will be working in the web ecosystem we call the VA.gov Platform (or "**The Platform,**" for short).  The tasks on this list are designed to get you up to speed on the role of Platform, making it easier for you to do your job.

Because the VA is a huge organiza

[2022-10-20 16:06] aagosto90 commented on #48243
Audit [convo guide draft](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/my-va/2022-audit/research/audit-conversation-guide.md) is ready for team review. No rush on this - @Samara-Strauss @ajakabcin @andaleliz Please take a look when you have time and let me know if you have any feedback you'd like me to incorporate. For reference, here'

[2022-10-20 16:08] pjhill commented on #45395
- Given the prioritization of QAS work toward the end of the team's existence, we were unable to make any headway on a playbook for handling this work or specifically address the list of aging feature toggles.
- Given the current list of communities of practice, I think that maybe the work of addressing a lack of clean-up in feature toggles would fall to the back-end COP.
- If in the future there

[2022-10-20 16:23] RLHecht commented on #48155
@ericasauv09 We are working on this currently and should have feedback by end of day tomorrow. We might need to follow up on some of it with Danielle before passing to you but I'll keep you posted.

[2022-10-20 16:27] benbrasso-agile6 commented on #48356
That looks great to me. Couple quick things:

Figure 6, 8 and 10

I would crop the bottom and remove "Start again" since that is a specific feature to Staging, and not in production. You should be able to crop right in Word.

Everything else looks great. Maybe keep this and wait to publish these to Git until we have Tagalog up on staging. At least, that's my thought. But I'm okay if you wanted to

[2022-10-20 16:29] laucon commented on #48526
@Mottie I added the additions. I placed them at the bottom of the "CustomPage props" section. This will be deployed today at 5pm. If you want me to place the additions somewhere else within that section, feel free to let me know.

I wasn't sure how to do the other updates you asked for. You said:
"Updates:
    goToPath (add before last entry)"

- Did you want me to update a place where it already

[2022-10-20 16:29] MarciMcGuire opened #48531 "Move issue to In Progress when beginning work"

[2022-10-20 16:29] #48531 closed

[2022-10-20 16:30] kellysmith1008 commented on #48356
@benbrasso-agile6 Perfect - thank you for the feedback - I'll crop those images now. I'll wait to publish as you recommend. Thanks!

[2022-10-20 16:39] steel36 opened #48532 "Team Members: Review of Project Intake proposal"
## Issue Description
Review the doc for risks
Contribute ideas for ideal Steps

## Resources
[Proposal notes](https://vfs.atlassian.net/wiki/spaces/~622b5b63932f0f00716bdfd6/pages/2400846510/Project+Creation+Process+and+SDT)

## Acceptance Criteria
- [x] Reviewed by Bryan
- [x] Reviewed by Taylor
- [x] Reviewed by Nicole

[2022-10-20 16:39] RLHecht opened #48533 "Rework Higher-Level Reviews static page to match VA.gov style"
## Issue Description

We are reworking the decision reviews section to make sure the static pages match the voice and style of VA.gov. These pages were originally put on the site without much collaboration from the Sitewide Content and IA team. We need to make sure it meets our plain language standards and follows the same patterns as our other benefit detail pages.

This ticket is for the [Higher

[2022-10-20 16:40] #48129 closed

[2022-10-20 16:40] laurwill commented on #41493
Updates from email convo with Tarsha and Edward:

**Changes on 2 more related pages**
We'll plan to copyedit/publish updates to these pages when we pub the main page and after you apply page:
- [Types of Veteran ID cards](https://www.va.gov/records/get-veteran-id-cards/) (Preview: http://preview-prod.vfs.va.gov/preview?nodeId=473)
- [What’s a VHIC and how do I get one?](https://www.va.gov/resource

[2022-10-20 16:41] jilladams commented on #40975
This was solved via staging at https://staging.va.gov/homepage-test

[2022-10-20 16:41] #40975 closed

[2022-10-20 16:41] longmd commented on #31735
@lihanli , do you want me to add this value on submit, if it's missing, or do you want to (or have you already) set the value as a default on the backend and let the submission override that value if one is present?

[2022-10-20 16:42] benbrasso-agile6 commented on #48356
@kellysmith1008 maybe just close this ticket. and we'll publish this along with the tagalog ticket.

[2022-10-20 16:43] RLHecht opened #48535 "OCTO-DE review of revised Higher-Level Review benefit detail page"
## Issue Description
As part of a larger effort to rework the Decision Reviews section of VA.gov, the Sitewide Content team revised the Higher-Level Review benefit detail page.

This was done in ticket #48533.

This ticket is for Beth's review of this work as well as sending to the stakeholders for their approval, final copyediting and publishing.

## Tasks
- [ ] OCTO-DE review (Beth)
- [ ] Sitewi

[2022-10-20 16:46] cgednalske commented on #47350
@SKasimow if it fits in the sprint plan and is enough of a priority, I'm good with that going in Sprint 86 👍

In that case, mockups are the same as those listed above, but they're kind of buried now, so here they are again 🙂: [Desktop](https://www.sketch.com/s/ebd4596f-0707-46cb-941e-247a808725cc/a/AxG3GRz) and [Mobile](https://www.sketch.com/s/ebd4596f-0707-46cb-941e-247a808725cc/a/jgY3M2G)

[2022-10-20 16:47] lihanli commented on #31735
@markfallows

did josh faulkner say that this was necessary? currently in staging we don't get an error when we don't send a value for the sigi question.

[2022-10-20 16:48] markfallows commented on #31735
I believe we're doing this just so we can track how frequently people are actually answering the question.

[2022-10-20 16:52] jacobworrell opened #48536 "CST: Data Requests for VBA"
We are looking to obtain the following:

(Monthly, Quarterly) Avg number of days between initial claim decision and a veteran choosing a disagreement pathway (appeal pathway)
(Monthly, Quarterly) Avg. number of days between request for evidence and evidence submitted
(Monthly, Quarterly) Avg. number of days between request for C&P exam (as part of disability claims rating process) and exam complet

[2022-10-20 16:53] oseasmoran73 commented on #3853
[Slack](https://dsva.slack.com/archives/D036ZT6SK99/p1666200540681949) convo detailing some good stuff! Will be spinning up tickets

[2022-10-20 16:55] lihanli commented on #31735
it's not necessary to auto fill "prefer not to answer" if we want to track how frequently people answer the question

[2022-10-20 16:56] benbrasso-agile6 commented on #47930
@loripusey where did we land on where our source of truth is for text messages? API Team manages the source of truth for these? And our team won't document them anywhere outside of product guides and anywhere in Abstract that we deem appropriate?

[2022-10-20 16:57] markfallows commented on #31735
The goal is for us to be able to track how frequently people answer the question with something _other_ than `prefer not to answer`, which is why I believe we originally wanted to do this.

@hdjustice, do you still want to implement this given the change back to the single, optional question?

[2022-10-20 16:58] benbrasso-agile6 commented on #47930
Oh right, I found this in [Git](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/checkin/design/text-and-error-messages.md)

[2022-10-20 16:59] loripusey commented on #47930
Sounds like a question for @Hortonio

[2022-10-20 17:00] #47932 closed

[2022-10-20 17:00] benbrasso-agile6 commented on #47930
Think I have what I need for now, unless the link in the repo I mentioned above is out of date

[2022-10-20 17:01] jhouse-solvd commented on #47043
There's info in #47100 relevant to centralized logging, and what type of tooling is needed moving forward.

[2022-10-20 17:02] lihanli commented on #31735
it's also possible to do that without auto filling "prefer not to answer". i would recommend not auto filling an answer unless it's a required field.

[2022-10-20 17:03] laucon commented on #48526
@Mottie Correction: I changed it back to what the doc originally said because my manager told me to wait before editing and deploying this.

[2022-10-20 17:04] megzehn commented on #47192
Thank you! The changes look good. I will check these off as they get published.

Check your VA claim or appeal status
- [ ] http://preview-prod.vfs.va.gov/preview?nodeId=711

Post-9/11 GI Bill Statement of Benefits
- [ ] http://preview-prod.vfs.va.gov/preview?nodeId=3007

The following pages are multiple FAQ R&S pages, so I updated the single FAQs to add login.gov:

Claim status tool FAQs
- [ ] pr

[2022-10-20 17:06] bramleyjl commented on #48529
Removal commit: https://github.com/department-of-veterans-affairs/vsp-infra-application-manifests/commit/b3bf393083b44a765b005680cdc20bb00071f34f

[2022-10-20 17:06] alyssagallion commented on #48505
Next step: Go through logs and identify if there is a pattern to these users.

[2022-10-20 17:06] alyssagallion commented on #48505
Next step: Go through logs and identify if there is a pattern to these users.

[2022-10-20 17:07] alyssagallion commented on #48529
Waiting on Lindsey

[2022-10-20 17:08] jacobworrell commented on #45398
Feature toggles currently not working due to platform issues. This is a blocker for a staging deployment.
Working to resolve a participant ID issue, @samcoforma to try and resolve error showing up in Sentry, will determine whether affected account is usable

@jacobworrell to create ticket for pagination
Also need an error message for people who try to access page who are unauthorized

[2022-10-20 17:09] #46773 closed

[2022-10-20 17:10] jacobworrell commented on #47303
Push for feedback @jacobworrell

[2022-10-20 17:19] jacobworrell commented on #48536
Problem connecting previously decided claim and pursuing a disagreement pathway. The other two Andrew says we're about a week out from receiving data.

[2022-10-20 17:24] megzehn commented on #47192
Confirming these are all published, @RLHecht!

[2022-10-20 17:29] longmd commented on #48366
@lihanli , this schema change has been completed and approved for update in `vets-website`. Do you want to do a PR to update in `vets-api`?

[2022-10-20 17:30] SKasimow opened #48537 "Discovery | Design | Profile | Research Recommendations | Address Validation"
## Background

During the recent Accessibility Audit as well as the research sessions exploring the "One Thing Per Page" concept, the address validation and editing flows were noted as being difficult to navigate for both screenreader users as well as non screenreader users.

Additionally, during our BAI mid-point review we received feedback on the 'Edit Address' and 'edit it' links (shown when th

[2022-10-20 17:30] jacobworrell commented on #47904
@jaredcunha please size this before you head off to retreat.

[2022-10-20 17:31] lihanli commented on #48366
@longmd sure, i will do it later

[2022-10-20 17:34] Hortonio commented on #47930
@benbrasso-agile6 You found it, this is the source of truth we are currently utilizing for PCI API team. The last update is showing to be June 16th which aligns with the last messaging changes we made in [937](https://app.zenhub.com/workspaces/pci-api-6149f6401b0b3c001219802f/issues/department-of-veterans-affairs/chip/937). Content should be up-to-date with current production deployment but please

[2022-10-20 17:35] ericasauv09 commented on #47453
Content/IA should have feedback for us by tomorrow afternoon

[2022-10-20 17:40] oseasmoran73 opened #48538 "[Discovery] Breaking vets-api into micro-services"
## Description

Relevant Ticket: #3853

In order for us to follow bulkhead pattern effectively, we need to break vets-api into micro-services. Given that work itself is most likely will need to be an Epic, purpose of this ticket is to do research on effort involved

## Tasks
- [ ] Research effort involved (more details)

## Acceptance Criteria
- [ ] Tickets spun up (if applicable)
- [ ] Informatio

[2022-10-20 17:43] katherine-fung commented on #48336
Hi @laurwill @RLHecht,

For the National Call to Service program page, I reverted to the last published page and made the changes there.

When the changes are published, I'll revert to the revision from 10/18/2022 - 2:11 pm.

I removed the online tool link and information from the form page.

Program page: http://preview-prod.vfs.va.gov/preview?nodeId=946
Form page: http://preview-prod.vfs.va.gov/

[2022-10-20 17:45] tpharrison opened #48539 "BE | MyVA | Feature Flag Turning Off"
## Background
The `profile_user_claims` feature flag is being turned off intermittently in staging.  Other teams have noticed this issue with other flags.  The team has also noticed that the flag is is missing from the list, but then reappears a short time later.

We're not seeing these issues in production.

The following support ticket was opened - https://dsva.slack.com/archives/CBU0KDSB1/p1666

[2022-10-20 17:48] djfredvs opened #48540 "10/27/22 3 PM VEText Pre-Check In Training"
Booked by Lara Carson

[2022-10-20 17:49] alyssagallion commented on #47691
Unit testing now.

[2022-10-20 17:50] djfredvs opened #48541 "10/27/22 9:30 AM Power BI Dashboard Training"
Booked by Lara Carson

[2022-10-20 17:50] oseasmoran73 opened #48542 "[EKS] Update EKS for vets-api to create separate deployments"
## Description
If we wish to move towards bulkhead pattern, some work will need to be done in EKS

## Tasks
- [ ] Update deployment per location
  - [ ] TBD (update list with external-services/location/microservices)
- [ ] Update hpa per location
  - [ ] TBD (update list with external-services/location/microservices)
- [ ] Update service per location
  - [ ] TBD (update list with external-services

[2022-10-20 17:50] alyssagallion opened #48543 "Demo Day DataDog (Filter Logs Before in DataDog) - Win!"

[2022-10-20 17:52] djfredvs opened #48544 "10/26/22 11:30 AM AVS Training"
Booked by Lara Carson

[2022-10-20 17:52] alyssagallion commented on #47100
Demoing as a win, ticket here: https://app.zenhub.com/workspaces/identity-5f5bab705a94c9001ba33734/issues/department-of-veterans-affairs/va.gov-team/48543

Closing!

[2022-10-20 17:52] #47100 closed

[2022-10-20 17:52] katherine-fung commented on #48514
Hi @megzehn - I updated the broken link for "FTC complaint assistant for reporting fraud." It now points to a link that the stakeholder provided, which leads to the FTC page for reporting fraud.

http://preview-prod.vfs.va.gov/preview?nodeId=73

[2022-10-20 17:54] alyssagallion commented on #46696
Being resolved in this ticket:

https://app.zenhub.com/workspaces/identity-5f5bab705a94c9001ba33734/issues/department-of-veterans-affairs/vets-api/10951

[2022-10-20 17:55] oseasmoran73 opened #48545 "[EKS] Migrate ELB 2 into EKS"
## Description

Initially when ELB2 was created, it was a temporary fix to prevent cascading and bringing down services. That being said, with bulkhead pattern implementation, keeping ELB2 will then be beneficial rather than a band-aid

## Tasks
- [ ] Migrate ELB2 into EKS ingress

## Acceptance Criteria
- [ ] TBD

[2022-10-20 17:58] Mottie commented on #48526
@laucon Thank you. Yes, these changes shouldn't be deployed until after the work in [#22457](https://github.com/department-of-veterans-affairs/vets-website/pull/22457) has been merged.

[2022-10-20 18:03] oseasmoran73 commented on #45165
Closing as user is no longer in org and task is incomplete. See #3853 & #48538 for how to reduce

[2022-10-20 18:03] #45165 closed

[2022-10-20 18:04] #48242 closed

[2022-10-20 18:10] saderagsdale commented on #46707
Thank youuuu @jwoodman5

[2022-10-20 18:22] allison0034 commented on #48242
[Zoom recording](https://oddball-io.zoom.us/rec/share/OikhWfexwRm7Kljle4f3nBLCagHIEsf3R38Qc1kRK5b1F_6Izl_j9W0uxbBfZK9q.eu0sSbUeHPLWdrWk)
Passcode: 2+XfEHDQ

[2022-10-20 18:24] laurwill commented on #48155
Hi @ericasauv09 , I'm getting "artboard does not exist" for the links to sketch mockups 2 and 3 above. Could you confirm which screens/links you'd like us to look at for those? Thank you!

[2022-10-20 18:26] longmd commented on #31735
@markfallows , we will have a GA event that satisfies that requirement. That is code is already in place! 👍

[2022-10-20 18:27] markfallows commented on #31735
Excellent news, thank you!

[2022-10-20 18:33] briandeconinck opened #48546 "Staging Review - Accessibility Feedback - Design System Team - OMB info component"
## VFS acceptance criteria
- [ ] Let Platform know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
-

## Feedback
- Practice areas will document their feedback following the [Must, Should, and Consider Framework](https://depo-platform-documentation.scrollhelp.site/collaboration-c

[2022-10-20 18:41] laurwill commented on #48336
Thanks Katherine! I just changed the "Get form to download" link to use the node instead of the url.

@megzehn , these are ready to copyedit/publish.

[2022-10-20 18:45] benbrasso-agile6 commented on #48412
@kellysmith1008 I added the "existing" content in the [Google document ](https://docs.google.com/document/d/1tSuRWQ-dveIh5NwWVKSVY6ZC4bAL70exV0axJjfAVhM/edit?usp=sharing)for when a Veteran says "No" to either confirming their contact information, emergency contact information or next of kin. We'll want to keep some of that content for these new scenarios.

[2022-10-20 18:49] benbrasso-agile6 commented on #47930
@loripusey we may think about (re)adding the claim number to the VA.gov confirmation page as well when we implement the text message. Maybe we write the content (but not the wireframe) for this within this ticket? Thoughts

[2022-10-20 18:50] longmd commented on #48366
@hdjustice , the character length updates are in staging. I have verified the lengths and successfully submitted a form with that updated schema.

[2022-10-20 18:54] hdjustice commented on #48366
awesome! Thanks @longmd

[2022-10-20 18:55] ericasauv09 commented on #48155
@laurwill sorry about that, @aagosto90 is going to take a look and update those links.

[2022-10-20 18:56] ericboehs commented on #48525
My team confirmed this was working as expected. There was some initial confusion as DD leaves a tutorial on how to set it up as the default view after it's already set up.

[2022-10-20 18:56] #48525 closed

[2022-10-20 18:59] aagosto90 commented on #48155
Hi @laurwill ; could you try those links again now? They are working for me but the designs have been updated in Sketch since I added them to this ticket and the first one has not so I'm wondering if that was causing a glitch for you.

[2022-10-20 18:59] hdjustice commented on #48366
Hey @longmd  - can you let me know which fields were updated?
I know we kept some at their current limits that were lower than the CARMA limits, so I want to document and test which ones we did update.
Thanks!

[2022-10-20 19:01] loripusey commented on #47930
Perhaps, I seem to recall the discussion was around the fact that without a way to save that confirmation number on the confirmation page that it was really not useful to have it there and having it there would give the user anxiety that they need to write it down; I thought that texting it to them was our way around showing it to them and causing that anxiety

[2022-10-20 19:02] loripusey commented on #47930
If I run into a confirmation number on my phone and no way to save it I just take a picture of my screen, but I'm not sure if anyone would think to do that in this scenario

[2022-10-20 19:05] longmd commented on #48366
@hdjustice , the following fields were updated:

- Middle name - Added maxLength of 40
- Phone number - Added maxLength of 40
- Email address - Lowered maxLength from 256 to 80
- City - Lowered maxLength from 51 to 40

[2022-10-20 19:09] benbrasso-agile6 commented on #47930
Right. I guess my point is, it wouldn't hurt to have it in both places. That way, you "see" it quickly on VA.gov, and then it's simultaneously sent/saved as a text message to your phone. I feel like seeing the claim/confirmation number on a confirmation page, which will be inaccessible once you navigate away from it, is quite common across many industries. E.g., food service orders, booking plane

[2022-10-20 19:14] SKasimow commented on #47272
Closing....replaced by #48537

[2022-10-20 19:14] #47272 closed

[2022-10-20 19:28] starlow00 commented on #46707
Hi @saderagsdale. I couldn't access the draft in Google Docs, so I sent a permission request.

[2022-10-20 19:38] kellysmith1008 commented on #47930
I like the idea of having it in both places, and agree it's similar to other site functionality when dealing with confirmation numbers.

[2022-10-20 19:39] dsinla commented on #46365
@michelle-dooley Can you verify if it's possible to provide GA access for individual VA.gov employees who want to monitor and produce reports on this data?

[2022-10-20 19:48] rbsingleton opened #48547 "Research assets development and prep"
Description: What needs to be done?
- [x] Create Optimal Workshop card sort study
- [x] Update convo guide with card sort version for visually impaired or in event of tech challenges
- [x] Create note taking template
- [x] Create Mural for iterative sensemaking and synthesis

When does it need to be done?
- Before the first interview

Who needs to be involved?
- @rbsingleton to develop the artifac

[2022-10-20 19:48] oseasmoran73 commented on #48372
Should we also include `dsva-vagov-utility-platform-console-api`?

Looks like the naming conventions are dsva-vagov-*-rails-cache & dsva-vagov-*-sidekiq. We can probably create a variable and filter that way.

Curious what about the dsva-vagov-*? Do we want to bring those in as well?

[2022-10-20 19:55] rbsingleton commented on #48547
Optimal workshop [link](https://app.optimalworkshop.com/a/dj540s05/optimalsort/surveys/729563/edit#/t/setup/messages)

[2022-10-20 19:55] laurwill commented on #48155
Working now! Thank you :)

[2022-10-20 19:57] ph-One opened #48548 "[Datadog] Eval/Setup Monitoring for Network: Forward Proxy (RED)"
# Description
As a platform engineer Datadog monitors and alerts need to be evaluated and/or setup for the Forward Proxys

# Acceptance Criteria
- [x] Forward Proxies are evaluated for monitoring needs
- [x] Monitors are created, if appropriate
- [x] Alerts are created, if appropriate

# Notes
- https://grafana.vfs.va.gov/d/000000032/forward-proxy?orgId=1
- Confirm that backends/upstream are healt

[2022-10-20 19:59] rbsingleton opened #48549 "[Research] MyHealth: Participant recruitment"
What needs to happen:
- [x] Provide Perigean with time slots and recruitment criteria - found in [research plan](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/digital-health-modernization/mhv-to-va.gov/medical-records/research/2022-10_Generative-research/2022-10-medical-records-research-plan.md)
- [x] Liaise with Perigean to set up interviews

Why d

[2022-10-20 20:00] rbsingleton commented on #48549
Liaising will be ongoing until last interview

[2022-10-20 20:03] hdjustice commented on #48366
Confirmed the above-listed fields were updated and no submission issues encountered.

[2022-10-20 20:04] jamigibbs commented on #48546
I suspect that the issue is originating in `va-modal` where it's adding `aria-hidden=true` to all elements outside of the modal for focus trapping: https://github.com/department-of-veterans-affairs/component-library/blob/main/packages/web-components/src/components/va-modal/va-modal.tsx#L293-L295

When I remove this functionality, the screenreader functions for me. Perhaps checking in `va-omb-info`

[2022-10-20 20:13] bramleyjl commented on #46092
VSP Identity & the IAM team have confirmed that vets-api production is now signing SAML requests - the ISAM production switch to only accepting signed SAML requests is still due to occur at 9 EST tonight.

[2022-10-20 20:15] eileen-coforma commented on #42492
@saderagsdale @Mottie
Alejandro came back with feedback from the board. One edit the board has asked for is to provide the ability for the veteran to upload documents to support their extension request.

Is this doable, and will this add to scope?

[2022-10-20 20:16] vbellissimo opened #48550 "Update our team's internal support triaging instructions"

[2022-10-20 20:19] vbellissimo opened #48551 "Review support collaboration process with PO"
Tasks:

- [x] Present initiative work completed to Ray Wang for feedback
- [x] Document any additional feedback
- [x] Create new Zen Hub tasks as needed, based on discovery and research work

[2022-10-20 20:20] alexandec commented on #47981
We've created six monitors for ASGs. I've grouped them here by type:

UTILIZATION
Platform - AWS ASG Instances In Service
Platform - AWS ASG Total Instances

SATURATION
Platform - AWS ASG Abnormal Scaling
Platform - AWS ASG Pending Instances
Platform - AWS ASG Terminating Instances

ERROR
Platform - AWS ASG Instances Failing Status Checks

Each monitor tracks the autoscaling groups separately. Thi

[2022-10-20 20:20] vbellissimo opened #48552 "CANCELLED - Present support collaboration process at go/no-go?"
### Tasks:

- Schedule our team into an upcoming go/no-go with leadership
- Present work done thus far at go/no-go

[2022-10-20 20:21] rbsingleton commented on #48547
Conversation guide for Veterans [here](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/digital-health-modernization/mhv-to-va.gov/medical-records/research/2022-10_Generative-research/2022-10-conversation-guide-Veterans.md)

[2022-10-20 20:22] vbellissimo opened #48553 "Present support collaboration process to Platform PMs"

[2022-10-20 20:30] saderagsdale commented on #42492
@eileen-coforma  cc @Mottie

This was the exact language Alejandro sent back on behalf of the board: _"Page 2 of the PDF includes the screen showing the text box in which the Veteran/appellant can type out why they believe there is good cause, but will they also be provided the opportunity to attach and submit any documents in support of the extension request, if needed? We recommend providing the

[2022-10-20 20:31] Mottie commented on #42492
Uploading is already included, but is only currently available if the Veteran chooses to upload evidence. We could relatively easily add an additional page to upload _more_ documents, but how can we assure that they only upload extension-related documents.

[2022-10-20 20:43] briandeconinck commented on #47421
Platform website updates were published, closing this ticket.

[2022-10-20 20:43] #47421 closed

[2022-10-20 20:53] #47359 closed

[2022-10-20 21:24] starlow00 commented on #47256
Sprint 11 - KM 5446 VA.gov Tech Support—Reset Password and Login Confusion

[2022-10-20 21:42] SKasimow commented on #48537
Hi @andaleliz - can you review this ticket and lmk if anything needs to be changed/added before I pull into next grooming meeting? Thanks!

cc @ericasauv09

[2022-10-20 21:44] benbrasso-agile6 commented on #47812
@loripusey I got a bit sidetracked on this task. Wound up creating a new GA Dashboard to more easily communicate the user flow.

https://analytics.google.com/analytics/web/#/dashboard/WXPApEi8RmGvA8t5236Zzw/a50123418w177519031p176188361/_u.dateOption=last7days/

I'm requesting to put this ticket back in the backlog, and if/when I pick it back up, I'll get back to including more "event widgets" int

[2022-10-20 21:51] #40768 closed

[2022-10-20 21:52] SKasimow commented on #43095
If no objections, I'm closing this as this feedback is being addressed in #48537

[2022-10-20 21:52] #43095 closed

[2022-10-20 22:04] laurwill commented on #41493
I added a draft single Q&A to the Verifying identity page to use as a visual with stakeholders: http://preview-prod.vfs.va.gov/preview?nodeId=8233

Since this info is not specific to VHIC, we may want to run this by the identity team and any other relevant stakeholders before publishing. I'd also like to find out if Login.gov has any parallel info for Veterans living outside the U.S.

[2022-10-20 22:05] bramleyjl commented on #48451
## UserIdentity Usages
### Authentication
* SiS `UserCreator`: the `UserCreator` that is called at the end of a successful `/callback` uses `UserIdentity` twice: first to manage CSP-passed attributes & call MPI for the full attributes lookup, and again after the MPI calls to be set to the newly created `User`.
* SiS `current_user`: If `@current_user` hasn't been set a new `UserIdentity` is instant

[2022-10-20 22:28] ericboehs commented on #46741
Two additional issues were raised matching this same behavior.

On Tuesday, [Tom Harrison reported](https://dsva.slack.com/archives/CBU0KDSB1/p1666112449634839) some feature flags turning off at random (citing `profile_user_claims`). And yesterday, [Jennie McGibney reported](https://dsva.slack.com/archives/CBU0KDSB1/p1666203818054479) that `va_online_scheduling_clinic_location` was getting removed

[2022-10-20 22:28] #46741 closed

[2022-10-20 22:31] bramleyjl commented on #48451
After reviewing where and how we use `UserIdentity` I'd say it performs three primary functions in vets-api:
1. It is an object that allows us to more easily query MPI by user attributes (SSN, DOB, first & last names) instead of passing in a cumbersome string or hash of arguments.
2. It is a store of the same identifying user attributes that can be instantiated and used before an actual `User` is.

[2022-10-21 01:25] aliyahblackmore commented on #45746
Hi @megzehn ! These pages are ready for you and I've included some notes.

We still need the meta descriptions for each of these pages - I am going to pass those along to Randi via email. For the time being I've put in the English as a placeholder as the field is needed in order to save the Drupal page.

Randi noted that there isn't anything for us to do at the moment with the "Menu settings" in D

[2022-10-21 02:14] #46696 closed

[2022-10-21 02:19] joeniquette commented on #46500
From Chante:
Veteran is calling in because he is trying to sing into va.gov with his login.gov account . Veteran is not able to verify because every time he hits verify it takes him back to the sign in page. Veteran is using his phone and google chrome as browser.

I asked for the ICN and date timestamp so that we can investigate.