[2019-08-29 19:26] rroueche opened #1440 "Coordinate IA and Content Onboarding with Care Giver Team"
### User story
As the new Care Giver VFS Team, I need to know what's expected of my team in terms of the content and IA that we create for our tool, and what we can expect from VSP, so that we can move fwd efficiently and so that Veterans can easily find and interact with our tool.

### Goal
Collaborate with the Product Support team, and do whatever's necessary to proactively incorporate "content"

[2019-08-29 19:33] 1Copenut commented on #1329
@Justin-Pickett I've completed the audit of the direct deposit app. Let me know when issues are fixed and you're ready for me to send to the VA 508 office.

I generally like to have all issues remediated before sending, but can move it up if launch is happening soon and let them know about our findings.

Thank you for the updates as this feature moved through the pipeline!

[2019-08-29 19:36] 1Copenut commented on #1073
@Samara-Strauss @Justin-Pickett I've completed this audit, and logged issues under the [Direct Deposit 508 Epic](https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/1329)

6 issues logged, and I have 1 for the design system that will be an improvement for this app as well. Thank you!

[2019-08-29 19:36] #1073 closed

[2019-08-29 19:39] rileyorr opened #1441 "Document Moderators' & Notetakers' Schedules"
## User Story
As a researcher, I need to keep track of which team members are Moderating and Note-taking for each session.

## Goal
Establish a collaborative spreadsheet amongst the team so everyone can stay informed about who is Moderating and Note-taking for each session.

## Acceptance Criteria
- [ ] _What needs to happen or be created?_
The lead designer needs to sync with team members to revi

[2019-08-29 19:39] Samara-Strauss commented on #1073
Great! Thank you so much, @1Copenut!

[2019-08-29 19:39] andreahewitt-odd opened #1442 "Onboard Caregivers team"
## Onboarding User Story
______ team is onboarding to work on the VSP, they need support to get up and running. This epic contains the tasks our team will perform to support them through their onboarding stage.

## Goal
Get ______ team up and running in their workflow as quickly as possible._

## Issues to create within this Epic

[code]

## How to configure this issue
- [ ] **Labeled with `Produc

[2019-08-29 19:48] rileyorr opened #1443 "Create Notes Document"
## User Story
As a researcher, I need to have a collaborative document where Note-Takers and Observers can document their notes from each session.

## Goal
Establish a collaborative spreadsheet amongst the team so team can contain notes in one place.

## Acceptance Criteria
- [ ] _What needs to happen or be created?_
Team needs to create a collaborative spreadsheet containing:
- Participant #
- Qu

[2019-08-29 19:52] rroueche opened #1444 "[Repo migration]: crucial research documentation to va.gov-team"
## User Story
As a VFS team conducting user research, I need to know best practices for how to conduct user research, so that I can gain insight from veterans to build human-centered veteran-facing apps.

## Goal
Identify what research documentation content is essential to move from vets.gov team, and collab as appropriate w/other VSP and VFS teams to move it.

## Definition of Done
Research docum

[2019-08-29 19:52] andreahewitt-odd opened #1445 "Figure out how session cookies work with load testing"
As a user load testing a new feature, I need to know how to configure my set up so session cookies are on so that the load testing can run.

AC:
- [ ] Discover what the approach is for using session cookies in load testing

[2019-08-29 20:04] andreahewitt-odd opened #1446 "Create 508 guidance/best practice documentation"
As a developer, I want information about 508 that I can go to while developing so that I know what the best practices are when coding with assessibility in mind.

AC:
- [x] Documentation is created
- [x] Documentation is reviewed by front end group
- [x] Documentation is live for devs to use

Check with Mikki/Matt Johnson on best place to store this

[2019-08-29 20:06] andreahewitt-odd commented on #507
@accbjt is going to do some discovery to see if this work is still relevent

[2019-08-29 20:08] smoonpeyes commented on #1176
Templates have been created:

https://github.com/department-of-veterans-affairs/va.gov-team/blob/1176-discovery-epic-template/.github/ISSUE_TEMPLATE/discovery-research-epic.md

https://github.com/department-of-veterans-affairs/va.gov-team/blob/1176-discovery-epic-template/.github/ISSUE_TEMPLATE/research-epic.md

[2019-08-29 20:08] #1176 closed

[2019-08-29 20:15] andreahewitt-odd opened #1447 "Create QA ROE"
## User Story
As a new developer working on the platform, I need QA documentation on best practices and tools so that I know what to do.

## Goal
_A document that developers can reference on QA best practices_

## Acceptance Criteria
- [ ] QA documentation is created
- [ ] Documentation is reviewed by Front end group, Rachael and Andrew G
- [ ] Documentation is live on GH

[2019-08-29 20:18] jbalboni commented on #1324
Ah, looks like the data in staging for facilities doesn't use real ids, that's what threw me off. The Cheyanne VA is 442 in prod, but 983 on staging.

[2019-08-29 20:18] #1324 closed

[2019-08-29 20:23] ncksllvn opened #1448 "Implement homepage banner into vets-website"
The configuration for the homepage banner (used for things like hurricane alerts) currently lives in vagov-content as a "fragment". However, the homepage will be migrated to Drupal in the immediate future, making this fragment no longer usable.

As a temporary solution, we should hardcode the homepage banner in vets-website so that we can publish the rest of the homepage from Drupal. Then, once Dr

[2019-08-29 20:31] amycesal commented on #1171
Trying a version of the "mega-chart" from the conversation with @rroueche and @leahbannon
- I normalized the data by using a target for each metric and visualizing if the data was above or below that target by percentage.
- The graphs below dig a bit deeper into each ling and, for the most part, give a point of comparison as well as what the target is and actual numbers.

Interactivity and some so

[2019-08-29 22:03] 1Copenut opened #1449 "[SCREENREADER]: Improve the modal windows to prevent AT users from navigating page behind the window screen"
## Description

Our design system [modal dialog component](https://design.va.gov/components/modal) does a great job trapping keyboard focus. I'd like to improve it to also trap screen reader virtual cursor navigation so assistive technology users don't miss important announcements or try to navigate the rest of the page while the modal is open. Screenshot attached below.

## Point of Contact

**VF

[2019-08-29 23:05] AnneHurley commented on #986
@peggygannon I couldn't add you as a reviewer but added you as an assignee. I see some copy issues though that I need to go in and fix. Apologies for the delay - had 2 back to back doc appts today.

[2019-08-29 23:50] tlei123 commented on #1051
Testing personal Microsoft OneDrive spreadsheet link here:
[QA Manual Testing Matrix (on OneDrive)](https://1drv.ms/x/s!AtFPwFnvF2TMaSlntY7hEl5OwPw)

[2019-08-30 01:05] b00klegger commented on #1427
@elwoodva
Explain the issue you're having and please feel free to attach pictures and pasted output from the terminal

[2019-08-30 04:05] markgreenburg commented on #1308
Swaggers for existing services are available in the code repos of each per chat with Kam. This requires access to VA network IIRC.

[2019-08-30 11:11] elwoodva commented on #1427
Ok, I will, but first, I did delete the old ones and re-did the procedure so the new one that's there now will have to be added. But let me get you a screen shot.

[2019-08-30 11:36] elwoodva commented on #1427
![Screenshot 2019-08-30 at 7 33 46 AM](https://user-images.githubusercontent.com/46933023/64017955-e7baf400-caf8-11e9-98b8-97148b0f92ff.png)

[2019-08-30 11:38] elwoodva commented on #1427
I added the regular GitHub keys to my machine and I can do the normal git procedures with the source code.  But when I try to use the keys I generated for id_rsa_vetsgov with the socks proxy I get the errors you see in the screen shot above.

[2019-08-30 12:29] elwoodva commented on #1427
![Screenshot 2019-08-30 at 8 28 33 AM](https://user-images.githubusercontent.com/46933023/64020726-4768cd80-cb00-11e9-96c0-dcdd607ef238.png)

[2019-08-30 12:35] elwoodva commented on #1427
![Screenshot 2019-08-30 at 8 34 53 AM](https://user-images.githubusercontent.com/46933023/64021042-1341dc80-cb01-11e9-9cae-dee87fe4672f.png)

[2019-08-30 13:02] rtwell commented on #901
good catch @1Copenut — I think I left that out, mistakenly.

[2019-08-30 13:09] RLHecht commented on #1323
These fixes were made and branch was merged into master. Confirmed it's good on the live site.

[2019-08-30 13:09] #1323 closed

[2019-08-30 13:14] sonntag-adam commented on #1257
@1Copenut here is the PR for this issue https://github.com/department-of-veterans-affairs/vets-website/pull/10630

[2019-08-30 14:18] andreahewitt-odd opened #1450 "onboard"

[2019-08-30 14:18] andreahewitt-odd opened #1451 "Onboarding VSP teams"
## High Level User Story
As a new team onboarding to the platform, I want a structured onboarding that gives me access to documentation and resources so that I don't feel lost when I join.

## Hypothesis/(es)
If we use a standard onboarding process for new VSP teams to the platform, they will be able to perform better to our standards and deliver faster after joining.

## Goals
Teams that go throu

[2019-08-30 14:30] nedierecel commented on #1333
@joanneesteban The calendar invitation has been sent. I couldn't locate the link to the pre-work doc in Google Drive. Can you please send when you return? Thanks!

[2019-08-30 14:38] rianfowler commented on #658
This has been handed off to Josh Tuscher for testing. I fixed a few CSS issues and provided these instructions for testing.

[code]

I think we're going to track follow-up work in a separate issue for the next sprint. @brandonrapp can confirm.

[2019-08-30 14:53] nedierecel commented on #773
The container has been published with new changes to track form inputs. A report was delivered to the BAH team to show the breakdown of [submissions by STEM Scholarship applications](https://analytics.google.com/analytics/web/?authuser=0#/report/content-event-events/a50123418w177519031p184334251/_u.date00=20190815&_u.date01=20190828&explorer-table.plotKeys=%5B%5D&explorer-table.secSegmentId=analyt

[2019-08-30 14:53] #773 closed

[2019-08-30 14:54] lalexanderson-dsva commented on #1089
Submitted!

[2019-08-30 15:06] smoonpeyes commented on #1404
Maybe we can use a Slackbot that pings the new team(s) every week or so with a survey.

[2019-08-30 15:07] elwoodva commented on #1427
I am double checking the key and I seem to have accidentally pasted the wrong thing above.  Here is the current key of mine:

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCvbjQ+PxrByrEsaAb4snhTOpXjCrXBXJoKjm+49npyJ5OLveoRGk65YMp5otzcu+gp17Rde3ckQ91hj6k2JdcEDtGDYW5axdrydQliC43O3TQImyU39+ahdwTj2sQnJXu6RLI+wuZVXnsQNosMGz3k0DIQeNFiS5PetfKaBNPW7k4JlMZt/IYlSQZLY7SENgE0yTGPLJBW6xae5uKqD1cpYtWkdU+2W5nLOMIzuPwDCG

[2019-08-30 15:09] smoonpeyes commented on #1405
Regarding recruiting: If a team wants to do in-person research, it must be in D.C. for Perigean to handle the recruiting. If you want to do in-person research outside of D.C., contact Lauren Alexanderson.

[2019-08-30 15:31] smoonpeyes commented on #874
Reviewed with Andrea. Closing.

[2019-08-30 15:31] #874 closed

[2019-08-30 15:32] smoonpeyes commented on #1189
@emilywaggoner You presented the UX overview to Carolyn. Are there any other designers on VAOS that need this overview, or can we close this ticket?

[2019-08-30 15:33] smoonpeyes commented on #1334
Done.

[2019-08-30 15:33] smoonpeyes commented on #1337
Done.

[2019-08-30 15:33] smoonpeyes commented on #1338
Done.

[2019-08-30 15:34] smoonpeyes commented on #1340
Done.

[2019-08-30 15:35] smoonpeyes commented on #1341
Done.

[2019-08-30 15:35] smoonpeyes commented on #1342
Done.

[2019-08-30 15:36] smoonpeyes commented on #1345
Done.

[2019-08-30 15:37] smoonpeyes commented on #1348
Done.

[2019-08-30 15:47] nedierecel commented on #1293
- 8/29/2019: Reached out to Dorothy; Team will create Google Accounts associated with By Light emails

@joanneesteban Recommendations for future trainings:
- Clarify difference between GMail vs. Google Accounts so access process is more efficient (Include screenshots of Signup Without Gmail form)

[2019-08-30 15:57] ncksllvn opened #1453 "Implement instant updates to the homepage banner"
The homepage banner will need to be updated in near real-time to manage facilities opening and closures during Hurricane Dorian. These needs to be implemented ASAP.

[2019-08-30 16:26] nedierecel commented on #1165
@joanneesteban Several new goals have been added to the Product Health MVP V1

@jonwehausen I noted a few of the pageview-driven Goals that have Events tied to them. In some cases, we will not have funnel completion rate; so we should note as N/A. Please let @amycesal know the next steps.

[2019-08-30 16:34] smoonpeyes commented on #1364
@kevinstachura I found some references to this in the old repo: https://github.com/department-of-veterans-affairs/vets.gov-team/blob/ead0fe129bfee6b8e7eaae59d7f4f681a37dec15/Products/Disability/Disability%20526EZ/product/blue_water_navy.md

[2019-08-30 16:34] emilywaggoner commented on #1189
Let's leave it open for now actually because Carolyn had to reschedule our meeting until after she gets back from vacation. We are scheduled to meet on Wednesday, Sept. 11.

[2019-08-30 16:35] #607 closed

[2019-08-30 17:05] micahchiang commented on #1068
Frontend Deep Dive Scheduled for next week with Bill Tran

[2019-08-30 18:02] b00klegger commented on #1427
confirmed with engineer that is now working

[2019-08-30 18:02] #1427 closed

[2019-08-30 18:04] peterhill-oddball commented on #1042
A first pass at Load Testing slides is up here -- https://docs.google.com/presentation/d/11GWnu5r2qg8P12uglVY6q3P5t3rzGWoC170n0irTNl0/edit?usp=sharing

[2019-08-30 18:12] andreahewitt-odd opened #1454 "Figure out way to let teams know when to use what ticket templates"
https://dsva.slack.com/archives/CJRQ85PQB/p1567182505035200

[2019-08-30 18:18] #95 closed

[2019-08-30 18:18] LindseySaari commented on #247
https://github.com/department-of-veterans-affairs/va.gov-team/pull/1318/commits/219117648e3c1ac4f74ce28f9de10be7240b8adc

[2019-08-30 19:08] annaswims opened #1455 "update rubocop on gids"
@wyattwalter commented on [Thu Mar 22 2018](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/9391)

Rubocop is out-of-date and builds were being failed because of the 'misuse of `/tmp`' CVE filed against it. Since this isn't a runtime vulnerability and the upgrade is non-trivial, I've bypassed it for now in the repo and filing this ticket to go back and update this gem.

[2019-08-30 19:13] smoonpeyes commented on #1366
@YanaRoy Here's some background information that I learned from Dawn:

* This ticket was used to capture stakeholder requests. The idea was to just capture the feedback and hold it for later prioritization. We should discuss with @AZSchneider to determine if any of the items called out in this ticket are current priorities.

* Each item in this ticket should probably be a separate ticket with its

[2019-08-30 19:15] brandonrapp opened #1456 "Require codeclimate checks before merging"
Offload linting and coverage checks to codeclimate, and make them a requirement for merging and take them out of jenkins.

Why?
Help eliminate common issues that would appear during code reviews which will help to lessen the total code review load.

[2019-08-30 19:17] brandonrapp commented on #1042
Thanks @peterhill-oddball - We are already starting on this work, but the work will definitely bleed into Sprint 8.

[2019-08-30 19:19] annaswims opened #1457 "Upgrade rubocop in vets-api"
Upgrade rubocop gem so that we can benefit from new security and performance checks.

[2019-08-30 19:25] brandonrapp opened #1458 "Monitor and address any issues after adding OPRM URLs to proxy list for header injection"
We handed off this work as part of https://github.com/department-of-veterans-affairs/va.gov-team/issues/658, but we wanted to make a support ticket in case there are issues that arise from the changes that were made.

[2019-08-30 19:31] tlei123 commented on #1051
@lkoenigsberg @Samara-Strauss @Justin-Pickett @mojaray2k  @ncksllvn @erikphansen ,
Please try entering your **Last Name** \[next to your pre-filled First Name] into the [**OneDrive Test spreadsheet**](https://1drv.ms/x/s!AtFPwFnvF2TMbep0FLMLuHIwXwE) on my Microsoft OneDrive \[click the green **Edit in Browser** button in the toolbar once you’re there].

You should **not** have to either sign into

[2019-08-30 19:31] brandonrapp opened #1459 "[Discovery] Investigate refactoring spec suite to run in parallel"
## Problem Statement

Running the entire `rspec` test suite alone can take up to 10minutes in a single build pipeline during the CI process. This causes significant developer pain while synchronous rebuilds are required upon each merge to `master`. Additionally, running the spec suite locally takes longer than if leveraging parallel CPU cores - this is an obstacle to quicker feedback cycles while

[2019-08-30 19:35] jenniferlee-dsva commented on #423
This is connected to: https://github.com/department-of-veterans-affairs/vets.gov-team/issues/18214 and this https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/vets.gov-team/16956
[just adding central issue and related legacy rewriting tickets - i'm having trouble finding all the related dependency things]

[2019-08-30 19:37] brandonrapp opened #1460 "Define and prioritize use cases for how to authenticate users for use in Release\Feature Toggles"
As an administrator, I would like to understand the use cases for having admin users in the release\feature toggle tool so that we can design methods to allow\deny authentication in the best possible way.

[2019-08-30 19:38] 1Copenut commented on #1257
@sonntag-adam This issue has been remediated and things look good. I ran the axe scan again on the VET TEC search results view and the VET TEC provider details with no warnings about heading level mis-matches.

I'm going to open a follow up ticket to make this same remediation on the Schools and Employers detail views. We have some H3's that have H5's underneath them that are the last heading mis-

[2019-08-30 19:40] Samara-Strauss commented on #1051
Done! Worked for me. I had to be off of the VA network but otherwise it was fine.

[2019-08-30 19:43] smoonpeyes commented on #1364
### What is required to qualify as a Blue Water Navy veteran with Agent Orange exposure during Vietnam?
Veterans who qualify as Blue Water Navy Veterans must have served on a Blue Water Navy vessel offshore of the Republic of Vietnam, or on another U.S. Navy or Coast Guard ship operating in the coastal waterways of Vietnam, between January 9, 1962, and May 7, 1975.

**To receive disability benefit

[2019-08-30 19:43] 1Copenut opened #1461 "[SCREENREADER]: GIBCT® - Heading levels on school and employer detail views need to increase by one"
## Description

Heading levels are being skipped in the content areas on VET TEC provider detail views. This can be confusing for screen reader users who rely on headings to navigate content by importance. Screenshots attached below.

## Point of Contact

**VFS Point of Contact:** _Trevor_

## Acceptance Criteria

* As a screen reader user, I want to hear headings properly nested in the content.
*

[2019-08-30 19:50] 1Copenut opened #1462 "[SCREENREADER]: GIBCT® - Add aria-hidden="true" to Font Awesome icons on school and provider search results"
## Description

The Font Awesome icons are announcing themselves to screen readers. This can be improved by adding an `aria-hidden="true"` attribute to the icons per screenshot and link below.

## Point of Contact

**VFS Point of Contact:** _Trevor_

## Acceptance Criteria

* As a screen reader user, I do not want to hear the icons announced, or blank spaces announced when my virtual cursor is ove

[2019-08-30 19:55] kevinstachura commented on #1341
Done

[2019-08-30 20:08] Justin-Pickett commented on #1051
Done! Worked for me as well.

[2019-08-30 20:16] smoonpeyes commented on #1343
Done.

[2019-08-30 20:19] jenniferlee-dsva commented on #986
@AnneHurley @peggygannon - I'm so sorry. We looked at this 20 times and I don't know how I missed this, but the alert header is missing "Vietnam"!

[info-icon] DIC eligibility for survivors of Blue Water Navy **Vietnam** Veterans

It's important to call that out in the header because not all survivors will know/remember if their Veteran served on a "Blue Water Navy" vessel, but they all know if th

[2019-08-30 20:23] ricetj commented on #815
done

[2019-08-30 20:23] #815 closed

[2019-08-30 20:55] boris-ning-usds commented on #791
This was just completed by the network team. @wyattwalter, I sent your team the references in email. Can you validate and close this out?
Thanks.

[2019-08-30 21:10] 1Copenut commented on #724
Closing this as the audit has been done and all issues are remediated.

[2019-08-30 21:10] #724 closed

[2019-08-30 22:47] cvalarida opened #1464 "Get metrics on the steps of the vets-website build script"
## User Story
As a VSP front end engineer, I need know how our build script is performing so I can identify improvements.

## Goal
_What outcome(s) do we want to see?_

## Acceptance Criteria
- [ ] _What needs to happen or be created?_

## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to an Epic** (what body of work is this a part of?

[2019-08-31 00:44] ncksllvn opened #1465 "Add "https://raw.githubusercontent.com/" to Content Security Policy (CSP)"
We now read the YML file for the homepage banner directly off of GitHub. This means that we need to update our CSP to not block resources from this domain. Right now, our CSP is set to report-only, which is why we can do this currently.

This GitHub-based approach for the homepage banner is likely temporary because it's to be moved to Drupal. So, in the end this may not be necessary, but in the ev

[2019-09-02 14:09] ncksllvn opened #1466 "Determine scalable solution to link validation in vets-website in an RFC"
### The problem
I consider this issue to be very high priority, because of how often it seems to come up and the impact it has on the whole front-end team. In order to focus on some of the other CMS/vets-website issues, we need to clear this one up.

#### Broken link checker
Currently, as part of its build for each environment, vets-website executes a **broken link checker**. This tools inspects e

[2019-09-02 14:13] ncksllvn commented on #802
After some deep thinking, I am not sure if this is the right solution. No matter how fantastic our vets-website accessibility validation is, it's still validating content that lives far away from vets-website - in a Drupal database.

As a testament to this, I cannot merge the associated work for this ticket until issue #1065 is resolved.

I may close this in favor of https://github.com/department-

[2019-09-02 14:14] ncksllvn commented on #1466
Created a PR to write this into an RFC here, https://github.com/department-of-veterans-affairs/va.gov-team/pull/1467.

[2019-09-03 11:37] ricetj opened #1468 "Implementing CMS CI"
The ELB, security groups and S3 bucket for backups have been created. Now we just need to help them verify the config changes they've created in ansible department-of-veterans-affairs/devops#5161

Original Work can be found here: https://github.com/department-of-veterans-affairs/va.gov-team/issues/1138

[2019-09-03 11:40] ricetj commented on #1138
Done, work will be continued in https://github.com/department-of-veterans-affairs/va.gov-team/issues/1468

[2019-09-03 11:40] #1138 closed

[2019-09-03 13:06] RLHecht commented on #1288
Kevin Walsh moved the alert on the page and I asked Peggy to preview and publish it.

[2019-09-03 13:13] kevinstachura commented on #1337
Done.

[2019-09-03 13:15] kevinstachura commented on #1339
Done.

[2019-09-03 13:17] kevinstachura commented on #1340
Done.

[2019-09-03 13:19] kevinstachura commented on #1342
Done.

[2019-09-03 13:30] ndsprinkle commented on #1334
Done.

[2019-09-03 13:41] markgreenburg opened #1469 "Discovery: Community Care Integration"

[2019-09-03 13:44] markgreenburg opened #1470 "Build appointment lists"
As a veteran, I want to view all of my appointments in one interface so that I don't have to look at multiple tools.

[2019-09-03 13:48] markgreenburg opened #1471 "Request VA healthcare appointment"
As a veteran, I want to be able to request a VA healthcare appointment online.

## Zenhub link
https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/1471

[2019-09-03 13:54] rileyorr opened #1472 "Interview Veterans and Caregivers"
## User Story
As a researcher, I need to interview Caregivers and Veterans to gather information about the Caregiver application process and experience submitting the form.

## Goal
Interview Caregivers and Veterans to gather information about Caregiver experience and experience filling out application form.

## Acceptance Criteria
- [ ] _What needs to happen or be created?_
Moderators need to sig

[2019-09-03 13:57] rileyorr opened #1473 "Interview Debriefs"
## User Story
As a researcher, I need to debrief with Note takers and Observers each day to track key insights from the day's interviews.

## Goal
Gather daily insights from user interviews.

## Acceptance Criteria
- [ ] _What needs to happen or be created?_
For each day a user interview takes place, a debrief meeting needs to be scheduled. All team members and stakeholders are invited to particip

[2019-09-03 14:09] joanneesteban commented on #1165
First Column: number of submissions, number of page views, etc. Note the difference between forms and other 'products'. The non-forms aren't going to have event failures.

[2019-09-03 14:10] #1302 closed

[2019-09-03 14:10] #1297 closed

[2019-09-03 14:28] tlei123 commented on #1051
### Research findings
[WIP -- I’d like to get more test results before finalizing this]

Microsoft OneDrive should meet both requirements of online-version Matrix:

- Excel spreadsheets are **online editable**\* by both VA & contractor agencies:
  - Does not require OneDrive account.
  - Does not require local MS Office software.
- Excel spreadsheets are expandable to full-screen and thus **usable

[2019-09-03 14:33] rileyorr opened #1474 "Analyze Interview Data"
## User Story
As a researcher, I need to analyze the data gathered during the Conduct User Interviews Epic.

## Goal
Organize gathered data from interview sessions into meaningful categories to gain insights that will impact the synthesis.

## Acceptance Criteria
- [ ] _What needs to happen or be created?_
A spreadsheet needs to be created to track categorization of data. Designers need to then or

[2019-09-03 14:40] #842 closed

[2019-09-03 14:54] boris-ning-usds opened #1475 "Tagging instances / ami / snapshot / rds / elasticache resources for billing purposes"
# Description

As the Caseflow/Appeals team and Vets.gov + DVP team currently shares one common environment, it's necessary to have a good structure of cost breakdown and utilization that project/program managers can see. The Enterprise Cloud Solution Office (ECSO) backing VA Enterprise Cloud has been provisioning AWS Quicksight for various PMs to look into their cost structure... However, since t

[2019-09-03 14:55] lkoenigsberg commented on #1051
Tried from a non-VA mobile phone and can open the sheet but not able to edit (or more likely some sort of user error, not knowing how to edit).

[2019-09-03 14:57] #1373 closed

[2019-09-03 15:04] LindseySaari commented on #1029
https://github.com/department-of-veterans-affairs/vets-api/pull/3236

[2019-09-03 15:16] ncksllvn opened #1476 "Fix runtime error in Drupal cache - "cmsFeatureFlags" unavailable in global object"
Currently, the `Cache Drupal Content` step of the vets-website Jenkins CI is failing due to a runtime error with the output shown below. Tracing that output back, you can see the `cmsFeatureFlags` object is unavailable in the `global` object.

This causes both Jenkins CI and the Heroku review instances in vagov-content to fail. In vets-website, it causes us not to be able to rely on the CMS cache

[2019-09-03 15:21] narin commented on #1311
Created first draft of API contract which will live here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/appointments/engineering/api-contract.yml

Meeting to discuss to come.

[2019-09-03 15:21] #1311 closed

[2019-09-03 15:23] jenstrickland commented on #1429
Veteran and Caregiver Conversation Guides complete: https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/caregivers/research/discovery-aug-2019

[2019-09-03 15:49] brandonrapp opened #1478 "Ongoing VFS teams Code Review Support - Sprint 8"

[2019-09-03 15:52] andreahewitt-odd opened #1479 "Product Support Issues -- Sprint 8"

[2019-09-03 15:53] brandonrapp opened #1480 "Tools and Improvement Team Ongoing VFS Team Onboarding Support - Sprint 8"

[2019-09-03 15:54] #1021 closed

[2019-09-03 16:29] #1202 closed

[2019-09-03 16:29] #1203 closed

[2019-09-03 16:30] ncksllvn commented on #1195
@peggygannon I think some of these resources need to be updated before assigning to other content editors for reviewing. Do you know if these have been updated?

[2019-09-03 16:39] peggygannon commented on #1195
@ncksllvn Yes, thank you. I'm in the process of updating, based on a meeting with Jen last week. I should have updated list today.

[2019-09-03 16:42] brandonrapp opened #1481 "Create documentation for current set testing tools for use by external teams"
## High Level User Story
As an admin, I need to create documentation of our existing testing tools so I can external teams can understand the testing expectations.

## Goals
- Give something to external teams so they know the expectations
- Will serve as a baseline for evaluating new tools to ensure they provide added benefits while maintaining or exceeding testing coverage

## How to configure th

[2019-09-03 16:43] Karak888 opened #1482 "Redesign the Find a VA Form page"
PLEASE NOTE THIS EPIC INFO HAS BEEN INCORPORATED INTO NEW EPIC AND WILL BE ARCHIVED IF NEEDED AT LATER DATE,

## Redesign the Find a VA Form page: https://www.va.gov/vaforms/

Search research indicates that the VA forms page consistently gets high organic search traffic. However it has almost no or very little conversion value.  Because this page already gets high organic traffic and has high pote

[2019-09-03 17:03] peggygannon commented on #1237
**9/3/19 update** Meeting with Mark Greenburg scheduled for 9/4

[2019-09-03 17:04] peggygannon commented on #1077
This is complete. Closing.

[2019-09-03 17:04] #1077 closed

[2019-09-03 17:15] Karak888 opened #1483 "Updates to Community Care Facility Locator"

[2019-09-03 17:23] #1483 closed

[2019-09-03 17:38] cvalarida opened #1484 "Intermittent form config test failure -- missing introduction function"
## User Story
As a front end engineer, I need to be able to rely on the build not failing randomly so I can merge my changes in a timely manner without rerunning the build.

### Background
I ran across a broken test on one of my branches. It said the form [22-5495 had a missing introduction function](http://jenkins.vfs.va.gov/blue/organizations/jenkins/testing%2Fvets-website/detail/cms-flag-cachin

[2019-09-03 18:07] #758 closed

[2019-09-03 18:28] brandonrapp commented on #1161
@fowusu2 - I added the CMS ATO documents that Elijah had mentioned to us in the ticket.

[2019-09-03 18:30] LindseySaari commented on #1029
Through my development and identification, I was able to refactor syntax related rubocop exemptions. There were no larger issues that needed to be tracked in GitHub. Detailed changes and finding are listed in the GitHub PR description.

[2019-09-03 18:41] joanneesteban opened #1485 "Analytics Requests and Support Sprint 8"
## High Level User Story
As VSP, I need to know the analytics support levels for Sprint  so I can prioritize analytics work accordingly.

## Hypothesis/(es)
**If** we track analytics support for this sprint **then** we expect to be able to prioritize our work in accordance to team bandwidth and maintain support consistency across VSP.

## Goals
Track all analytics support for this sprint.

## Obje

[2019-09-03 18:42] peterhill-oddball commented on #1042
@kfrz I'm not sure if you're the appropriate person to review this, but you know quite a bit about load testing as it is implemented.  If you're not the appropriate person then perhaps you could point me to the right person.  At any rate, is there any chance that you have a few minutes to review the slides on load testing that I've created in the presentation here -- https://docs.google.com/presen

[2019-09-03 18:46] joanneesteban commented on #1165
@amycesal Can you add the "Missing Goals" on [this sheet](https://docs.google.com/spreadsheets/d/1ul4Dl98BdjdnGSmgF-0dWg_O3-rCukDOy8qghZXoJTo/edit#gid=0) to the MVP as 'nice to haves' at the bottom of the sheet?

[2019-09-03 18:47] peterhill-oddball opened #1486 "Define QA Process"

[2019-09-03 18:47] peterhill-oddball opened #1487 "Define QA Technologies"

[2019-09-03 18:47] peterhill-oddball opened #1488 "Define QA Deliverables"

[2019-09-03 18:47] peterhill-oddball opened #1489 "Define QA Help"

[2019-09-03 18:47] peterhill-oddball opened #1490 "Create QA ROE"
## High Level User Story
As a VFS Team, I need documentation for the quality assurance process so I can create and deploy reliable software on the platform.

## Hypothesis/(es)
**If** we create appropriate rules of engagement for the QA process **then** we expect the quality of the software being deployed on the platform to increase.

## Goals
Create a robust set of documents outlining the quality

[2019-09-03 18:48] kevinstachura commented on #1343
Done.

[2019-09-03 18:48] jbalboni opened #1491 "Discovery: Direct schedule and request submission data"
We need to figure out what data to send when creating requests and appointments. We may need to create or find a schema for the data submitted to create both requests and direct appointments.

[2019-09-03 18:53] joanneesteban commented on #1168
Additional pain point for KPI workshopping for VSP teams is that teams will need to think through defining their processes and team missions.

[2019-09-03 19:03] markgreenburg opened #1492 "Create mock for facility selection"
## Story:
As a veteran, I want to be able to choose the facility at which I will get my specialty care whenever there is more than one facility in a system that offers it.

## AC:
- [ ] Provide mock or prototype for selecting a facility from a list of facilities after a veteran has chosen their preferred healthcare system and type of care
- [ ] Upload mocks to design folder in VAOS github

## More

[2019-09-03 19:21] markgreenburg opened #1493 "Build 'type of care' selection page"
## Story
As a veteran, I want to be able to choose the type of care for my healthcare appointment request so that I'm scheduled with the right kind of doctor.

## AC:
- [ ] Page is displayed after 'choose how you would like to make an appointment' page _if_ veteran selects 'type of care'
- [ ] Page exists in staging
- [ ] Page is not deployed to production
- [ ] Veteran can select a type of care
-

[2019-09-03 19:28] markgreenburg opened #1494 "Create enrollment and registration gating mocks"
## Story
As a veteran who is not registered at any VA location and / or not enrolled in VA healthcare, I want to understand what I need to do in order to schedule a healthcare appointment offline, and what I need to be able to do to use the VAOS tool in the future so that I can interact with the VA healthcare system in a way that is convenient to me.

## AC
- [ ] Create mock for app state where ve

[2019-09-03 19:30] jenniferlee-dsva commented on #1195
@peggygannon - I shared one more content onboarding doc with Nick - on content tiers. Sorry for the late addition.

[2019-09-03 19:32] ndsprinkle commented on #1355
Done.

[2019-09-03 19:32] #1314 closed

[2019-09-03 19:35] markgreenburg opened #1495 "Alert for 'type of care not available in healthcare system'"
## Story
As a veteran, I want to know what to do when the type of care I'm requesting doesn't exist in the VA healthcare system in which I'm registered so that I can take the next action to get the care I need.

## AC
- [ ] Mock exists for UI state where veteran is registered to a VA healthcare system but that system(s) doesn't have the type of care they're requesting
- [ ] Mock uploaded to VAOS d

[2019-09-03 19:44] vbahinwillit opened #1496 "Access for Tony Williams"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Add a comment @department-of-veterans-affairs/vsp-operations to ping the operations team
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please

[2019-09-03 19:44] jason-gcio commented on #1305
Moved to *.md file in repo where it can continue to evolve and serve as a point of reference.

[2019-09-03 19:44] #1305 closed

[2019-09-03 19:52] peterhill-oddball commented on #1486
Recording thoughts on QA process ROE within the following branch on GH --

https://github.com/department-of-veterans-affairs/va.gov-team/tree/peter-qa-practicearea

[2019-09-03 19:53] peterhill-oddball commented on #1490
I've created a branch to which I am committing thoughts regarding QA ROEs -- https://github.com/department-of-veterans-affairs/va.gov-team/tree/peter-qa-practicearea

[2019-09-03 20:08] LindseySaari opened #1497 "Access for Lindsey Hattamer"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Add a comment @department-of-veterans-affairs/vsp-operations to ping the operations team
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please

[2019-09-03 20:08] LindseySaari commented on #1497
@department-of-veterans-affairs/vsp-operations

[2019-09-03 20:12] andreahewitt-odd commented on #975
https://adhoc.optimalworkshop.com/questions/post-onboarding

[2019-09-03 20:12] #1184 closed

[2019-09-03 20:12] #1164 closed

[2019-09-03 20:38] RLHecht commented on #1435
@jenniferlee-dsva Here is a Word doc with all the words/terms from Vets.gov that are not currently in the style guide. I put comments next to each of whether we should add it and some other questions. Let me know when we can go over it. Then I can start adding them into the Style Guide so we can get rid of the other list. [https://app.zenhub.com/files/133843125/06a5af67-d45e-4c21-9802-8a8764ca719b

[2019-09-03 20:40] jenniemc opened #1498 "Access for Jennie McGibney"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Add a comment @department-of-veterans-affairs/vsp-operations to ping the operations team
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please

[2019-09-03 20:56] joanneesteban commented on #1235
Sprint 7 Addition:
- Too many Slack Channels being presented. Just direct Analytics Support during onboarding to #vfs-product-support

[2019-09-03 21:14] ncksllvn opened #1499 "Urgent Care: Add info back into Community Care Facility Locator"
As a Veteran, Family member, Caregiver, I need to be able to use the facility locator to search for Urgent Care facilities that are in or near my location, so that I can easilly find the Urgent Care location and type I need.

 **Problem:**
When the Mission Act was launched on 6/6/19, Urgent Care services were removed from the Facility Locator due to incorrect data being returned.
       _Note:_  T

[2019-09-03 21:15] ncksllvn commented on #1499
@Karak888 I moved the issue to `va.gov-team` for you 😄

[2019-09-03 21:27] Karak888 commented on #1499
many thanks @ncksllvn !

[2019-09-03 21:32] narin opened #1502 "Type of Care API Discovery"
## Description
After discussing the first draft of the [API contract](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/appointments/engineering/api-contract.yml), we determined more discovery needs to be done around Types of Care.

The current API requires separate API calls for each clinic/facility to determine the types of care available.  The [new d

[2019-09-03 21:33] narin commented on #1502
CC: @markgreenburg

[2019-09-03 21:34] #1298 closed

[2019-09-03 21:43] jenniferlee-dsva commented on #1435
@RLHecht - thanks Randi. I'll take a look and reach out to you, so we can go over questions.

[2019-09-03 21:44] joanneesteban commented on #1171
An additional note for our product health tool:
VSP's goal is to `Establish what “sub-par” means, for this KR: Any VA.gov product w/sub-par health metrics is on the VA.gov roadmap for iteration (note: VSP is not wholly responsible for meeting this KR bc it’s up to DSVA to do something w/the information - like have a VA.gov roadmap  - but still believes it’s important to track)`

One of our objecti

[2019-09-03 22:00] annaswims commented on #462
Draft PR in https://github.com/department-of-veterans-affairs/vets-api/pull/3259

[2019-09-03 22:44] #1240 closed

[2019-09-03 22:44] micahchiang opened #1503 "Access for Micah Chiang"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Add a comment @department-of-veterans-affairs/vsp-operations to ping the operations team
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please

[2019-09-03 22:44] mnorthuis commented on #1240
- va.gov-team repo has been audited and each file now has a planned new home
- I have been talking with content owners as I've worked through this audit to confirm where documentation should go, these conversations do not seem pertinent to VFS teams
- the `platform` folder structure is built out within the repo

We will be moving the actual files in the beginning sprint 8.  This work should not in

[2019-09-03 22:45] micahchiang commented on #1503
@department-of-veterans-affairs/vsp-operations tagging you for visibility.

[2019-09-03 22:47] cvalarida opened #1504 "Website build not possible without SOCKS proxy"
## User Story
As an engineer without access to the SOCKS proxy, I need to be able to build `vets-website` locally so I can work while I wait for access to the proxy.

## Acceptance Criteria
- [x] Engineers don't need access to the proxy in order to build the website locally

## Possible solutions
- While setting up the CMS feature flags during the build, check the build type; if `localhost`, use a

[2019-09-03 22:50] #1245 closed

[2019-09-03 22:51] mnorthuis commented on #1245
Worked through all of this with Lauren A.

 All needed folders created under `products`

![image.png](https://images.zenhubusercontent.com/59ca6a73b0222d5de4792f1d/111935a2-be37-4b22-8774-5cda122647bd)

Folders created in `teams` area for all health products teams.

![image.png](https://images.zenhubusercontent.com/59ca6a73b0222d5de4792f1d/4d090a5f-0ff4-4b5b-9eec-5021d4653a24)

[2019-09-03 22:55] joanneesteban opened #1505 "[Analytics] VEO August Metrics Request"
## User Story
As a VEO user, I need monthly analytics for Education, Burials, and Claims so I can report on this data to internal stakeholders.

## Goal
Provide monthly data for August in visualization
Provide links to Jack Yang within Google Analytics

## Acceptance Criteria
 - [x] Monthly Data
 - [ ] Visualize Data

## Definition of Done
 - [ ] Attached to a Milestone (when will this be complete

[2019-09-03 22:56] mnorthuis commented on #540
Closing this issue, will open separate issues for moving/copying/consolidating from outside repos.

[2019-09-03 22:56] #540 closed

[2019-09-03 22:58] mnorthuis commented on #1239
Closing this issue, structure in in place.  Moving files from other repos wil be covered in other issues.

[2019-09-03 22:58] #1239 closed

[2019-09-03 22:59] mnorthuis commented on #1246
Draft document started: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsp/teams/content-ia/vsp-repos/repo-usage-best-practices-DRAFT.md

[2019-09-03 23:03] joanneesteban commented on #1505
CSAT updated:
![image](https://user-images.githubusercontent.com/48964695/64214200-71fab380-ce7d-11e9-8f8d-1ee289b72ff0.png)

[2019-09-03 23:05] mnorthuis opened #1506 "Retirement of /healthbenefits/ area of legacy va.gov"
The goal is to retire or move all content that currently lives under va.gov/healthbenefits/.  This area is the legacy health benefits content.  Most of the content has been or is in the process of being rewritten and migrated to the Health Benefits hub.   There is some content that is not Veteran facing and will need a new home.

- Update the Legacy Left Nav document sent to VHA stakeholders based

[2019-09-03 23:06] joanneesteban commented on #1505
Post-Relaunch Satisfaction:
![image](https://user-images.githubusercontent.com/48964695/64214279-db7ac200-ce7d-11e9-9e76-d1ecf915fe5c.png)

Pre-Relaunch Satisfaction:
![image](https://user-images.githubusercontent.com/48964695/64214296-efbebf00-ce7d-11e9-9f99-3e70686a151a.png)

[2019-09-03 23:41] Karak888 opened #1507 "Discovery: Enhancements to PPMS Search Speed"
**History:**
The PPMS database is a microsoft database that has demonstrated flaws in the way it stored it's data, most notably with the time it has taken to return results (in some cases almost 1.5 minutes).

**Goal:**
Connect with dedicated VA team (led by R. Franklin) and technical team at Microsoft) to determine  if they are addressing changes this month, and / or if there is anything we can d

[2019-09-03 23:43] mnorthuis opened #1508 "Update VHA Legacy Left Nav Documents"
Documents were provided to the VHA, VBA and NCA stakeholders for modifying their old TeamSite left navigation based on the content migration to the new benefit hubs.  Those documents were created prior to the completion of the rewriting work and should be updated to reflect what content has been officially launched and what the new URLs are.

The focus of this issue is the VHA document.  Updating

[2019-09-03 23:49] mnorthuis opened #1509 "VFS Support: Audit /healthbenefits/ pages"
Audit and compile list of all legay pages under /healthbenefits/.
Identify which of those pages have not been rewritten/migrated to Health Care hub.
Determine if any additional pages need to be rewritten and migrated, and where they should live.

This work should be lead by VHA stakeholders.

[2019-09-03 23:51] mnorthuis opened #1510 "Audit and provide recommendations for remaining /healthbenefits/ pages"
VHA stakeholders provided a list of approx 100 pages that live on www.va.gov/healthbenefits, which is served from Team Site.

- [x] Audit/review these pages and determine if they should there is any additional rewriting or parity work needed
- [ ] ~If rewriting/writing a new page is required, determine the IA and page structure recommendations~
- [x] Send recommendations to stakeholders for review

[2019-09-03 23:54] mnorthuis opened #1511 "Provide Recommendations for Revisions to Legacy VHA TeamSite Menus"
Provide a recommendation for revising the left nav components that are served up across va.gov legacy pages and sub-domains to consolidate /healthbenefits and /health areas.

[2019-09-04 00:09] mnorthuis commented on #1444
@rroueche this is a rather large issue, we may want to consider breaking it up, or be aware that this could cross multiple sprints since it will require time from every team/content owner.

[2019-09-04 00:14] jefflbrauer commented on #1448
@ncksllvn shall we close this out?

[2019-09-04 01:49] #660 closed

[2019-09-04 11:45] dmccurdybah commented on #1253
https://github.com/department-of-veterans-affairs/vets-website/pull/10638

[2019-09-04 12:20] Jeff-Hayter commented on #1076
@b00klegger Confirmed.  Please grant access.

[2019-09-04 12:23] Jeff-Hayter commented on #1497
@ricetj Confirmed.  Please grant access.

[2019-09-04 12:31] ricetj commented on #1503
@Jeff-Hayter
COR: Mary O'Toole
User: Micah Chiang

[2019-09-04 13:12] Justin-Pickett commented on #1329
@1Copenut thank you. Will do!

[2019-09-04 13:28] Karak888 commented on #487
@1Copenut this is an interesting one as Community Care dropdown should not have Service Type = *Required.  We are getting ready to do some work on CC FL, with the DB specifically, and it is a known defect.  It is interesting though that when you first select Community Cares,  it does not say required selection is made in dropdown...

[2019-09-04 13:39] joanneesteban commented on #1171
@amycesal Can we close out? Can you add the additions that were mentioned above:

- Instead of quotes, could we include sentiment analysis from submitted user feedback? (knowing we don't have a mechanism for user feedback today aside from Foresee, so this is truly blue sky)
- Need to be showing more "outcomes" data - VA processing times, and time to receipt of benefits
- Failed submissions past 30

[2019-09-04 13:50] accbjt opened #1512 "Front End deep dive with Micah from e-benefits"
Did a session to go over the front end

[2019-09-04 13:51] accbjt opened #1513 "Support for the By Light team"
Needed to do a session with the By Light team to get them unstuck.

[2019-09-04 13:52] #1512 closed

[2019-09-04 13:52] #1513 closed

[2019-09-04 14:02] ncksllvn commented on #1448
@jefflbrauer sounds good to me! Want to do the honors?

[2019-09-04 14:03] LindseySaari commented on #247
We had two copies of the triage incident response playbooks. This change consolidates the playbooks into one location in the va.gov-team repo.

These response playbooks are depreciated https://github.com/department-of-veterans-affairs/devops/blob/master/docs/Incident%20Response%20Playbook.md
https://github.com/department-of-veterans-affairs/vets.gov-team/blob/master/Practice%20Areas/Engineering/On

[2019-09-04 14:03] jbalboni commented on #1491
I put some examples of the current var-web request payloads in the team repo:

Direct schedule: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/appointments/engineering/var-web-direct-schedule-request-example.json
Request: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/appointments/engineering/var-web-re

[2019-09-04 14:04] mnorthuis opened #1514 "Discovery: IA for teams/vsp/ folders"
Work with the VSP team to create an IA for all documentation and files within their team space.

[2019-09-04 14:07] jbalboni commented on #1491
I wasn't able to find a schema. There's also a fair amount of duplicate data and what looks like unnecessary in the current payloads, that I think to create a reliable schema we'll have to go through the backend to determine what's actually being used.

[2019-09-04 14:07] mnorthuis opened #1515 "Document content owners for key areas of va.gov-teams repo"
Identify and document content owners/SMEs for each key area within the new va.gov-team repo.

[2019-09-04 14:08] #1491 closed

[2019-09-04 14:11] jbalboni opened #1516 "Create schemas for direct schedule appointments and appointment requests"
The front end needs a schema for the data to be sent to the backend when creating an appointment request and when booking an appointment directly.

There are examples of payload in the team repo: https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/health-care/appointments/engineering

These examples contain duplicate info and data that looks unnecessary, so a lot of

[2019-09-04 14:14] emilywaggoner opened #1517 "Create version 2 of VFS team service blueprint"
## Purpose

Now that we are several months into iterating the onboarding process for VSP, we need to iterate the VFS team journey map to reflect the iterations we have made to the process and input we've gathered. [The first version of the VFS team journey map can be found here](https://miro.com/app/board/o9J_kxGvvmc=/).

## What we need to do

Currently, the journey map does not reflect recently

[2019-09-04 14:15] emilywaggoner commented on #1517
Working spreadsheet here: https://docs.google.com/spreadsheets/d/19EfkDr8pJ13gw0XfUlY3LySCKGi27-6vs7w7vsB2_Og/edit#gid=980063488

[2019-09-04 14:20] joanneesteban commented on #1293
Send out full instructions to teams for adding GA access:

Instructions
1. Make sure every team member has a Google account tied to their corporate or va.gov email.
 Email addresses ending in gmail.com may not be used.
 If the user has a VA.gov or work email address that is not linked to a Google account, they will need to create one by visiting this link.
 VA.gov users and external users with ema

[2019-09-04 14:24] mnorthuis opened #1518 "Audit Slackbot replies to promote Platform website"
There are many slackbot replies that include links to files in the different repos.  Review the replies and update as needed with the new location of files. Also identify/recommend any new slackbots needed for key help documentation.

[2019-09-04 14:28] Karak888 opened #1519 "Discovery: PPMS Database of In-Network Providers for Community Cares"
**History:**
The PPMS database stores provider info from a variety of community care-based contracts within the VA.

**Problem Statement**
Some of the provider info stored in the PPMS database are considered “in-network” (approximately 9 network providers), and some are not. If the provider is not in-network, the VA will not pay for provider services.

**Questions:**
1. What do we know?
2. What ca

[2019-09-04 14:29] #658 closed

[2019-09-04 14:32] joanneesteban commented on #1171
@amycesal Also, can you add your notes from your meeting with Emily?

[2019-09-04 14:54] ricetj commented on #1498
@Jeff-Hayter
COR: Eric Hopkins
User: Jennie McGibney

[2019-09-04 14:54] ricetj commented on #1496
@Jeff-Hayter
COR: Eric Hopkins
User: Tony Williams

[2019-09-04 15:09] ricetj commented on #1126
End of Sprint

[2019-09-04 15:09] #1126 closed

[2019-09-04 15:10] ncksllvn opened #1520 "Review resource: VA.gov Content Hierarchy"
Please review the [VA.gov Content Hierarchy](https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/blob/d6a92604f5bfd62c0078f3bcb0544460d491f7c0/content-tiers-VA.gov.pdf).

### Acceptance Criteria
- [x] Confidence with material covered in resource(s)
- [ ] Comment (on this ticket) with any questions or concerns

[2019-09-04 15:10] ricetj opened #1521 "Operations VFS Support - Sprint 8"

[2019-09-04 15:12] ncksllvn opened #1522 "Review resource: VA.gov Content Hierarchy"
Please review the [VA.gov Content Hierarchy](https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/blob/d6a92604f5bfd62c0078f3bcb0544460d491f7c0/content-tiers-VA.gov.pdf).

### Acceptance Criteria
- [x] Confidence with material covered in resource(s)
- [x] Comment (on this ticket) with any questions or concerns

[2019-09-04 15:12] ncksllvn opened #1523 "Review resource: VA.gov Content Hierarchy"
Please review the [VA.gov Content Hierarchy](https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/blob/d6a92604f5bfd62c0078f3bcb0544460d491f7c0/content-tiers-VA.gov.pdf).

### Acceptance Criteria
- [x] Confidence with material covered in resource(s)
- [x] Comment (on this ticket) with any questions or concerns

[2019-09-04 15:12] ncksllvn opened #1524 "Review resource: VA.gov Content Hierarchy"
Please review the [VA.gov Content Hierarchy](https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/blob/d6a92604f5bfd62c0078f3bcb0544460d491f7c0/content-tiers-VA.gov.pdf).

### Acceptance Criteria
- [ ] Confidence with material covered in resource(s)
- [ ] Comment (on this ticket) with any questions or concerns

[2019-09-04 15:12] ncksllvn opened #1525 "Review resource: VA.gov Content Hierarchy"
Please review the [VA.gov Content Hierarchy](https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/blob/d6a92604f5bfd62c0078f3bcb0544460d491f7c0/content-tiers-VA.gov.pdf).

### Acceptance Criteria
- [x] Confidence with material covered in resource(s)
- [ ] Comment (on this ticket) with any questions or concerns

[2019-09-04 15:14] ndsprinkle commented on #1365
@YanaRoy It seems that the logging of this error message was removed in this pull request: https://github.com/department-of-veterans-affairs/vets-website/pull/10288

Should this story be changed to be about re-implementing this error message but only have it log at a more appropriate rate? Based on that PR, it sounds like the message was removed because it was logging a whole bunch.

[2019-09-04 15:25] RLHecht commented on #1417
Confirmed this is OK on live site. Closing issue.

[2019-09-04 15:25] #1417 closed

[2019-09-04 15:27] jeffgoehring commented on #1522
Reviewed

[2019-09-04 15:27] #1522 closed

[2019-09-04 15:34] markgreenburg opened #1526 "Build 'reason for appointment' page"
## Story
As a veteran, I want to indicate the broad reason I want to make an appointment so that I get the right kind of care when I arrive at the VA.

## AC
- [ ] Page allows veterans to select appointment reason from 3 static options
- [ ] Page shows after the system & facility selection page

![Screen Shot 2019-09-04 at 3 20 53 PM](https://user-images.githubusercontent.com/24251447/64288436-b9d

[2019-09-04 15:55] amycesal commented on #1171
- research template: https://github.com/department-of-veterans-affairs/vets.gov-team/blob/master/Practice%20Areas/Research/research_plan_template.md
- We are going to do research on Grey Sky with stakeholders after:
  - we figure out goals from stakeholders
  - we figure out grey sky with date holders

[2019-09-04 15:56] RLHecht commented on #1523
Read the materials provided and have no further questions.

[2019-09-04 15:56] #1523 closed

[2019-09-04 16:00] ricetj opened #1527 "Clean up and structure AWS and SSH Auth Groups"
## Problem statement
As an Ops engineer, I need to know where to add (or remove users) who request access to AWS and Socks, so that there are a clear AWS and Socks group for approved users.

## Goal
To have clear groups in the AWS and Socks Auth process when adding or removing users.

## AC
- [ ] Clear accepted plan on groups
- [ ] Groups are changed in the system

## Additional notes:

Original i

[2019-09-04 16:11] Karak888 commented on #921
I a moving this to in-progress as I have been doing work on this.  I will create a new ticket to capture the metrics workshop with Insights and Analytics team. We will have pre-work to complete as a team ahead of the 9/10/19 meeting date.

[2019-09-04 16:21] markgreenburg opened #1528 "Build appointment list selector page"
## Story
As a veteran, I want to choose whether to view my confirmed, pending, or past appointments so that I don't get confused about which appointments are scheduled successfully and which appointments aren't confirmed yet.

## AC
- [ ] Page exists on staging and not in production
- [ ] Page reflects latest mocks in https://adhoc.invisionapp.com/share/WATIINRHZ3F#/screens/379622473
- [ ] UX for

[2019-09-04 16:21] joanneesteban opened #1529 "[Analytics] VSA Global UX KPI Setting Workshop"
## User Story
As a VFS team, I need to set my KPIs so I can see what my data-driven product goals are before I begin building my veteran facing product.

## Goal
Hold KPI workshop with the VSA Global UX team and set KPI tracking expectations.

## Acceptance Criteria
- [x] Schedule KPI setting workshop with the team
- [x] Send out pre-workshop work
- [x] Host KPI setting workshop
- [x] Send KPI wor

[2019-09-04 16:22] Karak888 opened #1530 "[Research] Search Landing Page Template"
**Identify Resources:**
1. Research / UX
2. Designer

**Tasks:**
- [ ] work with analytics to identify ideal candidate for SLP Pilot
- [ ] work with Ryan to create design for SLP / after in tandem assigning content writer
- [ ] work with analytics to add all of the tnecessary tracking with launch
- [ ] use search optimized landing page that we can direct to benefit pages

[2019-09-04 16:25] jonwehausen opened #1531 "UX Standardized Datalayer Analytics"
## High Level User Story
As a FE engineer and analytics implementation specialist, I would like to to automate dataLayer needs into common UX design components in order to streamline the process for common tracking needs.

Historically, tracking needs have been identified along with product launch KPIs. While there are tracking needs that will always be specific to each product, many of the availa

[2019-09-04 16:26] YanaRoy commented on #1365
@ndsprinkle yes, it appears that the solution was temporary. Your recommendation sounds like the correct approach.

[2019-09-04 16:27] #850 closed

[2019-09-04 16:30] markgreenburg commented on #1528
@rtwell can you confirm UX for cases where one or more of these three appointment status types are empty? Should the category show at all? Do we need to indicate that an empty status type isn't clickable because it's empty? Etc. Thanks!

[2019-09-04 16:34] markgreenburg opened #1532 "Build confirmed appointments list view"
## Story
As a veteran, I want to see a list of all of my confirmed upcoming appointments so that I can know which appointments I need to go to and when they are.

## AC
- [ ] Page available on staging, not on production
- [ ] List on page contains only confirmed future appointments
- [ ] Page conforms to latest mocks: https://adhoc.invisionapp.com/share/WATIINRHZ3F#/screens/379622474
- [ ] UX for

[2019-09-04 16:35] YanaRoy opened #1533 "Review MVI diagrams for integration"
@markgreenburg commented on [Mon Jul 15 2019](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/19264)

As part of the MVI integration process, the MVI team would like us to review their diagram flow for the Add Person operation and confirm whether or not what they've written represents our goal.

AC:
- [x] Review Diagram
- [ ] Attend integration meeting and discuss

---

@Kar

[2019-09-04 16:35] #1448 closed

[2019-09-04 16:36] YanaRoy commented on #1533
@SMLuthi reviewed documentation and has let MVI know to move forward with the plan.

[2019-09-04 16:36] #1533 closed

[2019-09-04 16:40] #919 closed

[2019-09-04 16:43] markgreenburg opened #1535 "Build pending appointments list view"
## Story
As a veteran, I want to see all of my pending appointments in one place so that I can review what's still in progress and so that I can see all of the things I can follow up on.

## AC
- [ ] Page exists in staging and not in production
- [ ] List on page only shows pending (i.e. unconfirmed) upcoming appointments
- [ ] UX conforms to latest mocks: https://adhoc.invisionapp.com/share/WATII

[2019-09-04 16:44] YanaRoy opened #1536 "Treated disability names don't match disability names"
@markgreenburg commented on [Mon Jul 15 2019](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/19246)

We continue to see error reports where veterans attempt to associate a treated disability from their list of `treatedDisabilities` to their VA medical records evidence, but the submission fails due to the treated disability name not matching any of the specified disability n

[2019-09-04 16:46] Justin-Pickett commented on #1287
** Notes of call with Vets360 team on 8/30/19 **

** VFT / VA.gov Questions for Vet360: **

In terms of user flow, when should the candidate address endpoint be used, compared to validate address endpoint?

_"Ian stated Address Validation is more about someone typing in an address to ensure it’s valid or getting one from some other source like an address mailed in by someone on behalf of a Veteran

[2019-09-04 16:47] Justin-Pickett commented on #973
@andreahewitt-odd  advised to go ahead and close this for now as there is no ATO team member to conduct this session.

Closing this ticket.

[2019-09-04 16:47] #973 closed

[2019-09-04 16:47] YanaRoy opened #1537 "Form 526ez: invalid form data remnant"
@jholton commented on [Tue Apr 23 2019](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/18160)

Form found [here](https://staging.va.gov/disability/file-disability-claim-form-21-526ez/introduction) (staging).
[Error in Sentry](http://sentry.vetsgov-internal/vets-gov/platform-api-production/issues/60317/events/2431410/)
`form - The property '#/serviceInformation/reservesNatio

[2019-09-04 16:53] andreahewitt-odd opened #1538 "VSA eBenefits Onboarding"
## User Story
As a new VA.gov team member, I need to complete onboarding activities so I can successfully work on my project.

## Acceptance Criteria
- [x] Each team member has completed each item in the onboarding checklist below.

## Onboarding Checklist
- [x] Attend general onboarding meeting
- [ ] [Request Access to Tools](https://github.com/department-of-veterans-affairs/va.gov-team/blob/mast

[2019-09-04 17:01] rianfowler opened #1540 "Document on call process for high priority reviews"
## Problem

Process for handling high priority PR reviews not documented for on call persons- this can possibly delay high priority work from being deployed.

## Tasks

- [Read thread](https://github.com/department-of-veterans-affairs/vagov-content/pull/546#issuecomment-527684422)
- update OnCall playbook with instructions for how to handle high priority reviews
- In VFS-facing documentation somew

[2019-09-04 17:05] #1242 closed

[2019-09-04 17:08] rtwell commented on #1528
ah, good question! i will dive into this.

[2019-09-04 17:08] jonwehausen opened #1541 "Additional Info Component - Global Data Layer Implementation"
## User Story
As a FE, I need to be able to embed dataLayer tracking into the [additional information](https://design.va.gov/components/additional-info) so I can automate tracking and give out-of-box insights anytime this component is used in the future.

## Goal
- Establish and deploy the standard dataLayer for expands and collapses of the additional information component

## Acceptance Criteria

[2019-09-04 17:09] YanaRoy opened #1542 "Review MVI documentation for Original Claims"
As part of the MVI integration process, the MVI team would like us to review documentation for the Add Person operation and confirm whether or not what they've written represents our goal.

AC:
- [ ] Review Documentation
- [ ] Create the next set of tasks for future work
- [ ] Attend integration meeting and discuss

[2019-09-04 17:09] lihanli commented on #1135
@erikphansen  i think this is a frontend bug. the api is expecting `OVERSEAS MILITARY` for `addressType`, but the frontend is sending `OVERSEAS_MILITARY`. looks like it was accidentally changed to the wrong value in this PR https://github.com/department-of-veterans-affairs/vets-website/pull/8107/files

[2019-09-04 17:10] amycesal commented on #1171
### Updated Blue Sky

![BlueSky_01](https://user-images.githubusercontent.com/1656046/64276177-e7fa2b80-cf0c-11e9-879e-47055583688d.png)

### Blue-er Sky
![Blue-er_Sky](https://user-images.githubusercontent.com/1656046/64276215-ff391900-cf0c-11e9-84c5-df1ced419a6d.png)

[2019-09-04 17:12] #1520 closed

[2019-09-04 17:12] aeltarhoni commented on #484
Related ticket: https://github.com/department-of-veterans-affairs/va.gov-team/issues/360

[2019-09-04 17:14] aeltarhoni commented on #487
@Karak888

[2019-09-04 17:19] aeltarhoni commented on #1045
Iceboxing until work is warranted post launch.

[2019-09-04 17:20] aeltarhoni commented on #1530
Kara and Jen meeting Friday to unpack into Stories.

[2019-09-04 17:21] joanneesteban commented on #1022
@Kimberley2019 We can close this out. We'll wait on you to confirm.

[2019-09-04 17:22] joanneesteban commented on #684
Waiting on DSVA to determine how to move forward.

[2019-09-04 17:24] #684 closed

[2019-09-04 17:26] joanneesteban commented on #995
Chante created additional documents sent over to WHH for review. @clantosswett to upload documents

[2019-09-04 17:27] #1035 closed

[2019-09-04 17:28] joanneesteban opened #1543 "[Call Center] Integrate Call Center documentation into va.gov-team repo"
## User Story
As a a call center lead and member of the VSP/VSA teams, I need to be able to find information and documentation on our work with VA call centers so I can understand how my work relates to or impacts the operations of a call center.

## Goal
Work with VSP Content/IA to determine and move call center documentation into the va.gov-team repo.

## Acceptance Criteria
- [ ] Confirm with V

[2019-09-04 17:28] desireeturner opened #1544 "Request accessibility/508 review for GIBCT Colmery 107 updates (branches & extensions)"
## Team Name

BAH

## Product Description

As a user of the Comparison Tool, I need the Comparison Tool on VA.gov to support the legislative changes for Section 107 of the Forever GI Bill so that I am able to view informaiton that calculates housing based on location of the campus where the majority of my classes are taken.

## Staging URL and Credentials

staging.va.gov/gi-bill-comparison-tool/

[2019-09-04 17:28] aeltarhoni commented on #1008
Waiting on Drupal to come out of code freeze. ETA - Now and next week.

[2019-09-04 17:32] joanneesteban opened #1546 "[Call Centers] Schedule Relationship Revitalization Meetings w Call Centers"
## User Story
As a call center lead, I need to maintain and build relationships with VA call centers so I can work closely with them on improving the customer experience and get access to critical metrics and data.

## Goal
Schedule meetings with WHH, NCC, and Education.

## Acceptance Criteria
- [x] Reconnect with WHH to discuss and finalize outstanding documents (current escalation process and C

[2019-09-04 17:36] joanneesteban commented on #1505
Due by EOD Monday, 9/9.

[2019-09-04 17:39] accbjt commented on #160
@mnorthuis @gunsch Do you know where this document should live. Initially we wanted to keep all front end development documentation on the front end documentation site. We want one source of truth and we don't have a clear place for that yet. I don't know what the policy is for our GitHub and our documents needing to be in there.

[2019-09-04 17:39] joanneesteban opened #1547 "[Design] Blue Sky Feedback"
## User Story
As a Insights team member and stakeholder, I need to understand what the Product Health Tool will look like so I can prioritize the data that will be needed and run through platforms that the tool can live on.

## Goal
Continue iteration of the 'paper draft' of the product health tool.

## Acceptance Criteria
- [x] Insights team look over https://github.com/department-of-veterans-aff

[2019-09-04 17:42] #1174 closed

[2019-09-04 17:44] joanneesteban commented on #1124
Linking #1541

[2019-09-04 17:50] ricetj commented on #1468
@tskinn update description.

[2019-09-04 17:58] #1250 closed

[2019-09-04 18:00] YanaRoy opened #1549 "Review application flow"
## User Story
As a Developer, I want to explore the flow of the HLR application so that I can effectively creative the architecture of the application.

## Goal
_Gain strong understanding of effective flow_

## Acceptance Criteria
- [x] _Review paper form_
- [x] _Understand information needed from Veteran to complete form_
- [x] _Understand payload in Lighthouse submission end point_
- [x] _Define

[2019-09-04 18:05] ricetj commented on #1149
@tskinn to update.

[2019-09-04 18:12] peggygannon commented on #1040
this is live. Closing. Will check that this update is migrated into drupal during Disability UAT.

[2019-09-04 18:12] #1040 closed

[2019-09-04 18:13] meganhkelley opened #1550 "Content & IA Support Sprint 8"

[2019-09-04 18:14] jbalboni commented on #1528
Note that because we have the counts there, we should probably initiate the api calls here. However, I don't think we want to block the whole page waiting on those calls. We can just hide the counter text while the calls are returning. If user clicks through to the next page before the request is done, we can show a spinner while the call finishes.

[2019-09-04 18:14] andreahewitt-odd opened #1551 "Give high-level overview of platform architechure to caregiver"
As a member of the caregiver team, I want a high level overview of the architechure of the platform so that I can build the correct requirements to improve caregiver resources

AC:
[ ] - Have meeting on 9/6 with caregiver team, @accbjt @annaswims

[2019-09-04 18:16] andreahewitt-odd opened #1552 "Give overview of research/UX/design best practice to caregiver team"
As a UX designer on the caregiver team, I want an overview of best practices so that when I'm doing research -- I'm doing it correctly.

AC:
- [ ] meeting with caregiver team designers, @emilywaggoner, and @andreahewitt-odd

[2019-09-04 18:19] nedierecel commented on #770
@joanneesteban Also for lower priority, we should consider which users need to see the non-production Google Analytics properties. We can segment access to data based on user roles:

1. Product Managers and Owners - View Production and Non-Production data (for testing)
2. Engineering - Same as above
3. Content Producers - Production data

[2019-09-04 18:19] andreahewitt-odd opened #1553 "Onboard VSA eBenefits Team"
## Onboarding User Story
VSA eBenefits team is onboarding to work on the VSP, they need support to get up and running. This epic contains the tasks our team will perform to support them through their onboarding stage.

## Goal
Get eBenefits team up and running in their workflow as quickly as possible._

## Issues to create within this Epic

[code]

## How to configure this issue
- [ ] **Labeled wi

[2019-09-04 18:21] rroueche opened #1554 "Figure out what IA and Content needs are from VFS Teams"
## User Story
To guide teams in the right direction for content and IA, we need to give them guidance and recommendations at the right point in their process.

## Goal
Reach out / collaborate however we need to, to understand the status of all current VFS Team builds, and decide whether we need to get involved and how.

## Acceptance Criteria
- [ ] Know status of all VFS teams' work (and not in a

[2019-09-04 18:21] Justin-Pickett commented on #1391
this feature has been released. Currently in UAT. Closing this ticket.

[2019-09-04 18:21] #1391 closed

[2019-09-04 18:22] andreahewitt-odd commented on #1192
Closing because this is no longer necessary -- it's part of the full team engineering meeting.

[2019-09-04 18:22] #1192 closed

[2019-09-04 18:22] Justin-Pickett commented on #1286
@erikphansen currently working through item. Will follow up.

[2019-09-04 18:23] andreahewitt-odd commented on #1447
This turned into an epic #1490

[2019-09-04 18:23] #1447 closed

[2019-09-04 18:23] alexpappasoddball opened #1555 "Migrate to hosted Sentry"
## User Story
As a developer on VSP, I need to have sentry hosted so I can utilize the latest version to reduce maintenance burden on our teams.

## Goal
Migrate our current sentry solution to a hosted one because the “on-premise” solution (the one we use), is treated a bit like a 2nd class citizen by the Sentry development team and is not as well documented. It’s not as well maintained and typica

[2019-09-04 18:24] gunsch commented on #1241
I ran [`markdown-link-check`](https://github.com/tcort/markdown-link-check) on the entire repo to look for broken links, now that we moved everything. `find . -name \*.md -exec markdown-link-check {} \; | tee ../markdown-link-check-output`

output: [markdown-link-check-output.txt](https://github.com/department-of-veterans-affairs/va.gov-team/files/3575935/markdown-link-check-output.txt)

[2019-09-04 18:24] nedierecel commented on #1292
With the exception of Laura, team members have been added with Read access to Google Analytics.

[2019-09-04 18:24] rroueche opened #1556 "PM: Coordinate IA and Content Intro for VSA eBenefits Team"
### User Story
As a PM for a VFS team going through onboarding with VSP, I need to participate in an IA & content intro session along with relevant members of my team, so that we know best practices for IA & content and how to engage with the VSP content & IA team.

### Goal
Schedule and attend IA & content onboarding session with VSP's content and IA team and the PM, content writers, and designer

[2019-09-04 18:24] rroueche opened #1557 "PM: Coordinate IA Intro for VSA eBenefits Team"
## User Story

As a part of the VSP on-boarding process, I need participate in an IA intro session, along with any content writers and designers on my team, so I can properly be on-boarded to the eBenefits  team.

## Goal

Schedule and attend IA intro session for PM, Designers and Content Writers.

## Acceptance Criteria

IA intro has been scheduled and completed with VSP team.

## Definition of D

[2019-09-04 18:28] Justin-Pickett commented on #1332
This will need some more technical discussions to resolve this issue. @erikphansen @mojaray2k .

[2019-09-04 18:29] andreahewitt-odd opened #1558 "Get JP up and running"
AC:
- [x] Get github access
- [x] Assign this ticket to yourself
- [x] Find out what slack channels to join -- work with @accbjt
- [x] Back end is set up (Anna is a good person to talk to)
- [x] Front end is set up
- [x] Go through Harry's API video @accbjt will find

[2019-09-04 18:30] joanneesteban commented on #770
Good call, @nedierecel !

[2019-09-04 18:31] rroueche commented on #1282
Updated the title of this epic so that it's different from VSP's epic to actually onboard VAOS.

[2019-09-04 18:32] rroueche commented on #917
Updated title so this epic is clearly differentiated from VSP's epic to actually onboard this team.

[2019-09-04 18:33] rroueche commented on #879
Updated title to differentiate from VSP's epic to actually onboard this team.

[2019-09-04 18:33] rroueche commented on #863
Updated title to differentiate from VSP's epic to actually onboard this team.

[2019-09-04 18:35] Justin-Pickett commented on #1129
@lkoenigsberg will follow up with the Vets360 team on this coming weekly call.

[2019-09-04 18:36] joanneesteban commented on #1547
Looks great! Especially like the forms that roll up into the overall parent product, the thumbs up/down for opinionated knowledge, and the target lines.

One potential sentiment analysis from Foresee would be adding a word cloud.

[2019-09-04 18:37] peggygannon commented on #1237
Closing. This is complete. Meeting with Mark and Ryan happened on 9/4/19.

[2019-09-04 18:37] #1237 closed

[2019-09-04 18:37] rroueche commented on #870
@meganhkelley work with @mnorthuis to fill out the user story, goal, and acceptance criteria for this issue please!

[2019-09-04 18:38] rroueche opened #1559 "PM: Coordinate IA Intro for VAOS team"
### User Story
As a PM for a VFS team going through onboarding with VSP, I need to participate in an IA intro session along with relevant members of my team, so that we know best practices for IA and how to engage with the VSP content & IA team.

### Goal
Schedule and attend IA onboarding session with VSP's content and IA team and the PM, content writers, and designers on VAOS.

### Definition of

[2019-09-04 18:38] Justin-Pickett commented on #1331
will revisit this as a post launch direct deposit item.

[2019-09-04 18:39] rroueche commented on #1559
@meganhkelley work with @mnorthuis to fill out the user story, goal, and definition of done for this issue please!

[2019-09-04 18:41] YanaRoy commented on #1340
Done

[2019-09-04 18:41] andreahewitt-odd opened #1560 "[Repo migration]: Move/Audit Product Support content to va.gov-team"
Audit/move product support content on va.gov-vfs-teams and vets.gov-team to va.gov-team

AC:
- [ ] Create a list of all the content - @accbjt. @mnorthuis might have an excel template - 5
- [ ] Audit that list of content for what needs to move/what can stay and never move - 3
- [ ] Decide where it's moved to -- meeting with Mikki/Matt? - 3
- [ ] Move content - 2

[2019-09-04 18:41] YanaRoy commented on #1334
Done.

[2019-09-04 18:41] Justin-Pickett commented on #1433
@tlei123 can you validate this has been fixed?

[2019-09-04 18:41] rroueche commented on #1241
Creating another issue to correct the broken links w/the info Andrew shared.

[2019-09-04 18:41] #1241 closed

[2019-09-04 18:41] YanaRoy commented on #1338
Done.

[2019-09-04 18:41] #1183 closed

[2019-09-04 18:42] YanaRoy commented on #1339
Done.

[2019-09-04 18:42] peggygannon commented on #1078
Closing. This is now fixed on the live site. Will need to check this has migrated over into drupal during Disability UAT.

[2019-09-04 18:42] #1078 closed

[2019-09-04 18:43] rroueche opened #1561 "Correct critical broken links across va.gov-team repo"
@meganhkelley and @mnorthuis to fill out user story, goal, and dod

[2019-09-04 18:43] YanaRoy commented on #1341
Done.

[2019-09-04 18:43] rroueche commented on #1561
From Andrew Gunsch:

I ran [`markdown-link-check`](https://github.com/tcort/markdown-link-check) on the entire repo to look for broken links, now that we moved everything. `find . -name \*.md -exec markdown-link-check {} \; | tee ../markdown-link-check-output`

output: [markdown-link-check-output.txt](https://github.com/department-of-veterans-affairs/va.gov-team/files/3575935/markdown-link-check-o

[2019-09-04 18:44] YanaRoy commented on #1342
Done.

[2019-09-04 18:45] jonwehausen commented on #1547
Fantastic so far! Really starting to convey ROI.

_Few more pieces of feedback / ideas:_
- Setting up thresholds for some of these charts so we can be more proactive instead of reactive if metrics start to reach certain peaks/valleys
- I think the milestone portion is a great idea > give a greater level of detail of how certain functionality is influencing outcomes and if that functionality was wo

[2019-09-04 18:50] rroueche commented on #1444
Let's target this for Sprint 9, bc I don't think leadership will have bandwidth to collab on this this sprint.

[2019-09-04 19:13] lkoenigsberg commented on #1129
@clantosswett , can you provide us with a few users who've experienced this?  We are talking with our partners at Vet360 to try and troubleshoot.

[2019-09-04 19:18] nedierecel commented on #1171
@amycesal A few observations for Blue (and Bluer) Sky:

1. Users - We occasionally get asked to provide "# of users" on the product. This could be a new metric to add.
2. Forsee - Within the other trendlines, the historical data is on the left, but in this reportlet it is on the right.
![image](https://user-images.githubusercontent.com/24525739/64283958-7dee8000-cf26-11e9-9bf0-d86eb4258275.png)
3.

[2019-09-04 19:51] markgreenburg opened #1562 "Create Community Care / VA care selection page"
## Story
As a veteran, I want to be able to choose between VA and Community Care when both are available.

## AC
- [ ] Page doesn't show unless veteran is eligible for Community Care
- [ ] Confirm behavior when either CC or VA doesn't have a matching facility with the type of care previously selected

![Screen Shot 2019-09-04 at 2.45.28 PM.png](https://images.zenhubusercontent.com/59c29173b0222d5d

[2019-09-04 19:55] markgreenburg opened #1563 "Create CC audiology special case page"
## Story
As a veteran who's selected audiology at Community Care facility, I want to be able to specify whether I need a hearing aid or audiology appointment.

## AC:
- [ ] Page shows for veterans who've previously selected CC and audiology care type
- [ ] Selection here maps to the correct care ID for either community care audiology or hearing aid
- [ ] Page doesn't show when anything other than

[2019-09-04 19:59] desireeturner commented on #1544
@1Copenut We're ready for you to perform your accessibility review of our updates to the GI Bill Comparison Tool around Colmery Section 107. Once you've had a chance to review this request, can you provide us with a rough estimate on when you'll have time to complete it? Thank you!

[2019-09-04 20:00] markgreenburg opened #1564 "Build VA facility selection page"
## Story
As a veteran, I want to be able to choose which VA healthcare system and facility I want to visit for my appointment.

## AC
- [ ] Page shows all registered healthcare systems
- [ ] Page only shows 'select healthcare system' option to veterans who are registered at multiple
- [ ] Page shows all VA locations that have a given selected service once a system is selected
- [ ] Confirm UI for

[2019-09-04 20:00] andreahewitt-odd opened #1565 "Send VSA eBenefits Welcome email"
AC:
- [ ] Welcome email is tailored to the team
- [ ] Email is sent

[2019-09-04 20:02] andreahewitt-odd opened #1566 "Create a place to store all relavent documents for VSA eBenefits team"
AC:
- [ ] Create drive folder
- [ ] Create github folder

[2019-09-04 20:08] andreahewitt-odd opened #1567 "VSA eBenefits design break out meeting"
Aricka Lewis is the only designer on this team
https://docs.google.com/spreadsheets/d/1TV3VaGQyNDfZ_6Bn5Q0SPTx4VLB5aovTbW_i4gTuH9I/edit#gid=0

General onbaording is Sept. 9th so just needs to be scheduled after that.

[2019-09-04 20:10] nedierecel commented on #1125
@joanneesteban @jonwehausen For visibility, I rewrote the acceptance criteria to set the expectation that we wanted to identify 1 component for unauthenticated and 1 component within tools to streamline.

[2019-09-04 20:11] andreahewitt-odd opened #1568 "VSA eBenefits development break out meeting"
Backend Engineer	-- Kathleen Crawford
Frontend Engineer	-- Micah Chiang
https://docs.google.com/spreadsheets/d/1TV3VaGQyNDfZ_6Bn5Q0SPTx4VLB5aovTbW_i4gTuH9I/edit#gid=0

General onboarding is Sept 9th so just needs to be scheduled for after that @accbjt.

[2019-09-04 20:12] delli-gatti-michael commented on #1251
Passes local testing

[2019-09-04 20:31] andreahewitt-odd commented on #1009
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/working-with-vsp/onboarding/PM-Initial-Meeting.md

[2019-09-04 20:31] #1009 closed

[2019-09-04 20:35] andreahewitt-odd opened #1569 "Create a list of all content in old repos"
As a member of the product support team, I want a list of all the documentation relevent to our team stored in the va.gov-vfs-teams and vets.gov-team repos so that I can make decisions about what to move to the va.gov-team repo.

- [ ] Create a list of all the content. @mnorthuis might have an excel template

[2019-09-04 20:40] andreahewitt-odd opened #1570 "Audit list of Product Support content from formerly used repos"
As a member of the product support team, I want to audit all the pages in the va.gov-vfs-teams and vets.gov-team repos so that we know what to move to the va.gov-team repo.

- [ ] meet (scheduled for 9/11) to make decisions about what should be moved/what should stay

[2019-09-04 20:43] mnorthuis commented on #135
I have updated the current README.md so the description and links are correct.  Work to further refine how we want the "introduction" to VSP to be represented on the file can be done in future sprint in collaboration with VSP leadership team.

Closing this issue.

[2019-09-04 20:43] #135 closed

[2019-09-04 20:46] andreahewitt-odd opened #1571 "Decide where Product Support content should be moved"
As a product support team member, we need to decide where the content should be moved in the new repo so that we can accurately move it.

- [ ] discuss where to move it
- [ ] possibly meet with content team if we have questions

[2019-09-04 20:47] andreahewitt-odd opened #1572 "Audit Product Support in vets.gov-team"
As a member of the product support team, I want all the content consolidated in one repo so that I don't have to get access to many repos.

AC:
- [x] 508 Content (trevor)
- [x] QA content (peter)
- [ ] Engineering (Dan)
- [x] Engineering (JP)
- [x] Everything else (Andrea)

Here is all the content that needs to be audited by us broken up by tabs with our names: https://docs.google.com/spreadsheets

[2019-09-04 20:49] andreahewitt-odd commented on #1189
@emilywaggoner  There's one other designer on that team also: https://docs.google.com/spreadsheets/d/1O-ESPJIJghOLv_7qnglOkxvBntxxKzUnY9TBb5ZNZF8/edit?usp=drive_web&ouid=115401213582977368894

[2019-09-04 20:51] andreahewitt-odd opened #1573 "VSA eBenefits all team onboarding"

[2019-09-04 20:54] markgreenburg opened #1574 "Build 'how would you like to be seen' page"
## Story
As a veteran, I want to choose between phone, office, and telehealth appointment types so that I can get care in a way that is fastest and most convenient for me.

## AC
- [ ] Page shows after 'reason for appointment' page
- [ ] Page asks veterans to select between 3 static options per screenshot below

![Screen Shot 2019-09-04 at 3.51.56 PM.png](https://images.zenhubusercontent.com/59c29

[2019-09-04 20:55] #1469 closed

[2019-09-04 21:02] markgreenburg opened #1575 "Build 'appointment time preferences' page"
## Story
As a veteran, I want to recommend some health appointment times to scheduling clerks so that I can get healthcare at a time that is convenient for my schedule.

## AC
- [ ] Page shows after 'how would you like to be seen' page
- [ ] Page asks veterans to provide one preferred appointment time (required) and up to 2 additional optional times that would also work
- [ ] Page conforms to scre

[2019-09-04 21:24] markgreenburg opened #1576 "Build 'review your appointment' page"
## Story
As a veteran, I want to be able to review the details that I've entered regarding my appointment request so that I can be sure that what I'm submitting is accurate.

## AC
- [ ] Page shows after 'where can we call you page' (which shows after the 'preferred appointment dates' page, btw)
- [ ] 'Edit' links are deep links that go to the relevant pages in the form flow
- [ ] Page conforms to

[2019-09-04 21:29] markgreenburg opened #1577 "Create confirmation pages"
## Story
As a veteran, I want visual confirmation of my appointment or request so that I know it was submitted to the VA successfully.

## AC
- [ ] Page shows after 'review' page
- [ ] Page conforms to mock screenshot below
- [ ] Page has buttons that link to start of appointment flow & appointments list pages (per mock)

![Screen Shot 2019-09-04 at 4.27.03 PM.png](https://images.zenhubusercontent

[2019-09-04 21:30] 1Copenut commented on #487
@Karak888 && @aeltarhoni I think the issue captured here might have to do with the [Downshift](https://github.com/downshift-js/downshift) implementation for the Community Care typeahead. It has its own set of internal actions that might be crossing paths with some of our custom code. That's a guess, but I feel a decent one since the third option is a `<select>` menu or disabled unless users search

[2019-09-04 21:36] markgreenburg opened #1578 "Build 'confirm address' page"
## Story
As the VA, I want to enable veterans to confirm & update their address on file so that we can determine their Community Care eligibility (based on drive time) accurately

## AC
- [ ] Page shows existing address on file from PSSG / E&E (i.e., the address with which a veteran enrolls in healthcare)
- [ ] Page allows veteran to update the address on file that's used for CC drive time eligibi

[2019-09-04 21:39] 1Copenut commented on #1544
@desireeturner Thank you for the confirmation. I'll give it a look tomorrow and get you an estimate of the timeline to complete.

[2019-09-04 21:50] 1Copenut commented on #1045
Thanks all. I'm happy to discuss further as warranted. I can appreciate the user model defined above, and know we'll find a solution that checks all the boxes.

[2019-09-04 22:09] rianfowler opened #1579 "Enforce CSP in all x.VA.gov domains"
@jkassemi commented on [Tue Sep 11 2018](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/13054)

After reporting is gathered from #13053, we will need to evaluate and adjust our content security policies to permit all valid production requests.

## Risk if not complete

CSP is like a client-side firewall. We open up a vector for security issues on the client.

---

@rianfowl

[2019-09-04 22:12] rianfowler commented on #1579
@gunsch CSP issue. I think the tools team can keep it in the backlog until we get back to full strength on devops. Would be really interested in your review of our existing rules.

cc @brandonrapp

[2019-09-04 22:29] markgreenburg opened #1580 "Build 'confirmed appointment details' page"
## Story
As a veteran, I want to be able to see the details for any of my confirmed upcoming appointments so that I know where to go and when.

## AC
- [ ] Page shows after a veteran clicks on details button for any confirmed appointment
- [ ] Page does NOT include 'cancel' or 'reschedule' links (tbd in separate tickets)
- [ ] Page conforms to latest mocks below
- [ ] Any risks or data gaps docume

[2019-09-04 23:06] markgreenburg opened #1581 "Create appointments endpoints"
## Story
As a developer, I want to use appointments end points so that I can build a front end that integrates with vets-api and has mock appointment data.

## AC
- [ ] 5 'appointments' endpoints exist in vets-api per https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/appointments/engineering/api-contract.yml
- [ ] Mock data exists for all 5 endpoints

[2019-09-04 23:11] markgreenburg opened #1582 "Build /requests GET endpoint"
## Story
As a backend developer, I want to be able to call a service to get a list of veterans' pending appointments so that the front end can support showing veterans a list of their existing appointment requests.

## AC
- [ ] Staging data recorded to cassettes
- [ ] `/requests` `GET` endpoint exist in vets-api
- [ ] Tests, specs, and swaggers exists for both endpoints

[2019-09-04 23:35] cvalarida opened #1583 "Improve CMS feature flag handling"
## User Story
As a front end engineer on VA.gov, I need my PR builds to pass regardless of any query flags so I can do my job unhindered.

As a CMS engineer, I need to be notified when a query flag is missing so I can add it in.
- So we don't have any "accidentally" false query flags
- Might be hard to catch regressions otherwise

## Acceptance Criteria
- [ ] No builds fail when a query flag is re

[2019-09-04 23:36] cvalarida commented on #1583
[This branch](https://github.com/department-of-veterans-affairs/vets-website/pull/10592) is outputting the log to a file and parsing it for a list of broken links. If we wait until after it's merged, we can piggyback off that logic pretty easily (I hope).

[2019-09-04 23:39] joanneesteban opened #1584 "[Research] Create Grey Sky Product Health Research Plan"
## User Story
As a Insights team member, I need to understand the research plan moving forward for the "grey sky" product health tool that will go into production so I can understand what the stakeholder goals are for the tool.

## Goal
Create a robust research plan for the "grey sky" product health tool.

## Acceptance Criteria
- [x] Create and document "grey sky" research plan
- [x] Create and d

[2019-09-04 23:39] joanneesteban commented on #1584
Stakeholder should include product owners/manager as well as DSVA goals.

[2019-09-04 23:44] cvalarida opened #1585 "Don't break the feature branch builds for broken links"
## User Story
As an engineer on vets-website, I need my builds to pass if I didn't introduce breaking changes so I can do my job unhindered.

### Background
Great user story, eh?

Currently, whenever broken links are introduced into the CMS, the build script fails the prod build for any branch. We often can't merge PRs because of broken links.

## Acceptance Criteria
- [ ] PRs aren't blocked by br

[2019-09-05 00:24] joanneesteban commented on #1547
For more "Blue-er Sky," here are some additional notes:

- On the KPI section, adding green/yellow/red light (or something more accessible) to each KPI, indicating if they are on the way to meeting their goals or not
- On the top, some sort of score or indicator of how the product is doing overall (super blue sky, like if we had machine learning or something to quantify problem areas on the produc

[2019-09-05 00:25] micahchiang commented on #1504
Created https://github.com/department-of-veterans-affairs/vets-website/tree/1504-build-locally-without-socks to capture the work for this.

@cvalarida - wondering if I can get your input on my latest commit. I've added a check to see if a cached feature-flag.json file exists. If it doesn't, then use the old featureFlag.js file. This probably isn't an optimal approach, since it seems we want to mov

[2019-09-05 00:55] tlei123 commented on #1433
@1Copenut  , feel free to just Close* this bug if you're satisfied with my new findings...

The **button-widths are now consistent on Staging** \[after styling bugfix [#19550](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/19550)].

They're either both auto-width side-by-side, or both full-width vertically-stacked, depending on OS/browser \[see screenshot below]:

<img widt

[2019-09-05 00:58] cvalarida commented on #1504
:wave: Hey @micahchiang! Thanks for looking into this.

As of today, we're planning on doing things a little differently. The short story is we'll stop failing builds for missing feature flags. (https://github.com/department-of-veterans-affairs/va.gov-team/issues/1583)

For this PR, what I'd recommend is changing up [that Proxy](https://github.com/department-of-veterans-affairs/vets-website/blob/m

[2019-09-05 12:16] mnorthuis commented on #1569
Template to use, fill out as best you can, let me know if there are questions or you need help.

[Repo Content Audit.xlsx](https://github.com/department-of-veterans-affairs/va.gov-team/files/3579221/Repo.Content.Audit.xlsx)

cc @thatmattjohnson

[2019-09-05 12:35] clantosswett commented on #1129
Definitely. I have a whole spreadsheet full of users with this issue. I'll provide to you separately for privacy reasons.

[2019-09-05 14:11] nedierecel commented on #1547
This is cross-posted from #1171 - @amycesal A few observations for Blue (and Bluer) Sky:

1. Users - We occasionally get asked to provide "# of users" on the product. This could be a new metric to add.
2. Forsee - Within the other trendlines, the historical data is on the left, but in this reportlet it is on the right.
![image](https://user-images.githubusercontent.com/24525739/64283958-7dee8000-c

[2019-09-05 14:16] joanneesteban opened #1586 "Analytics Reporting Request for Chris J"
# Metrics Reporting Request

## What this form is for

Use this template to request performance, usability, or outcomes va.gov metrics that is difficult to access or that needs analytics interpretation.

Insights will usually provide data reports within the current sprint, but if there is time-sensitivity, please note them in "additional comments."

## Instructions

Please fill out the following s

[2019-09-05 14:25] mojaray2k commented on #1330
@1Copenut  Where is this page? I am looking at the screenshot but cannot find the page.

[2019-09-05 14:30] andreahewitt-odd commented on #1565
Sent 9/5

[2019-09-05 14:30] #1565 closed

[2019-09-05 14:43] rianfowler opened #1587 "Code Climate updates for `vets-website`"
# Overview

Code Climate is part of `vets-website` and is using its default ruleset. We should capture instances where Code Climate is not helpful to inform updates to Code Climate's config.

- feedback should be provided in the comments
- ideally users are evaluating code climate with the [browser plugin](https://codeclimate.com/browser-extension/) active

[2019-09-05 14:44] ncksllvn commented on #802
I'm very sadly going to icebox this....I think the pull request I opened it is good, but it would make our tests stricter, and I think we need to rethink some things conceptually with how we validate data from the CMS. So, hesitantly, iceboxing....

[2019-09-05 14:46] #1071 closed

[2019-09-05 14:47] joanneesteban opened #1588 "Analytics Reporting Request for OIT"
# Metrics Reporting Request

## What this form is for

Use this template to request performance, usability, or outcomes va.gov metrics that is difficult to access or that needs analytics interpretation.

Insights will usually provide data reports within the current sprint, but if there is time-sensitivity, please note them in "additional comments."

## Instructions

Please fill out the following s

[2019-09-05 14:53] markgreenburg opened #1589 "Build 'Pending Appointment Details' page"
## Story
As a veteran, I want to see the details of the appointments that I've requested so that I can check on their status and see what I entered previously.

## AC
- [ ] Page shows when veteran clicks 'view details' in 'pending appointments' list
- [ ] Page conforms to latest mock (screenshot below)
- [ ] Page does NOT include reschedule / cancel appointment

[2019-09-05 15:21] #1525 closed

[2019-09-05 15:38] andreahewitt-odd commented on #1568
Schedule for 9/11 at 2:30 CST

[2019-09-05 15:39] jefflbrauer commented on #1313
@1Copenut pls review again :)
cc @ethanteague

[2019-09-05 15:40] jefflbrauer commented on #984
@1Copenut pls review this again.

[2019-09-05 15:40] jefflbrauer commented on #981
@1Copenut please review again

cc @ethanteague

[2019-09-05 15:41] markgreenburg commented on #1581
Need to understand vaos-api

[2019-09-05 16:10] ncksllvn opened #1590 "VFS Support: Create (if necessary) a redirect for /beta-enrollment/all-claims/"
https://www.va.gov/beta-enrollment/all-claims/ is no longer necessary and should be removed. However, we may need a redirect in its place.

I think this page impact is very minimal, but raising this because we do have a redirect in place for https://www.va.gov/beta-enrollment/claim-increase.

[2019-09-05 16:12] mnorthuis commented on #1560
Template to use while auditing/documenting files.  For any files in va.gov-vfs-teams that are not planned to be moved/copied into va.gov-teams, we will need to determine their fate, as that repo will be archived/deprecated.

[Repo Content Audit.xlsx](https://github.com/department-of-veterans-affairs/va.gov-team/files/3580207/Repo.Content.Audit.xlsx)

cc: @thatmattjohnson

[2019-09-05 16:17] andreahewitt-odd commented on #1567
Scheduled for 9/13

[2019-09-05 16:51] rianfowler commented on #1587
Items to evaluate
- graphQL queries are generating unhelpful suggestions in graphQL query files- consider excluding them or adjusting rules to accommodate

[2019-09-05 16:53] mnorthuis commented on #160
I'm not sure which of all the documents you are asking about, but agree with @gunsch, its a lot of links to a lot of different places.  VA.gov-teams should be where we place all non-code documentation that helps the VFS teams learn how to work on the platform.  That said, there is so much stuff in so many repos that I'm not sure that is entirely realistic for all things.

It would be really helpfu

[2019-09-05 16:58] mnorthuis commented on #1444
We will likely start the auditing process and getting teams to identify key docs this sprint as they are available.  The deeper conversations will be around historical content such as product designs, research, content, strategy, etc.

[2019-09-05 17:04] mnorthuis opened #1591 "Retire Disability DBQ Pages"
These legacy pages were rewritten and queued up for launch.  Stakeholders have informed us that these pages are planned to be retired and the rewritten content should not be launched and links to it should be removed.

Document all links to be removed
Update site map
Update master URL mapping

Reference issue https://github.com/department-of-veterans-affairs/vets.gov-team/issues/16973

[2019-09-05 17:14] markgreenburg opened #1592 "Build 'community care' request & appointment detail page mocks"
## Story
As a front end developer, I need to understand the data and UI to show in the appointment list and details views for pending CC appointments.

## AC
- [ ] Mocks exist for  CC requests list & details views (to be attached in this ticket)

The existing pending list doesn't differentiate between VA & CC appointments:
<img width="725" alt="Screen Shot 2019-10-16 at 10 03 11 PM" src="https://u

[2019-09-05 17:16] mnorthuis commented on #845
@andreahewitt-odd/ @thatmattjohnson  - a small change to where to put this doc based on our convo of splitting the "about" and "working with" type documentation.

Doc can go here:  /platform/working-with-vsp/onboarding

[2019-09-05 17:17] markgreenburg opened #1593 "Update appointment details page with Community Care"
## Story
As a veteran, I want to see details for my pending and confirmed community care appointments so that I can keep track of all of my healthcare appointments in one place.

## AC
- [ ] Pages exist for confirmed and pending community care appointment details
- [ ] Pages show when 'view details' links clicked in the pending & confirmed appointment lists
- [ ] Pages conform to mocks being worke

[2019-09-05 17:22] markgreenburg opened #1594 "Discovery: Telehealth and Express Care"
This is a placeholder ticket to think through the appointment flows and requirements (e.g., video links) we'll have to understand when we integrate telehealth and express care appointment types.

[2019-09-05 17:31] joanneesteban commented on #1588
- Average page load time (all VA.gov) for the month of August 2019 = 5.32 seconds [link](https://analytics.google.com/analytics/web/#/report/content-site-speed-overview/a50123418w177519031p176188361/_u.date00=20190601&_u.date01=20190630/)
- The system availability (percentage) for the month of August 2019 = 99.96% [link](http://grafana.vfs.va.gov/dashboard/db/ww-uptime-report-draft?orgId=1&from=no

[2019-09-05 17:35] jbalboni commented on #1532
FYI, that screenshot is for the provider flow, for the type of care flow that we're building the heading is the type of care, rather than the provider name.

[2019-09-05 17:37] jbalboni commented on #1580
I don't think we have the address for the facility, but we have the id, so we'll probably need to fetch the address from the current facilities endpoint and display a map that way.

[2019-09-05 17:38] ricetj commented on #1497
Hey @omgitsbillryan, can we close this one out?

[2019-09-05 17:46] rianfowler commented on #1408
Adding a document to the client documentation site that we can use as a source for the onboarding stuff: https://github.com/department-of-veterans-affairs/veteran-facing-services-tools/pull/164

[2019-09-05 18:01] Karak888 opened #1595 "[Epic] Style guide edits to live pages in Drupal"
## High Level User Story
As a content editor without Drupal access, I need to keep a list of style guide edits that need to be made to live pages, so that someone with access can update in Drupal, and we don't lose track of edits needed.

## Goal
Capture list of changes  (as tasks / stories) that need to be made to live pages to fix style guide discrepencies so that all live pages of VA.gov adhere

[2019-09-05 18:27] tlei123 commented on #1051
@lkoenigsberg @Samara-Strauss , considering the apparent VA-network technical barriers, I thinking we should just go with temporary contractor-side hosting of the online Matrices, attaching the actual Excel spreadsheets to the QA tickets once QA testing's complete.  I.e., the Matrices would only be online-editable during development & testing.

Although I think VA-side MS OneDrive hosting of these

[2019-09-05 18:41] ricetj opened #1596 "Investigate why the CMS CD to DEV job is not Triggering anymore."
## Problem
CD to DEV job http://jenkins.vfs.va.gov/job/cms/job/rmw-meta-build-deploy-env/ is not triggering on pushes to develop anymore.

[2019-09-05 18:43] markgreenburg opened #1597 "[Discovery] user requirements for VAOS"
## Story
As a developer, I want to understand what the access requirements are for the VAOS tool so that I can build a gating mechanism to ensure that only veterans who are supposed to be able to use the tool can use the tool.

## AC
- [ ] Confirm & document access requirements for VAOS in GH (building on discovery work already done in #946 and #947)
- [ ] Update #1598 with the access requirements

[2019-09-05 18:44] markgreenburg opened #1598 "Build mocks / prototypes for states where veterans aren't able to schedule online"
## Story
As a front end developer, I want to know what to show veterans when they don't meet the access requirements of VAOS so that I can build the UIs to address those scenarios.

## AC
- [ ] Mocks built for all sad paths that are documented in #1597
- [ ] Mocks uploaded to GH

[2019-09-05 18:45] markgreenburg opened #1599 "Gate VAOS tool access"

[2019-09-05 18:46] markgreenburg opened #1600 "Dev: Gate VAOS on VA.gov and build UIs for error states"
## Story
As a veteran, I don't want to go through the VAOS scheduling flow if I'm not actually allowed to use the online scheduling tool so that I don't waste my time. If I'm not allowed to use the tool, I want to know why so that I can correct the problem.

## AC
- [ ] Veterans who do not meet criteria documented in #1597 should not be able to start the online scheduling process
- [ ] UI exists f

[2019-09-05 18:46] markgreenburg opened #1601 "Gate access to VAOS tool on VA.gov"
As a veteran, I want to only go through the steps to schedule an appointment if I'm eligible, so that I don't waste my time. If I'm not eligible to use online scheduling, I want to know why that is and how to fix it so that I can start scheduling my appointments online.

[2019-09-05 18:53] peggygannon commented on #1195
@ncksllvn @jenniferlee-dsva OK, thank you. I've updated the content resources that are listed under the platform folder. They should be in parity with the content resources for the Global-UX team.

https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/content/README.md

![2019-09-05](https://user-images.githubusercontent.com/17554224/64370630-b4360900-cfd3-11e9-8f19-f2

[2019-09-05 18:55] #1067 closed

[2019-09-05 18:55] peggygannon commented on #1247
This is complete. I've been working with Nick and Jen Lee on resource parity (via https://github.com/department-of-veterans-affairs/va.gov-team/issues/1195)

[2019-09-05 18:55] #1247 closed

[2019-09-05 18:57] erikphansen commented on #1135
@clantosswett A fix for this has been merged. Is there any way that you can validate that things work in prod now?

[2019-09-05 19:27] #1094 closed

[2019-09-05 19:28] 1Copenut commented on #1544
@desireeturner Looking at the test plan and staging v. production, I should be done auditing by EOD Tuesday, September 10th. Will advise if that date changes plus or minus.

[2019-09-05 19:30] joanneesteban opened #1603 "[Analytics] Gather Monthly GA Data"
## User Story
As a product owner, I need to easily see how the tools I own are performing for the last month so I can make informed and timely product decisions..

## Goal
The metrics on the shared vets/va.gov metrics sheet are completed.

## Acceptance Criteria
- [ ] Fill out the July, August and September GA metrics for each product
- [x] Fill out the July and August Foresee metrics
- [ ] Fill o

[2019-09-05 19:46] kfrz opened #1604 "[Discovery] Inventory metrics and alarms for Sentry health-checks"
## Background
Sentry was basically not sending any events on 09/05/2019 because of a queue overflow - this has occurred in the months following without much real action to address the core issue.

We should ensure we have proper observability and monitoring for our utility tools such as Sentry.

When the Sentry client fails to receive event data for a suspicious period of time, an alarm should tri

[2019-09-05 19:51] ricetj opened #1605 "Create CMS Daily Autodeploy Jenkins Job"
Configure Jenkins Prod deploy to run on cron.

[2019-09-05 19:55] ncksllvn opened #1606 "Fix the CMS Preview Server"
The CMS Preview Server (used for content editors to preview their changes before actually publishing them to the live website) is currently broken in PROD. We need to fix ASAP.

Example page showing an error -

![image.png](https://images.zenhubusercontent.com/59cb9de1b0222d5de47953d8/0bfb31a3-00fd-401d-a8d8-360967c1661c)

[2019-09-05 21:12] ncksllvn commented on #1131
This was done here, https://github.com/department-of-veterans-affairs/veteran-facing-services-tools/pull/157/files#diff-b9cfc7f2cdf78a7f4b91a753d10865a2R107.

Thanks @accbjt for unknowingly doing this ticket! :smile:

[2019-09-05 21:13] #1131 closed

[2019-09-05 21:48] 1Copenut commented on #1313
@jefflbrauer I verified this on Staging in my local IE11 box. Am not seeing the error any more and IE11 is sorting pages as expected. Moving this one to close.

[2019-09-05 21:48] #1313 closed

[2019-09-05 21:53] swirtSJW commented on #887
Sorry, just checking in on this again.  Is there anything we can do to support this or help prioritise this?

[2019-09-05 21:57] 1Copenut commented on #981
@jefflbrauer The Next, Previous, First and Last links are working mostly as expected. When I click them or press `ENTER` using the keyboard, focus is moved up to the number of results.

There are a few items that we should address before closing this ticket:

1. Clicking the page numbers changes the URL in the address bar, but does not load the next / previous batch of results. This is happening w

[2019-09-05 21:58] 1Copenut commented on #984
@jefflbrauer This issue looks good, and is announcing changes to all three assistive devices I tested. I'm going to close it, however, keeping #981 open for another review. Please see my comment https://github.com/department-of-veterans-affairs/va.gov-team/issues/981#issuecomment-528606078 for context.

[2019-09-05 21:59] #984 closed

[2019-09-05 22:27] joanneesteban commented on #996
@amycesal Are these getting scheduled? Let me know if you need assistance with who the SMEs are and scheduling these meetings.

[2019-09-05 22:31] joanneesteban commented on #855
@amycesal @clantosswett Making sure this is getting scheduled.

[2019-09-05 22:53] cvalarida opened #1607 "Cache the content without needing the query flag states"
## Background
- The cache is saved in a file with a name like `vagovdev_{md5_hash}.tar.bz2`
- This hash is derived from the full GraphQL content query
- The query can change based on the query flags

## Problem
A change in the query flags bust the content cache, causing it to be "unfindable." (I'm not above making up words!)

**Note:** The query flags are cached alongside the query result, so we d

[2019-09-06 02:42] #1599 closed

[2019-09-06 03:09] markgreenburg commented on #1300
Closing because the new prototypes have this UI split into two pages, so this is now a dupe of #1526 and #1574

[2019-09-06 03:09] #1300 closed

[2019-09-06 03:45] markgreenburg commented on #936
Lauren updated [conversation guide](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/appointments/research/aug19-usability-testing-new-ux/convo-guide-VAOS.md), [research plan](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/appointments/research/aug19-usability-testing-new-ux/research-plan-aug19-usability.

[2019-09-06 03:46] markgreenburg commented on #936
Also documenting that the latest prototypes are coming from the [Labor Day sketch file](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/appointments/design/VAOS%20Labor%20Day%20Flows.sketch)

[2019-09-06 03:48] markgreenburg commented on #1128
Perhaps descoping direct scheduling given new deadlines around community care, so going to move this back to backlog.

[2019-09-06 03:58] markgreenburg opened #1608 "Discovery: Community Care Appointments Data"
## Story
As a developer, I want to understand which service(s) Community Care appointment data comes from, what data fields are available, and any business rules surrounding this appointment type so that I can build a front end and service layer that will allow veterans to easily see all of their community care appointments & details.

## AC
- [x] Documentation on how to get confirmed & pending CC

[2019-09-06 03:59] markgreenburg opened #1609 "Discovery: Community Care Addresses"
## Story
As a developer, I want to know where the address used by CCE API to calculate drive time comes from so that I can understand whether we can pull this information and / or allow veterans to update it in case it's not correct.

## AC
- [ ] Ultimate source for CCE API drive time address documented in GH
- [ ] Update pathways for this address documented in GH (including info about any latency

[2019-09-06 03:59] markgreenburg opened #1610 "Discovery: Community Care facility locator"
## Story
As a developer, I want to understand how to look up CC facilities when a veteran wants to make a CC appointment request so that I can build this functionality into the new UI.

## AC
- [ ] How to look up CC facilities with a given type of care in a given radius from existing residential address (which address is that specifically?) specifically for the purpose of requesting an appointment

[2019-09-06 03:59] markgreenburg opened #1611 "Community Care Discovery"
As a developer, I want to understand the Community Care business logic, backing services, and veteran use-cases so that I can integrate Community Care appointment requests into the new VAOS tool while minimizing risk.

[2019-09-06 04:17] markgreenburg opened #1612 "Discovery: Community Care Eligibility"
## Story
As a developer, I want to understand how to integrate with the new Community Care eligibility API, how to tell if someone is eligible for CC or not, and what eligibility data is returned from the service so that I can build a UI for veterans that will only give them CC options when they should be available, and can give them helpful information about their eligibility status as needed.

#

[2019-09-06 13:00] ricetj commented on #1147
Done

[2019-09-06 13:00] #1147 closed

[2019-09-06 13:28] amycesal commented on #996
I was waiting to have a research plan and a grey sky prototype to actually schedule these.

Although creating a list of contacts would be great.
- Chris
- Leah
- Rachel
- Andrea
- Matt?
- Kevin?

[2019-09-06 13:40] joanneesteban commented on #996
@amycesal I believe this issue was to validate the data that could be used on the prototype, which should be able to happen concurrently. So that would be:
Chante - Call Center
Taylor Skinner (& TJ) - Grafana
Jeff Barnes - Foresee
Nedie - Google Analytics

And then users/stakeholders would be:
DSVA: Leah, Chris, Patrick
Leadership: Rachael, Andrew G, Emily
Product:
- Andrea Schneider
- Matt
- Kevi

[2019-09-06 13:45] mnorthuis commented on #1561
Corrected broken links in key onboarding and practice area files.  Closing issue.

[2019-09-06 13:45] #1561 closed

[2019-09-06 14:06] alexpappasoddball commented on #887
@cvalarida Per the global-ux team, they are looking in the #cms-general channel for broken links update.  I know in the description is states to post to #cms-content & #cms-engineering.  @ncksllvn do you have any reason we choose the two channels in the description, any objection to posting to the general channel instead?

[2019-09-06 14:11] markgreenburg opened #1613 "Build community care preference page"
## Story
As a veteran, I want to be able to let the VA know that I have a preferred community care provider when I'm scheduling a CC appointment so that I can hopefully get care with a provider I already trust.

## AC
- [ ] Page shows for veterans who have chosen to get Community Care
- [ ] Page shows after 'preferred dates for your appointment' page in the request appointment flow
- [ ] Page conf

[2019-09-06 14:11] ncksllvn commented on #887
@alexpappasoddball Nope, #cms-general is better!

[2019-09-06 14:12] sonntag-adam commented on #1253
![Screen Shot 2019-09-06 at 9.49.43 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/e09a5a82-92e8-4086-a4e0-e2b75c810a9f)
##
![Screen Shot 2019-09-06 at 9.52.23 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/f6dc8a3a-aea3-4eaf-a599-66e4cc27121b)
##
![Screen Shot 2019-09-06 at 9.50.14 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/

[2019-09-06 14:14] joanneesteban commented on #1505
@amycesal here's @nedierecel 's metrics:
![image](https://user-images.githubusercontent.com/48964695/64434631-f40df680-d08e-11e9-876a-cdcbb84d4e9d.png)

Metrics:
GA metrics in this comment
CSAT Pre-Relaunch vs Post-Relaunch
Satisfaction Chart Pre-Relaunch vs Post-Relaunch

[2019-09-06 14:15] ncksllvn commented on #1606
This can be closed, https://dsva.slack.com/archives/CDJQ0JCE4/p1567735076201000?thread_ts=1567713632.197100&cid=CDJQ0JCE4

[2019-09-06 14:16] markgreenburg opened #1614 "Build Community Care travel distance preference page"
## Story
As a veteran, I want to indicate how far I'm willing to drive for an appointment and what language I'd prefer the appointment to be in, so that I can get scheduled for community care at a location that's reachable for me and that can speak the language with which I'm most comfortable.

## AC
- [ ] Page shows after 'share your community care provider preferences' page when veteran indicate

[2019-09-06 14:17] markgreenburg commented on #1614
We need to understand which languages should be supported in this dropdown. Not sure if that comes from a service somewhere or if it's just hardcoded into the FE / BE. Whoever picks this ticket up should document the language list piece.

[2019-09-06 14:22] markgreenburg commented on #1610
For context, the existing mocks don't have any requirements for being able to select a specific CC facility, so we probably don't need to figure this out right now. However we should still have an idea of how to look up & filter CC facilities.

[2019-09-06 14:30] RLHecht commented on #1595
Change all instances of "OJT" on page to "on-the-job training": https://www.va.gov/education/about-gi-bill-benefits/how-to-use-benefits/on-the-job-training-apprenticeships/

[2019-09-06 14:38] markgreenburg commented on #1609
'Snowbird' is considered an edge case for now and we're not going to consider it for the time being.

[2019-09-06 14:55] erikphansen commented on #1484
doubt it's helpful at this point, but I found another one http://jenkins.vfs.va.gov/blue/organizations/jenkins/testing%2Fvets-website/detail/vagov-1330-trigger-information-must-be-a-button-keyboard-focusable/3/tests

[2019-09-06 15:08] joanneesteban commented on #1505
would you also be able to add this?
![image](https://user-images.githubusercontent.com/48964695/64438698-8f569a00-d096-11e9-8721-5347c628ba46.png)

one chart or multiple - whichever you think is best!

[2019-09-06 15:14] gunsch commented on #1561
Wait, we still have all the broken links identified in https://github.com/department-of-veterans-affairs/va.gov-team/issues/1561#issuecomment-528032768 above --- are those being tracked in another issue?

[2019-09-06 15:45] mnorthuis commented on #1561
The file was full of external links that weren't actually broken, for example it would spit out a bunch of links to vet.gov-team, but when I looked at the page it worked just fine.

I have the file stored locally and have not forgotten the list, the focus of this ticket though was to get the critical files fixed. Some of the deeper research notes and meeting notes may require redoing once we bring

[2019-09-06 16:06] #1190 closed

[2019-09-06 16:10] lunascoop opened #1615 "[Epic] Coordinate Redirect Work Based on Parity & Rewritten Legacy Page Completion"
As the parity and legacy rewriting work nears completion, all corresponding legacy pages will need to be redirected.  This issue tracks the work that needs to be done to track down the status of all the parity and rewriting work, notify stakeholders of upcoming redirect implemention and coordinate pushing the redirects live.

**Definition of Done (for each hub)**
- Determine if all parity changes

[2019-09-06 16:11] markgreenburg commented on #1574
We need more discovery around this in order to understand what the options actually do and whether we can get an accurate list for each system.

[2019-09-06 16:16] kfrz opened #1616 "[Discovery] Investigate how to monitor actual user impact when a given login provider service is degraded"
## User Story
As a stakeholder, I need easily understood metrics on actual users affected when a login partner is experiencing issues - so I can understand user impact and communicate with various parties.

## Goal
Discovery should result in viable options for the desired impact, like a well-crafted dashboard or panel that illustrates the actual user impact when DSLogon is out.

## Acceptance Crit

[2019-09-06 16:19] kfrz opened #1617 "[Discovery] Investigate and document pros/cons of hosted Sentry vs upgrading our on-premise"
## User Story
We need to investigate the pros/cons of moving to a hosted Sentry instance, as well as uncover any technical challenges that may arise in the process.

## Goal
We have a solid basis upon which to make a decision about moving our Sentry integration.

## Acceptance Criteria
- [ ] Potential (known) problems a migration from lesser version to extant hosted version might cause are identif

[2019-09-06 16:19] #1137 closed

[2019-09-06 16:19] #1136 closed

[2019-09-06 16:19] #1497 closed

[2019-09-06 16:30] Karak888 commented on #1615
@lunascoop this is perfect, looks great!  Since you are working on this during current sprint I will move it to in progress from icebox (but you got the milestone in there perfectly)!

[2019-09-06 16:41] markgreenburg opened #1618 "Discovery: Appointment Format & Telehealth"
## Story
As a designer, I want to understand which appointment formats (visit, phone, video) are available for each care type, and if this is something that's configurable at the facility or system level, so that I can build a UI flow that only presents veterans with options they can take advantage of.

Currently, the VAOS legacy tool offers all three appointment formats for all types of care, eve

[2019-09-06 16:47] meganhkelley commented on #1561
@gunsch we just updated the title and content of this ticket to be more narrowly defined to fixing critical links within the /platform area. We are going to make new (a) new ticket(s) for communicating with VFS teams re: fixing their own other broken links, and will link to this ticket when created.

[2019-09-06 17:23] AZSchneider commented on #1366
@smoonpeyes I agree that we can close this ticket but we need a separate ticket to be opened for the **Add a New Contention** list. We need to revisit which list of contentions we should be using and if we should switch to the list of 125. @YanaRoy can you open a new ticket for this?

[2019-09-06 17:36] RLHecht commented on #1595
Korean Demilitarized Zone should be abbreviated as DMZ on subsequent references. Pages to change:
https://www.va.gov/disability/eligibility/special-claims/birth-defects/
https://www.va.gov/disability/eligibility/hazardous-materials-exposure/
https://www.va.gov/disability/eligibility/hazardous-materials-exposure/agent-orange/
https://www.va.gov/disability/eligibility/hazardous-materials-exposure/ag

[2019-09-06 17:37] RLHecht commented on #1288
@peggygannon Now that Drupal preview is working, could you please review this page and set it to publish?

[2019-09-06 17:48] tskinn commented on #1076
This should be done with
- [x] https://github.com/department-of-veterans-affairs/devops/pull/5457
- [x] https://github.com/department-of-veterans-affairs/devops/pull/5458

[2019-09-06 17:48] #1076 closed

[2019-09-06 17:53] gunsch commented on #1561
That's because of the `vets.gov-team` being a private repo. I think for this round you can just ignore all the private-repo links, and only look at the others. It'll still be helpful once we move that content from `vets.gov-team`, since I think eventually we want to treat any links to `vets.gov-team` as invalid, right?

[2019-09-06 17:57] djmunoz1 opened #1619 "Update Slack Privileges for Nathan Hruby"
Nathan Hruby (nathan.hruby@adhocteam.us) is currently a single-channel guest in Slack and belongs to #healthcare-products as part of the VAOS team. Please upgrade his privileges to be a multi-channel user so that he can join additional channels (e.g. #vaos-team)

[2019-09-06 18:19] #1496 closed

[2019-09-06 18:20] 1Copenut commented on #1446
I'm working on a React boilerplate right now that will capture a number of accessibility best practices. The intent is to have this available as a one-off meeting with engineering teams and a self-contained "app" for teams to download, run locally, and learn from.

[2019-09-06 18:25] #887 closed

[2019-09-06 18:25] RLHecht commented on #1595
In the alert box on the family member benefits page, change the sentence "Start a confidential Veterans Chat" to "Start a confidential chat."

https://www.va.gov/family-member-benefits/

[2019-09-06 18:26] 1Copenut opened #1620 "Discuss the Attest API with Tools and Devops teams"
There is some discussion going on about trialing the Attest API as a replacement for the axe-core open source library in automated testing. This discussion would look to accomplish a few broad goals:

1. Discuss the pros and cons of having an API integration in the build pipeline
2. Discuss proof-of-concept viability
3. Discuss benefits of the Attest API in quality/quantity of error reporting

/cc

[2019-09-06 18:28] erikphansen opened #1621 "Remove warning from `yarn lint:js`"
Running `yarn lint:js` gives the following output right now:

[code]

It would be great to remove this warning:
[code]

[2019-09-06 18:39] lkoenigsberg commented on #1051
I'm pretty sure that Office 365 is a system approved by the VA and it might include OneDrive but would probably then require dramatics around being on a VA network, with VA email, etc.

Sooo...for now I think it's smart to continue as we were.

[2019-09-06 18:44] 1Copenut commented on #1433
I spot-checked a few browsers and all looks good. Moving to close.

[2019-09-06 18:44] #1433 closed

[2019-09-06 18:47] 1Copenut commented on #1251
@delli-gatti-michael Can you send me a PR number or feature branch? I can re-test it ahead of the staging environment and close the issue ticket. Otherwise LMK when it's in Staging and I'll retest at that time. Thank you.

[2019-09-06 19:15] desireeturner commented on #1251
@1Copenut Here's the PR: https://github.com/department-of-veterans-affairs/vets-website/pull/10626

[2019-09-06 19:50] ncksllvn opened #1622 "Set up the internal tools (SOCKS proxy)"
Instructions - https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/Administrative/Onboarding/request-access-to-tools.md

To access internal developer tools, engineers need to set up the SOCKS proxy. For example, if a pull request is opened to vets-website, Jenkins CI will execute a series of build steps. To access Jenkins, you'll need the SOCKS proxy.

See `details` link in a

[2019-09-06 19:59] aeltarhoni commented on #1373
/remind me in 3 minutes

[2019-09-06 20:06] mnorthuis commented on #1561
Yes, absolutely.

[2019-09-06 20:14] Mottie commented on #1622
I don't have access to that markdown file. I get a 404 page.

[2019-09-06 20:24] ncksllvn commented on #1622
Sorry about that. I guess it moved, but this page should work - https://department-of-veterans-affairs.github.io/veteran-facing-services-tools/getting-started/internal-tools/

[2019-09-06 21:15] SMLuthi commented on #1334
Done.

[2019-09-06 21:16] SMLuthi commented on #1337
Done.

[2019-09-06 21:17] SMLuthi commented on #1338
Done.

[2019-09-06 21:18] johnpaulashenfelter commented on #1558
Started this in #3272

[2019-09-06 21:19] SMLuthi commented on #1360
I have setup a development Api key and have access to the lighthouse development environment. I've attempted some test calls vs their Decision Review API but am currently getting back auth issues. I've reached out and this due to issues on their end. So for the time being this is blocked until the issues are resolved on their end.

[2019-09-06 21:46] ndsprinkle commented on #1365
I moved this to Review/QA on the VSP board, but it looks like there is no column named that on the VFT board. Am I only supposed to be changing the column on one of the boards?

This is the PR for this story: https://github.com/department-of-veterans-affairs/vets-website/pull/10694

Is there a way for me to link the PR and this story?

[2019-09-06 21:51] SMLuthi commented on #1359
The lighthouse team responsible for the building and maintaining of the Decision Review API has been in contact with us regarding their work.

Notes for backend work:

- The integration will require a service to be built out in vets-api
- Currently the authentication with their API will be through an api key
    * You can get a development key at https://developer.va.gov/apply
    * We will need t

[2019-09-06 22:03] SMLuthi commented on #1361
As I am, ironically, the only one still here from the team that built the original 526 I can take a stab at answering the AC for this ticket.

- Personally, I believe the HLR should separate from the 526 flow. HLR does not require a veteran to have an ITF which would make it difficult to integrate into the preexisting 526 flow since we do a lot of automated work to gather and create ITF's for the

[2019-09-06 22:05] SMLuthi commented on #1339
Done.

[2019-09-06 22:06] SMLuthi commented on #1340
Done.

[2019-09-06 22:07] SMLuthi commented on #1341
Done.

[2019-09-06 22:08] SMLuthi commented on #1342
Done.

[2019-09-06 22:11] SMLuthi commented on #1344
Done.

[2019-09-06 22:12] SMLuthi commented on #1346
Done.

[2019-09-06 22:12] SMLuthi commented on #1348
Done.

[2019-09-06 22:13] SMLuthi commented on #1351
Done.

[2019-09-06 22:13] SMLuthi commented on #1357
Done.

[2019-09-06 22:14] SMLuthi commented on #1358
Done.

[2019-09-06 22:17] cvalarida commented on #1361
I don't know what the Higher Level Review is, but if it's not a part of the 526 or an ancillary form, I think it should be separate. Like @SMLuthi said, the 526 form does a lot of work that's pretty specific to the 526. It's far and away the most complicated form on VA.gov to date. From a front end perspective, keeping them separate would:
- Reduce the burden on the engineers; they wouldn't have t

[2019-09-08 17:57] jenniferlee-dsva commented on #1361
FYI - I think Carola Ponce and Steve Kovacs would be able to give you information about HLR. HLRs are not claims per se; they are one of the 3 kinds of 'appeals' or asking for a review of a VA decision on the original claim.

Our site has some info here:
https://www.va.gov/decision-reviews/   and
https://www.va.gov/decision-reviews/higher-level-review/

HLRs also cover other kinds of claims, not j

[2019-09-08 18:23] amycesal commented on #1505
Metrics for September:
[Metrics_09.01.19.pdf](https://github.com/department-of-veterans-affairs/va.gov-team/files/3587881/Metrics_09.01.19.pdf)
[Metrics_09.01.19.pptx](https://github.com/department-of-veterans-affairs/va.gov-team/files/3587882/Metrics_09.01.19.pptx)

[2019-09-08 21:07] jenniferlee-dsva commented on #1482
Kevin Reid's export of all forms in the VA forms search db. Filtered view shows 1,560 VA forms.
[database-export-VAForms_82819.xlsx](https://github.com/department-of-veterans-affairs/va.gov-team/files/3588053/database-export-VAForms_82819.xlsx)

[2019-09-08 21:11] jenniferlee-dsva commented on #1482
@Karak888 - There appears to be 3 duplicates is this issue. Can you advise - can we clean this up so there's just one discovery issue, one epic, and new tickets associated w/epic based on our email/convo?

1/ https://github.com/department-of-veterans-affairs/vets.gov-team/issues/19150  Original discovery issue.
2/ This one - duplicates the ^ issue
3 https://github.com/department-of-veterans-affair

[2019-09-08 23:58] carolaponce commented on #1361
Work in progress documentation:
https://github.com/department-of-veterans-affairs/vets.gov-team/tree/master/Products/Global/Decision%20Reviews

[2019-09-09 12:39] #1498 closed

[2019-09-09 13:11] Karak888 opened #1623 "Integrate Footer Data from Drupal"
Integratation with Footer data outside of Drupal.

[2019-09-09 13:25] Karak888 opened #1624 "Integrate Header data from Drupal"
Integratation with header data outside of Drupal.

[2019-09-09 13:46] Karak888 opened #1625 "Update CMS Preview Server to align with Live site"
Overtime, the CMS Previews have visually diverged slightly from the live site. The CMS Preview server should be updated so that CMS editors have a more accurate preview prior to publishing.

[2019-09-09 13:47] elwoodva commented on #1283
Most of this is done now but I am still working out some final issues with displaying the success message properly.

[2019-09-09 13:54] Karak888 opened #1626 "Homepage: Determine approach for moving alerts banner"
This ticket is for determining an approach for moving banner alerts from Homepage to Drupal.

[2019-09-09 13:58] nedierecel commented on #1291
@jenniferlee-dsva Please see two self-service dashboards that teams can access directly within Google Analytics.

The following two reports track users accessing their claims on the Modernized tools over time. To change the dates, please select the upper right corner.

![image.png](https://images.zenhubusercontent.com/5b295b9ff378ea1890b3d77e/79a3172b-0595-4992-af2b-55b2326dbc41)

*Reports with Li

[2019-09-09 14:37] nedierecel opened #1627 "Analytics Implementation for GI Bill Profile Page - Section 107"
# Analytics Implementation or QA Request
This is the Analytics Implementation request for the Colmery Section 107, Housing based on Location. This is a follow-up to the issue posted on #19642.

## What this form is for
Use this template to request Google Tag Manager and Google Analytics implementation or QA for your product. Please fill out all brackets.

## Description
- This request is for track

[2019-09-09 14:50] lunascoop opened #1628 "NON-UAT Bug Reporting"
This ticket captures live site bugs that are not part of UAT.
### Bug 1
**Issue:** Download VA benefit letters root page is showing the wrong nav and parent menu.
_(Think this is a Drupal page but we should have a ticket to track it.)_
- Device: Government Furnished Equipment (GFE) PC
- Browser: Chrome
- Test User _(if applicable)_: Jennifer Lee

Attached: correct menu/nav (archive view).

![image

[2019-09-09 15:14] #1022 closed

[2019-09-09 15:30] alexpappasoddball opened #1629 "Triage VFS Support - Sprint 8"

[2019-09-09 15:32] alexpappasoddball opened #1630 "Sentry Noise Clean Up- Sprint 8"

[2019-09-09 15:40] alexpappasoddball commented on #1617
@kfrz Correct me if I'm wrong but the investigation is likely done seeing that we have this following ticket in our backlog #1555

[2019-09-09 15:47] Justin-Pickett commented on #743
@erikphansen  or @lihanli  can you take a look at this when you get a chance.

[2019-09-09 16:02] Justin-Pickett commented on #870
@mnorthuis please let me know when we can get this scheduled for early next week if possible. Thank you.

[2019-09-09 16:05] joanneesteban commented on #1315
### Post-KPI Workshop Thoughts:

Renaming OKRs to objectives. Maybe remove “Bets” since that’s specific to VSP.

For each team, do we focus on their overall goals, or their specific forms?

For post-work, do they take the workshop and apply new metrics to specific products?

We can proactively come in with baselines for Google Analytics.

Use Quarterly Goals at minimum (for attainable goals, gut c

[2019-09-09 16:06] 1Copenut commented on #1544
508 testing completed so far:
* Axe/ATTEST review - DONE
* Keyboard review - DONE
* Zoom review - IN PROGRESS
* Screenreader review - TODO
* Screen zoom - TODO

[2019-09-09 16:09] #1286 closed

[2019-09-09 16:13] rianfowler opened #1631 "Feature toggles break CMS preview server"
investigate how we want to represent feature toggles in the preview server environment. See: https://github.com/department-of-veterans-affairs/vets-website/pull/10684

[2019-09-09 16:22] Karak888 opened #1632 "Find VA Forms - Search MVP"
This page currently lives at https://www.va.gov/vaforms/. Search research indicates that the VA forms page consistently gets high organic search traffic. However, it has almost no or very little conversion value.  Because this page already gets high organic traffic and has high potential to provide better conversion:

- we want to redesign experience on this page to the new VA.gov look and feel.
-

[2019-09-09 16:23] meganhkelley commented on #863
Added to checklist: `PM, designers, and content writers: Request IA intro` — there is already an in progress ticket for this (#870)

[2019-09-09 16:26] johnpaulashenfelter opened #1633 "Access for John Paul Ashenfelter"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Add a comment @department-of-veterans-affairs/vsp-operations to ping the operations team
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please

[2019-09-09 16:27] Mottie opened #1634 "Access for Robin Garrison"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Add a comment @department-of-veterans-affairs/vsp-operations to ping the operations team
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please

[2019-09-09 16:30] johnpaulashenfelter commented on #1633
Hi @department-of-veterans-affairs/vsp-operations please add me when convenient

[2019-09-09 16:31] lihanli commented on #743
[code]

[2019-09-09 16:33] tskinn commented on #1634
@Jeff-Hayter
COR: Mary O'Toole
User: Robin Garrison

[2019-09-09 16:33] tskinn commented on #1633
@Jeff-Hayter
COR: You
User: John Paul Ashenfelter

[2019-09-09 16:34] mnorthuis commented on #879
Updated title to clarify that this is Benefits and Memorials team, not to be confused with eBenefits team. :-)

[2019-09-09 16:46] hinzed1127 commented on #1361
Adding to @cvalarida 's comments, from the perspective of a front-end engineer who on-boarded to that code pretty much after it had been completed and only made minor updates:
- It's very large and a lot to understand, especially with all the different conditional flows. My suspicion is adding more conditional logic for a completely different thing would be more pain than gain.
- There wouldn't be

[2019-09-09 16:52] omgitsbillryan opened #1635 "Automated Alerting for Dangerous Database Pull Requests"
## User Story
As a VFS platform developer, I want to know if my `vets-api` PR that contains a db migration is safe to merge to `master`, so that I don't accidentally merge a PR to `master` that contains unsafe db migration code.

## More Context
- Migrations are done manually, so when code is deployed to `production`, there will always be a period of time in which new code is running against the o

[2019-09-09 16:55] meganhkelley opened #1636 "PM: Coordinate IA Intro for Global UX team"
### User Story
As a PM for a VFS team going through onboarding with VSP, I need to participate in an IA intro session along with relevant members of my team, so that we know best practices for IA and how to engage with the VSP content & IA team.

### Goal
Schedule and attend IA onboarding session with VSP's content and IA team and the PM, content writers, and designers on Global UX.

### Definitio

[2019-09-09 16:59] joanneesteban commented on #1505
Raw Data:
[Metrics for Modernized Data 9.01.19.xlsx](https://github.com/department-of-veterans-affairs/va.gov-team/files/3591714/Metrics.for.Modernized.Data.9.01.19.xlsx)

[2019-09-09 17:02] meganhkelley commented on #917
Added to checklist: `PM, designers, and content writers: Request IA intro` and made a new ticket for this (#1636)

[2019-09-09 17:16] Karak888 opened #1637 "VA Forms: Identify Top Searched for and Downloaded Forms"
****Request:**
To help us identify an MVP candidate for the _Find a VA Form_, we would like to see analytics for the following VA forms 'master detail' landing pages, individual forms themselves, as well as search results from general forms that are providing the highest traffic (via organic search, via onsite search, and if possible, via the search that's on the **Find a VA form** page), download

[2019-09-09 17:18] YanaRoy opened #1638 "Add a new contention with added detail"
## User Story
As a Veteran, I need to append my selected disability from an existing contentions list so that the disability I am trying to identify is accurately represented on my claim.

## Goal
_The Veteran should be able to communicate a clear understanding of their disability by being able to add detail to a disability selected from a list of contentions_

## Acceptance Criteria
- [ ] _Identi

[2019-09-09 17:19] jason-gcio commented on #1557
@mnorthuis can I schedule this with you or who is the best point of contact?

[2019-09-09 17:19] YanaRoy commented on #1366
Closing. See ticket #1638 for Add a new contention

[2019-09-09 17:19] #1366 closed

[2019-09-09 17:27] jason-gcio commented on #1557
Actually, I see in the epic there are some contacts listed - is it preferred to use Slack or GH to schedule this?

[2019-09-09 17:31] #1524 closed

[2019-09-09 17:32] #986 closed

[2019-09-09 17:32] #1197 closed

[2019-09-09 17:36] tlei123 commented on #1051
Understood & thx, @lkoenigsberg !  Closing ticket.

[2019-09-09 17:36] #1051 closed

[2019-09-09 17:46] steve-gov commented on #1538
Seems like most of these links are 404? There doesn't seem to be an "Administrative" directory in the va.gov-team root.

[2019-09-09 17:53] 1Copenut opened #1639 "GIBCT Colmery 107 - 508 Audit"
This epic will be the container for any issues discovered during the Product Support team's 508 audit of GIBCT Colmery 107 feature improvement: https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/1544

[2019-09-09 17:55] mnorthuis commented on #1538
@steve-gov updated the links above, they should all be correct now, but please let me know if you continue to have issues. These all changed with the updates to the va.gov-team repo last week and were corrected in the onboarding epic template but not in the individual epics already created.  Sorry about that!

[2019-09-09 17:57] #1158 closed

[2019-09-09 17:57] #1159 closed

[2019-09-09 17:58] amycesal commented on #1547
# Blue Sky
![BlueSky_01](https://user-images.githubusercontent.com/1656046/64554620-65ed7680-d301-11e9-9c32-b85b673365d1.png)

----

# Blue-er Sky
![Blue-er_Sky](https://user-images.githubusercontent.com/1656046/64554619-6554e000-d301-11e9-9ba6-4bccbce6fb62.png)

[2019-09-09 17:58] mnorthuis commented on #1282
Updated the links above. These all changed with the updates to the va.gov-team repo last week.

[2019-09-09 18:00] mnorthuis commented on #917
Updated the links above. These all changed with the updates to the va.gov-team repo last week.

[2019-09-09 18:01] YanaRoy commented on #1358
No ATO person currently on VSP team to provide the intro. Closing ticket.

[2019-09-09 18:01] #1358 closed

[2019-09-09 18:04] 1Copenut opened #1640 "[SCREENREADER]: GIBCT® Colmery 107 - Locations table has invalid HTML, could be improved for assistive tech"
## Description

The school locations table doesn't announce itself properly to Safari + VoiceOver, and has some invalid HTML. It would be good to refactor this table for assistive device users. Screenshot and code sample below.

## Point of Contact

**VFS Point of Contact:** _Trevor_

## Acceptance Criteria

* As a VoiceOver user, I want to hear the column header and cell announced properly.
* As

[2019-09-09 18:04] YanaRoy commented on #1355
Done.

[2019-09-09 18:04] #1355 closed

[2019-09-09 18:06] YanaRoy commented on #879
@Mottie Could you please take a look at the items above and complete all applicable items to complete onboarding. Please let me know if you have questions.

[2019-09-09 18:06] mnorthuis commented on #879
Updated links to files, links changed during va.gov-team repo work last week.  Please let me know if any links are not working for you.

[2019-09-09 18:06] #1351 closed

[2019-09-09 18:08] markgreenburg opened #1641 "Explore existing telehealth usage numbers"

[2019-09-09 18:09] markgreenburg opened #1642 "Deep dive on existing Express Care functionality"

[2019-09-09 18:09] markgreenburg opened #1643 "User research: how do veterans use / want to use Express Care"

[2019-09-09 18:09] markgreenburg opened #1644 "Design: Express Care scheduling flow"

[2019-09-09 18:09] markgreenburg opened #1645 "Research & Discovery - Express Care"
### Problem Statement:
Some Veterans have a need right now that requires immediate medical attention or guidance. Express Care is a mechanism by which the VA can provide immediate, same day evaluation via video.

Given the recent (COVID-19) pandemic, there is a need to give Veterans fast access to care and evaluation via video appointments.

### Current Hypothesis:
- Veterans will seek Express Car

[2019-09-09 18:15] 1Copenut opened #1646 "[COGNITION]: GIBCT® Colmery 107 - Table caption mentions links. Should the table be updated for these instructions?"
## Description

The school locations table doesn't announce itself properly to Safari + VoiceOver, and has some invalid HTML. It would be good to refactor this table for assistive device users. Screenshot and code sample below.

## Point of Contact

**VFS Point of Contact:** _Trevor_

## Related Items
* https://app.zenhub.com/workspace/o/department-of-veterans-affairs/va.gov-team/issues/1640

## A

[2019-09-09 18:18] YanaRoy commented on #1345
Layla was on VSP team at the time and ran these sessions. She met with Kevin and reviewed presentation with him when he joined the team.

[2019-09-09 18:18] #1345 closed

[2019-09-09 18:19] #1344 closed

[2019-09-09 18:22] 1Copenut opened #1647 "[SCREENREADER]: GIBCT® Colmery 107 - Other location error is being fired immediately on Other selection"
## Description

When I select Other for the location where I'll take classes, the error handler about zip code needing to be a five-digit number fires immediately. This could be confusing to assistive device users, because they haven't entered any information. Animated GIF attached below.

## Point of Contact

**VFS Point of Contact:** _Trevor_

## Acceptance Criteria

* As a user, I want the erro

[2019-09-09 18:24] #1346 closed

[2019-09-09 18:26] YanaRoy commented on #1348
@SMLuthi @ndsprinkle @kevinstachura @Mottie Please review the findings from the workshop here. I will close the ticket by EOD 9/10.
https://dsva.slack.com/files/UL39HR399/FMT63UU90/benefits__-_discovery_and_logistics_workshop.pptx

[2019-09-09 18:27] #1343 closed

[2019-09-09 18:28] #1342 closed

[2019-09-09 18:29] jbalboni opened #1648 "Use facility locator data on appointment list page"
The services we call to get pending and confirmed appointments don't return facility addresses or phone numbers, so we can't full build the mocks for those detail pages.

To get around this, we can pull the data from the `/facilities` endpoint and incorporate it into the page.

AC:
- [ ] Address and facility phone number are displayed on the page
- [ ] The facility data is loaded lazily, and doesn

[2019-09-09 18:33] SMLuthi commented on #1348
this link does not work for me, @YanaRoy

[2019-09-09 18:35] 1Copenut opened #1649 "[COGNITION]: GIBCT® Colmery 107 - Other location ZIP code error message is unclear"
## Description

The error message for valid 5 digit zip codes that return no city uses language I'm unfamiliar with. I'd like to review this with the content team and see if the error message is as clear as we'd like. Screenshot attached.

/cc @peggygannon

## Point of Contact

**VFS Point of Contact:** _Trevor, Peggy_

## WCAG or Vendor Guidance (optional)

![Screen Shot 2019-09-09 at 1.29.20 PM.

[2019-09-09 18:36] tskinn commented on #1596
After deleting the job and running the seed job, the git hooks seem to be working again. Unfortunately still no insight into why it stopped working in the first place.

[2019-09-09 18:37] omgitsbillryan commented on #1629
Am I doing this right?
- https://github.com/department-of-veterans-affairs/vets-api/pull/3269
- https://github.com/department-of-veterans-affairs/vets-api/pull/3270
- https://github.com/department-of-veterans-affairs/vets-api/pull/3169

[2019-09-09 18:38] YanaRoy commented on #1348
@SMLuthi  try this: [Benefits  - Discovery and Logistics Workshop.pptx](https://github.com/department-of-veterans-affairs/va.gov-team/files/3592058/Benefits.-.Discovery.and.Logistics.Workshop.pptx)

[2019-09-09 18:39] alexpappasoddball commented on #1629
@omgitsbillryan Instead of putting them in the comments, you can add this epic to each one of those pull requests so it shows up in the table at the top of the epics as a "linked" issue.

[2019-09-09 18:50] desireeturner commented on #1646
@department-of-veterans-affairs/bah_uxteam Can you take a look at this issue and provide guidance regarding the question included in the screenshot around whether or not links should be included here?

[2019-09-09 18:51] ndsprinkle commented on #1348
Done.

[2019-09-09 18:54] YanaRoy commented on #1334
All who were active members of the Benefits and Memorials team attended this session when it occurred.

[2019-09-09 18:54] #1334 closed

[2019-09-09 18:54] desireeturner commented on #1649
@department-of-veterans-affairs/bah_uxteam Can you review the question posed in this issue regarding content?

[2019-09-09 18:58] micahchiang commented on #1504
Closing issue since PR for department-of-veterans-affairs/vets-website#10687 has been merged and closed.

[2019-09-09 18:58] #1504 closed

[2019-09-09 19:02] LEHigley commented on #1619
done!

[2019-09-09 19:02] #1619 closed

[2019-09-09 19:06] erikphansen commented on #1335
@Justin-Pickett feel free to validate this and close it.

[2019-09-09 19:08] #1338 closed

[2019-09-09 19:08] #1337 closed

[2019-09-09 19:09] #1339 closed

[2019-09-09 19:09] #1340 closed

[2019-09-09 19:09] #1341 closed

[2019-09-09 19:14] #1348 closed

[2019-09-09 19:28] YanaRoy opened #1650 "Research synthesis"
@goldenmeanie commented on [Wed Apr 03 2019](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/17750)

Feedback sessions for homepage and 526 wizard (including assistive devices)

- [x] Collect notes
- [x] Get folks together to talk through feedback sessions
- [x] Generate readout doc

[2019-09-09 19:33] 1Copenut opened #1651 "[SCREENREADER]: GIBCT® Colmery 107 - Learn more button needs an aria-label for context"
## Description

The `Learn more` buttons rely on proximity to a label or heading to answer the question "Learn more about what?". This can be improved for assistive devices and screen readers by adding `aria-label` attributes to the buttons. Example screenshots attached.

/cc @peggygannon for Content team guidance as needed

## Point of Contact

**VFS Point of Contact:** _Trevor, Peggy_

## Relate

[2019-09-09 19:36] jason-gcio opened #1652 "Review the Guidelines for Working Safely in an Open Source Repo"
## User Story
As a new VA.gov team member, I need to complete onboarding activities so I can successfully work on my project.

## Resource
Review the [Guidelines for Working Safely in an Open Source Repo](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/working-with-vsp/policies-work-norms/sensitive-guidance.md)

## Acceptance Criteria
- [x] Each team member below

[2019-09-09 19:38] Justin-Pickett commented on #1335
This has been validated and works as intended. Closing this ticket.

[2019-09-09 19:38] #1335 closed

[2019-09-09 19:40] Justin-Pickett commented on #1330
@1Copenut , @mojaray2k  has corrected this issue. Can you validate this has been fixed? Thank you.

[2019-09-09 19:42] jason-gcio opened #1653 "Review the Norms for Using Tools"
## User Story
As a new VA.gov team member, I need to complete onboarding activities so I can successfully work on my project.

## Resource
Review the [Norms for Using Tools](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/working-with-vsp/policies-work-norms/norms-tools.md)

## Acceptance Criteria
- [x] Each team member below has completed each item in the onboar

[2019-09-09 19:48] shawkey-daniel commented on #1646
This issue was discussed prior to this defect. It was decided to remove the offending sentence, if there were no actual links provided. Since the story never was created, it should just be handled as part of this defect.

[2019-09-09 19:49] jason-gcio opened #1654 "Review the Code of Conduct"
## User Story
As a new VA.gov team member, I need to complete onboarding activities so I can successfully work on my project.

## Resource
Review the Review the Code of Conduct](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/working-with-vsp/policies-work-norms/code-of-conduct.md)

## Acceptance Criteria
- [x] Each team member below has completed each item in th

[2019-09-09 19:50] 1Copenut opened #1655 "[SCREENREADER]: GIBCT® Colmery 107 - Zip code entry field does not announce valid city when a value is returned"
## Description

The display for a profile detail includes a city when I enter a valid zipcode for `Other` class locations. This text is not announced to screen readers, and could leave users wondering if they'd entered data correctly. Screenshot attached below.

/cc @emilywaggoner for design consult, because this might be a visual adjustment, or a code adjustment.

## Point of Contact

**VFS Point

[2019-09-09 19:55] amycesal commented on #1505
Updated:
[Metrics_09.01.19.pdf](https://github.com/department-of-veterans-affairs/va.gov-team/files/3592339/Metrics_09.01.19.pdf)
[Metrics_09.01.19.pptx](https://github.com/department-of-veterans-affairs/va.gov-team/files/3592343/Metrics_09.01.19.pptx)

[2019-09-09 19:57] jason-gcio opened #1656 "Review the Platform Principles"
## User Story
As a new VA.gov team member, I need to complete onboarding activities so I can successfully work on my project.

## Resource
Review the [Review the Platform Principles](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/working-with-vsp/policies-work-norms/platform-principles.md)

## Acceptance Criteria
- [x] Each team member below has completed each i

[2019-09-09 20:00] smoonpeyes commented on #1650
@goldenmeanie Was research synthesis completed?

[2019-09-09 20:02] jason-gcio opened #1657 "Review the Norms for Communication"
## User Story
As a new VA.gov team member, I need to complete onboarding activities so I can successfully work on my project.

## Resource
Review the [Review the Norms for Communication](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/working-with-vsp/policies-work-norms/norms-communication.md)

## Acceptance Criteria
- [x] Each team member below has completed ea

[2019-09-09 20:03] 1Copenut opened #1658 "[ZOOM]: GIBCT® Colmery 107 - Table of locations scrolls horizontally and is a bit difficult to read on iOS"
## Description

The locations table becomes somewhat difficult to read at mobile size. The attached screenshot was captured on an iOS device during some mobile screen reader testing.

/cc @emilywaggoner for design visibility.

## Point of Contact

**VFS Point of Contact:** _Trevor_

## Acceptance Criteria

* As an iOS / Android mobile user, I want to be able to read the table of locations as easil

[2019-09-09 20:04] YanaRoy opened #1659 "Decision Review forms being submitted using Claim Status Tool"
## High Level User Story
As a Veteran, I need submit my Decision Review forms using the appropriate process so I can ensure my forms are received and reviewed accordingly.

## Goals
_The user should be prompted to complete their Decision Review forms (Higher Level Review and Supplemental Review) using the dedicated process._

_Using the Claim Status tool to submit these forms creates a problem bec

[2019-09-09 20:07] jason-gcio opened #1660 "Review the GitHub Markdown Cheatsheet to learn the syntax for formatting documents in GitHub"
## User Story
As a new VA.gov team member, I need to complete onboarding activities so I can successfully work on my project.

## Resource
Review the [GitHub Markdown Cheatsheet](https://help.github.com/en/categories/writing-on-github)

## Acceptance Criteria
- [x] Each team member below has completed each item in the onboarding checklist.
  - [x] Micah
  - [x] Aricka
  - [x] Kathleen
  - [x] Jim

[2019-09-09 20:11] jason-gcio opened #1661 "Review the Digital Modernization Strategy"
## User Story
As a new VA.gov team member, I need to complete onboarding activities so I can successfully work on my project.

## Resource
Review the [Review the Digital Modernization Strategy](https://github.com/department-of-veterans-affairs/vets.gov-team/blob/master/VA.gov%20Relaunch%202018/new-vagov-strategy/DigitalModernizationStrategy.pdf)

## Acceptance Criteria
- [x] Each team member below

[2019-09-09 20:12] 1Copenut commented on #1544
@desireeturner && @andreahewitt-odd I've finished the 508 pre-launch audit and opened an epic with six issues for the findings: https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/1639

I'm moving this request ticket to close and adding a row to our Product 508 sheet for tracking purposes. I will follow up in a week to see how issues are

[2019-09-09 20:12] #1544 closed

[2019-09-09 20:13] jason-gcio opened #1662 "Review the Web Brand Consolidation documentation"
## User Story
As a new VA.gov team member, I need to complete onboarding activities so I can successfully work on my project.

## Resource
Review the [Review the Web Brand Consolidation documentation](https://github.com/department-of-veterans-affairs/vets.gov-team/blob/master/VA.gov%20Relaunch%202018/new-vagov-strategy/The-new-VA.gov-briefing-2019-07.pdf)

## Acceptance Criteria
- [x] Each team me

[2019-09-09 20:17] YanaRoy opened #1663 "Discovery: Workarounds for system outages"
@markgreenburg commented on [Fri Apr 26 2019](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/18219)

## Story
As a veteran, I want to know that my application will be submitted if I press the 'submit' button so that I don't have to come back to my saved application later and try to resubmit.

## Context
Our overall app error rates are ~10% of all unique submissions, however

[2019-09-09 20:18] ncksllvn commented on #993
For my own reference, [PPMS Swagger Docs](https://dsva.slack.com/files/UFN410MGF/FMUKEAECT/ppms_docs_pprint.json?origin_team=T03FECE8V) taken from https://dev.dws.ppms.va.gov/swagger/ui/index#!/GlobalFunctions/GlobalFunctions_ProviderLocator.

[2019-09-09 20:19] johnpaulashenfelter commented on #1558
Waiting for socks access in department-of-veterans-affairs/va.gov-team#1633 which is a dependency for booting the front end

[2019-09-09 20:21] #1622 closed

[2019-09-09 20:34] JQuaggles opened #1664 "Personnel removal from DSVA CMS related Slack Channels"
Please remove the following folks from the DSVA CMS Oriented Slack channels (they will remain on slack for other projects but not the CMS).

- Meghana Khandekar
- Eric Chiu
- Ryan Sibley
- Rohan Bhobe

Channels to be removed from:
#cms-leads
#cms-changemgmt
#cms-outreach
#cms-administration
#cms-demos
#cms-design
#cms-engineering
#cms-facility
#cms-general

[2019-09-09 20:37] mnorthuis commented on #1482
@Karak888 When you are ready, please create an IA ticket for this work so we can plan for it.  Thank you!

[2019-09-09 20:37] 1Copenut commented on #1330
@Justin-Pickett && @mojaray2k I re-tested this with Chrome on MacOS and verified the `<button>` elements were keyboard focusable, and responded to mouse, `ENTER`, and `SPACE`. Focus was restored on closure, so looks great. Moving this issue to closed.

[2019-09-09 20:37] #1330 closed

[2019-09-09 20:42] YanaRoy commented on #1364
This scenario will be covered under the Supplement Claims Decision Review effort. Closing ticket.

[2019-09-09 20:42] #1364 closed

[2019-09-09 21:07] joanneesteban commented on #1505
Lacey has the latest materials and sent it over to the stakeholders on VEO. Thank you @amycesal and @nedierecel for your work on this! Closing this out.

[2019-09-09 21:07] #1505 closed

[2019-09-09 21:12] joanneesteban commented on #1004
@nedierecel Is this ready to close, or are there still data points that we need to add?

[2019-09-09 21:20] #1315 closed

[2019-09-09 21:22] joanneesteban commented on #1588
Sent on 9/5/19. Given follow up question:

Do the metrics include EVSS?

[2019-09-09 21:27] ksantiagomorgan6 commented on #1647
Already fixed and merged

https://github.com/department-of-veterans-affairs/vets-website/pull/10685

[2019-09-09 21:38] amyknox commented on #1649
@desireeturner - we'll look into this.  This story is impacted by the additional 107 update we discussed with EDU / DSVA this afternoon.

[2019-09-09 21:40] mnorthuis commented on #1004
Its on me to document this within my files and then I will close.  I will take Nedie off so it comes off your board.

[2019-09-09 21:48] joanneesteban commented on #1004
Sounds good! Thanks, Mikki!

[2019-09-09 22:08] jason-gcio commented on #1557
Nevermind, we're all set :)

[2019-09-09 22:13] 1Copenut commented on #1251
@desireeturner I need to keep working with this item. Please do not merge it yet. I'm still having trouble with screen readers handling the Learn More button when it sits between the label and the input. Will work on a solution tomorrow and see if there's a way to improve, or if the current implementation is better than the proposed adjustment.

[2019-09-09 22:32] jason-gcio opened #1665 "Engineers VSP Onboarding Sub-Task"
## User Story
As a new VA.gov team member, I need to complete onboarding activities so I can successfully work on my project.

## Sub-Tasks to the larger **[VSP Onboarding Epic](https://github.com/department-of-veterans-affairs/va.gov-team/issues/1538)**
- [x] [Set Up Local Dev Environment](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/engineering/getting-start

[2019-09-09 22:51] cvalarida commented on #1607
Marked https://github.com/department-of-veterans-affairs/vets-website/pull/10706 as a dependency of this because that one prevents referencing non-existent flags from throwing an error.

After that's merged in, we can:
1) Add a `shouldLog = true` parameter to `useFlags`
2) Call `useFlags({}, false)` before building the cache key

[2019-09-10 11:07] sonntag-adam commented on #1253
@1Copenut this is now in staging for review.

[2019-09-10 11:19] sonntag-adam commented on #1461
Employer
![Screen Shot 2019-09-10 at 7.14.39 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/82bd4d8a-befb-4662-b337-ffbe7c2c73a8)
##
![Screen Shot 2019-09-10 at 7.15.01 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/c1e50d5f-793d-4fa7-92b9-13b2230b8c9a)
##
![Screen Shot 2019-09-10 at 7.15.13 AM.png](https://images.zenhubusercontent.com/5c98df9c534e0900

[2019-09-10 12:37] nedierecel opened #1666 "Adding Jay Dalrymple to Google Analytics"
# Analytics Access Request
Received an email with request from Jerry Sowders:

## User Email Address
_Provide email address(es) for user(s) requesting access to the Insights team on the DSVA Slack channel: #VSP-Analytics. Please also link this issue. Email addresses ending in `@gmail.com` _**may not**_ be used. If the user has a VA.gov or work email address that is not linked to a Google account,

[2019-09-10 12:37] nedierecel commented on #1666
Jay's VA email was not associated with a Google account, so I provided him with the sign-up link.

[2019-09-10 12:48] desireeturner commented on #1251
@hughes-dustin see @1Copenut message above. Please hold on merging department-of-veterans-affairs/vets-website#10626 in anticipation of more information.

[2019-09-10 12:49] #1652 closed

[2019-09-10 13:23] #1653 closed

[2019-09-10 13:24] #1654 closed

[2019-09-10 13:25] #1656 closed

[2019-09-10 13:27] #1657 closed

[2019-09-10 13:27] #1660 closed

[2019-09-10 13:28] #1661 closed

[2019-09-10 13:28] #1662 closed

[2019-09-10 13:40] Karak888 commented on #1637
@mnorthuis this is what I had started as I am breaking down the tickets into chunks (maybe the work has already been done for some of these, but I will rely on you to help flush these out as needed!

[2019-09-10 13:53] ricetj commented on #1596
@tskinn can we close this one then?

[2019-09-10 14:01] tskinn commented on #1596
Yeah it seems to be working fine now.

[2019-09-10 14:01] #1596 closed

[2019-09-10 14:20] mnorthuis commented on #1637
@Karak888 I'll need some background on this, haven't been in any discussions of yet.  Maybe a quick chat?

[2019-09-10 14:37] #1502 closed

[2019-09-10 14:37] jbalboni commented on #1502
API contract was updated based on new designs. This looks good now.

[2019-09-10 14:38] jholton opened #1667 "Archive non-current `institutions` records"
Functionality has been added to `gids` to archive previous versions of `institutions` when a new production version is created ([GH issue](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/19015)).

This works going forward, but all the > 5MM historical records need to be migrated from `institutions` to `institutions_archives`

We need to formulate a plan to facilitate this wi

[2019-09-10 14:51] RLHecht commented on #1435
@jenniferlee-dsva I've added all the entries we discussed from Vets.gov to the VA.gov style guide. Here is the PR: https://github.com/department-of-veterans-affairs/vets-design-system-documentation/pull/141

I know we are discussing a few of these terms at the content weekly and there are still a few you are checking on (Disability Benefits Questionnaires, Fully Developed Claim).

[2019-09-10 15:20] lkoenigsberg commented on #1129
@lihanli , and news from the Vet360 team?

Last I heard they might have identified where the problem was.  We also shared an updated spreadsheet with more information last week too.

[2019-09-10 15:40] ricetj commented on #582
done

[2019-09-10 15:40] #582 closed

[2019-09-10 15:46] ricetj opened #1668 "Ops / DevOps Onboarding documentation"
## Description

We have an onboarding doc started for the team that encapsulates thing that new engineers may want to know about, but it's incomplete and parts of it are out-of-date. Goal of this task is to re-write or update that doc and move it into this repo.

## AC

- [x] operations onboarding doc covers goals defined here: https://docs.google.com/document/d/1IM4WJNrSVxzX7jYSdcO_1xSxumJlQ_2e32

[2019-09-10 15:46] joanneesteban opened #1669 "Adjust Product Health MVP (Google Sheet)"
## User Story
As a Va.gov product owner, I need to clearly read the Product Health MVP so I can easily use the analytics to improve my product.

## Goal
Adjust the Product Health MVP for usability with the suggestions listed in the Acceptance Criteria section.

## Acceptance Criteria
- [x] Tabs:
    - [x] Hide all tabs except for Weekly and Monthly. Weekly tab should be first.
    - [x] Rename tab

[2019-09-10 15:53] kreek opened #1670 "Create and mock GET /appointments endpoint"
**User Story**: As a FE dev I want a mocked appointments endpoint so I can connect components that will use it.

**AC**: GET `/vaos/v0/appointments` exists and returns mock data

[2019-09-10 16:03] NateJohnson-BAH commented on #1640
PR link: https://github.com/department-of-veterans-affairs/vets-website/pull/10712

[2019-09-10 16:05] jholton commented on #1667
This is completed.
We accomplished the task with the following steps:
1. rename `institutions_archives` to `institutions_archives_temp`
2. create table `institutions_temp` (LIKE `institutions` table)
3. populate `institutions_temp` table with latest production/preview data from `institutions`. This will soon be our `institutions` table.
4. rename `institutions` table to `institutions_archives`
5.

[2019-09-10 16:05] #1667 closed

[2019-09-10 16:13] kfrz opened #1671 "Update monitoring transactions to use with_monitoring mixin pattern"
## User Story
As a VSP engineer, I need to have a standardized way of monitoring transaction success so I can know what to expect from my monitoring solution.

## Goal
_What outcome(s) do we want to see?_

## Acceptance Criteria
- [ ] _What needs to happen or be created?_

## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to an Epic**

[2019-09-10 16:14] nedierecel commented on #1586
@chrisj-usds - Please see metrics below:

*Timeframe*: 11/8/2018-09/09/2019
*Data Source*: [WBC - VA.gov Modernized View](https://analytics.google.com/analytics/web/?authuser=0#/report/conversions-goal-funnel/a50123418w177519031p184624291/_u.date00=20181108&_u.date01=20190909&_.goalOption=19/)

- Total Sessions in Timeframe that reached the [Discharge Upgrade Instructions page](https://www.va.gov/

[2019-09-10 17:06] ncksllvn commented on #993
@chrisj-usds I'm still investigating this, but is there a possibility that the Care-Site data doesn't include a fax number? I'm looking at some of the raw API data and the only field I see that stores a fax number is called `OrganizationFax`, which is what we're using currently, so I'm assuming that's Provider-level data.

[2019-09-10 17:20] tskinn commented on #743
This should be fixed with https://github.com/department-of-veterans-affairs/devops/pull/5489

[2019-09-10 18:10] mattpointzxer0 opened #1672 "Update consumer secrets and keys to maintain connectivity with GI Bill Feedback System lower environments"
## Background
VA.GOV integrates with the Feedback module in Salesforce, allowing veterans (or beneficiaries) to provide feedback on the educational facilities. There are multiple system environments and when an environment is refreshed the consumer key must be updated in order to maintain connectivity.

## Acceptance Criteria
Please update the consumer key and secret for each of the following envi

[2019-09-10 18:20] cvalarida opened #1673 "Broken link count Slack notification is off by one"
## Problem
The broken link Slack notification count is off by one.

## Acceptance Criteria
- [ ] The link counter accurately reflects how many broken links are found

## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to an Epic** (what body of work is this a part of?)
- [ ] **Labeled with Team** (`product support`, `analytics-insights`

[2019-09-10 18:35] lihanli commented on #1129
@lkoenigsberg last thing that happened was on 9/6 i talked with terry bazemore and described the problem and talked about possible solutions, he said he would discuss it with the vet360 team and get back to me on what we should do.

[2019-09-10 18:58] Karak888 commented on #1637
@mnorthuis sorry I wasn't assigning this to you, was just kinda showing some of the breakdowns for larger epic.

[2019-09-10 18:58] NateJohnson-BAH commented on #1646
Added conditional logic to only render the offending sentence when branches exist under a given institution. Otherwise, sentence is hidden and makes logical sense.

PR link: https://github.com/department-of-veterans-affairs/vets-website/pull/10712

[2019-09-10 19:08] 1Copenut commented on #1251
@desireeturner && @hughes-dustin
I'm going to follow up with the DSVA design lead on this one. My preliminary suggestion to move the `<button>` out of the `<label>` didn't behave as expected with screen readers. Please hold on merging, and I will follow up when we have guidance on a good fix.

[2019-09-10 19:12] jbalboni commented on #1612
I have not been able to find existing documentation on the CC api, just training materials for how CC works in VAOS.

[2019-09-10 19:14] jbalboni commented on #1612
@markgreenburg I added a page in the team repo for CC: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/appointments/engineering/Community%20Care%20notes.md

I think that covers the info we need for the first two items, couldn't find much info for the third one.

[2019-09-10 19:19] jbalboni commented on #1608
Updated notes doc: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/appointments/engineering/Community%20Care%20notes.md

We will have example requests and appointments in our mock data once we can access VAOS again, which in addition to the notes should cover the existing CC data.

[2019-09-10 19:20] #1608 closed

[2019-09-10 19:27] 1Copenut commented on #1253
@sonntag-adam Tested in the following screen reader pairings:
* Win10 + JAWS + IE11
* Win10 + JAWS + Chrome
* Win10 + JAWS + Firefox
* Win10 + NVDA + Chrome
* Win10 + NVDA + Firefox
* MacOS + VoiceOver + Safari

All behaved as expected. Works great and improves understanding of route change. Moving to close.

[2019-09-10 19:27] #1253 closed

[2019-09-10 19:29] brandonrapp opened #1674 "Test and document more feature\release toggles to better support VFS teams"
## User Story
Further test feature\release toggles and update documentation.
 - Test out percentage rollouts to ensure it works as expected and help document for VFS teams
 - Support VFS teams looking to leverage toggles for current work

[2019-09-10 19:41] desireeturner commented on #1251
@1Copenut Sounds good. I moved this to the Icebox until we receive a path forward on implementation.

[2019-09-10 19:46] 1Copenut commented on #1461
Added a comment to PR for one additional update: https://github.com/department-of-veterans-affairs/vets-website/pull/10699#issuecomment-530090897

[2019-09-10 19:50] johnpaulashenfelter commented on #1633
@tskinn does @Jeff-Hayter have email or other notifications turned on? Guessing he is not in github a lot

[2019-09-10 19:50] 1Copenut commented on #1647
@desireeturner I verified the error is not firing on first load of the Other zip code field.

Do we want the error to fire if users enter an invalid zip code (say 2-3 digits or add letters) and leave the field?

[2019-09-10 20:28] amyknox commented on #1651
@elder-joseph UXers recommend:  Learn more about location-based housing allowance

[2019-09-10 20:33] accbjt opened #1675 "Create document regarding design decisions made in the past"
## User Story
As a developer, I need to know if there are any design decisions that were made in the past that can effect my development.

Case: The By Light team was updating user information and the mockup had a success message. When talking to other developers we found out that it was decided in the past that we would not show success messages anymore. We should have a place were we can documen

[2019-09-10 20:35] rianfowler opened #1676 "Improve webfont loading on va.gov"
@rianfowler commented on [Tue Jan 29 2019](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/16628)

- webfonts don't start loading until the CSS is processed which increases the time it takes for text to render on the page
- webfonts are blocking the rendering of text on the page
- our build process hashes the webfont assets even though they're static

---

@rianfowler commen

[2019-09-10 20:38] rianfowler opened #1677 "Evaluate splitChunks functionality in Webpack to look for more efficient ways of splitting our bundles (vs vendor/app)"
@jbalboni commented on [Mon Sep 17 2018](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/13263)

We've been set on a basic vendor and app bundle split for a while now. Webpack supports more complex splitting formulas and will do a lot of that automatically now. We should look into the `splitChunks` default behavior and see if we can get a more efficient splitting up of our i

[2019-09-10 20:39] rianfowler opened #1678 "Replace lodash/fp merge on vets-website"
@cehsu commented on [Fri Sep 14 2018](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/13254)

We are interested in replacing lodash/fp with lodash on vets-website ([ticket](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/13253)), but are still interested in making use of an immutable merge helper. This ticket has been set up to track potential alternat

[2019-09-10 20:39] rianfowler opened #1679 "Replace lodash/fp merge on vets-website"
@cehsu commented on [Fri Sep 14 2018](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/13254)

We are interested in replacing lodash/fp with lodash on vets-website ([ticket](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/13253)), but are still interested in making use of an immutable merge helper. This ticket has been set up to track potential alternat

[2019-09-10 20:40] rianfowler opened #1680 "Replace lodash/fp on vets-website"
@cehsu commented on [Fri Sep 14 2018](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/13253)

As @jbalboni has pointed out, lodash/fp is less efficient at removing unused code than regular lodash.

For example, if you compare a bundle that just imports `lodash/fp/uniqueId` vs `lodash/uniqueId`, the fp version is 47kb and the regular version is 2.65kb.

This will involve repl

[2019-09-10 20:43] rianfowler opened #1681 "Update cache-control headers on resources without hashed filenames"
@rianfowler commented on [Wed Feb 27 2019](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/17131)

problem
- teamsite assets don't use hashed document names and our default cache behavior tells browsers to used cached assets for 60 days
- settings.js is used on all www.va.gov pages without a hashed file name. settings.js contains routing information that can cause the web ap

[2019-09-10 20:44] rianfowler commented on #1681
This may need devops support but I think frontend should be able to update these values in the devops repo. @accbjt

[2019-09-10 20:49] rianfowler opened #1682 "Monitoring Tools - Create a standardized process to monitor and leverage website performance"
# Problem
The platform needs a proper performance monitoring process for the website to ensure we can have standardized ways to measure, evaluate and govern website monitoring so that we can promote valuable improvements and ensure stability.

## VSP Q1 + Q2 2020 OKRs
O5: All customers comply with the Platform's standards.
- KR2: Reduction in non-compliance across VA.gov products for at least 5/10

[2019-09-10 20:56] rianfowler opened #1683 "Discovery: Review website performance"
# Problem

- `vets-website` has no automatic or consistent web performance metrics or monitoring

# Goal

- Determine current state of website performance and determine potential improvements to monitoring and performance

# Potential tasks

- evaluate the site performance using chrome dev tools
- find / evaluate performance monitoring tools
- review current performance monitoring tools (I think w

[2019-09-10 22:23] kreek opened #1685 "Create and mock GET /appointment/:id endpoint"
**User Story**: As a veteran I want to retrieve a single appointment by id so that I don't have to retrieve the entire list.

**AC**: GET /appointment/:id exists and returns a single appointment

**Notes**: There's no corresponding endpoint in VAMF, we'll have to cache the appointments list and retrieve single appointments from there.

[2019-09-10 22:33] kathleencrawford opened #1686 "Access for Kathleen Crawford"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Add a comment @department-of-veterans-affairs/vsp-operations to ping the operations team
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please

[2019-09-11 11:28] desireeturner commented on #1647
@1Copenut I confirmed with @amyknox and @dneel-bah that we do want the error to fire if users enter an invalid zip code and leave the field. It looks like it is doing this (immediately) when letters are added but not when fewer than 5 numbers are added.

[2019-09-11 13:04] andreahewitt-odd commented on #1189
@emilywaggoner Are you guys still meeting today?

[2019-09-11 13:05] jenniferlee-dsva commented on #1020
This old ticket for Special claims page (in Disability) also needs to be made during post-UAT work:
https://github.com/department-of-veterans-affairs/vets.gov-team/issues/15832#issuecomment-530198327

[2019-09-11 13:21] emilywaggoner commented on #1189
Yes, we are meeting from 2:30-3:30pm ET today.

[2019-09-11 13:23] andreahewitt-odd opened #1687 "Product Support Issues -- Sprint 9"

[2019-09-11 13:37] Justin-Pickett commented on #1135
@clantosswett can you validate this is working in Production so we can close out this ticket. Thanks so much.

[2019-09-11 13:39] Justin-Pickett commented on #1280
This review was completed 9/9/19. There are some items that need to be completed before launch but nothing blocking launch.

[2019-09-11 13:40] Justin-Pickett commented on #1091
Completed. Closing this ticket.

[2019-09-11 13:40] #1091 closed

[2019-09-11 13:43] Justin-Pickett commented on #872
@1Copenut please let me know when we can knock this training session out w/ the engineering team.

[2019-09-11 13:52] Samara-Strauss commented on #1088
Completed! Closing :D

[2019-09-11 13:52] #1088 closed

[2019-09-11 13:58] Justin-Pickett opened #1688 "Candidate Address Validation Design Work"
*Historical reference of the first draft of this flow.*

*- [11339] (https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/vets.gov-team/11339)*

-----------------------------------------------------------------------------------
@artistgreen will upload his UX documentation to this ticket.

## User Story

As an UX designer, I need to create UX mock u

[2019-09-11 14:13] Jeff-Hayter commented on #1633
@johnpaulashenfelter We're just waiting on you eQIP paperwork to be submitted/accepted.

[2019-09-11 14:15] accbjt commented on #1569
List of files
https://drive.google.com/drive/u/3/folders/0AJ6yVhfytxhFUk9PVA?ths=true

[2019-09-11 14:40] erikphansen opened #1689 "Revise Facility Locator colors to use colors from Formation"
The colors used for the border and text of the info bubble on the Facility Locator use colors that are not close to existing colors provided by the Formation design system's palette. Perhaps these colors can be updated to use something from Formation.

https://github.com/department-of-veterans-affairs/vets-website/pull/10701#discussion_r323006346

It's possible that the rules that use these colors

[2019-09-11 14:42] Karak888 opened #1690 "KPI Workshop for Global UX: Finish up with remaining Items from Template"
KPI Workshop with Insights / Analytics team was on 9/10/13.  We almost got through it all but still need to finish up a few rows in attached spreadsheet.

[2019-09-11 14:47] erikphansen opened #1691 "Prune unused messaging SCSS"
I believe there is a lot of old SCSS for styling features that have been removed from the site, in particular the messaging-related SCSS. Example: https://github.com/department-of-veterans-affairs/vets-website/pull/10701/files/8f076cd09933799828f9f2f81be2003f559e2e5e#r322813067

The unused classes and maybe even entire .scss files should be removed if they are not used anywhere in the app.

[2019-09-11 14:51] desireeturner commented on #1647
Entered https://github.com/department-of-veterans-affairs/vets.gov-team/issues/19674 to cover the update discussed above.

[2019-09-11 14:53] meganhkelley opened #1692 "PM: Coordinate IA Intro for VSA Benefits and Memorials team"
### User Story
As a PM for a VFS team going through onboarding with VSP, I need to participate in an IA intro session along with relevant members of my team, so that we know best practices for IA and how to engage with the VSP content & IA team.

### Goal
Schedule and attend IA onboarding session with VSP's content and IA team and the PM, content writers, and designers on VSA Benefits and Memorial

[2019-09-11 14:55] Karak888 commented on #1423
@lwalsh617 do you think this is in acceptable state for completion to close for this sprint so that you can pick up in audit in sprint starting today? Thanks

[2019-09-11 15:06] peterhill-oddball commented on #1486
Submitted to Rachael and Andrew for feedback.  So far, Andrew has provided a bunch of great feedback including the following:

1. Define how teams should accomplish Test Case Management and Test Execution Management with Andrea.
2. How does a team provide the deliverables?
3. Who reviews the deliverables to decide if they are adequate / meet standards?
4. Lengthen titles of sub-pages to include mo

[2019-09-11 15:06] amyknox commented on #1658
@dmccurdybah For the mobile friendly (list) view of School locations data...

We don't need to pre-pend "**School Name:**" in front of the school name nor "**Location:**" in front of the address.  Final version should look a lot like the attached screenshot.

![image](https://user-images.githubusercontent.com/41081945/64709221-e936d580-d483-11e9-98b8-016354eb6faa.png)

[2019-09-11 15:07] joanneesteban commented on #1529
Hosted KPI workshop on 9/10/19. Kara and Jen will complete the sheet and return.
https://github.com/department-of-veterans-affairs/va.gov-team/issues/1690

[2019-09-11 15:11] ncksllvn commented on #993
I have a PR open in the API for adding a new attribute `caresite_phone` into the provider data. We can then inspect this new attribute in Staging/Prod without affecting the website, since the front-end doesn't do anything with it. If we find that it's more reliable than the phone data we use currently, we can adjust either the API or front-end so that we show that to the user.

[2019-09-11 15:17] ncksllvn commented on #1519
That data representing a model has a `NetworkId` property as well as a `ProviderNetwork` property. I think the latter is just the name of the network matching the former's ID. I think a `NetworkId` of `0` indicates that that they are not in-network.

If my understanding of this work is correct, PPMS contains providers that aren't necessarily part of the Community Cares VA program? And that's what

[2019-09-11 15:22] tskinn commented on #1686
@Jeff-Hayter
COR: Mary O'Toole
User: Kathleen Crawford

[2019-09-11 15:22] peterhill-oddball commented on #1034
Load testing presentation is complete.  Privacy and Security presentation should be complete by today 9/11 or tomorrow 9/12.  Justin would prefer an integrated onboarding session late this week or early next week.

[2019-09-11 15:25] omgitsbillryan commented on #576
Status update:

- last seen in sentry July 24th
- last alerted in #vfs-sentry-alerts July 12th

It's possible that we fixed this as a result of another fix. It's also possible, that the timeout stopped being reached so regularly.

[2019-09-11 15:43] erikphansen opened #1693 "Facility Locator breaks on resize"
Under certain conditions, the Facility Locator will break when resizing the window.

1. Go to: https://www.va.gov/find-locations/?address=97130&context=Manzanita%2C%20Oregon%2097130%2C%20United%20States&facilityType=all&location=45.763690956618674%2C-123.94088745117189&page=1&serviceType&zoomLevel=9
2. Click on one of the location markers on the map
3. Shrink the window vertically
4. The entire re

[2019-09-11 15:48] erikphansen opened #1694 "Facility Locator appears to trigger re-search when resizing the browser window"
Facility locator appears to trigger a re-search when changing the height of the browser window. And when making the window shorter, the search appears to never resolve successfully.

Steps to reproduce:
1. Go to the Facility Locator and make a valid search. In this case, just use this URL: https://www.va.gov/find-locations/?zoomLevel=9&page=1&address=97130&facilityType=all&serviceType&location=45.

[2019-09-11 15:55] joanneesteban opened #1695 "[Support] Onboard VSA eBenefits"
## User Story
As a VSA team, I need to know what the VSP Analytics and Insights team does so I can use efficiently use their analytics support for my products and processes.

## Goal
Onboard VSA eBenefits onto VSP Analytics and Insights.

## Acceptance Criteria
- [x] Schedule Meeting with Team
- [x] Meet with Team
- [x] Add Team Members to Google Analytics
- [x] Iterate Onboarding Documentation ba

[2019-09-11 16:01] johnpaulashenfelter commented on #1633
@Jeff-Hayter thanks for the update!

[2019-09-11 16:01] #1171 closed

[2019-09-11 16:20] rroueche opened #1696 "Standardize templates for critical docs from the VSA "contract deliverables" list"

[2019-09-11 16:26] rroueche commented on #1696
Some examples of the things we may need to update / create

- Product Development Checklist (aka Pre-Launch Checklist)
- Go / No Go meeting
- Release Plan
- Product Plan / Product Outline / Team Charter

[2019-09-11 16:27] Karak888 opened #1697 "Content team transition information"
@bethpotts commented on [Tue Jun 25 2019](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/19080)

## Purpose
Provide process documents and trackers to the content team that will take over in July.

## What we need to do
Collect links and documents here to hand off.

---

@DanielleSoCompany commented on [Tue Sep 10 2019](https://github.com/department-of-veterans-affairs/vets.

[2019-09-11 16:28] Karak888 commented on #1697
@Karak888 moved a copy of this ticket into our VA.gov team repository for visibility.  I still left a copy in Vets repo in case of emergency!

[2019-09-11 16:32] Karak888 commented on #921
moving this to closed as I have an additional ticket to do second part of KPI workshop for Sprint 4

[2019-09-11 16:32] #921 closed

[2019-09-11 16:37] 1Copenut opened #1698 "Update documentation for the automated testing section of 508 best practices"

[2019-09-11 16:38] 1Copenut commented on #1698
PR is up: https://github.com/department-of-veterans-affairs/va.gov-team/pull/1602

[2019-09-11 16:41] 1Copenut opened #1699 "Update 508 pre-launch documentation for closing issues"

[2019-09-11 16:43] Justin-Pickett opened #1700 "[Front-End] Web version -Candidate Address Validation"
## Background

We want the Vet360 API to return to us an array of "candidate addresses" -- or addresses that the user might have intended to type in.

We should consume those addresses and display them to the user, allowing them to choose/ confirm a candidate address for re-submission to Vet360 API for validation.

1. All states of address validation.
2. All specs so they know how things work.
3.

[2019-09-11 16:46] Karak888 commented on #1465
Moving to closed

[2019-09-11 16:46] #1465 closed

[2019-09-11 16:47] #1606 closed

[2019-09-11 16:47] #1453 closed

[2019-09-11 16:47] #1390 closed

[2019-09-11 16:47] #1399 closed

[2019-09-11 16:48] Karak888 commented on #423
Not sure of status here so I am going to leave it for now @jenniferlee-dsva

[2019-09-11 16:57] YanaRoy opened #1701 "Working session with Veterans having issues with submitting claim"
## User Story
As a Veteran, I need communicate the issues I am experiencing when attempting to update documentation through the Claim Status tool to a developer so I can complete my task and help resolve the problem for other users.

## Goal
_Recreate issue Veterans are experiencing and resolve it_

## Acceptance Criteria
- [x] _Meet with Veterans who are experiencing issues updating documentation

[2019-09-11 17:11] amyknox commented on #1651
@peggygannon can you review / approve this content for aria label:
Learn more about location-based housing allowance

[2019-09-11 17:15] Karak888 commented on #1288
@RLHecht  will follow-up with @peggygannon to see if this can be closed now that Preview is working.

[2019-09-11 17:17] Karak888 commented on #993
@ncksllvn has a PR open for fax number.

[2019-09-11 17:27] mnorthuis opened #1702 "Fix Broken Links in Engineering Onboarding File"
## User Story
As a member of a VFS team, I need to be able to view onboarding documents in the va.gov-team repo in order to complete my onboarding tasks and be completely set up and informed to do my work.

## Goal
Fix broken links in `/platform/engineering/getting-started.md` file.

## Acceptance Criteria
- [ ] Correct the broken links

## How to configure this issue
- [ ] **Attached to a Milesto

[2019-09-11 17:30] aeltarhoni commented on #1361
@SMLuthi @ndsprinkle @Mottie

[2019-09-11 17:48] lihanli commented on #1280
https://github.com/department-of-veterans-affairs/vets.gov-team/issues/19647

[2019-09-11 17:52] #1461 closed

[2019-09-11 17:53] #1068 closed

[2019-09-11 17:54] Justin-Pickett commented on #743
@erikphansen check and see if dev should be calling Vets360.

[2019-09-11 17:59] aeltarhoni commented on #1054
@YanaRoy will follow up.

[2019-09-11 18:02] aeltarhoni commented on #1659
User stories will be created after meeting with Andrea. @YanaRoy

[2019-09-11 18:05] aeltarhoni commented on #1701
@YanaRoy will include @ndsprinkle @smoonpeyes to call

[2019-09-11 18:07] Karak888 commented on #1423
@lwalsh617 closing this out for Sprint 3 even if you had minor tweak you can begin work on Audit of Tier 2 content. Thanks!

[2019-09-11 18:07] #1423 closed

[2019-09-11 18:09] aeltarhoni commented on #1650
@smoonpeyes will follow up with Alex Taylor

[2019-09-11 18:10] jenniferlee-dsva opened #1703 "Update avg number of days on disability page"
## User Story
As a Veteran, I need to know how long it typically takes to decide a claim, so I have better expectations on the process. As a VBA stakeholder, I need to provide this information as part of federal guidelines.

**[Replace this content...]**

109
Average number of days to complete disability-related claims in July 2019

From Misty Sweet:
**[...on this page...]**

https://www.va.gov/di

[2019-09-11 18:10] Karak888 commented on #423
@jenniferlee-dsva I am closing this one out, but you will still be able to access the connected issues as they are captured in the ticket you referenced above (which is still in vets.gov repo).

[2019-09-11 18:10] #423 closed

[2019-09-11 18:13] Karak888 commented on #1288
@RLHecht  I am moving this to validate since the work is essentially done.  I'll let you follow up with Peggy and you can let me know status after that.  Thanks!!

[2019-09-11 18:16] omgitsbillryan opened #1704 "Display Rubocop Lint Failures in Jenkins Console Output"
## User Story
As a VSF engineer, I want to see the rubocop lint failures when my `vets-api` jenkins build fails.

## More Context
A common use-case for anyone who creates a `vets-api` PR:
1. Open PR
2. See a red x ( ❌ ) from jenkins, e.g.
![image](https://user-images.githubusercontent.com/3077884/64723289-3f187700-d49e-11e9-9be6-8d5990a1a62b.png)
3. Click on red x ( ❌) to see why it failed
4. Jenk