[2021-01-25 17:58] jwoodman5 commented on #12948
Thank you for the head's up, @leahkeeler!

[2021-01-25 18:00] kristenmcconnell commented on #17199
@sshein For reference too.

[2021-01-25 18:01] peggygannon opened #18949 "Content Feedback - Usability Prep - GI Bill Comparison Tool redesign"
## User story
VSP content feedback for GI Bill Tool redesign
Link to prototype: https://bahdigital.invisionapp.com/share/2MIAFYF83FT#/screens

## VFS acceptance criteria
- [ ] Let VSP know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

[2021-01-25 18:01] digitalken commented on #16846
PASS 1/25/2021 Closing.

[2021-01-25 18:01] #16846 closed

[2021-01-25 18:03] MarciMcGuireGCIO opened #18950 "Find a VA Form - Remove sort feature toggle, do PR, deploy to Prod"
## User Story

As a FE engineer, I want to remove feature toggle that prevented the new sorting feature from being displayed in Production so that our users can start using it.

## Expected Behavior

Sorting feature is displayed on Production

## Acceptance Criteria

- [x] Remove feature toggle that hid sort feature on Production
- [x] Complete Peer Review
- [ ] Deploy to Production

[2021-01-25 18:03] bessgreen opened #18951 "Update a11y labels to match page titles"
## Context for this ticket
Currently, a11y labels and page titles are not 1:1.

## Acceptance Criteria
1. Sweep all pages in the app and update the accessibility labels so they match the page titles
     - For example, on the Prepare for Video Visit page: the a11y label is "prepare for video visit screen". The page title is "prepare for video visit page." Please update the a11y label to match the

[2021-01-25 18:06] bessgreen commented on #16846
Ticket to update a11y hints to match page headers: #18951

[2021-01-25 18:07] bradl3yC opened #18952 "Debt Letters - FSR - BUG - Selecting debt resolution type removes selected status of debt within FSR"
When selecting a debt resolution type - the array is being overwritten and the logic used to determine if a debt is selected on an earlier screen no longer works - if a veteran clicks back to select another debt or removes a debt, the data used to determine if its selected becomes out of sync

[2021-01-25 18:15] cvalarida opened #18953 "Add analytics to Storybook"
## Issue Description
To capture usage data on Storybook, we need to add the [Google Analytics Addon](https://storybook.js.org/addons/@storybook/addon-google-analytics).

## Questions
Is the GA ID sensitive information? Do we need to add that into the Storybook deploy via CI?

[2021-01-25 18:15] brianalloyd opened #18954 "CMS export JSON diffs for Public Websites Transformers"
## Issue Description
_The PR for the comparison tool has been merged, and documentation has been written for how to use it. Now Public Websites FE team needs to run the diff and fix identified discrepancies to all owned transformers_

Refer to Identify & document transformers owned by VSA Public Websites [#16440](https://github.com/department-of-veterans-affairs/va.gov-team/issues/16440)

## Front

[2021-01-25 18:16] meganhkelley opened #18955 "HTML entities showing false positive discrepancies between GraphQL <> CMS Export"
## Details

Notes from FE Tools standup 1/25

* JSON comparison script, HTML entities
   * HTML entity example - ampersand
   * HTML entities are being added to the qraphQL queries but not to the CMS export content
      * They’re technically the same string, but the entitity is being added in the graphQL
      * We could ignore this? But maybe we could get these entities into the CMS export? Or t

[2021-01-25 18:17] mshea0606 opened #18956 "[EPIC] MyVA copy"
## Background
This is a ticket to track copy for MyVA 2.0

## Tasks
- [ ] Matt creates tickets for each case below
- [ ] Tressa/Cassandra add info to tickets
- [ ] Peggy reviews each ticket

LOA1 user

LOA3 First-time user experience

LOA3 user who has everything

LOA3 user who has things but has no updates

[2021-01-25 18:22] zacharymorel commented on #17901
Can we close this?

[2021-01-25 18:22] MarciMcGuireGCIO commented on #17901
Yes

[2021-01-25 18:22] #17901 closed

[2021-01-25 18:28] annaswims commented on #13949
Additional possiblity for 500 errors https://app.zenhub.com/workspace/o/department-of-veterans-affairs/va.gov-team/issues/18924

[2021-01-25 18:29] SgardnerPMP opened #18957 "[REVIEW] Internal Review, Test, Proof Read, and CORRECT all NODES for "VA So. Louisiana health care" ending with stakeholder review doc [VAMC]"
## User Story or Problem Statement
As a Veteran Web user, I must have full accessibility a compliance to my web applications and tools, so I can use the VAMC system pages in any GUI, UE, including mobile and reader environments.

## Goal
_Perform initial page testing and review

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran's accessibility

[2021-01-25 18:31] cohnjesse opened #18958 "Add collapsing "card" that opens with "Remove This Dependent" button"
# Background

In order to allow the user to click into a specific dependent and provide us with the information needed to remove them, we need to add the ability for each dependent card in the list to "expand" with a formlet inside.

[Mockup](https://xd.adobe.com/view/9a75a359-e0e2-4411-b235-60c3dddb4e6e-cf26/screen/47bc540b-9ae3-448f-b73f-c9dcc259aa99)

## Tasks
- [x] Add Javascript functionality

[2021-01-25 18:32] annaswims commented on #13949
EVSS's Jan 20 deploy did noticeably reduce the error rate.
![Screen Shot 2021-01-25 at 1.30.53 PM.png](https://images.zenhubusercontent.com/5bb3c3a61c43df49f8b08cfb/378f4938-98c2-4198-8983-6819b2f5b9b4)

[2021-01-25 18:32] #17741 closed

[2021-01-25 18:33] jenniferlee-dsva commented on #17779
I'm not sure this is a content source issue. This might be far fetched - but could it be somehow related to this platform issue re graph ql/content export?
https://github.com/department-of-veterans-affairs/va.gov-team/issues/18955

I am really not sure, so do ignore if this looks obviously unrelated. @brianalloyd @kelsonic (Again, this is "Low" as far as bug severity goes.)

[2021-01-25 18:34] SKasimow commented on #13275
@DanielleThierryUSDSVA - hi can this be closed?

[2021-01-25 18:35] starlow00 commented on #17718
Hello @mmiddaugh (cc @Kimberley2019). Do you happen to have the original Word document for this, and would you mind sharing a copy as soon as you're able? VEO is asking for larger images, and it's much easier to work in a non-PDF format. Thank you for your time!

[2021-01-25 18:41] ncksllvn commented on #17779
Basically, each search result gets 200 characters to show under its title before we put the `...` in there. In HTML, some special characters are represented by multiple characters but display on-screen as just a single special character. What's happening is that the FE is truncating text in the middle of those characters.

[2021-01-25 18:46] digitalken commented on #18904
@lexicalninja - Here's the text cut off page.

[2021-01-25 18:47] digitalken commented on #18905
@lexicalninja - Here's the footer that can scroll up on top of the buttons.

[2021-01-25 18:47] cohnjesse opened #18959 "Add logic to Collapsing "Card" Based on Dependent Type"
## Background
When a user clicks to "Remove this dependent" an area will open up that needs to include a few form fields to collect the information that we need and don't already have. These "formlets" will need to include slightly different fields based on the type of dependent.

## Considerations
- [Mockup](https://xd.adobe.com/view/9a75a359-e0e2-4411-b235-60c3dddb4e6e-cf26/screen/47bc540b-9ae3-

[2021-01-25 18:49] kevinmirc commented on #18555
Related (but different) error: http://sentry.vfs.va.gov/organizations/vsp/issues/6552/events/latest/?environment=production&project=3&query=+controller_name%3Acaregivers_assistance_claims+

[2021-01-25 18:51] JasonTheBearded commented on #15132
@mmiddaugh what is the start date for the Pittsburgh health system? Trying to see how far back the dash needs to go. Thanks!

[2021-01-25 18:52] #16225 closed

[2021-01-25 18:53] #18482 closed

[2021-01-25 18:53] #18744 closed

[2021-01-25 18:53] #18789 closed

[2021-01-25 18:53] #15553 closed

[2021-01-25 18:54] #15552 closed

[2021-01-25 18:55] jenniferlee-dsva commented on #17779
I'm not sure... Here is the intro text that is being truncated in the results. The ellipses symbol `... `is added after the word `a` and before the word `Premium`:

![image](https://user-images.githubusercontent.com/43381063/105752034-cd1ac380-5f14-11eb-82df-79211cd3170f.png)

[2021-01-25 18:58] annaswims opened #18960 "[Bug] Retry form526 submission for 502/503 from EVSS"
when EVSS responds with a http 502 (Bad Gateway), 503 (Service Unavailable) or  error we should categorize the error as retriable and retry the request.

https://github.com/department-of-veterans-affairs/vets-api/pull/5403 aimed to do categorize 503's as retriable, but
[we still see them as non-retriable](http://sentry.vfs.va.gov/organizations/vsp/issues/509/events/e1d2061e18cd4b909235913c98f317dc

[2021-01-25 19:03] outerpress commented on #17006
Thanks @laurenernest and @jbalboni ! I'd love to see any other variations of the single facility warning alert.

At least for the one you posted Lauren, I don't think that needs to be an alert, since they can continue scheduling with that facility, right?

We could probably just show them the facilities page with the single facility and new "Why isn't my facility showing" dropdown. We might just m

[2021-01-25 19:07] #18184 closed

[2021-01-25 19:08] ala-yna opened #18961 "Update Caregiver Support Line hours in footer"
## User Story
As a Veteran
I would like to know the updated hours for the Caregiver Support Line
So that I can get the help I need when I need it.

## Expected Behavior

Update the footer through the 10-10CG form. It should say:

You can call the VA Caregiver Support Line at 855-260-3274. We’re here ~Monday through Friday, 8:00 a.m. to 8:00 p.m. ET.~ Monday through Friday, 8:00 a.m. to 10:00 p.m.

[2021-01-25 19:16] kristenmcconnell opened #18962 "Health Record Discovery"
## Product Links
- [Questionnaires Product Outline ](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/product-outline.md)
- [HealthRecord Initiative](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/initiatives/health-record.md)
- [Medications Feature Outline](htt

[2021-01-25 19:17] annaswims commented on #13949
EVSS can now log into our sentry.  This page should have examples of 502/503 that should be dealt with by EVSS http://sentry.vfs.va.gov/organizations/vsp/issues/509/events/latest/?project=3&statsPeriod=14d

[2021-01-25 19:18] luke-gcio commented on #16163
All the linked tickets are closed.  Can we close this, @pjhill ?

[2021-01-25 19:18] Mottie commented on #18919
Fix has just been merged.

[2021-01-25 19:21] RLHecht opened #18963 "Add hours of operation info to Helpful VA phone numbers article in R&S"
## Issue Description
Currently, the [Helpful VA phone numbers](https://www.va.gov/family-member-benefits/comprehensive-assistance-for-family-caregivers/) article in R&S doesn't list the hours of operation for the contact numbers. We need to create a third column to add this information.

List of hours: [https://app.zenhub.com/files/133843125/1c794f7f-6061-4ec5-ae28-674612f4cbb9/download](https://a

[2021-01-25 19:26] mmiddaugh commented on #15131
@JasonTheBearded what link should I use to make sure I am seeing the correct dashboard?

[2021-01-25 19:34] MarciMcGuireGCIO commented on #18434
Marking this as blocked since there's a larger sitewide effort by the Globalization team to address language.

[2021-01-25 19:35] JasonTheBearded commented on #15131
@mmiddaugh please use this link, https://va-gov.domo.com/page/444997301

[2021-01-25 19:41] amyknox commented on #18669
Shared content with EDU.

Solution is going in a different direction so no inquiries or updates are relevant here.

[2021-01-25 19:41] #18669 closed

[2021-01-25 19:44] MarciMcGuireGCIO commented on #10758
Outstanding VA accessibility review and 508 issues have been captured in separate tickets.  Closing this Epic.

[2021-01-25 19:44] #10758 closed

[2021-01-25 19:53] delli-gatti-michael commented on #18860
Fix is now on Staging. Closing this out

[2021-01-25 19:53] #18860 closed

[2021-01-25 20:10] rileyorr opened #18964 "[FSR] The 'cancel' button functionality needs to be updated in the list loop component"
## Issue Description
There are multiple bugs occurring with the 'cancel' buttons in the list loop component.
**How to recreate the bugs in staging:**
1. Navigate to Step 2: 'Your employment history'
2. Select 'yes' for, "Have you been employed within the past two years?"
3. Select 'yes' for, "Are you currently employed?"
4. Select the 'Add payroll deduction' button
5. **Bug 1:** Selecting the 'can

[2021-01-25 20:11] sporeboy commented on #18489
Worked with Beth P. on text changes. Content revisions in place here: https://xd.adobe.com/view/dd487b28-382f-4f45-8116-c9259b88cfb3-881b/

Final review pending.

[2021-01-25 20:11] ncksllvn commented on #17779
Yeah it looks like that is no ordinary "a". I  was wondering about that too, so I looked at the underlying raw content. The source looks like this - ` how to upgrade to a&#xA0;Premium&#xA0;<strong>My HealtheVet&#xA0;`

Or here is that character rendered into this GH comment - a&#xA0;

[2021-01-25 20:11] #18327 closed

[2021-01-25 20:23] mviterna commented on #18728
FYI, I'm the developer who has been assigned this issue on Lighthouse. I'm new to the team and to the Forms API, so you will need to bear with me. We had to push this out to our next sprint, which starts tomorrow, because we were still getting our dev environments up. I'll have a chance to look at it in more depth this week.

[2021-01-25 20:28] peggygannon commented on #18610
Hi, @amyknox Is there a content outline artifact? If so, can you link it to this ticket? It will help greatly with my content feedback/recommendations.

[2021-01-25 20:29] meganhkelley commented on #18706
Current as for FE Tools is to address the following:

Intercept 9-question
1 - Manage focus (trap it) inside the modal dialog. Right now focus never moved from the page behind the modal. This will cause problems for screen readers.
2 - Focus halo is not shown on the Medallia dialog. I can't tell which item has keyboard focus. This should use the same yellow focus halo we use on VA.gov.
SEE ATTACHE

[2021-01-25 20:30] LinnJS commented on #18574
Added work to this ticket so all address field labels show "Street address" instead of "Street"

![Screen Shot 2021-01-20 at 4.52.34 PM.png](https://images.zenhubusercontent.com/5dcf313b98e0b800015f2353/cb8f6d1a-b550-4ca9-b7ba-5d4b9c4639ca)

[2021-01-25 20:32] 1Copenut commented on #18706
@meganhkelley Does your team have access to the source code? I can make suggestions / offer help if there's a repo to be checked out or pointed to. Regardless, holler at me anytime for questions, consults, or to test code in progress.

[2021-01-25 20:34] joshkimux opened #18965 "508-defect-2 [FOCUS MANAGEMENT, SCREENREADER]: Focus on page load within the form SHOULD be placed on the H2 (Steps)"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

Within the BDD form flow, on page load, the focus

[2021-01-25 20:36] rileyorr commented on #18540
We're still waiting for content feedback, but I am going to move this ticket over and create a separate ticket to incorporate any content feedback so this work is documented for this sprint.

[2021-01-25 20:37] zurbergram commented on #18878
[Current OMBInfo text](https://github.com/department-of-veterans-affairs/component-library/blob/master/src/components/OMBInfo/OMBInfo.jsx)

https://github.com/department-of-veterans-affairs/vets-website/pull/15781

[2021-01-25 20:37] ianMcCullough-ob commented on #13727
For this test, I clicked on in-text "CDC website" link under the "How else will VA protect me from exposure to COVID-19?" FAQ on the [Coronavirus FAQs page](https://staging.va.gov/coronavirus-veteran-frequently-asked-questions/#more-benefit-and-claim-questions) (*screenshot below*)

<img width="707" alt="Screen Shot 2021-01-25 at 3 36 08 PM" src="https://user-images.githubusercontent.com/73119703/

[2021-01-25 20:38] srsuddath commented on #18174
The fixes for this ticket have been merged in and it can be closed!

[2021-01-25 20:38] #18174 closed

[2021-01-25 20:40] erluti opened #18966 "[Spike] - Does Sidekiq UI support github login via a plugin?"
When the Sidekiq UI is mounted in vets-api it can be passed authentication code.  Is there already a github plugin for this?

[2021-01-25 20:48] MarciMcGuireGCIO commented on #17484
Tagged Lydia Vian into Slack thread started in Dec.  https://dsva.slack.com/archives/CUB5X5MGF/p1608134793280600?thread_ts=1608051083.270100&cid=CUB5X5MGF

[2021-01-25 20:53] jenniferlee-dsva commented on #17779
So many things about this is odd to me. Like why do we even bold "My HealtheVet"? We don't bold proper nouns or branded terms in general, I don't think, do we?  (@RLHecht )

[2021-01-25 20:56] bramleyjl opened #18967 "Query & add MPI data to TUD account resource"
## Issue Description
_What details are necessary for understanding the specific work or request tracked by this issue?_
To provide the necessary information for filtering and selecting TUD accounts MPI data about each account is needed.

---
## Tasks
- [x] test_user_dashboard_tud_accounts table updated with columns to store relevant MPI data
- [x] TudAccount class updated to store and return appro

[2021-01-25 20:56] Jeff-Hayter commented on #13495
@jsev-io Approved for AWS.

[2021-01-25 20:56] Jeff-Hayter commented on #17854
@jbritt1 Approved for AWS.

[2021-01-25 20:57] Jeff-Hayter commented on #17873
@wyattwalter Approved for AWS.

[2021-01-25 20:57] Jeff-Hayter commented on #18370
@tskinn Approved for AWS.

[2021-01-25 21:00] erluti commented on #18966
Sidekiq has this documentation for authentication into the web UI https://github.com/mperham/sidekiq/wiki/Monitoring#authentication

[2021-01-25 21:02] joeniquette commented on #18930
I'm not sure we should/can store:

- 'fl-service-type-filter'
- 'fl-closest-result-distance-miles'

They could be used in combination to be seen as health related identifying information. Especially in the more rural areas where only one person is located 32.4 miles away from a facility. I would be willing to discuss if their is enough entropy with these results that doesn't allow identification a

[2021-01-25 21:03] stephenBarrs opened #18968 "Access for Stephen Barrs"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Do not remove `operations` label; this will notify the VSP Operations team of your request
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Pleas

[2021-01-25 21:03] zurbergram commented on #18881
https://github.com/department-of-veterans-affairs/component-library/pull/20

[2021-01-25 21:04] digitalken commented on #18639
Added to TestRail.

[2021-01-25 21:09] shiragoodman commented on #18838
Hi @MarciMcGuireGCIO . Thanks for meeting with us today. Because you're already at the end of your build, here's what we recommend:

- Staging Review (just create a ticket when you're ready to schedule)
- Privacy & Security Review
- Please reach out to [Contact Center](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/contact-center/request-contact-center-review.md

[2021-01-25 21:11] digitalken commented on #18804
Added to TestRail.

[2021-01-25 21:11] amyknox commented on #18610
Hi @peggygannon - there's not a lot of content in this UI.  Here's where we're keeping it now; https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/education-careers/school-comparison-tool/redesign/design/content-doc.md

[2021-01-25 21:12] ala-yna opened #18969 "Remove feature toggle for address work on HCA"
## Tasks
- [x] Remove the feature toggle that controls whether the home address question is available

## Acceptance Criteria
- [x] Ensure that the release of the address work has gone smoothly
- [x] Understand how SIP forms will be impacted
- [x] Ensure that SIP forms will be safely migrated
- [ ] The SaveInProgress bug should be fixed
- [ ] All previous positive QA checks should still be positiv

[2021-01-25 21:14] grossb1 opened #18970 "Use request limit check when determining which Express Care window to use: front-end"
Currently, when choosing an Express Care window to display to a user, we choose the open window at the facility closest to a users's home address. Then later when check to see if they're over the request limit.

The intent of the Express Care section on the homepage was actually to:

- Find any open windows at facilities a Veteran is registered at
- Filter out any where the Veteran is over the req

[2021-01-25 21:15] grossb1 commented on #16029
The front-end work is represented here: #18970

[2021-01-25 21:15] #18084 closed

[2021-01-25 21:15] grossb1 commented on #18970
The back-end work is represented here: #16029

[2021-01-25 21:15] bridgethapner commented on #18915
# Questions to discuss with Peter tomorrow:
- Can all VA appointments be canceled on VAOS? If not, generally what % of VA appointments cannot be canceled online?
- Is VAOS ever not able to return a phone # for a facility? I am assuming this is a use case we need to think about

# (WIP) Documentation for front-end

## VA Appointment (can be canceled online)

### Default State
- Most VA appointments

[2021-01-25 21:16] #18155 closed

[2021-01-25 21:16] erluti commented on #18966
This is about all the documentation there is for custom authorization solutions for Sidekiq UI: https://github.com/mperham/sidekiq/issues/3251

Otherwise it's handled in the routes files using existing authentication libraries.

`vets-api` doesn't use existing auth libraries and instead has custom code rejecting authorization at the ApplicationController level.

So this [POC PR](https://github.com

[2021-01-25 21:16] #18966 closed

[2021-01-25 21:17] #18080 closed

[2021-01-25 21:18] #15718 closed

[2021-01-25 21:18] #15125 closed

[2021-01-25 21:19] bridgethapner opened #18971 "Appointments: Update Community Care Appointments to include provider & clinic name"
# User Story
As a member of the VA mobile app team, I want to ensure that information displayed in the app for Community Care appointments aligns with information displayed on VAOS for Community Care appointments -- meaning that the mobile app should update to include provider name and clinic name.

[2021-01-25 21:21] shiragoodman opened #18972 "Create Github md document for Custom Tracks questions"
## Issue Description
This document will serve as a reference guide for VFS teams. It will show them what questions we ask, why we ask those questions, what is the outcome of each answer and how that will impact them throughout their build.

---
## Tasks
- [x] Take questions from the Wizard V3 flow and transcribe them into a markdown file.
- [x] Provide examples for each question asked.
- [x] Make

[2021-01-25 21:21] #17803 closed

[2021-01-25 21:22] #18889 closed

[2021-01-25 21:22] #16040 closed

[2021-01-25 21:23] bridgethapner commented on #16171
It looks like this is done, the app is doing this as I am logging in on Test Flight now! Yay! :) Thanks for pushing on this Patrick.

[2021-01-25 21:24] #18952 closed

[2021-01-25 21:25] #18783 closed

[2021-01-25 21:25] #18784 closed

[2021-01-25 21:28] leahkeeler opened #18973 "Debt Letters I2 - Downtime alert"
The DMC has systems update every day from 12:30am to 3:00am, the Veterans need ot be notified they will not be able to access the information in the Debt Portal from DMC API during that time.

Info: https://design.va.gov/patterns/messaging-dictionary#scheduled-downtime-notifications

Definition of done:

- [x] Create designs

- [x] Create ticket for FE to add to portal

[2021-01-25 21:29] starlow00 commented on #17414
Hi @SKasimow (cc @jwoodman5, @Kimberley2019). I've been told that VEO wants larger images, so I put something together. Questions, let me know. Attached are the PPT and PDF, v2. [https://app.zenhub.com/files/133843125/3f405d82-8607-40c1-99b9-b35c045ebaaa/download](https://app.zenhub.com/files/133843125/3f405d82-8607-40c1-99b9-b35c045ebaaa/download)
[https://app.zenhub.com/files/133843125/008000fc-

[2021-01-25 21:30] rileyorr opened #18974 "[FSR] Clicking the 'save' button on the default list loop card breaks the form"
## Issue Description
Clicking the 'save' button on the default list loop card breaks the form
**How to recreate the bug in staging:**
1. Navigate to Step 2: 'Your employment history'
2. Select 'yes' for, "Have you been employed within the past two years?"
3. Select 'yes' for, "Are you currently employed?"
**Bug 1:** Selecting the 'save' button on the default payroll deduction card breaks the form

[2021-01-25 21:39] bramleyjl opened #18975 "Update TUD account population rakefile to overwrite existing accounts"
## Issue Description
_What details are necessary for understanding the specific work or request tracked by this issue?_
The current iteration of the TUD account population rakefile pulls test account user data out of the test_users.csv file and writes it into the vets-api database, but does not have handling removing existing TUD accounts; running the script multiple times

---
## Tasks
- [ ] Ensu

[2021-01-25 21:43] digitalken commented on #18798
Added to TestRail.

[2021-01-25 21:44] erluti commented on #18600
Using github teams as whitelist is possible, just maybe not straightforward.  [Documentation for getting a list of a teams member is here](https://docs.github.com/en/rest/reference/teams#list-team-members).  The team members come back by github username, but that's not something ID.me knows.  So then we'd have to look [up all the users on that list individually](https://docs.github.com/en/rest/ref

[2021-01-25 21:44] MarciMcGuireGCIO commented on #18728
@mviterna thank you for the update.  Please let us know if you have any questions once you dig into this.

[2021-01-25 21:47] mmiddaugh commented on #18824
This may also require a transformer. Too soon to tell.

[2021-01-25 21:47] digitalken commented on #15760
Added to TestRail.

[2021-01-25 21:49] jonwehausen commented on #18278
## Update 1/25/2021

@ianMcCullough-ob Following Sarkis news that the pre-requisites identified below have been implemented, I began testing this with a custom HTML tag here: https://tagmanager.google.com/#/container/accounts/144676348/containers/2214120/workspaces/1000446?orgId=oXPY3GFFQwaHnjNHpFLyFg

![image](https://user-images.githubusercontent.com/48527022/105769129-55a45e80-5f2b-11eb-96ca-30

[2021-01-25 21:49] brianalloyd commented on #18876
@DanielleThierryUSDSVA @RLHecht @kelsonic @ncksllvn  is this something sidewide content can action or is FE support needed in support?  Trying to assess when we need to insert this into the board for action.  Thanks

[2021-01-25 21:51] digitalken commented on #18709
Added to TestRail.

[2021-01-25 21:52] RLHecht commented on #18876
@brianalloyd This would be a content issue. It looks like it's adding a line with a link to the application page. I can work with @DanielleThierryUSDSVA to figure out when we can implement.

[2021-01-25 21:54] brianalloyd commented on #18876
Thanks @RLHecht for the follow up, super helpful, please reach out if you need any support from your old team mates.

[2021-01-25 22:01] brianalloyd commented on #13727
@joanneesteban and @jonwehausen it looks like the Public Website teams work here has been validated, are we at a point that we can remove our labels in support of this ticket?  Thanks.

[2021-01-25 22:02] joeniquette commented on #18889
`trivy image tud`
[code]

[2021-01-25 22:09] jbalboni opened #18976 "Homepage refresh: show Express Care requests on past appointments page"
We should show Express Care appointments on the past appointments page.

Note that currently requests are not fetched on the past appointments page. This ticket will require fetching requests with different date ranges, which means we will probably have to store them in a different property in the Redux state than requests for the requests page.

AC
- [ ] Behind the va_online_scheduling_homepage_r

[2021-01-25 22:16] digitalken commented on #17471
Added to TestRail.

[2021-01-25 22:22] mmiddaugh opened #18977 "Render new form system on Facility Locator front end"
## Issue Description
So that the Facility Locator can fall into line with the design system and use accessible error messages, we need to convert to the form system.

## Tasks
Create new components and ensure they render on the front end
Check for/resolve regression
This will be controlled by a feature flag to allow testing

## Acceptance Criteria
- [ ] New search components created with form syst

[2021-01-25 22:23] #18652 closed

[2021-01-25 22:24] mmiddaugh opened #18978 "Facility Locator form system conversion feature flag"
## Issue Description
So that the Facility Locator can fall into line with the design system and use accessible error messages, we need to convert to the form system.

## Tasks
Create feature flag to allow testing

## Acceptance Criteria
- [ ] New search components created with form system do not move to Production until ready

---
## How to configure this issue
- [ ] **Attached to a Milestone** (w

[2021-01-25 22:27] kristenmcconnell commented on #17805
Updated after talking with Amanda and Mark. Peggy reviewed the additional sentence on the Canceled appointment, in-progress questionnaire card.

![After 2nd usability - Questionnaire List - Completed.jpg](https://images.zenhubusercontent.com/5f44055c65a5c54f7cfe5928/821619f7-4e0c-424a-8109-9a7a25768b2e)
![After 2nd usability - Questionnaire List - To Do.jpg](https://images.zenhubusercontent.com/5f

[2021-01-25 22:27] mmiddaugh opened #18979 "Functionality of new form system on Facility Locator"
## Issue Description
So that the Facility Locator can fall into line with the design system and use accessible error messages, we need to convert to the form system.
## Tasks
Check for component functionality
Check for/resolve regression

## Acceptance Criteria
- [ ] New search components created with form system function as expected
- [ ] Any unintended changes are identified and resolved
---
##

[2021-01-25 22:28] #17805 closed

[2021-01-25 22:31] mmiddaugh opened #18980 "Implement Facility Locator error messages (post form system converstion)"
## Issue Description
So that the Facility Locator can fall into line with the design system and use accessible error messages, we had to convert to the form system. Now that we have implemented the form system, we need to implement accessible error messages.

---
## Tasks
- [ ] Implement error messages consistent with design spec
- [ ] Add cypress and unit testing

## Acceptance Criteria
- [ ] Sig

[2021-01-25 22:31] mdewey commented on #18238
Merged, waiting for deployment to staging

[2021-01-25 22:32] mdewey commented on #18417
Merged, waiting for deployment to staging

[2021-01-25 22:34] joshkimux commented on #18756
@johnhashva For some added context on the importance of transcripts.

"Transcripts are the only way a person who is deafblind will be able to access all of the information communicated in audio and video formats. Some modern braille readers have the ability to display video captions, but it can be challenging to read the braille characters as quickly as the captions are displayed, so transcripts a

[2021-01-25 22:40] cohnjesse opened #18981 "Add Logic to Pick Up Data in Form Components for `Spouse`"
## Background
Now that schemaform has successfully been used to build a basic form with inputs, we need to align with the mockups and build out more robust schemas and uiSchemas for the `remove spouse` workflow.

## Consideration
- [mockups](https://xd.adobe.com/view/d390050f-bc57-4550-a139-a57642c89f8c-86c3/screen/f272c2e9-8983-4228-8bab-916eede80e0a?x_product=cc-slack%2F1.5.1)
- Do we need a new

[2021-01-25 22:44] ncksllvn opened #18982 "Fix runtime error during the error-state of the widget initialization"
On React widgets like the `/find-forms/` widget, we show an error message if the widget for some reasons fails to load - generally this is due to an issue downloading the JS. However, on IE, a runtime error occurs while trying to show that error message. We should fix this so that IE shows the proper error message when it occurs.

[2021-01-25 22:44] mmiddaugh commented on #18208
This will be resolved by https://github.com/department-of-veterans-affairs/va.gov-team/issues/18908

[2021-01-25 22:44] #18208 closed

[2021-01-25 22:45] ncksllvn commented on #18982
@brianalloyd I noticed a bunch of these errors in Sentry (a system we use to capture errors happening on the website.) This is a quick and easy fix so I grabbed it. Can we add it to our sprint?

[2021-01-25 22:45] cohnjesse opened #18983 "Add schema and uiSchema for remove child workflows in manage dependents"
## Background
Now that schemaform has been used to create a basic form, we need to align with mockups to create a form usable by the 686c endpoint. This is for all the `remove child` workflows

## Considerations
- [mockups](https://xd.adobe.com/view/d390050f-bc57-4550-a139-a57642c89f8c-86c3/screen/f272c2e9-8983-4228-8bab-916eede80e0a?x_product=cc-slack%2F1.5.1)

## Tasks
- [x] Add redux, schema, u

[2021-01-25 22:48] rebeccawalsh commented on #18541
Waiting on Danielle's feedback on content, but the new design proposals are here:
- [If a waiver was requested](https://preview.uxpin.com/803dc24213cf723bfce6c5e3eaef5a2c3f3e344b#/pages/135883557/simulate/sitemap?mode=i)
- [If no waiver was requested](https://preview.uxpin.com/803dc24213cf723bfce6c5e3eaef5a2c3f3e344b#/pages/135732390/simulate/sitemap?mode=i)

[2021-01-25 22:51] laurenernest commented on #17006
@outerpress Agreed, that blue one doesn't need to be an alert since they can still continue.
The rest of the single facility alerts should be captured under Facilities Page in this [alerts documentation](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/appointments/va-online-scheduling/design/alerts-audit.md#facilities-page).

@jbalboni are we able to

[2021-01-25 22:55] mmiddaugh opened #18984 "Transformer for "use facility phone number""
## Issue Description
A change needed to be made to pull the facility phone number when it is indicated on the editorial side of CMS. #18824
This was mishandled in two places (Critical care and Patient advocates accordions) on the University drive staging environment.  the appointment phone label appears without a phone number.

We anticipate a transformer will be needed due to the update to the Gr

[2021-01-25 22:57] MarciMcGuireGCIO opened #18985 "Change Online Tool link for form 21-868c in CMS"
@John Hashimoto when you have time, can you please change the Online Tool URL for form 21-686c in the CMS?  @Jason let me know we're not ready to link to the va.gov version just yet.  [note - I originally entered 686c but there is no such thing.  Form page in question is https://www.va.gov/find-forms/about-form-21-686c. ]

The URL should be  https://www.ebenefits.va.gov/ebenefits/dependents, and

[2021-01-25 23:02] mmiddaugh opened #18986 "Editorial experience: heading levels"
## Issue Description
Josh identified a DEFECT-2 headings level issue occurring inside the "Prepare for your visit" accordions.

Headings on the page should increase by one in a logical order. The absence of headings within the accordion elements caused a skipped level between the `h2` and `h4` headings on the page.

The Facilities team is resolving the issue by placing the accordion buttons within

[2021-01-25 23:09] digitalken commented on #18245
Added to TestRail.

[2021-01-25 23:10] mmiddaugh opened #18987 "Pass `operationalHoursSpecialInstructions` field to Facility Locator front end"
## Issue Description
VAST administrators have included a new `operationalHoursSpecialInstructions` field that is now in Lighthouse. We need to pull in this field to use in the Facility Locator.

This field has 4 possible values at this time and more than one value can be present.

![image](https://user-images.githubusercontent.com/55411834/105777461-a3b76300-5f27-11eb-9e6a-13aed9497a10.png)

 Data

[2021-01-25 23:12] johnhashva commented on #18985
@MarciMcGuireGCIO Done -- let's validate this change after tomorrow's deployment.

[2021-01-25 23:14] MarciMcGuireGCIO commented on #18985
Thanks so much, @johnhashva.  I've just made myself a reminder in Slack to take a look.

[2021-01-25 23:19] jonathanjnelson commented on #18574
Please update content for two fields: ![Artboard.jpg](https://images.zenhubusercontent.com/5df3ac60534bc19675f4ca43/a81b8fac-f3b4-4891-a32c-bd9c07bcdb30)

[2021-01-25 23:24] digitalken commented on #18244
Added to TestRail.

[2021-01-25 23:25] mmiddaugh opened #18988 "Accordion audit: identify heading level defects"
## Issue Description
Headings on the page should increase by one in a logical order. A Defect 2 was identified due to the absence of headings within the accordion elements in the "Prepare for your visit" section. The Facilities team is resolving that defect (#18913)and the CMS team will restrict content editorials from creating new defects (#18986).

We also need to audit the site to understand wh

[2021-01-25 23:50] SKasimow commented on #17414
@starlow00 Hi - both pages are live now so you can replace the mocks with screen grabs which should look nicer :)

[2021-01-25 23:50] mshea0606 opened #18989 "[Epic] MyVA copy"
## Background
This is a ticket to track copy for MyVA 2.0

## Tasks
- [ ] Matt creates tickets for each case below
- [ ] Tressa/Cassandra add info to tickets
- [ ] Peggy reviews each ticket

LOA1 user

LOA3 First-time user experience

LOA3 user who has everything

LOA3 user who has things but has no updates

[2021-01-25 23:51] #18956 closed

[2021-01-25 23:52] mshea0606 opened #18990 "[Design] MyVA LOA1 copy"
## Background

[Desktop Invision Link](https://vsateams.invisionapp.com/share/RNZWCZBXZJ6#/screens/443287792)

## Tasks
- [ ] Work with Peggy to finalize copy for LOA1 use case
- [ ] Review with Matt/Samara

[2021-01-25 23:53] mshea0606 opened #18991 "MyVA 2.0 copy"
## Background
This is a ticket to track the copy review for MyVA 2.0

[Documentation invision link](https://vsateams.invisionapp.com/share/H8ZWCZGV52S#/screens/443197287)

## Tasks
- [x] [Design] MyVA LOA1 copy #18990
- [x] [Design] MyVA LOA3 First-time user experience copy #18992
- [x] [Design] MyVA LOA3 user who has everything copy #18995
- [x] [Design] MyVA LOA3 user who has everything but has

[2021-01-25 23:57] digitalken commented on #18735
Added to TestRail.

[2021-01-26 00:01] digitalken commented on #18671
Added to TestRail.

[2021-01-26 00:05] mshea0606 opened #18992 "[Design] MyVA LOA3 First-time user experience copy"
## Background information

[Desktop Invision Link 1](https://vsateams.invisionapp.com/share/RNZWCZBXZJ6#/screens/443287788)
[Desktop Invision Link 2](https://vsateams.invisionapp.com/share/RNZWCZBXZJ6#/screens/443287789)

## Tasks
- [ ] Work with Peggy to finalize copy for the first-time user case
- [ ] Review with Matt/Samara

[2021-01-26 00:06] digitalken commented on #18902
Closing as duplicate of #18886 .

[2021-01-26 00:06] #18902 closed

[2021-01-26 00:13] MarciMcGuireGCIO opened #18993 "Yellow Ribbon [EPIC] Search Filtering Improvements"
## Product Outline
[Link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/public-websites/yellow-ribbon-mvp/yellow-ribbon-mvp-product-brief.md)

## High Level User Story/ies
As a Veteran, I need to be able to add some additional filtering parameters so I can reduce the number of schools returned in my search.

## Hypothesis or Bet
**If** we give Veterans the abil

[2021-01-26 00:15] tlei123 opened #18994 "[TestRail mapping] Direct Deposit - Edu - Use Case F"
## Use-Case Mapping
This issue maps a single Test Case in TestRail to a single Use Case in the combined Use Cases doc provided by a Product Team.

- Link to specific Use Case: [Use Case F - LOA3 - Ineligible for Comp & Pen](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/direct-deposit/edu-direct-deposit/product/dd-e-use-cases.md#use-case

[2021-01-26 00:19] mshea0606 opened #18995 "[Design] MyVA LOA3 user who has everything copy"
## Background

[Desktop invision link](https://vsateams.invisionapp.com/share/RNZWCZBXZJ6#/screens/443287786)

## Tasks
- [ ] Work with Peggy to finalize copy for LOA3 user with everything use case
- [ ] Review with Matt/Samara

[2021-01-26 00:38] mshea0606 opened #18996 "[Design] MyVA LOA3 user who has everything but has no updates"
## Background information

Desktop Invision Link (https://vsateams.invisionapp.com/share/RNZWCZBXZJ6#/screens/443287787)

## Tasks
- [ ] Work with Peggy to finalize copy for a user who has everything but no updates
- [ ] Review with Matt/Samara

[2021-01-26 00:41] bessgreen opened #18997 "Onboarding Screen #1 - App overview"
## User story
As a user, I want an onboarding flow the first time I enter the app so that I understand how to navigate the app.

## Acceptance Criteria
1. Create UX/UI for Onboarding Screen #1. Rules for when this screen appears:
     - This screen displays to the user after they've logged in, immediately before they see the authenticated Home screen
     - This screen should only display the firs

[2021-01-26 00:41] #18519 closed

[2021-01-26 00:42] bessgreen opened #18998 "Onboarding Screen #2 - Appointments"
## User story
As a user, I want an onboarding flow the first time I enter the app so that I understand how to navigate the app.

## Acceptance Criteria
1. Create UX/UI for Onboarding Screen #2: Appointments
2. Rules for when this screen appears:
     - This screen displays after selecting "Continue" from Onboarding Screen #1
     - This screen should only display the first time a user logs into th

[2021-01-26 00:42] bessgreen opened #18999 "Onboarding Screen #3 - Claims & Appeals"
## User story
As a user, I want an onboarding flow the first time I enter the app so that I understand how to navigate the app.

## Acceptance Criteria
1. Create UX/UI for Onboarding Screen #2: Claims & Appeals
2. Rules for when this screen appears:
     - This screen displays after selecting "Continue" from Onboarding Screen #2: Appointments
     - This screen should only display the first time a

[2021-01-26 00:44] bessgreen opened #19000 "Onboarding Screen #4 - Profile"
## User story
As a user, I want an onboarding flow the first time I enter the app so that I understand how to navigate the app.

## Acceptance Criteria
1. Create UX/UI for Onboarding Screen #4: Profile
2. Rules for when this screen appears:
     - This screen displays after selecting "Continue" from Onboarding Screen #3: Claims & Appeals
     - This screen should only display the first time a user

[2021-01-26 00:47] bessgreen opened #19001 "Common component: carousel"
## Acceptance Criteria
1. Create common component for the carousel, which will appear on the Onboarding screens
2. UI details:
     - Background-color: primary-darker #003E73
     - Header: Mobile Body Bold
     - Body: Mobile Body
     - Standard gutter L/R, marginBetween header and body
     - Carousel controls:
          - Height: 70px
          - Background-color: #1A5180
          - L/R contr

[2021-01-26 00:48] theodur commented on #18955
HTML entities are being converted (_stripped_) in multiple places in the `src/site/stages/build/process-cms-exports/transformers/helpers.js` file. Removing HTML entity conversion reduces the number of `nodes with differences` from 1532 to 1512.

**Number of differences with HTML entities being stripped**
![Screen Shot 2021-01-25 at 4.44.12 PM.png](https://images.zenhubusercontent.com/5e56a58c13bed

[2021-01-26 00:49] mshea0606 opened #19002 "[Design] MyVA Cerner copy"
## Background

[Dekstop Invision Link](https://vsateams.invisionapp.com/share/RNZWCZBXZJ6#/screens/443287794)

## Tasks
- [ ] Finalize copy with Peggy and Danielle
- [ ] Review with Matt/Samara

[2021-01-26 01:33] kevwalsh commented on #18986
While it's possible to lock down the heading options, i think this implementation pattern (rich text editors with unique heading rules, depending on the context) might not be the most sustainable or scalable approach.

The "Prepare for your visit" section with accordions driven by rich text fields was an MVP implementation, and the original goal was to harden these fields down, so that editor-subm

[2021-01-26 02:47] kathleencrawford commented on #18909
We are sending the `netWorthOverLimitInd` field in the `vnpBnftClaimCreate` call but according to Linda it is getting overwritten.  We need to also sent it in the `vnpBnftClaimUpdate` call so that it doesn't get overwritten during the update.

[2021-01-26 02:52] kathleencrawford opened #19003 "[UNPLANNED] Fix for 686 Pension Question Not Being Saved"
## Background
One of the results from testing pension questions with BGS/RBPS was that the response for whether the household had an exceeded net worth was not showing displaying as answered.  After some debugging, it was discovered that we are sending the `netWorthOverLimitInd` field in the `vnpBnftClaimCreate` call but it is getting overwritten.  According to BGS, we need to also send it in the

[2021-01-26 03:05] bsmartin-ep commented on #18930
Moved to sensitive repo...

[2021-01-26 03:05] #18930 closed

[2021-01-26 03:40] denisecoveyduc commented on #16906
All issues have been resolved. Closing this epic.

[2021-01-26 03:40] #16906 closed

[2021-01-26 03:47] denisecoveyduc commented on #18476
KPIs have been drafted and added to analytics dashboard request. Next steps include meeting with analytics team to address any related questions and get a better understanding of their timeline for implementation.

[2021-01-26 03:47] #18476 closed

[2021-01-26 03:57] denisecoveyduc opened #19004 "Coordination to establish analytics dashboards"
## Description

The search and Discovery team has identified KPIs for the Typeahead POC as well as our KPIs. Analytics requests have been submitted for implementation. This issue is for SD team to coordinate with analytics to ensure they have the information that they need to establish the dashboard.

## Background/Context/Resources

GH #18785 - Analytics KPI dashboard request for Search & Discove

[2021-01-26 04:03] kathleencrawford commented on #19003
PR submitted here: https://github.com/department-of-veterans-affairs/vets-api/pull/5769

[2021-01-26 04:11] kathleencrawford commented on #16362
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/ebenefits/features/view-update-dependents/engineering/686-supporting-evidence.md

[2021-01-26 11:36] jonwehausen commented on #13727
Thanks for your QA here @ianMcCullough-ob , this looks great!

One question I had here - @ncksllvn , I see on the spanish page `https://www.va.gov/coronavirus-veteran-frequently-asked-questions-esp/` the `faqText` and `faqSection` (where available) populate in spanish, would it be possible for these variables to be pushed to the data layer consistently in english?

Thanks so much here

[2021-01-26 11:37] jonwehausen commented on #13727
cc: @bmcgrady-ep & @JasonTheBearded for visibility

[2021-01-26 12:00] jonwehausen commented on #15793
## 1/26/2021 Update
- Sent another follow-up to to Josh on remaining items for implementation

[2021-01-26 12:23] jonwehausen commented on #18885
Thank you for your work here @oksana-c! Please find the QA results below

### QA Testing

1) Validated Custom Dimension 11 enabled and identified as User Sections with user scope
![image](https://user-images.githubusercontent.com/48527022/105843590-e6b81b80-5fa5-11eb-8733-9cfb92ff3d57.png)

2. Validated data layer and GTM tag

Description | Data Layer | GTM Tag | Test Status
| -- | -- | -- | -- |

[2021-01-26 12:23] #18885 closed

[2021-01-26 13:13] MarciMcGuireGCIO commented on #18985
@johnhashva cc @jason-gcio - this change is on Production.  @Jason - now creating an issue for the second one you asked me about last night (21-674)

[2021-01-26 13:18] MarciMcGuireGCIO opened #19005 "Change Online Tool link for form 21-674 in CMS"
Editing to reflect slight tweak to URL as of 9/20/2021 per Mikki N. suggestion - still resolves to same place

~~@John Hashimoto~~ Dave Conlon when you have time, can you please change the Online Tool URL for form 21-674 in the CMS, same as you did yesterday for 21-686c?  @Jason let me know we're not ready to link to the va.gov version just yet.  Form page in question is https://www.va.gov/find-fo

[2021-01-26 13:21] jonwehausen commented on #16749
Hi @brianalloyd & @kelsonic

Thanks for your patience on this request.

I have taken a look at your [MURAL mockup here](https://app.mural.co/t/departmentofveteransaffairs9999/m/departmentofveteransaffairs9999/1607363793772/b7f9e809d68ace9c8d75ab649a758ed7653c8461) and have proposed a draft data layer specification for tracking, and analytics & insights.

### KPI Review
- KPIs refenced below, from

[2021-01-26 13:21] jonwehausen commented on #16749
@kelsonic Is there a staging link or a drupal preview I can take a look at currently?

[2021-01-26 13:30] sonntag-adam commented on #18313
![Screen Shot 2021-01-26 at 8.11.01 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/6dab4ac5-72a7-40e6-ac32-8485149cabe7)
##
![Screen Shot 2021-01-26 at 8.11.13 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/f4b7b4d3-881e-463d-af13-8026df99f7d4)
##
![Screen Shot 2021-01-26 at 8.12.20 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/

[2021-01-26 13:37] RLHecht commented on #17779
@jenniferlee-dsva As our style we bold MyHealtheVet, ID.me, and DSLogon. https://design.va.gov/content-style-guide/bold-text

[2021-01-26 13:45] mdewey commented on #18585
Merged, waiting for deployment to staging

[2021-01-26 13:45] mdewey commented on #18260
Merged, waiting for deployment to staging

[2021-01-26 13:48] stephenBarrs commented on #18968
@department-of-veterans-affairs/vsp-operations tagging you per instructions.  Thanks!

[2021-01-26 13:56] MarciMcGuireGCIO opened #19006 "Decision Tools Find a VA Form Sort by Form Last Updated x Staging Review Accessibility Checklist"
## Acceptance Criteria
- Complete required accessibility checklist items for staging review:
  - [ ] Read the [accessibility staging review documentation](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/staging-review-processes.md#accessibility-staging-review-preparation)
  - [ ] [Axe scans in daily development](https://github.com/departmen

[2021-01-26 13:58] johnhashva commented on #19005
@MarciMcGuireGCIO this is done and should go out with today's deploy.   If you will, please check this in production tomorrow AM.

[2021-01-26 13:59] MarciMcGuireGCIO commented on #19005
Thank you!  Will do!

[2021-01-26 14:01] stephenBarrs commented on #18272
The changes to vets-json-schema and vets-website have been merged and this fix is now available

[2021-01-26 14:02] stephenBarrs commented on #14103
@artsymartha68 @1Copenut The associated issues have been resolved and are available in Staging now.  What is my next step for completing the Accessibility audit?

[2021-01-26 14:03] MarciMcGuireGCIO opened #19007 "Find a VA Form - Add 'Sort by Last Updated' feature x Collab Cycle Plan"
## Product Outline
[Link to Product Outline](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/find-va-forms-redesign/README.md)

## Plan
- [x] **[Define] Kickoff-Intent** - [18838](https://github.com/department-of-veterans-affairs/va.gov-team/issues/18838)
- [x] **[Define] Design intent** - #(ticket)
- [x] **[Discover] Usability Testing Prep** - #(ticket)
- [x] **

[2021-01-26 14:12] srsuddath commented on #14955
Click tracking has been merged in!

[2021-01-26 14:12] #14955 closed

[2021-01-26 14:12] MarciMcGuireGCIO opened #19008 "Yellow Ribbon Search Filtering Improvements x Collab Cycle Plan"
## Product Outline
[Link to Product Outline](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/public-websites/yellow-ribbon-mvp/yellow-ribbon-mvp-product-brief.md)

## Plan
- [x] **[Define] Kickoff-Intent** - #(ticket)
- [ ] **[Define] Design intent** - #(ticket)
- [ ] **[Discover] Usability Testing Prep** - #(ticket)
- [ ] **[Discover] Research Plan Review** - #(

[2021-01-26 14:16] Mottie commented on #18965
I just merged this, so it'll be available on staging soon.

[2021-01-26 14:18] zacharymorel commented on #18525
@jonwehausen The Sorting Analytics is now live on https://staging.va.gov/find-forms/?q=health .

[2021-01-26 14:23] johnhashva opened #19009 "[Product Discovery] COVID-19 Vaccine Finder - VA Data Distribution"
### Description

Google has announced that the company will soon display locations that offer Covid-19 vaccinations in its Search and Map products, further bolstering awareness of the virus — and how to avoid it.

The feature is rolling out in the coming weeks, beginning in four states: Arizona, Louisiana, Mississippi and Texas. Google (GOOGL) announced Monday (1/25/2021) that searches for "vaccin

[2021-01-26 14:25] pjhill commented on #16163
Awesome -- thanks for following up! Yep, I'll close this ticket.

[2021-01-26 14:25] #16163 closed

[2021-01-26 14:34] artsymartha68 commented on #18271
We discussed this at the Design System Council meeting on Friday. The consensus was to rework the questions so that the checkboxes could behave normally. So asking an enabling question to start using radio buttons, and if Yes is selected, then displaying/enabling the checkboxes so the user can multi-select.

For this it might be
( ) None
( ) Prefer not to answer
( ) Yes
(and then Yes enables all t

[2021-01-26 14:34] jbalboni opened #19010 "Distance shown on selected provider doesn't reflect sorting used"
Steps to reproduce:

1. Go through the CC flow to the CC preferences page
2. Choose Add a provider
3. Sort by current location
4. Choose closest provider
5. See the chosen provider info in the grey box

Actual behavior: provider distance from residential address is shown
Expected behavior: ~~provider distance is shown from the sorting origin selected when choosing a provider, or~~ the distance is

[2021-01-26 14:40] denisecoveyduc opened #19011 "Search.gov Follow Up Discussions"
## Description

As an outcome of #18475 the search and discovery team has follow up questions for the search.gov team (as outlined below). We need to circle back and iron out the remaining questions over email to ensure clear communication and context for the below inquiries.

## Search.gov Discussion Topics

**_Questions from original Email:_**
- Validate Analytics Assumption: Reviewing analytics

[2021-01-26 14:42] #17103 closed

[2021-01-26 14:42] mdewey commented on #18238
In Staging.

Steps to confirm:

1. Start a questionnaire
2. Completely empty the prepopulated `Are there any additional details you’d like to share with your provider about this appointment?` question and enter in anything else.
3. See what was entered on the review page.

[2021-01-26 14:43] MarciMcGuireGCIO opened #19012 "Staging Review Decision Tools - Find a VA Form - Add 'Sort by Form Last Updated' Feature"
## Steps to complete Staging Review:

- [x] VFS Product Manager: create this issue and fill in feature name in the title and other bolded information appropriately
- [x] VFS: Attach all artifacts before requesting the meeting
- [x] VFS: Link to this issue once created in [#vfs-platform-support](https://dsva.slack.com/channels/vfs-platform-support) in Slack; tag @ Shira Goodman and @ Andrea Hewitt

[2021-01-26 14:43] joshkimux opened #19013 "508-defect-2 [SEMANTIC MARKUP, COGNITION]: Anticipated Separation: <legend> SHOULD be announced to screen readers when in form groupings"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2021-01-26 14:44] mdewey commented on #18417
@kristenmcconnell  This is in staging. Can you confirm?

[2021-01-26 14:46] jbalboni opened #19014 "Write a Cypress test for CC provider selection"
We should write a Cypress test that covers the CC flow when using the provider selection and separate language pages

AC:

- [ ] Test covers the CC flow from start to finish, including verifying data sent at the end of the flow is correct
- [ ] Axe checks are run on every page of the flow, including the CC provider selection page
- [ ] Existing CC Cypress test is still in place

[2021-01-26 14:49] kelsonic commented on #16749
Not yet, but soon! 🙂 If you have socks, you could technically go to http://preview-prod.vfs.va.gov/preview?nodeId=15051 but it doesn't have styling yet

[2021-01-26 14:52] kristenmcconnell commented on #18417
The scope of this story looks good. I see "retirement" was added to the question.

[2021-01-26 14:53] dillo opened #19015 "[BE] Implement GET questionnaire manager list endpoint"
## User Story
**In order** to successfully complete my pre-visit questionnaire for a primary care appointment and then get the information to a clinician
**As a** Veteran
**I want** the questionnaire manager interface to coordinate with all the services which interact with MAP and Lighthouse PGD and return to the UI(front-end) a consumable data structure

## Related Documentation
[Backend Architec

[2021-01-26 14:55] AGarcia-Clarity commented on #18719
Todo
- [x] Unblocked by the Filtering & Pagination bug
- [ ] Pull in latest from main and resolve any errors
- [ ] Get Docker container size to under 400Mb (currently 1.4Gb)

[2021-01-26 14:55] dillo opened #19016 "Implement GET questionnaire manager for an individual QR and Appointment"

[2021-01-26 14:56] #18827 closed

[2021-01-26 14:56] MarciMcGuireGCIO commented on #18920
@swirtSJW has opened a ticket for CMS https://dsva.slack.com/archives/CUB5X5MGF/p1611671883007400, so I am closing our ticket, but will continue to monitor.

[2021-01-26 14:57] AGarcia-Clarity commented on #18722
Status
- Going to finish the deployment by noon. Should have a URL by then

[2021-01-26 15:01] denisecoveyduc opened #19017 "(Product Discovery) Spelling Suggestions Improvement"
## Description

Search & Discovery Team have defined an opportunity to improving the user experience when spelling errors are made when searching on va.gov. This issue is to discuss the solution and identify

## Tasks

- [x] Team discussion on questions outlined below.

**Discussion Questions:**
- [x] Define what "Spelling improvements" means. Does it mean {"Did you mean?"} as we have been discuss

[2021-01-26 15:05] dillo opened #19018 "[BE] GET Questionnaire by a use context"
## User Story
**In order** to successfully complete my pre-visit questionnaire for a primary care appointment and then get the information to a clinician
**As a** Veteran
**I want** the backend to retrieve Questionnaire resources by a given Use Context

## Related Documentation
[Backend Architecture](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/que

[2021-01-26 15:11] #18909 closed

[2021-01-26 15:11] #19003 closed

[2021-01-26 15:11] mdewey opened #19019 "[FE] Adding Appt Information and layout updates for Demo /Confirmation Pages"
## User Story
As a veteran,
I want to see the my appt. details on the questionnaire, so that I know what visit and care team is receiving my information.

## Related Documentation
 - [MVP: Visit Intro Initiative (Proof of Concept)](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/initiatives/visit-intro.md)
- [Mock ups](https://ap

[2021-01-26 15:12] dillo opened #19020 "Add lighthouse settings to devops configuration in production"
- [x] Create a DevOps issue to add lighthouse configuration for the production environment

[2021-01-26 15:14] jason-gcio commented on #18518
@cohnjesse - whenever you get a chance, can you leave a comment as to where this ticket stands with its next steps?  I think we are waiting to hear back from platform but wasn't sure if it was this one or the other one...

[2021-01-26 15:15] dillo opened #19021 "Add MAP settings to devops configuration in production"
- [ ] Create a DevOps issue to add MAP configuration for the production environment

[2021-01-26 15:16] tressaellen commented on #18992
@peggygannon - here are the screenshots for a first time user experience on MyVA.  Let me know if you have any questions!

![My VA FTUX](https://user-images.githubusercontent.com/58752772/105863872-cdab6c80-5f9d-11eb-9427-fdeb62d04e89.jpg)
![My VA FTUX 2](https://user-images.githubusercontent.com/58752772/105863885-d1d78a00-5f9d-11eb-9b87-a7ef0404dcd4.jpg)

[2021-01-26 15:16] #17781 closed

[2021-01-26 15:16] #18504 closed

[2021-01-26 15:17] johnhashva commented on #18169
1/26 Update: I am in contact with product leads who will (hopefully) give me permission to include MHV and eBenefits in my Search.gov dashboard so we can analyze usage data as we see fit.

[2021-01-26 15:17] brianalloyd commented on #16749
@jonwehausen Thanks for working up the details.  I'm tagging @kevwalsh on this ticket as he can assist us with any CMS related items required in support.  We're still in the FE build process and hope to have that wrapped up in the next few sprints.

[2021-01-26 15:18] rebeccawalsh opened #19022 "Incorporate completed form download into FSR confirmation screen"
## Issue Description
We'll be able to offer completed form downloads to veterans upon submission of the form, with a delay of only a couple of seconds. Create a design to incorporate this action into the mockups.

---
## Tasks
- [x] Create designs for download
- [x] Create a ticket for FED

## Acceptance Criteria
- [x] Designs synced to UXPin and linked below
- [x] FED ticket created and linked be

[2021-01-26 15:18] JasonTheBearded commented on #16547
@mandy-uxd Can you do a design review of this dash, https://va-gov.domo.com/page/980067552
Thanks!

[2021-01-26 15:19] swirtSJW commented on #17484
Looking into this on the CMS side.   There is only one entry for `10182` in the data from the forms db and only one in the CMS.  They match.

The FormNum in the FormsDB changed from `VA10182` to `10182` the  on 8/11/2020   the CMS updated that data for the same node since we key off the rowid  which stayed 10554
![image](https://user-images.githubusercontent.com/5752113/105864111-99e13e80-5fbf-11e

[2021-01-26 15:21] jason-gcio commented on #19005
I really appreciate the help, thanks again!

[2021-01-26 15:21] dillo opened #19023 "Add Questionnaire Manager endpoint for generating a PDF"
## User Story
**In order** to successfully complete my pre-visit questionnaire for a primary care appointment and then get the information to a clinician
**As a** Veteran
**I want** the ability for the backend to provide an endpoint that will let me generate a PDF for my Appointment/Questionnaire-Responses

## Related Documentation
[Backend Architecture](https://github.com/department-of-veterans-a

[2021-01-26 15:21] mdewey opened #19024 "[FE] Implement Error Messages"
## User Story
As a veteran,
I should see relvatent error messages
So I know the status of viewings and submitting my questionnaire.

## Related Documentation
 - [MVP: Visit Intro Initiative (Proof of Concept)](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/initiatives/visit-intro.md)
- [Mock ups](https://app.zeplin.io/project/5f

[2021-01-26 15:21] tressaellen commented on #18995
@peggygannon - this is the screenshot for if a user has claims, healthcare, applications in progress and has updates in each of these.

Everything is open for review *except for* the title (MyVA) and anything that is in the grey boxes (those came from the design system).

_Note_ - the related links in the health care section need to be consolidated into 1 link since they go to the same place.

Let

[2021-01-26 15:22] brianalloyd commented on #18982
Done, looks like a quick pick up.  Thanks @ncksllvn

[2021-01-26 15:23] dillo opened #19025 "GET facility and clinic phone numbers from the Facilities API"
## User Story
**In order** to use the appointment questionnaire feature on the va.gov site in the nearby future
**As a** Veteran
**I want** I want my appointment data to contain both the facility and clinic phone numbers

## Related Documentation
https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/13834
[Backend Architecture](https://git

[2021-01-26 15:26] #18417 closed

[2021-01-26 15:28] tressaellen commented on #18996
@peggygannon - this is the screenshot for if a user has claims, healthcare, applications in progress and has NO updates in each of these.

- Everything is open for review except for the title (MyVA) and anything that is in the grey boxes (those came from the design system).
- The 'What benefits does the VA offer?' dropdown does not exist anywhere else, this was all made for this screen so this wil

[2021-01-26 15:31] joshkimux opened #19026 "508-defect-2 [COGNITION]: Supporting evidence page SHOULD be split into two pages to reduce cognitive load"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-1)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2021-01-26 15:33] MarciMcGuireGCIO opened #19027 "Contact Center Review for Find a VA Form - Add 'sort by last updated' feature"
# Request the Contact Center Review

## What this form is for
Use this template to request a Contact Center review of your product.

Please review the Self service Product Guide Template [link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/contact-center/self-service-product-guide-template.md) and the Contact Center Review How to [link](https://github.com/depar

[2021-01-26 15:41] mpelzsherman opened #19028 "Align fields in event transformer"
Align fields in event transformer that are causing false positives in the JSON audit.

## Acceptance Criteria
- [ ] There are no false positives due to mis-matched fields in the JSON audit

[2021-01-26 15:44] Samara-Strauss commented on #18989
This appears to be a duplicate of #18991. Closing, but feel free to reopen if there is a meaningful difference I'm unaware of.

[2021-01-26 15:44] #18989 closed

[2021-01-26 15:48] mpelzsherman opened #19029 "JSON parity - event_listing transformer"
## Acceptance Criteria

- [ ] The transformer diff tool generates zero diffs from the event_listing transformer.

[2021-01-26 15:48] rebeccawalsh opened #19030 "Document design changes for list loop error states"
## Issue Description
When there is an error on the list loop inputs, the card distorts. Document the intended design pattern with the feedback given in the DSVA design channel.

---
## Tasks
- [x] Document intended design
- [x] Create a ticket for FE to make changes to existing form

## Acceptance Criteria
- [x] Design synced to UXPin and linked in this ticket
- [x] FE ticket created and linked to

[2021-01-26 15:50] ncksllvn commented on #18337
Two things should go live today -

1. Hide the search bar during print of the checklist
1. Fixes for the visible HREF value during print for _all_ pages
    - Design System team seemed to support the visible HREF so I didn't remove it. Instead I just fixed the bugs.

[2021-01-26 15:50] mpelzsherman opened #19031 "Identify and remove unused fields from health_care_local_facility transformer"
The new transformer diff tool is generating many false positives due to fields that are either 1) not needed by the templates or 2) not included in the GraphQL queries or transformers.

## Acceptance Criteria

- [ ] The transformer diff tool generates zero false positives due to unused fields in the health_care_local_facility transformers

A list of transformers we own can be found [here](https://

[2021-01-26 15:50] tressaellen commented on #17530
This will now be tracked in [this epic](https://github.com/department-of-veterans-affairs/va.gov-team/issues/18991), so I am closing this ticket.

[2021-01-26 15:50] #17530 closed

[2021-01-26 15:50] ncksllvn commented on #18864
Waitin on VSP review for this

[2021-01-26 15:51] mshea0606 commented on #18989
Nope, forgot to delete this one. Thanks!

[2021-01-26 15:51] ncksllvn commented on #18982
Will go live today but no easy way to verify this, as it fixes an issue on slow internet speeds

[2021-01-26 15:51] digitaldrk commented on #18506
https://github.com/department-of-veterans-affairs/bgs-ext/pull/56

[2021-01-26 15:52] tressaellen commented on #18469
@mshea0606 @Samara-Strauss are we good to close this ticket?

[2021-01-26 15:52] mpelzsherman opened #19032 "JSON parity - health_care_region_page transformer"
## Acceptance Criteria

- [ ] The transformer diff tool generates zero diffs from the health_care_region_page transformer

[2021-01-26 15:53] #17584 closed

[2021-01-26 15:54] mpelzsherman opened #19033 "JSON Parity - health_services_listing transformer"
## Acceptance Criteria

- [ ] The transformer diff tool generates zero diffs from the health_services_listing transformer (non-arrays)

[2021-01-26 15:55] bradl3yC opened #19034 "Frontend - FSR - Confirmation Page"
https://preview.uxpin.com/803dc24213cf723bfce6c5e3eaef5a2c3f3e344b#/pages/134209101/simulate/sitemap?mode=i

[2021-01-26 15:56] mpelzsherman opened #19035 "JSON parity for Facilities transformers"
## Acceptance Criteria

- [ ] The transformer diff tool generates zero diffs from Facilities-owned transformers

[2021-01-26 15:58] mpelzsherman opened #19036 "Identify and remove unused fields from news_story transformer"
The new transformer diff tool is generating many false positives due to fields that are either 1) not needed by the templates or 2) not included in the GraphQL queries or transformers.

## Acceptance Criteria

- [ ] The transformer diff tool generates zero false positives due to unused fields in the news_story transformer

[2021-01-26 16:01] RLHecht commented on #18963
@bethpottsVADEPO I've added the third column and after much futzing with line breaks I think this looks OK. There are a few places I wanted to turn a line but it kept messing something else up. Can you take a look and let me know what you think? I also added the sentence "This isn't toll-free" under the outside U.S. student number since our header is "Toll-free numbers."
Here' the preview link: pr

[2021-01-26 16:01] rebeccawalsh opened #19037 "Update 'Installment contracts and other debts' section to use inputs instead of radio selections"
## Issue Description
DMC has asked that we reintroduce text inputs for the date of debt and amount overdue questions on the 'installment contracts and other debts' section of the form.

---
## Tasks
- [x] Incorporate new inputs into the design and sync to UXPin
- [x] Create a ticket for FE work

## Acceptance Criteria
- [x] UXPin updated and attached to this ticket
- [x] FE ticket created and atta

[2021-01-26 16:03] brianalloyd commented on #18982
Sounds good @ncksllvn guess we can gauge it over time and validate the intended fix is working.  Thanks for implementing.

[2021-01-26 16:04] mpelzsherman opened #19038 "JSON parity - person_profile transformer"
## Acceptance Criteria

- [ ] The transformer diff tool generates zero diffs from the person_profile transformer

[2021-01-26 16:04] brianalloyd commented on #13325
Closing per validation.  Solid work @erikphansen, thanks again for the assist this sprint.

[2021-01-26 16:04] #13325 closed

[2021-01-26 16:06] tressaellen commented on #18990
@peggygannon - here are the screenshots for the LOA1.  Based on [previous conversations](https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/18043) - we need to update the copy in this alert to better reflect what users can access on this page.  So maybe something about accessing claims, health care, and benefit information.

**Verify yo

[2021-01-26 16:07] ksantiagomorgan6 commented on #18747
Pull request: https://github.com/department-of-veterans-affairs/vets-website/pull/15794

[2021-01-26 16:08] brianalloyd commented on #14030
@1Copenut I think we can close this ticket as I believe all the items have been resolved (via different ticket).  This was for the dev intent review which we've already cleared and have launched.  Let me know what you think and I can close this ticket out in support.

[2021-01-26 16:10] jbritt1 commented on #18968
@stephenBarrs your SSH key is already in our system, so your SOCKS should already be good to go.

[2021-01-26 16:11] brianalloyd commented on #14302
I'm in the loop with the Contact Center team that is now handling Medallia implementations and am on the waiting list for integrations once Medallia is operational.  I'll follow up with status on this ticket forward. CC @johnhashva

[2021-01-26 16:11] mpelzsherman opened #19039 "JSON parity - press_releases_listing transformer"
The new transformer diff tool is generating many false positives due to fields that are either 1) not needed by the templates or 2) not included in the GraphQL queries or transformers.

## Acceptance Criteria

- [ ] The transformer diff tool generates zero false positives due to unused fields in the press_releases_listing transformer transformer

[2021-01-26 16:11] jbritt1 commented on #18968
### For AWS Access:

User: Stephen Barrs
COR: OCTO Employee
Approval Needed: @Jeff-Hayter

[2021-01-26 16:12] RLHecht commented on #18946
These updates have been made. Moving ticket to validate. Going to open new ticket for work on taking react widget out of caregiver page to update the number there.

[2021-01-26 16:15] mpelzsherman opened #19040 "JSON parity for story_listing transformer"
The new transformer diff tool is generating many false positives due to fields that are either 1) not needed by the templates or 2) not included in the GraphQL queries or transformers.

## Acceptance Criteria

- [ ] The transformer diff tool generates zero false positives due to unused fields in the story_listing transformer

[2021-01-26 16:16] jenniferlee-dsva commented on #17779
Ah, thank you @RLHecht . I think I vaguely recalled that, but thought that was only for within the context of talking about signing in and not in all body content contexts. Np.

[2021-01-26 16:21] jbritt1 commented on #17873
Temporary credentials provided to user.

[2021-01-26 16:21] #17873 closed

[2021-01-26 16:21] jbritt1 commented on #17854
Temporary credentials provided to user.

[2021-01-26 16:21] #17854 closed

[2021-01-26 16:21] #17443 closed

[2021-01-26 16:21] #17888 closed

[2021-01-26 16:21] jbritt1 commented on #13495
Temporary credentials provided to user.

[2021-01-26 16:21] #13495 closed

[2021-01-26 16:21] #17889 closed

[2021-01-26 16:21] #17910 closed

[2021-01-26 16:21] #17886 closed

[2021-01-26 16:21] #18838 closed

[2021-01-26 16:21] ndsprinkle commented on #12538
After some digging into this, I am going to close this ticket. There is currently no implementation in forms (or elsewhere) to check that the zip code is real. Every location, even platform's default address definition, uses a regex expression to verify a 5 or 9 digit zip code. This is the same functionality currently implemented in all address parts of 526/BDD. If at some point this changes and t

[2021-01-26 16:21] #12538 closed

[2021-01-26 16:21] #17891 closed

[2021-01-26 16:21] #17914 closed

[2021-01-26 16:22] #16463 closed

[2021-01-26 16:22] #17912 closed

[2021-01-26 16:22] #17892 closed

[2021-01-26 16:22] #17890 closed

[2021-01-26 16:22] #11745 closed

[2021-01-26 16:22] #11742 closed

[2021-01-26 16:22] #11760 closed

[2021-01-26 16:22] #11759 closed

[2021-01-26 16:22] #17424 closed

[2021-01-26 16:22] mpelzsherman opened #19041 "JSON Parity - vamc_operating_status_and_alerts transformer"
## Acceptance Criteria

- [ ] The transformer diff tool generates zero diffs from the vamc_operating_status_and_alerts transformer

[2021-01-26 16:23] #14025 closed

[2021-01-26 16:23] tressaellen commented on #14025
Here's a very simple mock for this - we're going to be tracking all the copy changes in [this ticket](https://github.com/department-of-veterans-affairs/va.gov-team/issues/19002). So I think we're good to close.

![MHV.jpg](https://images.zenhubusercontent.com/5dfa65bbbd078d1699e52294/c7ac42aa-5f9f-4243-a731-1dbf01ef9a66)

[2021-01-26 16:23] johnhashva commented on #18169
@MarciMcGuireGCIO just received access to MHV as part of my Search.gov dashboard so we can run any queries we want.   Will run a report and post initial findings here.

[2021-01-26 16:23] #18469 closed

[2021-01-26 16:23] tressaellen commented on #19002
Hello @peggygannon and @DanielleThierryUSDSVA - we are looking for some changes for the Cerner/MHV alert on the new MyVA dashboard. We need a single notification that shows within the health care section if someone is detected to be going to any of the facilities using Cerner and then a CTA for the user to get to Cerner.

We're hoping to greatly simplify the [current Cerner alert](https://github.c

[2021-01-26 16:24] mshea0606 commented on #18469
Closed

[2021-01-26 16:26] sporeboy commented on #18489
Received and implemented additional revisions. Current revs in place. Will share with dev when all revs are reviewed and approved.

[2021-01-26 16:27] lexicalninja opened #19042 "Update Jest dependencies"
## Task overview
Updates to jest have been released and the app needs to be updated with these changes:

There are issues when updating the jest libs, however, and further work is needed. For sure, async storage lib is causing issues and will need to have some work done to update the mocks for that library.

There may be other issues when updating that should also be handled here.

## Dev task
1.

[2021-01-26 16:27] RLHecht opened #19043 "Change header in table on Contact Us page to include "toll-free""
## Issue Description
Currently on our [Contact us](https://www.va.gov/contact-us/) page, we use "Phone number" as a column header in the table. We need to change this to "Toll-free number" so that we are consistent with the Helpful VA Numbers page in R&S and for better SEO.

Page to work on: preview-prod.vfs.va.gov/preview?nodeId=8472

## Tasks
- [x] Change column header to "Toll-free number"

##

[2021-01-26 16:27] MarciMcGuireGCIO commented on #18565
@joshkimux @tlei123 per your request, I'm tagging you since this kickoff is now connected to an epic.

[2021-01-26 16:34] kelsonic commented on #17651
Assigned to @ncksllvn

[2021-01-26 16:34] kelsonic commented on #17652
Assigned to @ncksllvn

[2021-01-26 16:35] kelsonic commented on #17645
Assigned to @ncksllvn

[2021-01-26 16:35] kelsonic commented on #17641
Assigned to @ncksllvn

[2021-01-26 16:35] jhouse-solvd commented on #17357
There are several potential solutions for this. Our next step is to consult with FE Tools and BE Tools teams to discuss their needs around this solution, and ensure that we pick something that meets several of the most common use cases / scenarios.

We should also audit jenkins jobs such as cron jobs that are not related to deploy. We should be able to come up with a simple spreadsheet or other fo

[2021-01-26 16:37] kelsonic commented on #17644
Assigned to @ncksllvn

[2021-01-26 16:38] kelsonic commented on #17971
Assigned to @ncksllvn

[2021-01-26 16:38] kelsonic commented on #17972
Assigned to @ncksllvn

[2021-01-26 16:39] kelsonic commented on #17640
Assigned to @ncksllvn

[2021-01-26 16:40] oksana-c commented on #18885
thank you @jonwehausen !

[2021-01-26 16:41] JasonTheBearded commented on #18748
DOMO Dashboards impacted by Scrub:

- KPIs - Facility Locator

[2021-01-26 16:52] joanneesteban commented on #18724
@mandy-uxd

Domo onboarding content below. The basics, consume content, and create content (and administering) are going to be more important, and we can work with Jason and the rest of the team on the more technical aspects of the data.

---

## THE BASICS -
https://learndomo.domo.com/learn/course/internal/view/elearning/230/GettingtoKnowDomo

Learn the basics of the Domo interface and how data c

[2021-01-26 16:53] joanneesteban opened #19044 "Review VAOS Dashboard Design"
## Issue Description
Brian has put together a KPI dashboard on Domo for the VAOS team. There are multiple charts and stories within this dashboard. We would like this dashboard reviewed for its design so that we're delivering easy to use, easy to read Domo dashboards.

[VAOS Dashboard Link](https://va-gov.domo.com/page/1769944412).

There are also sub dashboards on this page that can be reviewed a

[2021-01-26 16:53] jhouse-solvd commented on #17385
As a first step, we need to perform an audit of existing alerts and determine if they contain enough information to be actionable as well as determine whether or not they are routing to the correct team(s) that can perform an action.

Audit should include, at minimum:
- service / metric
- expected response
- threshold
- point of contact
- notification channels

Relevant thoughts / background infor

[2021-01-26 16:57] shiragoodman commented on #18840
Hi @MarciMcGuireGCIO . Thanks for meeting with us today. We recommend the following Collab Cycle touchpoints:
- Staging Review
- Contact Center Review (your Product Guide will likely need updating)
- Analytics Request
- Privacy and Security Review

The Platform Collaboration Point Tracker is updated. Please let us know if you have any questions!

[2021-01-26 16:59] shiragoodman commented on #18840
Also, you can probably do 1 Analytics Request for both initiatives (filtering and search improvements). @joanneesteban let me know if you have questions and I can catch you up.

[2021-01-26 16:59] MarciMcGuireGCIO commented on #18840
Thank you., Shira!

[2021-01-26 17:16] sonntag-adam commented on #18313
https://dsvavsp.testrail.io/index.php?/runs/view/1282&group_by=cases:section_id&group_order=asc

[2021-01-26 17:16] darkbushido commented on #13138
## PPMS Adds Support for Pagination
### PPMS needs the following
  - Defined sort order
  - page number
  - page size
### Back-end needs to do the following (3pts)
  - sort parameter
  - page size
  - page number
### Front-end tasks (3pts)
  - page number
  - page size

## Front-end pagination
### Front-end tasks
  This needs to apply to all facility queries not just PPMS
    (FE doesn't want to s

[2021-01-26 17:24] kfrz commented on #16919
@jhouse-solvd @mydesignrocks I've opened a [PR]() to enable tracing module for `vets-api` including the Rails integration. From the [Datadog documentation](https://docs.datadoghq.com/tracing/setup_overview/setup/ruby/#rails):

[Here is](https://docs.datadoghq.com/tracing/troubleshooting/agent_apm_metrics/) a list of metrics we can get with APM. Furthermore, with the Rails integration, we'll get tr

[2021-01-26 17:25] jenniferlee-dsva commented on #16233
I will add comments/small tweaks directly in the above notes for ease, so we're not having to reference multiple comments for feedback. @joanneesteban  - thank you for the thorough, accurate meeting notes! SOOO helpful.

[2021-01-26 17:27] Samara-Strauss commented on #14025
I think the general design approach is fine, but I would provide better copy guidance to Peggy. This mock copy doesn't make sense (I am assuming it's from the original/existing copy) given the proposed design changes. While we obviously don't need to write actual copy ourselves, mock copy is an opportunity to communicate to Peggy what she needs to include in real copy. Without that, we're putting

[2021-01-26 17:31] RLHecht commented on #19043
These changes were made. Moving to validate and will close when live. FYSA @bethpottsVADEPO

[2021-01-26 17:33] bmcgrady-ep commented on #18176
Hi @JasonTheBearded - for this dashboard, we are going to need datasets for the following items:
- Total number of logins to VA.gov production by month and by year (event action = `Login - vagovprod`
- % of VA.gov Profiles that are LOA3 (a segment of the above where LOA = 3)
Let me know if you have any questions about the data we are looking for.

[2021-01-26 17:33] #16303 closed

[2021-01-26 17:33] jbritt1 commented on #16303
Temporary AWS credentials provided to user.

[2021-01-26 17:33] jbritt1 commented on #18370
Temporary AWS credentials provided to user.

[2021-01-26 17:33] #18370 closed

[2021-01-26 17:34] mgleo commented on #18552
[Spreadsheet for discussion](https://docs.google.com/spreadsheets/d/1wykvDgFAOLIYIA-ySz8Hjtmo74Qih884cjvFndrFgh4/edit?usp=sharing)

![va-gov-typeahead-benefits.png](https://images.zenhubusercontent.com/5f91de193a0ac23f49d7bf89/1330e189-377a-4628-bb09-e32bd266426b)

[2021-01-26 17:35] rileyorr commented on #18522
This work coincided with capturing the overall VA debt experience, so the attached documents (which can also be viewed in [this miro board](https://miro.com/app/board/o9J_kxbu2M4=/)) contain planned and potential improvements to the debt portal as well as the FSR.

**Artifact 1: Debt journey**
![VSA - Debt Management MVP (1)](https://user-images.githubusercontent.com/46329147/105881432-812e5400-5f

[2021-01-26 17:40] AGarcia-Clarity commented on #18722
**Updated:**
@APorter-Clarity @christine-dillman Test User Dashboard site is here: https://tud-app.netlify.app/.

(This site removes all references to VA.gov & VSP).

[2021-01-26 17:41] davidconlon opened #19045 "BUG - DISCOVERY - Missing provider in VA.gov Community Care provider results"
## What happened?
Veterans who search for Community Care providers are not getting full results - some providers are missing.

Location: Waterbury, CT, 06708-1459, Lat/Long 41.56,-73.06
Facility Type: Community Providers (in VA's network)
Specialty: Occupational Therapist (225X00000X)

https://www.va.gov/find-locations/?page=1&address=06708-1459&facilityType=provider[…]context=Waterbury%2C%20Conne

[2021-01-26 17:45] #15506 closed

[2021-01-26 17:45] #15655 closed

[2021-01-26 17:45] #15502 closed

[2021-01-26 17:45] #15656 closed

[2021-01-26 17:45] #15657 closed

[2021-01-26 17:45] #15497 closed

[2021-01-26 17:45] #16340 closed

[2021-01-26 17:45] #16337 closed

[2021-01-26 17:45] #13767 closed

[2021-01-26 17:45] #15911 closed

[2021-01-26 17:45] #16113 closed

[2021-01-26 17:45] #16847 closed

[2021-01-26 17:45] #16152 closed

[2021-01-26 17:45] #16339 closed

[2021-01-26 17:45] #16828 closed

[2021-01-26 17:45] #16335 closed

[2021-01-26 17:46] #16831 closed

[2021-01-26 17:46] #17119 closed

[2021-01-26 17:46] #17222 closed

[2021-01-26 17:46] #16361 closed

[2021-01-26 17:46] #17906 closed

[2021-01-26 17:46] #17907 closed

[2021-01-26 17:47] #17879 closed

[2021-01-26 17:52] jenniferlee-dsva commented on #16233
@bmcgrady-ep - I [answered questions directly in comments](https://github.com/department-of-veterans-affairs/va.gov-team/issues/16233#issuecomment-761198925) here and included a couple of comments to the [bullet list items here](https://github.com/department-of-veterans-affairs/va.gov-team/issues/16233#issuecomment-761152183).   CC @joanneesteban @brianalloyd

[2021-01-26 17:59] rebeccawalsh opened #19046 "[FSR] Update written statement to be required when a waiver is selected"
## Issue Description
If a Veteran asks for a waiver, the DMC requires a written statement to be submitted along with the request, while other debt resolution options don't strictly require (but greatly benefit from) a written statement. We must make this written statement required when waivers are requested and also make the written statement more prominent for all submissions.

---
## Tasks
- [ ]

[2021-01-26 18:01] darkbushido commented on #19045
We currently Deduplicate the data from PPMS in two way

1. Providers are deduplicated by `ProviderIdentifier`, the assumption what that its a unique identifier.
2. Place of Services are deduplicated by
    - Street
    - City
    - State
    - Zip
    - care site name
    - caresite phone number
    - latitude
    - longitude
    - provider identifier

This one isn't showing because both locations

[2021-01-26 18:04] 1Copenut commented on #14030
Thank you @brianalloyd . I'll close it now.

[2021-01-26 18:04] #14030 closed

[2021-01-26 18:06] 1Copenut commented on #14103
@stephenBarrs & @artsymartha68 I'll review these and close issues as soon as I can get to them. It might be late today or early tomorrow, which shouldn't be an issue. We worked closely on the fixes and I have high confidence in the code changes. This team rocks!

[2021-01-26 18:07] delli-gatti-michael commented on #17687
[Testrail test case](https://dsvavsp.testrail.io/index.php?/cases/view/4175)

[2021-01-26 18:14] #18006 closed

[2021-01-26 18:15] rjohnson2011 commented on #17992
Blocked by improper redirect URI in token_generator:
`The redirect URI specified by the application does not match any of the registered redirect URIs. Erroneous redirect URI`.

[2021-01-26 18:16] rjohnson2011 commented on #18014
Blocked by improper redirect URI in token_generator:
The redirect URI specified by the application does not match any of the registered redirect URIs. Erroneous redirect URI.

[2021-01-26 18:16] pjhill commented on #17303
This request has been resolved. The two users referenced in the above comment satisfy the required test data. I sent the below email to the large email thread discussing this issue with various interested organizations.

<6 months remaining entitlement: vets.gov.user+226@gmail.com - Johnnie Weaver

These two viable users are stored in the [va.gov-team repo in a new table of users for this particul

[2021-01-26 18:17] #17303 closed

[2021-01-26 18:21] lexicalninja opened #19047 "Add screen tracking for analytics"
## Task overview
In order to identify opportunities for enhancement, we will need to track time spent on screens.

## Acceptance criteria
1. Add screen tracking with the React Navigation and React Native Firebase libraries. Reference the following links for instructions:
     - https://rnfirebase.io/analytics/screen-tracking#react-navigation
     - https://reactnavigation.org/docs/screen-tracking/

[2021-01-26 18:22] #17598 closed

[2021-01-26 18:23] #18481 closed

[2021-01-26 18:29] bmcgrady-ep commented on #16667
Hi @youngfreezyVA - I am still seeing the text in the event action coming in Spanish. Is this something that you will be able to update on your end?

[2021-01-26 18:30] ayushchak opened #19049 "Request access to Google Analytics and/or Domo"
# Request Google Analytics and/or Domo access

## What this form is for
Use this template to request access to Google Analytics and/or Domo

## User Email Address
Please link this issue to the DSVA Slack channel [#vfs-platform-support](https://dsva.slack.com/channels/vfs-platform-support), add VSP Analytics & Insights to your message, and provide the email address(es) for user(s) requesting access

[2021-01-26 18:33] 1Copenut commented on #12173
@ala-yna My apologies, I forgot to circle back around to your question. I'll pass this to OCTODE leadership.

[2021-01-26 18:33] tressaellen commented on #14025
Sounds good - I'll take a swing at it this afternoon.

[2021-01-26 18:36] dillo opened #19050 "Disable PHI/PII information from being logged by vets-api when querying MAP/MAS or Lighthouse PGD"

[2021-01-26 18:39] dillo opened #19051 "Setup async Creation of QuestionnaireResponse with the vets-api via Redis"

[2021-01-26 18:44] dillo opened #19052 "Cache aggregated Questionnaire Manager data in Redis for the Questionnaire Manager UI"

[2021-01-26 18:45] outerpress commented on #17006
Finally got a chance to dig into this. I think we can:
* Remove the alert styling
* Remove any content/functionality around sorting - I'm assuming that changing from address to location won't make a difference in the number of facilities that show.
* Display the single option without a radio button. This might be confusing since the title indicates you need to make a choice, but a single selected

[2021-01-26 18:48] davidconlon commented on #19045
here's what I'm thinking, knowing it's not a perfect solution (see below, for discussion)

I realize that this proposal will show _both_ the "Group Practice/Agency"  followed by any and all "Individual" doctors who might be part of that group practice/agency, but I think more is better than less, as long as they aren't duplicated.

Thoughts?

If "ProviderType": "GroupPracticeOrAgency"

Deduplicate

[2021-01-26 18:49] dillo opened #19053 "Setup the service harness to communicate with the future Lighthouse Appointment Service"
## User Story
**In order** to successfully complete my pre-visit questionnaire for a primary care appointment and then get the information to a clinician
**As a** Veteran
**I want** Amanda will update with the Lighthouse's health_api Appointment service to be setup

## Related Documentation
[Backend Architecture](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/he

[2021-01-26 18:51] dillo opened #19054 "Questionnaire Manager production deploy checklist"
## vets-website app checklist
- [ ] Enable the feature toggle in the production environment
- [ ] Check VA search result
- [ ] Check new form release criteria

## vets-api app checklist
- [ ] Check hqva_mobile configuration settings in the production Settings and DevOps YAML files and make sure all the values for the keys are production values
- [ ] Check that the production public/private key for

[2021-01-26 18:54] dillo opened #19055 "[Chore] Status of MAP/MAS access for vets-api in the production environment"

[2021-01-26 18:55] brianalloyd commented on #18342
@sanlouise and @erikphansen reaching out on status of WIP items as we approach end of sprint.  If you all could update tickets that are not complete and provide breadcrumbs for the next developer that will be working these tickets.  I also wanted to send out a huge "THANK YOU" for you support this sprint and helping our team work through some of these backlog items.  Appreciate it.

[2021-01-26 18:56] dillo opened #19056 "Load test the vets-api health-quest module endpoints"

[2021-01-26 18:58] jbalboni commented on #17006
@outerpress @laurenernest Either with or without the radio button works technically, we can pre-select if we need to show the button.

For that latest design, I feel like having "Choose a location" in combination with no form fields is more confusing than the single radio button option for screen reader users since they might not be able to visibly see all the content and be confident that they're

[2021-01-26 18:58] dillo opened #19057 "Create a Postman test suite for the health-quest module endpoints"

[2021-01-26 18:59] laurellawrence commented on #18553
A few things we might find useful if we decide to move forward with Yellow Ribbon Enhancements. An extensive research study of the current state of Yellow Ribbon can be found in [Yellow Ribbon MVP Research Findings](https://github.com/department-of-veterans-affairs/va.gov-team/blob/a5bf9c37d2e38480507490f59bf69feef2ab8f90/products/public-websites/yellow-ribbon-mvp/research/research-findings.md).

[2021-01-26 18:59] laurellawrence commented on #18553
<img width="838" alt="Screen Shot 2021-01-26 at 12 40 24 PM" src="https://user-images.githubusercontent.com/75386943/105891486-4fb78780-5fd6-11eb-85b0-07ccaef92904.png">

[2021-01-26 19:05] Kimberley2019 commented on #12948
@leahkeeler I have moved this ticket to Icebox.  Please let us know what else needs to be done or ping us once this is ready for movement again. Thanks!

[2021-01-26 19:10] sanlouise opened #19058 "[FE] Add breadcrumbs and page title to my VA"
## Background
We need to add breadcrumbs as well as the page title to the new my VA Dashboard.

![image.png](https://images.zenhubusercontent.com/5e9d15aab51cccb259a8a6c7/eada9039-b84f-42fa-8c46-5a26dacc4528)

## Tasks
- [ ] Add Breadcrumbs
- [ ] Add page title to the profile

[2021-01-26 19:14] jwoodman5 commented on #16608
Q1 plan reviewed and agreed upon end of Q4 2020. Contact Center Q1 initiatives are on VSP Q1 roadmap and reviewed/updated bi-weekly. Closing.

[2021-01-26 19:14] #16608 closed

[2021-01-26 19:14] johnhashva commented on #18553
@laurellawrence and @MarciMcGuireGCIO  this is a great find (though, I'm blushing because this was sitting in plain site for me all this time).   We've booked a session with the YR program leads for next Friday -- I will include you in that session (should have anyway, apologies).  Prior to that meet, let's definitely take time (later this week or early next) to talk through the research findings

[2021-01-26 19:18] shiragoodman commented on #17278
@allison0034 can you expand upon the Results section in Phase 1 above - per our discussion with Rachael on 1/21? For example:

1. These questions could replace Project Kickoff. Yes
While these questions will not replace Project Kickoff, they will be asked during the Project Kickoff to help VSP understand the intent of the VFS initiative, as well as the practice areas involved in the initiative. In

[2021-01-26 19:21] dillo opened #19059 "[BE] Create a comprehensive scope for the Lighthouse auth access token in the health-quest vets-api module"
## User Story
**In order** to successfully complete my pre-visit questionnaire for a primary care appointment and then get the information to a clinician
**As a** Veteran
**I want** the vets-api requests for access tokens to the Lighthouse to have a comprehensive set of `scopes` in the request body

## Related Documentation
[Backend Architecture](https://github.com/department-of-veterans-affairs/v

[2021-01-26 19:22] laurenernest opened #19060 "Current appointment cards - Add to calendar"
## Issue Description
The Add to Calendar feature for appointments should allow the user to create a calendar item with pre-populated appointment details.

### Specs
- Device: Macbook Pro, iPhone SE iOS14.2, Pixel 4 V11
- Browser: Safari, Chrome
- Test User _(if applicable)_: Judy Morrison

![IMG_3686 2.PNG](https://images.zenhubusercontent.com/5f7dd2dad6b9a9301bbab94e/f461fed9-4103-4337-9463-3986d

[2021-01-26 19:26] dillo opened #19061 "PDF Creation need to save the user's Questionnaire Response data in the vets-api"
## User Story
**In order** to successfully complete my pre-visit questionnaire for a primary care appointment and then get the information to a clinician
**As a** Veteran
**I want** the backend to save my questionnaire responses to the vets-api database after posting them successfully to the Lighthouse PGD

## Related Documentation
[Backend Architecture](https://github.com/department-of-veterans-a

[2021-01-26 19:26] JasonTheBearded commented on #18176
@bmcgrady-ep what's a good start date for this dataset?

[2021-01-26 19:30] bmcgrady-ep commented on #18176
@JasonTheBearded - For the monthly dataset, July 2020 - Present.

[2021-01-26 19:31] annaswims commented on #17727
code has been merged. I'll validate in staging after it's been deployed.

[2021-01-26 19:38] Kimberley2019 commented on #18222
@jwoodman5 to follow up with Joanne for status update.

[2021-01-26 19:42] caw310 opened #19062 "Disable issue tracker on component-library"
## Issue Description
Disable issue tracker on component-library and link to DSC issue template in README

Link to Slack message in case you need more information.
https://dsva.slack.com/archives/C5HP4GN3F/p1611093336033500?thread_ts=1610472673.307600&cid=C5HP4GN3F
Summary: The migration to the component-library repo doesn't introduce a change in the way we track issues for the component library.
v

[2021-01-26 19:45] mmiddaugh opened #19063 "Adjust icon for COVID-19 vaccines"
## Issue Description
Our COVID-19 vaccines alert has a disconnect between the icon used and the color. Blue typically is associated with the "info" icon, rather than the "alert" icon (which is currently in use). This should parallel the urgent care alert (which is correct).

[Design system reference](https://design.va.gov/components/alertboxes#informational-alert)

<details>
<summary> Current impl

[2021-01-26 19:50] bmcgrady-ep commented on #18505
@erikphansen - Everything is looking fine in [GA](https://analytics.google.com/analytics/web/#/report/content-event-events/a50123418w177519031p176188361/_u.date00=20210123&_u.date01=20210126&explorer-segmentExplorer.segmentId=analytics.eventLabel&explorer-table.filter=profile-get&explorer-table.plotKeys=%5B%5D&explorer-table.rowCount=25). Let me know if you need anymore help!

[2021-01-26 19:53] digitalken opened #19064 "App Startup - LOA1 Gate accessibility issue"
## What happened?
'Continue to sign in' button lists accessibility label as follows:
accessibilityLabel= “continue to sign in”
I'm only hearing "Continue sign in" on both Android and iOS.
Also, if we have any control over how it is pronouncing "sign in", rather than Android's "sin in" and iOS's "sig nin", if it could pronounce "sign in" for this label like it does in the hint, that would be great.

[2021-01-26 19:57] #15100 closed

[2021-01-26 20:00] bramleyjl commented on #17208
Migration commit: https://github.com/department-of-veterans-affairs/vets-api/pull/5771

[2021-01-26 20:00] gmaciolek commented on #18679
Update: The Key management doc is 90% complete, but we're putting this on hold for a bit until we can come to an agreement on guidelines and workflow considerations for internal/external documentation. (This doc links to an internal VSP Ops doc.)
Thread for details: https://dsva.slack.com/archives/C01AS05BQ79/p1611606911009100

[2021-01-26 20:01] bramleyjl commented on #17214
https://github.com/department-of-veterans-affairs/vets-api/pull/5777

[2021-01-26 20:01] mmiddaugh opened #19065 "Revisit FL front end direct connection to Lighthouse"
## Issue Description
Following a meeting in June 2020, the expectation was that the Facility Locator front end would connect through vets-api rather than directly to other endpoints. New information/considerations are now available and we need to revisit this decision.

Reference [original issue](https://github.com/department-of-veterans-affairs/va.gov-team/issues/9716)

---
## Tasks
- [ ] Identif

[2021-01-26 20:02] k80bowman commented on #18592
Documenting answers to the questions above here: https://docs.google.com/document/d/1wZCO0cuVb-tE2UUUXtlN8WvoAD3HA-ytfWY_SbU4TfQ/edit?usp=sharing

[2021-01-26 20:02] rebeccawalsh opened #19066 "[FSR] Hard-code contact information for staging usability"
## Issue Description
We want to prefill a couple of inputs in the unauthenticated experience for usability:

---
## Tasks
- [ ] Prefill first email input in contact section with ‘hector.smith@email.com’
- [ ] Prefill phone number with ‘555-123-4567'

## Acceptance Criteria
- [ ] Inputs show as prefilled in the unauthenticated experience

[2021-01-26 20:08] rebeccawalsh opened #19067 "[FSR] Update the status and next steps in the debt cards"
## Issue Description
Use the content from Debt Portal to update the statuses being displayed in the debt cards on FSR:

### Before:
![image.png](https://images.zenhubusercontent.com/5da618a29c4ddf0001b2fd8e/44edd7db-b865-4865-80fd-b4ba53e909f5)

### After:
![image.png](https://images.zenhubusercontent.com/5da618a29c4ddf0001b2fd8e/36b4474f-79c6-4e17-8e66-e238465b4f5a)

---
## Tasks
- [ ] Update car

[2021-01-26 20:16] rebeccawalsh opened #19068 "[FSR] Ensure list loop cards are closed by default when stepping backwards in the form"
## Issue Description
Currently, there is some weird behavior surrounding the list loops and stepping backwards in the form. When stepping back, the cards should not be open by default.

1. Fill in the list loop card
2. Save
3. Continue to next page
4. Step back to find the card in an edit/open state

If there are multiple cards previously saved, you will see something like this:
![image.png](https

[2021-01-26 20:19] #12334 closed

[2021-01-26 20:21] rebeccawalsh opened #19069 "[FSR] Fix employment sections to only ask for add'l employment if employment was indicated"
## Issue Description
Your employment history / Your spouse’s employment history:
When ‘no’ is selected for ‘Has your spouse been employed within the past two years?’, the next page is still, ‘Has your spouse had additional jobs in the past two years? (*Required)’

We should not be asking for additional jobs within the past 2 years if they indicated that they have not been employed within the past

[2021-01-26 20:25] shiragoodman opened #19070 "New Team VSP Orientation"
## User Story
As a new VA.gov team member, I need to complete onboarding activities so I can successfully work on my project.

## Acceptance Criteria
- [ ] Each team member has completed each item in the orientation checklist below.

## Onboarding Checklist

- [ ] PM: Attend intro meeting with product support PM
- [ ] Attend general orientation meeting
- [ ] [Request Access to Tools](https://githu

[2021-01-26 20:29] #18799 closed

[2021-01-26 20:29] digitalken commented on #18799
PASS 1/26/2021 - Bulleted list is being read correctly and "vaw" is at least being read as "Vee uh".

[2021-01-26 20:37] rileyorr opened #19071 "[FSR] Error handling bug within FSR's progressive disclosure"
## Issue Description
Some progressive disclosures are throwing errors for subsequent questions if the previous question threw an error

**How to recreate this bug in staging:**
1. Navigate to Step 2: 'Your employment history'
2. Select the 'continue' button to attempt to proceed to the next page. You should now see an error for 'Have you been employed within the past two years?' question
3. Select

[2021-01-26 20:40] allison0034 commented on #18610
@watersemma @amyknox I know you have worked so hard on this and it is looking great. The search and filter option at the top (vs left) is a new pattern, we have something similar on facilities locator but not nearly as complex. In order to approve the new pattern we need to make sure we usability test this on both mobile and desktop. That being said I did not see a mobile view of this. Do you have

[2021-01-26 20:40] larrywest52 commented on #18450
All pages written, cross-checked, revised, and uploaded to our team's Google Drive.

[2021-01-26 20:41] jason-gcio opened #19072 "Update School Type Field"
## Background
In testing, we learned that the school type needs to be designated as a discrete drop down ~~and not an open text field~~ and added in addition to the "kind of training..."

## Considerations
- Backend has ticket #19092 that should prove helpful

## Tasks
- [x] Update the [text field](https://github.com/department-of-veterans-affairs/vets-json-schema/blob/master/src/schemas/686c-674/

[2021-01-26 20:42] mmiddaugh commented on #19045
Seems we should remove the provider identifier as a dedup attribute if it isn't a unique item
Also, how might dedup impact future pagination?

[2021-01-26 20:42] larrywest52 commented on #18448
All pages written, cross-checked, revised, and uploaded to our team's Google Drive.

[2021-01-26 20:43] rileyorr commented on #18425
The VA debt experience mapping work can be viewed in [this GH file](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/Debt%20Resolution/Financial-Status-Report/design/experience-mapping.md). Additionally, the planned and proposed features have been outlined in [this spreadsheet](https://docs.google.com/spreadsheets/d/1rQV_eobcgze0FiZ_ahgdwz6jhb1zz7zROglLPxOY1QU/edi

[2021-01-26 20:44] outerpress commented on #17006
Thanks @jbalboni , I was going back and forth on whether to change the title for this state. That makes a lot of sense.

Here's an example with a title that makes this page more informational than action-based:

![Facilities-Update-v1-1-single-facility.png](https://images.zenhubusercontent.com/5f7ce3163782a585b910eaf3/73f35a6f-2bef-4f87-a7a4-9fb54ff29795)

This way we're meeting the spirit of the

[2021-01-26 20:45] RLHecht opened #19073 "Add link on Higher-Level Review page to go to HLR application"
## Issue Description
Per a request from the Claims and Appeals team, we need to add a link with text on the [Higher-Level Review](https://www.va.gov/decision-reviews/higher-level-review/) page to point to the [HLR application page](https://www.va.gov/decision-reviews/higher-level-review/request-higher-level-review-form-20-0996/introduction).

See intake request ticket #18876 for more details.

Pag

[2021-01-26 20:45] 1Copenut opened #19074 "Accessibility Feedback - Usability Test Prep - GI Bill Comparison Tool redesign"
## VFS acceptance criteria
- [ ] Let VSP know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
-

## Feedback
- **Must** = the feedback must be applied
- **Should** = the feedback is best practice
- **Consider** = suggestions/enhancements

**Must:**

**Should:**

**Consider:**

##

[2021-01-26 20:47] JasonTheBearded commented on #18176
Thanks @bmcgrady-ep! Since this is a monthly dataset, do we only want to show full months? i.e. if run today the dataset would show monthly data for 7/2020 - 12/2020?

[2021-01-26 20:48] jonwehausen commented on #18525
### QA Testing
@zacharymorel Very much appreciated here. Confirmed and closing

Description of Interaction | Data Layer Screenshot | Tag Screenshot | Test Status
| -- | -- | -- | -- |
Click on **"Last Updated (Oldest)"** in dropdown | ![image](https://user-images.githubusercontent.com/48527022/105902814-22c29f00-5fed-11eb-9260-d0c0e1aa817c.png) | ![image](https://user-images.githubusercontent.com/

[2021-01-26 20:48] #18525 closed

[2021-01-26 20:53] rebeccawalsh commented on #18757
I've updated the [document here](https://docs.google.com/document/d/1K8I1mYmCgJdHUxt62drlOqqKw1s6Mb80AaigbsN7k0A/edit#) with all of the changes we found as we reviewed staging, and created the following tickets:

Design
----
- [Update list loop error state design](https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/19030)
- [Update insta

[2021-01-26 21:03] jbalboni opened #19075 "Remove `var` from resource ids"
We should be able to remove the `var` prefix from appointment resource ids and have them pass through the id from vets-api (via MAS). This will make using them in links for the appt detail pages simpler.

AC
- [ ] Appointment resource transformers return `id` field without a `var` prefix
- [ ] Tests are updated to reflect changes
- [ ] Links to appointment detail pages use id in url without `var`

[2021-01-26 21:04] mmiddaugh opened #19076 "[Design] FL Mobile search experience"
## Issue Description
As a Veteran using a mobile device to search on Facility Locator, I want the experience to be consistent with industry standards.

## Background

- In a mobile month study, veterans were not interested in using the map view of facility locator #14484
- The Facility Locator search experience has not been approached from a mobile-first perspective
- Planned changes include the i

[2021-01-26 21:05] shiragoodman opened #19077 "Content review of Custom Tracks release"
## Issue Description
VSP Product Support is preparing to release enhancements to the Collaboration Cycle the week of 2/15. We need to ensure that the voice and tone is consistent across all impacted documentation, as well as ensure that the documents adhere to plain language best practices and are free of grammatical errors.

---
## Tasks
- [ ] Review the following documentation and ensure they me

[2021-01-26 21:09] amyknox commented on #18610
@allison0034 - [Here's the mobile prototype](https://bahdigital.invisionapp.com/share/2MIAFYF83FT#/screens/296055352).

[2021-01-26 21:14] RLHecht commented on #19073
@DanielleThierryUSDSVA My two suggestions for how to add this text are below. They would both be under the H2 for requesting an HLR

**Option 1:**

H2: How do I request a Higher-Level Review?

To request a Higher-Level Review, fill out the Decision Review Request: Higher-Level Review (VA Form 20-0996).

[Fill out VA Form 20-0996 online](https://www.va.gov/decision-reviews/higher-level-review/reque

[2021-01-26 21:15] rileyorr commented on #18757
Yay for fixing things! I also added a few tickets for bugs I found in the FSR:

- [List loop cancel buttons aren't working](https://github.com/department-of-veterans-affairs/va.gov-team/issues/18964)
- [Selecting the default list loop card's 'Save' button without inputting values is breaking the form](https://github.com/department-of-veterans-affairs/va.gov-team/issues/18974)
- [Some progressive d

[2021-01-26 21:16] RLHecht commented on #19043
Changes validated on live site. Closing ticket.

[2021-01-26 21:16] #19043 closed

[2021-01-26 21:17] #18856 closed

[2021-01-26 21:17] RLHecht commented on #18946
These changes are validated on live site. Closing ticket.

[2021-01-26 21:17] #18946 closed

[2021-01-26 21:19] laurenernest commented on #12679
Default + remove breadcrumb links, back to appts link

[2021-01-26 21:23] 1Copenut commented on #18610
@amyknox Would you be able to link the second and third task starting points above with the first task? Those direct links are especially helpful!

[2021-01-26 21:24] bmcgrady-ep commented on #18176
Yep, exactly!

[2021-01-26 21:34] mdewey commented on #18585
Updated data is in staging. https://staging.va.gov/health-care/health-questionnaires/questionnaires/to-do
![screencapture-staging-va-gov-health-care-health-questionnaires-questionnaires-to-do-2021-01-26-16_34_33](https://user-images.githubusercontent.com/1793923/105908582-6371e680-5ff4-11eb-8409-d16334167368.png)

[2021-01-26 21:34] #18585 closed

[2021-01-26 21:38] bkjohnson commented on #13999
Reopening since the issue isn't resolved as I understand it.

[2021-01-26 21:38] mdewey commented on #16039
This appointment has clinic number: https://staging.va.gov/health-care/health-questionnaires/questionnaires/answer-questions/introduction?id=195bc02c0518870fc6b1e302cfc326b61

This appointment has not clinic number but has a facility number: https://staging.va.gov/health-care/health-questionnaires/questionnaires/answer-questions/introduction?id=195bc02c0518870fc6b1e302cfc326b59

[2021-01-26 21:39] #16039 closed

[2021-01-26 21:41] amyknox commented on #18610
@1Copenut - added direct links to the original story and here for easy access:

  **- Desktop Prototype**
  - [**Desktop Task 1** Radius from location](https://bahdigital.invisionapp.com/share/2MIAFYF83FT#/screens/296055355)
  - [**Desktop Task 2** Program Search](https://bahdigital.invisionapp.com/share/2MIAFYF83FT#/screens/296055379)
  - [**Desktop Task 3** Compare Schools](https://bahdigital.in

[2021-01-26 21:41] mdewey commented on #18238
https://user-images.githubusercontent.com/1793923/105909293-5d303a00-5ff5-11eb-8d35-4a54556d94a9.mov

[2021-01-26 21:41] #18238 closed

[2021-01-26 21:42] luke-gcio opened #19078 "PIF issues - too many claims"
## User Story
As a veteran, I don't want to go through an application all the way to the end and find out I have submitted "too many claims".

## Expected Behavior
One of the errors a lot of veterans are getting:

The person we need to talk to is named Epharm Bogale <epharm.bogale@evokeconsulting.com>.  They are the ones that own this PIF process and already have a way to clear the PIF.  Not sure

[2021-01-26 21:43] denisecoveyduc commented on #18475
Search & Discovery team conducted a debrief meeting after our session with search.gov and have identified some follow on discussion topics that will occur over email to gain further clarity. Topics are outlined in #19011 which will be discussed our upcoming sprint 40.

[2021-01-26 21:43] #18475 closed

[2021-01-26 21:44] bessgreen opened #19079 "Error | Claims & Appeals unavailable"
## User story
As a user, I want to know when I cannot access my claims & appeals because of an upstream error.

## Acceptance Criteria
1. Create UI for an error state when claims and appeals cannot be loaded
     - This error is triggered when both the claims and appeals services are unavailable
2. Hide the segmented selector at the top of the page
     - The mobile alert should be 20px from the b

[2021-01-26 21:46] bkjohnson commented on #13999
The exception still exists in `hca` as of today:

![image](https://user-images.githubusercontent.com/2008881/105909777-dcfdda80-5fdc-11eb-91ac-6bb1bfcd4498.png)

[2021-01-26 21:48] starlow00 commented on #17414
Thanks, Sharon @SKasimow. These have the most up-to-date page images, v3 (cc @Kimberley2019)

[VSA_ContentLocalization_012021_v3.pptx](https://github.com/department-of-veterans-affairs/va.gov-team/files/5876340/VSA_ContentLocalization_012021_v3.pptx)

[VSA_ContentLocalization_012021_v3.pdf](https://github.com/department-of-veterans-affairs/va.gov-team/files/5876343/VSA_ContentLocalization_012021_v

[2021-01-26 21:49] mdewey commented on #18260
The commit has been deployed to staging, though there currently no way to validate that is in staging. since we do have test accounts with no questionnaires.

Best to validate is to have a developer manipulate the staging data to show the empty messages.
![Screen Shot 2021-01-26 at 4 48 41 PM](https://user-images.githubusercontent.com/1793923/105910035-5b1aab00-5ff6-11eb-9d1a-251840312926.png)
![S

[2021-01-26 21:49] #18260 closed

[2021-01-26 21:49] denisecoveyduc commented on #18552
Search and Discovery team is planning to meet to finalize our transition plans from Type Ahead POC to 1.0. As such final discussion and consideration will be completed as part of #18734. @mgleo has completed the style guide assessment and set of recommendations based on the constraints informed by search.gov implementation.

[2021-01-26 21:49] #18552 closed

[2021-01-26 21:51] #12776 closed

[2021-01-26 21:54] shiragoodman opened #19080 "Update VSP Orientation epic"
## Issue Description
The [New Team VSP Orientation Epic Template](https://github.com/department-of-veterans-affairs/va.gov-team/issues/new?assignees=&labels=&template=orientation-epic.md&title=New+Team+VSP+Orientation) does not include items for BE Orientation, FE Orientation or Design Orientation. If new BE engineers, FE engineers, or Designers join a VFS team, the current process for getting the

[2021-01-26 21:56] bkjohnson commented on #14013
@Mottie I'm reopening this since the issue still exists as of today:

![image](https://user-images.githubusercontent.com/2008881/105910764-403c3c80-5fde-11eb-8a28-24f182a78ec9.png)

[2021-01-26 21:57] kristenmcconnell commented on #16039
The confirmation page looks good for both "This appointment has clinic number" and "This appointment has no clinic number, but has a facility number."

On all the other forms pages, a period is missing after the phone number. That goes for both use cases that you listed.

Can I also see a facility locator example?

[2021-01-26 21:58] brangi commented on #18824
@mmiddaugh @swirtSJW is this **"main phone number"**?

<img width="1249" alt="Screen Shot 2021-01-26 at 3 55 55 PM" src="https://user-images.githubusercontent.com/100468/105910911-33741480-5fef-11eb-8354-032a7957776e.png">

[2021-01-26 22:00] brangi commented on #18824
How does the frontend knows that the box is checked, is there any boolean value to check?

[2021-01-26 22:00] kristenmcconnell commented on #16039
I just reread the description. If there is no facility number, then there is just supposed to be a link to the facility locator tool, so the Veteran can look information up themself.

[2021-01-26 22:02] starlow00 commented on #17718
Contacted Michelle Middaugh via Slack re. this ticket.

[2021-01-26 22:30] outerpress commented on #19060
I ran into this on a Pixel 4/Android V11. On staging.va.gov when I clicked "Add to Calendar" and selected my gCal, I got the error "Unable to Launch Event"

[2021-01-26 22:31] bkjohnson commented on #19062
Issue tracker has been disabled.

[2021-01-26 22:32] bessgreen opened #19081 "Update copy for null Appeals"
## Acceptance Criteria
1. Make the following copy changes to the null Appeals message*:
     - Header 2: You do not have any appeals
     - Supporting copy: This app shows only completed applications but you don't have active appeals.

*Note: this message occurs on the Claims Error state when the user does not have any Appeals on file

## Designs
![Null appeals.png](https://images.zenhubuserconten

[2021-01-26 22:36] jonwehausen commented on #13727
@ncksllvn We were able to get word from and @SKasimow + @youngfreezyVA that it would be a larger lift to return the english versions, so we will manipulate the data on our end for now.

Closing this ticket.

[2021-01-26 22:36] #13727 closed

[2021-01-26 22:41] bmcgrady-ep commented on #16667
@youngfreezyVA @SKasimow - We found out a way to get the text in English in BigQuery and Domo, so any Domo dashboard would have the text in English.

Closing this ticket out on our end.

[2021-01-26 22:46] mmiddaugh commented on #18825
Looks good!

[2021-01-26 22:46] #18825 closed

[2021-01-26 22:46] #18320 closed

[2021-01-26 22:46] #16843 closed

[2021-01-26 22:47] #17959 closed

[2021-01-26 22:47] #17667 closed

[2021-01-26 22:48] mmiddaugh commented on #17959
https://preview.uxpin.com/cdd25414c3c03534b7a8ee83b89f964219565580#/pages/135469174?mode=cvhidm

[2021-01-26 22:48] brianalloyd commented on #18982
@ncksllvn closing the ticket, as mentioned we can gauge progress and reopen if needed.  Thanks.

[2021-01-26 22:48] #18982 closed

[2021-01-26 22:49] mmiddaugh commented on #17959
[Research plan](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/facilities/vet-centers/discovery/client-usability-tests/research-plan.md)

[2021-01-26 22:49] Mottie commented on #14013
Thanks! I'll follow up on this after axe-core is updated to v4.1+

[2021-01-26 22:50] mmiddaugh commented on #17667
[Link to mobile prototype](https://preview.uxpin.com/cdd25414c3c03534b7a8ee83b89f964219565580#/pages/135469174?mode=cvhidm)

[2021-01-26 22:50] #14220 closed

[2021-01-26 22:51] mmiddaugh commented on #15701
@joshkimux this is ready for your validation when you are available

[2021-01-26 22:51] #18144 closed

[2021-01-26 22:53] #17917 closed

[2021-01-26 22:55] mmiddaugh commented on #18922
Individual issues have been created for the identified issues and are linked within [this epic](https://github.com/department-of-veterans-affairs/va.gov-team/issues/19035)

[2021-01-26 22:55] #18922 closed

[2021-01-26 22:55] #17682 closed

[2021-01-26 22:56] mmiddaugh commented on #18816
Looks good!

[2021-01-26 22:56] #18816 closed

[2021-01-26 22:58] brianalloyd commented on #18337
Validated and closing @ncksllvn, understand the HREF value will remain per the Design System team, still looks a little wonky but the bugs are fixed and search bar is hidden during print of checklists.  Thanks for the hard work on this, as always.

[2021-01-26 22:58] #18337 closed

[2021-01-26 23:04] bessgreen commented on #18381
Note: anchoring the buttons to the bottom of the screen is an accessibility issue when increasing the font size on the page.

[2021-01-26 23:14] brianalloyd opened #19082 "Explore Closed Caption Transcripts for Campaign Landing Pages (508/a11y Recommendation)"
## Issue Description
_This is an exploratory ticket to determine future direction of Closed Caption Transcripts for CLP as recommend by a11y team._

## Issue Defined
Youtube supports closed captioning out of the box in the iframes. the text can be specified manually by the video owner in youtube, otherwise is generated automatically by speech recognition.

Should we consider transcript options for

[2021-01-26 23:15] #19062 closed

[2021-01-26 23:19] brianalloyd commented on #18864
Thanks @ncksllvn

[2021-01-26 23:20] digitalken commented on #18381
PASS 1/26/2021 - Android and iOS look good.

[2021-01-26 23:20] #18381 closed

[2021-01-26 23:21] brianalloyd commented on #18151
@kevwalsh tagging you on this ticket, refer to the notes above concerning CMS.

[2021-01-26 23:41] mpelzsherman opened #19083 "Empty accordions due to missing VAMC service location data in cms-export build"
Several of the VAMC service locations are not being displayed in the cms-export build

e.g.http://localhost:3001/pittsburgh-health-care/locations/pittsburgh-va-medical-center-university-drive/

The `fieldBody` and `fieldServiceNameAndDescripti` data is missing. This ends up generating a number of empty accordions.

![VA_Pittsburgh_Health_Care___Pittsburgh_VA_Medical_Center-University_Dr.png](https

[2021-01-26 23:44] digitalken opened #19084 "Mobile Alert Disclaimer on Unauthorized page Accessibility issue"
## What happened?
Android only:  Talkback says "Internal release for testing only.  Double tap to activate. Double tap and hold to long press"
This is only a text alert, not a button.  Shouldn't say "Double tap to activate. Double tap and hold to long press."  This extra invalid information would be confusing to a visually impaired user.
(Does not happen with Google Pixel 3+ but all my other Andro

[2021-01-26 23:47] digitalken commented on #18406
PASSIN UI/UX, failing Accessibility on Android. (iOS is ok)
Most Androids (except for Google Pixel 3) gives extra instructions with Talkback about double tapping to enable, etc.  Bug logged. Closing story.

https://app.zenhub.com/workspaces/va-mobile-app-5f205eac3155a2000f422ecb/issues/department-of-veterans-affairs/va.gov-team/19084

[2021-01-26 23:47] #18406 closed

[2021-01-26 23:48] cohnjesse opened #19085 "Add validation logic for form components"
## Background
Once the formlet is in place for the View Dependents page we need to add validation logic to the form fields to ensure the user knows what they should and should not put in the fields as well as to make sure the data is of the highest quality.

## Considerations
- Not using the Form System means that we need to build field validation
- Notes from Micah: we might be able to use some o

[2021-01-27 00:15] digitalken commented on #18341
@jmarchi - I'm getting left over data in the profile screen from the previous logged in user still.  Shouldn't the current user's information be fetched and ready to populate before I actually view the Profile screen?  Specifically:
"The app calls the profile and military history end points. This makes sure the Veteran Name and last branch of service do not need to be fetched when a user hits the

[2021-01-27 00:16] jmarchi commented on #18341
@digitalken
That work is done as part of this ticket https://app.zenhub.com/workspaces/va-mobile-app-5f205eac3155a2000f422ecb/issues/department-of-veterans-affairs/va.gov-team/18709 which is currently in PR

[2021-01-27 00:18] digitalken commented on #18341
@jmarchi - ahh, ok.  Thanks John.  It gets confusing when acceptance criteria on one story is actually being done in another...

[2021-01-27 00:30] peggygannon commented on #18949
Questions/Thoughts

-	Breadcrumbs are missing in the prototype. Assuming we'd use the same one as the current tool?
-	The H1 no longer has “GI Bill” in it. Is this tool being renamed/rebranded?
-	Can we see the flow if user searches by Employer or VET TEC. Do any of the labels or messaging change?
-	In current tool, there are Learn more links that users can click on to get more information about a

[2021-01-27 00:31] theodur commented on #18955
Resolved in https://github.com/department-of-veterans-affairs/vets-website/pull/15804.

[2021-01-27 00:31] #18955 closed

[2021-01-27 00:45] bessgreen opened #19086 "Confirmation screen for photo/file upload"
## User story
As a user, I want to see a confirmation page after I've hit "Upload" that tells me this action is final and cannot be undone, along with options to "Confirm upload" or "Go back".

## Acceptance Criteria
1. Upon hitting "Upload" on the File Upload or Photo Upload page, route the user to a new page where they can confirm that they want to upload their files
     - Header 1: File upload

[2021-01-27 00:53] kathleencrawford opened #19087 "686 Update Manual Proc State Type Code"
## Background
During 686 testing, BGS asked us to update the proc state type from `MANUAL` to `MANUAL_VAGOV` so they can see that VA.gov is the application that is setting the claim to manual.  Note that this only applies to certain workflows that can not currently get processed by RBPS.

## Tasks
- [x] Determine the work flows/use cases that are currently setting the status to `MANUAL`
- [x] Upda

[2021-01-27 00:53] bessgreen commented on #19086
Hi @bridgethapner, after testing out the File Upload flow in the app, we thought it could be beneficial to add some form of confirmation button after a user has hit "Upload", since this action cannot be undone.

Curious to hear your thoughts though and whether or not you think this is something we should incorporate as a fast-follow!

![image (1).png](https://images.zenhubusercontent.com/5f64e4129

[2021-01-27 01:00] kathleencrawford opened #19088 "Confirm Ch 31 Upload PDF to VBMS"
## Background
When a user submits a Chapter 31 claim/form, a PDF is currently being generated but needs to be uploaded to VBMS.

## Considerations
- Check With Derek in case he wants it in a job

## Tasks
- [ ] Ensure the PDF is being generated correctly from the form data
- [ ] After PDF generation, upload the file to VBMS

## Acceptance Criteria
- [ ] The Chapter 31 PDF gets successfully uploade

[2021-01-27 01:08] kathleencrawford opened #19089 "Set 674 Document Type When Uploading PDF to VBMS"
## Background
When submitting a 674, we generate a PDF and send it to VBMS but currently we are using the incorrect document type.  We need to set the document type that corresponds to the 674 form.

Document types can be found [here](https://github.com/department-of-veterans-affairs/caseflow-commons/blob/master/app/models/caseflow/document_types.rb)

## Tasks
- [x] Set the appropriate document ty

[2021-01-27 01:14] kathleencrawford opened #19090 "Fix View Dependents When Veteran Only Has One Dependent"
## Background
During testing it was discovered that View Dependents is currently unable to render properly if the user only has one dependent.  BGS returns an array when multiple dependents are found, but returns an object if there is only one dependent.  The FE is expecting an array all the time, which is why the page is not displaying correctly when there is only one dependent.

## Tasks
- [x] F

[2021-01-27 01:14] bridgethapner commented on #19086
This sounds great! Thanks for flagging this - agree this is a good idea considering the finality of the action.

I don't think I'll have time to get to design work here until after the research weeks. Could we add a screen for now with some CC elements as a placeholder to come back and refine in the coming sprints? Maybe something like:

Text: Please confirm you are ready to send your [file name]

[2021-01-27 01:17] #18903 closed

[2021-01-27 01:17] #16362 closed

[2021-01-27 01:28] kathleencrawford opened #19091 "686 Determine How MPI is Mocked in Dev"
## Background
To complete testing for the 686, we need to be able to test against the BGS/RBPS/VBMS pre-prod environment.  Currently, our dev environment is mapped to BGS pre-prod, but we need to determine how to mock data for the BGS pre-prod users for testing.

## Considerations
- Long term, there is a bit of an issue here where we are working in staging but BGS has a few others and mapping to t

[2021-01-27 01:50] jason-gcio opened #19092 "Determine Values for School Type Dropdown"
## Background
In testing, we learned that the school type needs to be designated as a discrete drop down and not an open text field.

## Tasks
- [x] Determine what the values are for these dropdown fields
- [x] Check EVSS or ask Shane/Linda

## Acceptance Criteria
- [x] The frontend has been informed of the values to be passed based on the dropdown selection in their ticket.

` No PR needed`

[2021-01-27 02:02] jason-gcio opened #19093 "Schedule Team Meeting: Doc Type Handling"
## Background
In testing, it was determined that we could pass a better doc type to VBMS that would indicate what type of document was being displayed for review.

## Considerations
- List of [possible doc types](https://github.com/department-of-veterans-affairs/caseflow-commons/blob/master/app/models/caseflow/document_types.rb)
- Our list:
  - Adoption Cert
  - Marriage Cert (if non-religious/civ

[2021-01-27 02:15] digitalken commented on #18599
PASS 1/26/2021 on both Android and iOS.  Took a little figuring out because I wasn't familiar with the choices, but it passes.

[2021-01-27 02:15] #18599 closed

[2021-01-27 02:15] kathleencrawford opened #19094 "686 Document Uploads/Attachments"
## Background
During 686 testing, there was an error when trying to upload a document as supporting evidence.  We need to investigate to see why file uploads/attachments are not working.  Note that there were intermittent staging issues that day, so the error we saw could have been a side effect of staging issues in general.

## Tasks
- [x] Test the document upload to determine whether it is worki

[2021-01-27 02:24] digitalken opened #19095 "Error photo exceeds max size - Error is not located according to designs"
## What happened?
1. The mobile alert error notification is supposed to appear at the top of the page between H1 and H2, but appears below the photo thumbnails at bottom of page.
2. The copy in the error state does not meet the requirements

## Specs:
- Device: Android and iOS

## Steps to Reproduce
1. Upload too large of files to trigger the size error.

## Desired behavior
1. Mobile alert should

[2021-01-27 02:26] digitalken commented on #18798
FAIL UI/UX - Error mobile alert is not placed in correct location according to designs, both Android and iOS.
Bug entered:
https://app.zenhub.com/workspaces/va-mobile-app-5f205eac3155a2000f422ecb/issues/department-of-veterans-affairs/va.gov-team/19095

[2021-01-27 03:00] DanielleThierryUSDSVA opened #19096 "FSR content collaboration"
## Issue Description

Review FSR content and provide content edits. Team to discuss and collaborate on any questions.

[2021-01-27 03:01] DanielleThierryUSDSVA commented on #19096
Hi @rebeccawalsh. Here's full doc. Capturing in ticket for tracking. Just let me know if you or the team have questions. Thanks!

[FSR content review_danielle_01.25.21](https://app.zenhub.com/files/133843125/5e4b60da-d119-4ae8-b9d0-8b54a41d47a0/download)

[2021-01-27 03:03] bessgreen opened #19097 "Incorporate swipe gestures to Onboarding screens"
## User story
As a user, I want the ability to swipe left/right through the Onboarding screens to progress through the flow.

## Acceptance Criteria
TBD

## Designs
- To do: Incorporate a "Back" button on Onboarding Screens #2-4 in order to meet accessibility guidelines

[2021-01-27 03:22] bessgreen commented on #19095
@digitalken I added a second issue to this ticket regarding incorrect copy. See above as Issue #2.

[2021-01-27 04:02] bessgreen opened #19098 "Update file request card UI after a successful submission"
## Acceptance Criteria
After a successful file/photo submission, the following should happen to the card for that File Request:

1. The File Request card should still display on the Request Overview page (i.e. Screen #1 in the design flow below)
2. Hide the large buttons at the bottom of the card ("Select a file" and "Take photos")
3. Between the Request Title and the Request Description, add copy

[2021-01-27 04:02] bessgreen commented on #19098
@bridgethapner are you able to share an .svg of this icon?
![Screen Shot 2021-01-26 at 8.01.58 PM.png](https://images.zenhubusercontent.com/5f64e41291069a617acc1b47/0073c694-903c-4e5e-8d2a-1571f90690fa)

[2021-01-27 04:52] #11752 closed

[2021-01-27 04:52] #17934 closed

[2021-01-27 04:52] #11756 closed

[2021-01-27 04:52] #18034 closed

[2021-01-27 04:52] #18185 closed

[2021-01-27 04:52] #17503 closed

[2021-01-27 04:52] #17418 closed

[2021-01-27 04:52] #18035 closed

[2021-01-27 04:53] #17428 closed

[2021-01-27 04:53] #17422 closed

[2021-01-27 04:53] #17509 closed

[2021-01-27 04:53] #18357 closed

[2021-01-27 04:53] #17507 closed

[2021-01-27 05:11] SgardnerPMP opened #19099 "[REVIEW] Internal Review, Test, Proof Read, and CORRECT all NODES for "VA Central California health care" ending with stakeholder review doc [VAMC]"
## User Story or Problem Statement
As a Veteran Web user, I must have full accessibility a compliance to my web applications and tools, so I can use the VAMC system pages in any GUI, UE, including mobile and reader environments.

## Goal
_Perform initial page testing and review

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran's accessibility

[2021-01-27 05:12] SgardnerPMP opened #19100 "[REVIEW] Internal Review, Test, Proof Read, and CORRECT all NODES for "VA Northern California health care" ending with stakeholder review doc [VAMC]"
## User Story or Problem Statement
As a Veteran Web user, I must have full accessibility a compliance to my web applications and tools, so I can use the VAMC system pages in any GUI, UE, including mobile and reader environments.

## Goal
_Perform initial page testing and review

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran's accessibility

[2021-01-27 05:14] SgardnerPMP opened #19101 "[REVIEW] Internal Review, Test, Proof Read, and CORRECT all NODES for "VA Pacific Islands health care" ending with stakeholder review doc [VAMC]"
## User Story or Problem Statement
As a Veteran Web user, I must have full accessibility a compliance to my web applications and tools, so I can use the VAMC system pages in any GUI, UE, including mobile and reader environments.

## Goal
_Perform initial page testing and review

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran's accessibility

[2021-01-27 05:15] SgardnerPMP opened #19102 "[REVIEW] Internal Review, Test, Proof Read, and CORRECT all NODES for "VA Palo Alto health care" ending with stakeholder review doc [VAMC]"
## User Story or Problem Statement
As a Veteran Web user, I must have full accessibility a compliance to my web applications and tools, so I can use the VAMC system pages in any GUI, UE, including mobile and reader environments.

## Goal
_Perform initial page testing and review

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran's accessibility

[2021-01-27 05:23] SgardnerPMP opened #19103 "[VAMC] Create New Devshop environments for all VISN-21 Systems [PM}"
# User Story or Problem Statement
As a Veteran Web user, I must have full accessibility a compliance to my web applications and tools, so I can use the VAMC system pages in any GUI, UE, including mobile and reader environments.

## Goal
_Perform initial devshop environments to begin testing

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran's

[2021-01-27 05:27] SgardnerPMP opened #19104 "[REVIEW] Internal Review, Test, Proof Read, and CORRECT all NODES for "VA San Francisco health care" ending with stakeholder review doc [VAMC]"
## User Story or Problem Statement
As a Veteran Web user, I must have full accessibility a compliance to my web applications and tools, so I can use the VAMC system pages in any GUI, UE, including mobile and reader environments.

## Goal
_Perform initial page testing and review

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran's accessibility

[2021-01-27 05:28] SgardnerPMP opened #19105 "[REVIEW] Internal Review, Test, Proof Read, and CORRECT all NODES for "VA Sierra Nevada health care" ending with stakeholder review doc [VAMC]"
## User Story or Problem Statement
As a Veteran Web user, I must have full accessibility a compliance to my web applications and tools, so I can use the VAMC system pages in any GUI, UE, including mobile and reader environments.

## Goal
_Perform initial page testing and review

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran's accessibility

[2021-01-27 05:29] SgardnerPMP opened #19106 "[REVIEW] Internal Review, Test, Proof Read, and CORRECT all NODES for "VA Southern Nevada health care" ending with stakeholder review doc [VAMC]"
## User Story or Problem Statement
As a Veteran Web user, I must have full accessibility a compliance to my web applications and tools, so I can use the VAMC system pages in any GUI, UE, including mobile and reader environments.

## Goal
_Perform initial page testing and review

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran's accessibility

[2021-01-27 05:40] SgardnerPMP opened #19108 "[Analytics] Research and upload all Staff Profiles for VISN-8, Leadership, Health Services program, etc. [BA]"
## Story
As a VAMC team member, I need to have all staff profiles ready and loaded in drupal, so I can quickly complete creation, and data load in one visit.

## Goal
- Assure one and done data load to VISN-8 pages upon creation.

## Resources - Tools - Documentation
[VISN-8 Playbook locations](https://drive.google.com/drive/folders/1YuZ_PJFIEhmOuMhj55oh0lT3aL1uy6Tg)
[Staff reference documents](ht

[2021-01-27 05:59] SgardnerPMP opened #19109 "[Dual-State-Prep] Prepare Butler Health Care VAMC for Dual State [VAMC]"
## STORY
As a web user I need to confirm all broken links, updates, and content has been updated prior to Dual-state publishing, so I can be assured the latest and best system input is loaded to Dual-State

## Resources
[Butler Devshop Instance](http://butlerhealthcare.web.demo.ci.cms.va.gov/butler-health-care/)
[Site Page Checklist](https://drive.google.com/drive/folders/1v0CGhpx7BM2tWbZx7zNY_ZkQ

[2021-01-27 06:03] SgardnerPMP opened #19110 "[Dual-State-Prep] Prepare Wilmington Health Care VAMC for Dual State [VAMC]"
## STORY
As a web user I need to confirm all broken links, updates, and content has been updated prior to Dual-state publishing, so I can be assured the latest and best system input is loaded to Dual-State

## Resources
[Wilmington Devshop Instance](http://wilkesbarrehealthcare.web.demo.ci.cms.va.gov/wilkes-barre-health-care/)
[Site Page Checklist](https://drive.google.com/drive/folders/1v0CGhpx7B

[2021-01-27 06:13] SgardnerPMP opened #19111 "[Content-Review] Internal Review, Proof read and correct plain language and common sence conntent on all pages for VA Richmond health care [CW]"
## User Story or Problem Statement
As a Veteran Web user, I must have full accessibility a compliance to my web applications and tools, so I can use the VAMC system pages in any GUI, UE, including mobile and reader environments.

## Goal
_Perform initial page testing and review

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran's accessibility

[2021-01-27 06:16] SgardnerPMP opened #19112 "[Content-Review] Internal Review, Proof read and correct plain language and common sence conntent on all pages for VA Salem health care [CW]"
## User Story or Problem Statement
As a Veteran Web user, I must have full accessibility a compliance to my web applications and tools, so I can use the VAMC system pages in any GUI, UE, including mobile and reader environments.

## Goal
_Perform initial page testing and review

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran's accessibility

[2021-01-27 06:19] SgardnerPMP opened #19113 "[Content-Review] Internal Review, Proof read and correct plain language and common sence conntent on all pages for VA Salisbury health care [CW]"
## User Story or Problem Statement
As a Veteran Web user, I must have full accessibility a compliance to my web applications and tools, so I can use the VAMC system pages in any GUI, UE, including mobile and reader environments.

## Goal
_Perform initial page testing and review

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran's accessibility

[2021-01-27 12:37] sonntag-adam commented on #17769
Testing passes QA

[2021-01-27 12:37] #17769 closed

[2021-01-27 13:04] #18665 closed

[2021-01-27 13:08] jonwehausen opened #19114 "General Analytics Request for Alayna Abel - Metrics Clarification"
# Metrics Reporting Request

## Description
Who is this request for?

- Alayna Abel

    _Send Slack message to DSVA Slack Channel, `#VFS-Platform-Support`, that includes: email address(es) for user(s) requesting data and link to this Github issue._

- What team/project is this work for?

    _health care application_

- What type of analytics support are you looking for?
  - [ ] one time metrics

[2021-01-27 13:11] jonwehausen commented on #19114
Great opportunity for a documentation addition here...

The question _"How can I have more than zero total events, but zero unique events?"_ has been added to our FAQ's [here](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/analytics/google-analytics/google-analytics-frequently-asked-questions.md#how-can-i-have-more-than-zero-total-events-but-zero-unique-events)

[2021-01-27 13:11] MarciMcGuireGCIO commented on #19005
@johnhashva @jason-gcio confirming that this change is now on Production.

[2021-01-27 13:26] laurenernest opened #19115 "[SPIKE] Past appointments schema"
## Issue Description
Is it possible to provide an endpoint in vets-api that aggregates the different appointments types?  This would provide a more seamless communication with vets-website when requesting past appointment data.  Currently, vets-website has to make multiple requests, one for each type of appointment to retrieve past appointment information.  The spike here would be to determine if

[2021-01-27 13:39] mshea0606 opened #19116 "AE Sprint 40"
## Priorities
1.  MyVA: Get ready for Pre-usability Prep review (copy review, research plan, and convo guide)
2. MyVA: Start frontend build
3. DD4edu: QA/ any QA fixes
4. DD4edu: Analytics planning
5. DD4edu: Contact center guide
6. Notification preferences: Finish integration; VSP kick-off
7. Profile BE errors issue

## Profile
**BE**
- [ ] Are we sending deprecated IDs to VA Profile? #17739
- [

[2021-01-27 13:56] mpelzsherman commented on #18824
The boolean value to check is `fieldUseMainFacilityPhone`.

[2021-01-27 13:58] mpelzsherman commented on #18824
I checked the [transformer](https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/site/stages/build/process-cms-exports/transformers/paragraph-service_location.js#L30) and confirmed that `fieldUseMainFacilityPhone` is already being populated. There should be no need for any additional transformer work for this ticket.

[2021-01-27 13:59] lealester commented on #18629
Checklist for Lea: Meta tags, Meta descriptions; Incorporate Peggy changes, add facility pictures; complete prepare for your visit (parking and transportation only two required for both VAMC & Clinics); change TDD to TTY; Clone Events, Stories, and News Release; Review broken links and redirect links in PROD

[2021-01-27 14:12] mdewey commented on #16039
I will the period in the ticket: https://github.com/department-of-veterans-affairs/va.gov-team/issues/19019

Here is one without a facility locator. This data will be in staging  when #19019 is in staging.
![screencapture-localhost-3001-health-care-health-questionnaires-questionnaires-answer-questions-introduction-2021-01-27-09_11_41](https://user-images.githubusercontent.com/1793923/106003042-ce1

[2021-01-27 14:13] MarciMcGuireGCIO opened #19117 "Find a VA Form - Add 'Sort by Last Updated' feature x Staging Accessibility Checklist"
## Acceptance Criteria
- Complete required accessibility checklist items for staging review:
  - [ ] Read the [accessibility staging review documentation](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/staging-review-processes.md#accessibility-staging-review-preparation)
  - [ ] [Axe scans in daily development](https://github.com/departmen

[2021-01-27 14:14] #18658 closed

[2021-01-27 14:14] MarciMcGuireGCIO opened #19118 "Find a VA Form - Add 'Sort by Last Updated' Use Cases"
## Acceptance Criteria
- [ ] Make a copy of the [Product Use Cases Template](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/design/product-use-cases-template.md) and add to your product folder if one does not already exist
- [ ] Add/update the various use cases for your product
- [ ] (Optional) Submit along with your QA test plan request

## How to configure th

[2021-01-27 14:15] MarciMcGuireGCIO opened #19119 "Find a VA Form - Add 'Sort by Last Updated' x Release plan"
## Acceptance Criteria
- [ ] Make a copy of the [release plan template](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/product-management/release-plan-template.md) and add to the respective product folder
- [ ] Complete release plan for launch

## How to configure this issue
- [ ] **Attach to appropriate Epic**
- [ ] **Labeled with Team**

[2021-01-27 14:18] mshea0606 opened #19120 "[Design] MyVA 2.0 Research plan for usability of finalized designs"
## Background
Now that we have finalized design for MyVA, we need to create a research plan and convo guide in preparation for usability testing.

## Tasks
- [x] Create research plan
- [x] Review with Matt/Samara

[2021-01-27 14:19] #18648 closed

[2021-01-27 14:19] cmaeng commented on #7469
This issue looks to have been addressed last year with training. @jenniferlee-dsva please let us know if anything additional is needed to fulfill the need.

[2021-01-27 14:19] #7469 closed

[2021-01-27 14:20] joanneesteban commented on #19027
@jwoodman5 - tagging you and the Contact Center team in this ticket!

[2021-01-27 14:20] #18647 closed

[2021-01-27 14:21] joanneesteban commented on #18822
Thanks for opening this, Stan! We'll review and triage within our team.

[2021-01-27 14:22] #18651 closed

[2021-01-27 14:25] joanneesteban commented on #18746
Thanks, @lianilychee ! For "traffic," what type of interactions would you be looking for?

[2021-01-27 14:26] mshea0606 opened #19121 "[Design] MyVA 2.0 Convo guide for usability testing of finalized designs"
## Background
Now that we have finalized the designs for MyVA 2.0, we need to create a research plan and conversation guide in preparation for usability testing.

## Tasks
- [x] [Create conversation guide](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/my-va/2.0-redesign/product/Research%20V2/MyVA2-conversation-guide.md)
- [x] Review wit

[2021-01-27 14:27] joanneesteban commented on #18511
@bmcgrady-ep Thanks, Ben! Let's keep this in the backlog for now - I think we'll need to audit a list of standardizations so we can figure out priority.

[2021-01-27 14:27] joanneesteban commented on #18441
Confluence work will be tracked [here](https://github.com/department-of-veterans-affairs/va.gov-team/issues/18746)

[2021-01-27 14:29] MarciMcGuireGCIO opened #19122 "Find a VA Form - Add 'Sort By Last Updated" feature - VSA-QA Test Plan"
\[**Product Managers**: Open this ticket **at least 2 Sprints** before you expect a Platform Staging Review of this Product/Feature.  Then:
- Add yourself to Assignees
- Fill-out sections below.

## Product/Feature summary

\[Provide brief summary of product/feature to be tested on Staging by VSA-QA. Also, be sure to include links to the Product/Feature Outline, Epic, Pre-Launch Checklist, and Des

[2021-01-27 14:31] #13152 closed

[2021-01-27 14:33] abuckley3385 commented on #17207
@dillo - Status?

[2021-01-27 14:37] joanneesteban commented on #15303
IRIS replacement team is changing. Moving this ticket to blocked on the Platform Analytics side.

[2021-01-27 14:37] tressaellen commented on #14025
I posted an update in [this ticket](https://github.com/department-of-veterans-affairs/va.gov-team/issues/19002)

[2021-01-27 14:39] mshea0606 opened #19123 "[PM] DD4EDU Create release plan"
## Background
In preparation for launch, we need to create a release plan.

[Release plan template](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/product-management/release-plan-template.md)

## Tasks
- [ ] Create release plan
- [ ] Review with Samara

[2021-01-27 14:43] tressaellen commented on #18990
Here's a rough first pass at this.

**Verify your identity to access more personalized tools and features**

We need to make sure you’re you - and not someone pretending to be you - before we can give you access to your claims, benefits and health-related information. This helps to keep your information safe, and to prevent fraud and identity theft.

This one-time process takes about 5-10 minutes.

[2021-01-27 14:43] JasonTheBearded commented on #18176
@bmcgrady-ep dataset set up, https://va-gov.domo.com/datasources/f13cdb2e-fd1f-4b72-8db6-0f2e82a30dd5/details/overview let me know if you need anything else!

[2021-01-27 14:44] Samara-Strauss commented on #19002
Thanks for this, @tressaellen!!

@peggygannon @DanielleThierryUSDSVA let us know if you want to regroup on this at all. This drastically simplifies [what we have now](https://github.com/department-of-veterans-affairs/va.gov-team/issues/13831#issuecomment-700941068). As Tressa mentioned, with the new dashboard, having three separate notifications doesn't work. Also, having an alert that effectively

[2021-01-27 14:46] leahkeeler commented on #18493
Closing per Platforms comments

[2021-01-27 14:46] #18493 closed

[2021-01-27 14:46] mshea0606 opened #19124 "[PM] DD4EDU Analytics Planning"
## Background
We need to meet with the analytics team to setup analytics for DD4edu.

[Analytics request](https://github.com/department-of-veterans-affairs/va.gov-team/issues/new?assignees=joanneesteban%2C+bsmartin-ep%2C+jonwehausen%2C+bmcgrady-ep&labels=analytics-insights%2C+analytics-request%2C+collaboration-cycle%2C+collab-cycle-review&template=analytics-implementation-and-qa-request-template.m

[2021-01-27 14:49] rebeccawalsh opened #19125 "Update 'Installment contracts and other debts' section to use inputs instead of radio selections"
## Issue Description
DMC has asked that we reintroduce text inputs for the date of debt and amount overdue questions on the 'installment contracts and other debts' section of the form.

---
## Tasks
- [ ] Incorporate new inputs into the FE according to [this prototype](https://preview.uxpin.com/803dc24213cf723bfce6c5e3eaef5a2c3f3e344b#/pages/134307869/simulate/sitemap?mode=i)
- [ ] Confirm with sc

[2021-01-27 14:49] MarciMcGuireGCIO commented on #19122
@tlei123 I have completed all the info for the QA Test Plan.  Please let me know if you have questions!

[2021-01-27 14:52] leahkeeler commented on #12948
Thanks Kimberly -hoping ot have some resolution or path forward this week

[2021-01-27 14:53] rebeccawalsh opened #19126 "Remove 'Was VA or a mortgage company involved in this bankruptcy?' question from bankruptcy page"
## Issue Description
Since we are not able to provide file upload capabilities, we will be removing the question of, 'Was VA or a mortgage company involved in this bankruptcy?' until a better solution for this requirement emerges.

![image.png](https://images.zenhubusercontent.com/5da618a29c4ddf0001b2fd8e/6949fb2f-c230-4155-829b-7f42a128a918)

---
## Tasks
- [ ] Remove 'Was VA or a mortgage compan

[2021-01-27 14:55] ncksllvn commented on #18864
This will go live today but I am debugging something related to this and the preview server. It seems preview-staging is down.
![image](https://user-images.githubusercontent.com/1915775/106008869-c1024380-6085-11eb-9269-8a30e4678537.png)

[2021-01-27 14:57] rebeccawalsh opened #19127 "Remove 'Was VA or a mortgage company involved in this bankruptcy?' question from bankruptcy page"
## Issue Description
Since we are not able to provide file upload capabilities, we will be removing the question of, 'Was VA or a mortgage company involved in this bankruptcy?' until a better solution for this requirement emerges.

![image.png](https://images.zenhubusercontent.com/5da618a29c4ddf0001b2fd8e/6949fb2f-c230-4155-829b-7f42a128a918)

---
## Tasks
- [x] Remove 'Was VA or a mortgage compan

[2021-01-27 14:57] mshea0606 opened #19128 "[PM] DD4edu Oversee analytics implementation"
## Background
As part of setting up analytics for DD4edu, we need to make sure to answer any questions, get FE tickets created, and make sure everything is setup correctly.

## Tasks
- [ ] Set up FE+analytics team sync to discuss implementation/answer any questions
- [ ] Create FE analytics implementation tickets
- [ ] Analytics have been implemented

[2021-01-27 15:04] joshkimux commented on #15701
@mmiddaugh Awesome!  🥳

Two steps I think remain here!
- [Accordion titles should be added as `h3`s following guidance in ticket 18913](https://github.com/department-of-veterans-affairs/va.gov-team/issues/18913). This will help screen reader users distinguish the various contact information headings from one another when navigating by headings.
- After adding the accordion titles, "Phone" beneath

[2021-01-27 15:06] mshea0606 opened #19129 "[PM] Create contact center guide for DD4edu"
## Background
As part of the VSP collaboration cycle requirements, we need to create a contact center guide for DD4EDU.

## Tasks
- [ ] Create Contact Center guide for DD4edu
- [ ] Review with Samara
- [ ] Review with Chante/Kimberly

## Acceptance Criteria
- [ ] Documentation has been created and shared for approval

[2021-01-27 15:10] DanielleThierryUSDSVA commented on #19002
Thanks, @tressaellen @Samara-Strauss! I'll take a look at this by tomorrow and add thoughts.

[2021-01-27 15:10] jason-gcio opened #19130 "686 Spouse Removal Logic Change"
Income and net worth questions are not needed for the Veteran to enter BUT it would help with any potential reviewer as to why it was sent to manual: remove the income and net worth questions from the FE but include them as responses in the BE as "N"

(Spouse removal is the only removal that can be done by RBPS)

[2021-01-27 15:13] kristenmcconnell commented on #19019
@mdewey A period is missing after the facility locator example in the Need help? section as well. It should be...."Contact your VA provider."

[2021-01-27 15:14] MarciMcGuireGCIO commented on #19006
Duplicate

[2021-01-27 15:14] #19006 closed

[2021-01-27 15:15] joanneesteban commented on #17458
@fowusu2 @rroueche checking in again here to see if the Analytics team can close this out.

[2021-01-27 15:15] mshea0606 opened #19131 "[PM] MyVA 2.0 Submit request for Usability Testing Prep review"
## Background
[Usability Testing Prep Review info](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/working-with-vsp/vsp-collaboration-cycle/vsp-collaboration-cycle.md#usability-testing-prep)

[Submit Usability Testing Prep Review Request](https://github.com/department-of-veterans-affairs/va.gov-team/issues/new?assignees=andreahewitt-odd%2C+shiragoodman&labels=vsp

[2021-01-27 15:18] rileyorr opened #19132 "[FSR] Content changes"
## Issue Description
_The VSP content team sent a 50+ page document of content changes that need to be incorporated into the FSR. This work is going to be split into tickets by chapter to make the changes easier to both implement and track._

---
## Tickets
- [x] _The wizard (#19181)_
- [x] _Global changes (#19183)_
- [x] _Form introduction (#19185)_
- [x] _Chapter 1 (#19186)_
- [x] _Chapter 2 (#1

[2021-01-27 15:19] MarciMcGuireGCIO commented on #19117
@zacharymorel please tag Josh Kim when you've done the prelim accessibility testing.

[2021-01-27 15:20] mshea0606 opened #19133 "[PM] VSP Kickoff meeting for Notification Preferences"
## Background
[VSP Project Kickoff info](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/working-with-vsp/vsp-collaboration-cycle/vsp-collaboration-cycle.md#project-kickoff)

[VSP Project Kickoff request](https://github.com/department-of-veterans-affairs/va.gov-team/issues/new?assignees=andreahewitt-odd%2C+shiragoodman&labels=vsp-product-support%2C+content-ia-tea

[2021-01-27 15:22] lexicalninja opened #19134 "Benefits Summary Letter Verification Screen needs Loading Component"
The Benefits Summary Letter Verification Screen currently does not have a loading indicator when first pulling the letter data from the server. This should be updated to follow the current app pattern for loading indicator.

We will likely need UI/UX to indicate what text to use along with the loader.

[2021-01-27 15:23] leahkeeler commented on #12052
closing per new requirements

[2021-01-27 15:23] #12052 closed

[2021-01-27 15:23] leahkeeler commented on #13124
closing per new requirements

[2021-01-27 15:23] #13124 closed

[2021-01-27 15:28] amyknox opened #19135 "CT Redesign: Post-Testing Prep UX Sync"
- UX Team align on DEPO Input
- Identify key updates
- Achieve consensus on path forward
- Create "punch-list" of updates needed for testing prototype

[2021-01-27 15:29] leahkeeler opened #19136 "DebtRes FSR - IA"
As a Veteran on va.gov I need the ability to easily navigate to the FSR form on teh site

Incorporate IA documented [here ](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/information-architecture/ia-reviews/bam2-debt-fsr.md)

Def of done:

- [ ] All changes documented applied

- [ ] Mikki reviews and approves

[2021-01-27 15:30] jason-gcio opened #19137 "Add Income Question for Spouse Removal"
`Determine impact on BE first`
`These questions need to be in place for RBPS to complete pension question testing`

## Background
In testing for pension, an error was shown that said **"Dependent has income flag missing for pension award change"** meaning that we asked about net worth but not about if they had income in last 365 days.  To ensure that the messaging is consistent and clear to those

[2021-01-27 15:30] amyknox opened #19138 "CT Redesign: Testing Prep Review & Respond"
- Review input from DEPO
- Respond with any questions / solicit clarification, as necessary

[2021-01-27 15:31] alexpappasoddball opened #19139 "VTK Implement usage tracking using DataDog"
## Description

Our current tracking approach which utilizes a commit message has been determined to be a robust option.  Based on our discussion with Insights & Analytics, Google Analytics is not advised either.  Our 3 option was to implement tracking through DataDog.

## Definition of Done
- [x] All vtk commands have metrics recorded in DataDog
- [x] A "dashboard" is created in DataDog to show u

[2021-01-27 15:32] amyknox opened #19140 "CT Redesign: Post-Testing Prep Prototype Updates"
Preliminary updates to prototype based on DEPO input

[2021-01-27 15:32] alexpappasoddball commented on #19139
ericboehs & @LindseySaari, The last step of this ticket would be to wright out the decisions we've made and why.  We can do that here in the ticket, or in Confluence in our team section.  Then this ticket can be closed and we can move on to [this](https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/19139) ticket!

[2021-01-27 15:33] alexpappasoddball commented on #18556
@ericboehs & @LindseySaari, The last step of this ticket would be to wright out the decisions we've made and why. We can do that here in the ticket, or in Confluence in our team section. Then this ticket can be closed and we can move on to [this](url) ticket!

[2021-01-27 15:35] RLHecht opened #19141 "Remove react widget from main Caregivers page-WAIT TO PUBLISH UNTIL 1/29"
## Issue Description
The caregivers team is done needing to use a react widget with a toggle on the [Program of Comprehensive Assistance for Family Caregivers](https://www.va.gov/family-member-benefits/comprehensive-assistance-for-family-caregivers/) page. We need to add the text back into Drupal that is currently in the widget and remove the widget form the page.

The entire Q&A "How do I apply f

[2021-01-27 15:39] Samara-Strauss commented on #19129
Let's have a quick sync on this before you get started. Shouldn't take more than a few minutes.

[2021-01-27 15:39] alexpappasoddball commented on #18576
Have we updated the readme or changelog to bump the version and note the addition of docker support and what that means for the toolkit?

[2021-01-27 15:41] amyknox commented on #18721
Shared with DSVA design team
Followed-up w Dan / Darrell determine if tech issues need any further action.

[2021-01-27 15:44] jason-gcio opened #19142 "Prepare for UAT for VRE (CH31)"
## Story
As a designer/researcher for the eBenefits Team, I want to be able to understand how the Veteran is currently interacting with this feature holistically so that I can create a more accurate description of what needs to be developed.

## Goals
- Use a conversation guide (include as delivery)
- Use research plan (include as delivery)
- Conduct a usability session that answers pain point que

[2021-01-27 15:44] alexpappasoddball commented on #17089
@kfrz I believe this one is done as well as you have all the known External Service SLO's configured now, is that correct?

[2021-01-27 15:44] LindseySaari commented on #18556
On 1/19/2021, the backend tools team met with the analytics team to discuss potential success metric tracking options for the vtk toolkit usage. We discussed two potential options, DataDog and Google Analytics. It was decided that DataDog was the the preferred solution over GA.

Why not GA?
A GA solution wouldn’t be as straightforward because it’s typically used for tracking webpages. In our case,

[2021-01-27 15:45] #18556 closed

[2021-01-27 15:45] Samara-Strauss commented on #19129
Also, @mshea0606 — can you please drop a link here to the existing profile guide that includes the direct deposit for C&P content? We can update that guide to add the direct deposit for edu content and then send the updated guide over to Chante and Kimberley. Thanks!

[2021-01-27 15:48] #18721 closed

[2021-01-27 16:00] joanneesteban commented on #17729
All discussed vaccine data/charts have been added. The Analytics team will be on stand by in case future iterations need to be made. Closing this ticket. Thanks for working on this, Jason!

[2021-01-27 16:00] #17729 closed

[2021-01-27 16:05] zacharymorel commented on #19117
@joshkimux preliminary a11y testing as been run on staging.

[2021-01-27 16:12] kevinmirc commented on #18846
There are two sentry "issues" for this error. Most error occurrences are found in [issue 6552](http://sentry.vfs.va.gov/organizations/vsp/issues/6552/events/oldest/?environment=production&project=3&query=is%3Aunresolved+controller_name%3Acaregivers_assistance_claims), and some are in [issue 5207](http://sentry.vfs.va.gov/organizations/vsp/issues/5207/events/oldest/?end=2020-12-08T23%3A59%3A59&envi

[2021-01-27 16:15] zacharymorel commented on #10754
@MarciMcGuireGCIO this does not look like it is blocked anymore?

[2021-01-27 16:17] edmangimelli opened #19143 "Log More Details When HLR Requests Fail"
Currently we aren't capturing the complete request data anywhere when an HLR request fails. Now that we've soft launched, let's capture the complete request data in the PersonalInformationLog ([which gets cleared every 2 weeks](https://github.com/department-of-veterans-affairs/vets-api/blob/8546477896cc1247aa5d2d54866007df13eb5bec/app/workers/delete_old_pii_logs_job.rb#L8)) for failures so that we

[2021-01-27 16:19] RLHecht commented on #19141
@DanielleThierryUSDSVA I took the react widget out and added the text back into Drupal with the added hours and that changed phone number. Before we publish on Friday, could you just check the new version against the live version to make sure I didn't introduce any errors? The preview is: preview-prod.vfs.va.gov/preview?nodeId=10 Thanks! FYSA @ala-yna

[2021-01-27 16:20] pjhill commented on #18610
The draft test plan appears to be empty -- https://dsvavsp.testrail.io/index.php?/plans/view/1248
![image](https://user-images.githubusercontent.com/52456633/106020317-a03feb00-6091-11eb-86cc-32ec44f9e178.png)

[2021-01-27 16:21] #18329 closed

[2021-01-27 16:21] thilton-oddball commented on #18576
Yes, I added that in yesterday.

[2021-01-27 16:22] LinnJS commented on #17855
This was confirmed to be fixed in [this ticket](https://app.zenhub.com/workspaces/vsa---caregiver-5fff0cfd1462b6000e320fc7/issues/department-of-veterans-affairs/va.gov-team/18329) by @jonathanjnelson and I.

[2021-01-27 16:22] #17855 closed

[2021-01-27 16:23] joanneesteban opened #19144 "Review KPI framework example metrics"
## Issue Description
Review [current KPI Framework metrics](https://vfs.atlassian.net/wiki/spaces/~173922865/pages/614531245/VA.gov+Analytics+-+KPI+Framework) for edits and suggest new metrics so we will have a template of metrics that we will flesh out for:
- BigQuery & Google Analytics standardization
- Example VA.gov metrics with baselines
- Recommending action items for teams if the data falls

[2021-01-27 16:24] komaly15 commented on #19095
The file/photo upload error stories didn't make it into the newest build, just verified that the error message has been updated, it just isn't in yet. Moving this to QA @digitalken @bessgreen

[2021-01-27 16:24] #18961 closed

[2021-01-27 16:25] SKasimow commented on #17414
@starlow00 Ah so much cleaner/better - thank you! Let me know if you get any questions from contact center I can answer.

[2021-01-27 16:26] amyknox opened #19145 "STEM Automated Denial: Mtg with Claims & Appeals Team"
Connect with Claims & Appeals team members to explore design components, gain research guidance, understand approach to their solution & how ours could integrate

[2021-01-27 16:27] jason-gcio opened #19146 "Provide QA Guidance for EDU-DD"
## Background
As this features nears completion, one of the last items is to run the feature through its QA paces.  The eBenefits Team is able to help guide that process as needed given our role in helping the design process.

## Tasks
- [ ] Check in with Tze and the Auth Exp Team as need

## Acceptance Criteria
- [ ] Assistance has been provided as needed

[2021-01-27 16:27] mchelen-gov commented on #18555
This ticket should probably be titled "research extending timeout" and some of the AC worded like:
- Identify number of seconds when timeout errors occur
- Determine next steps for handling timeout errors
- Notify Caregiver team of successful submissions to CARMA where attachments were dropped

[2021-01-27 16:29] mchelen-gov commented on #18555
Oh that last bullet point is https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/18846

[2021-01-27 16:30] joshkimux commented on #19117
@zacharymorel @MarciMcGuireGCIO

Great stuff! The select box works like a dream! One extra thing to consider:

Would it be possible for us to announce to screen reader users that the search results have been updated based on the sort they selected? This makes up for not having an explicit submit button.

I like gov.uk's approach of using a screen reader only `span` with a `aria-live="assertive"` t

[2021-01-27 16:30] MarciMcGuireGCIO commented on #10754
@zacharymorel - Nick added this https://github.com/department-of-veterans-affairs/va.gov-team/issues/10754#issuecomment-696186906 -- do you know if that condition has been resolved?

[2021-01-27 16:31] SKasimow commented on #16667
@bmcgrady-ep Thanks Ben. So for GA the text will remain in spanish but Domo will be English. Think the should be fine for now. Maybe something to revisit when we have multiple pages in spanish :)

cc: @youngfreezyVA @DanielleThierryUSDSVA

[2021-01-27 16:32] #16900 closed

[2021-01-27 16:32] dillo opened #19148 "Appointment data response must return the logical appointment ID from MAP/MAS"
## User Story
**In order** to successfully complete my pre-visit questionnaire for a primary care appointment and then get the information to a clinician
**As a** Veteran
**I want** the backend to retrieve an appointment from MAP/MAS by the appointments logical ID instead of a hashed version of it.

## Related Documentation
[Backend Architecture](https://github.com/department-of-veterans-affairs/v

[2021-01-27 16:33] jason-gcio opened #19149 "Finalize and Submit Contact Center Docs and Video for Review (EDU-DD)"
## Background
Now that the feature is largely done and leverages user data the way it is intended, we need to create a user manual for the support center to have on hand in case there is ever an issue with the feature and someone calls in.

## Tasks
- [ ] Take the initial draft and complete it with the final screenshots and address any other functionality in the feature.
- [ ] Write a short narrat

[2021-01-27 16:34] kfrz commented on #17089
Staging data SLOs for availability:

https://app.datadoghq.com/dashboard/rk8-tt9-22h/external-service-performance?from_ts=1611761627869&live=true&to_ts=1611765227869

[2021-01-27 16:34] #17089 closed

[2021-01-27 16:34] voidspooks opened #19150 "Research Adding Debt History to Debts Index Response"
## Issue Description
_What details are necessary for understanding the specific work or request tracked by this issue?_
When a debt is resolved (paid off or closed), it won't show up in the Debt-Letter UI. Is there a data source to pull historical debts for a user. Can we build out a UI for users to see all historical debts not just active debts.

---
## Tasks
- [ ] _What work is necessary for thi

[2021-01-27 16:37] LinnJS commented on #17071
[PR](https://github.com/department-of-veterans-affairs/vets-website/pull/15813)

[2021-01-27 16:44] erikphansen commented on #18342
@brianalloyd I've got [this one PR](https://github.com/department-of-veterans-affairs/vets-website/pull/15795) open that should pass Jenkins finally. Once that's merged it'll handle https://github.com/department-of-veterans-affairs/va.gov-team/issues/18916 and https://github.com/department-of-veterans-affairs/va.gov-team/issues/18917

[2021-01-27 16:49] #18836 closed

[2021-01-27 16:49] zacharymorel commented on #10754
Oh no, it does not look like it has been resolved. I assume we need to have a discussion about this.

[2021-01-27 16:58] ncksllvn commented on #10754
It's hard to say. I read this ticket like if someone searches "health" then 10-10EZ should always pull up first because it's most likely what the user is looking for. I think we would need a "weight" field for each form so that an editor can express to the front-end how the form should be ranked.

On the other hand, if we're saying a user searches for "hearing aid batteries" then we have more to w

[2021-01-27 16:58] SKasimow opened #19151 "[DISCOVERY] investigate localizing authenticated content with PII"
**Spike ticket to explore approach(es) to localizing authenticated content with P11.**

**What issues do we need to solve for when it comes to translating content with PII (example Volunteer Research form).**

**  [  ]   **  Document considerations we need to account for

** [ ] ** How do we solve for associated issues (long term v short term?)

[2021-01-27 16:59] zacharymorel commented on #19117
When the user selects an option, doesn't the screen reader read the option that has been selected?
Or do we need more context for the user?

[2021-01-27 17:01] #19114 closed

[2021-01-27 17:02] dillo commented on #17207
@abuckley3385 Looks like this will continue into this sprint(will be done today). There we some issues with breaking tests and testing coverage on this ticket which I will address and fix today.

[2021-01-27 17:02] zacharymorel commented on #19117
Another note, I have discovered documentation on how to implement the above scenario, so I can do that probably if it's the best solve to the issue?

[2021-01-27 17:04] meganhkelley commented on #13762
Comparison tool complete and documented, further iterations will be tracked in separate tickets

[2021-01-27 17:04] #13762 closed

[2021-01-27 17:05] #18656 closed

[2021-01-27 17:05] zacharymorel commented on #18950
@kelsonic or @ncksllvn Can I schedule an async feature flag removal peer preview with on of you on Monday 2/8 so we can launch on 2/9?

[2021-01-27 17:05] bridgethapner commented on #19098
@bessgreen yep! ![fa-check-circle.svg](https://images.zenhubusercontent.com/5d8e52f61c53fd000173c5de/34fe3992-125b-4c7f-a068-4276d7df9d6e)

[2021-01-27 17:06] sporeboy commented on #12630
Punchlist updated: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/ebenefits/features/view-update-dependents/research-design/text-revisions/686-punch-list-0720.md

[2021-01-27 17:09] joanneesteban commented on #17175
Most vaccine topics have been added - thanks, Jason & Chante! VCL data hasn't been added, but will open a new ticket if/when new Contact Center topic segmentation is added. Closing this ticket.

[2021-01-27 17:09] #17175 closed

[2021-01-27 17:09] #18944 closed

[2021-01-27 17:09] ncksllvn commented on #18950
Yeah go right ahead, we can approve today so it's ready to go

[2021-01-27 17:11] bmcgrady-ep commented on #18176
Thanks @JasonTheBearded! The data between BigQuery and GA seems to be very different. You can see the GA reports in the [Domo dashboard](https://va-gov.domo.com/page/1223795645).  How exactly are the logins and the LOA3 logins being queried?

[2021-01-27 17:13] jonwehausen commented on #16547
@JasonTheBearded & @mandy-uxd

Please see [this ](https://github.com/department-of-veterans-affairs/va.gov-team/issues/18939)request from @ala-yna as an iteration to include a new page in the health care application funnel - `/veteran-home-address` page. This new page launched on 1/25 -- thanks in advance here.

[2021-01-27 17:14] joanneesteban commented on #17380
@JasonTheBearded Are we able to add "vaccines" to the Contact Center charts/series above? If we can, let's do that and we can close the ticket. If we can't, let's document here and close the ticket.

[2021-01-27 17:14] jonwehausen commented on #18939
Thank you for your request here @ala-yna , I have closed this issue and passed along to the team to add in the new page to the funnel visualization on the HCA dashboard.

Please see this ticket: https://github.com/department-of-veterans-affairs/va.gov-team/issues/16547

cc: @joanneesteban @mandy-uxd @JasonTheBearded

[2021-01-27 17:14] #18939 closed

[2021-01-27 17:15] meganhkelley commented on #17065
Update — Jhonny will need to verify that his fix for this applies to all transformers, but is troubleshooting a broken build again

Related — #18791

[2021-01-27 17:16] mshea0606 commented on #18947
Waiting to confirm design

[2021-01-27 17:16] meganhkelley commented on #18408
Chris — working on adding a new (4th) build step. Need to confirm that this does not conflict with existing 3 build steps.

[2021-01-27 17:19] meganhkelley commented on #18791
Update — this is essentially finished but not yet merged

Related to (blocking) #18408

[2021-01-27 17:19] brianalloyd commented on #15605
Updated ticket details based on CMS confirmation that Missing `Pub Date ` is the last remaining requirement needed but is blocked due to an upgrade to Drupal 9 with an ETA of April 2021.  More details to follow.

[2021-01-27 17:19] jonwehausen commented on #18894
Thanks for your request @jchasia-adhoc , we will triage and get back with you.

[2021-01-27 17:19] zacharymorel commented on #18950
Oh we can do that? That's great!

[2021-01-27 17:21] jonwehausen commented on #18828
Thanks @laurenernest , we will triage and get back with you

[2021-01-27 17:24] mshea0606 opened #19152 "[FE] Write high-level bdd Cypress tests"
## Background
We have specs documented for what data to show specific users, so we should have tests that map to that.

Note: These are very rough tests possibly pseudo code.

## Tasks
- [ ] Write cypress tests that confirm sections/features are shown or hidden as needed

[2021-01-27 17:27] jonwehausen commented on #15335
@bmcgrady-ep Can you provide an update here? Thanks in advance

[2021-01-27 17:29] ncksllvn commented on #18950
If you just mean to open a PR today and have it approved so all you have to do is click merge on launch day, then yep, we do that all the time w/redirects!

[2021-01-27 17:30] zacharymorel commented on #18950
Okay, I appreciate that. I was wondering if there was some policy against something like so.
Well, you should see a PR soon once the my sprint begins.

[2021-01-27 17:32] sonntag-adam commented on #18747
Testing passes QA

[2021-01-27 17:32] #18747 closed

[2021-01-27 17:34] jonwehausen commented on #17683
@bsmartin-ep Can this be closed along with https://github.com/department-of-veterans-affairs/va.gov-team/issues/18930

[2021-01-27 17:35] RLHecht opened #19153 "Remove pamphlet link from Post-9/11 pages"
## Issue Description
Per stakeholder Tammy Hurley, we need to remove a link to the Post-9/11 GI BIll pamphlet from the [Post-9/11 GI Bill](https://www.va.gov/education/about-gi-bill-benefits/post-9-11/) and the [Transfer your Post-9/11 GI Bill benefits](https://www.va.gov/education/transfer-post-9-11-gi-bill-benefits/) pages.

## Tasks
- [x] Remove link to pamphlet PDF on two pages
- [x] Review an

[2021-01-27 17:35] RLHecht commented on #19153
This change was made. Will close after today's deployment. FYSA @bethpottsVADEPO

[2021-01-27 17:36] bmcgrady-ep commented on #15335
@jonwehausen - I believe this is ready to be published out in GTM since we are moving forward as is for now.

[2021-01-27 17:36] joshkimux commented on #19117
@zacharymorel It reads out the selection, but it's not clear that the sort has been completed. Re-announcing the results with the type of sort appended helps address that-- it's also more future proof should filters be introduced where the amount of results may fluctuate.

And yea, go for it!

[2021-01-27 17:37] meganhkelley commented on #18844
Updated ticket — new content-only deploy job will be set up to call existing deploy job (with content-only flag).

[2021-01-27 17:37] joanneesteban commented on #18380
Hi @SKasimow - please let us know if you need anything else, or if you have any feedback on how we could have improved our services for you and your team during this session!

Moving this ticket to Review on the Analytics side.

[2021-01-27 17:38] meganhkelley commented on #18845
This job should be run during CMS business hours — 8-8 ET on weekdays.

[2021-01-27 17:39] ncksllvn commented on #18950
Sounds good!

[2021-01-27 17:42] joshkimux commented on #18965
@Mottie Confirmed this has been updated! Great work!

[2021-01-27 17:42] #18965 closed

[2021-01-27 17:44] meganhkelley commented on #18408
Can be merged or kept in separate branch for now.

Build should be non-blocking and not be a bottleneck for existing builds.

Goal of this ticket is to unblock #18407

Also keep in mind that this will need to be compared to its GraphQL counterpart — that will be addressed as part of "add comparison script to pipeline" (no ticket yet)

[2021-01-27 17:44] joanneesteban commented on #17597
@mmiddaugh is this a duplicate of #17683 ?

[2021-01-27 17:45] saneshark opened #19154 "Appointments returns an errors payload sometimes (lets capture in sentry how frequently)"
Appointments will return an errors payload in certain cases. VAMF drops null valued keys so we just didn't know, but it is part of their schema. See the swagger documentation here: https://veteran.apps.va.gov/appointments/v1/

It's important to note that this is a 200 HTTP status code response that includes some error codes.

For now as part of this ticket, lets capture this in Sentry as an info.

[2021-01-27 17:45] zacharymorel commented on #19117
Perfect, from a11y stand point, would this be a blocker to launch?
Seems to me I can get it in anyways before launch since we're launching on 2/9.

[2021-01-27 17:46] JasonTheBearded commented on #18176
Thanks for the check @bmcgrady-ep, looks like the filter looking for login event actions wasn't capturing all the events, I'm fixing that and making sure the BQ counts match to GA.

[2021-01-27 17:46] drjecker commented on #18759
Message to post at the start of the teams channel:

Thank you for testing our preliminary internal release of the VA Mobile App. Your feedback is extremely valuable to us identifying issues and building a strong app for Veterans across the country. We’re looking for your honest thoughts and experiences as testers!

Please share your feedback between February 1, 2021 and February 12, 2021, and foll

[2021-01-27 17:47] jonwehausen commented on #15335
Thanks @bmcgrady-ep , I have published this out and closed.

We are now collecting the app names along with the app categories.

cc: @ricetj @joanneesteban

[2021-01-27 17:47] #15335 closed

[2021-01-27 17:53] cohnjesse opened #19155 "Revert changes to Redux for View Representative"
# Background
When we created the unit tests for View Representative the method we used to export the Reducer was causing tests to fail so we changed the way the Reducer is exported. This change did not allow the front end of the application to load so we need to revisit this change and update it to work both with the front end and the unit tests.

## Tasks
- [x] Update Reducer export to include br

[2021-01-27 17:53] zacharymorel commented on #19117
@MarciMcGuireGCIO can create a user story out of this to implement?

[2021-01-27 17:54] brianalloyd commented on #17470
@sanlouise can you provide a status update on this ticket?  If you could include status and any breadcrumbs to help the next engineer working this that would be great.  Thanks for the assistance this sprint.

[2021-01-27 17:54] MarciMcGuireGCIO commented on #19117
Yep!

[2021-01-27 17:54] meganhkelley opened #19156 "Discovery: determine solution for adding comparison tool to build pipeline"
## Details

Open questions:
* What should the validation step for comparing the builds look like?
* How will we ensure that the two builds are working off of the same content from CMS?
   * _Potential answer: use fetch drupal cache from S3 to ensure that the CMS data matches_
* How much time will this add to the build?
* Should this be non-blocking? How should this notify channels?
* What role doe

[2021-01-27 17:55] JasonTheBearded commented on #18176
Also to answer your question about LOA3, the query is checking that the value for the custom dimension index 22 is 3, which we had previously discussed was the location for LOA

[2021-01-27 17:56] joshkimux commented on #19117
@zacharymorel , no this would not qualify as a launchblocker! But it would be a _huge_ enhancement worth celebrating if you can sneak it in before launch! 🤩

[2021-01-27 17:57] MarciMcGuireGCIO opened #19157 "508-defect-2 [COGNITION] Find a VA Form sort feature - Add code to announce list re-sort to screen reader users"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2021-01-27 17:57] jbritt1 commented on #15795
Confirmed this is resolved at this time: https://dsva.slack.com/archives/CBU0KDSB1/p1611753295278200?thread_ts=1611679385.213100&cid=CBU0KDSB1.

[2021-01-27 17:57] #15795 closed

[2021-01-27 17:59] MarciMcGuireGCIO commented on #19157
New issue related to this ticket: https://github.com/department-of-veterans-affairs/va.gov-team/issues/19117#issuecomment-768462484

[2021-01-27 17:59] luke-gcio opened #19158 "EVSS release monitoring and discussions for new 400s"
## User Story
As a veteran, I want the 526 form to not break while I am using it.

## Expected Behavior
EVSS is releasing an update that converts the 500s to 400s with details.  We want to make sure we understand what they have changed and that there are no impacts or code changes on our end.

## Acceptance Criteria
- [x] Talk to EVSS about their new 400s, get some documentation

[2021-01-27 17:59] allison0034 opened #19159 "Design Feedback - Usability Testing Prep - Booz Allen - GI Bill Comparison Tool Redesign"
## VFS acceptance criteria
- [ ] Let VSP know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
- This is full of a lot of complex and new UI... great work! Be sure to test the new pattern top filter and comparison table, and don't forget mobile.

## Feedback
- **Must** = the feedb

[2021-01-27 18:00] MarciMcGuireGCIO commented on #19157
Thank you @joshkimux !!

[2021-01-27 18:00] bmcgrady-ep commented on #18176
Thank you!

[2021-01-27 18:02] edmangimelli commented on #13949
Regarding 502s, EVSS folks say that 502s are not coming from them but from a gateway
https://dsva.slack.com/archives/C8R3JS8BU/p1611758637005300?thread_ts=1611703053.003700&cid=C8R3JS8BU

[2021-01-27 18:04] SKasimow commented on #18380
@joanneesteban Thanks Joanne! I took an action to add in the engagement metrics we discussed. Should I add them to the reporting dashboard ticket Ben is working on? Or would I add them here to have a separate reporting dashboard for KPIs?

Also, once we are aligned around KPIs, is it up to us to set goals (ie: achieve 5% increase in page views)? Or is that something your team would help establish?

[2021-01-27 18:04] mpelzsherman commented on #19083
Blocked due to fatal error in CMS build. See [Slack](https://dsva.slack.com/archives/C01512KN35G/p1611760815169800) for more info.

[2021-01-27 18:05] evelez-va opened #19160 "Access for Edison Velez (updating SSH key)"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Do not remove `operations` label; this will notify the VSP Operations team of your request
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Pleas

[2021-01-27 18:05] joshkimux commented on #19026
More information in this slack thread:
https://dsva.slack.com/archives/C5AGLBNRK/p1611770008028900

[2021-01-27 18:06] joanneesteban opened #19161 "Determine Analytics Playbook IA for Confluence"
## Issue Description
Determine the best information architecture for the Analytics Playbook and how the KPI Framework can fit into the Playbook.

---
## Tasks
- [ ] Document IA of Analytics Playbook for Confluence
- [ ] Determine how the Analytics Playbook can best align with other VSP documentation, including the Collaboration Cycle

## Acceptance Criteria
- [ ] VSP Analytics & Insights understan

[2021-01-27 18:08] edmangimelli commented on #11353
My hope is that this [PR](https://github.com/department-of-veterans-affairs/vets-api/pull/5245), when completely updated will help resolve this class of errors, as well as the errors mentioned in #13949

Unfortunately, [EVSS is revamping their error responses right now](https://dsva.slack.com/archives/C8R3JS8BU/p1611758637005300?thread_ts=1611703053.003700&cid=C8R3JS8BU) (less 500s, more 400s) whi

[2021-01-27 18:08] edmangimelli commented on #13949
My hope is that this [PR](https://github.com/department-of-veterans-affairs/vets-api/pull/5245), when completely updated will help resolve this class of errors, as well as the errors mentioned in #11353

Unfortunately, [EVSS is revamping their error responses right now](https://dsva.slack.com/archives/C8R3JS8BU/p1611758637005300?thread_ts=1611703053.003700&cid=C8R3JS8BU) (less 500s, more 400s) whi

[2021-01-27 18:09] jason-gcio opened #19162 "Meet as a Team"
Possible Agenda items
- ~~About Bandwidth from Other Teams (search POA)~~
- Accessing dependent roles (SEP)
- ~~Potential LGY features (COE)~~
- ~~View Dependents data presentation on FE~~

[2021-01-27 18:12] joanneesteban commented on #18680
Dupe of https://github.com/department-of-veterans-affairs/va.gov-team/issues/18813. Closing this ticket.

[2021-01-27 18:12] #18680 closed

[2021-01-27 18:12] mshea0606 opened #19163 "[Design] MyVA 2.0: Mock up mobile screens to match desktop"
## Background
We need to convert mobile screens to match desktop

## Tasks
- [ ] MyVA Mobile screens have been mocked up to match desktop
- [ ] Review with Matt/Samara

[2021-01-27 18:12] digitalken commented on #18596
PASS 1/27/2021 - both UI and accessibility but added this to the existing bug on the keyboard access previous page.

[2021-01-27 18:12] #18596 closed

[2021-01-27 18:15] RLHecht commented on #18340
I believe work for this is complete. Closing ticket.

[2021-01-27 18:15] #18340 closed

[2021-01-27 18:15] mshea0606 opened #19164 "[Design] MyVA: Create clickable prototype for research"
## Background
In preparation for usability testing, we need to create clickable prototypes.

https://vsateams.invisionapp.com/share/XNZWCYAYD45#/444774121_Home_Screen

## Tasks
- [x] Create clickable prototype
- [ ] Review with Matt/Samara

[2021-01-27 18:21] mshea0606 opened #19165 "[Design] MyVA: Copy updates"
## Background
This ticket is for the design/copy updates that come out of the copy review of the tickets in this epic: [MyVA 2.0 copy #18991](https://github.com/department-of-veterans-affairs/va.gov-team/issues/18991)

## Tasks
- [x] Make list all copy updates
- [x] Get these copy updates for all states to FE

[2021-01-27 18:21] RLHecht commented on #18335
Work on this ticket has been completed. Closing ticket. FYSA @DanielleThierryUSDSVA

[2021-01-27 18:22] #18335 closed

[2021-01-27 18:22] dneel-bah opened #19166 "GIDS: DB Migration Cleanup"
As a developer, I need to remove redundant migration code, so that the codebase is cleaner and easier to maintain.

## Assumptions:
1. N/A

## Acceptance Criteria
1. All migrations in db/migrate created prior to 2021-01-26 are removed.

## Supporting Artifacts:
1. N/A

[2021-01-27 18:24] mmiddaugh commented on #17597
@joanneesteban the intent for #17683 is to remove any leftover tracking on the location field. (an engineering task)

[2021-01-27 18:26] denisecoveyduc commented on #17868
Established a user journey that outlines the veteran experience on va.gov in relation to searching for content and information. User Flow was captured in Miro

Associated screenshot. - for live version proceed to Miro link: https://miro.com/app/board/o9J_lY_QTys=/

<img width="1656" alt="Search User Journey" src="https://user-images.githubusercontent.com/72393866/106036263-16008280-60a3-11eb-85fb-

[2021-01-27 18:26] #17868 closed

[2021-01-27 18:26] zacharymorel commented on #10754
So in the following case I can see as an easy win.
Granted, whatever search "10-10EZ" returns for, it will be weighted towards the top I suspect?

[2021-01-27 18:28] luke-gcio opened #19167 "Display or Provide Link to Decision Letter"
## User Story
As a veteran, I want Kevin to provide the best experience possible when viewing my decision letters.

## Expected Behavior
Take another look at the design (and accessibility) for the #13405 ticket.

## Acceptance Criteria
- [x] Review the past documentation on this and determine how we would proceed from a design perspective

[2021-01-27 18:29] jhouse-solvd commented on #18863
@mdewey - The VSP Operations currently has zero (0) remaining free licenses for PagerDuty, so are unable to process this request at this time.

However, I am tagging @f1337 and @drorva here as they may be able to help us expedite the process of procuring additional licenses.

[2021-01-27 18:29] joanneesteban commented on #18746
@lianilychee - can you please provide documentation for the plug in? We can start looking into GA tracking on our end once we get the documentation.

[2021-01-27 18:33] joanneesteban commented on #18746
And if you have your KPIs ready - that would be really helpful in determining what we'll need to track!

[2021-01-27 18:36] kristenmcconnell opened #19168 "Documentation Request: What error messages are automatically implemented as part of the forms library?"
# Feature Request

- [X] I’ve searched for any related issues and avoided creating a duplicate issue.

## This update is for:

- [X] Content styleguide
- [ ] Component
- [ ] Pattern
- [ ] Utility
- [ ] Other

## What is the name

Error messages (particularly all error messages that are automatically implemented as part of the forms library).

## What is the nature of this update?

Health questionn

[2021-01-27 18:38] digitalken opened #19169 "Your Claim step table - Accessibility issue with large text"
## What happened?
The step table icons (check marks, numbers) kind of blow out when the font sized is increased.  This happens with both phone platforms.
See the screen shots.

## Specs:
- Device: Android and iPhone

## Steps to Reproduce
- Increase phone to max size font and view the "Your Claim" page where the step table is.

## Desired behavior
Icons remain easily readable.

## Acceptance Crite

[2021-01-27 18:39] brianalloyd commented on #17318
@ncksllvn shifting this to Sprint 40, understand we have limited bandwidth but want to keep it on the radar as we determine course forward.

[2021-01-27 18:39] luke-gcio commented on #18495
174 was closed, submitted all responses to blockers and nice to haves.

[2021-01-27 18:39] #18495 closed

[2021-01-27 18:40] MarciMcGuireGCIO commented on #10754
@zacharymorel I will come up with some logic that we may be able to start from (I was a Business Analyst for 7 years).   Looking at the API documentation https://developer.va.gov/explore/vaForms/docs/vaForms?version=current, I have some ideas that we can try out in a Discovery sprint.

[2021-01-27 18:41] brianalloyd commented on #18756
Completed from a Public Websites standpoint.  Have created a ticket for the CC transcript for backlog grooming for CLP forward.  Closing this ticket in support.

[2021-01-27 18:41] #18756 closed

[2021-01-27 18:43] jason-gcio commented on #19072
![school-type](https://user-images.githubusercontent.com/53826255/106038166-91fbca00-60a5-11eb-9b8d-3582fdf2f5b2.JPG)