[2021-04-27 16:25] narin commented on #23859
## Description
Once we've passed the implementation instructions to MHV, use this ticket to track the progress of the implementation.

[2021-04-27 16:32] #23447 closed

[2021-04-27 16:34] johnhashva commented on #14302
@brianalloyd + @jenniferlee-dsva just dropping here @joshkimux 's take on the icon approach -- confirming Jen's recall:

- Icons don’t have a visible label, so Veterans with mobility disabilities who rely on voice based assistive technology may struggle understanding how to activate the icons e.g. a Veteran may say “Click on thumbs up”, but the AT may not recognize the command if it’s accessible n

[2021-04-27 16:35] lalexanderson-dsva commented on #23823
Also - this looks great to me, @DanielleThierryUSDSVA

[2021-04-27 16:40] jhouse-solvd commented on #20422
When I spoke w/ @dginther, he was working on getting the credentials for the service account created and added to the repo. The next bit of work will be to set up the self-hosted runner for GitHub actions.

[2021-04-27 16:43] zacharymorel commented on #23851
She thing @MarciMcGuireGCIO

[2021-04-27 16:43] brianalloyd commented on #23509
@peggygannon you mentioned a ticket concerning the "6 million surveys" question this AM in staging review, could you link here if possible.

[2021-04-27 16:46] jhouse-solvd opened #23862 "Set up self-hosted runner for Testing Tools team"
## Description
In order to support the Testing Tools team's efforts around[ Integration Testing to support upcoming MPI Change](https://github.com/department-of-veterans-affairs/va.gov-team/issues/20422), they need access to a self-hosted runner that can execute GitHub actions from inside of the platform's infrastructure.

## Background/context/resources
Self-hosted runners allow GitHub actions to

[2021-04-27 16:46] kristenmcconnell commented on #23233
Ran synthesis with the in-person observation researchers on April 23. The Mural that we used to synthesize: https://app.mural.co/t/vsa8243/m/vsa8243/1617116600269/1f327d221ba7c89b302311089ceee0c49f7ad493

[2021-04-27 16:49] #23139 closed

[2021-04-27 16:51] rebeccawalsh opened #23863 "[FSR] Exploration around downloadable FSRs within the Combined Debt Portal"
## Issue Description
As a veteran submitting an FSR, I want a way to download my submitted form after navigating away from the confirmation page.

---
## Tasks
- [ ] Work with BE to define the possible interactions between FSR submissions and the combined debt portal
- [ ] Create a design and upload to UXPin
- [ ] Create FE and BE tickets, then attach them to this ticket

## Acceptance Criteria
-

[2021-04-27 16:51] youngfreezyVA commented on #23305
i am going to try to re use the previous [`i18Select](https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/applications/static-pages/i18Select/I18Select.js)` component, so we'll need to regression test that feature as well.

[2021-04-27 16:55] RLHecht commented on #23823
This looks good to me except changing "show" to "shows" in the sentence "The available data shows"

[2021-04-27 16:57] delli-gatti-michael commented on #23581
[Testrail test run](https://dsvavsp.testrail.io/index.php?/runs/view/1738&group_by=cases:section_id&group_order=asc)

[2021-04-27 16:58] delli-gatti-michael commented on #23581
Changes are on Staging. Closing this issue

[2021-04-27 16:58] #23581 closed

[2021-04-27 16:59] jeff2d2 commented on #23853
@jeff2d2 to clean this issue up

[2021-04-27 16:59] joshkimux opened #23864 "Access for Angela Fowler"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Do not remove `operations` label; this will notify the VSP Operations team of your request
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Pleas

[2021-04-27 17:00] MarciMcGuireGCIO commented on #23458
@rtwell, @mnorthuis @joshkimux @1Copenut - specific recommendations have been incorporated into the designs.  Please let us know if you have additional feedback.

As for the yet-to-be decided items, I can schedule a working session with you all, @callen2563 and @mgleo when Megan returns next week?  Based on my review, the following still needs to be decided on:

-  Horizontal rule placement
- Trea

[2021-04-27 17:00] patrickvinograd opened #23865 "Ensure reverse proxy metrics labels are granular enough for mobile observability"
We measure API request rates and latency at the nginx reverse proxy, using Prometheus metrics.

Prometheus requires us to be thoughtful about the cardinality of metric tags/labels - having a metric label with thousands of unique values causes performance problems.

The nginx requests were tagged with a two-level scheme "app" and "component", where app="api" and "component" = the individual feature

[2021-04-27 17:01] melissa-lefevre opened #23866 "Co-branding research synthesis"
- Collect Data from 14 studies and put in one spreadsheet
- Create a Research Report
- Add any new lessons learned to the one pager about [unmoderated studies.](https://docs.google.com/document/d/1FuwmWzZaCQNfBVOTxuRwQDfUmeazn6GRSQ8cYSctPZk/edit?usp=sharing)

[2021-04-27 17:06] tressaellen commented on #23308
Okay, I've combined those sections and added your edits and a few that I caught as well. I still need to update some of the screenshots, but I think we're close.

[https://app.zenhub.com/files/133843125/e6d8ba9b-5bcd-49f4-b7fe-f5a92c6e286d/download](https://app.zenhub.com/files/133843125/e6d8ba9b-5bcd-49f4-b7fe-f5a92c6e286d/download)

[2021-04-27 17:13] digitalken commented on #23472
Added to TestRail.

[2021-04-27 17:15] mleclerc00 commented on #23766
### AWS Access

User: Teesh Shahi
COR: Crystal Moultrie
Approval required: @Jeff-Hayter

[2021-04-27 17:17] ericboehs commented on #23853
The aged_processing scope is only called in one place: vba_documents/slack_notifier.rb#L44. The variable here comes from a static list via the UploadSubmission::IN_FLIGHT_STATUSES. No user input is used in this method.

There could be a concern that one of our engineers would call this elsewhere with user input so we may want to consider safe guarding against that but at the time there is no secur

[2021-04-27 17:21] LindseySaari commented on #23853
I don't see any immediate risk because there's no user input being used for the status. I see that [fetch_stuck_in_state](https://github.com/department-of-veterans-affairs/vets-api/blob/master/modules/vba_documents/app/workers/vba_documents/slack_notifier.rb#L99-L104) calls aged processing on line 103/104, but are both method call/parameter instances hard coded as [:minutes](https://github.com/dep

[2021-04-27 17:22] digitalken commented on #20486
Added to TestRail.

[2021-04-27 17:23] f1337 opened #23867 "Client-side cookie encryption vulnerable to brute force decryption"
## Summary

This request is based on an chain-exploit from Metasploit. It is based on our using an encrypted cookie for session storage.

### Exploit outline

1. Visit va.gov, login, get encrypted session cookie from vets-api.
2. [Brute force decrypt](https://resources.infosecinstitute.com/topic/popular-tools-for-brute-force-attacks/) the encrypted session cookie, getting the contents and the encr

[2021-04-27 17:24] amyknox commented on #21504
**UX SYNC: Search Disambiguation**

**Location search distance options**

- Within 5 miles
- Within 25 miles
- Within 50 miles
- Within 75 miles

**Type ahead drop-down based on CT data (or mapbox data… lower LOE)**

- ASSUMES dropdown items are city, state, and not points of interest
- Visual to come: dropdown style based on current CT implementation

**Search for single term that matches state n

[2021-04-27 17:25] amyknox commented on #21505
**Updates include:**
- modifications from invision prototype comments
- Search disambiguation

**UX SYNC: Search Disambiguation**

**Location search distance options**

- Within 5 miles
- Within 25 miles
- Within 50 miles
- Within 75 miles

**Type ahead drop-down based on CT data (or mapbox data… lower LOE)**

- ASSUMES dropdown items are city, state, and not points of interest
- Visual to come: d

[2021-04-27 17:27] #23635 closed

[2021-04-27 17:27] #20771 closed

[2021-04-27 17:28] mleclerc00 commented on #23766
Hi @Teesh

You should be able to access socks now with the following [socks tutorial](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/engineering/internal-tools.md#configure-the-socks-proxy)

Let me know if you are able to set everything up so I can close out this ticket and if you have any issues feel free to drop a message in [#vsp-platform-support](https://dsv

[2021-04-27 17:28] kristenmcconnell commented on #23233
Presented to OVAC stakeholders on April 26, 2021.
- [Presentation](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/checkin/research/remote-discovery/Research%20Findings.pdf)
- [Wireframes](https://www.sketch.com/s/e79a827e-42cf-4a82-b554-874c75b5c70e/a/kaVYLYP/play)

[2021-04-27 17:31] tskinn commented on #23864
@Jeff-Hayter
COR: Ariel Nerbovig
Name: Angela Fowler

[2021-04-27 17:34] mleclerc00 commented on #23754
### AWS Access

User: Cameron Testerman
COR: Jeffrey Hayter
Approval required: @Jeff-Hayter

[2021-04-27 17:36] ajakabcin commented on #23159
We'll resolve this issue with #22742. Closing this as work will be addressed in 22742.

[2021-04-27 17:36] #23159 closed

[2021-04-27 17:37] kristenmcconnell commented on #23233
Research readouts are scheduled with
- the mobile designers on April 28,
- VOAS on May 5,
- Mobile (design, product, and VA PO) on May 10, and
- at the entire platform research, design, content meeting on May 10.

[2021-04-27 17:39] jeff2d2 commented on #23196
@ericboehs @andreahewitt-odd Is this what was completed and can be closed?

[2021-04-27 17:40] #23216 closed

[2021-04-27 17:41] andaleliz opened #23868 "[Design/Research] Preferred Med Facility: Facilities mini-usability study"
We're going to run a small usability study to validate our design for the facilities section of profile, using this [prototype](https://preview.uxpin.com/2c99ba26116e28b032d83eb4f636b448c9bde2b2#/pages/138006241?mode=i).

**Tasks**

- [x] Run 5 sessions
- [x] Synthesize findings
- [x] Share with team

[2021-04-27 17:43] peggygannon commented on #23509
Hi, @brianalloyd yes, I just linked my feedback ticket, with a few questions about the intro content.  please let me know if you have any questions or need me to clarify anything.

[2021-04-27 17:46] CrystabelReiter commented on #23447
Thanks @peggygannon I updated the content documentation

[2021-04-27 17:50] mleclerc00 commented on #23754
Hi @camerontesterman

You should be able to access socks now with the following [socks tutorial](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/engineering/internal-tools.md#configure-the-socks-proxy)

Let me know if you are able to set everything up so I can close out this ticket and if you have any issues feel free to drop a message in [#vsp-platform-support](

[2021-04-27 17:51] andaleliz commented on #23320
Wonderful, glad you are both on board with this.

I'm hoping to find people who are also Veterans, but will definitely take that into account either way.

Yep, that's the plan! We'll leave the mini-usability study out of the docs we submit to Lauren and Perigean.

I created #23868 for the mini-usability study tasks next sprint, and will close this out.  The larger study docs will be informed by wh

[2021-04-27 17:51] #23320 closed

[2021-04-27 17:52] MarciMcGuireGCIO commented on #23587
4/27/2021

- Mark is continuing to work on search ranking; I will enter SOCKS request so I can test on Review env.
- Cassandra is awaiting feedback after incorporating design intent feedback into her mockups. We will reconvene when Megan returns next week with Ryan, Trevor, Josh, and Mikki to decide on open items
- Zach is working on Discharge Upgrade Wizard testing; will pivot to the new Find a V

[2021-04-27 17:56] jason-gcio commented on #23216
https://github.com/department-of-veterans-affairs/vets-website/pull/16949

[2021-04-27 17:56] RLHecht commented on #23855
@lunascoop I reviewed your changes and made one more edit. @DanielleThierryUSDSVA do you want to review too?

[2021-04-27 17:58] lunascoop commented on #21094
@RLHecht The travel pay benefits page has been updated.
VA travel pay reimbursement: http://preview-prod.vfs.va.gov/preview?nodeId=2431

[2021-04-27 18:00] mnorthuis commented on #23367
No IA feedback for this.  Thank you!

[2021-04-27 18:06] ddzz commented on #22374
PR to migrate `vets-api` Pact builds: https://github.com/department-of-veterans-affairs/vets-api/pull/6691

[2021-04-27 18:06] Teesh commented on #23766
I was able to access the test curl endpoint in the SOCKS tutorial. Thank you

[2021-04-27 18:10] MarciMcGuireGCIO opened #23869 "Access for Marci McGuire"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Do not remove `operations` label; this will notify the VSP Operations team of your request
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Pleas

[2021-04-27 18:10] mleclerc00 commented on #23864
Hi @AngelaFowler82

You should be able to access socks now with the following [socks tutorial](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/engineering/internal-tools.md#configure-the-socks-proxy)

Let me know if you are able to set everything up so I can close out this ticket and if you have any issues feel free to drop a message in [#vsp-platform-support](ht

[2021-04-27 18:12] jonwehausen commented on #19547
### QA Testing

| Description of Interaction | Data Layer Screenshot | Test Status | Test Notes
| -- | -- | -- | -- |
Loading a page (auto jumping to section of page) with a anchor link URL -- `https://staging.va.gov/coronavirus-veteran-frequently-asked-questions-esp/#pruebas-de-covid-19-en-va` | ![image](https://user-images.githubusercontent.com/48527022/116290745-d01a8f80-a761-11eb-83dd-96dd5e02

[2021-04-27 18:14] denisecoveyduc opened #23870 "Validate typeahead data / Update analytics"
## Description

While reviewing the data from typeahead POC2 (April 12 -25) we have discovered some questions that need further exploration.

Implement the new analytics tagging to verify typeahead click through rate

## Tasks

- [x] Add query parameter to track whether typeahead was used or not
- [x] use parameter to fill typeahead-used: in on click event

## Definition of Done

- [x] new analyti

[2021-04-27 18:14] jeff2d2 commented on #22258
@jeff2d2 to create ticket for ^

[2021-04-27 18:15] Samara-Strauss commented on #23308
Great! I'll take a look at it.

[2021-04-27 18:16] youngfreezyVA commented on #19547
that's not the right jumplink :) please see the video on the PR

[2021-04-27 18:17] thilton-oddball commented on #22261
Updated from 2.3.1 to 2.5.1

[2021-04-27 18:18] #22261 closed

[2021-04-27 18:18] johnhashva commented on #23509
@peggygannon or @brianalloyd I can't find the content feedback link -- can you post as a comment?

[2021-04-27 18:19] tskinn commented on #23869
@MarciMcGuireGCIO your ssh key has been added to the socks proxy and you should be able to connect. Reach out in slack if you have any issues.

[2021-04-27 18:21] kelsonic commented on #22196
Adding blocked until we get the green light to proceed: https://dsva.slack.com/archives/C52CL1PKQ/p1619547398313600?thread_ts=1619536672.303000&cid=C52CL1PKQ

[2021-04-27 18:22] peggygannon commented on #23509
Hi, @johnhashva here you go: https://github.com/department-of-veterans-affairs/va.gov-team/issues/23778

[2021-04-27 18:24] dampad commented on #6581
Hello, I am having issues submitting my application as well. Getting the same generic error message. But I do have my application ID: 3036880. Any help is greatly appreciated.

[2021-04-27 18:25] allison0034 commented on #23367
@SKasimow I am getting an error when I try to access the link...

This site can’t be reached
Check if there is a typo in 86864aa567574a418320047724601e46.review.vetsgov-internal.
DNS_PROBE_FINISHED_NXDOMAIN

[2021-04-27 18:26] mmiddaugh commented on #23775
The progress bar defect on Medical records pages should be resolved by PW #21787

[2021-04-27 18:29] vhenry07 opened #23871 "Notice of Disagreement - Product Guide and Video"
## Issue Description
Collaboration Cycle Touchpoint - Contact Center Review. Artifacts development.

---
## Tasks
- [x] Create Notice of Disagreement Product Guide and Video.

## Acceptance Criteria
- [x] Completed artifacts posted to GitHub
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to an Epic** (what body of work is this a

[2021-04-27 18:30] drjecker opened #23872 "Misc Secure Messaging Errors"
### Description

Looking to confirm from the list of API errors I've collected that these ones seem like we don't need to specifically handle in the mobile app with custom error messages. The only exception might be `SM135`?

[code]
[code]
[code]
[code]
[code]

[2021-04-27 18:31] ericboehs commented on #23853
Even though the concern raised isn't a security issue, we should still create a few tickets out of this:
- [ ] Investigate all `Dangerous query method` deprecations for security vulnerabilities
- [ ] Use config/brakeman.ignore for vulnerability whitelist instead of hiding warnings with a lambda
- [ ] Determine if other warnings are hidden with lambdas (search for `.call`)
- [ ] Limit status variab

[2021-04-27 18:35] mpelzsherman commented on #23481
Cache Valley VA Clinic is PUBLISHED. See https://prod.cms.va.gov/salt-lake-city-health-care/locations/cache-valley-va-clinic.

So the theory that archived locations are showing up in the build is looking less likely. I’m still investigating, but the example in the ticket isn’t such a case, and the query looks OK to me so far.

[2021-04-27 18:43] dneel-bah opened #23874 "Contact Center Review for VSA-Education 22-1990S (VRRAP)"
# Request the Contact Center Review

## Description
22-1990S - Veteran Rapid Retraining Assistance Program (VRRAP)
The 22-1990S is an application form for the VRRAP education benefit that was passed into law early 2021.  It is a short term benefit program aimed to reduce unemployment due to COVID.

### Launch Date
2020-04-30

### Version Number
1.0

### Product Guide
Being revised, will update wit

[2021-04-27 18:44] delli-gatti-michael opened #23875 "VRRAP: Incomplete link text"
While filling out the VRRAP (1990s) form, the user is asked for bank account information. Under these fields is a helper text section that can be expanded by clicking "What if I don’t have a bank account?". Contained within that helper text is a link to `https://veteransbenefitsbanking.org/`. The link functions correctly, however, not all of the words that should be part of the link currently are.

[2021-04-27 18:54] laurensimpson14 commented on #23296
Here is a link to the new Google Analytics view on property `UA-50123418-19` specifically for design.va.gov: https://analytics.google.com/analytics/web/#/report-home/a50123418w224573768p241857190

[2021-04-27 18:54] delli-gatti-michael commented on #23514
Local testing complete

[2021-04-27 18:55] ericboehs commented on #23096
Just work on the first AC here until we are able to get dedicated self-hosted runners that aren't ephemeral.

[2021-04-27 18:56] ksantiagoBAH commented on #23875
PR: https://github.com/department-of-veterans-affairs/vets-website/pull/16966

[2021-04-27 18:57] mpelzsherman commented on #23481
I have examined the query used to pull the data for this page. All of the queries appear to be filtering correctly on the published status. There is a field, `fieldOtherVaLocations`, that returns a list of VA facility ID's - we can't filter this data by status. But if we are seeing examples of unpublished locations from that field, we cannot fix this in graphql.

I'm moving this to "Validate" unti

[2021-04-27 18:59] leanna-usds commented on #23030
Everything is submitted and we are waiting for @chrisj-usds to approve.

[2021-04-27 19:02] brianalloyd commented on #23856
Adding Highlights Notes from link up with Stakeholder:
- He was in agreement with all the feedback and will do the polish work today/tomorrow. (BTW: He says 508 office is reviewing/signing off on his PDFs)
- He would like to launch Friday -- but is willing to wait until Monday if we need to avoid Friday as a deployment day.  My take: Isn't this a content deployment and therefore we would be okay t

[2021-04-27 19:05] DanielleThierryUSDSVA commented on #23855
If it looks good to you, I'm good! Thanks so much for doing this so quickly, @lunascoop and @RLHecht!

[2021-04-27 19:08] #22922 closed

[2021-04-27 19:13] MarciMcGuireGCIO commented on #23869
Thank you @tskinn !

[2021-04-27 19:13] digitalken commented on #20817
Added to TestRail.

[2021-04-27 19:15] DanielleThierryUSDSVA commented on #7808
Hi @RLHecht! I happened to be searching for 508 tickets and came across this one. Just checking in to ask if there's anything we can help with on this?

[2021-04-27 19:17] dampad commented on #9443
I keep getting "We’re sorry. Something went wrong when we tried to submit your claim." Application ID: 3040391. Please help. @annaswims

[2021-04-27 19:19] digitalken commented on #22903
Added to TestRail.

[2021-04-27 19:21] digitalken commented on #22904
Added to TestRail.

[2021-04-27 19:22] laurensimpson14 commented on #23296
@jonwehausen Could you please QA the changes I made to the `VSP - GitHub TOC and Platform Docs` GTM account inside of the `Analytics Implementation for design.va.gov #23296` workspace? You should now be seeing the GA global pageview tag firing in GTM preview.

[2021-04-27 19:22] allison0034 opened #23876 "Design Feedback - Design Intent - eBenefits LGY: Certificate of Eligibility"
## VFS acceptance criteria
- [ ] Let VSP know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
-

## Feedback
- **Must** = the feedback must be applied
- **Should** = the feedback is best practice
- **Consider** = suggestions/enhancements

**Must:**
- Replace green button with gre

[2021-04-27 19:24] jhonnyoddball commented on #21520
## Health Care Experience team

[Issue](https://dsva.slack.com/archives/C5HP4GN3F/p1618327777076600?thread_ts=1617738055.063600&cid=C5HP4GN3F)

### Outcome

I contacted Mark Dewey and confirmed that it is no longer an issue

[2021-04-27 19:25] SKasimow commented on #23367
@allison0034 Hi - were you using socks for this link?

@youngfreezyVA

[2021-04-27 19:26] delli-gatti-michael commented on #23875
Local testing complete
![Screen Shot 2021-04-27 at 3.26.04 PM.png](https://images.zenhubusercontent.com/5c07f000391a6f6357adc430/302f9bdb-126c-4fee-be26-9878c1e540e4)

[2021-04-27 19:27] digitalken commented on #21330
Added to TestRail.

[2021-04-27 19:29] dampad opened #23877 "Unable to File for VA Compensation"
I keep getting 1 of 2 messages when I attempt to submit my disability compensation claim on va.gov. "It's taking us longer than expected to submit your claim" or "we’re sorry. something went wrong when we tried to submit your claim." Application ID: 3040391

[2021-04-27 19:29] brianalloyd opened #23878 "[Tech-Debt] Back to Top Component"
## Issue Description
_When the content localization team went to use the back to top widget they determine their was some technical debt around the existing component that may require a rebuild_

Notes:
- Perceived technical debt around the back to top button, the template (html) lives in vets-website but the JS is buried in a dependency here: https://github.com/department-of-veterans-affairs/vete

[2021-04-27 19:30] mpelzsherman commented on #23481
Once Cache Valley VA Clinic has been archived and the axe checks are run again, we can close this if there are no other errors due to unarchived content showing up in the build.

[2021-04-27 19:32] CrystabelReiter commented on #22583
@peggygannon I've updated the action link page with your recommendations. Thank you for taking the time to review and give recommendations.

[2021-04-27 19:35] digitalken commented on #21329
Added to TestRail.

[2021-04-27 19:37] saneshark opened #23879 "VAOS Service Integration (GET Patient Metadata)"
Build a vaos/v2 route, controller, and service that can retrieve:

GET Patient Metadata: https://veteran.apps-staging.va.gov/vaos/v1/patients/{icn}

Reference: https://coderepo.mobilehealth.va.gov/projects/VAR/repos/vaos-service/browse/vaos-service/src/main/resources/swagger.json

[2021-04-27 19:38] holdenhinkle commented on #23845
Some important links:
- [Parallel tests across many machines](https://docs.percy.io/docs/parallel-test-suites#parallel-tests-across-many-machines)
- [Using Percy with GitHub](https://docs.percy.io/docs/github)
- [Setting up Percy with GitHub Actions](https://docs.percy.io/docs/github-actions)

[2021-04-27 19:39] saneshark opened #23880 "VAOS Service Integration (GET Appointments)"
Build a vaos/v2 route, controller, and service that can retrieve:

GET Appointments: https://veteran.apps-staging.va.gov/vaos/v1/patients/{icn}/appointments

Reference: https://coderepo.mobilehealth.va.gov/projects/VAR/repos/vaos-service/browse/vaos-service/src/main/resources/swagger.json

[2021-04-27 19:39] jenniferlee-dsva commented on #14302
Because of PRA things, I think we should stick with the vetted language, even if the backend will be GA rather than Medallia. (The language comes from the list of approved customer feedback question text for Medallia and Foresee.)

[2021-04-27 19:39] #22890 closed

[2021-04-27 19:39] bevnobev commented on #22890
close

[2021-04-27 19:40] saneshark opened #23881 "VAOS Service Integration (Create Appointments)"
Build a vaos/v2 route, controller, and service that can retrieve:

Create Appointments: https://veteran.apps-staging.va.gov/vaos/v1/patients/{icn}/appointments

Reference: https://coderepo.mobilehealth.va.gov/projects/VAR/repos/vaos-service/browse/vaos-service/src/main/resources/swagger.json

[2021-04-27 19:41] CrystabelReiter commented on #23848
Added guideline here: https://design.va.gov/components/accordions

[2021-04-27 19:41] saneshark opened #23882 "VAOS Service Integration (Get Single Appointment by ID)"
Build a vaos/v2 route, controller, and service that can retrieve:

GET Appointments: https://veteran.apps-staging.va.gov/vaos/v1/patients/{icn}/appointments/{appointment-id}

Reference: https://coderepo.mobilehealth.va.gov/projects/VAR/repos/vaos-service/browse/vaos-service/src/main/resources/swagger.json

[2021-04-27 19:42] holdenhinkle commented on #23845
[Percy webhooks](https://docs.percy.io/docs/webhooks)

[Webhook payload examples](https://docs.percy.io/docs/webhook-payloads)

[2021-04-27 19:42] #23398 closed

[2021-04-27 19:42] holdenhinkle commented on #23845
This ticket is complete.

[2021-04-27 19:42] saneshark opened #23883 "VAOS Service Integration (Update an Appointment by ID)"
Build a vaos/v2 route, controller, and service that can retrieve:

PUT Appointments: https://veteran.apps-staging.va.gov/vaos/v1/patients/{icn}/appointments/{appointment-id}

Reference: https://coderepo.mobilehealth.va.gov/projects/VAR/repos/vaos-service/browse/vaos-service/src/main/resources/swagger.json

[2021-04-27 19:43] saneshark opened #23884 "VAOS Service Integration (GET Available Slots)"
Build a vaos/v2 route, controller, and service that can retrieve:

GET Appointments: https://veteran.apps-staging.va.gov/vaos/v1/locations/{locationId}/clinics/{clinicId}/slots

Reference: https://coderepo.mobilehealth.va.gov/projects/VAR/repos/vaos-service/browse/vaos-service/src/main/resources/swagger.json

[2021-04-27 19:45] miabecker commented on #23465
@Kennon-git here is our own issue that we tracked for this since the intake came in through VANotify. Maybe we should get together to discuss what an intake / tracking process might look like for collaborative efforts such as this one might be cc @bevnobev @shanemelliott @pcshah1026

https://app.zenhub.com/workspaces/vanotify-business-intake-board-606cc5c49392c900162c3971/board?repos=133843125,261

[2021-04-27 19:45] saneshark opened #23885 "VAOS Service Integration (GET Clinics)"
Build a vaos/v2 route, controller, and service that can retrieve:

GET Appointments: https://veteran.apps-staging.va.gov/vaos/v1/locations/{locationId}/clinics

Reference: https://coderepo.mobilehealth.va.gov/projects/VAR/repos/vaos-service/browse/vaos-service/src/main/resources/swagger.json

[2021-04-27 19:46] MarciMcGuireGCIO commented on #23869
Hi @tskinn I tried following the instructions for configuring and testing the SOCKS proxy, but when I run the command `$ curl -v --proxy socks5h://127.0.0.1:2001 sentry.vfs.va.gov' I get a response of "connection refused".

[2021-04-27 19:48] erikphansen commented on #23696
I'm not sure if this can be easily validate on staging or not. It can be closed if we don't have a staging user who is not in MPI.

[2021-04-27 19:49] Samara-Strauss commented on #23308
Attached are my most recent round of edits.

[My VA contact center guide_Samara's edits_4.27.21.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/6387241/My.VA.contact.center.guide_Samara.s.edits_4.27.21.docx)

- One of my major edits was to bold links and remove them from single or double quotation marks. This makes references to links a lot easier to scan for. There were

[2021-04-27 19:49] jonwehausen commented on #19547
Okay, apologies there @youngfreezyVA -- appreciate the video!

To be sure we're on the same page:
- The following specification should be used for the jumplinks at the top
[code]
- Apologies again for not providing sooner...If wanting to take a step further and track the chain icon clicks (copy), please use the following specification:
[code]

[2021-04-27 19:51] #23740 closed

[2021-04-27 19:52] miabecker opened #23886 "Placeholder Business intake form for DMC - FSR Confirmation"
## Requestor Name

## Business Line

## What is the business outcome you are trying to achieve? (required 1-2 sentences)

## What is an overview of the notification use case? (required 3-5 sentences)

## What is the user journey during which this notification will take place? Is there a desired behavior change? ( required 3-5 sentences)

## Is this notification already being sent and if so how? (Y

[2021-04-27 19:53] digitalken commented on #21200
Added to TestRail.

[2021-04-27 19:55] mmiddaugh opened #23887 "Test PPMS pagination POC"
## Issue Description
Microsoft released the pagination POC to the INT environment on Wednesday 4/28.  We need to test and provide feedback.
The URL for the new paging operation is “https://np.dws.ppms.va.gov/v1.0/ProviderLocatorPaging"

Microsoft point of contact: Timothy.Morris1@va.gov (he's open to meeting and doing a screen-share, or whatever may be necessary)

## Considerations (from his email

[2021-04-27 19:56] pjhill opened #23888 "Research Comparison of Visual Testing Tools and Create Summary Document"
## User Story

As a platform stakeholder, I need a tool that evaluates products hosted on the platform for regressions upon integration of changes.

## Expected Behavior

N/A

## Acceptance Criteria

- [x] Prominent industry products and services for visual testing have been listed and evaluated
- [x] Document pros and cons for each tool, pricing, and how it fits into our tooling ecosystem on the

[2021-04-27 19:57] mmiddaugh commented on #20347
Thank you @jonwehausen and team

[2021-04-27 19:58] jhonnyoddball commented on #21520
## VAOS

[Issue](https://dsva.slack.com/archives/C5HP4GN3F/p1618333672077700?thread_ts=1617738055.063600&cid=C5HP4GN3F)

### Outcome

I contacted Jeff Balboni and confirmed that it’s related to `vets-api` environment config. The front end of VAOS loads and appears to work correctly

[2021-04-27 19:59] andaleliz commented on #23728
@Samara-Strauss and @ajakabcin, I've got my initial list ready. I'm backtracking on my suggestion to require 2+ notifications to make a group. If we go that route, that means we'll be moving things from `other` into a group. That will require people re-learn how things are organized, possibly each time they log in depending on the frequency of our updates and their log, and that's not great.

I wo

[2021-04-27 20:01] youngfreezyVA commented on #19547
no worries. I think using the term jump link has confused a few folks. there is no navigation interaction for this feature, so i think all we need is the second event above.

[2021-04-27 20:03] digitalken commented on #22937
Added to TestRail.

[2021-04-27 20:04] johnhashva commented on #23778
@peggygannon the VEO CLP lead -- Tim Hudak -- plans to make most if not all of these suggested changes and really appreciates the feedback.   Thank you.

[2021-04-27 20:04] snyderje commented on #22654
@jwowk

**To Generalize:**
1. Let's switch from COVID-19 Message Request to %Request_Type% Message Request, if it's possible to insert the request type (currently only one - COVID-19).
2. Change 'Cohort' --> 'Request Name'
3. Would adding a request ID also serve the process of tracking and troubleshooting with POCs.

**To Support Troubleshooting & Status Communication:**
1. What other details can

[2021-04-27 20:08] alexandec commented on #22861
PR is merged, CMS team is good with the decision. Moving on to [implementation](https://app.zenhub.com/workspaces/vsp---frontend-tools-5fc9325744944e0015ed1861/issues/department-of-veterans-affairs/va.gov-team/23788).

[2021-04-27 20:08] #22861 closed

[2021-04-27 20:09] starlow00 commented on #23874
Hi @dneel-bah. Just wanted to let you know (in case you weren't already aware) that there is a best practice that requires at least a 1-week turnaround (ideally 2) with product guide and video edits. Not only does it need to meet your approval, but that of the VEO team before distribution. I will have something for you as soon as I'm able, working with the 4/30 launch date as much as possible. Tha

[2021-04-27 20:13] mmiddaugh opened #23889 "Vet Center data layer"
## Issue Description
We need to implement the data layer on the new Vet Center pages

References
- Implementation request  #20347
- [Data dictionary](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsp/teams/insights-analytics/ga-events-data-dictionaries.md)

---
## Tasks
<details>
<summary >Add data layer for jumplinks </summary>

| Description/Screenshot of intera

[2021-04-27 20:15] LindseySaari commented on #23187
Support request total: 33

[2021-04-27 20:16] mmiddaugh opened #23890 "[CONSIDER] remove phone validation check"
## Issue Description
Currently, phone numbers are validated to confirm they contain 10 digits. This is no longer needed and can be removed to simplify the code.

---
## Tasks
- [ ] Remove phone number digit validation

## Acceptance Criteria
- [ ] Code no longer contains validation check for 10 digit phone numbers
---

[2021-04-27 20:18] mmiddaugh opened #23891 "PPMS API token change"
## Issue Description
This issue to collect tasks needed to implement the upcoming DWS deployment with new URL

[2021-04-27 20:20] mmiddaugh opened #23892 "PPMS pagination"
## Issue Description
This issue to collect all tasks related to restoring pagination to Facility Locator search results

[2021-04-27 20:31] andaleliz commented on #22742
Mock-ups attached reflecting:
- Updated copy in place of the buttons (should be text only)
- Edit button added to right side, following pattern when we _do_ have contact information
- 48px of distance between edit button and text in desktop view.  On mobile, the button drops to the bottom of the row, just like it does in other sections of profile.

I created a desktop mock-up only for personal and

[2021-04-27 20:31] #22742 closed

[2021-04-27 20:31] Samara-Strauss commented on #23728
These are looking great! I have a few thoughts/suggestions on group names:

- **Applications**: What do you think about "Apply for VA benefits"? This copy is already used on the My VA dashboard, and I also wonder if some people would be confused by the term "application" since that could also mean a computer application or tool (or maybe it's totally clear and I am overthinking this). Anyway, just

[2021-04-27 20:32] kristenmcconnell commented on #23251
Email wording:

# You have a VA health questionnaire to complete.

Dear Hector Allen,
Your VA provider sent you a brief online questionnaire to help prepare for your appointment on January 7, 2021 at Douglas VA Medical Center.

To fill out this questionnaire, go to https://www.va.gov/health-care/health-questionnaires/questionnaires/ and sign in.

Once logged in, you will be able to:
• Tell your pr

[2021-04-27 20:33] kristenmcconnell commented on #23251
Wireframe of the email.
<img width="1285" alt="Screen Shot 2021-04-27 at 4 27 53 PM" src="https://user-images.githubusercontent.com/66287082/116308991-36a9a880-a776-11eb-85df-0a3d8f0b0d53.png">

[2021-04-27 20:34] RLHecht commented on #7808
@kelsonic is this something that you still need the CMS team to work on? From previous comments I think you and I tried to add this as source code and Drupal sanitized it like has been the case with other things we've tried. Do you know who should be taking the next steps on this?

[2021-04-27 20:35] bcastoe commented on #23553
#23553 Create new Health Services "LIST and PLAYBOOK" for VA Milwaukee health care - Completed and moved to validate

[2021-04-27 20:41] brianalloyd commented on #16749
Thanks you @bsmartin-ep and @jonwehausen, going to close out this ticket as we've achieved desired connections and will work independent CLP requirements in future campaign requests.  Thanks all for the support.

[2021-04-27 20:41] #16749 closed

[2021-04-27 20:45] brianalloyd commented on #23519
Think we've achieved everything we need in support of this ticket, closing out in support.

[2021-04-27 20:45] #23583 closed

[2021-04-27 20:54] mmiddaugh opened #23893 "Conduct emergency care research"
## User Story or Problem Statement
As a Veteran,  I need to know what emergency rooms near me are part of VA’s Network so that in the event of an emergency I can make use of the MISSION Act emergency care benefit.

## Relevant issues
- Background and context are available in the [Emergency care mashup epic](https://github.com/department-of-veterans-affairs/va.gov-team/issues/7683)
- Design #21741

[2021-04-27 20:57] peggygannon commented on #23778
Thanks, @johnhashva for the followup!

[2021-04-27 21:03] laurenernest commented on #23877
Not VAOS work. Further action will be handled by the claims team.

[2021-04-27 21:03] #23877 closed

[2021-04-27 21:06] mmiddaugh opened #23894 "Synthesize emergency care research"
## User Story or Problem Statement
As a Veteran,  I need to know what emergency rooms near me are part of VA’s Network so that in the event of an emergency I can make use of the MISSION Act emergency care benefit.

## Relevant issues
- Background and context are available in the [Emergency care mashup epic](https://github.com/department-of-veterans-affairs/va.gov-team/issues/7683)
- Design #21741

[2021-04-27 21:07] jenniferlee-dsva commented on #22196
Please see my Slack comment here: https://dsva.slack.com/archives/C52CL1PKQ/p1619557476325100?thread_ts=1619536672.303000&cid=C52CL1PKQ

@kelsonic @brianalloyd

[2021-04-27 21:08] laurenernest opened #23895 "Add 5th Podiatry specialty code"
## Description
As a Community Care Stakeholder, I would like podiatrists associated to 5 specialty codes to show in provider list results so that Veterans can choose from a variety of approved providers.

**Background**
When Community Care Provider Selection was implemented, we could only query PPMS for 4 specialty codes per type of care. We are dependent on a change request managed by the Facilit

[2021-04-27 21:09] jenniferlee-dsva commented on #22196
Ah one more thing - this ticket to search by `word-not-characters` should be applied not only to the intro text field, but to any field being scanned for search:

- article title
- intro text
- searchableContent

[2021-04-27 21:16] 1Copenut commented on #23374
Sure thing! @RLHecht below are the steps to submit a document review request. LMK if you have questions or need additional info.

### Submitting a YourIT! request

* Access YourIT! from the VA network
* In the search box, enter "508 audit request" and click on the top result. Top result should be "508 Accessibility Audit Request".
* You'll get an input form to enter relevant data
* At the bottom o

[2021-04-27 21:27] jenniferlee-dsva commented on #22196
@kelsonic - going back to our very old slack convo - we discussed how we don't want to impact searches so that for e.g., searches on "payments", it ends up ignoring articles with the word "payment".  We definitely do not want that.

We simply want to prevent searches from bringing back anything with the letter `i` (or whatever letter) anywhere. So could we first try something very narrow to addres

[2021-04-27 21:27] peggygannon commented on #23367
Hello, there is no content feedback for this. thanks!

[2021-04-27 21:31] laurensimpson14 commented on #23663
@pamlo412 I don't think there are any DOMO dashboards currently built for developer.va.gov, so you'll likely not need access. I'll go ahead and close this ticket, but feel free to open it back up if you do end up needing DOMO access.

[2021-04-27 21:31] #23663 closed

[2021-04-27 21:42] theodur commented on #22158
All of the above PRs have been confirmed to work and merged 🚀

[2021-04-27 21:42] #22158 closed

[2021-04-27 21:43] bsmartin-ep commented on #22168
Looking good.

https://analytics.google.com/analytics/web/#/report/content-event-events/a50123418w177519031p176188361/explorer-table.plotKeys=%5B%5D&explorer-table.secSegmentId=analytics.customDimension133&explorer-segmentExplorer.segmentId=analytics.eventLabel&explorer-table-dataTable.sortColumnName=analytics.customDimension133&explorer-table-dataTable.sortDescending=true

![image](https://user-i

[2021-04-27 21:43] #22168 closed

[2021-04-27 21:58] digitalken commented on #21277
Added to TestRail.

[2021-04-27 22:03] digitalken commented on #22617
Added to TestRail.

[2021-04-27 22:06] digitalken commented on #20816
Added to TestRail.

[2021-04-27 22:10] digitalken commented on #20818
Added to TestRail.

[2021-04-27 22:12] #22398 closed

[2021-04-27 22:14] digitalken commented on #21008
Added to TestRail.

[2021-04-27 22:15] shanemelliott opened #23896 "Create Report for Community Care"
Justin, there is a new table we need a report for: [OVAC_VEText].[App].[MON_CommCareAppts]

If we could start simple.  # messages sent by site, # responses, etc. 

[2021-04-27 22:19] shanemelliott commented on #23896
sompling as simple as this:

SELECT count(*),stationNo
--,date
,status
  FROM [OVAC_VEText].[App].[MON_CommCareAppts]
  group by stationNo,
 -- date,
  status
  order by stationNo

[2021-04-27 22:21] digitalken commented on #21986
Added to TestRail.

[2021-04-27 22:29] digitalken commented on #23498
Added to TestRail.

[2021-04-27 22:30] bethpottsVADEPO commented on #23707
@RLHecht Can you insert this information on https://www.va.gov/burials-memorials/eligibility/burial-in-private-cemetery/?:

**Will VA pay for the inscription of a family member’s information on a Veteran’s headstone in a private cemetery?**

Yes. If the family meets the eligibility requirements, we’ll pay to have a family member’s name, along with their dates of birth and death, inscribed on a Vet

[2021-04-27 22:32] digitalken commented on #23736
Added to TestRail.

[2021-04-27 22:34] digitalken commented on #23318
Added to TestRail.

[2021-04-27 22:40] digitalken commented on #23463
Added to TestRail.

[2021-04-27 22:40] jason-gcio commented on #22064
We probably don't need full blown mockups for this depending on how much change there is for the new tool page standard

[2021-04-27 22:40] jason-gcio commented on #22065
We probably don't need full blown mockups for this depending on how much change there is for the new tool page standard

[2021-04-27 23:16] ajmagdub commented on #23469
Currently when VAOS pulls facility information it does not retrieve that info from Lighthouse but from VAMF. The Facility vaccine phone number and URL is not available.

There is a Vets API module, facilities_api, that does pull the Facilities information from Lighthouse and the CovidVaccine::V0::FacilitiesController does call that endpoint but does not pass through those new fields.

New Vets API

[2021-04-27 23:32] #19821 closed

[2021-04-28 00:11] bethpottsVADEPO commented on #23707
@RLHecht I'll send the preview to the stakeholders once you've done the drupal work. We'll see if they agree with the placement on this page rather than the R&S FAQ about headstones.

[2021-04-28 00:25] ericboehs commented on #23196
I don't believe so.

This is in regards to our GH Auth solution for Sidekiq and potentially other admin tools that @rileyanderson created a PoC for.

We should first get it prepped for review/conduct an internal review (BE tools team) and then reach out to Joe/Fleet afterwards.

[2021-04-28 00:30] digitalken opened #23897 "Display read/unread message indicators - Accessibility issue with Android"
## What happened?
Samsung phones are adding a "minus" in front of the message count on the Health home page.  Using Talkback, the phone reads "Messages, you have minus 12 unread messages."

Only happens with Samsung phones.

## Specs:
- Device: Samsung Galaxy Note 9 w/Talkback enabled

## Steps to Reproduce
Go to health home screen with Samsung phone and TalkBack enabled. Read the Messages button

[2021-04-28 00:31] jwoodman5 commented on #23340
[SF-CRM-Tracking-Fields.xlsx](https://github.com/department-of-veterans-affairs/va.gov-team/files/6388307/SF-CRM-Tracking-Fields.xlsx)

Here is a list of fields from our Salesforce instance, which are tracked for support issues generated through VEO/White House Call Center.

While there isn't a specific category for pages with "Forms", "Search", or "Content-Only Sites", we could potentially create

[2021-04-28 00:37] jwoodman5 commented on #23340
I reached out to the analytics UX designer to discuss.

[2021-04-28 00:40] digitalken opened #23898 "Display read/unread message indicators - Number of unread messages not updating on other phones on same account"
## What happened?
Not sure if this is designed to do this, but when testing with two phones on the same account, I noted that the blue unread message indicators eventually updated and synced between the two phones.  I did not notice the unread message count syncing between the two phones in the same way.

If I read message on one phone, eventually the blue new message indicator on the other phone

[2021-04-28 00:42] digitalken commented on #21084
PASS 4/27/2021 - Looks good on iOS and small bug logged for accessibility on Samsung phones. (Minus before the number of new messages on the Health home screen.)

Also logged another bug that may or may not be valid, depending on expectations of polling for number of new messages remaining.  See https://app.zenhub.com/workspaces/va-mobile-app-5f205eac3155a2000f422ecb/issues/department-of-veterans-

[2021-04-28 00:42] #21084 closed

[2021-04-28 00:58] jonwehausen commented on #19547
@bsmartin-ep Could you please QA this [GTM workspace](https://tagmanager.google.com/#/container/accounts/144676348/containers/2214120/workspaces/1000507)?

### Context of Changes
- Added in `allowAnchor` `true` to in fields to set base config to universally collect UTM parameters when anchors are used
- Created new tag for anchor page load, instead of using custom dimension passing into event acti

[2021-04-28 02:19] bsmartin-ep commented on #23296
## QA

The pageviews and scroll depth tagging LGTM @laurensimpson14.

I wonder though if we need to make these changes to the `CL - Relevant Click Classes` variable:

![image](https://user-images.githubusercontent.com/62304138/116335871-8eabd380-a7a5-11eb-8890-742c4f9ce88c.png)

The `EV - Global Link Tag` tag seems to [only apply to the old TOC page](https://analytics.google.com/analytics/web/#/re

[2021-04-28 04:25] SgardnerPMP opened #23899 "[Analytics] Compile and document all STAFF PROFILES for VISN-12 (BA)"
## User Story or Problem Statement
As a Veteran Web user, I want to see the local providers/caregivers information in the health service programs, so I know who to contact to start my healthcare journey.

## Goal
_Highlight the Individual points of contact for each Health Service Program_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran trav

[2021-04-28 04:36] SgardnerPMP opened #23900 "[VAMC-Scaffolds] Create or Clone all required pages for VA Ann Arbor health care in VISN 10 [BA]"
## User Story
As a Veteran Web user, I need a easier and more efficient site, so I can quickly get to my objective and complete my journey on the local VA.Gov/MC website.

## Goal
_Implement required VAMC-upgraded va.gov webpages_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran web user_
- _Reduce Click through count by_Highlighting top sto

[2021-04-28 04:38] SgardnerPMP opened #23901 "[VAMC-Scaffolds] Create or Clone all required pages for VA Central Ohio health care in VISN 10 [BA]"
## User Story
As a Veteran Web user, I need a easier and more efficient site, so I can quickly get to my objective and complete my journey on the local VA.Gov/MC website.

## Goal
_Implement required VAMC-upgraded va.gov webpages_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran web user_
- _Reduce Click through count by_Highlighting top sto

[2021-04-28 04:39] SgardnerPMP opened #23902 "[VAMC-Scaffolds] Create or Clone all required pages for VA Chillicothe health care in VISN 10 [BA]"
## User Story
As a Veteran Web user, I need a easier and more efficient site, so I can quickly get to my objective and complete my journey on the local VA.Gov/MC website.

## Goal
_Implement required VAMC-upgraded va.gov webpages_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran web user_
- _Reduce Click through count by_Highlighting top sto

[2021-04-28 04:40] SgardnerPMP opened #23903 "[VAMC-Scaffolds] Create or Clone all required pages for VA Cincinnati health care in VISN 10 [BA]"
## User Story
As a Veteran Web user, I need a easier and more efficient site, so I can quickly get to my objective and complete my journey on the local VA.Gov/MC website.

## Goal
_Implement required VAMC-upgraded va.gov webpages_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran web user_
- _Reduce Click through count by_Highlighting top sto

[2021-04-28 04:44] SgardnerPMP opened #23904 "[VAMC-Scaffolds] Create or Clone all required pages for VA Dayton health care in VISN 10 [BA]"
## User Story
As a Veteran Web user, I need a easier and more efficient site, so I can quickly get to my objective and complete my journey on the local VA.Gov/MC website.

## Goal
_Implement required VAMC-upgraded va.gov webpages_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran web user_
- _Reduce Click through count by_Highlighting top sto

[2021-04-28 04:46] SgardnerPMP opened #23905 "[VAMC-Scaffolds] Create or Clone all required pages for VA Northeast Ohio health care in VISN 10 [BA]"
## User Story
As a Veteran Web user, I need a easier and more efficient site, so I can quickly get to my objective and complete my journey on the local VA.Gov/MC website.

## Goal
_Implement required VAMC-upgraded va.gov webpages_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran web user_
- _Reduce Click through count by_Highlighting top sto

[2021-04-28 04:47] SgardnerPMP opened #23906 "[VAMC-Scaffolds] Create or Clone all required pages for VA Battle Creek health care in VISN 10 [BA]"
## User Story
As a Veteran Web user, I need a easier and more efficient site, so I can quickly get to my objective and complete my journey on the local VA.Gov/MC website.

## Goal
_Implement required VAMC-upgraded va.gov webpages_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran web user_
- _Reduce Click through count by_Highlighting top sto

[2021-04-28 08:48] andaleliz commented on #23728
@Samara-Strauss Great point about **Applications**! I'll change it to Apply for VA benefits. I think this name works well to accommodate any other notifications that come up for this group.

Also very good points! I like the latter since it will account for more. Even though you are totally right - we need to be open to the fact that the groups might change.  I agree it's inevitable, just want to

[2021-04-28 08:51] andaleliz opened #23907 "Content review for notification preferences, MVP notification items and groups"
We received the initial list of notifications for our MVP from VA Profile and VA Notify.  Can you please review the content in the group name and communication items columns in the tab titled `content/IA - for review`, and we'll discuss in 5/6 content office hours?  Please reach out with any questions. Thanks!

[communications-permissions-configuration-data-worksheet-042821-edits.xlsx](https://git

[2021-04-28 08:53] #23728 closed

[2021-04-28 10:59] sonntag-adam commented on #23442
![Screen Shot 2021-04-27 at 1.41.01 PM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/5fe91b67-fdff-4784-9f58-6390bc5e283c)
##
![Screen Shot 2021-04-27 at 1.23.00 PM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/a85065b2-ce17-4b4d-b164-7a3523e34cef)

[2021-04-28 11:19] JenLJ commented on #23750
Content doc: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/education-careers/stem/stem-standalone-10203/content/stem-22-10203-content-v0.6.md

[2021-04-28 11:19] #23750 closed

[2021-04-28 11:48] jonwehausen opened #23908 "Analytics Implementation for choose.va.gov/health"
# Google Analytics Implementation or QA Request

## What this form is for

<details>
<summary>More Information</summary>
<div>
    <br>
<p>Use this template to request Google Tag Manager and Google Analytics implementation or QA for your product. Please fill out all brackets.</p>

For more information, please check out the [Google Tag Manager resources](https://github.com/department-of-veterans-af

[2021-04-28 12:00] RLHecht opened #23909 "Fix broken links on vaccine pages"
## Issue Description
A link to the CDC about phased implementation is no longer working. We had this link twice on the vaccine mini-hub in all three languages. We need to replace the link with this new one: https://www.cdc.gov/coronavirus/2019-ncov/vaccines/recommendations.html

## Tasks
- [x] Replace broken links on English vaccine page
- [x] Replace broken links on Tagalog vaccine page
- [x] Rep

[2021-04-28 12:00] RLHecht commented on #23909
These pages have been published. Moving to validate and will close after next deploy.

[2021-04-28 12:01] pcshah1026 commented on #23794
[https://app.zenhub.com/files/133843125/29a240c8-a144-459f-b139-b97511a6483d/download](https://app.zenhub.com/files/133843125/29a240c8-a144-459f-b139-b97511a6483d/download)

@shanemelliott @robertdurkin attached, you will find the RPCs (and other data elements) that Vetlink is currently using.

[2021-04-28 12:24] RLHecht commented on #23374
Thanks, @1Copenut I just submitted the 508 audit request. Ticket number REQ4708690

[2021-04-28 12:31] ksantiagoBAH commented on #23655
PR: https://github.com/department-of-veterans-affairs/gibct-data-service/pull/809

[2021-04-28 12:32] #23850 closed

[2021-04-28 12:44] rtwell commented on #23458
@MarciMcGuireGCIO sounds good—please include me in the working session. I'll do my best to attend.

[2021-04-28 12:46] MarciMcGuireGCIO commented on #23458
Thanks, @rtwell.  Will do!

[2021-04-28 13:03] MarciMcGuireGCIO commented on #23458
Scheduled a working session for 4 PM ET to discuss

- Horizontal rule placement
- Treatment of headings in search results
- Form number in front of the link (or not)
- Reducing amount of content above search fields
- When/how we should address the search field itself:
    - Having a magnifying glass on button (global search, R&S) vs. not (Find VA Form)
    - Inconsistent spacing between text field

[2021-04-28 13:07] MarciMcGuireGCIO commented on #23277
@shiragoodman - we recently realized that this change will require that we add an additional sorting option (Closest Match or Relevance) to the existing drop-down.  Are there additional touchpoints we will need given that change?  Thanks!

![image](https://user-images.githubusercontent.com/73354907/116408637-0bb86680-a801-11eb-8bde-74acb39cef14.png)

[2021-04-28 13:10] johnhashva commented on #23704
Adding the draft of the content build template/copy deck as provided by @DanielleThierryUSDSVA

[Campaign landing page_Vaccine confidence campaign_v2 (04.22.21).docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/6391993/Campaign.landing.page_Vaccine.confidence.campaign_v2.04.22.21.docx)

[2021-04-28 13:18] jonwehausen commented on #18822
### QA Retest of Accordions

| Description of Interaction | Data Layer Screenshot | Test Status | Test Notes
| -- | -- | -- | -- |
Click on accordion "Audiology and speech" with subheading of _"hearing, speech and balance"_ | ![image](https://user-images.githubusercontent.com/48527022/116399572-13730d80-a7f7-11eb-9d63-2ffa36734225.png) | ✔️ **PASS**
Click on accordion "Pain management" with no sub

[2021-04-28 13:24] shiragoodman commented on #23277
thanks for following up @MarciMcGuireGCIO! Yes, we will most likely be recommending additional touchpoints because your work will now result in visible changes to the user experience. Would you please do me a favor and re-do the questions above? I have already cleared the checks. Please tag me here when complete and I will follow up!

[2021-04-28 13:25] MarciMcGuireGCIO commented on #23277
Thank you, @shiragoodman.  Yep; will update them now.

[2021-04-28 13:28] MarciMcGuireGCIO commented on #23277
@shiragoodman I've updated everything.  Thanks!

[2021-04-28 13:30] mchelen-gov commented on #23633
@ElijahLynn if you are working on this then lets move to `va.gov-cms` repo

[2021-04-28 13:30] MarciMcGuireGCIO commented on #19005
Hey there @jason-gcio - just checking in to see if there's any movement on needing this link added to Find a VA Form.  LMK!  Thanks!

[2021-04-28 13:35] zurbergram commented on #23651
https://github.com/department-of-veterans-affairs/gibct-data-service/pull/810

[2021-04-28 13:36] pjhill commented on #23845
Would it be worthwhile to setup a GitHub Actions visual regression check on a fork of `vets-website`? It might be nice to test drive the integration with the GHA pipeline and see how approved changes propagate back to GHA.

[2021-04-28 13:37] MarciMcGuireGCIO commented on #22857
@johnhashva is there anything I can do to help keep this one rolling? Thx!

[2021-04-28 13:40] kelsonic commented on #7808
Hey @RLHecht! 👋 So if we aren't able to add the following content in Drupal:

https://github.com/department-of-veterans-affairs/va.gov-team/issues/7808#issuecomment-683848451

then unfortunately I'm not sure how to achieve this. Perhaps we could modify how Drupal sanitizes the rich text so that it doesn't strip out these tags or properties, but that seems like a huge LOE + large risks compared to

[2021-04-28 13:44] joshkimux commented on #23367
@SKasimow @youngfreezyVA I have socks running but the link isn't working for me too 🙇

[2021-04-28 13:45] RLHecht commented on #23909
These pages are live. Closing ticket.

[2021-04-28 13:45] #23909 closed

[2021-04-28 13:47] meganhkelley opened #23910 "Tools FE VFS Support - PR Reviews Sprint 51"
## Details

Add PRs to this epic during Sprint 51. Any time you ...
* Approve a PR
* Leave comments on a PR
* Request changes on a PR

Add PRs from ...
* VFS teams
* Other VSP or Platform Crew teams

DO NOT add PRs from ...
* FE Tools team

[2021-04-28 13:47] #23214 closed

[2021-04-28 13:50] shiragoodman commented on #23277
Hi @MarciMcGuireGCIO. Thanks for redoing this Collaboration Cycle Kickoff ticket! Based on your responses, your project is an iteration to a tool and/or application so we are recommending the following Collaboration Cycle touchpoints:

- Midpoint Review (asynch would be fine since it isn't a big change)
- Contact Center Review (most likely will require minor modifications to your Product Guide)
-

[2021-04-28 13:53] johnhashva commented on #22857
Nope, finishing this up today and scheduling a re-meet with Site Content team for Friday.

[2021-04-28 13:54] timwright12 commented on #21404
I opened a PR to deal with the two templates @1Copenut listed https://github.com/department-of-veterans-affairs/vets-website/pull/16976

I also found 16 instances in 12 files of `tel:{{` - someone them already had conditionals wrapping them, so if we want to tackle that it doesn't seem like a very big lift

[2021-04-28 13:56] jason-gcio commented on #19005
Getting close, I'll have another one for you here soon for the CH31 feature.  I'll ping you though and we can make a ticket for that too.

[2021-04-28 13:56] holdenhinkle commented on #23845
Good idea. I'll work on that.

[2021-04-28 13:57] Dene-human commented on #23621
Conversation guides for discovery with SMEs and end user 1:1s linked below:

- [Conversation Guide: VSA Caregiver, Discovery Research for the 10-10EZ form-SME interviews, May 2021](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/caregivers/10-10EZ/Research%20April-May%202021/SME%20Discovery%20Research/1:1conversation-guide.md)

- [Conversation Guide: VSA Caregive

[2021-04-28 13:58] sonntag-adam commented on #23637
![Screen Shot 2021-04-28 at 9.56.42 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/df590a24-a7f1-42b9-85a9-c31c520d4a3a)
##
![Screen Shot 2021-04-28 at 9.56.48 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/abf9b659-0e38-4e6b-973b-3fcf4744aa13)
##
![Screen Shot 2021-04-28 at 9.57.15 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/

[2021-04-28 13:59] jonwehausen commented on #14487
### QA Testing on Local Storybook

| Description of Interaction | Event Structure | Test Status
| -- | -- | -- |
Click to expand accordion with only 1 header | ![image](https://user-images.githubusercontent.com/48527022/116415484-75d40a00-a807-11eb-8fb4-ea6da3521e13.png) | ✔️ **PASS**
Click to collapse accordion with only 1 header | ![image](https://user-images.githubusercontent.com/48527022/11641

[2021-04-28 14:00] kelsonic opened #23911 "Sort by searchableContent AND introText instances found"
# Description

**Related slack thread:** https://dsva.slack.com/archives/C52CL1PKQ/p1619557476325100?thread_ts=1619536672.303000&cid=C52CL1PKQ

**Dependency:** https://github.com/department-of-veterans-affairs/va.gov-team/issues/22196 this ticket must be completed **FIRST**.

Change the non-prod staging logic for R&S search to be:

![image.png](https://images.zenhubusercontent.com/5d812458c75aaf00

[2021-04-28 14:00] noahgelman commented on #23731
@laurenernest @shiragoodman

No accessibility issues

[2021-04-28 14:01] kelsonic commented on #23911
@brianalloyd left sprint + milestone blank for you to modify at your leisure! 🙂

fysa @jenniferlee-dsva

[2021-04-28 14:01] caw310 commented on #23795
@bkjohnson , can you answer Trevor's question about props in SB?

[2021-04-28 14:01] 1Copenut commented on #23367
Try this Staging URL. The copy buttons are inside the accordions: https://staging.va.gov/coronavirus-veteran-frequently-asked-questions/

[2021-04-28 14:13] MarciMcGuireGCIO opened #23912 "Content/labeling request from Decision Tools team for Find a VA Form"
## Why you're here

### Content support for:
- Unauthenticated (static) VA.gov pages
- Apps or tools
- Other writing or editing requests

**Note: These requests are handled by the Sitewide Content Team.**

### Engineering support for:
- Redirects that have **first been vetted by the VSP IA team**
- REACT sign-in widgets or feature flags (flipper)
- Other engineering support

**Note: These requests

[2021-04-28 14:13] pjhill commented on #23762
Nicely done -- thanks for the quick review, @billfienberg !

@holdenhinkle, Have we notified the platform personnel / teams that were interested in this capability?

[2021-04-28 14:14] #21651 closed

[2021-04-28 14:15] pjhill commented on #23845
Exploring parallelization of this tool might be prudent as well.  Any tool that we add to the pipeline as a build breaking check will need to be as speedy as possible. It looks like the docs for parallelization begin with a disclaimer that it's a fairly complicated setup. Shall we have a look?

[2021-04-28 14:15] MarciMcGuireGCIO commented on #19005
👍🏻 Thanks, @jason-gcio !

[2021-04-28 14:16] #23519 closed

[2021-04-28 14:17] pjhill commented on #16413
Throwing this into the Icebox until we have room in our prioritization for a proper testing and release of this product.

[2021-04-28 14:18] jonwehausen commented on #14487
@bsmartin-ep After your `subheader` typo fix looks like we still do not have the `subheading` populate

[2021-04-28 14:26] meganhkelley commented on #23489
FE Tools services have been copied into GHA. The migration is paused until we coordinate with Testing Tools team, as they are still working on transferring Pact over to GHA and we are dependent on that update (can't deprecate CircleCI without Pact, don't want to release GHA early and have 3 CI tools in play at once).

[2021-04-28 14:27] johnhashva opened #23913 "[Campaign Landing Page MVP Release] VA Trust CLP - Site Navigation Links"
## About your app/tool/functionality

* **Is this request related to a VA.gov tool? If yes, provide a brief description of the tool or functionality:**
   * This is a site navigation links (IA) request for the first CLP to be released in production (target date: by May 3, 2021) -- [Trust VA](https://github.com/department-of-veterans-affairs/va.gov-team/issues/23304)

* **Provide links to any avail

[2021-04-28 14:27] kristenmcconnell opened #23914 "[Research][UI] Research Report for In-person Check-in Discovery Sessions"
## Description
Finalize a research report detailing findings and design recommendations from the in-person research study.

##Reference Materials
- Review [research checklist](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/research/planning/lead-researcher-checklist.md)
- [Synthesis](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/platf

[2021-04-28 14:30] pjhill commented on #20028
We have hit an impasse with this effort. Per BrowserStack our configuration is a no-go. Closing this ticket. Any future attempt to workaround this issue can be worked under a new ticket.

[2021-04-28 14:30] #20028 closed

[2021-04-28 14:31] holdenhinkle commented on #23762
Yes, I notified Michael Pelz-Sherman and he's spreading the word.

[2021-04-28 14:32] pjhill commented on #18766
Discovery for this has been completed. This ticket can serve as a reference for future efforts. Several tickets for concrete progress have been spun off from this ticket.

[2021-04-28 14:32] #18766 closed

[2021-04-28 14:32] brianalloyd commented on #23911
Thanks @kelsonic for spinning the ticket, I've updated sprint + milestone in support.  Thanks for taking point on this initiative.

[2021-04-28 14:34] pjhill commented on #12207
Throwing this into the Icebox until the previously mentioned issue is resolved and this is prioritized for Noah again.

[2021-04-28 14:35] pjhill commented on #22334
Discovery has been completed -- next up is MVP.

[2021-04-28 14:35] #22334 closed

[2021-04-28 14:38] #22429 closed

[2021-04-28 14:38] #22430 closed

[2021-04-28 14:38] #23187 closed

[2021-04-28 14:39] #23185 closed

[2021-04-28 14:41] johnhashva commented on #23304
Adding here the staging/pre-launch Collab feedback (mostly accessibility and content) provided to VEO-Tim Hudak on 4/27.   He agreed to make most of these changes prior to launch.

[CLP-Trust-Feedback.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/6392678/CLP-Trust-Feedback.docx)

[2021-04-28 14:42] ajakabcin commented on #21846
I tested these as well and they look good. I did notice that for user 369, our test cases indicate they're supposed to be an example of someone who is NOT enrolled in health care, but on staging it looks like they are. Can we confirm if that's working as designed?

If it's WAD then we'll need to update the test case documentation with another user example to show not enrolled. cc @tressaellen

[2021-04-28 14:43] delli-gatti-michael commented on #23875
Fix is on Staging. Closing this issue

[2021-04-28 14:43] #23875 closed

[2021-04-28 14:51] delli-gatti-michael commented on #23514
On staging. Closing this issue

[2021-04-28 14:51] #23514 closed

[2021-04-28 14:54] delli-gatti-michael commented on #23514
[testrail test run](https://dsvavsp.testrail.io/index.php?/tests/view/137503&group_by=cases:section_id&group_order=asc&group_id=46)

[2021-04-28 14:55] nicole-bills opened #23915 "Business intake form for VHA Center for Care and Payment Innovation (CCPI) Care Coordination for Dental Benefits (CCDB) pilot"
## Requestor Name
Michael Harry

## Business Line
Center for Care and Payment Innovation (CCPI)

## What is the business outcome you are trying to achieve? (required 1-2 sentences)
Notify and engage with veterans that are eligible for enrollment into The Center for Care and Payment Innovation’s (CCPI’s) Care Coordination for Dental Benefits (CCDB) pilot. This pilot aims to enhance the overall heal

[2021-04-28 15:03] jonwehausen commented on #22421
Thanks @jason-gcio ! Will perform validation on this now

[2021-04-28 15:06] RLHecht commented on #23912
Thanks, @MarciMcGuireGCIO We will take a look at this and I'll get back to you.

[2021-04-28 15:10] jonwehausen commented on #15757
### QA Retest

| Description of Interaction | Data Layer | Test Status
| -- | -- | -- ||
_Submission_ of 28-1900_ | ![image](https://user-images.githubusercontent.com/48527022/116427679-3a8b0880-a812-11eb-9caf-7a2ccd04b9a1.png) | ✔️ **PASS**
_Failed submission_ of 28-1900 | ![image](https://user-images.githubusercontent.com/48527022/116427795-57bfd700-a812-11eb-8505-28e992b6e3a7.png) | ✔️ **PASS**

[2021-04-28 15:11] jonwehausen commented on #15757
Thanks so much for correcting this @cohnjesse, closing these issues

[2021-04-28 15:11] #15757 closed

[2021-04-28 15:12] jonwehausen commented on #13167
Testing results on 15757

Thanks again @cohnjesse

[2021-04-28 15:12] #13167 closed

[2021-04-28 15:12] jonwehausen commented on #22421
This is good to close! Thank you @jason-gcio & @cohnjesse

[2021-04-28 15:12] #22421 closed

[2021-04-28 15:18] #18532 closed

[2021-04-28 15:23] MarciMcGuireGCIO commented on #23912
Thank you, @RLHecht !

[2021-04-28 15:23] ajakabcin commented on #23696
Closing

[2021-04-28 15:26] #23691 closed

[2021-04-28 15:28] pjhill opened #23916 "Create a scheduled load test using self-hosted runners and GitHub Actions"
## Issue Description
TBD

---
## Tasks
- [ ] TBD

## Acceptance Criteria
- [ ] TBD
---

[2021-04-28 15:29] lildziner commented on #23261
## [Design problem description](https://preview.uxpin.com/0a5eaacdf411fde0cb3abf4932010c29fbccb7de#/pages/138515145?mode=cvhid)

#### Design option A
[(see prototype)](https://preview.uxpin.com/0a5eaacdf411fde0cb3abf4932010c29fbccb7de#/pages/138511926?mode=cvhid)

![op-status-expandable-A.png](https://images.zenhubusercontent.com/5c4895778d88074ab2c6ad18/231bae74-34d1-4e7e-9c1a-0a2ad6cd6e03)

####

[2021-04-28 15:29] ajakabcin commented on #23417
Confirmed on staging - closing

[2021-04-28 15:29] #23417 closed

[2021-04-28 15:29] Samara-Strauss commented on #23728
Looks great to me! Looking forward to feedback from Mikki and Danielle!

[2021-04-28 15:34] tressaellen commented on #23696
Sorry, just going to close the loop with @bethpotts and then I'll close this ticket. Here's the screenshot for the updated profile version of this alert using the copy that you recommended.

If this is approved, then we can update. (cc @ajakabcin )

<img width="717" alt="Screen Shot 2021-04-28 at 11 32 16 AM" src="https://user-images.githubusercontent.com/58752772/116431053-deb18700-a7f3-11eb-940a

[2021-04-28 15:35] Samara-Strauss commented on #21846
You can use user 272 for a user who is NOT enrolled in health care and has not applied. [Here is a list of people who have not applied for health care](https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/blob/master/Administrative/vagov-users/staging-test-accounts-duplicate-healthcare-applications.md#users-not-enrolled-in-health-care-so-you-can-see-the-health-care-application).

[2021-04-28 15:35] jeff2d2 commented on #22944
Waiting on ops for this before merging and closing

[2021-04-28 15:36] miabecker commented on #23251
@mlighdc, just updating the issue for tracking purposes @pcshah1026 let us know that he connected with you and there is a meeting on Friday to discuss email timelines and VEText capacity. cc: @bevnobev

[2021-04-28 15:37] jeff2d2 commented on #23096
Pull these into their own ticket:
- [ ] Update docs

[2021-04-28 15:40] tressaellen commented on #21846
I've updated the test case doc for Tze. :)

[2021-04-28 15:42] jonwehausen commented on #21747
## QA Testing

@sonntag-adam Please see test results below

| Description of Interaction | Data Layer | Data Layer Test Status | Test Notes
| -- | -- | -- | -- |
Click on a Need Help? link on the right rail nav | ![image](https://user-images.githubusercontent.com/48527022/116430862-39a7a600-a815-11eb-9cee-511bdf65b803.png) | ✔️ **PASS** | N/A
Clicks within "More resources about VA benefits | ![ima

[2021-04-28 15:42] ajakabcin opened #23917 "[FE] Profile: Implement updated design for when we don't have certain contact info for a user"
## Background
As outlined in #22742 we needed a better way to inform and prompt users to add certain pieces of contact information to their profile. Current design has hyperlinked text stating "please add your [missing contact info]" we need to modify this to be text only and then add an Edit button to align with designs elsewhere in profile.

## Tasks
- [ ] Update hyperlinked text to be just plai

[2021-04-28 15:44] ajakabcin commented on #22742
Created #23917 as implementation ticket

[2021-04-28 15:46] pjhill opened #23918 "Configure Test Tools in GitHub Actions Hosted CI Pipeline for vets-website"
## Product Outline
[Link](https://vfs.atlassian.net/wiki/spaces/VI/pages/919797773/Continuous+Integration+CI+-+Product+Outline)

**From FE Tools' plan:**
Release GHA in 2 separate phases.

1. Release GHA and simultaneously deprecate CircleCI. GHA will be an exact copy of what was in Circle, and therefore will be duplicative of what's in Jenkins. Failures in GHA will not block builds.
2. Jenkins wi

[2021-04-28 15:47] timwright12 commented on #23657
**Gathered data summary**

Total sites reviewed: 255
Sites including JS from the current S3 bucket: 232
Sites rendering VA header/footer: 5
Sites including images from the current S3 bucket: 4
Sites with broken JS references: 1

**Sites rendering VA header/footer**

- [Benefits](https://benefits.va.gov/benefits/)
- [National Cemetery Administration](https://www.cem.va.gov/)
- [VA Privacy Service](

[2021-04-28 15:49] ajmagdub commented on #23469
Another approach is create another VAOS route to return facilities using the Lighthouse::Facilities::Client to access the new fields

[2021-04-28 15:50] miabecker commented on #23609
@kevinmirc we are going to try and find someone who has more in depth knowledge. If that is the case @mlighdc we most likely can't build out a notification now. But if the behavior is different then we could help. @annaswims do you have more insight on how the form and its statuses works?  cc: @ffafara-tw @bevnobev

[2021-04-28 15:56] joshkimux opened #23919 "508-defect-1 ❗ Launchblocker [KEYBOARD]: Copy link action must be accessible by keyboard using `enter` and `space`"
# [508-defect-1 :exclamation: Launchblocker](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-1)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and a

[2021-04-28 16:00] mlighdc commented on #23609
@miabecker feel free to reach out to Dror as I talked to him initially. Or Dror can suggest someone. Also, if a save in progress form is created when a user hits the first page, I got believe we can check where they are in the form process and potentially use two conditions to do the notification, such as (1) form is saved in progress, and (2) they are at step 2 of 5 of the form. Thanks.

[2021-04-28 16:04] jonwehausen commented on #21747
@sonntag-adam One other update here (and I apologize in advance for the coordination on my part here). Unfortunately our team was only able to deploy our global action link tracking to the static pages at this time.

That said if we could have the **`cta-action-link-click`** specification inserted here, that would be very much appreciated.

If there's additional metadata you all would like to pass

[2021-04-28 16:05] SKasimow opened #23920 "Staging Bugs | Anchor Tags"
Per review of staging link, the following fixes are being requested:

- https://staging.va.gov/coronavirus-veteran-frequently-asked-questions-esp/#como-puedo-seguir-informado-e-27876

- replace with English version of Corona FAQ page ( https://staging.va.gov/coronavirus-veteran-frequently-asked-questions/ )
-

[2021-04-28 16:07] bethpottsVADEPO commented on #22727
@RLHecht Along with the work for the left nav, we'll add a new header, link, and teaser to this page: https://www.va.gov/education/other-va-education-benefits/

Here's what it'll look like (add it as the last one as you see here) with the other content on that page now:

**Programs for added GI Bill benefits**
Edith Nourse Rogers STEM Scholarship
Veteran Employment Through Technology Education Cou

[2021-04-28 16:07] ajakabcin commented on #23728
All of this looks awesome thanks @andaleliz and great work!

[2021-04-28 16:10] ajakabcin commented on #21846
Looks great - thanks all! Closing

[2021-04-28 16:10] #21846 closed

[2021-04-28 16:11] tressaellen commented on #23308
Thank you! I'm updating everything still and will post the latest and greatest later today.

They should be in the same order, and they are not in the same order in the prototype. I'm trying to validate on staging that they're in the same order, but the user we've used for having no appointments in the next 30 days now has appts in the next 30 days... I'll need to work with Erik to make sure that

[2021-04-28 16:15] billfienberg opened #23921 "Combine Lint|Security|Unit stage with Build stage"

[2021-04-28 16:15] billfienberg commented on #23921
https://github.com/department-of-veterans-affairs/vets-website/pull/16965

[2021-04-28 16:21] bessgreen opened #23922 "Notification icon badge"
## Acceptance Criteria
1. When a push notification
2. The number in the badge is dynamic and reflects the number of push notifications for that page
     - Ex: "2" indicates 2 upcoming appointments
3. UI specs:
     -14px by 14px, 12 pt font
4. The number in the badge will not exceed 2 digits (##)
5. The badge will disappear from the nav bar icon upon navigating to that page

## Designs
https://ad

[2021-04-28 16:35] billfienberg opened #23923 "Research inter-app dependencies/imports"

[2021-04-28 16:37] tressaellen opened #23924 "[FE] My VA: Remove V1 benefits modal from My VA"
## Background

The "find VA benefits" FTUX modal still appears on My VA 2.0. We need to remove this.

You can easily make this modal appear by deleting `"find-benefits-intro"` from teh `DISMISSED_ANNOUNCEMENTS` local storage array.

## Screenshot and video

![Screen Shot 2021-04-28 at 12.03.12 PM.png](https://images.zenhubusercontent.com/5dfa65bbbd078d1699e52294/66e7ab5f-fdd3-43a1-8380-5133cf9176e

[2021-04-28 16:37] delli-gatti-michael commented on #23442
local testing complete

[2021-04-28 16:40] #19193 closed

[2021-04-28 16:42] dillo opened #23925 "Show the time-zone for the appointment on the PDF"
## User Story
**In order** to know the accurate appointment time for the facility and location where I'm scheduled
**As a** Veteran
**I want** the Questionnaire Response PDF to display the time-zone of the facility next to the appointment time

## Related Documentation
[Backend Architecture](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnair

[2021-04-28 16:51] brianalloyd opened #23926 "Intake Requests for Public Websites - May 2021"
_In-take for Public Websites Team for the month of May 2021_

[2021-04-28 16:51] RLHecht commented on #22727
@bethpottsVADEPO I added this text to the other education benefits page and will keep as draft until VRRAP goes live on 4/30/.

[2021-04-28 16:52] andreahewitt-odd commented on #21465
@jeff2d2 I believe those questions from Bill are for you. This is a blocker for BE team to be able to finish https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/13677

[2021-04-28 16:53] brianalloyd opened #23927 "Intake Requests for Public Websites - June 2021"
_In-take for Public Websites Team for the month of June 2021_

[2021-04-28 16:54] andreahewitt-odd commented on #21465
@omgitsbillryan I think you'll also find your answer to the first question in the ticket I linked above ^

[2021-04-28 16:54] jason-gcio opened #23928 "Tweak Feature Toggle Content"
## Background
Given some recent feedback from content folks, we should update our feature toggle content slightly for the CH31 feature.

## Tasks
- [ ] Update the feature toggle for CH31 on the [eligibility](https://www.va.gov/careers-employment/vocational-rehabilitation/eligibility/) page as well as all the [track](https://www.va.gov/careers-employment/vocational-rehabilitation/programs/) pages

[2021-04-28 16:56] dillo opened #23929 "Questionnaire Manager feature should be accessible to users in participating locations only"
## User Story
**In order** to interact with the Questionnaire Manager and fill out pre-visit Questionnaires
**As a** Veteran
**I want** the pre-visit questionnaire feature to be available only at participating locations

## Related Documentation
[Backend Architecture](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/engineering/MAP/diagra

[2021-04-28 16:57] shanemelliott commented on #20662
REFILL(Y,ORDERID,REFLOC,ORVP,ORNP,ORL) ; Refill Request

[2021-04-28 17:00] kreek opened #23930 "Investigate full claims history not displaying"
During a UAT session a user said their full claims history was not displaying

### Notes
User mentioned that the older version of the app displayed a fuller history than the most recent build; some claim types that are on va.gov are not on the app.

### Reference
[UAT Issues Sheet](https://docs.google.com/spreadsheets/d/1swOSRwSo2ULYFuzghiDYlX3qXm8_bD5dorAmxfAiMlI/edit#gid=0)

[2021-04-28 17:03] #22444 closed

[2021-04-28 17:05] kreek opened #23931 "Investigate community care appointments not displaying"
During a UAT session a user said their community care appointments were not displaying for upcoming and past appointments.

Notes:
Double check that the app is handling CC errors

### Reference
[UAT Issues Sheet](https://docs.google.com/spreadsheets/d/1swOSRwSo2ULYFuzghiDYlX3qXm8_bD5dorAmxfAiMlI/edit#gid=0)

[2021-04-28 17:08] jwoodman5 opened #23932 "VFS Reporting - Draft Solution Proposal"
## Issue Description
_What details are necessary for understanding the specific work or request tracked by this issue?_

---
## Tasks
- [x] _Host outcomes exercise with team ideate possible solutions to provide meaningful data to VFS teams to help them know where they can improve Veterans' experiences on their sites/product._

**Salesforce data fields listed in attachment below**

## Acceptance Cr

[2021-04-28 17:10] jason-gcio commented on #17728
Checking to see if the full width view (after removing the sidebar components) addresses these issues

[2021-04-28 17:13] kristenmcconnell opened #23933 "[UI] Check-in User Journey Map and Stakeholder Map"
## Product Links

## Description
We need to create a map of the pre-check in, check-in, and post appointment experiences that are part of the check-in MVP, in order to understand the Veteran's journey. We also need to understand what other groups will need to be a part of check-in and what parts they will be involved in. These maps will continue to evolve throughout the project; they will just sho

[2021-04-28 17:14] RLHecht commented on #23855
This has been pushed to prod. Closing ticket!

[2021-04-28 17:14] #23855 closed

[2021-04-28 17:15] kristenmcconnell commented on #23235
Check-in only. Pre-check in and post appointment experiences that are part of the MVP will be part of another story.

[2021-04-28 17:17] SgardnerPMP opened #23934 "[VAMC-Scaffolds] Create or Clone all required pages for VA Columbia Missouri health care in VISN 15 [BA]"
## User Story
As a Veteran Web user, I need a easier and more efficient site, so I can quickly get to my objective and complete my journey on the local VA.Gov/MC website.

## Goal
_Implement required VAMC-upgraded va.gov webpages_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran web user_
- _Reduce Click through count by_Highlighting top sto

[2021-04-28 17:18] digitalken commented on #18523
4/28/2021 - FIXED with new picker.  Closing.

[2021-04-28 17:18] #18523 closed

[2021-04-28 17:18] RLHecht commented on #23589
@DanielleThierryUSDSVA This page is ready for you. There's an issue with the styling of the CTA button that FE is working on (it should be blue with white text, but is currently showing as blue with blue text).

[2021-04-28 17:19] SgardnerPMP opened #23935 "[VAMC-Scaffolds] Create or Clone all required pages for VA Kansas City health care in VISN 15 [BA]"
## User Story
As a Veteran Web user, I need a easier and more efficient site, so I can quickly get to my objective and complete my journey on the local VA.Gov/MC website.

## Goal
_Implement required VAMC-upgraded va.gov webpages_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran web user_
- _Reduce Click through count by_Highlighting top sto

[2021-04-28 17:20] RLHecht commented on #23424
text and teaser link added to other VA education programs in ticket #22727

[2021-04-28 17:20] mpelzsherman commented on #23481
We will test this in Tugboat - change status to Archived and Draft, and confirm it no longer shows up in either case.

[2021-04-28 17:20] kristenmcconnell opened #23936 "[Research] Transcribe In-person Check-in Research Sessions"
## Product Links

## Description
Transcribe the sessions, since this is very foundational research. It could be useful to VAOS for example, as they continue to look into notifications and the appointment service blueprint.

## Tasks
- [ ] Transcribe the sessions

## Acceptance Criteria
- [ ] Post transcriptions on GitHUB
- [ ] Delete videos

[2021-04-28 17:23] kristenmcconnell opened #23937 "[UI] Wireframe Pre-check in Experience"
## Product Links

## Description
Create an initial draft wireframes for pre-check in. The intent would be for these to be presented to stakeholders, product teams, and internal team members for discussion.

## Tasks
- [x] Create draft wireframes in Sketch

## Acceptance Criteria
- [x] Initial wireframe draft is complete and reviewed by product/Ming

[2021-04-28 17:24] jason-gcio commented on #17731
We can’t find any VA payments made to you, or returned VA payments. Some details about payments may not be available online. For example, payments less than $1 for direct deposit, or $5 for mailed checks, will not show in your online payment history. If you think this is an error, or if you have questions about your payment history, please call 800-827-1000.

VA pays benefits on the first day of t

[2021-04-28 17:24] jhouse-solvd opened #23938 "EKS - Set up cluster for production"
## Description
Set up production EKS cluster

## Background/context/resources
Big items that every cluster needs

- Cluster
- Calico
- Traefik
- DataDog
- Auto scaler - this does not come with the EKS TF
- Termination handler
- Metrics server
- External secrets

The utility cluster is the most fully-fledged example that we have, so should be a good reference for which services are needed.

## Tech

[2021-04-28 17:25] #23233 closed

[2021-04-28 17:27] kristenmcconnell opened #23939 "[UI] Post appointment Wireframes"
## Product Links

## Description
Create an initial draft wireframes for post appointment experience that is part of the check-in project. The intent would be for these to be presented to stakeholders, product teams, and internal team members for discussion.

## Tasks
- [ ] Create draft wireframes in Sketch

## Acceptance Criteria
- [ ] Initial wireframe draft is complete and reviewed by product/Mi

[2021-04-28 17:28] jason-gcio commented on #23225
(Future @jason-gcio) this is a good one to templatize

[2021-04-28 17:29] jhouse-solvd opened #23940 "EKS - Set up HPA for Loki"
## Description
Set up horizontal pod auto-scaling for Loki

## Background/context/resources
When a deployment reaches a particular performance threshold, HPA will either scale the deployment up or down by adding additional pods.

## Technical notes
For more info, read here:
https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/

---
## Tasks
- [x] Set up an HPA resource (thresh

[2021-04-28 17:29] kreek opened #23941 "Investigate appointment not showing up that was within 6 months"
Participant had an upcoming appointment within 6 months that was not displaying

### Notes
showed up on va.gov but not the app, first step is to have tina log into va.gov and check that it shows up

[2021-04-28 17:30] Samara-Strauss commented on #23308
Got it! I figured it might just be a prototype/mockup issue. User 226 doesn't have appointments if you need someone without appointments but that does have health care.

[2021-04-28 17:30] kreek opened #23942 "Fetch appointments outside the 2 year cache range"

[2021-04-28 17:30] brianalloyd commented on #23834
This might be something that needs to be conditionally rendered, creating ticket that will address this in totality for CLP.

[2021-04-28 17:31] SKasimow commented on #23920
@youngfreezyVA @jenniferlee-dsva @rtwell Hi All - I've consolidated our staging feedback in this ticket; let me know if I missed anything or if anything new is uncovered and I can add.

@youngfreezyVA - can you point this?

[2021-04-28 17:31] jason-gcio commented on #23226
might want to wait until we are sure the format isn't going to change

[2021-04-28 17:31] mmiddaugh opened #23943 "Deeply camelcase service details"
## Issue Description
Front end requires camelcase. Some nested service details need to be converted

---
## Tasks
- [ ] Deeply camelcase service details for both engine and Lighthouse APIs

## Acceptance Criteria
- [ ] Front end is able to access service details

[2021-04-28 17:32] #23744 closed

[2021-04-28 17:33] narin commented on #23726
Resolved by https://github.com/department-of-veterans-affairs/devops/pull/9064. Closing out.

[2021-04-28 17:33] #23726 closed

[2021-04-28 17:34] narin commented on #23727
Resolved by https://github.com/department-of-veterans-affairs/devops/pull/9064. Closing out.

[2021-04-28 17:34] #23727 closed

[2021-04-28 17:35] bridgethapner commented on #23522
Notes from 4/28 sync with @leanna-usds @ayushchak @msmanak @ayushchak and me:

### Background & goals of this page
- We don't want proactive press, but we do want a place for people to learn more about the app so folks can learn more about the app. This is not _really_ marketing and PR, but more like "here's why we built the app" and a contact point for more information. The app store pages are us

[2021-04-28 17:36] brianalloyd commented on #23843
@allison0034 can you provide some additional clarity on this ticket. Also a screenshot and caption would be helpful in support. Appreciate it.  This brings up a great point on "Alert" elements for CLP and this additional details will certainly help.

[2021-04-28 17:37] narin commented on #23772
Resolved by https://github.com/department-of-veterans-affairs/devops/pull/9064. Closing out.

[2021-04-28 17:37] #23772 closed

[2021-04-28 17:38] jason-gcio commented on #23229
If there will be changes to the form layout, these will need to be updated.

[2021-04-28 17:40] eunicegar commented on #23685
[https://app.zenhub.com/files/133843125/adb60b41-c061-42e8-ae8d-518266451db6/download](https://app.zenhub.com/files/133843125/adb60b41-c061-42e8-ae8d-518266451db6/download)

[2021-04-28 17:47] ajakabcin opened #23944 "Authenticated Experience: Sprint 47 (5/5 - 5/18)"
## Priorities

1. QA of My VA
2. ...
3. ...
4. ...

## Profile

**PM**
- [ ] TK

**Design**
- [ ] Work on tickets broken out from #19562
     - [ ] Improve UX for “remove” [contact information] button #23665
     - [ ] Determine how to handle profile’s “remove contact info” feature when user is subscribed to notifications #23666

**FE**
- [ ] Work on tickets broken out from #19562
     - [ ] Corre

[2021-04-28 17:50] ianMcCullough-ob commented on #20580
This ticket can be closed, but last time I did that I screwed up an epic.

[2021-04-28 17:51] U-DON commented on #17187
Halting further development on this approach due to concerns from the CMS team about the recurring GraphQL queries incurring an excessive load on the Drupal server.

To allow for content builds in a GitHub Actions workflow, we will be using a self-hosted runner. However, that will not address the potential caching issues that review instances may encounter if the GraphQL query becomes dynamic agai

[2021-04-28 17:52] ianMcCullough-ob commented on #23338
Wrapping up synthesis & slide deck today (4/28). Can close ticket by end of week.

[2021-04-28 17:53] leahkeeler opened #23945 "HCE- MVP - Checkin Technical Discovery"
What BE systems will this tool integrate with ?

- [ ] Where will Veteran appointment information be retrieved from

- [ ] How will Veteran authenticate? Is 'short' authentication such as last 4 of SS# and DOB possible bypassing full va.gov login

- [ ] What BE systems will be written to once Veteran checks in?

- [ ] Are integrations already in place on vets API or have to be created?

- [ ] How

[2021-04-28 17:54] #21000 closed

[2021-04-28 17:55] jason-gcio commented on #22969
@vhenry07 - can we chat about the **Should** feedback in this ticket?  I want to make sure we are addressing titles in wizards correctly and figured I would start with you.  Prolly need to ask a content person as well but starting here.

You know of other wizards that have titles in their cards for wizard dead-end points?

[2021-04-28 17:58] kristenmcconnell commented on #23231
Need to repurpose or delete this ticket. It is currently an exact copy of #23233.

[2021-04-28 18:00] holdenhinkle commented on #23888
Google spreadsheet - https://docs.google.com/spreadsheets/d/1QKC0d31lARWY83vztyQXTY0pA1mZkjSqVkILQfraHl4/edit?usp=sharing

[2021-04-28 18:02] #23478 closed

[2021-04-28 18:05] jwoodman5 opened #23946 "Draft Plan for VEO Training"
[not-tier-2-lesson-plan.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/6455236/not-tier-2-lesson-plan.docx)
## Issue Description
_As part of our effort to improve contact center resources, we will be creating training (and related documentation) to provide oral and written training to VEO trainers_

---
## Tasks
- [x] _Outline primary necessary training to be covered in

[2021-04-28 18:08] #22512 closed

[2021-04-28 18:11] vhenry07 commented on #22969
@jason-gcio Here are a couple examples, though not certain they fit your use case exactly:
https://staging.va.gov/disability/file-disability-claim-form-21-526ez/introduction
https://staging.va.gov/decision-reviews/higher-level-review/request-higher-level-review-form-20-0996/introduction

[2021-04-28 18:16] leahkeeler opened #23947 "VetLink process flow review"

[2021-04-28 18:16] denisecoveyduc opened #23948 "General Analytics Request for Search & Discovery"
# Metrics Reporting Request

## What this form is for

Use this template to request one-off performance, usability, or outcomes va.gov metrics that is difficult to access or that needs analytics interpretation. If you have your KPIs set, please [request a KPI dashboard](https://github.com/department-of-veterans-affairs/va.gov-team/issues/new?assignees=joanneesteban&labels=analytics-insights%2C+ana

[2021-04-28 18:17] LeKeve commented on #23246
This ticket appears to be blocked by [23767](https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/23767). I don't believe we can redirect to the appointment details page without the id from the confirmed appointment.

[2021-04-28 18:23] joanneesteban opened #23949 "Design Base Architecture for Search KPIs"
## Issue Description
How might we design the base architecture for Search KPIs so that we (and in the future, others) can automate those KPIs into a BI Tool?

We'll be able to use the [Forms KPI architecture](https://github.com/department-of-veterans-affairs/va.gov-team/issues/22479) as a starting point.

---
## Tasks
- [ ] Design base architecture for Search data in BigQuery

## Acceptance Criter

[2021-04-28 18:24] jwoodman5 commented on #18706
@jwoodman5 to split out any should/could be dones, which are not yet, then close this ticket in Sprint 51.

[2021-04-28 18:25] joanneesteban opened #23950 "Technical Discovery for Search KPIs query standardization"
## Issue Description
How might we understand which Google Analytics data needs to be pulled into calculating funnels so that we can start to query high priority KPIs?

---
## Tasks
- [ ] Review Audit to Search standardized queries
- [ ] Update any Search standardized queries where necessary

## Acceptance Criteria
- [ ] Platform Analytics has an outline for which interaction data should go into di

[2021-04-28 18:25] joanneesteban commented on #23950
Continuation of https://github.com/department-of-veterans-affairs/va.gov-team/issues/22481

[2021-04-28 18:30] jwoodman5 commented on #20524
@clantosswett Are we clear to send these recommendations ^ to ORMDI?

[2021-04-28 18:33] #23461 closed

[2021-04-28 18:35] peggygannon opened #23951 "Content Feedback - Midpoint review - Notice of Disagreement"
## VFS acceptance criteria
- [ ] Let VSP know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
-

## Feedback
- **Must** = the feedback must be applied
- **Should** = the feedback is best practice
- **Consider** = suggestions/enhancements

[2021-04-28 18:37] ericboehs commented on #20745
@andreahewitt-odd Could you post the results here or prime Jeff to be able to do this please?

[2021-04-28 18:39] dneel-bah opened #23952 "CT Redesign: Add content for when no search results are displayed"
As a developer, I need to add content for when no results are found using the redesign search by location functionality so that users know during usability testing that the search was unsuccessful.

## Assumptions:
1. This work is completed in the CT sandbox found here: https://staging.va.gov/gi-bill-comparison-tool-sandbox/

## Acceptance Criteria

#### For name search
1. If filters have been app

[2021-04-28 18:42] jeff2d2 opened #23953 "Investigate all Dangerous query method deprecations for security vulnerabilities"
Created out of https://github.com/department-of-veterans-affairs/va.gov-team/issues/23853

### AC
- [ ] Investigate how many dangerous query method deprecations there are and sample a handful to gage complexity
- [ ] Create ticket(s) for dangerous query method deprecations found

[2021-04-28 18:42] jeff2d2 opened #23954 "Use config/brakeman.ignore for vulnerability whitelist instead of hiding warnings with a lambda"
Created out of https://github.com/department-of-veterans-affairs/va.gov-team/issues/23853

### AC
- [ ] X

[2021-04-28 18:42] jeff2d2 opened #23955 "Determine if other warnings are hidden with lambdas"
Created out of https://github.com/department-of-veterans-affairs/va.gov-team/issues/23853
- This can be done concurrently with #23953

### AC
- [ ] X

[2021-04-28 18:43] jeff2d2 opened #23956 "Limit status variable to known list within scope definition"
Created out of https://github.com/department-of-veterans-affairs/va.gov-team/issues/23853

### AC
- [ ] X

[2021-04-28 18:44] jbalboni commented on #23246
@LeKeve You're correct that we ultimately want to redirect to that page, but since we can't do that, this ticket is to update the current direct schedule confirmation page to match the design of the `appointments/va/:exampleId` page, when the homepage refresh flag is on.

[2021-04-28 18:48] holdenhinkle commented on #23845
To-do:
- [ ] Add Percy to GitHub actions
- [ ] Integrate with Darius' Cypress parallelization
- [ ] Take Percy screenshots on merge-to-master only

[2021-04-28 18:50] #19539 closed

[2021-04-28 18:51] #18892 closed

[2021-04-28 18:53] jwoodman5 commented on #21560
We are running the Medallia satisfaction survey through the end of May 2021 and will provide recommendation at that time. Dropping this in the backlog for now.

[2021-04-28 18:54] jwoodman5 commented on #18646
@joanneesteban Do you think this needs to remain open?

[2021-04-28 18:55] #15620 closed

[2021-04-28 18:58] allison0034 opened #23957 "Design Feedback - Staging Review | Anchor Tag Pilot on CoronaFAQ Page | C+L Team"
## VFS acceptance criteria
- [ ] Let VSP know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
-

## Feedback
- **Must** = the feedback must be applied
- **Should** = the feedback is best practice
- **Consider** = suggestions/enhancements

**Must:**

**Should:**

**Consider:**

##

[2021-04-28 18:58] jeff2d2 commented on #23853
Above issues created and comment above edited to include links

[2021-04-28 19:00] #20580 closed

[2021-04-28 19:00] LeKeve commented on #23246
Got it. Updated the ticket description.

It looks like appointment cancelation on the confirmation page won't be possible without an id. Will note on PR to reflect that difference from the design specs.

[2021-04-28 19:02] Kimberley2019 commented on #18190
Since Salesforce cases are majority caught up, the major support catch up effort can be considered done.

The second phase is to identify the best solution for providing the appropriate teams with the cases they need to review and ultimately resolve.

@edpearson20  and I are taking the trainings that are offered through DOMO and will be doing discovery work around its capabilities.

[2021-04-28 19:05] bethpottsVADEPO commented on #22727
@RLHecht Thanks so much!

[2021-04-28 19:07] micahchiang opened #23958 "COE - Feature Toggle Static and App Pages"
## Description
We want control over how our application gets rolled out to users. We can do this by adding Flipper feature toggles to any static landing pages containing links to our application, and by adding a feature toggle to the introduction page of the application itself.

## Considerations
- Add a new COE feature toggle [to this yml file in vets-api](https://github.com/department-of-veteran

[2021-04-28 19:07] dneel-bah opened #23959 "CT Redesign: Add autocomplete menu to search by location"
As a developer, I need to add an autocomplete menu to the search by location field so that it can be usability tested.

## Assumptions:
1. This work is completed in the CT sandbox found here: https://staging.va.gov/gi-bill-comparison-tool-sandbox/
2. "Use my current location" is out of scope for this story.

## Acceptance Criteria
1. The autocomplete menu displays up to a maximum of 6 results in a

[2021-04-28 19:08] Kimberley2019 commented on #17179
This meeting will be taking place on 4/30/2021.

I have a few 'pie in the sky' ideas that I would like to present to VEO to fully understand our capabilities within Salesforce.

[2021-04-28 19:10] allison0034 commented on #23841
@vhenry07 I do not see a prototype or link. Can you please post one?

[2021-04-28 19:12] jason-gcio commented on #22969
Hmm, yours don't have titles on the cards either...ok, thanks!

@allison0034 - I need some help seeing what an example of titles on these cards might look like (feedback from **Should**👆).  If there aren't any out there "in-the-wild" I can certainly make an example...just want to make sure we are making them correctly.

[2021-04-28 19:13] allison0034 opened #23960 "Design Feedback - Midpoint Review [Claims & Appeals Team, Notice of Disagreement]"
## VFS acceptance criteria
- [ ] Let VSP know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
-

## Feedback
- **Must** = the feedback must be applied
- **Should** = the feedback is best practice
- **Consider** = suggestions/enhancements

**Must:**
- Replace all green buttons wit

[2021-04-28 19:14] micahchiang opened #23961 "COE - Add react route to devops repo"
## Description
In order for client side routing to work as expected, a new route needs to be added to the devops repo rev-proxy

## Tasks
- [ ] add `/housing-assistance/home-loans/apply-lgy-form-1880` to [this file](https://github.com/department-of-veterans-affairs/devops/blob/1718246696e7a8de075fb6cef6556ca6265f6550/ansible/deployment/config/revproxy-vagov/vars/react_routes.yml#L2)

## Acceptance

[2021-04-28 19:14] tressaellen commented on #23308
Okay, I've updated everything with your edits as well as all of the screenshots. Let me know if you have any last edits.

[https://app.zenhub.com/files/133843125/36c2e767-0a1e-466f-8952-008edab660c4/download](https://app.zenhub.com/files/133843125/36c2e767-0a1e-466f-8952-008edab660c4/download)

I also chatted with Erik about the order of the health care links, and they're the same in both use case

[2021-04-28 19:15] Samara-Strauss commented on #7324
Closing this since we removed this feature for the new dashboard.

[2021-04-28 19:15] #7324 closed

[2021-04-28 19:16] jwoodman5 opened #23962 "Migrate Remaining ForeSee Feedback Surveys to Medallia"
## Issue Description
_As part of our transition to Medallia surveys, we need to migrate all ForeSee surveys to Medallia. We are starting with Feedback surveys and plan to complete our migration effort._

---
## Tasks
- [x] _Use URL list (attached here) exported from ForeSee to determine team owners of pages where ForeSee Feedback surveys are live_
- [x] _Inform teams of planned migration and gain

[2021-04-28 19:17] DanielleThierryUSDSVA commented on #23685
Hi @RLHecht. Would you be able to copy edit this doc before I send over to the VHA folks for review?

[VA.gov_patient advocate information for review_04.28.21](https://app.zenhub.com/files/133843125/baea39aa-1fac-4263-88bc-fd0e1e2ba663/download)

[2021-04-28 19:19] joshkimux opened #23963 "508-defect-1 ❗ Launchblocker [SCREENREADER, COGNITION]: Button label is not comprehensible to screen reader users"
# [508-defect-1 :exclamation: Launchblocker](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-1)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and a

[2021-04-28 19:22] Samara-Strauss commented on #18363
We no longer need this. Closing.

[2021-04-28 19:22] #18363 closed

[2021-04-28 19:22] vhenry07 commented on #23841
Added. GitHub formatting snafu.

[2021-04-28 19:23] allison0034 commented on #22969
@jason-gcio @vhenry07 you are correct, currently some wizards in production do not have card titles. If you look at [the wizard](https://design.va.gov/patterns/wizards), this card should not only have a card title but it should in an alert style. Sorry, I missed the alert styles. I put it as should because I know in production we have examples without the alert styles/titles and we are retiring th

[2021-04-28 19:24] Kimberley2019 commented on #6958
This ticket can be in conjunction with the [this](https://github.com/department-of-veterans-affairs/va.gov-team/issues/17361) ticket.

@starlow00 will be developing a 'Train the trainer' plan to assist with VEO agent training.

[2021-04-28 19:24] jwoodman5 opened #23964 "AVA - Manage Implementation of Suggested Improvements"
## Issue Description
_What details are necessary for understanding the specific work or request tracked by this issue?_

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attac

[2021-04-28 19:25] considerable opened #23965 "Adding Igor Yegorov to DSVA Slack"
Adding [Igor Yegorov] to DSVA Slack

The following individual igor.yegorov@adhocteam.us needs be added as a full member guest to Digital Service @ VA Slack.

Thanks

[2021-04-28 19:26] jason-gcio commented on #22969
I remember those alert styles - I think we were putting this together when those conversations were being had.  We'll move them towards alerts but may take a little longer as we get Content to approve language.

[2021-04-28 19:26] jason-gcio commented on #22969
And, thank you @allison0034!

[2021-04-28 19:28] mpelzsherman commented on #23481
Confirmed by testing locally against Tugboat. Closing.

[2021-04-28 19:28] #23481 closed

[2021-04-28 19:28] jason-gcio commented on #22969
Future @jason-gcio: **Must* is in progress, **Should** needs a separate ticket to move the dead-end cards to alerts + language.

[2021-04-28 19:30] k80bowman commented on #23004
@Cgfor3 and I have been making our way through the updated spreadsheet, analyzing each of the test failures and looking for causes. We're compiling our observations and should be able to start making recommendations for how to fix each test soon.

[2021-04-28 19:33] micahchiang opened #23966 "CHP31 - Remove feature toggle code and update to use action links"
## Description
Per feedback from design on ticket #22969, feature toggle buttons need to be updated to action links. Additionally, now that chapter 31 is at 100% in production, all feature toggle code should be removed and replaced with their UI state for when the toggle is turned on.

## Considerations
- https://design.va.gov/components/action-links
- https://design.va.gov/storybook/?path=/docs/c

[2021-04-28 19:37] RLHecht commented on #23685
@DanielleThierryUSDSVA This looks good. I added one word that was missing.
[VA.gov_patient advocate information for review_04.28.21.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/6394331/VA.gov_patient.advocate.information.for.review_04.28.21.docx)

[2021-04-28 19:38] Samara-Strauss commented on #17498
Closing this. First, this should have never been submitted, as we already had My VA stats in GA. I apologize, as it was never communicated to me that this conversation had been started.

Second, we are now talking about My VA redesign analytics in #23336.

[2021-04-28 19:38] #17498 closed

[2021-04-28 19:39] Samara-Strauss commented on #18176
Closing. This is no longer needed.

[2021-04-28 19:39] #18176 closed

[2021-04-28 19:41] tressaellen commented on #22543
Update here - I don't think there is a need for a dry run for this. Trevor mentioned that things are 1:1 for IOS and Android, and we can double check that with the study that Leyda is running (it will be before ours).

I do recommend that we still run a practice run when it's time for our study though.

If there isn't anything else for this ticket, then I think we're good to close.

[2021-04-28 19:43] dneel-bah opened #23967 "CT Redesign: Add Use my current location functionality"
As a developer, I need to add use my current location functionality to the redesign search by location so that it can be tested during usability testing.

## Assumptions:
1. This work is completed in the CT sandbox found here: https://staging.va.gov/gi-bill-comparison-tool-sandbox/
2. Outlined behavior is similar to [facility locator](https://www.va.gov/find-locations/)

## Acceptance Criteria:
1.

[2021-04-28 19:45] jwoodman5 commented on #23962
[Potential Public Websites ForeSee Surveys_JHedits.xlsx](https://github.com/department-of-veterans-affairs/va.gov-team/files/6394379/Potential.Public.Websites.ForeSee.Surveys_JHedits.xlsx)

[2021-04-28 19:45] jwoodman5 commented on #23932
[SF-CRM-Tracking-Fields.xlsx](https://github.com/department-of-veterans-affairs/va.gov-team/files/6394382/SF-CRM-Tracking-Fields.xlsx)

[2021-04-28 19:56] #23235 closed

[2021-04-28 19:57] joshkimux opened #23968 "508-defect-2 [FOCUS]: Focus must remain on the copy link button after use"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2021-04-28 20:04] kristenmcconnell commented on #13153
@mlighdc @leahkeeler Following up on this ticket that is still in the blocked column. Ming - Did we answer question #1 from the comment on Dec. 4 (shown below)? Besides that, I think we answered everything in this ticket, so it could be closed.

1. I logged into staging and found the following two identical examples of a checkbox to read and accept the privacy policy before submitting a form. Do w

[2021-04-28 20:06] jhouse-solvd opened #23969 "Security (IAM) - Replace AmazonEC2RoleforSSM across all instance profiles"
## Description
Replace `arn:aws-us-gov:iam::aws:policy/service-role/AmazonEC2RoleforSSM with arn:aws-us-gov::aws:iam:policy/AmazonSSMManagedInstanceCore` across all instance profiles, as AmazonEC2RoleforSSM is being deprecated as per the description:

## Background/context/resources
We use the AmazonEC2RoleforSSM policy in 69 roles

---
## Tasks
- [x] Modify the Terraform to replace the existing r

[2021-04-28 20:08] joanneesteban commented on #18646
Probably not, thanks for flagging!

[2021-04-28 20:08] #18646 closed

[2021-04-28 20:08] ajakabcin commented on #22543
Awesome thanks for closing the loop on this. Please let us know how the other study goes in case there's anything we need to adjust for.

[2021-04-28 20:08] #22543 closed

[2021-04-28 20:08] ala-yna opened #23970 "Staging Review [Caregivers - Sign as a Representative]"
## Steps to complete Staging Review:

- [x] VFS Product Manager: Create this issue and fill in your team and feature name in the title.
- [ ] VFS: Link to this issue once created in [#vfs-platform-support](https://dsva.slack.com/channels/vfs-platform-support) in Slack; tag @vsp-product-support-members.
- [x] VSP: Schedule meeting with VSP reviewers and requesting team attendees (as listed below)
-

[2021-04-28 20:13] Samara-Strauss commented on #23308
These are my final updates. Nothing major, and I don't need to review again unless there are major changes. Great job! The guide looks great :D

[My VA call center guide_Samara's edits_4.28.21.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/6394530/My.VA.call.center.guide_Samara.s.edits_4.28.21.docx)

[2021-04-28 20:16] mmiddaugh commented on #21404
Ok - this issue documents several completely separate issue so I will attempt to summarize here:

**Empty link and missing header in Sheridan VAMC**
- the empty link teaser was resolved by a content editor
- the missing header was a content issue, complicated by it being a non-required field. Kevin Walsh populated the field to resolve the immediate issue but we need to make a decision about how to

[2021-04-28 20:18] shiragoodman commented on #23970
hey @ala-yna  - scheduled for 5/6 at 1:30 pm ET

[2021-04-28 20:21] brianalloyd commented on #21787
@1Copenut we did some work on this improvement and should be ready for validation when you have bandwidth.  Thanks @kelsonic for the work on this ticket.

[2021-04-28 20:23] LinnJS commented on #23619
@Dene-human do we have a UXPin for these designs?

[2021-04-28 20:25] jenniferlee-dsva commented on #23304
@johnhashva - Regarding feedback doc: We don't want to suggest adding links to campaign pages from global elements such as the top nav and footer. Those things are evergreen and should not be linking ever to temporary, time-based content.

Also - OCTO does not entirely own what things we link to under the About VA flyout menu. Some of those things there are legally required and OPIA has a lot of f

[2021-04-28 20:25] U-DON opened #23971 "Discovery on moving prearchive, archive, and deploy steps from Jenkins to GitHub Actions"
## Description

As we deprecate the CircleCI pipeline (#23489), we are moving linting, unit tests, security audit steps as well as Pact and Cypress tests to GitHub Actions (GHA). We will also be able to run the full build in the GHA workflow with a self-hosted runner (#23300).

The remaining steps from the Jenkins pipeline are prearchive, archive, and deploy to dev and staging. We need to understa

[2021-04-28 20:27] brianalloyd commented on #22226
@rtwell can I get your review on this ticket, did a quick review and everything looks good on my end in support.

[2021-04-28 20:30] #20187 closed

[2021-04-28 20:31] #15516 closed

[2021-04-28 20:31] kelsonic commented on #22226
Heads up that the [recent PR I just merged](https://github.com/department-of-veterans-affairs/vets-website/pull/16970) won't be deployed until tomorrow 🙂

[2021-04-28 20:31] shanemelliott opened #23972 "VANotify 2 way integration"
https://dsva.slack.com/archives/C01D2T36XLL/p1617300986022000?thread_ts=1617300863.021900&cid=C01D2T36XLL

[2021-04-28 20:32] Dene-human commented on #23613
[Living Doc](https://docs.google.com/document/d/1MJaemi4cSI8AvNtzBwX4SlXT4ouUOGo4-KGE5YYcssA/edit#) for comments and questions

### Signature page
**Primary Family Caregiver applicant’s statement of truth**
<img width="694" alt="primary statement update" src="https://user-images.githubusercontent.com/80857940/116468259-a1261b80-a83e-11eb-8b71-46c00b0d9fcd.png">

1. Update text with below:

I certi

[2021-04-28 20:32] jwoodman5 commented on #16062
Need to review again with VEO to get a decision. Add to VEO mtg agenda for 5/5.

[2021-04-28 20:33] brianalloyd commented on #23495
Closing this ticket based on completion of defined tasks. Thanks all for the assistance.

[2021-04-28 20:33] #23495 closed

[2021-04-28 20:36] bessgreen opened #23973 "Fetch 12 months of upcoming appointments"
## User story
As a user, if I have confirmed/upcoming appointments over the next year, I want to see these in the VA mobile app.

## Acceptance Criteria
1. When making the call to load upcoming appointments, request 12 months of appointments

Note for dev: currently, the frontend is fetching 6 months

[2021-04-28 20:36] Dene-human commented on #23619
@LinnJS Please let me know if this is what you need.  https://preview.uxpin.com/e3a1c4cfb7408175af0bc54173e311d14a406ae2#/pages/138525977/simulate/sitemap?mode=i

[2021-04-28 20:37] jwoodman5 commented on #9312
This will move forward with BAM1 team as part of a holistic effort to better support these types of requests.

[2021-04-28 20:37] #9312 closed

[2021-04-28 20:41] mmiddaugh opened #23974 "Default title for VAMC Common links"
## Issue Description
The blue Common links box has a Title field which is not required. Defects were observed on Sheridan VAMC, initially due to content missing entirely but rendering with empty link tags on the front end. Subsequently, an editor entered link teaser content but left the title field empty.

The immediate need was resolved by entering a title but we have an opportunity to build in a

[2021-04-28 20:42] #21751 closed

[2021-04-28 20:43] mdewey commented on #23345
Create the 7 tests in cypres

[2021-04-28 20:47] mmiddaugh commented on #21404
@1Copenut this one can be validated on the following pages:

Empty phone links
- https://www.va.gov/salt-lake-city-health-care/locations/
- https://www.va.gov/salt-lake-city-health-care/locations/cache-valley-va-clinic/

Empty links in blue Common links box
- https://www.va.gov/sheridan-health-care/

[2021-04-28 20:53] starlow00 commented on #23874
Hello @dneel-bah . Attached is a draft of the product guide with my edits. Please look it over and let me know if you're good with changes, then I can have VEO review. Since this is set to launch 4-30, the sooner you can reply, the better.

Note: I will have video/transcript notes (if any) for your review by Thurs. 4-29.

[Education.22-1990S.Product.guide_ST_042721.docx](https://github.com/departm

[2021-04-28 20:55] mmiddaugh opened #23975 "Default type of care attribute"
## Issue Description
The `type of care attribute` determines the categorization of services for VAMCs and Vet Centers - and can be different for the products. The use will expand as other facilities come into CMS (ie: NCA, VBA). VAMC and Vet Centers may offer the same service but categorize and describe it differently so we cannot rely on the defined type of care determined by VHA to be used acros

[2021-04-28 20:56] joshkimux opened #23976 "508-defect-3 [TOUCH]: Touch target size should be at least 44x44px"
# [508-defect-3](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2021-04-28 21:00] holdenhinkle commented on #23845
WIP

Darius' branch
=> [Run Cypress tests in parallel on Jenkins #16916](https://github.com/department-of-veterans-affairs/vets-website/pull/16916)

Percy docs
=> https://docs.percy.io/docs/jenkins

---

Are we using the [GitHub Branch Source plugin](https://docs.cloudbees.com/docs/cloudbees-ci/latest/cloud-admin-guide/github-branch-source-plugin)?

---

Where to store the PERCY_TOKEN env var?

--

[2021-04-28 21:02] jenniferlee-dsva commented on #22196
@kelsonic - I'm not sure I can ever hope to understand Lodash method, not being an engineer!  I believe @ncksllvn  already had a blacklisted list of words implemented for RS search. So if there's a way to continue to add on to that, that would probably keep things simpler than having a different blacklist list for RS search.

@ncksllvn - do you remember how we previously implemented the exclude-li

[2021-04-28 21:13] mdewey opened #23977 "[FE] Testing Data for QA Team"
- [x] Create data properties changes for testing no show appointments
- [x] POSTMAN scripts for deleting QR

[2021-04-28 21:14] mdewey opened #23978 "[FE] Mock data for demo"
Update mock data for demo

[2021-04-28 21:25] brianalloyd commented on #22226
Thanks @kelsonic wasn't sure on timing release for the deployment.  We'll program for validation tomorrow.

[2021-04-28 21:28] DanielleThierryUSDSVA commented on #19908
Hi @mnorthuis! Just went over the preview pages with the SMEs today. We have some minor little things to solidify together, but the content is pretty much finalized so wanted to share the links to the pages.

As we talked about briefly, we could recommend redirecting all pages to the main Manage your VA debt page: http://preview-prod.vfs.va.gov/preview?nodeId=6521

If we do want to consider redire

[2021-04-28 21:43] #23448 closed

[2021-04-28 21:44] laurenernest commented on #23731
Great! That audit turnaround was quick too! Closing ticket.

[2021-04-28 21:47] laurenernest commented on #18855
Provider Selection launched/toggle 100% on 4/26 and all issues in this epic are complete. Closing ticket.

[2021-04-28 21:47] #18855 closed

[2021-04-28 21:56] patrickvinograd opened #23979 "Make sure escalation paths for all mobile app dependencies are documented"
In case of outages or debugging, we want to be able to reliably escalate issues to the other VA teams that we depend on:

* VSP
* The upstream system for each feature
  * MHV
  * EVSS
  * VA Profile
  * _VAOS_
* Gateway ops

We're still figuring out how shared on call responsibility will shake out so some of this may flow through VSP, but it would still be a good citizenship thing to make sure any

[2021-04-28 21:58] mmiddaugh opened #23980 "Design intent [Facilities - Expandable alert for Vet Center operating status](DRAFT)"
## Steps to complete Design Intent Collaboration
- [ ] VFS Product Manager or Designer: Create this issue and fill in your team and feature name in the title.
- [ ] VFS: Link to this issue once created in #design in Slack; tag @vsp-product-support-members.
- [ ] VSP: Schedule meeting with VSP reviewers and VFS team attendees (listed below).
- [ ] VFS: At least 2 days before scheduled meeting/revie

[2021-04-28 22:06] #22181 closed

[2021-04-28 22:06] kelsonic commented on #22181
Follow-up ticket: https://github.com/department-of-veterans-affairs/va.gov-team/issues/22196

[2021-04-28 22:08] patrickvinograd opened #23981 "Create mobile dashboards"
Mobile probably warrants a series of dashboards:

1. Overview dashboard with overall mobile API Request Rate / Errors / Latency (RED Method), and if we can, upstream statuses (or link to fwdproxy dash but I'd rather have it in one place).

2. Depending on how much data there is,  per-feature dashboards with more details, e.g. if we have metrics around caching within appointments/SM, that would be

[2021-04-28 22:14] jonwehausen commented on #23102
### Data Layer Specification

| Description of Interaction | Data Layer Specification | Dev Notes
| -- | -- | -- |
**Click on link click within "COVID-19 vaccines at VA" banner** <br><br> ![image](https://user-images.githubusercontent.com/48527022/116478014-77272600-a84b-11eb-9c17-3e92388deaee.png) | `datalayer.push({`<br>`event: 'nav-alert-box-link-click'`<br>`'alert-box-status': 'info'`<br>`'ale

[2021-04-28 22:16] patrickvinograd commented on #23865
I confirmed that all API requests under the mobile module are getting collapsed under `app=api, component=mobile`. Since the mobile module encompasses a wide range of features that's not very helpful.

One mitigating factor is that we do have per-controller metrics from the `api_rack_requests` instrumentation in rails. But I would like to capture this in nginx as well.

## Options
1. Change `app`

[2021-04-28 22:20] jonwehausen commented on #23908
### GTM Snippet Installation

@SethNiman As a first step for analytics on the new choose.va.gov site, we'll need to have our Google Tag Manager snippet code embedded on the site.

### Staging Version of New Site

**Paste this code as high in the `<head>` of the page as possible:**

[code]

**Additionally, paste this code immediately after the opening `<body>` tag:**
[code]

-----------------------

[2021-04-28 22:24] DanielleThierryUSDSVA commented on #23685
Thanks so much, @RLHecht!

[2021-04-28 22:30] jonwehausen commented on #23908
| Description of Interaction | Data Layer Specification | Dev Notes
| -- | -- | -- |
**Click on any of the "Apply Now" green buttons** <br><br> ![image](https://user-images.githubusercontent.com/48527022/116480234-f36f3880-a84e-11eb-9b21-263eafc8974e.png) |  `dataLayer.push({`<br>`'event': 'cta-button-click',`<br>`'button-click-label': //dynamically populate with the button label, i.e 'Apply Now'`

[2021-04-28 22:38] jonwehausen opened #23982 "Analytics Implementation for New choose.va.gov"
# Google Analytics Implementation or QA Request

## What this form is for

<details>
<summary>More Information</summary>
<div>
    <br>
<p>Use this template to request Google Tag Manager and Google Analytics implementation or QA for your product. Please fill out all brackets.</p>

For more information, please check out the [Google Tag Manager resources](https://github.com/department-of-veterans-af

[2021-04-28 22:38] jonwehausen commented on #23982
### GTM Snippet Installation

@SethNiman As a first step for analytics on the new choose.va.gov site, we'll need to have our Google Tag Manager snippet code embedded on the site.

### Staging Version of New Site

**Paste this code as high in the `<head>` of the page as possible:**

[code]

**Additionally, paste this code immediately after the opening `<body>` tag:**
[code]

-----------------------

[2021-04-28 23:02] brangi commented on #22728
@lildziner the issues on the accordions seem to be with the component itself
<img width="1376" alt="Screen Shot 2021-04-28 at 6 00 27 PM" src="https://user-images.githubusercontent.com/100468/116483023-e69d1580-a84b-11eb-93e1-5af88a3b09b9.png">

[2021-04-28 23:03] brangi commented on #22728
In IE the header don't even render

<img width="1343" alt="Screen Shot 2021-04-28 at 6 00 36 PM" src="https://user-images.githubusercontent.com/100468/116483035-f0267d80-a84b-11eb-80cf-68e386ddb556.png">

[2021-04-28 23:03] leahkeeler opened #23983 "Business intake form for Debt Resolution | FSR"
## Leah Keeler

## Debt Resolution | Benefits

## Per Research Veterans except to be notified when they fill out FSR online - this will provide Veterans a record and assurance that their FSR has been submitted.

## What is an overview of the notification use case? Once FSR is filled out online - an email is generated letting the Veterans know the FSR has been received.

## What is the user journey

[2021-04-28 23:04] brangi commented on #22728
these issues are for them to fix

[2021-04-28 23:15] DanielleThierryUSDSVA commented on #23823
Latest version: [KMI email #9_final_04.28.21](https://app.zenhub.com/files/133843125/2409ab86-704a-4593-880c-43f526faba12/download)

[2021-04-28 23:17] brangi commented on #22728
This is must be due to CORS, I wouldn't worry about this one now. Map will not show until they fix the CORS configs

I can look into that one but we might have to poke who owns this component as they should be aware of it

This is probably a valid one but really rare use case I can look at

[2021-04-28 23:18] SKasimow commented on #23920
@youngfreezyVA for item

re: 2 - still seeing the icon/text revert in stages. Can the icon and text revert simultaneously?

re: 4 still not working as described above

[2021-04-28 23:21] DanielleThierryUSDSVA commented on #23685
Version sent to SMEs 04.28.21

[VA.gov_patient advocate information for review_04.28.21](https://app.zenhub.com/files/133843125/cf6e9682-7372-43b2-a25c-83587faba074/download)

[2021-04-28 23:44] bessgreen opened #23984 "Message data isn't clearing between sessions"
## What happened?
When logging out of User A and logging into User B, some of the message data from User A is still visible, including their Custom Folder list.

## Specs:
- Device: iPhone 11
- Test users: 41, 261

## Steps to Reproduce
1. Log in with +41. Go to the Folders page of SM. Observe the list of custom folders.
2. Log out
3. Log in with +261. Go to the Folders page. Observe that the list

[2021-04-29 00:07] bsmartin-ep commented on #23733
@cindymerrill -

To examine things at the hit scope, I would compare [the total scroll events on the homepage](https://analytics.google.com/analytics/web/#/report/content-event-events/a50123418w177519031p176188361/explorer-table.plotKeys=%5B%5D&explorer-table.secSegmentId=analytics.pagePath&explorer-table.advFilter=%5B%5B0,%22analytics.pagePath%22,%22EQ%22,%22www.va.gov~2F%22,0%5D%5D&_r.drilldown=

[2021-04-29 00:29] #23807 closed

[2021-04-29 00:29] #23808 closed

[2021-04-29 00:29] #23809 closed

[2021-04-29 00:29] #23810 closed

[2021-04-29 00:29] #23811 closed

[2021-04-29 00:29] #23812 closed

[2021-04-29 00:29] #23813 closed

[2021-04-29 00:29] #23814 closed

[2021-04-29 00:29] #23815 closed

[2021-04-29 00:29] #23816 closed

[2021-04-29 00:32] ashley-matthews opened #23985 "SM Time Spent Analytics"
**User Story**
As a team, we want to understand how users are spending their time on SM so that we can better enhance the experience.

**Acceptance Criteria**
* We want to track:
   * Total time spent on SM per user/ session
   * Time to send a new message (need to think about how we should handle when the app closes)

[2021-04-29 00:36] ashley-matthews opened #23986 "# of SMs Sent Metric"
**User Story**
As a product team, we want to know how many secure messages are being sent by users so that we understand how users are engaging with the app.

**Acceptance Criteria**
* need to track the total number of all SMs are sent per user in the last 30/90/365 days
  * would be ideal to see range + mode

[2021-04-29 00:47] bsmartin-ep commented on #19547
### QA

Interaction|dataLayer|GTM tagging|Pass?
---|---|---|---
Load [page with anchor](https://staging.va.gov/coronavirus-veteran-frequently-asked-questions-esp/#pruebas-de-covid-19-en-va).|![image](https://user-images.githubusercontent.com/62304138/116488827-5d90d900-a861-11eb-9e04-46fda360d59d.png)|![image](https://user-images.githubusercontent.com/62304138/116488843-68e40480-a861-11eb-8f6a-a61

[2021-04-29 01:56] brangi commented on #22728
fixed `Columns not stacking correctly on hours section on IE/mobile viewport sizes`
<img width="972" alt="Screen Shot 2021-04-28 at 8 53 57 PM" src="https://user-images.githubusercontent.com/100468/116493367-338ce600-a864-11eb-8735-3db982e79271.png">

[2021-04-29 11:30] lildziner commented on #23980
## [Design problem description](https://preview.uxpin.com/0a5eaacdf411fde0cb3abf4932010c29fbccb7de#/pages/138515145?mode=cvhid)

#### Design option A
[(see prototype)](https://preview.uxpin.com/0a5eaacdf411fde0cb3abf4932010c29fbccb7de#/pages/138511926?mode=cvhid)

![op-status-expandable-A.png](https://images.zenhubusercontent.com/5c4895778d88074ab2c6ad18/231bae74-34d1-4e7e-9c1a-0a2ad6cd6e03)

####

[2021-04-29 12:30] timwright12 commented on #21404
This is still hung up in PR, it was requested that we also get some unit tests in there. Can someone point me to the empty links in https://www.va.gov/sheridan-health-care/ ? I'm not able to find them

[2021-04-29 12:33] sonntag-adam commented on #23442
https://dsvavsp.testrail.io/index.php?/runs/view/1773&group_by=cases:section_id&group_order=asc

[2021-04-29 12:34] sonntag-adam commented on #23442
@department-of-veterans-affairs/uxbah this is ready

[2021-04-29 12:41] JenLJ commented on #23442
UX Review 1/2: This checks out for me

[2021-04-29 12:45] ala-yna opened #23987 "Assess changes to the 10-10EZ"
Assess changes to the 10-10EZ and estimate the difficulty to implement

[2021-04-29 12:48] MarciMcGuireGCIO opened #23988 "Discharge Upgrade Wizard: Update DD149 PDF link on DD214 Request Page"
### What's the Problem
1. The DD 149 PDF download link contained on the [upgrade discharge status wizard DD214 request page](https://www.va.gov/discharge-upgrade-instructions/request-dd214) does not open properly in some browsers. The PDF form is located at this URL https://www.esd.whs.mil/Portals/54/Documents/DD/forms/dd/dd0149.pdf.   Instead of seeing the PDF form, the user gets this confusing m

[2021-04-29 13:00] MarciMcGuireGCIO opened #23989 "Find a VA Form: Schedule Search Term Transformation Iteration 2 Midpoint Review"
When search update is ready to be reviewed, schedule async midpoint review with VSP

https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/working-with-vsp/vsp-collaboration-cycle/touchpoint-midpoint-review.md

[2021-04-29 13:01] MarciMcGuireGCIO commented on #21639
This ticket is covered in another issue.  Closing.

[2021-04-29 13:02] jbritt1 commented on #17495
With the holdoff on applies, planning for future implementation of our own automation to replace this service, etc. can this be closed at this time? CC @jhouse-solvd

[2021-04-29 13:03] MarciMcGuireGCIO commented on #20517
Lighthouse team has created their own ticket.  Closing.

[2021-04-29 13:03] #20517 closed

[2021-04-29 13:13] ala-yna commented on #23987
### Questions to ask the HCA team:
- Do we need to add "Type of benefit applying for" to the online application?
- The following fields that are not currently collected on the online form - is there a requirement to add them?
    - Veteran preferred name
    - Self-identified gender identity (for Veteran or spouse)
    - Next-of-kin name, address, relationship, telephone
    - Designee (individual

[2021-04-29 13:16] #22817 closed

[2021-04-29 13:17] MarciMcGuireGCIO commented on #22866
Moved to Sprint 47 since we asked the Lighthouse team to make the Spanish URLs a priority this sprint.

[2021-04-29 13:18] #23387 closed

[2021-04-29 13:19] #23538 closed

[2021-04-29 13:20] MarciMcGuireGCIO commented on #23599
@zacharymorel do you want a separate ticket for the FE change to add a new sorting option to the select, or would you prefer I add that to this one?  Thx!

[2021-04-29 13:20] mdewey commented on #23492
@kristenmcconnell  This is in staging. Can you verify?

[2021-04-29 13:26] lildziner commented on #23454
Waiting on:
• confirmation of final categorization of services (those not yet in Drupal)
• decision on addition of a subhead to replace "Care we provide at [Orlando]" and final wording.  e.g. just strip out location and shorten to "Care we provide:"?

Is the following correct:

### Counseling services

- Couples and family counseling
- Grief and bereavement counseling
- LGBT Veteran care
- Intimat

[2021-04-29 13:28] Mottie commented on #23960
Hi @allison0034!

I have a couple of questions related to the implementation. First off, the screenshot isn't from our NOD form.

Last I heard, Shawna and Chris V. were going to test this to determine if should be done globally. I have a PR to switch this for NOD introduction page specifically, but held off after our discussions in the Design Council Meeting.

This is currently globally implemente

[2021-04-29 13:30] brianalloyd opened #23990 "[FE] Remove reference the use of the soon-to-be-deprecated audience_tags"
## Issue Description
_Remove reference the use of the soon-to-be-deprecated audience_tags. It would be blocked by some content changes for the existing CLPs, which in turn is blocked by the PRs _

Reference CMS Ticket #4989

[Slack Convo Here](https://dsva.slack.com/archives/C01DS1XDEQ0/p1619701487087900)

## Acceptance Criteria
- [ ] depreciated audience Tags are removed
- [ ] Validate with CMS (

[2021-04-29 13:45] RLHecht commented on #17521
@brianalloyd Sitewide Content doesn't work on Outreach and Events pages. I did a quick look at this page in the CMS and I don't see where the breadcrumbs are to fix this hyphen so you may need to ask the CMS team for guidance.

[2021-04-29 13:46] 1Copenut commented on #21404
@timwright12 I just looked at Sheridan Health Care in prod a second ago. That issue appears to be resolved. 0 axe violations thrown.

[2021-04-29 13:47] 1Copenut commented on #23731
@laurenernest Much appreciated. Let us know if you need contact creds for the VA 508 office or have questions about submitting the feature for their final Quick Test.

[2021-04-29 14:00] 1Copenut commented on #23384
VSP concurs with @joshkimux feedback!

[2021-04-29 14:00] bsmartin-ep commented on #19547
@youngfreezyVA -

re: `nav-jumplink-click`

You _shouldn't_ need to have the inline onclick recordEvents if you're using _addJumplinkListeners_....

[code]

I'm also seeing a CSP error originating from the inline click...

![image](https://user-images.githubusercontent.com/62304138/116563084-b435fb80-a8d1-11eb-8ac4-be6915e1f6c4.png)

[2021-04-29 14:01] LanceGundersen commented on #23178
Best Practices https://docs.cypress.io/guides/references/best-practices
- [ ] Selecting Elements => by using highly brittle selectors that are subject to change is an Anti-pattern. Recommend using data-* attributes to provide context to your selectors and isolate them from CSS or JS changes. `data-cy="submit”`
- [ ] Creating "tiny" tests with a single assertion => acting like you're writing unit t

[2021-04-29 14:02] jenniferlee-dsva commented on #23920
@SKasimow - your consolidation of bugs reported on Slack LGTM. Awesome job - thank you!

I haven't gone back to revalidate. Will do so again after the go-ahead from you and @youngfreezyVA . BTW, I'm okay checking Monday, as I'm trying to prep for a meeting tomorrow. )

[2021-04-29 14:02] johnhashva opened #23991 "[Reported Bug] Outreach and Events Add to Calendar"
## What happened?
A VA.gov user reports that Outreach & Events "Add to Calendar" don't work as expected and the files appear to be corrupted.   A VA stakeholder tested  this and when it opens directly in Outlook it is fine, but when you save it to the desktop and try to open it (MacOS+Safari+Calendar) it is corrupted.

I tried recreating on my Mac OS/Desktop and was unable to import the file as se

[2021-04-29 14:02] MarciMcGuireGCIO opened #23992 "Find a VA Form: Find a VA Form: Schedule Search Term Transformation Iteration 2 Staging Review"
When search update is ready to be reviewed, schedule async staging review with VSP

https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/working-with-vsp/vsp-collaboration-cycle/touchpoint-staging-review.md

[2021-04-29 14:04] MarciMcGuireGCIO opened #23993 "Find a VA Form: Schedule Search Term Transformation Iteration 2 Contact Center Review"
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/working-with-vsp/vsp-collaboration-cycle/touchpoint-contact-center-review.md

[2021-04-29 14:07] jenniferlee-dsva commented on #14302
The vetted preapproved language is in the original design mock referenced here: https://github.com/department-of-veterans-affairs/va.gov-team/issues/14302#issuecomment-716749875

How do you rate your experience on this page?
- Default state: Good / Bad
- After click state:  Thank you for your feedback.

[2021-04-29 14:10] vhenry07 commented on #23282
Closing complete

[2021-04-29 14:11] kelsonic commented on #22196
@jenniferlee-dsva PR merged that moves the experimental sorting logic to production: https://github.com/department-of-veterans-affairs/vets-website/pull/16990 It will be live today following the daily deploy 🙂

[2021-04-29 14:13] dneel-bah commented on #23874
@starlow00 Thank you for the quick turnaround.  All of the changes looked good.  I did get the information about how VA.gov will link to the application, so I have included that.  I also modified one of the screenshots.

I don't know how to do the linking that you did with the figures so I wasn't able to add it in.  Here is the updated document.
[Education.22-1990S.Product.guide_BAH_042921.docx](h

[2021-04-29 14:18] kelsonic commented on #23990
PR open: https://github.com/department-of-veterans-affairs/vets-website/pull/16996 will await merging until @kevwalsh gives us the green light 🚥

[2021-04-29 14:22] RLHecht commented on #19893
If the link to Access to Care is in running text, my suggestions are in the chart below. I think some of these are CTA buttons though, but admittedly I'm having a hard time reading the code. @kelsonic can you help me with that? @bethpottsVADEPO can you look at my suggestions in the chart and let me know if the wording is OK?
| Before | After |
| --- | --- |
| If you still can’t sign in, please use

[2021-04-29 14:23] denisecoveyduc opened #23994 "Access for Denise Coveyduc"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Do not remove `operations` label; this will notify the VSP Operations team of your request
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Pleas

[2021-04-29 14:25] youngfreezyVA commented on #19547
@bsmartin-ep if you look at the git history you'll see i added that code in dude

[2021-04-29 14:26] sshein commented on #23960
Regarding the action link, I asked the council to hold off recommending the action link until it had been more thoroughly tested. Some of them circled up and decided that they would set up some kind of test but that they would continue recommending it for all buttons that act like links. Maybe Allison can give you background on why that is.

Regarding the upload button on the upload component, can

[2021-04-29 14:26] youngfreezyVA commented on #19547
again... there is no nav jump link click in this feature. while its great to be in the weeds, i'd suggest coming up for some air, and understanding the actual requirements

[2021-04-29 14:26] #23390 closed

[2021-04-29 14:28] MarciMcGuireGCIO opened #23995 "Find a VA Form: Schedule Search Term Transformation Iteration 2 - Update Contact Center Doc"
Plan Contact Center review

https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/working-with-vsp/vsp-collaboration-cycle/touchpoint-contact-center-review.md

[2021-04-29 14:29] jason-gcio commented on #22083
We need to turn Cleveland back off until May 10

[2021-04-29 14:31] ltrombley commented on #23673
Task #23673 - Prepare fargo-health-care for Dual-state [VAMC] -

[2021-04-29 14:31] micahchiang commented on #23223
Uploaded LGY architecture docs - https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/teams/vsa/teams/ebenefits/features/apply-for-home-loan-COE

[2021-04-29 14:33] LinnJS commented on #22618
@tlei123 this is ready to be validated whenever you get a spare moment

[2021-04-29 14:33] RLHecht opened #23996 "Add Veterans Service Officer to style guide"
## Issue Description
We need to add the term Veterans Service Officer (VSO) to the style guide so that it's clear we cap it.

## Tasks
- [x] Add to style guide (Randi)
- [x] Review PR (Beth/Danielle)
- [x] Merge PR (Randi/Beth/Danielle)

## Acceptance Criteria
- [x] Veterans Service Officer (VSO) is in live style guide

[2021-04-29 14:34] #16946 closed

[2021-04-29 14:34] LinnJS commented on #16946
Closing since PR was merged

[2021-04-29 14:35] bsmartin-ep commented on #19547
I am aware you are the one who added the event handler @youngfreezyVA.  Just noting that...

1. There are analytics events on the page that are in the code and not working.
2. A CSP error is occurring that may be related.

[2021-04-29 14:36] ddzz commented on #22374
The `vets-website` PR has been merged into the `pact-github-actions` branch.

[2021-04-29 14:38] RLHecht commented on #23996
@DanielleThierryUSDSVA I added you as a reviewer to the PR for this: https://github.com/department-of-veterans-affairs/vets-design-system-documentation/pull/439

[2021-04-29 14:38] youngfreezyVA commented on #19547
1. those analytics events are not needed for this feature, are you QA'ing the page or this feature?
2. that is a completely unrelated error.

[2021-04-29 14:43] pjhill commented on #23367
@SKasimow Are there any acceptance test cases, manual functional test cases, a test plan, or other QA related artifacts available for review?

[2021-04-29 14:49] jenniferlee-dsva commented on #22196
Please disregard my comment (struck out) above. Kelson and I have a modified plan in place after our sync.

[2021-04-29 14:51] kelsonic commented on #19893
Thanks @RLHecht! Updating the content now. Could you confirm this markup looks right?

[code]

I wasn't sure if the TTY: 711 also needs to be a link? 🙂

[2021-04-29 14:53] #23848 closed

[2021-04-29 14:54] #16992 closed

[2021-04-29 14:55] #19901 closed

[2021-04-29 14:56] kelsonic commented on #19893
@RLHecht Absolutely! 🙂

[2021-04-29 14:57] amyknox commented on #23442
UX Review 2/2: Good news & bad news.

**Good news:** it works as expected & meets AC. Nice!
**Bad news:** there's a typo in AC.  Correct phrasing for confirmation is "active-duty service member"  We need to update this before pushing this to production.

[2021-04-29 14:59] shiragoodman commented on #23980
hey @mmiddaugh  - this is going to sound familiar - could you please submit a [CC Kickoff ticket](https://github.com/department-of-veterans-affairs/va.gov-team/issues/new?assignees=andreahewitt-odd%2C+shiragoodman&labels=vsp-product-support%2C+collaboration-cycle%2C+collab-cycle-review&template=collab-cycle-kickoff.md&title=Collaboration+Cycle+Kickoff+%5BTeam+Name%2C+Feature+Name%5D) for this work

[2021-04-29 15:02] jenniferlee-dsva commented on #22196
per convo with Kelson - this ticket has nothing to do with sort order or sort behavior, so I've edited the ticket name for clarity.

[2021-04-29 15:03] dneel-bah commented on #23442
The AC matched the requested content at the time of story creation.  @elder-joseph @sonntag-adam @delli-gatti-michael I can create a new story or include the updates in this one.  Which would you prefer?

[2021-04-29 15:04] 1Copenut commented on #23562
VSP agrees with @joshkimux feedback!

[2021-04-29 15:05] mmiddaugh opened #23997 "Collaboration Cycle Kickoff [Facilities - Expandable alert for Vet Center operating status]"
## Steps to complete Collaboration Cycle Kickoff
- [x] VFS Product Manager: Create this issue and fill in your team and feature name in the title.
- [x] VFS: Answer the questions below.
- [x] VFS: Link to this issue once created in vfs-platform-support in Slack; tag @vsp-product-support-members.
- [x] VFS: Attach any available artifacts.
- [x] VSP: Review the responses and comment in ticket with r

[2021-04-29 15:06] lildziner commented on #22728
@brangi I updated the items above to note when they're still problematic on Chrome and also struck-thru those you pointed out that have to be fixed at the component level. I rechecked the stacking issue and I'm still seeing that one for some reason.

![image](https://user-images.githubusercontent.com/4960080/116573414-c5cfd100-a8da-11eb-99f7-040ad434cd4a.png)

[2021-04-29 15:10] mmiddaugh commented on #23997
Original Vet Center kickoff #12988

[2021-04-29 15:10] mmiddaugh commented on #23980
Requested Collab kickoff issue: #23997
Original Vet Center kickoff #12988

[2021-04-29 15:14] zacharymorel commented on #23599
@MarciMcGuireGCIO Let's open another. I'm not sure about timing, VSP's involvement and such

[2021-04-29 15:20] ala-yna commented on #23970
@tlei123  - Please add the QA results to this ticket once you have them.

[2021-04-29 15:21] jason-gcio opened #23998 "Adjust Years of Education Question (CH31)"
## Background
In UAT, a participant mentioned that it was difficult to think about the total number of years of education to be entered into the VR&E form.  It would be better to to present an easy to read dropdown that spoke more to levels of education that map to numbers and pass those instead of asking for literal numbers.

### User Story
_As a Veteran, I need to provide my years of education i

[2021-04-29 15:22] dneel-bah commented on #23442
The content has changed since the acceptance of this story.  After discussion with the team, the changes have been agreed to be made as part of this story.  Here is the [content doc](https://github.com/department-of-veterans-affairs/va.gov-team/blob/d3439bca3dcd14cf829c36c913ed4b973bdec138/products/education-careers/application/vettec-0994/design/0994-content.md) with the requested change.

[2021-04-29 15:28] SKasimow commented on #23920
@jenniferlee-dsva sure - np. I didn't realize that @youngfreezyVA updates had not been merged yet which is why I was not seeing a change on above ;)

[2021-04-29 15:32] bsmartin-ep commented on #19547
@SKasimow - our GTM changes have been published.  You should shortly see the new events in our non-prod GA property...

[Link to GA event report](https://analytics.google.com/analytics/web/#/report/content-event-events/a50123418w178298118p176884211/_u.date00=20210429&_u.date01=20210429&explorer-segmentExplorer.segmentId=analytics.eventAction&explorer-table.plotKeys=%5B%5D&explorer-table.secSegment

[2021-04-29 15:35] SKasimow commented on #19547
@jonwehausen @bsmartin-ep @youngfreezyVA Hi all - I'm not following all of ^ but if we are not in synch on the analytics tracking, think next best step would be to set up a short call and review live.

Let me know if we still need alignment and can set this up :)

+  @jenniferlee-dsva

[2021-04-29 15:43] #23156 closed

[2021-04-29 15:43] shiragoodman commented on #23997
Hi @mmiddaugh. Thanks for completing this Collaboration Cycle Kickoff ticket! Based on your responses, your project is an iteration to a static content page(s) so we are recommending the following Collaboration Cycle touchpoints:

- Design Intent ([scheduled #23980](https://github.com/department-of-veterans-affairs/va.gov-team/issues/23980))
- Information Architecture (IA) Request
- Research Plan

[2021-04-29 15:48] shiragoodman commented on #23583
hey @mmiddaugh  - apologies, but I think I made a copy/paste error in my response above. We would recommend a Midpoint Review for this initiative. Midpoint Review's can be held asynch so please feel free to take advantage of that option. The Platform Collaboration Point Tracker has been updated to reflect the change. Please reach out if you have any questions.

[2021-04-29 15:48] brangi commented on #22728
@lildziner yeah the reason is because I have not udated the tugboat instance yet, but I will do it in my next iteration of fixes

[2021-04-29 15:49] MarciMcGuireGCIO commented on #23156
🥳

[2021-04-29 15:49] shiragoodman commented on #23980
@mmiddaugh could you include a requested date/time? Even though the review will be asynch, we still like to have a date to know when to provide feedback back to you and your team.

[2021-04-29 15:51] bsmartin-ep commented on #19547
@SKasimow - this implementation looks good.   We found a CSP error that is affecting certain tracking on staging and production.  We'll open a separate ticket to deal with that.

Thanks!

Closing...

[2021-04-29 15:51] #19547 closed

[2021-04-29 15:51] holdenhinkle commented on #23845
Draft PR for "Integrate Percy with Darius' Cypress parallelization" - https://github.com/department-of-veterans-affairs/vets-website/pull/17000

[2021-04-29 15:54] brangi opened #23999 "Up To Top Button does not render on IE"
## What happened?

Up To Top Button does not render on IE 11

## Steps to Reproduce
visit  https://www.va.gov/resources/can-i-get-a-replacement-gi-bill-benefit-certificate-of-eligibility/
scroll to bottom

 ## Screenshot
Works on edge but not on IE
<img width="1112" alt="Screen Shot 2021-04-29 at 10 52 12 AM" src="https://user-images.githubusercontent.com/100468/116580560-19d9b600-a8d9-11eb-8b66-b

[2021-04-29 15:56] jeff2d2 opened #24000 "Identify reporting mechanism for query times"
**Why**: Currently, there isn’t an easy way for us to see database query times and therefore it is difficult for us to know what queries are the slowest and need to be optimized.

**What**: This work needs to be timeboxed just to 1 sprint. If we don’t have the tools to built this dashboard quickly, we should identify what tool could solve our problem and talk with Dror + Fleet about acquiring what

[2021-04-29 15:56] jeff2d2 opened #24001 "Create visual for DB queries"
### AC
- [ ] X

[2021-04-29 15:59] jonwehausen commented on #16749
No concern with that @bsmartin-ep , thanks for closing here.

[2021-04-29 16:00] MarciMcGuireGCIO commented on #23587
4/29/2021
- 508 Nightwatch issue - ready for peer review; will ping reviewers
- Discharge Upgrade Wizard - Zach is going to break the merges down some to make it easier for review
- Discharge Upgrade Wizard - Zach has it refactored.
- Discharge Upgrade Wizard - Cassandra is going to start working on design intent.

[2021-04-29 16:02] SKasimow commented on #19547
Many thanks @bsmartin-ep @jonwehausen for your support!

+ @jenniferlee-dsva

[2021-04-29 16:04] jhouse-solvd commented on #17357
Jesse to solidify and share artifacts / readout from the results of this initiative. Will work on this during Sprint 51.

[2021-04-29 16:06] jonwehausen commented on #23471
### Next Steps
- @bsmartin-ep I'm handing off to you to to execute QA when staging.va.gov/veterans-trust-va becomes available
- No GTM changes and/or data layer changes should be necessary

[2021-04-29 16:07] timwright12 commented on #21404
@mmiddaugh @1Copenut just merged this, it should be included in today's prod deploy to confirm https://github.com/department-of-veterans-affairs/vets-website/pull/16976

[2021-04-29 16:07] jonwehausen commented on #23471
@brianalloyd and/or @johnhashva Would you all be able to provide a ballpark estimate of when `/veterans-trust-va` will be live in staging? Thanks so much

[2021-04-29 16:08] Kimberley2019 commented on #17179
This meeting has been updated to next week.  Lana has a discrepancy with the time tomorrow due to an unforeseen circumstance and is available next week.  Will update once meeting has been scheduled.

[2021-04-29 16:13] brianalloyd opened #24002 "[FE] Conditional Rendering in CMS"
## Issue Description
_This would include "Conditional rendering elements in CMS that need to be defined by CMS team and action on FE. This would also included "This Page is For" component, fails gracefully in event the optional component is de-selected by the CLP editor via CMS_

Reference Ticket #4989 (Details concerning "This Page is For").

## Front end tasks
- Updated CLPs as baselined

## Acc

[2021-04-29 16:17] rileyorr commented on #23292
My proposal for [the FSR's 'find a form' page](https://staging.va.gov/find-forms/about-form-5655/) updates:

**Title change:** About VA Form 5655

**Related to:** Unsure what guidelines determine what we put here. I looked at multiple results and some listed 1-2 categories while other listed many. Going to reach out to Marci when I make the ticket to see how that team determines what to include in

[2021-04-29 16:19] erikphansen opened #24003 "[FE] Profile: "we can't load all data" error sometimes shown when it shouldn't be on Profile"
I noticed that we are showing the generic "we can't load all the info..." error at the top of the Profile when we cannot load military info even when the user's Veteran status is 'NOT_AUTHORIZED'. While we normally _do_ want to show that error if we cannot load military info, we do not want to show that error if the user's veteran status is `null` or 'NOT_AUTHORIZED'. There is an error in the logi

[2021-04-29 16:19] timwright12 commented on #23717
Relevant slack thread https://dsva.slack.com/archives/C01S39QMSSV/p1619569195069800

[2021-04-29 16:19] lianilychee commented on #23798
Thurs 4/29 update:
- will be taken care either today or tomorrow.  Taking care of means:
  - conduct general review
  - was originally a "generic audit" guide.  Will be adding more details around scenarios ppl might encounter when they migrate from GH or Gatsby
  - streamline the `Getting Support` section
- will pass to Amy after

[2021-04-29 16:19] jason-gcio opened #24004 "Remove Cleveland as Pilot RO (CH31)"
## Background
Now that the Cleveland RO pilot is pushed back to May 10, we need to remove it from the [RO model](https://github.com/department-of-veterans-affairs/vets-api/blob/master/app/models/saved_claim/veteran_readiness_employment_claim.rb#L9) until then.

## Tasks
- [ ] Remove Cleveland from being submitted to

## Acceptance Criteria
- [ ] CMS is not taking any submissions
- [ ] A PR has bee

[2021-04-29 16:19] lianilychee commented on #23799
Thurs 4/29 update:
- Upon return, Amy will be taking point on the guide to deprecate on GH.  Then will pass to Gretchen.

[2021-04-29 16:21] #23717 closed

[2021-04-29 16:22] jeff2d2 opened #24005 "Create and implement policy for when slow queries are detected"
**Why**: Currently, there isn’t an easy way for us to see database query times and therefore it is difficult for us to know what queries are the slowest and need to be optimized.

**What**: After creating a visual for reporting the database query times and showing which are the slowest in [Create visual for DB queries](https://app.zenhub.com/workspaces/vsp---backend-tools-6019ab9387ae890011e05e73/

[2021-04-29 16:22] mmiddaugh commented on #23980
Added Tuesday, May 4 at 11 or 11:30 ET

[2021-04-29 16:23] caw310 opened #24006 "remove Storybook Pilot banner"
Since Storybook is no longer in pilot mode, let's remove the banner announcing it as a pilot.

![Screen Shot 2021-04-29 at 11.32.52 AM.png](https://images.zenhubusercontent.com/5f7b31ff6b746b9c89610731/ca7e0bad-d637-4498-9659-d0ec4234a179)

[2021-04-29 16:24] mmiddaugh commented on #23997
@shiragoodman can we combine these check points into the already established Vet Center collab process? Research has already been done on the operating status component and we intend to add analytics to understand how often Veterans open the accordion to view the details.

[2021-04-29 16:25] ala-yna commented on #23970
@shiragoodman - Per our conversation, can we move this to the 11th? Thank you!

[2021-04-29 16:27] brianalloyd commented on #23471
@jonwehausen due to some delays CLP/Trust will likely not be on staging environment until Monday or Tuesday of next week. CC @johnhashva who will be the publishing authority for this campaign who might have more up to date details.

[2021-04-29 16:29] shiragoodman commented on #23367
todays Staging Review has been cancelled and will be rescheduled soon.

[2021-04-29 16:36] jwowk commented on #23896
Report published to VEText Power BI App:
https://app.powerbigov.us/groups/me/apps/edb20dd9-adff-4cdb-9e08-35ecc7e2ea94/reports/918e5fbe-5011-46df-8494-036f23d01500/ReportSection99642ad0ac7c70206011?ctid=e95f1b23-abaf-45ee-821d-b7ab251ab3bf

[2021-04-29 16:39] delli-gatti-michael commented on #23655
local testing complete

[2021-04-29 16:42] peggygannon commented on #23484
@jason-gcio  has your team sync'd with sitewide content on this project? I have no VSP feedback at this time.

[2021-04-29 16:44] erikphansen commented on #23376
@ajakabcin this can be validated

[2021-04-29 16:47] RLHecht opened #24007 "Update Spanish and Tagalog vaccine pages with interim language for Janssen vaccine"
## Issue Description
While we are still waiting for translations back for our note on the Janssen vaccine, we need to put language and a link to the English page on our Spanish and Tagalog pages.

Use Google translate on the following sentence:

Get the latest updates (in English)

This should be linked to the blue box on the English page.

## Tasks
- [x] Use Google translate on text above (Selina

[2021-04-29 16:48] kristenmcconnell commented on #23492
On the questionnaire manager, I didn't realize how much header room was built into the action link component. There is a lot of space now between time and the action links. I might remove any extra spacing that you built in. The spacing should look more like the "View and print questions" button to the date space.

Also, this is not a super big deal. If you want to write this as a bug to fix at a

[2021-04-29 16:50] jeff2d2 opened #24008 "Update Feature Toggle scenarios docs"
The feature toggle and review instance docs were recently updated. They address our recommended workflow for new features, iterating on features and bug fixing. We also describe different scenarios of how to use feature toggles for deployment, a/b testing, etc. We should revisit the [docs for the scenarios](https://vfs.atlassian.net/wiki/spaces/VI/pages/1281130643/Feature+Toggle+scenarios) in Q3 2

[2021-04-29 16:52] shiragoodman commented on #23997
@mmiddaugh yea, I think we should be able to support that. For Vet Centers, looks like your next step is Staging. Since we haven't seen the expandable alert feature yet, would you be ok if we did the Design Intent synchronous opposed to asynch? That way we have an opportunity to discuss and ask questions prior to seeing the changes in Staging. Everything else should work out fine, just be sure to

[2021-04-29 17:20] mdewey commented on #23492
![Screen Shot 2021-04-29 at 1 20 15 PM](https://user-images.githubusercontent.com/1793923/116592143-a55d4200-a8ed-11eb-970c-a65bc954d349.png)

This is as tight as I can make it.  How does that look?

[2021-04-29 17:24] mmiddaugh opened #24009 "Do not render main facility phone number links if no phone number is present"
## Issue Description
Two pages on the Salt Lake City VAMC have no visual text and will cause CI/CD breaks when the Nightwatch tests are fixed. These need to be remediated.

Issue was confirmed on 4/8 at 12:15pm ET using axe-CLI for the following pages:
- https://www.va.gov/salt-lake-city-health-care/locations/
- https://www.va.gov/salt-lake-city-health-care/locations/cache-valley-va-clinic/

This

[2021-04-29 17:26] kristenmcconnell commented on #23492
Great. Any closer and it would be too close. Thank you.

[2021-04-29 17:26] #21404 closed

[2021-04-29 17:29] srsuddath commented on #23948
As per our discussion, I will add new google analytics tagging to allow the tracking of whether or not typeahead was used in our onsite-search-results-click event.

[2021-04-29 17:29] kristenmcconnell commented on #23933
[Stakeholder and product groups involved in check-in](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/checkin/discovery/stakeholders.md)

[2021-04-29 17:30] #23400 closed

[2021-04-29 17:35] micahchiang commented on #23223
Notes from 4/29/21 LGY meeting - https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/ebenefits/features/apply-for-home-loan-COE/engineering-notes.md

Answers the question of whether or not COE auto-generation happens on our side or LGY side. eBen team will be responsible for generating COE based on whatever the call to LGY returns.

[2021-04-29 17:35] #23223 closed

[2021-04-29 17:45] RLHecht commented on #23707
This page has been published. Moving to validate and will close after next deployment.

[2021-04-29 17:45] artsymartha68 commented on #23832
Got an update from Jose in the 508 Office today.

Creating a checklist for us:

- [ ] After we ship, update 508 report with final statuses
- [ ] Create the [Service Now](https://yourit.va.gov/va) ticket (see this Word doc for step by step info)
[ServiceNow Task Creation Steps_mobile.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/6400575/ServiceNow.Task.Creation.Steps_mob

[2021-04-29 17:47] annaswims commented on #23609
Everything @kevinmirc said is correct, though you could filter by only those who entered a certain amount of data or progressed beyond a certain page.  We store the last visited page on the form in the database.

[2021-04-29 17:51] lunascoop commented on #24007
@RLHecht I added the link to the blue box on both the Spanish and Tagalog pages.

- Vacunas contra COVID-19 en el VA: http://preview-prod.vfs.va.gov/preview?nodeId=16359
- Mga bakuna sa COVID-19 sa VA: http://preview-prod.vfs.va.gov/preview?nodeId=16413

[2021-04-29 17:54] srsuddath commented on #23948
All, the new analytics tagging added to the onsite-search-results click will be the following variable:
search-typeahead-used
which will be true when a suggestion was clicked to get to the search results page, or false any other time
this tagging will be added as part of the following PR
https://github.com/department-of-veterans-affairs/vets-website/pull/16960

[2021-04-29 17:57] bethpottsVADEPO commented on #23998
@jason-gcio Per our site style:

- Uppercase only the first words on each line
- Change "What is" to "What's" for plain language/conversational tone
- Add "degree" to "master's" and change "or beyond" to "or higher"
- Remove "or similar" after "bachelor's degree" (unless there's something I don't know, which is entirely possible, I don't think there is anther kind of 4-year degree that's equivalen

[2021-04-29 17:59] SKasimow commented on #23367
@pjhill working on this

[2021-04-29 18:02] ffafara-tw commented on #23609
The in-progress forms are used only for authenticated users, correct? So there should be enough information in the form to load user's contact information from VA Profile?

[2021-04-29 18:02] jason-gcio opened #24010 "Perform LOA 3 Check for CH31"
## Background

## Considerations
- Previous ticket where we did this for Payment History: https://github.com/department-of-veterans-affairs/va.gov-team/issues/18171
- Extremely handy convo with Anna: https://dsva.slack.com/archives/CBU0KDSB1/p1619709634142600

## Tasks

## Acceptance Criteria

[2021-04-29 18:09] kelsonic commented on #23991
I'm not sure what I can do here to fix this... is this something that can be fixed in Drupal @kevwalsh?

[2021-04-29 18:09] SKasimow opened #24011 "Anchor Tags | VSA-QA Test Plan"
## Product/Feature summary

When a vet, caregiver or customer service representative wants to direct someone to a specific question/answer on the Coronavirus FAQ page, they can only share a link at the page level leaving it up to the recipient to navigate through the long list of information to find the specific content they seek. This can be frustrating and time-consuming.

The goal of this exper

[2021-04-29 18:13] jason-gcio commented on #24004
Consider removing this as it will need to be reversed almost immediately

[2021-04-29 18:16] RLHecht commented on #23484
@jason-gcio Please create an intake request for Sitewide Content for the content changes we'll need to do on the static landing page around a react widget.

[2021-04-29 18:18] dmccurdybah commented on #22822
PR: https://github.com/department-of-veterans-affairs/vets-api/pull/6726

When this is deployed we should see a `Submit10203EVSSError` error in Sentry if there are any issues with the `User.power_of_attorney`

[2021-04-29 18:18] RLHecht commented on #23707
content live. closing ticket.

[2021-04-29 18:18] #23707 closed

[2021-04-29 18:19] kristenmcconnell commented on #23925
@joshkimux Here is the ticket that the rest of the PDF work for completed health questionnaires will be completed. As stated, we are interested in feedback on PDF accessibility. @dillo (engineering) and I are the people that you can coordinate feedback with.

[2021-04-29 18:25] bessgreen commented on #19238
Unable to test this until we receive test accounts with this feature:
     - Active Claim in Step 3
     - Tracked items w/ open file requests

[2021-04-29 18:26] MarciMcGuireGCIO opened #24012 "Find a VA Form: Add new sort by relevance option to existing sort"
## User Story

As a Veteran, I want the ability to re-sort my search results by relevance if I sort them alphabetically or by date.

## Expected Behavior

- Existing sort drop-down contains a new option (use Closest match per Content team - see content request #23912)
- Capitalization on remaining sort options is modified so that only the first word is capitalized - also mentioned in content reque

[2021-04-29 18:29] Kimberley2019 commented on #16068
Here are items that I was able to find after reviewing the #vsp-contact-center-support channel:

- https://dsva.slack.com/archives/CNCEXNXK4/p1589292724028200

- https://dsva.slack.com/archives/C1Q4294JJ/p1601489686016200

[2021-04-29 18:31] timwright12 commented on #22451
**Tentative launch information**

**Date**: May 5
**Window**: 4:30pm - 6pm ET
**Dependancies**: successful deployments

Requesting Ops and FE Tools team members be on hand

[2021-04-29 18:41] k80bowman commented on #23004
@Cgfor3 and I met today and discussed our plan for finishing up this work. Our main concern is that there aren't good or easy fixes for a lot of these tests and it's taking a long time to go through each one to try and identify what's going on. We decided that, for this card, what we would like to do is put a limit on the time we're spending investigating each test. If there is an easy fix, we hav

[2021-04-29 18:41] U-DON opened #24013 "Copy build step from Jenkins pipeline to GitHub Actions workflow"
## Description

With the self-hosted runner (#23300), we have access to the internal network of systems, including the Drupal CMS, so we're able to run a full build.

To match the build step in Jenkins, we'll need to generate a build for each environment (`vagovdev`, `vagovstaging`, `vagovprod`). Additionally, the prod build should fail on broken links according to the same criteria and threshold

[2021-04-29 18:48] MarciMcGuireGCIO commented on #23599
Done! Thanks!

[2021-04-29 18:51] U-DON opened #24014 "Support review instances in GitHub Actions workflow"
## Description

The Jenkins pipeline deploys review instances for feature branches. The GHA workflow should continue to support review instances.

Since the review instance workflow and experience may change in the future, it might be best in the short term to just invoke the Jenkins API endpoint for the review instance deploy job (`deploys/vets-review-instance-deploy`). This work should not invol

[2021-04-29 19:01] Dene-human commented on #23527
[Identified content changes](https://github.com/department-of-veterans-affairs/va.gov-team/issues/23613)

[2021-04-29 19:02] jenniferlee-dsva commented on #22385
https://staging.va.gov/coronavirus-veteran-frequently-asked-questions/#are-va-national-cemeteries-ope-37235

The AC for this ticket is fulfilled. See above from staging, so I'm going to close this ticket. @SKasimow

[2021-04-29 19:02] #22385 closed

[2021-04-29 19:08] U-DON opened #24015 "Configure the GitHub Actions workflow for the separated content build"
## Description

Some of the steps from the `vets-website` GitHub Actions workflow will need to get split out into a new workflow to support the new separated content build in the `content-build` repo.

The most obvious change would be to move the content build and content-related tests (including sitemap accessibility tests) from `vets-website` to `content-build`. The deploy steps should also refe

[2021-04-29 19:11] jenniferlee-dsva commented on #24011
@SKasimow - the above looks good to me. I made a few minor edits. Did you want me to look at anything else? (I fleshed out use case B. I think other use cases can include all the things we're internally testing for per those bugs we identified earlier.)

[2021-04-29 19:11] mnorthuis commented on #23484
No IA feedback on the form.

[2021-04-29 19:12] brianalloyd commented on #17521
Thanks @RLHecht appreciate the review from a Sitewide Content standpoint.  We'll reach out to CMS for additional triage.

[2021-04-29 19:17] U-DON commented on #23300
- Initially needed to explicitly install Yarn; the self-hosted runner didn't have the same dependencies as the `ubuntu-latest` environment for the default GitHub runner.
- Ops has since configured the image to match the GitHub environment, and we no longer have to explicitly install Yarn.
- Managed to get a full build working within the self-hosted runner using both the prod CMS URL and the new Tu

[2021-04-29 19:18] MarciMcGuireGCIO opened #24016 "Contact Center Review for Decision Tools Team - Find a VA Form iteration"
# In Progress; will @ you when all the info is ready for review.

# Request the Contact Center Review

## What this form is for
Use this template to request a Contact Center review of your product.

Please review the Self service Product Guide Template [link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/contact-center/self-service-product-guide-template.md) an

[2021-04-29 19:24] SKasimow commented on #22294
Linking to PW ticket: https://github.com/department-of-veterans-affairs/va.gov-team/issues/23878

[2021-04-29 19:29] SKasimow commented on #24011
@jenniferlee-dsva Hey Jen - oh sorry, I didn't mean to have you review them yet as it is still a WIP :).  But thanks for feedback!! I'll pick it up again a little later today

[2021-04-29 19:31] kelsonic commented on #22196
[PR is up](https://github.com/department-of-veterans-affairs/vets-website/pull/16992) for:

- [ ] Modify [`countInstancesFound`](https://github.com/department-of-veterans-affairs/vets-website/blob/e5328976f93cd323a73a19af390e1847e4cd67a2/src/applications/resources-and-support/hooks/useGetSearchResults.js) method to not count keyword instances by character matches but instead by word matches. e.g.

[2021-04-29 19:34] mdewey opened #24017 "[FE] Create Feature toggle playbook"
[From feedback from the security review](https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/issues/252):

## Tasks

MUSTS:
- [ ] Playbook w/ information for the feature flag name & how to disable the feature in case of emergency.

## Acceptance
- [ ] Disable feature guide has been seen and approved by appropriate persons.

[2021-04-29 19:34] brianalloyd opened #24018 "Data Points Needed for Banner In-Take Request Build"
## Issue Description
_Jump starting a ticket to review data points needed for the new "Banner In-Take Request form for creation.  Would like to review both what items are needed for the form (What do we need to know) but also the associated timing (when do we need the request, how long to work implementation and review/stage/preview/prod workflows).  Please include any details associated with "Adh

[2021-04-29 19:34] leanna-usds commented on #23522
Draft content done and shared with @msmanak

[2021-04-29 19:35] ajakabcin commented on #23306
We ran through a [readiness checklist today](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/my-va/2.0-redesign/qa/QA%20Readiness%20Checklist.md) after standup and we're in good shape to continue with our QA request submitted for next sprint.

[2021-04-29 19:35] #23306 closed

[2021-04-29 19:42] DanielleThierryUSDSVA commented on #22475
Hi there. Just wanted to surface the backlog issue for this: https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/21108

@peggygannon, I think this is what you're referring to, correct? This is something that's on our radar, but we haven't been able to dig in yet.

[2021-04-29 19:45] ajakabcin commented on #23376
Confirmed on staging - thanks!

[2021-04-29 19:45] #23376 closed

[2021-04-29 19:51] rileyanderson opened #24019 "Don't ignore CVE-2021-28965"
## What happened?
We needed to ignore CVE-2021-28965 because upgrading REXML to 3.2.5 has breaking changes to login. Need to investigate what changes in 3.2.5 are causing these issues

Related: https://github.com/department-of-veterans-affairs/va.gov-team/issues/23835

## Acceptance Criteria
- [ ] _Describe the desired working behavior_

## How to configure this issue
- [ ] **Attached to a Milesto

[2021-04-29 19:54] leanna-usds commented on #23356
I see a few options

1. An email address - I'm setting up an aliased one (likely flagship.mobile@va.gov) - probably not great

2. Medallia (I don't know anything about this really, learning more)

3. A popup that asks if they're enjoying the experience - amcf attentive

if yes - route to app store
if no - send them to our feedback mechanism

4. put a link in settings to give feedback

5. https://w

[2021-04-29 19:55] rileyorr commented on #22475
@DanielleThierryUSDSVA I'm so happy you linked that ticket because during my conversation with Beth I mentioned that I was convinced I'd previously seen a Privacy Act modal in a form like 10-10EZ that mentioned education. I feel sane again!

Should our next step be to link to the privacy policy page linked in my previous comment and keep an eye out for when you're able to start digging into that b

[2021-04-29 19:57] laurenernest opened #24020 "Homepage Refresh-required foundational accessibility checklist"
## Scope
- homepage appointment lists
- each appointment type detail page
- includes alert modals

## Tasks
Complete required accessibility checklist items for staging review and check off items as they are completed:
- [x] Read the [accessibility staging review documentation](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/staging-review-p

[2021-04-29 20:00] laurenernest opened #24021 "Homepage Refresh-recommended foundational accessibility checklist"
## Scope
- homepage appointment lists
- each appointment type detail page
- includes alert modals

## Tasks
Complete required accessibility checklist items for staging review and check off items as they are completed:
- [x] Screen reader tests (VoiceOver + Safari or NVDA + Firefox) - [read more about getting started with screen readers](https://github.com/department-of-veterans-affairs/va.gov-team

[2021-04-29 20:03] peggygannon commented on #22475
Hi, @rileyorr and @DanielleThierryUSDSVA yes, the link Danielle included above shows the Privacy Act Statement modal I mentioned.

@rileyorr Do you know where designers are pulling this modal from for other forms? Most forms include a link to this modal on their intro pages.

[2021-04-29 20:10] bridgethapner commented on #22110
@leanna-usds @ayushchak Can y'all weigh in on prioritizing areas where we most would like content expertise so we're ready if someone has time for us?

**Here are all the areas I see:**
- Static landing page
- App store description
- App store images
- Any remaining parts of the app (grouping this all together, Danielle has reviewed much of app but not all of it as we've developed new screens and

[2021-04-29 20:11] MarciMcGuireGCIO commented on #23071
As of yesterday, Alexander did not have a timeline for when they will have the certificate issue resolved, but in the meantime we can work on the UI & content changes.

[2021-04-29 20:16] APorter-Clarity commented on #23838
[https://app.zenhub.com/files/133843125/9c1dd94b-bc13-403e-8b30-cc16b7979215/download]

[2021-04-29 20:17] aubreyarcangel commented on #23565
ESbuild is running, but only a few tests are compiling. Below is a WIP list of specs with their errors

|Test                                                                                                      |Error

[2021-04-29 20:17] alexandec opened #24022 "Discovery: test content build with 48k nodes on Jenkins"
## Details
Previous [testing with 48k nodes](https://github.com/department-of-veterans-affairs/va.gov-team/issues/20764) was done locally. For the most realistic test we need to run the content build with 48k nodes on Jenkins. Run the build multiple times to surface intermittent errors. Some areas to note:

- Peak memory usage
- Total build time
- Tinyliquid timeouts, if any
- Any warnings or fail

[2021-04-29 20:20] jhouse-solvd commented on #17385
Here's what we will do when there are alerts that we cannot action: (documented procedures)

if on-call and you receive an alert that is in-actionable,
or, it's unclear what action you should take
then, create a ticket using the ops issue template, and provide the following:

screenshot of the alert
time/date of the alert
channel through which alert was received
why it couldn't be actioned
what do

[2021-04-29 20:22] leanna-usds commented on #22110
i'd say
1. App
2. App store description and images
3. static landing
4. other

[2021-04-29 20:23] AGarcia-Clarity commented on #23836
TODO
[ ] Verify with Joe if we need the Certificate Authority (like in the vets-website Dockerfile)

[2021-04-29 20:24] jhouse-solvd commented on #18613
What will likely make this pretty easy, is that the lookup tool that we use in Ansible for credstash, works with SSM Parameter store as well.

[2021-04-29 20:25] shiragoodman commented on #23484
hey @jason-gcio, @rtwell wanted to review as well and will be providing feedback within the Design Feedback ticket by tomorrow morning.

[2021-04-29 20:35] JoeTice opened #24023 "Request access to Google Analytics and/or Domo - Testing Tools Team"
# Request GoogleAnalytics, Domo and BigQuery access

## User Email Address
Please link this issue to the DSVA Slack channel [#vfs-platform-support](https://dsva.slack.com/channels/vfs-platform-support), add VSP Analytics & Insights to your message, and provide the email address(es) for user(s) requesting access.
* peter.hill@oddball.io
* ryan.johnson@oddball.io
* holden.hinkle@oddball.io

## Acces

[2021-04-29 20:49] joshkimux commented on #23925
@kristenmcconnell @dillo Awesome! Is there a sample PDF I could start testing with?
Otherwise, [y'all can also run the tests by following this tutorial](https://www.adobe.com/accessibility/products/acrobat/using-acrobat-pro-accessibility-checker.html) as a starting point.

[2021-04-29 20:51] ajakabcin commented on #23242
@tlei123 Tressa filed a new claim for test user 15 for you so you'll be ready to go next week for claims and appeals test cases

[2021-04-29 20:53] mnorthuis opened #24024 "IA Feedback - Midpoint Review [Claims & Appeals Team, Notice of Disagreement]"
## VFS acceptance criteria
- [x] Let VSP know when the **Must** feedback has been incorporated
- [x] Leave any comments for feedback you decide _not_ to take
- [x] VFS team closes the ticket

## Thoughts/questions
-

## Feedback
- **Must** = the feedback must be applied
- **Should** = the feedback is best practice
- **Consider** = suggestions/enhancements

**Must:**
-  Breadcrumb:  Breadcrumb on f

[2021-04-29 20:59] MarciMcGuireGCIO commented on #23591
Blocking this until we have content for the new page.

[2021-04-29 21:06] jhouse-solvd opened #24025 "Security - Update design & documentation for SSM Parameter store hierarchy (groups/permissions)"
## Description
We need to more clearly identify the best hierarchy for assigning permissions to groups based on organization and/or capabilities. The idea is to have a very clear structure that grants permissions to individuals based on the membership of their team.

## Background/context/resources
https://vfs.atlassian.net/wiki/spaces/VI/pages/1021935643/SSM+Hierarchy

## Technical notes
Interest

[2021-04-29 21:14] bkjohnson opened #24026 "Accordion web component with bordered prop doesn't style correctly in IE11"
## Issue Description

The `<va-accordion>` Web Component with the `bordered` prop doesn't appear correctly in IE11. The issue seems to be that the CSS polyfills aren't correctly converting things.

Slack thread: https://dsva.slack.com/archives/C0FQSS30V/p1619729192116100?thread_ts=1619458966.497500&cid=C0FQSS30V

---
## Tasks
- [ ] Try to figure out an alternative way of including the border that

[2021-04-29 21:33] Kennon-git opened #24027 "vt User access and change logging (draft)"
User accounts within the VEText portal need to be kept in sync with larger user permissions within VA (onboarding / offboarding)

Create an automated process to remove access to the portal when staff are removed at a local facility Account creation, modification, enabling, disabling, and removal actions with notification to the system owner

logging when things are changed in the portal. we've cre

[2021-04-29 21:37] amyknox commented on #23749
OBE? This was completed last sprint

[2021-04-29 21:54] DanielleThierryUSDSVA commented on #22475
Hi @peggygannon and @rileyorr.

@bethpottsVADEPO and I just did a few minutes of research, and it seems that the only issue here is that you need to use the Privacy Act modal statement component, but fill it with the privacy policy and respondent burden language from the paper form.

For example, the modal people seem to be picking up has the education application language.

Modal:
![image.png](ht

[2021-04-29 22:26] bcastoe commented on #23899
#23899 Compile and document all STAFF PROFILES for VISN-12 - Completed and moved to Validate.

[2021-04-29 23:34] starlow00 commented on #23874
@dneel-bah , this looks good, thank you. I updated the TOC and TOF for the additional images, and included the necessary links. The video transcript and video work well. I will forward to VEO for their review and get in touch with you afterward.

[2021-04-29 23:36] bessgreen opened #24028 "Military address: update field error copy"
## Acceptance Criteria
1. On the Edit Mailing/Home address forms, make the following change to the field error copy when the "military base" box is checked:
     - Field error for APO/FPO/DPO: "Please select a valid option"
     - Field error for State: "Please select a valid option"
          - Note: this change should _only_ be applied to "State" when the field is driven by the Military base che

[2021-04-29 23:38] tlei123 opened #24029 "[Bug] 10-10CG - Representative documentation - upload errors"
## What happened?
On Staging **[Apply for the Program of Comprehensive Assistance for Family Caregivers](https://staging.va.gov/family-member-benefits/apply-for-caregiver-assistance-form-10-10cg/introduction)** (10-10CG) form, **Representative documentation > Upload** page, file-upload threw an error, and clicking **Continue** didn't advance.  Same behavior occurs with upload on Review page.

## S

[2021-04-29 23:51] bessgreen opened #24030 "Community care appointments not loading"
## What happened?
During UAT, Ad Hoc reported that one participant expected to see upcoming and past Community Care appointments in the app, but these were not displaying.

The app should be displaying an error state if VA or Community Care appointments are not loading.

## Specs:
- Device: ?
- UAT user / production environment
     - Internal P2 user

## Steps to Reproduce

## Desired behavior
1.

[2021-04-30 00:18] bessgreen commented on #23088
Note for QA: retest #23088 once this ticket is merged

[2021-04-30 00:20] cindymerrill commented on #23516
Now have 5 completed sessions

[2021-04-30 00:30] #23147 closed

[2021-04-30 00:31] #23146 closed

[2021-04-30 00:36] #23399 closed

[2021-04-30 00:42] lianilychee commented on #23797
4/29 update from Liani (Amy was out) - blocked by not soliciting content submissions.  Conversation between Liani and James here https://dsva.slack.com/archives/G01JN8X1S7M/p1619738943075500

[2021-04-30 01:04] larrywest52 commented on #23425
All pages written, cross-checked, revised, and uploaded to our team's Google Drive.

[2021-04-30 02:15] 1Copenut opened #24031 "Accessibility Feedback - Midpoint Review [Claims & Appeals Team, Notice of Disagreement]"
# Midpoint Review - Claims & Appeals - Notice of Disagreement

* https://github.com/department-of-veterans-affairs/va.gov-team/issues/23841
* https://github.com/department-of-veterans-affairs/va.gov-team/issues/24031

## VFS acceptance criteria
- [ ] Let VSP know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes th

[2021-04-30 02:51] #17060 closed

[2021-04-30 03:59] mpelzsherman commented on #23470
this code was deployed to production tonight, so I checked https://www.va.gov/wilmington-health-care/locations/wilmington-va-medical-center/ and there are no AXE violations due to duplicate services. Also, https://www.va.gov/wilmington-health-care/locations/atlantic-county-va-clinic/ no longer includes the archived services (Adaptive Sports and Geriatrics).

[2021-04-30 07:56] noahgelman commented on #23699
@laurenernest @shiragoodman

No accessibility issues

[2021-04-30 12:04] sonntag-adam commented on #23442
![Screen Shot 2021-04-30 at 8.03.37 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/1029f2c4-8cf9-455b-a46d-a83fc035469c)

Fixed. Closing story.

[2021-04-30 12:04] #23442 closed

[2021-04-30 12:11] vhenry07 commented on #24031
No changes to incorporate. Closing ticket.

[2021-04-30 12:15] delli-gatti-michael commented on #22126
[Testrail test run](https://dsvavsp.testrail.io/index.php?/runs/view/1788)

[2021-04-30 12:22] sonntag-adam commented on #23637
In staging. Testing passes QA.

[2021-04-30 12:22] #23637 closed

[2021-04-30 12:38] JenLJ commented on #23751
Prototype: https://bahdigital.invisionapp.com/share/8RIAGQUSXU3

[2021-04-30 12:38] #23751 closed

[2021-04-30 12:47] rtwell commented on #23876
on [this page](https://preview.uxpin.com/65c0623a799c268173fe1a3cb4375f9ce00ad820#/pages/137653432/simulate/sitemap?mode=f), we **must** use the download icon / link combo rather than the action link. You can see instances of it in production in the [outreach library](https://www.va.gov/outreach-and-events/outreach-materials/) or on the [Pittsburgh research page](https://www.va.gov/pittsburgh-heal

[2021-04-30 12:50] RLHecht commented on #22727
I published this page without the form link for now. When the form goes to prod this afternoon, I will add back in and do a content release.

[2021-04-30 12:50] #24007 closed

[2021-04-30 12:53] pjhill commented on #23845
Another data point to gather:

Consider running test suite 3 times and recording average suite execution time. Compare that to the average time to execute the test suite with a screenshot in each spec.

[2021-04-30 12:54] amyknox commented on #23749
OBE - this  work was completed in Sp71.

[2021-04-30 12:54] #23749 closed

[2021-04-30 12:56] RLHecht commented on #23536
@kelsonic VRRAP is launching today with this afternoon's deploy. Does that mean we wait until Monday for the redirects? I don't think they can go at the same time, right?

[2021-04-30 13:43] Samara-Strauss commented on #23321
I think I may have been thinking of things from more of a planning perspective. I thought that we might have frontend able to start work before we actually had definition on actual notifications and groups, in which case we might as well have done some testing in staging. However, it appears we're gonna have notifications and groups defined maybe even before we can start frontend discovery, so I t

[2021-04-30 13:46] amyknox opened #24032 "EDU Forms / STEM 10203: Eligibility Update - EDU Review"
STEM prototype has been reviewed by EDU

* Prototype is reviewed w EDU
* Updates to prototype / content doc are incorporated, if small; new tickets are created if necessary

[2021-04-30 13:48] #24032 closed

[2021-04-30 13:59] LindseySaari commented on #24000
## PgHero (actively working on this)
I was able to successfully get the performance dashboard up and running by adding in a middleware and doing some css overriding of the default pg_query gem behavior.

PgHero doesn't currently have [support for Rails in API](https://github.com/ankane/pghero/issues/155) only mode, **BUT** We can get around this by overriding some of the middleware and adding in v

[2021-04-30 13:59] rileyorr commented on #23298
Met with Beth yesterday, subsequent discussions have been happening in [this thread](https://github.com/department-of-veterans-affairs/va.gov-team/issues/22475).

[2021-04-30 14:05] #16930 closed

[2021-04-30 14:08] brianalloyd opened #24033 "[FE] Write a test for the preview server"
## Issue Description
[Reference Slack Thread](https://dsva.slack.com/archives/C52CL1PKQ/p1619786042416800)

There are no unit or E2E tests for the preview server so it just breaks sometimes as a side effect of changes to the website build. We need some tests to keep this from happening.

[2021-04-30 14:14] #23282 closed

[2021-04-30 14:14] joshkimux commented on #23925
Raising awareness to @1Copenut who has been working on 508 PDF accessibility errors in ticket https://github.com/department-of-veterans-affairs/va.gov-team/issues/11446

[2021-04-30 14:24] MarciMcGuireGCIO opened #24034 "Content Request from Decision Tools Team for Discharge Upgrade Wizard"
## Why you're here

### Content support for:
- Unauthenticated (static) VA.gov pages
- Apps or tools
- Other writing or editing requests

**Note: These requests are handled by the Sitewide Content Team.**

### Engineering support for:
- Redirects that have **first been vetted by the VSP IA team**
- REACT sign-in widgets or feature flags (flipper)
- Other engineering support

**Note: These requests

[2021-04-30 14:26] #23246 closed

[2021-04-30 14:31] jeff2d2 commented on #24000
Thank you @LindseySaari! I know you're still actively working on this, but would you be able to guesstimate the implementation effort for getting PgHero fully up and running with basic auth? We could potentially start with that as an MVP, and then look into the insights service in a later effort.

[2021-04-30 14:33] jeff2d2 commented on #24000
cc'ing @drorva and @f1337 even though this isn't a new tool to acquire, but to follow along and ensure we're staying on the right path for the desired outcome.

[2021-04-30 14:34] kelsonic commented on #22138
Ah ha! I found it: `build/localhost/outreach-and-events/events/accessing-covid-19-vaccinations-at-the-va-what-you-need-to-know/index.html` This is a page that's built by the CMS so a content editor will need to fix this I think CC @RLHecht

[2021-04-30 14:43] amyknox opened #24035 "EDU Forms / STEM 10203: Eligibility Update - DEPO Midpoint Review"
DEPO Midpoint review has been conducted

* Midpoint review is scheduled (can be asynchronous)
* Assets are reviewed by DEPO (content / design)
* Tickets for updates are created, if necessary

[2021-04-30 14:47] JasonTheBearded commented on #19854
Standardized datasets for Forms set up in BigQuery

[2021-04-30 14:49] mmiddaugh commented on #23470
@1Copenut this one can be validated when you have a moment

[2021-04-30 14:53] amyknox opened #24036 "Midpoint Review Booz Team: 22-10203 STEM Scholarship Expanded Eligibility - Application Updates"
# WORK IN PROGRESS

## Steps to complete Midpoint Review
- [ ] VFS Product Manager: Create this issue and fill in your team and feature name in the title.
- [ ] VFS: Link to this issue once created in [#vfs-platform-support](https://dsva.slack.com/channels/vfs-platform-support) in Slack; tag @vsp-product-support-members.
- [ ] Platform: Schedule meeting with Collaboration Cycle reviewers and VFS t

[2021-04-30 14:54] amyknox commented on #24035
Draft ticket for DEPO.  Needs regression testing and additional context
https://github.com/department-of-veterans-affairs/va.gov-team/issues/24036

[2021-04-30 14:59] codyreinold-usds opened #24037 "Request access to Google Analytics and/or Domo"
# Request Google Analytics and/or Domo access

## What this form is for
Use this template to request access to Google Analytics and/or Domo

## User Email Address
cody.reinold@va.gov (Google account created)

## Access Requirements
Please check the analytics tools you need access to:
- [x] Google Analytics
- [x] Domo

## Date Required
Ongoing

## Product Team / External Team / VA Office
OCTO; Iden

[2021-04-30 15:01] #19854 closed

[2021-04-30 15:02] JasonTheBearded commented on #19876
Discovery complete and Foresee data loaded into BigQuery. Closing ticket!