[2019-11-27 16:40] ricetj opened #3793 "Risk Assessment (RA)"

[2019-11-27 16:40] ricetj opened #3794 "Update System Security Plan (SSP)"
## Problem Statement
In order to meet ATO requirements, we need to submit an updated SSP before our deadline.

## Goal
_Submit an updated SSP and have the VA sign off on it before our deadline_

## Acceptance Criteria
- [ ] Identify old SSP.
- [ ] Review old SSP and update where needed.
- [ ] Submit SSP.

[2019-11-27 16:40] ricetj opened #3795 "Ensure Vets.gov ATO is compliant"
## User Story or Problem Statement
As a member of the platform, I need have a compliant ATO to work under so VFS teams can keep developing on the platform.

## Goal
_Ensure all items requested below by the VA are met_

## Acceptance Criteria
- [x] _Incidence Response Plan (IRP)_
- [x] _Incident Response Test. (IR Test)_
- [x] _Vets.gov Database scans_
- [x] _Disaster Recover Plan (DRP)_
- [x] _Inf

[2019-11-27 16:45] jenniferlee-dsva commented on #952
@Karak888 @ncksllvn @lunascoop - please size and assess when redirect can be put in queue and communicated. Let's use our new process!

[2019-11-27 17:03] lihanli opened #3796 "add documentation to address validation code in vets-api"

[2019-11-27 17:07] thatmattjohnson commented on #3710
PRs #46, #3749, #20044 all reviewed/approved

[2019-11-27 17:08] thatmattjohnson commented on #3709
PRs #3751, #20045 all reviewed/approved

[2019-11-27 17:08] YanaRoy opened #3797 "Blue Water Navy Veterans Identifiers"
## Reference Material
[Product Outline](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/disability/disability-compensation-claim/blue-water-navy-veterans/product-outline.md)
[Notes](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/disability/disability-compensation-claim/blue-water-navy-veterans/README.md)

## High Level User Sto

[2019-11-27 17:08] RLHecht commented on #2449
@mnorthuis @Karak888 @jenniferlee-dsva This is now working correctly with the page showing up in the proper place on the left nav menu. We still need to implement the redirect work for this ticket.

[2019-11-27 17:20] sporeboy commented on #2930
There are still holes in the current eBenefits and Rainbows 686 workflows, but these can be filled-in over the course of subsequent discovery. There were a few technical barriers to viewing all steps in these: accounts with no data, occasional login outages, etc.

[2019-11-27 17:25] sporeboy opened #3798 "Rated Disabilities High-Level Research Summary"
### User Story
As a member of the eBenefits team, I need a high-level research summary of Rated Disabilities usability testing, so that I can validate or course-correct my development efforts as necessary.

### Task
Create one-page, high-level summary of usability testing research findings; post in Github as MD doc.

### Acceptance Criteria
- [x] Review usability testing session recordings and not

[2019-11-27 17:35] kfrz commented on #2233
There are options we should likely consider for implementing content linting on `vets-website` pull requests. This is not something we're working on for this epic, we're focused on the content from Drupal.

@billfienberg is [this](https://github.com/marketplace/actions/vale-lint) the action you were mentioning re: test repo? If so we could ticket up that work, one way or another. We could at least

[2019-11-27 17:40] sporeboy commented on #3555
All sessions complete. Recordings and notes available for all attended sessions. Notes are here:

https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/teams/vsa/teams/ebenefits/research/disabilities-dependents-usability-1119/session-notes

[2019-11-27 17:48] ricetj opened #3799 "Update Incident Response Docs"

[2019-11-27 17:48] ricetj opened #3800 "Update Ops Docs"
## User Story or Problem Statement
As a VSP Ops member, I need have up to date docs so that VFS teams can be set up for success.

## Goal
_Update the docs that we maintain and manage_

## Acceptance Criteria
- [ ] _Update IR docs_
- [ ] _Update SOCKS docs_

## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [x] **Attached to an Epic** (what body of wo

[2019-11-27 17:53] sporeboy commented on #3798
Work on the research summary has begun here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/ebenefits/research/disabilities-dependents-usability-1119/disabilities-dependents-usability-summary.md

[2019-11-27 17:55] tlei123 commented on #3651
PR merged; closing ticket.

[2019-11-27 17:55] #3651 closed

[2019-11-27 18:00] YanaRoy opened #3801 "Fix wording on "Apply for Disability Compensation" screen"
## User Story:
As a claimant, I need clear and concise wording to be displayed while I complete my Disability Compensation claim so that I can follow the direction properly.

## Problem Statement
The language on the 'apply for disability compensation' screen says to go back one screen to add another disability, but if you go back one screen, it takes you to Individual Unemployability. Wording shou

[2019-11-27 18:07] aeltarhoni commented on #952
@lunascoop will meet on Monday with Nick and Kara to discuss next steps.

[2019-11-27 18:08] mmiddaugh opened #3802 "Analytics Implementation of Foresee 5 star comment card for Facility Locator"
# Analytics Implementation or QA Request

## Description
- We'd like to implement the Foresee 5 star comment card on the Facility Locator main page so that we can begin to gather baseline user satisfaction metrics.

- Dave Conlon and Michelle Middaugh
- Facility Locator Team(# vsa-facilities)
- Domain: https://www.va.gov/find-locations/?zoomLevel=4&page=1&address=1780%20Harrison%20Court%20Northeas

[2019-11-27 18:35] aeltarhoni commented on #3548
@jenniferlee-dsva had a conversation with Mikki. We have an approach, waiting on recommendation.

[2019-11-27 18:45] aeltarhoni commented on #3575
@kevwalsh Once you finish 2B (Breadcrumbs are rendering correctly on staging Pittsburgh), please let @kelsonic know.

[2019-11-27 18:49] AnneHurley commented on #3019
@RLHecht  This is the page that the SMEs have asked for some rewriting since the processes have changed a bit. Will upload rewritten copy by EOD Wed.

[2019-11-27 18:50] aeltarhoni commented on #1328
@Karak888 we are closing this one but please break down to a list of recommendations and actionable items.

[2019-11-27 18:50] #1328 closed

[2019-11-27 18:50] #3503 closed

[2019-11-27 18:50] #3122 closed

[2019-11-27 19:03] jenstrickland commented on #3566
Here are a list of items found when auditing the current HLR. I reviewed with @1Copenut to ensure these were worth documenting. Ideally, these issues would be resolved in a redesign of the problematic components during this project, usability tested, and then surfaced to the design system for implementation across the site(s). The timeline of this project may not allow for this, understandably, bu

[2019-11-27 19:50] ricetj commented on #3691
granted

[2019-11-27 19:50] #3691 closed

[2019-11-27 20:03] jhonnyoddball commented on #1676
### **Adding `font-display: swap;` to all webfonts**

This is a great feature to add. It will force the use of the system fonts until the webfonts are ready. If the browser doesn't not support it, it will act regularly. Unfortunately, I can only add it to the font hosted on the `veteran-facing-services-tools` repo since it's the only one we support.

[2019-11-27 20:04] RLHecht commented on #2449
@mnorthuis @meganhkelley The rest of this ticket is done and now needs the redirect work done.

[2019-11-27 20:09] #3547 closed

[2019-11-27 20:25] #3662 closed

[2019-11-27 20:46] YanaRoy opened #3804 "[Design] HLR: Incorporate Design Feedback for Review Submission"
## User Story:
As a designer on the Benefits and Memorials team, I need to update the Review Submission design so that I can ensure it follows the recommendation of the design team's review.

## Tasks
- [x] Update the Review Submissions page with design feedback from Emily

## Acceptance Criteria:
- [x] Design team's feedback has been incorporated into the Review Submission page

[2019-11-27 20:47] mnorthuis commented on #2898
@peggygannon I have created a draft guidelines doc for you to review.  I haven't put a ton of info in on sections that primarily relate to your work, so we can talk through those and start to build them out.

https://docs.google.com/document/d/1-tQsIknkkHqF4nT_XJ44CeYZJ5Flct0KqMV0RA93Zsk/edit?usp=sharing

[2019-11-27 20:48] RLHecht opened #3805 "Redirect Request: Effective Dates page in Disability"
**Current page** disability/about-disability-ratings/effective-date/
**Redirect** /disability/effective-date/

Background: The effective dates page has moved in the left nav of disability.
A redirect needs to be implemented so that the old page won't result in a 404.

Date to be implemented by: 12/11/19

[2019-11-27 20:48] YanaRoy opened #3806 "[Design] HLR: Incorporate Design Feedback for Review Submission screen"
## User Story:
As a designer on the Benefits and Memorials team, I need to update the Review Submission screen design so that I can ensure it follows the recommendation of the design team's review.

## Tasks
- [x] Update the Review Submission screen with design feedback from Emily

## Acceptance Criteria:
- [x] Design team's feedback has been incorporated into the Review Submission screen

[2019-11-27 20:53] andaleliz opened #3807 "Discovery with SME to understand YR content updates and audience needs"
Meet w/ Tammy Hurley, Lucas Tickner (YR SME), Anne Hurley to better understand Yellow RIbbon content.  Questions _(revised 12/6/2019)_:

- How do schools receive the notice for the open period, and how do they respond to the notice?
- What is the current process for VA team updating website?
- What are the easiest/most challenging parts of updating the information?
- Is there any research availabl

[2019-11-27 20:55] wyattwalter opened #3808 "review RDS CPU saturation rule"
## User Story or Problem Statement
During a recent incident the production GIDS RDS instance stayed above 90% CPU for a good chunk of the incident and was a pretty key symptom that we missed initially. It appears that the metrics are flowing, and it _seems_ like the rule should've caused an alert, but it did not. Looking at history in Prometheus it likely should have. We need to investigate this f

[2019-11-27 20:56] wyattwalter commented on #3808
This alert is based upon data that we gather from CloudWatch metrics via the CloudWatch exporter. I think a good place to start would be to see if we're getting data in quickly enough for that rule criteria to ever trigger an alert correctly (i.e. if we always have data 1 minute behind, are we constantly checking the values over the past minute?).

[2019-11-27 21:05] wyattwalter commented on #3808
After writing the above, I think I've confirmed that to be the issue. Basically, we consistently see data in Prometheus from the CloudWatch Exporter which is minutes behind. The rule is attempting to look at data over the past 5 minutes (`IF min_over_time(aws_rds_cpuutilization_average[5m]) > 60`), but it looks like it actually takes 5-8 minutes for data to show up for this particular service. Sin

[2019-11-27 21:07] RLHecht opened #3809 "Redirect request: DIC page moving from Burials/Memorials to Disability hub"
**Current page:** /burials-memorials/dependency-indemnity-compensation/
**Redirect to:** /disability/dependency-indemnity-compensation/

The DIC page is moving from the Burials/Memorials hub to the Disability hub.

Date needed to be implemented by: 12/11/19

[2019-11-27 21:17] YanaRoy opened #3810 "Request design review for Higher-Level Review form in staging"
### For reference

[Accessibility Best Practices](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/508-accessibility-best-practices.md)

**VSA** - [https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/accessibility/review-process.md#design-review](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master

[2019-11-27 21:25] jhonnyoddball commented on #1676
### **Splitting the webfonts into their own css and adding them to the head before the main css**

[2019-11-27 21:32] andaleliz opened #3811 "Discovery with SME to understand Drupal CSV Upload-to-Table"
Meet with Kevin Walsh to understand what is currently in place in Drupal and the possibilities for CSV upload

[2019-11-27 21:32] andaleliz commented on #3811
Completed 11/27

[2019-11-27 21:32] #3811 closed

[2019-11-27 21:38] andaleliz opened #3812 "Wireframes for Yellow Ribbon tables"
Create wireframes demonstrating improved UX on YR tables.

Solution must:
- present data in a dynamic way that allows users to find schools matching their criteria
- support Drupal file upload to populate table content
- be responsive, accessible, and fit within va.gov design standards

[2019-11-27 21:38] mmiddaugh commented on #3268
**Draft** PDFs available in Drive
https://drive.google.com/file/d/0B7mn2NjHFhwNRGswMmhWTEpLREFMT0lQOHZVWHRvb1F5d2lj/view?usp=sharing

https://drive.google.com/file/d/0B7mn2NjHFhwNeExjSkJQZlNXd3FkQ2N2LXBDZGxRZ3NyZklJ/view?usp=sharing

Note: one is "generic" (TriWest _and_ Optum while the other is TriWest specifically

[2019-11-27 21:39] kevwalsh commented on #3575
@aeltarhoni @kelsonic Staging CMS has the right breadcrumbs for all stories, events, and news releases. But they won't show up on the front end until there's another content build.

[2019-11-27 21:50] kevwalsh commented on #3575
I should clarify, the current breadcrumbs are not exactly to the spec's mentioned by Andy. Instead of
`VA Pittsburgh health care > Events > [event-content-detail-page]`
we have
`VA Pittsburgh health care > News and events > Events > [event-content-detail-page]`

Instead of
`VA Pittsburgh health care > Leadership > [Name of person]`
we have
`VA Pittsburgh health care > About VA Pittsburgh > About u

[2019-11-27 22:21] YanaRoy opened #3814 "Date on expired ITF messaging is inaccurate"
## What happened?
_The messaging displays a future date for an already expired Intent to File._

## Specs:
- Device: (e.g. iPhone 8, Macbook)
- Browser: (e.g. Firefox, IE 11)
- Test User _(if applicable)_: vetsgov+test207@id.me

## Steps to Reproduce
- URL:
- Test User _(if applicable)_: vetsgov+test207@id.me

## Desired behavior
_The date should not be in the future if the Intent to File already

[2019-11-27 22:29] billfienberg commented on #3710
Merged

[2019-11-27 22:30] billfienberg commented on #3709
Merged

[2019-11-27 22:47] jason-gcio commented on #3352
Initial draft is [here](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/ebenefits/features/view-rated-disabilities/call-center/product-guide.md)

[2019-11-27 23:11] jenniferlee-dsva opened #3815 "Alignment breadcrumb issue on Chrome"
## What happened?
Seeing odd left alignment spacing issue in the breadcrumbs - but only on Chrome. (Mozilla looks okay.) Screenshot attached.

![image](https://user-images.githubusercontent.com/43381063/69765188-fb4e1900-1140-11ea-8b12-aee5b0a454f2.png)

Background: We did a content deploy via Drupal (pension rates change had to go out for Dec 1 turnover). The content updates we made look correct,

[2019-11-27 23:12] YanaRoy opened #3816 "[Technical Discovery] Gain understanding of EVSS/va.gov Claim Status API"
## User Story:
As a back-end engineer, I need to understand what is being consumed by va.gov from the EVSS Claim Status API so that I can document my findings.

## Tasks
_The steps that must be done by the team to complete the acceptance criteria_
- [x] Gain understanding of all claims status endpoints and what they are expecting (what headers, http request method, query params).
- [x] Gain and do

[2019-11-27 23:12] #3783 closed

[2019-11-27 23:24] billfienberg commented on #3712
PRs to migrate files from `vets.gov-team` to `va.gov-team`
* https://github.com/department-of-veterans-affairs/vets.gov-team/pull/20046/
* https://github.com/department-of-veterans-affairs/va.gov-team/pull/3813

PRs to migrate files from `vets.gov-team` to `va.gov-team-sensitive`
* https://github.com/department-of-veterans-affairs/vets.gov-team/pull/20047
* https://github.com/department-of-veteran

[2019-11-27 23:30] YanaRoy opened #3818 "[Technical Discovery] Research archived Claim Status API materials"
## User Story:
As a back-end engineer, I need to review the formerly used vets.gov-team repo documentation so that I can locate Claim Status API documentation during my technical discovery.

## Tasks
- [x] Start search in [migration spreadsheet](https://docs.google.com/spreadsheets/d/1Y4QvGd_d_PCAb_yO6u2Gxyn9VXqQJ1hGL_DZc5h90so/edit?ts=5db20057#gid=0) that contains title of every document in vets.

[2019-11-28 00:12] wygonikGCIO opened #3819 "Vets - APi Endpoint - Service Object completed"
##User Story:
As a Back-end developer, I need to supply the Front-end Devs a way to start the service object on a mac book development platform so that our Front-end dev can do the API calls with Mock Data.

## Tasks
The steps that must be done by the team to complete the acceptance criteria
- [ ] Generate service class skeleton code
- [ ] Generate routing and controller code skeleton
- [ ] Use st

[2019-11-28 00:14] wygonikGCIO opened #3820 "Vets - APi Endpoint - Controller Routes completed"
##User Story:
As a Back-end Dev, I need to run the Controller, Route & Serializer automatically to invoke the service object so that our Front-end dev can do API call with Mock Data.

## Tasks
The steps that must be done by the team to complete the acceptance criteria
- [x] Generate Controller skeleton code
- [x] Customize routing and controller skeleton
- [ ] Write unit test for JSON serializatio

[2019-11-28 00:27] YanaRoy commented on #3735
@camerontesterman i created tickets for the top two items in the Currently Identified Needs section. Let's look at these during grooming on friday 11/29.

[2019-11-28 00:48] YanaRoy opened #3821 "Request preliminary ATO review: HLR"
## Request preliminary ATO review for Higher Level Review

#### What data are you collecting? For example, what data are you requesting from users?
- Nothing is being stored on the va.gov's end; we are working with the Lighthouse team to use their API to update Caseflow.

#### What data are you using? For example, what data are you requesting from some VA service?

#### Where does that data come f

[2019-11-28 00:57] YanaRoy opened #3822 "Request IA Review: Higher Level Review"
## User Story:
As the PM on the Benefits and Memorials team, I need request an IA review so that I can ensure all of the IA processes have been followed and executed correctly.

## URL and Credentials
- URL: https://staging.va.gov/disability-benefits/apply/form-0996-higher-level-review/
- Credentials: vets.gov.user+228

<details>
<summary>** NOTE **</summary>

<br />
As only the front-end has been

[2019-11-28 00:58] YanaRoy commented on #3822
@Mottie could you please provide the URL and credentials in the body of this ticket for IA review

[2019-11-28 01:00] wygonikGCIO opened #3823 "Vets - APi Endpoint - API Schema - Hearing Aid Battery MOC"
## User Story:
As a Back-end dev, I need to complete the API schema 1-page spec so that I can propose specifics to our front-end devs.

## Tasks
### Front-end Sign-off
- [x] JSON schema for battery status
- [x] Describe it in no more than one page, with examples for GET and PUT
- [x] Meet with Front-end Devs to review schema

## Acceptance Criteria:
_The requirements that must be met in order to m

[2019-11-28 01:07] YanaRoy opened #3824 "Request QA Review for Higher Level Review"
## Story
As an engineer, I want to request a review for Security and Load Testing with the QA Team to ensure that my feature meets the requirements for publication so that my pages will safely perform as expected under heavy loads typically found in the VA.gov environment.

## Task
- Select the Milestone sprint, or otherwise provide due-date for testing results.
- Provide the following info to sup

[2019-11-28 01:24] YanaRoy opened #3825 "Analytics Implementation or QA Support for Higher Level Review"
# Analytics Implementation

## Description
- This request is for Google Analytics implementation.

- Who is this request for?

    - Andrea Schneider (VA) and Yana Roy (GovernmentCIO)

- What team/project is this work for?

    - Benefits and Memorials: Higher Level Review

- Provide the Domain where Google Analytics needs to be implemented
    _i.e. www.staging.va.gov_

    _Identify if PII is pa

[2019-11-28 05:28] wygonikGCIO opened #3826 "Form 2346 Features"
## User Story:
As a Back-end developer, I need to make sure my forms' features meet the VA standards so that I can follow best practices.

## Tasks
- [ ] The steps that must be done by the team to complete the acceptance criteria.
- [ ] Find form features standardization file on GH

## Acceptance Criteria:
- [ ] The requirements that must be met in order to mark this user story as completed.
- [ ]

[2019-11-28 05:30] wygonikGCIO opened #3827 "Include backend unit tests for the two new API calls"
## User Story:
As a back-end developer I need to create standard Rails test automation to validate the new Controller actions return 200 SUCCES HTTP responses, and a JSON payload.

## Tasks
_The steps that must be done by the team to complete the acceptance criteria_
- [ ] Use the Rails and RSpec generators to scaffold test cases for each API controller action
- [ ] Add specific test data to the s

[2019-11-28 05:33] wygonikGCIO opened #3828 "Do first back-end dev walkthrough to familiarize with Access VA"
## User Story:
As a Back-end Developer, I need to complete an initial walk through of Access VA with John Paul's designated Software Engineer so that I can start getting an understanding of the Access VA feature set and programming procedures.

## Tasks
_The steps that must be done by the team to complete the acceptance criteria_
- [ ] Set up a meet with John Paul's designated Software Engineer
-

[2019-11-28 05:44] wygonikGCIO opened #3829 "Complete tutorial on new forms list"
## User Story:
As a ___Front-end Developer_______, I need ___to complete the turorial on creating new forms_______ so that I can ____my code follows best practice______.

## Tasks
_The steps that must be done by the team to complete the acceptance criteria_
- [ ] Complete tutorial

## Acceptance Criteria:
_The requirements that must be met in order to mark this user story as completed_
- [ ] Compl

[2019-11-28 05:49] wygonikGCIO opened #3830 "Implementing Error Handling for the table"
## User Story:
As a  Front-end Developer, I need to implement client side error handling for Form 2346 components so that the Veteran can fix input mistakes made and I can troubleshoot client side problems that arise.

## Tasks
_The steps that must be done by the team to complete the acceptance criteria_

**Per Component:**

- [ ] Look up the component that needs error handling on the docs.  Estim

[2019-11-28 05:52] wygonikGCIO opened #3831 "Create Unit testing for the MVP"
## User Story:
As a ___Front-end developer_______, I need ___to unit test my code_______ so that I can ____ensure me build is compatible and meets expectations______.

## Tasks
_The steps that must be done by the team to complete the acceptance criteria_
- [ ] Defined URL/Router
- [ ] need list of components

## Acceptance Criteria:
_The requirements that must be met in order to mark this user sto

[2019-11-28 05:58] wygonikGCIO opened #3832 "User case for Medical Device"
## User Story:
As a Back-end Developer, I need to create user case so that I can map out the different use case flows for the Medical device.

## Tasks
_The steps that must be done by the team to complete the acceptance criteria_
- [ ] Meet UX designer
- [ ] Meet with Front-end developers
- [ ] Determine VA precedence for use case

## Acceptance Criteria:
_The requirements that must be met in orde

[2019-11-28 06:00] wygonikGCIO opened #3833 "Use case storyes"
## User Story:
As a __Front-end Developer________, I need ___to create user cases_______ so that I can ___determine each actor and functionality need for each actor_______.

## Tasks
_The steps that must be done by the team to complete the acceptance criteria_
- [ ] Create diagram 1hr
- [ ] Define actors 1hr
- [ ] Determine each Use case story 1hr

## Acceptance Criteria:
_The requirements that mu

[2019-11-28 06:07] wygonikGCIO opened #3834 "Deleted story"
## User Story:
As a ___designer_______, I need __to create a persona of my end user________ so that I can ___build empathetic approach to our solution_______.

## Tasks
_The steps that must be done by the team to complete the acceptance criteria_
- [ ] Get quantitative data from GA
- [ ] Get quantitative data from DLC systems
- [ ] Hold Veterans interviews to gather qualitative data
- [ ] etc

##

[2019-11-28 12:46] 1Copenut opened #3835 "[DOCUMENT]: GIBCT Section 116 - Excel document has merged cells that could cause accessibility issues"
## Description

VA 508 office has identified the Excel download has some merged cells that are not allowing proper structure and relationships to be determined with screen readers. This is a violation of WCAG 1.3.1. Screenshot attached below.

## Point of Contact

**VFS Point of Contact:** _Trevor_

## Remediation Resources
* https://accessibility.psu.edu/microsoftoffice/excel/#region
* Please fol

[2019-11-29 13:14] kelsonic commented on #3815
I am unable to reproduce this issue both on `staging` and `production`. @jenniferlee-dsva

**Production:**
![image](https://user-images.githubusercontent.com/12773166/69871217-35720480-1280-11ea-8202-df0b399a5b76.png)

**Staging:**
![image](https://user-images.githubusercontent.com/12773166/69871242-46bb1100-1280-11ea-818d-91979265eb84.png)

[2019-11-29 14:38] lwalsh617 opened #3836 "IA Review of Form Detail Landing Pages"
This ticket is related to ticket #2020.

We are developing 25 custom search landing pages for the 25 top-ranking VA forms, as well as 12 additional pages for forms that have an online tool alternative.

Current detail pages exist for each form. We need to determine the best use of existing versus new urls for each page, and create breadcrumbs.

While VA.gov's forms search page results take users d

[2019-11-29 15:50] kelsonic commented on #3575
Awesome! Thanks @kevwalsh! @ncksllvn I sent up a PR for this that you approved, but I made quite a few changes so if you could spot check it on Monday that'd be great! Thanks and happy holidays to both of you! :) https://github.com/department-of-veterans-affairs/vets-website/pull/11166

[2019-11-29 17:28] Mottie commented on #3677
We'll address the edit button focus problem in another issue/PR.

[2019-11-29 17:28] #3677 closed

[2019-11-29 19:04] jhonnyoddball commented on #1676
### **Inline the webfonts into the css**
### **Encoding the fonts on base64**

`url-loader` is a loader for webpack which transforms files into base64 URIs already. It all depends on the set `limit`. The loader will encode base64 if the file size in bytes is lower than the `limit` set.

<img width="356" alt="Screen Shot 2019-11-29 at 1 43 11 PM" src="https://user-images.githubusercontent.com/55560

[2019-11-29 19:16] kevinstachura commented on #3455
This has been designed and sent to content team for review per #3456 - design is located here:

https://vsateams.invisionapp.com/share/S2U2NQZZ76A#/394760072_Upload_Additional_Evidence_-_Checkbox_-_Revised

Closing this ticket.

[2019-11-29 19:16] #3455 closed

[2019-11-29 19:20] micahchiang commented on #3294
I _think_ this can be closed. As far as I know, @cohnjesse looked into this and determined that our issue is in fact a known issue with the form system itself.

[2019-11-29 19:38] micahchiang opened #3838 "Establish a Plan for Product Iteration (Phase 1)"
## User Story
As a product engineer, I want to know how users naturally use my application without me there to guide them, so I can gain an accurate, unbiased view into what can be improved, changed, fixed, etc.

## Considerations
- Moderated user acceptance testing (UAT) as outlined [here](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/product-management/releas

[2019-11-29 19:39] jhonnyoddball commented on #1676
### **Remove hashing from the font names**

We are hashing the webfonts in webpack

![Watch - All regular](https://user-images.githubusercontent.com/55560129/69886862-1d1add80-12b2-11ea-9a64-eabb1480e2b0.png)

We should remove the hashing the webfonts since they don't change over time and they should definitely be cached

[2019-11-29 19:47] micahchiang commented on #3418
@jason-gcio - Is this ticket still relevant? I ask because I know @jenstrickland is currently doing some accessibility analysis for us.

[2019-11-29 19:49] micahchiang commented on #3099
@jason-gcio, @tlei123 - I think load testing can be removed from this ticket, as I have completed it in #2951. So, if that ticket takes care of load testing, I'm wondering what testing is left for this ticket. Is this purely a visual QA test of rated disabilities?

[2019-11-29 19:57] wygonikGCIO opened #3839 "Medical Device Tool Usage data"
## User Story:
As a ___Product manager_______, I need _gather qualitative data regarding how the Medical tool currently used________ so that I can ___build KPI's for the Medical Device tool______.

## Tasks
_The steps that must be done by the team to complete the acceptance criteria_
- [ ] Determine what type of device is used most for ordering items (desktop, mobile) 1.5hr
- [ ] Determine what is

[2019-11-29 20:04] wygonikGCIO opened #3840 "Medical Device tool qualitative data of Veterian's demographics"
## User Story:
As a ___Prod manager_______, I need ___gather qualitative data on Veterans_______ so that I can ___KPI's and build a persona_______.

## Tasks
_The steps that must be done by the team to complete the acceptance criteria_
- [ ] Meet with DLC to determine what demographic information the have 1.5 hrs
- [ ] Meet with GA team and see what information about Medical tool Device from eBene

[2019-11-29 20:08] wygonikGCIO opened #3841 "Discovery: Medical Device Tool Personas"
## User Story:
As a  _UX designer_, I need _to create set of initial personas_ so that I can _build interactions that meet the needs and expectations of the Veterans they represent_.

## Tasks
- [ ] Combine data from the interviews and metircs from the DLC to create 4 peronas.
- [ ] Create documents for each of the 4 personas (5 hours)

## Acceptance Criteria:
The requirements that must be met in

[2019-11-29 20:28] jhonnyoddball commented on #1676
### **Preloading the fonts (hard-coded the 4 needed on the header or dynamically, but can run into problems if they are more than 5 fonts per application)**

**`yarn build` was used for testing all case scenarios**

### **REGULAR BUILD**

Average results using `regular` build 10 times:
- DOM time: 5.56s
- Load time: 7.73s
- Finish time: 9.26s
- First Contentful Paint: 4.2

![Build Regular](https:/

[2019-11-29 20:35] billfienberg commented on #2885
PRs to migrate file from `vets.gov-team` to `va.gov-team-sensitive`
`vets.gov-team`: https://github.com/department-of-veterans-affairs/vets.gov-team/pull/20048/files
`va.gov-team-sensitive`: https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/pull/21

PRs to migrate files from `vets.gov-team` to `va.gov-team`
`vets.gov-team`: https://github.com/department-of-veterans-affairs/ve

[2019-11-29 21:30] billfienberg commented on #2885
I found four conflicting .md files in the migration plan.

The following two files are both competing to be readme.md in the platform/design/example-design-project folder.
* https://github.com/department-of-veterans-affairs/vets.gov-team/blob/master/Practice%20Areas/Design/Example%20Design%20Project/design/readme.md
* https://github.com/department-of-veterans-affairs/vets.gov-team/blob/master/Prac

[2019-11-29 22:32] #3590 closed

[2019-11-29 22:32] #3583 closed

[2019-11-29 22:32] tlei123 commented on #2951
@micahchiang , please add to this ticket:

1. link to Locust test-file in devops repo; and
1. copy of test-results.

I saw your [comment in \#3099](https://github.com/department-of-veterans-affairs/va.gov-team/issues/3099#issuecomment-559871464) saying testing has been completed.

Thanks much!

[2019-11-29 22:46] tlei123 commented on #3099
@jason-gcio & @micahchiang, would you happen to know how to UI-test the **no-rating** and **API-/backend-error** messages on Staging?

Here are the message comps:
- [No rating](https://xd.adobe.com/view/0db723ac-52ff-48b3-4877-9d5882cb2e1f-7b86/screen/4255c799-245e-4df0-90bb-7cec66dfc218/RD-Screen-Tool-3)
- [Combined-rating error](https://xd.adobe.com/view/0db723ac-52ff-48b3-4877-9d5882cb2e1f-7b86

[2019-12-02 06:59] #2930 closed

[2019-12-02 06:59] #3555 closed

[2019-12-02 14:37] nedierecel commented on #3527
@micahchiang I see a new error key event, though I only see 1 error on Staging so far after I pushed the error key tracking to Staging.

https://analytics.google.com/analytics/web/?authuser=0#/report/content-event-events/a50123418w178298118p184081396/explorer-table.plotKeys=%5B%5D&explorer-table.secSegmentId=analytics.customDimension57&_r.drilldown=analytics.eventCategory:API%20Calls&explorer-segm

[2019-12-02 14:38] jonwehausen commented on #3678
Hi @nedierecel ,

Here's a summary of is what I have for this implementation:
- Event will fire under these conditions:
   - Initial Start
   - Pause
   - 25/50/75/100 progress
- Push the video title into a custom dimension

Let me know your feedback.

### Start Video
![image](https://user-images.githubusercontent.com/48527022/69967313-1ffe1400-14e6-11ea-94ef-f3e266741c89.png)

### Pause Video
![i

[2019-12-02 14:43] #3650 closed

[2019-12-02 14:45] erikphansen commented on #1129
@lkoenigsberg @Justin-Pickett I am pretty sure that ADDRVAL112 is not overridable but will be with a VA Profile update due to go out in January

[2019-12-02 14:53] jonwehausen opened #3842 "Research BI Tools"
## User Story or Problem Statement
How might we leverage a business intelligence tool in our development of the product success tool?

## Goal
Determine the best solution to move forward with.

## Acceptance Criteria
- Determine viable options for product success tool BI solution
- Determine pros vs cons of each tool
- Populate BI/Visualization Solutions tab [here](https://docs.google.com/spreadsh

[2019-12-02 15:03] jbritt1 commented on #3511
Still continuing to do some research on this before really diving in. Found this excerpt on Stack Overflow and wondering how solid of a point it is:

[2019-12-02 15:09] joanneesteban commented on #1843
https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/3842

[2019-12-02 15:13] joanneesteban commented on #406
[Research Spreadsheet](https://docs.google.com/spreadsheets/d/1tYzIGe3bWug8Ryy0MuaJ3ubNhPrYxSIxW_hGXEw0FYI/edit#gid=0)

[2019-12-02 15:21] artistgreen commented on #1287
Hi @peggygannon - this is the ticket I was referring to in my email regarding content for the 'bad/missing unit number' modal.  Thanks!

[2019-12-02 15:22] jenstrickland commented on #3418
@micahchiang Yes, I am collecting issues from the audit in this epic: https://github.com/department-of-veterans-affairs/va.gov-team/issues/3577

There is a VoiceOver in Safari issue I was stuck on, and looped in @jason-gcio for some questions. In VO, the Skip to Content link isn't available for about 20 seconds. I'm beginning to suspect this is an issue for VO across the authenticated experience,

[2019-12-02 15:25] Justin-Pickett commented on #3607
@bradl3yC can we close this ticket?

[2019-12-02 15:27] Justin-Pickett commented on #3116
Closing this ticket. Will open a new ticket to incorporate the above suggestions to be tracked during Sprint 10.

[2019-12-02 15:27] #3116 closed

[2019-12-02 15:30] jenstrickland commented on #3633
![image](https://user-images.githubusercontent.com/57469/69971948-b6363800-14ee-11ea-9e55-96c331183a4b.png)

[2019-12-02 15:37] lkoenigsberg commented on #1129
@erikphansen thanks!  I simply copied and pasted the contents of the error matrix that @Justin-Pickett has been working on so maybe we need to revisit that and verify the "now" vs. "future" expectations.

[2019-12-02 15:44] jenstrickland opened #3843 "[KEYBOARD]: Unable to access Skip to Content link in NVDA"
## Description

**[KEYBOARD]: Unable to access Skip to Content link in NVDA**

Using Firefox and NVDA, am unable to access the Skip to Content link.

## Point of Contact

Jennifer

## Acceptance Criteria

As a keyboard user, I want to access the Skip to Content link so I can bypass the heading and navigation links, which are repeated throughout the site, so I may get to the primary content area of

[2019-12-02 15:57] jenstrickland commented on #3577
@jason-gcio - This spot check audit is complete.

[2019-12-02 16:00] desireeturner commented on #3756
@1Copenut The maintenance of this file is managed by the EDU team, so we will make recommendations to them regarding this update.

[2019-12-02 16:00] desireeturner commented on #3758
@1Copenut The maintenance of this file is managed by the EDU team, so we will make recommendations to them regarding this update.

[2019-12-02 16:06] nathanhruby commented on #3511
Jeremy and I discussed this a bit in Slack.  My opinion is that the above quote is not helpful in our situation, which is that we need to build a specific app as part of our build pipelines, not paste over matrixed versionitis as the quote sort of indicates implicitly.

I think it's fine to have the build system generate and manage the lifecycle an artifact _for the build system its self_.

[2019-12-02 16:08] Justin-Pickett commented on #3023
This ticket is still ongoing. More discovery research is needed to understand how/if APO/FPO/DPO flow affects any other eBenefits forms across the VA.gov website. @artistgreen is looking into this. Follow up conversation is also being set up with the Benefits and Memorials team to discuss the flow of this and get some clarification on some questions regarding forms and the databases they interact

[2019-12-02 16:10] kevinstachura commented on #3621
Notes for the BDD initial meeting can be found [here.](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/disability/disability-compensation-claim/bdd)

[2019-12-02 16:11] #3621 closed

[2019-12-02 16:13] #3607 closed

[2019-12-02 16:20] jenstrickland commented on #487
@mmiddaugh I just tested this, and the behavior is still happening.

[2019-12-02 16:33] Jeff-Hayter commented on #2348
@ricetj Approved for AWS.

[2019-12-02 16:35] nedierecel commented on #3573
@Samara-Strauss @Justin-Pickett @erikphansen Thanks for syncing up for :30 today. Here are the follow-ups:

1. Unsampled data is available to download should we run into this again within the interface. I'll reach out to GA Support since it was unusual that we ran into that error.
2. Erik, we'll sync up again on how Sentry increments errors (e.g. if they happen within a certain timeframe, how does

[2019-12-02 16:46] lkoenigsberg commented on #863
@Justin-Pickett , looks like all items on this are done.  Can it be closed now?

[2019-12-02 16:47] lkoenigsberg commented on #2685
@Justin-Pickett , since this program is on hold for now might this be moved to icebox?

[2019-12-02 16:49] Justin-Pickett commented on #2685
@lkoenigsberg that makes sense. We'll revisit this when it is ready to be back in rotation.

[2019-12-02 16:49] lkoenigsberg commented on #1329
@Justin-Pickett , it seems all issues related to this epic are done and maybe it should be closed?

[2019-12-02 16:50] lkoenigsberg commented on #3147
@Justin-Pickett since we are heading into Sprint 10 this week, should this Sprint 8 objectives be closed?

[2019-12-02 16:51] thatmattjohnson commented on #3710
UAT completed for #46, #3749, #20044; all looks good. Closing this issue.

[2019-12-02 16:51] #3710 closed

[2019-12-02 16:52] thatmattjohnson commented on #3709
Completed UAT for #3751, #20045; all looks good. Closing this issue.

[2019-12-02 16:52] #3709 closed

[2019-12-02 16:52] Justin-Pickett commented on #863
This was closed, i will close it again now. When Brad joined I re-opened it to make sure he completed the necessary items as a new team member.

[2019-12-02 16:52] #863 closed

[2019-12-02 16:52] Mottie commented on #2138
This issue is focused on research, but I discovered that I could include the form errors within the alert shown on the page after attempting to submit. I’ve included it here because I wanted to get feedback on adding this information, and possible a design review.

![](https://user-images.githubusercontent.com/136959/69977720-ebdc2080-14f0-11ea-9210-a8479b03b218.png)

Note:
* The "No rated disabil

[2019-12-02 16:53] #1329 closed

[2019-12-02 16:53] micahchiang commented on #2951
@tlei123 - you can checkout the test file [here](https://github.com/department-of-veterans-affairs/devops/blob/2951-rd-load-tests/loadtest/rated_disabilities/rated_disabilities_locust.py). I still need to add a README with a summary of why we tested, and then submit a PR.

I have a bunch of .csv files from the test, which I can send you if you want, but here are some screenshots of the results. I'

[2019-12-02 16:56] narin commented on #3414
Hi @peggygannon, I was out last week as well.  If you're back and could take a look within the next few days that'd be great! Thanks.

[2019-12-02 16:59] Karak888 commented on #3836
@mnorthuis @lwalsh617 this seems similar to a request from @ncksllvn in ticket [](url)https://github.com/department-of-veterans-affairs/va.gov-team/issues/3548 but sounds like we are awaiting next steps from @jenniferlee-dsva as she had a conversation with Mikki per #3548 stating that there was an approach but needed recommendations.  Please let me know if we should keep this ticket or follow the

[2019-12-02 17:03] thatmattjohnson commented on #2885
Conflicts resolved in migration plan document.  Please advise whether script needs to be re-run prior to PR reviews.

[2019-12-02 17:04] #2348 closed

[2019-12-02 17:05] mnorthuis commented on #3077
@jenniferlee-dsva all housing redirects are documented in issues #2170 and #2214.  If all the parity and rewriting work is done I can release those tickets or break them down if some are ready to go, but just need to know which pages exactly are ready. The parity and rewriting tickets (linked in the redirect issues) don't show the work as done.

[2019-12-02 17:08] narin opened #3845 "Add "Leave feedback" link to Need Help component"
## Problem Statement
The original design for the "Need Help" component had a link labeled "Leave feedback for this application".  We need to get the URL for this tool (if it exists) and add it to the component.

![image.png](https://images.zenhubusercontent.com/560c1d84638e718c995d70da/7d3e29ee-92aa-4492-83f6-c482d8206292)

## Acceptance Criteria
- [ ] We have a URL for the tool
- [ ] The link has

[2019-12-02 17:09] thatmattjohnson commented on #3712
Conflicts resolved in migration plan document. Please advise whether script needs to be re-run prior to PR reviews.

[2019-12-02 17:10] narin commented on #3845
@rtwell mentioned in #3589  that @lalexanderson-dsva might know where this link is supposed to redirect to.

cc: @markgreenburg

[2019-12-02 17:10] nedierecel commented on #3678
@jonwehausen Thanks for wiring this--to stay within our naming conventions, can we alter to the following:

Event Category: Interactions
Event Action: `Start` OR `Pause - <Insert Duration it was paused here>` OR `Reached XX%` (instead of Progress) OR `Stop` OR `Completed`
Event Label: Use the built-in GTM event

I see it also brings in the video name into CD 61. Thanks for adding that as well!

[2019-12-02 17:11] narin commented on #3589
Separated "Leave feedback" link into a new issue: #3845

[2019-12-02 17:11] micahchiang commented on #3527
Hey @nedierecel - Great to hear that the new error key events are working. As far as testing to try and get more than one error, it's unfortunately a matter of trying different test accounts and seeing which ones trigger different errors 😬. _However_, I think, for at least the total combined rating api call, it _might_ still be querying dummy data from vets-api. Let me confirm this and get back to

[2019-12-02 17:21] tlei123 commented on #3724
PR merged; closing ticket.

[2019-12-02 17:21] #3724 closed

[2019-12-02 17:25] nedierecel commented on #3665
@goldenmeanie Hope you had a nice Thanksgiving!

I'm adding links directly to Google Analytics within the metrics I've pulled below. The timeframes I pulled are WBC (11/8/2018-11/7/2019) vs. Vets.gov (11/8/2017-11/7/2018) since the modernized launch occurred on 11/8/2018.

**Unique Successful Submissions of Pensions 527EZ**
[WBC Successful Submissions](https://analytics.google.com/analytics/web/?a

[2019-12-02 17:30] nedierecel opened #3846 "Analytics Reporting Request for Charles W."
# Metrics Reporting Request
As DSVA leadership, I want to understand the flow of users between Modernized content to key events on MHV.

## What this form is for

Use this template to request performance, usability, or outcomes va.gov metrics that is difficult to access or that needs analytics interpretation.

Insights will usually provide data reports within the current sprint, but if there is ti

[2019-12-02 17:30] #3073 closed

[2019-12-02 17:31] mr0sari0 commented on #3073
Satisfied all requirements.

[2019-12-02 17:31] mr0sari0 commented on #3614
@wygonikGCIO This ticket needs to be changed to an epic.

[2019-12-02 17:38] mnorthuis commented on #3805
Please note, there are actual 3 URLs that need to be redirected.  Two of them are already redirected but need to be updated based on this change.  Here are the 3 URLs that need to be redirected/updated:

NEW: www.va.gov/disability/about-disability-ratings/effective-date/
UPDATE: www.vets.gov/disability-benefits/after-you-apply/date/
UPDATE: www.benefits.va.gov/compensation/effective_dates.asp

The

[2019-12-02 17:40] mnorthuis commented on #2449
Redirect handled in issue https://github.com/department-of-veterans-affairs/va.gov-team/issues/3805

[2019-12-02 17:42] sporeboy commented on #3798
Initial Draft of research summary complete and ready for review here:
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/ebenefits/research/disabilities-dependents-usability-1119/disabilities-dependents-usability-summary.md

[2019-12-02 17:48] tlei123 commented on #2951
@peterhill-oddball, do you know who on the Platform side knows enough about load-testing to explain how to interpret the results in @micahchiang’s comment above?

Beyond just understanding the numeric columns in the Statistics (top) screenshot, I need to determine whether the quick ramp-up of errors is a real concern (QA fail?) in the Total Requests per Second chart (bottom screenshot, top graph,

[2019-12-02 17:50] nedierecel commented on #1843
@jonwehausen I added criteria to help research volume of extracting Foresee data before we migrate to Medallia. Can you login and see if it's possible to (a) estimate the entire export of historical Foresee data and (b) download as a flat file since we might not be able to connect to it via an API after we migrate?

[2019-12-02 17:52] Karak888 commented on #3805
@RLHecht @ncksllvn is this the ghosting issue that @kevwalsh was working to fix, or is this something different?  Thanks

[2019-12-02 17:52] desireeturner commented on #2386
@1Copenut this is ready to be reviewed again

[2019-12-02 17:54] nedierecel commented on #3846
12/2 Progress - Building segments for key transactions to track users that start on Modernized content and then complete a MHV event.

[2019-12-02 18:00] peggygannon commented on #3456
Hi, @kevinstachura Please see below for my content recommendation for the checkbox label and text. Do you need me to review the other content on the page or just this part?

{Checkbox label}
{checkbox} The files I uploaded are supporting documents for this claim only.

To submit supporting documents for a new disability claim, please visit our [how to file a disability claim](/how-to-file-claim) p

[2019-12-02 18:06] brandonrapp opened #3847 "Provide Ongoing Support - Sprint 14"
Provide ongoing support for VFS teams to help with code reviews and problems related to VSP tools and best practices.

[2019-12-02 18:13] brandonrapp opened #3848 "Provide Ongoing Support - Sprint 13"
Provide ongoing support for VFS teams to help with code reviews and problems related to VSP tools and best practices.

[2019-12-02 18:13] #3587 closed

[2019-12-02 18:17] #2833 closed

[2019-12-02 18:23] #2335 closed

[2019-12-02 18:31] #3684 closed

[2019-12-02 18:36] wygonikGCIO commented on #3839
oduct

[2019-12-02 18:41] RLHecht commented on #2449
@Karak888 with the redirect being handled on another ticket, i think we can close this one. It's validated on the live site.

[2019-12-02 18:43] #2487 closed

[2019-12-02 18:52] #3615 closed

[2019-12-02 18:53] wyattwalter opened #3849 "tune individual vets-api instance settings"
## User Story or Problem Statement
During a recent traffic spike on GIDS, it was discovered during investigation that the vets-api instances don't really have enough headroom to take large spikes like this without running into issues with thread capacity. Individual instances are running out of threads in puma long before any system constraint is exhausted. Other problems with this situation is th

[2019-12-02 18:57] YanaRoy commented on #3456
@peggygannon the content review was for the checkbox and the gray messaging box at the top that currently says "Only upload evidence that supports this claim"

[2019-12-02 18:59] SgardnerPMP opened #3850 "[DISCOVERY] Understand the VA Hierarchy from HQ to Clinic and back again [TEAM["
## Understand how the VA works from Clinic to HQ and how that affects our Veterans

## High Level User Story
As a support person, I need understand how the VA hierarchy works so I can better support the creation of the content and data needed for our Veterans to access their benefits.

## VSP OKR
_Supporting customer satisfaction and overall click through/page count_

## Acceptance Criteria
- [ ]

[2019-12-02 19:01] goldenmeanie commented on #3665
First of all, thank you for pulling these stats!

I read those numbers as
527EZ ↑64% YoY
530 ↑51% YoY (_seems like zooming in on that image failed me here_)
...with the caveat that the 2018 numbers were undercounted (Feb–Apr) and so that growth is probably exaggerated

Does that sound like I'm following @nedierecel?

[2019-12-02 19:04] Justin-Pickett commented on #3147
Sprint 8 Objectives status:

- Removed the "Add" functionality for DD (#2883)
- ID.me & DS Logon (#2884); more discovery took place and a plan  of how to address this in Sprint 9 is underway.
- Finalized call center guide updates (#2901)

Address Validation
- Had to reschedule a couple of usability testing sessions. Moved completing this into Sprint 9.
- Conversation guide was completed and approv

[2019-12-02 19:04] #3147 closed

[2019-12-02 19:09] wyattwalter opened #3851 "incident response documentation links updated"
## User Story or Problem Statement
During a recent incident with GIDS, we discovered that the documentation for forcing a breaker open in vets-api was not linked, and the process wasn't used when it could've mitigated some of the issues during the outage. We need to review the incident response plan as part of the regular ATO maintenance anyway this month, so now's a good time to make sure we revi

[2019-12-02 19:17] peterhill-oddball commented on #2951
I can try to help you interpret the results, but we may need to consult some others for their thoughts as well.

Similar to Micah, I've also run into running out of available connections on staging if I let the test run for long enough.  It's not necessarily a fail.

That's true.  I think guidelines for pass/fail status are still being cooked up.  Generally, it's good to look for 95 percentile res

[2019-12-02 19:21] micahchiang commented on #3527
@nedierecel - I just confirmed that the api call for total combined rating is still fetching dummy data. A PR was just merged that should update the call, so I think by tomorrow it should be working properly in staging.

[2019-12-02 19:22] jenstrickland commented on #2138
@Mottie This looks like it could be a test case for something @1Copenut and I have experimented with. We discussed making each of the error items a link to the field that has the error.

[2019-12-02 19:22] wyattwalter opened #3852 "evaluate moving GIDS to fwdproxy or send traffic directly to it from revproxy"
## User Story or Problem Statement
During a recent GIDS issue, it was discovered that GIDS still has requests flowing directly to it instead of through the forward proxy like all of the other backends added after the fwdproxy was created. This design leaves us with a bit less visibility on this backend and would be useful to make it uniform. We also discussed briefly whether vets-api was adding va

[2019-12-02 19:29] wyattwalter opened #3853 "[Vets-API] Mark failing backends offline to avoid cascading connection pileups"
## User Story or Problem Statement
During a recent GIDS outage postmortem, it was discovered that while vets-api does have circuit breakers that can kick in to mark a failing backend offline, it doesn't have anything like the [bulkhead pattern](https://docs.microsoft.com/en-us/azure/architecture/patterns/bulkhead) explicitly implemented to avoid a situation where a particular backend can cascade c

[2019-12-02 19:29] Samara-Strauss commented on #1287
@artistgreen please create a new ticket for @peggygannon. It is not clear what you need from her based on this ticket, and there are too many comments here and it's too long to ask her to sift through everything to find what she needs. A new ticket for your copy needs would be kinder and clearer.

I'm closing this. Copy updates from user testing still need to happen but they are being tracked here

[2019-12-02 19:30] wygonikGCIO commented on #3826
Add @mr0sari0

[2019-12-02 19:32] Samara-Strauss commented on #3023
@Justin-Pickett to be clear, these are not eBenefits forms. These are benefit applications that live on VA.gov. This has nothing to do with eBenefits.

We need documentation on what has been discussed and learned so far. It is impossible to tell what has been done at this point, which makes it impossible to tell if we've met our sprint objectives or not for sprint 9. It also makes it impossible to

[2019-12-02 19:32] wygonikGCIO commented on #3828
add @mr0sari0  and @mojaray2k

[2019-12-02 19:39] Mottie commented on #2138
Oh, that's a good idea!

[2019-12-02 19:41] micahchiang commented on #2951
@peterhill-oddball - Not sure if yours is the same issue, but I had to specify the path to locust in my IDE settings:

[code]

[2019-12-02 19:46] meganhkelley opened #3854 "Document Editing - Launch realtime collaboration tool"

[2019-12-02 19:50] RLHecht commented on #1727
Drupal bug fixed so this can move forward. @jenniferlee-dsva and @ncksllvn Could we do this by Friday 12/6? Nick, when you do the redirect work I need to do the Drupal changes so that it all goes live at the same time. Mikki is good with the redirects. @AnneHurley would need to let the stakeholders know this is finally happening.

[2019-12-02 19:50] meganhkelley opened #3855 "User research library - Create searchable library of user research"
## User Story

As a team member building on or in support of VA.gov (VFS or VSP), I want to be able to search through past user research, so that I can re-use research that is applicable to my work.

## VSP Objective (Q1 & Q2 2020)

O2: Customers use qualitative and quantitative user data to build and iterate on VFSs.

## Measuring Success (KRs/KPIs)

TBD

## Details and Notes

### Links

- [Histo

[2019-12-02 19:57] sporeboy commented on #3798
@azwilling @sshein Initial draft of eBenefits usability testing high-level summary is complete here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/ebenefits/research/disabilities-dependents-usability-1119/disabilities-dependents-usability-summary.md

[2019-12-02 20:02] Justin-Pickett commented on #1129
Closing this ticket. This will be tackled with the Project for Candidate Address Validation.

[2019-12-02 20:08] #3798 closed

[2019-12-02 20:17] cvalarida commented on #3630
Adding a little more flavor:

In the [`startApp`](https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/platform/startup/index.js#L32), we can add a bit that sets a `window.appName` (or something). In the [`apiRequest` helper](https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/platform/utilities/api/index.js#L68), we could set a new header using

[2019-12-02 20:21] markgreenburg opened #3856 "cancelling appointment request fails on staging"
## Story
As a veteran, I want to be able to cancel my appointment requests.

## AC
- [ ] Test user can cancel an appointment request on staging.

## Context
Front end is not able to submit a successful request to cancel an appointment request. Per @jbalboni and @saneshark debugging, facilities data was getting dropped from the request in the vets-api backend, before submission to VAMF. It's very l

[2019-12-02 20:30] artistgreen commented on #3023
Met with @AZSchneider @YanaRoy and @Justin-Pickett  to discuss impact of our proposed solution on their forms.

Andrea advised that some forms run on PPIU and some on Vet360 - we do not think adding a checkbox for 'I live on a US Military Base' will break their forms.
We planned to follow up and continue the discussion - Andrea was going to confirm this solution will be OK and what forms are runni

[2019-12-02 20:34] markgreenburg commented on #1788
Tracking a bugfix for this in #3856

[2019-12-02 20:34] #1788 closed

[2019-12-02 20:34] jonwehausen commented on #3678
@nedierecel Thanks for your comments here -- much appreciated.

I've since updated to correlate with your recommendations above.

To effectively output the Event Action labels you requested, see [LUT - Video Tracking - Event Action Label](https://tagmanager.google.com/#/container/accounts/144676348/containers/9159499/workspaces/107/variables/34). This takes each OOB GTM video status and outputs to

[2019-12-02 20:35] jenstrickland commented on #3521
Spot check complete, and collected in epic https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/3577

[2019-12-02 20:35] #3521 closed

[2019-12-02 20:36] #2553 closed

[2019-12-02 20:42] deweydell commented on #3772
Feeling frustrated on this one because of problems with calculating error rate and hitting a point where I feel like it's not worth it to spend more time on right now.

I can't successfully query accurate looking data for almost any of the education products using the event labels I've grabbed from the MVP. The main inconsistencies are:
- the API request doesn't return the past 12 months for faile

[2019-12-02 20:49] peggygannon commented on #3456
@yana thanks. I've updated my recommendation above ^^

[2019-12-02 20:50] peggygannon commented on #2760
@RLHecht I don't think there are any additional edits needed at the moment. Unless @jenniferlee-dsva wanted to add something more?

[2019-12-02 21:04] nedierecel commented on #3773
@jonwehausen Thanks for syncing today on time to task completion for forms. We'll start with Form 1990 to track starts and stops of task completion.

To start an application, the timer can start on one of the following:

`login-successful-start-form` OR `edu-sip-form-loaded`

Stops of the timer can be aligned with:
`edu--submission`

[2019-12-02 21:06] artistgreen commented on #3023
@lkoenigsberg - here is my list of forms I discovered on staging:

https://staging.va.gov/records/download-va-letters/letters/confirm-address

https://staging.va.gov/health-care/apply/application/veteran-information/personal-information

https://staging.va.gov/pension/application/527EZ/applicant/information

https://staging.va.gov/disability/file-disability-claim-form-21-526ez/veteran-information

[2019-12-02 21:11] mnorthuis commented on #3634
Drafts of VAMC, RO, Vet Center and Cemetery site IA is out there for review and continued refinement.

[2019-12-02 21:28] #1455 closed

[2019-12-02 21:28] peggygannon opened #3857 "Content edits: VAOS Direct Schedule screens"
## User Story or Problem Statement
As a member of a team building with or on VSP, content needs to be reviewed to ensure it's accurate, aligns with VA style, and is error-free.

## Acceptance Criteria
 VAOS team to implement content edits (below) in time for UAT testing of Direct Schedule screens.

https://staging.va.gov/health-care/schedule-view-va-appointments/appointments

**Content edits for D

[2019-12-02 21:44] markgreenburg opened #3858 "Integrate user preferences service"
## Story
As a veteran, I want to be able to specify the email and phone number I want the VA to use when sending me updates / notifications about my appointment or request.

## AC
- [ ] Veteran can add or change an email and phone number on the contact preferences page.
- [ ] When an appointment or request is submitted, the notification phone number / email is successfully updated  on the backend

[2019-12-02 21:52] deweydell opened #3859 "Access for Nicola Beuscher"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Add a comment @department-of-veterans-affairs/vsp-operations to ping the operations team
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please

[2019-12-02 21:52] deweydell commented on #3859
@department-of-veterans-affairs/vsp-operations

[2019-12-02 21:53] joanneesteban commented on #3772
@nedierecel @jonwehausen Can you provide insight as to why the inconsistencies are occurring?

@deweydell Let's de-prioritize this and focus on the Data Visualization software [issue](https://github.com/department-of-veterans-affairs/va.gov-team/issues/406). Adding a blocked label to this issue.

[2019-12-02 21:54] markgreenburg opened #3860 "Integrate `/facilities` endpoint into front end"
Currently, the frontend uses mock data instead of consuming the `/facilities` endpoint. We need to integrate actual facilities data so that veterans can submit appointment requests.

[2019-12-02 21:54] deweydell commented on #3772
Ok sounds good, I can demonstrate in standup tomorrow my issues if they aren't clear.

[2019-12-02 22:01] joanneesteban commented on #3775
### Objective

The purpose of this is multi-fold:
- Have a map to link KPIs to VFS applications per QASP
- Have a map to add other products to the Product Success Tool when we're ready
- Be able to link KPIs to the products on the Product Success Tool
- Be able to link owners/stakeholders back to products on the Product Success Tool

## Approach

Iterate on the [Education Intro Links template](htt

[2019-12-02 22:03] YanaRoy opened #3861 "[OBE] Identify Legacy Issues on Submission Review Screen"
## User Story
As a Veteran, I need to view all my legacy issues when completing my Higher Level Review form so that I can select individual ones in order to be able to "Opt Out" of the legacy process.

## Goal
_Display legacy issues so that user can select them_

## Objectives or Key Results this is meant to further
- Create a way for Veterans to opt out of individual legacy issues

## Acceptance

[2019-12-02 22:07] #1757 closed

[2019-12-02 22:08] YanaRoy commented on #3456
@kevinstachura

[2019-12-02 22:08] peggygannon opened #3862 "Error message updates and iterations from VSP content"
## User Story or Problem Statement
As part of ongoing iteration of the VA.gov content style guide, we need to provide additional recommendation and guidance on the following areas of error messaging:

- [ ] Downtime banners. Provide guidance on how to make them actionable so users know the next step.
- [x]  Error messages that begin with "We're sorry".. Is this phrase necessary all the time? or is

[2019-12-02 22:18] thatmattjohnson commented on #2888
link to migration plan: https://docs.google.com/spreadsheets/d/14Z992z7FnqZv0PhJ4hEPG6rnxO77pGm3fSAZVEN-2t4/edit#gid=1968995813

[2019-12-02 22:22] micahchiang opened #3863 "Display zero percent for service connected disabilities"
## User Story
As a veteran, I want to know if any of my service connected disabilities are rated at zero, so I can have an accurate understanding of my total combined disability rating.

## Tasks
- [x] Add case handling for if a service connected disability comes back rated as zero percent.

[2019-12-02 22:24] #2994 closed

[2019-12-02 22:25] #2432 closed

[2019-12-02 22:30] joanneesteban commented on #406
@deweydell A few things to start out for this research that would be helpful:

- Documentation on what has been high effort to do on the Front End Solution (previous build issues: [errors](https://github.com/department-of-veterans-affairs/va.gov-team/issues/3772), [links, help texts, missing charts & ability to add targets](https://github.com/department-of-veterans-affairs/va.gov-team/issues/3412)

[2019-12-02 22:32] markgreenburg opened #3864 "Fetch actual facilities for a system"
## Story
Currently, the front end uses mock data in place of facilities. We need to replace this with real data so that veterans can get accurate facilities data for the systems at which they're registered.

## AC
- [ ] System-level facilities data comes from `/systems/{systemId}/facilities` rather than hard-coded frontend mock data

[2019-12-02 22:34] AnneHurley commented on #3019
[Burials rewrites - SME feedback on Burial in a private cemetery](https://app.zenhub.com/files/133843125/e432d57f-e086-4cc3-81a4-25451808b074/download)
@RLHecht  These are pretty simple tweaks - sorry I couldn't just do them in Drupal myself. if you could also just check that that one link works, that would be great.

[2019-12-02 22:38] markgreenburg opened #3865 "Build `/preferences` PUT endpoint"
The preferences endpoint is needed in order to integrate with VAMF's notification preferences service so that veterans can specify the email address and phone number associated with notifications for a particular request or appointment.

[2019-12-02 23:05] YanaRoy opened #3866 "[Content Review] HLR: Identify Legacy Issues on Submission Review Screen"
**User story**
As a member of Benefits and Memorials team building on VSP, I need the legacy issues content reviewed  on the submission review screen to ensure it's accurate, aligns with VA style, and is error-free.

**Screenshot and Links**
- [Design ticket for reference](https://github.com/department-of-veterans-affairs/va.gov-team/issues/3861) - this ticket was closed as OBE.
- [InVision Design

[2019-12-02 23:07] #3539 closed

[2019-12-02 23:12] 1Copenut opened #3867 "GIBCT School Certification Officer 508 Document Epic"
This will be the epic where all of the document-related findings are stored for the SCO improvement on GIBCT. This has been opened as a separate epic to keep VA 508 office findings separate, and will focus on the documents only.

[2019-12-02 23:12] YanaRoy opened #3868 "[Design Review] HLR: Identify Legacy Issues on Submission Review Screen"
## Story
As a designer I want to have my work reviewed by the proper members of the platform team so that I know that what is being produced is consistent with intent, design language and messaging.

## Goal
Present legacy issues on the HLR Submission Review screen layout to Design community.

## Task
- Schedule time with Platform for review and feedback of  latest mockup for the "HLR Submission R

[2019-12-02 23:18] 1Copenut opened #3869 "[DOCUMENT] GIBCT SCO - Lists are not picked up correctly by screen readers in Section 305 PDF"
## Description

VA 508 office has identified the [Colmery Act Section 305](https://www.benefits.va.gov/gibill/docs/scotraininginstructions.pdf) PDF as having lists that do not announce properly to screen readers. Screenshot attached below is illustrative of one list of many that need revised in this PDF.

## Point of Contact

**VFS Point of Contact:** _Trevor_

## Remediation Resources
* Run the C

[2019-12-02 23:26] YanaRoy opened #3870 "[OBE] HLR: Identify Legacy Issues on Submission Review Screen"
## User Story
As a Veteran, I need to view all my legacy issues when completing my Higher Level Review form so that I can select individual ones in order to be able to "Opt Out" of the legacy process.

## Goal
_Display legacy issues so that user can select them_

## Objectives or Key Results this is meant to further
- Create a way for Veterans to opt out of individual legacy issues

## Acceptance

[2019-12-02 23:36] batemapf opened #3871 "Analytics Reporting Request for Patrick & Caseflow team"
# Metrics Reporting Request

## What this form is for

Use this template to request performance, usability, or outcomes va.gov metrics that is difficult to access or that needs analytics interpretation.

Insights will usually provide data reports within the current sprint, but if there is time-sensitivity, please note them in "additional comments."

## Instructions

Please fill out the following s

[2019-12-03 02:25] joanneesteban commented on #3214
[November Data](https://docs.google.com/spreadsheets/d/1x0x6aD7QbrDAQoPVCp5RURJGsGWyUj27EpMOYnFUV3k/edit#gid=0)

[November Presentation](https://docs.google.com/presentation/d/1FWbg39D0GKbxSP6VMrfMvmRXsMYQ0NfLi86gexvL9IY/edit#slide=id.g61736a3d6f_0_0)

[2019-12-03 02:26] joanneesteban opened #3872 "Analytics Reporting Request for VEO"
# Metrics Reporting Request

## What this form is for

Use this template to request performance, usability, or outcomes va.gov metrics that is difficult to access or that needs analytics interpretation.

Insights will usually provide data reports within the current sprint, but if there is time-sensitivity, please note them in "additional comments."

## Instructions

Please fill out the following s

[2019-12-03 02:43] joanneesteban commented on #3872
[Data Sheet](https://docs.google.com/spreadsheets/d/1YmNgoUJwYY7y0AxBgFyb7r-qe-B09gMf5QjCUwvK6So/edit#gid=0) - The charts will have to be updated because of the single vets.gov data point...otherwise, @nedierecel can you review the new November 2019 data?

[Slide Deck](https://docs.google.com/presentation/d/1xEGCmVfYJ7sCzw7pgNoZTA9bB3YV55KL96J06Y6R4Kc/edit#slide=id.g61736a3d6f_0_0) - Charts & anno

[2019-12-03 05:06] nedierecel commented on #3678
Thanks @jonwehausen for the Pause, Buffering, and Skipped Back to - can you add a label to indicate that this is the timestamp where the user paused, buffered, or skipped back? The numbers might be fuzzy to someone reviewing the report.

[2019-12-03 06:30] #2531 closed

[2019-12-03 06:34] markgreenburg opened #3873 "Actually send message to scheduler"
## Story
As a veteran, I want to send the scheduling clerk a message to tell them additional information they should know about my appointment request.

## AC
- [ ] Submitting an appointment request sends the data in the 'additional information' field to a scheduler via a `/requests/{requestId}/messages` POST call

[2019-12-03 06:39] #2995 closed

[2019-12-03 06:41] markgreenburg opened #3874 "Actually get request limits"
Currently, the front end uses mock data in place of actual request limits. We need to use real data so that veterans have actual request limit checks performed when they go to submit an appointment request.

AC
- [ ] front end fetched request limits for a facility by calling `facilities/{facilityId}/limit`
- [ ] front end does not use hard-coded request limits

[2019-12-03 06:45] markgreenburg opened #3875 "Actually fetch previous visits"
## Story
As a front end developer, I want to retrieve a list of previous visits for a veteran so that I can help determine which clinics a veteran should be able to schedule into.

## AC
- [ ] Previous visits retrieved from `/facilities/{facilityId}/visits/{scheduleType}`
- [ ] Previous visits doesn't rely on mock data.

[2019-12-03 06:52] markgreenburg opened #3876 "Actually retrieve veteran's PACT"
As a frontend developer, I want to actually retrieve a veteran's PACT information to help me determine which clinics the veteran should be able to schedule into, instead of relying on hard-coded PACT mock data.

## AC:
- [ ] PACT data comes from the `systems/{systemId}/pact` endpoint
- [ ] PACT data does not come from mock data

[2019-12-03 13:34] ricetj commented on #3859
@Jeff-Hayter
User: Nicola Beuscher
COR: Yourself

[2019-12-03 14:09] Justin-Pickett commented on #3573
Closing this ticket. Will open a new ticket to be tracked during Sprint 10.

[2019-12-03 14:09] #3573 closed

[2019-12-03 14:11] jenniferlee-dsva commented on #1727
@RLHecht @AnneHurley -  yes, please move forward but with 1 caveat: We committed to 7 business days advance notice to the VBA digital team, so we can communicate this now and give them the date 7 bus days out when the client side redirect happens. (Per this message from Nick: https://github.com/department-of-veterans-affairs/va.gov-team/issues/1727#issuecomment-555132029 )

So here's how I think i

[2019-12-03 14:11] Justin-Pickett opened #3877 "GA follow up for reporting of direct deposit save errors"
Here are the follow-ups from Nedie on our last call on 12/2/19:

1. Unsampled data is available to download should we run into this again within the interface. I'll reach out to GA Support since it was unusual that we ran into that error.
2. Erik, we'll sync up again on how Sentry increments errors (e.g. if they happen within a certain timeframe, how does it measure errors?)
3. I'll add Form Saves

[2019-12-03 14:49] Mottie opened #3878 "[AXE-CORE] HLR: Fix review page a11y issues"
## Description

On the HLR review page, the axe browser extension reports some issues within the expanded accordions

* A `<dl>` elements is being returned by the `'ui:reviewField'`; this should be a `<div>`. Documentation has been updated in [this PR](https://github.com/department-of-veterans-affairs/veteran-facing-services-tools/pull/192). This is an issue within the forwarding address & schedul

[2019-12-03 14:55] AnneHurley commented on #1727
@jenniferlee-dsva  Will send out that email shortly.

[2019-12-03 15:05] thatmattjohnson commented on #3712
Above PRs all reviewed and approved.

[2019-12-03 15:15] billfienberg commented on #2885
One of the files included in the original `va.gov-team` PR was actually sensitive. I deleted the file, opened a new PR, closed the original PR, and deleted the original branch.

New `va.gov-team` PR: https://github.com/department-of-veterans-affairs/va.gov-team/pull/3879

Since the sensitive file was a `.pdf` file, there were no changes to that file in the original `vets.gov-team` PR, and therefor

[2019-12-03 15:27] arickalewis1 commented on #3553
[FL-downloadPDF-UrgentCare-UserFlow (1).pdf](https://github.com/department-of-veterans-affairs/va.gov-team/files/3917342/FL-downloadPDF-UrgentCare-UserFlow.1.pdf)

I sent this flow to Ryan as we work on the prototype that will accompany the Urgent Care usability study.

[2019-12-03 15:35] jbritt1 commented on #3768
Not sure why the ref didn't work, but linking here for visibility:
https://github.com/department-of-veterans-affairs/devops/pull/6008

[2019-12-03 15:37] arickalewis1 commented on #3554
Research Plan: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/facilities/facility-locator/research/user-research/urgent-care/research-plan.md

[2019-12-03 15:39] RLHecht commented on #3019
@AnneHurley I made the changes to this page in Drupal. The link is also now working. It won't work in the preview because the page isn't published yet but I checked that it is connecting to that records page with all the forms.

[2019-12-03 15:49] markgreenburg opened #3880 "Actually fetch available appointment slots"
Currently, the front end uses mock data in place of an actual service call when fetching available appointment slots for a facility & clinic. The front end needs to call `/facilities/{facilityId}/available-appointments` instead so that veterans can see the actual available appointment slots when direct scheduling.

[2019-12-03 15:54] jonwehausen commented on #3678
Hi @nedierecel ,

Thanks for your comments. Here's the latest QA screenshots:

### Skip Ahead
![image](https://user-images.githubusercontent.com/48527022/70066485-cfa4b600-15ba-11ea-95d4-086f6386b184.png)

### Skip Back
![image](https://user-images.githubusercontent.com/48527022/70066570-ec40ee00-15ba-11ea-83b4-ad3b2cf0b764.png)

### Paused
![image](https://user-images.githubusercontent.com/485270

[2019-12-03 16:00] #2967 closed

[2019-12-03 16:04] #3663 closed

[2019-12-03 16:05] lihanli commented on #3153
`"delivery_point_validation": "UNDELIVERABLE"` addresses should be overrideable. the errors you were seeing were due to a bug with the vet360 api, they updated their api yesterday and i tried the "36311 coronado dr" address in console just now and it worked, but i had to capitalize `"state_code": "CA"`, it doesn't allow lowercase state codes.

[2019-12-03 16:07] #1700 closed

[2019-12-03 16:11] Justin-Pickett commented on #3153
@lihanli can this ticket be closed? do we need to open a new ticket for any other work regarding the lowercase state codes not being allowed?

[2019-12-03 16:14] lihanli commented on #3153
@Justin-Pickett i'll let erik retest and see if he still gets errors, don't think we need a ticket for lower case state codes because the dropdown isn't sending lower case state codes

[2019-12-03 16:16] camerontesterman commented on #2454
Tests that were originally broken, some of which were removed, have all been fixed and re-added, and are available to review in this PR: https://github.com/department-of-veterans-affairs/vets-api/pull/3592

[2019-12-03 16:20] #3250 closed

[2019-12-03 16:22] erikphansen commented on #3656
re-opening and moving to Validate. The change will go out today. Once it's live @nedierecel can confirm that the updated strings are getting sent to GA.

[2019-12-03 16:23] thatmattjohnson commented on #2887
link to migration plan: https://docs.google.com/spreadsheets/d/11MTTtgLStBsQZw0jEyXTcArQEq2hkTtusCytXCafJAI/edit#gid=960932556

[2019-12-03 16:26] clantosswett commented on #1129
@Justin-Pickett now that this is closed, where should I be adding new addresses that users report aren't working?

[2019-12-03 16:26] #3750 closed

[2019-12-03 16:28] #2911 closed

[2019-12-03 16:29] nedierecel commented on #3656
@erikphansen - I'll confirm. We should see this appear within the dashboard. Thanks!

[2019-12-03 16:30] lihanli commented on #3216
address override should work now for this address
[code]

[2019-12-03 16:30] nedierecel commented on #3678
Thanks @jonwehausen The new Action values look better. Can you publish and then send a note to David W. that this should be live?

To confirm, will this also be in the Modernized container?

[2019-12-03 16:33] lkoenigsberg commented on #1129
I had suggested to @Justin-Pickett that we collect the addresses in a github doc. This will allow you to add and ya to use them as test cases when we do get the new candidate address system up and running.

[2019-12-03 16:33] Lucastickner commented on #3807
Liz - I tried to answer a few questions here to let us maximize our time when we meet.

What is the background of Yellow Ribbon content presentation / process?

- Tammy can expand but it has been a long time to get where we are today.  Short version - we needed something quickly to capture data on YR schools.  The team used an access database for this.  That database is updated yearly in order to

[2019-12-03 16:36] YanaRoy commented on #3120
@rileyorr can this ticket be closed or are is the question above still unanswered?

[2019-12-03 16:37] kevinstachura commented on #3456
Hi @peggygannon - Changes you have suggested have been added to the Invision proto: https://vsateams.invisionapp.com/share/S2U2NQZZ76A#/screens/394760072_Upload_Additional_Evidence_-_Checkbox_-_Revised

To answer your question:

_do we need to add anything to the message that the evidence should be new supporting evidence and not evidence that they already submitted for that particular claim?_

Th

[2019-12-03 16:38] rileyorr commented on #3120
@YanaRoy I haven't received a response for comment 5

[2019-12-03 16:38] clantosswett commented on #1129
Okay. Just let me know when that github doc is created so I can add them. Thanks!

[2019-12-03 16:40] YanaRoy opened #3881 "[Design] Chronological order of appeals / claims"
## User Story
As a claimant, I want to have a visual representation of the order in which I submitted my claims so that can see them in an organized fashion.

## Goal
List the appeals / issues within the Claim Status Tool in chronological order (order by date).

## Tasks
- [x] Display claims in chronological order

## Acceptance Criteria
Scenario: A Veteran has multiple appeals and claims that the

[2019-12-03 16:42] ncksllvn opened #3882 "Implement column sorting into search results"
After performing a search, a user should be able to click a column header in order to sort by that column and toggle ascending/descending.

[2019-12-03 16:47] YanaRoy commented on #3120
@peggygannon if you have time today, could you please provide a response to @rileyorr 's question for comment 5 above? thank you!!

[2019-12-03 16:53] Justin-Pickett opened #3883 "add "edit" link to address modal"
## User Goal

Need to see the "edit" link on the address modal

## Mock UP

https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fuser-images.githubusercontent.com%2F53535009%2F66676838-65186f00-ec36-11e9-924b-3dc1f584dd49.png

## Definition of Done

Edit link has been added to modal screen

[2019-12-03 16:55] alexpappasoddball commented on #3737
@annaswims we need to setup some time with @U-DON to talk through this

[2019-12-03 16:55] ncksllvn commented on #1727
I have a pull request ready that implements the client-side redirects and another that implements server-side. Assuming that nothing has changed since the original planned launch date of 11/22, they should still be good to go.

[2019-12-03 16:59] ncksllvn commented on #2556
Unless we're pressed on this, I'm not planning to merge this work for this until @kelsonic is back. It carries site-wide impact that I'm not super comfortable with without more context to be absolutely sure.

[2019-12-03 17:03] peterhill-oddball commented on #2951
Ok, I finally have the test working on my box.  Anyway, with 100 users I am getting a RPS of ~61.  I'm also seeing some failures.  Unfortunately, there aren't any detailed error logs available.  I'm seeing two different failures --
`HTTPError(u'503 Server Error: Service Unavailable for url: https://staging-api.va.gov/v0/disability_compensation_form/rated_disabilities',)`
and
`HTTPError(u'500 Serve

[2019-12-03 17:06] rileyorr commented on #3804
@YanaRoy I have updated the Review Submission page with Emily's suggestions. The mockups can be found [here](https://vsateams.invisionapp.com/share/W5U21BDFTQK).

[2019-12-03 17:10] #3863 closed

[2019-12-03 17:15] ndsprinkle commented on #3458
Pull request: https://github.com/department-of-veterans-affairs/vets-website/pull/11193

This is the same PR used for 3457.

[2019-12-03 17:19] jenniferlee-dsva commented on #3040
Replying to question above: https://github.com/department-of-veterans-affairs/va.gov-team/issues/3040#issuecomment-554348613

@RLHecht and @AnneHurley - reviewed the DIC rates page for spouses and dependents. A couple of major points WRT H1 and H2s. Others more granular and I'm sure I missed a lot as well.

See attached PDF with comments and changes -- did  not make these in Drupal. Please note so

[2019-12-03 17:19] micahchiang commented on #2951
I agree, I think the acquiring the server logs for staging might be a good next step. My thought is that it's a resource issue with staging, but only because our PM has been manually QA-ing different staging accounts and data has been coming back fine. Do you know how we can go about getting the server logs for staging?

[2019-12-03 17:21] RLHecht commented on #1727
@ncksllvn  There are two legacy pages under More Resources in the burials that need to move to more Resources in disability when the main DIC page moves: https://www.benefits.va.gov/Pension/current_rates_Parents_DIC_pen.asp and https://www.benefits.va.gov/Compensation/current_rates_dic.asp

Are these part of that PR?

[2019-12-03 17:24] rileyorr commented on #3806
@YanaRoy if this ticket is to incorporate feedback for displaying contested issues on the Review Submission screen, then that has been completed and the mockups are [here](https://vsateams.invisionapp.com/share/W5U21BDFTQK).

[2019-12-03 17:25] billfienberg commented on #2888
The following files don't have file extensions, but seem to be using Markdown formatting. Is it same to add the `.md` file extension to all of these files?

* https://github.com/department-of-veterans-affairs/vets.gov-team/blob/master/Products/Burials%20and%20memorials/Pre-Needs-Burial/Discovery/user-research-session-3
* https://github.com/department-of-veterans-affairs/vets.gov-team/blob/master/P

[2019-12-03 17:32] #3457 closed

[2019-12-03 17:32] #3458 closed

[2019-12-03 17:33] peterhill-oddball commented on #2951
I don't know how to get at those staging server logs off the top of my head, but I'm digging into it now.

[2019-12-03 17:38] thatmattjohnson commented on #3713
link to migration plan: https://docs.google.com/spreadsheets/d/1D47rxF4rDZjw-W4F3EEvrAHCGAGpVrbp6NZB_sVmi1o/edit#gid=2131398488

Note that in addition to the migration plan there is a separate set of files which per Andrea have already been migrated and only require deprecation messaging.  She asked if it would be possible for us to run just the deprecation script against these.

[2019-12-03 17:42] #3806 closed

[2019-12-03 17:50] #3392 closed

[2019-12-03 17:54] #3284 closed

[2019-12-03 17:57] jbalboni opened #3884 "Cancelling an appointment request clears out the best time to call values"
If you cancel a request from va.gov, the best times to call values are cleared from the data, even though the data is passed through from the front end.

[2019-12-03 18:08] deweydell commented on #3772
Update on inconsistency issues above:

## API request doesn't return the past 12 months
This issue was solved by including the following in the request `includeEmptyRows: true`

## Different values in GA console and in the API request response body
Resolved: the operator defaulting to REGEX for the requests that were returning way more values than in the GA console. (ie. querying for the event lab

[2019-12-03 18:23] AnneHurley commented on #1727
@mnorthuis @RLHecht @lunascoop - There are so many moving pieces in this ticket - @mnorthuis - could you help me and Randi figure out what-all we need to do at this point? I want to make sure we capture all the missing pieces (I believe I will be writing blurbs to link to the new pages, for example), matching DIC rates here and elsewhere. It'd help me so much if we could get a final checklist of t

[2019-12-03 18:32] rianfowler commented on #2860
- We should optimize the app specific stylesheets- especially if it's not hard to implement. Do you know what the potential impact would be? For example the [comparison tool ](https://www.va.gov/gi-bill-comparison-tool) has a 4.5kb app stylesheet:

<img width="466" alt="Screen Shot 2019-12-03 at 10 16 04" src="https://user-images.githubusercontent.com/4998130/70077489-337cae00-15be-11ea-95f8-ebb4a

[2019-12-03 18:35] deweydell commented on #406
# Front end solution / custom solution effort

## High effort
- Authentication
  - including research about whether to continue with Oauth, how to authenticate people (ie. whether or not they have a va.gov email?), the socks proxy and authentication for other data sources
- Percent difference from target over time chart
- Funnel conversions bar charts
- Coalescing data from different sources (down

[2019-12-03 18:48] Clark-W-Griswold opened #3885 "Engineering breakout meeting followup items"
How is a widget made?
  Follow here to determine the type of feature this project falls under:
  https://department-of-veterans-affairs.github.io/veteran-facing-services-tools/getting-started/common-tasks/new-feature/
  In the case of an application, follow here:
  https://department-of-veterans-affairs.github.io/veteran-facing-services-tools/platform/tools/generator/

How does routing with that w

[2019-12-03 18:50] peggygannon commented on #3120
@rileyorr @YanaRoy sorry i missed this one. I just commented on #5. Riley, let me know if you have any further questions.

[2019-12-03 18:52] thatmattjohnson commented on #3712
Reviewed/approved #47 per request.

[2019-12-03 18:53] rileyorr commented on #3120
Hi @peggygannon! Thanks for taking a look at the mockups!! I don't see a response for [this comment](https://vsateams.invisionapp.com/share/5RUP8V2TSHD#/screens/392020153/comments/123947645).

[2019-12-03 18:53] mnorthuis commented on #3822
# IA Review and Feedback:
If you have any questions or would like to walk through this on a call, please let me know.  This issue documents IA feedback and can be closed at your discretion.

## Structure, Breadcrumbs & URLs
- Pages shown in site map here: https://app.moqups.com/Rnc4BDEKrA/view/page/a4dc7a719
- The new form will live under the Decision Reviews “branch”.

**PAGE:** “Request a Higher

[2019-12-03 18:54] ndsprinkle commented on #3454
In-vision app design: https://vsateams.invisionapp.com/share/S2U2NQZZ76A#/screens/395958869_Claims_Landing_Page_-_Updated_Chron_Order_-_V1

[2019-12-03 18:59] Justin-Pickett commented on #3153
@erikphansen can you test this so we can close this out for Sprint 9 if possible.

[2019-12-03 19:09] rileyorr commented on #3120
@YanaRoy Peggy responded to the comment and no updates need to be made. This ticket is good to be closed

[2019-12-03 19:18] peggygannon commented on #3414
@narin I'm looking at scenarios 3 and 4, and would it be accurate to use the alert heading:
**This is the earliest date we can schedule your appointment** for both of these situations, but with scenario 3, the user can either request another appt or call? and with scenario 4, the user's only option is to call?

cc @markgreenburg

[2019-12-03 19:20] markgreenburg commented on #2531
Confirmed working in staging.

[2019-12-03 19:29] #3153 closed

[2019-12-03 19:33] alexpappasoddball commented on #3603
@annaswims @jholton @thilton-oddball @omgitsbillryan @kfrz @LindseySaari
In an effort to make sure we have what we need from this, can each one of you review the README.md file that Anna linked to see if there are any gaps and make the necessary changes you see fit.

Once you have reviewed it, please check the box in the acceptance criteria under your name so we know everyone has reviewed it.

[2019-12-03 19:34] #3477 closed

[2019-12-03 19:40] nathanhruby commented on #3036
See also #3024 and #2780

[2019-12-03 19:40] Samara-Strauss commented on #3763
@peggygannon this is one of the tickets related to the direct deposit work I mentioned on yesterday's call. Let's regroup on this once I've had a chance to also update the direct deposit content page outline, since it's related to this.

[2019-12-03 20:03] mnorthuis opened #3887 "IA Review for VA Forms Search"
## Goal
To review the IA structure, URL and entry points and provide feedback on the redesigned VA Forms Search tool.  Current tool: https://www.va.gov/vaforms/

## Background
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/find-va-forms-redesign/agenda-va-forms-082819.pdf

**Context:**
_- The primary users are Veterans, family members, caregivers, VSOs, and othe

[2019-12-03 20:06] mnorthuis commented on #3887
@lwalsh617 @jenniferlee-dsva Can you complete the info above and I will in turn document feedback/recommendations?  Thank you!

[2019-12-03 20:09] Justin-Pickett commented on #3656
@nedierecel can you confirm that this is appearing in the dashboard now. Thanks so much. Looking to close out this ticket.

[2019-12-03 20:11] nedierecel commented on #3656
@erikphansen @Justin-Pickett I'll do that - I'll check back later today and tomorrow AM.

[2019-12-03 20:16] jenniferlee-dsva commented on #3247
@lwalsh617 - Assigning you this. And will assign the other one that just came in from Fred Somers regarding the forms issues. Just heads up - not ready yet.

[2019-12-03 20:20] rebeccawalsh commented on #3421
Here is the Mural workspace being used for this activity: https://app.mural.co/t/vsa8243/m/vsa8243/1575303819084/05a27770ef566dc93f36782ff9a2f5f517e9f2d6

Export will be included once team members have had a chance to put their ideas on the board!

[2019-12-03 20:27] nedierecel commented on #2317
Sent note to Lisa and Clarice via Slack to confirm launch next week

[2019-12-03 20:28] Justin-Pickett commented on #3656
Okay great! Im going to assume (which i try not to do to often)that the info will be on the dashboard and go ahead and close this ticket for this sprint 9. If you find that its not on the dashboard when you check back, we can reopen this and just get it in Sprint 10 which begins for us tomorrow. Thanks again @nedierecel

[2019-12-03 20:28] #3656 closed

[2019-12-03 20:29] Justin-Pickett commented on #3216
@lihanli can we close this ticket?

[2019-12-03 20:31] nedierecel commented on #3846
@jonwehausen Can you help me QA this segment I built? The goal is to obtain the total **users** who started on Modernized content (e.g. homepage or hubs) then proceeded to complete a `rx-refill` event.

https://analytics.google.com/analytics/web/template?uid=5FEO7aSmSDKOT-sNprIctQ

Please copy and paste this segment to your personal assets, then use the "All Production Website" view to see total u

[2019-12-03 20:32] mmiddaugh commented on #3635
Still needs access to the API

[2019-12-03 20:32] nedierecel commented on #3678
@jonwehausen I see the event in the Modernized container. I also added a "s" to the end of Interaction to align it with our Event Category naming.

[2019-12-03 20:33] #3584 closed

[2019-12-03 20:33] mmiddaugh commented on #3554
Waiting for prototype to be finished but otherwise complete.

[2019-12-03 20:34] lihanli commented on #3216
@erikphansen are you still getting any errors?

[2019-12-03 20:37] micahchiang commented on #2951
@peterhill-oddball, @tlei123 - I spoke with Silvio and we were able to take a look at the vets-api server logs for staging to help analyze the results of the load test. In summary, it seems the 500 and 503 errors are an issue with EVSS running out of available connections. Longer post incoming below.

[2019-12-03 20:41] peterhill-oddball commented on #2951
Excellent, I tried Sentry and Grafana for more details, but I made no progress.  I asked JP a few questions as well, but we weren't quite sure how to get a hold of the staging logs.  Any change you can write down the steps you took to retrieve those logs for future reference?

[2019-12-03 20:44] mnorthuis commented on #3809
@RLHecht There are 4 URLs slated to be redirected to this page.
- The first one is the change from old URL to new URL
- The vets.gov page is already redirected and needs to be updated
- The bottom 2 benefits.va.gov URLs should be redirected if the new page is in parity.  Can you take a look at the bottom 2 and confirm that those 2 redirects are ready, or if we should hold on those?

www.va.gov/bur

[2019-12-03 20:46] peggygannon commented on #3414
@narin Hi, see updated content suggestions below. Can you let me know if I got the messaging correct for these two scenarios?

Scenario 3
{alert}
**This is the earliest date we can schedule your appointment**
The earliest appointment we can schedule for you is {date, time}.

If this date doesn’t work, you can:
*Submit a request for an earlier date, **or**
*Call your local VA medical center

{butto

[2019-12-03 20:48] Justin-Pickett opened #3890 "Front End - Address Validation User Testing Updates"
This is the ticket for the front end build for updates resulting from Address Validation Usability Testing

## User Story:

As a user, I need to understand why I'm being told the VA can't confirm/verify my address so I can make the best decision on how to move forward and save my address.

## Tasks

@bradl3yC copy updates are ready for the address validation feature for all states except the bad u

[2019-12-03 20:48] mnorthuis commented on #3836
This appears to be for the search landing pages, which I understood to be sort of a separate work effort from the core tool.

[2019-12-03 20:51] Justin-Pickett opened #3891 "Front End - Bad Unit Number"
This is the ticket for the front end build for the bad/ missing unit number work that needs to be implemented.

## User Story:

As a front end designer, I need implement the copy changes so that I can validate this in staging.

## Tasks

_The steps that must be done by the team to complete the acceptance criteria_

- [ ] Implement Copy Changes

## Acceptance Criteria:

_The requirements that must

[2019-12-03 20:53] Justin-Pickett opened #3892 "Revised Error Code Matrix with Updates"
## User Story:

As a Product Manger, I need revise the error code matrix so that I can update it with the requested changes to be added to it.

## Tasks

_The steps that must be done by the team to complete the acceptance criteria_

- [x] Create a GitHub version of the spreadsheet and have a column added that indicates what the VA.gov
        experience/outcome is given that error
- [x] Be clear i

[2019-12-03 20:55] #3161 closed

[2019-12-03 20:57] RLHecht commented on #3809
@mnorthuis It looks like the information in those bottom two pages are incorporated in the current page, so I think they are OK to be redirected. @jenniferlee-dsva can you confirm I'm not missing something?

[2019-12-03 20:57] U-DON commented on #2860
We could potentially use `critical`, an NPM package that takes critical (above-the-fold) CSS and inlines it. If we keep track of pages that have been scanned and "inlined", it might not be a huge time burden on CI once we have our initial set of modified pages.

https://github.com/addyosmani/critical

[2019-12-03 20:58] markgreenburg commented on #2362
@rtwell for scenario 1, feels like we could do some type of alert or content-only page where we usher veterans down the VA path and let them know that they _might_ be eligible for CC but that they will need to check back later because we can't know right now. Same thing for 4 - we could probably tell veterans that they might be able to self-schedule later, but can only request an appointment for t

[2019-12-03 21:00] markgreenburg commented on #2362
cc @peggygannon

[2019-12-03 21:00] jason-gcio commented on #3134
https://staging.va.gov/disability/view-dependents/

[2019-12-03 21:00] #3134 closed

[2019-12-03 21:00] Justin-Pickett opened #3893 "Create list of all benefits applications"
Create a list of all benefit applications and where they get address data from — note which are VA Profile (Vet360) and which are not.

## User Story:

As a designer , I need to create a list of all benefit applications and where they get address data from and note which are VA Profile (Vet360) and which are not.

## Tasks

_The steps that must be done by the team to complete the acceptance criter

[2019-12-03 21:05] #3736 closed

[2019-12-03 21:06] mr0sari0 opened #3894 "Implement Google Analytics"
## User Story:
As a Front End Developer, I need to implement Google Analytics for our product's websites so that I can track stats about our users.

## Tasks
- [ ] Meet with GA team once websites are set up - 1 hour - Owner
- [ ] Implement GA scripts on websites - y hour(s) - Owner

## Acceptance Criteria:
- [ ] See user stats on Google Tag Manager

## Next Steps
- [ ] Meet with GA team once websi

[2019-12-03 21:08] micahchiang commented on #2951
Here is a screenshot of the test I just ran:
![Screen Shot 2019-12-03 at 12 39 27 PM](https://user-images.githubusercontent.com/15097156/70087910-0635fd00-15ca-11ea-8bea-b7159163e00a.png)

Here is a screenshot of the corresponding failures in that test:
![Screen Shot 2019-12-03 at 12 39 33 PM](https://user-images.githubusercontent.com/15097156/70087937-177f0980-15ca-11ea-9ded-7ad1c88de70f.png)

He

[2019-12-03 21:11] mr0sari0 commented on #3894
Adding @wygonikGCIO as a participant

[2019-12-03 21:13] Justin-Pickett opened #3895 "Propose solution for how to handle military addresses in benefit applications that use VA Profile data."
Propose solution for how to handle military addresses in benefit applications that use VA Profile data.

## User Story:

As a designer, I need propose a solution for how to handle military addresses in benefit applications that use VA Profile data.

## Tasks

_The steps that must be done by the team to complete the acceptance criteria_

- [x] Technical discovery - Identify which forms will be affe

[2019-12-03 21:15] YanaRoy commented on #3566
@jenstrickland I will be closing this ticket. The comment you added with the purple/yellow notes will be handled separately from this ticket since these are global changes to the forms library. @AZSchneider is in the process of looking into these recommendations and how to move forward.

[2019-12-03 21:15] #3566 closed

[2019-12-03 21:17] #3804 closed

[2019-12-03 21:21] davidconlon opened #3897 "Conduct research on urgent care PDF"
## User Story
As the Facility Locator team, we need to validate our MVP assumptions and identify pain points in the user flow so we can improve the next iteration.

## Objectives or Key Results this is meant to further
- Improve the Veteran Search Experience (Veterans have the information they need to be prepared for an urgent care visit. )
- Reform Community Care Implementation

## Tasks
- Conduc

[2019-12-03 21:23] billfienberg commented on #3713
PRs for files migrated from `vets.gov-team` to `va.gov-team`
`vets.gov-team`: https://github.com/department-of-veterans-affairs/vets.gov-team/pull/20056/
`va.gov-team`: https://github.com/department-of-veterans-affairs/va.gov-team/pull/3889

PRs for files migrated from `vets.gov-team` to `va.gov-team-sensitive`
`vets.gov-team`: https://github.com/department-of-veterans-affairs/vets.gov-team/pull/2

[2019-12-03 21:24] YanaRoy opened #3898 "[Build] HLR: Incorporate Design Updates on Review Submission screen"
## User Story:
As a Front-end developer on the Benefits and Memorials team, I need to update the Review Submission page so that I can ensure it follows the recommendation of the design team's review, which has been reflected in the latest design mockup.

## Tasks
- [ ] Update the Review Submissions page with design changes

## Acceptance Criteria:
- [ ] The Review Submission page has been updated

[2019-12-03 21:24] Justin-Pickett opened #3899 "Sprint 10 Objectives 12/4- 12/17"
## Sprint 10 goals

### Direct deposit

Goal: Ramp up direct deposit
- [x] Launch direct deposit to 75% and monitor for problems #3964
- [x] Design and copy for the content page #2903
- [x] Investigate why "flagged for fraud" error rate is so high
  - [x] #3966
  - [x] #3981
  - [x] #3982
  - [x] #4097
- [x] Get on eBenefits schedule to remove direct deposit from the site in 1/29 release #3967
- [

[2019-12-03 21:26] jonwehausen commented on #3678
Hi @nedierecel

Thanks for gut-checking.

Functionality is now live in both containers and custom dimension 61 is allocated towards "Video Title" in non-prod and prod properties.

[2019-12-03 21:28] peterhill-oddball commented on #2951
I think this will be most relevant to load testing.  Perhaps we could create an article for how to retrieve error logs within the devops/loadtesting space.  I would like to try reproducing your steps, but I don't have AWS access.  Once I am able to do that, I volunteer to write up those 4 quick little steps maybe with some screen shots.  Thanks for writing that down!

[2019-12-03 21:33] Justin-Pickett opened #3900 "Front End - Initial frontend setup to prevent DSLogon LOA3 users from accessing Direct Deposit"
Users who used DSLogon to verify their identity (ie are LOA3 via DSLogon) should be prevented from accessing the Direct Deposit feature.

## Tasks
We still need design and copy, but in the meantime we can hide the DD component and show temp messaging.

[2019-12-03 21:33] patrickvinograd opened #3901 "Address impact of SSOe integration on developers"
An effort is underway to integrate SSOe with VA.gov sign-in, such that signing in to VA.gov will also establish an SSOe session.

This introduces a dependency on SSOe for VA.gov including in the dev/staging/localhost environments, and could impact developers as follows:

1. If SSOe is down, VA.gov sign-in will fail. SSOe's lower environments (pint/int/sqa) are potentially less reliable than we wou

[2019-12-03 21:34] YanaRoy commented on #3619
MVI is trying to figure out why we don't have access privileges for the add profile end point. Currently debugging all connections. Once that is done, we can move forward with the env testing.

[2019-12-03 21:41] wyattwalter opened #3902 "2019-11-21 GIDS latency incident"
## Incident investigation / postmortem

On 2019-11-21, the GIDS application experienced a high volume of requests which created latency in that application. This latency then cascaded back up into vets-api. This epic is to track investigation and follow-up work from that investigation.

Link to PM: https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/pull/17

## Definition of do

[2019-12-03 21:45] alexpappasoddball commented on #3738
@omgitsbillryan Here you go!

[2019-12-03 21:46] #3169 closed

[2019-12-03 21:49] pjhill opened #3903 "Searching while back-end unavailable returns no search results"
When the back-end for search is unavailable, a search returns an empty result set instead of correctly indicating that an error was encountered.  Example steps --

1. Start up the front-end locally
2. DO NOT start up the back-end
3. Perform a search from the main page using a string that is known to have results (example: "burial")
4. Note that the results come back empty instead of providing any

[2019-12-03 21:49] rebeccawalsh commented on #3193
![Workflows - Order Socks.jpg](https://images.zenhubusercontent.com/5da618a29c4ddf0001b2fd8e/00d173fd-9f3d-45e0-beec-426605e545f1)

Find it on GH here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/medical-device-tool/research/workflows.md

[2019-12-03 21:50] rebeccawalsh commented on #3079
![batteries-workflow.jpg](https://images.zenhubusercontent.com/5da618a29c4ddf0001b2fd8e/5cc43b53-cf04-4fa8-a292-77e828a5bd97)

Find it on GH here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/medical-device-tool/research/workflows.md

[2019-12-03 21:56] SgardnerPMP opened #3904 "[DISCOVERY] Identify common health services for clinics included with Lebanon, PA MC(System) [BA]"
## User Story or Problem Statement
As a web administrator, I need to determine the common services provided "For all Clinics" across the VISN and associated to the MC,  so that a standardized content can be created for use with API selection for these services across the medical center websites.

## Goal
_Review all services listed for all VISN 4 Clinics websites and create listing of common servi

[2019-12-03 21:56] #3850 closed

[2019-12-03 22:01] jason-gcio opened #3905 "Rated Disabilities Error Handling Refinement"
## Story
As a Veteran, in the event that there is an issue, I want to be notified appropriately as to what happened for the different components on the View Rated Disabilities page so I can be informed and take the best course of action.

## Considerations
- Default to more granularity for each component
- Reinject the error notification for the component
- Fair to assume the empty array is coming

[2019-12-03 22:06] #3678 closed

[2019-12-03 22:09] markgreenburg opened #3906 "ID.me accounts not working on VA.gov VAOS staging environment"
## Story
As a developer, I would prefer to access VAOS in staging via ID.me authentication because it is more reliably available and because there are more test users / cases than DS Logon provides.

## AC
- [ ] A few ID.me staging accounts that are LOA3 and are enrolled in healthcare are working with VAOS on VA.gov.

[2019-12-03 22:12] jonwehausen commented on #3846
Hi @nedierecel,

Just checked - this looks great to me 👍

[2019-12-03 22:18] davidconlon opened #3907 ""Please call" text change (grammar) on Facility Locator Detail page"
## What happened?
Text on facility detail page says "Planning to visit? Please call first _as information on this page change._"

![image.png](https://images.zenhubusercontent.com/5d93a452c8e4d80001227a6c/cbc1362a-1f3f-4590-9f65-ee91c42eaedb)

## Steps to Reproduce
- URL: https://www.va.gov/find-locations/facility/vba_311

## Desired behavior
- Text should say: "Planning to visit? Please call firs

[2019-12-03 22:27] micahchiang commented on #2951
PR here https://github.com/department-of-veterans-affairs/devops/pull/6025

[2019-12-03 22:35] YanaRoy opened #3909 "Additional Evidence documents don't display after upload"
## What happened?
_Within the Claim Status Tool, a capability exists to upload additional evidence for an existing claim. Using a file that conforms to the file types allowed, and seemingly being accepted and uploaded, the file is not available to be viewed._

## Specs:
- Device: (e.g. iPhone 8, Macbook)
- Browser: (e.g. Firefox, IE 11)
- Test User _(if applicable)_:

## Steps to Reproduce
- URL:

[2019-12-03 22:36] #3120 closed

[2019-12-03 22:37] ncksllvn commented on #2268
PR is open for this. We may need a follow-up though. I think page 100 (result 991-1000) should be accessible, but it isn't right now.

[2019-12-03 22:43] micahchiang commented on #3563
Tagging the eBenefits engineers on here for visibility sake, since this is something that has some pretty significant ramifications for work we will be doing.

[2019-12-03 22:44] #2454 closed

[2019-12-03 22:48] Mottie opened #3910 "HLR: Fix gating issues"
## What happened?

The HLR gating wizard has a few minor issues:
- It's not showing the correct color when collapsed.
- The `aria-expanded` attribute is not updated.

## Desired behavior

- The collapsed wizard button should be green, and only turn blue when expanded.
- The `aria-expanded` attribute should update to `true` when expanded (showing the gating choices)

## Acceptance Criteria
- [ ] Wi

[2019-12-03 23:01] wyattwalter commented on #3717
@annaswims I'm not sure how you want to assign out this work, but I believe that a big one that we need to look into is on the institution search API. Looks like that's the landing page you get to when you click "Search for Schools" whether or not you use an autocompleted response. It's consistently ~300ms on the backend and was one of the biggest spikes. During the incident, latency of that rose

[2019-12-03 23:02] #3622 closed

[2019-12-03 23:21] thatmattjohnson commented on #2650
link to migration plan: https://docs.google.com/spreadsheets/d/1EJadI7Guty7ptWRI8tjBD0tmi7SI7HbnK2bV1BQ07NA/edit#gid=1283217997

[2019-12-03 23:51] mmiddaugh opened #3911 "Diagnose/Research Search performance"
## User story
-  As a Veteran, I need to quickly and efficiently find community care locations so that I can have my health care needs met.

What improvements can we make on **our side** to improve performance?

## Task
- Research the bug which is causing requests to fail, reboot and be put on hold, ultimately impacting performance

## Acceptance Criteria
[  ] Create dashboards for John Paul using

[2019-12-04 00:06] mmiddaugh opened #3912 "Conduct Facility Locator Urgent Care User Research"
## User Story
As the Facility Locator team, we need to understand Veteran expectations when searching for urgent care facilities so that we can address their needs with the UX redesign.

## Tasks
- Conduct Remote Moderated Usability Testing to gain feedback on the first iteration of the Urgent Care prototype.

## Goals
- Identify pain points in the user flow and areas to improve the next iteration

[2019-12-04 00:08] mmiddaugh opened #3913 "Facility Locator Urgent Care Research Synthesis"
## User Story
As the Facility Locator team, we need to understand Veteran expectations when searching for urgent care facilities so that we can address their needs with the UX redesign.

## Tasks
- Synthesize information gleaned from Urgent Care research sessions

## Acceptance Criteria
[ ] Research readout summary which includes findings, recommendations, additional questions

[2019-12-04 00:25] #2468 closed

[2019-12-04 00:28] mmiddaugh opened #3914 "Validate Optum data"
## Problem Statement
- How might we confirm that facilities within the Optum network are being returned in Facility Locator search results?

## Goal
- Validate that Optum network facility data is available in the Facility Locator when the network goes live 2/2/2020.

## Objectives or Key Results this is meant to further
- Improve Community Care implementation

## Acceptance Criteria
- [ ] Faciliti

[2019-12-04 00:36] #3405 closed

[2019-12-04 00:37] meganhkelley commented on #2128
This work will now be tracked in the joint VSP support super epic #3675

[2019-12-04 00:37] #2128 closed

[2019-12-04 00:56] #2208 closed

[2019-12-04 00:57] #2229 closed

[2019-12-04 01:04] meganhkelley opened #3915 "Iterate on error message and downtime banner guidelines per VSP findings"
VSP conducted an audit of downtime banners on VA.gov (#2229) and is bringing the error messaging guidelines into the VSP ecosystem (#1401).

Based on findings from reviews associated with the above linked epics, we are iterating on error message and downtime banner guidelines in the design system.

### User Story
As a content writer for VA.gov, I need to know the best way to convey an error or dow

[2019-12-04 01:05] meganhkelley commented on #2230
Iterations on downtime banners tracked in #3915

[2019-12-04 01:05] jason-gcio commented on #3594
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/ebenefits/features/view-rated-disabilities/call-center/Rated-Disabilities-Product-Guide.pdf

[2019-12-04 01:05] #3594 closed

[2019-12-04 01:05] #2951 closed

[2019-12-04 01:10] jason-gcio commented on #3577
Thank you!
Chat soon

[2019-12-04 01:44] meganhkelley opened #3916 "GitHub action vale as plain language linter"
The MVP of vale as a plain language linter adjacent to the CMS user's workflow (#2233) has been deprioritized ([decision documented](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/content/automated-content-review/decisions.md)) in favor of using the GitHub action as a proof of concept.

_More context: the initial MVP was begun as part of the workflow of content

[2019-12-04 02:53] #3135 closed

[2019-12-04 02:59] #2604 closed

[2019-12-04 04:06] 1Copenut opened #3917 "[DOCUMENT]: GIBCT SCO - VA ONCE PDF is not navigable with keyboard or JAWS screen reader"
## Description

VA 508 office has identified the [VA Once Quick Reference Guide](https://www.benefits.va.gov/GIBILL/docs/vaonce/VAONCEguide.pdf) PDF as not being navigable with keyboard or JAWS screen reader. Looking at the PDF, it might have been saved as a PDF from another source, like a Power Point file.

## Point of Contact

**VFS Point of Contact:** _Trevor_

## Remediation Resources
* Run th

[2019-12-04 04:08] erikphansen commented on #3216
I'm still not able to get overrides to work for the 225 irving st address. @lihanli I don't recognize this object format:

[code]

Which endpoint are you sending that to?

[2019-12-04 04:23] 1Copenut opened #3918 "[DOCUMENT]: GIBCT SCO - Dear SCO letter images need alt text"
## Description

VA 508 office has identified the [Dear School Certifying Official](https://www.benefits.va.gov/GIBILL/docs/fgib/107_TandF_SCO_letter.pdf) PDF as needing alt text for two images. Screen shot attached below.

## Point of Contact

**VFS Point of Contact:** _Trevor_

## Remediation Resources
* [Add alternative text to a shape, picture, chart, SmartArt graphic, or other object](https://

[2019-12-04 04:27] 1Copenut opened #3919 "[DOCUMENT]: GIBCT SCO - VA ONCE PDF logo needs alt text"
## Description

VA 508 office has identified the [VA ONCE Quick Reference Guide](https://www.benefits.va.gov/GIBILL/docs/vaonce/VAONCEguide.pdf) PDF as needing alt text for the VA ONCE logo. Screen shot attached below.

## Point of Contact

**VFS Point of Contact:** _Trevor_

## Remediation Resources
* [Add alternative text to a shape, picture, chart, SmartArt graphic, or other object](https://sup

[2019-12-04 05:26] 1Copenut opened #3920 "[COGNITION]: GIBCT - Know before you go video has a logo with nondescript alt text"
## Description

The VA 508 office has identified the Know Before You Go embedded video has a nondescript `alt` tag for the VA logo. This could be confusing to assistive technology users and should be updated to an accurate description. Screenshot attached below.

I've assigned this to triage, because I'm not sure individual teams can get at the embed code required to make this fix. If the code is

[2019-12-04 06:07] #3626 closed

[2019-12-04 06:07] #3904 closed

[2019-12-04 06:11] #2834 closed

[2019-12-04 06:26] SgardnerPMP opened #3921 "[DISCOVERY] Complete A thru C in Lebanon_PA Health Services Playbook [BA]"
## User Story
As a Content Writer, I need Health Service guidelines input in the Lebanon-PA Playbook, so I can write the content to match the guidelines and requirements of the API and page.

## Goal/Objective
- _Complete 5 of 54 total guidelines for all Health Services Content for all associated Lebanon clinics _

## Objectives or Key Results this is meant to further
- _Reduction in overall word

[2019-12-04 06:38] SgardnerPMP opened #3922 "[DATA DISCOVERY] Create run book for Lebanon_PA and associated Clinic "Health Services" Content [Business Analysts]"
## VAMC - Product Outline
[VAMC-upgrade Product Outline](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/facilities/medical-centers/Project_Plan_Outline_2019.md)

## High Level User Story/ies
As a Content Writer, I need Specific guidelines and requirements for each of the 54 Health Services at Lebanon_PA,  so I can write the content accurately, in the correct sty

[2019-12-04 06:41] SgardnerPMP opened #3923 "[DISCOVERY] Complete (Dental through Endo) in Health Services Playbook [BA]"
## User Story
As a Content Writer, I need Health Service guidelines input in the Lebanon-PA Playbook, so I can write the content to match the guidelines and requirements of the API and page.

## Goal/Objective
- _Complete 5 of 54 total guidelines for all Health Services Content for all associated Lebanon clinics _

## Objectives or Key Results this is meant to further
- _Reduction in overall word

[2019-12-04 06:43] SgardnerPMP opened #3924 "[DISCOVERY] Complete (Ext. Care thru Hematology) in Health Services Playbook [BA]"
## User Story
As a Content Writer, I need Health Service guidelines input in the Lebanon-PA Playbook, so I can write the content to match the guidelines and requirements of the API and page.

## Goal/Objective
- _Complete 5 of 54 total guidelines for all Health Services Content for Lebanon and associated clinics _

## Objectives or Key Results this is meant to further
- _Reduction in overall word

[2019-12-04 06:45] SgardnerPMP opened #3925 "[DISCOVERY] Complete (HIV thru LGBT) in Health Services Playbook [BA]"
## User Story
As a Content Writer, I need Health Service guidelines input in the Lebanon-PA Playbook, so I can write the content to match the guidelines and requirements of the API and page.

## Goal/Objective
- _Complete 5 of 54 total guidelines for all Health Services Content for all associated Lebanon clinics _

## Objectives or Key Results this is meant to further
- _Reduction in overall word

[2019-12-04 06:46] SgardnerPMP opened #3926 "[DISCOVERY] Complete (Low vision thru MOVE!) in Health Services Playbook [BA]"
## User Story
As a Content Writer, I need Health Service guidelines input in the Lebanon-PA Playbook, so I can write the content to match the guidelines and requirements of the API and page.

## Goal/Objective
- _Complete 5 of 54 total guidelines for all Health Services Content for Lebanon and associated clinics _

## Objectives or Key Results this is meant to further
- _Reduction in overall word

[2019-12-04 06:48] SgardnerPMP opened #3927 "[DISCOVERY] Complete (HealtheVet thru Optometry) in Health Services Playbook [BA]"
## User Story
As a Content Writer, I need Health Service guidelines input in the Lebanon-PA Playbook, so I can write the content to match the guidelines and requirements of the API and page.

## Goal/Objective
- _Complete 5 of 54 total guidelines for all Health Services Content for Lebanon and associated clinics _

## Objectives or Key Results this is meant to further
- _Reduction in overall word

[2019-12-04 06:50] SgardnerPMP opened #3928 "[DISCOVERY] Complete (Palliative thru Podiatry) in Health Services Playbook [BA]"
## User Story
As a Content Writer, I need Health Service guidelines input in the Lebanon-PA Playbook, so I can write the content to match the guidelines and requirements of the API and page.

## Goal/Objective
- _Complete 5 of 54 total guidelines for all Health Services Content for all associated Lebanon clinics _

## Objectives or Key Results this is meant to further
- _Reduction in overall word

[2019-12-04 06:51] SgardnerPMP opened #3929 "[DISCOVERY] Complete (Primary care thru Pulmonary) in Health Services Playbook [BA]"
## User Story
As a Content Writer, I need Health Service guidelines input in the Lebanon-PA Playbook, so I can write the content to match the guidelines and requirements of the API and page.

## Goal/Objective
- _Complete 5 of 54 total guidelines for all Health Services Content for all associated Lebanon clinics _

## Objectives or Key Results this is meant to further
- _Reduction in overall word

[2019-12-04 06:53] SgardnerPMP opened #3930 "[DISCOVERY] Complete (Radiology thru Social) in Health Services Playbook [BA]"
## User Story
As a Content Writer, I need Health Service guidelines input in the Lebanon-PA Playbook, so I can write the content to match the guidelines and requirements of the API and page.

## Goal/Objective
- _Complete 5 of 54 total guidelines for all Health Services Content for all associated Lebanon clinics _

## Objectives or Key Results this is meant to further
- _Reduction in overall word

[2019-12-04 06:55] SgardnerPMP opened #3931 "[DISCOVERY] Complete (Social Work thru Telehealth) in Health Services Playbook [BA]"
## User Story
As a Content Writer, I need Health Service guidelines input in the Lebanon-PA Playbook, so I can write the content to match the guidelines and requirements of the API and page.

## Goal/Objective
- _Complete 5 of 54 total guidelines for all Health Services Content for Lebanon and associated clinics _

## Objectives or Key Results this is meant to further
- _Reduction in overall word

[2019-12-04 06:57] SgardnerPMP opened #3932 "[DISCOVERY] Complete (Travel thru Women Vet) in Health Services Playbook [BA]"
## User Story
As a Content Writer, I need Health Service guidelines input in the Lebanon-PA Playbook, so I can write the content to match the guidelines and requirements of the API and page.

## Goal/Objective
- _Complete 5 of 54 total guidelines for all Health Services Content for all associated Lebanon clinics _

## Objectives or Key Results this is meant to further
- _Reduction in overall word

[2019-12-04 07:03] SgardnerPMP opened #3933 "[DESIGN] Create VAMC-upgrade Content review and approval process road map [CONTENT]"
## User Story
As a Content Writer, I need to understand the review and approval process and timeline, so I can better time the submital and final copy for input into the final product.

##Goal/Objective
- _Create roadmap process with estimated timelines, roles, and approvals before content can go live._

## Objectives or Key Results this is meant to further
- _Baseline scalability of product from

[2019-12-04 07:04] SgardnerPMP opened #3934 "[DESIGN] Create VAMC-upgrade Content review and approval flow chart [PDM]"
## User Story
As a Content Writer, I need to understand the review and approval process and timeline, so I can better time the submital and final copy for input into the final product.

##Goal/Objective
- _Create flow chart for visual process with estimated timelines, roles, and approvals before content can go live._

## Objectives or Key Results this is meant to further
- _Baseline scalability of

[2019-12-04 07:18] SgardnerPMP opened #3935 "[DISCOVERY] Map out Home Page of the CMS web (Template) into distinct types [BA-Content]"
## User Story
As a VAMC-upgrade team member, I need to understand layout of the VA Web pages, so I can better plan content writing, and creation of the pages.

## Goal/Objective
- _Create visually onsistant content and data map that can be used throughout the VISNs and sites._

## Objectives or Key Results this is meant to further
- _Overall reduction in word and page count_

## Acceptance Criteri

[2019-12-04 13:15] thatmattjohnson commented on #2885
reviewed/merged sensitive PRs (#21, #20048). UAT completed for #21, #20048, #3879, #20049; all looks good. Closing this issue.

[2019-12-04 13:15] #2885 closed

[2019-12-04 13:37] thatmattjohnson commented on #3712
UAT completed for all PRs, all looks good. Closing this issue.

[2019-12-04 13:37] #3712 closed

[2019-12-04 13:47] thatmattjohnson commented on #3713
all PRs reviewed/approved, ready for merge

[2019-12-04 14:14] Karak888 commented on #3836
@mnorthuis I agree.  @ncksllvn I am going to close this ticket and keep your #3548 as the main ticket.  Please let me know if you need it re-opened.  Thanks!

[2019-12-04 14:17] Karak888 commented on #3604
thanks @ncksllvn !

[2019-12-04 14:18] Karak888 commented on #3514
@lunascoop is this still in progress, or did you decide on another alternative?  just checking, thanks!

[2019-12-04 14:27] #1410 closed

[2019-12-04 14:36] lunascoop commented on #3514
@Karak888 meant to close this issue as Mikki will be responsible for tracking URL redirects. See Jen's comment on another ticket:

https://github.com/department-of-veterans-affairs/va.gov-team/issues/3273#issuecomment-559137628

[2019-12-04 14:36] #3514 closed

[2019-12-04 14:37] Karak888 commented on #3605
perfect @ncksllvn I am moving to close this one, thanks!

[2019-12-04 14:37] #3605 closed

[2019-12-04 14:37] jenniferlee-dsva commented on #3887
Hi @mnorthuis - I've been shepherding search and search results page, so this is me. Will fill out above. Per our previous convo, the current search page URL/s have tremendous organic search value, so I'd like to maintain the existing URL and simply eliminate and redirect the weird search-action.asp URL that's competing with the main search.

[2019-12-04 14:43] #3725 closed

[2019-12-04 14:43] Karak888 commented on #3725
This has been complete and validated.

[2019-12-04 14:48] alexpappasoddball commented on #1741
@brandonrapp @rianfowler Is there something the backend needs to do here?  We believe this to be a front end thing.  We are going to remove the backend label for now as we clean up our backlog/ready column.  Let us know if there is anything we need to do.

[2019-12-04 14:48] Kimberley2019 commented on #3400
I have reviewed the document and given feedback on the documents that I have created or assisted in creating.
This has been sent to Matt for review and action.

[2019-12-04 15:01] nedierecel commented on #3527
Thanks @micahchiang I'll check in non-production that things are looking okay.

@Karak888 - Please also let me know when the unauthenticated content for Rated Disabilities is up on staging. I'll use this page to build the goal funnel for the tool.

[2019-12-04 15:07] Karak888 commented on #3759
@lunascoop can you please let us know when you have heard back from SMEs?  Thanks!

[2019-12-04 15:13] Karak888 commented on #2020
Closing this ticket as work is complete.

[2019-12-04 15:13] #2020 closed

[2019-12-04 15:14] jenniferlee-dsva commented on #3836
Hey @Karak888  @mnorthuis @lwalsh617  @ncksllvn - this ticket is (I believe) to determine the IA and urls of the __form 'master detail' landing pages__ per Mikki's comment above . It is NOT the main/default search and search results page.

So it is separate from Nick's [#3548](https://github.com/department-of-veterans-affairs/va.gov-team/issues/3548), which duplicates Mikki's [#3887](https://githu

[2019-12-04 15:16] Karak888 commented on #2449
thanks @RLHecht and @mnorthuis closing this now..

[2019-12-04 15:16] #2449 closed

[2019-12-04 15:21] ricetj opened #3936 "MHV token criss-cross"
## Incident investigation / postmortem

On 2019-11-21, While logged into va.gov, users had a high chance of seeing Rx and/or Secure Messaging data that was not their own.

Link to PM: https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/pull/19

## Definition of done
Incident report is done and merged in the sensitive repo, follow-up items are triaged and actioned.

## How to co

[2019-12-04 15:25] ricetj opened #3937 "Update MHV doc with point(s) of contact"

[2019-12-04 15:25] markgreenburg commented on #2977
I think we all know about it at this point, but just to close the loop - we _do_ need this, and submitting a message _does_ require a separate service call from the request / appointment POST.

[2019-12-04 15:28] #3856 closed

[2019-12-04 15:28] peterhill-oddball opened #3938 "Help analyze results of load testing for Rated Disabilities"
Reference ticket -- https://github.com/department-of-veterans-affairs/va.gov-team/issues/2951

Help out Micah with an analysis of some failures encountered while executing the load test for Rated Disabilities.

[2019-12-04 15:29] #3667 closed

[2019-12-04 15:30] markgreenburg commented on #3884
Believe this same thing is also affecting request submission (POST to `/requests`)

[2019-12-04 15:31] peterhill-oddball commented on #3938
Micah was able to retrieve the logs from the staging server for further analysis.  Analysis indicated that the EVSS staging endpoint could not keep up with the demand.

Additionally, I will create a tutorial for retrieving logs from staging for future load testing analysis.

[2019-12-04 15:31] #3938 closed

[2019-12-04 15:37] YanaRoy opened #3939 "Resolve connection issues with MVI"
## User Story:
As a Backend Engineer on the Benefits and Memorials team, I need to help MVI identify and resolve connection issues in order to gain access privileges to the add profile end point so that I can move forward with testing between our environments.

## Tasks
- [x] Identify MVI needs
- [x] Provide MVI with needed information and details

## Acceptance Criteria:
- [x] Connection issues h

[2019-12-04 15:42] omgitsbillryan opened #3940 "Update MHV Points of Contact Info in OnCall Markdown Doc"
The Problem
The "Key Contacts" section of our [MHV External Service Integrations doc](https://github.com/department-of-veterans-affairs/devops/blob/master/docs/External%20Service%20Integrations/My%20Healthe%20Vet.md#key-contacts) is blank:

![image](https://user-images.githubusercontent.com/3077884/70156748-6daf8380-1682-11ea-9115-7006bb9a1aeb.png)

Additional Context
This is an action item from a

[2019-12-04 15:45] Samara-Strauss commented on #2903
@peggygannon — I've got the final 🤞 updates for the direct deposit content page. Let's discuss these soon, along with #3763.

**Full content page**

[More on different ways to update payment info](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/direct-deposit/discovery-research/paper-checks-documentation.md#what-we-should-communicate-on-v

[2019-12-04 16:01] lihanli commented on #3216
that is the request i sent to the vet360 api, i figured out what the problem is i'll make a PR later to fix it

[2019-12-04 16:05] #2028 closed

[2019-12-04 16:05] #2027 closed

[2019-12-04 16:11] billfienberg commented on #2887
PRs to migrate files from `vets.gov-team` to `va.gov-team`
* vets.gov-team: https://github.com/department-of-veterans-affairs/vets.gov-team/pull/20059
* va.gov-team: https://github.com/department-of-veterans-affairs/va.gov-team/pull/3908

[2019-12-04 16:28] YanaRoy opened #3941 "[OBE] HLR: Edit issues on the Review Submission page"
## User Story:
As a Veteran, I need to be able to edit my issues on the Review Submission page so that I can incorporate updates to sections prior to submitting my Higher-level Review.

## Tasks
- [ ] add contested issues/legacy issues
- [ ] remove contested issues/legacy issues
- [ ] adjust answer to, “Would you like the same office that issued your prior decision to conduct the review?” question

[2019-12-04 16:48] alexpappasoddball opened #3942 "Tools BE VFS Support - Sprint 14"
As you review PRs, please add this epic to the issue so the business has visibility into our time spent supporting VFS teams.

[2019-12-04 16:56] artistgreen commented on #3660
Tech discovery with @erikphansen and @bradl3yC

- Confirmed that we can show slightly different modal messaging based on if the entered address has a missing unit number versus a bad unit number.
This will allow our messaging to be more accurate to users as to what is going and what they need to do in order to update their address.

- Still testing to see if a user can input their missing unit num

[2019-12-04 16:59] cohnjesse opened #3943 "Add logic to ViewDependentsList component for View Dependents work"
## User Story or Problem Statement
As a front end engineer, I need to add the necessary logic to the ViewDependentsList component for the View Dependents work so I can display the correct data according to the mockups

There are two separate lists of cards on the View Dependents page, one for those dependents on award and one for those dependents not on award. We need to take a prop of both of the

[2019-12-04 17:00] lwalsh617 commented on #3767
My understanding was that I needed to revised draft content that had been written for the static page at https://xd.adobe.com/view/0db723ac-52ff-48b3-4877-9d5882cb2e1f-7b86/
which I did. (See attached). Am not clear on what "Add sign in widget"/REACT piece means. Will follow up with Jen.
[view-disability-ratings-static-page-copy-12-03-19.docx](https://github.com/department-of-veterans-affairs/va.g

[2019-12-04 17:05] lwalsh617 commented on #3692
Here's a first draft of page content.
[view-disability-ratings-static-page-copy-12-03-19.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/3923048/view-disability-ratings-static-page-copy-12-03-19.docx)

[2019-12-04 17:06] artistgreen commented on #3660
Mockups - the flow is similar to address validation, when the user is only given the option to 'edit address' without an option to override.  We need them to enter or check their entered unit number on the edit mailing address form and clicking 'Edit address' in these screens will send them back to the form.

User needs to enter a unit number
![Missing Unit Number modal.png](https://images.zenhubu

[2019-12-04 17:07] rebeccawalsh opened #3944 "Discovery: Stakeholder Interview with DLC Customer Service Lead"
## User Story or Problem Statement
As a UX designer, I need to conduct an interview with the CS Lead at the DLC so that we can gain more insights into the problems customer service agents and their customers are experiencing with the current service for use during synthesis.

## Tasks
- [x] Create an agenda with goals and questions
- [x] Schedule interview with Jeff Robillard
- [x] Hold Meeting
-

[2019-12-04 17:07] #1783 closed

[2019-12-04 17:08] nathanhruby commented on #3036
I talked to @swirtSJW about this, the goal here is to be able to send notification emails *after* a vets-website deploys is done, where the email points at just deployed content. Use cases here are things like emergency notifications about VHA sites, updates, etc...

CMS will handle interfacing with the email sending, etc..  but they need a "deploy complete" event generated via callback with a dat

[2019-12-04 17:08] artistgreen commented on #3660
@peggygannon - based on our discussions, please take a look at these screens and provide copy for the modals.  Thank you!

[2019-12-04 17:11] alexpappasoddball opened #3945 "On Call Documentation Clean Up and Training"
## User Story or Problem Statement
As a engineer on the platform, I need a complete set of resources so I can effectively perform my on-call duties.

## Goal
Look through our current on-call documentation and troubleshooting guides to identity and fill gaps as well as hold a training for all members on the on-call rotation to ensure everyone knows where to find the resources and SOP for troublesho

[2019-12-04 17:13] alexpappasoddball commented on #3920
@mattpointzxer0 This one is coming your way by triage!

[2019-12-04 17:22] artistgreen commented on #3023
Design discovery

Military addresses have several different formats depending on these factors:

Within US / Barracks:
John Smith
Unit # Box #
Fort Bragg, NC 20813

Within US / Base Housing:
John Smith
4780 Camel Rd
Fort Bragg, NC 20813

Outside of US:
John Smith
Unit # Box #
APO, AE 09021

With these differences in formats, we can think about adjusting the UX/UI slightly based on whether the user

[2019-12-04 17:23] #3193 closed

[2019-12-04 17:23] #3079 closed

[2019-12-04 17:25] nedierecel commented on #406
Additional Context for Data Warehouse:
- [Extracting Prometheus Data](https://prometheus.io/docs/operating/integrations/#remote-endpoints-and-storage)

[2019-12-04 17:35] lunascoop commented on #3759
@Karak888 @ncksllvn @AnneHurley @jenniferlee-dsva I have sent redirect notification to SMEs. The scheduled redirect date is 12/11.

[2019-12-04 17:40] peggygannon commented on #3741
@Samara-Strauss Please see below for my content recommendations for the updated Address messaging. Please let me know if you have any questions or want to discuss further.

Scenario 1: Address is invalid. User can override this determination or pick a suggested address.

**Please confirm your address**
We couldn’t confirm your address with the U.S. Postal Service.  Please verify your address so we

[2019-12-04 17:43] Justin-Pickett commented on #3216
@lihanli lets make this an actionable ticket to deliver for sprint 10. I can create the ticket and will need your help to groom the ticket for the info that is needed in from a dev perspective. Thanks.

[2019-12-04 17:44] Justin-Pickett commented on #3533
@hinzed1127 can this ticket be closed?

[2019-12-04 17:46] mnorthuis commented on #3887
@jenniferlee-dsva Do the existing form landing pages need to remain available to users until you launch the new landing pages?

Example: https://www.va.gov/vaforms/form_detail.asp?FormNo=10EZ

[2019-12-04 17:47] Justin-Pickett commented on #3248
@erikphansen can this be closed?

[2019-12-04 17:47] rebeccawalsh commented on #3421
[Feature Scoping Activity PDF as of 12:45, Dec 4](https://app.zenhub.com/files/133843125/3fcbb0ca-5a34-4e37-8129-3ad2491f98d6/download)

**Summary:**
The team met to discuss activity's goals and requirements, identified our assumed and known business and user problems, and wrote how might we statements. The team then was tasked to provide their ideas and solutions (or further HMW's) to each of tho

[2019-12-04 17:48] Justin-Pickett commented on #3248
PR #11225 Merged and Closed. Closing this ticket.

[2019-12-04 17:48] #3248 closed

[2019-12-04 17:50] YanaRoy opened #3946 "[Research] Legacy Appeals vs Decision Review"
## User Story or Problem Statement
As a researcher, I need I need a clear understanding of the differentiation between legacy appeals and decision reviews so I can provide the right recommendation for future design to access the Decision Review page on va.gov.

## Tasks
- [x] Meet with Fred Sommers

## Acceptance Criteria
- [x]  Determine the feasibility of switching the focus from legacy to AMA p

[2019-12-04 17:52] nedierecel commented on #3872
@joanneesteban I spoke with @jonwehausen so we can have another pair of eyes on the monthly VEO metrics going forward in case one of us is unable to proof.

Jon - can you proof the metrics in the Data Sheet that Joanne listed above for accuracy?

[2019-12-04 17:53] artistgreen commented on #3023
Due to the differences in address formats for military bases within the US versus bases outside of the US, the checkbox label should something more descriptive to the effect of:
"I live on a United States military base outside of the United States"

![ Edit Mailing Address Overlay.png](https://images.zenhubusercontent.com/5d49d1baa8585c0001b6a7a8/2ac07d61-3000-4ef4-939e-a3479b3dc9a5)

Users will s

[2019-12-04 17:53] YanaRoy opened #3947 "[Design] Design Intent"
## User Story:
As a designer on the BaM team, I need clearly define the design intent for Notice of Disagreement so that I can drill down further in design of individual steps of the form.

## Tasks
- [x] Create a design intent document - Mural

## Acceptance Criteria:
- [x] Design intent created

[2019-12-04 17:54] artistgreen commented on #3023
Current InVision clickable prototype:  https://invis.io/ZRV4G12VEU7

[2019-12-04 17:54] annaswims commented on #3254
updated the example at https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/engineering/backend/tutorials/endpoint-punch-list-presentation/supporting_code/service-object-implementation.md

[2019-12-04 17:55] Justin-Pickett opened #3948 "[QA] Address Validation QA"
## Background

This epic is to track QA for the address validation functionality that is being added to the VA.gov user profile.

## Tasks

- [x] Get all scenarios added to test plan/spreadsheet. #5010 (Tze)
- [x] Support QA process (Samara) #5209
- [x] Run QA and create bug tickets. #5012 (Tze)
- [x] Implement bug fixes/updates (Brad)
- [x] Validate bug fixes (Tze) #5012

## Acceptance Criteria:

[2019-12-04 17:56] peggygannon commented on #1287
@artistgreen Hello. I wanted to double-check that you need me to provide copy for when a user needs to enter a military address, as we discussed? Is there a content ticket for that work? This issue here is an epic with many different issues discussed.

[2019-12-04 17:56] YanaRoy opened #3949 "[Design] NOD Flow Diagram"
## User Story:
As a designer on the BaM team, I need to identify the business process and steps taken when a NOD form (10182) is submitted.

## Tasks
- [x] Research and understand process that form undergoes after submission
- [x] Create flow diagram

## Acceptance Criteria:
- [x] Flow diagram created

[2019-12-04 17:58] joanneesteban commented on #3774
### Problem
Sharing KPIs ensures that product success is transparent and encourages VFS teams to keep up their KPI tracking.

Once we have workshopped setting KPIs with teams, it is less clear that KPIs are being tracked without VSP Analytics & Insights reaching out individually to each team for a progress update.

It is also a VSP QASP requirement that VFS application teams report on KPIs at leas

[2019-12-04 18:00] #3910 closed

[2019-12-04 18:01] rileyorr opened #3950 "Collaborative Notes Spreadsheet for User Interview Sessions"
## User Story:
As a UX Designer conducting user research sessions, I need to create a collaborative spreadsheet so that I can have one location where all notes from each user session can live and be categorized by participant and question.

## Tasks
_The steps that must be done by the team to complete the acceptance criteria_
- [x] Create a Google Sheet containing questions from the conversation g

[2019-12-04 18:03] artistgreen commented on #3023
@peggygannon - as we discussed, please provide copy for the checkbox label and helper text.  I'd be happy to discuss or any answer any questions - thank you!

[2019-12-04 18:06] artistgreen commented on #1287
@peggygannon - Hi, yes, I just tagged you on the ticket for the military base copy.  Thank you!

[2019-12-04 18:08] Karak888 commented on #2215
are in Drupal but not live.  Will wait for @jenniferlee-dsva to get together with @AnneHurley :CC @RLHecht @lunascoop .

[2019-12-04 18:11] billfienberg commented on #3713
All PRs have been merged

[2019-12-04 18:13] #3881 closed

[2019-12-04 18:14] joanneesteban commented on #3774
- Talk to Kevin H on thoughts on practical approaches
- Talk to Chris J after we've gone through some solutions

Other thoughts:
- Fitting into their sprint cadence
- Level of product maturity

[2019-12-04 18:19] markgreenburg commented on #3906
@saneshark sent email to Tanel with info on users we wanted to get set up / debugged on ID.me. Waiting on follow up.

[2019-12-04 18:19] peggygannon commented on #3456
thanks, @kevinstachura I posted a few comments in the mockup. also if there is an inline error message for that checkbox, can you add that to the mockup, so I can review that too?

[2019-12-04 18:22] #2934 closed

[2019-12-04 18:22] #2933 closed

[2019-12-04 18:26] Karak888 commented on #1727
@RLHecht will look into legacy pages and coordinate at same time she moves the DIC under disability hub. @AnneHurley will reach out to SMEs to let them know we are doing them at the same time.

[2019-12-04 18:29] artistgreen commented on #3023
In an effort to understand the impact on other forms on VA.gov this list was compiled.  These are the forms that have an address section which may be impacted by these changes.

https://staging.va.gov/records/download-va-letters/letters/confirm-address

https://staging.va.gov/health-care/apply/application/veteran-information/personal-information

https://staging.va.gov/pension/application/527EZ/ap

[2019-12-04 18:33] artistgreen commented on #3023
For the Letters section, users are asked to make sure their address is current.  @erikphansen advised that this edit address FE is the same as the profile edit address component.  When a user updates their address here, the changes take effect on their profile also.

![Download VA Letters and Documents   Veterans Affairs.png](https://images.zenhubusercontent.com/5d49d1baa8585c0001b6a7a8/7e9e0357-2

[2019-12-04 18:35] thatmattjohnson commented on #3713
UAT completed for all PRs, all looks good. Closing this issue.

[2019-12-04 18:35] #3713 closed

[2019-12-04 18:35] #3421 closed

[2019-12-04 18:38] thatmattjohnson commented on #2887
PRs 3908 and 20059 reviewed/approved.

[2019-12-04 18:39] davidconlon commented on #2881
there is a PTSD service in the Health Services Taxonomy. Something we likely want to explore is whether or not we need to surface any of the Branded programs (hopefully no) or if there is a different breakout of PTSD level services (unbranded)

[2019-12-04 18:42] #3613 closed

[2019-12-04 18:46] tlei123 commented on #3824
Per Unicorns Sprint 10 Planning mtg: This task is dependent on completion of API/backend services \[around mid-January 2010].

[2019-12-04 18:47] #3596 closed

[2019-12-04 18:58] #3625 closed

[2019-12-04 18:59] joanneesteban commented on #3774
### Outcomes for KPI Reporting:
- VFS teams have an opportunity to share out product success
- VFS teams are encouraged to update their KPI tracking monthly
- VFS teams are consistently engaging with metrics, either in an open forum or within their team
- VSP Analytics & Insights can move towards a support role with KPI tracking
- VSP QASP requirements are met
- VA leadership can easily track or s

[2019-12-04 19:12] jbalboni opened #3951 "Use CC and DS feature flags on front end"
We need to respect the Community Care and direct scheduling flags we've set up on the backend, and make sure we gate the front end new appointment flow based on their values.

[2019-12-04 19:15] Justin-Pickett commented on #3948
Confirm with QA all use cases are being accounted for and tested for.

[2019-12-04 19:23] Karak888 commented on #3657
This is a dupe ticket and moving to close. Please refer to #3692.  Thanks!!

[2019-12-04 19:23] #3657 closed

[2019-12-04 19:24] peggygannon commented on #3023
@artistgreen Hello, please see my content recommendation below. I've also provided some screenshots of form pages where we have used helper text.

{checkbox} I live on a U.S. military base outside of the United States.

{copy} The United States is automatically chosen as your country since you live on a military base outside of the country.

-----

A couple of other tweaks to mention:

- What are

[2019-12-04 19:30] #1965 closed

[2019-12-04 19:30] peggygannon commented on #1965
Hi, @jason-gcio I'm closing this issue, as the initial content review was completed. If there are additional content updates needed based on user research, please open a new ticket for that work. thx!

cc @meganhkelley

[2019-12-04 19:44] amyknox commented on #3055
@nedierecel & @jonwehausen - what's the status of this story?  Is the QA just about wrapped up?

[2019-12-04 19:49] Justin-Pickett opened #3953 "Adjust Direct Deposit CTA widget to show different messaging to DSLogon LOA3 users"
## User Story:

As a DSLogon LOA3 user on the Direct Deposit static page, I want to be told that I'll need to sign in via ID.me or MHV to access the Direct Deposit feature.

## Tasks
- [ ] adjust the logic in the CTA widget to show different content (temporary filler content at the moment) if the user is signed in as a DSLogon LOA3 user

[2019-12-04 19:59] nedierecel commented on #3055
@jonwehausen These are the items I see:

- Jumplinks: Passed; I also see the exception to block these from triggering additional pageviews
- Key Resources: Passed; Expected that it will trigger a `nav-pipe-delimited-list-click` AND File Downloaded
- Nav Expands and Collapses: Passed
- Embedded links under the accordion: Passed using `nav-accordion-embedded-link-click`
- Featured content links in '

[2019-12-04 20:03] peggygannon commented on #2362
@markgreenburg @rtwell Here are messages for scenarios 2, 3, and 5. I need additional info about how scenarios 1 and 4 will be rendered on the screen (alert? content-only page) before I craft a message.

@jbalboni  For #5, I wrote a draft message for number 5. Can you let me know if the resolution is that the user needs to start over? or that they need to come back to the application later and try

[2019-12-04 20:04] KevinMHoffmanUSDS commented on #3536
@WillMcCormack Could you drop the copy of that e-mail into this thread? Thanks!

[2019-12-04 20:16] jonwehausen commented on #3055
@nedierecel Thanks for your QA 👍 .

Regarding the Policies & Procedures link, this wouldn't as of today fall under an existing design system strategy so doesn't have a DL push dedicated to it.

This looks to be a standalone link and the only one of it's kind on the page so I'll let @amyknox make the call on need.

[2019-12-04 20:44] amyknox commented on #3055
@nedierecel & @jonwehausen - Would be great to have the "VA education forms, brochures, and fact sheets >" link tracked. Let's do it!

[2019-12-04 20:58] narin commented on #1495
We can now pull facility details pretty easily.  I've combined the original design with the updated copy Peggy suggested:

![image](https://user-images.githubusercontent.com/786704/70180877-b58bd600-1695-11ea-885b-696cc922ae80.png)

[2019-12-04 20:58] markgreenburg opened #3954 "Update VA Confirmed Appointment card header"
As a veteran, I am confused by the 'VA Facility' card header, because my appointment isn't necessarily at a VA facility even though it's a VA appointment.

AC
- [ ] Per conversation with @rtwell and @peggygannon , VA Confirmed Appointment card headers should say 'VA Appointment' instead of 'VA Facility'

[2019-12-04 21:02] Samara-Strauss commented on #3741
@peggygannon this knocks it out of the park. Thank you so much!

[2019-12-04 21:10] rroueche commented on #3729
@batemapf could you share the notes from your Charles convo here?

[2019-12-04 21:16] Samara-Strauss commented on #3741
Closing. FE is in #3890.

[2019-12-04 21:16] #3741 closed

[2019-12-04 21:43] joanneesteban commented on #3665
Hi @goldenmeanie !

The submission increase should actually be:
**527EZ** ↑56.19% YoY
**530** ↑93.58% YoY

Let us know if you have any questions!

[2019-12-04 21:44] mmiddaugh commented on #3554
Discussion Guide: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/facilities/facility-locator/research/user-research/urgent-care/discussion-guide.md

[2019-12-04 21:45] #3554 closed

[2019-12-04 21:58] mnorthuis commented on #1984
All IA feedback, including recommend URLs are documented here: https://github.com/department-of-veterans-affairs/va.gov-team/issues/3822

[2019-12-04 22:04] jason-gcio commented on #1965
Hey @peggygannon, sorry I hadn't closed this sooner. Thank you!

[2019-12-04 22:07] #3878 closed

[2019-12-04 22:08] Mottie commented on #2345
I think this might be an issue with the preloaded mock data being used.

If I log into to user 228 and go through the entire form (526) in my local environment, I see the banking info

![](https://user-images.githubusercontent.com/136959/70182485-897a5000-16a9-11ea-82f8-780de6af3b70.png)

But when I enter the same steps on staging.va.gov, the review entry shows empty fields

![](https://user-image

[2019-12-04 22:08] mnorthuis opened #3957 "Document facility "customer short name" naming conventions"
It was decided that a "customer short name" is needed for all facilities/locations primarily for digital display, but can also be used for other applications.

Need to document the rules for when/where the short name should be used as well as what the convention/format is.

Draft doc is here: https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/facilities/naming-schem

[2019-12-04 22:09] jason-gcio opened #3958 "Connect with 686 Stakeholders"
## Story
As a designer/researcher (or even team member in general), I want to be able to fully understand the business logic and intent so that I can test my assumptions and ensure I create the right thing during the migration and transformation of this feature.

## Tasks
- [ ] Create a list of assumptions and/or questions about how the 686 (674?) works and should be handled
  - Is it possible to

[2019-12-04 22:10] goldenmeanie commented on #3665
_Back to school_ for me apparently! Thank you for the correction :)

[2019-12-04 22:10] jason-gcio opened #3959 "Create Mockups for Submit 686/674"
## Story
As a eBenefits Team member, I need a series of mockups showing the initial workflow and screens for the 21-686c UX/UI so that I can understand the process and proceed with development.

## Considerations
- Develop a system (or changelog) where:
  -  Current implementation breaks from known 686 process.
  - When there is a change, note that in the mockup so the highlighted deltas are easy

[2019-12-04 22:20] #1665 closed

[2019-12-04 22:27] jason-gcio commented on #3294
If it rears up, we can recreate.  Thanks @micahchiang
cc: @cohnjesse

[2019-12-04 22:27] #3294 closed

[2019-12-04 22:28] jason-gcio commented on #3297
If we do end up going down this road, we can recreate this at that time - I want to clean up the icebox, fridge is gettin' full.

[2019-12-04 22:28] #3297 closed

[2019-12-04 22:37] lunascoop commented on #1727
@ncksllvn @Karak888 The redirect notification was sent to the stakeholders with **12/11** as the scheduled live date.

[2019-12-04 22:39] batemapf commented on #3729
here you go! https://docs.google.com/document/d/1EnLb8mgy7VvXm68Qji3lBJCdXt3o-oPvTUJ_Td-mkBs/edit?usp=sharing

[2019-12-04 22:41] #3884 closed

[2019-12-05 01:06] tlei123 commented on #3948
@artistgreen / @Samara-Strauss, would you happen to have any centralized documentation of the different user scenarios/flows that generated the mockups in #1688?

Please let me know.  Thanks much!

[2019-12-05 12:54] delli-gatti-michael commented on #3542
@1Copenut This is now live in Staging and ready for your review.

[This profile page has several Primary and Secondary School Certifying Officials](https://staging.va.gov/gi-bill-comparison-tool/profile/2V000105/HACK%20REACTOR%20SOFTWARE%20ENGINEERING)

**Note:** The Phone number and Email have been removed, so you will only be able to see the Name and Title for each SCO.

[2019-12-05 13:14] davidconlon commented on #3658
Upcoming meeting with NCA on 12/6

* Review VA.gov facilities & services product vision
     * Facility Locator 2.0 roadmap
     * NCA facility detail page roadmap
* Discuss getting existing NCA cemetery/facility URLs into the Facilities API (and Facility Locator tool)
* Discuss other NCA cemetery/facility data issues
     * State Veteran Cemeteries

[2019-12-05 13:47] thatmattjohnson commented on #2887
UAT completed for merged PRs; all looks good. Closing this issue.

[2019-12-05 13:47] #2887 closed

[2019-12-05 14:06] thatmattjohnson commented on #3711
link to migration plan: https://docs.google.com/spreadsheets/d/1Yq3dJGFGr3tuujEpd0jZdP062qspsuvJvxDpj2RJOMQ/edit#gid=1420264421

[2019-12-05 14:24] Samara-Strauss commented on #3948
@artistgreen was the designer on this project and will be providing you with all flows, documentation, and use cases.

[2019-12-05 14:45] kevinstachura commented on #3881
Spoke with @ndsprinkle - [current design](https://vsateams.invisionapp.com/share/S2U2NQZZ76A#/screens/395958869_Claims_Landing_Page_-_Updated_Chron_Order_-_V1) will be implemented as a gradual enhancement - however will want to revisit later on to see if we can iterate and enhance further.

[2019-12-05 15:04] amyknox commented on #3048
@jonwehausen -
Do you prefer this story stays open in the backlog until Provider Filters are re-deployed OR we close this and create a new story when provider filters are ready to to roll?

[2019-12-05 15:19] ncksllvn commented on #1727
@lunascoop does the redirect notification sent to stakeholders refer to the redirects on benefits.va.gov?

[2019-12-05 15:21] #3102 closed

[2019-12-05 15:26] lunascoop commented on #1727
@ncksllvn Yes, I included the benefits.va.gov redirects in my notification. Specifically, here's what I wrote:
<img width="750" alt="Screen Shot 2019-12-05 at 10 24 21 AM" src="https://user-images.githubusercontent.com/42546515/70248842-8a62be80-1749-11ea-87de-d980989b5c47.png">

[2019-12-05 15:30] ncksllvn commented on #1727
Dang it, this is confusing. Per [Kara's comment](https://github.com/department-of-veterans-affairs/va.gov-team/issues/1727#issuecomment-561777002), I think we're planning on moving the pages in Drupal and doing the www redirects tomorrow as a phase 1, then doing the redirects from benefits.va.gov as a phase 2. Is that still right?

[2019-12-05 15:30] bradl3yC opened #3960 "Updates to Address Validation Modal"
- [x] Create thunk to fetch validation key and submit that key to save API with the suggested address selection.

- [x] Remove the 'disabled' input if the user cannot override
   Per discussions in DSVA Slack on 12/9 - This disabled input needs to be removed.
- [x] Change the modal to display single address suggestions that fall below the 80% confidence score threshold
  Per call on 12/9 - even if

[2019-12-05 15:34] thatmattjohnson commented on #3167
Call center team provided migration proposal 12/4; reviewed and responded with questions 12/5.

[2019-12-05 15:50] brandonrapp opened #3961 "Audit specific pages with high TTI"
Jennifer Strickland identified some pages with TTI times of 12s which impact accessibility tools.

The issues I'm seeing with connectivity that may have to do with performance is that VoiceOver in Safari and NVDA in Firefox are not able to connect to the Skip to Content link. For VO, if I wait 20-30 seconds, then I am able to tab to the link. When I ran performance audits and investigated by frame

[2019-12-05 15:51] andreahewitt-odd opened #3962 "Prep for pension automation team onboarding"
- [ ] Meet with Zach
- [ ] Set up general onboarding
- [ ] Set up google drive folder
- [ ] Set up Engineering break out
- [ ] Set up Design break out

[2019-12-05 15:52] Samara-Strauss commented on #2903
@peggygannon I am amending the above: **We have made the decision to put the DS Logon gate is on hold for now.** We still need to make 95% of the other updates to this page, so let's keep today's chat to discuss the following:

**Full content page**

[More on different ways to update payment info](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personali

[2019-12-05 15:54] Samara-Strauss commented on #3763
Adding blocked label — we may decide to implement this feature later, but we also may not. Either way, this is on hold and is being removed from this sprint's to-dos.

[2019-12-05 15:56] andaleliz commented on #3703
https://app.mural.co/invitation/mural/vsa8243/1574433972124?sender=lizlantz1528&key=0df07bef-9448-459b-b9a6-f70dfae22683 Mural board w/ things I'm learning

[2019-12-05 15:56] Samara-Strauss commented on #3900
Adding blocked label — we may decide to implement this feature later, but we also may not. Either way, this is on hold and is being removed from this sprint's to-dos.

[2019-12-05 16:00] YanaRoy opened #3963 "[Design] HLR: Higher-Level Decision Review Requests"
## High Level User Story/ies
As a researcher/designer on the Benefits and Memorials team, I need to conduct user research of the Higher-Level Review digital form so I can identify any design updates that are recommended by the users.

## Full project epic #1053

- [x] Create research plan & kickoff recruiting #3965
- [x] Create conversation guide #3968
- [x] Conduct sessions #3971
- [x] Create rep

[2019-12-05 16:09] Justin-Pickett opened #3964 "Ramp up direct deposit to 75% and monitor for any issues"
## User Story:

As a front end engineer, I need ramp up the user percentage to 75% so I can monitor for any errors or unusual activity happening due to the increased amount of traffic .

## Tasks

_The steps that must be done by the team to complete the acceptance criteria_

- [ ] Need to ramp up the percentage from 50 % to 75% of users

- [ ] Monitor activity during sprint 10

- [ ] Socialize and

[2019-12-05 16:11] lunascoop commented on #1727
Per our slack call @RLHecht and @ncksllvn will move forward w/ the internal redirect tomorrow, 12/5, and implement the client-side redirect on 12/11.

[2019-12-05 16:13] YanaRoy opened #3965 "[User Testing] HLR Research Plan"
## User Story or Problem Statement
As a UX Designer, I need to create a research plan so I can document the research's purpose, goals, hypothesis, and user testing recruitment needs.

## Goal
_A completed research plan sent to Perigean for user testing recruitment_

## Objectives or Key Results this is meant to further
- _User testing to validate the Higher Level Review's design and/or uncover gap

[2019-12-05 16:14] Justin-Pickett opened #3966 "Investigate why "flagged for fraud" error rate is so high"
## User Story:

As the team lead, I need investigate the "flagged for fraud" error rate with EVSS team so that I can make an informed decision with the team on what corrective action we need to take to minimize the flagged for fraud error rates.

## Tasks

_The steps that must be done by the team to complete the acceptance criteria_

- [x] Schedule meeting with EVSS team to discuss the flagged for

[2019-12-05 16:20] Justin-Pickett opened #3967 "Get on eBenefits schedule to remove direct deposit from the site in 1/29 release"
## User Story:

As a team lead, I need reach out to the eBenefits team  so that I can get on their release schedule to have the direct deposit feature removed from their site on 1/29.

## Tasks

_The steps that must be done by the team to complete the acceptance criteria_

- [x] Reach out to eBenefits team to discuss getting on their releaes schedule to have the direct deposit feature removed from

[2019-12-05 16:21] YanaRoy opened #3968 "[User Testing] HLR: User Interview Conversation Guide"
## User Story
As a UX designer, I need to create a user testing conversation guide so I can ensure that all necessary questions are documented in one place and can be referenced during user interviews.

## Goal
_A document to serve as a user interview conversation guide._

## Objectives or Key Results this is meant to further
- This furthers the discovery effort to understand more about the produc

[2019-12-05 16:26] Justin-Pickett opened #3969 "[Stretch goal]: Ramp up to 100% ."
## User Story:

As a front end engineer, I need ramp up the user percentage from 75% to 100% if no concerns stem from ramping up from 50% to 75%.

## Tasks

_The steps that must be done by the team to complete the acceptance criteria_

- [ ] Discuss with team and get agreement to ramp up from 75% of users to 100% if no concerns have been identified during sprint 10.

- [ ] If concerns are present,

[2019-12-05 16:38] Samara-Strauss commented on #3966
Current status: Email sent to EVSS team. I have not heard back but I will follow-up accordingly until we hear back. We should, however, prepare ourselves that they may not be able to help and we may need to go back to the drawing board on how to get answers.

[2019-12-05 16:42] Samara-Strauss commented on #3967
Going to wait to regroup with Erik to discuss the 75% launch/monitor that launch for a couple days before I send this email. I doubt thinks will change at this point, but I want to make sure we're not doing any back tracking if we can avoid it.

[2019-12-05 16:42] artistgreen commented on #3948
@tlei123 - yes, I will provide you the scenarios/flows by today.  Thanks!

[2019-12-05 16:51] YanaRoy opened #3971 "[User Testing] HLR: Conduct user testing sessions"
## User Story or Problem Statement
As a UX designer, I need to test the Higher Level Review digital form (in password protected production) with real users so I can receive feedback on the design and improve it.

## Goal
Collect feedback on the Higher Level Review digital form via usability testing

## Objectives or Key Results this is meant to further
- Refinement of design based on human centere

[2019-12-05 17:12] YanaRoy opened #3972 "[User Testing] HLR: Synthesis"
## User Story or Problem Statement
As a UX Designer, I need to synthesize gathered data from user testing sessions so I can identify successes, gaps, pain points, and improvements to the Higher Level Review design.

## Goal
_A document containing data from user testing sessions that has been organized into common themes and recommendations._

## Objectives or Key Results this is meant to further
-

[2019-12-05 17:17] #2786 closed

[2019-12-05 17:17] #3145 closed

[2019-12-05 17:18] #2787 closed

[2019-12-05 17:20] kfrz commented on #1411
Some notes to extract from [here]https://hackmd.io/iPaMR_bvSnG23m7TYZYjbA)

[2019-12-05 17:21] alexpappasoddball commented on #3407
Anne's Comments:Rubocop has a parallel flag?  If committed to code cliament?

[2019-12-05 17:25] alexpappasoddball commented on #2943
Are there any breaking changes in 2.6?  Bill and Keifer have a *feeling* but aren't certain.

[2019-12-05 17:28] #3467 closed

[2019-12-05 17:29] #3883 closed

[2019-12-05 17:31] thatmattjohnson commented on #3167
link to reorg plan: https://docs.google.com/spreadsheets/d/1xYPEpCj3UyNnDLLEvl9Ze_vh3HbTmi7gkG0VE2u07yY/edit#gid=1138235943

[2019-12-05 17:31] alexpappasoddball commented on #3644
Something to think about: similar tasks to look at is data.gov.

[2019-12-05 17:39] kfrz commented on #1411
[VCR](https://github.com/department-of-veterans-affairs/vets-api/pull/3583)
[awrence](https://github.com/department-of-veterans-affairs/vets-api/pull/3585)

[2019-12-05 17:43] 1Copenut commented on #3542
Just tested this in JAWS (IE11, Chrome) and NVDA (Chrome, Firefox) and VoiceOver. It's announcing as expected and throwing no axe errors. Moving to close.

[2019-12-05 17:43] #3542 closed

[2019-12-05 17:45] erikphansen commented on #3953
@Samara-Strauss I assume this should be blocked as well? I'm adding that tag.

[2019-12-05 17:50] 1Copenut commented on #2386
This appears to be working as expected, not reading out additional information beyond the `<select>` and it's related `<label>`. Moving to close.

[2019-12-05 17:50] #2386 closed

[2019-12-05 17:55] joanneesteban commented on #3774
### Options:
1. Report on internal channels once a month (second Tuesday of the month) and tag with a "KPI emoji." Use a Slackbot to tag the PM/PO as a reminder.
- VFS teams would be able to open transparency on success metrics within their teams
- Intrusion on workflows is limited to Slack, does not include additional meetings
- VSA leadership & platform can search reporting through the emoji
2.

[2019-12-05 18:07] ricetj commented on #651
@omgitsbillryan Is this the same as the work we have here: https://github.com/department-of-veterans-affairs/va.gov-team/issues/162

[2019-12-05 18:10] ricetj commented on #3706
need to move databases and can chat about this after that.

[2019-12-05 18:12] Karak888 commented on #1727
@ncksllvn your comment above is correct.  @RLHecht will be moving the pages in Drupal and working with you to handle the www redirects tomorrow as a phase 1 (12/5/19),.  Phase 2 will be redirecting  benefits.va.gov by 12/11/19 (per communication email that @lunascoop send out to SMEs).

CC:  @jenniferlee-dsva

[2019-12-05 18:39] YanaRoy opened #3973 "[Build] HLR: Opt out of Legacy Issues"
## User Story
As a Veteran, I need to be able to select individual legacy issues so that I can opt out of the individual legacy issues when submitting a Higher-Level Review form .

## Goal
_Allow Veterans to select individual legacy issues and confirm that they would like to opt out of the legacy appeals process_

## Objectives or Key Results this is meant to further
- _Create a way for Veterans t

[2019-12-05 18:43] #2035 closed

[2019-12-05 18:47] jason-gcio commented on #3408
Holding until Andrea Hewitt gets back to us

[2019-12-05 18:48] #1770 closed

[2019-12-05 18:48] #3722 closed

[2019-12-05 18:49] #1782 closed

[2019-12-05 18:58] Samara-Strauss commented on #3953
@erikphansen yes, thank you.

[2019-12-05 19:03] thatmattjohnson commented on #3167
branch created for all repo edits. list of files for LFS upload noted in reorg plan as well as relevant destination readme files in branch.

[2019-12-05 19:07] #3874 closed

[2019-12-05 19:07] #3951 closed

[2019-12-05 19:07] #3864 closed

[2019-12-05 19:15] mmiddaugh commented on #3585
@brangi please document breaking changes that occur as part of this upgrade. Thank you!

[2019-12-05 19:18] jbalboni opened #3975 "Send Community Care requests to different endpoint when POSTing to /appointment_requests"
Community Care requests have a separate endpoint than regular VA requests. They also have some extra fields.

These are the extra fields we think we need:

- preferredState
- preferredCity
- preferredLanguage
- distanceWillingToTravel (integer)
- distanceEligible (boolean)
- officeHours (array of strings)
- preferredProviders (array of objects)
- cityState (object)

preferred provider object:

[co

[2019-12-05 19:19] YanaRoy opened #3976 "[Build] HLR Legacy Issues: Implement Endpoints, Schemas and New Tests"
## User Story:
As a Back-end engineer, I need to implement end points, new tests and implement schemas for legacy issues so that legacy issues can be incorporated into HLR.

## Tasks
- [ ] implement end points
- [ ] execute new tests
- [ ] implement schemas

## Acceptance Criteria:
- [ ] implemented end points
- [ ] executed new tests
- [ ] implemented schemas

[2019-12-05 19:23] #3860 closed

[2019-12-05 19:37] desireeturner commented on #3579
Associated issue is closed. Closing the epic.

[2019-12-05 19:37] #3579 closed

[2019-12-05 19:43] mmiddaugh opened #3977 "QA Test Plan for Manual UI testing of Facility Locator url VAMC redirect"
## Product/Feature Summary

- The link from facility locator search results should be redirected to the new facility detail page as new VAMC detail pages are rolled out live. Existing interstitial pages for each facility will no longer be part of the workflow from the search results page.
- Facility Locator receives the new link from the Facilities API.
- Facility Locator is an unauthenticated exp

[2019-12-05 19:51] mmiddaugh opened #3978 "508 findings for Facility Locator (Mapbox upgrade) pre-launch 508 review"
## Team Name

Facility Locator

## Product Description

Facility Locator Mapbox functionality review following version upgrade

## Staging URL and Credentials

Facility Locator is part of unauthenticated experience and does not require test users.

## Test Plan

[#3586]

## Known Issues

[508 Issue Template](https://github.com/department-of-veterans-affairs/va.gov-team/issues/new?assignees=&labels

[2019-12-05 19:54] mmiddaugh commented on #3978
@jenstrickland noted this will also require a performance audit

[2019-12-05 19:55] mmiddaugh commented on #3586
@tlei123 and @brangi will work together to create specific test scenarios related to areas of breaking change once those areas are identified.

[2019-12-05 19:58] jenstrickland commented on #3978
@mmiddaugh I will do a rudimentary performance audit as part of a spot check, and if it looks problematic we can request a formal one. 🤞 it will be lickity split!

[2019-12-05 20:13] Justin-Pickett commented on #3216
Currently working with other teams through slack to dig into the issue. Will follow up with Lihan on status in next couple of days for any updates

[2019-12-05 20:25] erikphansen commented on #3964
Done

![image.png](https://images.zenhubusercontent.com/5b4d0309a8d8be5bda39303e/7d63d19d-af50-4f45-a39d-f4d9af508430)

[2019-12-05 20:25] #3964 closed

[2019-12-05 20:29] AnneHurley commented on #3040
[DIC rates page copy edits-ah]
(https://app.zenhub.com/files/133843125/91421a4c-f064-4a5a-afac-12579c844d88/download)
@RLHecht  Here's my rewritten copy for the lower part of the DIC benefit info page.
Sending email to Angie Smith about removing "survivor" from H1 on that page.

[2019-12-05 20:36] Samara-Strauss commented on #3966
Talked about this on a call with EVSS team earlier today. Next steps are:

1. Lihan is going to look into records and pull some names that are getting the flagged for for fraud error. Then he's going to check in with Adam Kinder about whether those people are actually flagged for fraud or not.
2. Erik has a question about the two metrics we're using to determine when to raise the "flagged for frau

[2019-12-05 20:37] Justin-Pickett opened #3979 "Design Discovery for APO/FPO/DPO"
## User Story:

As a Designer/Researcher I need to explore and document how the proposed APO/FPO/DPO design solutions impact other forms with address components on VA.gov so that I can convey scope, impact and potential dependencies.

## Tasks

_The steps that must be done by the team to complete the acceptance criteria_

- [x] Identify forms on VA.gov that have an address component - 4 hour(s) -

[2019-12-05 20:42] #3431 closed

[2019-12-05 20:42] #3747 closed

[2019-12-05 20:42] Justin-Pickett opened #3980 "Copy for Profile for APO/FPO/DPO"
## User Story:

As a UX designer I need final copy so that I can finalize workflow mockups.

## Tasks

_The steps that must be done by the team to complete the acceptance criteria_

- [x] Acquire copy from Content team - Owner

- [x] Update mock ups - Owner

- [x] Review with team - Owner

## Acceptance Criteria:

_The requirements that must be met in order to mark this user story as completed_

[2019-12-05 20:43] #1785 closed

[2019-12-05 20:45] jonwehausen commented on #3055
Hi @amyknox,

Thanks for being patient with us.

After discussion with the team, we would like to track the **"VA education forms, brochures, and fact sheets"** and **"Required 2019 Training for SCO's"** links as part of our link list convention.

If we could have the following event code put on those two links we can wrap up 👍

[code]

[2019-12-05 20:46] Samara-Strauss opened #3981 "[BE] Direct deposit: Pull accounts that are being flagged for fraud and investigate whether they are actually locked or not"
## Background

Per our call with the EVSS team and then our team regroup, we have decided to look into some of the accounts that are currently receiving the "flagged for fraud" error when they go to update their direct deposit information. We are going to try to confirm with Adam Kinder's team whether these accounts are indeed locked because of fraud or not.

## Tasks

_The steps that must be done

[2019-12-05 20:50] Samara-Strauss opened #3982 "[FE] Direct deposit: Reach out to EVSS with questions about "flagged for fraud" error"
## Background

This to-do comes out of our call with the EVSS team/our team regroup.

## Tasks

- [x] Get it touch with EVSS about the two end points that are generating the "flagged for fraud error"
- [x] Determine if showing the "flagged for fraud" error is the correct frontend implementation for both of these error keys.

## Acceptance Criteria:

- [x] Determine if showing the "flagged for frau

[2019-12-05 20:50] Samara-Strauss commented on #3966
BE work is in #3981 and FE work is in #3982.

[2019-12-05 20:50] #3966 closed

[2019-12-05 20:51] jonwehausen commented on #3055
Tested functionality described in @nedierecel's post above has also been published and is now live.

[2019-12-05 20:51] Samara-Strauss commented on #3899
Sorry, didn't meant to close this issue! Clicked the wrong button. Reopened!

[2019-12-05 20:59] jonwehausen commented on #3048
Hi @amyknox,

I'm okay with us closing this one and creating a new one when the provider filters are ready.

[2019-12-05 21:02] joanneesteban commented on #3774
### Idea from Mickin/Shawna Meeting (12/5):

ToT: Reframing updates towards data points/outcomes can add context & success/actual progress.

Action: look back at past ToT updates & see if those can be reframed as KPIs and/or filled in with actual numbers.

Developing a succinct, data-driven statement (what you're working on, what's the impact) template.

Trying out the format with Michelle (Facili

[2019-12-05 21:02] amyknox commented on #3055
@desireeturner  ^^ Need dev support on this final push for SCO page analytics.

[2019-12-05 21:05] jbalboni commented on #3975
Required CC fields:

[code]

[2019-12-05 21:07] peterhill-oddball commented on #3436
https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/platform/quality-assurance/testrail

[2019-12-05 21:07] #3436 closed

[2019-12-05 21:08] peterhill-oddball commented on #3434
Created the following accounts for now --
* DSVA Shared
* Peter Hill (Admin)
* Tze-chiu Lei

[2019-12-05 21:08] #3434 closed

[2019-12-05 21:09] peterhill-oddball commented on #3435
Created a small test project based on Search functionality here --
https://dsvavsp.testrail.io/index.php?/projects/overview/2

[2019-12-05 21:09] #3435 closed

[2019-12-05 21:10] #3437 closed

[2019-12-05 21:11] andreahewitt-odd opened #3983 "Create presentation on synthesis from research of Learn More buttons"
As a UX researcher, I want to know more about best practices for synthesizing feedback from research sessions so that I know I'm gathering feedback and utilizing it in the best way possible.

AC:
- [x] Created a presentation to give to other UX folks that shows how feedback was synthesized on the Learn More research

[2019-12-05 21:17] andreahewitt-odd opened #3984 "Onboard Pension Automation Team"
## Onboarding User Story
Pension Automation team is onboarding to work on the VSP, they need support to get up and running. This epic contains the tasks our team will perform to support them through their onboarding stage.

## Goal
Get Pension Automation team up and running in their workflow as quickly as possible._

## Issues to create within this Epic

[code]

[2019-12-05 21:20] andreahewitt-odd opened #3985 "Create QA onboarding breakout session"
As a VFS team, I want to know how to do QA on the platform so I know how to do my due dillegence of testing and meet expectations

AC:
- [ ] Create QA onboarding presentation for engineers, UX, PM

[2019-12-05 21:21] andreahewitt-odd opened #3986 "Create Video Tutorial for TestRail"
As a QA person working on VA.gov features, I want to know how to used TestRail so I can be meeting the QA expectations of the platform

- [x] Create video
- [x] Distribute video

[2019-12-05 21:25] andreahewitt-odd opened #3987 "Create PR timing dashboard for QASP data"
As a member of the leadership team, I want numbers on how long it takes PRs to be completed so that I can tell if there are any bottlenecks in the process.

AC:
- [ ] I can grab a percentage over the last 3 months: Percent of vets-api first round code reviews completed within 48 hours (business days)
- [ ] I can grab a percentage over the last 3 months: Percent of vets-website first round code rev

[2019-12-05 21:27] joanneesteban commented on #3872
@jonwehausen can you verify the November metrics?

[2019-12-05 21:40] sporeboy opened #3988 "Create Mockup(s) Incorporating DSVA Design Feedback"
## User Story:
As an eBenefits Team member, I want a revised mockup incorporating design team feedback so that I know how to proceed with iterative development of the VA.gov Rated Disabilities page.

## Tasks
Link to XD posted for review is [here.](https://xd.adobe.com/view/0db723ac-52ff-48b3-4877-9d5882cb2e1f-7b86/screen/1d4fafce-8d16-4a89-a14b-97d795772b74/RD-Screen-Tool-2ALT?fullscreen)
- [x] G

[2019-12-05 22:27] #1786 closed

[2019-12-05 22:53] joanneesteban commented on #3872
@amycesal When you get a chance tomorrow (12/6), can you take a look at the slide deck?

[2019-12-05 23:08] brangi commented on #3585
Mapbox release versions - https://github.com/mapbox/mapbox-sdk-js/releases

[2019-12-05 23:08] jbalboni opened #3989 "Cancel requests failing on staging due to missing appointmentRequestId"
The backend removed appointmentRequestId from the request data we get, which we were relying on. We need to update the FE to use the regular id field instead.

[2019-12-05 23:08] wyattwalter commented on #3808
Enhanced monitoring did _not_ fix this delay, but it still should be enabled for better instrumentation here.

I ended up bumping up the rule to use 15 minutes worth of data and that covered what I think we need here. It's a bit delayed, but the best we have in the current framework.

[2019-12-05 23:08] #3808 closed

[2019-12-05 23:29] kreek opened #3991 "VAOS facilities pact endpoint"
Create an endpoint that fetches the resource at `/VeteranAppointmentRequestService/v4/rest/direct-scheduling/site/{site-code}/patient/{assigning-authority}/{patient-id}/pact-team`

[2019-12-05 23:48] #3304 closed

[2019-12-06 00:27] erikphansen opened #3992 "Use new controlInformation.paymentAddressExistIndicator"
EVSS PPIU will soon add the `paymentAddressExistIndicator` flag on the `controlInformation` object that we get when querying a user's direct deposit payment information. This flag can be used to determine if a user is currently getting benefits via paper check. We should update the front end to look for and use that flag if it's defined. If it's not defined on the `controlInformation` object we sh

[2019-12-06 00:27] #3286 closed

[2019-12-06 00:27] #3287 closed

[2019-12-06 01:05] erikphansen commented on #3890
Just a suggestion that it might be nice to be able to click on the `edit it` or `edit the address` text that appears in the Alert boxes.

[2019-12-06 01:29] #3306 closed

[2019-12-06 04:11] tlei123 commented on #3564
@mmiddaugh, is **Belmont County Clinic** really being redirected as part of this Pittsburgh ticket?  This clinic appears to be in Ohio.

I searched Pittsburgh, PA facilities on Staging and found no such result.  When I clicked the Details-page link listed above \[under __Facilities to be changed__ section], the address on the prod page shows **St. Clairsville, OH**.

![Screen Shot 2019-12-05 at 6

[2019-12-06 14:04] RLHecht commented on #3040
@jenniferlee-dsva @AnneHurley  and I incorporated all your changes to the survivor DIC rates page. Please review in Drupal and let us know if these are now both ready to send to SMEs. preview-prod.vfs.va.gov/preview?nodeId=1012 and prod.vfs.va.gov/preview?nodeId=1013

[2019-12-06 14:25] bradl3yC opened #3993 "Make the first suggested address the default selection"
When a user is presented with the address selection modal and are presented with address suggestions, the first suggestion should be the default selection.

Remove the filtering conditions that only show CONFIRMED addresses ABOVE 80% confidence.  Sort those suggested address descending from highest confidence to lowest.

[2019-12-06 14:42] artistgreen commented on #3980
Due to the differences in address formats for military bases within the US versus bases outside of the US, the checkbox label should something more descriptive to the effect of:
"I live on a United States military base outside of the United States"

 Edit Mailing Address Overlay.png

Users will select United States for their country if they live on a military base within the US.

When the user che

[2019-12-06 14:43] annaswims commented on #1146
example Dependabot PR (currently enabled for "automated security updates" by gihtub, but we could use it for more than security)

https://github.com/department-of-veterans-affairs/gibct-data-service/pull/514

[2019-12-06 14:44] RLHecht commented on #1727
@mnorthuis I've moved the main DIC page and those two rates pages to Disability. Here is a screenshot of where they lie in the left nav. Please tell me if this is not correct. It won't be live on the site until after today's Drupal deployment in the afternoon. This is just in Preview on Prod at the moment. FYSA @jenniferlee-dsva

![Screen Shot 2019-12-06 at 9.42.10 AM.png](https://images.zenhubuse

[2019-12-06 14:45] artistgreen opened #3994 "@artistgreen Hello, please see my content recommendation below. I've also provided some screenshots of form pages where we have used helper text."
@artistgreen Hello, please see my content recommendation below. I've also provided some screenshots of form pages where we have used helper text.

{checkbox} I live on a U.S. military base outside of the United States.

{copy} The United States is automatically chosen as your country since you live on a military base outside of the country.

-----

A couple of other tweaks to mention:

- What are

[2019-12-06 14:47] artistgreen commented on #3980
@peggy - we opened a new ticket for copy.

This is your reply regarding copy from #3023

Hello, please see my content recommendation below. I've also provided some screenshots of form pages where we have used helper text.

{checkbox} I live on a U.S. military base outside of the United States.

{copy} The United States is automatically chosen as your country since you live on a military base outsi

[2019-12-06 14:58] kelsonic opened #3995 "SideNav - Remove SideNav on `Research` subpages"
# Context
This pertains to the new SideNav, which is visible [here](https://staging.va.gov/pittsburgh-health-care).

# Current Behavior
On a `Research` subpage, the SideNav is currently visible.

# Desired Behavior
On a `Research` subpage, the SideNav is not visible.

# Acceptance Criteria
Remove SideNav on `Research` subpages, like
- [x] `/pittsburgh-health-care/research/safety-security/animal-re

[2019-12-06 15:06] artistgreen commented on #3980
Thank you @peggygannon!  I'm updating the screens and have a quick question regarding helper text.  Exploring the forms, I noticed we use 2 forms of helper text.
1. The drop down version from your image examples
2. A version that appears after the user clicks a check box (without a drop down element)

Here is an example - the helper text is not displayed until the user clicks the checkbox for 'I d

[2019-12-06 15:13] #3829 closed

[2019-12-06 15:18] artistgreen commented on #3979
In an effort to understand the impact on other forms on VA.gov this list was compiled. These are the forms that have an address section which may be impacted by these changes.

https://staging.va.gov/records/download-va-letters/letters/confirm-address

https://staging.va.gov/health-care/apply/application/veteran-information/personal-information

https://staging.va.gov/pension/application/527EZ/app

[2019-12-06 15:19] zurbergram commented on #3055
For https://github.com/department-of-veterans-affairs/va.gov-team/issues/3055#issuecomment-562310196
see https://github.com/department-of-veterans-affairs/vagov-content/pull/606

[2019-12-06 15:20] artistgreen commented on #3979
For the Letters section, users are asked to make sure their address is current. This edit address uses the same components as the profile edit address component. When a user updates their address here, the changes take effect on their profile also.
![image](https://user-images.githubusercontent.com/53535009/70333713-06c0d480-1812-11ea-9fd1-337ef15eb43d.png)

![image](https://user-images.githubuser

[2019-12-06 15:26] rileyorr commented on #3753
@YanaRoy I created [mockups](https://vsateams.invisionapp.com/share/W5U21BDFTQK) for two scenarios I think the legacy issues flow could go.
I'd like to meet with you, Kevin, and Andrea to discuss

[2019-12-06 15:43] davidconlon commented on #3564
@tlei123  Thanks for asking--this one surprised me as well and I had to hunt a bit.  I guess it's close enough to the PA border to be part of the VA Pittsburgh health system.  Once the official cutover happens the official page will be https://www.va.gov/pittsburgh-health-care/locations/belmont-county-va-clinic/ and the FL Detail page will be unnecessary/redundant.

[2019-12-06 15:54] kelsonic opened #3997 "SideNav - Home breadcrumbs still display on staging"
# Description

The `"Home"` breadcrumb still appears on the following pages:

* [VA Pittsburgh Health Care | Patient And Health Services | Veterans Affairs](https://staging.va.gov/pittsburgh-health-care/health-services/)
* [VA Pittsburgh Health Care | Locations | Veterans Affairs](https://staging.va.gov/pittsburgh-health-care/locations/)
* [VA Pittsburgh Health Care | Events | Veterans Affairs](ht

[2019-12-06 16:09] jonwehausen commented on #3048
This functionality has been published and is live.

Will close this story now -- @amyknox if you could create a new one when the provider filters are ready we would greatly appreciate it.

[2019-12-06 16:10] #3048 closed

[2019-12-06 16:10] #3589 closed

[2019-12-06 16:15] Karak888 opened #3998 "Find all Wrong instances of "Blue Navy" and Replace with correct copy "Blue Water Navy Veterans"""
### **Bug Reported:**
Currently different variations of the Blue Water Navy web pages’ titles exist, and need to  be corrected and updated with “**Blue Water Navy Veteran**s”.

### **Correction Tasks:**
- [ ] Update and correct all instances of "Blue Navy" with "Blue Water Navy Veterans"
- corrections should be made on pagy copy and meta/browser title as well where applicable
- 3rd item in screens

[2019-12-06 16:20] cblakelyGCIO commented on #3921
All services above have been completed.  There was no tab on the Master Playbook sheet for cancer care.  Waiting for decision on whether we should duplicate the template and create an additional tab on the master.

[2019-12-06 16:50] andaleliz commented on #3807
Draft meeting agenda:

**Introductions**
Goal: Meet each other! Understand persons role in YR

**Information sharing** (high-level conversation guide [here](https://github.com/department-of-veterans-affairs/va.gov-team/issues/3807))

Goal: Gain insight into our YR users, current processes, and upcoming changes
- Insight to beneficiaries needs and behaviors
- Current process to update and publish s

[2019-12-06 16:57] Justin-Pickett opened #3999 "Update DD product outline with percentage roll out dates"
## Background

Much info has been discover through the roll out period of DD.

## Tasks

Need to update DD Product Outline w/ roll out dates of each percentage.
9/25/19 - 10%
10/16/10 - 50%
12/5/19 - 75%

## Acceptance Criteria

Updated product outline to reflect the roll out dates.

[2019-12-06 17:05] meganhkelley commented on #2898
@mnorthuis and @peggygannon I added some comments in the google doc, including a couple notes at the end about what's missing here as compared to the last iteration of the SEO doc. Looks great so far!

[2019-12-06 17:08] desireeturner commented on #3048
@amyknox the Provider Filter updates, including GA datalayer updates, are going to be covered in the following issue: https://github.com/department-of-veterans-affairs/vets.gov-team/issues/19992

[2019-12-06 17:09] markgreenburg commented on #2991
This is done already.

[2019-12-06 17:09] #2991 closed

[2019-12-06 17:14] #3440 closed

[2019-12-06 17:15] markgreenburg commented on #2992
This is done.

[2019-12-06 17:15] #2992 closed

[2019-12-06 17:15] andreahewitt-odd commented on #3768
@wyattwalter @ricetj Does this need product support assistance or can we take the label off?

[2019-12-06 17:21] davidconlon opened #4000 ""Invalid date" Time Display on Facility Locator Hours"
## What happened?
" Invalid date" is being shown as a time.  Not sure if this is a problem with the data or with the front-end.
Not sure how many facilities this may be affecting.

## Specs:
- Device: Win10
- Browser: Chrome
- Test User _(if applicable)_: N/A

## Steps to Reproduce
- URL: https://www.va.gov/find-locations/facility/nca_901
- Test User _(if applicable)_: n/A

![image.png](https://im

[2019-12-06 17:30] markgreenburg commented on #2996
Dupe of #3991

[2019-12-06 17:30] #2996 closed

[2019-12-06 17:54] mmiddaugh commented on #487
@brangi please confirm with @jenstrickland when this has been merged so she can retest. Thank you!

[2019-12-06 18:04] mmiddaugh opened #4001 "Confirm need for Facility Locator/Facility API URL link check function"
## Goal
Eliminate unnecessary redirect code.
- As part of [#3385], logic was added to the Facility Locator so that the url for facilities returned in the search results would be directed to new facility detail pages as they go live. This process will begin in 1/2020 and is expected to continue for several years. Once all VAMC systems have gone live with the new template, this logic should be evalu

[2019-12-06 18:07] Samara-Strauss opened #4002 "[Design] Direct Deposit: Latest call center guide updates"
Now that the functionality for direct deposit isn't changing, I can make the final call center guide updates and hand those off to Chante.

- [x] Add content about setting up direct deposit for the first time.
- [x] Get latest call center guide updates to Chante.

[2019-12-06 18:21] RLHecht commented on #3692
@lwalsh617 Here are my copyedits on this. Apologies for taking this before it was ready for me! Let me know if you have any questions. I can review it again once Jen has done her read if it's changed a lot. [https://app.zenhub.com/files/133843125/702d7b5e-a3e7-44c5-af9d-8cfcec3ac1c1/download](https://app.zenhub.com/files/133843125/702d7b5e-a3e7-44c5-af9d-8cfcec3ac1c1/download)

[2019-12-06 18:32] AnneHurley commented on #3040
Sent to SMEs to approve:
preview-prod.vfs.va.gov/preview?nodeId=1012
preview-prod.vfs.va.gov/preview?nodeId=1013

[2019-12-06 18:37] bradl3yC commented on #3993
Blocked until https://github.com/department-of-veterans-affairs/vets-website/pull/11246 is merged

[2019-12-06 18:45] mmiddaugh commented on #3383
Updating this issue to handle only the data feedback loop as the Foresee 5 star feedback has been initiated in [#3802].

[2019-12-06 18:51] RLHecht commented on #3998
@ncksllvn @jenniferlee-dsva Not sure where the search is pulling these pages from. The "Our Top Recommendations for You" page is not a current page in Drupal.

That page is now this URL: https://www.va.gov/disability/eligibility/hazardous-materials-exposure/agent-orange/navy-coast-guard-ships-vietnam/ and iit's showing the correct format for a meta title tag:

<img width="825" alt="Screen Shot 201

[2019-12-06 19:01] tlei123 commented on #3564
Thx, @davidconlon ^ !  All good here now.  :)

[2019-12-06 19:06] jonwehausen commented on #3872
@nedierecel @joanneesteban

Just looked at these and the links and metrics look good 👍

[2019-12-06 19:16] mmiddaugh commented on #3897
@davidconlon

1. Please review my "Tasks" and "Goals" additions above and edit as needed.
2. Regarding your "Urgent Care Facilities" section above, does this also pertain to pharmacies?
3. Are you suggesting we should do user research with these user types?
4. (And if so, is it possible, @arickalewis1?)

[2019-12-06 19:17] Samara-Strauss opened #4003 "[UX] Direct deposit: Figure out what codes for API changes for PPIU mean from a front-end user perspective"
## Background

TL; DR — We need to know what these indicator codes mean and how they are used to know how they may or may not affect the end user experience for direct deposit.

On 12/3/19, our team was informed that EVSS has made changes to PPIU services to expose the missing indicator data that EVSS itself relies on for determining if Direct Deposit changes can be made for use by VA.gov. This wi

[2019-12-06 19:21] mmiddaugh opened #4004 "Urgent Care PDF Research Synthesis"
## User Story
As the Facility Locator team, we need to understand how to provide information on urgent care eligibility and benefits in preparation for a visit.

## Tasks
Synthesize information gleaned from Urgent Care PDF research sessions

## Acceptance Criteria
[ ] Research readout summary which includes findings, recommendations, additional questions

This follows [#3897]

[2019-12-06 19:49] #3454 closed

[2019-12-06 19:49] #3890 closed

[2019-12-06 19:53] jbalboni opened #4005 "e2e tests should use mock data with future dates"
We need to make sure our mock data for e2e tests has future dates for the appointment list data, so that tests don't start randomly failing each time all our appointments drop off.

[2019-12-06 19:53] kelsonic commented on #1845
Hey @ricetj, I think I should be all set for SOCKS proxy access now :)

[2019-12-06 19:55] ricetj commented on #1845
Ok @kelsonic  I will close if you no longer need AWS access

[2019-12-06 19:56] ricetj commented on #1845
@kelsonic Do you still need AWS access?

[2019-12-06 19:56] Samara-Strauss commented on #4002
@clantosswett Attached is the latest (and hopefully final) direct deposit guide for the call center. I added a screenshot of the "Add" flow we launched a couple weeks ago. It is in the “How to Access and Update Direct Deposit for Compensation & Pension” starting on page 4 (step 4 in the process).

I also made some edits to the last section — "Additional Information on Direct Deposit for Compensati

[2019-12-06 19:58] kelsonic commented on #1845
@ricetj I meant that I am ready for SOCKS proxy access now https://dsva.slack.com/archives/CLXEU7Z17/p1575308869094700 Sorry for the confusion!

[2019-12-06 19:59] kelsonic commented on #1845
I should have said "I've completed eqip so I should be ready to be granted SOCKS access now" 👍

[2019-12-06 20:01] #3905 closed

[2019-12-06 20:03] amycesal commented on #3872
I made a few alignment adjustments, otherwise this looks good!

[2019-12-06 20:08] Jeff-Hayter commented on #1845
@ricetj SOCKS approved.  @kelsonic Do you have an eqip confirmation email from the security office yet?  That may take a few days to come through.