[2019-10-02 17:01] johnpaulashenfelter commented on #1868
Finally got permissions straight with some help from @lisac-usds and @annaswims.

[2019-10-02 17:04] #1899 closed

[2019-10-02 17:04] #1902 closed

[2019-10-02 17:09] ncksllvn opened #2196 "Launch Disability Calculator widget to production"
Moved from https://github.com/department-of-veterans-affairs/vets.gov-team/issues/19144

### Steps

- [x] Update HREF value of [Find your monthly payment amount](https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/applications/disability-benefits/disability-rating-calculator/components/CalculatedDisabilityRating.jsx#L50) in widget footer
    - This should point to a new

[2019-10-02 17:10] jason-gcio opened #2197 "Identify and Test Endpoints"
## Story
As a member of the eBenefits Team, I need to test the apis that were found within EVSS to show the data on Total Combined Disability Rating.

## Considerations
- Potential points of contact:
  - **JP (John Paul) & Silvio**: both have network access but are still not able to access the EVSS endpoint.  Silvio will attempt to follow up with EVSS during their recurring weekly meeting.
  - **J

[2019-10-02 17:13] Karak888 commented on #2044
@peggygannon can you please review this and let @RLHecht know when it is good to go live?

[2019-10-02 17:17] Karak888 commented on #1056
Closing this ticket as LOE is greater than anticipated. Upgrading specific component and FL would receive those updates at later time.  @ncksllvn will open a new ticket for VSP.

[2019-10-02 17:17] #1056 closed

[2019-10-02 17:18] #2038 closed

[2019-10-02 17:20] Justin-Pickett opened #2198 "[ Design/Discovery ]Bad Address Indicator Design Work"
## Background

This ticket will house the intial design/discovery work for Bad Address Indicator.

## Goal

Upload the design/discovery UX work for bad address indicator work

## Definition of Done

- [x] Design discovery
- [x] UX design work has been completed and uploaded to this ticket.
- [x] UX design work has been shared with the team. Feedback gathered
- [x] UX design work has been shared wi

[2019-10-02 17:20] Karak888 commented on #1794
@1Copenut  and @ncksllvn will follow-up

[2019-10-02 17:21] Justin-Pickett commented on #2198
This is currently a placeholder until we begin design discovery for Bad Address Indicator. Will fill this out accordingly in the coming days.

[2019-10-02 17:21] andrewlewandowski opened #2199 "Make jump-links more accessible"
## Problem descriptions
1. How might we provide more descriptive jump-link text in code for users relying on screen readers?
2. How might we slow down/make more elegant the jump-link interaction?
3. How might we link to accordions with unique URLs?

## Notes
- Use this page to explore solutions to the problem descriptions: https://www.va.gov/pittsburgh-health-care/locations/pittsburgh-va-medical-c

[2019-10-02 17:23] joanneesteban opened #2200 "Update Internal Analytics Self-Service Roadmap"
## User Story or Problem Statement
How might we determine next steps so that we can get closer to VFS team self-sufficiency with analytics?

## Goal
Update internal Analytics & Insights task-roadmap.

## Objectives or Key Results this is meant to further
- Va.gov teams implement their own analytics

## Acceptance Criteria
- [ ] Internal Analytics Self-Service roadmap is up-to-date

## How to confi

[2019-10-02 17:25] jason-gcio opened #2201 "Engineering: Review 686 Dependents Work"
## Story
As a frontend engineer, I want to know how much of the existing 686c frontend code is complete, so I can gain an accurate idea of the level of effort involved, and other issues, to make this application feature complete.

## Goals
Primarily, to fully understand work that has already been completed and map any functionality that is still outstanding.

## Tasks
- Review the 686c form [Produ

[2019-10-02 17:25] joanneesteban commented on #2200
First draft of high level strategy roadmap [linked here](https://docs.google.com/presentation/d/10QFMqTCrEliqYaQr0dP4MZGOeL9broJPmakNc6A5YKk/edit#slide=id.g61980307dd_0_248)

Github task-based roadmap [linked here](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsp/teams/insights-analytics/research/gtm-ga-self-service-process.md)

[2019-10-02 17:25] jason-gcio opened #2202 "Design: General Review 686 Dependents Work"
## Task
Review the 686 [Product Outline](https://github.com/department-of-veterans-affairs/vets.gov-team/tree/master/Products/Disability/Declare%20Dependent%20686) with respect to research, design and current implementation.

### Goal
Determine the general status of the current 21-686c implementation on VA.gov staging. Produce a document that presents a distillation of repository content; consolid

[2019-10-02 17:26] andrewlewandowski opened #2203 "Expose hidden/collapsed content to users"
## Problem descriptions
1. How might we "expose" hidden/collapsed content (e.g., accordion content) for users relying on screen readers?
2. How might we allow users to use their browser's find-on-page utility to search all page content, including hidden/collapsed content (e.g., accordion content)?

## Notes
- Use this page to explore solutions to the problem descriptions: https://www.va.gov/pittsb

[2019-10-02 17:26] #917 closed

[2019-10-02 17:26] ncksllvn commented on #2196
@tlei123 For your awareness, we're planning on going live with this tomorrow 😄

[2019-10-02 17:28] Justin-Pickett commented on #1798
@erikphansen ill work on getting this broken up into a new Epic ticket.

[2019-10-02 17:31] ricetj commented on #579
Blocked by Pittsburgh takeover

[2019-10-02 17:31] Karak888 commented on #1727
@mnorthuis-  @Karak888 updating menu and nav links in drupal - kara create new tasks / tickets for the remaining acceptance criteria -

@Karak888

[2019-10-02 17:35] Karak888 commented on #1519
@jenniferlee-dsva will schedule call.

[2019-10-02 17:35] ricetj commented on #1959
@wyattwalter to create a few tickets from this PM

[2019-10-02 17:40] #1861 closed

[2019-10-02 17:42] ricetj opened #2204 "Review instance billing tags"
Example From Boris
All vets.gov review EC2 instances should have the following information as tags:

VAECID = AWG20180517003
ProjectName = VA Vets.gov
ProjectShort = Vets.gov
Code change should probably be here?
I haven't checked if anything else needs to be changed when this instance is spun up.

Enrique from the Appeals team has written this:
https://gist.github.com/enriquemanuel/a78c2cfda1fd35e

[2019-10-02 17:47] ricetj commented on #2166
@nwalke will break this out into a few tickets.

[2019-10-02 17:48] peggygannon commented on #2044
@RLHecht @Karak888 looks good. this update has been published.

[2019-10-02 17:48] Karak888 commented on #1008
when burials hub goes live through Drupal, 2 version exist:  GH page is live, Drupal page is being held back for public information.  when we update all sme feedback from burials copy deck @RLHecht does final review and @RLHecht will get this from gH to drupal

[2019-10-02 17:52] Karak888 commented on #1506
@Karak888 to cross check against other Epic.

[2019-10-02 18:01] rileyorr commented on #1919
@YanaRoy @Mottie I've created new mockups for the overall 'Contested issues' user flow that also shares aspects with #1915
The mockups can be found [here](https://vsateams.invisionapp.com/share/W5U21BDFTQK) under the 'Contested Issues' section header.
My new user flow resulted from comparing patterns to the current 21-526EZ application process. In that process, Veterans select the disability(ies)

[2019-10-02 18:03] #845 closed

[2019-10-02 18:03] #606 closed

[2019-10-02 18:04] #2157 closed

[2019-10-02 18:04] #1858 closed

[2019-10-02 18:04] rileyorr commented on #1915
@YanaRoy @Mottie I've created new mockups for the overall 'Contested issues' user flow that also shares aspects with #1919
The mockups can be found [here](https://vsateams.invisionapp.com/share/W5U21BDFTQK) under the 'Contested Issues' section header.
My new user flow resulted from comparing patterns to the current 21-526EZ application process. In that process, Veterans select the disability(ies)

[2019-10-02 18:05] #1853 closed

[2019-10-02 18:11] #1827 closed

[2019-10-02 18:14] andreahewitt-odd opened #2205 "Onboard Benefits and Memorials #2 Team"
## Onboarding User Story
 Benefits and Memorials #2 team is onboarding to work on the VSP, they need support to get up and running. This epic contains the tasks our team will perform to support them through their onboarding stage.

## Goal
Get  Benefits and Memorials #2 team up and running in their workflow as quickly as possible._

## Issues to create within this Epic

[code]

## How to configure

[2019-10-02 18:17] alexpappasoddball opened #2206 "Review Triage Documentation"
## User Story or Problem Statement
As a Triage team member, I need ensure our internal team documentation is up to date and identify missing artifacts that could be beneficial to the team so we have a solid foundation of decisions made and supporting documentation to the products we own.

As a Triage team member, I need to ensure our VFS facing documentation is up to date and complete so that VFS

[2019-10-02 18:18] andreahewitt-odd opened #2207 "Display 508 errors data to CMS preview page"
As a CMS developer, I want to see the 508 errors inline as I'm coding so that I'm not surprised at the end of development.

AC:
 - [x] Show erros on the page

[2019-10-02 18:21] mnorthuis commented on #1509
This is duplicate of #1510, closing

[2019-10-02 18:21] #1509 closed

[2019-10-02 18:31] andreahewitt-odd opened #2208 "Create landing page of all downtime banners used on VA.gov"
As a UX designer and a content writer, I want a page that displays all the downtime banners, content, where the downtime banner is displayed and where that code lives so that I can audit the downtime banners for UX and if there are any issues, I have enough information to put in tickets for it to be fixed.

AC:
- [ ] A page is generated (or a list if a page is too hard) of all the downtime banners

[2019-10-02 18:31] joanneesteban opened #2209 "Set VSP Analytics & Insights team KPIs"
## User Story
As a VSP team, I need to set my KPIs so I can measure my goals for supporting a data-driven VA culture.

## Goal
Hold an internal KPI workshop and set KPIs.

## Acceptance Criteria
- [x] Schedule KPI setting workshop with the team
- [ ] Fill out pre-workshop work
- [ ] Host KPI setting workshop
- [ ] Document team KPIs

## Definition of Done
- [ ] **Attached to a Milestone** (when wi

[2019-10-02 18:34] andreahewitt-odd opened #2210 "Conduct UX audit of Downtime banners"
As a UX designer, I want all of the downtime banners to have good UX and be consistent so users have a good experience.

AC:
- [x] Use list generated in 2208 to audit downtime banners
- [ ] Create tickets for follow up work needed based on state of the banners

[2019-10-02 18:41] mnorthuis opened #2211 "Redirects in Education based on legacy rewriting work"
**User Story**
As user of VA.gov, if I click on a link or option for a legacy content page, I want to be automatically redirected to the new updated content page, so that I am always seeing the most updated, single source of truth for benefits information.

*Issue copied from vets.gov-team repo - original issue: https://github.com/department-of-veterans-affairs/vets.gov-team/issues/18635*

**Goal*

[2019-10-02 18:57] ncksllvn commented on #1541
@jonwehausen For that `additional-info-expander-label` property, would it be okay to pull in the whole alert title like -

[code]

[2019-10-02 19:02] mnorthuis opened #2212 "Due on 08/13: Redirects in Pension based on legacy rewriting work"
**User Story**
As user of VA.gov, if I click on a link or option for a legacy content page, I want to be automatically redirected to the new updated content page, so that I am always seeing the most updated, single source of truth for benefits information.

*Issue copied from vets.gov-team repo - original issue: https://github.com/department-of-veterans-affairs/vets.gov-team/issues/18634*

**Goal*

[2019-10-02 19:06] kevinstachura commented on #2028
@peggygannon @mnorthuis  - wanted to get this ticket and a couple others on your radar as they require IA analysis for a left navigation. Will set up quick meeting to discuss

[2019-10-02 19:06] kevinstachura commented on #2027
@peggygannon @mnorthuis  - wanted to get this ticket and a couple others on your radar as they require IA analysis for a left navigation. Will set up quick meeting to discuss

[2019-10-02 19:06] kevinstachura commented on #2026
@peggygannon @mnorthuis  - wanted to get this ticket and a couple others on your radar as they require IA analysis for a left navigation. Will set up quick meeting to discuss

[2019-10-02 19:10] nedierecel commented on #2105
@clantosswett I built a quick dashboard that summarizes interactions with any of the Contact Us links in the footer. Please use [this link to access it within Google Analytics](https://analytics.google.com/analytics/web/?utm_source=marketingplatform.google.com&utm_medium=et&utm_campaign=marketingplatform.google.com%2Fabout%2Fanalytics%2F#/dashboard/07-qJyK9QS6TRS57Z8-8CQ/a50123418w177519031p184624

[2019-10-02 19:10] rianfowler commented on #314
the school feedback form would be a good place to recreate the issue and test your fix: https://staging.va.gov/education/submit-school-feedback/introduction. You can see this locally at the same path and it doesn't require sign in.

this form is created using the [VA Forms Generator](https://department-of-veterans-affairs.github.io/veteran-facing-services-tools/forms). The config that drives it is

[2019-10-02 19:19] nedierecel commented on #1627
Adding `blocked` temporarily until devs are able to work on it, per the discussion on the [Vets.gov repo](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/19642):

[2019-10-02 19:21] mnorthuis opened #2213 "Redirects in Life Ins based on legacy rewriting work"
**User Story**
As user of VA.gov, if I click on a link or option for a legacy content page, I want to be automatically redirected to the new updated content page, so that I am always seeing the most updated, single source of truth for benefits information.

*Issue copied from vets.gov-team repo - original issue: https://github.com/department-of-veterans-affairs/vets.gov-team/issues/18636*

**Goal*

[2019-10-02 19:22] andrewlewandowski commented on #2177
I added Oct. 11 as a due date. :)

[2019-10-02 19:24] erikphansen commented on #1740
I'm trying to figure out how or why GA would be showing so many occurrences of the `Profile Save Failure -` even action without anything after the dash. I'm looking at the code and we only record this event if the `profile-section` is also set:

https://github.com/department-of-veterans-affairs/vets-website/blob/be2b5615b7f64531cfac75b4f916948491dcc5b4/src/platform/user/profile/vet360/actions/tran

[2019-10-02 19:24] mnorthuis opened #2214 "[Due on 03/02] Redirect Request: Housing legacy rewriting work"
**User Story**
As user of VA.gov, if I click on a link or option for a legacy content page, I want to be automatically redirected to the new updated content page, so that I am always seeing the most updated, single source of truth for benefits information.

*Issue copied from vets.gov-team repo - original issue: https://github.com/department-of-veterans-affairs/vets.gov-team/issues/18295*

**Goal*

[2019-10-02 19:25] mnorthuis opened #2215 "Redirects in Burials based on legacy rewriting work"
**User Story**
As user of VA.gov, if I click on a link or option for a legacy content page, I want to be automatically redirected to the new updated content page, so that I am always seeing the most updated, single source of truth for benefits information.

*Issue copied from vets.gov-team repo original issue: https://github.com/department-of-veterans-affairs/vets.gov-team/issues/18852*

**Goal**

[2019-10-02 19:26] mnorthuis opened #2216 "Redirect for Records > Accepted Discharge Documents based on legacy rewriting work"
**User Story**
As user of VA.gov, if I click on a link or option for a legacy content page, I want to be automatically redirected to the new updated content page, so that I am always seeing the most updated, single source of truth for benefits information.

*Original issue in Vets repo: https://github.com/department-of-veterans-affairs/vets.gov-team/issues/18622
Note - this ticket is for redirecti

[2019-10-02 19:40] mnorthuis commented on #1508
Recommendations complete.  Closing issue.

[2019-10-02 19:40] #1508 closed

[2019-10-02 19:48] LindseySaari commented on #456
Removing myself from the acceptance criteria. No PIV card yet and unsure of when I will get mine :(

[2019-10-02 20:04] clantosswett commented on #1135
@Justin-Pickett I reached out yesterday to 24 users who reported experiencing this issue. So far, two users have responded to my outreach and notified me they are still experiencing the problem and are unable to update their address on VA.gov. Let me know if you want more details about the users and we can figure out the past way to share that information since it is PII.

[2019-10-02 20:05] clantosswett commented on #2105
Thanks @nedierecel It's kind of embarrassing to say this but I don't have access to GA. Is it possible to get me an account so I can sign in and take a look? Thanks!

[2019-10-02 20:16] 1Copenut commented on #1794
Tying this issue to https://github.com/department-of-veterans-affairs/va.gov-team/issues/2207 for the second part of the work to add errors to the rendered page.

[2019-10-02 20:27] lisac-usds commented on #1664
hi @JQuaggles, would you be able to verify that these members have been removed from the `#cms-leads` channel? (that appears to be a private channel, and slack admins have limited visibility into those, unless we're personally members of it)
If things are all accounted for, I'd like to close this issue.

[2019-10-02 20:29] JQuaggles commented on #1664
@lisac-usds Yes they are. We can close! Mary removed them for me.

[2019-10-02 20:29] #1664 closed

[2019-10-02 20:42] nedierecel commented on #1740
@erikphansen Thanks for the information on the logic. In Google Tag Manager, it concatenates the `Profile Save Failure - ` with the `profile-section` and sends this data to GA.

However, that is mysterious that it is sending blank `profile-section`. Are there any places where the `profile-edit-failure` might not be related to a specific section?

[2019-10-02 20:42] clantosswett commented on #1129
@lihanli  I reached out to 24 users who reported experiencing this issue. So far, two users have responded to my outreach and notified me they are still experiencing the problem and are unable to update their address on VA.gov. Let me know if you want more details about the users and we can figure out the past way to share that information since it is PII.

[2019-10-02 20:42] ncksllvn commented on #1796
@RLHecht alrighty, just did another sweep so it should be corrected by EOD tomorrow

[2019-10-02 20:47] Karak888 commented on #1632
We have 2 Epics for Redesign find a form page - one is older but has all of the mockups and comments with it. However it is too long and outdated, and the one I started has all of our newer tickets associated with the Epic.  So, I am going to include the URL for #1482 here https://app.zenhub.com/workspaces/vft-but 59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/1482, and

[2019-10-02 20:48] ncksllvn commented on #2196
@jenniferlee-dsva the updates per your [comment](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/19144#issuecomment-537273186) have been made and should visible on Staging in about a half hour!

Going live tomorrow will be entirely from Drupal - from the admin for that page, we'll just make our content tweaks, add the React widget as a Drupal component, and publish! Then it'

[2019-10-02 20:54] ricetj opened #2218 "Discovery: Alternate Implementation of Redirects"
@wyattwalter to add more details.

[2019-10-02 20:56] erikphansen commented on #1740
There are only two places where we send the an object with `event: profile-edit-failure` and `profile-action: save-failure`: one for Direct Deposit update/save failures and then this more general case where the specific `profile-section` is set dynamically. but like I mentioned, if we don't pass in something to use for the `profile-section` we shouldn't be calling GA at all. I'll see what else I c

[2019-10-02 21:00] mnorthuis commented on #1591
All documentation has been updated, we are not handling redirects per https://github.com/department-of-veterans-affairs/vets.gov-team/issues/16973.

[2019-10-02 21:05] clantosswett opened #2219 "Tier 1 Digital Experience Research"
## User Story or Problem Statement
How might we improve the veteran experience of finding the right call center phone number on VA.gov?

## Goal
-A synthesis of research and data that helps to explain potential opportunities to improve the digital experience for finding the right customer support channel for a user's specific issue.

## Objectives or Key Results this is meant to further
- _lorem i

[2019-10-02 21:09] clantosswett opened #2220 "Direct Deposit Call Center Report"
## User Story or Problem Statement
As a product owner of the direct deposit tool, I need call center data on direct deposit issues, so I can learn about the issues facing users and resolve those issues.

## Goal
Weekly report from NCC on VA.gov direct deposit issues.

## Objectives or Key Results this is meant to further
- _lorem ipsum_

## Acceptance Criteria
- [ ] Update NCC CRM to track VA.gov

[2019-10-02 21:12] meganhkelley commented on #2083
Duplicate of #1560, closing

[2019-10-02 21:12] #2083 closed

[2019-10-02 21:14] clantosswett opened #2221 "Education Statement of Benefit Call Center Change"
## User Story or Problem Statement
As a user, I need the right phone number on the education statement of benefit page, so I can get answers to my questions.

## Goal
The HRC help number removed and replaced with the right VBA phone number.

## Objectives or Key Results this is meant to further
- _lorem ipsum_

## Acceptance Criteria
- [x] Provide updated text to VBA stakeholders to review and app

[2019-10-02 21:16] clantosswett opened #2222 "MVP Call Center Report"
## User Story or Problem Statement
How might we report on the call center data that we currently have/receive to VSP/VSA teams?

## Goal
Create an MVP call center report that people can react to and start receiving on a monthly basis.

## Objectives or Key Results this is meant to further
- _lorem ipsum_

## Acceptance Criteria
- [x] Conduct research on helpful data points
- [x] Create prototype o

[2019-10-02 21:30] ncksllvn commented on #1625
@jenniferlee-dsva The issue you were seeing with the anchors in CMS Preview not aligning with Prod should be fixed after tomorrow's deployment.

Technical breakdown - Currently, if you visit https://staging.va.gov/health-care/how-to-apply/ and want to link to the `What happens after I apply?` heading, you'd have to link to ` https://staging.va.gov/health-care/how-to-apply/#what-happens-after-i-app

[2019-10-02 21:45] micahchiang commented on #2037
We discussed during backlog grooming today that this is a ticket which should be completed as Rated Disabilities nears a production ready state. Given how much change is coming to the UI of Rated Disabilities (two pages, one logged out view, one logged in view, side bar, etc), should we consider moving this into the backlog for now?

[2019-10-02 21:46] #2112 closed

[2019-10-02 21:55] jonwehausen commented on #1541
That's fine too, we didn't want to create extra work for you all but that certainly makes things easier for us.

[2019-10-02 22:05] markgreenburg opened #2223 "Create Review Page variant mocks"
As a developer, I need to know what to put on the review page for each type of appointment so that I can show veterans the right info.

Possible review page variants:
- Direct Scheduled appointment
- VA appointment request
- Community Care appointment Request

## AC:
- [ ] Mocks for each state attached to this ticket

[2019-10-02 22:12] markgreenburg opened #2224 "Create confirmation pages"
As a developer, I want to know what to show veterans on the confirmation page for each type of appointment so that I can show them the right thing.

## Variants
- Direct Scheduled appointments
- VA appointment requests
- Community Care appointment requests

## AC
- [ ] Mocks for each of these variants are attached to this ticket.

[2019-10-02 22:24] 1Copenut commented on #2199
@andrewlewandowski I've been researching this afternoon, and there's not a lot of information on jump links in particular. The things I've seen called out in particular were related to parallax effects and bouncing or vibrating elements on the page.

* [ALA: Accessibility for Vestibular Disorders: How My Temporary Disability Changed My Perspective](https://alistapart.com/article/accessibility-for-

[2019-10-02 22:43] 1Copenut commented on #2203
@andrewlewandowski I've been thinking about this one all afternoon and have a couple of questions:

1. Are we concerned screen reader users aren't finding the content inside the accordion headings?
2. Are we looking at a secondary "full-text" version of the page with no interactivity?

I don't have any data to suggest one way or the other for question 1, but if question 2 does include a text-heavy

[2019-10-02 22:57] Rick-N-Thailand commented on #1135
@clantosswett
Sorry to hijack... Found this post while trying to find a solution to my problem with the VA.gov site.  I have not been able to find a support line to report the errors.

Mailing and Home address is not accepting (_We couldn't save your ...._)(####-my number is masked for this post):
JUSMAGTHAI
BOX R ####
APO AP 96546

or

UNIT 46190 BOX R ####
APO AP 96546

In addition, under Mailin

[2019-10-03 01:12] jenniferlee-dsva commented on #2196
Hi @ncksllvn - I've updated the drupal page intro text now, and it is ready for the calculator. Don't hate me but now that we're placing the calculator after the intro para, the first sentence inside the tool is redundant. Can you delete that sentence before adding it? (Sorry!)

Here are the screen shots of the new intro text on the drupal page and the text that needs to be deleted inside the widg

[2019-10-03 01:14] RLHecht commented on #2063
@jenniferlee-dsva I've created a draft for the Naming page. Let me know what you think.

http://dev-design.va.gov.s3-website-us-gov-west-1.amazonaws.com/content-style-guide/naming

[2019-10-03 01:18] jenniferlee-dsva commented on #2196
@RLHecht or @peggygannon - After Nick has added the calculator widget per above, please go to http://preview-prod.vfs.va.gov/preview?nodeId=866 and proofread/review and publish if all looks good. (I updated the intro text.)

[2019-10-03 01:55] #1750 closed

[2019-10-03 04:26] jenniferlee-dsva commented on #2177
Take a look and let's discuss. Couple things that just didn't seem right, and still not sure about the value of including the participating providers.

Also, related - this page: http://preview-prod.vfs.va.gov/preview?nodeId=255

“Access your health records” should now change to match the page H1 – “Medical records office”; also teaser text about sharing doesn’t apply now.

I made this change for

[2019-10-03 12:04] #1363 closed

[2019-10-03 12:04] #1365 closed

[2019-10-03 12:04] #1206 closed

[2019-10-03 12:29] ncksllvn commented on #2196
@jenniferlee-dsva No problem, just opened a PR to remove that sentence. Should be ready soon!

[2019-10-03 13:04] joanneesteban commented on #2105
@clantosswett you should be set now!

[2019-10-03 13:15] RLHecht commented on #2196
@ncksllvn I can review and publish. Just let me know when it's ready.

[2019-10-03 13:47] meganhkelley opened #2225 "Draft proposed Levels of Service doc"
## Problem Statement
How might we define tiers of VSP Content & IA support for VFS teams, so that they know what we are able to do with and for them, and what they are expected to do themselves?

## Goals
Create a proposed "Levels of Service" document that can be shown to VSP leadership for feedback. (This will then be iterated on and distributed to VFS teams as needed).

## Definition of Done
- [

[2019-10-03 13:50] LindseySaari opened #2226 "Display Lint Failures in Jenkins Console Output for GIBCT Data Service"
## High Level User Story
As a VSF engineer, I want to see the rubocop lint and migration failures when my gibct-data-service jenkins build fails.

## More Context
Failing builds do not display the console error output that a developer needs in order to debug the failing build

Related to this `vets-api` issue: https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-vete

[2019-10-03 13:52] peterhill-oddball commented on #1445
https://github.com/department-of-veterans-affairs/devops/tree/master/loadtest/education_benefits_claim_1995_stem

This load test that requires authenticated user sessions has a great README explaining how to generate the session cookies, copy them from Jenkins output, and paste them into a sessions.json file in whatever load test directory you need them.

[2019-10-03 13:52] LindseySaari commented on #2226
gibct-data-service: https://github.com/department-of-veterans-affairs/gibct-data-service

[2019-10-03 13:55] #1526 closed

[2019-10-03 14:02] meganhkelley opened #2227 "Define documentation site solution approach"
## Product Outline
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/platform/documentation-site/product-outline.md

## Problem Statement
We are investing full effort in migrating content to the new, public va.gov-team repo, while simultaneously entertaining a variety of different documentation site ideas that we suspect have better UX (such as GitHub Pages /docs d

[2019-10-03 14:08] meganhkelley opened #2228 "Initial discovery - documentation site options"
## Definition of Done
- [ ] Initiate conversation with DSVA about what DSVA access requirements are for documentation site
- [ ] Research & list top tools similar to Gatsby
- [ ] Research & list top tools not similar to Gatsby
- [ ] Document findings & make plan to share with team

[2019-10-03 14:14] meganhkelley opened #2229 "Downtime banner audit"
## Goal(s)
Audit all downtime banners and messaging on VA.gov to validate whether there are issues with the UX.

## Definition of Done
- [x] Downtime banners have been identified
- [x] Downtime banners have been audited

[2019-10-03 14:17] meganhkelley opened #2230 "Conduct content audit of downtime banners"
As a content expert, I want all of the downtime banners to have clear messaging consistent with our style guide so that VA.gov users have a good experience.

AC:

- [x] Use list generated in #2208 to audit content of downtime banners
- [ ] Create tickets for follow up work needed based on state of the banners
- [x] Discuss with dev if any of the downtime/maintenance messages can be more actionable

[2019-10-03 14:18] KevinMHoffmanUSDS commented on #2044
@peggygannon @Karak888 @RLHecht Thanks, y'all!

[2019-10-03 14:24] jenniferlee-dsva commented on #2063
Thank you @RLHecht  . Def on the right direction and you've captured the essential points we want to drive home. Some quick feedback to get you started on v. 2, and then let's tb in convo to finalize.

1/ Overall, I'd try to make it shorter. Maybe just 1 short paragraph as intro... maybe 2 if we really need it.

2/ Break up the examples with header sections that convey what we are telling ppl to d

[2019-10-03 14:36] meganhkelley opened #2231 "[Ongoing Service] VA.gov design and content"
## User Story and/or Problem Statement

### User Story

As a VA.gov end user, I want the experience accross VA.gov to be consistent so that I can easily navigate the website and complete the tasks I need to do.

### Problem Statement

How might VSP identify areas of VA.gov and the design system that need to be improved upon and/or iterated to provide a better, more consistent user experience for V

[2019-10-03 14:38] desireeturner commented on #1639
This epic is complete as all of the child issues have been completed.

[2019-10-03 14:38] #1639 closed

[2019-10-03 14:43] meganhkelley opened #2232 "Content review - Non-technical discovery on automation opportunities"
## Problem Statement

VSP’s content specialist spends a non-trivial amount of time addressing “low-level” content issues, which prevents VSP from being able to scale to support an increasing number of VFS teams and initiatives.  Also, VFS teams rely on the VSP content specialist for all content reviews, reducing their ability to self-serve and thus iterate on their own.

_HMW automate content revi

[2019-10-03 14:45] meganhkelley opened #2233 "Drupal CMS MVP of Vale as plain language linter"
### User Story

As a VFS team member writing content for VA.gov, I want to see automated content validations, so that I am better able to self-serve and write error-free, plain language content.

### Assumptions and Hypotheses

We **assume** that VFS teams will engage with automated content validations, and make changes based on the warnings shown.
We **hypothesize** that if we emphasize and build

[2019-10-03 14:49] andreahewitt-odd opened #2234 "Facility Locator Onboarding"
## User Story
As a new VA.gov team member, I need to complete onboarding activities so I can successfully work on my project.

## Acceptance Criteria
- [ ] Each team member has completed each item in the onboarding checklist below.

## Onboarding Checklist

- [x] PM: Attend intro meeting with product support PM
- [x] Attend general onboarding meeting
- [x] [Request Access to Tools](https://github.

[2019-10-03 14:53] meganhkelley opened #2235 "Create Top 5 list of content validation warnings"
## Goal(s)
Create a list of "top 5" content validations that can be used in the MVP of automated content checker.

## Definition of Done
- [x] Based on VA.gov content style guide and @peggygannon's experience as a content expert, select top 5 top content validations to be used in MVP of plain language linter for VA.gov tools and applications

[2019-10-03 14:58] meganhkelley opened #2236 "Determine technical approach for MVP of vale"
## Goal(s)
- Collaborate with other teams and engineers, and conduct research as needed, to determine the most feasible technical approach for MVP of plain language linter
- Propose answer to high level question: Where will users (VFS teams) encounter this in their process?

## Definition of Done
- [x] Technical approach for MVP of vale plain language linter has been determined
- [x] Next steps ha

[2019-10-03 15:25] Justin-Pickett commented on #1135
@lihanli can you check into the above message from "Rick-N-Thailand". I was about to close this issue but it appears there still may be some issues users are experiencing when trying to update their address.

[2019-10-03 15:26] kfrz opened #2237 "Exception coercion logic is extracted from the `ApplicationController`"
## User Story or Problem Statement
As a VSP engineer, I need to clean up the `ApplicationController` error handling so I can more easily understand the logic involved.

#### Background

We should address some of the complexities in `ApplicationController`, related to rescuing and coercing error classes. The purpose of transforming an error class is so that `vets-api` can exercise finer-grained con

[2019-10-03 15:26] Justin-Pickett commented on #1737
@lihanli please update this ticket with the necessary info so we can close this out.

[2019-10-03 15:26] Justin-Pickett commented on #1736
@lihanli please update this ticket with the necessary info so we can close this out.

[2019-10-03 16:15] narin commented on #1864
Linked below is the swagger for this existing service.
 Could be helpful to determine what an API response would look like from `vets-api` once it is implemented.

https://coderepo.mobilehealth.va.gov/projects/VDMS/repos/mobile-cce-service/browse/src/main/resources/swagger.json?at=Release%2F1.0

[2019-10-03 16:21] narin opened #2238 "Design for Video Visit Link"
## User Story or Problem Statement
As a veteran, if I am on iOS, I need to be prompted to download the iOS app in order to launch a video appointment.

Could use some design/content guidance for this.

Extension of this ticket: #1772.

**Current functionality:** If you're on iOS, there's a message that you must download an app (https://itunes.apple.com/us/app/va-video-connect/id1224250949?mt=8)

[2019-10-03 16:22] brandonrapp opened #2239 "Best Practice Guides - VFS Application for testing and demo of best practices"
# Description
Transform an existing platform application by testing out and implementing VSP best practices for use as an example for other VSA teams during onboarding.

# Problems
As a platform we need a way to demonstrate best practices, optimizations and tool usage in a real world production environment so VFS teams can better understand how they could utilize them in their own applications.

#

[2019-10-03 16:22] narin commented on #2238
CC: @markgreenburg @goldenmeanie

[2019-10-03 16:33] clantosswett commented on #2105
@nedierecel Thank you so much for this initial report. One quick question.  I might have missed it but were you able to run this report for the header "contact us" links? They are found in the contact us drop down menu. Additionally, is there any way for us to see the users journey to clicking these links? I'm just trying to dig a little and see what our users activity looks like when it comes to

[2019-10-03 16:33] jenniferlee-dsva commented on #2177
@Karak888 - please assign Selina to work on a plain language content task for this ticket, with Anne's supervision/feedback.

**Attached Word doc with specifics for Selina:**
[pittsburgh-medical-records-office-faqs-100319](https://app.zenhub.com/files/133843125/bdefad26-1b1b-49f1-9b8a-6de06df2bd3a/download)

Task: Revise to make more plain language (as needed)—without changing meaning of the infor

[2019-10-03 16:49] rianfowler opened #2240 "merge dependabot PRs"
## Overview

[Dependabot](https://dependabot.com/) is a dependency updating tool used on `vets-website` repo. There are several [branches](https://github.com/department-of-veterans-affairs/vets-website/branches/all?utf8=%E2%9C%93&query=depend) that need to be merged. Before merging, make sure to do a recent run of the CI. These branches may need master merged in with them to pass CI.

The assumpti

[2019-10-03 16:55] narin commented on #1772
Separated iOS app download prompt into new ticket since some design/content guidance is required: #2238

[2019-10-03 17:00] clantosswett commented on #2105
Attached is the spreadsheet that lists out where all phone numbers are listed on VA.gov. I am only really concerned with the top 7 numbers listed in the spreadsheet.

[Va.gov call center inventory.xlsx](https://github.com/department-of-veterans-affairs/va.gov-team/files/3687242/Va.gov.call.center.inventory.xlsx)

[2019-10-03 17:03] markgreenburg commented on #1789
@kreek do we need a separate ticket to get BE / FE alignment on the schema? Seems like maybe, maybe not - I think all we need is a boolean for whether someone is or isn't CC eligible, rather than anything fancy.

[2019-10-03 17:24] nedierecel commented on #2108
@jenstrickland I've added you to the weekly report that is sent each Monday, and you should have access to Google Analytics. Please let me know if you have any issues accessing.

[2019-10-03 17:30] amycesal commented on #1236
![Grey Sky](https://user-images.githubusercontent.com/1656046/66149858-957a6080-e5d9-11e9-9d84-0e6cabfa5db8.png)

[2019-10-03 17:34] Mottie commented on #2012
Strangely enough, I've started work on form 0996 (Higher-Level Review) which also needs this form field... While testing, I am seeing a message

![Screen Shot 2019-10-03 at 12 32 25 PM](https://user-images.githubusercontent.com/136959/66150108-1b96a700-e5da-11e9-9e61-66bea9fac9c0.png)

[2019-10-03 17:42] RLHecht commented on #2196
@ncksllvn I don't see the calculator showing up on the preview page. Is this a problem if I publish it?

[2019-10-03 18:03] ncksllvn commented on #2196
Hey @RLHecht, I'm going to make a quick edit in the CMS to add the calculator!

[2019-10-03 18:13] #2168 closed

[2019-10-03 18:17] LindseySaari opened #2241 "Service class extraction of raise_backend_exception method for reusability"
## User Story or Problem Statement
As an engineer working with vets-api, I need to reduce method/code duplication in our service classes and extract such methods to a common base class. Many of our service classes implement methods that are duplicated and can easily be extracted to improve developer readability and enforce coding best practices. The raise_backend_exception method is duplicated acr

[2019-10-03 18:37] 1Copenut commented on #872
@Justin-Pickett Thank you for the flexibility to reschedule. Your team brought great questions and suggestions. I'll move this ticket to closed.

[2019-10-03 18:37] #872 closed

[2019-10-03 18:46] YanaRoy commented on #898
@Kimberley2019 after a team discussion, it would be best to set up time with the user to screen share and attempt to identify the issue and resolve ideally. Is this something you can help with getting set up? Thanks!

[2019-10-03 18:53] YanaRoy commented on #2005
@YanaRoy to circle back to EVSS to ensure no issue and close ticket if there is no issue.

[2019-10-03 18:54] peggygannon commented on #1965
adding link to the Rated disabilities user flow diagram:

https://xd.adobe.com/view/68c319f0-5bff-469e-4426-a1c628ed6c3c-1ef2/screen/67636adb-e65d-4b64-984d-09fd65f2a588/Disabilities-1/

[2019-10-03 18:56] #1605 closed

[2019-10-03 19:00] #1906 closed

[2019-10-03 19:12] #1854 closed

[2019-10-03 19:13] erikphansen commented on #1854
Highlighting the diff in suggested address vs the input address seems totally doable. Closing this.

[2019-10-03 19:18] clantosswett commented on #1885
@Kimberley2019 Here is the documentation for the process that has in place but not strictly followed.
https://github.com/department-of-veterans-affairs/va.gov-vfs-teams/blob/master/Request-Reviews/request-contact-center-review.md#request-a-contact-center-review

[2019-10-03 19:25] kfrz commented on #2236
@cvalarida and I did some brainstorming and discussion on this and we think there's a viable path forward that looks something like this:

**Proposed Issues & AC AC (subject to revision)**:

- Add the `vale` dependency to `vets-website`
  - `Dockerfile` is updated to contain the `vale` plugin
  - Documentation is updated with instructions on how to install dependency locally
- Create a metalsmith

[2019-10-03 19:31] #836 closed

[2019-10-03 19:31] kfrz commented on #836
Closing as stale.

[2019-10-03 19:33] Kimberley2019 commented on #898
@YanaRoy Can you please advise which user you are speaking of?

[2019-10-03 19:42] meganhkelley opened #2242 "[BE] HCA/ICN issues"
@Samara-Strauss commented on [Thu Aug 15 2019](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/19496)

Re-creating this ticket with ICNs redacted:

------

Hi team,
Seeing couple of these per day, not sure how it could be happening.

Incoming enrollment application, authenticated path, and sent with [ICN redacted]
Traits:
Submitted: [redacted]

ICN for this person is [redact

[2019-10-03 19:58] Karak888 opened #2243 "Review Pittsburgh Medical Records FAQs and Update content with Plain Language as needed"
### **Objective:**
This ticket is to review the Pittsburgh Medical Records FAQs (attached), and identify content where plain language can be applied.

### **Task:**
- [x] Review FAQs and mark-up content with plain language as needed (without changing the meaning of the information). This content should follow the new VA.gov content voice and tone, and must adhere to the style guide. Please work cl

[2019-10-03 20:14] Justin-Pickett commented on #863
@1Copenut , Authenticated Experience team has completed all of the above on-boarding checklist items. I am closing this Epic ticket. Thank you.

[2019-10-03 20:31] micahchiang opened #2244 "Create static tool landing page in unauth benefit hub for Rated Disabilities dashboard view"
## Considerations
- Who is responsible for creating pages like this?  Should we do it or Global UX?
- IA feedback has been provided in #2584 that concerns this ticket.

## Story
As a user, I want a clear indication that I need to log in to VA.gov to view rated disabilities if I am not already logged in.

## Goal
If the eBenefits Team needs to build this, create a logged out view, notifying the use

[2019-10-03 20:38] brandonrapp opened #2245 "Ongoing VFS teams Support - Sprint 10"
Provide ongoing support for VFS to help with code reviews and problems related to VSP tools and best practices.

[2019-10-03 20:38] micahchiang commented on #2076
It sounds like this is something we will be discussing as we conduct user interviews. Moving it into the ready column.

[2019-10-03 20:39] #1808 closed

[2019-10-03 20:48] nedierecel commented on #2105
Thanks @clantosswett - this is very helpful! I'll add locations and amount of interactions with these phone numbers to the dashboards.

FYI - When I pull the user journey reports, they will be separate from the dashboard.

[2019-10-03 20:48] RLHecht commented on #2063
@jenniferlee-dsva I made some revisions. Let me know if you still think it's too long. I think breaking it up visually with heds and the examples makes it easier to read but if it's still too wordy I can cut.

http://dev-design.va.gov.s3-website-us-gov-west-1.amazonaws.com/content-style-guide/naming

[2019-10-03 21:04] peggygannon commented on #1965
@jason-gcio @sporeboy Hi, Jason and Jim, I've updated the Rated Disabilities mock up with my content suggestions/recommendations. Please let me know if you have any questions about my review. Thx!
https://xd.adobe.com/view/ebfa6df6-c0aa-4ea9-413e-98793ba7a5a3-9dcb/

[2019-10-03 22:10] 1Copenut opened #2246 "[KEYBOARD]: Skip to Content Link doesn't work correctly in IE11"
## Description

Our Skip to Content link is designed to let users skip past the initial global navigation and headlines, directly to the main content area. IE11 does not focus the content container as expected, and our skip link should be considered broken for IE11 users who prefer to navigate by keyboard. Screenshot attached below.

## Point of Contact

**VFS Point of Contact:** _Trevor_

## Acce

[2019-10-04 03:56] markgreenburg commented on #1308
@kreek think we're ok to close this ticket?

[2019-10-04 04:07] markgreenburg commented on #2223
Oops, dupe of #1785

[2019-10-04 04:07] #2223 closed

[2019-10-04 04:11] markgreenburg opened #2247 "Create mocks for appointment details page variants"
## Context
Many of these mocks probably already exist somewhere, but we need to confirm that they're up to date and we need to put them in one place so that developers can ensure they've accounted for all the variants.

## Story
As a developer, I want to understand what each appointment or request should show to veterans after it's been clicked on from within the list of appointment / requests, so

[2019-10-04 04:28] markgreenburg opened #2248 "Create mocks for variants of appointment card in appointment list"
## Context
Many of these mocks probably already exist somewhere, but we need to confirm that they're up to date and we need to put them in one place so that developers can ensure they've accounted for all the variants.

## Story
As a developer, I want to know what each appointment / request variant's card should look like in the appointment list so that I can build the right thing to show to veter

[2019-10-04 04:30] markgreenburg commented on #2247
@jbalboni curious if phone appointments need to be specifically differentiated just like office & video?

[2019-10-04 04:34] markgreenburg commented on #1747
Kind of rearranged this ticket but kept the info. Dupe of #2247 and #2248

[2019-10-04 04:34] #1747 closed

[2019-10-04 04:36] markgreenburg opened #2249 "review"

[2019-10-04 04:37] markgreenburg opened #2250 "Build review and confirmation flows"
As a veteran, I want to be able to review my inputs before submitting an appointment or request and see a confirmation for what I submitted (or a helpful error).

## Zenhub link
https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/2250

[2019-10-04 04:40] markgreenburg opened #2251 "Create mocks for appointment / appointment request submission failure"
## Story
As a veteran, I want to see a helpful error message when my appointment or appointment request doesn't go through so that I'm not confused and know what to do next.

## Context
Discuss possible error types with devs to understand if more than one UI variant needs to be created

## AC
- [ ] Mock for direct scheduling and / or request error exists in this ticket
- [ ] Documented, in ticket,

[2019-10-04 11:48] RLHecht commented on #2044
Change was validated on live site. Closing issue.

[2019-10-04 11:48] #2044 closed

[2019-10-04 13:23] Karak888 opened #2252 "Update DIC Page URLs and Redirect to new Locations in Disability Hub"
### **User Story**
As a surviving spouse, dependent or parent, I need to easily find DIC benefit info, so I can apply and access the benefit I'm eligible for.

### **Goal**
Move DIC into Disability where users expect to find it and ensure there is crosslinking in Survivors Pension, Burials and Family hubs.

### **Acceptance Criteria**
- [ ] DIC page and all DIC rates pages are moved to Disability

[2019-10-04 13:48] jason-gcio opened #2253 "User Interview Notes"
## Goal
Take and edit notes from the user interviews so that they can be used to inform and guide our design process.

## Tasks
- [ ] 9am, 4 OCT 2019
- [ ] ~~12pm, 4 OCT 2019~~ _(rescheduled)_
- [ ] 2pm, 4 OCT 2019

## Definition of Done
- [ ] Notes are uploaded in the [eBenefits research folder](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/teams/vsa/teams/ebenefits/re

[2019-10-04 14:29] YanaRoy opened #2254 "[Epic] EVSS Integration Hardening"
## High Level User Story
As a Veteran, I want to be able to use my va.gov applications without running into mysterious issues or frustrating errors.

## Background
We've noticed that several EVSS integrations have higher than desired error rates. In some cases these seem to be EVSS problems, but in most cases there are upstream dependency issues that EVSS is simply passing through.

## Goals
_Redu

[2019-10-04 14:36] Jeff-Hayter commented on #2056
@ricetj Confirmed, please grant AWS access.

[2019-10-04 14:47] joanneesteban opened #2255 "Analytics Reporting Request for OIT"
# Metrics Reporting Request

## What this form is for

Use this template to request performance, usability, or outcomes va.gov metrics that is difficult to access or that needs analytics interpretation.

Insights will usually provide data reports within the current sprint, but if there is time-sensitivity, please note them in "additional comments."

## Instructions

Please fill out the following s

[2019-10-04 14:53] joanneesteban commented on #2255
- Average page load time (all VA.gov) for the month of August 2019 = 5.10 seconds [link](https://analytics.google.com/analytics/web/#/report/content-site-speed-overview/a50123418w177519031p176188361/_u.date00=20190901&_u.date01=20190930/)
- The system availability (percentage) for the month of August 2019 = 99.94% [link](http://grafana.vfs.va.gov/dashboard/db/ww-uptime-report-draft?orgId=1&from=no

[2019-10-04 14:55] joanneesteban commented on #2255
Metrics sent to Ed on 10/4/19. Closing this issue.

[2019-10-04 14:55] #2255 closed

[2019-10-04 14:56] #2056 closed

[2019-10-04 15:15] ncksllvn commented on #2252
Hey @Karak888, I don't think this is actionable yet as a dev task for @kelsonic to grab. A couple things -

1. We don't know anything about these DIC pages, but even if we knew where they lived today(like  `somewhere.va.gov/dic`) we still need to know where their new locations should be on www.va.gov. This is an IA task.
1. Even after determining their new location, shouldn't this be done in Drupa

[2019-10-04 15:15] Justin-Pickett opened #2256 "Address Validation - Create Product Outline"
- [ ] [Create Product Outline](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/change-address/address-validation/product-outline.md)

[2019-10-04 15:29] erikphansen opened #2257 "Present more helpful Direct Deposit error messages for `payment.restriction.indicators.present` errors"
We are seeing a lot of errors with the `payment.restriction.indicators.present` code coming back from the PPIU endpoint when users try to update their Direct Deposit banking information. It's the most common error code we're seeing in our trial run of the Direct Deposit feature that 10% of users have access to. We currently present a generic

error. If it's true that the `payment.restriction.indic

[2019-10-04 15:34] erikphansen commented on #1740
Still not sure why or how events are getting reported to GA without the profile section, but we should soon be properly reporting which profile section the user was trying to update when they got an error.

[2019-10-04 15:36] Mottie commented on #2012
So this issue can likely be closed.

The error message _is visible_ if the inputs are empty and after the "Continue" button on the form is pressed. It does not, however, show up when any of the three inputs are empty and lose focus.

[2019-10-04 15:43] #2012 closed

[2019-10-04 15:48] lichellebain opened #2258 "Test"
Test

[2019-10-04 15:49] #2258 closed

[2019-10-04 16:12] rileyorr commented on #1917
@YanaRoy @peggygannon What steps do I need to take to receive a content review for this mockup?

[2019-10-04 16:20] kreek commented on #1308
@markgreenburg yes, I'll close it

[2019-10-04 16:20] #1308 closed

[2019-10-04 16:27] cvalarida commented on #2236
Probably worth noting: I don't know how well the `PATH` check is going to work in Windows. We may need to have some other way to determine if the command is available. Not sure yet.

[2019-10-04 16:33] kelsonic commented on #488
@1Copenut So I've identified how we can solve this, but this could potentially cause a site-wide change in behavior to our input fields' `placeholder` styling. Currently, we have:
[code]

I found this by inspecting the shadow-dom in Chrome's dev tools, which led me to this line in the massive styles.scss file:
![image](https://user-images.githubusercontent.com/12773166/66223966-c5da0180-e6a2-11e9-

[2019-10-04 16:48] kelsonic commented on #488
[Sent up a PR](https://github.com/department-of-veterans-affairs/vets-website/pull/10852) that fixes **only the `service-type-ahead-input` input field on this page**, but we should discuss whether this should be site-wide since it seems inconsistent.

[2019-10-04 17:18] rileyorr commented on #1920
Update: going to be speaking with someone from the Appeals team about this form and scheduling informal conferences so we can try to tackle how to create the best user experience for scheduling the conference. Going to be creating more iterations soon

[2019-10-04 17:21] rianfowler opened #2259 "Fix linting / installation issues in VFS tools repo"
Linting is currently disabled in the [VFS Tools Repo](https://github.com/department-of-veterans-affairs/veteran-facing-services-tools)

Tasks:

- document the way linting is currently done in VFS tools repo
- re-enable linting as part of the VFS tools CI

[2019-10-04 17:21] rileyorr commented on #1919
@kevinstachura @carolynwill If either of you have time to review these mockups and give me feedback that would be fantastic! Commenting on the Invision mockups would be perfect!

[2019-10-04 17:25] Justin-Pickett opened #2260 "Swagger docs for the EVSS::PCIU address endpoints the portray the three potential address types"
@hpjaj commented on [Thu Apr 19 2018](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/10104)

The `EVSS::PCIU` address endpoint can return one of three email types, and associated schemas:

- domestic
- military
- international

The swagger docs portray that only a domestic address can be returned.

## Definition of done

- [x] Adds all three possible responses to the swagge

[2019-10-04 17:30] Justin-Pickett opened #2261 "Beta-Enrollment Improvement Ideas"
@ncksllvn commented on [Thu May 24 2018](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/10606)

Now that the Personalization initiative has finished its Beta and other teams are considering using its Beta-Enrollment workflow in their own applications, it would be worth outlining some improvements.

1. The React components/containers belong in the platform directory, not app

[2019-10-04 17:32] Justin-Pickett opened #2262 "Adjust profile update modal spinner to persists until Vet360 response received or 5 seconds passes"
@BBarone1 commented on [Wed Jun 13 2018](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/10984)

##Background
Creating this ticket for us to scope out the lift required to do this.

##Current behavior
1. User clicks profile update button on edit modal
2. Edit modal closes immediately upon request being sent
2. The user is directed to the profile page with a "We're working to

[2019-10-04 17:32] Justin-Pickett opened #2263 "Clean up Vet360 access checks"
@rlbaker commented on [Tue Jun 26 2018](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/11249)

We can probably standardize our access check for Vet360 to use the policies that have been created, but we need to do some cleanup to make sure we're checking the right things in the right spots. Take a look at these three areas to start figuring out what the best course forward w

[2019-10-04 17:34] Justin-Pickett opened #2264 "switch to using request store instead of thread.current"
@lihanli commented on [Sun Aug 25 2019](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/19559)

https://github.com/steveklabnik/request_store

`Thread.current` variables are not cleared after each request when using puma. if `ApplicationController#set_tags_and_extra_context` sets `Thread.current['request_id']`, then another request is handled by `AppealsApi::ApplicationContr

[2019-10-04 17:34] Justin-Pickett opened #2265 "Enable international phone numbers for profile"
@BBarone1 commented on [Thu Jul 26 2018](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/11750)

### FE work (@ncksllvn)
Should be a pretty low lift on the FE - we can easily add an input for the country code and remove what work we have now with ensuring USA-only - but it does depend on how sophisticated we want the UX to be

### BE work (@hpjaj):
this former commit would b

[2019-10-04 17:35] Justin-Pickett opened #2266 "Enable international phone numbers for profile on the BE"
@hpjaj commented on [Fri Jul 27 2018](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/11767)

## Background

Vet360 is getting ready to accept international phone numbers.  This ticket describes the FE and BE work:  https://github.com/department-of-veterans-affairs/vets.gov-team/issues/11750

This former commit would be pretty representative of what we’d need to do:
https://

[2019-10-04 17:36] Justin-Pickett opened #2267 "Dashboard - reduce the JavaScript-bundle size"
@ncksllvn commented on [Fri Oct 26 2018](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/14664)

The Dashboard's compiled Javascript bundle is very large, at 2.5 megabytes. We should figure out a way to cut this down, because that could have a performance hit on mobile or slow internet.

---

@ricetj commented on [Fri May 17 2019](https://github.com/department-of-veterans-af

[2019-10-04 17:36] Justin-Pickett opened #2268 "When page parameter passed is greater than 999 (max pages), the search interface should not show actual results total"
@kfrz commented on [Fri Nov 02 2018](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/14842)

## Background
When a user navigates to a search page that may have greater than 999 results, and manually ticks the URL `page` param to larger integer than 99, then they are presented with

This is confusing from a UX standpoint.

## Screenshots
[Normal page of results](https://stagi

[2019-10-04 17:37] Justin-Pickett opened #2269 "Internal Search QA | Make sure the best page is recommended for valuable keywords on internal search."
@steve-gov commented on [Wed Nov 07 2018](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/14923)

Make sure that the most frequently performed internal searches are directing to the most valuable content.

Here are the top 100 internal searches on va.gov in the last fiscal quarter of 2018: https://github.com/department-of-veterans-affairs/vets.gov-team/blob/master/Products/S

[2019-10-04 17:38] Justin-Pickett opened #2270 "Clean up "dashboard" references in code throughout repo"
@BBarone1 commented on [Fri Sep 28 2018](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/13798)

## Background
The dashboard product on Vets.gov is becoming "My VA" on va.gov. As a result, we'll want to change references to this product as "dashboard"  to My VA in our code and in our analytics.

## Definition of done
- [ ] Collect all references to dashboard throughout the c

[2019-10-04 18:16] #2241 closed

[2019-10-04 18:17] chrisj-usds commented on #2268
@Justin-Pickett Adding the global-ux team as on-site search is in their purview. Thanks for flagging!

[2019-10-04 18:24] Karak888 commented on #2269
@chrisj-usds @batemapf I will include this in our discovery ticket we have on our board.  thanks

[2019-10-04 18:26] Justin-Pickett commented on #2268
@chrisj-usds, Sure thing. Thank you!

[2019-10-04 18:29] LindseySaari commented on #1962
PR is here: https://github.com/department-of-veterans-affairs/vets-api-mockdata/pull/97

Not exactly sure how to link the issue to vets-api-mockdata

[2019-10-04 18:38] Karak888 commented on #2268
yea @chrisj-usds , thanks a lot! ;)

[2019-10-04 18:57] tlei123 commented on #2269
@Justin-Pickett @Karak888 , if this does require manual UI testing on Staging, please add the **vsa-qa** label and assign this to me at least 1 sprint before testing-day.

Thanks much!  :)

[2019-10-04 19:01] #2159 closed

[2019-10-04 19:02] wyattwalter commented on #1939
We setup a call on Monday to kick this off with the site owner.

[2019-10-04 19:20] jcosta-gcio opened #2271 "cd/ci"

[2019-10-04 19:33] kfrz opened #2272 "Port PIV Linux card reader how-to to the VA.gov-team repo"
## User Story or Problem Statement
As an engineer needing VA access w/ a PIV card I should have access to documentation in the `va.gov-team` repo on how to setup a card reader in Linux.

## Goal
Excellent documentation by @dogweather [here](https://github.com/department-of-veterans-affairs/vets-contrib/wiki/How-to%3A-Linux-and-PIV-Cards) is ported to the appropriate `va.gov-team` folder

## Object

[2019-10-04 20:02] #1576 closed

[2019-10-04 20:02] #2043 closed

[2019-10-04 20:16] #2061 closed

[2019-10-04 20:26] #2076 closed

[2019-10-04 20:39] joanneesteban commented on #2186
[KPI Folder](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/teams/vsp/teams/insights-analytics/kpi-tracking) with [list of set KPIs](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsp/teams/insights-analytics/kpi-tracking/kpi-list.md) and [updated processes](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/v

[2019-10-04 20:51] 1Copenut commented on #485
Closing this as not a defect per guidance from VA 508 office.

/cc @Karak888

[2019-10-04 20:51] #485 closed

[2019-10-04 20:55] meganhkelley commented on #1554
Closing — at the moment, it does not make sense to track this particular work in a ticket. We have onboarded all VFS teams and they are reaching out to us with review requests as needed.

[2019-10-04 20:55] #1554 closed

[2019-10-04 21:05] joanneesteban commented on #2190
## CSAT

CSAT on the [vets.gov/va.gov metrics](https://docs.google.com/spreadsheets/d/1L_w8FhhcOttMitKB3_9ge8UN01GcSXmaPZWDIRJIhxI/edit#gid=972187789) sheet is updated.

### What is your overall satisfaction with this site

#### Pre-Relaunch
![image](https://user-images.githubusercontent.com/48964695/66239775-c1c0da80-e6c8-11e9-95e3-13781bdd2aee.png)

#### Post-Relaunch
![image](https://user-image

[2019-10-04 21:06] 1Copenut commented on #491
Closing this as not a defect per guidance from VA 508 office.

/cc @Karak888

[2019-10-04 21:06] #491 closed

[2019-10-04 21:10] 1Copenut commented on #711
Closing this as not a defect per guidance from VA 508 office.

/cc @Karak888

[2019-10-04 21:10] #711 closed

[2019-10-04 21:14] wyattwalter opened #2273 "monitoring of unhealthy ELB nodes"
During an incident review with the fwdproxy, we realized that there were alarms about the number of nodes that prometheus was finding through autodiscovery in a deployment that was meant as a way of capturing the number of nodes in use for a particular service, but there were no alarms explicitly for when nodes were failing health checks and being cycled out by the ASG.

Some investigation is need

[2019-10-04 21:20] 1Copenut commented on #490
Closing this as not a defect per guidance from VA 508 office.

Please see my PR comment: https://github.com/department-of-veterans-affairs/vets-website/pull/10819#issuecomment-538563246

/cc @Karak888

[2019-10-04 21:20] #490 closed

[2019-10-04 21:22] wyattwalter opened #2274 "audit and fix infrastructure deployments that do all envs at the same time"
During incident review for fwdproxy failures on 9/19, we noticed that a kernel update (which caused a panic of nodes randomly in a cluster and eventually knocked the service offline) was taken in automatically by the build process that deployed to all 3 environments immediately.

While doing a sequential deploy likely wouldn't have avoided this particular incident alone, we should be rolling out p

[2019-10-04 21:27] wyattwalter commented on #1959
Going to review at next SRE call: https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/pull/12

[2019-10-04 21:28] joanneesteban commented on #1843
[Checklist Spreadsheet](https://docs.google.com/spreadsheets/d/1tYzIGe3bWug8Ryy0MuaJ3ubNhPrYxSIxW_hGXEw0FYI/edit#gid=0)

[2019-10-04 21:32] Mottie commented on #1917
This is what the mailing address card looks like without the left border & padding. I feel like it needs to be bolder?

![](https://user-images.githubusercontent.com/136959/66241382-858b7b00-e6c4-11e9-947e-faf65b033e45.png)

[2019-10-04 22:05] 1Copenut opened #2275 "[KEYBOARD]: Facility links are missing the yellow focus halo"
## Instructions
## Description

While testing another issue, I noticed our list of facility links don't have the yellow focus halo when I tab to them. I've verified this with `document.activeElement` and attached a screenshot below showing the item to correct.

## Point of Contact

**VFS Point of Contact:** _Trevor_

## Acceptance Criteria
[ ] Keyboard user can see the yellow focus halo when the l

[2019-10-05 01:50] nedierecel commented on #1740
Thanks @erikphansen - Please let me know when that goes live, and I'll continue to monitor.

[2019-10-05 18:13] #2108 closed

[2019-10-07 02:56] jcosta-gcio commented on #2271
The purpose of this task is to start a discovery effort to separate the Pipelines and start moving away from our Monolithic architecture.

When new content is needed in va.gov the complete website content + apps have to be build and deployed if the content contain broken links the build process fails and the content authors have to be contacted in order for the issue to be resolved.

This task see

[2019-10-07 03:01] jcosta-gcio commented on #2271
The broken link issue have been documented by Nick Sullivan on the following issue

https://github.com/department-of-veterans-affairs/va.gov-team/issues/1466

[2019-10-07 13:39] camerontesterman commented on #1172
This has been resolved.

[2019-10-07 13:39] #1172 closed

[2019-10-07 13:40] camerontesterman commented on #1173
This has been merged and resolved.

[2019-10-07 13:40] #1173 closed

[2019-10-07 13:55] Karak888 commented on #488
@kelsonic @1Copenut Please hold off on making any further changes that have to do with Community Cares and Facility Locator overall as we are in discussions with client about making any changes to the Facility Locator overall including any PPMS data (most important). Tickets can move to top of icebox until we are ready to begin any work.  Thanks!

FYSA:  @jenniferlee-dsva

[2019-10-07 13:55] camerontesterman commented on #929
@Kimberley2019

**190626-001207:** When uploading documents if you receive an Internal Server Error it could mean a number of different things. There may have been an issue with the backend service, or you may have lost internet connection. There's also a possibility that the documents that the user was trying to upload aren't meeting some sort of criteria - whether that be that they are malformed

[2019-10-07 13:56] mojaray2k commented on #1740
@erikphansen I cannot find the branch that you created for this. Con you provide that please.

[2019-10-07 13:56] Karak888 commented on #2275
thanks @1Copenut much appreciated!

[2019-10-07 14:02] Karak888 commented on #360
Hi @kelsonic I know you have some facility locator tickets in progress and in validate but we need to be careful at this point about making any changes without client approval.  Thanks!

@jenniferlee-dsva

[2019-10-07 14:08] erikphansen commented on #1740
@mojaray2k https://github.com/department-of-veterans-affairs/vets-website/tree/profile-fixes

[2019-10-07 14:11] nedierecel commented on #2105
@clantosswett I added the top 7 phone numbers to the list, and I'll work on adding the phone number in the "Contact Us" dropdown.

Is it okay to spin off the user behavior request into a new issue and tackle that at the end of this sprint or beginning of next?

[2019-10-07 14:19] kelsonic commented on #514
@Karak888 Unassigning myself from this ticket until we get further direction for facility locator :)

[2019-10-07 14:20] kelsonic commented on #2252
@Karak888 Going to unassign myself from this for now until we have groomed out dev tasks as @ncksllvn mentioned above :)

[2019-10-07 14:21] kelsonic commented on #360
Going to unassign myself from this for now then, thanks @Karak888! :)

[2019-10-07 14:25] ncksllvn commented on #2252
Yeah, @Karak888 I think @kelsonic and I need a lot more insight into this - maybe a kickoff meeting where we can map this into more-actionable tickets?

[2019-10-07 14:30] YanaRoy commented on #898
@Kimberley2019 The last one that you requested we add to the list (on sept 25).

[2019-10-07 14:33] Kimberley2019 commented on #929
@camerontesterman

Good Morning.  Are these comments that should be shared with the individuals attached to the tickets listed and/or additional information that is needed to for you to research further?
Just verifying before reaching out to customers.

[2019-10-07 14:34] Kimberley2019 commented on #898
@YanaRoy
Thank you. I fill follow up with you soon.

[2019-10-07 14:39] kfrz commented on #2272
Here are some further [documentation](https://help.ubuntu.com/community/CitrixICAClientHowTo#64-bit) that may help to get it working via Chrome

[2019-10-07 14:54] wyattwalter opened #2276 "remove outdated "Base OS Update" job"
This job is run every day via Jenkins which tries to do some updates to running instances, but it was based on an old model that doesn't exist any longer. It existed previously when some instances would be very long-lived, but that's simply not the case anymore. At best it creates noise from the corresponding "check OS" job, but at worst it has caused issues with inconsistencies in deployments.

W

[2019-10-07 14:55] peterhill-oddball commented on #1445
I created a quick tutorial for incorporating authenticated session cookies into your load test as part of the QA platform documentation [here](https://github.com/department-of-veterans-affairs/va.gov-team/blob/peter-qa/platform/quality-assurance/auth-session-loadtest.md).

[2019-10-07 14:57] amycesal commented on #1236
A couple of label updates after a test run with Emily
![Grey Sky](https://user-images.githubusercontent.com/1656046/66323109-e85d5c00-e8e8-11e9-9980-931c255df849.png)

[2019-10-07 15:07] #1962 closed

[2019-10-07 15:11] wyattwalter opened #2277 "cleanup warnings about too many metrics from new version of Jenkins plugin"
We are regularly seeing some noise from an alert setup in Prometheus to warn about jobs adding large amount of metrics. They started when we upgraded the Jenkins Prometheus plugin last week. I don't know if this is an issue with the plugin, or if it's just an alert we should tweak. It looks like it's just a static threshold right now, which we could potentially change or make it dynamic.

Warnings

[2019-10-07 15:12] ncksllvn commented on #1874
@kelsonic
**Page** - https://staging.va.gov/pittsburgh-health-care/
**Design** - https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/global/header-footer-and-navigation/page-nav/design/VA-gov-on-page-nav-MASTER.pdf

[2019-10-07 15:15] micahchiang commented on #2176
I'm closing this ticket since design discussion has shifted significantly since Thursday last week.

[2019-10-07 15:15] #2176 closed

[2019-10-07 15:17] kelsonic commented on #488
Closing [the PR](https://github.com/department-of-veterans-affairs/vets-website/pull/10852) for this issue until we want to pick it up again.

[2019-10-07 15:19] 1Copenut commented on #1817
@jenstrickland && @KevinMHoffmanUSDS I'd like to schedule some time to discuss this item this week. I think it'll be a design pattern update, so feel an hour meeting would be in order to discuss findings, and possible UI changes.

[2019-10-07 15:23] KevinMHoffmanUSDS commented on #1817
@1Copenut Sounds good! I've got time Wednesday Oct. 9 before noon ET or between 1 and 3pm ET.

[2019-10-07 15:23] ncksllvn opened #2278 "Implement new sidebar navigation on Pittsburgh health care"
The sidebar for the [Pittsburgh health care](https://staging.va.gov/pittsburgh-health-care/) section of the website will serve as a pilot for a new site-wide sidebar design.

**Page**:  https://staging.va.gov/pittsburgh-health-care/
**Design**: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/global/header-footer-and-navigation/page-nav/design/VA-gov-on-page-nav-M

[2019-10-07 15:25] LindseySaari commented on #2206
Is the triage team documentation contained in both of these directories?

1. https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/teams/vsp/teams/triage

2. https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/platform/triage

[2019-10-07 15:33] camerontesterman commented on #929
@Kimberley2019 They were directed at you. If you'd like to share them with the users, they'd probably need to be edited slightly. In the first response, I'd take out the part where I mentioned the backend service and just say it might've been an issue on our end. Rest is fine.

[2019-10-07 15:39] ncksllvn commented on #1874
@andrewlewandowski @Karak888 - I wrote a ticket specifically for implementing the first iteration of Pittsburgh sidebar redesign - https://github.com/department-of-veterans-affairs/va.gov-team/issues/2278. @kelsonic is tackling that work.

Side question - should this Epic be connected (maybe as a sub-Epic?) to this ticket, `New VA.gov primary header/footer, navigation, and menus`, https://github.c

[2019-10-07 15:40] alexpappasoddball commented on #2206
@LindseySaari You are correct.

teams/vsp/teams/triage - where the Triage team can place all their internal working docs (i.e. team charter, planning info, etc)

platform/triagewhere - VFS teams would go to interact with or find information on the triage team (i.e. ROE, requests, etc)

[2019-10-07 15:44] rileyorr commented on #1917
@Mottie I double-checked with Jen this morning and she said for accessibility purposes having the text styled this way is fine. She mentioned she will likely do some testing for how it functions with screen readers and get back to me with potential changes. Also, when we test the design with Veterans we can see if they have trouble using the component with this new styling.

[2019-10-07 15:45] ncksllvn commented on #2278
@kelsonic Before getting started, can you walk me through whether you're leaning React vs. Liquid for this?

[2019-10-07 15:46] jenniemc commented on #2158
@jbalboni @markgreenburg, can you provide the URL for the link, VA Medical Center, should hyperlink to?

[2019-10-07 15:47] Kimberley2019 commented on #929
@ camerontesterman
Thank you very much for the prompt response and the details.  It is greatly appreciated.  If I need any additional assistance, I will be certain to reach out to you.

[2019-10-07 15:48] kelsonic commented on #2278
@ncksllvn I'd prefer to use React over Liquid, but I'm actually not opinionated at all. What do you think is best for this? Just trying to think of how we can reuse this navigation component in other parts of the site if/when the use-case comes up :)

[2019-10-07 15:49] jbalboni commented on #2158
I think it would link to `/find-locations` (i.e. https://www.va.gov/find-locations, but you can leave off the va.gov part)

[2019-10-07 15:55] ncksllvn commented on #2278
On one hand, if we use a sidebar, our React applications will be able to leverage the component if that's ever necessary. And, in general, it's more dev-friendly, scalable, and easier to debug. So there's a definite argument to be made for React.

But I think Liquid would be a quicker implementation, since we're already set up to draw sidebars using Liquid. And, since the end HTML is written direc

[2019-10-07 15:55] jenniemc commented on #2158
thanks!

[2019-10-07 15:56] ncksllvn commented on #2278
Either way, we should definitely consider its end markup and style to be included in the design system, https://design.va.gov/components/. The repo for that is [here](https://github.com/department-of-veterans-affairs/veteran-facing-services-tools).

[2019-10-07 16:03] Karak888 commented on #1874
Thanks @ncksllvn ! I will be organizing and prioritizing this work today and work with Jen on prioritization.  much appreciated!

[2019-10-07 16:04] #1772 closed

[2019-10-07 16:04] #2058 closed

[2019-10-07 16:36] jenniferlee-dsva commented on #1874
Thanks @ncksllvn and @Karak888 . Would love to get the interaction on the Pittsburgh nav built this sprint, as we may have a dependency/blocker coming up in the next sprint.

[2019-10-07 17:00] Karak888 commented on #1625
@ncksllvn @jenniferlee-dsva - just wanted to see if this work had been validated yet?  Thanks

[2019-10-07 17:01] Karak888 commented on #2196
@ncksllvn @RLHecht  Has this been validated/verified yet?  Please let me know we need to have this completed by EOD tomorrow. Thanks!!

CC:  @jenniferlee-dsva

[2019-10-07 17:08] Karak888 commented on #1510
@lwalsh617 can you please let me know if this will be finished by tomorrow EOD?  working on sprint report for sprint 5 which is due tomorrow EOD.  If you do not think that you will be finished tomorrow, please let myself and @jenniferlee-dsva know.  Thanks!

[2019-10-07 17:09] LindseySaari commented on #2206
Should the directories here follow the new naming structure (caterpillar-case)? https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/platform/triage

[2019-10-07 17:11] LindseySaari commented on #2206
Should we make any updates to Step 6 here? https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/triage/Process.md

[2019-10-07 17:22] ncksllvn commented on #1625
All done from a tech standpoint! @jenniferlee-dsva does the issue with the anchor links seem fixed?

[2019-10-07 17:23] ncksllvn commented on #2196
Yep, we launched it on Friday

[2019-10-07 18:49] Karak888 opened #2280 "Decompose Subdomains: secondary header / footer"
This ticket is a placeholder Epic- will populate with info post discovery.

[Edit - Jen: Referencing original issue here https://github.com/department-of-veterans-affairs/va.gov-team/issues/1877 ]

[2019-10-07 19:12] Karak888 opened #2281 "Tier 2: Content IA / content design"
## Create experience for tier 2 content. See product outline here: ##
https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/content/tier-2-content-IA-and-design

**Goal:** Ensure that helpful, relevant tier 2 information is accessible in the new VA.gov site experience, AND does not dilute, distract, and clutter Veterans' benefit product UX.

**Beneficiaries: As a user,

[2019-10-07 19:44] dogweather commented on #2272
Thanks @kfrz . My two cents: docs like this are better stored in a Wiki instead of as a .md file in a repo folder. Because: GitHub wikis make the info much easier to discover, search, modify, and refactor. They're actually simple git repos underneath, so in effect, they _are_ .md files in folders. But much more usable.

[2019-10-07 19:51] #1826 closed

[2019-10-07 19:57] 1Copenut opened #2282 "Coordinate a 508 training session with the Facility Locator team"
* Best practices
* Focus management
* HTML structure

As a developer, I want an accessibility workshop so that I understand the best practices when developing with accessibility in mind.

[2019-10-07 20:17] Karak888 commented on #2252
@RLHecht / @AnneHurley  can one of you please find out where the above referenced DIC pages are supposed to live (i.e., do you know where they live today, and where they will eventually reside in Drupal)? Thanks!

[2019-10-07 20:22] Karak888 commented on #2042
@RLHecht just trying to get things ready for end of/ beginning of next sprint- is it safe to assume that these will not go out by EOD tomorrow ?  I know you are waiting on approvals, etc. just more of a gut check?  thank you!!!

[2019-10-07 20:26] Karak888 commented on #2040
@kelsonic @ncksllvn are we at a point where we can get this pulled into ready to evaluate or Sprint 6 or still need more time?  Thanks!

[2019-10-07 20:30] rianfowler opened #2283 "Write up frontend code review guidelines"
# Overview

All VSP engineers contribute to supporting external teams by performing pull request reviews. New VSP frontend engineers need guidelines for performing the reviews

# Tasks

- document process for shadowing engineers on pull request reviews
- document examples of what to look for and engage on external team reviews
- Solicit input and approval from the entire front end review group

#

[2019-10-07 20:31] ethanteague commented on #1846
Hey all. I've made the changes requested, here: https://github.com/department-of-veterans-affairs/va.gov-team/issues/1846#issuecomment-537301447 in this pr: https://github.com/department-of-veterans-affairs/vets-website/pull/10860/

cc: @jefflbrauer @jonwehausen

[2019-10-07 20:33] nedierecel commented on #2190
@amycesal I have updated the metrics and am doing a final pass through this late afternoon to validate the numbers.

[2019-10-07 20:34] Karak888 commented on #731
@ncksllvn Are we still awaiting Validation or we are good to close?  please let me know, thanks!

[2019-10-07 20:37] Karak888 commented on #1258
@kelsonic can you ensure that this gets validated by someone so we can close this out from sprint?  Thanks!

[2019-10-07 20:40] ncksllvn commented on #1258
![image](https://user-images.githubusercontent.com/1915775/66346868-178fbf80-e921-11e9-8b7e-398a073851ad.png)

![image](https://user-images.githubusercontent.com/1915775/66346877-1fe7fa80-e921-11e9-883e-4bac3680ebc7.png)

Validated!

[2019-10-07 20:40] #1258 closed

[2019-10-07 20:41] Karak888 commented on #1874
@ncksllvn looks like we can probably get @kelsonic back on this one?  thanks

[2019-10-07 20:42] mmiddaugh commented on #2234
**Content and IA intro** 10/17 @ 3 PM EST
**Analytics intro**  10/11 @ 11 AM EST
**KPI workshop** TBD
**Load testing, privacy, and security intro** 10/10 @ 11 AM EST
**508 Intro** 11/11 @ 1 PM EST

[2019-10-07 20:42] #1357 closed

[2019-10-07 20:44] lunascoop commented on #2243
@AnneHurley Here are my edits.
[Medical.Records.FAQs.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/3699358/Medical.Records.FAQs.docx)

[2019-10-07 20:45] ncksllvn commented on #1874
@Karak888 This ticket is an Epic, so @kelsonic and I created an associated ticket at https://github.com/department-of-veterans-affairs/va.gov-team/issues/2278 which @kelsonic has already picked up. That ticket aligns with what @jenniferlee-dsva is describing.

[2019-10-07 20:47] mmiddaugh opened #2284 "Facility Locator Team Onboarding"
## User Story
As a new VA.gov team member, I need to complete onboarding activities so I can successfully work on my project.

## Acceptance Criteria
- [ ] Each team member has completed each item in the onboarding checklist below.

## Onboarding Checklist

- [x] PM: Attend intro meeting with product support PM
- [x] Attend general onboarding meeting
- [x] [Request Access to Tools](https://github.

[2019-10-07 20:47] nedierecel commented on #2105
@clantosswett I added the top 7 phone numbers to the list, and I'll work on adding the phone number in the "Contact Us" dropdown.

Is it okay to spin off the user behavior request into a new issue and tackle that at the end of this sprint or beginning of next?

[2019-10-07 20:49] mmiddaugh opened #2285 "Facility Locator Team Onboarding"
## User Story
As a new VA.gov team member, I need to complete onboarding activities so I can successfully work on my project.

## Acceptance Criteria
- [ ] Each team member has completed each item in the onboarding checklist below.

## Onboarding Checklist

- [ ] PM: Attend intro meeting with product support PM
- [ ] Attend general onboarding meeting
- [ ] [Request Access to Tools](https://github.

[2019-10-07 20:54] rianfowler opened #2286 "RFC- enable branch protection rule: "Require branches to be up to date before merging""
# Overview

- Branches are not required to be up to date with master before before merging changes.
- Automatic validation occurs when a pull request is created. It can take up to two days for a pull request to be reviewed by the front end review group which makes the automatic validation stale when the PR is approved to be merged
- Purpose of this RFC is to gather feedback on forcing branches to

[2019-10-07 21:14] cvalarida commented on #2286
We've definitely felt the effect of not requiring branches to be up-to-date with `master`, so I'm generally in favor of this.

Waiting for additional builds after merging in master is not ideal, but usually just a minor annoyance. (Potentially not-so-minor if it delays merging by hours because you can't time it right.)

The only genuinely negative downside I can see is if we're trying to merge an

[2019-10-07 21:24] jbalboni commented on #2286
Some historical context: in the early days of vets.gov, we had this turned on. We turned it off because there were a lot of merges happening in vets-website at that time and it was often difficult to go 20 minutes (the build time) without someone merging something. There was a lot of babysitting of PRs, trying to get them merged. One dev wrote a JS snippet (maybe an extension, don't remember) to p

[2019-10-07 21:27] annaswims commented on #2286
@cvalarida we have "Enforce all configured restrictions for administrators." set. But in a pinch, I think and admin could unselect that and then merge.

[2019-10-07 21:35] jenniferlee-dsva commented on #2042
@Karak888 - Sorry, this is blocked because of me. I'll unassign @RLHecht for now, so it's only showing up for me. I've had dozens of things with VBA to check in on, and this one keeps dropping lower.

[2019-10-07 21:42] rianfowler opened #2287 "Document troubleshooting steps for preview server"
# Overview

Fixing preview server failures is the responsibility of the VSP group. The [current documentation](https://department-of-veterans-affairs.github.io/veteran-facing-services-tools/platform/architecture/cms/#preview-server) provides a good overview of how the preview server works but is lacking how to troubleshoot / observe its behavior in production.

# Tasks

- create a troubleshooting

[2019-10-07 21:42] rianfowler commented on #2287
@cvalarida I put this in the tools backlog but feel free to pull it into triage.

[2019-10-07 21:51] rianfowler opened #2288 "Add no-proxy rule to eslint"
# Overview

There's no polyfill for `Proxy` in IE 11 so `vets-website` should not support it. Since errors caused by using Proxy would only manifest while testing in IE 11, it's best to prohibit their usage with an eslint rule

[2019-10-07 22:02] AnneHurley commented on #2243
[Medical.Records.FAQs-AH edits.docx]
(https://github.com/department-of-veterans-affairs/va.gov-team/files/3699659/Medical.Records.FAQs-AH.edits.docx)

@lunascoop  Good start on this. Some questions and comments for you on this doc. Let me know if you have questions or concerns.

[2019-10-07 22:04] joanneesteban commented on #2190
For post-November, I think it makes more sense to start doing a month-by-month historical view, but let's hold off and see if Lacey can get a sense of what the stakeholder wants to answer with the data post-November.

[2019-10-07 22:33] rianfowler commented on #2286
@jbalboni good points- I guess we could:

- figure out if we can shorten the automatic validation to an acceptable execution time (e.g. parallelizing it into multiple validations, re-evaluating what we're validating / removing work)
- moving the merge step into `Jenkins` as part of the automatic validation.

[2019-10-07 23:10] cvalarida commented on #2286
:thinking: The problem we're trying to solve is conflicting code causing errors or bugs in `master`. I initially thought moving the merge step into Jenkins would solve it, but consider the following scenario.

**Scenario**
Say we have the file `awesome-feature.js`:
[code]
PR A removes the need for `someCoolThing`, so they remove that line. Since it was the only line using `foo`, they remove the `i

[2019-10-08 00:07] #1092 closed

[2019-10-08 00:19] #1360 closed

[2019-10-08 01:02] RLHecht commented on #1008
@Karak888 Update: I added the alert in Drupal but need help putting in jump links in alert box. Slacked Jen Lee and will ask her or Howie tomorrow to walk me through it again.

[2019-10-08 05:57] #1736 closed

[2019-10-08 05:57] #1737 closed

[2019-10-08 11:52] lihanli commented on #2074
Adam Kinder says he needs user SSNs to check if a user has been flagged for fraud so we can see if that is causing the "Cannot perform an update due to restriction indicators" error

[2019-10-08 13:09] ncksllvn commented on #731
@Karak888 maybe you can validate? 😄 See the comment above, https://github.com/department-of-veterans-affairs/va.gov-team/issues/731#issuecomment-523002184, and test it out on the Disability Calculator.

[2019-10-08 13:23] lalexanderson-dsva commented on #2149
@markgreenburg @goldenmeanie @jbalboni:  The language here is critically important. We really need to express: these are clinics where you have been before, not just "choose a clinic". I asked @jenniferlee-dsva for a bit of content wisdom.

I think we do need to pull in the facility address if possible, as shown in the mockup. The user has selected it on the previous page, so we should be able to

[2019-10-08 13:33] jbalboni commented on #2149
We don't get the facility address from any of the VAOS backend services (just name and city/state), but we could fetch it from the va.gov facility api at this point, since we know the facility. The address is going to be the same for all clinics, that's why Mark suggested removing it from displaying for each clinic choice, but there's no issue with displaying it on the page somewhere if that's wha

[2019-10-08 13:35] lalexanderson-dsva commented on #2149
I think if we know the facility location we should display it on the page. Veterans seemed more confident in choosing a clinic when supported both by the language "you've been here before" and the address of the facility where they are trying to go.

[2019-10-08 13:39] kelsonic commented on #2278
1. >our React applications will be able to leverage the component if that's ever necessary
True, so I think we need to know whether or not we want to continue using Liquid files for these facility location show pages (e.g. https://staging.va.gov/pittsburgh-health-care/) or if we would prefer controlling everything with React/Redux in the long-term.

2. >I think Liquid would be a quicker implementa

[2019-10-08 14:01] jonwehausen commented on #1846
Hi Ethan,

Thanks for the update.

:exclamation: **Here are the gaps I have identified in phase 2 of QA:**
- The `nav-jumplink-click` event populating on every page in staging
- 'In the Spotlight' clicks on the landing page
- Additional dataLayer variable for `nav-featured-content-link-click`
- Link clicks embedded within accordion

Let me know if you have any questions on the above.

:white_check

[2019-10-08 14:23] Justin-Pickett commented on #1691
@mojaray2k identified more work that still needs to be cleaned up. This item will carry over into the next sprint.

[2019-10-08 14:27] tskinn commented on #2106
Currently there are 1737 EBS snapshots totaling 42,948 GB

[2019-10-08 14:44] jenniferlee-dsva commented on #1008
@RLHecht - I @'d you in the cms-general channel on a thread that has some guidance. Unfortunately, the cms team is saying wait until content is live, which doesn't help us.

Here's what I would do - per how Nick helped me fix an anchor link bug in Disability.

- Manually create the anchor link in the wysiwyg like this: #how-we-determine-combined-va-d  [i.e., use the H2 or H3 text; replace all the

[2019-10-08 14:46] #1356 closed

[2019-10-08 14:47] #879 closed

[2019-10-08 15:18] jenniferlee-dsva commented on #1961
@Chris - RE messaging, want to make sure I understand. See screenshot. FYI - Kara is looking into whether we can make this messaging update in staging, so we can share with Aszur et al. And send it to them with - 'let us know when you'd like this change to go live.'

1/ Need same-day care for a minor illness or injury? Select VA Health or Community Care (Non-VA Health) from the dropdown menu. Then

[2019-10-08 15:35] YanaRoy commented on #1362
@kevinstachura is this ticket ready to close?

[2019-10-08 15:44] RLHecht commented on #1008
Anchor links have been added to the the alert and alert has been added to page. @peggygannon please review and publish when you do the other Burials pages.

[2019-10-08 15:48] kevinstachura commented on #1362
I think we can close this, yes!

[2019-10-08 15:56] #1362 closed

[2019-10-08 16:23] Kimberley2019 commented on #898
@YanaRoy

I have reached out to Mr. Barnes and asked if he is willing to have a session with the technical team.  Once he responds I will advise.
@clantosswett are you able to advise on the best way to have this meeting occur?  I want to ensure that we follow proper protocol.

[2019-10-08 16:40] pjhill opened #2290 "Create QA issue template and link to template in QA docs"
Per Andrew, it is advisable to create a template for issue creation and link to it from the QA documentation.

[2019-10-08 16:43] peterhill-oddball opened #2291 "Schedule and present Load Testing / Privacy / Security onboarding session with Facility Locator team"
Work with Michelle Middaugh and Brandon Rapp to schedule and present the VSP Product Support team's Load Testing / Privacy / Security onboarding session.

- [ ] Schedule session
- [ ] Prep presentation for this team
- [ ] Prep survey for this team
- [ ] Give presentation

[2019-10-08 16:52] #1486 closed

[2019-10-08 16:52] #1490 closed

[2019-10-08 16:53] #1445 closed

[2019-10-08 16:53] #1398 closed

[2019-10-08 16:55] rileyorr opened #2292 "Remove '(Optional)' from form fields"
## User Story or Problem Statement
In order to create consistency across the forms on VA.gov, all optional form fields should no longer say '(optional)'.

## Goal
_Globally remove the '(optional)' part of labels on VA.gov forms_

## Acceptance Criteria
- _As the front end engineer, I need to globally remove '(optional)' from VA.gov forms_

## Definition of Done
- [ ] Identify labels that contain '

[2019-10-08 17:05] nedierecel commented on #2190
@amycesal The latest metrics are ready after Jon's review. For visibility, I updated the last set of numbers for HCA as it looked like it repeated the previous time period. I can add this as a footnote within your reports.

[2019-10-08 17:21] jenniferlee-dsva commented on #1836
@kara - I'd like to reopen this ticket and assign Selina to help me gather info.

I have the Education digital products and VA forms identified.
We still need the same for our other digitial products. I have the spreadsheet ^, with new sheets for each product grouping.

@lunascoop - What I need your help on is reaching out to the individuals identified here as the product owner or the team POC (pr

[2019-10-08 17:26] alexpappasoddball opened #2293 "Triage VFS Support - Sprint 10"
As you review PRs, please add this epic to the issue so the business has visibility into our time spent supporting VFS teams.

[2019-10-08 17:31] alexpappasoddball opened #2294 "Incidents that have been Triaged to another team - Sprint 10"
This epic is used to track each incident that came to use and was ultimately assigned to another team for resolution.

[2019-10-08 17:33] alexpappasoddball opened #2295 "Incidents that have been resolved by Triage - Sprint 10"
This epic is used to track which incidents that the triage team handles to resolution and does not pass to another team.  This epic tracks Sentry issues as well.

[2019-10-08 17:40] kfrz opened #2296 "[Discovery] Investigate options and path forward for implementing a changelog"

[2019-10-08 17:42] alexpappasoddball opened #2297 "[Ongoing Service] Triage"
## High Level User Story
As a member of the triage team, I need respond to incidents reported in a timely manner so I can Resolve the issue if it falls under the platform (Triage) jurisdiction.

As a member of the triage team, I need to respond to incidents reported in a timely manner so I can triage them quickly to the VFS team or Platform team for resolution.

## Hypothesis/(es)
If we are able t

[2019-10-08 17:48] Karak888 commented on #731
Closing this out as the work has been completed.

[2019-10-08 17:48] #731 closed

[2019-10-08 17:52] amycesal commented on #1236
![Grey Sky](https://user-images.githubusercontent.com/1656046/66419852-68a7be00-e9ca-11e9-9b87-cee86407fa84.png)

[2019-10-08 18:07] johnpaulashenfelter commented on #2296
Useful link: https://keepachangelog.com/en/1.0.0/

[2019-10-08 18:16] lunascoop commented on #2243
@Karak888 @AnneHurley @jenniferlee-dsva

I have updated the document after Anne's feedback. I included responses to Anne's comments and comments requesting more information. There are some strikethrough text that I've kept in the document because they are attached to Anne's comment, but I have rewritten the response.

[Medical.Records.FAQs-Response to AH.edits.docx](https://github.com/department-o

[2019-10-08 18:19] Samara-Strauss opened #2298 "[PM] Combined Profile and Account: Determine analytics approach"
Epic #2086

- [x] Work with analytics team to figure out what analytics we can use to measure success for combining profile and account

[2019-10-08 18:30] Samara-Strauss commented on #2298
Hi Joanne, Jon, and Nedie —

Thanks for meeting with us yesterday to talk about our potential analytics approach for measuring success with the combine profile and account project. I'm creating this to-do so we can keep track of this conversation and regroup as needed.

These are my big takeaways from yesterdays call:

- We can potentially measure increased visits to the new profile/account as a m

[2019-10-08 18:52] jenniferlee-dsva commented on #2280
@Karak888 - added a reference to Andy's original issue.

[2019-10-08 19:00] jenniferlee-dsva commented on #2280
@Karak888 I think the first decomposed ticket could be to have Liz work with Andy on a research plan to…

1/ Identify a list of subdomains

2/ Identify subdomain teams/stakeholders

3/ Put together a research plan - interview questions, UI problems, what not - for stakeholders;

4/ From ^, identify common subdomain header/footer issues  (UI, but maybe possibly there are also CSS and other techie i

[2019-10-08 19:13] markgreenburg opened #2301 "Add text area to 'reason for appointment page'"

[2019-10-08 19:14] markgreenburg opened #2302 "Update UX for 'Communication Preferences' page"
Feedback from usability suggests that veterans are often confused about why they're providing both email and phone when they might only have a preference for getting communication via one or the other. We should explore options for making it more clear that while one may be a preference / used first, the other could also be used if the VA has a hard time getting in touch via the preferred communic

[2019-10-08 19:15] markgreenburg opened #2303 "Update UX & content of Confirmation Page"
Veteran feedback suggests the visual ordering / grouping of information, and content, on the confirmation page may be confusing.

Recommendations:
- [ ] 'Location' field is of primary importance to veterans and should be co-located on the left with the clinic info, not off to the right by itself
- [ ] 'Additional details' header should align with the question asked; should probably be 'why do you

[2019-10-08 19:16] markgreenburg opened #2304 "Add messaging for 'only VAOS-supported facilities listed' on system / facility selection page"
As a veteran, I want to understand why some of the facilities in my registered systems are not showing when I'm on the 'select a system / facility' page so that I don't think there's something wrong with my registration.

Context: only certain facilities 1. support VAOS and 2. support the type of care the veteran selected. Facilities that don't meet these checks will be hidden from veterans, which

[2019-10-08 19:16] accbjt commented on #1907
Here is a sample csv file of how the references document should look like when doing the deprecation. We will use this file with our script to deprecate the file.

https://drive.google.com/a/oddball.io/file/d/1P8pNvW0Ko7wn4hVhC9G70jD5tJBTBtLO/view?usp=sharing

[2019-10-08 19:16] markgreenburg opened #2305 "Group clinic and location on VA review page"

[2019-10-08 19:17] markgreenburg opened #2306 "Consolidate 'pending' and 'confirmed' appointment lists / sections"
As a veteran, it's confusing to see 'pending' and 'confirmed' appointments in separate lists, especially since some appointment requests will move between the two and I'm not sure where my canceled appointments will show up. I want to see both in one place so that I'm not jumping between the two.

- Pending and confirmed appointments should be in the same list
- Ordering should be chronological
-

[2019-10-08 19:17] markgreenburg opened #2307 "[Design] Veterans can reschedule appointment in VAOS-R"
As a veteran, I want to be able to reschedule my appointment - not just cancel it - so that I can book the same appointment at a different time that is more convenient for me.

AC
- [ ] Flowchart created for rescheduling an appointment
- [ ] Flowchart includes technical details, e.g. steps where service calls are made

[2019-10-08 19:17] markgreenburg opened #2308 "Can we auto-populate the cancellation reason?"
As a veteran, I don't want to click options that are not necessary so that I can cancel my appointment as quickly as possible.

We need to verify with business owners that our current plan of auto-filling the cancel reason is acceptable.

AC
- [ ] Documentation exists explaining whether or not cancellation options feed into any analysis VA-side. (If not, we could probably just auto-fill an answer

[2019-10-08 19:17] markgreenburg opened #2309 "Add 'new appointment' button to appointments list(s)"
As a veteran, I want a 'new appointment' button in my appointments / pending appointments list so that I don't have to navigate around the tool to figure out how to create a new appointment if I'm already looking at my appointments list.

AC
- [ ] New button exists for 'add appointment' on the 'appointments list' page
- [ ] Page / button matches any mocks.

Page to update (note - the 'start over'

[2019-10-08 19:17] markgreenburg opened #2310 "VAOS Usability Updates"
This epic is to capture follow-up work from recommendations made via usability research synthesis.

## Zenhub link
https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/2310

[2019-10-08 19:18] accbjt commented on #1910
Here is a sample csv file of how the references document should look like when doing the url replacement. We will use this file with our script to replace the old url with the new url in the file.

https://drive.google.com/a/oddball.io/file/d/1CxnwjuDIzOS600mcgov9yYAYR5Nc8mvm/view?usp=sharing

[2019-10-08 19:46] JQuaggles opened #2311 "Removal of Team member from DSVA Slack"
Please remove the following person from the DSVA Slack. Offboarding request has been made in the #vfs-platform-support channel as well.

James Hupp
jameshupp@navapbc.com

Thanks!
-Josh

[2019-10-08 19:50] YanaRoy commented on #1832
@ndsprinkle since you just did the demo on this can we move to validate? or close?

[2019-10-08 19:57] jason-gcio opened #2312 "[TASK] Request Design QA: Rated Disabilities"
## Goal
Design review by VSP-platform-support Team requested by VSA-ebenefits Team

**Context:** The Rated Disabilities feature on eBenefits is being migrated as well as improved in how it displays information to the veteran.  The eBenefits Team would like to have those design elements reviewed so that Rated Disabilities can finish its merge into staging.

**URL:** [Rated Disabilities Page, with l

[2019-10-08 20:01] rileyorr commented on #1917
@meganhkelley Tagging you per Yana's instructions to get a content review for this ticket.

[2019-10-08 20:02] rileyorr commented on #1919
@peggygannon @meganhkelley Requesting content review. Thank you! :)

[2019-10-08 20:04] rileyorr commented on #1915
Requested content review on #1919
I don't think I need to request it here as well, since it's the same mockup.

[2019-10-08 20:06] ndsprinkle commented on #1832
@YanaRoy I guess it just depends on what we consider validate. I had been considering validate to mean that a PR has been created, but the only development work I have left to do is testing related, so if you want to count that as being in Validate then that is fine with me. As soon as testing is wrapped up, I'll create my PR, so we can also wait until that if you want. That will hopefully be by o

[2019-10-08 20:06] YanaRoy commented on #1638
@ndsprinkle any update on this? how should we move forward?

[2019-10-08 20:08] YanaRoy commented on #1832
i'm ok with either being the trigger to move over to validate, but to stay consistent let's just say when a PR is created, it moves to validate. Do you need Tze on this?

[2019-10-08 20:11] AnneHurley commented on #2243
[Medical.Records.FAQs-Response.to.AH.edits-3.docx]
(https://github.com/department-of-veterans-affairs/va.gov-team/files/3704321/Medical.Records.FAQs-Response.to.AH.edits-3.docx)
@selina I had a few more questions, and then I think we may need @jenniferleedsva to weigh in on what/how much info to ask the SMEs for. LMK if you have any questions.

[2019-10-08 20:12] ndsprinkle commented on #1832
@YanaRoy Okay cool. I don't think I will need him, this is mainly me re-writing tests that are already there as opposed to writing them from scratch.

[2019-10-08 20:17] micahchiang opened #2313 "Update e2e tests for Rated Disabilities"
## Story
As a frontend engineer, I want to make sure my e2e tests are up to date so they don't cause a build failure.

## Considerations
- Since the UI for Rated Disabilities has gone through several iterations, e2e tests will need to be updated to incorporate the new changes.
- This should be done after #2726, #3058
- [The error codes for EVSS start on line 1609](https://github.com/department-of-

[2019-10-08 20:20] ndsprinkle commented on #1638
@YanaRoy Alex and I never met, but he will need to be consulted before this can be tackled.

[2019-10-08 20:21] ndsprinkle commented on #1638
@YanaRoy As far as I know, there is nothing blocking this story other than meeting with Alex to have an understanding of the things I mentioned above.

[2019-10-08 20:33] jenniferlee-dsva commented on #2014
@kara - I'd like to reopen this ticket and assign Selina to help me gather info.

I have the Education digital products and VA forms identified.
We still need the same for our other digitial products. I have the spreadsheet ^, with new sheets for each product grouping.

@lunascoop - What I need your help on is reaching out to the individuals identified here as the product owner or the team POC (pr

[2019-10-08 20:34] jenniferlee-dsva commented on #1836
Per note on OTHER ticket - will close it here and move it over there. Sorry!

Go here: https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/2014

[2019-10-08 20:34] #1836 closed

[2019-10-08 20:46] alexpappasoddball opened #2315 "Rebrand Triage ROE into a generic "how to report incidents to the platform""
## User Story or Problem Statement
As a VA.gov engineer, I need to understand how to report issues to the platform so I can pass along issues I find utilizing the correct path for all types of issues.

## Goal
To have a single document that is available in a public (how to) folder for the platform for all engineers to understand when and how to report all different types of issues to the appropria

[2019-10-08 20:59] lunascoop commented on #2243
@AnneHurley @jenniferlee-dsva
I have re-reviewed and accepted Anne's changes and added/responded to some questions.
[Medical.Records.FAQs-Response.to.AH.edits-4.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/3704479/Medical.Records.FAQs-Response.to.AH.edits-4.docx)

[2019-10-08 21:00] peggygannon commented on #1688
@Justin-Pickett Hi, Justin. Taking a look at this ticket. Can you let me know which screens I need to review? Is it the Mobile revision screens? Do the ones above also need to be reviewed or are the mobile ones the most recent?

[2019-10-08 21:07] kara commented on #1836
@jenniferlee-dsva I think you don't mean to keep pinging me :)

[2019-10-08 21:16] alexpappasoddball commented on #2206
@LindseySaari per this document it should all be lower case:
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/working-with-vsp/onboarding/repo-guidelines.md

[2019-10-08 21:19] alexpappasoddball commented on #2315
Need to change the title of the document to reflect the correct lower case standard.

[2019-10-08 21:20] YanaRoy commented on #1754
@kevinstachura @carolynwill assuming this is complete, yes?

[2019-10-08 21:43] AnneHurley commented on #2243
@lunascoop  Thanks! @jenniferlee-dsva  & @ karak888  I know this is time sensitive - did one of you want to review this to get it in the pipeline sooner?

[2019-10-08 21:44] Karak888 commented on #2014
@lunascoop can you please provide me with an estimate of this work best you can?  Thank you!

[2019-10-08 21:46] nathanhruby commented on #162
Two useful links for dealing with data move to 2.0:
- https://gitlab.com/gitlab-org/prometheus-storage-migrator
- https://www.digitalocean.com/community/tutorials/how-to-upgrade-prometheus-1-x-to-prometheus-2-0-on-ubuntu-16-04#step-1-%E2%80%94-upgrading-prometheus-to-182

[2019-10-08 21:46] meganhkelley commented on #1917
Hey @rileyorr thanks! What is your timeline on this/when do you need the content review completed by?

[2019-10-08 21:48] Karak888 commented on #2243
Thanks @AnneHurley and @lunascoop! Yes @jenniferlee-dsva will definintely be wanting to review this.

[2019-10-08 21:56] Justin-Pickett commented on #1688
@peggygannon , Yes the mobile revision screens and the web versions above as well need review. Thank you.

[2019-10-08 22:09] mmiddaugh opened #2316 "[Discovery] Facility Locator Design"
**User Story**
As the new Facility Locator team, we need to be familiar with the current product so we have the best information possible to plan the next version of the product.

**Goal(s)**
Conduct a round of evaluative usability testing of the current Facility Locator tool to:
1. understand bright spots and pain points
2. gain insights into how users expect the tool to work (e.g., search by fac

[2019-10-08 22:12] lichellebain opened #2317 "Analytics Implementation or QA Support for Epic 756 Texting for Medical Appointments"
# Analytics Implementation or QA Request

## What this form is for
Use this template to request Google Tag Manager and Google Analytics implementation or QA for your product. Please fill out all brackets.

## Description
- Is this request for Google Analytics implementation or QA?
QA

- Who is this request for?

    - @elwoodva @talbotmj @brittanyclausen @lichellebain
    _Provide any relevant con

[2019-10-08 22:22] cvalarida commented on #2246
If it's as simple as adding a `tabindex=-1`, I think any FE could make this change, but given that it'll be in the content template, maybe Global UX makes the most sense for this one.

[2019-10-08 22:26] mmiddaugh opened #2318 "[Discovery] Facility Locator Engineering"
**User Story**
As the new Facility Locator team, we need to be familiar with the current product so we have the best information possible to plan the next version of the product.

**Goal(s)**
Investigate and document the current Facility Locator tool's:
1. front-end architecture
2. back-end architecture, including data sources and any transformations or mappings of those data.

**Outcome**
Researc

[2019-10-08 22:35] mmiddaugh opened #2319 "[Discovery] Facility Locator Product"
**User Story**
As the new Facility Locator team, we need to be familiar with the current product so we have the best information possible to plan the next version of the product.

**Goal(s)**
Investigate and document the current Facility Locator tool's
1. data sources and data owners (i.e., people/offices/groups)
2. exports or flat files of those data sources (or examples of the data)
3. Google An

[2019-10-08 22:39] mmiddaugh commented on #2319
Tracking work in https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/facilities/facility-locator/research/discovery-sprints/data-sources

Table of data sources: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/facilities/facility-locator/research/discovery-sprints/data-sources/data-source%20table.md

[2019-10-08 22:59] mmiddaugh opened #2320 "[Discovery] Facility Locator"
**User Story**
As the new Facility Locator team, we need to be familiar with the current product so we have the best information possible to plan the next version of the product.

**Design Goals**
Conduct a round of evaluative usability testing of the current Facility Locator tool to:
1. understand bright spots and pain points
2. gain insights into how users expect the tool to work (e.g., search b

[2019-10-08 23:14] peggygannon commented on #2011
@rileyorr  I've made comments in the Higher-Level Review mock up. I have some questions about some of the content on the screens. I think it would be helpful if we met to discuss and go over my questions. Let me know when would be a good time to discuss? thx

https://vsateams.invisionapp.com/share/W5U21BDFTQK#/screens/385994365/comments

cc @meganhkelley

[2019-10-08 23:33] peggygannon commented on #1688
@Justin-Pickett OK, thanks. I will have my feedback to you tomorrow.

[2019-10-08 23:36] alexpappasoddball commented on #2246
@Karak888 Sending this one your way as we think it would be in your teams wheelhouse.  Let me know if you have any questions.

[2019-10-08 23:49] jason-gcio commented on #2156
[686c_Breakdown_W1.pdf](https://github.com/department-of-veterans-affairs/va.gov-team/files/3704934/686c_Breakdown_W1.pdf)

[2019-10-09 00:07] jenniferlee-dsva commented on #2063
Per Slack - uploading here, too.
[naming-draft-v2-rh-jl-100819.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/3704985/naming-draft-v2-rh-jl-100819.docx)

[2019-10-09 00:38] nedierecel commented on #2317
Thanks @lichellebain - Confirming receipt of this issue

[2019-10-09 05:50] nwalke opened #2322 "Create Ansible module for pulling a list of users for a GitHub team"
We need an Ansible module that sets an Ansible fact containing a list of users given a GitHub team name.

[2019-10-09 05:56] nwalke opened #2323 "Change Ansible authorization role to utilize new Ansible GitHub teams module to add users"
We need to change the Ansible authorization role to pull a list of users from GitHub teams utilizing the new GitHub teams Ansible module.  This change should allow us to add users the "old" way as well as from a list representing a GitHub team.

[2019-10-09 12:28] #2196 closed

[2019-10-09 12:29] #1625 closed

[2019-10-09 13:04] LindseySaari commented on #2206
I can take on the document lower-case renaming if no one else would like to take it on :)

[2019-10-09 13:25] nedierecel commented on #2317
@lichellebain - Please meet my colleague @jonwehausen who will help with the QA process.

*Follow-Ups:*
1. To confirm the acceptance criteria for the QA, do we need to validate that analytics is working when a veteran opts-in for SMS reminders?

![image.png](https://images.zenhubusercontent.com/5b295b9ff378ea1890b3d77e/4ab89db0-6128-4aa4-a46e-69e90ea153ca)

2.  It does not appear so in staging, bu

[2019-10-09 13:25] artistgreen opened #2326 "Candidate Address - Override / User Testing Research Plan"
- [x] Arthur will create the User Testing Research Plan

[2019-10-09 13:27] artistgreen commented on #2326
# Research Plan

[2019-10-09 13:36] artistgreen opened #2327 "Candidate Address - Override/ User Testing Conversation Guide"
## Goal

- [x] Samara will create the User Testing Conversation Guide and prototype.

## Definition of Done

- [X] Convo guide done.
- [X] Prototype done.

[2019-10-09 13:46] artistgreen commented on #2327
# Conversation Guide

- [x] Conversation Guide [GitHub link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/change-address/address-validation/user%20testing/Conversation%20Guide.md)

[2019-10-09 13:54] rileyorr commented on #2011
@peggygannon Thank you for your comments! I'm happy to meet to discuss the content. I'm available today between 2:00 pm - 4:00 pm ET, tomorrow between 1:00 pm - 3:00 pm ET, and Friday between 10:00 am - 12:00 pm ET. Let me know what time works for you!

[2019-10-09 14:11] jenniferlee-dsva commented on #2243
It's unclear to me if this is 'baked.' Will assume that it is, and will take it from here! (I was hoping this would be an 'easy' hands-on, get-into-Drupal practice with one of you entering this in the CMS, but since access is still an issue, I'll take it from here.) Thank you @lunascoop. Thank you @AnneHurley for reviewing for our style guide and voice and tone!

I'll reach out if I have any quest

[2019-10-09 14:14] Karak888 opened #2328 "Research Plan: How to decompose subdomains for secondary headers and footers"
## User Story or Problem Statement

Problem description. How will we know which secondary headers / footers need to be decomposed?

## Goal
- Comprehensive Research Plan of information gathered from stakeholder / external interviews, UI discovery, etc,.

## Objectives or Key Results this is meant to further
- identify list of subdomains
- identify subdomain teams / stakeholders
- Start research pl

[2019-10-09 14:18] joanneesteban opened #2329 "Discovery: Combined Profile and Account"
## User Story or Problem Statement
As an Authenticated Experience team member, I want to understand how to best measure the combined Profile and Account pages.

## Goal
- Separate KPIs by user intent

## Objectives or Key Results this is meant to further
- _lorem ipsum_

## Acceptance Criteria
- [ ] _What needs to happen or be created?_

## How to configure this issue
- [ ] **Attached to a Milesto

[2019-10-09 14:19] joanneesteban opened #2330 "Implementation: Combined Profile and Account"
## User Story or Problem Statement
As an authenticated product owner, I want to understand the time-to-task completion in the current state where profile and account are separated vs. future state, when they are combined on one page.

## Goal
The outcome is to measure time-to-task completion between

## Objectives or Key Results this is meant to further
- Human-centeredness: Our hypothesis is that

[2019-10-09 14:21] #2179 closed

[2019-10-09 14:36] lichellebain opened #2331 "Request Design QA for Epic #756 Texting for Medical Appointments"
Functionality adds a new text box field under Mobile Phone Number on profiles page,  This field will allow users to receive text notifications for their medical appointments.
URL:  https://staging.va.gov/
Mock up:  https://vsateams.invisionapp.com/share/FSTDOO0WUHC#/screens/378179664

Note:  The green box containing the save message that appears after editing the check box on the profile page does

[2019-10-09 14:47] lichellebain opened #2332 "Review request for Content/IA for Epic #756 Texting for Medical Appointments"
Functionality adds a new text box field under Mobile Phone Number on profiles page, This field will allow users to receive text notifications for their medical appointments.
URL: https://staging.va.gov/  User 220 and 226 were used in testing.
Mock up: https://vsateams.invisionapp.com/share/FSTDOO0WUHC#/screens/378179664

Note: The green box containing the save message that appears after the user e

[2019-10-09 14:54] lichellebain opened #2333 "Request Security Review for Epic #756 Texting for Medical Appointments"
Functionality adds a new text box field under Mobile Phone Number on profiles page, This field will allow users to receive text notifications for their medical appointments.
URL: https://staging.va.gov/  User 220 and 226 were used in testing.
Mock up: https://vsateams.invisionapp.com/share/FSTDOO0WUHC#/screens/378179664

Note: The green box containing the save message that a appears after the user

[2019-10-09 15:09] andreahewitt-odd opened #2334 "support sprint"

[2019-10-09 15:10] andreahewitt-odd opened #2335 "Support -- Ongoing Assistance from Product Support"

[2019-10-09 15:10] ricetj commented on #2160
done

[2019-10-09 15:10] #2160 closed

[2019-10-09 15:11] ricetj commented on #2162
Draft is created

[2019-10-09 15:11] #2162 closed

[2019-10-09 15:18] jenniferlee-dsva commented on #2149
@lalexanderson-dsva - uploading suggestions here in Word. Without going through the possible user flows, it was hard to understand exactly what the UI copy should say. I took a best guess -- albeit limited without knowing what might come before and after. Take this with a grain of salt because of that.

[appointment-locations-screen-copy-draft-100919.docx](https://github.com/department-of-veterans

[2019-10-09 15:25] jenniferlee-dsva commented on #2149
[appointment-locations-screen-copy-draft-100919-v2.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/3708162/appointment-locations-screen-copy-draft-100919-v2.docx)

Of course, as soon as I uploaded it, I got an ah-ha! moment. Take another look...

[2019-10-09 15:25] lichellebain opened #2336 "Request accessibility/508 review for Epic #756 Texting for Medical Appointments"
## Instructions

1. Click or press the gear icon next to the "Labels" heading on the right. Search for your team in the labels list. If your team is not listed in the Labels menu, please leave a comment after you have created this issue. The Product Support team will create a new label for your team.
2. Text inside `<-- comment -->` blocks will not appear in your issue ticket. These comments offer

[2019-10-09 15:32] #1553 closed

[2019-10-09 15:36] jefflbrauer commented on #1846
@jonwehausen Could you please re-validate the 4 bullets now?

Thank you,
Jeff

[2019-10-09 15:40] kevinstachura opened #2337 "[Discovery] Claim Status Tool - Research Synthesis - Affinity Mapping Session"
## Goal
Take key quotes and observations and move them into general categories (and subcategories).

## Acceptance Criteria
- [x] Schedule a session time
- [x] Create Mural board to start Affinity Mapping
- [x] Add all quotes and observations to synthesis -  affinity mapping - spreadsheet
- [x] Group/categorize key quotes and observations

[2019-10-09 15:41] peterhill-oddball commented on #2008
TestLodge evaluation --
- [ ] Create and edit test cases within the software
- [ ] Create test plans in the software
- [ ] Integrate with GitHub
- [ ] Link to User Stories / Requirements
- [ ] Log test case executions
- [ ] Create bug reports from the software
- [ ] Report on test case execution
- [ ] Customize workflow
- [ ] Customize reports
- [ ] Categorize / organize test cases beyond inclusio

[2019-10-09 15:55] alexpappasoddball commented on #2206
@LindseySaari Go for it!

[2019-10-09 16:00] Kimberley2019 opened #2338 "IRIS 10.8.19 Spreadsheet"
## User Story or Problem Statement
As a _____, I need _____ so I can _____.

or

Problem description. How might we _____________ ?

## Goal
_What outcome(s) do we want to see?_

## Objectives or Key Results this is meant to further
- _lorem ipsum_

## Acceptance Criteria
- [ ] _What needs to happen or be created?_

## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be

[2019-10-09 16:09] 1Copenut opened #2339 "Create a modal window feature for AnyCorp learning tool"

[2019-10-09 16:16] rianfowler commented on #2283
# Overview

## Responsibilities

- overall stability of `vets-website`
- site performance
- enforcing test coverage
- enforcing linting rules

### Examples of responsibilities

- ensuring that external teams are using the design.va.gov system when possible (i.e. not creating unnecessary CSS)
- ensuring changes to common helpers in the `platform/` and `site/` won't impact other apps teams

### Exam

[2019-10-09 16:22] Kimberley2019 commented on #898
@YanaRoy
Mr. Barnes reached out and stated that he is available and willing to participate.  He said that he was open for the next few weeks all day.  Can you get together with your team to give me three days and times that this can happen?
Chante is not back yet, so this will give me a chance to confirm with her the easiest way to make this happen.

[2019-10-09 16:26] #2029 closed

[2019-10-09 16:31] peggygannon commented on #2011
Thanks @rileyorr How about we discuss tomorrow at 1:30 p.m. ET? I can send you an invite.

cc @meganhkelley

[2019-10-09 16:47] Karak888 opened #2340 "Build-out VA Forms Search Page and Results Page mockups"
**Goals for VA Forms Redesign**

- redesign experience on this page to the new VA.gov look and feel.
- create new content on this page to drive traffic to top tasks and to the top digital versions of form applications.
- add analytics tracking to all links and downloads.

[mockups for 2 VA Forms pages.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/3708492/mockups.for.2.V

[2019-10-09 16:52] #2192 closed

[2019-10-09 16:52] jenniferlee-dsva commented on #2177
@andrewlewandowski - see attached Word doc.
[pittsburgh-medical-records-office-faqs-100319-SC-AH-100919-jl.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/3708523/pittsburgh-medical-records-office-faqs-100319-SC-AH-100919-jl.docx)

[2019-10-09 16:52] #2243 closed

[2019-10-09 16:58] artistgreen commented on #2198
-[] Design Research

[2019-10-09 17:04] lkoenigsberg commented on #2298
This is great stuff!  Please also consider

- Tracking both success and failures at a feature level (address, dd, etc.), getting as granular as possible.  Failures are super helpful in knowing if we have problems and also can be used as a KPI measure...reduce failure rates, or keep failure rates to x%
- Reporting dashboard for all things profile.  Easy and fast way to view what's happening for pro

[2019-10-09 17:08] jason-gcio opened #2341 "Hardcode Right Rail in Rated Disabilities Tool Page"
## Story
As an eBenefits team member, I need to produce a hard coded element along the right side (right rail) that houses some key links or tasks for the Rated Disabilities Tool page so that flow and functionality is preserved.

## Tasks
Create a responsive area that will house the right rail using content provided by Content/IA

## Acceptance Criteria
- [x] Sidebar component is responsive.
- [x]

[2019-10-09 17:10] ricetj opened #2342 "Update tags in AWS TF for all of our environments"
Because of the current removing of tags, we need to update tags in TF for all of our environments.

[2019-10-09 17:11] Karak888 commented on #1519
@jenniferlee-dsva second call with Azure - next call is 10/16 and will provide more context. confirm ok with messaging for urgent care searches (Tri-West) 2.) solidify what we need to do for in network information.

in network info is provider focused- - does confirm Chris and Jen's initially suspected in network info that azure's team wants us to dispaly has little to no relevance to veterans.

[2019-10-09 17:11] ricetj commented on #2106
@tskinn is there any PRs for this guy?

[2019-10-09 17:12] #1754 closed

[2019-10-09 17:19] chrisj-usds commented on #1328
Thanks @MickinSahni

I've not looked at the suggestions made by Steve (or any of the current discovery work going on) but I know there are a few things we can / should look at, including (in no order, and not limited to):

- Capturing click events and sending them back to search.gov (bc I believe they use clicks as a prioritization mechanism?)
- Providing better / complete sitemap so search result

[2019-10-09 17:19] jason-gcio opened #2343 "[TASK] Engage with Global UX about an Unauthenticated Page"
## Goal
Learn what the process or guidance is from the Global UX perspective to create an unauthenticated page before landing into the Rated Disabilities Tool so that we can determine who should be building that page.

## Task
- Schedule a meeting with members of the Global UX Team (DSVA - Jen and PM Kara)
  - Requested via Slack and [this ticket](https://github.com/department-of-veterans-affairs/

[2019-10-09 17:20] Karak888 commented on #2163
closing this ticket.  Email was sent to Autumn.

[2019-10-09 17:20] #2163 closed

[2019-10-09 17:21] Karak888 commented on #2015
closing this ticket as it is in Prod.

[2019-10-09 17:21] #2015 closed

[2019-10-09 17:22] Karak888 commented on #2042
@jenniferlee-dsva needs to get in touch with Misty Sweet.

[2019-10-09 17:22] chrisj-usds commented on #1519
@Karak888 @jenniferlee-dsva
Had a call yesterday with Zach Fain and others who said that they are not ready for us to take away the link to Tri-West. Want to make sure that what you're hearing from Aszur doesn't conflict with that.

[2019-10-09 17:24] Karak888 commented on #1510
This was sent to Mikki for validation and will then close.

[2019-10-09 17:24] #1701 closed

[2019-10-09 17:25] Karak888 commented on #1435
@jenniferlee-dsva will follow-up to validate.

[2019-10-09 17:26] #2019 closed

[2019-10-09 17:29] dhall commented on #2318
The engineers on the lighthouse API team have been maintaining the back end code for the facilities data in the vets-api code repository. Please reach out if we can answer any questions about how things currently work. I'd also like for us to keep in communication about any architecture changes regarding the data or the back end. Just let us know how we can help!

[2019-10-09 17:31] jason-gcio opened #2344 "Create a Component that Houses the TCDR Value"
## Story
As a member of the eBenefits Team, I would like to create a component that houses dummy content so that when the actual value is retrievable, I can more seamlessly implement it.

## Considerations
- Use code from Facility Locator if possible

## Tasks
- Build a content block component that handles error states
- Write a unit test for that component

## Definition of Done
- [x] Have a comp

[2019-10-09 17:32] Karak888 commented on #1615
@ncksllvn met with MIkki for redirects on client side / server side.  Nick and wyatt are putting together a doc to clarify this work.  This will need to be ongoing effort.

[2019-10-09 17:34] Karak888 commented on #1794
@1Copenut will you be finishing this work up or does nick need to grab this. Thanks!

[2019-10-09 17:35] Karak888 commented on #2063
@jenniferlee-dsva @RLHecht going back and forth on content for this section, close to finishing!

[2019-10-09 17:37] Karak888 commented on #1008
needs to be validated by @peggygannon - please confirm when this goes live in drupal so we can close this out ?  Thanks

[2019-10-09 17:39] Karak888 commented on #2278
@kelsonic is hoping to finish by end of week.  we can then go to usability and UI work.  potentially can create resuable sidebar nav and have that live in formation.

[2019-10-09 17:41] YanaRoy opened #2345 "[Development] 526: Banking Info in 526 Not displaying in review step"
## What happened?
_Banking information does not show up on the review step of 526 after having had completed the banking info in a prior step. If the banking info is not valid, no error messaging is displayed._

Update 8/25: Banking info is still empty when going to the review page.  @annaswims was right.

## Specs:
- Device: (e.g. iPhone 8, Macbook)
- Browser: (e.g. Firefox, IE 11)
- Test User _(

[2019-10-09 17:42] Justin-Pickett commented on #1129
We'll hold off on this until we coordinate with Vets360 team regarding validation processes that our team was unaware of at the moment.

Will follow up after those conversations have taken place.

[2019-10-09 17:44] Karak888 commented on #1328
Discovery work is completed.  sitemaps for teamsites may not be included in sitemaps.  @Karak888 will add notes - preditice type-ahead can be explored.  Another item is configuring our search feature when subdomains- searches - long term potential have VA forms switch sql search with search.gov-

[2019-10-09 17:47] Karak888 commented on #1727
currently have DIC page in burials benefits hub and needs to be moved to disaibility hub.  All associated tasks that need to be done before moving DIC to burials. @AnneHurley is going to check with Mikki and @RLHecht.  after Drupal go live or before?

[2019-10-09 17:48] jason-gcio opened #2346 "Create a Card Layout for Displaying Rated Disabilities"
## Story
As an end user, I want to be able see my rated disabilities in a clear, concise way so that the information is represented as clearly as possible.

## Considerations
An example can be found on the [Claim Status Tool](https://staging.va.gov/?next=%2Ftrack-claims%2Fyour-claims)

## Task
- Create a reusable React component that will display the data to the user

## Definition of Done
- [x] D

[2019-10-09 17:48] Justin-Pickett commented on #2115
@lihanli will follow up with the Platform team regarding this ticket.

[2019-10-09 17:51] Justin-Pickett commented on #1798
@lkoenigsberg will follow up on this item. Will set up a discussion for this item.

[2019-10-09 17:53] jason-gcio opened #2347 "Create unit test for card component"
## Story
As an engineer I want to create unit test to ensure that components do not introduce bugs.

## Tasks
- Create unit test for card components

## Definition of Done
- [x] Unit tests cover all new functionality in the new component
- [x] New functionality has been submitted for code review and merged into master.

[2019-10-09 17:54] #1331 closed

[2019-10-09 17:54] Justin-Pickett commented on #1331
This item will be revisited in Personalization 2.0 combine profile and account work. Will close this ticket.

[2019-10-09 17:55] jbritt1 opened #2348 "Access for Jeremy Britt"
# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please provide the name of your team, your role on that team, and the name of the company you work for.

- [if requesting SSH key authorization] What is the **public** SSH key? If you don't have a SSH Key or know how to find it [click here](https://github.com/department-of-veterans-

[2019-10-09 17:58] Karak888 commented on #2328
continue rolling out global header and footer to other parts of VA.go- research on previous experience.  subdomain already has a footer with content that duplicates our footer.
Audit of subdomain header / footers to do design and content.

start with conversations with @andrewlewandowski @JeffBarnesUSDS and @andaleliz Liz Lang (from global UX team).  and get a list of subdomains.

@Karak888 to pul

[2019-10-09 17:58] Justin-Pickett commented on #2198
@lkoenigsberg will follow up with some more data on this work. She will advise us if we will continue with any UX work regarding Bad Addresses. Stay tuned.

[2019-10-09 18:00] Karak888 commented on #2020
@lwalsh617 to reach out to @nedierecel and connect with @artsymartha68 - to get started- @jenniferlee-dsva will send spreadsheet of info from analytics dashboard info to @lwalsh617

[2019-10-09 18:02] #2242 closed

[2019-10-09 18:02] Justin-Pickett commented on #2242
Looks like this is possibly a bug on the MVI side. @lihanli advised that we may not need to do anything else on our end if this is fixed by MVI team.

Closing this ticket out.

[2019-10-09 18:02] Karak888 commented on #2340
@ncksllvn will help with this effort and look into it.

[2019-10-09 18:03] Justin-Pickett commented on #2260
Need to validate that we no longer use PCIU. If validated, this ticket will be closed.

[2019-10-09 18:04] #2260 closed

[2019-10-09 18:04] gstevenson-va commented on #1950
I forgot to add that yes, I need AWS console access.

[2019-10-09 18:06] ricetj commented on #2348
@Jeff-Hayter
COR: Yourself
User: Jeremy Britt

[2019-10-09 18:06] Karak888 commented on #1961
@ncksllvn did say staging would be possible, he just needs to review ticket. @jenniferlee-dsva to follow-up with @chrisj-usds

[2019-10-09 18:07] Karak888 commented on #2018
This is a dupe- closing out

[2019-10-09 18:07] #2018 closed

[2019-10-09 18:08] Justin-Pickett commented on #2261
Will roll this work into the profile/account work. More discussions are to be had to building out a robust beta experience.

[2019-10-09 18:10] ricetj commented on #1950
Updated 🎉

[2019-10-09 18:11] Karak888 commented on #1978
waiting on anlaytics before we start this.

[2019-10-09 18:11] Justin-Pickett commented on #2262
We'll revisit this for Personalization 2.0 work. Will close this ticket.

[2019-10-09 18:11] #2262 closed

[2019-10-09 18:12] Justin-Pickett commented on #2263
follow up with @brandonrapp on this item to see if this belongs to authenticated experience team

[2019-10-09 18:14] Justin-Pickett commented on #2265
@lkoenigsberg will follow up with Vets360 team on this item.

[2019-10-09 18:15] Justin-Pickett commented on #2266
@lkoenigsberg will follow up with Vets360 team on this item.

[2019-10-09 18:16] #1054 closed

[2019-10-09 18:18] Karak888 commented on #1507
learned they are using PPMS db it will influence UI and the way we pull data from facility Locator. Will transfer to new facility Locator team - awaiting performance updates from PPMS on they are implementing- service type not to be required field (140 e.g., and some are dupes). they are adding categories as well.  didn't have access to Cosmos db (PPMS team) - relational dynamic db that is PPMS- n

[2019-10-09 18:19] Justin-Pickett commented on #2267
Auth Exp team decided this item could be closed.

[2019-10-09 18:19] #2267 closed

[2019-10-09 18:22] Karak888 commented on #2098
@jenniferlee-dsva to connect with @peggygannon to decide what pages need to be sent to the stakeholders.

[2019-10-09 18:23] Justin-Pickett commented on #2270
We'll revisit later. We'll keep it in the "icebox" for now.

[2019-10-09 18:29] jenniferlee-dsva commented on #2020
@lwalsh617   @artsymartha68
For some reason, I'm not able to upload the csv files here, so I will Slack them to you.

[2019-10-09 18:37] lkoenigsberg commented on #2265
@Justin-Pickett ,

Confirmed that V360 does support international phone numbers.  The two required fields in the snippet here, countryCode and internationalIndicator identify its international

![international-phone](https://user-images.githubusercontent.com/51327745/66509937-00c4a680-eaa2-11e9-9ceb-78a0631083c2.png)

Propose next steps to do some cleanup between this ticket and https://github.com

[2019-10-09 18:38] lkoenigsberg commented on #2266
See note in #2265 @Justin-Pickett

[2019-10-09 18:42] peggygannon commented on #1688
@Justin-Pickett Please see below for my recommended content updates for the address validation screens. Please let me know if you want to discuss any of my recommendations over the phone. Thx!

**Desktop screens**
*Edit address overlay*
Please sentence case all labels: Street address
Please change Zip code to Postal code
Please update character message to: (Maximum 5 characters)

*Mailing address

[2019-10-09 18:50] #2253 closed

[2019-10-09 18:56] peggygannon commented on #1993
Hello, @carolynwill @YanaRoy
I had provided content updates to the HLR mockup (https://vsateams.invisionapp.com/share/W5U21BDFTQK#/screens/385994365/comments) in  issue: https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/2011.

Is there additional content I need to review for this issue here?

[2019-10-09 19:00] 1Copenut commented on #1794
@Karak888 I've got some bandwidth for working on this portion tomorrow, Friday, and Monday. I'll holler at Nick if I get stuck and will have him look at the PR.

[2019-10-09 19:34] #2322 closed

[2019-10-09 19:45] Karak888 opened #2349 "List of sites that still need teamsite header"
@rtluu commented on [Tue Nov 06 2018](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/14891)

- https://www.va.gov/jobs/
- www.benefits.va.gov/compensation/drc.asp
- https://www.va.gov/opa/persona/active_duty.asp (verify that this page should get the new header)

---

@jbalboni commented on [Thu Jan 10 2019](https://github.com/department-of-veterans-affairs/vets.gov-team/iss

[2019-10-09 19:45] Karak888 opened #2350 "List of sites that still need teamsite header"
@rtluu commented on [Tue Nov 06 2018](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/14891)

- https://www.va.gov/jobs/
- www.benefits.va.gov/compensation/drc.asp
- https://www.va.gov/opa/persona/active_duty.asp (verify that this page should get the new header)

---

@jbalboni commented on [Thu Jan 10 2019](https://github.com/department-of-veterans-affairs/vets.gov-team/iss

[2019-10-09 20:02] Justin-Pickett opened #2351 "Content Review for DD beta launch messaging for 10/15"
## Background
Authenticated Experience team is looking to roll this out to the live content page before 10/16 when the eBenefits team has their release on 10/16. Ultimately our goal is to ramp up the % of users to 50% and between 10/16- 10/30 be fully ramped up to 100% of users.

## User Story
If a user is unable to use the DD feature on the profile section of VA.gov, we want the user to be prompt

[2019-10-09 20:08] ricetj commented on #162
@nathanhruby Can you map out the steps you had in mind for taking.

[2019-10-09 20:11] ricetj commented on #2204
done

[2019-10-09 20:11] #2204 closed

[2019-10-09 20:19] Justin-Pickett opened #2352 "Error messaging work-around Front End work"
## Background
Better error messaging is needed to prompt users to input or correct their phone number or mailing address information when trying to complete their direct deposit update.

## User Story
As a veteran, I want to be prompted to fix/correct my submitted information on the form when attempting to go through the user flow to update my direct deposit information

## Goal
Display appropriat

[2019-10-09 20:19] Justin-Pickett commented on #2352
@erikphansen can you upload screen shots of the proposed error messaging solutions to this ticket. Thank you.

[2019-10-09 20:20] #2156 closed

[2019-10-09 20:22] artsymartha68 commented on #1482
I believe @jenniferlee-dsva said that we don't need to add the Description column in the search results table mockup shown above.

[2019-10-09 20:34] U-DON commented on #2008
@peterhill-oddball: How do you feel TestLodge stacks up against TestRail? From a first glance, I think the latter also has the GitHub integration, but not sure if you've had more experience with it. Also seems like a fairly trusted and mature product from its list of teams that use it and from what I've read in forums.

[2019-10-09 20:41] alexpappasoddball commented on #2315
Additionally, updated the ZenHub Triage Incident template to the correct link and new name of the document [here](https://github.com/department-of-veterans-affairs/va.gov-team/pull/2353)

[2019-10-09 20:42] micahchiang commented on #2244
This issue is tabled pending further discussion with global-ux and authenticated-experience.

[2019-10-09 20:45] micahchiang commented on #2141
Per our updated designs for rated disabilities, this ticket is no longer relevant.

[2019-10-09 20:45] #2141 closed

[2019-10-09 20:49] Mottie opened #2354 "Switch input type for phone numbers"
## User Story or Problem Statement

As a mobile user, when I'm adding or modifying a phone number I want the virtual keyboard to only show a numbers, dashes & parentheses.

## Goal

As per this [discussion in Slack](https://dsva.slack.com/archives/C0NGDDXME/p1570635001006400), form inputs need to be updated to match the information content: All phone number inputs need to be of type "tel".

These

[2019-10-09 20:49] Mottie opened #2355 "Switch input type for email addresses"
## User Story or Problem Statement

As a mobile user, when I'm adding or modifying an email address I want the virtual keyboard to only show numbers, letters, the `@` symbol and `.com` (or whatever top-level domain the OS shows).

## Goal

As per this [discussion in Slack](https://dsva.slack.com/archives/C0NGDDXME/p1570635001006400), form inputs need to be updated to match the information content:

[2019-10-09 20:59] LEHigley commented on #2311
it looks like this was done?

[2019-10-09 21:19] jenniferlee-dsva commented on #1482
Yes, we're changing the Description field to "Related benefit" (actual nomenclature TBD). @Karak888 @artsymartha68 @lwalsh617

[2019-10-09 21:26] nedierecel commented on #2020
@Karak888 @lwalsh617 Thanks for connecting - I am applying an exclusion to filter out the non-VA network data. A few caveats:

1. The logic is we exclude any activity from sessions from a VA Network Domain; if, for whatever reason, a VA facility doesn't use the VA Network Domain, those employees might be included.
2. Timeframe - The YTD view is a bit sluggish; would a 6-month timeframe be acceptab

[2019-10-09 21:32] jenniferlee-dsva commented on #1961
@Karak888 @ncksllvn - followed up, @chrisj-usds is okay to go forward in staging. Caveat: just as long as staging doesn't go straight to prod -- will have to hold back until stakeholder ok.

[2019-10-09 21:38] JQuaggles commented on #2311
:thinking_face:
Is the removal from DSVA slack part of the offboarding request now too? I thought they were separate which is why I usually make the request here as well.
@batemapf ?

[2019-10-09 21:51] lwalsh617 commented on #2020
@nedierecel Sounds good! Thank you!

[2019-10-09 21:58] JQuaggles opened #2357 "Archiving of Slack Channels"
Good afternoon,
  I'd like to have the following slack channels archived:
Okay'd by DSVA folks - any questions please ask @andrewlewandowski

Channels to be archived:
#cms-administration
#cms-changemgmt
#cms-ci
#cms-demos
#cms-design
#cms-engineering-frontend
#cms-migrations
#cms-outreach
#cms-product
#cms-unity

[2019-10-09 22:04] markgreenburg commented on #2309
@goldenmeanie curious where you think this button should go. Could you please throw it into a mock?

[2019-10-09 22:58] tlei123 commented on #1924
Hi, @Mottie @YanaRoy , is #1917 the related UX tic for this?  I see that tic's not due this Sprint, and I'm looking for info on error messages.

Please let me know.  Thx much!

[2019-10-09 23:51] jason-gcio opened #2358 "Backend Engineering: Review 'Dependents' Work"
## Story
As a backend engineer, I want to know how much of the existing 686c code is complete, so I can gain an accurate idea of the level of effort involved, and other issues, to make this application feature complete.

## Goals
Primarily, to fully understand work that has already been completed and map any functionality that is still outstanding.

## Tasks
- [x] Review the 686c form [Product Out

[2019-10-10 00:28] Mottie commented on #1924
Hi @tlei123!
- I've been working with user 226
- Yes #1917 is the design ticket for this step
- I haven't seen any designs with error messages for step 1, but I've been following the recommendations from #1711

[2019-10-10 01:44] peggygannon commented on #1008
@Karak888 @RLHecht I reviewed and validated this update. Page has been set to "publish" and will go live on 10/10

[2019-10-10 12:41] clantosswett commented on #2105
@nedierecel that update is super helpful. Thank you! I will probably reach out over slack with some follow up questions. In the meantime, it is totally find to spin off the user behavior request into a new issue. Thanks!

[2019-10-10 12:49] peterhill-oddball commented on #2008
I don't have any experience with any of these tools, unfortunately.  I'm going to do a checklist for each tool, and start a trial instance up when I can.  Do please weigh in with your personal experiences if you have any!

[2019-10-10 12:54] jonwehausen commented on #1846
Hi Team,

CC: @jefflbrauer @ethanteague @nedierecel @joanneesteban

:exclamation: **Here are the remaining gaps in latest iteration of QA:**
- The nav-jumplink-click is still firing prematurely, instead of firing only on jumplink click, it's actually pushing multiple times on any page load...Below is a screenshot of our testing
![image](https://user-images.githubusercontent.com/48527022/66570250-3

[2019-10-10 13:05] Rick-N-Thailand commented on #1135
Hi All,

Checked today and the error still exists:
If just the address, the system accepts.  However when I try to input the Unit #, I receive this error:
_"We couldn’t save your recent mailing address update. Please try again later."_

When I try to input my APO AP address:
_"We couldn’t save your recent home address update. Please try again later."_

Sincerely,

Rick

[2019-10-10 13:44] lisac-usds commented on #2357
coordinating with @JQuaggles , we've decided to make this change at the end of the day on Friday. I'll follow up after I've applied the change.

[2019-10-10 14:16] Justin-Pickett opened #2359 "Analytics/User Flow tracking for updating phone/mail address to complete Direct Deposit"
## Background

Need to have a discussion with the analytics team to amend the analytics so were accounting for the errors currently happening.

## User Story

Authenticated Experience team needs a flow report so we can see if users are making the necessary changes to address or phone  when prompted and then proceeding to complete their DD info.

# Goal
By having this information this will give our

[2019-10-10 14:25] Justin-Pickett commented on #1740
@tlei123 can you validate this bug so we can have it closed out if its ready?

[2019-10-10 15:06] alexpappasoddball commented on #2206
@LindseySaari There are two README files that need a little more explanation as well.

1) [Team Folder](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/teams/vsp/teams/triage)

2) [VFS Facing Folder](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/triage/README.md)

The key pieces of information that we want to see here is a brief descri

[2019-10-10 15:34] peterhill-oddball commented on #2291
Presentation completed 10/10

[2019-10-10 15:34] #2067 closed

[2019-10-10 15:55] amycesal commented on #1236
![Grey Sky](https://user-images.githubusercontent.com/1656046/66585429-6bcab780-eb4c-11e9-9e1b-218c0413bbaa.png)

[2019-10-10 15:59] lichellebain commented on #2317
@nedierecel  I spoke with the developer, Elwood Gary, @elwoodva, and here are his replies:

1.	There is not a separate opt-in to track for analytics.  It’s just the same as saving a mobile phone.  That does need to work.
2.	No.
3.	Yes, opting out is  measure of success.

Neither of us could access the image-getting Access Denied.

[2019-10-10 16:00] jbalboni opened #2362 "Determine messages and logic for service-related error conditions"
There are several broad error situations where we need to determine the right course of action:

1. A service or services in the Community Care eligibility check process fail
A) try again later
B) go down the VA path
C) call and talk to a human
I'm thinking this could be a giant alert @peggygannon

2. One of the services related to fetching supported VA facilities fails
A) throw an alert that says

[2019-10-10 16:08] jason-gcio opened #2363 "Design Review with Shawna"
## Goal
Meet with Shawna and seek feedback on the current design state for the Rated Disabilities feature.

## Considerations
There are some alternate design options that need to be decided upon.

## Acceptance Criteria
- [x] Schedule a time with Shawna
- [x] Address her feedback

[2019-10-10 16:13] jason-gcio opened #2364 "[TASK] User Interview Analysis"
## Task
Review and analyze results of user interviews regarding current eBenefits awareness and usage.

### Goal
Produce a foundational discovery document that will provide insight and a baseline understanding for the importance of eBenefits features as Veterans and their families manage VA benefits.

- Aggregate Participant views into relevant personas
- Identify common patterns, preferences and

[2019-10-10 16:15] Karak888 commented on #1008
Thank you both!  closing out this ticket.

[2019-10-10 16:15] #1008 closed

[2019-10-10 16:25] omgitsbillryan opened #2365 "Periodically failing vets-api build : ActiveRecord::NoEnvironmentInSchemaError"
Connects: https://github.com/department-of-veterans-affairs/va.gov-team/issues/2295

## The Problem
`gibct-data-service` jobs will occasionally fail with
[code]

[Slack conversation](https://dsva.slack.com/archives/CBU0KDSB1/p1570645577008500)

[2019-10-10 16:26] omgitsbillryan commented on #2365
The resolution was to kill stale docker containers running on the particular jenkins swarm node.

[2019-10-10 16:35] jason-gcio opened #2366 "[TASK] Engage with Authenticated Experience about an Unauthenticated Page"
## Goal
Learn what the process or guidance is from the Authenticated Experience Team perspective to create an unauthenticated page before landing into the Rated Disabilities Tool so that we can determine who should be building that page.

## Task
- Schedule a meeting with members of the Authenticated Experience Team (DSVA - Lisa and PM Justin)
  - A ticket was created and can be tracked [here](htt

[2019-10-10 16:44] erikphansen commented on #2352
![image](https://user-images.githubusercontent.com/20728956/66589026-839d3e00-eb42-11e9-9dc6-a53f4c27d049.png)

The error messages will live in the alert box at the top of the modal if there is an error when updating DD info. As @Justin-Pickett said, we'll need better copy (something not written by me) for the following error messages:
- they need to update/fix their mailing address
- they need to

[2019-10-10 16:44] kathleencrawford opened #2367 "[Research] Implementing a New API within the vets-api Code Repository"
## Story
As a backend engineer, I need to research implementing a service in the `vets-api` code repository so I can consume the APIs provided by EVSS .

## Goal
Understand the process/workflow of implementing a new API within vets-api code repository.

## Consideration
- This will set the foundation for implementing an API to retrieve the Total Combined Disability Rating from EVSS once we have ac

[2019-10-10 16:45] Karak888 commented on #1519
I am including some notes from our initial meeting with PPMS- Slightly nonsensical at points I'm sure, just wanted to capture something to build off of!
[PPMS Initial Meeting Notes.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/3713662/PPMS.Initial.Meeting.Notes.docx)

[2019-10-10 16:46] erikphansen commented on #2352
@Justin-Pickett is this a ticket for the dev work and a content writer will update this with the appropriate error messages? Will there be another ticket to handle showing a helpful error message when we get the `payment.restriction.indicators.present` error code?

[2019-10-10 16:51] sporeboy commented on #2202
Document of finding here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/ebenefits/design/dependents/readme.md

[2019-10-10 17:25] rianfowler commented on #314
This [document](https://developer.paciellogroup.com/blog/2012/06/html5-accessibility-chops-aria-rolealert-browser-support/) outlines some approaches to this problem. We're currently using method 2 and trying out method 3.

This is small but changes all of our forms app- because of this it could require refactoring several dozen unit tests and performing a lot of regression testing.

[2019-10-10 17:31] #2288 closed

[2019-10-10 17:49] joanneesteban commented on #2190
Metrics sent to Lacey, 10/10/19, who sent to OIT:

[Metrics for Modernized Data 10.01.19.xlsx](https://github.com/department-of-veterans-affairs/va.gov-team/files/3713713/Metrics.for.Modernized.Data.10.01.19.xlsx)
[Metrics_10.01.19.pdf](https://github.com/department-of-veterans-affairs/va.gov-team/files/3713714/Metrics_10.01.19.pdf)
[Metrics_10.01.19.pptx](https://github.com/department-of-veterans

[2019-10-10 17:49] #2190 closed

[2019-10-10 17:58] kfrz opened #2369 "Faraday gem is updated to a recent version"
## User Story or Problem Statement
We are on version `0.9.2` of the [Faraday](https://github.com/lostisland/faraday) library, but the latest version is `0.17.x`. We should upgrade to enable new features and have latest bugfixes.

## Goal
- [`faraday`](https://github.com/lostisland/faraday) gem is updated to a recent version

## Acceptance Criteria
- [x] `breakers` and `betamocks` will also have to

[2019-10-10 18:00] omgitsbillryan opened #2370 "Finding and Killing Stale Docker Containers in Jenkins"
### The Problem
Sometimes on our Jenkins nodes, a given docker container can become "stuck", and not torn down. This causes various build errors that will continue to occur on that given Jenkins instance where the docker container is stuck.

For example, ssh'ing into a problematic Jenkins instance and running `docker ps` shows a running time of `2 days`:
[code]

### Background
In most of our build

[2019-10-10 18:08] kfrz opened #2371 "Services all use the same base error middleware"
## User Story or Problem Statement
Currently, our services implement error handling with disparate approaches. This can cause confusion and introduces increased complexity to our codebase.

## Goal
External client classes that implement error handling do so using a consistent middleware for common error cases. Any developer can easily understand the logic for handling errors from a given service.

[2019-10-10 18:14] peggygannon commented on #2351
@Justin-Pickett @lkoenigsberg
Please see below for suggested messaging for direct deposit beta. Let me know if you have any questions or want to discuss in person. I also have two questions:

--I dropped in a URL for the eBenefits page, so please check if the one I added is correct?
--Does this message appear only on the profile page? or does it also need to appear on /change-direct-deposit/ ?

Th

[2019-10-10 18:20] alexpappasoddball commented on #2194
Maybe there are some metrics we can have Analytics pull for us.
Visits vs Submissions?
Drop offs after X amount of time.
etc.

[2019-10-10 18:25] lkoenigsberg commented on #2351
This seems good but wondering why we wouldn't just make "go to eBenefits" in the copy a link rather then another text link?

[2019-10-10 18:31] Justin-Pickett commented on #2352
@erikphansen yes this ticket is for the dev work and for Peggy to do the content review as well. I will open a separate ticket for the error handling for the payment.restriction.indicators.present erro code.

[2019-10-10 18:32] omgitsbillryan opened #2372 "Separate vets-api CI into Individual Jenkins Build Stages"
### The Problem
The `vets-api` `Jenkinsfile` has a pipeline stage `stage('Run tests')` that runs ALL of the `vets-api` CI steps including:

- unit tests (`rspec`)
- lint (`rubocop`)
- static code security audit
- codeclimate
- danger-ruby (*pending)

This is problematic for a few reasons:
1. We lack insight into what parts of our CI take up the most time
2. `make ci` is getting harder to run local

[2019-10-10 18:38] alexpappasoddball commented on #456
@Kimberley2019 Do call centers need this?

[2019-10-10 18:40] wyattwalter opened #2373 "migrate EC2 instances to latest families"
We've made a pass to get a good number of the more resource-intensive services on latest class, but we're coming up on a time where DSVA is wanting to renew some EC2 reserves so we should get everything to the latest instance families (m5/t3/r5/etc).

This shouldn't be done with a single PR for all as things like mount locations can change from m4 -> m5, for example. Let's make a list and iterate

[2019-10-10 18:41] wyattwalter opened #2374 "tune ASG rules for revproxy for cost optimization"
The current ASG rules for the revproxy were kind of tuned for the re-launch of va.gov, but appear to be scaling up a bit more aggressively than we really would need to be. I'd like to have someone take the time to make a pass at checking if we can lower the thresholds there and possibly lower the minimum number.. Just need to make sure we get at least one instance in each AZ.

[2019-10-10 18:50] Justin-Pickett commented on #2351
@peggygannon also, I was told to have the messaging convey that "if users have to go back to eBenefits, they will need to log back on."

And this is the link where users would need to go on to eBenefits to complete there direct deposit change  - https://www.ebenefits.va.gov/ebenefits/PCIU

[2019-10-10 19:07] peggygannon commented on #2351
@Justin-Pickett @lkoenigsberg Thank you for your feedback. What do you think of the below? URL has also been updated to the one Justin provided above.

The direct deposit feature is in beta testing and isn’t available to everyone right now. If you don’t see this feature in your profile, please [sign in to eBenefits](https://www.ebenefits.va.gov/ebenefits/PCIU) to change your direct deposit informa

[2019-10-10 19:25] jason-gcio opened #2375 "Engage with Global UX about an Unauthenticated Page"
## Goal
Learn what the process or guidance is from the Global UX perspective to create an unauthenticated page before landing into the Rated Disabilities Tool so that we can determine who should be building that page.

## Considerations
- A [link to mockups](https://xd.adobe.com/view/0db723ac-52ff-48b3-4877-9d5882cb2e1f-7b86/screen/8990839d-80b5-450d-8164-c1f203a8991d/RD-Screen-Tool-2/)

## Task
-

[2019-10-10 19:33] LindseySaari commented on #2206
@alexpappasoddball Is the key documents section the place to add brief descriptions or do all of the documents in this readme require a brief desc? https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/teams/vsp/teams/triage#key-documents

[2019-10-10 19:34] alexpappasoddball commented on #2206
@LindseySaari I would add a brief description to all the documents, unless two documents are similar.  That way when a user goes into that repo they can see at a glance what each document has right off the bat!

[2019-10-10 19:44] tskinn commented on #2342
Found out about more resources that need tagging. Mainly:
- cloudwatch log groups
- cloudwatch alarms

[2019-10-10 19:50] peggygannon commented on #2098
Hello, all, I've updated this ticket with:

--URLs for the teamsite/legacy pages (added to the list above)

--Location of the original EDU parity decks that Beth worked on:
https://github.com/department-of-veterans-affairs/vets.gov-content/tree/master/content-topics/education/collateral/parity-copy-deck

[2019-10-10 20:03] 1Copenut commented on #1817
@amycesal Here's the issue I was talking about earlier. We're testing this solution with screen readers now, and the preliminary results look good.

[2019-10-10 20:08] ethanteague commented on #1846
Latest pr to address the above: https://github.com/department-of-veterans-affairs/vets-website/pull/10879 cc @jefflbrauer

[2019-10-10 20:08] #1446 closed

[2019-10-10 20:13] 1Copenut commented on #754
@lichellebain Would you mind sending me a calendar invite when you have a second?

[2019-10-10 20:16] LindseySaari commented on #2206
I'm not seeing where anything in the VFS facing README needs a brief desc? : https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/triage/README.md

[2019-10-10 20:19] andreahewitt-odd opened #2377 "Create PII guidelines"
As a VFS team, I want to know more about PII so that I can code to the privacy expectations of the platform

AC:
- [ ] Publish the guidelines in GH
- [ ] Distribute the guidelines
- [ ] present at engineering leads meeting
- [ ] add to engineering onboarding meeting slide deck

[2019-10-10 20:20] 1Copenut commented on #1829
Closing this as a duplicate to https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/754

[2019-10-10 20:20] #1829 closed

[2019-10-10 20:26] andreahewitt-odd opened #2378 "QA Effort for #314"
As a developer on tools and improvement, I want my new feature QA'd with 508 in mind because JAWS clients were previously hearing error messages twice.

AC:
- [ ] Complete QA on https://github.com/department-of-veterans-affairs/va.gov-team/issues/314

[2019-10-10 20:31] alexpappasoddball commented on #2206
@LindseySaari Just checked and you are right.  It needs a table of contents and some descriptions.  This is arguably the most important README because it is for VFS teams that are searching for information.  Want to create a table of contents in there and write out some descriptions?  You can adjust the how to report an incident (which should be first on the list) to fit your format.

[2019-10-10 20:34] andreahewitt-odd opened #2379 "Example QA project on VA.gov"
As a QA on product support, I want to create an example test plan so that other teams have examples to look at when doing their own QA effort.

AC:
- [ ] Create a test plan
- [ ] Create a test suite
- [ ] Create test cases
- [ ] Test execution logs
- [ ] Test report
- [ ] Publish in GH in QA practice area

[2019-10-10 20:39] jason-gcio opened #2380 "Engage with Authenticate Experience on Authenticated Pages"
## Goal
Learn what the process or guidance is from the Auth Exp perspective to create an authenticated page for the Rated Disabilities Tool so that we can coordinate those pages.

## Considerations
- A [link to mockups](https://xd.adobe.com/view/0db723ac-52ff-48b3-4877-9d5882cb2e1f-7b86/screen/8990839d-80b5-450d-8164-c1f203a8991d/RD-Screen-Tool-2/) currently held
- Getting to these pages is unknow

[2019-10-10 21:12] jbalboni commented on #2149
@jenniferlee-dsva @lalexanderson-dsva

This is my rough attempt based on the designs and content updates in here. It's not exact yet, but thought it was worth running past you both and seeing if it sparked more thoughts:

![Screen Shot 2019-10-10 at 5.08.29 PM.png](https://images.zenhubusercontent.com/599c94608f62dc7798c3b2cd/39b33348-58f8-4353-90c2-926552cf19af)
![Screen Shot 2019-10-10 at 5.07.3

[2019-10-10 21:24] Justin-Pickett commented on #2351
@peggygannon I have no issues with the message above. Thank you.

[2019-10-10 21:26] Justin-Pickett commented on #1688
@peggygannon thank you for the revisions.

@artistgreen please see the recommended changes above. Please update the ticket when these have been corrected. Thank you.

[2019-10-10 21:29] cvalarida commented on #1945
**Update:** Looks like in order to use `slackUploadFile`, we have to be running in `botUser` mode ([source](https://plugins.jenkins.io/slack)). I found how to do that, but when testing the connection in `botUser` mode, it resulted in a failure:
![image](https://user-images.githubusercontent.com/12970166/66607895-0f769080-eb6a-11e9-8343-e8d4e6ab0a64.png)

According to the documentation,

This might

[2019-10-10 21:34] 1Copenut commented on #1252
@desireeturner && @ksantiagomorgan6 Can we include any Colmery 107 additional `Learn more` links in this work? The VA 508 office came back with it as a recommended improvement, so I figure we should capture all of the links at one time if that fits into your sprint scope.

[2019-10-10 21:35] 1Copenut commented on #1251
@desireeturner I met with @KevinMHoffmanUSDS && @jenstrickland yesterday to discuss the related issue #1817. We came up with some proposed improvements, and I'll follow up here when those are approved and ready to move forward.

[2019-10-10 21:36] tskinn commented on #2101
Update: EC2 instances running the CSRs have been turned off in each environment.

[2019-10-10 21:39] tlei123 commented on #1359
Hi, @SMLuthi !

Re. @Mottie’s  HLR Form Step 1 (#1924), will I be able to QA that form-page on Staging once his PR has been merged?

He has been using test-user 226 on his local, but I need to know if this test-user (or any other) will actually have contact-data prefilled on Staging (where local mocked-data aren't being used).

Please let me know.  Thanks much!

cc @Mottie

[2019-10-10 21:43] 1Copenut opened #2381 "[SCREENREADER]: Colmery 107 - We need an error when users press Search School without entering a search term"
## Description

When users try to search for a school without entering a search term on the GI Bill Comparison Tool, no search is executed and it fails silently. Users would benefit from an error message so they know what their next action should be. Screenshot attached below.

## Point of Contact

**VFS Point of Contact:** _Trevor_

## Acceptance Criteria

* As a screen reader user, I want to hea

[2019-10-10 21:47] wyattwalter commented on #2342
I'm going to triage this a bit more and break these out by resource type.

[2019-10-10 21:47] #2342 closed

[2019-10-10 21:49] wyattwalter opened #2382 "billing tags on CloudWatch Logs"

[2019-10-10 21:49] wyattwalter opened #2383 "billing tags on EIP and ENI resources"
## Description

Just like all of the other resource types in this epic, we need to make sure all of our EIPs and ENIs are tagged appropriately to include the `base_tags` var.

## AC

- [ ] ensure EIP and ENI resources have our base billing tags

[2019-10-10 21:50] wyattwalter opened #2384 "Add billing tags on EBS snapshots"

[2019-10-10 21:50] wyattwalter opened #2385 "Add billing tags on EBS volumes"
## Problem
Ensure EBS Vols have proper billing tags.

## Goal
_Ensure these tags are correct and get updated when Vols are made_

## Acceptance Criteria
- [x] _Ensure EBS Vols have proper billing tags_

## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to an Epic** (what body of work is this a part of?)
- [ ] **Labeled with Team** (`pr

[2019-10-10 21:52] tlei123 commented on #1924
Thx, @Mottie !  I just asked Silvio about [actual test-data on Staging](https://github.com/department-of-veterans-affairs/va.gov-team/issues/1359#issuecomment-540811552).

Testing this new Step 1 page on Staging is contingent upon actual contact test-data being in-place behind the actual API endpoint(s), since Staging does not use mocked-data.

I'll add any updates here.

cc @YanaRoy

[2019-10-10 21:56] wyattwalter commented on #2382
@jbritt1 can you research how we can get billing tags on CloudWatch Logs? I'm not sure exactly what gets tagged.. Streams, Groups, etc. We typically create them on-the-fly via the deployment config. The result is an awslogs.conf file with individual files like:

[code]

[2019-10-10 22:05] erikphansen commented on #1135
Was able to replicate the errors that @Rick-N-Thailand is seeing. This is a sample of the server response that we saw:
[code]
Which is basically vet360 saying that it doesn't think that's a valid address.

[2019-10-10 22:10] wyattwalter commented on #895
this was done in https://github.com/department-of-veterans-affairs/devops/pull/5562

[2019-10-10 22:10] #895 closed

[2019-10-10 22:14] 1Copenut opened #2386 "[IE11 + JAWS] Colmery 107 - Too much information is being read on SELECT menu changes"
# Description

The 508 office noticed an issue where IE11 + JAWS will read out a lot of extra information on the program detail views when users change a `<select>` menu in forms mode. I was able to recreate the issue, and it only occurred with IE11, not Chrome, using JAWS.

I think it's related to some extra `aria-live="polite"` regions that are defined on parent or sibling elements, but can't te

[2019-10-10 22:25] 1Copenut opened #2387 "[COGNITION]: Colmery 107 - Heading H2s should wrap expand/collapse buttons"
## Description

The VA 508 office noted this as an improvement item. The large gray expand/collapse sections do not identify as headings level two in JAWS. A quick investigation showed the `<button>` elements wrapping the `<h2>` and is the likely cause of these headings being ignored. Screenshot attached.

## Point of Contact

**VFS Point of Contact:** _Trevor_

## Acceptance Criteria

* As a scre

[2019-10-10 22:37] jonwehausen commented on #1541
Hi Nick,

Just wanted to get an updated here -- saw you moved to Review/QA column, is this ready for QA?

Thanks,
Jon Wehausen

[2019-10-10 23:34] peggygannon commented on #2351
@Justin-Pickett ok, great. How will this message appear on /profile/? will it be in an alert or some other component? I'm happy to look at this again once it's placed on the page.

[2019-10-11 00:12] #1743 closed

[2019-10-11 00:13] U-DON commented on #1743
Completed with merge of department-of-veterans-affairs/veteran-facing-services-tools#173.

[2019-10-11 00:14] #1766 closed

[2019-10-11 01:12] nathanhruby commented on #162
This is a big upgrade effort with major version and/or breaking changes in all the components.  We'll need to test this upgrade pretty extensively
- locally, build and test a new BRD app for Prometheus 2.x and related components, so we can run both side by side
- locally, bring up current stack alongside and test data and config migration
- locally, test grafana and make sure it works as well (my

[2019-10-11 12:32] LindseySaari commented on #2206
Sounds good! On it!

[2019-10-11 12:36] LindseySaari commented on #2206
Any ideas on links that should be in the table of contents? https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/platform/triage

[2019-10-11 13:07] elwoodva commented on #2333
There should already be some documentation with these data flows.  This did not change for this text permission flag.

There are no new endpoints exposed in vets-api.  The interaction with VET360 did not change.  VET360 was always returning this flag.  It was already part of their interface with vets-api.

We don't believe this would have introduced any new security risk that the existing function

[2019-10-11 13:29] nedierecel commented on #2182
@jonwehausen Thanks for tackling this in the legacy container. For your visibility, I updated the acceptance criteria to include a screenshot of the naming convention in the legacy container.

May you update the tag settings to match the ones in the screenshot?

Also, within the Legacy Container, there is an event that tracks `Claims Downloads` on eBenefits. This trigger is found here: `Event - Do

[2019-10-11 13:32] jbritt1 commented on #2382
At first glance of the TF docs, it appears log groups can be tagged. Log streams receive log_group_name as a parameter leading me to believe the tags are then transitory. That and the fact that tags do not seem to be an option for `aws_cloudwatch_log_stream`. Will continue the deep dive on it, but wanted to drop some notes as I go.

[2019-10-11 13:38] Samara-Strauss commented on #2091
Documentation [here](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/personalization%202.0/Combine%20Profile%20and%20Account/Information%20architecture/Prof%20%26%20Acct.%20%E2%80%94%20Content%20inventory%20and%20information%20architecture.xlsx). This ticket ended up taking longer than I expected because it really turned into more general

[2019-10-11 13:39] Samara-Strauss commented on #2092
Closing and detaching from epic. The changes to the profile are minimal enough that we don't need to do a card sort.

[2019-10-11 13:46] Samara-Strauss commented on #2093
Per #2091, there probably won't be any changes to the main navigation. Closing.

[2019-10-11 13:46] #2093 closed

[2019-10-11 13:53] Justin-Pickett commented on #2351
@peggygannon I am not sure how it will appear on the page. My understanding would be due to it being temporary, i think it should be placed on the page the easiest way it can be put on and removed. @erikphansen can you offer some input on how this messaging will be placed on the content page?

[2019-10-11 13:59] johnpaulashenfelter opened #2389 "Create security guidelines"
As a VFS team, I want to know more about security so that I can code to the security expectations of the platform

AC:
- [ ] Publish the guidelines in GH
- [ ] Distribute the guidelines
- [ ] present at engineering leads meeting
- [ ] add to engineering onboarding meeting slide deck

[2019-10-11 14:01] nedierecel commented on #1740
@tlei123 Please let me know if you need my help. I might need guidance to force a save failure.

[2019-10-11 14:10] nedierecel commented on #2359
@Justin-Pickett Confirming that we're seeing this issue. Let's Slack up next week to understand how we can modify the granularity of the tracking. Happy to help where we can!

[2019-10-11 14:14] nedierecel commented on #1627
@amyknox @KevinMHoffmanUSDS I wanted to nudge this request to see if we should expect to validate soon. I understand it is in backlog but wanted to see if it might be a priority soon.

[2019-10-11 14:21] Karak888 commented on #1510
@lwalsh617 @mnorthuis @jenniferlee-dsva - have the recommendations been posted somewhere outside of this ticket?  There is a good chance I may have missed it here, thanks!

[2019-10-11 14:23] accbjt commented on #2208
Here are the images of down time notifications. Some are notifications that are coming and there are messages that are displayed when things are down.
----------
Warning Notifications:

<img width="401" alt="Screen Shot 2019-10-10 at 1 47 44 PM" src="https://user-images.githubusercontent.com/5377648/66658897-46df4e80-ebf7-11e9-969e-a9027c50a548.png">

----------

<img width="409" alt="Screen Shot

[2019-10-11 14:24] erikphansen commented on #1740
If you check out https://analytics.google.com/analytics/web/?authuser=0#/report/content-event-events/a50123418w177519031p184624291/explorer-segmentExplorer.segmentId=analytics.eventAction&explorer-table.plotKeys=%5B%5D&explorer-table.advFilter=%5B%5B0,"analytics.eventAction","BW","Profile%20Save%20Failure",0%5D%5D&explorer-table.rowCount=100/

Now we need to figure out how/where the plain ol' `Pro

[2019-10-11 14:26] accbjt commented on #2208
@CrystabelReiter above is the screenshots of the down time notifications that I can find. Here is also a link the documentation on our DownTimeNotification component and how a developer uses it. It's useful because it shows you examples of the different versions that you can display.

https://department-of-veterans-affairs.github.io/veteran-facing-services-tools/platform/tools/downtime-notificatio

[2019-10-11 14:30] lichellebain opened #2390 "Cancel Button Issue on Epic #756 Texting for Medical Appointments"
## What happened?
_Describe in detail what went wrong; screenshots, videos, or gifs are strongly encouraged_

The cancel button does not appear to clear the unsaved checked box in the pop-up. (The data does not save, so this defect is minor.)
1-	On the profile screen, start with an existing mobile number, but the text box unchecked.
2-	Click on Edit to open pop-up.
3-	Click on the text box
4-	Clic

[2019-10-11 14:31] Karak888 opened #2391 "Health Care Rewriting: Active duty service members"
@DanielleSoCompany commented on [Mon Apr 22 2019](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/18156)

## User story

As an active-duty service member, I need to know how and when I can transition to VA health care or other health benefits available to me after separation. As a service member returning from OEF/OIF/OND combat, it's also important that I know about my enha

[2019-10-11 14:33] Karak888 commented on #2391
Closing this one out (moved from vets.gov)

[2019-10-11 14:33] #2391 closed

[2019-10-11 14:36] ricetj commented on #2106
@tskinn can this guy get closed?

[2019-10-11 14:38] erikphansen commented on #2351
Are we talking about changing content on `/profile/` or on a static page that directs people to the Profile to update their direct deposit info?

[2019-10-11 14:41] ricetj commented on #1939
Talking to Boris next week.

[2019-10-11 14:45] erikphansen commented on #1135
@Rick-N-Thailand Just wanted to let you know that we are looking into this and trying to resolve the problem

[2019-10-11 14:45] Justin-Pickett commented on #2351
@erikphansen this will be for the static page that directs people to the profile to update their direct deposit info.  here - https://.va.gov/change-direct-deposit/

[2019-10-11 14:52] nedierecel commented on #1740
@erikphansen Good to see it is populating. Within Google Tag Manager, I have a lookup table that matches the `profile-section` and outputs a cleaner version.

I suspect there is a mismatch in one of the `profile-section` values where GTM might have an older value that doesn't match something in the code. I'll export that list for you and see where we can clean up the null value.

[2019-10-11 14:54] andreahewitt-odd opened #2392 "Product Support Issues -- Sprint 11"

[2019-10-11 14:59] jbalboni commented on #2149
Yeah, I think there's some language clashing happening on the word clinic. Using Pittsburgh as an example:

1. There's the Pittsburgh health care system (code 646), which is also a facility in an of itself.
2. There are a bunch of child facilities in that system, like the Beaver County VA Clinic (code 646GC)
3. Each facility has a bunch of "clinics" defined in the VistA system, with names like "BE

[2019-10-11 14:59] CrystabelReiter commented on #2331
@lichellebain Could you please paste a direct link or recommend a login to use so we can see the profile on staging? If not, a screenshot of every state of the experience can suffice. Thank you!

[2019-10-11 15:01] nedierecel commented on #2317
@lichellebain @elwoodva Thanks for the feedback.

1. This is how the data will appear in GA when a user opts in or opts out:

![image.png](https://images.zenhubusercontent.com/5b295b9ff378ea1890b3d77e/f69b1b83-a1e5-43ea-94cf-1a72cf94ae02)

Since the ^^ screenshot shows that the Interaction is the same as saving a mobile phone, this will aggregate both mobile phone saves and SMS optins/optouts and

[2019-10-11 15:03] erikphansen commented on #1740
@nedierecel oooohhh... that totally makes sense. but also kinda lame that Google wouldn't save the bad ID we are sending that doesn't match anything? let me know what you can find!

[2019-10-11 15:13] Karak888 commented on #2328
Closing this ticket out as scope has changed and this research is no longer needed.

[2019-10-11 15:13] #2328 closed

[2019-10-11 15:26] peterhill-oddball commented on #2008
[Kiwi](https://github.com/marketplace/kiwi-tcms) evaluation --

- [ ] Create and edit test cases within the software
- [ ] Create test plans in the software
- [ ] Integrate with GitHub -- details
- [ ] Link to User Stories / Requirements
- [ ] Log test case executions
- [ ] Create bug reports from the software
- [ ] Report on test case execution
- [ ] Customize workflow
- [ ] Customize reports
- [

[2019-10-11 15:26] elwoodva commented on #2317
I am not sure how it works exactly.  I see a table for ANALYTICS_FIELD_MAP that I think I could add the 'sms-optin' to and use that instead of 'mobile-telephone'   Would that work?  (I think the rest stays the same.)

[2019-10-11 15:27] elwoodva commented on #2317
...however, I'm not 100% positive about getting optin vs. optout but that should be possible.  I'd have to research more.

[2019-10-11 15:29] RLHecht commented on #2391
@peggygannon the other pages that I updated the links to this new page (nodes are in a comment above) were also saved as drafts and need to be reviewed and published.

[2019-10-11 15:37] jonwehausen commented on #2182
Hi @nedierecel ,

This is ready for your QA.

I setup a standalone tag for any generic file download...pdf, xlsx, jpg, etc.

I put in an exception to not fire this tag on the ebenefits/download-letters page.

[2019-10-11 15:39] jenniferlee-dsva commented on #1877
@Karak888 -  I'm updating this epic/issue with clarifying information. This epic is essentially a continuation of the WBC header/footer injection that began with VA.gov Nov 2018 launch.

Purpose is to provide a more consistent, unifying user experience on legacy subdomain areas of the VA website -- something.va.gov. This is in addition to (and on the way towards) much longer term solution of provi

[2019-10-11 15:40] lwalsh617 commented on #1510
@Karak888 @mnorthuis @jenniferlee-dsva - The recommendations are in the "Notes" column of the Word doc.

[2019-10-11 15:42] erikphansen commented on #1740
@nedierecel any of these stand out as looking wrong? https://github.com/department-of-veterans-affairs/vets-website/blob/42d254ca558f1a4179ec45b906665a79ce97e1ac/src/platform/user/profile/vet360/constants/index.js#L65-L76

[2019-10-11 15:42] Justin-Pickett commented on #2351
@erikphansen and @peggygannon  I'm okay with either. My main goal is we do whatever is easiest for us to implement in the shortest amount of time to have it on the page.

@lkoenigsberg or @Samara-Strauss  do you two have a specific preference if we use an alert box vs just static content for users to be informed about the direct deposit feature being in beta still?

[2019-10-11 15:44] tmcmurdo commented on #2381
@peggygannon To address the issue mentioned above, the BAH team is considering the following error message:
“Please enter a city, school or employer name.”

Please let us know if you would like us to modify it in anyway.Thanks!

[2019-10-11 15:48] peggygannon commented on #2351
@Justin-Pickett OK, thanks. I want to clarify that this should go on /change-direct-deposit/ and not /profile/? (above it says /profile/, so I want to double-check.

If it's the /change-direct-deposit page, I can make the update on that page in drupal once it's decided *how* the message would appear.

[2019-10-11 15:50] Justin-Pickett commented on #2351
@peggygannon yes it should be on the /change-direct-deposit/ content page.

[2019-10-11 15:57] lalexanderson-dsva commented on #2149
agreed @jbalboni that we should NOT use the word location, and stick with clinic.

[2019-10-11 16:03] nedierecel commented on #2317
Thanks @elwoodva - Ideally, we would like to distinguish, as long as it doesn't impact the `mobile` phone saves. Let me know what you find. Thanks!

CC: @jonwehausen - I'll draft more acceptance criteria for our QA after I edit Google Tag Manager.

[2019-10-11 16:04] lalexanderson-dsva commented on #2149
Suggested lang for this:

Title: Make a {toc} appointment at your last clinic:
Sub head: Your last [toc] appointment was at {clinic name} in this location:

{Facility name}
{Facility address}

[radiobutton] Yes, make my appointment here.
[radiobutton] No, I need a different location.

[2019-10-11 16:05] peterhill-oddball commented on #2008
TestRail evaluation --

- [ ] Create and edit test cases within the software
- [ ] Create test plans in the software
- [ ] Integrate with GitHub
- [ ] Link to User Stories / Requirements
- [ ] Log test case executions
- [ ] Create bug reports from the software
- [ ] Report on test case execution
- [ ] Customize workflow
- [ ] Customize reports
- [ ] Categorize / organize test cases beyond inclusio

[2019-10-11 16:13] Samara-Strauss commented on #2351
@Justin-Pickett @lkoenigsberg @erikphansen @peggygannon This is something design should have been involved with from the beginning. In the future, please make sure @artistgreen or I am involved to approve the overall user experience of any page updates. Copy updates go beyond "just" the words on the page (though the words are critically important) — we need to make sure users see messaging at a po

[2019-10-11 16:13] peggygannon commented on #2391
thanks, @RLHecht. I just checked the other 2 pages. they should go live  with today's deploy.

[2019-10-11 16:27] Justin-Pickett commented on #2351
@Samara-Strauss thanks for the help!

[2019-10-11 16:43] jbalboni commented on #2149
@lalexanderson-dsva What text do you want for the radio buttons for the clinics? Just the friendly name (or real name if that doesn't exist)? What about for the option at the end?

[2019-10-11 16:47] Kimberley2019 commented on #898
@YanaRoy
Good Afternoon,  Please see additional issues below.

Also, any updates on three days and times that you and your team are available so that I can set up a call with the customer and your team?

VA.gov Tech Support	191001-001801
My appeal from August 2019 is missing from VA.gov, what happened?  I havent heard anything yet. My appeal should be from August of 2019. It had said a decision ha

[2019-10-11 16:49] nathanhruby commented on #162
noting I did some work on adhocteam/script_exporter to get it upgraded as well since that seemed easy enough to do and needed doing (build was busted given current client libs, needed rebuild with newer golang to address security vulnerabilities, needed ci, etc..)

[2019-10-11 16:50] peggygannon commented on #1917
@rileyorr does the screenshot above different from the one that appears in the HLR mockup in this issue?   https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/2011

If not, then you can apply the content edits I provided in the mockup for this screen. So the into paragraph should read:

This is the contact information we have on file for

[2019-10-11 16:55] peggygannon commented on #1919
@rileyorr The screenshot above is different than the one that appears in the HLR mockup I reviewed earlier this week (https://vsateams.invisionapp.com/share/W5U21BDFTQK#/screens/386837701/comments)

can you tell me which screen is the most up to date?

cc @meganhkelley @YanaRoy

[2019-10-11 16:55] RLHecht commented on #2063
@jenniferlee-dsva I've input all your edits, which all work. I reworked the last bullet that you thought was awkwardly worded. Instead of adding an exceptions section, I added a line about checking the Word List to see what terms are already considered acceptable to capitalize. If you still think it needs the exceptions info, let me know—since we are explaining here that new terms shouldn't become

[2019-10-11 16:58] peggygannon commented on #1915
@rileyorr This screenshot is different than the one that appears in the HLR mockup I looked at earlier this week. ( https://vsateams.invisionapp.com/share/W5U21BDFTQK#/screens/386841005/comments)

Can you tell me which one is the most up to date version?

cc @meganhkelley @YanaRoy

[2019-10-11 17:01] markgreenburg opened #2393 "Make type of care selection ux more obvious"
As a veteran, I'm confused about how many things I'm supposed to pick from the type of care list because I see several categories - do I need to pick something from each?

AC
- [ ] UX & content makes it more clear / obvious to veterans that only one selection should be made.
- [ ] Grouping is the same
- [ ] Types of care use patient-friendly names from Andy's list

[2019-10-11 17:04] Karak888 opened #2394 "Audit of Subdomain Sites that currently do not have VA official header and footer"
Liz will make a list of subdomains that currently don't have our official header and footer.
- Will be note TeamSite template sites vs. weird custom file sites or sites that Platform team needs to take a closer look at.
- Will start with VHA area.
- Then other areas that appear in our About VA mega menu.

[2019-10-11 17:05] #2276 closed

[2019-10-11 17:40] meganhkelley commented on #2230
@peggygannon screenshots of the downtime banners have been gathered in #2208! Take a look and let me know if you think you'll have time to get to this in Sprint 10, or if it will need to continue into Sprint 11

[2019-10-11 17:45] Justin-Pickett commented on #2359
@nedierecel thank you! We'll coordinate soon next week on this matter.

[2019-10-11 17:53] erikphansen commented on #1740
@nedierecel GOT IT! I see a place where instead of a valid `profile-section` value that GA would understand we are accidentally sending numbers, like `0` or `1`. D'oh. I'll see if I can make that act more sensibly.

Just to leave a paper trail, the offending line is https://github.com/department-of-veterans-affairs/vets-website/blob/c53dec3228216b8cc58d12d44a91e2fff2ea3309/src/platform/user/profil

[2019-10-11 17:57] joanneesteban commented on #2186
Next Steps for future issue:
1) Reach out to Product Owners/Managers to:
    - [ ] grab links to updated KPI workshops
    - [ ] help determine any missing baselines
2) Wrangle GA metrics for baselines. Determine uncaptured GA metrics and begin process for capturing those.
3) Cross reference Top Metrics with Product Health Tool @amycesal
4) Begin looking into low-hanging fruit for uncaptured metri

[2019-10-11 18:01] peggygannon commented on #2351
@Justin-Pickett @lkoenigsberg @Samara-Strauss

Hello, please see updated content message below. Let me know your thoughts. I provided 2 options for a header. We've used the term "beta testing" before on other VA.gov tools, so I feel comfortable using it here. But I provided another option if you want to avoid using that term.

**The direct deposit feature is in beta testing on VA.gov**
OR
**We're

[2019-10-11 18:02] ricetj opened #2395 "Web Request"
Look into the web request form and start the process if this is something we can use.

[2019-10-11 18:10] peggygannon commented on #2381
@tmcmurdo Yes, that inline error works. per our style, we should add a comma after school (in the inline error and in the label).

Please enter a city, school, or employer name.

[2019-10-11 18:10] nedierecel commented on #1740
@erikphansen Great sleuthing - I also found another inconsistency - looks like `primaryTelephone` doesn't match what is set in Google Tag Manager as `primary-telephone` and similarly for `alternateTelephone` doesn't match `alternative-telephone`.

I'll update the GTM settings to match what you have in code. I suspect your find + this one _should_ clear that up.

[2019-10-11 18:14] erikphansen commented on #1740
@nedierecel so GTM is expecting `primaryTelephone` and `alternativeTelephone`?

[2019-10-11 18:20] markgreenburg opened #2396 "Sleep medicine content"
As a veteran, I want more information about the difference between home sleep testing and CPAP so that I can make an informed choice about the type of care I want to schedule.

Page to update:
<img width="817" alt="Screen Shot 2019-10-11 at 1 20 38 PM" src="https://user-images.githubusercontent.com/24251447/66674968-f2a19200-ec29-11e9-9ef1-8e7765c33eab.png">

New Content:

Choose the type of sleep

[2019-10-11 18:21] nedierecel commented on #1740
@erikphansen Sorry - I was zeroing my attention only on the camelCase version and failed to see the hyphen strings right next to it. Your find is the possible culprit then, and not what I had commented.

[2019-10-11 18:23] tmcmurdo commented on #2381
@hughes-dustin Seems like we'd want to add the extra comma to the label, as well. @dneel-bah would that be a different story?

[2019-10-11 18:27] markgreenburg opened #2397 "Clarify emergency content on 'reason for appointment' page"
We have received feedback that some veterans are booking 'emergency'-type appointments (e.g., chest pain) through vaos instead of going to a hospital / emergency room. To help push them in the right direction, we want to add content to the 'reason for appointment' page that clarifies VAOS is for non-emergency appointments.

Page to update:
![Reason For Appointment Page](https://user-images.githubu

[2019-10-11 18:32] Karak888 commented on #1794
@1Copenut what did we say we were going to do with this one>  Thanks

[2019-10-11 18:33] markgreenburg opened #2398 "Update Next / Previous month calendar UX"
As a veteran, I am confused about what the next / previous buttons do on the datepicker, because I don't know if those are meant to advance the form or advance the date on the current page.

AC
- [ ] Mocks for next / previous calendar interaction are updated and attached to this ticket.
- [ ] Veterans clearly understand the difference between the calendar controls and the form controls.

[2019-10-11 18:34] Karak888 commented on #1510
thanks @lwalsh617 Moving to close this, thanks!

[2019-10-11 18:34] Justin-Pickett commented on #2351
@peggygannon both work great for sure.  I think the best line to use is "We're testing out the direct deposit feature on VA.gov" , as I feel its pretty straight forward to the user to understand. It also keeps the user from needing to make an additional step in understanding what is going on with the feature during this beta phase.

 @Samara-Strauss any objections to that?

[2019-10-11 18:35] nedierecel commented on #2186
@joanneesteban Thanks for compiling!

In seeing them on one page, there may be a few KPIs that are common but not currently checked off for each team (e.g. *Decrease Errors* can apply to VAOS too)

[2019-10-11 18:36] Karak888 commented on #504
@andaleliz have you reviewed this and can we close it?

[2019-10-11 18:45] RLHecht commented on #1595
@peggygannon When you get the chance, can you review the style guide changes I've made in all the pages mentioned in the comments above and publish? Thanks!

[2019-10-11 18:50] Karak888 commented on #2051
maybe make 1506 a ticket but tbd

[2019-10-11 18:51] andaleliz commented on #504
@Karak888 Thanks for following up - Kelson is going to show me the validation process this afternoon. I'll let you know as soon as I'm done.

[2019-10-11 18:54] artistgreen commented on #1688
@peggygannon - Thank you!

I have updated the necessary screens with your copy/changes.

![Edit Address Overlay](https://user-images.githubusercontent.com/53535009/66676823-5c279d80-ec36-11e9-9926-d6e372d812f7.png)

![Address not recognized](https://user-images.githubusercontent.com/53535009/66676838-65186f00-ec36-11e9-924b-3dc1f584dd49.png)

![Address selected update](https://user-images.githubus

[2019-10-11 18:56] hughes-dustin commented on #2381
@tmcmurdo Are oxford commas part of our standards?

[2019-10-11 19:00] micahchiang opened #2399 "Add breadcrumbs to Rated Disabilities Page"
## User Story
As an end user, I want to see breadcrumbs on my rated disabilities page, so I have the option to easily navigate back to the page(s) I was on before rated disabilities.

## Considerations
- A side effect of switching from `page-react-sidebar.html` to `page-react.html` was the loss of the in-built breadcrumbs. There's a component that can be dropped in to our application that adds thi