[2022-03-29 20:02] nsoutouras commented on #38185
@DanielleThierryUSDSVA Is it possible to move that content doc into another space?  Part of the team is unable to access it.

[2022-03-29 20:08] kristenmcconnell commented on #38565
@benbrasso-agile6 I added the summary at the end of each day to the AC.
cc @zach-park and @ytsaoca

[2022-03-29 20:11] laineymajor opened #39314 "Investigating technical product issues"
**From Epic/Initiative:**
USER STORY: As a VFS team, I want to have a centralized location where I can perform and view status of core VFS tasks, allowing me to complete my work more efficiently.

BET: If VFS teams have a centralized location where they perform and view key engineering tasks, they will be able to more efficiently complete core VFS tasks.

DOD: Core VFS tasks relevant to the Releas

[2022-03-29 20:12] laineymajor opened #39315 "Measuring product performance, usage, and impact"
**From Epic/Initiative:**
USER STORY: As a VFS team, I want to have a centralized location where I can perform and view status of core VFS tasks, allowing me to complete my work more efficiently.

BET: If VFS teams have a centralized location where they perform and view key engineering tasks, they will be able to more efficiently complete core VFS tasks.

DOD: Core VFS tasks relevant to the Releas

[2022-03-29 20:12] laineymajor opened #39316 "Previewing and demoing products"
**From Epic/Initiative:**
USER STORY: As a VFS team, I want to have a centralized location where I can perform and view status of core VFS tasks, allowing me to complete my work more efficiently.

BET: If VFS teams have a centralized location where they perform and view key engineering tasks, they will be able to more efficiently complete core VFS tasks.

DOD: Core VFS tasks relevant to the Releas

[2022-03-29 20:12] laineymajor opened #39317 "Deploying code to lowers and to prod"
**From Epic/Initiative:**
USER STORY: As a VFS team, I want to have a centralized location where I can perform and view status of core VFS tasks, allowing me to complete my work more efficiently.

BET: If VFS teams have a centralized location where they perform and view key engineering tasks, they will be able to more efficiently complete core VFS tasks.

DOD: Core VFS tasks relevant to the Releas

[2022-03-29 20:14] bethpottsVADEPO commented on #27635
@lunascoop Thank you!!

[2022-03-29 20:16] bethpottsVADEPO commented on #39170
@Mottie Sorry, I overlooked the alert under **(5) Complete.** Does this new text meet the messaging needs?:

**We don't know yet when we'll be able to make a decision on your claim**
To decide your claim, we need to complete your in-person claim exam. But we don't know yet when we'll be able to schedule your exam. We stopped scheduling in-person claim exams because of COVID-19. Now we're starting

[2022-03-29 20:17] MarciMcGuireGCIO opened #39318 "Design - Auth Profile - Personal Info Revision - Create UAT Research Plan"
## Background
As a Designer I want to create a research plan and conversation guide for Personal Information Revision UAT so that I am organized and know what I will ask participants to do.

## Tasks
- [x] Create research plan
- [x] Review with PM
- [x] Share with PO

## Acceptance Criteria
- [x] Create research plan
- [x] Review with PM
- [x] Share with PO

## How to configure this issue
- Includ

[2022-03-29 20:26] grossb1 opened #39319 "Remove call to VAR in the V2 new appointment flow"
We are adding to logic to resolve the following issue:
https://app.zenhub.com/workspaces/vaos-team-603fdef281af6500110a1691/issues/department-of-veterans-affairs/va.gov-team/39301
This will need to be removed once var resources is sunset.

[2022-03-29 20:28] grossb1 commented on #39301
This associated ticket to remove this logic once VAR resources is sunset:
https://app.zenhub.com/workspaces/vaos-team-603fdef281af6500110a1691/issues/department-of-veterans-affairs/va.gov-team/39319

[2022-03-29 20:29] simiadebowale opened #39320 "Platform Orientation Template [Simi Adebowale]"
## Welcome and Introduction
Welcome to the Veteran's Administration (VA) Veteran Facing Services (VFS) team!
As a new VFS team member, you will be working in the web ecosystem we call the VA.gov Platform (or "**The Platform,**" for short).  The tasks on this list are designed to get you up to speed on the role of Platform, making it easier for you to do your job.

Because the VA is a huge organiza

[2022-03-29 20:32] shiragoodman opened #39321 "Update Platform Orientation to include adding new team member to vets.gov-write"
## User Story
As a VFS team member, I want to have an easy, minimal process for getting onboarded through Platform Orientation so that I can begin supporting my VFS team as soon as possible.

As a Governance team member, I want to be able to direct new VFS team members to 1 spot for getting onboarded through Platform Orientation so that the process is seamless and easy to follow.

- Intended Audie

[2022-03-29 20:33] shiragoodman commented on #39321
@chaseakirby @mchelen-gov FYI this ticket is still a work in progress, however I wanted to get it documented before departing for PTO. I will continue to modify this when I return on 4/4.

[2022-03-29 20:34] CBonade commented on #34851
Documentation was updated today and the standards compliance card has been added to all dashboards. The compliance status is checked and recalculated every day at midnight EST on a schedule, and then is re-imported into Domo at 7am EST to ensure each work day starts with updated information.

[2022-03-29 20:34] Mottie opened #39322 "CST: Make older updates button accessible"
## Description

When a claim has an initial review status, a "see older updates" button was found to be inaccessible. After discussing with the Design System Council a new pattern was established. Additionally, a content review of the page text was performed. Now we need to implement these recommendations

- Accessibility review: https://github.com/department-of-veterans-affairs/va.gov-team/issues

[2022-03-29 20:40] MarciMcGuireGCIO opened #39323 "Research - Auth Profile - MHV Research - Complete Synthesis & Deliver Final Report"
## Background

As a Researcher, I want to synthesize the results from my sessions with Veterans and deliver the final report of my findings so that we can determine the approach to take when migrating MHV profile into VA.gov Profile.

## Tasks
- [x] Synthesize research results
- [x] Compile final report
- [ ] Review final report with PM
- [ ] Deliver final report to PO

## Acceptance Criteria
- [x

[2022-03-29 20:46] denisecoveyduc commented on #31580
@RLHecht I just heard back from Jill and sounds like the privacy officers are accepting of the proposed changes so I think we are safe to close this one out. We are moving forward with the development work to set up this notification for Veterans.

[2022-03-29 20:47] shiragoodman commented on #38177
@jimuhh yes, I agree with after launch at the latest. This is just an interim solution until the new core template is launched, so I support your decision.

@chaseakirby can you please review Jim's changes?

[2022-03-29 20:49] denisecoveyduc commented on #38296
3/29- Jill has confirmed that the VBA privacy officers are content with the proposed copy for the FSR email notification. This issue is therefore unblocked and ready. cc: @ScottyRJames

[2022-03-29 20:49] humancompanion-usds opened #39324 "Platform Orientation Template Matthew Dingee"
## Welcome and Introduction
Welcome to the Veteran's Administration (VA) Veteran Facing Services (VFS) team!
As a new VFS team member, you will be working in the web ecosystem we call the VA.gov Platform (or "**The Platform,**" for short).  The tasks on this list are designed to get you up to speed on the role of Platform, making it easier for you to do your job.

Because the VA is a huge organiza

[2022-03-29 20:50] chaseakirby commented on #38177
@shiragoodman Yep! I agree since this is an interim solution. I can approve the PR so you can sign off for your PTO.
@jimuhh You can disregard my comment on the moderator script.

[2022-03-29 20:50] Mottie commented on #39170
The alert under (5) isn't part of the update, but I will gladly make that change.

[2022-03-29 20:52] Mottie commented on #39170
I forgot to add that the content after the date is provided by the API. I don't have any control over that content.

[2022-03-29 20:53] jimuhh commented on #38177
@chaseakirby Too late. I made the suggested change :wink:

[2022-03-29 20:55] chaseakirby commented on #38177
@jimuhh Working too fast for me to keep up with! Great job, I think it looks good. I went ahead and approved on the PR too.

[2022-03-29 20:58] tpharrison opened #39325 "BE - Auth Profile - Personal Information - Test CSP Identifier and Assigning Authorities"
## Background

When calling the VA Profile demographics API, the CSP ID is used instead of the VA Profile ID (Vet360 ID).

The two assigning authorities MPI requested to use are:
- PN^200IDME^USDVA
- PN^200VLGN^USDVA

## Tasks
- [x] Determine user field of CSP ID.
- [x] Determine user field for assigning authority ID.

## Acceptance Criteria
- [x] Verify with vsp-identity team that the correct att

[2022-03-29 21:03] mnorthuis commented on #38416
@nsoutouras thank you for meeting today.  Here are some brief notes from our discussion.

1) Entry points
    - By invite - Access to this process/flow will initially be via an opt in process, where users will have entry points from external and internal options such as emails, R&S articles, site banners, direct links, etc.
      - No links will be provided via sitewide navigation components (i.e.

[2022-03-29 21:03] loripusey opened #39326 "Create Web Application to allow Us to Create Appointments in VA Staging (MVP)"
## Problem Statement
As the CIE team, we need every member to have access to and be able to test the product in our preview/dev environment so that every member can contribute to the success and quality assurance for the product.

## Acceptance Criteria
- Create a Web UI to quickly create an appointment in staging for a specific user
    - Login with one UN/PW and only access to staging
    - Sele

[2022-03-29 21:03] loripusey opened #39327 "Create Script(s) to Set up Appointments to Facilitate Testing of PCI and CI"
## Problem Statement
As the CIE team, we need every member to have access to and be able to test the product in our preview/dev environment so that every member can contribute to the success and quality assurance for the product.

[2022-03-29 21:30] mmiddaugh opened #39328 "Analytics Feature Request"
# Analytics Feature Request/Bug Report

## What this form is for

Use this template to request an Analytics dashboard feature or report a dashboarding or Google Analytics/Google Tag Manager bug. This form is for enhancements to the existing KPI dashboards. If you have any analytics questions, please use the `/support` command on [#vfs-platform-support](https://dsva.slack.com/archives/CBU0KDSB1) ch

[2022-03-29 21:37] mnorthuis commented on #36844
Any of the times you suggested for Wed or Thurs works for me, so schedule away!

[2022-03-29 21:43] mmiddaugh opened #39329 "Analytics Feature Request/Bug Report"
# Analytics Feature Request/Bug Report

## What this form is for

Use this template to request an Analytics dashboard feature or report a dashboarding or Google Analytics/Google Tag Manager bug. This form is for enhancements to the existing KPI dashboards. If you have any analytics questions, please use the `/support` command on [#vfs-platform-support](https://dsva.slack.com/archives/CBU0KDSB1) ch

[2022-03-29 21:54] denisecoveyduc opened #39330 "[SW - PI3/23] Streamlined Waiver [MVP]"
[To Be Updated]

### High Level User Story/ies
As part of the President's initiative to support Veterans experiencing financial hardship we are simplifying the process for claiming medical debt forgiveness by streamlining the request process and offering instant determination for Veterans who meet the criteria.

### Scope of release

Main Enhancements

### Additional Details/Notes (optional)
*Any

[2022-03-29 22:04] humancompanion-usds commented on #39206
No immediate concerns. There was another suggestion that if the list is particularly long that it be replaced by a link to an additional page with the full history. We've got a [similar issue coming up ](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/677) where perhaps we can start to address the long list issue.

[2022-03-29 22:04] #39206 closed

[2022-03-29 22:05] tameracorson commented on #38903
![Screen Shot 2022-03-29 at 3.17.01 PM.png](https://images.zenhubusercontent.com/61856bab21cd5965714d703d/7b1a98d0-aa27-4c6b-a2c6-c86019243f41)

[2022-03-29 22:12] claytonzook commented on #39038
No actionable feedback for research at this time, but I will reiterate some comments from the meeting:
- Should test for mobile as well as desktop and seek users with phones that aren't just top of the line
- Should test a coded product with participants who use a variety of assistive tech with various comfort levels.
- Consider participant representation, and even consider over-sampling historica

[2022-03-29 22:36] brianseek commented on #39012
Created [PR in the design system](https://github.com/department-of-veterans-affairs/component-library/pull/337) and [support ticket](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/680)

[2022-03-29 22:52] mlauren opened #39331 "SOCKS access for Mary (Lauren) Maxwell"
### Your Name

Mary Lauren Maxwell

### Your Email

lauren.maxwell@adhocteam.us

### Your Role

Software Engineer III

### Public SSH Key

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC61OAZ2e1P8s10Cuhm7d6dF0fMmcgaoediwpMLutkAI3hNb1jhw3vlwCCQjBBur4byI1c+nSgVhPXJzrWC4xb7hiMbks3Xsf2pPU9Y0kGTTO09RZfvINaD2hXUKQnddG6dvqU7SsJ/JFXzkb3T4EKSFn7xYyyLz3xa9nEQ8L6S77iRz6eKDDxxN/SgqmFgBqpCMLq+F0MH2Box20SnFInNZYx4YEQUN

[2022-03-29 22:53] mlauren commented on #39331
There was a previous request I made last week for PC access. Please revoke access to this PC if needed.

[2022-03-29 22:59] #35372 closed

[2022-03-29 23:01] #37835 closed

[2022-03-29 23:04] #34483 closed

[2022-03-29 23:35] brianseek commented on #37603
@zach-park since we are pausing on edit, I think we should park these changes for now. @loripusey Should we go ahead and close these tickets? I am making note of the incomplete UX review items for the edit notes.

[2022-03-29 23:37] brianseek commented on #38246
Thanks @zach-park! I'm capturing these notes for when/if we pick back up on edit. One thing to note for future reference, the vertical line on the error fields goes away at mobile screens sizes. That's why it is missing.

[2022-03-30 00:17] madebydna opened #39332 "Gain clarity of which API routes new domain needs to serve"
## Issue Description
As a result of the separation of the Lighthouse (LH) API from the new VA.gov API (vets-api), the new domain will likely serve fewer or different API routes. The purpose of this research ticket is to gain clarity on which routes exactly need to be supported.

The current hypotheses are:
1. API requests that do NOT start with `/services` or `/internal` are and will remain to be

[2022-03-30 00:18] madebydna opened #39333 "Gain clarity of which API routes new domain needs to serve"
## Issue Description
As a result of the separation of the Lighthouse (LH) API from the new VA.gov API (vets-api), the new domain will likely serve fewer or different API routes. The purpose of this research ticket is to gain clarity on which routes exactly need to be supported.

The current hypotheses are:
1. API requests that do NOT start with `/services` or `/internal` are and will remain to be

[2022-03-30 00:18] #39333 closed

[2022-03-30 00:24] robbie1226 opened #39334 "Adding Michael Wallace to DSVA Slack"
**new user requests**: please verify that the user does not already exist in dsva.slack.com (it may be the account exists, but is not in a particular channel)

Requesting to add Michael Wallace ([Joseph.Wallace@va.gov](mailto:Joseph.Wallace@va.gov)) as a full member to DSVA Slack. He will be working as a VA Data Analyst.

Please add to the channels
#digital-health-platform-public

[2022-03-30 00:53] patrickvinograd commented on #39332
Your categorization seems correct to me! But of course the more eyes the better.

Another way of thinking about this is that LH is currently agnostic to where APIs are implemented. So end state is that Apigee gateway will route to many API implementations - and vets-api just happens to be one of those, just as DVP, and VA Profile are.

**Longer term** the vets-api APIs in category 2 might be good

[2022-03-30 00:56] madebydna opened #39335 "Coordinate Nginx revproxy migration efforts to K8s with VSP Ops team"
## Issue Description
Currently, the VSP Ops team is in the process of migrating the existing version of the revproxy to Kubernetes into the different environments. The version in the dev environment is close to being functional.

However, the Nginx revproxy might end up being either substantially reconfigured or even replaced as part of the CIT team’s work of separating va.gov from the Lighthouse

[2022-03-30 06:14] tlei123 opened #39336 "[TR ref] 1010EZ-ShortForm - Link to Use Case A"
This ticket links all TestRail HCA-SF test-case **[C15863](https://dsvavsp.testrail.io/index.php?/cases/view/15863)** to 1010EZ (HCA) Short-Form **[Use Case A (Authenticated / Disability 50% +)](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/application/va-application/product/Short-form-use-cases.md#use-case-a)**.

[2022-03-30 06:14] #39336 closed

[2022-03-30 06:17] tlei123 opened #39337 "[TR ref] 1010EZ-ShortForm - Link to Use Case B"
This ticket links all TestRail HCA-SF test-case [C15864](https://dsvavsp.testrail.io/index.php?/cases/view/15864) to 1010EZ (HCA) Short-Form [Use Case B (Authenticted / Disability rating of 40%)](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/application/va-application/product/Short-form-use-cases.md#use-case-b).

[2022-03-30 06:17] #39337 closed

[2022-03-30 06:19] tlei123 opened #39338 "[TR ref] 1010EZ-ShortForm - Link to Use Case C"
This ticket links all TestRail HCA-SF test-case [C15865](https://dsvavsp.testrail.io/index.php?/cases/view/15865) to 1010EZ (HCA) Short-Form [Use Case B (Unauthenticated / Self Reports Disability rating of 50% +)](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/application/va-application/product/Short-form-use-cases.md#use-case-c).

[2022-03-30 06:19] #39338 closed

[2022-03-30 06:22] tlei123 opened #39339 "[TR ref] 1010EZ-ShortForm - Link to Use Case D"
This ticket links all TestRail HCA-SF test-case [C15866](https://dsvavsp.testrail.io/index.php?/cases/view/15866) to 1010EZ (HCA) Short-Form [Use Case D (Unauthenticated flow / less than 50% disability rating)](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/application/va-application/product/Short-form-use-cases.md#use-case-d).

[2022-03-30 06:22] #39339 closed

[2022-03-30 06:44] tlei123 commented on #38031
@ddzz , was the placeholder QA-artifact section/links deleted from the Stg Rvw ticket _template_ , or did someone delete it from just this ticket-instance?

Anyway, QA test-runs completed.  TR links are below:

- [Test Plan](https://dsvavsp.testrail.io/index.php?/plans/view/3094)
- [Test Cases](https://dsvavsp.testrail.io/index.php?/suites/view/11&group_by=cases:section_id&group_order=asc&display_

[2022-03-30 06:48] tlei123 commented on #38104
@SKasimow , QA test-runs now completed.  QA-artifact links are below [and also in [Stg Rvw tic](https://github.com/department-of-veterans-affairs/va.gov-team/issues/38031)]:

- [Test Plan](https://dsvavsp.testrail.io/index.php?/plans/view/3094)
- [Test Cases](https://dsvavsp.testrail.io/index.php?/suites/view/11&group_by=cases:section_id&group_order=asc&display_deleted_cases=0&group_id=4151)
- [Co

[2022-03-30 06:49] tlei123 commented on #38104
Once merged into master branch, run another round of tests in Staging against more devices/browsers.

[2022-03-30 11:42] ph-One commented on #38876
https://github.com/department-of-veterans-affairs/vets-api/pull/9437 Inefficient code removed to ease load

https://github.com/department-of-veterans-affairs/devops/pull/10976 vets-api server tuned

https://github.com/department-of-veterans-affairs/devops/pull/10975 vets-api server scaling policy updated

https://github.com/department-of-veterans-affairs/devops/pull/10978 vets-api worker instances

[2022-03-30 12:25] loripusey commented on #37603
@brianseek @zach-park I think we should finish up what work we have for the ticket that we can complete this sprint, but if there is any follow-on work let me know and I'll create a new ticket so we can capture the work if and when we pick it up later

[2022-03-30 12:38] allison0034 commented on #39038
[Zoom recording](https://us06web.zoom.us/rec/share/6Z4BOMu7PZeW2Ot7_iaF79zYMXZ1Ljp_C6bAIu_gN0GngHdGYSpyj8dWonc35kyQ.bN60Thz4JK4YYWdj ) and Passcode: Ra#5=#j&

[2022-03-30 12:46] loripusey commented on #38836
@zach-park thanks for the clarification, I understand now.

[2022-03-30 12:49] allison0034 commented on #38031
@tlei123 is it correct that we need socks to view the instance? If so how do we install socks?

@SKasimow for the sake of time can you provide screen shots temporarily? Content and design can work off of those.

[2022-03-30 12:57] #39196 closed

[2022-03-30 12:57] #39197 closed

[2022-03-30 12:57] #39198 closed

[2022-03-30 12:58] allison0034 commented on #38376
@hdjustice are the payments down again?

We can’t access any claims or appeals information right now
We’re sorry. Something went wrong on our end. If you have any claims or appeals, you won’t be able to access your claims or appeals information right now. Please refresh or try again later.

cc @chaseakirby

[2022-03-30 13:08] allison0034 commented on #38376
@hdjustice that is under the notifications section. Are we reviewing that as well or is that a separate staging review?

And just to be clear, that would mean we are only reviewing the content for the Benefit payments and debts section on MyVA correct?

[2022-03-30 13:09] #38008 closed

[2022-03-30 13:17] pjhill opened #39340 "Generate CSV of Errors from Daily A11y Scan"
# Description
Per a feature request in this [thread](https://dsva.slack.com/archives/C01RAS1KAQK/p1648642332871699?thread_ts=1648463608.903769&cid=C01RAS1KAQK), generate a CSV of errors resulting from the daily accessibility scan.

# Tasks
- [ ] Modify the daily accessibility scan workflow to generate a CSV of the errors detected during the scan
- [ ] Attach the CSV to the GHA workflow as an artif

[2022-03-30 13:19] rmtolmach commented on #39331
@mlauren, access granted ✅
The previous SSH key associated with your email address has been replaced with this MacBook key.

[2022-03-30 13:19] #39331 closed

[2022-03-30 13:23] hdjustice commented on #38376
@allison0034 - It appears that there is an issue pulling claims information, but this does not impact the Benefit payments and debts section.  The Notifications section at the top is a separate feature that is not ready for review.

[2022-03-30 13:28] MarciMcGuireGCIO opened #39341 "FE - Auth Profile - Notification Preferences - Update content on FE"
## Background

As a FE engineer, I want to update the content on the Notification Preferences page to match the mock-ups so that they are consistent and contain the correct verbiage.

## Tasks
- [ ] Update the content on the Notification Preferences page to match the latest mock-ups
- [ ] Deploy to Staging
- [ ] Update PM & PO when they are ready for review

## Acceptance Criteria
- [ ] Update the

[2022-03-30 13:31] #38828 closed

[2022-03-30 13:32] allison0034 commented on #38376
@hdjustice perfect... thank you!

[2022-03-30 13:36] tameracorson commented on #39020
input ticket here: https://vajira.max.gov/servicedesk/customer/portal/12/create/568

Sample form:
![image.png](https://images.zenhubusercontent.com/61856bab21cd5965714d703d/550e4ebf-73aa-4aa7-999b-f10c9c955e3e)

[2022-03-30 13:45] MarciMcGuireGCIO opened #39342 "FE - Auth Profile - Bad Address Indicator - Build UI for designs within the desired profile views"
## Background

Build UI for the "bad address" indicator to alert and encourage users to check and/or update their mailing address when they are flagged as such by the BE.

## Tasks
- [x] Create feature toggle
- [x] Build UI for designs within the desired profile views
- [x] Deploy to Staging
- [x] Conduct all unit and e2e tests
- [x] Create a BAI check in Redux store
- [x] Display alert based on c

[2022-03-30 13:47] #37870 closed

[2022-03-30 13:51] hdjustice opened #39343 "[Design] My VA - Audit: Review page-level alerts placement"
## Background
During testing for the new Benefit payments and debts section, there was an error for the claims and appeals section.  While the page was displaying accurately, it brought to mind that we should address this to ensure page-level alerts are populating as expected.

The **Claims and appeals** alert displays _below_ the Notifications header, when the Notifications header is present.  Ot

[2022-03-30 13:52] MarciMcGuireGCIO opened #39344 "FE - Auth Profile - Bad Address Indicator- Verify same address update functionality"
## Background
As a FE engineer, I want to verify that sending an update with the same address (edge case where user's flagged address is actually correct) will clear out the bad address flag in the VA Profile database and no longer be flagged as invalid.

## Tasks
- [x] Test sending the same address in an update and verify that the flag is removed

## Acceptance Criteria
- [ ] Test sending the sam

[2022-03-30 13:54] MarciMcGuireGCIO opened #39345 "Practice Area - Auth Profile - [Project] - [Issue Name]"
## Background
As a FE engineer, I want to verify that sending an update with a different address will clear out the bad address flag in the VA Profile database so that it is no longer be flagged as invalid.

## Tasks
- [ ] Test sending a new address in an update and verify that the flag is removed

## Acceptance Criteria
- [ ] Test sending a new address in an update and verify that the flag is rem

[2022-03-30 13:56] MarciMcGuireGCIO opened #39346 "FE - Auth Profile - Bad Address Indicator- Unit and e2e tests"
## Background
As a FE engineer, I want to conduct all unit and e2e tests to verify that my code is valid and passes required tests.

## Tasks
- [ ] Conduct all unit and e2e tests

## Acceptance Criteria
- [ ] Conduct all unit and e2e tests

## How to configure this issue
- Include practice area in title -- e.g., [Design], [FE], [BE]
- Include project/initiative name - e.g., Auth Profile: Address C

[2022-03-30 13:59] rjohnson2011 commented on #37894
Made changes to the `e2e_code_coverage` schema to include a product_id, and populated this field through the `E2ECodeCoverage` class within `qa-standards-dashboard-data`.

Created queries for each of the respective reports
- Lines
- Branches
- Statements
- Functions

which are available on the [QA Dashboard Playground](https://va-gov.domo.com/page/2029506124) (preview):
![image.png](https://images

[2022-03-30 13:59] MarciMcGuireGCIO opened #39347 "FE - Auth Profile - Bad Address Indicator - Create check for BAI in Redux store, display alert"
## Background
As a FE engineer, I want to create a check that resides in Redux store and display alert based on check so that I can verify that the alert is being displayed under the right conditions.

## Tasks
- [ ] Create a check in Redux store
- [ ] Display alert based on check
- [ ] Test to confirm alert appears under right conditions

## Acceptance Criteria
- [ ] Create a check in Redux store

[2022-03-30 14:00] humancompanion-usds commented on #39220
Mike - I had to complete a VA training on TMS for Privacy and Security awareness and the due date was a few days after I signed into TMS for the first time. Not sure if that was coincidence or by design. The Welcome doc covers getting into TMS but doesn't mention needing to complete a training right away. The Welcome handbook might be the better place for it (cc: @eunicegar) but I thought I'd ment

[2022-03-30 14:03] MarciMcGuireGCIO opened #39348 "Design - Auth Profile - Update Direct Deposit Sketch files to reflect what is in staging + prod"
## Background
Liz noted in a [Slack thread](https://dsva.slack.com/archives/C909ZG2BB/p1646671685108269) that the Sketch files for Direct Deposit do not match what is currently in Prod.

## Tasks
- [x] Update Sketch files to match what is currently coded out (reflected in staging + production)

## Acceptance Criteria
- [x] Update Sketch files to match what is currently in (reflected in staging + p

[2022-03-30 14:14] kylesoskin opened #39349 "Demo prep"
Preparing for demo, running through it and cleaning up the page a little bit.

[2022-03-30 14:14] kylesoskin opened #39350 "Demo prep"
Preparing for demo, running through it and cleaning up the page a little bit.

**Done When:** Demo is over

[2022-03-30 14:18] hdjustice commented on #38801
Met with VA Notify team on 3/29.  **[Meeting notes](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/notifications/vagov-notifications/mvp/product/Mtg%20Notes%203-29-22:%20VA%20Notify%20%26%20AE%20bi-weekly%20sync.md)** saved in GH folder.

[2022-03-30 14:18] #38801 closed

[2022-03-30 14:21] Mottie commented on #39170
Actually @bethpottsVADEPO, the "Correspondence" part of the sentence is from the type of file that was uploaded. Maybe it'd be better to switch that out with the actual file name, e.g. "some_file.pdf".

[2022-03-30 14:25] kylesoskin opened #39351 "RFC: AMT integrators can describe fine-grained permissions using JSON"
Add to the "design section" of the Gherkin + Auth RFC.

**RFC Link:** https://vfs.atlassian.net/wiki/spaces/AMT/pages/2142011842/RFC+6+Permissions+described+in+Gherkin+will+enable+more+contributors+to+participate?src=mail&src.mail.action=view&src.mail.notification=com.atlassian.confluence.plugins.confluence-mentions-plugin%3Amention-created-notification&src.mail.recipient=8a7f808a7ee01030017ee0324

[2022-03-30 14:26] OptionSelect opened #39352 "[MCP] - HTML Statements - On This Page Component Does Not Navigate to Section"
## What happened?
Clicking links in on this page does not take you to the appropriate section of the page.

## Desired behavior
Clicking links in on this page **should** take you to the appropriate section of the page.

## Acceptance Criteria
- [ ] Links navigate properly

## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to Epic** (wh

[2022-03-30 14:27] kylesoskin opened #39353 "Write Backstage Authorization Plugin guidance RFC"
Need to write an RFC for how people can/should authenticate in keycloak from within a console UI plugin (front-end plugin)

**Done when:** There is a confluence page with this RFC

[2022-03-30 14:32] allison0034 commented on #38376
@hdjustice I just want to say thank you for the easy to follow test account document. It was REALLY helpful!

[2022-03-30 14:40] mchelen-gov opened #39354 "[OCTO-DE Crew Onboarding]: Ray Wang"
### What OCTO-DE Crew is the team member joining?

Platform

### What OCTO Community of Practice is the team member part of?

Product

### Has user received VA.gov email address?

- [x] User has @va.gov email address

### VA Email Address

gang.wang@va.gov

### Has user been added to Department of Veterans Affairs Github Organization?

- [x] User is member of Github org

### Github Username

@Rayw

[2022-03-30 14:51] hdjustice commented on #38376
@allison0034 You are quite welcome, thank you!

[2022-03-30 14:53] MarciMcGuireGCIO commented on #39158
All tickets have been created.

[2022-03-30 14:53] #39158 closed

[2022-03-30 14:56] zach-park commented on #38246
Hi @brianseek , just wondering, what resolution was the screen captured at? I was curious because the VA profile staging seems to show in the 320 widths responsive. I'm not sure if this ticket will be parked, but I wanted to mention it so that it can be followed up. Thank you!

[2022-03-30 14:59] #35991 closed

[2022-03-30 14:59] mleclerc00 opened #39356 "[EKS] Migrate external-dns to helm from jsonnet"
## Description
In continuing efforts to rid ourself from jsonnet, I am going to pick off external-dns and move it over to deploying via the helm chart.

https://github.com/bitnami/charts/tree/master/bitnami/external-dns

---
## Tasks
- [x] Deploy external dns using the helm chart in staging (less people using this environment currently)
- [x] Update external-dns to the latest version
- [x] Point a

[2022-03-30 15:03] #39057 closed

[2022-03-30 15:19] michelle-dooley commented on #39187
Hi @SKasimow thanks for your submission.  Can you please complete the google template with the page urls  you would like added.   Or just add here if that is easier...

[2022-03-30 15:36] npeterson54 opened #39357 "Documentation for deployment status API"
**BLOCKED BY #38458**

## AC
Documentation is provided to VSP developers which will provide instruction on how to use this.

To Do's
- [ ] Confluence
- [ ] Open API Docs

[2022-03-30 15:38] SgardnerPMP opened #39358 "[SW-Content] Create R&S article comparing DEA to Fry [CW]"
## Story
As a Veteran I need information in an R&S article comparing DEA to Fry, so I can best understand the differences and benefits of each.

## Resources
See Document attached below

## Task(s)
- [x] Use the content in the attached doc to create the page.
- [x] Save to draft in Drupal
- [ ] Have Full editing review

## Acceptance Criteria
*  Draft fully edited and processed for OCTO review.

[2022-03-30 15:38] #36334 closed

[2022-03-30 15:38] #36880 closed

[2022-03-30 15:40] reblg opened #39359 "AWS access for Rebecca Green"
### COR Name

Cecila Lee

### Vendor Onboarding Representative Name

Liberty IT -  Michael G. Lovejoy

### Your Name

Rebecca Green

### Your Email

rebecca.green@thoughtworks.com

### Your Team, Role, and Company

Digital Health Platform (DHP) Team, Developer, Thoughtworks

### Desired AWS Access

Copy permissions from @yonidoronpeters

### Access Expiration

ongoing

[2022-03-30 15:40] #32186 closed

[2022-03-30 15:42] lianilychee commented on #37281
link from "tools and resources" pointing to README file, and then this page can go away

[2022-03-30 15:43] #35556 closed

[2022-03-30 15:44] rmtolmach commented on #39221
/request Homer Simpson

[2022-03-30 15:47] #37854 closed

[2022-03-30 15:50] #37004 closed

[2022-03-30 15:50] #37002 closed

[2022-03-30 15:52] #34688 closed

[2022-03-30 15:56] SKasimow commented on #38031
@allison0034 Hi Allison - yes I will send you screenshots. Lisa issuing to take screen grabs directly from the Review Instance so as soon as I get them will put in a doc and share.

[2022-03-30 15:57] sarahknoppA6 commented on #38240
we have a knowledge transfer session set up for mark's full auth work on 4/1 with the engineers.

[2022-03-30 15:58] SKasimow commented on #39187
Hi @michelle-dooley - yes I started to work on this and wasn't able to finish yet. By chance, do you have the original spreadsheet?

[2022-03-30 16:01] sarahknoppA6 commented on #37895
@randomsync can you provide an update on the status of this ticket, please?

[2022-03-30 16:03] benbrasso-agile6 commented on #37604
No comments from me. Doesn't look like this task was started.

[2022-03-30 16:07] #38783 closed

[2022-03-30 16:18] #35555 closed

[2022-03-30 16:20] DanielleThierryUSDSVA commented on #36844
Hi @rileyorr! I just put a hold on my calendar for tomorrow from 2 - 3 p.m. ET. If that works (either half hour or hour), feel free to send an invite. Thanks!

[2022-03-30 16:29] RLHecht commented on #34491
@GnatalieH As part of this audit we discovered that the error message dictionary in the style guide has an incorrect phone number that we need to update. We also want to replace (or remove for now) the screenshot that's at the top of the [error message style guide](https://design.va.gov/patterns/messaging-error-messages) since there's a typo and it's also a pretty old alert that doesn't meet our s

[2022-03-30 16:29] michelle-dooley opened #39361 "Internal - Authenticated Experience Edge Case"
## Issue Description
This ticket is for internal team communication regarding the Authenticated Experience edge case.

https://github.com/department-of-veterans-affairs/va.gov-team/issues/31302

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---

[2022-03-30 16:30] mchelen-gov commented on #39220
@humancompanion-usds This is great feedback! Those steps are part of the OCTO onboarding that occurs prior to Platform Crew onboarding, asking Eunice & Lacey where to best direct this: https://dsva.slack.com/archives/C02KGB6LU7N/p1648657755394109

[2022-03-30 16:31] michelle-dooley commented on #39361
@pavanhothi is leading.  We have a meeting scheduled on 4/4 with @michelle-dooley @pavanhothi @jonathan-epstein13 and @chloedotbrown to discuss findings and next steps.

[2022-03-30 16:31] ScottyRJames opened #39362 "Deploy and validate production API key change"
## Issue Description
Plan to deploy on regular devops cycle on Wednesday (4/6) at 4pm ET for API header name change. Validate no issues in prod.

---
## Tasks
- [ ] Sync with liberty team on deployment process
- [ ] Check with sentry over following time period

## Acceptance Criteria
- [ ] API key name has deployed and no issues found.
---
## How to configure this issue
- [ ] **Attached to a Miles

[2022-03-30 16:33] ScottyRJames opened #39363 "Update staging FSR template with new copy"
## Issue Description
Copy for FSR notification has been approved and should update staging template to reflect prod.

---
## Tasks
- [x] Log into VA Notify portal and update template

## Acceptance Criteria
- [ ] New staging template matches prod template

---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to an Epic** (what body of

[2022-03-30 16:37] #38371 closed

[2022-03-30 16:38] #37321 closed

[2022-03-30 16:39] DanielleThierryUSDSVA commented on #38185
Hi @nsoutouras. I'm attaching the latest version of the doc here for reference. But ideally, we'll want to work in a shared doc. Team members should be able to access it as long as they're on the VA network. Do folks not have access to the network?

[identity content changes_03.30.22](https://app.zenhub.com/files/133843125/c05d0503-3271-492a-bfda-278777cb92fe/download)

[2022-03-30 16:40] patrickvinograd opened #39364 "Determine whether to refactor vets-api endpoints into a Rails engine"
Decision doc PR:
https://github.com/department-of-veterans-affairs/va.gov-team/pull/38731

[2022-03-30 16:41] mmiddaugh commented on #26770
See also
- [VSA UX Transition document](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/facility-locator/product-transition-doc/vsa-ux-transition-doc.md) | March 2022
- [VA health connect communications feature doc](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/facility-locator/product-transition-doc/feature-docs

[2022-03-30 16:42] SgardnerPMP commented on #21864
3/30/22 - Product team needs to engage and complete before Content can proceed.  Added Label and assigned to R. Garrison for visibility.

[2022-03-30 16:42] madebydna commented on #39332
@patrickvinograd, thanks so much for your input! The [explainer doc](https://vfs.atlassian.net/wiki/spaces/ECP/pages/1907523684/Explainer+-+VA.gov-Lighthouse+Overlap) lists various cases of code interdependencies between LH and vets-api. For instance, the Benefits Intake API is a LH API that is implemented in vets-api but otherwise pretty standalone in that it doesn't share any code with other vet

[2022-03-30 16:43] ndsprinkle opened #39365 "Platform Release Tools VFS Support - PR Reviews Sprint 75"
## Details

Add PRs to this epic during Sprint 75 any time you...
* Approve a PR
* Leave comments on a PR
* Request changes on a PR

Add PRs from...
* VFS teams
* Other VSP or Platform Crew teams

DO NOT add PRs from...
* Platform Release Tools team

[2022-03-30 16:43] mmiddaugh commented on #34022
See also:
-[Lovell initiative brief](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/facilities/medical-centers/product/lovell-initiative-brief.md)
- [VSA UX Transition document](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/facility-locator/product-transition-doc/vsa-ux-transition-doc.md) | March 2022
- [Lovell federal

[2022-03-30 16:45] OptionSelect opened #39366 "[CDP] - Create Overview Page"
## Create Initial Page
![image.png](https://images.zenhubusercontent.com/61fc34bdeb6088eace717afe/a097c9ec-e7eb-4962-82c3-3b4a48c706ef)

https://preview.uxpin.com/29cd8f525781fa231d16f5b50905ad15a99cbf01#/pages/148519709/simulate/no-panels?mode=i
## Acceptance Criteria
- [ ] Page exists with header

## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [

[2022-03-30 16:45] OptionSelect opened #39367 "[CDP] - Create Overview Page"
## Create Initial Page
![image.png](https://images.zenhubusercontent.com/61fc34bdeb6088eace717afe/a097c9ec-e7eb-4962-82c3-3b4a48c706ef)

https://preview.uxpin.com/29cd8f525781fa231d16f5b50905ad15a99cbf01#/pages/148519709/simulate/no-panels?mode=i
## Acceptance Criteria
- [ ] Page exists with header

## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [

[2022-03-30 16:45] SgardnerPMP commented on #24996
Added label for Claims and Appeals and Product team member for visibility.

[2022-03-30 16:45] #38684 closed

[2022-03-30 16:46] SgardnerPMP commented on #26625
Tammy will have to be contacted on regular cadence to engage.

[2022-03-30 16:47] OptionSelect opened #39368 "[CDP] - Create Feature Flag for Combined Portal Overview Page"
## Desired behavior
Overview page is hidden for all but specific users while in development

## Acceptance Criteria
- [ ] Overview page is hidden for all but specific users while in development

## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to Epic** (what body of work is this a part of? possibly `Ongoing Maintenance`)
- [ ] **Labe

[2022-03-30 16:47] SgardnerPMP commented on #29615
@RLHecht will send follow up email 3/30 to engage stakeholders.  Still in blocked.

[2022-03-30 16:52] SgardnerPMP commented on #34123
This page is required and creates a dependency to Ticket #33349.   Please associate both and complete at the same time.

[2022-03-30 16:53] jbritt1 commented on #36132
Think this can be closed as any member of the [vfs-vaos](https://github.com/orgs/department-of-veterans-affairs/teams/vfs-vaos) GitHub team can submit pull requests to the `devops` repository.

[2022-03-30 16:53] SgardnerPMP commented on #33349
Added dependency to Ticket #34123.

[2022-03-30 16:55] mmiddaugh commented on #21781
See also
- [Initiative brief](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/facilities/medical-centers/product/vamc-vha-mobile-redesign/initiative-brief.md)
- [VSA UX Transition document](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/facility-locator/product-transition-doc/vsa-ux-transition-doc.md) | March 2022
- [Mob

[2022-03-30 16:55] OptionSelect opened #39369 "[CDP] - Establish API Calls for Data to Render"
## Objective
![image.png](https://images.zenhubusercontent.com/61fc34bdeb6088eace717afe/dbc5c9a4-21a0-4d2f-bdbb-d6e522bb1e63)

https://preview.uxpin.com/29cd8f525781fa231d16f5b50905ad15a99cbf01#/pages/148519709/simulate/sitemap?mode=i

Determine requests needed to display necessary data for components on page.

## Acceptance Criteria
- [ ] Page data being retrieved successfully

## How to configur

[2022-03-30 16:56] djfredvs commented on #38759
Go Live Date 4/1/2022

[2022-03-30 16:57] djfredvs commented on #38397
No response closing this issue

[2022-03-30 16:57] #38397 closed

[2022-03-30 16:57] SgardnerPMP commented on #35326
@RLHecht  to reach out to Kevin Walsh to get insight on if this is backend or fronted work to complete Table headers have to be resolved at the same time.  See platform or Public websites for update.

[2022-03-30 16:59] SgardnerPMP commented on #35495
@SgardnerPMP to create review and publish ticket for DT and move this to Validate.

[2022-03-30 17:02] OptionSelect opened #39370 "[CDP] - Create What If Questions Section"
## Objective
![image.png](https://images.zenhubusercontent.com/61fc34bdeb6088eace717afe/eed9571c-9c0d-47a5-917b-a31b32a328cd

Create `What if I have questions` content for Combined Portal Page.

## Acceptance Criteria
- [ ] Content displays correctly

## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to Epic** (what body of work is thi

[2022-03-30 17:03] #39352 closed

[2022-03-30 17:05] sporeboy commented on #39026
The "Check your VA claim or appeal status" link in the text goes here: https://www.va.gov/claim-or-appeal-status/

[2022-03-30 17:05] lianilychee opened #39371 "Twice-weekly Platform website deploy (M)"
# User story

As a Platform customer, I need to view up-to-date info on the Platform website so that I don't run into roadblocks when building my VFS app.

As a Platform team member, I need the Content team to regularly publish any/all changes to the Platform website so that I can trust that info about my Platform product/service is available to customers.

# Tasks

- Use SVP to publish on:
  - [x

[2022-03-30 17:06] lianilychee commented on #38370
pending sme response

[2022-03-30 17:07] loripusey commented on #37609
De-prioritizing this ticket as it appears to not have been started and is now de-prioritized. Refer to slack [thread](https://dsva.slack.com/archives/C02GXKL8WM6/p1648655991431639).
cc: @sarahknoppA6 @zach-park @mdewey

[2022-03-30 17:09] zachclarity commented on #39121
Limiting this to key Single Point of Failure and Monitor triggers.

[2022-03-30 17:11] Dr-Pongo opened #39372 "[CDP] Create debt and bill overview sections and card components"
## Issue Description
Create debt and bill overview sections and card components
[Mockup](https://preview.uxpin.com/29cd8f525781fa231d16f5b50905ad15a99cbf01#/pages/148307609/simulate/sitemap?mode=i)

![image.png](https://images.zenhubusercontent.com/61f96bcb96295709970afb65/c0d1be9e-712d-4ff1-9c07-ef24cc09d5ba)

---
## Tasks
- [ ] Create card component to display individual debts and bills
- [ ] Cr

[2022-03-30 17:13] #36765 closed

[2022-03-30 17:18] tameracorson commented on #39304
Here is the URL to use in application https://www.va.gov/records/download-your-irs-1095-b

[2022-03-30 17:18] MarciMcGuireGCIO opened #39373 "PM - Auth Profile - Personal Information Revision - Request QA review for 5/4 - 5/17 sprint"
## Background

Put in a request with Tze to do a QA review in the 5/4 - 5/17 Sprint in preparation for Midpoint review.

## Tasks
- [x] Put in a request with Tze to do a QA review in the 5/4 - 5/17 Sprint

## Acceptance Criteria
- [x] Put in a request with Tze to do a QA review in the 5/4 - 5/17 Sprint

## How to configure this issue
- Include practice area in title -- e.g., [Design], [FE], [BE]
-

[2022-03-30 17:19] bethpottsVADEPO commented on #39170
@Mottie Interesting... that might be better? Unless the file name is long or complex. If there's a long list of files uploaded and they all have different names, some long, some short, etc., would that start to look too busy and feel overwhelming? Is there any way, instead, to substitute "more information" for "Correspondence"? I think that phrasing would be general enough.

You or someone else su

[2022-03-30 17:22] MarciMcGuireGCIO opened #39374 "PM- Auth Profile - Personal Information Revision - Finish QA Prep"
## Background

Complete all prep & artifacts required for Tze to do QA testing during the  5/4 - 5/17 Sprint.

## Tasks
- [ ] Complete all prep & artifacts required for Tze to do QA testing

## Acceptance Criteria
- [ ] Complete all prep & artifacts required for Tze to do QA testing

## How to configure this issue
- Include practice area in title -- e.g., [Design], [FE], [BE]
- Include project/ini

[2022-03-30 17:26] Dr-Pongo opened #39375 "[CDP] [debt] Add Your other VA bills section to Current VA debt page"
## Issue Description
Add "Your other VA bills section" to Current VA debt page
[mockup](https://preview.uxpin.com/29cd8f525781fa231d16f5b50905ad15a99cbf01#/pages/148307609/simulate/sitemap?mode=i)

![image.png](https://images.zenhubusercontent.com/61f96bcb96295709970afb65/3efa2a4c-b786-4cd3-9388-d4c6eaab22f1)

---
## Tasks
- [ ] Add copay API call to check for bills/copays
- [ ] Add Your other VA

[2022-03-30 17:32] Dr-Pongo opened #39376 "[CDP] [MCP] Add your other VA debt section to Current copay balances"
## Issue Description
Add "Your other VA debt" section to Current copay balances
[mockup](https://preview.uxpin.com/29cd8f525781fa231d16f5b50905ad15a99cbf01#/pages/148307609/simulate/sitemap?mode=i)

![image.png](https://images.zenhubusercontent.com/61f96bcb96295709970afb65/b196fdda-2967-4699-a209-b760805ef579)
---
## Tasks
- [ ] Add copay API call to check for debts
- [ ] Add Your other VA debt se

[2022-03-30 17:32] Dr-Pongo opened #39377 "[CDP] [MCP] Add your other VA debt section to Current copay balances"
## Issue Description
Add "Your other VA debt" section to Current copay balances
[mockup](https://preview.uxpin.com/29cd8f525781fa231d16f5b50905ad15a99cbf01#/pages/148524984/simulate/sitemap?mode=i)

![image.png](https://images.zenhubusercontent.com/61f96bcb96295709970afb65/b196fdda-2967-4699-a209-b760805ef579)
---
## Tasks
- [ ] Add copay API call to check for debts
- [ ] Add Your other VA debt se

[2022-03-30 17:34] OptionSelect opened #39378 "[CDP] Debt 2.0 - Update Card Components to fit Requirements"
## What happened?
Card components have been updated to look differently, we must make them match.

## Specs:
https://preview.uxpin.com/29cd8f525781fa231d16f5b50905ad15a99cbf01#/pages/148550080/simulate/sitemap?mode=i

![image.png](https://images.zenhubusercontent.com/61fc34bdeb6088eace717afe/c715ac99-87e7-40df-92fa-4c0b8faf91fe)

## Acceptance Criteria
- [ ] Card components render new design

## H

[2022-03-30 17:34] loripusey commented on #38276
Target is to have all completed diagrams to Ed Teeple no later than April 15, however, please share drafts ahead of time if possible.
cc: @sarahknoppA6 @randomsync @acrollet

[2022-03-30 17:36] sarahknoppA6 commented on #37609
@loripusey I don't think that's accurate based on the comments from above. @mdewey could you confirm this ticket wasn't started? I don't know why I would have put updates in the comments unless you'd mentioned it was working and ready for review. Or did it get stripped out and review is no longer needed?

[2022-03-30 17:38] #36271 closed

[2022-03-30 17:42] loripusey commented on #37609
We can move it back after we hear from @mdewey

[2022-03-30 17:44] MarciMcGuireGCIO opened #39379 "PM- Auth Profile - Bad Address Indicator - Start on QA use cases"
## Background

Describe the issue background and scope

## Tasks
- [ ] Add tasks here that must be completed

## Acceptance Criteria
- [ ] Add what must occur for this issue to be considered complete

## How to configure this issue
- Include practice area in title -- e.g., [Design], [FE], [BE]
- Include project/initiative name - e.g., Auth Profile: Address Change Messaging
- Add label for practice

[2022-03-30 17:47] MarciMcGuireGCIO opened #39380 "PM - Auth Profile - Bad Address Indicator - Document Staging user info for flag"
## Background

The information about which user(s) can be updated to add/remove a bad address flag need to be included in the QA documentation

## Tasks
- [ ] Create a QA document that explains how to get a bad address flag added to a test user for QA testing - Tom and Adam should be able to provide this information.

## Acceptance Criteria
- [ ] Create a QA document that explains how to get a bad

[2022-03-30 17:51] MarciMcGuireGCIO opened #39381 "PM - Auth Profile - Notification Preferences Update - Share IA/content recommendations with VA Profile"
## Background

Christina will be working on mockups (#39166) and making a content and IA request (#39167) for adding a new Comp & Pen section to the Notification Preferences page.   Once that is complete, share the mockups and content/IA feedback with the VA Profile team (Slack [#va-profile](https://dsva.slack.com/archives/C7TE0PFTL) so that they can provide feedback.

## Tasks
- [ ] Share mockups

[2022-03-30 17:52] michelle-dooley commented on #39328
@mmiddaugh thank you for your request.  That certainly makes sense.  We will update that card so it has scroll capabilities to see more entries past 10.

[2022-03-30 17:54] npeterson54 opened #39382 "Verify bearer token from Keycloak still works with argo when using dex"
## User Story

_As a user I would like to have this feature because it would help me with this pain point_

## Expected Behavior

_Add expected behavior of the described feature here_

## Acceptance Criteria

Verify bearer token from Keycloak still works with argo when using dex

[2022-03-30 17:55] michelle-dooley commented on #39329
@mmiddaugh thanks for your request.  We will work on making this update for you.

[2022-03-30 17:55] Dr-Pongo opened #39383 "[CDP] Debt 2.0 Update Current VA Debt page"
## Issue Description
Update Current VA debt page to match new design
[mockup](https://preview.uxpin.com/53bf4de7cd95501214aafee8c7c7a0a6052c53c7#/pages/147814779/simulate/sitemap?mode=i)

Include both card and empty state views
![image.png](https://images.zenhubusercontent.com/61f96bcb96295709970afb65/fc1d1a0e-c6d4-433f-b511-6d517499c97b)

---
## Tasks
- [ ] Current VA debt page matches new design

[2022-03-30 17:56] PJart commented on #39214
According to the platform support team, all the user needs is socks access. If they have socks access, they can access Loki following these steps https://depo-platform-documentation.scrollhelp.site/developer-docs/Centralized-Logging-with-Loki-and-Grafana.619119010.html

[2022-03-30 17:57] swirtSJW opened #39384 "[Bug] V2 Event search allows impossible filters"
## What happened?
It is possible for events search to be filtered for a start date that is after the end date range.   Which will always allow for no results.  A warning or other governance should prevent that kind of selection
![image](https://user-images.githubusercontent.com/5752113/160893033-866d2218-4bb1-4353-950d-a35a0f29c614.png)

## Steps to Reproduce
- Go to  https://www.va.gov/pittsburgh

[2022-03-30 17:57] Mottie commented on #39170
Sorry, I should have been more clear. In the mock data I have available, "Correspondence" is one file type, other types I see are "VA 21-526EZ, Fully Developed Claim (Compensation)" and "Buddy / Lay Statement". There could be more. Here is a screenshot of it showing the file name, but if the file name doesn't exist (a case in the mock data), it then shows the file type
<img width="542" alt="Screen

[2022-03-30 17:58] Dr-Pongo opened #39385 "[CDP] Debt 2.0 Debt Detail page"
## Issue Description
Update Debt Detail page to match new design
[mockup](https://preview.uxpin.com/29cd8f525781fa231d16f5b50905ad15a99cbf01#/pages/148307615/simulate/no-panels?mode=i)
Confirm Pay Online information section can be populated appropriately.

---
## Tasks
- [ ] Update Debt detail page to match new design
- [x] Confirm Pay Online information section can be populated appropriately.

##

[2022-03-30 18:06] npeterson54 commented on #39382
Too small to story point, adding as a task to https://app.zenhub.com/workspaces/platform-console-services-6221189e9d589600144196ca/issues/department-of-veterans-affairs/va.gov-team/39223

[2022-03-30 18:06] #39382 closed

[2022-03-30 18:09] nsoutouras commented on #35651
1:1 Note 3/30: No blockers, just time.

[2022-03-30 18:09] tlei123 commented on #38031
@allison0034 , yes, you'll need SOCKS proxy for the RIs.  Install guidelines [here](https://depo-platform-documentation.scrollhelp.site/getting-started/Internal-tools-access-via-SOCKS-proxy.1821081710.html).

[2022-03-30 18:09] bethpottsVADEPO commented on #23380
@RLHecht Agree. Closing.

[2022-03-30 18:09] #23380 closed

[2022-03-30 18:09] nsoutouras commented on #35653
1:1 Notes 3/30: No blockers, just time.

[2022-03-30 18:10] ewilson-adhoc opened #39386 "(research) Explore the viability of using pact to mock virus scan service"
## User Story

_As an IET developer I would like to understand how pact functions and decide if this is a tool that I would like to use to mock out virus scan service_

## Expected Behavior

_The functionality of pact is explored and a choice is made about whether or not it is a viable tool for mocking endpoints._

## Acceptance Criteria

- [ ] _A decision is made about whether or not we will use

[2022-03-30 18:11] swirtSJW opened #39387 "[Bug] Events V2 Date filter non-existent day gives bad results"
## What happened?
Selecting a non existent day on the custom date range filter gives bizarre results
![image](https://user-images.githubusercontent.com/5752113/160901251-c1dc92db-bd4e-4072-90eb-e2e355a533f4.png)

![image](https://user-images.githubusercontent.com/5752113/160901997-d20d3021-29a2-42ed-bff4-5c559d15f600.png)

![image](https://user-images.githubusercontent.com/5752113/160903139-417bbf

[2022-03-30 18:11] nsoutouras commented on #38421
@sylvesterlee1911 @joeniquette

Can we work on getting details for this ticket?  I think we created during a meeting.

[2022-03-30 18:12] nsoutouras commented on #37765
@sylvesterlee1911  needs details.  Please work with @joeniquette and possibly @jscanish

[2022-03-30 18:12] #35878 closed

[2022-03-30 18:14] ewilson-adhoc commented on #38114
This is something that we've accomplished already.

[2022-03-30 18:14] #38114 closed

[2022-03-30 18:28] sylvesterlee1911 commented on #38316
will close once scan is reran and data is updated. Only VA.GOV extensions.

[2022-03-30 18:30] ewilson-adhoc opened #39388 "Clean up the prototype from our initial sessions for further development"
## User Story

_As a developer of file upload I would like my project to follow some best practices regarding code structure, as well as implement basic CI, linters, etc_

## Expected Behavior

_This ticket represents a timeboxed effort to clean up the results of our initial prototyping sessions and think about how we want to structure this code base._

## Acceptance Criteria

- [x] _Refactor code

[2022-03-30 18:31] denisecoveyduc commented on #38290
duplicate ticket

[2022-03-30 18:31] #38290 closed

[2022-03-30 18:37] #36347 closed

[2022-03-30 18:38] #24643 closed

[2022-03-30 18:40] caw310 commented on #37733
Platform teams have been asked to swarm on initiative work. During refinement today, we discussed which web components to build in Q2. Decision is to focus on new components that would be useful to the forms library so removing from sprint 75 to be worked on in the future. Possibly as a stretch goal in Q2 2022.

[2022-03-30 18:43] #28331 closed

[2022-03-30 18:43] #28330 closed

[2022-03-30 18:44] #28329 closed

[2022-03-30 18:45] mmiddaugh commented on #34022
See also
- [VSA UX Transition document](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/facility-locator/product-transition-doc/vsa-ux-transition-doc.md) | March 2022
- [Lovell federal health feature doc](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/facility-locator/product-transition-doc/feature-docs/lovell-fed

[2022-03-30 18:46] #28327 closed

[2022-03-30 18:46] #28326 closed

[2022-03-30 18:46] #26972 closed

[2022-03-30 18:47] megansiddle opened #39389 "Content Review from VA Notify Strike Team"
## What does your team need support for? Check all that apply.
- [ ] Launching one or more new unauthenticated (static) VA.gov pages
- [ ] Making revisions to one or more existing unauthenticated (static) VA.gov page
- [ ] Launching a new online form, app, or tool on VA.gov
- [ ] Making revisions to an existing online form, app, or tool on VA.gov
- [x] Something else (please add details in the nex

[2022-03-30 18:48] bethpottsVADEPO commented on #39170
@Mottie I see. I like this idea of yours. Though it's a little busy, it's better than a generic message next to each date. That doesn't seem very helpful. I also think we could cut the repeated line "We'll notify you when we've reviewed it." Do you think we need to keep that message somewhere? If so, I'll look at what might make sense. But let's simplify the text across from each date to this (cha

[2022-03-30 18:57] hdjustice commented on #38100
Hi @tpharrison and @lihanli - We would like to have this ticket implemented in next sprint (4/6 - 4/19) so it can be ready before going live.  Is this doable?

[2022-03-30 19:01] lihanli commented on #38100
yes i can do it next sprint if i'm still a part of the team

[2022-03-30 19:02] hdjustice commented on #38100
No matter where you are Lihan, you are always part of the team!
Seriously tho, thank you!  If you have other team duties, that is understandable and we can figure out how to get it done.

[2022-03-30 19:04] tpharrison commented on #38100
@lihanli - do you mind if I pair up with you when you work on this?

[2022-03-30 19:05] rmtolmach commented on #39221
/request Homer Simpson

Trying this again to make sure vsp-slack-user-management gets alerted when a `/request` is made.

[2022-03-30 19:07] lihanli commented on #38100
sure we can pair on it

[2022-03-30 19:09] tameracorson commented on #39304
Ticket submitted 3/30/2022 yourIT #RITM6608047
![image.png](https://images.zenhubusercontent.com/61856bab21cd5965714d703d/af87d175-00ae-44de-85ab-e15c8427f3ed)

[2022-03-30 19:09] CherylEvans commented on #39045
No Content FB at this time.

[2022-03-30 19:14] loripusey opened #39390 "[Design] Final Wireframes to Include Time Zone with Appointment Times in Check-in & Pre-Check-in"
# Problem Statement
As a Veteran who has to travel to a different time zone for my appointments, when I see a list of my appointments, I would like to know what time zone the appointment time is for, so that I will know when to show up.

# CHIP Dependencies
[Spike Ticket](https://app.zenhub.com/workspaces/chip-api-6149f6401b0b3c001219802f/issues/department-of-veterans-affairs/chip/399)

## Tasks
-

[2022-03-30 19:14] loripusey opened #39391 "PCI - Include Time Zone with Appointment Times"
## Problem Statement
As a Veteran who has to travel to a different time zone for my appointments, when I see a list of my appointments, I would like to know what time zone the appointment time is for, so that I will know when to show up.

[2022-03-30 19:24] loripusey opened #39392 "[Design] Wireframes for Multi-language Toggle Component"
## User Story
As a Veteran who's native language is Spanish or Tagalog, I want to be able to see the CI and PCI content in Spanish so that I will understand it.

## Description
A wireframes set for switching the language of the CI and PCI page/control content to Spanish and Tagalog.

## Tasks
- [ ] Finalize detailed mockup and callouts of [feature name](link to prototype)
- [ ] Decide: Should a co

[2022-03-30 19:27] ewilson-adhoc commented on #37950
https://vfs.atlassian.net/wiki/spaces/IET/pages/2109636630/ADR+Microservices+on+EKS

[2022-03-30 19:28] #37950 closed

[2022-03-30 19:31] michelle-dooley commented on #39187
Hi @SKasimow - here is the list of urls that are currently being tracked...

https://docs.google.com/spreadsheets/d/1dsJ18pFGSVzUNuDMOVGMAJcMokxYBSviWDNbuqpmfRE/edit#gid=571467985

[2022-03-30 19:32] loripusey opened #39393 "[Research] Create Conversation Guide for July Research"
## Related Documentation
- [MVP Product Outline](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/checkin/product/product-outline.md)
- Platform [research process](https://depo-platform-documentation.scrollhelp.site/research-design/Research-Overview.1958740385.html) and [research checklist](https://depo-platform-documentation.scrollhelp.site/research-d

[2022-03-30 19:32] loripusey opened #39394 "[Research] Conduct Research Study to Verify Spanish Translations in CI & PCI"
## User Story
As a Veteran who's native language is Spanish, I want to be able to see the CI and PCI content in Spanish so that I will understand it.

## Related Documentation
- [MVP Product Outline](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/checkin/product/product-outline.md)
- Platform [research process](https://depo-platform-documentation.scr

[2022-03-30 19:33] cesaresantiago opened #39395 "Staging Review [My Education Benefits Team - My Education Benefits App]"
# Steps to complete Staging Review

## Before meeting

**VFS Product Manager**
- [ ]   Create this issue and schedule meeting via Calendly (you are responsible for adding the VFS attendees).
- [X]   Notify the Collaboration Cycle team of this ticket and scheduled date/time in #vfs-platform-support ([see Slack Workflow (User guide](https://depo-platform-documentation.scrollhelp.site/support/Getting

[2022-03-30 19:36] andaleliz commented on #39323
@Samara-Strauss is your expectation that we will have a separate report for the Veteran interviews, in addition to the final report summarizing _all_ activities (and including recommendations) when this is complete?

[2022-03-30 19:37] loripusey opened #39396 "[Research] Create Proposal for Regular Veteran Feedback Opportunities"
## User Story
As a research team, we want to be able to regularly interact with Veterans so that we can gain their feedback on a regular and consistent basis and increase product satisfaction.

## Description
We discussed the idea of possibly setting up a new research process where we just have Perigean recruit a certain number of Veterans for us to talk to maybe one day every month. We would just

[2022-03-30 19:42] acrollet commented on #38260
We should ensure that all text used for editing in appConstants is translated as part of this.

[2022-03-30 19:43] #37645 closed

[2022-03-30 19:46] loripusey commented on #38260
@acrollet were these values given to UX to bundle with their submission to the State Deparment?
cc: @kristenmcconnell

[2022-03-30 19:49] Samara-Strauss commented on #39323
@andaleliz I think this really depends on what you would find to be most helpful. If it would be helpful for you to put together a formal report of the user interviews before doing the larger recommendations work, that is fine by me. If some sort of less formal write-up, like a top-line summary, would be the most helpful before moving on, that's OK too. Just let me know what you think is the best

[2022-03-30 19:49] loripusey opened #39397 "[FE] Create Feature Flag "check_in_experience_spanish_translation""
## Task
- [ ] Create the following feature flag and set it's state to Off in dev, staging, & production
check_in_experience_translation_day_of_enabled
check_in_experience_translation_pre_check_in_enabled

[2022-03-30 19:51] bethpottsVADEPO commented on #2216
@RLHecht Would you take this to the accessibility folks for their input on chart vs list? Feels like we don't need charts...

[2022-03-30 19:53] loripusey opened #39398 "[FE] Create Feature Flag "check_in_experience_larota_security_updates""
## Task
- [ ] Create the following feature flag and set it's state to Off in dev, staging, & production
        **check_in_experience_larota_security_updates**

[2022-03-30 19:54] andaleliz commented on #39323
@Samara-Strauss I think a topline summary would be sufficient to help us achieve the goals of this research, and then I'll incorporate that into the final synthesis of all activities. I think I can still get that all done by the end of this coming sprint (April 19).

[2022-03-30 19:56] loripusey opened #39399 "[FE] Create Feature Flag "check_in_edit_messaging""
## Task
- [ ] Create the following feature flag and set it's state to Off in dev, staging, & production
        **check_in_edit_messaging**

[2022-03-30 19:58] Samara-Strauss commented on #39323
Sounds good to me! If there's not already a ticket for it, can you work with Heather to create a ticket for the topline summary and make sure it's included in the sprint?

[2022-03-30 19:59] andaleliz commented on #39323
Sure! Is Heather covering for Marci until Sharon is onboarded?

[2022-03-30 20:01] joshkimux commented on #38376
@hdjustice I've struggled to log in as a LOA1 users-- do you (or anyone else here) have tips or a user/pass combination that works?

[2022-03-30 20:03] DanielleThierryUSDSVA commented on #38303
Adam added a new doc around this: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/content-localization/Static-Page-I18Select-User-Guide.md

[2022-03-30 20:06] benbrasso-agile6 commented on #38859
@kristenmcconnell can you take a look at the questions I put together? https://docs.google.com/document/d/1aEO9Y-e4pFOoghtCTuakqLAWDGE08fjhW-7EZkROjOE/edit?usp=sharing

These are repurposing the questions asked to Shane with some modifications.

[2022-03-30 20:07] benbrasso-agile6 commented on #38859
Let me know if and/or where we should drop this into Git. I'm happy to do so.

[2022-03-30 20:08] #34868 closed

[2022-03-30 20:08] theodur commented on #34868
I merged a [PR](https://github.com/department-of-veterans-affairs/vets-website/pull/20680) for updating the necessary jobs in GitHub Actions for changed app builds. The updated jobs were:
- `contract-tests`
- `linting`
- `security-audit`
- `testing-reports-contract-tests`

[2022-03-30 20:12] lindsay-insco commented on #38813
75 participants this week!

[2022-03-30 20:12] #38813 closed

[2022-03-30 20:13] #38811 closed

[2022-03-30 20:14] denisecoveyduc opened #39400 "Feedback + Technical Issues"
### High Level User Story/ies
Enhance pathway for Veterans to Veterans to submit feedback on the debt portal or highlight issues to the DMC

### Problem Statement
*In a couple of sentences, describe the Who, What, Why, and Where of the challenge / pain point you seek to address.*

*Follow your problem description up with a "How might we... _______" statement re-framing that challenge as an opportu

[2022-03-30 20:15] joshkimux commented on #24643
Thanks @mdewey , appreciate that you've redirected this. For context @cvalarida , this isn't to suggest to change the `progressbutton` component itself, but that the "continue questions" pattern should use an `action link` component instead. In other words, I think there's a mismatch of components here since I believe "continue progress" in this instance is simply navigating the user into the form

[2022-03-30 20:18] #38586 closed

[2022-03-30 20:19] #39114 closed

[2022-03-30 20:19] sarahknoppA6 commented on #38276
There is an architecture diagram sync meeting this Friday. Please @ me ON SLACK if you need an invite.

[2022-03-30 20:20] ataker opened #39401 "AWS access for Alex Taker"
### COR Name

Crystal Moultrie

### Vendor Onboarding Representative Name

Liberty IT -  Michael G. Lovejoy

### Your Name

Alex Taker

### Your Email

alex.taker@adhocteam.us

### Your Team, Role, and Company

Senior Software Engineer

### Desired AWS Access

Need access to RDS, EKS, and System Manager - Parameter Store

### Access Expiration

ongoing

[2022-03-30 20:21] #37195 closed

[2022-03-30 20:24] nsoutouras commented on #31803
@nsoutouras Split documentation to its own ticket

[2022-03-30 20:26] #39178 closed

[2022-03-30 20:26] ndsprinkle commented on #34867
Location in platform website drafts: https://vfs.atlassian.net/wiki/spaces/PWD/pages/2143518934/Functionality+of+building+isolated+applications

[2022-03-30 20:26] Samara-Strauss commented on #39323
🤦 Sorry, I should have said Marci! Good catch :D

[2022-03-30 20:26] ndsprinkle commented on #35181
Location in platform website drafts: https://vfs.atlassian.net/wiki/spaces/PWD/pages/2144567325/How+to+add+your+application+to+the+allow-list

[2022-03-30 20:30] mleclerc00 commented on #39401
## For AWS Access

User: Alex Taker
COR: Crystal Moultrie
VOR: Liberty IT - Michael G. Lovejoy
Approval required: @department-of-veterans-affairs/operations-aws-approvers

@ataker just so we can get a better understanding of what AWS resources you need can you provide the team you are a part of?

thanks

[2022-03-30 20:30] rileyorr commented on #38947
Designs can be found in UXPin here:
- [Default displaying last 4 letters](https://preview.uxpin.com/29cd8f525781fa231d16f5b50905ad15a99cbf01?_gl=1*1cjwadz*_gcl_aw*R0NMLjE2NDMwMzc3MjYuQ2owS0NRaUF1Ym1QQmhDeUFSSXNBSldOcGlNMVo1NGR3LW9ZQnBONHktQTBuVHlyVW1MS3RscWZxRldaMmd1ZG0wcmFqSWp0OVl1NjZIQWFBc0NvRUFMd193Y0I.#/pages/149089100/simulate/no-panels?mode=i)
   - [Expanded to show remaining letters ](https

[2022-03-30 20:32] #37555 closed

[2022-03-30 20:34] mnorthuis commented on #2216
Wow, the history around this is a bit nutty, but ultimately the content is based on a legacy NCA page and applies just to NCA.

Here's what I think needs to happen:
- Create an R&S article for the content on this page
- Remove the left nav link from Records hub
- Redirect the old URL to the new R&S URL
- Add link to R&S article to Burials hub page and left nav
- Redirect the legacy page to the R&S

[2022-03-30 20:34] #38873 closed

[2022-03-30 20:34] MarciMcGuireGCIO opened #39402 "Research - Auth Profile - MHV Research- Topline Summary"
## Background

As a Researcher, I want to create a topline summary to capture the major learnings from research sessions with Stakeholders and Veterans.

## Tasks
- [x] Create topline summary
- [x] Review topline summary with PM
- [x] Deliver topline summary to PO

## Acceptance Criteria
- [x] Create topline summary
- [x] Review topline summary with PM
- [x] Deliver topline summary to PO

## How t

[2022-03-30 20:34] MarciMcGuireGCIO commented on #39323
This ticket has been created -- #39402

[2022-03-30 20:36] #37194 closed

[2022-03-30 20:42] chloedotbrown commented on #39328
Hi @mmiddaugh - I've updated the [Content Dashboard](https://va-gov.domo.com/page/426422632) card:

- All interaction events are now listed in descending order, with no "Top 10" limit.
- I've added a new column for `Page title`, so that click events with the same name are disaggregated by the page where they occur (and easier to find!).
- I've also added a Quick Filter to the card, so that you and

[2022-03-30 20:46] dginther commented on #38971
Demian to edit RFC with a more concrete and opinionated plan

[2022-03-30 20:47] dginther commented on #39332
Related to: https://github.com/department-of-veterans-affairs/va.gov-team/issues/38782

[2022-03-30 20:48] #39019 closed

[2022-03-30 20:54] loripusey opened #39403 "Document How to Set up and Use the Mock APIs for the Preview Environment"
## Problem Statement
As the CIE team, we need every member to have access to and be able to test the product in our preview/dev environment so that every member can contribute to the success and quality assurance for the product.

[2022-03-30 20:55] dginther commented on #39027
Lighthouse team stated that Oauth Proxy and SAML Proxy will still be necessary in the future configuration, but they have no plan to move them from the dsvagovcloud AWS account. This may need a plan for who will manage and/or own these applications moving forward.

We may also need to decide how the routing to these applications will work. It sounded like the Lighthouse plan was to route to these

[2022-03-30 20:57] hdjustice commented on #38376
Hi @joshkimux - From the **[staging users document](https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/blob/master/Administrative/vagov-users/mvi-staging-users.csv)**, You can use User 1000, logging in through Login.gov.  That is an LOA1 user and displays the "Verify your identity" alert, as expected.

[2022-03-30 20:58] dginther opened #39404 "Traefik and OpenResty comparison"
## Issue Description
Currently we use OpenResty for a reverse proxy. In the future, we would likely want to use the EKS Ingress controller to perform the same functions as OpenResty, and retire OpenResty.

The EKS Ingress controller currently in use by the platform is Traefik (traefik.io) Community Edition

We would need to determine if Traefik's middlewares functionality can provide the same func

[2022-03-30 21:04] mchelen-gov commented on #38810
Duplicate of https://github.com/department-of-veterans-affairs/va.gov-team/issues/39307

[2022-03-30 21:04] #38810 closed

[2022-03-30 21:06] mchelen-gov commented on #38618
Note: I will filling in as interim PO for Analytics team.

[2022-03-30 21:08] ddzz opened #39405 "QA Feedback - Staging Review - Design System Team - Table web component"
## VFS acceptance criteria
- [ ] Let Platform know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

Feedback for https://github.com/department-of-veterans-affairs/va.gov-team/issues/39045

## Feedback
- **Must** = the feedback must be applied
- **Should** = the feedback is best practice
- **Consider**

[2022-03-30 21:08] dginther opened #39406 "Determine the traffic flow that vets-api uses to access Lighthouse APIs, and write RFC for the plan to direct this traffic"
## Issue Description
We need to determine if connections to vets-api endpoints that use Lighthouse APIs as an upstream dependency correctly use the forward proxy to make those connections, or if they are made through Kong directly.

---
## Tasks
- [x] Research all cases in which vets-api makes direct use of Lighthouse APIs
- [x] Investigate the role of Kong in routing requests to the forward proxy

[2022-03-30 21:12] theodur commented on #35456
Duplicate of #34671

[2022-03-30 21:12] #35456 closed

[2022-03-30 21:15] theodur opened #39407 "Enable changed applications builds for prod build in master CI"

[2022-03-30 21:17] mrblanco1 commented on #38667
QA and UAT passed on 3/28/2022.

[2022-03-30 21:17] #38667 closed

[2022-03-30 21:17] mrblanco1 commented on #38631
QA and UAT passed on 3/28/2022.

[2022-03-30 21:17] #38631 closed

[2022-03-30 21:18] jimuhh opened #39408 "IA Feedback - Design Intent - CMS-Offices team - VA.gov Home Page"
## VFS acceptance criteria
- [ ] Let Platform know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
- Wonderful, thoughtfully designed piece. Kudos.

## Feedback
- **Must** = the feedback must be applied
- **Should** = the feedback is best practice
- **Consider** = suggestions/enh

[2022-03-30 21:26] mrblanco1 commented on #38825
This spike is completed. Dev believe performance will greatly improve when #31151: Remove Search tabs and make it one - is completed. Testing will need to be performed then to assess either performance did improve or not.
In the case it does not then a new ticket will be created for Dev to work on.

[2022-03-30 21:26] #38825 closed

[2022-03-30 21:39] lianilychee opened #39409 "Transform "QA Dashboard documentation""
# User story

# Tasks

- [ ] make a copy of the live page, into the drafts space
- [ ] revise the page for plain language and readability, consult slack thread listed below
- [ ]

# Acceptance criteria
* Revised page is ready for twice-weekly deploy

# Reference info
Page to be updated: https://depo-platform-documentation.scrollhelp.site/developer-docs/QA-Dashboard-Documentation.2013200394.html

S

[2022-03-30 21:40] lianilychee opened #39410 "update page titles"
# User story

# Tasks

# Acceptance criteria
- X page titles have been updated in the live Platform Website spaces and waiting for twice-weekly deploy

# Reference info

[2022-03-30 21:41] lianilychee opened #39411 "Move "Using feature toggles to progressively release changes" and "Using review instances to preview changes" docs to the infrastructure section"
# User story

As a Platform customer, I do not want to find info irrelevant to QAing and testing products*, so that I have a smooth reading experience.

*Info about feature toggles and review instances, as named in the ticket title

# Tasks

- [x] (Gretchen, Jill) Prep: Draft a message to Chelen, Clint Smalley, Nate Peterson, and Eric Boehs
    - Hey, we wanna move these two docs to the infrastruc

[2022-03-30 21:54] bkjohnson commented on #36938
So, this is what you're talking about, right?

![image](https://user-images.githubusercontent.com/2008881/160936841-b5cc3573-824a-4dd0-9188-822e7ba307e2.png)

Do you have a recommendation for what the `aria-label` of the button should be? Also, this would not be a regression since it is [modeled after the implementation in the React component](https://github.com/department-of-veterans-affairs/comp

[2022-03-30 21:55] mrblanco1 commented on #35549
Hello all. A new proposal from EDU was provided to AFS. We put together a wireframe for your review and feedback please.
This solution has instructions for Veterans to obtain their Program Name and HDO Code from VA.gov before they can proceed with the VRRAP form. A link will navigate them to an existing VA.gov page where they can obtain this information, nothing new was added. If you could please

[2022-03-30 21:56] mrblanco1 commented on #35948
Hello all. A new proposal from EDU was provided to AFS. We put together a wireframe for your review and feedback please.
This solution has instructions for Veterans to obtain their Program Name and HDO Code from VA.gov before they can proceed with the VRRAP form. A link will navigate them to an existing VA.gov page where they can obtain this information, nothing new was added. If you could please

[2022-03-30 21:56] seanasewell commented on #39045
No design feedback

[2022-03-30 22:12] laurylzenobi opened #39412 "Adding Megan Graham to DSVA Slack"
# Description

Please add Megan Graham(megan.graham@adhocteam.us) to DSVA slack as a full member, to the following channels:
- #design
- #vetsdotgov-research
-  #vfs-all-teams
- #feedback-backchannel

Megan is a UX researcher working on the MHV to VA.gov team.

[2022-03-30 23:04] alexandec commented on #37655
Final steps completed:

- [PR merged](department-of-veterans-affairs/backstage-test#220)
- Plugin deployed to https://platform-console-ui-dev.vfs.va.gov/release-tools

That completes the work in this ticket.

[2022-03-30 23:16] alexandec opened #39413 "Console UI: Improve log formatting"
**User Story**: As a VFS developer, I want the job logs for a commit to be formatted similarly as on GH so that I can read them easily.

When we display the log for a workflow job, it's formatted as a large block of plain text. We could improve the formatting by learning from GHA's approach, for example:
![gha-log.png](https://images.zenhubusercontent.com/5fc6638ec869251f539d3881/54a40a13-d8fb-4e3

[2022-03-31 00:18] ataker commented on #39401
I'm on the Console UI Team, one of the VA Platform spike teams.

[2022-03-31 01:52] #37890 closed

[2022-03-31 01:53] #37893 closed

[2022-03-31 02:00] briandeconinck opened #39414 "Collaboration Cycle for VA Notify Forms Strike Team - In Progress Reminders"
[Note: This issue is for testing purposes and is not a live issue.]

# Collaboration Cycle for VA Notify Forms Strike Team - In Progress Reminders

**VFS Product Manager**

- [x] Create this issue and notify the Collaboration Cycle team of this ticket in the in #vfs-platform-support ([see Slack Workflow (User guide](https://depo-platform-documentation.scrollhelp.site/support/Getting-help-from-the-

[2022-03-31 02:15] briandeconinck opened #39415 "Design Feedback - Design Intent - VA Notify Forms Strike Team - In Progress Reminders [TESTING]"

[2022-03-31 02:15] briandeconinck opened #39416 "Accessibility Feedback - Design Intent - VA Notify Forms Strike Team - In Progress Reminders [TESTING]"

[2022-03-31 02:15] briandeconinck opened #39417 "IA Feedback - Design Intent - In Progress Reminders [TESTING]"

[2022-03-31 02:17] #39417 closed

[2022-03-31 02:17] #39415 closed

[2022-03-31 02:17] #39416 closed

[2022-03-31 02:27] briandeconinck opened #39418 "Collaboration Cycle for Sample Team 1"
## VFS product information

### VFS team name

Sample Team 1

### Product name

Sample Product 1

### Feature name

Sample Feature 1

### GitHub label for product

product-label-here

### GitHub label for feature

_No response_

## Kickoff questions
<details><summary>Toggle kickoff questions</summary>

### When did/will you start working on this product/feature?

July 2022

### Will your work resu

[2022-03-31 02:39] briandeconinck opened #39419 "IA Feedback - Midpoint Review - DGIB, 1990 Form Updates for MGIB [TESTING]"

[2022-03-31 02:39] briandeconinck opened #39420 "Design feedback - Design intent [DGIB - 1990 Form Updates for MGIB] [TESTING]"

[2022-03-31 02:39] #39420 closed

[2022-03-31 02:39] #39419 closed

[2022-03-31 02:40] briandeconinck opened #39421 "Collaboration Cycle for Profile - User Notification Settings"
[Note: This issue is for testing purposes and is not a live issue.]

[2022-03-31 02:42] briandeconinck opened #39422 "Collaboration Cycle for Decision Reviews - Appeals Modernization"
[Note: This issue is for testing purposes and is not a live issue.]

[2022-03-31 02:42] briandeconinck opened #39423 "Collaboration Cycle for Claims Status - Appeals Status"

[2022-03-31 02:43] briandeconinck opened #39424 "Collaboration Cycle for Content Hub - Careers and Employment Hub"
[Note: This issue is for testing purposes and is not a live issue.]

[2022-03-31 02:45] briandeconinck opened #39425 "Collaboration Cycle for Profile - Direct Deposit for Compensation and Pension"
[Note: This issue is for testing purposes and is not a live issue.]

[2022-03-31 02:46] briandeconinck opened #39426 "Collaboration Cycle for Facility Locator - Display of Facility Operating Status"
[Note: This issue is for testing purposes and is not a live issue.]

[2022-03-31 02:48] briandeconinck opened #39427 "Collaboration Cycle for Claim Status - Document Upload"
[Note: This issue is for testing purposes and is not a live issue.]

[2022-03-31 03:07] madebydna commented on #39332
I created a Confluence doc that actually enumerates the routes in the different categories: https://vfs.atlassian.net/wiki/spaces/PST4/pages/2143977624/Set+of+routes+to+be+served+by+platform-api.va.gov

[2022-03-31 12:22] allison0034 commented on #35549
Hi @mrblanco1 , thank you for trying to find another solution. Can you provide some additional info?

1. Is it correct that the stake holders do not want to implement a type ahead/search on the form because they are looking for a quick solution and this form is going to be redone or removed in the near future?
2. Can you provide the link to the existing page the Veteran will go to for the HDO look

[2022-03-31 12:26] td-usds commented on #39359
Elevation of AWS permissions approved

[2022-03-31 12:30] td-usds commented on #38669
Reached out to VOR

[2022-03-31 12:31] td-usds commented on #38556
Reached out to VOR

[2022-03-31 12:32] td-usds commented on #38063
Reached out to VOR again, no update yet

[2022-03-31 12:54] it-harrison opened #39428 "Review GH user roles for plugin"
We want to make sure that the user is granted only as much access to GH as is necessary. Review the current scopes and verify they are correct or revise them if needed.

[2022-03-31 12:55] pjhill commented on #37848
I added that to definition of done, thanks!

[2022-03-31 13:05] joeniquette commented on #38421
I dont know what this ticket was for, likely from one of our firefighting sessions. Closing.

[2022-03-31 13:05] #38421 closed

[2022-03-31 13:06] MarciMcGuireGCIO opened #39429 "**TIME SENSITIVE** BE - Auth Profile - VA Profile SSL Cert Updates 4/4 - 4/14"
## Background

See text of email below.

<hr>

## Tasks
- [ ] Determine who will need to replace the certificates and document in this ticket
- [ ] Test on each environment using dates listed above

## Acceptance Criteria
- [ ] Determine who will need to replace the certificates and document in this ticket
- [ ] Test on each environment using dates listed above

[2022-03-31 13:11] #34852 closed

[2022-03-31 13:11] #34851 closed

[2022-03-31 13:11] #35509 closed

[2022-03-31 13:12] #33718 closed

[2022-03-31 13:13] hbomb88 opened #39430 "Adding Martin Grozinski to DSVA Slack"
Please add grozinski_martin@bah.com as a full member to #appeals with access to the following channels:

#appeals, #appeals-announcements, #appeals-batteam, #appeals-data-workgroup, #appeals-devops, # appeals-devops-alerts, #appeals-intake-alerts, #appeals-job-alerts, #appeals-swat, #appeals-training, #general, #random, # vfs-all-teams, #vfs-platform-support

Martin Grozinski recently joined the A

[2022-03-31 13:16] lunascoop commented on #39271
@psanders86 a draft version of this page is ready for review.
Transferred entitlement for family members: http://preview-prod.vfs.va.gov/preview?nodeId=44698

**Some notes:**

- Most of the language in the Word doc originally comes from the When can they use the transferred benefits? section on the [Transfer your Post-9/11 GI Bill benefits](https://www.va.gov/education/transfer-post-9-11-gi-bill-b

[2022-03-31 13:21] tpharrison commented on #39429
Thanks @MarciMcGuireGCIO!

[2022-03-31 13:24] ericvoshall opened #39431 "[Infrastructure Request]: Setup and configuration for Platform Console UI"
### Team name

Platform Console UI

### Application name

Platform Console UI

### GitHub repository

https://github.com/department-of-veterans-affairs/backstage-test

### Product owner

Mike Chelen

### Product manager

Lee Helmer

### Related issue

https://github.com/department-of-veterans-affairs/backstage-test/issues/149

### Infrastructure needed

We need access to an S3 bucket for our Dev i

[2022-03-31 13:32] RLHecht commented on #29615
Update: Emailed stakeholder on 3/30 and he said they'd begin working on it ASAP. I'll move out of blocked once they send us back their edits.

[2022-03-31 13:38] kristenmcconnell commented on #38865
Adrian made an update to the va.gov .json for translation. The most up-to-date file can be found [here](https://dsva.slack.com/archives/C02G6AB3ZRS/p1648671035690239?thread_ts=1646939732.858079&cid=C02G6AB3ZRS).

[2022-03-31 13:48] joeniquette opened #39432 "Document user attribute request/response"
# Description

[2022-03-31 13:51] sylvesterlee1911 commented on #38316
Include in documentation- step one set up as a manual scan so that you can enter credentials.  Then automate.

[2022-03-31 13:52] Samara-Strauss commented on #39429
So based on #36578 and #37577, it sounds like the certs may have already been updated for the dev environment, but it's not clear to me whether anything was done with staging or prod. I'll raise this to devops now.

[2022-03-31 13:54] allison0034 commented on #38850
@chaseakirby please review the following docs

[Design intent](https://vfs.atlassian.net/wiki/spaces/PWD/pages/2146435098/Copy+of+Design+intent)
[Midpoint review](https://vfs.atlassian.net/wiki/spaces/PWD/pages/2146435110/Copy+of+Midpoint+review)
[Staging review](https://vfs.atlassian.net/wiki/spaces/PWD/pages/2146304008/Copy+of+Staging+review)

[2022-03-31 13:56] kristenmcconnell commented on #38859
@benbrasso-agile6 I added a few comments to the document. Overall, it looks really good and I believe the number of questions will work well for the 30 minutes with have with Dr. Hsu.

Definitely go ahead and post this to GitHub. I think we could add it within one of two locations.
1. Nira and I created this [GitHub folder](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/

[2022-03-31 14:07] rmessina1010 commented on #36376
For hand-off:
[MapboxToken Conversion Guide Proposal draft](https://vfs.atlassian.net/wiki/spaces/~96033397/pages/2139783260/MapboxToken+Conversion+Guide+Proposal+draft)

[2022-03-31 14:17] pjhill commented on #39053
Although this is never truly done, the scope of the fixes for this round of fixes has been completed.

[2022-03-31 14:17] #39053 closed

[2022-03-31 14:24] SarahKay8 opened #39433 "Accessibility- Staging Review - [Design System Team - Table web component]"
## Feedback

**Should:**
The issues I'm seeing are for when the table is sortable on one column.

The sorting column’s header becomes a button whose text is the header text. But the button also has an aria-label that doesn't include the button's actual text. So screen readers won't announce all the relevant information, and voice command software won't successfully match if a user speaks the on-sc

[2022-03-31 14:53] SKasimow commented on #38031
Hi @allison0034 @chaseakirby - I'm adding the screenshots and flow for a Veteran that is authenticated with a disability rating 50% or higher. It's still in draft form and needs some polishing but these should be final screens as they were taken from the Review Instance:

[10-10EZ](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/application/HCA.Produc

[2022-03-31 15:08] jimuhh commented on #39045
No IA feedback, but I do have one question. The source code seems to indicate that only a single header can be sortable on any table. Wondering what the thinking was behind that?
Thanks!

[2022-03-31 15:11] #38701 closed

[2022-03-31 15:20] #39429 closed

[2022-03-31 15:21] MarciMcGuireGCIO commented on #39429
🥳 Thanks for staying on top of this @Samara-Strauss !

[2022-03-31 15:25] pdavies88 commented on #38356
We will need to add a resolution file like we have on `component-library` for `glob-parent`
`glob-parent` is a dependency of `gulp` so we'd need to update `gulp` to fix overall.
Also the rest of the errors will be taken care of by: https://github.com/department-of-veterans-affairs/vets-design-system-documentation/pull/679

[2022-03-31 15:26] #35155 closed

[2022-03-31 15:29] zach-park commented on #35062
Please allow for the bleeding area (bottom edge: 1/2" and top, left, right edge: 1/4").

[2022-03-31 15:29] #35718 closed

[2022-03-31 15:51] zach-park commented on #39272
Tagging @niradatta1 for content design collab.

[2022-03-31 15:52] Mottie commented on #39170
Seems a bit cleaner. I tried to add more examples of other event types... I had to guess at some of the dat
<img width="566" alt="CST initial review and evidence gathering sections expanded, both have older updates expanded" src="https://user-images.githubusercontent.com/136959/161097390-0143488f-776b-4dff-8693-0def5fce9751.png">
a

[2022-03-31 15:53] zach-park commented on #39392
Tagging @ytsaoca for collab.

[2022-03-31 15:56] loripusey commented on #38260
we may not need this ticket @acrollet @kristenmcconnell

[2022-03-31 15:56] rmessina1010 opened #39435 "Evaluate App and Platform code"
Evaluate platform code to determine what code can be extracted, as a first step in app isolation. Taking in to consideration  the  possible use of NX, Yarn Workspaces,  and  Lerna

[2022-03-31 15:59] outerpress commented on #33997
Closing duplicate epic, use [38062](https://app.zenhub.com/workspaces/vaos-team-603fdef281af6500110a1691/issues/department-of-veterans-affairs/va.gov-team/38062)

[2022-03-31 15:59] #33997 closed

[2022-03-31 16:03] RLHecht commented on #2216
@bethpottsVADEPO Josh says that a list is definitely easier for screen readers to navigate and will also look better on mobile. We can open up a separate ticket for making this page an R&S article.

[2022-03-31 16:18] JayDarnell opened #39436 "Update VAMC Facility Health Service front end to utilize new office hours field"
## Issue Description

We need to update the front end to pull the hours data for VAMC Facility Health Service nodes from the new field_office_hours field.

VAMC Facility Health Service nodes contain hours and contact information. This data is stored in a Service location entity referenced by the field_service_location field. Within the Service location entity we historically stored hours data in t

[2022-03-31 16:21] jonathanjnelson commented on #39219
[Please see Mural board ](https://app.mural.co/t/adhocvetsgov9623/m/adhocvetsgov9623/1648505461076/8e689d3bbfe651de79cbc3ae8d02c8944b06a169?sender=jonathannelson8855)

[2022-03-31 16:28] rileyorr commented on #39075
@OptionSelect and @Dr-Pongo I just updated the 'Debt letter download' section with the updated designs. Let me know if you have any questions!

[2022-03-31 16:29] rileyorr commented on #38947
Updated [the epic](https://app.zenhub.com/workspaces/vsa---debt-607736a6c8b7e2001084e3ab/issues/department-of-veterans-affairs/va.gov-team/39075) with links to the designs, an updated description, and links to tickets related to the new component we should use!

[2022-03-31 16:56] CourtneyChambers77 commented on #36938
@bkjohnson can we add in caption for the tables

[2022-03-31 16:57] #39140 closed

[2022-03-31 17:06] Mottie opened #39437 "Add a mock form"
## Description

Add a mock form to [implement tutorial and documentation pages](https://department-of-veterans-affairs.github.io/veteran-facing-services-tools/forms/), and to show alternative patterns and best practices. This should help with onboarding engineers, and be a showcase for implementation of newer patterns and workarounds for issues.

- This form will _never_ be available in production

[2022-03-31 17:07] ChrisBratti-VA opened #39438 "SOCKS access for Christopher Bratti"
### Your Name

Christopher Bratti

### Your Email

christopher.bratti@libertyits.com

### Your Role

Software Engineer

### Public SSH Key

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDcM9GPYWUn/vaFA4FY0leClBrZaCWJvd+RvZ1kT0VLDxTWN6F8rkmhpfBddAL6tFzpz6c7N1+cbhibKyOPQuO7ojiMkoFCUgFAx9AtSpaPhvFlCrIu1/8hhFr0oHOZOciN8v0F59soNTAybE8WjZ39I16pNLDpys+OyQwbNwzmjt2Xo3iskJGPwxTqrh2Wf1xsTAMqfXyx+mtGTcEOYtTLL4OB0W1u

[2022-03-31 17:08] RayWangUSDS commented on #39354
1:1 with the following people:

Lisa Koenigsberg
Mike Chelen
Rachael Roueche
Matt Self
Kevin Hoffman
Cory Trimm
Chante Swett
Lauren Alexanderson
Dave Conlon
Chris Johnson
Leanner Miller
Ric Miller
Martha Wilkes
Charles Worthington

[signature_1204807837]<http://www.usds.gov/>

Ray Wang
Product Management

U.S. Digital Service
***@***.***

From: mchelen-gov ***@***.***>
Sent: Thursday, March 31, 20

[2022-03-31 17:17] #38754 closed

[2022-03-31 17:18] mmiddaugh commented on #34415
Please see [Conversion Proposal](https://vfs.atlassian.net/wiki/spaces/FTT/pages/2139783260/MapboxToken+Conversion+Guide+Proposal+draft)

[2022-03-31 17:18] mmiddaugh commented on #34413
Please see [Conversion Proposal](https://vfs.atlassian.net/wiki/spaces/FTT/pages/2139783260/MapboxToken+Conversion+Guide+Proposal+draft)

[2022-03-31 17:18] mmiddaugh commented on #33890
Please see [Conversion Proposal](https://vfs.atlassian.net/wiki/spaces/FTT/pages/2139783260/MapboxToken+Conversion+Guide+Proposal+draft)

[2022-03-31 17:22] MarciMcGuireGCIO commented on #38639
This looks perfect @adamwhitlock1!  FYI to @Samara-Strauss - if you open Gender identity, it's still checkboxes (multi-select), but @adamwhitlock1 has a task to change that back to radio buttons (single select)

[2022-03-31 17:40] holdenhinkle commented on #35573
## Test User Dashboard -- MVP Feedback Survey Results

Only one person completed the survey.
Survey results sheet - https://docs.google.com/spreadsheets/d/1P0UKKwg3nburB08oF5I_g1SUh1AW1W7bfU-0F4KlgNs/edit?usp=sharing

[2022-03-31 17:46] pdavies88 commented on #35734
@andresriveratoro @k80bowman with the completion and merging of this ticket do we want to create a separate ticket to update https://design.va.gov/experimental-design/hint-text and either remove that page or put a link to https://design.va.gov/components/form-controls#text-inputs that I will now exist in `va-text-input` and then probably add the Storybook example to the form-controls page.

[2022-03-31 17:49] SKasimow opened #39440 "Front-end Accessibility Testing Checklist | Before Staging |"
## Front end tasks

- [x] Run axe checks using the Chrome or Firefox browser plugin
- [x] Axe scans included in end-to-end (e2e) tests
- [x] Color tests for proper contrast and colorblindness
- [x] Content zoomed to 200%, 300%, 400%
- [x] Navigate using the keyboard only

(Foundational Accessibility Tests](https://depo-platform-documentation.scrollhelp.site/developer-docs/How-to-prepare-for-an-acc

[2022-03-31 17:51] bethpottsVADEPO commented on #39170
@Mottie I'm still considering whether we just strike that sentence altogether or try to nest it somewhere in No. 2. Do you know how we notify the Veteran when we review an update/submission? Do they get an email notification? Snail mail? Or are we just saying we post the update here in the list of past updates? (Side note: you'll still change "older" to "past," right?)

[2022-03-31 17:52] tameracorson opened #39441 "Conduct tech discovery: HMW build a way to notify a Veteran via email, that they have selected opt-in to digital delivery"

[2022-03-31 17:52] holdenhinkle commented on #35573
## Feedback from the survey has been collected into a document on Confluence

Doc - https://vfs.atlassian.net/wiki/spaces/TTT/pages/2145812698/Feedback+From+TUD+MVP+Feedback+Survey

[2022-03-31 17:54] tameracorson opened #39442 "Research legal review requirements of opt-in notification letter"

[2022-03-31 17:54] RLHecht commented on #35326
@kevwalsh We should have headers attached to all our tables to make it easier for screen readers. But the current table component doesn't allow for the header to be different sizes. If we wanted to be able to change the size depending on the page, is that something Public Websites would handle?

[2022-03-31 17:55] Mottie commented on #39170
I'm not sure how Veterans are notified. I'm pretty sure they _always_ get a snail mail copy. I don't know about other notifications.

And I totally missed changing "older" to "past", thanks!!

[2022-03-31 17:58] holdenhinkle commented on #35573
Updated release note, to be posted in `vfs-all-teams`:

Hello VFS Teams!

The QA Standards Team is happy to announce that TUD (the Test User Dashboard) is officially released to all VFS teams!

If you haven’t completed the TUD survey yet, it’s not too late! Here’s the link - https://adhoc.optimalworkshop.com/questions/z2roj1vm

And if by some chance your team was not contacted about being onboarde

[2022-03-31 18:04] ddzz commented on #39405
Issue has been addressed.

[2022-03-31 18:04] #39405 closed

[2022-03-31 18:12] Samara-Strauss commented on #38639
Fantastic! This looks great.

[2022-03-31 18:12] FernandoBoza opened #39444 "SOCKS access for Fernando Boza"
### Your Name

Fernando Boza

### Your Email

fernando.boza@accenturefederal.com

### Your Role

Frontend Developer

### Public SSH Key

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDvnOgZbTyD9N/74xjZf8oYdWElKr1LlqgP3HPesflH93j4+CQRG+3Wf0OMa1PBHajK//Bl+1bFun3sacP+9Yv7hhKTHficDtWnkE1gjPV2Rruns4Iipqixzn8WJvpk4gGD/WjxkxxSg04AaCQ+nyLir2c5tG4L0IRnd75Er745Vf2CMO1QjhEy2SQJOWOGozptmfvwVaK/T3XtsF9Ns9K636Ci258MBg6

[2022-03-31 18:14] MarciMcGuireGCIO commented on #38137
Front end documentation has been updated to reflect UI and content changes on [latest set of Sketch files](https://www.sketch.com/s/ba254d92-3c3d-4eba-825d-d7f5bda35565/p/287E1E08-975D-4190-AD19-D4514223484C).

https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/identity-personalization/profile/personal-information/personal-information-revision/frontend

[2022-03-31 18:14] #38137 closed

[2022-03-31 18:15] abuchanan83 commented on #39312
This is the issue causing this problem is the code below. Not sure why it was added,  but its identifying the user's window as landscape and defaulting to mobile view. To fix the issue, we will need to understand why this code was added and then add the proper logic to handle it.

  const isLandscape = () => {
    const islandscape = window.innerHeight < window.innerWidth;
    const mobileDevice =

[2022-03-31 18:20] Mottie opened #39445 "HLR v1: Remove API endpoint"
## Description

Lighthouse is still seeing v1 endpoint calls, and since we have v2 at 100% in production we can remove the v1 endpoint call. All in-progress v1 forms _should_ migrate their data to v2.

We're planning to remove the v1 endpoint call and force data migration to v2.

## Tasks

- [ ] Remove v1 endpoint call
- [ ] Force migration of v1 data to v2
- [ ] Update tests

## Definition of don

[2022-03-31 18:24] tameracorson opened #39446 "Draft email for opt-in notification requirements"

[2022-03-31 18:25] mmiddaugh commented on #39328
These changes are amazing and I can't believe how quickly you made them happen! Thank you!!
So now my question is....is it still possible to see a particular event action in aggregate? (for example: the number of clicks on "Couples and family counseling" for all Vet center pages, rather than Colorado Springs specifically)

I love the access to the quick filter - is there a way to select all?
For e

[2022-03-31 18:33] bevnobev commented on #32210
Hi @kellylein. Checking to see if you have a timeline for going live in Production.  Is it still months away?  cc: @mjones-oddball

[2022-03-31 18:34] bevnobev commented on #35461
Hi @kellylein. Checking to see if you have a timeline for going live in Production.  cc: @mjones-oddball

[2022-03-31 18:34] mchelen-gov commented on #39321
Note: broader issue of GH team management & permissions is spun off in https://github.com/department-of-veterans-affairs/va.gov-team/issues/35154

[2022-03-31 18:37] mnorthuis commented on #39294
@rileyorr Can you update the top with a link to the latest and greatest prototype for us to work off of?  Thank you!!

cc @kevinstachura

[2022-03-31 18:38] mnorthuis commented on #36844
Strategy work complete, design work continuing in  https://github.com/department-of-veterans-affairs/va.gov-team/issues/39294

[2022-03-31 18:38] #36844 closed

[2022-03-31 18:38] mchelen-gov commented on #35154
Proposed approach:
1. Add VFS team members to `vets.gov-write` during Platform Orientation https://github.com/department-of-veterans-affairs/va.gov-team/issues/39321
2. Create GH teams for each VFS team, nest them under `vets.gov-write` add during Platform Orientation
3. Move VFS GH teams under new parent team `vfs-all-teams` with permissions matching `vets.gov-write`
4. Refine permissions of `vfs

[2022-03-31 18:41] #39117 closed

[2022-03-31 18:42] jsgarmon commented on #39259
This appears to be working, so closing this issue.

[2022-03-31 18:42] #39259 closed

[2022-03-31 18:45] bevnobev commented on #30005
Hi @vhenry07.  Checking in to see when you plan to go live with this notifications.  No rush, just trying to get an idea of a date range.    cc: @mjones-oddball

[2022-03-31 18:53] madebydna commented on #39027
The Lighthouse team specifically mentioned plans to remove the incidental dependency on vets-api for OAuth token validation and migrate that functionality to be under their own control.

@patrickvinograd, please let us know any insights you might have into authentication flows, or any risks you can identify in that area.

[2022-03-31 18:56] kellylein commented on #32210
Hi @bevnobev , Yes, unfortunately due to the VFS team contract change, the timing of this work has been pushed back. It is still likely months away.

[2022-03-31 18:57] kellylein commented on #35461
We are in the same situation for this one as for Supplemental Claim, though this one will likely be sooner.

[2022-03-31 18:59] joeniquette commented on #39432
https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/pull/436

[2022-03-31 19:01] bevnobev commented on #30005
Thanks @vhenry07.  Do you recall the go live date?

[2022-03-31 19:02] benbrasso-agile6 commented on #38859
Conversation guide - https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/checkin/discovery/telephone-appointments/staff-interviews/conversation-guide-hsu-md-pcp.md

[2022-03-31 19:02] #38859 closed

[2022-03-31 19:04] #39428 closed

[2022-03-31 19:05] #37935 closed

[2022-03-31 19:11] mmiddaugh commented on #36962
@bsmartin-ep it looks like Barb was given access to GA rather than to DOMO.

[2022-03-31 19:12] ldelacosta opened #39448 "Clarify why some care types are not available"
### **Problem**
The current alert at the bottom of the "type of care" page is easy to skim over when scanning the list.

### **Background**
See [16412](https://github.com/department-of-veterans-affairs/va.gov-team/issues/16412) for details. We've also seen this in user feedback.

### **Proposed solution**
Replace the alert with an action. Asking the Veteran to choose a "not found" option will focu

[2022-03-31 19:21] rmtolmach commented on #39444
@FernandoBoza: Access granted ✅

Please allow 10 minutes for your key to be propagated to the various locations before attempting to connect.
See docs for further steps: https://depo-platform-documentation.scrollhelp.site/getting-started/Internal-tools-access-via-SOCKS-proxy.1821081710.html

Reach out in #vfs-platform-support if you have any trouble.

[2022-03-31 19:21] #39444 closed

[2022-03-31 19:22] pshahVA opened #39449 "Need to document and log uses of back and EVSS calls from va.gov"
The lighthouse team is working to identify all EVSS dependencies, however the EVSS team does not log the consumers of their services. In an effort to figure out which EVSS services are used by the [VA.gov](http://va.gov/) team, we wanted to be able to log calls to the EVSS libraries to 100% know that this code is still being used.
I believe these are the libraries of interest.
Can we just submit a

[2022-03-31 19:27] RLHecht commented on #38819
@lunascoop We just got back revisions from Mateo's team:

For the first accordion:   What’s VA’s current policy on masks?(English)

Sumusunod kami sa CDC at sa mga lokal na alituntunin patungkol sa panakip sa ilong at bibig. Ang kaligtasan ninyo ang aming pangunahing prayoridad.

Narito ang aming pinakabagong patakaran para sa iba’t-ibang lokasyon ng VA:

- Sa mga pangangalagang kalusugan na pasil

[2022-03-31 19:32] reblg commented on #39359
Confirmed I have access!

[2022-03-31 19:34] SarahKay8 commented on #38075
Hi @shiragoodman

 @chaseakirby and I drafted this together. Could you review at your earliest? thank you

[2022-03-31 19:44] djfredvs opened #39450 "4/28/22 AVS Training Alexandria LA"
## Acceptance Criteria
Acceptance criteria are pre-defined requirements that must be met to mark a task as complete. What needs to be done to mark this task as complete?

- [X] Training email sent
- [X] Training Date Established 4/28/22  2:30 pm
- [X] Conduct Training

[2022-03-31 19:45] #39359 closed

[2022-03-31 19:47] #16412 closed

[2022-03-31 19:52] ytsaoca commented on #37544
Mockup: https://www.sketch.com/s/e79a827e-42cf-4a82-b554-874c75b5c70e/a/eKY1pka

[2022-03-31 19:52] #37544 closed

[2022-03-31 19:57] MarciMcGuireGCIO commented on #35208
Completing the Contact Center documentation is captured in #38961.   Links to directories are also located in that ticket.

[2022-03-31 19:57] #35208 closed

[2022-03-31 19:58] theodur commented on #29142
Changed app builds and deploys have been enabled for staging in `master`. Going through the [test-plan](https://docs.google.com/spreadsheets/d/1Lz3cfJhs_oorT8mk5yEMwcpEZWPToFsCQZgChGH31DE/edit#gid=0) for staging

[2022-03-31 20:00] ddzz commented on #38376
No QA feedback, looks good!

[2022-03-31 20:02] lhelmer commented on #35012
This epic was not complete and is being reframed for Q2 in this ticket #39247

[2022-03-31 20:04] rileyorr commented on #39294
@mnorthuis I just added links to the prototype, user flows, and product outline!

[2022-03-31 20:08] #38156 closed

[2022-03-31 20:09] mmiddaugh commented on #38826
phone display looks good in tugboat

[2022-03-31 20:09] #38826 closed

[2022-03-31 20:09] #34765 closed

[2022-03-31 20:10] mjones-oddball opened #39452 "Analytics Implementation for VA Notify - Site Usage"
# Google Analytics Implementation or QA Request

## What this form is for

<details>
<summary>More Information</summary>
<div>
    <br>
<p>Use this template to request Google Analytics implementation or QA for your product. Please fill out all brackets.</p>

</div>
</details>

## Description
### Required
- **Is this request for **Google Analytics implementation** or **QA**?**

     - [x] Google An

[2022-03-31 20:16] bevnobev commented on #39452
Thanks @mjones-oddball I updated that the sites are live, and we have soft launched.

[2022-03-31 20:16] brianseek commented on #39398
Moving to complete since there is no extra validation after code review.

[2022-03-31 20:22] bethpottsVADEPO commented on #39170
Looks great! Want to double check that you changed the corresponding button to match "Hide past updates":

"Show past updates."

[2022-03-31 20:27] Mottie commented on #39170
LOL sorry.. in the code, I'm only changing the "Show" or "Hide" part of the button text, so they both were changed at the same time 😄

<img width="589" alt="collapsed show past updates button" src="https://user-images.githubusercontent.com/136959/161143410-896fd85f-fa62-4150-91cd-c88a48c1dbb9.png">

[2022-03-31 20:37] MarciMcGuireGCIO commented on #38187
Noting that we're creating a new ticket for updating the content for the edge case.

[2022-03-31 20:40] jsgarmon opened #39453 "[Infrastructure/Terraform] Move Terraform for EKS applications to ./applications folder"
## Description
In an effort to adopt a Terraform standard for EKS applications on the platform, we are moving Terraform code out of environment-specific folders and into application specific ones.

## Background/context
https://vfs.atlassian.net/wiki/spaces/OT/pages/2075721739/Terraform+Standard
https://github.com/department-of-veterans-affairs/va.gov-team/issues/36297

---
## Tasks
For each appli

[2022-03-31 20:41] MarciMcGuireGCIO commented on #38988
Link to desktop mockup:  https://www.sketch.com/s/59857eb5-d9f9-4145-99d3-d9a1de2d0655/a/25K3vb5

[2022-03-31 20:44] benbrasso-agile6 commented on #38764
Sent to Zach and Ya-ching for review. Will likely do something similar for the staff conversation guide.

[2022-03-31 20:50] megansiddle opened #39454 "Midpoint Review VA Notify Forms Strike Team, In Progress Reminders]"
# Steps to complete Midpoint Review

## Before meeting

**VFS Product Manager**
- [x]  Create this issue and schedule meeting via Calendly (you are responsible for adding the VFS attendees).
- [x] Notify the Collaboration Cycle team of this ticket with scheduled date/time in #vfs-platform-support ([see Slack Workflow User guide](https://depo-platform-documentation.scrollhelp.site/support/Getting-h

[2022-03-31 20:52] caw310 opened #39455 "Consistency Audit: Telephone"
## Description
We would like to identify any discrepancies in the documentation on design.va.gov and the component and any associated documentation in Storybook.

Analyze the documentation for the [Telephone](https://design.va.gov/components/telephone) and the instance of the [va-telepone](https://design.va.gov/storybook/?path=/docs/components-va-telephone--default) component in Storybook and add

[2022-03-31 20:53] caw310 opened #39456 "Consistency Audit: Telephone"
## Description
We would like to identify any discrepancies in the documentation on design.va.gov and the component and any associated documentation in Storybook.

Analyze the documentation for the [Telephone](https://design.va.gov/components/telephone) and the instance of the [va-telepone](https://design.va.gov/storybook/?path=/docs/components-va-telephone--default) component in Storybook and add

[2022-03-31 20:54] Kathy0767 opened #39457 "@LEHigley, @KevinMHoffman"
# Description

**new user requests**: please verify that the user does not already exist in dsva.slack.com (it may be the account exists, but is not in a particular channel)

<Adding Kara Regenauer To DSVA Slack>

Are you requesting to add an individual as a:
Please add kara.regenauer@libertyits.com as a full member of DSVA slack.  Kara is a member of the Lighthouse Program and working with teams

[2022-03-31 20:56] caw310 opened #39458 "Consistency Audit: Alert Box"
## Description
We would like to identify any discrepancies in the documentation on design.va.gov and the component and any associated documentation in Storybook.

Analyze the documentation for the [Alert Box](https://design.va.gov/components/alertboxes) and the instance of the [va-alert](https://design.va.gov/storybook/?path=/docs/components-va-alert--default) component in Storybook and add a list

[2022-03-31 21:12] chaseakirby commented on #39454
The async review has been scheduled for 4/5, meaning you will receive feedback by EOD. No meeting will be held.

[2022-03-31 21:12] adamwhitlock1 commented on #39342
Some notes for Josh on accessibility:

Some things I don't have a good answer to (yet) that I'm thinking about.

Screen reader users may get confused that "Edit your address" will be read out twice in a row (e.g. "Edit your address to update or confirm it, link" then "Edit your address button."

Sending them to "Edit your address" button may have various mileage depending on if their address is ac

[2022-03-31 21:19] #39322 closed

[2022-03-31 21:26] MarciMcGuireGCIO opened #39459 "FE - Auth Profile - Notification Preferences- Update content for edge cases"
## Background

There are two edge cases that can occur which need to have content that is applicable:

In a [Slack thread](https://dsva.slack.com/archives/C010R6AUPHT/p1648580313434989?thread_ts=1648478120.717959&cid=C010R6AUPHT), Paras Shah confirmed that the language in a mockup Liz had already created will work in those scenarios.

![image.png](https://images.zenhubusercontent.com/5f92fce34aee8

[2022-03-31 21:28] Mottie commented on #39170
Done. Thanks Beth!

[2022-03-31 21:28] #39170 closed

[2022-03-31 21:28] Mottie commented on #39164
Done. Thanks Matthew & Kevin!

[2022-03-31 21:28] #39164 closed

[2022-03-31 21:30] MarciMcGuireGCIO commented on #37842
@adamwhitlock1 - I added a link to Christina's mockup in the description at the top.

[2022-03-31 21:30] holdenhinkle commented on #35573
The last team was onboarded to TUD today. Party!

[2022-03-31 21:33] Mottie commented on #38778
Claim Status Tool has been updated using the pattern @humancompanion-usds provided.

<details><summary>CST details full page screenshot</summary>

![Claim status with phase 1 - 3 expanded showing "past" updates](https://user-images.githubusercontent.com/136959/161140061-ecdaa7d0-a8f2-40e0-a0fa-2366f67112fe.png)</details>

@CourtneyChambers77 I would appreciate a final review of this in staging.

1

[2022-03-31 22:17] acrollet opened #39460 "[FE] Ensure that all text shown with Date Component is translatable"
## User Story

As a Spanish-speaking veteran, I wish to have all messaging associated with the Date of Birth component translated, so that I can complete the task of logging in to the check-in experience.

## Related Documentation

- [Design System](https://design.va.gov/components/form-controls#date-input)

## Description

When we move to requiring date of birth instead of last 4 of ssn to authen

[2022-03-31 22:29] acrollet opened #39461 "[FE] Ensure that all links to external english-language pages are identified to the Veteran"
## User Story

As a Spanish-speaking veteran, when I see a link to an English-language page, I wish to know that it is in English, so that I am not surprised by the change in language.

## Description

When viewing the check-in apps in Spanish or any non-english language, all links to external pages in English should:
- have the `hreflang` attribute present with the value `en`
- have the text ` (i

[2022-03-31 22:41] #38987 closed

[2022-03-31 22:42] jason-gcio commented on #39026
We'll wait and see if FE has the capacity to do this before we ask them.

[2022-03-31 22:42] #39026 closed

[2022-03-31 23:17] acrollet opened #39462 "[FE] [BUG] Incorrect spacing on alert when pre-checkin is completed"
## User Story

## Related Documentation
- [Sketch](https://www.sketch.com/s/e79a827e-42cf-4a82-b554-874c75b5c70e)
- [Product Docs](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/health-care/checkin)
- [Feature Doc](%FILL IN%)

## Description

At least in Safari, the spacing is incorrect on the alert with the text "A staff member will help you on the day of your

[2022-03-31 23:20] patrickvinograd commented on #9308
This was fixed by the [PR](https://github.com/department-of-veterans-affairs/vets-api/pull/5458) mentioned above.

[2022-03-31 23:20] #9308 closed

[2022-03-31 23:40] cgednalske commented on #38126
Hi @Samara-Strauss and @MarciMcGuireGCIO! In @DanielleThierryUSDSVA's office hours today, we talked through the additional info component text in Gender identity and Sexual orientation, and how to help convey the optional nature of the fields now that we don't have the Remove button.

We landed on changing the text to _What to know before you decide to share your gender identity_, with the additio

[2022-04-01 00:00] starlow00 commented on #38288
Hi @SKasimow .
[HCA.Product.Guide.ShortForm.CC.draft1_srt_033122.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/8393720/HCA.Product.Guide.ShortForm.CC.draft1_srt_033122.docx)
 This draft of the short-form looks good. I gave it some polish. If it works for you, I can share a copy with VEO.

[2022-04-01 00:00] MarciMcGuireGCIO commented on #34466
Noting that this ticket will need to be carried into Sprint 71.

[2022-04-01 00:04] #38965 closed

[2022-04-01 00:05] #38988 closed

[2022-04-01 00:11] #38639 closed

[2022-04-01 00:15] MarciMcGuireGCIO commented on #38997
Since you're in the midst of your research, I'm assuming you've recruited notetakers.  :)

[2022-04-01 00:15] #38997 closed

[2022-04-01 00:33] MarciMcGuireGCIO commented on #38961
@Samara-Strauss @SKasimow @cgednalske - I updated the description above to note where the draft doc is located, and everything that I updated.

[2022-04-01 00:35] cgednalske commented on #38988
@MarciMcGuireGCIO Here is the link to [mobile mockup](https://www.sketch.com/s/59857eb5-d9f9-4145-99d3-d9a1de2d0655/a/09Vb1eV) as well!

[2022-04-01 00:41] #35018 closed

[2022-04-01 00:44] SKasimow commented on #38073
Dupe to https://app.zenhub.com/workspaces/vsa---10-10-team-5fff0cfd1462b6000e320fc7/issues/department-of-veterans-affairs/va.gov-team/38288. Closing.

[2022-04-01 00:44] #38073 closed

[2022-04-01 00:47] SKasimow commented on #39288
@lzapson should I use this mock for the flow I am putting together?

[2022-04-01 01:25] SarahKay8 commented on #38376
No A11y feedback on my end!

[2022-04-01 12:05] MarciMcGuireGCIO commented on #38961
Noting that I am going to keep making updates today and will update the description accordingly.

[2022-04-01 12:29] MarciMcGuireGCIO commented on #38988
Thank you @cgednalske !

[2022-04-01 12:31] kylesoskin commented on #38488
https://github.com/department-of-veterans-affairs/backstage-test/tree/feature/ksoskin/auth_example/plugins/example-plugin-with-auth

The plugin is done for the most part, it could use some polishing but it should meet the needs it is for. I now need to document it, and make RFC about it.

[2022-04-01 13:01] allison0034 commented on #38376
No design feedback, thank you!

[2022-04-01 13:11] drjecker opened #39463 "Adding Matt Hall to DSVA Slack"
Please add [matt.hall@adhocteam.us](mailto:matt.hall@adhocteam.us) as a full member.

Matt is the new Product lead on the mobile team.

[2022-04-01 13:14] drjecker opened #39464 "Adding Misty Milliron-Grant to DSVA Slack"
Please add [misty.milliron-grant@adhocteam.us](mailto:misty.milliron-grant@adhocteam.us) as a full member.

Misty is a UX Writer working on the mobile team.

[2022-04-01 13:22] pjhill commented on #38399
Here's a Grafana dashboard of backend services and their status in production:
https://grafana.vfs.va.gov/d/000000050/backend-service-report?orgId=1

[2022-04-01 13:25] LindaLi123 commented on #37987
Hello @jonathan-epstein13 is this ready yet?

[2022-04-01 13:26] pjhill commented on #38399
External Service Grafana Dashboard:
https://grafana.vfs.va.gov/d/000000025/external-service-status?orgId=1

[2022-04-01 13:38] joshkimux commented on #38376
For some reason the user/password doesn't work still for the LOA1  😢
Based on the mockup, the only feedback I might have is that "Verify your identity" (I believe) is a link and should be styled using the action link. I've left feedback on it before, so it might have already been changed which is why I'll withhold from adding it to a ticket until I can access the LOA1 user 🙏

https://user-images.g

[2022-04-01 13:47] munishmo opened #39465 "CC: Conduct Tech Discovery with VAOS"

[2022-04-01 13:48] munishmo opened #39466 "CC: Conduct Tech Discovery with VAOS"

[2022-04-01 13:59] loripusey opened #39467 "[Research] Conduct Research Study at a VA Rehab Center for the Blind"
## Background Information
Martha Wilkes is a VA accessibility researcher and she attended the meeting today. She is very interested in us potentially conducting a user research study at a VA rehab center for the blind so that we could really put the accessibility of our product to the test. since accessibility is a part of the north star/overall vision, this might be something good to put on our r

[2022-04-01 14:04] MarciMcGuireGCIO commented on #39459
@adamwhitlock1 hey!  Can you please pop an estimate on this ticket when you have a chance?  Thx!!

[2022-04-01 14:05] loripusey opened #39468 "[Design] Create Error Message Wireframe for Blank DOB State"
## Background Information
When Adrian and I were reviewing the app in Spanish and Taglog, we realized something about the SSN to DOB change that we need to make. We will need the error wording for the blank DOB state. The date picker component allows for variable error state/blank messaging, so we need to determine what wording we want. We need a ticket to create this wording.

## User Story
As a

[2022-04-01 14:06] MarciMcGuireGCIO commented on #38955
Helloooo @adamwhitlock1 when you have a minute, can you drop an estimate on this ticket? Thank you!

[2022-04-01 14:07] pjhill commented on #39156
@CBonade -- Pull whatever data you need out of Joe's personal space version of the doc [here](https://vfs.atlassian.net/wiki/spaces/~750876204/pages/2067333175/Product+List+-+Interested+Parties).

[2022-04-01 14:11] Samara-Strauss commented on #38126
This sounds good to me! Can we more explicitly say this is optional within the FAQ text as well?

[2022-04-01 14:13] #35734 closed

[2022-04-01 14:14] drjecker opened #39469 "Adding Brenda Cudone to DSVA Slack"
Please add [brenda.cudone@adhocteam.us](mailto:brenda.cudone@adhocteam.us) as a full team member.

Brenda is a new Product Manager on the mobile team.

[2022-04-01 14:14] Samara-Strauss commented on #34466
Thanks, Marci!

[2022-04-01 14:14] chaseakirby opened #39470 "[Content organization] Your page doesn't follow heading hierarchy. Headings aren't properly nested, and headings and/or labels aren't relevant to the page. (02.05.1)"
### General Information

#### VFS team name
Authenticated Experience

#### VFS product name
My VA Dashboard

#### VFS feature name
Payment Information

#### Point of Contact/Reviewers
Angela Fowler (@AngelaFowler82) - Accessibility

For more information on how to interpret this ticket, please refer to the [Anatomy of a Staging Review issue ticket](https://depo-platform-documentation.scrollhelp.sit

[2022-04-01 14:17] chaseakirby opened #39471 "[Other] No VA.gov Experience Standard for the issue found. (0.00.1)"
### General Information

#### VFS team name
Authenticated Experience

#### VFS product name
My VA Dashboard

#### VFS feature name
Payment Information

#### Point of Contact/Reviewers
Angela Fowler (@AngelaFowler82) - Accessibility

*For more information on how to interpret this ticket, please refer to the [Anatomy of a Staging Review issue ticket](https://depo-platform-documentation.scrollhelp.si

[2022-04-01 14:19] abuchanan83 commented on #39312
To reproduce this issue, please ensure you are on the master branch of the vets-website. Then open dev tools, select the option to simulate devices, then select the "Next Hub Max" view. This will allow you to reproduce the issue.![Screen Shot 2022-04-01 at 9.18.40 AM.png](https://images.zenhubusercontent.com/61fafcd50cf8302de42d01ba/2d3e8dcb-7664-4ebc-a2f5-4e1c66cd22eb)

[2022-04-01 14:20] claytonzook opened #39472 "Reorganize Platform landing pages for "Research and design" and "Collaboration cycle" sections"
## User Story
_"As a VSF team member, I want to easily find important Research and Design guidance, so that I'm confident my work follows VA.gov principles and aligns with their standards."_

_"As a VSF team member, I want to easily find important Collaboration Cycle guidance, so that I understand what's expected of me during the process and can find answers to my CC questions."_

_"As a user of t

[2022-04-01 14:21] chaseakirby opened #39473 "[Other] No VA.gov Experience Standard for the issue found. (0.00.2)"
### General Information

#### VFS team name
Authenticated Experience

#### VFS product name
My VA Dashboard

#### VFS feature name
Payment Information

#### Point of Contact/Reviewers
Angela Fowler (@AngelaFowler82) - Accessibility

*For more information on how to interpret this ticket, please refer to the [Anatomy of a Staging Review issue ticket](https://depo-platform-documentation.scrollhelp.si

[2022-04-01 14:24] chaseakirby opened #39474 "Staging Review Finding: Alt text for Onsite Notification [Assistive tech and device support] Pages require sensory characteristics to be understood or operable. (11.04.1)"
### General Information

#### VFS team name
Authenticated Experience

#### VFS product name
My VA Dashboard

#### VFS feature name
Payment Information

#### Point of Contact/Reviewers
Josh Kim (@joshkimux) - Accessibility

*For more information on how to interpret this ticket, please refer to the [Anatomy of a Staging Review issue ticket](https://depo-platform-documentation.scrollhelp.site/collabo

[2022-04-01 14:26] chaseakirby opened #39475 "[Content styleguide] The content isn't written consistently across static pages, tools, and devices. (05.11.1)"
### General Information

#### VFS team name
Authenticated Experience

#### VFS product name
My VA Dashboard

#### VFS feature name
Payment Information

#### Point of Contact/Reviewers
Cheryl Evans (@CherylEvans) - Content

*For more information on how to interpret this ticket, please refer to the [Anatomy of a Staging Review issue ticket](https://depo-platform-documentation.scrollhelp.site/collabo

[2022-04-01 14:28] chaseakirby opened #39476 "[Content organization] Your content or feature isn't placed within an appropriate or relevant area of VA.gov. (02.05.2)"
### General Information

#### VFS team name
Authenticated Experience

#### VFS product name
My VA Dashboard

#### VFS feature name
Payment Information

#### Point of Contact/Reviewers
Cheryl Evans (@CherylEvans) - Content

*For more information on how to interpret this ticket, please refer to the [Anatomy of a Staging Review issue ticket](https://depo-platform-documentation.scrollhelp.site/collabo

[2022-04-01 14:30] chaseakirby opened #39477 "[Content styleguide] The content isn't written consistently across static pages, tools, and devices. (05.11.1)"
### General Information

#### VFS team name
Authenticated Experience

#### VFS product name
My VA Dashboard

#### VFS feature name
Payment Information

#### Point of Contact/Reviewers
Cheryl Evans (@CherylEvans) - Content

*For more information on how to interpret this ticket, please refer to the [Anatomy of a Staging Review issue ticket](https://depo-platform-documentation.scrollhelp.site/collabo

[2022-04-01 14:31] loripusey opened #39478 "[UX] Update Product Guides for Spanish Translation"
## Description
We need to update the Product Guides based on our new Spanish Translation feature

## Tasks
- [ ] Update the PCI and CI Product Guides, including content and screenshots
- [ ] Push changes to GitHub files
- [ ] Notify the Contact Center of the changes
- [ ] Notify Training of the changes

## Acceptance Criteria
- [ ] Content has been updated
- [ ] Screenshots have been updated
- [ ]

[2022-04-01 14:31] loripusey opened #39479 "[UX] Update Release Artifacts"
## Description
Update various product assets, as necessary, based on changes for just translation support.

## Tasks
- [x] Update the PCI Product Guide, including content and screenshots
- [x] Update the CI Product Guide, including content and screenshots
- [x] Update the Poster
- [x] Update user flow diagrams, as necessary
- [x] Send updated screenshots to Danielle Thierry for the Resources & Sup

[2022-04-01 14:31] chaseakirby opened #39480 "[Content organization] Long or complex sections of content aren't broken up into content chunks or bulleted lists. (02.06.1)"
### General Information

#### VFS team name
Authenticated Experience

#### VFS product name
My VA Dashboard

#### VFS feature name
Payment Information

#### Point of Contact/Reviewers
Jim Ryan (@jimuhh) - IA

*For more information on how to interpret this ticket, please refer to the [Anatomy of a Staging Review issue ticket](https://depo-platform-documentation.scrollhelp.site/collaboration-cycle/A

[2022-04-01 14:34] loripusey opened #39481 "[UX] Update Product Guides for Edit Messaging"
THIS WORK IS INCLUDED IN THE PRODUCT UPDATES FOR LAROTA SECURITY UPDATES (refer to this [ticket](https://app.zenhub.com/workspace/o/department-of-veterans-affairs/va.gov-team/issues/39279))

[2022-04-01 14:34] lunascoop commented on #37814
@RLHecht page has been updated.
Sobre las vacunas COVID-19: http://preview-prod.vfs.va.gov/preview?nodeId=36461

[2022-04-01 14:37] powellkerry commented on #38740
This was done with the most recent deploy

[2022-04-01 14:37] #38740 closed

[2022-04-01 14:40] MarciMcGuireGCIO commented on #38126
Somehow I missed this yesterday.  I agree -- that seems completely logical!  Mockups look great!

[2022-04-01 14:40] lunascoop commented on #38819
@RLHecht this page is ready for review.

Mga karaniwang katanungan tungkol sa Coronavirus: http://preview-prod.vfs.va.gov/preview?nodeId=16475

[2022-04-01 14:41] RLHecht commented on #37814
Thanks, @lunascoop I reviewed and published this.

[2022-04-01 14:44] joeniquette commented on #39432
Updated this document: https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/blob/master/teams/vsp/teams/Identity/MHV%20Inherited%20Proofing/MHV_API_Inherited_Proofing_Interaction.md

Waiting on a review of department-of-veterans-affairs/va.gov-team-sensitive#436

[2022-04-01 14:45] kjduensing commented on #38203
Comments:
IAL2 requires a failure to proof URL - Login.gov recommends for our case to bump down to IAL1
In bumping down to IAL1, the default AAL level is set to AAL1, which "remembers" the user for 30 days. Recommended to bump up to AAL2 (remember for 12 hours + MFA required)
We do not get lastname/firstname information with IAL2 - but can possibly work around that for the time being.

[2022-04-01 14:45] kjduensing commented on #38203
Login.gov Keycloak app config deployed 3/31.

[2022-04-01 14:51] MarciMcGuireGCIO commented on #35178
Hey Adam - I am not sure if this is the same issue you mentioned, but I just banged around on it in Staging, and everything works great, except when I overrode an address validation suggestion, then it threw an error when it tried to update the mailing address.   It worked fine when I took the suggested address, though.

![image](https://user-images.githubusercontent.com/73354907/161288023-646eea5

[2022-04-01 14:51] #39356 closed

[2022-04-01 14:55] lianilychee commented on #38375
4/1 Fri:
- was sick since Tues, refreshing memory on what I have to do
- have already scheduled meeting with Peter Joe and Jill for accountability

[2022-04-01 14:58] lianilychee commented on #37227
4/1 Fri
- Darius added intro, resolved comments
- Today:
  - Samara double check that links are not broken
  - if time permits, Samara/Gretchen copy and paste into the live content source together

[2022-04-01 15:00] bsmartin-ep commented on #36962
Sorry @mmiddaugh.  Domo access granted.

[2022-04-01 15:01] lianilychee commented on #37223
Fri 4/1: double check quality issues
Samara/Gretchen copy into live content sources on Monday

[2022-04-01 15:01] lianilychee commented on #37228
4/1 Fri:
- haven't check, will do today

[2022-04-01 15:03] lianilychee commented on #37281
4/1 Fri:
- Jill can message QAST asking of Tools and Resources is a good place to link this stuff from

[2022-04-01 15:06] lianilychee commented on #38469
4/1 Fri:
- send message to jill samara gretchen lauren to update their va slack profiles with new team name
- begin a list of where content/ia would be written

[2022-04-01 15:07] leahkeeler commented on #38908
@TSimmz - is this going to make it into this sprint?

[2022-04-01 15:09] lianilychee opened #39482 "Write net new "Create a test plan""
https://vfs.atlassian.net/wiki/spaces/PWD/pages/2146893909/Creating+a+test+plan+in+TestRail

[2022-04-01 15:13] michelle-dooley commented on #26851
Hi @JRRoof and @ldelacosta -  Unfortunately we are not quite complete with your dashboard.  The shared steps across funnels caused some data challenges that have take some time to resolve and ensure we are counting each accurately and not overstating.  This is top priority for our team to complete as I know we committed to end of March.  I apologize for the delay!!  We should have this to you in t

[2022-04-01 15:17] lzapson opened #39483 "FE | Phase 2 | Use Service Connected Disability Rating to Fast Track Completion of 10-10EZ (part 6)"
## Description

As a veteran if my service connected disability rating is equal or greater then 50% I should be able to skip sections of the 10-10EZ.

The disability rating is available through the GET /v0/disability_compensation_form/rating_info API

## Acceptance Criteria
- [x] Successfully tested
- [x] in Staging
- [x] in PROD

## Flow
- [Authenticated clickable prototype](https://preview.uxpin

[2022-04-01 15:21] #38897 closed

[2022-04-01 15:21] #38895 closed

[2022-04-01 15:23] #38716 closed

[2022-04-01 15:24] leahkeeler commented on #34626
Moving to backlog for new teams

[2022-04-01 15:24] leahkeeler commented on #36762
Moving to backlog for new teams

[2022-04-01 15:25] #38898 closed

[2022-04-01 15:26] leahkeeler commented on #38908
@TSimmz - Can you update with what was doen to replicate/research please?

[2022-04-01 15:27] lunascoop commented on #38695
@RLHecht I updated some of the content per the document. I didn't implement some of the changes such as italicizing the English words or duplicating some content (english and Tagalog).

Mga bakuna sa COVID-19 sa VA: http://preview-prod.vfs.va.gov/preview?nodeId=16413

[2022-04-01 15:31] SgardnerPMP opened #39484 "[SW-Content] Swap out videos in COVID CLP-HOLD TO PUBLISH UNTIL WEEK OF 5/2"
## Issue Description
We need to swap out the videos in the stories section of the CLP to the 2 Veterans we previously had:

Robert Bonner
Ronald Pipkins

## Tasks
- [x] Replace text and videos (Aliyah)
- [x] Review and publish (Megan)
- [x] Create new ticket for next update (Randi)

## Acceptance Criteria
- [x] New videos and text are live on the page

[2022-04-01 15:32] SgardnerPMP opened #39485 "[SW-Content] Swap out videos in COVID CLP-HOLD TO PUBLISH UNTIL WEEK OF 5/23"
## Issue Description
We need to swap out the videos in the stories section of the CLP to the 2 Veterans we previously had:

Patricia Victor
John McAllister

Documentation for how to swap videos: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/sitewide-content/how-to-do-different-tasks/covid-19-biweekly-video-swap-process.md

## Tasks
- [x] Replace text and

[2022-04-01 15:33] cgednalske commented on #38126
Great! @Samara-Strauss @MarciMcGuireGCIO  Below is the text we currently have within the FAQ - do you feel this is clear enough or still in need of something more direct?

Also want to note that - without the R&S article - we don't have anything in this text that clarifies why we ask for Gender identity and Sexual orientation. Double checking we are ok with no mention of that at this point? Here i

[2022-04-01 15:38] michelle-dooley commented on #34550
@bevnobev - I see your access was granted.  Are you able to see it now?

You are correct on bounce rate.  If you ever have questions on metric definitions you can always click on the card title and it will take you to a view that allows you to see more information about how it was calculated (looks like a typo in this one, will get that fixed) and drill down into details.

![image](https://user-im

[2022-04-01 15:43] mleclerc00 opened #39486 "[EKS] Migrate metrics-server to helm from jsonnet"
## Description
In continuing efforts to rid ourself from jsonnet, I am going to pick off external-dns and move it over to deploying via the helm chart.

https://github.com/bitnami/charts/tree/master/bitnami/metrics-server

---
## Tasks
- [x] Deploy metrics server using the helm chart in staging (less people using this environment currently)
- [x] Update metrics server to the latest version
- [x] P

[2022-04-01 15:45] TSimmz commented on #38908
Initially was able to recreate this, but after coming back to it a few days later, the missing form was there. Could not reproduce after that. We initially thought that the form was mistakenly deleted (archived) in the forms database, then re-added later, but after checking the CMS logs, that was not the case.

@davidconlon noted that there did seem to be an issue with the `vets-api` that day whic

[2022-04-01 15:48] MarciMcGuireGCIO commented on #38905
@adamwhitlock1 -- leaving this here from the Design Intent for when you get ready to start building the FE.

[2022-04-01 15:49] Samara-Strauss commented on #38126
How do we feel about adding something like "Sharing your gender identity with the VA is optional. If you decided to share your gender identity, you should know that we follow strict security..." Something like this would, of course, need to be approved by @DanielleThierryUSDSVA since I do not have the final say on content. I'm also open to not including that if people feel it is too heavy handed.

[2022-04-01 15:51] MarciMcGuireGCIO commented on #38126
Based on the feedback we got during the research sessions, anything to ease people's anxiety about sharing this info is probably helpful.

[2022-04-01 15:51] #34867 closed

[2022-04-01 15:51] #35181 closed

[2022-04-01 15:55] SgardnerPMP opened #39487 "[SW-Content] Review and update "Home-loans/eligibility" page [CW]"
## Story
As a Veteran I need to have accurate information regarding my home loan eligibility, so I know what is required and how to proceed.

## Resources
[Home loans-eligibility](https://www.va.gov/housing-assistance/home-loans/eligibility/)

[https://app.zenhub.com/files/133843125/b3a1f4fe-b77f-4962-848a-13626e9d4d00/download](https://app.zenhub.com/files/133843125/b3a1f4fe-b77f-4962-848a-13626e

[2022-04-01 15:59] bevnobev commented on #34550
@michelle-dooley Thanks!  I have access now.

[2022-04-01 16:00] cgednalske commented on #37845
@MarciMcGuireGCIO @Samara-Strauss Noting that we briefly touched on this topic in Danielle's office hours!

@DanielleThierryUSDSVA's suggestion to explore for use throughout Profile is "Choose edit to add a [preferred name]"

[2022-04-01 16:02] timwright12 opened #39488 "Sentry is not reporting line numbers correctly"
## Description

When we have errors reporting in Sentry they are supposed to display the line number associated with each error to help with debugging. Currently it isn't reporting a helpful value and looks like the sourcemap isn't being generated correctly.

We're seeing output like: `Error in yu at line 2:430148`, which is indicative (to me) of a sourcemap being generated from minified & obfusca

[2022-04-01 16:06] bethpottsVADEPO commented on #38853
@mnorthuis Here's the new page in draft form--I'm still working on it and will likely move some of the content around, but we can probably figure out the H1/URL at this point. http://preview-prod.vfs.va.gov/preview?nodeId=44698

[2022-04-01 16:08] mmiddaugh opened #39489 "[CONSIDER] VBA appointments link in Facility Locator"
## Issue Description
Veterans can use the Visitor Engagement Reporting Application (VERA) self-service portal to schedule, reschedule, and cancel appointments at VBA Regional offices. It  may be helpful to provide a link to this tool in appropriate Facility Locator VBA search results.

See QR code for [VERA](https://vets.force.com/VAVERA/s/) on [St. Petersburg Regional Office page](https://www.ben

[2022-04-01 16:10] lexicalninja opened #39490 "Adding Seth Eheart to DSVA Slack"
# Description

**new user requests**: please verify that the user does not already exist in dsva.slack.com (it may be the account exists, but is not in a particular channel)

Please Add Seth Eheart to the DSVA Slack instance.

Are you requesting to add an individual as a:

- Full member

- What channel(s) do they need to be added to?
#va-mobile-app-leadership

Then add a brief description of this

[2022-04-01 16:12] lexicalninja opened #39491 "Adding Matt Hall to DSVA Slack"
# Description

**new user requests**: please verify that the user does not already exist in dsva.slack.com (it may be the account exists, but is not in a particular channel)

Please add Matt Hall to DSVA slack as a full-member. Matt is the new Product leader for Ad Hoc on the VA Mobile Team.

Please add Matt to the #va-mobile-app-leadership channel

Are you requesting to add an individual as a:

-

[2022-04-01 16:16] JRRoof commented on #26851
@michelle-dooley - Thanks for the update.  If we need to discuss anything, just drop time on our calendars.

[2022-04-01 16:19] bevnobev commented on #34550
@michelle-dooley Seems like the stats are only until 3/26, but we write to big query nightly.

[2022-04-01 16:19] #37776 closed

[2022-04-01 16:22] RLHecht commented on #38695
Thanks @lunascoop I reviewed and published this page.

[2022-04-01 16:24] adamwhitlock1 commented on #35178
![Screen Shot 2022-04-01 at 10.18.59 AM.png](https://images.zenhubusercontent.com/60ddebd504ce2452d0e0fa92/631e5afc-e343-4d70-b4d0-25a58f6b0642)

Here is the error that I am getting when the address is overridden.

Do we have documentation specific to the address update API that I could look into further?

[2022-04-01 16:26] MarciMcGuireGCIO commented on #38961
@Samara-Strauss @SKasimow @cgednalske
Last update -- I removed a duplicate, but empty **Military Info** section and updated the headings in the other one to get it to appear in the Table of Contents.

Screen shots & instructions from page 59 forward should still be reviewed and the TOC re-updated after all changes are made.  Draft has been uploaded to the links provided in the Description above, w

[2022-04-01 16:29] marcynadeau commented on #39301
@grossb1 @ldelacosta As discussed on Scrum this failed testing and same issue as originally reported.

[2022-04-01 16:32] MarciMcGuireGCIO commented on #35178
@adamwhitlock1 - there's a directory from 2 years ago with [address validation documentation](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/identity-personalization/profile/contact-information/address-validation).  The [error-code-matrix ](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/profile/contact

[2022-04-01 16:35] FernandoBoza opened #39492 "SOCKS access for Fernando Boza"
### Your Name

Fernando Boza

### Your Email

fernando.boza@accenturefederal.com

### Your Role

Frontend Developer

### Public SSH Key

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDJ5lZzlytu2oofXL07n6DoPld8g8y1RLNOF1Lf1Yt2rKSTrq+cPh/FzPqVMHXafSehk+QHbDoVsHUzpBiq2yvvqX2CD7WB9RF9Cr0jGIvPH82X53SHY3dU0Id7aJGJb8rbsBVKYCXDCKgFGeuFjRaDP/iAD3cWCSkOFmAbBED6eRwejdZ1Io+MtXDA2xM4olZA9Io0R8YMyq/ZbKLS208yjryujHKy6ZS

[2022-04-01 16:37] TKDickson opened #39493 "SOCKS access for Therese Dickson"
### Your Name

Therese Dickson

### Your Email

therese.dickson@adhocteam.us

### Your Role

Senior Software Engineer, QA

### Public SSH Key

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDU2c0W14iiUXf2LJ+lywd/whSwcH9x4IDg1Q5wxiG3lg9awKDklwTKS4sCCd4TAV3q3pcVt0Fd9gFwJgqpNk2dADCzuPS6G19Edrqrg2Y320hhHoqp3Ba0XkECyWDaQn7Md1CLA/Dgn9hhpNpwmAcXo3vKmw3hXsgfEEeEIcXcJNeZUGEzZmbNgW0zfcBrMEXPsWHkxPRkI8lOwI4dhQgMp8r9F

[2022-04-01 16:46] michelle-dooley commented on #34550
Hi @bevnobev that is correct.  Domo dashboards default groupings and comparisons are week over week so we generally only load once per week so you are comparing apples to apples.  For example if we included the week of 3/27 you would see a big drop in this chart b/c the week is not over (may not now since it is Friday but earlier in the week you would have).  You can still see daily trends by chan

[2022-04-01 16:47] ewilson-adhoc commented on #39388
Today I will be implementing a basic test harness and looking into tools that will give us code coverage analysis. Stretch goal is to set up CI on github.

[2022-04-01 16:49] djfredvs opened #39494 "4/28/22 AVS Training Nebraska Western-Iowa"
Acceptance criteria are pre-defined requirements that must be met to mark a task as complete. What needs to be done to mark this task as complete?

[X] Training email sent
[X] Training Date Established 4/28/22 2:30 pm
[X] Conduct Training

[2022-04-01 16:49] bevnobev commented on #34550
Thanks @michelle-dooley Let me think on that.  If we decide to change to a daily load, how do we go about doing that?

[2022-04-01 16:51] djfredvs commented on #39494
Contact Lori A Dierking
Her group will be joining the Alexandria, LA group

[2022-04-01 16:52] acrollet commented on #39462
This doesn't seem to happen with pre-check-in.

[2022-04-01 16:59] nsmith1982 opened #39495 "Adding Ian Hundere to DSVA Slack"
# Description

**new user requests**: please verify that the user does not already exist in dsva.slack.com (it may be the account exists, but is not in a particular channel)

Good afternoon,

Would you please add Ian Hundere (Ian.Hundere@oddball.io) as a Full Member of DSVA Slack?  Ian is a DevOps Engineer joining the Identity team.  Please give him access to the following channels:

# vfs-all-tea

[2022-04-01 17:01] lindsay-insco commented on #39146
Approved draft

[2022-04-01 17:01] #39146 closed

[2022-04-01 17:05] lindsay-insco opened #39496 "[04/04/22] OSM Group Document"
## Description
The OSM group asked for a document to discuss what OSM is, benefits, features, and what product support team will do to ensure proper support re: rollout
---

## Acceptance Criteria
- [x] Draft document
- [x] Review document with Paras and Lindsay
- [ ] Document approved
---

[2022-04-01 17:05] rbeckwith-oddball commented on #37871
Just a note, *democanary* was built on the same day as `tud-basic-check` and I don't think it ever worked. Nor did the person clean up afterwards.

[2022-04-01 17:09] rbeckwith-oddball opened #39497 "Migrate dslogon_status synthetic canary to DataDog"

[2022-04-01 17:14] rbeckwith-oddball opened #39498 "Migrate vagov-heartbeat synthetic canary to DataDog"

[2022-04-01 17:15] rbeckwith-oddball opened #39499 "Migrate data-fetch synthetic canary to DataDog"

[2022-04-01 17:15] rbeckwith-oddball opened #39500 "Migrate va.gov search synthetic canary to DataDog"

[2022-04-01 17:16] rbeckwith-oddball opened #39501 "Migrate tud-basic-check synthetic monitor to DataDog"

[2022-04-01 17:16] pjhill opened #39502 "Migrate dslogon_status"
## Issue Description
`dslogon_status` needs to move out of AWS Cloudwatch and into Datadog.

---
## Tasks
- [ ] Analyze the Cloudwatch version of the synthetic
  * Consider PagerDuty alerts
  * Consider Slack notifications
  * Consider schedule
- [ ] Re-create the behavior of the Cloudwatch version in Datadog

## Acceptance Criteria
- [ ] Datadog synthetic monitor alerts PagerDuty when meeting fai

[2022-04-01 17:17] pjhill opened #39503 "Migrate vagov-heartbeat"
## Issue Description
`vagov-heartbeat` canary needs to move out of AWS Cloudwatch and into Datadog.

---
## Tasks
- [x] Analyze the Cloudwatch version of the synthetic
  * Consider PagerDuty alerts
  * Consider Slack notifications
  * Consider schedule
- [x] Re-create the behavior of the Cloudwatch version in Datadog
- [x] Monitor the new Datadog monitor for any unexpected failures

## Acceptance

[2022-04-01 17:17] pjhill opened #39504 "Migrate data-fetch"
## Issue Description
`data-fetch` canary needs to move out of AWS Cloudwatch and into Datadog.

---
## Tasks
- [ ] Analyze the Cloudwatch version of the synthetic
  * Consider PagerDuty alerts
  * Consider Slack notifications
  * Consider schedule
- [ ] Re-create the behavior of the Cloudwatch version in Datadog
- [ ] Monitor the new Datadog monitor for any unexpected failures

## Acceptance Crite

[2022-04-01 17:17] pjhill opened #39505 "Migrate va.gov search"
## Issue Description
`vagov-search` canary appears to be in an [error state](https://console.amazonaws-us-gov.com/cloudwatch/home?region=us-gov-west-1#synthetics:canary/detail/vagov-search). Still, let's move this out of AWS Cloudwatch and into Datadog.

---
## Tasks
- [x] Analyze the Cloudwatch version of the synthetic
  * Consider PagerDuty alerts
  * Consider Slack notifications
  * Consider sc

[2022-04-01 17:24] lindsay-insco commented on #39148
Down to 160 templates over 4 segments

[2022-04-01 17:24] #39148 closed

[2022-04-01 17:26] pjhill opened #39506 "Create a Dashboard to Collect and Display Synthetic Monitors"
## Issue Description
In order to observe and assess the state of the synthetic monitors hosted in Datadog, we need to create a dashboard displaying their current and historical status.

---
## Tasks
- [ ] Create a dashboard for the purpose of displaying synthetic monitors
- [ ] Include the original set of 4 monitors on the dashboard

## Acceptance Criteria
- [ ] Synthetic Monitor Dashboard exists

[2022-04-01 17:26] #39219 closed

[2022-04-01 17:28] Samara-Strauss commented on #37845
That sounds great to me!

[2022-04-01 17:28] michelle-dooley commented on #39329
@obrienjulie adding note here to include the "section-label" values work in this as discussed.

[2022-04-01 17:29] Samara-Strauss commented on #38961
Thanks, Marci!

[2022-04-01 17:31] ldelacosta commented on #39301
Moving this ticket back to In Progress

[2022-04-01 17:31] psanders86 commented on #8593
@RLHecht This is ready for a copy edit.

prod.cms.va.gov/node/1009/edit

Additional source material:
https://www.va.gov/resources/how-we-determine-your-percentage-of-post-911-gi-bill-benefits/
https://www.va.gov/education/about-gi-bill-benefits/post-9-11/

[2022-04-01 17:34] michelle-dooley commented on #34550
@bevnobev just let us know and we can make the change, it is very simple update to the query to remove the date limit.

[2022-04-01 17:36] holdenhinkle commented on #38399
Sheet - https://docs.google.com/spreadsheets/d/1-ty49As0WEgEf91LUhlD9ASimKrPUOsxmoMphYwx95k/edit#gid=536064064

The sheet lists the:
- number of requests made to each backend service that is listed in Grafana for the month of March, 2022
- name of the external services listed in Grafana

[2022-04-01 17:37] jonathan-epstein13 commented on #37987
We've QA'd the data and everything matches up. So we will go ahead and close the ticket. The QA chart will be going into the ticket with the report links for documentation purposes.

[2022-04-01 17:39] bethpottsVADEPO commented on #35549
Hi @mrblanco1, I'm the content lead for VBA on the sitewide content team. I'd like to work with you so the content here meets plain language standards and aligns with our VA.gov voice and style. The collab cycle loops us in generally after design intent if a product team hasn't met with us yet. That's why I'm in the mix now! If you get our input at this point, it'll help you get through the next c

[2022-04-01 17:39] #39501 closed

[2022-04-01 17:40] #39500 closed

[2022-04-01 17:40] #39499 closed

[2022-04-01 17:40] #39498 closed

[2022-04-01 17:40] #39497 closed

[2022-04-01 17:41] cgednalske commented on #38961
🎉 Thank you, @MarciMcGuireGCIO!

[2022-04-01 17:44] #39492 closed

[2022-04-01 17:46] lunascoop commented on #39487
@psanders86 this page is ready for review. I made all the changes but reworked the content in parenthesis after the Gulf War. It seemed redundant. And I'm not sure the current version is technically correct. I looked at the content on some of our [Gulf War](https://www.va.gov/health-care/health-needs-conditions/health-issues-related-to-service-era/gulf-war/) pages as an example ([this one too](htt

[2022-04-01 17:50] RLHecht commented on #34475
@lunascoop Tanewka just wrote back with March's number: 155.2. Could you please update both pages? Thank you!

[2022-04-01 18:00] #38784 closed

[2022-04-01 18:07] gary-fallon opened #39507 "Gap Analysis - Preform comprehensive security review of the Platform"
## Problem Statement
The Platform Security team will conduct a comprehensive security review of the Platform, including, but not limited to, the AWS `dsvagovcloud` account, team policies and procedures, and overall security posture in effort to gain a better understanding of our current state and provide this information to the product owner.

How might we better understand our security gaps?

##

[2022-04-01 18:12] hdjustice commented on #38806
Staging review completed!  Tickets created under #38376 for various minor content and accessibility items.  Some of these items will be addressed in further iterations of this section when we include copays and determine the level of information we want to share (exploration ticket #38984)

[2022-04-01 18:12] #38806 closed

[2022-04-01 18:15] pjhill commented on #38611
Created a survey here -- https://adhoc.optimalworkshop.com/questions/oi0c64tv

[2022-04-01 18:18] loripusey opened #39508 "[UX] Share Translated Control Text with UI Control Folks"
## Background Info
Refer to slack [thread](https://dsva.slack.com/archives/C02GXKL8WM6/p1648835642596929)

## Description
We need to share the following translations:
    -  For va-text-input, the two items needed are:
        - Required
        - Max. {Number} characters
    - For Date, the items I’m seeing are:
        - Required
        - Please provide a response
        - Please provide a val

[2022-04-01 18:22] lunascoop commented on #34475
@RLHecht these pages are ready for review.

How to file a VA disability claim: http://preview-prod.vfs.va.gov/preview?nodeId=905
The VA claim process after you file your claim: http://preview-prod.vfs.va.gov/preview?nodeId=870

[2022-04-01 18:34] #35659 closed

[2022-04-01 18:40] drjecker opened #39509 "SOCKS access for Jen Ecker"
### Your Name

Jen Ecker

### Your Email

jen.ecker@adhocteam.us

### Your Role

UX Lead

### Public SSH Key

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC7GVc9wJHjmC4iCSw9s/L8oUNxPsqWBXM62R219JloHKoEsqtqEUwJPEDsQpRXEr957QpjFYDqHtO8QxEPBzFXfVXH1huY4OxvTcwYZz++kIp8EY1yHo4cbtoqpJJDZLQA+HzOU/Hw6gZGrEyXqBpD0GI9V/XyQi7D4+yoNE2ojxUojDPCW1WID+ZxSgUDEGFjFnFxIhF5pJcH8XE7F21fRFxz3D5uP6T5aeI1FXYIUjk8mhjayklpfFsGEA

[2022-04-01 18:40] jsgarmon commented on #38538
/request Roger Sarkis

[2022-04-01 18:42] #38357 closed

[2022-04-01 18:47] mleclerc00 commented on #39493
Hi @TKDickson

You should be able to access socks now with the following [socks tutorial](https://depo-platform-documentation.scrollhelp.site/getting-started/Internal-tools-access-via-SOCKS-proxy.1821081710.html)

If you have any issues feel free to drop a message in [#vsp-platform-support](https://dsva.slack.com/archives/CBU0KDSB1)

[2022-04-01 18:47] #39493 closed

[2022-04-01 18:47] hdjustice commented on #36034
Incomplete in Sprint 70 - work on an unplanned test fix took longer than expected, which pushed this work to the next sprint. Anticipate this will be completed in sprint 71.

[2022-04-01 18:48] hdjustice commented on #38658
Incomplete in Sprint 70 - work on an unplanned test fix took longer than expected, which pushed this work to the next sprint. Anticipate this will be completed in sprint 71.

[2022-04-01 18:48] hdjustice commented on #38984
Incomplete in Sprint 70- 1st exploration and discussion held, however there are further avenues we want to explore and keep it all in the same ticket - carrying over to sprint 71

[2022-04-01 18:54] RLHecht commented on #34475
Thanks, @lunascoop I reviewed and published these. Moving to validate.

[2022-04-01 19:03] nicko-amida commented on #35062
The 8.5x11 and 11x7 low vision PDF posters are now [linked in Github](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/health-care/checkin/design/visual-collateral).

[2022-04-01 19:06] #35062 closed

[2022-04-01 19:11] rmtolmach commented on #39509
@drjecker Access granted ✅

Please allow 10 minutes for your key to be propagated to the various locations before attempting to connect.
See docs for further steps: https://depo-platform-documentation.scrollhelp.site/getting-started/Internal-tools-access-via-SOCKS-proxy.1821081710.html

Reach out in #vfs-platform-support if you have any trouble.

[2022-04-01 19:11] #39509 closed

[2022-04-01 19:23] Bernardo994 commented on #38742
Are we able to create custom views? I am trying to figure out how to get metrics on a very specific page?  Thanks

From: Brian Martin ***@***.***>
Sent: Monday, March 21, 2022 9:56 AM
To: department-of-veterans-affairs/va.gov-team ***@***.***>
Cc: Szymczak, Bernardo J. ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [department-of-veterans-affairs/va.gov-team] Request access to Google A

[2022-04-01 19:31] lunascoop commented on #39358
@psanders86 this page is ready for review.
Compare DEA and Fry Scholarship benefits for family members: http://preview-prod.vfs.va.gov/preview?nodeId=44718

**Some changes I made:**
- I tweaked the header formatting from it's proposed layout in the Word doc because it didn't look that great. You can view the version by selecting an earlier revision in the Drupal node. I opted to bold some text ins

[2022-04-01 19:36] holdenhinkle commented on #38399
# Backend Service Report - _Services by Number of Requests_
## Prod

| Last month (March, 2022)        |                    |               |
| ------------------------------- | ------------------ | ------------- |
|                 Prod                |               |               |
| Backend Service                 | Number of Requests | Ranked (prod) |
| VAOS                            | 3302

[2022-04-01 19:41] RLHecht opened #39511 "Content support for VRRAP High Demand Occupation List page from AFS Comparison Tool"
## What does your team need support for? Check all that apply.
- [ ] Launching one or more new unauthenticated (static) VA.gov pages
- [ ] Making revisions to one or more existing unauthenticated (static) VA.gov page
- [ ] Launching a new online form, app, or tool on VA.gov
- [X] Making revisions to an existing online form, app, or tool on VA.gov
- [ ] Something else (please add details in the nex

[2022-04-01 19:43] holdenhinkle commented on #38399
The next step is to see if the teams supporting the top services are still active. We want to choose services that are under active development and are supported, where test users are needed.

## List of 3 external data providers that will be included in the MVP
1. VAOS ??
    - This is the most requested service in production and staging, but they [didn't seem interested in using TUD](https://dsv

[2022-04-01 19:44] RLHecht commented on #35549
@mrblanco1 @bethpottsVADEPO I created a ticket for Sitewide Content #39511 to do a plain language edit of this page and its form labels. I'll open a separate ticket for our team to create the new Resources and Support page with the list that's currently on the PDF. Once that page is created, we can provide you with the url.

[2022-04-01 20:02] mjones-oddball commented on #39452
Question: https://dsva.slack.com/archives/CE4304QPK/p1648828810683559 ... VA Notify site is for internal VA users, not veterans. Will we be impacted by this - "Please remember to opt out of Google Analytics on all of your browsers on your work machines, personal machines (if you are not a Veteran yourself using the site for your own applications), and mobile devices! This helps ensure that we’re n

[2022-04-01 20:03] GnatalieH commented on #34491
@RLHecht here are my suggestions:

Remove the current image in the short term while I work on a newer one to replace it; I can create a ticket for that. But would you or someone else from Content be able to provide me with a screen shot of the correct error message you'd like to use? I can make a Sketch asset with annotations and then share it with you. Side note: do alerts still have buttons in t

[2022-04-01 20:05] marcynadeau commented on #39048
@ldelacosta just tested this again with VAOS Service 1.81.2 and MAS 2.17.1 and this is now working.  You can close this ticket.

[2022-04-01 20:19] jimuhh opened #39512 "IA Feedback-Midpoint Review- VA Notify Forms Strike Team, In Progress Reminders"
## VFS acceptance criteria
- [ ] Let Platform know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
Emails designed to prompt people to complete tasks perform far better when they describe the benefits of completing the desired task and finish with a clear call to action.
## Feedb

[2022-04-01 20:27] RLHecht opened #39513 "Create R&S page for VRAAP High Demand Occupation List"
## Issue Description
Currently on the [Veteran Rapid Retraining Assistance Program (VRRAP)](https://www.va.gov/education/other-va-education-benefits/veteran-rapid-retraining-assistance/) page, we have a [link to a PDF of high-demand occupations](https://benefits.va.gov/GIBILL/docs/vrrap-high-demand-occupation-list.pdf). For better accessibility, we need to create an R&S article with all the inform

[2022-04-01 20:28] bethpottsVADEPO commented on #35549
@mrblanco1 I work from Seattle and am online by 10:00 ET if you could check in about the link to the HDO info/codes sometime in the morning. I can show you what a new webpage would look like. It would solve the accessibility concerns--we wouldn't need to link to the PDF, but could instead link to this new VA.gov webpage.

[2022-04-01 20:45] kristenmcconnell commented on #38568
Send draft to team [for review via Slack](https://dsva.slack.com/archives/C02GXKL8WM6/p1648845524358469).

[2022-04-01 20:46] katieho-va opened #39514 "Offboarding of Katie Ho"
# Instructions
Fill out name of individual and *Description* section below.

# Description
Please provide the following information about the individual being offboarded:
- name:

- team name:

- role on team:

- expected last day:

- company they work for:

- email:

- GitHub username:

- additional access they may have:

Google Analytics?

## Acceptance Criteria
*Performed by Platform team. Deta

[2022-04-01 20:53] SKasimow commented on #38288
@starlow00 - yes this looks great!! Thanks for the polish!!! Will send over next flow shortly :)

[2022-04-01 21:05] cgednalske commented on #38126
Pending the decision on adding the information above into the dropdown, here are the links for our updated mockups - [Desktop](https://www.sketch.com/s/ba254d92-3c3d-4eba-825d-d7f5bda35565/a/EL4yDV2) & [Mobile](https://www.sketch.com/s/ba254d92-3c3d-4eba-825d-d7f5bda35565/a/KvxAd9y)

[2022-04-01 21:06] ewilson-adhoc commented on #39388
Added test harness and basic linter + CI using GH actions. Working on adding code coverage report to these actions.

[2022-04-01 21:06] rmtolmach commented on #39514
/request Katie Ho

@department-of-veterans-affairs/confluence-admins 👉  User is✖️  not in Confluence

✅  removed from VFS roster
✅  removed from SOCKS in https://github.com/department-of-veterans-affairs/devops/pull/11004
✖️  not in AWS
✅  removed from github org in https://github.com/department-of-veterans-affairs/github-user-requests/issues/10280
✖️  no pagerduty, datadog or sentry
✖️  no bot us

[2022-04-01 21:06] jsgarmon commented on #38538
Removed from GitHub org. No other access to remove. Revoked Datadog invitation that had never been used.

Waiting on Slack removal and @department-of-veterans-affairs/vsp-analytics-insights check.

[2022-04-01 21:09] joeniquette commented on #31803
Completed documentation here: https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/blob/master/teams/vsp/teams/Identity/How-To/Security/Rotate_certs.md

[2022-04-01 21:09] #31803 closed

[2022-04-01 21:09] jsgarmon commented on #38538
https://github.com/orgs/department-of-veterans-affairs/teams/confluence-admins:
user to remove: https://vfs.atlassian.net/wiki/people/6164cf76071a720071a5b6b3

[2022-04-01 21:11] MrMorie commented on #39386
Pact is definitely something we should use to mock out the virus scan service, but in the context of integration testing. While it may be possible to use Pact for simply running the file upload service locally and mocking out the virus scan, it would be overkill in my opinion.

We can easily spin up the file upload service and not depend or run the virus scan service locally (if we really don't wa

[2022-04-01 21:23] acrollet commented on #39488
Some notes from my investigation:

- Sentry has a source map tool available at https://sourcemaps.io/
- It is happy with some source maps on va.gov: https://sourcemaps.io/report/1648847132206_https%3A%2F%2Fwww.va.gov%2Fgenerated%2F670.entry.js
- It fails to validate [check-in.entry.js](https://prod-va-gov-assets.s3-us-gov-west-1.amazonaws.com/generated/check-in.entry.js): https://sourcemaps.io/rep

[2022-04-01 21:25] acrollet commented on #39488
One other note, sentry says that [a release must be created in sentry](https://docs.sentry.io/platforms/javascript/sourcemaps/troubleshooting_js/#verify-a-release-is-configured-in-your-sdk) for uploaded artifacts to be applied. I'm thinking/hoping that won't matter for automatically fetched source maps but I thought I'd mention it since it doesn't look like we have releases configured for vets-web

[2022-04-01 21:36] bsmartin-ep commented on #38538
No GA or Domo access.

[2022-04-01 21:37] bsmartin-ep commented on #39514
Domo access removed.  No GA access.

[2022-04-01 22:24] CarlDickerson commented on #38709
@starlow00 The product video has been revised and shared via Slack (the file was too large to upload here). I've also attached a link to download from box : https://mostudio.box.com/s/swnzeihhttb1np3n8umr89j4oz863wzz

[2022-04-01 22:31] tameracorson commented on #38392
Video:
https://mostudio.box.com/s/swnzeihhttb1np3n8umr89j4oz863wzz

[2022-04-01 22:48] tameracorson opened #39515 "Understand what is needed to translate HEC documents into Spanish and the impact on product time line"
- [ ] Discover POC to translate documents
- [ ] Map out timeline to complete Spanish translation of HEC documents (product guide, cover letter, FAQ, email templates, text messages)

[2022-04-01 22:51] tameracorson opened #39516 "Finalize HEC documents for translation with hybrid MVP designs"
**User guide, Product guide, FAQ, Cover letter**
- [x] Update content to reflect Hybrid MVP for accessibility
- [x] Insert final design (approved by sitewide content IA) to documents
- [x] Have another team member audit/approve work
- [x] Turn over to PM to give to VA-PO for translation at after text test of widget with Jaws is a pass

[2022-04-01 23:45] madebydna commented on #39027
Just wanted to link @patrickvinograd's [document on authentication variations](https://vfs.atlassian.net/wiki/spaces/ECP/pages/2146402532/Explainer+-+Authentication+Variations) for reference here.

Some upfront thoughts I had:

If I understand the doc correctly, the OAuth and Same proxies are exclusively used in the Lighthouse context (authenticating 3rd party applications using LH). Given that, i

[2022-04-02 00:31] jimuhh commented on #39395
Hi. The screenshots seem to be missing step 5 of 6. Could you upload? Thanks!

[2022-04-02 01:04] cindymerrill commented on #38569
Finished drafting research report and shared with Danielle Thierry, Martha Wilkes, and Angela Fowler for feedback on Monday. I plan to share the key findings during Tuesday's Sprint Demo before rolling off this project and contract.

[2022-04-02 01:14] #38569 closed

[2022-04-02 16:42] tameracorson opened #39517 "CC: Conduct Tech Discovery with Eligibility API Group"
- [ ] Meet with the relevant VA staff
- [ ] Capture insights and opportunities in a sharable format

[2022-04-02 16:46] tameracorson opened #39518 "CC: Conduct Tech Discovery with VAOS"
- [ ] Meet with the relevant VA staff
- [ ] Capture insights and opportunities in a sharable format

[2022-04-02 17:05] jimuhh commented on #38351
@JordanSWhite , @chaseakirby --  I understand that the site can't go to staging environment without those PRs. Unfortunately I will be OOO the whole week starting Monday, 4/4 so won't be able to attend Friday's staging review or review the site once it's posted there.
However, I see you have been working closely w/ Mikki N on this, so hopefully she's managed to head off any potential issues in adv

[2022-04-03 16:18] jlang10761 opened #39519 "Offboarding of [Tammy Cho]"
# Instructions
Fill out name of individual and *Description* section below.

# Description
Please provide the following information about the individual being offboarded:
- name: Tammy Cho
- team name: CEDAR CDS Design Team
- role on team: UX Designer
- expected last day: 04/01/2022
- company they work for: Coforma
- email: tammy.cho@va.gov; Tammy.cho@coforma.io
- GitHub username: tcho-22
- additi

[2022-04-04 12:42] rmtolmach commented on #39519
/request Tammy Cho

https://github.com/orgs/department-of-veterans-affairs/teams/confluence-admins 👉 User is✖️ not in Confluence

✖️  not in the VFS roster
✖️  no SOCKS
✖️  no AWS
✅  Removed from github org in https://github.com/department-of-veterans-affairs/github-user-requests/issues/10282
✖️ no pagerduty, datadog or sentry
✖️ no bot user account

[2022-04-04 12:51] loripusey opened #39520 "Engineering Support for VISN Rollout - May 4 Sprint"
## Acceptance Criteria
Provide engineering support for issues reported by CI/PCI pilot sites.

[2022-04-04 13:02] kjduensing commented on #39018
Closing this ticket since there isn't anything AMT can do to fix the way cookies + popups work in Safari.

[2022-04-04 13:02] #39018 closed

[2022-04-04 13:11] #37001 closed

[2022-04-04 13:14] ldelacosta commented on #39048
No longer an issue. Closing out the ticket.

[2022-04-04 13:14] #39048 closed

[2022-04-04 13:18] kjduensing commented on #36997
Closing this for now. Added roles and roles to team members. @jchapin and team to get back to us with how they want to protect Backstage resources per: https://dsva.slack.com/archives/C02SLSSGSBX/p1648664739739019

[2022-04-04 13:18] #36997 closed

[2022-04-04 13:18] #36996 closed

[2022-04-04 13:19] #33506 closed

[2022-04-04 13:20] #35002 closed

[2022-04-04 13:20] #34999 closed

[2022-04-04 13:21] #36329 closed

[2022-04-04 13:23] #38197 closed

[2022-04-04 13:30] CoryTrimmUSDS commented on #38538
Removed from Slack.

[2022-04-04 13:31] CoryTrimmUSDS commented on #39519
Deactivated from Slack.

[2022-04-04 13:35] pjhill commented on #37851
I believe that for this ticket, we need something more like an update to [this document](https://vfs.atlassian.net/wiki/spaces/TTT/pages/1848999954/OnCall+Playbook+for+Handling+Canary+Alerts) for the AWS Cloudwatch version that indicates how the SREs need to interact with and resolve issues with the Datadog version of the monitors.

[2022-04-04 13:35] #38687 closed

[2022-04-04 13:35] #38244 closed

[2022-04-04 13:37] vhenry07 commented on #38243
Duplicate

[2022-04-04 13:38] CoryTrimmUSDS commented on #39495
Invited this AM.

[2022-04-04 13:41] ewilson-adhoc commented on #39386
Closing based on Sal's recommendations

[2022-04-04 13:51] loripusey opened #39522 "[FE] Display Country when Address is NOT a US Address"
## User Story
As a Veteran who has an address outside of the United States, I'd like to see the country displayed for my address so that I can verify if the information is correct.

## Related Documentation
TBD

## Description
Within PCI, when we display an address for the Veteran, if the address is outside of the US, we should also display the Country associated to the address.

## Tasks
- [ ] Cr

[2022-04-04 13:53] #39514 closed

[2022-04-04 13:55] ajmagdub commented on #38467
VAOSR-3178 declined to be worked on, work will be picked up by Vets API team.

[2022-04-04 13:56] loripusey opened #39523 "[FE] Display Country when Address is NOT a US Address"
## User Story
As a Veteran who has an address outside of the United States, I'd like to see the country displayed for my address so that I can verify if the information is correct.

## Related Documentation
TBD

## Description
Within PCI, when we display an address for the Veteran, if the address is outside of the US, we should also display the Country associated to the address.

## Tasks
- [ ] Cr

[2022-04-04 13:58] #38672 closed

[2022-04-04 14:11] jennaouellet commented on #39519
No GA or Domo access

[2022-04-04 14:18] #39006 closed

[2022-04-04 14:22] jonathanjnelson commented on #39061
[Seen mobile designs here ](https://www.sketch.com/s/908b453b-ef8b-4193-b955-ea00f9fd14aa/p/44BBCD05-AC72-4E52-80EE-5E6339C3885C/canvas)

[2022-04-04 14:22] #39061 closed

[2022-04-04 14:22] #38947 closed

[2022-04-04 14:26] #39249 closed

[2022-04-04 14:34] denisecoveyduc commented on #39033
Team is troubleshooting to determine route cause of the problem.

@rileyorr 4/1 stated If the Veteran requests help for more than one debt then we ask them which resolution option they want for each. For example, if the Veteran requests a compromise offer for both a CH 35 education debt and a compensation + pension debt then the Veteran inputs their compromise offer in two different input fields.

[2022-04-04 14:38] mdewey commented on #37604
Work has been completed and are ready for review, see screenshots

![screencapture-localhost-3001-health-care-appointment-pre-check-in-edit-email-2022-04-04-10_33_48](https://user-images.githubusercontent.com/1793923/161567729-731661e8-bccc-4ae8-bf60-fad6ff44dd42.png)
![screencapture-localhost-3001-health-care-appointment-pre-check-in-edit-email-2022-04-04-10_38_00](https://user-images.githubuserc

[2022-04-04 14:40] mdewey commented on #37609
This is completed and ready for review, see screen shots:

![screencapture-localhost-3001-health-care-appointment-pre-check-in-edit-phone-number-2022-04-04-10_34_11](https://user-images.githubusercontent.com/1793923/161568287-7df7e231-27b4-4ce1-9350-87ff6644f746.png)
![screencapture-localhost-3001-health-care-appointment-pre-check-in-edit-phone-number-2022-04-04-10_33_59](https://user-images.githu

[2022-04-04 14:43] denisecoveyduc opened #39524 "DebtRes: Sprint 71 Priorities"
### Debt Resolution Team Priorities > Sprint 71: April 6- 19

## Sprint Goals/ Priorities
1. Kick off FE development of the combined debt portal
2. Prepare designs for 404 use cases
3. Prepare .csv test files for VHA
4. Resolve Compromise Amount Bug
5. Address Download PDF Error Handling
6. Design Team onboarding
7. Complete New Contract and VA Onboarding process

###  Combined Debt Portal  [#3613

[2022-04-04 14:45] denisecoveyduc opened #39525 "DebtRes Sprint 72 Priorities"
## Debt Resolution Team Priorities > Sprint 72: April 20- May 3

### Sprint Goals/ Priorities
1.  Continue FE development of the combined debt portal
2.  Usability study conversation guide 2.0
3.  Backend discovery for Combined FSR batch files and SFTP
4.  Review Health Apt designs for medical copays
5.  Establish analytics tracking for FSR submission email confirmation

###  Combined Debt Portal

[2022-04-04 14:46] #39519 closed

[2022-04-04 14:49] mdewey commented on #38240
Notes from Transfer session

https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/checkin/engineering/architecture-docs/edit-demographics/full_auth_notes.md

[2022-04-04 15:00] ytsaoca commented on #38303
[About UI toggle (Notes form communication with Danielle)](https://dsva.slack.com/archives/C036JKN5S3Y/p1648140088053179)

Because of current technical blockers, the current UI toggle isn't necessarily like the end solution. If we start to integrate that into check-in, we may come up with better ways to do that.
She recommends we to iterate on it and learn from testing.
They tried different design

[2022-04-04 15:00] hallihocine commented on #39312
Ticket has been validated: the issue has been resolved. Desktops/laptops retain and are displaying their designed view and not switching to Mobile view:
<img width="754" alt="Screen Shot 2022-04-01 at 3 20 33 PM" src="https://user-images.githubusercontent.com/86266024/161572680-8bdff4bb-b76a-4b3e-8b16-9fbae52c345a.png">

[2022-04-04 15:02] hallihocine commented on #39312
- Test Run in Test Rail:
https://dsvavsp.testrail.io/index.php?/cases/view/15991&group_by=cases:section_id&group_order=asc&display_deleted_cases=0&group_id=4169
- Test Steps:
[Desktops:laptops show mobile view.xlsx](https://github.com/department-of-veterans-affairs/va.gov-team/files/8410844/Desktops.laptops.show.mobile.view.xlsx)

[2022-04-04 15:05] loripusey commented on #37604
Screen shots look good to me. @zach-park please review as well.

[2022-04-04 15:06] joeniquette commented on #38316
Looks good to me!

[2022-04-04 15:11] tameracorson opened #39526 "Offboarding of [Ashley Castillo]"
# Instructions
Fill out name of individual and *Description* section below.

# Description
Please provide the following information about the individual being offboarded:
- name:

- team name:

- role on team:

- expected last day:

- company they work for:

- email:

- GitHub username:

- additional access they may have:

## Acceptance Criteria
*Performed by Platform team. Detailed instructions f

[2022-04-04 15:21] caw310 opened #39527 "Staging Review [Design System Team - Search web component]"
# Steps to complete Staging Review

## Before meeting

**VFS Product Manager**
- [ ]   Create this issue and schedule meeting via Calendly (you are responsible for adding the VFS attendees).
- [ ]   Notify the Collaboration Cycle team of this ticket and scheduled date/time in #vfs-platform-support ([see Slack Workflow (User guide](https://depo-platform-documentation.scrollhelp.site/support/Getting

[2022-04-04 15:28] chaseakirby commented on #39527
Staging Review has been scheduled for 4/12/2022 at 11:30am ET.

[2022-04-04 15:35] bevnobev commented on #34550
Good Morning @michelle-dooley.  I'd like to change to a daily load.  When we do that, are we able to see daily stats in Domo?  Currently some of the sections don't show daily stats.

[2022-04-04 15:35] djfredvs opened #39528 "4/6/22 VEText Open Office Hour"
## Description
Every week the product support team hosts a bi-weekly office hours to advertize or demo new or existing features, communicate updates to our users, and hold an open forum to answer questions from users live.

---

## Agenda
- e-Ckeckin Overview Speaker (Erice Williams)
- Support Line Update
- Newsletter Update
- Open Forum

---

## Acceptance Criteria
- [x] Agenda created and finali

[2022-04-04 15:38] bsmartin-ep opened #39529 "Analytics Implementation for generic link_click event"
We need a generic `link_click` event tagged on the _**VA.gov Brand Consolidation Legacy**_ for **MHV** team.

[code]

I think we can add these as hit level custom dimensions (check we don't have them already):

[code]

The rest should go into the Event Action delimited by `~~`.  Maybe...

`Link Click - {{Link Type}} -  {{Link Text}} - {{Link URL}} - {{Outbound}}`

Unless anyone has any better idea

[2022-04-04 15:38] bsmartin-ep commented on #39529
Unable to assign but cc @jerinb-sdi

[2022-04-04 15:40] #38240 closed

[2022-04-04 15:41] #38228 closed

[2022-04-04 15:41] #38227 closed

[2022-04-04 15:41] #38226 closed

[2022-04-04 15:41] #38225 closed

[2022-04-04 15:41] #38224 closed

[2022-04-04 15:41] #38521 closed

[2022-04-04 15:41] #38223 closed

[2022-04-04 15:41] #38222 closed

[2022-04-04 15:41] #38221 closed

[2022-04-04 15:41] #38213 closed

[2022-04-04 15:41] #38215 closed

[2022-04-04 15:41] #38216 closed

[2022-04-04 15:41] #38212 closed

[2022-04-04 15:42] caw310 commented on #17232
Duplicate of 674

[2022-04-04 15:42] #17232 closed

[2022-04-04 15:42] #38236 closed

[2022-04-04 15:43] #38232 closed

[2022-04-04 15:43] #38233 closed

[2022-04-04 15:43] #38231 closed

[2022-04-04 15:43] #38230 closed

[2022-04-04 15:44] #38303 closed

[2022-04-04 15:46] chaseakirby opened #39530 "Research Alternatives to Staging Environment"
## User Story
As a Governance team member, I want to understand other types of environments that I may need to perform reviews in.

Assignee: @allison0034
Peer Reviewer: @CherylEvans

## Description
Recently we have seen environments different than our typical staging review environment.
Documentation what these other environments are and any needed tools or access could be beneficial for future r

[2022-04-04 15:46] alexandec commented on #37655
Everything is working except we have some CORS issues. Progress towards resolving them: https://github.com/department-of-veterans-affairs/devops/pull/10998

[2022-04-04 15:47] #38214 closed

[2022-04-04 15:47] #35964 closed

[2022-04-04 15:47] #38211 closed

[2022-04-04 15:48] jennaouellet commented on #39526
No GA or Domo access

[2022-04-04 15:50] #24039 closed

[2022-04-04 15:50] SgardnerPMP opened #39531 "[VAMC] Review and update - District 2 + VET Center submitted for review - Process and submit for final review by RCT (cont.) [VAMC]"
## Story
As a VET Center editor, I need support in review of the my webpage and locations, so I can prepare the site for full publication

## Resources
Office Hours Tuesday and Wednesday

## Task(s)
* Review, audit, and correct VET center page submitted for review.  Communicate any large changes or errors to the editor if required.
**Track all reviews of District 2 below**
**District 2**
- [ ] Atl

[2022-04-04 15:50] #38391 closed

[2022-04-04 15:51] #38914 closed

[2022-04-04 15:51] SgardnerPMP opened #39532 "[VAMC-VET center] Provide Office hour support for VET Center development and content [VAMC]"
## Story
As a VET center editor I need direction support and status updates, so I can get the training I need, understand page intent and what to input in my VET center website.

## TASKS
Provide:
- [ ] 2 Weekly office hour meetings
- [ ] Daily support for CMS support tickets.

## Acceptance Criteria
- [ ]  All meetings, and support calls are presented and responded to during sprint.

[2022-04-04 15:54] SgardnerPMP opened #39533 "[VAMC] update VAMC-GitHub and VAMC-Upgrade SharePoint with artifact documents [PM]"
## Story

## Resources

## Tasks
- [ ] Load Run book document and associated tools to GitHub
- [ ] Confirm Run book and docs are in VAMC-Upgrade SharePont

## Acceptance Criteria
* All documents are loaded to both locations

[2022-04-04 15:56] #37582 closed

[2022-04-04 15:58] caw310 commented on #35133
Decision made that we will not support sorting in IE 11.

[2022-04-04 15:59] RLHecht commented on #30815
Note: When doing this audit, we need to make sure that this housing page is on the list of ones to change out of table form and into list form: https://www.va.gov/housing-assistance/home-loans/eligibility/

[2022-04-04 16:02] psanders86 commented on #39487
@RLHecht I reviewed and made a tweak here, but it's ready to go. These are relatively minor changes.

I've also suggested that at some point we take the information here in charts and put it in a different format that's better for accessibility, but that won't be addressed right away.

[2022-04-04 16:04] SgardnerPMP commented on #39533
Continued work  and rework of documents increased Estimate

[2022-04-04 16:05] SgardnerPMP commented on #34612
Upon approval, over 60 sites will be getting QA documents today and tomorrow.

[2022-04-04 16:08] bethpottsVADEPO commented on #39511
@RLHecht could you type out in the ticket here the wall of text from the wireframe, under "Instruction"?

[2022-04-04 16:19] joeniquette opened #39534 "Security Testing Sign in Service"
Cody has some tests he would like added to our list of security verifications of the sign in service which are specific to the oauth implementation.

- [ ] Document test methods from Codys list
- [ ] Conduct tests
- [ ] Document results, publish to github sensitive folder
- [ ] remediate any findings
- [ ] setup continuous testing of potential threats

[2022-04-04 16:19] lzapson opened #39535 "FE | Discovery | Change Short Form Accordion Alert to Expandable Alert with Success"
Change From :
- Auth & Unauth [accordion alert ](https://www.sketch.com/s/da85cf44-4503-4e98-834e-ff068b242ef6/a/PGeGRKd)on every page at top

To:
- Mobile friendly expandable alert https://design.va.gov/experimental-design/expandable-alert
![image.png](https://images.zenhubusercontent.com/6195603c38ef1a28570c4f7b/b0616735-bd77-4a89-806e-ff8316da1860)

For reference:
https://www.va.gov/washington-

[2022-04-04 16:20] lzapson opened #39536 "FE | Change Short Form Accordion Alert to Expandable Alert with Success"
Change From :
- Auth & Unauth [accordion alert ](https://www.sketch.com/s/da85cf44-4503-4e98-834e-ff068b242ef6/a/PGeGRKd)on every page at top

To:
- Mobile friendly expandable alert https://design.va.gov/experimental-design/expandable-alert
![image.png](https://images.zenhubusercontent.com/6195603c38ef1a28570c4f7b/b0616735-bd77-4a89-806e-ff8316da1860)

[2022-04-04 16:24] joeniquette opened #39537 "Login.gov Account Created Page"
Create a page that users are redirected to after they have initially created a login.gov account

## If user IAL1
1. page must list the items that the user can now access as an IAL1 account
1. page must list what a verified account can do to demonstrate the difference
1. page must list how a user can verify their account
1. page may list details of what to expect during the verification process an

[2022-04-04 16:25] chaseakirby commented on #38850
@allison0034 Thanks Allison!
I was wondering if it might make sense to move it up under the "Objective". I could see it being more visible there but also may get confusing since it would be Objective then Moderator Script.

[2022-04-04 16:30] joeniquette opened #39538 "CANCELED**[Ongoing] Unified Sign in Page - Tech Debt"
## Product Outline
[USiP](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/identity/Design%20Documents/Unified%20Sign%20In%20Pages)

## High Level User Story/ies
As a _____, I need _____ so I can _____.

## Hypothesis or Bet
**If** _we make this change_ **then** _we expect this to happen_.

## OKR
_Which Objective / Key Result does this epic push forward?_

## Def

[2022-04-04 16:30] kjduensing opened #39539 "Authorization of Users to Catalog Entity Imports"
## Issue Description
In order to prove out fine-grained permissions and policy enforcement for the Console UI "proper" (ie. not a plugin, but backstage itself), we need to set up permission in the console UI dev client.

---
## Related to:
- https://github.com/department-of-veterans-affairs/backstage-test/issues/287

## Tasks
- [ ] Set up fine-grained permissions (policies, resources, permissions)

[2022-04-04 16:35] laineymajor commented on #23657
Unable to get unblocked. Closing.

[2022-04-04 16:35] #23657 closed

[2022-04-04 16:36] laineymajor commented on #22578
closing

[2022-04-04 16:37] ataker commented on #39401
@mleclerc00 Any other info you need?

[2022-04-04 16:38] CherylEvans commented on #38844
@shiragoodman The reference to axe-coconut has been removed from Dev docs 'How to prepare for an accessibility staging review'.  The change was peer-reviewed and approved.  Change is currently in scroll viewport awaiting further action.

[2022-04-04 16:40] tameracorson commented on #39446
Link to templates in GitHub:

https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/1095b-tax-form/Content/VA%20Notify/DRAFT%201095-B%20VANotify%20templates.docx

[2022-04-04 16:41] laineymajor commented on #32792
Paused

[2022-04-04 16:43] CherylEvans commented on #37952
@shiragoodman PR for this issue has been squashed and merged.

[2022-04-04 16:46] laineymajor commented on #33534
@ndsprinkle does this fit into anything you're currently reviewing/working on?

[2022-04-04 16:46] #37952 closed

[2022-04-04 16:46] mleclerc00 commented on #39401
Not at the moment, once approval is provided we create a aws account for you

[2022-04-04 16:46] shawn-adams commented on #39522
A "US Address" is a loosely-defined term when talking about VistA address information.  There are a number of grey area instances where the STATE listed in VistA is actually its own Country, sometimes a former US Territory.  There are 82 entries in the STATES file (#5), including Canada. Europe, Mexico.  There's a way to enter a foreign address, so it might be good to do an investigative step firs

[2022-04-04 16:48] laineymajor commented on #36018
Closing as we have tried on 3 different occasions, but unable to execute.

[2022-04-04 16:48] #36018 closed

[2022-04-04 16:51] SKasimow commented on #36882
@michelle-dooley - I'll be transitioning to another team this week and @hdjustice will be joining 10-10 so am adding her to this thread and ticket.

[2022-04-04 16:51] michelle-dooley commented on #34550
Hi @bevnobev - we will make that change for you.  You can change the filter at the top right to "graph by - day" to see daily stats.  You can also click on any graph/card title to drill down into more details about the metrics.

![image](https://user-images.githubusercontent.com/93597659/161592993-4e5531eb-2401-4936-8387-6b9cb42066d7.png)

[2022-04-04 17:01] RLHecht commented on #39487
Thanks, @psanders86 I reviewed and published this. Beth said it was OK to skip her review since the changes were all minor and the language used was already elsewhere on the page. I'll move to validate and let the stakeholder know once the changes are live.

[2022-04-04 17:08] jfinnern opened #39541 "Spike: Redesign School search filters"
The Schools filter checkboxes currently include "filters" (Public, Private, etc.) and "sub-filters" (High school, Flight, etc.) which can lead to confusing search results.

Perform analysis on updating the filter checkbox display and/or behavior to provide more transparency to the user about how the search filters are performing.

[2022-04-04 17:12] RLHecht commented on #39511
@bethpottsVADEPO Here you go:

**Instruction:** Before completing your VRRAP application, first, please review the available High Demand Occupation (HDO) List on the VA GI Bill Website [Veteran Rapid Retraining Assistance Program (VRRAP) | Veterans Affairs (va.gov)](https://www.va.gov/education/other-va-education-benefits/veteran-rapid-retraining-assistance/) to choose the name of your High Demand

[2022-04-04 17:29] JordanSWhite commented on #38097
From our FE Engineer : "So writing cypress tests did not seem very valuable/practical for the widget because you have to create mock API calls (essentially complete fake data, which doesn't work for the PDF because its not data but an actual PDF)"

[2022-04-04 17:30] jfinnern commented on #38544
Validated in staging
Test run: https://dsvavsp.testrail.io/index.php?/runs/view/3129&group_by=cases:section_id&group_order=asc

[2022-04-04 17:31] sporeboy commented on #37440
Feature-level transition doc is available here: [(Github link)](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/ebenefits/features/dependency-verification/dep-ver-transition-design.md)

[2022-04-04 17:32] psanders86 commented on #8637
Hello @RLHecht This is ready for a copyedit.

http://preview-prod.vfs.va.gov/preview?nodeId=5496

Sources:
https://www.va.gov/education/survivor-dependent-benefits/dependents-education-assistance/

https://www.benefits.va.gov/GIBILL/resources/benefits_resources/rates/ch35/ch35rates100121.asp

[2022-04-04 17:35] #37987 closed

[2022-04-04 17:36] hdjustice commented on #38739
Hi @jennaouellet - Taylor has implemented the API success/fail tracking in the Staging environment.  Would you be able to see if you can locate them there? Or would you be looking in Production only?

cc: @Samara-Strauss @tmitchellgcio

[2022-04-04 17:36] alexander-ferzola opened #39542 "Midpoint Review [My Education Benefits, Authenticated 22-1990e TOE Form Updates]"
# Steps to complete Midpoint Review

## Before meeting

**VFS Product Manager**
- [x]  Create this issue and schedule meeting via Calendly (you are responsible for adding the VFS attendees).
- [ ] Notify the Collaboration Cycle team of this ticket with scheduled date/time in #vfs-platform-support ([see Slack Workflow User guide](https://depo-platform-documentation.scrollhelp.site/support/Getting-h

[2022-04-04 17:38] AdamFreemer commented on #39541
On the topic of exclusiveness for the Filter checkboxes:

[2022-04-04 17:39] sporeboy commented on #37443
Initial commit of View Payments feature doc is here: [(Github link)](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/teams/vsa/teams/ebenefits/features/view-payment-history)

[2022-04-04 17:43] sporeboy commented on #37442
Initial commit of transition doc is here: [(Github link)](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/ebenefits/features/view-rated-disabilities/rated-disabilities-transition.md)

[2022-04-04 17:46] laurylzenobi commented on #39412
@LEHigley @KevinMHoffmanUSDS pinging to avoid it getting lost

[2022-04-04 17:55] chaseakirby commented on #39542
The async review has been scheduled for 4/7, meaning you will receive feedback by EOD. No meeting will be held.

[2022-04-04 17:57] bethpottsVADEPO commented on #39513
@lunascoop Thank you for jumping on this! For the jobs and codes, you'll want to switch the order of how it is presented for each job, so that the code follows the job. They way the PDF is set up, it's code then job. We want it to be job then code so it's more logical for both sighted users and those using screen readers.

[2022-04-04 17:57] #39438 closed

[2022-04-04 17:59] grossb1 commented on #38009
https://issues.mobilehealth.va.gov/browse/VAOSR-3119

[2022-04-04 18:07] JordanSWhite commented on #38387
From engineer: Since axe tests are written into cypress tests, which we're unable to do because you have to create mock API calls (essentially complete fake data, which doesn't work for the PDF because its not data but an actual PDF), we aren't able to do this axe test. However, all code was reviewed and approved.