[2020-05-04 21:34] amyknox commented on #8452
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/education-careers/school-comparison-tool/Sec103/design/content/103-content-doc.md

[2020-05-04 21:37] stephorkandatx commented on #8714
@kelsonic and @ncksllvn would love your eyes on this.
The current implementation can be seen at https://www.va.gov/coronavirus-veteran-frequently-asked-questions/ .
The goal is to incorporate the "Featured content" design system component, to the chatbot CTA.

Would this be a FE task, or would you recommend it be set up via Drupal by Randi or another content team member?

[2020-05-04 21:40] amyknox opened #8722 "CT: EDU COVID Alert"
Include new info regarding work study / VR&E into CT alert.

https://www.facebook.com/gibillEducation/posts/10157050004211615?__tn__=-R

On April 28, 2020, the President signed the Student Veteran Coronavirus Response Act of 2020. This new law gives the Department of Veterans Affairs (VA) additional authorities to continue GI Bill and VR&E payments for the period beginning on March 1, 2020 and end

[2020-05-04 21:42] patrickvinograd commented on #7830
When I filed #8602 I poked around a bit, and if you enable anonymous viewer access, you can then go and make individual dashboards not anonymous-viewable by removing the "Viewer" role from them. If you then made sure that all program staff had a more-than-Viewer role, that would be a viable way of making some but not all dashboards open to VA.

[2020-05-04 21:45] wyattwalter opened #8723 "remove scorecard blackbox check"
## Description

Looks like the change to redirect /scorecard/ to /performance-dashboard/ was pushed out recently: https://github.com/department-of-veterans-affairs/devops/pull/6556

We have a separate blackbox check for this endpoint because /scorecard/ was a separate deployment and it has been in alerting state since then, but luckily is being routed to a non-critical route in alertmanager. We ne

[2020-05-04 21:46] patrickvinograd commented on #8305
Response from BGS team:

The combination of ICN and va_eauth_commonname should be good from our end for this purpose, so we don't need to depend on email address here.

[2020-05-04 21:53] joanneesteban opened #8724 "Expose VA.gov Platform Build Metrics"
## High Level User Story/ies
As a VFS team, I need to see and understand available build metrics on my product so I can use the data to make product decisions, communicate to the team's developer as quickly as possible, and improve my product's performance.

As a VSP team, I need to expose the appropriate and available build metrics to VFS teams so that VFS teams can more easily act on my feedback

[2020-05-04 21:54] ncksllvn commented on #8714
That looks like this to me -

The blue background is applied via the `fieldFeaturedContent` on a page, like [this](https://staging.va.gov/health-care/about-va-health-benefits/) for example.

Then the content is just a WYSIWYG, with a link styled as a button like -

[code]

See the button-link `Track the status of your claim` on https://staging.va.gov/disability/how-to-file-claim/ for an example of

[2020-05-04 22:09] #8311 closed

[2020-05-04 22:13] DanielleThierryUSDSVA commented on #8713
Realized we have an epic for covid work so closing this!

[2020-05-04 22:13] #8713 closed

[2020-05-04 22:15] stephorkandatx commented on #8115
I am closing this ticket out and will track the remaining content work in its dedicated ticket

[2020-05-04 22:15] #8115 closed

[2020-05-04 22:17] DanielleThierryUSDSVA commented on #8533
@stephorkandatx FYI - we're awaiting JTF approval on the faqs changes we submitted last week, so leaving this one open until we can publish/validate. Thanks!

[2020-05-04 22:22] DanielleThierryUSDSVA opened #8725 "Coronavirus chatbot: Content updates week of 4.27.20"
# User story

As a Veteran, I want to get my top questions about the coronavirus and VA answered as quickly as possible, and have easy access to other questions if I need them.

# Details

As JTF approves content for the coronavirus FAQs page, we'll need to update the chatbot content to reflect these updates.

**Needed updates:**
- Add stimulus check deadline question ("Is VA helping to make sure

[2020-05-04 22:24] DanielleThierryUSDSVA commented on #8725
@stephorkandatx No action needed on this issue. I'm just capturing my coronavirus work.

[2020-05-04 22:28] DanielleThierryUSDSVA opened #8726 "Coronavirus chatbot promotional materials"
# User story

As the VA team, we need to communicate about the coronavirus chatbot with accurate, positive, consistent messaging across communication channels.

# Details

Review and edit promotional materials as needed, including:
- Coronavirus one-sheet
- My HealtheVet article
- Blog post

[2020-05-04 22:28] DanielleThierryUSDSVA commented on #8726
@stephorkandatx No action needed; just me tracking my coronavirus work.

[2020-05-04 22:32] DanielleThierryUSDSVA opened #8727 "Coronavirus style guide support"
# User story

As a VA staff member, I need to know how to communicate about the coronavirus with accurate, precise, consistent messaging.

# Details

Review and edit coronavirus style guide as needed.

[2020-05-04 22:33] DanielleThierryUSDSVA commented on #8727
[DT style guide edits](https://app.zenhub.com/files/133843125/86911ae9-fff7-4be9-b450-f7e2462e05ce/download)

[2020-05-04 22:33] #8727 closed

[2020-05-04 22:35] DanielleThierryUSDSVA opened #8728 "Coronavirus financial text message support"
# User story

As a Veteran with dependents who didn't file taxes in 2018 or 2019, I need to know the deadline for filing for the added $500 stimulus check payment.

# Details

Provide content support for financial text messaging blast.

[2020-05-04 22:36] #8728 closed

[2020-05-04 22:39] sshein commented on #7266
you can see logged out QPP here: https://qpp.cms.gov/ - then when the user logged in, we had a side navigation that had categories and was collapsable. The "Dashboard" wasn't your traditional dashboard but had a timeline of events and then a list of their clinics with status/actions, see below. I'll also add this to your folder.

<img width="771" alt="Screen Shot 2020-05-04 at 3 36 47 PM" src="htt

[2020-05-04 22:40] DanielleThierryUSDSVA opened #8729 "Coronavirus facility locator messaging"
# User story

As a Veteran, I need to know how the coronavirus pandemic is affecting hours and services at my local VA facility.

# Details

Review/edit general messaging and status messaging.

### Relevant docs:

[Facility Locator additional COVID text_dt](https://app.zenhub.com/files/133843125/cbed910e-274c-4d55-a29a-bdb49f579405/download)

[Vet-Center-Facility-Status-DRAFT-3_dt](https://app.zen

[2020-05-04 22:40] #8729 closed

[2020-05-04 22:40] stephorkandatx commented on #8416
@meganhkelley Almost all artifacts have been updated and attached. The test runs were started today, and reports will be generated tomorrow early afternoon.

[2020-05-04 22:41] #8525 closed

[2020-05-04 22:45] mnorthuis commented on #6378
@leahkeeler Can you provide answers to these questions:
- Is the Veteran required to have health care benefits to utilize the order form?  I believe the current content states that, but wanted to be sure.
- If the above is true, I am assuming the user actually has to be signed in to use the order form, correct?

[2020-05-04 22:45] #7474 closed

[2020-05-04 22:45] #8725 closed

[2020-05-04 22:46] stephorkandatx commented on #6087
Closing this per comment above

[2020-05-04 22:46] #6087 closed

[2020-05-04 22:46] DanielleThierryUSDSVA opened #8730 "Coronavirus chatbot updates: Week of 5.4.20"
# User story

As a Veteran, I want to get my top questions about the coronavirus and VA answered as quickly as possible, and have easy access to other questions if I need them.

# Details

As JTF approves content for the coronavirus FAQs page, we'll need to update the chatbot content to reflect these updates. We may also need to make updates based on CDC self-checker updates and/or user testing fe

[2020-05-04 22:47] SgardnerPMP opened #8731 "[CONTENT] Review and update "Coatesville, PA" System Health Services content as required [CW]"
## User Story or Problem Statement
As a Veteran Web user, I need a System description of services provided at VAMC, so I can understand and best chose the services and service location for my needs.

## Goal
_Efficient and clear content describing local Health Service provided_
_Efficient plain language for Health Services and Health Service Program Intro_

## Objectives or Key Results this is mea

[2020-05-04 22:51] DanielleThierryUSDSVA opened #8732 "Coronavirus FAQs: Week of 5.4.20 updates"
# User story

As a Veteran, I want to get my top questions about the coronavirus and VA answered as quickly as possible, and have easy access to other questions if I need them.

# Details

## Known updates that need to be made by May 6:
- Adjust financial messaging for post May 5 deadline
- Add new question around mask policy
- Move question to accordion/add anchor link to accommodate additional q

[2020-05-04 22:51] SgardnerPMP opened #8733 "[CONTENT] Review and correct "ERIE, PA" System Health Services Content [CW]"
## User Story or Problem Statement
As a Veteran Web user, I need a System description of services provided at VAMC, so I can understand and best chose the services and service location for my needs.

## Goal
_Efficient and clear content describing local Health Service provided_
_Efficient plain language for Health Services and Health Service Program Intro_

## Objectives or Key Results this is mea

[2020-05-04 22:59] tressaellen commented on #8229
@Samara-Strauss as far as the blue vs grey box - Erik said that the component for this type of style/messaging uses the blue box so that is what we will be using for all of these.

[2020-05-04 23:01] DanielleThierryUSDSVA opened #8734 "Coronavirus homepage/global banner: Updating messaging"
# User story

As a Veteran, I need to have easy access to the most current information about the coronavirus and its impact on my health care and other benefits and services.

# Details

We want to propose updated messaging for the homepage/global banner.

### Process steps to completion

- [x] Draft new messaging (Danielle, Jen, Lauren)
- [x] Take messaging to JTF approval (Lauren)
- [x] JTF appr

[2020-05-04 23:04] DanielleThierryUSDSVA opened #8735 "Coronavirus content: VHA messaging"
# User story

As a Veteran, family member, lawmaker, reporter, or member of the general public, I need quick access to accurate, timely, consistent messaging around the coronavirus and its impact on VA health care and other benefits and services.

# Details

We'll work with VHA SMEs to create messaging.

[2020-05-04 23:30] mmiddaugh opened #8736 "Remove v0 VA controller"
## Goal
Remove original vets API pathway after migration to v1 Facilities CCP API and v1 Facilities VA API

## Objectives or Key Results this is meant to further
OBJECTIVE 2: Deliver meaningful facility information

## Tasks
- [ ] Remove v0 VA controller

## Acceptance Criteria
- [ ] Data is maintained compared to vets API

---
## How to configure this issue
- [ ] **Attached to a Milestone** (when

[2020-05-04 23:37] #8655 closed

[2020-05-04 23:38] mmiddaugh opened #8737 "Synthesize cart sort feedback"
## User Story or Problem Statement
As a Veteran, I want the Facility Locator search process to be consistent with my mental models so I can easily find the location I seek.

## Goal
Distill user feedback from card sort into actionable recommendations

## Research questions

1. How will Veterans want to organize the filter contents?
2. Will the current services taxonomy be validated?
3. How do Vete

[2020-05-04 23:43] Kimberley2019 commented on #6464
March Report is complete.  Please see link below.

https://drive.google.com/file/d/162Cn_srmNNQ3d7X62HIOOTdVrm2HSwQN/view?usp=sharing

[2020-05-05 00:13] tlei123 opened #8738 "[Bug] Yellow Ribbon - Search MVP - IE 11 - Pagination unresponsive"
## What happened?
In Win IE11, on Staging [Find a Yellow Ribbon School](https://staging.va.gov/education/yellow-ribbon-participating-schools/) page, showing 2+pages of results, the pagination widget is not responding to any clicks.

## Specs:
- Browser: Windows Internet Explorer 11
- Test User _(if applicable)_: N/A \[this is unauthenticated experience]

## Steps to Reproduce

1. In Win IE11, go t

[2020-05-05 01:19] DanielleThierryUSDSVA opened #8739 "Coronavirus long-term content solution"
# User story

As a Veteran, service member, or family member, I need to have contextual information about how the coronavirus may impact my health care, benefits, and services over the long term.

# Details

As COVID-19 becomes a longer-term issue, and benefit areas begin needing/wanting customized content, we need to solidify our approach for communicating coronavirus-related information contextu

[2020-05-05 01:21] DanielleThierryUSDSVA opened #8740 "Facility locator: Coronavirus cemetery status"
# User story

As a visitor to a VA national cemetery, or family member of a loved one who is died and may be buried in a VA national cemetery, I need up-to-date information on cemetery access, hours, and internment policies.

# Details

Work with facilities team and NCA SME to create relevant messaging.

[2020-05-05 01:22] DanielleThierryUSDSVA commented on #8740
@stephorkandatx No action for other team members on this.

[2020-05-05 01:22] DanielleThierryUSDSVA commented on #8730
@stephorkandatx No action for other team members on this.

[2020-05-05 01:23] DanielleThierryUSDSVA commented on #8735
@stephorkandatx No action for other team members on this.

[2020-05-05 01:23] DanielleThierryUSDSVA commented on #8739
@stephorkandatx No action for other team members on this.

[2020-05-05 01:35] DanielleThierryUSDSVA commented on #8436
**Notes from Friday 5.1.20 IA/content strategy internal re-kickoff meeting:**

- Went through open questions document and added notes for the restart. [Updated doc attached here](https://app.zenhub.com/files/133843125/9bddbc9c-76d4-4170-9fc5-502f4a9f0a88/download).
- Discussed whether we need to have a formal platforms kickoff for this work. Mikki followed up with Megan and confirmed that we do no

[2020-05-05 01:45] Kimberley2019 commented on #8623
@clantosswett can you review the documentation below?

https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/contact-center/training-video-process.md

[2020-05-05 02:14] tlei123 opened #8741 "[Bug] Yellow Ribbon - Search MVP - Copy/styling mismatches"
## What happened?
On Staging Find a Yellow Ribbon school page, some copy and styling details do not match design prototypes.

## Specs:
- This bug is browser-/device-agnostic.
- No test-account needed; Yellow Ribbon is an unauthenticated experience.

## Steps to Reproduce
1. Go to https://staging.va.gov/education/yellow-ribbon-participating-schools/
1. Observe copy/styling mismatches \[see screens

[2020-05-05 03:09] tlei123 opened #8742 "[Bug] Yellow Ribbon - Search MVP - Number of results mismatch"
## What happened?
On Staging **Find a Yellow Ribbon School** page, searching on Cambridge, Massachusetts with no School name and no checkbox selected, 22 results are returned, instead of 12 as specified in pertinent Proposed Scenario in QA Test Plan #6918.

## Specs:
- Browser-/device-agnostic
- Unauthenticated experience

## Steps to Reproduce
1.  Go to https://staging.va.gov/education/yellow-rib

[2020-05-05 03:14] mmiddaugh opened #8743 "[VAMC Left Nav upgrade] VSA-QA Test Plan"
## Product/Feature summary
An upgrade to the local navigation component for Pittsburgh’s VAMC system of websites, beginning with the functionality available in staging and informed by the user research conducted in November/December 2019. This enhancement implements a revised design based upon initial veteran feedback and further veteran research conducted on the Pittsburgh health system site in N

[2020-05-05 11:01] sonntag-adam commented on #7528
Closing as unable to reproduce, will open and add more details in the future if it occurs again.

[2020-05-05 13:02] sonntag-adam commented on #7528
Updated steps to reproduce

[2020-05-05 13:08] bsmartin-ep opened #8744 "[BUG] Facility Type custom dimension is 'undefined'"
## What happened?

On the page for [Beaver County VA Clinic](https://www.va.gov/pittsburgh-health-care/locations/beaver-county-va-clinic/), we should have a value of "Clinic" but I am seeing _undefined_ for custom dimension 52.

![image](https://user-images.githubusercontent.com/62304138/81068943-2d616500-8eaf-11ea-9181-36e5e3eb82fe.png)

## Desired behavior

We should have a value of "Clinic" or

[2020-05-05 13:10] bsmartin-ep commented on #8744
@jonwehausen -

I believe this issue is because the string match is case sensitive and failing.  I updated the JS in this workspace:

https://tagmanager.google.com/#/container/accounts/144676348/containers/2214120/workspaces/1000279

LGTM...

![image.png](https://images.zenhubusercontent.com/5e73c8e4b62b077da52f1c14/7977b436-a2eb-4557-b8b7-f7e61c55e335)

Do we have a location with "Campus" in the

[2020-05-05 13:26] delli-gatti-michael commented on #8503
local testing complete

[2020-05-05 13:30] joanneesteban opened #8745 "Determine if VPN affects analytics opt out"
## User Story or Problem Statement
As a VFS team member, I need to know if VPN affects my analytics opt out so I can know when to opt out of analytics.

## Goal
Determine if VPN affects the analytics opt out.

---
## Tasks
- [ ] Test if VPN affects the [analytics opt out](https://www.va.gov/analytics-opt-out.html)
- [ ] If VPN affects opt out, determine how often users will need to opt out of anal

[2020-05-05 13:35] joanneesteban commented on #8623
@Kimberley2019

Thanks for doing this!

Can you edit the format of it to include:
- Overview or summary (this can be the first sentence that's already in the document)
- Audience

Some other edits:
- Can you specify product team as "VFS product team" or "VFS application team"?
- Can you limit the recording to Zoom calls so that we can grab the captions? (unless, @clantosswett, you don't think this

[2020-05-05 13:37] Kimberley2019 commented on #6261
@luke-gcio No progress has been made on the issues listed in this ticket.  There has been no response from the followup sent to each user listed above.
How do you feel about closing this ticket since there has been no movement for quite some time?

[2020-05-05 13:39] RLHecht commented on #8714
I am able to style the blue button in the featured content field in Drupal. It would just sit above the "On this page" section.

[2020-05-05 13:45] Kimberley2019 commented on #5834
@SMLuthi @clantosswett @AZSchneider
I am unsure if anyone else has heard back from the user, but I have reached out to the user again today.

[2020-05-05 13:51] short000 opened #8746 "Documentation Support Request"
## Two related missing links
(not stopping work, just reporting it):

- From https://department-of-veterans-affairs.github.io/veteran-facing-services-tools/forms/available-widgets/#arraycountwidget,
- Text, _see "Sequential duplicate form groups."_
- Link: https://department-of-veterans-affairs.github.io/veteran-facing-services-tools/forms/available-features-and-usage-guidelines.md#sequential-dupl

[2020-05-05 13:52] leahkeeler commented on #6378
Hi MIkki,

The Veteran has to have a prescription from an audiologist for hearing aids in order to be able to order batteries and accessories. If they do not, they are directed to contact the DLC

the veteran does need to be signed in, when they sign in and authenticate and API  call retrieves the items they are eligible to order. If they are eligible for the items but no eligible based on 6 month

[2020-05-05 13:59] RLHecht commented on #8618
This page has been archived. Moving to validate. Will also confirm there are no other pages linking to this page. FYSA @stephorkandatx

[2020-05-05 14:09] #8745 closed

[2020-05-05 14:10] joanneesteban commented on #6963
Add #8745

[2020-05-05 14:12] marriej opened #8747 "Analytics Reporting Request for SSOe"
# Metrics Reporting Request

## What this form is for

Use this template to request performance, usability, or outcomes va.gov metrics that is difficult to access or that needs analytics interpretation.

Insights will usually provide data reports within the current sprint, but if there is time-sensitivity, please note them in "additional comments."

## Instructions

Please fill out the following s

[2020-05-05 14:21] RLHecht commented on #8593
@AnneHurley I read this over. I deleted the fourth historic rate link (the oldest one) and adjusted one of the new rates numbers in a table.

[2020-05-05 14:25] Samara-Strauss commented on #8229
Got it, thanks for letting me know!

[2020-05-05 14:28] Kimberley2019 commented on #8623
Thanks for the edits @joanneesteban they have now been incorporated.

[2020-05-05 14:28] camerontesterman opened #8748 "[Backend] Record VCR Cassettes for Debt Letters "GET /debts""
## User Story or Problem Statement
Mocked response data needs to be captured in order to facilitate rapid local testing.

## Goal
A betamock is recorded for the `GET /debts` endpoint.

## Objectives or Key Results this is meant to further
- [ ] Allows testing the `GET /debts` to be done quickly in local and other environments.

## Tasks
- [ ] Establish connectivity with the DLC.

## Acceptance Cri

[2020-05-05 14:29] lwalsh617 commented on #8436
@DanielleThierryUSDSVA @mnorthuis -
Here's the draft working doc. I'll reach out about scheduling a quick call to discuss. Thanks!
[life-insurance-rewriting-work-plan_05-01-20.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/4581317/life-insurance-rewriting-work-plan_05-01-20.docx)

[2020-05-05 14:39] 1Copenut commented on #3869
@TamGIBill I heard back from the VA 508 office regarding this document. The list issue looks to be solved. They mentioned that some of the links are broken, and I was able to confirm a few. It looks like links that extend across two lines are being tagged as a `<link>` and a `<span>` I tried a few links and the entire second line was missing from the URL in my browser window. Screenshot is from th

[2020-05-05 14:48] sporeboy commented on #8014
Plan will not be submitted to Lauren... Pending review and revision as development continues.

[2020-05-05 14:49] Kimberley2019 commented on #6012
Good Morning @Samara-Strauss I sent an email out to everyone today, except for 200212-000709, since you have already made contact with him.

If no one responds by the end of the week, please advise on how you would like to proceed with this ticket.

[2020-05-05 14:49] #8014 closed

[2020-05-05 14:50] #8259 closed

[2020-05-05 14:50] #7999 closed

[2020-05-05 14:51] #8057 closed

[2020-05-05 14:51] #8068 closed

[2020-05-05 14:57] 1Copenut opened #8749 "DOCUMENT] GIBCT SCO - Page headings SHOULD be tagged in Section 305 PDF"
## Description

VA 508 office has identified the [Colmery Act Section 305](https://www.benefits.va.gov/gibill/docs/scotraininginstructions.pdf) PDF as having page headings that are not announce properly to screen readers. Screenshot attached below is illustrative of one page. This appears to be a common element from the source document, so tagging it should hopefully fix all of the issues.

## Poi

[2020-05-05 15:02] 1Copenut opened #8750 "[DOCUMENT]: GIBCT SCO - Page headings SHOULD be tagged in VA ONCE PDF"
**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

VA 508 office has identified the [VA Once Quick Reference Guide](https://www.benefits.va.gov/GIBILL/docs/vaonce/VAONCEguide.pdf) PDF as not having any page headers. I've attached a screenshot showing a sample page

[2020-05-05 15:03] amyknox commented on #8504
@sonntag-adam looks good!

[2020-05-05 15:05] Kimberley2019 commented on #6958
Not able to discuss with team until March 27, 2020.

[2020-05-05 15:05] #8504 closed

[2020-05-05 15:07] bsmartin-ep commented on #8366
@jonwehausen -

Our GTM workspace for this:  https://tagmanager.google.com/#/container/accounts/144676348/containers/2214120/workspaces/1000281

I created the _DL - VAOS FacilityID_ variable and added it to the _VAOS - Form Events_ tag.  I haven't added the new CD to GA yet.

[2020-05-05 15:08] kelsonic commented on #7199
Hey @bsmartin-ep and @jonwehausen, could you validate the fix works as desired on your side when you have a chance? 🙂

[2020-05-05 15:08] kevinstachura commented on #6209
We should move this to next sprint or when all design changes are reflected in staging. That way we can do a true walkthrough of the staging environment as call center intends, with all the features and screens they see on the video being on the product as well.

[2020-05-05 15:12] jbalboni commented on #7951
Here's what the UI looks like in VCM for these instructions:

![Screen Shot 2020-05-05 at 11.10.53 AM.png](https://images.zenhubusercontent.com/599c94608f62dc7798c3b2cd/26e46f10-ca34-46f6-b0bd-010852c644d2)
![Screen Shot 2020-05-05 at 11.10.49 AM.png](https://images.zenhubusercontent.com/599c94608f62dc7798c3b2cd/3dc91c07-208b-4f7e-b8d6-938ccf9744cb)
![Screen Shot 2020-05-05 at 11.10.43 AM.png](htt

[2020-05-05 15:14] bsmartin-ep commented on #7199
dataLayer stuff looks good to me, @kelsonic

![image](https://user-images.githubusercontent.com/62304138/81082617-85a16280-8ec1-11ea-9f9e-6890de8e8c4c.png)

Ready for your QA and deployment, @jonwehausen

Search:
https://tagmanager.google.com/#/container/accounts/144676348/containers/2214120/workspaces/1000266

Pagination:
https://tagmanager.google.com/#/container/accounts/144676348/containers/221

[2020-05-05 15:29] beeyayjay commented on #8389
VA Form field listing: https://airtable.com/shrhOeUjiqNrWfXYs
CMS content mapped to website content: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/find-va-forms-redesign/form-detail-landing-pages/WIP-technical-specs-and-docs/va-forms-cms-content-model.pdf

[2020-05-05 15:29] stephorkandatx commented on #8664
@jenstrickland I will set up a meeting shortly. Thank you for the time in reviewing the PDFs, I look forward to learning more

[2020-05-05 15:34] beeyayjay commented on #8389
Outstanding issue:
Determine whether 'Related to' categories can be aligned with other categorization schemes within the CMS. (Meeting scheduled w/ @kevwalsh to resolve this)

[2020-05-05 15:39] Samara-Strauss commented on #6012
Thanks @Kimberley2019.

@erikphansen without talking to users, do we have any way of meaningfully investigating on our end why these problems are still happening? I'm not sure what we can learn from our error logs that might move this forward.

[2020-05-05 15:47] mshea0606 opened #8752 "[FE] - Change how FE determines in an address is overseas military or not and check/uncheck box"
## Background
When an overseas military address is saved to VA Profile, it comes back as a domestic address.
The FE does flag it as an overseas military address when we make the call our API, but after the save succeeds it comes back from VA Profile as domestic. A side effect of this is that the "I live on a military base" checkbox is un-checked when you go to edit your address.

[slack convo refe

[2020-05-05 15:47] joanneesteban commented on #8623
Made some additional edits & created a PR for your review, @Kimberley2019 @clantosswett .

Also, when the product video documentation is complete, please update the [Contact Center Review documentation of the Collab Cycle](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/contact-center/request-contact-center-review.md#prepare-for-contact-center-review) with the vi

[2020-05-05 15:48] stephorkandatx commented on #4975
This ticket will be removed from Sprint 20. It is included in our release plan as our "Go Live" step. We will bring this into the sprint when we receive Staging Review approval and schedule a date for Phase 2 of the release plan.

[2020-05-05 15:51] sanlouise commented on #8752
https://github.com/department-of-veterans-affairs/va.gov-team/issues/8596 Needs to be merged prior to this ticket as it changes a lot of the logic around military addresses.

[2020-05-05 16:00] stephorkandatx commented on #8408
Blocked pending further accessibility discussion/review. Scheduled for Wednesday 5/6/2020.

[2020-05-05 16:00] stephorkandatx commented on #4975
Blocking this until it's ready to play per the release plan

[2020-05-05 16:03] #8486 closed

[2020-05-05 16:07] Samara-Strauss opened #8753 "[FE] Investigate existing functionality for Terms & Conditions on Account page"
## Background

No one on the team seems to know what we show for the medical terms and conditions on the account settings page *if* someone is a health care user but has *not* accepted the T&Cs. What do we show — anything?

**What we already know**:

- If you have accepted the medical T&Cs, we show the confirmation seen below.
- If you are LOA1, I have confirmed we don't show the T&C section at al

[2020-05-05 16:09] jason-gcio opened #8754 "Remove a "Death" Section From 686 Workflows"
## Goal
There are a few workflows that had a death section appear that needs to be removed so those workflows are more accurate and representative of the intended objective.

## Tasks
- [ ] Find the workflows that have the errant section
- [ ] Remove the section

## Acceptance Criteria
- [ ] All appropriate sections are removed and remaining workflow works appropriately

[2020-05-05 16:12] 1Copenut commented on #3919
@desireeturner && @TamGIBill
The VA 508 office noticed one more item that looks like a link without an `alt` tag. It wasn't tagged as a `<figure>` in Acrobat's accessibility checker, so I screen captured it for your review.

---
<img width="858" alt="Screen Shot 2020-05-05 at 9 26 32 AM" src="https://user-images.githubusercontent.com/934879/81088961-52f76a00-8ec1-11ea-81d3-66654373bee7.png">

[2020-05-05 16:14] mshea0606 opened #8755 "[FE} - Change Profile bread crumb hard reload to client side router change"
## Background
When you click the Profile crumb, it does a hard reload of the page rather than the nice instant client-side router change you get when clicking through the sidenav. I think we can get around this because the My VA Dashboard also uses the React Breadcrumb component and deals with this nicely

[slack convo](https://dsva.slack.com/archives/C909ZG2BB/p1588694497036500)

[Issue GIF](http

[2020-05-05 16:16] bridgethapner commented on #7860
Finished adding the minimum 6-8 tests that could be run to verify SSOe for each credential type.

@marriej Am thinking we could post in the #va-adhoc channel to see if we are able to recruit a couple more folks to test - what do you think?

[2020-05-05 16:16] kelsonic commented on #7199
@stephorkandatx I believe we can close this one out 🙂

[2020-05-05 16:17] #8754 closed

[2020-05-05 16:20] ricetj opened #8756 "Offboarding of Keith Adkins"
# Instructions
Fill out name of individual and *Description* section below.

# Description
- Please provide the name of the individual needing offboarded.

- Please provide the name of their team, their role on that team, expected last day, and the name of the company they work for.

- Please provide any type of access they may have.

  AWS, SOCKs?, unknow as of others.

## AC
 - [x] Remove global

[2020-05-05 16:23] Mottie commented on #8486
I ended up removing the following fields prior to submission:

- `decisionCode`
- `decisionText`
- `ratingPercentage`

[2020-05-05 16:24] annaswims commented on #8528
https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/evss-integration

[2020-05-05 16:28] tressaellen opened #8757 "Add state in DD where user hasn't set up but is eligible"
## Background

Mocks don't seem to call out the state where a user has not yet set up DD but are eligible to do so.  User +200 can be used to view this in staging.

##Additional Information

This is related to #5355

[2020-05-05 16:32] patrickvinograd commented on #8487
The "Error 60: SAML message is invalid" may present because the sign in attempt timed out, or it may be due to another invalid SAML payload. The latter is probably rare (the various CSPs should not be sending otherwise invalid SAML), but possible, and I'm predicting the IAM team may object to making the error too specific.

That's unless we do extra work to customize the message based on parsing t

[2020-05-05 16:40] sporeboy commented on #8015
Convo guide initial draft is here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/ebenefits/features/view-update-dependents/research-design/686-usability-staging-0520/686-usability-staging-convo-guide.md

[2020-05-05 16:41] #8712 closed

[2020-05-05 16:41] #8708 closed

[2020-05-05 16:41] #8709 closed

[2020-05-05 16:41] 1Copenut commented on #3918
@desireeturner I heard back from the VA 508 office that these were fixed. I'll close this issue, and open a few new ones for some broken links and list.

[2020-05-05 16:41] #3918 closed

[2020-05-05 16:44] 1Copenut opened #8758 "[DOCUMENT]: GIBCT SCO - Dear SCO letter links MUST point to valid resources"
**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

VA 508 office has identified the [Dear School Certifying Official](https://www.benefits.va.gov/GIBILL/docs/fgib/107_TandF_SCO_letter.pdf) PDF has a few links that are not pointing to valid URLs. It appears the lin

[2020-05-05 16:45] jason-gcio opened #8759 "PDF the Submitted 686: Section 1"
## Story
As a Veteran submitting the 21-686c, I want a copy saved in my folder as a pdf for my records so that I can retain them as record, validate the submission, or any number of other pdf actions.

## Considerations
- This is a utility that is used throughout the platform and most likely leverages the submitted form schema through a process ending up as a pdf, that might then need to be sent o

[2020-05-05 16:49] jason-gcio opened #8760 "Develop a Plan to Upload the Newly Created PDF to the eFolder via VBMS"
## Story
As a Veteran submitting the 21-686c, I want a copy saved in my folder as a pdf for my records so that I can retain them as record, validate the submission, or any number of other pdf actions.

## Considerations
- This is a utility that is used throughout the platform and most likely leverages the submitted form schema through a process ending up as a pdf, that might then need to be sent o

[2020-05-05 16:49] kevinstachura commented on #8506
These exist, and they should be accurate per what is available in original claims. But just a disclaimer: found it difficult to locate these conditional logic items:

- Served Under a different name? - exists under a component called alernateNames and takes place after the veteran selects a claim type but ONLY appears if the veteran doesn't have rated disabilities
- Received military retired pay?

[2020-05-05 16:52] 1Copenut opened #8761 "[DOCUMENT]: GIBCT SCO - Dear SCO letter text SHOULD be linked or adjusted"
**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

VA 508 office has identified the [Dear School Certifying Official](https://www.benefits.va.gov/GIBILL/docs/fgib/107_TandF_SCO_letter.pdf) PDF has some text that should either be linked or updated to not appear as

[2020-05-05 16:53] jason-gcio opened #8762 "Implement Sidekiq Job for 686 Submission"
## Goal
Once a user submits the 686 there are several actions, services and calls that get engaged which can take some time.  To release the user from having to watch that or interfere with it, those actions will get put into a Sidekiq job to be done "later."

## Considerations
- There is a job now that is working
- Error handling first

## Tasks
- [x] Create the job
- [x] Add tests for job

## Ac

[2020-05-05 16:54] bkjohnson opened #8763 "Add linting rule for removing totally unused code"
## Overview

`vets-website` has lots of code that is old/unused, and its presence can cause confusion and just exists as a burden.  Here is an example from https://github.com/department-of-veterans-affairs/vets-website/pull/12489

![image](https://user-images.githubusercontent.com/2008881/81092046-e4acaa80-8eb4-11ea-82ad-54fff5164b3f.png)

With the `no-unused-exports` linting rule, this unused cod

[2020-05-05 16:55] 1Copenut opened #8764 "[DOCUMENT]: GIBCT SCO - Dear SCO letter list SHOULD announce as a list"
**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

VA 508 office has identified the [Dear School Certifying Official](https://www.benefits.va.gov/GIBILL/docs/fgib/107_TandF_SCO_letter.pdf) PDF has a list that is not announcing as a bulleted list to screen readers.

[2020-05-05 16:57] tlei123 commented on #6918
@stephorkandatx, Test Runs completed!  Here are the report links to TestRail:

Defects logged: #8738, #8741, #8742

- [Coverage for References](https://dsvavsp.testrail.io/index.php?/reports/view/72) \[@pjhill is seeking feedback on this report, so please let him know if this is helping your team w/ traceability]
- [Summary (Defects)](https://dsvavsp.testrail.io/index.php?/reports/view/73)

[2020-05-05 16:58] 1Copenut opened #8765 "[DOCUMENT]: GIBCT SCO - CONSIDER adding headers to the Dear SCO letter"
**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

VA 508 office has identified the [Dear School Certifying Official](https://www.benefits.va.gov/GIBILL/docs/fgib/107_TandF_SCO_letter.pdf) PDF has some text that appears to be headings. These look like the sidebar

[2020-05-05 17:07] amyknox commented on #8228
I can reproduce the issue of the benefit re-setting to Post-9/11 as you move from Landing Page to Profile Page on both staging and prod. Looks like it actually resets from SRP to Profile.

Wonder if it's a PC/Mac thing?

[2020-05-05 17:22] bsmartin-ep commented on #7881
@jonwehausen -

Updated to look for the `login-success-.*` events.  Does that make sense?

https://tagmanager.google.com/#/container/accounts/144676348/containers/2214120/workspaces/1000284

Working on staging if you want to QA.

![image](https://user-images.githubusercontent.com/62304138/81095782-7cb98c80-8ed3-11ea-9db5-3428173783e0.png)

[2020-05-05 17:25] LindseySaari opened #8766 "Update documentation for External Service Performance Monitoring product"
## Background

BE Tools team met with DEPO and VSP Leadership to present and brief on the External Service Performance Monitoring product. Requests were made for desired improvements.

## Goal

[External Service Performance Monitoring](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/platform/external-service-monitoring/README.md) product v0.2 sees the requested i

[2020-05-05 17:37] RLHecht commented on #8533
This page was published today with JTF approval. Moving to validate. @stephorkandatx @DanielleThierryUSDSVA

[2020-05-05 17:39] dmccurdybah commented on #8228
I'm able to reproduce this in staging.

1) In Chrome in a new incognito, go to https://staging.va.gov/gi-bill-comparison-tool/search?category=school&name=charleston
2) Change benefit from Chapter 33
3) Select a search result

[2020-05-05 17:42] mshea0606 opened #8767 "AE-Sprint 21 (5/6-5/20)"
## Profile 2.0: Order of priorities

1. Resolve Direct Deposit issue
2. Finish any open design tasks
3. Build - Continue build
4. Analytics - review (VSP cycle)

### Direct Deposit
- [x] Investigate increased Error rate on Direct Deposit #8852

### Design
- [x] [Design] - LOA1 Profile design #8570
- [x] [Design] Mobile navigation documentation #8234
- [ ] [Design] Design Mobile Sub Navigation #823

[2020-05-05 17:44] #8274 closed

[2020-05-05 17:45] ElijahLynn commented on #8695
Chiming in here - @oksana-c will be performing various DevOps tasks from time to time for the CMS alongside @indytechcook and myself. She needs the same access that I have.

[2020-05-05 17:51] lenaecb commented on #8553
@narin - I have updated this ticket. As you can see, in auditing what is believed (from multiple sources) the full list of statuses including combinations, we've also made some updates to a few statuses given the actual definition/purpose of the status.

Let me know if you have any questions about this.

Marcy isn't sure how we can fully test these statuses because she doesn't have this exhaustive

[2020-05-05 17:54] lenaecb commented on #8553
cc: @lalexanderson-dsva @rtwell sharing for transparency. AC will be the direction we take Past Appointment and we'll add this to the list for user testing round 2.

[2020-05-05 17:59] bsmartin-ep commented on #6510
@jonwehausen -

Here's a workspace I started for this implementation...

https://tagmanager.google.com/#/container/accounts/144676348/containers/2214120/workspaces/1000285

Thinking this will be broken out into it's own tag(s) like VAOS and GIBCT or we letting this run through the basic Form Event tag?  I lean towards the latter.  In fact, I think Nedie suggested folding the VAOS tag back into the

[2020-05-05 17:59] delli-gatti-michael commented on #8503
@department-of-veterans-affairs/uxbah This fix is in Staging and ready for review.

[2020-05-05 18:02] jsev-io commented on #8175
Credential added to credstash

[2020-05-05 18:04] #8671 closed

[2020-05-05 18:05] #8609 closed

[2020-05-05 18:06] kristinagore commented on #8502
Updated the documentation here: https://department-of-veterans-affairs.github.io/veteran-facing-services-tools/platform/tools/feature-toggles/

[2020-05-05 18:06] #8502 closed

[2020-05-05 18:08] dginther commented on #1402
The decision appears to be to add extra CIDRs to the existing subnets.

I do not have a VA account yet to request these from COMS, so I will need to collaborate on this or hand this to someone who can make the request.

[2020-05-05 18:08] kristinagore commented on #7301
Created this page: https://department-of-veterans-affairs.github.io/veteran-facing-services-tools/platform/front-end-standards/manual-reviews

[2020-05-05 18:08] #7301 closed

[2020-05-05 18:12] #8144 closed

[2020-05-05 18:12] #4838 closed

[2020-05-05 18:12] #4839 closed

[2020-05-05 18:12] #4914 closed

[2020-05-05 18:12] #4915 closed

[2020-05-05 18:13] #4917 closed

[2020-05-05 18:13] #8463 closed

[2020-05-05 18:13] #4916 closed

[2020-05-05 18:13] #8462 closed

[2020-05-05 18:13] #8600 closed

[2020-05-05 18:18] bkjohnson opened #8769 "Prevent abusive disabling of ESLint"
## Overview

We have ESLint in place to help with code quality in `vets-website`.  There are situations where it may be better to disable certain rules rather than conform to them.  For these cases, we want to be very specific about the ESLint rules that are being disabled.

## Goal
Specific reasons for disabling ESLint

## Objectives or Key Results this is meant to further
- _Include references t

[2020-05-05 18:20] sanlouise commented on #8400
@mshea0606 Could you please validate this ticket? Thank you!

[2020-05-05 18:21] johnhashva commented on #8681
Talked to @mnorthuis  and Jen about this and have sent a note to Josh Tuscher at OPIA to take see if he can make updates -- correcting/updating broken links.  Mikki is going to put the possibility of creating a new HTML site map on her "to do" list. @stephorkandatx let me know if we should close this one out.

[2020-05-05 18:24] peggygannon commented on #8400
@tressaellen or @sanlouise Can I see an updated screenshot with the messaging?

[2020-05-05 18:25] elder-joseph commented on #8003
PR: https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/vets-website/12492

[2020-05-05 18:27] #7212 closed

[2020-05-05 18:28] #8476 closed

[2020-05-05 18:28] #8494 closed

[2020-05-05 18:29] mmiddaugh commented on #8357
[Research plan for card sort](products/facilities/facility-locator/research/user-research/redesign/filter-categorization/research-plan.md)

[2020-05-05 18:29] #8357 closed

[2020-05-05 18:30] #7896 closed

[2020-05-05 18:30] #8145 closed

[2020-05-05 18:30] #8219 closed

[2020-05-05 18:33] ccruzgra commented on #8503
@delli-gatti-michael Very nice job! This fix checks out.

[2020-05-05 18:34] #8002 closed

[2020-05-05 18:43] #8503 closed

[2020-05-05 18:43] delli-gatti-michael commented on #8503
Closing this out with QA and UX approval.

[2020-05-05 18:44] #8288 closed

[2020-05-05 18:44] mmiddaugh opened #8770 "DevShop prototype of sandwich content model"
## User Stories

- As a content producer, I want to be able to create content at the system or facility level so that I can provide localized information to Veterans.
- As a content producer, I want the editorial experience to be user friendly so that I can serve Veterans efficiently.
- As the VHA, I want national content to be maintained at the national level so that Veterans have a standardized

[2020-05-05 18:46] jbalboni commented on #8710
It looks like there's a bug that's breaking the facility info fetch in some circumstances. You can see it clearly if you refresh while on the past appointments tab, though it happens if you just switch to that tab from upcoming appointments

![Screen Shot 2020-05-05 at 2.46.00 PM.png](https://images.zenhubusercontent.com/599c94608f62dc7798c3b2cd/9a8afa95-e5f8-4c02-a8b5-313a0f5c072a)

[2020-05-05 18:47] sonntag-adam opened #8771 "CT-EYB: Focus is set on the "Your estimated benefits" panel after recalculation scrolls to top of page"
When selecting "Calculate Benefits" on the profile page, if you scroll completely past "Your estimated benefits" and select the calculate benefits button it will scroll all the way to the top. If you still have "Your estimated benefits" still on the screen it goes to where it should be. Observe below
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/48804582/81103671-64e80580-8ed

[2020-05-05 18:47] AnneHurley commented on #8205
@RLHecht  This is ready to be checked and pushed live whenever you have time.

[2020-05-05 18:47] #8177 closed

[2020-05-05 18:52] lihanli commented on #7883
@cohnjesse @micahchiang
prefill has been merged and deployed
[code]

[2020-05-05 18:53] stephorkandatx commented on #6918
Thanks @tlei123 I am going to close this out and we will track the defects forward!

[2020-05-05 18:53] #6918 closed

[2020-05-05 18:57] jbalboni commented on #8553
It would probably be a good idea for us on the FE to map these to the FHIR statuses as part of this work: http://hl7.org/fhir/DSTU2/valueset-appointmentstatus.html

In the future, we're likely to lose the ability to make status distinctions beyond the 7 statuses listed there (or at best the 10 listed in http://hl7.org/fhir/valueset-appointmentstatus.html).

[2020-05-05 18:59] jholton opened #8772 "Remove `flipper_features` record when toggle removed from `features.yml`"
## Background
[Slack chat](https://dsva.slack.com/archives/CQHBJ5U06/p1588695414101600):
The Flipper initializer adds new feature toggles to the `flipper_features` as they are added in the `features.yml` file [here](https://github.com/department-of-veterans-affairs/vets-api/blob/048f20f56ea0d786902873f2a30a41718d257dfc/config/initializers/flipper.rb#L46)
However, when an entry is removed from `fea

[2020-05-05 19:02] joanneesteban commented on #7157
Another note for us:

We also need to separate out the documentation for requesting access to GA. The current format is confusing for folks to find.

[2020-05-05 19:07] mshea0606 commented on #8400
![image](https://user-images.githubusercontent.com/60523453/81105584-29026f80-8ee2-11ea-80af-2b279e80a773.png)

[2020-05-05 19:11] stephorkandatx opened #8773 "Review, Resolve Link Bugs Found in L4+ Audit"
**Tasks**
- [ ] Review, write feedback on the found link bugs in the L4+ [audit](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/global/header-footer-and-navigation/page-nav/Level%204%2B%20Pages%20Audit.xlsx) after the proposal is reviewed/finalized by Danielle & Mikki
- [ ] Resolve the link bugs
- [ ] Generate list of the updates made in the resolution of the li

[2020-05-05 19:15] Samara-Strauss commented on #6012
Update: We are going to try to talk to the veteran from last week again. We have a call tentatively scheduled for tomorrow afternoon.

[2020-05-05 19:16] stephorkandatx commented on #8369
@ncksllvn ready to close this out?

[2020-05-05 19:18] peggygannon commented on #8400
ok, thank you. @tressaellen @sanlouise @mshea0606 Our style is to use sentence casing for heading and subheadings

can you update the subhead to **View your profile** (removing the initial caps? )

[2020-05-05 19:18] stephorkandatx commented on #7174
Hi @jonwehausen the work for #8177 is complete

[2020-05-05 19:19] rileyorr commented on #7653
I've added [the conversation for Jodi and Dawn](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/debt-letters-mvp/research/discovery-may20/jodi-and-dawn-conversation-guide.md) to GH.

[2020-05-05 19:20] rileyorr commented on #7654
I've added [the conversation guide for the call center representative interviews](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/debt-letters-mvp/research/discovery-may20/call-center-representatives-conversation-guide.md) to GH

[2020-05-05 19:20] ncksllvn commented on #8369
I think I made all of the updates. Yep, please close!

[2020-05-05 19:21] tressaellen commented on #8231
H1 'Your profile' has been removed.  We will (most likely) be using the header for the navigation as H1.

<img width="328" alt="Screen Shot 2020-05-05 at 10 33 38 AM" src="https://user-images.githubusercontent.com/58752772/81106656-7242c700-8ec2-11ea-8bc0-ea98939edd6f.png">

[2020-05-05 19:23] micahchiang opened #8774 "Make 686 options selection read-only on the review page"
## Description
We want to restrict the user from modifying their selected options on the review page, as this could mutate the payload and create unwanted side effects on data submission, or prevent the form from submitting at all.

## Considerations
- To do this, a custom component needs to be built and passed to the `ui:reviewField` property in the uiSchema for the options selection page.
- Some

[2020-05-05 19:26] SgardnerPMP opened #8775 "[ANALYTICS] Parse data from VISN-19 Legacy Data Dump [BA}"
## User Story or Problem Statement
As a Business Analyst, I need to know the specific details regarding the Health Services Provided and Content requirements, so I can document and create the Health Services listing correctly.

## Goal
_Parse data from Legacy website data by VISN-19 system and medical center to be used in playbook_

## Objectives or Key Results this is meant to further
- _Reductio

[2020-05-05 19:28] sanlouise commented on #8400
Oops, sorry about that! Fixed in https://github.com/department-of-veterans-affairs/vets-website/pull/12508/files.

[2020-05-05 19:36] Samara-Strauss opened #8776 "Analytics Implementation (Foresee) for My VA Dashboard"
# Analytics Implementation or QA Request
## Description
- Is this request for Google Analytics implementation or QA?

This is a request to implement the Foresee survey on the My VA dashboard, which can be seen by logged in users at https://www.va.gov/my-va/

- Who is this request for?

Samara/Matt Shea/the authenticated experience team

- What team/project is this work for?

The new logged in home

[2020-05-05 19:37] Samara-Strauss commented on #8776
@mshea0606 for awareness

[2020-05-05 19:41] jason-gcio opened #8777 "Design: Capture Fields Necessary to Automate Pension Eligibility Determinations in the 686c-674"
# Add Mandated Pension Questions to 686c
Implement after launch, but Design can start thinking about it sooner
## Description
Pension LOB has mandated updates to BGS/ RBPS to enable simple processing of Pension applications via dependency claims. This presents several challenges, since the 686c does not ask questions about income or pension eligibility.

This will have a few different parts, acros

[2020-05-05 19:41] Samara-Strauss commented on #8231
Nice! This looks awesome!

[2020-05-05 19:45] camerontesterman commented on #8174
This is blocked until a forward proxy is setup by DevOps team to establish connectivity.

[2020-05-05 19:46] camerontesterman commented on #8181
Need to specify exact ask of what we need in the document.

[2020-05-05 19:47] camerontesterman commented on #8509
Cannot be tested until service is available.

[2020-05-05 19:49] #8400 closed

[2020-05-05 19:52] Samara-Strauss opened #8778 "Sprint 21: Logged-in homepage discovery"
## Sprint 21 (5/6 - 5/19)

### Order of priorities

1. Conduct research
2. Comparative analysis
3. (maybe) Research synthesis — this depends on if we finish research on time
4. (Samara — maybe) Analytics review

### Logged-in homepage discovery

- [x] Conduct comparative analysis #7266
- [x] Conduct interviews #7274
- [x] Start synthesis #7276
- [x] (Samara) Analytics review and report #7772

[2020-05-05 19:56] jason-gcio opened #8779 "[POST LAUNCH] Frontend: Capture Fields Necessary to Automate Pension Eligibility Determinations in the 686c-674"
# Add Mandated Pension Questions to 686c
Implement after launch
## Description
Pension LOB has mandated updates to BGS/ RBPS to enable simple processing of Pension applications via dependency claims. This presents several challenges, since the 686c does not ask questions about income or pension eligibility.

This will have a few different parts, across domains that are all related. (See mini-epic

[2020-05-05 19:58] jason-gcio opened #8780 "[POST LAUNCH] Backend: Capture Fields Necessary to Automate Pension Eligibility Determinations in the 686c-674"
# Add Mandated Pension Questions to 686c
Implement after launch, but start thinking about it soon
## Description
Pension LOB has mandated updates to BGS/ RBPS to enable simple processing of Pension applications via dependency claims. This presents several challenges, since the 686c does not ask questions about income or pension eligibility.

This will have a few different parts, across domains tha

[2020-05-05 19:59] lenaecb commented on #8684
@lalexanderson-dsva @rtwell - this was marked as a 'bug' from Marcy's regression, but it's more of a bug for VAOS BE/ Schedule Manager.

Nonetheless, I need your input on the "Open questions about Desired behavior." Our assumption is that we should continue handling the emails as we currently due since that's in line with other forms/approaches on VA.gov for VA profile data.

We believe the update

[2020-05-05 20:01] bsmartin-ep commented on #7174
@stephorkandatx -

I'm seeing `nav-linkslist` events on staging, so I think we're good...

![image](https://user-images.githubusercontent.com/62304138/81110217-3c650900-8ee9-11ea-9e1a-1f4dacfa3d32.png)

Let us know if you need a custom report or something to display all of these dimensions.

[2020-05-05 20:10] #7657 closed

[2020-05-05 20:10] #7659 closed

[2020-05-05 20:10] #7655 closed

[2020-05-05 20:10] #7660 closed

[2020-05-05 20:10] #7135 closed

[2020-05-05 20:10] #7680 closed

[2020-05-05 20:10] #7682 closed

[2020-05-05 20:10] #8651 closed

[2020-05-05 20:11] RLHecht commented on #8205
This page has been published. Moving to validate.FYSA @stephorkandatx

[2020-05-05 20:14] DanielleThierryUSDSVA commented on #8714
Just noting here that we don't need JTF approval for this update.

[2020-05-05 20:17] 1Copenut commented on #8112
I agree with @jbalboni on the more in-depth label and button. I think with the strong label text, the button `aria-label` could be "Update the list" or "Update my appointment list". I'll defer to Peggy for final language.

[2020-05-05 20:28] #8618 closed

[2020-05-05 20:28] RLHecht commented on #8618
The outdated page is no longer showing on the live site. Closing ticket.

[2020-05-05 20:29] 1Copenut opened #8781 "Create a CircleCI rule that alerts the front-end review team if E2E tests don't include an axeCheck"
## Description
@brandonrapp
Dan and I were talking with Jhonny about a CircleCI rule that could notify the front-end review team if E2E tests are created/edited without at least one [axeCheck for accessibility scans](https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/platform/testing/e2e/nightwatch-commands/axeCheck.js). We are required to have these automated checks in

[2020-05-05 20:35] DanielleThierryUSDSVA commented on #8732
Hi @RLHecht. I've made these updates for the stimulus check deadline info. Could you check my work please? Thank you!

[VA.gov coronavirus FAQs_week of 5.4.20 updates_for JTF review](https://app.zenhub.com/files/133843125/cb2aecef-e7d8-4f5e-801c-e819ac276480/download)

[2020-05-05 20:36] peggygannon commented on #8112
Hello, @jbalboni @rtwell @1Copenut here is my recommendation. Please let me know if you have any questions:

"Select a date range for your appointments"

"Update my appointment list"

[2020-05-05 20:40] #8452 closed

[2020-05-05 20:40] #8451 closed

[2020-05-05 20:42] mmiddaugh commented on #6743
The technical resolution of this issue has been completed.
Creating a separate issue to manage this from a content/data owner perspective.

[2020-05-05 20:42] #6743 closed

[2020-05-05 20:45] jbalboni commented on #8112
@rtwell @1Copenut How much of the above text do you want displayed in the button and label, vs the aria-label?

[2020-05-05 20:51] amyknox commented on #7400
We're good to go. Lauren is submitting the request and says "I think it sounds great."

[2020-05-05 20:51] #7400 closed

[2020-05-05 20:51] 1Copenut commented on #8112
@jbalboni I'd be good with "Select a date range" and "Update" for the visible text, with full text blocks in the `aria-label` attributes. You *may* have to add an SR-only span for the `<label>`, not sure if it supports `aria-label` or not.

[2020-05-05 20:58] jason-gcio commented on #7883
Thank you @lihanli! We really appreciate it!

[2020-05-05 20:58] #7883 closed

[2020-05-05 20:59] #8332 closed

[2020-05-05 21:00] rtwell commented on #8112
**Label**: "Select a date range"

**Button**: "Update"

[2020-05-05 21:01] mmiddaugh opened #8782 "Hours of operation: data owners"
## User Story or Problem Statement
How might we enforce consistency in the display of hours of operation?

## Current situation
Facility hours of operation are consumed by API and displayed within Facility Locator as they have been defined by the data owners. As a result, facilities may use different words or style formats to convey the same meaning.

Areas of inconsistency with content recommenda

[2020-05-05 21:02] sporeboy commented on #8015
Continuing to refine tasks steps and questions in light of shifting design and development issues around 686.

[2020-05-05 21:05] jason-gcio opened #8783 "[POST 686 LAUNCH] Product: Capture Fields Necessary to Automate Pension Eligibility Determinations in the 686c-674"
# Add Mandated Pension Questions to 686c
Implement after launch, but start thinking about it soon
## Description
Pension LOB has mandated updates to BGS/ RBPS to enable simple processing of Pension applications via dependency claims. This presents several challenges, since the 686c does not ask questions about income or pension eligibility.

This will have a few different parts, across domains tha

[2020-05-05 21:06] mmiddaugh commented on #3715
Will be addressed by [#8721] and #8720]

[2020-05-05 21:06] #3715 closed

[2020-05-05 21:07] mmiddaugh commented on #3715
Will be addressed by [#8721] and #8720]

[2020-05-05 21:07] mmiddaugh commented on #3707
Will be addressed by [#8721] and [#8720]

[2020-05-05 21:07] #3707 closed

[2020-05-05 21:08] mmiddaugh commented on #3716
Will be addressed by [#8721] and [#8720]

[2020-05-05 21:08] mmiddaugh commented on #3714
Will be addressed by [#8721] and [#8720]

[2020-05-05 21:08] #3714 closed

[2020-05-05 21:08] jonwehausen opened #8784 "[Discovery] DOMO<>VAEC Connection"
# Analytics Implementation or QA Request

## Description
- The Analytics & Insights team is looking to connect DOMO to a data source within the VAEC
- The purpose of this connection would be to pull in relevant data that we can then surface visually within our dashboards
- The first piece of data we are interested in is chatbot data -- which currently lives within Azure
- We are open to other solu

[2020-05-05 21:08] #3716 closed

[2020-05-05 21:13] RLHecht commented on #8533
Newest changes are now on live side. @DanielleThierryUSDSVA Should this be closed?

[2020-05-05 21:15] nathanhruby commented on #6626
small tech debt issues to fix before closing
- [ ] need to write a script to clean up dns hostnames
- [ ] vault agent templates are not a list, so can restart services from config template before the certs are done
- [ ] rolling nodes causes vault quorum problems due to old nodes in pool
- [ ] quorum in vault
- [ ] consul policies need session lock perms
- [ ] document bootstrap process
- [ ] cfg

[2020-05-05 21:16] RLHecht commented on #8714
Chatbot was added to the FAQ like design above.

[2020-05-05 21:18] amyknox commented on #8474
EYB implementation issues
https://airtable.com/tbljP9rzebaeT7S5y/viwEDTmC2v13AeOJ8?blocks=hide

[2020-05-05 21:19] bsmartin-ep commented on #6830
@jonwehausen -

Any thoughts on how you want the `cta-default-button-click` event tracked?

We currently have a tag, trigger, and lookup table for `cta-primary-button-click`:

Tag | Lookup
-- | --
![image](https://user-images.githubusercontent.com/62304138/81116710-d8940d80-8ef3-11ea-851f-5fc17ddfbf73.png) | ![image](https://user-images.githubusercontent.com/62304138/81116779-f6fa0900-8ef3-11ea-85

[2020-05-05 21:26] lunascoop commented on #8114
@stephorkandatx I am still awaiting feedback. That sounds correct. I think a separate ticket to update the Drupal change would probably be best.

[2020-05-05 21:32] jenstrickland opened #8785 "Yellow Ribbon MVP - Findings for Accessibility Staging Review"
**Feedback framework**
- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

This epic will contain the accessibility staging review findings issue tickets.

Findings currently exist in [this comment on the a11y spot check from April 6](https://github.com/department-of-veterans-affairs/va.go

[2020-05-05 21:35] lenaecb commented on #8020
@lalexanderson-dsva - I am going to hold on to this until we're ready to re-enable Community Care again. Doesn't make sense for the public website team to work on this now just to hide it for us.

[2020-05-05 21:36] mnorthuis commented on #6378
Thanks for the above info @leahbannon

Here is the final IA work: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/information-architecture/ia-reviews/bam2-med-device-order.md

Please let me know if you have any questions or want to go through this together.  Much of this information will be needed by the Public Websites team for implementing the static/unauthenti

[2020-05-05 21:38] stephorkandatx commented on #7174
Thank you!

[2020-05-05 21:38] #7174 closed

[2020-05-05 21:41] jenstrickland opened #8786 "508-defect-1 ❗ Launchblocker [SEMANTIC MARKUP]: Form elements MUST be paired with labels"
# [508-defect-1 :exclamation: Launchblocker](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-1)

**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

(3x) Form elements mus

[2020-05-05 21:45] jenstrickland opened #8787 "508-defect-2 [AXE-CORE, SCREENREADER]: Heading levels SHOULD only increase by one"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

Heading levels **should** only increase by one.

[2020-05-05 21:51] jenstrickland opened #8788 "508-defect-1 ❗ Launchblocker [FOCUS MANAGEMENT, SCREEN READER]: Focus SHOULD be managed"
# [508-defect-1 :exclamation: Launchblocker](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-1)

**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

Focus **should** move

[2020-05-05 21:55] jenstrickland opened #8789 "508-defect-4 [ZOOM, MOBILE DESIGN]: When zoomed to 400% content MUST not be cut off"
# [508-defect-4](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-4)

**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

When zoomed to 400% at 1280px, a number of cut off

[2020-05-05 21:56] mnorthuis commented on #8276
@lwalsh617 Just checking in on this one.

- Contested claims issue needs a redirect request
- Legacy board of appeals page - is this being worked on separately?
- Do we have all approvals we need to add links to all the hubs to decision reviews?

[2020-05-05 21:56] mnorthuis commented on #8094
Is this duplicative to #8276 ?

[2020-05-05 22:00] mnorthuis commented on #8396
Are we waiting for a response from stakeholders on this one, or do we have ok to move forward with the redirect?

I believe the direction we are planning to go is to redirect this form to the legacy appeals page.  If the below is accurate, then we can update the top description of this issue and assign to dev.

Current URL | Redirect Destination (new URL)
-- | --
http://www.vba.va.gov/pubs/forms/V

[2020-05-05 22:00] jenstrickland opened #8790 "508-defect-3 - design system, components [KEYBOARD]: Focus outline MUST be visible around focused content, pagination"
# [508-defect-3](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-3)

[code]

**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

For each page of search results, the focus

[2020-05-05 22:04] mnorthuis commented on #7202
@AnneHurley @lunascoop @stephorkandatx
All - this was originally a redirect ticket, and I'm not sure what work is remaining to do here - it somehow turned into a creating a PDF ticket?   Can you please review this ticket and determine if there is additional work to be done or if this can be closed?

[2020-05-05 22:05] ericbuckley commented on #8305
@patrickvinograd do we need to make a change to the power of attorney form in the claims api?  https://github.com/department-of-veterans-affairs/vets-api/blob/master/modules/claims_api/app/controllers/claims_api/v1/forms/power_of_attorney_controller.rb#L92

[2020-05-05 22:06] jenstrickland opened #8791 "508-defect-3 [COGNITION, SEMANTIC MARKUP]: individual search items SHOULD read semantically"
# [508-defect-3](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-3)

**Feedback framework**
- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

Each search result **should** have semantic structu

[2020-05-05 22:08] AnneHurley commented on #8677
@ncksllvn or @kelsonic  -- Can one of you help me with getting a link teaser onto the GI Bill Comparison Tool page.

We don't yet have the link to the Yellow Ribbon finder page, so not sure if you can do anything with this yet, or perhaps you can use some kind of placeholder URL.

For this page:
https://www.va.gov/gi-bill-comparison-tool/

In the right-hand rail list of links, let's make it the to

[2020-05-05 22:14] jenstrickland opened #8792 "508-defect-1 ❗ Launchblocker [FOCUS MANAGMENT]: There MUST not be any keyboard traps"
# [508-defect-1 :exclamation: Launchblocker](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-1)

**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

 In the keyboard test,

[2020-05-05 22:14] jenniferlee-dsva commented on #8396
I think the only thing remaining was to determine the content update/s that would need to be made and where -- in order to confirm the manage legacy appeals page is where we want to redirect to.

Which I think ^ content recommendation confirms. @lwalsh617 - Would you mind capturing the copy updates that you proposed ^ as a copy ticket and have that be ready in time for implementation of Mikki's re

[2020-05-05 22:16] AnneHurley commented on #8677
Awhile back, @andaleliz, @jenniferlee-dsva and I discussed a little revamp of the right rail links on the GI Bill comparison tool page. Currently it looks like this:
![GI Bill Right Rail]
(https://images.zenhubusercontent.com/5c6313e20f871b64caae9909/837146b4-3e3b-4284-be5e-8ad4ef6a9d59)

We'd discussed reordering the links while we are adding a new one to the YR tool. I would suggest:

- Apply fo

[2020-05-05 22:18] AnneHurley commented on #8677
And general content strategy question related to ^above comment. Right now this list says to add just a link to the YR search tool, which I'm doing. But I feel like we should link to the main YR page in those instances too - "Learn about..." and then "Find a ...." - so that "Find a..." isn't alone without the context of the main page. @DanielleThierryUSDSVA @peggygannon What do you think?

[2020-05-05 22:27] Mottie opened #8793 "[Development] Create a shared accessibe telephone component"
## Description

Our telephone links need to be standardized and accessible. Different methods of adding a telephone link have been recommended in the past, but not updated globally across the site when the recommendation changes. We need a global, shared accessible React component.

[code]

## Considerations

- Accept a telephone number with or without dashes or spaces, e.g. `800 827 1000` or `800

[2020-05-05 22:27] lunascoop commented on #7202
@mnorthuis The redirects for the rates pages still need to be implemented. But before that can happen, the last three last years of legacy rates pages for each main rates page needs to be PDF'd, and their links in the Historic rates section pointed to the matching PDF. If redirects are implemented before this happens it will create a looping issue and the links on those pages will essentially rout

[2020-05-05 22:28] jenniferlee-dsva commented on #8677
I can answer the last question in the ^ ticket: `Question: Where have we landed on historic rates?`
Two chunks:
1/ 2019-2020 school tables -  we will redirect to the tool itself. (ETA TBD by release plan and Mikki's redirect ticket. It can happen during release or shortly after tool is fully live.)

2/ 2018- and prior year table pages - we will not link to these and we will not redirect these.

[2020-05-05 22:30] mnorthuis commented on #7015
@DanielleSoCompany One option, depending on how we structure this rates parent page, it may be that it just references REAP and links to the final 3 years in PDF form?
https://www.va.gov/education/benefit-rates/

[2020-05-05 22:37] mnorthuis commented on #7202
All of the rates pages redirects are handled in separate tickets - these are all marked as ready to go once the PDFs are complete.  What is this ticket for?
Special comp - #8626
Special allow - #8627
Birth defect - #8624
Veteran rates - #8622

[2020-05-05 22:43] lunascoop commented on #7202
We converted this ticket into an epic. Those tickets are now housed inside this epic.

[2020-05-05 22:43] dginther commented on #2383
Script is written, just need to get this scheduled to run in Jenkins.

[2020-05-05 22:45] micahchiang opened #8794 "Make Deceased Dependent Additional Information conditional and require date field."
## Description
When we re-aligned the deceased dependent workflow with its mockup, we added a second page. This page needs to be conditionally required similar to all other pages in the 686. The date also needs to be a requirement on this page, or else the workflow submits with incomplete data.

## Considerations
- This ticket fixes several issues found on [this punchlist](https://github.com/depar

[2020-05-05 22:52] mnorthuis commented on #7202
Ha!  My bad.  Got it.  Removing my assignment from this one.

[2020-05-05 23:09] #7828 closed

[2020-05-05 23:10] #8598 closed

[2020-05-05 23:21] mmiddaugh commented on #8485
![wave contrast for left nav](https://user-images.githubusercontent.com/55411834/81125232-cf577080-8ef4-11ea-921b-1ca61ff3b245.png)

![wave errors for left nav](https://user-images.githubusercontent.com/55411834/81125237-d2526100-8ef4-11ea-8b73-963f1176f5ea.png)

[2020-05-05 23:22] DanielleThierryUSDSVA commented on #8714
Hi @toddstanich. Are you able to access the VA network? If yes, could you validate the chatbot cta treatment in preview?

preview-prod.vfs.va.gov/preview?nodeId=3014

If you can't view preview, here's a screenshot. Thanks!

![image.png](https://images.zenhubusercontent.com/5e8b13016a4378a604f5e799/b7f6e914-3b5d-473a-9a6d-70731a38c0d3)

[2020-05-05 23:40] DanielleThierryUSDSVA opened #8795 "Coronavirus banner: Remove May 5 deadline alert"
# User story

As a Veteran, I need timely and regularly updated information about all the ways the coronavirus may impact my VA health care and benefits.

# Details

We need to remove the stimulus check May 5 deadline alert on May 6 once the deadline has passed.

**Process steps to completion:**

- [x] Remove alert from Drupal nodes banners and publish (Randi)
- [x] Remove alert from homepage bann

[2020-05-05 23:42] DanielleThierryUSDSVA commented on #8795
Hi @RLHecht. Just creating this ticket to track the work of removing the May 5 alert from the banner. Thanks!

@jenniferlee-dsva Can you remind me if Nick or Kelson could remove the alert from the homepage banner, or if we need to leave that to Josh T's team? Thank you!

[2020-05-05 23:42] DanielleThierryUSDSVA commented on #8795
@stephorkandatx FYSA

[2020-05-05 23:57] DanielleThierryUSDSVA commented on #8732
**Added new question around mask policy:**

**Do I need to wear a mask when I go to a VA hospital or other location?**

Yes. To help us protect you, other patients, and our staff, we require everyone entering our facilities to wear a cloth face covering.

Please bring your own face covering with you if you can. If you can’t, we’ll provide you with one to wear during your visit.

If you wear an oxy

[2020-05-06 00:42] mshea0606 commented on #8182
@Samara-Strauss Joanne and I were able to discuss the topics you mentioned this afternoon.

1. The goal is to eventually move GA dashboards over to DOMO but the Analytics team is still working on what that looks like.

2. Our current dashboards will remain in GA but could eventually be built in DOMO if needed. (They would still be available in GA even if moved to DOMO).

The plan is to put the add

[2020-05-06 00:59] #8573 closed

[2020-05-06 02:02] DanielleThierryUSDSVA commented on #7892
## Recommendations for 5.5.20 content strategy/IA meeting

[Go to content for mockup](https://docs.google.com/document/d/1kQSUo5cuzsZ144F0V4BfThTglaf3qtfa7WVGujZzbi8/edit?usp=sharing)

Danielle and Mikki to represent team and present a mockup of the following recommendations:

**Family member benefits hub page**
- Update family member benefits hub page to better highlight caregiver-specific progra

[2020-05-06 02:34] DanielleThierryUSDSVA commented on #7892
@peggygannon We'll need to sync on when/if we need a formal platform review for the content. Thanks!

[2020-05-06 04:24] #8733 closed

[2020-05-06 04:24] #6569 closed

[2020-05-06 04:25] #8465 closed

[2020-05-06 04:25] #6570 closed

[2020-05-06 04:25] #8731 closed

[2020-05-06 04:51] SgardnerPMP opened #8796 "[REVIEW] Internal Review, test, and scan all pages for "BUTLER, PA" PART 2 of System and facility pages in Devshop [VAMC]"
## User Story or Problem Statement
As a Veteran Web user, I must have full accessibility a compliance to my web applications and tools, so I can use the VAMC system pages in any GUI, UE, including mobile and reader environments.

## Goal
_Perform initial page testing, review, initial Accessibility scan with AXE-Coconut _

## Objectives or Key Results this is meant to further
- _Increase overall qu

[2020-05-06 05:04] SgardnerPMP opened #8797 "[REVIEW] Internal Review, test, and scan all pages for "COATESVILLE, PA" PART 2 System and facility pages in Devshop [VAMC]"
## User Story or Problem Statement
As a Veteran Web user, I must have full accessibility a compliance to my web applications and tools, so I can use the VAMC system pages in any GUI, UE, including mobile and reader environments.

## Goal
_Perform initial page testing, review, initial Accessibility scan with AXE-Coconut _

## Objectives or Key Results this is meant to further
- _Increase overall qu

[2020-05-06 05:15] SgardnerPMP opened #8798 "[REVIEW] Internal Review, test, and scan all pages for "ALTOONA, PA" PART 2 System and facility pages in Devshop [VAMC]"
## User Story or Problem Statement
As a Veteran Web user, I must have full accessibility a compliance to my web applications and tools, so I can use the VAMC system pages in any GUI, UE, including mobile and reader environments.

## Goal
_Perform initial page testing, review, initial Accessibility scan with AXE-Coconut _

## Objectives or Key Results this is meant to further
- _Increase overall qu

[2020-05-06 05:21] SgardnerPMP opened #8799 "[REVIEW] Internal Review, test, and scan all pages for "ERIE, PA" PART 2 System and facility pages in Devshop [VAMC]"
## User Story or Problem Statement
As a Veteran Web user, I must have full accessibility a compliance to my web applications and tools, so I can use the VAMC system pages in any GUI, UE, including mobile and reader environments.

## Goal
_Perform initial page testing, review, initial Accessibility scan with AXE-Coconut _

## Objectives or Key Results this is meant to further
- _Increase overall qu

[2020-05-06 11:17] toddstanich commented on #8714
@DanielleThierryUSDSVA I'm not able to access the network, but the screenshot looks good, thanks! Also confirming that this replaced the current CTA? Or do we need to coordinate something separate to remove that?

[2020-05-06 11:27] DanielleThierryUSDSVA commented on #8714
@toddstanich Excellent question, thanks! That was added outside of Drupal, so I do think we'll need to coordinate removing that separately, yes. I'll add that as a step above and reach out to the team about how to make that happen before this cta goes live. Thanks again!

[2020-05-06 12:13] jbritt1 commented on #8756
No PagerDuty account found for this user.

[2020-05-06 12:15] DanielleThierryUSDSVA commented on #8714
Hi @ncksllvn @kelsonic. Would you be able to help us coordinate the removal of the existing chatbot cta that's coded in one or both of the below, with the publishing of the new cta that will live in Drupal? We'll want to wait until we're ready to publish the Drupal update. I'm hoping we'll be able to publish the new cta in this afternoon's deploy, but waiting on jtf approval of some other changes

[2020-05-06 12:23] Kimberley2019 commented on #8623
PR complete.  Changes incorporated, updated the collab cycle.

[2020-05-06 12:24] #8623 closed

[2020-05-06 12:24] Kimberley2019 commented on #6464
Shared on 5/4/2020.

[2020-05-06 12:24] #6464 closed

[2020-05-06 12:29] Kimberley2019 commented on #6581
@luke-gcio @AZSchneider Has there been any updates as of yet?

[2020-05-06 12:44] dneel-bah commented on #8222
@peggygannon We will be implementing this content change as part of #8524 .  EDU has approved the recommended content changes.  You can close this ticket if that is the next step; thanks.

[2020-05-06 12:52] jbritt1 commented on #8756
User removed from global/config.

AWS/SOCKS access revoked.

[2020-05-06 13:02] bsmartin-ep commented on #7156
@joanneesteban -

I did some tests with the HTML comments idea and I don't think it's a good idea.  You lose the ability to format the content and if you accidentally remove a comment declaration, it can blank out the entire ticket.

One other option is to put the _What this form is for_ section behind an accordion....

Collapsed | Expanded
-- | --
![image.png](https://images.zenhubusercontent.com

[2020-05-06 13:20] lenaecb opened #8800 "Update appointment list to show confirmed appointments up to 396 days in future"
Currently a Veteran can schedule an appointment up to 395 in the future.

Confirmed appointments (active and cancelled) up to 396 days in future should be shown in for confirmed appointments instead of 365.

## Acceptance Criteria
- [ ] A veteran can see confirmed appointments (active and cancelled) up to 396 days in the future
- [ ] Verify that a veteran can see confirmed appointments up to 396 d

[2020-05-06 13:31] jonwehausen commented on #7199
Reopening for tag management QA.

[2020-05-06 13:36] Samara-Strauss commented on #8182
Awesome, thank you for letting me know! I don't think I have any other questions right now.

[2020-05-06 13:41] pjhill opened #8801 "VSP QA feedback on GIBCT Estimate Your Benefits [Usability Testing Prep]"
## VSP QA feedback on GIBCT Estimate Your Benefits [Usability Testing Prep]
### Links
**Test Plan / Test cases:**
* Test plan link from prep epic appears to be [circular](https://github.com/department-of-veterans-affairs/va.gov-team/issues/8675).
* Inferring based on product outline that [this is your test plan](https://dsvavsp.testrail.io/index.php?/plans/view/338).

### Feedback
**Test Plan**
Tw

[2020-05-06 13:48] mshea0606 commented on #8182
@Samara-Strauss ok great! Closing this.

[2020-05-06 13:48] #8182 closed

[2020-05-06 13:48] jonwehausen commented on #7199
## Pagination QA

Description of Interaction | Screenshot | Test Status | Notes
------------ | ------------- | ------------- | -------------
**Clicked on a pagination number directly at the bottom** | ![image](https://user-images.githubusercontent.com/48527022/81183527-43d5f200-8f7d-11ea-9220-b0f8af2b4849.png) | ✔️ **PASSED** | Performed clicks on several other pagination numbers, screenshots incl

[2020-05-06 13:50] RLHecht commented on #8634
@AnneHurley Can you please check that I entered in the 2020 rates correctly from the legacy page?
Drupal page: preview-prod.vfs.va.gov/preview?nodeId=5355
Legacy page to check against: https://www.benefits.va.gov/GIBILL/resources/benefits_resources/rates/ch30/ch30rates100119.asp

[2020-05-06 13:53] rileyorr opened #8802 "[Design] MDT - Veterans need to be alerted if they they haven't placed an order for batteries in the past 2 years or only have rechargeable aids"
## User Story or Problem Statement
Our team recently discovered that the DLC will not be able to send us data identifying rechargeable hearing aids. How might we create an empty state for Veterans who order hearing aid accessories for their rechargeable devices but do not order batteries?

There are two use cases to consider:

- Veteran has not placed an order for batteries in the past 2 years
- V

[2020-05-06 13:54] amyknox commented on #8404
UX reviewed - issues are here: https://airtable.com/tbljP9rzebaeT7S5y/viwEDTmC2v13AeOJ8?blocks=hide

We'll review in detail at 5/6 UXBA Sync.

[2020-05-06 14:11] stephorkandatx commented on #8389
@beeyayjay were you able to meet with @kevwalsh to resolve the outstanding issue?
Is this ticket ready to validate and close?

[2020-05-06 14:11] DanielleThierryUSDSVA commented on #8795
Hi @RLHecht. Here's the new banner text. This will replace all of the existing text.

For questions about COVID-19 and how it affects VA health care and benefit services, visit our [coronavirus FAQs](/coronavirus-veteran-frequently-asked-questions/) or read [VA’s public health response](https://www.publichealth.va.gov/n-coronavirus/).

Please contact us first before going to any [VA location](/fin

[2020-05-06 14:21] stephorkandatx commented on #7199
Thanks @jonwehausen we will close this out

[2020-05-06 14:23] #8181 closed

[2020-05-06 14:32] rileyorr opened #8803 "[Design] Second iteration of MDT content page to make online ordering method have more visual weight"
## User Story or Problem Statement
When our team tested the MDT content page's initial design, many participants missed the CTA for ordering products online. How might we make the online ordering method have more visual weight compared to the other methods?

## Goal
_An updated design for the MDT's content page based on usability test findings_

## Objectives or Key Results this is meant to furthe

[2020-05-06 14:33] #7654 closed

[2020-05-06 14:33] #7653 closed

[2020-05-06 14:35] stephorkandatx commented on #8094
@mnorthuis I believe it is duplicative. @lwalsh617 any content we need to save on this ticket, or can it be closed out and we move forward with #8276 ?

[2020-05-06 14:37] jonwehausen commented on #7558
Hi @stephorkandatx,

Was hoping to get an update here on status of getting into staging?

Thanks,
Jon Wehausen

[2020-05-06 14:40] AnneHurley commented on #8637
@RLHecht Yes I'll take a look at this - I hope later today. Can we do a quick sync later or maybe tomorrow?

[2020-05-06 14:40] stephorkandatx opened #8804 "Drupal Update to support Static Landing Page for 686 Changes (eBenefits)"
In order to complete our support of the desired changes for the static landing page for the 686 changes, please make the necessary updates in Drupal to set up the new React widget.

**Tasks**
(details of the widget are in #8115 )
- [ ] Set up a new React widget with type 686UnauthContentBlock , on /disability/add-remove-dependent/ (confirm that is the correct page by cross-referencing changes in #

[2020-05-06 14:40] stephorkandatx commented on #8114
@lunascoop setting the new ticket up now

[2020-05-06 14:41] joanneesteban commented on #7345
Blocking this via #7558

[2020-05-06 14:42] #8533 closed

[2020-05-06 14:42] camerontesterman commented on #8174
@lihanli is working with devops team to setup fwdproxy.

[2020-05-06 14:43] #8369 closed

[2020-05-06 14:43] joanneesteban commented on #7462
Hi @amyknox ! Wanted to check in on this to see if there's a follow up on the event implementation above? Once that's completed, we can validate & publish on our end.

[2020-05-06 14:44] #8205 closed

[2020-05-06 14:46] joanneesteban commented on #5768
Finished out our end of this. Closing this out and will open a new issue in June when we hear back from VBA.

[2020-05-06 14:47] #8681 closed

[2020-05-06 14:49] joanneesteban commented on #8023
@joanneesteban
Groom the ForeSee metrics. May bring in @Kimberley2019 or @clantosswett to help with potential Contact Center metrics

[2020-05-06 14:49] lenaecb commented on #8718
@saneshark - looks like from the MAPSUP ticket that this is still in progress and they they are having to refactor MAS client to check for errors/partial data.

Are you tracking this with them? Trying to make sure I understand what's in motion for our team.

[2020-05-06 14:52] joanneesteban commented on #8021
Still need to add 526 submission. Moving to "Ready"

[2020-05-06 14:59] 1Copenut commented on #8785
@jenstrickland I agree with all of your comments from the [a11y spot check](https://github.com/department-of-veterans-affairs/va.gov-team/issues/7344#issuecomment-609955111). I have just one addition and one proposed tweak to your markup pattern for the description list cards:

1. When users click a pagination link, we should be returning focus to the "Displaying 1-10 of 51 results" `<h2>`. Curren

[2020-05-06 15:00] mnorthuis opened #8805 "Caregiver content migration review"
Review of content within the caregiver.va.gov subdomain to determine what content could potentially be brought into the new VA.gov tech stack/benefit hubs.

This is an extension of the work done by the Caregiver team, driven by Public Websites.

[2020-05-06 15:03] jenstrickland opened #8806 "Upcoming work caution [DOCUMENTS]: PDF MUST be accessible"
# Upcoming work caution

**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

The PDF mentioned in the Product Outline above **must** be accessible.

## Point of Contact

**VFS Point of Contact:** Jennifer

## Acceptance Criteria

As a screen reader user, I want to a

[2020-05-06 15:07] jenstrickland commented on #8785
@1Copenut It's supposed to be `role="heading"` — typo on my part!

[2020-05-06 15:07] #8343 closed

[2020-05-06 15:14] saneshark commented on #8718
Yes, I'm tracking the ticket on Jira mostly. Will update here based on my comment asking about LOE for solutions.

[2020-05-06 15:17] #8112 closed

[2020-05-06 15:18] sonntag-adam commented on #8003
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/48804582/81194842-1f811200-8f8b-11ea-9c05-be5618b79671.gif)
##
![ezgif com-video-to-gif copy](https://user-images.githubusercontent.com/48804582/81194917-30ca1e80-8f8b-11ea-8826-89ed9974d96c.gif)
##
![ezgif com-video-to-gif copy 2](https://user-images.githubusercontent.com/48804582/81194978-40496780-8f8b-11ea-91eb-a65762bc8c3f.gif

[2020-05-06 15:23] jbritt1 opened #8807 "User reports of jenkins not being reachable over GFE VPN, even though our documentation says it should be"
## User Story or Problem Statement
As a user with GFE over VPN, one cannot reach jenkins.vfs.va.gov. Only works over SOCKS proxy. The documentation explains that it should work on the VA network in addition to SOCKS. So either the doc is old and should be updated, or the problem needs some attention.

Relates to: https://dsva.slack.com/archives/CBU0KDSB1/p1588778184119500?thread_ts=1588777857.1187

[2020-05-06 15:24] sonntag-adam commented on #8003
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/48804582/81195662-23f9fa80-8f8c-11ea-8cdb-5d770f8c638c.gif)
##
![ezgif com-video-to-gif copy](https://user-images.githubusercontent.com/48804582/81195675-2a887200-8f8c-11ea-96d1-92c0e24623ad.gif)
##
![ezgif com-video-to-gif copy 2](https://user-images.githubusercontent.com/48804582/81195689-307e5300-8f8c-11ea-80f0-725eef77c1e6.gif

[2020-05-06 15:31] mchelen-gov commented on #8807
Doc link: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/engineering/internal-tools.md#internal-tools-access
DNS query on GFE VPN:
[code]

[2020-05-06 15:32] dmccurdybah commented on #8771
PR: https://github.com/department-of-veterans-affairs/vets-website/pull/12521

[2020-05-06 15:39] Jeff-Hayter commented on #8695
@ricetj Approved.  @ElijahLynn Just for general awareness, we are updating our AWS access policies which will reduce the number of people with true admin access, but you shouldn't lose the capability you need for CMS.

[2020-05-06 15:39] jbalboni opened #8808 "Certain sites don't include a root entry in the facilities endpoint"
There's one VistA site, 612, that when you fetch it from /vaos/facilities, the entry that comes back is 612A4, and there's no entry for just 612. This messes with the logic for determining root organizations and results in an error.

Sentry: http://sentry.vfs.va.gov/vets-gov/website-production/issues/118187/?query=is%3Aunresolved%20source%3Avaos

[2020-05-06 15:42] #8015 closed

[2020-05-06 15:42] LindseySaari commented on #7353
- [x] HCA example up and running & broker running locally
- [ ] Building out search

[2020-05-06 15:48] jenstrickland commented on #6595
@leahbannon Hi! This work has not yet had a Staging Review, and is not eligible for a Full Accessibility & 508 Office audit.

Two options:

* [A11y spot check review](https://github.com/department-of-veterans-affairs/va.gov-team/issues/5868) — previously requested, but ice-boxed since code wasn't ready

* [VSP Collaboration Cycle, Staging Review](https://github.com/department-of-veterans-affairs/v

[2020-05-06 15:51] CrystabelReiter commented on #8675
This looks good from the VSP design side, no feedback needed.

[2020-05-06 15:53] jason-gcio opened #8809 "Analyze VRE (CH31) and create initial design artifacts"
## Goal
We want to see how the VRE CH31 application works now at a high level so we can start to strategize about its functionality.

## Tasks
- [x] Create customer journey or workflow diagram of existing application
- [x] Create thumbnail path for new implementation of app on VA.gov

## Acceptance Criteria
- [x] Create a high level thumbnail view of the CH31 application (existing)
- [x] Create a

[2020-05-06 16:01] narin commented on #8553
@lenaecb Based on the mock data, it does look like video appointments have a status code, though I don't think we are actually checking them in the code.  The only one I see in our mock data though is `FUTURE`.  Is there a specific account you're looking at that I can check out?

[2020-05-06 16:03] jason-gcio opened #8810 "Finalize PCPG CH36 Mockups"
## Goal
We want to have a working mockup/ prototype of the CH36 application to work from

## Tasks
- [ ] Obtain stakeholders feedback (share mockup pdf an/or schedule meeting)
- [x] Finalize the mockup for the CH36 mockup/ prototype

## Acceptance Criteria
-  [x] The mockup/prototype has been updated

[2020-05-06 16:09] leahkeeler commented on #5868
HI Jen, Launch date estimated is June 15, 2020. Please let me know if we need to provide anything else.

Thanks, Leah

[2020-05-06 16:10] tressaellen commented on #8231
Since we are removing the H1 from the 'nametag' area - the desktop view will have to be updated as well.
<img width="647" alt="Screen Shot 2020-05-06 at 8 08 51 AM" src="https://user-images.githubusercontent.com/58752772/81200812-f489c480-8f70-11ea-84e0-33d26423f29c.png">

[2020-05-06 16:10] #8231 closed

[2020-05-06 16:13] rileyorr opened #8811 "[Design] Provide clearer content on the product selection screens' alerts"
## User Story or Problem Statement
During usability testing, we uncovered that some participants thought if they were ineligible to order one set of products (batteries/accessories), they were ineligible to place an order entirely. How might we make content improvements to product selection screens' alerts based on our findings?

## Goal
_Alerts that are clearer for our users to understand_

**The

[2020-05-06 16:17] ncksllvn commented on #8714
The link is removed! https://dsva.slack.com/archives/C52CL1PKQ/p1588777686353300

[2020-05-06 16:18] oksana-c commented on #8695
access was granted. Thank you @Jeff-Hayter @ricetj @ElijahLynn @jsev-io

[2020-05-06 16:18] #8695 closed

[2020-05-06 16:21] nelabdiel opened #8812 "Access for Jon Kislin"
# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

   (Submitted by Nelson Colon Vargas)

- Please Provide your email.

   (submitted by nelson.colonvargas@va.gov , nel.abdiel at DSVA Slack)

- Please provide the name of your team, your role on that team, and the name of the company you work for.

- [if requesting SSH key authorizatio

[2020-05-06 16:24] nelabdiel commented on #8812
@department-of-veterans-affairs/vsp-operations

[2020-05-06 16:26] RLHecht commented on #8714
Thank you, Nick! The FAQ page was published with new Chatbot link in the featured content. Moving to validate.

[2020-05-06 16:27] ncksllvn commented on #8677
I opened a PR for adding the link to the GIBCT - https://github.com/department-of-veterans-affairs/vets-website/pull/12524. How do we want to do this? Just keep it pending until we're ready to launch YR, or a feature flag of some sort?

[2020-05-06 16:28] RLHecht commented on #8795
The banner alert was removed from the benefit pages. Should be visible on live site shortly.

[2020-05-06 16:31] ncksllvn commented on #8677
There are also links under `Additional Resources` on the VET TEC profiles - https://www.va.gov/gi-bill-comparison-tool/profile/2V000125/JAVA%20FULL%20STACK%20SOFTWARE%20DEVELOPER - in case we want to add a link there too

[2020-05-06 16:38] stephorkandatx commented on #8714
Accidentally closed this - we will validate this work today

[2020-05-06 16:41] sonntag-adam commented on #8003
https://dsvavsp.testrail.io/index.php?/runs/view/344&group_by=cases:section_id&group_order=asc

[2020-05-06 16:42] joanneesteban commented on #5628
@1Copenut Hi! I contacted ForeSee and they appear to have fixed the issue on their end. I received the following message:

I was able to do the same on my end. Can you confirm on your end? I'll close the issue with ForeSee when I get your confirmation. Thanks!

[2020-05-06 16:43] ksantiagomorgan6 commented on #8228
pull request:

https://github.com/department-of-veterans-affairs/vets-website/pull/12525

[2020-05-06 16:44] annaswims opened #8813 "Limit polling from vets-website"
## User Story or Problem Statement
on http://localhost:3001/track-claims/your-claims  [vets-webisite polls](https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/applications/claims-status/actions/index.jsx#L152) every 5 seconds, with no limit to the number of calls.  When vets-api is functioning well, this is perfectly acceptable, but should there be a time where our side

[2020-05-06 16:47] lenaecb commented on #8553
@narin - I was looking with our test acct for Judy Morrison. Here's a screenshot of Past Appt for VVC ![Screen Shot 2020-05-06 at 12.46.14 PM.png](https://images.zenhubusercontent.com/5e41a7217d1a39827f6e83fe/702246f2-4b19-4dd2-b023-b208d9797588)

[2020-05-06 16:48] jonwehausen commented on #7199
Reopening once more for phase 2 QA.

[2020-05-06 16:49] #8449 closed

[2020-05-06 16:49] joanneesteban opened #8814 "Update our Monthly Reporting Automation"
## User Story or Problem Statement
As DEPO, I need to have updated monthly VA.gov metrics so I can easily report VA.gov's successes.

## Goal
Create separate Domo reports for each recurring monthly request so that we can

## Objectives or Key Results this is meant to further
Customers use qualitative and quantitative user data to build and iterate on VFSs.

---
## Tasks
- [ ] Create an automated V

[2020-05-06 16:49] #8469 closed

[2020-05-06 16:50] annaswims commented on #8813
@rianfowler I wrote this up as a specific issue for the BAM team, but I'm wondering if maybe this should be a VSP FE tools issue to make sure all the polling that vets-website does has some sort of limit.

[2020-05-06 16:51] luke-gcio opened #8815 "[Development] Original Claims: Determine Original Claims Based on Claims Status"
## User Story or Problem Statement
~The front-end user object should be pre-loaded with some parameter that indicates that the claim is an original claim.  We have determined that using the fact that BIRLS or CorpDB IDs exist is not sufficient.  Therefore, it is suggested we use one of the Claims Status endpoints on user object generation to~ The backend will call EVSS and determine whether there

[2020-05-06 16:53] jbalboni commented on #7951
[code]

and

[code]

[2020-05-06 16:55] beeyayjay commented on #8389
Meeting resulted in resolution of categorization issue. Updated whimsical to reflect decision: https://whimsical.com/6BS5uYwmWgF7YMBQ9tDz5F

Submitted pr to update pdf in github.

[2020-05-06 16:57] sanlouise commented on #8753
Source of truth: `applications/personalization/account/components/TermsAndConditions.jsx`

When `mhvAccount.accountState === 'needs_terms_acceptance' ` we render the following text (roughly - copied from source JSX)

Want to use VA.gov health tools to do things like refill your VA prescriptions?

To get started, you'll need to read and agree to the Terms and Conditions for Medical Information. Thi

[2020-05-06 16:59] joanneesteban commented on #8814
# Additional Info

- Ensure each report is titled with "VA.gov" metrics and the month they are referring to. Each report goes to a different audience, but essentially all show the "success" or "performance" of VA.gov.
- Enable an easy way to add annotations or summary that Insights can easily edit to explain the latest metrics
- Think of potential other metrics that show the success of VA.gov, inc

[2020-05-06 17:00] beeyayjay commented on #8373
Governance doc created, reviewed by CMS team, added to github, and discussed w/ @jenniferlee-dsva .

Remaining tasks: Review and merge Jen's suggested changes.

[2020-05-06 17:00] jholton commented on #8812
cc: @wyattwalter @gunsch

[2020-05-06 17:01] luke-gcio opened #8817 "[Design] BDD: Changes to Messaging/Gating for < 90 Days from Separation"
## User Story or Problem Statement
We were told that a BDD claim that ends up starting or being submitted < 90 days from separation date will put the service member into the "quick start" lane for 526.  This is no different than an Original Claim at that point. However, there should be some messaging changes and this gating should be captured in the design.

Suggested messaging would need to be in

[2020-05-06 17:05] luke-gcio opened #8818 "[Development] BDD: Changes to Messaging/Gating for < 90 Days from Separation"
## User Story or Problem Statement
We were told that a BDD claim that ends up starting or being submitted < 90 days from separation date will put the service member into the "quick start" lane for 526. This is no different than an Original Claim at that point. However, there should be some messaging changes and this gating should be captured in the design.

Suggested messaging would need to be in

[2020-05-06 17:05] 1Copenut opened #8819 "VSP Accessibility feedback on GIBCT Estimate Your Benefits [Usability Testing Prep]"
* I think the estimated benefits drawer should be a `<button> + <div>` that shows/hides a regular accordion. It should have a few key ARIA attributes:
  * `aria-expanded="false || true"`
  * `aria-controls="UNIQUE_ID"` The unique ID should be associated with the div of benefits.
  * `aria-controls` should only appear when the drawer is open, otherwise it should be a **null** value or we'll get an

[2020-05-06 17:08] sonntag-adam commented on #8771
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/48804582/81206814-a38ec600-8f9a-11ea-8682-423744ffe2a2.gif)

[2020-05-06 17:09] beeyayjay commented on #8389
PR: https://github.com/department-of-veterans-affairs/va.gov-team/pull/8816

[2020-05-06 17:09] amyknox commented on #8447
82% completing form on "desktop"

[2020-05-06 17:09] patrickvinograd opened #8820 "SSOe sign-in should handle multi-value mhvien, edipi attributes"
While investigating a test user who could not log in, I observed that the `va_eauth_mhvien` value that we received in the SSOe SAML assertion had a comma-separated multi-value `16951101,16951101`.

I checked with Damien from IAM and:
1) that's something that's generally possible for both this value and the edipi value, so our code should be robust to it.
2) If it occurs and there are two different

[2020-05-06 17:10] ccruzgra commented on #8445
Designing draft for desktop environments as desktop users comprise a large portion of the user base for the 1995.

[2020-05-06 17:12] #8016 closed

[2020-05-06 17:15] stephorkandatx commented on #7095
"blocked" until we enter launch

[2020-05-06 17:19] stephorkandatx commented on #8267
The remaining item is in Drupal, and would be a content change. @beeyayjay to confirm

[2020-05-06 17:25] dneel-bah opened #8821 "CT-EYB: Adjust mobile behavior on answer field focus."
As a user, I need to research and implement a solution if possible to adjust the behavior on mobile devices when answer fields are focused in order to avoid the jarring jumping behavior that is currently exhibited.

## Assumptions:
1. If there is a solution, this work is completed behind a feature flag #7780.
2. If there is no viable solution, documentation is provided outlining the issues that pr

[2020-05-06 17:26] #8753 closed

[2020-05-06 17:27] luke-gcio opened #8822 "[Bug] 526: Continued Use of the Same Transaction ID Over Several Days"
## User Story or Problem Statement
During our call with EVSS, they mentioned that a large file was causing a failure on their end.  Although this is an issue, this ticket is intended to solve/determine why the same Tx ID was being used for all of the submissions even though it was over at least a 24 hour period.  The expected behavior will use a different Tx ID each time the user logs in.  This ti

[2020-05-06 17:34] beeyayjay commented on #8267
It is a content change. It can be edited from benefits hub page in the "Right Rail" section in the right rail or by editing the content directly  (content type: Support Service).

[2020-05-06 17:34] 1Copenut commented on #5628
@joanneesteban I tried the Foresee modal out with Firefox, since Chrome's my daily driver. I was able to recreate the issue when I had my browser zoomed it to 300% at 1280px width, so I'm not sure if the issue is closed or not. I was looking on Staging rather than prod. Can you send me a screen shot of your test? That should give us a definitive answer.

Thank you!

---
![Screen Shot 2020-05-06 at

[2020-05-06 17:41] #8707 closed

[2020-05-06 17:44] luke-gcio commented on #7927
We created a ticket for sprint 21.  The idea is to use the claims status to determine if they have ever filed a claim before.

[2020-05-06 17:44] #7927 closed

[2020-05-06 17:45] #8506 closed

[2020-05-06 17:46] sonntag-adam opened #8823 "CT-EYB MOBILE: Top of accordions are opening out of view."
Steps to reproduce:
On a mobile device: With Your Benefits accordion open, scroll it past the top of the screen then open a different accordion. The top of the newly opened accordion “appears” off the top of the screen.

The Fix:
Top of accordion should reposition no higher than the top of viewport when opened. (Set focus on the accordion button)

![ezgif-4-603bf5feb7a8](https://user-images.github

[2020-05-06 17:48] leahkeeler commented on #7879
Not needed per updated design

[2020-05-06 17:48] #7879 closed

[2020-05-06 17:49] #6216 closed

[2020-05-06 17:51] leahkeeler commented on #5697
Already done in forms documentation

[2020-05-06 17:51] #5697 closed

[2020-05-06 17:54] ncksllvn commented on #8738
![image.png](https://images.zenhubusercontent.com/59cb9de1b0222d5de47953d8/8f8af0af-a196-43a0-a296-6e69d68a3ce3)

CC: @kelsonic

[2020-05-06 17:54] luke-gcio commented on #8625
Related to https://github.com/department-of-veterans-affairs/va.gov-team/issues/8815

[2020-05-06 17:57] stephorkandatx commented on #8390
Note: we have a dependency on the lighthouse team, to complete this

[2020-05-06 18:04] stephorkandatx commented on #8275
This may be Drupal - can we have FE take a look to see where the error is being generated?

[2020-05-06 18:06] jonwehausen commented on #7336
cc: @ethanteague @kelsonic @bsmartin-ep

Per conversation with Ethan over Slack this morning, there was a design decision to steer away from the expandable / collapsible nav features and instead the "child" navigation components will automatically be exposed when the page renders.

**Therefore, we no longer need events for `nav-sidenav-dropdown-expand` and `nav-sidenav-dropdown-collapse`**.

We wi

[2020-05-06 18:07] leahkeeler commented on #5701
Closed - already documented in forms doc

[2020-05-06 18:07] #5701 closed

[2020-05-06 18:08] #7490 closed

[2020-05-06 18:11] bsmartin-ep commented on #8747
@marriej -

Sorry for the delay in getting back to you.

1. How many times do users authenticate during a session?

For modernized logins, we have events we can examine to determine a conversion rate:

System | Login Attempt | Login Success | Conversion Rate
-- | -- | -- | --
ID.me | login-attempted-idme | login-success-idme | login-success-idme / login-attempted-idme
MHV | login-attempted-mhv | l

[2020-05-06 18:12] mshea0606 opened #8824 "[Design] - Create Upated Account Settings mock based on T&C ticket findings"
## Backrground
An updated design mock is needed to reflect the "terms and conditions not accepted" state

See ticket: [[FE] Investigate existing functionality for Terms & Conditions on Account page #8753](https://github.com/department-of-veterans-affairs/va.gov-team/issues/8753)

Links: /health-care/medical-information-terms-conditions

## Tasks:
- [ ] Create updated design mock for new T&C state

[2020-05-06 18:13] stephorkandatx commented on #8773
Actionable after L4+ proposal solidified

[2020-05-06 18:14] ndsprinkle opened #8825 "[Development] BDD: Roll out to staging"
## User Story or Problem Statement
BDD MVP development work has been created, but only exists in a custom BDD branch and is only available locally. BDD needs to be deployed to staging for testing, but is not ready to be deployed to production.

## Acceptance Criteria
- [ ] BDD branch is merged into master
- [ ] BDD is available in staging

[2020-05-06 18:18] camerontesterman opened #8826 "Create a Forward Proxy for MDT"
## User Story or Problem Statement
As a backend developer, I need a forward proxy setup for the Medical Device Ordering Tool. The partner service is hosted by the Denver Logistics Center, the endpoint we will be connecting to is below:

https://vaww.dalctest.oamm.va.gov:9443

## Goal
Forward proxy setup for DLC's API

## Objectives or Key Results this is meant to further
Will allow BAM2 to move fo

[2020-05-06 18:18] luke-gcio opened #8827 "[Development] HLR: Update FE Based on Final Design"
## Description

"Fiinal" HLR design includes some content updates along with making the contact information page completely read-only. The user will not be able to change their address from within this form.

Design: https://vsateams.invisionapp.com/share/W5U21BDFTQK#/screens/404075470

## Tasks

- [ ] Make each page of the form match the design

## Acceptance Criteria

- Form matches the design

[2020-05-06 18:20] cvalarida opened #8828 "CMS export cache in S3"
## Problem Statement
When the content build fails while using `--use-cms-export`, we should fall back to using the latest known-good version.

**Note:** This is only needed while application assets and content are deployed in the same job. If these artifacts are deployed separately, we probably don't need to cache in S3 anymore.

---
## Tasks
- [ ] Modify `script/drupal-aws-cache.js` to cache the

[2020-05-06 18:21] kelsonic commented on #8642
Could you tag me when the meta description is ready for implementation @AnneHurley? 🙂

[2020-05-06 18:26] jason-gcio opened #8829 "Profile Data Component for the Veteran Information Page"
## Description
For some fields, we want to share that info for the Veteran to review it, and not update it.  The ultimate intent here is to allow the Veteran to correct it via the phone number if need be.

## Considerations
- We allow the Veteran to continue on if that information is incorrect
- VA file number needs to come from somewhere
- If you are missing a Participant ID or a SSN, you cannot

[2020-05-06 18:28] ncksllvn commented on #8683
This is related to some CMS work "behat" testing -  https://dsva.slack.com/archives/CDHBKAL9W/p1584629696241100 

[2020-05-06 18:28] kelsonic commented on #8275
![image](https://user-images.githubusercontent.com/12773166/81214398-067d5e80-8f95-11ea-81eb-4a0774892117.png)

Current hypothesis is that this is a CMS content-entry issue. @RLHecht let me know if updating the CMS doesn't resolve this and we can re-investigate 🙂

[2020-05-06 18:31] AnneHurley commented on #8642
Meta tag headline: Find A Yellow Ribbon School | Veterans Affairs
Meta description: TBD TBD

[2020-05-06 18:32] lwalsh617 commented on #8090
Here's a link to a Slack thread in which Jen provided some clarification around dev-related feedback:
https://dsva.slack.com/archives/D013C0CJ0AY/p1588786425001500

[2020-05-06 18:32] #8216 closed

[2020-05-06 18:32] #8164 closed

[2020-05-06 18:36] #8446 closed

[2020-05-06 18:37] jonwehausen commented on #7199
### QA Part 2 - Search Functionality (in progress)

Description of Interaction | Screenshot | Status | Notes
------------ | ------------- | ------------- | -------------
Searching with the following parameters: <br> - **School name**: birmingham <br> - **State or territory**: Alabama <br> - **City**: None given <br> - **Each checkbox clicked** | ![image](https://user-images.githubusercontent.com/4

[2020-05-06 18:37] jenniferlee-dsva commented on #8090
The items that she mentions above are component issues are not items we can fix for this. Accessibility needs submit those as global issues to be fixed at the component level in the  Design System. @lwalsh617 @stephorkandatx

The heading "Mark your calendar" is an h3, but is not preceded by an h2 — on both Contested Claims and Fiduciary Claims. `(component issue)`

[2020-05-06 18:40] patrickvinograd commented on #8305
Good catch. But if you follow that controller inheritance back, you'll see that it inherits from OpenidApplicationController, i.e. it's protected by the Lighthouse OAuth mechanism instead of by typical VA.gov sign-in.

OAuth is not getting integrated with SSOe, and hence will not have to deal with inbound SSOe, and hence will not have users without an email address. So we're good on that front.

[2020-05-06 18:48] jason-gcio commented on #8829
![Info-Review](https://user-images.githubusercontent.com/53826255/81216223-97116a00-8fa8-11ea-83b2-65f5c72a53c2.JPG)

[2020-05-06 18:53] #2664 closed

[2020-05-06 18:53] #3473 closed

[2020-05-06 18:54] #3482 closed

[2020-05-06 18:55] sonntag-adam opened #8830 "CT-EYB: Validation does not prevent the recalculation from occurring"
Steps to reproduce:
1. Navigate to https://staging.va.gov/gi-bill-comparison-tool/profile/11929140
2. Expand Learning format and schedule accordion
3. Enter in an invalid postal code
4. Expand Tuition and fees per year and modify amount so we can recalculate
5. Expand Learning format and schedule to see the validation error is still there
6. Select Calculate benefits
7. Observe calculation still o

[2020-05-06 18:55] #6499 closed

[2020-05-06 18:56] RLHecht commented on #8275
These anchor links have been fixed in Drupal on both pages and they work in preview. The anchor links that were in there weren't matching what the H2 tags were. It's possible the H2s changed after the anchor links were put in or they were never typed in right originally when I created them. Moving to validate and will close once on the live site.

[2020-05-06 19:00] delli-gatti-michael opened #8831 "CT-EYB: "About your school" questions out of order"
## Summary
For schools in the comparison tool, there are several fields used to calculate benefits. These fields are divided into sections. One of these sections is "About your school". Two of the questions in this section are out of order.

![Screen Shot 2020-05-06 at 2 45 52 PM](https://user-images.githubusercontent.com/45575003/81217288-59addc00-8faa-11ea-9f45-ece355b5a84c.png)

## Steps to Rep

[2020-05-06 19:01] jenstrickland commented on #8090
Those issues are already ticketed as component level issues and assigned appropriately. Some are exclusive to the CMS template components, though, and will be the responsibility of Public Websites.  All are already ticketed.

[2020-05-06 19:03] mr0sari0 opened #8832 "Veteran is Deceased UI"
## User Story

As a Veteran who is not able to start the form due to being deceased, I should see the [UI designed for this scenario.](https://vsateams.invisionapp.com/share/6MVTG94WNH5#/screens/409068827)

## Tasks

- [ ] Wait for VSP to implement functionality to display custom design for 404 errors
- [ ] Implement the corresponding code in our form

[2020-05-06 19:09] mr0sari0 opened #8833 "Veteran Can't Reorder Items At This Time UI"
## User Story

As a Veteran who is not able to reorder items at this time, I should see the [UI designed for this scenario.](https://vsateams.invisionapp.com/share/6MVTG94WNH5#/screens/409233432)

## Tasks

- [ ] Wait for VSP to implement functionality to display custom design for 403 errors
- [ ] Implement the corresponding code in our form

[2020-05-06 19:13] mr0sari0 opened #8834 "Veteran's Records Aren't In The DLC's System UI"
## User Story

As a Veteran whose records are not in the DLC's system, I should see the [UI designed for this scenario.](https://vsateams.invisionapp.com/share/6MVTG94WNH5#/screens/409462681)

## Tasks

- [ ] Wait for VSP to implement functionality to display custom design for 403 errors
- [ ] Implement the corresponding code in our form

[2020-05-06 19:14] jonwehausen commented on #7336
### QA Left Nav - Part 2

cc: @kelsonic @ethanteague @bsmartin-ep

Description of interaction | DL Screenshot | Tag Screenshot | Test Status | Notes
------------ | ------------- | ------------- | -------------  | -------------
Click on a left nav item that is not indented | ![image](https://user-images.githubusercontent.com/48527022/81216051-426def00-8fa8-11ea-8603-965728ca7903.png) | ![image](htt

[2020-05-06 19:19] mr0sari0 opened #8835 "Address Page- Remove Radio Button On Permanent Address If There Isn't A Temporary Address"
## User Story

As a Veteran who does not have a temporary address on file and has not added one yet, I should see the [UI designed for this scenario.](https://vsateams.invisionapp.com/share/5SX6G45PY7J#/screens)

## Tasks

- [ ] Implement code that conditionally hides the radio button on the permanent address button

[2020-05-06 19:22] Samara-Strauss opened #8836 "[IA] Logged-in homepage: Investigate how banners/alerts work on the logged out homepage and in the navigation"
## Background

We will need to consider some of the elements of the global UX in the new logged in homepage, namely how banners and alerts work. This is necessary so that what we design does not conflict with any existing global features.

**5.13.20 From Ryan Thurlwell**

Re: how global alert banners will be changing:

When I asked about whether they decided not to make alerts collapsible, Ryan sa

[2020-05-06 19:24] mr0sari0 opened #8837 "Address Page- Update Unit Tests"
## User Story

As a Veteran on the address page, I should have the expected functionality and UI for my particular situation ensured by unit tests.

## Tasks

- [ ] Update or add unit tests needed for the address page scenarios

[2020-05-06 19:27] jason-gcio opened #8838 "Profile Data Component for Gating the 686 Progression"
## Description
We want to perform eligibility for the Veteran before they continue on to the 686 application, VA File number is the first thing to check for.  Eventually, there needs to be a check for 30%+ total combined disability rating, but that can wait until after launch.

## Tasks
- [x] As seen in [this mockup](https://xd.adobe.com/view/057055ba-4c2b-4367-667b-7d7034cb43b4-7341/) messaging w

[2020-05-06 19:27] Samara-Strauss opened #8839 "[Discovery] Logged-in homepage: Final synthesis"
## Background

We need to put together a final discovery synthesis that summarizes the most important findings from the stakeholder interviews, user research, comparative analysis, and analytics review. We also need to make any final recommendations we have about how to approach this project.

## Tasks

- [x] Determine high level recommendations.
- [x] Create outline for report.
- [ ] [Write and i

[2020-05-06 19:28] mr0sari0 opened #8840 "Batteries Page- Create Unit Tests"
## User Story

As a Veteran on the batteries page, I should have the expected functionality and UI for my particular situation ensured by unit tests.

## Tasks

- [ ] Add unit tests needed for the battery page scenarios

[2020-05-06 19:31] mr0sari0 opened #8841 "Accessories Page- Create Unit Tests"
## User Story

As a Veteran on the accessories page, I should have the expected functionality and UI for my particular situation ensured by unit tests.

## Tasks

- [ ] Add unit tests needed for the accessory page scenarios

[2020-05-06 19:38] sanlouise commented on #8752
@mshea0606 Could you validate this ticket? Thank you!

[2020-05-06 19:41] dneel-bah opened #8842 "CT-EYB: Update accordion and question spacing to improve layout."
As a developer, I need to improve the spacing with the accordions and questions on the profile page so that the readability of the form is improved.

## Assumptions:
1. This work is completed behind a feature flag #7780.
2. Pixels are used in the AC of this story; if the css uses EM instead, use the corresponding EM value and specify in the notes.
3. The numbers available in sketch represent paddi

[2020-05-06 19:42] leahkeeler opened #8843 "Debt Letters - Frontend API Integration"
## User Story or Problem Statement
As a  veteran who has incurred debt I receive debt letters in the mail. I would like to be able to see the information online @ va.gov so i can understand the source of the debt, the amount of the debt and what my options are for payment or any other remediation I can take.

## Goal
_Ability to display the information the veteran received in mail online from DMC

[2020-05-06 19:43] jonwehausen commented on #7199
### Google Analytics Update
cc: @bsmartin-ep

 - Added `city`, `state`, `contributionAmount`, `numberOfStudents` as parameters to both Non-Prod and Prod properties 'Exclude URL Query Parameters' in the following GA views:
   - All VA.gov Website Data [Production]
   - Education Modernized View
![image](https://user-images.githubusercontent.com/48527022/81220824-f32bbc80-8faf-11ea-9c79-81149d850974

[2020-05-06 19:43] mr0sari0 opened #8844 "Batteries Page: Add Prescribed Date From Endpoint"
## User Story

As a Veteran who is ordering batteries, I should see my prescribed date on each battery box.

## Tasks

- [ ] Implement data property in batteries page

[2020-05-06 19:43] #8689 closed

[2020-05-06 19:51] sanlouise commented on #8755
@mshea0606 Could you please validate this ticket? Thank you!

[2020-05-06 19:53] andaleliz commented on #7266
@Samara-Strauss meant to bring this up in planning today - we didn't discuss desktop and/or mobile for this. I've been asking folks to submit desktop screenshots primarily, mobile if they have extra time. But thinking this write up will be focused on desktop views. How does that align with what you were thinking?

[2020-05-06 19:57] lenaecb commented on #7951
@lalexanderson-dsva - I am confirming a few open Qs on how Virtual Care Manager (VCM) is used to booked VVC appointments, and more specifically, how they use the this instructions field.

The specific instructions that get returned are above. The first one is for general video appt preparation. The second is for medication review. Video visit appts can be returned with or without instructions. If

[2020-05-06 19:59] leahkeeler opened #8846 "[Frontend] Debt Letters - Component to display mock data"
## As a FE dev I will need to integrate API data to display on web page to veteran. In order to do this I need to create a component to display mock data

---
## Tasks
- [ ] _Create component for mock data to integrate with API under development  _

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Mile

[2020-05-06 20:00] peggygannon commented on #8229
Hi, @tressaellen am beginning to take a look at these now. And I have some followup questions:

1. I only need to recommend new header and first 2 lines of copy for the email content?  should  ignore the boxes with the red outline at top of issue?

2. and if you need recommendation on the first line or two of the content. Is the rest of the content in the blue box correct?

3. Will this email head

[2020-05-06 20:02] annaswims commented on #8676
The [default behavior of sidekiq ](https://github.com/mperham/sidekiq/wiki/Error-Handling#automatic-job-retry)is to retry failed jobs 25 times, with an exponential backoff, over roughly 20 days.  In a lot of cases that seems excessive and I think we should set `max_retries`

[2020-05-06 20:04] RLHecht commented on #8637
@AnneHurley This page is now built in Drupal, but the newer 2020 rates seem to have more tables on the legacy page than the 2019 page did, which means we need to add more information to our page as well. Would you be able to do this? Also, we have a note under the intro about three new programs that will go into effect after August 2018, so I think that all needs updating too.

Drupal page: previe

[2020-05-06 20:07] mshea0606 opened #8847 "[FE]- Show a more specific error message when we cannot initialize somebody in VA Profile"
## Background
Related ticket : [https://github.com/department-of-veterans-affairs/va.gov-team/issues/6012](https://github.com/department-of-veterans-affairs/va.gov-team/issues/6012)
Related ticket: #9353

[Slack Convo](https://dsva.slack.com/archives/C909ZG2BB/p1588797312090200?thread_ts=1588795690.086000&cid=C909ZG2BB)

##Content

We can’t load some of your information

We're sorry. We can’t load

[2020-05-06 20:10] joanneesteban commented on #5628
Hey @1Copenut , you're right. I tried recreating again in Chrome and prod and I'm still getting this issue. I'll follow up with ForeSee.

![image](https://user-images.githubusercontent.com/48964695/81223445-fcb72380-8fb3-11ea-8989-cebd164b6cc8.png)

[2020-05-06 20:11] peggygannon commented on #8565
@ala-yna @psanders86 checking in to see if you have any additional questions about my VSP feedback?

If not, can you let me know when I'll be able to see an updated mockup?

thanks!

[2020-05-06 20:11] Samara-Strauss commented on #6012
Update: We were able to talk to the veteran today. I've created a ticket in our sensitive (private) repo to track our investigation.

https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/issues/101

@Kimberley2019 if we don't hear back form anyone else within a few days, we can close this issue and pursue the investigation in other tickets.

[2020-05-06 20:13] joanneesteban commented on #8756
Google Analytics access revoked.

[2020-05-06 20:14] Samara-Strauss commented on #7532
We can leave this open for now, but we are specifically looking into an issue with initializing VA profile here Ihttps://github.com/department-of-veterans-affairs/va.gov-team-sensitive/issues/101

[2020-05-06 20:14] rtwell commented on #7951
it does seem like that copy could be improved…a lot. I vote to improve!

[2020-05-06 20:15] 1Copenut commented on #5628
@joanneesteban Thank you for confirming. LMK if I can help retest later.

[2020-05-06 20:18] jonwehausen commented on #6830
Hi @bsmartin-ep ,

Great question! Let's move forward with option 2 you laid out.

Mirror the structure contained for primary button for default button.

Thank you sir!

[2020-05-06 20:23] Samara-Strauss commented on #7266
I think this is OK. The more we can get, the better, but we can probably extrapolate mobile patterns from desktop views.

[2020-05-06 20:28] RLHecht commented on #8639
This page had been brought into Drupal previously. Node ID listed above in checklist. I updated two links to point to the GI Bill Comparison Tool instead of the outdated legacy pages.

[2020-05-06 20:29] psanders86 commented on #8565
Thanks! No questions on my end -- we are presenting findings to the program team tomorrow afternoon, and then we'll do the deck after they sign off and post here.

[2020-05-06 20:33] short000 commented on #8598
post-review, we have also added a wish list (backlog candidates)

[2020-05-06 20:43] rileyorr opened #8849 "[Design] Iterate on address selection screen for when only a permanent address is displayed"
## User Story or Problem Statement
When a Veteran only has a permanent address being passed through the API, there is only one radio button to select. This goes against convention, so we need a design to account for that. How might we update the card's design to align with UI best practice?

## Goal
_For the designers and frontend engineers to come up with a solution to display one address being p

[2020-05-06 20:55] micahchiang commented on #8794
Folding this into #8774 since the work here is fairly trivial.

[2020-05-06 20:55] mr0sari0 commented on #8312
Making a new ticket to update content on these pages

[2020-05-06 20:55] #8312 closed

[2020-05-06 20:57] tressaellen commented on #8229
HI @peggygannon , thanks for taking the time to look at this.

1. Yes - just ignore the boxes with the red outline at the top.  We just need messaging for the header and then a line or two basically explaining that the email address listed is for contact purposes only and changing this will not change the users log in email.

2.  The rest of the content is pulled directly from the previous mocks,

[2020-05-06 20:58] jbalboni commented on #7951
Instructions show up in VCM (i.e. the staff view) for a particular appointment:

![Screen Shot 2020-05-06 at 4.56.48 PM.png](https://images.zenhubusercontent.com/599c94608f62dc7798c3b2cd/e4f7ae2a-7e26-45d3-aea5-68eb31874d4e)

[2020-05-06 21:00] peggygannon opened #8850 "Content review: Yellow Ribbon tool (staging)"
## User story
As recipient of GI Bill benefits, I need to know if the school I'm interested in is part of the Yellow Ribbon program.

This ticket captures VSP content feedback  Yellow Ribbon tool in staging.

Staging link: https://staging.va.gov/education/yellow-ribbon-participating-schools/

## Acceptance criteria
- [x]  Peggy provides content feedback for Yellow Ribbon tool
- [x]  Public website

[2020-05-06 21:04] stephorkandatx commented on #8094
I'm going to close this as a dupe, but will add a reference to #8276's comments in the event we need to pull it back

[2020-05-06 21:04] #8094 closed

[2020-05-06 21:05] stephorkandatx commented on #8276
Note: we closed #8094 as duplicate content of this ticket

[2020-05-06 21:08] stephorkandatx opened #8851 "Remove the "My" from all VA311 references in the right rail section of benefit hub pages"
In a review, we were informed by the VA311 team that there was a change to move away from using "MyVA311" and to just use "VA311".

## Goal
- Find and update any instances of "MyVA311" to instead read as "VA311" on the site. We have removed some references already, but need content update to remove from the benefits hub page in the "Right Rail" section in the right rail or by editing the content d

[2020-05-06 21:09] stephorkandatx commented on #8267
Thank you @beeyayjay for checking! I have created #8851 to capture the content part of this ticket. I have validated the other change made by FE so will close this out

[2020-05-06 21:09] #8267 closed

[2020-05-06 21:11] jenniferlee-dsva commented on #8389
Per PR comment @beeyayjay - I'm uploading your PDF with annotations here. LMK if a call would be helpful. Also - for your purposes, instead of the outdated mockups, could you diagram/map to copydeck?   If updated mockups are needed, this task may be blocked until I get a ticket to get designer to update mockups with latest iterations.

[va-forms-cms-content-model-jl-may6-2020.pdf](https://github.c

[2020-05-06 21:12] mshea0606 opened #8852 "Investigate increased Error rate on Direct Deposit"
## Background

We are still seeing a pretty high error rate for the "Other" errors for direct deposit even since the EVSS issue from last week was resolved.

[Direct Deposit Analytics](https://analytics.google.com/analytics/web/?authuser=0#/dashboard/T7daIpzoRw2LOg1BVHJ0Dw/a50123418w177519031p187673796/_u.date00=20200430&_u.date01=20200506/)

"Other" errors are normally in single digits. Here are

[2020-05-06 21:21] RLHecht commented on #8636
5/6 update: Currently building page in Drupal from Github.

[2020-05-06 21:28] peggygannon commented on #8675
This looks good from VSP content side. No additional feedback.

[2020-05-06 21:29] stephorkandatx commented on #7790
@kelsonic and/or @ncksllvn is there a tech debt item here or https://github.com/department-of-veterans-affairs/va.gov-team/issues/7366 that you would want to do for this sprint?

[2020-05-06 21:31] DanielleThierryUSDSVA opened #8853 "Caregiver program application: Make it possible to turn off application access as needed"
# User story

As a caregiver program stakeholder, I need to be able to have the online 10-10CG application form and related button on the Program of Comprehensive Assistance for Family Caregivers "turned on/off" to: a) support a "dark release" of the form, and b) allow flexibility after full release.

# Details

We need to work out a way to address the need to be able to quickly "turn off" the app

[2020-05-06 21:33] jbalboni commented on #8553
I think this is the list of VVS statuses: https://coderepo.mobilehealth.va.gov/projects/CSS/repos/mobile-appointment-service/browse/src/main/resources/video-visits_v2.json?at=refs%2Fheads%2FRelease%2F1.15#470

I asked Brad if this list was complete, he said it was as far as he knew.

[2020-05-06 21:33] jenniferlee-dsva opened #8854 "Update form detail landing page wireframes"
# Update form detail landing page wireframes

The mockups for the basic/generic and the custom form detail landing pages need to be updated to reflect the latest iteration in the forms search as well as changed content fields from the Drupal content modeling work.

__Current version is v.7:__
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/find-va-forms-redesign/

[2020-05-06 21:36] leahkeeler opened #8855 "[Frontend] Debt Letters - Create Redux actions/Reducers to wire up new component"
## User Story or Problem Statement
As A FE dev I need to create redux actions to wire up new components to display debt data contained in API response

---
## Tasks
- [ ] _Create redux actions/reducers to wire up new component

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will thi

[2020-05-06 21:39] stephorkandatx commented on #8683
I am closing this, Kevin Walsh on CMS team is tracking this issue forward

[2020-05-06 21:39] #8683 closed

[2020-05-06 21:43] 1Copenut opened #8856 "[SCREENREADER]: Additional Information - VoiceOver MUST set focus correctly when the component is toggled"
- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

VoiceOver on MacOS is setting focus incorrectly when we toggle the `AdditionalInfo` component open. Animated GIF attached below.

## Point of Contact

**VFS Point of Contact:** _Trevor_

## Acceptance Criteria

- [ ] VoiceOver moves focu

[2020-05-06 21:45] lenaecb commented on #8553
So, the same as the original Vista statuses list. I wonder if you can have these strange combos with VVS appts as your can with other appts.

[2020-05-06 21:47] stephorkandatx commented on #8741
@andaleliz and @AnneHurley during testing, it was found that there is a difference in copy between what was in the designs and what is on staging for YR.
Can you take a look at what is on staging and what is in the designs and confirm which one should be considered the latest and greatest copy that should be launched? That will help determine how we resolve this issue. Thank you!

[2020-05-06 21:48] bsmartin-ep commented on #6830
Sounds good @jonwehausen.  A first pass...

https://tagmanager.google.com/#/container/accounts/144676348/containers/2214120/workspaces/1000286

Should we update the Event Actions from...

`Button CTA - {{Click Text}}`

to...

`Primary Button CTA - {{Click Text}}`
or
`Button CTA - Primary - {{Click Text}}`

[2020-05-06 21:52] stephorkandatx opened #8857 "Submit Education Pages Updates to SMEs for Review"
Tracking task to submit the education rates work (part of Epic #8591) to the appropriate SMEs
So that
We can ensure they are able to review proposed changes, provide feedback and the feedback is incorporated.

**Task**
When the Education Rates tickets are completed internally & reviewed by Danielle:
- [ ] Package with the Education pages and send to SMEs for review (all Education pages to go as 1

[2020-05-06 21:53] stephorkandatx commented on #8857
I will set up Dependencies to the tickets asap.
This ticket was created as a result of our discussion during sprint planning, as we discussed separating the submission to SMEs + the updates & publishing of changes from the rest of the work.

[2020-05-06 21:54] peggygannon opened #8858 "VSP content documentation updates"
Review current VSP content docs and guidance. Update and improve VSP content resources to better support VA.gov content teams that Platform supports.

@kristinagore
@gmaciolek

[2020-05-06 22:04] stephorkandatx commented on #8742
@kelsonic If you could take a quick look at this. I imagine that this is where, in reviewing the test cases + comparing to the staging experience, I missed that the test case said 12 instead of 22. Let's confirm the correct data number (for now) and we can determine if there is a bug or a situation to update test cases.

[2020-05-06 22:24] 1Copenut opened #8859 "[IMPROVEMENT]: Address Block - CONSIDER adding a component and structured data"
**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

Our [address block](https://design.va.gov/components/address-block) markup pattern would be a good candidate to be a component with structured data attached to it. This gives some additional SEO findability and co

[2020-05-06 22:42] #8527 closed

[2020-05-06 22:49] AnneHurley commented on #8677
Anne to:

- Reach out to Matt Self about adding a link to the YR tool to the GI Bill Comparison tool in right rail, and suggest a reordering of the current links if they are amenable
- Add the tool URL -- **www.va.gov/education/yellow-ribbon-participating-schools**  -- to all the pages in the checklist
@jenniferlee-dsva @stephorkandatx  FYSA

[2020-05-06 23:00] AnneHurley commented on #8637
@RLHecht  The page is updated: prod.cms.va.gov/node/5496/edit
A couple of things:
1. I moved the "Rates effective" and "all amounts in $ US" out of the first content section/table, because they apply to all the rates on the page. However, the font in the intro is giant. Should we move those 2 lines back inside the first table, and figure people will assume the dates and $ apply to everything on th

[2020-05-06 23:26] andaleliz commented on #8741
Staging is correct in terms of latest and greatest content. I've updated the designs to reflect these changes; sorry for the oversight and causing extra work!

Regarding the button, I intentionally kept the button to be sized for the content, just maintaining the padding on the sides. I believe that is what we do throughout VA.gov on buttons so I don't think we'll need custom CSS to accomplish tha

[2020-05-06 23:27] rroueche opened #8860 "Publish and maintain a priority matrix, to aid in coordination cross-team efforts"

[2020-05-06 23:30] rroueche commented on #3111
This is being handled now by the BE tools team, @alexpappasoddball could you make sure your definition of done, or "we'll know we're done when" for your SLO work includes the following:

- [ ] tracking of SLOs
- [ ] clear documentation
- [ ] process for holding VFS accountable
- [ ] presented across VA.gov
- [ ] SLO content worked into applicable collateral (like orientation, platform roadshow, et

[2020-05-06 23:38] rroueche opened #8861 "Design system and design governance direction, leadership support/guidance for forms library"

[2020-05-07 00:18] #2699 closed

[2020-05-07 05:54] SgardnerPMP opened #8862 "[CONTENT] Research and write remaining System Level "Health Service" Library descriptions and bullet points [CW]"
## User Story or Problem Statement
As a Veteran Web user, I need to have clear and correct health services descriptions, so I can get the appropriate level of support provided by the VA.

## Goal
_Efficient and clear content describing local Health Service provided_
_Reduce click through of pages for Veterans_

## Objectives or Key Results this is meant to further
- _Reduced click through of pages

[2020-05-07 05:54] SgardnerPMP opened #8863 "[CONTENT] Research and write remaining System Level "Health Service" Library descriptions and bullet points [CW]"
## User Story or Problem Statement
As a Veteran Web user, I need to have clear and correct health services descriptions, so I can get the appropriate level of support provided by the VA.

## Goal
_Efficient and clear content describing local Health Service provided_
_Reduce click through of pages for Veterans_

## Objectives or Key Results this is meant to further
- _Reduced click through of pages

[2020-05-07 06:16] narin opened #8864 "Map VAR Appointment Statuses to FHIR"
VAR/VistA appointments can currently have up to 25 different statuses as documented in [this spreadsheet](https://docs.google.com/spreadsheets/d/1BJ8FJTNDfiWjqhs-xIQ-nQaw6RXMxXdU2CV0EvCfJhI/edit#gid=1413660998).  Currently we hide these statuses or hide appointments completely based on these statuses.  FHIR only has 7 possible statuses:

* arrived
* booked
* cancelled
* fulfilled
* noshow
* pendin

[2020-05-07 06:18] narin commented on #8553
@jbalboni I've created a new ticket to handle the FHIR status mapping here (#8864)

[2020-05-07 10:55] sonntag-adam commented on #8003
@ccruzgra in staging.

[2020-05-07 11:22] #8358 closed

[2020-05-07 11:22] #8360 closed

[2020-05-07 11:22] #8091 closed

[2020-05-07 11:37] ala-yna opened #8865 "Refactor namespace for Caregivers form"
Refactor namespace for Caregivers form
To ensure that the frontend code is clean and in line with the schema and backend.

[2020-05-07 11:42] ala-yna opened #8866 "Start research on custom try again/error page"
## User Story

Given that only "verified" veterans can submit the online 10-10CG
I want to create a custom error page based on a lack of verification
To direct the user to submit via the paper form instead.

[2020-05-07 11:55] ala-yna opened #8867 "Update 10-10CG Form Schema with latest changes"
- Remove suffix form all names in 10-10CG
- Add "Unknown" as a gender for all persons on 10-10CG
- Remove country from all addresses in 10-10CG
- All enrollemnts are now required for 10-10CG
- Update secondaryCaregiver namespace to new format: secondaryCaregiverOne, secondaryCaregiverTwo

Relates to department-of-veterans-affairs/va.gov-team#7734, department-of-veterans-affairs/va.gov-team#8091

[2020-05-07 11:58] #8359 closed

[2020-05-07 11:59] ala-yna opened #8868 "Update PDF generation based on final form design"
Given that we now have a finalized design
I want to update the PDF generation tool
So that the correct PDF can be attached to applications and sent to CARMA.

[2020-05-07 12:04] ala-yna opened #8869 "Look up Veteran ICN number"
Given that only verified veterans can submit the 10-10CG
I want to take the information provided by the Veteran on the form
And use it to lookup an ICN number.

[2020-05-07 12:05] jsev-io commented on #8464
### On Call Work - Julian
## Access Requests
Oksana Cyrwus
Emily Subocz
## Pull Requests
- Revoke access for Keith Adkins
#6900
- add readme and requirements.txt to tag script
#6899
- Tag EBS volumes and ENIs attached to EC2 instances and Load Balancers
#6893
- Updating vagov-prod with ENI's and SG for DNS work
#6883
- Increase CMS volume size from 16GB to 250GB.  cms
#6880
- add cache-control to

[2020-05-07 12:08] ala-yna opened #8870 "Look up Veteran status based on ICN number"
Given that only verified veterans can submit the 10-10CG
I want to take the ICN found
And query MPI for Veteran status.

[2020-05-07 12:11] ala-yna opened #8871 "Send PDF of paper 10-10CG to CARMA"
Given that the CSCs processing PCAFC applications want to look at the filled out paper version of the form
I want to send a filled out paper version of the form to CARMA along with the form data itself
So that CSCs can have that information on hand.

[2020-05-07 12:14] ala-yna opened #8872 "Add new header to CARMA submission request"
Given that we need to be able to send form submission to CARMA
I want to ddd new header to CARMA submission request
So that submissions can be successful.

[2020-05-07 12:16] ala-yna opened #8873 "Connect to CARMA in Staging"
Given that we've been provided CARMA Staging credentials
I want to add CARMA staging credentials to build environment
So that we can send test submissions.

[2020-05-07 12:18] ala-yna opened #8874 "Complete payload validation testing"
Given that we want to test the VA.gov <--> CARMA connection
I want to complete payload validation testing
To test the connection.

[2020-05-07 12:21] ala-yna opened #8875 "Backend feature toggles for Caregivers"
Given that we want to be able to separately toggle
- Form can submit
- Form connection to CARMA
I want to build backend feature toggles
To ensure that testing and the dark release can run smoothly.

[2020-05-07 12:21] jsev-io commented on #8042
cc: @Jeff-Hayter

[2020-05-07 12:23] ala-yna opened #8876 "Finalize content and design for “try again/error” page"
Give that we need to build a custom "error" page for forms that could not be submitted
I want to finalize the content and design for that page
So that we can finish building it and show it to our stakeholders for approval.

[2020-05-07 13:12] leahkeeler opened #8877 "Create mock response functions to supply mock data to new components"
## User Story or Problem Statement
As a FE dev I need to be able to display data on page and mock API response

## Goal
_Create mock response to start FE work until betamocks from BE effort is available.

---
## Tasks
- [ ] _create mock response function for mock data

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ]

[2020-05-07 13:16] delli-gatti-michael commented on #7842
![Screen Shot 2020-05-07 at 9.14.36 AM.png](https://images.zenhubusercontent.com/5c07f000391a6f6357adc430/faa98d35-ba8c-482b-bedb-ba7df8be81fc)

---

![Screen Shot 2020-05-07 at 9.15.22 AM.png](https://images.zenhubusercontent.com/5c07f000391a6f6357adc430/6ad8475a-8d9c-4717-ae02-793c3b3598d2)

[2020-05-07 13:16] delli-gatti-michael commented on #7842
Local testing complete

[2020-05-07 13:18] lalexanderson-dsva commented on #7951
Strongly agree with @rtwell . This needs to be completely reworked.

[2020-05-07 13:23] amyknox commented on #7800
@CrystabelReiter - if you're ready for this story to close, we are too. =)

[2020-05-07 13:32] jonwehausen commented on #7336
## QA - Retest

Description of Interaction | DL Screenshot | Tag Screenshot | Test Status
------------ | ------------- | ------------- | -------------
Click on 'Locations' (parent of child) | ![image](https://user-images.githubusercontent.com/48527022/81300151-4ac83780-9045-11ea-839a-d6b766359012.png) | ![image](https://user-images.githubusercontent.com/48527022/81300407-9c70c200-9045-11ea-9fb5-6e

[2020-05-07 13:36] rileyorr commented on #8849
I've uploaded [the design](https://vsateams.invisionapp.com/share/6MVTG94WNH5#/416620566_C1_P2-_Only_Perm_Address_-_Radio_Will_Just_Be_A_Button) to InVision

[2020-05-07 13:43] CrystabelReiter commented on #7800
@amyknox Thanks for reminding me! Closed~

[2020-05-07 13:43] #7800 closed

[2020-05-07 13:45] jonwehausen commented on #7336
Per conversation with @ethanteague over Slack, a production release date for the left nav and analytics events has not been set. Team is waiting final approval and expecting a release week of May 11 - 15, will follow up next week with determining hard deployment date.

[2020-05-07 13:46] rileyorr opened #8878 "[Frontend] Implement UI changes on address selection screen for when only a permanent address is displayed"
## User Story or Problem Statement
When a Veteran only has a permanent address being passed through the API, there is only one radio button to select. This goes against convention, so we need a design to account for that. How might we update the card's design to align with UI best practice?

## Goal
_Implement UI changes the frontend engineers and designers collaborated on for the use case of one

[2020-05-07 13:48] sonntag-adam commented on #8771
In staging. Closing bug.

[2020-05-07 13:48] #8771 closed

[2020-05-07 13:50] jbalboni commented on #8710
This was the result of bad CDW data, which had duplicate site/clinic combinations coming back from the clinics service we call. Kevin Todd cleaned up the data and this appears to be working now.

We could add some defensive code to try to handle this better on the FE, but given that the bad data a pretty clear violation of the basic assumption we make about site and clinic ids, I think I'd rather

[2020-05-07 13:50] #8710 closed

[2020-05-07 13:52] sonntag-adam commented on #8228
Still occurs in staging

[2020-05-07 13:52] rileyorr commented on #8849
I created a [ticket for the frontend team to implement the new design](https://github.com/department-of-veterans-affairs/va.gov-team/issues/8878) and posted it in Slack for the team's awareness.

[2020-05-07 13:52] #8849 closed

[2020-05-07 14:00] jbalboni opened #8879 "Re-load page on chunk error"
Sometimes we get chunk errors, which happen when a user is using the app and deploy happens. We should reload the entire page when this happens, if we can properly catch the error.

I don't know where these errors would be thrown. Maybe from the promise called in the routes file?

Sentry: http://sentry.vfs.va.gov/vets-gov/website-production/issues/118312/?query=is%3Aunresolved%20source%3Avaos

[2020-05-07 14:04] jonwehausen commented on #7199
Per conversation with @stephorkandatx over Slack, yellow ribbon has now been scheduled for Thursday 5/14.

[2020-05-07 14:04] zurbergram commented on #8831
https://github.com/department-of-veterans-affairs/vets-website/pull/12556

[2020-05-07 14:23] dneel-bah opened #8880 "Full Accessibility & 508 Office Audit Comparison Tool Caution Flags Enhancements"
## Steps to complete the Full Accessibility & 508 Audit:
- [x] Product Manager: create issue and fill in feature name in the title and other bolded information appropriately
- [x] Practice area reviewers create sub-issues attached to this one with feedback for your team on *feature name*
- [x] **Requesting team** completes attached feedback tickets based on definition of done included in each prac

[2020-05-07 14:28] jbalboni commented on #8266
I haven't been able to reproduce this and I don't see any instances of it in two weeks, I'm going to close this.

[2020-05-07 14:28] #8266 closed

[2020-05-07 14:29] jbalboni commented on #8165
http://sentry.vfs.va.gov/vets-gov/website-production/?query=is%3Aunresolved+videoType

[2020-05-07 14:33] lenaecb commented on #7951
@peggygannon - We need some of your expertise to help us provide feedback to the Virtual Care Manager app team on these instructions that are provided to Veterans when they booked a video appointment.

Based on your guidance with copy here, I will follow up with the appt app team to have the copy updated.

[2020-05-07 14:35] kelsonic commented on #8742
I've confirmed via Postman that there are indeed 22 results for staging YR data, it should not be 12. This is not a bug and the API is behaving as intended 🙂

[2020-05-07 14:37] kelsonic commented on #8788
This is already implemented, closing:

![image](https://user-images.githubusercontent.com/12773166/81307544-05543c00-903e-11ea-8214-f0e68ebdbfe5.png)

[2020-05-07 14:37] #8788 closed

[2020-05-07 14:51] short000 opened #8881 "VSA Interface Control Document (ICD) Guidelines"
### User Story
As a back-end developer, I want to already know the questions both parties should be asking (either as a service or a client) when integrating between the system I am developing and external system(s) so that we don't have gaps or misses that are discovered late in the development process.

### Acceptance Criteria
[ ] Available as a GitHub document/template.
[ ] 75%+ review particip

[2020-05-07 15:01] desireeturner opened #8882 "CF: Update Caution Flag value for Ashford University Online"
As an EDU team member, I need the caution flag for Ashford University to display specific information so that Comparison Tool users are accurately informed when viewing the school profile.

## Assumptions:
1. This work is completed behind a toggle so that it is only available in the staging environment and below.

## Acceptance Criteria:
1. When the following caution flag is received

in the settl

[2020-05-07 15:03] zurbergram commented on #8882
https://github.com/department-of-veterans-affairs/gibct-data-service/pull/651

[2020-05-07 15:03] kelsonic commented on #8257
Whoops this is a find-forms a11y ticket, did you mean to make this when making the YR a11y tickets @jenstrickland?

[2020-05-07 15:04] kelsonic commented on #8257
Sorry, ignore my comment lol

[2020-05-07 15:08] delli-gatti-michael commented on #8831
#### Local testing complete

![Screen Shot 2020-05-07 at 10.17.47 AM.png](https://images.zenhubusercontent.com/5c07f000391a6f6357adc430/79d103b9-514f-4754-a8e2-61b731c56a74)

[2020-05-07 15:16] RLHecht commented on #8636
This page is now built in Drupal (preview link in checklist above): The rates have not changed for 2020 so no updates need to be made.

[2020-05-07 15:20] kelsonic commented on #8792
The desired behavior I've heard is that after searching, focus changes to search results header. When tabbing, however, you should be able to go to the items underneath the search button. Moving to validate as I believe this is moot: https://staging.va.gov/education/yellow-ribbon-participating-schools/

[2020-05-07 15:22] kelsonic commented on #8786
Form inputs do have labels, moving to validate: https://staging.va.gov/education/yellow-ribbon-participating-schools/

![image](https://user-images.githubusercontent.com/12773166/81312782-44858b80-9044-11ea-96e7-cb5df6cec3ff.png)

[2020-05-07 15:25] rianfowler commented on #8813
@annaswims probably VSP thing to do. There's a [polling helper](https://github.com/department-of-veterans-affairs/vets-website/blob/9ab4ce64d40646fd0934095919715dc71e287193/src/applications/claims-status/actions/index.jsx#L152) but it needs to support an exponential backoff and (like most of our stuff) it's not easily discoverable.

[2020-05-07 15:31] kelsonic commented on #7588
I have no clue who to contact since this is a search.gov issue:

![image](https://user-images.githubusercontent.com/12773166/81313612-54ea3600-9045-11ea-85a9-bfc1aa89ed6a.png)

The staging environment's `robots.txt` specifically says **do not index staging**, which means search.gov is indexing anyways and is not respecting the `robots.txt` content 🤔Any idea who we could notify on the search.gov si

[2020-05-07 15:34] #8523 closed

[2020-05-07 15:35] stephorkandatx commented on #8668
Selina to set up a kick-off meeting for this, to confirm the request

[2020-05-07 15:38] johnhashva commented on #6315
For posterity, the Higher Level Review Wizard clickable prototype is here:
https://vsateams.invisionapp.com/share/W5U21BDFTQK#/404075470_HLR_-_Info_Page

[2020-05-07 15:38] ncksllvn commented on #7588
I think we can add a [`noindex` meta tag](https://support.google.com/webmasters/answer/93710?hl=en) into pages during non-prod builds via the shared template for some extra crawl-blocking

[2020-05-07 15:41] lihanli commented on #8852
direct deposit backend errors:
http://sentry.vfs.va.gov/vets-gov/platform-api-production/issues/116350/?query=is%3Aunresolved%20controller_name%3Appiu

[2020-05-07 15:45] tskinn opened #8883 "Create new fwdproxy backend - MDT"
## User Story or Problem Statement

VFS team needs to connect to Medical Device Reordering Tool / Denver Logistics Center. https://github.com/department-of-veterans-affairs/devops/blob/master/docs/External%20Service%20Integrations/MDT%20-%20Denver%20Logistics%20Center.md

The service only has test environment setup and we want to map this to our staging environment.

This is a new service and does

[2020-05-07 15:46] lihanli commented on #8174
@camerontesterman @leahkeeler devops says that because the DMC API uses an irregular port setting up the forward proxy could take a long time

[2020-05-07 15:47] stephorkandatx commented on #8853
"Dark Release" planned for May 29th

[2020-05-07 15:47] erikphansen commented on #8852
To confirm, those form submission events that include `direct-deposit-information` _are_ indicative of a successful submission/save/update

[2020-05-07 15:50] tskinn opened #8884 "Create new fwdproxy backend - debts api"
## User Story or Problem Statement
VFS devs need to connect to new debts backend. A doc has been created for it here https://github.com/department-of-veterans-affairs/devops/blob/master/docs/External%20Service%20Integrations/Debts.md

Backends:
- dev: gateway.test.dmc.va.gov:8443
- staging: gateway.preprod.dmc.va.gov:8443
- prod: gateway.dmc.va.gov:8443

## Goal
Create new backend in staging fwdpr

[2020-05-07 15:52] stephorkandatx commented on #8853
We think we may be able to use Flipper to control access to the form + the specific content, but need to investigate to confirm. If that is the case, this would be a minor tech effort + Content to set up what should display (copy-wise) in the two experiences.

[2020-05-07 15:54] erikphansen commented on #8852
I'm guessing that the error codes we get from EVSS PPIU changed after their fix and nothing is really wrong in a _major_ way. We just aren't able to accurately record the error type which means we also aren't showing the user specific error messages, just the default/fallback error.

[2020-05-07 15:55] stephorkandatx commented on #8853
@ncksllvn and @kelsonic can you connect to talk about the logistics of the flipper, and if it can be used to turn on/off and throttle a block of content & a form?

We need to confirm if the team intends to throttle the % of users via unauth'd experience,  or auth'd. We don't believe we can throttle % for an unauth'd experience but are not sure. Would need to confirm their expectations and what is

[2020-05-07 15:59] Kimberley2019 commented on #6012
@Samara-Strauss Thank you for the update.  I will close the ticket if I have not heard back from any of the users by Monday.

[2020-05-07 16:02] dneel-bah commented on #7131
Project Kickoff Collab point completed.

[2020-05-07 16:02] #7131 closed

[2020-05-07 16:02] annaswims commented on #8822
Many of the calls that va.gov makes to EVSS are run as background jobs and we set the va_eauth_service_transaction_id when we create the job.  If the job fails (say, if we receive a 500 error) we retry the job 25 times with exponential backoff over about 20 days.  We’re just using Sidekiq’s default retry policy and it’s really helpful when we want to retry jobs after a maintenance window, but I co

[2020-05-07 16:03] dneel-bah commented on #7132
Project Kick off Collab point completed.

[2020-05-07 16:03] #7132 closed

[2020-05-07 16:03] annaswims commented on #8822
[Sidekiq retry documentation](https://github.com/mperham/sidekiq/wiki/Error-Handling#automatic-job-retry)

[2020-05-07 16:07] jenstrickland commented on #8786
Please check the fields listed above, as I still see the issue in staging. The labels and inputs are not paired with the label's `for` attribute and an input's `id` attribute value.

1. school name
1. state
1. city

**Code in staging today**

[code]

[2020-05-07 16:07] erikphansen commented on #8852
@lihanli Based on what I see in Sentry, it looks like EVSS has changed how it's reporting errors and our API layer isn't handling them properly. What do you think?

[2020-05-07 16:08] jenstrickland commented on #8792
The desired behavior is that focus would move to the loading indicator before the h2, so that focus doesn't go to the items beneath while the search results are being retrieved.

[2020-05-07 16:10] erikphansen commented on #8852
@lihanli When I was investigating DD errors in the fall I was looking at this http://sentry.vfs.va.gov/vets-gov/platform-api-production/issues/76846/ and you can see that those errors stopped getting reported around the time these errors started showing up: http://sentry.vfs.va.gov/vets-gov/platform-api-production/issues/116350/

[2020-05-07 16:11] lwalsh617 opened #8885 "Form 21-0958 Retirement -- Copy updates"
## User Story or Problem Statement
As a user looking for form 21-0958, I need to understand the form is no longer in use but that I can still manage my legacy appeal or use the new decision review process.

---
## Tasks
- [ ] _Copy to be updated on legacy appeals page and faqs page.

## Acceptance Criteria
-
- [x] Write copy (Laura)
- [x] Get internal approval (Laura/Jen)
- [x] Copy approved by SM

[2020-05-07 16:12] lihanli commented on #8852
@erikphansen ok thanks for the info i'll work on getting it fixed

[2020-05-07 16:12] leahkeeler opened #8886 "40-10007 Form Modifications"
Modify Form to meet guidelines. This is not part of Medical Device Reordering Tool or Debt Letters but a one off request which requires both FE and BE changes.

[2020-05-07 16:27] kelsonic commented on #8786
Oh awesome, thanks @jenstrickland! PR incoming! 🙂

[2020-05-07 16:29] RLHecht commented on #8637
@AnneHurley I read over your changes. I put the Rates effective and the Amounts in U.S. $ back under each table (I changed the header size of the tables to move them out of the table block and into its own WYSIWYG so that it could all fit. This way it matches other pages.

[2020-05-07 16:34] KevinMHoffmanUSDS commented on #5086
@jenniferlee-dsva How would you like these rolled out? (We've completed some, but not all of them.) Do you want them rolled out as they are completed?

[2020-05-07 16:36] tlei123 commented on #5952
@leahkeeler, pls. review my updated Main Flow test-case, for editing both Permanent and Temporary addresses...

Once you're at the [Test Cases page](https://dsvavsp.testrail.io/index.php?/suites/view/8&group_by=cases:section_id&group_order=asc) on TestRail, click on the **Main Flow (C303)** should already be highlighted by default \[it's at the top of the cases-list].  Pls. check **Steps 5-11** on

[2020-05-07 16:40] RLHecht commented on #8795
This has been validated on live site. Closing ticket. FYSA @stephorkandatx @DanielleThierryUSDSVA

[2020-05-07 16:40] #8795 closed

[2020-05-07 16:43] #7063 closed

[2020-05-07 16:48] mshea0606 opened #8887 "[Backend] Update VetsAPI error handling of EVSS data"
## Background
See ticket: Investigate increased Error rate on Direct Deposit #8852

## Tasks
- [ ] Update error handling of EVSS data into VetsAPI
- [ ] Update VetsAPI data sent to the Frontend

## Acceptance Criteria
- [ ] EVSS data is correctly processed by VetsAPI
- [ ] VetsAPI sends correct data to Front End resulting in appropriate error messaging/alerts being displayed

[2020-05-07 16:50] annaswims commented on #8822
[Michael Walker agrees](https://dsva.slack.com/archives/C8R3JS8BU/p1588868098174400) that no changes are necessary.  Closing

[2020-05-07 16:50] #8822 closed

[2020-05-07 16:51] mshea0606 commented on #8852
Update VetsAPI processing of changed EVSS data #8887 has been created.

[2020-05-07 16:53] mshea0606 commented on #8852
Thanks @lihanli !  [Backend] Update VetsAPI error handling of EVSS data #8887 has been created

[2020-05-07 16:53] jenniferlee-dsva commented on #5086
@KevinMHoffmanUSDS

Yes, please roll them out as they are completed, but we'll need to let Josh Tuscher know as that happens, so he can review in staging. (I'm fine emailing him, though I think he is actually on Githhub and @/assignable.)

If it is going to be rolled out directly in prod, please make Josh aware before go-live, so he's not caught off guard and answering angry stakeholder emails. :-

[2020-05-07 16:54] pjhill opened #8888 "VSP QA feedback on Yellow Ribbon MVP [Staging Review]"
## VSP QA feedback on Yellow Ribbon MVP [Staging Review]
### Links
**Test Plan / Execution logs:**
https://dsvavsp.testrail.io/index.php?/plans/defects/213
**Coverage for References Report**
https://dsvavsp.testrail.io/index.php?/reports/view/72
**Summary (Defects) Report**
https://dsvavsp.testrail.io/index.php?/reports/view/73

### Feedback
**Test Execution Logs**
1. Looks great!  I love that you

[2020-05-07 17:00] #8512 closed

[2020-05-07 17:01] SgardnerPMP opened #8889 "[CONTENT] Copy edit Analytics "Kick-off" package presentation [CW]"
## Story
As a PAO and Drupal engineer, I need a data collection document that is easy to review and make confirmations, so the data can easily be automated into data loading in the Drupal system.

## Goal
_Provide an easy to understand and easy to fill out/confirm spread sheet to the PAOs to provide pertinent information needed to complete the multiple layers of the VAMC-Upgrade_

## Objectives or

[2020-05-07 17:01] lwalsh617 commented on #8276
@mnorthuis --
Here's the copy for each page and suggested location. I did not receive any requests from business line owners to hold off or adjust copy, so we're good to go.
Let me know if you have questions.
![image](https://user-images.githubusercontent.com/53535663/81322983-b4a30a00-9062-11ea-9cd8-0dc6efc787c8.png)
![image](https://user-images.githubusercontent.com/53535663/81323007-bc62ae80-90

[2020-05-07 17:03] micahchiang commented on #8774
PR - https://github.com/department-of-veterans-affairs/vets-website/pull/12564

[2020-05-07 17:03] micahchiang commented on #8794
PR - https://github.com/department-of-veterans-affairs/vets-website/pull/12564

[2020-05-07 17:06] kelsonic commented on #8792
Awesome! It does that:

![image](https://user-images.githubusercontent.com/12773166/81323578-d4cacd00-9052-11ea-8fb5-34fce7e83c8e.png)

[2020-05-07 17:11] peggygannon commented on #8229
Hello, @tressaellen Please see content recommendation below.

Please note, per VA.gov style, we should be using "sign in" not "log in" when talking about signing in.

**Do you want to change the email address you use to sign in to VA.gov?**
VA uses the above email address to contact you only. If you update this contact email address, it won’t change the email address you use to sign in to VA.gov.

[2020-05-07 17:20] tressaellen commented on #8229
Thanks @peggygannon! Just a few questions:

- The line "To change the email address you use to sign in to VA.gov" - should this be some kind of title?
- "Your sign-in email address", are you envisioning this as a link?

[2020-05-07 17:26] Samara-Strauss commented on #6012
Update: From our initial investigation, this definitely seems to be an issue of identity and not the profile itself.

The good news: that's a lead and may be something affecting other people. The bad news, getting identity issues figured out is (likely) an annoying process that will involve calling the VA and spending lots of time on the phone.

[2020-05-07 17:33] leahkeeler commented on #5952
Thanks Tze - looks good

[2020-05-07 17:35] Samara-Strauss commented on #8229
I just want to confirm that we will show the links off to DS Logon/MHV/ID.me below this. I think that's necessary to clarify "go to the account where you manage your settings and identity information."

[2020-05-07 17:36] Samara-Strauss commented on #8852
Thanks for this, guys! @erikphansen is your work done here? If so, we can close this ticket. If not, let's leave it open.

[2020-05-07 17:36] micahchiang commented on #8703
Same work is captured in #8829

[2020-05-07 17:36] #8703 closed

[2020-05-07 17:38] erikphansen commented on #8852
yeah. more work might come out of the BE ticket Matt made, but I really doubt it.

[2020-05-07 17:38] #8852 closed

[2020-05-07 17:40] Samara-Strauss commented on #8852
Sounds good. We can create follow-up tickets if needed.

[2020-05-07 17:43] rroueche commented on #8308
Question from the team: Do you all imagine the listening sessions replacing the retros? I know we also have complaints of two many meetings so it might be nice to try out listening sessions instead of retros. Just a thought.

[2020-05-07 17:44] luke-gcio opened #8890 "[Spot Check] Original Claims: Legacy Accessibility Check for 526 All Claims (Includes Original Claims)"
## User Story or Problem Statement
We need to perform an accessibility spot check for the entire 526 form.  It has been a long time since a check of any kind and since we are releasing Original Claims we are going to not kick that can further down the road and go ahead and do a full check of the 526 claims flow. When we get to BDD this will help.

### Required:
- [x] Read the [accessibility stagin

[2020-05-07 17:46] mnorthuis commented on #8416
Reviewed the tool, all looks good.

Will need to see the static content work to review entry points once that is available:
- hub page
- left nav
- yellow ribbon page

Redirect work is in progress.

[2020-05-07 17:51] DanielleThierryUSDSVA commented on #8773
Hi @lunascoop @stephorkandatx. Here's Mikki's and my feedback on the Life Insurance bugs. Will continuing adding feedback on bugs in this issue as we go through them. Thanks so much for identifying these as part of your audit work, Selina!

[Life insurance bugs 5.7.20](https://app.zenhub.com/files/133843125/5d05d90b-265b-45f6-8d09-6777179a6af0/download)

[2020-05-07 17:56] meganhkelley commented on #8416
Product feedback — as mentioned on the meeting, no response or validation is required here. Thanks!

Product Outline:
- What is your hypothesis of how this work will impact your KPI (# of people visiting YR pages per month), and why?

Release plan:
- What are your results from moderated production testing? Did you identify/fix any bugs?
- Who will be able to access your tool during unmoderated pro

[2020-05-07 18:07] billfienberg commented on #8334
PR to delete content from `vets.gov-team`: https://github.com/department-of-veterans-affairs/vets.gov-team/pull/20117

PR to add content to `va.gov-team-sensitive`: https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/pull/102

PR to update link in `vets-api`: https://github.com/department-of-veterans-affairs/vets-api/pull/4239

[2020-05-07 18:07] RLHecht commented on #8641
This page is built in Drupal. There are no rates on the page that need to be updated for 2020. Ready for next steps.

[2020-05-07 18:09] RLHecht commented on #8592
@AnneHurley This looks like our education rates landing page. I think we need to add the links to all these new rates pages on here before we can move it to the next stage. It's already a live page but linking to a legacy page for all education benefit rates.

[2020-05-07 18:13] RLHecht commented on #6107
@stephorkandatx Not sure if this work is included in any of the other YR tickets that are currently floating around. Should it be closed or kept open?

[2020-05-07 18:16] RLHecht commented on #8732
Newest version with face mask question added has been published for Thursday 5/7 deployment

[2020-05-07 18:17] joanneesteban commented on #5628
@1Copenut

ForeSee sent [this video (attaching from Slack)](https://dsva.slack.com/archives/CKCRMLGAC/p1588875422332400). Let me know if this works as the desired behavior and if you'd like for them to test further in Staging as well, and I can give them the go-ahead to push this update live.

[2020-05-07 18:31] jason-gcio opened #8891 "Investigate Pre-Fill on Frontend for 686"
## User Story
As a Veteran, I want to have as much info filled in for me as possible so that I can get through these transactional forms as quickly and easily as I can.

## Considerations
- Pre-Fill has been setup [from the backend (#7883)](https://github.com/department-of-veterans-affairs/va.gov-team/issues/7883#issuecomment-624241167) but it needs to be integrated into the frontend.
- Here is hi

[2020-05-07 18:33] #7811 closed

[2020-05-07 18:34] ncksllvn commented on #8853
Ohh I like the term "dark release." We can call this process the "Shadow Launch".

So this sounds like about the same thing BAM1 is going through with the HLR Wizard + HLR form. I had a sync with them today and offered some guidance that I think applies here too. Basically, it goes -

1. Identify the chunk of content on the tool landing page that will need to be changed with the form's rollout
1.

[2020-05-07 18:51] stephorkandatx commented on #8741
@tzelei based on the comment above, can we close as a non-issue?

[2020-05-07 18:53] CrystabelReiter opened #8892 "Design feedback for Staging Review [Yellow Ribbon MVP]"
**Do:** Mandatory feedback
**Try:** Exploratory next step
**Consider:** Sharing ideas/alternate ways of thinking

**Do:**
No “do” feedback at this time

**Try:**
  No “try” feedback at this time

**Consider:**

- [On this content page](https://staging.va.gov/education/about-gi-bill-benefits/post-9-11/yellow-ribbon-program/), consider changing the links in the “On this page” section to follow the l

[2020-05-07 19:02] #8794 closed

[2020-05-07 19:02] #8774 closed

[2020-05-07 19:10] AnneHurley commented on #8638
@RLHecht  I've built this page here: preview-prod.vfs.va.gov/preview?nodeId=5574
Couple of questions:
1. Is where I put the "All rates in $ US" by the table ok? I had it in the same "caption/header" as the "Rates effective" line but it looked too prominent. Is there a way to tuck it in under that header but before the actual table?
2. I think I was able to figure out the HTML inside the table **ex

[2020-05-07 19:11] AnneHurley commented on #8592
@RLHecht  I'll check to see what's built, and add them. Will list what's in and what's not in here.

[2020-05-07 19:13] #8165 closed

[2020-05-07 19:17] bradl3yC opened #8893 "MDT - Confirmation Page - Redux"
Currently all of the data within the confirmation page is hard coded - this needs to be migrated to redux and the appropriate order data displayed.

[2020-05-07 19:18] jbalboni opened #8894 "Update CDW service to v3"
We're calling v2 of the CDW service to get clinic information. v2 is being sunset over the summer and v3 is available. According to Lynne Case, "should have the same signatures just a different data source (a cached instance)."

Time frame: "8/1/2020 for Prod, but being removed from SQA on 6/1/2020 to prompt apps to break there and get fixed"

https://dsva.slack.com/archives/CMNQT72LX/p15888780273

[2020-05-07 19:20] sonntag-adam commented on #8003
UX feedback/changes will be in the new story. Testing passes QA.

[2020-05-07 19:20] #8003 closed

[2020-05-07 19:21] stephorkandatx commented on #8668
@lunascoop I'm turning this into an Epic + creating at least 1 ticket to track forward

[2020-05-07 19:22] #8563 closed

[2020-05-07 19:23] rroueche commented on #8120
We also don't have a way for ppl, a week from now say, to come back and see the meeting notes etc. Like a folder or something w/longer form write-ups.

[2020-05-07 19:24] stephorkandatx opened #8895 "Content Updates request for BDD and 526 form content page edits (Benefits and Memorials 1)"
## Tasks

- [x] Draft content as part of IA/content strategy work (Danielle)
- [ ] Align on stakeholder alignment process (Danielle, Beth)
- [ ] Align with Peggy and product team (Danielle, Selina)
- [ ] Flow content changes into Drupal (Selina) - may move to next sprint depending on process of SME approval
- [ ] Finalize content per discussions/SME approvals & feedback (Selina, Beth) - may move t

[2020-05-07 19:25] rroueche commented on #8120
When leadership does a cross-team announcement, what are the channels, use cases, and where do we store all that?

How do we communicate deadlines?

How do we solicit feedback?

We could do a good job setting an example of how to collaborate - when do. you want the feedback w/a time, what kind of feedback do you want (looks/sounds like this), on what part of the work, and where are you in the proc

[2020-05-07 19:26] stephorkandatx commented on #8895
@lunascoop ticket (housed in the new Epic) for Content work needed for this request. I will circle back to reformat the tasks/AC as best I can. I will want to meet with you once you sync with the team and we can complete the ask. If there are additional needs (other tickets) let's connect so I can get that documented. Thank you!

[2020-05-07 19:27] johnhashva opened #8896 "[SD] Type Ahead POC"
## Product Outline

- Slack channel: #va-search
- On-site Search [Master Product Outline](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/public-websites/onsite-search#search-product-outline---vagov---this-is-a-draft)

| Name          | Role                                          |
| ------------- | --------------------------------------------- |
| John Hashimo

[2020-05-07 19:27] jenstrickland commented on #8792
Just validated that this issue has been addressed as of this afternoon.

[2020-05-07 19:27] #8792 closed

[2020-05-07 19:33] amyknox commented on #8003
UX Review - now with priorities
[https://app.zenhub.com/files/133843125/23d5eec0-b22a-4591-aac0-c19a56bd2ef4/download](https://app.zenhub.com/files/133843125/23d5eec0-b22a-4591-aac0-c19a56bd2ef4/download)![ID - bold text in collapsed sheet.png](https://images.zenhubusercontent.com/5b51ea398c1a7628d9218a42/b106f7cb-1f75-4ca8-91b7-49a7e177a7e6)![ID - top-bottom padding for fields.png](https://images

[2020-05-07 19:41] rileyorr commented on #8803
[Unauthenticated content page](https://vsateams.invisionapp.com/share/KJX78T3RVHD) | [Authenticated content page](https://vsateams.invisionapp.com/share/QXX78X0SFNG)
In reviewing the content team's edits from a couple sprints ago, they suggested adding a header above the 'order online' CTA. The design reflects their recommendation.

[2020-05-07 19:41] jenstrickland commented on #8789
This issue was addressed once the responsive development work happened.

[2020-05-07 19:41] #8789 closed

[2020-05-07 19:43] #8562 closed

[2020-05-07 19:43] #6572 closed

[2020-05-07 19:47] desireeturner opened #8897 "Access for BAH team members to GIDS Production"
# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please Provide your email.

- Please provide the name of your team, your role on that team, and the name of the company you work for.

- Requesting Production Access to GIDS for the following individuals in order to support our testing efforts. If possible, we would be fine with rea

[2020-05-07 19:48] desireeturner commented on #8897
Request for GIDS Production access. @department-of-veterans-affairs/vsp-operations cc @jholton

[2020-05-07 19:48] rileyorr commented on #5176
@leahkeeler I'm going to close this ticket because the introduction screen has been completed for a while so this ticket isn't necessary anymore

[2020-05-07 19:48] #5176 closed

[2020-05-07 19:51] rileyorr commented on #5847
@leahkeeler This work has been completed for a while and this ticket is no longer necessary

[2020-05-07 19:51] #5847 closed

[2020-05-07 19:52] rileyorr commented on #6723
@jonathanjnelson has @CrystabelReiter's feedback been incorporated so we can close this ticket?

[2020-05-07 19:53] rileyorr commented on #6722
@jonathanjnelson has @peggygannon's feedback been incorporated so we can close this ticket?

[2020-05-07 19:53] jonathanjnelson commented on #6723
Yes, sorry about that.

[2020-05-07 19:54] #6723 closed

[2020-05-07 19:55] jholton commented on #8897
cc: @gunsch BAH team's GIDS production access request

[2020-05-07 20:04] rileyorr commented on #3868
@YanaRoy I'm going to close this ticket. I think BaM1 is well beyond this ticket's task in regards to HLR

[2020-05-07 20:04] #3868 closed

[2020-05-07 20:07] RLHecht commented on #8638
@AnneHurley I've read over this page. I added the related links at the bottom of the page from the Github file. I also moved around the Rates in U.S. $ and the Rates effective info. I took it out of the table caption and added it to the WYSIWIG above the table so we could format it to a smaller font. I also added the bullets in the table.

[2020-05-07 20:15] rileyorr commented on #3810
@YanaRoy I'm going to close this ticket since neither of us are working on HLR anymore.

[2020-05-07 20:15] #3810 closed

[2020-05-07 20:17] jenstrickland commented on #8786
Fix validated.

[2020-05-07 20:17] #8786 closed

[2020-05-07 20:17] billfienberg commented on #8746
PR to fix broken links: https://github.com/department-of-veterans-affairs/veteran-facing-services-tools/pull/252

[2020-05-07 20:28] sonntag-adam opened #8899 "CT-EYB: UX review of 8003"
Per UX review, the following AC was not for met https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/8003

1. “Collapsed bottom sheet: Monetary amounts are bold” - AC 4 & AC 5. The monetary amounts of OJT and non-OJT should not be bold. Below is a screenshot of the amounts being bold in staging.
![Screen Shot 2020-05-07 at 4.30.27 PM.png]

[2020-05-07 20:37] delli-gatti-michael commented on #8095
Tested by TestRail Test Case:
https://dsvavsp.testrail.io/index.php?/cases/view/595

[2020-05-07 20:37] delli-gatti-michael commented on #8095
Local testing complete

[2020-05-07 20:40] mmiddaugh commented on #5624
@jenstrickland this may be resolved with the new left nav....will it be possible to confirm when you do the staging review?

[2020-05-07 20:41] delli-gatti-michael commented on #8831
Changes are now in Staging. Closing this issue

[2020-05-07 20:41] #8831 closed

[2020-05-07 20:58] RLHecht commented on #8592
This page now has the updated info as a draft in Drupal. Note that there is a link to the current REAP rates, but on that page it says the program was retired November 2019. I think we would need to remove the link (the REAP page is a draft in Drupal that was never published), but I don't know if we need the 2019 REAP rates page live as a historic rates page anywhere? FYSA @DanielleThierryUSDSVA @

[2020-05-07 21:02] #6571 closed

[2020-05-07 21:06] luke-gcio opened #8901 "Original Claims VSA-QA Test Plan"
## Product/Feature summary

\[Provide brief summary of product/feature to be tested on Staging by VSA-QA. Also, be sure to include links to the Product/Feature Outline, Epic, Pre-Launch Checklist, and Design tickets/artifacts.]

Product/Feature Outline: [Original Claims](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/disability/disability-compensation-claim/orig

[2020-05-07 21:10] DanielleThierryUSDSVA commented on #8592
Thanks, @RLHecht! Yes. I have a question for Mikki around REAP in another ticket. But I'm thinking that even if we do keep a historic rates section, we won't want to highlight it on this page. So I think we can remove from here. Thank you!

[2020-05-07 21:10] wyattwalter commented on #8682
Resolved the first header via S3 metadata, we no longer want to do the second header.

[2020-05-07 21:10] #8682 closed

[2020-05-07 21:13] peggygannon commented on #8229
Yes @Samara-Strauss sorry, i should have added those in my commit. Those links should still stay!

[2020-05-07 21:14] mmiddaugh commented on #8485
@jenstrickland....I noted the following during my staging pre-review testing but am not sure if these are serious defects.

- When zoomed to 200% or higher, the left nav menu moves above the page content.
- The menu items are off center within the outside border and the border is flush with the left side of the page. This also impacts the focus halo. All content is still visible and can be navigat

[2020-05-07 21:17] #8722 closed

[2020-05-07 21:19] kelsonic commented on #8627
Any dev work here yet? 🙂

[2020-05-07 21:19] kelsonic commented on #8626
Any dev work here yet? 🙂

[2020-05-07 21:19] kelsonic commented on #8622
Any dev work here yet? 🙂

[2020-05-07 21:20] amyknox commented on #8474
Still waiting on 7842- VET TEC Profiles

[2020-05-07 21:21] RLHecht commented on #8592
REAP rates link and teaser text was removed from this page. Ready for next steps.

[2020-05-07 21:22] RLHecht commented on #8275
These are now fixed on the live site. Closing ticket. FYSA @stephorkandatx @johnhashva

[2020-05-07 21:22] #8275 closed

[2020-05-07 21:27] #8027 closed

[2020-05-07 21:37] kelsonic commented on #8888
Sorry for moving this 🙂

[2020-05-07 21:37] kelsonic commented on #8850
Sorry for moving this 🙂

[2020-05-07 21:40] mmiddaugh opened #8902 "Discovery: Deduplicating Community Care results"
## User Story or Problem Statement
When a provider, such as a dentist, works at multiple locations, he/she will appear on the search results multiple times but only one facility detail page exists.

## Goal
Apply de-duplication logic to Community Care results from PPMS

## Current behavior
When a provider, such as a dentist, works at multiple locations, he/she will appear on the search results mul

[2020-05-07 21:44] stephorkandatx commented on #8806
@jenstrickland for this item, we are not launching the tool with a PDF. The need to make additional content available becomes something we'll need to address in summertime, There will be a transitional period in the summer (June to August) that we will want to host "upcoming" school year information while continuing to display the "current" school year info. At some point, when the "upcoming" scho

[2020-05-07 21:47] AnneHurley commented on #8593
@RLHecht I added the new node ID links (housing, in-state residency) as well as the REACT URL for the YR tool on this page.
Could you check to see why there are still a couple of broken link alerts, and let me know if I need adjust anything?

[2020-05-07 22:07] jenstrickland commented on #8485
- Regarding the focus outline **should** appear around all sides of the focused content, and would be a 508-defect-3 in the current state where the left side is cut off.

- I just pulled it up in NVDA + Firefox and it read the level 2 headings for Services and Locations, News and Events, and About VA Pittsburgh.

I do see that the `aria-current="page"` isn't yet on the active link in the nav list,

[2020-05-07 22:12] jenstrickland commented on #5624
Yes, that would be helpful to check during the staging review, https://github.com/department-of-veterans-affairs/va.gov-team/issues/8485.

[2020-05-07 22:13] luke-gcio opened #8903 "[Epic] 526 Form: Original Claims, All Claims, and BDD Call Center Support"
## Problem Statement
Veterans have issues filing their claims.  We have been tracking their issues in several tickets that end up being difficult to associate/follow since a lot of them do not end up totally related.  Also, it has been difficult to track which veteran belongs to which ticket.  Going forward, the veteran's initials will be used since that should be sufficient to differentiate betwe

[2020-05-07 22:14] 1Copenut commented on #5628
@joanneesteban This looks good to me!

[2020-05-07 22:15] jenstrickland commented on #8806
@stephorkandatx I think the launchblocker nature would only be if the PDF was included. I can remove any defect rating on this ticket, and instead use it as a caution for the upcoming work. Sound good?

[2020-05-07 22:19] luke-gcio opened #8904 "[Veteran Support] All Claims: Secondary Disability Claim Issue"
## User Story or Problem Statement
### Notes
This veteran was contacted and their initials aaaare XYZ.

We have/have not solved their issue.

### **IRIS: 200221-000446**

_I am unable to submit my form 21-526EZ to file an increase and secondary disability claims on va.gov. I called ebenefits and opened a work order and was sent an email yesterday afternoon advising me the problem was on va.gov end

[2020-05-07 22:20] tressaellen commented on #8229
@peggygannon does this look correct?

**Do you want to change the email address you use to sign in to VA.gov?**
VA uses the above email address to contact you only. If you update this contact email address, it won’t change the email address you use to sign in to VA.gov.

To update the email address you use to sign in to VA.gov, go to the account where you manage your settings and identity informat

[2020-05-07 22:33] MickinSahni commented on #7588
We have Search.gov contacts @stephorkandatx can reach out to confirm. iirc google stopped or was going to stop support for robots.txt noindex. wonder how that factors in here

[2020-05-07 22:43] pjhill commented on #8888
:relaxed:

[2020-05-07 23:49] gunsch commented on #8897
cc @KevinMHoffmanUSDS @drorva

Some clarifying of VSP's stance since GIDS operations still live in a muddled gray area between VSP and BAH teams:

Prod database access grants BAH team more ability to break production (specifically for education-related tooling, presumably not for anything else). If there are application issues in production because of DB issues connected to this elevated access, V

[2020-05-08 00:23] tlei123 opened #8905 "[Bug] VAMC Left Nav - Mobile - Copy/styling mismatches [DRAFT]"
\[DRAFT: Will finalize details here once all pertinent test-runs are completed.]

## What happened?
On Staging VA Pittsburgh health care page, using mobile phone, copy & styling for **In this section** nav (mobile version of desktop's left-nav) do not match provided design screenshots:

## Specs:
- Mobile phones (Samsung S9/S6, Apple iPhone 11/6)
- Unauthenticated experience

## Steps to Reproduce

[2020-05-08 00:37] sshein commented on #8565
Wanted to let you know Peggy regarding the button to "print screen" inside the blue box - that is a redesign because the copy at the top was hard for users to see when tested. We already showed that to VSP and got it approved awhile ago... @jonathanjnelson was there a ticket for that work or was that more of an informal review?  The idea is that we're improving the stylesheet that shows after the

[2020-05-08 00:54] DanielleThierryUSDSVA commented on #8853
Thank you, @ncksllvn! Your work on the shadow launch is much appreciated :)

Question for you in terms of amount of keep this as simple as possible. Does it matter how much content is in the chunk that becomes a React widget?

So, for example, would we be able to do this with a larger chunk of content like the one in the screenshot below that we want to display differently depending on whether the

[2020-05-08 01:21] DanielleThierryUSDSVA commented on #7892
# Notes from 5.6.20 meeting to discuss next steps for caregiver program content on VA.gov

**Together, the VA.gov and caregiver program teams reviewed page mockups and agreed that we will:**

- Provide a URL for the online 10-10CG application.
- Update the VA.gov family member benefits hub page to better highlight caregiver-specific support and services within a caregiver-specific section. We’ll l

[2020-05-08 01:26] kelsonic commented on #7588
Oh wow, well that could have definitely caused it then @MickinSahni. I'll see if I can update how we're using robots.txt to use only supported robots.txt options.

https://www.searchenginejournal.com/google-robots-txt-noindex/314961/

[2020-05-08 01:28] kelsonic commented on #8888
Awesome, thank you! 🔥

[2020-05-08 02:58] tlei123 opened #8906 "[Bug] VMAC Left Nav - Desktop - Several options still clickable after being selected"
\[DRAFT: Will finalize details once all pertinent test-runs are done.]

## What happened?
On Staging [VA Pittsburgh health care](https://staging.va.gov/pittsburgh-health-care/) page, many options in Left Nav remain clickable after User has selected them and navigated to selected page.

## Specs:
- All major desktop browsers (Win Edge/IE11, Mac Safari, Win/Mac Chrome, Win/Mac Firefox)
- Unauthentic

[2020-05-08 05:25] luke-gcio commented on #7775
Needs to be converted to multiple stories - will initially create stories for appeals and disability claims lanes (not education, health, etc).  Updated the estimate to 60 just to show this is going to be much larger effort than we initially thought.  This story will be converted into just an initial discovery ticker.

-

[2020-05-08 05:41] luke-gcio opened #8908 "[Bug] 526 Claims: Veteran Filing for Increase in Rating Cannot See Rated Disabilities"
## What happened?
Veteran is not able to see their rated disabilities when requesting an increase.  We have confirmed that they do have rated disabilities in the system and have narrowed down the issue to gender not showing up from one of the back end services and being passed down to EVSS.  This is what gets loaded into their profile when they log in.  This has been scrubbed and half is cut off b

[2020-05-08 05:58] tlei123 opened #8909 "[Bug] VAMC Left Nav - A11y - Section headers not Tab-accessible"
## What happened?
On Staging VA Pittsburgh health care page, using keyboard nav, Left Nav menu section-headers do not receive keyboard focus.

## Specs:
- All major desktop browsers (Win Edge/IE11, Mac Safari, Win/Mac Chrome, Win/Mac Firefox)
- Unauthenticated experience

## Steps to Reproduce
1.  Go to https://staging.va.gov/pittsburgh-health-care/
1.  Tab to the last breadcrumb **VA Pittsburgh h

[2020-05-08 13:33] delli-gatti-michael opened #8910 "GIDS: Generate New Preview Version "are you sure" modal not displaying correctly"
After a user uploads files to gids, they can generate a new preview version by clicking the "Generate New Preview Version" button. After clicking this button, an "are you sure" modal displays where the user can again click a "Generate New Preview Version" button after reviewing the uploaded files. After clicking the button on the modal, the version is generated.

1. Access https://staging.va.gov/g

[2020-05-08 13:37] RLHecht commented on #8732
Update FAQ page now on live site. @DanielleThierryUSDSVA can we close this ticket? FYSA @stephorkandatx

[2020-05-08 13:42] joanneesteban commented on #8555
## Updates from 5/7/20 Meeting

1. [Mural Board ](https://app.mural.co/t/adhocvetsgov9623/m/adhocvetsgov9623/1588869654736/1016c93b9f51bc33c49b1d404c716730b052ed90) with Process
2. [Proposed documentation](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/analytics/covid-dashboard-process.md) for adding data
3. Proposed synthesis re-structuring. Waiting to hear bac

[2020-05-08 13:50] desireeturner commented on #7842
@department-of-veterans-affairs/uxbah the review of the radio buttons can be started now, but there is currently a bug preventing testing of more than 5 programs that we are working to resolve: https://github.com/department-of-veterans-affairs/va.gov-team/issues/8910.

[2020-05-08 13:50] DanielleThierryUSDSVA commented on #8732
Hi @RLHecht. Yes, we can - thank you!

[2020-05-08 13:50] #8732 closed

[2020-05-08 13:51] #7882 closed

[2020-05-08 14:07] Samara-Strauss commented on #6322
Hi @bsmartin-ep — I have a huge favor to ask.

I am *finally* getting a chance to sit down and really comb through these analytics. As I'm doing this, I'm realizing it's important for us to have the non-modernized data to compare to the modernized data which you pulled for us (which, again, is amazing — thank you!).

Is there any way you can pull the report that [Nedie attached in this comment](ht

[2020-05-08 14:08] ncksllvn commented on #7588
Wow, yeah, Google is gonna be showing some interesting results for webpages (not just va.gov) then once that's fully in effect lol.

[2020-05-08 14:16] RLHecht commented on #8593
@AnneHurley I checked over the page and the new node IDs look OK. Per Slack convo you are going to ask CMS about the broken links being a bug.

One question I have is will the Yellow Ribbon Program tool be live before we are finishing these pages? If not, the link you added to the tool won't work. We may want to take it out and only add it it once YR is finalized.

[2020-05-08 14:27] johnhashva commented on #8275
Awesome -- thank you!

[2020-05-08 15:00] ncksllvn commented on #8853
As long as the content itself is "contained" - as in, a single chunk on the page - then it should be totally fine no matter how large the content chunk is. If the affected content is spread out as just hyperlinks throughout the page in different places, we probably wouldn't be able to use Flipper, at least not easily. That kind of content change would probably have to wait for the Flipper feature

[2020-05-08 15:05] #8835 closed

[2020-05-08 15:09] #8599 closed

[2020-05-08 15:13] jbalboni commented on #8323
Example response from staging (name isn't mapped).

[code]

[2020-05-08 15:16] jbalboni commented on #8323
Based on discussions, we believe that type of care will be mapped to the serviceType field in HealthcareService. How this works is up in the air, but we can stick the current type of care ids we have in there for now.

And for name, we can do what we do now for clinic names, put friendly name in HealthcareService.name when it exists and fall back to the regular name otherwise.

[2020-05-08 15:25] ala-yna opened #8911 "Caregivers Final Edits"
**Global**
- [x]  there is a lot of padding around the primary buttons. Reduce padding to 16px around the button label. Same for the “Print his page” button at the end of the application
- [x] For all pages with back and continue buttons, Change the gray arrows in the “Back” button to blue
- [x] If we will have multiple CTA buttons on a page, change to blue instead of green (specifically on the fo

[2020-05-08 15:29] DanielleThierryUSDSVA commented on #8853
oh, that's great - thank you, @ncksllvn! We can definitely keep all the content in one chunk; that's no problem at all.

[2020-05-08 15:30] 1Copenut opened #8912 "[SCREENREADER]: VAOS - Past appointments MUST manage focus when users filter their appointments"
**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️  Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

The Past Appointments has a cool feature to filter by time ranges using a select + submit button interface. We must manage focus when users update their appointment filter so screen readers understand something h

[2020-05-08 15:36] Jeff-Hayter commented on #8812
@nelabdiel Can you confirm that all of these individuals are VA employees (not contractors) and have completed their necessary background investigations (i.e. have a PIV or VA email)?

[2020-05-08 15:44] amyknox commented on #7842
UX has completed the review of the radio button implementation

[2020-05-08 15:48] bkjohnson commented on #8769
The previous PRs have fixed all of the disabling issues in platform and app code with one exception: vaos

![image](https://user-images.githubusercontent.com/2008881/81422573-fafe7480-9107-11ea-95e4-82d7e86f84af.png)

It looks like vaos have [copied `moment-tz` into our repo](https://github.com/department-of-veterans-affairs/vets-website/blob/99b1656509130f9fc08ad55bc6a36768209d5be1/src/applicatio

[2020-05-08 16:05] DanielleThierryUSDSVA opened #8913 "Life insurance rewriting SME review and finalization to publish: Batch 1"
# User story

As a content team member, I want to be able to review work with SMEs in chunks so that I can publish pages and the team can implement redirects as quickly as possible to avoid the pages getting out of sync with currently live legacy pages.

# Details

### We'll bring the following pages to SMEs for review in Batch 1

- [Insurance plans](https://app.zenhub.com/workspaces/vft-59c95ae5f