[2021-12-13 20:31] #31182 closed

[2021-12-13 20:32] vhenry07 opened #34037 "Technical Discovery: Claim Status Details"
## Issue Description
As a Veteran, I would like more detailed information and progress updates for my claims so that I can understand where my claim sits and the process and, if possible, take action items to expedite my claim or respond to a decision.

Our research indicated Veterans would like more claim status details, progress and time estimates

---
## Tasks
- [ ] Generate an exhaustive list

[2021-12-13 20:32] omgitsbillryan commented on #30524
DNS lookup works.
[code]

I don't know how to functionally test the API. I leave that to @charleystran

[2021-12-13 20:35] vhenry07 opened #34038 "Communicate Claim Status Tool Functionality"
## Issue Description
Veterans have expectations about the Claim Status Tool that may be out of alignment with tool capabilities.

---
## Tasks
- [ ] Work with stakeholders to Investigate best methods to communicate tool functionality and limitations.

## Acceptance Criteria
- [ ] Documented communication/marketing opportunities. Create additional tickets for design/implementation as needed.
---
##

[2021-12-13 20:36] pjhill opened #34039 "Create Survey for Early TUD Users"
## User Story

As a member of the team that supports TUD, I need to collect feedback from users and teams that are using TUD. If we create a standard survey to collect data from teams then we will get higher quality data that informs us of the areas of TUD that need attention.

## Expected Behavior

A short survey (5mins or less) is available in [Optimal Workshop](https://app.optimalworkshop.com/a

[2021-12-13 20:36] MickinSahni commented on #32137
@jchilders to drop discovery notes here

[2021-12-13 20:39] vhenry07 opened #34040 "Claim Status Tool - Decision Letters"
## Issue Description
As a Veteran, I would like to be able to view and download decision letters.

---
## Tasks
- [ ] Investigate how to allow viewing/download of decision letters.

## Acceptance Criteria
- [ ] Process/ technical investigation results documented. Create additional tickets as needed for technical implementation.
---
## How to configure this issue
- [ ] **Attached to a Milestone** (

[2021-12-13 20:40] MickinSahni commented on #33516
Reached out to Tze re: scope of use cases. Waiting for feedback

[2021-12-13 20:45] vhenry07 opened #34042 "Claim Status Tool - Endpoint Analysis"
## Issue Description
Per our last touchpoint with the Lighthouse team, they are prepared to help us migrate backend connectivity from EVSS to Lighthouse.

---
## Tasks
- [x] Review logs/data. Document EVSS endpoints.

## Acceptance Criteria
- [x] Documented endpoints that we can share with Lighthouse team.
---

[2021-12-13 20:46] pshahVA commented on #32855
confirmed that this works.

[2021-12-13 20:48] vhenry07 opened #34043 "Claim Status Tool - Quantitative Analysis"
## Issue Description
Quantitative analysis of the Claim Status Tool.

---
## Tasks
- [ ] Review logs/data.

## Acceptance Criteria
- [ ] Documented observations and recommendations.
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to an Epic** (what body of work is this a part of?)
- [ ] **Labeled with Team** (`product support`, `

[2021-12-13 20:48] lzapson commented on #34010
Worked with platform support, needed to temporarily disable the winnat service, to resolve docker permission access errors

[2021-12-13 20:49] #34010 closed

[2021-12-13 20:50] theodur commented on #33182
The PR for this has been merged. I'll monitor changed app PRs to confirm everything is working properly

[2021-12-13 20:51] nsoutouras commented on #32923
Plannin: Close

[2021-12-13 20:51] AGarcia-Clarity commented on #33111
@nsoutouras @joeniquette This particular ticket can be closed however another ticket should be created to address the inconsistency of system time.

[2021-12-13 20:52] nsoutouras commented on #30235
Note to Nick: Allows auto login

[2021-12-13 20:54] nsoutouras commented on #32270
Nick note: When a user logs in, certain SAML header attributes come from login.   MPI (address, etc...).  This ticket reduces MPI calls and eliminates making duplicate calls.  Improves performance.

[2021-12-13 20:56] nsoutouras commented on #32310
Nick note: From a user perspective, user cannot log into VA.gov if they have multiple MHV identifiers.  After this is fixed, user with multiple MHV iders (valid) will be able to log in to va.gov

[2021-12-13 20:57] jimuhh commented on #33477
Thanks @hdjustice and @tressaellen. It looks like you have the IA concerns well-integrated into your design and research plans, so I have no other feedback. Great work!

[2021-12-13 20:57] Samara-Strauss commented on #32917
Notification preferences show and and work in prod, so we're good to go on this.

[2021-12-13 20:58] LindseySaari commented on #33446
Monday update: [PR opened here in the devops repo](https://github.com/department-of-veterans-affairs/devops/pull/10428) to add the DD APM env var and [PR to add DD Client to vets-api](https://github.com/department-of-veterans-affairs/vets-api/pull/8659)

[2021-12-13 20:59] nsoutouras commented on #34033
Ongoing services.  User story: On production if a user tries to view their CH.33 (GI bill) benefits, call times out and doesn't display any information related to direct deposity.

[2021-12-13 21:00] bethpottsVADEPO commented on #33431
@RLHecht I also wanted to mention, we may not need to show all the PL edits for all the additional accordions the SME submitted changes for. If we can reduce the feedback that we'll send back to them where we generally agree with their input with just minor edits, that may simplify and speed up the process of getting these edits live. Maybe only call out in the Word doc where we want to revert bac

[2021-12-13 21:00] hdjustice commented on #33976
Code change was deployed to production, however the system still seems to be calling the endpoint for Edu Direct deposit.  Reopening ticket for continued work.

[2021-12-13 21:05] nsoutouras commented on #33830
Nick: Similar to earlier MHV story (and DS Logon version).  Certain ID's (GCID) are parsed by IAM and put in SAML header.  Their parsing doesn't appear to be as solid as we'd like.  If a user has multiple CORP ID's, even if some are inactive they are still returned by IAM.  This work lets us parse it ourselves.

**If a user has an inactive Corp ID, they potentially would not be able to log in.  Th

[2021-12-13 21:07] holdenhinkle commented on #34039
Survey - https://app.optimalworkshop.com/a/adhoc/questions/surveys/56609/edit#/t/setup/questionnaire

Preview link - https://adhoc.optimalworkshop.com/questions/z2roj1vm

[2021-12-13 21:09] nsoutouras commented on #33748
See #33830

[2021-12-13 21:09] nsoutouras commented on #33472
Nick: By reducing strings/logic, we reduce complexity and potential bugs.

[2021-12-13 21:10] nsoutouras commented on #30007
Nick: General cleanup of tech debt.

[2021-12-13 21:11] laurensimpson14 commented on #34029
Access granted @cesaresantiago 🚀 Feel free to re-open this ticket if you have any trouble getting logged in. You'll receive a welcome email from Google Analytics and from Domo.

[2021-12-13 21:12] nsoutouras commented on #32381
Nick: Engineer - Adds the ability to have more confidence in making changes to our infrastructure.

[2021-12-13 21:12] #34029 closed

[2021-12-13 21:12] nsoutouras commented on #31466
Nick: See #32381

[2021-12-13 21:13] nsoutouras commented on #7300
Nick: Allows us to automatically pull metadata file changes that SSOe makes.  Benefit: Less downtime and less engineering time dedicated to creating PR.

[2021-12-13 21:14] omgitsbillryan opened #34044 "Provision Self-Hosted GitHub Runners (va-virtual-agent)"
## The Problem
https://github.com/department-of-veterans-affairs/va-virtual-agent would like to run github actions using self-hosted runners.

## Extra Context
- [slack thread](https://dsva.slack.com/archives/CBU0KDSB1/p1639165884335900)

## Work to be Done
- [x] Provision github actions runners to `va-virtual-agent` github repo

[2021-12-13 21:15] laurensimpson14 commented on #34013
Hi Wesley! You now have access to Google Analytics - you should get a welcome email 🚀 Feel free to re-open this request if you have any issues getting logged in!

[2021-12-13 21:15] #34013 closed

[2021-12-13 21:16] laurensimpson14 commented on #33889
Hi Denise 👋 You now have access to Google Analytics! You should get a welcome email from them. Please feel free to re-open this ticket if you have any trouble getting logged in!

[2021-12-13 21:16] #33889 closed

[2021-12-13 21:18] #33630 closed

[2021-12-13 21:18] laurensimpson14 commented on #33833
Hi @mrblanco1 👋 To help me complete this request could you please use `/support` on the DSVA Slack channel `#vfs-platform-support`, then select `Analytics` in the "I need help from" dropdown, and then add in the Summary of request section:

- This issue's link
- Your email address that you want access provisioned to

I appreciate it!

[2021-12-13 21:18] MarciMcGuireGCIO commented on #33620
Perigean contract renewed 12/13/2021

[2021-12-13 21:20] MarciMcGuireGCIO commented on #31815
Blocked until we get field specs from MPI

[2021-12-13 21:21] nsoutouras commented on #34028
12/13/21 Planning - Potential issues around detecting the cause of this issue.
Best course of action now is to go through logs and detect how often this is occurring.  If it's frequent, we need to create logging that can notify help desk to hopefully solve this more quickly with veterans.

**TO DO**
- [ ] Create ticket for logging work

[2021-12-13 21:22] MarciMcGuireGCIO commented on #33438
@cgednalske are there any tasks on this ticket that can be broken into a smaller ticket to work on between now and when you leave for the holidays?  Thanks!

[2021-12-13 21:22] laurensimpson14 commented on #33744
@AirWalters I tried to add access to your bylight.com email address, however I got this error:
![image](https://user-images.githubusercontent.com/80417436/145890872-5255e4f6-d0a1-4978-be09-921fb99dc9a7.png)

You'll need to unlink this from your personal Gmail and create a full Google account with it.
https://accounts.google.com/SignUp?hl=en
Click "Use my current email address instead"

[2021-12-13 21:23] seanasewell commented on #33199
@shiragoodman Can you provide the link to the VFS team roster? I am having troubles finding it.

[2021-12-13 21:24] nsoutouras opened #34045 "Infinite Loop logging work"
@nsoutouras  Fill in

[2021-12-13 21:28] #31406 closed

[2021-12-13 21:28] shiragoodman commented on #33199
VFS Team Roster: https://docs.google.com/spreadsheets/d/11dpCJjhs007uC6CWJI6djy3OAvjB8rHB65m0Yj8HXIw/edit?folder=0ALlyxurHpUilUk9PVA#gid=877379155

[2021-12-13 21:28] shiragoodman opened #34046 "Move VFS Team Roster to secure location"
## Issue Description
The VFS Team Roster lives in a Google Sheets document within an Oddball/VSP Google Drive account. We should not be using Google documentation for VA.gov government owned information, so the VFS Team Roster will need to move to a more secure location.

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created

[2021-12-13 21:28] seanasewell opened #34047 "Design Feedback - Design Intent - Authenticated Experience, My VA Enhancements - Payment"
## VFS acceptance criteria
- [ ] Let Platform know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions

## Feedback
- **Must** = the feedback must be applied
- **Should** = the feedback is best practice
- **Consider** = suggestions/enhancements

**Must:**
- The active links with colo

[2021-12-13 21:28] nsoutouras commented on #33836
Nick: This ticket encompasses researching and introducing Elixr to the identity team in preparation for next year.

[2021-12-13 21:29] laurensimpson14 commented on #33744
Disregard my last comment, @bsmartin-ep let me know that he's helping you. He's still waiting for approval.

[2021-12-13 21:30] AirWalters commented on #33744
Please use my VA email address: ***@***.******@***.***> – I have a completely separate google account just for my VA email, which I already have access to GA on, just need tag manager access.

Thank you,

ARIENNE WALTERS
User Experience Specialist, UCD Team Lead
View My ***@***.***/d13d9353d815422fae35c29efd621b888474037881539828253/calendar.html>

Mobile   (720) 448-3554
Email     ***@***.******@

[2021-12-13 21:32] wesrowe opened #34048 "Request access to Google Analytics and/or Domo"
# Request Google Analytics and/or Domo access

## What this form is for
Use this template to request access to Google Analytics and/or Domo. Please complete steps 1 & 2 below.

## 1. Access Requirements
Please check the analytics tool(s) you need access to:
- [x] Google Analytics
- [ ] Domo
- [ ] (Platform Teams only) BigQuery

## 2. User Email Address to Receive Access
**Due to privacy concerns,

[2021-12-13 21:33] nsoutouras commented on #33474
Nick: Add template.

[2021-12-13 21:36] nsoutouras commented on #32383
Nick: As an engineer, I should be able to run tests that mimic external dependency authentication, in order to have more confidence in changes made to infrastructure.

[2021-12-13 21:36] lwalsh617 commented on #17601
@bethpottsVADEPO I believe what you said above is correct. I haven't been able to find a source to corroborate it, though, so it's something we should flag for the SME to confirm.

[2021-12-13 21:37] nsoutouras commented on #30532
Nick: This is just documentation

[2021-12-13 21:39] bsmartin-ep commented on #33744
@AirWalters -

I went ahead and granted you Edit (but not Approve or Publish) rights while we await approval.  If you do have any changes, just send us them for approval?

If you have anyone else to add, can you email their addresses to me?

Thanks.

[2021-12-13 21:39] nsoutouras commented on #24692
12/13/21 Planning: We are confident the changes have already gone through and the ticket was not updated.  Closing.

[2021-12-13 21:39] #24692 closed

[2021-12-13 21:40] nsoutouras commented on #22140
12/13/21 Planning - Work done, ticket was not closed.

[2021-12-13 21:40] #22140 closed

[2021-12-13 21:41] AirWalters commented on #33744
Thanks, Brian.

Yes, please also add ***@***.******@***.***>

Thanks!

ARIENNE WALTERS
User Experience Specialist, UCD Team Lead
View My ***@***.***/d13d9353d815422fae35c29efd621b888474037881539828253/calendar.html>

Mobile   (720) 448-3554
Email     ***@***.******@***.***>

By Light Professional IT Services LLC
8484 Westpark Dr., Ste 600, McLean, VA 22102<https://goo.gl/maps/SVg4HKtJsu9kMsNy8>
(7

[2021-12-13 21:42] SKasimow opened #34049 "[FE] Modify *authenticated* 10-10ez to be uneditable"
## User Story

As a Veteran, I need to avoid inappropriate modifications to MPI so that my data remains accurate.

**If the user is authenticated,** we pre-populate some of the fields for them, based on the values in the Master Person Index (MPI). However, these fields are editable, and may be changed by the user.

## Expected Behavior

The purpose of this story is to ensure that veterans are unab

[2021-12-13 21:44] #33969 closed

[2021-12-13 21:44] jhouse-solvd commented on #33969
@kathleencrawford - submitted [this PR](https://github.com/department-of-veterans-affairs/devops/pull/10206) which was approved and merged by the Ops team. Jeremy Britt then applied the terraform and @RudyOnRails verified that the integration is working in staging. :)

more info in [this Slack thread](https://dsva.slack.com/archives/CJYRZK2HH/p1639428629441700)

[2021-12-13 21:47] rileyorr commented on #33164
@denisecoveyduc I pulled this ticket into the sprint since design finished early!
The designs:
- [Utility selection](https://preview.uxpin.com/552e9ad135f7d7ee943a92576feab45190b069f4#/pages/145111152/simulate/sitemap?mode=i)
- [Utility input](https://preview.uxpin.com/552e9ad135f7d7ee943a92576feab45190b069f4#/pages/145111153/simulate/sitemap?mode=i)

[2021-12-13 21:51] cgednalske commented on #33438
@MarciMcGuireGCIO scheduling/running/reviewing Pilot session(s) could be on their own ticket together along with revisions to Conversation Guide based on sessions.

And perhaps the items regarding recruitment (Review recruited participant list for requirements met and Follow up with Perigean re participant list) could be grouped, as they both deal with making sure we're meeting recruitment recruit

[2021-12-13 21:53] jhouse-solvd commented on #33969
@RudyOnRails - External services are documented on the platform website

[Developer docs > Integrations > External Integrations](https://depo-platform-documentation.scrollhelp.site/developer-docs/External-Integrations.640909834.html)

_As the integration goes live_, you'll want to work w/ your PM or PO to get this documented. It may already be part of the "launch checklist" for your team, but I'm

[2021-12-13 21:54] RLHecht commented on #32315
@denisecoveyduc We have 3 edits:

1. Let's change the first sentence to active voice: We updated your health care copay balance for ((facility name)) on ((patient statement date)).
2. Let's remove the "Thank you for your service" sign-off. It's odd to have a website thanking someone for their service.
3. Let's use contractions in the sentence underneath the sign-off (we do this as part of our plai

[2021-12-13 22:02] CBonade opened #34050 "QA Dashboard Documentation"
The QA Dashboard should have documentation covering the following:

- The purpose of each card
- Where the data comes from for each type of data
- What conclusions we can draw from each type of data and card

[2021-12-13 22:04] Kimberley2019 opened #34051 "[Tier 3] Claim Status not showing - SF 06259690"
## Issue Description
_Veteran is unable to view claim status while on VA.gov.  Review details in comments section._

---
## Tasks
- [ ] _Review provided details in ticket_
- [ ] _Review additional information from encrypted email_
- [ ] _Advise if additional information is required for review and resolution_
- [ ] _Contact veteran and set up shadowing call if needed_

## Acceptance Criteria
- [ ]

[2021-12-13 22:06] Kimberley2019 commented on #34051
Case Notes from SF
Verified Veteran

Veteran called in due to not being able to see her claim status online.
Veteran states this has been going on for a few months.
Veteran states she has even went to a different device with same error message.
Veterans error message is " compensation issue"
Veteran states the only thing she can see is pending claim.
Veteran states she can not even see any informa

[2021-12-13 22:06] CBonade commented on #34050
Documentation is drafted and is in formatting stages. The next steps will be previewing it in scroll viewport and cleaning up the manual functional testing section before submitting it for review and approval for publishing.

[2021-12-13 22:06] RLHecht commented on #33729
@lunascoop I realized that I didn't specify above that we are only going to take the address blocks out of the first set of accordions where there isn't running text and it's clear we are showing an address. Could you please put them back in to the accordions that are farther down the page? Thanks!

[2021-12-13 22:08] lunascoop commented on #33309
@RLHecht these pages are ready for review. I've also updated sighted language instances.

2022 VA health care copay rates: http://preview-prod.vfs.va.gov/preview?nodeId=703
Past rates: 2021 VA health care copay rates: http://preview-prod.vfs.va.gov/preview?nodeId=42031
Past rates: 2020 VA health care copay rates: http://preview-prod.vfs.va.gov/preview?nodeId=11755

[2021-12-13 22:09] jfinnern commented on #33880
@noahgelman Hi Noah, navigation to and from the link is currently ok, but what is the exact expected result of clicking/activating the "skip to estimated benefits" link?

[2021-12-13 22:10] Kimberley2019 commented on #34051
@vhenry07 email was sent to you containing PII.

From: REDACTED
Sent: Monday, December 13, 2021 3:51 PM
To: VA Technical Support <VATechnicalSupport@va.gov>
Subject: [EXTERNAL] Re: Claim status tool issue

The issue happens on every device mac or dell, safari or explorer or google chrome. I use va.gov. When I click my claim it never shows the status. Just says there is a compensation issue.

On De

[2021-12-13 22:13] lunascoop commented on #33527
@RLHecht this page is ready for review. I made one change that may require Beth or Danielle's approval. It's for step 1 in the process list. Currently it says: You'll find the link to this page below. But, there is no link below, though there is a link right above the process list.

So I deleted **You'll find the link to this page below.** and added a text link to **Go to FHFA’s Conforming Loan Li

[2021-12-13 22:14] brianalloyd commented on #33811
Closing this ticket out in support.

[2021-12-13 22:14] #33811 closed

[2021-12-13 22:15] lunascoop commented on #33729
Done

[2021-12-13 22:16] bsmartin-ep commented on #33833
Access granted.

[2021-12-13 22:16] #33833 closed

[2021-12-13 22:17] #32923 closed

[2021-12-13 22:18] #33980 closed

[2021-12-13 22:19] nsoutouras opened #34052 "Infinite loop on login due to incorrect time - Logging work"
### **Description**
A small subset of users are seeing an infinite loop on login to va.gov.  This appears to be caused when the user has their machine clock set improperly.  We want to determine how frequent this is happening.

### **User Story**
**As a** va.gov Engineer
**I want** to be able to understand how frequently users are getting the infinite loop issue
**So that** I can assign an appropr

[2021-12-13 22:31] chloedotbrown opened #34053 "Revisions to AooA dashboard"
## Issue Description
Improvements to AooA dashboard to make WoW comparisons easier so the Analytics team can better understand how our users are interacting with our data products. In addition, revisions should make metrics easier for the Analytics team to report up to OCTO-DE.

---
## Tasks
- [x] **KR1:** Switch "Decision-making" section to so metrics are computed by VFS teams/products eligible f

[2021-12-13 22:35] joeniquette commented on #27020
No longer required.

[2021-12-13 22:35] #27020 closed

[2021-12-13 22:35] vlivshin commented on #31386
Summary of audit: https://docs.google.com/document/d/1bMPHOGgoHchaXbkVq8cGWYJmXidL_NDj-nGr-HEcGno/edit?pli=1

[2021-12-13 22:36] #15749 closed

[2021-12-13 22:37] joeniquette commented on #30409
Trevor completed this with his accounts table work.

[2021-12-13 22:37] #30409 closed

[2021-12-13 22:39] joeniquette commented on #29651
work is submitted to proper team for completion.

[2021-12-13 22:39] #29651 closed

[2021-12-13 22:40] joeniquette commented on #26085
no longer required

[2021-12-13 22:40] #26085 closed

[2021-12-13 22:40] randomsync opened #34054 "[BE] Remove feature flags that are no longer needed"
## Description
There are a few feature flags that are no longer needed and can be removed. This removal needs to be coordinated with front-end team so that any vets-website code is also updated or at the least, can handle the removal of these feature flags.

## Related Documentation

- [Sketch](https://www.sketch.com/s/e79a827e-42cf-4a82-b554-874c75b5c70e)
- [Product Docs](https://github.com/depar

[2021-12-13 22:42] #24182 closed

[2021-12-13 22:48] #31907 closed

[2021-12-13 22:54] laurensimpson14 commented on #34048
@wesrowe You should now have access! Please feel free to re-open this ticket if you have any trouble getting logged in.

[2021-12-13 22:54] #34048 closed

[2021-12-13 23:01] #32442 closed

[2021-12-13 23:02] SKasimow opened #34055 "Collaboration Cycle Kickoff [10-10 Caregivers, Mulesoft Integration]"
## Steps to complete the Collaboration Cycle Kickoff

**VFS Product Manager**

- [x] Create this issue and notify the Collaboration Cycle team of this ticket in the in #vfs-platform-support ([see Slack Workflow (User guide](https://depo-platform-documentation.scrollhelp.site/support/Getting-help-from-the-Platform-in-Slack.1439138197.html)).
- [x] Answer the questions below and attach any artifacts

[2021-12-13 23:03] #31508 closed

[2021-12-13 23:04] #19954 closed

[2021-12-13 23:07] kelsonic commented on #33951
PR merged, will go out with daily tomorrow

[2021-12-13 23:12] #32489 closed

[2021-12-13 23:12] #32490 closed

[2021-12-13 23:12] #33380 closed

[2021-12-13 23:18] tlei123 commented on #33516
hi @SKasimow !  The Use Cases look pretty good, and should all be in-QA-scope.  Below are just a few things for follow-up...

- **Description**: No need to include interactive/implementational details; that's what I'll flesh-out in my test cases in TestRail.  [But thx for saving me some work there!  :D]  Just a brief description of the distinct user-flow for each Case would be enough.  Feel free t

[2021-12-13 23:18] lindsay-insco opened #34056 "Help Desk SOP Guide"
- [x] Meet with @lindsay-insco to discuss document
- [x] Create rough draft document
- [ ] Present to VT leadership

[2021-12-13 23:35] SKasimow commented on #34055
@MickinSahni Hi Mickin - please take a look and then I'll submit

[2021-12-13 23:54] kanchanasuriya commented on #32945
After discussing with the team, instead of using vets-api/backend to handle scenarios on emitting metrics at user level with manipulation at different layers, front end would the best place to emit user-level metrics for precheck-in workflow.

[2021-12-13 23:54] #32945 closed

[2021-12-13 23:56] lwalsh617 commented on #33723
@bethpottsVADEPO - I revised the table in GH with the total number of 2020/2021 R&S articles that cover the topics (Account & Profile, Burials & Memorials, etc.). That's now the 1st column. The 2nd column shows the number of faqs covered by the articles. Let me know if you need anything else on this.
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/sitewide

[2021-12-14 00:01] kanchanasuriya opened #34057 "[BE] Deprecate v0 endpoints"
## Description
Remove unused v0 PatientCheckIns endpoint from vets-api

## Tasks
- [ ] Identify & remove service layer code used by v0 endpoints
- [ ] Identify & remove model code used by v0 endpoints
- [ ] Remove v0 swagger docs

## Acceptance Criteria

- [ ] Deployed and tested on staging.

[2021-12-14 00:42] cindymerrill commented on #32885
Revised my topline summary per feedback from Brian and posted it on slack: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/public-websites/outreach-and-events/research/topline.md

Started working on full report and data synthesis. Drafted enough to discuss preliminary recommendations with the team tomorrow (Tue).

[2021-12-14 00:46] ERRonat0609 commented on #33878
@mattpointzxer0 - Per Shira, you must validate that all launch-blocking issues have been corrected. Please validate and let me know if you have any questions. Thanks!!

[2021-12-14 00:49] ERRonat0609 commented on #33875
@mattpointzxer0 - per Shira, you need to review all launch blockers to validate that they have been corrected. Please review and let me know if you have any questions. Thanks!!

[2021-12-14 00:51] ERRonat0609 commented on #33876
@mattpointzxer0 - per Shira, you are the one to review all launch-blockers to verify that they have been corrected. Please review and let me know if you have any questions. Thanks!!

[2021-12-14 02:00] RudyOnRails opened #34058 "figure out staging->LGY-SQA env issue"
## Background

After the first deploy to staging for the first round of LGY features, we were getting a 503 back from the server.

## Supporting Info

- PS Request: https://dsva.slack.com/archives/CBU0KDSB1/p1639159467291300
- Ops issue: https://github.com/department-of-veterans-affairs/va.gov-team/issues/33969
- resolution thread: https://dsva.slack.com/archives/CJYRZK2HH/p1639428629441700

## Ac

[2021-12-14 02:00] #34058 closed

[2021-12-14 02:20] RudyOnRails opened #34059 "Address "Active COE already exists" in `coe_status`"
## Background

Active COE already exists - WILL NEED TO WAIT UNTIL KELLI PREPS DATA NEXT WEEK
GET /api/eligibility/determination => "Eligible"
GET /api/eligibility/application => 200/"any status"

return to FE: `available`

## Considerations
- Initial ticket that included this work: https://github.com/department-of-veterans-affairs/va.gov-team/issues/33719

## Acceptance Criteria
- [x] Code and te

[2021-12-14 02:26] RudyOnRails opened #34060 "Address "Needs supporting documentation" in `coe_status`"
## Background

Needs supporting documentation - WILL NEED TO WAIT UNTIL KELLI PREPS DATA NEXT WEEK
GET /api/eligibility/determination => " Not Eligible"
GET /api/eligibility/application => 404 ?? (doesn't matter?)
return to frontend: `ineligible`

## Considerations
- Initial ticket that included this work: https://github.com/department-of-veterans-affairs/va.gov-team/issues/33719

## Acceptance Cr

[2021-12-14 03:01] CosmicSyntax opened #34061 "Access for Daniel Choi"
### COR Name

Crystal Moultrie

### Vendor Onboarding Representative Name

Liberty IT -  Michael G. Lovejoy

### Your Name

Daniel Choi

### Your Email

daniel.choi@adhocteam.us

### Name of Your Team

Integration Experience Team

### Service(s) You Want Access To

SOCKS, AWS

### Public SSH Key

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDBXwQz/D/erdGk7BtjdsPAe0Bp4JnAit3nnd7FhTVyY6OQdP3TfzsTTJB4TDAWkS

[2021-12-14 03:15] #33721 closed

[2021-12-14 03:15] #33707 closed

[2021-12-14 03:15] #33709 closed

[2021-12-14 04:58] SgardnerPMP opened #34062 "[Quality Assurance Audit] Post Production Audit of VAMC VA Fayetteville Arkansas health care for links, standards, and design standards.[BA]"
## User Story
As a VHA Digital Media web manager, the system websites need to be audited for standardization and mistakes, so websites can be updated an corrected to meet design standards.

## Goal
Remove deviations from standards.

## Resources - Tools - Documentation
[Audit checklist](https://governmentcio.sharepoint.com/sites/VSATeam/Shared%20Documents/Forms/AllItems.aspx?newTargetListUrl=%2Fsi

[2021-12-14 04:58] candy-gcio commented on #33021
[UAT Findings Summary](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/ebenefits/features/dependency-verification/research-design/UAT/dependency-verification-UAT-summary.md)

[2021-12-14 05:01] SgardnerPMP opened #34063 "[Quality Assurance Audit] Post Production Audit of VAMC VA Cheyenne health care for links, standards, and design standards.[BA]"
## User Story
As a VHA Digital Media web manager, the system websites need to be audited for standardization and mistakes, so websites can be updated an corrected to meet design standards.

## Goal
Remove deviations from standards.

## Resources - Tools - Documentation
[Audit checklist](https://governmentcio.sharepoint.com/sites/VSATeam/Shared%20Documents/Forms/AllItems.aspx?newTargetListUrl=%2Fsi

[2021-12-14 05:03] SgardnerPMP opened #34064 "[Quality Assurance Audit] Post Production Audit of VAMC VA Montana health care for links, standards, and design standards.[BA]"
## User Story
As a VHA Digital Media web manager, the system websites need to be audited for standardization and mistakes, so websites can be updated an corrected to meet design standards.

## Goal
Remove deviations from standards.

## Resources - Tools - Documentation
[Audit checklist](https://governmentcio.sharepoint.com/sites/VSATeam/Shared%20Documents/Forms/AllItems.aspx?newTargetListUrl=%2Fsi

[2021-12-14 05:06] SgardnerPMP opened #34065 "[Quality Assurance Audit] Post Production Audit of VAMC VA Charleston health care for links, standards, and design standards.[BA]"
## User Story
As a VHA Digital Media web manager, the system websites need to be audited for standardization and mistakes, so websites can be updated an corrected to meet design standards.

## Goal
Remove deviations from standards.

## Resources - Tools - Documentation
[Audit checklist](https://governmentcio.sharepoint.com/sites/VSATeam/Shared%20Documents/Forms/AllItems.aspx?newTargetListUrl=%2Fsi

[2021-12-14 05:09] SgardnerPMP opened #34066 "[Quality Assurance Audit] Post Production Audit of VAMC VA Columbia South Carolina health care for links, standards, and design standards.[BA]"
## User Story
As a VHA Digital Media web manager, the system websites need to be audited for standardization and mistakes, so websites can be updated an corrected to meet design standards.

## Goal
Remove deviations from standards.

## Resources - Tools - Documentation
[Audit checklist](https://governmentcio.sharepoint.com/sites/VSATeam/Shared%20Documents/Forms/AllItems.aspx?newTargetListUrl=%2Fsi

[2021-12-14 05:12] SgardnerPMP opened #34067 "[Quality Assurance Audit] Post Production Audit of VAMC VA Black Hills health care for links, standards, and design standards.[BA]"
## User Story
As a VHA Digital Media web manager, the system websites need to be audited for standardization and mistakes, so websites can be updated an corrected to meet design standards.

## Goal
Remove deviations from standards.

## Resources - Tools - Documentation
[Audit checklist](https://governmentcio.sharepoint.com/sites/VSATeam/Shared%20Documents/Forms/AllItems.aspx?newTargetListUrl=%2Fsi

[2021-12-14 05:21] SgardnerPMP opened #34068 "[Quality Assurance Audit] Post Production Audit of VAMC VA Hampton health care for links, standards, and design standards.[BA]"
## User Story
As a VHA Digital Media web manager, the system websites need to be audited for standardization and mistakes, so websites can be updated an corrected to meet design standards.

## Goal
Remove deviations from standards.

## Resources - Tools - Documentation
[Audit checklist](https://governmentcio.sharepoint.com/sites/VSATeam/Shared%20Documents/Forms/AllItems.aspx?newTargetListUrl=%2Fsi

[2021-12-14 05:23] SgardnerPMP opened #34069 "[Quality Assurance Audit] Post Production Audit of VAMC VA Richmond health care for links, standards, and design standards.[BA]"
## User Story
As a VHA Digital Media web manager, the system websites need to be audited for standardization and mistakes, so websites can be updated an corrected to meet design standards.

## Goal
Remove deviations from standards.

## Resources - Tools - Documentation
[Audit checklist](https://governmentcio.sharepoint.com/sites/VSATeam/Shared%20Documents/Forms/AllItems.aspx?newTargetListUrl=%2Fsi

[2021-12-14 05:38] SgardnerPMP opened #34070 "[VAMC] Review and list all Pages with DoD shared and independent pages for Lovell Federal health care [BA]"
## Story
As a Veteran and DoD active duty I need to know the correct web pages for my support, so I can find the health service support I need, whether it is VA health or TriCare support.

## Task
Create a artifact that documents all shared resources utilized on Lovell Federal health care
- [x] Document each web page on site that has shared with VA and DoD resources
- [x] Document each web page th

[2021-12-14 13:05] JennSchleicher opened #34071 "Adding Jennifer Schleicher to DSVA Slack"
# Description

- Please add schleicher_jennifer@bah.com as a full member.

COR Name
Edward Hensel

Vendor Onboarding Representative Name
BAH - Jessica Riggs

Your Name
Jennifer Schleicher

Your Email
schleicher_jennifer@bah.com

Name of Your Team
BID APL Help Desk

[2021-12-14 13:14] vhenry07 commented on #33307
Closing complete. Meetings with team and leadership to discuss support plan going forward. Prepared proposed support contact template, documenting data required for troubleshooting. Research secure repo's. Other support tickets opened by contact center during the sprint.

[2021-12-14 13:14] #33307 closed

[2021-12-14 13:23] alsleaders commented on #33944
Today I'm testing my fix and the tests associated with the fix.  This PR should go in today.

[2021-12-14 13:50] hdjustice commented on #34047
@Samara-Strauss This is the ticket resulting from the Design Intent meeting.

[2021-12-14 14:06] michelpmcdonald opened #34072 "Hypertension Fast Track Support"
## Issue Description
The Hypertension Fast track teams need support to help integrate their new hypertension fast track workflow into the 526 submission process.  They are providing rapid processing for single issue hypertension claims that already have the needed medical reports available.

The fast track team has limited access staging\review instances and needs help deploying, running and debug

[2021-12-14 14:08] michelpmcdonald commented on #34072
Support and testing was done during this spring.
An issue was uncovered during testing, evss was not accepting the RRD special issue in the hypertension claim.  Evss is going to correct, and the hypertension will re-test.

[2021-12-14 14:17] michelpmcdonald commented on #34072
Closing this sprints hypertension support

[2021-12-14 14:17] #34072 closed

[2021-12-14 14:19] MarciMcGuireGCIO commented on #31685
^^ @adamwhitlock1 this is the only update needed to close this out.  Thx!! 😃

[2021-12-14 14:21] MarciMcGuireGCIO commented on #31685
Noting that I deleted a few comments that were left on the wrong ticket to avoid confusion.

[2021-12-14 14:24] LindaLi123 opened #34073 "S+D Sprint 63 Priorities"
## Search & Discovery Team Sprint 63 Priorities
 To summarize and track team efforts aligned to Sprint 62(Dec 15 -Dec 28)

## Sprint Goals/ Priorities DEV

- Find a form Defect [33348](https://app.zenhub.com/workspaces/vsa---search--discovery-61538bc5cf1e54001a350379/issues/department-of-veterans-affairs/va.gov-team/33348), [33342](https://app.zenhub.com/workspaces/vsa---search--discovery-61538bc5

[2021-12-14 14:25] #33355 closed

[2021-12-14 14:27] RLHecht commented on #33729
Thanks! Just published and will close when live.

[2021-12-14 14:27] #32917 closed

[2021-12-14 14:29] hdjustice commented on #33293
Design Intent meeting occurred on Monday 12/13 with 1 MUST and 1 SHOULD items for feedback.  Ticket created by VSP team.  This ticket can now be closed

[2021-12-14 14:29] #33293 closed

[2021-12-14 14:30] adamwhitlock1 commented on #33715
Summary of discovery work:

https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/content-localization/development/Discovery-Fact-Sheet-Search.md

I am leaning toward the "Find Forms" search being the most scalable, but involved overall. The "Resources and Support" search is interesting because if could be implemented so that we could use the CMS to manage fact sheets

[2021-12-14 14:32] BoDavis-BD opened #34074 "Offboarding of James "Bo" Davis - 12/31/2021"
# Instructions
Fill out name of individual and *Description* section below.

# Description
- Please provide the name of the individual needing offboarded.

- Please provide the name of their team, their role on that team, expected last day, and the name of the company they work for.

- Please provide any type of access they may have and their GitHub username.

## AC
*Performed by Platform team*
 -

[2021-12-14 14:32] craigwheeler opened #34075 "[MCP] render statements 6 months from the current date"
## Issue Description
copay balance cards should only render statements within the last 6 months from the current date otherwise a no history alert should display

![Medical Copays  Veterans Affairs 2021-12-14 09-31-41(1).png](https://images.zenhubusercontent.com/5f355b2a6fe9a1b76ba980d4/3ef4dfa5-b6bf-4a29-89f6-200fb8dcd105)

---
## Tasks
- [ ] filter statements to only render items within the last

[2021-12-14 14:33] #33294 closed

[2021-12-14 14:34] jennaouellet commented on #34074
No GA or Domo access

[2021-12-14 14:35] vhenry07 commented on #32394
Progress made, expect to be completed soon, so rolling to next sprint.

[2021-12-14 14:36] lunascoop commented on #33720
@RLHecht I added the note re: vaccine choice. These pages are ready for review.

Preguntas frecuentes sobre el coronavirus: Lo que necesitan saber los Veteranos: http://preview-prod.vfs.va.gov/preview?nodeId=14580
Sobre las vacunas COVID-19: http://preview-prod.vfs.va.gov/preview?nodeId=36461
Mga karaniwang katanungan tungkol sa Coronavirus: Detalye na kailangan malaman ng mga Beterano: http://pre

[2021-12-14 14:41] Samara-Strauss commented on #33976
OK, so as best as I could, I validated that we are not calling the CH33 endpoint in the network tab with My VA on staging. This should be good to go.
<img width="563" alt="Screen Shot 2021-12-14 at 9 34 00 AM" src="https://user-images.githubusercontent.com/34068740/146019567-66b9bcb3-71b9-439a-a693-0e8f0341b842.png">
<img width="559" alt="Screen Shot 2021-12-14 at 9 34 37 AM" src="https://user-ima

[2021-12-14 14:41] LindaLi123 commented on #33251
Pulling into Sprint 63

[2021-12-14 14:42] JordanSWhite opened #34076 "Design Intent"
Initiate and hold the Design Intent phase of the Collaboration Cycle

[2021-12-14 14:48] MarciMcGuireGCIO commented on #33624
@tmitchellgcio - this can be deployed if you have not already begun that process.

[2021-12-14 14:48] #33624 closed

[2021-12-14 14:52] RLHecht commented on #33720
Thanks @lunascoop I reviewed and published.

[2021-12-14 14:55] #32095 closed

[2021-12-14 14:56] RudyOnRails opened #34077 "LGY: fill out ops template for new external service documentation"
## BACKGROUND:
The basics of all new services need to be documented so Ops can know what it is, what it does, who runs it etc.

https://depo-platform-documentation.scrollhelp.site/developer-docs/Template.1887567914.html

## Additional Info
Per jbritt1 - https://dsva.slack.com/archives/CJYRZK2HH/p1639489531454300?thread_ts=1639428629.441700&cid=CJYRZK2HH

## Acceptance Criteria
- [ ] The template i

[2021-12-14 15:01] michelpmcdonald commented on #29082
Initial discussions with designer:
https://dsva.slack.com/archives/C5AGLBNRK/p1639065613346800
Idea

Trying to find if-where we can grab a claim's decision letter:

https://adhoc.slack.com/archives/C01KFC934GJ/p1639492984032900?thread_ts=1638803468.025200&cid=C01KFC934GJ

https://dsva.slack.com/archives/CK466V65V/p1639492175003700

https://dsva.slack.com/archives/CE4304QPK/p1639417930279100

https

[2021-12-14 15:05] brianalloyd commented on #33951
Test, merged and validated. Closing ticket in support.

[2021-12-14 15:05] #33951 closed

[2021-12-14 15:07] brianalloyd commented on #33219
@kelsonic we are ready to jump to 50% now.

[2021-12-14 15:07] brianalloyd commented on #33650
Completed, closing ticket in support.

[2021-12-14 15:07] #33650 closed

[2021-12-14 15:08] omgitsbillryan opened #34078 "Provision Self-Hosted GitHub Runners (va.gov-sso-smoke-tests)"
## The Problem
https://github.com/department-of-veterans-affairs/va.gov-sso-smoke-tests would like to run github actions using self-hosted runners.

## Work to be Done
- [x] Provision github actions runners to va.gov-sso-smoke-tests github repo

[2021-12-14 15:13] noahgelman commented on #33879
close it

On Mon, Dec 13, 2021 at 3:29 PM shiragoodman ***@***.***> wrote:

[2021-12-14 15:14] noahgelman commented on #32363
We don't use the paid version

On Fri, Dec 10, 2021 at 2:31 PM Jim Ryan ***@***.***> wrote:

[2021-12-14 15:15] omgitsbillryan commented on #30524
One note - I didn't setup "int" - I don't know where `int-chip.vfs.va.gov` is supposed to point to.

I was able to find the other mappings by looking at the various ENV settings.yml files.

[2021-12-14 15:15] jwowk opened #34079 "Pharmacy SharePoint Page"

[2021-12-14 15:16] jwowk commented on #34079
Create SharePoint based user guide for Pharmacy Prescription Tracking

[2021-12-14 15:16] jwowk commented on #34079
SharePoint page pushed live.

[2021-12-14 15:16] #34079 closed

[2021-12-14 15:18] Samara-Strauss commented on #34047
@seanasewell Is there any leeway on this? Making the background white or gray is likely going to make these action items less noticeable, and the whole point of these callouts is to alert veterans that they need to take an action. We're using color here to communicate the following visual hierarchy:

1. Action items (yellow background)
2. Status information (grey boxes)
3. Links (white background)

[2021-12-14 15:18] jwowk opened #34080 "Application Threat Model FY21"

[2021-12-14 15:19] jwowk commented on #34080
Develop Application Threat Model for VEText - due by Apr 7, 2022

[2021-12-14 15:20] jwowk commented on #34080
12/13/21 - Updated with Rob's assistance to mitigate potential threats. Plan to have final version for upload to eMASS by 12/23/21.

[2021-12-14 15:20] alexandec commented on #32896
Progress here: I created a GitHub app from within DataDog. I had to create the app in my personal GitHub account. Then I requested to transfer the app to the department-of-veterans-affairs org. They will need to approve the transfer and add the app to the two repos we want to monitor.

[2021-12-14 15:21] jwowk commented on #33742
First 2 trainings complete. Plan for one additional session week of 12/13.

[2021-12-14 15:22] jwowk opened #34081 "ECHCS Anticoagulant Ad-Hoc Training"

[2021-12-14 15:23] jwowk commented on #34081
Provide training to ECHCS on how to send ad-hoc messages for anticoagulant clinic patients. Training occurs on 12/16.

[2021-12-14 15:23] jwowk commented on #32501
Platforms team in progress with re-baseline of VEText Linux servers.

[2021-12-14 15:25] jwowk commented on #32499
Database scan on hold pending platforms team creation of required AD user account on SQL 2019 Server. As of 12/14 account has not been created yet.

[2021-12-14 15:26] jwowk opened #34082 "Add Splunk as Monitoring Tool"

[2021-12-14 15:27] jwowk commented on #34082
Update eMASS documentation to note that Splunk is now being used as a monitoring tool for VEText.

[2021-12-14 15:30] cmaeng opened #34083 "Offboarding of David Montagna"
# Instructions
Fill out name of individual and *Description* section below.

# Description
- Please provide the name of the individual needing offboarded.

- Please provide the name of their team, their role on that team, expected last day, and the name of the company they work for.

- Please provide any type of access they may have and their GitHub username.

## AC
*Performed by Platform team*
 -

[2021-12-14 15:31] LinnJS opened #34084 "[MCP]: Filter Medical Copay Statements by Six Months"
## Technical Task

Filter statements from VBS by six months so no statements older than six months get sent to the frontend

## Expected Behavior

Medical copay statements are filtered by six months

## Acceptance Criteria

- [ ] Medical copays are older than six months are not sent to frontend

[2021-12-14 15:33] #34075 closed

[2021-12-14 15:33] craigwheeler commented on #34075
decided this should be handled on BE closing ticket

[2021-12-14 15:33] brianalloyd opened #34085 "[Design] O&E Design Updates from topline research summary"
## Issue Description
_In a recent top-of-mind summary of trends observed in the research sessions for the Outreach and events MVP, several design and FE updates are needed based on user feedback, the desired changes are detailed below in support_

Link to [Topline summary](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/public-websites/outreach-and-events/

[2021-12-14 15:35] LinnJS opened #34086 "[MCP]: Add feature flip around zero balance feature"
## Technical Task

Zero debt balance logic is adding zero debts to all users based on associated facilities which is giving QA trouble around hitting some edge cases. Add feature flip so we can hit all edge cases while we get zero debt balance logic nailed down.

## Expected Behavior

Zero debt balance has feature flip on BE

## Acceptance Criteria

- [ ] Zero debt balance can be feature flipped o

[2021-12-14 15:36] chancetheoriginal commented on #32591
App ready pending VA PM approval reqs:
- Color/interface updates have been completed

Still TBD: finish User Update request field autofill.

[2021-12-14 15:36] julieadair1 opened #34087 "[UX] Add/Edit Demographics"
As a veteran I need to be able to add or edit demographic information when I am checking in so that I can ensure VA has the most up to date information.

Tasks
- [x] Design wireframes - UX can be worked on.
- [x] The whole pattern of editing profile information in a workflow needs to be reviewed design system team (including accessibility).
- [x] Sync with profile on mailing/home address syncing p

[2021-12-14 15:37] lindsay-insco commented on #30539
On hold for user research

[2021-12-14 15:38] lindsay-insco commented on #32503
Completed.

[2021-12-14 15:38] #32503 closed

[2021-12-14 15:39] pcshah1026 commented on #29722
Went live on 12/09

[2021-12-14 15:39] #29722 closed

[2021-12-14 15:40] pcshah1026 commented on #29724
went live on 11/22.

[2021-12-14 15:40] #29724 closed

[2021-12-14 15:40] pcshah1026 commented on #29710
went live on 11/01

[2021-12-14 15:40] #29710 closed

[2021-12-14 15:41] julieadair1 opened #34088 "[UX] Review past appointment notification research"
Need to review previous research on appointment notifications.

[2021-12-14 15:42] lindsay-insco commented on #33820
Shifted to VA Side

[2021-12-14 15:42] Cmjones233 commented on #30283
completed and live

[2021-12-14 15:42] #30283 closed

[2021-12-14 15:43] julieadair1 opened #34089 "Appointment Notifications"
## Status
This is research that will be done by another team with us playing a support role. The research plan has already been developed by the other team.

## Description
Based on feedback we've received from veterans, there is a need to assess the current appointment notification landscape for potential consolidation and/or improvement so that veterans are not overloaded with appointment notifi

[2021-12-14 15:44] pcshah1026 commented on #30284
pilot is live

[2021-12-14 15:44] #30284 closed

[2021-12-14 15:44] pcshah1026 commented on #30289
Pilot is live.  waiting for memo for national rollout

[2021-12-14 15:45] jennaouellet commented on #34083
No GA or Domo access

[2021-12-14 15:45] lindsay-insco commented on #32642
@shanemelliott awaiting data

[2021-12-14 15:46] lindsay-insco commented on #30829
@chancetheoriginal look for district director

[2021-12-14 15:47] pcshah1026 commented on #24821
on hold.  pending VHA/OGC privacy review

[2021-12-14 15:49] jwowk opened #34090 "Send Recurring Open Office Hour Invites"

[2021-12-14 15:50] jwowk commented on #34090
Create new meeting invite and consolidate contact list for Open Office Hours. Completed on 12/13/21.

[2021-12-14 15:50] #34090 closed

[2021-12-14 15:51] jwowk opened #34091 "Create RTC Status Metrics"

[2021-12-14 15:52] jwowk commented on #34091
Identify the number of stations vs number of completed RTC spreadsheets for each VISN. Completed on 12/9.

[2021-12-14 15:52] #34091 closed

[2021-12-14 16:03] allison0034 commented on #34047
@Samara-Strauss, unfortunately we do not have any approved active link styles that currently have background colors. The styles used in the Mural are [background alerts](https://design.va.gov/components/alertboxes#background-color-only-alert) which are for immediate feedback. If you would like to propose a new style it will need to go through the [experimental design process](https://design.va.gov

[2021-12-14 16:06] RLHecht commented on #33431
@bethpottsVADEPO I reworked our edits in the doc. Can you please take a look? I didn't make some of the plain language edits we did in our original version. Let me know if you think this is good to send to the stakeholders.
[VA claim exam (CP exam)-edits.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/7713052/VA.claim.exam.CP.exam.-edits.docx)

[2021-12-14 16:25] jason-gcio opened #34092 "Collaboration Cycle Kickoff eBenefits, Specially Adapted Housing Grant"
## Steps to complete the Collaboration Cycle Kickoff

**VFS Product Manager**

- [x] Create this issue and notify the Collaboration Cycle team of this ticket in the in #vfs-platform-support ([see Slack Workflow (User guide](https://depo-platform-documentation.scrollhelp.site/support/Getting-help-from-the-Platform-in-Slack.1439138197.html)).
- [x] Answer the questions below and attach any artifacts

[2021-12-14 16:27] RLHecht commented on #33729
This page is live. @bethpottsVADEPO This is now published if you want to show to the design council as we were discussing yesterday.

[2021-12-14 16:27] #33729 closed

[2021-12-14 16:27] oseasmoran73 commented on #33419
I synced up with DST regarding migrating to Github Actions. The only thing `deploy` step does it update the gatsby site. [Formation](https://department-of-veterans-affairs.github.io/veteran-facing-services-tools/getting-started/common-tasks/updating-formation/) deploys are done manually.

## Test Plan

Currently, CI is comparing Github Actions to Jenkins. All the implementation is done, with the e

[2021-12-14 16:27] hdjustice commented on #33976
As confirmed via Slack message, Samara provided this update:   **Update: The My VA loading issue due to the CH33 endpoint has been resolved and confirmed to be working as expected in prod.**

[2021-12-14 16:27] #33976 closed

[2021-12-14 16:28] Samara-Strauss commented on #34047
Great, we will kick off the experimental design process.

[2021-12-14 16:37] jimuhh commented on #32845
Sure. I'll have a look at both.

[2021-12-14 16:37] jparker0425 opened #34093 "[UX] Create Research Plan for Appointment Notifications/Reminders"

[2021-12-14 16:40] lianilychee commented on #33764
12/14 Tues:
- Samara and Gretchen meeting today, and with Joe on Weds
  - today: set up drafts space to start working on content

[2021-12-14 16:41] tlei123 commented on #31863
Bugfix validated.  Closing this now.  Sorry, @srsuddath !  Been heads-down on other stuff.

[2021-12-14 16:41] #31863 closed

[2021-12-14 16:41] lianilychee commented on #33763
12/14 Tues:
- happening as part of meeting w/ Samara

[2021-12-14 16:43] miabecker opened #34094 "HOLD - OCC MHV VAMC Appointment Reminders"

[2021-12-14 16:44] Evafloyd commented on #33469
@sarahknoppA6 is taking the lead on facilitating this ongoing process so I believe we can close this ticket for myself and Dillo as it will be a full team effort going forward.

[2021-12-14 16:45] #33725 closed

[2021-12-14 16:45] #33469 closed

[2021-12-14 16:45] #33879 closed

[2021-12-14 16:47] shiragoodman commented on #33879
FYI since this was opened as a duplicate, I'll be removing some labels so it's not reflected on the [Collaboration Cycle Dashboard. ](https://va-gov.domo.com/page/1340527018?userId=1646566899)

[2021-12-14 16:49] hdjustice opened #34095 "[Design] My VA - Payments Information: Kick-off Experimental Design process for action link/alert style on My VA"
## Background

After Design Intent review, [we were advised that there are no approved active link styles that have background colors](https://github.com/department-of-veterans-affairs/va.gov-team/issues/34047), which would allow us to call out action items on the My VA dashboard (example: "You have 2 new messages" or "You have 2 outstanding debts").  Due to the lack of approved active link styles

[2021-12-14 16:49] sarahknoppA6 commented on #33449
Nira to propose to Mikki what we'd like to do and go from there.

[2021-12-14 16:50] sarahknoppA6 commented on #33449
@jparker0425 can you add the collab cycle ticket reference here so we can ensure that ticket is updated with any takeaways?

[2021-12-14 16:50] lianilychee commented on #33825
12/14 Tues:
- Liani to double-check Rachael's feedback
- Maybe extend 1:1 on Thurs with Gretchen

[2021-12-14 16:54] lianilychee commented on #33766
12/14 Tues:
- Today
  - Gretchen to relay to Jonathan and Rebekah, gonna see if Rebekah is willing to separate the doc
  - Liani can separate if Rebekah is unable to

[2021-12-14 16:55] larrywest52 commented on #33401
All done

[2021-12-14 17:00] brianalloyd opened #34096 "[FE] Make ID attributes in the footer unique by prepending footer-${id}"
## Issue Description
_In a recent daily a11y report and issue was identified via a dupe ID on the following [Page](https://www.va.gov/minneapolis-health-care/programs/) and was passed to the PW team who owns the footer actions_

Link to [Slack Thread](https://dsva.slack.com/archives/C01RAS1KAQK/p1639498380042900)

## Tasks
- make id attributes in the footer unique by prepending footer-${id} to the

[2021-12-14 17:03] chrvalla commented on #33439
Phase one complete. Link to research below. Research continues in Phase 2.
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/disability/526ez/research/Nov-2021/Discovery%20Form%20526.pdf

[2021-12-14 17:04] YanaRoy opened #34097 "Offboarding of Michael Peltz Sherman"
# Instructions
Fill out name of individual and *Description* section below.

# Description
- Please provide the name of the individual needing offboarded.

- Please provide the name of their team, their role on that team, expected last day, and the name of the company they work for.

- Please provide any type of access they may have and their GitHub username.

## AC
*Performed by Platform team*
 -

[2021-12-14 17:06] chrvalla commented on #33038
Page with additional question will be added to Form 526 (approved by Paul Shute). Content review Dec16,2021. Ticket closed. Project will continue as phase 2 next sprint.
Mural board:
https://app.mural.co/t/vsa8243/m/vsa8243/1638999373388/4dd450f76ceaa66dc01e552599f3b3811d047262?sender=cvalla7693

[2021-12-14 17:06] chrvalla commented on #33038
Page with additional question will be added to Form 526 (approved by Paul Shute). Content review Dec16,2021. Ticket closed. Project will continue as phase 2 next sprint.
Mural board:
https://app.mural.co/t/vsa8243/m/vsa8243/1638999373388/4dd450f76ceaa66dc01e552599f3b3811d047262?sender=cvalla7693

[2021-12-14 17:06] #33038 closed

[2021-12-14 17:08] YanaRoy opened #34098 "Offboarding of Zach Morel"
# Instructions
Fill out name of individual and *Description* section below.

# Description
- Please provide the name of the individual needing offboarded.

- Please provide the name of their team, their role on that team, expected last day, and the name of the company they work for.

- Please provide any type of access they may have and their GitHub username.

## AC
*Performed by Platform team*
 -

[2021-12-14 17:08] YanaRoy opened #34099 "Offboarding of Zach Morel"
# Instructions
Fill out name of individual and *Description* section below.

# Description
- Please provide the name of the individual needing offboarded.

- Please provide the name of their team, their role on that team, expected last day, and the name of the company they work for.

- Please provide any type of access they may have and their GitHub username.

## AC
*Performed by Platform team*
 -

[2021-12-14 17:09] chrvalla opened #34100 "Phase 2 - Form 526 PTSD added question"
## Issue Description
Explore how we can improve the Veteran experience with our online forms

---
## Tasks
- [ ] Explore how we can remove questions (that is triggering for many veterans) about PTSD in Form 526
- [ ] Work with Paul Shute on identifying the legal language we need to use for this project.
- [ ] Design pages where the veteran is asked about "fear of hostile military or terrorist acti

[2021-12-14 17:10] YanaRoy opened #34101 "Offboarding of Becca Walsh"
# Instructions
Fill out name of individual and *Description* section below.

# Description
- Please provide the name of the individual needing offboarded.

- Please provide the name of their team, their role on that team, expected last day, and the name of the company they work for.

- Please provide any type of access they may have and their GitHub username.

## AC
*Performed by Platform team*
 -

[2021-12-14 17:14] chrvalla opened #34102 "Phase 2 - Form 526 Improvements: task list approach etc."
## Issue Description
Explore how we can improve the Veteran experience with our online forms

---
## Tasks
- [x] How can Form 526 be improved by creating a streak effect (easy questions first)?
- [x] How can Form 526 be improved by using a milestone submission approach?
- [x] How can Form 526 be improved by using a Task list approach design?

## Acceptance Criteria
- [x] Documented form improvemen

[2021-12-14 17:16] AdamFreemer commented on #33881
@shiragoodman Hi Shira! Question on one particular part of this one:

"The a tag does not need the aria-labelledby property to point to it's own content."

Here's an example section for discussion on:
[code]

What are we looking for in the `aria-labelledby` content exactly? The rest of this task seems clear, just this particular one I was looking for a little more clarity on.

[2021-12-14 17:22] jchilders commented on #32137
### Discovery

more complicated than anticipated.

The recommended path forward was to provide [bypass the SchemaForm](https://department-of-veterans-affairs.github.io/veteran-facing-services-tools/forms/bypassing-schemaform/) and provide a custom React component via the `CustomPage` and `CustomPageReview` attributes for the Vet Info page in `config/form.js` for HCA. A branch -- 32137_cg_read_only

[2021-12-14 17:29] jennaouellet commented on #34101
GA access revoked, no Domo access

[2021-12-14 17:30] Kimberley2019 opened #34103 "[Tier 3] Disability claim upload issue - SF 05763854"
## Issue Description
_Caller is unable to upload disability claim.  Please review details from encrypted email._

---
## Tasks
- [ ] _Review provided details in ticket_
- [ ] _Review additional information from encrypted email_
- [ ] _Advise if additional information is required for review and resolution_
- [ ] _Contact veteran and set up shadowing call if needed_

## Acceptance Criteria
- [ ] _Wh

[2021-12-14 17:34] Kimberley2019 commented on #34103
From: VA Technical Support
Sent: Thursday, September 9, 2021 3:42 PM
To: REDACTED
Subject: Claims issue

Dear REDACTED,

Thank you for your inquiry. We understand you have contacted MyVA411 for assistance with your disability claim application issue.
We apologize for any problem you may have experienced with the disability claims system. If you are aware or have been informed that your claim has a

[2021-12-14 17:35] shiragoodman commented on #33881
@noahgelman are you able to answer Adam's question above?

[2021-12-14 17:36] Kimberley2019 commented on #34103
Details below are from veteran.  All information has not been included, however, encrypted email has been sent to @vhenry07 for her review.

From: REDACTED
Sent: Tuesday, December 14, 2021 12:16 PM
To: VA Technical Support <VATechnicalSupport@va.gov>
Subject: [EXTERNAL] RE: Claims issue

Hello,

I’m reaching out again as I’ve continued not to be able to upload my disability claim. This issue has b

[2021-12-14 17:41] noahgelman commented on #33881
@AdamFreemer The `aria-labelledby` property is pointing to 2 things.
1. It's own parent, the `h3`. It doesn't need to do this. It's pointing to itself.
2. It's pointing to the classification. It doesn't need to do this. Remove it. Add the classification to the link as screen reader only text

[2021-12-14 17:44] noahgelman commented on #12338
I am currently working on this ticket and will have an update soon

[2021-12-14 17:46] golavarr-va commented on #33463
@mchelen-gov Antony's EQIP is in progress. His COR is Cecilia Lee. Is this enough to provision AWS access?

[2021-12-14 17:59] adamwhitlock1 commented on #31685
@MarciMcGuireGCIO fix has been deployed to staging if you would like to take a look

![Screen Shot 2021-12-14 at 10 58 31 AM](https://user-images.githubusercontent.com/8332986/146053960-ba6b6540-d44d-47c5-93bb-f5d23186c52a.png)

[2021-12-14 17:59] Kimberley2019 opened #34105 "[Tier 3] Disability application submission issue - SF 06062266"
## Issue Description
_Veteran is having issues submitting claim application.  Please review screenshot that was sent via encrypted email._

---
## Tasks
- [ ] _Review provided details in ticket_
- [ ] _Review additional information from encrypted email_
- [ ] _Advise if additional information is required for review and resolution_
- [ ] _Contact veteran and set up shadowing call if needed_

## Acc

[2021-12-14 18:00] MarciMcGuireGCIO commented on #31685
Thanks @adamwhitlock1!

[2021-12-14 18:00] AdamFreemer commented on #33881
@noahgelman so remove the `aria-labelledby` property from the tag completely? Just being sure that's what you're saying? And for clarity (in this example) `10511717-classification` as a screen reader only property?

[2021-12-14 18:00] niradatta1 commented on #33449
@mnorthuis Hi Mikki, The check-in team is planning on creating a URL shortener, that we'll initially use in the SMS text that goes out to veterans to check-in. Other teams are also interested in leveraging this shorterner.

We'd like to ensure the shorterner at least has "va.gov", since user research shows  veterans wanting assurance that the link is legitimate and from the VA. So the shorterner c

[2021-12-14 18:02] jennaouellet commented on #34099
GA and Domo access have been revoked

[2021-12-14 18:02] Kimberley2019 commented on #34105
From: REDACTED
Sent: Monday, October 11, 2021 2:51 PM
To: VA Technical Support <VATechnicalSupport@va.gov>
Subject: [EXTERNAL] Re: Disability claims issue

Good Morning,
I have tried multiple times to Submit my application, here is a screen shot of the message i am prompted with after clicking submit. I have reviewed all the information in my application and have found no issues besides the fact t

[2021-12-14 18:05] MarciMcGuireGCIO commented on #31685
Looks great!  Thanks @adamwhitlock1 !
![image](https://user-images.githubusercontent.com/73354907/146054886-48d10591-12e5-4d62-94f5-604d96a26b58.png)

[2021-12-14 18:07] Kimberley2019 commented on #34105
encrypted email, including screenshot has been sent to @vhenry07 for review.

[2021-12-14 18:07] MarciMcGuireGCIO commented on #31685
Noting that this will not go to Prod until after user research, possible resulting modifications, testing & Staging review.

[2021-12-14 18:18] ianpsant opened #34106 "Staging Review [Virtual Agent Chatbot - Pilot Release]"
# Steps to complete Staging Review

## Before meeting

**VFS Product Manager**
- [X] Create this issue and schedule meeting via Calendly (you are responsible for adding the VFS attendees).
- [X] Notify the Collaboration Cycle team of this ticket and scheduled date/time in #vfs-platform-support ([see Slack Workflow (User guide](https://depo-platform-documentation.scrollhelp.site/support/Getting-hel

[2021-12-14 18:19] #33164 closed

[2021-12-14 18:19] LindaLi123 commented on #33084
Reprioritized to complete [#33343](https://app.zenhub.com/workspaces/vsa---search--discovery-61538bc5cf1e54001a350379/issues/department-of-veterans-affairs/va.gov-team/33343), pulling into next sprint

[2021-12-14 18:21] #31569 closed

[2021-12-14 18:21] denisecoveyduc commented on #31569
Thanks @rileyorr  for all your hard word during those UAT sessions.. we learned a lot about the product.

[2021-12-14 18:21] #33160 closed

[2021-12-14 18:21] kristenmcconnell commented on #25878
Mobile optimized header is launching to 50% of users on 12/14/2021. Expected launch to 100% on 12/21.

https://dsva.slack.com/archives/C02GXKL8WM6/p1639505894365200?thread_ts=1639504660.361100&cid=C02GXKL8WM6

[2021-12-14 18:23] aherzberg commented on #33996
I apologize. Turns out I also need general AWS access. Should I create a new ticket or can this be done here?

[2021-12-14 18:24] #31772 closed

[2021-12-14 18:25] #33161 closed

[2021-12-14 18:26] #33158 closed

[2021-12-14 18:31] noahgelman commented on #33881
Yes, remove it entirely. The content of the classification element can be
added to the `a` as screen reader only text

On Tue, Dec 14, 2021 at 1:00 PM Adam Freemer ***@***.***>
wrote:

[2021-12-14 18:33] Kimberley2019 opened #34107 "[Tier 3] VA Benefits letter download issue - SF 06215265"
## Issue Description
_Veteran is having issues downloading VA benefit letter.  Please refer to encrypted email that was sent containing a screenshot._

---
## Tasks
- [ ] _Review provided details in ticket_
- [ ] _Review additional information from encrypted email_
- [ ] _Advise if additional information is required for review and resolution_
- [ ] _Contact veteran and set up shadowing call if nee

[2021-12-14 18:36] Kimberley2019 commented on #34107
On Dec 9, 2021, at 2:42 PM, VA Technical Support <VATechnicalSupport@va.gov> wrote:

Good Afternoon,
Thank you for your inquiry. Are you still experiencing this issue? If yes, we will need more information to investigate the problem and find a solution. In as much detail as you can, please respond to this email with answers to the following prompts and questions:

•	Please provide step-by-step det

[2021-12-14 18:38] Kimberley2019 commented on #34107
PII has been redacted from email below.  Encrypted email has been sent to @vhenry07 that contains screenshot.

From: REDACTED
Sent: Friday, December 10, 2021 7:58 PM
To: VA Technical Support <VATechnicalSupport@va.gov>
Subject: [EXTERNAL] Re: VA Benefits Letter download issue

I tried directly logging in either through E benefits or va.gov.
I used all 3 user either DS login, my healthvet or Id.me

[2021-12-14 18:38] ldelacosta opened #34108 "Update Progress Bar and Segmented Progress Bar Web Component"
Platform Design System team created progress bar and segmented bar web component. We should replace the existing Progress Bar and Segmented Progress Bar React component to the updated web components.
[Progress Bar/Segmented Progress Bar web component details ](https://design.va.gov/components/progress-bars)

---
## Known Differences
Tasks:

- Try out replacing the Progress Bar and Segmented Progre

[2021-12-14 18:38] seanasewell opened #34109 "Design Feedback - Midpoint Review - Public Websites - Outreach & Events"
## VFS acceptance criteria
- [x] Let Platform know when the **Must** feedback has been incorporated
- [x] Leave any comments for feedback you decide _not_ to take
- [x] VFS team closes the ticket

## Thoughts/questions

## Feedback
- **Must** = the feedback must be applied
- **Should** = the feedback is best practice
- **Consider** = suggestions/enhancements

**Must:**
- Change search styling to m

[2021-12-14 18:39] Kimberley2019 commented on #34107
From: VA Technical Support
Sent: Tuesday, December 14, 2021 1:35 PM
To: REDACTED
Subject: RE: VA Benefits Letter download issue

Good Afternoon Mr. REDACTED,

Thank you for your response and for this helpful information. We appreciate your patience as we find a resolution to your problem. I have passed these details along to the appropriate team to review.

The team may reach out to you directly i

[2021-12-14 18:40] mmiddaugh commented on #33890
Per a discussion with the team, we won't be able to directly make these changes. We will need to coordinate any changes with VSP and with someone with Admin access to the API keys. The following suggestions are from Mapbox's documentation ["How to use Mapbox securely"](https://docs.mapbox.com/help/troubleshooting/how-to-use-mapbox-securely/)

Action | Details | Responsible team/individual |
--- |

[2021-12-14 18:45] nsoutouras commented on #33111
New ticket: #[34052](https://app.zenhub.com/workspaces/vsp-identity-5f5bab705a94c9001ba33734/issues/department-of-veterans-affairs/va.gov-team/34052)

[2021-12-14 18:45] #33111 closed

[2021-12-14 18:46] #33963 closed

[2021-12-14 18:47] #33523 closed

[2021-12-14 18:50] kelsonic commented on #33219
Bumped to 50%

[2021-12-14 18:50] #33219 closed

[2021-12-14 18:54] jhouse-solvd commented on #32620
@rbeckwith-oddball - - Please share the current status as time allows, please. If you have the ability to request SSL certs, then this can likely be closed.

[2021-12-14 18:54] jhouse-solvd commented on #32621
@jsgarmon - Please share the current status as time allows, please.

[2021-12-14 18:54] jhouse-solvd commented on #30664
@mydesignrocks - Please share the current status as time allows, please.

[2021-12-14 18:59] #33955 closed

[2021-12-14 19:00] #33950 closed

[2021-12-14 19:01] jhouse-solvd commented on #33093
@pjhill - Thanks so much for the additional info and context. Too bad that didn't address the GitHub OAuth issue, but glad we could support testing that approach.

Please do create an additional ticket when you are ready to decommission TUD in EKS.

Use the Ops issue template and assign it to mee, or drop it in the vsp-operations channel in DSVA Slack and mention me. From there, we'll get it in th

[2021-12-14 19:01] larrywest52 commented on #33402
Done

[2021-12-14 19:05] jhouse-solvd commented on #30803
@kreek or @mydesignrocks -Please check off tasks and AC on this ticket as time allows, please. Then I'll review and close this one out. :) Thank you!

[2021-12-14 19:10] vhenry07 opened #34110 "Frontend Sentry Review"
## Issue Description
Review sentry errors for frontend

---
## Tasks
- [ ] Review & resolve sentry errors

## Acceptance Criteria
- [ ] Issues resolved
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to an Epic** (what body of work is this a part of?)
- [ ] **Labeled with Team** (`product support`, `analytics-insights`, `operatio

[2021-12-14 19:10] AdamFreemer commented on #33881
One more question @noahgelman @shiragoodman

"The name and id attributes on the Compare checkbox and label are not unique. Some card titles are the same, but in different locations."
- Would facility code work here for uniqueness? It's used elsewhere.
[code]

[2021-12-14 19:14] #33088 closed

[2021-12-14 19:15] SgardnerPMP opened #34111 "[VAMC] Create Lighthouse API csv file for Post Production Systems that went live on December 8th [BA]"
## Story
As a Veteran looking for VAMC facilities and COVID-19 Vaccines on Facility Locator I need the correct URL link, so it will take me to the new VAMC websites.

## Goal
Create a repeatalbe process of creating the Lighthouse API url csv file that will be loaded to VAMC SharePoint for Lighthouse API

## Resources
[Previous Lighthouse API files](https://governmentcio.sharepoint.com/sites/VSATea

[2021-12-14 19:15] #28044 closed

[2021-12-14 19:18] zach-park commented on #33462
FE Audit document (with UX comments) is ready now. Links are reattached to the story (above).
@acrollet @mdewey @brianseek @dcgoodwin2112 @jparker0425 @julieadair1

[2021-12-14 19:18] rbeckwith-oddball commented on #34097
/request Michael Sherman

[2021-12-14 19:21] ldelacosta opened #34112 "[QA Placeholder] Community Care testing for the PPMS work"
Adding a placeholder ticket for community care testing for the PPMS work. More details to come

[2021-12-14 19:24] SgardnerPMP opened #34113 "[VAMC] Proof of Concept - Publish KB and release to 5 test PAOs to follow steps [PM]"
## Story

## TASKs
- [x] Update KB article to reflect changes input from team.
- [x] Meet with five test site users and provide instructions for the Proof of Concept and how to provide feedback on the exercise.
- [x] Send URL Link and examples to test users.

## Acceptance Criteria
*  KB Article is published and URL is provided to test users
*  Meet with and release how to article to five test sit

[2021-12-14 19:27] mdewey opened #34114 "[FE][BUG] Complete page refresh"
## User Story

As a user if I re-visit the complete page, the app crashes

## Description

The app shouldn't crash when the user revisits the complete page after a successful pre-check-in.(ie: page refresh, or navigate back to it)

## Tasks

- [ ] Fix the problem
- [ ] Create or update unit tests
- [ ] Create or update e2e tests
- [ ] Update relevant documentations
  - [ ] README
  - [ ] Use Cases

[2021-12-14 19:28] Samara-Strauss opened #34115 "[BE] Onboarding: Tom Harrison"
## Background

Welcome, Tom! We can use this ticket to track onboarding to the new profile team.

## Tasks

### Chats

- [x] Meet with Marci
- [ ] Meet with Christina
- [x] Meet with Adam
- [ ] Meet with Samara

### Code Review
- [ ] Review Contact Info Service

We'll have you meet with Lihan once he's back from his winter break.

### Team docs

- [x] [Team charter](https://github.com/department-o

[2021-12-14 19:28] #32438 closed

[2021-12-14 19:29] oseasmoran73 commented on #28386
Closing ticket as PR has been recently merged

[2021-12-14 19:36] oseasmoran73 commented on #21750
Closing ticket as PR has been recently merged to trigger Review Instances via Jenkins from Github Actions

[2021-12-14 19:36] #21750 closed

[2021-12-14 19:38] oseasmoran73 commented on #33802
Closing ticket as PR has been merged

[2021-12-14 19:46] af-manish commented on #12343
@seanasewell Thanks for helping with this.

[2021-12-14 19:47] noahgelman commented on #33881
as long as there are no duplicates and it doesn't start with a number

On Tue, Dec 14, 2021 at 2:10 PM Adam Freemer ***@***.***>
wrote:

[2021-12-14 19:50] mgleo commented on #33260
![typeahead-anatomy.png](https://images.zenhubusercontent.com/5f91de193a0ac23f49d7bf89/1f49e121-4e96-4c1f-b3eb-206e62707deb)

1. **Search input field**: Where users enter their search query.
2. **Typeahead suggestions**: Sorted by descending character count. Suggestions in bold. If suggestions appear after the user’s text, the suggestion should appear in bold. If user’s text appears anywhere withi

[2021-12-14 19:50] #33260 closed

[2021-12-14 19:57] rbeckwith-oddball commented on #34097
1. User not found in Team Roster
2. Socks access has been removed from devops repo
3. AWS Access not found or specified
4. Sent
5. Not found in PagerDuty
6. Datadog not found
7. Sentry access removed

[2021-12-14 20:03] seanasewell commented on #12343
@af-manish Here ya go! Let me know if this doesn't work for you. Size is 2000px by 1006px.

![direct-deposit-feature.png](https://images.zenhubusercontent.com/615f0ad134e89a0c664dc300/1ca62557-623e-49c1-9df7-42640848a369)

[2021-12-14 20:08] MickinSahni opened #34116 "Legal Representative | Bet A: Content Update"
## User Story

_As a user I would like to have this feature because it would help me with this pain point_

## Expected Behavior

_Add expected behavior of the described feature here_

## Acceptance Criteria

- Analytics Discovery
- Content Confirmation - via Danielle
- Implementation

[2021-12-14 20:09] af-manish commented on #12343
@seanasewell  Thanks. One requirement they have, sorry I should have mentioned, is that they want the routing number and account number to be all 0s.  Can you update with that?

[2021-12-14 20:12] #27111 closed

[2021-12-14 20:20] ianpsant commented on #34106
For reference, this is the Phase 1 Staging Review ticket #24884

[2021-12-14 20:23] michelpmcdonald commented on #28870
Used time in this ticket to research 526 - claim status tool code flow and to get them running locally:

Dev Notes Are here:

https://docs.google.com/document/d/1qLzsT5TuhE7CqPkDhVeSHrT4O08ZLO2ZouXqOgFxej0/edit?usp=sharing

[2021-12-14 20:23] #28870 closed

[2021-12-14 20:25] mmiddaugh commented on #32815
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/facilities/facility-locator/research/user-research/services-taxonomy/Research-Findings.md

[2021-12-14 20:25] #32815 closed

[2021-12-14 20:27] mmiddaugh commented on #33440
[Convo guide](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/facilities/facility-locator/research/user-research/benefits-taxonomy-research-SME/benefits-taxonomy-SME-conversation-guide.md)

[2021-12-14 20:27] #33440 closed

[2021-12-14 20:27] seanasewell commented on #12343
@af-manish Not a problem! I am assuming the check number area should still be blank?

<img width="1000" alt="direct-deposit-check-guide" src="https://user-images.githubusercontent.com/83789847/146074259-0bc4d651-f1fd-485b-a58f-2d4d3b30aa06.png">

[2021-12-14 20:28] #33236 closed

[2021-12-14 20:33] hdjustice opened #34117 "[Research] My VA - Payments Information & On-site Notification: Create Conversation Guide"
## Background
While we are requesting a Midpoint review, we should start the conversation guide for adding a new Payment Information section and an On-site Notification to My VA dashboard.

## Tasks
- [x] Create a conversation guide for the new Payment Information section on My VA.
- [x] Create a conversation guide for the new On-site Notification on My VA.
- [ ] Send to Samara for review
- [x] Co

[2021-12-14 20:36] #33710 closed

[2021-12-14 20:37] RLHecht commented on #33309
I reviewed these pages and checked numbers against word doc provided. Sending a preview link for stakeholders to review and will hold to publish until next week.

[2021-12-14 20:45] af-manish commented on #12343
@seanasewell  One more question - I found out that actually they want a SVG to be able to easy to maintain. I thought they landed at png. <it's been a bit confusing>. Is it simple to provide a SVG?

[2021-12-14 20:47] Dene-human commented on #33708
# Bet A

Design: [Sketch link](https://www.sketch.com/s/5a676881-7aa8-4054-9b6e-34d86ced43d8/p/6F53EA53-0D5E-46F7-B420-CF62EA0167CE) (content to be finalized)
Research: Monitor analytics for increase in drop-offs

# Bet B

Flow:
For Veteran: Signature> Review & submit
For Representative: Signature> yes/no question> Representative name> document check> upload doc> Signature (as Representative)> Rev

[2021-12-14 20:49] ericksonwhiteTake2BAH opened #34118 "Adding [individual] to DSVA Slack"
# Description

**new user requests**: please verify that the user does not already exist in dsva.slack.com (it may be the account exists, but is not in a particular channel)

<describe the request>

Are you requesting to add an individual as a:

- Full member
- Single guest
- Multi-channel
- Switching from single-channel to multi-channel?
- What channel(s) do they need to be added to?

Then add a

[2021-12-14 20:56] #32289 closed

[2021-12-14 20:58] tressaellen commented on #33992
I reviewed with the team, and I think we're good here.

[2021-12-14 20:58] #33992 closed

[2021-12-14 21:02] jennaouellet commented on #33935
Data QA for the VA.gov wide dashboard is complete! No issues were found other than line #31 which has since been corrected. QA sheet has been updated.

[2021-12-14 21:02] #33935 closed

[2021-12-14 21:02] kevinstachura opened #34119 "526 - Failed Submission - Email Content Review"
## Issue Description
We have written some preliminary copy for an email to notify a user if their 526 disability compensation form has failed. We now need to send it to our content SMEs to ensure it fits the voice and tone of VA.gov.

---
## Tasks
- [x] Submit email content to Beth (or content SME) to refine the language in the email

## Acceptance Criteria
- [x] email content/copy has been submit

[2021-12-14 21:06] kevinstachura opened #34120 "526 - Task List Pattern - Phase 1"
## Issue Description
In our efforts to shorten the length of the 526 form, we have decided to pursue a new pattern called the 'task list pattern'. A similar concept would be the pattern found on [gov.uk](https://design-system.service.gov.uk/patterns/task-list-pages/).

---
## Tasks
- [x] Create a design for the 'table of contents' or 'intro' page for the task list pattern

## Acceptance Criteria
-

[2021-12-14 21:08] pjhill commented on #33429
Hey, @michelpmcdonald , thanks for pointing this out. We've added a disclaimer to the top of the documentation to indicate that a wide-release of the Test User Dashboard has not occurred yet.

[2021-12-14 21:19] RLHecht opened #34121 "Get stakeholder approval and publish 3 education R&S articles"
## Issue Description
We sent stakeholders 3 new education R&S articles to review on 12/14. Once they are approved, we need to publish these.

The articles are:
- Will I have to pay back the GI Bill benefits I used if I fail a class? http://preview-prod.vfs.va.gov/preview?nodeId=37410
-  Getting a GI Bill extension http://preview-prod.vfs.va.gov/preview?nodeId=41926
 - Montgomery GI Bill refunds ht

[2021-12-14 21:20] RLHecht commented on #17604
Closing this ticket and completing publishing part in ticket #34121.

[2021-12-14 21:20] #17604 closed

[2021-12-14 21:21] RLHecht commented on #17601
Closing this ticket and publishing articles in ticket #34121

[2021-12-14 21:21] #17601 closed

[2021-12-14 21:28] hdjustice opened #34122 "[Design] My VA - Payments Information: Review potential design changes with Platform team"
## Background

After receiving feedback from Design Intent, we would like to meet with the Platform team to explore other ways we can change our design to fit more inline with the design system

## Tasks

- [x] Schedule meeting with Platform team
- [x] Review design and discuss possible changes that would be acceptable for VSP and VSA
- [x] Follow-up with PM/PO with any take-away design changes

#

[2021-12-14 21:29] #33516 closed

[2021-12-14 21:32] RLHecht opened #34123 "Rework health care tool pages with new content pattern and add notification Q&A to relevant pages"
## Issue Description
We have a new content pattern that we need to apply to our health care tool pages. We also need to add the notification Q&A to the appointments and prescriptions pages. Currently the health care tool pages are all in react widgets, so this work needs to be done in Word docs rather than in Drupal.

The medical records page is already being reworked in a separate ticket. This ti

[2021-12-14 21:34] hdjustice opened #34124 "[Design] My VA - Payments Information: Review designs with Accessibility team"
## Background

After receiving feedback from Design Intent, we would like to meet with the Accessibility team to ensure we have incorporated accessibility requirements as part of our design as a whole.

## Tasks

- [x] Schedule meeting with Accessibility team
- [x] Review design and discuss any accessibility issues that need to be addressed
- [ ] Follow-up with PM/PO with any take-away design chan

[2021-12-14 21:34] RLHecht commented on #33313
Changed the criteria in this ticket to reflect that this is only the comparison work. We determined the content needs to stay in the react widget but we are using a new ticket the next sprint to update the content pattern. This is ticket #34123

[2021-12-14 21:39] andaleliz commented on #33734
@tmitchellgcio when I check out the current feature on staging, it seems like there is some check being performed to compare the home and mailing addresses.  I'm assuming this based on:
1. I go to home address and check the "my home address is the same as my mailing address box" and click save.
2. I click edit on home address again, and the box is still checked. I click cancel.
3. I click edit on

[2021-12-14 21:41] seanasewell commented on #12343
@af-manish I can provide that however I could not upload SVG as a comment. I am going to slack you the file. Let me know if you get it. Thanks!

[2021-12-14 21:46] harshil1793 opened #34125 "Access for Harshil Moradia"
### COR Name

Cecila Lee

### Vendor Onboarding Representative Name

Other

### Your Name

Harshil Moradia

### Your Email

Harshil.Moradia@va.gov

### Name of Your Team

Platform Spike Teams - Access Management

### Service(s) You Want Access To

AWS

### Public SSH Key

_No response_

### Desired AWS Services

I am part of the PST Access Management team and request to be added to this group plat

[2021-12-14 21:47] MarciMcGuireGCIO commented on #32768
Moving to Sprint 63 since we now know when the open text boxes should become visible.

[2021-12-14 21:56] MarciMcGuireGCIO commented on #33007
Blocked; need info for updating VBA

[2021-12-14 21:56] chaseakirby commented on #34092
Hi @jason-gcio. Thanks for completing this Collaboration Cycle Kickoff ticket! Based on your responses, your project is a new tool and/or application so we are recommending the following Collaboration Cycle touchpoints:

- [Design Intent](https://depo-platform-documentation.scrollhelp.site/collaboration-cycle/Design-intent.1782153235.html)
- [Research Plan Review](https://depo-platform-documentati

[2021-12-14 21:56] ERRonat0609 commented on #33876
Changes demoed to EDu - approved by Joe Preisser

[2021-12-14 21:57] ERRonat0609 commented on #33878
Changes demoed to EDU - approved by Joe Preisser

[2021-12-14 21:57] k80bowman opened #34126 "Fix Accordion documentation on design.va.gov and Storybook"
## Description
The documentation around the accordion component on design.va.gov has a missing storybook iframe and does not match the current implementation of the accordion component. We need to update the documentation and fix the storybook iframe.

## Details
The default behavior of the accordion component now allows multiple accordions to be open at once. Engineers need to specify that they o

[2021-12-14 22:07] MarciMcGuireGCIO commented on #31406
@tmitchellgcio I validated this yesterday, so it should be ready to deploy whenever you are ready.  Thx!

[2021-12-14 22:16] #33956 closed

[2021-12-14 22:29] jimuhh commented on #33223
**Hi everyone.**
I appreciate the attention @cindymerrill and the rest of your team have given to IA concerns in the research plan and would love to see the findings when you have them.
No IA feedback from me at this time. Thanks!

[2021-12-14 22:30] bethpottsVADEPO commented on #33431
[https://app.zenhub.com/files/133843125/c513bb68-372d-4f58-9140-7e62f637e21d/download](https://app.zenhub.com/files/133843125/c513bb68-372d-4f58-9140-7e62f637e21d/download)

@RLHecht Here are my additional edits/approach to providing feedback to SMEs. Thanks for the convo about this today, and let me know if you have any questions.

[2021-12-14 22:32] mnorthuis commented on #33449
This is great and much needed! I am happy to help in any way I can.

This isn't something that I've put a lot of time and thought into, but I do agree we should definitely leverage "va.gov".

Some questions/thoughts off the top of my head as we start to look into it:
-  in regards to url structure:
  - do we need to utilize a sub-domain (i.e. m.va.gov, go.va.gov, app.va.gov, etc)
  - do we need su

[2021-12-14 22:40] #33994 closed

[2021-12-14 22:41] #33124 closed

[2021-12-14 22:42] shiragoodman commented on #34106
Staging Review has been scheduled for 1/6/2022 at 2:00pm ET

@ianpsant please be sure to add your team members. I only see you on the invite so far.

[2021-12-14 22:43] kelsonic commented on #34096
PR merged, will go out with daily tomorrow

[2021-12-14 22:43] #34096 closed

[2021-12-14 22:46] #29974 closed

[2021-12-14 22:49] denisecoveyduc commented on #31472
This will roll over into Sprint 63 due to higher priority MCP fixes.

[2021-12-14 22:49] chancetheoriginal commented on #32591
App V1.3 live.

[2021-12-14 22:50] denisecoveyduc commented on #33560
This is 2/3 done will roll over into Sprint 63 for completion

[2021-12-14 22:50] mnorthuis commented on #33477
@hdjustice @tressaellen When you are ready, you can [open a Sitewide Content and IA ticket](https://github.com/department-of-veterans-affairs/va.gov-team/issues/new?assignees=Sitewide+Content%2C+RLHecht&labels=sitewide+content%2C+sitewide+content-product+support&template=sitewide-content-intake-form.md&title=%3CType+of+Request%3E+from+%3CTeam%3E).  Some things I'd love to continue to talk about:
-

[2021-12-14 22:50] denisecoveyduc commented on #33028
This will roll over into Sprint 63 due to higher priority MCP fixes.

[2021-12-14 22:51] denisecoveyduc commented on #24402
This will roll over into Sprint 63 due to higher priority MCP fixes.

[2021-12-14 22:52] denisecoveyduc commented on #27662
This will roll over into Sprint 63 due to higher priority MCP fixes.

[2021-12-14 23:01] cindymerrill commented on #33223
@callen2563 What is the "Check other times" button that @joshkimux is referring to? Is it the "Show more times" button in the mobile prototype? I think "Show" is a more accurate verb than "Check".

[2021-12-14 23:27] randomsync commented on #34054
This are the flags I'm looking to deprecate as part of this ticket:
`check_in_experience_demographics_page_enabled`: shows demographics page
`check_in_experience_next_of_kin_enabled`: shows NOK page
`check_in_experience_update_information_page_enabled`: not used anywhere in the code :shrug:
`check_in_experience_multiple_appointment_support`: show multiple appointments

Will need to sync up with fr

[2021-12-14 23:44] grossb1 commented on #32279
After chatting with Lance Sanchez the facilities_api 'show' endpoint won't guarantee that the CC provider's address that was selected during the request flow (when we list providers via the `index` endpoint) will be the same when want to display the address for a single provider (via the `show` call).  This is die to the fact that providers can have multiple locations within PPMS.

[2021-12-14 23:46] brianalloyd commented on #33223
@jimuhh happy to share those with you when complete.

[2021-12-14 23:47] aherzberg opened #34127 "Access for Andrew Herzberg"
### COR Name

Cecila Lee

### Vendor Onboarding Representative Name

Michael J Lovejoy

### Your Name

Andrew Herzberg

### Your Email

andrew.herzberg@adhocteam.us

### Name of Your Team

Ad Hoc - VA Mobile team - backend engineer

### Service(s) You Want Access To

AWS

### Public SSH Key

_No response_

### Desired AWS Services

AWS Console access

[2021-12-14 23:48] aherzberg commented on #34127
COR name is Travis Newby

[2021-12-14 23:56] laurenernest opened #34128 "Analytics Implementation or QA Support for VAOS-Calendar GTM"
# Google Analytics Implementation or QA Request

## What this form is for

<details>
<summary>More Information</summary>
<div>
    <br>
<p>Use this template to request Google Analytics implementation or QA for your product. Please fill out all brackets.</p>

</div>
</details>

## Description
### Required
- **Is this request for **Google Analytics implementation** or **QA**?**

     - [x] Google An

[2021-12-14 23:59] jason-gcio commented on #34092
Re: the static page(s) - will do...the top of funnel landing page looks to be in mostly good shape so I doubt we will have a ton to request there although we will most likely look for a feature toggle for the button to come back from EBN to VA.gov.  This will be a ways out but its on our radar to get some guidance on that when we get there.  Thanks @chaseakirby!
(cc: @davidconlon)

[2021-12-14 23:59] #34092 closed

[2021-12-15 00:03] #32137 closed

[2021-12-15 00:13] ldelacosta commented on #32197
Validated the copy doc changes in staging site.

COVID-19 new appointment workflow:
![Screen Shot 2021-12-14 at 7.09.32 PM.png](https://images.zenhubusercontent.com/615208f37e69549d6e01d915/7986dc38-892a-49c7-b945-aa64e30c1de4)

Non-COVID-19 new appointment workflow:
![Screen Shot 2021-12-14 at 7.11.12 PM.png](https://images.zenhubusercontent.com/615208f37e69549d6e01d915/24b119a2-0f96-494a-a673-51

[2021-12-15 00:13] #32197 closed

[2021-12-15 00:32] #33021 closed

[2021-12-15 00:32] #33433 closed

[2021-12-15 00:33] #33030 closed

[2021-12-15 00:34] #33715 closed

[2021-12-15 00:44] kristenmcconnell commented on #33465
This [Slack thread](https://dsva.slack.com/archives/C02G6AB3ZRS/p1637700241469700) has VSE plans listed.

This [Slack thread](https://dsva.slack.com/archives/C022AC2STBM/p1639516822299400) has the newest ideas on a training/testing environment. All of the proposed ideas don't seem to require UX work.

[2021-12-15 00:44] #33465 closed

[2021-12-15 01:05] SgardnerPMP opened #34129 "[VAMC] December 1st Banner redirect updates for all Full production systems [PM]"
## Story
As an editor I need to know of any additional final clean up items and barriers, and all tech-debt needs to be resolved, so MVP is present and/or I can clean them up prior to Go Live

## Goal
Prepare the site for redirect by changing banners:
- [ ]  Remove "Website not site of record" Banner
- [ ] Add standard COVID-19 vaccine banner

## Acceptance criteria
* Banners are updated and sites

[2021-12-15 01:07] SgardnerPMP opened #34130 "[VAMC] December 8th Banner redirect updates for all Full production systems [PM]"
## Story
As an editor I need to know of any additional final clean up items and barriers, and all tech-debt needs to be resolved, so MVP is present and/or I can clean them up prior to Go Live

## Goal
Prepare the site for redirect by changing banners:
- [ ]  Remove "Website not site of record" Banner
- [ ] Add standard COVID-19 vaccine banner

## Acceptance criteria
* Banners are updated and sites

[2021-12-15 01:14] SgardnerPMP opened #34131 "[VAMC] Research best software to utilize for PAO CoP Forum [PM]"
## Story
As a VAMC editor I need to have a place to submit questions to the community of practice, so I can quickly get answers from team members that have already experienced or resolved similar issues.

## Resources

## TASKS
- [ ] Research whether Teams or SharePoint can house a CoP Forum
- [ ] Test Teams forum settings and see if it will provide files, threads, or other features
- [ ] Test Sha

[2021-12-15 01:24] SgardnerPMP opened #34132 "[VAMC] Full Production/Go Live Pre and launch for December 8th th for System going into Full production [PM]"
## Story
As an editor I need to know of any additional final clean up items and barriers, and all tech-debt needs to be resolved, so MVP is present and/or I can clean them up prior to Go Live

## Goal
Prepare the site for Full Production, update tech-debt and record areas that need updating by the PAO.  Make recommendation to VHA for production, submit request for web approval, and redirect via We

[2021-12-15 01:25] jason-gcio opened #34133 "Review IA Recommendations Around Search Rep"
## Background
Mikki has provided us with some feedback we need to address

## Tasks
- [x] Review [Mikki’s IA questions](https://github.com/department-of-veterans-affairs/va.gov-team/issues/23490#issuecomment-954209791)
- [x] Reach out to the owners of the pages she called out

## Acceptance Criteria
- [x] Interested page owners have been contacted about future work that might be coming

[2021-12-15 01:29] SKasimow opened #34134 "Time-out Increase | Mulesoft Implementation"
## Story

Carma/Mulesoft team requests an increase to time-out on VA.gov to account for the additional time needed to send requests(?) to Mulesoft and Mulesoft to send to CARMA. The current timeout when querying against SalesForce is 5s. When submitting applications to CARMA MuleSoft this value should be 10s.

## Acceptance Criteria

- [x] Timeout for requests to CARMA MuleSoft set to 10s
- [x] CA

[2021-12-15 01:30] jason-gcio opened #34135 "Draft or Initialize the Prototype For View -> Appoint Process"
## Background
We need to start the prototyping process for this feature so that we can take it to Veterans and have them validate that it meets their needs

## Considerations
- This is a start; full completion might not occur in this ticket
- Mobile along side would be great, but not NEEDED yet
- Prototype will ultimately need authenticated and unauthenticated flows

## Tasks
- [x] Take a look at

[2021-12-15 01:37] jason-gcio opened #34136 "Prep for Midpoint Review for Search and Appoint (Async)"
## Background
Now that we have made some progress on this feature, we need to prepare for a midpoint review.

## Considerations
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/ebenefits/features/view-update-POA/research-design/usability-testing/view-rep-research-plan.md
guide.md

## Tasks
- [x] Prep research plan and conversation guide

## Acceptance Crite

[2021-12-15 01:39] chloedotbrown commented on #33939
I've updated the [Design Wishlist spreadsheet](https://docs.google.com/spreadsheets/d/1RlDgC7dUiuVdfC1Y8kLDx7adqoPkl5qIjSFs-pUsofs/edit#gid=1114005375) based on today's meeting with Jonathan, Pavan, and me. Documentation of discussed tasks and prioritization (including tasks that will be out of scope for Q4 work) live in the "Brainstorm" tab, as reference

More importantly, I've also created a new

[2021-12-15 01:46] jason-gcio opened #34137 "Adjust Radio Button Results For More Granularity"
## Background
It was recommended that we adjust the results of yes/no responses to be more broken apart so that a large dropdown does not appear suddenly.

## Considerations
- Check with FE to ensure that the Form System can handle this behavior (most likely fine, but just check in for funsies)

## Tasks
- [x] Adjust mockups to ensure more granular outcomes when certain radio buttons are selected.

[2021-12-15 01:49] bsmartin-ep commented on #34014
Data sources have been updated @obrienjulie.  I'll did a before-and-after spot check and historic numbers matched the old dataset and new numbers match total users on the www domain.  Updated to APPEND daily / monthly.

I'll defer to @LindaLi123 and @srsuddath on how useful these cards are now that all users have type ahead enabled.

Closing.

[2021-12-15 01:49] #34014 closed

[2021-12-15 01:53] lindsay-insco opened #34138 "Add grouped appointment instructions to Sharepoint Site"
- [ ] Add grouped appts instructions to sharepoint
- [ ] present at office hours

[2021-12-15 01:56] jparker0425 commented on #33354
@dillo do we have a link to any artifacts for this ticket? I know you have been doing the research, just wanted to see if any of the documentation is available at this time.

[2021-12-15 01:56] jason-gcio opened #34139 "Check in with Oscar (SAHG)"

[2021-12-15 01:58] jason-gcio opened #34140 "Check in with Oscar (SAHG)"
## Background
We need to talk to Oscar

## Considerations

## Tasks
- [x] Tues - Wed: email reach out
- [ ]

## Acceptance Criteria
- [x] Oscar has been reached out to

[2021-12-15 02:08] bsmartin-ep commented on #33567
Looks like access was granted. Closing.

[2021-12-15 02:08] #33567 closed

[2021-12-15 02:12] jason-gcio opened #34141 "Investigate Handling of Downloadability for My Documents"
## Background
There is, or should be, a question around how we should handle the My Documents feature on VA.gov: seems as though we have determined deltas and internally with Mikki's help we should attempt to make some recommendations around how to proceed next.

## Considerations
- [Our findings of deltas](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/e

[2021-12-15 02:13] bsmartin-ep commented on #33751
Hi @alsleaders - looks like you have access with a "Social" role.  Is that adequate or do you need bumped to the standard "Participant" role?

[2021-12-15 02:17] jason-gcio opened #34142 "Update Mockups for View Dependents"
## Background
There is a new pattern for certain types of lists and View Dependents might be a candidate for this work; we should update the mockups to reflect this new pattern and ensure it makes sense for our product before FE's implementation.

## Considerations
- Has this been thoroughly researched?  Do we have a choice?

## Tasks
- [ ] Parlay the recent pattern changes into a mockup for FE to

[2021-12-15 02:20] jason-gcio opened #34143 "Update Mockups for Rated Disabilities"
## Background
There is a new pattern for certain types of lists and Rated Disabilities might be a candidate for this work; we should update the mockups to reflect this new pattern and ensure it makes sense for our product before FE's implementation.

## Considerations
- Has this been thoroughly researched?  Do we have a choice?

## Tasks
- [ ] Parlay the recent pattern changes into a mockup for FE

[2021-12-15 02:25] jparker0425 commented on #33449
Collab Cycle ticket for the dev work can be referenced [here](https://github.com/department-of-veterans-affairs/va.gov-team/issues/33988).

[2021-12-15 02:28] pjhill opened #34144 "Quality Assurance Feedback - Midpoint Review - [Public Websites, Outreach & Events Enhancement MVP]"
## VFS acceptance criteria
- [ ] Let Platform know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
None

## Feedback
- **Must** = the feedback must be applied
- **Should** = the feedback is best practice
- **Consider** = suggestions/enhancements

**Must:**
None

**Should:**
- It

[2021-12-15 02:33] jparker0425 commented on #33444
Linking Collab Cycle ticket [here](https://github.com/department-of-veterans-affairs/va.gov-team/issues/33988).

[2021-12-15 02:51] #33486 closed

[2021-12-15 02:51] #33485 closed

[2021-12-15 02:51] #32990 closed

[2021-12-15 02:51] #32993 closed

[2021-12-15 02:51] #32989 closed

[2021-12-15 02:51] #32988 closed

[2021-12-15 02:51] #32337 closed

[2021-12-15 02:51] #32984 closed

[2021-12-15 02:51] #32339 closed

[2021-12-15 02:51] #33484 closed

[2021-12-15 02:51] #32996 closed

[2021-12-15 02:51] #32991 closed

[2021-12-15 02:52] #32986 closed

[2021-12-15 02:52] #32985 closed

[2021-12-15 02:52] #28531 closed

[2021-12-15 02:52] #32987 closed

[2021-12-15 02:52] #32338 closed

[2021-12-15 02:52] #33264 closed

[2021-12-15 02:52] #32992 closed

[2021-12-15 02:53] #23548 closed

[2021-12-15 03:25] SgardnerPMP commented on #34131
Teams will be the easiest to change ownership, but SharePoint does have an add on app to create a blog, that can be shared.  Unfortunately, that will require a lot of administration.  A new forum or forum like discussion in Teams will be the easiest to create with VHA.

[2021-12-15 03:26] #32492 closed

[2021-12-15 05:06] SgardnerPMP opened #34145 "[Quality Assurance Audit] Post Production Audit Part 2 of VAMC VA Fayetteville Arkansas for content, plain language standards, formatting.[CW]"
## User Story
As a VHA Digital Media web manager, the system websites need to be audited for standardization and mistakes, so websites can be updated an corrected to meet design standards.

## Goal
Remove deviations from standards.

## Resources - Tools - Documentation
[Audit Part 1 checklist](https://salientcrgt.sharepoint.com/sites/VSATeam/SitePages/Home.aspx)

## Tasks
Using the audit Part 1 ch

[2021-12-15 05:08] SgardnerPMP opened #34146 "[Quality Assurance Audit] Post Production Audit Part 2 of VAMC VA Cheyenne for content, plain language standards, formatting.[CW]"
## User Story
As a VHA Digital Media web manager, the system websites need to be audited for standardization and mistakes, so websites can be updated an corrected to meet design standards.

## Goal
Remove deviations from standards.

## Resources - Tools - Documentation
[Audit Part 1 checklist](https://salientcrgt.sharepoint.com/sites/VSATeam/SitePages/Home.aspx)

## Tasks
Using the audit Part 1 ch

[2021-12-15 05:13] SgardnerPMP opened #34147 "[Quality Assurance Audit] Post Production Audit Part 2 of VAMC VA Montana for content, plain language standards, formatting.[CW]"
## User Story
As a VHA Digital Media web manager, the system websites need to be audited for standardization and mistakes, so websites can be updated an corrected to meet design standards.

## Goal
Remove deviations from standards.

## Resources - Tools - Documentation
[Audit Part 1 checklist](https://salientcrgt.sharepoint.com/sites/VSATeam/SitePages/Home.aspx)

## Tasks
Using the audit Part 1 ch

[2021-12-15 05:16] SgardnerPMP opened #34148 "[Quality Assurance Audit] Post Production Audit Part 2 of VAMC VA Charleston for content, plain language standards, formatting.[CW]"
## User Story
As a VHA Digital Media web manager, the system websites need to be audited for standardization and mistakes, so websites can be updated an corrected to meet design standards.

## Goal
Remove deviations from standards.

## Resources - Tools - Documentation
[Audit Part 1 checklist](https://salientcrgt.sharepoint.com/sites/VSATeam/SitePages/Home.aspx)

## Tasks
Using the audit Part 1 ch

[2021-12-15 05:21] SgardnerPMP opened #34149 "[Quality Assurance Audit] Post Production Audit Part 2 of VAMC VA Columbia, SC for content, plain language standards, formatting.[CW]"
## User Story
As a VHA Digital Media web manager, the system websites need to be audited for standardization and mistakes, so websites can be updated an corrected to meet design standards.

## Goal
Remove deviations from standards.

## Resources - Tools - Documentation
[Audit Part 1 checklist](https://salientcrgt.sharepoint.com/sites/VSATeam/SitePages/Home.aspx)

## Tasks
Using the audit Part 1 ch

[2021-12-15 05:56] SgardnerPMP opened #34150 "[VAMC] Draft and outline "how to" artifact for pulling legacy content and transforming that content to new page {CW]"
## Story
As a VA web content writer I need to best understand how to transform my site, so I can utilize plain language, va.gov design content, and how to write in general terms that will best support a Veteran centric web site.

## Audience
This document will help support future editors and transformation of a legacy website.

## Resources

## TASKS
- [x] Start by framing out steps to begin pulli

[2021-12-15 06:49] cweagans commented on #33873
Turns out that we need to use this action for the graphql queries too, so closing this out. PR is here: https://github.com/department-of-veterans-affairs/content-build/pull/851

[2021-12-15 06:49] #33873 closed

[2021-12-15 07:16] cweagans commented on #31199
Hello, I was able to get this set up, but it appears that I've been assigned to different groups than the rest of my team. I am concerned that this different level of access will impact my ability to contribute to team efforts. I now have `dsva-vfs-developers` and `dsva-vfs-all`, rather than `adhoc-vetsgov-devops` or similar. Can this be adjusted as part of this ticket or should that be a new one?

[2021-12-15 13:38] nicole-leonard opened #34151 "Product Feedback 2.0 [Draft in Progress]"
## Product Outline
[Link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/product-management/product-outline-template.md)

## High Level User Story/ies
As a Veteran, I would like the ability to report my experience with the different pages I access on va.gov.

As GovCIO we need to provide the veterans with the following canned messages when they report a bad expe

[2021-12-15 13:46] nicole-leonard opened #34152 "User wireframes and user flow for Submit Feedback Tool"
## Product Outline
[Link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/product-management/product-outline-template.md)

## High Level User Story/ies
As a _____, I need _____ so I can _____.

## Hypothesis or Bet
Right now, the rating system only captures if the user rates the page as either 'good' or 'bad'. This update will collect additional feedback if a use

[2021-12-15 13:46] nicole-leonard opened #34153 "User wireframes for R&S rating system"
Placeholder until I get more information.

[2021-12-15 13:47] #34153 closed

[2021-12-15 13:48] CosmicSyntax opened #34154 "Overall Goal of IET Sandbox Env"
Goal: we want to have a sandbox environment that mimics EKS prod (where VETS API is being migrated to) as much as possible to enable us to prototype services dedicated to file upload, feature toggle, etc.
Currently:
Igor has access to socks and aws;  Dan has submitted a request for socks and aws
Igor (and probably eventually me) has (have) limited access
We cannot see any existing EC2 instances, a

[2021-12-15 14:03] hdjustice commented on #34015
@mnorthuis We opened this Content & IA ticket this week and Tressa posted in the [Sitewide Content slack](https://dsva.slack.com/archives/C01K37HRUAH/p1639417624186500) on Monday.

[2021-12-15 14:08] #30188 closed

[2021-12-15 14:19] julieadair1 commented on #12820
Per @mdewey  this can be closed.

[2021-12-15 14:19] #12820 closed

[2021-12-15 14:19] hdjustice opened #34155 "[Design] My VA: Review and update/cleanup Sketch files for My VA"
## Background

This is a ticket for My VA Sketch file clean-up efforts.

## Tasks

- [ ] Update artboards to use pattern library symbols (VA.gov pattern library and Auth exp library) wherever possible.
    - For sure the header and nametags need to be updated to use the symbol from the Auth library
    - Footer and instances of the additional info component likely need to be updated to use the sym

[2021-12-15 14:23] julieadair1 commented on #13711
Per @mdewey this can be closed. :)

[2021-12-15 14:23] #13711 closed

[2021-12-15 14:36] #34050 closed

[2021-12-15 14:36] pjhill commented on #34039
The survey is in place, and ready to run -- looks good!

[2021-12-15 14:36] #34039 closed

[2021-12-15 14:37] pjhill commented on #32003
This looks great!

[2021-12-15 14:37] #32003 closed

[2021-12-15 14:38] nicole-leonard opened #34156 "Search UI Consistency for UX and Find a Form"
Placeholder until I meet with Megan for more context

## Product Outline
[Link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/product-management/product-outline-template.md)

## High Level User Story/ies
As a Designer, I need make front-end development changes to Search specific components based on design comps and Search UI spreadsheet so I they are consistent

[2021-12-15 14:40] #33435 closed

[2021-12-15 14:45] julieadair1 commented on #18236
Per @mdewey  this is something we may still want to explore at some point, however it will not be in the near future so I'm closing this now and we can open again if needed.

[2021-12-15 14:45] #18236 closed

[2021-12-15 14:52] jimuhh commented on #33199
I added an acceptance criteria to make this entire document machine readable so that wherever it ends up, sorting, filtering and searching will work seamlessly.

[2021-12-15 14:58] JordanSWhite opened #34157 "Revise product outline for design intent"
- [x] Review product brief for the [MyHealtheVet health apartment](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/health-apartment/product/product-brief.md) in GitHub
- [ ] Update document to reflect current team and changes to design / design intent
- [ ] Socialize with VA-PO, VA-DL, and platform support for review / edits / approval
**Deliverable**

[2021-12-15 14:59] af-manish commented on #12343
[direct-deposit-check-guide.svg.zip](https://github.com/department-of-veterans-affairs/va.gov-team/files/7720449/direct-deposit-check-guide.svg.zip)

I'm attaching the svg as a zip file here.

[2021-12-15 14:59] Kimberley2019 opened #34158 "[Tier 3] VA benefit letter download AND claim submission issues - SF 06272750"
## Issue Description
_Caller is having issues with downloading VA benefit letter AND submitting a claim.  Please review information in this ticket and from the encrypted email containing more details. _

---
## Tasks
- [ ] _Review provided details in ticket_
- [ ] _Review additional information from encrypted email_
- [ ] _Advise if additional information is required for review and resolution_
- [

[2021-12-15 15:01] brianalloyd commented on #33193
Sprint 62 is closed

[2021-12-15 15:01] #33193 closed

[2021-12-15 15:08] Kimberley2019 commented on #34158
@vhenry07 encrypted email was sent to you containing all information.

From: REDACTED
Sent: Tuesday, December 14, 2021 2:47 PM
To: PM VA Technical Support <VATechnicalSupport@va.gov>
Subject: [EXTERNAL] Re: VA benefits letter access issue

Hello,

I still cannot access my letters, and the only thing that happens is that nothing appears.

I have another issue where I cannot submit a claim.

1.I log

[2021-12-15 15:12] jason-gcio commented on #33897
Mislabeled for Sprint 62

[2021-12-15 15:12] jason-gcio commented on #32408
Mislabeled for Sprint 62

[2021-12-15 15:12] Kimberley2019 commented on #32877
@vhenry07 @Mottie the case notes do not contain that information.  Is this a detail that you need an answer to?  If so, we can attempt to reach the veteran via email.  Please advise how we should proceed.

[2021-12-15 15:14] hdjustice opened #34159 "Access for [Heather Justice]"
### COR Name

Mary O’Toole

### Vendor Onboarding Representative Name

GovernmentCIO - Kimberly O. West

### Your Name

Heather Justice

### Your Email

heather.justice@adhocteam.us

### Name of Your Team

Authenticated Experience, Product Manager, Ad Hoc

### Service(s) You Want Access To

SOCKS

### Public SSH Key

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC9/bZ6LAbyhP7R/BqALJk06uqUW7MlSb+6Du3yqELY0

[2021-12-15 15:19] Kimberley2019 commented on #32869
@vhenry07 @Mottie

From: VA Technical Support
Sent: Wednesday, December 15, 2021 10:19 AM
To: 'n.bennett007@gmail.com' <n.bennett007@gmail.com>
Subject: RE: VA Benefits Letter Issue

Good Morning Mr. Bennett,
After further review, the team would like to set up a shadowing call with you so that they can see the error in real time.
Are you able to provide three dates and times that work best for you

[2021-12-15 15:20] shiragoodman opened #34160 "[Assistive tech and device support] Pages require sensory characteristics to be understood or operable. (11.11.1)"
### General Information

#### VFS team name
Debt Resolution

#### VFS product name
Medical Copays (MCP)

#### Point of Contact/Reviewers
Josh Kim (@joshkimux) - Accessibility

---

### Platform Issue
Pages require sensory characteristics to be understood or operable.

### Issue Details
No alternative is provided to screen reader users to inform them that content is important (which is demonstrated

[2021-12-15 15:20] shiragoodman opened #34161 "[Assistive tech and device support] Page functionality isn't keyboard accessible. (11.05.1)"
### General Information

#### VFS team name
Debt Resolution

#### VFS product name
Medical Copays (MCP)

#### Point of Contact/Reviewers
Brian DeConinck (@briandeconinck) - Accessibility

---

### Platform Issue
Page functionality isn't keyboard accessible.

### Issue Details
This issue occurs with headings in three places that I've noticed:
- When not logged in, the heading "Please sign in to rev

[2021-12-15 15:20] shiragoodman opened #34162 "[Markup and meta data] Name and role can't be programatically determined for UI components. (09.06.1)"
### General Information

#### VFS team name
Debt Resolution

#### VFS product name
Medical Copays (MCP)

#### Point of Contact/Reviewers
Josh Kim (@joshkimux) - Accessibility

---

### Platform Issue
Name and role can't be programatically determined for UI components.

### Issue Details
The `p` element's id `copay-balance` is not unique for each of the cards. This will result in all of the heading

[2021-12-15 15:20] shiragoodman opened #34163 "[Markup and meta data] HTML markup isn't valid. (09.01.1)"
### General Information

#### VFS team name
Debt Resolution

#### VFS product name
Medical Copays (MCP)

#### Point of Contact/Reviewers
Noah Gelman (@noahgelman) - Accessibility

---

### Platform Issue
HTML markup isn't valid.

### Issue Details
The value of an ARIA ID must be unique to prevent other instances from being overlooked by assistive technologies.Failing Elements My VAMy HealthProfile

[2021-12-15 15:20] shiragoodman opened #34164 "[Link and button labels] Button and link language isn't descriptive and/or their purpose isn't clear. (08.03.1)"
### General Information

#### VFS team name
Debt Resolution

#### VFS product name
Medical Copays (MCP)

#### Point of Contact/Reviewers
Angela Fowler (@AngelaFowler82) - Accessibility

---

### Platform Issue
Button and link language isn't descriptive and/or their purpose isn't clear.

### Issue Details
The links "Check details and resolve this bill" provide purpose, but not a target.

### Link,

[2021-12-15 15:20] shiragoodman opened #34165 "[Link and button labels] Button and link language isn't descriptive and/or their purpose isn't clear. (08.03.2)"
### General Information

#### VFS team name
Debt Resolution

#### VFS product name
Medical Copays (MCP)

#### Point of Contact/Reviewers
Jim Ryan (@jimuhh) - IA

---

### Platform Issue
Button and link language isn't descriptive and/or their purpose isn't clear.

### Issue Details
Some users may interpret "Learn how to pay your bill" as a link to tutorial content

### Link, screenshot or steps to

[2021-12-15 15:21] shiragoodman opened #34166 "[Components and pattern standards] Design component or pattern is not functioning or working as expected. (04.12.2)"
### General Information

#### VFS team name
Debt Resolution

#### VFS product name
Medical Copays (MCP)

#### Point of Contact/Reviewers
Mikki Northuis (@mnorthuis) - IA

---

### Platform Issue
Design component or pattern is not functioning or working as expected.

### Issue Details
Title tags are not reflecting the page H1 on the Copay balances page and Copay bill details page

### Link, screens

[2021-12-15 15:21] shiragoodman opened #34167 "[Components and pattern standards] Design component or pattern is not functioning or working as expected. (04.12.1)"
### General Information

#### VFS team name
Debt Resolution

#### VFS product name
Medical Copays (MCP)

#### Point of Contact/Reviewers
Mikki Northuis (@mnorthuis) - IA

---

### Platform Issue
Design component or pattern is not functioning or working as expected.

### Issue Details
Breadcrumb segments must match the corresponding page H1 - The current page segment of the breadcrumb on the "copay

[2021-12-15 15:21] shiragoodman opened #34168 "[Components and pattern standards] Design components or patterns don't align with Design System guidelines. (04.07.3)"
### General Information

#### VFS team name
Debt Resolution

#### VFS product name
Medical Copays (MCP)

#### Point of Contact/Reviewers
Sean Sewell (@seansewell) - Design

---

### Platform Issue
Design components or patterns don't align with Design System guidelines.

### Issue Details
On the "Pay your VA copay bill" page, there are two informational alert boxes. The informational icons are inco

[2021-12-15 15:21] shiragoodman opened #34169 "[Components and pattern standards] Design components or patterns don't align with Design System guidelines. (04.07.2)"
### General Information

#### VFS team name
Debt Resolution

#### VFS product name
Medical Copays (MCP)

#### Point of Contact/Reviewers
Josh Kim (@joshkimux) - Accessibility

---

### Platform Issue
Design components or patterns don't align with Design System guidelines.

### Issue Details
"Notice of rights and responsibilities" is a button styled as a link.

### Link, screenshot or steps to recr

[2021-12-15 15:21] shiragoodman opened #34170 "[Components and pattern standards] Design components or patterns don't align with Design System guidelines. (04.07.1)"
### General Information

#### VFS team name
Debt Resolution

#### VFS product name
Medical Copays (MCP)

#### Point of Contact/Reviewers
Sean Sewell (@seansewell) - Design

---

### Platform Issue
Design components or patterns don't align with Design System guidelines.

### Issue Details
On the "Pay your VA copay bill" page, when more than one informational and/or alert box is being used on the sa

[2021-12-15 15:21] shiragoodman opened #34171 "[Content organization] Content organization and/or categorization isn't clear or actionable. (02.06.1)"
### General Information

#### VFS team name
Debt Resolution

#### VFS product name
Medical Copays (MCP)

#### Point of Contact/Reviewers
Jim Ryan (@jimuhh) - IA

---

### Platform Issue
Content organization and/or categorization isn't clear or actionable.

### Issue Details
On copay details page, details on charges aren't available except  as inconspicuous downloadable PDF. "Details" label implies

[2021-12-15 15:21] shiragoodman opened #34172 "[Content organization] Long or complex sections of content aren't broken up into content chunks or bulleted lists. (02.05.1)"
### General Information

#### VFS team name
Debt Resolution

#### VFS product name
Medical Copays (MCP)

#### Point of Contact/Reviewers
Jim Ryan (@jimuhh) - IA

---

### Platform Issue
Long or complex sections of content aren't broken up into content chunks or bulleted lists.

### Issue Details
On Copay Balances page, copay name, facility name and location are all on the same wrapping line, not "

[2021-12-15 15:21] shiragoodman opened #34173 "[Content organization] Your page doesn't follow heading hierarchy. Headings aren't properly nested, and headings and/or labels aren't relevant to the page. (02.04.2)"
### General Information

#### VFS team name
Debt Resolution

#### VFS product name
Medical Copays (MCP)

#### Point of Contact/Reviewers
Angela Fowler (@AngelaFowler82) - Accessibility

---

### Platform Issue
Your page doesn't follow heading hierarchy. Headings aren't properly nested, and headings and/or labels aren't relevant to the page.

### Issue Details
Contact information for your VA facili

[2021-12-15 15:21] shiragoodman opened #34174 "[Content organization] Your page doesn't follow heading hierarchy. Headings aren't properly nested, and headings and/or labels aren't relevant to the page. (02.04.1)"
### General Information

#### VFS team name
Debt Resolution

#### VFS product name
Medical Copays (MCP)

#### Point of Contact/Reviewers
Noah Gelman (@noahgelman) - Accessibility

---

### Platform Issue
Your page doesn't follow heading hierarchy. Headings aren't properly nested, and headings and/or labels aren't relevant to the page.

### Issue Details
Heading elements are not in a sequentially-d

[2021-12-15 15:21] shiragoodman opened #34175 "[Overall user experience] Design component or pattern in use isn't considered a best practice. (01.01.1)"
### General Information

#### VFS team name
Debt Resolution

#### VFS product name
Medical Copays (MCP)

#### Point of Contact/Reviewers
Sean Sewell (@seansewell) - Design

---

### Platform Issue
Design component or pattern in use isn't considered a best practice.

### Issue Details
On the "Your copay detail" page, action links are behaving as anchor links. This behavior is inconsistent with the

[2021-12-15 15:21] shiragoodman opened #34176 "508-defect-4 [SEMANTIC MARKUP]: Consider using `ul` and `li` elements for the cards list"
### General Information

#### VFS team name
Debt Resolution

#### VFS product name
Medical Copays (MCP)

#### Point of Contact/Reviewers
Josh Kim (@joshkimux) - Accessibility

---

### Platform Issue
No VA.gov Experience Standard for the issue found.

### Issue Details
Currently, the list of balance cards are coded as `div`s with nested `h3`s. As this is technically a list of cards, the markup cou

[2021-12-15 15:21] shiragoodman opened #34177 "508-defect-3 [SEMANTIC MARKUP]: Download link for statements should have download attribute and should not open in a new tab"
### General Information

#### VFS team name
Debt Resolution

#### VFS product name
Medical Copays (MCP)

#### Point of Contact/Reviewers
Josh Kim (@joshkimux) - Accessibility

---

### Platform Issue
No VA.gov Experience Standard for the issue found.

### Issue Details
The download link for statements has several issues to be addressed including:
- it forces a new tab to open which violates WCAG g

[2021-12-15 15:23] oseasmoran73 commented on #33802
Re-opening ticket as we still want to clean up `Jenkins.groovy`

## Task

- [ ] `content-build` cleanup of `jenkins.groovy` where applicable (be mindful of [Jenkinsfile.content](https://github.com/department-of-veterans-affairs/content-build/blob/master/Jenkinsfile.content) to not interrupt flow)
- [ ] `vets-website` cleanup of `jenkins.groovy` where applicable

[2021-12-15 15:28] hallihocine commented on #33885
Ticket has been validated in staging: The breadcrumb on institution details page reflect the correct location of the details page regardless of how the user navigated to the page. See screenshots below:

- When navigated from the search results page:
<img width="1235" alt="Breadcrumb from search results" src="https://user-images.githubusercontent.com/86266024/146214865-ab6a4e3f-340c-4c06-b2cc-5f71

[2021-12-15 15:28] tmitchellgcio commented on #33734
I believe there is a function to copy the address and compare them when that checkbox is clicked. I will have to dive in the code, but we have the ability to display messages in both of those scenarios.

[2021-12-15 15:30] hallihocine commented on #33885
- Test run in Test Rail:
https://dsvavsp.testrail.io/index.php?/runs/view/2736&group_by=cases:section_id&group_order=asc&group_id=3226
- Test script/steps:
[Correct breadcrumb on institution details page.xlsx](https://github.com/department-of-veterans-affairs/va.gov-team/files/7720693/Correct.breadcrumb.on.institution.details.page.xlsx)

[2021-12-15 15:35] RLHecht commented on #33431
@bethpottsVADEPO Here's the revised word doc with new screenshots and cleaned up comments. I was going to also say in the email we send that we made some small plain language updates throughout and give one example so they are aware of why we made some of the other edits. If this looks good I'll send it off
[VA claim exam (CP exam)-edits.docx](https://github.com/department-of-veterans-affairs/va.g

[2021-12-15 15:36] Kimberley2019 commented on #32850
@codyreinold-usds any updates?

[2021-12-15 15:37] #33903 closed

[2021-12-15 15:37] #33904 closed

[2021-12-15 15:37] ScottyRJames opened #34178 "Remove deceased status check"
## Issue Description
Our team has discovered that deceased will be handled by profile on login so we need to remove the in place code for this.

---
## Tasks
- [ ] Revert deceased PR

## Acceptance Criteria
- [ ] Deceased code is no longer included
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to an Epic** (what body of work is

[2021-12-15 15:37] #33907 closed

[2021-12-15 15:37] julieadair1 commented on #24089
Closing as this appears to be an empty template.

[2021-12-15 15:37] #24089 closed

[2021-12-15 15:38] #33910 closed

[2021-12-15 15:38] #33911 closed

[2021-12-15 15:38] #33896 closed

[2021-12-15 15:38] #33912 closed

[2021-12-15 15:39] #33908 closed

[2021-12-15 15:39] #33906 closed

[2021-12-15 15:44] #34084 closed

[2021-12-15 15:45] ERRonat0609 commented on #33885
@mattpointzxer0 - launch-blocker defect for your validation.

[2021-12-15 15:46] HirschDavid opened #34179 "Adding David Hirsch to DSVA Slack"
Please add Hirsch_David@ne.bah.com as a full member.

COR Name
Edward Hensel

Vendor Onboarding Representative Name
BAH - Jessica Riggs

Your Name
David Hirsch

Your email
Hirsch_David@ne.bah.com

Name of Your Team
BID APL Help Desk

[2021-12-15 15:46] joeniquette commented on #32310
Waiting on MHV to give us a test account that can be used for validation. Emails have been going back and forth between myself, MHV, and IAM to get this completed. Until we have an account this is blocked.

[2021-12-15 15:46] bethpottsVADEPO commented on #33723
@lwalsh617 Thank you for this! I'll ask you to update the chart with health care numbers once Danielle gives me that. I also have a couple questions: the number for housing for FAQs covered by R&S articles is 18. Is that the number covered in the 5 articles or so that are sitting with Raleigh right now? And are the 48 future articles unwritten?

[2021-12-15 15:48] julieadair1 commented on #34114
@jparker0425 this looks like something we should probably pull in.  Thoughts?

[2021-12-15 15:50] omgitsbillryan opened #34180 "[Prometheus] Routine maintenance needed"
## The Problem
Prometheus (prod) is experiencing some instability. It sometimes goes offline:
![image](https://user-images.githubusercontent.com/3077884/146217758-ee23c75a-cca6-4513-803f-0b1c993effa1.png)

I _think_ this is related to some combination of:
- the amount of metrics we're collecting
- the various prometheus configurations for how we store data & how long it's stored for
  - `storage.l

[2021-12-15 15:57] rileyorr opened #34181 "[MCP] Create an alternative facility detail page for if the most recent statement is past the payment due date"
## Issue Description
If the Veteran has neither paid their copay/prescription charges balance nor requested financial help within the due date, we should display an alert that indicates they should contact HRC immediately to resolve the balance.

---
## Tasks
- [x] Create an alert directing Veterans to contact HRC immediately if the current date is past their due date
- [x] Present the design to t

[2021-12-15 15:57] #34060 closed

[2021-12-15 15:57] #34059 closed

[2021-12-15 15:57] peyton-lucas commented on #33679
Hi! Just checking in on this. Do you previous posts mean I have SOCKS access? It says at the bottom, I am still awaiting approval.

[2021-12-15 15:58] mrblanco1 commented on #8749
Hi @noahgelman - GM! Just checking if you had time to check this ticket since Tammy made changes and it should be ready to pass. Can you please confirm? Thanks!

[2021-12-15 16:00] Kimberley2019 commented on #29948
Never heard back from veteran.

[2021-12-15 16:00] #29948 closed

[2021-12-15 16:07] #29947 closed

[2021-12-15 16:09] Mottie opened #34182 "HLR: JS error with missing mobile phone"
## Description

A JavaScript error occurs on the Higher-Level Review contact information page when a Veteran doesn't have a mobile phone number in the system.

## Tasks
- [ ] Prevent JS error
- [ ] Add tests

## Definition of ddnoe
- [ ] All tasks complete
- [ ] All tests passing

[2021-12-15 16:13] MarciMcGuireGCIO commented on #33438
Noting that I am breaking up this ticket into two parts since all of it cannot be completed by the end of Sprint 63 due to the holidays and vacation schedules.

[2021-12-15 16:14] Kimberley2019 commented on #29945
Hello again,

It doe snot matter what I do to this page. It will not change. I have entered all the required fields. Please help.

[2021-12-15 16:14] SKasimow commented on #34134
@jchilders Hola - I just added placeholder text for AC as we discussed during stand-up. Can you point and  adjust/clarify if needed. Thanks!

cc: @MickinSahni

[2021-12-15 16:16] CosmicSyntax opened #34183 "VETS API Endpoint Inventory"
## Description
The Integration Experience Team (IET) is exploring the possibilities of turning various features in the VETS API into standalone services that would live in a separate repo and deployed independently.  Currently this is a proof-of-concept effort, and deliverables that comes out of this effort may serve as a guide for the team responsible for actually creating services in the product

[2021-12-15 16:17] #33916 closed

[2021-12-15 16:19] Kimberley2019 commented on #29944
@vhenry07 is this a ticket that Matt Self would be able to assist with?

[2021-12-15 16:21] Kimberley2019 commented on #29941
@vhenry07 any updates on this ticket?

[2021-12-15 16:21] andaleliz commented on #33734
Thanks @tmitchellgcio - there's definitely a function to copy the address from mailing to home. But it would be great to learn more about the comparison functionality we have. Since this ticket is just for wire-framing possible solutions, I don't think you need to spend time digging into the code just yet. We can open a FE ticket for that work when we get there. I appreciate the info!

[2021-12-15 16:22] bethpottsVADEPO commented on #33431
Thank you for all the changes you made. I still see the hours without the zeros though--could you add those in? And there's a typo in one comment, under "Will I get my exam results at the VA claim exam?" --We ~Will~ simplified this language to align with our plain language standards.

In the email you write up, it'll be important to have a collaborative tone ("thanks so much for working with us to

[2021-12-15 16:23] Kimberley2019 commented on #29935
@vhenry07 any updates on this ticket?

[2021-12-15 16:25] #11570 closed

[2021-12-15 16:26] dillo commented on #33354
@jparker0425 here's a link to the Readme that's WIP: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/checkin/engineering/pre-check-in/edit_demographics.md

[2021-12-15 16:29] MarciMcGuireGCIO opened #34184 "[Design] Auth Profile - Personal Info Revision - Prep for user testing"
## Issue Description
_Research participant-related tasks needed in support of upcoming research project_

## Preparatory tasks
- [x] Send instructions to observers
- [x] Review recruited participant list for requirements met
- [x] Make sure all research sessions are in my calendar
- [x] Schedule team debrief sessions once a day
- [x] Followup with Perigean re participant list
- [ ] Other tasks as

[2021-12-15 16:29] Kimberley2019 commented on #9443
@vhenry07 these cases are pretty old.  I do not think that it is worth following up with the veteran due to the amount of time that has lapsed.
If you feel that this would be beneficial for your team to review in case it could fix more bugs, please do.

I am closing the ticket, but please reopen if you feel it presents a benefit.

[2021-12-15 16:29] #9443 closed

[2021-12-15 16:34] Kimberley2019 commented on #6261
Closing ticket.  Too much time has lapsed.
If there are updates that would be beneficial, please reopen ticket @vhenry07

[2021-12-15 16:34] #6261 closed

[2021-12-15 16:35] GnatalieH commented on #33746
The [audit portion of this work](https://github.com/department-of-veterans-affairs/va.gov-team/issues/19573) is for the current sprint. I didn't realize this ticket was also for the current sprint, as I thought the documentation would follow the audit in the next sprint. I'll need to work with @CourtneyChambers77 on this too.

[2021-12-15 16:36] MarciMcGuireGCIO commented on #33620
Cannot start until we have research candidates lined up and sessions scheduled.

[2021-12-15 16:37] vlivshin commented on #31386
@lindsay-insco @shanemelliott. I've attached the Message Template Audit Summary: [https://app.zenhub.com/files/133843125/4f79514c-c70d-43cd-8ba7-76ee789d3449/download](https://app.zenhub.com/files/133843125/4f79514c-c70d-43cd-8ba7-76ee789d3449/download)

[2021-12-15 16:39] lianilychee commented on #33761
12/15 Weds:
- finishing up the rules based on what we talked about on Monday!
- hope tmr SU - will have a good idea of how long will go into writing the YAML
- before Liani and Gretchen OOO - review plan for looping in Samara
  - Amy's initial thoughts: help on typos, setup for YAML formatting

[2021-12-15 16:39] Kimberley2019 commented on #33961
@vhenry07 @alsleaders any updates on this ticket?

[2021-12-15 16:39] vlivshin commented on #32541
@lindsay-insco @shanemelliott, I've attached the VEText Support Resources Survey Analysis document: [https://app.zenhub.com/files/133843125/847a5ff9-ab22-4d71-9439-427842bf9a1a/download](https://app.zenhub.com/files/133843125/847a5ff9-ab22-4d71-9439-427842bf9a1a/download)

[2021-12-15 16:40] Kimberley2019 commented on #33918
@vhenry07 any updates on this ticket?

[2021-12-15 16:42] lianilychee commented on #33764
12/15 Weds:
- no blockers yesterday
- today:
  - gonna chat with Joe and Peter, send them an xls after (put together burning questions: what have they found, what would they like us to focus on, new owners)
  - meeting notes: https://vfs.atlassian.net/wiki/spaces/CIT/pages/2019590172/2021-12-15+Meeting+notes?atlOrigin=eyJpIjoiZGEwM2Q4NTI4MmI0NDVmYWE3MDRhNmE4ODc5NzBjMjkiLCJwIjoiYyJ9

[2021-12-15 16:42] #32862 closed

[2021-12-15 16:43] MarciMcGuireGCIO opened #34185 "[Design] Auth Profile - Personal Info Revision - Submit design system bug reports"
## Background

Design and Accessibility have advised that best practice is for open text fields associated with a list of radio buttons or checkboxes should be visible by default.   The radio button set components and checkbox set components in the design system do not currently function in this manner, and has been identified as a bug.  This ticket is to submit bug reports to have these component

[2021-12-15 16:43] mchelen-gov commented on #34183
Hello, Operations team is not involved with `vets-api` backend application logic or ownership. Please coordinate with your PO to determine the appropriate team.

[2021-12-15 16:44] Kimberley2019 commented on #29182
@vhenry07 @joeniquette any updates on this ticket?

[2021-12-15 16:48] lunascoop commented on #33361
Suggest moving to the backlog until the mockups are finalized.
Last week, we met w/ the team and Mikki to review the mockups. Here are some notes:

- They won't be adding feedback features (i.e., "If you have a moment, please let us know why you unsubscribed:") for MVP
- They still need to develop the Resubscribe page
- They'll be doing user interviews to get feedback about the workflow and other

[2021-12-15 16:50] lianilychee commented on #33763
12/15 Weds:
- I'm working on that today!! Was focused on Testing tools stuff yesterday
- Done:
  - The drafts space exists - `Platform website drafts` <- name can be changed if we like
- Today:
  - Some doc ducks in a row.  Want to ground myself in the problems
  - Wondering: Are we measuring the success of the changes?
    - How do ppl feel?
    - Are we improving the quality

[2021-12-15 16:51] lianilychee commented on #33825
12/15 Weds:
- Gretchen Liani discussing tomorrow during 1:1

[2021-12-15 16:54] lianilychee commented on #33766
12/15 Weds:
- pause pending Andrea:Liani

[2021-12-15 16:55] shiragoodman commented on #34055
@SKasimow do you have any documentation I could review regarding scope? Specifically, what is MuleSoft, why are you integrating it and how will it be used? Feel free to point me to existing tickets if that's easier.

[2021-12-15 16:56] MarciMcGuireGCIO commented on #34184
Blocked until we have research participants lined up

[2021-12-15 16:57] pdavies88 commented on #32864
Draft Message: https://dsva.slack.com/archives/G01BJ3ESXL4/p1639503689394800

[2021-12-15 17:01] jparker0425 opened #34186 "[BE] Serialize Data from Vets-API to Vets-Website"
## User Story

## Description
Serialize Data from Vets-API to Vets-Website

## Acceptance Criteria

[2021-12-15 17:08] #34182 closed

[2021-12-15 17:09] jgacek commented on #32825
@mydesignrocks Has there been movement on this issue?

[2021-12-15 17:09] ltrombley commented on #34062
Task #34062 - Post Production Audit of VAMC VA Fayetteville Arkansas health care for links, standards, and design standards.[BA]  - is Complete and moved to Validate

[2021-12-15 17:13] bsmartin-ep commented on #33800
Access granted.

[2021-12-15 17:13] #33800 closed

[2021-12-15 17:16] jbritt1 commented on #30664
This done?

[2021-12-15 17:18] jbritt1 commented on #32621
This done?

[2021-12-15 17:19] MarciMcGuireGCIO opened #34187 "[Design] Personal Info Revision - Update Sketch files to reflect new open text/required field business requirements"
## Background

[Related Slack thread](https://dsva.slack.com/archives/C909ZG2BB/p1639587317423200)
Update Sketch files to reflect recent revelation that MPI cannot currently support an open text field for Gender Identity

## Tasks
- [x] Update Sketch files for Personal Info Revision to remove open text field from Gender Identity section
- [x] Update Sketch files to show how the Preferred Name fiel

[2021-12-15 17:21] jbritt1 commented on #34061
### For AWS Access

User: Daniel Choi
Vendor: Michael G. Lovejoy
Approval needed: @mchelen-gov

[2021-12-15 17:23] jbritt1 commented on #34125
### For AWS Access

User: Harshil Moradia
COR: Cecila Lee
Approval needed: @mchelen-gov

[2021-12-15 17:24] brianalloyd opened #34188 "[FE] Remove unused `fieldOwner` fields for CLP in favor of `fieldRelatedOffice`"
## User Story
- As a Veteran, Caregiver and user of VA.gov, I want to easily explore and navigate the outreach and events page.

## Description
- As a result of our CMS discussion it was determined that we need to remove unused `fieldOwner` fields for CLP in favor of `fieldRelatedOffice`.

## Tasks
- [ ] Remove unused `fieldOwner` fields for CLP in favor of `fieldRelatedOffice`
- [ ] Test and vali

[2021-12-15 17:25] jbritt1 commented on #34127
### For AWS Access

User: Andrew Herzberg
Vendor: Michael G. Lovejoy
Approval needed: @mchelen-gov

[2021-12-15 17:26] jbritt1 commented on #34159
SOCKS access granted. Please continue with [the guide](https://depo-platform-documentation.scrollhelp.site/getting-started/Internal-tools-access-via-SOCKS-proxy.1821081710.html) to establish a connection to SOCKS proxy.

[2021-12-15 17:26] #34159 closed

[2021-12-15 17:30] #33278 closed

[2021-12-15 17:30] LinnJS commented on #27923
This bug is still happening and needs to be revised and communicated with VSP but is low priority in light of MCP.

With that being said this will also be an edge case for MCP but not 100% needed for launch,

[2021-12-15 17:30] LinnJS commented on #26211
Closing this out since we have the API working end to end.

[2021-12-15 17:30] #26211 closed

[2021-12-15 17:31] LinnJS commented on #27439
Unsure if this was ever resolved might need to be re-verified.

[2021-12-15 17:32] rbeckwith-oddball commented on #33627
Verified that the user has been removed

[2021-12-15 17:32] #33627 closed

[2021-12-15 17:33] jsgarmon commented on #32621
Waiting on ticket completion:
![image.png](https://images.zenhubusercontent.com/614de3ab25470e8cb6e1d4bb/ef496faa-dbf5-4f1f-94bd-9ba4d6cdd22e)

[Link on ticket](https://yourit.va.gov/nav_to.do?uri=u%5Fwork%5Ftask%2Edo%3Fsys_id=75b7922f1b3bb85018da5316624bcb5a&view=sp&id=form&table=u_work_task) just takes me to the main yourit.va.gov page (I'm guessing I don't have permission to see the ticket itse

[2021-12-15 17:34] rbeckwith-oddball commented on #33628
Verified that I could not find the user in the usual places

[2021-12-15 17:34] rbeckwith-oddball commented on #33628
Verified that I could not find the user in the usual places

[2021-12-15 17:34] #33628 closed

[2021-12-15 17:36] kelsonic commented on #34188
PR merged, will go out with daily deploy today

[2021-12-15 17:36] #34188 closed

[2021-12-15 17:43] #33668 closed

[2021-12-15 17:43] rbeckwith-oddball commented on #33668
The last day says 12/17/2021, but the offboarding seems to be complete already

[2021-12-15 17:45] vlivshin commented on #31250
I completed the new user registration couple of weeks ago.Emailed eMAS today because I'm still waiting on admin approval.

[2021-12-15 17:45] af-manish commented on #33621
Spike completed, confirmed we can turn this off.

[2021-12-15 17:45] #33621 closed

[2021-12-15 17:46] ldelacosta commented on #32593
In today's Backlog Refinement meeting, the team will need to look at the VETS-API to see if we are pulling the correct field for clinic location. Reference ticket that worked on pulling the clinic location info: #32594

[2021-12-15 17:55] andaleliz commented on #33827
putting a 5 on this since I have no idea how much work/feedback will come out of the design intent

[2021-12-15 17:55] MarciMcGuireGCIO commented on #33438
@cgednalske - would this estimate be reduced since we peeled half the tasks out into a new ticket?  Thx!

[2021-12-15 17:56] tressaellen commented on #34095
Set up meeting with platform on Friday 12/15.

[2021-12-15 17:59] callen2563 commented on #33223
@cindymerrill The "check other times" copy came from content so I'm not sure we should change that to "show" but I can run it by them to see.

[2021-12-15 18:00] mnorthuis commented on #32980
@miabecker @natashaj7 I have some proposed modifications to your flow that I'd love to get your thoughts on.  Let me know if you have questions on this, or if you want to talk through any of these.  Finalizing the flow should be done before we can finalize IA and content team can do their work.

![image](https://user-images.githubusercontent.com/20994159/146238294-56e23617-404a-414e-bfa4-c9b38ab28

[2021-12-15 18:01] dillo commented on #33298
@julieadair1 @jparker0425 I think this is a duplicate of #33302

[2021-12-15 18:02] joshkimux commented on #33223
@callen2563 , I'd trust content's suggestions! The feedback was meant to be more of a question on whether or not it is a link or a button in terms of behavior (e.g. is it navigating to a new page? or is it conducting an action on the same page like expanding the amount of results?)

[2021-12-15 18:04] cohnjesse opened #34189 "Identify which eBenefits apps need to be broken up for the VSP app separation project"
## Background
Our application on VFS has very long build times with lots of flakey unit tests that fail in builds often, this is mostly due to the fact that when a build is run all of the apps have to built at the same time. To combat this the VSP team has undertaken an initiative to break the apps up and isolate them so that each app can be built independently. To do our part we need to begin the

[2021-12-15 18:06] nprimak commented on #33783
@JordanSWhite is this a duplicate of #33985 ?

[2021-12-15 18:07] Kimberley2019 commented on #29127
From: REDACTED
Sent: Thursday, September 16, 2021 6:32 PM
To: VA Technical Support <VATechnicalSupport@va.gov>
Subject: Re: [EXTERNAL] Re: Disability Claim Application Issue

No error message, it just stays on the screen I provided.

[2021-12-15 18:07] julieadair1 commented on #33298
Yep, I agree.  Will close this one in favor of 33302

[2021-12-15 18:07] #33298 closed

[2021-12-15 18:07] callen2563 commented on #33223
@joshkimux Thank you so much for the quick turn around on your recommendations!

Couple things:

"Disabled" text must still meet contrast requirements ( I will fix this issue )

Revisiting the placement of the desktop actions "add to calendar... share on fb..."
( for MVP we are only adding the two new features: reoccurring events and filter by date so we aren't changing things like this that are i

[2021-12-15 18:10] Kimberley2019 commented on #29127
@alsleaders I have sent an email to the veteran asking if the fix has allowed him to submit his claim.  I will keep you posted.

From: VA Technical Support
Sent: Wednesday, December 15, 2021 1:06 PM
To: REDACTED
Subject: RE: [EXTERNAL] Re: Disability Claim Application Issue

Good Afternoon Mr. REDACTED,

Can you please advise if you are still experiencing the issue from September?

The team did a

[2021-12-15 18:11] JordanSWhite opened #34190 "Recommendations for iteration from research report"
- [x] Review research report from sprint 6 guerrilla testing and develop a list of recommendations
- [x] Present a list of recommendations to VA-PO, VA-DL, and other interested VA stakeholders for review / approval / prioritization

**Deliverable**: N/A

[2021-12-15 18:12] hdjustice commented on #33827
@andaleliz - Ticket #34047 was created for the feedback.  There wasn't much, but Tressa does have meetings with content/IA and Platform to discuss the design options.

[2021-12-15 18:13] JordanSWhite opened #34191 "Work with Platform team to plan for Collaboration Cycle"
- [x] Discuss current stage of design iteration and readiness / requirements to enter collaboration cycle: design intent
- [x] Socialize readiness / requirement status with VA-PO and VA-DL

**Deliverable:** Collaboration cycle approach plan

[2021-12-15 18:15] JordanSWhite commented on #34157
Product Outline: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/health-apartment/product/product-brief.md

[2021-12-15 18:16] mmiddaugh opened #34192 "VBA SME interview artifact"
## Issue Description
We conducted interviews with VBA SMEs with the goals of

- Evaluating the current VBA taxonomy against the mental models of users: names, scope, and categorization of services
- Evaluating the list of benefits obtained from our survey of groups against the list of services offered in reality.
- Detecting missing services or context that will allow for better follow-up question

[2021-12-15 18:18] JordanSWhite opened #34193 "Historic health apartment project onboarding: Tami"
- [x] Review [Health Apartment Onboarding Guide]( https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/digital-health-modernization/onboarding.md) in GitHub
- [x] Review iterative design in [Project mural room] (https://app.mural.co/t/innovationboards1199/r/1631551671896) in Mural
- [x] Review the [platform tools] (https://depo-platform-documentation.scrol

[2021-12-15 18:19] cohnjesse opened #34194 "Replace all `AdditionalInfo` components in our apps with va-additional-info components"
## Background
The VSP team has published a new version of the component library where they have replaced the React `AdditionalInfo` component with a `va-additional-info` web component. We will need to go through our apps and replace these with the new web components otherwise our tests will start failing builds.

## Considerations
[Slack conversation about this](https://dsva.slack.com/archives/C5H

[2021-12-15 18:19] vhenry07 opened #34195 "Hypertension Fast Tracker Follow-on Development"
## Issue Description
Conclude assistance with fast tracker.
---
## Tasks
- [x] Complete outstanding tasks.

## Acceptance Criteria
- [x] Any outstanding tasks completed
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to an Epic** (what body of work is this a part of?)
- [ ] **Labeled with Team** (`product support`, `analytics-ins

[2021-12-15 18:19] JordanSWhite opened #34196 "Complete onboarding process"
Complete role-specific onboarding processes

[2021-12-15 18:19] Kimberley2019 commented on #29123
@alsleaders I have sent a follow up email to the veteran.  I will keep you posted.

From: VA Technical Support
Sent: Wednesday, December 15, 2021 1:17 PM
To: REDACTED
Subject: RE: [EXTERNAL] Re: Disability Claim Application Issue

Good Afternoon Mr. REDACTED,

Can you please advise if you are still experiencing the issue from September?

The team did a fix and are wondering if you are able/have be

[2021-12-15 18:20] jsing0 commented on #33985
Hi Team,
Here is the analysis of [feedback mural for the guerilla testing](https://app.mural.co/invitation/mural/innovationboards1199/1638999763255?sender=u363f843c6d3533347d471444&key=11637cf0-4f15-4a11-8857-7e4c15110bad)

and [here is the sketch doc of the updated lofi Wireframe files](https://sketch.com/s/7ddd2962-35f2-4f08-8c84-fe35ebb3476a)

[2021-12-15 18:24] RLHecht opened #34197 "Update VRRAP page with 2 new list of schools PDFs"
## Issue Description
Stakeholder Terry Warren provided us with new PDFs for participating schools to be put on the [Veteran Rapid Retraining Assistance Program page](https://www.va.gov/education/other-va-education-benefits/veteran-rapid-retraining-assistance/).

These PDFs are divided alphabetically by state: Arizona to Kansas and Kentucky to Wyoming, and will replace the one big PDF that is curre

[2021-12-15 18:28] JordanSWhite opened #34198 "Make content/copy edits to homepage designs"
- [x] Reviewed all iterative designs for content / copy edits
- [x] Socialized  all major content / copy edits with VA-PO and VA-DL during scheduled design meetings and design office hours for review / approval

**Deliverable:** Iterated homepage design

[2021-12-15 18:29] Kimberley2019 commented on #29115
From: Reinold, Cody <Cody.Reinold@va.gov>
Sent: Tuesday, September 14, 2021 4:58 PM
To: VA Technical Support <VATechnicalSupport@va.gov>
Subject: RE: My VA411 Follow Up - Two Factor Authentication Issue

This is a new one for all of us…very unique. Forwarded it on to the guy who works with this system, specifically. Will keep you posted.

Cody

Cody Reinold
U.S. Digital Service
Office of the Chief

[2021-12-15 18:33] tameracorson opened #34199 "VA Platform Orientation- Tami"
## User Story
As a new VA.gov team member, I need to complete onboarding activities so I can successfully work on my project.

## Acceptance Criteria
- [ ] Each team member has completed each item in the orientation checklist below.

## Onboarding Checklist

- [x] PM: Attend intro meeting with product support PM
- [x] Attend General Orientation meeting ([schedule via Calendly](https://calendly.com

[2021-12-15 18:34] mnorthuis commented on #34015
Thank you @hdjustice!  I totally missed this!   Adding IA to the request for work around the content hierarchy and groupings on the My VA page related to financial "things".

[2021-12-15 18:37] tameracorson opened #34200 "VA Platform Orientation-Jesse"
## User Story
As a new VA.gov team member, I need to complete onboarding activities so I can successfully work on my project.

## Acceptance Criteria
- [ ] Each team member has completed each item in the orientation checklist below.

## Onboarding Checklist

- [x] PM: Attend intro meeting with product support PM
- [x] Attend General Orientation meeting ([schedule via Calendly](https://calendly.com

[2021-12-15 18:37] SgardnerPMP opened #34201 "[VAMC] Validate VAMC web pages that are showing as duplicate or obsoltete w/o parrent [BA]"
## Story

## Resources
Listingfrom CMS

## TASKS
Review pages provided by CMS team that do not have parent menu link and are not published.
- [x] Validate that the page does not have a parent menu item, determine if it is obsolete, a duplicate, or possibly in development.
- [x] Delete duplicates or obsolete pages
- [x] List all pages that maybe in development or need attention

## Acceptance Crite

[2021-12-15 18:38] #29115 closed

[2021-12-15 18:39] nicole-leonard opened #34202 "Form 28-1902w Presenting old Form Name"
## What happened?
The title of VA Form 28-1902w is “Veteran Readiness and Employment (VR&E) Questionnaire”. The old title is “Rehabilitation Needs Inventory (RNI)”.

Questions that need answered regarding this issue:
1. What name should the FE be showing?
2. Are we pushing anything to Lighthouse including this name?

28-1902w is showing the "wrong" name in our search results as it has been changed

[2021-12-15 18:39] tameracorson opened #34203 "VA Platform Orientation-Jordan"
## User Story
As a new VA.gov team member, I need to complete onboarding activities so I can successfully work on my project.

## Acceptance Criteria
- [ ] Each team member has completed each item in the orientation checklist below.

## Onboarding Checklist

- [x] PM: Attend intro meeting with product support PM
- [x] Attend General Orientation meeting ([schedule via Calendly](https://calendly.com

[2021-12-15 18:40] tpharrison commented on #34115
Just a reminder that I will be on vacation 12/27 - 12/31.

[2021-12-15 18:42] tameracorson opened #34204 "VA Platform Orientation-Carl"
## User Story
As a new VA.gov team member, I need to complete onboarding activities so I can successfully work on my project.

## Acceptance Criteria
- [ ] Each team member has completed each item in the orientation checklist below.

## Onboarding Checklist

- [x] Attend General Orientation meeting ([schedule via Calendly](https://calendly.com/collaboration-cycle/general-orientation-for-va-gov-pla

[2021-12-15 18:42] timwright12 commented on #33419
@oseasmoran73 I think that works

[2021-12-15 18:42] bsmartin-ep commented on #27847
Parameter `accordion-sectionHeading` is in the web component and will find it's way into the `int-accordion-`event.  Closing.

[2021-12-15 18:42] #27847 closed

[2021-12-15 18:43] #34196 closed

[2021-12-15 18:44] mmiddaugh opened #34205 "Cleanup unneeded APIM and pagination feature flags"
## Issue description
We used flipper to control the availability of changes to the Production environment during recent secure PPMS and paginated endpoint implementations. Now that we've fully transitioned to these endpoint in Production , we can remove those feature flags.

## Tasks:
-[ ] Remove the APIM feature flag `facility_locator_ppms_use_secure_api`
-[ ] Remove paginated feature flag `facil

[2021-12-15 18:47] mmiddaugh opened #34206 "Update swagger documents for Facility Locator endpoints"
## Issue description
Following the recent transition to the secure PPMS and paginated endpoints, we need to ensure that our documentation accurately reflects our implementation.

## Tasks
- [ ] Update Swagger documents to reflect currently used endpoints and queries.

## Acceptance criteria
- [ ] Documentation is up to date

[2021-12-15 18:53] tameracorson opened #34207 "<PoC Homepage Design User Research> from <Health Apartment Team>"
## What type of study are you planning to conduct? Check all that apply.
- [x] Remote moderated interview
- [ ] Remote unmoderated study (card sort, tree test, chalkmark, or other tests - NO SURVEYS or QUESTIONNAIRES allowed due to PRA)
- [ ] In-person moderated interview

## Supporting Artifacts
*Please provide supporting artifacts as available.*

- Link to your research plan:
- Link to your conv

[2021-12-15 18:54] mmiddaugh opened #34208 "Clean up ccp route"
## Issue Description
Now that we have fully moved to the rails engine and confirmed no other traffic is pointed to the endpoint, we can clean up uneeded code for the ccp route.

---
## Tasks
- [ ] Remove unneeded code supporting the deprecated ccp route

## Acceptance Criteria
- [ ] Facility Locator functionality is maintained
- [ ] Unneeded code supporting the ccp route is no longer present

[2021-12-15 18:57] SKasimow opened #34209 "**DISCOVERY** | Testing Environments that Map to MPI"
## Story

As part of the set-up/testing for the Mulesoft integration, we need to provide Carma team with a list of the VA.gov environments that map to MPI.

## Acceptance Criteria

-[ ] Document of the VA.gov environments that map to MPI in product GitHub folder (https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/10-10ez)

[2021-12-15 18:58] dcgoodwin2112 opened #34210 "[FE] Pre-check-in Confirmation Page Updates"
## How to configure this issue

- [ ] Attached to an Epic (what body of work is this a part of?)
- [ ] Correctly Labeled
- [ ] Fill in User Stories
- [ ] Fill in Documentation
- [ ] Fill in Tasks
- [ ] Fill in Acceptance Criteria

---

## User Story

- Change the word "Pre check-in" to "Pre-check-in" in h1 on the confirmation page
- Add information icon to alert message on confirmation page

## Re

[2021-12-15 18:58] tameracorson opened #34211 "Design intent [Health Apartment - Homepage designs]"
# Steps to complete Design Intent Collaboration

## Before meeting

**VFS Product Manager or Designer**
- [ ]  Create this issue and schedule meeting via Calendly (you are responsible for adding the VFS attendees).
- [ ] Notify the Collaboration Cycle team of this ticket with scheduled date/time in #vfs-platform-support ([see Slack Workflow User guide](https://depo-platform-documentation.scrollhel

[2021-12-15 18:59] mattpointzxer0 commented on #33878
gtg!

[2021-12-15 18:59] #33878 closed

[2021-12-15 19:00] #33875 closed

[2021-12-15 19:00] bethpottsVADEPO commented on #33723
@lwalsh617 From Danielle:
- 3 nursing-home related IRIS questions consolidated into 1 R&S Q&A that leads to the benefit hub page for more info
- 3 health care/prescription eligibility IRIS questions consolidated into 1 R&S Q&A that leads to the benefit hub page for more info
- 2 health care concern/complaint resolution IRIS questions consolidated into 1 R&S article

Could you add this info to the

[2021-12-15 19:02] kristenmcconnell commented on #34087
The profile team is working on a solution to get users to review both their mailing address and home address (if they don't check the box to apply changes to both). Liz Lantz is taking the following proposal to content tomorrow: https://app.mural.co/t/vsa8243/m/vsa8243/1639511492636/a7d05e80d5289ba70da1cd6f7b99fb8f7bf3276f?sender=uc940f53ad96ac0203d6d3631

[2021-12-15 19:03] mattpointzxer0 commented on #33876
🎉 👍

[2021-12-15 19:03] #33876 closed

[2021-12-15 19:06] rbeckwith-oddball commented on #34083
/request David Montagna

[2021-12-15 19:09] jason-gcio opened #34212 "COE | Error Handling"
## Background
For statuses that might not exist or instances of client side failure, or server side failures, we need to ensure we have error handling in place so that a Veteran can see when errors occur to try again later.

## Considerations
- ~~FE will do placeholders for now until updated content is in place~~ [Status locations](https://github.com/department-of-veterans-affairs/va.gov-team/issu

[2021-12-15 19:09] mnorthuis commented on #23490
@candy-gcio wanted to check in on this work to see if you have answers to my questions above and make sure we are in sync on the page structure and flow.  Is this work still tabled, or is it progressing?

[2021-12-15 19:11] mattpointzxer0 commented on #33885
gtg!!

[2021-12-15 19:11] #33885 closed

[2021-12-15 19:12] mnorthuis commented on #33863
@alexander-ferzola @LeelahHolmes Have you created any user flows for this work?

[2021-12-15 19:13] rogersarkis opened #34213 "Identify and Document Endpoint Request Type"
Identify and document each endpoint's request type

[2021-12-15 19:14] rogersarkis opened #34214 "Compile Traffic Data"
Compile more robust endpoint traffic data: day of week traffic, monthly traffic, anything else of importance

[2021-12-15 19:15] rogersarkis opened #34215 "Flag Dead Endpoints"
Define what constitutes a dead endpoint then flag dead endpoints in the endpoint inventory sheet

[2021-12-15 19:15] timwright12 commented on #32798
This has been merged, closing

[2021-12-15 19:15] #32798 closed

[2021-12-15 19:20] #33901 closed

[2021-12-15 19:23] omgitsbillryan opened #34216 "IAM Permissions for FrontEnd to Refresh GHA ASG Instances"
## The Problem
Frontend folks do not have proper IAM access to perform ASG instance refresh - specifically for github runner instances. FE would like to be able to perform this action w/o having to go through OPs for support.

## Extra Context
- [slack thread](https://dsva.slack.com/archives/CJYRZK2HH/p1639591611483100)

## Work to be Done
- [ ] Identify necessary IAM permissions for instance refr

[2021-12-15 19:23] rbeckwith-oddball commented on #34083
1. User not found in the VFS roster
2. david.montagna@agile6.com keys removed and name removed from viewers
3. AWS removed [offboarding pull request](https://github.com/department-of-veterans-affairs/devops/pull/10447)
4. Request sent
5. https://github.com/department-of-veterans-affairs/github-user-requests/issues/9222
6. Not found in PagerDuty
7. Not found in DataDog
8. Not found in Sentry

[2021-12-15 19:25] kristenmcconnell opened #34217 "[Research] Document Telemedicine Analytics Findings"
Description: Create GitHub pages documenting all telemedicine findings to this point.

Tasks:
- [ ] Gather documentation
- [ ] Create GitHub page

Acceptance Criteria:
- [ ] Publish GitHUB page and send to team

[2021-12-15 19:26] kristenmcconnell commented on #31070
Work will continue in https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/34217

[2021-12-15 19:26] #31070 closed

[2021-12-15 19:28] RLHecht commented on #33431
@lunascoop The stakeholders came back with just 2 changes we need to make before publishing:

1. Change "health care provider" throughout to "provider."
2. In the "What else do I need to do to prepare for my exam" answer, change "exams" to "examines" in the last sentence.

Let me know when these are done and I'll do a final review and publish!

[2021-12-15 19:33] mdewey opened #34218 "[FE][SPIKE] Modal Edit button"
## User Story

A veteran should be able to edit a value in a modal that pops up

## Related Documentation

- [Sketch](https://www.sketch.com/s/e79a827e-42cf-4a82-b554-874c75b5c70e)
- [Product Docs](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/health-care/checkin)

## Description

## Tasks

- [ ] Can we display a button next to a field that shows a modal
- [ ]

[2021-12-15 19:34] kristenmcconnell commented on #31485
@Nira and @ytsaoca In part 2, we will document the recommendations, then share with check-in team. The conversations with accessibility and draft map have been completed.

[2021-12-15 19:34] #31485 closed

[2021-12-15 19:39] #33467 closed

[2021-12-15 19:39] Kevin-Blank opened #34219 "Adding Kevin Blank to DSVA Slack"
# Description

**new user requests**: please verify that the user does not already exist in dsva.slack.com (it may be the account exists, but is not in a particular channel)

The following guest user kevin.blank1@va.gov should be switched from single-channel to multi-channel guest and then added to vfs-platform-support

[2021-12-15 19:41] kristenmcconnell commented on #33148
The profile team is working on a solution to get users to review both their mailing address and home address (if they don't check the box to apply changes to both). Liz Lantz is taking the following proposal to content tomorrow: https://app.mural.co/t/vsa8243/m/vsa8243/1639511492636/a7d05e80d5289ba70da1cd6f7b99fb8f7bf3276f?sender=uc940f53ad96ac0203d6d3631

[2021-12-15 19:47] jlang10761 opened #34220 "Adding [Talia Hicks] to DSVA Slack"
Please add talia.hicks@u.group to the channels below. She is with Coforma and will be providing general project support.
new user requests:

Are you requesting to add an individual as a: Multi-channel
What channel(s) do they need to be added to?
• cpm-public
• lcs-public
• cds-team
• Cds-tools-team
• Cpm-onboarding

[2021-12-15 19:51] kristenmcconnell opened #34221 "[Research] Martinsburg Research Plan"
Description: Since we are expanding to 4-5 clinics in hematology and oncology, we want to gather Veteran and staff at the new locations after it goes live.

**What functionality does the Veteran need at launch?**
- To be able to check in to appointments and receive care.
- Ability to check in easily if blind/visually impaired. Alternative to poster? (Team agreed we value ensuring our product is ac

[2021-12-15 19:51] LizCallaghan commented on #34219
done!

[2021-12-15 19:51] #34219 closed

[2021-12-15 19:51] callen2563 commented on #33223
I have updated the [Sketch file](https://sketch.com/s/8ec18b80-a905-47fb-a217-5720450befa1) with suggested edits from the team.

[2021-12-15 19:52] bkjohnson commented on #33336
I did some experimenting with PurgeCSS - both as a command line tool and as a webpack plugin in `vets-website`. I wasn't able to get the kind of list that we are looking for, so identifying unused CSS will likely have to be done manually.

[2021-12-15 19:55] jerekshoe opened #34222 "Replace all `LoadingIndicator` components in our apps with `va-loading-indicator` components"
## Background
The VSP team has published a new version of the component library where they have replaced the React `LoadingIndicator` component with a `va-loading-indicator` web component. We will need to go through our apps and replace these with the new web components otherwise our tests will start failing builds.

### Apps we own
- [x] `src/applications/disability-benefits/686c-674`
- [x] `src/

[2021-12-15 19:55] tpharrison opened #34223 "Access for Tom Harrison"
### COR Name

Mary O’Toole

### Vendor Onboarding Representative Name

GovernmentCIO - Kimberly O. West

### Your Name

Tom Harrison

### Your Email

tom.harrison@adhocteam.us

### Name of Your Team

VA Authenticated Experience Team

### Service(s) You Want Access To

SOCKS

### Public SSH Key

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCi9022ur8sVJfwzW0go9iYIohgiYntf5WigD5G/JZCjUjSYorI2Nj0Rf339NYoB0uB

[2021-12-15 19:57] #33336 closed

[2021-12-15 19:57] kristenmcconnell opened #34224 "[Research] Appointment Notifications Research Prep"
Appointment notifications across all mediums (letters, text, email).

Tasks:
- [x] Review past research (pre-check-in and other teams work)
  - Think through single and multiple appointment use cases.
- [x] Come up with list of teams that we need to coordinate with
- [x] Come up with outstanding questions list
- [x] Sync with Nira and Ya-ching on accessibility findings

Acceptance Criteria:
- [x]

[2021-12-15 19:57] RLHecht commented on #33720
@lunascoop Here are the newest translations back:
[https://app.zenhub.com/files/133843125/ad3c4828-decf-452c-884a-24e7e87d7d3c/download](https://app.zenhub.com/files/133843125/ad3c4828-decf-452c-884a-24e7e87d7d3c/download)
[https://app.zenhub.com/files/133843125/35e6ac4b-3e79-4d95-9e98-25bf7b81e8ad/download](https://app.zenhub.com/files/133843125/35e6ac4b-3e79-4d95-9e98-25bf7b81e8ad/download)

[2021-12-15 20:02] mnorthuis commented on #33998
A few minor corrections made per convo with Michelle.

@brianalloyd this one is ready to go at your earliest convenience.  The ID parameter is the key parameter for the redirect in each of the parameter based URLs.  Thank you!

[2021-12-15 20:02] lunascoop commented on #33431
@RLHecht I have made the changes and also changed other instances of "doctor" to "provider." The page is ready for review.
http://preview-prod.vfs.va.gov/preview?nodeId=914

[2021-12-15 20:03] brianalloyd commented on #33998
Thanks @mnorthuis we'll scrub in now in support.

[2021-12-15 20:05] cindymerrill commented on #32885
Discussed recommendations for MVP with team, made decisions about what will be implemented, and added notes about this in the report.

[2021-12-15 20:07] kristenmcconnell opened #34225 "[Design] FE Design Audit for Pre-check-in"
Description:
UX reviews FE tickets, reviews staging or screenshots, and answers engineering questions.

**Tasks:**
- [ ] Document what we review in Design Audit section in Sketch and any changes
- [ ] Post a link in FE tickets to the Sketch section
- [ ] Review mobile and desktop

**Acceptance Criteria:**
- [ ] Everything is reviewed and gaps are communicated with engineering
- [ ] Answering engin

[2021-12-15 20:07] #32953 closed

[2021-12-15 20:08] #33297 closed

[2021-12-15 20:09] #33923 closed

[2021-12-15 20:14] rbeckwith-oddball commented on #34223
Squashed and merged: https://github.com/department-of-veterans-affairs/devops/pull/10448

[2021-12-15 20:14] #34223 closed

[2021-12-15 20:15] RLHecht commented on #33431
Thanks @lunascoop ! I reviewed and published this. Moving to validate and will close once it's live.

[2021-12-15 20:21] omgitsbillryan commented on #30524
I'm going to close - @charleystran feel free to re-open if the requirement has not been satisfied.

[2021-12-15 20:21] #30524 closed

[2021-12-15 20:21] k80bowman commented on #32868
For the PR for claims-status, I would recommend reaching out to the team who owns that code to ask if they would prefer handling the migration or if they would prefer that we handle it. If we handle it, we will need to make sure to run the application and test that the progress bar is working in their application the way that it should.

[2021-12-15 20:22] rbeckwith-oddball commented on #33679
SOCKS access has been granted. The AWS portion of the request is still awaiting approval.

[2021-12-15 20:24] k80bowman commented on #32864
I would recommend reaching out to the team who owns the letters application to ask if they would prefer handling the migration or if they would prefer that we handle it. If we handle it, we will need to make sure to run the application and test that the progress bar is working in their application the way that it should.

[2021-12-15 20:26] rbeckwith-oddball commented on #33693
I can't find any remnants of Patrick Ryll. Closing.

[2021-12-15 20:26] #33693 closed

[2021-12-15 20:26] lunascoop commented on #34197
@RLHecht I updated the links and bulleted list formatting in the eligibility section.

Veteran Rapid Retraining Assistance Program (VRRAP): http://preview-prod.vfs.va.gov/preview?nodeId=17942

[2021-12-15 20:28] shanemelliott opened #34226 "Change Permissions to allow site admins to assign permissions to users of divisions"

[2021-12-15 20:30] lindsay-insco commented on #33954
65 Attendees for 12/15/2021

[2021-12-15 20:31] candy-gcio commented on #23490
We just brought a task into the sprint to sync up with you on this and talk with the owners of the pages you called out.

1. The H1s are updated in the [wireframes](https://www.sketch.com/s/6fcfb0c5-8c2d-4231-8b1b-c423e75bf5e2/p/47673127-1304-4E6D-8CBE-C8A160E00A55) and have been reviewed by Beth.
2. I think Education is the only other benefit we need to connect to.
3. I'm not sure... @jason-gcio,

[2021-12-15 20:32] ltrombley commented on #34063
Task #34063 - Post Production Audit of VAMC VA Cheyenne health care for links, standards, and design standards.[BA]  - is Complete and moved to Validate

[2021-12-15 20:40] Kimberley2019 commented on #29127
@alsleaders looks like we can close this out.

From: REDACTED
Sent: Wednesday, December 15, 2021 3:29 PM
To: Daniels, Kimberley N. (Oddball, Inc.) <Kimberley.Daniels@va.gov>
Subject: Re: [EXTERNAL] Re: Disability Claim Application Issue

Seems to be ok now thanks for all your help

[2021-12-15 20:40] #29127 closed

[2021-12-15 20:50] lwalsh617 commented on #33723
@bethpottsVADEPO @DanielleThierryUSDSVA -- I can't identify which faqs were used as sources for the articles ^. Danielle, if you can let me know, I'll add them to the chart we have that shows the status of each IRIS faq. Thank you.

[2021-12-15 20:56] briandeconinck opened #34227 "Access for Brian DeConinck"
### COR Name

Mary O’Toole

### Vendor Onboarding Representative Name

Oddball - Amber Malcolm

### Your Name

Brian DeConinck

### Your Email

brian.deconinck@adhocteam.us

### Name of Your Team

Platform Product Support Team - Software Engineer / Accessibility Specialist

### Service(s) You Want Access To

SOCKS

### Public SSH Key

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCzuXM0C0O7r5qwnkatNhn2ZNa

[2021-12-15 20:57] briandeconinck commented on #34227
Note that SOCKS access was previously granted in #33829. Had a hardware issue and got a new machine, so I'm going through the process again. Thank you!

[2021-12-15 21:08] lhelmer opened #34228 "Adding Emily Wilson to DSVA Slack"
Please add emily.wilson@adhocteam.us as a full member

[2021-12-15 21:09] RLHecht commented on #32178
Pulling this into Sprint 63

[2021-12-15 21:10] lhelmer opened #34229 "Adding Matt Ng to DSVA Slack"
Please add matt.ng@adhocteam.us as a full member.

[2021-12-15 21:15] lhelmer opened #34230 "Adding John Chapin to DSVA Slack"
Please add john.chapin@adhocteam.us as a full member.

[2021-12-15 21:20] grossb1 commented on #33277
Consolidating tickets related to an error posting a va booked appt.  The following is from #33938 which will be closed:
Associated VAOS-R ticket:
https://issues.mobilehealth.va.gov/browse/VAOSR-2751

I'm getting an a 500 error with the following POST request:
URL:
https://internal-dsva-vagov-staging-fwdproxy-1821450725.us-gov-west-1.elb.amazonaws.com:4463/vaos/v1/patients/1012845331V153043/appoint

[2021-12-15 21:20] #33938 closed

[2021-12-15 21:41] RLHecht commented on #34197
Thanks, @lunascoop. I reviewed and added a sentence above the links about how we list these alphabetically. @bethpottsVADEPO This is ready for you to review.

[2021-12-15 21:44] RLHecht commented on #33431
Changes are live. Closing ticket.

[2021-12-15 21:44] #33431 closed

[2021-12-15 21:51] CourtneyChambers77 commented on #20488
HTML
<div class="container">
  <a href="#" class="btn btn-default openall">open all</a> <a href="#" class="btn btn-default closeall">close all</a>
	<hr>
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collap

[2021-12-15 21:52] CourtneyChambers77 commented on #20488
JS
$('.closeall').click(function(){
  $('.panel-collapse.in')
    .collapse('hide');
});
$('.openall').click(function(){
  $('.panel-collapse:not(".in")')
    .collapse('show');
});

[2021-12-15 21:53] joshkimux commented on #33630
No major feedback from accessibility! We recommend engineers and designers to start planning for:
- how to provide specific labels to the edit buttons (we usually use `aria-label`s)
- how to code the list of items (either as an unordered list `ul` of headings or a description list `dl`)

We're more than happy to help answer those questions!

[2021-12-15 21:56] vhenry07 opened #34231 "API Migration"
## Issue Description

Document plan for api migration from EVSS to Lighthouse
Link to [slack thread](https://dsva.slack.com/archives/C02G07X54C8/p1639604879053600).

---
## Tasks
- [ ] Document migration tasks
- [ ] Document implementation plan
(create new epic)

## Acceptance Criteria
- [ ] Plans documented, new tickets created
---
## How to configure this issue
- [ ] **Attached to a Milestone**

[2021-12-15 21:59] MarciMcGuireGCIO commented on #31685
Re-opening this so that Adam can add unit tests.

[2021-12-15 22:12] Kimberley2019 opened #34232 "[Tier 3] Appeal viewing issue - SF 06339872"
## Issue Description
_Please review details in case below and from encrypted email for issue with veteran viewing her appeal._

---
## Tasks
- [ ] _Review provided details in ticket_
- [ ] _Review additional information from encrypted email_
- [ ] _Advise if additional information is required for review and resolution_
- [ ] _Contact veteran and set up shadowing call if needed_

## Acceptance Crit

[2021-12-15 22:12] chloedotbrown commented on #26851
Hey @laurenernest and @ldelacosta – know I mentioned following up in the #vfs-analytics Slack at the end of our meeting today, but then I remembered we have this ticket! Here are links to the resources I mentioned. If you have any trouble accessing, please let me know!

- [VAOS dashboard mockup](https://docs.google.com/presentation/d/1fHh1fx10MKcNe4W5TAQpZ5x72i3AQ8FiAXZy2CtKNKg/edit?usp=sharing)
-

[2021-12-15 22:15] Kimberley2019 commented on #34232
@vhenry07 @alsleaders
Encrypted email containing details of case have been sent.

From: Daniels, Kimberley N. (Oddball, Inc.)
Sent: Wednesday, December 15, 2021 5:13 PM
To: Henry, Veronica (GovernmentCIO) <Veronica.Henry@va.gov>
Subject: FW: [EXTERNAL] Re: Appeal status issue

Good Afternoon Veronica,

I wanted to pass this along to you since it contains screenshots that contain PII.  The ZH ticke

[2021-12-15 22:15] MarciMcGuireGCIO commented on #33630
Thank you @joshkimux! This is great info to have!

Cc @adamwhitlock1

[2021-12-15 22:19] CourtneyChambers77 commented on #5871
When a modal dialog is activated, focus must be moved to the dialog. Where focus is initially placed may vary depending on the dialog’s content but focusing the dialog itself can provide a consistently predictable user experience.
A modal dialog should have an accessible name, announce itself as a dialog, and should provide standard methods for the user to close it. By a close button, by use of es

[2021-12-15 22:22] rbeckwith-oddball commented on #31199
I have removed you from the dsva-vfs-all and dsva-vfs-developers groups and added you to the adhoc-vetsgov-devops group.

[2021-12-15 22:26] laurenernest commented on #26851
Thank you! I'll review when I'm back in the office next week.

[2021-12-15 22:42] laurenernest opened #34233 "Update VAOS in-flow redirect"
## Background
Currently, if a user directly enters a page in the flow, they are redirected to the Type of Care page to begin scheduling.

## User Story
As Product, I would like users who attempt to directly enter the middle of a VAOS flow to be redirected to VAOS homepage so they don't miss any steps in the scheduling flow.

## Acceptance Criteria

Given any user
When user **directly enters** any

[2021-12-15 22:54] laurenernest opened #34234 "Prototype Cerner offboarding experience from VAOS homepage"
## Request

How might we direct Cerner users to the My VA Health portal if they skip the static landing page and navigate directly to the VAOS homepage/appointment lists?

Note- we already have it covered in the scheduling flow.

## Background
The authentication widget on the static landing page detects if a user is registered at a Cerner site and displays a link to the My VA Health portal.

If us

[2021-12-15 23:17] CourtneyChambers77 commented on #6461
A switch control that can toggle on/off the infinite scroll even before interacting with infinite scroll content. Ideally, the switch control can be placed before the role=feed and can be made visible when it receives keyboard focus.
Load more or pagination links must appear once the infinite scroll is switched-off so that user has the luxury of navigating the content at leisure.

[2021-12-15 23:20] MarciMcGuireGCIO commented on #6461
Looping in new PM Nicole Leonard.

[2021-12-15 23:22] tameracorson opened #34235 "Historic health apartment project onboarding: Jordan"
- [x] Review [Health Apartment Onboarding Guide]( https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/digital-health-modernization/onboarding.md) in GitHub
- [x] Review iterative design in [Project mural room] (https://app.mural.co/t/innovationboards1199/r/1631551671896) in Mural
- [x] Review the [platform tools] (https://depo-platform-documentation.scrol

[2021-12-15 23:24] tameracorson opened #34236 "Historic health apartment project onboarding: Jesse"
- [x] Review [Health Apartment Onboarding Guide]( https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/digital-health-modernization/onboarding.md) in GitHub
- [x] Review iterative design in [Project mural room] (https://app.mural.co/t/innovationboards1199/r/1631551671896) in Mural
- [x] Review the [platform tools] (https://depo-platform-documentation.scrol

[2021-12-15 23:24] cgednalske commented on #34187
Hi @MarciMcGuireGCIO - Should the second task be for Preferred name rather than Gender Identity? Sketch files have been updated with both the removal of open text field/error message for Gender identity and the addition of the requirement error for Preferred name (if user tries to remove the value without entering a new one once an initial value has been entered).

Updated Sketch Files: https://ww

[2021-12-15 23:25] tameracorson opened #34237 "Historic health apartment project onboarding: Carl"
- [x] Review [Health Apartment Onboarding Guide]( https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/digital-health-modernization/onboarding.md) in GitHub
- [x] Review iterative design in [Project mural room] (https://app.mural.co/t/innovationboards1199/r/1631551671896) in Mural
- [x] Review the [platform tools] (https://depo-platform-documentation.scrol

[2021-12-15 23:28] MarciMcGuireGCIO commented on #34187
@cgednalske yes, thank you! I just updated it to say Preferred Name.

[2021-12-15 23:47] gescobardev commented on #33753
I realized we don't need this ticket because we can turn on pagination [here](https://api.va.gov/flipper/features) `facility_locator_restore_community_care_pagination `
This is currently turned on in staging, we can turn this on in prod.

[2021-12-15 23:47] #33753 closed

[2021-12-16 00:38] tameracorson opened #34238 "Stakeholder engagement: Design input"

[2021-12-16 00:49] alexandec commented on #33822
## react-router

### Upgrade path
Ideally we would upgrade directly from the current version (3) to the latest version (6). However, due to the large quantity of breaking changes in version 6, it's probably better divide the process into steps:

1. Upgrade from react-router 3 (current version) to react-router 5. There are some breaking changes but it's a reasonable quantity.
2. Upgrade react from

[2021-12-16 01:12] pdavies88 opened #34239 "Bugfix `va-segmented-progress-bar` aria-label displays incorrect default value"
## Issue
The `va-segmented-progress-bar` web component when the label prop is not applied displays "Step 0 of 10" however this should display "Step 1 of 6" via the screenshots below. 1 comes from the current prop and 6 comes from the total prop. However we currently have the default prop for current set to 0 and total set to 10 and they are not being overwritten correctly when used on the live sit

[2021-12-16 01:13] cindymerrill commented on #33373
Summarized topline findings at Sprint Demo on Dec 14 while showing prototype. Added participant characteristics into MVS checker (for marginalized groups).

[2021-12-16 01:28] pdavies88 commented on #32864
Talked with Robin on the vsa-claims-appeals team and I will be handling the migration for them for the `SegmentedProgressBar` in `applications/letters`

[2021-12-16 01:33] #33083 closed

[2021-12-16 01:49] #32867 closed

[2021-12-16 02:18] joshkimux commented on #6461
@MarciMcGuireGCIO I just checked this out and this is still an issue. Ideally we'd like to get this fixed using the guidance in the [comments above which removes the autoscroll animation](https://github.com/department-of-veterans-affairs/va.gov-team/issues/6461#issuecomment-811093499) 🙏

This would be a `defect-0` as it presents repetitive potential dangers towards Veterans with vestibular disorde

[2021-12-16 04:22] #29903 closed

[2021-12-16 13:31] timwright12 opened #34240 "Redirect Request: /playbook/** to /"
We are retiring all content under `/playbook` and will be forwarding to the homepage (`/`) until the content is removed in 1 month. The redirect will stay in place.

- [slack reference and approval](https://dsva.slack.com/archives/CE4304QPK/p1638813077231400)
- [full deprecation plan](https://vfs.atlassian.net/wiki/spaces/FTT/pages/1995407406/2021-11-29+VA.gov+Playbook+Deprecation+Plan?atlOrigin=e

[2021-12-16 13:39] timwright12 commented on #33625
Submitted redirect request to public websites team: https://github.com/department-of-veterans-affairs/va.gov-team/issues/34240

[2021-12-16 14:05] alsleaders commented on #33751
Hi @bsmartin-ep - the short answer is I'm not sure.  I need enough access to build a dashboard; can I do that with "social"?

[2021-12-16 14:08] julieadair1 commented on #25208
This can be closed per @mdewey.

[2021-12-16 14:08] #25208 closed

[2021-12-16 14:11] kevinstachura commented on #34119
Email content:

Subject: An error occurred with your disability claim application on VA.gov.

Hello [user],

Due to a technical error, we couldn’t process your form. This can occur after the form has been submitted on the VA.gov website. At this time, we advise that you [fill out and submit our 526 paper form].

Send in your completed form and any evidence in support of your claim to:

Department

[2021-12-16 14:13] MarciMcGuireGCIO opened #34241 "[FE] Personal Information Revision: Update Notification Preferences to point to new contact page"
## Background

On the Notification Preferences page, we show a prompt to add a mobile phone number if people do not have one in their profiles. Right now, this link goes to www.va.gov/profile/personal-information/ , which is where contact information currently lives. However, once we launch the personal information updates, contact information will live on www.va.gov/profile/contact-information/.

[2021-12-16 14:22] craigwheeler commented on #31472
It has been determined that the authorization for deceased veterans will be revoked if a date of death has been recorded so there is no longer a need to handle this use case on MCP so the alert will be removed

https://dsva.slack.com/archives/CSFV4QTKN/p1629234493082000
https://dsva.slack.com/archives/CBU0KDSB1/p1639506216012600

[2021-12-16 14:23] MarciMcGuireGCIO opened #34242 "[FE] Auth Profile: Personal Info Revision - Deploy to 25% of users"
## Background
Changes for Personal Information Revision (Epic #31180) are deployed to Staging behind flags.  These need to be modified to deploy to 25% of users so that the changes are visible in Production.

## Tasks

- [x] Update feature flags to make Personal Information Revision changes visible in Production for X% of users
- [x] Smoke test on Prod
- [x] Validate on Prod with PM and PO

## Acc

[2021-12-16 14:26] julieadair1 commented on #32560
@kristenmcconnell this one feels like it needs some UX research first.  Thoughts?

[2021-12-16 14:29] MarciMcGuireGCIO commented on #33949
No QA changes needed

[2021-12-16 14:30] #33949 closed

[2021-12-16 14:38] kristenmcconnell commented on #34225
Patrick noticed a lot of UX behavior items and documented them in this [Slack thread](https://dsva.slack.com/archives/C022AC2STBM/p1639593586309500).

[2021-12-16 14:38] RLHecht commented on #29360
@af-manish These changes look good to me. Two things I noticed that may have been mentioned in other tickets or not in the scope of this work:
1. "Side by side" should not have hyphens in this instance: Compare schools, employers, and VET TEC providers side by side.
2. We've been trying to get rid of "sighted language" across the site for accessibility reasons and screen reader users. Words like "

[2021-12-16 14:46] bsmartin-ep commented on #33751
@alsleaders - no - building dashboards requires Editor access + a service account + access to the underlying datasets.

What data are you trying to visualize?  GA data or something else?  Is this an existing dashboard or entirely new?

[2021-12-16 14:47] Kimberley2019 commented on #29123
@vhenry07 @alsleaders customer gave up on trying to submit online and mailed in the claim.
He is still experiencing the issue but took another method of submittal.  Not resolved but closing ticket.

From: VA Technical Support
Sent: Thursday, December 16, 2021 9:43 AM
To: REDACTED
Subject: RE: [EXTERNAL] Re: Disability Claim Application Issue

Good Morning Mr. REDACTED,

Thank you for the update.

[2021-12-16 14:47] #29123 closed

[2021-12-16 14:47] mrblanco1 commented on #29360
Thank you @RLHecht for the feedback. @af-manish is out sick today but will take a look at your comments. It looks like we can work on the changes mentioned in this ticket and open new ones for your added suggestions. Thanks!

[2021-12-16 14:48] RLHecht commented on #29356
@af-manish Could you update the PDF based on Peggy's last comment? Also, the headers need to be sentence capped so "comparison" should be lowercase (page 39 and the bottom of page 7 as examples).

[2021-12-16 14:48] nsmith1982 opened #34243 "Offboarding of Olga Apolinsarka"
# Instructions
Fill out name of individual and *Description* section below.

# Description
- Please provide the name of the individual needing offboarded.

- Please provide the name of their team, their role on that team, expected last day, and the name of the company they work for.

- Please provide any type of access they may have and their GitHub username.

## AC
*Performed by Platform team*
 -

[2021-12-16 14:50] vhenry07 opened #34244 "Staging Review Claims & Appeals - HLR v2"
# Steps to complete Staging Review

## Before meeting

**VFS Product Manager**
- [x]   Create this issue and schedule meeting via Calendly (you are responsible for adding the VFS attendees).
- [x]   Notify the Collaboration Cycle team of this ticket and scheduled date/time in #vfs-platform-support ([see Slack Workflow (User guide](https://depo-platform-documentation.scrollhelp.site/support/Getting

[2021-12-16 14:53] hdjustice commented on #32288
@tmitchellgcio This ticket was estimated at a 1 about a month or so ago.  Would you please review and re-estimate if needed?  Let me know if you feel more information is needed, additional tasks need added, or anything else.  I want this to be clear for you, and it will help me understand what is needed in tickets to be more helpful and informative.

[2021-12-16 14:56] bsmartin-ep commented on #34243
Domo access archived.  No GA access,

[2021-12-16 14:57] julieadair1 opened #34245 "Sticky Footer"
As a veteran I want to see pertinent information on my mobile device without having unnecessary information displayed that will crowd up the screen on my device so that I don't get overwhelmed by unnecessary information.

[2021-12-16 14:58] brianalloyd commented on #33223
Updates have been applied, going to close ticket in support.

[2021-12-16 14:58] #33223 closed

[2021-12-16 14:58] Kimberley2019 commented on #29945
@vhenry07 @alsleaders Veteran was finally able to submit.  Unsure when.  Closing ticket.

From: VA Technical Support
Sent: Thursday, December 16, 2021 9:51 AM
To: REDACTED
Subject: RE: [EXTERNAL] Re: Claims issue

Good Morning Ms. REDACTED,

Thank you for the update.

Happy Holidays to you and your loved ones!

Kind Regards,

VA.gov Technical Support Team

From: REDACTED
Sent: Wednesday, December

[2021-12-16 14:58] #29945 closed

[2021-12-16 15:01] hdjustice opened #34246 "[BE] On-site Notifications: Catch up on design and VA Notify discussion"
## Background
Now that design direction is confirmed, we need to review design with BE - Lihan, validate our understanding of technical requirements and surface any concerns or requirements

## Tasks
- [ ] Review [designs ](https://app.mural.co/t/vsa8243/m/vsa8243/1640028268317/2ba4e1b2846c87f5d0bfc6bcb643bef84720bea1?sender=30b328dd-61fa-4e9c-a615-80a4db99566d)with Tressa/Liz
- [ ] Meet with Heat

[2021-12-16 15:02] MarciMcGuireGCIO opened #34247 "Content Request from Auth-Profile team - Sign-in page for Personal/Contact info"
## What does your team need support for? Check all that apply.
- [ ] Launching one or more new unauthenticated (static) VA.gov pages
- [X] Making revisions to one or more existing unauthenticated (static) VA.gov page
- [ ] Launching a new online form, app, or tool on VA.gov
- [ ] Making revisions to an existing online form, app, or tool on VA.gov
- [ ] Something else (please add details in the nex

[2021-12-16 15:07] RudyOnRails opened #34248 "Tracking View Payments / Ch33 Performance Issue"
## Background
This ~~ticket~~ Epic's purpose is to document what happened, develop questions to ask or unknowns to know, and store any research and/or evidence to support decisions going forward.

**TL;DR**

The Ch33 direct deposit endpoint and the payment information endpoint have both been down/mostly down for a similar period of time (since Wednesday, Dec 8) and are both supported by the same b

[2021-12-16 15:07] MarciMcGuireGCIO commented on #31819
duplicate

[2021-12-16 15:07] #31819 closed

[2021-12-16 15:08] pdavies88 commented on #32864
Corresponding PR for Documentation Update: https://github.com/department-of-veterans-affairs/veteran-facing-services-tools/pull/713

[2021-12-16 15:08] mdewey commented on #30058
![Screen Shot 2021-12-16 at 10.08.25 AM.png](https://images.zenhubusercontent.com/5ecebb879a043b865f6cb5b6/1a0033df-e924-4f2b-8e47-fda79b25c6d8)

No longer needed since we are not showing phone numbers anymore

[2021-12-16 15:08] tmitchellgcio commented on #32288
On it

[2021-12-16 15:12] julieadair1 commented on #30058
Closing per @mdewey comment above.

[2021-12-16 15:12] #30058 closed

[2021-12-16 15:16] michemax opened #34249 "Adding [individual] to DSVA Slack"
# Description

**new user requests**: please verify that the user does not already exist in dsva.slack.com (it may be the account exists, but is not in a particular channel)

<describe the request>

Are you requesting to add an individual as a:

- Full member
- Single guest
- Multi-channel
- Switching from single-channel to multi-channel?
- What channel(s) do they need to be added to?

Then add a

[2021-12-16 15:19] CourtneyChambers77 commented on #33746
Using accessibility for the content, I recommend using semantic markup to properly announce style changes to all users. Bold and italics are often used to highlight words or phrases in a paragraph of text. The Strong tag, <strong>, and the Emphasis tag, <em>, are considered Semantic Markup that allows for added meaning to your content.  It serves as an indication to the screen reader (SR) of how s

[2021-12-16 15:22] #34018 closed

[2021-12-16 15:22] nsoutouras commented on #34018
Closing as this is encompassed in #32554

[2021-12-16 15:22] kristenmcconnell commented on #32560
@DanielleThierryUSDSVA is a good resource on translation, so I would start with her to gain an understanding of what is going on across va.gov with regard to translation.

Danielle - there is a team now working in this space. Who besides you should we talk to about this?

[2021-12-16 15:25] LizCallaghan commented on #34249
good morning! happy to add someone, but need an email address, thanks!

[2021-12-16 15:26] #32811 closed

[2021-12-16 15:28] andaleliz commented on #33734
I've put together [a Mural board with some possible solutions](https://app.mural.co/t/vsa8243/m/vsa8243/1639511492636/a7d05e80d5289ba70da1cd6f7b99fb8f7bf3276f?sender=lizlantz1528), and will review w/ Danielle tomorrow (office hours are cancelled today).

[2021-12-16 15:34] julieadair1 commented on #28429
It looks like all stories in this epic have been closed so I'm closing this epic.
cc: @jparker0425