[2020-03-12 18:39] leahkeeler commented on #6693
@rileyorr Would the business folks at DLC be able to verify this? or be the first pass?

[2020-03-12 18:44] #6775 closed

[2020-03-12 18:45] #6772 closed

[2020-03-12 18:45] mmiddaugh opened #6829 "Facility Locator text for urgent care change"
### NOTE: This text is being updated again per the OCC request, overriding previous text changes
**Business Rationale: The appropriate pharmacy for a given Veteran depends on the Region the Veteran lives in and where the Veteran has received urgent care services. Due to this criteria and the ability to segregate this data, we have determined that the best solution is to prevent pharmacy searches w

[2020-03-12 18:49] careyotto commented on #6731
Thanks @tressaellen! I agree with your concerns about burying the disconnect feature and love that you are exploring this.

**Questions/feedback:**

1. Would a button work here for "Disconnect" rather than a link? I feel like it's currently losing prominence to the "What can Apple HealthKit view?" link

2. There is currently a typo in the "What can..." sentence. 'can' is repeated twice.

3. Re: la

[2020-03-12 18:54] erikphansen commented on #6696
a PR for this has been merged. I'm gonna close this as it's not feasible to validate it in staging since it will only be shown if there's a server error.

[2020-03-12 18:54] #6696 closed

[2020-03-12 18:55] jperl commented on #6607
👋 Hello I maintain an [open source library](https://github.com/qawolf/qawolf) that generates [Playwright](https://github.com/microsoft/playwright) code. I would be happy to submit PRs setting up e2e tests, if you are cool with them using Playwright?

[2020-03-12 18:58] Samara-Strauss commented on #5733
@bridgethapner I am so sorry it took me to so long to get these to you. Below are the two options for the alert placement on My VA. We had talked about seeing the option for one alert above all of the health widgets, and one option with three alerts that are paired with their respective tools. I am looking for feedback on:

- If you have a preference for one design over the other. I think you may

[2020-03-12 19:01] jason-gcio opened #6830 "Analytics Implementation or QA Support for View Dependent"
# Analytics Implementation or QA Request

## What this form is for
Use this template to request Google Tag Manager and Google Analytics implementation or QA for your product. Please fill out all brackets.

## Description
- Is this request for Google Analytics implementation or QA?
  - **Google Analytics**

- Who is this request for?
    - **@cohnjesse**
    _Provide any relevant contact informatio

[2020-03-12 19:02] peggygannon commented on #5583
Thank you both for your feedback.

@RLHecht are you able to add this Form label summary page to the content style guide? Jen and I had discussed that on the left nav it would go between: "error messages" and "government forms" Final copy is below:

I'll work with @billfienberg to get the actual masterlist into the design section.

**Form labels**
When adapting a paper form into an online applicati

[2020-03-12 19:06] careyotto commented on #6748
@Samara-Strauss I reached out to Peggy the other day and she said she'd get in touch if she had any questions, after reviewing the ticket.

@tressaellen Please add screens here, once you are done iterating with the rough copy.

[2020-03-12 19:09] RLHecht commented on #6752
It appears this page has an anomaly that I'm not sure how to fix when bringing it into Drupal. There is an alert above the intro text, which I don't think can be done in Drupal. We have a react widget right under the intro already. @jenniferlee-dsva @ncksllvn @AkucherGCIO ![Screen Shot 2020-03-12 at 3.03.38 PM.png](https://images.zenhubusercontent.com/5c9b7e302ac54336e2c327b8/c96dc382-5ea7-4817-b7

[2020-03-12 19:10] ccruzgra commented on #6662
@sonntag-adam Do you have a screenshot of what's been currently implemented?

[2020-03-12 19:12] ccruzgra commented on #6662
@sonntag-adam Do you have a screenshot of the original page showing the spinner when GIDS is down?

[2020-03-12 19:18] RLHecht commented on #6359
@jenstrickland This is now live: www.va.gov/disability/how-to-file-claim/

[2020-03-12 19:18] beeyayjay opened #6831 "Access for Beth Jacobson"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Add a comment @department-of-veterans-affairs/vsp-operations to ping the operations team
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please

[2020-03-12 19:20] kellylein opened #6832 "Access for Kelly Lein"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Add a comment @department-of-veterans-affairs/vsp-operations to ping the operations team
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please

[2020-03-12 19:20] kellylein commented on #6832
@department-of-veterans-affairs/vsp-operations please review

[2020-03-12 19:22] chrvalla commented on #6720
Hello. Thank you for all your helpful comments.

I have made all the adjustments you suggested.

Best,

Christian

[2020-03-12 19:34] rileyorr commented on #6693
@leahkeeler I think we can certainly ask if they can verify that it's the correct information!

[2020-03-12 19:35] LindseySaari commented on #3260
Working on this as time permits

[2020-03-12 19:47] tressaellen commented on #6731
@careyotto thank you for this feedback!

1. I tried buttons for 'disconnect' -i'll attach it here. It feels heavy to me but I think it might still make sense to use from a hierarchy perspective.
2.  Let me play around with this and see if I can come up with something a little more scalable.
![Account 1 Copy 5](https://user-images.githubusercontent.com/58752772/76560956-30177f00-6457-11ea-92f3-5193

[2020-03-12 19:50] bradl3yC commented on #6213
@nedierecel and @jonwehausen this is ready for re-review.  It should be available in staging in the next 20-30 minutes.

[2020-03-12 19:52] mnorthuis commented on #6692
Yes, use the one I recommended, it appears production breadcrumb is incorrect, so I have a note to track that down.  Thanks for checking!

[2020-03-12 19:56] bridgethapner commented on #5733
Hi @Samara-Strauss - Thank you for sharing!

- The launch date for Cerner at Spokane has pushed back to July 15 as of last week. The launch date for Cerner at Columbus is still mid-April, and only scheduling will be rolled at that time. I think the highest priority now is a version of this page that only changes the "Schedule a VA Appointment" section of the My VA tab to also point to Cerner.

**H

[2020-03-12 19:56] chrvalla commented on #6695
Hi Peggy

Thank you for your very helpful comments :)

I have made many of the changes you mentioned.

With regards to comment 3 - the link is suppose to link to the page you mentioned. I think I will include this in the prototype.

I will discuss the remaining points with Luke and Andrea.

Best,

Christian

[2020-03-12 19:56] jenniferlee-dsva commented on #6752
Can we move it down below the intro text block?

[2020-03-12 19:59] lunascoop opened #6833 "High Priority: Undo Redirect of Disability Special Monthly Rates Pages"
### Description
These pages were redirected on 3/10 but displays the incorrect special monthly rates and is causing confusion.

**This is an updated ticket based on work completed in ticket #6087 **

### Requestor team info
Public Websites

### Implementation date
**ASAP****

### Redirects needed

Redirect back to URL  |  Current URL
---  |  ---
https://www.benefits.va.gov/compensation/rates-index

[2020-03-12 19:59] jholton commented on #216
Yup.  Looks like Travis took care of it.

[2020-03-12 19:59] #216 closed

[2020-03-12 20:01] AnneHurley commented on #6833
Note: No need to redirect this page:
https://www.va.gov/disability/compensation-rates/veteran-rates/

As I am updating that and will have that page ready to push live tomorrow.

*[image: GovernmentCIO]* <http://www.governmentcio.com/>

*Anne Hurley** |*
  Content writer

| *mobile* (503) 298-7203
| *e.* ahurley@governmentcio.com

*Government**CIO*
*website <https://www.governmentcio.com/> **|** me

[2020-03-12 20:02] #6352 closed

[2020-03-12 20:02] #6349 closed

[2020-03-12 20:02] #6350 closed

[2020-03-12 20:03] peggygannon commented on #6748
@careyotto
Hello! I'm taking a look at this issue and have a few questions:

How will the connected accounts content appear? as an alert? or will this messaging be part of a drop-down link from a user's profile page?

Let me know if there is any early design/mockups that are in progress,  so I have a better sense of how users will come upon this info. I see some screenshots in #6731, but I'm not s

[2020-03-12 20:03] #6348 closed

[2020-03-12 20:05] #6757 closed

[2020-03-12 20:15] peggygannon commented on #5583
@billfienberg Hello, here is the URL/placement I'm recommending for the form labels.

Here is the repo that houses design system:
https://github.com/department-of-veterans-affairs/vets-design-system-documentation

The Form labels would be placed in the Patterns section of design system.

Form labels URL:
https://design.va.gov/patterns/form-labels

[2020-03-12 20:20] RLHecht commented on #6752
@jenniferlee-dsva As long as it's OK that it's stacked above another widget. I'll try it and send the preview link when done.

[2020-03-12 20:22] tressaellen commented on #6748
Hi @peggygannon I am working on these screens right now and will drop them in shortly

[2020-03-12 20:27] jenstrickland commented on #6359
Thanks, @RLHecht & @AkucherGCIO ! Validated with axe and axe-coconut and no longer see heading errors on this page. :clap:

[2020-03-12 20:27] #6359 closed

[2020-03-12 20:29] joanneesteban commented on #6463
Added video to sensitive repo: https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/tree/master/teams/vsp/teams/insights-analytics

[2020-03-12 20:29] tskinn commented on #6832
@kellylein you should now have access to the SOCKS proxy. If you run into problems setting it up reach out in slack in vfs-platform-support

[2020-03-12 20:30] tskinn commented on #6831
@beeyayjay you should now have access to the SOCKS proxy. If you run into problems reach out in slack.

[2020-03-12 20:38] KevinMHoffmanUSDS commented on #6155
Thanks for documenting the solution here, @Cooperjstn! Closing this ticket.

[2020-03-12 20:45] sshein commented on #6741
cool. I'm thinking maybe we should just do away with the "close" links. I like them because like I said users can open and close quickly, but I think they may cause too much confusion. e.g. what if a user changes their data then clicks "close"? would it save?  And it doesn't align with previous patterns anyway.

[2020-03-12 20:45] desireeturner opened #6834 "CT: Optimize Comparison Tool Autocomplete"
As a Veteran using the Comparison Tool, I need autocomplete in the comparison tool to provide enhanced predictive search results, so that I can better find the institutions I'm interested in.

## Assumptions
1. This work will be utilizing a review instance for testing.
2. The performance of the tool is maintained.
3. This work will be completed behind a prod flag so that upon merge it is only avai

[2020-03-12 20:50] beeyayjay commented on #6831
All good. Thanks!

[2020-03-12 20:53] RLHecht commented on #6755
@ncksllvn I don't see these widgets as options in the Drupal menu. Is this something you need to work on before I can do anything? Wondering if this ticket should be assigned to you.

[2020-03-12 20:54] peggygannon commented on #5828
Thanks, @bridgethapner updated mockup looks good.

[2020-03-12 20:56] tressaellen commented on #6741
@sshein This makes sense - I'll nix the close links.

[2020-03-12 20:58] 1Copenut commented on #6106
@jbalboni I took a quick look in Safari + VO and Chrome for axe checks. Have a few small adjustments and we'll be 💯

---
![Screen Shot 2020-03-12 at 3 53 42 PM](https://user-images.githubusercontent.com/934879/76566219-4c78e300-647a-11ea-9159-9d8ddff22f78.png)

[2020-03-12 21:00] lunascoop commented on #6833
@ncksllvn @kelsonic redirects are ready to be reversed.

[2020-03-12 21:02] joanneesteban commented on #6463
## Brainstorm Notes

- How can we include some of the OKRs dashboard features into our KPI dashboards? i.e. the human factor of setting 'how it's going' on the KPI tracker. Is there a tracker that we have where users can keep track of their updates? (@amycesal follow up )
- We should do a write up of the OKR tracker that Domo demo'd. (@joanneesteban follow up. Escalate the trial.)
- What is the KP

[2020-03-12 21:07] 1Copenut commented on #6237
@jbalboni I confirmed new placement of the alert box and that it did *not* read aloud. Everything is working as expected and no axe errors. Moving to close.

[2020-03-12 21:07] #6237 closed

[2020-03-12 21:13] jenniferlee-dsva commented on #6752
ewww. no, we can't stack an info alert on top of another info alert -- if that's what the widgets are. what's the URL of the live page - i may be able to suggest something if i can see the current content as a whole.

[2020-03-12 21:15] RLHecht commented on #6752
@jenniferlee-dsva https://www.va.gov/education/gi-bill/post-9-11/ch-33-benefit

[2020-03-12 21:17] joanneesteban commented on #6463
Bring these insights into the discovery sprint.

[2020-03-12 21:19] RLHecht commented on #5583
@peggygannon I added this to the style guide and set up a PR for you to review and merge.
https://github.com/department-of-veterans-affairs/vets-design-system-documentation/pull/179

[2020-03-12 21:19] jenniferlee-dsva commented on #6752
Hmm - I don't think we need that info alert. The same note text is already displayed right below the tool REACT component. Let's leave it off and we'll let Matt know about the Drupal constraints.

Can't upload screenshot, so will Slack you. Sigh.

[2020-03-12 21:20] marriej opened #6835 "[SSO Launch ]Enter Test Cases into TestRail"
This will need to be a team effort. Test cases can be found here:
https://docs.google.com/spreadsheets/d/1V4iQ1qtpDh_w0_Lruo13d7U6xi-qpCktFEkOe3pHyeQ/edit#gid=0
**Once you have entered a test case into TestRail shade the corresponding row with Ad Hoc green color**

[general QA documentation for the platform is available here:](https://github.com/department-of-veterans-affairs/va.gov-team/blob/mast

[2020-03-12 21:33] desireeturner opened #6836 "CT: Design documentation for Section 103"
As a developer supporting Section 103 enhancements, I need to establish a design document so that all parties involved are on the same page with regard to technical design.

## Assumptions
1. NA

## Acceptance Criteria:
1. Proposed design for Section 103 has been documented on GitHub and linked to this story.

## Supporting Artifacts
1. The following information was received from the Education Ben

[2020-03-12 21:39] 1Copenut commented on #5865
A short-term strategy might be to have engineers download a Windows VM from modern.ie and run NVDA + Firefox in VirtualBox or some other hypervisor. JAWS-specific issues are rare, but they do happen. The longer term answer is to get the accessibility experts access to feature branches on Windows machines, so we're not waiting for code to be pushed up to Staging to test.

[2020-03-12 21:52] careyotto commented on #6748
@peggygannon

Outside of VA.gov, a Veteran can log into a third-party app and give consent to connect some of their VA data with it. Veteran goes through a bunch of steps to do that. This screen is an example of the final "authorize" screen a user will see before connecting to an app.
![image](https://user-images.githubusercontent.com/37549106/76569581-b096a980-6470-11ea-8514-0bc2ca005804.png)

On

[2020-03-12 21:53] bridgethapner commented on #5835
Things are changing every day and I apologize for any confusion around this page. With the launch date push back, we _will_ be directing users to My VA Health at launch, and they _will_ be able to manage their prescriptions there. [I have updated the UX of this page and my first pass of content edits to reflect this](https://adhoc.invisionapp.com/share/DYVMI5OXEQN#/screens/404897044_-5741_AUTH_Pre

[2020-03-12 22:10] jonwehausen commented on #5895
Hi @sonntag-adam / @Samara-Strauss ,

Thank you both for getting these updates in quickly. I've done another QA within staging and everything looks good now!

I would just like to ask @nedierecel now to QA GTM tagging and we should be ready to publish shorly thereafter.

[2020-03-12 22:35] tressaellen commented on #6731
@Samara-Strauss and @careyotto  the more I'm working on connected accounts I really think it's best if we break it out into it's own section within profile - especially with the future features that Carey would like to include.  I just don't want to start adding things in the future and have the whole account page be overcrowded/confusing when we can just address that issue now.  Do you guys have

[2020-03-12 22:38] tressaellen commented on #6748
@peggygannon  and @careyotto - sorry for the delay - I'm still working on the mocks, but I'll have them in by tomorrow and will ping you when they're done.

[2020-03-12 22:47] bridgethapner commented on #5838
Thank you @lunascoop, I will remove.

[2020-03-12 22:51] careyotto commented on #6731
@tressaellen Let's hop on a call tomorrow to discuss what you're thinking. My calendar is up to date.

[2020-03-12 23:22] kreek opened #6837 "VAOS log when jti can not be determined"
We would presumably have the JTI from the request in most circumstances I would think. The only time it's absolutely necessary to get it from the response instead of the request is in the UserService call since there our request would not have a JTI.

[2020-03-12 23:28] bridgethapner commented on #5741
I have [updated the UX and my first content pass](https://adhoc.invisionapp.com/share/DYVMI5OXEQN#/screens/404897006) in light of the fact that Cerner will offer online prescription manging at the time we launch.

**Summary of edits (also in Invision):**
- removed "within My HealtheVet" from intro paragraph
- removed "Removed ", sometimes called “Rx Refill” or “Rx Tracker,"" from the second sectio

[2020-03-12 23:30] bridgethapner commented on #5378
I have implemented the Alert Box style on this page, and [the wireframe is here](https://adhoc.invisionapp.com/share/DYVMI5OXEQN#/screens/404897044). Not tagging Peggy yet as this is lower priority and I don't want to swamp her.

[2020-03-12 23:33] bridgethapner commented on #5390
I have implemented the alert box style on this page, and [the wireframe is here](https://adhoc.invisionapp.com/share/DYVMI5OXEQN#/screens/405228559). Not tagging Peggy yet as this is lower priority and I don't want to swamp her.

**Next Steps:** In 3/24 or 3/31 check-in with Peggy, we will review alert box content.

[2020-03-12 23:34] AnneHurley commented on #6833
@RLHecht  The updated 2020 disability compensation rates tables are now updated here: https://prod.cms.va.gov/node/986/edit

Uploaded the applicable charts from Sandy and team below. I checked the numbers and math and hope to get one more fresh read tonight, but they can use your eagle eye as I entered everything manually.

@jenniferlee-dsva  Question about historic rate charts - I added 2018 to t

[2020-03-12 23:36] AnneHurley commented on #6833
[2020 disability rate tables.pdf](https://github.com/department-of-veterans-affairs/va.gov-team/files/4327094/2020.disability.rate.tables.pdf)

[2020-03-12 23:43] AnneHurley commented on #6783
https://prod.cms.va.gov/node/986/edit

@AkucherGCIO @RLHecht and @jenniferlee-dsva  FYSA. I am moving the dialogue to the main ticket capturing all these pages. It's ready for copyedit.

[2020-03-12 23:45] bridgethapner commented on #5384
I have implemented the alert box style on this page, and [the wireframe is here](https://adhoc.invisionapp.com/share/DYVMI5OXEQN#/screens/404881778). This alert points to Cerner and VAOS.

Next Steps: In 3/17 check-in with @peggygannon, review alert box content as part of our review of how the VAOS + SSO work intersects.

[2020-03-12 23:45] AnneHurley commented on #6833
This now encompasses #6183

[2020-03-12 23:47] AnneHurley commented on #6783
Now that this is part of #6833, I think we can close this @AkucherGCIO

[2020-03-12 23:50] ericbuckley commented on #6835
which environment should all these tests be performed on?

[2020-03-13 00:16] careyotto opened #6838 "Copy help from Lighthouse API for connected accounts"
## Request

### Background
The Lighthouse API team is working with the Authenticated Experience team on improvements to the Connected Accounts user experience, while they do their Profile 2.0 work. As part of this work, we've identified a strong need for FAQs and a list of third-party apps and sites that Veterans can connect their personal data to.

We need help from the Public Websites team to ma

[2020-03-13 01:29] jonwehausen commented on #4497
@desireeturner @nedierecel

Confirming this has been published!

[2020-03-13 01:29] #4497 closed

[2020-03-13 01:30] jonwehausen commented on #6092
@nedierecel @sonntag-adam @hughes-dustin @amyknox

Confirming this has in fact been published. Closing.

[2020-03-13 01:30] #6092 closed

[2020-03-13 05:26] tlei123 opened #6839 "[QA] Research formal Regression Testing implementation"
## Soft Pilot

This discovery/research is low-priority, supporting a soft-pilot of formal Regression Test Plan artifact for [VSP's Usability Testing Prep collaboration-checkpoint](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/working-with-vsp/vsp-collaboration-cycle/vsp-collaboration-cycle.md#usability-testing-prep), using VSA Authenticated Experience team's[ P

[2020-03-13 12:49] #4537 closed

[2020-03-13 13:07] lwalsh617 commented on #5753
@RLHecht Per our Slack chat: at the top of this ticket, I added check boxes to the numbered list of pages that are moving so we can track which ones are done.

[2020-03-13 13:24] lwalsh617 commented on #6799
@AkucherGCIO - Per your request, I added detail to top of ticket.

[2020-03-13 13:33] #6802 closed

[2020-03-13 13:42] jbalboni opened #6840 "Track 400 cancellation errors"
When we get a 400 error from the cancellation endpoint is generally means the site is not allowing cancellation, which we may want to contact the site about.

Error reporting should include:
- [ ] ICN data
- [ ] Facility id
- [ ] Clinic id

Currently these errors are grouped with other server errors: http://sentry.vfs.va.gov/vets-gov/website-production/issues/101630/events/a6c238a719e04ddfbfaf1074

[2020-03-13 13:44] #6649 closed

[2020-03-13 13:47] ala-yna opened #6841 "Design Prototype & Content for Address Validation"
## User Story or Problem Statement
As a user, I  need to ensure that my address was entered correctly so I can ensure that communication from the Caregiver program will reach me.

## Goal
Users can receive an error message with possible corrections if their address is entered incorrectly.

## Objectives or Key Results this is meant to further
Note - can we put together a metric on address validati

[2020-03-13 13:49] oksana-c opened #6842 "Access for Oksana Cyrwus"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Add a comment @department-of-veterans-affairs/vsp-operations to ping the operations team
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please

[2020-03-13 13:50] oksana-c commented on #6842
@department-of-veterans-affairs/vsp-operations

[2020-03-13 13:51] ala-yna opened #6843 "Update and modularize content"
Given that the content in the 10-10CG online form should be dynamically generated
I want to update and modularize the content
So that changes are easier to make in the future

[2020-03-13 13:59] #6842 closed

[2020-03-13 14:00] jbalboni commented on #5983
@nedierecel @narin Can we break out these events, and not have them under the `vaos-error` key? They're expected events in the app and we want to be able to monitory how often they happen:

[code]

There's an error variant for all those events that I think we should track as errors, but not these ones.

[2020-03-13 14:06] jbritt1 commented on #6842
SOCKS access granted. @oksana-c, please continue with [the guide](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/engineering/internal-tools.md#configure-the-socks-proxy) to establish a connection to SOCKS proxy.

[2020-03-13 14:10] oksana-c commented on #6842
thank you @jbritt1

[2020-03-13 14:12] luke-gcio commented on #6261
Is there any way we can change the process in a way where that information is part of the bug reporting?  I know it may be hard to retroactively get this information but it has been making it very difficult to debug without having it up front.

[2020-03-13 14:13] ambikaroos commented on #6835
@ericbuckley I believe the thinking with these test cases was that they'd be performed in staging, right @patrickvinograd ?

[2020-03-13 14:28] Samara-Strauss commented on #5895
@jonwehausen did you mean to tag @bradl3yC in the message above?

Also, this sounds good, and we'll wait for final word from Nedie before closing anything! 😃

[2020-03-13 14:29] RLHecht commented on #6833
This has all been checked and published with a content only deploy. @AnneHurley @AkucherGCIO @jenniferlee-dsva

[2020-03-13 14:30] nedierecel commented on #5983
@narin We can pass these as standalone events, which I can tweak in Google Tag Manager.

@jbalboni When an error occurs for any of these, is the expected order of events (using `vaos-request-exceeded-outstanding-requests-failure` as an example):

1. `vaos-request-exceeded-outstanding-requests-failure` is pushed first
2. `vaos-error` pushed next, with `error-key` of XYZ.

Thanks!

[2020-03-13 14:49] jbalboni commented on #5983
Ok, but that makes the `vaos-error` event less meaningful, doesn't it? Those `-failure` events aren't something that has gone wrong they're expected to happen regularly. And they would be getting mixed in with actual application errors that indicate something is wrong with the tool.

It's not really clear to me what the value of `vaos-error` is, either, though.

[2020-03-13 14:53] Mottie opened #6844 "[Tech Debt] centralize page scroll code"
## Description

In the vets-website, there is abundant duplication of scroll code:

Searching for:

* `scrollToTop =` returns 35 results in 35 files
* `scrollTo(` returns 65 results in 60 files; most of which include the same scroll options

[code]

  but some use default options stored in `window.VetsGov.scroll` or `window.Forms.scroll` (used during testing)
* There is a `getScrollOptions` functi

[2020-03-13 14:54] nedierecel commented on #5983
@jbalboni Noted - the `vaos-error` was intended to aggregate all errors, but I understand your point on making these `-failure` events stand on their own.

I think it's fine to remove the `vaos-error` altogether if it's not going to add value. Please let me know what direction you go, and we can remove it from Google Tag Manager so that it only accepts the list you stated above.

We would then exp

[2020-03-13 14:55] nedierecel commented on #6213
@mshea0606 @jonwehausen I'm beginning my review this morning of the Address Validation. Thanks!

[2020-03-13 14:59] zurbergram commented on #6803
Caution flag and reason are set at
- https://github.com/department-of-veterans-affairs/gibct-data-service/blob/master/app/models/institution_builder.rb#L172
- https://github.com/department-of-veterans-affairs/gibct-data-service/blob/master/app/models/institution_builder.rb#L263
- https://github.com/department-of-veterans-affairs/gibct-data-service/blob/master/app/models/institution_builder.rb#L352

[2020-03-13 15:00] zurbergram commented on #6805
Caution flag and reason are set at
- https://github.com/department-of-veterans-affairs/gibct-data-service/blob/master/app/models/institution_builder.rb#L172
- https://github.com/department-of-veterans-affairs/gibct-data-service/blob/master/app/models/institution_builder.rb#L263
- https://github.com/department-of-veterans-affairs/gibct-data-service/blob/master/app/models/institution_builder.rb#L352

[2020-03-13 15:01] jbalboni commented on #5983
Ok. I'm inclined to leave `vaos-error` for now and see if we find it useful, but just make those `-failure` events stand on their own.

Also, I'd suggest adding one more event, something like `vaos-not-eligible`, that tracks when a user is stopped from continuing on the form due to having too many of those `-failure` checks. I think that would be useful to track because it would show how many peop

[2020-03-13 15:15] Samara-Strauss commented on #6741
+1 to @sshein's comment!

[2020-03-13 15:17] ncksllvn commented on #6752
I've been learning more about this logic...It works by -

1. The H1 heading is always shown
1. The data service status is checked to make sure it's available
    1. While loading, the service-status banner is hidden, the intro text is hidden, and the CTA widget is hidden
    1. If the service status is found to be okay, we show the service-status banner saying it's available, then also show the in

[2020-03-13 15:23] RLHecht commented on #6752
@jenniferlee-dsva @AkucherGCIO I built this page in Drupal minus the react widget for "Please sign in to check your GI Bill benefits," which I think @ncksllvn  needs to help me with. It's node Id 3007.  I can't configure the left nav yet because that can only happen before go-live.

[2020-03-13 15:29] #6560 closed

[2020-03-13 15:29] #4776 closed

[2020-03-13 15:30] ncksllvn commented on #6752
Yeah, need some product input to string this together...

The the data service is up, we should certain messaging that won't fit into the CTA widget, so we can't easily combine them into the same alert banner. Here's the possible message for the service-status banner -
- `The Post-9/11 GI Bill Benefits tool is available`;
- `The tool is available Sunday through Friday, 6:00 a.m. to 10:00 p.m. ET,

[2020-03-13 15:30] #6827 closed

[2020-03-13 15:32] Samara-Strauss commented on #6731
1. Let's break connected accounts out into its own section. Can we check in with Peggy to see if now we want to call "Account" --> "Account Security" again? I think that might be more clear given what will be in there.
2. Re: buttons or links for disconnect — I think the buttons look fine if they're right aligned (option 2).
3. I also like the simplicity of the second "saved" state — is this what

[2020-03-13 15:34] nedierecel commented on #5895
Thanks @jonwehausen @Samara-Strauss This is under review.

[2020-03-13 15:43] ncksllvn commented on #6752
Although the tool's hours are shown below the CTA widget, so there's some redundancy -

![image](https://user-images.githubusercontent.com/1915775/76636691-dcbd3380-651f-11ea-9d89-bd79c374495c.png)

[2020-03-13 15:44] delli-gatti-michael commented on #6666
local testing complete

[2020-03-13 15:48] mshea0606 commented on #6012
Hi @clantosswett @Kimberley2019 ,
I'm the new PM on the Authenticated Experience team. I'm working on putting a pre-post launch metrics together for the Address Validation feature. I was looking at this ticket, and wanted to see what time frame those 5 issues mentioned are from so I can use it as a baseline and see how that number changes post Address Validation launch.

[2020-03-13 15:51] AkucherGCIO commented on #6754
03/13/20 PW Standup
Nick is looking into the effort and needs to think through how it's implemented.

[2020-03-13 15:53] AkucherGCIO commented on #5608
03/13/20 PW Standup
PR will be open today.

[2020-03-13 15:53] kevinmirc opened #6845 "Research VA Profile address validation"
**Definition of Done**
Can we use MPI to do address validation (verifying a deliverable / valid mailing address) on vets-api for the purposes of submitting a 1010cg form.

**Findings**
Yes, we are connected to VA Profile and can query address suggestions.

The resulting response comes with metadata like  "confidence score", "delivery point validation", and "residential delivery indicator". We need

[2020-03-13 15:56] erikphansen commented on #6781
Update Friday, March 13, 2020 11:54 AM ET: so far no indication that having the new forms rolled out to 50% of users has an noticeable impact on contact info updates. Numbers for March 12 are more or less in line with a normal Thursday. I'll continue to monitor over the weekend and plan to ramp up to 100% on Tuesday assuming things continue to look good. @Samara-Strauss @mshea0606 feel free to tak

[2020-03-13 16:00] Samara-Strauss commented on #6781
Sounds good to me! Thanks for the update!

[2020-03-13 16:16] erikphansen commented on #6090
I'm adding a link to this ticket where the design/copy discussion took place https://github.com/department-of-veterans-affairs/va.gov-team/issues/6094

[2020-03-13 16:18] lwalsh617 commented on #6798
Checklist is now on this ticket.

[2020-03-13 16:18] bridgethapner commented on #5839
Thank you @peggygannon I made the update you noted to the breadcrumb.

I also took a look and changed a couple more things, [the updated wireframe is here](https://adhoc.invisionapp.com/share/DYVMI5OXEQN#/screens/404881778). All areas that need content review are labeled.

**Summary of changes:**
- Changed "Can I use this tool to schedule non-VA appointments?" to "Can I use these tools to schedule

[2020-03-13 16:25] ncksllvn commented on #6753
Cross-linking to content discussion - https://github.com/department-of-veterans-affairs/va.gov-team/issues/6752

[2020-03-13 16:28] RLHecht commented on #6798
@lwalsh617 Higher-level reviews is built in Drupal but the number call out is not rendering correctly. i checked it off above since it's migrated but let me know if I should only check it once it's all ready to go.

[2020-03-13 16:30] mshea0606 commented on #6266
@erikphansen i used staging user "vets.gov.user+27@gmail.com" aka William Daniels. I just tried again and it worked correctly.

For this user they had a mailing address but a blank home address. I checked "home address is the same as my mailing address" and it worked correctly this time. .

[2020-03-13 16:31] mshea0606 commented on #6266
@erikphansen is there a particular staging user we are supposed to use for Address Validation? Also, what is the email for user 37?

[2020-03-13 16:31] #6341 closed

[2020-03-13 16:34] micahchiang commented on #6227
PR merged.

[2020-03-13 16:34] #6227 closed

[2020-03-13 16:34] micahchiang commented on #6226
PR merged.

[2020-03-13 16:34] #6226 closed

[2020-03-13 16:35] ccruzgra commented on #6345
Prototype has been updated here: https://bahdigital.invisionapp.com/share/NCIAD3HABU7

[2020-03-13 16:37] ncksllvn commented on #6752
Here are the states with the status-check and CTA widgets combined -

### Service up
![image](https://user-images.githubusercontent.com/1915775/76640609-9d461580-6526-11ea-94b5-d427087e7dbe.png)

### Service down
![image](https://user-images.githubusercontent.com/1915775/76640837-0168d980-6527-11ea-8d85-d612240ca4a8.png)

### Service down soon (notice foot note)
![image](https://user-images.github

[2020-03-13 16:37] amyknox commented on #6346
the fine print...
“Before enrolling in a program at this institution, VA recommends that potential students consider these cautionary warnings. Caution flags indicate that VA or other federal agencies like the Department of Defense (DoD) or Department of Education (ED) have applied increased regulatory or legal scrutiny to this program.”

[2020-03-13 16:37] amyknox commented on #6346
New heading: Alerts from VA and other federal agencies
New jumplink: View details below

[2020-03-13 16:40] ndsprinkle commented on #6543
@luke-gcio The code writing is complete for this, but a PR is pending some testing. Also, I am having issues with running the front end locally to do this testing. It is being discussed in the platform-support channel and a solution was posted to fetch the latest Drupal content, but that didn't fix my issue. I am going to try again on the SOCKS proxy.

[2020-03-13 16:48] rileyorr commented on #6694
@mojaray2k & @mr0sari0 The Invision mockup and content can be found [here](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/medical-device-tool/design/prototype-introduction-screen.md#use-case---no-items-are-available-for-resupply).
Please note that this alert applies if **all** the hearing aid batteries _and_ accessories a Veteran is eligible for are unavailable

[2020-03-13 16:55] gunsch opened #6846 "CircleCI: make sure we're on VA Enterprise plan"
We're under the impression that there _is_ a VA enterprise license for CircleCI, but we're not sure whether we're actually _using_ the VA enterprise license for our GitHub org, or whether we're just on their "open-source free tier". If the latter, we're likely to run out of "credits" as we keep building on it.

I don't believe our team has enough access to be able to tell which is the case. Lookin

[2020-03-13 16:57] erikphansen commented on #5577
@Mottie and @ndsprinkle it sounds like now might be a good time to decide if this is work worth taking on. I don't see any drawbacks of making this additional call part of the normal form data update flow except there's the potential for a performance hit. But we already do a _ton_ of work with each update to the form data that I really doubt adding a little more will create problems.

[2020-03-13 17:01] lwalsh617 commented on #5753
@jenniferlee-dsva @mnorthuis @RLHecht -- Here's the document for Monday SME call (does not include Mikki's IA recommendations.) LMK if you have questions/feedback.
Thank you!
[decision-review-page-anomalies-and-recommendations_031320.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/4330693/decision-review-page-anomalies-and-recommendations_031320.docx)

[2020-03-13 17:03] mshea0606 commented on #6781
@erikphansen Thanks for the update!

[2020-03-13 17:14] ericbuckley commented on #6123
@hinzed1127 I believe we just want to redirect the user to `/v1/sessions/idme/new`.  This will trigger a new authentication flow with SSOe, but the type (idme, mhv, dslogon) shouldn't matter in this case.  The hope being that since SSOe already has a cached response for this user it will immediately redirect back to va.gov with the appropirate SAML response (which would then create the va.gov sess

[2020-03-13 17:16] kevinstachura commented on #6816
The link with the changes can be found here: https://vsateams.invisionapp.com/share/W5U21BDFTQK

[2020-03-13 17:16] #6816 closed

[2020-03-13 17:23] lihanli opened #6847 "log vet360 async transaction failures"
async transaction failures are currently not logged to sentry for vet360 transaction calls, these should be logged

## Tasks
- [ ] log async transaction failures for vet360 service calls

[2020-03-13 17:24] Mottie commented on #5577
I think it would be super-useful. I've noticed code that modifies the `uiSchema` from within the `updateSchema` function, which I know isn't ideal - I've had to do it as well

[2020-03-13 17:25] tressaellen commented on #6731
@Samara-Strauss thank you! The saved state is in the design system and will also be used in the profile... we're still trying to figure out messaging around it.

[2020-03-13 17:27] jbalboni commented on #5734
Notes from @marcynadeau:

Updates after Judy and Stephen added feedback:

- Partial: Cerner scheduling tool (CSS aka My VA Health Portal)—i.e. which the veteran (and staff) uses to schedule/request an appointment—that writes to a VistA back-end. No appts will be made in VistA because they will not appear in CSS (data flows one-way) so scheduling will be disabled in VistA.
- Full: Cerner Millennium

[2020-03-13 17:36] desireeturner opened #6848 "CT: Update "Learn more about these warnings" modal on profile page"
As a user of the GI Bill Comparison Tool, I need to understand all of the caution flags an institution can have so that I can make the best decision regarding how to use my education benefits.

## Assumptions
1. This work will be completed behind a prod flag so that upon merge it is only available on staging.

## Acceptance Criteria:
1. In the "Cautionary information" section of the Profile Page,

[2020-03-13 17:41] erikphansen commented on #6094
Just a reminder that the final design/copy decisions that came out of this ticket should have been moved to the top of the FE implementation ticket: https://github.com/department-of-veterans-affairs/va.gov-team/issues/6090.

[2020-03-13 17:41] sonntag-adam opened #6849 "Staging GIDS: Styling missing when accessing GIDS dashboard"
Navigate to https://staging.va.gov/gids/dashboards
Observe

![Screen Shot 2020-03-13 at 1.16.27 PM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/7fff5ec9-a833-4d0c-8193-ec9e29346d45)

[2020-03-13 17:48] AnneHurley commented on #2052
Auditing content on these remaining 4 pages per @mnorthuis & @lunascoop

legacy URL |  Redirect to
-- | --
www.benefits.va.gov/gibill/post911_gibill.asp | /education/about-gi-bill-benefits/post-9-11/
www.benefits.va.gov/gibill/school_decision.asp | /education/choosing-a-school/
www.benefits.va.gov/gibill/apply.asp | /education/how-to-apply/
www.benefits.va.gov/gibill/reap.asp | /education/other-va

[2020-03-13 17:48] hughes-dustin commented on #6849
branch: bah-remove-es6-syntax
PR: https://github.com/department-of-veterans-affairs/gibct-data-service/pull/610

[2020-03-13 17:50] tskinn opened #6850 "Renew Fwdproxy SSL Client Certs for ES"
## User Story or Problem Statement
The SSL certificate used as a client cert to connect to the Enrollment Service are expiring.

## Goal
Replace the expiring certificates with new VA issued certs and get folks at ES to approve new certs.

## Tasks
- [x] Get new certs issued from VA
- [x] Get certs in devops repo and keys in credstash
- [x] Send certs to ES contact to update accepted client certs
-

[2020-03-13 17:52] Samara-Strauss commented on #6094
@tressaellen @mshea0606 please get #6090 groomed properly for @erikphansen. Thank you!

[2020-03-13 17:54] erikphansen commented on #6094
I think we're fine with things now. I dug through this ticket and made sense of it :) but in the future the FE eng tickets should be pretty clear about what actually needs to be done.

[2020-03-13 17:57] erikphansen commented on #6266
@mshea0606 we've used users 24, 37, 56, and 360 which all work with the VA Profile service. And apparently so does user 27.

All user emails are `vets.gov.user+<user-number>@gmail.com`

[2020-03-13 18:00] sonntag-adam commented on #6849
Testing passes

[2020-03-13 18:02] ncksllvn opened #6851 "[Launch] GI Bill Statement of Benefits app as a Drupal page with widget"
We're rearchitecting the tool page for the [GI Bill Statement of Benefits](https://staging.va.gov/education/gi-bill/post-9-11/ch-33-benefit/) to be a Drupal page instead of a React component, so that its content and sidebar can be configured in Drupal. The launch will require a Drupal publish, vets-website merge and deployment, and a DevOps merge and deployment.

Related tickets:
- https://github.

[2020-03-13 18:03] saneshark commented on #6396
increased breakers threshold from 50% to 90%. We're good to go here.

[2020-03-13 18:03] #6396 closed

[2020-03-13 18:08] nedierecel commented on #5895
@jonwehausen Confirming this passes validation. Unless you have any comments on my QA, this is ready to publish and close.

CC: @mshea0606 and @Samara-Strauss

**Situation 1: Address Validation Alert Shown, Address Suggestion Displayed, and Address Suggestion Accepted=No**

| Interaction | Value | Pass QA? |
| --- | --- | --- |
| Alert Screen | custom metric 19=1 | Yes |
| Address Suggestion Displ

[2020-03-13 18:12] nedierecel commented on #6830
@jonwehausen Threading you here if you can please coordinate the Discovery call for View Dependents.

[2020-03-13 18:12] desireeturner opened #6852 "GIDS: Add the 103 info to institution builder"
## Assumptions
1. The content of the file has a 1-1 relationship to facility code
2. This story should utilize the prod flag/feature flag recently implemented in GIDS (#6598) to be tested by EDU.

## Acceptance Criteria:
1. Section 103 file has been successfully uploaded to GIDS
2. Provide the ability to download the csv of the uploaded file
3. DB table includes all of the fields included in the f

[2020-03-13 18:14] jonwehausen commented on #6463
### Follow-up on KPI Card Research

- From my understanding, KPI cards are no different than the cards we have already been making use of -- In the words of DOMO: "_KPIs are packaged with their most important summary data into boxes called KPI Cards. However, most Domo users simply refer to these kinds of Cards as "Cards" without attaching the term "KPI."_". In other words, they're the smaller ver

[2020-03-13 18:18] emilywaggoner commented on #6710
We did not have any explicit design feedback, as everything looks good to go! The only item to note that we discussed during the meeting (but is not in the mockups), is that the pagination component will be used when these changes are built out. 👍

[2020-03-13 18:20] desireeturner opened #6853 "CT: Add the 103 info to institution builder"
## Assumptions
This cannot be complete until the section 103 file (#6852) has been uploaded.

## Acceptance Criteria:
1. When a new preview of the file is generated, the 103 flag will be set for each institution in accordance with the new version of the file.
2. When requesting institution profile information from GIDS, this flag is present.

## Supporting Artifacts:
1. Sample file: [https://app.z

[2020-03-13 18:23] desireeturner opened #6854 "CT: Refactor Caution Flag data"
## Assumptions:
1. This story will block #6805
2. #6803 can be done without this being complete now but will need to be updated after this is complete.
3. Caution flag data comes from:
a. accreditation_actions
b. mous
c. sec702_schools
d. settlements
e. hcms

## Acceptance Criteria
1. Specific DB table has been established for caution flags
2. Calls to `GET /v0/institutions?name=STEVENS-HENAGER` r

[2020-03-13 18:24] ricetj commented on #683
Due to the lack of personal, we deprioritized this work to focus on getting processes in place to organize teams. We will be rolling back the changes we made on VSP and taking on this work later as part of the Infra Overhaul.

[2020-03-13 18:32] desireeturner opened #6855 "GIDS: Research allowing GIDS to handle ES6 or adding a rubocop to keep ES6 out"
## Assumptions

## Acceptance Criteria:
1. Research findings related to either allowing GIDS to handle ES6 or adding a rubocop to keep ES6 out have been captured on this story and a follow on story has been entered if applicable.

## Supporting Artifacts

[2020-03-13 18:47] jbritt1 opened #6856 "Re-enable and consolidate scorecard Jenkins jobs"
## User Story or Problem Statement
As a developer, I need to re-enable Jenkins jobs for the scorecard so I can confirm the functionality works properly in advance of go-live.

## Goal
_What outcome(s) do we want to see?_

All three Jenkins jobs enabled
All three Jenkins jobs in the same folder
Permissions to start/restart Jenkins jobs granted to members of the ThoughtWorks github team who have SOC

[2020-03-13 18:52] kreek opened #6857 "VAOS log clinic ids that return 400s for scheduling or cancelling appointments"
**User story**: We'd like to log which clinics/facilities/systems are returning 400s aka "This appointment cannot be scheduled/cancelled using VA Online Scheduling..." so that we can return a message to the user before making the request and let stakeholders know which clinics are not set up for VAOS.vao

[2020-03-13 18:55] clantosswett commented on #6465
3/13/2020 - Held a meeting about the strategy for how we want data to be tracked in Salesforce for VA.gov issues with Joanne, Amy, Kimberley and Chante. The consensus is that it would be best to track issues by VA.gov product versus tracking by broad issue type category. These are the reasons we have concern about the issue based approach:

- Prioritizing tracking the ISSUE over the TOOL where the

[2020-03-13 18:55] erikphansen commented on #6090
I bumped this from a 1 to 2. I was under the impression that this alert was going to go inside of the direct deposit component. But since the alert lives at the top of the profile section it's more involved than I expected.

[2020-03-13 18:57] clantosswett commented on #6465
[SF-CRM-Tracking-Fields.xlsx](https://github.com/department-of-veterans-affairs/va.gov-team/files/4331196/SF-CRM-Tracking-Fields.xlsx)

[2020-03-13 19:04] RLHecht commented on #6798
@lwalsh617 Another thing we need to keep in mind and I'm not sure what ticket it should go on is after all these decision reviews pages are built in Drupal, we need to change the links in the new pages to point to nodes rather than specific pages. It should be a step that happens before we push all the pages live.

[2020-03-13 19:09] #6345 closed

[2020-03-13 19:10] #6346 closed

[2020-03-13 19:10] #6347 closed

[2020-03-13 19:12] rianfowler opened #6858 "Naming conventions for automated checks"
# Overview

As the number of automated checks increases, scanning and understanding what each of them do becomes more difficult.

![Screen Shot 2020-03-13 at 15.08.35.png](https://images.zenhubusercontent.com/5a5d4c174b5806bc2bc2db50/761a675c-4de1-4236-aaac-2e582f71b3bb)

## Tasks

- come up with a naming convention for the tasks that groups them
- rename the workflows

## Notes

- talk to the BE

[2020-03-13 19:15] rianfowler opened #6859 "Flag for manual review improvements"
## Tasks

![Screen Shot 2020-03-13 at 15 15 57](https://user-images.githubusercontent.com/4998130/76652724-8eb72880-653d-11ea-9d46-7ca99d8716ca.png)

- Review the copy for the manual review comments with content and IA to ensure they match the platform voice for customer interactions
- Add a link to the detailed documentation to the comment for each trigger type e.g. https://github.com/department-

[2020-03-13 19:15] sonntag-adam commented on #6849
In staging. Closing bug

[2020-03-13 19:15] #6849 closed

[2020-03-13 19:15] sonntag-adam commented on #6163
In staging. Closing story.

[2020-03-13 19:16] #6163 closed

[2020-03-13 19:16] delli-gatti-michael commented on #6663
Confirmed in Staging. Closing this issue

[2020-03-13 19:16] #6663 closed

[2020-03-13 19:16] rianfowler commented on #6858
maybe review naming conventions with content and IA

[2020-03-13 19:23] ElijahLynn commented on #2989
Update on this: For now we are going with a solution that will tar it every minute instead of do this on publish event. We will work towards doing this on publish event but want to put a more reliable background worker system in place and don't want that to hold up "good" from getting shipped.

[2020-03-13 19:30] brandonrapp commented on #2239
I moved this from the NOW epics to NEXT as we are still driving at establishing our baselines and platform standards. Once the standards are set we can look again at documenting best practices for optimization.

[2020-03-13 19:50] jonwehausen commented on #5895
@nedierecel Thanks for your QA. I was able to simulate a save failure and this also checks out. We have now published out the workspace.

Thank you @Samara-Strauss and @bradl3yC for your help and coordination here. Data will begin flowing when launched to production.

[2020-03-13 20:01] jonwehausen commented on #4456
### Foresee DOMO Connector Block
- For the Facility Locator MVP, the survey we are attempting to retrieve data for is the "VA.gov Stars Only survey" -- which is of type "Feedback Survey"
- In attempting to automatically pull in data from this survey into DOMO, survey's of type "Feedback Survey" do not seem available
- There's two types of measurement data within the DOMO connector -- "Measure Data

[2020-03-13 20:03] jbalboni opened #6860 "Handle appointment slot request failures"
It looks like we're not handling appointment slot timeouts correctly: http://sentry.vfs.va.gov/vets-gov/website-production/issues/89004/?query=is%3Aunresolved%20source%3Avaos

[2020-03-13 20:08] narin commented on #5983
@jbalboni Will do, in regards to `vaos-not-eligible`.

@nedierecel:

Just to clarify, it would look like this?
[code]

[2020-03-13 20:11] lunascoop commented on #6833
Validated and notification to staekholders sent. Closing ticket. Thanks everyone!

[2020-03-13 20:11] #6833 closed

[2020-03-13 20:12] patrickvinograd commented on #5415
File was transmitted to Danny Reed via Skype secure file transfer on 3/12/2020. He confirmed receipt, and I asked him to follow up via email when the ETL process was complete or if any issues arose.

[2020-03-13 20:22] patrickvinograd opened #6861 "Account page multifactor status behavior should be reasonable when multifactor status is unknown"
When we sign in a user with an inbound SSOe session - i.e. they navigate to VA.gov from another site - we will be lacking some of the extra traits that we get from ID.me. One of these traits is the indicator of whether user has enrolled  in multifactor.

There may be cases where we can infer multifactor enrollment, but in cases where the status is truly unknown, we want to confirm that the user ex

[2020-03-13 20:36] Samara-Strauss commented on #5733
OK, I *think* I finally get what we need. I've mocked up two states below — one is what people who part of the Columbus facility see (assuming we can identify that) and what is what everyone else would see (which is basically what we have now on the site). Let me know if this is what you're thinking and what meets our current needs.

### What Columbus patients would see

![Dashboard-Columbus notif

[2020-03-13 20:36] ambikaroos commented on #5733
Per info from @ericbuckley:

When the user is logged into va.gov, from the FE you can make a `GET /v0/user` request to get information about the user.  Under the path `data["attributes"]["va_profile"]["is_cerner_patient"] `there will be a boolean that indicates whether or not they are a cerner patient.

[2020-03-13 20:57] mnorthuis commented on #4545
Revisions to this IA have been made based on the addition of the Add/remove dependents form 686c.  Please reference the combined IA for that work (linked below).  It does include some modifications to the URLs and breadcrumbs for this tool as well as a slight change in handling authenticated users.

https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/information-arch

[2020-03-13 20:58] mnorthuis commented on #6636
Final IA for your review.  This documentation includes some changes to the previously defined IA for the View dependents functionality - reference this combined IA documentation for both efforts. Please reach out with any questions.

https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/information-architecture/ia-reviews/ebenefits-dependents.md

This issue can be clos

[2020-03-13 21:08] #6728 closed

[2020-03-13 21:08] ambikaroos commented on #6728
Closing in favor of #6249 and #6528

[2020-03-13 21:13] tressaellen commented on #6748
Hi @peggygannon and @careyotto here are the screens to review for Connected Accounts.  Everything that needs to be looked at in red and I've added some clarifying notes here.

1. We ended up changing 'Account' back to 'Account Security', is that okay? 'Connected Accounts' needs to be re-visited.  It exists in other areas of VA but we'd like it to be as clear as possible for users.
5-6. These to sc

[2020-03-13 21:15] #6172 closed

[2020-03-13 21:27] jenstrickland opened #6863 "Access for Jennifer Strickland"
# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please provide the name of your team, your role on that team, and the name of the company you work for.

- [if requesting SSH key authorization] What is the **public** SSH key?

[code]

- [Grant AWS Console access?]

[2020-03-13 21:27] jenstrickland commented on #6863
@department-of-veterans-affairs/vsp-operations

[2020-03-13 21:31] wyattwalter commented on #6856
Yeah, I think this makes sense. Let's drop them in `/scorecard`, I'd say.

[2020-03-13 21:50] careyotto opened #6864 "IA Request [Connected Accounts FAQs]"
## Background
There was a previous ticket for FAQ url for Connected Accounts that was never implemented. Since then, our needs have changed. We (ie. Lighthouse API and Authenticated Experience teams) want to link to this content from within a Veteran's account settings. Lighthouse may also decide to use this link in the original OAuth screens, as originally designed, when we revisit these screens

[2020-03-13 22:22] wyattwalter opened #6865 "migrate vets-api Elasticache into VAEC"
## User Story or Problem Statement

The Elasticache (Redis) cluster for vets-api is the last thing that we're aware of existing in the old dsva-vetsgov-prod VPC. We'd like to migrate this out to complete that migration and remove the resources there.

Would like to do this live if possible so there's no downtime for Veterans and families. We have both Sidekiq and caches sharing the same cluster. W

[2020-03-13 22:27] wyattwalter commented on #6865
Looks like staging and sandbox were already moved by Lighthouse folks. I don't think any work was done to test a migration path as sandbox just started there and I don't know the exact story on staging, but I got asked about how they might do prod after staging was done.

[2020-03-13 23:10] mmiddaugh commented on #6698
Per Kevin Walsh:

[2020-03-13 23:18] careyotto commented on #6748
@peggygannon @tressaellen More context, as you chew on this.

I just learned today that there is a thing called [VA Mobile](https://mobile.va.gov/), which has its very own app store.

I will verify this with my PO on Monday. Current understanding is that since these are apps are developed by the VA, a Veteran need only log in with ID.me, DS Logon, My HealtheVet logins and the app automatically has

[2020-03-13 23:56] ericbuckley commented on #5290
@patrickvinograd this isn't flushed out, and I may be thinking too naively about the problem space, but what do you think about this approach?  https://github.com/department-of-veterans-affairs/vets-api/pull/4027/files

[2020-03-13 23:57] careyotto opened #6866 "IA Request [Third-party app directory a Veteran can connect to]"
## Background:
 Lighthouse API and Authenticated Experience teams want to link to an up-to-date list of **third-party apps** and services a Veteran can connect their VA data to. This content will need to be easy for the Lighthouse team to update, as we onboard new API consumers. There is a potential future use case of using this same content on developer.va.gov

For full context, there is also a [

[2020-03-14 00:01] jenstrickland commented on #6784
👏  Please let me know if I may be of assistance!

[2020-03-15 20:23] lenaecb commented on #3452
@joanneesteban - we are now live with about 5% or so of users. Can we go ahead and test Foresee now in production? Thanks!

[2020-03-16 12:52] desireeturner opened #6867 "CF: Content technical review"
Review comprehensive list of caution flags Identify those which EDU ""owns"" and can be modified

[2020-03-16 12:53] desireeturner opened #6868 "CF: Content Technical Design Support"
Review implementation solution with Dev team to streamline work all around
Note updates to stories, as necessary

[2020-03-16 12:54] desireeturner opened #6869 "CF: Content Updates"
Update EDU managed flags for plain language & VA.gov style
Distribute to UX Team
Review / Update, if necessary

[2020-03-16 12:56] desireeturner opened #6870 "CF: Content - EDU Review"
Share latest content updates with EDU for review / approval
Review / update, if necessary

[2020-03-16 12:56] desireeturner opened #6871 "OBE - CF: Content - DEPO Review"
Share latest content updates with DEPO for review / approval
Review / update, if necessary

[2020-03-16 12:58] desireeturner opened #6872 "OBE - CF: DEPO Content Review / Staging"
Share prototype w  final content review
Discuss input
Update as necessary

[2020-03-16 13:00] desireeturner opened #6873 "CF: DEPO Design Review / Staging"
DEPO for final design (plus content) review on Staging
Discuss input

[2020-03-16 13:02] desireeturner opened #6874 "CF: Dev Support"
Review UI when updated by Dev team
Relay any edits / updates

[2020-03-16 13:04] desireeturner opened #6875 "CF: UX Review on Staging"
Review UI on Staging
Relay any edits / updates

[2020-03-16 13:04] desireeturner opened #6876 "CF: Analytics"
- [x] Identify metrics for success
- [x] Evaluate with DEPO / EDU
- [x] Work with DEPO analytics team to implement

**Schedule Analytics Request meeting (30 minutes) with VSP team and include the following applicable information:**
- [ ] Objectives and definitions of success (e.g. a specific user interaction or final URL) for the product are documented.
- [ ] Authenticated user logins for testing

[2020-03-16 13:05] desireeturner opened #6877 "CT: Infinite Spinner: Content"
Draft / identify relevant content for all instances of spinner

[2020-03-16 13:06] desireeturner opened #6878 "Infinite Spinner: Design"
Create mock-ups for spinner

[2020-03-16 13:07] desireeturner opened #6879 "CT: Infinite Spinner: Design Review"
Review implementation on staging / production

[2020-03-16 13:08] desireeturner opened #6880 "CT-EYB: Initial Internal Planning"
Meet internally to review requirements document
Explore areas of uncertainty
Document questions for client & others

[2020-03-16 13:09] desireeturner opened #6881 "CT-EYB: Problem Definition"
Identify issues to be solved
Explore possible UI's
Document constraints / boundaries

[2020-03-16 13:09] desireeturner opened #6882 "CT-EYB: Project kickoff Prep"
Product Outline
Definition of space
Collect other artifacts

[2020-03-16 13:11] desireeturner opened #6883 "EYB - Project Kickoff with DEPO - VSP Collab"

[2020-03-16 13:12] desireeturner opened #6884 "CT-103: Initial Internal Planning"
Meet internally to review requirements document
Explore areas of uncertainty
Document questions for client & others

[2020-03-16 13:13] desireeturner opened #6885 "CT-103: Problem Definition"
Identify issues to be solved
Explore possible UI's
Document constraints / boundaries

[2020-03-16 13:14] desireeturner opened #6886 "CT-103: Project kickoff Prep"
Product Outline
Definition of space
Collect other artifacts

[2020-03-16 13:14] desireeturner opened #6887 "103 - Project Kickoff with DEPO - VSP Collab"
GIBCT 103 Solution
~GIBCT Autocomplete Solution~

[2020-03-16 13:15] desireeturner opened #6888 "OBE: CT-Autocomplete: Initial Internal Planning"
Meet internally to review requirements document
Explore areas of uncertainty
Document questions for client & others

[2020-03-16 13:16] desireeturner opened #6889 "OBE: CT-Autocomplete: Discovery / Definition"
Identify issues to be solved
Explore possible UI's
Document constraints / boundaries

[2020-03-16 13:26] leahkeeler opened #6890 "[Design] Add DLC Email address in addition to telephone number for additional assistance"
As a veteran who needs assistance with placing my order or any other questions I would like to see an email address in addition to a phone number where I can obtain assistance

#Tasks
_Add email to all pages that have telephone number

[2020-03-16 13:42] RLHecht commented on #6371
This change was made. There was an extra line space, which I deleted. Moving to validate and can close when it's live on the site later this afternoon.![Screen Shot 2020-03-16 at 9.41.41 AM.png](https://images.zenhubusercontent.com/5c9b7e302ac54336e2c327b8/3e649d67-42ea-4504-a099-93aa53b16c74)

[2020-03-16 13:42] lenaecb commented on #5406
@saneshark - At this point, is this ticket closed?

[2020-03-16 13:47] jenstrickland commented on #6371
Thanks, @RLHecht ! Let me know when it's online and I'll validate, leave a comment, and close.

[2020-03-16 13:58] MickinSahni commented on #6798
@RLHecht can you confirm whether there's a ticket for the page-to-node change on this epic?
If not I can spin one up for next sprint.

[2020-03-16 14:04] MickinSahni commented on #6783
Hey @AnneHurley, can you confirm that #6833 acceptance criteria, etc. is updated with any items from this ticket? I can close this out then.

[2020-03-16 14:06] #5690 closed

[2020-03-16 14:06] #6213 closed

[2020-03-16 14:06] #5719 closed

[2020-03-16 14:07] MickinSahni commented on #6754
Hey @ncksllvn, is there any work required as part of this ticket, then? Can it be closed?

[2020-03-16 14:17] RLHecht commented on #6798
@MickinSahni There isn't one. I was first thinking it could be a step on the launch checklist but since it affects so many pages I think you're right that it should be it's own ticket with each page as a checkbox so we know to go into each one before launch and update.

[2020-03-16 14:18] ncksllvn commented on #6754
I think we can close this in favor of https://github.com/department-of-veterans-affairs/va.gov-team/issues/6753, because after some thought, I think we're combining the CTA widget with the status-check widget, rather than simply separating out the widgets from the main React code

[2020-03-16 14:23] ncksllvn commented on #6753
I think I need PO feedback on this. Based on the thread in #6752, it seems like we don't want to separate widgets on this tool page (a "status check" widget to show whether the tool is available, and a standard CTA widget.) It seems like the right idea it to combine - check the status of the tool, and then, if available, render the CTA widget. It would be kinda silly to show the CTA widget if the

[2020-03-16 14:23] amyknox commented on #6877
**We’ve run into a problem**
We’re sorry. Something went wrong on our end. Please try again or check back soon.

{ button on all pages except GIBCT landing page }

[2020-03-16 14:26] jbalboni opened #6891 "Appointment slots call fails most of the time"
Sentry: http://sentry.vfs.va.gov/vets-gov/website-production/issues/101630/events/863b03b551de459fb0a3668f366016b8/

[2020-03-16 14:26] MickinSahni commented on #6273
Set estimate to 0 as designs for the mobile version are available

https://github.com/department-of-veterans-affairs/va.gov-team/issues/6273#issuecomment-594174574

[2020-03-16 14:33] #6806 closed

[2020-03-16 14:33] #6106 closed

[2020-03-16 14:35] MickinSahni commented on #5753
Safe to close this out, @lwalsh617 @jenniferlee-dsva ? Looks like the other tickets have already been created.

[2020-03-16 14:40] joanneesteban commented on #3452
Thanks, @lenaecb !

Checked the survey results, and we currently haven't had any user feedback from the 5% of rollout users yet.

Can you check on the Prod URL that the blue feedback button appears? It should look like this (on the right hand side of the page):

![image](https://user-images.githubusercontent.com/48964695/76768564-8fd09b80-6771-11ea-910d-92f54011d947.png)

You may need to refresh y

[2020-03-16 14:40] nedierecel commented on #5983
@jbalboni - can you review my assumptions?

To confirm, would @narin need to send any `error-key` values with these `-failure` events below? After rereading, it sounds like there would be another event that would be sent separately.

[code]

[2020-03-16 14:47] jenstrickland opened #6892 "508-defect-4 [COLOR, COGNITION]: CONSIDER changing background of map attribution"
# [508-defect-4](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-4)

[code]

**Feedback framework**
- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

**This is a relatively minor thing to consi

[2020-03-16 14:48] sporeboy commented on #6762
Github page set up to track latest Add Dependents mockups: https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/teams/vsa/teams/ebenefits/features/view-update-dependents/research-design

Mockups broken into discrete files with dedicated XD links.

[2020-03-16 14:51] Samara-Strauss commented on #5895
YAY! I am so glad this is done!

Before we close out for good — can someone show me where I can view these metrics once the feature launches? I'll need to be keeping an eye on them from day one as we work on the phased ramp up.

[2020-03-16 14:53] AnneHurley commented on #6783
@MickinSahni @lunascoop  Yes this ticket and the related one ^ have been completed and tickets can be closed.

[2020-03-16 15:01] jbalboni commented on #5983
@nedierecel @narin I still don't feel like I understand what `error-key` does, but those `-failure` events aren't errors, so wouldn't we leave off `error-key` altogether?

[2020-03-16 15:10] Samara-Strauss commented on #6199
@mshea0606 can you please close this out?

[2020-03-16 15:17] #6762 closed

[2020-03-16 15:17] jhonnyoddball opened #6893 "vets-json-schema GH Alerts and vulnerabilities"
The output of this repo is a json. Nothing from it runs in the browser. However, we should:

- [ ] Update the project to only use `yarn` i.e. remove package.lock and add it to the `.gitignore`
- [ ] Remove unused dependencies

[2020-03-16 15:25] jenniferlee-dsva commented on #6752
Just catching up - per @ncksllvn

Yes - thought same thing.

Yes - if the tool isn't available, the sign in CTA should be totally replaced with (in the same widget) message about the tool hours and it being outside of the available window of time.  This is an odd kind of 'downtime' message.
We should FYI  @peggygannon so she's aware this not-available-during-these-hours message. Not sure "down for

[2020-03-16 15:29] lenaecb commented on #5734
@jbalboni @lalexanderson-dsva - based on Jeff's notes above I want to clarify what the following - a Columbus ONLY Veteran will be able to see their appointments but cannot take any action on them such as 'cancel'. AND we're also going to display the following info in a module to a Columbus ONLY Veteran in the VAOS homepage:
_"We need to make sure that the alert on the home page of VAOS specifies

[2020-03-16 15:33] jenstrickland opened #6894 "[SCREENREADER]: 'Directions' links SHOULD have accessible names"
# [508-defect-4](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-4)

**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

Each of the "Directions" links in the search resul

[2020-03-16 15:34] erikphansen commented on #6782
@mshea0606 @Samara-Strauss

I checked the analytics at Monday, March 16, 2020 11:32 AM ET. I'm no statistician but I see no change in contact info submission tracking since I rolled out the new forms to 50% of people last week. So I'm pushing it to 100%.

![image.png](https://images.zenhubusercontent.com/5b4d0309a8d8be5bda39303e/ff28d4c2-eaf4-45a5-820d-1084ee66756c)

- https://analytics.google.com

[2020-03-16 15:36] MickinSahni commented on #5753
2020-03-16 PW Standup
* Closing this out!

[2020-03-16 15:36] #5753 closed

[2020-03-16 15:37] sporeboy commented on #5255
Copy and design revisions are underway. Each workflow is broken-out here: https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/teams/vsa/teams/ebenefits/features/view-update-dependents/research-design

[2020-03-16 15:39] MickinSahni commented on #6734
2020-03-16 PW Standup
* Validated in staging. Closing this out as well as related feature flag ticket #6824

[2020-03-16 15:39] #6734 closed

[2020-03-16 15:40] MickinSahni commented on #6824
2020-03-16 PW Standup
* Validated in staging and closing out (as well as related #6734)
* will need a follow-on ticket to remove the feature flag in prod cc @MickinSahni

[2020-03-16 15:40] #6824 closed

[2020-03-16 15:40] MickinSahni commented on #6371
2020-03-16 PW Standup
* Will validate once deploy goes out later today (Monday)

[2020-03-16 15:42] MickinSahni commented on #5608
2020-03-16 PW Standup
* PR opening today

[2020-03-16 15:43] MickinSahni commented on #6668
2020-03-16 PW Standup
* Considering planned for Sprint 17
* PR opening today

[2020-03-16 15:45] MickinSahni commented on #6754
2020-03-16 PW Standup
* We can close this out as a Dupe assuming we update #6753 to reflect there that we're combining these two widgets into one cc @MickinSahni

[2020-03-16 15:48] MickinSahni commented on #6783
2020-03-16 PW Standup
* Closing out as work's complete

[2020-03-16 15:48] #6783 closed

[2020-03-16 15:48] MickinSahni commented on #5718
2020-03-16 PW Standup
* Wrapping up today!

[2020-03-16 15:50] MickinSahni commented on #6099
2020-03-16 PW Standup
* PR opened, but tbd if that will address

[2020-03-16 15:50] erikphansen commented on #6782
Done.

[2020-03-16 15:50] #6782 closed

[2020-03-16 15:50] #6266 closed

[2020-03-16 15:52] MickinSahni commented on #6798
2020-03-16 PW Standup
* Create separate ticket for switching to node id for pages not already built cc @lwalsh617

[2020-03-16 15:53] MickinSahni commented on #6799
2020-03-16 PW Standup
* We have the content from the old page
* Essentially turning the DR into a new page
* Content is approved
* Be on the lookout for a doc from Laura

[2020-03-16 15:53] Samara-Strauss commented on #6322
Hello! Just wanted to see if you've had a chance to look at/get started with this. No rush — I know you have a lot going on and I'm not sure how your team's priorities might have changed given any coronavirus-related work. Let me know when you can!

[2020-03-16 15:54] andaleliz opened #6895 "Explore possible user flows for How to apply wizards"
## User Story or Problem Statement
How might we streamline the UX for our disability and education forms to ensure users complete the critical pre-requisite questions that help guide them to the correct form?

## Goal
- Explore possible user flows

## Objectives or Key Results this is meant to further
- no product outline for this work. TBD
---
## Tasks
- [x] Create user flow diagrams
- [ ] Review

[2020-03-16 15:55] MickinSahni commented on #6800
2020-03-16 PW Standup
* @lwalsh617 to confirm whether this and #6799 are dupes, etc.

[2020-03-16 16:00] MickinSahni commented on #6315
2020-03-16 PW Standup
* Completing taxes as an analogy for this Veteran-facing problem
  * i.e. they start with the solution—a particular form—rather than with the problem. This may result in them completing the wrong form

[2020-03-16 16:01] Mottie opened #6896 "Add uiSchema option to hide empty review rows"
## User Story or Problem Statement
As a front-end developer, I need to hide empty review rows on the review and submit page, so I can remove unneeded empty entries.

Example: An empty street address line 2 or 3, or an empty name suffix

![Screen Shot 2020-03-12 at 5 19 54 PM](https://user-images.githubusercontent.com/136959/76772291-a32e3780-676e-11ea-8436-8c27e68ba885.png)

## Goal

- Match new r

[2020-03-16 16:07] RLHecht commented on #6798
The Veterans Law Judge page is brought over but I can't put in the alert that's shown below. @ncksllvn Would you be able to help with this? I don't think it's currently in Drupal as an options. The page in Drupal is node ID 3010 ![Screen Shot 2020-03-16 at 12.06.14 PM.png](https://images.zenhubusercontent.com/5c9b7e302ac54336e2c327b8/7ac2491d-64e1-4593-a0ea-ee29e27a4941)

[2020-03-16 16:09] desireeturner commented on #6877
@amyknox I've added this content to #6662. Thanks!

[2020-03-16 16:11] ncksllvn commented on #6798
I see that alert banner here - http://preview-prod.vfs.va.gov/preview?nodeId=902. I think the path is `/disability/file-an-appeal/board-of-veterans-appeals`

[2020-03-16 16:14] peggygannon commented on #5741
thanks, @bridgethapner I left one additional comment in the wireframe (removal of another instatnce of Rx Tracker).

Other than that, the content updates look good.

[2020-03-16 16:21] SarahJaine commented on #6822
Working branch https://github.com/department-of-veterans-affairs/vets-api/compare/sj-remove-VA526ez-vgt6822

[2020-03-16 16:23] peggygannon commented on #5744
Thanks, @bridget. I added one more additional  content comment in the wireframe (removal of "Are" from the bullet points.

All other content updates look good.

[2020-03-16 16:26] peggygannon commented on #5742
@bridgethapner Thank you. Updated wireframe for this page looks good.

[2020-03-16 16:38] jenstrickland opened #6897 "508-defect-3 [KEYBOARD, SCREENREADER]: Navigating by keyboard between the map and the search results MUST be intuitive with changes communicated"
#  [508-defect-3](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-3)

[code]

**Feedback framework**
- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

From the VA 508 Office:

The interface **M

[2020-03-16 16:41] ncksllvn commented on #6099
Should be fixed today!

[2020-03-16 16:42] #4855 closed

[2020-03-16 17:26] #6199 closed

[2020-03-16 17:26] mshea0606 commented on #6199
@Samara-Strauss  closed

[2020-03-16 17:27] mshea0606 commented on #6782
Thanks Erik!

On Mon, Mar 16, 2020 at 11:50 AM Erik P. Hansen <notifications@github.com>
wrote:

[2020-03-16 17:27] #6243 closed

[2020-03-16 17:32] bridgethapner commented on #5744
Thank you @peggygannon - made that change and added it to my Mar 9, 2020 comment above.

[2020-03-16 17:39] zurbergram commented on #6854
https://github.com/department-of-veterans-affairs/gibct-data-service/pull/611
https://github.com/department-of-veterans-affairs/gibct-data-service/pull/612

[2020-03-16 17:45] saneshark commented on #5406
Yes. I think this can be closed.

[2020-03-16 17:45] #5406 closed

[2020-03-16 17:52] saneshark commented on #6460
There aren't any security measures in place that go beyond that which the VSP platform already has in place. If an incident arose the incident commander would get me and any other upstream partners from whom we receive the data involved and we'd work through the challenges.

We have logs in cloudwatch that give detailed and accurate history of every single user action performed as part of VAOS whi

[2020-03-16 17:52] brandonrapp opened #6898 "[Ongoing Service] Code Review Support - Sprint 22"
Provide ongoing support for VFS teams to help with code reviews

[2020-03-16 17:54] saneshark commented on #6837
We would presumably have the JTI from the request in most circumstances I would think. The only time it's absolutely necessary to get it from the response instead of the request is in the UserService call since there our request would not have a JTI.

[2020-03-16 17:55] saneshark commented on #4225
@lenaecb is this ticket safe to close?

[2020-03-16 18:03] #4225 closed

[2020-03-16 18:07] lenaecb commented on #3452
@joanneesteban - yep! got the blue foresee button and when clicked got this prompt:
![Screen Shot 2020-03-16 at 2.06.32 PM.png](https://images.zenhubusercontent.com/5e41a7217d1a39827f6e83fe/cc4da186-9d64-4eb7-b7ba-3db2b786645a)

If a user gives a rating is there also a prompt to leave written feedback as well? Just curious.

If we're good here, I'll close out this ticket.

[2020-03-16 18:07] peggygannon commented on #5583
Thanks, @randi. I've approved your PR, but please wait to merge it until I have an ETA from bill on when the form label table will be migrated over.

[2020-03-16 18:08] mmiddaugh commented on #3413
Hold on this one until design review complete

[2020-03-16 18:10] #6462 closed

[2020-03-16 18:11] lenaecb commented on #5691
@clantosswett - are we good to close out this ticket?

[2020-03-16 18:13] mmiddaugh commented on #3557
@jenstrickland can you please provide the number for the issue containing the markup recommendations?

[2020-03-16 18:14] mmiddaugh commented on #3557
Will estimate once recommendations can be reviewed

[2020-03-16 18:15] mmiddaugh commented on #3552
Hold on this one until design review complete

[2020-03-16 18:17] kfrz commented on #4392
Monitoring of identity partners will require further discovery. [Here](http://grafana.vfs.va.gov/explore?orgId=1&left=%5B%22now-7d%22,%22now%22,%22Prometheus%20(Production)%22,%7B%22expr%22:%22sum(increase(api_auth_saml_callback%7Bstatus%3D%5C%22success%5C%22,context%3D~%5C%22dslogon.*%5C%22%7D%5B$__interval%5D))%20by%20(context)%22,%22format%22:%22time_series%22,%22interval%22:%22%22,%22intervalF

[2020-03-16 18:20] mmiddaugh commented on #2556
Hold on this one until design review complete

[2020-03-16 18:21] mmiddaugh commented on #3445
Hold on this one until design review complete

[2020-03-16 18:26] #6316 closed

[2020-03-16 18:27] jenstrickland commented on #3557
@mmiddaugh Updated text above to include link to https://github.com/department-of-veterans-affairs/va.gov-team/issues/3441. Apologies, that was an oversight.

[2020-03-16 18:31] rileyorr commented on #6275
@mojaray2k & @mr0sari0 The Invision mockup and content can be found [here](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/medical-device-tool/design/prototype-introduction-screen.md#use-case---veteran-is-not-eligible-for-the-benefit).
I didn't use the DLC's provided blanket statement because it was not written using plain language guidelines; I'll provide the do

[2020-03-16 18:46] joanneesteban commented on #3452
@lenaecb Great!

Unfortunately, right now there isn't written feedback but we're working to get that into Medallia when that gets stood up (no timeline on that just yet). In the meantime, we'll probably look into getting that as an addition to ForeSee so you can get product specific feedback.

Closing this ticket, but please feel free to reach out for any other questions!

[2020-03-16 18:46] #3452 closed

[2020-03-16 18:47] tlei123 opened #6900 "[QA] Find VA Forms - Search MVP - Test Plan"
## Product/Feature summary

[VA Find VA Forms Search](https://www.va.gov/find-form)
- Please see Mickin for creds

\[Provide brief summary of product/feature to be tested on Staging by VSA-QA. Also, be sure to include links to the Product/Feature Outline, Epic, and Pre-Launch Checklist.]

Product/Feature Outline: [GitHub doc](https://github.com/department-of-veterans-affairs/va.gov-team/tree/maste

[2020-03-16 18:53] bridgethapner commented on #5745
Moving to blocked because we need clarity on Cerner scheduling functionality to recommend content changes. All areas where clarity is needed are circled in *orange* [here](https://adhoc.invisionapp.com/share/DYVMI5OXEQN#/screens/404881624) and questions are in Invision comments. Summary of questions:

1. [There are currently 8 features listed under **How can VA appointment tools help me manage my

[2020-03-16 18:56] jenniferlee-dsva commented on #6752
@peggygannon ^ See above; please tb with me or Randi for details/Qs.

[2020-03-16 18:56] delli-gatti-michael commented on #6666
Changes are now live in staging. Closing this issue

[2020-03-16 18:56] #6666 closed

[2020-03-16 19:06] #6271 closed

[2020-03-16 19:34] #6543 closed

[2020-03-16 19:37] clantosswett commented on #5691
Good to close. Thank you!

[2020-03-16 19:43] ala-yna opened #6901 "Research PDF generation"
## User Sotry

Given that a user wants to download a PDF version of their 10-10CG application
And that the business wants to see a PDF of the form attached to the online application submission
I want to begin researching whether that functionality has been implemented on VA.gov
So that we can better estimate the workload involved on adding this function to our Phase 1 rollout.

## Acceptance Crite

[2020-03-16 19:53] lenaecb commented on #5762
@rtwell - can you help with mockups for the two states in-app for Cerner-specific appointments and facilities? We decided to keep this all in one ticket but let me know if you want to break it out.

[2020-03-16 20:05] lunascoop opened #6902 "High Priority: Revert redirects for two Disability rates pages"
### Description
These pages were redirected on 3/10 but displays the incorrect rates and is causing confusion.

**This is an updated ticket based on work completed in ticket #6087 **

### Requestor team info
Public Websites

### Implementation date
**ASAP****

### Redirects needed

Redirect back to URL  |  Current URL
---  |  ---
https://www.benefits.va.gov/compensation/special_Benefit_Allowances_

[2020-03-16 20:11] Samara-Strauss commented on #2586
### General

- Please always link a document — whether it's a convo guide, research plan, research writeup, etc — to the top comment in the ticket. This is really helpful for tracking/documentation purposes. Also, please always solicit feedback by linking to a ticket that links to a doc and not the doc itself. When feedback ends up in Slack, it's lost to time and it's hard to follow the conversati

[2020-03-16 20:11] peggygannon commented on #5384
@bridgethapner
Please see below for content recommendations for this alert. Let's review this at our sync tomorrow to see if more trimming is needed? I'd  would like to take another look with the updated copy.

**View, schedule, or cancel a VA appointment online**
{begin alert box}
**Our records show that you’re registered at Chalmers P. Wylie Ambulatory Care Center. Starting April xx, 2020, provi

[2020-03-16 20:25] ala-yna opened #6903 "Research VA Profile address validation"
## User Story

Given that the Caregiver business team would like to have an accurate, usable address for users on the 10-10CG
I want to understand the Address Validation functionality available on VA Profile
So that we can be more confident in the usability of the addresses provided on the 10-10CG online application.

## Questions
- How does VA Profile's address validation work?
- What error messa

[2020-03-16 20:29] #6860 closed

[2020-03-16 20:29] lenaecb commented on #6828
Currently only happened once. Lower priority.

[2020-03-16 20:33] tressaellen commented on #2586
@Samara-Strauss this is super helpful!! Thank you! I'll keep working on it!

[2020-03-16 20:33] AnneHurley opened #6904 "Update disability rates main page to remove "2019" from headline and intro"
Need to update this page

https://www.benefits.va.gov/compensation/rates-index.asp
^ which also needs to be redirected

https://prod.cms.va.gov/node/989/edit
@RLHecht  I've updated the prod link above, but we still need to do the redirect.
@lunascoop  - apologies this isn't a full separate redirect request though I believe you have this page in an earlier request - let me know and thanks.

[2020-03-16 20:38] #6877 closed

[2020-03-16 20:41] amyknox commented on #6878
@ccruzgra - story is yours if there are any comps to create for the GIBCT spinner implementaton

[2020-03-16 20:49] bridgethapner commented on #5384
Thank you @peggygannon! This is hugely helpful and I appreciate how much you streamlined the copy of the first 2 paragraphs.

Regarding the CTAs: we heard in testing that users are essentially scanning the page to find the right button & buttons with an action item like "Schedule" or "Message" tested more positively than "Go to [tool name]". That being said, I worry about how long these CTAs can g

[2020-03-16 20:52] jenniferlee-dsva opened #6905 "Reverse engineer CSV file from a modern VA.gov static table"
#6907 Reverse engineer CSV file from a modern VA.gov static table

**Problem:**
Currently static tabular information is extremely manual and tedious to maintain and keep up-to-date. The information content team receives from SMEs do not map to the Veteran-centered modern organization of tables.

**See attached example of rates information that stakeholders use to update table data:**
[example-pens

[2020-03-16 20:53] #1516 closed

[2020-03-16 20:54] lenaecb opened #6906 "Move schemas to Vets JSON schema"
Goal - share schemas between front-end and back-end.

[2020-03-16 20:57] YanaRoy opened #6907 "Adding Lea Lester to DSVA Slack"
Requesting full DSVA Slack membership for Lea Lester klester@governmentcio.com

[2020-03-16 21:08] jenniferlee-dsva commented on #6905
Hmm - Not sure why I can't add this as "backlog" or "icebox" to our PW team board. I'd like to make sure this is something we look at with the new PW Drupal engineer we're supposed to get.

[2020-03-16 21:15] #6903 closed

[2020-03-16 21:16] ala-yna commented on #6903
Closed - issue is a duplicate of #6845

[2020-03-16 21:17] LEHigley commented on #6907
done

[2020-03-16 21:17] #6907 closed

[2020-03-16 21:19] ala-yna opened #6908 "Establish Documentation for Content Collaboration"
## Problem Statement

Given that @LinnJS needs an easy way to understand the front end requirements for the 10-10CG
I want to create an easy system of collaboration between front-end, content, and design
So that content and changes can be communicated effectively.

[2020-03-16 21:25] #6891 closed

[2020-03-16 21:25] ala-yna opened #6909 "Create/document wireframes for notification service"
Given that users want to receive updates on their 10-10CG Online application
I want to develop wireframes to demonstrate possible solutions
So that we can present options to the Caregiver Program team.

[2020-03-16 21:34] ala-yna opened #6910 "Research Backend Feature Flags"
## Problem Space

Given that the CARMA backend service may not be available for connection until July/August
I want to understand what options are available
So that we can still develop and deploy the backend as it is built.

[2020-03-16 21:34] jenstrickland opened #6911 "508-defect-1 ❗ Launchblocker [SCREENREADER, KEYBOARD]: Map: All elements that can be operated by a mouse MUST be operable by keyboard"
# [508-defect-1 ❗️ Launchblocker](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-1)

[code]

**Feedback framework**
- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

Per the VA 508 Office:

-

[2020-03-16 21:36] ala-yna opened #6912 "Content for POA Documentation"
Given that a user with POA may fill out the 10-10CG as their Veteran's delegate
I want to generate the content that will be used to request POA documentation and signature
So that those individuals can submit online 10-10CG applications.

[2020-03-16 22:21] ericbuckley opened #6914 "SSOe feature flag checks"
## User Story
To safely rollout SSOe user authentication we need to build in the capability to enable/disable this process for some, all or none of our users.  To do this we need to add a feature flag check in two places.

a) on the login modal
 - this will handle any cases where the user explicitly chooses to login

b) before a `GET https://eauth.va.gov/keepalive` request is made
 - users that ar

[2020-03-16 22:29] Mottie commented on #6402
Progression towards completion:
- [x] Remove old HLR redirect - https://github.com/department-of-veterans-affairs/vets-website/pull/11874
- [x] Fix HLR Introduction page reload - https://github.com/department-of-veterans-affairs/vets-website/pull/11893
- [ ] Add `uiSchema` option to hide empty review rows - https://github.com/department-of-veterans-affairs/vets-website/pull/11908
- [ ] Complete re

[2020-03-16 22:29] peggygannon commented on #5384
ok, @bridgethapner  thank you for that feedback. We currently are using that language on the Scheduling page CTAs
Go to My HealtheVet
Go to VA appointments tools

so that is why I recommended it here.

The only thing with using "Schedule" and "Message" is that those won't translate when we put these alerts on the other health care pages (lab results, prescriptions, medical records, etc), so I'm tr

[2020-03-16 22:41] mnorthuis commented on #6648
Draft document started: https://drive.google.com/file/d/10uTUvjg6UT6lbDTcUw5Zya84Oqwe7cXA/view?usp=sharing

[2020-03-16 22:42] desireeturner opened #6916 "CT: Predictive Autocomplete/Search​"

[2020-03-16 22:45] mnorthuis commented on #6652
@lunascoop @AnneHurley Did we resolve this one?  I don't believe we will be redirecting the legacy page, so can we close the issue?

[2020-03-16 23:06] ericbuckley opened #6917 "SSOe login redirect parameter"
## User Story
A cerner user logging into VA.gov via the standalone login page needs to be redirected back to the cerner portal after authentication is complete.  To do so, the vets-api SSOe authentication API (ie `POST /v1/sessions/X/new`) needs to be able to accept an `application` parameter.  If an application query parameter is found, and the value maps to a known value, then at the end of a su

[2020-03-16 23:29] tlei123 opened #6918 "[QA] Yellow Ribbon - MVP - Test Plan"
## Product/Feature summary

\[Provide brief summary of product/feature to be tested on Staging by VSA-QA. Also, be sure to include links to the Product/Feature Outline, Epic, and Pre-Launch Checklist.]

Product/Feature Outline: [GitHub doc](https://github.com/department-of-veterans-affairs/va.gov-team/blob/e1896878bb4e02d2c71314383666913fd5933f19/products/public-websites/yellow-ribbon-mvp/yellow-r

[2020-03-16 23:31] nathanhruby commented on #6609
https://github.com/department-of-veterans-affairs/vsp-infra-template

[2020-03-16 23:46] #6609 closed

[2020-03-17 01:01] hughes-dustin commented on #6852
DB Changes:
  branch: bah-6852-db-changes

[2020-03-17 01:43] drorva opened #6919 "Comprehensive platform uptime data tracking"
!#$@#$ created by accident.

[2020-03-17 01:44] zurbergram commented on #6854
To see caution_flags in database
[code]

[2020-03-17 01:50] #6919 closed

[2020-03-17 01:54] zurbergram commented on #6854
Update institutions_profile spreadsheet
[Institutions_profile.xlsx](https://github.com/department-of-veterans-affairs/va.gov-team/files/4341083/Institutions_profile.xlsx)

[2020-03-17 01:55] zurbergram commented on #6854
Search results and profile no longer returns `caution_flag` and `caution_flag_reason` and instead returns attribute `caution_flags`

[2020-03-17 03:30] annaswims commented on #6609
Are teams admins, or individuals?  I wish github made it easier to find repo admins, especially now that [asking the github admins](https://dsva.slack.com/archives/CBU0KDSB1/p1583856044188400?thread_ts=1583855589.187000&cid=CBU0KDSB1) requires being on the VA network

[2020-03-17 03:47] narin commented on #6808
This will be resolved when [this PR](https://github.com/department-of-veterans-affairs/vets-website/pull/11784) gets merged.

[2020-03-17 12:27] zurbergram commented on #6854
Query to see how many flags per institution

[code]

[2020-03-17 13:11] lwalsh617 opened #6920 "IA Request: Decision Review Pages"
What this is: Work with VSP Information Architecture experts to finalize the IA of Decision Reviews and legacy appeals content on VA.gov

## Required Inputs:
- Link to product outline: [AMA Follow-up Changes](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/public-websites/AMA%20Follow%20Up/AMA%20Follow%20Up%20Product%20Outline.md#appeal-modernization-process-ama-

[2020-03-17 13:11] #6355 closed

[2020-03-17 13:13] Jeff-Hayter commented on #5120
@ricetj Approved for AWS.

[2020-03-17 13:18] RLHecht commented on #6371
@jenstrickland This corrected page is now live. You can close out the ticket.

[2020-03-17 13:19] jbalboni opened #6921 "Error when backing up through the flow after submitting"
Sentry error: http://sentry.vfs.va.gov/vets-gov/website-production/issues/108370/?query=is%3Aunresolved%20source%3Avaos

It looks like you can back up through the flow after submitting and try to submit again, which results in an error. We should do a better job of preventing this.

Steps from the Sentry issue:
1. Go through the request flow and submit
2. Click to start a new appointment
3. Click

[2020-03-17 13:20] lwalsh617 commented on #6800
@MickinSahni I am closing this ticket because it is a duplicate of 6799 (new hub page)

[2020-03-17 13:20] #6800 closed

[2020-03-17 13:28] RLHecht commented on #6904
This page has been published. Should I move to validate or is the redirect on this ticket too? @lunascoop ?

[2020-03-17 13:30] jenstrickland commented on #6371
@RLHecht The empty heading is still there. I emptied cache and did a hard load, tested a few times to be sure.

**Error message in [axe extension](http://bitly.com/aXe-Chrome)**
![Screen Shot 2020-03-17 at 9 28 36 AM](https://user-images.githubusercontent.com/57469/76860625-b950fc00-6831-11ea-907c-c325f2f86d79.png)

**Location of the empty heading**
![Screen Shot 2020-03-17 at 9 28 11 AM](https://

[2020-03-17 13:34] lwalsh617 opened #6922 "Decision Reviews Pages: Update Drupal Node IDs"
## Drupal Node ID updates

After Decision Review pages have been moved from GitHub to Drupal (per ticket 6798) please update the Node IDs on these pages:

- [x] VA decisions reviews and appeals https://www.va.gov/decision-reviews/
- [x] After you request a decision review https://www.va.gov/decision-reviews/after-you-request-review/
- [x] File a Supplemental Claim with new evidence  https://www.va

[2020-03-17 13:36] RLHecht commented on #6371
@jenstrickland From the first screenshot above I thought the extra spacing was between the last two H2 questions on the page, which I removed. I'm not seeing any extra spacing in the Drupal page under "More information about disability ratings."

[2020-03-17 13:51] nathanhruby commented on #6609
The team that "owns" the repo should be admin on the repo. The sample [README](https://github.com/department-of-veterans-affairs/vsp-infra-template#contacts) sort of points this out, but I could make it clearer in the CONFIG_ME_FIRST.md document.  The goal here is to begin working toward team-first thinking.

Agree strongly that GitHub needs a better model for discovering owners on a repo.

[2020-03-17 13:53] lunascoop commented on #6904
@RLHecht there is no redirect for this ticket.

[2020-03-17 14:08] amyknox commented on #6869
@JLynnJ to evaluate links in long descriptions for accuracy & relevance

[2020-03-17 14:09] johnpaulashenfelter commented on #1555
Closing since we are starting to treat our self-hosted sentry as a first class citizen as part of the v10 upgrade #6769

[2020-03-17 14:09] #1555 closed

[2020-03-17 14:15] Mottie commented on #4701
This has been fixed as part of #2138 in this PR: https://github.com/department-of-veterans-affairs/vets-website/pull/11847

[2020-03-17 14:15] #4701 closed

[2020-03-17 14:17] CrystabelReiter commented on #6704
Design intent collaboration has been scheduled for Wednesday 3/18 at 10:30 AM EST

[2020-03-17 14:20] #6395 closed

[2020-03-17 14:20] pjhill commented on #6395
Completed risk analysis in markdown -- https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/working-with-vsp/vsp-collaboration-cycle/risk-analysis/CMS-escaped-defects-risk-analysis.md

Risk analysis template in markdown -- https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/working-with-vsp/vsp-collaboration-cycle/risk-analysis/risk-anal

[2020-03-17 14:22] #5808 closed

[2020-03-17 14:24] lenaecb commented on #5833
@nedierecel @narin - at this point do we want to close this ticket or keep it open? It looks like most of the feedback for analytics is falling into our Event tracking ticket

[2020-03-17 14:26] lenaecb commented on #5680
@nedierecel - are we good to close this out? Seems we still looking at some error logging via analytics but in #5983.

[2020-03-17 14:27] #5059 closed

[2020-03-17 14:28] johnpaulashenfelter opened #6923 "sentry"

[2020-03-17 14:28] johnpaulashenfelter commented on #6923
Accidentally created.

[2020-03-17 14:28] #6923 closed

[2020-03-17 14:36] jenstrickland commented on #6371
@RLHecht I wonder about that extra space in the screenshot above, after the subway map, too, but it's not showing as an empty heading in the axe checker. It says the empty heading is in the "list" of items under More information about disability ratings.

If you'd like to hop on a call and show me how this area is created, I have a suspicion where it is.

[2020-03-17 14:42] ndsprinkle opened #6924 "526: Overseas address checkbox initially missing state and zip"
## What happened?
When filing a claim using the 526 form, on the Contact Information page, if a country is selected other than "USA", the State and Postal code fields disappear as they should. Then, if the checkbox indicating "I live on a United States military base outside of the United States" is selected, the country field disables and switches to "USA", but the State and Postal code fields do

[2020-03-17 14:43] kevinmirc commented on #6513
Related to https://github.com/department-of-veterans-affairs/va.gov-team/issues/6901

[2020-03-17 14:48] #5691 closed

[2020-03-17 14:52] marriej opened #6925 "Staging Review SSO-login"
## Steps to complete Staging Review:

- [x] Product Manager: create this issue and fill in feature name in the title and other bolded information appropriately
- [x] Link to this issue once created in #vfs-platform-support in Slack; tag @ Megan Kelley @ AndreaHewitt
- [x] Andrea and Megan to schedule meeting with VSP reviewers and **requesting team** attendees (as listed below)
- [x] At least 2 da

[2020-03-17 14:57] rianfowler opened #6926 "Create recommended notification settings and user preferences for CircleCI, Sentry, and GitHub"
# Overview

VSP integrates with several third party tools and each of these tools has its own set of configuration options. Often the default options do not offer the optimal experience for VSF engineers.

## Goal

- Document recommended user preferences for all third party tools

## Potential tasks

- Recommend setting email notifications in Circle under User Settings > Notification settings > Em

[2020-03-17 14:57] jbalboni opened #6927 "Users are clicking the cancel and submit buttons after an error"
In our analytics we can see that users are clicking the submit and cancel buttons multiple times after an error occurs. This doesn't appear to let anyone get past the errors, since they're not intermittent (at least, not the ones we're seeing now).

We could disable these buttons after an error occurs.

[2020-03-17 14:57] mmiddaugh commented on #6400
@nedierecel how do we interpret the following:

![image](https://user-images.githubusercontent.com/55411834/76868963-3ded4b80-682d-11ea-810c-95bc93bf1529.png)

It looks like the vast majority of that traffic originated from (not set).

[2020-03-17 14:58] mnorthuis commented on #6811
Provided recommendations, the team will go with `/performance-dashboard`.  Long term plan will be to move this content to a subdomain of va.gov.

Instructed team to create a redirect request for the current `/scorecard` URL and to submit an issue to the Public Websites team to update the links to the scorecard in the footer.

[2020-03-17 14:58] #6811 closed

[2020-03-17 15:02] kevinmirc commented on #6901
**PDF Generation Docs**: https://github.com/department-of-veterans-affairs/va.gov-team/issues/6901

**Workload:**
- **Boilerplate**
- [ ] Add blank PDF to `lib/pdf_fill/forms/pdfs/*` (maybe version it?)
- [ ] Add the new class to the map in `lib/pdf_fill/filler.rb:8`
- [ ] Create a `PdfFill::Forms::Form1010cg` in `lib/pdf_fill/forms/*`
- **Transformer**
- [ ] Map the claim props to to the PDF fiel

[2020-03-17 15:04] rianfowler commented on #6926
cc @dbru FYI

[2020-03-17 15:05] #5994 closed

[2020-03-17 15:05] rianfowler commented on #6858
cc @dbru fyi

[2020-03-17 15:06] rianfowler commented on #6859
cc @dbru fyi

[2020-03-17 15:09] kennedycollins opened #6928 "Redirect Request: /scorecard to /performance-dashboard"
### Instructions
- Requests for redirects need to be submitted **AT LEAST** 2 weeks in advance.  Some redirects take significant amount of time and coordination to implement, so start the process as soon as you know you will need one.
- This issue will be used from initial request through implementation of the redirect to ensure all individuals working on this are notified of status updates.  Plea

[2020-03-17 15:14] meganhkelley commented on #6925
Hi @marriej ! I can schedule this for 30 minutes on 3/26 from 1:30 - 2 pm ET, or on 3/31 between 11 - 12 pm ET. Which would y'all prefer?

[2020-03-17 15:22] billfienberg commented on #6200
@Kimberley2019, here is a PR to update folder names from `call-center` to `contact-center`:
https://github.com/department-of-veterans-affairs/va.gov-team/pull/6929

[2020-03-17 15:23] jbalboni opened #6930 "Verify that we handle session expiration gracefully"
Sentry error: http://sentry.vfs.va.gov/vets-gov/website-production/issues/101630/events/5979328/

It looks like the above user left their browser open for several hours and then came back to VAOS. They should have been redirected, but they weren't, and they ended up getting some 401 errors in the new appointment flow.

I'm not sure about what the UI does in this circumstance. It should probably re

[2020-03-17 15:30] karlbrown-va commented on #6928
Is this the ticket just to create the redirects? And do we need to have another ticket to create the performance-dashboard URL?

[2020-03-17 15:36] RLHecht commented on #6904
Moving this page to validate and will close when live on the site.

[2020-03-17 15:38] jenstrickland commented on #6371
- It appears this is an issue in the template, specifically the way the horizontal rule is implemented.

- The line is created by an empty `<h3>` with CSS to add a gray border-bottom.

- Screenshots showing the issues included in this comment.

Maybe this could be changed to add a border-bottom to the `<h2>` or a border-top to the top of the `<ul>`, so that accessibility issues are avoided.

![Scr

[2020-03-17 15:40] keithdadkins opened #6931 "centralized VBMS eFolder service library"
## Product Outline

[burial claim structured-data workflow](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/structured-data)

## High Level User Story

As developers, we need a centralized library for interacting with the VBMS eFolder SOAP service. Currently, multiple teams use the connect_vbms gem for this interaction and are duplicating code and/or tightly coup

[2020-03-17 15:49] marriej commented on #6925
Hi @meganhkelley the 3/26 date please.

[2020-03-17 15:52] keithdadkins commented on #5509
Created a similar epic to track my work. Closing this one.

[2020-03-17 15:52] #5509 closed

[2020-03-17 15:56] keithdadkins commented on #6931
PR for library https://github.com/department-of-veterans-affairs/vets-api/pull/4030

[2020-03-17 15:56] jenstrickland opened #6932 "Accessibility Feedback for Project Kickoff Debt Letters MVP"
**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

**VSA Accessibility Feedback**
- What format are the letters expected to take? Letters **❗️ MUST** be 508 compliant
    - Ideally, these would be HTML/CSS — to be accessible.
    - If PDF/docx is required, they must be accessible.

[2020-03-17 15:57] kennedycollins opened #6933 "[Drupal] Update footer link for VA Scorecard to Performance Dashboard"
## Request

### Background
*Provide a background of your tool/functionality.*
The ThoughtWorks team was asked to rebuild and refresh the VA.gov scorecard, which has been orphaned for ~18 months. As part of that work, we came to the understanding that "scorecard" wasn't the best name for what we were building, and so we will instead be calling it the VA.gov "Performance Dashboard". Ultimately, we i

[2020-03-17 16:03] meganhkelley commented on #6925
Scheduled for 3/26 @ 1:30 pm ET

[2020-03-17 16:15] nedierecel commented on #6400
Hi @mmiddaugh Confirming I see this. I suspect it might have to do with how Google Analytics is handling the history changes but want to confirm.

[2020-03-17 16:22] rtwell commented on #5762
dropping some questions here:

1. In the first acceptance criteria, we say "Veteran registered at both Cerner and non-cerner sites can still see appointments on VA Appointments homepage". Does that mean they can see both Cerner AND VA appts? I assume no (they can only view VA appts), but would like to clarify.
2. Do we have any thoughts on slightly different treatments for users that are **only**

[2020-03-17 16:27] omgitsbillryan opened #6934 "Rspec Performance Audit & Fix"
## The Problem
Our CI takes a long time, specifically, our specs take approximately 10 minutes to complete.

## More Context
None.

## Work to be Done
- [x] Audit our existing spec runs to find long runners
- [ ] Fix biggest offender(s)

[2020-03-17 16:37] jbritt1 commented on #5120
@short000 I have a PR open to add your AWS IAM access. Once that is resolved, I will contact you on Slack with first time login credentials.

[2020-03-17 16:38] MickinSahni commented on #6260
@jenniferlee-dsva

This refers to a page on the legacy site it seems: https://www.va.gov/health/rights/patientrights.asp

What're the rules of engagement for updates/fixes?

[2020-03-17 16:45] #5120 closed

[2020-03-17 16:47] jonwehausen commented on #5895
Hi @Samara-Strauss and @mshea0606,

Please use this link as a dashboard template for the validation launch: https://analytics.google.com/analytics/web/template?uid=s9Jd2GS8QhGbM6tsEsh-jw. You can set the view to be 'All VA.gov Website Data [Production]'

**Let us know if this satisfies your needs here! Please note -- due to ingestion lead time with GA it may not be until tomorrow morning or so you

[2020-03-17 16:48] jbritt1 commented on #5120
First time AWS console login credentials passed via Slack DM.

[2020-03-17 16:53] darkbushido commented on #6773
Generated a csv after running the sync jobs
[VaFacilities::CsvSerializer](https://github.com/department-of-veterans-affairs/vets-api/blob/master/modules/va_facilities/lib/va_facilities/csv_serializer.rb)

[code]

[2020-03-17 16:53] #6773 closed

[2020-03-17 16:56] #6831 closed

[2020-03-17 16:57] #6832 closed

[2020-03-17 16:57] MickinSahni commented on #6753
Reference

![image.png](https://images.zenhubusercontent.com/5e4d73c84ff78270a88d2ae8/b7d67525-b344-4223-8ecb-c2e551aff5e3)
![image.png](https://images.zenhubusercontent.com/5e4d73c84ff78270a88d2ae8/f7f2d543-335b-42d5-9792-f6c9d8caa41f)

[2020-03-17 16:59] MickinSahni commented on #6753
@ncksllvn can you double check that the acceptance criteria is accurate? i'll close out #6754 then

[2020-03-17 17:09] ncksllvn commented on #6753
@MickinSahni I updated the ticket title/description to align with our current approach. Feel free to close #6754

[2020-03-17 17:13] ncksllvn commented on #6752
Yes it is! I just left the messaging alone.

However, in the `Service down soon (notice foot note)` state, I changed the text of the foot note to explain the tool won't be available for much longer. Previously, it was showing a yellow warning banner, which would look weird with a warning banner plus the CTA widget below it (since the tool is still technical available, just not for long.) For the t

[2020-03-17 17:14] tskinn commented on #6863
@jenstrickland You should have access now. Reach out in slack if you have any issues.

[2020-03-17 17:17] lenaecb commented on #6460
I am moving this to our 'Epics' column and providing the following update on next steps.

Per meeting with Chris J and Kevin H, it's been determined that VAOS will be absorbed into the existing VA.gov ATO and no 'new' ATO we be needed specifically for VAOS.

We are taking the next following steps to ensure full and proper ATO accountability for new VAOS-R on VA.gov:

1. We will be updating the cur

[2020-03-17 17:18] #6498 closed

[2020-03-17 17:21] LindseySaari commented on #6520
[Mock reporting template here](https://docs.google.com/document/d/1Vx1GQsm1n0ZgXOyaP6bO5kyBVI04nAwcpzZG6V_jQdM/edit?ts=5e6ffec8#)
Notes on how and what we would like to report are defined in the google document comments

[2020-03-17 17:30] jbalboni commented on #6716
I made these changes, then reverted them in vets-website. We're confusing a couple things:

1. The old VA mobile tool (https://veteran.mobile.va.gov/var/v4/)
2. The appointments page on MHV

We currently have a link to 1 in the footer of the app. However, past appointments are only available at 2.

[2020-03-17 17:34] #6123 closed

[2020-03-17 17:41] jbritt1 commented on #6084
Fresh review instance for change testing:

![image.png](https://images.zenhubusercontent.com/5d9b3f56add771000187d3a8/06e26609-b9f9-4a10-82aa-19c2ec09a7b7)

[2020-03-17 17:42] #4204 closed

[2020-03-17 17:44] 1Copenut commented on #6932
**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

**VSP Accessibility Feedback**

**❗️ Must** for if the feedback must be applied
- I second the VSA feedback about the letters must be compliant. It's easier to code a letter as valid HTML than to generate a compliant PDF.
- If we

[2020-03-17 17:48] Samara-Strauss commented on #5895
@jonwehausen it worked!!

<img width="1280" alt="Screen Shot 2020-03-17 at 1 38 47 PM" src="https://user-images.githubusercontent.com/34068740/76884893-cf23e880-6854-11ea-84cd-9eae6a006a1e.png">

Now that I can see it, I have some questions:

1. What are "Total Profile Transactions"?
2. What are "Total Profile Updates"?
3. Can we see the following as well on this board? I believe we track all of t

[2020-03-17 17:56] jbritt1 commented on #6084
https://github.com/department-of-veterans-affairs/vets-website/pull/11916

[2020-03-17 17:56] erikphansen commented on #6328
@tressaellen We have the following badges ready to go on the server:
- https://prod-va-gov-assets.s3-us-gov-west-1.amazonaws.com/img/vic-army-symbol.png
- https://prod-va-gov-assets.s3-us-gov-west-1.amazonaws.com/img/vic-usmc-emblem.png
- https://prod-va-gov-assets.s3-us-gov-west-1.amazonaws.com/img/vic-cg-emblem.png
- https://prod-va-gov-assets.s3-us-gov-west-1.amazonaws.com/img/vic-air-force-coa

[2020-03-17 17:58] jason-gcio opened #6935 "Project Kickoff for "View and update my representative/POA""
## Steps to complete Project Kickoff
- [x] Product Manager: create this issue and fill in feature name in the title and other bolded information appropriately
- [x] Link to this issue once created in #vfs-platform-support in Slack; tag @ Megan Kelley @ AndreaHewitt
- [x] Andrea and Megan will schedule meeting with VSP reviewers and **requesting team** attendees (as listed below)
- [x] VSP <> **req

[2020-03-17 18:08] hughes-dustin commented on #6852
branch: bah-6852
PR: https://github.com/department-of-veterans-affairs/gibct-data-service/pull/615

[2020-03-17 18:09] rebeccawalsh opened #6936 "[Design] Update MDT usability test materials (v2)"
## User Story or Problem Statement

Problem description: How might we create a usability test that allows Veterans/usability participants to give feedback on the application as they would actually use it?

## Goal
The goal is to create a usability test conversation guide that does not stop the participant between pages (per Shawna's feedback)

## Tasks
- [x] Rework the usability test conversation

[2020-03-17 18:27] joanneesteban commented on #6463
## Updates

- Sensitive repo has [Insights notes & recommendation](https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/blob/master/teams/vsp/teams/insights-analytics/domo-okr-demo.md)

- @amycesal do you have a follow up for

[2020-03-17 18:30] RLHecht opened #6937 "Change historic rates links to clone links on Veterans rates pages"
## User Story or Problem Statement
As a content team member, I need to change the links to historic disability compensation rates to PDFs so they are easier to manage going forward.

![Screen Shot 2020-03-17 at 2.27.31 PM.png](https://images.zenhubusercontent.com/5c9b7e302ac54336e2c327b8/88ea97b3-307d-4265-b3a1-e109cc4deb8b)Drupal page: prod.cms.va.gov/disability/compensation-rates/veteran-rates

[2020-03-17 18:43] nathanhruby commented on #6609
Added some more clarification in https://github.com/department-of-veterans-affairs/vsp-infra-template/blob/master/CONFIG_ME_FIRST.md

[2020-03-17 19:04] tressaellen commented on #6328
@erikphansen thank you!

[2020-03-17 19:05] #6714 closed

[2020-03-17 19:13] lenaecb commented on #6716
1. Update copy VA appointment landing page -- also need to update MHV link ( @jbalboni  is going to find the right link)

2. For modal -- Remove reference to past appointments copy inside of modal

[2020-03-17 19:15] kevinmirc commented on #5106
Hi @Jeff-Hayter, The VA should have received my paperwork at this point. Can we revisit granting me SOCKS access? Thank you!

[2020-03-17 19:16] omgitsbillryan commented on #6934
Using `rspec --profile` I found that `/spec/request/address_request_spec.rb` is quite a bit worse than most:

[code]

[2020-03-17 19:19] kevinmirc commented on #5106
Also, as an update: I will need AWS access in order to set credstash variables. AWS Access is not needed immediately, though.

[2020-03-17 19:21] ala-yna opened #6939 "IA Request [Caregivers]"
What this is: Work with VSP Information Architecture experts to finalize the IA of your product for VA.gov

When to use this: After completion of usability/protyping, prior to moving to development

## Required Inputs:
- [Link to product outline](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/caregiver/product-outline.md)
- [Link to or attach prototype or

[2020-03-17 19:23] nathanhruby commented on #5106
You can chat with folks in #vsp-operations in slack to help you get values into credstash

[2020-03-17 19:30] kevinmirc commented on #5106
Thanks, @nathanhruby. I'll do that instead.

[2020-03-17 19:35] LinnJS opened #6940 "Refactor and Add Test Coverage for PreSubmit Checkboxes"
# Technical Debt Ticket

## User Story
As I developer I would like to keep up with Technical Debt and general house cleaning of my teams application. I needed to get my last PR merged do to its ever growing size.

## Acceptance Criteria
- [ ] Refactor PreSubmit SignatureBoxes to use useCallback so we can remove ESLint Ignore Line
- [ ] Add Unit Test coverage for PreSubmit SignatureBoxes

[2020-03-17 19:36] lunascoop commented on #6902
@AnneHurley Validated that redirects have been reverted. Closing ticket. Thanks @kelsonic

[2020-03-17 19:36] #6902 closed

[2020-03-17 19:59] ccruzgra commented on #6878
Comps are here: https://bahdigital.invisionapp.com/share/6WIAD9KND4X

[2020-03-17 20:03] marriej commented on #6536
https://github.com/department-of-veterans-affairs/devops/blob/master/loadtest/README.md

[2020-03-17 20:07] mmiddaugh opened #6941 "VISN in Facility Locator"
## User Story
As a Veteran, I want to see VISN specific options in Facility Locator so that I am aware of services that are offered.

## Goal
VISN specific services can be displayed.
Particular use case: availability of online chat triage in VISN 8 and VISN 20
This is not intended as veteran facing filter at this time.

## Objectives or Key Results this is meant to further
OBJECTIVE 2: Deliver mea

[2020-03-17 20:09] marriej opened #6942 "[SSO Launch] AXE Test of the SSOe comms modal"
Details per VSP Accessibility team can be found [in Test Rail](https://dsvavsp.testrail.io/index.php?/suites/view/14&group_by=cases:section_id&group_order=asc) in sections:

- Automated testing
- Additional automated tests

[2020-03-17 20:10] #6793 closed

[2020-03-17 20:12] alexpappasoddball commented on #3902
@ricetj Removing BE Tools label for now.  Let us know if there is something you need our help with.

[2020-03-17 20:16] peggygannon commented on #6716
Hello, @lenaecb @jbalboni per our sync today, here are revisions to this content.

1. Upcoming appointments landing page

To view past appointments you've made, [go to My HealtheVet](link TK from jeff).

2. Reverted copy for  Modal
**Welcome to the new VA.gov online scheduling tool**

The VA appointments tool has been redesigned based on feedback from Veterans like you. You can now view, schedule,

[2020-03-17 20:31] billfienberg commented on #6200
I attached the file in [Slack](https://dsva.slack.com/archives/CL181NRJQ/p1584476961100700?thread_ts=1584454764.094100&cid=CL181NRJQ), but I'll post it here, too. After merging the PR to update the folder names from `call-center` to `contact-center`, here are the links that are still using `call-center`.

___

[platform/README.md](https://github.com/department-of-veterans-affairs/va.gov-team/tree/

[2020-03-17 20:34] mnorthuis opened #6943 "IA Request - COVID-19 FAQ Page"
What this is: Work with VSP Information Architecture experts to finalize the IA of your product for VA.gov

When to use this: After completion of usability/protyping, prior to moving to development

## Required Inputs:
- Link to product outline ([template](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/product-management/product-outline-template.md))
- Link to o

[2020-03-17 20:35] mnorthuis commented on #6943
Recommendations sent to team for review
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/information-architecture/ia-reviews/depo-covid-faq.md

[2020-03-17 20:38] mnorthuis commented on #4975
Waiting to get final direction on this from SMEs and Jen.

[2020-03-17 20:38] peggygannon commented on #6289
@lenaecb @rtwell Here's content recommendation for this alert:

@jbalboni Please let me know if this will work? I'm not sure how much VAMC contact information we are able surface/provide to the user, so I might need to tweak that part a bit.

**We’ve run into a problem when trying to find available appointment times**
 To schedule this appointment, you can [submit a request for a VA appointment](U

[2020-03-17 20:47] johnpaulashenfelter commented on #1617
Closing in favor of upgrading our self-hosted sentry to v10

[2020-03-17 20:47] #1617 closed

[2020-03-17 20:48] johnpaulashenfelter commented on #3131
Closing since we now have review instances

[2020-03-17 20:48] #3131 closed

[2020-03-17 20:49] johnpaulashenfelter commented on #3699
Done during vets.gov-team => va.gov-team migration

[2020-03-17 20:49] #3699 closed

[2020-03-17 20:51] johnpaulashenfelter commented on #4242
This is now part of our platform docs

https://github.com/department-of-veterans-affairs/va.gov-team/pull/3652

[2020-03-17 20:51] #4242 closed

[2020-03-17 20:51] MickinSahni commented on #6800
thanks, laura. removing from sprint and estimate

[2020-03-17 20:53] annaswims commented on #1763
It's not a duplicate of #5997, but it is complete.  Closing.

[2020-03-17 20:53] #1763 closed

[2020-03-17 20:56] MickinSahni commented on #6754
Closing as dupe of #6753. Removing from sprint/estimate

[2020-03-17 20:56] #6754 closed

[2020-03-17 21:01] ccruzgra opened #6944 "CF: Update prototype based on content refinements"

[2020-03-17 21:15] MickinSahni commented on #6900
👋 @tzelei anything you need from us on this or will this be used to track your work?
If there's nothing for a Public Websites person to do, I'd like to remove it from the sprint and remove the estimate.

[2020-03-17 21:17] MickinSahni commented on #6825
Hey @jenstrickland, is this the extent of the feedback for the Design Intent collaboration?
If so, I'd like to groom it with the team and create any additional tickets to track knocking this out.

[2020-03-17 21:19] #6645 closed

[2020-03-17 21:56] jenstrickland commented on #6825
@MickinSahni This is the extent of the accessibility feedback for the design intent collaboration, given the project timeline. There would normally be additional tickets with feedback for the other practice areas, but they had none and used a comment.

[2020-03-17 22:05] mmiddaugh commented on #5081
Removing the User research block. @arickalewis1 included the following [recommendations](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/facilities/facility-locator/research/user-research/FL-Search-march2020/research-findings.md) related to this issue:

[2020-03-17 22:07] kfrz commented on #6520
sum by (endpoint) (rate(api_external_http_request_duration_seconds_sum{service="EVSS/Letters"}[1h])) / sum by (endpoint) (rate(api_external_http_request_duration_seconds_count{service="EVSS/Letters"}[1h]))

This will give us an average latency for haproxy requests over time but we cannot aggregate to determine number of requests < a given percentile.

However, if we want to calculate the percentag

[2020-03-17 22:09] bridgethapner opened #6945 "[Accessibility] Review stand alone login page for screen reader usability"
Talked to VSP accessibility team today and learned there are opportunities to improve the standalone login page re how it will work with screen readers.

- [ ] Schedule meeting with VSP accessibility team/async wireframe review (met 3/17)

Jennifer is the Accessibility Specialist working on this.
- [ ] document recommendations for the SSO page
- [ ] share with Trevor to review

Link to stand-alone

[2020-03-17 22:26] peggygannon commented on #6695
Hi, @chrvalla here are additional content recommendations, based on our call yesterday 3/17. I've also added them to the update mockup

1. on the static File a disability claim page, update the CTA button to say:
File a Benefits Delivery at Discharge claim

Update alert to say:
**You may be eligible to file a Benefits Delivery at Discharge claim**
Based on your answers, you may be eligible to file

[2020-03-17 22:46] peggygannon opened #6946 "Content edit: COVID-19 public health page and media page"
## User story

As a Veteran, I want to know how VA is responding to coronavirus and get answers to my questions.
As a member of the media, I want to how about VA cases and how VA is tracking and communicating them.

Page in question
Peggy to provide content support and review for this page that is being redesigned:

https://www.publichealth.va.gov/n-coronavirus/?utm_source=Homepage&utm_campaign=Co

[2020-03-17 23:13] tskinn commented on #6616
I think I'd like to take a stab at this if you haven't already @nathanhruby

[2020-03-17 23:16] bridgethapner commented on #5828
@hinzed1127 Hi there Dan - this modal uses the **Informational / Plain Text modal** from the design library.

Desktop wireframe is [here](https://adhoc.invisionapp.com/share/DYVMI5OXEQN#/screens/407512637); mobile wireframe is [here](https://adhoc.invisionapp.com/share/5QWAJJQNG2J#/screens/408300890). The link to "frequently asked questions about signing in" is https://www.va.gov/sign-in-faq/.

[2020-03-17 23:32] tlei123 commented on #6900
@MickinSahni, yes please...  Can someone (PM or Designer) populate the **Proposed scenarios** list.

I've also remove the team label & estimates -- I need this to track my work and also conversations with SMEs.

Thanks much!

[2020-03-17 23:40] jason-gcio opened #6947 "Adjust Logic for the 686 Wizard"
## Goal
To get the wizard to function appropriately, we need to use the boolean values from the wizard to show or hide the correct workflows.

## Considerations
- All are currently set to `false`, after checking, they become `true` and that needs to trigger the component to show itself to the user.
- Doing this before other work/ testing might help in the long run

## Tasks
- [ ] Each of the workf

[2020-03-17 23:45] clantosswett commented on #6465
Created the attached updated data fields document and sent over to VEO Call Center for review.
[SF-CRM-Tracking-Fields.xlsx](https://github.com/department-of-veterans-affairs/va.gov-team/files/4346267/SF-CRM-Tracking-Fields.xlsx)

[2020-03-17 23:47] bridgethapner commented on #6819
First pass at SSO FAQ:

[Signing in to VA.gov section]

### What is single sign on?
In April 2020, VA.gov introduced single sign on (SSO). Now when you sign into VA.gov we'll also sign you into MyHealtheVet, eBenefits, and other VA sites. This means you will not have to sign in again when navigating to another VA site once you have signed in here on VA.gov.

**With a single sign on, you can:**
-

[2020-03-17 23:59] ericbuckley commented on #6528
The changes made in the vets-api to support SSOe authentication (v1) have duplicated the same metrics being gathered in the current ID.me implementation (v0).  When an authentication request starts, the controller emits an [api.auth.new stat](https://github.com/department-of-veterans-affairs/vets-api/blob/master/app/controllers/v1/sessions_controller.rb#L27-L28) and upon completion it emits an [su

[2020-03-18 00:21] clantosswett opened #6948 "Develop Training Material for Burial and Pension Applications"
## User Story or Problem Statement

How might we develop training materials on VA.gov burial and pension applications that will prepare VEO call center agents to handle these technical issues?

## Goal

Training content that can be used to prepare VEO call center agents to handle VA.gov technical issues related to burial and pension applications.

## Objectives or Key Results this is meant to furt

[2020-03-18 00:22] clantosswett commented on #6948
I was able to complete 2 of the 3 product guides. We still need to do the pre-need burial product guide.

[Pension.Application.Product.guide.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/4346350/Pension.Application.Product.guide.docx)
[Pre-need.Burial.Application.Product.guide.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/4346351/Pre-need.Bur

[2020-03-18 00:24] tlei123 opened #6949 "[QA] Benefits Delivery at Discharge (BDD) Test Plan"
## Product/Feature summary

\[Provide brief summary of product/feature to be tested on Staging by VSA-QA. Also, be sure to include links to the Product/Feature Outline, Epic, and Pre-Launch Checklist.]

Product/Feature Outline: [GitHub doc](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/disability/disability-compensation-claim/bdd)

Product/Feature Epics:
- Supe

[2020-03-18 00:37] tlei123 commented on #6949
[TestRail Test Plan](https://dsvavsp.testrail.io/index.php?/plans/view/214) started.

[2020-03-18 01:13] jhonnyoddball commented on #6766
A [Github alert log](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/engineering/frontend/github-alerts-log.md) was created to keep track of these alerts

[2020-03-18 01:42] joanneesteban commented on #2064
## Strategic Results

Via @jonwehausen : Updating this implementation gives us a more comprehensive view on how veterans are engaging with various product areas. This sprint - we validated Google Tag Manager to accurately reflect the most up-to-date URLs on the platform leveraging  product directory documentation. In the future (like in the VBA example we saw) when someone comes to us with the que

[2020-03-18 04:54] careyotto commented on #2586
Adding to @Samara-Strauss and @sshein's already great feedback:

- If we're changing the section name from "connected accounts" to "connected apps," as previously discussed, this and convo guide will need to be updated to reflect.
- Agree with @sshein about starting flow from VA homepage and starting with connected account task

- For **Warm-up Questions**, would be interested in asking:
  *  What

[2020-03-18 05:58] #6774 closed

[2020-03-18 11:40] #5718 closed

[2020-03-18 11:42] lunascoop commented on #6652
We can close it since we won't be redirecting this page.

[2020-03-18 11:42] #6652 closed

[2020-03-18 11:59] jonwehausen commented on #5895
Hi @Samara-Strauss and @mshea0606,

Please see this [updated dashboard template](https://analytics.google.com/analytics/web/template?uid=2xuc53y7Sw6Mat1b0JoMHw) encompassing the items you called out above. I've modified many of the labels too to give better clarity to the metrics.

**A couple notes on items you'll see:**
- "Total Address Update Attempts - Home and Mailing - Including Errors" inclu

[2020-03-18 12:28] #6863 closed

[2020-03-18 12:34] Kimberley2019 commented on #6200
@billfienberg I did send you a slack message moments ago, but wanted to paste here as well.  Some of the links that I have reviewed appear to have broken links.

[2020-03-18 12:38] ricetj opened #6950 "Implement better tagging and tracking in IAM"
## User Story or Problem Statement
As a _____, I need _____ so I can _____.

or

Problem description. How might we _____________ ?

## Goal
_What outcome(s) do we want to see?_

## Objectives or Key Results this is meant to further
- _Include references to KPIs we intend to impact_
---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will

[2020-03-18 12:40] ricetj commented on #6457
End of Sprint

[2020-03-18 12:40] #6457 closed

[2020-03-18 12:50] ricetj opened #6951 "Sprint 22 objectives and work."
## Sprint 22 Objectives:
Objective [doc](https://docs.google.com/document/d/1odvfKPyoV4058T-P5AVc7H15pKsEqnXw3viIlzbWqQE/edit#)

## Work to do this sprint
Below is the work we are trying to accomplish this sprint and who we thought would do the work:

- Incident response doc updates: Wyatt and team reviewing
- review instance clean up work: Taylor
- Continue on the new Infrastructure work: Nathan

[2020-03-18 12:56] #6878 closed

[2020-03-18 13:28] kevinstachura commented on #1724
Per @SMLuthi - "For a “condition” to be valid, it requires a condition and cause"

So we will need to prevent users from submitting blank conditions via the 526 form with validation checks. Next step is to create a ticket for this for design and FE dev.

[2020-03-18 13:28] #1724 closed

[2020-03-18 13:36] kevinstachura opened #6953 "[526] Prevent users from adding blank conditions to the 526 application"
## User Story or Problem Statement
As a FE dev, I need to implement validation where a user is prevented from entering a blank condition to the 526 form.

![Screen Shot 2020-03-16 at 1.57.25 PM (1).png](https://images.zenhubusercontent.com/5d65638e0845ad5f24bada4a/f372a54e-8b4b-4379-93a6-ca52a7aeff28)

## Tasks
- [ ] Implement validation

## Acceptance Criteria
- [ ] validation implemented

[2020-03-18 13:38] kevwalsh commented on #1874
@mmiddaugh @MickinSahni @jenniferlee-dsva

 I don't know what the timeline is for this epic, but if it's going to be awhile:

Can the new left nav be rolled back from dev and staging (eg master?) and moved to a review environment? It occasionally messes up our automated tests and manual QA for CMS tasks. For example, the fact that some pages no longer have left sidebars at all (Events, News releas

[2020-03-18 13:47] dmccurdybah commented on #6834
PR: https://github.com/department-of-veterans-affairs/gibct-data-service/pull/616

[2020-03-18 13:48] meganhkelley commented on #6700
Scheduled for 3/19 @ 1:30 pm ET

[2020-03-18 13:50] meganhkelley commented on #6710
Meeting completed 3/12

[2020-03-18 13:58] joanneesteban opened #6954 "Develop Training Materials for Benefits Hub"
## User Story or Problem Statement

How might we develop training materials on the VA.gov benefits hub application that will prepare VEO call center agents to handle these technical issues?

## Goal

Training content that can be used to prepare VEO call center agents to handle VA.gov technical issues related to benefits applications.

## Objectives or Key Results this is meant to further

## Accep

[2020-03-18 14:02] meganhkelley commented on #6935
Scheduled for 3/24 @ 11:30 am ET

[2020-03-18 14:03] meganhkelley commented on #6935
@jason-gcio let me know if that scheduling delay is blocking to y'all — since it is a kickoff that we will record, we could do this later this week even though most folks wouldn't be able to make it.

[2020-03-18 14:15] ncksllvn commented on #4964
Closing - we added a feature flag for this in https://github.com/department-of-veterans-affairs/va.gov-team/issues/6824

[2020-03-18 14:15] #4964 closed

[2020-03-18 14:16] ncksllvn commented on #6099
This issue wasn't contained to just the preview server - it would have been an actual issue on the website, but we never tried publishing because we couldn't preview it in the first place.

Per @RLHecht, this is fixed!

https://dsva.slack.com/archives/C52CL1PKQ/p1584456871296300?thread_ts=1584454302.294500&cid=C52CL1PKQ

[2020-03-18 14:16] #6099 closed

[2020-03-18 14:52] meganhkelley commented on #6751
Scheduled for 3/19

[2020-03-18 14:57] MickinSahni opened #6955 "Develop Outreach and Events Info Alert"
## User Story or Problem Statement
Given VA events are likely to be impacted by the current crisis, I want to know whether certain events are continuing, canceled, rescheduled, or otherwise impacted so that I can plan accordingly.

Relevant page: https://www.va.gov/outreach-and-events/events/

## Tasks
- [x] Generate content for an info alert
- [ ] Provide heads-up to OPIA before publishing
- [ ]

[2020-03-18 14:58] MickinSahni commented on #6955
Adding this as unplanned to Sprint 17

[2020-03-18 15:01] omgitsbillryan commented on #3407
The lint still takes 1m30s (as opposed to 1m40s). The `parallel` flag helps with optimizing our lint stage, but really isn't the spirit of what this ticket is poking at.

I have a few WiP PR's open that attempt to only lint changed files.
- https://github.com/department-of-veterans-affairs/vets-api/pull/4036
- https://github.com/department-of-veterans-affairs/va.gov-devops-jenkins-lib/pull/14

[2020-03-18 15:03] lenaecb commented on #5762
Some Q&A for this specific Cerner/Columbus story:

- **Will My VA Health portal show upcoming appointments previously scheduled at a now Cerner-enabled site**? -
  - Lauren: Unlikely

**- Should VAOS show upcoming Columbus appointments data on VAOS “Appointments” page?**
   - Lauren: Yes, but do not let Veterans cancel.
   - Yes - show alert on “Appointments” homepage about Columbus
   - Hide the

[2020-03-18 15:05] joanneesteban opened #6957 "Gather help desk questions for Contact Center agents"
## User Story or Problem Statement
As a VFS apps team, I need to better understand veteran issues with my website so I can research & resolve the issues more efficiently.

## Goal
Gather VFS team technical questions and disseminate to VEO Call Center.

## Acceptance Criteria
- [ ] Gather questions from VFS teams
    - [x] 8 VSA teams
    - [x] VAOS
    - [ ] Education
    - [x] SSO/Login
- [x] Con

[2020-03-18 15:08] AnneHurley commented on #6955
Note: Dave Conlon: Josh Tuscher is the main POC for Events.

[2020-03-18 15:16] joanneesteban opened #6958 "Update desk-reference template for Contact Centers"
## User Story or Problem Statement
How might we update the desk-references for contact center agents so that they are able to best help veteran reported issues?

## Goal
Update current desk-references

## Acceptance Criteria
- [ ] Update desk-references
- [ ] Add in any relevant VFS application questions
- [ ] Send updated desk-reference to WHH
---
## How to configure this issue
- [ ] **Attached t

[2020-03-18 15:18] #6314 closed

[2020-03-18 15:18] lenaecb commented on #5992
@narin - We good to close this?

[2020-03-18 15:19] joanneesteban opened #6959 "Create Process for WHH Training Guide Self-Service"
## User Story or Problem Statement
How might we make WHH training guides self-service for VFS teams?

## Goal
Create documentation and guidelines for VFS self-service for WHH product guides.

## Acceptance Criteria
- [x] Create documentation in GH
- [x] Potentially add in visualization??
- [ ] Communicate with Collab Cycle
- [x] Communicate with VFS teams
---
## How to configure this issue
- [ ] *

[2020-03-18 15:19] lenaecb commented on #6241
@jbalboni - are we good to close this?

[2020-03-18 15:19] lenaecb commented on #6713
@jenniemc - are we good to close this?

[2020-03-18 15:20] lenaecb commented on #6808
@narin - are we good to close this?

[2020-03-18 15:20] #4754 closed

[2020-03-18 15:21] #5052 closed

[2020-03-18 15:22] #5526 closed

[2020-03-18 15:22] 1Copenut commented on #5992
@lenaecb I'll review this one and #6241 in staging quick with NVDA/JAWS and close them out.

[2020-03-18 15:23] jbalboni commented on #6927
@lenaecb I don't think this should be closed, there's an open PR for it.

[2020-03-18 15:24] jbalboni commented on #6241
@lenaecb Not yet, still trying to the PR for this merged.

[2020-03-18 15:24] joanneesteban commented on #5320
@joanneesteban follow up with Jon C

[2020-03-18 15:25] Samara-Strauss commented on #5895
I'm sorry, I'm not trying to be dense, but I still don't quite understand the difference here. Is it that one is just how many people clicked "Update" on the address form regardless without address validation popping up, and the other includes totals for all save attempts whether or not address validation popped up?

Got it. I don't see this yet — is it safe to assume the dashboard just hasn't upd

[2020-03-18 15:25] #5979 closed

[2020-03-18 15:27] #6627 closed

[2020-03-18 15:28] lenaecb opened #6961 "Analytics dashboard & reporting - VAOS-R"
## Problem Statement
VAOS-R is just now coming online, however, we need to create view and reporting structure for getting usage metrics out to stakeholders. Right now, legacy VAOS provide usage stats weekly and monthly for OCC (Office of Connect Care) and VAOS Suite Program Manager.

We want to also use these analytics to help us learn about how well users are able to complete their scheduling ta

[2020-03-18 15:34] billfienberg commented on #6200
PR to fix broken links: https://github.com/department-of-veterans-affairs/va.gov-team/pull/6956

[2020-03-18 15:35] MickinSahni commented on #6371
2020-03-18 PW Standup
* Pulling out of sprint so we can groom the front-end changes required to resolve the empty header

[2020-03-18 15:35] jason-gcio opened #6962 "Refine Mockups for "View Payments""
## Goal
After receiving feedback from others (and possibly after Design Intent Review), we want to refine our mockups to reflect a closer approximation to a final version that can be built by engineers.

## Considerations
- Intro/landing page should be useful in transition
- Include mobile versions, considering tables (should this be a separate ticket?)

## Tasks
- Address content and layout
  - C

[2020-03-18 15:35] MickinSahni commented on #6904
2020-03-18 PW Standup
* Just need to validate before closing

[2020-03-18 15:37] joanneesteban opened #6963 "Update Insights Documentation"
## User Story or Problem Statement
How might we update our documentation to alleviate single points of failure & personnel training ?

## Goal
Determine which documentation pieces need to be added & updated. Update and add as necessary.

---
## Tasks/Issues
_What work is necessary for this story to be completed?_
- [ ] Service Design interviews Nedie
- [ ] Update current VFS-facing GA/GTM GH Docum

[2020-03-18 15:38] MickinSahni commented on #5608
2020-03-18 PW Standup
* PR merged and need to validate

[2020-03-18 15:38] jbalboni opened #6964 "Switch to using system list from profile"
We can switch to using the system list in the profile, instead of the vaos systems endpoint. This will save us an api call and also give us access to the `isCerner` flag for each system.

[2020-03-18 15:38] #6084 closed

[2020-03-18 15:39] RLHecht commented on #6904
This is live on the site but in search results it's still showing 2019 info. @MickinSahni do you know who to ask to update this?![Screen Shot 2020-03-18 at 11.38.46 AM.png](https://images.zenhubusercontent.com/5c9b7e302ac54336e2c327b8/6ad7001d-be15-4368-86cc-fe6ad64cb4bd)

[2020-03-18 15:39] MickinSahni commented on #6668
2020-03-18 PW Standup
* Yesterday: have YR data in dev now
* Today+: update design

[2020-03-18 15:39] jbalboni commented on #6964
This is somewhat dependent on this PR getting merged: https://github.com/department-of-veterans-affairs/vets-api/pull/4021

If we merge before that PR, then we need to filter out some incorrect entries in the facility array.

[2020-03-18 15:41] MickinSahni commented on #6753
2020-03-18 PW Standup
* Peggy to take a look and see if content of combined widgets is appropriate
* Have an open PR meanwhile that'll expose the combined widget for Drupal to consume

[2020-03-18 15:41] jason-gcio opened #6965 "Refine Mockups for 686"
## Goal
There are a lot of moving parts in the 686 and one of the most important is content.  There are many places that have been suggested for "helper" text to be slotted in to help with form instruction and context.  These need to be added to the mockup so that FE can be notified to make adjustments

## Considerations
- Per ticket #6830, there might need to be some unification on button and bre

[2020-03-18 15:42] lenaecb opened #6966 "Feature flag Community Care and turn off for all users"
As a CC provider I am minimizing the F2F appointments I have with patients during the current COVID-19 pandemic so Veterans should not be able to request CC appointments with me.

## Acceptance Criteria:
- User cannot make community care requests for any care type
- Existing community care functionality will be placed behind feature toggle
- Community Care-only care types cannot be viewed in 'Choo

[2020-03-18 15:42] erikphansen commented on #6090
@mshea0606 The work for this was merged. You can see the new alert on the profile using user 33

[2020-03-18 15:43] erikphansen commented on #6328
closing as I think I found what we need for this.

[2020-03-18 15:43] #6328 closed

[2020-03-18 15:44] MickinSahni commented on #6273
2020-03-18 PW Standup
* Pulling out of sprint so we can groom

[2020-03-18 15:45] erikphansen commented on #5817
Merged!! I will monitor analytics again to make sure the PR to remove the feature flag and blow away the old forms entirely didn't somehow break things and then close this out tomorrow

[2020-03-18 15:45] MickinSahni commented on #6918
Hey Tze, gonna remove points for this one as well.

[2020-03-18 15:45] hughes-dustin commented on #6852
prod flags:

[2020-03-18 15:46] joanneesteban commented on #6959
Oh! Did SSO create their product guide themselves, @clantosswett ?https://dsva.slack.com/archives/CNCEXNXK4/p1584542665002200

[2020-03-18 15:46] MickinSahni commented on #6473
2020-03-18 PW Standup
* Now that page is in prod, we can include in typical CI process to make sure it's looked at each time

[2020-03-18 15:46] jbalboni commented on #4946
@peggygannon The "We can't process your appointment request" language is a little odd to me, since we're not trying to create or process anything yet. We just can't proceed any further in the flow for this type of care and facility.

[2020-03-18 15:47] MickinSahni commented on #6798
2020-03-18 PW Standup
* Randi's checking off pages as they're moved into Drupal

[2020-03-18 15:48] MickinSahni commented on #6799
2020-03-18 PW Standup
* Laura working on copy for this page
* Will share copy deck with Mikki
* Note: ultimately this will head to Randi to build out the page in Drupal

[2020-03-18 15:48] jason-gcio opened #6967 "Write Unit Test for API Endpoint: `vnpProcCreate`"
## Goal
For each endpoint and/ or service we interact with, we need to conduct a unit test to get to at least 90% coverage in order for the PR to be merged.

## Tasks
- [  ] Review and implement a unit test to meet or exceed 90% coverage

## Acceptance Criteria
- [x] A unit test has been written that meets or exceeds 90% coverage

[2020-03-18 15:51] jbalboni commented on #6289
@peggygannon That would work, we can get any facility contact info we need, including a link to the facility page directly.

[2020-03-18 15:51] jason-gcio opened #6968 "Address Initial 686 Error Handling"
## Goal
At either each endpoint or group of endpoints, we will need error handling in place to better address errors gracefully as they occur.

## Considerations
- An error could be `temporary` or an error could be `fatal`.
- We need to retry calls and report if errors are `temporary` or persist data and report an error if it is `fatal`.
- We need to report all errors to Sentry and tag errors appr

[2020-03-18 15:54] lenaecb opened #6970 "Out-of-box dashboard & key data views in GA"
We need to be able to more quickly assess performance of current VAOS rollout efforts. Having both an out-of-box GA dashboard and key collection views will help us answer key rollout questions. In the future we'll use this as a baseline for a Product Health Report.

## Questions to answer with GA dashboard:
- How many users accessed the app?
- Usage: defined by "actions completed"
  - How many tot

[2020-03-18 15:54] MickinSahni commented on #6937
2020-03-18 PW Standup
* Moving out of sprint and into Ready for grooming

[2020-03-18 15:58] jason-gcio opened #6971 "Replicate EVSS Functionality"
_This ticket might become a mini-Epic to track these_
## Goal
There are several functions that EVSS is currently handling that may need to be recreated and rebuilt into BGS, like "PDF Creation and storage to eFolder."  These need to be triaged and scoped by the BE.

## Tasks
- Write a list of all external functions that EVSS currently provides to support the 686 submission process
  - For example,

[2020-03-18 16:01] MickinSahni commented on #5608
Validated switch to new endpoint
![image](https://user-images.githubusercontent.com/13204473/76980879-22a73c80-6910-11ea-8af9-010b71e06ac8.png)

[2020-03-18 16:01] #5608 closed

[2020-03-18 16:01] clantosswett opened #6972 "Analytics Implementation or QA Support for Covid-19 FAQ"
# Analytics Implementation or QA Request

## What this form is for
Use this template to request Google Tag Manager and Google Analytics implementation or QA for your product. Please fill out all brackets.

## Description
- Is this request for Google Analytics implementation or QA?
Google Analytics implementation

- Who is this request for?

    - @clantosswett @jenniferlee-dsva @lalexanderson-dsva

[2020-03-18 16:07] jenstrickland opened #6973 "Accessibility feedback for Campaign Landing template, design intent collaboration"
**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## VSA accessibility feedback

1. What are the next steps planned for this work? Possibility of usability testing?
2. **✔️ Consider** for mobile specs.
    a. How the banner graphic will be treated
    b. How the YouTube video and

[2020-03-18 16:11] narin commented on #5992
@lenaecb Need to make a tiny suggested change, get it passed through Jenkins, merge and validate on staging before we can close this.

[2020-03-18 16:12] narin commented on #6808
@lenaecb Need to make a tiny suggested change, get it passed through Jenkins, merge and validate on staging before we can close this.

[2020-03-18 16:23] mmiddaugh commented on #5555
Try to bring into same sprint as [#5620]

[2020-03-18 16:26] mnorthuis commented on #6939
@ala-yna Final IA is documented here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/information-architecture/ia-reviews/caregiver-10-10cg.md

Please take a look and let me know if you have any questions or concerns.

[2020-03-18 16:29] sonntag-adam commented on #6854
![Screen Shot 2020-03-18 at 12.07.59 PM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/0e35dbf1-183d-45bc-ade1-1ae537709e48)
##
![Screen Shot 2020-03-18 at 12.07.48 PM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/93004024-095e-424b-8632-8b0d049482ca)

[2020-03-18 16:30] AnneHurley commented on #3030
Blocked until facility locator is finished and we can use that functionality for find a cemetery.

[2020-03-18 16:37] mmiddaugh commented on #5128
Blocking for now: needs more understanding of Veteran Journey
Question: are there any overlapping services for these locations?

[2020-03-18 16:37] #6713 closed

[2020-03-18 16:39] jenniemc commented on #6713
@lenaecb, Just closed the ticket.

[2020-03-18 16:42] #6869 closed

[2020-03-18 16:44] #6867 closed

[2020-03-18 16:45] AnneHurley commented on #6955
Suggested alert text, modeled on the alert text on Blue Water Navy page:
https://www.va.gov/disability/eligibility/hazardous-materials-exposure/agent-orange/navy-coast-guard-ships-vietnam/

H: Coronavirus alert

Please check with the organizers of each event to make sure the event is still happening. For more information, you can visit the Centers for Disease Control (CDC) for the latest coronavir

[2020-03-18 16:46] peggygannon commented on #6249
Hi, @bridgethapner I have one clarifying question.

I thought we were moving to single sign on, and as such do we need a specific VA.gov sign in message?

Is this ticket meant to "unbrand" all of our sign in downtime notification messages?

[2020-03-18 16:48] lenaecb commented on #5849
Action Item - Someone within VAOS team (FE or BE) to help provide CAG access to review VAOS legacy.

[2020-03-18 16:53] Samara-Strauss opened #6974 "[Epic] COVID-19 My VA alert: Get alert about health chat onto the dashboard for patients in VISNs 8 and 23"
## Background

We need to show an alert that links patients to an existing VA health chat tool on the My VA dashboard. This alert should only show for patients with access to this tool, which is currently patients that go to hospitals in VISNs 8 and 23 (VISN = Veterans Integrated Service Network = essentially a group of VA hospitals).

## Tasks

- [x] FE: Investigate how we can determine which hos

[2020-03-18 16:55] mmiddaugh commented on #5999
fine in landscape, still present in portrait

[2020-03-18 17:00] Samara-Strauss opened #6975 "[FE] COVID-19 My VA alert: Investigate how we can determine which hospitals a VA.gov user goes to"
## Background

Epic #6974

We need to show an alert that links patients to an existing VA health chat tool on the My VA dashboard. This alert should only show for patients with access to this tool, which is currently patients that go to hospitals in VISNs 8 and 23 (VISN = Veterans Integrated Service Network = essentially a group of VA hospitals).

Currently, we are pretty sure there is a way to de

[2020-03-18 17:03] ccruzgra commented on #6944
Content was updated in existing prototype: https://bahdigital.invisionapp.com/share/N5IAD8MHTC9

@amyknox if the updates check out, this story can be closed.

[2020-03-18 17:04] ccruzgra commented on #6868
@amyknox Are the visual aids that we talked about for the prototype a part of this story?

[2020-03-18 17:06] delli-gatti-michael commented on #6852
Local Testing Passes

TestRail Test Case:
https://dsvavsp.testrail.io/index.php?/cases/view/377

[2020-03-18 17:06] ccruzgra commented on #6944
Once I get confirmation that the prototype updates are good to go, I will create a duplicate prototype if it's needed for external stakeholders.

[2020-03-18 17:10] ricetj commented on #5249
Done

[2020-03-18 17:10] #5249 closed

[2020-03-18 17:12] bridgethapner commented on #6249
That's a good question @peggygannon - I think we can keep this message focused on VA.gov somewhat and allude to other sites as we did with the modal. Maybe something like "We’re working to fix some problems with our sign in process, which is impacting VA.gov and also may be impacting some other VA sites. If you’d like to sign in to VA.gov, please check back later."

The other sites that are affect

[2020-03-18 17:12] joanneesteban commented on #6559
In the Miro vs. Mural debate: https://dsva.slack.com/archives/CJRQ85PQB/p1584475936280300

[2020-03-18 17:13] narin commented on #5992
Merged and validated in staging

[2020-03-18 17:13] #5992 closed

[2020-03-18 17:13] narin commented on #6808
Merged and validated in staging

[2020-03-18 17:13] #6808 closed

[2020-03-18 17:17] mmiddaugh commented on #5711
We learned that Veterans tend to search in new/unfamiliar areas using Facility Locator. Given this finding, we assume users will enter a city or zip, not a street address. Centering in that area will meet the user need so this is behaving as expected. Closing this issue.

[2020-03-18 17:17] #5711 closed

[2020-03-18 17:20] mmiddaugh commented on #2556
@kelsonic Does your warning from November only apply if this Left Nav had been rolled out globally or is it still relevant if the Left Nav is implemented for VAMC only?

[2020-03-18 17:24] #5548 closed

[2020-03-18 17:24] Samara-Strauss opened #6976 "[Design] COVID-19 My VA alert: Mock up alert for the dashboard"
## Background

Epic #6974

We need to show an alert that links patients to an existing VA health chat tool on the My VA dashboard. This alert should only show for patients with access to this tool, which is currently patients that go to hospitals in VISNs 8 and 23 (VISN = Veterans Integrated Service Network = essentially a group of VA hospitals).

## Alert specs

**Design**

- This alert should ap

[2020-03-18 17:25] #4680 closed

[2020-03-18 17:25] jbalboni commented on #6964
@lenaecb I'd like to try to do this ticket this sprint, if that's ok. It's preparation for the new Cerner messaging/offboarding.

[2020-03-18 17:30] erikphansen commented on #6975
We get a list of facilities a veteran is a patient at with our standard `GET user` call. The data is in `data.attributes.vaProfile.facilities`. This feature is fairly new but live in production

example:
[code]

Note that those last two facilities are not facilities and will be removed when [this PR](https://github.com/department-of-veterans-affairs/vets-api/pull/4021) is merged. It also won't aff

[2020-03-18 17:32] Samara-Strauss opened #6977 "[FE] COVID-19 My VA alert: Build alert for the dashboard"
## Background

Epic #6974

We need to show an alert that links patients to an existing VA health chat tool on the My VA dashboard. This alert should only show for patients with access to this tool, which is currently patients that go to hospitals in VISNs 8 and 23 (VISN = Veterans Integrated Service Network = essentially a group of VA hospitals).

## Design

TBD in #6976

## Specs

- (**Pending co

[2020-03-18 17:38] andreahewitt-odd opened #6978 "Orientation for new Business Analyst on VAMC (Khalea (Lea) Lester"
## Onboarding User Story
New Business Analyst on VAMC (Khalea (Lea) Lester going through orientation to work on the VSP, they need support to get up and running. This epic contains the tasks our team will perform to support them through their orientation stage.

## Goal
Get new Business Analyst on VAMC (Khalea (Lea) Lesterup and running in their workflow as quickly as possible._

## Issues to crea

[2020-03-18 17:40] andreahewitt-odd opened #6979 "Roll out keyboard user e2e test"
As an accessibility expert on VSP, I want all teams to know about how to use the new helpers in the keyboard e2e test suite.

[2020-03-18 17:41] dmccurdybah commented on #6848
PR: https://github.com/department-of-veterans-affairs/vets-website/pull/11930

Can be tested on vets-website branch `bah-caution-modal`

[2020-03-18 17:49] MickinSahni commented on #5648
2020-03-18 Grooming
* Doing prep work before assigning to a sprint

[2020-03-18 17:52] MickinSahni commented on #2052
2020-03-18
* Removing `needs-grooming` label as the work is clear. Need to prioritize against other commitments

[2020-03-18 17:53] MickinSahni commented on #2211
2020-03-18 PW Grooming
* Also groomed, but needs to be prioritized. Removing `needs-grooming` label

[2020-03-18 17:54] jbalboni commented on #6828
Some staging examples of this: http://sentry.vfs.va.gov/vets-gov/website-staging/issues/108864/?query=is%3Aunresolved

[2020-03-18 17:54] MickinSahni commented on #6371
2020-03-18 PW Grooming
* Assigning to nick/kelson to groom and determine a path forward
* randi's portion is complete however

[2020-03-18 17:55] MickinSahni commented on #6937
2020-03-18 PW Grooming
* Anne reaching out to get PDFs for Randi to implement
* Groomed - changing pages into PDFs (instead of links to legacy pages)
  * removing needs grooming label

[2020-03-18 17:56] sporeboy commented on #6007
![Add-Modify_Dependents_Thumbs_1.png](https://images.zenhubusercontent.com/5d6ec7967521390001c3e794/6140ae19-4c1f-4206-9d58-19e106421ee1)

[2020-03-18 17:57] lenaecb commented on #6964
Ok, sounds good @jbalboni

[2020-03-18 17:59] #6002 closed

[2020-03-18 17:59] MickinSahni commented on #5648
2020-03-18 PW Grooming
* Still requires dev grooming. Tagged Nick above

[2020-03-18 18:00] #6720 closed

[2020-03-18 18:08] delli-gatti-michael commented on #6803
PR:
https://github.com/department-of-veterans-affairs/vets-website/pull/11919

[2020-03-18 18:10] jenstrickland opened #6980 "[SCREENREADER]: Feedback button SHOULD be contained within a landmark"
#  [508-defect-3](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-3)

**Feedback framework**
- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

The Foresee Feedback button **SHOULD** be containe

[2020-03-18 18:14] jbalboni commented on #6966
This is currently all working except for the last bullet. Podiatry is the only CC only type of care we have, and you can't go any further with it, but it's still visible.

[2020-03-18 18:16] #6787 closed

[2020-03-18 18:16] #6765 closed

[2020-03-18 18:16] #6779 closed

[2020-03-18 18:23] zurbergram commented on #6855
https://github.com/department-of-veterans-affairs/gibct-data-service/pull/618

[2020-03-18 18:27] mshea0606 opened #6981 "Implement extended "Save" state on the modal"
## Tasks
- [ ] Take last week's work and add test coverage

[2020-03-18 18:29] peggygannon commented on #6946
@lalexanderson-dsva @artsymartha68

Here are the first drafts of content recommendations for:

**Public Health front door page content:**
[https://app.zenhub.com/files/133843125/2403e31f-fa5f-4a14-9e14-04c66863427e/download](https://app.zenhub.com/files/133843125/2403e31f-fa5f-4a14-9e14-04c66863427e/download)

 **Public Health media page:**
[https://app.zenhub.com/files/133843125/82a46b95-9014-468

[2020-03-18 18:32] pjhill opened #6982 "Iterate on Quality Assurance Process, Tools, and Artifacts Documentation Examples and Tutorials"
## High Level User Story/ies
As a VFS team member, I need easy to understand documentation for quality assurance process, tools, and artifacts examples and tutorials so that I am able to meet the minimum standards required for delivery at Collaboration Cycle meetings.

## Hypothesis or Bet
**If** we make quality assurance documentation more approachable and easier to understand **then** VFS teams

[2020-03-18 18:41] Kimberley2019 commented on #6957
Slacked the following message on 3/18/2020:

_Good_ Afternoon Team,

I am one of the Contact Center Leads that works with Contact/Calls Centers and the issues that are being reported by users of VA.gov.
In an effort to maximize the information that we receive from them, I am politely requesting that your team take a few moments to determine if there are any specific questions that should be asked

[2020-03-18 18:56] CrystabelReiter opened #6983 "All typography layers in both the Styles and Templates pages should have text styles applied"
User Story:

As a designer building pages using the Sketch Library, type should always be styled so when i duplicate or copy art boards or layers, all typographic styles will piggyback with the component. Right now, some of the typography elements on the Styles page and the Template page do not have text styles applied.

- [x]  Update layers in styles page

- [x]  Update layers in templates page

[2020-03-18 19:01] Samara-Strauss commented on #6975
Update: I received confirmation from our stakeholder that we should show this alert only to veterans who are patients at the facilities listed on this page https://mobile.va.gov/app/va-health-chat. We do not need to use any other lists out there for VISNs 8 and 23. I was told that the longer list I sent along for comparison included facilities that weren't actually health care facilities (and ther

[2020-03-18 19:07] #6357 closed

[2020-03-18 19:09] Kimberley2019 commented on #6957
Jason Wolf from eBenefits relayed:
One of the features we recently launched on VA.gov: "View your VA disability ratings"
- Are you able to login?
- What method do you use?
- If you are getting an error message, when and where do you see it?
- When was the last time you saw a rating if none exists?
- Does the rest of the page load or does it say something over all unexpected?

This application curr

[2020-03-18 19:09] CrystabelReiter opened #6985 "Clean up duplicative text styles"
There are a bunch of duplicative text styles in the Library (some of which are seemingly duplicates, while others are very different, but named the same title.

- [x]  Clean up styles and make sure one single text style per text variant

[2020-03-18 19:11] alexpappasoddball opened #6986 "Utility Developer Rotation - Sprint 22"
## Goal

The Backend Tools team utilizes a single resource each sprint to be the point person for a number of different things the entire team is responsible for.  This single resource will be responsible for items listed below and will have a lighter work load towards sprint objectives during the sprint in which they are assigned Utility Developer.

# Areas of Focus

## Triage Process
Monitoring

[2020-03-18 19:12] #3260 closed

[2020-03-18 19:13] alexpappasoddball opened #6987 "Tools BE VFS Support - Sprint 22"
As you review PRs, please add this epic to the issue so the business has visibility into our time spent supporting VFS teams.

[2020-03-18 19:13] #4594 closed

[2020-03-18 19:13] #6358 closed

[2020-03-18 19:15] CrystabelReiter opened #6988 "Add mobile text styles"
refer to this ticket: https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/178

h1
desktop = 40/52
mobile = 32/39

h2
desktop = 30/39
mobile = 24/31

Lead
desktop = 20/34
mobile = 16/27

- [x] Add mobile text tyles

[2020-03-18 19:15] hinzed1127 commented on #5828
UX question for @bridgethapner / @peggygannon : with regards to #6336, is this something we want to communicate in the modal and/or the sign in faq page? Basically communicate to users that SSO implies both being logged in across sessions and uniformly _signing out_ across sessions too.

[2020-03-18 19:16] tressaellen commented on #6976
Here's the first pass - I'm happy to work whoever on copy.

![VA Health Chat.jpg](https://images.zenhubusercontent.com/5dfa65bbbd078d1699e52294/a1a28f70-0a31-4ac4-b2ad-76a7100b0fc1)

[2020-03-18 19:17] amyknox commented on #6868
@ccruzgra - if you'd like to include them as part of this effort, that makes sense to me.

[2020-03-18 19:19] Kimberley2019 commented on #6957
Luke Majewski from benefits-memorials relayed:
We will have some discussions and respond back - thank you for taking the time to reach out.

[2020-03-18 19:23] jchasia-adhoc opened #6989 "[Ongoing Service] Platform Communications - Publish Monthly Newsletter"
### **Problem Statement** ###
Not all VFS team members are aware of new platform tools and services released by VSP teams.

VSP teams need additional communication channels outside Slack and TOTs for platform announcements.

### **Measuring Success** ###
- successful delivery rate
- open rate
- click rate per unique opens

### **Goal** ###
Distribute a regular email newsletter to VFS team members

[2020-03-18 19:24] Kimberley2019 commented on #6957
Kelson Adams from public websites relayed:
For content-related tickets, we usually need:
1) the URL
2) the current content that's incorrect
3) how that content should be changed
4) any additional info you would like to provide that you think could be useful to accomplishing the ticket

[2020-03-18 19:28] Kimberley2019 commented on #6957
Michelle Middaugh from Facilities relayed:
Hi @Kimberley.Daniels thanks for asking! I know we have a few things in mind already and I will work on putting this list together for you.
I am also in the process of working on a support doc for Facility Locator, fyi

[2020-03-18 19:31] johnpaulashenfelter commented on #3407
@omgitsbillryan I'd like to put this back in the icebox or make it part of the CircleCI move since this would take place there.

[2020-03-18 19:33] johnpaulashenfelter commented on #3407
Also seems like `pronto` would be the right kind of tooling to take a look at  for this https://github.com/prontolabs/pronto

[2020-03-18 19:35] #6809 closed

[2020-03-18 19:35] #6735 closed

[2020-03-18 19:36] #5495 closed

[2020-03-18 19:38] Samara-Strauss commented on #6976
Good start! I think we can further finesse when we have feedback from stakeholders.

One request before I share this out — can you update that link and make it a button instead? Something like "Get the VA Health Chat app" should do for now.

[2020-03-18 19:39] #4200 closed

[2020-03-18 19:45] #6812 closed

[2020-03-18 19:46] #6829 closed

[2020-03-18 19:46] kfrz opened #6990 "Refactor and streamline error handling code"
## Background

As a complementary body of work to upgrading [Sentry](https://github.com/department-of-veterans-affairs/va.gov-team/issues/6769), we should address some of the finer points of our error tracking code throughout vets-api.

This will help set the tone and procedures for future VFS teams hoping to leverage Sentry for debugging their features.

## High Level User Story/ies
As an enginee

[2020-03-18 19:48] tressaellen commented on #6976
Sure thing!

![VA Health Chat](https://user-images.githubusercontent.com/58752772/77001152-52eddb80-690e-11ea-9659-a8039189e42e.jpg)

[2020-03-18 19:48] #6076 closed

[2020-03-18 19:48] #5465 closed

[2020-03-18 19:48] #5280 closed

[2020-03-18 19:50] bridgethapner commented on #5828
Hi there @hinzed1127 - that's a really good point. Thanks for bringing this up! Yes, we should include that here. I added a bullet & tweaked the bullet header to speak to that - @peggygannon can you review?

Also heads up the FAQ link has been removed for now - my POV is we don't need FAQ content at SSO launch. We can add as a future improvement.

![#5828_In-page Modal @2x.png](https://images.zenh

[2020-03-18 19:50] johnpaulashenfelter commented on #6738
Big thanks to @bkjohnson for getting this started in https://app.circleci.com/pipelines/github/bkjohnson/vets-api?branch=circleci-project-setup

[2020-03-18 19:59] AnneHurley commented on #6955
@davidconlon @mickin @kevwalsh @RLHecht

Have emailed Josh Tuscher and cc'd you all to alert him to fact that the Events page does *not* accommodate alerts/banners.

We could edit the intro text to include a version of the above language, but it wouldn't be called out in as obvious a way as an alert would.

[2020-03-18 20:07] rebeccawalsh commented on #6422
@peggygannon Do you mind sending me the updated drupal template for your first feedback point?

[2020-03-18 20:12] peggygannon commented on #6249
Hello @bridgethapner here is the recommended downtime message for SSOe outage. I also posted this in the wireframe.

**Our sign in process isn’t working right now**
We’re working to fix some problems with our sign in process, which is affecting VA.gov and some other VA sites. If you’d like to sign in to VA.gov, please check back later.

[2020-03-18 20:12] Samara-Strauss commented on #6976
This has been sent around to the stakeholder group for feedback on what content to include. Once we are sure what details need to be included, we can bring in someone to work on the final copy.

[2020-03-18 20:22] rileyorr commented on #6890
All existing designs and corresponding GH documentation have been updated!

[2020-03-18 20:32] patrickvinograd opened #6991 "DSLogon level 2 users should not be auto-upleveled in SSOe authentication"
In the context of SSOe integration, IAM testers discovered that a DSLogon level 2 user was being forced to add multifactor via ID.me. The problem originated because vets-api is incorrectly triggering the upleveling request because DSLogon users are getting returned with `va_eauth_credentialassurancelevel = 2`. We were mapping this value directly to `loa_current` but instead need to interpret it as

[2020-03-18 20:33] kfrz commented on #6926
@rianfowler super nitpicky, but to be clear, this is for notification and user preferences, not application configuration, correct?

Maybe we want the issue title to clarify preferences over configuration if that's the case.

[2020-03-18 20:35] kfrz commented on #2900
Closing this as we are intending to address [by auto-routing errors](https://github.com/department-of-veterans-affairs/va.gov-team/issues/276) based on tags and component and directly assigning with Sentry rules to the product teams.

[2020-03-18 20:35] #2900 closed

[2020-03-18 20:37] peggygannon commented on #6752
@ncksllvn @jenniferlee-dsva Hello, so the background I have on this page is that this tool is down for maintenance at set times and we wanted to alert users to the times this tool IS available. This was in response to an influx of calls/emails from users trying to access it during it's "scheduled downtime."

I think that footnote on the 3rd screenshot is not right (or some sort of bug)..

Do you t

[2020-03-18 20:38] rianfowler commented on #6926
@kfrz done thanks for the recommendation.

[2020-03-18 20:41] kfrz opened #6992 "Audit & update documented workflow for running on-premise Sentry in local development environment"
## User Story or Problem Statement
As a VSP engineer. I need accurate documentation for on-premise Sentry administration so I can manage configuration and upgrades with low toil.

## Background

- [Current documentation](https://github.com/department-of-veterans-affairs/devops/blob/master/ansible/deployment/config/sentry/README.md#runningtesting-sentry-locally)
- [Some notes for local testing here

[2020-03-18 20:42] mmiddaugh opened #6993 "Phone number display for VHA Facility Detail page"
## What happened?
Phone number appears to be listed twice: once as link for auto-dialer and one as routine display for "Main phone number".

![image.png](https://images.zenhubusercontent.com/5d8a47393ac3440001d1a2ed/bd27aed6-0d1d-45aa-bd46-01f179f5a00d)

![image.png](https://images.zenhubusercontent.com/5d8a47393ac3440001d1a2ed/aefd1e08-6a2e-475a-b2bb-c7f8dd68e22d)

## Specs:
- Browser: Chrome

##

[2020-03-18 20:44] kfrz opened #6994 "Write Terraform module for Sentry resources"
## User Story or Problem Statement
As a _____, I need _____ so I can _____.

or

Problem description. How might we _____________ ?

## Goal
_What outcome(s) do we want to see?_

## Objectives or Key Results this is meant to further
- _Include references to KPIs we intend to impact_
---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] Terraform m

[2020-03-18 20:46] kfrz opened #6995 "Write Serverspec for Sentry infrastructure"
## User Story or Problem Statement
As a _____, I need _____ so I can _____.

or

Problem description. How might we _____________ ?

## Goal
_What outcome(s) do we want to see?_

## Objectives or Key Results this is meant to further
- _Include references to KPIs we intend to impact_
---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will

[2020-03-18 20:50] kfrz opened #6996 "Clean up unused Sentry resources"
Once we've moved to Sentry 10 via docker ensure we're not leaving any dangling resources (redis, rds, ec2, etc.)

## User Story or Problem Statement
As a _____, I need _____ so I can _____.

or

Problem description. How might we _____________ ?

## Goal
_What outcome(s) do we want to see?_

## Objectives or Key Results this is meant to further
- _Include references to KPIs we intend to impact_
---

[2020-03-18 20:51] 1Copenut commented on #5992
Confirmed in Staging with NVDA and JAWS

/cc @lenaecb

[2020-03-18 20:51] 1Copenut commented on #6241
Confirmed in staging on NVDA and JAWS. Moving to close.

/cc @lenaecb

[2020-03-18 20:51] #6241 closed

[2020-03-18 20:53] peggygannon commented on #6422
Hi, @rebeccawalsh Yes, am tracking this down and will post to this issue.

[2020-03-18 20:59] mmiddaugh commented on #6496
@darkbushido can you write this as a query request, please?

[2020-03-18 21:00] Samara-Strauss commented on #6976
Alright! First round of feedback:

- We should change the verbiage around "doctors" — people could end up talking to a number of different health care professionals (probably) depending on availability, questions, need. So we should instead say something about "health care professionals" instead of mentioning a specific role.
- Let's also mention that this service is available at no-cost to any ve

[2020-03-18 21:07] tressaellen commented on #6976
<img width="759" alt="Screen Shot 2020-03-18 at 1 03 35 PM" src="https://user-images.githubusercontent.com/58752772/77007631-5dfa3900-6919-11ea-894b-e3e712888520.png">

[2020-03-18 21:12] nathanhruby commented on #6616
Sure, thanks much! I assigned this to you and set it for next sprint.   If you have time this sprint, LMK and we can chat about this a bit.

One thing not in the requirements here but that I was going to try was doing Behavior Driven Development with [Ginko](https://github.com/onsi/ginkgo).  I think testing is important and BDD seems like a good fit for this application, would be interested to hea

[2020-03-18 21:14] Samara-Strauss commented on #6976
NVM — we have been asked to use the term "VA Staff". These notes were helpful:

[2020-03-18 21:24] jenstrickland opened #6997 "[SCREENREADER]: Consider updating phone number documentation in design system, to include spacing in the aria-label"
# [508-defect-3](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-3)

**Feedback framework**
- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

**✔️ Consider** updating phone number documentation

[2020-03-18 21:30] mmiddaugh commented on #6993
Per @jenstrickland :

will keep this issue open for tracking.

[2020-03-18 21:33] AnneHurley commented on #2052
legacy URL |  Redirect to
-- | --
www.benefits.va.gov/gibill/post911_gibill.asp | /education/about-gi-bill-benefits/post-9-11/
www.benefits.va.gov/gibill/school_decision.asp | /education/choosing-a-school/
www.benefits.va.gov/gibill/apply.asp | /education/how-to-apply/
www.benefits.va.gov/gibill/reap.asp | /education/other-va-education-benefits/reap/

1. va.gov/education/about-gi-bill-benefits/pos

[2020-03-18 21:35] joanneesteban commented on #5977
Let's reach out to the additional stakeholders who we want to interview for this. Shoot for next week and have them scheduled by end of this week.

Stakeholders:
- VSA Product Lead
- VSA Product Managers
- VSA Product Owners

[2020-03-18 21:38] Samara-Strauss commented on #6976
ALSO — for whoever works on copy — Jen Lee has instructed us to refer to the app as "VA health chat" instead of "VA Health Chat" per our VA.gov style guidelines.

[2020-03-18 21:39] amyknox commented on #6876
Ask DEPO about
- click through on CF message
- click through to school page

[2020-03-18 21:39] joanneesteban opened #6998 "Synthesize User Feedback for the Education proof of concept"
## User Story or Problem Statement
How might we determine what users thought of the Education proof of concept and how might we determine what is the best way to present data?

## Goal
Synthesize user feedback and provide PST recommendations based on user insights.

## Acceptance Criteria
- [ ] VSP understands what VFS users think of the proof of concept
- [ ] VSP has a better understanding of wha

[2020-03-18 21:39] Samara-Strauss commented on #6976
Also from Jen:

[2020-03-18 21:43] joanneesteban opened #6999 "Draft a Product Success Tool for eBenefits KPIs"
## User Story or Problem Statement
How might we present KPI dashboarding for the eBenefits team?

How might we expand the KPI version of the Product Success Tool & what does that effort look like?

## Goal
Gather the eBenefits KPIs and OKRs and begin to look at analytics and design requirements for KPI dashboarding on Domo.

## Acceptance Criteria
- [ ] VSP has KPIs and OKRs retrieved from eBenefi

[2020-03-18 21:43] Kimberley2019 commented on #6957
Samara Strauss from authenticated experience relayed:
Thanks for this! Then I would say the main things we need to know regardless of product are:

- What the user is trying to accomplish
- What the problem is
- Step-by-step what the user did before their problem/question occurred
- Any errors or messaging they see

[2020-03-18 21:50] jenstrickland commented on #6993
@mmiddaugh To clarify, the ticket I wrote for Trevor to add to the design system will not update the CMS. The CMS templates are owned by the teams that maintain them, so your devs would implement this change in the templates for the facilities.

[2020-03-18 21:51] narin commented on #5849
I was finally able to access CAG and test out pagination.

Legacy VAOS makes 3 separate calls for confirmed VA, requests, and CC appointments.  From my testing, it seems only the VA confirmed appointments call supports pagination.

### VA Confirmed Appointments

Confirmed appointment pagination can be manipulated with the following parameters:

* `pageSize` - number of results per page
* `pageNumb

[2020-03-18 21:58] rtwell commented on #5849
ccing @lalexanderson-dsva in case this has any conflicts with what we can display in MHV, etc

[2020-03-18 22:05] saneshark commented on #5849
I'm not crazy about fetching data that might not be used unless we have some rough idea of % of users who would actually click that tab. If it's a pretty high number of users it might make sense, but otherwise I would think we just deal with the latency and work to resolve.

I would however like to work with shared services or upstream data providers to see why page size has no affect on latency.

[2020-03-18 22:12] johnpaulashenfelter commented on #6769
One thing yall might consider breaking out into its own issue is a deployment plan. I really don't know if this is a "do staging, verify, then production" or a "run in parallel while we make sure its ok" or "flip the switch" or some other pattern. Considering all the moving pieces, I'm not sure its a direct swap, though that's what you can figure out :)

Also worth thinking about if its ok just to

[2020-03-18 22:15] saneshark opened #7000 "Investigate Zipkin Opentracing"
Two things we'd like to be able to do with zipkin:

1. Establish the X-TRACE-ID by injecting this header in our outbound request. I think it could just be the request id guid we already have. We should then be able to verify that zipkin will use this as the trace id for the rest of the services stack.

2. Add Additional id for session continuinty. This could be the JIT or ICN. For this part we'd l

[2020-03-18 22:59] mmiddaugh opened #7001 "Mobile Design"
## Product Outline
[Link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/product-management/product-outline-template.mdhttps://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/facilities/facility-locator/product/facility-locator-product-outline.md)

## High Level User Story
As a Veteran, I want to be able to search for facilities using

[2020-03-19 02:52] kfrz commented on #5358
Close because backlog grooming

[2020-03-19 02:52] #5358 closed

[2020-03-19 02:55] kfrz commented on #6769
@johnpaulashenfelter Definitely an upfront deliberation point -> I'm leaning towards running in parallel (starting fresh), but want to get some specifics mapped out first. We don't use Sentry to inform any automated alerting or reporting, AFAIK we'd be losing historical context for folks.

That said if we run in parallel it's akin to a fresh db anyhow.

[2020-03-19 11:55] desireeturner opened #7002 "GIDS: Remove prod flag for crosswalk dashboard widget & updated GIDS header"
## Description
As a developer, I need to remove the prod flag for the dashboard widget, so the functionality is available in the production environment.

## Acceptance Criteria
1. The functionality implemented in #6663 is available in production.

## Assumptions
1. This story will also test the functionality implemented in #6598.

## Screenshots

[2020-03-19 12:26] dmccurdybah commented on #7002
PR: https://github.com/department-of-veterans-affairs/gibct-data-service/pull/619

[2020-03-19 12:26] dmccurdybah commented on #7002
Can be tested on gibct-data-service branch `issue-dash`

[2020-03-19 12:40] johnpaulashenfelter commented on #7000
@saneshark is that zipkin instance a VA-wide instance? Or something that was setup specifically for this?

[2020-03-19 12:45] desireeturner opened #7003 "GIDS: Cleanup GIDS Caution Flag data"
## Acceptance Criteria:
1. Columns `caution_flag` and `caution_flag_reason` are no longer set during preview generation

## Notes
1. Dev needs to search in `app/models/institution_builder.rb` for `BAH Caution Flag Cleanup`
2. Switch `caution_flag_reason` converter to return a CSV string value of `caution_flags` reason values
3. Create `caution_flag` method that returns whether `count_of_caution_fl

[2020-03-19 12:56] jhonnyoddball commented on #6078
Implementation is completed.
[Pull Review](https://github.com/department-of-veterans-affairs/vets-website/pull/11890)

[2020-03-19 13:23] pjhill opened #7004 "Failed test: View percent of vets-api reviews completed in 48 hours"
There is no visualization for "percent of PRs reviewed within 48 hours" for either **vets-api** or **vets-website**.

T1418: View percent of vets-api reviews completed in 48 hours
https://dsvavsp.testrail.io/index.php?/tests/view/1418

[2020-03-19 13:30] jonwehausen commented on #5673
### Datalayer QA Testing

cc: @ethanteague @kevwalsh @nedierecel @joanneesteban

#### Side-wide taxonomy
- We're seeing the side-wide code being pushed in conjunction with the event fires: if we could request the site-wide code be pushed upon on each new page load this will aid us in a more robust way to capture pageviews + basic OOB metrics across the board
- Ideally, each new page load / refresh

[2020-03-19 13:44] jbalboni opened #7005 "Research Veteran not eligible for direct or request error"
Sentry: http://sentry.vfs.va.gov/vets-gov/website-production/issues/108960/?query=is%3Aunresolved%20source%3Avaos

This is a fallback error that shouldn't actually happen, but we have an instance of it in Sentry now. We should see if we can reproduce this issue locally or on staging.

[2020-03-19 13:48] sonntag-adam commented on #6848
![Screen Shot 2020-03-19 at 9.48.23 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/dea6dd06-4355-4116-8be9-1037ede72012)

[2020-03-19 13:58] sonntag-adam commented on #6848
Does not show in production build

[2020-03-19 14:07] erluti commented on #1409
Betamocks is locked to rails < 6, so it needs updating before vets-api can use it with rails 6.

[2020-03-19 14:09] LindseySaari commented on #6769
[Self hosting sentry with docker](https://mikedombrowski.com/2018/03/self-hosting-sentry-with-docker-and-docker-compose/)

[2020-03-19 14:17] rianfowler commented on #6681
Might be good to require all calls to vets-api to be wrapped in an ops toggle. This is would be a nontrivial amount of work but could be useful when we run into issues similar to last night. It took 40+ minutes to get a minor fix out to disable an endpoint call.

More on ops toggles: https://www.martinfowler.com/articles/feature-toggles.html#CategoriesOfToggles

[2020-03-19 14:17] Samara-Strauss commented on #5895
Good morning! Stats are looking good today — people are using the tool!

I'm realizing I don't know how to determine how many people use override instead of a suggestion. I think we talked about that when we were talking through the original set up — can we see that?

[2020-03-19 14:20] ncksllvn commented on #6752
It isn't necessarily _just_ checking the timeframe of the service. It appears to just be actaully checking the service's status to determine up/down time, but using the hours as a general guide. I think it's possible that the service be down at other random intervals too.

There was a "warning" state before when we're about to exceed the operational hours. I borrowed the messaging from that and ju

[2020-03-19 14:20] Samara-Strauss commented on #5895
Also, we might want to meet at some point if it's easier than hashing things out over github — I still have some questions about what we're looking at and what we're not yet seeing. Let me know what's easier in terms of talking this through.

[2020-03-19 14:23] nedierecel commented on #5680
@lenaecb Yes please - let's close this and keep #5983 as active. Thanks!

[2020-03-19 14:32] kevinmirc commented on #6910
So the official Feature Flag functionality is very robust and can accept lots of parameters. There are a couple of details about what we're building that makes it not applicable though:
- (1) We have an unauthenticated feature
The feature flag allows you to narrow down usage by specifying which users can use the feature. Since our feature can be accessed without logging in, the parameters the Feat

[2020-03-19 14:35] sonntag-adam commented on #6848
In staging. Testing passes QA
https://dsvavsp.testrail.io/index.php?/runs/view/218&group_by=cases:section_id&group_order=asc

[2020-03-19 14:35] #6848 closed

[2020-03-19 14:39] ncksllvn commented on #6752
### Service up
![image](https://user-images.githubusercontent.com/1915775/77078941-a96e1f00-69cd-11ea-911c-f8e15fccc603.png)

### Service down
![image](https://user-images.githubusercontent.com/1915775/77079155-f520c880-69cd-11ea-9c07-452465d32913.png)

[2020-03-19 14:42] Samara-Strauss commented on #6976
Consolidating copy needs here. This alert needs to include:

- Veterans can use the health chat app to ask questions related to COVID-19
- They may be talking to a variety of health care professionals. Based on convos with stakeholders, I believe the term we should use is "VA staff"
- This tool is available at "no-cost" (stakeholders were very insistent about "no-cost" vs. "free") to veterans who

[2020-03-19 14:46] sonntag-adam commented on #6855
Merged, closing story.

[2020-03-19 14:46] #6855 closed

[2020-03-19 14:56] SgardnerPMP opened #7006 "[Content] Research and write "Altoona, PA" Faclities INTRO content required for ALL facilities [Content]"
## User Story or Problem Statement
As a Veteran web user, I need to know the specific details and key health services of the local facilities related to my area, so I can better plan my journey to the specific factility and location.

## Goal
_Short and descriptive detail of top health services for the local facilities_

## Objectives or Key Results this is meant to further
- _Reduce click through

[2020-03-19 14:59] SgardnerPMP opened #7007 "[Content] Research and write "Butler, PA" Facilities INTRO content required for ALL facilities [Content]"
## User Story or Problem Statement
As a Veteran web user, I need to know the specific details and key health services of the local facilities related to my area, so I can better plan my journey to the specific factility and location.

## Goal
_Short and descriptive detail of top health services for the local facilities_

## Objectives or Key Results this is meant to further
- _Reduce click through

[2020-03-19 15:00] jenniferlee-dsva commented on #6976
@Samara-Strauss

**Use health chat to get answers to your health questions**
If you have questions about COVID-19 or general health concerns, you can use our new VA health chat tool to chat with a VA staff person. It's available at no-cost to any Veteran who receives health care at VA. You can use health chat on desktop or as a mobile app.

**[Button] Learn more about VA health chat**

[2020-03-19 15:02] SgardnerPMP opened #7008 "[Content] Research and write "Coatesville, PA" Facilities INTRO content required for ALL facilities [Content]"
## User Story or Problem Statement
As a Veteran web user, I need to know the specific details and key health services of the local facilities related to my area, so I can better plan my journey to the specific factility and location.

## Goal
_Short and descriptive detail of top health services for the local facilities_

## Objectives or Key Results this is meant to further
- _Reduce click through

[2020-03-19 15:05] SgardnerPMP opened #7009 "[Content] Research and write "Erie, PA" Facilities INTRO content required for ALL facilities [Content]"
## User Story or Problem Statement
As a Veteran web user, I need to know the specific details and key health services of the local facilities related to my area, so I can better plan my journey to the specific factility and location.

## Goal
_Short and descriptive detail of top health services for the local facilities_

## Objectives or Key Results this is meant to further
- _Reduce click through

[2020-03-19 15:07] joanneesteban commented on #6700
@jason-gcio if you have KPIs set for this feature, could you add them or link them to your product outline?

[2020-03-19 15:07] mmiddaugh commented on #4982
One recommendation from [March 2020 research](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/facilities/facility-locator/research/user-research/FL-Search-march2020/research-findings.md)):

This is based on several participants whose searches resulted in only one benefit office which were hundreds of miles away.

[2020-03-19 15:09] zurbergram commented on #6854
[code]

[2020-03-19 15:11] Samara-Strauss commented on #6976
@jenniferlee-dsva thank you for this! We JUST got additional feedback in from a stakeholder that we should mention there may be wait times — people may send a message and may not hear back instantly depending on availability of staff. Here's what she said:

I think we should mention this in the alert. How about something like this? I've modified your copy above to reflect wait times:

**Use health

[2020-03-19 15:15] mmiddaugh opened #7010 "Limit number of search results"
## User Story or Problem Statement
As a Veteran, I want to see the five closest facilities so I can be served at a location close to me.

## Goal
Align search functionality with user expectations
Improve search performance

## Objectives or Key Results this is meant to further
OBJECTIVE 1: Enhance the search process
OBJECTIVE 3: Deliver a usable and accessible experience

## Tasks
- [ ]

## Accept

[2020-03-19 15:15] jonwehausen commented on #5895
I agree - lets setup a 1on1 so we can discuss in detail.

[2020-03-19 15:27] lenaecb opened #7011 "Cancel Modal for Cerner site(s) from Appointment homepage"
As a Veteran, I need to be redirected to my "My VA Health" portal to cancel appointments that are at registered Cerner sites (ex - Columbus or Spokane) from the VAOS Appointments homepage.

---
## Acceptance Criteria
- [x] When user clicks 'cancel' for Cerner-site appointments, "Cancel modal" alerts user that appointment cannot be canceled in VAOS and that user must cancel in their My VA Health Po

[2020-03-19 15:28] #6078 closed

[2020-03-19 15:29] AnneHurley commented on #2052
@MickinSahni @lunascoop @mnorthuis @jenniferlee-dsva  Creating a new ticket to capture need to rethink/reorganize the REAP page. Perhaps that's info that we can now pull into the main GI Bill benefits page.

[2020-03-19 15:34] mmiddaugh opened #7012 "Add mileage filter to search"
## User Story:
As a Veteran, I want to define my search parameters in miles so that I can find a facility in the area I specify.

## Goal
Allow Veteran to filter search results by mileage

## Objectives or Key Results this is meant to further
OBJECTIVE 1: Enhance the search process

## Tasks
- [ ] TBD based on design

## Acceptance Criteria
- [ ] TBD based on design

## How to configure this issue

[2020-03-19 15:36] MickinSahni commented on #6904
2020-03-19 PW Standup
- Metadata is all updated, but still seeing persisting text in the on-site search results
 We'll doublecheck about the metadata/keep an eye on this but will close out

[2020-03-19 15:36] #6904 closed

[2020-03-19 15:37] johnpaulashenfelter opened #7013 "Audit and update backend team permissions for github repositories"
There are some repositories that occasionally are relevant to the backend team that we do not have write, admin, or even read access to. Fixing that while transitioning to using a GitHub team seems like the right choice.

The GitHub team for the backend tools team is https://github.com/orgs/department-of-veterans-affairs/teams/vsp-tools-backend/

The repositories we should have access to are

# Mi

[2020-03-19 15:38] MickinSahni commented on #6895
2020-03-19 PW Standup
- Went thru the flows with Jen and team. We can regroup Monday morning, before we close this out. We'll put a rec on the Mural board/on this ticket and then close this ticket out then.

[2020-03-19 15:39] lenaecb opened #7014 "Disable Cerner site on Facility page & redirect"
As a Veteran registered at both Cerner and non-Cerner sites, I need to be alerted and redirected to my "My VA Health" portal on the VAOS Facility page if I try and schedule an appointment at a Cerner location.

## Acceptance Criteria
- [x] User cannot select the Cerner-enable location from the registered Facility list (disabled)
- [x] User is informed they cannot schedule an appointment at this sp

[2020-03-19 15:40] AnneHurley opened #7015 "New content strategy for REAP messaging"
Rethink the REAP messaging now that this program is over, and those benefits folded in to the GI Bill.

Should talk to stakeholders re new messaging.
https://www.va.gov/education/other-va-education-benefits/reap/

[2020-03-19 15:44] jenniferlee-dsva commented on #6976
Ug. Can we not message them at the time inside the chat app if there are wait times? Why pre-message them here? Mixed signals - use it; but don't use it. Also 'get back to you when we're available' is terrible. I recommend including that note here ONLY if they cannot display it in the actual TOOL experience when (and only when) there's a wait time. If for some reason they can't do that inside the

[2020-03-19 15:44] MickinSahni commented on #6955
2020-03-19 PW Standup
- have a way to add the alert to the page with Randi
- haven't heard back from Josh

[2020-03-19 15:45] bridgethapner commented on #6249
Thanks @peggygannon!

@hinzed1127 copy for down message is in Peggy's comment above and in [desktop](https://adhoc.invisionapp.com/share/DYVMI5OXEQN#/screens/409053575) and [mobile](https://adhoc.invisionapp.com/share/5QWAJJQNG2J#/screens/409260164) wireframes too.

[2020-03-19 15:49] MickinSahni commented on #2052
2020-03-19 PW Standup
- Anne's portion is complete. Mikki vetting + implementation is remaining
- pulling out of sprint and into Ready until vetted and ready to implement the redirects

[2020-03-19 15:50] SgardnerPMP opened #7016 "[Content] Research and write "Lebanon, PA" Facilities INTRO content required for ALL facilities [Content]"
## User Story or Problem Statement
As a Veteran web user, I need to know the specific details and key health services of the local facilities related to my area, so I can better plan my journey to the specific factility and location.

## Goal
_Short and descriptive detail of top health services for the local facilities_

## Objectives or Key Results this is meant to further
- _Reduce click through