[2020-08-12 22:56] #11761 closed

[2020-08-12 23:01] leahkeeler commented on #7318
Hi I think this is the wrong label for this ticket @Mottie ?

[2020-08-12 23:04] mnorthuis commented on #9082
Draft IA is posted for your review. I still have some outstanding items to work through.
- discuss wizard flows and placement
- discuss entry points and content strategy with PW team
- content sync with Peggy and PW

https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/information-architecture/ia-reviews/ebenefits-chapt36.md

[2020-08-12 23:05] #7497 closed

[2020-08-12 23:06] #6547 closed

[2020-08-12 23:06] #6515 closed

[2020-08-12 23:07] leahkeeler commented on #6594
This is complete

[2020-08-12 23:10] theodur commented on #11862
Merged in https://github.com/department-of-veterans-affairs/vets-website/pull/13813.

[2020-08-12 23:10] #11862 closed

[2020-08-12 23:25] gunsch commented on #6594
@leahkeeler can you share more about this? did you complete all the things above, or if not can you link to tickets for the remaining work?

[2020-08-12 23:26] gunsch commented on #12388
Hey --- I'm not sure what to do with this. Did you mean to put this in an [issue template](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/.github/ISSUE_TEMPLATE)?

[2020-08-12 23:32] tlei123 opened #12438 "[Bug] Debt Letters MVP - pay.gov link goes to www.pay.va.gov"
## What happened?
On Staging Your VA Debt page, in **How do I pay my VA debt?** > **Online** section, **pay.gov** link went to **www.pay.va.gov**.

**NOTE**: While the link worked fine \[i.e., navigated successfully to some destination], this Defect calls out the **need to fix either the link text or link destination**.  It'd be prudent to verify, through independent documentation, whether the lin

[2020-08-12 23:47] nathanbwright commented on #12379
@jsev-io - I now have access to the socks proxy. Thank you!

[2020-08-12 23:53] Mottie commented on #7318
Isn't 2346 the form (batteries & accessories) your team is working on?

[2020-08-12 23:55] #12178 closed

[2020-08-12 23:55] pjhill commented on #11335
@MickinSahni, @tzelei -- I'm so sorry! Various VSP responsibilities kept popping up, and I haven't been able to contribute to the authoring of these test cases. I'm out on (unexpectedly early) parental leave starting 8/11 and returning 8/26.

If this effort is ongoing upon my return, I will prioritize time to spend contributing.

[2020-08-13 00:01] mandifrances commented on #12433
Hi @johnhashva what day are you hoping to do this? FYI for a project kick-off we don't need 2 days lead time. So let me know when works for you and your team.

[2020-08-13 00:19] #12255 closed

[2020-08-13 00:19] peggygannon commented on #12255
Closing. Chatbot and FAQ updates are live.

[2020-08-13 00:20] peggygannon commented on #12337
Closing this ticket. Chatbot and FAQ updates are live

[2020-08-13 00:20] #12337 closed

[2020-08-13 00:26] peggygannon opened #12439 "VSP content feedback - usability test prep - VRE Chapt 31 prototype"
## User story

This ticket captures VSP content feedback on VRE Chapt 31 form and wizard

Prototype link: https://preview.uxpin.com/e291c4ac8956d804d774160cdb82ecb724044689#/pages/130773489/comment/sitemap

## Acceptance criteria

- [x]  VSP/Peggy provides content feedback for the form/tool and any associated static pages
- [ ]  Product team incorporates feedback and/or asks follow up questions ab

[2020-08-13 00:27] mmiddaugh commented on #12232
@mpelzsherman I see how the description may have caused confusion. The following text (third paragraph of current functionality) also needs to be removed

[2020-08-13 00:29] peggygannon opened #12440 "VSP content - Usability prep - VRE Chapt 36 prototype"
## User story

This ticket captures VSP content feedback on VRE Chapt 36 form and wizard

Prototype link: https://preview.uxpin.com/2dbde8d15bf667f5c584fe4a8a6d011cf9f0a14d#/pages/130194084/comment/sitemap

## Acceptance criteria

- [x]  VSP/Peggy provides content feedback for the form/tool and any associated static pages
- [x]  Product team incorporates feedback and/or asks follow up questions ab

[2020-08-13 00:48] mmiddaugh opened #12441 "Vet Center Taxonomy - research plan"
## Issue Description
We need to validate our proposed Vet Center service taxonomy to confirm the descriptions and language used for the MVP pages align with Veterans

<details>
<summary> **Taxonomy structure** </summary>

- Service name: Mental health care (National)
- Patient-friendly name: Behavioral counseling  (National)
- Common conditions:  (National)
- Description:
If you're struggling with

[2020-08-13 00:53] mmiddaugh opened #12442 "Vet Center data/artifact request"
## Issue Description
There may be data or other artifacts which can be collected by the Vet Centers while we develop the Vet Center service taxonomy. Some items may be time-sensitive, based on budget or weather (for building photography, for example).

---
## Tasks
- [ ] Determine what information can be collected during this phase of the process

## Acceptance Criteria
- [ ] List of artifacts wit

[2020-08-13 01:03] mmiddaugh commented on #12223
Should be pulled into the same sprint as
[Breakpoint 768 #12225](https://github.com/department-of-veterans-affairs/va.gov-team/issues/12225)
[Breakpoint 1008 #12131](https://github.com/department-of-veterans-affairs/va.gov-team/issues/12131)

[2020-08-13 01:04] mmiddaugh commented on #12225
Should be pulled into the same sprint as
[Dynamic resizing #12223](https://github.com/department-of-veterans-affairs/va.gov-team/issues/12223)
[Breakpoint 1008 #12131](https://github.com/department-of-veterans-affairs/va.gov-team/issues/12131)

[2020-08-13 01:04] mmiddaugh commented on #12131
Should be pulled into the same sprint as
[Dynamic resizing #12223](https://github.com/department-of-veterans-affairs/va.gov-team/issues/12223)
[Breakpoint 768#12225](https://github.com/department-of-veterans-affairs/va.gov-team/issues/12225)

[2020-08-13 01:05] tlei123 commented on #12390
Closing; download links are working today.

[2020-08-13 01:05] #12390 closed

[2020-08-13 01:08] mmiddaugh opened #12443 "Mobile design triggers at breakpoint 481"
## Issue Description
As a Veteran, I need the Facility Locator search page to adjust to my viewpoint so that all content is rendered on screen and available to me.

## Front end tasks
- Set 481 breakpoint to a mobile view with results and map presented as tabs, consistent with UX Pin specs
- Center pagination below the search results list and map.
- Center _Can’t find what you’re looking for? Try

[2020-08-13 01:08] mmiddaugh commented on #12443
Should be pulled into the same sprint as
Dynamic resizing #12223
Breakpoint 1008 #12131
Breakpoint 768 #12225

[2020-08-13 02:57] digitaldrk commented on #10673
The only exposed endpoint is `https://va.gov/v0/dependents_applications`. This is a `POST` that receives data from the 686 form for processing. This endpoint is guarded by authentication looking for a valid `api-session` in the header.

[2020-08-13 03:02] #10673 closed

[2020-08-13 03:12] tlei123 commented on #11342
@leahkeeler , while waiting for test-accounts for the remaining Empty-state cases, I've logged a couple of defects from those cases I've been able to run:

#12398 - A couple of copy anomalies
#12438 - pay.gov link

Once test-accounts for the Empty-state user-scenarios are determined, I'll run those test-cases, and generate the TestRail reports.

cc @bradl3yC

[2020-08-13 03:59] digitaldrk commented on #11282
https://github.com/department-of-veterans-affairs/vets-api/pull/4668

[2020-08-13 04:45] tlei123 commented on #11335
@MickinSahni , would you consider those forms with only **When to use this form** section Use Case A?

The design screen for Use Case A doesn't have this section, BUT that screen's described as "no custom content", while your Use Case A is described as "minimum custom form data".

I added preview-node URLs and preliminary Use-Case mappings to the [top-40 forms](https://github.com/department-of-vet

[2020-08-13 05:18] digitaldrk commented on #12265
https://github.com/department-of-veterans-affairs/vets-api/pull/4709

[2020-08-13 08:16] #12149 closed

[2020-08-13 11:38] Kimberley2019 commented on #11573
@Samara-Strauss I have not received any more feedback concerning this particular guide.  I would like to confirm with them this Friday during our call. I can close this out if there is nothing additional.

[2020-08-13 12:11] leahkeeler commented on #12398
Hi @tzelei I think this may be in the wrong ticket? or I am really missing something :)

[2020-08-13 12:15] johnhashva commented on #12433
Likely next week -- but let me check with @MickinSahni first to align schedules/timing.  TY.

[2020-08-13 12:21] #11450 closed

[2020-08-13 12:27] ksantiagomorgan6 commented on #11730
ADDITIONAL PR: https://github.com/department-of-veterans-affairs/vets-website/pull/13849

[2020-08-13 12:28] leahkeeler commented on #12438
@rebeccawalsh @rileyorr Can you please make a call on what this should be changed to?

This is referring to this link
![image](https://user-images.githubusercontent.com/60892917/90134102-44c5af00-dd36-11ea-8edf-a9e9ffcc3a89.png)

Currently on the debtman site it spells out "Pay online"

![image](https://user-images.githubusercontent.com/60892917/90134228-763e7a80-dd36-11ea-9c87-48083e7ef28c.png)

[2020-08-13 12:29] 1Copenut commented on #12338
@elder-joseph Thank you for the heads up. I wasn't aware this behavior was happening in other places, but this definitely confirms it's a forms library behavior. I'm working with the VSP tools FE team on a global fix ( https://github.com/department-of-veterans-affairs/vets-website/pull/13825 ) that is in draft, but hopefully we get ironed out soon.

Let's use that as the source of truth for fixing

[2020-08-13 12:38] delli-gatti-michael commented on #11766
local testing complete

[2020-08-13 12:40] delli-gatti-michael commented on #11766
![Screen Shot 2020-08-13 at 8.40.43 AM.png](https://images.zenhubusercontent.com/5c07f000391a6f6357adc430/c3a428c1-b5c3-492c-b856-e4797469147d)

[2020-08-13 12:52] amyknox commented on #12342
Appears to be resolved via https://github.com/department-of-veterans-affairs/vets-website/pull/13833

@desireeturner - can this be closed?

[2020-08-13 13:04] rebeccawalsh commented on #12438
This text came Debtman, iirc. It should go to https://www.pay.va.gov/ <https://www.pay.va.gov/>.

[2020-08-13 13:14] leahkeeler commented on #12438
Thanks @rebeccawalsh should the text be " Pay Online" to be consistent w/debtman or spelling out the actual link

[2020-08-13 13:22] rebeccawalsh commented on #12438
I don't think we have to be consistent with Debtman? Keep the text as-is, it's already been reviewed by Peggy.

[2020-08-13 13:32] delli-gatti-michael commented on #12328
@1Copenut This is in staging and ready for your review

[2020-08-13 13:37] rileyorr commented on #12438
Hm, I see what Tze's saying about this bug. [Pay.gov](https://www.pay.gov/public/form/start/25987221) takes you to a site to pay medical copayment bills, whereas [pay.va.gov](https://www.pay.va.gov/) takes you to a site to pay your debt. It does seem incorrect to write "pay.gov" and then redirect to "pay.va.gov" since they're different sites.

@peggygannon what do you think about us updating the t

[2020-08-13 13:37] vbahinwillit commented on #4801
To address the issue of the large containers and components folder, it is suggested that the project be organized by feature instead. The following structure is proposed:

- components
    - Address
    - Alerts
    - Breadcrumbs
    - Buttons
    - FormButtons
    - RadioButton
    - Tabs
    - TextArea

- appointment-list
    - components
    - redux

- new-appointment
    - components
    - red

[2020-08-13 13:49] Samara-Strauss commented on #11573
Great, thank you for the update @Kimberley2019! I appreciate it. Let us know if anything comes up in tomorrow's meeting.

[2020-08-13 13:53] Samara-Strauss commented on #7561
Great work on this, y'all! I know this was a huge task, and you both rose to the occasion. Nice job!!

[2020-08-13 13:54] Kimberley2019 commented on #11573
Will do @Samara-Strauss

[2020-08-13 13:58] bradl3yC commented on #7318
@leahkeeler this is ours.. 2346 is MDOT

[2020-08-13 14:06] sanlouise commented on #11489
@mshea0606 This ticket can be closed as the displayed phone number is the desired phone number. The design had outdated copy.

[2020-08-13 14:32] micahchiang opened #12444 "Chapter 31 - Veteran Information Fixes"
## Description
There are a few outstanding issues with the Veteran Information component that need to be addressed before writing unit tests:
1. Name, SSN, and DOB need to all be required for the unauthenticated flow,
1. VA File Number needs to be optional,
1. Error validation (linked to above points) need to work when fields are required.

## Tasks
- Fix all of the above points.

## Acceptance Cr

[2020-08-13 14:41] sanlouise commented on #12100
@mshea0606

You should be OK to close this ticket.

The desired change was implemented in [this ticket ](https://github.com/department-of-veterans-affairs/vets-website/pull/13804) - see [this convo](https://dsva.slack.com/archives/C52CL1PKQ/p1597328956032900) for context.

[2020-08-13 14:42] bradl3yC commented on #12190
@jenstrickland should be resolved now - please verify

[2020-08-13 14:43] #12100 closed

[2020-08-13 14:48] #12025 closed

[2020-08-13 14:49] ncksllvn opened #12445 "Define strategy for smoke tests against website templates"
## Issue Description
_What details are necessary for understanding the specific work or request tracked by this issue?_

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attac

[2020-08-13 14:55] kelsonic opened #12446 "Fix content updates to Cerner pages"
# Description

While implementing [this ticket](https://github.com/department-of-veterans-affairs/va.gov-team/issues/10756), a lot of the content had to be written into code manually (instead of copy-paste) so there are some content issues that didn't get implemented correctly. We should correct these as soon as possible.

## Issues

#### Not Cerner User: https://staging.va.gov/cerner-staging/appo

[2020-08-13 14:56] billfienberg opened #12447 "Clean up stale branches in VFS Tools repo"
## Description

There are a lot of [stale branches in the VFS Tools repo](https://github.com/department-of-veterans-affairs/veteran-facing-services-tools/branches/stale). Some of them are two years old. Ideally, we should clean up the branches that are no longer relevant.

[2020-08-13 15:04] sonntag-adam commented on #11354
![Screen Shot 2020-08-13 at 10.42.49 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/c8abd723-e045-482c-8e95-a3fa23e31286)
##
![Screen Shot 2020-08-13 at 10.45.00 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/5dbb0d95-a120-4080-b615-e6ad1fc9093b)

[2020-08-13 15:04] DanielleThierryUSDSVA commented on #9538
Hi @johnhashva. Catching up from being out for a few days, and I think I saw in slack that we're deprioritizing this content review for now. Can you confirm? If yes, I'll move to icebox. Thanks!

[2020-08-13 15:13] sonntag-adam commented on #11354
![Screen Shot 2020-08-13 at 11.12.51 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/35c1e8d9-87c9-4e70-b60f-66435a818d98)

[2020-08-13 15:15] jenstrickland commented on #12190
Validated. Thank you!

[2020-08-13 15:15] #12190 closed

[2020-08-13 15:15] ncksllvn commented on #10853
This is merged and will be available in Drupal today as a React widget. It is a React Widget -> CTA (call-to-action) - with app ID `change-address`

[2020-08-13 15:16] sonntag-adam commented on #11354
![Screen Shot 2020-08-13 at 11.15.24 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/5d602303-eb23-4bed-83bf-71fd73476b8b)
##
![Screen Shot 2020-08-13 at 11.15.45 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/8a695e68-e44e-487b-a880-1864e619da1c)

[2020-08-13 15:18] sonntag-adam commented on #11354
![Screen Shot 2020-08-13 at 11.18.27 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/4be18edb-17ae-4c0e-ab31-5c7e2e188c26)

[2020-08-13 15:20] sonntag-adam commented on #11354
![Screen Shot 2020-08-13 at 11.19.46 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/a4e1a1ca-9735-44b9-a885-5b330f2e6cbd)

[2020-08-13 15:23] Samara-Strauss opened #12449 "Analytics KPI dashboard request for Profile 2.0 (Authenticated Experience)"
# Request a KPI Dashboard

## What this form is for
Use this template to request a KPI dashboard on Domo for your product.

## Instructions for the VFS team
- [x] For additional info, read through the [How to Request a KPI Dashboard Documentation](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/analytics/kpi-dashboard-request.md)
- [x] Your KPIs are clearly linke

[2020-08-13 15:24] Samara-Strauss commented on #12449
cc/ @mshea0606 for awareness

[2020-08-13 15:26] #12153 closed

[2020-08-13 15:28] ncksllvn commented on #2212
This will go live today as scheduled

[2020-08-13 15:33] abuckley3385 opened #12450 "[FE] Create Feature Flags for Visit Intro Pages"
Front End
## Product Documentation
[Questionnaires Product Outline ](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/product-outline.md)
- [Visit Intro Initiative (Proof of Concept)](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/initiatives/visit-intro.md)

--

[2020-08-13 15:34] #12450 closed

[2020-08-13 15:39] f1337 commented on #12412
We have had several support incidents in [Slack](https://dsva.slack.com/archives/CBU0KDSB1), caused by folks merging vets-json-schema changes without bumping the version in package.json. The repo README is quite clear on how to do so, it's just not being done.

We then had a request to have PR reviewers check for version bumps on every PR review. This ticket is to create a bot that does exactly th

[2020-08-13 15:40] pnwstevan commented on #11699
Ok, NOW I'm in the Org! 🎉

Looks like there may still be a few access/permissions issues though.

For example, I can now see this page: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsp/teams/operations/daytime-oncall-support-role.md

But can't see:
https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/tree/master/OnCall

or anything under https:

[2020-08-13 15:40] MickinSahni opened #12451 "Create post mortem for website sidebar not accessible across benefit pages from mobile devices"
## Acceptance Criteria
Completed post-mortem added to Github

[2020-08-13 15:47] f1337 opened #12452 "Document GIDS PR-review guidelines"
We have undocumented procedures for GIDS PR reviews, which differ from our normal PR review process.

### Acceptance criteria

Document the GIDS PR review process, _as it is today_. Including, but not limited to:
- We review for major problems with syntax and rubyisms.
- We aren't reviewing code organization.
- We aren't reviewing there SQL for safety.
- We aren't performing security reviews.

Sha

[2020-08-13 15:47] abuckley3385 opened #12453 "[FE] Create Submission Confirmation Page"
## Product Documentation
[Questionnaires Product Outline ](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/product-outline.md)
- [Feature: PGD Data Integration)](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/features/pgd.md)

## User Story

---
## Tasks
- [x]

[2020-08-13 15:49] sanlouise commented on #12014
I will hold off on working on this ticket till [this ticket from design](https://github.com/department-of-veterans-affairs/va.gov-team/issues/12010) is resolved, then I'll know whether to change the Close link to a button or update the Close link styles.

[2020-08-13 15:49] rebeccawalsh commented on #12378
@peggygannon here is the updated content with SME feedback -- tear it apart!

### 'Why might I have this debt?' content

**30 - Compensation & pension debt**
A letter was sent from the Compensation & Pension office to your address on file explaining the reason for this debt.  Some common reasons for this type of debt are:
- A change in spouse or dependents was not submitted or processed before a p

[2020-08-13 15:53] abuckley3385 opened #12454 "[Product] Saving Questionnaire as PGD"
## Product Documentation
[Questionnaires Product Outline ](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/product-outline.md)
- [Visit Intro Initiative (Proof of Concept)](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/initiatives/visit-intro.md)
- [Feature -

[2020-08-13 16:05] f1337 opened #12455 "Pagerduty setup for BGS (eBenefits)"
[Slack thread for context](https://dsva.slack.com/archives/CBU0KDSB1/p1597259128386900)

[2020-08-13 16:07] narin commented on #11978
Copying description over from dupe ticket:

[2020-08-13 16:10] narin commented on #12426
I think this is a duplicate of #11978.  I have most of the check logic done. Just need to move it to the correct spot in the flow. @rtwell can you drop in a design in #11978 once it's ready?

[2020-08-13 16:10] #12426 closed

[2020-08-13 16:11] abuckley3385 opened #12456 "[Product] Appointment Details Feature Outline"
## Product Documentation
[Questionnaires Product Outline ](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/product-outline.md)
- [Visit Intro Initiative (Proof of Concept)](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/initiatives/visit-intro.md)
- [Feature -

[2020-08-13 16:14] grossb1 opened #12457 "Access for Bradley Gross"
- Please provide your Contracting Officer's Representative (COR) name.
Herbert Ackermann
- Please provide your name.
Bradley Gross
- Please Provide your email.
bradley.gross@b3groupinc.com
- Please provide the name of your team, your role on that team, and the name of the company you work for.
Software Developer, VAOS Team, B3 Group

- Requesting SSH key authorization?
 YES

[code]

- Grant AWS Co

[2020-08-13 16:15] grossb1 commented on #12457
@department-of-veterans-affairs/vsp-operations

[2020-08-13 16:20] tlei123 commented on #11342
Sorry, @leahkeeler !  I fat-fingered the 1st ticket# above.  Just corrected it -- should be #12389 .

[2020-08-13 16:20] tlei123 commented on #12398
Sorry, @leahkeeler !  I fat-fingered that 1st ticket# in my Test Plan ticket.  Just corrected it there -- should be #12389 .

[2020-08-13 16:22] tlei123 commented on #11489
thx, @sanlouise !  closing.

[2020-08-13 16:22] #11489 closed

[2020-08-13 16:25] sonntag-adam commented on #12156
![Screen Shot 2020-08-13 at 12.25.09 PM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/e36f0fcd-947b-40f3-a80d-5bb62631a0de)
##
![Screen Shot 2020-08-13 at 12.25.02 PM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/4d65b229-0a32-45cc-8083-4e9d3531c5d2)
##
![Screen Shot 2020-08-13 at 12.24.53 PM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8

[2020-08-13 16:42] tlei123 commented on #11342
@bradl3yC , once you can add local screenshots of the mocked 404 - VBMS & - DMC cases, I'll remove those cases from the Test Plan.

Thx much!

[2020-08-13 16:46] sshein commented on #11594
Just reading this thread. Can someone tell me in plain english what are the use cases currently when the button is not showing? I personally am confused about why we would ever want the submit button to disappear. Best practice for forms is to always show a button (not even have a disabled state), and rely on errors post-submit to tell the user what is going on.

[2020-08-13 16:48] johnhashva commented on #9538
That is correct.

[2020-08-13 16:49] leahkeeler commented on #11578
Moving ticket to Sprint 28 since this will require rework - the message was not approved

[2020-08-13 16:50] pnwstevan opened #12458 "Access for Stevan Arychuk"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Add a comment @department-of-veterans-affairs/vsp-operations to ping the operations team
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please

[2020-08-13 16:50] pnwstevan commented on #12458
Ping @department-of-veterans-affairs/vsp-operations as requested (hi team! ;) )

[2020-08-13 16:53] mmiddaugh commented on #12442
@davidconlon based on my review of the VAMC pages, I see a few items which could be requested:

- Location and contact information
- Photo of location
- Parking info
- Transportation services (DAV vans, shuttle services or other local transportation options)
- Campus/Bldg map, as appropriate
- Visitor policies
- Recurrent events?

[2020-08-13 16:57] ncksllvn commented on #12451
Added here, https://github.com/department-of-veterans-affairs/va.gov-team/pull/12448

@brangi @ethanteague @kelsonic please make changes as you see necessary. I plan on sharing on our Slack thread this afternoon or tomorrow.

[2020-08-13 16:59] andaleliz commented on #12181
Based on all the possible variations, I think the best place for this is to replace the PDF link. We don't want to send people away since there may be additional helpful information on page, or an online version a person could complete.

I put together two mock-ups with [minimum](https://vsateams.invisionapp.com/share/G2YF5AJC845#/428497812_detail_Page_With_Minimum_Components_-_Error) and [maximum

[2020-08-13 17:02] leahkeeler commented on #11639
moving to sprint 28 per above

[2020-08-13 17:03] leahkeeler commented on #11785
usability study extended due to no shows - moving to sprint 28

[2020-08-13 17:08] dneel-bah opened #12459 "STEM: Update program details summary page section"
As a developer, I need to remove the eligibility summary panel so that it reduces the risk of confusion when interacting with the update process.

## Assumption:
1. This work is completed behind the feature flag #7271.

## Acceptance Criteria
1. The "Rogers STEM Scholarship eligibility summary" panel is not displayed in the "Program details" accordion on the summary page (Chapter 6).

## Supportin

[2020-08-13 17:09] bkjohnson commented on #11691
As an update, I'm working on fixing the issues around `no-unused-vars` right now.

[2020-08-13 17:10] #9215 closed

[2020-08-13 17:10] #10798 closed

[2020-08-13 17:11] leahkeeler commented on #12052
Can this be closed out

[2020-08-13 17:16] leahkeeler commented on #12389
Can you please pull this into current sprint as unplanned to fix. @bradl3yC @rileyorr or @rebeccawalsh

[2020-08-13 17:23] jonwehausen opened #12460 "Health Care application data - Campaign Dashboard"
# COVID Dashboard Additions

## Instructions

Please fill out the following sections:
- [ ] Description
- [ ] Timeframe for Analytics Requested
- [ ] Analytics to Track Down
- [ ] Which Product Questions are you trying to answer?
- [ ] Additional Comments

## Description
Who is this request for?
    _Lauren Alexanderson_

## Timeframe for Analytics Requested
 - TBD

## Analytics to Track Down
- en

[2020-08-13 17:24] MickinSahni commented on #11335
👋 Hey @tlei123, great question. **When to use this form** is a custom field. Not all forms will have that so it falls into the minimal bucket.

[2020-08-13 17:29] Samara-Strauss commented on #11545
Endpoint that was shared on the meeting:

https://vbacrpapp2.vba.va.gov:39581/services <https://vbacrpapp2.vba.va.gov:39581/services>

This may not be a BGS endpoint. We're not sure what the BGS endpoints do and need to reach out for more clarification on what the endpoints they gave us do.

We should also reach out to VBA to see what the endpoints above link to.

There was also something about th

[2020-08-13 17:30] leahkeeler commented on #12194
![eFolders .png](https://images.zenhubusercontent.com/5e41d853bb7b6d67d84e6080/94ff1538-7cd2-4c92-93aa-2c65c2d9ee82)![eFolders .png](https://images.zenhubusercontent.com/5e41d853bb7b6d67d84e6080/31bfada4-00a2-4820-b1b3-3d9d9674b56c)![2020-08-10_11-29-32.png](https://images.zenhubusercontent.com/5e41d853bb7b6d67d84e6080/70285888-ac0a-41f9-9456-0c7d91555b0d)![2020-08-10_11-29-42.png](https://images.

[2020-08-13 17:31] rileyorr commented on #12389
@leahkeeler I'm not sure why I'm assigned to this ticket. This seems like content change on the frontend, so pulling it into the current sprint depends on @bradl3yC's bandwidth. Thank you for finding these content bugs, @tlei123! You're awesome!!

[2020-08-13 17:32] pnwstevan commented on #12457
Not sure your @mention worked for some reason.

Pinging @department-of-veterans-affairs/vsp-operations for visibility.

[2020-08-13 17:38] jenstrickland opened #12461 "Accessibility feedback for Project Kickoff -BAM2 [eFolders Migration]"
**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Point of Contact

**VFS Point of Contact:** Jennifer (VSA) & Trevor (VSP)

## Description

This ticket will house accessibility feedback for the project kickoff for eFolders migration.

### Must

1. Please document the url wher

[2020-08-13 17:47] lunascoop commented on #12308
@RLHecht the pages 2018, 2019 and current page have been updated to removed the year from the third bullet point. They are ready for review.

[2020-08-13 17:47] lunascoop commented on #10785
@RLHecht the pages 2018, 2019 and current page have been updated to removed the year from the third bullet point. They are ready for review.

[2020-08-13 17:51] #10947 closed

[2020-08-13 17:53] johnhashva commented on #12052
I have actually not had an opportunity (nor has @andaleliz I think) to review this build on staging for approval.  Should we do that now, or wait until any final changes are implemented as a result of the Platform reviews?

[2020-08-13 17:55] jsev-io commented on #12458
@Jeff-Hayter Requesting AWS Access
User: Stevan Arychuk

[2020-08-13 18:01] leahkeeler commented on #12052
@johnhashva Hang on until analytics and content reviews :)

[2020-08-13 18:07] andaleliz commented on #12181
Hold up! I just realized this is really closely related to #11380. Looking at this again to take the 2 alerts on one page into consideration.

[2020-08-13 18:19] DanielleThierryUSDSVA commented on #8020
Hi @lenaecb. Just checking in. Sounds like this is being pushed back to 8/28, correct?

[2020-08-13 18:22] meganhkelley commented on #9683
@Clark-W-Griswold great!

[2020-08-13 18:22] #9683 closed

[2020-08-13 18:24] meganhkelley commented on #12148
Closing this — this is being rolled into our usual frontend developer support rotation.

[2020-08-13 18:24] #12148 closed

[2020-08-13 18:39] #11828 closed

[2020-08-13 18:40] tlei123 commented on #10638
I'm jumping back in.  @pjhill is on parental leave, returning on/after 8/26.  VSP will have QA-review covered.

[2020-08-13 18:40] Clark-W-Griswold commented on #10095
Looks like this might be a form configuration issue. I have discovered other forms which use a different pattern to display this same UI. In these cases the HTML produced will contain the desired "heading, description, label, input" pattern suggested.

![image.png](https://images.zenhubusercontent.com/5db31b5573e8f70001d9e0c8/3a66773a-dff5-4c8a-989b-15f317c5f275)

[2020-08-13 18:41] cvalarida commented on #8496
Yessssss.....
https://github.com/department-of-veterans-affairs/generator-vets-website/pull/18

[2020-08-13 18:41] #8496 closed

[2020-08-13 18:43] sonntag-adam commented on #11354
in staging, testing passes QA.

[2020-08-13 18:43] #11354 closed

[2020-08-13 18:48] mmiddaugh opened #12462 "Automate list of facilities offering services as displayed at system level"
## Issue Description

A list of facilities offering a particular health service is displayed at the system level. This list may change over time and should be automated for accuracy and ease of maintenance.

<details>

<summary> For example </summary>
![image.png]
(https://images.zenhubusercontent.com/5d8a47393ac3440001d1a2ed/c577842f-e15b-4baa-8c16-6e8b04a9a108)

</details>
---
## Tasks
- [ ] Fac

[2020-08-13 19:04] RLHecht commented on #12446
@kelsonic Here you go! Please let me know if you have questions about any of this. @DanielleThierryUSDSVA I know you wanted to do a read through this all too. If it's easier you can check to see if I've already caught what you caught so we don't have to double the work. Or if you'd rather wait till this is updated and then do a second check afterward.

[2020-08-13 19:05] jason-gcio opened #12463 "Create CH31 PDF for Eventual Submission to VBMS"
## Background
The VRE CH31 feature does not have a backend like some other features where structured data is being sent to a lower environment or system for data processing; Central Mail acts like a PDF depository.  Once a pdf has been created, it can then be sent to Central Mail likely accompanied by certain requisite data pieces that help identify who the PDF belongs to and its final destination

[2020-08-13 19:06] RLHecht commented on #10756
Kelson created ticket #12446 to track all the changes that need to be made. I've added all my comments in there. FYSA @DanielleThierryUSDSVA

[2020-08-13 19:06] Clark-W-Griswold commented on #11594
Hey @sshein! Here would be the flow from a user perspective:

- User lands on review page
- User clicks submit button
- Submit button transitions to disabled state
- Code submits data to the server
- ERROR from server received
- This error does not map to a specific error state that we handle
- Default error state is loaded on the UI

If the environment is production:
- This default error state DO

[2020-08-13 19:08] jhonnyoddball commented on #11996
Done!

[2020-08-13 19:08] #11996 closed

[2020-08-13 19:08] bradl3yC commented on #11342
@tlei123 for your review:

### DMC 404
![DMC404](https://user-images.githubusercontent.com/6165421/90176176-8fffb200-dd76-11ea-813d-b025c59fc1db.png)

### VBMS 404
![VBMS404](https://user-images.githubusercontent.com/6165421/90176188-97bf5680-dd76-11ea-9a18-e847f0da7dc9.png)

### Both VBMS DMC 404
![BOTH404](https://user-images.githubusercontent.com/6165421/90176294-b9204280-dd76-11ea-9efc-2d73cae

[2020-08-13 19:19] mmiddaugh commented on #11460
@mpelzsherman @brangi thank you for your excellent collaboration and awesome work. We do need to make a few changes based on our design review:

## Changes in the search box
1. Change labels for search boxes

- Search by city, state or postal code -> City, state or postal code
- Choose a VA facility type -> Facility type
- Choose a service type -> Service type

<details>
<summary> Spec </summary>

[2020-08-13 19:25] sshein commented on #11594
got it! thank you. I'm going to bring this up with the design system council tomorrow if there's time and get back with the recommendation. Can you snag a screencap of the default state in staging with the "submit again" link for me?

[2020-08-13 19:28] dneel-bah opened #12464 "STEM: Create End-to-End tests for form 10203"
As a developer, I need to create end to end tests for form 10203, so that there is test coverage to use to test form functionality when there are form changes.

## Assumptions
1. DEPO is moving to Cypress instead of NightWatch, so we should write these tests in Cypress.

## Acceptance Criteria
1. An end to end test is created for each branch of the 10203 to submission.
   a. Axe checks are include

[2020-08-13 19:33] #11698 closed

[2020-08-13 19:36] dneel-bah opened #12465 "STEM: Put 10203 behind a password protected page in production"
As a developer, I need to put the STEM 10203 form behind a password protected page in production so that it can be tested before the limited rollout begins.

## Assumptions:
1. This is temporary until we are able to roll this form out to the larger population via the limited rollout functionality.

## Acceptance Criteria
1. The 10203 form located here (https://va.gov/education/other-va-education-b

[2020-08-13 19:44] Samara-Strauss commented on #12010
@mshea0606 is this on the schedule for this sprint? Looks like Sandra needs some design help before she can work on #12014

[2020-08-13 19:48] lunascoop commented on #12347
@RLHecht The tables we discussed this morning have been moved to the "on or after 1993" section of the page.

- http://preview-prod.vfs.va.gov/preview?nodeId=1012

- http://preview-prod.vfs.va.gov/preview?nodeId=6799

- preview-prod.vfs.va.gov/preview?nodeId=6203

[2020-08-13 19:53] mnorthuis opened #12466 "VR&E Left Nav nesting is incorrect/missing"
## What happened?
_Describe in detail what went wrong; screenshots, videos, or gifs are strongly encouraged_

The left nav in the Veteran Readiness and Employment section of va.gov is not correctly reflecting the intended hierarchy, and one page is missing from the left nav.

![image.png](https://images.zenhubusercontent.com/59ca6a73b0222d5de4792f1d/bca4dd94-653a-4fea-8e9c-c7016d73fc8d)

## Specs:

[2020-08-13 19:53] mnorthuis commented on #12466
@bethpottsVADEPO Can you review the left nav labels and make sure I have them accurate?

[2020-08-13 19:54] lunascoop commented on #2212
This redirect has gone live and confirmed as working. Closing ticket and sending final stakeholder communication. Thanks everyone!

[2020-08-13 19:54] #2212 closed

[2020-08-13 19:54] dneel-bah opened #12467 "STEM: Add "use EVSS" Feature Flag"
As a developer, I need a way to toggle when the SCO email is sent from the staging environment so that SCOs are not being sent test data unnecessarily.

## Assumptions:
1. Feature flag for SCO email will need to be available in both vets-api and vets-website repos.

##Tasks
1. Follow feature flags documentation to create front-endback-end STEM SCO email feature flag.
2. Follow feature flags docume

[2020-08-13 20:01] mmiddaugh commented on #12442
Recommendations from forthcoming user guide per Kevin Walsh:

Users provide image which is 1000 pixels or wider, in jpg or png.
Image can be full color
Users are able to specify the crop in the CMS, but if they don’t, the CMS will crop it for them.

The front end uses the 7:2 aspect ratio, displays the image at 1050 pixels and applies the blue treatment with CSS.

[2020-08-13 20:02] #11964 closed

[2020-08-13 20:03] jonathanjnelson commented on #11594
Does this work, Shawna?

<img width="509" alt="Screen Shot 2020-08-13 at 3 01 53 PM" src="https://user-images.githubusercontent.com/58444931/90181429-094ad500-dd76-11ea-93b1-a6062e46178b.png">

[2020-08-13 20:05] sshein commented on #11594
yes! thank you.

[2020-08-13 20:05] andaleliz commented on #12181
Alright, after exploring our options, I still think this is the way to go. I added some screens ([min](https://vsateams.invisionapp.com/share/D8YF92DRX3V) and [max](https://vsateams.invisionapp.com/share/SPYF92NYMBZ) components) to the prototype where you can see the invalid PDF on pages that also have an info alert.

Not ideal, but I think it clearly communicates information.  My understanding is

[2020-08-13 20:13] andaleliz commented on #11380
Is there a use case where the invalid PDF and an information alert would be needed?  Or does it just need to be one alert?

I focused on #12181 as it seemed more urgent. Came here, read the description, and failed to read the comments before thinking through the scenario of needed both.

The solution I provided in #12181 has the alert **replacing** the PDF link. I think having an alert saying "the

[2020-08-13 20:16] ncksllvn commented on #12250
This is ready, https://www.va.gov/manage-va-debt

[2020-08-13 20:17] theodur commented on #12020
This ticket is blocked at the moment as `reverse_field_region_page` is only present in some of the entities, and the ones it is present for are blank arrays.

[2020-08-13 20:19] dneel-bah opened #12469 "STEM: EVSS dependent functionality is behind a feature flag"
As a developer, I need a way to toggle when the SCO email is sent from the staging environment so that SCOs are not being sent test data unnecessarily.

## Assumptions:
1. This leverages the feature flag in #12467.

## Acceptance Criteria
1. The STEM SCO email behavior is based on the feature flag status:
    a. When off, no email is sent to the SCO.
    b. When on, email is sent to the SCO
2. Whe

[2020-08-13 20:23] jason-gcio opened #12470 "HTML Adjustment for 686 "On this page" from eBenefits"
## Why you're here
- Content support for static public website pages
- Content support for authenticated application or tools
- For specific copy editing tasks
- Support for redirects that have **first been vetted by the VSP IA team**
- Engineering support for implementation of REACT sign in widgets

## Steps to complete intake request
- [ ] Submit this request when VSA Public Website team interve

[2020-08-13 20:27] ncksllvn commented on #12451
Postmortem added here, https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/facilities/facility-locator/post-mortem/missing-sidebar-mobile.md, will share later

[2020-08-13 20:29] jenniferlee-dsva commented on #12181
@andaleliz - This is so helpful! Could we swap the order of how these would appear if they both appeared (yes, rare)?

- It would be nice if the informational alert - if used - always appeared below the tool CTA button (if there's one). That way, informational content isn't given more priority over the tool CTA or the form download.

- RE UX: Want to confirm I understand the flow: the error messag

[2020-08-13 20:29] #11954 closed

[2020-08-13 20:30] sshein commented on #12470
Slack discussion about this can be found here: https://dsva.slack.com/archives/CLY6Q69RV/p1597167248200000

[2020-08-13 20:30] jason-gcio commented on #12470
Tagging @sshein here in case she would like to add any other context for this.   Link to previous conversation: https://dsva.slack.com/archives/CLY6Q69RV/p1597167248200000

[2020-08-13 20:39] jenniferlee-dsva commented on #12181
Header text feedback - Instead of "This form is not available," let's use: `This form link isn't working`

We want to avoid saying 'not available' bc that could be misinterpreted to mean that the form is removed or retired by VA, which isn't the case with these invalid PDF links.

[2020-08-13 20:45] peggygannon commented on #12298
@lenaecb @jbalboni Is there a suggested test user I should use to see the CC and direct schedule flow on staging? I'm not able to see those screens and wondering if I should be using a certain sign in to see them.

[2020-08-13 21:01] leahkeeler commented on #12389
Hey @rileyorr - just fyi in case you need to change in prototype, if not, nothing to do

[2020-08-13 21:02] erikphansen commented on #11907
This should be resolved now. Focus is on the "Your profile" H1 if you get to the Profile via the main nav.

[2020-08-13 21:03] erikphansen commented on #11888
@jenstrickland this should be resolved now.

[2020-08-13 21:11] mmiddaugh commented on #11459
Feedback from team review has been added in a comment on #11460

[2020-08-13 21:11] #11459 closed

[2020-08-13 21:27] #12407 closed

[2020-08-13 21:48] #7767 closed

[2020-08-13 21:58] mmiddaugh commented on #11198
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/facilities/vet-centers/discovery/vet-centers.md

[2020-08-13 22:20] cohnjesse opened #12471 "Adjust Submit URL for CH31"
# Background
Now that the BE controller has been set up for the VRE Chapter 31 form we need to change the URL that the front end submits data for to that new URL.

`veteran_readiness_employment_claims`

## Tasks
- [ ] Adjust `submitURL` to URL provided by BE
- [ ] Submit a PR for review

## Acceptance criteria
- [ ] The submission URL for the VRE Chapter 31 form has been updated to the URL for the

[2020-08-13 22:22] #11864 closed

[2020-08-13 22:22] #11205 closed

[2020-08-13 22:22] #11017 closed

[2020-08-13 22:22] #11008 closed

[2020-08-13 22:22] #11720 closed

[2020-08-13 22:22] #11717 closed

[2020-08-13 22:22] #11065 closed

[2020-08-13 22:22] #10146 closed

[2020-08-13 22:22] #10148 closed

[2020-08-13 22:22] #11719 closed

[2020-08-13 22:22] #11521 closed

[2020-08-13 22:22] #11722 closed

[2020-08-13 22:22] #11219 closed

[2020-08-13 22:22] #11716 closed

[2020-08-13 22:22] #11058 closed

[2020-08-13 22:22] #11718 closed

[2020-08-13 22:22] #11063 closed

[2020-08-13 22:22] #11062 closed

[2020-08-13 22:23] #10797 closed

[2020-08-13 22:23] #11061 closed

[2020-08-13 22:23] #11769 closed

[2020-08-13 22:23] #11059 closed

[2020-08-13 22:23] #11217 closed

[2020-08-13 22:23] #11060 closed

[2020-08-13 22:23] #11075 closed

[2020-08-13 22:23] #11715 closed

[2020-08-13 22:23] #11203 closed

[2020-08-13 22:23] #11520 closed

[2020-08-13 22:23] #11726 closed

[2020-08-13 22:23] #11518 closed

[2020-08-13 22:23] #10142 closed

[2020-08-13 22:23] #10143 closed

[2020-08-13 22:24] #10145 closed

[2020-08-13 22:24] #11712 closed

[2020-08-13 22:25] #11064 closed

[2020-08-13 22:28] peggygannon commented on #12378
@rebeccawalsh Here you go. My edits to the "why might I have this debt" content
Please let me know if you have any questions. The document shows track changes in case you need to share with SME?

cc @leahkeeler

[https://app.zenhub.com/files/133843125/f56c66a7-a715-4bfa-adf7-68a695621a93/download](https://app.zenhub.com/files/133843125/f56c66a7-a715-4bfa-adf7-68a695621a93/download)

[2020-08-13 22:31] jason-gcio opened #12473 "Implement Flipper Component for CH31"
## Background
With the launch of the CH31 very quickly approaching, we need to ensure there is plenty of time for implementation and testing of the flipper component on the current [landing page](https://www.va.gov/careers-employment/vocational-rehabilitation/how-to-apply/).

## Goal
Create the initial components needed for the Flipper functions, button labels

## Considerations
- This landing pag

[2020-08-13 22:52] peggygannon commented on #12305
Uploading Word docs of the VA.gov Error messages and the Error message styleguide:

[https://app.zenhub.com/files/133843125/94b59c05-4380-43d8-ba69-d2ba038a7569/download](https://app.zenhub.com/files/133843125/94b59c05-4380-43d8-ba69-d2ba038a7569/download)[https://app.zenhub.com/files/133843125/ffbf7c24-1de2-4e9b-9f41-8a992974f0e8/download](https://app.zenhub.com/files/133843125/ffbf7c24-1de2-4e9b

[2020-08-13 23:20] bmcgrady-ep commented on #6356
Domo Dataset Audit Updates:
Dataset Name | Backup Status | Backfill Status | QA Status
------------ | ------------- | ------------- | -------------
[Partitioned] VA.gov COVID-Related Page Metrics by Date | ✔️ | ✔️  | ✔️ **PASS**
[Partitioned] COVID FAQ Entrance Data | ✔️ | ✔️  | ✔️ **PASS**
[Partitioned] COVID Navigation Events (Apr 21 - current) | ✔️ | Wasn't needed  | ✔️ **PASS**
[Partitioned] C

[2020-08-13 23:44] RLHecht commented on #12308
Thanks, @lunascoop This looks good. Closing this ticket and will continue work with SME approval and publishing in #12403 FYSA @bethpottsVADEPO @MickinSahni

[2020-08-13 23:44] #12308 closed

[2020-08-13 23:49] RLHecht commented on #10785
Thanks, @lunascoop Closing this ticket and continuing work in #12403 to send to SMEs and publish. FYSA @bethpottsVADEPO @MickinSahni

[2020-08-13 23:49] #10785 closed

[2020-08-14 00:17] tlei123 commented on #11335
@MickinSahni , [TestRail test-cases](https://dsvavsp.testrail.io/index.php?/suites/view/9&group_by=cases:section_id&group_order=asc&group_id=187) now updated, based on today's discussions and your Use-Cases updates.  TR links also added to the [Test Cases doc](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/find-va-forms-redesign/form-detail-landing-pages/form-de

[2020-08-14 01:18] #12386 closed

[2020-08-14 03:05] bsmartin-ep commented on #12399
@sanlouise -

If possible, both the code and the status/description:

`'error-key': '204_the connected application's grant have been deleted'`

...and...

`'error-key': '401_Not Authorized'`

Thanks!

[2020-08-14 03:09] ala-yna opened #12474 "10-10EZ Address Project"
See: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/health-benefits/healthcare-application/10-10ez-address-project/project-outline.md

[2020-08-14 04:26] mmiddaugh opened #12475 "[CONSIDER] handling for 911 as a phone number"
## Issue Description
We may need special front end handling for 911 as a phone number:

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to an Epic** (what body of wo

[2020-08-14 04:33] mmiddaugh opened #12476 "Add optional email address field for contact (VAMC)"
## Issue Description
We need the ability to add an email address (optional, not required), in addition to phone number

Examples:

<details>
<summary> Registry exams at Pittsburgh VA Medical Center-University Drive </summary>

![image](https://user-images.githubusercontent.com/55411834/90214000-78471e80-ddb4-11ea-9dff-02b5d68a0efc.png)

</details>

---

<details>
<summary> Minority Veterans Progra

[2020-08-14 11:16] sonntag-adam commented on #12156
https://dsvavsp.testrail.io/index.php?/tests/view/11239&group_by=cases:section_id&group_order=asc&group_id=51

[2020-08-14 12:23] michaelkimball commented on #12371
I have SOCKS proxy access

[2020-08-14 12:41] DanielleThierryUSDSVA commented on #12446
Thank you, @RLHecht! I think it does make sense for me to do a second check after for most of the pages, yes (see below for exception). That way, I can be a fresh pair of eyes on the updated content. @kelsonic, just let me know when these updates are made and I'll do a final check.

@kelsonic 2 other things:

1. We need to replace the legacy content with the new unauthenticated content for the **S

[2020-08-14 12:41] sonntag-adam commented on #11766
In staging. Closing story.

[2020-08-14 12:42] #11766 closed

[2020-08-14 13:06] ccruzgra commented on #11953
Content updates:

https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/education-careers/school-comparison-tool/school-ratings/design/content-doc.md

[2020-08-14 13:14] ccruzgra commented on #12396
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/education-careers/stem/stem-standalone-10203/content/stem-22-10203-content-post-staging-review-v0.5.md

[2020-08-14 13:17] ccruzgra commented on #12396
STEM 10203 Prototype V0.5: https://bahdigital.invisionapp.com/share/DGIAEP75WKA

[2020-08-14 13:17] ccruzgra commented on #12398
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/education-careers/stem/stem-standalone-10203/content/stem-22-10203-content-post-staging-review-v0.5.md

[2020-08-14 13:20] meganhkelley commented on #11358
From Dan:

 OVERALL_REVIEW_COMMENT: >
        # Custom error message found
        Please note that this error message would override the default forms library error message for this page.
        ## What you can do
        Custom error messages will require explicit approval from VSP content & design. This can be flagged during a regular collaboration cycle review or brought to #vfs-platform-supp

[2020-08-14 13:29] ricetj commented on #11699
Hey @pnwstevan you should be good to go for those repos now. If It a try and let me know.

[2020-08-14 13:29] rianfowler commented on #11358
Does this flag need to be a blocking approval? I don't think the flag for manual review feature supports this yet.

[2020-08-14 13:41] rileyorr commented on #12389
@leahkeeler awesome, no worries! I usually don't make content changes in prototypes if the tool's already in staging/prod. I am always available to review updates to the frontend, though! :)

[2020-08-14 13:56] jonwehausen commented on #12274
Pivoted to taking care of this request personally.

Configured single [BQ dataset](https://va-gov.domo.com/datasources/fab61f8d-5f95-44ea-bdda-59aacf012439/details/overview) to house this data by date and geographic location.

@amycesal Mockup charts have been added to the bottom of the dashboard ready to work your magic

@bmcgrady-ep could I just have you briefly QA the charts for accuracy?

[2020-08-14 14:02] 1Copenut commented on #12461
@jenstrickland VSP agrees with this feedback. We are :100:

[2020-08-14 14:06] jenstrickland commented on #12461
@leahkeeler A11y feedback is ready for your team's review.

[2020-08-14 14:08] rileyorr commented on #12348
Added Brad to this ticket since he'll be sitting in on the sessions in case there's bugs :)

[2020-08-14 14:08] andaleliz commented on #12181
@jenniferlee-dsva you're more familiar with the variety of information alerts that could appear on these pages. If none of that information would ever be more important than the CTA, it definitely makes sense to put it below. No prob to make that update.

I see your point that it _could_ be helpful. I'm hesitant to recommend displaying it for a few reasons:
-  People don't always read alerts. They

[2020-08-14 14:14] andaleliz commented on #11012
I agree that it's not typical, but there were people in our study who are both Veterans, and people who work with Veterans.  They were interested in the links in that audience box. We can leave it out if you feel strongly about it, but wanted to raise this point.

[2020-08-14 14:17] ccruzgra commented on #11958
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/education-careers/school-comparison-tool/school-ratings/research/research-plan2.md

[2020-08-14 14:18] RLHecht commented on #12347
Thanks @lunascoop @bethpottsVADEPO Can you look at one of these to make sure we moved everything that should be and in the right position? If they are good, they're ready to send to SMEs for next steps. FYSA @MickinSahni

[2020-08-14 14:20] bethpottsVADEPO commented on #12466
@mnorthuis You got it right. Thanks for noticing this.

@RLHecht Can you make these changes?

[2020-08-14 14:30] leahkeeler commented on #12461
Thank-you @jenstrickland

[2020-08-14 14:42] luke-gcio commented on #11900
UAT plan and conversation guide is here and ready to go:

https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/disability/disability-compensation-claim/bdd/BDD%20Research/UAT-August-2020/uat-plan-bdd.md
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/disability/disability-compensation-claim/bdd/BDD%20Research/UAT-August-2020/conversa

[2020-08-14 14:42] #11900 closed

[2020-08-14 14:42] murrayra commented on #12400
Hi Everyone,

Here's the first story for IRIS. Here's the original [story](https://app.zenhub.com/workspaces/orchidiris-5f29c3a0250c8f001f1397ac/issues/department-of-veterans-affairs/orchid/45) for reference.

**WIREFRAMES**

- Going with single page for now until we determine all required content - then we'll be able to break this up into form chapters as necessary, as we're still working with st

[2020-08-14 14:42] luke-gcio commented on #11812
Still working through integration issues, moving to sprint 28.

[2020-08-14 14:44] luke-gcio commented on #11802
Completed and synthesized.

[2020-08-14 14:44] #11802 closed

[2020-08-14 14:46] luke-gcio commented on #11803
There have been some adjustments to the priorities.  This ticket will move forward to sprint 28 as we continue to evolve CST initial work.

[2020-08-14 15:04] #12037 closed

[2020-08-14 15:06] #12125 closed

[2020-08-14 15:08] bradl3yC commented on #12389
@tlei123 this has been merged and should be in staging to validate in the next 30-40 minutes

[2020-08-14 15:29] sshein opened #12477 "Request access to Google Analytics"
# Request Google Analytics access

## What this form is for
Use this template to request access to Google Analytics

## User Email Address
shawna@adhocteam.us

If the user has a VA.gov email address or does not yet have a google account, they will need to create one by visiting [this link](https://accounts.google.com/signup/v2/webcreateaccount?continue=https%3A%2F%2Faccounts.google.com%2FManageAcc

[2020-08-14 15:43] sonntag-adam commented on #12156
https://dsvavsp.testrail.io/index.php?/tests/view/11239&group_by=cases:section_id&group_order=asc&group_id=51

[2020-08-14 15:47] MickinSahni commented on #11332
Removing from sprint until PDF error and in-body alert tickets are completed

[2020-08-14 15:59] mmiddaugh opened #12478 "Enable urgent care pharmacy searches in Facility Locator"
**This change needs to go to Prod on 9/1/2020. No earlier.**

## Description

OCC has resolved their business processes impacting urgent care pharmacy networks and asked that we enable urgent care pharmacy searches in Facility Locator

## Tasks
- [ ] Unhide the urgent care pharmacy option in the Facility type dropdown
- [ ] Ensure the datalayer for tracking searches is in place
- [ ] Remove flippe

[2020-08-14 16:02] andaleliz commented on #12329
I've heard from other VA researchers that they experienced a high abandonment rate and weren't happy with the results of their sorts with 60+ cards.  Their recommendation is to keep it to 20-30 cards (which also closely aligns with [the best practices from usability.gov](https://www.usability.gov/how-to-and-tools/methods/card-sorting.html#:~:text=Best%20Practices%20for%20Card%20Sorts,especially%20

[2020-08-14 16:03] RLHecht commented on #12466
@mnorthuis This is fixed. Should be live after today's deployment. FYSA @bethpottsVADEPO  Here's the new nav:
<img width="297" alt="Screen Shot 2020-08-14 at 12 02 53 PM" src="https://user-images.githubusercontent.com/48728214/90269114-17f0c500-de26-11ea-93b9-5b311b53f814.png">

[2020-08-14 16:04] mdewey commented on #12402
API merged into master, waiting for next deployment for staging

[2020-08-14 16:31] zurbergram commented on #12394
https://github.com/department-of-veterans-affairs/vets-website/pull/13837/

[2020-08-14 16:31] Mottie opened #12479 "[Documentation] Checkbox group example"
### What is your documentation request, question, comment, or issue?

For the example on this page: https://department-of-veterans-affairs.github.io/veteran-facing-services-tools/forms/available-features-and-usage-guidelines#checkbox-group

1. The screenshot doesn't match the code
2. I think a more common usage for this pattern would include validation (even though HCA form doesn't have validation

[2020-08-14 16:44] dmccurdybah commented on #12401
PR: https://github.com/department-of-veterans-affairs/vets-website/pull/13864

[2020-08-14 17:02] luke-gcio opened #12480 "[Development] CST: Claims Estimation Date"
## Issue Description
We have heard from our stakeholders that the estimate for time to completion of a claim is not correct and too far out.  This story is to investigate where/how this is shown/calculated and then probably remove it like we did for the appeals.

Here is the note:

## Acceptance Criteria
- [x] Discover where/how we make the calculation
- [ ] Potentially code up a removal of this e

[2020-08-14 17:32] andaleliz commented on #12181
I have some more thoughts on the text in the alert box:

- Instead of `This form link isn't working` can we say something like `The form is temporarily unavailable for download`? Users won't necessarily know what form link we're talking about, or even expect a link, when they land on the page, especially if we hide it.

- Can we expose the email address in the text so that someone who doesn't have

[2020-08-14 17:35] mandifrances commented on #12276
Hi @ala-yna I have schedule this for Tuesday the 18th @ 11:30am ET.

[2020-08-14 17:37] dneel-bah commented on #9627
Meeting held; closing out ticket.

[2020-08-14 17:37] #9627 closed

[2020-08-14 17:43] luke-gcio commented on #10838
Initial design concept complete, will work on another story for next round.

[2020-08-14 17:43] #10838 closed

[2020-08-14 17:45] #10443 closed

[2020-08-14 17:51] mmiddaugh commented on #12442
User feedback from Ryan Stubblebein:

We should consider explaining the rationale for the requested specification to users who might find the requests weird or difficult (In the case of system photos, the aspect ratio has been chosen to get our content higher on the page. Other images are closer to the 2:1 ratio.)

There are no standards for images on the web as far as ratios go, per Ryan T.

[2020-08-14 18:04] erikphansen commented on #11695
@tressaellen should confirm this looks decent when she gets back.

[2020-08-14 18:04] erikphansen commented on #11907
@jenstrickland should validate that this works correctly.

[2020-08-14 18:05] erikphansen commented on #11888
@jenstrickland should validate this.

[2020-08-14 18:22] johnhashva commented on #11568
Update:

- With VHA/JTO approval a new uniform content approach to VA listings information was created/authored (using the Castlight datasheet/fields--attached here) and provided to Castlight for import/implementation. This will replace all the data/info that Castlight has independently acquired via phone calls.

- Castlight has been instructed to contact Dept of Veterans Affairs Veteran’s Health

[2020-08-14 18:28] alexpappasoddball opened #12483 "Create a working prototype"
## Description

Now that the initial audit of the documentation is complete, plus we have an idea of how the navigation can be updated to reflect all the aspects, the next logical step is to create a working prototype to get the idea out there to ensure it is going to work for all teams.

## Goal

Create a branch of the documentation site repo and get it working locally to start making changes.  O

[2020-08-14 18:39] ericbuckley opened #12484 "add SSOe failure login stats for invalid SAML Response"
In the v1 sessions controller we only issue failure login stats if the SAML response is valid on line 57.  In the case where the SAML Response is invalid, we should attempt to issue the failure login stats to see what conditions are causing the following error.

http://sentry.vfs.va.gov/vets-gov/platform-api-production/issues/29280

[2020-08-14 18:39] delli-gatti-michael commented on #10983
Local testing complete

[2020-08-14 18:40] delli-gatti-michael commented on #10983
Testrail test case:
https://dsvavsp.testrail.io/index.php?/tests/view/11113&group_by=cases:section_id&group_order=asc&group_id=46

[2020-08-14 18:40] Mottie commented on #12480
In the code, we:

- Get the claim status from EVSS (`/v0/evss_claims_async`)
- Get the `maxEstDate` value from a particular claim
- Make a calculation of "today" plus 2 years
- If the `maxEstDate` if greater than "today" plus 2 years, we show the user `Estimate not available`, and nothing else.
- For dates within the 2 years, we show the `maxEstDate` AND
  - If the `maxEstDate` is less than "today

[2020-08-14 18:40] Mottie commented on #12480
I'm not sure what needs to be done here?

[2020-08-14 18:43] ericbuckley opened #12485 "capture invalid SSOe SAML Response payload"
Debugging invalid SAML Responses from eauth.va.gov has been difficult because it's not always logged on their side.  When a validation issue is raises on line 57, we should persist the value to the `PersonalInformationLog` table, so we can debug.

Note: that table is set up to store PII, so no need to obfuscate any data in the response before saving.

[2020-08-14 18:44] #11952 closed

[2020-08-14 18:44] #11953 closed

[2020-08-14 18:44] #11958 closed

[2020-08-14 18:44] #12396 closed

[2020-08-14 18:45] #12398 closed

[2020-08-14 18:45] lunascoop opened #12486 "Clone historic 2019 Pension-Veterans rates tables"
Tasks:
URL: https://www.va.gov/pension/veterans-pension-rates/

- [x] Clone current Pension - Veterans rates page in Drupal.
- [x] Copy over rates from legacy historic page, https://www.benefits.va.gov/PENSION/rates_veteran_pen18.asp
- [ ] Copy edit and doublecheck rates and new math examples. Randi

Epic: #10435

## Acceptance Criteria
- [ ] Page reviewed and ready to send to stakeholders

[2020-08-14 18:48] ericbuckley opened #12487 "add SSOe application logging to new_stats and login_stats"
Our statsd (grafana) success rate is determined by looking at the quotient of the `login_stats` call over the `new_stats` call.  We should add application logging values to these methods, so we can calculate that same value when looking at the application logs.

[2020-08-14 18:48] delli-gatti-michael commented on #11730
No more overlap with "Housing"

![Screen Shot 2020-08-14 at 2.47.43 PM.png](https://images.zenhubusercontent.com/5c07f000391a6f6357adc430/628ae86a-53f6-4db7-be9b-f1bb48c62b04)

[2020-08-14 18:51] delli-gatti-michael commented on #11730
@department-of-veterans-affairs/uxbah The latest is now live on Staging

[2020-08-14 18:52] christine-dillman commented on #6642
Closing.  This ticket should have moved to the Health Website Pages.

[2020-08-14 18:52] #6642 closed

[2020-08-14 18:52] ericbuckley opened #12488 "update SSOe statsd metrics in saml_request_stats and saml_response_logging"
The `saml_request_stats` method does not capture the "type" value, that should be added so we can make the distinction on the grafana dashboard.

The `saml_response_logging` method does not capture and statsd value.  We should add one, capturing both the "authn" and "type" values, so we can calculate a SAML response over request rate in the grafana dashboard.

[2020-08-14 18:53] lunascoop commented on #10779
Hi @RLHecht I've created the Drupal page and updated some of the formatting for the current 2020 page (i.e.,  adding "in US $" to table headers, removing dollar sign from numerical amounts on said tables, removing year from 3rd bullet point in notes section (2nd and third notes section), reformatted historic rates section). I made those same changes to the historic pages (I deleted the historic ra

[2020-08-14 18:54] lunascoop commented on #12486
Hi @RLHecht I've created the Drupal page and updated some of the formatting for the current 2020 page (i.e.,  adding "in US $" to table headers, removing dollar sign from numerical amounts on said tables, removing year from 3rd bullet point in notes section (2nd and third notes section), reformatted historic rates section). I made those same changes to the historic pages (I deleted the historic ra

[2020-08-14 18:55] ericbuckley opened #12489 "SPIKE: review login stats for v0 and v1 authentication"
Review the v0 and v1 sessions controller `new_stats` and `login_stats` methods to make sure they are being evaluated in identical ways.  If they are not then we can't compare the login success rates on the grafana dashboard.

[2020-08-14 18:57] patrickvinograd opened #12490 "Enhance smoke tests with CodeBuild report feature"
"As an SSO product owner or developer, I want more granularity about which SSO smoke tests are passing or failing without having to read through the raw logfile."

Optional enhancement: once the smoketest job in #6177 is working reliably, it would be great to have it spit out a report that can be surfaced in the codebuild console. Per this blog post, you can add a definition of a report file to th

[2020-08-14 18:58] lunascoop commented on #12470
Looping you in @DanielleThierryUSDSVA

[2020-08-14 19:01] sshein commented on #12470
this is an particular use case of potentially a much broader question - how do we make sure the "On this page" table of contents component is an actual "component" both in Drupal and in our design system, designed in a single consistent way (e.g. the way it's designed on the Pittsburg pages https://www.va.gov/pittsburgh-health-care/health-services/

[2020-08-14 19:02] sshein commented on #12470
ideally we would solve for the smaller use case (Jason's page) but also document and start solving for the larger use case

[2020-08-14 19:05] jbalboni commented on #12358
I tried this out this afternoon:

Pros:
- Writing mocks for each request is centralized in one location, which is convenient
- Setup is pretty easy

Cons:
- We would lose the ability to do local testing in IE, because IE doesn't support service workers

The latter is a pretty big con to me, so I don't recommend we switch over to using this. However, I think we could centralize our mocking code and

[2020-08-14 19:15] RayShapouri commented on #4436
Is this for SSOi as well or just SSOe?

[2020-08-14 19:22] mmiddaugh opened #12491 "Left Nav doesn't build in DevShop"
## What happened?

Devshop instances for VISN-19 build without Left Navigation, including:

- Cheyenne health care
- Eastern Colorado healthcare
- Western Colorado healthcare

<details>
<summary> Example screenshot </summary>

![image (45).png](https://images.zenhubusercontent.com/5d8a47393ac3440001d1a2ed/16aff37d-1e79-49c9-8db7-e4d24b7823a1)

</details>

## Acceptance Criteria
- [ ] _All content

[2020-08-14 19:30] jenniferlee-dsva commented on #12181
@andaleliz  - bummer - I was trying to answer in-line ^ and Github lost all my replies! So instead I will summarize here but kind of keeping it short bc I don't want to recreate all the reasons.

**Summary:**

- Alert should appear AFTER the user clicks on the link - just like a regular  error message.
- Okay to hide the bad link with the message after that point, but then could we plop the bad ur

[2020-08-14 19:30] dmccurdybah commented on #12459
PR: https://github.com/department-of-veterans-affairs/vets-website/pull/13875

[2020-08-14 19:43] andaleliz commented on #12181
The alert copy updates make sense based on the flow you outlined - thank you!

I think that's a good solution.

Nick can speak to that better than I can. If it does cause spam, is there a contact form or something else we can offer to people? I have personally felt the frustration of these kinds of links online and not been able to do anything because I couldn't see the email address; I'd hate to

[2020-08-14 19:47] alexpappasoddball commented on #11589
@thilton-oddball can you link your WIP spreadsheet here and we can close this ticket as we have enough to get started on the prototype which I created a ticket for already!

[2020-08-14 20:00] jenstrickland commented on #11888
This issue is resolved. There is a typo in the code where the `div data-widget-type="banners" data-homepage-banner-content="` ends without closing before the `<p>`. Do you want me to open a ticket to address, or just handle it?
![Screen Shot 2020-08-14 at 3 57 33 PM](https://user-images.githubusercontent.com/57469/90287991-f48a4200-de46-11ea-9f02-b8b4c7ac89d6.png)

[2020-08-14 20:00] #11888 closed

[2020-08-14 20:10] alexpappasoddball commented on #9970
@erluti Is this still an ongoing issue?  @johnpaulashenfelter for visibility

[2020-08-14 20:13] bmcgrady-ep commented on #12350
This is now staged in Non-Prod. Here is the [link](https://analytics.google.com/analytics/web/#/dashboard/fybwEuuTRCmaQjsUVDBGJA/a50123418w178298118p176884211/) to the dashboard.

[2020-08-14 20:19] #11941 closed

[2020-08-14 20:25] jenniferlee-dsva commented on #12329
I agree! Purposely provided too much so you and the content team can help curate down to make sure we have right coverage.

Note - as I commented on draft plan - I do think that Veteran/beneficiaries should have a card sort with just beneficiary articles and tags. (i.e., exclude non-beneficiary content for Veterans card sort.)

But for VA business authors, we should include a mix of beneficiary an

[2020-08-14 20:26] amyknox commented on #11730
The vertical spacing between housing & the length label on my iphone looks larger than What Ricky's showing in his screenshot.

![image](https://user-images.githubusercontent.com/41081945/90289824-b1ca6900-de4a-11ea-98ad-830d2bfe1937.png)

[2020-08-14 20:33] amyknox commented on #11730
On desktop, the top of the label used to align with the bottom of the housing line (Image 1) but now, on staging, it's placed lower than that (image 2).

Image 1
![image](https://user-images.githubusercontent.com/41081945/90290320-a88dcc00-de4b-11ea-9be7-693473854a51.png)

Image 2
![image](https://user-images.githubusercontent.com/41081945/90290440-e1c63c00-de4b-11ea-96f1-95a1c8e1dae0.png)

[2020-08-14 20:34] erikphansen commented on #11888
I think that might be the public website team's code?

[2020-08-14 20:58] ElijahLynn commented on #11783
Hi there, wondering if I can maybe just get a little guidance and take this on. A quick pointer on what files to look at would be good enough for me to make a PR. cc @jbritt1

[2020-08-14 21:08] drorva commented on #12458
approved

[2020-08-14 21:17] gmaciolek opened #12492 "Add guidance for formatting of repo names to style guide"
https://dsva.slack.com/archives/CL181NRJQ/p1597421615002600
TL;DR

What to add:
use `repo-name` to format repo names

Where to add:
Developer content or formatting and organization (probably near the Slack reference guidance)

[2020-08-14 22:03] bmcgrady-ep commented on #12477
@sshein - You should now have access to GA. Let me know if you need anything else!

[2020-08-14 22:03] #12477 closed

[2020-08-14 22:07] ElijahLynn commented on #11783
Maybe this would actually just go in the base AMI for all apps? I also want to add boto3 to our app so we can use the https://docs.ansible.com/ansible/latest/modules/aws_s3_module.html module (must be on the target to use), which we add with pip install in our current images, so wondering if that should all be in the base image so other Ansible engineers/apps can use that module too.

[2020-08-14 22:09] billfienberg commented on #7946
The `download-assets` Metalsmith plugin calls the `downloadFromLiveBucket` function when `assetSource === assetSources.DEPLOYED`, but I’m having trouble finding any situation where `asset-source` is `deployed`.

I see that a trimmed HEAD gets used to define a ref in the `Jenkinsfile`, but I can’t find any instances of `--assetSource=deployed`.

References:
- `asset-source` in the `content-build-he

[2020-08-14 22:12] jenstrickland commented on #11888
You're right, as usual! Thank you!

[2020-08-14 22:12] 1Copenut commented on #12323
@rianfowler & @meganhkelley
After doing a lot of testing with iOS and desktop screen readers, I've been able to isolate the problem in a Codepen: https://codepen.io/tpierce_402/pen/PoNZbzQ

LMK when we've got a working update in Staging and I'll test in IE11

[2020-08-14 22:47] jchasia-adhoc commented on #12388
Hi - yes, I wanted to create an issue template but it looks like I don't have permissions to do so. Could you create a vsp-release-plan issue template file that I can put this into?

[2020-08-15 00:52] DanielleThierryUSDSVA commented on #12446
Hi @RLHecht and @kelsonic. I edited my comment above to avoid confusion. I've reviewed the schedule and view appointments page and added notes to Randi's list above (caught a couple of things that we also need to update in content doc, and I'll do that).

Also, @kelsonic, we separately need to update the legacy content for this schedule and view appointments page for the Monday 8.17 deploy. The VA

[2020-08-16 13:45] kelsonic commented on #12446
Hey @DanielleThierryUSDSVA! Sorry I was out Friday on PTO so I didn't get this until now, I'll try to send up a PR this evening for the schedule + view appts page legacy content! 🙂 Following that, first thing tomorrow I'll work on implementing the content updates on all the other pages!

[2020-08-16 22:44] lenaecb commented on #8020
@DanielleThierryUSDSVA @MickinSahni - can you confirm when this will be live on prod? We are turning CC back on tomorrow morning (8/17) at 8am EST.

[2020-08-16 22:51] lenaecb commented on #9853
@jbalboni - I see the CC team is looking at 8am EST for CC requests being re-enabled. I'm tagging you since you're the only other eng on the east coast (best coast) with me. I'll be up and ready to go through a request once we're ready!

[2020-08-16 23:05] bethpottsVADEPO opened #12494 "Create disability special monthly compensation rates spreadsheet for CSV upload"
## Issue Description
To maximize efficiency and accuracy, we're asking stakeholders to send us a spreadsheet with the new rates, when they change. On our end, we take the info from each tab and upload the numbers into drupal. We need to provide the stakeholder with this empty spreadsheet to fill in and send us.

Page to create spreadsheet for: https://www.va.gov/disability/compensation-rates/speci

[2020-08-17 00:09] andaleliz commented on #12181
@ncksllvn what are your thoughts on Jen's concerns RE exposing the email address and bot spam?

[2020-08-17 01:07] desireeturner opened #12495 "STEM: 10203 UX Review - Staging Site"
Review final dev work on staging
Report any issues to QA team
Work with QA team to resolve to satisfaction

[2020-08-17 01:07] desireeturner opened #12496 "STEM: 10203 Content Updates - VSP / UAT"
Update content doc per VSP / EDU input

[2020-08-17 01:08] desireeturner opened #12497 "STEM: 10203 Prototype Updates - VSP / UAT"
Update prototype per VSP / EDU input

[2020-08-17 01:09] desireeturner opened #12498 "STEM: 22-1995 Prototype Updates"
Create new, non-STEM  22-1995 prototype

[2020-08-17 01:10] desireeturner opened #12499 "STEM: 22-1995 UXBA Review"
Review new, non-STEM 22-1995 prototype @ UXBA Sync
Incorporate input

[2020-08-17 01:10] desireeturner opened #12500 "STEM: 22-1995 EDU Review"
Review new, non-STEM  22-1995 prototype w EDU

[2020-08-17 01:12] desireeturner opened #12501 "School Ratings: Content Refinement"
Draft content for category definition & about ratings
Review with UX team
Incorporate input

[2020-08-17 01:12] desireeturner opened #12502 "School Ratings: Prototype Review - EDU"
Share updated prototype w EDU
Gather input on design & content
Refine / update prototype as necessary

[2020-08-17 01:14] desireeturner opened #12503 "School Ratings: Content Review - EDU"
Gather input on design & content
Refine / update content as necessary

[2020-08-17 01:15] desireeturner opened #12504 "School Ratings: Discussion Guide / Script"
Create interview discussion guide (with streamlined tasks)
Coordinate with prototype designer to align scenarios.
Review with UX team
Update based on feedback

[2020-08-17 01:16] desireeturner opened #12505 "School Ratings: Research Plan Review"
Send Research Plan & Script to Lauren for Review
Respond to questions

[2020-08-17 01:17] desireeturner opened #12506 "School Ratings: Discussion Guide / Script - Finalize"
Update with any input from DEPO / Recruiting firm / UX team

[2020-08-17 01:17] desireeturner opened #12507 "School Ratings: Usability Testing Prep"
Mtg w DEPO to ensure team is ready for testing

[2020-08-17 01:18] desireeturner opened #12508 "School Ratings: Pilot Test(s)"
Conduct Pilot Test

[2020-08-17 01:19] desireeturner opened #12509 "School Ratings: Testing Results Data Collection Instruments"
Create Testing Results matrix for logging tasks & task scores
Mural for synthesis

[2020-08-17 01:19] desireeturner opened #12510 "School Ratings: Testing - Desktop"
Test with users

[2020-08-17 01:20] desireeturner opened #12511 "CT Site Search: Testing - Compile Session Notes"
Compile session notes
Upload notes to GitHub Research folder

[2020-08-17 01:21] desireeturner opened #12512 "CT Site Search: Testing - Synthesis"
Consolidate UX Findings & Recommendations
Consolidate relevant findings
Identify Recommendations

[2020-08-17 01:22] desireeturner opened #12513 "CT Site Search: Research Readout"
Consolidate findings from synthesis
Refine Recommendations & Enhancements
Create Research Readout
Include participant info.
Review with team & incorporate input

[2020-08-17 01:23] desireeturner opened #12514 "CT Site Search: Present Research Readout"
Present findings and prioritized recommendations - if any - to EDU / OIT / DEPO
Address any issues  (open new story / stories as needed)

[2020-08-17 01:23] desireeturner opened #12515 "CT Site Search: Prioritized findings for Development"
Prioritize list of updates
Review prioritized updates @ UXBA Sync & Incorporate input

[2020-08-17 01:24] desireeturner opened #12516 "CT Site Search: Solution identification"
Create draft solutions for key updates

[2020-08-17 01:25] desireeturner opened #12517 "CT Site Search:UI Updates"
Design UIs for prioritized solutions
Review with UX
Incorporate input

[2020-08-17 01:26] desireeturner opened #12518 "CT Filters: Testing - Synthesis"
Consolidate UX Findings & Recommendations
Consolidate relevant findings
Identify Recommendations

[2020-08-17 01:27] desireeturner opened #12519 "CT Filters: Research Readout"
Consolidate findings from synthesis
Refine Recommendations & Enhancements
Create Research Readout
Include participant info.
Review with team & incorporate input

[2020-08-17 01:27] desireeturner opened #12520 "CT Filters: Present Research Readout"
Present findings and prioritized recommendations - if any - to EDU / OIT / DEPO
Address any issues  (open new story / stories as needed)

[2020-08-17 01:28] desireeturner opened #12521 "CT Filters: Prioritized findings for Development"
Prioritize list of updates to UI's
Review @ UXBA Sync & Incorporate input

[2020-08-17 01:29] desireeturner opened #12522 "CT Filters: Post-Test UI Solutions"
Team work to define and design solutions to issues identified during testing

[2020-08-17 01:29] desireeturner opened #12523 "CT Filters: Post-Test UI Solutions - UXBA Sync"
Work with B.A. / TL to review solutions to issues identified during testing
Incorporate input, as relevant

[2020-08-17 01:59] bethpottsVADEPO commented on #12329
@jenniferlee-dsva I agree with your last comment here--it makes sense to have separate card sorts for beneficiaries and non-beneficiaries. Along those lines, below are my suggestions, separated as such.

I pasted this from above. I think you've made updates to these lists that aren't reflected here, but I'll still provide my 2 cents on cutting them down a bit. You can take what you agree with and

[2020-08-17 04:18] kelsonic commented on #12446
PR is up for updating the legacy content! Will definitely be merged before deploy tomorrow 🤞 CC @DanielleThierryUSDSVA @ncksllvn

[2020-08-17 04:33] #9516 closed

[2020-08-17 04:34] jsev-io commented on #9516
Closing for now. If further assistance is needed please reopen, and reach out.
Thanks!

[2020-08-17 10:42] andaleliz commented on #12329
We’re going to have to test the topic and audience tabs in separate card
sorts, since people can’t put one article into multiple categories.

I think we’re okay with 10 audience, and 10 topic tags (20 total). Sorry
for any confusion.
--
Liz Lantz
UX Designer, Ad Hoc
843-898-4463
http://adhoc.team

[2020-08-17 12:34] jbritt1 commented on #11783
Hey @ElijahLynn, I personally would not see anything wrong with installing it in the build for common AMIs. I would just ask that it be alias'd called in such a way that does not disrupt current automation / configurations. For example, python 3 being called with python3 (which I think is the default upon installation anyway) vs python -> python3.

[2020-08-17 12:35] DanielleThierryUSDSVA commented on #11222
Hi @leahkeeler. Here are notes re: incorporating feedback. These changes will go live in this afternoon's deploy (so around 3:30/4:00 p.m.). Please let me know if there are any follow-up changes and/or if the SMEs would like to talk through anything. Thanks!

_Under “What types of debt can I check with this tool?”
Can we include the Burial, Voc Rehab debts?
The home loan debt can be tricky. We are

[2020-08-17 13:03] RLHecht commented on #12466
This is now validated on live site. Closing ticket. FYSA @mnorthuis @MickinSahni @bethpottsVADEPO

[2020-08-17 13:03] #12466 closed

[2020-08-17 13:12] #9853 closed

[2020-08-17 13:12] ksantiagomorgan6 commented on #12467
Frontend PR: https://github.com/department-of-veterans-affairs/vets-website/pull/13883
Backend PR: https://github.com/department-of-veterans-affairs/vets-api/pull/4733

[2020-08-17 13:29] ncksllvn commented on #12181
I don't know enough about that to say confidently...sometimes email addresses are written as `someone(at)va.gov` so that a person can read it but a bot won't try.

@kelsonic (no need to read this whole thread) - do you know if publishing an email address onto a site with a lot of traffic will result in a bunch of spam sent to that email via bots?

[2020-08-17 13:31] joanneesteban commented on #11054
Hi @Samara-Strauss ! Thanks for the updated info - this has been updated in Staging. If this looks fine to you, I can push to Prod!

Thanks!

[2020-08-17 13:37] joanneesteban commented on #12215
@WillMcCormack this should be fixed in Staging. Let me know if this works, and I can push it to Prod.

[2020-08-17 13:39] joanneesteban commented on #12345
@WillMcCormack is that Yellow feedback button occurring in Prod and Staging? Or just Staging? We're currently working on adding Medallia surveys in Staging, where this additional Feedback button may incorrectly appear.

[2020-08-17 13:44] DanielleThierryUSDSVA commented on #12446
Thank you so much, @kelsonic!!

[2020-08-17 13:44] clantosswett commented on #10362
Reviewed phase 1 locations and have identified the places where we should add messaging about the VA311 number. Updates can be found on the attached spreadsheet. Next step will be to draft the content and provide to VA public websites team for review and updating.

[VA 311 Messaging Roll Out.xlsx](https://github.com/department-of-veterans-affairs/va.gov-team/files/5084584/VA.311.Messaging.Roll.Out

[2020-08-17 13:45] kelsonic commented on #12181
Hmm, so don't have a lot of context here but a new email address has _the potential_ to get spam from bots but there's definitely solutions to that -- such as utilizing spam filters on the email client, etc.! Not sure if that helps at all 😅

[2020-08-17 13:50] #9077 closed

[2020-08-17 13:54] batemapf opened #12524 "IA Request VA.gov COVID-19 Research Landing Page & Registry"
What this is: Work with VSP Information Architecture experts to finalize the IA of your product for VA.gov

When to use this: After completion of usability/protyping, prior to moving to development

## Required Inputs:
- Link to product outline: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/covid-vaccine-trials/product-outline.md
- Link to or attach

[2020-08-17 13:55] Samara-Strauss commented on #11054
Looks great!

The new profile isn't live yet, so no need to push to prod at this moment. Should we just circle back with you when the profile is live on VA.gov?

[2020-08-17 13:58] bethpottsVADEPO commented on #12287
@lwalsh617 @RLHecht I added to the issue description above the "general" category. The LC MVP includes all non-benefit Q&As, which is account and profile as well as general/other/we need a good name for these. And if there's an obvious third or fourth category that's not benefit-related, we can add that too. That's part of what the audit should surface.

[2020-08-17 14:01] bethpottsVADEPO commented on #12287
This and the other issues you create for the rest of the work should be linked to the super epic MVP Learning Center, so I also did that here!

[2020-08-17 14:04] jbalboni opened #12525 "[Discovery] Explore separating server state from UI state"
A lot of the Redux logic in VAOS, especially in the new appointment flow, is basically fetching the server data and appropriately caching it in the Redux store for current/later use.

Some more modern React state management approaches advocate separating out server data state from UI state (https://kentcdodds.com/blog/application-state-management-with-react).

It's worth exploring what separating

[2020-08-17 14:06] JenLJ commented on #11730
@delli-gatti-michael @sonntag-adam @ksantiagomorgan6 UX has taken a look and this checks out!

[2020-08-17 14:08] sonntag-adam commented on #11730
Closing story.

[2020-08-17 14:08] #11730 closed

[2020-08-17 14:11] massrb commented on #11669
Recent Conversation:

Laurence Guild  [9:53 AM]
Hi Dave, do you know anything about the meeting regarding the authorization issue for vets-api to connect to lighthouse health api ? There was supposed to have been a meeting on Friday. I have to keep asking for updates as that responsibility to try to keep tabs on it seems to have fallen on me.

Dave Mazik  [9:56 AM]
Hi Laurence.  I met with Patrick

[2020-08-17 14:12] zurbergram commented on #11001
https://github.com/department-of-veterans-affairs/vets-website/pull/13886

[2020-08-17 14:15] bethpottsVADEPO commented on #11516
@lwalsh617 @RLHecht I want to capture a detail of the editing work and since I don't think there's a ticket yet for that, I'm putting a note here for now. Please don't edit the questions, just the answers. We can reassess if you're seeing a strong need to edit them (like they're worded in a confusing way or have misspellings), but in order to map them back to the originals in IRIS, we need to keep

[2020-08-17 14:21] zurbergram commented on #8004
https://github.com/department-of-veterans-affairs/vets-api/pull/4735

[2020-08-17 14:36] jenstrickland commented on #11907
Validated. Thank you!

[2020-08-17 14:36] #11907 closed

[2020-08-17 14:41] ksantiagomorgan6 commented on #12290
Pull Request: https://github.com/department-of-veterans-affairs/vets-website/pull/13887

[2020-08-17 14:52] jonwehausen commented on #11513
[Google Sheet Tracking Migration Items](https://docs.google.com/spreadsheets/d/1RCJmoFjQxZ4XdNf7zWBGp2lOriKXu2TP6UIyfhLpejc/edit#gid=1674744126)

[2020-08-17 14:57] kevinstachura commented on #11188
Ok, so I did make a small change to the BDD intro page: https://vsateams.invisionapp.com/share/8GXOG91ZWNJ#/421577781_Introduction_BDD_-_Unauthenticated_-_1

Before we were not expecting that the user would be uploading their service treatment record. I have worked that into the first bullet within the 'prepare' step.

[2020-08-17 15:00] erikphansen commented on #12012
@mshea0606 A fix for this has been merged. We should be able to validate that edit mode is not auto-exited by trying to save this address and "forcing" it through address validation. The attempted save should fail but edit mode should not exit in five seconds like it had been doing in the past:

[code]

[2020-08-17 15:02] erikphansen commented on #12346
@mshea0606 can you validate that the Profile 2.0 subnav no longer appears _above_ the site's main nav as shown in this ticket's GIF?

[2020-08-17 15:10] DanielleThierryUSDSVA commented on #11222
Hi @RLHecht. Would you be able to check my updates on this page for any errors, and set to publish ahead of today's deploy? https://github.com/department-of-veterans-affairs/vets-website/pull/13882#event-3660083392

Thank you!

[2020-08-17 15:21] DanielleThierryUSDSVA commented on #8020
Hi @RLHecht. Most of these updates are being handled in the react widget that now houses this content. But I had to make updates to the intro in Drupal. Could you check the intro on this page for any errors and omissions and then set to publish ahead of today's deploy? Thank you!!
http://preview-prod.vfs.va.gov/preview?nodeId=37

[2020-08-17 15:25] annaswims commented on #10481
0.5% of people who logged into VA.gov in the last two weeks were not found in MVI.
I'd think that the most common reason that they are not found in MVI is that they're not a veteran or have not had a recent interaction with the VA.

Since https://github.com/department-of-veterans-affairs/vets-api/pull/4628 was deployed on August 6, we've seen that the vast majority of "not found" errors in MVI are

[2020-08-17 15:26] jenniferlee-dsva commented on #12181
We don't own this email address - it is the shared inbox for the VA central, VBA, NCA, and VHA form managers. This email box isn't something new - they've already been using it on the legacy search experience -- but as a mailto click, not with the email address itself written out.

So given that we don't have a way to ensure bot scraping for spam, let's keep the existing experience of having the e

[2020-08-17 15:27] jbalboni commented on #4801
Documented in GH here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/appointments/va-online-scheduling/engineering/architecture/front_end_directory_structure.md

[2020-08-17 15:27] mjlumetta opened #12526 "Access for Mike Lumetta (AWS Parameter Store permissions)"
# Description

I already have SOCKS proxy access and AWS console access. I am looking to add AWS permissions to be able to read Parameter Store values, at least (don't believe I need write access at this time, will open a new request if that's the case).

- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please Provide your email.

- Please prov

[2020-08-17 15:28] mjlumetta commented on #12526
created this ticket to request additional AWS permissions from @department-of-veterans-affairs/vsp-operations.

[2020-08-17 15:29] amycesal commented on #12062
Miro Board: https://miro.com/app/board/o9J_knKtwsw=/

![Screen Shot 2020-08-17 at 11.26.25 AM.png](https://images.zenhubusercontent.com/5b2ab6f42f27e82b33e6b789/4c8d06db-5b48-4664-925f-605f7b38505f)

PDF:
[https://app.zenhub.com/files/133843125/a00becf1-2d7e-418f-9adf-3de6be415efe/download](https://app.zenhub.com/files/133843125/a00becf1-2d7e-418f-9adf-3de6be415efe/download)

[2020-08-17 15:32] jbalboni opened #12527 "Create feature folders and move Redux code"
Create feature folders and move actions/reducers for each section of the app into them. This should be a relatively small change that won't disrupt other devs.

Also update the tests folder to reflect this change.

[2020-08-17 15:32] Mottie opened #12528 "[Documentation] Add `editModeOnReviewPage` to forms library"
### What is your documentation request, question, comment, or issue?

The `editModeOnReviewPage` form config page option is not documented on this page - https://department-of-veterans-affairs.github.io/veteran-facing-services-tools/forms/config-options - or any others.

[2020-08-17 15:34] jbalboni opened #12529 "Move Express care components to express-care/components folder"
Move our EC components to the express-care feature folder.

Also update the tests folder to reflect this.

[2020-08-17 15:35] jbalboni opened #12530 "Move appointment list components to appointment-list folder"
Move appointment list related components to appointment list feature folder

Also update tests folder to reflect this change.

[2020-08-17 15:37] jbalboni opened #12531 "Move new appointment flow components to new-appointment folder"
Move the components for the new appointment flow into the new-appointment feature folder.

Also update the tests folder to reflect this.

[2020-08-17 15:37] jenstrickland commented on #9723
@1Copenut I finished my review of this work, and am ready to send to the VA 508 Office. Do you want to review before I do so?

[2020-08-17 15:38] jbalboni opened #12532 "Organize common components folder"
Once all the feature specific components have been moved out of the top level components folder, update the organization of the remaining components according to the agreed upon directory structure.

[2020-08-17 15:40] jbalboni opened #12533 "Break sass into feature folders"
We should break our sass file into feature specific files and include those in the relevant feature folders.

There's not much of this, but might take some time to disentagle.

[2020-08-17 15:41] hughes-dustin commented on #12304
branch: bah-12304
PR: https://github.com/department-of-veterans-affairs/vets-website/pull/13888

[2020-08-17 15:42] jbalboni opened #12534 "Move feature specific utils code into feature folders"
We need to evaluate the utils folder and move any feature specific code into the appropriate feature folder.

Make sure to update the tests folder to reflect any changes.

[2020-08-17 15:43] annaswims commented on #10481
SSOe is rolled out at 5% of all users, still.  [SSOe/Access VA](https://access.va.gov/) is implemented by the IAM team who also works on MVI. As users log in with SSOe, they should all have a record in MVI or get an error message telling them what to do.    I don't know if it's something we should spend our time on, if SSOe will gate users sooner.

[2020-08-17 15:51] #11640 closed

[2020-08-17 15:51] #12012 closed

[2020-08-17 15:52] sonntag-adam commented on #12156
@department-of-veterans-affairs/uxbah is now on Staging

[2020-08-17 15:56] sporeboy commented on #12411
Peggy's feedback can be found in the comment section: https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/11794

[2020-08-17 15:59] rileyorr commented on #11222
Hi @DanielleThierryUSDSVA! Thanks for providing an update on this work :)

Can we include the Burial, Voc Rehab debts?
The home loan debt can be tricky. We are talking internally about this.
Added "burial benefits" and "vocational rehabilitation services"; left
"home loans" for now until we have confirmation to remove.

This tool's iteration doesn't include burial, vocational rehab debts, or home

[2020-08-17 16:01] jenniferlee-dsva opened #12535 "Forms search: Update 'read more' links in the blue boxes after wizards are moved"
## Update 'read more' links in the blue boxes after wizards are moved

After the wizards for the disability and education applications have been moved to their respective online application pages, we need to point the form links from the content page to the application page.

### Tasks
- [ ] **Disability box:**
    - 1/ Change `Read more` text link to: Apply online
    - 2/ Change the link to poin

[2020-08-17 16:08] #8836 closed

[2020-08-17 16:14] lwalsh617 commented on #11516
@bethpotts @RLHecht -- How should we handle the ones that are not phrased as questions? For example, row 16. The summary and question are the same, "Dependents and Medical Care Overseas."

[2020-08-17 16:15] ElijahLynn commented on #11783
Agreed, name should be `python3`.

[2020-08-17 16:18] jbritt1 opened #12536 "Offboarding of [Steve Novosel]"
# Instructions
Fill out name of individual and *Description* section below.

# Description
- Please provide the name of the individual needing offboarded.

- Please provide the name of their team, their role on that team, expected last day, and the name of the company they work for.

- Please provide any type of access they may have and their GitHub username.

## AC
 - [x] Remove global/config.yml

[2020-08-17 16:19] desireeturner commented on #12215
@sonntag-adam @delli-gatti-michael  this is ready for QA on staging.

[2020-08-17 16:21] jbritt1 commented on #12536
Removed from DSVA Slack workspace (ref: https://dsva.slack.com/archives/CBU0KDSB1/p1597681179076700)

[2020-08-17 16:21] jbritt1 commented on #12536
PagerDuty access not applicable for this user.

[2020-08-17 16:30] hughes-dustin commented on #12156
Devops PR: https://github.com/department-of-veterans-affairs/devops/pull/7413

vets-api PR: https://github.com/department-of-veterans-affairs/vets-api/pull/4739

[2020-08-17 16:32] jenniferlee-dsva commented on #12066
@bethpottsVADEPO @RLHecht cc @MickinSahni - let's focus on the content types in the og ticket. I'll create another ticket for tacking Checklist (and other content types that the CMS team complete) for the next sprint.

Thx so much for the ^ info @oksana-c

[2020-08-17 16:38] jenniferlee-dsva opened #12537 "Iteration 1 - Checklist, Videos, Images: Enter sample LC content in CMS, so FE engineers have something to test FE template work"
## Iteration 1 - Checklist, Videos, Images: Enter sample LC content in CMS, so FE engineers have something to test FE template work

### Acceptance criteria
- We need to enter sample learning center content into  CMS templates that are currently in progress.
- The sample text is needed so the FE engineers can start building the FE template and connecting to the CMS LC content fields and test that

[2020-08-17 16:39] luke-gcio opened #12538 "[Tech Debt] BDD: Ensure We Check for Real Zip Codes"
## Issue Description
We failed a BDD (so 526) submission that failed in staging when a fake (11111) zip code was entered. We should check against real zip codes, this already happens in vets360 and possibly other places.

We should be able to talk to facilities team about an API. Luke to reach out to one of their devs.

## Acceptance Criteria
- [ ] Do not allow submission of fake zip code

[2020-08-17 16:40] WillMcCormack commented on #12345
@joanneesteban only in staging, this form (STEM: 22-10203) isn't in Production yet.

[2020-08-17 16:41] luke-gcio opened #12539 "[Tech Debt] 526: Discovery Around "Submission is Taking Longer than Expected""
## Issue Description
It looks like when we fail with a bad zip code, it "times" out for the user instead of displaying a real failure message.

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [x] **Attached to an Epic** (what body of work is this a part of?

[2020-08-17 16:45] rileyorr commented on #12378
Hi @peggygannon! Thank you for providing these content updates :)

I have a question about some content in the "Why might I have this debt?" Word doc:

Do the asterisks indicate that 'Note:' should be bolded? Just wanna double-check because other words in the document are bolded, but this one has asterisks around it.

[2020-08-17 16:46] ksantiagomorgan6 commented on #10816
Frontend PR: https://github.com/department-of-veterans-affairs/vets-website/pull/13889
Backend PR: https://github.com/department-of-veterans-affairs/vets-api/pull/4740

[2020-08-17 16:47] mshea0606 commented on #12346
@erikphansen sure, checking this now

[2020-08-17 16:52] delli-gatti-michael commented on #12459
Local testing complete

![Screen Shot 2020-08-17 at 11.23.35 AM.png](https://images.zenhubusercontent.com/5c07f000391a6f6357adc430/b29393af-2ba8-47ff-97fd-a8cab9c39d1f)

[2020-08-17 16:57] luke-gcio opened #12540 "[Development] Claims Status: Remove (Potentially) Claims Completion Timing from CST"
## Issue Description
During a call with Matt Self and some folks from the Claims area it looks like we need to look at the

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **At

[2020-08-17 17:03] RLHecht commented on #8020
@DanielleThierryUSDSVA The intro changes are all good. I've set this page to publish.

[2020-08-17 17:03] mshea0606 commented on #12346
looks good!

[2020-08-17 17:03] #12346 closed

[2020-08-17 17:04] mdewey commented on #12402
Waiting on approval on pull request, tests are passing

[2020-08-17 17:05] sonntag-adam commented on #12325
![Screen Shot 2020-08-17 at 1.04.48 PM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/954f06a7-f309-4904-a16b-94d0f1d55939)

[2020-08-17 17:06] jenniferlee-dsva opened #12541 "Iteration 1: Build the FE template for Checklist, Video, Images learning center content types"
## Iteration 1: Build the FE template for Checklist learning center content types

The FE build for iteration 1 is to start mapping the middle layer of the templates, based on Ryan's designs and the template requirements.

**The CMS templates for this ticket are:**

- Checklist (Related [CMS ticket #2315](https://app.zenhub.com/workspaces/vagov-cms-team-5c0e7b864b5806bc2bfc2087/issues/department-o

[2020-08-17 17:07] MickinSahni commented on #10853
hey nick, can you confirm this is available? want to see if we can unblock [Change address: Update Drupal page #10857](#10857) for @RLHecht and @DanielleThierryUSDSVA

[2020-08-17 17:07] shawkey-daniel opened #12542 "STEM Form 22-10203: Enable basic authentication for STEM form URL"
## Description
The STEM Form 22-10203 is set to go live in preparation for UAT no later than August 24, 2020. Form is behind feature flag, but password may be needed to mitigate possible direct access to form URL.

The STEM Form 22-10203 can be found here: [STEM Form 22-10203](https://staging.va.gov/education/other-va-education-benefits/stem-scholarship/apply-for-scholarship-form-22-10203)

---
##

[2020-08-17 17:09] jenniferlee-dsva commented on #12365
Hi @MickinSahni - I clarified AC in the original ticket description ^.

[2020-08-17 17:12] abuckley3385 commented on #12406
VIPER- intake for product - typical project charter - need work done- getting access to an API. per Stephen should be a convo and potentially not need formal VIPER. With Stephen until he finds out more. Uncertain if PGD and funding (not clear).

[2020-08-17 17:13] DanielleThierryUSDSVA commented on #11222
Hi @rileyorr. Thank you for letting me know! This was a request from the SMEs passed along to us so thank you for clarifying!! If it's not available in the tool, we definitely shouldn't add.

[2020-08-17 17:15] johnhashva opened #12543 "Analytics Reporting Request for VA.gov Search (On-site + Off-site)"
## Description

To better understand the effectiveness of (WBC) VA.gov's on-site and off-site search as a primary discovery tool, we conducted a quick scan analytics review -- via Google Analytics, Google Search Console and SEMRush (a licensed third party tool) to find answers for key questions, including:

- **On-Site**
   - How important is on-site search as a discoverability tool for VA.gov use

[2020-08-17 17:21] jbritt1 commented on #12536
All Operations related line items for this user complete at this time.

[2020-08-17 17:27] dneel-bah commented on #12465
OBE - Replaced by: https://github.com/department-of-veterans-affairs/va.gov-team/issues/12542

[2020-08-17 17:27] #12465 closed

[2020-08-17 17:27] luke-gcio commented on #1918
Closing, not an MVP priority (per old comment) and we should use UAT and usability to determine if version 2.0 would have updates to this.

[2020-08-17 17:27] #1918 closed

[2020-08-17 17:28] mmiddaugh commented on #11416
Closing this as a duplicate

[2020-08-17 17:28] #11416 closed

[2020-08-17 17:29] RLHecht commented on #11222
These changes have all been reviewed and published. FYSA @DanielleThierryUSDSVA

[2020-08-17 17:34] luke-gcio opened #12544 "Staging Review Benefits Delivery at Discharge"
## Steps to complete Staging Review:

- [x] Product Manager: create this issue and fill in feature name in the title and other bolded information appropriately
- [x] Link to this issue once created in [#vfs-platform-support](https://dsva.slack.com/channels/vfs-platform-support) in Slack; tag @ AndreaHewitt @ Mandi Lipka
- [x] Mandi to schedule meeting with VSP reviewers and **requesting team** att

[2020-08-17 17:36] peggygannon commented on #12378
Hi, @rileyorr Hello! Yes, the **Note:** should be bolded.  thank you for checking!

[2020-08-17 17:41] Mottie opened #12545 "508-defect-2 [SEMANTIC MARKUP] Wrap wizard form components in a `form`"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

The wizard form components are not wrapped in a `<

[2020-08-17 17:52] mandifrances commented on #12544
@luke-gcio these meetings are typically only 30 mins. Do you need longer?

[2020-08-17 18:00] delli-gatti-michael commented on #12459
@department-of-veterans-affairs/uxbah This is on Staging and ready for review

[2020-08-17 18:07] ElijahLynn opened #12546 "Show start/end/total time for 504 Gateway time-out errors in build script"
Every now and then we get a "504: Gateway time-out" error on Step 3 of the FE build process. Can we get the start/end/total time output in these types of errors. Thanks!

e.g.

[code]

[2020-08-17 18:15] jenstrickland opened #12547 "508-defect-3 [SCREENREADER]: The same terms SHOULD be used for non-sighted and sighted users"
# [508-defect-3](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-3)

**Feedback framework**
- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

There is an `aria-label="Name of institution"` on t

[2020-08-17 18:16] delli-gatti-michael commented on #12215
This one is a bit odd. The button is there, disappears for a second, and then comes back. If I'm understanding correctly, it shouldn't be there at all. Recording below:

![feedback_button.gif](https://images.zenhubusercontent.com/5c07f000391a6f6357adc430/55541f92-78d8-4416-9bea-a2c3640f3262)

[2020-08-17 18:18] tressaellen commented on #12010
We should update all of the links to buttons for 'Cancel'. It's much more user friendly from a mobile perspective especially.

![Screen Shot 2020-08-17 at 12.16.58 PM.png](https://images.zenhubusercontent.com/5dfa65bbbd078d1699e52294/63be7c81-ee15-451f-b6a3-3e3277c31104)

[2020-08-17 18:20] ccruzgra commented on #12459
This checks out for UX.

[2020-08-17 18:21] cvalarida opened #12548 "Update feature toggle documentation to include unauthenticated testing"
## Issue Description
There's evidently a way to enable feature toggles for unauthenticated users by using a `FLIPPER_ID` cookie, but we don't have it documented in our [feature toggle documentation](https://department-of-veterans-affairs.github.io/veteran-facing-services-tools/platform/tools/feature-toggles).

Source: @patrickvinograd [in Slack](https://dsva.slack.com/archives/CBU0KDSB1/p159768618

[2020-08-17 18:24] lenaecb opened #12549 "[Discovery] Improve location/facility selection experience"
Facility selection in the scheduling flow for VA appointments is tripping up users. Let's make it better.

## User problem:
When Veteran is going through VAOS scheduling flow for VA requests, when they reach "Select a location" page they do not immediately recognize the options we are presenting them. These options at are the parent site level and do not include city/state.

From user testing, Vet

[2020-08-17 18:26] lenaecb opened #12550 "[Discovery] Iteration of appointments homepage/appointment list page"
There is some confusion associated with what's what on the appointments homepage between confirmed appointments and requests.

Also in the near future we need to enable printing individual appointments with appropriate details about upcoming appointments.

[2020-08-17 18:27] WillMcCormack commented on #12215
Correct, it should only be on the Comparison Tool landing page. @joanneesteban looks like the survey is still there.

[2020-08-17 18:28] sonntag-adam commented on #12394
Retains value locally on refresh.

[2020-08-17 18:28] delli-gatti-michael commented on #12459
Closing this out

[2020-08-17 18:28] #12459 closed

[2020-08-17 18:28] lenaecb opened #12551 "[Discovery] Distinguish between appointment types - in person, phone, video"
Feedback that it's confusing which appointments are which - in person, phone, or video. Only video has some clarity because different appointment type altogether.

## To include in discovery:
- which appointment formats (visit, phone, video) are available for each care type, and if this is something that's configurable at the facility or system level
- Currently, the VAOS legacy tool offers all th

[2020-08-17 18:28] rileyorr commented on #11935
Hey, @peggygannon! I've received the revised COVID alert content and want to confirm that [this updated alert in the prototype](https://preview.uxpin.com/8019d7c491dc05231e456a666928bd6a5ca40e6e#/pages/130777997/simulate/sitemap?mode=i) aligns with your feedback (also attached a screenshot below).

<img width="678" alt="Screen Shot 2020-08-17 at 2 26 27 PM" src="https://user-images.githubuserconte

[2020-08-17 18:30] Kimberley2019 commented on #11573
@Samara-Strauss @mshea0606 During our call with WHVAH on Friday 8/14/2020, there were no additional questions or feedback concerning this product guide.  This ticket can be closed.

[2020-08-17 18:34] #11573 closed

[2020-08-17 18:34] 1Copenut commented on #11055
@desireeturner && @hughes-dustin I talked with the Design System Council on Friday about this item. We won't have a responsive component ready for a bit, but there is a team working on a responsive table that you can leverage. The eBenefits team has created a version on their Payments History view: https://staging.va.gov/va-payment-history/payments/#content

I'd like to use this code pattern and t

[2020-08-17 18:43] Samara-Strauss opened #12552 "[FE] Investigate how we can pull in information on preferred medical facilities on VA.gov"
## Background

Currently, we pull in people's preferred VA health care facility into the My VA dashboard by pulling in the facility that the person had entered as their preference on their health care application. However, this facility is often not people's actual primary facility. People move or just put in a different facility into their health care application then they ended up actually going

[2020-08-17 18:46] dneel-bah opened #12553 "STEM: Add country to school address information (Chapter 3)"
As a student I need to be able to specify foreign schools for the STEM scholarship application so that I can complete the application with accurate information.

## Assumptions:
1. This work is done behind feature flag #7271.

## Acceptance Criteria
1. The user can specify the country of the school.
2. The country field:
    a. is required.
    b. is pre-populated with "United States" if the user

[2020-08-17 18:48] rileyorr commented on #11578
Updated [the alert](https://preview.uxpin.com/8019d7c491dc05231e456a666928bd6a5ca40e6e#/pages/130777997/simulate/sitemap?mode=i) based on the content approved by the DMC SMEs. Was a little confused by the feedback's layout in the email so I linked the design in Peggy's feedback ticket to confirm that it aligns with what she was thinking.

[2020-08-17 18:51] Samara-Strauss commented on #11772
Can we close this out?

[2020-08-17 18:52] andaleliz commented on #12181
Prototype has been updated to reflect the above/

[2020-08-17 18:52] delli-gatti-michael commented on #12467
Feature flag is present

![Screen Shot 2020-08-17 at 2.52.05 PM.png](https://images.zenhubusercontent.com/5c07f000391a6f6357adc430/9a85845c-9934-4a2e-be8b-707f20c8f9f8)

[2020-08-17 18:54] leahkeeler commented on #12317
HI Jon, Can you give me an indication of what sprint y'll can groom this into?

[2020-08-17 18:55] tressaellen commented on #12010
And here's a screenshot with the delete button as well.

![Screen Shot 2020-08-17 at 12.54.10 PM.png](https://images.zenhubusercontent.com/5dfa65bbbd078d1699e52294/6ac2dec2-ed90-40c7-900e-28d86ec07f7a)

[2020-08-17 18:56] tressaellen commented on #12014
Hi @sanlouise - here's an updated screenshot for you. We'll change all of the links for 'Cancel' to buttons.

<img width="657" alt="Screen Shot 2020-08-17 at 12 54 10 PM" src="https://user-images.githubusercontent.com/58752772/90433413-41089400-e078-11ea-9b2b-2b61b35fd93e.png">

[2020-08-17 18:57] leahkeeler commented on #12244
Hi @mnorthuis - Can you give me a ballpark of when y'll will have a chance to review this? I don't think there is any huge rush, but we have 4 things going at once and am trying to plan :) Thanks!

[2020-08-17 18:57] alexpappasoddball opened #12554 "Tools BE VFS Support - Sprint 33"
As you review PRs, please add this epic to the issue so the business has visibility into our time spent supporting VFS teams.

[2020-08-17 18:58] bmcgrady-ep commented on #6356
Domo Dataset Audit Updates:
Dataset Name | Backup Status | Backfill Status | QA Status
------------ | ------------- | ------------- | -------------
[Partitioned] Chatbot Entrance Data | ✔️ | ✔️  | ✔️ **PASS**
[Partitioned] VA.gov COVID-Related Page Metrics by Date | ✔️ | ✔️  | ✔️ **PASS**
[Partitioned] PH & MH Entrance Data | ✔️ | ✔️  | ✔️ **PASS**
[Partitioned] PH & MH Entrance Data | ✔️ | ✔️  |

[2020-08-17 18:59] alexpappasoddball opened #12555 "Utility Developer Rotation - Sprint 33"
## Goal

The Backend Tools team utilizes a single resource each sprint to be the point person for a number of different things the entire team is responsible for.  This single resource will be responsible for items listed below and will have a lighter work load towards sprint objectives during the sprint in which they are assigned Utility Developer.

# Areas of Focus

## Triage Process
Monitoring

[2020-08-17 19:00] jonwehausen commented on #12274
@amycesal Created a [temporary dashboard](https://va-gov.domo.com/page/18680411) to house the screener tool charts to merge-in to the COVID dashboard -- ready for your visualization review.

[2020-08-17 19:04] jonwehausen commented on #12460
@clantosswett Please find the temporary [Health Care application campaign dashboard](https://va-gov.domo.com/page/290380612) here. Any and all feedback you have is very much appreciated.

@amycesal these charts are also ready for visualization tweaks.

[2020-08-17 19:05] erikphansen commented on #11695
@tressaellen PING!

[2020-08-17 19:05] hughes-dustin commented on #12156
second vets-website PR: https://github.com/department-of-veterans-affairs/vets-website/pull/13893

[2020-08-17 19:15] cohnjesse opened #12557 "Frontend Fix `report_divorce` Data Stripping Issue in 686"
# Background
Originally the way we were submitting data to the BE was resulting in the data for `reportDivorce` being stripped out of the payload because the option in the wizard is named the same as the data object in the payload. This resulted in the data object being stripped out as a duplicate. To correct this we need to change the payload so that the options in the wizard are wrapped inside a

[2020-08-17 19:16] mshea0606 commented on #11772
@Samara-Strauss closed

[2020-08-17 19:16] #11772 closed

[2020-08-17 19:19] luke-gcio commented on #10033
BDD is working, no schema issues encountered causing issues with MVP.

[2020-08-17 19:19] #10033 closed

[2020-08-17 19:20] hinzed1127 commented on #12120
@ericbuckley I tried to write the document I have as something that can sit inside the product description, so I'll answer your question here and we can add it in there if it makes sense.

I'm having trouble tracking down the _original_ ticket where the Health Pages work was handed off to VSA, but it looks like #10756 and #12446 cover the remaining work around that. To my knowledge, that work shou

[2020-08-17 19:30] jenstrickland commented on #11930
Normally, accessibility would also review any variations of the screen (such as error states). Since this isn't possible, would you prefer I sit in on a few sessions as Tze is? @leahkeeler

[2020-08-17 19:39] delli-gatti-michael commented on #12342
Local testing complete

### Test Bank Data Entered
![Screen Shot 2020-08-17 at 3.38.09 PM.png](https://images.zenhubusercontent.com/5c07f000391a6f6357adc430/189ea8aa-b331-4c9c-8e71-c6914962d4fb)

### Opted out
![Screen Shot 2020-08-17 at 3.39.03 PM.png](https://images.zenhubusercontent.com/5c07f000391a6f6357adc430/ec5eac26-d22e-4a7b-89fc-c809418c6aa5)

[2020-08-17 19:41] tressaellen commented on #11695
@erikphansen this looks more than decent - it looks great!

[2020-08-17 19:42] RLHecht commented on #12066
I've entered the content for the step by step, multiple Q&A, and single Q&A. I couldn't put in the in-page alert, which I already mentioned to Oksana.

Step-by-step: prod.cms.va.gov/node/6899
Multiple Q&A: prod.cms.va.gov/node/6898
Single Q&A (there are a lot but, here's one): prod.cms.va.gov/node/6897

FYSA @jenniferlee-dsva @bethpottsVADEPO @oksana-c

[2020-08-17 19:46] 1Copenut commented on #11848
Closing this issue with the PR merged.

[2020-08-17 19:46] #11848 closed

[2020-08-17 19:47] leahkeeler commented on #11930
Hi Jen - that would be great! I will add you to invites, there are plenty to chose from

[2020-08-17 19:50] sporeboy commented on #12411
XD mocks updated here: https://xd.adobe.com/view/5f609803-b045-428a-510e-1754e404af3e-2951/

[2020-08-17 19:58] joanneesteban commented on #12215
That is odd. I made another edit. Can you QA again? If it reappears, I'm going to need to a submit a ticket to ForeSee for the engineers to work on it on their end.

[2020-08-17 20:07] #11564 closed

[2020-08-17 20:08] 1Copenut commented on #12328
I spot-checked this in Staging with Chrome + VO. I'll check it briefly with NVDA and JAWS in a bit.

[2020-08-17 20:09] lenaecb commented on #11985
@jenniemc - Chatted with @peggygannon about this. She'll add some language for us to use with this fix. Thanks!

[2020-08-17 20:10] cohnjesse opened #12558 "Back end fix report_divorce Data Stripping Issue in 686"
# Background
Originally the way we were submitting data to the BE was resulting in the data for `reportDivorce` being stripped out of the payload because the option in the wizard is named the same as the data object in the payload. This resulted in the data object being stripped out as a duplicate. To correct this we need to changed the payload so that the options in the wizard are wrapped inside

[2020-08-17 20:11] #11695 closed

[2020-08-17 20:28] mnorthuis commented on #12244
@leahbannon Meeting with content folks on Tuesday, so should have info back to you this week!

[2020-08-17 20:31] RLHecht commented on #10779
This looks good, @lunascoop. I'm not sure the answer to your question about Early War Veterans. @bethpottsVADEPO do you know why we don't have this on our new pages? Adding Selina's slack question here:

Hi there. I've pretty much wrapped up creating the historical VA pension rates for Veterans pages and updating the current published page (formatting changes in draft mode of course!). But, I want

[2020-08-17 20:31] peggygannon commented on #11978
Hi, @narin @rtwell. Please use this content for the EC limit message:

**You've reached the limit for Express Care requests**
Our records show that you have an open Express Care appointment at this location. We can't accept any more Express Care requests until your pending appointment is scheduled or canceled.  To cancel a pending Express Care appointment, go to [your appointment list](/schedule-v

[2020-08-17 20:34] mnorthuis commented on #12524
Draft URLs:
static page: www.va.gov/coronavirus-research/
sign-up form: www.va.gov/coronavirus-research/volunteer/

Additional draft IA information found here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/information-architecture/ia-reviews/cto-covid-trials.md

Remaining open items:
- Confirm URLs and entry points with Danielle

Will post when the info is fina

[2020-08-17 20:36] leahkeeler commented on #12244
Thanks @mnorthuis!

[2020-08-17 20:37] sporeboy commented on #12411
UXPin prototype updated here: https://preview.uxpin.com/546893e0b210374a0734240e0ca9fccc2e02ed11#/pages/129039987

[2020-08-17 20:37] lenaecb commented on #11412
**Decision based on Design/Content sync:** If Veteran has multiple active windows for EC at one time, we will default select facility closest in proximity to Veterans home address who has EC enabled. Long term, Veteran will have the option to designate primary/preferred facility in their VA Profile, but that is not yet on the VA Profile team's roadmap.

**So, Veteran who is eligible for EC at mult

[2020-08-17 20:51] RLHecht opened #12559 "Remove broken link from Wellness Programs page"
## Issue Description
There is a broken link on this [health care page](https://www.va.gov/health-care/wellness-programs/). The Community Care program pulled the page down while making changes, but it is unclear when it is going back up. Therefore we should remove the link for **VA retail immunization care coordination program**
until it's working again. Once the page is working again, we will set

[2020-08-17 20:58] 1Copenut commented on #12323
@emilywaggoner Rian and I are working to solve this one. The issue appears to be caused by having spans inside the heading for visual distinction. Looks like we might need to remove the spans and styling, but wanted to get your input before greenlighting that decision.

[2020-08-17 20:59] jonwehausen commented on #11687
@bsmartin-ep When you have capacity if you could stage the GTM implementation here that would be great.

[2020-08-17 20:59] mchelen-gov opened #12560 "Add screener metrics to performance dashboard"

[2020-08-17 20:59] peggygannon commented on #11985
@jbalboni @jenniemc Hello on our content sync today, we discussed this option below:

What is the earliest date you'd like to be seen? (*Required)
Please pick a date within the next 13 months.

Month Date Year

{Validation error} Please enter a date less than 395 days in the future

[2020-08-17 21:00] mchelen-gov opened #12561 "Add screener metrics to covid dashboard"
https://github.com/department-of-veterans-affairs/va.gov-team/issues/12274

[2020-08-17 21:01] lianilychee opened #12562 "Request access to Google Analytics"
# Request Google Analytics access

## What this form is for
Use this template to request access to Google Analytics

## User Email Address

liani@adhocteam.us

Please link this issue to the DSVA Slack channel [#vfs-platform-support](https://dsva.slack.com/channels/vfs-platform-support), add VSP Analytics & Insights to your message, and provide the email address(es) for user(s) requesting access.

[2020-08-17 21:03] lenaecb commented on #12298
@peggygannon - See below for the users/scenarios to test the various flows.

VA appointment requests - Judy.Morrison should work for any care type and potentially any facility if a request isn't currently open for that on staging

CC appointment requests - Judy.Morrison
- Care type to select 'Primary Care' then you'll be asked to select VA or CC for appt, select CC and continue request

VA direct

[2020-08-17 21:03] joanneesteban commented on #12215
Can you also try clearing your cache?

[2020-08-17 21:05] jonwehausen commented on #12536
Steve did not have prior Google Analytics access.

[2020-08-17 21:06] lenaecb commented on #11412
cc: @narin @jbalboni see comment above with our desired approach.

Thoughts? Feedback?

Also, have we already submitted a ticket to update BE with the request limit check?

[2020-08-17 21:13] peggygannon commented on #11935
Hi, @rileyorr the alert looks good.  The bottom part should NOT be part of the alert "'Coronavirus FAQs: What Veterans need to know"  It just indicates where that link goes.

This is the content for the alert:

**VA debt collection is on hold due to the coronavirus**
We’ve taken action to stop collection on newly established Veteran debt and make it easier for Veterans to request extended repaymen

[2020-08-17 21:18] lenaecb opened #12563 "Slight tweak to symptoms list - skin lesion or rash"
We need to remove "from an allergic reaction or insect bite" from "Skin lesion or rash"

So list will just display "Skin lesion or rash"

**Final Symptoms list should read:**
Back pain
Cough
Pain or other issues in your ear, nose, sinus, throat, or mouth
Fever
Loss of appetite or fatigue (feeling tired all the time)
Headache that isn’t severe or sudden
High or low blood pressure
High or low blood

[2020-08-17 21:22] #12268 closed

[2020-08-17 21:22] lihanli commented on #11836
@erikphansen @sanlouise  when i go to https://staging.va.gov/my-va/ with user vets.gov.user+377@gmail.com, i see that the `/v0/prescriptions/active` api is returning results but the frontend is still saying "You don’t have any prescriptions being refilled. If you’ve refilled a prescription within the last 30 days, it may be out for delivery and not showing up here." any idea why the results aren't

[2020-08-17 21:24] lenaecb commented on #12103
@pjhill - we still need the following user added/troubleshooting:
tristan.mhv@id.me -- creds not working for staging at all / needs to be added
tristan - MHV creds -- cannot get MHV staging creds to work at all so can't test
ben.morgan@id.me -- you can get logged in on staging.va.gov, but immediately hit with following error:

[2020-08-17 21:27] jenstrickland commented on #12276
Note: Accessibility will conduct a Full Accessibility & 508 Office Audit Review instead of a staging review, since the work is in production, to avoid repeating efforts.

[2020-08-17 21:34] joanneesteban commented on #11513
@jonwehausen @bsmartin-ep do we have updates on:

and if we can do them for the KPI dashboard switchovers next sprint? It looks like Caregivers has one of these metrics.

[2020-08-17 21:36] 1Copenut commented on #12328
Tested with NVDA and JAWS. No extra information being read aloud. Moving to close.

[2020-08-17 21:36] #12328 closed

[2020-08-17 21:41] mpelzsherman opened #12564 "Disable search form and show spinner while geolocating the user"
Currently, when a user visits the Facility Locator page, we try to geocode their location using MapBox.

There is no indication to the user that this is happening. The call to MapBox can take several seconds to complete, and during this time, the user may start typing into the location field or selecting facility/service types, only to have their entries wiped out when the geolocation request retu

[2020-08-17 21:41] lenaecb commented on #11411
As of today, going to stick with current iteration where we are defaulting to first Facility that has EC enabled. If there are multi-sites with EC enabled at same time, we'll pick based on closest proximity to home address.

Right now it's our assumption based on stakeholder feedback and business process, that facility name and contact information are unnecessary.

May revisit after EC has been re

[2020-08-17 21:41] #11411 closed

[2020-08-17 21:44] jenstrickland commented on #7303
@LinnJS @ala-yna have the acceptance criteria items listed above been completed? cc @1Copenut

[2020-08-17 21:44] ncksllvn commented on #12181
Ah man, so I have disappointing news...While implementing this, I've run into the same issue we ran into with attempting to download straight to the tray - we can only check the PDF's validity when it's on our domain, www.va.gov. This means that from our detail pages, we won't be able to check the validity of PDFs hosted on `www.vba.va.gov`. Sorry, I unknowingly didn't do a deep enough tech dive i

[2020-08-17 21:52] sanlouise opened #12565 "Update 'Cancel' links to buttons"
Per Tressa's comment in [this ticket ](https://github.com/department-of-veterans-affairs/va.gov-team/issues/12014), we need to update all 'Cancel' links to buttons on Profile 2.0.

[2020-08-17 21:52] jenniferlee-dsva commented on #12181
Hmm - correct me if I'm wrong, but I don't think we need to do we? I thought that our forms search -- through the LH API? -- currently can tell when a pdf  is not valid. (That's how it is able to supress invalid forms from displaying in results even when people search for it by form number/name.)

I thought that we would be able to use that same API `valid_pdf` flag to know which form pdf has a ba

[2020-08-17 21:52] narin commented on #11978
Thanks @peggygannon.  There is one more unlikely, but possible scenario where the request limit check might fail and they should not be able to continue.  Do we have a generic error message we might want to display? I was thinking something similar to the error message for a failed request:

**Error**
Something went wrong when we tried to check your request eligibility. We suggest you wait a day t

[2020-08-17 21:53] ncksllvn commented on #12181
Oh, good point. I forgot about that option @jenniferlee-dsva. I'll try that!

[2020-08-17 21:54] sanlouise commented on #12014
Create [this FE ticket](https://github.com/department-of-veterans-affairs/va.gov-team/issues/12565)

[2020-08-17 21:55] sanlouise commented on #12014
@mshea0606 Since we'll be changing the links to buttons, we should close this ticket. The styling will be resolved in [this ticket ](https://github.com/department-of-veterans-affairs/va.gov-team/issues/12565)

[2020-08-17 22:01] mchelen-gov opened #12566 "Add unit tests to FE form"
- [ ] 60% code coverage

[2020-08-17 22:03] mchelen-gov opened #12567 "Initial frontend E2E tests"
- [ ] 1 or more E2E test for form display
- [ ] 1 or more E2E test for form submission

[2020-08-17 22:04] mchelen-gov commented on #12077
unit test issue: https://github.com/department-of-veterans-affairs/va.gov-team/issues/12566
e2e test issue: https://github.com/department-of-veterans-affairs/va.gov-team/issues/12567

[2020-08-17 22:14] jbalboni commented on #11412
I _think_ that is feasible, but it's definitely going to delay supporting multi-site users. My concerns are:

1. I'm not sure we know if the cost of those service calls to get distances is feasible or who will pay for them. We might be in the Mapbox free tier initially, but if EC becomes broadly used, we'd easily be in the hundreds of dollars a month range, if not more. We also have to account for

[2020-08-17 22:15] tressaellen commented on #11043
@peggygannon I know this is closed - but just for documentations sake I wanted to drop these screenshots in here. There was some development constraints, so we ended up having to put the text above the 'Country' box. Screenshots below.

![image (1)](https://user-images.githubusercontent.com/58752772/90449496-0f9dc180-e094-11ea-8f7d-2be61ee50aad.png)
![image](https://user-images.githubusercontent.c

[2020-08-17 22:25] 1Copenut commented on #12060
@jenstrickland I have a feeling Safari + VO is announcing 7 items as the child elements (elementNodes and textNodes) inside the heading. I took a quick screen shot and counted seven items, but I'm a little surprised the text is broken up into individual strings. I wonder if the React component could assemble the string first, then read it out as one item in the heading. I agree this could be confu

[2020-08-17 22:27] 1Copenut commented on #12547
I concur, removing the `aria-labels` and using the paired `label[for="input-1"]` and `input[id="input-1"]` is the right approach. That keeps the visual labels and aural announcements 1:1.

[2020-08-17 22:28] 1Copenut commented on #9723
@jenstrickland I concur with your findings 💯

I left one comment about the search count for you to review ( https://github.com/department-of-veterans-affairs/va.gov-team/issues/12060#issuecomment-675145572 ). Am happy to discuss more as you see fit.

[2020-08-17 22:29] #12014 closed

[2020-08-17 22:38] ncksllvn opened #12568 "Postmortem for off-schedule deployment on health care scheduling page"
https://dsva.slack.com/archives/CBU0KDSB1/p1597695207118200

[2020-08-17 22:49] bmcgrady-ep commented on #11677
Hi @MickinSahni - Following up from last week. The Find Forms Dashboard 1.0 has been updated with your requests above. Let me know if anything else needs to change. Thanks!

[2020-08-17 22:50] LinnJS commented on #9305
@jenstrickland Just to confirm when we focus on elements on page load, we want to always focus on the `h2` element, and we never want a yellow highlight on it?

[2020-08-17 23:32] jbritt1 commented on #12536
All line items for this user complete at this time.

[2020-08-17 23:32] #12536 closed

[2020-08-18 00:16] peggygannon commented on #11978
hi, @narin Yes,  here's our generic message for a scenario like this.

**We've run into a problem**
Something went wrong when we tried to check your request eligibility. We suggest you wait a day to try again, or you can call your medical center to help with this request.

[2020-08-18 00:24] peggygannon commented on #12276
@ala-yna I don't see a staging link above. Can you drop a link to where we can find this form?

[2020-08-18 00:27] bsmartin-ep commented on #11513
[Monthly - OMB Dashboard](https://va-gov.domo.com/page/1475431113) has been migrated to BigQuery,

The ETL process that creates the final output table used in all the cards [has been updated to use three components](https://va-gov.domo.com/datacenter/dataflows/14/graph):

- The existing _Vets.gov Historical Events by Month and Year_ archive dataset
- A new created dataset of VA.gov VEO-related eve

[2020-08-18 00:52] mandifrances commented on #12544
@luke-gcio this has been schedule for 8/20 @ 1:30pm ET

[2020-08-18 01:00] tlei123 commented on #12544
@mandifrances , QA artifacts will be late\* and QA review would have to be Async.  Couldn't find any Design tickets this afternoon for updated design screens for the new BDD flow.  There're some copy/layout quirks for which I'm reluctant to log defect w/o checking w/ Design first.

Will chat with Designer @kevinstachura tmrw (Tue) to hunt down updated screens (if any). Barring any other documentat

[2020-08-18 01:14] mandifrances commented on #12544
@tzelei yes Nancy does have a Github username it's @nsmith1982

[2020-08-18 02:07] DanielleThierryUSDSVA commented on #10670
Hi @amyknox @desireeturner. Here's a link to the preview page:  http://preview-prod.vfs.va.gov/preview?nodeId=6860.

We're going to do a little more finalizing of copy tomorrow, and then this will be ready to go to SMEs. Please let me know if you have any questions or concerns as we're finalizing.

Also, a note & a question for you:

1.  Note: We have the button linking to the invision form for no

[2020-08-18 02:37] rtwell commented on #11412
Thanks for the extensive feedback, Jeff!

It would be helpful (at least, to me) if you and Narin could give us your collective engineering recommendation for the most practical, efficient way for the backend to handle this facility/time/request problem, review that together and make the recommendation to the VAMF team.

We opted for the described approach above to avoid giving some veterans more a

[2020-08-18 02:45] MickinSahni commented on #11677
Thanks so much, Ben.

The ultimate goal is to understand two relationships:
1. the relationship between people who come to the Find VA Forms experience (pageviews) and the % of people who complete a search (queries)
1. the people who complete a search and the % of people who download a PDF

For the first one, is it possible to provide a page views chart similar to *Total Unique Searches*? Or perha

[2020-08-18 03:24] jbalboni commented on #11412
Another option would be to use the VA facilities api' s nearby call and pull facilities within a certain distance. You could use the intersection between that list and the list of facilities supporting EC to find the nearest ones. It wouldn't be perfect, but it might be good enough.

We could also check with the lighthouse team about extending the nearby call to accept a list of facilities, or a n

[2020-08-18 03:27] jbalboni commented on #11412
Like I said, I think we have feasible options here, we just have to do some discovery and make sure the effort and impacts are acceptable to everyone.

[2020-08-18 03:50] jsev-io commented on #12369
All Tasks Completed

[2020-08-18 03:50] #12369 closed

[2020-08-18 03:51] jsev-io commented on #12273
All Tasks Completed

[2020-08-18 03:51] #12273 closed

[2020-08-18 03:51] jsev-io commented on #12368
All Tasks Completed

[2020-08-18 03:51] #12368 closed

[2020-08-18 12:02] DanielleThierryUSDSVA commented on #10530
Hi @MickinSahni. Keeping you in the loop. I've written up the attached and shared with Chante, who confirmed this is good to go and she'll share with contact center. I'm just waiting for a final sign-in modal update to the scheduling page to capture and insert the final screenshot and then will send Chante final version.

This document covers the 8/21 launch. So I'll create another one for the nex

[2020-08-18 12:16] jenstrickland opened #12569 "Accessibility feedback - Staging Review - BAM1 [BDD]"
**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Point of Contact

**VFS Point of Contact:** Jennifer (VSA) & Trevor (VSP)

## Description

This ticket houses accessibility issues for the staging review of BAM1 - BDD.

## Test cases

1. Staging link:
1.

## Definition of done

[2020-08-18 12:18] jenstrickland commented on #12544
@luke-gcio or @Mottie — Would you please add a staging link above where the test users are listed? Thanks!

[2020-08-18 12:32] joanneesteban commented on #12562
Access has been granted with read & write permissions. Closing this ticket.

[2020-08-18 12:32] #12562 closed

[2020-08-18 13:25] delli-gatti-michael commented on #12342
@1Copenut the fix for this is on staging and ready for review

[2020-08-18 13:30] jonwehausen commented on #11513
Thank you @bsmartin-ep!

Also side point / update for @joanneesteban: For prior needs to Magic ETL before BigQuery for things like data type changes, scrubbing, parsing, etc, we're able to do more of these basic ETL needs within our SQL queries directly, so the data is ready to go when pulled into DOMO. Of course this assumes the use of those functions doesn't create a major cost inflation, which

[2020-08-18 13:34] batemapf commented on #11990
@1Copenut we're just about ready for another round of review. Probably Friday or Monday. Is there another ticket I need to create for that or just keep using this one?

[2020-08-18 13:39] joanneesteban commented on #12460
## Dashboard Release Checklist

**GA Reporting Specialist:**
  - [ ] For user/session based metrics, create shared GA segment
  - [ ] Stable automated connection to data source, BigQuery where possible
  - [ ] Data is structured in a convenient way to meet the metric with little manual effort
  - [ ] QA data sources to ensure data accuracy & cleanliness
  - [ ] Non line graphs have date ranges (dy

[2020-08-18 13:46] Mottie commented on #12544
@ndsprinkle would have the most up-to-date list

[2020-08-18 13:47] ala-yna commented on #12276
@peggygannon  - You're right! Updated the documentation, here's the link as well: https://staging.va.gov/family-member-benefits/apply-for-caregiver-assistance-form-10-10cg/

[2020-08-18 13:49] #8020 closed

[2020-08-18 13:51] sonntag-adam opened #12570 "CT: Search showing "name" when searching on enter"
Steps to reproduce:
1. Navigate to https://staging.va.gov/gi-bill-comparison-tool
2. Type in a school name
3. Hit enter without selecting a school from the dropdown
4. Search results show “name” in the search text field with results that aren’t close to what was searched for

Expected results:
Should show the word that was typed out in the search box not "name"

[2020-08-18 13:53] #12116 closed

[2020-08-18 13:54] #11282 closed

[2020-08-18 13:54] #12411 closed

[2020-08-18 13:55] joanneesteban commented on #12460
### Feedback Notes
(Most is for visualization)
- [ ] Add data source links (to GA)
- [ ] Edit titles (remove BQ, "by date" and "by x" is inconsistent right now; "Intro" and "Introduction" is inconsistent)
- [ ] Add descriptions for "sessions" & why this matters
- [ ] Add descriptions for bounce rates (something around comparing bounce rates and sums to eligible users)
- [ ] Add dashboard descripti

[2020-08-18 13:55] joanneesteban commented on #12274
## Dashboard Release Checklist

**GA Reporting Specialist:**
  - [ ] For user/session based metrics, create shared GA segment
  - [ ] Stable automated connection to data source, BigQuery where possible
  - [ ] Data is structured in a convenient way to meet the metric with little manual effort
  - [ ] QA data sources to ensure data accuracy & cleanliness
  - [ ] Non line graphs have date ranges (dy

[2020-08-18 13:56] clantosswett commented on #12460
@jonwehausen This looks great. I have a few questions/comments on it but overall, this is super helpful to see this data and I think will be very helpful moving forward for many teams at the VA.

- This might be ignorance but what does BQ stand for?

- The dates seem off on the second chart. It jumps from 2019 to 2020 back to 2019.

- It would be awesome to get a funnel chart in there to show aban

[2020-08-18 13:57] #7984 closed

[2020-08-18 13:58] #9150 closed

[2020-08-18 13:58] #9038 closed

[2020-08-18 13:58] rileyorr commented on #12370
Peggy's approved [the alert's final design](https://preview.uxpin.com/8019d7c491dc05231e456a666928bd6a5ca40e6e#/pages/130777997/simulate/sitemap?mode=i). I've sent it over to Brad & he's already working on it :)

[2020-08-18 13:59] #7924 closed

[2020-08-18 13:59] rileyorr commented on #11578
Peggy's approved the final design & I've updated the corresponding frontend ticket.

[2020-08-18 14:00] #11492 closed

[2020-08-18 14:00] #11578 closed

[2020-08-18 14:00] #11788 closed

[2020-08-18 14:00] #11784 closed

[2020-08-18 14:00] #12078 closed

[2020-08-18 14:03] sonntag-adam commented on #12394
In staging. closing bug.

[2020-08-18 14:03] #12394 closed

[2020-08-18 14:06] ndsprinkle commented on #12544
@annaswims Are the users listed [here](https://github.com/department-of-veterans-affairs/va.gov-team/issues/11892#issuecomment-671517357) still valid test users or will we need to set up more?

[2020-08-18 14:07] delli-gatti-michael commented on #12215
@joanneesteban I retested this morning after clearing my cookies, cache, etc and I'm still getting the behavior shown in the gif above.

[2020-08-18 14:08] rileyorr commented on #12389
@tlei123 does everything look good on your end regarding the content changes @bradl3yC made?

[2020-08-18 14:09] rebeccawalsh commented on #11979
Since part 5 was cut in half and missing 3/4 contributors, we will have to continue this work with DMC. Decisions made will be documented once the exercise is complete.

[2020-08-18 14:16] jenstrickland commented on #12060
@1Copenut This sounds logical for where the issue may originate, and will be helpful for the devs as they work on this ticket. **Thank you!**

[2020-08-18 14:17] joanneesteban commented on #12274
## Feedback Notes
(Mostly around visualization)
- [ ] Edit dashboard title (Are these Screener Tool KPIs? Or discovery metrics?)
- [ ] Add dashboard description/objective (looking for the objective of this request; it seems like it might be around, "How might we improve the Screening Tool completions by metro area")
- [ ] Edit titles (remove BQ; by "x" is inconsistent)
- [ ] Date ranges: should th

[2020-08-18 14:22] srmyers17 opened #12571 "Profile"
## Product Outline
[Link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/product-management/product-outline-template.md)

## High Level User Story/ies
As a _____, I need _____ so I can _____.

## Hypothesis or Bet
**If** _we make this change_ **then** _we expect this to happen_.

## OKR
_Which Objective / Key Result does this epic push forward?_

## Definition o

[2020-08-18 14:23] srmyers17 opened #12572 "Facility Locator"
## Product Outline
[Link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/product-management/product-outline-template.md)

## High Level User Story/ies
As a _____, I need _____ so I can _____.

## Hypothesis or Bet
**If** _we make this change_ **then** _we expect this to happen_.

## OKR
_Which Objective / Key Result does this epic push forward?_

## Definition o

[2020-08-18 14:23] zurbergram commented on #12570
https://github.com/department-of-veterans-affairs/vets-website/pull/13904

[2020-08-18 14:24] srmyers17 opened #12573 "Claims"
## Product Outline
[Link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/product-management/product-outline-template.md)

## High Level User Story/ies
As a _____, I need _____ so I can _____.

## Hypothesis or Bet
**If** _we make this change_ **then** _we expect this to happen_.

## OKR
_Which Objective / Key Result does this epic push forward?_

## Definition o

[2020-08-18 14:25] srmyers17 opened #12574 "Appointments"
## Product Outline
[Link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/product-management/product-outline-template.md)

## High Level User Story/ies
As a _____, I need _____ so I can _____.

## Hypothesis or Bet
**If** _we make this change_ **then** _we expect this to happen_.

## OKR
_Which Objective / Key Result does this epic push forward?_

## Definition o

[2020-08-18 14:26] srmyers17 opened #12575 "Veteran Crisis Line"
## Product Outline
[Link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/product-management/product-outline-template.md)

## High Level User Story/ies
As a _____, I need _____ so I can _____.

## Hypothesis or Bet
**If** _we make this change_ **then** _we expect this to happen_.

## OKR
_Which Objective / Key Result does this epic push forward?_

## Definition o

[2020-08-18 14:27] srmyers17 opened #12576 "More"
## Product Outline
[Link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/product-management/product-outline-template.md)

## High Level User Story/ies
As a _____, I need _____ so I can _____.

## Hypothesis or Bet
**If** _we make this change_ **then** _we expect this to happen_.

## OKR
_Which Objective / Key Result does this epic push forward?_

## Definition o

[2020-08-18 14:28] srmyers17 opened #12577 "Global Navigation"
## Product Outline
[Link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/product-management/product-outline-template.md)

## High Level User Story/ies
As a _____, I need _____ so I can _____.

## Hypothesis or Bet
**If** _we make this change_ **then** _we expect this to happen_.

## OKR
_Which Objective / Key Result does this epic push forward?_

## Definition o

[2020-08-18 14:29] rileyorr commented on #11902
@peggygannon I wanted to follow up about the [COVID-related empty state](https://preview.uxpin.com/8019d7c491dc05231e456a666928bd6a5ca40e6e#/pages/131174235/simulate/sitemap?mode=i) in this ticket since it's slightly different from the alert you recently approved. Are there any content changes I should make? I've attached a screenshot for reference.

<img width="698" alt="Screen Shot 2020-08-18 at

[2020-08-18 14:30] erluti commented on #10986
Some existing acronyms were worked through on this ticket https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/10976.  `ICN`, `PCIU`, and `PDF` were all called out to be considered here

[2020-08-18 14:34] erluti opened #12578 "Consider refactoring PCIU and PCIUAddress using the same name space"
When evaluating acronyms in this ticket https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/10976, it was identified that PCIU is not being used consistently and would clear up the code if that was sorted out.  There's even a PCIUAddressLineValidator not using the PCIUAddress namespace.

[2020-08-18 14:35] jenstrickland commented on #9305
@LinnJS For your application flow, yes, the h2 makes sense. We also don't generally put the yellow highlight on text in this use case.

Double-checking with @1Copenut because I'm now doubting myself, and thinking the standard is to put it on the h1, but the h2 makes sense in this case.

[2020-08-18 14:38] #10590 closed

[2020-08-18 14:39] bsmartin-ep commented on #12401
### QA

Interaction|Screenshot|Pass/Fail
---|---|---
Typing in _Tuition and fees per year textbox|![image](https://user-images.githubusercontent.com/62304138/90524367-fbad9a80-e13b-11ea-9380-5e05489f3bdf.png) ![image](https://user-images.githubusercontent.com/62304138/90524560-3adbeb80-e13c-11ea-9117-6f46eb2600d8.png) | **PASS :heavy_check_mark: **
Typing in _Scholarships (excluding Pell Grants)_

[2020-08-18 14:39] #12401 closed

[2020-08-18 14:40] erikphansen commented on #11836
I'll have to look into it. Thanks @lihanli

[2020-08-18 14:43] bsmartin-ep commented on #11163
Is this ready to test on CMS dev @ethanteague?

FYI - I am seeing an error in the console that appears related to your PR:

<table><tbody><tr><td>
<img src="https://user-images.githubusercontent.com/62304138/90527275-5c8aa200-e13f-11ea-8055-5c26a85f170d.png" /> </td><td> <img src="https://user-images.githubusercontent.com/62304138/90527336-6e6c4500-e13f-11ea-9181-6a50d245619a.png" /></td></tr></tb

[2020-08-18 14:45] sanlouise commented on #11836
@lihanli @Samara-Strauss @erikphansen I believe the issue is that we're filtering the prescriptions on the frontend by their status.

On line 103 of `src/applications/personalization/dashboard/containers/PrescriptionsWidget.jsx` we're filtering the existing prescriptions and are only interested in those prescriptions that have a `refillStatus` of `refillinprocess' or `submitted` whereas user 377 o

[2020-08-18 14:57] ndsprinkle commented on #11812
I would say the conclusion to this ticket is...yes! We were able to submit a few forms using a BDD separation date (90-180 days from the current date) that successfully hit the EVSS endpoint and ultimately appeared in the claim status tool. There still should be some more testing done for early 526 submissions (separation date that is 1-89 days from current date) as the ones that we tested failed

[2020-08-18 14:58] LanceGundersen opened #12579 "Access for Lance Gundersen"
# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please Provide your email.

- Please provide the name of your team, your role on that team, and the name of the company you work for.

- Requesting SSH key authorization?

[code]

- Grant AWS Console access?

[2020-08-18 14:58] LanceGundersen commented on #12579
Pinging @department-of-veterans-affairs/vsp-operations for visiblity.

[2020-08-18 14:58] ethanteague commented on #11163
Yep, it's ready, @bsmartin-ep - I'll look into that err.

[2020-08-18 15:01] jbalboni commented on #12579
Ping @department-of-veterans-affairs/vsp-operations

[2020-08-18 15:02] mdewey commented on #12402
Front end is merged (https://github.com/department-of-veterans-affairs/vets-website/pull/13880)

[2020-08-18 15:02] jenstrickland commented on #12544
@ndsprinkle @Mottie @annaswims — The reviewers need the staging url to use.

[2020-08-18 15:02] 1Copenut commented on #9305
In this case, the most important thing is the H2 message telling users they have successfully submitted their form. I concur that setting focus on the H2 is the right call for this scenario.

[2020-08-18 15:04] jonwehausen commented on #12401
Thanks @bsmartin-ep that is fine -- we can exclude those out in our eventual queries here.

@dmccurdybah and @desireeturner we were able to test this change within the deployment PR instance and confirmed this is now functioning as expected and can move to production at your earliest convenience.

[2020-08-18 15:06] Samara-Strauss commented on #11836
@sanlouise thank you for this! I will reach out to the team that manages this and have them update the statuses to `refillinprocess` and `refillStatus`.

[2020-08-18 15:08] lunascoop commented on #12559
Hi @RLHecht I removed the link teaser for  VA retail immunization care coordination program in draft mode, and the page is ready for review and publishing.

- http://preview-prod.vfs.va.gov/preview?nodeId=41

[2020-08-18 15:10] ndsprinkle commented on #12544
@jenstrickland I have updated the original comment to include the link. It's the same link we use for the 526 disability benefits form, but will ask slightly different questions if a BDD separation date is provided on the military history page.

[2020-08-18 15:10] f1337 commented on #12412
Meta pull-request, to be broken into 3 (per review feedback): https://github.com/department-of-veterans-affairs/vets-json-schema/pull/480

[2020-08-18 15:10] mdewey commented on #12402
Disabled in production, currently enabled in staging to allow for review

[2020-08-18 15:11] dmccurdybah commented on #12469
PRs:

- https://github.com/department-of-veterans-affairs/vets-website/pull/13903
- https://github.com/department-of-veterans-affairs/vets-api/pull/4744

[2020-08-18 15:12] joanneesteban commented on #12317
@leahkeeler we'll be pulling this into our next sprint, which starts on Thursday.

[2020-08-18 15:13] f1337 commented on #12455
Julian Severino ( @jsev-io ?) took care of it, I ended up merely managing communication. Thank you Julian!

[2020-08-18 15:13] #12455 closed

[2020-08-18 15:13] abuckley3385 commented on #12296
All the demographics feature outline linked above is ready for review.  I still need updated visuals and info from Mark on the API.  In addition any other feedback or things we should document on this page for future considerations or implementation.  I'll set up time to review this outline and the appt. details to get feedback and signoff.

[2020-08-18 15:15] leahkeeler commented on #12317
Awesome! Thank-you so much @joanneesteban cc: @johnhashva

[2020-08-18 15:22] jenstrickland commented on #12544
@ndsprinkle **Thank you!** I didn't have the 526 link, either! I ought to make a table of all the VSA products and links to them. :)

[2020-08-18 15:23] joanneesteban commented on #12274
Updated dashboard description: Something around "increase physical distancing and veteran safety by reducing lines for screening and make the screening process easier and faster for veterans and facilities."

Thanks for putting this together, Jon!

[2020-08-18 15:23] sanlouise commented on #11836
To be clear, the `refillStatus` should be either `refillinprocess` or `submitted` 😄

[2020-08-18 15:24] jenniferlee-dsva commented on #12181
@andaleliz - on the 'max' version of mockup, could you include where the informational alert message would appear, so it's clear what the header hierarchy would be? (Below the online tool CTA button)

https://vsateams.invisionapp.com/share/G2YF5AJC845#/screens/428497810_detail_Page_With_All_Components_-_With_Error

[2020-08-18 15:24] joanneesteban commented on #12274
^Actually, in that case, do we have metrics around time to complete and page load time?

[2020-08-18 15:25] leahkeeler commented on #12243
Hi @peggygannon - Do you have a high level estimate of when you will have bandwidth for this? I know we have been keeping you busy with debt letters :(

Thanks! cc @johnhashva

[2020-08-18 15:25] RLHecht commented on #12486
This has been reviewed. I updated one number that was input incorrectly. @bethpottsVADEPO This is also ready for stakeholders with the same questions we had for the 2018 page.

[2020-08-18 15:27] f1337 opened #12580 "Support SLA Reminder Bot"
Per a recent 1:1 I had w/ @nsmith1982, introduce a Slack reminder/bot to reiterate the support SLA/terms.

Reasoning: During my ( @f1337 ) recent utility dev rotation, I received several requests (including public @s and private messages) which made it clear that our clients do not understand the 24-hour SLA. I suggested perhaps a daily reminder might help, and Nancy suggested more frequency and/o

[2020-08-18 15:27] Kimberley2019 commented on #9744
Hey @jason-gcio any movement on this as of yet?

[2020-08-18 15:28] joanneesteban commented on #11054
@Samara-Strauss Great! Yes, please - once this is live, I can push to prod. Thanks!

[2020-08-18 15:30] joanneesteban commented on #12215
@delli-gatti-michael thank you for retesting. I've opened a ticket with ForeSee, and will get back to you when I hear back.

[2020-08-18 15:30] joanneesteban commented on #12345
@WillMcCormack - this additional yellow button is a bug that we're working on with Medallia. It shouldn't be appearing in Staging. I haven't been able to recreate this on my end, so let me know if you're experiencing this button after clearing your cache and cookies.

[2020-08-18 15:30] peggygannon commented on #12243
hi, @leahkeeler Yes, I will be uploading my feedback today. I'm syncing with Danielle and the PW content today about this. want to be sure we're aligned on our feedback.

[2020-08-18 15:30] Kimberley2019 commented on #11476
Below is the Google Doc for the combined data.

https://docs.google.com/document/d/1Y1XHqb2mSgzANmFAMFQU9St3f10vD1W8/edit

[2020-08-18 15:36] jenniferlee-dsva commented on #11335
Hi - I'd love to check in on the ETA for QA of form detail pages. Would like to keep the VA forms stakeholder working group know an estimate of where we are. @tzelei @MickinSahni

Let me know if there's any action item on my part here!

[2020-08-18 15:40] #11985 closed

[2020-08-18 15:45] #11835 closed

[2020-08-18 15:46] luke-gcio opened #12581 "[Tech Debt] 526: Grafana Charting for 526-Sub Forms"
## Issue Description
Currently we do not really track the failure of the sub-jobs.  We are retrying them when it makes sense but we would not know unless we are digging through Sentry.  Having this in a Dashboard in Grafana would allow us to to see trends and patterns and work towards reducing actual bugs.

## Acceptance Criteria
- [ ] Charts updated with our sub jobs
---
## How to configure this

[2020-08-18 15:46] ndsprinkle commented on #12544
@jenstrickland You are welcome :) Yeah a table like that would be helpful for me too haha

[2020-08-18 15:47] WillMcCormack commented on #12345
@joanneesteban looks like it is no longer appearing for me either, I will move forward with closing this out.

[2020-08-18 15:47] #12345 closed

[2020-08-18 15:48] luke-gcio opened #12582 "[Bug] 526: Schema Issues in Production After August 3"
## Issue Description
Looks like we are having some schema validation issues.

![image](https://user-images.githubusercontent.com/53824125/90535097-c1da9500-e137-11ea-9306-d1d1ed552ebf.png)

## Acceptance Criteria
- [ ] Root cause found and fixed
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to an Epic** (what body of work is th

[2020-08-18 15:53] grossb1 commented on #12457
I was wondering what the status of this request is.  Do I need to provide any more information?

[2020-08-18 15:54] luke-gcio opened #12583 "[Tech Debt] 526: Still Seeing Front-End Validation Issues"
## Issue Description
1. Duplicate disabilities
2. Age before 13 when joining service

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to an Epic** (what body of work

[2020-08-18 15:55] jenniferlee-dsva commented on #4552
@MickinSahni @jonwehausen @bsmartin-ep - A couple of other interaction/data I think would provide helpful data story for these form pages are:

- How many people are landing on a form detail page from the forms search result link
- How many people are landing on a form detail page from organic search and va.gov site search
- What are the top form detail pages that people are visiting
- What are th

[2020-08-18 15:56] leahkeeler commented on #12243
Thank-you so much! You are awesome as always :)

[2020-08-18 15:56] luke-gcio opened #12584 "[Tech Debt] 526: Better Translate EVSS Errors to Human Readable"
## Issue Description
1. Make a list of what we want to do for each error (retry, better error messaging)
2. Translate the error message to human/veteran readable

This will likely require some convo about what is "good enough" since we don't have a definitive list (I believe) of all of the EVSS errors possible out there.  We should probably time box this for now.

## Tasks
1. One of the latest one

[2020-08-18 16:02] tlei123 commented on #12544
@ndsprinkle @kevinstachura , do we have updated design screens (maybe BDD v4)?

I have "[BDD v3](https://vsateams.invisionapp.com/share/8GXOG91ZWNJ#/screens)", but that's for when BDD was its own form, and I heard that BDD's been incorporated into the main Disability Claim flow.

Pls. let me know.  Thx!

[2020-08-18 16:14] jenstrickland opened #12585 "508-defect-1 ❗ Launchblocker [DATA SAFETY]: If an email address is provided, it MUST be validated"
# [508-defect-1 :exclamation: Launchblocker](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-1)

**Feedback framework**
- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

For the email address f

[2020-08-18 16:15] tlei123 commented on #12544
@luke-gcio , just to clarify, @pjhill (VSP-QA) expects my QA test-artifacts (from Staging Manual UI testing), not UAT (which I don't think VSP requires for Staging Review).  I've updated the main Description above, keeping your UAT link just in case @nsmith1982 would like to look at that.

Not that UAT is not testing, nor am I saying it's never gonna be part of QA either.  It's just that currently

[2020-08-18 16:18] leahkeeler commented on #12438
@peggygannon Do you have any input on how to best handle the nuance between the tow payment methods. Thanks!!!

[2020-08-18 16:24] ricetj opened #12586 "Onboarding of Sri to the VSP Operations team"
# Ops Onboarding
## Overview
Welcome to the platform and more particularly the VSP Operations team.  This ticket is a checklist and guide to try and improve the onboarding process and get you up to speed.

If you have any questions/need access please reach out to TJ.

##  Checklist

### Access to what you need
- [ ] [Getting setup](https://github.com/department-of-veterans-affairs/va.gov-team/blob

[2020-08-18 16:25] nsmith1982 commented on #12544
thanks @tlei123!  I was able to review the UAT items as well.  Thanks for keeping it, understanding this is not in place of the QA test artifacts.

[2020-08-18 16:26] joanneesteban commented on #11905
@jenstrickland can you still see this in Staging after clearing your cache and cookies? This button shouldn't be appearing, and I'm unable to recreate this on my end.

[2020-08-18 16:28] digitaldrk commented on #12558
https://github.com/department-of-veterans-affairs/vets-api/pull/4729

[2020-08-18 16:29] sporeboy commented on #11441
Wizard placement was reviewed; the location will be the intro screen of the 28-1900 form.

The text of the wizard is under review. Text suggestions will be made with an understanding of its location on the initial tool screen, and the ongoing confusion between the 28-8832 and 28-1900 forms. Content revisions could include links to other resources.

The team discussed the final wizard question ("do

[2020-08-18 16:32] zurbergram commented on #8004
https://github.com/department-of-veterans-affairs/vets-website/pull/13894

[2020-08-18 16:35] annaswims commented on #12582
🤦 never mind. This is a ligthouse url.  ours is `v0/disability_compensation_forms` # submit_all_claim. It makes sense that lighthouse might recieve unvalidated schemas.

[2020-08-18 16:35] #12582 closed

[2020-08-18 16:38] jbalboni commented on #11412
Hi @davem-va, I'm curious if you have thoughts about if the VA facilities api could support the scenario I was thinking about above:

Essentially, we'd like to be able to send an address and a list of facility ids, and get back the drive time distances for each facility from the address we sent. Pretty much the same functionality as `/nearby` but with a facility id list instead of a distance.

[2020-08-18 16:47] delli-gatti-michael commented on #12304
AC1
![Screen Shot 2020-08-18 at 12.46.37 PM.png](https://images.zenhubusercontent.com/5c07f000391a6f6357adc430/56f33190-f80a-4b0a-9bc0-23b9d8c85829)

AC2a
![Screen Shot 2020-08-18 at 12.44.54 PM.png](https://images.zenhubusercontent.com/5c07f000391a6f6357adc430/2d552063-e126-4670-b1ae-2ab9eab7587d)

AC2b
![Screen Shot 2020-08-18 at 12.05.08 PM.png](https://images.zenhubusercontent.com/5c07f000391a

[2020-08-18 16:47] sporeboy commented on #12409
Reviewed all feedback for CH31 ahead of Content review. Design punchlist created:

Mikki IA/#11441
- [ ] Must review intent of wizard and placement on intro
- [ ] Consider removing the final question on the wizard: do you want VRE.

Jennifer 508/#11434
- [ ] Make label and input clickable in prototypes
- [ ] Also all other form inputs
- [ ] Do not repeat accordion heading on review screen
- [ ] Mu

[2020-08-18 16:55] cvalarida opened #12587 "Validation error element overlap on review page"
## Issue Description
On the review page, when an element has a validation error, the red bar to the right is partly covered by the chapter accordion. (See the screenshot.)

![image](https://user-images.githubusercontent.com/12970166/90541820-0cf4a800-e138-11ea-87a8-75d6ece40e84.png)

For more context, see [this Slack thread](https://dsva.slack.com/archives/CBU0KDSB1/p1597429814030000).

## Possibl

[2020-08-18 17:02] joanneesteban commented on #11513
Thank you for the updates, @bsmartin-ep @jonwehausen ! Can we test out the time to complete ETL with Caregiver on Staging?

Would like to see if effort levels are lower, data integrity is there, and ^cost isn't incredibly inflated.

Also, idea for super low-lift (and by super low-lift, I mean, just one metric instead of many, so who knows) Prometheus MVP would be the one "system availability" metr

[2020-08-18 17:03] bmcgrady-ep commented on #9488
@mshea0606 / @jonwehausen / @Samara-Strauss

It looks like we will need the following dataLayer and GTM changes. Currently, no events are firing for Edit Account clicks and Add Account clicks in Profile 2.0 Direct Deposit.

## dataLayer
### 1.  In Direct Deposit - Clicks Add Account
![image](https://user-images.githubusercontent.com/66263904/90542595-3530d680-e139-11ea-94b0-1337c73c8181.png)
[code

[2020-08-18 17:04] RLHecht commented on #12559
Thanks, @lunascoop This looks great. I published the page and am moving this ticket to validate. FYSA @DanielleThierryUSDSVA @MickinSahni

[2020-08-18 17:05] RLHecht commented on #12066
This work has been completed. Closing ticket.

[2020-08-18 17:05] massrb commented on #12285
Laurence Guild  1:36 PM
@Stephen Barrs,  I told Amanda that VAOS has /appointments and /appointment_requests. The appointment requests have a reason4visit field, but she thought it must be the appointments and not the appointment requests or that it's a different field. I have no way of knowing. There doesn't appear to be a different field that it could be. From a different conversation, I had the

[2020-08-18 17:07] mchelen-gov opened #12589 "Review Cerner API doc"

[2020-08-18 17:07] craigwheeler opened #12590 "Access for [Craig Wheeler]"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Add a comment @department-of-veterans-affairs/vsp-operations to ping the operations team
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please

[2020-08-18 17:08] craigwheeler commented on #12590
@department-of-veterans-affairs/vsp-operations

[2020-08-18 17:08] tlei123 commented on #10638
@MickinSahni @kelsonic , would one of you mind checking @pjhill 's [stubbed-out TestRail test-cases](url) please?

- let me know if any steps need updating;
- provide missing info:
  - Entry-point URL(s);
  - Staging test-account(s) for the Authenticated cases.

I'm planning to start test runs this afternoon if everything's in place.

Feel free to ping me for a quick Zoom mtg if you prefer.  Thx m

[2020-08-18 17:12] sonntag-adam commented on #12587
https://github.com/department-of-veterans-affairs/va.gov-team/issues/12224

[2020-08-18 17:13] sonntag-adam commented on #12224
https://github.com/department-of-veterans-affairs/va.gov-team/issues/12587

[2020-08-18 17:14] mchelen-gov commented on #12361
video about CTO Benefits team & Notion.so https://www.loom.com/share/d17be21f184341a5b4c3b2dba777e909

[2020-08-18 17:17] jsev-io commented on #12457
@Jeff-Hayter Requesting access for AWS Approval
COR: Herbert Ackermann
User: Bradley Gross

[2020-08-18 17:18] ccruzgra commented on #12224
Based on the AC, this checks out for UX.

[2020-08-18 17:19] jsev-io commented on #12457
Bradley, your AWS access is subject to the above approval.

However, apologies can you verify your access to SOCKS proxy? That was active as of the merge.

[2020-08-18 17:20] arickalewis1 commented on #12296
@abuckley3385 just took a look! Who/where is the fourth product feature coming from?

is this part of the va.gov framework?
Name, DOB, Gender
Is this a re-usable framework component

[2020-08-18 17:20] davem-va commented on #11412
Hey @jbalboni   Would it be possible for you to send us geocodes instead of an address?  We currently don't use any mapping service and would need one to provide drive times.

[2020-08-18 17:24] sonntag-adam commented on #12224
closing story.

[2020-08-18 17:24] desireeturner opened #12591 "STEM: How to apply Wizard Content Updates"
Update Content to support implementation

[2020-08-18 17:24] #12224 closed

[2020-08-18 17:25] desireeturner opened #12592 "STEM: How to apply Wizard Prototype Updates"
Update Prototype to support implementation

[2020-08-18 17:31] #1354 closed

[2020-08-18 17:31] joanneesteban commented on #1354
"Cheat sheet" and "FAQ" were created in Q2 2020.

[2020-08-18 17:31] jbalboni commented on #11412
@davem-va Possibly, but doesn't `nearby` take an address now? What would be different here?

[2020-08-18 17:31] delli-gatti-michael opened #12593 "10203 STEM form - Program details section on the review page is incomplete for STEM eligible applicants"
This defect currently occurs in the Staging environment

Before submitting a form on va.gov, the user is able to review responses on the final page. All questions should be displayed along with the user's responses. Currently, STEM eligible users are not able to review all responses as the "Program details" section is missing some questions.

#### Steps to Reproduce
1. Access the [10203 form on St

[2020-08-18 17:32] dginther opened #12594 "Add custom users to the htpasswd file for caregiver beta"
## Description
_What details are necessary for understanding the specific work or request tracked by this issue?_
@kevinmirc has requested we add three users to the htpasswd file in dev/staging/prod.
The usernames are: caregiverbeta001, caregiverbeta002, caregiverbeta003
The passwords for each should be unique in each environment, and randomly generated.

## Background/context/resources
_Any addit

[2020-08-18 17:34] Samara-Strauss commented on #11836
Ah, that makes much more sense — thanks for clarifying!

Also, the changes were made and it looks like everything is working now in staging.

<img width="671" alt="Screen Shot 2020-08-18 at 1 33 14 PM" src="https://user-images.githubusercontent.com/34068740/90545963-6d471200-e157-11ea-9a0f-c1bdada9445a.png">

[2020-08-18 17:35] annaswims commented on #9903
* Form526 Submission Errors from 2020-08-11 to 2020-08-17 *
------------------------------------------------------------

| error messages | count |
|-----------------|--------|
| BackendServiceException: {:source=>"EVSS::DisabilityCompensationForm::Service", :code=>"EVSS502"}}| 96 |
| EVSS_15004: We were unable to complete your request because your file type is not a supported format. Try using a

[2020-08-18 17:37] Samara-Strauss commented on #11836
@lihanli is the regression testing done? If so, we can close this out.

[2020-08-18 17:39] lihanli commented on #11836
Yes, looks like it's working now

[2020-08-18 17:39] #11836 closed

[2020-08-18 17:40] mchelen-gov opened #12595 "Improve access to VA resources from off-network"
- office.com access
- teams access

[2020-08-18 17:43] joanneesteban commented on #11045
Once the browser/device type cards are added, we can close this ticket.

[2020-08-18 17:45] mchelen-gov opened #12596 "Improve developer experience on GFE"
GFE limitations:
- Windows operating system
- Hardware & performance
- Unable to install additional software

Possible solutions:
- Virtual machine or remote desktop
- Admin on GFE
- Github codespaces

[2020-08-18 17:45] emilywaggoner commented on #12323
Thanks for the heads up @1Copenut! Is the screenshot below an accurate representation of what it would look like with out the spans?

<img width="673" alt="Screen Shot 2020-08-18 at 1 43 50 PM" src="https://user-images.githubusercontent.com/1379629/90547163-117d8880-e159-11ea-88c1-efa9826d947c.png">

[2020-08-18 17:45] mchelen-gov opened #12597 "Investigate CAG for VA resource access from non-GFE"

[2020-08-18 17:47] Samara-Strauss commented on #9488
Also, adding this info which I shared with Ben in Slack and don't want to lose:

- Right now in Profile 1.0, there are three edit links for direct deposit, but they all open up the same form.
- If the person is eligible for direct deposit but has not added any direct deposit information, a link shows under each of those headings: "Please add a bank name," "Please add an account number," "Please ad

[2020-08-18 17:50] jenniferlee-dsva commented on #12329
@bethpottsVADEPO - thank you so much! I _think_ I grok most of what you wrote. Could we sync on a call to confirm?

[2020-08-18 17:50] alexpappasoddball opened #12598 "Analytics Implementation for Documentation Site"
# Google Analytics Implementation or QA Request

## What this form is for

<details>
<summary>More Information</summary>
<div>
    <br>
<p>Use this template to request Google Tag Manager and Google Analytics implementation or QA for your product. Please fill out all brackets.</p>

For more information, please check out the [Google Tag Manager resources](https://github.com/department-of-veterans-af

[2020-08-18 17:51] abuckley3385 commented on #12296
From my experience in healthcare - all pages that have health information shown and edited must have patient identifiers on them.  I will need to go look up the policy on this for patient portals if there is a questions on validity.

[2020-08-18 17:53] alexpappasoddball opened #12599 "Get GA on current FE Tools doc site"
## Description

Work with the Insights & Analytics team to get Google Analytics on the current FE Tools doc site.  This will allow us to track the current usage of the site compared to the usage after any changes have been made.

[2020-08-18 18:00] #12545 closed

[2020-08-18 18:02] jenstrickland commented on #11905
I'm not seeing it now. If it's no longer active, we can close the ticket.

[2020-08-18 18:02] #11905 closed

[2020-08-18 18:14] LinnJS commented on #7303
Since we are using the VSP `FormBuilder` we can use the awesome Cypress utility function that VSP provided recently.

I knew they ran AxeChecks on the form pages, but was not sure about the container files like the `introduction` and `confirmation` pages.

Went and ran the test and looks like they test every page on initial render gathered some screen shots as well.

![Screen Shot 2020-08-18 at 1.

[2020-08-18 18:22] LinnJS commented on #9305
No problemo just double checking. All the focuses are now on the `h2` the focus highlight was the part I was unsure about. But it does make sense to not have it since the `h2` is not interactive. I just have seen it so many places I was kinda used to it.

[2020-08-18 18:25] mchelen-gov commented on #12361
updated w/ result from 8/18 mtg:
## Result
- Try using Github for project management
- Further investigate public vs private: https://github.com/department-of-veterans-affairs/cto-health-products/issues/1

[2020-08-18 18:26] 1Copenut commented on #7303
@LinnJS I appreciate you dropping in the screen shots. I forgot the Cypress form tests run `axeCheck()` automatically now. Having these checks in place is a very good thing.

[2020-08-18 18:27] jason-gcio opened #12601 "Dependent"
# Background
When we initially set up the chapter 36 form we did not build out all of the fields for the form. Now that we are farther along we need to add the fields for the form.

## Considerations
- This is a first pass at building these fields and IF this form includes more complicated UI then we should break that into a separate ticket.
- This is just the form fields, wizard work is in anothe

[2020-08-18 18:27] mchelen-gov commented on #12345
This is totally irrelevant but congrats on `va.gov-team` issue #12345 :tada:

[2020-08-18 18:32] #7303 closed

[2020-08-18 18:34] #12558 closed

[2020-08-18 18:35] #12265 closed

[2020-08-18 18:36] 1Copenut opened #12602 "VSP Accessibility Feedback Design Intent Collaboration for IRIS"
**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Must

## Should

## Consider

## Definition of Done

[2020-08-18 18:40] bradl3yC commented on #12422
@jenstrickland I was not able to see this - but I did shift the right rail content which may have corrected this.  Can we re-validate?

[2020-08-18 18:40] #11993 closed

[2020-08-18 18:41] #12155 closed

[2020-08-18 18:42] bradl3yC commented on #12430
@jenstrickland this is the static website created in the CMS by whomever does that.  Its not on the actual frontend code.  I am un-assigning myself

[2020-08-18 18:43] bradl3yC commented on #12353
This is ready for validation in staging

[2020-08-18 18:43] #12370 closed

[2020-08-18 18:44] mdewey commented on #12291
Added initial findings and thoughts to [this doc](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/discovery/engineering/auth-vs-unauthed.md)

@massrb and @abuckley3385   I need to you help me answer some questions:

- Can @massrb confirm that by using VAMF, we can get the details (demographics, the reason for visit, facility, contact inf

[2020-08-18 18:45] bradl3yC commented on #12378
This is ready to be validated in staging

[2020-08-18 18:46] MickinSahni opened #12603 "Caregivers x Collab Cycle Plan"
## Product Outline
[Link to be added](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/product-management/product-outline-template.md)

## Plan
- [x] **[Define] Kickoff-Intent** - #(ticket)
- [x] **[Define] Design intent** - #(ticket)
- [x] **[Discover] Usability Testing Prep** - #(ticket)
- [x] **[Discover] Research Plan Review** - #(ticket)
- [x]  **[Discover] I

[2020-08-18 19:03] andaleliz commented on #12181
@jenniferlee-dsva Is the next screen in the prototype what you're looking for?
https://vsateams.invisionapp.com/share/G2YF5AJC845#/screens/428525873

[2020-08-18 19:05] mnorthuis commented on #12244
@leahkeeler Below are the user flow scenarios that I have identified and would like to walk through with you and your team to make sure that they are accounted for.   Once we are set on these user flows, then we can use the information to inform the messaging that is needed, CTAs, entry points and static content page work.

FYI, an intake ticket for the Public Websites team will be needed to updat

[2020-08-18 19:10] amyknox commented on #10670
HI @DanielleThierryUSDSVA

Thanks for pinging us on this. I can't seem to access the preview-prod page... could you send a screenshot? Or is there another way to preview it?

In response to your questions...
1. OK.
2. There will not be a PDF form. This is an online application, only.
3. Is this question about the preview / content page? If so, that screenshot will help us understand.  Generally, y

[2020-08-18 19:11] camerontesterman opened #12604 "BGS Technical Investigation"
## Issue Description
_What details are necessary for understanding the specific work or request tracked by this issue?_

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attac

[2020-08-18 19:13] jbalboni commented on #11632
According to @marcynadeau, these are now coming through for claudia.c.lapomarda@id.me:

![image (3).png](https://images.zenhubusercontent.com/599c94608f62dc7798c3b2cd/0db9917f-b692-451a-97c8-fad09f30ad31)

[2020-08-18 19:22] peggygannon commented on #12243
HI, @leahkeeler Please see below for content feedback on the EDU wizard. I recommend we meet to discuss the users flows that @mnorthuis has mapped out so we can have a better understanding of the content needs.

**Static pages**( How to Apply page  https://staging.va.gov/education/how-to-apply/ and Education Eligibility page https://staging.va.gov/education/eligibility/)

1. Need to work with the

[2020-08-18 19:27] #12250 closed

[2020-08-18 19:29] kevinstachura commented on #12544
Hi @tlei123 - just chatted with @ndsprinkle about this and I think these screens have been added since you last took a look:

**1. 'Did you serve in a combat zone after September 11, 2001?'**

How to get this screen to show: Select a military history date that ends after 2001.

**2. 'Have you ever been a POW?'**

This screen shows up by default, in the disabilities step right after 'what caused th

[2020-08-18 19:32] elder-joseph commented on #12230
Associated PR: https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/gibct-data-service/709

[2020-08-18 19:32] Clark-W-Griswold commented on #10095
Url for above: https://staging.va.gov/education/apply-for-education-benefits/application/1995/personal-information/contact-information

[2020-08-18 19:33] #12029 closed

[2020-08-18 19:33] #12557 closed

[2020-08-18 19:42] saman-moshafi-va commented on #6737
Re-opening as we need access to the AWS console; changed [Grant AWS Console access?] from No to YES

[2020-08-18 19:42] philherbert commented on #6719
Reopening, and changing my request to include AWS Console Access. Thanks!

[2020-08-18 19:51] 1Copenut commented on #12323
@emilywaggoner Yes, that's what our H2 would look like without any child spans.

I opened a bug ticket with Apple using their Feedback system here: https://feedbackassistant.apple.com/feedback/8452615 . Not sure if that will get resolved or just be an item in the backlog, but figured it couldn't hurt to approach this as a forms lib item, and a bug in iOS Safari VoiceOver.

[2020-08-18 19:56] bmcgrady-ep commented on #6356
Here is the DOMO Audt document showing the progress: https://docs.google.com/spreadsheets/d/1GMGXc3fWZ7T5SADib0MhfJFxRpLwj7ZEyEwLZKWU9Ds/edit?usp=sharing

[2020-08-18 20:06] RLHecht commented on #12559
Validated on live site. Closing ticket. FYSA @MickinSahni @DanielleThierryUSDSVA

[2020-08-18 20:06] #12559 closed

[2020-08-18 20:09] MickinSahni commented on #11335
Hey @tlei123, would you need examples for Use Case D available in perpetuity? This is a negative case we're testing for and we'd hope we would *never* have an invalid PDF url. BUT, we can introduce a temporary example that we'd need to revert. Is that ok?

[2020-08-18 20:12] mdewey commented on #12257
@abuckley3385  or @arickalewis1  Question on the mock-up, is that `home phone` or `mobile phone` ?

[2020-08-18 20:13] bkjohnson commented on #10095
I couldn't get the original link that Trevor posted to work, but I think Dan may be right.

![image](https://user-images.githubusercontent.com/2008881/90560745-6f5ba180-e154-11ea-9bef-fc11d70f604b.png)

I'm going to see if it is possible to prevent that alternative configuration from happening.

[2020-08-18 20:25] RLHecht opened #12606 "Update Yellow Ribbon Program page with stakeholder changes"
## Issue Description
Per stakeholder Tammy Hurley we need to make a few changes to the eligibility section of the Yellow Ribbon Program page because of 508 compliance.

Page to update: https://www.va.gov/education/about-gi-bill-benefits/post-9-11/yellow-ribbon-program/

![Screen Shot 2020-08-18 at 4.17.13 PM.png](https://images.zenhubusercontent.com/5c9b7e302ac54336e2c327b8/8d0f4515-13d4-4861-847d

[2020-08-18 20:27] amyknox opened #12607 "Usability Testing Prep: Comparison Tool School Ratings"
## Steps to complete Usability Testing Prep:
- [x] Product Manager: create this issue and fill in feature name in the title and other bolded information appropriately
- [x] Link to this issue once created in [#vfs-platform-support](https://dsva.slack.com/channels/vfs-platform-support) in Slack; tag @ AndreaHewitt @ Mandi Lipka
- [ ] Mandi to schedule meeting with VSP reviewers and **requesting tea

[2020-08-18 20:33] jenstrickland commented on #9305
I don't blame you for being unsure, and very much appreciate you asking. Thank you!

We put the gold halo around some headings under some circumstances. 😜  [silly phrasing intended] I think it can be subjective. We may put a focus halo on a non-interactive element when the focus is set using JavaScript and tabindex of -1, in some cases.

[2020-08-18 20:40] brangi commented on #12064
merged

[2020-08-18 20:40] #12064 closed

[2020-08-18 20:40] brangi commented on #11460
merged

[2020-08-18 20:40] #11460 closed

[2020-08-18 20:43] brangi commented on #12063
addressed and merged with mashup PR

[2020-08-18 20:43] #12063 closed

[2020-08-18 20:46] bkjohnson commented on #10095
What we're seeing in the markup in Trevor's is the result of the `ui:description` part of the schema being used to include the label as well.

https://github.com/department-of-veterans-affairs/vets-website/blob/15f0403d9b605c6108730249738024af74777991/src/applications/disability-benefits/2346/schemas/2346UI.js#L21

Here is where that configuration takes effect in the markup:

https://github.com/de

[2020-08-18 20:47] ericbuckley opened #12608 "standalone signin will redirect users to CSS before checking transactionids"
Currently, the logic used to see if we should redirect a logged in user to CSS is executed before we check to see if the transaction ids match.  We should reverse this logic and check the transaction ids first, if they differ, re-login the user to get them matched up, then redirect the user to CSS.

[2020-08-18 21:05] kfrz commented on #10666
**2020-08-17**

## Tasks

- [x] Redeploy previously generated AMI as my latest is returning 502 when deployed. [Job](http://jenkins.vfs.va.gov/job/deploys/job/sentry10-utility/8/)
- [x] Write Sentry config template to the EC2 filesystem for use in the Sentry `Dockerfile`

## Next Steps

- [ ] Create and test a Sentry 10 release configuration
- [ ] Create a Sentry specific IAM Role (or update/attac

[2020-08-18 21:06] kfrz commented on #10666
**2020-08-18**

## Tasks

- [ ] Cleanup the configuration template and commit to git branch
- [ ] Test the build locally and check (in ssh, then docker,) for the GitHub credstash calls
- [ ] Open PR with changes

## Next Steps

- [ ] Create and test a Sentry 10 release configuration
- [ ] Create a Sentry specific IAM Role (or update/attach `sentry-web-worker`, see `ansible/deployment/config/sentry

[2020-08-18 21:11] jbritt1 opened #12609 "Remove caregiverbeta001, caregiverbeta002, and caregiverbeta003 users from dev, staging, and prod"
## Description
_What details are necessary for understanding the specific work or request tracked by this issue?_
https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/12594
## Background/context/resources
_Any additional context for the reader to know, if applicable_

## Technical notes
_Notes around work that is happening, if applicable_

[2020-08-18 21:11] #12592 closed

[2020-08-18 21:11] jbritt1 commented on #12594
Ticket to remove users created: https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/12609

[2020-08-18 21:11] #12594 closed

[2020-08-18 21:12] #12591 closed

[2020-08-18 21:19] ncksllvn commented on #12181
Do we want this functionality also for PDF links included under the Related Forms sections?

![image.png](https://images.zenhubusercontent.com/59cb9de1b0222d5de47953d8/5a10a244-d19e-4bfb-970f-46588143df87)

I'm assuming we do. It doesn't really add much to the LOE to implement this.

[2020-08-18 21:21] abuckley3385 commented on #12257
Both are coming from the demographics API?  Is there a phone preference flag in that API?  i think we have to show both if there is not a pref flag and only show if it has an entry.  Let me know whats in the api and I can update the feature outline.

[2020-08-18 21:22] jenstrickland commented on #12422
@bradl3yC I am still seeing this. Are you able to test using an iPhone? "Download" and "letter" blend together in both portrait and landscape modes.

![letter2](https://user-images.githubusercontent.com/57469/90567002-65976580-e177-11ea-959c-93ff9c4d6d9d.png)

![letter1](https://user-images.githubusercontent.com/57469/90567013-6af4b000-e177-11ea-8953-8b6cd6042ecb.png)

[2020-08-18 21:23] jenniferlee-dsva commented on #12181
That's great, thank you @andaleliz. (I didn't know there was a next page!)

@ncksllvn - I just realized something - I'm not sure we even need the API valid_pdf flag for this, because the experience is:

1. User clicks on the link.
2. The link 404s.
3. We display the alert message.

So wouldn't we be able to tell just from the form link breaking upon the user clicking? Nvmd me though if I am missin

[2020-08-18 21:26] jenniferlee-dsva commented on #12181
@ncksllvn - re https://github.com/department-of-veterans-affairs/va.gov-team/issues/12181#issuecomment-675726062

Oh, interesting! Yes, great catch.

@andaleliz - Could you see Nick's comment above? I would imagine that the same error message can display instead of the bad form link -- just like the other one, after clicking.

[2020-08-18 21:26] emilywaggoner commented on #12323
Got it - thanks! I think the styling is fine, but I think it merits another look at the copy. Without the specialized styling, it reads a little funny as a heading, so I imagine we might want to make a slight change to something like, "Step 1 of 6: Veteran Information"

I would love to consult @peggygannon on what actual copy improvements we might want to make. Peggy, would love your input -- let

[2020-08-18 21:28] mnorthuis commented on #12122
Vanity URL guidelines documented here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/information-architecture/vanity-url-guidelines.md

Process for requesting is TBD, but guidelines is complete.

[2020-08-18 21:36] tlei123 commented on #10638
From [Slack conversation w/ Product Team](https://dsva.slack.com/archives/C52CL1PKQ/p1597770773104500), entry-point URLs and latest copy/layout updates have been provided.

I'm updating the test-cases, and running the unauthenticated ones today.

Will need to run VSA BaM1's BDD test-cases tomorrow (Wed), but will circle back here afterward to follow-up (probably Thu 20) on test-account(s).

[2020-08-18 21:37] jenstrickland commented on #12430
@leahkeeler Who is your contact for this work? My suspicion is Public Websites, but I'm not sure who y'all worked with there.

[2020-08-18 21:42] mmiddaugh commented on #11090
Per @davidconlon, we may want to do a POC which can be reviewed with Jennifer for accessibility

[2020-08-18 21:45] ncksllvn commented on #12181
I was thinking that originally actually but we won't be able to tell the status (404) of anything outside of our domain, www.va.gov, even though we linked to the download. So we have to rely on the API to tell us about the PDF's validity.

I was thinking that we don't do number 2 btw - we would essentially use JS to stop the download from proceeding until we determine the PDF's validity, then only

[2020-08-18 21:49] mmiddaugh opened #12610 "Facility Locator: Search for Immunizations"
** This is a placeholder issue for an emerging need to surface Immunizations/Flu shots

## Issue Description
As a Veteran, I need to find locations where I can use my benefits to be immunized against seasonal flu and other recommended vaccine-preventable diseases.

This will be another mash-up search returning VA health, Community care pharmacies and Urgent care locations in a single results list.

[2020-08-18 21:55] leahkeeler commented on #12430
Hi Jen - Danielle did all the HP work

[2020-08-18 22:01] jenstrickland commented on #12430
Hi @DanielleThierryUSDSVA — would you be the person to connect with regarding this heading level issue?

[2020-08-18 22:10] mmiddaugh opened #12611 "CONSIDER: Navigation for VAMC facility operating status"
## Issue Description
As a Veteran, I want to easily learn more about a facility's operating status so that I can be prepared to visit.

The status alone does not provide enough information to prepare a Veteran for a visit. Veterans need to view details related to "Facility Notice" or "Limited services and hours".

<details>
<summary>Currently, a facility's operating status is visible within the Lo

[2020-08-18 22:18] mmiddaugh opened #12612 "Update pharmacy search experience"
## Issue Description
There are (at least) three distinct reasons a Veteran can visit a local retail pharmacy:

- Scenario 1: Filling a prescription following an urgent care visit
- Scenario 2: Filling a limited (14 day) prescription following a visit to a community care provider
- Scenario 3: Flu shots

Facility Locator currently displays an alert for urgent care benefit information relevant to Sc

[2020-08-18 22:23] DanielleThierryUSDSVA commented on #12430
Hi @jenstrickland - yes! I can help resolve this.

[2020-08-18 22:24] DanielleThierryUSDSVA commented on #12430
I was counting the accordion as the h3 here...but sounds like that's not correct, yes?

[2020-08-18 22:25] 1Copenut commented on #12323
@emilywaggoner

Correct, this would be an update to the HTML and CSS, so all browsers would pick up the single heading style. I'd test it thoroughly in the major (and minor) browser pairings in staging before giving it a 👍

[2020-08-18 22:34] tlei123 commented on #12544
Thx, @kevinstachura !  I'll update test-cases based on new screens above.

I'm hoping to start test-runs this evening \[got Public-Websites's SSO-Cerner Health Pages to test right now], shooting for completion by end of (or evening of) tmrw (Wed).

[2020-08-18 22:36] tlei123 commented on #6949
New design screens added to [BDD 3](https://vsateams.invisionapp.com/share/8GXOG91ZWNJ#/screens) \[see [Staging Review ticket comment](https://github.com/department-of-veterans-affairs/va.gov-team/issues/12544#issuecomment-675670053)].

Will update test-cases based on above.  Planning to start test-runs this evening, and finish by tmrw (Wed) evening.

[2020-08-18 22:59] tlei123 commented on #11335
@jenniferlee-dsva @MickinSahni , i'm shooting for starting test-runs this Thu 20th afternoon and finishing late Fri / early Mon \[got your SSO-Cerner and BaM1's BDD test-runs to do right now].

Re. Use Case D (invalid PDF link), no we won't need to perpetuate this edge-case.  I'm fine with validating that just once.
 I'm figuring any re-test would only be needed IF the alert trigger condition(s) g