[2020-07-06 13:03] sonntag-adam commented on #10167
https://github.com/department-of-veterans-affairs/vets-website/pull/13143

[2020-07-06 13:30] jenniferlee-dsva commented on #9350
All - The original request for this redirect was made (by me) a few months ago, and I already communicated this redirect to Paul at that time. There is no 'new' comms that's needed. Also this is not a "legacy" or a "parity" redirect -- it is simply a 404 redirect for a form that's been deprecated and not being replaced, and therefore doesn't need to go through the process in place for "legacy" or

[2020-07-06 13:34] stephenBarrs commented on #9608
Received the following information from Jose Beltran in 508 group regarding Android testing findings:

rather than staying on the displayed question.
What I would expect: After a user answers the first question and swipes right for TB to read out the next question.

[2020-07-06 14:09] sonntag-adam commented on #10167
@1Copenut in staging.

[2020-07-06 14:32] kelsonic commented on #10859
Can we move this to validate + close?

[2020-07-06 14:33] mdewey commented on #10715
![screencapture-localhost-5001-success-2020-07-06-10_30_19](https://user-images.githubusercontent.com/1793923/86604753-c7a75d00-bf73-11ea-915e-6ce05101d880.png)

@abuckley3385  Here is a quick screenshot, it's not the prettiest, but it is showing data. This morning I am working on showing more data per item, as we discussed last week.

Also, here is the code for the prototype: https://github.com/m

[2020-07-06 14:33] #6644 closed

[2020-07-06 14:36] #1645 closed

[2020-07-06 14:38] #4164 closed

[2020-07-06 14:45] lenaecb opened #10897 "Project Kickoff // Same day appointments (Express Care)"
## Artifacts - _please bring the following to the kickoff meeting_
[VAOS - Express Care Product Initiative ](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/appointments/va-online-scheduling/product/product-projects/express-care-initiative.md)

## Meeting attendees from **requesting team**
- Product Manager (required): Lenae Storey
- DEPO Product Lead

[2020-07-06 14:46] jenstrickland commented on #10559
Thanks, @ala-yna ! I'm going to mark this as a "Dev Intent" review point (exclusive to VSA teams, at this time). Starting on this now.

Do you know where the base 10-10CG PDF came from, by chance?

[2020-07-06 14:51] RLHecht commented on #10544
@AnneHurley This page has been copyedited and the rates have been checked again the legacy page. All good! FYSA @bethpotts

[2020-07-06 14:52] leahkeeler commented on #10007
Hi @Kimberley2019 - the errors are there, what happened to me is the doc doesn't load until you scroll down - make sure all 12 pages are loaded. I can. .pdf it as well if that will help just LMK

[2020-07-06 14:56] jenstrickland commented on #10559
## 10-10CG Shell

### Document (4 issues)

#### Failed (We need to address)

- Primary Language
- Title

#### Needs manual check (We should check the document manually, but this isn't part of non-compliance errors.)

- Logical reading order
- Color contrast

### Page Content (3 issues)

#### Needs manual check

- Screen flicker
- Scripts
- Time responses

![Screen Shot 2020-07-06 at 10 52 00 AM](h

[2020-07-06 15:01] mpelzsherman commented on #9410
Added a [PR](https://github.com/department-of-veterans-affairs/vets-website/pull/13370) that turns off autocomplete. Greatly improves the geolocation aspect of search.

[2020-07-06 15:07] kevinmirc opened #10898 "Review CARMA IAM iRSD (MPI Search Specs)"

[2020-07-06 15:14] lenaecb opened #10899 "Express Care - v1 - Veteran only registered at 1 VAMC"
As a Veteran who is registered at one VAMC and that facility has Express Care enabled and available today, I will be able to request an express care appointment in VAOS.

## Acceptance Criteria:
- [ ] Veteran sees Express Care request option on VAOS appointments homepage when they log in
- [ ] If Veteran chooses to use Express Care, they will be prompted with "How EC works" description and emergen

[2020-07-06 15:19] lenaecb opened #10900 "Design - Appointment page with EC prompt to start EC flow"
To support EC flow, need a mock for what a Veteran sees if they are registered at a VAMC that is offering EC and that EC is available right now (in the defined window from VATS).

## AC:
- Visible on homepage of VAOS
- This is the 'active' state prompt meaning EC is available right now (Veteran is using VAOS in window when EC is being offered)

EC Prototype: https://vsateams.invisionapp.com/share/

[2020-07-06 15:20] meganhkelley commented on #10739
Per conversations in Slack, we scheduled a Campaign Landing Pages "regroup" for 7/8 @ 10:30 AM

[2020-07-06 15:23] lenaecb opened #10901 "Design - Inactive state of EC prompt on VAOS appts homepage"
Veteran who is eligible for EC at a VAMC who has EC enabled, but it is not currently available for the Veteran at this time because it's out of the window for EC set by VATs.

AC:
- Veterans see EC prompt on VAOS appt homepage but the prompt is not actionable
- Need to include language about the Facility and the window in which EC requests are available

[2020-07-06 15:26] lenaecb opened #10902 "Design - Screens for Express Care flow (happy path)"
Once Veteran sees active EC prompt on VAOS homepage, Veteran can then start the follow EC flow:

## AC:
- Need designs that enable this flow
- Veteran can exit flow without making EC request

[2020-07-06 15:32] mpelzsherman opened #10903 "Set autocomplete to false in Facility Locator search"
The Mapbox "autocomplete" setting is turned **on** by default.

This was causing problems with search, esp. with state abbreviations.

"Glendale, CO" was finding facilities in Connecticutt, for example.

Turning autocomplete OFF fixes this problem with no obvious harm to search functionality.

[2020-07-06 15:33] #10903 closed

[2020-07-06 15:34] mpelzsherman commented on #10903
Attn @mmiddaugh

[2020-07-06 15:35] MickinSahni commented on #10027
Confirming this is scheduled to go out with the daily deploy this Wed (7/8)
cc @leahkeeler @mnorthuis

[2020-07-06 15:36] mpelzsherman commented on #10903
PR: https://github.com/department-of-veterans-affairs/vets-website/pull/13370

[2020-07-06 15:38] lenaecb opened #10904 "Technical Discovery/Questions - Express Care"
## Questions to answer:
- Q: Eligibility & Facilities -- how will we handle these?
     - A: If Veteran is registered at one VAMC & that facility has EC turned on and available for today then display EC prompt on Appts homepage
     - A: If Veteran is registered at a site that offers EC and a site that does not off EC - "Express care is a pilot feature currently available for Veterans in San Franc

[2020-07-06 15:50] MickinSahni commented on #10860
Expected behavior: Drupal preview that uses this widget should start working

[2020-07-06 15:50] lwalsh617 commented on #8396
@kelsonic -- I updated the redirect destination at the top of this ticket. Here it is as well: https://www.va.gov/decision-reviews/legacy-appeals/#a-legacy-appeal-follows-these-
(FYI, we changed it from the page url to an anchor tag url.)

[2020-07-06 15:52] lwalsh617 commented on #9350
We discussed this on stand up this morning. Ticket [8396](https://github.com/department-of-veterans-affairs/va.gov-team/issues/8396) was assigned to dev. I dropped a note on that ticket about the anchor tag so this should be redirected shortly.

[2020-07-06 15:59] RLHecht commented on #10801
These pages have now all been published. FYSA @bethpotts @AnneHurley @MickinSahni Moving to validate.

[2020-07-06 15:59] ffafara-tw commented on #6670
What is the next step?
Are we waiting for @Jeff-Hayter to approve?

[2020-07-06 15:59] kreek opened #10905 "VOAS background jobs don't run in staging/prod"
VAOS sidekiq jobs don't run in staging and production because of a NameError. http://sentry.vfs.va.gov/vets-gov/platform-api-staging/issues/139982/?query=is%3Aunresolved

Steps to reproduce:

1. log in
2. make an API call to VAOS backend (e.g. appointments)
3. wait 1 minute
4. make another call
5. Sentry will display a new NameError as above. Also in a staging console you can verify that the sessi

[2020-07-06 16:00] jbritt1 commented on #6670
That is correct

[2020-07-06 16:00] kelsonic opened #10906 "Add frontend list of Cerner facilities"
# Description

`isCerner` in the Redux store does not seem to be accurate at the moment. As a temporary fix, we are hardcoding the `isCerner` flag for the following 2 facilities: `668` and `757`.

## Acceptance Criteria

- [ ] Add a frontend list of Cerner facilities instead of relying on `isCerner` key-value pair.

[2020-07-06 16:02] drorva commented on #10807
@rianfowler can you get someone on the FE team to look at this.

[2020-07-06 16:11] #10570 closed

[2020-07-06 16:13] arickalewis1 commented on #10663
Here's a link to the research findings document
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/discovery/user-research/research-findings.md

[2020-07-06 16:17] leahkeeler commented on #10027
We have a go/no-go meeting at 2pm et - I will let you know right after. Issues--> They found that queries are causing time-out resulting in  500's. My bet is this is getting pushed, but keep your fingers crossed.

[2020-07-06 16:30] dmccurdybah commented on #10613
The "fuzzy-search" uses the `pg_trgm` extension to search the institution name and city using a [trigram search](https://en.wikipedia.org/wiki/Trigram_search) by breaking it into smaller 3-character pieces which are compared instead of the entire value.

This finds partial matches and helps users find good results even when the search term includes misspellings.

The results are ordered by a match

[2020-07-06 16:31] kelsonic commented on #8396
PR is up! https://github.com/department-of-veterans-affairs/devops/pull/7215

[2020-07-06 16:43] rtwell commented on #10901
![image.png](https://images.zenhubusercontent.com/5568d4774f7a08fbb7f30688/70d88267-615d-4f28-8f35-97cfc483c5a1)

[2020-07-06 16:45] rtwell commented on #10902
https://vsateams.invisionapp.com/share/U9XQMY2GS5V#/424141776_Express-Care-02a

for reference here:

![image.png](https://images.zenhubusercontent.com/5568d4774f7a08fbb7f30688/f6efb12b-0479-4329-ba5b-71728fbc25a1)

[2020-07-06 16:47] Clark-W-Griswold commented on #10114
adding PR here for visibility:
https://github.com/department-of-veterans-affairs/vets-website/pull/13355

[2020-07-06 16:52] mr0sari0 commented on #9982
The PR for the form system changes has now been merged.

[2020-07-06 16:56] mr0sari0 commented on #10462
Hi @rileyorr and @peggygannon, I'm happy to announce that the PR for using customText in the forms library was merged today.

[2020-07-06 16:57] bethpottsVADEPO commented on #9350
@jenniferlee-dsva @lwalsh617 I'll let the stakeholders know. When will this be live? Also, why is the Anchor tag chopped off like this, without "steps" on the end?: a-legacy-appeal-follows-these-

[2020-07-06 17:01] lwalsh617 commented on #9350
Beth, I pulled the anchor tag from the source code which didn’t include “steps.”

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Beth Potts <notifications@github.com>
Sent: Monday, July 6, 2020 12:58 PM
To: department-of-veterans-affairs/va.gov-team
Cc: Laura Walsh; Mention
Subject: Re: [department-of-veterans-affairs/va.gov-team] Redirect Request: Legacy Form La

[2020-07-06 17:08] meganhkelley commented on #10800
Rescheduled per VFS team request

[2020-07-06 17:13] jenstrickland commented on #10559
## Simple

The same issues as the shell.

![Screen Shot 2020-07-06 at 1 11 22 PM](https://user-images.githubusercontent.com/57469/86620486-63dc5e80-bf8a-11ea-8e10-4889db7b8f76.png)

![Screen Shot 2020-07-06 at 1 11 33 PM](https://user-images.githubusercontent.com/57469/86620498-6939a900-bf8a-11ea-9795-1656c53c32dd.png)

![Screen Shot 2020-07-06 at 1 11 45 PM](https://user-images.githubusercontent.

[2020-07-06 17:15] jenstrickland commented on #10559
## Kitchen Sink

The same issues as the shell.

![Screen Shot 2020-07-06 at 1 14 19 PM](https://user-images.githubusercontent.com/57469/86620667-b87fd980-bf8a-11ea-9818-a77bbc7da53e.png)

![Screen Shot 2020-07-06 at 1 14 28 PM](https://user-images.githubusercontent.com/57469/86620680-be75ba80-bf8a-11ea-83f6-2b88a7ef4cd5.png)

![Screen Shot 2020-07-06 at 1 14 37 PM](https://user-images.githubuserco

[2020-07-06 17:15] jenniferlee-dsva commented on #10432
Hi Liz - I'd like to add one more UX to test for in addition to the ones you already have in the conversation guide:

A. **Navigability between related learning center articles** - Can users move easily from a LC article to related LC articles okay without getting confused?
- Example: From a 'How to change your address' LC article to another related LC article like Sign in FAQs or 'How to create a

[2020-07-06 17:16] tlei123 commented on #10484
@pjhill , no Test Plan/Cases or Reports needed for VAMC's content.  As we've already discussed, there's no separate copy or design documentation against which to QA against, nor do I see any need for such docs -- the Team already has their own internal content-review process.

As far as Left-Nav (LN) QA goes...

Through Jennifer Strickland's screenshare this morning, I'm confirming here that LNs a

[2020-07-06 17:17] jenstrickland commented on #10559
## Overflow

The same issues as the shell.

![Screen Shot 2020-07-06 at 1 16 15 PM](https://user-images.githubusercontent.com/57469/86620844-13b1cc00-bf8b-11ea-922c-783f677e06f8.png)

![Screen Shot 2020-07-06 at 1 17 12 PM](https://user-images.githubusercontent.com/57469/86620851-16acbc80-bf8b-11ea-8415-a16a6b395dec.png)

![Screen Shot 2020-07-06 at 1 17 23 PM](https://user-images.githubuserconten

[2020-07-06 17:19] mshea0606 commented on #10887
@Samara-Strauss Will do. I'll take a look today

[2020-07-06 17:21] tlei123 commented on #10483
**QA feedback**

@pjhill , no Test Plan/Cases or Reports needed for VAMC's content.  As we've already discussed, there's no separate copy or design documentation against which to QA against, nor do I see any need for such docs -- the Team already has their own internal content-review process.

As far as Left-Nav (LN) QA goes...

Through Jennifer Strickland's screenshare this morning, I'm confirmin

[2020-07-06 17:22] RLHecht commented on #10635
@AnneHurley @bethpottsVADEPO I reviewed this page but I put it in Blocked because we are awaiting stakeholder feedback on the rate dates. We currently list October 10 and December 12 for when rates start but the legacy page mentions October 1 and December 1. The later dates are also on the current rates page so Beth is checking with stakeholders next week to determine if there's an error or these

[2020-07-06 17:24] tlei123 commented on #10482
**VSA-QA results**

@pjhill , no Test Plan/Cases or Reports needed for VAMC's content.  As we've already discussed, there's no separate copy or design documentation against which to QA against, nor do I see any need for such docs -- the Team already has their own internal content-review process.

As far as Left-Nav (LN) QA goes...

Through Jennifer Strickland's screenshare this morning, I'm confir

[2020-07-06 17:28] jenstrickland commented on #10559
## Overflow + extras

This document is very different from the initial form.

### Document (5 issues)

#### Failed

- Tagged PDF
- Primary Language
- Title

#### Needs manual check

- Logical reading order
- Color contrast

### Page Content (2 issues)

#### Failed

- Tagged content
- Tab order

### Alternate Text (5 issues)

#### Failed

- Figures alternate text
- Nested alternate text
- Associate

[2020-07-06 17:29] zurbergram commented on #7857
https://github.com/department-of-veterans-affairs/vets-json-schema/pull/448

[2020-07-06 17:31] jenstrickland commented on #10559
@kevinmirc Thanks for the PDF examples. Do you have any more information on where the base file for the Overflow_Extras came from?

I'm wondering if that is a file used by the PDF generation utility for when the Additional Information scenario comes up.

cc @ala-yna

[2020-07-06 17:32] sporeboy commented on #10823
VR&E (CH31) wizard flowchart created along with user-flow thumbnails: https://xd.adobe.com/view/879cf230-f3ce-4204-79ba-c3453b0bcc09-f1ad/screen/cda5f810-18aa-4b95-b441-a63050f91bda/CH31-Wizard-Flowchart-1

[2020-07-06 17:34] mr0sari0 commented on #9568
Here's an updated pic of the intro page:

![screenshot-localhost_3001-2020 07 06-13_34_01](https://user-images.githubusercontent.com/12755283/86622175-760bcc00-bf8d-11ea-95ed-ba1ef3689b64.png)

[2020-07-06 17:35] sporeboy commented on #10823
Sources include stakeholder-supplied questionnaire (screen-caps), VA.gov and [revised VA factsheet (June 2020)](https://www.benefits.va.gov/BENEFITS/factsheets/serviceconnected/Ch31FactSheet.pdf). This last document was used as the source-of-truth for requirements and eligibility.

[2020-07-06 17:35] rtwell commented on #10900
another option for the VAOS landing page w/express care visible:

![image](https://user-images.githubusercontent.com/12564977/86622204-82902480-bf8d-11ea-8eda-f697eb71e13d.png)

[2020-07-06 17:36] sonntag-adam commented on #8201
In staging, waiting for prod deploy for prod https://api.va.gov/flipper/features

[2020-07-06 17:37] jenstrickland commented on #10559
## Recommendations to ensure 508 compliance

1. Ensure the 10-10CG shell PDF is compliant to begin with. The assumption here is that when the data populates the shell it would be compliant, as shown in these examples.
1. Locate the origin of the Additional Information shell, and ensure the shell is compliant. The same hypothesis applies.

[2020-07-06 17:39] 1Copenut opened #10907 "Technical Discovery - Automated PDF Accessibility"
Doing technical discovery to map the PDF "shells" being matched up with data submitted from front-end forms. These PDFs are going to be evaluated for accessibility once we have a good understanding where all reside, and which ones we (VSP) are responsible for.

[2020-07-06 17:43] zurbergram commented on #7857
https://github.com/department-of-veterans-affairs/vets-api/pull/4483
https://github.com/department-of-veterans-affairs/vets-website/pull/13379

[2020-07-06 17:46] rtwell commented on #10902
one question i have regarding the H1s on these pages—in vaos, i think we have a lil mini header that says "new appt" persistently on every page, and then the h1 for the page is the question we're asking, correct? if that's the case, we can modify these mocks to keep that pattern. however, since EC is its own thing, i'm not sure its 100% necessary to maintain that parity.

[2020-07-06 17:53] #10478 closed

[2020-07-06 17:53] 1Copenut commented on #10478
Issue moved to [department-of-veterans-affairs/vets-design-system-documentation #204](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/204) via [**ZenHub**](https://www.zenhub.com/)

[2020-07-06 17:53] mr0sari0 commented on #9982
Also I raised the estimate on this ticket due to the effort required to get this PR merged.

[2020-07-06 17:56] mr0sari0 commented on #10043
Hi @jenstrickland, I was wondering if we could meet up on this to ensure the correct steps are taken to make these pdfs 508 compliant.

[2020-07-06 18:02] mdewey opened #10908 "Understand the current forms library"
**Idea:**
Even though we as a team are still going through discovery, we know we are going to be at least using some sort of form or forms. Research creating a form using the current forms system is needed.

**Acceptance Criteria**
- We should be able to submit a simple form
- Should be able to understand and be able to discuss solutions using the existing forms system.

[2020-07-06 18:03] jenstrickland commented on #10043
Thank you for asking, @mr0sari0 ! 🏆

Do you have the base form PDF?

Have you generated a sample, yet?

Feel free to put time on my calendar.

Some history: so far, I've noticed that these generated PDFs append data to a "shell" PDF of the form. If we ensure that shell is compliant (and the Additional Information shell), it looks like the generated PDF will be, too. If the shell isn't compliant, t

[2020-07-06 18:06] jenniferlee-dsva commented on #10777
@DanielleThierryUSDSVA  @bethpottsVADEPO - updated list with just the disability topic pages we will test with. Since you're already working on the draft consolidated AO page, we can use that draft to put in a LC template format.  (If the consolidated draft isn't ready now, feel free to just pick one of the source pages into the format.)

[2020-07-06 18:11] jenniferlee-dsva commented on #10778
Given our latest discussion about what we need for the actual prototype tasks, we might not need anything in this ticket except the Burials tagged list of LC search results page -- which is available in Ryan's sketch files here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/content/tier-2-content-IA-and-design/learning-center-mvp/wip-files/VA-Learning-center-te

[2020-07-06 18:17] mdewey commented on #10908
I am able to:

-  create a simple form, that includes drops, radios, and text fields (and others).
-  Handle required fields and other validation; both hardcoded and dynamic logic
- Create custom Widgets
![captured (1)](https://user-images.githubusercontent.com/1793923/86625609-57103880-bf93-11ea-830a-477e91c1ac8f.gif)

Current outstanding questions :
- Can we use the authenticated user's data in

[2020-07-06 18:21] mnorthuis commented on #10678
Keep in mind that the remaining items (all global) are all linked to in the footer, and given how low the clicks are on all of those items, I'm not sure if they provide alot a value to this page.

I would be open to leaving the box and removing the "Veterans Affairs" link, but would like to see the analytics checked again later this year and if it continues to be low volume, it may be more distrac

[2020-07-06 18:26] saneshark commented on #10087
As a separate ticket, perhaps we might want to have something like a feature toggle. It would be nice to have one that disables the app or portions of the app altogether with a notification and also one where we can just put a notification up thats more generic. It's too bad that we can't set the messaging somehow from within feature toggles (not really its intended use).

[2020-07-06 18:27] jenniferlee-dsva commented on #10432
Plus ^ - a clarification on task 1 in the convo guide...

Imagine you are looking for information on [VA account topic]. Talk me through how you'd find the answer.
Start on the home page of learning center. Scroll and talk me through how you'd find that information from here.
Enter search term

The ^ assumes that the user will use the search bar from the LC homepage. However, it's also possible th

[2020-07-06 18:28] lenaecb commented on #10844
@jbalboni - this is one of the stories that I have for the upcoming EC work.

For EC requests, the preferred day is always today (the day of the request). So, for this use case, we'd want to change that logic to show cancelled appointment for today. The current logic (as you know) if "Cancelled requests are shown if there is a requested date later than today"

@lalexanderson-dsva - it may be worth

[2020-07-06 18:29] #10089 closed

[2020-07-06 18:32] #10898 closed

[2020-07-06 18:35] #10823 closed

[2020-07-06 18:36] #10828 closed

[2020-07-06 18:38] lunascoop commented on #7234
@DanielleThierryUSDSVA cc: @bethpotts I just attended the DLC meeting and reviewed the pages w/them. Overall, they're happy w/the pages but requested one change. For the prosthetic socks page, they want us to clearly specify that the DLC is how to order amputee prosthetic socks and not any other type of medical socks (ex: diabetic medical socks). Currently, they get a lot of calls from Veterans to

[2020-07-06 18:39] lenaecb commented on #10900
@rtwell - I would love to A/B test this. Is there a preferred tool that you know of on the VSP side?

My initial reaction is to stick with the previous iteration because EC is still considered in "Pilot" mode and it seems there is a desire to encourage folks to more 'telehealth' like options. But, I also like that this doesn't draw the users eyes away from the typical flow (which they most likely

[2020-07-06 18:39] jenniferlee-dsva commented on #10775
@DanielleThierryUSDSVA - I'm unassigning you for now; I'll provide draft of these to Liz, as I'd like to get moving on part of the protoptype.

[2020-07-06 18:46] jbalboni commented on #10844
Showing cancelled EC requests just on the day they're cancelled is fine. We could also show them for a specified amount of time after created or cancelled (like 24 hours).

Might be worth keeping in mind that it looks like FHIR doesn't support this kind of activity data. I just see a `created` date on the current version of the spec (nothing in DSTU2, that we're aiming toward). So we might lose so

[2020-07-06 19:03] andaleliz commented on #10432
@jenniferlee-dsva, makes sense. In response to:

**your first comment**
I like the idea of seeing how users navigate from article to article.  Looking at the templates, it seems like the ways users would do this, for both navigation questions you outlined, is via the `related information` box at the bottom of a page, or by another search via the search bar at the top.

Is that correct?

**your sec

[2020-07-06 19:09] andaleliz commented on #10778
I put a list of the pages we need so far in our status/decisions document. It's in the Decisions section from the notes on our 6/30 meeting.  Maybe this will be helpful to clarify what does/doesn't need to be written?

I'll update the list once we meet tomorrow and discuss any additional pages we need.

[2020-07-06 19:24] desireeturner opened #10909 "STEM: Discussion Guide & Prototype - Finalize"
Final adjustments to script
Final adjustments to prototype

[2020-07-06 19:27] desireeturner opened #10910 "STEM: Pilot Test(s)"
Conduct Pilot Test

[2020-07-06 19:27] desireeturner opened #10911 "STEM: Testing - Desktop"
Test with users

[2020-07-06 19:28] desireeturner opened #10912 "STEM: Testing - Compile Session Notes"
Compile session notes
Upload notes to GitHub Research folder

[2020-07-06 19:29] desireeturner opened #10913 "STEM: Testing - Synthesis"
Consolidate UX Findings & Recommendations
Consolidate relevant findings
Identify Recommendations

[2020-07-06 19:31] desireeturner opened #10914 "School Ratings: UX Solution Working Session"
UXers review concepts & inputs
 Discuss pros/cons

[2020-07-06 19:32] desireeturner opened #10915 "School Ratings: Solution Concepts Prototyping"
Draft concepts for ratings
Discuss options w UX team
Update / refine

[2020-07-06 19:33] desireeturner opened #10916 "School Ratings: Solution Internal Review"
Present concepts to UXBA team
Discuss pros/cons

[2020-07-06 19:34] desireeturner opened #10917 "School Ratings: VSP Design Intent Mtg"
Hold Design Intent mtg with VSP
Respond to input
Pull in stories, as necessary

[2020-07-06 19:35] desireeturner opened #10918 "CT Filters: UX Solution Working Session"
UXers review concepts & inputs
Discuss pros/cons

[2020-07-06 19:36] desireeturner opened #10919 "CT Filters: Solution Concepts"
Identify concepts for filters (Filter Safari mural)
Discuss options w UX team
Draft prototype

[2020-07-06 19:40] johnpaulashenfelter commented on #9580
28	4429	FALSE	6/22	6/30	6/29	johnny	6/30	config change, several internal and external review cycles
	4411	NA						Opened, later closed by be tools
	4401	NA						Opened, later closed by be tools
	4399	TRUE	6/16	6/18	6/18	philip	6/18
	4397	FALSE	6/16	6/16	6/16	philip	6/16

[2020-07-06 19:40] #9580 closed

[2020-07-06 19:41] desireeturner opened #10920 "CT Filters: Solution Internal Review"
Present concepts to UXBA team
Discuss pros/cons

[2020-07-06 19:42] desireeturner opened #10921 "CT Filters: Working Session UI Follow-up"
Refine 2-3 concepts
Discuss options w UX team
Update / refine3

[2020-07-06 19:44] MickinSahni commented on #10111
@MickinSahni to update this epic to reflect discovery refinement and create an over-arching Learning Center super-epic

[2020-07-06 19:44] johnpaulashenfelter commented on #9581
For VAOS, both before and after 50+% of the PRs were completely related to code within the module (modules/vaos and corresponding specs) that they are responsible for.

[2020-07-06 19:45] desireeturner opened #10922 "CT Filters: Prototype Review - B.A./Dev"
Review with BA/Dev Lead
Update prototype as necessary

[2020-07-06 19:45] desireeturner opened #10923 "CT Filters: VSP Design Intent Mtg"
Hold Design Intent mtg with VSP
Respond to input
Pull in stories, as necessary

[2020-07-06 19:46] johnpaulashenfelter opened #10924 "Remove NewRelic instrumentation"
With DataDog on the horizon *and* with NewRelic no longer offering us even the free tier of service, its time to remove the bits and pieces of code added to support the NewRelic integration:

Vets-api
- [x] NewRelic gem department-of-veterans-affairs/vets-api#4484
- [x] newrelic.yml file department-of-veterans-affairs/vets-api#4484

Devops
- [x] Deploy configuration for staging (devops repo) depar

[2020-07-06 19:51] #10292 closed

[2020-07-06 19:53] #10077 closed

[2020-07-06 19:53] #10079 closed

[2020-07-06 19:54] #9649 closed

[2020-07-06 19:54] saneshark commented on #10905
This issue has now been resolved. JP noticed that there was an instance running old code in the load balancer list for staging. Shouldn't happen anymore.

[2020-07-06 19:54] #10905 closed

[2020-07-06 19:55] stephenBarrs commented on #9967
This issue is confirmed to occur on Android devices with #9608

[2020-07-06 19:59] meganhkelley opened #10925 "Forms library developer documentation update"
## User Story

As a VFS developer, I need to be able to find accurate information on the forms library, so that I can build forms on VA.gov efficiently and in an agile way.

## Problem Statement

Forms library developer documentation currently is stored primarily on ["the Gatsby site"](https://department-of-veterans-affairs.github.io/veteran-facing-services-tools/forms). However, there is addition

[2020-07-06 20:00] meganhkelley commented on #10925
Forms library developer documentation user research: https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/platform/documentation-site/research/forms-library-docs-research-2020

[2020-07-06 20:07] meganhkelley commented on #7407
I removed the documentation tickets from this super epic and assigned them all to the sub-epic I just created #10925

Let me know if that's confusing for folks.

[2020-07-06 20:09] bmcgrady-ep commented on #10013
I added Global - Convert Site Search to All Lower Case to the following views:
- Facility Locator
- WBC - va.gov Modernized

Added following terms to the Exclude URL Query Parameters list:
- next (Disability and Claims Modernized; WBC - va.gov Modernized)
- feature (ebenefits.va.gov)

[2020-07-06 20:11] tlei123 opened #10926 "[DRAFT] Facility Locator - Mac Safari - Geolocation not working"
## What happened?
On Staging **Find VA Locations** page, using Mac Safari, geolocation failed to auto-populate location.

## Specs:
- Device: MacBook Pro
- Browser: Safari
- Unauthenticated experience

## Steps to Reproduce
1. Allow geolocation \[see [Apple's OS X Safari instructions](https://support.apple.com/en-us/HT204690)].
2. Go to https://staging.va.gov/find-locations
3. IF prompted the allo

[2020-07-06 20:20] mdewey commented on #10715
I am not sure what exactly data we are looking for yet, but here is a dump of examples of everything that I can get :

<hr/>
Allergies

[code]
<hr/>
Conditions

[code]
<hr/>
Diagnostics

[code]
<hr/>
Medications

[code]
<hr/>
Medications Statements

[code]
<hr/>
Immunizations

[code]
<hr/>
Observations

[code]
<hr/>
Procedures

[code]

If there any specific points of data you are looking for, let

[2020-07-06 20:26] meganhkelley commented on #7342
Update at end of Sprint 29:

- User research was completed
- Reviewer retro was completed — [themes summary](https://docs.google.com/document/d/1DhfNJEbT2Y3auVymgllCyPpjQRIUGx83lZuzNCQCH4s/edit#heading=h.yne8ac3id2ab)
- Mandi (new VSP Product Support PM) is working with Kevin H to plan for initial iteration workshop (there's an [old brainstorm doc](https://docs.google.com/document/d/1H7Y50HkxY5eXf

[2020-07-06 20:30] abuckley3385 commented on #10715
@mdewey  I listed the examples in issue #10223 - can you review that ticket and see what the need is for both issues or keep this on as only develoer.vet.gov API.
- Im thinking part of the research is to know if we get everything we need from this developer.va.gov API and not need additional directly from the EHR

[2020-07-06 20:30] mpelzsherman commented on #9410
Many of the concerns in this task have been addressed by simply turning off the autocomplete option. I would like to suggest we revisit this issue after we have had a chance to re-evaluate our current solution with this new, improved behavior.

[2020-07-06 20:32] MasterMahariel opened #10927 "Form Config Custom Text Documentation"
## Description

Since a PR was merged to add custom text to the form's library, this functionality needs to be documented so developers can know how to use it.

Custom text PR reference: https://github.com/department-of-veterans-affairs/vets-website/pull/13016

[2020-07-06 20:38] MickinSahni opened #10928 "PW Cerner Health Pages x Collab Cycle Plan"
## Product Outline
[Link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/product-management/product-outline-template.md)

## Plan
- ~[ ] [Define/Planning] Kickoff-Intent~
- ~[ ] [Define] Design intent~
- ~[ ] [Discover] Usability Testing Prep~
- ~[ ] [Discover] Research Plan Review~
- ~[ ]  [Discover] IA Request~
- ~[ ] [Discover] Analytics Request~
- [x] [Build

[2020-07-06 20:53] mpelzsherman commented on #9410
For the purposes of this effort, only MapBox and native geolocation are being considered.
Google Maps API is a widely used competitor of MapBox, but has been deemed too expensive.

[2020-07-06 20:58] olivereri opened #10929 "Access for Eric Oliver"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Add a comment @department-of-veterans-affairs/vsp-operations to ping the operations team
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please

[2020-07-06 20:59] olivereri commented on #10929
@department-of-veterans-affairs/vsp-operations

[2020-07-06 21:24] MickinSahni opened #10930 "Life Insurance Content x Collab Cycle Plan"
## Product Outline
[Link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/product-management/product-outline-template.md)

## Plan
- [x] **[Define] Kickoff-Intent** - https://github.com/department-of-veterans-affairs/va.gov-team/issues/9446
- [ ] **[Define] Design intent**
- [ ] **[Discover] Usability Testing Prep**
- ~[ ] **[Discover] Research Plan Review**~ No

[2020-07-06 21:37] MickinSahni commented on #8434
👋 @DanielleThierryUSDSVA @lwalsh617 is this epic intended to capture work across all batches or would individual epics for _each batch_ would be helpful?

[2020-07-06 21:37] Mottie commented on #3825
We had some higher priority tasks push the HLR launch date. I don't think we have a specific date set right now, but hopefully it'll be soon.

[2020-07-06 21:43] jenstrickland opened #10931 "Findings for accessibility staging review for VAMC Erie"
**Feedback framework**
- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

This epic will contain the accessibility staging review findings issue tickets.

Site Access in Devshop -http://eriehealthcare.web.demo.ci.cms.va.gov/erie-health-care/

## Point of Contact

**VFS Point of Contact:**

[2020-07-06 21:45] jonwehausen commented on #7988
@bsmartin-ep ,

Updates made to container:
- Created a secondary content group in the container called "**Main Nav Landing Hub Pages**"
-- this is designed to contain the main navigation landing pages from the primary dropdown navigation
![image](https://user-images.githubusercontent.com/48527022/86649802-14108e00-bfb0-11ea-9518-ee4059c440f8.png)
- Removed "**Benefits**" from hub-page benefit base

[2020-07-06 21:48] jenstrickland opened #10932 "Findings for accessibility staging review for VAMC Coatesville"
**Feedback framework**
- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

This epic will contain the accessibility staging review findings issue tickets.

Site Access in Devshop -http://coatesvillehealthcare.web.demo.ci.cms.va.gov/coatesville-health-care/

## Point of Contact

**VFS Point

[2020-07-06 21:49] jenstrickland opened #10933 "Findings for accessibility staging review for VAMC Altoona"
**Feedback framework**
- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

This epic will contain the accessibility staging review findings issue tickets.

Site Access in Devshop - http://altoonahealthcare.web.demo.ci.cms.va.gov/altoona-health-care/

## Point of Contact

**VFS Point of Con

[2020-07-06 21:56] #10910 closed

[2020-07-06 22:00] 1Copenut commented on #10477
Issue moved to [department-of-veterans-affairs/vets-design-system-documentation #212](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/212) via [**ZenHub**](https://www.zenhub.com/)

[2020-07-06 22:00] #10477 closed

[2020-07-06 22:00] 1Copenut commented on #10477
Issue moved to [department-of-veterans-affairs/vets-design-system-documentation #213](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/213) via [**ZenHub**](https://www.zenhub.com/)

[2020-07-06 22:04] 1Copenut commented on #10464
Issue moved to [department-of-veterans-affairs/vets-design-system-documentation #214](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/214) via [**ZenHub**](https://www.zenhub.com/)

[2020-07-06 22:04] #10464 closed

[2020-07-06 22:06] 1Copenut commented on #10463
Issue moved to [department-of-veterans-affairs/vets-design-system-documentation #215](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/215) via [**ZenHub**](https://www.zenhub.com/)

[2020-07-06 22:06] #10463 closed

[2020-07-06 22:07] 1Copenut commented on #10457
Issue moved to [department-of-veterans-affairs/vets-design-system-documentation #216](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/216) via [**ZenHub**](https://www.zenhub.com/)

[2020-07-06 22:07] #10457 closed

[2020-07-06 22:08] #10454 closed

[2020-07-06 22:08] 1Copenut commented on #10454
Issue moved to [department-of-veterans-affairs/vets-design-system-documentation #217](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/217) via [**ZenHub**](https://www.zenhub.com/)

[2020-07-06 22:09] #10446 closed

[2020-07-06 22:09] 1Copenut commented on #10446
Issue moved to [department-of-veterans-affairs/vets-design-system-documentation #218](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/218) via [**ZenHub**](https://www.zenhub.com/)

[2020-07-06 22:10] #10439 closed

[2020-07-06 22:10] 1Copenut commented on #10439
Issue moved to [department-of-veterans-affairs/vets-design-system-documentation #219](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/219) via [**ZenHub**](https://www.zenhub.com/)

[2020-07-06 22:11] #10438 closed

[2020-07-06 22:11] 1Copenut commented on #10438
Issue moved to [department-of-veterans-affairs/vets-design-system-documentation #220](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/220) via [**ZenHub**](https://www.zenhub.com/)

[2020-07-06 22:12] SarahJaine commented on #10861
Work being completed in branch https://github.com/department-of-veterans-affairs/vets-api/compare/sj-bdd-required

[2020-07-06 22:12] #10434 closed

[2020-07-06 22:12] 1Copenut commented on #10434
Issue moved to [department-of-veterans-affairs/vets-design-system-documentation #221](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/221) via [**ZenHub**](https://www.zenhub.com/)

[2020-07-06 22:21] #10431 closed

[2020-07-06 22:21] 1Copenut commented on #10431
Issue moved to [department-of-veterans-affairs/vets-design-system-documentation #222](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/222) via [**ZenHub**](https://www.zenhub.com/)

[2020-07-06 22:24] MickinSahni commented on #9350
Hey folks, this is a duplicate of #8396. Unless I hear different from folks by tomorrow afternoon-ish, i'll close this out

[2020-07-06 22:25] #10426 closed

[2020-07-06 22:25] 1Copenut commented on #10426
Issue moved to [department-of-veterans-affairs/vets-design-system-documentation #223](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/223) via [**ZenHub**](https://www.zenhub.com/)

[2020-07-06 22:27] #9816 closed

[2020-07-06 22:27] 1Copenut commented on #9816
Issue moved to [department-of-veterans-affairs/vets-design-system-documentation #224](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/224) via [**ZenHub**](https://www.zenhub.com/)

[2020-07-06 22:30] 1Copenut commented on #9815
Issue moved to [department-of-veterans-affairs/vets-design-system-documentation #225](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/225) via [**ZenHub**](https://www.zenhub.com/)

[2020-07-06 22:30] #9815 closed

[2020-07-06 22:30] AnneHurley commented on #10450
@MickinSahni  The spreadsheets for rates are a different project, and apply only to future rates tables.

[2020-07-06 22:31] #9231 closed

[2020-07-06 22:31] 1Copenut commented on #9231
Issue moved to [department-of-veterans-affairs/vets-design-system-documentation #226](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/226) via [**ZenHub**](https://www.zenhub.com/)

[2020-07-06 22:31] AnneHurley commented on #10450
@RLHecht  Can you review this again: http://preview-prod.vfs.va.gov/preview?nodeId=5687

The N 1/2 rate for Veteran, 1 spouse, 1 parent, 1 child is $5,575.47. This is now fixed.

[2020-07-06 22:32] #9199 closed

[2020-07-06 22:32] 1Copenut commented on #9199
Issue moved to [department-of-veterans-affairs/vets-design-system-documentation #227](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/227) via [**ZenHub**](https://www.zenhub.com/)

[2020-07-06 22:33] #9198 closed

[2020-07-06 22:33] 1Copenut commented on #9198
Issue moved to [department-of-veterans-affairs/vets-design-system-documentation #228](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/228) via [**ZenHub**](https://www.zenhub.com/)

[2020-07-06 22:33] MickinSahni commented on #10768
@DanielleThierryUSDSVA is this ready for a dev to implement?

[2020-07-06 22:34] #9197 closed

[2020-07-06 22:34] 1Copenut commented on #9197
Issue moved to [department-of-veterans-affairs/vets-design-system-documentation #229](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/229) via [**ZenHub**](https://www.zenhub.com/)

[2020-07-06 22:35] #9194 closed

[2020-07-06 22:35] 1Copenut commented on #9194
Issue moved to [department-of-veterans-affairs/vets-design-system-documentation #230](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/230) via [**ZenHub**](https://www.zenhub.com/)

[2020-07-06 22:35] #9193 closed

[2020-07-06 22:35] 1Copenut commented on #9193
Issue moved to [department-of-veterans-affairs/vets-design-system-documentation #231](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/231) via [**ZenHub**](https://www.zenhub.com/)

[2020-07-06 22:36] AnneHurley opened #10934 "Updates to Special Monthly Compensation rates - 2020 and 2019 historic"
# Issue description
When cloning the 2020 Special Monthly Compensation rates page, we discovered that one number in the table was incorrect. We need to input the new figure and publish the page.

# Tasks

- [x] Asked stakeholders to review numbers for the N/2, Veteran + 1 parent + 1 spouse + 1 child for 2018, 2019, and 2020. Anne asked Elana
- [x] Received correct numbers 7/6. Anne
- [x] Change nu

[2020-07-06 22:36] #9183 closed

[2020-07-06 22:36] 1Copenut commented on #9183
Issue moved to [department-of-veterans-affairs/vets-design-system-documentation #232](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/232) via [**ZenHub**](https://www.zenhub.com/)

[2020-07-06 22:37] #9182 closed

[2020-07-06 22:37] 1Copenut commented on #9182
Issue moved to [department-of-veterans-affairs/vets-design-system-documentation #233](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/233) via [**ZenHub**](https://www.zenhub.com/)

[2020-07-06 22:38] AnneHurley commented on #10450
@RLHecht @bethpottsVADEPO  FYI the new ticket that addresses the number fixes from stakeholders for 2019 and 2020 rates is #10934

[2020-07-06 22:38] 1Copenut commented on #9141
Issue moved to [department-of-veterans-affairs/vets-design-system-documentation #234](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/234) via [**ZenHub**](https://www.zenhub.com/)

[2020-07-06 22:38] #9141 closed

[2020-07-06 22:39] 1Copenut commented on #9087
Issue moved to [department-of-veterans-affairs/vets-design-system-documentation #235](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/235) via [**ZenHub**](https://www.zenhub.com/)

[2020-07-06 22:39] #9087 closed

[2020-07-06 22:39] AnneHurley commented on #10934
Note this ticket arose when creating 2018 historic rates, #10450 .

[2020-07-06 22:40] MickinSahni commented on #10110
@lunascoop are we still waiting for feedback? if so, can you add the label back on?

[2020-07-06 22:42] jenniferlee-dsva commented on #10775
I'm uploading draft va.gov account/profile copydeck for Liz's prototype. There's one article that I need help with - the 'how do I change my VA address online' article which has placeholders for screenshots.

@bethpottsVADEPO  - could you assign out as a subtask to add screenshots for that one? Also if the 'verify your identity' step is actually multiple steps, would be good to break those out mor

[2020-07-06 22:44] djmunoz1 opened #10935 "Adding DSVA Slack - Sophia Tareen"
Sophia Tareen is a new delivery manager on VA API. Please add her as a full member on DSVA Slack.

sophia.tareen@adhocteam.us

Thank you!

[2020-07-06 22:48] RLHecht opened #10936 "Update Fry Scholarship figure on Education Benefits for Survivors and Benefits page"
## User Story
As a Veteran I need to know the most up-to-date figures for the Fry Scholarship tuition.

## Issue Description
Per stakeholder Tammy Hurley's request, we need to update the Fry Scholarship tuition amount on this page: https://www.va.gov/education/survivor-dependent-benefits/

The correct amount is now **$25,162.14**.

![Screen Shot 2020-07-06 at 6.43.37 PM.png](https://images.zenhubu

[2020-07-06 22:48] RLHecht commented on #10936
@lwalsh617 Please make this change so we can publish the page by tomorrow's (7/7) deploy. Thanks!

[2020-07-06 22:48] tlei123 commented on #10926
Closing as known issue with LAN-only connections where IP addresses is not accurate or detectable, such as my router in semi-rural Bisbee, AZ.

Once I turned on WiFi, geolocation worked.

[2020-07-06 22:48] #10926 closed

[2020-07-06 22:50] bmcgrady-ep commented on #10013
I created 2 test views in the VA Production Property for adding filters and assigning an order to the filters. These views will be used to compare key metrics: pageviews, users, and sessions between the current Production Views and the Test Production Views. The 2 views that are being tested for a 24 hour period are All VA.gov Website Data [Production] and WBC - VA.gov Modernized Content.

The fil

[2020-07-06 22:52] leahkeeler commented on #10110
@MickinSahni Yes still waiting for go-live. They are running network tests with promise to let me know by noon tomorrow - they do think they solved the problem.

[2020-07-06 22:54] tlei123 commented on #10895
Closing this; no longer replicable.

[2020-07-06 22:54] #10895 closed

[2020-07-06 23:24] tlei123 commented on #9984
@mmiddaugh @pjhill , "Staging Review" test-runs now also completed, see reports linked both below and in main Description above:

- [Coverage for References (Cases) report](https://dsvavsp.testrail.io/index.php?/reports/view/118)
- [Summary (Defects) report](https://dsvavsp.testrail.io/index.php?/reports/view/117)

[2020-07-06 23:33] leahkeeler opened #10937 "Analytics Reporting Request for BAM2 - Medical Device Ordering"
# Metrics Reporting Request

## What this form is for

Use this template to request performance, usability, or outcomes va.gov metrics that is difficult to access or that needs analytics interpretation.

Insights will usually provide data reports within the current sprint, but if there is time-sensitivity, please note them in "additional comments."

## Instructions

Please fill out the following s

[2020-07-06 23:48] lwalsh617 commented on #10936
@RLHecht @bethpotts -- I made the change to the table. Also, just to make sure I wasn't supposed to change it elsewhere, I did a search in Drupal and on the live site. The only other place that the old figure ($23,671.94) appears is on a legacy page referring to 2018 rates, so I think we're good.
Here's the Drupal preview link: http://preview-prod.vfs.va.gov/preview?nodeId=984

[2020-07-06 23:56] tlei123 commented on #10894
Not sure which Practice Area label \[frontend/backend] to add.

[2020-07-07 01:08] U-DON opened #10938 "Upgrade Node version to active LTS version or later"
`vets-website` is currently using version 10.15.3 and should be updated to a current LTS (long-term support) version.

- The oldest maintained LTS release at this time is 10.21.0, with support expected to end by 2021-04-30.
- The active LTS release is 12.18.2, which started being the active LTS on 2019-10-21 and is expected to stop being supported by 2022-04-30.
- The next LTS release will be 14.x

[2020-07-07 01:11] jonwehausen commented on #6510
Hi @leahkeeler & @mr0sari0 ,

This evening we attempted to QA the latest DL changes and were unable to reach the form at https://staging.va.gov/hearing-aid-batteries-and-accessories/introduction with a few different users.

cc: @bsmartin-ep @bmcgrady-ep

[2020-07-07 01:34] andaleliz commented on #9381
Meeting scheduled for 7/14

[2020-07-07 02:14] U-DON commented on #10938
Closing as dupe of #9837.

[2020-07-07 02:14] #10938 closed

[2020-07-07 02:18] jonwehausen commented on #6510
### QA - WIP - 7/6/2020

At https://staging.va.gov/health-care/order-hearing-aid-batteries-and-accessories we were able to get to the form with test user+1.

Description of Interaction | DL Screenshot | Test Status
------------ | ------------- | -------------
Form Loaded | ![image](https://user-images.githubusercontent.com/48527022/86685827-d886bb80-bfd1-11ea-8b27-994289753a84.png) | ✔️**PASS**
Fa

[2020-07-07 11:49] sonntag-adam commented on #8201
Feature flag removed from production and functionality remains. Testing passes QA.

[2020-07-07 11:49] #8201 closed

[2020-07-07 12:43] amyknox opened #10939 "STEM - Printer Friendly Confirmation"
Create Print Preview prototype/content doc specific to 10203

Request that it be similar to https://vsateams.invisionapp.com/share/ATW7AI7QXCV#/screens or https://vsateams.invisionapp.com/share/9XWSQZ6SMG5#/screens/413780135_Caregiver_Confirmation_-_Desktop_-_V-02

[2020-07-07 12:47] bethpottsVADEPO commented on #10775
@jenniferlee-dsva Will do. Checking the team's capacity and will assign it out here.

[2020-07-07 12:58] #9263 closed

[2020-07-07 13:07] camerontesterman opened #10940 "Debt Letters Prod API Integration"
## Issue Description
Create fwdproxy for debt letters api.
Update `settings.yml` file to point vets-api to debt letters API in prod.

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)

[2020-07-07 13:21] mdewey commented on #10715
I am going to keep this for developers.vet.gov.

[2020-07-07 13:27] camerontesterman opened #10941 "DLC Production API Integration"
## Issue Description
Need to configure some things in devops repo in preparation for the DLC prod integration.

---
## Tasks
- [x] Setup `fwdproxy` to connect to the DLC Production API
- [x] Add the `fwdproxy` to the `settings.yml` file so that vets-api can make the connection.

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this is

[2020-07-07 13:51] dneel-bah opened #10942 "STEM: Add EDU team members to staging report distributions for UAT"
As an Education Services Team Member, I need to receive the daily spool and YTD reports out of the staging environment during UAT so that I can confirm that everything is working correctly with the 10203 prior to launch.

## Assumptions:
1. This work is completed behind a prod flag.

## Acceptance Criteria
1. The following email addresses are included in the staging distribution for the daily spoo

[2020-07-07 13:54] leahkeeler opened #10943 "ForeSee Survey Request for BAM2 Medical Device Reordering"
# Request the ForeSee Survey

## What this form is for
Use this template to request adding the ForeSee Survey to your product.

ForeSee FAQ [link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/analytics/foresee-readme.md)

## Description
*Medical Device Reordering Tool - Allows Veterans to reorder hearing aid batteries and accessories

### Launch Date
7/8/2020

[2020-07-07 14:01] bradl3yC commented on #9624
@tlei123 Can we validate?

[2020-07-07 14:01] bradl3yC commented on #9626
@tlei123 Can we validate?

[2020-07-07 14:01] bradl3yC commented on #9625
@tlei123 Can we validate?

[2020-07-07 14:16] mdewey commented on #10715
## API's to research for Clinical Information Review

URL link: https://developer.va.gov/explore/health

*note:* Items that are checked are found

**Medications**

- [x] Dose
  - *NOTE*: it's in the name as `"note": "Hydrochlorothiazide 6.25 MG",` so it's there but we have to parse it out
- [x] Frequency
- [x] Prescribing Physician
  - *NOTE*: There is a `_prescriber` field, but for the sample dat

[2020-07-07 14:17] lwalsh617 opened #10944 "Adding contextual headers to introduce options for returning documents"
## User Story
As a user going through the process of submitting a form, application or other document, I need to clearly understand that I can select one of several options for submission (by mail, fax or in peson). I also need to quickly understand when I'm being presented with an address where I can mail a specific document, such as a compensation claim.

If I'm a non-sighted user relying on a s

[2020-07-07 14:24] mshea0606 commented on #10764
@meganhkelley @andreahewitt-odd @tzelei I've submitted this ticket. @tzelei I've attached the use cases we discussed adding to test rail in a google document in this ticket. Please let me know if you have any questions or need additional information. Thanks!!

[2020-07-07 14:26] mshea0606 commented on #10764
@meganhkelley @andreahewitt-odd we would like to schedule this review for next sprint if possible. Thanks!

[2020-07-07 14:27] wygonikGCIO opened #10945 "686-usability-staging-0520 recommendations"
## Issue Description
As a user, I want my observations and suggestions from the usability testing to be noted and recommendations presented to the eBenefits team.

## Tasks
- [x] Create a deck showing 686 screenshots and recommendations from the usability study
- [x] Present recommendation to the eBenefits team

## Acceptance Criteria
- [x] Deck has been presented to the team
- [x] Deck has been s

[2020-07-07 14:27] DanielleThierryUSDSVA commented on #10768
Hi @MickinSahni. No. This won't be ready for a little while. I'll make sure to coordinate with content being ready/approved. Thanks!

[2020-07-07 14:29] RLHecht commented on #10936
Thanks, @lwalsh617! This page is now published and moved to validate. I'll close after today's deploy. FYSA @bethpottsVADEPO @MickinSahni

[2020-07-07 14:39] lwalsh617 commented on #8434
^ IMHO I'd leave it as one Epic because it's all part of a single effort we need to manage and track. We separated it into batches mainly for the SMEs, so we don't overwhelm them with 14 pages to review at once. Make sense?

[2020-07-07 14:42] camerontesterman commented on #10514
The user in staging that was formally Mark Webb seems to have had their name changed to "Colder Polarbear" so now we are getting a 404 in staging for this user.

[2020-07-07 15:01] christine-dillman opened #10946 "Identity - Implement Veteran Delegation Capability"
## Product Outline
[Link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/product-management/product-outline-template.md)

## High Level User Story/ies
As a _____, I need _____ so I can _____.

## Hypothesis or Bet
**If** _we make this change_ **then** _we expect this to happen_.

## OKR
_Which Objective / Key Result does this epic push forward?_

## Definition o

[2020-07-07 15:05] jbritt1 opened #10947 "OS-Check job likely needs improvement on the task that grabs instances to be listed"
## Description
The OS-Check job(s) likely need a round of improvement. Specifically, the task that alerts on detached instances. It currently detects instances that are detached from an ASG and older than 7 days. However, it compiles a list of instances based on the "Name" tag key and that value was set to `*-asg`. We recently added to this to make it `*-asg*` in order to catch detached instances

[2020-07-07 15:07] jbritt1 commented on #9570
Current planned switch-over planned for Wednesday 7/8/2020 @ approximately 2:30pm Eastern.

[2020-07-07 15:07] CrystabelReiter opened #10948 "Design feedback: Staging Review - Altoona-health-care - VAMC-Upgrade website"
**Do:**
- “Work with us” doesn’t go to the “Work with us” page, it stays on the main page.
- On the “Policies” page, there is a lot of odd spacing between words. Please remove extra spaces.
- On the “Policies” page, PDF download link needs to follow the same pattern as other PDF downloads (with icon)
- On the “News Release” page, the left nav is getting cut off on the bottom because the page isn’t

[2020-07-07 15:07] CrystabelReiter opened #10949 "Design feedback - Staging Review - 'Coatesville-health-care' VAMC-upgrade website"
**Do:**
- Breadcrumb is behaving weirdly - appears only on some pages, seems like it should appear on all (for example: working on VA Coatesville health care > Locations > Delaware County VA Clinic -- though it does seem like it still needs to display down to one more level. Page titles should be a part of the breadcrumb
- There are items repeated in the left nav: Health services & Contact us

**T

[2020-07-07 15:07] CrystabelReiter opened #10950 "Design feedback - Staging Review - 'Erie-health-care' VAMC-upgrade website"
**Do:** Mandatory feedback
**Try:** Exploratory next step
**Consider:** Sharing ideas/alternate ways of thinking

**Do:**
- Add padding-left to the “last updated” thing at the bottom of the pages
- Make sure all the pages are properly displayed in the left navigation. Some pages are not showing up (History, Jobs and Careers, Internship and Fellowships, Volunteer or Donate).
- For jobs and careers

[2020-07-07 15:16] SgardnerPMP opened #10951 "Staging Review - 'Butler-health-care' VAMC-upgrade website"
## Staging review for Butler-health-care

## Story
Review Butler-health-care website in Devshop environment.

## Links and resources
[Butler Devshop Site](http://butlerhealthcare.web.demo.ci.cms.va.gov/butler-health-care/)
[Butler Initial Review Docs](https://drive.google.com/drive/folders/1Juw7qXdDtzXHm-yPPwaJNUaYZkCFD9B-)

## Artifacts
[Product Outline](https://github.com/department-of-veterans-

[2020-07-07 15:17] AnneHurley commented on #10934
2019 N 1/2, Veteran, 1 child, 1 parent, 1 spouse: $5,575.47
2020 N 1/2 Veteran, 1 child, 1 parent, 1 spouse:

[2020-07-07 15:19] mr0sari0 commented on #10514
The error also happens on Greg, if you remove his temporary address and try to go to the next page.

[2020-07-07 15:19] #5909 closed

[2020-07-07 15:20] #5908 closed

[2020-07-07 15:23] bsmartin-ep commented on #9731
@joanneesteban / @jonwehausen -

New cards added to [COVID Chatbot dashboard](https://va-gov.domo.com/page/62901069) at their request...

KPI 1:

- [Inbound traffic to chatbot from external sources with greater than 5 users](https://va-gov.domo.com/page/62901069/kpis/details/472636070)

KPI 3:

- [VEO COVID calls vs COVID Chatbot Pageviews](https://va-gov.domo.com/page/62901069/kpis/details/237622

[2020-07-07 15:23] christine-dillman opened #10952 "Discovery for POA & Caregiver User Roles"
Determine Need
Determine TImeline

[2020-07-07 15:25] jenniferlee-dsva opened #10953 "Learning center x Collab Cycle Plan"
## Product Outline
[Learning center templates MVP product outline](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/content/tier-2-content-IA-and-design/learning-center-mvp/product-outline.md)

## Plan

### 1.0
- [x] [Define] Kickoff-Intent - We had a PW + CMS project kickoff.
- [x] [Define] Design intent
  - [Ticket: #10955 ](https://github.com/department-of-vete

[2020-07-07 15:25] SgardnerPMP opened #10954 "Staging Review - 'Lebanon-health-care' VAMC-upgrade website"
## Staging review for Lebanon-health-care

## Story
Review Lebanon-health-care website in Devshop environment.

## Links and resources
[Lebanon Devshop Site](http://lebanonhealthcare.web.demo.ci.cms.va.gov/lebanon-health-care/)
[Lebanon Initial Review Docs](https://drive.google.com/drive/folders/1Juw7qXdDtzXHm-yPPwaJNUaYZkCFD9B-)

## Artifacts
[Product Outline](https://github.com/department-of-vet

[2020-07-07 15:29] meganhkelley commented on #10764
Scheduled

[2020-07-07 15:37] abuckley3385 commented on #10715
Im testing out replying to a comment in gmail

This is awesome thanks for documenting what's available.  Do you have a
contact on the Lighthouse team so we can discuss if Family history and SHx
are on their roadmap?

On Tue, Jul 7, 2020 at 9:16 AM Mark Dewey <notifications@github.com> wrote:

[2020-07-07 15:39] hughes-dustin commented on #9878
branch: bah-9878
PR: https://github.com/department-of-veterans-affairs/vets-website/pull/13386

[2020-07-07 15:47] jenstrickland commented on #10764
@mshea0606 Hi Matt, thanks for pulling together the requirements.

There's this one thing: "Link to your accessibility test cases"

I realize it looks like it's for Tze and QA, but this is really about accessibility. I recommend replacing those two bullet points with the following:

[code]
--------
More info: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/acces

[2020-07-07 15:47] jenniferlee-dsva opened #10955 "Design intent Collaboration [MVP learning center templates]"
## Steps to complete Design Intent Collaboration
- [x] Product Manager or Designer: create this issue and fill in feature name in the title and other bolded information appropriately
- [x] Link to this issue once created in #design in Slack; tag @ Crystabel Reiter @ Emily
- [x] Crystabel and Emily to schedule meeting with VSP reviewers and **requesting team** attendees (as listed below)
- [x] At l

[2020-07-07 15:48] christine-dillman opened #10956 "Discovery for Delegation Capability"
## Description
_What details are necessary for understanding the specific work or request tracked by this issue?_

With the implementation of Multiple User Roles, delegation may need to be a capability that a Veteran will need as well.  At some point, a Veteran, may need to delegate a responsibility to their POA or Caregiver.  These requirements should be gathered at the same time as the requireme

[2020-07-07 15:51] dneel-bah opened #10958 "STEM: Update 10203 Intro based on user testing updates"
As a developer, I need to update the 10203 workflow due to changes recommended from user testing interviews so that the applicant's have the best experience when completing the application.

## Assumptions:
1. This work is completed behind the feature flag #7271.
2. Updating breadcrumbs is not included in this issue and will be completed in a subsequent issue.

## Acceptance Criteria
1. On the STE

[2020-07-07 15:52] digitaldrk commented on #10515
I think I might have this one in a good place. I added the va file number call to the 686 submission process yesterday.

Just an FYI so there's no re-work

[2020-07-07 15:57] SgardnerPMP opened #10959 "Staging Review - 'Philadelphia-health-care' VAMC-Upgrade website"
## Staging review for Philadelphia-health-care

## Story
Review Philadelphia-health-care website in Devshop environment.

## Links and resources
[Philadelphia Devshop Site](http://philadelphiahealthcare.web.demo.ci.cms.va.gov/philadelphia-health-care/)
[Philadelphia Initial Review Docs](https://drive.google.com/drive/folders/1Juw7qXdDtzXHm-yPPwaJNUaYZkCFD9B-)

## Artifacts
[Product Outline](https:

[2020-07-07 16:03] jonwehausen commented on #10633
Closing in light of documenting post mortem here: https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/pull/130

[2020-07-07 16:03] #10633 closed

[2020-07-07 16:05] mr0sari0 commented on #10043
@bradl3yC do you know if there's a base form PDF or sample PDF for this yet?

[2020-07-07 16:06] CrystabelReiter commented on #10955
Hi @jenniferlee-dsva ! for scheduling we have these time blocks available:

ET:
Friday, 7/10 - 2-2:30 PM
Monday, 7/13 - 3:30-4 PM
Tuesday, 7/14 - 11:00 AM- 12:00 PM
Wednesday, 7/15 - 11:30 AM- 12:00 PM
Thursday, 7/16 - 1:30-2:30 PM
Friday, 7/17 - 2-2:30 PM

[2020-07-07 16:09] Kimberley2019 commented on #10007
Hi @leahkeeler I have sent them the information that you have provided and advised that if they are referring to other errors, to please advise me.

[2020-07-07 16:09] mdewey commented on #10715
Yes! I will reach out to Dave M.

[2020-07-07 16:10] bradl3yC commented on #10043
@mr0sari0 no - we do not generate the PDFs - they are (or will) be delivered directly to us from the VBMS API and passed on as a direct download link to the user.

[2020-07-07 16:18] Kimberley2019 commented on #10166
@desireeturner Have you been able to review the feedback in order to provide any details that they are requesting?

[2020-07-07 16:19] MickinSahni opened #10960 "[Engineering] Cerner implementation discovery"
## Product Outline
[Link to be updated](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/product-management/product-outline-template.md)

## Definition of done
 Answer outstanding technical questions re: the Cerner health page implementation

---
## Outstanding questions
1. Are there any resources such as developer docs or centralized code so that we can see what

[2020-07-07 16:19] drorva opened #10961 "[Bug] Fix exceptions when generating some nodes"
# Overview

When bulk generating the nodes based on the CMS export, we are getting exceptions.

# Reproduce
* Setup the instruction to set up your env as described in the [README](https://github.com/department-of-veterans-affairs/vets-website/blob/field-transformer-experiment-cv/script/cms/README.md)
* run the setup.sh script
  * Specifically node tr.js

# Sample output
[code]
Notice the "undefine

[2020-07-07 16:21] andaleliz commented on #10775
Is this the [sign in FAQ page](https://www.va.gov/sign-in-faq/) you referenced that already exists? If so, just as an FYI I can use the existing page to capture the headings + accordion titles for the prototype, so you don't need to include those in the documents you create for me. Would need the following from the content team:
- topic and audience tag
- what, if any, CTAs, you'd want to put on t

[2020-07-07 16:24] sonntag-adam commented on #9878
![Screen Shot 2020-07-07 at 12.14.52 PM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/e69a48ae-0126-4ddb-82e3-570bb52bc6ec)
##
![Screen Shot 2020-07-07 at 12.14.59 PM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/35d0aa25-5be7-4c5d-a566-cfd30458dbdc)
##
![Screen Shot 2020-07-07 at 12.15.05 PM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8

[2020-07-07 16:24] SgardnerPMP opened #10962 "Staging Review - 'Wilmington-health-care' VAMC-Upgrade website"
## Staging review for Wilmington-health-care

## Story
Review Wilmington-health-care website in Devshop environment.

## Links and resources
[Wilmington Devshop Site](http://wilmingtonhealthcare.web.demo.ci.cms.va.gov/wilmington-health-care/)
[Wilmington Initial Review Docs](https://drive.google.com/drive/folders/1Juw7qXdDtzXHm-yPPwaJNUaYZkCFD9B-)

## Artifacts
[Product Outline](https://github.com

[2020-07-07 16:25] sonntag-adam commented on #9878
![Screen Shot 2020-07-07 at 12.14.52 PM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/c8df97d6-d30e-4b7d-933b-6d0e98170a0d)

[2020-07-07 16:26] jenniferlee-dsva commented on #10955
@CrystabelReiter @emilywaggoner - Hello, I can't access Google cal on VA network; can you please provide some other means of scheduling?

@rtwell and I are available  Friday 7/10 at 2pm ET.

[2020-07-07 16:27] sonntag-adam commented on #9878
<img width="761" alt="Screen Shot 2020-07-07 at 12 14 52 PM" src="https://user-images.githubusercontent.com/48804582/86812445-0826d980-c04d-11ea-96a8-05a40a4afd3a.png">
##
<img width="712" alt="Screen Shot 2020-07-07 at 12 14 59 PM" src="https://user-images.githubusercontent.com/48804582/86812457-0bba6080-c04d-11ea-8553-3f3aeb2761c7.png">
##
<img width="801" alt="Screen Shot 2020-07-07 at 12 15 05

[2020-07-07 16:33] amyknox opened #10963 "STEM: UI & Content Updates - remediation during testing"
As a prototype developer, I need to incorporate key updates to the prototype and content document based on early test sessions so that the team can validate the solutions during subsequent testing sessions.

Tasks
- update STEM eligibility alert
- update benefit-only eligibility alert
- update content doc

[2020-07-07 16:36] andaleliz commented on #10955
@CrystabelReiter @emilywaggoner, can you please include me as optional?  I'm on PTO Friday, but I'll join if I'm able to at that time. I think it'll be useful to sit in since I'm running the research study.  Thanks!

[2020-07-07 16:36] jenstrickland commented on #10043
Has a sample PDF been provided?

Those PDFs should be 508-compliant. We should require that whoever is responsible for those provides compliant PDFs, so that BAM2 provides a compliant set of work.

[2020-07-07 16:39] drorva opened #10964 "Bring in changes from the pilot into the field transfomer"
# Overview

We have a pilot that we used to explore possible blockers to the field transformer approach.
Currently the pilot is ahead of the main branch in terms of generating the fields needed in the nodes. We see that when comparing to the graphql generated output.

# Task

Bring in the changes from the pilot to the main branch keeping an eye on comparing to the graphql corresponding node.

[2020-07-07 16:45] LizCallaghan commented on #10935
done!

[2020-07-07 16:45] #10935 closed

[2020-07-07 16:45] jenniferlee-dsva opened #10965 "Usability Testing Prep [learning center MVP template]"
## Steps to complete Usability Testing Prep:
- [x] Product Manager: create this issue and fill in feature name in the title and other bolded information appropriately
- [x] Link to this issue once created in #vfs-platform-support in Slack; tag @ Megan Kelley @ AndreaHewitt @ Mandi Lipka
- [x] Andrea and Megan to schedule meeting with VSP reviewers and **requesting team** attendees (as listed below

[2020-07-07 16:46] jonwehausen commented on #8081
Ticket from FE: https://github.com/department-of-veterans-affairs/va.gov-team/issues/3825

[2020-07-07 16:46] jenniferlee-dsva commented on #10965
@andreahewitt-odd @meganhkelley - no need to respond yet on this. Still filling out all the artifiacts part.

[2020-07-07 16:48] sonntag-adam commented on #9878
https://dsvavsp.testrail.io/index.php?/tests/view/9318&group_by=cases:section_id&group_order=asc&group_id=51

[2020-07-07 16:48] jenniferlee-dsva commented on #10965
@andaleliz - placeholder ticket for usability test prep. Let's sync offline re ETA.

[2020-07-07 16:48] #10836 closed

[2020-07-07 16:50] #10564 closed

[2020-07-07 16:51] #10909 closed

[2020-07-07 16:52] luke-gcio opened #10966 "[Development/Design] 526: Wizard Updates"
## Issue Description
The public websites team is working on a new wizard for 526 and decision reviews.  This story is to capture the time having the initial meetings and discussions leading up to a solution.

John Hashimoto is wanting to start talking about this again.

## Acceptance Criteria
- [ ] Setup meeting with John
- [ ] New work captured in stories
---
## How to configure this issue
- [x]

[2020-07-07 16:56] lenaecb opened #10967 "Access Express Care from VAOS homepage"
As a Veteran who is eligible for EC, I want to be able to access EC from new VAOS so that I can use this new care type offered by my facility.

## Acceptance Criteria:
- [ ] Veteran can see Express Care screening prompt on homepage if registered at VAMC that has EC enabled _AND_ EC window active
- [ ] If Veteran clicks on 'Express Care screening' button they are taken to legacy VAOS EC flow
- [ ]

[2020-07-07 16:58] lenaecb commented on #10900
Update: We're going with this design, but still reviewing copy.

[2020-07-07 16:59] MickinSahni commented on #10955
Friday 7/10 at 2pm ET works for me

[2020-07-07 17:03] ccruzgra commented on #10963
@amyknox Could we please remove the step for updating the content doc and do that with our post-test updates? I don't want there to be a mix up if DN is linking to our current doc in his stories.

[2020-07-07 17:04] MickinSahni commented on #8434
yep makes sense. btw i added the new epic for this initiative's progression thru the collab cycle: https://github.com/department-of-veterans-affairs/va.gov-team/issues/10930

we're using this to track what we are/are not doing so please keep it up-to-date with any decisions made.

[2020-07-07 17:08] MickinSahni commented on #10768
Oh gotcha. I'm removing it from this sprint's commitments until we're ready to go. Thanks, Danielle

[2020-07-07 17:19] desireeturner opened #10968 "STEM: Create QA documentation in advance of STEM Staging Review"
As a member of the BAH QA team, I need to ensure that all STEM testing documentation is completed so that the team is prepared in advance of the STEM Staging review with VSP.

## Assumptions
1. In alignment with [staging review prep guidance](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/staging-review-processes.md#accessibility-staging-r

[2020-07-07 17:24] RLHecht commented on #10450
@AnneHurley This number looks OK to me. This page is ready to go whenever we start publishing. FYSA @bethpottsVADEPO

[2020-07-07 17:33] MickinSahni commented on #10317
Ah ok. My question was mainly around does it even make sense to add it to this current sprint since it's on-going

[2020-07-07 17:34] MickinSahni commented on #8020
sweet, preemptively adding to next sprint

[2020-07-07 17:37] nickbloom opened #10969 "Access for Nick Bloom"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Add a comment @department-of-veterans-affairs/vsp-operations to ping the operations team
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please

[2020-07-07 17:41] Kimberley2019 commented on #10019
The link for the survey questionnaire results can be found [here](https://app.optimalworkshop.com/questions/adhoc/contact-center-domo/shared-results/b8rkc5f10q264p7e3xwsdy0f5yec0wtb).

The synthesis can be found [here](https://github.com/department-of-veterans-affairs/va.gov-team/edit/master/teams/vsp/teams/insights-analytics/contact-center/domo-monthly-report-survey-synthesis.md)

[2020-07-07 17:41] meganhkelley commented on #10955
Just scheduled this for Friday @ 2 pm ET — my first invite sent via my VA email! Let me know if there are any issues with that invite; I won't be attending the meeting.

[2020-07-07 17:41] sonntag-adam commented on #10613
Testing passes QA.

[2020-07-07 17:41] #10613 closed

[2020-07-07 17:41] LinnJS commented on #8081
@jonwehausen going to make another ticket for event "Veteran could not be verified" due to the FE not receiving an error code specific to MPI/MVI due to security reasons. @kevinmirc will have to implement this tracking on the BE. Is there documentation on how this is done on vets-api?

[2020-07-07 17:41] sonntag-adam commented on #10617
Testing passes QA.

[2020-07-07 17:41] #10617 closed

[2020-07-07 17:53] drorva commented on #10964
cc: @cvalarida

[2020-07-07 18:08] andaleliz commented on #10432
We answered the above questions in a meeting this AM:
- other ways users might get to related articles include CTAs and content links, but those are subject to the content authors decisions
- correct that we need another page for topic search results
- the results aren't different than if a user clicked on a topic tag

[2020-07-07 18:09] dneel-bah opened #10970 "EDU: Add EDU users to staging YTD report distribution"
As an Education Services team member, I need to receive the YTD report from the staging environment so that I can confirm the routing updates have been successful.

## Assumptions:
1.

## Acceptance Criteria
1. The following people are added to the YTD Report distribution in the staging environment:
    a. Da Silva, Ricardo, VBAVACO <Ricardo.DaSilva@va.gov>
    b. Ziolkowski, Matthew VBABUF <matth

[2020-07-07 18:09] #10372 closed

[2020-07-07 18:10] andaleliz commented on #10432
Screen needs based on meeting this AM:
- Task 1: Learning center homepage
- Task 2: `View all VA account and profile articles` page
  - Should include 10 search results
  - Page should include some results that have similar titles so we can see if the template labels are effective in helping users choose a relevant search result
- Task 3
  - Sign in FAQs
  - Change your address on file with VA
  -

[2020-07-07 18:16] RLHecht opened #10971 "Remove references to fax numbers and fax numbers on 3 pages"
## Issue Description
Per stakeholder Sandy Tadeo's request, we need to remove the fax numbers and any reference to faxing on three of VA.gov's pages:
- https://www.va.gov/pension/pension-management-centers/
- https://www.va.gov/decision-reviews/supplemental-claim/
- https://www.va.gov/disability/add-remove-dependent/

Sandy did the edits in Drupal; they just need to be reviewed and published.

##

[2020-07-07 18:17] RLHecht commented on #10971
Created this ticket after the changes were made so we could track the work. I'll close ticket once validated on live site. FYSA @MickinSahni

[2020-07-07 18:22] DanielleThierryUSDSVA commented on #7234
Thanks, @lunascoop.

I've worked in additional information to distinguish that this is prosthetic socks for Veterans with lower limb amputations.

I've also reworked the how to order info to bring phone up for this one. Typically, we want to showcase the online tool on a tool landing page. However, since this is currently not going to a tool on VA.gov itself and because there's that lengthy instru

[2020-07-07 18:23] Kimberley2019 commented on #9744
@jason-gcio Checking in to see if the modifications have been made.

[2020-07-07 18:28] rileyorr commented on #7234
@DanielleThierryUSDSVA

Veterans can order prosthetic socks for arm amputations as well!

[2020-07-07 18:30] mnorthuis commented on #8276
To do:

- Review/validate all entry points have been added per the top description. (@mnorthuis to do this)
- We determined that an entry point in the Pension top nav is not necessary based on low search volume.
- [Legacy board appeals page](https://www.va.gov/disability/file-an-appeal/board-of-veterans-appeals/) needs to be moved into Decision Reviews area along with other legacy pages.  This can

[2020-07-07 18:31] mpelzsherman commented on #8992
Question for @1Copenut:

With VoiceOver active on my iPhone, the current implementation reads " In This Section. Button. Secondary Navigation. Landmark. Services and location, News and events, About VA Pittsburgh."

The suggested implementation reads "Pages In This Section. Button. Secondary Navigation. Landmark." The collapsed <li> menu items in the <ul> are not read.

Can you help me understand

[2020-07-07 18:32] Kimberley2019 commented on #7176
This link has been provided to the user.

[2020-07-07 18:32] #7176 closed

[2020-07-07 18:41] ncksllvn commented on #10960
The biggest issue here that I can see is that we didn't know what we didn't know, so we didn't even know what questions to ask. Going into it, we really just knew it was a new external health care website that we should direct users similar to MHV and that we had mockups. It was also somehow related to SSO. It was very much discovery and it felt strange for a large body of work (integration into a

[2020-07-07 18:41] DanielleThierryUSDSVA commented on #7234
Thanks, @rileyorr! Will revise based on that!

[2020-07-07 18:51] ksantiagomorgan6 commented on #10730
pull request: https://github.com/department-of-veterans-affairs/vets-website/pull/13392

[2020-07-07 18:54] #9010 closed

[2020-07-07 18:57] zurbergram commented on #10970
https://github.com/department-of-veterans-affairs/vets-api/pull/4489

[2020-07-07 19:06] #7351 closed

[2020-07-07 19:06] #9581 closed

[2020-07-07 19:09] Kimberley2019 commented on #10019
@joanneesteban and @clantosswett
Please review links above and advise if any additional details need to be provided.

[2020-07-07 19:18] alexpappasoddball opened #10972 "POSTMORTEM - Inflections"
## Link to Postmortem
[link](https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/pull/129/files)

## Description
The backend tools team merged three PRs that change the "inflections" of some acronyms in vets-api. These inflection changes also affected the names of attributes in some serializers and thus, our JSON output. For example, an attribute called `validPdf` became `valid

[2020-07-07 19:22] alexpappasoddball opened #10974 "Determine Scope of Issue"
## Description
In order to fully understand the effects of this, we need to understand if this was a one off occurrence or if this is a systemic problem throughout the code base.

## Definition of Done
- Identify & Document the specific failure point
- Document additional failure points that are uncovered

[2020-07-07 19:23] CrystabelReiter opened #10975 "Featured Content component audit"
### Description:
The featured content component is used to call attention to important blocks of content.

The featured content component in the sketch library, design.va.gov, and react library are out of sync.

You can view the component in [design.va.gov's components](https://design.va.gov/components/featured-content) and in[ design.va.gov's patterns](https://design.va.gov/patterns/content-prese

[2020-07-07 19:24] alexpappasoddball opened #10976 "Re-evaulate required vs desired acronym inflections for Zeitwerk"
## Description
Need to evaluate the desired vs required acronyms in order to complete the Zeitwerk migration.

## list of evaluated inflections
Check off when they have been addressed.  View comments on this ticket for details on addressing.
- [x] 'FHIR'
- [x] 'HCA'
- [x] 'ICN'
- [x] 'JWT'
- [x] 'MHV'
- [x] 'NCA'
- [x] 'PCIU'
- [x] 'PDF'
- [x] 'VA' + ‘VAR’

[2020-07-07 19:29] alexpappasoddball opened #10977 "Test inflection serialization using PACT"
## Description

This issue stems from the postmortem linked [here](https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/pull/129/files?short_path=daba46b#diff-daba46b001f263c02b09ca5a02c1399d) where we had an issue with inflections serialization. As work continues with PACT, we wanted to do a real world test to see if PACT contract testing would catch the errors we saw with infl

[2020-07-07 19:30] alexpappasoddball opened #10978 "Determine options for specifying JSON output from the serializers in vets-api"

[2020-07-07 19:31] alexpappasoddball opened #10979 "Review automation (if any) between swagger, jsonapi RSpecs/mocks, and serializers"

[2020-07-07 19:31] alexpappasoddball opened #10980 "Review use and potential removal of olive_branch gem"

[2020-07-07 19:32] mchelen-gov opened #10981 "Running prod build doesn't recognize existing drupal cache"
## Issue Description
1. Run `yarn install`
1. Run `yarn fetch-drupal-cache`
1. Run `NODE_ENV=production yarn build --buildtype vagovprod`

Drupal content then gets pulled from `https://prod.cms.va.gov` despite it already having been downloaded.

Not sure if this should be resolved by changing how these commands operate, or by clarifying docs?

See also: https://dsva.slack.com/archives/CBU0KDSB1/p1

[2020-07-07 19:40] jason-gcio commented on #9082
@mnorthuis - I think Jim (@sporeboy) is going to be taking this to Peggy pretty soon.  Just wanted to check in on this and let you know that the latest prototype is in place above.

[2020-07-07 19:48] rebeccawalsh commented on #7234
@DanielleThierryUSDSVA For more specifics, you can see the types of amputee socks the DLC provides on the second page of this catalog! https://www.va.gov/opal/docs/nac/dlc/catalogProstheticSocks.pdf

[2020-07-07 19:48] andaleliz opened #10982 "[Discovery] - Set up card sorts for Learning Center MVP audience and top tags"
Set up card sort in Optimal Sort for Learning Center MVP.
Acceptance criteria

- [x] Write instructions
- [x] Set up cards
- [x] Set up categories based audience, topic, and articles list in ticket #12329

[2020-07-07 19:51] mchelen-gov commented on #9665
a little extra context from screener project, we came to the conclusion that [How to apply for a discharge upgrade](https://www.va.gov/discharge-upgrade-instructions) (code) from https://design.va.gov/patterns/wizards was the closest thing to what we wanted.

however it didn't seem to be published in `formation-react` as a reusable component, and could use some additional documentation. we hadn't

[2020-07-07 19:51] dneel-bah opened #10983 "CT-Search: Add Scorecard alias data element to version data"
As a developer, I need to add the Scorecard alias data element to the API pull request in GIDS so that the data can be included in version generation for search.

## Assumptions:
1. This alias replaces IPEDS HD alias.

## Acceptance Criteria
1. The alias data element is retrieved and stored by the API Fetch request within GIDS.
2. The alias data element is included in the version generation.
3. Th

[2020-07-07 19:51] andaleliz commented on #10982
@DanielleThierryUSDSVA can you please leave a comment on this issue when you have reviewed and finalized the list of audience tags? I'm assuming any changes you make will be updated [on the list ](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/content/tier-2-content-IA-and-design/learning-center-mvp/template-requirements.md#audience-tags) of all tags.

[2020-07-07 19:52] andaleliz opened #10984 "[Discovery] - Create list of cards for Learning Center MVP card sort"
Create a list of articles to use as cards in our card sort evaluating how users understand audience tags.

In 7/7 meeting, discussed that this will be a collaborative approach, and Jen will create an initial list to work from.
Also discussed having some articles specific to older/elderly Veterans so we can see how users categorize those, or if they make their own category.

**Acceptance Criteria**

[2020-07-07 20:02] mnorthuis commented on #10953
@jenniferlee-dsva I know you did a kick-off with the CMS team, but the VSP team wasn't there for that.  It may be difficult for them to come into the design intent or other VSP meetings without any background info on the LC.

[2020-07-07 20:02] #10746 closed

[2020-07-07 20:03] abuckley3385 commented on #10908
@mdewey this is fantastic thank you!

[2020-07-07 20:04] #10745 closed

[2020-07-07 20:04] dneel-bah opened #10985 "CT-Search: Update VETTEC search functionality"
As a Comparison Tool user, I need the search functionality to be smarter so that results are found when I have small typos.

## Assumptions:
1. This story is completed behind the feature flag #10615
2. The fuzzy match should leverage database capabilities.
3. This fuzzy match capability will not affect the autocomplete end point.
4. The alias search is not applicable to VETTEC.

## Acceptance Crit

[2020-07-07 20:10] andaleliz commented on #10778
Based on our meeting today, I believe we don't to do the work outlined in this ticket.

[2020-07-07 20:15] alexpappasoddball opened #10986 "Consider an acronym style guide"

[2020-07-07 20:19] mchelen-gov commented on #10734
PR merged

[2020-07-07 20:22] jonwehausen opened #10987 "Revamp Implementation of Facility Locator Search Tracking - Convert to Events"
# Google Analytics Implementation

## Description
- We would to refactor our current implementation of facility locator search tracking -- currently, we are tracking according to user timing, we would like to refactor this to be events
- We are currently suspect to a GA limitation on user timing functionality that samples the search volume we can collect up to 1% of total pageviews -- [see resourc

[2020-07-07 20:23] RLHecht commented on #7234
@lunascoop @DanielleThierryUSDSVA I reviewed both of these pages again and they are good to go!

[2020-07-07 20:26] abuckley3385 commented on #10715
@mdewey  when you have a moment will you update your original screenshot with some of the additional fields populated (even if test/bad data) I noticed you linked to your code repository but I didn't see a page I could pull up the view...is that only running locally for you?  if so then a screen shot would be great!

[2020-07-07 20:28] DanielleThierryUSDSVA commented on #7234
Woohoo! Thanks, everyone!!

[2020-07-07 20:31] mdewey commented on #10715
I will get this deployed to a server just so you can look at it, hopefully by stand up on 7/8.

Also, I reached out to Dave M. RE: Family and SHx, and neither are any time soon, both are maybe someday it would be nice.

[2020-07-07 20:35] jenstrickland commented on #8992
When I test the recommended fix it behaves the same as the first implementation, reads the collapsed menu items, with the enhancement of changing "In this section" to "Pages in this section" which is more explicit for screen reader users.

This led to discovering another issue with the implementation:
This .va-sidenav-wrapper has a height of 45px with overflow:hidden, so the screen reader moves th

[2020-07-07 20:38] RLHecht commented on #10936
This has been validated on the live site. @bethpotts can you please let Tammy know? Thanks! Closing ticket. FYSA @MickinSahni

[2020-07-07 20:38] #10936 closed

[2020-07-07 20:41] RLHecht commented on #10971
Validated on live site. Closing ticket. FYSA @bethpottsVADEPO @MickinSahni

[2020-07-07 20:41] #10971 closed

[2020-07-07 20:46] leahkeeler commented on #7234
Huge Thank-you to everyone!!!! You guys are amazing and awesome!!!!!!!!!!!!

[2020-07-07 20:47] andaleliz commented on #9665
Interesting, thanks for sharing that! We looked at the discharge upgrade wizard too, but that was the outlier for our use case with this work.  I did identify several a11y issues with that discharge upgrade wizard, just FYI.

A little extra context from us, if it helps - our epic doesn't involve redesigning or changing anything about the wizards. It's strictly moving them from one place to another

[2020-07-07 20:47] alexpappasoddball opened #10988 "Tools BE VFS Support - Sprint 30"
As you review PRs, please add this epic to the issue so the business has visibility into our time spent supporting VFS teams.

[2020-07-07 20:49] alexpappasoddball opened #10989 "Utility Developer Rotation - Sprint 30"
## Goal

The Backend Tools team utilizes a single resource each sprint to be the point person for a number of different things the entire team is responsible for.  This single resource will be responsible for items listed below and will have a lighter work load towards sprint objectives during the sprint in which they are assigned Utility Developer.

# Areas of Focus

## Triage Process
Monitoring

[2020-07-07 20:51] alexpappasoddball opened #10990 "Consider standard monitoring that would catch sudden increases in API request failures after a code release"

[2020-07-07 21:08] lenaecb commented on #9852
@jenniemc - Great demo today! I noticed while you were demo that we need to make sure to update the copy for the alert. We actually removed the "24 hr" time limit because we think it actually could be more than 24 hours.

So the alert should look like this:
![image.png](https://images.zenhubusercontent.com/5e41a7217d1a39827f6e83fe/02b5ef4a-4912-41a4-94a9-33638ea98bfc)

Just wanted to point this ou

[2020-07-07 21:08] lenaecb commented on #10283
Latest version of EC prototype: https://vsateams.invisionapp.com/share/U9XQMY2GS5V#/screens/422011176

[2020-07-07 21:09] #9818 closed

[2020-07-07 21:10] lenaecb commented on #10088
@saneshark - what's your plan for this? Did you plan to get a RFC documented, or was that going to be a team effort with Barrs and Brad?

[2020-07-07 21:10] jason-gcio commented on #9744
@Kimberley2019 - thanks for checking, I hope to have this wrapped up soon.

[2020-07-07 21:22] mnorthuis commented on #10896
@DanielleThierryUSDSVA  It is my understanding, that with the launch of the BDD claim, there will no longer be any claims filed on eBenefits, all will be filed via va.gov.   Given this, I recommend a couple of additional things:
1. A review of all "How to file" pages to ensure we no longer reference utilizing eBenefits to claim.  I think we are good here, but may not hurt to do a check.
2. Retire

[2020-07-07 21:25] mpeterz commented on #10432
Some thoughts/suggestions after reading through the conversation guide and the comments above. :) @andaleliz @jenniferlee-dsva @mnorthuis

Learning center strategy:
— What content goes in a learning center?
— Let's take a stab at defining this before the kickoff; then we can use feedback from users in this round of testing (on what a learning center is) to refine our strategy.

For this round of t

[2020-07-07 21:29] MickinSahni opened #10991 "[Epic] [Research-Design] Learning Center MVP"
## Product Outline
[learning-center-mvp/product-outline](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/content/tier-2-content-IA-and-design/learning-center-mvp/product-outline.md)

## Definition of done
### What must be true in order for you to consider this epic complete?
Research and design re: learning center mvp is complete along with any artifacts

## Brea

[2020-07-07 21:34] MickinSahni opened #10992 "[Epic] [Engineering/Drupal] Learning Center MVP"
## Product Outline
[learning-center-mvp/product-outline](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/content/tier-2-content-IA-and-design/learning-center-mvp/product-outline.md)

## Definition of done
### What must be true in order for you to consider this epic complete?
Engineering re: learning center mvp is complete along with any necessary artifacts

## Re

[2020-07-07 21:35] mnorthuis commented on #10896
Based on the changes detailed above, the structure of the "How to file" section changes as shown:

![image.png](https://images.zenhubusercontent.com/59ca6a73b0222d5de4792f1d/7ac274b9-89bf-416a-b73f-02ba12e4b3f2)

[2020-07-07 21:40] Kimberley2019 commented on #9744
@jason-gcio Thank you for the update.  Please keep me posted.

[2020-07-07 21:43] lenaecb opened #10993 "Express Care requests statuses in Upcoming appts list"
As a Veteran who can use the Express Care feature, I want to know the different statuses of my Express Care appointment that show in my Upcoming Appointments list.

## Acceptance Criteria:
- [ ] For EC status "Submitted" we will show "Submitted" in UI
- [ ] For EC status "Cancelled", "Cancelled - Other" we will show "Canceled" in UI
- [ ] For EC status "Cancelled - Unable to reach Veteran" we will

[2020-07-07 21:47] MickinSahni opened #10994 "Intake Requests for Public Websites - July 2020"
This is an Epic to house one-off requests (via intake form, discussions, small requests) that are not attached to a larger body of PW work.

[2020-07-07 21:49] lenaecb commented on #10844
I am going to repurpose this ticket as I have created a ticket to address all EC request statuses (#10993).

Given that, we can close this ticket or repurpose it for another cancellation bug which is that user shouldn't be able to cancel an EC request if the status is 'escalated' in SM.

[2020-07-07 21:55] rtwell commented on #10901
![image](https://user-images.githubusercontent.com/12564977/86847832-fbb97580-c07a-11ea-8bdb-cea03b6a8490.png)

[2020-07-07 21:58] jenniferlee-dsva commented on #10775
Great.

topic and audience tag
what, if any, CTAs, you'd want to put on the page (the LC template example has 2 CTAs on the multiple FAQ page)
confirm that the accordions would be closed by default per the current accordion component, and not all open as shown on the
LC template
Need help + related articles content

I will provide those in a  copydeck. (Beth is assigning out for a different LC tas

[2020-07-07 21:59] amyknox opened #10995 "Design intent Collaboration: Comparison Tool Ratings"
## Steps to complete Design Intent Collaboration
- [ X ] Product Manager or Designer: create this issue and fill in feature name in the title and other bolded information appropriately
- [x] Link to this issue once created in #design in Slack; tag @ Crystabel Reiter @ Emily
- [x] Crystabel and Emily to schedule meeting with VSP reviewers and **requesting team** attendees (as listed below)
- [x] At

[2020-07-07 22:06] amyknox opened #10996 "Design intent Collaboration: CT Filters"
## Steps to complete Design Intent Collaboration
- [x] Product Manager or Designer: create this issue and fill in feature name in the title and other bolded information appropriately
- [x] Link to this issue once created in #design in Slack; tag @ Crystabel Reiter @ Emily
- [x] Crystabel and Emily to schedule meeting with VSP reviewers and **requesting team** attendees (as listed below)
- [x] At l

[2020-07-07 22:13] jenniferlee-dsva commented on #10678
Is there a particular reason why the "Veterans Affairs" link should be removed? On same page as Danielle -  I don't  feel strongly either way, but I had always been informed that these right rail links are mainly to appease VA business requirement -- bc we basically scrambled the 'content-organized-by-administration' model to veteran-facing model, and the administrations were anxious about losing

[2020-07-07 22:20] rtwell commented on #10996
Please include me in this meeting (Matt Self is the DEPO lead for this project, while I am the DEPO design lead)—thank you!

[2020-07-07 22:20] rtwell commented on #10995
Please include me in this meeting (Matt Self is the DEPO lead for this project, while I am the DEPO design lead)—thank you!

[2020-07-07 22:23] jenniferlee-dsva commented on #10953
I'm happy to provide them with the same overview - their ticket says we don't need to provide a presentation though.

[2020-07-07 22:30] mnorthuis commented on #8276
Reviewed the implemented changes against the issue description.  There are 2 items that need to be fixed:

1. For Life Insurance, the left nav option should be moved up to the 5th option, just under "Check appeal status"

![image.png](https://images.zenhubusercontent.com/59ca6a73b0222d5de4792f1d/87e0167a-70b4-4b24-88b0-1defb68aaaab)

2. This item in Burials is not done:
https://www.va.gov/burials-

[2020-07-07 22:32] rtwell commented on #10900
![image](https://user-images.githubusercontent.com/12564977/86850975-2954ed80-c080-11ea-888b-9c458852d8f0.png)

[2020-07-07 22:39] mpelzsherman commented on #8992
Thanks @jenstrickland . Can you please clarify whether we want the LI items (Services and location, News and events, About VA Pittsburgh) to be read when the "In this section" link is selected? The suggested fix will prevent that, and it sounds like you are saying this is in fact preferable to the current behavior. (?)

Interesting note about the collapse/expand implementation. Good to know, thank

[2020-07-07 22:44] #10630 closed

[2020-07-07 23:38] oksana-c commented on #10929
@department-of-veterans-affairs/vsp-operations

[2020-07-07 23:39] oksana-c commented on #10969
@department-of-veterans-affairs/vsp-operations

[2020-07-07 23:53] mnorthuis commented on #10678
The "Veterans Affairs" link just links to the home page of va.gov, which really doesn't provide a helpful experience at all.   The family/service member hubs were well after the WBC and not as connected to specific administrations, so we have a bit more elbow room to modify.  The primary contact information is important, but the other items are global to VA, not specific benefits.

[2020-07-08 00:02] AnneHurley commented on #10717
@RLHecht  This is ready for copyedit. I'm happy to tag team on this as it's pretty dense. I also want to understand where the "after January 1003 / child with no surviving spouse" rate comes from on the legacy page. Maybe we can quickly sort it together.
@bethpottsVADEPO  FYSA

[2020-07-08 00:55] drorva commented on #10233
From VSP's perspective, feel free on testing in this case, since we're the ones blocking you.

[2020-07-08 10:29] sonntag-adam commented on #9878
@department-of-veterans-affairs/uxbah This is in staging and ready for review

[2020-07-08 11:29] jenstrickland commented on #8992
The desired behavior is that the list items should not be read unless the button expands what should be hidden items.

As it is now, if the screen reader reads through the sidenav past the "In this section" the user may get stuck on the children list items. I got stuck and it took me a bit to figure out how to get out of it. I'm going to write up another ticket to request the implementation be cha

[2020-07-08 12:03] jenstrickland opened #10997 "508-defect-1 ❗ Launchblocker [SCREENREADER, KEYBOARD, ZOOM]: The collapse/expand implementation MUST not trap users"
# [508-defect-1 :exclamation: Launchblocker](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-1)

**Feedback framework**
- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

The current sidenav use

[2020-07-08 12:03] jenstrickland commented on #10997
cc @1Copenut for review

[2020-07-08 12:04] jenstrickland commented on #8992
Ticketed the keyboard/focus trap: #10997

[2020-07-08 12:09] leahkeeler commented on #10043
HI @jenstrickland - Here is the thing, those .pdf's in question are generated by some mainframe that sends the actual print jobs and is uploaded to eFolders. I am not sure there is "whoever" that can change anything. What are yoru suggestions for next steps? We want to make sure we do all the due diligence here

[2020-07-08 12:23] jenstrickland commented on #10043
Hi @leahkeeler — do you have a sample PDF, or can you map out ownership of mainframe, data, and eFolder?

If the PDF is not compliant, whoever is responsible at the mainframe should address their workflow to ensure they deliver compliant PDFs. That would be outside BAM2's responsibility.

Is this the correct flow?

1. Mainframe team generates a PDF and stores in eFolder
1. BAM2 Debt Letters receiv

[2020-07-08 12:25] jonwehausen commented on #7988
### Closing Updates

### Description of content groups
Content Group | Description of Use Case
------------ | -------------
Benefit Hubs | - Designed to bucket content according to the 6 benefit hubs currently seen on [scorecard](https://www.va.gov/performance-dashboard/) <br> Simple way to report on activity across benefit hubs
Main Nav Landing Hub Pages | - Designed to bucket content according t

[2020-07-08 12:25] #7988 closed

[2020-07-08 12:28] leahkeeler commented on #10043
Thanks Jen. We have no control over eFolders or things that are uploaded or downloaded from there. Our requirements were simply to provide the Veteran the ability to download the letters they receive in the mail. There is no one from the vbms team that is working with us directly, the have an api to access the documents stored there and that is about it. Does this help?

Are there any next steps t

[2020-07-08 12:30] jonwehausen commented on #10937
Thank you @leahkeeler , confirming receipt! We'll be in touch soon.

[2020-07-08 12:32] jonwehausen commented on #10124
@mmiddaugh closing this ticket per creation of new implementation ticket #10987.

We will follow-up with you on any DL requirements we may need.

[2020-07-08 12:32] #10124 closed

[2020-07-08 12:36] #10623 closed

[2020-07-08 12:36] #10622 closed

[2020-07-08 12:37] jonwehausen commented on #10420
Closing per [post mortem](https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/blob/master/Postmortems/2020-06-30-mobile-user-site-caching-ga-events.md).

[2020-07-08 12:37] #10420 closed

[2020-07-08 12:39] DanielleThierryUSDSVA commented on #10591
Hi @RLHecht. This is ready for your review:  http://preview-prod.vfs.va.gov/preview?nodeId=2431.

Let me know if you have questions while reviewing - thank you!

[2020-07-08 12:48] jenstrickland commented on #10043
This is helpful!

Would it be possible to add documentation to the Product Outline, so that it is clear that the PDFs are outside the scope of this work responsibility? I'll want to be sure to document that when we send the work to the VA 508 Office for their review.

[2020-07-08 12:55] lunascoop commented on #10110
The majority of the work for this ticket is completed. We have to wait until the page is published before moving the menu links. New launch date is 07/15.

[2020-07-08 12:55] leahkeeler commented on #10043
@jenstrickland Great point and Thank-you, I will add to product guide. Is there anything our team can do here with the constraints we have, that we are simply using an api to download something we have no control over? please let us know on how best to proceed.

[2020-07-08 13:06] jonwehausen commented on #7560
Good morning @jason-gcio and @cohnjesse ,

We have attempted to QA this again this morning utilizing user+271, did you have a recommendation on a user we should try?

Would like to get this this tracking thoroughly tested for you all. Very much appreciated.

[2020-07-08 13:09] mpelzsherman commented on #8992
PR with the proposed code change is [here](https://github.com/department-of-veterans-affairs/vets-website/pull/13398).

[2020-07-08 13:09] stephenBarrs opened #10998 "A11y: Android - Bulleted list is not read by Talk Back"
Discovered by Android tester from 508 office. No one on Covid Screener team has Android device to confirm.

Bulleted list should be announced in the following question - In the past 3 days, have you had any of these symptoms? The bulleted list was not announced.

[2020-07-08 13:16] jenstrickland commented on #10043
Since the team follows established processes to ensure accessibility and compliance in deliverables, y'all should be in good shape. There was lack of clarity around the PDFs, as some teams are generating a PDF as part of their work. It's helpful to clarify ownership so there won't be any confusion. Thanks so much for the clarification! 🤩

[2020-07-08 13:22] RLHecht commented on #10934
@AnneHurley these have both been reviewed and OK. I published the 2020 one last night with the correct number (without the links to our new historical pages).

[2020-07-08 13:31] leahkeeler commented on #10043
Thank-you for your help @jenstrickland - all good stuff to know going forward. You are a wealth of knowledge!!!

[2020-07-08 13:34] CrystabelReiter commented on #10995
Scheduled 1:30 PM Thursday, July 16

[2020-07-08 13:35] CrystabelReiter commented on #10996
Scheduled July 16 at 1pm, if not enough reviewers can make it, we can talk about rescheduling for Friday

[2020-07-08 14:00] lenaecb commented on #8020
@MickinSahni @DanielleThierryUSDSVA - The release date for our Community Care feature and drive-time has been pushed back again.

New estimated date for release if 8/7. So, we will not need to release this updated content till 8/6.

[2020-07-08 14:08] #8326 closed

[2020-07-08 14:12] leahkeeler commented on #10007
@Kimberley2019 Just a heads up , the release slipped by a week to 7/15. Please let us know if there are any additional questions.

[2020-07-08 14:13] jbalboni opened #10999 "Keep address warning hidden after page change"
Given: a user without a residential address or who has a PO Box residential address

When:
1. Start the form
2. Click on "Update address" in the warning modal
3. Come back to the form (address warning is gone)
4. Choose a type of care
5. Click Continue
6. Click Back

Then:
The update address warning should not display

Currently, the address warning is still displaying.

[2020-07-08 14:13] 1Copenut commented on #10997
I agree with @jenstrickland on the keyboard trap and the fix. We should also make sure the focus halo appears on all four sides of the link or button that has current focus. The yellow halo is an important facet of inclusive design, and should not be cut off by padding or collapsed margins.

---
![Screen Shot 2020-07-08 at 9 10 53 AM](https://user-images.githubusercontent.com/934879/86929275-48449

[2020-07-08 14:25] leahkeeler opened #11000 "Debt Letters Usability Study"
## High Level User Story/ies
In order to ensure that the solutions designed solves the problems it was intended to solve, is easy for the Veterans to access and use prior to launching the software.

## Hypothesis or Bet
Usability is a required step as part of human centered design to be performed prior to releasing software.

## Definition of done
### The outcome of usability study is research fin

[2020-07-08 14:30] sporeboy commented on #10814
WIP MD doc is here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/ebenefits/features/apply-vre-ch31/bio-info-form-data-discovery.md

Working on data sources and recommendations.

[2020-07-08 14:30] f1337 commented on #7305
We have two viable options for remediation while we investigate root cause. I suggest we need to pick one of the following, merge it, and open a new ticket for root-cause determination.

* Skip the specs: https://github.com/department-of-veterans-affairs/vets-api/pull/4453
* Retry on fail: https://github.com/department-of-veterans-affairs/vets-api/pull/4464

I'm also curious if we've seen this iss

[2020-07-08 14:31] #10941 closed

[2020-07-08 14:38] sonntag-adam commented on #7857
![Screen Shot 2020-07-08 at 10.34.57 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/e5dfc55f-069f-42c1-a265-fed0fd1d6c3c)

[2020-07-08 14:39] dneel-bah opened #11001 "EYB: Update GA for Profile Page full size accordions"
As a developer, I need to add google analytics to the comparison tool for the estimate your benefits enhancements so we can have a better understanding about how users are interacting with the tool.

## Assumptions:
1. This work is a result of #9991.
2. This story is limited to the CT profile pages (VETTEC & Non VETTEC)
3. Full size accordions examples are (Estimate Your Benefits, Veteran Programs

[2020-07-08 14:39] #9832 closed

[2020-07-08 14:41] lenaecb opened #11002 "Create Express Care tab to hold all Express Care appointments regardless of status"
As a Veteran using Express Care option, I want a quick and easy way to see all my Express Care requests in one spot since their statuses change so often.

## Acceptance Criteria:
- [ ] User sees Express Care tab if their site has Express Care enabled
- [ ] When user logins out and back in, load 'upcoming appointments' list
- [ ] User can see all their Express Care requests in one location
- [ ] If

[2020-07-08 14:44] jonwehausen opened #11003 "Analytics Reporting Request for Charles"
# Metrics Reporting Request

## Description
- Leslie Byford reached out over Slack to request VA.gov metrics for an upcoming TP briefing next week

## Metrics Requested
- Overall traffic over the last month
- VA.gov top pages of interest over the last month
- How many profile updates over the last month
- How many disability compensation claims have been filed over the last month
- How many pensio

[2020-07-08 14:49] sonntag-adam commented on #7857
![Screen Shot 2020-07-08 at 10.48.13 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/bf505486-9577-4187-a4e6-75aa8dd9afdb)
##
![Screen Shot 2020-07-08 at 10.48.28 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/79b51e58-2efb-4240-b3d6-61e7c9a7870a)

[2020-07-08 14:50] #10583 closed

[2020-07-08 14:51] joanneesteban commented on #9025
@Kimberley2019 @clantosswett Backlogging this issue until we get more case studies throughout Q3 2020.

[2020-07-08 14:53] joanneesteban commented on #9975
@bmcgrady-ep moving to the backlog until @Yuffster-usds receives her va.gov email!

[2020-07-08 14:53] ala-yna commented on #10582
Got approval on approach on 7/2 with Andrew Gunsch and Kevin Hoffman.

[2020-07-08 14:53] #10582 closed

[2020-07-08 14:54] batemapf commented on #10734
@mchelen-gov looks like this is capitalization sensitive. To recreate:

- Navigate to staging.va.gov/covid19screen/459GH
- Click through to last question
- Observe custom question for facility 459GH
- Navigate to staging.va.gov/covid19screen/459gh
- Click through to last question
- Custom question for facility 459GH is missing

This doesn't have an impact if folks are using the QR or SMS short cod

[2020-07-08 14:57] MickinSahni opened #11004 "[Epic] CLP x Collab Cycle"
## Product Outline
[State of Product / Product Outline](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/content/tier-2-content-IA-and-design/campaign-landing-page-templates/state-of-product.md)

## Plan
- [x] **[Define] Kickoff-Intent**
- [x] **[Define] Design intent**
- [x] **[Discover] Usability Testing Prep**
- [x] **[Discover] Research Plan Review**
- [x]  **

[2020-07-08 14:58] DanielleThierryUSDSVA commented on #10944
@lwalsh617 Here are the 2 pages I was talking about on our call:

http://preview-prod.vfs.va.gov/preview?nodeId=5681

http://preview-prod.vfs.va.gov/preview?nodeId=36

[2020-07-08 15:04] mpelzsherman commented on #6017
Shouldn't it be "provider" (singular), since the label applies to one (1) provider?

[2020-07-08 15:06] #4691 closed

[2020-07-08 15:06] #5852 closed

[2020-07-08 15:12] jenniferlee-dsva commented on #10606
@ncksllvn / @kelsonic  - When the preview functionality is ready for form detail landing pages, can you please let @RLHecht and @lunascoop know?  They'll use preview to validate the form custom content work that they're working on this sprint.

[2020-07-08 15:14] jason-gcio opened #11005 "Incorporate Feedback from Design Council for "View Payments" into Prototype"
## Goal
Feedback was given from the Design Council that needs to be implemented in to our mockup and prototype for "View your VA payment history."

## Considerations
[Link](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/203#issuecomment-654949408) to feedback to be implemented

## Tasks
- [x] Incorporate feedback into prototype
- [x] Update the link to de

[2020-07-08 15:15] andaleliz opened #11006 "[Discovery] - Recruit content authors for Learning Center MVP card sort"
This is a ticket to capture the work related to recruiting content authors for our card sort exercise.

[2020-07-08 15:15] jenstrickland commented on #10997
There's an open ticket documented for the focus halo issue — https://github.com/department-of-veterans-affairs/va.gov-team/issues/8975.

[2020-07-08 15:18] jason-gcio opened #11007 "Implement Feedback from Design Council (View Payments)"
## Goal
Feedback was given from the Design Council that needs to be implemented in to our feature for "View your VA payment history."

## Considerations
- [Link](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/203#issuecomment-654949408) to feedback to be implemented
- [Link]() to mockups/ prototype

## Tasks
- [ ] Incorporate feedback into FE
- [ ] Share

[2020-07-08 15:23] SgardnerPMP opened #11008 "[Migrate-Data] Migrate Legacy data for Events, Stories, News Releases Part 1 for VISN-19 to VAMC Legacy website [Content]to VAMC-Upgrade Website page [Data]"
## User Story or Problem Statement
As a Veteran Web user, I need the latest news, stories, and events, so I know what is happening in my local VAMC system.

## Goal
_Highlight one story, event and News Release for each listing page.

## Objectives or Key Results this is meant to further
- _Allow for training opportunity of PAO in each area._
- _Reduce Click through count by_Highlighting top storie

[2020-07-08 15:25] jason-gcio opened #11009 "Seek Feedback from PCPG (CH36) Stakeholders"
## Goal
We want to ensure that we have captured all the required functionality from stakeholders so that we can deliver the right feature for them.  We should be in a place where we can show our interpretation of what they are looking for before launch, especially now that we know about the eligibility wizard and have put that together as well.

## Considerations
- [Link](https://preview.uxpin.com

[2020-07-08 15:26] jenniferlee-dsva opened #11010 "Validate top forms custom content - form detail landing page"
## Validate top forms custom content - form detail landing page

This ticket is to validate the work being completed in ticket #7491 - for about 40 forms.

**Dependency:** Preview functionality - currently in progress here - ticket #10606.

AC:
- [x] Preview all of the form detail pages in the top forms copydeck and spreadsheet.
- [x] All preview pages are displaying the forms db and custom conten

[2020-07-08 15:27] mdewey commented on #10715
Deployed: https://tranquil-eyrie-84225.herokuapp.com/

Its a little janky so if you need help accessing it, let me know!

[2020-07-08 15:27] clantosswett opened #11011 "Automate DOMO Data Sharing"
## Issue Description
Work with Aaron Barth to explore how we can automate COVID reports we are currently entering manually into DOMO.
---
## Tasks
- [ ] Introduce automated reporting to VEO contact center
- [x] Work with Kaeli Yuen to work with MHV team to explore automation of report
- [x] Reach out to Brian and the Annie team to see if this is also possible for Annie report
- [ ] Reach out to NC

[2020-07-08 15:28] andaleliz opened #11012 "[Discovery] Learning Center (MVP) Card Sort Research Plan"
## User Story or Problem Statement
As a UX Designer, I need to create a research plan for our card sort so I can document the research's purpose, goals, hypothesis, and usability testing recruitment needs.

Our card sort will help us understand how our proposed audience tags resonate with Veterans, other audiences, and content authors

[Product Outline](https://github.com/department-of-veterans-af

[2020-07-08 15:29] jonwehausen commented on #10987
### Notes from Pointing Session
1) Establish a DL (containing no PII)

- Convert existing user timing tracking to event tracking
- Maintain the current dropdown and timing components we're capturing today
- Increment a total count custom metrics for each search
- Replace chart on Facility Locator KPI dashboard with new event taxonomy

[2020-07-08 15:29] ccruzgra commented on #10939
I have two print pages. One incorporates the link under "What happens after I apply?" as we have it currently on staging, and the other borrows content from the "After you apply" page that the link leads to. I'm going to recommend that we go with the version with the additional content.
![STEM-confirmation-print-out.png](https://images.zenhubusercontent.com/5b55212f6dabc3393a2dbe50/a713d49e-0230-4

[2020-07-08 15:32] SgardnerPMP opened #11013 "[MIGRATE-DATA] Migrate legacy data to VISN-19 Static pages [VAMC]"
## VAMC - Product Outline
[VAMC-upgrade Product Outline](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/facilities/medical-centers/)

## High Level User Story
As a Veteran Web user, I need the latest news, stories, and events, so I know what is happening in my local VAMC system.

## VAMC-Upgrade KPI met with this EPIC
_These tasks support PAO education and hand

[2020-07-08 15:36] omgitsbillryan commented on #9848
As an added precaution, I'm adding some ansible to run with the deployment that creates an elasticache (EC) snapshot backup.

https://github.com/department-of-veterans-affairs/devops/pull/7197/files#r449197672

[2020-07-08 15:36] MickinSahni commented on #10110
moving this to PW Sprint 26 to coincide with the new launch date

remaining work: the menu links (which is dependent on the page being published)

[2020-07-08 15:36] MickinSahni commented on #10110
@lunascoop can you add a blocker ticket to this one (prob the redirect that we talked about)

[2020-07-08 15:36] kelsonic commented on #8396
This ticket is blocked and we need to wait for Taylor to come back to add further support for query param redirects, see more details here: https://dsva.slack.com/archives/CBU0KDSB1/p1594221248425400?thread_ts=1594151320.381900&cid=CBU0KDSB1

[2020-07-08 15:37] jenniferlee-dsva opened #11014 "Validate non-top forms custom content - form detail landing page"
## Validate non-top forms custom content - form detail landing page

This ticket is to validate the work being completed in ticket #10561 - for about 400 forms. We will randomly select ~10% to validate.

**Dependency:** Preview functionality - currently in progress here - ticket #10606.

AC:

 - [x] Preview 50 randomly selected form detail pages from the not top forms spreadsheet. (Please document

[2020-07-08 15:37] MickinSahni commented on #7491
Pulled into sprint 25, @lunascoop can you drop an estimate?

[2020-07-08 15:38] ajmagdub commented on #9505
patient search controller, specs and cassettes written. code merged into master.

[2020-07-08 15:38] #9505 closed

[2020-07-08 15:38] MickinSahni commented on #10027
Pulling out of Sprint 25 to coincide with new launch date
@lunascoop can you add the blocker bug in front of this one?

[2020-07-08 15:40] MickinSahni commented on #10860
Expected behavior:
if feature flag is off, should direct users to eBenefits

Currently it's off, so shouldn't be seeing VA.gov CTA directing them to eBenefits

(btw feature flags: https://api.va.gov/flipper/features)

[2020-07-08 15:42] jsev-io commented on #10969
@nickbloom

Did you edit the end of your key here manually --> "$nick.bloom@Agile6-A29.local" I'm curious about it's lack of a space between the key and the comment

[2020-07-08 15:43] MickinSahni commented on #10232
@bethpottsVADEPO can you validate this ticket for nick?

[2020-07-08 15:43] bsmartin-ep commented on #9731
From https://dsva.slack.com/archives/C1Q4294JJ/p1593625468221100...

Today I am creating a custom segment in GA and a DOMO dataset to attempt to get this insight.

[2020-07-08 15:44] MickinSahni commented on #10869
Created these dummy pages so Cerner can test the functionality pre-prod:
https://staging.va.gov/cerner-staging/messaging

[2020-07-08 15:44] #10869 closed

[2020-07-08 15:49] drorva commented on #2990
The latest fix bring in the breadcrumbs, but not all of them.
In node 3006, for instance, graphQL shows the following breadcrumbs,
[code]
but the export only shows the first element
[code]

[2020-07-08 15:50] joanneesteban opened #11015 "Create content groups for products"
## Issue Description
Follow up with [7988](https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/7988) to group content by products.

---
## Tasks
- [x] Ben, Jon, & Joanne meet to determine product criteria
- [ ] Ben buckets the groups per product

## Acceptance Criteria
- [ ] Content grouping is grouped by products (starting with Educatio

[2020-07-08 15:52] lealester commented on #9284
Need to update Parent Item(s) (location) under Menu Settings
Meta tag for Eastern Colorado (-2 characters), Volunteer or donate listing page

[2020-07-08 15:53] clantosswett opened #11016 "COVID-19 Contact Center Content Review"
## Issue Description
_What details are necessary for understanding the specific work or request tracked by this issue?_

---
## Tasks
- [ ] Identify Contact Center working group to conduct review of covid-19 content.
- [ ] Compile data to be reviewed for accuracy and information
- [ ] Conduct review with input from Veteran Facing Covid Group

## Acceptance Criteria
- [x] Contact Center working gro

[2020-07-08 15:54] #9861 closed

[2020-07-08 15:58] omgitsbillryan commented on #7305
+1 for using retry.

Once retry is in place, I would also then be in favor of just dropping this work. Root causing these "order of running specs" bugs is hard enough, but then consider that we're not the original author of this spec nor do we have great expertise on the feature itself. Worst case scenario, the spec re-runs once every so often and adds some fraction of a second to the build time.

[2020-07-08 15:58] SgardnerPMP opened #11017 "[Migrate-Data] Migrate Legacy data for Events, Stories, News Releases Part 2 for VISN-19 to VAMC Legacy website [Content]"
## User Story or Problem Statement
As a Veteran Web user, I need the latest news, stories, and events, so I know what is happening in my local VAMC system.

## Goal
_Highlight one story, event and News Release for each listing page.

## Objectives or Key Results this is meant to further
- _Allow for training opportunity of PAO in each area._
- _Reduce Click through count by_Highlighting top storie

[2020-07-08 16:03] mnorthuis commented on #10953
Presentations for kick-offs are definitely not necessary, usually its just a run through of the product outline at a high level so the team has background, which is really helpful to getting up to speed on the whats and whys.

Given the design intent is scheduled for Friday, I went ahead and gave the VSP team a VERY high level overview of what the LC is so they have some information coming in on F

[2020-07-08 16:04] Mottie commented on #3825
The HLR analytics code has been merged into master. As I mentioned before, we don't have a definite launch date set, but I hope it'll be soon.

I'm not sure if I should I close this ticket?

[2020-07-08 16:04] andaleliz opened #11018 "[Decision] - Confirm initial set of screens needed for learning center MVP prototype"
- [x] Come to consensus on initial screens needed for prototype
- [x] create additional writing tickets if necessary

[Here's a prototype ](https://vsateams.invisionapp.com/share/YJXZTKC6CN4) with the pages we have from Ryan's Sketch file.  Reviewing these will help us understand the gaps for additional content needed.

**Task 1**
- Learning center homepage

**Task 2**

- View all VA account and p

[2020-07-08 16:06] ccruzgra commented on #10963
If we don't foresee other updates needed for testing, this can be closed, @amyknox.

[2020-07-08 16:08] camerontesterman opened #11019 "Debt Letters Pre-Prod API Integration"
## Issue Description
_What details are necessary for understanding the specific work or request tracked by this issue?_

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attac

[2020-07-08 16:08] #9622 closed

[2020-07-08 16:08] sanlouise commented on #10684
Error fetching connected applications (first string):

![image](https://user-images.githubusercontent.com/14869324/86942843-e556fc80-c102-11ea-8abc-f4f082791f27.png)

[2020-07-08 16:10] JenLJ commented on #9878
@sonntag-adam UX has reviewed and this looks good!

[2020-07-08 16:11] sonntag-adam commented on #9878
Closing out story.

[2020-07-08 16:11] #9878 closed

[2020-07-08 16:13] mchelen-gov opened #11020 "Make URL routes case insensitive"
AC:
- [x] `covid19screen/459GH` shows custom 459GH facility question
- [ ] `covid19screen/459gh` shows custom 459GH facility question

[2020-07-08 16:14] #11020 closed

[2020-07-08 16:17] #10126 closed

[2020-07-08 16:17] ricetj commented on #7466
need to talk with Depo and Product support closing for now

[2020-07-08 16:17] #7466 closed

[2020-07-08 16:18] #10041 closed

[2020-07-08 16:20] jonwehausen commented on #3825
Hi @Mottie ,

Very much appreciated! We will leave this ticket open as we work towards getting QA done here. We will be in touch with our QA findings.

[2020-07-08 16:20] joanneesteban commented on #9732
Work being tracked on the grooming issue. Initial dashboard drafted. Closing this ticket.

[2020-07-08 16:20] #9732 closed

[2020-07-08 16:22] #10021 closed

[2020-07-08 16:22] AnneHurley commented on #10893
@MickinSahni  We're pulling this individual ticket  out from the 2018 historic rates epic, as we are still waiting on stakeholder Elana to create the spreadsheet with those rates (which I'll turn into CSV files and upload).

@bethpottsVADEPO  is in contact with Elana/VBA on the status of this.

[2020-07-08 16:22] andaleliz commented on #10432
Thanks for these thoughtful comments @mpeterz ! I'll reply to those I can, and let @jenniferlee-dsva weigh in on others.  I'll also add any questions you asked to the `Things to watch for` section of each task if they aren't already captured.

My understanding is that tier 2 content goes into the learning center, but @jenniferlee-dsva can offer much more insight into that.

I'm glad you brought th

[2020-07-08 16:25] mchelen-gov commented on #10734
WIP PR for case insensitive route: https://github.com/department-of-veterans-affairs/vets-website/pull/13403

[2020-07-08 16:26] #8814 closed

[2020-07-08 16:26] RLHecht commented on #10591
@DanielleThierryUSDSVA This has been copyedited with the tweaks we discussed in slack. I also fixed the anchor links in the TOC and for the eligibility requirements.

[2020-07-08 16:29] mmiddaugh commented on #8909
@tzelei @jenstrickland since it isn't expected that section-headers in Left Nav receive keyboard focus, can we close this issue?

[2020-07-08 16:30] jenniferlee-dsva commented on #7491
@RLHecht @lunascoop - Wanted to make you aware of a couple of updates that happened after the copydecks were finalized. I don't think this affects the custom content addition that you're working on, but thought you should know about this change, so you don't treat it as a bug.

The copydeck shows the H1 and meta title patterned like this:  `VA Form xxxxx` and `VA Form xxxxx | Veterans Affairs`
The

[2020-07-08 16:30] jenniferlee-dsva commented on #10561
Added this FYSA to the other form detail custom content ticket. Adding here for parity.

[2020-07-08 16:32] jason-gcio opened #11021 "Build Wizard in Prototype for Veteran Readiness and Employment (CH31)"
## Goal
Now that the wizard is known, we can build it out in the prototype to share with stakeholders/ team.

## Tasks
- [x] Complete the CH31 prototype with wizard

## Acceptance Criteria
- [x] A prototype for the CH31 feature is complete and includes the eligibility wizard.
- [x] A link has been shared with the team

[2020-07-08 16:34] jenstrickland commented on #8909
This is a QA-owned bug.

[2020-07-08 16:34] bethpottsVADEPO opened #11022 "Create screen shots and document steps to sign in for LC "change your address""
## Issue Description
_Change your address is one of the research topics for Learning Center. We need to help set up this page for testing by providing screen shots of:
- First CTA on Change your address page
- The steps to sign in and identity verification
---
## Tasks
- [x] _Screen shot of the main CTA: How do I change my address in my VA.gov profile?_
- [x] _Screen shots of sign in steps_

## Ac

[2020-07-08 16:35] #7703 closed

[2020-07-08 16:44] mmiddaugh commented on #10416
Not parsing the services info from v1 transition

[2020-07-08 16:51] #7488 closed

[2020-07-08 16:55] mdewey commented on #10223
Task:
Find if API from Vista and API from Cerner has Family History and SHx.

Acceptance criteria:
- Can we pull in data from the APIs?
- Does that data exist?

[2020-07-08 16:58] bethpottsVADEPO commented on #10232
I validated the PR and it got merged! Closing.

[2020-07-08 16:58] #10232 closed

[2020-07-08 17:02] bkjohnson opened #11023 "Reorganize the reverse proxy config"
## Description
Our [reverse proxy config](https://github.com/department-of-veterans-affairs/devops/blob/master/ansible/deployment/config/revproxy-vagov/templates/nginx_revproxy.conf.j2) has a lot going on inside of it, and it would be helpful to reorganize that so that other efforts can be finished in an easier way.

## Background/context/resources
This will help us with https://github.com/departm

[2020-07-08 17:03] #2110 closed

[2020-07-08 17:08] MickinSahni commented on #10532
@DanielleThierryUSDSVA to check-in with Lauren A. re: whether Cerner's end-to-end testing/Staging Review

[2020-07-08 17:09] joanneesteban commented on #10943
@leahkeeler the feedback survey is on Staging, but I'm receiving this page error. Let me know if this is works for you, and I can add it to Prod!

Unfortunately, we're currently limited to the feedback button (on the right hand side of the page) and the 5 star comment card on ForeSee. We're switching over to another survey tool in the next few months and can certainly update your survey then!

![i

[2020-07-08 17:17] lenaecb commented on #10087
Hmmm, I am not sure either of those windows work for VAOS if the copy/content can't be edited.

At a minimum, for now, we can set the maintenance banner but still allow for users to use the app.

How can we go about having an additional app specific notification display when the app is experiencing degradation, but it's still functional to a degree?  cc: @saneshark @jbalboni

[2020-07-08 17:18] leahkeeler commented on #10943
@joanneesteban my bad - here is the URL https://staging.va.gov/health-care/order-hearing-aid-batteries-and-accessories/introduction

[2020-07-08 17:27] erluti commented on #10986
I think it would be good to explicitly define when we expect acronyms to be inflected or if they should be spelled out.  This documentation should go with other onboarding information for platform users so our code can consistently deal with these as we go forward.  I think it would also give us something to point to when our output doesn't match front-end expectactions.

[2020-07-08 17:29] Mottie opened #11024 "[Accessibility] HLR: Spot check for HLR Launch readiness"
## User Story or Problem Statement

We need to perform an accessibility spot check for HLR.

### Required:

- [x] Read the [accessibility staging review documentation](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/staging-review-processes.md) 
- [x] Conduct axe browser scan, and document or address issues found
- [x] Ensure end-to-end tes

[2020-07-08 17:35] olivereri commented on #10929
Changed AWS Console access to yes, based on new information.

[2020-07-08 17:36] ElijahLynn commented on #10929
Also need Eric added to @department-of-veterans-affairs/cms-infrastructure, which I think I can do, but if you are at it that would be great.

[2020-07-08 17:37] ElijahLynn commented on #10929
@Jeff-Hayter Eric already completed the eQIP and background check from his previous role on COMMS. So we should be good here, right?

[2020-07-08 17:39] RLHecht opened #11025 "Update PDF link on SGLI life insurance page"
## User story
As a Veteran I need the most up-to-date information on how to convert my SGLI life insurance to a commercial policy.

## Issue Description
The current PDF we have linked to on [this page](https://www.va.gov/life-insurance/options-eligibility/sgli/) is outdated and needs to be replaced with the one below provided by a stakeholder:

https://www.benefits.va.gov/INSURANCE/forms/SGL_133_e

[2020-07-08 17:40] johnhashva opened #11026 "[Discovery Epic] Site Performance and SEO Optimization"
**The What**
To ensure the VA.gov Website (for Desktop and Mobile) is updated and optimized for performance and search -- factors include bugs, crawl-ability, internal linking, speed, responsiveness and visual stability - an array of site scans and audits were run in May-June 2020.

The following site diagnostic tools were used:

- Google Search Console Web Vitals Report
- Google Schema markup usi

[2020-07-08 17:40] MickinSahni commented on #7841
Closing out as duplicate of #10758

[2020-07-08 17:40] #7841 closed

[2020-07-08 17:40] RLHecht commented on #11025
@lwalsh617 I just slacked you the same thing but hold off on putting in this change. We are waiting from verification from the stakeholder on the right page to link to. Once we hear back I'll let you know. Thanks! FYSA @bethpottsVADEPO

[2020-07-08 17:42] jason-gcio commented on #11007
Double check these:
## Changes
**Simple Responsive List Table**
- All caps should be upper lower
- "Displaying page 1 - 5 of 12" should be in Bitter (Regular 20 px) typeface, not Source Sans

**Borderless Table**
- Icons for sorting are showing (arrows)
- "Displaying page 1 - 5 of 12" should be in Bitter (Regular 20 px) typeface, not Source Sans
- `<td>` should be vertical align top
  - Payment am

[2020-07-08 17:44] mr0sari0 commented on #10514
The PR [here](https://github.com/department-of-veterans-affairs/vets-json-schema/pull/449) seemed to resolve this bug.

[2020-07-08 17:46] abuckley3385 opened #11027 "Complete Discovery Tech Feasibility Documentation"
Update doc in Github that answers all the technical research done to date including the following areas:

[Discovery technical feasibility  ](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/discovery/engineering/technical-feasibility.md)

During the research phase of the questionnaires product we need to answer a few key questions from a

[2020-07-08 17:48] desireeturner opened #11028 "Project Kickoff: Comparison Tool Search and Filter Enhancements"
## Steps to complete Project Kickoff
- [x] Product Manager: create this issue and fill in feature name in the title and other bolded information appropriately
- [x] Link to this issue once created in #vfs-platform-support in Slack; tag @ Megan Kelley @ AndreaHewitt @ Mandi Lipka
- [x] Andrea and Megan will schedule meeting with VSP reviewers and **requesting team** attendees (as listed below)
- [x

[2020-07-08 17:48] #10514 closed

[2020-07-08 17:49] mr0sari0 commented on #9720
@peggygannon @rileyorr Update: The PR form adding in custom text to the form system has been merged and should be reflected in staging.

[2020-07-08 17:50] #10878 closed

[2020-07-08 17:50] #10550 closed

[2020-07-08 17:51] lenaecb opened #11029 "[WIP] Emergency prompt before making EC request"
As a Veteran seeking express care request, I need to verify that the symptoms or conditions I am having aren't life threatening or requiring emergency help before I can make my EC request.

## Acceptance criteria:
- [ ] Veteran selects "Request an Express Care screening" from homepage
- [ ] Veteran is prompted with 'how to help in case of emergency' information
- [ ] Veteran is provided with emerg

[2020-07-08 17:51] MickinSahni commented on #10125
Keeping in Icebox until we're able to groom or close cuz we're not going to do it.

[2020-07-08 17:52] mr0sari0 commented on #9568
I think this is safe to close unless there are other outstanding issues.

[2020-07-08 17:54] SgardnerPMP opened #11030 "[DATA-LOAD] Load data Staff Profiles Part 1 for VISN-19 Systems, Leadership and all Caregivers in CMS [Data Tech]"
## User Story or Problem Statement
As a Veteran Web user, I want to be able to get accurate points of contact for my Health Service Programs, so I may quickly contact a support caregiver to help me on my health care journey.

## Goal
_Highlight system Health Service PROGRAM pages and Points of Contact/Caregivers for each program_

## Objectives or Key Results this is meant to further
- _Increase o

[2020-07-08 17:56] jbalboni commented on #10087
@lenaecb We can override the content for both of those messages if we need to.

For your second question, I think we'd have to do something like the feature flag approach that Kam mentions to have two variations of downtime like that. Unless we had two different PagerDuty services, but that seems like it'd be confusing.

@saneshark Did we get an answer on how we would go about requesting maintenan

[2020-07-08 17:56] MickinSahni commented on #10111
2020-07-08 Grooming
Nothing to groom yet on PW engineering, content. However, CMS team is creating templates in parallel to our research/design

[2020-07-08 17:56] SgardnerPMP opened #11031 "[DATA-LOAD] Load data Staff Profiles Part 2 for VISN-19 Systems, Leadership and all Caregivers in CMS [Data Tech]"
## User Story or Problem Statement
As a Veteran Web user, I want to be able to get accurate points of contact for my Health Service Programs, so I may quickly contact a support caregiver to help me on my health care journey.

## Goal
_Highlight system Health Service PROGRAM pages and Points of Contact/Caregivers for each program_

## Objectives or Key Results this is meant to further
- _Increase o

[2020-07-08 18:01] abuckley3385 opened #11032 "Discovery Sprint 26 Priorities (07/15-07/28)"
Determine list of priorities that the team will focus on for sprint 26

1. Research plan for stakeholder interviews
2. Product documentation for initial draft of Epics based on sessions todate
3. Engineering technical spikes for APIs and or other data interfaces into both EHR's - Complete Tech Feasibility Documentation

Product

- [x] Initial Epics complete in Product Outline #10664
- [ ] Discover

[2020-07-08 18:02] lenaecb opened #11033 "Analytics for Express Care in VAOSR"
As a product manager, I want to understand how this feature is being used, and when it is, and isn't, resulting in successful request submission.

**We want to track the following areas from the new Express Care request flow:**
- Event for button "Create an Express Care request" - _the start of Express Care request flow_
- Event on 'Cancel' button on 'How Express Care works' page - tracks users wh

[2020-07-08 18:06] #10542 closed

[2020-07-08 18:08] #8409 closed

[2020-07-08 18:09] lenaecb opened #11034 "How express care works"
As a Veteran who has access to Express Care, I want to know exactly how I can use Express Care and if it's right for my needs because this is a new offering from the VA.

## Acceptance Criteria:
- [ ] Veteran provided brief explanation of how to use Express Care / what it's for
- [ ] Veteran sees the availability window in Step 1
- [ ] Veteran sees Emergency care not Express Care and includes 911

[2020-07-08 18:11] lenaecb opened #11035 "Select Express reason for EC request"
As a Veteran who is eligible for EC, I want to be able to submit an EC request to talk to a healthcare provider today about the symptoms I am having.

## Acceptance Criteria:
- [ ] A veteran can choose from a predefined list of symptoms
- [ ] A veteran can add additional details about their symptoms to send to VA staff with their request
- [ ] A veteran will see their phone # and email pre-populat

[2020-07-08 18:11] drorva commented on #9477
We considered using max.gov since it includes confluence.
Unfortunately, it looks like it does not provide a way to make spaces and pages public. The following screenshot show that. Even when setting the pages to the least restrictive permission, I still get prompted to log in when in incognito mode.

![Screenshot from 2020-07-08 10-07-31.png](https://images.zenhubusercontent.com/5e5433d11c68b67ee

[2020-07-08 18:12] #5042 closed

[2020-07-08 18:12] lenaecb opened #11036 "Express Care request submission page"
As a veteran making an express care request, I want to be able to see my express care request has been successfully submitted.

## Acceptance Criteria:
- [ ] Veteran sees their request has been successfully submitted
- [ ] Veteran see the Express Care request card with all their information showing for their request
    - Symptom selected
    - Additional information added for symptoms
    - Conta

[2020-07-08 18:14] LEHigley opened #11037 "Stakeholder Interviews"
- [ ] VetLink Kiosk: Shawn Adams
- [ ] Lighthouse APIs: Dave Mazik
- [ ] My HealtheVet: Kathy Frisbee, Dr. Evans
- [ ] Kellie Condon
- [ ] VEO: Denise Kitts
- [x] Internal Medicine and Informatics physician: Dr. Byrne
- [x] eScreening: James Pittman

Stakeholders to identify:
- [ ] Clinical Informatics Lead for Nursing Intake forms: This stakeholder can assist in updated patient intake forms docum

[2020-07-08 18:18] lenaecb opened #11038 "Veteran can navigate directly to EC flow from external VA websites (ex. VAMC specific website)"
As a Veteran eligible for Express Care, my local VAMC website is prompting Express Care and I want to make an Express Care request from that site.

Unique link should open 'how express care works' and should include inactive state.

## Acceptance Criteria:
- [ ] VAMC site uses VAOSR Express Care URL as it's redirect to VAOSR
- [ ] Veteran is prompted to login on VA.gov
- [ ] Once Veteran authentic

[2020-07-08 18:22] CrystabelReiter opened #11039 "Update table list component"
- [x] Update responsive table / simple content list in sketch library to reflect design system council feedback

- [x] Update sketch library and announce

[2020-07-08 18:27] DanielleThierryUSDSVA commented on #10591
Thanks very much, @RLHecht!

**7.8.20 update:**
- Approved by Jeff Grandon 7.7.20
- Sent to travel pay team 7.8.20 (email below for records). Received all positive initial feedback from Tom C. He and his team will socialize and provide any additional feedback. Also waiting on 508-compliant instruction guide.

![image.png](https://images.zenhubusercontent.com/5e8b13016a4378a604f5e799/0104c333-d227-

[2020-07-08 18:28] Clark-W-Griswold opened #11040 "Write supporting tests for forms library review page refactor of SubmitController"
### **Overview**

From the work originating in [this ticket](https://github.com/department-of-veterans-affairs/va.gov-team/issues/10114), write supporting tests for the new version of the SubmitController.

[2020-07-08 18:29] cvalarida opened #11041 "Remove bundle transformer unit tests"
This is a bold move, I admit. Let me 'splain. Well, let me try, anyhow.

## Background
The transformer system runs JSON schema validation on the output of every call to every transformer. This validates the overall structure of the data that will be plugged into the Liquid templates.

We wrote the system to automatically require unit tests for every transformer written. The idea behind that is tha

[2020-07-08 18:30] Clark-W-Griswold opened #11042 "Write supporting documentation around refactored review page components."
### **Overview**

From the work originating in [this ticket](https://github.com/department-of-veterans-affairs/va.gov-team/issues/10114), write supporting documentation using JSDocs in all new components.

[2020-07-08 18:31] micahchiang commented on #10825
Putting my comment regarding release plan from slack in here for the sake of visibility -
1. Recruit 4-7 veterans, white list their email addresses in flipper and have them go through the 686.
1. Gather feedback from them, make a call on if any thing needs to change.
1. Use flipper to roll out to 10% of users, watch for anything fishy in GA, Sentry, Grafana, etc.
1. Roll out to 20%, same thing, wa

[2020-07-08 18:37] tressaellen opened #11043 "[Copy] Copy is confusing in 'Learn more about military base addresses' FAQ (P&C section)"
Under the mailing address section in the FAQ dropdown ' Learn more about military base addresses', the copy is confusing - we should update it to have a better explanation as to _why_ we can only put the US as the country.

![Screen Shot 2020-07-07 at 12.02.11 PM.png](https://images.zenhubusercontent.com/5dfa65bbbd078d1699e52294/31ec542a-793f-49df-963c-74f6397eac1b)

[2020-07-08 18:40] mmiddaugh commented on #10650
Note: during grooming today, the team decided to implement mobile responsiveness checks into the VA health facility E2E test suite. Because all VA facility type detail pages have the same layout and content, we can cover the similar functionality for VBA, NCA and Vet Centers while checking VA health-specific areas for services, appointment wait times and satisfaction scores.

[2020-07-08 18:45] #10627 closed

[2020-07-08 18:48] jason-gcio commented on #10828
These have been updated in the larger doc: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/ebenefits/features/view-update-dependents/research-design/text-revisions/686-punch-list-0420.md

[2020-07-08 18:48] mmiddaugh commented on #10651
Note: Mobile responsiveness will be addressed in the E2E tests for VA health  [#10650]

[2020-07-08 18:48] mmiddaugh commented on #10652
Note: Mobile responsiveness will be addressed in the E2E tests for VA health  [#10650]

[2020-07-08 18:48] mmiddaugh commented on #10653
Note: Mobile responsiveness will be addressed in the E2E tests for VA health  [#10650]

[2020-07-08 18:54] #10703 closed

[2020-07-08 18:54] joanneesteban opened #11044 "Analytics KPI dashboard request for Benefits & Memorials 2 - Medical Device Tool"
# Request a KPI Dashboard

## What this form is for
Use this template to request a KPI dashboard on Domo for your product.

## Instructions for the VFS team
- [ ] For additional info, read through the [How to Request a KPI Dashboard Documentation](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/analytics/kpi-dashboard-request.md)
- [ ] Your KPIs are clearly linke

[2020-07-08 18:55] #8539 closed

[2020-07-08 18:56] kelsonic commented on #8633
PR merged! 🙂

[2020-07-08 18:57] #8540 closed

[2020-07-08 18:58] joanneesteban opened #11045 "Draft a KPI Dashboard for Medical Device Tool"
## Issue Description
Draft V1 of the Medical Device Ordering KPI dashboard.

---
## Tasks
- [ ]  Groom analytics for technical feasibility
- [ ]  Document data sources for each metric
   - [ ]  Document unavailable vs. available metrics
   - [ ]  If any, add implementation issue for additional necessary implementation
- [ ]  Draft dashboard on Domo
- [ ]  Pipe available metrics to Domo
- [ ]  Add

[2020-07-08 19:05] luke-gcio commented on #10713
Hi Peggy - is this still on your radar for this sprint?

[2020-07-08 19:08] #10733 closed

[2020-07-08 19:08] #10452 closed

[2020-07-08 19:09] luke-gcio commented on #1715
Not sure if this applies anymore since it does save attachments automatically as they are uploaded.  @kevinstachura can you review?

[2020-07-08 19:10] rianfowler opened #11046 "Determine maintenance / support plan for content build / deploy process"
Consider the following pieces of the content build and deploy process:
- liquid templates
- metalsmith script + plugins (transformers, CMS export loader / json ref resolver thing, metalsmithLayouts, etc)
- validation (currently a metalsmith plugin, includes link and accessibility checking)
- preview server (graphQL query + node server + metalsmith script)
- deployment process (AWS S3 sync script)

[2020-07-08 19:11] luke-gcio commented on #7935
Depends on Wizard Work in #9665 so will look at this again when we get there.

[2020-07-08 19:13] luke-gcio commented on #8138
Review this in sprint 25.

[2020-07-08 19:13] patrickvinograd commented on #7092
I just sent an email to the IAM team requesting two additional consumer configurations in lower environments:

1. Move localhost config from SSOe PINT to INT (since PINT is unstable)
2. Add an additional configuration in SQA for review instances.

Assuming they are on board with that, we can then do the same revproxy interception to route requests to individual review instances.

[2020-07-08 19:15] jsev-io commented on #10929
@olivereri You should have access to SOCKS now. Please confirm when you have a moment.
Thanks!

[2020-07-08 19:15] jsev-io commented on #10969
@nickbloom Please confirm you can connect to the SOCKS Proxy.
Thanks!

[2020-07-08 19:16] rebeccawalsh opened #11047 "[Design] DL - Conversation Guide Final Draft"
## Issue Description
Create a conversation guide final draft

---
## Tasks
- [x] Complete the conversation guide template found [here](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/debt-letters-mvp/research/usability-july20/conversation-guide.md)
- [x] Share with Shawna for feedback

## Acceptance Criteria
- [x] Convo guide in GH
- [x] Share with Shawna for fee

[2020-07-08 19:17] marriej opened #11048 "Safari mobile versions 9/10 bug"
Versions of Safari on iOS 10 do not support initializing a URLSearchParams object with a JSON object.  When building the `authn` parameter for inbound SSOe authentication, this gets serialized to `?%5Bobject+Object%5D` rather than `?authn=X`.  Either updating the URLSearchParams polyfill or manually adding parameters to the object using the append method, should fix.

Inbound SSOe bug:
"GET /v1/se

[2020-07-08 19:19] rebeccawalsh opened #11049 "[Design] DL - Conversation Guide Final Draft"
## Issue Description
Create a conversation guide final draft

---
## Tasks
- [ ] Complete the conversation guide template found [here](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/debt-letters-mvp/research/usability-july20/conversation-guide.md)
- [ ] Share with Shawna for feedback

## Acceptance Criteria
- [ ] Convo guide in GH
- [ ] Share with Shawna for fee

[2020-07-08 19:20] RLHecht commented on #10717
This has now been copyedited and the numbers checked with Anne, though we are waiting for confirmation on one figure, which is noted above. FYSA @bethpottsVADEPO @AnneHurley

[2020-07-08 19:22] saneshark commented on #8538
This is redundant. Will be complete when Appointments#create is complete. Then again this one only has a 3 so maybe the idea was to tackle the two independently. I think it makes sense to have 1 ticket though since it will most likely be done as 1 PR.

[2020-07-08 19:25] rebeccawalsh opened #11050 "[Design] DL - Wireflows"
## Issue Description
In order to accommodate new constraints with VBMS and DMC data, we will revisit our wireflows and make the appropriate adjustments for V1 release and usability testing.

---
## Tasks
- [x] Collaborate with designer on new wireflows
- [x] Share wireflows with team to confirm direction and feasability
- [x] Export wireflows and update GH

## Acceptance Criteria
- [x] Export incl

[2020-07-08 19:25] #11049 closed

[2020-07-08 19:26] rebeccawalsh commented on #11050
This ticket was added to sprint 24 due to a pivot that pushed the prototype and conversation guide out of the sprint.

[2020-07-08 19:29] mmiddaugh opened #11051 "Deduplicate Community care results"
## Issue Description
Community care providers do not necessarily have unique IDs. Duplicate IDs may cause
- incorrect details to be displayed for a selected provider
- some providers not to be returned in the search results.

We have addressed this issue by creating new IDs for community urgent care providers and need to extend the logic to all providers in PPMS. [#4388](https://github.com/departm

[2020-07-08 19:33] joanneesteban commented on #11045
[V1 Medical Device Tool KPIs](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/medical-device-tool/product-outline.md#okrs-kpis)

[2020-07-08 19:56] kevinmirc opened #11052 "Add default to CARMA feature flippers"
As of today, we cannot hit CARMA on our review instances since the feature flipper is true for :stub_carma_response. We can't log in to Review Instances (some bug) to change the flipper.

Feature flips can now be configured with a default: https://github.com/department-of-veterans-affairs/vets-api/pull/4277

Update the CARMA feature flippers to allow us to hit CARMA in our review instances.

[2020-07-08 19:58] 1Copenut commented on #10202
@delli-gatti-michael Confirmed both of these in staging, screenshots attached below. Moving to close.

---
![Screen Shot 2020-07-08 at 2 56 38 PM](https://user-images.githubusercontent.com/934879/86964318-7a6deb80-c12b-11ea-8808-75f4c2890c98.png)

---
![Screen Shot 2020-07-08 at 2 56 59 PM](https://user-images.githubusercontent.com/934879/86964325-7b9f1880-c12b-11ea-93a3-883e1d0a04e1.png)

[2020-07-08 19:58] #10202 closed

[2020-07-08 19:59] #9852 closed

[2020-07-08 20:07] #9072 closed

[2020-07-08 20:14] Samara-Strauss opened #11053 "[Design] Profile: Add info on the DD214 in the Military information section"
## Background

["DD214" is the second most searched term from the profile](https://analytics.google.com/analytics/web/?authuser=0#/report/content-site-search-pages/a50123418w177519031p176188361/_u.date00=20200101&_u.date01=20200707&_.useg=builtin1&explorer-table.plotKeys=%5B%5D&_r.drilldown=analytics.searchStartPage:www.va.gov~2Fprofile~2F/). It's reasonable to assume that users expect to see info

[2020-07-08 20:17] 1Copenut commented on #10167
@sonntag-adam && @desireeturner I reviewed this again in staging and the issue appears to be resolved. Updated values are being read as expected, so I'll move this one closed.

[2020-07-08 20:17] #10167 closed

[2020-07-08 20:21] Jeff-Hayter commented on #10929
@jsev-io Approved for AWS.

[2020-07-08 20:36] Samara-Strauss opened #11054 "ForeSee Survey Request for Authenticated experience — Profile 2.0"
# Request the ForeSee Survey

## What this form is for
Use this template to request adding the ForeSee Survey to your product.

ForeSee FAQ [link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/analytics/foresee-readme.md)

## Description

We already have a ForeSee survey in the profile (thank you!). However, as we work towards the profile 2.0 launch, we are goi

[2020-07-08 20:37] Samara-Strauss commented on #11054
CC/ @mshea0606 for awareness

[2020-07-08 20:51] #8538 closed

[2020-07-08 21:27] 1Copenut commented on #9953
@desireeturner We will need to take another look at this item. It's not setting focus on the right element when I view it on a mobile device or at mobile width. I think it has to do with replacing the `<table>` with an unordered list. I'm attaching a screen shot below and will open an improvement ticket to use our new responsive table when it's ready. Work on that item is currently in progress.

-

[2020-07-08 21:33] mpelzsherman commented on #9410
Doc uploaded to https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/facilities/facility-locator/PredictiveGeolocation.md

[2020-07-08 21:36] 1Copenut opened #11055 "[COGNITION]: GIBCT School Locations - Tables SHOULD be responsive when the new component is ready"
## [508-defect-3](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-3)

**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

The GIBCT school locations table is using a sepa

[2020-07-08 21:39] 1Copenut commented on #9953
@desireeturner Here is the work for the new responsive table component: https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/203

[2020-07-08 21:42] 1Copenut commented on #8161
This work has been finished. Moving this to close.

[2020-07-08 21:42] #8161 closed

[2020-07-08 21:43] mchelen-gov commented on #9665
@andaleliz Ah ok, thanks for the info! I thought there were some changes to the workflow being made because it said "New User Flow" which I see now means the flow for new users, not a new flow for users :joy:
If you have a chance, any accessibility issues you found with the current wizard codebase(s) would be great to get documented in https://github.com/department-of-veterans-affairs/vets-design-

[2020-07-08 21:46] 1Copenut commented on #3917
@desireeturner I'll bring this up tomorrow at our monthly 508 office call.

[2020-07-08 21:48] lunascoop commented on #7491
Hi @RLHecht I've wrapped up the initial entry of the top 40 forms (31 according to Word doc). Here are the links and notes (if necessary for each draft page:

**Links in order according to Word doc:**

- https://prod.cms.va.gov/find-forms/about-form-21-4138
- https://prod.cms.va.gov/find-forms/about-form-22-1995 : Meta description too long, helpful link for Edith nourse roger for a legacy page
- h

[2020-07-08 21:51] leahkeeler commented on #10720
Brad, the requirements here have changed. All the debt letters will be listed out in chronological order - ticket updated.

[2020-07-08 21:55] bmcgrady-ep commented on #10013
QA for GA Filters
GA View | Real View Data | Test View Data | Test Status
------------ | ------------- | -------------
All VA.gov Website Data [Production] | http://c2n.me/484ozO8
![image](https://user-images.githubusercontent.com/66263904/86974109-90c77780-c12a-11ea-83ae-6157e6bba5d9.png) |
![image](https://user-images.githubusercontent.com/66263904/86974162-ae94dc80-c12a-11ea-90a9-517af38e2600.p

[2020-07-08 21:56] 1Copenut commented on #9085
Issue moved to [department-of-veterans-affairs/vets-design-system-documentation #240](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/240) via [**ZenHub**](https://www.zenhub.com/)

[2020-07-08 21:56] #9085 closed

[2020-07-08 21:57] #9031 closed

[2020-07-08 21:57] 1Copenut commented on #9031
Issue moved to [department-of-veterans-affairs/vets-design-system-documentation #241](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/241) via [**ZenHub**](https://www.zenhub.com/)

[2020-07-08 21:57] #9028 closed

[2020-07-08 21:57] 1Copenut commented on #9028
Issue moved to [department-of-veterans-affairs/vets-design-system-documentation #242](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/242) via [**ZenHub**](https://www.zenhub.com/)

[2020-07-08 21:58] #8859 closed

[2020-07-08 21:58] 1Copenut commented on #8859
Issue moved to [department-of-veterans-affairs/vets-design-system-documentation #243](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/243) via [**ZenHub**](https://www.zenhub.com/)

[2020-07-08 21:59] #8352 closed

[2020-07-08 21:59] 1Copenut commented on #8352
Issue moved to [department-of-veterans-affairs/vets-design-system-documentation #244](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/244) via [**ZenHub**](https://www.zenhub.com/)

[2020-07-08 22:00] #5125 closed

[2020-07-08 22:00] 1Copenut commented on #5125
Issue moved to [department-of-veterans-affairs/vets-design-system-documentation #245](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/245) via [**ZenHub**](https://www.zenhub.com/)

[2020-07-08 22:02] #4330 closed

[2020-07-08 22:02] 1Copenut commented on #4330
Issue moved to [department-of-veterans-affairs/vets-design-system-documentation #246](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/246) via [**ZenHub**](https://www.zenhub.com/)

[2020-07-08 22:04] 1Copenut commented on #314
@rianfowler && @Clark-W-Griswold Bumping this one again for awareness. I had it tagged to the design system, but it's really focused on the forms library. This has been a long-running issue, so if there's any spare cycles, I'd love to chat or get this one added to a sprint. Thanks y'all.

[2020-07-08 22:05] 1Copenut commented on #9936
Issue moved to [department-of-veterans-affairs/vets-design-system-documentation #247](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/247) via [**ZenHub**](https://www.zenhub.com/)

[2020-07-08 22:12] 1Copenut commented on #8255
Issue moved to [department-of-veterans-affairs/vets-design-system-documentation #248](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/248) via [**ZenHub**](https://www.zenhub.com/)

[2020-07-08 22:13] 1Copenut commented on #8254
Issue moved to [department-of-veterans-affairs/vets-design-system-documentation #249](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/249) via [**ZenHub**](https://www.zenhub.com/)

[2020-07-08 22:14] 1Copenut commented on #10461
Issue moved to [department-of-veterans-affairs/vets-design-system-documentation #250](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/250) via [**ZenHub**](https://www.zenhub.com/)

[2020-07-08 22:14] #10461 closed

[2020-07-08 22:15] #1449 closed

[2020-07-08 22:15] 1Copenut commented on #1449
Issue moved to [department-of-veterans-affairs/vets-design-system-documentation #251](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/251) via [**ZenHub**](https://www.zenhub.com/)

[2020-07-08 22:16] 1Copenut commented on #8351
Closing this audit as all issues have been moved to the new vets-design-system-documentation project: https://github.com/department-of-veterans-affairs/vets-design-system-documentation/projects/3

[2020-07-08 22:16] #8351 closed

[2020-07-08 22:24] tlei123 commented on #8909
Most likely a stale test case...

It's fine with me if this gets Closed, but I'd like to try some "forensics" in the interest of preventing future false-positive defects...

@jenstrickland @mmiddaugh, any idea where the relevant Expected-Result item might've come from? \[see highlighted line in screenshot below]
@pjhill , whatever you updated on 5/12, did any change(s) touch Step 1's Expected Resu

[2020-07-09 00:14] ericbuckley commented on #7092
I noticed on the review instances that [environment.BUILDTYPE](https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/platform/utilities/environment/index.js#L44) evaluates to "localhost", so we'll probably have to make some changes to make sure the correct keepalive endpoint is used if we want to use inbound on review instances.

[2020-07-09 00:55] mr0sari0 commented on #10637
With many hours of discovery, lots of experiments, and searching through previous threads in the platform-support channel like this [one](https://dsva.slack.com/archives/CBU0KDSB1/p1578340698175600?thread_ts=1578339207.168300&cid=CBU0KDSB1), I will say that the `formConfig `object is built to remain static so we could not dynamically remove the footer by updating the object later on in the app or

[2020-07-09 00:57] mr0sari0 commented on #10637
Updating the estimate for this task to match the effort required.

[2020-07-09 01:01] mr0sari0 commented on #10066
Working with @camerontesterman to implement the correct error data properties.

[2020-07-09 01:03] mr0sari0 commented on #9982
@rileyorr Can we meet up to figure out what's left to update on this ticket?

[2020-07-09 01:19] mr0sari0 opened #11056 "[Backend] MDOT- Update Form Id"
## Description

To complete the content changes from MDOT's staging review, the form id should be updated from "MDOT" to "Form 2346A".

Please see the following slack threads for more information:

https://dsva.slack.com/archives/CPE4AJ6Q0/p1592487788169000?thread_ts=1592483848.166800&cid=CPE4AJ6Q0

https://dsva.slack.com/archives/CPE4AJ6Q0/p1593206372280400?thread_ts=1592483848.166800&cid=CPE4AJ6

[2020-07-09 01:20] mr0sari0 commented on #11056
This ticket is connected to https://github.com/department-of-veterans-affairs/va.gov-team/issues/9982.

[2020-07-09 01:21] mr0sari0 commented on #9982
https://github.com/department-of-veterans-affairs/va.gov-team/issues/11056 is needed to complete the content edits.

[2020-07-09 01:25] mr0sari0 opened #11057 "[Frontend] Apply Wizards- Technical Discovery"
## Description

To prepare for the upcoming project, Apply Wizards, a technical discovery should be made to identify complexities and unknowns, as well as testing our theories for how to best complete the project.

[2020-07-09 01:29] mr0sari0 commented on #10043
@leahkeeler @leahkeeler After adding the documentation to the product outline, can this ticket be closed?

[2020-07-09 01:56] mr0sari0 commented on #6510
@jonwehausen @bsmartin-ep I have updated the tense and dashes on the events as well as added the dataLayer pushes for when products are selected/unselected.

They have been added to this PR: https://github.com/department-of-veterans-affairs/vets-website/pull/13419

Locally, I was not able to replicate the `bam-error` event when clicking on a battery supply.    The logic is for that event to fire i

[2020-07-09 02:48] desireeturner commented on #10166
@Kimberley2019 The updates are limited to the Estimate Your Benefits section within the Comparison Tool. More specifically, this is related to how this section of the tool functions related to mobile and accessible versions (not new functionality). Can you share an example of what it is you are looking for? This is the first time this type of request has been made of our team with regard to our ca

[2020-07-09 06:26] SgardnerPMP opened #11058 "[Data-Load] Load Data for 'VA Cheyenne health care' Health Services Program Intros, information and Staff Profiles from data collected [BA]"
## User Story or Problem Statement
As a Veteran Web user, I want to be able to get accurate points of contact for my Health Service Programs, so I may quickly contact a support caregiver to help me on my health care journey.

## Goal
_Highlight system Health Service PROGRAM pages and Points of Contact/Caregivers for each program_

## Objectives or Key Results this is meant to further
- _Increase o

[2020-07-09 06:28] SgardnerPMP opened #11059 "[Data-Load] Load Data for 'VA Eastern Colorado' Health Services Program Intros, information and Staff Profiles from data collected [BA]"
## User Story or Problem Statement
As a Veteran Web user, I want to be able to get accurate points of contact for my Health Service Programs, so I may quickly contact a support caregiver to help me on my health care journey.

## Goal
_Highlight system Health Service PROGRAM pages and Points of Contact/Caregivers for each program_

## Objectives or Key Results this is meant to further
- _Increase o

[2020-07-09 06:31] SgardnerPMP opened #11060 "[Data-Load] Load Data for 'VA Montana' Health Services Program Intros, information and Staff Profiles from data collected [BA]"
## User Story or Problem Statement
As a Veteran Web user, I want to be able to get accurate points of contact for my Health Service Programs, so I may quickly contact a support caregiver to help me on my health care journey.

## Goal
_Highlight system Health Service PROGRAM pages and Points of Contact/Caregivers for each program_

## Objectives or Key Results this is meant to further
- _Increase o

[2020-07-09 06:34] SgardnerPMP opened #11061 "[Data-Load] Load Data for 'VA Western Colorado' Health Services Program Intros, information and Staff Profiles from data collected [BA]"
## User Story or Problem Statement
As a Veteran Web user, I want to be able to get accurate points of contact for my Health Service Programs, so I may quickly contact a support caregiver to help me on my health care journey.

## Goal
_Highlight system Health Service PROGRAM pages and Points of Contact/Caregivers for each program_

## Objectives or Key Results this is meant to further
- _Increase o

[2020-07-09 06:37] SgardnerPMP opened #11062 "[Data-Load] Load Data for 'VA Eastern Oklahoma health care' Health Services Program Intros, information and Staff Profiles from data collected [BA]"
## User Story or Problem Statement
As a Veteran Web user, I want to be able to get accurate points of contact for my Health Service Programs, so I may quickly contact a support caregiver to help me on my health care journey.

## Goal
_Highlight system Health Service PROGRAM pages and Points of Contact/Caregivers for each program_

## Objectives or Key Results this is meant to further
- _Increase o

[2020-07-09 06:42] SgardnerPMP opened #11063 "[Data-Load] Load Data for 'VA Oklahoma City health care' Health Services Program Intros, information and Staff Profiles from data collected [BA]"
https://www.muskogee.va.gov/services/caregiver/index.asp## User Story or Problem Statement
As a Veteran Web user, I want to be able to get accurate points of contact for my Health Service Programs, so I may quickly contact a support caregiver to help me on my health care journey.

## Goal
_Highlight system Health Service PROGRAM pages and Points of Contact/Caregivers for each program_

## Objectiv

[2020-07-09 06:43] SgardnerPMP opened #11064 "[Data-Load] Load Data for 'VA Sheridan health care' Health Services Program Intros, information and Staff Profiles from data collected [BA]"
https://www.muskogee.va.gov/services/caregiver/index.asp## User Story or Problem Statement
As a Veteran Web user, I want to be able to get accurate points of contact for my Health Service Programs, so I may quickly contact a support caregiver to help me on my health care journey.

## Goal
_Highlight system Health Service PROGRAM pages and Points of Contact/Caregivers for each program_

## Objectiv

[2020-07-09 06:45] SgardnerPMP opened #11065 "[Data-Load] Load Data for 'VA Salt Lake City health care' Health Services Program Intros, information and Staff Profiles from data collected [BA]"
https://www.muskogee.va.gov/services/caregiver/index.asp## User Story or Problem Statement
As a Veteran Web user, I want to be able to get accurate points of contact for my Health Service Programs, so I may quickly contact a support caregiver to help me on my health care journey.

## Goal
_Highlight system Health Service PROGRAM pages and Points of Contact/Caregivers for each program_

## Objectiv

[2020-07-09 10:37] sonntag-adam commented on #7857
@department-of-veterans-affairs/uxbah This is in staging and ready for review

[2020-07-09 12:17] lenaecb opened #11066 "Feature flag for Express Care"
Express Care feature should have feature flag to allow for on/off of feature.

2 feature flags:
- one for EC to legacy VAOS
- one for full EC flow in VAOSR

[2020-07-09 12:19] lenaecb commented on #10993
@rtwell - how do we want to handle the color coding for these statuses?
- Submitted - green
- In progress - gold
- Complete - no color
- Canceled - red

Thoughts?

[2020-07-09 12:31] lenaecb opened #11067 "Discovery - Returning child facility with Express Care when user logs in"
Need to do some testing/tech discovery on making call for child facility data when user first loads VAOS app homepage.

Desired behavior:
- User will see Express Care option on homepage is registered at site

Considerations:
- performance based on number of calls
- as part of this ticket lets collect some thoughts/idea on how we'd handle the scenario where Veteran may have more than one registrati

[2020-07-09 12:33] desireeturner commented on #9953
@hughes-dustin moving back to in progress so you can review Trevor's feedback.

[2020-07-09 12:33] lenaecb commented on #10844
Closing - bug being addresses in EC statuses ticket

[2020-07-09 12:33] #10844 closed

[2020-07-09 12:41] jbritt1 commented on #10929
@Jeff-Hayter I believe @ElijahLynn needs this user to be given administrator level AWS permissions. I think when we did this for @indytechcook we laid that out and had you "double approve" for absolute transparency.

@ElijahLynn, correct me if I have made this assumption in error.

If not, @Jeff-Hayter please let us know if you approve of that level of permissions for this user before we approve d

[2020-07-09 12:48] jenstrickland commented on #8254
As this bug is still in the VSA Public Website's work, we should keep this bug open. Once the sitewide issue is resolved, we should ensure that the update is reflected in this work.

[2020-07-09 12:52] jenstrickland commented on #8255
As this bug is still in the VSA Public Website's work, we should keep this bug open. Once the sitewide issue is resolved, we should ensure that the update is reflected in this work.

[2020-07-09 12:52] 1Copenut commented on #8254
Good call. There are a couple other pagination items I'll find and re-open too.

[2020-07-09 12:53] jenstrickland commented on #9936
As this bug is still in the VSA BAM2 work, we should keep this bug open. Once the sitewide issue is resolved, we should ensure that the update is reflected in this work.

[2020-07-09 13:03] rtwell commented on #10993
i think the complete could also be green? maybe we swap an icon or something. i will noodle on this.

[2020-07-09 13:11] jbalboni opened #11068 "Investigate moving to new React Router version"
React Router v5 is in the vets-website dependencies, so we should investigate moving to this.

We would need to create a new startup function to avoid importing the old react-router, but otherwise I think it would be updating the routes file and import statements.

[2020-07-09 13:37] Jeff-Hayter commented on #10929
Yep, I think Dror now has final approval on these but I'll start a thread in slack.

[2020-07-09 13:51] leahkeeler opened #11069 "Analytics KPI dashboard request for BAM 2 - Medical Device Reordering Tool"
# Request a KPI Dashboard

## What this form is for
Use this template to request a KPI dashboard on Domo for your product.

## Instructions for the VFS team
- [ ] For additional info, read through the [How to Request a KPI Dashboard Documentation](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/analytics/kpi-dashboard-request.md)
- [ ] Your KPIs are clearly linke

[2020-07-09 14:15] amyknox opened #11070 "STEM: UX Dev Support"
As a UX designer, I need to work with developers and provide clarification or assets, as necessary, for the development of the new STEM scholarship form.

[2020-07-09 14:24] johnpaulashenfelter commented on #9057
Sidekiq upgrade to allow corresponding rack upgrade was released on the 5.x branch. Updated in department-of-veterans-affairs/vets-api#4499

[2020-07-09 14:24] #9057 closed

[2020-07-09 14:36] lwalsh617 commented on #11025
@RLHecht - This link has been updated. Here's the preview link:
http://preview-prod.vfs.va.gov/preview?nodeId=767

[2020-07-09 14:40] psanders86 commented on #10820
There are five significant proposed changes to the 10-10CG that would affect either the 10-10CG online form, or the existing introduction page that is managed by the public websites team.

There are also several other minor changes, many of which have been addressed already on the online form.

## Major change 1 ##

The proposed paper version deletes definitions of family member, primary family ca

[2020-07-09 14:42] #10887 closed

[2020-07-09 14:48] bethpottsVADEPO commented on #11022
![image.png](https://images.zenhubusercontent.com/5ecfdfb74c48ee59ad9ae036/0c45d311-135f-4623-8240-9d735b0a5dbd)

[2020-07-09 14:56] RLHecht commented on #11025
Thanks, @lwalsh617 This page has been published. Moving to validate and will close later this afternoon. @bethpottsVADEPO I'll email the stakeholder and let them know. FYSA @MickinSahni

[2020-07-09 14:58] #10861 closed

[2020-07-09 15:07] sonntag-adam commented on #10730
![Screen Shot 2020-07-09 at 11.06.10 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/7ff2b88d-3f8e-4f73-8c10-969632860707)
##
![Screen Shot 2020-07-09 at 11.06.17 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/bf905431-caf2-4e38-b941-6a0e91b20ae2)
##
[Uploading... Screen Shot 2020-07-09 at 11.06.23 AM.png ]

[2020-07-09 15:12] joanneesteban commented on #11069
Thanks, @leahkeeler ! To ensure quality, could you please add the veteran/user goals for your KPIs?

[2020-07-09 15:12] tressaellen commented on #10684
We need two different error states for connected apps. @kristinagore could you take a look at this copy and let me know if you have any suggested changes?

1. If we cannot fetch current connected apps.

We are unable to retrieve your connected apps
We’re sorry.  Something went wrong on our end and we couldn’t access your connected apps.  Please try again later.

![Screen Shot 2020-07-09 at 9.05.34

[2020-07-09 15:13] sonntag-adam commented on #10730
https://dsvavsp.testrail.io/index.php?/tests/view/9326&group_by=cases:section_id&group_order=asc&group_id=51

[2020-07-09 15:27] bethpottsVADEPO commented on #10717
@AnneHurley I'm not understanding which "child with no surviving spouse" rate you have a question about. Where is that? Can you drop a screen shot here? Thanks!

[2020-07-09 15:27] Samara-Strauss commented on #6814
Can we close this out?

[2020-07-09 15:28] leahkeeler commented on #11069
Done! Thanks

[2020-07-09 15:29] bethpottsVADEPO commented on #10717
@AnneHurley Please add the drupal preview link to all the tickets, maybe under the list of tasks where it says what epic this is attached to. Thanks!

[2020-07-09 15:34] AnneHurley commented on #10717
@bethpottsVADEPO Re your first question above, yes - attached is the email of screenshots I sent you yesterday. Let me know if anything is unclear.
And yes I'll add all preview links - have been waiting until we have last questions ironed out. I will add them but just note that not all copy may yet be finalized.
[Email to Beth - DIC rates question.docx]
(https://github.com/department-of-veterans-a

[2020-07-09 15:37] #10860 closed

[2020-07-09 15:37] bethpottsVADEPO commented on #10717
![image.png](https://images.zenhubusercontent.com/5ecfdfb74c48ee59ad9ae036/4a16f161-bd31-4f93-97f1-9e7f826ae104)

[2020-07-09 15:38] MickinSahni commented on #10110
moving to sprint 26 to account for blocker

[2020-07-09 15:40] #10859 closed

[2020-07-09 15:41] #10906 closed

[2020-07-09 15:41] kevwalsh opened #11071 "Request access to Google Analytics"
# Request Google Analytics access

We'd like the whole CMS team to be able to access the "VA.gov CMS Backend" property

## User Email Address

These are all google-enabled accounts:

nick.bloom@agile6.com (may already have an account)
jordana.mello@agile6.com
oksana.cyrwus@agile6.com
clarence.maeng@agile6.com
howard.brande@agile6.com
daniel.milller@agile6.com
jeff.brauer@agile6.com
neil.hastings@a

[2020-07-09 15:42] sanlouise commented on #10596
For consistency's purposes, we keep the (xxx) xxx-xxx formatting for phone numbers, but we do want to remove the international prefix. Confirmed with Tressa.

[2020-07-09 15:42] andaleliz opened #11072 "[Discovery] - Synthesize data and provide recommendations from Learning Center MVP card sort"
Produce synthesis report for Learning Center MVP card sort

Tasks

- [x]  Synthesis draft
- [x]  Report shared with team and stakeholders, gather recommendations
- [x]  Synthesis feedback incorporated
- [x]  Study added to research history markdown page

[2020-07-09 15:42] kelsonic commented on #8633
Validated and moving to close!

![image](https://user-images.githubusercontent.com/12773166/87061063-8360ca80-c1c8-11ea-89f1-996b495a8337.png)

[2020-07-09 15:42] #8633 closed

[2020-07-09 15:44] jbalboni opened #11073 "Clean up VAOS utility folder"
We have a utils folder with a bunch of files and functions, we should take a pass through those files and see if we can move them to better named files or incorporate them into components

[2020-07-09 15:53] mmiddaugh opened #11074 "Duplicate suicide prevention accordions in Altoona demo"
## What happened?
Several locations within the Altoona system (demo) have duplicate suicide prevention accordions. Only one has content.
One example: Huntingdon County.

![image.png](https://images.zenhubusercontent.com/5d8a47393ac3440001d1a2ed/9b3854f9-8588-464f-b488-52e65e5c4859)

![image (40).png](https://images.zenhubusercontent.com/5d8a47393ac3440001d1a2ed/720eeae6-83f1-4819-8c01-4c127d989ba6

[2020-07-09 15:56] mmiddaugh opened #11075 "Phone number formatting"
## What happened?
Typo in Altoona - Huntingdon County demo
Phone number has extraneous symbol

![Huntingdon county bug](https://user-images.githubusercontent.com/55411834/87062374-37168a00-c1ca-11ea-938e-5c84af030d36.png)

## Desired behavior
Phone numbers are formatted appropriately.

## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached

[2020-07-09 16:03] sanlouise commented on #10868
@tressaellen @mshea0606 This copy change is already covered in https://github.com/department-of-veterans-affairs/va.gov-team/issues/10596, so this ticket can be closed.

[2020-07-09 16:04] #9410 closed

[2020-07-09 16:07] sonntag-adam commented on #10730
@department-of-veterans-affairs/uxbah This is in staging and ready for review

[2020-07-09 16:12] dmccurdybah commented on #10549
PRs:

- vets-website: https://github.com/department-of-veterans-affairs/vets-website/pull/13411
- vets-api: https://github.com/department-of-veterans-affairs/vets-api/pull/4494
- vets-api-mockdata: https://github.com/department-of-veterans-affairs/vets-api-mockdata/pull/144

[2020-07-09 16:19] batemapf commented on #9586
TO DO:

- [ ] collateral for Hawaii and outlying clinics (459, 459GE, 459GF, 459GH)
- [ ] VEText implementation for Hawaii and outlying clinics (459GE, 459GF, 459GH)
- [ ] collateral for NY sites *if we move forward with that customization*

[2020-07-09 16:20] leahkeeler commented on #10043
Closing this ticket - documentation added to product outline

[2020-07-09 16:20] #10043 closed

[2020-07-09 16:22] leahkeeler commented on #10315
Hi @DanielleThierryUSDSVA @MickinSahni Do we have a timeline for when this work will be completed? I am working on setting a release date. Much appreciated - Leah

[2020-07-09 16:25] leahkeeler commented on #10811
This use story is modified due to the vbms technical constraints.

New Story: For a given unique user, I want the ability to see a list of all my debt letters in reverse chronologic order and have the ability to click on a link to view and download the debt letter"

[2020-07-09 16:25] drorva commented on #10929
Approved.

[2020-07-09 16:27] #10115 closed

[2020-07-09 16:28] #9715 closed

[2020-07-09 16:29] #9584 closed

[2020-07-09 16:30] #9971 closed

[2020-07-09 16:31] meganhkelley opened #11076 "[Ongoing Service] Global Customer Support (IA design)"
### High Level User Story/ies
As a Veteran or other VA.gov user, I need to be able to find tools that help me complete key tasks on VA.gov, so that I can apply for/manage/track my benefits etc.

As a VFS team, I need to know the ideal IA of the content/tool I am building within the VA.gov ecosystem, so that I can best meet the needs of Veterans and other users.

### Hypothesis or Bet
If we provide

[2020-07-09 16:31] meganhkelley opened #11077 "Basic IA design support for VFS teams"

[2020-07-09 16:34] meganhkelley opened #11078 "Heavier lift IA design support for VFS teams"

[2020-07-09 16:35] meganhkelley opened #11079 "IA design support for DEPO"

[2020-07-09 16:40] batemapf commented on #9497
@jenstrickland not sure if this is ready to be closed. Looks like a bunch of tickets were created to address the items. Do those tickets need to be closed to close this ticket?

[2020-07-09 16:42] batemapf commented on #9372
@jenstrickland @1Copenut can this be closed? I'm not sure what the process is here and how this ticket relates to #9497.

[2020-07-09 16:42] RLHecht commented on #8276
@mnorthuis I fixed the left nav for life insurance. Should be visible by later this afternoon. Please let me know if it's not.

[2020-07-09 16:44] batemapf commented on #10554
Just tested this — looks like change still needs to be implemented by VEText team. @DanielleThierryUSDSVA would you please follow up with them (or tell me I said I would do that and clearly failed to)?

[2020-07-09 16:50] Mottie opened #11080 "[SCREENREADER]: Form submit error alert is missing an "alert" role"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

The form system shows an alert when there is an i

[2020-07-09 16:54] meganhkelley opened #11081 "[Ongoing Service] IA support for DEPO platform teams"
### High Level User Story/ies
As a member of VSP or another team that contributes to the DEPO Platform, I need support from an information architecture expert, so that I can better support VFS teams and VA.gov.

### Additional Details/Notes (optional)
This super epic is used to track VSP's IA support for non-VFS teams. This may include such tasks as:
- Documentation IA
- Global IA maintenance/gove

[2020-07-09 16:54] kevinstachura commented on #9805
We have discovered a user with an appeal in the claim status tool - user 228. But only in dev.va.gov - the user's appeal does NOT show in staging.va.gov (not sure why).

Here is the Invision flow of what the user sees for an appeal claim in CST:

https://vsateams.invisionapp.com/share/FXY0COTKMRD#/424622570_CST_-_Claims_Listing

@luke-gcio please let me know if you need anything else for this requ

[2020-07-09 16:59] meganhkelley commented on #3675
Information architecture support is now tracked in:

[Ongoing Service] Information architecture design support for teams building on VA.gov #11076
[Ongoing Service] IA Support for DEPO Platform & teams #11081

[2020-07-09 17:01] mmiddaugh opened #11082 "PPMS Error Handling"
## Issue Description
Until we can get all required Community Care provider information using a single query, we need to implement error handling for second round trip (which gets Provider vs Group info for naming convention)

Notification of failure
Log provider ID which was not found, date/time tagging
If second trip fails, by default ->  the naming logic will be Provider name (rather than Caresi

[2020-07-09 17:02] DanielleThierryUSDSVA commented on #10554
@batemapf Just followed up in slack and tagged you. Thanks!

[2020-07-09 17:05] MickinSahni opened #11083 "Form Detail Pages x Collab Cycle"
## Product Outline
[Find VA Forms](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/find-va-forms-redesign/README.md)

## Plan
- [x] **[Define] Kickoff-Intent**
- [x] **[Define] Design intent** [Completed here #2691](https://github.com/department-of-veterans-affairs/va.gov-team/issues/2691)
- [x] **[Discover] Usability Testing Prep** [Not needed, per #8990](https:

[2020-07-09 17:07] #10719 closed

[2020-07-09 17:10] golavarr-va commented on #10451
Following up on this thread. Any updates on the request to obtain AWS access? @tskinn @Jeff-Hayter ? Thank you for your help!

[2020-07-09 17:11] DanielleThierryUSDSVA commented on #10315
Hi @leahkeeler. We have the timeline through delivering content for usability testing (today). We're on track for that, and will send over this afternoon.

We'll then work with you on timeline for finalizing content and building out the page, based on the release date. If you can let us know the date, we can work together to work backwards from there to figure out when content needs to be complete

[2020-07-09 17:12] batemapf commented on #9608
closed by #9967 and #10998

[2020-07-09 17:12] #9608 closed

[2020-07-09 17:14] #10273 closed

[2020-07-09 17:15] batemapf opened #11084 "Add stats to Domo dashboard"

[2020-07-09 17:16] DanielleThierryUSDSVA commented on #10532
Hi @MickinSahni. @jenniferlee-dsva included this Q in her questions for Lauren so just updating below based on slack.

![image](https://user-images.githubusercontent.com/62957278/87070132-59b69c00-c1e6-11ea-8f09-054e57fe02e7.png)

[2020-07-09 17:21] SgardnerPMP opened #11085 "[Content] Research and write Intern and Fellowship program for Oklahoma City"
## User Story or Problem Statement
As a Veteran Web user, I need a need a plain language description of services in VAMC system web pages, so I can quickly understand the services and service location for my needs.

## Goal
_Efficient and clear content describing primary Content Pages_

## Objectives or Key Results this is meant to further
- _Reduced word count and improved plain language._

## Re

[2020-07-09 17:25] DanielleThierryUSDSVA commented on #10781
@bethpottsVADEPO Would love your editing eyes on this version that I'm prepping to send over to the team for usability testing. Thanks!

[https://app.zenhub.com/files/133843125/64cf805e-54a2-4036-83bc-1937e538a625/download](https://app.zenhub.com/files/133843125/64cf805e-54a2-4036-83bc-1937e538a625/download)

[2020-07-09 17:39] dneel-bah opened #11086 "CT-Filter: Pull additional filter data via GIDS Scorecard Fetch API [DRAFT]"
As a developer, I need GIDS to pull additional data elements from the Scorecard API so that they can be leveraged in version generation to create additional filters within the comparison tool.

## Assumptions:
1. N/A

## Acceptance Criteria
1. The following data elements are retrieved via the Scorecard API and saved in GIDS:
    a. HBCU
    b. Men Only (menonly)
    c. Women Only (womenonly)
    d

[2020-07-09 17:58] mmiddaugh opened #11087 "Benchmark Lat/Long impact"
## Issue Description
In [#7056](https://github.com/department-of-veterans-affairs/va.gov-team/issues/7056), we adjusted the PPMS query to pass Lat/Long directly and put it on a flipper, in anticipation of the release of PPMS 8.1.
[Pull request](https://github.com/department-of-veterans-affairs/vets-api/pull/4107)
The functionality is currently not enabled due to a delay in the release.
Before we e

[2020-07-09 18:01] bsmartin-ep commented on #6510
@jonwehausen -

A quick QA of the dataLayer.

I see double dataLayer pushes of `bam-2346a--submission`.

I also see undefined `quantityOrdered` dataLayer variables.

Are there any other `bam-form-change` events to review?

Description|Screenshot|Data Layer|GA Event
--|--|--|--|
Check _Order batteries for this device_|![image](https://user-images.githubusercontent.com/62304138/87073266-1d396f00-c1e

[2020-07-09 18:10] jenstrickland commented on #9497
As this was a "design intent" review, we often provide the feedback in comments. For a staging review, we write issue tickets and attach them to an epic.

We could turn this into an epic, and attach the issue tickets to this, to follow the progress.

[2020-07-09 18:16] mmiddaugh opened #11088 ""Home" breadcrumb present on Philadelphia VAMC pages"
## What happened?
The Home breadcrumb was hidden purposefully for the VAMC pages. It appears to have been applied to most systems, but not all. The "Home" breadcrumb still appears on recently cloned http://philadelphiahealthcare.web.demo.ci.cms.va.gov/philadelphia-health-care/ DevShop environments
And also that http://philadelphiahealthcare.web.demo.ci.cms.va.gov/philadelphia-health-care/about-us/

[2020-07-09 18:16] mr0sari0 commented on #10637
Assigning to @bradl3yC to explore further solutions.

[2020-07-09 18:23] tlei123 commented on #8059
TESTING, TESTING... Tagging myself to test where the auto-emails go...  @tzelei @tlei123

[2020-07-09 18:30] 1Copenut commented on #10267
@lenaecb && @jbalboni I want to reopen this issue. The Continue button text is reading out after the new page loads in IE11 + JAWS. I took a look at the code in LoadingButton.jsx, specifically the [change on line 11](https://github.com/department-of-veterans-affairs/vets-website/blame/28cc7c01b25d025c62111240afb112bb8cabdc9b/src/platform/site-wide/loading-button/LoadingButton.jsx#L11) to poll for

[2020-07-09 18:32] mr0sari0 commented on #10462
Hi @peggygannon , I have created another PR [here](https://github.com/department-of-veterans-affairs/vets-website/pull/13425) to capture your last content update.

Here are some screenshots of how it looks.

<img width="887" alt="Screen Shot 2020-07-09 at 12 00 31 PM" src="https://user-images.githubusercontent.com/12755283/87076881-56281280-c1f0-11ea-80ea-740f74ab8728.png">

Where it says (MDOT),

[2020-07-09 18:32] artsymartha68 commented on #9493
Closing this main ticket per our screener team review today. The sub-tickets cover the work products, nothing left to do on this main ticket.

[2020-07-09 18:32] #9493 closed

[2020-07-09 18:34] mmiddaugh opened #11089 "Improve type ahead search experience for Screenreader users"
## Issue Description
How might we improve the Facility Locator search experience for Veterans using a screenreader?

## Current functionality
- When letters are entered into the typeahead fields, they are read aloud. The screenreader talks over itself to  present the potential matches displayed in the drop down.
- Two search fields use typeahead functionality:

1. Geographic location (City, state,

[2020-07-09 18:34] leahkeeler commented on #10315
Thank-you @DanielleThierryUSDSVA - I will update you on release date for iteration 1 late tomorrow afternoon. Appreciate your help - Leah

[2020-07-09 18:43] mmiddaugh opened #11090 "Implement UI for predictive geolocation prototype"
## Issue Description
- This is a follow-up to the Predictive geolocation discovery work done in #9410.
- Documentation is available [here](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/facilities/facility-locator/PredictiveGeolocation.md).
- As noted, many of the original concerns were addressed by simply turning off the autocomplete option. Our first step in a

[2020-07-09 18:43] mr0sari0 commented on #6510
@bsmartin-ep At the moment, the DLC is not providing a`deviceName` for batteries in their staging database, but they have said they will provide it in their production database.

Looking into the double `dataLayer` pushes for the submission and the `undefined` for `quantityOrdered`...

[2020-07-09 18:43] jbalboni commented on #10267
@1Copenut That was made right after this PR. The current master version checks `isLoading`: https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/platform/site-wide/loading-button/LoadingButton.jsx#L11