[2020-03-19 15:51] MickinSahni commented on #6799
2020-03-19 PW Standup
- Copy nearly complete. Have a question for Jen/Mikki
- Do we need to add a note for node_id to this ticket? Nope, there's a separate ticket to handle all of those!

[2020-03-19 15:52] MickinSahni commented on #6798
2020-03-19 PW Standup
- Only one we can't do is the Hub page.
- Wrapping up last page (no. 7)

[2020-03-19 15:53] lenaecb opened #7017 "Handling Cerner-only Veterans on VAOS Appts Homepage"
As a Veteran registered to only Cerner sites, I need to be redirected to my "My VA Health" portal to schedule any of my appointments.

## Acceptance Criteria
- [ ] Update "Schedule Appointment Button" on Appointment homepage to "Go to My VA Health" and redirect user to their Cerner portal
- [ ] Update top-level copy to say something like:
**Need to schedule an appointment?**
Use your "My VA Health

[2020-03-19 15:53] SgardnerPMP opened #7018 "[Content] Research and write "Philadelphia, PA" Facilities INTRO content required for ALL facilities [Content]"
## User Story or Problem Statement
As a Veteran web user, I need to know the specific details and key health services of the local facilities related to my area, so I can better plan my journey to the specific factility and location.

## Goal
_Short and descriptive detail of top health services for the local facilities_

## Objectives or Key Results this is meant to further
- _Reduce click through

[2020-03-19 15:55] lenaecb commented on #5762
@peggygannon - at this point, this story has been broken down into smaller stories and those are linked back to the original epic here -- #5734

Ryan is working on the designs now. Let me know if I should tag you in those design stories.

[2020-03-19 15:56] SgardnerPMP opened #7019 "[Content] Research and write "Wilkes-Barre, PA" Facilities INTRO content required for ALL facilities [Content]"
## User Story or Problem Statement
As a Veteran web user, I need to know the specific details and key health services of the local facilities related to my area, so I can better plan my journey to the specific facility and location.

## Goal
_Short and descriptive detail of top health services for the local facilities_

## Objectives or Key Results this is meant to further
- _Reduce click through

[2020-03-19 16:09] desireeturner opened #7020 "CF: Indicate school closed when closure date is in the past on Search Results"
As a user of the comparison tool, I want to see the most accurate cautionary information as it relates to school closings so that I can make the best decision regarding how to use my education benefits.

## Assumptions
1. This functionality will be behind a prod flag so that it is only available on staging.

## Acceptance Criteria:
1. When the school closure date associated with a school closing f

[2020-03-19 16:11] SgardnerPMP opened #7021 "[Content] Research and write "Wilmington, DE" Facilities INTRO content required for ALL facilities [Content]"
## User Story or Problem Statement
As a Veteran web user, I need to know the specific details and key health services of the local facilities related to my area, so I can better plan my journey to the specific facility and location.

## Goal
_Short and descriptive detail of top health services for the local facilities_

## Objectives or Key Results this is meant to further
- _Reduce click through

[2020-03-19 16:13] #6716 closed

[2020-03-19 16:19] zurbergram commented on #6836
See https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/education-careers/school-comparison-tool/data/Institutions_profile.csv

For UI/UX design, should be on an institution's profile page

[2020-03-19 16:22] #5680 closed

[2020-03-19 16:28] AnneHurley commented on #6955
Have written alert text for Outreach and Events page, and for Events page. @RLHecht  if you can read over the text, and screen share to see if I'm deploying it correctly, that'd be great. Standing by.

[2020-03-19 16:28] johnpaulashenfelter commented on #6767
Just an FYI  -- i love using http://railsdiff.org/ to check config differences, but this app also has had enough drift that it might be easier to diff a new rails6 install. I've gone down both paths on big upgrades like this.

[2020-03-19 16:31] rianfowler commented on #6926
This should include recommendations for scheduled reminders: https://github.com/settings/reminders/department-of-veterans-affairs

You'll need to work with a slack admin to turn this on.

[2020-03-19 16:33] jbritt1 opened #7022 "Addition of new CORS rules to maintenance windows buckets"
## User Story or Problem Statement
Frontend needed some changes to a few S3 buckets to set new CORS rules. In an attempt to get the terraform changes applied, we ran into several issues with our existing s3_bucket module(s). The originating conversation can be found [here](https://dsva.slack.com/archives/C30LCU8S3/p1584566965407500).

This also led to a state discrepancy with a changed name of sta

[2020-03-19 16:39] mnorthuis opened #7023 "Identify KPIs for IA"
Identify/brainstorm key metrics to measure and monitor the health of VA.gov global IA.

[2020-03-19 16:42] jbalboni commented on #5849
Ryan's design has a dropdown that starts with 3 months of history. I think that's an ok amount of time to fetch when the click the Past appts tab. I think we'll have to be careful to request data in chunks to not hit timeouts, like we do when we get the 24 months of history for the clinics check, where we fetch 6 month chunks.

I don't believe we want to show request history, and the CC service do

[2020-03-19 16:47] artsymartha68 commented on #6946
Latest visual design comps (awaiting confirmation from TeamSite experts to see if we can style the large CTA action links. We definitely prefer to have actual text instead of 'pictures of text'.

[CoronavirusUpdatedContentv5.pdf](https://github.com/department-of-veterans-affairs/va.gov-team/files/4355798/CoronavirusUpdatedContentv5.pdf)

[CoronavirusMediaUpdatedContentv2.pdf](https://github.com/de

[2020-03-19 16:51] sonntag-adam commented on #7002
Shows in production build
![Screen Shot 2020-03-19 at 12.49.40 PM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/cb991183-ec03-4be2-a0ca-3e900201482c)

[2020-03-19 16:58] jenstrickland commented on #6751
@mmiddaugh @rtwell Do you have links or screenshots of the latest left nav designs? The latest aimed to address the accessibility issues identified in the one audited, and usability tested, at the end of 2019.

[2020-03-19 17:06] delli-gatti-michael commented on #6803
Local Testing complete

[2020-03-19 17:12] lwalsh617 commented on #5648
@mnorthuis  -- Jen had requested that I touch base with you on this. We want to make the button language for the status tool consistent across the site. The language Jen proposed is:
"**Check your claim or appeal status**"
Do you have any input, or can we go ahead and make this change?

[2020-03-19 17:14] jason-gcio opened #7024 "Findings for VSA a11y spot check review for "View dependents""
### For reference

**VSA Development Review** - [https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/accessibility/vsa-accessibility-review-process.md#development-review](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/accessibility/vsa-accessibility-review-process.md#development-review)

## Team Name

vsa-ebenefits

## Product/Fe

[2020-03-19 17:23] jonwehausen commented on #6354
@meganhkelley @billfienberg @nedierecel @joanneesteban

### Overview of current configuration:
- In order to capture / identify link clicks, we are leveraging the click class contained within each link. Here is an example:
![image](https://user-images.githubusercontent.com/48527022/77093144-f9a2ac80-69e0-11ea-9fa0-40d9fbfaf607.png)
- In the case of URLs and/or click labels changing over time, as w

[2020-03-19 17:30] #6857 closed

[2020-03-19 17:33] jenstrickland commented on #6751
From @mmiddaugh Here are the latest designs for the side nav: https://github.com/department-of-veterans-affairs/va.gov-team/issues/1874#issuecomment-595797269

[2020-03-19 17:36] #6318 closed

[2020-03-19 17:38] tressaellen commented on #6976
Here's a screenshot with the updated copy - let me know if you need any more changes.

<img width="738" alt="Screen Shot 2020-03-19 at 9 34 27 AM" src="https://user-images.githubusercontent.com/58752772/77097242-53957900-69c5-11ea-9b7f-74355c9ca5c0.png">

[2020-03-19 17:42] artsymartha68 commented on #6946
New main page comp with TeamSite button styling from Jenny
[CoronavirusUpdatedContentv6.pdf](https://github.com/department-of-veterans-affairs/va.gov-team/files/4356099/CoronavirusUpdatedContentv6.pdf)

[2020-03-19 17:42] jenniferlee-dsva commented on #6976
^ I'm good with above. But defer to Samara for final go.

[2020-03-19 17:46] saneshark opened #7025 "[For on-going Reference] Resiliency Planning - VAOS"
- [ ] **Identify single points of failure:** look for team members that have sole responsibility for a task, or have sole access to a system. Have them cross-train another team member immediately, and document that training while they're at it.

- [ ] **Update documentation:** review and update manuals, runbooks, and incident response processes.

- [ ] **Identify manual processes:** we do a lot of

[2020-03-19 17:48] RLHecht commented on #6798
@lwalsh617 @MickinSahni All these pages are now moved over to Drupal (except for the hub landing page, which we are doing in a separate ticket). I think that means we can close this ticket.

[2020-03-19 17:56] #7022 closed

[2020-03-19 17:57] jenstrickland opened #7026 "Accessibility feedback for Project Kickoff - View my payment history"
**Feedback framework**
- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## VSA Accessibility feedback

1. **Consider** spending significant attention on the mobile solution. Getting to information a user wants in thousands of rows on mobile will highlight the usability challenges for all.
2. **Consider

[2020-03-19 17:59] AnneHurley commented on #6955
H: COVID-19 may affect whether events take place

Please check with the organizers of each event to make sure the event is still happening. For more coronavirus information, you can visit the Centers for Disease Control (CDC). You can also read about the VA public health response.

Waiting on @davidconlon and Josh Tushner (emailed both) to approve copy, then will apply to

- Outreach and events pa

[2020-03-19 18:03] peggygannon commented on #6946
Thanks, @artsymartha68 the layout is looking good. And I think this page is ready for routing!

Sorry, but I have two more edits, (it's really hard to edit via slack). these can wait until you make other updates.

1. Can we remove VA from this sentence:
To learn more about our efforts, what to do if you have a VA medical appointment, or how
to contact your health care provider, please read our COV

[2020-03-19 18:04] lwalsh617 commented on #6799
@mnorthuis @jenniferlee-dsva -- Here is the copy deck for this page. Let me know if you have any questions. Once I have your approval, I will share it with Randi to build in Drupal. Thank you!
[decision-reviews-hub-page_copy-v1.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/4356210/decision-reviews-hub-page_copy-v1.docx)

[2020-03-19 18:04] jbalboni commented on #6966
Change for podiatry is merged, putting this back in current sprint for now.

[2020-03-19 18:04] #5595 closed

[2020-03-19 18:06] jenstrickland opened #7027 "Accessibility feedback for Project Kickoff for Left Nav"
**Feedback framework**
- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## VSA Accessibility feedback
### Must
1. Is there a mobile design for this? (Will update feedback when added) - comp added 03/20/20
2. Use semantic markup in development
3. If the `<nav>` element is used, provide an `aria-label` t

[2020-03-19 18:09] KevinMHoffmanUSDS opened #7028 "Header and Footer Injection for VA Public Health Site"
## User Story or Problem Statement
As a visitor to the public health website of the VA, I need the regular site header and footer so I can connect to the rest of the VA.

## Goal
Header and footer injection on http://www.publichealth.va.gov/

Staging: https://vaww.w2k8.internet.staging.va.gov/PUBLICHEALTH/

## Tasks
- [ ] Add both sites to the whitelist for header footer injection.

## Acceptance

[2020-03-19 18:09] jbalboni commented on #3488
Note that we've resolved the above, we can show the full facility info.

[2020-03-19 18:10] KevinMHoffmanUSDS commented on #7028
@ricetj @rianfowler This is related to our larger body of Covid-19 work. If you could prioritize someone getting this done quickly, we'd appreciate that. cc @chrisj-usds

[2020-03-19 18:15] chrisj-usds commented on #7028
One note of detail.

We'd like to test this on their staging location first to see what rendering problems there are, and how difficult those might be to remedy.

If there are none or they're straightforward(-ish) to fix, then I'll get the go ahead to push from staging to prod.

[2020-03-19 18:16] KevinMHoffmanUSDS commented on #7028
@chrisj-usds Thanks! Just to be clear for all parties, the injection code has already been added to staging, correct?

[2020-03-19 18:18] chrisj-usds commented on #7028
That is my understanding, yes. (On both staging and prod, I'm told.)

[2020-03-19 18:18] artsymartha68 commented on #6946
No problem @peggygannon - I'm a stickler too :)
Here is the update with your edits.
[CoronavirusUpdatedContentv7.pdf](https://github.com/department-of-veterans-affairs/va.gov-team/files/4356296/CoronavirusUpdatedContentv7.pdf)

[2020-03-19 18:19] peggygannon commented on #6752
@ncksllvn these updates look good to me.

[2020-03-19 18:20] peggygannon commented on #6946
Thank you, @artsymartha68 ! updates look good.

[2020-03-19 18:21] KevinMHoffmanUSDS commented on #7028
Thanks!

[2020-03-19 18:21] lwalsh617 commented on #6798
@RLHecht Before we close it, there's that one piece of client feedback I mentioned. On the [After a board appeal decision](https://www.va.gov/decision-reviews/board-appeal/after-board-appeal-decision/) page, we have a "Mark your calendar" alert box that incorrectly says you have one year to file a Supplemental Claim. (There's no time limit on supplemental claims.)
Fred Somers suggested we remove t

[2020-03-19 18:22] desireeturner commented on #6598
Confirmed that feature behind prod flag is not showing in production with EDU. This can be closed.

[2020-03-19 18:22] #6598 closed

[2020-03-19 18:30] jenniferlee-dsva commented on #6752
I love this. Simplify! And nav spokes fixed! Thank you @peggygannon and @ncksllvn and @RLHecht

[2020-03-19 18:33] jbalboni commented on #2709
@1Copenut Do you want to keep this issue open? Not sure what to do with it right now.

[2020-03-19 18:37] micahchiang commented on #6023
PR merged - https://github.com/department-of-veterans-affairs/vets-website/pull/11928

[2020-03-19 18:40] ericbuckley commented on #6914
@hinzed1127 it looks like the sticky feature flag implementation on the FE has been closed, https://github.com/department-of-veterans-affairs/va.gov-team/issues/6078#issuecomment-596587264.  So when we issue the feature flag call we should also pass along the GA cookie id so we can support a percentage rollout.  For example, `GET /v0/feature_toggles?features=ssoe&cookie_id=z6bb187y3uhay893smcgb`.

[2020-03-19 18:42] micahchiang commented on #6020
accidentally closed the wrong issue..oops.

[2020-03-19 18:42] #6023 closed

[2020-03-19 18:49] jbalboni commented on #6289
![Screen Shot 2020-03-19 at 2.46.11 PM.png](https://images.zenhubusercontent.com/599c94608f62dc7798c3b2cd/63353ccb-5f5a-441e-a18c-cf02afd4fb7c)

[2020-03-19 18:49] #5652 closed

[2020-03-19 18:50] #6725 closed

[2020-03-19 19:00] desireeturner commented on #6834
This implementation results in a significant negative impact from a performance perspective and therefore has been taken off of our PI commitment list. Closing this story as OBE.

[2020-03-19 19:00] #6834 closed

[2020-03-19 19:05] joanneesteban commented on #5977
@amycesal

FYI for tomorrow. Facility Locator is also working on the [VAMC Left Nav toggle](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/facilities/medical-centers/product/vamc-left-nav-enhancement-feature-brief.md#measuring-success) & looking for metrics/KPIs on this/whether or not to move forward  - which may come into play on their feedback.

Two parts to t

[2020-03-19 19:15] ncksllvn commented on #6851
Dupe, closing in favor of https://github.com/department-of-veterans-affairs/va.gov-team/issues/6756

[2020-03-19 19:15] #6851 closed

[2020-03-19 19:20] RLHecht commented on #6798
@lwalsh617 I removed that alert from the After a board appeal decision so I think we should be good to close.

[2020-03-19 19:22] billfienberg commented on #6354
Thanks for the update, @jonwehausen. I have no objection to ensuring that the link type `class`-es are the first thing in the `class` string. That being said, I am curious why that is the case. I naively assumed it was using a CSS selector, and therefore assumed the order of the `class` names didn't matter. Are you able to provide me with a short explanation and/or link to documentation about why

[2020-03-19 19:32] #6884 closed

[2020-03-19 19:33] jonathanjnelson commented on #6364
Thank you for all the feedback on the designs. Riley made revisions and we’ve decided to move forward with the following designs and strive to implement in the Caregiver’s MVP.

Please let us know if you have any questions and concerns.

Thank you,

Riley and Jonathan

![Caregiver confirmation - Desktop - v 02](https://user-images.githubusercontent.com/58444931/77105597-e812d200-69eb-11ea-983b-5a3

[2020-03-19 19:41] amyknox commented on #6870
Sent to Shantrisha, et al., for review 3/19

[2020-03-19 19:50] kevinmirc opened #7029 "Create ticket for DevOps to generate certs for each env"
We'll need a cert for Prod, Staging, Dev (for Review instances and local), and Test. Test will be committed to the repo. It's a dummy cert.

Provide the public keys to CARMA.

[2020-03-19 19:51] peggygannon commented on #5828
hi, @bridgethapner here are some additional edits.

it looks like in the updated screenshot, the "a" got dropped from this line:

**With a single sign on, you can:**

Here's slight tweak on the last bullet:
-Sign out of VA.gov and be signed out of other VA sites

[2020-03-19 19:51] #6807 closed

[2020-03-19 19:52] kevinmirc opened #7030 "Sever CARMA connection and remove ENV var dependencies"
Remove the references to ENV variables and certs within the src code in order to merge code without and external dependencies (& DevOps dependencies).

This will later be re-established when each CARMA env can intake a form submission.

[2020-03-19 20:04] lenaecb opened #7031 "Feature flag self-schedule and turn off for all users"
VA Leadership has directed VAOS teams to turn off self-scheduling for VA appointments for the next 90 days.

## AC:
- [ ] User cannot self-schedule VA appointments
- [ ] Place self-scheduling for VA appointments behind feature flag
- [ ] Test to ensure self-scheduling flow is not accessible within VAOS by Veterans

[2020-03-19 20:10] jonwehausen commented on #6972
Site has launched - staged a generic tag to fire on **ALL** link clicks on https://www.va.gov/coronavirus-veteran-frequently-asked-questions/.

In some cases, we already have tracking pre-built and there will be overlap / redundancy with this new tag -- this tag will simply add redundancy and capture those elements currently not tracked.

Event Action Syntax: Navigation - COVID - {{Click Text}} -

[2020-03-19 20:15] 1Copenut commented on #2709
@jbalboni Let's go ahead and close it. We solved the underlying issue through other refactors, IMO.

[2020-03-19 20:17] peggygannon commented on #6289
@jbalboni Looks good. Thank you!

[2020-03-19 20:19] peggygannon commented on #6249
Thanks, @bridgethapner Updated wireframes look good!

[2020-03-19 20:19] desireeturner opened #7032 "CT: Restore the distance learning filter"
As someone interested in using their education benefits in a distance learning program, I need to be able to search specifically for those programs so that I can more easily find relevant institutions.

Assumptions:
1. These changes will be placed behind a prod flag so that they are only available on staging when merged into the master branch.

## Acceptance Criteria:
1. The following filters are

[2020-03-19 20:23] #167 closed

[2020-03-19 20:24] #2709 closed

[2020-03-19 20:25] Samara-Strauss commented on #6976
@jenniferlee-dsva @tressaellen I am SO sorry for the delay — I've spent the last three hours fighting with my VA Mac. Anyway, that's just to explain my delay. We've got a couple other pieces of information that I think are relevant to this alert:

- First, we learned that we can only filter the users who see this by parent facility, but not by clinic, and [this list is a list of clinics](https://m

[2020-03-19 20:27] jbalboni commented on #7031
This works like I would expect. Users are always routed to the request flow, no DS related eligibility requests are made.

[2020-03-19 20:39] gunsch commented on #6846
I confirmed with Lisa that we're definitely on an enterprise plan, not on the open-source free tier. It turns out we just needed a GH Org Admin to take a look, since CircleCI doesn't show that info to anyone else.

[2020-03-19 20:40] #6846 closed

[2020-03-19 20:50] mmiddaugh commented on #1874
@rtwell can you please attach the mobile designs to this issue?

[2020-03-19 20:50] mmiddaugh opened #7033 "Pre-Usability Review [Left Nav]"
## Steps to complete Usability Testing Prep:
- [x] Product Manager: create this issue and fill in feature name in the title and other bolded information appropriately
- [x] Link to this issue once created in #vfs-platform-support in Slack; tag @ Megan Kelley @ AndreaHewitt
- [x] Andrea and Megan to schedule meeting with VSP reviewers and **requesting team** attendees (as listed below)
- [ ] At lea

[2020-03-19 20:53] jonwehausen commented on #6972
Tag described above has been deployed!

@clantosswett @joanneesteban @jenniferlee-dsva @nedierecel

[2020-03-19 20:58] mmiddaugh commented on #6162
[Facility Locator Search Expectations Research Findings](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/facilities/facility-locator/research/user-research/FL-Search-march2020/research-findings.md)

[2020-03-19 20:58] #6162 closed

[2020-03-19 20:59] mmiddaugh commented on #6067
@darkbushido, can this one be closed?

[2020-03-19 20:59] mmiddaugh commented on #6066
@darkbushido, can this one be closed?

[2020-03-19 21:07] kelsonic commented on #2556
This was a long time ago -- but it was relevant if the Left Nav was implemented for VAMC only since the template file is used by all other side navs if I remember correctly! 🙂

[2020-03-19 21:07] kevinmirc commented on #6658
Let's select a list of the user from the [staging users lists]() to test. We should select a variety of people types: Veterans in the system, Non-Veterans in the systems, PC in the system, PCs not in the system.

[2020-03-19 21:15] jenniferlee-dsva commented on #6976
I've called out TBC text like the hours of availability.

**You may be eligible to use health chat as part of our pilot**

If you have questions about COVID-19 or general health concerns, you may be able to chat with a VA staff person, on desktop or as a mobile app. Health chat is available at no-cost, `8:00 a.m. to 5:00 p.m. ET, Monday through Friday,` to any Veteran whose VA facility is part of

[2020-03-19 21:21] jonwehausen commented on #6354
Hi Bill,

Great question! It terms of final solutioning -- it doesn't technically matter whether it's at the beginning. Our configuration is currently setup to listen specifically for the click class under "**starts with**" logic but can certainly be generalized to "**contains**" logic. I simply chose the starts with for robustness and compliance with what I was seeing.

[2020-03-19 21:22] chrisj-usds commented on #7028
Any news to share on this?

[2020-03-19 21:22] annaswims opened #7034 "review MHV account upgrade errors"
Review the events in Sentry related to MHV account creation and upgrade.

For example -
http://sentry.vfs.va.gov/vets-gov/platform-api-production/issues/59514/events/430efb037947438298c7f299309e1f75/
suggest we are missing some error types.
[code]
As a carry-over to this issue.
https://github.com/department-of-veterans-affairs/vets.gov-team/issues/16998

[2020-03-19 21:28] mnorthuis commented on #6799
Couple questions
1) I'm wondering if we should stay away from using action words in the link labels for the 3 decision review types in the "Request" spoke.  Those links are not going to the specific forms, they are going to pages that describe the process.  I know I had that language in my mockup as well, but we typically only use action words on pages where you can execute on the action.
2) it is

[2020-03-19 21:32] AnneHurley commented on #6955
@RLHecht  I've updated the name, title and copy of the alert to remove all mentions of covid, CDC or health.

https://prod.cms.va.gov/admin/content/alerts
[Alerts events screenshot]
(https://images.zenhubusercontent.com/5c6313e20f871b64caae9909/6632792d-a26e-4871-9c5f-7899d76e608b)

^here is how it looks now in the Alerts directory. I've edited the wording of the headline. Let me know what you thi

[2020-03-19 21:37] mnorthuis commented on #6928
@lunascoop This redirect has been vetted and can be scheduled and assigned by your team for implementation.  Please note the launch date in the description.

@kennedycollins Please be sure to notify @lunascoop via this ticket if any changes are made to the scheduled date so that team can implement the redirect accordingly.

[2020-03-19 21:53] 1Copenut commented on #5628
@davidconlon I just revisited this and determined it was a sitewide issue with the overlay. I'll reassign it to the right team.

[2020-03-19 21:55] 1Copenut commented on #5628
@brandonrapp && @nedierecel && @joanneesteban I originally sent this to the Facilities team because I spotted the overlay in a content audit. It turns out this was a global issue with the overlay, so reassigning to you all. Please let me know if I should send it elsewhere. Thank you.

[2020-03-19 22:04] jenstrickland commented on #6751
@rtwell Do you have a link to the mobile designs so it can be added to this review epic?

[2020-03-19 22:08] mnorthuis commented on #5648
@lwalsh617 I would like to see this be consistent as well, but I'd like to review all the places where we have the button to make sure.  I believe there may be some placements where we don't include language around "appeals" because its not applicable to the placement (and visa-versa).   Do we have a full list of pages where this button currently lives?

[2020-03-19 22:35] joanneesteban commented on #5628
Thanks for sending over, @1Copenut . Unassigning @nedierecel since this is a ForeSee issue.

At the outset, this is probably a global ForeSee product issue, but I'll take a closer look and let you know if I need Front-End support @brandonrapp

[2020-03-19 23:02] SgardnerPMP opened #7035 "[Data-Load] Create and upload ALTOONA, PA - "Campus Map" information from legacy to NEW web pages [PM]"
## User Story or Problem Statement
As a Veteran Web user, I want to see the VAMC campus map page, so I best know the location of my visit and how best to get to my location.

## Goal
_Move legacy MC website campus information from legacy websites over to new CMS system_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience by moving existing stories into new

[2020-03-19 23:07] SgardnerPMP opened #7036 "[Data-Load] Create and upload BUTLER, PA - "Campus Map" information from legacy to NEW web pages [PM]"
## User Story or Problem Statement
As a Veteran Web user, I want to see the VAMC campus map page, so I best know the location of my visit and how best to get to my location.

## Goal
_Move legacy MC website campus information from legacy websites over to new CMS system_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience by moving existing stories into new

[2020-03-19 23:08] SgardnerPMP opened #7037 "[Data-Load] Create and upload COATESVILLE, PA - "Campus Map" information from legacy to NEW web pages [PM]"
## User Story or Problem Statement
As a Veteran Web user, I want to see the VAMC campus map page, so I best know the location of my visit and how best to get to my location.

## Goal
_Move legacy MC website campus information from legacy websites over to new CMS system_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience by moving existing stories into new

[2020-03-19 23:09] SgardnerPMP opened #7038 "[Data-Load] Create and upload ERIE, PA - "Campus Map" information from legacy to NEW web pages [PM]"
## User Story or Problem Statement
As a Veteran Web user, I want to see the VAMC campus map page, so I best know the location of my visit and how best to get to my location.

## Goal
_Move legacy MC website campus information from legacy websites over to new CMS system_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience by moving existing stories into new

[2020-03-19 23:10] SgardnerPMP opened #7039 "[Data-Load] Create and upload LEBANON, PA - "Campus Map" information from legacy to NEW web pages [PM]"
## User Story or Problem Statement
As a Veteran Web user, I want to see the VAMC campus map page, so I best know the location of my visit and how best to get to my location.

## Goal
_Move legacy MC website campus information from legacy websites over to new CMS system_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience by moving existing stories into new

[2020-03-19 23:12] SgardnerPMP opened #7040 "[Data-Load] Create and upload PHILADELPHIA, PA - "Campus Map" information from legacy to NEW web pages [PM]"
## User Story or Problem Statement
As a Veteran Web user, I want to see the VAMC campus map page, so I best know the location of my visit and how best to get to my location.

## Goal
_Move legacy MC website campus information from legacy websites over to new CMS system_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience by moving existing stories into new

[2020-03-19 23:13] SgardnerPMP opened #7041 "[Data-Load] Create and upload WILKES-BARRE, PA - "Campus Map" information from legacy to NEW web pages [PM]"
## User Story or Problem Statement
As a Veteran Web user, I want to see the VAMC campus map page, so I best know the location of my visit and how best to get to my location.

## Goal
_Move legacy MC website campus information from legacy websites over to new CMS system_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience by moving existing stories into new

[2020-03-19 23:14] SgardnerPMP opened #7042 "[Data-Load] Create and upload WILMINGTON, DE - "Campus Map" information from legacy to NEW web pages [PM]"
## User Story or Problem Statement
As a Veteran Web user, I want to see the VAMC campus map page, so I best know the location of my visit and how best to get to my location.

## Goal
_Move legacy MC website campus information from legacy websites over to new CMS system_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience by moving existing stories into new

[2020-03-19 23:43] tlei123 commented on #5952
Thx, @camerontesterman !  I'm just circling back to this...

Quick question about those users you sent me:  Would you happen to know the user-scenarios they map to?  We have Greg (test-account 1) for "Intro, Veteran Information, and Confirm Address pages", and I'm hoping you could map the others.

If you don't know, that's fine; I'll circle back to @rebeccawalsh Becca tomorrow.

Thanks much!

[2020-03-20 00:21] rroueche opened #7043 "Access for Rachael Roueche"
# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please provide the name of your team, your role on that team, and the name of the company you work for.

- What is the **public** SSH key?

- Grant AWS Console access?

[2020-03-20 00:24] rroueche commented on #7043
@department-of-veterans-affairs/vsp-operations hello! I need to see Grafana and Prometheus reports, but am unable to do so bc I don't think I have SOCKS proxy access. Thanks!

Also, FYI, in [this documentation](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/engineering/internal-tools.md#configure-the-socks-proxy) about how to find your SSH key, it shows you how

[2020-03-20 01:48] omgitsbillryan commented on #3407
Looks like a neat tool. I noticed this blip:

This could be problematic in CI because of how our Jenkins checks out from source control in a detached HEAD state. Basically, the local git has no awareness of any other branch (including `master`) so any `git diff` operations will fail.

[2020-03-20 03:20] nedierecel commented on #6972
@jonwehausen Confirming I have reviewed the COVID page and see the link tracking. As you already noted, tracking is already in place for outbound links, login, and expander text.

[2020-03-20 05:16] narin commented on #5983
@nedierecel The changes we discussed the other day should now be on staging, in the case you wanted to do any additional testing.  Closing this out.

[2020-03-20 05:16] #5983 closed

[2020-03-20 12:28] ricetj opened #7044 "Update Access Documentation, so it is clearer for non technical readers"
## User Story or Problem Statement
As a member of VSP or VFS, I want to have clear documentation around how to access the tools I need, to that I can have more access to data from the site.

Ref: https://github.com/department-of-veterans-affairs/va.gov-team/issues/7043#issuecomment-601476061

## Goal
_Work with the content team to update access docs so they are in more plain language_

## Acceptan

[2020-03-20 12:56] LindseySaari commented on #6992
Note: We may want to include somewhere in the local setup documentation that an MFA session will need to be activated in order to use vagrant. [Explanation here](https://github.com/department-of-veterans-affairs/devops/blob/master/ansible/vagrant/README.md#aws-profile-and-authentication)

[2020-03-20 12:57] jbritt1 commented on #7043
It appears you had been added at some point, but with a different SSH key. Updating the key now and will get your access momentarily. Also, noted on the documentation. I have made a note to bring it up in our team's standup this morning to see if / how we should update the documentation with the bit about locating the key.

[2020-03-20 12:57] meganhkelley commented on #7033
Scheduled for 3/31 — as mentioned in Slack @mmiddaugh, please let us know if that delay is blocking to you and we can get it moved sooner!

Also, reviewers note that per Andrea's Slack message, this team is not doing usability testing (just using this template) and some artifacts above will be missing — only expected artifacts here are the Product Brief/Outline and the Mockup/Prototypes

Kickoff f

[2020-03-20 13:03] #7043 closed

[2020-03-20 13:19] jbritt1 commented on #7043
SOCKS access granted. @rroueche, please continue with [the guide](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/engineering/internal-tools.md#configure-the-socks-proxy) to establish a connection to SOCKS proxy.

[2020-03-20 13:41] #6896 closed

[2020-03-20 13:49] KevinMHoffmanUSDS commented on #7028
Update from @rianfowler:
We pushed the ops changes needed for it last night. I’ll be working on the FE changes this morning.
I don’t know if we can test in their staging environment. We were never able to do that if I remember correctly but I can set it up so they can test it in prod before it goes live

[2020-03-20 13:49] #6836 closed

[2020-03-20 13:53] KevinMHoffmanUSDS commented on #7028
@chrisj-usds This should go into production today at 3pm assuming there are no CSS issues revealed.

[2020-03-20 13:54] RLHecht commented on #6955
@AnneHurley The text looks OK to me but two questions:

1. This is currently set as a warning and not an informational alert. I think that's OK because it's the same as the coronavirus banner on the home page but just wanted to confirm.
2. It's set to go on all the individual pages and the events page but also this one:  https://www.va.gov/outreach-and-events/
Jen hadn't mentioned that one in the

[2020-03-20 14:02] nedierecel commented on #5983
Thanks @narin I'll validate and will reopen if I see anything.

[2020-03-20 14:04] RLHecht commented on #6697
@lwalsh617 @MickinSahni These are being fixed once the pages are migrated into Drupal and live on the site. Should we move this out of this sprint until that happens?

[2020-03-20 14:06] KevinMHoffmanUSDS commented on #7028
Adding this link for the next brave soul that encounters this issue. https://department-of-veterans-affairs.github.io/veteran-facing-services-tools/platform/architecture/teamsite

[2020-03-20 14:06] erluti commented on #1409
Upgraded betamocks with this PR https://github.com/department-of-veterans-affairs/betamocks/pull/19

[2020-03-20 14:15] ncksllvn commented on #6338
I'm confused about this. How does `tabindex` come into play for a heading mismatch?

[2020-03-20 14:36] billfienberg commented on #6354
Thanks, @jonwehausen. That makes sense.

[2020-03-20 14:39] chrisj-usds commented on #7028
Hang on.... I'm very specifically not wanting it to go into production right immediately!
What I wanted to see was how it worked on the staging site, and if there were any rendering issues that needed to be addressed. (There usually are.) That is a giant site with many pages, and we don't want to break anything.

[2020-03-20 14:48] rianfowler commented on #7028
Couple of things to note:
- When this was built during WBC, we added a way into the header injection to test it in production behind a flag. We've used this for the last couple of rollouts.
- I think we tried to test this in the Teamsite staging environment during WBC but couldn't get it to work. We can revisit this, though.

[2020-03-20 14:49] #6889 closed

[2020-03-20 14:49] #6888 closed

[2020-03-20 14:55] RLHecht commented on #6955
Made the changes we discussed and published with a content only deploy. Moving to validate.

[2020-03-20 14:58] ambikaroos commented on #6078
FYI @ericbuckley

[2020-03-20 14:59] jenstrickland commented on #6338
@ncksllvn I'm not sure what @1Copenut meant. I took that from this ticket he and I have on the On this page component: https://github.com/department-of-veterans-affairs/va.gov-team/issues/5125. Trevor, would you speak to this, please? Grazi!

[2020-03-20 15:05] ncksllvn commented on #6338
Ah okay, it was probably included just by mistake. The fix here is merged though! Will go live today.

[2020-03-20 15:08] #6674 closed

[2020-03-20 15:08] sonntag-adam commented on #6854
In staging. Closing story.

[2020-03-20 15:08] #6854 closed

[2020-03-20 15:13] jenstrickland commented on #6338
@ncksllvn please ping me on Slack when it's live and ready to check? Once I validate, I'll comment and close this ticket.

[2020-03-20 15:17] RLHecht commented on #6399
@ncksllvn I think this is more a you and @kelsonic thing than me...

[2020-03-20 15:18] sonntag-adam commented on #7002
Merged closing story, testing passes QA.

[2020-03-20 15:19] #7002 closed

[2020-03-20 15:21] #6856 closed

[2020-03-20 15:22] lunascoop commented on #6928
@ncksllvn @kelsonic This is a redirect request outside of the Public Websites team. I am tentatively scheduling this redirect for **03/30**, after the page is live.

[2020-03-20 15:25] lunascoop commented on #6933
For Sprint 18:

@RLHecht We need to update content/ text and related link in VA footer: Change "VA Scorecard" to "VA performance dashboard" (see screenshot below). Link will change to www.va.gov/performance-dashboard once the page is live and redirect is implemented.

<img width="1002" alt="Screen Shot 2020-03-20 at 11 11 36 AM" src="https://user-images.githubusercontent.com/42546515/77177482-f456

[2020-03-20 15:32] MickinSahni commented on #6955
2020-03-20 PW Standup
- Validated!

![image](https://user-images.githubusercontent.com/13204473/77179207-85c6d980-6a9e-11ea-998b-9e5c12532d75.png)

[2020-03-20 15:32] #6955 closed

[2020-03-20 15:34] billfienberg commented on #6299
PR: https://github.com/department-of-veterans-affairs/va.gov-team/pull/7045

[2020-03-20 15:41] MickinSahni commented on #6798
2020-03-20 PW
- Pages are migrated over to Drupal, Not yet validated
- Next steps
  - check with Jen Lee about sending to SMEs for review
  - send update to jen strickland about 6375, 6399, 6697 being resolved
- close out once jen lee gives thumbs up that we don't need to wait for SME feedback

[2020-03-20 15:42] #6927 closed

[2020-03-20 15:42] MickinSahni commented on #6799
2020-03-20 PW Standup
- Pulling this into sprint 18 as we need to talk through a few more questions, Mikki x Laura

[2020-03-20 15:46] MickinSahni commented on #6753
2020-03-20 PW Standup
- once associated PR is merged, we'll be able to update in Drupal to create the new widget
- to validate, we'll drop a screenshot of local

[2020-03-20 15:48] #6039 closed

[2020-03-20 15:52] MickinSahni commented on #6668
2020-03-20 PW Standup
- PR opened this morning  - https://github.com/department-of-veterans-affairs/vets-website/pull/11956
- Follow-up stuff
  - GIDS endpoint doesn't have per page, fixed at 30 instead of 10 <-- new ticket for sprint 18
  - vets-api, number of students and contribution amount not correctly being retrieved from GIDS (other query params seem to be working) <-- not a new ticket
  -

[2020-03-20 15:54] bridgethapner commented on #6945
Next steps: Confirming how VSP Accessibility Specialists bill to work on this effort

[2020-03-20 15:55] MickinSahni commented on #6473
2020-03-20 PW Standup
- Postponing this ticket until new design is implemented (designs/ticket pending creation)

[2020-03-20 15:55] SgardnerPMP opened #7046 "[DATA-LOAD] Associate all "WILMINGTON, DE" facilities-IDs to System using home page [Data Tech]"
## User Story or Problem Statement
As a Veteran Web user, I want to see the local Faculties pages associated to the System, so that I can choose the best facility and options for my Health Care Journey.

## Goal
_Highlight the Individual FACILITY Pages per System_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran traveling to each facility_
-

[2020-03-20 15:58] SgardnerPMP opened #7047 "[DATA-LOAD] Associate all "WILKES-BARRE, PA" facilities-IDs to System using home page [Data Tech]"
## User Story or Problem Statement
As a Veteran Web user, I want to see the local Faculties pages associated to the System, so that I can choose the best facility and options for my Health Care Journey.

## Goal
_Highlight the Individual FACILITY Pages per System_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran traveling to each facility_
-

[2020-03-20 16:01] SgardnerPMP opened #7048 "[DATA-LOAD] Associate all "PHILADELPHIA, PA" facilities-IDs to System using home page [Data Tech]"
## User Story or Problem Statement
As a Veteran Web user, I want to see the local Faculties pages associated to the System, so that I can choose the best facility and options for my Health Care Journey.

## Goal
_Highlight the Individual FACILITY Pages per System_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran traveling to each facility_
-

[2020-03-20 16:01] bridgethapner commented on #5828
Thank you @peggygannon!

Alright, @hinzed1127 we are good to go with the updated copy in [wireframes](https://adhoc.invisionapp.com/share/DYVMI5OXEQN#/screens/407512637). (And [mobile](https://adhoc.invisionapp.com/share/5QWAJJQNG2J#/screens/408300890)). And copy is here below:

### Sign in once to access the VA sites you use most
Now when you sign into VA.gov, we'll also sign you into MyHealtheVe

[2020-03-20 16:02] SgardnerPMP opened #7049 "[DATA-LOAD] Associate all "LEBANON, PA" facilities-IDs to System using home page [Data Tech]"
## User Story or Problem Statement
As a Veteran Web user, I want to see the local Faculties pages associated to the System, so that I can choose the best facility and options for my Health Care Journey.

## Goal
_Highlight the Individual FACILITY Pages per System_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran traveling to each facility_
-

[2020-03-20 16:05] SgardnerPMP opened #7050 "[DATA-LOAD] Associate all "ALTOONA, PA" facilities-IDs to System using home page [Data Tech]"
## User Story or Problem Statement
As a Veteran Web user, I want to see the local Faculties pages associated to the System, so that I can choose the best facility and options for my Health Care Journey.

## Goal
_Highlight the Individual FACILITY Pages per System_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran traveling to each facility_
-

[2020-03-20 16:05] ncksllvn commented on #6399
Fix will go live today

[2020-03-20 16:05] ncksllvn commented on #6928
PR open

[2020-03-20 16:07] SgardnerPMP opened #7051 "[DATA-LOAD] Associate all "BUTLER, PA" facilities-IDs to System using home page [Data Tech]"
## User Story or Problem Statement
As a Veteran Web user, I want to see the local Faculties pages associated to the System, so that I can choose the best facility and options for my Health Care Journey.

## Goal
_Highlight the Individual FACILITY Pages per System_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran traveling to each facility_
-

[2020-03-20 16:09] SgardnerPMP opened #7052 "[DATA-LOAD] Associate all "COATESVILLE, PA" facilities-IDs to System using home page [Data Tech]"
## User Story or Problem Statement
As a Veteran Web user, I want to see the local Faculties pages associated to the System, so that I can choose the best facility and options for my Health Care Journey.

## Goal
_Highlight the Individual FACILITY Pages per System_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran traveling to each facility_
-

[2020-03-20 16:11] SgardnerPMP opened #7053 "[DATA-LOAD] Associate all "ERIE, PA" facilities-IDs to System using home page [Data Tech]"
## User Story or Problem Statement
As a Veteran Web user, I want to see the local Faculties pages associated to the System, so that I can choose the best facility and options for my Health Care Journey.

## Goal
_Highlight the Individual FACILITY Pages per System_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran traveling to each facility_
-

[2020-03-20 16:16] artsymartha68 commented on #1645
Adding these Express Care/VAOS sample screens that we received in email so we have them handy.

[ExpressCareSampleScreens.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/4360686/ExpressCareSampleScreens.docx)

[2020-03-20 16:22] rianfowler commented on #7028
The change is up on staging so you can test it with these instructions:

1. Navigate to https://publichealth.va.gov
2. Open console (F12)
3. Run the following in the console:

[code]
_Most browsers echo the statement when it works_

4. Navigate to https://www.publichealth.va.gov/?targetEnvironment=vagovstaging

_Since this is on just on staging right now we need to tell the injection script to poi

[2020-03-20 16:23] micahchiang commented on #6024
PR merged - https://github.com/department-of-veterans-affairs/vets-website/pull/11945

[2020-03-20 16:23] #6024 closed

[2020-03-20 16:24] Samara-Strauss opened #7054 "[FE] Address validation: Analytics fix"
## Background

[Our analytics for address validation](https://analytics.google.com/analytics/web/?authuser=0#/dashboard/iu8jeYo2RHGNcjQhmx2sjQ/a50123418w177519031p176188361/) are currently showing more addresses suggestions used than address suggestions provided, which is obviously impossible. According to @bradl3yC:

## Tasks

- [ ] Clean up analytics to differentiate between when a suggestion is

[2020-03-20 16:25] sonntag-adam commented on #6662
Landing
![Screen Shot 2020-03-20 at 11.27.26 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/cd2afffd-ab1c-4a83-9057-efde42e11816)
##
Results
![Screen Shot 2020-03-20 at 11.53.08 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/eee56e40-4215-4c7b-9e58-fae8ed012e62)
##
Profile
![Screen Shot 2020-03-20 at 12.01.54 PM.png](https://images.zenhubusercontent.co

[2020-03-20 16:27] kelsonic commented on #6668
Fixed: `vets-api, number of students and contribution amount not correctly being retrieved from GIDS (other query params seem to be working)`, query params being sent to `vets-api` were camelcase instead of snake case.

[2020-03-20 16:30] #4711 closed

[2020-03-20 16:31] #5754 closed

[2020-03-20 16:32] #4422 closed

[2020-03-20 16:33] #2521 closed

[2020-03-20 16:34] #6563 closed

[2020-03-20 16:37] SgardnerPMP opened #7055 "CONSIDER: [CMS-Editorial_UE] Improve the "Edit Link" URL function to show fully qualified url instead of NODE [CMS]"
## User Story or Problem Statement
As PAO/CMS editor, I need to have a clear and easy to understand editorial experience,  so I can best maintain and support my System and facility web experience.

## Goal
_Clarify and create a easy to use and understand editorial user experience on all CMS pages_

## Objectives or Key Results this is meant to further
- _Improve self organization and clarification

[2020-03-20 16:40] mmiddaugh opened #7056 "Adjust PPMS Query"
## Problem Statement
How might we maximize the recent changes made to PPMS to enhance Facility Locator's performance?

Changes to PPMS will be live on 3/27 and include the ability to

- Pass Lat/Long directly
- Pass radius directly

## Goal
 Maximize the recent changes made to PPMS, informed by Veteran research

## Acceptance Criteria
- [x] Pass Lat/Long directly
- [x] Pass radius directly
- [x] A

[2020-03-20 16:41] sonntag-adam commented on #6662
Pages continue to load with infinite spinner on productions build

[2020-03-20 16:45] SgardnerPMP opened #7057 "[CMS-Editorial-UE] IMPROVE Editorial User Experience in CMS/Drupal Prod and Staging Environments [CMS-VAMC]"
## VAMC - Product Outline
[VAMC-upgrade Product Outline](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/facilities/medical-centers/Project_Plan_Outline_2019.md)

## High Level User Story
As a PAO and VAMC team member,  I need to locate, document, and set improvements to the CMS/Drupal Editorial User Experience, so all future PAO/web editors and editorial users c

[2020-03-20 16:49] MickinSahni commented on #6838
Hey @lunascoop can you take a look at this and determine what if anything we need to do?

[2020-03-20 16:50] brandonrapp commented on #6766
Thanks for the hard work @jhonnyoddball - I am going to close this out!

[2020-03-20 16:50] #6766 closed

[2020-03-20 16:50] #6995 closed

[2020-03-20 16:50] #6994 closed

[2020-03-20 16:51] mmiddaugh opened #7058 "Staging Feature flipper"
## What happened?
We are unable to enable features through flipper on staging.va.gov. Confirmation codes are not being generated for validation via ID.me and an error was received when we attempt to enable the feature.

## Desired behavior
Validated users can enable/disable or use conditional toggles

## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
-

[2020-03-20 16:51] brandonrapp commented on #3630
This work was completed.

[2020-03-20 16:51] #3630 closed

[2020-03-20 16:52] MickinSahni commented on #6697
2020-03-20 PW Standup
* Wasn't in sprint but was in Current Sprint column. Moved to Ready until pages are migrated to Drupal

[2020-03-20 16:54] brandonrapp commented on #5978
This work has been completed - Documentation of default configurations and settings can be seen here - https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/engineering/frontend/speedcurve/user-guide.md

[2020-03-20 16:54] #5978 closed

[2020-03-20 16:55] theodur commented on #184
A finalized version of the script was merged in https://github.com/department-of-veterans-affairs/vets-website/pull/11886.

[2020-03-20 16:55] brandonrapp commented on #5980
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/engineering/frontend/speedcurve/user-guide.md

[2020-03-20 16:55] #5980 closed

[2020-03-20 16:56] ncksllvn commented on #6379
CC: @Mottie noticed there's an `<aside>` in `disability-benefits/996/components/IntroductionPage.jsx`

[2020-03-20 16:57] kelsonic commented on #6379
@jenstrickland Do we need an `<aside />` here? Could we just convert it to a `<div />`? 🙂

[2020-03-20 16:58] brandonrapp commented on #1107
Based on our current work to invoke the CSP and to resolve GH alerts I am moving this into the NOW.

[2020-03-20 17:01] ncksllvn commented on #6379
Yeah what @kelsonic  said. Or is the better fix to restructure the page to move the `aside` out of the `main`?

[2020-03-20 17:01] mmiddaugh commented on #3907
Merged!

[2020-03-20 17:01] #3907 closed

[2020-03-20 17:11] tressaellen commented on #6478
Hi all - thank you for taking the time to look at this.  Here is everything for the review - the conversation guide will have changes on Monday, as well as content in the connected accounts section of the prototype.  I'll post here when those are in. (cc/ @mshea0606, @Samara-Strauss)

- Product Outline: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-per

[2020-03-20 17:12] sonntag-adam commented on #6662
Testing passes
https://dsvavsp.testrail.io/index.php?/runs/view/219&group_by=cases:section_id&group_order=asc

[2020-03-20 17:13] mmiddaugh commented on #4924
@tlei123 can this be closed?

[2020-03-20 17:20] mmiddaugh opened #7059 "5 Digit in street address interpreted as zip code"
## What happened?
If street number is 5 digits, it is used as zip code for searching

## Tasks
- [ ] Send address field in " in query

## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to Epic** (what body of work is this a part of? possibly `Ongoing Maintenance`)
- [ ] **Labeled with Team** (`product support`, `analytics-insights`, `o

[2020-03-20 17:22] mshea0606 commented on #6628
Use cases/acceptance criteria have been created and forwarded to @pjhill for the creation of the Regression Test baseline

[2020-03-20 17:25] alexpappasoddball opened #7060 "Run/Test Sentry 9.1.2 Locally"
## User Story or Problem Statement

As a developer on VSP I need to test and verify changes to Sentry configuration so that we can confidently upgrade our current Sentry version (9.1.1) to 9.1.2 (before upgrading to 10.0.0).

Local testing is needed to verify that there are no obvious issues and to understand any migration requirements more thoroughly before upgrading in production environment.

#

[2020-03-20 17:26] alexpappasoddball opened #7061 "Deploy Sentry 9.1.2 to Production"
## User Story or Problem Statement

As an engineer on VSP I need the latest 9.1.x release of Sentry so I can confidently upgrade to 10.0.0.

## Goal

sentry.vfs.va.gov points to latest 9.1.x version in preparation for 10.0.0 upgrade

## Objectives or Key Results this is meant to further

- Stability of the platform's systems will improve by modernizing tools, and normalizing upgrade path (O3)

##

[2020-03-20 17:26] ncksllvn commented on #6753
Merged, will go live today

[2020-03-20 17:27] alexpappasoddball opened #7062 "Run/Test Sentry 10.0.X Locally"
## User Story or Problem Statement

As an engineer on VSP I need to test and verify changes to Sentry configuration so that we can confidently upgrade to Sentry 10.0.0.

Local testing is needed to work through new configuration issues and to understand any migration requirements more thoroughly before upgrading in production environment.

## Useful links

https://github.com/getsentry/onpremise#upd

[2020-03-20 17:27] SgardnerPMP opened #7063 "[REVIEW] Internal Review, test, and scan all pages for "ALTOONA, PA" PART 1 System and facility pages in Devshop [VAMC]"
## User Story or Problem Statement
As a Veteran Web user, I must have full accessibility a compliance to my web applications and tools, so I can use the VAMC system pages in any GUI, UE, including mobile and reader environments.

## Goal
_Perform initial page testing, review, initial Accessibility scan with AXE-Coconut _

## Objectives or Key Results this is meant to further
- _Increase overall qu

[2020-03-20 17:28] ncksllvn commented on #6753
@MickinSahni I just realized that there's a really large visible different in the before/after of this work.

The [Post-9/11 GI Bill Statement of Benefits](https://staging.va.gov/education/gi-bill/post-9-11/ch-33-benefit/) looks like this currently -

![image.png](https://images.zenhubusercontent.com/59cb9de1b0222d5de47953d8/3a167d04-ff42-4480-9a84-d00d08791b0c)

After deployment, the two widgets

[2020-03-20 17:28] alexpappasoddball opened #7064 "Sentry 10 Upgrade"
## User Story or Problem Statement

As an engineer on VSP I need the current Sentry version 10.0 in production so I can leverage the nifty new features.

## Goal

On-premise Sentry is upgraded to latest release

## Objectives or Key Results this is meant to further

* Stability of the platform's systems will improve by modernizing tools, and normalizing upgrade path (O3)

## Tasks

- [ ] Verify co

[2020-03-20 17:30] ncksllvn commented on #6752
@RLHecht when you set this page up in Drupal, the widget ID you should use is `post-9-11-gi-bill-status`.  It should be similar to setting up the calculator on `/disability/about-disability-ratings/`.

[2020-03-20 17:38] SgardnerPMP opened #7065 "[REVIEW] Internal Review, test, and scan all pages for "BUTLER, PA" Part 1 of System and facility pages in Devshop [VAMC]"
## User Story or Problem Statement
As a Veteran Web user, I must have full accessibility a compliance to my web applications and tools, so I can use the VAMC system pages in any GUI, UE, including mobile and reader environments.

## Goal
_Perform initial page testing, review, initial Accessibility scan with AXE-Coconut _

## Objectives or Key Results this is meant to further
- _Increase overall qu

[2020-03-20 17:39] SgardnerPMP opened #7066 "[REVIEW] Internal Review, test, and scan all pages for "COATESVILLE, PA" PART 1 System and facility pages in Devshop [VAMC]"
## User Story or Problem Statement
As a Veteran Web user, I must have full accessibility a compliance to my web applications and tools, so I can use the VAMC system pages in any GUI, UE, including mobile and reader environments.

## Goal
_Perform initial page testing, review, initial Accessibility scan with AXE-Coconut _

## Objectives or Key Results this is meant to further
- _Increase overall qu

[2020-03-20 17:41] SgardnerPMP opened #7067 "[REVIEW] Internal Review, test, and scan all pages for "ERIE, PA" PART 1 System and facility pages in Devshop [VAMC]"
## User Story or Problem Statement
As a Veteran Web user, I must have full accessibility a compliance to my web applications and tools, so I can use the VAMC system pages in any GUI, UE, including mobile and reader environments.

## Goal
_Perform initial page testing, review, initial Accessibility scan with AXE-Coconut _

## Objectives or Key Results this is meant to further
- _Increase overall qu

[2020-03-20 17:42] lunascoop commented on #6838
It seems that the URL has been determined per this ticket [#15901](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/15901). It is https://www.va.gov/connected-accounts-faq/

Hi @careyotto can we schedule some time to review the design and discuss the expanding FAQ content? Perhaps @mnorthuis should be included for IA recommendations for this and the third party apps list.

[2020-03-20 17:42] SgardnerPMP opened #7068 "[REVIEW] Internal Review, test, and scan all pages for "LEBANON, PA" System and facility pages in Devshop [VAMC]"
## User Story or Problem Statement
As a Veteran Web user, I must have full accessibility a compliance to my web applications and tools, so I can use the VAMC system pages in any GUI, UE, including mobile and reader environments.

## Goal
_Perform initial page testing, review, initial Accessibility scan with AXE-Coconut _

## Objectives or Key Results this is meant to further
- _Increase overall qu

[2020-03-20 17:42] jenstrickland commented on #6379
Converting the `<aside>` to a `<div>` is problematic. Other instances on VA.gov where the aside is coded as a div create issues for screen reader users, who have no context to distinguish between the aside content and everything else. It's a wall of words. To use a coder saying, "if everything's !important, then nothing is important." Having the `<main>` element wrap the entirety of the page conte

[2020-03-20 17:43] SgardnerPMP opened #7069 "[REVIEW] Internal Review, test, and scan all pages for "PHILADELPHIA, PA" PART 1 System and facility pages in Devshop [VAMC]"
## User Story or Problem Statement
As a Veteran Web user, I must have full accessibility a compliance to my web applications and tools, so I can use the VAMC system pages in any GUI, UE, including mobile and reader environments.

## Goal
_Perform initial page testing, review, initial Accessibility scan with AXE-Coconut _

## Objectives or Key Results this is meant to further
- _Increase overall qu

[2020-03-20 17:44] SgardnerPMP opened #7070 "[REVIEW] Internal Review, test, and scan all pages for "WILMINGTON, DE" System and facility pages in Devshop [VAMC]"
## User Story or Problem Statement
As a Veteran Web user, I must have full accessibility a compliance to my web applications and tools, so I can use the VAMC system pages in any GUI, UE, including mobile and reader environments.

## Goal
_Perform initial page testing, review, initial Accessibility scan with AXE-Coconut _

## Objectives or Key Results this is meant to further
- _Increase overall qu

[2020-03-20 17:46] SgardnerPMP opened #7071 "[REVIEW] Internal Review, test, and scan all pages for "WILKES-BARRE, PA" System and facility pages in Devshop [VAMC]"
## User Story or Problem Statement
As a Veteran Web user, I must have full accessibility a compliance to my web applications and tools, so I can use the VAMC system pages in any GUI, UE, including mobile and reader environments.

## Goal
_Perform initial page testing, review, initial Accessibility scan with AXE-Coconut _

## Objectives or Key Results this is meant to further
- _Increase overall qu

[2020-03-20 17:51] jonwehausen commented on #7054
@bradl3yC Thanks for identifying the underlying issue here! Keep me posted on when this makes its way to staging and if we have a test address to reproduce this scenario and we can verify if there will need to be any changes on our front.

[2020-03-20 17:52] SgardnerPMP opened #7072 "[REVIEW-TESTING-Cleanup] Internal Review, test, and resolve all pages of VAMC System and facility pages in Devshop [VAMC]"
## VAMC - Product Outline
[VAMC-upgrade Product Outline](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/facilities/medical-centers/Project_Plan_Outline_2019.md)

## High Level User Story
As a VAMC team member, I must assure that all pages, links, images, files, and nodes are working, so I can have a complete system and report to provide to our PAO stakeholders,

[2020-03-20 17:52] ncksllvn commented on #6379
Hm, okay. That's more difficult than what we were thinking. Since this is a global issue occurring across most pages of the website, I don't think we should tie this to the AMA work.

[2020-03-20 17:53] brandonrapp commented on #5906
Work was all closed out!

[2020-03-20 17:53] #5906 closed

[2020-03-20 17:54] brandonrapp commented on #184
This is ready to ship!

[2020-03-20 17:56] ncksllvn commented on #6371
Fixed, will go live today.

[2020-03-20 17:58] MickinSahni commented on #6753
Yeah this ticket specifically refers to the work that'll make the combined widget available for Drupal to consume. Is that included in the PR? @ncksllvn

[2020-03-20 17:59] MickinSahni commented on #6371
Adding to sprint 17!

[2020-03-20 18:00] ncksllvn commented on #6753
Yep, same work!

[2020-03-20 18:00] ncksllvn commented on #6753
Updates are on Staging currently -

![image](https://user-images.githubusercontent.com/1915775/77192602-2de69d80-6ab3-11ea-9390-b3b1c37e8c59.png)

[2020-03-20 18:00] SgardnerPMP opened #7073 "[ANALYTICS] Create a VAMC-Upgrade Kick-OFF Package for .csv load into Drupal Automation [BA]"
## Story
As a Public Affairs Officer, I need to know all of the items and areas of information needed for the upcoming VAMC-Upgrade, so I can easily provide that information to the VAMC-upgrade team.

## Goal
_Provide an easy to understand and easy to fill out/confirm spread sheet to the PAOs to provide pertinent information needed to complete the multiple layers of the VAMC-Upgrade_

## Objective

[2020-03-20 18:02] MickinSahni commented on #6753
I see the combined

[2020-03-20 18:05] AnneHurley opened #7074 "Revision in drupal disability rates pages"
Disability rates tables pages need to be updated to 2020 rates in Drupal.
Those pages that need link to historic rates, need links to the past three years, PDFs ok, at bottom of pages.

This page has been updated:
https://www.va.gov/disability/compensation-rates/veteran-rates/
**The need for this page** is to get the historic version of the page, for 2019, and work with Howie to grab all info insi

[2020-03-20 18:15] careyotto commented on #6838
@lunascoop Absolutely! My calendar is up to date, west coast hours.
carey.otto@adhocteam.us

On Fri, Mar 20, 2020 at 10:42 AM lunascoop <notifications@github.com> wrote:

[2020-03-20 18:15] jenstrickland commented on #6379
💯 agree. The templates your team is responsible is one approach to address it. Things are cloudy since we have two teams owning Drupal templates, and then other page templates. Where do we bring this up? @1Copenut  - should we have changes started within individual teams and the templates they own, or does this need to be addressed globally all at once?

[2020-03-20 18:15] kelsonic commented on #6379
I think the title of this ticket description is misleading. According to Accessibility's rubric, this is not a "launch blocker".

https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2

[2020-03-20 18:17] jenstrickland commented on #6379
@kelsonic The day I wrote this ticket 508-defect-2 was categorized as a launchblocker. @1Copenut changed it yesterday.

[2020-03-20 18:19] careyotto commented on #6838
@lunascoop To clarify, the URL for the FAQ was determined in  [#15901](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/15901), but it was never implemented and our use case has changed since then.

I would also like copy-edit help with the new FAQ content.

Additionally, we want to add a third-party app directory URL and need IA help for the URL.

[2020-03-20 18:29] rianfowler commented on #7028
Merge [this PR](https://github.com/department-of-veterans-affairs/vets-website/pull/11962) when we're ready to push this to prod.

[2020-03-20 18:31] jenniferlee-dsva commented on #6976
Perhaps if the widget has the ability to display available days/hours dynamically per VISN, that could be a dynamic string of text in the alert.

[2020-03-20 18:35] 1Copenut commented on #6379
For general awareness, the [severity rubric](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md) now identifies severity 0/1 issues as launch blockers. We've tried to be very specific on those items--what they look like, how they present, how they can be remediated. It'll continue to evolve and adapt, but we will make

[2020-03-20 18:37] LindseySaari commented on #7060
v 9.1.2 up and running locally with queued message successfully sent to Sentry

[2020-03-20 18:42] ncksllvn commented on #6379
Launch blocker or not, this is an issue across hundreds of pages, rather than the specific subset that the AMA launch includes. I think it would make sense for it to be categorized or related to an Epic for site-wide/global issues.

[2020-03-20 18:50] lenaecb opened #7075 "Change static Appointments page on VA.gov to support COVID-19/VAOS feature changes"
Due to direction of VA Leadership, the VAOS tool will turn off:

- Self-schedule VA appointments capability
- Community Care requests

We need to update the following static page: https://www.va.gov/health-care/schedule-view-va-appointments/

The two points of copy that need review/revising:

- Under "You can use these tools to:" remove last bullet "Add non-VA appointments to your health calendar"

[2020-03-20 18:50] Samara-Strauss commented on #5895
Opened a ticket in #7054 for one of the bugs we're seeing.

[2020-03-20 18:52] johnpaulashenfelter commented on #7061
@kfrz @LindseySaari i think you should consider whether its worth two production changes, especially since v10 is so different from v9 (specifically the whole Kafka & Zookeeper). Not sure the effort is worth it unless there's a *really* clear migration path that gets better with the interim update.

[2020-03-20 18:56] kelsonic commented on #6379
@ncksllvn @MickinSahni @1Copenut @jenstrickland What is the process for reporting and prioritizing to the correct team a global/site-wide accessibility issue? Would it be helpful if every sprint or so there were an Accessibility PM that could assign site-wide accessibility issues to the relevant team?

Just brainstorming on how to better this process -- we do really want to help with global access

[2020-03-20 19:00] Samara-Strauss commented on #6976
That's a good idea — and I did just get word that VISN 23 has different hours: 7:30 – 4:30 local time, M-F.

Let me ask Erik about this.

[2020-03-20 19:02] narin commented on #3488
@jbalboni I know this is old and looks like you started some work on it already, but I still have this PR open from before it was blocked in case you want to reference/use some of the work: https://github.com/department-of-veterans-affairs/vets-website/pull/11335

[2020-03-20 19:03] #6991 closed

[2020-03-20 19:06] johnpaulashenfelter commented on #1604
@kfrz I think there's a lot in Zookeeper/Kafka combo that help prevent this

[2020-03-20 19:06] #155 closed

[2020-03-20 19:09] Samara-Strauss commented on #6975
@erikphansen — we just found out that the health chat tool is staffed at different times in the different VISNs:

- VISN 8: 8:00 a.m. to 4:00 p.m. Monday through Friday
- VISN 23: 7:30  a.m – 4:30 p.m Monday through Friday

What I'm wondering: would it be possible to show the time/availability in the alert dynamically? So we could detect someone's parent facility and then based on that, show the t

[2020-03-20 19:09] patrickvinograd opened #7076 "Decouple outbound and inbound SSOe in terms of existing IAM session, using ForceAuthn"
We want to decouple launches of outbound and inbound SSOe, doing outbound first.

That means that for near term we won't worry about auto-logging in somebody who arrives and has an SSOe session - we don't have to detect it or anything.

But, the user might still _have_ an IAM session, and if they do, when the user clicks sign-in that existing session will mean IAM gives us back the existing sessio

[2020-03-20 19:12] ricetj commented on #439
If we move this behind the TIC then this will not work, so we need to figure out what to do here. Need to figure out Artifact building

[2020-03-20 19:16] ricetj commented on #6029
It would be nice a rubric on what docs could be public or not.

[2020-03-20 19:18] erikphansen commented on #6975
I'm not sure. There are supported facilities on this page (https://mobile.va.gov/app/va-health-chat) that are in Georgia, PR, and the Virgin Islands. Are those all part of VISN 8, because according to this page (https://www.ruralhealth.va.gov/contactus/visn.asp) VISN 8 is only Florida.

Are those times local? Or ET?

[2020-03-20 19:18] ccruzgra commented on #6662
@ksantiagomorgan6 demo'ed to UX the new error functionality and different scenarios on GIBCT, both for standard searches/profile pages and for VET TEC. He explained that they are not including the blue button for returning to the GIBCT landing page in search results and profile pages because you’d see the same error message on the landing page, as well, which renders the button as redundant. UX ap

[2020-03-20 19:20] ccruzgra commented on #6879
@amyknox, @ksantiagomorgan6 demo'ed to UX the new error functionality and different scenarios on GIBCT, both for standard searches/profile pages and for VET TEC. He explained that they are not including the blue button for returning to the GIBCT landing page in search results and profile pages because you’d see the same error message on the landing page, as well, which renders the button as redund

[2020-03-20 19:23] ricetj commented on #6770
We will need GH teams process in place before we can do this.

[2020-03-20 19:27] jenstrickland commented on #6399
**Rad, thank you!** Ping me in Slack when these two tickets are live, so I can validate, comment, and close the tickets.

[2020-03-20 19:30] #6950 closed

[2020-03-20 19:32] jenstrickland commented on #6379
Recently, @1Copenut and I met with @kevwalsh to find out how changes get made to templates. He said individual teams own certain templates. Trevor and I understood your team owns the templates you're working on. They are separate from other pages, afaik.

Are the templates pulling from global/site-wide stylesheets/components?

[2020-03-20 19:33] RLHecht commented on #6752
@ncksllvn @jenniferlee-dsva I added the widget through Drupal and it's looking all right to me. @jenniferlee-dsva if you want to look at it in Drupal it's preview-prod.vfs.va.gov/preview?nodeId=3007

I am not sure where it's supposed to lie in the left nav. @mnorthuis is this placement correct?

<img width="1308" alt="Screen Shot 2020-03-20 at 3 31 12 PM" src="https://user-images.githubusercontent

[2020-03-20 19:34] AnneHurley opened #7077 "Update links & rates on special benefits rates pages"
Related issues:
Update links from the following pages to the current special benefits rates tables:
1. Automobile modification benefits overview: https://www.va.gov/disability/eligibility/special-claims/automobile-allowance-adaptive-equipment/ -- currently links to 2017 rates: https://www.benefits.va.gov/COMPENSATION/special_Benefit_Allowances_2017.asp
2. Clothing allowance: https://www.va.gov/dis

[2020-03-20 19:36] ncksllvn commented on #6379
They generally start at [layouts](https://github.com/department-of-veterans-affairs/vets-website/tree/master/src/site/layouts) but can include most of the sibling directories. I would consider trying to be agnostic to the underlying templating (unless you want to lend a hand on the implementations) and identify the general scope of a particular issue - is this site-wide, unique to just this page,

[2020-03-20 19:37] jenstrickland commented on #6371
Fix validated. Thanks so much!

[2020-03-20 19:37] #6371 closed

[2020-03-20 19:39] jenstrickland commented on #6399
Fix validated. Thank you!

[2020-03-20 19:39] #6399 closed

[2020-03-20 19:41] jenstrickland commented on #6338
Fix validated. Thank you! (Also removed the ❗️ Launchblocker label, since 508-defect-2 was downgraded on 3/19/20, after this ticket was initially written.)

[2020-03-20 19:42] ricetj commented on #468
Need to check on this in our docs

[2020-03-20 19:43] #2518 closed

[2020-03-20 19:44] #2218 closed

[2020-03-20 19:48] AnneHurley commented on #7077
@RLHecht  Automobile page with updated link ready for your review and publish:
https://prod.cms.va.gov/node/893/edit

[2020-03-20 19:49] johnpaulashenfelter opened #7078 "Get vets-api specs running successfully on CircleCI"
Setup CircleCI, based on the branch from @bkjohnson. Add and update the appropriate 3rd party libraries and versions

- [x] Ruby 2.6.5
- [x] Postgresql 11.5 + Postgis
- [x] Redis 3.x

Configure the basic test steps for

- [x] Creating a database
- [x] Loading the schema
- [x] Running the tests

Finish everything up by

- [ ] Using `dockerize` to wait for redis and postgresql to boot to avoid silly

[2020-03-20 19:50] johnpaulashenfelter commented on #7078
Successful basic setup here: https://app.circleci.com/pipelines/github/bkjohnson/vets-api/14/workflows/1618283b-a395-45d0-b2f9-7775ba9c215b/jobs/19

But there's a fair bit of configuration to fight with database username/password/etc connectivity.

[2020-03-20 19:50] micahchiang commented on #6744
PR - https://github.com/department-of-veterans-affairs/vets-website/pull/11965

[2020-03-20 19:50] micahchiang commented on #6745
PR - https://github.com/department-of-veterans-affairs/vets-website/pull/11965

[2020-03-20 19:51] #5407 closed

[2020-03-20 19:51] johnpaulashenfelter commented on #7078
Added a step to use `dockerize` to make sure redis and postgres in particular are up and running before running database steps. Lots of docs on this.

[2020-03-20 19:53] AnneHurley commented on #7077
@peggygannon  and @mnorthuis  Question from last year - do either of you know why we decided to link from the Automobile benefit and Clothing allowance benefit to the legacy pages?

We have created a single page of these rates + Medal of Honor, and I'd think it would be better to just direct all users to this page, after I've updated it: https://www.va.gov/disability/compensation-rates/special-ben

[2020-03-20 19:54] jenstrickland commented on #6379
- At this time, [this particular issue comes up in axe browser scans](https://dequeuniversity.com/rules/axe/3.5/landmark-complementary-is-top-level?application=coconut) because someone semantically coded the sidebar content as an aside.
- In pages that are not Drupal templates, these areas currently are coded as divs, and that's hiding the error. It doesn't provide context for assistive tech.
- If

[2020-03-20 19:55] kevwalsh opened #7079 "Facility meta description field in Drupal is not populating the template"
## What happened?
![view-source_https___www_va_gov_pittsburgh-health-care_locations_h-john-heinz-iii-department-of-veterans-affairs-medical-center__and_Edit_VAMC_facility_Pittsburgh_VA_Medical_Center-University_Drive___VA_gov_CMS_and_h__john_heinz_iii_departme](https://user-images.githubusercontent.com/643678/77201356-b91b5f80-6ac2-11ea-8a7f-43afa7fd17b4.jpg)

## Steps to Reproduce

1. Compare the

[2020-03-20 19:55] kreek commented on #7000
Create a proof of concept for using the Zipkin Faraday middleware https://gist.github.com/kreek/290722fcf489e2f15a82985180262042

[2020-03-20 20:00] kelsonic commented on #6668
PR is up to fix the `per_page` pagination functionality on the new GIDS endpoint! https://github.com/department-of-veterans-affairs/gibct-data-service/pull/623

Thank you @jholton! 🎉

[2020-03-20 20:04] ccruzgra commented on #6868
Reviewed content spreadsheet and prototype for developers with BA/Dev. Lead this morning.

[2020-03-20 20:10] AnneHurley commented on #7077
@RLHecht  2nd special rates page, clothing allowance, updated with new rate and updated link to correct legacy page, ready for your review.

https://prod.cms.va.gov/node/895/edit

[2020-03-20 20:12] #6972 closed

[2020-03-20 20:13] rtwell commented on #6273
@jenniferlee-dsva @jenstrickland @MickinSahni sooooo i decided to iterate on the VA form search landing page to improve the scannability. Attached are the new designs, both large and small screen.

@jenstrickland please review this design and let me know if you have any questions.

## large screen
![image](https://user-images.githubusercontent.com/12564977/77202803-668f7280-6ac5-11ea-84d2-92d0b066

[2020-03-20 20:18] lwalsh617 commented on #6799
@jenniferlee-dsva @mnorthuis @RLHecht -- Here's a new copy deck, revised per my call with Mikki today. @jenniferlee-dsva, one quick copy note. Under the board appeal link, I put the following copy:
![image](https://user-images.githubusercontent.com/53535663/77203040-e9183200-6ac5-11ea-942e-2b99b6490a0e.png)
I don't know if we can get away with positioning it this way or not, but if we can, it help

[2020-03-20 20:21] AnneHurley commented on #7077
@RLHecht  The special allowances rates page is updated:
https://prod.cms.va.gov/node/990/edit

For your review and publish.

Welcome your thoughts too about whether we can avoid linking from automobile and clothing allowances info pages to the legacy page, and instead link to this updated page.

[2020-03-20 20:23] jholton opened #7080 "Add per_page to yellow_ribbon_programs controller in GIDS"
## Description
Assist team with no backend developer to add `per_page` functionality to search results for the `yellow_ribbon_programs` endpoint.

## Acceptance Criteria
- [x] `yellow_ribbon_programs#index` uses `params[:per_page]` when present

[2020-03-20 20:24] #7080 closed

[2020-03-20 20:25] rileyorr commented on #6712
@mr0sari0 & @mojaray2k the updated prototypes and content can be found [here](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/medical-device-tool/design/prototype-confirmation-screen.md).
We explored adding a "Return to VA.gov" button at the bottom of the screen, but I couldn't find consistency across forms' confirmation screens so I am going to bring it up to VS

[2020-03-20 20:26] jholton opened #7081 "Assist with updating vulnerable libraries"
## Description
Critical vulnerabilities in the `json` gem and `rails` were announced.
Both gems had to be updated before CI could pass

## Acceptance Criteria
- [x] Update Rails
- [x] Update `json`

[2020-03-20 20:29] #7081 closed

[2020-03-20 20:33] Samara-Strauss commented on #6975
Ugh, the older pages on VA.gov are definitely not up to date/consistent. VISN 8 does include some facilities in Georgia, Puerto Rico, and the Virgin Islands, so we are good. https://www.va.gov/directory/guide/region.asp?ID=1008

- Local times

[2020-03-20 20:33] lwalsh617 commented on #6798
Hey @RLHecht,
My IA chat with @mnorthuis today raised the need for three H1 changes I'm hoping you can make in Drupal:

- [ ] https://www.va.gov/decision-reviews/higher-level-review/
In the H1, please remove "Request a" and pluralize "Reviews"so the H1  reads: **Higher-Level Reviews**

- [ ] https://www.va.gov/decision-reviews/supplemental-claim/
In the H1, please remove "File a" as well as "with

[2020-03-20 20:35] jenniferlee-dsva commented on #6799
^ I would use the currently approved text for BVA -- I think the above will appease Fred's concerns, but not nec meet Elizabeth's. And technically, a Veteran can use BVA from the beginning - they don't have to FIRST go through Supplemental/HLR, and I think there's some legal ramifications to suggesting or making it sound like you can only use BVA option after exhausting Supp/HLR.

Def would need b

[2020-03-20 20:37] rtwell commented on #3582
done.

attaching PNGs here:

## Maximal - large screen
![image](https://user-images.githubusercontent.com/12564977/77204377-fda9f980-6ac8-11ea-8fe5-1f8ef739a6e1.png)
## Maximal - small screen
![image](https://user-images.githubusercontent.com/12564977/77204427-14505080-6ac9-11ea-9550-19557e555ece.png)

[2020-03-20 20:37] jenniferlee-dsva commented on #6799
Nope - NVMD ^ comment! You're right - they CAN only use BVA after exhausting Supp/HLR. Looks great! @lwalsh617

[2020-03-20 20:38] erikphansen commented on #6975
Okay I can make this work. Now that we're adding in these testing facilities with IDs 983 and 984, I guess I'll just treat those as VISN 8? ¯\_(ツ)_/¯  I guess that doesn't matter much either way.

[2020-03-20 20:39] desireeturner commented on #6879
@ccruzgra @amyknox @ksantiagomorgan6 We refrained from "please refresh..." because if they refresh they will just get the same error message again. May be worth discussing.

[2020-03-20 20:39] Samara-Strauss commented on #6975
Great, awesome. Thanks for helping to get this tracked down!

[2020-03-20 20:40] #6420 closed

[2020-03-20 20:40] rtwell commented on #3582
## Maximal - no images
![CLP-Maximal-no-images](https://user-images.githubusercontent.com/12564977/77204451-20d4a900-6ac9-11ea-9714-6d360ab9a040.png)

## Maximal - Markup
![CLP-Maximal-markup](https://user-images.githubusercontent.com/12564977/77204554-5aa5af80-6ac9-11ea-8945-7b0d029dbb4d.png)

## Minimum required - with images
![CLP-required sections](https://user-images.githubusercontent.com/125

[2020-03-20 20:42] jenniferlee-dsva commented on #6799
One copy note on the hub page - could you think of a way to make the 'learn more' language on the On this page links more in line with our 'get' benefits concept? I know you're not really 'getting' a decision review but maybe` "request" `or `"file"` -- to stay parallel with our other hub and spoke (get/manage/more) concept. (Though I realize everything here is technically 'manage'.)

[2020-03-20 20:42] sporeboy commented on #5255
Final IA review and recommendations are here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/information-architecture/ia-reviews/ebenefits-dependents.md

[2020-03-20 20:44] lwalsh617 commented on #6799
@mnorthuis would you mind addressing Jen's comment ^ ? This is related to what we discussed about the HLR page. Thanks!

[2020-03-20 20:46] erluti commented on #6392
Began upgrading sidekiq to 5 here, https://github.com/department-of-veterans-affairs/vets-api/tree/be-tools/pb/upgrade-sidekiq
Broke a 50 or so tests, so now I'm working on fixing those

[2020-03-20 20:46] jbalboni commented on #3488
@narin Gah, I didn't even think to look for an in progress PR. I will definitely steal some of that work.

[2020-03-20 20:47] rtwell commented on #4621
files uploaded [in the design WIP folder](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/content/tier-2-content-IA-and-design/campaign-landing-page-templates/design-wip), in the product folder here

[2020-03-20 20:47] johnpaulashenfelter commented on #7078
Blocked pretty hard by some weird errors starting with

[code]
  config.rails_semantic_logger.semantic   = false
  config.rails_semantic_logger.started    = true
  config.rails_semantic_logger.processing = true
  config.rails_semantic_logger.rendered   = true
end```

but that led to

An error occurred while loading ./spec/controllers/v1/sessions_controller_spec.rb.
Failure/Error: require File.expa

[2020-03-20 20:48] rtwell commented on #4621
![CLP-Maximal-markup](https://user-images.githubusercontent.com/12564977/77205114-8b3a1900-6aca-11ea-818c-22a288c4aade.png)
![CLP-Maximal-mobile](https://user-images.githubusercontent.com/12564977/77205123-8f663680-6aca-11ea-8414-a1b3c87a7223.png)
![CLP-Maximal-no-images](https://user-images.githubusercontent.com/12564977/77205126-8ffecd00-6aca-11ea-826f-85b6a5fe2d8b.png)
![CLP-Maximal](https://us

[2020-03-20 20:54] jonwehausen commented on #7054
Thanks again for clearing this up brad!

Confirming this as the test scenario -- an invalid address where the modal still shows, but no suggestion is provided. When the user clicks 'Use this Address', `'no'` is now populating for ```profile-addressSuggestionUsed```. This was tested for both Home and Mailing address.
![image](https://user-images.githubusercontent.com/48527022/77205172-a9077e00-6aca

[2020-03-20 20:56] rtwell commented on #1874
## menu closed on mobile
![image](https://user-images.githubusercontent.com/12564977/77205604-980b3c80-6acb-11ea-88f9-be02476f7aa4.png)

## menu open
![image](https://user-images.githubusercontent.com/12564977/77205661-b2451a80-6acb-11ea-8241-b7dddcfb5c0f.png)

## menu open, in a section
![image](https://user-images.githubusercontent.com/12564977/77205672-b709ce80-6acb-11ea-9823-a667a17b665e.png)

[2020-03-20 20:58] mmiddaugh commented on #6743
Variations:

Please Call for Hours
7:00am - Sunset -> 7:00 a.m. - Sunset (timezone when available)
Sunrise - Sundown - > Sunrise - Sunset
Sunrise - Sunset - > Sunrise - Sunset
Appointments Only -> By Appointment Only
By Appointment Only  -> By Appointment Only
Closed -> Closed
Itinerant (content and business feedback needed: TBD)
AM-PM
24/7 -> only display once
-  -> Assumed closed (Validate with

[2020-03-20 20:58] Samara-Strauss commented on #7054
@jonwehausen! Yes, that is correct but not totally the full story. Yes, when there is no suggestion and someone selects "Use this address", they are overriding. BUT they can also override when there IS a suggestion if they select the original address and not the suggested address, like so:

![7  Scenario 1: Override; Suggestions_Override selected](https://user-images.githubusercontent.com/34068740

[2020-03-20 20:58] #6880 closed

[2020-03-20 20:59] amyknox commented on #6944
@ccruzgra - is this wrapped up? If so, feel free to close this story.

[2020-03-20 21:00] jenstrickland commented on #6751
Please note @rtwell mobile designs for the left nav were added to https://github.com/department-of-veterans-affairs/va.gov-team/issues/1874#issuecomment-601907235, and are available for review now.

[2020-03-20 21:00] jonwehausen commented on #7054
Great, thanks for confirming! And yes -- we will be squared away in your scenario above as well.

[2020-03-20 21:08] Samara-Strauss opened #7083 "[Discovery] Logged in homepage: Review and refine research proposal"
## Background

Samara created [this research plan](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/logged-in-homepage/2.0-redesign/discovery-and-research/research-needs.md) as a preliminary proposal for the activities we want to be part of the logged in homepage discovery effort. Now that we've got the team together, I'd like another set

[2020-03-20 21:15] peggygannon commented on #6748
@tressaellen @careyotto sorry for the delay! Here is recommended content for the screenshots above. Let's discuss at our meeting on Monday to make sure the content I recommend works with the layout and user flow.

First screenshot
**Connected accounts**
You don’t have any third-party applications or sites connected to your Veteran profile. If you set up a connected account it will show here on you

[2020-03-20 21:18] jenstrickland commented on #6751
I updated VSA Accessibility feedback based on the mobile design.

[2020-03-20 21:21] Samara-Strauss opened #7085 "[Discovery] Logged-in homepage: Stakeholder interviews"
## Background

We will be conducting stakeholder interviews for the logged-in homepage discovery per our [research plan](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/logged-in-homepage/2.0-redesign/discovery-and-research/research-needs.md#stakeholder-interviews).

## Tasks

- [x] Review and refine list of stakeholders #7086
- [x] Creat

[2020-03-20 21:26] Samara-Strauss opened #7086 "[Discovery] Logged-in homepage: Stakeholder interviews — Review and refine list of stakeholders"
## Background

Epic #7085

We will be conducting stakeholder interviews for the logged-in homepage discovery per our [research plan](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/logged-in-homepage/2.0-redesign/discovery-and-research/research-needs.md#stakeholder-interviews). We should review and refine[ the list of stakeholders](https:

[2020-03-20 21:28] mmiddaugh commented on #6743
@davidconlon https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/facilities/facility-locator/data/hours-of-operation.md

[2020-03-20 21:29] Samara-Strauss opened #7087 "[Discovery] Logged-in homepage: Stakeholder interviews — Create conversation guide"
Epic #7085

We will be conducting stakeholder interviews for the logged-in homepage discovery per our [research plan](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/logged-in-homepage/2.0-redesign/discovery-and-research/research-needs.md#stakeholder-interviews).

## Tasks

- [x] Determine if every stakeholder needs to be asked the same q

[2020-03-20 21:32] Samara-Strauss opened #7088 "[Discovery] Logged-in homepage: Stakeholder interviews — Schedule interviews"
## Background

Epic #7085

We will be conducting stakeholder interviews for the logged-in homepage discovery per our [research plan](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/logged-in-homepage/2.0-redesign/discovery-and-research/research-needs.md#stakeholder-interviews).

## Tasks

- [ ] Schedule interviews with stakeholders.

## A

[2020-03-20 21:34] Samara-Strauss opened #7089 "[Discovery] Logged-in homepage: Stakeholder interviews — Conduct interviews"
## Background

Epic #7085

We will be conducting stakeholder interviews for the logged-in homepage discovery per our [research plan](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/logged-in-homepage/2.0-redesign/discovery-and-research/research-needs.md#stakeholder-interviews).

## Tasks

- [ ] Conduct interviews with stakeholders.

## Ac

[2020-03-20 21:37] Samara-Strauss opened #7090 "[Discovery] Logged-in homepage: Stakeholder interviews — Synthesis: Round 1 of interviews"
## Background

Epic #7085

We will be conducting stakeholder interviews for the logged-in homepage discovery per our [research plan](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/logged-in-homepage/2.0-redesign/discovery-and-research/research-needs.md#stakeholder-interviews).

## Tasks

- [ ] Synthesize research findings from round 1 st

[2020-03-20 21:51] #6338 closed

[2020-03-20 21:55] meganhkelley commented on #7033
Rescheduled for 3/24 to unblock team

[2020-03-20 22:11] mmiddaugh commented on #6743
@LouCarlozo63 (and team)...we are trying to standardize the display of hours of operation. @davidconlon will be getting business input but we'd love your input on a few of these:

**Sentence case or all caps?**
- Please Call for Hours

**Sunset or sundown?**
- Sunrise - Sundown
- Sunrise - Sunset

**Wording and case**
- _Appointments Only_ vs _By Appointment Only_
- _2nd and 4th Weds. each month.

[2020-03-20 22:16] mnorthuis commented on #6799
@lwalsh617 The feedback I had was removing the action words from the H1s of the main review pages.  The hub/spoke structure can and should still be focused on get/manage/more - so the first spoke would be "Request a VA decision review" and would include all content that revolves around doing that initial request.  The manage spoke would be something like "Manage your VA decision reviews and appeal

[2020-03-20 22:17] careyotto commented on #6748
Thank you, @peggygannon !

Talking points for Monday:

- Renaming section "Connected apps" vs. "Connected accounts"
- Empty state: "Get answers to Frequently Asked Questions" - why is this Title Case? On va.gov/sign-in-faq they use Sentence case...
- Empty state: "See the list of third-party applications" - What about something like: "Find apps to use" or "Explore third-party apps" instead?
- Re:

[2020-03-20 23:08] tlei123 commented on #4924
Yep.  Closing now.

[2020-03-20 23:08] #4924 closed

[2020-03-20 23:16] kfrz commented on #1604
Yeah looks like 10.0.0 will have some significant improvements to this, will definitely be useful to see what we can leverage and setup Prometheus alarms accordingly. We've previously had hours at a time go by with nobody noticing zero errors were getting into Sentry.

Easy enough to trigger that gauge-based alarm!

[2020-03-20 23:28] kfrz commented on #7061
@johnpaulashenfelter at first I agreed but after some more understanding of the playbooks, I believe we'd have to modify/copy the entire pipeline including the build and deploy jobs and adding new AWS resources. @omgitsbillryan might be better suited to answer the question "What's required to spin up a side-by-side comparison of Sentry 10 w/ our existing stack?"

We'll be diving into the 10.0.0 up

[2020-03-20 23:42] kfrz commented on #7062
Even with upgrade scripts we will want to think about separating the container infrastructure into further separate components and any potential ripple considerations this might have.

The new [docker-compose.yml](https://github.com/getsentry/onpremise/blob/master/docker-compose.yml) looks to include a couple more layers than we're providing for.

[code]

In fact, I'm not sure we're even able to u

[2020-03-21 00:27] patrickvinograd opened #7092 "Make SSOe-based login work with review instances"
Review instances are a developer facility that lets them see their work-in-progress code deployed to a private instance in the staging environment. Current non-SSOe sign-in works, but  requires some trickery to route the SAML callback to the correct instance instead of just staging-api.va.gov - there is a mechanism where the revproxy routes to the right instance using the RelayState parameter.

@o

[2020-03-21 00:39] tlei123 commented on #5952
@rebeccawalsh, would you mind scheduling up a Zoom meeting\* w/ @camerontesterman & me to discuss the user-scenarios & test-accounts further please?

Based on review of the Invision screens, I'm seeing more user-scenarios/-flows than the 5 test-accounts provided by @camerontesterman:

1. Vet has both permanent & temporary address pre-populated (in Staging API test-data).
1. Vet has only permanent

[2020-03-21 00:40] patrickvinograd commented on #7092
This ticket has context and helpful links about what was involved in getting the ID.me-based SAML flow working for review instances:

https://github.com/department-of-veterans-affairs/va.gov-team/issues/5090

[2020-03-21 01:27] jason-gcio commented on #6020
This looks merged - is it ok to close?

[2020-03-21 19:10] nedierecel opened #7093 "[Bug] VAOS Custom Dimensions Inherited in Previous Event"
## What happened?
After a VAOS error, cancellation, or submission occurs, Google Analytics is inheriting the previous custom dimensions for an unrelated event.

Example: I submitted a cancellation for VAOS, which sent the expected cancellation dataLayer values to Google Analytics. These custom dimensions were then inherited with a submission event.

![image.png](https://images.zenhubusercontent.co

[2020-03-21 20:22] jonwehausen commented on #7054
Hi @Samara-Strauss,

Please use this most updated [template ](https://analytics.google.com/analytics/web/template?uid=N-V2gGQzQkO-eRCfVuFq5Q) for your metrics moving forward.

We have corrected the override issue and are now explicitly calling out within the dashboard above.

Let us know if you have any more questions / concerns.

[2020-03-23 00:38] MickinSahni opened #7094 "Regression test Lighthouse Legacy Forms Search"
## User Story or Problem Statement
Given the legacy VA Forms Search needs to persist to provide form data to Lighthouse,
I want to

## Questions
-  What blockers exist on this ticket? What does this ticket block?

## Objectives or Key Results this is meant to further
-
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or hap

[2020-03-23 00:38] MickinSahni opened #7095 "Regression test + implement redirects Lighthouse Legacy Forms Search (prod item, launch item)"
## User Story or Problem Statement
Given the legacy VA Forms Search needs to persist
I want to ensure the new Find VA Forms implementation/redirects does not affect the Lighthouse forms process
so that form data continues to be made available.

## Questions
-  What blockers exist on this ticket? What does this ticket block?

## Objectives or Key Results this is meant to further
- Objective 2 - Dec

[2020-03-23 01:28] MickinSahni opened #7096 "Find Forms - "Must" Accessibility Items"
## User Story or Problem Statement
Given we want our new Find VA Forms feature to be available to people of every ability
I want to resolve "must" accessibility items we've identified.

## Tasks

- [x]  Manage focus when users press Search. Ideally we would move focus to the "Showing results for `SEARCH TERM`"

- [x] Confirm we're not using `aria-live` region

- [x] Focus will need to be managed w

[2020-03-23 02:11] MickinSahni opened #7097 "Implement Mobile-friendly Find VA Forms Search"
## User Story or Problem Statement
Given we want Find VA Forms available on as many platforms as possible
I want to implement an iterated Find VA Forms Search design
so that it's available on mobile devices.

Note: Original designs found here: https://github.com/department-of-veterans-affairs/va.gov-team/issues/6273#issuecomment-601890900

---
## Questions
- What happens if there are no results?

[2020-03-23 02:21] MickinSahni commented on #6273
Closing this out. Implementation happening here: https://github.com/department-of-veterans-affairs/va.gov-team/issues/7097

[2020-03-23 02:21] #6273 closed

[2020-03-23 02:26] MickinSahni commented on #6825
Must items--> https://github.com/department-of-veterans-affairs/va.gov-team/issues/7097

[2020-03-23 02:30] MickinSahni commented on #6668
@kelsonic does that mean we can cross out the first item from this list?: https://github.com/department-of-veterans-affairs/va.gov-team/issues/6668#issuecomment-601772101

[2020-03-23 02:44] MickinSahni commented on #6900
Hey @tzelei, we have a new version of these designs coming (https://github.com/department-of-veterans-affairs/va.gov-team/issues/7097).

I added testing scenarios above: https://github.com/department-of-veterans-affairs/va.gov-team/issues/6900#issue-582526494. I don't _think_ they'll change with the new designs, but you'll know best whether to move forward with this QA effort :)

[2020-03-23 02:56] MickinSahni opened #7098 "[Blocked] Allow dismissible homepage banners in PROD"
## User Story or Problem Statement
Given that we've received approval for users to dismiss banners in prod,
I want to remove the associated feature flag that's preventing this functionality.

---
## Tasks
- [ ] Toggle feature flag in prod

## Acceptance Criteria
- [ ]  Users can dismiss va.gov banners in prod

## Reference

Functionality currently in staging:
<img src="https://user-images.githubus

[2020-03-23 12:59] delli-gatti-michael commented on #6852
Functionality is now present in Staging. Closing this issue

[2020-03-23 12:59] #6852 closed

[2020-03-23 13:12] hughes-dustin commented on #6853
This was completed in work from [story 6852](https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/6852).

[2020-03-23 13:23] delli-gatti-michael commented on #6853
Tested with #6852. This functionality is already in Staging. Closing this issue

Example Institution: https://staging.va.gov/gi-bill-comparison-tool/profile/35000827

[2020-03-23 13:23] #6853 closed

[2020-03-23 13:30] LindseySaari commented on #7062
Description of some of the major components and dependencies found [here](https://blog.sentry.io/2019/05/16/introducing-snuba-sentrys-new-search-infrastructure)

[2020-03-23 13:41] andaleliz commented on #6322
Hi @nedierecel, I added two bullets under the General section of this issue - calling them out here so they can be easily identified.  Not totally sure this is possible but felt it was worth asking. Thank you!

- Is there a pattern to where people are in the site when they decide to search?
- What are the top ~20 organic search terms people are using to get to VA.gov?

[2020-03-23 13:47] leahkeeler opened #7099 "[Frontend] Form 40-10007 Modifications"
VA Form 40-10007 https://www.va.gov/burials-and-memorials/pre-need/form-10007-apply-for-eligibility/applicant-information

Add the following “burden” statement at the bottom of each application step page:

Respondent Burden: This information is collected in accordance with section 3507 of the Paperwork Reduction Act of 1995. Accordingly, we may not conduct or sponsor, and you are not required to r

[2020-03-23 13:55] lunascoop commented on #6838
@careyotto I am unable to view your calendar. I am trying to find it from my GovernmentCIO email account scooper@governmentcio.com.

[2020-03-23 13:56] mnorthuis commented on #6752
@RLHecht It should be the same as the other pages in the hub, so that is correct placement.

[2020-03-23 14:06] RLHecht commented on #6752
I think all the work here should be done now. Just confirming I can set this page to publish @jenniferlee-dsva @ncksllvn

[2020-03-23 14:10] kelsonic commented on #6668
@MickinSahni It does! Just validated the PR since it's been merged and we now have `per_page` pagination functionality! 🎉

[2020-03-23 14:31] rtwell commented on #7014
@peggygannon these words can probably use some of your attention.

![image](https://user-images.githubusercontent.com/12564977/77326951-ee0cf980-6cf0-11ea-8e28-9642f07467a6.png)

[2020-03-23 14:33] #6289 closed

[2020-03-23 14:33] #6964 closed

[2020-03-23 14:36] rtwell commented on #7011
@peggygannon this will need your expertise

![image](https://user-images.githubusercontent.com/12564977/77327835-1ba67280-6cf2-11ea-8f89-540f1343cec0.png)

[2020-03-23 14:37] bradl3yC commented on #6466
This is on hold until we can groom / discover further.

[2020-03-23 14:38] delli-gatti-michael commented on #6803
Changes are now in Staging. Awaiting UI/UX team review

[2020-03-23 14:38] careyotto commented on #6838
@lunascoop - sorry about that. calendar should be visible now.

On Mon, Mar 23, 2020 at 6:55 AM lunascoop <notifications@github.com> wrote:

[2020-03-23 14:44] delli-gatti-michael commented on #6803
![Screen Shot 2020-03-19 at 9.08.57 AM.png](https://images.zenhubusercontent.com/5c07f000391a6f6357adc430/3bf59419-1d84-4803-a1c0-fb7b9d6a364c)

[2020-03-23 14:51] delli-gatti-michael commented on #6803
TestRail Test Case:
https://dsvavsp.testrail.io/index.php?/cases/view/389

[2020-03-23 14:52] leahkeeler opened #7100 "[Backend] Populate test user data for participants"
## User Story or Problem Statement
As a research participant testing the medical device reordering system I would like to see my own data populated - however to protect PII I would like to log in with a test user credentials.

## Goal
_A test user account populated with data from research participants.

## Tasks
- [ ] _Get participant's names and unique identifier from research team
- [ ] _Tie par

[2020-03-23 14:55] camerontesterman opened #7101 "Create GET /supplies Endpoint for DLC stand-in API"

[2020-03-23 14:55] erikphansen commented on #6977
@mshea0606 @Samara-Strauss This work was merged in as part of https://github.com/department-of-veterans-affairs/vets-website/issues/11952. It can be viewed on staging with test user judy.morrison@id.me. That test user will see the alert on their My My VA Dashboard with "fallback" hours of 9-5 since that user is not a patient in either VISN 8 or VISN 23, but are instead a patient in one of the spec

[2020-03-23 14:57] camerontesterman opened #7102 "Get 10 Staging Accounts Created for Usability Testing"

[2020-03-23 14:59] camerontesterman opened #7103 "Deploy DLC stand-in API"

[2020-03-23 15:02] ncksllvn commented on #5648
I started looking into which pages use CTA widgets, specifically those for Claims. The only page that uses the React-based CTA widget is `/claim-or-appeal-status`. The rest of these pages use other elements - sometimes a just a link (that looks like a button) and other times a wizard, which is similar but contains steps to help guide the user before actually starting the form. Because of these dif

[2020-03-23 15:06] Samara-Strauss commented on #7054
Great! Thanks for this!

Question — When did the fix go live to correctly differentiate between suggestions and overrides? The numbers are still wonky so I want to make sure I can test that the fix actually did work by isolating the data from the date the fix went out.

[2020-03-23 15:09] bradl3yC commented on #7054
This was merged Friday and is not in production yet.  It should go into
production today.

On Mon, Mar 23, 2020 at 11:06 AM Samara Strauss <notifications@github.com>
wrote:

[2020-03-23 15:11] desireeturner commented on #6879
@ksantiagomorgan6 @ccruzgra @amyknox We discussed this on the UX-BA sync this morning and agreed to the following error messaging:

**We've run into a problem.**
We're sorry. Something went wrong on our end. Please refresh this page or check back soon.

[2020-03-23 15:14] ncksllvn commented on #6752
Amazing! We have some coordination we need to do before we can publish unfortunately, outlined here, https://github.com/department-of-veterans-affairs/va.gov-team/issues/6756. But I think we can plan on making this happen tomorrow! CC: @MickinSahni

[2020-03-23 15:16] Samara-Strauss commented on #6748
@careyotto question for you — what profile data do these apps have access to? I imagine that would be a question of mine if I were a veteran, and I'd like to know the answer to it. I realize it may vary some between apps, but I think it would be helpful if we can give a broad definition (eg. "These apps may have access to your name, birth date, military history, etc...").

[2020-03-23 15:19] bradl3yC commented on #2270
@nedierecel @jonwehausen is this still needed for analytics? Is analytics aware of this change request?

[2020-03-23 15:22] MickinSahni opened #7104 "Covid-19 Redirect Requests"
## Acceptance Criteria
- [ ] Redirects are implemented and validated as outlined in the table below

---
## Background

### Requestor team info
Public Websites

### Implementation date
Canonical urls are already live at:
- https://va.gov/coronavirus
- https://va.gov/coronavirus-veteran-frequently-asked-questions/

Please indicate when the redirect(s) needs to be implemented"
- [ ] **On the same da

[2020-03-23 15:22] kelsonic opened #7105 "Yellow Ribbon Desktop Tweaks"
# Description

There are a few items that need tweaking on `/education/yellow-ribbon-participating-schools` to be pixel-perfect on desktop devices.

## Acceptance criteria
- [x] Shrink first paragraph width to reflect the [design](https://vsateams.invisionapp.com/share/P4W04QPWHTK#/screens/405236342).
- [x] Update `<h1 />` on search results page to `Yellow Ribbon school search results`.
- [x] Lowe

[2020-03-23 15:23] Samara-Strauss commented on #6977
@erikphansen so just to confirm — for people who are actually in VISNs 8 and 23, they'll see these hours that we talked about in #6975 :

- VISN 8: 8:00 a.m. to 4:00 p.m. Monday through Friday
- VISN 23: 7:30 a.m – 4:30 p.m Monday through Friday

If so, we're good to go! We can close this an open a ticket to push to production when we're ready.

[2020-03-23 15:25] erikphansen commented on #6977
@Samara-Strauss Correct! I know you're not a coder but this is pretty clear to read I think :) https://github.com/department-of-veterans-affairs/vets-website/blob/9d09c1f5e3515735fa12256ef46c3c0467ff0310/src/applications/personalization/dashboard/covid-19.jsx#L153-L164

[2020-03-23 15:26] kelsonic opened #7106 "Yellow Ribbon mobile responsiveness"
# Description

The [new Yellow Ribbon pages](https://va.gov/education/yellow-ribbon-participating-schools/) does not currently match the [design spec](https://vsateams.invisionapp.com/share/36W0CAZHJ2U#/screens/405289291) on mobile.

Staging is here:  https://staging.va.gov/education/yellow-ribbon-participating-schools/

## Acceptance Criteria
- [ ] Match the [design spec](https://vsateams.invisio

[2020-03-23 15:27] Samara-Strauss commented on #7054
Thanks, @bradl3yC. If this issue looks like we've fixed it by Wednesday (giving a full 24 hours of data on Tuesday to determine this), then we can close out this ticket. But let's leave it open until then just in case.

[2020-03-23 15:30] Samara-Strauss commented on #6977
@erikphansen back in 2012, I tried to do a javascript course on Codecademy. Needless to say, I didn't make a career switch to being a developer, BUT the one thing I learned about was if/else statements. So, proudly, I can read that code 😃 It looks great. I'm gonna close this an open a ticket/add it to the epic to launch to prod when we are ready.

[2020-03-23 15:30] #6977 closed

[2020-03-23 15:30] jenniferlee-dsva commented on #6752
So exciting! @RLHecht - could you be sure to let Matt Self know when this goes live? Thank you!

[2020-03-23 15:31] Samara-Strauss commented on #6975
Done! Alert is on staging/on prod behind a feature flag. We'll launch it when we get the go-ahead from our stakeholders.

[2020-03-23 15:31] #6975 closed

[2020-03-23 15:33] Samara-Strauss commented on #6976
Erik confirmed that he is able to do this!

So, we should be good on copy pending any stakeholder feedback. I'm going to wait to circulate until we hear from them that they do indeed want us to advertise this to veterans. In the meantime, closing this ticket. We can reopen or open a new ticket if we need to revisit copy.

[2020-03-23 15:34] andaleliz commented on #6895
- meeting follow-up with additional info: https://dsva.slack.com/archives/C52CL1PKQ/p1584719236398700

[2020-03-23 15:37] MickinSahni commented on #6798
2020-03-23 PW Standup
- Laura to confirm with Jen that we don't need SME approval
- Randi to put preview links into this ticket for Jen to review

[2020-03-23 15:38] MickinSahni commented on #6753
2020-03-23 PW Standup
- Closing this out!

[2020-03-23 15:38] #6753 closed

[2020-03-23 15:39] mshea0606 commented on #7054
@jonwehausen Hey Jon! As we discussed earlier it would be great if you could include "count of save errors" data from the former state of updating address info related in the new Address Validation dashboard. This would allow us to see the impact/drop in "save errors" as a result of address validation.  @Samara-Strauss

[2020-03-23 15:41] desireeturner opened #7107 "Full Accessibility & 508 Office Audit: STEM updates to the Education Benefits Wizard & Form 22-1995"
## Steps to complete the Full Accessibility & 508 Audit:
- [x] Product Manager: create issue and fill in feature name in the title and other bolded information appropriately
- [ ] Practice area reviewers create sub-issues attached to this one with feedback for your team on *feature name*
- [ ] **Requesting team** completes attached feedback tickets based on definition of done included in each prac

[2020-03-23 15:41] MickinSahni commented on #6668
2020-03-23 PW Standup
- @MickinSahni: create a ticket for country dropdown design, not sure what unique ids are for non-US countries. complication-don't have access to GIDS in prod
   - need YR program source CSV from GIDS prod likely from Matt Self (tag him in that)
   - thinking this new one will be part of Sprint 18 (once it's created)

[2020-03-23 15:42] MickinSahni commented on #7105
2020-03-23 PW Standup
- Ready to be validated as soon as it's deployed [this afternoon]

[2020-03-23 15:44] Samara-Strauss opened #7108 "[FE] COVID-19 My VA alert: Launch alert to prod"
## Background

Epic #6974

We need to show an alert that links patients to an existing VA health chat tool on the My VA dashboard. This alert should only show for patients with access to this tool, which is currently patients that go to hospitals in VISNs 8 and 23 (VISN = Veterans Integrated Service Network = essentially a group of VA hospitals).

Build was completed in #6977, but the feature has

[2020-03-23 15:46] Samara-Strauss commented on #7054
@mshea0606 did you go to the new link? This info appears to already be on there. https://analytics.google.com/analytics/web/importing/?authuser=0&utm_source&utm_medium&utm_term&utm_content&utm_campaign#importing/a50123418w177519031p176188361/%3F_.objectId%3DN-V2gGQzQkO-eRCfVuFq5Q%26_.selectedProfile%3D/

<img width="1051" alt="Screen Shot 2020-03-23 at 11 46 24 AM" src="https://user-images.githubu

[2020-03-23 15:48] MickinSahni commented on #2052
2020-03-23 PW Standup
- Awaiting vetting before we implement this ticket by PW!

[2020-03-23 15:50] MickinSahni commented on #6756
- Drupal page ready for launch
- Nick prepping for launch (no date specified)

[2020-03-23 15:53] mshea0606 commented on #7054
@Samara-Strauss Jon mentioned we could bring in those same data tiles in addition to what already exist  but for pre- address validation launch date range  (so we can compare pre-post launch numbers)

[2020-03-23 15:55] #6870 closed

[2020-03-23 15:55] andaleliz opened #7109 "Search results don't update if criteria is updated on results page"
## What happened?
Search results don't update after country is updated on results page and another search is conducted.

School website links should be lowercase for readability.

## Specs:
- Device: Macbook
- Browser: Chrome
- Test User _(if applicable)_: n/a

## Steps to Reproduce
1. Visit https://staging.va.gov/education/yellow-ribbon-participating-schools
2. Select United States
3. Select Colo

[2020-03-23 15:55] amyknox commented on #6870
Shantrisha reports "I have nothing further to add." 3/23

[2020-03-23 15:59] mnorthuis commented on #7104
I added a couple more to round out the plural "faqs" scenario and 1 to represent "covid-19".  These are good to go.

[2020-03-23 16:00] careyotto commented on #6748
@Samara-Strauss It varies from app to app. If user clicks "View more about [app]" link, widget expands to show exactly what information is shared for that particular app. Health or service records will be the most common types of data shared, but it may only be partial records.

[2020-03-23 16:05] lunascoop commented on #6838
@careyotto @mnorthuis I've reviewed both calendars and will tentatively schedule a kickoff meeting for noon EST tomorrow. Let me know if that won't work.

[2020-03-23 16:10] MickinSahni commented on #7104
Thanks, @mnorthuis.
Couple follow-up questions:
- What's the best approach to handle special characters in any of the variations above i.e. if somebody omits a `-` or alternative characters are inadvertently used?
- Do we need wildcard variations to account for anything people might place before/after the `/` in a given url e.g. `/coronavirus-veteran-faq/update` or `/covid-19/questions`?

[2020-03-23 16:10] artsymartha68 commented on #6366
@rtwell is going to take a look at this.

[2020-03-23 16:25] mnorthuis commented on #7104
@MickinSahni If we want to make sure we capture all of those variations, then we need them here.  If we are unsure, we should set up some analytics to watch for variations that create 404s coming in and we can add more to this list if something becomes recurring...we can't possibly capture all variations though.

For the terms added after the trailing slash, work with Nick and Kelson to make sure

[2020-03-23 16:27] MickinSahni commented on #7104
This is related to the special characters, right?

Gotcha 👍

[2020-03-23 16:28] ericbuckley opened #7110 "alternative User UUID"
EPIC #5290 approach towards solving the missing ID.me UUID by using an Account UUID resulted in a lot of code changes to models that used a User's UUID as a foreign key.  While this solution may be a good idea long term, it will require a fair amount of testing because of the number of changes introduced.

To roll out SSOe authentication we just need to guarantee that all Users have a unique UUID,

[2020-03-23 16:29] ericbuckley commented on #5290
@patrickvinograd should we close this in favor of #7110 or put it in the ice box for someone to tackle in the future?

[2020-03-23 16:32] sonntag-adam opened #7111 "CT: Duplicate caution flags on search results"
Duplicate caution flags
Visit the link and observe duplicates
https://staging.va.gov/gi-bill-comparison-tool/search?category=school&name=STEVENS-HENAGER+COLLEGE-MURRAY

https://staging.va.gov/gi-bill-comparison-tool/search?category=school&name=STEVENS-HENAGER+COLLEGE-OGDEN

https://staging.va.gov/gi-bill-comparison-tool/search?category=school&name=ABILENE+CHRISTIAN+UNIVERSITY

[2020-03-23 16:32] #6678 closed

[2020-03-23 16:33] ericbuckley opened #7112 "configure myvahealth login redirect URL for production"
Our production myvahealth users should be redirected back https://patientportal.myhealth.va.gov/ after the successfully login via the standalone login page.

---
## Tasks
- [ ]  Update the production settings yaml in the devops repo to configure the `sso.ssoe_redirects.myvahealth` to put to the above URL

[2020-03-23 16:36] Kimberley2019 opened #7113 "[Tier 3]: User Claims Issue"
**Issue Description:** User is experiencing issues when attempting to submit and/or view claims.  Keeps getting error message, which are included in the descriptions below.  Images were unable to be viewed.

**Priority:** Medium

**Total Number of Issues:** 1

**Issue Number and User Description:**02526097
Case Notes

Veteran states that he is having an issue with VA.gov not having everything to d

[2020-03-23 16:36] sonntag-adam opened #7114 "CT: Nulls on caution flag for search results"
Visit https://staging-api.va.gov/v0/gi/institution_programs/search
Observe null values for "caution_flag"

[2020-03-23 16:38] Samara-Strauss commented on #6466
On hold until we can get some design.

[2020-03-23 16:41] leahkeeler opened #7115 "Debt Letters Discovery | Functional and Technical"
## Product Outline
[Link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/product-management/product-outline-template.md)

## High Level User Story/ies
As a veteran I would like the ability to see any debt I have incurred with the VA on-line in a centralized page with instructions on how I can remediate the debt or next steps

## Hypothesis or Bet
**If this is do

[2020-03-23 16:41] rileyorr opened #7116 "[Frontend] MDT - Add breadcrumbs to the form's Introduction page"
## User Story or Problem Statement
As a veteran accessing the order form, I need to see breadcrumbs on the form introduction screen so I keep track of where I am on VA.gov.

## Goal
_Add [breadcrumbs from the MDT prototype](https://vsateams.invisionapp.com/share/6CVSW1NTJB4)to the MDT's introduction page_

## Objectives or Key Results this is meant to further
- _Finalize the MDT's order form_
---

[2020-03-23 16:43] SMLuthi commented on #6764
The json schema changes have been finalized and merged in. All that is left to do is write ticket(s) that will make changes on the vets-api side for adopting the schema changes that were made.

[2020-03-23 16:46] zurbergram commented on #7114
Sample insert query to get data into local for testing

[code]

[2020-03-23 16:46] zurbergram commented on #7114
https://github.com/department-of-veterans-affairs/gibct-data-service/pull/625

[2020-03-23 16:47] annaswims commented on #6769
The Benefits-memorial team has this ticket and I think it would be a good opportunity for us to work on with them to understand needs https://github.com/department-of-veterans-affairs/va.gov-team/issues/6813

[2020-03-23 16:47] zurbergram commented on #7114
http://localhost:4000/v0/institution_programs/

[2020-03-23 16:47] hughes-dustin commented on #7020
GIDS:
  Branch: bah-7020
  PR: https://github.com/department-of-veterans-affairs/gibct-data-service/pull/624

vets-website:
 Branch: bah-7020
 PR:

[2020-03-23 16:54] AZSchneider commented on #7113
@Kimberley2019 I can reach out to the veteran and set up a call. What's the best way to get the veteran's contact info?

[2020-03-23 16:56] Kimberley2019 commented on #7113
Let me get that information for you.  Hold please.

[2020-03-23 16:59] mnorthuis commented on #7104
@MickinSahni Yes, that comment is regarding the special characters and/or misspellings.

[2020-03-23 17:00] dneel-bah opened #7117 "CF: Remove Prod Flag for all Caution Flag Enhancements"
As a developer, I need to remove the prod flag for the Caution Flag updates on the CT Search Results so that they are available in the production environment.

## Assumptions:
1. EDU has reviewed and signed off on the changes as of [TBD].
2. UX has reviewed and signed off on the changes as of [TBD].

## Acceptance Criteria:
1. The functionality in the following stories is available in the producti

[2020-03-23 17:00] mmiddaugh commented on #7027
Acknowledging feedback, @jenstrickland
@rtwell to review

[2020-03-23 17:02] rtwell commented on #7027
@jenstrickland

under the *Should* section for accessibility feedback, fo2 number 2: no, I don't think we want a different focus state treatment than the rest of va.gov.

[2020-03-23 17:03] #6668 closed

[2020-03-23 17:05] joanneesteban opened #7118 "Analytics Report for COVID VA Health Response"
# Metrics Reporting Request

## Description
Who is this request for?

COVID Response for VA.gov:
- Chante L-S
- Clarice C
- Leah B

Primary Stakeholder: Lauren A. + VHA + VA Health Stakeholders

## Primary Goal
Build a quick domo prototype dashboard that can incorporate CSV updates weekly while we wait for BigQuery acquisition.

### User Story
As a healthcare decision maker, in order to prevent VA

[2020-03-23 17:07] MickinSahni commented on #7104
Thanks for vetting, @mnorthuis. Moving this over to Public Websites board for implementation. cc @jenniferlee-dsva

[2020-03-23 17:21] micahchiang commented on #6744
PR merged.

[2020-03-23 17:21] #6744 closed

[2020-03-23 17:22] micahchiang commented on #6745
PR merged.

[2020-03-23 17:22] #6745 closed

[2020-03-23 17:30] johnpaulashenfelter opened #7119 "Update native installation document"
There are a lot of bits of outdated information here: https://github.com/department-of-veterans-affairs/vets-api/blob/master/docs/setup/native.md

* Ruby version is wrong
* No mention of pg (11.x) and postgis versions (2.5)

probably some other things as well.

These are straightforward changes and likely to be worth the effort.

[2020-03-23 17:31] AnneHurley opened #7120 "Redirect Request - Special disability payments (auto, clothing, Medal of Honor)"
### Description
*This is a detailed description of the request. It should include background information and reason for the request.*

### Requestor team info
Sandy Tadeo, VBA
@AnneHurley
@lunascoop

### Implementation date
Date new URL(s) will be live: *enter date new pages/URLs will be live*

Please indicate when the redirect(s) needs to be implemented"
- [ ] On the same date the new URLs launch

[2020-03-23 17:32] johnpaulashenfelter commented on #7119
Ubuntu has some incorrect packages ./bin/install-ubuntu-packages -- pg10 and postgis 2.4 for example

[2020-03-23 17:32] sporeboy commented on #6760
Text revisions tracked here: https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/teams/vsa/teams/ebenefits/features/view-update-dependents/research-design/screen-text

[2020-03-23 17:37] sporeboy commented on #6760
Peggy G. notified; she may wait for stakeholder feedback to review.

[2020-03-23 17:37] #6760 closed

[2020-03-23 17:43] annaswims commented on #6813
VSP is in the middle of upgrading Sentry (https://github.com/department-of-veterans-affairs/va.gov-team/issues/6769), which hopefully will leave us with better search.  Also it will make the slack integration work better and a [variety of other upgrades ](https://blog.sentry.io/2020/01/07/self-hosted-sentry-10-is-ready-to-serve-get-it-while-its-hot)

[2020-03-23 17:43] saneshark opened #7121 "identifiers.json call is occasionally returning an "Unknown Key Identifier" error"
Reference issue in Sentry:
http://sentry.vfs.va.gov/vets-gov/platform-api-production/issues/100106/?query=vaos

When fetching:
https://internal-dsva-vagov-prod-fwdproxy-2075821597.us-gov-west-1.elb.amazonaws.com:4463/mvi/v1/patients/session/identifiers.json

We're getting an error: An unexpected error exists in the MVI system's response: Unknown Key Identifier: UNKNOWN

-- We don't know why this h

[2020-03-23 17:46] #6682 closed

[2020-03-23 17:52] joanneesteban commented on #7118
### First Tasks

**Drafts:**
1. Grab GA URLs for:
    - FAQ
    - Banner
2. Do we have tracking for [this URL](https://www.publichealth.va.gov/n-coronavirus/)? If not, let @clantosswett or @joanneesteban know to triage this question.
3. Brainstorm health analytics that we're currently tracking that might be helpful with the user story.

^ @jonwehausen @amycesal

@clantosswett - any other context t

[2020-03-23 17:54] Mottie commented on #7113
When we meet with this user, can we try to get them to use a desktop or laptop instead of an android or iOS device? It'll make it easier to troubleshoot

[2020-03-23 17:55] ncksllvn commented on #7104
@mnorthuis I'm looking at the `Redirects for existing VA Public Health Coronavirus page` section. Those are calling for a redirect to `/coronavirus` which also redirects. Is that correct?

[2020-03-23 17:56] saneshark opened #7122 "Fetching list of appointments is returning a 500 error occasionally"
Sentry issue: http://sentry.vfs.va.gov/vets-gov/platform-api-production/issues/106679/events/6043227/

When fetching appointments for example:

/appointments/v1/patients/REDACTED_ICN/appointments?endDate=2021-03-22T06%3A00%3A00Z&pageSize=0&startDate=2020-03-22T06%3A00%3A00Z&useCache=false

We're encountering a 500 error saying something like: An error occurred (ID: e947a92b-a14f-4874-8c63-79a28f29

[2020-03-23 18:00] saneshark opened #7123 "Appointment Request is returning a 500 error"
Sentry Issue tracking: http://sentry.vfs.va.gov/vets-gov/platform-api-production/issues/107837/events/?query=vaos

There were quire a few occurrences of this error and it seems to have MAYBE resolved itself, but its still a worthwhile exercise to track down what caused the 500 error in Kibana.

A POST request to: /var/VeteranAppointmentRequestService/v4/rest/appointment-service/patient/ICN/REDACTE

[2020-03-23 18:01] mnorthuis commented on #7104
@ncksllvn So sorry, didn't catch that one.  I have updated above with the actual final landing page so we don't have multiple jumps.  Thank you for catching!

[2020-03-23 18:04] desireeturner opened #7124 "CT: Remove prod flag for #6662"
As a developer, I need to remove the prod flag for the updates to the timeout error message on Comparison Tool so that they are available in the production environment.

## Assumptions:
1. EDU has reviewed and signed off on the changes as of [TBD].
2. UX has reviewed and signed off on the changes as of 03/20.

## Acceptance Criteria:
1. The functionality in #6662 is available in the production env

[2020-03-23 18:07] marriej commented on #6058
Closing this issue. Work continues under #7110

[2020-03-23 18:07] #6058 closed

[2020-03-23 18:08] rileyorr opened #7125 "[Design] MDT - Review content for the Introduction page (Unauth)"
## User Story or Problem Statement
As a veteran that is not logged in, I need to be able to log into my account from the form's introduction page so I can place an order.

## Goal
_Review the content in the informational alert that prompts the veteran to sign in before placing an order. Currently, the content is written as if they're placing an application, which may be confusing because they aren

[2020-03-23 18:11] rileyorr opened #7126 "[Frontend] MDT - Update content on the Introduction page (Unauth)"
## User Story or Problem Statement
As a veteran that is not logged in, I need to be able to log into my account from the form's introduction page so I can place an order.

## Goal
_Update the content in staging with the content provided by the design team._

## Objectives or Key Results this is meant to further
- _Finalizing the MDT ordering form_
---
## Tasks
- [ ] _Update the informational alert

[2020-03-23 18:13] patrickvinograd opened #7127 "Presence/absence of MHV or SSOe shared cookie should not interfere with one another"
TK

[2020-03-23 18:13] ericbuckley commented on #6060
closing in favor of #7110

[2020-03-23 18:13] #6060 closed

[2020-03-23 18:13] ericbuckley commented on #6061
closing in favor of #7110

[2020-03-23 18:13] #6061 closed

[2020-03-23 18:14] ericbuckley commented on #6057
closing in favor of #7110

[2020-03-23 18:14] #6057 closed

[2020-03-23 18:14] Samara-Strauss commented on #7054
@mshea0606 for what time period would the pre-data be?

[2020-03-23 18:19] patrickvinograd commented on #7127
the authentication_and_sso  concern had logic around figuring out if a user should be logged in or logged out based on various combinations of VA.gov and MHV cookie (and in the future, IAM cookie).

We want to make sure that in the interval while we are supporting the MHV and IAM cookies, that they don't conflict with one another:

- Right now, absence of MHV shared cookie indicates the user logge

[2020-03-23 18:19] delli-gatti-michael commented on #7020
### Local Testing Results:

#### Flags are showing as expected for regular schools
![Screen Shot 2020-03-23 at 1.32.22 PM.png](https://images.zenhubusercontent.com/5c07f000391a6f6357adc430/ea439e8a-44f6-4896-9152-feb6b8e418ba)

#### All Vettec institutions are shown the same regardless of the date
![Screen Shot 2020-03-23 at 2.16.17 PM.png](https://images.zenhubusercontent.com/5c07f000391a6f6357ad

[2020-03-23 18:19] patrickvinograd commented on #7127
Might be worth putting together a quick state diagram describing the  current/interim/final behavior w.r.t. cookies.

[2020-03-23 18:24] nedierecel commented on #7093
@narin I'm looping in my teammate @bsmartin-ep to review, as there still appears to be an issue where dataLayer values sent on previous events are inherited on the next event. I attempted a workaround in Google Tag Manager.

@bsmartin-ep To recreate, you can use the GTM preview link and user name I provided. This preview link has the most updated GTM settings.

[2020-03-23 18:24] MickinSahni opened #7128 "Include non-US countries in Yellow Ribbon"
### User Story or Problem Statement
Given Veterans look for Yellow Ribbon programs in and out of the US,
I want to ensure the YR experience includes all countries
so that folks can find the information they need.

### Objectives or Key Results this is meant to further
-  Increased self-service
---
### Tasks
- [x] Gain access to Yellow Ribbon program data
- [x] Load the CSV ([YellowRibbonProgramSou

[2020-03-23 18:25] MickinSahni commented on #7128
Hi Matt, do you have access to YR program source CSV from prod GIDS you could share? We're hoping it'll help us include all countries in the YR tool. @mattpointzxer0

[2020-03-23 18:26] hinzed1127 commented on #5373
Right now I'm having this state be triggered by navigation to the login page with query params `logged_out=true` (ie, https:/staging.va.gov/sign-in?logged_out=true). Once we land on if this is the exact value we want, this will need to be communicated to Cerner's dev team.

cc @ambikaroos

[2020-03-23 18:29] rileyorr opened #7129 "[Frontend] MDT - Update primary green buttons on the Introduction page (auth)"
## User Story or Problem Statement
As a veteran that is logged in, I need to be able to progress from the form's Introduction page into the ordering flow so I can place an order.

## Goal
_Update the design in staging so it aligns with the [prototype](https://vsateams.invisionapp.com/share/6CVSW1NTJB4)_

## Objectives or Key Results this is meant to further
- _Align the design in staging with the

[2020-03-23 18:35] hinzed1127 commented on #6642
Similar to the account_id changes being split out on the api side, I'm going to split this up into tickets per page.

Since this requires parallel changes in the CMS and vets-website, doing a first pass of that migration with the scheduling page will hopefully get most conversation happening there and then the subsequent pages can quickly follow suit

[2020-03-23 18:39] jonwehausen commented on #7054
Hi @Samara-Strauss and @mshea0606,

Thanks for your patience and notes here.

@Samara-Strauss -- Regarding your question [here](https://github.com/department-of-veterans-affairs/va.gov-team/issues/7054#issuecomment-602673857), following post-launch testing there was an additional tweak we published out yesterday (3/22) afternoon to improve the accuracy of the numbers of validations needed around w

[2020-03-23 18:39] mmiddaugh commented on #7033
Feedback requested from the following practice areas during kickoff 3/24:
1. Design
2. Accessibility
3. QA

[2020-03-23 18:44] mmiddaugh commented on #6743
From @LouCarlozo63
**Sentence case**  -> Please call for hours
**Sunset** -> Sunrise - Sunset
**Wording and case**
-> By appointment only
-> 2nd and 4th Wednesdays each month. Call for hours. (Wed. etc. are used exclusively for exact dates, i.e. Wed. Dec. 2)

[2020-03-23 18:47] mattpointzxer0 commented on #7128
From PROD? Nah. I'll slack you on gh along w/someone in EDU that can potentially help. Do you know the name of the .csv that contains the data you need?

[2020-03-23 18:47] mattpointzxer0 commented on #7128
@MickinSahni ^^^

[2020-03-23 18:49] ericbuckley commented on #4440
@hinzed1127 I just merged https://github.com/department-of-veterans-affairs/vets-api/pull/4042 which should unblock this.

When a user lands on the stand alone login page, we should copy all query parameters form the request over to the API call made to `/v1/sessions/<type>/new` call made.  From there the user should be redirected back to cerner upon successful authentication.  Let me know if you

[2020-03-23 18:55] sonntag-adam commented on #6662
In staging, closing story

[2020-03-23 18:55] #6662 closed

[2020-03-23 18:56] #6269 closed

[2020-03-23 18:56] erikphansen commented on #6269
we now have a `profile_show_profile_2.0` feature flag for this work

[2020-03-23 19:00] camerontesterman opened #7130 "Create MDOT Test User Mock Data for QA"

[2020-03-23 19:06] RLHecht commented on #7077
@AnneHurley , the automobile and clothing allowance pages have now been updated to link to our 2020 special allowance rates page. These pages are published. I also published your updates to the 2020 special allowance rates page. If there's nothing more on this ticket, should it be moved to validate?

[2020-03-23 19:11] MickinSahni commented on #7128
Thanks, Matt. @kelsonic, do you happen to know the file name?

[2020-03-23 19:13] sonntag-adam commented on #7114
No longer null
![Screen Shot 2020-03-23 at 3.13.13 PM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/b9a764ec-0ab4-484d-be8a-96df5e9366e5)

[2020-03-23 19:18] AnneHurley commented on #7077
@RLHecht Yes, move to validate. Will send the updated rates page link to Sandy and Adrianne. thanks

[2020-03-23 19:26] delli-gatti-michael commented on #7020
Local Testing complete

[2020-03-23 19:34] kelsonic commented on #7104
PR merged @mnorthuis! 🎉

[2020-03-23 19:41] dneel-bah opened #7131 "Project Kickoff Sec 103 Update"
## Steps to complete Project Kickoff
- [x] Product Manager: create this issue and fill in feature name in the title and other bolded information appropriately
- [x] Link to this issue once created in #vfs-platform-support in Slack; tag @ Megan Kelley @ AndreaHewitt
- [x] Andrea and Megan will schedule meeting with VSP reviewers and **VA.gov Education** attendees (as listed below)
- [x] VSP <> **VA

[2020-03-23 19:48] MickinSahni commented on #7104
Validated the above url tables as well as a couple wildcard tests:
- `http://va.gov/veteran-coronavirus-faqs/adfsdf`
- `http://va.gov/covid/va/test/`

[2020-03-23 19:48] #7104 closed

[2020-03-23 19:51] Samara-Strauss commented on #7054
Tbh I don't think pre-launch data is necessary enough to jump through those hoops. Everything we have there now is helpful, and we can easily adjust the date to get the "pre" metrics.

[2020-03-23 19:53] dneel-bah opened #7132 "Project Kickoff - Estimate Your Benefits Update"
## Steps to complete Project Kickoff
- [x] Product Manager: create this issue and fill in feature name in the title and other bolded information appropriately
- [x] Link to this issue once created in #vfs-platform-support in Slack; tag @ Megan Kelley @ AndreaHewitt
- [x] Andrea and Megan will schedule meeting with VSP reviewers and **VA.gov Education** attendees (as listed below)
- [x] VSP <> **VA

[2020-03-23 19:56] mshea0606 commented on #7054
@Samara-Strauss @jonwehausen Agreed

[2020-03-23 19:57] #6953 closed

[2020-03-23 20:02] jenniferlee-dsva commented on #7104
Hello - Is this already live? I just tried a live test with `va.gov/faq-coronavirus-veteran` ,  and it did not redirect to the canonical page https://www.va.gov/coronavirus-veteran-frequently-asked-questions/

[2020-03-23 20:03] RLHecht commented on #6375
@MickinSahni I think this is another ticket that @ncksllvn or @kelsonic would need to address and not me.

[2020-03-23 20:04] #7105 closed

[2020-03-23 20:06] kelsonic commented on #7128
@mattpointzxer0 it should be something like `yellow_ribbon_programs_source.csv` I believe! 🙂Basically whatever is on PROD for GIDS for the Yellow Ribbon Program CSV

[2020-03-23 20:06] jenniferlee-dsva commented on #7104
Oh - I see Mikki's comment above. If we want to track for additional variations from list above, I'm fine with that. It was just random that I tested with a version that wasn't on the list!

[2020-03-23 20:19] MickinSahni commented on #6375
Hey @jenstrickland
- can you clarify if this is a Must vs. a Should? I see both in the first comment.

[2020-03-23 20:20] #6726 closed

[2020-03-23 20:27] meganhkelley commented on #7131
Scheduled 3/31 @ 11 am ET (stacked w/ #7132)

[2020-03-23 20:27] meganhkelley commented on #7132
Scheduled 3/31 @ 11 am ET (stacked w/ #7131)

[2020-03-23 20:35] ncksllvn commented on #6375
This isn't the best fix, but those pages are in Markdown over at vagov-content, so we should just fix the heading tags to be semantic. IDK if this problem is also seen on Drupal pages.

I like this idea, but it sounds like that entails restructuring the markup of a design system [component](https://design.va.gov/components/alertboxes), so it's a big lift and a site-wide issue.

[2020-03-23 20:37] MickinSahni commented on #6752
@RLHecht
Can you drop an estimate on this and add it to this sprint?
Also, I assume this means we can close this ticket out too?

[2020-03-23 20:37] andaleliz opened #7133 "Yellow Ribbon tool - focus does not move on search"
## What happened?
When you conduct a search, the focus stays on the search button after clicking

## Specs:
- Device: Macbook
- Browser: Chrome
- Test User _(if applicable)_: n/a

## Steps to Reproduce
- URL: https://staging.va.gov/education/yellow-ribbon-participating-schools/
- Test User _(if applicable)_: n/a
1.  Visit the URL above
2. Conduct a search
3. Observe the focus border remaining on t

[2020-03-23 20:39] #6879 closed

[2020-03-23 20:40] MickinSahni commented on #6756
From #6752

Sweet. This ticket is associated with the next sprint, but if we think it can be all wrapped up by tomorrow end of day then let's do it @ncksllvn

[2020-03-23 20:43] andaleliz commented on #7133
@kelsonic related, but not in an issue yet because I'm not sure if it's still "out there" to be worked on.  Want to bring it up here in case it would be easy to address while you're working on this.

Per the [dev notes in this screen](https://vsateams.invisionapp.com/share/P4W04QPWHTK#/405289244_Results_-__dev_Notes), the h1 should also have a `span` element inside:
`<span class=“ads-u-visibility-

[2020-03-23 20:44] tressaellen commented on #2586
Hi @Samara-Strauss, I've made some updates to the conversation guide and would love your thoughts!

[2020-03-23 20:46] rebeccawalsh opened #7134 "[Design] Accessories page empty state"
## User Story or Problem Statement

Problem description. How might we let the Veteran know that they do not have any currently-authorized accessories?

## Goal
Show users a page state reflecting the absence of authorized accessories and instructions on what to do if there is a problem.

## Tasks
- [x] Create a mockup of this state
- [x] Upload to invision
- [x] Update GH documentation

## Acceptan

[2020-03-23 20:52] rebeccawalsh opened #7135 "[Design] Implement feedback on HA Drupal Page"
## User Story or Problem Statement
As a Veteran, I need to view a page with clearly written content so that I can understand and utilize my benefit.

## Goal
To create a content page that is helpful for Veterans

## Tasks
- [x] Get content reviewed by VSP / Content
- [x] Make content updates to mockup
- [x] Place finalized content into GH

## Acceptance Criteria
- [x] Finalized content reflected i

[2020-03-23 20:53] jenstrickland commented on #6375
@MickinSahni This is a **Should** (just changed the heading to not be a Launchblocker, since the rubric change). I can't find the Must.

[2020-03-23 20:53] rtwell commented on #7027
@jenstrickland + @1Copenut should I be commenting on each line item? I'm not sure what you're looking for from me/how to get to next steps. Thank you!

[2020-03-23 21:00] jenstrickland commented on #7027
@rtwell Would you go through the design-relevant items in the feedback and document decisions made, please? It's okay to do it all in one comment, which what other designers have done.

Some of the feedback is developer content, which you don't have to acknowledge. I'm working on defining a process so that goes to the developers.

[2020-03-23 21:01] jenstrickland commented on #7027
@rtwell Would you please mockup how the focus outline would pair with the design, so the developers know what it should look like?

[2020-03-23 21:10] johnpaulashenfelter commented on #7078
Spent a bunch of hours ssh'd into a circleci server trying some configuration, some gems. Also dug through the setup process (poppler, pdftk, etc) like we'd do for a local install without a lot of success. SOMEthing is different in the startup order but no luck finding out what.

* Tried deleting all the docker files just in case -- same result (which is good)
* Dug around in different versions of

[2020-03-23 21:12] jenstrickland commented on #6375
@ncksllvn @MickinSahni we're discussing with VSP tomorrow about how to handle more global issues, and if there's a short term fix for this particular feature choose that.

[2020-03-23 21:16] mmiddaugh commented on #6749
@darkbushido what is the status on this?

[2020-03-23 21:18] Samara-Strauss commented on #5865
Hi All – We're at a point where we need to discuss a path forward for this ticket. As I understand it, we have two issues here:

- The JAWS modal issue that was discovered during the address validation 508 review. From what I understand, this issue is actually not specific to address validation and could happen with any modal we have on our site.
- The JAWS issue around the "Find VA Benefits" tool

[2020-03-23 21:19] mmiddaugh commented on #6820
https://app.mural.co/t/vsa8243/m/vsa8243/1584630864325/90d660db6656669653b8dce8486ce539040ec7e7

any other documentation we should link, @arickalewis1 ?

[2020-03-23 21:27] lenaecb opened #7136 "Change copy on Appts homepage under the "Create a new appointment" header"
We need to update the copy on the View Appts homepage where the 'Create a New Appointment' CTA is located.

Change this copy "Schedule an appointment at a VA medical center, clinic, or Community Care facility."
![Screen Shot 2020-03-23 at 5.15.23 PM.png](https://images.zenhubusercontent.com/5e41a7217d1a39827f6e83fe/46a92e4a-ab97-4d6d-a3e4-974f2ceb586b)

**Update copy to:**
**Send a request to sche

[2020-03-23 21:27] Samara-Strauss commented on #2586
I'll take a look at it tomorrow!

[2020-03-23 21:27] #6223 closed

[2020-03-23 21:27] lenaecb commented on #7136
@peggygannon - can you confirm my suggested copy above? We found one more small spot in the app that needs updating.

[2020-03-23 21:29] #7075 closed

[2020-03-23 21:49] tressaellen commented on #6478
Hi everyone - just a quick update before tomorrow's review.  The conversation guide has been updated and prototypes are clickable, though content in 'connected apps' is still under review. :)

[2020-03-23 21:51] peggygannon commented on #7136
@lenaecb @jbalboni Please see below for recommended copy. I wanted to keep "schedule" in the sentence b/c the CTA button right below it says "Schedule"

Send a request to schedule an appointment at a VA medical center or clinic.

[2020-03-23 21:52] jenstrickland commented on #5865
@Samara-Strauss Since discovering this issue on the address validation work, as mentioned Erik and I discovered it on the Find VA Benefits tool, and I found it on the SSO on Friday.

I completely agree that your team would be well-served to move forward with the Profile 2.0 effort, as this issue existed before and beyond your work. This bug needs to be addressed on a platform level, I believe. cc

[2020-03-23 21:55] lenaecb commented on #7136
Thanks @peggygannon

I have updated the ticket with this feedback

[2020-03-23 21:55] rtwell commented on #7027
# design relevant feedback

## VSP Accessibility feedback

### Must
1. attached to epic
2. N/A
3. N/A

### Should
1. While I agree all caps isnt the easiest to read, we're using them here. If there is some kind of CSS magic that will ease usability from the screen reader perspective, that would be ideal
2. The focus state should be consistent with the rest of VA.gov. Personally, I don't see why a

[2020-03-23 21:59] patrickvinograd opened #7137 "Validate order of federated logout is correct"
Looking at the  `ssoe_slo_callback` endpoint in v1/sessions_controller, it looks like it is just redirecting to the SSOe PKMSLogout endpoint, without first terminating the VA.gov session.

I think since SSOe does not support SAML logout, we need to terminate our session first and then redirect to t the PKMSLogout endpoint, and  this method is not really a "callback" since SSOe  is not going to  ca

[2020-03-23 22:00] peggygannon opened #7138 "Remove reference to CC in VAOS sign in widget"
## User story

We need to update the VAOS sign in widget to remove references of Community Care appointments.

-------

UPDATED sign-in widget copy below:

{box copy}
Go to the VA appointments tool to view, schedule, or cancel your appointment online
You'll be able to manage and see all your appointments in one place on VA.gov. You can also schedule or cancel some VA appointments online.
{button}

[2020-03-23 22:00] Mottie opened #7139 "[Research] Multiple file uploads"
## User Story or Problem Statement

As a user providing supporting documentation for a form, they should to be able to upload multiple forms at once so they don't have to waste a lot of time uploading and defining file types for one file at a time.

## Goal

Make submission of supporting evidence as painless as possible for users

## Objectives or Key Results this is meant to further

- Improve si

[2020-03-23 22:05] rtwell commented on #7138
lgtm!

[2020-03-23 22:06] 1Copenut commented on #7133
@andaleliz I think we could shorten the `<span class=“ads-u-visibility--screen-reader”>` text to just "returned [number] schools, so the total `<h1>` text would be read as "Yellow Ribbon search results returned [number] schools, heading level one". That is a verbose title, but it's also highly descriptive. Then you have the "Showing 1-10 of [Number]" further down the page. If users offer feedback

[2020-03-23 22:11] 1Copenut commented on #7027
@rtwell Thank you for attaching the focus state. That's the big one for definition of done for me. The others were code recommendations that I'm still experimenting with how to communicate to teams. If there's a way to attach them as notes to the epic, or you have another suggestion, let me know.

[2020-03-23 22:18] jenstrickland commented on #7027
@rtwell

- I asked for a mockup of the focus state as I worried it wouldn't be clear to the dev where the yellow outline should be. A dev recently implemented a focus outline so it was cut off on one side. I wasn't clear if this design was going to abut the border, overlap, or be spaced a distance from it. For the sake of development, I hoped to be clear upfront.

- We ought to hop on a call somet

[2020-03-23 22:23] Mottie commented on #76
I just opened a ticket to research allowing a user to upload multiple files at once: #7139

[2020-03-23 22:29] lenaecb commented on #7138
Looks good!

[2020-03-23 22:29] mnorthuis opened #7140 "Usability Testing Prep [Profile 2.0] - IA Feedback"
## User story

VSP IA feedback on Profile 2.0  (Usability Testing Prep stage)

Template prototype we're reviewing: https://vsateams.invisionapp.com/share/Z8W8ACWN3UG#/

## Prototype feedback

1. There is no change to the breadcrumb with each nav selection - is this intended to be a single dynamic page?
  a. If yes, the user test should include a task that asks users to return to the main page to s

[2020-03-23 22:45] #6020 closed

[2020-03-23 22:48] wygonikGCIO commented on #5537
Workflow diagram
![eBenefits current workflow@2x (1).png](https://images.zenhubusercontent.com/5d9cd59bb6de6d00018d4a32/2bb9ce7b-af56-459d-9e1e-e93137c2f076)

[2020-03-23 22:48] wygonikGCIO commented on #5535
Link to GH document

https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/ebenefits/features/view-update-POA/research-design/Mapping-POA-features-and-functions-to-user-stories-and-experience.md

[2020-03-23 22:49] sporeboy commented on #5255
Initial edits in place for landing page here: https://xd.adobe.com/view/8cdfe895-c907-4662-7234-305056778b2a-faee/

[2020-03-23 22:50] #5537 closed

[2020-03-23 22:51] #5535 closed

[2020-03-23 23:06] bridgethapner commented on #5745
## Summary of Content Changes

Content changes are outlined in pink in [the wireframe](https://adhoc.invisionapp.com/share/DYVMI5OXEQN#/screens/404881624).

#### Content Change 1
**You can use these tools to:**
- Schedule some of your VA medical appointments online
- Cancel appointments made online
- View appointments on your health calendar
- Find the location of the VA facility for your appointm

[2020-03-23 23:14] #6822 closed

[2020-03-23 23:20] bridgethapner commented on #5839
## Summary of Content Changes
Content changes are outlined in pink in [the wireframe](https://adhoc.invisionapp.com/share/DYVMI5OXEQN#/screens/404881778).

#### Content Change 1
**With VA Online Scheduling you can:**
- Schedule some of your VA medical appointments online
- Reschedule and cancel appointments made online
- View appointments on your health calendar
- Find the location of the VA facil

[2020-03-24 00:01] cohnjesse opened #7141 "Fix missing required fields on add-child workflow"
## Goal
When working on the add-child workflow we missed a few required fields and we need to make these fields required.

## Considerations
- [Mockup](https://xd.adobe.com/view/0430be78-21b6-46e2-68b0-586c650d77c8-7201/screen/7177f4d5-995e-4906-ad80-1d7fe4e9e08e/Apply-Dependents-Add-Child-2)
- [Slack Convo](https://adhoc.slack.com/archives/DMJHVAEBB/p1585002206034400)
- The function used for ui:r

[2020-03-24 00:24] kathleencrawford commented on #6650
@ricetj Derek has successfully submitted his e-QIP, can you please let us know if anything else is needed for AWS access?  Thanks!

FYI @short000

[2020-03-24 00:41] tlei123 commented on #5952
@camerontesterman @rebeccawalsh @rileyorr @mojaray2k @mr0sari0 , please review the updated **Proposed Scenarios...** section in the **main Description** at the top \[_not_ the previous Comment above]...

Either check-off below, or add a Comment with questions/issues:

- [ ] Rebecca
- [ ] Riley
- [ ] Amen
- [ ] Mahariel
- [ ] Cameron

I'll check-in on your team channel about these in a day or two.

[2020-03-24 01:15] careyotto commented on #6866
Here's a work-in-progress draft of what this App Directory page would look like. Design piggybacks off the Profile 2.0 Connected Accounts design Authenticated Experience is currently working on. This page would link to from there and also the proposed connected app FAQ page.

![App Directory - view more about app](https://user-images.githubusercontent.com/37549106/77377904-d144e600-6d31-11ea-9c10-

[2020-03-24 01:18] careyotto commented on #6864
Here is a rough draft of the content, ready for copy review. UI design will mimic https://www.va.gov/sign-in-faq/

[Connected apps FAQs for Profile 2.0.pdf](https://github.com/department-of-veterans-affairs/va.gov-team/files/4372618/Connected.apps.FAQs.for.Profile.2.0.pdf)

[Connected apps FAQs for Profile 2.0.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/4372619/Connec

[2020-03-24 02:50] nedierecel commented on #727
@bsmartin-ep I wanted to surface this other bug that is occurring for you to help troubleshoot. Please see issue summary/task description that displays an empty value.

All of the Zone One links should follow a format like so:
_Navigation - Zone One - ->/disability/how-to-file-claim_

[2020-03-24 03:12] nedierecel commented on #6354
@jonwehausen Confirming I see this. Items noted below:

1. Add an exception in GTM so it does not trigger PVs on the sandbox environment.
2. Add to the RegEx table a rule to capture the `practice-area-heading`
3. Add a scroll depth tag

[2020-03-24 03:38] bsmartin-ep commented on #727
@nedierecel - I can recreate this by clicking the whitespace between the navigation links on the homepage.  I think we can fix this by updating the JavaScript at the bottom of the page to make sure it's an actual link that is being clicked.

[code]

...changes to...

[code]

[2020-03-24 03:59] patrickvinograd commented on #6861
Triggered the multifactor enrollment process for a user who already had 2FA enabled on their account. The request bounced through SSOe and ID.me as expected. No error was encountered, nor was the user was not forced to re-enroll. The SAML response returned via SSOe to VA.gov so I think it is relatively "safe" to err on the side of displaying. the "enroll in multifactor" prompt when a user's multif

[2020-03-24 12:26] jbritt1 commented on #6650
I can grab this if all is approved / good to go @ricetj

[2020-03-24 12:31] cmaeng opened #7143 "Access for Clarence Maeng"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Add a comment @department-of-veterans-affairs/vsp-operations to ping the operations team
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please

[2020-03-24 13:21] Samara-Strauss commented on #5865
Thanks @jenstrickland sounds good to me.

When he's got time, @mshea0606 will work with @erikphansen to get the Find VA Benefits issue documented, and we'll work on that. Otherwise, I'll like you and @1Copenut manage this issue (5865) going forward.

[2020-03-24 13:23] #6966 closed

[2020-03-24 13:23] #7031 closed

[2020-03-24 13:23] jenstrickland opened #7144 "Accessibility feedback for Profile 2.0 Usability Testing Prep"
**Please note:** VSA and VSP feedback is provided separately below in this review.

**Feedback framework**
- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## VSA feedback
[code]

### Must
1. Focus management - Where is focus after the profile info is updated?
1. Context change - It is confusing when t

[2020-03-24 13:37] ricetj commented on #1527
Already cleaned up per an audit

[2020-03-24 13:37] #1527 closed

[2020-03-24 13:38] #4696 closed

[2020-03-24 13:38] ricetj commented on #4696
Change in direction.

[2020-03-24 13:43] pjhill commented on #6478
I've created a regression test suite that verifies a core subset of the functionality present in the old profile and account pages.  You need TestRail access to peruse the test cases.  They are [here](https://dsvavsp.testrail.io/index.php?/suites/view/5&group_by=cases:section_id&group_order=asc).

[2020-03-24 13:45] zurbergram commented on #7111
[code]

[2020-03-24 13:46] lwalsh617 commented on #6799
@jenniferlee-dsva @mnorthuis -- It's tough because this page isn't a benefits page so it doesn't fit the hub template H2s as well. What do you think about "**Get information about the decision review process**" as the H2? That way, we don't throw an action (like "file" or "request") at users before they have the basic facts, and we don't end up with an H2 that doesn't clearly set up the links belo

[2020-03-24 13:46] rtwell commented on #7027
@1Copenut @jenstrickland regarding focus mocks—noted. it sounds like we should work on our design review process to catch things like erroneous focus state, maybe? I'm all for providing as much detail as needed, but pointing to a component on design.va.gov and saying "insert this component/functionality/whatever here" should be enough for any developer to execute.

to your second point, @jenstrick

[2020-03-24 13:49] RLHecht commented on #7077
Confirmed on live site. Closing ticket @MickinSahni @AnneHurley

[2020-03-24 13:49] #7077 closed

[2020-03-24 13:52] #6871 closed

[2020-03-24 13:52] #6882 closed

[2020-03-24 13:53] #6886 closed

[2020-03-24 13:55] lwalsh617 commented on #6798
**Confirming that you saw my message just above Mickin's ^^ regarding changing the H1 on 3 of the DR pages.** Once we make this change, we should be ready to share preview links with SMEs for a final fact check.
 @mnorthuis -- this is per our IA discussion. Look good from your end?
@jenniferlee-dsva -- Just keeping you in the loop
@RLHecht -- Flagging here because this came up after the screenshot

[2020-03-24 14:04] andaleliz commented on #7133
@1Copenut That sounds great.  @kelsonic let us know if you have any questions

[2020-03-24 14:16] jenstrickland commented on #7027
@rtwell 👍 I'll add some developer notes to provide ARIA spackle to over-ride the all caps, and see if that improves the screen reader experience.

[2020-03-24 14:22] pjhill opened #7145 "Create regression tests for VSA-Authenticated Experience team Profile 2.0 product"
Working on creating regression test suite for use by the Profile 2.0 product team.
https://dsvavsp.testrail.io/index.php?/suites/view/5&group_by=cases:section_id&group_order=asc

[2020-03-24 14:25] sporeboy commented on #5539
Made changes to formatting:
- "Intro" section at top
- Headings
- Some verb tense
- punctuation/capitalization
- Moved stories to end of sections

[2020-03-24 14:26] joanneesteban commented on #7118
Creating a [conversation in Slack](https://dsva.slack.com/archives/CKCRMLGAC/p1585059971280400) to communicate needs.

[2020-03-24 14:27] nedierecel commented on #6400
@mmiddaugh I wanted to send an update that the `(not set)` referral path may be a separate issue that the Analytics-Insights team needs to address. I will spin this off into another issue.

[2020-03-24 14:28] sporeboy commented on #5539
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/ebenefits/features/view-update-POA/research-design/Mapping-POA-features-and-functions-to-user-stories-and-experience.md

[2020-03-24 14:33] wygonikGCIO commented on #5539
Link: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/ebenefits/features/view-update-POA/research-design/POA-competitive-analysis.md

[2020-03-24 14:33] #5255 closed

[2020-03-24 14:36] rileyorr opened #7146 "[Frontend] MDT - Add 'Need Help' component to form pages"
## User Story or Problem Statement
Problem description. How might we include contact information in case veterans experience difficulties with the form?

## Goal
_Add the 'Need help' component that's on the [bottom of the relevant form screens](https://vsateams.invisionapp.com/share/6MVTG94WNH5)_

## Objectives or Key Results this is meant to further
- _Finalize the MDT ordering flow_
---
## Tasks

[2020-03-24 14:39] #6402 closed

[2020-03-24 14:42] rileyorr opened #7147 "[Frontend] MDT - Update the content in the subway map on the form's introduction page"
## User Story or Problem Statement
As a veteran placing an order for hearing aid batteries and accessories, I need to review all of the steps in the ordering process so I can make sure I have all of the required information to place an order and am confident in the next steps after submitting my order form.

## Goal
_Typos in the subway map's content are rectified._

## Objectives or Key Results t

[2020-03-24 14:48] #5539 closed

[2020-03-24 14:49] jenstrickland opened #7148 "Accessibility feedback for Project kickoff for "View and update my representative/POA""
**Feedback framework**
- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## VSA feedback

## VSP feedback

## Definition of done
1. Acknowledge each feedback item with decisions made
2. VSA Accessibility Specialist will close ticket

[2020-03-24 14:50] jenstrickland opened #7149 "Accessibility feedback for Pre-usability review for Left Nav"
[code]
**Feedback framework**
- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## VSA feedback
- Focus **must** go to the top of the page for each page [focus management].
- As mentioned in the project kickoff feedback, **should** include an indicator of current page for screen readers. This would be a

[2020-03-24 14:54] mmiddaugh opened #7150 "Conduct stakeholder interview"
High Level User Story
As the Facilities Team, we need to understand the Veteran journey for Community Care so the search experience will prepare Veterans to visit those locations.

Goals
Understanding of when and how Veterans access community care locations

Tasks
[ ] Conduct interview with Community Care SME to fill in gaps of understanding about Community Care journey

Output
[ ] Document unders

[2020-03-24 14:58] nedierecel commented on #727
Hello @ncksllvn - Lower priority for the team, but please let me know if this issue should be addressed by the Public Websites team. This is an extra event that is being recorded to Google Analytics when users are clicking the whitespace in Homepage Zone One links. Thanks!

[2020-03-24 14:59] #5692 closed

[2020-03-24 14:59] ncksllvn commented on #727
@nedierecel , good question, I think our team can grab it. I'll add our team label and we should pick it up soon!

[2020-03-24 15:00] ncksllvn commented on #727
CC: @MickinSahni

[2020-03-24 15:05] desireeturner opened #7151 "CF: Mapping Caution Flag Content (Profile Page)"
As a Veteran searching for institutions using the GI Bill Comparison Tool, I need to know what types of caution flags the institutions I'm considering have so that I can make the best decision about my education choices.

## Assumptions:
1. This story covers the back end data structure and mapping to provide data points for subsequent display on the front end.
2. This work will be behind a prod fl

[2020-03-24 15:08] jbalboni opened #7152 "Bad facility id in list"
Sentry error: http://sentry.vfs.va.gov/vets-gov/website-production/issues/110089/events/d7c2761383f34e408cb37705e2494305/

742V1 is coming through as a facility id, but it's not a facility id.

[2020-03-24 15:17] mmiddaugh commented on #3448
Merge to staging only

[2020-03-24 15:17] MickinSahni opened #7153 "Usability Testing Prep - Public Websites [AMA Phase 2]"
## Steps to complete Usability Testing Prep:
- [x] Product Manager: create this issue and fill in feature name in the title and other bolded information appropriately
- [x] Link to this issue once created in #vfs-platform-support in Slack; tag @ Megan Kelley @ AndreaHewitt
- [x] Andrea and Megan to schedule meeting with VSP reviewers and **requesting team** attendees (as listed below)
- [ ] At lea

[2020-03-24 15:20] benniemosher commented on #7143
PR has been merged. https://github.com/department-of-veterans-affairs/devops/pull/6569

[2020-03-24 15:28] Mottie opened #7154 "[Development] Update HLR schema"
## User Story or Problem Statement

As a front-end developer, I need update the JSON schema within the vets-json-schema repository so I can keep the schema in sync with the new Higher-Level Review form changes.

Related to #6402 (redesign)

## Goal

Update JSON schema for data that will be submitted to the Lighthouse API

## Tasks

- [ ] Changes HLR schema to match our updated API to match the upd

[2020-03-24 15:33] andreahewitt-odd commented on #7153
Scheduled for Friday, March 27⋅3:00 – 4:00pm ET

[2020-03-24 15:40] RLHecht commented on #6752
@ncksllvn I published this page. I'll let Matt know when it is live on the site. Moving to validate for now.

[2020-03-24 15:43] joanneesteban opened #7156 "Document Internal GTM How-To"
## User Story or Problem Statement
As a VSP Analytics & Insights team member, I need understand how the Platform internal GTM process works and how to implement GTM so I can support VFS teams in Google Analytics user tracking.

## Goal
Document necessary internal team Google Tag Manager processes and standards.

## Tasks
- [x] Nedie interviews with VSP Service Design
- [x] Joanne documents process

[2020-03-24 15:50] joanneesteban opened #7157 "Document GA Guides"
## User Story or Problem Statement
As a VSP Analytics & Insights team member, I need understand how to communicate using GA so I can support VFS teams in understanding their data on Google Analytics.

## Goal
Document necessary Google Analytics processes and definitions.

## Tasks
- [x] List out GA documentation
- [x] Groom current documentation - which documents need to be updated, added, or fold

[2020-03-24 15:50] rileyorr opened #7158 "[Frontend] MDT - Update the 'Personal information' component on C1P1"
## User Story or Problem Statement
As a veteran placing an order for hearing batteries and accessories, I need to confirm my personal information so I can ensure my personal information is correct in my medical record.

## Goal
_Implement the 'Personal information' component styling that matches other forms on VA.gov. An example of this [styling can be found on the 21-526-EZ form](https://staging.

[2020-03-24 15:54] mmiddaugh opened #7159 "fix ESLint rule no-extra-arguments"
This issue to track request by VSP
[Pull request](https://github.com/department-of-veterans-affairs/vets-website/pull/11981)

# Description
fix ESLint rule no-extra-arguments

## Definition of done
 Events are logged appropriately
 Documentation has been updated, if applicable
 A link has been provided to the originating GitHub issue (or connected to it via ZenHub)
 No sensitive information (i.e.

[2020-03-24 15:55] pjhill opened #7160 "QA Feedback for Profile 2.0 [Usability Testing Prep]"
## VSP QA feedback on Profile 2.0 [Usability Testing Prep]

**Regression Test Suite Artifacts:**
https://dsvavsp.testrail.io/index.php?/suites/view/5&group_by=cases:section_id&group_order=asc

**Manual Functional Test Suite Artifacts:**
Not available

## Feedback
**Regression Tests:**
1. The core set of manual regression tests may be sufficient. Tze has stubbed out a larger set of regression tests

[2020-03-24 15:56] joanneesteban opened #7161 "Document Initial Domo Processes"
## User Story or Problem Statement
As a VSP Analytics & Insights team member, I need understand how to provision access to and connect data to Domo without a single point of failure.

## Goal
Document necessary Domo processes and definitions.

## Tasks
- [ ] Create a Domo How-To/Guide
    - [ ] Connecting to GA
    - [ ] Adding users
- [ ] (Joanne) Begin Domo Product Outline
- [ ] Switch over owne

[2020-03-24 15:58] rileyorr opened #7162 "[Frontend] MDT - Add missing content to 'Veteran's personal information' (C1P1)"
## User Story or Problem Statement
As a Veteran with incorrect personal information, I need contact information so I can remedy the mistakes.

## Goal
_Add missing content to the Veteran's personal information page (C1P1)._

## Objectives or Key Results this is meant to further
- _Finalize the MDT order flow_
---
## Tasks
- [ ] _Add the missing copy "Note: If you need to update.." to C1P1 as refle

[2020-03-24 15:59] marriej commented on #6925
Hi @meganhkelley can we please reschedule our Staging Review to April 6th or 7th?

[2020-03-24 15:59] mnorthuis commented on #6935
For reference, here are the two existing content pages I mentioned...I don't believe there are other content pages, but need to do a full dig, there may be many places that we reference accredited reps and link to these pages as well, so we will need to work through that.

- https://www.va.gov/disability/get-help-filing-claim/
- https://www.va.gov/decision-reviews/get-help-with-review-request/

[2020-03-24 16:00] marriej commented on #6537
https://github.com/department-of-veterans-affairs/va.gov-team/issues/6925

[2020-03-24 16:02] jonwehausen commented on #6354
@nedierecel -- 1 and 2 have been accounted for.

@bsmartin-ep Could I task you with setting up a scraping method to capture the practice area heading and store within the event action label?

Once configured, this can be added to "RegEx - Event Action" to pass into each click event action and we can retest.

[2020-03-24 16:05] delli-gatti-michael commented on #7020
TestRail Test Case:
https://dsvavsp.testrail.io/index.php?/cases/view/410

[2020-03-24 16:07] nedierecel opened #7164 "[Bug] Google Analytics Referral Path (not set) for Facility Locator"
## What happened?

The Referral Path for the Facility Locator is `(not set)`, and we expect it to have a value since direct entrances to the page would be very low.
![image.png](https://images.zenhubusercontent.com/5b295b9ff378ea1890b3d77e/e7606dcd-1e24-48c8-b30b-c3b3f60b32f2)

## Steps to Reproduce
- URL: Visit [Facility Locator report](https://analytics.google.com/analytics/web/?authuser=0#/repo

[2020-03-24 16:11] delli-gatti-michael commented on #7117
PR: https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/vets-website/11978

[2020-03-24 16:16] amycesal commented on #5977
6 user research sessions are scheduled for Friday and Monday this/next week!

[2020-03-24 16:16] jbalboni opened #7167 "Capture not supported events when DS or requests are turned off in VATS"
We're not tracking eligibility failures around facilities having scheduling turned off in VATS. I think we could track two events for this:

1. vaos-eligiblity-direct-supported-failure
2. vaos-eligibility-request-supported-failure

There are flags related to this in the eligibilityData object, so we could add these calls in `recordEligibilityGAEvents`.

[2020-03-24 16:19] Samara-Strauss commented on #2586
**General**

- Can you include the link to the prototype at the top of the script so we can check it out more easily?
- Can you add time estimates for each section so we can get a sense of how long you think this will take?

**Warm up questions**

- I would also ask them what, if any, benefits they are currently receiving from the VA. This will give us a fuller picture of who we are talking to and

[2020-03-24 16:21] jenniferlee-dsva commented on #6798
@lwalsh617 @RLHecht - I've reviewed the preview pages above and am uploading comments here as a Word doc. Mostly regarding H sizes and semantic ordering/content hierarchy. Happy to jump on a call if anything needs clarification.

Dang it - still can't upload to GH. Will Slack you doc.

REplying to @MickinSahni ^ re SME approval - As long as these follow the approaches that @lwalsh617 briefed the S

[2020-03-24 16:28] careyotto commented on #6838
App directory rough draft design:
https://github.com/department-of-veterans-affairs/va.gov-team/issues/6866

FAQ rough draft copy, design to mimic sign-in-faqs:
https://github.com/department-of-veterans-affairs/va.gov-team/issues/6864

Authenticated Experience EPIC around connected accounts:
https://github.com/department-of-veterans-affairs/va.gov-team/issues/6814

cc: @lunascoop @mnorthuis

[2020-03-24 16:28] nedierecel commented on #6633
@amyknox I reviewed the data on the /review-and-submit page, and I am not seeing data for interactions with the accordion. We are capturing the values on the form submission but not the edits on the Review & Submit.

We can prioritize requirements for this feature so it can be quickly implemented.

[2020-03-24 16:30] delli-gatti-michael commented on #7117
Local Testing complete

[2020-03-24 16:32] SarahJaine commented on #6210
Part 2, getting aws access, is blocked until I receive and complete EQIP paperwork.

[2020-03-24 16:33] RLHecht commented on #6799
@lwalsh617 This page is built in Drupal but still awaiting final edits on several things. Preview link:
preview-prod.vfs.va.gov/preview?nodeId=3071

[2020-03-24 16:33] SarahJaine commented on #6813
Problem 1: Bug tickets originating from the Help Desk often lack the context we need to investigate and resolve the issue. The logging and monitoring systems do not contain PII or other information that would help us find the exact transaction or exception that the user is experiencing.  Oftentimes, the only information we use to search the logs is a general time of day or an error message; search

[2020-03-24 16:33] jonwehausen opened #7170 "Access for [Jon Wehausen]"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Add a comment @department-of-veterans-affairs/vsp-operations to ping the operations team
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please

[2020-03-24 16:38] short000 opened #7171 "Dev team edits to vsa/design/getting-started-with-va.gov-forms.md"

[2020-03-24 16:39] amycesal commented on #4456
### Synthesis from the feedback survey
https://app.mural.co/t/adhocvetsgov9623/m/adhocvetsgov9623/1584995105129/553db2cbf58515f96db7c9639299a96de07ccb7c

### High level takeaways
- all users said it was helpful or moderately helpful
- most people still wanted to also have the google sheet MVP available (only one 2, 2 maybe's and 1 yes)
- Monthly or weekly were both preferred, so maybe report weekl

[2020-03-24 16:43] lwalsh617 commented on #6799
@jenniferlee-dsva @mnorthuis -- Randi just reminded me that the promo box on the new hub page will need an icon. Thoughts on what icon to show? Red frame shows where it goes on the page.
![Screen Shot 2020-03-24 at 12 33 25 PM](https://user-images.githubusercontent.com/53535663/77453048-18cc8000-6dcd-11ea-8530-4cfdc3eda8c1.png)

[2020-03-24 16:44] meganhkelley commented on #6925
No problem — done! Moved to 4/7

[2020-03-24 16:45] SarahJaine commented on #6813
Problem: It is tedious and time intensive for developers to review Sentry for errors and determine which are under our team's purview. Sentry is not pro actively reviewed by developers. Bugs are often surfaced and corrected after they negatively affect the users.

Proposed solution:
Filtering rules are added to Sentry to identify errors related to our team's code. As a second step, it may be prude

[2020-03-24 16:46] joanneesteban opened #7172 "Communicate Insights Staff Changes to Necessary Stakeholders"
## User Story or Problem Statement
As a VFS team member, I need understand how to communicate to VSP Analytics & Insights.

## Goal
Update necessary stakeholders and processes for staff changes.

## Tasks
- [x] Respond to DMs & emails to post on #vfs-platform-support
- [x] Joanne to announce in ToT
- [ ] Nedie creates (basic) best practices communications doc to hand over to teammates

## Acceptan

[2020-03-24 16:46] sshein commented on #2586
Samara, in terms of the "2 links" - the general idea is that we want users to do their "wayfinding" on VA.gov in production, not the prototype, so that they can actually click wherever they want to look for the section. Once they click "login" or whatever is relevent, Tressa will direct them to the prototype

[2020-03-24 16:46] andaleliz opened #7173 "Yellow ribbon search results display count not updating correctly"
## What happened?
If you conduct a search in the yellow ribbon tool and go to page 2 or beyond, and then update the search, the `Displaying x of xx results` number is incorrect.  It's displaying the page number in front of the first digit.

## Specs:
- Device: Macbook
- Browser: Chrome

## Steps to Reproduce
- URL: https://staging.va.gov/education/yellow-ribbon-participating-schools/
1. Go to the

[2020-03-24 16:47] meganhkelley commented on #6935
Meeting recording: https://zoom.us/rec/share/_OVLJLLzqVtJEqv_zUyFRYsALJjnaaa81yNM_fIPxUqwDAxjbI-tqq8O_7VeC3LL

[2020-03-24 16:49] MickinSahni opened #7174 "Analytics Implementation or QA Support for Public Websites [Find VA Forms Search]"
# Analytics Implementation or QA Request

## Description
- **Is this request for Google Analytics implementation or QA?**
Google Analytics implementation (and Foresee?)

- **Who is this request for?**
    - @jenniferlee-dsva , @MickinSahni

- **What team/project is this work for?**
  - Public Websites

- **Provide the Domain where Google Analytics needs to be implemented**
  - https://www.va.gov/f

[2020-03-24 16:53] sshein commented on #2586
Also, I think it's fine to follow up at the end with questions about specific design elements that the user may not have mentioned or that was not discussed earlier. Agree that "name tag" is not going to work as a question though. Rather, I'd just show the user whatever we want to follow up on and ask specific questions about it.  Personally, I think folks will just skip over the "nametag" area an

[2020-03-24 16:53] CrystabelReiter opened #7175 "Design Feedback: Usability Testing Prep - Auth Experience -- [Profile 2.0]"
**User story:**
VSP design feedback on Auth Experience -- [Profile 2.0]

Template prototype we're reviewing:
Desktop prototype  https://vsateams.invisionapp.com/share/FJW9OGY2B9A
-Mobile prototype (same as above): https://vsateams.invisionapp.com/share/34WJ8JOCMAB

**Do:**

- Minor inconsistencies in spacing on the Personal and contact information page: Table headings ("Addresses, Phone numbers, E

[2020-03-24 16:54] sshein commented on #2586
Tressa - for examples of putting links to prototypes and time estimates by tasks, see the Caregiver conversation guide. https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/caregivers/1010cg-mvp/usability-testing-jan2020/conversation-guide.md

[2020-03-24 16:59] sonntag-adam commented on #7124
Shows in a production build.

[2020-03-24 17:00] jenniferlee-dsva commented on #6799
@lwalsh617  - It is tricky!  As you point out, these are all technically 'learn about' content -- even the other spokes in DR.

However, thinking long-term, most if not all of these DR options will get digitized into an online app. We're starting soon with HLR, and over time, others will follow. And thinking in terms of our overall IA and taxonomy pattern, this spoke is the place where all apply a

[2020-03-24 17:10] joanneesteban commented on #6963
@nedierecel Priority Order for the attached issues are:

1. #7156
2. #7157
3. #7172
4. #7161

[2020-03-24 17:11] joanneesteban commented on #6963
We can work simultaneously on each issue, but GTM is highest risk/value to be completed.

[2020-03-24 17:12] Kimberley2019 opened #7176 "[Contact Center User Feedback] URL for COVID-19 Feedback"
**Issue Description:** User provided feedback on current COVID-19 URL, which is included in the description below.  Unsure if any modifications can be made from users suggestions, but wanted to pass along in case there were.

**Priority:** Low

**Total Number of Issues:** 1

**Issue Number and User Description:** IRIS 200319-000052

_Dear VA,_

_I am writing to make a request for two small improve

[2020-03-24 17:15] #6944 closed

[2020-03-24 17:15] ccruzgra commented on #6868
@amyknox Is this ready to close?

[2020-03-24 17:16] ccruzgra commented on #6875
Airtable is here: https://airtable.com/shrgYCg4q2MPPXRv7

Exported to Excel spreadsheet and shared items and images with DN.

[2020-03-24 17:19] RLHecht commented on #6799
@jenniferlee-dsva @lwalsh617 The Drupal folks are currently fixing a bug that doesn't allow users to add those stored images to the promo so I'm going to hold off on setting it up for now (I can't save the promo without an image). I'll let you know when it's fixed. I'll work on the right rail components though.

[2020-03-24 17:20] #7136 closed

[2020-03-24 17:20] #7138 closed

[2020-03-24 17:20] #7152 closed

[2020-03-24 17:25] Samara-Strauss commented on #2586
Got it. Thanks for clarifying! This makes more sense now.

Yeah, to be clear — I don't think it's a problem to follow up on specific elements based on what came up in the actual call. It just doesn't make any sense to me to call the name tag out in the script in the follow-up section. This should be discussed earlier if we want feedback on it.

---

Question — I know we had talked about doing some

[2020-03-24 17:26] mmiddaugh opened #7177 "Design for COVID-related changes in facility availability"
### User Story
As a Veteran, I need to know when the hours of operations for a facility have been impacted by an emergency so that I can adjust my plan to visit.

## Goals
Determine a method for alerting veterans to changes in facility availability during emergency situations

## Current use cases:
Due to COVID 19:
- Some facilities are not open for physical visitation but may be able to provide a

[2020-03-24 17:29] sshein commented on #2586
If we have time I think it could be cool to show them the old profile at the end and ask their thoughts - for example on the caregiver guide I linked above, at the end, we ask "I'm going to quickly show you the paper form (moderator shares screen with paper form).
(if they have benefits) Do you remember if you filled out this form? If so, how did you do it? Together with the caregiver/veteran?
Bas

[2020-03-24 17:30] mmiddaugh opened #7178 "Facility Operating Status (Alerts)"
## Product Outline
[Link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/facilities/facility-locator/product/facility-locator-product-outline.md)

## High Level User Story/ies
As a Veteran, I need to know when the hours of operations for a facility have been impacted by an emergency so that I can adjust my plan to visit.

## Hypothesis or Bet
**If** we implement

[2020-03-24 17:30] Samara-Strauss commented on #2586
+ 1 to ☝️

[2020-03-24 17:37] #3488 closed

[2020-03-24 17:38] mmiddaugh commented on #7177
Examples for context:
From https://www.benefits.va.gov/washington/

![image](https://user-images.githubusercontent.com/55411834/77458432-c9ce1d00-6dc3-11ea-9899-2805db63dd4f.png)

And from NCA: https://www.cem.va.gov/cems/nchp/alexandriava.asp

![image](https://user-images.githubusercontent.com/55411834/77458526-ef5b2680-6dc3-11ea-829e-c19be335cb11.png)

[2020-03-24 17:47] Samara-Strauss opened #7179 "[FE] COVID-19 My VA alert: Remove VISN 8 from My VA health chat alert"
## Background

Epic #6974; Original build #6977

We just find out that VISN 8 no longer wants to participate in the health chat pilot, so we need to remove their facilities from the list of facilities that would trigger the health chat alert on the My VA dashboard. VISN 23 has confirmed they are still moving forward with the alert.

## Tasks

- [ ] Remove VISN 8 facilities from the list of facilit

[2020-03-24 17:50] bsmartin-ep commented on #6354
Sure thing @jonwehausen

[2020-03-24 18:05] pjhill opened #7180 "QA Feedback for Left Nav [Usability Testing Prep]"
## VSP QA feedback on Left Nav [Usability Testing Prep]

**Regression Test Suite Artifacts:**
Not available

**Manual Functional Test Suite Artifacts:**
https://dsvavsp.testrail.io/index.php?/suites/view/7&group_by=cases:section_id&group_order=asc&group_id=62

## Feedback
**Regression Tests:**
1. Not available at this time.  Please create manual test cases or provide details on the automated E2E c

[2020-03-24 18:07] bsmartin-ep commented on #7164
@nedierecel - What would be the expected data for most of these Referral Paths?  _/find-locations/_ with query string parameters?

[2020-03-24 18:11] LindseySaari commented on #6769
## Our thoughts:
* **First:** upgrade to 9.1.2 — make sure we have a DB backup just incase
* Going to 10 isn’t going to be so simple, a lot of new stuff (TF changes, new deployment config (brand new), writing some new playbooks)
* What’s the benefit of upgrading to 10? -- Research and add to RFC
* Running v9 and 10 in parallel: Sentry 10 is going to be a new deployment before it’s going to be an u

[2020-03-24 18:13] #6702 closed

[2020-03-24 18:17] jcosta-gcio opened #7182 "VLM-413 - Reuse the va.gov header(Veterans Crisis Line) and footer on the VLM website"
The VLM team needs assistance in adding our domain name(s) to the vets-website whitelist to use the header(VA crisis) and footer from va.gov see the details bellow.

VLM Website: https://www.vlm.cem.va.gov/

Below is the json that we will need to add to https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/applications/proxy-rewrite/proxy-rewrite-whitelist.json

{

[2020-03-24 18:18] benniemosher commented on #6951
https://dsva.slack.com/archives/CBU0KDSB1/p1585072399254700

[2020-03-24 18:19] benniemosher commented on #6951
https://dsva.slack.com/archives/CTYQL39FE/p1585059349001600

[2020-03-24 18:19] benniemosher commented on #6951
https://dsva.slack.com/archives/CBU0KDSB1/p1584729159162600

[2020-03-24 18:20] #6764 closed

[2020-03-24 18:20] benniemosher commented on #6951
https://dsva.slack.com/archives/CBU0KDSB1/p1584646152102500

[2020-03-24 18:20] jcosta-gcio commented on #7182
This is a Cross team issue for VLM and the va.gov team, this issue is referenced in Jira stories VLM-413, VLM-702 and VLM-700 approved by VLM - James LaPaglia(va)

[2020-03-24 18:22] Samara-Strauss commented on #6976
Update: VISN 8 no longer wants to be part of this alert, so it will just be VISN 23. @tressaellen — can you send me a screenshot of the latest version of the alert so I can pass it along to stakeholders for approval? Also, can you please change the times in the screenshot to match VISN 23's hours? I hadn't shared them yet here, but they are 7:30 – 4:30 M – F. Thanks!

[2020-03-24 18:25] dneel-bah opened #7183 "CF: Styling and content do not match UX prototype"
## What happened?
There is some content and ui spacing/layout that do not match the prototype for #6803

## Specs:
- Device: (e.g. iPhone 8, Macbook)
- Browser: (e.g. Firefox, IE 11)

## Steps to Reproduce
- URL: https://staging.va.gov/gi-bill-comparison-tool/

## Desired behavior
See attached screenshots and excel for reference to below items.
This work is done behind a flag so that it is only av

[2020-03-24 18:34] bsmartin-ep commented on #7164
@mmiddaugh - I believe this is expected data for the Referral Path - which is the path / file of the external referrer (if it exists).  Are you maybe looking for the _Full Referrer_ or _Previous Page Path_ dimensions?

[2020-03-24 18:40] saneshark opened #7184 "Discovery - Appointment Requests"
**This will include:**
- Appointment Messages

Create discovery documentation using this template -- https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/appointments/va-online-scheduling/engineering/discovery/FHIR/template.md

While you are working through this discovery doc, please add WIP to doc header

FHIR Resource list -- http://hl7.org/fhir/dstu2/re

[2020-03-24 18:41] andaleliz commented on #7086
FYI added Mel Woodard to the list, designer of our [blue sky prototype](https://vsateams.invisionapp.com/d/main?origin=v7#/projects/prototypes/13596891?scrollOffset=216), per our convo last week

[2020-03-24 18:47] dneel-bah opened #7185 "CF: Add filter to exclude institutions with cautionary warnings from the search results"
As a Comparison Tool user, I need to be able to exclude institutions with caution flags so that I can only look at schools without warnings in the search results.

## Assumptions:
1. This work is done behind a flag so that it is only available in the staging environments and below.

## Acceptance Criteria
1. A filter is available on the search results screen that meets the following criteria:

[2020-03-24 18:53] ricetj commented on #7143
Nope, we can close if the job ran and point them to the next piece of the docs on the config.

[2020-03-24 18:55] ricetj commented on #7170
Already setup

[2020-03-24 18:55] #7170 closed

[2020-03-24 18:55] clantosswett commented on #7118
VCL contact center numbers attached here

[VCL Metrics 3-24.xlsx](https://github.com/department-of-veterans-affairs/va.gov-team/files/4377128/VCL.Metrics.3-24.xlsx)

Also including the topics/themes the VCL is anecdotally tracking as trending:

- How to get proper health care while appointments about being cancelled.
- Fear about not having access to medications.
- Support and therapy groups being

[2020-03-24 19:04] dneel-bah opened #7186 "CT: Fix spacing in Search Results Filters"
As a developer I need to fix the spacing on the CT Search Results institutions filter so that it meets the DEPO styling standards.

## Assumptions:
1. This work is done behind a flag so that it is only available in the staging environments and below.

## Acceptance Criteria
1. The spacing between "Institution details" subhead and "Type of institution" label is reduced so that it matches the spacin

[2020-03-24 19:05] tressaellen commented on #6976
Here's the screenshot.

<img width="740" alt="Screen Shot 2020-03-24 at 11 04 29 AM" src="https://user-images.githubusercontent.com/58752772/77466558-4e6a6c80-6dbf-11ea-8209-efad56d75b7f.png">

[2020-03-24 19:07] tskinn opened #7187 "MVI Port Change"
## Description

MVI has changed the ports their service listens on in lower environments and will change prod next month.
We need to file a ticket with ESECC

dev: 10.247.96.0/23       -> int.services.eauth.va.gov:9303
staging:  10.247.34.0/23  -> sqa.services.eauth.va.gov:9303
prod:     10.247.32.0/23  -> vaww.esrpre-prod.aac.va.gov:9303

## AC

- [x] fixup lower environments to use the new port

[2020-03-24 19:10] SgardnerPMP opened #7188 "[AUTOMATION] Load System Health Services data [Engineer]"
## User Story or Problem Statement
As a Data Tech, I need an optimized way to set content into existing content fields from a .csv or .txt file, so I can reduce time in loading and completing page content in VAMC- Web page/nodes.

## Goal
_Implement required va.gov webpages_

## Objectives or Key Results this is meant to further
- _Increase pages/nodes completed in a quarter_

## Resources - Tools

[2020-03-24 19:15] SgardnerPMP opened #7189 "[AUTOMATION] Creation of new .csv file to upload VISN-6 System and Facility Health Services to CMS [PM]"
## User Story or Problem Statement
As a Data Tech, I need an optimized way to load .csv of System and facility health services, so I can load existing list to system and facility pages for inspection and confirmation of PAO web maintainers.

## Goal
_Implement required va.gov webpages_

## Objectives or Key Results this is meant to further
- _Increase pages/nodes completed in a quarter_

## Resour

[2020-03-24 19:17] Samara-Strauss opened #7190 "Sprint 18: Logged-in homepage discovery"
## Sprint 18 (3/25 - 4/7)

### Order of priorities

1. Finalize research plan
2. Plan/maybe conduct stakeholder interviews

### Logged-in homepage discovery

- [x] Review and refine research proposal #7083
- [x] Review and refine list of stakeholders #7086
- [x] Create conversation guide #7087
- [x] Schedule interviews #7088
- [x] Conduct interviews #7089

[2020-03-24 19:17] SgardnerPMP opened #7191 "[AUTOMATION] Create package to combine creation of System, Association to Facilities, and creation of nodes in one activity [Engineer]"
## User Story or Problem Statement
As a Data Tech, I need an optimized way to set content into existing content fields from a .csv or .txt file, so I can reduce time in loading and completing page content in VAMC- Web page/nodes.

## Goal
_Implement required va.gov webpages_

## Objectives or Key Results this is meant to further
- _Increase pages/nodes completed in a quarter_

## Resources - Tools

[2020-03-24 19:22] johnpaulashenfelter commented on #7078
Turns out to be eager loading when the CI env var is set. Now I'm down to some real failures, likely Iconv version-related.

Failures:

  1) EducationForm::Forms::VA1990 1990 kitchen_sink_active_duty spool test generates the spool file correctly
     Failure/Error: transliterated = Iconv.iconv('ascii//translit', 'utf-8', wrapped).first

     Iconv::IllegalSequence:
       "’s in JSON docum"...

[2020-03-24 19:23] Samara-Strauss commented on #6976
@tressaellen can you please add "p.m." after "4:30"?

[2020-03-24 19:23] nedierecel commented on #524
@bsmartin-ep Transitioning this issue to you. This is an optimization ticket that should be prioritized after VFS issues.

**Background**:  For context when we launched the merged VA.gov site, we needed a way to distinguish modernized content from legacy content (e.g. MHV, eBenefits, etc.).

**First Approach:**  I ran into Google Analytics view filter character limitations when we tried to filter

[2020-03-24 19:24] tressaellen commented on #6976
<img width="735" alt="Screen Shot 2020-03-24 at 11 24 26 AM" src="https://user-images.githubusercontent.com/58752772/77468142-10bb1300-6dc2-11ea-9f57-0e7dc4a3715a.png">

[2020-03-24 19:33] careyotto commented on #2586
@tressaellen Speaking with @meganhkelley today, VSP would like to include questions/tasks about the FAQ and App Directory in usability testing, but are okay with not actually including those screens in the prototype. Examples of how we might do this are:

- After connected app task, ask was anything confusing? if yes, where would you look for answers? if no, imagine you did have concerns, where wo

[2020-03-24 19:34] johnpaulashenfelter commented on #7078
CircleCI
[code]

OSX
[code]

Staging
[code]

[2020-03-24 19:35] #6444 closed

[2020-03-24 19:35] #6445 closed

[2020-03-24 19:36] #6485 closed

[2020-03-24 19:36] rianfowler commented on #7182
Looks like www.vlm.cem.va.gov has a very different header than what the header injection script supports. Some work would need to be done to expand support for this site. Please escalate this to @KevinMHoffmanUSDS if that's needed.

cc @brandonrapp

[2020-03-24 19:36] Jeff-Hayter commented on #6650
@jbritt1 Approved for AWS.

[2020-03-24 19:37] #6788 closed

[2020-03-24 19:37] Samara-Strauss commented on #6976
Thank you! Sending this off for review.

[2020-03-24 19:37] #6486 closed

[2020-03-24 19:37] mshea0606 opened #7193 "AE - Sprint 18"
## Sprint 18 (3/25 - 4/7)

### Order of priorities
Any overflow from last sprint, plus:

1. Profile 2.0: Build starts
2. Profile 2.0: Finish conversation guide; Kickoff research; Conduct research
3. Address validation post-launch tickets (only the ones already listed)
4. My VA — MHV/Cerner split
5. PM work
6. Monitoring, maintenance, bug fixes, hardening, 508, etc

### Address validation
- [x] Ram