[2020-09-03 16:08] jonwehausen commented on #13167
Good question and thanks for asking this! We're still finalizing the spec / next steps of deployment for the global wizard tracking... got a few questions I'm waiting for answers there. That said, I should have more information for you over the coming days on how we'll approach the deployment of that, what role if any your devs need to play... To your point, we're going to have one spec that dynam

[2020-09-03 16:11] andaleliz commented on #12863
This ticket will cover all of them - I saw those in the Sketch file after I posted that comment.  Thanks for doing them!

The only thing we need to wait on is the outcome of that technical discovery so no need to post now since they might change again later.  I'm trying to stay on top of that and will keep you posted.

[2020-09-03 16:15] ncksllvn commented on #13125
When we decide to go public, these two PRs will need to be reverted -

1. https://github.com/department-of-veterans-affairs/vets-website/pull/14111
    - Excludes form detail pages from the sitemap
1. https://github.com/department-of-veterans-affairs/devops/pull/7535
    - Implemented basic auth

[2020-09-03 16:16] mnorthuis commented on #13024
This work is blocked by #13189 - once the urls are updated in that workstream, we can update them here and move forward with the redirects.

[2020-09-03 16:18] #13166 closed

[2020-09-03 16:19] erikphansen commented on #12762
@Samara-Strauss can you check this on staging again? We might be able to get this out to prod today :-D

[2020-09-03 16:20] ccruzgra commented on #12517
Accompanying content doc (v0.3): https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/education-careers/school-comparison-tool/search/design/content-doc-v0.3.md

[2020-09-03 16:22] jbritt1 commented on #13166
SOCKS access granted. Please continue with [the guide](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/engineering/internal-tools.md#configure-the-socks-proxy) to establish a connection to SOCKS proxy.

[2020-09-03 16:24] benniemosher commented on #12183
Dashboard created at:

http://grafana.vfs.va.gov/d/MOzye5vGz/ssoe-stats?orgId=1&from=now-5m&to=now

[2020-09-03 16:24] sporeboy commented on #12871
Initial draft of research plan is done pending dates...

https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/ebenefits/features/apply-CH36-VRE-counseling/research-design/usability-testing/ch36-ch31-usability-research-plan.md

[2020-09-03 16:24] benniemosher commented on #12183
Dashboard created

[http://grafana.vfs.va.gov/d/MOzye5vGz/ssoe-stats?orgId=1&from=now-5m&to=now](SSOe Stats Dashboard)

[2020-09-03 16:25] Kimberley2019 commented on #12748
@joanneesteban Thanks for passing this along.  If it is the same link as the one listed under product guide, I have already reviewed and passed along to the VEO Contact Center.

I advised the Contact Center to provide any feedback and/or questions they had no later than 9/2/2020 and I have not received anything from them.  With that being said, the Contact Center Review is complete.

[2020-09-03 16:26] jhonnyoddball opened #13199 "Missing parts of title & metatags for office"
## Issue Description
The <title> tags, and some of the metatags are missing information.

## Example:
the title tag in the GraphQL build reads “Jason Fay | VA Central Office | Veterans Affairs” while the CMS export build title tag reads “Jason Fay | Veterans Affairs”.

## Example File
`/va-central-office/staff-profiles/jason-fay/index.html`

## Tasks
- [ ] Figure out why there are some missing com

[2020-09-03 16:27] ncksllvn commented on #12242
Echoing https://github.com/department-of-veterans-affairs/va.gov-team/issues/13125 -

These two PRs will need to be reverted to make form detail pages fully public -

1. https://github.com/department-of-veterans-affairs/vets-website/pull/14111
    - Excludes form detail pages from the sitemap
1. https://github.com/department-of-veterans-affairs/devops/pull/7535
    - Implemented basic auth

[2020-09-03 16:30] peggygannon commented on #12806
Hi, @ala-yna Danielle and I synced this morning, and I have just some minor recommended content tweaks to tighten up language:

Under **Next steps**, I recommend updating this sentence TO:
"You can also contact your Caregiver Support Coordinator if you have questions."

Under **Need help**, I recommend updating this sentence TO:
"If you have questions about completing your application, please call

[2020-09-03 16:30] Kimberley2019 commented on #12748
@ala-yna I advised the Contact Center to provide any feedback and/or questions they had no later than 9/2/2020 and I have not received anything from them. With that being said, the Contact Center Review is complete.

If there have been any modifications, please provide updated documents so that the Contact Center will have the most up to date information to provide to veterans.

[2020-09-03 16:33] srmyers17 opened #13200 "View letters and documents"
## User Story
As a user, for each letter or document, I can see:
- A description of the letter or document
- An alert from VA informing me about changes to how this letter and document can be used, if one exists
- A preview of the letter itself in the app, which I can save to my phone via my phone's share sheet.

## Tasks
- [x] High fidelity prototype of screens in iOS
- [x] Usability test as need

[2020-09-03 16:35] srmyers17 opened #13201 "Claims and appeals overview screen"
## User Story
- [x] As a user, I can see all my open and closed Disability Claims and Appeals.
- [x] As a user, if I don't have any active claims, I see a screen with that message.

## Tasks
- [x] High fidelity prototype of screens in iOS
- [x] Usability test as needed, refine as needed
- [ ] (Ongoing) UI for a range of devices we are supporting; Android-specific design as needed

## Prototype
- [

[2020-09-03 16:38] srmyers17 opened #13202 "Claim status information"
## User Story

**As a Veteran, I can see the following status information for any active claim:**
- Date my claim was submitted to VA
- Title of my claim
- Step out of 5 my claim is currently on
- File requests for my claim IF my claim has them
- Title of my current step
- Estimated completion date
- Help content (FAQs)
- Phone number for claims assistance

**I can see the following status informa

[2020-09-03 16:40] srmyers17 opened #13203 "Claim file information"
## User Story

As a user, I can see the following file information for any claim:
- File requests from VA
- Descriptions of files being requested from VA

## Tasks
- [ ] High fidelity prototype of screens in iOS
- [ ] High fidelity prototype of screens in Android
- [ ] Usability test as needed, refine as needed
- [ ] (Ongoing) UI for range of devices we are supporting

## Prototype
[Screen link](h

[2020-09-03 16:42] srmyers17 opened #13204 "File request alert"
## User Story
As a user, if I have file requests from VA, I will see an alert message communicating that on my claim status tab. Tapping that alert will take me to the files tab.

## Tasks
- [x] High fidelity prototype of screens in iOS
- [ ] High fidelity prototype of screens in Android
- [ ] Usability test as needed, refine as needed
- [ ] (Ongoing) UI for range of devices we are supporting

##

[2020-09-03 16:47] srmyers17 opened #13205 "Claims file upload"
## User Story
As a user, I can use my phone's camera to upload files to a claim or add files from my phone's files to a claim.

## Tasks
- [x] High fidelity prototype of screens in iOS
- [ ] Usability test as needed, refine as needed
- [ ] (Ongoing) UI for a range of devices we are supporting, Android-specific designs as needed

## Wireframes
[The document upload UX flow can be triggered from this

[2020-09-03 16:48] ncksllvn commented on #13125
This will be ready after today's deployment. It did two things -

1. Basic auth implemented for all pages that start with `/find-forms/about-form-`
    - See https://www.va.gov/find-forms/about-form-10-10ez
1. All form detail pages are excluded from sitemap

[2020-09-03 16:48] #11747 closed

[2020-09-03 16:48] #12816 closed

[2020-09-03 16:48] #11737 closed

[2020-09-03 16:48] #11741 closed

[2020-09-03 16:48] #11734 closed

[2020-09-03 16:48] #11736 closed

[2020-09-03 16:49] #11740 closed

[2020-09-03 16:49] #12392 closed

[2020-09-03 16:49] #12145 closed

[2020-09-03 16:49] #11714 closed

[2020-09-03 16:49] #12417 closed

[2020-09-03 16:49] #10144 closed

[2020-09-03 16:49] #12219 closed

[2020-09-03 16:49] #10147 closed

[2020-09-03 16:49] #12373 closed

[2020-09-03 16:49] #11739 closed

[2020-09-03 16:50] #11738 closed

[2020-09-03 16:50] #11735 closed

[2020-09-03 16:50] #12391 closed

[2020-09-03 16:50] #11744 closed

[2020-09-03 16:50] #11746 closed

[2020-09-03 16:50] #12686 closed

[2020-09-03 16:50] srmyers17 opened #13206 "Claim detail information"
## User Story
As a user, I can view the following details for any claim:
- Claim type
- What you've claimed
- Date received
- VA representative for claim

## Tasks
- [ ] High fidelity prototype of screens in iOS
- [ ] High fidelity prototype of screens in Android
- [ ] Usability test as needed, refine as needed
- [ ] (Ongoing) UI for range of devices we are supporting

## Prototype
[Link to screen

[2020-09-03 16:50] #12697 closed

[2020-09-03 16:50] #12237 closed

[2020-09-03 16:51] sonntag-adam commented on #12366
![Screen Shot 2020-09-03 at 12.48.31 PM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/ac77c5e8-a4a7-44ce-8fd2-617cd162a26b)
##
![Screen Shot 2020-09-03 at 12.50.55 PM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/1b8427aa-cb7e-4aec-a8ba-666d6509dead)

[2020-09-03 16:53] srmyers17 opened #13207 "Board Appeals: Status"
## User Story
For any appeal, I can see the following information:

- [x] Date appeal was received
- [x] Date/time appeal was last updated
- [x] Past events for appeal & their dates
- [x] Current status of the appeal
- [x] Text explaining where the Veteran is in the docket line (if data exists in API)
- [x] Veterans Affairs Benefits and Services phone number
- [x] Link to VA.gov to get more detail

[2020-09-03 17:00] joanneesteban commented on #6830
@jonwehausen @bsmartin-ep bumping this issue.

[2020-09-03 17:01] lihanli commented on #11545
i'm no longer getting the `TuxedoServiceFoundButWrongApp` error, so it looks like the service is working now

[2020-09-03 17:01] ncksllvn commented on #11155
Basic auth is ready, https://github.com/department-of-veterans-affairs/va.gov-team/issues/13125, so this issue is unblocked

[2020-09-03 17:09] sonntag-adam commented on #12366
https://dsvavsp.testrail.io/index.php?/tests/view/12318&group_by=cases:section_id&group_order=asc&group_id=51

[2020-09-03 17:11] lunascoop commented on #11155
I set Form 21-4138 (#1 in the batch list above) to publish in Drupal as a trial run.

[2020-09-03 17:17] delli-gatti-michael opened #13208 "GIBCT: Institution tags missing from search results"
The search result "cards" for institutions should have labels as implemented in #11306. The tags are currently not displaying for search results.

### Steps to reproduce
1. Search for "divine word college" on in the comparison tool

### Expected Behavior:
Tags present on search result card

![dwc.png](https://images.zenhubusercontent.com/5c07f000391a6f6357adc430/a94f5f09-6e24-4386-bd36-16bcac0b8de

[2020-09-03 17:20] ksantiagomorgan6 commented on #13208
pull request: https://github.com/department-of-veterans-affairs/vets-website/pull/14114

[2020-09-03 17:21] indytechcook commented on #13177
I'm looking at this.

[2020-09-03 17:25] annaswims opened #13209 "[Development] Form 526 Upload file types"
# Issue Description

This isn't right. A veteran is allowed to upload a text file, despite what the text on the page says. BUT they're only allowed to upload a file if it's over the minSize of  1024 bytes.
<img width="648" alt="Screen Shot 2020-09-03 at 11 39 08 AM" src="https://user-images.githubusercontent.com/19188/92140423-1429e000-eddf-11ea-9fed-1a380087afe2.png">

TODO: decide course of acti

[2020-09-03 17:26] annaswims commented on #10427
created https://github.com/department-of-veterans-affairs/va.gov-team/issues/13209

[2020-09-03 17:27] SgardnerPMP opened #13210 "[QA] Help QA and team access SOCKS through Microsoft Internet Explorere 11 or newer [PM]"
## Issue Description
_As a QA tester, I need access through SOCKS for all web browsers including Firefox, Chrome, and IE 11.

---
## Tasks
- [ ] _Test and document SOCKS set up for IE if possible.

## Acceptance Criteria
- [ ] _Access to web enabled programs through all Browsers

---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to

[2020-09-03 17:31] Samara-Strauss commented on #12762
Looks great! I think we can close this and push to prod today.

<img width="724" alt="Screen Shot 2020-09-03 at 1 31 04 PM" src="https://user-images.githubusercontent.com/34068740/92147912-c1095a80-ede9-11ea-8291-ef74b46f00a7.png">

[2020-09-03 17:32] Samara-Strauss commented on #11545
Great! @lihanli — do you have a good sense of what you should be doing from here?

[2020-09-03 17:33] U-DON opened #13211 "Upgrade Mocha"
Mocha is currently on v5, while the latest release is v8. We should upgrade to the latest version.

The latest version supports running tests in parallel, which is worth exploring as it might eliminate flaky tests.

## Definition of Done
- [ ] Upgrade Mocha to v8

[2020-09-03 17:34] lihanli commented on #11545
yes, i will try to test both endpoints based on the example requests that mike walker provided

[2020-09-03 17:34] #12888 closed

[2020-09-03 17:35] #9217 closed

[2020-09-03 17:39] delli-gatti-michael commented on #13208
Local testing complete

![Screen Shot 2020-09-03 at 1.38.02 PM.png](https://images.zenhubusercontent.com/5c07f000391a6f6357adc430/abb07629-24ff-4a15-b51b-055b83747f54)
![Screen Shot 2020-09-03 at 1.38.15 PM.png](https://images.zenhubusercontent.com/5c07f000391a6f6357adc430/2989a090-5eba-4ba4-b719-904d85a01e2e)
![Screen Shot 2020-09-03 at 1.38.33 PM.png](https://images.zenhubusercontent.com/5c07f00

[2020-09-03 17:48] abuckley3385 commented on #12257
@mdewey Feedback in [Mural](https://app.mural.co/t/vsa8243/m/vsa8243/1599154743088/3e545eb990e506c11327dca2d9cd4b53a8a91687)

[2020-09-03 17:51] camerontesterman opened #13212 "Filter dependent debt letters"

[2020-09-03 18:00] jason-gcio commented on #9744
Yes! 🎉
We are done with all minor copy edits and I made sure they were all reflected in the product guide.
Getting into LFS and will update the link above in the ticket and ping you when uploaded.

[2020-09-03 18:02] jhonnyoddball commented on #13190
based on Steve's comment:
There is no harm in passing it through. It’ll be ignored.

[2020-09-03 18:02] #13190 closed

[2020-09-03 18:04] jhonnyoddball opened #13213 "Missing uid field for press_releases_listing"
## Issue Description
The `uid` field is missing in the reverseFieldListingNode field of the console.info output

## Example File
`/pittsburgh-health-care/news-releases/index.html`

## Tasks
- [ ] Figure out why the `uid` field is blank.
- [ ] Resolve issue, and verify the output matches the GraphQL content build.

[2020-09-03 18:07] jhonnyoddball opened #13214 "Inconsistent data-number value for publication_listing"
## Issue Description
The data-number value is off by 1

## Example:

GraphQL Output:
[code]
CMS Export Output:
[code]

## Example File
`/outreach-and-events/outreach-materials/index.html`

## Tasks
- [ ] Figure out why the number is off.
- [ ] Resolve issue, and verify the output matches the GraphQL content build.

[2020-09-03 18:08] mpelzsherman commented on #10002
This was reverted because the implementation caused other problems. Re-opening.

[2020-09-03 18:15] thilton-oddball commented on #12554
https://github.com/department-of-veterans-affairs/vets-api/pull/4400
https://github.com/department-of-veterans-affairs/vets-api/pull/4755
https://github.com/department-of-veterans-affairs/vets-api/pull/4756
https://github.com/department-of-veterans-affairs/vets-api/pull/4758
https://github.com/department-of-veterans-affairs/vets-api/pull/4759
https://github.com/department-of-veterans-affairs/vets-

[2020-09-03 18:20] Kimberley2019 commented on #2220
Closing this ticket after discussing that this is not something that we will move forward with.

[2020-09-03 18:20] #2220 closed

[2020-09-03 18:22] Kimberley2019 commented on #9025
This ticket should stay backlogged or iceboxed until we can meet with the appropriate teams, develop a streamlined process for current data gathering and team data needs.

[2020-09-03 18:24] kristenmcconnell commented on #12257
@mdewey I added my current feedback to Amanda's mural. I'm still going to try and find a user with multiple addresses.

[2020-09-03 18:25] lealester commented on #12845
operational status n/a; contact us listed twice

[2020-09-03 18:26] Kimberley2019 commented on #5523
January report was created.

[2020-09-03 18:26] #5523 closed

[2020-09-03 18:26] Kimberley2019 commented on #11016
Chante has completed.  After discussion, this ticket can be closed.

[2020-09-03 18:26] #11016 closed

[2020-09-03 18:29] Kimberley2019 commented on #11011
After discussion, we could bring this up in the coming months to VEO but don’t want to do that until we have established some of the other work we have going on with them.

[2020-09-03 18:33] jhonnyoddball opened #13215 "Mismatched width and height for story_listing"
## Issue Description
Mismatched img width and height attributes. The GraphQL output seems to be using the thumbnail dimensions while the CMS export seems to be using the full dimensions

## Example File
`/pittsburgh-health-care/stories`

## Example Code

### GraphQL build
[code]
### CMS Build
[code]

## Tasks
- [x] Figure out why there is a mismatched in width and height.
- [x] Resolve issue, and

[2020-09-03 18:36] jhonnyoddball opened #13216 "Field office is null for story_listing"
## Issue Description
The field `office` is null in the cms build, when it should be populated.

## Example File
`/pittsburgh-health-care/events/index.html`

## Tasks
- [x] Figure out why the `office` field is null.
- [x] Resolve issue, and verify the output matches the GraphQL content build.

[2020-09-03 18:37] theodur commented on #13049
Resolved and merged in https://github.com/department-of-veterans-affairs/vets-website/pull/14115.

[2020-09-03 18:37] #13049 closed

[2020-09-03 18:38] sanlouise commented on #12902
1. **Are we supposed to be linking to individual prescriptions, and is that functionality broken? Or is it just something that was in a mockup that never got built? Do you see this in the code?**
This was never built.

2. **If we wanted to link to individual prescriptions, could we do that easily?**
We are getting a lot of data for each individual prescription. What would we link to exactly? Would

[2020-09-03 18:41] Kimberley2019 commented on #9744
Awesome news @jason-gcio.  I may be OOO (9/7/2020 - 9/21/2020) when this is updated and ready for review.  If so, please ping @clantosswett so that my absence does not cause a bottleneck.

[2020-09-03 18:51] sanlouise commented on #12902
This is a quote from Jeff that might be helpful for context:

My memory of the history of prescriptions on vets/va.gov is that a long time ago we built a full rx refill app and that was eventually removed in favor of having a simplified view on the profile and sending folks to MHV for actually doing anything. I believe Eugene Doan and Kam Karshenas worked on that old rx app (which included buildin

[2020-09-03 18:52] mdewey commented on #12257
@kristenmcconnell  and @abuckley3385  Thanks for the feedback I will wait till a few things are confirmed until I address them :-)

[2020-09-03 18:55] jhonnyoddball commented on #13137
merged into [13113](https://github.com/department-of-veterans-affairs/va.gov-team/issues/13113)

[2020-09-03 18:55] #13137 closed

[2020-09-03 19:01] jhonnyoddball opened #13217 "Missing trailing forward for vamc_operating_status_and_alerts"
## Issue Description
Many of the href attributes in the links for the “megaMenuData” field have a missing forward slash at the end of the link.

## Example File
`/pittsburgh-health-care/operating-status/index.html`

## Tasks
- [ ] Figure out why there missing forward slashes.
- [ ] Resolve issue, and verify the output matches the GraphQL content build.

[2020-09-03 19:04] jhonnyoddball opened #13218 "div missing part of text for vamc_operating_status_and_alerts"
## Issue Description
A `<div>` tag under the “Operating Status” header is missing part of it’s text
“VA Pittsburgh health care facility operating statuses and emergency information.” vs
“facility operating statuses and emergency information.”

## Example File
`pittsburgh-health-care/operating-status/index.html`

## Tasks
- [ ] Figure out why there are missing parts of the div.
- [ ] Resolve issue,

[2020-09-03 19:16] rianfowler commented on #5989
### Previous epic descriptions

*[July 2020 MK:]*

The tickets in this epic represent the remaining work needed to complete the Tome sync build, including creating transformers to enable Find VA Forms and 8 VAMC sites to be released.

- [ ] Fix the existing transformers with validation errors due to drift
- [ ] Create the remaining transformers
- [ ] Verify the result of the CMS export transformer

[2020-09-03 19:33] jhonnyoddball opened #13219 "Missing divs for vamc_operating_status_and_alerts"
## Issue Description
There are 2 missing divs in the “Situation updates and information” section. The “data-entity-id”s are 12772 and 12771.

## Example File
`/pittsburgh-health-care/operating-status/index.html`

## Tasks
- [ ] Figure out why there are some missing divs.
- [ ] Resolve issue, and verify the output matches the GraphQL content build.

[2020-09-03 19:35] mshea0606 opened #13220 "[Design] Create error message for when a user's Military Branch does not appear in Military Information section"
## Background
We discovered a bug where a Veteran's Military branch did not populate in the Military Info section. This occurs when we receive a "null" value.

![image](https://user-images.githubusercontent.com/60523453/93620516-1d52a980-f9a8-11ea-8209-40fc0344258d.png)

**https://www.va.gov/records/get-military-service-records/reconstruct-records**

## Tasks
- [ ] Create error message

## Accepta

[2020-09-03 19:37] rianfowler opened #13221 "CMS Export Build [v1.1] — Preview server & generator & other crucial improvements"
- Clean up and enhance the existing documentation
- Creating a transformer
- Train VSA and CMS to build transformers
- generator/auto-generator
- Preview server

[2020-09-03 19:37] mshea0606 opened #13222 "[FE] Create error message for when a user's Military Branch does not appear in Military Information section #13220"
## Background
See Design Ticket: [Design] Create error message for when a user's Military Branch does not appear in Military Information section #13220

## Tasks
- [ ] Create error message

[2020-09-03 19:41] peggygannon commented on #12549
@rtwell looks good. Thank you!

[2020-09-03 19:42] dneel-bah commented on #12670
@Kimberley2019

The provided links are only available on the VA network.  They are "preview" pages that will be live in the near future.

Regarding the policy changes, I talked with EDU today and they said that they would pass along any updated information to the call center.  At this time, they do not see it having an impact on the form or submission process, it will only be on the processing tha

[2020-09-03 19:42] rianfowler opened #13223 "CMS Export Build [v2]"
Figure out link checking solution
Moving a node -- redirect
Clean up and enhance the existing documentation
Build pipeline
Change liquid template engine to improve error handling
Explore skipping transfomers

[2020-09-03 19:44] mshea0606 opened #13224 "[Design] Error alert for when Veterans are not showing up as Veterans with military information in the system"
## Background
See Slack convo:: https://dsva.slack.com/archives/C909ZG2BB/p1599156467141700

During UAT a Veteran did not show up in the system as being a Veteran with Military Information.  We should tell users when they aren't reported as being a veteran. We should let users know so they can fix it if they want to.

## Tasks
- [ ] Create updated error messaging

[2020-09-03 19:45] desireeturner commented on #1251
@1Copenut Is this something we should keep open?

[2020-09-03 19:47] desireeturner commented on #3538
@1Copenut Is this something you'd like to keep open? If so, should we discuss a path forward on resolving this?

[2020-09-03 19:48] desireeturner commented on #3835
@TamGIBill Is this something that has been resolved? If so, I can assign it to Trevor to re-test. Thanks!

[2020-09-03 19:50] mshea0606 opened #13225 "[FE] Build error alert for when Veterans are not being reported as Veterans"
## Background
See Design ticket: [Design] Error alert when we cant verify a person is a veteran/info is not available #13224

See Slack convo:: https://dsva.slack.com/archives/C909ZG2BB/p1599156467141700

During UAT a Veteran did not show up in the system as being a Veteran with Military Information. We should tell users when they aren't reported as being a veteran. We should let users know so the

[2020-09-03 19:54] desireeturner commented on #7985
@TamGIBill Any luck tracking this down?

[2020-09-03 20:03] kfrz commented on #10666
**2020-09-03**

- OAuth is now working for login on `sentry10.vfs.va.gov` !

[2020-09-03 20:06] rileyorr opened #13226 "[Design] Conduct My Documents discovery research"
## Issue Description
_In order to understand what Veterans expect in VA.gov's version of the My Documents tool, we need to uncover their successes and pain points with the eBenefits version of the tool._

---
## Tasks
- [x] _Conduct user research sessions_
- [x] _Upload transcripts (scrubbed of PII) to GH_
- [x] _Upload a topline summary to GH_

## Acceptance Criteria
- [x] _User research sessions

[2020-09-03 20:06] ccruzgra commented on #12497
These enhancements address 2 updates from UAT and VSP, both on the Personal information page:
*Including sentence & checkbox about Twilio
*Reformatting the page to address Best way to contact you & required fields

Prototype updates can be found here (v0.6): https://bahdigital.invisionapp.com/share/FAIAEVUYVKN

Accompanying v0.6 content updates can be found here: https://github.com/department-of-v

[2020-09-03 20:10] rileyorr opened #13227 "[Design] Synthesize My Documents discovery research findings"
## Issue Description
_In order to understand what Veterans expect in VA.gov's version of the My Documents tool, we need to uncover their successes and pain points with the eBenefits version of the tool._

---
## Tasks
- [x] _Synthesize data gathered from My Documents research study_
- [x] _Create a research readout document_
- [x] _Upload research readout to GH_
- [x] _(Optional / If applicable) C

[2020-09-03 20:12] jbalboni commented on #13176
FYI, this page will have a different url from the current facilities page

[2020-09-03 20:14] mchelen-gov commented on #12942
@artsymartha68 [PR is here](https://github.com/department-of-veterans-affairs/vets-website/pull/14100) for review if it ever successfully deploys to review environment...

[2020-09-03 20:16] jason-gcio commented on #9744
Here is the latest and greatest!
Transcript, video, and latest guide are all here:
https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/view-and-update-dependents/contact-center

[2020-09-03 20:19] ccruzgra commented on #12496
These enhancements address 2 updates from UAT and VSP, both on the Personal information page:
* Including sentence & checkbox about Twilio
* Reformatting the page to address Best way to contact you & required fields

Content doc v0.6 updates can be found here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/education-careers/stem/stem-standalone-10203/content/ste

[2020-09-03 20:20] Kimberley2019 commented on #9744
Thanks Jason.  I will review and pass along to the Contact Center.

[2020-09-03 20:20] bmcgrady-ep commented on #9488
@Samara-Strauss / @mshea0606

Thank you for taking the time to meet with us today. Here are the links to the different dashboards we discussed today.
- [Connected Apps Dashboard](https://analytics.google.com/analytics/web/?authuser=0#/dashboard/LtprxgtsTZu4Mxt-16iKkA/a50123418w178298118p176884211/) [Staging]
- [Address Validation Dashboard](https://analytics.google.com/analytics/web/#/dashboard/pq

[2020-09-03 20:23] #9554 closed

[2020-09-03 20:32] peggygannon commented on #12378
@leahkeeler Yes, I will close this one. thx!

[2020-09-03 20:32] #12378 closed

[2020-09-03 20:33] peggygannon commented on #10713
@Mottie ok, thank you for the update. Please let me know when ready to validate in staging.

[2020-09-03 20:37] ccruzgra commented on #12990
My notes were added to the github repo earlier today: https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/education-careers/school-comparison-tool/school-ratings/research/session-notes2

[2020-09-03 20:40] #10995 closed

[2020-09-03 20:42] ncksllvn commented on #11155
https://www.va.gov/find-forms/about-form-21-4138/ has been published! Use the prod credentials to access it, and make sure you include the trailing slash.

[2020-09-03 20:55] andaleliz commented on #13036
@ncksllvn and @kelsonic I have some thoughts I want to bounce around with you about this:

I looked at the [template requirements](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/content/tier-2-content-IA-and-design/learning-center-mvp/template-requirements.md#step-by-step), but didn't see answers to a couple of questions I had. Do you know if these have been def

[2020-09-03 20:56] peggygannon opened #13228 "Review content updates for Claim Status Tool"
## User story
Do a content review of SMEs updates to Claim Status tool to ensure they align with VA.gov tone and styleguide
These content updates are a result of this issue: https://github.com/department-of-veterans-affairs/va.gov-team/issues/11801

Word doc with SME updates:
[https://app.zenhub.com/files/133843125/d81afc70-f438-4775-ad32-dee75f940a38/download](https://app.zenhub.com/files/1338431

[2020-09-03 21:07] Samara-Strauss commented on #9488
Great! Thank you so much for all of these.

[2020-09-03 21:08] Samara-Strauss commented on #9488
Also, I think we can close out this ticket *unless* you want to wait for the Domo work to be done as part of it.

[2020-09-03 21:12] Samara-Strauss commented on #9488
Actually, one question, @bmcgrady-ep — what is the difference between the account settings dashboard in staging and the one in production? Trying to figure out which one I should bookmark/monitor after we go live.

[2020-09-03 21:29] mmiddaugh opened #13229 "Map does not include all result pins"
## Issue description
When a Veteran zooms out or pans the map, the results shown are only the new results, rather than a set containing all results within the bounding box.

For example:
<details>
<summary>the first results for Albuquerque + Community pharmacies (in VA's network) </summary>

![image.png](https://images.zenhubusercontent.com/5d8a47393ac3440001d1a2ed/dbb81714-0bd3-4ea2-9b26-c7f8cdfe

[2020-09-03 21:40] Samara-Strauss commented on #12902
So each individual prescription has a page of its own on My HealtheVet, and in theory, we could link each prescription we show on VA.gov to the individual page on MHV. [Here is an example on their staging environment](https://mhv-syst.myhealth.va.gov/mhv-portal-web/refill-prescriptions?p_auth=X49q4lvj&p_p_id=mhvRefillPrescriptionsSummary_WAR_mhvrxrefillportalportlet&p_p_lifecycle=1&p_p_state=norma

[2020-09-03 21:45] bmcgrady-ep commented on #9488
@Samara-Strauss there isn't any difference between the account security dashboards. The dashboards are built for the Profile 2.0 account security section, so currently data is only in the staging dashboard.

I think we can close out this ticket whenever you would like to. We can track the DOMO KPI dashboard in this [ticket](https://github.com/department-of-veterans-affairs/va.gov-team/issues/12621

[2020-09-03 21:47] kristenmcconnell commented on #12257
@mdewey I was able to confirm everything. I added all the final outcomes to the Mural. I also updated the Zeplin file. I'll work with Amanda tomorrow on getting the feature outline up-to-date.

[2020-09-03 21:50] Samara-Strauss commented on #10518
I think this was mostly done [as part of the design plan](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/logged-in-homepage/2.0-redesign/product/LIH-outline-and-timeline.md) for this project. @tressaellen @callen2563 is this right?:

- User testing during phase 2: Health care and Claim status
- User testing during phase 3: Design Educati

[2020-09-03 21:52] Samara-Strauss commented on #9488
Great! Thanks for clarifying.

Since we're tracking the Domo work elsewhere, we can call this #done!

[2020-09-03 21:52] #9488 closed

[2020-09-03 21:56] Samara-Strauss commented on #10516
@tressaellen @callen2563 I am thinking we might want to move this ticket to next sprint, since that's when you'll be starting explorations and having initial convos with the platform team. How does that sound? I know the [design plan is outlined here](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/logged-in-homepage/2.0-redesign/product/

[2020-09-03 21:57] kristenmcconnell commented on #12257
@mdewey Can you send me a screenshot of a user with multiple addresses, since you can see it and I can't log in as that user in staging? I'll make sure that I review it right away.

[2020-09-03 21:58] tressaellen commented on #10516
@Samara-Strauss that sounds good to me. @callen2563, thoughts?

[2020-09-03 21:59] tressaellen commented on #10518
@Samara-Strauss This is correct! We're good to close this ticket.

[2020-09-03 21:59] #10518 closed

[2020-09-03 22:08] jbritt1 commented on #11443
Going to close this one for now. Glad to revisit if/when necessary.

[2020-09-03 22:08] #11443 closed

[2020-09-03 22:22] joanneesteban opened #13230 "Test an MVP Prometheus<>BigQuery connection"
## Issue Description
In order to understand the performance of products on VA.gov, we need historical data from Prometheus or Data Dog so that we can more easily compare backend data to other performance data. How might we test an initial connection from Prometheus to BigQuery so that we can understand what these queries and automation might look like?

Use the "system availability" data point as

[2020-09-03 22:24] saneshark commented on #12967
@jbalboni I have found the code and updated the model. However, I still need to write some specs to ensure that the new attributes come across when fetching. But this is what brings me to the next question: Are we trying to update these attributes or just trying to retrieve them or both?

[2020-09-03 22:26] callen2563 commented on #10516
Yes, I agree I think we can hold off.

Cassandra Allen
Senior Interactive Designer
| office (310) 728-0046
| e. callen@governmentcio.com
GovernmentCIO
website | media | services | jobs | map

Confidentiality Note: This email may contain confidential and/or private information.
If you received this email in error please delete and notify sender.

[2020-09-03 22:30] jbalboni commented on #12967
@saneshark Just retrieve them. I believe VA Profile generates them internally, I don't think we can update them directly

[2020-09-03 22:33] saneshark commented on #12967
OK sounds good. @lihanli This code is not particularly familiar with me. I could test in the address model, but thats less than desirable. I can't seem to find a comprehensive schema for the person object anywhere. Is there a request spec you could point me to that validates the correct schema having this attribute? All specs are passing right now, but that shouldn't be the case since I added 4 ne

[2020-09-03 23:11] #12833 closed

[2020-09-03 23:12] #12059 closed

[2020-09-04 02:12] ericbuckley opened #13231 "refactor sessions controller to use instance variable when initializing url_service"
Refactor the `url_service` methods on both session controllers to attach the instantiated object to an instance variable, that way subsequent calls to this method will have the same url_service state as previous calls.

See @erluti [suggestion here](https://github.com/department-of-veterans-affairs/vets-api/pull/4843#discussion_r483326913)

[2020-09-04 12:05] rtwell commented on #13046
ok gang this is my first stab at delineating these appointments.

- as you can see, adding some type to the header isn't enough
- these don't have to be taken at home, right? i assume a Veteran could take a video appointment that is private and has stable connection
- im leaning toward the card style with the alert, as it seems clearest to me, but my good these "cards" are getting HUGE and clunky.

[2020-09-04 12:19] delli-gatti-michael commented on #13208
Tags are showing again. Closing this issue

[2020-09-04 12:34] sonntag-adam commented on #12946
Removed from staging and production. Testing passes QA

[2020-09-04 12:34] #12946 closed

[2020-09-04 13:03] #12990 closed

[2020-09-04 13:05] #12991 closed

[2020-09-04 13:29] shawkey-daniel opened #13234 "Tech debt: Modify SASS files to remove linter warning messages"
As a developer, I need to modify SASS files to eliminate build warning messages

## Acceptance Criteria
- [ ] The sass linting warnings are removed from the following files

src/applications/edu-benefits/10203/sass/10203_stem.scss
src/applications/edu-benefits/sass/edu-benefits.scss
src/applications/gi/sass/gi.scss
src/applications/gi/sass/partials/_gi-profile-page.scss
src/applications/gi/sass/pa

[2020-09-04 13:39] RLHecht commented on #12470
There was a bug affecting the placement of the TOC on pages. This has now been fixed and it's showing above the featured content box.
<img width="909" alt="Screen Shot 2020-09-04 at 9 38 55 AM" src="https://user-images.githubusercontent.com/48728214/92245497-74c62500-ee92-11ea-9192-734c855ca813.png">

Let me know if this is now ready to set to publish.

[2020-09-04 13:48] Samara-Strauss commented on #10516
Great! Moving to next sprint. cc/ @mshea0606

[2020-09-04 13:57] camerontesterman opened #13235 "Filter dependent debt letters"
## Issue Description
_What details are necessary for understanding the specific work or request tracked by this issue?_

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attac

[2020-09-04 13:57] #13235 closed

[2020-09-04 14:14] indytechcook commented on #13177
I have a PR in to fix this: https://github.com/department-of-veterans-affairs/va.gov-cms/pull/2852

[2020-09-04 14:28] lunascoop commented on #13189
@RLHecht @bethpotts I've changed the H1 header to past rates and any references to historical to past in the page introduction. I've also changed the sub-header that precedes the 3 links at the bottom of the 2020 page. These pages are all in draft mode.

**Birth defect**
2020: http://preview-prod.vfs.va.gov/preview?nodeId=993
2019: http://preview-prod.vfs.va.gov/preview?nodeId=5062
2018: http://pr

[2020-09-04 14:37] massrb commented on #12404
I am able to see the staged PR instance now mentioned previously.

 I am working on breaking up the commits into separate pull requests because a PR can not be more than 1000 lines of code based on various rules in place. This means breaking up the code into smaller parts but also involves the challenge that each of those parts needs to have at least 90% code coverage. That means pulling in test c

[2020-09-04 14:50] rebeccawalsh commented on #9686
Hi @mnorthuis !

I must have written this out before but never hit the comment button for it - whoops.

We noticed some stuff while we were testing - one major one that you may be interested in was how many people would hit the 'Manage your VA debt' breadcrumb to get back to the debt list page (called 'Current VA debt').

We also had our participants show us where they might find their debt letter

[2020-09-04 14:57] jhonnyoddball opened #13237 "Missing text in 2 divs for full_width_banner_alert"
## Issue Description
There are 2 divs that are missing

## Example File
`/pittsburgh-health-care/operating-status/index.html`

## Tasks
- [ ] Figure out why there are missing divs.
- [ ] Resolve issue, and verify the output matches the GraphQL content build.

[2020-09-04 15:09] mmiddaugh commented on #12724
Pulling out some details from the Slack thread referenced above

VSP is looking to add support for testing content and application builds together [#13118](https://github.com/department-of-veterans-affairs/va.gov-team/issues/13118)
-  separate from the content build because of the strict performance constraints
- separate from the application build because it does not have access to the content bu

[2020-09-04 15:19] amyknox commented on #13000
- How do the KPIs you gathered compare to your pre-launch definition(s) of "success"?
   - Increase in time on page is helpful, shows users are having more interaction with the controls and exploring the various accordions
   - Analytics show users are engaging with the accordions and selecting the "Update benefits" button to trigger the calculations, which is exactly what we wanted to happen
- Wh

[2020-09-04 15:21] ncksllvn commented on #13135
Designs for Step-by-step, https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/content/tier-2-content-IA-and-design/learning-center-mvp/wip-files/VA-LCT-Step-by-step-screen-shots.png

[2020-09-04 15:22] ncksllvn commented on #13134
Designs for multiple, https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/content/tier-2-content-IA-and-design/learning-center-mvp/wip-files/VA-LCT-FAQ-Multiple.png

[2020-09-04 15:23] mmiddaugh opened #13238 "Expand test coverage for VAMC pages"
## Issue Description
We need to expand our test coverage for VAMC pages using the [Liquid Template testing framework](https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/site/README.md#liquid-template-unit-testing-framework) developed by VSP.

AXE checks are performed automatically on all pages listed in the site map during the build, and are therefore out of scope.

##

[2020-09-04 15:26] mpelzsherman commented on #12724
Just to document this: there is an automated test that runs as part of the website build/compilation - in Jenkins, that would be during the vagov(dev|staging|prod) builds.

`src/site/stages/build/plugins/check-broken-links`

[2020-09-04 15:33] erikphansen commented on #13121
@Samara-Strauss This is a great find. It seems to only happen when you try to force through the address that you entered _if you get back more than one valid suggestion_. Which is super rare. But:
- VA Profile should accept that user-entered address since we are passing along a validation key
- Our FE should handle the error to create the transaction more gracefully

More notes below:

Tried to sa

[2020-09-04 15:33] gileswells commented on #13087
I'm able to connect to SOCKS

[2020-09-04 15:34] Mottie commented on #11801
Peggy is reviewing the content provided by Fred. Once done, the PR (https://github.com/department-of-veterans-affairs/vets-website/pull/14131) will be updated and be ready.

[2020-09-04 15:36] Mottie commented on #12480
Actually, the email I referred to above applies to https://github.com/department-of-veterans-affairs/va.gov-team/issues/11801 - I'm still not sure what needs to be done with this issue. The duration cards have been hidden in https://github.com/department-of-veterans-affairs/va.gov-team/issues/10293, and there shouldn't be any `maxEstDate` information shown to the user (at this time).

[2020-09-04 15:40] jhonnyoddball opened #13240 "Missing sections for health_care_local_facility"
## Issue Description
There are big sections missing

## Example:
[code]
or
[code]
or
Wrong href for images

## Example File
`/pittsburgh-health-care/locations/pittsburgh-va-medical-center-university-drive/index.html`

## Tasks
- [ ] Figure out why there are missing sections.
- [ ] Resolve issue, and verify the output matches the GraphQL content build.

[2020-09-04 15:40] amycesal commented on #12247
this was delivered in Slack: https://dsva.slack.com/archives/C010AJ1L2EN/p1597867385001800

[2020-09-04 15:40] #12247 closed

[2020-09-04 15:41] templeman15 opened #13241 "Access for Steven Templeman"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Add a comment @department-of-veterans-affairs/vsp-operations to ping the operations team
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please

[2020-09-04 15:42] templeman15 commented on #13241
@department-of-veterans-affairs/vsp-operations

[2020-09-04 15:44] #12048 closed

[2020-09-04 15:50] jhonnyoddball commented on #13199
CMS will look into this issue
![Screen Shot 2020-09-04 at 11 49 36 AM](https://user-images.githubusercontent.com/55560129/92258377-ba8be900-eea4-11ea-8c20-29b81980ae41.png)

[2020-09-04 15:54] emilywaggoner commented on #12806
Thanks @ala-yna and @jonathanjnelson - the outline of the changes and highlighted screenshots were super clear and easy to follow. Also, I support Jennifer's recommendation to add the label to the Medical Center field.

The only feedback I have is a **Consider** item:
On the page with the Medical Center questions, consider tightening up the space between the headings and subsequent body text to em

[2020-09-04 16:03] jason-gcio commented on #12982
@1Copenut - Also, the field validation is also in place.  Is there anything else you can see that we should cover before closing this ticket?
![image](https://user-images.githubusercontent.com/53826255/92260890-96c9a280-eea6-11ea-9962-28041d7156ba.png)

[2020-09-04 16:04] RLHecht commented on #12267
@lwalsh617 I've done a copy edit on all of these and have a few questions:

**Update your insurance beneficiary:** Do we need to define what we mean by a competent Veteran?

**VGLI Auto Pay:** Should the numbered list in the "How do I enroll in VGLI auto pay" be turned into a process list?

**SGLI Online Enrollment System:** Should the numbered list be turned into a process list?

**Dividend payme

[2020-09-04 16:05] rileyorr commented on #12894
Incorporated Shawna's feedback and sent the research plan + convo guide to Lauren

[2020-09-04 16:05] rileyorr commented on #12895
Incorporated Shawna's feedback and sent the research plan + convo guide to Lauren

[2020-09-04 16:06] amyknox commented on #13000
Updates are here
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/education-careers/school-comparison-tool/estimate-your-benefits/release-plan.md#go-live

Get any additional input at UXBA Sync 9/8

[2020-09-04 16:15] jhonnyoddball opened #13242 "Missing hrefs for health_care_local_facility"
## Issue Description
There are multiple hrefs missing

## Example:
[code]

## Example File
`/pittsburgh-health-care/locations/pittsburgh-va-medical-center-university-drive/index.html`

## Tasks
- [ ] Figure out why there are missing hrefs.
- [ ] Resolve issue, and verify the output matches the GraphQL content build.

[2020-09-04 16:19] ricetj commented on #12742
This may have been done. @jbritt1 to check and close if  done.

[2020-09-04 16:20] #12741 closed

[2020-09-04 16:23] ricetj commented on #12728
Lack of info on what job to run, so it is a bit of a guess right now. more docs on what the jobs do. ie more technical documentation for folks that need to do a rollback as an example.

[2020-09-04 16:27] ricetj commented on #12726
Need  AWs access before taking this one.

[2020-09-04 16:29] delli-gatti-michael commented on #12304
Tested by the following testrail test case:
https://dsvavsp.testrail.io/index.php?/cases/view/929&group_by=cases:section_id&group_order=asc&group_id=51

[2020-09-04 16:30] drorva commented on #13023
approved. Welcome to the team Srikanth

[2020-09-04 16:32] ricetj commented on #13188
@tskinn to add info  on adding a backend

[2020-09-04 16:34] jhonnyoddball opened #13243 "Missing javascript content for health_care_local_facility"
## Issue Description
There is some missing javascript content

## Example:
[code]

## Example File
`/pittsburgh-health-care/locations/pittsburgh-va-medical-center-university-drive/index.html`

## Tasks
- [ ] Figure out why there is content missing.
- [ ] Resolve issue, and verify the output matches the GraphQL content build.

[2020-09-04 16:35] erikphansen commented on #12762
Merged and released! I'm closing this. I know you validated it in staging and I don't think we can test it in prod.

[2020-09-04 16:35] #12762 closed

[2020-09-04 16:42] jonwehausen commented on #13060
@johnhashva

Thanks again for your follow-up on the green button removal. Documenting here for further visibility purposes.
slack thread: https://dsva.slack.com/archives/C0113MPTGH5/p1599059026104600

-------
#### ❕ **Green button will be getting removed, original spec including the `expand|collapse` should be ignored**
------

### Here are a few remaining design / functional implications we shoul

[2020-09-04 16:47] jonwehausen commented on #13198
Confirming receipt @batemapf ! Thanks again, we will be in touch shortly

[2020-09-04 16:55] jonwehausen commented on #13103
### Update 9/4
- Amy Knox requested items related to the conversions of the form and ineligibility alerting
- As a result we drafted an _open_ and _closed_ funnel solution for form 10203
- Stoop up a mockup dashboard at https://va-gov.domo.com/page/1767988090 to include each of the funnels with 2 different visualizations for each.

**For an explanation of the closed funnel vs open funnel:**

![ima

[2020-09-04 16:56] Kimberley2019 commented on #12670
@dneel-bah Thank you very much for passing this information along.  All information has been passed along to VEO Contact Center and this ticket can now be closed.

[2020-09-04 16:56] #12670 closed

[2020-09-04 16:58] lunascoop commented on #11155
The remaining pages have been set to publish. Will validate after today's deployment.

[2020-09-04 16:58] #13023 closed

[2020-09-04 16:58] jsev-io commented on #13023
AWS Access Granted

[2020-09-04 16:59] #12748 closed

[2020-09-04 17:00] delli-gatti-michael commented on #12459
Tested by the following testrail test case:
https://dsvavsp.testrail.io/index.php?/cases/view/918&group_by=cases:section_id&group_order=asc&group_id=51

[2020-09-04 17:01] joanneesteban commented on #13101
@mmiddaugh Do you want to start out with the same pages that are being tracked on ForeSee? We can also start out with VAMC instead!

[2020-09-04 17:21] srmyers17 opened #13244 "Higher Level Review: Status"
## User Story

For any higher-level review, as a user I can see the following information:
- [x] Title of the higher-level review, the date it was received
- [x] Date it was last updated
- [x] Past events for the higher-level review and their date
- [x] Current status (title and description)
- [x] Text explaining where the Veteran is in the docket line (if data exists in API)
- [x] Veterans Affair

[2020-09-04 17:22] mmiddaugh commented on #13101
yes, please! I think that would be a good place to start. I'll talk with @davidconlon about if/when/where to start with the VAMC pages but in the meanwhile, Facility Locator could use the feedback.

[2020-09-04 17:29] RLHecht commented on #12403
@mnorthuis These are another set of historic rates where we should adjust the URLs to be more consistent with plain language. We haven't set these up yet with any URL since they aren't published. Should these follow the same structure as the disability ones, ending the URL with /past-rates-2018/ for each one? Please let us know.

@lunascoop I've added a new task above to update the content with "p

[2020-09-04 17:30] delli-gatti-michael commented on #13208
Reopening this issue. The tags have gone missing again

[2020-09-04 17:32] LinnJS commented on #12585
@jenstrickland ready for validation

[2020-09-04 17:32] lunascoop opened #13245 "Internal redirects: Disability "past" rates pages"
## Issue Description

In ticket #13189, we updated past rates tables to address the lack of plain language. Specifically, we eliminated the words "historic" and "historical," and replaced with "past." This change extends to the URL names for these pages, which needs to be redirected to the newer name.
---
## Tasks
- [ ] Publish pages listed below (Randi)
- [ ] Implement redirects for the pages lis

[2020-09-04 17:34] delli-gatti-michael commented on #13041
The flag is working correctly Staging. Closing this issue

[2020-09-04 17:34] #13041 closed

[2020-09-04 17:35] srmyers17 commented on #13065
Design doc for this still needs a couple of updates, still need official sign off.

[2020-09-04 17:35] srmyers17 commented on #13071
Set up diagram of auth + team discussing today

[2020-09-04 17:36] srmyers17 commented on #13074
Incorporating feedback from Martha + Ryan. Fine tunning discussion guide

[2020-09-04 17:37] srmyers17 commented on #13089
Removed cards from homescreen testing for round 1.

[2020-09-04 17:41] srmyers17 commented on #13184
Q: Difference between viewing the letter vs. downloading it?
A: When it is generated, a PDF is created, you can't view it inline in browser

Decision: Allow users to view letter (via display PDF) before they having to download it.
Next: Talk to DF about this and see what their recommendation is.
Note: If this is async, we may need to alert user that it will take time to request and view

[2020-09-04 17:42] srmyers17 commented on #13182
Add step to view first.

[2020-09-04 17:43] andaleliz commented on #13036
On hold. Waiting for image deets from Oksana and response on ^ before moving forward.

[2020-09-04 17:44] srmyers17 commented on #13207
Got access to an appeal to view, working data points into mockups.

[2020-09-04 17:44] mshea0606 opened #13246 "[Design] Profile - make it more clear that we only support US phone numbers"
## Background

**Updated 3/30/21**
We thought we needed to change the display of international phone numbers somehow since we are totally ignoring the country code at the moment. We've determined that what we actually need to do is make it more clear to people that we only support U.S. numbers at this time.

See [slack convo](https://dsva.slack.com/archives/C909ZG2BB/p1599226764172300?thread_ts=15

[2020-09-04 17:45] srmyers17 commented on #13244
At this point we have not been able to see one of these. Perhaps because Appeals API is broken in staging. BAM team will likely start working on it again when they work on the CST.

Talking to CST team next Friday. Follow up with Steve on what to do in order to see what data is available on this screen.

[2020-09-04 17:46] srmyers17 commented on #13244
What we can see in the Appeals API may not be helpful because when we look at Claims API we see things that aren't necessarily on the screen, so we need to make sure we are viewing the right data points.

[2020-09-04 17:48] srmyers17 commented on #13021
In review with VSP. Requires VSP review b/c this is the container we will work in and then we will be in our container and can be left alone!

[2020-09-04 17:51] DanielleThierryUSDSVA commented on #12252
Hello @mnorthuis. I think we likely have another entry point into the STEM page here: https://www.va.gov/education/about-gi-bill-benefits/

![image.png](https://images.zenhubusercontent.com/5e8b13016a4378a604f5e799/2deb70c9-5b3b-42ef-aaef-851a442b6af3)

Do you agree? If yes, I'll add a link/description. Thanks!

[2020-09-04 17:54] jbritt1 commented on #13241
### For AWS Access:

User: Steven Templeman
COR: Cecilia Lee
Approval needed: @Jeff-Hayter

[2020-09-04 17:55] srmyers17 opened #13247 "Set up front end repo"
## Tasks

- [x] Add relevant documentation

- [x] Add standards for accessibility, testing, security

[2020-09-04 17:56] andaleliz commented on #13036
Moving some info from Slack into GH so we have this all in one place. I asked:

I brought this up to the team yesterday and Nick said he was pretty sure that Drupal created different image sizes from an uploaded image.
I'm interested to know more about how this works. Does it use the img or picture tag? Does it resize the images to a specific kb size, or dimensions, or both? Could you estimate the

[2020-09-04 17:56] 1Copenut commented on #12982
@jason-gcio I reviewed this on Staging just now. I like the implementation a lot and the checks it puts in place. Are there ways to prevent the second error message from firing if I skip over the confirm email address field, then come back to it? Screen reader users might have a difficult time with the current implementation, because the second error fires immediately after I start typing into the

[2020-09-04 17:57] andaleliz commented on #13036
Also asked @oksana-c the question below.  She'll reply here instead of Slack.

- Is there a limit to how many steps a person can add?
- Is there a limit to how many screenshots a person can add for each step?

[2020-09-04 17:59] srmyers17 opened #13248 "LOA Pathway Options"
## Tasks

- [ ] Identify different pathway options, draft in diagram

- [ ] Review w/Patrick to make sure it is correct

- [ ] Review w/Steve to decide which ones we will support + how we will handle the ones we don't support

- [ ] Talk to IAM team about how to handle the users we will vs. won't support

[2020-09-04 18:00] jsev-io commented on #13241
@templeman15 You should now have SOCKS proxy access, please verify when possible.

[2020-09-04 18:01] micahchiang commented on #12982
@1Copenut That's a good thought for sure. I can definitely investigate that issue. Just so we're on the same page - does the current implementation remove our launch blocker, or should we really try and see if firing the validation check after `onBlur()` is possible prior to launch?

[2020-09-04 18:05] sonntag-adam commented on #13234
![Screen Shot 2020-09-04 at 1.58.11 PM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/a2a5dbaa-de1f-4fe4-9b74-dbe2baa61086)

[2020-09-04 18:07] 1Copenut commented on #12982
Great question @micahchiang ! If it's feasible to adjust the validation check for launch with low/no risk, let's go ahead and do that. If it's a bit more work, LMK and I'll open a fast follow ticket. Either way, this solves the immediate data safety issue, so should remove the launch block as is.

[2020-09-04 18:09] bradl3yC opened #13249 "Debt Letters - Debt Summary Page V2 FE"
Migrate summary page to v2 designs

[2020-09-04 18:10] oksana-c commented on #13036
@andaleliz , there's currently no limit on steps. Screenshots are limited to 1 per step.
I'll get back re: images sizes next week.

[2020-09-04 18:10] hughes-dustin commented on #13208
PR: https://github.com/department-of-veterans-affairs/vets-website/pull/14134

Branch: bah-feature-flag-fix

[2020-09-04 18:17] jhonnyoddball opened #13250 "Wrong hrefs for support_service"
## Issue Description
There are some href that were not transformed correctly

## Example:
[code]

## Example File
`/health-care/index.html`

## Other notes
right rail of `/health-care`

## Tasks
- [ ] Figure out why there are missing hrefs.
- [ ] Resolve issue, and verify the output matches the GraphQL content build.

[2020-09-04 18:18] mpelzsherman commented on #10002
Bumping estimate from 2 to 5 due to need to isolate this change to VAMC pages only.

[2020-09-04 18:21] andaleliz commented on #11499
Put together a [Mural board](https://app.mural.co/t/vsa8243/m/vsa8243/1599058756286/389fe124296d14b2ceee7ea532497e8e12c3aaad) exploring possibilities.

I mocked-up solutions to explore:
- using what eBenefits team has started
- use cases where people are looking up something specific in a table, such as a rate that applies to them (look up table
- use cases where people need to compare values side

[2020-09-04 18:25] jhonnyoddball commented on #13168
Steve commented:

[2020-09-04 18:26] jhonnyoddball commented on #13193
Stev commented:

[2020-09-04 18:27] jhonnyoddball commented on #13197
Steve Commented:

[2020-09-04 18:29] peggygannon commented on #13228
@bethpottsVADEPO

Recommended content updates to the SME changes to Claim Status Tool are listed below. I didn't commit any of my changes, as I thought it best to just do 1 content commit.

You can see the SME changes in this PR: https://github.com/department-of-veterans-affairs/vets-website/pull/14131/commits/d262f52ac7765a7e1261ba335ec88e7b1047a162

1. Remove period after this sentence:
To do th

[2020-09-04 18:29] mshea0606 opened #13251 "[Design] Whiteboarding/Wireframing 2-3 high-level concepts"
## Background
Part of LIH phase 1
See [LIH outline](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/logged-in-homepage/2.0-redesign/product/LIH-outline-and-timeline.md)

## Tasks
- [x] Whiteboarding
- [x] Wireframing (2-3 high level concepts)
- [x] Review with team and pick preferred concept
- [x] Matt to schedule VSP Design/Intent checkp

[2020-09-04 18:31] jhonnyoddball opened #13252 "Wrong hrefs for landing_page"
## Issue Description
There are some href that were not transformed correctly

## Example:
[code]

## Example File
`/life-insurance/index.html`

## Tasks
- [ ] Figure out why there are some missing hrefs.
- [ ] Resolve issue, and verify the output matches the GraphQL content build.

[2020-09-04 18:34] templeman15 commented on #13241
@jsev-io I have SOCKS proxy access, thanks!

[2020-09-04 18:34] andaleliz opened #13253 "[Discovery] - Learning Center MVP - IRIS Call Center Author Research Round 1, Final Plan"
**Acceptance criteria:**

- [ ] Review research plan with product team
- [ ] Update/edit as needed
- [ ] Submit plan to Shawna for review

[2020-09-04 18:38] jhonnyoddball opened #13254 "Differing metatags for node-page"
## Issue Description
The metatags aren’t rendered the same in the CMS export build

## Example File
`/burials-memorials/bereavement-counseling/index.html`

## Other notes
It looks like these metatags are before the <title> instead of after, like in the GraphQL build. Looking at the metatags.drupal.liquid include, it’s not immediately apparent (to Chris) what’s causing this. The page layout include

[2020-09-04 18:38] mshea0606 opened #13255 "[Design] LIH Design Intent checkpoint"
## Background
[Collaboration cycle documentation visual](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/working-with-vsp/vsp-collaboration-cycle/vsp-collaboration-cycle-visual.pdf)

[Design/Intent checkpoint requirements](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/working-with-vsp/vsp-collaboration-cycle/vsp-collaboration-

[2020-09-04 18:39] omgitsbillryan opened #13256 "Protect Against Deploying the master Branch when master is not "Deployable""
### The Problem
Sometimes the `master` branch is not "deployable". We want an automated check during deployment that will fail out of the deployment in this event.

### More Context
One example of `master` not being "deployable":
1. Daily auto-deploy occurs with severe bug
2. A new manual deployment is run using the previous release

`master` is now in a state "non-deployable" state. This can be a

[2020-09-04 18:40] andaleliz commented on #13036
Thanks Oksana! Submitted a PR to Jen to propose adding these details about the step-by-step template in the requirements to make sure that is clear to all.

[2020-09-04 18:41] #12893 closed

[2020-09-04 18:41] #13249 closed

[2020-09-04 18:45] #13174 closed

[2020-09-04 18:52] mchelen-gov commented on #12942
@artsymartha68 can you take a look at [review instance](http://4100fa77e296595a45de09d7f341d26f.review.vetsgov-internal/) and approve https://github.com/department-of-veterans-affairs/vets-website/pull/14100 if it looks good?

[2020-09-04 18:53] sanlouise commented on #12013
@erikphansen

In your example, the Alert is already partially in the viewport so adding `scrollOnShow` will not trigger a scroll.

[code]

Do you suggest we should update the Alert component to instead check for a certain percentage visibility in the viewport to trigger scroll (i.e. 20%), versus none at all? I am not sure what the best way would be to go about doing this, but that might work.

[2020-09-04 19:07] jhonnyoddball opened #13258 "Title casing for node-page"
## Issue Description
The CMS export <title> is sentence case, but the GraphQL build contains Title Case.

## Example File
`/burials-memorials/bereavement-counseling/index.html`

## Tasks
- [ ] Figure out why the `<title>` field is sentence case.
- [ ] Resolve issue, and verify the output matches the GraphQL content build.

[2020-09-04 19:19] jhonnyoddball opened #13259 "Added <div class=”row”> and content for node-page"
## Issue Description
There’s extra content at the bottom of the CMS export. This is for the list of link teasers.

According to[ the page template](https://github.com/department-of-veterans-affairs/vets-website/blob/add-entity-id-cv/src/site/layouts/page.drupal.liquid#L68), it looks like it’s because the fieldRelatedLinks is not empty.

## Example File
`/disability/about-disability-ratings/index.h

[2020-09-04 19:21] lunascoop commented on #12403
@RLHecht the content on the the pages listed in the description, along with the current 2020 versions listed below have been updated.

-2020 Survivors benefit pension: http://preview-prod.vfs.va.gov/preview?nodeId=589
-2020 VA pension rates: http://preview-prod.vfs.va.gov/preview?nodeId=591
-2020 Protected: http://preview-prod.vfs.va.gov/preview?nodeId=5090

[2020-09-04 19:21] jhonnyoddball opened #13260 "Missing data-entity-id for paragraph-q_a"
## Issue Description
The data-entity-id is missing

## Example File
`/burials-memorials/bereavement-counseling/index.html`

## Tasks
- [ ] Figure out why the `data-entity-id` field is blank.
- [ ] Resolve issue, and verify the output matches the GraphQL content build.

[2020-09-04 19:23] jhonnyoddball opened #13261 "Missing title for paragraph-q_a"
## Issue Description
The title attribute is blank

## Example File
`/burials-memorials/bereavement-counseling/index.html`

## Tasks
- [ ] Figure out why the `title` field is blank.
- [ ] Resolve issue, and verify the output matches the GraphQL content build.

[2020-09-04 19:26] jhonnyoddball opened #13262 "Bad href for paragraph-wysiwyg"
## Issue Description
The href for an anchor tag inside a wysiwyg is pointing to /node/859

## Example File
`/burials-memorials/eligibility/burial-at-sea/index.html`

## Tasks
- [ ] Figure out why the href is wrong.
- [ ] Resolve issue, and verify the output matches the GraphQL content build.

[2020-09-04 19:27] jhonnyoddball commented on #13262
Steve commented:

[2020-09-04 19:29] jhonnyoddball opened #13263 "Inconsistent newlines for paragraph-wysiwyg"
## Issue Description
A paragraph inside the GraphQL wysiwyg entity contains no newlines. In the CMS export build, however, it does. Each nested anchor tag is on its own line.

## Example File
`/disability/about-disability-ratings/index.html`, search for “Compensation 101”

## Tasks
- [ ] Figure out why there is a problem with newlines.
- [ ] Resolve issue, and verify the output matches the GraphQL

[2020-09-04 19:30] delli-gatti-michael commented on #13208
Tags are showing again (again). Re-closing this issue

[2020-09-04 19:30] #13208 closed

[2020-09-04 19:30] jhonnyoddball opened #13264 "Missing class for paragraph-list_of_link_teasers"
## Issue Description
The class attribute is blank

## Example File
`/burials-memorials/bereavement-counseling/index.html`

## Tasks
- [ ] Figure out why the class attribute is blank.
- [ ] Resolve issue, and verify the output matches the GraphQL content build.

[2020-09-04 19:37] omgitsbillryan commented on #13256
### Proposal 1
On the deploy job we could add 2 new job params:

[code]

When a deploy happens where `block_future_deploys` is non-null, ansible will create a `.deploy_blocker` file in the `/app` directory with the contents of the file being the `block_future_deploys` job string param.

When a future deploy runs, we can add a jenkins or ansible step that checks for the existence of this `.deploy_b

[2020-09-04 19:38] omgitsbillryan commented on #13256
I had another thought to create a new "Rollback Deploy" job... but I'm hesitant to create new jobs. It would require the engineer to be aware of this new job, and nothing would stop them from going to the original deploy job they already know.

[2020-09-04 19:56] #12826 closed

[2020-09-04 19:57] omgitsbillryan opened #13265 "Alert for Clashing StatsD Metrics that Cause The StatsD Exporter to Crash"
## The Problem
It's possible for StatsD metrics in the `vets-api` codebase to "clash", such as when the label names on the metric are inconsistent. When this happens, the `statsd-exporter` process that runs on the `vets-api` instances, crashes and restarts, which prevents new stats from being scraped by prometheus.

In summary, we lose reporting of many of the `vets-api` metrics.

## More Context

[2020-09-04 20:00] rileyorr opened #13266 "[Design] My Documents usability test research plan"
## Issue Description
_To kick off usability testing for the My Documents MVP, we need to write a research plan using [the provided template](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/research/research-plan-template.md)._

---
## Tasks
 - [ ] _Write a research plan for the My Documents MVP usability test study_
- [ ] _Send the completed research plan to Shaw

[2020-09-04 20:00] ericbuckley commented on #13265
Another possibility worth research, can we configure `statsd-exporter` to not restart when an invalid set of tags are received?

[2020-09-04 20:03] lenaecb opened #13267 "New Facility selection page - Sort child facilities based on distance"
As a Veteran who is making a VA appointment, I want VAOS to only show me the facilities that I care about and want to receive care from using my home address as a starting point.

### Acceptance criteria:
- user is only displayed child facilities that: user is registered to, support the type of care selected
- if we have home/residential address for user, facilities are sorted based on distance fr

[2020-09-04 20:04] #12549 closed

[2020-09-04 20:05] andaleliz commented on #13117
[Draft started](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/content/tier-2-content-IA-and-design/learning-center-mvp/discovery-and-research/iris/iris-author-research-plan.md)

[2020-09-04 20:07] rileyorr opened #13268 "[Design] My Documents usability test conversation guide"
## Issue Description
_To kick off usability testing for My Documents, we need to write a research plan using [the provided template](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/research/planning/conversation-guide-template.md)._

---
## Tasks
- [ ] _Write a conversation guide for the My Documents usability test study._
- [ ] _Send the completed conversation g

[2020-09-04 20:10] jsev-io commented on #13040
SOCKS Access confirmed.

[2020-09-04 20:11] lenaecb opened #13269 "New facility selection page - Use geolocation to sort child facilities"
As a Veteran who is making a VA appointment request, I want to use my current location instead of my home/residential address to sort the facilities I can go to for my care needs.

### Acceptance Criteria:
- User can use their current location (based on their browser) to sort facility list
- Facility list should only include facilities: the user is registered to and that supports type of care prev

[2020-09-04 20:14] rileyorr opened #13270 "[Design] Conduct My Documents usability testing sessions"
## Issue Description
_In order to validate that the My Documents design is intuitive to our user base, we need to a conduct task-based usability study to verify the UI and uncover opportunities for improvement._

---
## Tasks
- [ ] _Conduct usability test sessions_
- [ ] _Upload transcripts (scrubbed of PII) to GH_
- [ ] _Upload a topline summary to GH_

## Acceptance Criteria
- [ ] _Usability tes

[2020-09-04 20:16] ericbuckley commented on #13265
I believe we're still running [version 0.3.0 of statsd_exporter](https://github.com/department-of-veterans-affairs/devops/blob/6bb7a512265cec2996b2bd0107605bc76572526b/ansible/build/roles/prometheus/defaults/main.yml#L25), its possible that if we upgrade to a more recent version, [post 0.10.2](https://github.com/prometheus/statsd_exporter/blob/master/CHANGELOG.md#0102--2019-05-17), inconsistent la

[2020-09-04 20:23] rileyorr opened #13271 "[Design] Synthesize My Documents usability test findings"
## Issue Description
_In order to validate that the My Documents design is intuitive to our user base, we need to a conduct task-based usability study to verify the UI and uncover opportunities for improvement._

---
## Tasks
- [ ] _Synthesize data gathered from My Documents usability testing study_
- [ ] _Create a research readout document_
- [ ] _Upload the research readout to GH_
- [ ] _(Option

[2020-09-04 20:23] 1Copenut commented on #11702
@meganhkelley I've updated my three documents to point to new Cypress helpers, and noted the Nightwatch automated test suite has been deprecated.

[2020-09-04 20:27] mdewey commented on #10485
Feedback was given and tech diagram was updated

[2020-09-04 20:27] #10485 closed

[2020-09-04 20:34] lenaecb opened #13272 "Full Accessibility & 508 Office Audit [Express Care]"
Requesting 508 audit for our latest feature - Express Care in the VAOS tool on VA.gov.

## Artifacts - _please provide the following artifacts when you request a full review_
- Typical test user used for VAOS - Judy
- [You can find our completed accessibility checklist ticket here. ](https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/12

[2020-09-04 20:39] mnorthuis commented on #13245
Redirects outside of Drupal are not needed for these given they are such low volume and were not live for very long.  The URLs just need to be changed before we redirect the legacy pages to them.

[2020-09-04 20:46] bridgethapner commented on #13071
# Proposed approach for LOA1 UX:

- LOA1 users can't manage claims or appointments, and it looks like they can't view/edit their profile either. So we want to throw up a gate once LOA1 users login to the app that prevents them from actually accessing the app features.
- We also want to throw up a modal that users must interact with _before_ sign in (step 2 below) to give LOA1 users a chance to not

[2020-09-04 20:46] #12830 closed

[2020-09-04 20:55] lunascoop commented on #13245
Closing this ticket per Mikki's comment above. The effort for changing the URLs in Drupal is already tracked in ticket #13189. cc: @MickinSahni @bethpotts @RLHecht @kelsonic @ncksllvn

[2020-09-04 20:55] #13245 closed

[2020-09-04 20:57] lenaecb commented on #13046
A few comments/feedback:
- For confirmed VVC appts - we do not display any additional 'reason for appt' 'booking notes' so that won't show on cards as you have outlined here
- For video from home appts - I would keep it simple and only have the line about joining via secure connection
- Also for video from home - we need a way to distinguish these for Veterans - this has been ongoing feedback from

[2020-09-04 20:57] ncksllvn commented on #13036
If it helps answer any questions, the veteran banner on the homepage is in a picture element -

![image](https://user-images.githubusercontent.com/1915775/92284082-4adf2380-eecf-11ea-8476-66b57693963f.png)

I think that is a valid scenario, and that would be part of the balance between image size and image quality. We'll probably have to do this case by case, determining when it's important a pict

[2020-09-04 21:23] jason-gcio commented on #12982
@1Copenut - @micahchiang and I chatted and we decided to look into it and if it's quick and easy (famous last words) we will pop it in; else we will put this in the fast follow queue.  Either way, we will holler and make sure you are aware.

[2020-09-04 21:33] massrb commented on #13160
I created a pull request with 852 lines but the backend review group wants it broken down further. This could mean I have to write more tests

[2020-09-04 21:35] lunascoop commented on #11155
The pages are live and working as intended (remember to add a trailing slack to the end of the URL though!). There may be 2 or 3 URL names that need to changed in the URL above.

1. Form 10-10ez-pdf (https://www.va.gov/find-forms/about-form-10-10ez-pdf/): I recall a slack convo to remove the "pdf" from the URL name. But doing so results in **2.**
2. Form 10-10ez (esp): https://www.va.gov/find-form

[2020-09-04 21:35] massrb commented on #12404
I created a PR but it needs more work, see: https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/13160

[2020-09-04 21:36] peggygannon commented on #12653
Hi, @Mottie I was FINALLY able to access the BDD screens within the form and have added some additional content feedback above. please let me know if you have any questions about my recommendations. Thank you!

[2020-09-04 21:46] #10666 closed

[2020-09-04 22:05] jason-gcio opened #13273 "Send SSN and DOB to BGS"
## Background
Given what we have learned with the extra fields being required for submission in BGS, we needed to ensure that when removing dependents we also had those fields in place as well.  Now that SSN and DOB are in place on the FE

## Considerations
- There are 5 workflows:
    - Remove divorced spouse
    - Remove stepchild
    - Remove deceased dependent
    - Remove married child
    -

[2020-09-04 22:07] #12982 closed

[2020-09-04 22:24] peggygannon commented on #12626
HI, @RLHecht I updated your PR with the changes to the downtime banner link.

[2020-09-04 22:37] erikphansen commented on #12013
Oh that totally makes sense. I like your approach. Alternatively there could be another prop that overrides that check thats happening that's preventing the scrolling.

[2020-09-05 01:02] pjhill commented on #11702
^ Ditto

[2020-09-05 17:09] DanielleThierryUSDSVA opened #13274 "Localization | Discovery | Accessibility Initial Conversation"
## Issue Description

We need to identify, discuss, and document potential accessibility issues and solutions in preparation for localization MVP.

---
## Tasks
- [x] Discuss and document concerns and solutions

## Acceptance Criteria
- [x] Accessibility concerns and solutions discussed and documented
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed

[2020-09-07 19:24] andaleliz commented on #13117
@jenniferlee-dsva I've taken this draft as far as I can until we know more about who we'll be talking with.  Would like your input on a couple of things:
- There is so little I know about this that I don't have a strong hypothesis I'm hoping to prove or disprove.  I think that's okay for the nature of this study, but if you have any hypothesis to add (I have 2), please feel free.
- Taking a guess

[2020-09-07 20:50] DanielleThierryUSDSVA commented on #10670
**Status update:** Launched targeted for 9/10/20. Education SMEs will provide any pre-launch feedback by 9/9/20.

[2020-09-07 20:53] jonwehausen commented on #11687
### QA Testing

Description of Interaction | Tag Screenshot | Test Status
------------ | ------------- | -------------
Started API Call for Payment History | ![image](https://user-images.githubusercontent.com/48527022/92415994-5c236c80-f129-11ea-8486-a1c4a41cfb55.png)<br><br>![image](https://user-images.githubusercontent.com/48527022/92415985-50d04100-f129-11ea-861c-3360029d90b3.png) | ✔️ **PASS**

[2020-09-07 20:53] #11687 closed

[2020-09-07 21:17] DanielleThierryUSDSVA commented on #12470
Thanks, @RLHecht!

[2020-09-07 22:01] jonwehausen commented on #10780
### QA Testing

Description of Interaction | DL Screenshot | Tag Screenshot | Test Status
------------ | ------------- | ------------- | -------------
Removal of `cta-primary-button-click` on `benefits/stem-eligibility` to `/benefits/confirm-eligibility` | N/A | N/A | ✔️ **PASS**
Initial ineligibility alert received | ![image](https://user-images.githubusercontent.com/48527022/92416950-cc33f180-f1

[2020-09-07 22:54] jonwehausen commented on #10780
@amyknox @bsmartin-ep @desireeturner

Closing issue. Charts on Education Rollout mockup have been updated to include the initial ineligibility steps

[2020-09-07 22:54] #10780 closed

[2020-09-08 00:40] bethpottsVADEPO commented on #13228
@peggygannon I'm not finished yet, but getting this comment in here so I don't lose what I've done so far! I'll add information about what lines these are one as that'll be helpful to whoever makes the changes.

1. Rewrite as:
If you don’t agree with the Statement of the Case, you can continue your case by taking one of the actions listed below.

**You'll have to take one of these actions within 6

[2020-09-08 11:22] DanielleThierryUSDSVA commented on #12978
Hi @leahkeeler. I'd like to schedule a call to go over the details of this work. @peggygannon should be included in that call as well, as we'll be working together on this. Also, do you have a target timeline yet? An estimate will help us prioritize the work. Thanks!

[2020-09-08 12:01] DanielleThierryUSDSVA opened #13275 "Determine any needed tech approvals"
## Issue Description
As the team implementing a translation widget on the coronavirus FAQs page, we need to understand and obtain any needed approvals prior to implementation.
---
## Tasks
- [ ] Get understanding of needed approvals
- [ ] Obtain needed approvals

## Acceptance Criteria
- [ ] All approvals in place prior to launch
---
## How to configure this issue
- [ ] **Attached to a Milestone**

[2020-09-08 12:25] sonntag-adam opened #13276 "STEM: phone number field validation"
Both "Home phone number" and "Mobile phone number" take all special characters instead of just dashes and digits.

Steps to reproduce:

1. Navigate to contact information https://staging.va.gov/education/other-va-education-benefits/stem-scholarship/apply-for-scholarship-form-22-10203/personal-information/contact-information
2. Observe screenshot below
##
Expected results: Do not allow special char

[2020-09-08 12:45] DanielleThierryUSDSVA commented on #13275
Hi @batemapf. Wondering if you might have time today or tomorrow to talk through the question of what approvals we might need to add a translation widget?

[2020-09-08 12:51] batemapf commented on #13275
happy to! will DM for time

[2020-09-08 12:55] sonntag-adam commented on #13039
This is in staging. Closing story.

[2020-09-08 12:55] #13039 closed

[2020-09-08 13:05] leahkeeler commented on #12978
Hi Danielle - Thanks!!!! I will schedule for later this week, I do have a high level timeline to share

[2020-09-08 13:21] #12856 closed

[2020-09-08 13:28] 1Copenut commented on #13030
@andreahewitt-odd I had a chance to review these all last week and updated docs with Cypress current practices. We should be good to close this issue.

[2020-09-08 13:31] 1Copenut commented on #12249
@andreahewitt-odd I'm not sure where we landed on this one. It's probably worth revisiting with the teams working on wizards to see if they're ready for a light-touch review of accessibility.

[2020-09-08 13:32] 1Copenut commented on #7343
@andreahewitt-odd can we close this issue?

[2020-09-08 13:33] #1896 closed

[2020-09-08 13:43] pjhill commented on #7343
I love all these idea still. I guess this would be the purview of the FE tools team?

[2020-09-08 13:46] johnhashva commented on #12249
@1Copenut and @andreahewitt-odd (with @leahkeeler FYSA)  --  a few of us (Mikki, Peggy, Liz and I) met on Thursday to review IA/Content feedback for Education Wizard (and some of this will apply to other Wizards, including Disability (https://staging.va.gov/disability/file-disability-claim-form-21-526ez/introduction) and we want to take time to refine some things, so this will slow our launch plan

[2020-09-08 13:48] abuckley3385 opened #13277 "[FE] Questionnaire List"
# Product Documentation
[Questionnaires Product Outline ](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/product-outline.md)
- [Visit Intro Initiative (Proof of Concept)](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/initiatives/visit-intro.md)
[Feature - Que

[2020-09-08 13:52] rtwell commented on #13046
hmmm instead of calling them "at home" appointments, I wonder if we should call them "online appointments" or something. The more I dig into this, the more our choice of language is going to be the biggest factor.

[2020-09-08 13:54] kristenmcconnell opened #13278 "[UX] Virtual Care Manager Docmentation"
- Document the user experience of Virtual Care Manager and how it would connect to the Reason for Visit questionnaire
- Create a storyboard

[2020-09-08 14:05] pjhill commented on #7410
OBE

[2020-09-08 14:05] #7410 closed

[2020-09-08 14:05] pjhill commented on #7484
OBE

[2020-09-08 14:05] #7484 closed

[2020-09-08 14:10] #12742 closed

[2020-09-08 14:14] rtwell commented on #13046
![image](https://user-images.githubusercontent.com/12564977/92488108-1cf22b80-f1bc-11ea-9805-9dbd9d289a96.png)

[2020-09-08 14:30] annaswims commented on #10524
Ok, now we have the additional information
In the last week there were 111 events affecting 74 users.
http://sentry.vfs.va.gov/vets-gov/platform-api-production/issues/197033/events/7576154/

we see this 53 times:
{:other=>[{:codeSystem=>"2.16.840.1.113883.5.1100", :code=>"INTERR", :displayName=>"Internal System Error"}]}
`2.16.840.1.113883.5.1100` is the HL7 code for  AcknowledgementDetailCode. St

[2020-09-08 14:33] Samara-Strauss commented on #12664
Next steps for this that we discussed in last week's grooming: @tressaellen to revisit this with Jen Strickland. I am against this idea unless it is 100% required for us to meet 508 compliance. This gives way too much emphasis to deleting data, which is a secondary action that it's unlikely users are going to the profile to take. It's also not something we want to overly encourage, though I unders

[2020-09-08 14:37] jason-gcio commented on #11206
Based on the email from Harlow on Tuesday, these endpoints have to be shifted around to accommodate the service call that has all the info.

[2020-09-08 14:43] jonwehausen commented on #13198
## Update
- Did a run thru of the form in staging this AM, initial findings include:
   - There is already a **`covid-research-volunteer--submission`**, **`covid-research-volunteer--submission-successful`**, and **`covid-research-volunteer--submission-failed`** event on form submission 👍

### Developer Notes
- Use the specification below to track prior to and on submission question respones
- As n

[2020-09-08 14:45] #12815 closed

[2020-09-08 14:45] leahkeeler commented on #12900
closing dup of 12929

[2020-09-08 14:45] #12900 closed

[2020-09-08 14:46] kristenmcconnell opened #13279 "Questionnaire Title/Appointment Details"
---
## Tasks
- [x] Finalize the questionnaire title and appt details locations, layout and content
- [x] Update wireframes

## Acceptance Criteria
- [x] Review with accessibility
- [x] UI review meeting with product
- [x] UI review meeting with engineering
- [x] Published to [Zeplin](https://zpl.io/VOOek8j)

[2020-09-08 14:50] #13157 closed

[2020-09-08 14:52] omgitsbillryan commented on #13265
Good idea. Even in the newest version, it still seems like having inconsistent labels is a bad thing, it just won't cause a restart. Probably best to upgrade and then create a metric filter on the new error message.

[2020-09-08 14:59] bmcgrady-ep commented on #4552
@MickinSahni - no, we are at the limit for the number of widgets we can have on the find forms search dashboard, so we would need to create a separate GA dashboard.

[2020-09-08 14:59] mdewey commented on #12257
![Screen Shot 2020-09-08 at 10 59 08 AM](https://user-images.githubusercontent.com/1793923/92493309-5b8ae480-f1c2-11ea-9ea3-b153fe957443.png)

[2020-09-08 14:59] mdewey commented on #12257
I got the feedback, will get started on that today

[2020-09-08 15:02] kristenmcconnell commented on #12257
Thanks for the multiple addresses screenshot. No additional comments beyond what I already sent you.

[2020-09-08 15:04] ricetj opened #13280 "Request access to Google Analytics"
# Request Google Analytics access

## What this form is for
Use this template to request access to Google Analytics

## User Email Address
Please link this issue to the DSVA Slack channel [#vfs-platform-support](https://dsva.slack.com/channels/vfs-platform-support), add VSP Analytics & Insights to your message, and provide the email address(es) for user(s) requesting access.

No Channel in DSVA sl

[2020-09-08 15:04] tressaellen commented on #12859
All issues have been documented in [this document](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/profile/Combine%20Profile%20and%20Account/Research/UAT/Profile%202.0%20Research%20Findings.md).

None of these are launch blockers.

[2020-09-08 15:04] #12859 closed

[2020-09-08 15:17] sanlouise commented on #12902
Thank you for the background!

We do not currently get this link through our API.

We are conditionally showing that refillDate now. This is how we determine which date to show next to 'You submitted your refill order on':

`const submittedDate = moment(refillSubmitDate || refillDate).startOf('day');`

If we have access to the refillSubmitDate, we show that. If we don't, we currently show the refi

[2020-09-08 15:19] desireeturner commented on #10511
Weighing in on this from the development perspective, it would be nice to fix this but there is no reliable way to do so because this is an issue with the source data. We can change it programmatically, but there are cases where it would be wrong to do so. The proper solution is to fix the source data, which comes from user-inputs and therefore would require manual intervention (which we are tryin

[2020-09-08 15:25] erluti opened #13281 "Do not auto/eager-load lib directory"
This change is important to reflect standard Rails practices and support transition to `zeitwerk` loader.

This change was added, but then needed to be reverted by this PR https://github.com/department-of-veterans-affairs/vets-api/pull/4846

[2020-09-08 15:26] andaleliz commented on #10511
Thanks for sharing that! I see what you're saying.  Can you please share some examples of cases where it would be wrong to do so? I know it's common for people to refer to schools by their acronyms (e.g. UCLA) but we should be spelling out the full names in their listing. Not sure where else all caps would be correct.

I know some GIBCT data is uploaded via a CSV, and I think that it would not be

[2020-09-08 15:27] kelsonic commented on #10234
Hmm, is this risky to implement? I get the feeling that it might be since we'd control of the maintenance banner would then go to pager duty CC @ncksllvn @MickinSahni

[2020-09-08 15:27] omgitsbillryan opened #13282 "Upgrade StatsD Exporter"
## The Problem
[We currently install version 0.3 of `statsd-exporter` for the vets-api AMI build](https://github.com/department-of-veterans-affairs/devops/blob/6bb7a512265cec2996b2bd0107605bc76572526b/ansible/build/roles/prometheus/defaults/main.yml#L25). The latest version of `statsd-exporter` as of writing this ticket is [0.18](https://github.com/prometheus/statsd_exporter/releases/tag/v0.18.0).

[2020-09-08 15:28] kelsonic commented on #12535
Do we know what the links will be here for Disability + Education boxes? 🙂

[2020-09-08 15:29] erluti commented on #13281
This PR fixes some previously unidentified missing requires: https://github.com/department-of-veterans-affairs/vets-api/pull/4852

[2020-09-08 15:30] Samara-Strauss commented on #12902
This sounds really bad and confusing, because I think it looks like we are showing the refill date sometimes as the submit date. No wonder people are confused.

Going forward, please do not do this. If we have the submit date, we should show it only as the submit date. If we have the refill date, we should only show that as the refill date. Can you make a note of this somewhere?

Otherwise, I thin

[2020-09-08 15:30] #12902 closed

[2020-09-08 15:31] #13171 closed

[2020-09-08 15:34] RLHecht commented on #13189
These have all been updated and published. Moving to validate and will close after today's deployment. FYSA @bethpottsVADEPO @mnorthuis

[2020-09-08 15:36] narin commented on #12853
@bsmartin-ep This code was merged to master late last week and I've verified that the API events (`vaos-get-future-appointments-started` etc.) are firing.  Could you please verify that the number of cards dimensions are also being passed?  I'm not sure the best way to get to these in GA.

[2020-09-08 15:50] lenaecb opened #13283 "Bug - VAOSR should be presenting parent cities associated with VistA parent facilities for CC and it's not"
What should be happening:
1. We get the list of registered VistA sites (from MPI)
2. We use the list of registered sites to get the list of parent sites (from CDW)
3. We check to see what parent sites have CC supported (from var-resources)
4. We display the parent sites to the user as city, state choices if there’s more than 1

What's actually happening:
1. We get the list of registered VistA site

[2020-09-08 15:53] #12554 closed

[2020-09-08 15:56] mmiddaugh opened #13284 "Design Intent Collaboration – Facilities [Vet Centers]"
## Instructions

1. Click or press the gear icon next to the "Labels" heading on the right. Search for your team in the labels list. If your team is not listed in the Labels menu, please leave a comment after you have created this issue. The Product Support team will create a new label for your team. -->
2. Text inside `<-- comment -->` blocks will not appear in your issue ticket. These comments o

[2020-09-08 15:59] lenaecb commented on #13046
@rtwell nice! I loving this latest iteration.

@peggygannon - content thoughts/input here?

[2020-09-08 16:12] zurbergram commented on #13276
https://github.com/department-of-veterans-affairs/vets-website/pull/14140

[2020-09-08 16:22] sporeboy commented on #12470
Works for me... Thank you! :-)

[2020-09-08 16:24] jason-gcio commented on #12470
Agreed, thank you @RLHecht - we are good to go for this to published.

[2020-09-08 16:27] MickinSahni commented on #4552
Gotcha. Thanks, @bmcgrady-ep. When should we be able to checkout that dashboard?

@ncksllvn considering we're in prod now (behind basic auth), is there anything we need to do to begin seeing GA results?

[2020-09-08 16:28] #12712 closed

[2020-09-08 16:28] #12159 closed

[2020-09-08 16:28] #12160 closed

[2020-09-08 16:29] Mottie commented on #12663
These changes will require fixes in the form system save-in-progress component owned by VSP.

[2020-09-08 16:37] jonwehausen commented on #13280
Thanks @ricetj , confirming receipt and have added folks listed to GA. They should have received an email indicating their access.

We will close when we have validated GA can now be accessed.

[2020-09-08 16:40] ncksllvn commented on #10234
In the past, we've only shown the maintenance banner during site-wide outages, where the API is completely down. VSP created a tool to determine site-wide downtime from the FE without an API request. The idea here is that we could use that tool to power the maintenance banner so that we no longer need to edit our own JSON config to set up site-wide downtime.

[2020-09-08 16:40] MickinSahni opened #13285 "Staging Review - Find VA Forms: Detail Pages"
## Steps to complete Staging Review:

- [x] Product Manager: create this issue and fill in feature name in the title and other bolded information appropriately
- [x] Attach all artifacts before requesting the meeting
- [ ] Link to this issue once created in [#vfs-platform-support](https://dsva.slack.com/channels/vfs-platform-support) in Slack; tag @ AndreaHewitt
- [ ] Andrea to schedule meeting wi

[2020-09-08 16:40] MickinSahni commented on #13285
@andreahewitt-odd could an asynch staging review be appropriate for this initiative?
We're in prod now (behind basic auth) and have our prereqs nearly complete ☝️.
Hopefully we can save some time on our schedules by doing it offline (rather than a meeting) 🤞.

[2020-09-08 16:41] ncksllvn commented on #4552
Nope, we should be good to go test start testing the analytics in any environment!

[2020-09-08 16:46] lihanli opened #13286 "[BE] Create BGS CH33 DDEFT Service integration"
add controller and service class for the BGS CH33 DDEFT read and update APIs

## Acceptance Criteria

- [ ] Add service class for calling BGS CH33 DDEFT APIs
- [ ] Add controller for BGS CH33 DDEFT read and update APIs
- [ ] Block this work so the endpoints are not accessible before the frontend is ready to start their build

[2020-09-08 16:47] annaswims commented on #10524
We were able to get some useful info, but logging more will be helpful https://github.com/department-of-veterans-affairs/vets-api/pull/4860/files

[2020-09-08 16:47] lihanli commented on #11537
backend work issue: https://github.com/department-of-veterans-affairs/va.gov-team/issues/13286

[2020-09-08 16:48] RLHecht commented on #12470
Just published the page. This should be live later this afternoon.

[2020-09-08 16:48] lihanli commented on #11545
@steve-gov i was able to test both APIs using the bgs gem and they both seem to be working

[2020-09-08 16:55] joanneesteban opened #13287 "Host Medallia CSS"
## Issue Description
In order to make specific design changes on Medallia surveys, we have to add our own custom CSS. This needs to get hosted on VA.gov and then we (VSP Analytics & Insights) can add it to the Medallia web portal to change the design.

I have our code below (it hasn't been tested, so please make any updates if it's needed!)

---
## Tasks
- [ ] Update CSS code block below/confirm a

[2020-09-08 17:09] rtwell commented on #13046
i'm still leery of "at home" because it really not about taking the appointment at home per se, but i have no idea how else we might talk about it.

[2020-09-08 17:17] DanielleThierryUSDSVA opened #13288 "COVID-19 facts sheets"
## What's needed

Create 1 overall fact sheet for VSOs + 3 audience-specific tips fact sheets.

### Tasks

- [x] Research & write fact sheets (Danielle)
- [x] Copy edit fact sheets (Randi)

[2020-09-08 17:17] joanneesteban commented on #12215
Hi there. Thanks for your patience. I was able to hear back from the ForeSee team about fixing this. @delli-gatti-michael would you be able to test on Staging again?

[2020-09-08 17:19] #13117 closed

[2020-09-08 17:21] #12992 closed

[2020-09-08 17:21] DanielleThierryUSDSVA commented on #13288
Hi @RLHecht. First 2 fact sheets:

[Health equity_VSO fact sheet_for copyediting_9.8.20](https://app.zenhub.com/files/133843125/ed90121a-df05-4556-9a1c-40dfc85d9fb2/download)

[Health equity_fact sheet for pregnant Veterans_for copyediting_9.8.20](https://app.zenhub.com/files/133843125/67b881b3-22a3-4726-b537-562805fa8d09/download)

[2020-09-08 17:22] #13000 closed

[2020-09-08 17:23] shawkey-daniel commented on #10511
Anytime an acronym is used in the institution name, it would be incorrect to use sentence or title case. I found seven examples in the first 36 institutions I reviewed. I agree it would be better generally and possibly more correct overall, but I think it is incorrect to modify it programmatically, because it is artificially modifying the source. If this is important enough, it should be corrected

[2020-09-08 17:25] bethpottsVADEPO commented on #12347
**Update:**

SME approved the spouses and dependents DIC pages (new 2019 and 2018 pages as well as restructuring of 2020 one so the charts are in the right place). Randi will set to go live week of 9/8.

Next step is to send the SME the parents DIC rates pages.

[2020-09-08 17:34] Clark-W-Griswold commented on #12743
Submission states rendered in staging:
Default state:
![image.png](https://images.zenhubusercontent.com/5db31b5573e8f70001d9e0c8/bd450ad9-f9d7-4bc6-9457-dc3bc07b405b)

Submit Pending:
![image.png](https://images.zenhubusercontent.com/5db31b5573e8f70001d9e0c8/eaefa83a-a844-4af5-a985-ffd8048fd98c)

Client Error:
![image.png](https://images.zenhubusercontent.com/5db31b5573e8f70001d9e0c8/e11a2e1e-dfb2

[2020-09-08 17:39] RLHecht commented on #12347
Just published the 2020, 2019 and 2018 DIC spouses parents pages. Will be live this afternoon and can validate. I'll keep this ticket where it is until we complete the same for the DIC Parents pages.

[2020-09-08 17:42] sporeboy commented on #12871
Will need to coordinate dates with UAT schedule.

[2020-09-08 17:45] jenstrickland commented on #13284
@mmiddaugh Hi there, this ticket template is sidelined and replaced by the VSP Collab Cycle: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/working-with-vsp/vsp-collaboration-cycle/vsp-collaboration-cycle.md

[2020-09-08 17:52] zurbergram opened #13289 "Access to ActionMailer Previews in staging environment"
## Description
_What details are necessary for understanding the specific work or request tracked by this issue?_
For https://guides.rubyonrails.org/action_mailer_basics.html#previewing-emails can http://staging-api.va.gov/rails/mailers/ be made accessible?

In local environment the URL is http://localhost:3000/rails/mailers/

## Background/context/resources
_Any additional context for the reader

[2020-09-08 17:53] sonntag-adam commented on #12215
@joanneesteban It is still occurring on staging.

![Screen Shot 2020-09-08 at 1.52.28 PM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/82300b09-6611-4088-b0e8-a9a2b8470854)

[2020-09-08 18:03] annaswims commented on #12915
I have the list of saved_claim_id's that we need to resubmit file upload for and I'll run the rake task after it's reviewed and in prod.

[2020-09-08 18:06] #12259 closed

[2020-09-08 18:09] jason-gcio opened #13290 "Update CH36 URL"
## Goal
We need to update the url for the CH36 feature to better match the unauth landing page's existing url.  Currently the url for the CH36 feature is `https://staging.va.gov/education-and-career-counseling/apply-career-guidance-form-28-8832/` and just needs `/careers-employment/` to be added before `/education-and-career-counseling/`.  See below:

## Recommendations from IA:
Page | URL | Bread

[2020-09-08 18:12] andaleliz commented on #10511
Yep, I'm with you on that.  So, who can help us correct the source?  If I recall correctly, the GIBCT data source is multiple CSV files... coming from multiple people/teams?

[2020-09-08 18:13] jonwehausen commented on #4552
### Next Steps
- QA analytics using preview link and document findings (on SOCKS)
- Correct any GTM changes necessary to support this dataLayer
- Begin construction on form detail page GA dashboard leveraging these analytics

@MickinSahni We have been having some complications with our SOCKS so give us a bit to get that resolved and get the analytics tested

[2020-09-08 18:16] mchelen-gov commented on #10004
@jbritt1 Oh that's alright, I wasn't sure if I had console access or not. Looks good, thanks for following up!

[2020-09-08 18:16] #10004 closed

[2020-09-08 18:16] ncksllvn commented on #4552
Actually the pages are published now. You should be able to use https://www.va.gov/find-forms/about-form-10-10ez/, and just use the standard basic auth credentials to access.

[2020-09-08 18:17] jonwehausen commented on #4552
Okay awesome! Thanks for this @ncksllvn.

We'll try to get QAed as soon as we can.

[2020-09-08 18:18] shawkey-daniel commented on #10511
The institution data is in CSV format, but the ultimate source of the CSV is WEAMS.

[2020-09-08 18:20] annaswims commented on #10427
Note to self: [uploads location
](https://console.amazonaws-us-gov.com/s3/buckets/dsva-vetsgov-prod-evss/evss_claim_documents/?region=us-gov-west-1&tab=overview)

[2020-09-08 18:22] brangi commented on #10650
merged

[2020-09-08 18:22] #10650 closed

[2020-09-08 18:25] mmiddaugh opened #13291 ""Other tools" on searches without pagination (FL)"
## What happened?
After pagination was removed from Community Care searches, the "other tools" text and link do not render as expected on screen.

<details>
<summary> During the search </summary>

![image.png](https://images.zenhubusercontent.com/5d8a47393ac3440001d1a2ed/73fd0275-4c25-40e7-86e9-ccad9c0abe5e)

</details>

<details>
<summary> Following search results </summary>

![image.png](https:/

[2020-09-08 18:29] #12443 closed

[2020-09-08 18:29] CrystabelReiter commented on #13284
Hi @mmiddaugh if you'd like to schedule a design intent please use this template: https://github.com/department-of-veterans-affairs/va.gov-team/issues/new?assignees=andreahewitt-odd%2C+meganhkelley%2C+crystabelreiter%2C+emilywaggoner&labels=product+support&template=design-intent-collaboration.md&title=Design+intent+Collaboration%5BFeature-Name%5D

Please make sure to add the artifacts to the ticke

[2020-09-08 18:30] mmiddaugh commented on #10783
@jenstrickland this one is ready for your review when you are available.

[2020-09-08 18:35] mmiddaugh commented on #8414
@jenstrickland this is ready for validation when you are available. Thank you!

[2020-09-08 18:36] mmiddaugh commented on #12715
Working through a bug in [#13291] otherwise, good to go.

[2020-09-08 18:36] #12715 closed

[2020-09-08 18:36] #12223 closed

[2020-09-08 18:36] #11896 closed

[2020-09-08 18:36] #12131 closed

[2020-09-08 18:36] #12225 closed

[2020-09-08 18:36] #12972 closed

[2020-09-08 19:02] mmiddaugh commented on #12828
From Lance:
Max duration  = 14 seconds
Average = 1.4 seconds
We get large spikes in request duration : may be related to the TIC and/or the additional call to PPMS for every result in the first one just to get the type to determine which name to display
- if you request 20 items and they have 20 results you will make 21 requests to PPMS (commonly known as an N+1 query)
- if that first query takes

[2020-09-08 19:06] #12993 closed

[2020-09-08 19:09] amyknox commented on #12995
Recommendations:

- Investigate a new name for “Marketing Practices” that reflects the intent, but provides perceived value to Veterans
- Find an improved approach to "N/A" ratings that isn't confusing to users
- Continue with the plan to allow Veterans to rate at the beginning and investigate the benefits and implications of non-Veteran beneficiaries rating schools
- Explore options that will ena

[2020-09-08 19:11] amyknox commented on #12994
**Recommendations**
- Investigate a new name for “Marketing Practices” that reflects the intent, but provides perceived value to Veterans
- Find an improved approach to "N/A" ratings that isn't confusing to users
- Continue with the plan to allow Veterans to rate at the beginning and investigate the benefits and implications of non-Veteran beneficiaries rating schools
- Explore options that will e

[2020-09-08 19:26] rileyorr opened #13292 "[Frontend] Debt Letters V2 feedback"
## Issue Description
_This ticket contains UI feedback on Debt Letters v2 as it appears in staging. I tried to categorize by page, but let me know if you have questions about anything!_

### General (across all pages)
- [ ] All the pages are missing the COVID alert
- [x] The breadcrumbs don't match [the breadcrumbs in Mikki's documentation](https://github.com/department-of-veterans-affairs/va.gov-

[2020-09-08 19:34] Mottie commented on #13228
I'm in the process of implementing the above changes. The only problem I ran into was
@peggygannon's point # 6&ndash;8 seems to clash with @bethpottsVADEPO suggestions in 11&ndash;17; essentially suggesting a change from "request that VA" to "ask VA to".

[2020-09-08 19:37] peggygannon commented on #13228
hi, @Mottie Yes, thank you! Please go with "ask VA to" as it's more plain language. thank you for catching this.

[2020-09-08 19:37] annaswims opened #13293 "[Bug] ClaimStatusTool and 526 Sending empty files to EVSS"
## What happened?
It appears that we occasionally have empty files uploaded.  They're 0Bytes by the time they reach s3 and we attempt to send them on to EVSS we should find out what method users are using to upload empty files and provide them with a useful error message, as we do on form 526

It looks like they're coming from the /v0/evss_claims/:evss_claim_id/documents endpoint, which I assume i

[2020-09-08 19:38] annaswims commented on #10427
created https://github.com/department-of-veterans-affairs/va.gov-team/issues/13293

[2020-09-08 19:44] Mottie commented on #13228
https://github.com/department-of-veterans-affairs/vets-website/pull/14131 has been updated with the above suggestions.

[2020-09-08 19:52] RLHecht commented on #13288
@DanielleThierryUSDSVA Here are the fact sheets with my edits. Let me know if you have any questions!
[Health equity_fact sheet for pregnant Veterans_for copyediting_9.8.20-RH-edit.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/5190703/Health.equity_fact.sheet.for.pregnant.Veterans_for.copyediting_9.8.20-RH-edit.docx)
[Health equity_VSO fact sheet_for copyediting_9.8.20-

[2020-09-08 19:55] #12744 closed

[2020-09-08 19:58] rileyorr opened #13295 "[Design] Debt Letters v2 staging review"
## Issue Description
_Conduct a staging review for the Debt Letters v2 UI in staging._

---
## Tasks
- [x] _Review [Debt Letters v2 UI in staging](staging.va.gov/manage-va-debt/your-debt)_
- [x] _Document UI changes in a ticket for the frontend team_

## Acceptance Criteria
- [x] _The ticket containing UI feedback is created and linked as a comment in this ticket_

[2020-09-08 19:59] rileyorr commented on #13295
I created [a ticket containing feedback](https://github.com/department-of-veterans-affairs/va.gov-team/issues/13292) for Brad.

[2020-09-08 20:11] MickinSahni commented on #13135
Node = 6899

[2020-09-08 20:18] kristenmcconnell commented on #12280
@mdewey and @abuckley3385 Final wireframes have been linked to in this story and added to the Feature-This Visit document. https://zpl.io/VOOek8j

[2020-09-08 20:18] #12280 closed

[2020-09-08 20:23] Mottie commented on #12319
Work has been delayed as the updates to be made to the vets-json-schema are still pending. I thought about working from the branch, but since the changes have been blocked, I didn't want to repeat work that would need to be done on the frontend.

[2020-09-08 20:23] rileyorr opened #13296 "[Design] Review 404 alerts in Debt Letters v2 design"
## Issue Description
_With Debt Letters v2 approaching release, the design team needs to review the second iteration to determine where/how 404 alerts will display now that the pages are being broken out._

---
## Tasks
- [x] _Review the Debt Letters v2 UI to determine where the 404 alerts should display_
- [x] _Create a ticket for frontend implementation including documentation for the 404 alerts

[2020-09-08 20:24] kristenmcconnell commented on #12693
@abuckley3385 and @mdewey Final wireframes have been linked to in this story. Also, found here...https://zpl.io/VOOek8j

[2020-09-08 20:24] Mottie commented on #12480
As far as I know, we don't have any feedback nor designs for adding an estimated time to the claim status. It _should_ include mention of COVID delays.

[2020-09-08 20:26] #12693 closed

[2020-09-08 20:32] jhonnyoddball commented on #13179
Pulled the most recent GraphQL build and the issue disappeared. Therefore, I'll be closing this issue

[2020-09-08 20:32] #13179 closed

[2020-09-08 20:36] Mottie commented on #2345
I stated investigating this issue again today. It appears that the review page data (`view:bankAccount`) isn't connected to the preloaded banking info (`view:originalBankAccount`), and that the data passed into the rendering component is only coming directly from the `view:bankAccount` (unfilled) with no way to access the preloaded info. I will look into modifying platform code to test if it is po

[2020-09-08 20:37] 1Copenut commented on #1277
@ksantiagomorgan6 && @desireeturner

I think it might be worth looking at this layout, switching the **Total paid to you** to an H4 + P like the other headings in the Your estimated benefits section, and using lists on the Estimated benefits per term section.

[code]

---
![Screen Shot 2020-09-08 at 3.34.20 PM.png](https://images.zenhubusercontent.com/5ac217b74b5806bc2bcd3fc8/167f9111-46e3-4d8b-8d

[2020-09-08 20:38] #9989 closed

[2020-09-08 20:55] bethpottsVADEPO commented on #12347
Validated on the live site! Yay!!! Thanks so much for this work, @lunascoop and @RLHecht. We're getting there.

[2020-09-08 20:57] #12257 closed

[2020-09-08 21:02] chrvalla commented on #10298
External UAT testing planned for September 8 and 9. Only 2 participants have been located so far. Blocker.

[2020-09-08 21:03] bmcgrady-ep commented on #12853
### DL Change QA
Description of Test Scenario | DL Screenshot | GTM Tag Screenshot | Test Status
-- | -- | -- | --
`vaos-get-pending-appointments-retrieved` | ![image](https://user-images.githubusercontent.com/66263904/92527217-87669400-f1db-11ea-9c9b-1195bb11350b.png) | ![image](https://user-images.githubusercontent.com/66263904/92527319-aa914380-f1db-11ea-9551-66e1a095af14.png) | ✔️ PASS
`vaos-g

[2020-09-08 21:10] bmcgrady-ep commented on #12620
Published GTM workspace changes to production.

[2020-09-08 21:10] mpelzsherman commented on #12137
Our map code currently does not distinguish between a map zoom vs. pan. Here's a [stackoverflow post](https://stackoverflow.com/questions/18609091/leaflet-js-detecting-when-map-finishes-zooming) showing how to set up a zoom listener in Leaflet.js.

[2020-09-08 21:11] oksana-c commented on #13036
@andaleliz @kelsonic @ncksllvn

Every image that is uploaded in the CMS is stored in a variety of sizes listed in the table below for easy reference.

style name | size
-- | --
original | original
 1:1 square medium thumbnail | 240×240
 2:1 medium thumbnail | 480×240
 2:3 medium thumbnail | 320×480
 3:2 medium thumbnail | 480×320
 7:2 medium thumbnail | 1050×300
Large (480×480) | 480×480

[2020-09-08 21:14] mmiddaugh commented on #9449
There are conflicts on this page due to changes the Facilities team has made since this particular work was done. We'll need Ethan's support to get this ready for hand off to the Facilities team to bring to the front end.

[2020-09-08 21:15] mpelzsherman commented on #12137
@jonwehausen @bsmartin-ep @bmcgrady-ep @mmiddaugh I would suggest capturing the current and new bounding box and current and new zoom level. This may generate a lot of data; any concerns about this?

[2020-09-08 21:15] mmiddaugh commented on #9449
For reference, the relevant PR is https://github.com/department-of-veterans-affairs/vets-website/pull/12992/files

[2020-09-08 21:21] ericbuckley opened #13297 "Rollback SAML Post Tracker"
The [SAML Post Tracker](https://github.com/department-of-veterans-affairs/va.gov-team/issues/13022) is only needed for debugging the SSOe integration project.  After diagnosing and resolving the drop in login success rates, this additional tracker (both the API endpoint issuing it and the JS code invoking it), can be [removed/reverted](https://github.com/department-of-veterans-affairs/vets-api/pul

[2020-09-08 21:24] bmcgrady-ep commented on #12853
Published latest GTM changes to production.

[2020-09-08 21:24] #12853 closed

[2020-09-08 21:37] joanneesteban commented on #12215
Actually, @sonntag-adam would you mind checking again? I think I found the error. Thanks!

[2020-09-08 21:38] joanneesteban commented on #12215
@sonntag-adam - scratch that. I'll need to regroup with ForeSee again. Thanks for checking.

[2020-09-08 21:43] 1Copenut opened #13298 "[COGNITION]: STEM Standalone - CONSIDER reviewing the school email address for data safety"
## [508-defect-4](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-4)

**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

The STEM standalone form has a question about th

[2020-09-08 21:56] peggygannon commented on #13046
@rtwell and @lenaecb the layout looks great.

I have a couple of questions:
1. will users know what "ATLAS" is/stands for? wondering if would be the first time they see this term and if we should define/spell out?
2. I don't recall discussing the video visits with VA device on our kickoff call. Do users typically have a VA device at home? or do they need to be **at** a VA facility to use a VA devi

[2020-09-08 22:15] mnorthuis commented on #12957
@luke-gcio have you pulled any analytics or search data for insights on how users are looking for this content?  As part of the last round of AMA updates, we did add entry points to decision reviews from each of the benefit hubs, would be good to know if any of those links are seeing any traffic, or where users are coming from to get to decision reviews.

[2020-09-08 22:16] Mottie commented on #2345
Ok, I figured out how to get this fixed, but it requires merging in the work from https://github.com/department-of-veterans-affairs/vets-website/pull/14091

[2020-09-08 22:23] #12731 closed

[2020-09-08 22:23] #13054 closed

[2020-09-08 22:24] brangi commented on #11873
merged, deploying tomorrow.

[2020-09-08 22:24] #11873 closed

[2020-09-08 22:24] jenstrickland commented on #8414
1. On the bottom of the map container there is a `margin-bottom: 24px` that is causing the text to wrap improperly. Once this is addressed, this ticket can be closed.

![Screen Shot 2020-09-08 at 6 14 49 PM](https://user-images.githubusercontent.com/57469/92532873-4c765780-f1ff-11ea-9f3d-0c0c866673b7.png)

**Potential fix:**
Remove the `margin-bottom: 24px` from the `.desktop-map-container`

[code

[2020-09-08 22:24] mnorthuis commented on #12403
@RLHecht yes, they will follow the same pattern.  URLs for these pages will be:

/pension/veterans-pension-rates/past-rates-2019/
/pension/veterans-pension-rates/past-rates-2018/

/pension/survivors-pension-rates/past-rates-2019/
/pension/survivors-pension-rates/past-rates-2018/

/pension/protected-pension-rates/past-rates-2019/
/pension/protected-pension-rates/past-rates-2018/

[2020-09-08 22:27] jenstrickland commented on #10783
Apart from the issue commented on https://github.com/department-of-veterans-affairs/va.gov-team/issues/8414, this is good. I'll close this Launchblocker item since this is more about the search button cut off.

[2020-09-08 22:27] #10783 closed

[2020-09-08 22:28] mmiddaugh opened #13299 "Recalculate bounding box"
## Issue Description
When search  results are presented, the map often requires the user to zoom to get meaningful information. Informal searches show the default zoom level = 4 which is rather high level. This may results in many locations piled up or absence of street level detail.

<details>
<summary> Rural example </summary>

![image](https://user-images.githubusercontent.com/55411834/92533493

[2020-09-08 22:29] #5496 closed

[2020-09-08 22:29] #9555 closed

[2020-09-08 22:30] #9616 closed

[2020-09-08 22:32] #9962 closed

[2020-09-08 22:32] #12355 closed

[2020-09-08 22:34] #11088 closed

[2020-09-08 22:34] #10751 closed

[2020-09-08 22:35] #10402 closed

[2020-09-08 22:39] mmiddaugh commented on #12075
https://zpl.io/2EMvX6M

[2020-09-08 22:39] #12075 closed

[2020-09-08 22:55] joanneesteban commented on #13101
### Update - 09-08-2020

**Staging URL removed from ForeSee:** *staging.va.gov/find-locations

The feedback button on ForeSee is still appearing on Staging for me. @mmiddaugh could you check on your end to see if this is also the case for you? I might need to open a case with ForeSee before we can add in Medallia.

[2020-09-08 22:56] joanneesteban commented on #11620
### Update - 09-08-2020

**Staging URLs removed from ForeSee:**
- *staging.va.gov/family-member-benefits/apply-for-caregiver-assistance-form-10-10cg/review-and-submit
- *staging.va.gov/family-member-benefits/apply-for-caregiver-assistance-form-10-10cg/confirmation
- *staging.va.gov/family-member-benefits/comprehensive-assistance-for-family-caregivers/

The feedback button on ForeSee is still appea

[2020-09-08 22:58] #13022 closed

[2020-09-08 23:12] mnorthuis commented on #5441
Older issue.  This work is being broken up and will tracked as we get to it.  Closing.

[2020-09-08 23:12] mnorthuis commented on #9333
work done, closing epic.

[2020-09-08 23:12] #9333 closed

[2020-09-08 23:44] alexpappasoddball opened #13300 "POSTMORTEM - Autoloading rollback"
## Linked Artifacts

[Autoloading BE Tools Rollback](https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/blob/postmortem-for-2020-09-03-rollback/Postmortems/2020-09-03-unscheduled-prod-deploys.md)
[StatsD Postmortem](https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/pull/164)

[2020-09-09 00:04] peggygannon commented on #13228
Hi, @Mottie I checked the updated PR. Content updates look good. thx!

[2020-09-09 00:10] annaswims commented on #10427
It seems like the CST has many more errors than form526.  We should take a look at how the FE validations differ between form 526 and CST

[2020-09-09 02:54] 1Copenut commented on #10511
I think it would be worth reaching out to WEAMS. Data that is coming back in all caps can create challenges for scanning long strings of text, and can be mis-pronounced by screen readers. Users who might have cognitive issues can also have issue reading all caps. This may not be something that can be changed, but it's worth asking.

[2020-09-09 05:22] SgardnerPMP opened #13302 "[CONTENT] Translate legacy VA Richmond health care web pages to new VAMC-upgrade format [CONTENT]"
## User Story or Problem Statement
As a Veteran Web user, I need a need a plain language description of services in VAMC system web pages, so I can quickly understand the services and service location for my needs.

## Goal
_Efficient and clear content describing primary Content Pages_

## Objectives or Key Results this is meant to further
- _Reduced word count and improved plain language._

## Re

[2020-09-09 05:26] SgardnerPMP opened #13303 "[CONTENT] Translate all Legacy VISN 6 Web Pages into New plain language for new VAMC-upgrade [CONTENT]"
## VAMC - Product Outline
[VAMC-upgrade Product Outline](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/facilities/medical-centers/Project_Plan_Outline_2019.md)

## High Level User Story/ies
As a Veteran Web User, I need clear, concise, and instructional language on all VISN 19 Medical System web sites,  so I quickly get to where I want, the data I require, and

[2020-09-09 05:34] SgardnerPMP opened #13304 "[CONTENT] Translate legacy VA Salem health care web pages to new VAMC-upgrade format [CONTENT]"
## User Story or Problem Statement
As a Veteran Web user, I need a need a plain language description of services in VAMC system web pages, so I can quickly understand the services and service location for my needs.

## Goal
_Efficient and clear content describing primary Content Pages_

## Objectives or Key Results this is meant to further
- _Reduced word count and improved plain language._

## Re

[2020-09-09 05:43] SgardnerPMP opened #13305 "[CONTENT] Translate legacy VA Salisbury health care web pages to new VAMC-upgrade format [CONTENT]"
## User Story or Problem Statement
As a Veteran Web user, I need a need a plain language description of services in VAMC system web pages, so I can quickly understand the services and service location for my needs.

## Goal
_Efficient and clear content describing primary Content Pages_

## Objectives or Key Results this is meant to further
- _Reduced word count and improved plain language._

## Re

[2020-09-09 05:55] narin opened #13306 "New Facility selection page - Create flat list of facilities"
Fetch parent and child facilities for each and display as a flat list

### Acceptance criteria:
- user is only displayed child facilities that: user is registered to support the type of care selected
- implement feature flag to switch between new and old versions
- default to showing facilities in alphabetical order
- facility information should include:
    - Facility name
    - City, State of fa

[2020-09-09 06:09] SgardnerPMP opened #13307 "[Automation] Create system detail pages for VISN-16 so CMS can create Governance drop down association [PM]"
## Issue Description
As a CMS engineer, I need System detail pages created, so I can finalized all governance drop downs to be used in future page creation and stub out of nodes.

---
## Tasks
- [x] _Create new System pages for the following VISN 16 systems
- [x] VA Alexandria health care
- [x] VA Central Arkansas health care
- [x] VA Fayetteville Arkansas health care
- [x] VA Gulf Coast health ca

[2020-09-09 06:25] SgardnerPMP opened #13308 "[VAMC-Scaffolds] Create or Clone all required pages for VA Alexandria health care in VISN 16 [BA]"
## User Story
As a Veteran Web user, I need a easier and more efficient site, so I can quickly get to my objective and complete my journey on the local VA.Gov/MC website.

## Goal
_Implement required VAMC-upgraded va.gov webpages_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran web user_
- _Reduce Click through count by_Highlighting top sto

[2020-09-09 06:30] SgardnerPMP opened #13309 "[VAMC-Scaffolds] Create or Clone all required pages for VA Central Arkansas health care in VISN 16 [BA]"
## User Story
As a Veteran Web user, I need a easier and more efficient site, so I can quickly get to my objective and complete my journey on the local VA.Gov/MC website.

## Goal
_Implement required VAMC-upgraded va.gov webpages_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran web user_
- _Reduce Click through count by_Highlighting top sto

[2020-09-09 06:32] SgardnerPMP opened #13310 "[VAMC-Scaffolds] Create or Clone all required pages for VA Fayetteville Arkansas health care in VISN 16 [BA]"
## User Story
As a Veteran Web user, I need a easier and more efficient site, so I can quickly get to my objective and complete my journey on the local VA.Gov/MC website.

## Goal
_Implement required VAMC-upgraded va.gov webpages_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran web user_
- _Reduce Click through count by_Highlighting top sto

[2020-09-09 06:34] SgardnerPMP opened #13311 "[VAMC-Scaffolds] Create or Clone all required pages for VA Gulf Coast health care in VISN 16 [BA]"
## User Story
As a Veteran Web user, I need a easier and more efficient site, so I can quickly get to my objective and complete my journey on the local VA.Gov/MC website.

## Goal
_Implement required VAMC-upgraded va.gov webpages_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran web user_
- _Reduce Click through count by_Highlighting top sto

[2020-09-09 06:36] SgardnerPMP opened #13312 "[VAMC-Scaffolds] Create or Clone all required pages for VA Houston health care in VISN 16 [BA]"
## User Story
As a Veteran Web user, I need a easier and more efficient site, so I can quickly get to my objective and complete my journey on the local VA.Gov/MC website.

## Goal
_Implement required VAMC-upgraded va.gov webpages_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran web user_
- _Reduce Click through count by_Highlighting top sto

[2020-09-09 06:38] SgardnerPMP opened #13313 "[VAMC-Scaffolds] Create or Clone all required pages for VA Jackson health care in VISN 16 [BA]"
## User Story
As a Veteran Web user, I need a easier and more efficient site, so I can quickly get to my objective and complete my journey on the local VA.Gov/MC website.

## Goal
_Implement required VAMC-upgraded va.gov webpages_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran web user_
- _Reduce Click through count by_Highlighting top sto

[2020-09-09 06:42] SgardnerPMP opened #13314 "[VAMC-Scaffolds] Create or Clone all required pages for VA Shreveport health care in VISN 16 [BA]"
## User Story
As a Veteran Web user, I need a easier and more efficient site, so I can quickly get to my objective and complete my journey on the local VA.Gov/MC website.

## Goal
_Implement required VAMC-upgraded va.gov webpages_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran web user_
- _Reduce Click through count by_Highlighting top sto

[2020-09-09 06:44] SgardnerPMP opened #13315 "[VAMC-Scaffolds] Create or Clone all required pages for VA SouthEast Louisiana health care in VISN 16 [BA]"
## User Story
As a Veteran Web user, I need a easier and more efficient site, so I can quickly get to my objective and complete my journey on the local VA.Gov/MC website.

## Goal
_Implement required VAMC-upgraded va.gov webpages_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran web user_
- _Reduce Click through count by_Highlighting top sto

[2020-09-09 06:50] SgardnerPMP opened #13316 "[CONTENT] Translate legacy VA Alexandria health care web pages to new VAMC-upgrade format [CONTENT]"
## User Story or Problem Statement
As a Veteran Web user, I need a need a plain language description of services in VAMC system web pages, so I can quickly understand the services and service location for my needs.

## Goal
_Efficient and clear content describing primary Content Pages_

## Objectives or Key Results this is meant to further
- _Reduced word count and improved plain language._

## Re

[2020-09-09 06:52] SgardnerPMP opened #13317 "[CONTENT] Translate legacy VA Central Arkansas health care web pages to new VAMC-upgrade format [CONTENT]"
## User Story or Problem Statement
As a Veteran Web user, I need a need a plain language description of services in VAMC system web pages, so I can quickly understand the services and service location for my needs.

## Goal
_Efficient and clear content describing primary Content Pages_

## Objectives or Key Results this is meant to further
- _Reduced word count and improved plain language._

## Re

[2020-09-09 06:55] SgardnerPMP opened #13318 "[CONTENT] Translate legacy VA Fayetteville Arkansas health care web pages to new VAMC-upgrade format [CONTENT]"
## User Story or Problem Statement
As a Veteran Web user, I need a need a plain language description of services in VAMC system web pages, so I can quickly understand the services and service location for my needs.

## Goal
_Efficient and clear content describing primary Content Pages_

## Objectives or Key Results this is meant to further
- _Reduced word count and improved plain language._

## Re

[2020-09-09 07:02] SgardnerPMP opened #13319 "[CONTENT] Translate legacy VA Gulf Coast health care web pages to new VAMC-upgrade format [CONTENT]"
## User Story or Problem Statement
As a Veteran Web user, I need a need a plain language description of services in VAMC system web pages, so I can quickly understand the services and service location for my needs.

## Goal
_Efficient and clear content describing primary Content Pages_

## Objectives or Key Results this is meant to further
- _Reduced word count and improved plain language._

## Re

[2020-09-09 07:04] SgardnerPMP opened #13320 "[CONTENT] Translate legacy VA Houston health care web pages to new VAMC-upgrade format [CONTENT]"
## User Story or Problem Statement
As a Veteran Web user, I need a need a plain language description of services in VAMC system web pages, so I can quickly understand the services and service location for my needs.

## Goal
_Efficient and clear content describing primary Content Pages_

## Objectives or Key Results this is meant to further
- _Reduced word count and improved plain language._

## Re

[2020-09-09 07:18] SgardnerPMP opened #13321 "[Business Optimization] Create and populate Facility Health Service Playbooks for all VISN-6 Systems [BA]"
## Story
As a PAO stakeholder, I need a easy to use health service and prepare for your visit guide, so I can accurately fill out all the facility health services and facility amenities in an easy format to be loaded in to draft VAMC-upgrade sites.

---
## Tasks
- [ ] _Create updated Facility Health Service playbooks and prepare for your visit documents to send to PAOs for the following:
- [ ] Inc

[2020-09-09 07:20] SgardnerPMP opened #13322 "[Business Optimization] Create and populate Facility Health Service Playbooks for all VISN-16 Systems [BA]"
## Story
As a PAO stakeholder, I need a easy to use health service and prepare for your visit guide, so I can accurately fill out all the facility health services and facility amenities in an easy format to be loaded in to draft VAMC-upgrade sites.

---
## Tasks
- [x] _Create updated Facility Health Service playbooks and prepare for your visit documents to send to PAOs for the following:
- [x] Inc

[2020-09-09 12:07] ksantiagomorgan6 commented on #12366
Additional PR: https://github.com/department-of-veterans-affairs/vets-website/pull/14148

[2020-09-09 12:18] mshea0606 opened #13323 "AE: Sprint 30"
# Priorities
1. **Profile 2.0: Go/No-Go and launch to 25%**. This means we need to fix any critical bugs pre-Go/No-go.
2. Unfinished Sprint 29 tickets
3. Profile 2.0: Complete additional non-critical Profile 2.0 issues.
4. Logged-in homepage: Initial homepage iterations.
5. Logged-in homepage: Design intent collaboration checkpoint.
6. Additional discovery: Preferred facility and direct deposit fo

[2020-09-09 12:33] annaswims commented on #10675
graph works as far as I can tell.  will be able to validate further once we have bdd submissions

[2020-09-09 12:33] #10675 closed

[2020-09-09 12:39] annaswims commented on #9443
02480985 - There is not enough information  to act.  The key is "We’re sorry. Some information in your application is missing or not valid".  I would expect that if the veteran paged through the form they'd find something highlighted in red, but I couldn't say what it might be.

[2020-09-09 12:50] DanielleThierryUSDSVA opened #13324 "Explore Google translate code & capabilities"
## Issue Description
We want to better understand how to integrate the Google translate widget and options for customizing.

**Questions to start:**

- Can we add widget at the page level (we believe this is no problem)?
- Can we choose to translate only into one specific language (Spanish)?
- Can we customize the button?
- Will we have any ability to edit the translated content?

---
## Tasks
- [

[2020-09-09 12:52] DanielleThierryUSDSVA commented on #13324
Hi @batemapf @mchelen-gov Following up on our conversations re: the widget, here's what I received from Google when I signed up for access:

![image.png](https://images.zenhubusercontent.com/5e8b13016a4378a604f5e799/7c0c910a-7ae5-4579-b4f7-14215038189c)

[2020-09-09 13:00] ncksllvn opened #13325 "Use redesigned "In this section" button for triggering sidebar on mobile devices across benefit pages"
## Issue Description
The VAMC pages (/pittsburgh-health-care) and the Profile 2.0 use a redesigned trigger button for revealing the sidebar on mobile devices. This trigger button contains the text "In this section" and a hamburger icon.

User research shows the design of this trigger button currently in use on benefit pages is ineffective, so we should follow the VAMC pages by switching to the red

[2020-09-09 13:06] desireeturner commented on #13298
@1Copenut The intent of this email is to provide School Certifying Officials (SCOs) with user information that can be utilized to verify the applicant's identity upon receipt of the email notifying SCOs that a student has applied to for the scholarship with intent to use it at their institution. This functionality is not yet live so the information is not being utilized in this way yet, unless it

[2020-09-09 13:09] amyknox commented on #12497
Connect with Trevor quickly to consider accessibility implications here.

[2020-09-09 13:10] desireeturner commented on #1277
@1Copenut Would you mind either entering a new issue to cover the changes you've requested in https://github.com/department-of-veterans-affairs/va.gov-team/issues/1277#issuecomment-689122144 or updating this issue to reflect the latest just so we're clear on the intent of what we're wanting to accomplish given the latest version of EYB? Thank you!

[2020-09-09 13:11] #13114 closed

[2020-09-09 13:17] jenniferlee-dsva commented on #12535
@kelsonic - It depends if the URLs will have changed, once the wizards have been moved. I believe they will stay the same, so the URLs would be:

https://www.va.gov/disability/file-disability-claim-form-21-526ez/introduction

https://www.va.gov/education/apply-for-education-benefits/application/1990

Note: We can't point to the application start pages until after the wizards are moved.  The above

[2020-09-09 13:18] #12678 closed

[2020-09-09 13:21] 1Copenut commented on #13298
@desireeturner It doesn't sound like this rises to the threshold of needing a verify school email input at this time. If SCOs identity it as something they'll be using to contact veterans in the future, then we will need a second input to verify the email and the two fields must have matching values. Even if the field is optional, we want to ensure data correctness if it has bearing on the benefit

[2020-09-09 13:23] jenniferlee-dsva commented on #11155
1/ they're live - awesome!
2/ thank you!
3/ Just a reminder: the form page URLs - we can control; this is what we have standardized using @mnorthuis 's standard page URL pattern - `find-forms/about-[va-form-number]`.  The form PDF urls however - we cannot control; the form PDF urls are totally controled upstream by the form managers and is generated  by the form filename.

[2020-09-09 13:23] desireeturner commented on #13298
Sounds good. I will closed this out. And just to be clear, all contact with the applicant via email will occur via the email associated with their account, which is verified within the application.

[2020-09-09 13:23] #13298 closed

[2020-09-09 13:26] amyknox commented on #12516
Mobile UI solution - Confirm whether we could display counts for "See Results" button. (roundtable)

Heading style cascade... allow for correct flow but also support accessibility.

[2020-09-09 13:26] ndsprinkle commented on #13209
My guess is this is because we are sharing some generic file upload component. There may be a way to customize the allowed file types, but I'm not sure. I'll size this somewhat high in case we need to make our own component to handle this and #13187

[2020-09-09 13:26] mshea0606 opened #13326 "[PM] Schedule and conduct Go/No-go"
## Background
Schedule Go/No Go for the week of 9/14 once Erik is back

## Tasks
- [x]  Conduct go/no go for Profile 2.0
- [x] Notify Micking/Tressa of the Go/No-go date
- [x]  Ensure everything is ready to go and their are no outstanding issues or potential blockers

[2020-09-09 13:28] ndsprinkle commented on #13187
Similar to #13209 where we may need to create a new custom component for 526/BDD to handle specific upload requirements for our form, so I will size this a little high.

[2020-09-09 13:29] mnorthuis opened #13327 "URL alias strategy for learning center content"
Primary issue tracked in CMS repo:
https://github.com/department-of-veterans-affairs/va.gov-cms/issues/2818

[2020-09-09 13:32] mshea0606 opened #13328 "Schedule Design-Intent checkpoint meeting for LIH"
## Background
[Design-Intent checkpoint requirements](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/working-with-vsp/vsp-collaboration-cycle/vsp-collaboration-cycle.md#design-intent-collaboration)

## Tasks
- [x] prepare needed artifacts and place them in the DI checkpoint request ticket
- [x] Schedule design-intent checkpoint

[2020-09-09 13:32] batemapf commented on #13324
Got it, thanks @DanielleThierryUSDSVA. If you recall when you signed up, did you have provide specific domains where the widget was going to be used? Or is that something you can configure on translate.google.com?

[2020-09-09 13:33] jenniferlee-dsva commented on #11155
FYI - @ncksllvn @kelsonic @lunascoop @RLHecht - The form detail page URLs are generated like this in the CMS -- see product status and decisions here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/find-va-forms-redesign/form-detail-landing-pages/status-and-decisions.md#071520

When we publish the forms, for this first launch, we manually unchecked the autogener

[2020-09-09 13:35] DanielleThierryUSDSVA commented on #13324
@batemapf It asked for domain of website.

[2020-09-09 13:35] ndsprinkle commented on #13128
This could be tricky because we pull all this information before the form begins in the prefill stage. If this is ultimately possible, then it will be some rewriting of how the form functions and adding the ability to make requests to the api mid form. I'm not sure if this will mean changing the way the form system functions or if there will be a way to just change how our form behaves, but I am g

[2020-09-09 13:37] jenniferlee-dsva commented on #11155
The immediate solution for fixing these couple of form page URLs - I think - can be done in the CMS. Just by manually updating the URLs for these pages in the URL alias field.

Long term - we need to pull in @swirtSJW on the CMS team to take a look at why or how the URL field changed even though we
 had previously unchecked the auto generate checkbox.   <-- @lunascoop or @RLHecht : would you mind

[2020-09-09 13:38] mshea0606 commented on #12632
@erikphansen that makes sense. I'll move this to next sprint and leave it assigned to Tressa until the UX is figured out, then create the needed FE ticket. Thanks!

[2020-09-09 13:41] ndsprinkle commented on #13293
I feel like we've tackled a ticket on this issue before, but I'll have to dig and see if I can find it. We don't allow users to upload 0 byte files, so my guess is the file is being dropped somewhere along the submission line. I suppose it could also be something like the file fails to upload but we are still treating it like a successful upload? Not sure, I'll size this with some extra points sin

[2020-09-09 13:42] artsymartha68 commented on #12942
@mchelen - approved! Oh wait let me actually approve. :)

[2020-09-09 13:42] rtwell commented on #9945
This 98% of the way there!

i think we just need to reduce the height of the white space above each "section" (Services and Locations, News and events, and About VA Pittsburgh). I don't know if this helps, but in Sketch, the spacing in prod (red) is 34px, and the desired space (green) is 28, about a 20% decrease in height. Thank you for your patience!

![image](https://user-images.githubuserconten

[2020-09-09 13:46] lenaecb commented on #12103
What do we need to do to get the following test user account working?
Tristan.mhv@id.me
Ben.morgan@id.me

From [this slack thread](https://dsva.slack.com/archives/CBU0KDSB1/p1597775558196400), sounds like some work needs to be done about getting duplicate ids fixed.

What's next? Who can help get these accounts working?

cc: @pjhill @lalexanderson-dsva

[2020-09-09 13:54] mshea0606 opened #13329 "[Design] Design-Intent collaboration checkpoint meeting prep"
## Background
[Design-Intent checkpoint requirements](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/working-with-vsp/vsp-collaboration-cycle/vsp-collaboration-cycle.md#design-intent-collaboration)

## Tasks
- [x] Prepare for the design intent checkpoint meeting

[2020-09-09 13:59] mshea0606 opened #13330 "[Design] Phase 1: Create 2-3 high-level concepts for LIH"
## Background
[Logged-in homepage design plan](Phase 1: Create 2-3 high-level concepts for logged-in homepage)

## Tasks
- [x] Create 2-3 high level concepts for LIH
- [x] Review with Matt/Samara

[2020-09-09 13:59] lildziner commented on #12819
[Link to findings and recommendations](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/facilities/vet-centers/discovery/outreach-specialist-interviews/research-findings.md)

[2020-09-09 14:00] #12819 closed

[2020-09-09 14:00] #12822 closed

[2020-09-09 14:01] #12094 closed

[2020-09-09 14:03] #12871 closed

[2020-09-09 14:03] #12194 closed

[2020-09-09 14:04] #12891 closed

[2020-09-09 14:05] leahkeeler commented on #11342
@tlei123 - Can we close this? or still in progress?

[2020-09-09 14:06] #12753 closed

[2020-09-09 14:10] dneel-bah commented on #4286
This feature was launched Wednesday March 11, 2020.

[2020-09-09 14:10] #4286 closed

[2020-09-09 14:15] RLHecht commented on #12470
This page is now live and correct on staging. Closing ticket. FYSA @MickinSahni

[2020-09-09 14:15] #12470 closed

[2020-09-09 14:15] MickinSahni opened #13331 "Write test case for deleted forms"
## Issue Description
When a user clicks an outdated link, or returns to a saved bookmark to a form that has been removed from the VA forms database, they should be presented with an informative message as described in issue https://github.com/department-of-veterans-affairs/va.gov-team/issues/11625 rather than a generic "not found".

---
## Tasks
- [x] Create a test case for deleted forms in TestRa

[2020-09-09 14:16] MickinSahni commented on #11335
Thanks, Tze, for the Use Case E call out. Created a post-launch discovery ticket for us to explore this scenario (perhaps around testing in CMS in general): https://github.com/department-of-veterans-affairs/va.gov-team/issues/13331

[2020-09-09 14:16] #11335 closed

[2020-09-09 14:27] #9612 closed

[2020-09-09 14:28] #11885 closed

[2020-09-09 14:29] #11474 closed

[2020-09-09 14:33] massrb commented on #12404
I have a PR currently with 362 lines of code that is inline with what VSP has asked for

[2020-09-09 14:35] batemapf commented on #13324
Got it, noting for future debugging if needed. Hopefully it treats `staging.va.gov` and `dev.va.gov` the same as just `www.va.gov` (it should...but you never know...).

[2020-09-09 14:36] #12994 closed

[2020-09-09 14:40] jhonnyoddball commented on #13191
Based on [Slack conversation](https://dsva.slack.com/archives/C01512KN35G/p1599660761003700?thread_ts=1599660110.003500&cid=C01512KN35G) with Kevin Walsh

Confirmed that EntityID is missing on prod (graphql).   i believe Nick added these html comments at some point to the liquid templates, possibly before health_services_listing was live.  2803 is indeed the right entityID, so this is an improveme

[2020-09-09 14:40] #13191 closed

[2020-09-09 14:46] RLHecht commented on #13189
The disability rates pages are all live with the correct language. The Pension and DIC pages are also all updated but just not published. Closing this ticket as the acceptance criteria is complete. Will follow up with publishing of DIC and pension rates pages in other tickets. FYSA @MickinSahni

[2020-09-09 14:46] #13189 closed

[2020-09-09 14:56] #6721 closed

[2020-09-09 14:58] ccruzgra commented on #12517
Waiting on UX review before closing this story.

[2020-09-09 14:59] andaleliz commented on #10511
I totally agree, would be worth reaching out to ask and raise awareness around this issue.  Who would do that?

[2020-09-09 15:02] mshea0606 commented on #13246
@sanlouise @tressaellen  Deferring this ticket until international numbers are accepted

[2020-09-09 15:05] gileswells commented on #13087
@jbritt1 am I needing to do anything else for AWS?

[2020-09-09 15:06] jbritt1 commented on #13087
Just awaiting approval. Have you submitted an eQIP?

[2020-09-09 15:12] gileswells commented on #13087
I've submitted it and also just picked up my physical PIV this morning. Haven't heard back on the status of the eQIP.

[2020-09-09 15:16] f1337 commented on #2239
I would love to see us pick this up as one of our Q4 KRs for VSP. I have ideas™ about code isolation, testing patterns, code generators, app generators, wrapping it all in a friendly command-line UI that we someday turn into a web app…

I also see a parallel opportunity with BE Tools, to create a best practice Rails engine with similar goals.

[2020-09-09 15:17] DanielleThierryUSDSVA commented on #13288
Thank you, @RLHecht! I hope to have the final 2 ready for you this afternoon.

[2020-09-09 15:23] andaleliz opened #13332 "[Discovery] - IRIS Contact Center Research, Initial Outreach to teams"
Chante has provided us with contacts at 5 call centers that can help us understand the content authoring process.  We need to reach out to these contacts to figure out who we need to talk to and observe for our study.  It'll be helpful to answer the following questions to help us determine what and who we want to observe for further research sessions:

- What are the roles on these teams?
- How ma

[2020-09-09 15:25] RLHecht opened #13333 "Write and send out GovDelivery email with recent style guide updates"
## Issue Description
We need to send out a GovDelivery email to inform everyone of the newest style guide updates. These currently include:
- Fourth Mission added to word list
- Bold text topic added
- Aria labels for phone numbers added as subtopic
- Updates to the error messaging dictionary

## Tasks
- [x] Draft GovDelivery email (Randi)
- [x] Review email (Jen/Beth/Danielle)
- [x] Send out emai

[2020-09-09 15:25] ricetj commented on #13280
Hey @jonwehausen looks like braden.shipley@oddball.io never got an email. Still checking with the others.

[2020-09-09 15:26] jbritt1 commented on #13087
Alright, all we need is for @Jeff-Hayter to confirm/approve.

[2020-09-09 15:27] RLHecht commented on #12626
Jen just merged this PR. Will close ticket when changes are live on style guide. FYSA @MickinSahni

[2020-09-09 15:32] f1337 commented on #12580
`/remind`er created in slack, weekdays at 11a ET for now:

• If you don’t get a response within a few business hours (or 1 business day for pull requests), @-mention one of the support engineers in the channel to look at your question. They can then contact the correct person to answer your question if it isn’t them.
• If you don’t get a response within 1 business day, contact your DSVA Product Ma

[2020-09-09 15:33] f1337 commented on #12580
I will move the "keyword monitoring" into my list of nice-to-haves for the other support bot ticket. Closing this as done (as of yesterday).

[2020-09-09 15:33] #12580 closed

[2020-09-09 15:35] amyknox commented on #12997
Review at UXBA Sync 9/10

**Ratings - MURAL for post-test UI solutions**
 - Marketing practices - label update
 - About Ratings content update (partially contingent on collection decisions - see below)
 - Collection (investigate during test on staging)
       - Veteran Privacy for ratings display
       -  Non-Veterans
  - N/A - document how we envision this would work.

**Update Card layout - inv

[2020-09-09 15:35] LindseySaari opened #13334 "Create a custom generator for pact provider_states"
## Issue Description

Create a custom generator which creates a provider states file for a given consumer
See documentation here: https://guides.rubyonrails.org/v3.0.3/generators.html

[2020-09-09 15:37] zurbergram opened #13335 "CT: Fuzzy Search performance is hitting timeout threshold for searches"
## What happened?
_Describe in detail what went wrong; screenshots, videos, or gifs are strongly encouraged_

Fuzzy search is not performant
![image](https://user-images.githubusercontent.com/1094999/92620578-c86cb000-f290-11ea-8511-2acae2fe8c47.png)

## Specs:
- Device: (e.g. iPhone 8, Macbook)
- Browser: (e.g. Firefox, IE 11)
- Test User _(if applicable)_:

## Steps to Reproduce
- URL:
- Test Us

[2020-09-09 15:38] zurbergram commented on #13335
https://github.com/department-of-veterans-affairs/gibct-data-service/pull/716

[2020-09-09 15:40] zurbergram commented on #13335
[code]

vs old
[code]

[2020-09-09 15:42] meganhkelley opened #13336 "[EPIC] VSA Auth Experience - Pact setup"
### High level user story/ies
As a VFS team, I need to test the integration between the FE and BE of the app I am developing, so that I do not introduce bugs into production & so that I understand the impact that global site changes will have on my app.

As a VSP team, I need to get feedback from VFS on our Pact setup and documentation, so that I can fill gaps in our setup and training before roll

[2020-09-09 15:42] jonathanjnelson commented on #12806
Hi @LinnJS!
![Vet Medical Center-care](https://user-images.githubusercontent.com/58444931/92621192-21384a80-f289-11ea-928d-534c91670b31.png)

[2020-09-09 15:43] meganhkelley opened #13337 "Pact FE setup - Auth Experience [product name]"

[2020-09-09 15:44] meganhkelley opened #13338 "Pact BE setup - Auth Experience [product name]"
## Description
VFS teams will be introduced to the new PACT framework as part of an effort to better the end-to-end testing between vets-website and vets-api. As part of this process, VFS teams will be given a link to the [developer pact documentation](https://github.com/department-of-veterans-affairs/va.gov-team/edit/be-tools/pact-readme/platform/testing/integration-testing/how-to-use-pact-for-in

[2020-09-09 15:44] meganhkelley opened #13339 "Meet with VSP for Pact support/feedback"

[2020-09-09 15:48] andaleliz opened #13340 "[Discovery] - IRIS Call Center Author Research, follow-up"
Follow-up with contact center teams to answer remaining questions.

**AC**
- [x] Sessions scheduled with HRC, Michelle HQ (IRIS admin), and NCC
- [x] Questions sent to: NCA, DMC, OCC, and VEO (this may end up taking place over phone calls)

[2020-09-09 15:53] andaleliz opened #13341 "[Discovery] - IRIS call center research - recruit notetakers"
This issue covers supporting tasks needed to get set up for our research study

**Tasks**

- [ ] Recruit notetakers
- [ ]  Share conversation guide with notetakers

[2020-09-09 15:53] rtwell commented on #13046
hi @peggygannon i think i can clarify a couple of these:

for 2: there are 2 types of "***VA*** video appointments". The VA may have provided equipment for a Veteran to use, OR they may have to physically go to a VA facility and use equipment the facility has on hand. If you look at my first comps, i labeled them "GFE" (government furnished equipment) and "VA facility", if that helps.

The 30 minu

[2020-09-09 15:55] lenaecb commented on #13046
@peggygannon - see notes below to your Qs:
1. will users know what "ATLAS" is/stands for? wondering if would be the first time they see this term and if we should define/spell out?
- The email that is sent to Veterans says _"This video appointment is at an ATLAS (non-VA care site) location. A room with a computer will be available at the location at the time of your appointment."_
- I would assume

[2020-09-09 16:00] mmiddaugh commented on #13132
After this issue,
1. Facility Locator will check for and log errors which occur when the Provider Locator is not in sync with Provider Details (a rare occurrence based on PPMS data refresh)
2. Make a naming decision so that the results list does not fail

[2020-09-09 16:00] dneel-bah commented on #10150
Functionality delivered to production on 08/26.  No issues have been reported; closing this epic.

[2020-09-09 16:00] #10150 closed

[2020-09-09 16:01] andaleliz opened #13342 "[Discovery] - Create conversation guide for IRIS contact center authoring, initial convo"
Complete the conversation guide for our first round of calls with IRIS contact center folks

## Tasks
- [x] _Create conversation guide_
- [ ] _Review conversation guide with team_
- [ ] _Update based on feedback_
- [x] _Add guide to GH_

## Acceptance Criteria
- [ ] Conversation guide created and uploaded to GH

[2020-09-09 16:04] jenstrickland opened #13343 "Accessibility Feedback for Public Websites [Project Kickoff: VA.gov Search Type Ahead]"
**Feedback framework**
- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

This ticket contains the accessibility feedback/guidance for the Public Websites VA.gov Search type-ahead work.

It's great to see the exploration of various type-ahead implementations and the possible use of the `d

[2020-09-09 16:04] dneel-bah commented on #10153
This functionality was delivered to production on 08/18.  No issues have been reported.

[2020-09-09 16:04] #10153 closed

[2020-09-09 16:08] mshea0606 opened #13344 "[PM] Launch to 25% of users"
## Background
We will be launching to 25% the week of 9.14

## Tasks
- [x] Launch to 25% of traffic
- [x] Monitor Analytics

[2020-09-09 16:09] sshein commented on #13325
perfect. Thanks!

[2020-09-09 16:10] peggygannon commented on #13046
hello,  @lenaecb and @rtwell thanks for your clarifications!

Regarding, ATLAS, I don't think we need spell out.. I just wanted to make sure the Veteran had some earlier context about what an ATLAS location is. Here are updates based on your answers above.

At home:

**Video appointment at home**

How to join your video appointment
You can join this video meeting from your home or anywhere you hav

[2020-09-09 16:11] ccruzgra commented on #12497
Scheduled a meeting with Trevor and sent UI mockups for him to preview.

[2020-09-09 16:11] 1Copenut commented on #1277
@desireeturner I updated the ticket title and description so we don't have to close and track a new issue.

[2020-09-09 16:14] bradl3yC opened #13345 "Debt Letters - FE - Bugfix for hiding debt letter pdfs if dependent debt is present"

[2020-09-09 16:25] kreek opened #13346 "Mobile API Design: Profile & Contact Information"
## User Story
As a developer I want documentation for the API endpoints that will populate the profile and contact information screens so that I have schema to build against.

#### Definition of Done
- [ ] [Mobile API docs](https://github.com/department-of-veterans-affairs/vets-api/tree/master/modules/mobile/docs) in the vets-api module include requests, responses, and schemas including an example

[2020-09-09 16:28] MickinSahni opened #13347 "[Discovery] Technical approach for more scalable Cerner roll-out"
### Upcoming launch: October 24 (Mann-Grandstaff) 🚀

## Tasks
- [ ] Meet internally to discuss roll-out requirements
- [ ] Document answers here and/or markdown
- [ ] Create follow-on implementation tickets as needed

## Acceptance Criteria
- Confirm expectations of next Cerner facility roll-out

## Timeline
- discovery and start implementation (sprint 31, ending 10/6)
- complete implementation (s

[2020-09-09 16:31] MickinSahni opened #13348 "[Discovery] How might we handle VA.gov auth/unauth states"
## High Level User Story/ies
As a VFS product team, I need determine how best to build on VA.gov in a way that accounts for auth and unauth states and the content, design, and technical implications of those decisions.

## How does this relate?
- Cerner where we have both states and questions about how we should handle that. But, that now means content is managed in code and not Drupal (see manual

[2020-09-09 16:32] kreek opened #13349 "Mobile API Design: Military Information"
## User Story
As a developer I want documentation for the API endpoint that will populate the military information screen so that I have schema to build against.

#### Definition of Done
- [ ] [Mobile API docs](https://github.com/department-of-veterans-affairs/vets-api/tree/master/modules/mobile/docs) in the vets-api module include requests, responses, and schemas including an example of expected

[2020-09-09 16:35] annaswims commented on #12690
@annaswims will provide some examples.

[2020-09-09 16:36] kreek opened #13350 "Mobile API Design: Letters and Documentation"
## User Story
As a developer I want documentation for the API endpoint that will populate the letters and documentation screens so that I have schema to build against.

#### Definition of Done
- [ ] [Mobile API docs](https://github.com/department-of-veterans-affairs/vets-api/tree/master/modules/mobile/docs) in the vets-api module include requests, responses, and schemas including an example of exp

[2020-09-09 16:40] kreek opened #13351 "Mobile API Design: Claims"
## User Story
As a developer I want documentation for the API endpoint that will populate the claims screens so that I have schema to build against.

#### Definition of Done
- [ ] [Mobile API docs](https://github.com/department-of-veterans-affairs/vets-api/tree/master/modules/mobile/docs) in the vets-api module include requests, responses, and schemas including an example of expected data.

#### N

[2020-09-09 16:43] kreek opened #13352 "Mobile API Design: Appointments"
## User Story
As a developer I want documentation for the API endpoint that will populate the appointments screens so that I have schema to build against.

#### Definition of Done
- [ ] [Mobile API docs](https://github.com/department-of-veterans-affairs/vets-api/tree/master/modules/mobile/docs) in the vets-api module include requests, responses, and schemas including an example of expected data.

[2020-09-09 16:43] #12828 closed

[2020-09-09 16:43] annaswims commented on #13178
Note to self: do the same for CST

[2020-09-09 16:47] jason-gcio commented on #8012
@lunascoop - I think we can close this ticket? I am just going around cleaning things up...

[2020-09-09 16:47] mmiddaugh opened #13353 "Add counter to PPMS queries"
## Issue Description
Since we know the biggest performance impact is from the second query which is required to determine provider type for naming, we need to evaluate the number of providers requiring this logic

---

## Tasks
- [ ] Add counter to group/solo provider query

## Acceptance Criteria
- [ ] The Facilities team is able to evaluate the number of providers which require the naming logic

[2020-09-09 16:48] amyknox commented on #13170
Looks good.  I dropped a couple notes in the prototypes.  Just one other thing on the content doc: we talked about needing updates to the 107 learn more copy for the new question. A quick starter draft is below,

[2020-09-09 16:51] #12835 closed

[2020-09-09 16:53] callen2563 commented on #13330
@tressaellen @mshea0606
I gave this ticket an estimate of a 5 based on the agile estimation guide: "5 - On the order of about a week or more to deliver"

[2020-09-09 16:56] lwalsh617 opened #13354 "IRIS Q&As Content Review: Batch 1"
First-draft copy of batch 1 to be reviewed  and copy-edited in preparation for presentation to SMEs and eventual Drupal build:

[valc-non-benefit-faqs-copy-v0.2-091420.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/5220127/valc-non-benefit-faqs-copy-v0.2-091420.docx)

- [x] PW to do first review and copy edit  (Randi)

- [x] DEPO to review copy (Beth)

- [x] PW to create

[2020-09-09 16:57] lwalsh617 commented on #12886
Opened content review ticket and closing this one.

[2020-09-09 16:58] callen2563 commented on #13224
@tressaellen @mshea0606
I'm putting an estimate of 2 but let me know if you think we should change this.
"2 - One should be able to deliver one 2 comfortably in a day"

[2020-09-09 17:01] lihanli commented on #13096
not all facilities in the `vaMedicalFacilities` list are in the facility locator database, should i leave those labels unchanged?

[2020-09-09 17:01] peggygannon opened #13355 "VSP content review: health care form emergency messaging"
## User story
We need to add wording to remind Veterans  to not use this form for emergencies or urgent needs.

wireframe link with messaging is here:
https://zpl.io/VOOek8j.

[2020-09-09 17:07] annaswims commented on #13050
Anna will verify that this is actually a problem

[2020-09-09 17:07] mmiddaugh commented on #13101
I just checked staging and I do not see the Foresee feedback button @joanneesteban
Could it be blocked for me as a pop-up or appearing due to caching for you?

[2020-09-09 17:09] rtwell commented on #13046
@peggygannon love it!

![image](https://user-images.githubusercontent.com/12564977/92630323-ac234000-f29d-11ea-8d7a-f6758369290f.png)

[2020-09-09 17:12] mmiddaugh commented on #11603
This work slipped due to PPMS bug issues, PTO and the Labor Day holiday. Bringing into Sprint 30.

[2020-09-09 17:13] Jeff-Hayter commented on #13087
@gileswells I usually reach out to your COR, but if you have a copy of the email saying your eQIP was successfully submitted and is processing I can use that to expedite.

[2020-09-09 17:15] elder-joseph commented on #10201
Associated PR: https://github.com/department-of-veterans-affairs/vets-website/pull/14152

[2020-09-09 17:16] lenaecb commented on #13046
For the GFE should we consider "Video appointment using _your_ VA _registered_ device" ? @peggygannon @rtwell

[2020-09-09 17:19] peggygannon commented on #13046
@lenaecb I think the head should still be short, but how about we can add that into the body of the message, so like this:

With VA device

**Video appointment using a VA device**

How to join your video appointment
You can join this video meeting using your VA-registered device.

[2020-09-09 17:19] mmiddaugh opened #13356 "PPMS response analysis"
# Issue description
Following [changes to the PPMS query](https://github.com/department-of-veterans-affairs/va.gov-team/issues/7782), we are prepared to look at the impact of parameters in the response.

## Tasks
- Perform analysis on the data elements included/necessary in the response to understand the impact of these parameters on performance.

## Acceptance Criteria
- [ ] Document impact of re

[2020-09-09 17:21] tlei123 commented on #11342
Yep, closing.

[2020-09-09 17:21] #11342 closed

[2020-09-09 17:25] oksana-c opened #14171 "Catalogue known table authoring experience issues"
## Status
**[2024-04-24]** Asked Laura to review for viability.

The goal is to document all known issues with table editing in the CMS.

## CMS Acceptance Criteria

- [x] known issues with table creation/editing are documented
- [x] documented issues are triaged and moved to backlog w/ detailed descriptions
- [x] most critical issues/bugs are prioritized

## PW Acceptance Criteria - tbd
- lorem

[2020-09-09 17:28] camerontesterman opened #13357 "Debt letter filenames should be more user friendly"
## Issue Description
All debt letter downloads have the filename "letter.pdf" this should be changed to use the type description and upload date in the filename which is provided by VBMS.

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **At

[2020-09-09 17:31] lenaecb commented on #13046
Love it @peggygannon!

Also, @rtwell - for ATLAS appts a Veteran gets a appointment code. I think we should supply this code as part of the appt in case they use their phone to look up the appt details/don't have their email handy.

For reference here's what is sent via email about ATLAS appts:
_"This video appointment is at an ATLAS (non-VA care site) location. A room with a computer will be avai

[2020-09-09 17:31] rebeccawalsh commented on #12927
Our feedback from usability included many short and long-term recommendations:

*Short term*
- Ensure that phone recommendations are clear to support what kind of debt a Veteran has as well as the kind of help they need.
- Explore confirmations when a debt is repaid with the option to save and print for their records.
- Place VA debts under the future Profile or Logged in Homepage, but also supply

[2020-09-09 17:36] #12537 closed

[2020-09-09 17:37] lenaecb opened #13358 ""at an ATLAS location" VVC Appt (Ad Hoc - ATLAS Associated & Mobile Any ATLAS Associated)"
### VVC appointments with Appt Kinds - _Ad Hoc - ATLAS Associated & Mobile Any  ATLAS Associated_ - are VVC appointments that the Veteran will join _from a ATLAS location._

### Acceptance Criteria:
- **all Ad Hoc - Ad Hoc - ATLAS Associated & Mobile Any  ATLAS Associated appointments should display "Video appointment at an ATLAS location"** under the VA Video Connect card label (where date/time u

[2020-09-09 17:39] #11235 closed

[2020-09-09 17:41] #9775 closed

[2020-09-09 17:41] dneel-bah opened #13359 "School Ratings: Create Feature Flag"
As a developer, I need to create a feature flag for the school ratings UI functionality so that it is not displayed in production as development is completed.

## Assumptions:
1. The Feature Flag is configured per environment.
    a. Feature flag for school ratings is available in both vets-api and vets-website repos.
2. When the feature flag is:
     a. Off: The school ratings section is not disp

[2020-09-09 17:41] #12047 closed

[2020-09-09 17:43] jonwehausen commented on #7560
### Reopening to QA test remaining items from successful submission

[2020-09-09 17:43] MickinSahni opened #13360 "Sample Content - 1.0 LC About Template"
## Tasks
- [x] Add sample content for the scenarios we want to test on the FE
  - Mobile responsiveness
  - Tables/Sample rates
    - e.g. SMC

Node with sample text: prod.cms.va.gov/node/7910

## Acceptance Criteria
- [x] Sample content available for FE to build templates

[2020-09-09 17:48] dneel-bah opened #13361 "STEM: Remove "use EVSS" Feature Flag"
As a developer, I need to remove the 'stem_sco_email' feature flag toggle so that it is no longer configurable, and the new functionality is permanent.

## Assumptions:
1. This feature flag was created in #12467.
2. UAT has been completed for this effort as of 11/09.
3. The new functionality is live in production with no need remaining need for the toggle.
4. The limited production rollout is comp

[2020-09-09 17:48] peggygannon commented on #13355
@kristenmcconnell Hello, please see my recommendation for the emergency message alert. Please let me know if you have any questions!

1. I recommend this emergency message is placed earlier in the flow, to let them know as early as possible to not use form for emergencies.

2. Below is content recommendations for emergency care alert. these content edits align with messaging we have on our static

[2020-09-09 17:50] mmiddaugh commented on #11268
This issue was replaced by https://app.zenhub.com/workspace/o/department-of-veterans-affairs/va.gov-team/issues/12988

[2020-09-09 17:52] kristenmcconnell commented on #13355
@peggygannon Thank you. I agree and we do plan to have this information on the introduction page of the form (earlier in the workflow).

[2020-09-09 17:53] lenaecb commented on #12550
@rtwell - this is the ticket we can use around our convos and discovery iteration on appt homepage.

[2020-09-09 17:53] dneel-bah opened #13362 "School Ratings: Remove Feature Flag"
As a developer, I need to remove the 'school_ratings' feature flag toggle so that it is no longer configurable, and the new functionality is permanent.

## Assumptions:
1. UAT has been completed for this effort and EDU signed off as of [TBD].
2. The new functionality is live in production with no need remaining need for the toggle.

## Acceptance Criteria
1. The feature flag 'school_ratings' is re

[2020-09-09 17:57] joanneesteban commented on #13101
@mmiddaugh hm, it might be blocked as a pop up for you. I cleared my cache, tested in incognito, and on other browsers

[2020-09-09 18:03] dneel-bah opened #13363 "CT Filter: Remove 'gibct_filter_enhancement' Feature Flag"
As a developer, I need to remove the 'gibct_filter_enhancement' feature flag toggle so that it is no longer configurable, and the new functionality is permanent.

## Assumptions:
1. UAT has been completed for this effort and EDU signed off as of 09/11/2020.
2. The new functionality is live in production with no need remaining need for the toggle.
3. Feature flag creation story: #11344

## Acceptan

[2020-09-09 18:06] mmiddaugh commented on #7634
This work will be incorporated in the Vet Center Taxonomy/Webpresence project.

[2020-09-09 18:06] #7634 closed

[2020-09-09 18:06] #11380 closed

[2020-09-09 18:06] rtwell commented on #13046
i think we need some standardized language for each type of appointment that requires unique instructions. if 2 or more utilize the same instructions, great, but if they are unique, the instructions should match, i would think

[2020-09-09 18:07] mmiddaugh commented on #12988
Meeting conducted on 9/3

[2020-09-09 18:07] #12988 closed

[2020-09-09 18:07] dneel-bah opened #13364 "CT Filter: Remove 'gibctBenefitFilterEnhancement' Feature Flag"
As a developer, I need to remove the 'gibctBenefitFilterEnhancement' feature flag toggle and related functionality so that dead code is no longer in the codebase.

## Assumptions:
1. Feature flag creation story: #13041

## Acceptance Criteria
1. The feature flag 'gibctBenefitFilterEnhancement' is removed.
2. The feature flag is not displayed here: https://[environment]-api.va.gov/flipper/features.

[2020-09-09 18:08] lwalsh617 opened #13365 "IRIS Q&As: Batch 2 Workplan"
Create GH tickets for each of the 12 benefits categories, assigning to upcoming sprints. Tickets need to reflect a work plan that ensures the following tasks are completed for each benefit category:

- Draft copy
- PW copyediting
- DEPO review
- Revisions per DEPO review
- SME review
- Revisions per SME review
- Drupal build
- PW QA of Drupal pages
- Depo review of Drupal pages
- Final revisions o

[2020-09-09 18:09] billfienberg commented on #12700
## Notes

[2020-09-09 18:10] mmiddaugh commented on #12355
At this point in the project, the output intended from this issue was satisfied by outreach specialist discovery.

[2020-09-09 18:10] mmiddaugh commented on #12356
At this point in the project, the output intended from this issue was satisfied by outreach specialist discovery.

[2020-09-09 18:11] MickinSahni commented on #12892
team to meetup next week to see what content can be added to LC and drive users to appropriate tools

[2020-09-09 18:13] mshea0606 commented on #11545
issue #13286 created

[2020-09-09 18:13] #11545 closed

[2020-09-09 18:16] kevinstachura opened #13366 "[Design] Content & IA Review of HLR Wizard"
## Issue Description
As a designer, I need to ensure that the designs for the HLR wizard are appropriate for VA.gov content guidelines and that the flow of the wizard is correct per IA requirements.

## Acceptance Criteria
- [ ] Content team has reviewed the HLR wizard and approved/updated content
- [ ] IA team has reviewed the HLR wizard and approved the flow/IA
---
## How to configure this issue

[2020-09-09 18:16] #12831 closed

[2020-09-09 18:19] jhonnyoddball commented on #13185
Based on:
[code]

And running `cat node.ca368706-92a5-47ae-aabd-a4d9f25cf865.json` for `entityid: 2803`.

[code]

I can verify that the title and metatags in the CMS build are matching the information from GraphQL query and the `node.ca368706-92a5-47ae-aabd-a4d9f25cf865.json` node

@swirtSJW Do you know why the GraphQL build is using different information?

[2020-09-09 18:20] johnhashva opened #13367 "Move How to Apply Wizards - IA + Content Changes"
### Status
**[2024-04-24]** Commented with question to Mikki... can this ticket be closed?

### Description

The move of the How to Apply Wizards from the How To content pages to the actual Apply Now pages introduces more complexity than anticipated based on the variety of use cases (example: authenticate, start application, go back to Wizard because as a user I am confused).

Additionally, with m

[2020-09-09 18:23] mmiddaugh opened #13368 "Zooming map stuck after unsuccessful search"
## What happened?
When a Veteran performs a serach to which no results are returned, the Facility Locator displays the appropriate error message but the user is able to enter new parameters and trigger a new search. However, the state is not cleared and the search never completes. The user is then stuck, unless the page is refreshed.

For example:
The following video begins by showing that `Commun

[2020-09-09 18:30] MickinSahni commented on #12213
@jenniferlee-dsva to add forms here (csv, etc.)

[2020-09-09 18:31] dneel-bah opened #13369 "CT: Write required.e2e.spec.js using Cypress"
As a developer, I need to rewrite the comparison tool end to end tests using Cypress so that they meet DEPO coding patterns and practices.

## Assumptions:
1. Tests are currently written using Nightwatch
2. Helper functions are added to or put into cypress versions of:
    a. gibct-helpers.js
3. If part of the test is OBE, it would be excluded, or if there is functionality that isn’t covered by th

[2020-09-09 18:35] dneel-bah opened #13370 "CT: Write "profile-error" and "vet-tec" End to End tests using Cypress"
As a developer, I need to rewrite the comparison tool end to end tests using Cypress so that they meet DEPO coding patterns and practices.

## Assumptions:
1. Tests are currently written using Nightwatch
2. Helper functions are added to or put into cypress versions of:
    a. gibct-helpers.js
    b. vet-tec-helpers.js
3. If part of the test is OBE, it would be excluded, or if there is functionalit

[2020-09-09 18:37] dneel-bah opened #13371 "CT: Write "keyboard.e2e.spec.js" using Cypress"
As a developer, I need to rewrite the comparison tool end to end tests using Cypress so that they meet DEPO coding patterns and practices.

## Assumptions:
1. Tests are currently written using Nightwatch
2. Helper functions are added to or put into cypress versions of:
    a. gibct-helpers.js
3. If part of the test is OBE, it would be excluded, or if there is functionality that isn’t covered by th

[2020-09-09 18:39] lenaecb opened #13372 "Review & provide feedback to VAOS v0 service swagger"
Acceptance:
- Review current swagger VAOS v1.0
- collect questions relating to future strategy for handling all services (MAS, var-resources, MFS, _this new_ VAOS service, future EAS/VSP)

.md to collect feedback/thoughts/questions: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/appointments/va-online-scheduling/engineering/discovery/new_vaos_api_not

[2020-09-09 18:40] dneel-bah opened #13373 "CT: Write "dea" and "ojt" End to End tests using Cypress"
As a developer, I need to rewrite the comparison tool end to end tests using Cypress so that they meet DEPO coding patterns and practices.

## Assumptions:
1. Tests are currently written using Nightwatch
2. Helper functions are added to or put into cypress versions of:
    a. dea-helpers.js
    b. gibct-helpers.js
    c. ojt-helpers.js
3. If part of the test is OBE, it would be excluded, or if the

[2020-09-09 19:18] ccruzgra commented on #12498
Prototype link where updates will exist for post-STEM 1995 application: https://bahdigital.invisionapp.com/share/VUIAEXFPHBC

[2020-09-09 19:19] kevwalsh commented on #5961
![VA_Pittsburgh_Health_Care___Veterans_Affairs](https://user-images.githubusercontent.com/643678/92643441-c8c87380-f2af-11ea-8f65-e31418bcfd47.jpg)

Here's an updated screenshot using the banner that's live right now.

[2020-09-09 19:23] MickinSahni commented on #10688
Hey @mshea0606 @Samara-Strauss what date should we anticipate this redirect?

[2020-09-09 19:25] delli-gatti-michael commented on #13335
local testing complete

[2020-09-09 19:25] delli-gatti-michael commented on #12962
Changes are in Staging. Closing this story

[2020-09-09 19:25] #12962 closed

[2020-09-09 19:27] Samara-Strauss commented on #10688
@mshea0606 needs to schedule the go/no-go meeting. I don't anticipate a no-go, so our tentative date for redirect will be one day after that meeting. @mshea0606 will keep you posted.

[2020-09-09 19:28] mmiddaugh commented on #5961
@jenstrickland We just discussed this situation with the CMS team:

- The alert capabilities have changed since this particular issue was recorded.
- When you have a moment, will you please review current alert functionality? (The alert is present across the VAMC pages and is referenced in Kevin's comment above.) We assume the same issue is present but that you may have different proposed solution

[2020-09-09 19:34] MickinSahni commented on #10688
cool, thanks. pulling out of this current sprint until we nail that date down 👍

[2020-09-09 19:35] mdewey commented on #12372
After days of researching, I found the following interesting documentations:

- [existing VA auth diagram](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/login/reference-documents/auth/authentication-and-authorization.md)
- [Login Docs](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/identity-personaliz

[2020-09-09 19:36] andaleliz opened #13374 "Wizard migration - UX deliverables for education flow"
**Acceptance Criteria**
- Create hi-fi mock-ups and documentation based on Mikki's [education wizard flow](https://app.mural.co/t/adhocvetsgov9623/m/adhocvetsgov9623/1599137761089/b5b2662802d862b436660938241e79d1ef4ecf31?wid=0-1599583230985)

**Outstanding questions**
- Is our proposed change to the wizard behavior feasible? Wizard is skipped only when sent to new form after completing it.  Once y

[2020-09-09 19:55] andaleliz opened #13375 "Write documentation for teams implementing wizard migration effort"
**Acceptance Criteria:**
Write documentation for teams implementing wizards, and possible updates to design system documentation for this pattern:
- [x] Behavior of wizard
    - wizard is skipped only when sent to new form after completing it.  Once you navigate away, you will need to repeat the wizard.
   - wizard is no longer behind a button by default
   - Do we need to go into more detail abou

[2020-09-09 20:07] mshea0606 commented on #10688
@MickinSahni  we have a Connected Apps UAT tomorrow. I want to wait until after that to schedule the go/no-go in the event we have ticket(s) that come out of it. I will let you know as soon as I set the go/no-go meeting.

[2020-09-09 20:10] leahkeeler commented on #12948
Kimberly, This is ready to go- we have a launch date :) Thanks, Leah

[2020-09-09 20:12] Bester1987 opened #13376 "Analytics Reporting Request for Leslie Byford"
# Metrics Reporting Request

## What this form is for

Use this template to request one-off performance, usability, or outcomes va.gov metrics that is difficult to access or that needs analytics interpretation.

Insights will usually provide data reports within the current sprint, but if there is time-sensitivity, please note them in "additional comments."

## Instructions

Please fill out the fol

[2020-09-09 20:15] jhonnyoddball commented on #13213
After pulling the newest build the error is gone

[2020-09-09 20:15] #13213 closed

[2020-09-09 20:19] annaswims opened #13377 "[Bug] Claim Status Tool: No Body in Page After EVSS Error"
## What happened?
when I was logged in as 229 and went to https://staging.va.gov/track-claims/your-claims/600201247/files.  I uploaded a file and when EVSS response failed the body of the page disappeared.

<img width="1112" alt="Screen Shot 2020-09-09 at 4 14 27 PM" src="https://user-images.githubusercontent.com/19188/92648811-0630ff00-f2b8-11ea-966c-891c1cc18852.png">
console error
<img width="4

[2020-09-09 20:21] annaswims commented on #13377
The Sync status was "failed" because EVSS timed out

http://sentry.vfs.va.gov/vets-gov/platform-api-staging/issues/151250/?query=is%3Aunresolved

[2020-09-09 20:22] andaleliz commented on #11499
Forked @jenstrickland's [code pen](https://codepen.io/surfbird/pen/dyMdEzL), very much a WIP

[2020-09-09 20:28] massrb commented on #13145
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/discovery/engineering/trigger.md

[2020-09-09 20:39] andaleliz opened #13378 "Wizard migration - UX deliverables for disability flow"
Create hi-fi mock-ups and documentation based on Mikki's [disability wizard flow](https://app.mural.co/t/adhocvetsgov9623/m/adhocvetsgov9623/1599137761089/b5b2662802d862b436660938241e79d1ef4ecf31?wid=0-1599585553758)

**Outstanding questions**
- Is our proposed change to the wizard behavior feasible? Wizard is skipped only when sent to new form after completing it.  Once you navigate away, you wil

[2020-09-09 20:43] andaleliz opened #13379 "Wizard migration - create consistent alerts, and provide messaging to indicate where the user is going across wizards"
Currently, our wizard pattern doesn't tell people where they're being routed.  This makes it hard for people to know where to go back to if they navigate away from wherever the wizard sent them.

The alert patterns being used across the wizards is also inconsistent. How can we remedy this?

We need to tell users where the wizard is sending them, and do it consistently.

Consider UX on desktop and

[2020-09-09 20:47] ccruzgra commented on #13170
The content doc has been updated to reflect the mobile search UI enhancements.

@amyknox Would you like this to be added to the current prototype and content doc for CT Search and Filters?

[2020-09-09 20:49] mpelzsherman opened #13380 "Update static content build info in README"
The static content build info in the README is out of date and confusing.

This is an attempt to update and clarify it.

[2020-09-09 20:51] Jeff-Hayter commented on #13087
@jbritt1 Approved for AWS.

[2020-09-09 20:52] lenaecb commented on #13046
I am not sure I follow @rtwell

The instructions we show now are dependent on if they come from VCM booking or TMP (another system used for booking). VCM has a 2 sets of instructions and they are tailored to VVC appts that the Veteran is logging into on their own.

I am recommending that we do not show these instructions for @ {location name} appts because the process for getting online is differe

[2020-09-09 21:01] jsev-io commented on #13087
Thanks @Jeff-Hayter , @gileswells I'll get you access shortly.

[2020-09-09 21:03] andaleliz opened #13381 "Wizard migration - UX deliverables for Chap 31 and Chap 36"
Create hi-fi mock-ups and documentation based on Mikki's [chap 36](https://app.mural.co/t/adhocvetsgov9623/m/adhocvetsgov9623/1599137761089/b5b2662802d862b436660938241e79d1ef4ecf31?wid=0-1599586518589) and [chap 31](https://app.mural.co/t/adhocvetsgov9623/m/adhocvetsgov9623/1599137761089/b5b2662802d862b436660938241e79d1ef4ecf31?wid=0-1599601365658) flows.

I'm not sure what development/design stag

[2020-09-09 21:07] jenstrickland commented on #5961
@mmiddaugh From @kevwalsh 's screenshot it appears that the necessary id has been added:

`div aria-labelledby="usa-alert-full-width-6922"` is paired with `<h3  id="usa-alert-full-width-6922">`

[2020-09-09 21:07] #5961 closed

[2020-09-09 21:09] andaleliz opened #13382 "Wizard migration - UX deliverables for HLR form"
Create hi-fi mock-ups and documentation based on [HLR flow](https://app.mural.co/t/vsa8243/m/vsa8243/1585244567898/2167d6cafb30ce4a81e2ea8a082a6a832293e11c?wid=49-1585323547816)

**Documentation**
[Edu mock-ups](https://preview.uxpin.com/ca08f3dbf63475b2b62f3e8c00050ad1b19c4cb5#/pages/132986657/simulate/no-panels?mode=i)
[IA User flows](https://github.com/department-of-veterans-affairs/va.gov-team

[2020-09-09 21:09] andaleliz commented on #13367
I've created the issues related to my work on this.  It feels like a lot, but I believe there is a need to be very thorough and detailed in these deliverables since we've had a lot of confusion and churn with this effort so far.

#13374
#13375
#13378
#13379
#13381
#13382

[2020-09-09 21:11] LinnJS commented on #12806
Attaching this [InVision](https://vsateams.invisionapp.com/share/U4YJL36QA35#/screens/429945712) for reference

[2020-09-09 21:14] amyknox commented on #13170
@ccruzgra - sure - if you have bandwidth to get that in, great. If not, we can work on it in Sp56.

[2020-09-09 21:17] amyknox commented on #12516
Mobile UI solution - We CAN display counts for "See Results" button. (roundtable)

Heading style cascade... we CAN work with CSS to support correct flow of headings and also support accessibility.

[2020-09-09 21:17] #12516 closed

[2020-09-09 21:18] CrystabelReiter commented on #13284
@mmiddaugh @lildziner When artifacts are attached, please also update the preferred meeting date times. We have a 2 business day turnaround for reviewing the ticket once all artifacts are attached. We have open meeting times all next week. Looking forward to it!

[2020-09-09 21:24] #12747 closed

[2020-09-09 21:24] jenstrickland commented on #10743
@ala-yna @1Copenut Thanks for the review! I'll collect and send to the VA 508 Office this week for their audit.

[2020-09-09 21:36] mnorthuis commented on #12244
Flows, recommended changes and discussion points are all documented in this Mural: https://app.mural.co/t/adhocvetsgov9623/m/adhocvetsgov9623/1599137761089/b5b2662802d862b436660938241e79d1ef4ecf31

[2020-09-09 21:46] cohnjesse commented on #12057
The only issue called out by Axe-coconut was the phone numbers listed on the site as the phone numbers in the aria tags for them do not match the text in the links. Jenn S and Trevor P are aware of this issue and are working with Axe to get their chrome extension updated.

[2020-09-09 21:48] jenstrickland opened #13383 "508-defect-3 [AXE-CORE, SEMANTIC MARKUP]: id attribute value MUST be unique"
# [508-defect-3](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-3)

**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

Document has multiple static elements with the sam

[2020-09-09 21:54] kevinmirc commented on #13096
@lihanli do you have a list of the facilities not found in Facility Locator?

[2020-09-09 21:59] mmiddaugh opened #13384 "Request QA review of test suite"
## Issue description
One of the Facilities 3Q2020 priorities is expansion of test coverage for Facility Locator. This issue is to request a review of the Cypress and unit test suites to identify any gaps.

Reference [Epic](https://github.com/department-of-veterans-affairs/va.gov-team/issues/10677)

## VA facility search user stories

<details>
  <summary> When a Veteran arrives on https://www.va.g

[2020-09-09 22:25] jenniferlee-dsva opened #13385 "What should the "learning center" be called in real life?"
## What should the "learning center" be called in real life?

@bethpottsVADEPO and @DanielleThierryUSDSVA - we've currently been referring internally to this new section of the site "learning center." Please propose a recommendation for how we should solidify this descriptive name going forward for customers.

We don't need this imminently, but we will need solidify the name as we get closer to Oc

[2020-09-09 22:29] mshea0606 opened #13386 "Launch to 50% of users"
## Tasks
 - [ ] Launch to 50% of users (after 1 week at 25% if all goes well)

[2020-09-09 22:38] massrb commented on #12406
Stephen has said that the User Service is running in the PGD sandbox but we have no access keys. I have been studying the user_service code and the JWT docs for MAP

[2020-09-09 22:41] jonathanjnelson opened #13387 "[Design] - MVP Caregiver, Medical Coverage Screen Redesign"
## Issue Description
As part of the October 1, 2020 updates to the 10-10CG, the Caregiver program team is requesting that questions are removed from the _Health care coverage_ page.

---
## Tasks
- [X] Remove intro sentence
- [X] Remove questions: Medicaid, Medicare, Tricare, CHAMPVA
- [X] Rework content and question, _Is the Primary Family Caregiver enrolled in health care insurance?_
- [X] Updat

[2020-09-09 22:51] jenniferlee-dsva commented on #12213
Added link to the spreadsheet with the 400ish forms ^ ; and clarified one of the ACs.

@lunascoop  and @RLHecht  - I'm not sure what the easiest/best way to batch publish these 400ish forms are. As you have reviewed these forms previously and changed their state to "In Review," that might be the only way to filter for these forms in order to publish then as a batch.

_Note: There have been additio

[2020-09-09 22:55] peggygannon commented on #12248
@johnhashva @mnorthuis @andaleliz

Below is high-level content feedback for the Disability wizard. for more discussion tomorrow!

A couple of notes:
1. I recommend that the decision review questions come out of this wizard (or we simplify them considerably to direct user to the Decision Review pages.
2. I don't think the current message about a Supplemental Review  is correct,  and I would like to

[2020-09-09 23:01] jenstrickland commented on #12585
Validated 🎉

[2020-09-09 23:01] #12585 closed

[2020-09-09 23:02] tlei123 opened #13388 "Disability Wizard VSA-QA Test Plan [DRAFT]"
\[**Product Managers**: Open this ticket **at least 2 Sprints** before you expect a Platform Staging Review of this Product/Feature.  Then:
- Add yourself to Assignees
- Fill-out sections below.]

## Product/Feature summary

All\* the information is [here ](https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/9665)

\*See also #13367 for

[2020-09-09 23:05] jenstrickland commented on #7808
@kevwalsh Do you know what we need to do to include the semantic markup in this field, if it is possible?

[2020-09-09 23:05] jonathanjnelson opened #13389 "[Design] - 10-10 EZ Address Project"
## Issue Description

Ask: Collect mailing address and residential address on the 10-10EZ

Problem: Currently business only collects one address, but if mailing address and residential are different business needs both because they determine VAMC and benefits based on residential and notifications based on mailing. Currently today business is forced to do manual follow-ups to clarify.

Business re

[2020-09-09 23:12] bmcgrady-ep commented on #4552
### DataLayer Changes QA

Description of Interaction | Screenshot of Interaction | Status
------------ | ------------- | -------------
**Clicking on links contained within the Helpful links section** | ![image](https://user-images.githubusercontent.com/66263904/92663814-2b713d80-f2b7-11ea-9fed-eb1e7c72e32e.png) | ✔️ PASS
**Go to Online Tool primary button CTA click** | ![image](https://user-images

[2020-09-10 00:49] tlei123 commented on #9871
Closing this test-only issue-instance.

[2020-09-10 00:49] #9871 closed

[2020-09-10 00:50] tlei123 commented on #13124
@johnhashva , thx for the updated diagram!  I'll check w/ Luke re. his BDD form-launch vis-a-vis his Disability Widget's eBenefits use-case \[I heard he's launching the Widget & Form together, but pls. correct me if you know I'm wrong].

@leahkeeler , the [Edu. Wizard Test Cases](https://dsvavsp.testrail.io/index.php?/suites/view/8&group_by=cases:section_id&group_order=asc&group_id=202) have been

[2020-09-10 11:10] sonntag-adam commented on #13234
Merged. Closing out story.

[2020-09-10 11:10] #13234 closed

[2020-09-10 11:17] ndsprinkle commented on #13187
Going to begin work on this today. May also pull in #13209 to work on simultaneously.

[2020-09-10 12:05] RLHecht commented on #11155
@jenniferlee-dsva In looking through the revision log for these forms, it's possible that we never removed "pdf" from the URL, just in the H2 on the page. I'll still reach out to @swirtSJW to ensure there isn't a bug here. But in the meantime we'll manually fix the URLs so that they are showing correctly.

[2020-09-10 12:19] jonwehausen commented on #13376
## VA.gov Migration Visuals
@Bester1987 here are 3 basic visuals that can help tell the growth story of the migration. Please let us know if you have any further questions here

### Total Pageviews
- This chart represents the total pageviews for VA.gov and for 2018 vets.gov
- Months January - July of 2018 represent months where only vets.gov was still live
- Months August - December 2018 represent

[2020-09-10 12:20] kristenmcconnell commented on #12693
Peggy Gannon responded with [updated text for the emergency messaging](https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/13355). The wireframes have been updated accordingly.

[2020-09-10 12:37] lunascoop commented on #11155
Perhaps I am missing something, but are there any other URLs that are incorrect/not showing correctly aside from 10-10ez-pdf? If this issue only pertains to form 10-10ez-pdf, is it possible that the URL change did not register/save since that URL (https://www.va.gov/find-forms/about-form-10-10ez/ ) was already assigned to the 10-10ez-esp form?

[2020-09-10 12:57] annaswims commented on #13293
Log in as user 229, and go to https://staging.va.gov/track-claims/your-claims/600202895/files

when I try to upload an empty text file `empty.txt` I see this screen.  It never goes away and there is no network traffic [
<img width="1613" alt="Screen Shot 2020-09-10 at 8 54 07 AM" src="https://user-images.githubusercontent.com/19188/92731822-91a3a200-f343-11ea-8617-d6748e3a1140.png">
](url)

[2020-09-10 12:58] annaswims commented on #13293
So, not exactly the problem I described, but also a problem with empty files.

[2020-09-10 13:01] andaleliz commented on #13135
@kelsonic is this ticket just to build the "meat" of the sandwich (no tags, or need help, etc)?

The design linked above doesn't reflect Ryan's latest placement of the tags and the redesign of the page "footer" (which contains related articles, need help, etc), but everything between the thin gray borders is still accurate.

[2020-09-10 13:03] andaleliz commented on #13135
nvm I just re-read the AC and I see it specifically references the meat. Or, seitan if that's your jam :)

[2020-09-10 13:03] indytechcook commented on #13177
The PR has been merged but not deployed yet.  On next deploy this should be resolved.

[2020-09-10 13:03] abuckley3385 commented on #12372
@short000 I'd like to mark this complete for the sprint - have you had a chance to review Mark's diagram.  Im good with the doc.

[2020-09-10 13:03] #12372 closed

[2020-09-10 13:05] #12517 closed

[2020-09-10 13:09] ccruzgra commented on #13170
After discussing in UX Sync this morning, we will work on the above modal copy and integration into the prototype in Sp56.

[2020-09-10 13:16] abuckley3385 commented on #13156
@massrb last week in backlog and this Tuesday in sprint planning we discussed this story not have tasks/acceptance nor estimate.  I stressed the importance of this so we are accurately planning the workload for the sprint and to know what it means to mark this ticket as done.  If there any reason this can't be completed, please let me know and provide an update by the EOD today. FYI