[2022-06-16 13:43] ewilson-adhoc opened #42981 "Configure sidekiq UI staging to work with keycloak"
## User Story

_As a user I would like to have protect access to Sidekiq UI to ensure that the Sidekiq service is secure.

## Expected Behavior

_In order to use the SidekiqUI service a user will be requested to login in to gain access to the service.

## Acceptance Criteria

- [ ] _Add bulleted list of all the task that must be finished for the feature to be consider finished & ready to merge_

[2022-06-16 13:43] ewilson-adhoc opened #42982 "Run manual test suite against staging deployment"
## User Story

_As a user I would like to have this feature because it would help me with this pain point_

## Expected Behavior

_Add expected behavior of the described feature here_

## Acceptance Criteria

- [ ] _Add bulleted list of all the task that bust be finished for the feature to be consider finished & ready to merge_

[2022-06-16 13:43] shiragoodman opened #42983 "Update Governance team guidance for tickets"
## User Story
_"As a (persona), I (want to), (so that)."_

- Intended Audience:
- Desired Outcome:
- Due Date:

## Description
In order to ensure that Governance team members are addressing tickets consistently and correctly, Chase and Shira are updating the guidance, templates, etc.

Additional background for [Collaboration Cycle - Improve tracking and status visibility of VA.gov products](https:

[2022-06-16 13:47] shiragoodman opened #42984 "Remove "Related Governance Team Resources" from template"

[2022-06-16 13:48] shiragoodman opened #42985 "Update "Documentation Update Guidance" Governance team docs per recent initiative"

[2022-06-16 13:51] shiragoodman opened #42986 "Modify "How to configure this issue" for ticket readiness"

[2022-06-16 13:51] shiragoodman opened #42987 "Modify "How to configure this issue" in gh template for ticket readiness - Checklist"

[2022-06-16 13:53] saderagsdale commented on #42476
## Background context:

The source of the vets inputting multibyte characters is most likely a word processor or text editor the vet is using.
It's common for text editors-word processors to use utf-8 by default and automatically convert ascii user typed quotes into utf-8 multibyte left-quote right-quotes(smart quotes, see above).  I think the users are copying the text from their editor applicati

[2022-06-16 13:54] shiragoodman opened #42988 "Update tech-debt for tech debt epic, no longer just label"

[2022-06-16 13:55] #41339 closed

[2022-06-16 13:57] MitchLivingstone commented on #40376
All Task are completed. Done / Closed on 06/16/2022

[2022-06-16 13:57] #40376 closed

[2022-06-16 13:57] Samara-Strauss commented on #42967
I've validated that the spreadsheet VA Profile sent matches the data we are seeing in staging, so this ticket is probably good to close.

[2022-06-16 13:59] shiragoodman opened #42989 "Remove Intended Audience, Desired Outcome and Due Date from gh template"

[2022-06-16 14:00] ewilson-adhoc commented on #42931
@considerable pulling this into the active sprints, since you've been working on this.

[2022-06-16 14:00] shiragoodman opened #42990 "Remove "Additional background for ___" from gh template"

[2022-06-16 14:00] RLHecht commented on #42773
@megzehn With Laura out this week, we are going to pass this to you before we send to Beth. Katherine modeled this changes after the ones she did on other pages where she removed content from the tables. Could you please do a copyedit and then let Beth know it's ready for her review? Thanks!

[2022-06-16 14:04] shiragoodman opened #42991 "Create "Impacted Artifacts" heading, remove other Artifacts heading"

[2022-06-16 14:05] jw81 commented on #37403
@jbritt1 @mchelen-gov
My apologies.  I did not see the prior attempts to ping me until just now.

Basically, what's going on is my API accepts Veteran's disability claims.  We take that data and then send it to EVSS so that they can establish a Veteran's disability claim with the VA.  When the submission to EVSS fails in prod because the data is invalid in some way, we have no way of replicating t

[2022-06-16 14:07] jbritt1 commented on #37403
Think the PO you want to tag here would be @td-usds

[2022-06-16 14:15] humancompanion-usds commented on #25878
Mobile header has been deployed and is up-to-date in Sketch. We don't yet have this in design.va.gov but we have another issue for that.

[2022-06-16 14:15] #25878 closed

[2022-06-16 14:15] shiragoodman opened #42992 "Format "Acceptance Criteria" similar to Tasks (placeholder)"

[2022-06-16 14:24] shiragoodman opened #42993 "Add "Peer Review" heading with peer review assignee and validation/verification"

[2022-06-16 14:25] shiragoodman opened #42994 "Create flow of the lifecycle of a Gov team ticket"

[2022-06-16 14:28] RLHecht commented on #42952
Thanks, @mnorthuis

Yes, we should remove the dashes for the MGIB pages (they aren't currently in the Drupal node but they were still in the older versions I copied over from the old tickets.

@bethpottsVADEPO Please see Mikki's other question about combining the housing allowance rates with the Post-9/11 page.

Also want to confirm about moving those 2 pages to R&S. If so, @katherine-fung can ope

[2022-06-16 14:28] saderagsdale commented on #42347
@Mottie Can you add an estimate to this one?

[2022-06-16 14:29] SarahKay8 commented on #41830
@shiragoodman Done

[2022-06-16 14:30] #40811 closed

[2022-06-16 14:32] #41615 closed

[2022-06-16 14:32] mdewey commented on #41615
Closing this. Feedback will happen after collab cycle review

[2022-06-16 14:37] michelpmcdonald opened #42995 "Count user provided supporting evidence file uploads for 526 claims"
Create a ruby script to run in production to count the % of claims filed through vets-api that have user supplied files attached.

Based on this slack conversation:

https://dsva.slack.com/archives/C5AGLBNRK/p1655248009960399

Matt Self and Emily "Fast Track" Theis want to count user supplied 526 file uploads.  Specifically, they are after the percent of claims submitted through vets-api that have

[2022-06-16 14:37] acrollet commented on #42559
![Captura de Pantalla 2022-06-16 a la(s) 08.29.39.png](https://images.zenhubusercontent.com/5f6b95e44ede53b783cfcc8e/917ea600-17d4-4c27-89ac-b357f12a70ae)

Validated on staging!

[2022-06-16 14:39] briandeconinck commented on #42955
Looks good, I think I'm all set. Thank you @calquisola!

[2022-06-16 14:47] td-usds commented on #42776
VOR confirmed eQIP
@tpharrison can you elaborate a bit more about the specific access you'll need? What specific other avenues beyond just 'production access' have been explored in order to troubleshoot these latency issues?

[2022-06-16 14:50] #42600 closed

[2022-06-16 14:51] ahicksfearless opened #42996 "AVS/VEText Newsletter [06/22/22]"
## Description
Every other Wednesday, opposite of office hours, a newsletter is sent out to users and posted to the product SharePoint to advertise existing and new product features, cover FAQ, and potentially inform users of news that may not be best held off until the next office hours.

---

## Acceptance Criteria
- [ ] Draft newsletter including Q & A posted in slack channel for review by lead

[2022-06-16 14:58] zach-park commented on #42721
Tagging myself. @zach-park

[2022-06-16 15:01] tpharrison commented on #42776
We've been seeing latency issues related to BGS for the past few months.  You can find more background information in [#bgs-errors-latency-issues](https://dsva.slack.com/archives/C03G60B5DAP) which was created to help some VSA team members and devops folks collaborate on investigating the cause of the latency.

We're fairly certain that the latency is from BGS but we haven't been able to get a lot

[2022-06-16 15:06] brianseek commented on #42349
This is ready for review. See gif for action:
![expand-all.gif](https://images.zenhubusercontent.com/61523b5b9d354750f04823db/73ba92a3-1891-468b-b429-b89bab9be9a6)

[2022-06-16 15:10] hdjustice commented on #40490
Thank you @briandeconinck  - We will look into this and get it scheduled in the next few sprints.

cc: @markfallows

[2022-06-16 15:10] brianseek commented on #42342
This is ready for review. See screenshot:
![Screen Shot 2022-06-16 at 8.10.20 AM.png](https://images.zenhubusercontent.com/61523b5b9d354750f04823db/d4945c96-df2a-4c94-8df1-256a54b2f3d0)

[2022-06-16 15:13] acrollet commented on #42559
DS issue here: https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/953

[2022-06-16 15:15] brianseek commented on #42346
This is ready for review. See screenshots:
![localhost_3001_health-care_appointment-pre-check-in_emergency-contact (1).png](https://ima![localhost_3001_health-care_appointment-pre-check-in_emergency-contact.png](https://ima![localhost_3001_health-care_appointment-pre-check-in__id=46bebc0a-b99c-464f-a5c5-560bc9eae287 (17).png](https://images.zenhubusercontent.com/61523b5b9d354750f04823db/66e17258-c

[2022-06-16 15:16] kevwalsh commented on #35480
This requires some re-evaluation now that we've added Facility COVID status.

[2022-06-16 15:17] ianhundere commented on #42903
[code]

[2022-06-16 15:19] lzapson opened #42998 "OOB Deploy Request"
# Instructions
Fill out Details of need and the PRs related to OOB sections below.

## PRs Related to OOB
- Please provide the list of PRs related to the need for this OOB Deploy
[   > PR?????](https://github.com/department-of-veterans-affairs/vets-website/pull/21374)

## Active Daily Users Impacted
- How many active users are impacted at this time and day.

## Has fix been confirmed in Staging?
-

[2022-06-16 15:22] loripusey commented on #42346
@brianseek Do the changes appear in both Check-in and Pre-Check-in?

[2022-06-16 15:23] claytonzook commented on #41978
Thanks! That clears it up for me. I found it curious that there were "edit" buttons but this "edit address" is a link. Since that one takes the user to a new page, it is indeed a link.

[2022-06-16 15:24] benbrasso-agile6 commented on #42346
I was about to ask what Lori asked. Looks good though. @zach-park

[2022-06-16 15:24] kevwalsh commented on #10030
Some of these issues have been addressed, like the casing and dashes in the last breadcrumb item. Vet Centers and Vet Center Location Pages still have a problem.
<img width="1137" alt="Screenshot_2022-06-16__11_24_AM" src="https://user-images.githubusercontent.com/643678/174104887-569f1ef6-eaed-47ab-82cf-aaa7858899ec.png">

[2022-06-16 15:27] rmessina1010 opened #42999 "Linked/embedded diagram not working"
## Description
**The questions below help our team to determine the project scope for incoming documentation support requests.**

The embedded diagrams in this page are visible in confluence but show up as missing links on the platform site.
Confluence:
[https://vfs.atlassian.net/wiki/spaces/pilot/pages/1844346924/Build+and+deploy+process+flows](https://vfs.atlassian.net/wiki/spaces/pilot/pages/18

[2022-06-16 15:27] brianseek commented on #42346
Oh good question @loripusey and @benbrasso-agile6, yes the changes are in both apps.

[2022-06-16 15:30] loripusey commented on #42349
Looks good to me, as soon as @zach-park concurs, it can be closed.

[2022-06-16 15:30] loripusey commented on #42342
Looks good to me, as soon as @zach-park concurs, it can be closed.

[2022-06-16 15:33] jsgarmon opened #43000 "[DataDog] Codify resources into Terraform code"
## Description
As we transfer Datadog resources (dashboards, monitors, etc) that are not in code from datadoghq.com to vagov.ddog-gov.com, we should try to capture these resources in Terraform code.

Migration is happening as part of https://github.com/department-of-veterans-affairs/va.gov-team/issues/42691. Resources owned by the Infrastructure team should be imported into a datadog state file, a

[2022-06-16 15:33] zach-park commented on #42349
LGTM. Thank you!

[2022-06-16 15:34] alwerner commented on #42169
@madebydna Is this complete?

[2022-06-16 15:34] zach-park commented on #42346
LGTM. Thank you!

[2022-06-16 15:36] #42452 closed

[2022-06-16 15:38] lihanli opened #43001 "[BE] Support signasrepresentative field for the 1010cg form"
change 1010cg code so that the signasrepresentative field doesn't cause errors
http://sentry.vfs.va.gov/organizations/vsp/issues/114524/?environment=staging&project=3&query=is%3Aunresolved+controller_name%3Acaregivers_assistance_claims&statsPeriod=14d

[2022-06-16 15:40] mdewey commented on #23312
@Samara-Strauss

This has merged in master and will get deployed today. When we get errors in the coming days, let me know and I can check the logs

[2022-06-16 15:42] saderagsdale opened #43002 "[Contact Center team] Clear backlog of support tickets for VA Benefits Team 1"
## Value Statement
**_As a_** member of the support team
**_I want to_** respond to all open support tickets that Veterans are experiencing
**_So that_** clear the backlog of support tickets for benefits team 1

---
## Background Context
The contact center team has over 546 open tickets related to benefits. We need to clear this backlog by updating all tickets.

## Tasks
- [ ] _Instruct Kimberley

[2022-06-16 15:42] tpharrison opened #43003 "BE - Auth Profile - Military Info Migration - Add sorting to service history records"
## Background
When pulling service history records from VA Profile, they need to be sorted by begin date.

## Tasks
- [ ] Add sorting to service history records

## Acceptance Criteria
- [ ] Service history episodes display sorted by begin date (ascending).

[2022-06-16 15:43] tpharrison opened #43004 "BE - Auth Profile - Military Info Migration - Add sorting to service history records"
## Background
When pulling service history records from VA Profile, they need to be sorted by begin date.

## Tasks
- [x] Add sorting to service history records

## Acceptance Criteria
- [x] Service history episodes display sorted by begin date (ascending).

[2022-06-16 15:46] tpharrison commented on #43004
@Samara-Strauss @SKasimow I realized that the eMIS code had been sorting service history records by begin date, so this adds the sorting to the VA Profile code.

I have already opened a PR.

[2022-06-16 15:46] SKasimow commented on #42968
Use: /v0/profile/service_history or /profile/service_history

[2022-06-16 15:46] #42955 closed

[2022-06-16 15:52] jacobworrell opened #43006 "[Product] Draft Initiative Brief"

[2022-06-16 15:56] jacobworrell opened #43007 "[product] Draft outreach plan for Track 2"

[2022-06-16 15:56] tameracorson commented on #42861
![image.png](https://images.zenhubusercontent.com/61856bab21cd5965714d703d/dc2ea7ca-7799-43e9-a941-e3df07e2651c)

[2022-06-16 15:58] caw310 commented on #41381
Any ones that are blank, add use with caution indicator.

[2022-06-16 16:00] jacobworrell opened #43008 "[product] Outreach plan for Track 2"

[2022-06-16 16:04] andaleliz commented on #42020
@Samara-Strauss are the direct deposit call center guides in [this folder](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/identity-personalization/direct-deposit) accurate resources, and ones we need to maintain? I know DD is covered in the broader profile call center guide. Thanks!

[2022-06-16 16:07] #42349 closed

[2022-06-16 16:08] #42346 closed

[2022-06-16 16:10] tameracorson commented on #42887
![image.png](https://images.zenhubusercontent.com/61856bab21cd5965714d703d/00f6ff74-fd31-4179-b0b6-45cb17cc6255)

[2022-06-16 16:13] madebydna commented on #42169
Yep, this is done.

[2022-06-16 16:13] ldelacosta commented on #39812
@marcynadeau - This is ready to be tested. Please let us know if you're still having issues. Thanks!

[2022-06-16 16:17] lianilychee commented on #42999
hey @rmessina1010 !  Thanks for submitting this.  We're already aware and have alerted Carol and Lainey, and outlined the action to take (https://github.com/department-of-veterans-affairs/va.gov-team/issues/42170#issuecomment-1152483950).  It looks like Release Tools Team actually wrote this document -- your team is responsible for updating, so you and Lainey can prioritize in your backlog as nece

[2022-06-16 16:23] zach-park commented on #40179
@loripusey, @acrollet @brianseek @brdunfield
The wireframe is ready for PO review & FE review.

[2022-06-16 16:31] michelpmcdonald opened #43009 "Investigate "PIf in Use" 526 rejections stopping, apparently replaced with External service unavailable"
Starting on June 13th(confirm date, have script) "PIF in Use" claim rejections have stopped, but looks like they are replaced with "External service unavailable".

Related, we just enabled sending out failed submission notification to vet who hit the PIF in Use error, but now PIF in use has disappeared.  Need to decide if we need to send out notifications for this newish "External service unavaila

[2022-06-16 16:35] garyjfong opened #43010 "Adding [Gary Fong] to DSVA Slack"
# Description

**new user requests**: please verify that the user does not already exist in dsva.slack.com (it may be the account exists, but is not in a particular channel)

Requesting an invitation to the Digital Service @ VA Slack. I am a developer on the Long COVID Technical Team.

Are you requesting to add an individual as a:

**- Full member**
- Single guest
- Multi-channel
- Switching from

[2022-06-16 16:36] cohnjesse commented on #42347
@saderagsdale Hey, I just put an estimate on this. I am doing this work so I'm not sure how to pull this into the sprint or if it needs to be?

[2022-06-16 16:38] tameracorson commented on #42974
![image.png](https://images.zenhubusercontent.com/61856bab21cd5965714d703d/d8377122-5e43-4f09-a15c-da3326ecd9cc)

[2022-06-16 16:41] jhouse-solvd commented on #42400
@lianilychee - Thank you. We'll take a look!

[2022-06-16 16:44] simiadebowale opened #43011 "Clean up redundant fields in Provider endpoint"
This is the current response we get from the provider endpoint:
{
      "ProviderIdentifier": 7511268789,
      "ProviderIdentifierType": "NPI",
      "Name": "ANDERSON, SARA JOE  ",
      "ProviderType": "Individual",
      "Address": "1640 GREGSON ST\r\nDURHAM, NC",
      "AddressStreet": "1640 GREGSON ST",
      "AddressCity": "DURHAM",
      "AddressStateProvince": "NC",
      "AddressCounty":

[2022-06-16 16:45] garyjfong opened #43012 "SOCKS access for [Gary Fong]"
### Your Name

Gary Fong

### Your Email

gary.fong@va.gov

### Your Role and Team

Developer - Long COVID Technical Team

### Product Manager (PM) name and email

Marian Adly - marian.adly@va.gov

### Product Owner (PO) name and email

Marian Adly - marian.adly@va.gov

### Access Type Requesting

developers

### Public SSH Key

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDaDpnCJMKbCLyEMkjT3cz0ceS436hCG

[2022-06-16 16:46] longmd commented on #40883
@nicko-amida , I just want to confirm here that we are taking what is 2 form fields now--a text input for city and select input for state--and replacing them with a single text input that they can put whatever they want into. Is that correct?

[2022-06-16 16:46] AGarcia-Clarity commented on #42582
👋  @ajakabcin

PRs are up from the Identity team, just waiting on approval & merging
- [Redirect to My VA on vets-website](https://github.com/department-of-veterans-affairs/vets-website/pull/21378)
- [Addition of `my_va_redirect` feature flag](https://github.com/department-of-veterans-affairs/vets-api/pull/10057)

[2022-06-16 16:47] zachclarity opened #43013 "Define Process for VSP Special Vets-API Monitors for External Services"
Description

We need to decide how to handle this open  [support requests to create a VSP external service monitor](https://github.com/department-of-veterans-affairs/va.gov-cms/issues/9399).

Tasks

- [X] Get Clarification from Platform Ops/Vets-Api Teams the correct process to handle these type of requests

Acceptance Criteria

- [X] Policy for new Datadog Users. : Answers:  [VFS not allowed at t

[2022-06-16 16:49] loripusey commented on #40179
Thanks @zach-park , wireframe looks good! I'll copy over to the ticket.

[2022-06-16 16:54] #42948 closed

[2022-06-16 16:55] #41970 closed

[2022-06-16 16:55] chaseakirby commented on #42983
@shiragoodman Created PR #43014 for GitHub related tasks. Ready for your review.

[2022-06-16 16:56] alwerner commented on #38657
Closing as complete. cc: @madebydna

[2022-06-16 16:56] #38657 closed

[2022-06-16 16:59] vbellissimo opened #43015 "Request access to Google Analytics and/or Domo"
# Request Google Analytics and/or Domo access

## What this form is for
Use this template to request access to Google Analytics and/or Domo. Please complete steps 1 & 2 below.

## 1. Access Requirements
Please check the analytics tool(s) you need access to:
- [x] Google Analytics
- [x] Domo
- [ ] (Platform Teams only) BigQuery

## 2. User Email Address to Receive Access
**Due to privacy concerns,

[2022-06-16 17:01] loripusey opened #43016 "Staging Review [Modernized Check-in Team - Patient Check-in (Pre-Check-in and Mobile Check-in)]"
# NOTE
This template is being deprecated. If your kickoff meeting took place after May 26, 2022, you should be following the guidance specified in the Collaboration Cycle Rquest per the [May 26, 2022 change history post](https://depo-platform-documentation.scrollhelp.site/collaboration-cycle/Change-history.1846870032.html) instead. If you are unsure if this applies to you, please reach out to the

[2022-06-16 17:06] #43015 closed

[2022-06-16 17:18] saderagsdale commented on #42869
Needs FE details.

[2022-06-16 17:18] tameracorson commented on #42861
Meeting with Business Owner (Tarsha) set for 6/27 @ 1030AM ET.![image.png](https://images.zenhubusercontent.com/61856bab21cd5965714d703d/9e8ff3d4-8d19-4e1d-8866-dfe97c28b00c)

[2022-06-16 17:20] Dene-human commented on #38802
Oh got it, thanks @longmd TBH, this was something told to me during short form collab cycle. @hdjustice @markfallows - not sure if that ticket is still open? If not, we can probably just close this.

For me, I don't feel strong urgency around it.

[2022-06-16 17:23] SKasimow opened #43018 "FE | Profile | Documentation"
## Background

Describe the issue background and scope

## Tasks
- [ ] Compile a list of the data we ingest within  Profile
- [ ] Research which system provides this data

## Acceptance Criteria
- [ ] Create an overview including technical diagram based on findings
- [ ] Review during a live stand-up
- [ ] Post to Github technical folder

## How to configure this issue
- Include practice area in t

[2022-06-16 17:23] mviterna commented on #42670
team-matsumoto was/is Caracal, and we can keep the group name for simplicity

[2022-06-16 17:26] mviterna commented on #42670
Here is the ticket we copied: https://github.com/department-of-veterans-affairs/va.gov-team/issues/33204 in addition to lighthouse-matsumoto she'll need "adhoc-vetsgov-ssm-prod". Probably easiest to do all including   "dsva-vagov-developers",
    and    "lighthouse-developers", since I'm not sure what those do, but I'm guessing she will need those along with forced MFA.

[2022-06-16 17:28] SKasimow commented on #43018
Hi @mdewey - I started a ticket for documentation; please add/edit as needed.

Also, is this something you want to have included in current sprint 76 or next one?

[2022-06-16 17:31] SKasimow opened #43019 "FE | Profile | Feature Flag Documentation"
## Background

Document how we use feature flags to internally test and phase product released to production.

## Tasks
- [ ] Document use of FF for Profile features

## Acceptance Criteria
- [ ] Post to git-hub

## How to configure this issue
- Include practice area in title -- e.g., [Design], [FE], [BE]
- Include project/initiative name - e.g., Auth Profile: Address Change Messaging
- Add label

[2022-06-16 17:32] SKasimow commented on #43019
@mdewey - here is a shell for feature flag documentation. Again, please edit/add as needed and lmk which sprint to include this in or whether to just leave open for now. thanks, Sharon

[2022-06-16 17:38] GnatalieH commented on #40186
@andresriveratoro [here is the link](https://www.sketch.com/s/610156b6-f281-4497-81f3-64454fc72156/p/F30D6063-F45E-4AAE-A2F5-A26C3E5EA5A5) to the Sketch mockups.

[2022-06-16 17:39] tameracorson commented on #42974
Test Blank PDF
[https://app.zenhub.com/files/133843125/cdfcf553-1499-4075-888a-c9d413ae2d97/download](https://app.zenhub.com/files/133843125/cdfcf553-1499-4075-888a-c9d413ae2d97/download)

[2022-06-16 17:39] tameracorson commented on #42974
Test #1
[https://app.zenhub.com/files/133843125/f42c8dd6-c915-4372-9ff9-9cb6e6a983fc/download](https://app.zenhub.com/files/133843125/f42c8dd6-c915-4372-9ff9-9cb6e6a983fc/download)

[2022-06-16 17:40] tameracorson commented on #42974
Test #2
[https://app.zenhub.com/files/133843125/c2889527-ed68-40dc-80d9-8cb25b8e328c/download](https://app.zenhub.com/files/133843125/c2889527-ed68-40dc-80d9-8cb25b8e328c/download)

[2022-06-16 17:43] shiragoodman opened #43020 "Refine research expectations re: where to store research documentation"
## User Story
As an individual supporting VA.gov, I want to be sure that all VFS teams follow the same guidance for storing research artifacts and documentation so that I know where to find specific research, regardless of which team did the research or what product it is for.

As a VFS team researcher, I want to know where I should store all artifacts and documentation related to my teams researc

[2022-06-16 17:43] ajakabcin commented on #42582
thank @AGarcia-Clarity! we're so excited, looking forward to checking it out on staging soon!

cc @Samara-Strauss @ericasauv09

[2022-06-16 17:45] #41497 closed

[2022-06-16 17:45] #42287 closed

[2022-06-16 17:49] nicko-amida commented on #40883
@Dene-human @longmd Yeah it was - Matt hold off on this one if you're able, I think I misunderstood the design ask: the content mentioned in this issue is ok, but I think I need to add a field and update the labeling. Matt if the level of effort needs to be reassessed that's my fault - I can get back to you later today about my updates.

[2022-06-16 17:50] bethpottsVADEPO commented on #42339
@katherine-fung @RLHecht @megzehn @laurwill
[http://preview-prod.vfs.va.gov/preview?nodeId=709]
I went back and forth on this, whether to make the H4 an H3 instead, but I left it as is since your logic is sound--that it's a subset of "VA benefits and services." I did edit the H4 to shorten and called out that it was only some life insurance programs with the word "certain." I didn't think we neede

[2022-06-16 17:51] shiragoodman commented on #43016
@loripusey in order to do a Staging Review, we need the following things:
1. Update this ticket with the requested artifacts. If you don't have all, that's fine. Please provide what you have. We need to have access to the Patient Check-in tool in order to validate it meets our Platform standards.
2. Schedule a Staging Review. Follow the instructions under the Scheduling heading.

Feel free to reac

[2022-06-16 17:54] longmd commented on #40883
@nicko-amida , no worries at all. Take your time to reassess what is needed. The effort is minimal to actually do this update, but if we were going from two fields to one in that section, I wanted to research if that would trigger an update elsewhere based on the data. Just making sure I wasn't going to introduce an unexpected error, that is all!

[2022-06-16 17:55] Samara-Strauss commented on #31302
Thank you for this, @pavanhothi!

All of this sounds good to me. Thanks!

Unauthenticated clicks to My VA is something we want to track. I'm clear now on this. You can leave it.

All of this looks good, but we can remove the line graph for top click interactions. The bar graph will more clearly communicate what we want to see.

[2022-06-16 17:55] tameracorson commented on #42890
Held working session 6/15 & 6/16 from 0930-1030AM

[2022-06-16 17:56] NCHLiberty commented on #37771
@saderagsdale Goal is to transition away from all of the evss services this year. You can help set the target date for this one. What works for you?

[2022-06-16 17:56] saderagsdale commented on #42995
Sarah reaching out to Matt about priority.

[2022-06-16 17:57] RLHecht opened #43021 "Content work for PACT act"
## Issue Description
This ticket is for the content work Beth is doing to pages connected with the PACT Act.

These pages include:

- [Gulf War Illnesses linked to Southwest Asia service](https://www.va.gov/disability/eligibility/hazardous-materials-exposure/gulf-war-illness-southwest-asia/)
http://preview-prod.vfs.va.gov/preview?nodeId=885
What's new: A lot of the content in the blue box is new/r

[2022-06-16 17:58] RLHecht commented on #43021
@bethpottsVADEPO I created this ticket though I'm not sure the pages I listed above are correct. But we can use this to track the work you're doing for when you need us to copyedit or anything else.

[2022-06-16 17:58] Samara-Strauss commented on #42746
Yes, we can get BGS involved. Not sure who, but we can try to ask about this.

We did not account for this use case with education, and it is potentially possible this affects that feature, though I'm not sure. The error rate for edu is much lower, so if it is effecting this integration, it's in extraordinarily small numbers.

[2022-06-16 17:59] #40917 closed

[2022-06-16 18:03] joeniquette commented on #39548
Reviewed the MHV logs sent by IAM and its the same as the DSLogon logs they sent. They prove that ISAM is not sending us the IDme uuid even though we are making proper MHV through idme calls (outbound). I reported this to Traci from the IAM team and she stated she will run this by the team on 16JUN22.

[2022-06-16 18:09] wesrowe commented on #40890
It's definitely a code issue. My questions to Aubrey above were intended to ascertain whether this issue has broader impact than just the 2 CLPs. We have a developer about to look into this now, so that's another lens on catching where else this might be impacting.

[2022-06-16 18:10] shiragoodman commented on #42529
@briandeconinck this looks good to me. Closing!

[2022-06-16 18:10] #42529 closed

[2022-06-16 18:12] Samara-Strauss commented on #23312
Great, thank you! I'll make a note to take a look at this within the next few days to see what information we are getting in.

[2022-06-16 18:13] bethpottsVADEPO commented on #43021
@RLHecht Thank you so much, this is perfect. I'll let you know when it's ready for copyediting. Do you think that would be possible tomorrow morning?

[2022-06-16 18:13] ddzz commented on #42893
@wesrowe Were you able to get a review instance working for this change? The updated link in the description doesn't work.

[2022-06-16 18:15] Samara-Strauss commented on #42020
@andaleliz I'm going to go ahead and remove those to minimize confusion. Based on the timestamp, are from 3 years ago, so definitely not accurate anymore. All the profile features are in the profile guide you worked on, so that's the only thing we need to maintain.

[2022-06-16 18:18] jerekshoe commented on #42237
We might want to use the primary action link

[2022-06-16 18:20] Samara-Strauss commented on #42020
Actually, before I delete it, here is a screenshot of what people should see if they try to update their direct deposit information and their information has been locked/flagged for fraud:
![image](https://user-images.githubusercontent.com/34068740/174138949-0c461014-870f-4eac-9041-64c0c9e6501c.png)

[2022-06-16 18:22] wesrowe commented on #42893
@ddzz, I have a support ticket going in slack for this; sorry about the bad url. This is my first time working with Review Instances for code PRs.

[2022-06-16 18:23] loripusey commented on #43016
- @acrollet @benbrasso-agile6 @brianseek We are scheduled to do a Staging Review on Tuesday, June 28 for the Platform Collaboration Cycle team. Please take a look at the Artifacts section of this ticket as we will need to get these items (if available) and add links to this ticket for these items.
- I will take care of the staging url (with instructions for the Staging Tool), Product Outline, and

[2022-06-16 18:23] sortizsh commented on #42995
Talked to Matt and this can wait until July, we can revisit in sprint 4-5

[2022-06-16 18:23] jacobworrell commented on #34034
@michelpmcdonald can you provide steps to reproduce the error?

[2022-06-16 18:27] longmd commented on #42291
@Dene-human , just thinking on this... how should the text display with regards to the short form alert and the prefill message that displays for authenticated users? Should the text go on top of both alerts, split them, or go underneath?

[2022-06-16 18:28] shiragoodman commented on #42893
@wesrowe please keep us posted. Due to the short turnaround time, we may have to push this to Tuesday if not resolved today (since Monday is a holiday).

[2022-06-16 18:38] ianhundere commented on #42903
running into errors when importing synthetic tests:
[code]

[2022-06-16 18:41] shiragoodman opened #43022 "Collaboration Cycle - Create a health metric dashboard"
## Problem Statement
Governance team would like to build a health metric dashboard to track VFS engagement, use and outcomes of the Collaboration Cycle. This would allow us to track trends, recognize patterns and make observations to better understand how the product is used by VFS teams.

How might we create a dashboard that provides helpful, ideally automated metrics on the health of the Collabo

[2022-06-16 18:41] katherine-fung commented on #42694
Hi @tameracorson @CarlDickerson @tmccue @khandelwal,

I'm working on the messaging for opting in to paperless delivery, and I have 2 questions:

1. One of the message options says: "If you would like to save paper and _only get this form online when you need it_, you can opt-in to paperless delivery by updating your delivery preferences in your profile."

If someone chooses paperless delivery, how

[2022-06-16 18:47] #41837 closed

[2022-06-16 18:52] td-usds commented on #42670
I'll leave the concrete implementation for which groups/policies need to be applied to the infrastructure team.
Thank you @mviterna for the detailed explanation! :)

AWS Access approved based on the requirements in https://github.com/department-of-veterans-affairs/va.gov-team/issues/42670#issuecomment-1157940232.

[2022-06-16 18:52] ahicksfearless opened #43023 "Admin Training Quiz"
- [x] Create Microsoft Quiz

- [x] Insert questions curated for Admin Training follow-up

- [x] Share with the support team for feedback

[2022-06-16 18:57] saderagsdale commented on #42995
@michelpmcdonald this has been bumped to the next sprint. I removed you as the assignee.

[2022-06-16 18:58] #42204 closed

[2022-06-16 19:00] caw310 commented on #52
Closing this as alerts has been updated since this ticket was created.

[2022-06-16 19:00] #52 closed

[2022-06-16 19:02] caw310 commented on #74
Closing as there is a contact information pattern page on design.va.gov.

[2022-06-16 19:02] #74 closed

[2022-06-16 19:03] saderagsdale commented on #42300
I added user count (1400) and severity label (sev-1). @rocio-desantiago

[2022-06-16 19:03] td-usds commented on #42776
chatted with @tpharrison
he will be out until 6/27 and will not need access _until_ then.
The requested access is approved **from 6/27 until 2 months past that date**.

[2022-06-16 19:03] caw310 commented on #76
Closing as there was a more recent request that should address this request..

[2022-06-16 19:03] #76 closed

[2022-06-16 19:04] caw310 commented on #78
Closing as there is a list loop component.

[2022-06-16 19:04] #78 closed

[2022-06-16 19:04] katherine-fung commented on #41833
Per our conversation with Beth today, I'm now adding content re: resident rate requirements to this page: https://www.va.gov/resources/in-state-tuition-rates-under-the-veterans-choice-act/

@RLHecht - I'm thinking about adding some information about what happens if you're eligible for in-state rates but your school charges you more. Our page currently advises people to work with their school, or m

[2022-06-16 19:06] Samara-Strauss commented on #42582
Great, thank you @AGarcia-Clarity ! Let us know when that work is in staging. And it looks like everything is behind a feature flag, so there is no concern about this going to prod prematurely, correct?

[2022-06-16 19:07] caw310 commented on #68
Closing as this is an old ticket. DS components and patterns should have addressed this.

[2022-06-16 19:07] #68 closed

[2022-06-16 19:10] jonathan-epstein13 commented on #42197
@Samara-Strauss We've been able to add the extra step in the funnel report as requested. Please let us know if you need anything else for this report. The funnel report can be found in the All VA.gov Website Data [Production] property under the Explore tab. I had to make a duplicate due to the editing of the steps.

[2022-06-16 19:10] jonathan-epstein13 commented on #42197
@Samara-Strauss We've been able to add the extra step in the funnel report as requested. Please let us know if you need anything else for this report. The funnel report can be found in the All VA.gov Website Data [Production] property under the Explore tab. I had to make a duplicate due to the editing of the steps.

[2022-06-16 19:11] Samara-Strauss commented on #43004
Great, thank you so much! Let me know when it's on staging, and I'll validate with user 11.

[2022-06-16 19:12] pavanhothi commented on #31302
@Samara-Strauss thank you for the feedback! I will make the adjustments you mentioned, and then put everything together in one mockup presentation so you can visualize how the whole dashboard will look put together. And if the flow of it all agrees with you, we can move forward with creating the actual dashboard in Domo.

[2022-06-16 19:13] AGarcia-Clarity commented on #42582
@Samara-Strauss That is correct, unless the `my_va_redirect` feature flag is enabled it will not prematurely go to production.

[2022-06-16 19:14] Samara-Strauss commented on #42197
Thank you, this looks great! I think we can go ahead and delete the other version of the report (it looks like Jenna might need to do it). Otherwise, this ticket should b e good to close.

![image](https://user-images.githubusercontent.com/34068740/174147612-c439a552-9fa6-4d2a-a67c-fbf8c006a34a.png)

[2022-06-16 19:15] acrollet commented on #40923
Summary of findings and next steps is here: https://dsva.slack.com/archives/C022AC2STBM/p1655406794088949?thread_ts=1650654023.118099&cid=C022AC2STBM

Closing this out since we now have a plan to move forward.

[2022-06-16 19:15] #40923 closed

[2022-06-16 19:26] shiragoodman commented on #41830
great! looks like the Platform Content team is running the scroll viewport publishing now. It usually takes a few hours. when the publishing is completed, can you verify the impacted pages are updated on Platform Website? if/when complete, you can close this ticket. thanks!

[2022-06-16 19:34] ianhundere commented on #42770
i just chatted with Matt about this and we both believe it would be best to wait until dual-shipping is off to avoid sending logs to the non-gov instance.

[2022-06-16 19:37] megzehn commented on #41493
Hi @DanielleThierryUSDSVA - could you please review this VHIC content? There are a few questions in there for you and the stakeholder. Let us know if it needs more attention. Thanks!

[VHIC_card_copyedited.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/8921877/VHIC_card_copyedited.docx)

[2022-06-16 19:42] calquisola commented on #43012
@garyjfong is part of the VFS roster

[2022-06-16 19:45] CherylEvans commented on #41669
@shiragoodman Sounds good.  I will update my [Draft Page](https://vfs.atlassian.net/wiki/spaces/PPST/pages/2229338113/Cheryl+-+Copy+of+How+To+Use+Zoom+for+User+Research) and Publish to [Source Page](https://vfs.atlassian.net/wiki/spaces/RD/pages/1652392082/How+To+Use+Zoom+for+User+Research).  I will then create another ticket for adding the "Using Assistive Technology in Zoom" link to this page, o

[2022-06-16 19:46] caw310 commented on #48
Closing as this is over 2 yrs old.

[2022-06-16 19:46] #48 closed

[2022-06-16 19:46] ewilson-adhoc opened #43025 "Gather Requirements to schedule go/go no to production"

[2022-06-16 19:46] ewilson-adhoc opened #43026 "[spike] identify configuration changes that would need to be made to support a production release"

[2022-06-16 19:47] ewilson-adhoc opened #43027 "Console Services: IET - [spike] Meet with the QA standards group and get standards"
## Problem
A research spike is required to better understand what QA standards are required by the standards group

## Acceptance
- [ ] A meeting will be set up with the Standards group to better understand what QA standards are required
- [ ] A list of required QA standards will be generated as a result of the meeting with the standards group

[2022-06-16 19:47] caw310 commented on #55
Closing as this is over 3 yrs old.

[2022-06-16 19:47] ewilson-adhoc opened #43028 "Schedule go/no go to production environment for sidekiq UI"

[2022-06-16 19:48] ewilson-adhoc opened #43029 "Configure application to authenticate against utils keycloak"

[2022-06-16 19:48] caw310 commented on #69
This is over 3 yrs old. closing.

[2022-06-16 19:48] #69 closed

[2022-06-16 19:49] lihanli opened #43030 "[BE] Fix mulesoft connection in staging and RI"
Fix mulesoft connection in staging and RI

[2022-06-16 19:49] ewilson-adhoc opened #43031 "Migrate existing GH sidekiq UI users to keycloak"

[2022-06-16 19:49] caw310 commented on #70
This is over 3 yrs old so closing.

[2022-06-16 19:49] #70 closed

[2022-06-16 19:49] caw310 commented on #71
This is over 3 yrs old so closing

[2022-06-16 19:50] ewilson-adhoc opened #43032 "[spike] Define access policy for sidekiq UI production access"

[2022-06-16 19:50] caw310 commented on #72
This is over 3 yrs old. There is a service history pattern on design.va.gov.

[2022-06-16 19:50] #72 closed

[2022-06-16 19:51] #73 closed

[2022-06-16 19:52] caw310 commented on #75
Closing as this is over 3 yrs old.

[2022-06-16 19:52] #75 closed

[2022-06-16 19:52] raywangoctova opened #43033 "2022 Q3 Platform Objective 2"

[2022-06-16 19:52] caw310 commented on #79
This is over 3 yrs old so closing.

[2022-06-16 19:53] caw310 commented on #80
This is over 3 yrs old so closing.

[2022-06-16 19:53] raywangoctova opened #43034 "2022 Q3 Platform Objective 3"

[2022-06-16 19:53] SarahKay8 commented on #41830
@shiragoodman sure thing!

[2022-06-16 19:54] raywangoctova opened #43035 "2022 Q3 Platform Objective 4"

[2022-06-16 19:54] #81 closed

[2022-06-16 19:54] #42959 closed

[2022-06-16 19:55] caw310 commented on #83
This is over 3 yrs old. There is documentation on sign in and sign out on design.va.gov.

[2022-06-16 19:55] #83 closed

[2022-06-16 19:55] longmd commented on #41337
Here is a screenshot of the title update:

![Screen Shot 2022-06-16 at 3 54 35 PM](https://user-images.githubusercontent.com/6738544/174153483-e773b609-12f1-451b-bffd-af4e884c1448.png)

[2022-06-16 19:56] #84 closed

[2022-06-16 19:56] acrollet commented on #42352
@ytsaoca could you add wireframes to this ticket when you get a chance? thanks! :-)

[2022-06-16 19:57] longmd commented on #41337
And wrapped on mobile:

![Screen Shot 2022-06-16 at 3 56 32 PM](https://user-images.githubusercontent.com/6738544/174153740-e078d91e-e50b-497a-9a7a-649c8a9f241e.png)

I don't see any issue with the length of the text there.

[2022-06-16 19:57] caw310 commented on #87
Closing as this is over 3 yrs old. And PII is masked on forms.

[2022-06-16 19:57] #87 closed

[2022-06-16 19:57] CherylEvans opened #43036 "Add "Using Assistive Technology in Zoom" Link to "How to use Zoom for User Research""

[2022-06-16 19:58] caw310 commented on #88
This is over 3 yrs old so closing.

[2022-06-16 19:58] #88 closed

[2022-06-16 19:58] #89 closed

[2022-06-16 19:59] caw310 commented on #94
Closing as this is over 3 yrs old.

[2022-06-16 19:59] #94 closed

[2022-06-16 19:59] michelpmcdonald opened #43037 "[bug] Notice of Disagreement | Some user-supplied PDF files are rejected, page dimension exceeds 21x21"
## Value Statement
**_As a_** Veteran
**_I want to_** upload properly formatted files before submitting a claim
**_So that_** all files I share are submitted and can be reviewed by the NOD board.

---
## Background Context
Lighthouse has reported that some pages within pdf files that users attach to their NODs exceed the "physical printed" limit of 21" x 21" and the files are being rejected and th

[2022-06-16 20:00] caw310 commented on #365
Closing as this is over 3 yrs old and should be addressed.

[2022-06-16 20:00] #365 closed

[2022-06-16 20:01] acrollet opened #43038 "[FE] [BUG] [SPIKE] login fields error state is sometimes set on initial load"
## User Story
As a Veteran, I do not wish to see fields highlighted in red when I first load the app, so that I do not think something has gone wrong.

## Background

We're noticing that the last name/last 4 fields often start off in the error state:

![Screen Shot 2022-06-16 at 1.01.19 PM.png](https://images.zenhubusercontent.com/5f6b95e44ede53b783cfcc8e/7ef4a257-cbd2-4284-b8d4-9dfd4174cac9)

##

[2022-06-16 20:01] claytonzook commented on #43020
Do we need to modify what already exists on the [Platform Research Checklist page](https://depo-platform-documentation.scrollhelp.site/research-design/research-checklist#ResearchChecklist-1.Planningforresearch)

"Create a research folder in your product's folder on GitHub (Add file > create new file > product/research/README.md). All project related research & elements should live in this folder..

[2022-06-16 20:02] caw310 commented on #681
Closing as this is about 3 yrs old and there is a dedicated team working on the Design System.

[2022-06-16 20:02] #681 closed

[2022-06-16 20:04] ewilson-adhoc opened #43039 "[spike] Define SLA for sidekiq ui service"
## Story
As a member of IET, I would like to understand what my responsibilities are towards supporting sidekiq UI once it is in production.

## Acceptance Criteria
- [x] Current support for sidekiq UI is determined
- [x] We determine what our turnaround time is for things such as off-houses support/etc.
- [ ] This is documented and gets PO approval.

## Open Questions

## Resources

[2022-06-16 20:04] #42092 closed

[2022-06-16 20:04] ewilson-adhoc opened #43040 "Update existing documentation regarding how to access sidekiq UI"
## Problem
As an engineer picking upi Sidekiq UI I will want to know how to access Sidekiq UI.

## Acceptance
- [ ] How to access Sidekiq UI will be documented in the Sidekiq UI documentation.

[2022-06-16 20:05] ewilson-adhoc opened #43041 "Deploy documentation for sidekiq UI to appropriate location"
## Problem
As an engineer picking up ownership of Sidekiq UI I will want documentation that I can read about how to manage Sidekiq UI

## Acceptance
- [ ] Sidekiq UI will documentation will be stored in the location perferred by platform Leadership

[2022-06-16 20:05] ewilson-adhoc opened #43042 "Verify that all readmes in the sidekiq UI repository are up to date"

[2022-06-16 20:08] rocio-desantiago commented on #42354
@scottymeyers ah interesting. The other day I saw it in order. I'll look again. to put it in order. Should be h1, h2, h3 order right?

[2022-06-16 20:08] calquisola commented on #43012
Hi @garyjfong,

You were just offboarded this week.

Were you moved to a different project?

Please advise on your current situation. Thanks.

Best,
Carl

[2022-06-16 20:09] jhouse-solvd commented on #42917
We discussed this as a team today. We've been troubleshooting other high-priority support issues that appear related to the Beats agent installation. Some instances (GitHub Actions runners for example) experience failure due to exhaustion of resources potentially caused or exacerbated by the Beats agent.

We have not yet had the bandwidth to troubleshoot this specific issue. Please let us know if

[2022-06-16 20:22] caw310 commented on #2554
This is over 3 yrs old so closing.

[2022-06-16 20:22] #2554 closed

[2022-06-16 20:24] caw310 commented on #4331
Closing as this over 2 yrs old and I believe the Additional info component addresses this.

[2022-06-16 20:24] #4331 closed

[2022-06-16 20:25] caw310 commented on #6097
Closing as this is over 2 yrs old..

[2022-06-16 20:25] #6097 closed

[2022-06-16 20:26] caw310 commented on #6997
@k80bowman should we retest to see if this has been addressed?

[2022-06-16 20:27] #9517 closed

[2022-06-16 20:28] RLHecht commented on #43021
Yep, that works. @megzehn FYSA this is the ticket I just slacked you about!

[2022-06-16 20:30] caw310 commented on #13822
@k80bowman is this still an issue?

[2022-06-16 20:30] caw310 commented on #14162
Closing as this is an old ticket and Forms library is being rebuilt.

[2022-06-16 20:30] #14162 closed

[2022-06-16 20:31] caw310 commented on #14261
Closing as this is no longer relevant.

[2022-06-16 20:31] #14261 closed

[2022-06-16 20:32] caw310 commented on #14269
Closing as forms library is being rebuilt.

[2022-06-16 20:32] #14269 closed

[2022-06-16 20:32] caw310 commented on #14262
@k80bowman , do we still need this ?

[2022-06-16 20:32] RLHecht opened #43043 "Review Vet Center national content and workbook text for plain language changes and VA.gov style standards"
## Issue Description

Now that the Sitewide Content team has taken over the Vet Center work, we've noticed content in the national descriptions as well as the workbook that should be rewritten in plain language and to match VA.gov's voice and style.

Before we start working with District 3 editors, we need to go through the national content to make revisions as well as the Vet Center workbook.

Ra

[2022-06-16 20:39] seanasewell commented on #42806
@shiragoodman @chaseakirby Update! I made a list of all the pages that I found in my review in the task section of this issue. I added/updated the footer to all the pages. The strikethrough signifies that they have been added. It's ready for review. Let me know if I missed something. Thanks :)

[2022-06-16 20:43] joeniquette commented on #42577
Statsd for proofing exists, the frontend needs to make a change to call the backend routes for csp_signup_verify and csp_verify.

[2022-06-16 20:43] #42577 closed

[2022-06-16 20:44] joeniquette commented on #40955
SAML:
**Standard MHV call:**
[https://sqa.eauth.va.gov/isam/sps/saml20sp/saml20/logininitial](https://sqa.eauth.va.gov/isam/sps/saml20sp/saml20/logininitial)?
&ForceAuthn=true
&ITFIM_WAYF_IDP=https://api.idmelabs.com
&Target=https://sqa.eauth.va.gov/accessva/broker?
PartnerId=
https://[ssoe-sp-staging.va.gov](http://2fssoe-sp-staging.va.gov/)
&AuthnContextClassRef=myhealthevet
&AuthnContextCompari

[2022-06-16 20:44] caw310 commented on #363
@k80bowman IS this still relevant?

[2022-06-16 20:45] CherylEvans opened #43044 "Add "Using Assistive Technology in Zoom" Link to "How to use Zoom for User Research""
## User Story
As a researcher, I want clear and updated guidance for using Assistive Technology in Zoom on Platform, so I have a single source of truth.

- Intended Audience: VFS
- Desired Outcome: Add updated guidance to Platform
- Due Date: N/A

Assignee: @CherylEvans
Peer Reviewer: @jimuhh

## Description
In ticket #40879, the new page [Research with Assistive Technology Users](https://depo-pla

[2022-06-16 20:48] acrollet commented on #43038
Closed as duplicate of https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/956

[2022-06-16 20:48] #43038 closed

[2022-06-16 20:49] aliyahblackmore commented on #42786
Updating here: Beth and I met today just to review the direction of the page. I'm pivoting from FMP to do some work on this for the last minutes of today and will continue tomorrow. Also noting that Beth gave an okay for this to be continued next week with Laura, but she did want to meet just to review questions etc.!

[2022-06-16 20:51] CherylEvans commented on #41669
@shiragoodman [Ticket 43044](https://app.zenhub.com/workspaces/platform-governance-team-5f85b91c14d8df0018fac414/issues/department-of-veterans-affairs/va.gov-team/43044) has been created to link "Using Assistive Technology in Zoom" to "How To Use Zoom for User Research", once it's been created/published.

[2022-06-16 20:55] benbrasso-agile6 commented on #41435
I posted this [question in slack to patrick](https://dsva.slack.com/archives/C02GXKL8WM6/p1655412835959979?thread_ts=1654633918.022419&cid=C02GXKL8WM6). May likely be Corpus Christi in Texas, but need to get an answer back from patrick

@sarahknoppA6 @loripusey @kristenmcconnell

[2022-06-16 20:57] ytsaoca commented on #42352
This is the current wireframe https://www.sketch.com/s/e79a827e-42cf-4a82-b554-874c75b5c70e/a/L03dRM3

[2022-06-16 20:57] brdunfield opened #43045 "[FE] [Tech Debt] Create shared CSS file"
## User Story
As a developer, I want shared code between check-in and pre-check-in to be in a single place, versus being duplicated and maintained in multiple places.

## Tasks
- [x] [FE] Create shared CSS file
- [x] Move shared CSS into the new file
- [ ] Create or update unit tests
- [ ] Create or update e2e tests
- [ ] Update relevant documentations (readme and use cases)

## Acceptance Criteri

[2022-06-16 20:59] acrollet opened #43046 "[FE] Update staging appt tool lambda to make demographics calls directly to CW"
## Background

CHIP have updated their confirm-demographics endpoint to require a UUID, which we don't have when using the staging tool to reset demographics. We should be able to fix the error message by instead calling CW directly.

## Tasks
- [ ] [FE] Update staging appt tool lambda to make demographics calls directly to CW
- [ ] Create or update unit tests
- [ ] Create or update e2e tests
- [

[2022-06-16 21:07] davidmpickett opened #43047 "Platform Orientation Template - Dave Pickett"
## Welcome and Introduction
Welcome to the Veteran's Administration (VA) Veteran Facing Services (VFS) team!
As a new VFS team member, you will be working in the web ecosystem we call the VA.gov Platform (or "**The Platform,**" for short).  The tasks on this list are designed to get you up to speed on the role of Platform, making it easier for you to do your job.

Because the VA is a huge organiza

[2022-06-16 21:14] #43004 closed

[2022-06-16 21:18] calquisola commented on #43012
SOCKS access granted. Please continue with [the guide](https://depo-platform-documentation.scrollhelp.site/getting-started/Internal-tools-access-via-SOCKS-proxy.1821081710.html) to establish a connection to SOCKS proxy. If you run into any issues, please feel free to reach out in the [#vfs-platform-support](https://dsva.slack.com/archives/CBU0KDSB1) channel using the [support request workflow](htt

[2022-06-16 21:18] #43012 closed

[2022-06-16 21:20] mchelen-gov opened #43048 "Standardize Platform Github Teams structure"
### Description

Currently the organization and hierarchy of Github Teams used by Platform and VFS teams is inconsistent and confusing. The structure and permissions of these teams should be standardized to increase ease of use, reduce confusion, and improve confidence of accurate permissions.

### Tasks
- [x] Create RFC for proposed GH team structure https://github.com/department-of-veterans-affa

[2022-06-16 21:20] mchelen-gov opened #43049 "test"

[2022-06-16 21:20] #43049 closed

[2022-06-16 21:22] benbrasso-agile6 commented on #41432
Pulling over to see if I can pull a draft together so we can begin confirming trip with location

[2022-06-16 21:25] Mottie commented on #42354
Actually, I think in this case, we need to maybe add an h2 (not sure what text to include) above the "Request a Certificate of Eligibility" action link... changing all the headers inside the `va-procress-list` won't be fun

[2022-06-16 21:27] mleclerc00 commented on #42670
aws account info passed on to user

[2022-06-16 21:47] davidmpickett opened #43050 "Adding [Dave Pickett] to DSVA Slack"
@cmaeng - I think this request needs to officially come from you, but I just created the shell as I'm going through the onboarding checklist

# Description

**new user requests**: please verify that the user does not already exist in dsva.slack.com (it may be the account exists, but is not in a particular channel)

<describe the request>

Are you requesting to add an individual as a:

- Full membe

[2022-06-16 21:52] CarlDickerson commented on #42694
@katherine-fung
- If someone chooses paperless delivery, they will receive a yearly notification via email (or text) that their document is ready for download. The form will not be emailed to them. They will be sent the link to the 1095-B download page for self-service retrieval. Opting into paperless delivery means that they will no longer receive the paper version mailed.
- 1095-B will be a stan

[2022-06-16 22:12] naomimarcussen commented on #43020
@claytonzook I think that line in the checklist is pretty clear. It might be helpful to
- link to a "Github how-to" page (I don't think one currently exists) for those that are not familiar with creating/managing files and folders in Github.

- link to a document explaining why we "design in the open" and examples of what those things are. We have this [guidance on sensitive documentation](https:/

[2022-06-16 22:23] #42895 closed

[2022-06-16 22:48] mnorthuis commented on #55
@caw310 @humancompanion-usds I think there are some things in here that would be helpful to add to the template in the design system.  The template documentation currently focuses on the design specs, but there is also general ux guidance that would be helpful to publish to support teams when responding to stakeholder requests.  Could we revisit this?

[2022-06-16 22:53] k80bowman commented on #13822
Most likely

[2022-06-16 23:28] chloedotbrown commented on #41932
@jonathan-epstein13 - The new [Dashboard Data QA page](https://vfs.atlassian.net/wiki/spaces/AT/pages/1821900905/How+to+Data+QA+Domo+dashboards) in Confluence is ready for you to look at! A new issue template is also linked under the "Artifacts" section, so please include that in your review as well.

A couple quick notes:

- I've moved the GA equivalent definitions to its own [subpage](https://vf

[2022-06-16 23:37] alexandec commented on #41668
PR merged! Yes, that's my thinking too, neither state is perfect but once we finish the changes we'll be in a good place.

With the BUILD.txt only representing full builds, we can limit any additional checks to workflow runs that happened after the full build. However I think we'll still need a way to determine whether a given build was a full or single-app build. I was hoping that with this BUILD

[2022-06-17 01:07] chloedotbrown commented on #42627
Hi @SarahKay8 - I'm still working on this, but wanted to give you an update. I ended up building off the version of the SQL that had been in the DOMO connector, because I noticed there were some syntax errors in the version above.

One thing that was definitely causing an issue was a couple incorrect label assignments. For example, "Caregivers" in the labels data is lowercase, so the `'Caregivers`

[2022-06-17 02:07] ldelacosta opened #43051 "[Spike] VVC appointment instructions in V2"
## Request
We are requesting the logic for V0 and V2 when an appointment is created from VCM. Once a staff creates a VCM appointment for a Veteran, the appointment will be displayed in VAOS. We recently discovered the VCM team added additional options for the instructions when creating the appointment in the system.

### Goal
To understand how the application reads the instructions provided from t

[2022-06-17 02:56] mydesignrocks opened #43052 "CI failures tied to runners: improvements"
## Issue Description
CI workflows are getting inconsistent behavior from the aws self-hosted runners. Noticed the issues are either tied to the AMIs or flake tests within the actual workflows.

## Front end tasks
- Understand the existing process of AMI usage in CI workflows
- Revisit the process to grab the latest AMI
- Change or modify to ensure AMI is available during scaling (ASG) activity wit

[2022-06-17 04:10] theodur commented on #35198
One issue that we may run into is a race condition between the S3 production sync for changed app deploys, and the daily production deploy. We need to account for when we have both a changed app prod deploy and full production deploy occurring at the same time. If a changed app build commit gets merged into `main` during the 60-minute wait time during the deploy, the latter changed app build commi

[2022-06-17 04:11] theodur opened #43053 "Create test plan for autonomouse deployments of allowed apps"
## Description
Prior to releasing autonomous production deployments to all applications on the changed apps build allowlist, we need a plan to test the functionality of the deployments with an application on the allowlist. A test plan outlining the process of testing autonomous deployments with an application should be created.

## Definition of done
- [x] A test plan is created

[2022-06-17 11:40] #40347 closed

[2022-06-17 11:41] steel36 opened #43054 "Evaluate/Learn when each comm. channel should be used. (Slack, Platform, Confluence)"
## Issue Description
Discover what communications channels are currently intended for which audiences and which information.

---
## Tasks
- [x] Determine which information/audience is intended for Confluence site (noting that some teams cannot access this channel)
- [x] Determine which information/audience is intended for Platform site
- [x] Determine which information/audience is intended for Sl

[2022-06-17 11:41] steel36 opened #43055 "Place Initiatives into Platform roadmap"
## Issue Description
Q3 Quarterly planning

Define next Quarter's intended work using [quarterly planning playbook](https://vfs.atlassian.net/wiki/spaces/PMCP/pages/1891303483/Product+Management+on+Platform#Quarterly-Planning-Playbook)

---
## Tasks
- [x] Attach initiatives to Platform Roadmap (zenhub)

## Acceptance Criteria
- [x] Initiatives placed on the Platform Roadmap (zenhub)

[2022-06-17 11:42] jjulian commented on #43048
A couple potential additions to your checklist:
- [ ] new team members are added to `va.gov-platform-teams` when they are added to the github org
- [ ] `va.gov-platform-teams` provides Write access to general-use repositories such as va.gov-team, and va.gov-platform-architecture

[2022-06-17 11:59] nicko-amida commented on #40883
@longmd @Dene-human Made some updates! I'm not taking away any fields now, but a country select box has been added, along with some updated labeling (issue description also has updated links).

[2022-06-17 13:09] ewilson-adhoc opened #43056 "Generate list of suggested microservices to extract from vets-api"
## Story
As a vets-api development team I would like to understand the potential future microservices that could be broken out of vets-api so that I can more easily identify whether the work of my team would fit in a service.

## Acceptance Criteria
- [x]  The functionality of vets-api is divided into potential services, this should include "internal" services that do not correspond to an endpoint

[2022-06-17 13:10] ewilson-adhoc opened #43057 "(WONTFIX) Run microservices through prioritization framework and assign priority"
## Story
As a platform stakeholder I would like to understand the value of different services so that I can make informed decisions about which services should be developed next.

## Acceptance Criteria
- [ ]  All of the services described in [this document](https://app.zenhub.com/workspaces/integration-experience---platform-spike-team-61f18a64735e8e0015911cf7/issues/department-of-veterans-affairs

[2022-06-17 13:10] ewilson-adhoc opened #43058 "Generate a list of tools currently used by the platform in support of microservices"
## Story
As an engineer making recommendations for future architectural states, I would like to gather information about what is currently in place, so that I can understand the current state of available tools.

## Acceptance Criteria
- [x] A list of tools that is currently used to support a microservices architecture (logging, CICD, ect)
- [x] Each entry on this list should include information a

[2022-06-17 13:11] ewilson-adhoc opened #43059 "Generate a list of recommendations for microservices support tools"

[2022-06-17 13:11] rsmithadhoc commented on #41294
Hi @mchelen-gov,

I'm reaching out because we are trying to set up a shared Confluence service account for the QA Standards team to use for automated publishing of the Product Directory, but we need a shared email address to do so. We saw this page https://vfs.atlassian.net/wiki/spaces/OT/pages/2068807800/Infrastructure+distribution+list+for+vagovdevops+va.gov and were advised by infrastructure to

[2022-06-17 13:18] ewilson-adhoc opened #43060 "Prioritize sequence of support tool implementation/development"
## Story
As a platform stakeholder I would like to understand the scope, risks, and benefits of implementing new tools or modifying existing ones so that I can make informed decisions about prioritizing future work.

## Acceptance Criteria
- [x]  ~~All of the services described in [this document](https://app.zenhub.com/workspaces/integration-experience---platform-spike-team-61f18a64735e8e0015911cf

[2022-06-17 13:19] ewilson-adhoc opened #43061 "[wontfix] Workflow for migration plan"
## Story

## Acceptance Criteria

## Open Questions

## Resources

[2022-06-17 13:19] ewilson-adhoc opened #43062 "Recommendations for process for cutting over services"

[2022-06-17 13:19] ewilson-adhoc opened #43063 "Define end state system architecture for vets-api-microservices"
## Story
As a platform architect I would like a clear idea of what the end goal of the migration is, so that I understand what I am trying to build.

## Acceptance Criteria
- [x] A system diagram is built that describes what a complete vets-api-microservices architecture would look like, including supporting tooling such as monitoring/logging.
- [x] Open questions, such as areas that need more exp

[2022-06-17 13:20] ewilson-adhoc opened #43064 "Deploy migration plan to target destinations"
## Story
As a member of platform leadership I would like to be able to make informed decisions about how to prioritize microservices-related projects, therefor the migration plan should be located in an accessible and persistent location.

## Acceptance Criteria
- [ ] Determine where this documentation should live such that it is accessible to the appropriate audience.
- [ ] Upload final version o

[2022-06-17 13:23] longmd commented on #40883
@nicko-amida , for the country select box.. do they get to choose any country in the world or are we limiting to a select list? I'll do some lookin but, I'm not sure we have a full list of all countries anywhere ... so we might have to do some research and make our own.

[2022-06-17 13:32] #42903 closed

[2022-06-17 13:41] JoeTice commented on #42730
@pjhill - Noticed that we don't have a link to the documentation in question within this ticket, probably should add that

[2022-06-17 13:43] katherine-fung commented on #42760
Carl replied:

If someone chooses paperless delivery, they will receive a yearly notification via email (or text) that their document is ready for download. The form will not be emailed to them. They will be sent the link to the 1095-B download page for self-service retrieval. Opting into paperless delivery means that they will no longer receive the paper version mailed.

1095-B will be a stand-al

[2022-06-17 13:45] katherine-fung commented on #42760
This is the draft message for @laurwill to review:

**Choose paperless delivery only**

By default, your 1095-B form is sent to you in the mail every year, and available for download online. If you want to stop getting the form in the mail, and download it from this page when you need it, you can choose paperless delivery in your preferences.  Your form will always be available for  download on th

[2022-06-17 13:57] #932 closed

[2022-06-17 13:57] #562 closed

[2022-06-17 13:58] #7341 closed

[2022-06-17 13:58] #6605 closed

[2022-06-17 13:58] #2117 closed

[2022-06-17 14:09] Dene-human commented on #41337
Looks good to me. Thanks!

[2022-06-17 14:10] pdavies88 opened #43065 "Storybook Side Navigation: Sub Folder Maturity Icons"
## Related Tickets
#41381
https://github.com/department-of-veterans-affairs/component-library/pull/464

## Description
Sub Folders in the Storybook hierarchy do not have Maturity Scale color icons:
https://user-images.githubusercontent.com/12739849/174149849-64af68c4-6ebe-49d2-a72b-885cc4dde7e1.png
Logic would need to be remapped from taking top level name matching to add icon via css to also look

[2022-06-17 14:11] #40355 closed

[2022-06-17 14:12] hdjustice commented on #38802
@markfallows Can you see if there are any tickets for this that came out of the [Midpoint review feedback](https://github.com/department-of-veterans-affairs/va.gov-team/issues/38761) for short form, or any other tickets around this "i" icon work?

[2022-06-17 14:15] #41337 closed

[2022-06-17 14:16] adamwhitlock1 opened #43066 "FE | CICD | Isolated App builds, removing cross app dependencies for Profile and adjacent apps PT 1"
## Issue Description
To speed up the CI pipeline and make our app less reliant on others, we should remove cross app imports. They are listed here:
https://department-of-veterans-affairs.github.io/veteran-facing-services-tools/frontend-support-dashboard/cross-app-import-report

Slack thread here: https://dsva.slack.com/archives/C909ZG2BB/p1655235269599459

More information on this process can also

[2022-06-17 14:16] shiragoodman commented on #43022
Potential metrics to track:

- Median (not average) lifecycle from kickoff to staging
- ideally automated (possibly next iteration)
- MVP for this initiative

Could we get (# of open collab cycle request, completed cc requests) in bigQuery on a monthly basis?
Chelen: suggest going over the metrics that are measurable and able to be automated. Build tooling around new Collab Cycle REquest, not olde

[2022-06-17 14:26] Samara-Strauss commented on #43004
Great! I also validated. Looks good. Thank you!

[2022-06-17 14:33] #42357 closed

[2022-06-17 14:47] michelle-dooley commented on #42541
@pavanhothi - I like the all in one graph approach I guess my only struggle is when there is no landing page filter selected it is hard to read with such different scales between them.
With that said I don't know how often or at all they will view all together or if they will only be looking by campaign filter which is a much easier to read view.

@chloedotbrown - what do you think?

@jonathan-eps

[2022-06-17 14:49] cgednalske commented on #41978
Hi @allison0034! I happened to see this right away, so I can answer that. No you don't need to review everything. You can start at [this screen for desktop](https://www.sketch.com/s/59857eb5-d9f9-4145-99d3-d9a1de2d0655/a/eKeeAl0) and [this screen for mobile](https://www.sketch.com/s/59857eb5-d9f9-4145-99d3-d9a1de2d0655/a/wLqqgOp). They start at the alert on Personal information and then move throu

[2022-06-17 14:50] michelle-dooley commented on #42539
Adding [slack convo](https://dsva.slack.com/archives/C01S78V4AUA/p1655417793352449) for reference.

[2022-06-17 14:50] ianhundere commented on #23513
**process for importing / syncing datadog resources**

using `datadog-sync` the following resources can be synced across datadog instances.
[code]

and [these resources often rely on one another](https://github.com/DataDog/datadog-sync-cli#best-practices).

**using `datadog-sync`**

the two main actions of `datadog-sync` are `import` (saves datadog resources locally) and `sync` (send local cache o

[2022-06-17 14:52] ajakabcin opened #43068 "Midpoint Review [Auth Exp My VA: Payment info section v2]"
# NOTE
This template is being deprecated. If your kickoff meeting took place after May 26, 2022, you should be following the guidance specified in the Collaboration Cycle Rquest per the [May 26, 2022 change history post](https://depo-platform-documentation.scrollhelp.site/collaboration-cycle/Change-history.1846870032.html) instead. If you are unsure if this applies to you, please reach out to the

[2022-06-17 14:53] ianhundere commented on #42903
provided documentation here:
https://app.zenhub.com/workspaces/platform-infrastructure-team-6112bc325f570300140f7852/issues/department-of-veterans-affairs/va.gov-team/23513

[2022-06-17 14:54] allison0034 commented on #42012
#42012

[2022-06-17 14:55] loripusey opened #43069 "[Design] Create Prototype to Test with Users"
## User Story
- As a [role], I want to [what] so that I can [do something].

## Related Documentation
- [MVP Product Outline](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/checkin/product/product-outline.md)

## Description

A wireframes set for [feature name] will be delivered with the technical specifications needed for engineering to implement sa

[2022-06-17 15:04] ddzz opened #43070 "QA Feedback - Midpoint Review - Profile Team - Bad Address Indicator"
## VFS acceptance criteria
- [ ] Let Platform know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

Feedback for https://github.com/department-of-veterans-affairs/va.gov-team/issues/41978

## Thoughts/questions
- Even if your project requires minimal verification of functionality, it is prudent to deve

[2022-06-17 15:11] oseasmoran73 commented on #43052
https://github.com/department-of-veterans-affairs/devops/pull/11431#issuecomment-1158226586

[2022-06-17 15:13] megzehn commented on #41485
Thanks @katherine-fung. This is copyedited, and I moved the doc over to a new ticket for Danielle (#[41493](https://github.com/department-of-veterans-affairs/va.gov-team/issues/41493))

[2022-06-17 15:13] holdenhinkle opened #43071 "Update TestRail Ingest System (TestRail => BigQuery => DOMO)"
## Issue Description
The TestRail ingest system has been broken for many months due to a bug in TestRail's API with the `users` endpoint, causing the _Manual Functional Testing_ dashboard in DOMO to be down (there hasn't been any data to display). On 6/15/2022 we discovered that the API issue has been resolved. It is important to get the TestRail ingest system working again so the DOMO _Manual Fun

[2022-06-17 15:14] holdenhinkle commented on #43071
PR - https://github.com/department-of-veterans-affairs/qa-standards-dashboard-data/pull/144

[2022-06-17 15:14] #43011 closed

[2022-06-17 15:16] mjones-oddball opened #43072 "Analytics Feature Request VA Notify Exclude Internal Data"
# Analytics Feature Request/Bug Report

## What this form is for

Use this template to request an Analytics dashboard feature or report a dashboarding or Google Analytics/Google Tag Manager bug. This form is for enhancements to the existing KPI dashboards. If you have any analytics questions, please use the `/support` command on [#vfs-platform-support](https://dsva.slack.com/archives/CBU0KDSB1) ch

[2022-06-17 15:16] mjones-oddball commented on #43072
@bevnobev @megansiddle Here is the DOMO enhancement request to exclude VA Notify system emails.

[2022-06-17 15:17] #42414 closed

[2022-06-17 15:17] #42415 closed

[2022-06-17 15:20] holdenhinkle commented on #43071
A number of updates were made to the TestRail API and lots of them aren't reflected in the API docs. Unfortunately, updating the TestRail ingest is like playing Whac-A-Mole; one issue is fixed, then another one arises.

I updated the retry action this job uses which was causing the job to immediately fail. It appears the action moved from the `nick-invision` GitHub org to the `nick-fields` GitHub

[2022-06-17 15:25] jonathan-epstein13 commented on #42541
@michelle-dooley working on making sure the landing page section matches up to what is in GA. I might need @jennaouellet to just confirm I have the correct segments in place. The design QA is finished and the new card with the filter campaign runs smoothly.

[2022-06-17 15:25] jonathan-epstein13 commented on #42541
@michelle-dooley working on making sure the landing page section matches up to what is in GA. I might need @jennaouellet to just confirm I have the correct segments in place. The design QA is finished and the new card with the filter campaign runs smoothly.

[2022-06-17 15:27] shiragoodman commented on #42985
looks good!

[2022-06-17 15:27] #42985 closed

[2022-06-17 15:29] michelle-dooley commented on #42197
Great, thanks @jennaouellet!!  I will go ahead and close this ticket.  @Samara-Strauss if you have any questions or need anything else please let us know.

[2022-06-17 15:31] ianhundere opened #43073 "remove sso-smoketests resources"
# description
lots of resources for sso-smoketests repo, but the repo has been archive.

https://github.com/department-of-veterans-affairs/va.gov-sso-smoke-tests

# acceptance criteria
remove all the things
- [x] remove all the things from the devops repo

[2022-06-17 15:34] #41536 closed

[2022-06-17 15:42] bethpottsVADEPO commented on #43021
@RLHecht @megzehn These 3 pages are ready for copyediting. I added preview links above, and notes about what content is new. You don't need to copyedit the whole of each page, just the new sections. But it might help to read some of the surrounding text for context and considering whether what I added works well / integrates successfully with the page as a whole.

Thanks!

[2022-06-17 15:42] ianhundere commented on #43073
PR opened:https://github.com/department-of-veterans-affairs/devops/pull/11433/files

i also manually dropped the asg to kill the runners:![image.png](https://images.zenhubusercontent.com/624b40ac4980d90d75917e4c/e38a404e-9f97-4de0-997a-1255136bfaa6)

[2022-06-17 15:44] cesaresantiago commented on #40370
We will address this on JIRA issue https://jira.np.afsp.io/browse/SA-17890

[2022-06-17 15:44] cesaresantiago commented on #40370
We will address this on JIRA issue https://jira.np.afsp.io/browse/SA-17890

[2022-06-17 15:47] pjhill commented on #42730
These were the documents that were updated as part of this effort:
1. https://vfs.atlassian.net/wiki/spaces/pilot/pages/1738965071/End-to-end+testing+with+Cypress
1. https://vfs.atlassian.net/wiki/spaces/pilot/pages/1870430211/Best+practices+for+using+Cypress
1. https://vfs.atlassian.net/wiki/spaces/pilot/pages/1868431439/Writing+an+end-to-end+test

[2022-06-17 15:51] mnorthuis commented on #42952
@RLHecht - @bethpottsVADEPO and I talked about the housing allowance rates, and that will stay as a separate as it is laid out above.

We also agreed that the housing requirements and compare page would go to R&S, although I think you are doing that work separately.

Let me know if there's anything missing!

[2022-06-17 15:54] loripusey opened #43074 "Collaboration Cycle for [Modernized Check-in, Patient Check-in, Beneficiary Travel]"
## VFS product information

### VFS team name

Modernized Check-in

### Product name

Patient Check-in

### Feature name

Beneficiary Travel

### GitHub label for product

HCE-Checkin

### GitHub label for feature

_No response_

## Kickoff questions
<details><summary>Toggle kickoff questions</summary>

### When did/will you start working on this product/feature?

June 2022

### Will your work res

[2022-06-17 16:06] briandeconinck commented on #41978
@SKasimow I think you mentioned that this exists in staging now. Could you share a couple of test users where these indicators will appear?

Thank you!

[2022-06-17 16:08] Dene-human commented on #42291
Thanks for asking @longmd I've put together a [quick mockup](https://www.sketch.com/s/da85cf44-4503-4e98-834e-ff068b242ef6/a/ka7xgxr), let me know if it answers your questions or not!

[2022-06-17 16:10] jchapin commented on #42751
- [ ] https://github.com/department-of-veterans-affairs/platform-console-ui/issues/201 @ActualAbby here is the issue referred to as "Sidekiq UI link with SSO @pjholyoke"

[2022-06-17 16:10] longmd commented on #42291
@Dene-human , yup!! That works for me. Easy enough.

[2022-06-17 16:11] theodur commented on #41892
PR for composite action has been merged ✅ I will keep an eye on CI today to confirm everything is well

[2022-06-17 16:12] jchapin commented on #42751
"1-2 additional SSO links to VFS tools" - Per the above ticket... PGHero is a maybe.

Other possibilities for links are:

Grafana and ArgoCD....

[2022-06-17 16:12] ajakabcin commented on #41804
submitted #43068

[2022-06-17 16:17] Dene-human commented on #40883
Also are we able to trigger a sort of "default" on United states - upon arrival it's "prefilled"

I also noticed that United state appears at the top of this list

[2022-06-17 16:19] SKasimow commented on #41978
@shiragoodman - I've update the links to the Sketch files to take you specifically to the BAI screens :)

[2022-06-17 16:20] longmd commented on #40883
@Dene-human , holy crap. Absolutely. I must have been looking at something different when I was asking that earlier. I don't see why I can't just do exactly what we're doing there in Mailing Address.

[2022-06-17 16:20] aliyahblackmore commented on #42786
Hi @Mottie ! We are wondering, where does the **"Find out how to reopen your claim"** link currently go?

[2022-06-17 16:22] jchapin commented on #42461
399 is the primary blocker. When using Login.gov for the primary authentication of the user... all the things from GitHub are not naturally associated with the user. This may be solved by us or AMT

[2022-06-17 16:24] chaseakirby commented on #43068
Review confirmed for 6/23 at 2:00 pm ET.

[2022-06-17 16:25] aliyahblackmore commented on #42786
Update here: Passed along a draft to Beth via Slack with a few questions.

[2022-06-17 16:26] SKasimow commented on #41978
@briandeconinck - sure! You can use users "123" from the list of staging accounts [here](https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/blob/master/Administrative/vagov-users/mvi-staging-users.csv)

Once you clear the BAI flag, yu can re=set the account to show the BAI flag again by clearing your cache and logging back in.

[2022-06-17 16:34] jchapin commented on #42894
@lhelmer @ActualAbby it's possible to relate GitHub issues to each other simply by putting the URL after the checklist item. That will also automatically check the item off when the issue is closed. This is cleaner than re-tagging users.

<img width="804" alt="Screen Shot 2022-06-17 at 12 33 12 PM" src="https://user-images.githubusercontent.com/116142/174339874-5bc468b0-a564-4723-a941-02770a06945f

[2022-06-17 16:41] zachclarity commented on #43013
Created basic [Synthetic Monitor on Gov DataDog ](https://vagov.ddog-gov.com/synthetics/details/5jw-dyv-4ey)

[2022-06-17 16:41] RWEagans opened #43075 "Adding John Woolschlager to DSVA Slack"
# Description

**new user requests**: please verify that the user does not already exist in dsva.slack.com (it may be the account exists, but is not in a particular channel)

<describe the request>

Are you requesting to add an individual as a:

- Full member

- What channel(s) do they need to be added to?
- vfs-all-teams

Then add a brief description of this person, their role on the project, and

[2022-06-17 16:42] sortizsh commented on #29078
@jacobworrell  can we bounce this back to product? It needs clarification in tasks. Eng couldn't find where the submission date is in current design.

[2022-06-17 16:43] allison0034 opened #43076 "Midpoint Review - design feedback - Profile Team | Bad Address Indicator"
## VFS acceptance criteria
- [ ] Let Platform know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
- Great job on reworking the flow of this!

## Feedback
- **Must** = the feedback must be applied
- **Should** = the feedback is best practice
- **Consider** = suggestions/enhanceme

[2022-06-17 16:48] saderagsdale opened #43077 "[task] QA and Bug Processes"
## Value Statement
**_As a_** team lead
**_I want to_** improve our QA and bug procedures
**_So that_** we can better maintain our product throughout delivery.

---
## Background Context
This ticket covers various tasks related to improving our approach to QA and support requests.

## Tasks
- [ ] _Reach out to the QA team and get their recommendations for team QA._
- [ ] _Get input from the engine

[2022-06-17 16:51] #41952 closed

[2022-06-17 16:58] oseasmoran73 commented on #43013
Is there a reason why the user can't create their own synthetic monitor? CMS has done their own synthetic monitoring in the past.

While the new Gov DataDog may not be quite ready for all users, once it goes live and is ready for them to create monitor/synthetic_tests, it shouldn't be a blocker for them.

[2022-06-17 17:08] longmd opened #43078 "[FE] | 1010EZ | Replace 'Telephone' component with preferred 'va-telephone'"
### Description
The `<Telephone>` component is utilized multiple times throughout the 10-10EZ Health Care application markup. While this component has not yet been deprecated by the Design team, the preferred/recommended component to use is `<va-telephone>`. We need to upgrade the Health Care app to utilize the preferred component. With this update we also need to audit the use of hard-coded telep

[2022-06-17 17:08] longmd opened #43079 "[FE] | 1010EZ | Replace 'Telephone' component with preferred 'va-telephone'"
### Description
The `<Telephone>` component is utilized multiple times throughout the 10-10EZ Health Care application markup. While this component has not yet been deprecated by the Design team, the preferred/recommended component to use is `<va-telephone>`. We need to upgrade the Health Care app to utilize the preferred component. With this update we also need to audit the use of hard-coded telep

[2022-06-17 17:08] lindsay-insco commented on #42001
Quiz created!

[2022-06-17 17:08] #42001 closed

[2022-06-17 17:10] agmurphy opened #43080 "Adding [Narasimhan Kidambi] to DSVA Slack"
Please add [narasimhan.kidambi@microsoft.com] as a multi-channel guest to this private channel: [va-virtual-agent-msft]

They already have Slack access to a few channels and this is a new channel we'd like to add them to for them to work with the Virtual Agent chatbot team's developers on environment setups and spikes.

[2022-06-17 17:11] lindsay-insco commented on #42697
App is up and in use!

[2022-06-17 17:11] #42697 closed

[2022-06-17 17:12] lindsay-insco commented on #42623
Uploaded to SP

[2022-06-17 17:12] #42623 closed

[2022-06-17 17:12] lindsay-insco commented on #41837
Approved!

[2022-06-17 17:13] adamwhitlock1 opened #43081 "[FE] Profile - Refactor Sentry integration to use captureMessage instead of captureException"
## Issue Description
Due to some unique configuration of our Sentry client, we are not sending events when a plain object is being sent via the `captureException` method. To get an object sent to Sentry we must use captureMessage instead.

Slack thread here: https://dsva.slack.com/archives/C909ZG2BB/p1655481854285549

## Front end tasks
- Refactor analytics in profile/util to use captureMessage
-

[2022-06-17 17:17] mchelen-gov commented on #40775
Renamed "Engineering Council" -> "Engineering Leadership"

[2022-06-17 17:20] mchelen-gov commented on #40600
Can we get this info on their Confluence home page, and then aggregate using Excerpts? (similar to how roster works)

[2022-06-17 17:33] jjulian commented on #40934
[PR created in the va.gov-platform-architecture repo](https://github.com/department-of-veterans-affairs/va.gov-platform-architecture/pull/28)

[2022-06-17 17:35] Dene-human commented on #40883
But to your point @longmd I don't know if adding this field might affect the payload?

[2022-06-17 17:37] andaleliz commented on #42746
Update: Samara sent an email out to the BGS team yesterday to start the conversation. Waiting to hear back.

[2022-06-17 17:38] andaleliz commented on #42775
Update - we met w/ Adam on 6/15 and he's going to put this flag on his own account and let us know the results.

[2022-06-17 17:39] longmd commented on #40883
I think it certainly will, I just don't know what that affects. @lihanli , we're looking to potentially add an additional key/value pair to the `view:placeOfBirth` form data object. Will you have to make a change on your end to pass that additional property along? Or do we need to notify whomever gets this form that an additional property will be included in the object?

[2022-06-17 17:43] claytonzook opened #43082 "Midpoint Review - Research Feedback - Profile Team - Bad Address Indicator"
## VFS acceptance criteria
- [ ] Let Platform know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
- Take this as preliminary feedback, as this research proposal will still need to go through the [Research Review touchpoint](https://depo-platform-documentation.scrollhelp.site/col

[2022-06-17 17:43] Dene-human commented on #40883
BTW. In the meantime, it would be great to update with just the additional new text, and then figure out how to add the country payload later.

[2022-06-17 17:46] jsgarmon commented on #43000
This is nifty! We should be able to use the `datadog_dashboard_json` to get those into the new dd account. We just need to figure out which dashboards need to be moved.

[2022-06-17 17:48] #42131 closed

[2022-06-17 17:49] lihanli commented on #40883
@longmd i don't see placeOfBirth in the schema, how is it going to be passed to the backend?

[2022-06-17 17:52] jhouse-solvd commented on #23513
Ian's notes (above) have been copied to Confluence and linked to #42961

_See here:_ [Migrate DataDog resources to a new organization](https://vfs.atlassian.net/wiki/spaces/OT/pages/2235859230/Migrate+DataDog+resources+to+new+instance)

[2022-06-17 17:54] longmd commented on #40883
@lihanli , I did notice that... There are a lot of `view:WHATEVER` fields in this form config that aren't in the schema. I'm going to make a small assumption here and go with those are MAYBE not even sent to the backend? If thats a correct assumption, in this case, we are collecting data that we seemingly aren't doing anything with...which is...interesting.

[2022-06-17 17:55] SarahKay8 commented on #42627
@chloedotbrown gotcha! Thanks so much. Taking a look now.

[2022-06-17 17:56] jhouse-solvd commented on #42961
We've started a couple of documents that are currently a work in progress:
- [Migrate DataDog resources to a new organization](https://vfs.atlassian.net/wiki/spaces/OT/pages/2235859230/Migrate+DataDog+resources+to+new+instance)
- [Migrate DataDog to DDog-Gov](https://vfs.atlassian.net/wiki/spaces/OT/pages/2236416007/Migrate+Datadog+to+DDog-Gov)

Let's see how we can merge or link these together?

[2022-06-17 17:56] Dene-human commented on #40883
oh very interesting....I had asked if I could remove this question and the HEC team was insistent that it was required as an identity marker (even though it's not a required field). Maybe you can bring that up in the future (hopefully remove this completely  from the application maybe) @nicko-amida @hdjustice

[2022-06-17 17:57] Dene-human commented on #40883
Would be great to get a list of ALL the fields that we aren't currently passing in the payload.

[2022-06-17 17:58] lihanli commented on #40883
the 1010ez backend code does not pass along any `view:` fields, i think those are for temporary frontend storage

[2022-06-17 17:59] longmd commented on #40883
I can do an audit of that and see what else I come across. Many of them are actually being used to to help show or hide other things. So, @lihanli , I think you're 100% correct. And, that makes sense--except in this case, in which the entire fieldset isnt being utilized past just inputting data.

[2022-06-17 18:01] lihanli commented on #40883
is it being used to populate the `cityOfBirth` and `stateOfBirth` fields?

[2022-06-17 18:03] hdjustice commented on #40883
Oh wow, yeah I would rather not ask for information that we aren't even sending along.. but maybe that opens up the other question about why we aren't sending it, and should we?

[2022-06-17 18:05] longmd commented on #40883
@lihanli , It's the wrapper object for `cityOfBirth` and `stateOfBirth`...which I do see those in the schema.

[2022-06-17 18:05] lihanli opened #43084 "[BE] Lower alert threshold for 1010cg errors"
Lower alert threshold for 1010cg errors so that alerts happen more often

[2022-06-17 18:09] rbeckwith-oddball commented on #37872
I have all the resources listed and ready for removal. Just want final approval before deleting them.

[2022-06-17 18:09] jhouse-solvd commented on #42960
@mchelen-gov @little-oddball

We want to share info w/ Platform Crew teams so that they can get access to DataDog GovCloud. We’ve hesitated to share b/c we want it to happen smoothly, but we also want them to get access as soon as possible.

_w/out too much backstory:_

- **DOTS manages access to Okta+DataDog**
- DOTS provided a [link to Max.Gov Jira that allows users to request access](https://va

[2022-06-17 18:13] aliyahblackmore commented on #42786
Thanks @Mottie !

[2022-06-17 18:15] mchelen-gov commented on #42960
@jhouse-solvd What is the error with accessing Jira, are you able to login to max.gov?

[2022-06-17 18:17] #37820 closed

[2022-06-17 18:25] ianMcCullough-ob commented on #40475
Update:

A [desktop sketch prototype](https://www.sketch.com/s/cbb5c762-39e4-47bb-af88-22e693a4cb51/a/Ax3d0dz/play) has been built with additional paths added to the ID.me path

cc @jwoodman5 @aubreyarcangel

[2022-06-17 18:30] zachclarity commented on #43013
@oseasmoran73  thanks.  I had suggested this and asked for clarification.  I will have him create his.

[2022-06-17 18:32] #43078 closed

[2022-06-17 18:33] #43079 closed

[2022-06-17 18:34] longmd commented on #43079
Closing as duplicate

[2022-06-17 18:35] zachclarity commented on #43013
Closing I gave @jtmst info on how to requests access.

[2022-06-17 18:41] shiragoodman commented on #43016
Confirming that this Staging Review is scheduled for 6/28 at 11:30am ET

[2022-06-17 18:51] jonathan-epstein13 commented on #42541
**GA-QA (Landing Pages)**
Findability |   |  
-- | -- | --
Chart title | Assets | Pass / Fail
Claims & Appeals - VANotify users | [Custom segment](https://analytics.google.com/analytics/web/?authuser=0#/report/visitors-overview/a50123418w177519031p176188361/_u.date00=20220605&_u.date01=20220611&_.useg=usermI5NS-jwRNiwqRQVfNhzvg,userQDwZeoJwS0uB3OGquwqDCA,userSdxbnk5lR1a5zHVK1dySdg&overview-graphOp

[2022-06-17 18:52] ianMcCullough-ob commented on #42268
In order to gain access to the S3 bucket, I need the AWS CLI installed on my GFE which requires elevation. A ticket was created in 6/16/2022, and as of 6/17/2022 the request has been approved and is waiting to be installed. I will leave my GFE plugged in during my vacation, not sure if they can install it while I’m out. This may need to get installed when I return. This should (hopefully) be the l

[2022-06-17 19:01] SKasimow commented on #43076
@cgednalske - here's Allison's feedback from today's review (I also added you to ticket).

cc @Samara-Strauss

[2022-06-17 19:03] jlang10761 opened #43085 "Adding [douglas.wahl@va.gov] to DSVA Slack"
Please add douglas.wahl@va.gov as a full member, they will be joining the CEDAR CDS project. We will add them to the appropriate channels once they are in.

Please reach out to jeff@coforma.io on DVSA slack for any questions/clarifications.

[2022-06-17 19:05] SKasimow commented on #43082
@cgednalske feedback for research.

cc/ @Samara-Strauss

[2022-06-17 19:08] jsgarmon commented on #42260
@calquisola : the service account has been updated with permissions to modify keycloak statefiles.

In the future, you'll probably be better off using the [Ops issue template](https://github.com/department-of-veterans-affairs/va.gov-team/issues/new?assignees=&labels=devops%2C+needs-grooming%2C+operations&template=ops_issue_template.md&title=), as the AWS access issues are for humans.

[2022-06-17 19:20] Samara-Strauss commented on #42582
Just took a look at this on staging. It's gorgeous 😍 . I have validated the following:

- In staging, logging in from the homepage redirects to My VA.
- In staging, logging in from a page that *is not* the homepage lands you back on that page (as expected).
- No changes in prod behavior (as expected, but worth confirming).

[2022-06-17 19:23] marcynadeau commented on #39812
Note. John Morrison appointment data has changed and that data nullified the test.  So I need to set up another patient in order to test this exact scenario.  Will be updating scenario with new patient data set up.  cc @ldelacosta

[2022-06-17 19:27] calquisola commented on #42260
thanks! very much appreciated.  Will check

[2022-06-17 19:32] #42549 closed

[2022-06-17 19:34] lexjoseph opened #43086 "SOCKS access for Lex Joseph"
### Your Name

Lex Joseph

### Your Email

lex.joseph@thoughtworks.com

### Your Role and Team

Developer

### Product Manager (PM) name and email

Suzanne Miller suzanne.miller@thoughtworks.com

### Product Owner (PO) name and email

Leah Bannon leah.bannon2@va.gov

### Access Type Requesting

developers

### Public SSH Key

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC8c9YjwpfbniierO1KOIOlSULLGO4t2KJd

[2022-06-17 19:36] SKasimow opened #43087 "Practice Area - Auth Profile - [Project] - [Issue Name]"
## Background

Describe the issue background and scope

## Tasks
- [ ] Add tasks here that must be completed

## Acceptance Criteria
- [ ] Add what must occur for this issue to be considered complete

## How to configure this issue
- Include practice area in title -- e.g., [Design], [FE], [BE]
- Include project/initiative name - e.g., Auth Profile: Address Change Messaging
- Add label for practice

[2022-06-17 19:38] tayism commented on #42126
Feedback has been collected from the team and adjustments made.

[2022-06-17 19:45] jbritt1 commented on #42944
@CoryTrimmUSDS, we good to go on this one?

[2022-06-17 19:51] jhouse-solvd commented on #42960
We will finalize onboarding instructions today 6/17, and John will share them in #platform-infrastructure and x-post to #platform-team

[(link to Slack thread)](https://dsva.slack.com/archives/CJYRZK2HH/p1655494972231319)

[2022-06-17 19:51] jhouse-solvd commented on #42960
We will finalize onboarding instructions today 6/17, and John will share them in #platform-infrastructure and x-post to #platform-team

[(link to Slack thread)](https://dsva.slack.com/archives/CJYRZK2HH/p1655494972231319)

[2022-06-17 19:54] jhouse-solvd commented on #42961
We're planning to have this documentaiton finalized by Tuesday 6/21

@jsgarmon is going post in https://dsva.slack.com/archives/CJYRZK2HH/p1655494972231319 letting folks know that we will provide migration instructions on Tuesday, 6/21

[2022-06-17 19:54] #42944 closed

[2022-06-17 19:55] jbritt1 opened #43088 "Offboarding of Jeremy Britt"
This is just a test.

[2022-06-17 19:56] #43088 closed

[2022-06-17 19:57] RLHecht commented on #43043
Update: I went through the centralized content and changed apostrophes throughout to curly and I made works contractions.

Spoke to Dave Conlon, who said that we shouldn't make any substantive edits to either the Drupal content or the workbook before showing him because this is national content that may go across other facilities.

I'll add a word doc to this with any edits we need to make to the

[2022-06-17 19:57] oseasmoran73 opened #43089 "Offboarding of Peter Parker"
# Instructions
Fill out name of individual and *Description* section below.

I want pictures of spider man!!

# Description
Please provide the following information about the individual being offboarded:
- name:

- team name:

- role on team:

- expected last day:

- company they work for:

- email:

- GitHub username:

- additional access they may have:

## Acceptance Criteria
*Performed by Platf

[2022-06-17 19:58] #43089 closed

[2022-06-17 19:58] oseasmoran73 commented on #43089
This was a test. Please disregard

[2022-06-17 19:59] jbritt1 opened #43090 "Offboarding of FAKE TEST"
THIS IS A TEST

[2022-06-17 19:59] #43090 closed

[2022-06-17 19:59] oseasmoran73 opened #43092 "Offboarding of Peter Parker -- Test"
# Instructions
Fill out name of individual and *Description* section below.

I want pictures of spiderman!

# Description
Please provide the following information about the individual being offboarded:
- name:

- team name:

- role on team:

- expected last day:

- company they work for:

- email:

- GitHub username:

- additional access they may have:

## Acceptance Criteria
*Performed by Platfor

[2022-06-17 20:00] oseasmoran73 commented on #43092
Testing notification channel. Please disregard

[2022-06-17 20:00] #43092 closed

[2022-06-17 20:00] jbritt1 opened #43093 "Offboarding of Jeremy Britt"
THIS IS A TEST, PLEASE DISREGARD

[2022-06-17 20:00] #43093 closed

[2022-06-17 20:02] jonathan-epstein13 commented on #42539
Task Completion|   |  
-- | -- | --
Chart title | Assets | Pass / Fail
Results clicked | BigQuery metric - selectsearch_result_chosen_title as results_chosen,  count(distinct concat(session_id, hit_number)) as total_eventsfrom `vsp-analytics-and-insights.vsp_sites.vw_search_last_week` where   search_scope = 'All VA.gov'  and event_label = 'onsite-search-results-click'  and previous_page in ('www.v

[2022-06-17 20:04] jhouse-solvd opened #43094 "[DataDog] Migration to GovCloud: Feedback and technical issues"
## Description
As part of the migration to GovCloud, Platform Crew teams will be migrating resources that they own. Resources such as monitors, dashboards, and synthetic tests will be migrated from the current commercial instances to the new GovCloud instance.

This issue will be used to track feedback and technical issues that they may encounter during the migration.

## Background/context
_See_

[2022-06-17 20:07] Samara-Strauss commented on #42020
@andaleliz just reviewed [your initial list of direct deposit use cases](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/direct-deposit/use-cases/README.md). Leaving feedback here so it doesn't get lost in Slack.

### Common use cases

- Should we have an LOA1 use case? Obviously, those users don't see this section, but that probably can'

[2022-06-17 20:08] cmaeng commented on #43050
@davidmpickett looks like this ticket is all set to process. i added a couple of missing details about your role and team.

[2022-06-17 20:11] briandeconinck opened #43095 "Design | Profile | Midpoint Review - Accessibility Feedback - Profile Team - Bad Address Indicator"
## VFS acceptance criteria
- [ ] Let Platform know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
- Thank you to @SKasimow for the staging user! Getting to see it in staging was super helpful, and not something we normally get at a midpoint review.

## Feedback
- **Must** = the

[2022-06-17 20:12] RLHecht commented on #41760
@aliyahblackmore Here is the symptoms list as well as the few other pieces of content we needed. Thanks!

[https://app.zenhub.com/files/133843125/44d33b18-df54-48cd-b3c8-52c3c6d13e60/download](https://app.zenhub.com/files/133843125/44d33b18-df54-48cd-b3c8-52c3c6d13e60/download)

[https://app.zenhub.com/files/133843125/54ebb470-9f16-4f45-9b90-c8d4548842c4/download](https://app.zenhub.com/files/1338

[2022-06-17 20:12] calquisola commented on #43086
Hi @lexjoseph  We couldn't find your presence in the rosters maintained by the organization. If you are newly joining the team, please follow along with [this platform orientation guide](https://depo-platform-documentation.scrollhelp.site/getting-started/Platform-Orientation.1877344532.html). If you're not newly joining the team, please reach out to your PM or PO for help.
Once you're added to the

[2022-06-17 20:13] saderagsdale commented on #43037
Possible solutions:
1. At the point the vet attempts to upload the file while they are in the middle of creating the NOD, error right then and there, inform the vet of the issue.
The problem with that is words and actions. For the most part even if we can come up with an understandable message, it's hard coming up with something that the vets can do to correct the file themselves.  I'd say most ve

[2022-06-17 20:14] RLHecht commented on #42217
@aliyahblackmore Here is the Tagalog translation for these changes. They're still working on the Spanish one but you can get started on this one.

[https://app.zenhub.com/files/133843125/046c7130-c644-496c-bb59-183eae99aa9c/download](https://app.zenhub.com/files/133843125/046c7130-c644-496c-bb59-183eae99aa9c/download)

[2022-06-17 20:14] rsmithadhoc commented on #42743
- Looked into the dependencies step, and it looks like most things are pulled from cache. I believe the bulk of this step's time is downloading (or uploading) around 800 MB, trying to identify if that is needed.
- Still need to look into the other steps.

[2022-06-17 20:18] jbritt1 commented on #42515
Messaged user on DSVA Slack to see if I could make contact before making the credentials and having them sit all weekend. No reply, user showing offline. I can pick this back up after the holiday.

[2022-06-17 20:22] jonathan-epstein13 commented on #42539
Ease of use (search abandonment) |   |  
-- | -- | --
Chart title | Assets | Pass / Fail
Searched sessions | BigQuery metric - selectCOUNT (DISTINCT `session_id`) as search_sessions,from `vsp-analytics-and-insights.vsp_sites.vw_search_last_week` where   search_scope = 'VA Homepage'  and event_label = 'view_search_results'  order by search_sessions desc | 🟢 PASS

[2022-06-17 20:23] jbritt1 commented on #42515
User replied, we are going to sync Tuesday morning to get his account squared away.

[2022-06-17 20:28] Mottie commented on #42664
[HLR decision date issue document](https://docs.google.com/document/d/1KtG2w6_PjZyArQdyR4KaBs9Le6kPpzE77gr3y1fa78w/edit?usp=sharing) is ready for review

[2022-06-17 20:29] saderagsdale commented on #43077
@cohnjesse I dropped this ticket in for the tasks we talked about yesterday. Okay to put this in progress?

[2022-06-17 20:36] jhouse-solvd commented on #42960
Documentation has been updated [HERE](https://vfs.atlassian.net/wiki/spaces/OT/pages/2233598117/Get+access+to+DataDog+GovCloud+instance)

Closing this issue.

[2022-06-17 20:36] #42960 closed

[2022-06-17 20:39] aliyahblackmore commented on #42786
Sharing draft doc here (was passed to Beth) and will review with Laura next week!
[Check your Claim Status Page.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/8931197/Check.your.Claim.Status.Page.docx)

[2022-06-17 20:42] mmiddaugh commented on #41503
@chloedotbrown any update on this DOMO for VA.gov home page?

[2022-06-17 20:45] andaleliz commented on #42020
Thanks so much Samara! This is all very helpful. In answer to your questions:

Yes, I'll go ahead and add that. I'll also update the [user flows](https://www.sketch.com/s/1a920e73-1dcb-47c4-aae8-08656756c131/p/B5C677EF-403E-49E6-8849-816FD8F1129C) so they align with this doc, and vice versa.

I'd really like to stay away from including screenshots in favor of links to sketch files across our docs.

[2022-06-17 20:47] aliyahblackmore commented on #42044
Update here that I've started on this ticket! I was working on the claim page, but pivoted to another ticket (Claim Status tool). Will continue on this next week!

[2022-06-17 21:02] wesrowe commented on #41914
Yes. Thank you.

[2022-06-17 21:03] joeniquette opened #43096 "Add Context, clientid, acr to all SiS StatsD"
# Description
Adding additional tags to StatsD for sign-in service.

[2022-06-17 21:03] jhouse-solvd commented on #23513
We're tracking feedback and technical issues that Platform Crew teams encouter during migration in #43094

[2022-06-17 21:14] davidakennedy commented on #9088
I retested this ticket with the help of @Mottie. It's no longer an issue, and was addressed in a past pull request. We can close this one.

[2022-06-17 21:16] TPurple commented on #42257
[Research plan here (#2)](https://vfs.atlassian.net/wiki/spaces/AMT/pages/2228420687/Research+Plan+Integration+and+Onboarding)

[2022-06-17 21:16] SKasimow opened #43097 "Design | Profile | BAI | Pilot"
## Background

Tasks needed in support of upcoming UAT research project for BAI

## Tasks
- [ ] Schedule pilot(s)
- [ ] Change display name of Perigean Zoom account to "Christina (Moderator)"
- [ ] Run pilot
- [ ] Debrief pilot
- [ ] Revise conversation guide

## Acceptance Criteria
- [ ] Pilot complete
- [ ] Conversation guide revised as needed
- [ ] Any bugs ironed out before sessions begin

[2022-06-17 21:20] SKasimow commented on #43097
Hi @cgednalske - I added this ticket for a pilot.

[2022-06-17 21:28] #41480 closed

[2022-06-17 21:35] Mottie opened #43098 "[Tech debt] Remove `va-button-primary` class from supported apps"
## Value Statement

**_As a_** front end developer
**_I want to_** make sure we're following the design recommendations for button & link styles
**_So that_** the styles match the current design

## Background Context

The [design system team announced that the `va-button-primary` class name has been deprecated](https://dsva.slack.com/archives/C5HP4GN3F/p1655474318840829), and needs to be removed.

[2022-06-17 21:49] katherine-fung commented on #41833
@laurwill  Here's the page so far: http://preview-prod.vfs.va.gov/preview?nodeId=37717

The "If your school charges you out-of-state tuition by mistake" is a work in progress, pending more information from the stakeholder.

Do you have any other questions for the stakeholder, based on the page so far?

[2022-06-17 21:52] ddzz opened #43099 "QA Feedback - Staging Review - Public Websitse - IE11 Deprecation Alert"
## VFS acceptance criteria
- [ ] Let Platform know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

Feedback for https://github.com/department-of-veterans-affairs/va.gov-team/issues/42893

## Thoughts/questions
None

## Feedback
- **Must** = the feedback must be applied
- **Should** = the feedback is b

[2022-06-17 22:10] chancetheoriginal commented on #41693
User history added to VSA, gallery loads incidents submitted by signed-in user in read-only format. Need to review with leadership before publishing.

[2022-06-17 22:32] kind-claudio commented on #43099
@ddzz The VA facility banner seems to be using [va-banner](https://design.va.gov/storybook/?path=/docs/components-va-banner--default) which looks to be composed of [va-alert](https://design.va.gov/storybook/?path=/docs/components-va-alert--fullwidth). I can switch over to using the `va-banner` instead which will likely resolve the centering issue.

Regarding the dismissible UI/behavior, the "mocku

[2022-06-17 23:26] ElijahLynn commented on #43094
CMS Team Here: We are going to need help migrating over, I think. Per this [Slack thread](https://dsva.slack.com/archives/CJYRZK2HH/p1655494972231319) we will gather a list of resources to migrate and post it here.

[2022-06-17 23:47] cindymerrill commented on #41583
Entered all survey data from moderated sessions into a separate cohort in the unmoderated survey so the data can be analyzed together.

[2022-06-18 02:10] raywangoctova opened #43101 "2022 Q3 Platform Objective 1"
**Launch a Platform Console for core VFS tasks: the one place customers come to integrate into the VA.gov ecosystem.**

HM: Quality issues of VFS applications*
HM: Platform customer satisfaction​
KR: > 10 Platform services are available through Console
KR: < 4 support requests per VFS team on avg per sprint​ that cannot be fulfilled through Console

*quality issues is defined as: number of end to

[2022-06-18 12:46] holdenhinkle commented on #43071
I spent the day discovering new, undocumented fields, making updates to the schema, rerunning the job, etc. etc.. And I realized last night that these undocumented fields are probably custom fields. I'll check with Peter about that on Tuesday.

I finally got a successful run late last night - https://github.com/department-of-veterans-affairs/qa-standards-dashboard-data/runs/6944826429?check_suite_

[2022-06-18 14:39] holdenhinkle commented on #43071
I tried setting the number of requests per minute to 160 (instead of 180) and had another successful run, this time with 12 `API Rate Limit Exceeded` errors, as opposed to ~50 in the last run.

[2022-06-18 14:42] holdenhinkle commented on #43071
I'm going to refactor the throttle system to only send requests every 333ms, which is almost 180 requests per minute,  and see how that works.

[2022-06-18 14:45] holdenhinkle commented on #43071
All of the Manual Functional Testing graphs in DOMO are working now:

![image.png](https://images.zenhubusercontent.com/5f85bcde4f4764585e8ff820/026128e5-71bd-4394-94f8-06e89fafc418)

[2022-06-18 17:30] holdenhinkle commented on #43071
It took 2 retries for this job to run successfully - https://github.com/department-of-veterans-affairs/qa-standards-dashboard-data/runs/6948857110?check_suite_focus=true

The first 2 runs failed with this error:
[code]

I think I should test that the response body is valid `json` and make the request again if it's not.

I'm going to try my new approach to throttling requests -- just make them ever

[2022-06-18 18:24] holdenhinkle commented on #43071
New throttling approach works. But that `'Unexpected token < in JSON at position 0'` error keeps popping up here and there.

Gonna try testing that response is valid JSON...

[2022-06-18 23:56] holdenhinkle commented on #43071
I'm pretty sure that the `Unexpected token < in JSON at position 0` is occurring because `html` is being returned sometimes instead of `json`.

I'm running the job again, looking for when this happens:

[code]

It only happens sometimes; some run are successful, while some runs fail do to this error.

This is taking way to long:-(

[2022-06-19 00:43] holdenhinkle commented on #43071
Just did another run with that flaky error. This is taking way too long. Runs take over an hour.

I'm gonna call this done and move it to review. I'm keeping some of my `console.log`s so I can monitor this job closely.

[2022-06-19 17:46] andaleliz commented on #42020
Seems like the payment API is down, leaving some notes for myself:
- check out user 378 to see if they _also_ have comp + pen DD set up. If not, we need a user that has both.
- check out user 204 to see if the "add account info" prompt is styled like a button or a link. We'll either need to update the code or the mock-ups to be sure it is button.

[2022-06-20 12:43] djfredvs opened #43102 "07/18/22 1 PM Pre-Check-in VEText Configuration - VISN 6"
In anticipation of the VISN 6 PCI tool roll out. I am setting up time to walk through the Pre-Check-in configuration process with VEText admins for each site in VISN 6.

[2022-06-20 13:57] katherine-fung commented on #42816
Hi @bethpottsVADEPO, thanks for making tweaks in Drupal! I took one more look. This page is now ready for you and stakeholders to review: http://preview-prod.vfs.va.gov/preview?nodeId=5496

After that, we'll incorporate any feedback from the stakeholders and Megan will do a copyedit.

[2022-06-20 14:54] megzehn commented on #42774
@bethpottsVADEPO this post is ready for your review.

http://preview-prod.vfs.va.gov/preview?nodeId=993

Thank you!

[2022-06-20 15:25] katherine-fung commented on #41862
Hi @laurwill,

I'm in the middle of this rework and I have 3 questions for the stakeholder [above]. Do you want to look over the work so far, and see if you have any other questions for the stakeholder so we can ask them in one email?

This page is about how to get your education benefits restored:

My draft in Google docs: https://docs.google.com/document/d/1kRzAtFsy_01VbteSRRt1AH-s39mkfzek_KaxeN

[2022-06-20 16:44] garyjfong commented on #43010
Is there any way I can be added?

[2022-06-20 17:10] laurwill commented on #42339
Thanks @bethpottsVADEPO !
I think the shorter header and "certain" work great. I've sent this off to Steve for review.

[2022-06-20 19:33] megzehn commented on #42774
@bethpottsVADEPO - FYI, I made a word change on this one after talking with the team, because "disabling" felt odd. Please let us know if there are any issues. We're happy to discuss and roll back if needed.

**Edit:** Changed "disabling" to "severe" within the ratings. For example, I changed "Level I (least disabling)" to "Level I (least severe)."

[2022-06-20 21:21] katherine-fung commented on #41877
Hi @laurwill,

Here's a draft of the "Compare education benefits" page. Can you let me know what you think of the approach so far?

[https://app.zenhub.com/files/133843125/b6f19ad6-5cae-4bba-9f62-175fb20c2031/download](https://app.zenhub.com/files/133843125/b6f19ad6-5cae-4bba-9f62-175fb20c2031/download)

- I converted the tables into accordions. There are 3 different options I played around with f

[2022-06-21 00:59] #41914 closed

[2022-06-21 01:04] kevwalsh commented on #28088
Closing this in favor of https://github.com/department-of-veterans-affairs/va.gov-cms/issues/8683

[2022-06-21 01:04] #28088 closed

[2022-06-21 01:53] bethpottsVADEPO commented on #42786
@aliyahblackmore I like your approach. To answer your questions, instead of "VA toll-free hotline" or "VA call center" let's simplify to "us." And the text link "Check your VA claim or appeal status" is sufficient. I can explain more when I'm back. About both of these answers!

Here's some feedback, and I'd also like @laurwill to take a look, as I'm doing a quick review here:

**Your claim decisio

[2022-06-21 11:20] taylorkaren commented on #9088
Closing this ticket as it is no longer an issue.

[2022-06-21 11:20] #9088 closed

[2022-06-21 12:35] LindseySaari opened #43103 "Additional Console UI Onboarding"
## Description
The Console UI team has provided some additional requirements that are needed to onboard platform-console-api to platform-console-ui. Details can be [found here](https://github.com/department-of-veterans-affairs/platform-pst-console-ui-configuration/issues/78#issuecomment-1157958808).

## Acceptance Criteria
- [ ] Console API is onboarded with the proper details to Console UI

[2022-06-21 12:44] RLHecht commented on #41485
Thanks all! Closing this ticket.

[2022-06-21 12:44] #41485 closed

[2022-06-21 12:51] joshkimux commented on #42250
@jsokohl , love that train of thought to reduce steps. We may want to rope @Mottie in to help us here though as I believe that [the introduction page explicitly states that the deceased Veteran's information is required](https://staging.va.gov/burials-and-memorials/application/530/introduction) in order for the survivor to claim benefits for burial. If that's not _actually_ required, then we shoul

[2022-06-21 12:54] jsokohl commented on #42250
Sure thing—it’s just that, if the person who is the covered veteran is not deceased, that’s where there’s a problem. For example, if I am filling the form out for myself, I’m the covered person but not yet deceased.  If it’s person A who is filling it out for person B who IS deceased, then the form is accurate and sufficiently clear as is. Right?

HTH.

joe
Joe Sokohl
1.804.873.6964

[2022-06-21 12:55] laurwill commented on #42760
Thanks @katherine-fung ! This is much clearer, and I think we got to an even more straightforward version over slack.

@megzehn , here's our suggested text for your copyedit. And when you pass to Danielle, can you also note that we're suggesting they use the **information alert** format for this content? That seems like a better fit, since this is sort of a tangent to the main purpose of the page.

[2022-06-21 13:01] joshkimux commented on #24504
These are the same! Please pick the one you'd prefer to close out 😄
Thank you for bringing this to my attention ❤️

[2022-06-21 13:03] #24501 closed

[2022-06-21 13:08] #14262 closed

[2022-06-21 13:10] hdjustice commented on #24504
Closing this ticket out as a duplicate of #27410, We will address this issue there.

[2022-06-21 13:10] #24504 closed

[2022-06-21 13:12] hdjustice commented on #24504
Thank you for taking a peek at this one @joshkimux .  We closed it out and will address in #27410.

[2022-06-21 13:12] k80bowman commented on #363
Closing in favor of #35993

[2022-06-21 13:12] #363 closed

[2022-06-21 13:13] #40561 closed

[2022-06-21 13:15] #42126 closed

[2022-06-21 13:17] pjhill opened #43104 "Migrate to New Datadog Instance"
## User Story

VA.gov platform is migrating to a new Datadog instance. We need to ensure that the synthetic monitors and dashboards we are using in the current Datadog instance are migrated to the new instance before the current instance is decommissioned on 6/30.

## Expected Behavior

Existing Datadog monitors and dashboards have been migrated to the new instance with identical functionality.

#

[2022-06-21 13:25] jsokohl commented on #42250
Glad to do that when I get back from PTO next week, or have y’all run with it!

joe
Joe Sokohl
1.804.873.6964

[2022-06-21 13:27] RLHecht commented on #42786
@Mottie This work isn't completed yet—still needs to go through a few more reviews on our team. We'll post our final content in the initial intake request for you when we're done. Thanks!

[2022-06-21 13:32] jbritt1 commented on #42260
@calquisola, are things working as intended?

[2022-06-21 13:37] jbritt1 commented on #3661
Is this closable? Coming up on 3 years in backlog and not likely to be prioritized anytime soon...

[2022-06-21 13:42] jbritt1 commented on #13823
Should we close this? I think our intention is to continue to move towards sunsetting Jenkins vs spending time on more automation around it.

[2022-06-21 13:45] robbie1226 opened #43105 "Adding Mariah Sager to DSVA Slack"
**new user requests**: please verify that the user does not already exist in dsva.slack.com (it may be the account exists, but is not in a particular channel)

Requesting to add mariah.sager@thoughtworks.com as a full member to DSVA Slack. She will be working as a Developer on the Digital Health Platform (DHP) team.

Please add to the channels
#digital-health-platform-public
#digital-health-platfo

[2022-06-21 13:48] laurwill commented on #41493
Hi @DanielleThierryUSDSVA , in addition to the Word document above, we also drafted a small related update to the [After you apply for health care benefits](https://www.va.gov/health-care/after-you-apply/) page. We suggest changing step 3 in the subway map to read:

**Get your Veterans Health Identification Card (VHIC).** This is the card you’ll use for ID and to check in at your VA health care ap

[2022-06-21 13:49] #40864 closed

[2022-06-21 13:51] michelle-dooley commented on #43072
@mjones-oddball - thank you for your request.  We will review as part of sprint planning tomorrow.

[2022-06-21 13:51] jbritt1 commented on #13715
ArgoCD has the rollback functionality built-in:

![image](https://user-images.githubusercontent.com/56260532/174816063-6844dca6-1f07-4a1e-8af0-8bbedd7f8edf.png)

![image](https://user-images.githubusercontent.com/56260532/174815988-676cdc6a-77c3-42d5-a50e-f8ce3a317d29.png)

With that, can this be closed at this time?

[2022-06-21 13:53] jbritt1 commented on #3787
@troymosher, can you weigh in on this one as time allows please sir? Is this an ongoing epic we need to keep on our board? Or is this something that should transition to the Security team board with the understanding that we will need to implement solutions deemed necessary by the Security team in order to stay ATO compliant?

[2022-06-21 13:54] shiragoodman commented on #41978
Meeting Recording:
https://oddball-io.zoom.us/rec/share/JGPAD8s1E1xWxDev6ZtVagYntciSVimRiW0fh7zO6Hl7pi-JDy5E-SiZsZXc91bB.KTkJ15fEqF5epdNY
Access Passcode: .Wgu&000

[2022-06-21 13:57] jbritt1 commented on #17393
Think this would fall under the Security team's umbrella now, correct?

[2022-06-21 14:03] pjhill commented on #43071
Hooray, thanks for sticking to this and getting ingest going again!

[2022-06-21 14:03] #43071 closed

[2022-06-21 14:19] steel36 commented on #42176
Our team didn't have sufficient permissions to move Draft to final Confluence space under Support.  Platform Content team will handle this.

[2022-06-21 14:23] michelle-dooley commented on #42512
The work as outlined in this ticket is complete.  It will be an ongoing effort to keep confluence page up to date and accurate.

[2022-06-21 14:27] calquisola commented on #42260
hi! @iriteshp is testing it right now.  We'll let you guys know.

[2022-06-21 14:29] shiragoodman commented on #42627
thank you so much @chloedotbrown . Our focus right now is to try and get this data set correct before we continuing to build out different cards. Would it be possible to set up a meeting to review the issues you documented above? I want to make sure the rest of the team is familiar (and not just Sarah) so that we can have more folks on our team supporting our dashboards in the future. Please let m

[2022-06-21 14:30] steel36 opened #43106 "Improve Communications Playbook via Streamlining of Workflow and Clarification of steps"
## Problem Statement
The MVP of the Communications Playbook established some primary guidance on how and where to communicate information across the Platform.  However, it remains somewhat confusing in format and steps.  We intend to improve upon its clarity, add a step-by-step template, and perform additional research to inform recommendations.

## High Level User Stories
As a Platform team membe

[2022-06-21 14:31] pjhill commented on #42406
We have collected all the data that we need. Thanks for grabbing all of this!

[2022-06-21 14:31] #42406 closed

[2022-06-21 14:31] joshkimux commented on #40879
Brian reached out to me and I am _super_ excited about this. Thank you so much @claytonzook for pushing this forward. Some comments:

- Content is as up to date as it will be for the time being (for now). There's a version 3 document in the making, but it likely won't be complete until later this fall.
- Would love to learn how I (and the rest of the folks working on this in the #inclusive-researc

[2022-06-21 14:32] michelle-dooley commented on #42082
Adding [comparison table](https://docs.google.com/spreadsheets/d/1nFE_iWHB3kdAD0DFIKUBgzGh5J7QgpNDOOnIXI0XHrw/edit#gid=0) for reference.

[2022-06-21 14:35] nicko-amida commented on #40883
I am now seeing all the discussion - let me know if anyone needs anymore design input!

[2022-06-21 14:37] joshkimux commented on #41831
Coming back to this, I think after our conversation with @jaredcunha we confirmed that we want to move forward with this approach 🥳

[2022-06-21 14:38] ewilson-adhoc opened #43108 "Draft deployments to development/staging/Utility Environments playbook"
## Story
As an engineer trying to create a service, I would like a high level overview of the steps that need to be taken, which will link to more detailed documentation.

## Acceptance Criteria
- [x] Describe at a high level the checklist of things that must happen before deployment to development.
- [x] Describe at a high level the checklist of things that must happen before deployment to stagin

[2022-06-21 14:38] ewilson-adhoc opened #43109 "Draft requirements gathering/service design section of playbook"
## Story
As an engineer developing a microservice I would like to learn what microservice-specific guidelines I should consider when defining the requirements for my service, therefor the microservice playbook shall address this question.

## Acceptance Criteria
- [x] Service design's work here is referenced and linked https://vfs.atlassian.net/wiki/spaces/SDT/pages/2210660360/How+to+Service+Desig

[2022-06-21 14:39] ewilson-adhoc opened #43110 "Draft setting up your repository section of playbook"
## Story
As an engineering developing a microservice for the platform, I would like to know how I should set up my team's repository, therefor the playbook should include a walkthrough of how to do this.

## Acceptance Criteria
- [x] Link to relevant github documents about the basics
- [x] Define what permissions are needed on the team.
- [x] Link to information about github actions/testing/CICD
-

[2022-06-21 14:39] ewilson-adhoc opened #43111 "Draft dockerizing your application section of playbook"
## Story
As as an engineer who is creating a service, I want to know how to stick my application in a docker file, therefore I would like a section of the microservices playbook to go through this process.

## Acceptance Criteria
- [ ] Describe a high level overview of using docker (or link to useful tutorials)
- [ ] Define differences between local development and running the application in K8s.

[2022-06-21 14:39] ewilson-adhoc opened #43112 "Draft architecture/infrastructure section of playbook"
## Story
As an engineer who is responsible for designing microservices, I would like to understand how the pieces of a service comes together for the service, therefor I would like an architecture diagram.

## Acceptance Criteria
- [ ] Add a diagram similar to what a service looks like in production (see linked example)
- [ ] Include diagrams at different levels of granularity (possibly link to ar

[2022-06-21 14:39] ewilson-adhoc opened #43113 "Draft authentication/integration with AMT playbook section"
## Story
As an engineer responsible for determining who has access to do what with my service, I would like to integrate my microservice with AMS, therefor I would like this data in the playbook.

## Acceptance Criteria
- [ ] Describe the technically agnostic solutions for authn/authz in a microservice.
- [ ] Describe how to set up a microservice with AMS/keycloak specifically.
- [ ] Describe how

[2022-06-21 14:40] ewilson-adhoc opened #43114 "Draft logging playbook"
## Story
As an engineer responsible for maintaining a microservice, I would like guidelines about how to integrate with infrastructure's logging systems, therefore I would like his section to be included in the playbook.

## Acceptance Criteria
- [ ] Give an overview of what tools are currently available for use, what tools the VA wants to use, and what our recommended tools are (include possible

[2022-06-21 14:41] claytonzook commented on #39825
Ready for peer review, prior to publish.

[2022-06-21 14:41] ewilson-adhoc opened #43115 "Draft (CI)CD section of playbook"
## Story
As an engineering developing a microservice for the platform, I would like to know how  I leverage existing infrastructure to deploy my microservice onto EKS using argoCD, therefor I would like this data in the playbook.

## Acceptance Criteria
- [ ] Describe how to use GithubActions to build your container images and push them into the elastic container repository on AWS.
- [ ] Be sure t

[2022-06-21 14:41] ewilson-adhoc opened #43116 "Draft testing section of playbook"
## Story
As an engineer responsible for maintaining a microservice, I would like guidance on special considerations for testing within this architecture, therefor I would like this data in the playbook.

## Acceptance Criteria
- [x] Describe how to use Github actions for running tests.
- [ ] Use newman + Postman collections an example for how smoke tests can be run.
- [ ] Give code coverage guidel

[2022-06-21 14:41] ewilson-adhoc opened #43117 "Draft monitoring tools section of playbook"
## Story
As an engineer responsible for maintaining a microservice, I would like guidelines about how to integrate with infrastructure's metrics systems, therefor I would like his section to be included in the playbook.

## Acceptance Criteria
- [ ] Give an over view of what tools are currently available for use, what tools the VA wants to use, and what our recommend tools are (include possible li

[2022-06-21 14:42] ewilson-adhoc opened #43118 "Draft reference documentation section of playbook"
## Story
As an engineer who is creating a service, I would like to know where to put my documentation and know how to get other people to use my service.

## Acceptance Criteria
- [ ] Describe where documentation should be hosted.
- [ ] Describe how to get added to the console.
- [ ] Describe the documentation that needs to exist for a microsevice to be "documented"
- [ ] Describe how to contribut

[2022-06-21 14:42] ewilson-adhoc opened #43119 "Draft sunsetting section of playbook"
## Story
As an engineer who wants to deprecate a service that I have created from vets-api, I would like guidance on how to do that in the playbook.

## Acceptance Criteria
- [x] Describe how to deprecate a service in vets-api.
- [x] Describe how to deprecate a service.

## Open Questions

## Resources
https://vfs.atlassian.net/wiki/spaces/IET/pages/2176745490/Deprecate+an+endpoint

[2022-06-21 14:42] ewilson-adhoc opened #43120 "Draft sidekiq UI case study section of playbook"
## Story
As an engineer who learns best. by having concrete examples, I would like the playbook to include a concrete example of this process, so that I can follow along when building my own services.

## Acceptance Criteria
- [ ] Using sidekiq UI as an example, go through the different components outlined in this document.
- [ ] Link to relevant sections of the repository where needed.

## Open Q

[2022-06-21 14:46] LindseySaari opened #43121 "Move Datadog dashboards to Fedramped version"
## Description
At the end of the month, our current instance of DataDog at [datadoghq.com](http://datadoghq.com/) will be going away in favor of the fedramped version [vagov.ddog-gov.com](http://vagov.ddog-gov.com/). All metrics and traces will be moved over, but dashboards, monitors, and synthetic tests will need to be ported over manually. Console Services should be sure to transfer over anythin

[2022-06-21 14:48] steel36 opened #43122 "Research and document Platform team Services and Offerings"
## Problem Statement
A main mission of the SDT is continued consideration of the user's journey in accessing and utilizing Platform offerings.  We believe it to be highly beneficial to explore, review, and maintain these unique journeys in the form of blueprints/user journey maps.  The practice of creating and maintaining such artifacts has not been pursued in several years.

To begin this underta

[2022-06-21 14:51] SlakrHakr commented on #37403
Can we reopen this to get it moving forward again? or does a new issue need to be created and linked to this one?

[2022-06-21 14:54] #43055 closed

[2022-06-21 15:06] joshkimux commented on #42250
Got a quick response from @mnorthuis ❤️ 🙇

[2022-06-21 15:06] stephenBarrs commented on #42205
from @charleystran

[Slack Thread](https://dsva.slack.com/archives/C02G6AB3ZRS/p1655238379109339)

we estimated current rollout at about 15-20% and thus multiplied the estimate based on current usage to 8-10 calls per second. We will also reassess as we move forward and rollout continues.

[2022-06-21 15:08] claytonzook commented on #40879
@joshkimux I'm excited that we are getting this over to Platform! and grateful to have Brian working on the move. Updating on Platform will add hopefully only a small layer of complication.

- Each page on Platform should include [a page footer titled Help and Feedback](https://depo-platform-documentation.scrollhelp.site/research-design/research-overview#Pagefooter-Helpandfeedback).
   - That foot

[2022-06-21 15:10] #41675 closed

[2022-06-21 15:14] shiragoodman commented on #42012
@allison0034 @chaseakirby unfortunately, I don't approve. Some changes came to light, recently. Typing up a response now....

[2022-06-21 15:14] #38442 closed

[2022-06-21 15:20] #40179 closed

[2022-06-21 15:22] mnorthuis commented on #42250
Family members can have accounts too, and it allows save in progress.  It should, however, only pre-populate info on the claimant, and not the Veteran.

[2022-06-21 15:24] shiragoodman commented on #42012
I'm sorry, but we need to make some changes based off a recent conversation we had with Chelen. We no longer want to say, "Lastly, please be sure to communicate with our team if your VA Business owner decides not to act on any of our Collaboration Cycle feedback. In this scenario, we may need to escalate with OCTO in order to determine the best course of action."

Why don't we want to say this? Le

[2022-06-21 15:30] SKasimow commented on #38922
Closing...working thru mid-point review and feedback now.

[2022-06-21 15:30] #38922 closed

[2022-06-21 15:30] SKasimow commented on #38727
@cgednalske can we close this one?

[2022-06-21 15:30] pjhill opened #43123 "Optimize Performance of Cypress in CI"
## Problem Statement
Although we have made various improvements to Cypress execution time in the past year, there remains opportunity to optimize the amount of time that the Cypress execution steps in the workflow take to complete.
How might we improve the performance of Cypress and decrease the amount of time it takes to execute Cypress tests in the platform CI workflow.

## Hypothesis or Bet
We

[2022-06-21 15:33] cgednalske commented on #38727
@SKasimow yes I believe we can! Don't see any reason why we'd still need it open.

[2022-06-21 15:33] ksk385 commented on #43080
Is there anything that is needed from us on this request?

[2022-06-21 15:36] jbritt1 commented on #42515
First-time login credentials provided to user at this time.

[2022-06-21 15:37] jeremy-stitz opened #43124 "Adding Mae Duphorne to DSVA Slack"
# Description

Please add mae.duphorne@thoughtworks.com as a full member.

Are you requesting to add an individual as a:

- Full member

Mae is a developer on the CDSP team.

[2022-06-21 15:37] #42528 closed

[2022-06-21 15:38] allison0034 commented on #42012
@shiragoodman I have a question about a couple of comments...

"But it's not our job to escalate" and "we may need to escalate with OCTO" - again, we shouldn't be taking action if they choose to ignore our feedback. OCTO shouldn't have to step in to escalate our concerns either.

Kevin Hoffman (and Ryan in the past) have always asked that I (we) escalate any concerns about feedback to them.  The P

[2022-06-21 15:39] jeremy-stitz opened #43125 "Adding Ashley Gentles to DSVA Slack"
# Description

Please add ashley.gentles@thoughtworks.com as a full member.

Are you requesting to add an individual as a:

- Full member

Ashley is a developer on the CDSP team.

[2022-06-21 15:39] jbritt1 commented on #29042
Since we are moving away from Jsonnet, can this be closed?

[2022-06-21 15:41] jbritt1 commented on #28671
Think this was picked up by the platform-console-ui team, correct? If so, can we close this?

[2022-06-21 15:41] shiragoodman opened #43126 "Link Platform Office Hours calendar in Collab Cycle/Resources"
## User Story
As a VFS team member, I want to be able to see and sign up for Collaboration Cycle Office Hours so that I easily get help when I need it.

- Intended Audience: VFS teams
- Desired Outcome:
- Due Date:

Assignee: @allison0034
Peer Reviewer: @jimuhh

## Description
@naomimarcussen created a [Platform Office hours page](https://calendly.com/platform-office-hours?month=2022-06&date=2022-

[2022-06-21 15:43] ph-One commented on #29042
I would say this is one that we can close.

[2022-06-21 15:44] #29042 closed

[2022-06-21 15:44] SKasimow commented on #43076
Hi @allison0034 - thank you for your feedback., Just wanted to confirm that in your feedback above, you are just asking that we test what we reviewed with you Fri, correct? Just want to make sure I am not missing anything on this...

Make sure you user test with the on this page link and background only alert since they are slightly outside of our guidance but seem appropriate for this pattern.

c

[2022-06-21 15:45] acrollet commented on #42106
Note that we need to ensure that the "check in" phrase for VEText gets added to the next round if it hasn't already been translated. (in both languages)

[2022-06-21 15:45] laurwill commented on #42773
Update: Megan raised some good questions here, so the 3 of us chatted and did some group zoom editing to clarify some of the info on this page. I also looked at some related pages for more info. Noting the more substantive changes here for when we pass to Beth:
- Adjusted the "payable August 1" note and nested it under the clothing allowance header, based on the [VA clothing allowance page](https:

[2022-06-21 15:46] vbellissimo commented on #42527
Twice-weekly deploy -- Samara (Tuesday = Samara & Thursday = Lauren)
- Need effort to continue a consistent cadence.

Console collaboration -- Amy, Lauren, Samara (new micro copy collaboration with Suzanna)
- Ongoing; Working relationship being established with Suzanna; Meeting with content team and Suzanna scheduled tomorrow for continuation of this.

Clarifying the process of daily triage -- Amy

[2022-06-21 15:52] yonidoronpeters commented on #41598
@jhouse-solvd Hello! just checking in to see if you have any updates on this request? we are getting to a point where this is blocking other work we have planned. Please let me or @mchaffee-tw know if we can help move this request forward in any way. Thank you 🙏

[2022-06-21 15:53] #41968 closed

[2022-06-21 15:53] mdewey opened #43127 "[FE] Military history error should not trigger Not All Data Availible message"
## Issue Description

**Desired Behavior:** When the Military Information API calls, it **should not** show the main `Not all data available message`

** Current Behavior**: When the  API call fails, the main message is showing.
- [Slack thread]()

## Front-end tasks
- Do not show the `Not All Data` message when the Military API call fails

## Acceptance Criteria
- [ ] Designer comments on this is

[2022-06-21 15:53] shiragoodman commented on #42012
thanks for letting me know @allison0034 . This may be a conflict in what our OCTO Platform leads want vs. what the OCTO practice area leads want. I'm having a hard time seeing a path forward here that allows both of them to get their way. Our OCTO Platform leadership wants us to enforce the standards and not escalate concerns, whereas our OCTO Practice area leads want us to escalate concerns to th

[2022-06-21 16:02] ericasauv09 opened #43128 "[Research]My VA Redirect: Create Conversation Guide"
## Background
In order to conduct user research regarding our new My VA Redirect feature we need to create a conversation guide for our user research.

## Tasks
- [ ] Draft conversation guide based on [template](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/research/planning/conversation-guide-template.md)

[2022-06-21 16:02] #42874 closed

[2022-06-21 16:03] brdunfield commented on #42351
Content change / question. The content "You can still check-in with your phone on the day of your appointment" seems like it only really works for pre-check-in. For check-in, I've modified the box to use an existing string in the app ("Check-in with a staff member"). See screenshot below
![Screen Shot 2022-06-16 at 2.51.18 PM.png](https://images.zenhubusercontent.com/60d4bcc1cb1e877f2aba6493/98c69

[2022-06-21 16:05] aliyahblackmore commented on #42466
Hi @megzehn this is ready for you! Patricia Victor and John McAllister were added in.

Preview link: http://preview-prod.vfs.va.gov/preview?nodeId=19578

[2022-06-21 16:11] ericasauv09 opened #43129 "[Research]My VA Redirect: Create Research Plan"
## Background
As part of the My VA Redirect initiative we want to conduct user research. This ticket is to create the plan for our user research.

## Tasks
- [ ] Create Research Plan based on [template](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/research/research-plan-template.md)

[2022-06-21 16:12] sortizsh commented on #42664
Need to format Robin's document in the Claim Center template, and notify claim center of users that were affected by issue

[2022-06-21 16:17] jbritt1 commented on #30089
Reassigning to @zachclarity and Platform-SRE team as we feel this is more fitting for that board vs the Platform-Infrastructure team's backlog.

[2022-06-21 16:20] longmd commented on #41851
I've created a document that matches the similar format of the PW error message index I shared a while back. I'm going to create the same for the EZ errors.

https://docs.google.com/spreadsheets/d/1ox88qt8LjlsO4WP-lkZ-eDTFdJIdlbHmYJwXf-cukgU/

[2022-06-21 16:21] ianpsant commented on #42484
Content note: Within the bot itself, in order to make it clear this is an AI bot and not a live person on the other side of the screen, we are now referring to our product as VA chatbot and not VA virtual agent. So the existing content would be:

[2022-06-21 16:25] oseasmoran73 commented on #36179
I believe this is what the Support Tier Model defines. We also have this [ticket](https://app.zenhub.com/workspaces/platform-infrastructure-team-6112bc325f570300140f7852/issues/department-of-veterans-affairs/va.gov-team/42337) for recent process.

I think we can close it out

[2022-06-21 16:26] kanchanasuriya commented on #40394
Duplicate ticket

[2022-06-21 16:26] #40394 closed

[2022-06-21 16:27] mleclerc00 opened #43130 "[EKS] Migrate metrics server deployment to k8s-sigs helm chart"
## Description
While working on the datadog migration and attempting to make sure all metrics are going to the new datadog org.  I noticed that the metrics server integration wasn't pulling back any metrics.  https://vagov.ddog-gov.com/screen/integration/59/kubernetes-metrics-server?from_ts=1655824831563&to_ts=1655828431563&live=true

This would be a nice to have and shouldn't take too long to fix

[2022-06-21 16:27] jhouse-solvd commented on #41598
@yonidoronpeters - Forgive me for the delayed response. I'm chatting with the team today to see if we can move this forward and unblock your team. We appreciate your continued patience and want to get this done for you.

[2022-06-21 16:28] #36179 closed

[2022-06-21 16:30] jhouse-solvd commented on #36185
This is a duplicate. Please see #36494

Closing.

[2022-06-21 16:30] #36185 closed

[2022-06-21 16:32] andaleliz opened #43131 "[Research]My VA Redirect: Research artifact review & submission"
Tasks to get ready for My VA Redirect UAT

- [x] Get PO and PM review on convo guide created in #43128  and research plan created in #43129
- [x] Update docs as needed
- [x] Submit docs to research repo

[2022-06-21 16:33] #42438 closed

[2022-06-21 16:42] jsgarmon commented on #41598
@yonidoronpeters : please provide the full ARN for this service account (I'm guessing this is in a separate AWS account)

[2022-06-21 16:46] hdjustice commented on #41851
Cool, thanks @longmd !

[2022-06-21 16:57] #40126 closed

[2022-06-21 16:57] ElijahLynn commented on #43094
CMS: We are tracking the migration in this issue https://github.com/department-of-veterans-affairs/va.gov-cms/issues/9540.

[2022-06-21 17:00] jonathan-epstein13 commented on #41931
@chloedotbrown everything looks pretty clear, but just have some slight notes for the following steps:

**1. Log into the _Participant Tester_ account in Domo for all tests.** [Can we link or have a place for the participant tester login info, so it can be easily accessible?]

_**_2. Copy _"Usability checklist" table_ in accordion above._**_ [Maybe how or where to copy the table, so that the `| Te

[2022-06-21 17:01] RachalCassity commented on #43121
Dashboards to move over:

- VSP Utility - Redis
- VSP Utility - Sentry
- External Performance Service Template
- VSP Utility - GitHub
- Console Services
- VSP - Application Request Breakdown
- VSP - External Service Performance Indicators
- VSP - Breakers
- VSP - External Service Status
- Console Services - Backend Service Report

[2022-06-21 17:02] jsgarmon commented on #41598
Some additional questions:
- will the new service account be used in GitHub Actions, or used in some other process?
- is the bucket name `dhp-<env>-bearer-tokens` descriptive enough? Do you have a preference for how the bucket is named?

[2022-06-21 17:12] michelle-dooley opened #43132 "[Ongoing Services] Support VFS teams with their analytics needs - Q3"
## User Story
As a VFS team member, I need the following support from the Platform Analytics & Insights team:

- Access to analytics tools (GA & Domo)
- Standardized Domo Dashboards
- Google Tag Manager implementations
- New feature requests
- Answer ongoing data and reporting questions and triaging

As a Platform Analytics & Insights team member, I need to provide analytics support to VFS teams t

[2022-06-21 17:12] michelle-dooley opened #43133 "Analytics & Insights (Q3 2022): Ongoing Services: - Support VFS Teams with their Analytics Needs"
## User Story
As a VFS team member, I need the following support from the Platform Analytics & Insights team:

- Access to analytics tools (GA & Domo)
- Standardized Domo Dashboards
- Google Tag Manager implementations
- New feature requests
- Answer ongoing data and reporting questions and triaging

As a Platform Analytics & Insights team member, I need to provide analytics support to VFS teams t

[2022-06-21 17:13] andaleliz commented on #42020
@Samara-Strauss I'm having a hard time tracking down users to test the following use cases.  Any chance you can help, or is there another place to look aside from our [test case documentation](https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/blob/master/Administrative/vagov-users/staging-test-accounts-direct-deposit.md)?

- A user is eligible for comp + pen direct deposit, b

[2022-06-21 17:18] CherylEvans commented on #41669
@shiragoodman Platform page has been updated.  Need to complete "Mark GH page as deprecated."

[2022-06-21 17:22] andaleliz commented on #31408
It might be worthwhile to go through all the tickets AJ created for this and see which were done and which weren't. They're all linked from [this doc](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/profile/maintenance/front-end/alert-updates-Sept-2021.md).

[2022-06-21 17:35] saderagsdale opened #43134 "[research] Supplemental Claims"
Research plan: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/decision-reviews/Supplemental-Claims/Research/researchplan.md

[2022-06-21 17:37] wullaski opened #43135 "Platform Orientation Template John Woolschlager"
## Welcome and Introduction
Welcome to the Veteran's Administration (VA) Veteran Facing Services (VFS) team!
As a new VFS team member, you will be working in the web ecosystem we call the VA.gov Platform (or "**The Platform,**" for short).  The tasks on this list are designed to get you up to speed on the role of Platform, making it easier for you to do your job.

Because the VA is a huge organiza

[2022-06-21 17:40] michelle-dooley opened #43136 "Analytics & Insights (Q3 2022): Platform Health Metrics (O3) - Analytics Team Support"
## Problem Statement
This epic will outline the work the Analytics & Insights team needs to complete in Q3 as part of Platform Objective 3:  Implement health metric dashboard(s) for overall platform and platform teams.

How might we help the Platform teams in defining their health metric, and accessing data to measure it and creating a Domo dashboard to report it.

How might the Analytics & Insigh

[2022-06-21 17:43] chloedotbrown commented on #41931
Thanks for the notes, @jonathan-epstein13 !

**1. Log into the _Participant Tester_ account in Domo for all tests.** - I'm leaving this one up to @michelle-dooley. I know Confluence is visible to Platform team members only, but I still feel iffy leaving password information anywhere in this environment. Where can we put this info where it's both discoverable by our team but also secure?

**2. Copy

[2022-06-21 17:50] michelpmcdonald commented on #42664
Follow Up, the root cause of both issues(Missing zipcode5 for international addresses, web date control allowing users to create invalid dates) has been corrected on the web side.

This ticket deals with correcting the HLRs that hit the issue.

I was able to correct and resubmit the claims with the missing zip.

For the users who hit the malformed date, there were about ~5 users that hit the issue

[2022-06-21 17:50] #42664 closed

[2022-06-21 17:56] skylerschain commented on #41818
@Mottie is there a design spec you're working off for these? If so, could you point me towards it?

[2022-06-21 17:57] chloedotbrown commented on #42627
Hey @shiragoodman - yes, we can definitely set up a time to go over with your team. Do you want to coordinate with the folks on your end who should be there and [find a time](https://calendar.google.com/calendar/u/0?cid=Y2hsb2UuYnJvd25AYWRob2N0ZWFtLnVz)? Tomorrow or later on this week should have some good options.

[2022-06-21 18:04] mmiddaugh opened #43137 "Updates to VA.gov home page redesign deployment"
## Issue Description
Based on observations of the deployed redesign for the VA.gov home page, the following should be considered (and prioritized accordingly) prior to usability testing.

## Links
1. Top tasks
    - [TBD pending recommendations from unmoderated top task research]
2. "Other search tools"
    - link language and sentence case must be accessible, consistent and compliant with VA.gov

[2022-06-21 18:12] nsmith1982 opened #43138 "Offboarding of Preston Davies"
# Instructions
Fill out name of individual and *Description* section below.

# Description
Please provide the following information about the individual being offboarded:
- name:

- team name:

- role on team:

- expected last day:

- company they work for:

- email:

- GitHub username:

- additional access they may have:

## Acceptance Criteria
*Performed by Platform team. Detailed instructions f

[2022-06-21 18:13] nsmith1982 commented on #43138
/request Peston Davies

[2022-06-21 18:13] nsmith1982 commented on #43138
removed from Confluence

[2022-06-21 18:13] Mottie commented on #41818
There is no design, this ticket was part of an accessibility review. So there isn't a design spec that I could find for this.

[2022-06-21 18:25] caw310 opened #43139 "Staging Review: Design System Team - Button web component"
# Steps to complete Staging Review

## Before meeting

**VFS Product Manager**
- [ ]   Create this issue and schedule meeting via Calendly (you are responsible for adding the VFS attendees).
- [ ]   Notify the Collaboration Cycle team of this ticket and scheduled date/time in #vfs-platform-support ([see Slack Workflow (User guide](https://depo-platform-documentation.scrollhelp.site/support/Getting

[2022-06-21 18:26] caw310 opened #43140 "Staging Review: Design System Team - Button web component"
# Steps to complete Staging Review

## Before meeting

**VFS Product Manager**
- [ ]   Create this issue and schedule meeting via Calendly (you are responsible for adding the VFS attendees).
- [ ]   Notify the Collaboration Cycle team of this ticket and scheduled date/time in #vfs-platform-support ([see Slack Workflow (User guide](https://depo-platform-documentation.scrollhelp.site/support/Getting

[2022-06-21 18:32] ewilson-adhoc commented on #42931
Continuing to work on local proof of concept development -- we are in the middle of EE trial, do we want to play with this in development?

[2022-06-21 18:42] caw310 commented on #18684
Closing.

[2022-06-21 18:42] #18684 closed

[2022-06-21 18:54] jimuhh commented on #41978
No IA feedback, thanks.

[2022-06-21 18:55] shiragoodman opened #43141 "[Components and pattern standards] Design component or pattern in use isn't mobile-friendly. (04.09.1)"
### General Information

#### VFS team name
Public Websites

#### VFS product name
Sitwwide Header

#### VFS feature name
IE11 Deprecation Alert

#### Point of Contact/Reviewers
Brian DeConinck (@briandeconinck) - Accessibility

*For more information on how to interpret this ticket, please refer to the [Anatomy of a Staging Review issue ticket](https://depo-platform-documentation.scrollhelp.site/c

[2022-06-21 18:55] shiragoodman opened #43142 "[Components and pattern standards] Design components or patterns don't align with Design System guidelines. (04.07.2)"
### General Information

#### VFS team name
Public Websites

#### VFS product name
Sitwwide Header

#### VFS feature name
IE11 Deprecation Alert

#### Point of Contact/Reviewers
Sean Sewell (@seansewell) - Design

*For more information on how to interpret this ticket, please refer to the [Anatomy of a Staging Review issue ticket](https://depo-platform-documentation.scrollhelp.site/collaboration-cy

[2022-06-21 18:55] shiragoodman opened #43143 "[Components and pattern standards] Design components or patterns don't align with Design System guidelines. (04.07.1)"
### General Information

#### VFS team name
Public Websites

#### VFS product name
Sitwwide Header

#### VFS feature name
IE11 Deprecation Alert

#### Point of Contact/Reviewers
Sean Sewell (@seansewell) - Design

*For more information on how to interpret this ticket, please refer to the [Anatomy of a Staging Review issue ticket](https://depo-platform-documentation.scrollhelp.site/collaboration-cy

[2022-06-21 18:57] jjulian opened #43144 "Adding Matt King to DSVA Slack"
# Description
- Please add mattking7@gmail.com as a full member. They are a new PM on the platform spike teams.

[2022-06-21 19:04] jonathan-epstein13 commented on #43135
Provided the necessary information for _Share your info with Platform._ Added to VFS Team Roster.

[2022-06-21 19:07] #38817 closed

[2022-06-21 19:11] vbellissimo commented on #33450
For content team: Not related to Q3 initiative

Needs further investigation

[2022-06-21 19:15] mchelen-gov commented on #43048
@jjulian  Yup, although they should be added to their specific team rather than overall `va.gov-platform-teams`

Most necessary perms should be inherited from `vets.gov-write`, are there any other perms that should be added to all Platform teams?

[2022-06-21 19:16] vbellissimo commented on #36533
For content team:

1. Vicky to review this card initially
2. Revisit idea as a team to break down next steps/actionable items

[2022-06-21 19:16] chaseakirby commented on #43140
Review has been scheduled for 6/30 at 2:00 PM ET.

[2022-06-21 19:16] MarciMcGuire commented on #42041
TBD if this is required

[2022-06-21 19:17] vbellissimo commented on #36533
May be part of Q3 initatives

[2022-06-21 19:19] vbellissimo commented on #36534
For content team: Yellow section on Q3 initiative

[2022-06-21 19:21] #41984 closed

[2022-06-21 19:23] MarciMcGuire commented on #42604
Closing; duplicate

[2022-06-21 19:23] #42604 closed

[2022-06-21 19:25] #38084 closed

[2022-06-21 19:26] brianseek commented on #42344
@benbrasso-agile6 This is ready for validation. See screenshots of pre-check-in below. This is the same on day of check-in. Let me know if you want to see screenshots from that app too or if you want to see a demo over zoom.
![localhost_3001_health-care_appointment-pre-check-in__id=46bebc0a-b99c-464f-a5c5-560bc9eae287 (18).png](https://images.zenhubusercontent.com/61523b5b9d354750f04823db/4dbfa8c1

[2022-06-21 19:27] andaleliz commented on #42020
All of the use case docs have been created and linked from the [README.md file in this directory.](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/identity-personalization/direct-deposit/use-cases).  @Samara-Strauss and @SKasimow I'd love your review when you have a moment. The only things missing are the test case info I asked about in the previous comment. Once

[2022-06-21 19:28] brianseek commented on #42569
Closing due to issue with DS.

[2022-06-21 19:28] #42569 closed

[2022-06-21 19:29] vbellissimo commented on #36245
For content team: Part of yellow Q3 initiative

What process, tool or guidance can we give to other teams so they know when to update their content?

[2022-06-21 19:33] CherylEvans commented on #42706
No Content FB at this time.  Looks good.

[2022-06-21 19:33] andaleliz commented on #42744
I'm closing this out since we'll finish this work in #43129 and other tickets created today.

[2022-06-21 19:33] #42744 closed

[2022-06-21 19:37] Mottie commented on #42284
Reopening to veriy “Still Own Ind” matches the response selected by the Veteran in the app.

[2022-06-21 19:40] joeniquette commented on #42480
Document published: https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/blob/master/teams/vsp/teams/Identity/Sign%20In%20Service/Errors/IDme/external.md

[2022-06-21 19:42] megzehn commented on #42773
This is copyedited and ready for you, @bethpottsVADEPO, when you return!

Please see the comments above from @laurwill. We made some substantive edits to the [original post ](https://www.va.gov/disability/compensation-rates/special-benefit-allowance-rates/) that we're hoping you and the stakeholder can review.

Thank you!

[2022-06-21 19:42] steel36 opened #43146 "Expand understanding of Slack as used for comms."
## Issue Description
Discover and document what slack channels are currently intended for which audiences and which information.  The following guidance doc contains the most prevalent ones.

Maybe incorporate the use of templates, i.e.:

"I need to x so use channel y"

[Guidance](https://vfs.atlassian.net/wiki/spaces/SDT/pages/1927610461/Review+of+current+state+of+Platform+communications#Slack-co

[2022-06-21 19:44] steel36 opened #43147 "Evaluate what has changed in the landscape since MVP stage"
## Issue Description
Evaluate what has changed in the landscape (Platform processes) since the previous iteration of the playbook (if anything).  This will inform whether additional inputs influence our updated workflow thinking.

platform [comm types](https://vfs.atlassian.net/wiki/spaces/SDT/pages/1926791251/Platform+communication+types+and+channels)

---
## Tasks
- [x] Review documented [VFS Fe

[2022-06-21 19:45] ArienneWalters opened #43148 "Request access to Google Analytics and/or Domo"
# Request Google Analytics and/or Domo access

## What this form is for
Use this template to request access to Google Analytics and/or Domo. Please complete steps 1 & 2 below.

## 1. Access Requirements
Please check the analytics tool(s) you need access to:
- [x] Google Analytics **& Google Tag Manager**
- [x] Domo
- [ ] (Platform Teams only) BigQuery

## 2. User Email Address to Receive Access
**

[2022-06-21 19:45] loripusey commented on #42344
Looks good, line gone! Thanks!

[2022-06-21 19:45] CherylEvans commented on #41978
No Content FB at this time.

[2022-06-21 19:46] zach-park commented on #42344
LGTM. Thank you! @brianseek (Cc: @benbrasso-agile6 @kristenmcconnell @loripusey )

[2022-06-21 19:50] Samara-Strauss commented on #31408
Sounds good. Idk if any of them have been done; I don't remember. Did you intend to go through that doc, or are you asking Sharon to take a look?

[2022-06-21 19:50] Mottie commented on #42284
Verified that the `propertyOwned` form data is updating correctly and being passed to the server, but from reading through this ticket, I'm not sure that the `homeSellIndicator` should be the opposite of `propertyOwned`. If we have to, we could add another question to the form.

[2022-06-21 19:50] #42284 closed

[2022-06-21 19:53] MarciMcGuire opened #43151 "[FE] My Health - Onboarding - Document OCTO engineering decisions re: GFE & onboarding)"
Document OCTO engineering decisions re: GFE & onboarding)

[2022-06-21 19:55] MarciMcGuire opened #43152 "[FE] Re-evaluate dev onboarding tool implementation"
Re-evaluate dev onboarding tool implementation and create new tickets as needed

[2022-06-21 19:57] MarciMcGuire opened #43154 "[FE] MyHealth - Onboarding - Guarantee onboarding documentation is accessible to all developers"
Guarantee onboarding documentation is accessible to all developers & verify all documentation has been assembled together correctly in one place (admin on GFE, Mac install steps, troubleshooting, etc)

[2022-06-21 20:00] joeniquette commented on #40955
Setup call for the 23rd to meet with IDme regarding this subject

[2022-06-21 20:00] joeniquette commented on #42809
pinged Brett Logan on 6/21 to determine who has add access

[2022-06-21 20:07] RLHecht opened #43155 "Confirm and implement IA and urls for new education pages (non-rates)"
## Issue Description
This issue is to keep track of the H1s, left nav labels, and urls of the new education pages we are publishing once the modernized rates pages are live.

Mikki has already reviewed and approved these in ticket #42952 but we are separating out the non-rates education pages from the rates pages.

H1: Apply to restore your GI Bill benefits
Revised URL: /education/apply-to-restore

[2022-06-21 20:11] #42707 closed

[2022-06-21 20:12] iriteshp commented on #42260
I was able to do a plan and apply it from my local machine. I could not test from workflow because we do not have self-hosted runners yet. Thanks!

[2022-06-21 20:14] brianseek commented on #42344
closing with validation

[2022-06-21 20:14] #42344 closed

[2022-06-21 20:17] steel36 opened #43156 "Conduct VFS poll"
## Issue Description
Get feedback from VFS - how do they receive or expect to receive information? (also an introduction of sorts to working w/ team)

## User Story
As a SDT member, I want to know how VFS users prefer to get their communications, currently or possibly, so that we can determine how to recommend or create communication channels.

## Tasks
- [x] Launch poll in predetermined channels

[2022-06-21 20:18] shiragoodman commented on #42893
Meeting Recording:
https://oddball-io.zoom.us/rec/share/B6JI3JZ7wotpDG0e4sr8PymmmqZnYPFqkWzph_bjwoBEtaYFzIonAejrqYKWHE_K.EmtkMd-pijSGS3ET

Access Passcode: WE26M5e+

[2022-06-21 20:20] steel36 opened #43157 "Prep questions for VFS team members"
## Issue Description
Get feedback from VFS - how do they receive or expect to receive information? (also an introduction of sorts to working w/ team)

Form could take Optimal Workshop survey or Slack poll, etc.

https://dsva.slack.com/archives/C02QN5J3FK6/p1658246368681459?thread_ts=1658243570.365569&cid=C02QN5J3FK6

Questions:
Can we and should we move to a unified channel for communication? #389

[2022-06-21 20:26] caw310 commented on #599
Closing

[2022-06-21 20:27] twoangstroms commented on #43157
[Possible reference list?](https://airtable.com/appZlF01Fn19x3Ty0/tblIeeEMmzDkuYX06/viwuijxmMi2E4rAc8?blocks=hide)

[2022-06-21 20:28] #13610 closed

[2022-06-21 20:29] caw310 commented on #14849
Closing

[2022-06-21 20:29] #14849 closed

[2022-06-21 20:33] caw310 commented on #15848
Closing

[2022-06-21 20:40] aagosto90 commented on #36216
Since there is not guidance in the design system for these icons' alt text and Josh said it's up to individual teams to decide for now, I'm going to recommend "important" for our notifications and "warning" for all other alerts if that's possible. I would recommend this because it's technically a warning alert and I think warning works for a system error which is what these alert styles are suppos

[2022-06-21 20:43] #33717 closed

[2022-06-21 20:47] #25150 closed

[2022-06-21 20:50] #42813 closed

[2022-06-21 20:50] aagosto90 commented on #42137
I'm going to close this ticket as we have enough iteration and feedback to include this in testing and enter collab cycle. I'm interested in testing both dismissable versions; one with the X and one with the "Dismiss" text, especially if we get anyone who uses assistive tech, but if not we can discuss that in the collab cycle.

[2022-06-21 20:50] #42137 closed

[2022-06-21 20:52] Samara-Strauss commented on #31408
Yeah, I think it's unlikely any have been done. We intended to start them before the personal info work started in the fall, but then the tickets got deprioritized. I agree it's a good idea for Sharon to review this work. Is all the work still relevant? I am assuming there haven't been changes made since those tickets were created that would render them obsolete or in need of updating, but let me

[2022-06-21 20:54] shiragoodman commented on #42806
@seanasewell the updated pages look good to me. However I did notice that our "Contact Us" page was somehow dropped. I tagged you and @chaseakirby in the[ thread I started on the #platform-confluence slack channel. ](https://dsva.slack.com/archives/C01AS05BQ79/p1655844457077739)

This ticket can be closed. The Contact Us page is a new issue.

[2022-06-21 20:54] #42806 closed

[2022-06-21 20:54] andaleliz commented on #43129
[Research plan draft](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/my-va/my-va-redirect/UAT/research-plan.md) started

[2022-06-21 20:55] wullaski opened #43158 "SOCKS access for John Woolschlager"
### Your Name

John Woolschlager

### Your Email

john.woolschlager@civicactions.com

### Your Role and Team

FE Engineer on Facilities

### Product Manager (PM) name and email

David Shannon  david.shannon@agile6.com

### Product Owner (PO) name and email

David Conlon david.conlon@va.gov

### Access Type Requesting

developers

### Public SSH Key

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC3QIkR1RfI

[2022-06-21 20:57] andaleliz commented on #43129
@ericasauv09 Has the team determined which sprint they'd like to run UAT in? Would it be in the next one, or the following (second half of July).  Looks like it's not outlined in the sprint objective doc yet.

[2022-06-21 20:58] #42071 closed

[2022-06-21 20:59] marcynadeau commented on #40970
Tested and passed testing.
 ![VVC_PersonalDevice_06212022.png](https://images.zenhubusercontent.com/5f2d82e4a65f7435058cfd75/2a7fc690-1899-4f56-a7f9-9af25c2cb2f8
)

[2022-06-21 20:59] #40970 closed

[2022-06-21 21:00] marcynadeau commented on #40979
Tested and passed testing.
 ![VVC_VADevice_06212022.png](https://images.zenhubusercontent.com/5f2d82e4a65f7435058cfd75/f37e2456-fcef-4d7e-ad70-f77a6d783620)

[2022-06-21 21:02] andaleliz commented on #31408
I think it's a safe assumption that they're still relevant. The recommendations were to improve consistency and accessibility/mobile UX.

[2022-06-21 21:10] skylerschain commented on #41818
Why does the first item in the list have the date in it, while the second and third items only say "Additional evidence"?

[2022-06-21 21:11] jerekshoe commented on #41818
First item is a suggestion I believe. In production, the heading for each item is simply "Additional Evidence".

[2022-06-21 21:37] chloedotbrown commented on #42627
@shiragoodman - Happy to wait for Sarah! I agree, it'll be a better conversation when she's back.

Unfortunately, my team's got our grooming session at that time next week. Would 6/29 at 12-1pm, 2-2:30pm, 3-3:30pm, or 4:30-5pm ET work for you and your team? Both @michelle-dooley and I are available at those times, and it would be great to get her in the session as well.

[2022-06-21 21:39] SarahKay8 commented on #42627
Hi @chloedotbrown any time after 1 PM est would be fine with me

[2022-06-21 21:41] iriteshp commented on #43158
SOCKS access granted. Please continue with [the guide](https://depo-platform-documentation.scrollhelp.site/getting-started/Internal-tools-access-via-SOCKS-proxy.1821081710.html) to establish a connection to SOCKS proxy. If you run into any issues, please feel free to reach out in the [#vfs-platform-support](https://dsva.slack.com/archives/CBU0KDSB1) channel using the [support request workflow](htt

[2022-06-21 21:41] acrollet opened #43159 "[FE] Use curly quotations marks consistently"
## Background

The VA design system specifies that [curly quotation marks should be used instead of straight quotation marks](https://design.va.gov/content-style-guide/punctuation#quotation-marks).

## Tasks
- [ ] [FE] Ensure that all content uses curly quotation marks
- [ ] Create or update unit tests
- [ ] Create or update e2e tests
- [ ] Update relevant documentations (readme and use cases)

##

[2022-06-21 21:55] #43138 closed

[2022-06-21 22:05] jonathan-epstein13 commented on #43148
Waiting on confirmation of GTM access. 6/21.

[2022-06-21 22:22] #43125 closed

[2022-06-21 22:22] LEHigley commented on #43124
reactivated mae's account

[2022-06-21 22:22] #43124 closed

[2022-06-21 22:22] #43105 closed

[2022-06-21 22:23] LEHigley commented on #43085
reactivated account

[2022-06-21 22:23] #43085 closed

[2022-06-21 22:24] LEHigley commented on #43080
reactivated this account--are they able to get in?

[2022-06-21 22:24] #43075 closed

[2022-06-21 22:24] laurwill commented on #41222
Hi @aliyahblackmore , just popping in on this “select the option that describes you” question — that's referring to options on the AccessVA homepage, but we're not linking to the homepage, we're linking directly to the QuickSubmit login. So I think we need to:
- Remove this text from those 3 pages: "From the Access VA home page, select the button that describes you. Then select the QuickSubmit opt

[2022-06-21 22:24] #43050 closed

[2022-06-21 22:25] #43010 closed

[2022-06-21 22:25] #42957 closed

[2022-06-21 22:25] brianseek commented on #42107
This is ready for UX review:
![Screen Shot 2022-06-21 at 12.00.40 PM.png](https://images.zenhubusercontent.com/61523b5b9d354750f04823db/c856a9f0-a509-40b1-ad4e-0dd4d68b5815)

[2022-06-21 22:36] madebydna opened #43160 "Acquire SSL certificates for new platform-api domains"
## Issue Description
SSL certificates for the new domains need to get purchased and validated. The steps for obtaining new, publicly signed SSL certificate are [outlined in this document](https://vfs.atlassian.net/wiki/spaces/OT/pages/1644625921/Obtain+or+Renew+Publicly+Signed+SSL+Certificates).

---
## Tasks
- [x] Install SSLMate and set up locally
- [x] Email Edge Security Operations team (NOCNe

[2022-06-21 22:49] madebydna opened #43161 "Create nginx configuration file for new platform-api domains"
## Issue Description
The reverse proxy (nginx) needs to have configuration to correctly route the four new `*platform-api.va.gov` domains to the respective vets-api versions in the different environments. The configuration details will largely be based on the existing configuration for the `*api.va.gov` domains.

---
## Tasks
- [x] Create new Nginx configuration file for the new domains
- [x] Disc

[2022-06-21 23:07] chloedotbrown commented on #42360
Hi @denisecoveyduc - thanks for sharing all these materials with us! I'm hoping to wrap up our proposed metrics for this dashboard soon. But before I do, I just wanted to verify the URLs that go with pages in your [user flow](https://app.mural.co/t/vsa8243/m/vsa8243/1645453970389/5712442eb61e558df96599ac35c346436aafcc9c?invited=true&sender=uefee97503966efdb24069760) so that I'm specifying the corr

[2022-06-22 00:05] madebydna commented on #41416
Documentation of local website setup with API URL change: https://vfs.atlassian.net/wiki/spaces/CLOUD/pages/2238906516/Changing+the+API+URL+in+vets-website+repo+-+Local+setup

[2022-06-22 05:39] aliyahblackmore commented on #42044
Hi @laurwill a draft of the How to file a FMP claim page is ready for you! Attaching a word document.

One question as I was doing another review:
There are a few documents that outline the claims process ([fact sheet](https://www.va.gov/COMMUNITYCARE/docs/pubfiles/factsheets/FactSheet_04-02.pdf), [guide](https://www.va.gov/COMMUNITYCARE/docs/pubfiles/programguides/FMP_Guide.pdf#), [brochure](http

[2022-06-22 05:59] aliyahblackmore commented on #42786
Hi @laurwill this is ready for you to review! I updated by initial word document with Beth's changes (I noted her changes using comments).

Also noting here a question/ask from Beth via Slack:
"Should the links immediately follow the text rather than be bumped down a line (as is our general style)? The text is within the authenticated experiences and it will probably be good to tighten it up by br

[2022-06-22 11:58] #41486 closed

[2022-06-22 12:19] laurwill commented on #41833
Hi @katherine-fung , nice work on this so far, and thanks for raising these questions! Here are my notes and questions based on the current draft and the legacy page:
- Legacy page talks about GI Bill only, but live page also mentions VR&E benefits — does all the information on the legacy page also apply to VR&E?
- Legacy page has an eligibility requirement that doesn't appear on the live site: Yo

[2022-06-22 12:21] RLHecht commented on #39037
@megzehn With Beth OOO this week, she asked if you can do a copyedit of this so that I can send to the stakeholders to keep these moving. Thanks!

[2022-06-22 12:25] RLHecht commented on #42816
@megzehn With Beth OOO this week, she wants to keep this moving and be able to send to the stakeholders. Could you please do your copyedit and let me know when it's ready? Thanks!

[2022-06-22 12:30] niradatta1 commented on #42350
@brianseek confirming we need to add "need help" on this page. We can use the same "need help" from the other pages in the pre-check-in flow. 'cc @benbrasso-agile6 @zach-park

[2022-06-22 12:35] #40630 closed

[2022-06-22 12:36] #41416 closed

[2022-06-22 12:36] #41515 closed

[2022-06-22 12:36] #41418 closed

[2022-06-22 12:38] alwerner commented on #39237
Closing as complete. cc: @madebydna

[2022-06-22 12:38] #39237 closed

[2022-06-22 13:13] #40028 closed

[2022-06-22 13:21] jennaouellet commented on #39329
Hi @mmiddaugh! I'm picking up the GTM work where Brian left off. We can create a custom dataLayer variable where you will have to manually pass in the heading section for the clicks, or we can use an existing variable that we have which reports on the closest parent class div name from the HTML.
Do either of these sound like a solution you'd like to pursue?

[2022-06-22 13:24] shiragoodman commented on #41830
Sarah - I do not see "Owner" on any of the published pages. Did you update the source pages?

[2022-06-22 13:25] shiragoodman commented on #37345
Closing this ticket as the work is not necessary for this initiative.

[2022-06-22 13:25] #37345 closed

[2022-06-22 13:26] #34728 closed

[2022-06-22 13:27] laineymajor opened #43162 "[Q3 DRAFT INITIATIVE] Implement health metric dashboard for core deployment tasks"
## Problem Statement
*VFS teams, Platform, and OCTODE need a quick view of deployment health metrics to understand where improvements are needed.

*Follow your problem description up with a "How might we... _______" statement re-framing that challenge as an opportunity. Don't hint too much at what the solution might be, you should have enough of a focal point here to guide your ideas, but plenty o

[2022-06-22 13:27] laineymajor opened #43163 "[Q3 DRAFT INITIATIVE] Implement health metric dashboard for core deployment tasks"
## Problem Statement
*VFS teams, Platform, and OCTODE need a quick view of deployment health metrics to understand where improvements are needed.

*Follow your problem description up with a "How might we... _______" statement re-framing that challenge as an opportunity. Don't hint too much at what the solution might be, you should have enough of a focal point here to guide your ideas, but plenty o

[2022-06-22 13:29] laineymajor opened #43164 "Transition appropriate products and services from Console UI to Release Tools"
## Problem Statement
*Spike Teams' contract ends September 11, 2022, and we need to keep services (that spike teams currently own) running for our VFS application teams, while not slowing progress of the Console.

*How might we transition the following [appropriate] products/features from the Console UI team to release tools team, in a way that minimally disrupts Console progress.

- Infrastructur

[2022-06-22 13:29] laineymajor opened #43165 "[Q3 DRAFT INITIATIVE] Transition appropriate products and services from Console UI to Release Tools"
## Problem Statement
*In a couple of sentences, describe the Who, What, Why, and Where of the challenge / pain point you seek to address.*

*Follow your problem description up with a "How might we... _______" statement re-framing that challenge as an opportunity. Don't hint too much at what the solution might be, you should have enough of a focal point here to guide your ideas, but plenty of freed

[2022-06-22 13:31] jjulian commented on #43048
I don't think so, most important is allowing new org members to immediately open issues and PRs on va.gov-team and va.gov-platform-architecture

[2022-06-22 13:33] JoeTice opened #43166 "Configure Google Lighthouse Plugin in Platform Console"
## Problem Statement
*In a couple of sentences, describe the Who, What, Why, and Where of the challenge / pain point you seek to address.*

*Follow your problem description up with a "How might we... _______" statement re-framing that challenge as an opportunity. Don't hint too much at what the solution might be, you should have enough of a focal point here to guide your ideas, but plenty of freed

[2022-06-22 13:34] JoeTice opened #43167 "Configure Google Lighthouse Plugin in Platform Console"
## Problem Statement
*In a couple of sentences, describe the Who, What, Why, and Where of the challenge / pain point you seek to address.*

*Follow your problem description up with a "How might we... _______" statement re-framing that challenge as an opportunity. Don't hint too much at what the solution might be, you should have enough of a focal point here to guide your ideas, but plenty of freed

[2022-06-22 13:48] calquisola commented on #41446
deployed in argocd.
We have a pending[ PR](https://github.com/department-of-veterans-affairs/vsp-infra-application-manifests/pull/598) for config fixes

[2022-06-22 13:58] rsmithadhoc commented on #42743
- Most of the time downloading any required artifact is what takes the most time.
- However, there are some steps that use the same artifact and it downloads in a few seconds. I'm unsure why that is, but I will try running these diagnostics to see what it might reveal. https://github.com/actions/toolkit/blob/master/docs/action-debugging.md#how-to-access-step-debug-logs
- Have not seen anything els

[2022-06-22 14:11] OptionSelect commented on #36502
Data has been fixed causing incorrect state to no longer be reached. User should not have data and we display as such in the CDP.

![image.png](https://images.zenhubusercontent.com/61fc34bdeb6088eace717afe/01d5beff-4dbd-4949-9418-ed60c9ca99f0)

[2022-06-22 14:11] #36502 closed

[2022-06-22 14:15] michelle-dooley commented on #42541
@jonathan-epstein13 @chloedotbrown @pavanhothi - so is this one complete then, are we ready to let the VANotify team their updates have made?

[2022-06-22 14:19] jbritt1 commented on #154
With this info from @pjhill, could this one be closed at this time?

[2022-06-22 14:20] michelle-dooley commented on #42539
@chloedotbrown thanks for identifying and fixing the ETL. I do not think it warrants a communication as long as the dictionary is in sync.  If we get questions then we can communicate it out but I don't think we will.

@jonathan-epstein13 just let us know once you have been able to complete this last bit of QA

[2022-06-22 14:22] jbritt1 commented on #3787
Bump

[2022-06-22 14:23] chloedotbrown commented on #42627
Great, just sent out an invite! @shiragoodman, I've included Sarah and Chase from your team since I know they've been working on this, but feel free to add anyone else who should be there to the invite. Look forward to chatting then!

[2022-06-22 14:25] mchelen-gov opened #43168 "Link says "Directions for new VFS team members" and destination includes new VFS teams"
### Description

https://depo-platform-documentation.scrollhelp.site/getting-started/platform-orientation#PlatformOrientation-OurProcess links to
[Directions for new VFS team members](https://depo-platform-documentation.scrollhelp.site/getting-started/Guidance-for-new-teams-and-team-members.2132803700.html#Guidancefornewteamsandteammembers-NewVFSTeammembers) however the page also includes directio

[2022-06-22 14:26] jbritt1 commented on #17585
Opening a convo on this one with the team: https://dsva.slack.com/archives/CTYQL39FE/p1655907899502919

[2022-06-22 14:30] michelle-dooley opened #43169 "Data QA - Document Standardized Dashboard GA Equivalents"
## Issue Description
As part of the Data QA processes documentation we need to complete the [Data QA - Standardized Dashboard GA Equivalents](https://vfs.atlassian.net/wiki/spaces/AT/pages/2234286081/Data+QA+-+Standardized+Dashboard+GA+Equivalents) subpage under "How to Data QA Domo dashboards" section in Confluence

---
## Tasks
- [ ] Complete any missing GA Equivalent and GA Assets sections
- [

[2022-06-22 14:31] jbritt1 commented on #24866
Awaiting team feedback: https://dsva.slack.com/archives/CTYQL39FE/p1655826375146319

[2022-06-22 14:32] michelle-dooley commented on #41932
@chloedotbrown and @jonathan-epstein13 - link to the new [GA Equivalents ticket](https://github.com/department-of-veterans-affairs/va.gov-team/issues/43169).

[2022-06-22 14:35] #42526 closed

[2022-06-22 14:37] #42525 closed

[2022-06-22 14:38] #42532 closed

[2022-06-22 14:43] michelle-dooley opened #43170 "BQ - Form User Completion Connector - Decommission "form_name" field"
## Issue Description
The BQ - Standard Forms User Completion connector didn't get its join conditions updated when the Forms Funnel table changed the name of the form_name field in use to form_name1. In the future, I think we should decommission the current form_name field which contains the version name, and use the one we're actually using in that name. It's not being used anywhere, and this is

[2022-06-22 14:46] zlaw commented on #42430
HI @shiragoodman,

As a delivery manager, do I have to schedule the events under all practice areas?

Thanks,
Zack

[2022-06-22 14:46] SKasimow commented on #38727
@cgednalske -thanks....closing!

[2022-06-22 14:46] #38727 closed

[2022-06-22 14:48] AGarcia-Clarity opened #43171 "My VA Redirect current page bug"
## Issue Description
Fixes a bug in the My VA Redirect body of work in which the redirect does not allow the `.current-page` class to be added to the My VA link in the menu.  This bug occurs because the `postLogin=true` query parameter is appended after a successful login and the mega menu link data does a one-to-one strict equality match.

## Tasks
- [x] Update the `flagCurrentPageInTopLevelLinks

[2022-06-22 14:49] skylerschain commented on #41818
Proposed solution:
– Number the headers to differentiate them
– Update the section header to "Additional evidence submitted" since "submit" is the verb we use above, not "file" (previous version).

![UniqueHeaders](https://user-images.githubusercontent.com/95102058/175059138-29cad7d2-2f09-4030-af1f-da2e057e3349.png)

[2022-06-22 14:49] shiragoodman commented on #42627
great! thank you @chloedotbrown .

[2022-06-22 14:53] mmiddaugh commented on #39329
Looping in @dsinla who now has responsibility for the Vet Center product

[2022-06-22 14:54] #43165 closed

[2022-06-22 14:54] shiragoodman commented on #42430
lol good question @zlaw ! we don't have too many Delivery Managers supporting VA.gov teams, so we don't really have an official recommendation. If you'd like to, you can. You'll definitely learn a lot about the different roles across VA.gov.

Platform does not validate that each new team member attends these orientation sessions. We provide them so team members can get up to speed quickly, but we

[2022-06-22 14:55] vbellissimo commented on #42170
@SSimmorins to follow up to see if we can get screenshot version of this image.

[2022-06-22 14:56] zlaw commented on #42430
Thanks, @shiragoodman!  Since there is no rush, I'll just schedule them as time allows.

[2022-06-22 14:59] jonathan-epstein13 commented on #43148
Confirmation on the access of GA, GTM and Domo. 6/21.

[2022-06-22 14:59] #43148 closed

[2022-06-22 15:03] #43139 closed

[2022-06-22 15:03] shiragoodman commented on #43139
closing as this is duplicate of #43140

[2022-06-22 15:05] jonathan-epstein13 commented on #42539
@michelle-dooley the last QA that I need help with was the abandonment section and @chloedotbrown was able to help with that BQ side of things. so we are good to go. I can post the entire QA-GA to the [ticket#41512 ](https://app.zenhub.com/workspaces/platform-analytics--insights-61d4d14f8de56e001c840a72/issues/department-of-veterans-affairs/va.gov-team/41512) What are your thoughts @chloedotbrown

[2022-06-22 15:10] jbritt1 commented on #41663
@zachclarity is this a duplicate of https://github.com/department-of-veterans-affairs/va.gov-team/issues/41738? If so, can this be closed?

[2022-06-22 15:13] niradatta1 commented on #42107
Looks good, approved @brianseek

[2022-06-22 15:18] outerpress commented on #42386
Completed, see https://github.com/department-of-veterans-affairs/vets-design-system-documentation/pull/927#issuecomment-1155763000

[2022-06-22 15:18] #42386 closed

[2022-06-22 15:19] brianseek commented on #42107
closing with UX approval!

[2022-06-22 15:19] #42107 closed

[2022-06-22 15:24] jbritt1 commented on #41703
Awaiting feedback on if this is a duplicate of #39887 or vice versa: https://github.com/department-of-veterans-affairs/va.gov-team/issues/39887#issuecomment-1163255281

[2022-06-22 15:25] wesrowe commented on #43141
@briandeconinck, thanks for the clear steps to reproduce. You educated us on a use case we weren't aware of – the cause is that we implemented the banner in the desktop header only, thinking ie11 is unlikely to be used in a manner that uses the separate mobile header (which triggers at narrow screen widths). We're looking into adding this asap.

[2022-06-22 15:30] chloedotbrown commented on #42688
I'm still working on developing KPIs for Copay Balance and Benefit Debt portals - but here is the [WIP Discovery Spreadsheet](https://docs.google.com/spreadsheets/d/1GlcJ2rmmlA-K9uzaeiu9KoF-NantyP4xwYcLbn9JjlI/edit#gid=2091635579).

[2022-06-22 15:38] iriteshp commented on #43158
SOCKS access granted. Please continue with [the guide](https://depo-platform-documentation.scrollhelp.site/getting-started/Internal-tools-access-via-SOCKS-proxy.1821081710.html) to establish a connection to SOCKS proxy. If you run into any issues, please feel free to reach out in the [#vfs-platform-support](https://dsva.slack.com/archives/CBU0KDSB1) channel using the [support request workflow](htt

[2022-06-22 15:38] #43158 closed

[2022-06-22 15:48] #42854 closed

[2022-06-22 15:53] jhouse-solvd commented on #39887
@jbritt1 - Thanks for asking! #41703 is the issue for the Platform Infrastructure team (that we will try to tackle this sprint), and this issue is for the Console Services team to track the configuration that they will be doing once we help install the integration. I've removed the "operations" label to make it more clear. Both issues can stay.

[2022-06-22 15:55] jbritt1 commented on #39887
Ahhh that makes sense, thank you for clarifying and adjusting the labels accordingly @jhouse-solvd!

[2022-06-22 15:56] cbrizen opened #43172 "Adding [Brandon Marrone & Jason Graham] to DSVA Slack"
# Description

brandon.marrone@va.gov is a new developer that just joined the Long COVID team and needs full member access to #health-care-products-all-teams  #long-covid-team #long-covid-public

jason.graham@thoughtworks.com is a new Product Manager that just joined the Long COVID team and needs full member access to #health-care-products-all-teams. #long-covid-team #long-covid-public

[2022-06-22 15:57] shiragoodman commented on #42848
@Damjan234 can you please clarify your VFS team? I am not familiar with "VA SM"

FYI @jonathan-epstein13

[2022-06-22 16:09] jbritt1 opened #43173 "[Investigate] Reserved Instances"
## Description
Reserved instances used to be used here a long time ago for more cost efficiency. Perhaps after we migrate to EKS fully or when our AWS account gets separated out (further divide with us and other services with full operations teams)

## Background/context
Old scripts removed in https://github.com/department-of-veterans-affairs/devops/pull/11443, but dropping here for awareness

---

[2022-06-22 16:09] scottymeyers commented on #41350
I've created 2 new tickets related to discoveries whilst working on this ticket:

1. https://github.com/department-of-veterans-affairs/vets-website/issues/21426
2. https://github.com/department-of-veterans-affairs/vets-website/issues/21428

[2022-06-22 16:15] laurwill commented on #41877
Also! Re: which benefits we should be comparing — I looked at the [GI Bill Comparison Tool](https://www.va.gov/education/gi-bill-comparison-tool/), and that compares Post 9/11, MGIB-AD, MGIB-SR, Fry, DEA, and VR&E. I would expect this page to compare the same programs that appear in the tool, but we'll still need to confirm.
<img width="535" alt="Screen Shot 2022-06-22 at 12 09 33 PM" src="https:/

[2022-06-22 16:16] sshein commented on #43020
hi! yeah that all makes sense. My [FAQ is more around slack and why we use slack in the open](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/onboarding/vsa-slack-guidance.md#Frequently-Asked-Questions) but that could be worked in somehow?

[2022-06-22 16:19] AGarcia-Clarity opened #43174 "Fixes Sign in Service bugs"
## Issue Description
There are two minor issues 1.) The API side has changed the Sign in Service URL from a type parameter to a query parameter to reduce the number of URLs needing to be parsed and 2.) Fixes a minor bug with the Unified Sign in Page (USiP) redirecting with Google Analytics' client id parameter.

## Tasks
- [x] Changing the Google Analytics `client_id` to `ga_client_id` to not inte

[2022-06-22 16:20] #41460 closed

[2022-06-22 16:20] kalbfled commented on #42524
[This section](https://depo-platform-documentation.scrollhelp.site/getting-started/welcome#Welcome-Informationarchitecture) contains a broken link.

[2022-06-22 16:23] #41669 closed

[2022-06-22 16:28] #13715 closed

[2022-06-22 16:28] jbritt1 commented on #13715
Closed, feel free to reopen if needed.

[2022-06-22 16:30] shiragoodman commented on #42524
@kalbfled can you double check those links? I just gave you access to vets.gov-write, so if you were getting 404s before, they shouldn't be happening now.

[2022-06-22 16:31] oseasmoran73 commented on #42691
private_locations new ones were created. No need to migrate

[2022-06-22 16:33] kalbfled commented on #42524
I no longer get redirected for "Here's how to write great back end code for VA.gov solutions", but I still get 404 for [this](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/information-architecture/url-guidelines.md).

[2022-06-22 16:38] andaleliz commented on #42020
@Samara-Strauss thanks for reaching out to Michael about this!  Feels like we're on our way to getting this one set up.

Wrt to the edu use cases, I'll leave that to you whether or not you'd like to pursue working with BGS to set up these use cases. For now, I can identify the gap in the documentation.

Awesome to know about googling routing numbers! I'll add that to the docs too.

[2022-06-22 16:39] jhouse-solvd commented on #43000
John recommends breaking this out into sub-tasks, ie monitors, dashboards, and synthetic tests. Let's see how we can break this down and assign sub-tasks to other team members.

[2022-06-22 16:40] shiragoodman commented on #42524
Can you take a screen shot of where "this" is linked on Platform Website?

[2022-06-22 16:41] acrollet commented on #36483
@loripusey fysa we're pulling this into the current sprint since we're running low on work and it has potential veteran impact.

[2022-06-22 16:43] kalbfled commented on #42524
![urls_404](https://user-images.githubusercontent.com/5375929/175092041-f8d7b883-c3c4-4380-93df-14f070cfd502.jpg)

[2022-06-22 16:44] acrollet commented on #36855
@benbrasso-agile6 @kristenmcconnell @niradatta1 re-pinging on this, we've seen occasional pre-checkin attempts for canceled appointments where the veteran gets a generic error.

[2022-06-22 16:46] acrollet commented on #34649
Closing as this is edit-related.

[2022-06-22 16:46] #34649 closed

[2022-06-22 16:51] acrollet opened #43176 "[TIMEBOXED] [FE] [SPIKE] "Definition" is being read by screen readers after each definition list item"
## Timebox
Timeboxed to 1/2 day

## Background

Jose Beltran reported the following:

I asked for clarification and he said:

after the text Any Street is read, talk back also says definition. When I swipe to the next element Home address and talk back reads Not available, talk back says definition and so forth. I saw this behavior throughout all the form screens.

@brianseek mentioned that the pl

[2022-06-22 16:55] lihanli commented on #43084
if the error alert threshold is lowered then it will be able to notify us when errors happen. basing it on successful submissions could cause a lot of false alarms.

[2022-06-22 16:57] Damjan234 commented on #42848
Hi,
Adding Bryan to clarify.

Thanks,
Damjan

From: shiragoodman ***@***.***>
Sent: Wednesday, June 22, 2022 11:58 AM
To: department-of-veterans-affairs/va.gov-team ***@***.***>
Cc: Damjan Talev Petrovski ***@***.***>; Mention ***@***.***>
Subject: Re: [department-of-veterans-affairs/va.gov-team] Platform Orientation Template [Damjan Talev Petrovski] (Issue #42848)

[CAUTION: This email originated

[2022-06-22 17:04] zachclarity opened #43178 "SRE Ongoing Support"
We provide support for three key teams in the support channel.   We are working to automate , but some things will still need our manual intervention.

[2022-06-22 17:09] tayism commented on #43146
If we survey folks on what they use for communication, it would be helpful to add a question about "Role". I am wondering if we will see any through-lines to Role and the types of communication channels folks use. Do they change at the practice level?

[2022-06-22 17:11] katherine-fung commented on #42704
**"About COVID-19 vaccines" and campaign landing pages:**

We don't discuss eligibility on these pages, so I don't think we need to add any notes here, but I do want to flag **one sentence on both pages** we may want to look at changing. The sentence is bolded in the following paragraph:

When you get a COVID-19 vaccine, you help protect your family, friends, and community. When enough people in a

[2022-06-22 17:13] jonathan-epstein13 commented on #42524
Was already added to the VFS team roster.

[2022-06-22 17:15] vbellissimo opened #43179 "Reply to Support Tickets"
USER STORY

As a content team member,
I need to reply to a support ticket reporter,
so that our ticket reporter knows the issue is being acknowledged and handled by our team.

DESCRIPTION

ACCEPTANCE CRITERIA

An initial acknowledgment reply will be sent from the content team to the content support reporter.

[2022-06-22 17:15] vbellissimo opened #43180 "Twice Weekly Deploy"
USER STORY

As a content team,
we need to review any new content changes made on the platform,
so that we can deploy every Tuesday and Thursday of the week.

DESCRIPTION

ACCEPTANCE CRITERIA

Someone from our team will use Scroll Viewport to publish at NOON EST on:

- [x] Thursday 6/23 - @amygoldman
- [x] Tuesday 6/28 - @taylojill
- [x] Thursday 6/30 - @taylojill
- [x] Tuesday 7/5 - @laucon

[2022-06-22 17:16] vbellissimo opened #43181 "Monitor & Triage New Support Tickets"
USER STORY

As a content team,
we need to monitor the "new" column in the support tickets board,
so that we can triage the problem if it does not belong to someone within our team OR needs to be handled by our team.

DESCRIPTION

ACCEPTANCE CRITERIA

If the issue is related to another team, it will be assigned to a point of contact of that team with a message to follow up on the issue.

Add the la