[2021-08-30 19:46] mmiddaugh opened #29481 "Test new provider grouping logic for Facility Locator"
## Issue Description
the new API for provider grouping has been deployed to INT/non-prod for testing. We need to test and provide feedback.

---
## Tasks
- [ ] test new provider grouping logic

## Acceptance Criteria
- [ ] Feedback on new provider grouping logic is documented and provided to PPMS team by Thursday, September 2.

[2021-08-30 19:49] mdewey commented on #28491
All of these should be in staging.

[2021-08-30 19:49] #28491 closed

[2021-08-30 19:50] dneel-bah opened #29482 "IA Feedback - Staging Review - Update URL of profile page to use name instead of ID"
### General Information

#### VFS team name
Education Application (BAH)

#### VFS product name
Comparison Tool Redesign

#### Point of Contact/Reviewers
Mikki Northuis (IA)

---

## What happened?
URL for detail page - I would encourage replacing the ID used in the URL string with the actual facility name.

## Steps to Reproduce
- URL: https://staging.va.gov/gi-bill-comparison-tool-sandbox/profile

[2021-08-30 19:53] dneel-bah opened #29483 "IA Feedback - Staging Review - Consider using a different delimiter in the URL in place of a space to prevent encoding"
### General Information

#### VFS team name
Education Application (BAH)

#### VFS product name
Comparison Tool Redesign

#### Point of Contact/Reviewers
Mikki Northuis (IA)

---

## What happened?
Consider using a different character as a delimiter for the URL parameters on the compare page rather than a space which must be encoded.

## Steps to Reproduce
- URL: https://staging.va.gov/gi-bill-comp

[2021-08-30 19:53] rebeccawalsh commented on #29171
Thinking this use case will be a part of the 'copay obligations' work that encompasses copay schedules, priority groups, etc.

[2021-08-30 19:54] jennaouellet commented on #28943
@bsmartin-ep

The load time did increase a bit, here are the ranges I'm getting from the console:

Normal load time - 1.26s - 1.97s
Load time with translate tracking - 2.64s - 3.04s

As an end user there was not a noticeable lag on my end between the two.

The Lighthouse reports showed negligible differences; some of that is due to the GTM Preview's load on top of the page itself.

[2021-08-30 19:57] dneel-bah opened #29484 "IA Feedback - Staging Review - VET TEC Filters"
### General Information

#### VFS team name
Education Application (BAH)

#### VFS product name
Comparison Tool Redesign

#### Point of Contact/Reviewers
Mikki Northuis (IA)

---

## What happened?
What is the sub-option under VET TEC providers for? For schools, the additional options are labeled for the user to exclude school types. For this option, are they including or excluding?

## Steps to Re

[2021-08-30 19:58] mdewey commented on #28326
After working with Platform, this should be addressed in staging.

[2021-08-30 19:58] mdewey commented on #28327
This should be resolve in staging.

[2021-08-30 19:58] mdewey commented on #28328
This should be resolve in staging.

[2021-08-30 19:59] dneel-bah opened #29485 "IA Feedback - Staging Review - Consider improving compare page highlight differences content"
### General Information

#### VFS team name
Education Application (BAH)

#### VFS product name
Comparison Tool Redesign

#### Point of Contact/Reviewers
Mikki Northuis (IA)

---

## What happened?
The "*Highlight differences" option label should be a bit more descriptive and the use of the asterisk in the label of the input is confusing. Consider a more descriptive label for the selection, then sh

[2021-08-30 20:01] kelsonic commented on #29278
PRs merged, will go out with daily tomorrow 🙂

[2021-08-30 20:05] allison0034 commented on #27575
@shiragoodman these group emails will need to have the oddball.io domain. Is that ok? I was thinking the following...

design.intent@oddball.io
midpoint.review@oddball.io
staging.review@oddball.io

[2021-08-30 20:11] shiragoodman commented on #28185
Orientation is already broken out by role, and it is challenging to look at an inventory and decide what's missing. In the MVP, we can make assumptions about which content is relevant to which VFS-team role. We can get VFS team feedback on the MVP and iterate from there if needed.

Because this ticket is not necessary for the MVP, it will be closed.

[2021-08-30 20:11] #28185 closed

[2021-08-30 20:13] shiragoodman commented on #26951
Platform already has a very good understanding of the various VFS team roles and responsibilities. This ticket could be considered above and beyond, and it not necessary for our MVP. We'd like to get feedback from VFS teams post MVP release and can iterate on Orientation based on VFS team feedback.

This ticket will be closed.

[2021-08-30 20:13] #26951 closed

[2021-08-30 20:18] shiragoodman commented on #28183
We are aware that Platform teams are already focusing on moving their content/guidance to Platform Website (bc of Platform Objective #1). We do not want to include reaching out to additional platform teams as our Platform Orientation MVP. This is something we could return to in a later phase of Platform Orientation.

This ticket will be closed out.

[2021-08-30 20:18] #28183 closed

[2021-08-30 20:20] shiragoodman commented on #28881
This work does not need it's own individual ticket. Having a defined Platform product owner will be part of the acceptance criteria for all content included in the MVP.

This ticket will be closed.

[2021-08-30 20:20] #28881 closed

[2021-08-30 20:23] pjhill commented on #28768
@rjohnson2011 -- This looks great! Go ahead and publish, please!

[2021-08-30 20:24] shiragoodman commented on #28867
@allison0034 can you link the new template here? feel free to close out once linked.

[2021-08-30 20:25] #28793 closed

[2021-08-30 20:25] #28865 closed

[2021-08-30 20:27] joeniquette commented on #28977
Diagram completed and approved.

[2021-08-30 20:34] k80bowman opened #29486 "Migrate FE Tools Documentation to Confluence - Group 8"
## Narrative
The purpose of this initiative is to move all of our VSP-facing documentation to the [new documentation site](https://depo-platform-documentation.scrollhelp.site/index.html) (AKA the “Scroll Viewport Site”). Before we move it there, however, we are putting it into Confluence inside of our [Front End Tools Team space](https://vfs.atlassian.net/wiki/spaces/FTT/overview) so that it can b

[2021-08-30 20:40] LinnJS commented on #26209
We will tackle this when VBS team communicates production env configuration details.

[2021-08-30 20:40] olivereri opened #29487 "Remove Trailing Periods from Terminal Commands"
### Description
Some of the instructions include commands to be run in the terminal. A few of these commands include a period at the end of the command that may cause the command to fail. This in turn may cause setup friction for team members not well versed with Terminals/CLI. If scrollhelp/confluence supports it, javascript copy-to-clipboard buttons could be helpful.

### Relevant URLs

![image]

[2021-08-30 20:40] jhouse-solvd commented on #16156
Seems like we are probably in a good place where all of these resources can be safely archived/decomissioned.

[2021-08-30 20:42] LinnJS commented on #29248
Waiting on production config details for this ticket as well.

[2021-08-30 20:44] shiragoodman commented on #27575
i think that would be fine. @andreahewitt-odd do we need to get special approval for creating an email group?

[2021-08-30 20:46] k80bowman commented on #29486
These are all done. The table below has the details. @timwright12 would you be available to review?

| Original Doc | Confluence Doc | Notes |
| ------------ | ---------------- | ------ |
| [Metalsmith static site](https://department-of-veterans-affairs.github.io/veteran-facing-services-tools/platform/architecture/static-site) | [Site build process](https://vfs.atlassian.net/wiki/spaces/FTT/pages/

[2021-08-30 20:47] joeniquette commented on #26795
[This confluence page](https://vfs.atlassian.net/wiki/spaces/VI/pages/1855127645/Data+Query+List) has a query which allows us to make a report for all multiple ID related logins. This list will be used to send to the proper team within the VA to help speed up the resolution. Any out of band requests should still go through the help desk, but I certainly dont mind pinging the group that can fix thi

[2021-08-30 20:47] #26795 closed

[2021-08-30 20:49] jhouse-solvd commented on #29277
https://app.zenhub.com/workspaces/platform-operations-team-6112bc325f570300140f7852/issues/department-of-veterans-affairs/va.gov-team/27159 <-- see here

[2021-08-30 20:50] SgardnerPMP opened #29488 "[Tech-Debt] Updated Playbook of System and Facility Health services for St Louis/Jefferson Barracks and load into CMS [BA]"
## Story
As a CMS editor, I need all system and facility health services loaded, so I can validate that the services have been loaded correctly for the Veteran

## Goal
Update all sites/facilities with correct health care services

## Task
Update System and Facility health service in playbook and CMS system for the following:
- [x] Jefferson Barracks (St Louis health care)
- [x] Greater LA

## Acc

[2021-08-30 20:55] joeniquette commented on #29011
Should I be able to go to [this link ](https://tagassistant.google.com/#/?id=GTM-WFJWBD&url=https%3A%2F%2Fstaging.va.gov%2F&source=TAG_MANAGER&gtm_auth=Q_Y1VpodSWbLiQBhp_NbJg&gtm_preview=env-1648) and be able to see all the gtm related cookies marked as secure?

[2021-08-30 20:57] rileyorr opened #29489 "'Notice of rights and responsibilities' content assistance from the debt resolution team"
## What does your team need support for? Check all that apply.
- [ ] Launching one or more new unauthenticated (static) VA.gov pages
- [ ] Making revisions to one or more existing unauthenticated (static) VA.gov page
- [x] Launching a new online form, app, or tool on VA.gov
- [ ] Making revisions to an existing online form, app, or tool on VA.gov
- [x] Something else (please add details in the nex

[2021-08-30 20:59] bethpottsVADEPO commented on #17605
@lwalsh617 I see, yes, that makes more sense. I think originally the example was too involved, but now that it's simplified, it makes sense to include. Thank you! I will update the drupal node.

[2021-08-30 21:02] mnorthuis commented on #29278
No worries, just thought I'd see if it was an option to piggy back on this, but don't want to hold this up either.

[2021-08-30 21:03] mpelzsherman commented on #28249
The current behavior of the metalsmith plugin has a bug, as defined by the product owner.
It should not render a "table-of-contents" element if there are no jump links present in the content.
The PR linked above fixes that bug.
If we want to migrate to `va-on-this-page`, we will have to fix the bug there first.

[2021-08-30 21:03] rileyorr commented on #27780
Dropping this here so we can reference it later:

- Ticket for 'notice of rights and responsibilities' content strategy assistance (#29489

[2021-08-30 21:10] caw310 opened #29490 "Back to top design"
As follow up to the Back to Top audit, define the ideal design for the Back to top component.

- [ ] Create back to top design based on audit findings
- [ ] Present designs to DST (including Ryan and Kevin) for feedback
- [ ] Draft documentation on when to use, when not to use
- [ ] Finalize design and documentation
- [ ] Share design with developers for hand off

[2021-08-30 21:17] allison0034 commented on #28867
[Collab cycle feedback staging template](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/.github/ISSUE_TEMPLATE/collab-cycle-feedback-staging.md)

[2021-08-30 21:17] #28867 closed

[2021-08-30 21:18] allison0034 commented on #27575
@andreahewitt-odd I don't have access. Do you know who does?

[2021-08-30 21:34] ltrombley commented on #29196
Task #29196 - Prepare Bedford health care for Dual-state VISN-1 [VAMC] - is Complete & Pending loading into Tugboat

[2021-08-30 21:40] CBonade commented on #29405
Lots of progress on this today!  The workflow has been split and removed from the CI workflow and is working. We have one more hurdle to go over as our check for `Cypress Tests Summary` is no longer showing up separately. Once we get that figured out, it's all set.

[2021-08-30 21:41] CBonade commented on #28265
Access was given, however it has incorrect permissions. Continuing to work through this with ops.

[2021-08-30 21:43] CBonade commented on #26560
In my branch that has Nightwatch being removed, the Jenkinsfile and GHA workflows have both had Nightwatch removed.

That said, my branch is resulting in unit tests failing which seems odd to me as the unit tests have nothing to do with Nightwatch. Currently investigating and troubleshooting.

[2021-08-30 21:49] mchelen-gov commented on #28733
access approved 👍

[2021-08-30 21:50] bsmartin-ep commented on #28943
Thanks @jennaouellet.  Is "normal load time" also running through the GTM preview (of the default workspace I guess)?

[2021-08-30 21:51] mchelen-gov commented on #28057
found them, access approved 👍

[2021-08-30 21:53] jennaouellet commented on #28943
@bsmartin-ep that's correct - those lower times are from the default workspace preview

[2021-08-30 22:08] holdenhinkle commented on #28894
I updated the graph this morning:
- If an app imports a file from another app, that app that imports the file is added to the 'importee's' app's graph. It doesn't go both ways anymore because I realized it doesn't need to during a dream-code session.
- Added more information to the graph that's useful for manual testing, other teams, etc.

Sample of updated graph:

[code]

Peter and I refined the

[2021-08-30 23:58] #28886 closed

[2021-08-30 23:58] jhouse-solvd commented on #28886
@adamwhitlock1 and team are currently validating.

We can re-open this issue (or create a new one) if add'l work or customization is needed.

Closing.

[2021-08-31 00:01] SKasimow commented on #28943
@bsmartin-ep If we are able to capture the original language of the page, that would be a nice-to-have.

[2021-08-31 00:03] jhouse-solvd commented on #26519
This is done for now. Please see linked PRs.
If we decide to move forward w/ Pomerium, we'll determine what documentation may be necessary.

Closing.

[2021-08-31 00:03] #26519 closed

[2021-08-31 00:05] #28620 closed

[2021-08-31 00:05] jhouse-solvd commented on #28620
This is done. Please see the documents linked in the previous comment.

Closing.

[2021-08-31 00:41] laurensimpson14 commented on #29160
## QA

**regex:**
`www.va.gov/[^/]+-vet-center`

### Highlights

Chart title | Assets | Pass / Fail
-- | -- | --
Usage trends |  Unique Engagements: [custom report](https://analytics.google.com/analytics/web/template?uid=3OW7IOZGT2iqDQYkRElziQ)<br>Unique Sessions: [custom segment](https://analytics.google.com/analytics/web/template?uid=hZ6CPl-eRM2KGjxyc8jDQQ)   |  :green_circle: PASS
Unique users

[2021-08-31 00:43] laurensimpson14 commented on #29160
@mmiddaugh QA has been completed and Vet Center content is now on the [Content KPI Dashboard](https://va-gov.domo.com/page/426422632?userId=1292731753)! You can view your data by filtering the product at the top of the dashboard to be `Vet Center pages`.

I'll close this ticket, though feel free to follow up if you have any questions.

[2021-08-31 00:43] #29160 closed

[2021-08-31 01:34] jwoodman5 commented on #28134
Notes are [here](https://vfs.atlassian.net/wiki/spaces/Contact/pages/1855357407/Notes+from+Review+of+Tier+2+Escalation+Flow+Chart). We will pursue handling cases from within Salesforce as our primary process improvement. Other enhancements will be pursued as well.

[2021-08-31 01:34] #28134 closed

[2021-08-31 01:53] jwoodman5 commented on #28137
https://vfs.atlassian.net/wiki/spaces/Contact/pages/1855357416/VA+Medallia+Satisfaction+Score+Plan

[2021-08-31 01:53] #28137 closed

[2021-08-31 02:37] tlei123 opened #29491 "Research Percy automated visual testing"
Research possible implementation of Percy automated visual testing.  Open-source BrowserStack accounts include Percy, and we should leverage this tool to improve visual-testing quality.

[2021-08-31 02:39] jhouse-solvd commented on #28805
It looks like this is good to go. Please see the example linked in the previous comment.

Closing.

[2021-08-31 02:39] #28805 closed

[2021-08-31 02:41] jhouse-solvd commented on #29180
It looks like this is good to go. Please see the previous comment.

Closing.

[2021-08-31 02:41] #29180 closed

[2021-08-31 02:45] jhouse-solvd commented on #28083
We're good on this one.

Closing.

[2021-08-31 02:45] #28083 closed

[2021-08-31 02:56] jhouse-solvd commented on #29277
This is good to go.

Closing.

[2021-08-31 02:56] #29277 closed

[2021-08-31 02:59] jhouse-solvd commented on #28666
The doc is looking good.

Closing.

[2021-08-31 02:59] #28666 closed

[2021-08-31 03:03] jhouse-solvd commented on #29400
Confirmed that Sentry is using the DSVA ECR.

Closing.

[2021-08-31 03:03] #29400 closed

[2021-08-31 03:04] mydesignrocks commented on #29457
/request Natalie Dunbar

[2021-08-31 03:13] #28665 closed

[2021-08-31 03:13] jhouse-solvd commented on #28665
We decided to revisit this after we get some feedback from developers.

Closing.

[2021-08-31 03:13] jhouse-solvd commented on #28669
We decided to revisit this after we get some feedback from developers.

Closing.

[2021-08-31 03:13] #28669 closed

[2021-08-31 03:19] jhouse-solvd commented on #28668
We decided to revisit this after we get some feedback from developers.

Closing.

[2021-08-31 03:19] #28668 closed

[2021-08-31 03:19] jhouse-solvd commented on #29402
It looks like this is working.

Closing.

[2021-08-31 03:19] #29402 closed

[2021-08-31 03:21] jhouse-solvd commented on #17235
See [HERE](https://vfs.atlassian.net/wiki/spaces/OT/pages/1792114735/Onboard+New+Team+Members+Granting+Access+to+Internal+Tools) for new, documented workflow.

Closing.

[2021-08-31 03:21] #17235 closed

[2021-08-31 03:27] jhouse-solvd commented on #24057
This is fully up and running in Dev. Once we are ready, we can bring it live in staging, prod environments. We will want to set up monitoring and alerting for this service when we do...

Closing.

[2021-08-31 03:27] #24057 closed

[2021-08-31 03:30] jhouse-solvd commented on #29397
Checked it out. This looks good to go.

Closing.

[2021-08-31 03:30] #29397 closed

[2021-08-31 04:06] jennaouellet commented on #28936
The GTM content from the current github documentation is already live in Confluence within the data dictionary. The QA section is in the WIP-Google Tag Manager Implementation & QA doc that has already been audited. Before publishing that one, we will need to add the information on non-prod events.

[2021-08-31 12:11] sonntag-adam commented on #28902
https://dsvavsp.testrail.io/index.php?/runs/view/2165&group_by=cases:section_id&group_order=asc

[2021-08-31 12:11] #28902 closed

[2021-08-31 12:25] dneel-bah commented on #29257
@ddzz FYSA: I made this issue an epic and created individual tickets for the feedback so they can be closed out individually.

[2021-08-31 12:40] MarciMcGuireGCIO commented on #26562
@RLHecht I cc'd your VA email address on a couple of emails related to getting PDF forms updated.

[2021-08-31 12:43] timwright12 commented on #29486
@k80bowman

**TeamSite overview**

There's a "locate here" link under "Charles Proxy" that points to an old URL (we should migrate that content as well). I also removed "whitelist" from this doc in all the places I could, but there's 1 instance that's a filename - we'll want to make a note about that so we can update.

**VA.gov content management system overview**

Just need to remove the content

[2021-08-31 12:49] DanielleThierryUSDSVA commented on #25887
Thank you again to @lunascoop for building this page and for the great recommendation on accordions and a subhead for the top section.

Adding a status note: @miabecker and I spoke via slack about next steps, and I provided some additional notes re: sending for an accuracy check. Maria will send to legal expert and let us know any feedback on accuracy.

In the meantime, @RLHecht, could you give th

[2021-08-31 13:05] delli-gatti-michael commented on #29338
@AngelaFowler82 The fix for this is on staging and ready for review here:
https://staging.va.gov/gi-bill-comparison-tool-sandbox/

[2021-08-31 13:18] kevinstachura commented on #29220
We have a list of the statuses and events that come from the appeals side, located here:

https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/applications/claims-status/utils/appeals-v2-helpers.jsx#L290

[2021-08-31 13:36] jeff2d2 opened #29492 "Tools BE VFS Support - Sprint 60"
As you review PRs, please add this epic to the issue so the business has visibility into our time spent supporting VFS teams.

[2021-08-31 13:37] jeff2d2 opened #29493 "Utility Developer Support Rotation - Sprint 60"
## Goal

The Backend Tools team utilizes a single resource each sprint to be the point person for a number of different things the entire team is responsible for.  This single resource will be responsible for items listed below and will have a lighter work load towards sprint objectives during the sprint in which they are assigned Utility Developer.

# Areas of Focus

## Triage Process
Monitoring

[2021-08-31 13:43] #28843 closed

[2021-08-31 13:50] LindseySaari commented on #29444
Update:

I’ve narrowed down the STI issues with non existing types/subclasses of SavedClaim. There are two types in question: `SavedClaim::DisabilityCompensation::Form526IncreaseOnly` and `SavedClaim::EducationBenefits::VA1995s`

For the `SavedClaim::DisabilityCompensation::Form526IncreaseOnly` records, it looks like `SavedClaim::DisabilityCompensation` records were migrated [here](https://github.

[2021-08-31 13:53] shiragoodman commented on #29335
hi @sonntag-adam  - it is the VFS teams responsibility to validate fixes identified by the Platform. We will not be reviewing this to verify the fix was made correctly. If you have questions, you are welcome to bring them to Collab Cycle Office Hours on Wednesday 11:30am-12pm ET.

[2021-08-31 13:54] LindseySaari commented on #29444
According to [Daniel Shawkey](https://dsva.slack.com/archives/CG6N59X40/p1630417803007000?thread_ts=1630416820.006800&cid=CG6N59X40), the VA1995s records can be deleted

[2021-08-31 14:12] rjohnson2011 commented on #28768
Published!

[2021-08-31 14:12] #28768 closed

[2021-08-31 14:15] andreahewitt-odd commented on #27575
@shiragoodman I also don't but I know @f1337 does

[2021-08-31 14:19] mmiddaugh opened #29494 "FE implementation for new VAMC Register for care content model"
## Issue Description
We need to implement the front end for the

[Register for care content model mural] https://app.mural.co/t/departmentofveteransaffairs9999/m/departmentofveteransaffairs9999/1594821112000/9932af464534c2676a2656992de3cf809cfad97b)
---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result

[2021-08-31 14:19] WillMcCormack commented on #29335
@shiragoodman how do we close out these tickets? We met with @noahgelman and Trevor on Friday and they asked us to tag them when the fixes were ready so that they could review and close the tickets.

[2021-08-31 14:21] mmiddaugh opened #29495 "FE implementation for new VAMC Medical Records content model"
## Issue Description
We need to implement the front end for the newly hardened Medical records content model

[Content model mural - Medical records](https://app.mural.co/t/departmentofveteransaffairs9999/m/departmentofveteransaffairs9999/1595862359396/4d517fc3ffe0e6e9ec9fb81ff4325a4d7d1946d4)
---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

[2021-08-31 14:25] pjhill opened #29497 "Investigate Discrepancy in TestRail Defects Dashboard vs. TestRail Data"
I noticed that the [Number of Defects by Team, Last 4 Weeks](https://va-gov.domo.com/page/947844944/kpis/details/1602020533) card is empty.

[VA Mobile App discovered and linked to 1 defect](https://dsvavsp.testrail.io/index.php?/runs/view/2138&group_by=cases:section_id&group_order=asc). (It is now closed.)

Let's try to figure out why our dashboard data ingestion did not discover this defect.

[2021-08-31 14:32] stephenBarrs commented on #27983
Hi @jennaouellet!  Should I be able to see the custom dimensions defined above when building a GA Dashboard or digging into events in GA?  So far I have not been able to see how I can see them.  Our [draft dashboard is here](https://analytics.google.com/analytics/web/?authuser=0#/dashboard/LLQpw2NQR-Wlnjz0-KX6PQ/a50123418w177519031p176188361/_u.date00=20210826&_u.date01=20210831/) for reference.

[2021-08-31 14:33] #28511 closed

[2021-08-31 14:38] mmiddaugh commented on #29462
Phone number format doesn't follow VA.gov style guide

[2021-08-31 14:42] amyknox commented on #29470
@mnorthuis - this ticket is based on the h1 / intro content launch-blocker which you shared for the Comparison Tool staging review.  Please let us know if these solutions work on your end.  Thanks!

**H1: GI Bill Comparison Tool** - We would like to keep the name of the tool as the h1 for the landing page.
* It has brand recognition - during TAPS, service members are trained on how to use the "GI

[2021-08-31 14:52] mdewey commented on #27983
Thanks for the responses @jennaouellet!

For the buttons, the text is different, they are `yes/no` buttons (UI: https://www.sketch.com/s/e79a827e-42cf-4a82-b554-874c75b5c70e/a/agzELqr/play), each with their own event.

And for the API, that all makes sense, so the API event will look like:

[code]

Does that look right? Even the underscores vs hyphens?

[2021-08-31 14:53] holdenhinkle commented on #28894
Testing is complete all tests passed except for a test to verify the `find-imports` package is, indeed, finding all the imports in a file.

Failed test - https://dsvavsp.testrail.io/index.php?/tests/view/230751&group_by=cases:section_id&group_id=1520&group_order=asc

It failed to find the following import from `src/applications/burials/config/form.js `:
`import fullSchemaBurials from 'vets-json-sc

[2021-08-31 14:53] delli-gatti-michael commented on #29374
local testing complete

[2021-08-31 14:59] shiragoodman commented on #29335
hey @WillMcCormack. We agreed to doing a second Staging Review when your team is ready. At that time, we will validate the fixes. Please keep these tickets open until them. If they're resolved, we can close them out.

[2021-08-31 15:09] WillMcCormack commented on #29335
@shiragoodman thanks for clarifying.

[2021-08-31 15:11] k80bowman commented on #29486
Good call on the whitelist change. I originally didn't change it because of the file name, but you're right. We can update the file name later.

I moved the Charles Proxy instructions to the Tools section: https://vfs.atlassian.net/wiki/spaces/FTT/pages/1857060882/Charles+Proxy+setup+for+TeamSite

And I updated the link.

Everything should be fixed now. Thanks!

[2021-08-31 15:12] zurbergram commented on #29429
Change is at the bottom of the "Calculate your benefits" section
https://github.com/department-of-veterans-affairs/vets-website/pull/18454

[2021-08-31 15:15] denisecoveyduc commented on #28512
@mgleo @srsuddath Updates our S55 priorities to reflect the current stat of things. Feel free to add a note for any backlog items you identify and give some thought to sprint demo. Let me know if you need anything, great work team!

[2021-08-31 15:20] jbalboni commented on #28580
Closing this, since the work is being done in the dropdown selector ticket.

[2021-08-31 15:20] #28580 closed

[2021-08-31 15:21] mleclerc00 commented on #25776
account created, waiting for Dina to join DSVA slack to pass on information

[2021-08-31 15:21] #29409 closed

[2021-08-31 15:23] AngelaFowler82 commented on #29338
Confirming that this is fixed. I can now navigate between "Search by name" and "Search by location" using the keyboard.

[2021-08-31 15:23] #29338 closed

[2021-08-31 15:24] mnorthuis commented on #29470
New intro copy looks good - it includes reference to the function of the tool (i.e. compare) and what is in the tool (i.e. the types of institutions).  Thanks @amyknox!

[2021-08-31 15:26] miabecker commented on #25887
Yes, thank you @lunascoop really appreciate all of your work. Bev and I sent to Nico yesterday. Thank you @DanielleThierryUSDSVA for suggesting a copy edit and @RLHecht for undertaking it. Will keep you updated when we hear back from VACO. Is there where we should do a midpoint review?

[2021-08-31 15:32] lianilychee commented on #28956
tues 8/31:
- amy - to decide if the guidance descriptions will be modified or deleted

[2021-08-31 15:35] dneel-bah commented on #29482
Copying comments from originating issue here for historical reference:

https://github.com/department-of-veterans-affairs/va.gov-team/issues/28682#issuecomment-907449563

https://github.com/department-of-veterans-affairs/va.gov-team/issues/28682#issuecomment-907889015

[2021-08-31 15:36] dneel-bah commented on #29482
Due to the above comments and IA acceptance of not using the institution name in the URL, I am closing this issue as OBE.

[2021-08-31 15:36] #29482 closed

[2021-08-31 15:37] DanielleThierryUSDSVA commented on #25887
Hi @miabecker. I'd defer to @shiragoodman on platform review timing.

Shira, wondering if this needs a midpoint review or can just go to staging since it's a content-only page? If it does need midpoint review, then I think it's okay to go ahead with that while waiting for VACO feedback and final copy edit. If staging-only, I'd suggest waiting until it's final. Thoughts?

[2021-08-31 15:38] lianilychee commented on #28955
8/31 tues:
- gretchen will triage the list of tasks for today:
  - update the [example changelog](https://sandbox-platform-website.scrollhelp.site/test-space/August-2021.1846607919.html) I made (based of august changes from eng teams)

[2021-08-31 15:39] dneel-bah commented on #29479
Copying comments from originating location for reference:

https://github.com/department-of-veterans-affairs/va.gov-team/issues/28682#issuecomment-907449563
* URL for detail page - use a term other than "/school-detail" since not all facilities shown are schools (i.e. gi-bill-comparison-tool/facility-detail/).

For the URL, unfortunately, we can't use the institution name and have to use the facil

[2021-08-31 15:44] omgitsbillryan commented on #29427
PR tested & merged. This is done.

[2021-08-31 15:46] DanielleThierryUSDSVA commented on #25887
Also, just to clarify: @RLHecht's final copy edit on this will truly be a proof (other than fixing the casing/"and" in the accordions because I'd originally deleted that content so she didn't see it in her initial pass). She already did a copy edit on the Word doc. So this is just a final double check that we didn't introduce any types or errors as we finalized/put in Drupal. Thanks!

[2021-08-31 15:51] lunascoop commented on #23161
Hi @kelsonic Are you able to do an audit of eBenefit mentions in PDFs on our site?

[2021-08-31 15:53] miabecker commented on #26830
@toddstanich to be on point while I'm out of office 9/2-9/8.

[2021-08-31 15:53] kelsonic commented on #23161
@lunascoop Find all mentions of `eBenefits` within all PDFs? I don't think I'll be able to do that unless I manually go through each one 😬

[2021-08-31 15:59] shiragoodman commented on #25887
hi @miabecker (and thank you @DanielleThierryUSDSVA) - this can most likely skip a Midpoint Review since it is content-only (that path has always been somewhat blurry), and you can go straight to Staging. The Privacy and Security Review is mandatory, however, so be sure to check out our [page on Platform Website](https://depo-platform-documentation.scrollhelp.site/collaboration-cycle/) and let me

[2021-08-31 16:03] DanielleThierryUSDSVA commented on #25887
thanks, @shiragoodman!

[2021-08-31 16:10] bevnobev commented on #25887
Adding a link to the[privacy and security review page]( https://depo-platform-documentation.scrollhelp.site/collaboration-cycle/Privacy-and-security-review.1782317101.html  ), so I don't have to hunt for it later cc: @miabecker

[2021-08-31 16:28] miabecker commented on #29464
@John-thomashill we have received your intake and get back to you soon!

[2021-08-31 16:28] miabecker commented on #29463
@John-thomashill we have received your intake and get back to you soon!

[2021-08-31 16:29] #28679 closed

[2021-08-31 16:29] allison0034 opened #29498 "Practice Area Feedback - Name of Collab Touchpoint - Name of Project"
## VFS acceptance criteria
- [ ] Let Platform know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
-

## Feedback
- **Must** = the feedback must be applied
- **Should** = the feedback is best practice
- **Consider** = suggestions/enhancements

**Must:**

**Should:**

**Consider:*

[2021-08-31 16:30] mmiddaugh opened #29499 "Restore delayed VAMC system names to robot.txt file"
## Story
Due to hurricane impact and staff changes, the go-live date for several VAMC systems has been pushed back. As a result, we need to roll back some of the changes we made to the robot.txt file (#29395 and #29153)

## Goal
Restore disallow so crawlers and browsers do not have access to VAMCs with delayed roll-outs

## Task
Restore the following system names to robot.txt file
- [ ] Central Io

[2021-08-31 16:36] jason-gcio commented on #29003
Yea I think we are thinking that this might actually be a gate: if there is no PID, they don't even want the application.  I thought I remember them saying that last time.  This ticket talks about how if VBMS is down, route to CMP as a back up and note it in the one-off/summary email(s)

[2021-08-31 16:40] zurbergram commented on #29431
https://github.com/department-of-veterans-affairs/vets-website/pull/18457

[2021-08-31 16:46] miabecker commented on #25887
@bevnobev @toddstanich and I took an initial whack at the privacy and security review ticket here: https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/issues/320 I think the main thing we need to sort through is the release plan - for which there is an example template: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/product-management/release

[2021-08-31 16:49] #29035 closed

[2021-08-31 16:55] peggygannon commented on #28436
@shiragoodman Here's Excel doc of Platform Support operational docs and recommendation on where they should live. Let me know your feedback and/or if you want to review this together (cells in gray indicated docs that we've already migrated to either Confluence or PW.

[https://app.zenhub.com/files/133843125/0472775a-a0dc-47c2-b12c-02780433d57e/download](https://app.zenhub.com/files/133843125/0472

[2021-08-31 16:56] rileyorr commented on #29384
FYI I opened a sitewide content intake request [(#29489)](https://app.zenhub.com/workspaces/vsa---debt-607736a6c8b7e2001084e3ab/issues/department-of-veterans-affairs/va.gov-team/29489) for this work to get support on how the content team has approached this with other forms/tools. I plan on going to Thursday's content office hours to chat with Danielle about it.

[2021-08-31 17:01] bramleyjl opened #29500 "Transition TUD to Testing Tools Team"

[2021-08-31 17:01] sporeboy commented on #29435
All edits in place (I beleive): https://preview.uxpin.com/65c0623a799c268173fe1a3cb4375f9ce00ad820#/pages/139055586

[2021-08-31 17:02] bramleyjl opened #29501 "Transition TUD to Testing Tools Team"
## Issue Description
This ticket covers everything the Identity Team needs to cover as part of transitioning ownership of the Test User Dashboard to the Testing Tools Team
---
## Tasks
- [x] Brief relevant Testing team members on how to navigate TUD as a user
- [x] Give a technical overview of the TUD frontend architecture
- [x] Give a technical overview of the TUD backend architecture
- [x] Share

[2021-08-31 17:03] mmiddaugh opened #29502 "Discovery: VAMC/Vet Center phone number filter"
## Issue Description
We have used the phone number filter to make the front end display of phone numbers more defensive. This issue is to discover where the filter is currently in place and where else it might be used across the VAMC and Vet Center products

---
## Tasks
For VAMC and Vet Center pages
- [ ] Identify and document which templates currently use the phone number filter and which format

[2021-08-31 17:03] sporeboy commented on #29435
Functional fixes (e.g. accordions) are extensive, and will be addressed in a different issue.

[2021-08-31 17:07] andaleliz commented on #23162
FYI this should be a non-issue with the changes we implemented in 22533. I recommend we close this.

[2021-08-31 17:07] lunascoop commented on #23161
Gotcha @kelsonic. Nevermind. Thanks anyway!

[2021-08-31 17:09] Kennon-git opened #29503 "Audit Logs for LoROTA"
An audit for check in sections will help us keep track of the messages sent from Veterans - currently logs non-standard content as a fail and standard as success. Better tracking here will help us troubleshoot when issues arise.

**Task is Done When:**

We can trace the UUID lifecycle from creation to removal.

[2021-08-31 17:14] dneel-bah opened #29504 "DGIB: Transition EDU Form 22-0994 (VET TEC)"
## Description:
This is a placeholder epic that contains backlog work related to Form 22-0994 that is being transitioned to the Digital GI Bill project.

## Note:
This form was implemented prior to the current collaboration checkpoint system and as a result does not have most of the corresponding artifacts.

## Resources:
[Form Documentation in repository](https://github.com/department-of-veterans

[2021-08-31 17:19] Kennon-git opened #29505 "Expose Endpoint for generic RPC"
This is a stopgap measure for fleshing out functionality for RPC creation to test without security issues.

- [x] Expose Endpoint
- [x] Test against Shane's running test version
- [ ] Get connection details for Bay Pines test site
- [ ] Configure staging site to connect to Bay Pines
- [ ] Test

**Task is Done When:**
When we can hit bay pines testing site from the staging server

[2021-08-31 17:23] andaleliz commented on #26619
Hello again, @caw310 just seeking some acknowledgement that this issue has been received and no further info is needed.  Thank you.

[2021-08-31 17:27] shiragoodman opened #29506 "[Assistive tech and device support] UI orientation doesn't support both portrait and landscape mode. (11.01.1)"
### General Information

#### VFS team name
Authenticated Experience

#### VFS product name
Profile 2.0

#### Point of Contact/Reviewers
Allison Christman (Design)
Trevor Pierce (Accessibility)
Angela Fowler (Accessibility)

---

### Platform Issue
UI orientation doesn't support both portrait and landscape mode.

### Issue Details
allisons feddsfjs

trevors feedback

### Link, screenshot or steps

[2021-08-31 17:27] shiragoodman opened #29507 "[URL standards] URL isn't unique and/or distinctly different from other URLs within VA.gov. (07.01.1)"
### General Information

#### VFS team name
Authenticated Experience

#### VFS product name
Profile 2.0

#### Point of Contact/Reviewers
Mikki Northuis (IA)

---

### Platform Issue
URL isn't unique and/or distinctly different from other URLs within VA.gov.

### Issue Details
Mikki's feedback.

### Link, screenshot or steps to recreate

### VA.gov Experience Standard
[Cateogy Number 07, Issue Numb

[2021-08-31 17:27] shiragoodman opened #29508 "[Content styleguide] The content has spelling, punctuation, or typo errors. (05.02.1)"
### General Information

#### VFS team name
Authenticated Experience

#### VFS product name
Profile 2.0

#### Point of Contact/Reviewers
Peggy Gannon (Content)

---

### Platform Issue
The content has spelling, punctuation, or typo errors.

### Issue Details
PEggy's feedback.

### Link, screenshot or steps to recreate

### VA.gov Experience Standard
[Cateogy Number 05, Issue Number 02](https://dep

[2021-08-31 17:32] joshkimux commented on #23162
Got it! Closing 👍

[2021-08-31 17:32] #23162 closed

[2021-08-31 17:32] chloedotbrown commented on #29268
FYI Grafana monthly data now added. Unfortunately, it's manual update to a [Google Sheet](https://docs.google.com/spreadsheets/d/1i_cW1hKqgw4VZu1kVTB5ZjXEiMo_kSsjeR9ZNPDSdxU/edit?usp=sharing) for now – would be great to automate the process at some point in the future, but at least for now, it's no heavier of a lift than the existing changes to the text card on the OMB monthly report.

Know QA is

[2021-08-31 17:34] #28977 closed

[2021-08-31 17:36] yakschuss commented on #26830
Hi @toddstanich! We're currently set on API keys as far as I know, given that we're hooking into the already existing lighthouse-vanotify interaction, but we ARE ready for the production template ID!

cc: @kellylein @miabecker

[2021-08-31 17:39] #29023 closed

[2021-08-31 17:39] #28888 closed

[2021-08-31 17:41] jhouse-solvd commented on #28278
This is done.

Closing.

[2021-08-31 17:41] #28278 closed

[2021-08-31 17:44] gary-fallon opened #29509 "Access for Gary Fallon"
# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your Vendor Onboaring Representative name. This is the person from the contracting company responsible for your onboarding process.

- Please provide your name.

- Please Provide your email.

- Please provide the name of your team, your role on that team, and the name of the company you work for.

[2021-08-31 17:45] gary-fallon commented on #29509
@department-of-veterans-affairs/vsp-operations

[2021-08-31 17:53] chloedotbrown commented on #24740
Hi @chrisj-usds – wanted to give you an update on this report! We're just wrapping up the final QA of the new iteration and will send this out with the other monthly reports next week. However, I wanted to share the [new iteration](https://va-gov.domo.com/page/1314425343) ahead of time in case you had any questions or wanted to weigh in on any aspects of the design.

Notes about some of these metr

[2021-08-31 18:00] Dene-human commented on #29088
[Immediate short form](https://preview.uxpin.com/acda277e33e9629a7ab817f6c93c251b4a60ac56#/pages/141488399/simulate/no-panels?mode=i)
[Self-reported short form](https://preview.uxpin.com/19ee97072a3233029149e8865f986abfda4c1aef#/pages/141488374/simulate/no-panels?mode=i)

[2021-08-31 18:01] Dene-human commented on #29089
[Research notes](https://docs.google.com/spreadsheets/d/1vuYPB8Q3kzm1y3eCLAa_ncc6zvdmSCvRssR_PsJNyhc/edit#gid=161699097)

[2021-08-31 18:02] dginther opened #29511 "[Kubernetes] Intermittent DNS failures with RDS database for Sentry"
## Description
Sentry is having some intermittent failures with DNS resolution for the postgres database in RDS.
After some research:
- https://stackoverflow.com/questions/55584935/kubernetes-dns-intermittently-failing-with-kube-dns-service-and-coredns-pods-see
- https://github.com/kubernetes/kubernetes/issues/56903
- https://kubernetes.io/docs/tasks/administer-cluster/nodelocaldns/

It appears th

[2021-08-31 18:13] tchrisdyer commented on #28975
@Dene-human
1. See attachment [https://app.zenhub.com/files/133843125/8616faa7-ee90-4811-803e-c20b78618c7f/download](https://app.zenhub.com/files/133843125/8616faa7-ee90-4811-803e-c20b78618c7f/download)
2. Not sure. Let's assume yes but ask them to be sure.
3. Let's assume one for now and ask them during the meeting.
4. Not sure. We can ask. I can't remember where I copied that from.
5. No, we sho

[2021-08-31 18:13] cvalarida opened #29512 "Render ui:objectViewField for nested objects"
## Issue Description
[Original Slack conversation](https://dsva.slack.com/archives/CBU0KDSB1/p1630348001096600).

The short story: We have a `ui:objectViewField` option to render a custom component on the review page for `object` schema types. Right now, it only renders this custom component if the `object` is the root for the page. The task here is to expand the usefulness of that property to ren

[2021-08-31 18:15] dneel-bah commented on #26973
@allison0034

We have incorporated both pieces of **Must** feedback.  See below for screenshots from staging.  Are we OK to close out this issue?

### 5490 - Must 1
<img width="745" alt="Screen Shot 2021-08-31 at 2 13 32 PM" src="https://user-images.githubusercontent.com/48260534/131554854-9943325e-65d3-4097-8b53-7e12ecaae2ec.png">

### 0994 - Must 2
<img width="931" alt="Screen Shot 2021-08-31 at

[2021-08-31 18:16] omgitsbillryan commented on #27159
I added a Github Workflow that validates the public key for a SOCKS PR: https://github.com/department-of-veterans-affairs/va.gov-team/issues/29277 - not _exactly_ related but a close tangent.

[2021-08-31 18:24] kevinstachura opened #29513 "Content - Directing users to 686 form on BDD submission page"
## Issue Description
Per our SME (Kevin Hillegas from VBA), we should have some verbiage directing users to the logical next step (if applicable) on the BDD submission page. We were given this language from Kevin H. for use:

I took this content and fit it into this design, under a section titled "what should I do next?":

![Screen Shot 2021-08-31 at 2.19.35 PM.png](https://images.zenhubuserconten

[2021-08-31 18:30] dneel-bah opened #29514 "DGIB: Transition EDU Form 22-1990E"
## Description:
This is a placeholder epic that contains backlog work related to Form 22-1990E that is being transitioned to the Digital GI Bill project.

## Note:
This form was implemented prior to the current collaboration checkpoint system and as a result does not have most of the corresponding artifacts.

## Resources:
[Form Documentation in repository](https://github.com/department-of-veteran

[2021-08-31 18:33] ltrombley commented on #29197
Task  #29197 - Prepare Boston health care for Dual-state VISN-1 [VAMC] - is Complete - PENDING processing in Tugboat

[2021-08-31 18:39] theodur commented on #28995
This Group is all done. Here is a list of all the migrated documents:
- [VA.gov client overview](https://vfs.atlassian.net/wiki/spaces/FTT/pages/1851424900/VA.gov+client+overview)
- [Environments](https://vfs.atlassian.net/wiki/spaces/FTT/pages/1851392210/Environments)
- [Bundles and Code Organization](https://vfs.atlassian.net/wiki/spaces/FTT/pages/1851392282/Bundles+and+Code+Organization)
- [Sty

[2021-08-31 18:39] theodur commented on #28995
These are ready for review! @k80bowman

[2021-08-31 18:42] dneel-bah opened #29515 "DGIB: Transition EDU Form 22-5490"
## Description:
This is a placeholder epic that contains backlog work related to Form 22-5490 that is being transitioned to the Digital GI Bill project.

## Note:
This form was implemented prior to the current collaboration checkpoint system and as a result does not have most of the corresponding artifacts.

## Resources:
[Form Documentation in repository](https://github.com/department-of-veterans

[2021-08-31 18:43] shiragoodman commented on #28436
thank you @peggygannon ! Let me take a look and I'll follow up

[2021-08-31 18:44] dneel-bah commented on #27018
All assigned issues have been approved by EDU and delivered to production.  Closing this epic as completed.

[2021-08-31 18:44] #27018 closed

[2021-08-31 18:50] delli-gatti-michael commented on #29374
This is on staging

[2021-08-31 19:08] vhenry07 opened #29516 "Notice of Disagreement Mailing Address Check box"
## Issue Description
Notice of Disagreement content change

---
## Tasks
- [x] On change mailing address screen, there is a check box that says “I live on a US military base outside the US.” I presume that’s for APO/FPO addresses, but use of that address does not require that someone live on a base. Recommend changing to “I have an APO/FPO address” or something similar.

## Acceptance Criteria
- [

[2021-08-31 19:11] vhenry07 opened #29517 "Notice of Disagreement Decision Date error"
## Issue Description
When entering issues by hand, the decision date entry screen displays an error if the year is not 2020 or 2021. Recommend we include language about why nothing earlier than 2020 can be accepted.

---
## Tasks
- [ ] Update language to explain error

## Acceptance Criteria
- [ ] Updated language
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this

[2021-08-31 19:12] tlei123 commented on #29178
[Test runs](https://dsvavsp.testrail.io/index.php?/plans/view/2153) nominally scheduled for Thu 9/2, pending status-check w/ team tomorrow.

[2021-08-31 19:13] vhenry07 opened #29518 "Notice of Disagreement - Decision Date language change"
## Issue Description
When entering issues by hand, the decision date entry screen displays an error if the date is in the future. The error says “Please add a past decision date.” Recommend the language be changed to something more understandable, like “You can only appeal a decision that has already been issued. Please check the date and try again.”

---
## Tasks
- [x] Update language for clarity

[2021-08-31 19:14] dneel-bah commented on #22022
Closing epic as functionality has been signed off by EDU and delivered to production.

[2021-08-31 19:14] #22022 closed

[2021-08-31 19:15] vhenry07 opened #29519 "Notice of Disagreement - resolve multiple entry issue"
## Issue Description
When entering issues by hand, the system accepts multiple entries of the exact same issues with the same decision date.

---
## Tasks
- [x] Prevent adding duplicate issues
- [x] On the “Issues for review” screen that pops up asking what the disagreement is about, recommend adding the decision date along with the issue name (because of # 4 above).

## Acceptance Criteria
- [ ]

[2021-08-31 19:20] dneel-bah opened #29520 "DGIB: Transition EDU Form 22-1990S (VRRAP)"
## Product Outline
[Link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/education-careers/application/VRRAP/product-outline.md)

## Description:
This is a placeholder epic that contains backlog work related to Form 22-1990S that is being transitioned to the Digital GI Bill project.

## Resources:
[Form Documentation in repository](https://github.com/department-

[2021-08-31 19:21] #29499 closed

[2021-08-31 19:28] holdenhinkle commented on #28894
The PR was submitted - https://github.com/department-of-veterans-affairs/vets-website/pull/18301

[2021-08-31 19:33] miabecker commented on #26830
@Yakschuss Here is the template ID for prod: 067d8f49-13f4-4f67-be6d-c1070881c952 cc: @Toddstanich @bevnobev

[2021-08-31 19:36] laurensimpson14 commented on #29457
Google Analytics access has been removed. No action was needed in Domo since Natalie didn't have access on that platform.

[2021-08-31 19:38] #28787 closed

[2021-08-31 19:41] amyknox commented on #18316
22-1995 was one of the first Standardized KPI Dashboards that VSP Analytics team created in DOMO.  It launched this summer and is a thing of beauty.  Closing this ticket because it's done.

[2021-08-31 19:41] #18316 closed

[2021-08-31 19:49] bramleyjl opened #29522 "Fix Duplicate CORP Id Error Handling"
## Issue Description
Additional checks for users with multiple IDs [were added to the `vets-api` login flow](https://github.com/department-of-veterans-affairs/vets-api/pull/7531/files) recently, the check for users with multiple CORP IDs does not seem to be firing properly despite [errors related to multiple CORP IDs](http://sentry.vfs.va.gov/organizations/vsp/issues/509/events/a090809f755745dba75

[2021-08-31 19:51] omgitsbillryan commented on #27159
I'm intending on adding a workflow to automate SOCKS only. The initial plan is

1. Trigger workflow on GH issue creation w/ label `access-request`
2. Exit early if _not_ requesting SOCKS access.
3. Validations:
  - GH user who created ticket is part of the `department-of-veterans-affairs` GH org
  - ssh key does not already exist w/ said email address
  - ssh key is valid (optional since this alre

[2021-08-31 19:58] jason-gcio opened #29523 "Add Validation for Non-Whitespace Chars"
## Background
We need to ensure that special characters are not being passed in as they easily get snagged in RBPS

## Considerations

## Tasks
- [ ] ...
- [ ] ...

## Acceptance Criteria
- [ ] ...
- [ ] A PR has been requested for merging

[2021-08-31 19:58] rjohnson2011 commented on #26828
Needed to make some additional query modifications after rereading the requests to generate charts for Open vs Closed Launch-Blocking and Open vs Closed Non-Launch-Blocking.
Generated the requested pie charts for the above. Reviewing and making final modifications to close out soon.

[2021-08-31 20:07] dillo opened #29525 "CHIP staging config update."
#TODO ADD NEW CHIP CONFIG SETTINGS

[2021-08-31 20:16] joehall-tw opened #29526 "Access for Joseph Hall"
# Instructions
1. Fill out **Description**
2. Change the **Title** to include your name
3. Add the label used by your team (eg: `BAH-526`)
4. Do not remove `operations` label or the `ops-access-request` label; this will notify the VSP Operations team of your request
5. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contrac

[2021-08-31 20:21] APorter-Clarity commented on #28445
[https://app.zenhub.com/files/133843125/d3dc54d8-5419-4d57-8777-0fd9de224f29/download](https://app.zenhub.com/files/133843125/d3dc54d8-5419-4d57-8777-0fd9de224f29/download)

[2021-08-31 20:22] APorter-Clarity commented on #28445
[Affinity Mapping on Mural](https://app.mural.co/t/adhocvetsgov9623/m/adhocvetsgov9623/1629744417400/ea413f9ddf89a10be41c90440d95e3ce423b10db?sender=ue8da07808969ffbb6a970518)

[2021-08-31 20:24] oseasmoran73 commented on #29406
Closing this ticket as PR has been merged both in `content-build` and `vets-website` and working as intended.

[2021-08-31 20:24] #29406 closed

[2021-08-31 20:27] mdewey commented on #27983
I am logging these events

@stephenBarrs  and @joanneesteban  How does this look?

![Screen Shot 2021-08-31 at 4 26 51 PM](https://user-images.githubusercontent.com/1793923/131571256-7ba35bd9-e038-454f-9768-0a87837da37b.png)

[2021-08-31 20:27] vhenry07 opened #29527 "BDD - New EP code request"
## Issue Description
BDD has requested addition of a new EP code for BDD claims that don’t have STRs.
EVSS will implement first, then we’ll work on frontend

---
## Tasks
- [ ] Need to capture answer in JSON. We need new field – STR submitted true/false. If false, set claim label to pre-discharge excluded

## Acceptance Criteria
- [ ] New field added
---

[2021-08-31 20:29] mnorthuis opened #29528 "Footer Changers from IA"
## Why you're here

### Engineering support for:
- Redirects that have **first been vetted by the Platform Product Support team**. If you are requesting a redirect, please submit the [Redirect Issue Template](https://github.com/department-of-veterans-affairs/va.gov-team/issues/new?assignees=mnorthuis&labels=vsp-product-support%2C+ia&template=redirect-request.md&title=Redirect+Request)
- REACT sign

[2021-08-31 20:31] mnorthuis commented on #29528
Sub-footer links and order, for reference:

![image](https://user-images.githubusercontent.com/20994159/131571678-50ca33f8-952f-4b63-aa3e-e1f71ddb97cd.png)

[2021-08-31 20:31] lianilychee opened #29529 "Draft Sept newsletter edition"
# User story

As a VFS team member, I want to understand any Platform releases, so that I can build my VA.gov service.

# Tasks

- [ ] Solicit content from PMs (James and Liani)
- [ ] Conduct Pair writing and SME interview sessions (Amy)

Tasks for next sprint:
- Draft newsletter edition
- Conduct reviews for technical accuracy and OCTO-DE signoff
- Prepare MailChimp version (Service Design, but w

[2021-08-31 20:31] mnorthuis commented on #29528
FYSA @davidconlon @DanielleThierryUSDSVA

[2021-08-31 20:31] lianilychee opened #29530 "Prep to iterate on V3 of IA"
# User story

As a Platform customer, I need to know where to find developer info on the Platform website, so that I have the info I need in order to create my veteran-facing service.

As a Content team member, I need to solicit feedback from Platform customers, so that I can begin to craft the Platform website IA (aa where to find info on the Platform website).

# Tasks

- [ ] Codify research goa

[2021-08-31 20:31] lianilychee opened #29531 "Train Platform teams on PDFs best practices"
# User story

As a Platform team member, I need to know how to structure PDFs that go on the Platform website, so that I can convey informaiton as smoothly as possible to customers.

# Tasks

- [ ] OPTIONAL - Inform Platform teams that change is coming
- [ ] Determine what has to go into the guidance
- [ ] Create guidance around PDFs hosted in Platform website
- [ ] Draft and send comms to Inform

[2021-08-31 20:31] lianilychee opened #29532 "Create guidance for Platform teams on PDFs best practices"
# User story

As a Platform team member, I need to know how to structure decks that go on the Platform website, so that I can convey informaiton as smoothly as possible to customers.

# Tasks

- [ ] OPTIONAL - Inform Platform teams that change is coming
- [ ] Determine what has to go into the guidance
- [ ] Create guidance around PDFs hosted in Platform website
- [ ] Draft and send comms to Inform

[2021-08-31 20:31] lianilychee opened #29533 "Create guidance for PDFs and slide deck best practices"
### User Story
As a Platform team member,
I need to know how to structure slide decks that go on the Platform website,
so that I can convey information as smoothly as possible to customers.

As a Platform team member,
I need to understand how to guide other Platform team members to link to PDFs or slide decks on the Platform website,
so that I can document this in the existing Platform website sty

[2021-08-31 20:31] lianilychee opened #29534 "Create guidance for Platform teams on VIDEOS/IMAGES best practices"
# User story

As a Platform team member, I need to know how to structure VIDEOS that go on the Platform website, so that I can convey informaiton as smoothly as possible to customers.

# Tasks

- [x] Determine what has to go into the guidance
- [x] Create guidance around VIDEOS hosted in Platform website
- [ ] Inform teams that guidance around VIDEOS is available

Acceptance criteria
- To come.

#

[2021-08-31 20:31] lianilychee opened #29535 "Launch MVP of list to tools"
# User story

As a Platform customer, I need to know what VA.gov tools to access, so that I can build my veteran facing service.

# Tasks

- [ ] Wrapping up audit
- [ ] Writing descriptions
- [ ] Validating list with other folks
- [ ] Publishing list on Platform website

Acceptance criteria
- The list has been published on Platform website

# Reference info
- "List" - still an introduction, but no

[2021-08-31 20:31] lianilychee opened #29536 "[stretch] Launch Platform website dashboard"

[2021-08-31 20:35] #28954 closed

[2021-08-31 20:36] #28956 closed

[2021-08-31 20:37] dneel-bah commented on #18881
Closing this issue as OBE; EDU will notify the development team when an update is ready.

[2021-08-31 20:37] #18881 closed

[2021-08-31 20:39] mnorthuis commented on #8049
With Resources and support efforts and other initiative work, this issue is not really up to date any longer.  Closing issue.

[2021-08-31 20:39] #8049 closed

[2021-08-31 20:40] cindymerrill commented on #26425
Conversation guide has been drafted and revised with feedback from Denise: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/on-site-search/research/user-research/2021-Aug-research-study/conversation-guide.md

[2021-08-31 20:41] laurenernest opened #29537 "Retro Action Items - September"
**New**
- [x] Lauren - Add copy changes scope screenshots to stories
- [x] Lauren - review possible alignment between design templates and language used to reference sections in ACs

**Rollover**
- [ ] Jeff - Work with Marcy when she’s back and comfortable with TMP to get a TMP demo for the team
- [ ] Brad - Look into dashboards for facilities api calls / alert to trigger in channel

---

[Full re

[2021-08-31 20:42] laurenernest commented on #27953
closing this list and rolling over open items to next month's tracking #29537

[2021-08-31 20:42] #27953 closed

[2021-08-31 20:42] mnorthuis commented on #8773
This audit and work is outdated.  Resources and support effort as well as other initiatives will review content depth as needed. Closing issue.

[2021-08-31 20:42] #8773 closed

[2021-08-31 20:43] mnorthuis commented on #5236
Audit and inventory for this work is outdated.  Any content restructuring or left nav work will be handled separately from this epic.

[2021-08-31 20:43] #5236 closed

[2021-08-31 20:45] cmaeng opened #29538 "Resources and Support FE bug from Sitewide Content team"
## Why you're here

### Engineering support for:
- Redirects that have **first been vetted by the Platform Product Support team**. If you are requesting a redirect, please submit the [Redirect Issue Template](https://github.com/department-of-veterans-affairs/va.gov-team/issues/new?assignees=mnorthuis&labels=vsp-product-support%2C+ia&template=redirect-request.md&title=Redirect+Request)
- REACT sign

[2021-08-31 20:53] #25158 closed

[2021-08-31 20:53] andaleliz commented on #28636
@ajakabcin I've come up with a solution that I reviewed with our devs and is achievable.  I just need to validate the copy with Danielle, which I'll do Thursday during office hours.

![image.png](https://images.zenhubusercontent.com/5d9def68b6de6d00018d50f2/3dd7cae8-7cb3-4139-bd87-1d4817c06cb2)

- [Prototype link](https://preview.uxpin.com/6fa96dc222d3c59c67feba34a5cac98770462bd7#/pages/141512227/

[2021-08-31 20:56] mnorthuis commented on #27911
IA information is documented here: <br>
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/information-architecture/ia-reviews/websites-harassment.md

I just want to confirm the H1 of the online form and then this is all final.   Here's the highlights:

URLs:
- Static content page:   /report-harassment/
- Online form:   /report-harassment/file-report-online/   (I am

[2021-08-31 21:00] mnorthuis commented on #29183
@brianalloyd @kelsonic

- Approval on above from @mmiddaugh https://dsva.slack.com/archives/C0FQSS30V/p1630086437041200
- I updated the top/main request with the reformatted and corrected info
- These are vetted and ready to go!

[2021-08-31 21:09] SgardnerPMP opened #29539 "[Quality Assurance Audit] Post Production Audit of VAMC Shreveport, for links, standards, and design standards.[BA]"
## User Story
As a VHA Digital Media web manager, the system websites need to be audited for standardization and mistakes, so websites can be updated an corrected to meet design standards.

## Goal
Remove deviations from standards.

## Resources - Tools - Documentation
[Audit checklist](https://governmentcio.sharepoint.com/sites/VSATeam/Shared%20Documents/Forms/AllItems.aspx?newTargetListUrl=%2Fsi

[2021-08-31 21:14] mnorthuis commented on #29414
@bethpottsVADEPO @RLHecht We can use `www.va.gov/vrrap` as the vanity URL for this.

Do you need to run this by anyone before we implement?  If not, I can send this along for implementation.

[2021-08-31 21:17] jbalboni opened #29540 "Create versioned facility fetch mock helpers"
Following up from the mock testing spike, we should start creating more versioned/higher level helpers:

Something like this, in `tests/mocks/fetch.js`

[code]

Also, as part of this ticket, we should update some or all of the appointment list tests to use this new helper, and create tickets for other areas we could convert.

[2021-08-31 21:17] SgardnerPMP opened #29541 "[Quality Assurance Audit] Post Production Audit of VAMC Wilkes-Barre, for links, standards, and design standards.[BA]"
## User Story
As a VHA Digital Media web manager, the system websites need to be audited for standardization and mistakes, so websites can be updated an corrected to meet design standards.

## Goal
Remove deviations from standards.

## Resources - Tools - Documentation
[Audit checklist](https://governmentcio.sharepoint.com/sites/VSATeam/Shared%20Documents/Forms/AllItems.aspx?newTargetListUrl=%2Fsi

[2021-08-31 21:20] ajakabcin commented on #28636
Love this!

[2021-08-31 21:32] ajakabcin opened #29542 "[FE] Profile, Notification Prefs: Implement solution for redirecting users back to notification prefs"
## Background
The MVP for notification prefs allows the user to easily navigate to the contact info section of profile to make updates to phone and email when needed. Liz came up with a light solution that helps redirect the user back to the task of completing their notification preferences once they have updated their contact information, which they will often have to do in order to set their not

[2021-08-31 21:34] ajakabcin commented on #28636
@andaleliz I created #29542 as a placeholder to fill in with further details when we're ready!

[2021-08-31 21:35] laurenernest commented on #29017
Copy changes verified.
![image.png](https://images.zenhubusercontent.com/5f7dd2dad6b9a9301bbab94e/68b9e363-c4c1-46e7-92b5-2ac0a5dc8ab1)

[2021-08-31 21:35] #29017 closed

[2021-08-31 22:03] cindymerrill commented on #26425
Revised the newly added new prep tasks a bit, and ready to start working on them.

[2021-08-31 22:14] cindymerrill commented on #26425
Reached out via slack and email to find pilot participants.

[2021-08-31 22:52] mmiddaugh opened #29543 "Update alert icons on Vet Center pages"
## Issue Description
In #27206, we updated the operating status alerts to use the informational icon. The changes were reflected  on the Facility Locator and VAMC pages but not on the Vet Center pages.

Example: Reno Vet Center
<details>
<summary> As it appears on the Facility Locator </summary>

![image](https://user-images.githubusercontent.com/55411834/131585529-50c9add1-7f3f-40fb-a171-ce75da6c

[2021-08-31 22:57] mmiddaugh opened #29544 "Pull Vet Center alert header text from Drupal"
## Issue Description
The Call Center alert on Vet Center pages uses a hard coded header but pulls the alert text from Drupal. The alert would be more flexible if the header also came from Drupal.

### Dev notes
- alert text comes from Drupal fieldCcVetCenterCallCenter

## Tasks

[2021-08-31 23:02] mmiddaugh opened #29545 "[BACKEND] Implement new endpoint for uniqueness and pagination of community care results"
## Issue Description
We can now use the new PPMS endpoint for uniqueness and to restore pagination of community care results

---
## Tasks
Change endpoint for community care searches, including
- [ ] community care providers
- [ ] community urgent care
- [ ] community emergency care
- [ ] community pharmacies
Identify pagination parameters for front end

## Acceptance Criteria
- [ ] Community care

[2021-08-31 23:08] mmiddaugh opened #29546 "[FRONT END] Re-enable pagination for community care searches (1b)"
## Issue Description
Following the backend implementation of the new endpoint for uniqueness and pagination of community care results (#29545), we can restore pagination to  community care results. Due to data issues, the Facility Locator has been hard coded not to use pagination when returning community care search results.

Feature flag on backend to enable new facility service locator endpoint

[2021-08-31 23:10] mmiddaugh commented on #24827
closing as duplicate to #29546

[2021-08-31 23:10] #24827 closed

[2021-08-31 23:15] dsteeve opened #29547 "Adding Dina Steeve to DSVA Slack"
New user request

- Please add_dina.steeve@adhocteam.us as a full member to DSVA slack.
- She is a software engineer team lead on the VA Quokka Team and needs access to DSVA slack.

[2021-08-31 23:15] mmiddaugh opened #29548 "Audit for VAMC communication options"
## Problems to be solved
There are a growing number of ways for Veterans to connect with clinicians for health related needs. It may be confusing for Veterans to find the right one for their needs and/or differentiate between the tools.

New options for contacting the VA are becoming available and need to be added to the VAMC pages. Before we can determine the right experience for Veterans, we nee

[2021-08-31 23:39] jhouse-solvd commented on #28207
This is good to go.

Closing.

[2021-08-31 23:39] #28207 closed

[2021-09-01 00:31] stefaniefgray opened #29549 "Access for Stefanie Gray"
# Instructions
1. Fill out **Description**
2. Change the **Title** to include your name
3. Add the label used by your team (eg: `BAH-526`)
4. Do not remove `operations` label or the `ops-access-request` label; this will notify the VSP Operations team of your request
5. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contrac

[2021-09-01 00:32] stefaniefgray commented on #29549
This was supposed to be auto-generated when running the VTK tool in Terminal, but it was not

Here is the error message from when this Github issue should've been created by the script:
[code]

Special thanks to Eric O. @ Agile 6 for all of his help!

[2021-09-01 00:43] chloedotbrown commented on #28916
Know the BigQuery side of this work is still in development, but here's a[ mockup](https://docs.google.com/presentation/d/1yxPBhNIeDZ379bbYngHTw2OoxBsMMQ9AwcprIXeMPtM/edit?usp=sharing) of the VAOS edge case dashboard based on the Forms KPIs. I've used comments and very obvious boxes to call out questions about data or content (though mostly its data). I've also added FYIs on any meaningful design

[2021-09-01 03:24] bsmartin-ep commented on #29268
@chloedotbrown - QA is complete.  LGTM!

[2021-09-01 03:38] laurensimpson14 commented on #28936
@jennaouellet I added in a little more info on how to see events in the staging environment.

As far as events that are specifically non-prod, there aren't many. There is a variable called `Staging Only - Base Configuration`, and it's tied to 3 events that aren't in use:
1. `Debug Event`: This is set to fire on the custom event `^debug.*`, however in GA it hasn't fired since last November (and eve

[2021-09-01 03:44] mpelzsherman commented on #29096
Tugboat instance for validation: https://web-ldij0hdlillzgrlzsgjk8keqbcknof2i.demo.cms.va.gov

Note for example: https://web-ldij0hdlillzgrlzsgjk8keqbcknof2i.demo.cms.va.gov/pittsburgh-health-care/staff-profiles/kristen-lyons/ does not exist.

[2021-09-01 03:45] laurensimpson14 opened #29550 "Remove Un-Used Non-Prod Specific Events"
There is a variable called `Staging Only - Base Configuration`, and it's tied to 3 events that aren't in use:
1. `Debug Event`: This is set to fire on the custom event `^debug.*`, however in GA it hasn't fired since last November (and even then it only fired twice)
2. `TEST STAGING ONLY - Profile Form Submit`: The trigger for this is paused, and I don't see any data from this event in GA for the p

[2021-09-01 03:55] bethpottsVADEPO commented on #17605
@lwalsh617 OK, here's my reworked and slimmed down single Q&A as I mentioned on our call today: http://preview-prod.vfs.va.gov/preview?nodeId=34646

Let me know if you see anything missing. And please check the tags and categories since I don't usually add those in and I'm not sure I did it right!

Also, could you repurpose the nodes we're not moving forward with (34659 and 34647) for the housing

[2021-09-01 03:56] omgitsbillryan commented on #27159
Tweaking the design a bit after some considerations:

- "Is user in `department-of-veterans-affairs` GH org" & "ssh key does not already exist w/ said email" validations will occur in PR instead
  - reason: `va.gov-team` is a public repo - i think it's best if these validations live in the `devops` repo which is private

[2021-09-01 04:01] laurensimpson14 commented on #28938
@jennaouellet would this be the [Google Analytics Implementation or QA Request](https://github.com/department-of-veterans-affairs/va.gov-team/issues/new?assignees=joanneesteban&labels=analytics-insights%2C+analytics-request%2C+collaboration-cycle%2C+collab-cycle-review%2C+gtm&template=analytics-implementation-and-qa-request-template.md&title=Analytics+Implementation+or+QA+Support+for+%5BTeam+Name+

[2021-09-01 04:24] jennaouellet commented on #28938
@laurensimpson14 yes that's the template. From the few tickets I've worked on, I noticed that many of the fields are left blank by the requestor. I wonder if there's a way to clean up the template somehow while also ensuring all of the details we need make it in.

[2021-09-01 11:55] LizCallaghan commented on #29547
done!

[2021-09-01 11:55] #29547 closed

[2021-09-01 13:00] vhenry07 commented on #16733
Per Michael Young, fax decommission effort has closed out. We're clear to remove fax references.

[2021-09-01 13:23] craigwheeler opened #29551 "Update error message placement for single checkbox"
## Issue Description
The guidance for the checkbox component advises inconsistent error message placement. The error message appears below the input for a single checkbox, but above if there is a group of checkboxes. Refer to this issue for details https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/535

**Correct placement (Checkbox group):**
![Form feedback

[2021-09-01 13:26] RudyOnRails opened #29552 "Send Ch31 submission communication preferences to VRE"
## Description
VRE needs to see communication preferences for each submission. As there is no CMS in place at VRE it makes this difficult, and GA was not the best choice since they could click EVA and TeleCounseling back and forth and provide false data.

## Reference
![image.png](https://images.zenhubusercontent.com/5d4d9fbb3dcb5944ddb12282/4f8905d9-a9dc-40a3-972f-c331e6b43712)

## Tasks
- [x] Us

[2021-09-01 13:38] dneel-bah commented on #24283
**Should feedback completed**

https://bahdigital.invisionapp.com/share/8RIAGQUSXU3#/screens/296059328

1. In the eligibility requirements on VA.gov STEM static page we say "enrolled in an undergraduate STEM degree program"
The eligibility bullets on the application screens say STEM “bachelor’s degree”

2. Replace “are pursuing” with “working toward” in 2nd bullet This is to be plain language and

[2021-09-01 13:40] dneel-bah commented on #24283
**Remaining Should feedback**

https://bahdigital.invisionapp.com/share/8RIAGQUSXU3#/screens/296059328

3.	Replace “are pursuing a” with “are enrolled in” in 3rd bullet
This is to be plain language and for consistency with how this information appears on the static page.

--------

https://bahdigital.invisionapp.com/share/8RIAGQUSXU3#/screens/296059326

In the yellow alert box, the language “follo

[2021-09-01 13:45] shiragoodman commented on #29506
created as training example

[2021-09-01 13:45] #29506 closed

[2021-09-01 13:45] shiragoodman commented on #29508
created as training example

[2021-09-01 13:45] #29508 closed

[2021-09-01 13:45] shiragoodman commented on #29507
created as training example

[2021-09-01 13:45] #29507 closed

[2021-09-01 14:03] jparker0425 commented on #28457
Closing this ticket as we continue to address feedback. Next will be scheduling staging review.

[2021-09-01 14:03] #28457 closed

[2021-09-01 14:05] tchrisdyer commented on #29475
Closing this issue. It appears to be user error combined with an issue on the CARMA side where the "Send" button got stuck. According to Mili Ridoutt:

[2021-09-01 14:05] #29475 closed

[2021-09-01 14:20] zacharymorel commented on #23641
@joshkimux when you get the chance, can you read through the the results from https://staging.va.gov/find-forms/?q=10-10ez and tell me if it the current version works out?

![Screen Shot 2021-09-01 at 10 20 31 AM](https://user-images.githubusercontent.com/26075258/131688191-cb8662d1-51b5-499b-8bc9-6d7f6fe847b9.png)

[2021-09-01 14:25] lildziner commented on #27688
Here is the [Discovery readout md file](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/facilities/medical-centers/discovery/health-connect-discovery.md)

[2021-09-01 14:29] k80bowman commented on #28995
I made a couple of small edits, but otherwise this looks great. Thank you so much! Good call on the downtime notifications documentation, thanks. I have a card I'm working on now where I'm moving some of the documentation I missed previously, I will add this to that.

[2021-09-01 14:30] MarciMcGuireGCIO commented on #26908
Ok; sounds good.  I'll get that in the backlog.

[2021-09-01 14:32] MarciMcGuireGCIO opened #29553 "Find a VA Form: Full Test Coverage for Form Detail Template"
## Issue Description
 Story for adding full test coverage to the template that the Form Detail pages are created from

---
## Tasks
- [ ] Full test coverage for form detail page template

## Acceptance Criteria
- [ ] Full test coverage for form detail page template

[2021-09-01 14:36] amyknox commented on #29470
@dneel-bah

[Desktop prototype here](https://bahdigital.invisionapp.com/share/QCIAGXOTD3P#/296062999_Searchbyname_Desktop_4).

The prototype update also addresses 29362 (H1 should be left-aligned, not centered on the page)

[2021-09-01 14:37] amyknox commented on #29474
@dneel-bah

[Desktop prototype here](https://bahdigital.invisionapp.com/share/QCIAGXOTD3P#/296065251_Searchbylocation_Desktop_results_-1-)

This update also addresses #29365 (The text "Showing 8 search results for 'UNIVERSITY...' was updated to be consistent with current VA search styling. This styling update is needed on both Name and Location search results)

[2021-09-01 14:43] amyknox commented on #29359
@dneel-bah

[Desktop prototype here](https://bahdigital.invisionapp.com/share/QCIAGXOTD3P#/296063000_Searchbyname_Desktop_5)

Fix: Remove text from inside the text field and add a label above the text field.  Per Monday's discussion, we added (*Required) to these fields so an error message will display if a user attempts to search with an empty field.

ERROR MESSAGES
Name search error message: Ple

[2021-09-01 14:44] zacharymorel commented on #26908
Thank you! We're working towards expanding the test coverage on the code that builds the static pages. So glad well have some time for it.

[2021-09-01 14:48] andaleliz commented on #29256
@ajakabcin are we ready to do this, or do you still need to identify staging users? Happy to set up some time for us once we are ready to rock.

IIRC you said you and Tressa spent about a 1/2 day doing this for My VA. If that's accurate, I think we'd only need an hour for this since it's far less complicated.

[2021-09-01 14:49] andaleliz commented on #29256
Oh wait, I just saw that there isn't a sprint assigned to this. Got confused because it's in the `current sprint` pipeline.

[2021-09-01 14:50] rebeccawalsh commented on #28015
Design tickets can all be found in the [UXPin here](https://preview.uxpin.com/16e8675a9898914d5615d6ea2d23e310b7d8dfaa#/pages/140669280/simulate/sitemap?mode=i).

We presented this work in standup on Sep 1, and questions that arose:
- Are we going to be able to pull the statements at all?
- Are we going to be able to pull in table data?
- What are the line items?

We chose not to make engineering

[2021-09-01 14:52] dneel-bah opened #29554 "DGIB: Transition EDU Form 22-10203 (STEM) Automated Decision"
## Product Outline
[Link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/education-careers/stem/stem-standalone-10203/automated-decision/automated-decision_product-outline.md)

## Description:
This is a placeholder epic that contains backlog work related to Form 22-10203 Automated Decision that is being transitioned to the Digital GI Bill project.

This work has

[2021-09-01 14:55] LucianaAlexanderMorais opened #29555 "Request access to Google Analytics and/or Domo"
# Request Google Analytics and/or Domo access

## What this form is for
Use this template to request access to Google Analytics and/or Domo. Please complete steps 1 & 2 below.

## 1. Access Requirements
Please check the analytics tool(s) you need access to:
- [X ] Google Analytics
- [X ] Domo (not sure if I still have one - it's not working)
- [ ] (Platform Teams only) BigQuery

## 2. User Email A

[2021-09-01 15:06] chloedotbrown commented on #29268
Awesome - thanks so much!

[2021-09-01 15:13] delli-gatti-michael commented on #29429
Local testing complete

![Screen Shot 2021-09-01 at 11.03.21 AM.png](https://images.zenhubusercontent.com/5c07f000391a6f6357adc430/6c14dfd9-c860-4c93-9992-0626e5d0e7be)

[2021-09-01 15:14] dneel-bah commented on #21747
@laurensimpson14

Regarding the first item, "Clicks within More resources about VA benefits", the tracker wasn't wired up correctly initially which resulted in Johns feedback.  If you have passed that we can consider it completed.

Regarding the second item, "Click on View Details", I believe that is expected behavior as well.  The STEM automated decision cards displayed will always have a status

[2021-09-01 15:20] #26105 closed

[2021-09-01 15:21] joeniquette commented on #29011
@bsmartin-ep whats the status of this?

[2021-09-01 15:26] timwright12 commented on #29486
Looks great, good to close!

[2021-09-01 15:36] nicko-amida commented on #27686
@mmiddaugh In progress health chat discovery is [here](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/facilities/medical-centers/discovery/health-chat-discovery.md)!

[2021-09-01 15:39] lianilychee commented on #28955
9/1 Weds:
- G:
  - I made a little progress :D The example page is done (has yet to be shared out)
  - Currently trying to think of how to document the "how, why, and when" in a succinct way, since Announcements are another page type <-- not too far away on this!  Still shooting for finishing by end of week
  - Today, would like to have a draft on "how to use this page type"

[2021-09-01 15:40] timwright12 opened #29556 "Add options for larger max-old-space-size in yarn commands"
Slack context: https://dsva.slack.com/archives/C5HP4GN3F/p1630441590019500

[2021-09-01 15:40] laurensimpson14 commented on #21747
Hi @dneel-bah Thank you for the additional background! Yes, based on that I'd say we are good to close out this ticket.

[2021-09-01 15:40] #21747 closed

[2021-09-01 15:40] #22593 closed

[2021-09-01 15:44] lianilychee commented on #28957
9/1 Wed:
- Hoping to be done with images and videos soon
- Amy: I gotta pull info from different resources and guides, and determine what should go into style guide vs other guidance <- focus for today
- Will be able to review tomorrow :D

[2021-09-01 15:47] lianilychee commented on #29531
duplicative

[2021-09-01 15:47] #29531 closed

[2021-09-01 15:49] SKasimow commented on #28943
Hi @bsmartin-ep - is performance acceptable? Should we limit release to prod and test for a few days before going wide?

And can you tell me how I can pull data once implemented?

Thanks :)

Sharon

[2021-09-01 15:51] #20551 closed

[2021-09-01 15:52] #21069 closed

[2021-09-01 15:57] #28995 closed

[2021-09-01 15:58] dneel-bah commented on #20726
All associated issues and tickets have been closed/addressed; closing this issue as completed.

[2021-09-01 15:58] #20726 closed

[2021-09-01 16:04] #29003 closed

[2021-09-01 16:05] #29088 closed

[2021-09-01 16:08] mydesignrocks commented on #28629
@CBonade validated his need

[2021-09-01 16:08] #28629 closed

[2021-09-01 16:10] #18118 closed

[2021-09-01 16:10] miabecker commented on #29463
@john-thomashill we are working on creating your templates. Wondering who will be on point from a technical perspective?

[2021-09-01 16:16] andaleliz opened #29557 "Content Request (R&S Article) Auth Profile Team for Notification Settings"
We're adding a notification settings section to the VA.gov profile; our MVP will be launching in fall of 2021.
Creating this ticket to:

- [ ] Evaluate whether or not it is appropriate to create an R&S page for this new feature
- [ ] If so, complete the necessary steps to get that page created.

If we do create an R&S page, it would be great if the timing was not too far off after we launch our MV

[2021-09-01 16:17] bsmartin-ep opened #29558 "Remove or reduce role of some Domo admins"
We have several users in Domo with admin privileges who are no longer on the Platform team or are consultants from Domo who assisted with specific tasks.  Chloe and I recommend these users are demoted to participant or - in the case of Domo consultants - removed completely.

[2021-09-01 16:18] allison0034 commented on #26973
@dneel-bah thank you! You can close this ticket.

[2021-09-01 16:22] bsmartin-ep commented on #29558
Domo employees removed:

- J** W***
- R*** K***
- T*** C***

VA people moved to "participant" role:

- C** L** S**
- K** H**
- R** R**
- K*** D***

[2021-09-01 16:23] #29558 closed

[2021-09-01 16:23] andaleliz commented on #22887
Created #29557 to start this process

[2021-09-01 16:25] bevnobev commented on #29464
@miabecker I messaged @John-thomashill and he confirmed that the content for LGY #1 and LGY #2 are the same. I mentioned that we would create one template since the content is the same, and he is in agreement with that.

[2021-09-01 16:26] dneel-bah commented on #26973
Closing issue as completed.

[2021-09-01 16:26] #26973 closed

[2021-09-01 16:27] laurensimpson14 commented on #29555
Hi @LucianaAlexanderMorais I've given you access to both Google Analytics and Domo via your VA.gov email address! Please feel free to re-open this ticket if you have any trouble getting logged in.

[2021-09-01 16:27] #29555 closed

[2021-09-01 16:28] Kimberley2019 opened #29559 "[Tier 3] Identity Issue Login troubles (ID.me) ---TEST"
## Issue Description
_What details are necessary for understanding the specific work or request tracked by this issue?_

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attac

[2021-09-01 16:30] dmccurdybah commented on #29351
PR: https://github.com/department-of-veterans-affairs/vets-website/pull/18480

[2021-09-01 16:32] Kimberley2019 commented on #29559
hdgooheruhfuoehguehruihiojkjfvhngjdhvo

[2021-09-01 16:32] dmccurdybah commented on #8686
I'm current getting this on staging for user 228.

![image.png](https://images.zenhubusercontent.com/5bb388cc38a73929698456e2/29513941-9859-4cc6-9ffd-8204de63f2d0)

[2021-09-01 16:32] KCollinsBrown opened #29560 "Adding Amy Lai to DSVA Slack"
# Description

**new user requests**: please verify that the user does not already exist in dsva.slack.com (it may be the account exists, but is not in a particular channel)

<describe the request>

Are you requesting to add an individual as a:

- Full member
- What channel(s) do they need to be added to?
#appeals, #appeals-announcements, #appeals-wisdom-wed

Then add a brief description of this p

[2021-09-01 16:34] kelsonic commented on #29528
1. Move the "VA performance dashboard" link out of the sub-footer (2 rows at very bottom) up to the main footer under the "Get VA updates" column. Place this option as the last option in the column.
2. Add a "Civil Rights" link (destination https://www.va.gov/resources/your-civil-rights-and-how-to-file-a-discrimination-complaint/) to the sub-footer. Place it after the "Accessibility" option.
3. Mo

[2021-09-01 16:35] LizCallaghan commented on #29560
done!

[2021-09-01 16:35] #29560 closed

[2021-09-01 16:45] #29559 closed

[2021-09-01 16:55] cvalarida commented on #29556
I said this in the thread, but I'll mention it again here for posterity: I recommend using an environment variable with a default value.
[code]
This lets us set a relatively sane default while allowing folks to override it either for a single command or whenever they run the dev server.

[2021-09-01 16:57] zacharymorel commented on #26908
@MarciMcGuireGCIO this is ready for a review on staging.
https://staging.va.gov/find-forms/?q=10-10ez

[2021-09-01 17:17] mchelen-gov commented on #28856
were we able to confirm if this API is coming from Lighthouse, which already has API key management?

[2021-09-01 17:17] jeff2d2 commented on #28294
@ericboehs @rileyanderson Can we get some notes in here on progress?

[2021-09-01 17:18] jeff2d2 commented on #24008
@thilton-oddball What is the current status on this one?

[2021-09-01 17:19] lildziner commented on #27688
**Contact Center Content Teams Research**

Attaching some related research conducted by Liz Lantz Aug-Oct 2020:

- [Visual mapping of various Contact Center Content teams](https://preview.uxpin.com/559c1f8fc9b065402b80c5a8c26262c8371b1295#/pages/134110801/simulate/sitemap?mode=i), systems and software used and process flows for Veteran facing content creation.
  - [[supplement to the UXPin file](h

[2021-09-01 17:20] LizCallaghan commented on #29073
done!

[2021-09-01 17:20] #29073 closed

[2021-09-01 17:22] mnorthuis commented on #29528
4 and 5 are not ready, you can move into a separate ticket if you want

[2021-09-01 17:25] LizCallaghan commented on #29241
done!

[2021-09-01 17:25] #29241 closed

[2021-09-01 17:26] rwilliams-oddball commented on #29447
No Socks Access
No AWS Access
No Pager Duty
No Datadog

[2021-09-01 17:27] kellylein commented on #26830
Just a heads up that we plan to turn this notification on in Production in the next day or so.

[2021-09-01 17:29] LizCallaghan commented on #29240
done!

[2021-09-01 17:29] #29240 closed

[2021-09-01 17:29] dneel-bah opened #29561 "DGIB: Transition School Certifying Official (SCO) Resource Page"
## Product Outline
[Link]()

## Description:
This is a placeholder epic that contains backlog work related to [SCO resource page](https://www.va.gov/school-administrators/) that is being transitioned to the Digital GI Bill project.

This form was implemented prior to the current collaboration checkpoint system and as a result does not have most of the corresponding artifacts.  Work was completed i

[2021-09-01 17:30] amyknox commented on #29362
@dneel-bah

[Desktop prototype here](https://bahdigital.invisionapp.com/share/QCIAGXOTD3P#/296062999_Searchbyname_Desktop_4).
[Mobile prototype here](https://bahdigital.invisionapp.com/share/QDIAGYESX4T#/296060491_CT_Searchbyname_mobile_1)

The prototype update also addresses 29362 (H1 should be left-aligned, not centered on the page)

[2021-09-01 17:31] #29530 closed

[2021-09-01 17:32] joshkimux commented on #23641
![capture-10](https://user-images.githubusercontent.com/14154792/131717038-f4aacd59-a13f-4a24-ae56-9d755b69ded4.PNG)
Awesome! The action link now has `lang="es"` which is what we want! That being said, it looks like the heading "Instrucciones..." above it does not have the `lang="es"` attribute, so it is still read out in an English accent. Are we able to fix that too? ⭐

[2021-09-01 17:33] lianilychee commented on #29532
combining with decks guidaec https://github.com/department-of-veterans-affairs/va.gov-team/issues/29533

[2021-09-01 17:33] #29532 closed

[2021-09-01 17:33] LizCallaghan commented on #29072
done!

[2021-09-01 17:33] #29072 closed

[2021-09-01 17:38] meganhkelley commented on #29134
Out of scope: unit tests, end to end tests, anything with test selection

But we might already have the ability to run isolated unit tests?

[2021-09-01 17:42] john-thomashill commented on #29463
@miabecker glad to hear that! Heather Sborz would be a good technical POC on our side for this effort

[2021-09-01 17:44] #28934 closed

[2021-09-01 17:46] ajakabcin commented on #29256
You're correct! it should be in this sprint, my mistake on not updating the milestone.

Also, agreed - we won't need nearly as much time. Do you want to set something up for Friday?

[2021-09-01 17:47] lildziner commented on #27688
@mmiddaugh @nicko-amida I got some resources from Liz Lantz (commented above) that might come in handy with any next steps regarding all the various call centers and how all those pieces work together.

[2021-09-01 17:51] dneel-bah opened #29562 "DGIB: Transition Comparison Tool Ratings Enhancement"
## Product Outline
[Link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/education-careers/school-comparison-tool/school-ratings/product-outline.md)

## Description:
This is a placeholder epic that contains backlog work related to the Comparison Tool Institution Ratings Enhancement that is being transitioned to the Digital GI Bill project.

**Note:** This effort

[2021-09-01 17:53] miabecker commented on #29464
Deleting duplicate issue.

[2021-09-01 17:53] #29464 closed

[2021-09-01 17:54] rjohnson2011 commented on #27520
Created. The alarm will trigger when failing 2/3 times within any 15 minute period.
![image.png](https://images.zenhubusercontent.com/5fb40598d06a06671e842a63/e14c6f14-88f4-4da0-84d6-1674d57a6bd4)

[2021-09-01 17:54] #27520 closed

[2021-09-01 17:55] miabecker commented on #29463
@Heathersborz From where would this notification be triggered? Vets API? cc: @John-thomashill

[2021-09-01 17:56] dneel-bah commented on #6234
Closing this epic as it is being transitioned to the DGIB project.  Transition epic here #29562.

[2021-09-01 17:56] #6234 closed

[2021-09-01 17:56] dneel-bah commented on #20097
Closing this issue as all attached issues have been moved/closed.

[2021-09-01 17:56] #20097 closed

[2021-09-01 17:58] thilton-oddball commented on #29149
The creation of a new thread is required for the test in which the offense appears.

[2021-09-01 18:03] miabecker commented on #28516
@amattsmithva below are templates IDs for the notifications in staging - please still take note of my question above on the Veteran-facing notification:

VET Feedback Email template:
 "id": "1bfff777-ea36-483c-91ce-11bc4e259927",
 "name": "VET Feedback Email",
 "subject": "You provider has provided feedback on one of your assessments"

Provider assessment completed template:
 "id": "1fbec063-c092-

[2021-09-01 18:03] miabecker commented on #26830
Wonderful!

[2021-09-01 18:12] andaleliz commented on #29256
Yep! I sent something up for us.

Should we add #26223 as a blocker to this? Otherwise I'm not sure how we will check off the first task on this ticket 🙃

[2021-09-01 18:13] meganhkelley opened #29563 "Tools FE VFS Support - PR Reviews Sprint 60"
## Details

Add PRs to this epic during Sprint 60. Any time you ...
* Approve a PR
* Leave comments on a PR
* Request changes on a PR

Add PRs from ...
* VFS teams
* Other VSP or Platform Crew teams

DO NOT add PRs from ...
* FE Tools team

[2021-09-01 18:13] #28935 closed

[2021-09-01 18:15] ltrombley commented on #28547
9/1/21:  Missing System/Facility Health Services for Jefferson Barracks have been added - System Published into Dual-state.

[2021-09-01 18:15] mleclerc00 commented on #29465
argo components updated (argocd/dex/redis), all pulling from the new ecr repo

![image](https://user-images.githubusercontent.com/76792875/131722579-fcb57214-bb2a-4d26-bba4-c1e0b5fe0cfd.png)
![image](https://user-images.githubusercontent.com/76792875/131722613-14c8dadd-b8b4-46f7-bab2-3c92039374d9.png)
![image](https://user-images.githubusercontent.com/76792875/131722676-f866b1ae-be9c-41af-a9d6-959

[2021-09-01 18:19] bcastoe commented on #29488
#29488 - Updated Playbook of System and Facility Health services for St Louis/Jefferson Barracks and load into CMS - Completed and moved to validate.  Greater LA has been completed; there was one health services missing from the Sepulveda VA Medical Center.  Jefferson Barracks/St Louis worked with Lisa to complete and on 09012021 on team standup that she completed.

[2021-09-01 18:23] allison0034 commented on #28368
This is live. https://depo-platform-documentation.scrollhelp.site/developer-docs/Instructions-for-508-office-document-review.1857913061.html

[2021-09-01 18:24] bosawt opened #29564 "Add logingov_uuid to accounts table"
Migration for adding the logingov_uuid column to the Accounts table

[2021-09-01 18:26] allison0034 commented on #28411
[VFS roster](https://docs.google.com/spreadsheets/d/11dpCJjhs007uC6CWJI6djy3OAvjB8rHB65m0Yj8HXIw/edit?folder=0ALlyxurHpUilUk9PVA#gid=0)
[VSP org chart](https://docs.google.com/presentation/d/1ktf_Gx8UJGW9sJiIgyNCWuCe16zMkjjlnZ1mXEEZQFQ/edit#slide=id.g9a46fe9299_0_0)

Check team of teams slides that show crews

[2021-09-01 18:30] rebeccawalsh opened #29565 "[MCP] Use case: No history at a facility when other active balances exist"
## Issue Description
This ticket is part of the epic where we will be creating mocks for each of our use cases for testing and engineering purposes.

**Use case:** No history at a facility when other active balances exist

---
## Tasks
- [x] Create a design that reflects the use case above
- [ ] ~Upload to UXPin~
- [ ] ~[Update GH use case file](https://github.com/department-of-veterans-affairs/va

[2021-09-01 18:31] meganhkelley commented on #13455
@ElijahLynn @swirtSJW Could y'all please let us know if there are remaining action items for FE Tools here? Thanks!

[2021-09-01 18:42] zurbergram commented on #29333
https://github.com/department-of-veterans-affairs/vets-website/pull/18476

[2021-09-01 18:43] miabecker commented on #29463
Looks like the form lives here: https://www.ebenefits.va.gov/ebenefits/about/feature?feature=cert-of-eligibility-home-loan and not yet on va.gov

[2021-09-01 18:43] Rleahy22 commented on #7751
This should go out with the deploy on 9/2. It affects the following widgets but should have no impact:
social share links
alerts-dismiss-view
ics-generator
createMyVALoginWidget

[2021-09-01 18:46] Rleahy22 commented on #29238
@joshkimux it takes the user directly to the page https://www.va.gov/resources/helpful-va-phone-numbers/  We will remove the button class styling then.

[2021-09-01 18:51] jhouse-solvd commented on #27032
As far as we know, Sentry is stable and usable at this time.

We are continuing to add add'l observability, monitoring, and alerting as needed to stay on top of any issues that may or could arise.

Please open specific support issues as needed moving forward.

Closing.

[2021-09-01 18:51] #27032 closed

[2021-09-01 18:51] chrvalla commented on #28833
We need a developer to help with this ticket. Find codefiles for all errors.

[2021-09-01 18:52] jhouse-solvd commented on #28804
Great work, Demian.

This is now a living document. Please direct comments or questions to the document itself.

Closing.

[2021-09-01 18:52] #28804 closed

[2021-09-01 18:56] Dene-human commented on #25350
Hi @DanielleThierryUSDSVA Starting a list of for Friday's meeting:

10-10-EZ
1. Introduction feedback: Stacey Echols asked that we remove "full"
![Screen Shot 2021-09-01 at 2 48 47 PM](https://user-images.githubusercontent.com/80857940/131727382-dad1a46f-de81-464c-a6b6-f2a44c5d2171.png)

2. Introduction feedback: HEC team confirmed that they would like Health Resource Center changed to Health Elig

[2021-09-01 19:00] miabecker opened #29566 "PLACEHOLDER - VBE Education Benefits Attendance Verification Emails"

[2021-09-01 19:02] jhouse-solvd commented on #29001
@fowusu2 - Can you summarize Nancy's recommendation here? And let us know what the next step is, if any? Thank you in advance for your help.

[2021-09-01 19:04] leahkeeler commented on #28647
@dillo - is this a valid ticket? cc: @LinnJS

[2021-09-01 19:13] Dene-human commented on #28975
[Design is here](https://www.sketch.com/s/da85cf44-4503-4e98-834e-ff068b242ef6/a/pavlY1R)

I will talk about this with Danielle on Friday. I believe it needs to be in plain language.

[2021-09-01 19:16] leahkeeler commented on #27134
This has been completed

[2021-09-01 19:20] leahkeeler commented on #28020
Needs to be captured in BE Epic - closing

[2021-09-01 19:20] #28020 closed

[2021-09-01 19:22] leahkeeler commented on #22684
Is this ticket good to close then?

[2021-09-01 19:23] jhouse-solvd commented on #29427
Closing per Bill's comment above.

[2021-09-01 19:23] #29427 closed

[2021-09-01 19:24] #28445 closed

[2021-09-01 19:27] Rleahy22 commented on #29556
Is this available for anyone to pick up or just the tools team?

[2021-09-01 19:39] amyknox commented on #29365
[Desktop prototype here](https://bahdigital.invisionapp.com/share/QCIAGXOTD3P#/296065251_Searchbylocation_Desktop_results_-1-)
[Mobile prototype here](https://bahdigital.invisionapp.com/share/QDIAGYESX4T#/296060491_CT_Searchbyname_mobile_1)

This update is incorporated into launch blocker #29474 (The text "Showing 8 search results for 'UNIVERSITY...' was updated to be consistent with current VA se

[2021-09-01 19:43] tressaellen commented on #26602
All synthesis is in this [Mural board.](https://app.mural.co/t/vsa8243/m/vsa8243/1629486960158/8b6f559f0cc35a20d98bf6c5f462ca5f1a022840?sender=tressafurner7646)

Session notes are in [this spreadsheet](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/my-va/action-items-discovery/research/participant-notes/Action%20Items%20Research%20Notes.

[2021-09-01 19:49] Rleahy22 commented on #25103
@mmiddaugh are you still not seeing the back to top button in IE11? I checked in browserstack and I see it, but I realize that may not be a perfect test.

<img width="1786" alt="Screen Shot 2021-09-01 at 3 48 23 PM" src="https://user-images.githubusercontent.com/3144003/131734715-a3bb2978-ca34-4991-95e8-b5823b468c09.png">

[2021-09-01 19:53] dmccurdybah commented on #29342
PR: https://github.com/department-of-veterans-affairs/vets-website/pull/18491

[2021-09-01 20:14] ltrombley commented on #29196
9/1/21: Added to Tugboat - ready to process.

[2021-09-01 20:14] ltrombley commented on #29197
9/1/21: Added to Tugboat - ready to process.

[2021-09-01 20:20] ffafara-tw commented on #28516
Here is your service information:

[code]

`message_limit` is number of allowed message a day.
`rate_limit` is number of API requests per minute.

These values will be adjusted in production environment.

[2021-09-01 20:22] #28047 closed

[2021-09-01 20:24] leahkeeler opened #29568 "Update moment.js to pass date format"
moment.js currently parses date strings by using the default JavaScript Date constructor and will be deprecated so we need to the input date format before sending it to moment.

`moment("09-02-2021", "MM-DD-YYYY");
`

Details about this issue can be found here: http://momentjs.com/guides/#/warnings/js-date/
Supporting documentation: https://momentjs.com/docs/#/parsing/string/

Warning received for

[2021-09-01 20:32] chloedotbrown commented on #24740
Confirming that QA is complete and closing this ticket. We'll start sending this report this month! If you have any questions or feedback for us moving forward, please feel free to reach out!

[2021-09-01 20:32] #24740 closed

[2021-09-01 20:33] kellylein commented on #26830
We have officially turned the email notification on in Production! Is there anything specific we need to do to get it listed on this page? https://analytics.google.com/analytics/web/#/report/content-event-events/a50123418w177519031p176188361/_r.drilldown=analytics.eventCategory:email,analytics.eventAction:open&explorer-table.plotKeys=%5B%5D&explorer-table.secSegmentId=analytics.eventLabel&explorer

[2021-09-01 20:34] andaleliz commented on #27113
@erikphansen and @tmitchellgcio if we put an alert on the site like this, could we hide it from users once they have made a selection for all notification options? I don't want to make it dismissible because I want people to go update their settings, but I also don't want to annoy people once they have already done so.

![image](https://user-images.githubusercontent.com/55992116/131740973-a58062c9

[2021-09-01 20:37] kelsonic commented on #29183
Redirects validated on dev/staging, and now deployed to prod!

[code]

[2021-09-01 20:41] chloedotbrown opened #29569 "Audit existing GA implementation materials and scope new ones"
## Issue Description
VFS teams understand how to read user interaction data and navigate the modernized view in Google Analytics. Platform Analytics team needs to understand what resources are already available on Github to update/transfer to Confluence and what gaps still need to be met.

---
## Tasks
- [ ] Audit existing documentation.
- [ ] Compare existing documentation to needs identified in

[2021-09-01 20:43] #28705 closed

[2021-09-01 20:54] peggygannon commented on #28201
Hi, @shiragoodman @allison0034 Please see below for suggested update to Midpoint Review guidance to make it more clear that teams should have a functional product at the Midpoint Review.

cc @rroueche

Current guidance:
**When should I request this touchpoint?**
When you have determined your initial solution approach and have prototypes or mockups ready for usability testing

Updated guidance:
**W

[2021-09-01 20:54] chloedotbrown opened #29570 "Discovery for best QA processes for GA data"
## Issue Description
Platform Analytics team wants to identify a more streamlined process for QAing GA data to make it quicker and easier for more teams to do themselves.

---
## Tasks
- [ ] Evaluate the different options (Data Studio? something else?).
- [ ] Document findings.

## Acceptance Criteria
- [ ] Platform Analytics team has a more efficient, accessible process for QAing GA data, and tha

[2021-09-01 20:55] ffafara-tw commented on #28516
If you want to smoke test integration you can send notifications to following email addresses:
[code]

The smoke test email addresses will validate the request and simulate a successful response, but will not send a real message, produce a delivery receipt or persist the notification to the database.

[2021-09-01 20:57] CBonade opened #29571 "[S3] Permissions needed to manage "testing-tools-testing-reports" bucket"
## Description
Now that uploads are working from GHA to the bucket `testing-tools-testing-reports`, I need a bit more help making sure we can manage our bucket appropriately.

1) I need to be able to set object expiration for our files in our bucket `testing-tools-testing-reports`.  We'd ideally like all reports and videos to fall off every 30 days, to keep it from ballooning in size too much over

[2021-09-01 20:58] dginther commented on #25394
Demian to add lighthouse-marmoset team to a project in ArgoCD to allow team access.

[2021-09-01 21:03] ffafara-tw commented on #28516
API key shared with Matthew Smith.

[2021-09-01 21:06] lunascoop opened #29572 "Create new page for COVID-19 vaccine records online and update vaccine mini hub content"
## Issue Description
Now that Veterans can get a copy of your VA COVID-19 vaccine records through the My HealtheVet website or on their mobile device, we are going to create a child page of the vaccine mini-hub to use for information and questions pertaining to vaccination records.
This page will also need to be translated as well as questions added/updated on the mini-vaccine hub.

**Doc sent to

[2021-09-01 21:08] rwilliams-oddball commented on #29447
/request Christine Dillman

[2021-09-01 21:15] RudyOnRails commented on #28959
Closing in favor of https://github.com/department-of-veterans-affairs/va.gov-team/issues/29552

[2021-09-01 21:15] #28959 closed

[2021-09-01 21:15] john-thomashill commented on #29463
@miabecker correct. We're anticipating the form to be live on VA.gov around November

[2021-09-01 21:16] miabecker commented on #26830
Hi, @kellylein congratulations! The open rates are out of box and so just look for it on the google analytics page.

[2021-09-01 21:23] chloedotbrown opened #29573 "Create new GA usage documentation"
## Issue Description
VFS teams understand how to read user interaction data and navigate the modernized view in Google Analytics. To be started once discovery/audit of existing documentation (#29569) is complete.

---
## Tasks
_Platform Analytics to update list of artifacts here needed here once auditing work complete. Below are ideas from [Mural session](https://app.mural.co/t/adhocvetsgov9623/m/

[2021-09-01 21:35] shiragoodman commented on #28201
this is a great improvement Peggy. I approve.

[2021-09-01 22:02] dillo opened #29574 "Update CHIP Faraday client"
Remove the following from the CHIP Faraday connection:
- `conn.request :json`
- `conn.response :json`

[2021-09-01 22:07] SKasimow opened #29575 "508 Defect | Screenreader | Covid-19 Breadcrumb"
Accessibility issue discovered:  when testing on Windows/NVDA/Chrome, "Vacunas contra COVID-19 en el VA" in the breadcrumb is missing a lang="es" tag.

[2021-09-01 22:27] HeatherSborz commented on #29463
Hi @miabecker it looks like @john-thomashill got your question answered. Please let me know if you have any additional questions.

[2021-09-01 22:34] laurenernest commented on #29056
@jbalboni Any additional validation for this?

[2021-09-01 22:39] cvalarida opened #29576 "va-alert padding is too big"
## Issue Description
The `va-alert` padding takes up more space than it should (compared to the old component).
![image](https://user-images.githubusercontent.com/12970166/131754494-ae107ff9-7c40-47c3-9ee3-c6095446e0b5.png)

## Acceptance Criteria
- [ ] The padding is uniform and reasonably sized (matches the legacy component)

[2021-09-01 22:41] bosawt opened #29577 "Add login.gov uuid validations and other appropriate checks for Accounts table"

[2021-09-01 23:18] #28741 closed

[2021-09-01 23:18] #28742 closed

[2021-09-01 23:18] #28743 closed

[2021-09-01 23:18] #28746 closed

[2021-09-01 23:18] #28747 closed

[2021-09-01 23:18] #28748 closed

[2021-09-01 23:18] #28749 closed

[2021-09-01 23:18] #28750 closed

[2021-09-01 23:18] #28751 closed

[2021-09-02 00:15] RudyOnRails commented on #28617
@jason-gcio i think this one is ok to close, as it is covered in the other CH31 ticket for when we rescue the `VBMS::DownForMaintenance` and send to CMP.

[2021-09-02 00:15] #28617 closed

[2021-09-02 01:00] mydesignrocks commented on #29526
SOCKS access granted. Please continue with [the guide](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/engineering/internal-tools.md#configure-the-socks-proxy) to establish a connection to SOCKS proxy.

[2021-09-02 01:00] mydesignrocks commented on #29509
SOCKS access granted. Please continue with [the guide](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/engineering/internal-tools.md#configure-the-socks-proxy) to establish a connection to SOCKS proxy.

[2021-09-02 01:01] mydesignrocks commented on #29509
@mchelen-gov - please review for AWS access. He is part of our ops team.

[2021-09-02 02:06] mydesignrocks commented on #29457
all tasks are marked complete, closing.

[2021-09-02 02:06] #29457 closed

[2021-09-02 02:52] theodur commented on #1678
This is a long time coming 😅, but all uses of `lodash/fp` in `vets-website` have been removed 🎉. I created a [PR](https://github.com/department-of-veterans-affairs/vets-website/pull/18496) for adding `lodash/fp` as a restricted import in our eslint config. I'll communicate this to frontend developers tomorrow, prior to merging the PR.

[2021-09-02 03:27] bsmartin-ep commented on #29011
@joeniquette -

I made the change but it appears to only be working for one set of cookies.

The OPIA Joint property is secure:

![Screenshot from 2021-09-01 23-21-20](https://user-images.githubusercontent.com/62304138/131776508-0d174480-2aff-4c12-8a76-bff4453eff5b.png)

(The checkmark on the right)

..but the primary cookies are not:

![Screenshot from 2021-09-01 23-22-17](https://user-images.git

[2021-09-02 03:59] theodur commented on #29134
I don't know why this slipped my mind during sprint planning, but we already have a way of doing this. Passing the `--entry` flag with the entry name of the app will only build the app's bundle, along with the shared modules. You can pass multiple entry names with this option too.

[2021-09-02 09:23] amattsmithva commented on #28516
Hi Filip,

Please share API key with @Lemire, Ryan ***@***.***> I wasn't able to forward the information.

Thanks,

Matt

From: Filip Fafara ***@***.***>
Sent: Wednesday, September 1, 2021 4:04 PM
To: department-of-veterans-affairs/va.gov-team ***@***.***>
Cc: Smith, Matthew T. (Iron Bow) ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [department-of-veterans-affairs/va.gov-team] Busine

[2021-09-02 12:05] ndsprinkle opened #29578 "Add Rollback Support to GitHub Action Workflow"
## Details
Currently, if a production deployment has an issue and needs to be rolled back to a previous commit, this is possible through Jenkins. This is done by triggering a new deploy job in Jenkins and passing in a previous release tag. More details on this process are described here: https://vfs.atlassian.net/wiki/spaces/FTT/pages/1844641889/Deployments#Rollbacks

This functionality should be

[2021-09-02 12:26] MarciMcGuireGCIO commented on #26908
Thanks, @zacharymorel!  Hmmmm...  It seems to have the Adobe message (option #3) rolled up into it.  We haven't yet determined which version we are going live with, and we will also have to get that content translated before we implement it.  Can you take that part out for now so that it matches [the mockup](https://github.com/department-of-veterans-affairs/va.gov-team/issues/27467#issue-946377157

[2021-09-02 12:47] MarciMcGuireGCIO commented on #27212
There are still issues with the military board portals that we believe will be detrimental to the user experience.  Blocking this until we can determine a better option.

[2021-09-02 12:47] zacharymorel commented on #26908
Oh yeah, that's behind a flag which is left over from testing. It won't show on prod and I'll turn off the flag on staging now.

[2021-09-02 12:48] MarciMcGuireGCIO commented on #21758
Blocked pending content review from VA forms managers.

[2021-09-02 12:48] MarciMcGuireGCIO commented on #26908
Ah ok; thanks!

[2021-09-02 12:49] zacharymorel commented on #26908
It's off now on staging!

[2021-09-02 12:50] #27140 closed

[2021-09-02 12:51] MarciMcGuireGCIO commented on #26368
@zacharymorel This one looks pretty straightforward and may be able to be quickly incoroprated into the update you're already making.  It's just changing the text at the top of the page to say, "Enter a keyword, form name, or number" instead of "Search by...."

[2021-09-02 12:51] pjhill commented on #24353
PagerDuty integration is complete.

[2021-09-02 12:51] #24353 closed

[2021-09-02 12:53] pjhill commented on #28218
* MVP of this did not include the graph.
* Post-MVP release does include a graph to select additional E2E test specs when an application imports another application's files.

[2021-09-02 12:53] #28218 closed

[2021-09-02 12:53] pjhill commented on #28635
Hooray notifications!

[2021-09-02 12:53] #28635 closed

[2021-09-02 12:54] pjhill commented on #28718
We have gone a few weeks without errors popping up -- good work!

[2021-09-02 12:57] zacharymorel commented on #26908
So since we just put the full translation in Spanish, are we good to go?

[2021-09-02 12:58] zacharymorel commented on #23641
@joshkimux Can you give this another review on staging?

[2021-09-02 13:01] MarciMcGuireGCIO commented on #26908
Yep!

[2021-09-02 13:06] joshkimux commented on #23641
Yes sir! On it now

[2021-09-02 13:10] joshkimux commented on #23641
This has been fixed. Stellar work as always @zacharymorel 🥳

[2021-09-02 13:13] delli-gatti-michael commented on #29429
Changes are on staging

[2021-09-02 13:16] jbalboni commented on #29056
@laurenernest Looks good to me on staging

[2021-09-02 13:16] #29056 closed

[2021-09-02 13:22] shiragoodman commented on #28859
tracker is updated. thanks for the reminder @jparker0425

[2021-09-02 13:23] jparker0425 commented on #28859
Thank you @shiragoodman !

[2021-09-02 13:23] #28859 closed

[2021-09-02 13:34] lunascoop commented on #29572
@RLHecht here's the new page for review. http://preview-prod.vfs.va.gov/preview?nodeId=3479

[2021-09-02 13:44] mpelzsherman commented on #28249
Verified in prod.

The "Heading levels should only increase by one" Axe error is still present on the page, but there is no extraneous empty table of contents now.

[2021-09-02 13:44] #28249 closed

[2021-09-02 13:45] ddzz commented on #26654
PR: https://github.com/department-of-veterans-affairs/content-build/pull/499

[2021-09-02 13:45] #29096 closed

[2021-09-02 13:53] Kennon-git opened #29579 "CHIP Returns a list of updated appointments"
We need a series of endpoints to update the list of appointments viewable to a Veteran.

CHIP side - CHIP can pass appointment data with a Patch or Put endpoint

LoROTA side - LoROTA endpoint for updating data so when CHIP passes appointment data with a Patch or Put endpoint

**Task is Done When:**
Appointment data can be updated through CHIP and LoROTA

[2021-09-02 13:53] MarciMcGuireGCIO commented on #23641
Thank you again to the dynamic duo! 🥳

[2021-09-02 13:59] Kennon-git opened #29580 "VistA API endpoint for appointment / patient data"
In a mirror of what VEText currently does, VistA api needs to be able to return appointment and patient data so we can support multiple appointments.

**Task is Done When:**
VistA API can mirror VEText's functionality for returning appointment & patient data

[2021-09-02 14:04] elder-joseph commented on #29336
Associated PR: https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/vets-website/18478

[2021-09-02 14:04] elder-joseph commented on #29337
Associated PR: https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/vets-website/18425

[2021-09-02 14:10] zacharymorel commented on #26368
@MarciMcGuireGCIO is this for the next sprint?

[2021-09-02 14:12] #26908 closed

[2021-09-02 14:13] zurbergram commented on #29334
https://github.com/department-of-veterans-affairs/vets-website/pull/18500

[2021-09-02 14:17] delli-gatti-michael commented on #29333
Local testing complete

[2021-09-02 14:18] DanielleThierryUSDSVA commented on #27438
@brianalloyd @callen2563  Working Drupal preview as we continue working on content in the Drupal page: http://preview-prod.vfs.va.gov/preview?nodeId=34641.

Meeting with Soni to go over this and ask some questions next week.

[2021-09-02 14:19] RudyOnRails commented on #26069
Good morning,

My teammate Kathleen will be on vacation next week, and I will be the only backend dev on our team. Is there a chance that I could get access to AWS in preparation for Kathleen being out next week?

Thank you,
Kevin

cc: @kathleencrawford @jason-gcio

[2021-09-02 14:27] k80bowman commented on #29486
Thank you! I'm going to leave this one open a little bit longer. I found a couple of items we may want to add.

This is the first: https://vfs.atlassian.net/wiki/spaces/FTT/pages/1860239371/Downtime+notifications

I'm confirming with the BE Tools team if we should move the Feature Toggle documentation as well.

[2021-09-02 14:32] zacharymorel commented on #26905
Hey @joshkimux , is the links in the "Helpful Links" section suppose to have an underline OR just not turn grey on hover state?

![Screen Shot 2021-09-02 at 10 31 33 AM](https://user-images.githubusercontent.com/26075258/131862533-4b41f08e-37e4-49c7-9049-c657220bb7ec.png)

[2021-09-02 14:32] zacharymorel commented on #26368
Okay, how about we move it in to sprint backlog then?

[2021-09-02 14:33] Kimberley2019 commented on #29156
@annaswims I can advise the veteran:
 This veteran says they're activated on federal orders until 2024 which means that they do not qualify to submit the form.
Veterans must be within 180 days of their release from active duty date to submit this form.
After I inform of this information should I close this ticket?

[2021-09-02 14:33] MarciMcGuireGCIO commented on #26368
Sounds good!

[2021-09-02 14:35] dillo opened #29581 "Create an auth v1 endpoint for LoROTA authentication"
- [ ] Create auth v1 controller
- [ ] Create route and namespace it under v1

[2021-09-02 14:38] ksantiagoBAH commented on #29471
PR: https://github.com/department-of-veterans-affairs/vets-website/pull/18502

[2021-09-02 14:39] joshkimux commented on #26905
@zacharymorel Just have an underline! 😄

[2021-09-02 14:39] ksantiagoBAH commented on #29358
PR: https://github.com/department-of-veterans-affairs/vets-website/pull/18501

[2021-09-02 14:49] joeniquette commented on #29011
Is this all set within GTM? Or are you setting this somewhere else?

[2021-09-02 14:50] andaleliz opened #29582 "[Content] Notification Settings - Update content to reflect notification settings"
We need to track down any pages on VA.gov that

- reference email notifications for health care and claims/appeals and update accordingly to reflect the new notification settings section on the site.
- have content where it would make sense to tell Veterans that now they can manage related settings in their profile (e.g. appeal status information)

[Here's the list of MVP notifications](https://gi

[2021-09-02 14:52] allison0034 commented on #27575
@f1337 below are the emails and people we need:
### Design Intent email (design.intent@oddball.io):
 Platform Collaboration Meeting
shira.goodman@oddball.io
allison.christman@oddball.io
peggy@thesocompany.com
ryan.thurlwell@va.gov
rhecht@governmentcio.com

### Midpoint review email (midpoint.review@oddball.io):
 Platform Collaboration Meeting
 shira.goodman@oddball.io
allison.christman@oddball.io

[2021-09-02 14:53] andaleliz commented on #29582
@ajakabcin created this ticket since I came across the instance in the description. I can add more pages as I come across them.  It'd be great if you could add any you think of too. We'll have to work with Danielle + team on the content, and they may be able to help us track more down.

RE this piece:

Is that something you can take the lead on? From a UX perspective I think it makes sense to do s

[2021-09-02 14:54] dillo opened #29583 "Setup a v1 LoROTA service layer for storing Redis tokens"
- [ ] Ability to store and retrieve basic read token from LoROTA
- [ ] Ability to store and retrieve full read token from LoROTA
- [ ] Tokens should expire according to the set time

[2021-09-02 14:56] tchrisdyer opened #29584 "[Front End] 10-10EZ Intro: Remove the word "full""
## User Story
As a Veteran, I need to understand that there is no partial enrollment status for the 10-10EZ.

## Expected Behavior

We need to remove the word "full" from the first sentence under the **Check your eligibility" section on the 10-10EZ.
![image.png](https://images.zenhubusercontent.com/60a82759d2c5ea6177753bf1/07d28ff8-3a80-430f-8c23-a5daa457e3bc)

## Acceptance Criteria

- [ ] Remove

[2021-09-02 14:58] tchrisdyer opened #29585 "[Design] 10-10EZ Intro: remove the word "full" in content source of truth"
## User Story
As a Veteran, I need to understand that there is no partial enrollment status for the 10-10EZ.

The purpose of this story is to update the content source of truth.

## Expected Behavior

We need to remove the word "full" from the first sentence under the **Check your eligibility" section on the 10-10EZ.
![image.png](https://images.zenhubusercontent.com/60a82759d2c5ea6177753bf1/07d28f

[2021-09-02 14:59] cbtkc commented on #27183
Started a [thread](https://dsva.slack.com/archives/CQHBJ5U06/p1630594637012600) in the vsp-tools-be channel to discuss this ticket.

I will post updates on this ticket as well as I make progress.

[2021-09-02 15:02] dillo opened #29586 "Setup a v1 LoROTA service layer for token exchange"
- [ ] Ability to generate claims token for basic or full reads
- [ ] Ability to process tokens fetched from LoROTA

[2021-09-02 15:04] elder-joseph commented on #29470
Associated PR: https://github.com/department-of-veterans-affairs/vets-website/pull/18504

[2021-09-02 15:06] dillo opened #29587 "Setup a v1 LoROTA service layer for handling HTTP requests"
- [ ] Setup a new Faraday connection
- [ ] Setup the request object to handle GETs and POSTs

[2021-09-02 15:06] #29423 closed

[2021-09-02 15:09] CBonade commented on #28265
Happy to report that reports are now uploading to S3 as part of the standard workflow.  The only things I am waiting on at this point are additional S3 permissions to delete and set object expiration timers

[2021-09-02 15:09] dillo opened #29588 "Setup a v1 LoROTA service layer for establishing a session"
- [ ] Create a session object to coordinate between Redis and LoROTA tokens

[2021-09-02 15:10] pjhill opened #29589 "Wire up Alarms and PagerDuty Alerts for Synthetic Monitors"
# Description
There are currently three Canaries that are not wired up to alarms in AWS or PagerDuty alerts.

## Tasks
- [x] Create an AWS alarm and PagerDuty alert for `build-error-check`
- [x] Create an AWS alarm and PagerDuty alert for `vagov-heartbeat`
- [x] Create an AWS alarm and PagerDuty alert for `data-fetch`

[2021-09-02 15:11] CBonade commented on #29405
We decided to go in a different direction with this after we ran into some roadblocks that it looks like might not be able to be overcome in GHA.  Ready to close this one.  All work done to it has been reverted to it's prior, best-working state.

[2021-09-02 15:11] candy-gcio commented on #29213
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/ebenefits/features/dependency-verification/research-design/usability-testing-1/dependency_verification_topline.md

[2021-09-02 15:12] dillo opened #29590 "Setup a v1 LoROTA service object for integrating everything else in the service layer"
- [ ] Create a service object to coordinate and integrate all of the other service objects inside this service layer

[2021-09-02 15:12] CBonade commented on #26560
Nightwatch is no longer running in our GHA or Jenkins workflows. The process is now under way of alerting teams to their specs being removed for approval, and the last step will be removing global configs and helpers.

[2021-09-02 15:16] delli-gatti-michael commented on #29334
local testing complete

[2021-09-02 15:17] dillo opened #29591 "Integrate the v1 auth controller and the v1 LoROTA services layer"
- [ ] Auth controller should use the LoROTA service layer when getting and passing data to the UI

[2021-09-02 15:18] brianalloyd commented on #29183
Validate and closing.

[2021-09-02 15:18] #29183 closed

[2021-09-02 15:20] dillo opened #29592 "Setup a v1 LoROTA service layer for handling HTTP responses"
- [ ] Create a response object to handle the data returned from LoROTA

[2021-09-02 15:22] dillo opened #29593 "Setup StatsD monitoring for v1 LoROTA"
- [ ] StatsD all the service level objects where appropriate
- [ ] StatsD monitor the auth endpoint

[2021-09-02 15:24] dillo opened #29594 "Investigate swagger documentation for v2 Check-in"
**Background**
This item is to complete documentation in Swagger for the new API for Check-in. This API has been versioned and previous versions were deprecated.

**Acceptance Criteria**
- [ ] documentation has been completed.

[2021-09-02 15:25] andaleliz commented on #29582
Danielle works all the time with MHV content strategy manager, he is very supportive of alignment and promoting meaningful tips/tools for Veterans.  She has offered to help us meet with him to figure out the best way to align if we decide to want to put something on MHV.

[2021-09-02 15:26] shiragoodman commented on #27575
@allison0034 the midpoint and staging are the same people. Do we anticipate this changing? if not, do you think we could just have 1 group for both midpoint and staging?

[2021-09-02 15:26] dillo opened #29595 "Setup LoROTA config data in dev, staging and production environments"
- [ ] Add configuration data for LoROTA under the chip key in the DevOps repo in dev, staging, and production env

[2021-09-02 15:28] zurbergram commented on #29474
https://github.com/department-of-veterans-affairs/vets-website/pull/18506

[2021-09-02 15:29] dillo opened #29596 "Setup v1 LoROTA and Check-In access policy"
- [ ] Create a new policy struct in the policy directory for v1 of Check-in

[2021-09-02 15:32] bsmartin-ep commented on #29011
That is correct @joeniquette.

I've tried adding in a manual `cookieName`, including `samesite`, and various capitalizations of the flags.

I have put out an APB to the rest of my company to see if they can help since this is still beta and mostly undocumented for GTM.

[2021-09-02 15:34] zurbergram commented on #29365
https://github.com/department-of-veterans-affairs/vets-website/pull/18506

[2021-09-02 15:40] #28875 closed

[2021-09-02 15:40] #29435 closed

[2021-09-02 15:41] #28874 closed

[2021-09-02 15:41] #29219 closed

[2021-09-02 15:41] zurbergram commented on #29478
https://github.com/department-of-veterans-affairs/vets-website/pull/18507

[2021-09-02 15:41] #29213 closed

[2021-09-02 15:41] ksantiagoBAH commented on #29476
PR: https://github.com/department-of-veterans-affairs/vets-website/pull/18508

[2021-09-02 15:41] #28093 closed

[2021-09-02 15:42] #28897 closed

[2021-09-02 15:42] #29448 closed

[2021-09-02 15:44] #28636 closed

[2021-09-02 15:44] andaleliz commented on #28636
@ajakabcin Danielle approved the content in the mock-up so we are good to go. One point I want to clarify:

Users should see this alert when they come from the notification settings page, including when they are coming from the variation they see when they have neither an email or mobile number in their profile.

[2021-09-02 15:47] pjhill opened #29597 "Upgrade Cypress to Current Version After GitHub Actions Release"
# Description
We have fallen a bit behind the current Cypress version ([8.7.0](https://docs.cypress.io/guides/references/changelog#8-7-0)). We are currently on Cypress 7.6.0 which was released on Jun 23, 2021. Once GHA is released and stable, we should make the upgrade and resolve any issues that result.

## Tasks
- [ ] Upgrade `vets-website` to current Cypress version (8.3.1 at time of writing)
-

[2021-09-02 15:48] mramirez-va opened #29598 "Offboarding of Ana Ricci"
# Instructions
Fill out name of individual and *Description* section below.

# Description
- Please provide the name of the individual needing offboarded.

- Please provide the name of their team, their role on that team, expected last day, and the name of the company they work for.

- Please provide any type of access they may have and their GitHub username.

## AC
 - [x] Remove from [VFS Team Ro

[2021-09-02 15:50] mramirez-va opened #29599 "Offboarding of Jennifer Nguy"
# Instructions
Fill out name of individual and *Description* section below.

# Description
- Please provide the name of the individual needing offboarded.

- Please provide the name of their team, their role on that team, expected last day, and the name of the company they work for.

- Please provide any type of access they may have and their GitHub username.

## AC
 - [x] Remove from [VFS Team Ro

[2021-09-02 15:50] mramirez-va commented on #29599
/request Jennifer Nguy

[2021-09-02 15:52] elder-joseph commented on #29362
Associated PR: https://github.com/department-of-veterans-affairs/vets-website/pull/18504

[2021-09-02 15:52] RLHecht commented on #29538
@cmaeng I think I misunderstood what was showing on the preview page. The article categories is separate from the benefit hubs. Those 3 are checked and correctly showing so this isn't a bug after all. But I guess a new question is what do those article categories do? You can't search by the category on the Resources landing page--if you do, only the articles that have that word in the H1 will show

[2021-09-02 16:09] laurenernest opened #29600 "(WIP) [Spike] Appointment status changes"
## Description
Goal: show relevant and timely notifications about appointments in VAOS.

To show notifications, we'd like to understand what kind of appointment status changes we can use (currently in existence or what we could implement) as triggers for notifications.

## Questions

[2021-09-02 16:10] caw310 commented on #26619
Hi @andaleliz , following up from Slack conversation. This is in our backlog but after talking to the team it’s a low priority compared to other work on our plate. However, if you have an engineer who wants to make this change, Chris or Brooks will review and approve their PR.

[2021-09-02 16:19] ajakabcin commented on #29582
Could probably put out an APB in platform, with the other VFS pm's, and/or at next week's ToTs for folks to flag instances they know of in their products as well

[2021-09-02 16:21] beth-wodzinski opened #29601 "No locations returned for COVID 19 vaccination"
## What happened?
In VAOS, when trying to book a covid vaccine appointment, I get "We couldn't find a VA facility where you receive care that accepts online appointments for COVID-19 vaccines." instead of the patient's locations. CHYSHR and Ft Collins are set to Yes, Any in VATS but are not returned in VAOS.

Without locations being returned, I cannot book a vaccine.

## Steps to Reproduce
1. In V

[2021-09-02 16:23] brianalloyd commented on #29528
@kelsonic I'll break out 4 & 5 into a connected ticket for tracking and timing.  I have this slotted for the upcoming sprint for the items that ready, pending items will wait until ready.

[2021-09-02 16:31] zurbergram commented on #29336
Scrolling change is jarring and causing scrolling to occur even when element is already in view

https://user-images.githubusercontent.com/1094999/131882164-cbc4b1ad-dcd7-4ea5-a21e-4dfc6a4eb7ce.mov

https://user-images.githubusercontent.com/1094999/131882197-9d1d876b-c1f8-4d3d-9d4f-e00725678b1c.mov

[2021-09-02 16:31] rileyorr opened #29602 "[MCP] Document outstanding items for SMEs"
## Issue Description
We need to document the outstanding items we need SME assistance with in order to move forward with finalizing the MCP's MVP

---
## Tasks
- [x] Document the outstanding items for MCP SMEs
- [x] Present document to team

## Acceptance Criteria
- [x] Document has been presented to team
- [x] Document is linked in this ticket as a comment

[2021-09-02 16:32] rileyorr commented on #29602
Created this ticket to accurately capture this sprint's work. [The document can be found here!](https://governmentcio.sharepoint.com/:w:/r/sites/VSATeam/Shared%20Documents/Design%20%26%20Research/Benefits%20%26%20Memorials%202/VHA%20Debt%20Letters%20Improvement/Outstanding%20items.docx?d=wa3b6f47a50c94f8a8841ebca5de54ca5&csf=1&web=1&e=iuPZqp)

[2021-09-02 16:40] mleclerc00 opened #29603 "[Kubernetes] Argo - certificate signed by unknown authority"
## Description
After the update yesterday, it seems that argo is having trouble fetching some helm charts.  This is because I missed the fact that we were building the needed containers from dockerfiles that integrated the VA certs.  In the most recent GHA I implemented, the images are being pulled directly from the repo itself instead which means the certs are missing.

![image](https://user-imag

[2021-09-02 16:42] MarciMcGuireGCIO commented on #27478
I believe we are ready. I will delete the recordings on my end also. Thank you.

[2021-09-02 16:45] brianalloyd opened #29604 "Public Websites: Sprint 56 Priorities"
## Sprint 56 Priorities (HRT Mobile Design, Content, Research plan / Home Page Banner Initiative (Short Term) / Tech-debt & In-take Requests / CLP - VEO Action Center / New VA.gov Mobile Header Initiative
1.  Harassment Reporting Tool (HRT) Flow/Design (Intro Page/Form) and Wireframes/Design Mockups, Finalize Research Needs (Research/Design/FE), Sync FE build efforts and Next Steps (VSP Design Int

[2021-09-02 16:46] ffafara-tw commented on #28516
Sent email to @lemire

[2021-09-02 16:47] brianalloyd commented on #28858
Looks good, validate and closing.

[2021-09-02 16:47] #28858 closed

[2021-09-02 16:47] brianalloyd commented on #25659
@joshkimux looks good to me, could you validate and close in support.

[2021-09-02 16:47] kelsonic commented on #29528
Thanks @brianalloyd! 🔥

[2021-09-02 16:53] Kimberley2019 commented on #29156
From: VA Technical Support
Sent: Thursday, September 2, 2021 12:52 PM
To: ' A Smith'
Subject: RE: [EXTERNAL] Re: Disability Claim Application Issue

Good Afternoon Mr. Smith,

Thank you for your service.

Thank you for proving the information below.  After review of the issue from our technical team, it appears that you are
activated on federal orders until 2024 which means that you do not qualify

[2021-09-02 16:53] #29156 closed

[2021-09-02 16:58] brianalloyd opened #29605 "Footer Changers from IA - Remove the "Veterans portrait project" link from the sub-footer"
## Why you're here
Seperated workflow from ticket Footer Changers from IA #29528

### Engineering support for:
- Redirects that have **first been vetted by the Platform Product Support team**. If you are requesting a redirect, please submit the [Redirect Issue Template](https://github.com/department-of-veterans-affairs/va.gov-team/issues/new?assignees=mnorthuis&labels=vsp-product-support%2C+ia&tem

[2021-09-02 16:59] zurbergram commented on #29479
Tested below as all of these were affected by changing url value, this is includes using a preview version:
- direct url http://localhost:3001/gi-bill-comparison-tool-sandbox/institution/31005740, http://localhost:3001/gi-bill-comparison-tool-sandbox/institution/2V000406/HACK%20REACTOR%20SOFTWARE%20ENGINEERING
- clicking link in a Search Result Card
- clicking link in Compare Page
- inspecting Ins

[2021-09-02 16:59] Kimberley2019 commented on #29127
@vhenry07 @annaswims Any updates on this issue?

[2021-09-02 17:02] brianalloyd opened #29606 "Footer Changers from IA -Add a "Harassment" link to the sub-footer."
## Why you're here
Separated workflow from ticket Footer Changers from IA #29528

### Engineering support for:
- Redirects that have **first been vetted by the Platform Product Support team**. If you are requesting a redirect, please submit the [Redirect Issue Template](https://github.com/department-of-veterans-affairs/va.gov-team/issues/new?assignees=mnorthuis&labels=vsp-product-support%2C+ia&tem

[2021-09-02 17:07] cindymerrill commented on #27478
OK, I've deleted recordings from my laptop and Keybase. Once you've deleted the recordings on your computer, we'll be done :)

[2021-09-02 17:08] Kimberley2019 commented on #29123
@vhenry07 @annaswims Any updates on this issue?
I have emailed the veteran and advised that the technical team is still looking into the issue and whenever I am provided an update, I will relay that to him.

[2021-09-02 17:14] MarciMcGuireGCIO commented on #27478
I'm all done!

[2021-09-02 17:17] Kimberley2019 commented on #29121
From: VA Technical Support
Sent: Thursday, September 2, 2021 1:17 PM
To: 'G Sampson'
Subject: RE: [EXTERNAL] Re: Disability Claim Application Issue

Good Afternoon Mr. Sampson,

Thank you for your service.  My technical team has asked me to gather a little more information from you concerning this issue.

They have been able to locate your form, but are not able to recover any issues on their end.

[2021-09-02 17:21] Kimberley2019 commented on #29120
@vhenry07 @annaswims Any updates on this issue?
I have emailed the veteran and advised that the technical team is still looking into the issue and whenever I am provided an update, I will relay that to him.

[2021-09-02 17:27] patrickvinograd commented on #7830
I would say the use case of being able to share monitoring dashboards more widely/easily is still something to keep in mind, even if not tied to Grafana. Ok with this remaining closed though.

[2021-09-02 17:28] RLHecht opened #29607 "Add LGBTQ+ to word list"
## Issue Description
Now that we are using LGBTQ+ on VA.gov pages, we need to add this as an entry to the word list in the style guide.

## Tasks
- [x] Add LGBTQ+ entry to word list (Randi)
- [x] Review merge PR (Danielle)

## Acceptance Criteria
- [x] LGBTQ+ listed in style guide word list

[2021-09-02 17:33] cindymerrill commented on #27478
OK, thanks, @MarciMcGuireGCIO ! Closing ticket now.

[2021-09-02 17:33] #27478 closed

[2021-09-02 17:33] callen2563 commented on #29101
I have created the first draft [UX Pin prototype](https://preview.uxpin.com/2421e73be8eba75acea37ad3fbdd09bfc147940f#/pages/141512978?mode=chidm)
However, once we decide what the testing plan is we can change the interactions as needed. Also, the copy is the first draft I was given so there are areas that are still FPO and will be updated once Danielle is finished with the landing page copy.

[2021-09-02 17:36] zurbergram commented on #29347
https://github.com/department-of-veterans-affairs/vets-website/pull/18515

[2021-09-02 17:36] joshkimux commented on #25659
@Rleahy22 Awesome! The tab order looks great. Is there any way we might be able to trap focus within the mobile menu so the user has to select one of the options or choose to close the menu? The issue of the yellow focus halo being hidden by the mobile menu still exists 🙇

[2021-09-02 17:36] Kimberley2019 commented on #29119
I have reached back out to the caller to advise on progress.

From: VA Technical Support
Sent: Thursday, September 2, 2021 1:36 PM
To: 'Oliver Veras' <olivereras@gmail.com>
Subject: RE: [EXTERNAL] Re: Disability Claim Application Issue

Good Afternoon Mr. Veras,

Thank you for your service.

I wanted to reach out and inquire if you were able to successfully submit your claim.  The technical team a

[2021-09-02 17:37] kathleencrawford opened #29608 "Update VnpBenefitClaim Type for 674"
[PLACEHOLDER]

During testing it was discovered that the claim type for the 674 is not being set properly in the VNPBenefitClaim.

`app/models/bgs_dependents/vnp_benefit_claim.rb`

* More details to come, this is just a reminder for now

[2021-09-02 17:39] Kimberley2019 commented on #29117
@annaswims @Mottie should I'm a little confused by the comments.  Should I relay the information regarding the 400 character limit or does that NOT apply to this issue?  Please advise so that I can follow up with the veteran accordingly.

[2021-09-02 17:40] rileyorr commented on #29393
We thought through this use case and came up with two possibilities:
- Veteran is not copay required and doesn't have any VPS for the past 24 months
- Veteran is not copay required and has an active balance for at least one facility

---

The solution we came up with for each of those possibilities:
**Veteran is not copay required and doesn't have any VPS for the past 24 months**
They'll see the s

[2021-09-02 17:49] k80bowman commented on #29486
And this is the second. That should be it! https://vfs.atlassian.net/wiki/spaces/FTT/pages/1859780873/Feature+toggles

@timwright12 or @meganhkelley would you be able to take a look at these last two?

[2021-09-02 17:50] Kimberley2019 commented on #29117
From: VA Technical Support
Sent: Thursday, September 2, 2021 1:49 PM
To: 'M Fapso
Subject: RE: Disability Claim Application Issue

Good Afternoon Mr. Fapso,

Thank you for your service.

I wanted to follow up and advise that our technical team is still looking into your issue.  One of the pieces of advice they relayed is to ensure that the text description for sinusitis that begins with, ‘ I have

[2021-09-02 17:53] allison0034 commented on #27575
@shiragoodman I noticed that too but I thought having different emails would make this more flexible in the future.

[2021-09-02 17:54] Rleahy22 commented on #25659
Yup, sorry about that. I'll add that now.

[2021-09-02 17:55] omgitsbillryan commented on #29392
J/w - why the update? Have you lost access to the private key?

[2021-09-02 18:08] bethpottsVADEPO commented on #29274
@RLHecht Please attach here the Word doc I just slacked you--I'm having trouble attaching Word docs to tickets. And you can queue up these edits in drupal. Hold on publishing until we hear back from stakeholders with a thumbs up. Also, see my note to you in the comments. There's one bullet's worth of text that isn't approved yet.

[2021-09-02 18:10] #11891 closed

[2021-09-02 18:17] Kimberley2019 commented on #29116
I reached out to the veteran to see if he was able to submit.

From: VA Technical Support
Sent: Thursday, September 2, 2021 2:16 PM
To: 'C Aragon.'
Subject: RE: [EXTERNAL] A quick word

Good Afternoon Mr. Aragon,

Thank you for your service.

Your issue was reviewed by the technical team and they were able to determine that the last time you edited the form was on Monday, August 16th; the same day

[2021-09-02 18:18] andaleliz commented on #29582
That makes sense to me! I'll remove the MHV reference from the description of this one.

[2021-09-02 18:21] theodur commented on #1678
The PR for adding `lodash/fp` as a restricted import has been merged ✅

[2021-09-02 18:21] #1678 closed

[2021-09-02 18:21] CBonade opened #29609 "Set Object Expiration for reports in the S3 bucket"
As a follow up to: https://app.zenhub.com/workspace/o/department-of-veterans-affairs/va.gov-team/issues/28265

Now that we have gotten the reports into a stable environment in S3 (both E2E Testing reports and A11y Scan reports), we need to set Object Expiration timers for both the reports and the videos of failed tests to ensure that the S3 bucket does not balloon too large over time. The followin

[2021-09-02 18:22] shiragoodman commented on #26903
adding labels so ticket is consistent with post-pilot process

[2021-09-02 18:22] theodur commented on #1680
This work has been completed in https://github.com/department-of-veterans-affairs/va.gov-team/issues/1678.

[2021-09-02 18:22] #1680 closed

[2021-09-02 18:22] Kimberley2019 commented on #29115
Reached out to veteran to determine if he was able to submit.

From: VA Technical Support
Sent: Thursday, September 2, 2021 2:21 PM
To: 'J Catamisan'
Subject: RE: [EXTERNAL] Re: Disability Claim Application Issue

Good Afternoon Mr. Catamisan,

Thank you for your service.

I wanted to reach out and inquire if you were able to successfully submit your claim.  The technical team as indicated that th

[2021-09-02 18:23] theodur commented on #1679
This work has been completed in https://github.com/department-of-veterans-affairs/va.gov-team/issues/1678.

[2021-09-02 18:23] #1679 closed

[2021-09-02 18:23] andaleliz opened #29610 "[Content/Communications] - Determine whether or not we need to link from MHV or eBenefits to notification settings"
**Since MHV has the email version of our health care text notifications, does it make sense to put a CTA or link back to notification settings there?**

- Unsure exactly what the messaging would be since Veterans _already_ get the text messages and we're now giving them a way to manage it online (vs this being a brand new thing they can get)
- What would that look like as more health care notifica

[2021-09-02 18:24] andaleliz commented on #29610
Danielle works all the time with MHV content strategy manager, he is very supportive of alignment and promoting meaningful tips/tools for Veterans. She has offered to help us meet with him to figure out the best way to align if we decide to it makes sense to put something on MHV.

[2021-09-02 18:24] shiragoodman commented on #26905
adding labels so ticket is consistent with post-pilot process

[2021-09-02 18:28] theodur commented on #1983
@meganhkelley Not sure if this ticket is for `lodash/fp` specifically, or `lodash` as a whole. If it's the former, we can close this as well, since the work for it was completed from https://github.com/department-of-veterans-affairs/va.gov-team/issues/1678. I don't think there's the need to remove `lodash` right now, especially since we removed `lodash/fp`.

[2021-09-02 18:32] CBonade commented on #28265
Moving this to Review/QA to be verified for review for closing as the primary portion of the task has been completed.  Cleaned up, followup task created here: https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/29609

[2021-09-02 18:32] cmaeng commented on #29392
@omgitsbillryan basically yes, i recently fried my machine and replaced it with a new one. i didn't have the private key stored anywhere so lost it.

[2021-09-02 18:33] bethpottsVADEPO commented on #29513
@kevinstachura I will try to get to this on Friday of this week, but may have to get back to you early next week. Will that timing work?

[2021-09-02 18:34] cmaeng commented on #29538
@RLHecht yes, articles should come up in search based on those categories and not just what's in the title.

@brianalloyd should we tweak this ticket to reflect or close and open a new one?

[2021-09-02 18:35] bethpottsVADEPO commented on #29414
@mnorthuis Thanks! Please move forward with implementing.

[2021-09-02 18:36] CBonade opened #29611 "Deprecate Nightwatch in content-build"
With the Cypress a11y scan taking over the Nightwatch scan, we should start the process of deprecating Nightwatch in content build. The steps needed to take are as follows:

**Ensure approval to start each step of this process with some form of management before merging**

- [x] Identify any existing Nightwatch specs that do not have a Cypress counterpart and convert these tests.
- [x] Ensure that

[2021-09-02 18:37] CBonade commented on #26220
With the addition of the Cypress A11y test in `content-build`, instead of managing Nightwatch we are going to move towards deprecating Nightwatch in `content-build` instead.  Moving this to review for closing.  Ticket to deprecate nightwatch in content-build here: https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/29611

[2021-09-02 18:38] brianalloyd commented on #29538
@cmaeng we could probably tweak to support new objective. Either way works for me.

[2021-09-02 18:40] Kimberley2019 commented on #28999
Reached out to veteran with information above.

From: VA Technical Support
Sent: Thursday, September 2, 2021 2:38 PM
To: 'W Layne'
Subject: RE: [EXTERNAL] Re: Disability Claim Application Issue

Good Afternoon Mr. Layne,

Thank you for your service.

The screenshot that you provided was very helpful to the technical team.  They were able to see that there was a weaker wifi connection and the error

[2021-09-02 18:41] #29446 closed

[2021-09-02 18:42] tlei123 commented on #29178
@brianalloyd , I just noticed what @DanielleThierryUSDSVA [gave me as the page-under-test](https://dsva.slack.com/archives/C52CL1PKQ/p1630429263129500?thread_ts=1630005326.020400&cid=C52CL1PKQ) is the same URL as what you provided above as copy-specs -- they cannot be the same.

Do we have a separate copy requirements-doc?

[2021-09-02 18:47] rebeccawalsh commented on #29565
After doing some design work, Riley and I came to the conclusion that we will just not show facilities who don't have charges within the past 24 months in the tool until testing can determine if this is a necessary feature. Here are some of the designs we put together during our discussions:

## Design one - non-interactive card
This design would probably cause some issues with the interactive 0-b

[2021-09-02 18:50] LindseySaari opened #29612 "Migrate from attr_encrypted to lockbox for db key rotation"
## Issue Description
After running into malformed data and other blockers while working on a custom solution for rotating encryption keys via the attr_encrypted gem, the [Lockbox gem](https://github.com/ankane/lockbox) looked to already have built in functionality for key rotation. The lockbox documentation also provides a [migration path](https://github.com/ankane/lockbox#migrating-from-another-l

[2021-09-02 18:54] delli-gatti-michael commented on #29334
Fix is on staging

[2021-09-02 18:57] SKasimow opened #29613 "**Discovery** | On-line App Forms"
## Story:

As a product manager,  I need a list of all the existing on-line application forms so I can review and determine which would be the best fit to pilot a translation effort for forms.

## Acceptance Criteria

- [x] Determine how to gather an inventory of on-line app forms
- [x] Compile into a single doc for team to discuss

[2021-09-02 19:09] delli-gatti-michael commented on #29474
Local testing complete

[2021-09-02 19:09] delli-gatti-michael commented on #29365
Local testing complete

[2021-09-02 19:11] tlei123 commented on #29178
Per our [Slack convo](https://dsva.slack.com/archives/C52CL1PKQ/p1630609166193800?thread_ts=1630005326.020400&cid=C52CL1PKQ), page-under-test & copy source of truth are actually the same URL.  Will do the usual informal proof-read then.

[2021-09-02 19:13] shiragoodman commented on #29178
Staging Review moved to 9/16 per PM request.

[2021-09-02 19:13] holdenhinkle commented on #28895
PR to implement Percy into GHA workflow - https://github.com/department-of-veterans-affairs/vets-website/pull/18512

[2021-09-02 19:18] shiragoodman commented on #26907
adding labels so ticket is consistent with post-pilot process

[2021-09-02 19:19] shiragoodman commented on #26908
adding labels so ticket is consistent with post-pilot process

[2021-09-02 19:21] shiragoodman commented on #26906
adding labels so ticket is consistent with post-pilot process

[2021-09-02 19:21] CBonade opened #29614 "Rework Cypress Keyboard Tests"

[2021-09-02 19:22] shiragoodman commented on #26904
adding labels so ticket is consistent with post-pilot process

[2021-09-02 19:26] shiragoodman commented on #27412
adding labels so ticket is consistent with post-pilot process

[2021-09-02 19:30] RLHecht opened #29615 "Update non-government headstones and markers content on Veterans burial allowance page"
## Issue Description
Stakeholder Angie Smith asked us to update content on the [How to apply for Veterans burial allowance page](https://www.va.gov/burials-memorials/veterans-burial-allowance/).

In the section "Headstone or marker allowance amounts" the new information provided is:

For non-government markers, the amount of reimbursement will be the lesser of the
- actual cost of the non-governme

[2021-09-02 19:30] shiragoodman commented on #28326
adding labels so ticket is consistent with post-pilot process

[2021-09-02 19:30] rileyorr commented on #29489
Update on this work: I talked through the work and presented the designs in @bethpottsVADEPO's office hours and she said she would sync up with Danielle about what we chatted about

[2021-09-02 19:30] RLHecht commented on #29615
Waiting to hear back from Angie for clarification on whether the text provided is replacing the table or if it's in addition to what is on the page.

[2021-09-02 19:31] shiragoodman commented on #28327
adding labels so ticket is consistent with post-pilot process

[2021-09-02 19:35] shiragoodman commented on #28328
adding labels so ticket is consistent with post-pilot process

[2021-09-02 19:35] cmaeng commented on #29538
k, should be good to go now @brianalloyd . let me know if you have any questions. thanks!

[2021-09-02 19:36] shiragoodman commented on #28329
adding labels so ticket is consistent with post-pilot process

[2021-09-02 19:41] shiragoodman commented on #28332
updating labels so ticket is consistent with post-pilot process. Also updated title to reflect correct VA.gov Experience Standard 03.11

[2021-09-02 19:42] #29208 closed

[2021-09-02 19:43] Kimberley2019 commented on #29115
@annaswims @vhenry07
Please see response from veteran below:

From: J Catamisan
Sent: Thursday, September 2, 2021 3:13 PM
To: VA Technical Support <VATechnicalSupport@va.gov>
Subject: RE: [EXTERNAL] Re: Disability Claim Application Issue

Good Afternoon,

I am showing a status of a new claim to see if by starting over it would work. It didn't work and it shows the same thing click here to finish t

[2021-09-02 19:44] shiragoodman commented on #28655
adding labels so ticket is consistent with post-pilot process

[2021-09-02 19:45] rileyorr commented on #29384
Went to content office hours and Beth said she would sync with Danielle about this work and would get back to us on the ticket I linked above

[2021-09-02 19:46] shiragoodman commented on #28654
adding labels so ticket is consistent with post-pilot process

[2021-09-02 19:46] shiragoodman commented on #28656
adding labels so ticket is consistent with post-pilot process

[2021-09-02 19:46] timwright12 commented on #29486
Just some things on the Feature Toggle page:

These links should be anchors down the page (if that's possible), but they're linking to the old site:

**Intro section:**

- Writing good feature toggles
- Frontend
- Backend
- Enabling and disabling features

**Using toggles in GraphQL queries**

- Writing good feature toggles

[2021-09-02 19:47] shiragoodman commented on #28657
adding labels so ticket is consistent with post-pilot process

[2021-09-02 19:48] #3307 closed

[2021-09-02 19:49] shiragoodman commented on #28658
updated labels to be consistent with post-pilot process. Updated category and issue number to reflect correct VA.gov Experience Standard 03.11

[2021-09-02 19:50] #2835 closed

[2021-09-02 19:50] #2724 closed

[2021-09-02 19:50] #2573 closed

[2021-09-02 19:51] #2572 closed

[2021-09-02 19:51] #2571 closed

[2021-09-02 19:51] #2482 closed

[2021-09-02 19:51] #2478 closed

[2021-09-02 19:52] caw310 opened #29616 "Metrics for web components pilot"
Please pull data for the web component pilot.
- Get the number of usages of web components across va.gov static pages. (For alert box and accordions)

- [ ] Get access to BigQuery
- [ ] Figure out how to send data to BQ
- [ ] [Optional] Send the data from CI
- [ ] Connect Domo to that dataset
- [ ] Create a dashboard

https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/

[2021-09-02 19:52] shiragoodman commented on #28659
updated labels to be consistent with post-pilot process. Updated Category and Issue number to the correct VA.gov Experience Standard 03.11

[2021-09-02 19:53] shiragoodman commented on #28660
removing team label and closing as this is a duplicate ticket. See comment above.

[2021-09-02 19:53] #28660 closed

[2021-09-02 19:53] #1983 closed

[2021-09-02 19:54] k80bowman commented on #29486
all fixed, thank you!

[2021-09-02 19:54] #29486 closed

[2021-09-02 19:54] #29385 closed

[2021-09-02 19:57] mdewey commented on #27048
Confirmed the correct structure is being sent to GA.

[2021-09-02 19:57] #27048 closed

[2021-09-02 20:00] tarlow00 commented on #29243
Hi @troyriser. Have you had the chance to look over the edits I sent for this product guide? I'd like to send a clean draft to VEO this week if possible. Thanks!

[2021-09-02 20:04] troyriser commented on #29243
@tarlow00 Steven, all of your corrections have been accepted or addressed. The 'clean' review version without markup or comments is filename **VSA-Form-5655-Product-Guide_090221.docx,** while the marked-up, redlined version is filename **VSA-Form-5655-Product-Guide-SRT-redline_090221.docx**. Track Changes is turned OFF in both documents.

[VSA-Form-5655-Product-Guide_090221.docx](https://github.co

[2021-09-02 20:07] rjohnson2011 commented on #29589
The 3 alarms were successfully created.

[2021-09-02 20:07] #29589 closed

[2021-09-02 20:10] tarlow00 commented on #29243
Great, thanks @troyriser!

[2021-09-02 20:11] troyriser commented on #29243
@tarlow00 Your timing was impeccable. I was setting them up for upload when I saw your message come up.

[2021-09-02 20:15] micahchiang opened #29617 "COE - Build document upload widget for Eligibility App"
## Description
After a veteran submits a request for a COE, their application is pending. During this time, it's possible LGY requests further documentation to support a veteran's application. The eligibility app should include a document upload widget that accepts specified file types, displays a list of document types (dd214, separation of service, marriage certificate etc), and allows a veteran

[2021-09-02 20:27] mpelzsherman commented on #27451
This ticket will require changing our [Telephone](https://github.com/department-of-veterans-affairs/component-library/tree/master/src/components/Telephone) component.

[2021-09-02 20:32] shiragoodman commented on #27575
that's fair. Unless @f1337 has a reason why we can't or shouldn't do this, I am ok with a Staging and Midpoint group.

[2021-09-02 20:38] mmiddaugh commented on #29543
@gescobardev See also [Alert component](https://design.va.gov/components/alertboxes)

[2021-09-02 20:39] #28574 closed

[2021-09-02 20:39] #29443 closed

[2021-09-02 20:41] RLHecht commented on #29607
@DanielleThierryUSDSVA I added this entry to the word list in the same branch as the quotation mark entry if you want to review both at the same time: https://github.com/department-of-veterans-affairs/vets-design-system-documentation/pull/496

[2021-09-02 20:43] #197 closed

[2021-09-02 20:43] #176 closed

[2021-09-02 20:45] kevinstachura commented on #29086
Conversation about when we actually should do this is located here:

https://dsva.slack.com/archives/C018V2JCWRJ/p1630419846035000

But the prelim design for this is done - will need to go through content as well.

[2021-09-02 20:51] shiragoodman commented on #28682
Hi BAH/Education Application team - for the 2nd Staging Review, we will just be validating the launch-blocking issue. If you'd like us to take a look at anything else, please feel free to comment on the ticket and tag the POC/reviewer. You are also welcome to attend Design office hours on Tuesday or Collab Cycle office Hours on Wednesday.

If any links or access information has changed since the f

[2021-09-02 20:54] laurensimpson14 commented on #29598
Ana didn't have access to Google Analytics or Domo, so no action needed there.

[2021-09-02 20:56] andaleliz commented on #27113
I put together a [mural board](https://app.mural.co/t/vsa8243/m/vsa8243/1630607117633/c191b832fac22662a213a5e57aa6a39a237720fa?sender=lizlantz1528) capturing some possible approaches and mock-ups. I'm not confident we'll want to do any kind of orientation based on the MVP notifications we launch with, but at least the ideas are captured. I think it'd be strategic to promote notification settings w

[2021-09-02 21:00] laurensimpson14 commented on #29599
Jennifer didn't have Google Analytics access or Domo access, so no action is needed.

[2021-09-02 21:08] #29568 closed

[2021-09-02 21:09] craigwheeler commented on #29568
usage of moment has been updated and the warning has been suppressed will continue to monitor this issue

[2021-09-02 21:25] Mottie commented on #29117
@Kimberley2019 Yes, it does sound like the 400 character limit applies in this case. I don't know how this situation occurred and I couldn't find the actual error to examine it.

[2021-09-02 21:29] Mottie commented on #29120
I'm still working on fixing this problem. Hopefully I'll have it done some time next week.

[2021-09-02 21:32] CBonade opened #29618 "Convert Nightwatch Keyboard Tests to Cypress"

[2021-09-02 21:32] #29614 closed

[2021-09-02 21:35] CBonade commented on #27067
Only the two keyboard specs remain here, which is awaiting further development on the keyboard helper functions.  I've started a new, clean task for the keyboard test work. This one is ready to close. https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/29618

[2021-09-02 22:02] cindymerrill commented on #29101
I would like to take a look. If I have feedback, do you want them here in this ticket, @callen2563? Or in [#27438 [Discovery] Harassment Reporting Tool - Content Copy Review](https://github.com/department-of-veterans-affairs/va.gov-team/issues/27438)  if content-related?

[2021-09-02 22:22] holdenhinkle commented on #28895
I’ve got Percy working in GHA. It was really easy to get it setup.
- PR - https://github.com/department-of-veterans-affairs/vets-website/pull/18512
- This run had a number of cy.percySnapshot() commands spread amongst a number of tests in the parallel steps - https://github.com/department-of-veterans-affairs/vets-website/actions/runs/1195336987
- Percy Build - https://percy.io/a45965dd/va.gov-home

[2021-09-02 22:25] tarlow00 commented on #29243
Sent draft to VEO for review.

[2021-09-02 22:55] jhouse-solvd commented on #28907
See [HERE](https://vfs.atlassian.net/wiki/spaces/OT/pages/1861648542/Developer+Personas) for persona artifacts.

See [HERE](https://vfs.atlassian.net/l/c/S1vj0mLY) for Development workflow artifact

[2021-09-02 22:56] jhouse-solvd commented on #28907
This is done. Closing.

[2021-09-02 22:56] #28907 closed

[2021-09-02 23:57] mleclerc00 commented on #29465
https://github.com/department-of-veterans-affairs/va.gov-team/issues/29603

[2021-09-02 23:59] mleclerc00 commented on #29603
Argo has been redeployed and is no longer failing to fetch helm charts

![image](https://user-images.githubusercontent.com/76792875/131930670-d023eb94-5b0f-4415-9aba-93ca42a7e2a3.png)

[2021-09-03 00:10] chloedotbrown commented on #28364
@joanneesteban I've added the next round of notes to the "Data Needs" tab of the [discovery spreadsheet](https://docs.google.com/presentation/d/1DaE_NdhC2Z6v0LHKcLQ2LShNH9ZF0kuW52AKIIfHJvE/edit?usp=sharing). This takes only the KPIs that had been checked in the previous tab and expands on:

- what steps would need to be taken to complete that data
- who owns that action
- whether that action _not_

[2021-09-03 00:14] chloedotbrown commented on #28941
Hi @joanneesteban  – first round mockup of OCTODE Numbers report is [here](https://docs.google.com/presentation/d/1DaE_NdhC2Z6v0LHKcLQ2LShNH9ZF0kuW52AKIIfHJvE/edit?usp=sharing)! Was able to organize by our KPI framework categories and still have a pretty even distribution of the metrics you'd selected. As I mentioned on the discovery ticket, I've left anything that might be blocked and therefore o

[2021-09-03 00:22] cindymerrill commented on #26425
Ran first pilot test, debriefed with team, and decided with the team to make a few changes to the conversation guide and prototypes. Then launched recruiting with Perigean; hope to hear from Lauren tomorrow. Looking for another Veteran volunteer for pilot test #2 tomorrow or next Thursday.

[2021-09-03 00:27] RudyOnRails opened #29619 "set 686 to MANUAL_VAGOV when 674 exists"
## Background
When 686 is submitted along with 674, the 686 is sending out a rejection letter to the veteran because it lists a dependent that is too old (but is in school).

## Considerations/Details
- using the payload passed to `BGS::Form686c#submit` check if the 674 is included and if so set 686 to MANUAL_VAGOV

## Potential Solutions
1. Based on the daily Dependency Claims mtg, we are going t

[2021-09-03 00:51] mleclerc00 opened #29620 "[Kubernetes] Datadog - gather metrics from argo"
## Description
Add prometheus scrape annotations to appropriate argo pods in order for datadog agent to capture stats from the /metrics endpoint.

argocd-application-controller -> port 8082
argocd-dex -> port 5558

## Technical notes
https://docs.datadoghq.com/agent/kubernetes/prometheus/#configuration-1

---
## Tasks
- [x] modify helm values.yml file (https://github.com/department-of-veterans-aff

[2021-09-03 00:52] mleclerc00 commented on #29620
https://github.com/department-of-veterans-affairs/vsp-infra-argocd/commit/dcd35c48d24994467c129f7935a153a18fe0c88e

![image](https://user-images.githubusercontent.com/76792875/131934145-e9d47ab1-ada9-4539-ba3c-347cb5bcdbfb.png)

[2021-09-03 02:47] kathleencrawford commented on #29440
Changed the estimate from a 3 to a 5 because foreign addresses are also broken (not just military) and also because the bgs gem needed to be updated, which was not accounted for initially.

[2021-09-03 11:02] jparker0425 commented on #28332
This item was taken care of and is functioning in production.

[2021-09-03 11:02] #28332 closed

[2021-09-03 12:22] dmccurdybah commented on #29359
PR: https://github.com/department-of-veterans-affairs/vets-website/pull/18522

[2021-09-03 12:58] delli-gatti-michael commented on #29474
This is on staging.

[2021-09-03 12:58] delli-gatti-michael commented on #29365
This is on staging.

[2021-09-03 13:02] holdenhinkle opened #29621 "Test Selection - Always regenerate the Cross-App Import Graph"
Running `git diff` in GHA sometimes produces unexpected errors, which causes the `check-app-dependency-graph` to fail. When that happens the `cypress-tests-prep` job doesn't run, because it needs the `check-app-dependency-graph` job, and then the `cypress-tests` job doesn't run, because it needs the `cypress-tests-prep`. And ultimately, the diff for the commits in that push aren't evaluated to see

[2021-09-03 13:05] rlyons89 opened #29622 "[Epic] Content and IA request from My Education Benefits Team (Wizard Update & URLs)"
## What does your team need support for? Check all that apply.
- [ ] Launching one or more new unauthenticated (static) VA.gov pages
- [X] Making revisions to one or more existing unauthenticated (static) VA.gov page
- [X] Launching a new online form, app, or tool on VA.gov
- [ ] Making revisions to an existing online form, app, or tool on VA.gov
- [ ] Something else (please add details in the nex

[2021-09-03 13:30] kevinstachura commented on #29083
So the point of this ticket is to see if we can simply link users to the disability rating tool or keep them within the va.gov ecosystem instead of linking them to ebenefits (as we currently do).

I spoke to Jim Adams of the ebenefits Migration Team and he said that there is still a documents list feature in ebenefits that has still not been migrated - which I believe would be valuable to users. T

[2021-09-03 13:33] ltrombley commented on #29198
Task #29198 - Prepare Central Western Massachusetts health care for Dual-state VISN-1 [VAMC] - is Complete and moved to Validate.

[2021-09-03 13:36] ltrombley commented on #29199
Task #29199 - Prepare Connecticut health care for Dual-state VISN-1 [VAMC] - is BLOCKED pending Playbook & Drupal update of System/Facility Health Services

[2021-09-03 13:41] zacharymorel commented on #12535
@MarciMcGuireGCIO Do we have links of the new wizards?

[2021-09-03 13:43] #26828 closed

[2021-09-03 13:43] rjohnson2011 commented on #26828
Submitted the revised changes requested by Product Support https://va-gov.domo.com/page/1340527018. Closing this for now, will reopen if any more changes are desired.

[2021-09-03 13:45] karlbrown-va opened #29623 "Adding several VHA team members to DSVA Slack"
# Description

Please add the following VA employees as full members of the DSVA slack:

Ghosh, Roshni   Roshni.Ghosh@va.gov
Henderson, Blake   Blake.Henderson@va.gov
Purnell, Amanda L.   Amanda.Purnell@va.gov
Vega, Ryan J    Ryan.Vega@va.gov
Ripley, Beth Ann   Beth.Ripley2@va.gov

Please add them to #digital-health-platform channel as well.

These are all leads in the VHA innovation space.

[2021-09-03 13:46] denisecoveyduc opened #29624 "Index BVA Decisions with Search.gov"
##  Description

Goal is to index all BVA Decisions into search.gov but exclude those decisions from the general search results on www.va.gov

## Background
- The existing search page at https://www.index.va.gov/search/va/bva.jsp will be shut down soon and the intent of getting the decisions indexed by search.gov is to stand up a search interface on search.gov that is restricted to BVA Decisions.

[2021-09-03 13:47] KCollinsBrown opened #29625 "Offboarding of Rubaiyat Rashid (Caseflow Team Member)"
# Instructions
Fill out name of individual and *Description* section below.

# Description
- Please provide the name of the individual needing offboarded.

- Please provide the name of their team, their role on that team, expected last day, and the name of the company they work for.

- Please provide any type of access they may have and their GitHub username.

Please remove from Slack and Github

[2021-09-03 13:54] kjduensing opened #29626 "CHIP - E-CHECKIN Complete"
When a veteran successfully checks in, CHIP should call the vista api to set the "e-checkin-complete" status.

[2021-09-03 14:00] mpelzsherman commented on #27451
I don't have permission to publish a new release of the component-library. Need assistance from the design system team (@bkjohnson @cvalarida).

[2021-09-03 14:05] KCollinsBrown opened #29627 "Offboarding of Thomas Apodaca"
# Instructions
Fill out name of individual and *Description* section below.

# Description
- Please provide the name of the individual needing offboarded.

- Please provide the name of their team, their role on that team, expected last day, and the name of the company they work for.

- Please provide any type of access they may have and their GitHub username.

## AC
 - [x] Remove from [VFS Team Ro

[2021-09-03 14:08] holdenhinkle commented on #29621
PR submitted - https://github.com/department-of-veterans-affairs/vets-website/pull/18533

[2021-09-03 14:29] zacharymorel commented on #26903
@MarciMcGuireGCIO => https://staging.va.gov/find-forms/?q=10-10ez

![Screen Shot 2021-09-03 at 10 27 28 AM](https://user-images.githubusercontent.com/26075258/132021957-9f5ae8ad-a045-4405-a61e-66210b654bab.png)

[2021-09-03 14:30] zacharymorel commented on #26905
@MarciMcGuireGCIO This now can be viewed on staging.

[2021-09-03 14:33] LindseySaari commented on #27317
This ticket will most likely be closed in favor of migrating to lockbox instead. [Ticket here](https://app.zenhub.com/workspaces/vsp---backend-tools-6019ab9387ae890011e05e73/issues/department-of-veterans-affairs/va.gov-team/29612). Keeping this open until we are certain

[2021-09-03 14:39] #28923 closed

[2021-09-03 14:39] k80bowman commented on #29436
Since @ndsprinkle is currently working on updating several of our deployment docs with information about Github Actions, and since we are not yet using Github Actions for deployments, I'm going to publish everything except the Deployments section for now. We can publish the Deployments documentation (and deprecate the current documentation) once it is ready to go.

[2021-09-03 14:40] delli-gatti-michael commented on #29478
Local testing complete

[2021-09-03 14:43] MarciMcGuireGCIO commented on #12535
@brianalloyd -- this ticket involves updating some links to point to new "how to apply" wizards.  Can you possibly confirm that the links below are correct?  Thanks! cc @zacharymorel

- 21-526ez: https://www.va.gov/disability/file-disability-claim-form-21-526ez/introduction
- 22-1990: https://www.va.gov/education/apply-for-education-benefits/application/1990/introduction
- 10-10ez: (no change) htt

[2021-09-03 14:50] MarciMcGuireGCIO commented on #26903
@zacharymorel do you have a sec to do a screen share?  I have Prod and Staging up side by side and they look identical to me.  I must be missing something.

[2021-09-03 14:51] mpelzsherman commented on #29459
Confirmed alert is showing on https://www.va.gov/erie-health-care/news-releases/erie-vamc-hosts-veteran-town-hall/.

[2021-09-03 14:51] #29459 closed

[2021-09-03 15:14] MarciMcGuireGCIO commented on #26903
Thanks for clarifying that.   This looks good.  Thanks!

[2021-09-03 15:25] Kimberley2019 commented on #29117
@Mottie I am waiting to hear back from the veteran.  I will keep you posted with anything that I hear back.

[2021-09-03 15:26] #26903 closed

[2021-09-03 15:30] brianalloyd commented on #29069
Completed, closing in support.

[2021-09-03 15:30] #29069 closed

[2021-09-03 15:30] brianalloyd commented on #29209
Completed, closing in support.

[2021-09-03 15:30] #29209 closed

[2021-09-03 15:31] brianalloyd commented on #28933
Completed, closing in support.

[2021-09-03 15:31] #28933 closed

[2021-09-03 15:31] brianalloyd commented on #29071
Completed, closing in support.

[2021-09-03 15:31] #29071 closed

[2021-09-03 15:31] brianalloyd commented on #28295
Completed, closing in support.

[2021-09-03 15:31] #28295 closed

[2021-09-03 15:32] brianalloyd commented on #7751
Completed, closing in support.

[2021-09-03 15:32] #7751 closed

[2021-09-03 15:33] brianalloyd commented on #29238
@joshkimux can you validate, work should be complete on this and wanted to make sure it meets intent before closing. TIA.

[2021-09-03 15:36] k80bowman commented on #29436
Everything but the deployment section is now live on the scroll viewport site! https://depo-platform-documentation.scrollhelp.site/developer-docs/Frontend-developer-documentation.687931428.html

I've asked the team to take a quick tour and let me know if they find anything weird. If nothing comes up, I plan on closing this card Monday.

[2021-09-03 15:47] SethNiman commented on #23982
I am looking to add pixels to our new choose.va.gov website. I can provide some tagging information here? Not sure if I need to talk through what we are trying to do.

From: Brian Martin ***@***.***>
Sent: Thursday, August 26, 2021 1:03 PM
To: department-of-veterans-affairs/va.gov-team ***@***.***>
Cc: Seth Niman ***@***.***>; Mention ***@***.***>
Subject: [EXT] Re: [department-of-veterans-affairs

[2021-09-03 15:48] zurbergram commented on #29262
https://github.com/department-of-veterans-affairs/vets-website/pull/18537

[2021-09-03 15:48] zurbergram commented on #29255
Reopening as not a duplicate of [29353](https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/29353) each issue is for a separate set of checkboxes

[2021-09-03 15:49] zurbergram commented on #29353
https://github.com/department-of-veterans-affairs/vets-website/pull/18537

[2021-09-03 15:49] zurbergram commented on #29255
https://github.com/department-of-veterans-affairs/vets-website/pull/18537

[2021-09-03 15:49] zurbergram commented on #29265
https://github.com/department-of-veterans-affairs/vets-website/pull/18537

[2021-09-03 15:59] f1337 commented on #27575
Are these groups intended to be used solely for Collaboration Cycle scheduling?

[2021-09-03 16:04] laurensimpson14 commented on #29627
Thomas did not have GA or Domo access, so no action needed there.

[2021-09-03 16:05] allison0034 commented on #27575
@f1337 yes. I am trying to think if we would use them for anything else and I dont think so.

[2021-09-03 16:06] laurensimpson14 commented on #29625
Rubaiyat did not have GA or Domo access, so no action needed there.

[2021-09-03 16:10] jhouse-solvd opened #29628 "[Platform Operations] Onboarding - Ryan Beckwith"
# Ops Onboarding
## Overview
Welcome to the platform and more particularly the VSP Operations team.  This ticket is a checklist and guide to try and improve the onboarding process and get you up to speed.

If you have any questions/need access please reach out to Jesse House (@jhouse-solvd) or Demian Ginther (@dginther).

##  Checklist

### Access to what you need
- [x] [Getting setup](https://git

[2021-09-03 16:18] mpelzsherman commented on #29079
Confirmed in prod by temporarily enabling hi-res downloads on https://www.va.gov/erie-health-care/staff-profiles/john-a-gennaro/.

[2021-09-03 16:18] #29079 closed

[2021-09-03 16:23] jhouse-solvd commented on #29081
[This job](http://jenkins.vfs.va.gov/job/builds/job/jenkins-worker/) runs and creates a Jenkins worker node AMI.

[2021-09-03 16:31] annaswims commented on #28722
Don't forget to remove all of the related feature toggles as well.

[2021-09-03 16:32] bevnobev commented on #26830
Hi @kellylein. We haven't seen any sends for your template, so I'm checking in to see how things are going?

[2021-09-03 16:33] john-thomashill commented on #29463
@miabecker not at all! I appreciate you clarifying since you since it sounds like it will have a big impact. @HeatherSborz do you know if vets-api is what will be used? I'm assuming so, but wanted to double check.

[2021-09-03 16:34] rbeckwith-oddball opened #29629 "Access for [Ryan Beckwith]"
# Instructions
1. Fill out **Description**
2. Change the **Title** to include your name
3. Add the label used by your team (eg: `BAH-526`)
4. Do not remove `operations` label or the `ops-access-request` label; this will notify the VSP Operations team of your request
5. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contrac

[2021-09-03 16:45] jhouse-solvd commented on #14466
According to @dginther and team, Loki is working in the EKS sandbox cluster.

Closing.

[2021-09-03 16:45] #14466 closed

[2021-09-03 16:50] jhouse-solvd commented on #3251
In speaking w/ the team, we wouldn't see this as part of Tiger Team work. We do think that it's something worth doing, but the priority and sense of urgency is very low.

[2021-09-03 16:55] joshkimux commented on #29238
@Rleahy22 This has been fixed! If there's a little more time, I'd recommend nesting the link within the intro text `div` which will make it easier to read and a less awkward transition from large to small text.

<img width="806" alt="Screen Shot 2021-09-03 at 12 51 38 PM" src="https://user-images.githubusercontent.com/14154792/132041385-9e4df2a7-7f95-4127-9735-ab1cb535a21b.png">
<img width="1056"

[2021-09-03 16:55] jhouse-solvd commented on #3661
Relevant recent discussion: https://dsva.slack.com/archives/C03FECE9K/p1629895537023900

@mchelen-gov - We feel like part of the work here is to design a web page that providers a better experience for VA.gov users when there are network or operational issues.

The ops team can certainly assist, but would love for you to evaluate this issue and see if there is another team that might help move it

[2021-09-03 16:55] mmiddaugh commented on #29461
Looks good! Thank you

[2021-09-03 16:55] #29461 closed

[2021-09-03 17:04] jhouse-solvd opened #29630 "[Access Requests] Review AWS Access section of "Granting Access to Internal Tools""
## Description
Review AWS Access section of "[Granting Access to Internal Tools](https://vfs.atlassian.net/wiki/spaces/OT/pages/1792114735/Onboard+New+Team+Members+Granting+Access+to+Internal+Tools)"

## Background/context
https://vfs.atlassian.net/wiki/spaces/OT/pages/1792114735/Onboard+New+Team+Members+Granting+Access+to+Internal+Tools

---
## Tasks
- [x] make sure correct pocs are identified
-

[2021-09-03 17:08] jhouse-solvd opened #29631 "[App Hosting & Deployment] Service design: VFS interaction w/ the platform's new delivery infrastructure (EKS)"
## Description
_What details are necessary for understanding the specific work or request tracked by this issue?_

## Background/context
Conversation w/ @mchelen-gov:
Mike:
"I'd love to see more definition of how Operations and VFSes interact. do we have them submit requests to us? is there a template that we provide? where does responsibility for application stability exist?"
Jesse:
"that's a gre

[2021-09-03 17:11] mmiddaugh commented on #29459
Doublechecked Louisville health care in CMS Prod - set to default (display on all pages). Working as expected. thank you!

[2021-09-03 17:14] #29619 closed

[2021-09-03 17:18] kjduensing opened #29632 "CHIP - INT environment"
In order to facilitate integration, create an "INT" environment as a sandbox for integration work. This leaves staging as a high-level testing environment while providing a space for systems to work out integration woes.

[2021-09-03 17:18] kjduensing opened #29633 "LoROTA INT Environment"
In order to facilitate integration, create an "INT" environment as a sandbox for integration work. This leaves staging as a high-level testing environment while providing a space for systems to work out integration woes.

[2021-09-03 17:19] Dene-human commented on #29094
This was already completed in ticket #29090

[2021-09-03 17:19] #29094 closed

[2021-09-03 17:21] kellylein commented on #26830
We found an issue with ensuring we are sending the email request correctly.  We have put in a fix that should go out today so hopefully we start seeing traffic later today!

[2021-09-03 17:23] Dene-human commented on #29585
Done: [Source of truth](https://github.com/department-of-veterans-affairs/va.gov-team/commit/0d3144cb47fa4247a32d0ca40450e1def2521361#diff-dca6278f1e951f3986ffa644f72b0187b2f2c32b32edf894d20032101d87c74e)
![Screen Shot 2021-09-03 at 1 22 27 PM](https://user-images.githubusercontent.com/80857940/132044120-65416bfc-11c5-44bd-862d-447e79750bdc.png)

[2021-09-03 17:23] #29585 closed

[2021-09-03 17:23] joeniquette opened #29634 "Login.gov Phase 1a"
This image illustrates the intent of phase 1a for login.gov:
![Screen Shot 2021-09-03 at 1.22.56 PM.png](https://images.zenhubusercontent.com/5f6a5e454ede530876cfc425/658c5362-869f-4742-92d7-c22be8edbc7c)

[2021-09-03 17:25] Dene-human commented on #28975
Confirmed with Danielle that this will require more context, and will need to be rewritten in accordance with our style guide and plain language standards.

[2021-09-03 17:27] #28975 closed

[2021-09-03 17:33] delli-gatti-michael commented on #29347
Local testing complete

[2021-09-03 17:38] k80bowman commented on #29436
Suggested Changes:
1. From [this thread](https://dsva.slack.com/archives/C01AS05BQ79/p1630685685039600?thread_ts=1630684198.039200&cid=C01AS05BQ79): For Step 1: Set up Node on Linux, it would be much better to recommend installing nvm via git rather than the curl | bash approach.
I’ve seen use of it in the industry but it’s a security issue that should be avoided.

[2021-09-03 17:40] YanaRoy opened #29636 "VSA Onboarding - Patrick Ryll"
## Welcome to the VSA Program

Welcome! This issue will be used to track your onboarding to the VSA Program.

---

## Pre-Onboarding

**Operation Lead Tasks**

- [x] Send Welcome email to New Hire (request GitHub Username)

*Send Notifications with New Hire details (name, position, start date) to:*

- [x] Admin Analyst
- [x] VA Leadership
- [x] VA PO
- [x] Practice Lead
- [ ] VSP Onboarding

**Acc

[2021-09-03 17:43] timwright12 commented on #29556
Update: need to rework this command a bit, the way we're calling it doesn't appear to allow us to put a bash variable in there like normal

[2021-09-03 17:48] mleclerc00 commented on #29603
https://dsva.slack.com/archives/C37M86Y8G/p1630689134070400

[2021-09-03 17:53] mleclerc00 commented on #29139
Confirmed this script now cleans up any leftover packer build instances

[2021-09-03 17:55] #23634 closed

[2021-09-03 17:56] #29481 closed

[2021-09-03 18:00] #28780 closed

[2021-09-03 18:19] stephenBarrs commented on #27983
@jennaouellet Hello!  Wondering if someone can take a look at the widgets I am setting up to display the data from the `api_call` events.  I am trying to model what the Claims team did, but using a table.  Substituting the Claims team event in the RegEx does display that data, but I am not able to display the Check In data.  I am using the same RegEx in another widget so I am confident in that, bu

[2021-09-03 18:31] allison0034 commented on #27653
@shiragoodman should I add the question by Peter and Trevor? I am not sure Peter's are related to the Collab Cycle.

[2021-09-03 18:37] delli-gatti-michael commented on #29262
Local testing complete

[2021-09-03 18:37] delli-gatti-michael commented on #29353
local testing complete

[2021-09-03 18:38] delli-gatti-michael commented on #29255
local testing complete

[2021-09-03 18:38] delli-gatti-michael commented on #29265
local testing complete

[2021-09-03 18:50] dmccurdybah commented on #29245
PR: https://github.com/department-of-veterans-affairs/vets-website/pull/18551

[2021-09-03 18:50] zacharymorel commented on #26368
@MarciMcGuireGCIO

I have figured out that the intro text under **Find a VA Form**, is actually stored within the CMS.
![Screen Shot 2021-09-03 at 2 48 23 PM](https://user-images.githubusercontent.com/26075258/132053129-2b8e4dae-09b0-423b-9b22-e4f910856c44.png)

It is a type of node called a "Page" and the field is _Field Intro Text_.

[2021-09-03 18:52] andaleliz commented on #29557
@DanielleThierryUSDSVA I'd love to discuss this during office hours next week. Can we plan on that?

[2021-09-03 18:53] andaleliz commented on #22887
@ajakabcin Danielle and I didn't get a chance to discuss this during office hours this week, so I'm planning on discussing it next week (9/10). Moving this into our next sprint.

[2021-09-03 18:54] theodur commented on #29134
After testing the `--entry` flag in GitHub Actions, the single application builds themselves work as expected. Only the application bundles along with shared modules are built. Production builds seem to take on average 1-2 minutes.

The issue is with the test selection that occurs for Cypress tests. The application specific Cypress tests pass just fine, but because test selection always runs **all

[2021-09-03 18:57] ericboehs commented on #29612
Some things to consider:
  - Are we auditing any of these fields with an auditing library (e.g. paper trail)?
  - What is the old cipher/algorithm? Is AES-GCM sufficient?
  - Let's add a ticket for kms
  - We should add padding to guard against data leakage. No?

[2021-09-03 18:58] MarciMcGuireGCIO commented on #26368
Ok, thank you!  I'll mark this as blocked for now until I can determine how to get that updated.

[2021-09-03 19:02] omgitsbillryan opened #29637 "SSH Keys Jenkins Job is not Running When New SSH Keys Are Committed to Github"
## The Problem
SSH keys are not getting automatically deployed when they are committed to `master` in the devops repo.

[The Jenkins job for deploying SSH keys](http://jenkins.vfs.va.gov/job/infrastructure/job/sshkeys/) may still be manually triggered as a workaround.

## Extra Context
The job is configured to be triggered on commits to the devops repo under:
[code]
[Build #840](http://jenkins.vfs

[2021-09-03 19:03] joeniquette opened #29638 "fwa request 9/3/21"

[2021-09-03 19:06] delli-gatti-michael commented on #29478
On staging

[2021-09-03 19:09] delli-gatti-michael commented on #29347
On Staging

[2021-09-03 19:09] andaleliz commented on #27113
Mural board updated, closing this out.

[2021-09-03 19:09] #27113 closed

[2021-09-03 19:10] omgitsbillryan commented on #28733
AWS Access Granted.

[2021-09-03 19:10] #28733 closed

[2021-09-03 19:14] shiragoodman commented on #27653
yes to Trevor. No to Peter. @pjhill if you disagree, let me know. I agree with @allison0034 and I'm not sure if they're Collaboration Cycle specific. These might be questions for TTT, not us.

[2021-09-03 19:21] ltrombley commented on #29200
Task #29200 - Prepare Maine health care for Dual-state VISN-1 [VAMC] - is Complete and moved to Validate.

[2021-09-03 19:23] mydesignrocks commented on #29549
access has been granted and verified. closing as there is no further access requests

[2021-09-03 19:23] #29549 closed

[2021-09-03 19:25] laurenernest commented on #28373
@LeKeve What's the parent site reference address used when calculating the distance of the providers? I can't tell if it's a Staging data issue, but Aurora is actually ~100 miles from Cheyenne.

I used Judy & Optometry to get that result.

![Screen Shot 2021-09-03 at 12.16.24 PM.jpg](https://images.zenhubusercontent.com/5f7dd2dad6b9a9301bbab94e/9a2dc7c7-fadb-4306-8175-40e0afa4bad3)

[2021-09-03 19:39] annaswims commented on #29127
<img width="1129" alt="Screen Shot 2021-09-03 at 3 16 55 PM" src="https://user-images.githubusercontent.com/19188/132055923-7384a70b-95c3-4953-ab3d-cff53fe569ac.png">

@Mottie / @ashagross It looks like there is a FE bug.  I could reproduce it by  taking the [test data ](https://raw.githubusercontent.com/department-of-veterans-affairs/vets-website/master/src/applications/disability-benefits/all-cl

[2021-09-03 19:40] andaleliz commented on #27113
Oh, also - we discussed my dev question in stand-up:
- we should be able to tell whether or not there is a communication item w/ a null value from anywhere on VA.gov once people log in
- places on VA.gov outside of profile will require coordination with other teams

[2021-09-03 19:42] annaswims commented on #29123
no word yet from EVSS https://dsva.slack.com/archives/C8R3JS8BU/p1629920298023000

[2021-09-03 19:44] #26602 closed

[2021-09-03 19:44] tressaellen commented on #29226
Here is the [research summary.](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/my-va/action-items-discovery/research/alerts-discovery-research-summary.md)

[2021-09-03 19:44] #29226 closed

[2021-09-03 19:47] ajakabcin opened #29639 "[Design] My VA Action Items: Present Research Summary"
## Background
Following synthesis and summary, we'll need to share research findings with the team and stakeholders.

See following tickets for reference documentation:
- #26602
- #29224
- #29226

## Tasks
- [x] Prep deck/documentation for readout
- [ ] Share with team and stakeholder(s) on 9/16

[2021-09-03 19:50] laurenernest opened #29640 "Community care provider list page copy updates"
## Description
Update provider preference page title and main content.

---

## Acceptance Criteria
Background: the `va_online_scheduling_cc_iterations` toggle is on

Given user is in CC flow
When the user opens the provider preference page
Then the content matches the [copy doc](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/appointments/va-online-s

[2021-09-03 19:51] annaswims commented on #29115
@Kimberley2019 Could you get the new form id from him?  the id reset when it started over.  It's clearly something related to his personal data, but we'll need to find his data to track it down.

[2021-09-03 19:53] RudyOnRails commented on #26069
Is there anyone that can help me with this?

[2021-09-03 19:53] rjohnson2011 opened #29641 "[AWS] Service Account credentials for Domo's CloudWatch Connector"
## Description
I'm attempting to pull Cloudwatch data into Domo using Domo's CloudWatch connector and getting a permissions error when providing my AWS Access & Secret Key. Demian suggested using a Service Account for these purposes.
https://domohelp.domo.com/hc/en-us/articles/360043433093-Amazon-CloudWatch-Connector
![image](https://user-images.githubusercontent.com/72466113/135670140-753f3ddd-ab

[2021-09-03 19:55] rjohnson2011 commented on #28852
Consulted Ops regarding getting data from CloudWatch into Domo. Demian suggested using Domo's CloudWatch connector - https://www.domo.com/appstore/connector/amazon-cloudwatch-connector/overview
Attempted this and got a permissions denied error. I created a ticket to get the necessary credentials to authorize the connector: https://github.com/department-of-veterans-affairs/va.gov-team/issues/29641

[2021-09-03 20:07] RudyOnRails commented on #26069
@mchelen Do you need any more info? I have my PIV, and am on the VA network via CAG.

[2021-09-03 20:12] LeKeve commented on #28373
@laurenernest I think this is an issue with the lat/long coordinates in our mock data.

The coordinates for Cheyenne VA Medical Center in our mocks are currently set to the following, lat: 39.744507, long: -104.830956 which is Aurora, CO. I'll update those coordinates in our mocks.

Dayton, OH coordinates look good though, so it should show the correct providers closest to that facility.

[2021-09-03 20:13] tony-valdez-accenture opened #29642 "Access for Tony Valdez"
# Instructions
1. Fill out **Description**
2. Change the **Title** to include your name
3. Add the label used by your team (eg: `BAH-526`)
4. Do not remove `operations` label or the `ops-access-request` label; this will notify the VSP Operations team of your request
5. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contrac

[2021-09-03 20:13] craigwheeler opened #29643 "Medical Copay Alerts"
## Issue Description
Create alert components for the various use cases outlined below. Refer to the [mock](https://preview.uxpin.com/16e8675a9898914d5615d6ea2d23e310b7d8dfaa#/pages/141469738/simulate/sitemap?mode=i) for details

Veteran is not enrolled in VA health care
![MCP Desktop - UXPin Preview 2021-09-03 16-02-41.png](https://images.zenhubusercontent.com/5f355b2a6fe9a1b76ba980d4/26ec8b5f-9db

[2021-09-03 20:14] mmiddaugh commented on #27689
closing as a duplicate for #29105

[2021-09-03 20:14] #27689 closed

[2021-09-03 20:15] bramleyjl opened #29644 "Access for John Bramley"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Add a comment @department-of-veterans-affairs/vsp-operations to ping the operations team
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please

[2021-09-03 20:18] psanders86 commented on #29192
content load and review complete

[2021-09-03 20:22] mchelen-gov commented on #26069
Ok I have sent a reminder email to Kimberly West asking for EQIP transmittal date, once we have that then the request can be approved.

[2021-09-03 20:28] joeniquette commented on #29638
Completed at 1625 EST

[2021-09-03 20:33] bosawt opened #29645 "Access for Trevor Bosaw"
# Instructions
1. Fill out **Description**
2. Change the **Title** to include your name
3. Add the label used by your team (eg: `BAH-526`)
4. Do not remove `operations` label or the `ops-access-request` label; this will notify the VSP Operations team of your request
5. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contrac

[2021-09-03 20:34] joeniquette commented on #29131
We have a dashboard and basically figured out how to run queries which can then be saved as panels and exported to csv. The only issue that needs to be resolved now is the 5k result limit. The approach likely needs to be to batch requests through logcli.

When trying to use logcli the network permissions are not allowing me to reach the loki instances. Next step is to ping ops to see if they can o

[2021-09-03 21:08] ajakabcin opened #29646 "[Design] Notification Prefs: Update mocks and FE documentation"
## Background
We need to make some updates to the mocks and FE documentation due to the removal of the Covid/stay information notification item.

## Tasks
The following updates are needed to mocks:
- [x] Remove covid/stay informed notification group and item from all views
- [x] Update alert messaging/copy in FE documentation and mocks to remove references to email address (irrelevant for mvp) and

[2021-09-03 21:29] DanielleThierryUSDSVA commented on #27438
**Status note:** Sent Soni preview (with questions) for accuracy check. Meeting Tuesday 9/7 to talk through any questions/concerns/other feedback.

[2021-09-03 21:51] #28373 closed

[2021-09-03 21:52] cindymerrill commented on #26425
Recruiting launched with Perigean today. Will look for a second pilot participant for next Thu (Sept 9) when back from PTO on Wed Sept 8. Real sessions will start on Fri Sept 10 and run through Sept 17.

[2021-09-03 21:58] laurenernest commented on #28208
![image.png](https://images.zenhubusercontent.com/5f7dd2dad6b9a9301bbab94e/bd89202c-7b1e-4c2b-87de-182e75e7a5a5)

[2021-09-03 21:58] #28208 closed

[2021-09-03 22:20] laurenernest opened #29647 "[Spike] Direct scheduling potential"
## Background
In Aug 2021, 8% of submissions were direct schedule and 90% of submissions were VA requests.

### Goal
Understand the relationship of direct schedule submissions to the total possible direct scheduling options. Did a user have the option to direct schedule for their type of care, but submitted a request instead?

---

## Tasks
- Answer the following questions:
  - If a user is in the

[2021-09-03 22:24] laurenernest commented on #26412
Sent follow-up email to Cristin to check on status

[2021-09-03 22:25] laurenernest commented on #28307
Sent follow-up email to Cristin to check on status

[2021-09-03 22:25] cindymerrill commented on #29101
Fun to navigate through the prototype, @callen2563! I'll wait to give feedback until after more of the content is updated.

[2021-09-03 22:27] laurenernest commented on #15290
rolled out to 100% on 7/20/21

[2021-09-03 22:27] #15290 closed

[2021-09-03 22:29] joanneesteban commented on #29268
Hello! Thank y'all for working on this! Question: did y'all get the uptime hours directly from the Grafana report? We may have to refill the historical data. The current data doesn't match the numbers from previous reports, and our Grafana instance infamously doesn't accurately keep historical data past 14 days.