[2020-11-10 20:09] theodur commented on #15203
After verifying, there are now no more discrepancies between paragraphs for `/careers-employment/education-and-career-counseling/index.html`. Thanks @indytechcook for fixing this issue!

[2020-11-10 20:09] #15203 closed

[2020-11-10 20:11] jenniferlee-dsva commented on #15797
When this is ready, we can validate against this preview page - which currently includes a group H2, but I can remove that to see if the logic then works for the question texts.

http://preview-prod.vfs.va.gov/preview?nodeId=8249

[2020-11-10 20:12] mpelzsherman commented on #12970
@ElijahLynn [confirmed](https://dsva.slack.com/archives/CT4GZBM8F/p1605039035457200?thread_ts=1605032055.433600&cid=CT4GZBM8F) that the side nav is still working in DevShop environments. Closing!

[2020-11-10 20:15] johnhashva commented on #14474
@brianalloyd Yes -- we will take Site Map updates.  Thanks!

[2020-11-10 20:16] jenniferlee-dsva commented on #15608
Let's keep this in icebox for 1.1. If it's not confusing to users, there's nothing to fix here, and we haven't opened this to enough people to see if it really is.

[2020-11-10 20:19] sonntag-adam commented on #15973
in staging, closing bug.

[2020-11-10 20:19] #15973 closed

[2020-11-10 20:22] narin commented on #15678
@bsmartin-ep Yes, sorry for the delayed response.  That's the component that will display while eligibility is loading.

[2020-11-10 20:22] jenniferlee-dsva commented on #15583
this lgtm too. i also checked "fiduciaries" / "fiduciary" which both brought back 1 relevant result. closing this one as validated.

[2020-11-10 20:22] #15583 closed

[2020-11-10 20:26] zkoppert commented on #16032
@mchelen, Looks like @f1337 is already on the list. I added @shanemelliott Pease let me know if either of them have access issues.

[2020-11-10 20:26] #16032 closed

[2020-11-10 20:27] ncksllvn commented on #15650
This is the global search app's behavior when it doesn't have a query in the URL. The issue we were seeing was the same as that other issue where we were missing trailing slashes, causing the query to not carry over. I just opened a PR for this, https://github.com/department-of-veterans-affairs/vets-website/pull/14926.

[2020-11-10 20:29] rtwell commented on #15084
VAOS has a couple of instances of the mixed list, unfortunately. And i'm guessing your brain is going where my brain is, asking "should we carry this formatting through to all of our radio buttons…and if so, what happens when a bold radio label is next to a regular checkbox"? and it quickly spirals into a design system / form system problem not a VAOS problem. However, when a mixed list is on the

[2020-11-10 20:29] mdewey commented on #14988
Merged. Waiting for deployment to staging

[2020-11-10 20:34] mdewey commented on #15521
Merged and waiting for deployment to staging

[2020-11-10 20:37] rtwell commented on #15084
OR perhaps this is grounds for a **new tooltip componenttttttttttttt** 🎉

[2020-11-10 20:48] saneshark opened #16034 "Add Brad and Lance and anyone else to JIRA + Crowd + Bitbucket + and PPG slack"

[2020-11-10 20:48] bessgreen opened #16035 "No letters screen (UI)"
## User story
As a user, I want a page that tells me if I don't have any letters available to view.

## Acceptance Criteria
1. When the letters API does not return any letters for a user, the letters list page displays the associated UI
2. Hard-coded copy
3. Phone number with click-to-call capability

## Designs
https://adhoc.invisionapp.com/d/main#/console/20546460/434420520/preview#project_conso

[2020-11-10 20:49] saneshark opened #16036 "Update Escalation Playbook"

[2020-11-10 20:50] saneshark opened #16037 "Sync with On Call Team on Pager Duty Escalation procedures"

[2020-11-10 20:52] jmarchi commented on #15702
@bessgreen @bridgethapner Are we leaving the upcoming/past toggle in for this screen? If so is it disabled?

[2020-11-10 20:58] #15494 closed

[2020-11-10 20:59] jenniferlee-dsva commented on #14474
Just pointing out that I reported this weird bug on Oct 6. Then on Oct 7 @johnhashva said that the page became available without basic auth gate. So - this might be moot point now, as we are in Nov and theoretically the page is now live and ungated (I haven't checked).

[2020-11-10 21:02] bmcgrady-ep commented on #13102
Hi @amyknox - It should be working now, I had to update the URL structure to the segments. Let me know if you have any issues with getting the segments to work.

[2020-11-10 21:03] #15642 closed

[2020-11-10 21:04] sanlouise commented on #14998
@Samara-Strauss Yes, we can :) Just verified in staging that all looks good.

[2020-11-10 21:05] laurenernest opened #16038 "Community care provider - remove selection"
## Issue Description
As a user, I would like the ability to remove my preferred provider selection so that I can make changes to my provider preferences

---

## Acceptance Criteria

- [x] Update is behind VA Online Scheduling Provider Selection feature flag

- [x] Given a provider is selected, When user clicks/taps Remove provider, Then the preferred provider is removed AND returns to default opt

[2020-11-10 21:05] Samara-Strauss commented on #14998
Great! Great work!

[2020-11-10 21:05] #14998 closed

[2020-11-10 21:12] annaswims commented on #15654
all past data has been corrected.

[2020-11-10 21:12] #15654 closed

[2020-11-10 21:13] #16014 closed

[2020-11-10 21:17] annaswims commented on #15689
https://github.com/department-of-veterans-affairs/vets-api/pull/5217 fixed the primary issue for “/review-veteran-details/military-service-history”

[2020-11-10 21:21] #15626 closed

[2020-11-10 21:22] mdewey opened #16039 "[FE] Update Phones numbers to be the clinic phone number"
## User Story
As a veteran,
I should see the correct phone numbers on the confirmation page
so that I have someone to call if I have questions.

## Related Documentation

 - [MVP: Visit Intro Initiative (Proof of Concept)](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/initiatives/visit-intro.md)
 - [Mock Up](https://app.zeplin.

[2020-11-10 21:28] joeniquette opened #16040 "Document SSO Security Functions"
Document full list of security functions regarding current SSO implementation
_determine location of documentation

[2020-11-10 21:29] annaswims commented on #15689
note to self - queries for digging in more.

[code]

[2020-11-10 21:30] mdewey opened #16041 "[FE][BUG?] Save in progress not firing on demographics"
## User Story
As a Veteran,
the demographics page should be automatically saving my information,
so that the system can save my information for later

## Related Documentation

 - [MVP: Visit Intro Initiative (Proof of Concept)](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/initiatives/visit-intro.md)
 - [Mockup](https://app.ze

[2020-11-10 21:30] jonwehausen commented on #11449
@bsmartin-ep 2-Factor enabled?

[2020-11-10 21:35] amyknox commented on #13102
Hey @bmcgrady-ep - those are still not working for me.  I reloaded them and then applied the new ones to the goal URL report and still getting the same results as in the screenshot above.  Suggestions?

[2020-11-10 21:40] bsmartin-ep commented on #11449
@jonwehausen -

Yes - it has been enabled at the account level for all VA GTM properties.

![image](https://user-images.githubusercontent.com/62304138/98736863-66552780-2373-11eb-89ef-68f52ac72cdf.png)

Closing.

[2020-11-10 21:40] #11449 closed

[2020-11-10 21:41] jenniferlee-dsva commented on #15650
Replying[ to your reply to my reply](https://github.com/department-of-veterans-affairs/va.gov-team/issues/15650#issuecomment-724897590) :-)

Hi @ncksllvn - Are you sure? I only assumed we were already searching the body of the article because some of the results for "apply for pension" doesn't include any matches in the title text. (Hence, I assumed they were being brought up bc the word/s are app

[2020-11-10 21:48] brianalloyd commented on #14474
@jenniferlee-dsva great point.  Sounds like we might be able to validate and close out this ticket.  @johnhashva do you want to confirm and I'll close out once validate?  Thanks everyone for the assistance.

[2020-11-10 21:50] joeniquette opened #16042 "Force www.va.gov to open in chrome"
Boris Ning stated that other teams within the VA have requested that their URLs are forced to be opened up in Chrome, such as yourit.va.gov. This ticket suggests we work with Boris and the appropriate powers to get this change put in place for internal VA network users.

This would solve the issue where internal va network users who go to www.va.gov/sign-in with IE11 compat Document Mode 7 (defaul

[2020-11-10 21:52] bessgreen commented on #15702
@jmarchi the toggle for Upcoming/Past appointments should still appear and be active: a user could have no upcoming appointments, but have a list of past appointments (and vice versa).

[2020-11-10 21:52] watersemma commented on #15720
UX Review 2/2: This checks out for me as well!

[2020-11-10 21:54] jhouse-solvd commented on #15563
Recent testing from Alastair show this to be working ie "got a valid oauth session response back".

Before we close this ticket, we want to consolidate relevant steps so that this can be done smoother/faster/more self-service when deploying to prod (possibly before the holidays, per @jjulian)

@tskinn and/or @jbritt1  - Can you add any necessary configuration needed from the Operations team in the

[2020-11-10 21:58] joeniquette opened #16043 "Setup SSOe Sentry Error Hackathon Agenda"
Create agenda

[2020-11-10 22:04] lihanli commented on #15722
we can store the data in the backend database.

we can create an api that will list a user's preferred facilities which the VAOS team can use.

[2020-11-10 22:05] bmcgrady-ep commented on #13102
@amyknox - I believe I needed to reshare the updated segments with you. Here they are:
- [Education - Ineligible 10203 Submissions](https://analytics.google.com/analytics/web/template?uid=cPz32eahSAmlh5bqIxsC5w)
- [Education - Eligible 10203 Submissions](https://analytics.google.com/analytics/web/template?uid=Es9kZ89FTaKgHZ5xo8DqPg)

[2020-11-10 22:07] 1Copenut commented on #15102
Retested with VO on Staging. Looks good, moving this to close.

[2020-11-10 22:07] #15102 closed

[2020-11-10 22:18] #8779 closed

[2020-11-10 22:24] joeniquette commented on #15749
Notes: https://docs.google.com/document/d/1U8G8Uzs_aP8IXPXJ7fjdB9ewIctYQz-ei3X6FyLrO24/edit#heading=h.6pmzj8pbkrnx

Slides: https://docs.google.com/presentation/d/1Kj-XlZ5tOWM7TqA0AfWZO2cnRHiNTBbxSdY1KEUp-os/edit#slide=id.ga9b1011f84_0_37

[2020-11-10 22:29] ncksllvn commented on #15650
@jenniferlee-dsva I see four results but they all have the word "for" in the article titles ->

![image](https://user-images.githubusercontent.com/1915775/98741178-2e9dae00-237a-11eb-8bde-e8346f9947ad.png)

We could create that "ignore list" to make words like "for" no longer be treated as a keyword

[2020-11-10 22:30] mchelen-gov opened #16044 "Add unit test for FormResult component"
Component is missing unit tests: https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/applications/coronavirus-screener/components/FormResult.jsx

There are 3 possible statuses:
- Incomplete
- Pass
- MoreScreening

And multiple possible languages defined in https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/applications/coronavirus-screener/con

[2020-11-10 22:36] #13340 closed

[2020-11-10 22:36] andaleliz commented on #13340
Completed follow-up today. Was not able to get responses from NCA scheduling and NCC content teams, but I think we're good with what we have.

[2020-11-10 22:36] mchelen-gov commented on #11591
https://github.com/department-of-veterans-affairs/vets.gov-status/pull/3761

[2020-11-10 22:36] andaleliz commented on #13340
Updating complexity on this issue due to LOE to track people down and the volume of follow up interviews that resulted.

[2020-11-10 22:40] amyknox commented on #13102
Hey @bmcgrady-ep - Somethings night right.  These look too good.  We used to have a 90% rejection rate due to ineligible applicants and now we have a 99.9% eligible rate, per Google Analytics.

Also, checking against DOMO from 9/1, we have 147 ineligible applicants but GA segments say 40 for the same time period (pic below).  And then... when you look at just October, the number of ineligible appl

[2020-11-10 22:47] laurenernest commented on #15945
@mnorthuis This ticket (part of the [community care provider selection update](https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/14654)) will be splitting content from one page into two. Did you have any IA input you'd like me to include?

Here's a visual to better show the change. A is the MVP, and B would be an iteration.
[https://ap

[2020-11-10 22:47] bridgethapner commented on #13140
Have the first draft of a Sketch file with all our elements, will share with Meli so she can start some UX work next sprint.

[2020-11-10 22:47] #13140 closed

[2020-11-10 23:04] jonwehausen commented on #9396
### Remaining Steps towards Closure
- [ ] BCC email all folks with a `@gmail` account currently in our GTM/GA
     - Give a grace period of 10 days, for all folks who we **don't** hear from, remove access following the 10 days
     - For folks who respond with a _"yes I would like to maintain my access"_, we follow-up separately with them and request for them to go thru our normal process of creat

[2020-11-10 23:09] tlei123 opened #16045 "[Bug] HLR - IE11 - Contested issues - Same office alert - styling mismatch"
## What happened?
On Staging **Request a Higher-Level Review** Contested issues page, in **IE11**, same-office alert didn't match design prototype.

## Specs:
- Devices: Windows 10 PC, Samsung S9
- Browsers: IE11, Samsung Internet
- Test User _(if applicable)_: 'vetsgov+test236@id.me`

## Steps to Reproduce
1. Go to https://staging.va.gov/decision-reviews/higher-level-review/request-higher-level-r

[2020-11-10 23:11] digitalken commented on #13862
Moving to Design QA. Have one outstanding bug to be fixed https://app.zenhub.com/workspaces/va-mobile-app-5f205eac3155a2000f422ecb/issues/department-of-veterans-affairs/va.gov-team/14562

[2020-11-10 23:13] jonwehausen commented on #9396
## Updated Google Sheet with accounts: `https://docs.google.com/spreadsheets/d/1edJSf5zuFPiU3BCbcK6jbptNjRT_NOYnKvy4rU9uKaU/edit#gid=1693051957`

[2020-11-10 23:33] digitalken commented on #13950
Moving to Design QA.

[2020-11-10 23:39] peggygannon commented on #15711
Hi, @outerpress what do you think of this?

You can select up to 3 providers you'd prefer for this appointment. If they aren’t available, we’ll schedule your appointment with a provider close to your home.

[2020-11-11 00:05] sporeboy commented on #15916
I understand the rationale. Here is a link to the updated screens (3 and 4): https://xd.adobe.com/view/5315e9ba-69ee-4082-bb26-29605bc4ae67-0646/screen/a942fa36-4ebd-446f-92ee-65149d9e9584

[2020-11-11 00:05] mpelzsherman commented on #15399
Confirmed, the covid banner is present on https://www.va.gov/pittsburgh-health-care/health-services. Closing.

[2020-11-11 00:05] #15399 closed

[2020-11-11 00:05] digitalken commented on #15443
I'm passing this but I do have a medium bug logged -- not enough to keep from verifying the story is complete, though.  Results in TestRail.  Moving to Design QA.

[2020-11-11 00:18] bessgreen opened #16046 "Common component: Add to Calendar button"
## Acceptance Criteria
1. Create "Add to Calendar" hyperlink with a calendar icon displayed to its left
     - This is a variation of the **Small Button (icon with text)** CC. See [this story](https://app.zenhub.com/workspaces/va-mobile-app-5f205eac3155a2000f422ecb/issues/department-of-veterans-affairs/va.gov-team/15626) for details.
2. Selecting this button will launch the phone's default calenda

[2020-11-11 00:21] sporeboy commented on #13807
Near-final draft available here: https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/identity-personalization/direct-deposit/edu-direct-deposit

Draft will be finalized when the convo guide is complete.

[2020-11-11 00:27] bessgreen commented on #15609
Blocked: need lat/long from the service

[2020-11-11 00:55] digitalken commented on #15446
Pass in TestRail.  Sending to Design QA.

[2020-11-11 01:16] DanielleThierryUSDSVA commented on #16028
Thanks, @jenniferlee-dsva! @kelsonic, would you mind fixing this whenever you have a chance since it's in a react file? No rush. Thanks!

[2020-11-11 02:34] DanielleThierryUSDSVA commented on #15019
@kristenmcconnell @peggygannon @mnorthuis Comments to date on the Drupal page attached. Since the PW team will be building this page, we can drop in the final privacy content when it's ready.
[Health questionnaires content 11.10.20.pdf](https://github.com/department-of-veterans-affairs/va.gov-team/files/5521368/Health.questionnaires.content.11.10.20.pdf)

[2020-11-11 03:39] bsmartin-ep commented on #9396
The following GA accounts [were attached to deactivated Slack accounts](https://dsva.slack.com/archives/GMP330AG3/p1605065152005100?thread_ts=1605018761.002400&cid=GMP330AG3) and have been removed:

[code]

[2020-11-11 06:11] tlei123 commented on #5904
Test Runs completed.  TestRail links:
- [Test Plan](https://dsvavsp.testrail.io/index.php?/plans/view/103)
- [Coverage of References (Cases) report](https://dsvavsp.testrail.io/index.php?/reports/view/144)
- [Summary (Defects) report](https://dsvavsp.testrail.io/index.php?/reports/view/145)

[2020-11-11 06:11] #5904 closed

[2020-11-11 12:14] johnhashva commented on #15394
11/10 Update: Confirmed that Facilities team is solutioning both the local time zone and breadcrumb issues for the Outreach and Events page.

[2020-11-11 14:29] joshkimux opened #16047 "Accessibility Feedback for Staging Review - BAM1 [Higher Level Review]"
**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Point of Contact

VSA: Jennifer and Josh
VSP: Trevor

## Details

This epic contains the accessibility feedback for Staging Review - BAM1 [Higher Level Review].

## Definition of done

1. Review and acknowledge feedback.
1. Fi

[2020-11-11 14:59] 1Copenut commented on #15050
@jbalboni I spot checked this on staging, and the accessible labels are 💯 Moving to close.

[2020-11-11 14:59] #15050 closed

[2020-11-11 14:59] jbalboni commented on #15651
I think my biggest conclusion here is that we'll need to modify the existing endpoint for pulling CC providers in vets-api to support our needs (passing a lat/long and radius, and potentially searching by multiple specialty codes), assuming we go the route of using the existing va.gov connection. We could also create our own interface in vets-api that uses the existing PPMS connection code, potent

[2020-11-11 15:23] jbalboni commented on #15651
FYI @saneshark @laurenernest @outerpress, questions answered above.

[2020-11-11 15:30] #16012 closed

[2020-11-11 15:37] #16009 closed

[2020-11-11 15:51] #15394 closed

[2020-11-11 15:52] ncksllvn commented on #15797
I think this is patched now @jenniferlee-dsva

http://preview-prod.vfs.va.gov/preview?nodeId=8249 ->

![image](https://user-images.githubusercontent.com/1915775/98833416-fb0b6400-240b-11eb-8e38-7e75dcec187f.png)

[2020-11-11 16:14] saneshark commented on #10086
This is actively being reviewed by VSP right now. Unrelated to the original reason this issue was created, the upgrade to Sentry 10 has introduced an entirely different way that platform-api Sentry behaves in its grouping.

For example, when I identify an exception related to specific controller and I drill down into that exception, previously I used to be able to click on events and view other in

[2020-11-11 16:25] mnorthuis commented on #15945
Hi @laurenernest!  Thank you for checking in on this!  I generally assist with URLs for the initial form URL (i.e. up to /introduction), but once you are in the form, the teams generally decide that last URL slug based on the intent of the page. We haven't established standards or guidelines for this quite yet, but I would recommend keeping it as short (1-2 words), simple and plain language as pos

[2020-11-11 16:28] CrystabelReiter opened #16048 "<Content review request for direct deposit pattern> from <Design system team>"
## Why you're here

### Content support for:
- The design system team is working on a design system pattern for direct deposit information. We took the following pieces of content in our mockups from existing form designs on VA.gov. The design system team does not create new designs we take what is existing and make it reusable for the VFS teams to use. We wanted to ask for a content review becaus

[2020-11-11 16:37] laurenernest commented on #15945
@mnorthuis Thanks for the info!
The language doesn't have any impact on the list in the UI. It's information that's passed in the appointment request. That's part of the reason for moving it; to help avoid that confusion.

[2020-11-11 16:44] tlei123 commented on #14457
@pjhill , sorry I forgot to tag you here when I updated the QA-artifact links above in the main Description!  They're all up there.
cc @luke-gcio @jenstrickland

[2020-11-11 16:48] bmcgrady-ep commented on #15237
## Datalayer Requirements
cc: @Samara-Strauss @jonwehausen @bsmartin-ep

### **When the veteran clicks 'Add' or 'Edit' and the API call is made to suggest an address and the service is unavailable or an unexpected error occurs**
![image](https://user-images.githubusercontent.com/66263904/98839389-b4653c00-2402-11eb-8aaf-95bce9f76579.png)
[code]

[2020-11-11 16:52] joshkimux opened #16049 "508-defect-2 [COGNITION, SEMANTIC MARKUP] The link text MUST make sense in context, and should make sense when taken out of context"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Point of Contact

**VFS Point of Contact:** Josh Kim

## User

[2020-11-11 16:54] saneshark commented on #15651
1. Lat/Long is more performance than address based lookup. I agree that we'd want to use Lat/Long ideally.
2. Radius is an interesting one we might have to play around with from a UI perspective. The current mechanism on Facilities API whereby it auto zooms out indefinitely is a little bit jarring. That being said, for some remote areas we'd want a larger radius than more metropolitan areas.

The

[2020-11-11 16:58] saneshark commented on #15651
@jbalboni suppose we go with only doing a single query for the 4 most relevant specialty code mappings, not munging any data together to build a full set -- would we be able to track at a granular level in google analytics successful hits and users progress in such a way that we could use this analytics to later tune what we are doing in our query? In other words, start with something, but tune it

[2020-11-11 17:32] jbalboni commented on #15651
I made some updates above. I don't think the `address` param on vets-api is important (it's not required), `bbox` is important, since that is a lat/long box that is turned into a lat/long point and radius.

I don't think we can expand/contract radius depending on location; I don't know what data you'd base that expansion/contraction on. You could do additional queries if you didn't get a certain n

[2020-11-11 17:44] mmiddaugh opened #16050 "Extra padding in some health service accordions"
## Issue Description
Some health service accordions for [University Drive](https://www.va.gov/pittsburgh-health-care/locations/pittsburgh-va-medical-center-university-drive/) have extra padding between the `Appointments` and `Care we provide at VA Pittsburgh health care` sections.

<details>
<summary> Psychology example </summary>

![image](https://user-images.githubusercontent.com/55411834/988447

[2020-11-11 17:45] #14986 closed

[2020-11-11 17:45] #13010 closed

[2020-11-11 17:49] digitalken commented on #13885
PASS 11/11/2020 on TestRail run. Sending to Design QA.

[2020-11-11 17:54] mmiddaugh opened #16051 ""Other nearby VA locations" list on VAMC page"
## Issue Description
The locations listed under "Other nearby VA locations" on the system level [Locations page](https://www.va.gov/pittsburgh-health-care/locations/) are not handled consistently.

<details>
<summary> Facility type is listed for all locations except Vet Centers </summary>

![image](https://user-images.githubusercontent.com/55411834/98846150-ec24b180-240b-11eb-92aa-004a6379044e.png

[2020-11-11 18:24] andaleliz commented on #14485
@sshein Should this be assigned to Crystabel as the design system designer, or is this up to one of the members of our VSA UX team to pick up?

[2020-11-11 18:43] andaleliz commented on #12759
I need some more information in order propose a design that supports the way data comes in from the CMS for this template.

@kelsonic, @oksana-c  and/or @ncksllvn, can you share any information about how data is structured for this template? Is it all one big WYSIWYG dump?  Drupal screenshots might be helpful so we can see it from the author perspective.

[2020-11-11 18:43] andaleliz commented on #13037
I need some more information in order propose a design that supports the way data comes in from the CMS for this template.

@kelsonic, @oksana-c  and/or @ncksllvn, can you share any information about how data is structured for this checklist template? Is it all one big WYSIWYG dump?  Drupal screenshots might be helpful so we can see it from the author perspective.

[2020-11-11 18:48] bridgethapner commented on #15905
@msmanak - just shared the Profile 2.0 Product Guide with you, should be in your email.

[2020-11-11 18:55] omgitsbillryan commented on #14868
All checkboxes complete except for:

I don't even think this effort is worth it ☝️ .

[2020-11-11 18:55] #14868 closed

[2020-11-11 19:05] #14842 closed

[2020-11-11 19:05] #14843 closed

[2020-11-11 19:05] #14840 closed

[2020-11-11 19:05] #14838 closed

[2020-11-11 19:06] srmyers17 opened #16052 "Model for appointments"

[2020-11-11 19:11] srmyers17 opened #16053 "Appeals Detail Page - API Work"

[2020-11-11 19:15] srmyers17 commented on #16026
- Glue
- Creating new VEText service

[2020-11-11 19:15] jenstrickland opened #16054 "Request for addressing chevron use in buttons in VA design system"
## Do you have feedback or suggestions for the style guide?

Yes, per [this Slack conversation](https://dsva.slack.com/archives/C0NGDDXME/p1604703127207200), @KevinMHoffmanUSDS asked that I document this issue for he and @rtwell to resolve the guidance for chevron use in buttons for the VA design system.

![Screen Shot 2020-11-06 at 3 44 57 PM](https://user-images.githubusercontent.com/57469/98854

[2020-11-11 19:16] ncksllvn commented on #13037
_WYSIWYG dump_ is a term I'm gonna start using now 😁 I don't see any design limitations we would run into based on the data behind this layout. The gist of the data is that we get a list of "checklist sections", each containing a heading and a list of "checklist items". I don't think it gets any more ideal than that.

[2020-11-11 19:18] srmyers17 commented on #14364
Note, for now, we won't update the prototype card that captures what users should do to cancel right now (ie, go to VA.gov)

[2020-11-11 19:18] ncksllvn commented on #12759
Not a _WYSIWYG dump_ 😄 We get nice structured data. This page's data is a list of "media images", each one containing an image location (src), description, label, etc. Easy to work with.

[2020-11-11 19:23] srmyers17 commented on #15905
- discovery needed
- @jperk51 to weigh in on whether this is possible on the backend.

[2020-11-11 19:26] annaswims commented on #15689
Places people get stuck or abandon and how we can measure it:
(rake tasks after  https://github.com/department-of-veterans-affairs/vets-api/pull/5267 is merged)

# They leave the in progress form
either by choice, frustration, or need to gather evidence:
  - Choice/exhaustion/need more info: `bundle exec rake form_progress:abandon_url[21-526EZ,2020-10-06,2020-11-06]`
 -  Frustration/stuck with val

[2020-11-11 19:27] srmyers17 commented on #15982
Two empty states:
- One is for upcoming appointments (another ticket that is done!)
- One for past appointments (this ticket)

[2020-11-11 19:29] srmyers17 commented on #13483
New component for onboarding (cc: @lexicalninja)

[2020-11-11 19:34] jenstrickland commented on #13037
Will the checklist always be preceded by the same content structures, or could it be the first item under a h1?

I ask so that the semantic markup will be flexible enough to work regardless of where it is placed (thinking that a description list structure may be useful, for example).

[2020-11-11 19:37] kristenmcconnell commented on #15019
@DanielleThierryUSDSVA Thank you. I incorporated the feedback into the Zeplin wireframe deliverable (seen within the Content page section of https://scene.zeplin.io/project/5f3d86a458ea2231e60a4780). I also added some comments into your [PDF](https://app.zenhub.com/files/133843125/f09402e5-a524-4132-93e8-470814fdd030/download).

@mlighdc @abuckley3385 Please review the updated Drupal page for our

[2020-11-11 19:38] sshein commented on #14485
good question. I think this should be sent to the design system team and triaged there somehow. Not sure how they want to do that. Maybe @caw310 and @CrystabelReiter can decide (for context this was one of the tickets that came out of the mobile month study)

[2020-11-11 19:38] sshein commented on #14485
That said, I know @KevinMHoffmanUSDS recently said the design system team does not create new things - only documents them like a library? So maybe they wouldn't do this? 🤔

[2020-11-11 19:40] andaleliz opened #16055 "[Discovery] - Final artifacts for contact center/IRIS research study"
Create artifacts for contact center content team research study:

- [x] map content authoring experience, highlighting details for each call center
- [x] oracle service cloud map, including content flow
- [x] capture teams, systems, audiences and content
- [ ] finalize "footnotes" / findings supplement

[2020-11-11 19:42] kristenmcconnell commented on #15019
@abuckley3385 This page will be implemented by the public websites team, so we need to get this on their roadmap.

[2020-11-11 19:45] srmyers17 opened #16056 "Adapter for VA appointments"

[2020-11-11 19:46] srmyers17 opened #16057 "Adapter for Community Care Appointments"

[2020-11-11 19:47] srmyers17 opened #16058 "Controller for Appointments"

[2020-11-11 19:48] srmyers17 opened #16059 "Smoke test for existing integrations"
# Integrations include:

- [x] Profile

- [ ] Military information

- [ ] Letters

- [ ] Direct deposit

[2020-11-11 19:55] andaleliz commented on #14485
I recall that statement as well...but this is an improvement to an existing team. Still, librarians don't edit books so sounds like it would go to VSA.  I'll wait to hear back from them.

[2020-11-11 19:55] CrystabelReiter commented on #14485
@sshein yes you're right, design system team does not create new solutions.

If a VSA team member wants to create a mobile friendly alert and wants to propose to update the pattern, then a proposal would be sent to the design system council to review and it will be prioritized for the design system team to work on

[2020-11-11 19:56] joanneesteban commented on #6559
This is an issue Analytics will still have to tackle, and have begun with the Analytics Playbook. Closing this issue, and will reopen a new issue in order to clean up our board.

[2020-11-11 19:56] #6559 closed

[2020-11-11 19:56] kristenmcconnell commented on #15158
[Sample PDF of final design](https://app.zenhub.com/files/133843125/a92029ae-049a-48c5-8339-ca5a7f955382/download)

[2020-11-11 19:57] joanneesteban commented on #8024
Some discovery work is being done in Q4 2020. Will need to do a bit of technical discovery around how often Domo can update. Closing this issue to clean up the board.

[2020-11-11 19:57] #8024 closed

[2020-11-11 19:58] joanneesteban commented on #8025
When Medallia is live, we will add historical ForeSee data to BigQuery. Closing this ticket.

[2020-11-11 19:58] #8025 closed

[2020-11-11 19:58] joanneesteban commented on #8559
Liani, Content & IA PM, is determining new KPIs. Will open a new issue when that comes in.

[2020-11-11 19:58] #8559 closed

[2020-11-11 20:02] andaleliz commented on #13037
@jenstrickland based on [Jen's comment above](https://github.com/department-of-veterans-affairs/va.gov-team/issues/13037#issuecomment-723277186), I think the `h1` will be followed by an intro section (pretty sure it's a `<p>`), and then a checklist could be the first item under the intro.

It is also possible that the checklist will be preceded by an optional section heading (I'm thinking this sho

[2020-11-11 20:03] andaleliz commented on #12759
Awesome, thank you for confirming!

[2020-11-11 20:04] timwright12 commented on #767
@meganhkelley @bkjohnson Is this still being worked on? If so, I'd like to follow along to help familiarize myself with some og the system and processes (if there are no objections)

[2020-11-11 20:05] sshein commented on #14485
this is actually an interesting use case - basically my hunch is that no VSA team would prioritize this, because it's not required as part of a product. And VFS teams are very delivery focused. But it's something we identified as a component improvement from mobile month. I wonder how realistic it is to rely on VSF teams to always be the ones improving components.

[2020-11-11 20:05] timwright12 commented on #9226
Is there a new URL for this one? The caregivers one in the description seems to be 404ing

[2020-11-11 20:09] timwright12 commented on #11743
@meganhkelley I can probably take a run at this one if we're looking for something for me to work on. Let me know!

[2020-11-11 20:09] mlighdc commented on #15019
Thanks @kristenmcconnell. Just one minor question:

- Should the first bullet be more about "ask questions to your providers at the appointments" or something like that? Answer questions from your provider makes it sound like the provider will be asking other questions besides the one on the form. Let me know if I am misinterpreting.
![image](https://user-images.githubusercontent.com/35788031/9885

[2020-11-11 20:19] andaleliz commented on #16055
@jenniferlee-dsva (cc @bethpotts and @brianalloyd)

I have some artifacts ready for your review! I've put together some maps and info that I hope are easy to digest.

[Contact Center Content Teams](https://preview.uxpin.com/559c1f8fc9b065402b80c5a8c26262c8371b1295#/pages/134110801/simulate/sitemap?mode=i) and [authoring flow ](https://preview.uxpin.com/559c1f8fc9b065402b80c5a8c26262c8371b1295#/pag

[2020-11-11 20:19] jonathanjnelson commented on #15161
[Flow can be explored here](https://vsateams.invisionapp.com/share/HDZEEIXRBZG#/435554202_Secondary-Slected-No)

[2020-11-11 20:20] #15158 closed

[2020-11-11 20:26] jenstrickland commented on #13037
@andaleliz Thanks! That clarifies why I'm suggesting that a description list is likely to be a good semantic structure so that if there is a preceding h2 or not, the content will still be useful. The alternative is that the checklist heading would be an h2 and a list would be applied to the checklist items, then aria used to associate them. The description list does all of that without any aria sp

[2020-11-11 20:27] andaleliz commented on #14485
I can see that @sshein.  In the past, when I've included improvements to global components in designs for my team, I have been told we can't prioritize those improvements since they'd be a global change, and we should just move forward with what we have.  I'd like to work on this but it's not part of any current initiatives we have.

[2020-11-11 20:27] jenstrickland commented on #9226
@ala-yna Is this the correct new url for this in staging? https://staging.va.gov/family-member-benefits/comprehensive-assistance-for-family-caregivers/

[2020-11-11 20:34] kristenmcconnell commented on #15019
@mlighdc I think what content wrote is correct. Fundamentally, all of our questionnaires include questions that need to be answered. Also, the questionnaires are sent by the VA provider to the Veteran, so the providers are requesting that the Veterans answer the questions.

[2020-11-11 20:46] Mottie commented on #15996
Hi Tze!

This is actually a bug I discovered. User 238 _should_ have one contestable issue to display, but it gets accidentally removed once you get past the intro page.

What you're seeing on this page shouldn't ever be visible. If you don't have any contestable issues, you shouldn't make it past the introduction page - user 234 can be used for this test scenario, but again.. the form should neve

[2020-11-11 20:50] digitalken opened #16060 "View Direct Deposit Info - "Note: If you think..." font looks like 17px but should be 14px"
## What happened?
"Note: If you think..." text font should be 14px but it appears to be the same as the 17px body font near the top of the page that is "View and edit your direct deposit information..."

## Specs:
- Device: Not device specific.

## Steps to Reproduce
- Navigate to Profile > Direct Deposit and compare the size of text in the note below the middle of the page "Note: If you think you

[2020-11-11 21:01] jonathanjnelson commented on #15161
Hi @peggygannon! Hoping to get your feedback on the content of this error message.

Context:

If the user selects _no_ to add a Primary Family Caregiver
and selects _no_ to add a Secondary Family Caregiver
an error is triggered as the user is required to add at least one family caregiver to the application.

<img width="743" alt="Screen Shot 2020-11-11 at 2 23 38 PM" src="https://user-images.githu

[2020-11-11 21:03] ncksllvn commented on #13037
The checklist could/will be preceded by the page title (h1), alert banner, and links styled as buttons. Right now, in our (very rough) template, we also have an H2 that is hardcoded to always say "Checklist" but that is being removed. After all that, we get into the checklist(s).

We can probably check for the existence of optional values in order to render a certain heading tag if that's what you

[2020-11-11 21:05] rebeccawalsh commented on #15655
Ho-kay! So we found that on the 1010cg, they are asking for signatures on the Review step of the form! Here's a screenshot of their solution:
![screen_shot_2020-11-11_at_2.43.33_pm.png](https://images.zenhubusercontent.com/5da618a29c4ddf0001b2fd8e/21ae22a0-a482-4a24-9cbc-85222c8d7c57)

I think this will be a good solution for us because:
- Consistency with existing form(s)
- Reduce the number of c

[2020-11-11 21:07] annaswims commented on #15689
[slack
![sankeymatic_600x600 (2)](https://user-images.githubusercontent.com/19188/98864317-aed61900-2437-11eb-8e0f-d8a15f109d9f.png)
](https://dsva.slack.com/archives/C5AGLBNRK/p1603999885288700)

This is forms that have been updated/submitted within the last month, excluding today (as of October 29)

graph source made with http://sankeymatic.com/build/
[code]

[2020-11-11 21:07] rebeccawalsh commented on #15656
I have created a scaffold of the intended review page (including signatures) here: https://preview.uxpin.com/803dc24213cf723bfce6c5e3eaef5a2c3f3e344b#/pages/134117869/simulate/no-panels?mode=i

It makes sense for us to hold off on building out all of the individual review screen accordions until we've had a chance to really solidify copy and get reviews from DMC and VSP. This way, when we get feed

[2020-11-11 21:08] andaleliz commented on #14485
@jonathanjnelson has an alert in a flow he is working on and is willing to propose some mobile improvements as an extension of that work!

[2020-11-11 21:09] rebeccawalsh commented on #15502
@leahkeeler fixed my links in the original comment :o) sorry!

[2020-11-11 21:17] outerpress commented on #15711
@peggygannon (If it gets confusing capturing this conversation in both InVision and the ticket, let me know):

I made some changes to this page and incorporated your latest suggestion with a few modifications:
- I removed the "I don't know" question; instead, the entire page is optional.
- Added "(Optional)" to the header
- In the main instruction, changed "select"  to "request":
"You can **reques

[2020-11-11 21:39] lenaecb commented on #15651
@saneshark - I think we can make the analytics happen if we have a clear question or outcome we're trying to track. So i don't see that being a hurdle.

[2020-11-11 21:45] Kimberley2019 commented on #15616
Ticket can be closed.  Ervin Pearson was able to review.

[2020-11-11 21:45] #15616 closed

[2020-11-11 21:45] Kimberley2019 commented on #15612
Ticket can be closed.  Ervin Pearson was able to review.

[2020-11-11 21:45] #15612 closed

[2020-11-11 21:49] andaleliz commented on #16055
[Findings supplement ](# IRIS / Contact Center Research Findings Supplement

**Digital Services Veterans Affairs (DSVA), VSA, Public Websites**

Liz Lantz (liz.lantz@adhocteam.us), November 2020

View the [Research Plan](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/content/tier-2-content-IA-and-design/learning-center-mvp/discovery-and-research/iris/contact-cen

[2020-11-11 21:55] andaleliz commented on #16055
[Findings supplement](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/content/tier-2-content-IA-and-design/learning-center-mvp/discovery-and-research/iris/research-findings-supplement.md) is also ready for review @jenniferlee-dsva

Sorry about the crazy comment I just pinged you in - didn't realize I had the whole doc on my clipboard.

[2020-11-11 21:57] Kimberley2019 opened #16061 "Contact Center Road Mapping"
## Issue Description
_In order to have clear direction of the team a road mapping session will be held_

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to an Epic**

[2020-11-11 22:00] Kimberley2019 commented on #16061
First session will be held Thursday 11/12/2020.

[2020-11-11 22:04] Kimberley2019 opened #16062 "VA411 IVR Messaging"
## Issue Description
The VA411 number has an IVR that helps direct users to the correct place for getting answers to issues related to the VA. Currently, the IVR does not have messaging for VA.gov issues. The

---
## Tasks
- [ ] Identify which VA.gov recurring issues could be addressed in an IVR setting.
- [ ] Write the IVR script based on determination of which issue solutions would work well in

[2020-11-11 22:09] kristenmcconnell opened #16063 "[UX][Research] Interview Clinicians"
## User Story
- As a product team and Veteran, we want to better understand the clinician workflow to understand how questionnaires could best be utilized.

## Related Documentation
 - [MVP: Visit Intro Initiative (Proof of Concept)](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/initiatives/visit-intro.md)
- [Research folder wi

[2020-11-11 22:13] kristenmcconnell opened #16064 "[UX][Research] Clinician Interview Analysis"
## User Story
- As a product team and Veteran, we want to better understand the clinician workflow to understand how questionnaires could best be utilized.

## Related Documentation
 - [MVP: Visit Intro Initiative (Proof of Concept)](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/initiatives/visit-intro.md)

## Description
A res

[2020-11-11 22:15] outerpress commented on #14110
@laurenernest - [Specs (currently in progress) live here](https://adhoc.invisionapp.com/share/FSZEGAUBP3E)

A couple of questions:
* Are we updating the direct scheduling calendar as part of this work?
* If so, how do I access that? :)

[2020-11-11 22:16] laurenernest opened #16065 "Clinic copy - Ensure correct article before type of care"
## What happened?
When filling in the type of care/specialty value in the choose clinic intro copy, the article doesn't adjust for care types that start with a vowel.

## Steps to Reproduce
- URL: https://staging.va.gov/health-care/schedule-view-va-appointments/appointments/new-appointment
- Test User: Judy Morrison

1. Choose eye care
2. Choose optometry
3. Choose VA medical center or clinic
4. C

[2020-11-11 22:25] digitalken opened #16066 "Accessibility - View Direct Deposit Info - keyboard navigation is illogical"
## What happened?
On Android, with Talkback enabled and bluetooth keyboard connected:

"Direct Deposit" title is never traversed.
From the "Back" button being highlighted:
Tap down arrow 6 times before the focus moves off of Back button and it jumps to Account, skipping "View and edit your direct deposit..."
Tap down arrow again and focus moves off Account and skips Note text down to 800 phone num

[2020-11-11 22:29] Kimberley2019 opened #16067 "Technical Triage Meetings with VFS Teams"
## Issue Description
_What details are necessary for understanding the specific work or request tracked by this issue?_

---
## Tasks
- [x] _A meeting will need to be held with VFS teams_
- [ ] _Discussion will need to be held regarding what techniques are used to figure out issues._
- [ ] _Request access for any systems (front end or back end) in order to be able to fully assist the user experien

[2020-11-11 22:32] laurenernest commented on #14110
@outerpress Let's keep this ticket just for the request calendar. I'll create a separate ticket to align the other calendar(s) if needed.

@jbalboni Are any of the calendar components shared? So if we make changes to the month header and next icon, it'll persist on all the calendars (like direct scheduling)?

[2020-11-11 22:34] Kimberley2019 commented on #16067
First meeting will be held Thursday 11/12/2020 with Ervin Pearson, Chante Lantos-Swett, Luke Majewski, John Hashimoto, Mathew Self, Anna Carey, Robin Garrison, Nick Sprinkle, and Kevin Stachura.

I reached out to Luke and this is the dream team he has indicated that needs to be a part of this process.

We have a new team member on our newly formed Contact Center team. :tada: Ervin Pearson is our S

[2020-11-11 22:34] CrystabelReiter commented on #14485
@sshein @andaleliz These are both good points. I think relying solely on VFS teams for improving components would be a good topic to bring to design system council discussion on Friday.

Looking forward to seeing Jonathan's mobile improvements!

[2020-11-11 22:39] #15154 closed

[2020-11-11 22:42] Kimberley2019 opened #16068 "Contact Center Data Request"
## Issue Description
_Many times VFS teams (Content & IA, Product Support, Front End Tools, Analytics & Insights, Back End Tools, Service Design, Identity, Design System, Contact Center, Testing Tools) will request Contact Center Data.  How can we better assist these teams in understanding, requesting, and providing them with the information that they need_

---
## Tasks
- [ ] _Understand if there

[2020-11-11 22:44] mmiddaugh opened #16069 "SEO Strategy for Vet Center pages"
## Problem Statement(s)

- Awareness about Vet Centers and their services is quite low among Veterans.
- Vet Centers are often confused with VA Medical Centers.
- Veterans searching for services are unlikely to find Vet Centers, their outstations, or community access points among the results.

## Areas of emphasis for SEO

- Locations (and types of locations: CAP vs outstation vs Vet Center)
- Ser

[2020-11-11 22:46] kristenmcconnell commented on #15049
@abuckley3385 @mlighdc @LEHigley Here is the updated clinician interview questions based off of our Mural brainstorming session and the past clinician protocol: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/discovery/stakeholder-interviews/clinician-interviews/november-2020/clinician-questions.md

Let me know what you think and if we n

[2020-11-11 22:54] mmiddaugh commented on #16069
Notes from a conversation with @1Copenut and @lildziner

- Json LD can be used for snippets of text to create meta-data to enhance SEO
- Use key words from appropriate Schema.org dictionary
- Trevor made a recommendation to the design system to [add a structured data component to address blocks](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/243)
- Need t

[2020-11-11 23:12] mmiddaugh opened #16070 "Crosslinking to Facility Locator for Vet Centers"
## Issue Description
There is a lack of awareness about Vet Centers among Veterans that could be improved by leveraging opportunities to cross-link from relevant content. We will begin by optimizing existing links. This issue will document these opportunities.

## User stories
- As a Veteran learning about services on VA.gov, I would like content referencing Vet Centers to link to the Facility Loc

[2020-11-11 23:26] digitalken commented on #13902
Pass 11/11/2020 - Accessibility failed for Android with keyboard, bug logged. Moving this story to Design QA.

[2020-11-11 23:33] digitalken commented on #14719
PASS 11/11/2020 - Able to see info now to verify this.

[2020-11-11 23:33] #14719 closed

[2020-11-11 23:38] digitalken commented on #14305
PASS 11/11/2020 - Android and iOS.  Moving to closed, no design to verify.  I understand there is going to be some new designs coming down the pipe soon as this current placeholder UI doesn't pass accessibility.

[2020-11-11 23:42] joanneesteban commented on #6463
Work is being done to track Platform tool usage. Closing this ticket.

[2020-11-11 23:42] #6463 closed

[2020-11-11 23:43] joanneesteban commented on #9065
Created an Analytics Customer Support Project Board. Closing this ticket.

[2020-11-11 23:43] #9065 closed

[2020-11-11 23:43] joanneesteban commented on #187
Discovery work done with alerting. Closing this ticket.

[2020-11-11 23:43] #187 closed

[2020-11-11 23:44] joanneesteban commented on #351
Analytics connections from outside data sources to BigQuery is started. Closing this ticket.

[2020-11-11 23:44] #351 closed

[2020-11-11 23:44] digitalken commented on #15988
Added to TestRail.

[2020-11-11 23:46] joanneesteban commented on #5973
Work has been done for VFS KPI tracking. Closing this ticket.

[2020-11-11 23:46] #5973 closed

[2020-11-11 23:47] joanneesteban commented on #4660
ATO work moved to Faith in Operations. Closing this ticket.

[2020-11-11 23:47] #4660 closed

[2020-11-11 23:47] joanneesteban commented on #5053
Medallia to be integrated with BigQuery. Closing this ticket.

[2020-11-11 23:47] #5053 closed

[2020-11-11 23:48] joanneesteban commented on #5003
Brian started documentation work for BigQuery. Closing this ticket.

[2020-11-11 23:48] #5003 closed

[2020-11-11 23:48] joanneesteban commented on #2184
Performance dashboard work with BE & Ops has begun (Datadog<>BigQuery). Closing this ticket.

[2020-11-11 23:48] #2184 closed

[2020-11-11 23:48] digitalken commented on #15995
Added to TestRail.

[2020-11-11 23:51] joanneesteban commented on #8023
See #8559

[2020-11-11 23:51] #8023 closed

[2020-11-11 23:53] joanneesteban commented on #13643
New iterations will have additional tickets opened. Closing this ticket.

[2020-11-11 23:53] #13643 closed

[2020-11-11 23:54] #11620 closed

[2020-11-11 23:54] joanneesteban commented on #11513
Thanks for the work on this! Closing this ticket.

[2020-11-11 23:54] #11513 closed

[2020-11-11 23:55] digitalken commented on #14163
Pass 11/11/2020 in TestRail on both iOS and Android.  Moving to Design QA.

[2020-11-11 23:55] joanneesteban commented on #11479
Thanks for your work on this, Amy! Closing this ticket.

[2020-11-11 23:55] #11479 closed

[2020-11-11 23:56] joanneesteban commented on #15389
Thanks, Ben, for your work on this! Closing this ticket.

[2020-11-11 23:56] #15389 closed

[2020-11-11 23:58] joanneesteban commented on #15390
Amy created a survey located [here](https://adhoc.optimalworkshop.com/questions/46e6630r). Closing this ticket.

[2020-11-11 23:58] #15390 closed

[2020-11-11 23:58] joanneesteban commented on #14834
https://docs.google.com/spreadsheets/d/1jyIxQAystapzDZ8gRkN4yBtruUsnRKvpjovLatHwgr4/edit#gid=0

[2020-11-11 23:58] #14834 closed

[2020-11-12 00:00] tlei123 commented on #14059
@leahkeeler , Test Cases are up on TR:
- Debt-details-with-Next-Step - [C824](https://dsvavsp.testrail.io/index.php?/cases/view/824)
- Debt-details-with-Alert (WIP) - [C820](https://dsvavsp.testrail.io/index.php?/cases/view/820)

@craigwheeler @camerontesterman , for Debt-details-with-Alert data-scenario, lets touch bases A.S.A.P.* to determine test-account 38 (Pauline) readiness.  I checked Stagi

[2020-11-12 00:00] digitalken commented on #14164
Pass 11/11/2020 - iOS and Android. Sending to Design QA.

[2020-11-12 00:01] #997 closed

[2020-11-12 01:09] tressaellen commented on #13926
Here is the [conversation guide](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/my-va/2.0-redesign/product/Research/MyVA-conversation-guide.md). It's not quite ready for review - but I'll ping here when it is.

[2020-11-12 01:11] mlighdc commented on #15019
I am still wondering if you need the first bullet @kristenmcconnell. It seems bullets #2 and #3 would cover it. I like the last two bullets because they are more veteran focus vs. the bullet #1.

[2020-11-12 02:20] bradl3yC commented on #14059
Her debt list is empty - user 1 has debt cards.  User 38 has debt download links

[2020-11-12 03:43] theodur opened #16071 "Missing section - /find-forms/about-form-va4107/index.html"
## Issue Description
There is a missing section in `/find-forms/about-form-va4107/index.html`.

## Example:
<img width="1609" alt="Screen Shot 2020-11-11 at 7 41 00 PM" src="https://user-images.githubusercontent.com/9042882/98892791-e5229100-2455-11eb-98d5-878d3f0e0416.png">

## Example File
`/find-forms/about-form-va4107/index.html`

## Tasks
- [ ] Figure out why the section is missing.
- [ ] Fix

[2020-11-12 03:55] theodur opened #16072 "Wrong href - /health-care/get-reimbursed-for-travel-pay/index.html"
## Issue Description
There `href` for a download link is incorrect in `/health-care/get-reimbursed-for-travel-pay/index.html`.

## Example:
<img width="1609" alt="Screen Shot 2020-11-11 at 7 54 07 PM" src="https://user-images.githubusercontent.com/9042882/98893630-ae4d7a80-2457-11eb-84d1-a92581da4144.png">

## Example File
`/health-care/get-reimbursed-for-travel-pay/index.html`

## Tasks
- [ ] Fig

[2020-11-12 04:01] theodur opened #16073 "Extra divs - /life-insurance/options-eligibility/vgli/index.html"
## Issue Description
There are extra `div`s in `/life-insurance/options-eligibility/vgli/index.html`.

## Example:
<img width="1609" alt="Screen Shot 2020-11-11 at 8 00 23 PM" src="https://user-images.githubusercontent.com/9042882/98893974-8dd1f000-2458-11eb-9c62-fe212884e9f5.png">

## Example File
`/life-insurance/options-eligibility/vgli/index.html`

## Tasks
- [ ] Figure out why there are extra

[2020-11-12 04:12] theodur opened #16074 "Wrongly ordered metatags - /outreach-and-events/events/.."
## Issue Description
There is a metatag that is out of order in `/outreach-and-events/events/pave-connect-employer-session-amazon-entry-level-and-hourly-jobs/index.html` and `/outreach-and-events/events/va-caregiver-support-program-expansion/index.html`.

The same issue is causing the discrepancy in both of these. Not that this should make a difference in the rendering since all the metatags are t

[2020-11-12 04:32] theodur opened #16075 "Wrong data-end - /outreach-and-events/events/vietnam-veterans-memorial-wall/index.html"
## Issue Description
There is a `data-end` attribute that has the wrong date in `/outreach-and-events/events/vietnam-veterans-memorial-wall/index.html`.

## Example:
<img width="1609" alt="Screen Shot 2020-11-11 at 8 30 00 PM" src="https://user-images.githubusercontent.com/9042882/98895960-cecc0380-245c-11eb-80fa-5fb6b3356023.png">

## Example File
`/outreach-and-events/events/vietnam-veterans-mem

[2020-11-12 06:07] SgardnerPMP opened #16076 "[DATA-LOAD] Load data for "VISN-21"- "TOP TASK" Detail Pages in CMS [Data Tech]"
## User Story or Problem Statement
As a Veteran Web user, I want immediate access to my TOP Tasks, so I can quickly access services most important to me on my health care journey.

## Goal
_Highlight TOP TASK pages with local and national information as required_

## Objectives or Key Results this is meant to further
- _Reduce Click through count by_Highlighting top tasks_

## Resources - Tools -

[2020-11-12 06:09] SgardnerPMP opened #16077 "[DATA-LOAD] Create Profiles for VISN 6 Systems Program Providers in CMS-"Staff Profile" [BA]"
## User Story or Problem Statement
As a Veteran Web user, I want to see the local providers/caregivers information in the health service programs, so I know who to contact to start my healthcare journey.

## Goal
_Highlight the Individual points of contact for each Health Service Program_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran trav

[2020-11-12 06:11] SgardnerPMP opened #16078 "[DATA-LOAD] Load data for "VISN-23"- "TOP TASK" Detail Pages in CMS [Data Tech]"
## User Story or Problem Statement
As a Veteran Web user, I want immediate access to my TOP Tasks, so I can quickly access services most important to me on my health care journey.

## Goal
_Highlight TOP TASK pages with local and national information as required_

## Objectives or Key Results this is meant to further
- _Reduce Click through count by_Highlighting top tasks_

## Resources - Tools -

[2020-11-12 06:12] SgardnerPMP opened #16079 "[DATA-LOAD] Load data for "VISN-23"(part 2)- "TOP TASK" Detail Pages in CMS [Data Tech]"
## User Story or Problem Statement
As a Veteran Web user, I want immediate access to my TOP Tasks, so I can quickly access services most important to me on my health care journey.

## Goal
_Highlight TOP TASK pages with local and national information as required_

## Objectives or Key Results this is meant to further
- _Reduce Click through count by_Highlighting top tasks_

## Resources - Tools -

[2020-11-12 06:14] SgardnerPMP opened #16080 "[DATA-LOAD] Load data for "VISN-2"- "TOP TASK" Detail Pages in CMS [Data Tech]"
## User Story or Problem Statement
As a Veteran Web user, I want immediate access to my TOP Tasks, so I can quickly access services most important to me on my health care journey.

## Goal
_Highlight TOP TASK pages with local and national information as required_

## Objectives or Key Results this is meant to further
- _Reduce Click through count by_Highlighting top tasks_

## Resources - Tools -

[2020-11-12 06:15] SgardnerPMP opened #16081 "[DATA-LOAD] Load data for "VISN-2"(part 2)- "TOP TASK" Detail Pages in CMS [Data Tech]"
## User Story or Problem Statement
As a Veteran Web user, I want immediate access to my TOP Tasks, so I can quickly access services most important to me on my health care journey.

## Goal
_Highlight TOP TASK pages with local and national information as required_

## Objectives or Key Results this is meant to further
- _Reduce Click through count by_Highlighting top tasks_

## Resources - Tools -

[2020-11-12 12:55] #12938 closed

[2020-11-12 13:05] sonntag-adam commented on #15720
Closing story

[2020-11-12 13:06] #15720 closed

[2020-11-12 13:22] ala-yna commented on #9226
Yes, that's correct @jenstrickland !

[2020-11-12 13:23] DanielleThierryUSDSVA opened #16082 "Review FSR intro page content"
## Issue Description
Danielle to review FSR intro page content and provide edits.

[2020-11-12 13:34] DanielleThierryUSDSVA commented on #16082
Hi @3obryandogs. Here are my edits/comments on the FSR intro page. Since you're working directly with the team, please of course work with them on anything that needs to change based on research, etc. And feel free to reach out with any questions.

FYSA @peggygannon @leahkeeler

[How to Complete Financial Status Report.pgedits_dt edits](https://app.zenhub.com/files/133843125/a07f24d6-719c-4098-840

[2020-11-12 13:51] RLHecht commented on #15958
These changes are all live on the site. Closing ticket. FYSA @brianalloyd

[2020-11-12 13:51] #15958 closed

[2020-11-12 13:52] #15901 closed

[2020-11-12 13:53] johnhashva commented on #15965
Marci -- a CTA is a Call to Action, typically a button link to an online tool or application at VA.gov.    In this case, it is the Green Button here:

![image](https://user-images.githubusercontent.com/63107147/98948547-92cc8900-24c4-11eb-844e-70a18a679456.png)

[2020-11-12 13:57] johnhashva commented on #12242
@ncksllvn can you confirm we can close this one?

[2020-11-12 14:03] leahkeeler opened #16083 "Staging Review BAM2 Debt Letters Iteration 2 <Draft>"
## Steps to complete Staging Review:

- [ ] Product Manager: create this issue and fill in feature name in the title and other bolded information appropriately
- [ ] Attach all artifacts before requesting the meeting
- [ ] Link to this issue once created in [#vfs-platform-support](https://dsva.slack.com/channels/vfs-platform-support) in Slack; tag @ Shira Goodman and @ Andrea Hewitt
- [ ] Shira to

[2020-11-12 14:05] MarciMcGuireGCIO commented on #14525
Moving from Public Websites to Decision Tools; changing assignees as appropriate.

[2020-11-12 14:05] jbritt1 commented on #15563
Working on how to summarize all the steps taken so far in a more elegant way, but in the meantime wanted to attach some of the earlier PR's for the initial config(s):

https://github.com/department-of-veterans-affairs/devops/pull/7272
https://github.com/department-of-veterans-affairs/devops/pull/7338
https://github.com/department-of-veterans-affairs/devops/pull/7650

[2020-11-12 14:06] DanielleThierryUSDSVA commented on #15641
Just connecting to this issue with the recommendations: https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/15961

[2020-11-12 14:09] jbalboni commented on #14110
@outerpress Yeah, it's basically the same calendar components for request and direct schedule, just different options when you expand a day.

[2020-11-12 14:12] MarciMcGuireGCIO commented on #14143
Adding decision tools team and find a form label.

[2020-11-12 14:14] MarciMcGuireGCIO commented on #14138
@ncksllvn , @brianalloyd can you confirm that this issue can be closed?  Thanks!

[2020-11-12 14:15] MarciMcGuireGCIO commented on #12535
Assigned to Decision Tools team and added dt-find-va-form label.

[2020-11-12 14:18] MarciMcGuireGCIO commented on #10754
Assigned to new Decision Tools team; removed Public Websites and PW engineers as assignees

[2020-11-12 14:20] MarciMcGuireGCIO commented on #15785
Assigning to new Decision Tools team; un-assigning from Public Websites

[2020-11-12 14:28] #16061 closed

[2020-11-12 14:39] Samara-Strauss commented on #15237
@bmcgrady-ep do you need help from a FE dev at this point?

[2020-11-12 14:42] MarciMcGuireGCIO commented on #14432
assigning to Decision Tools team; un-assigning from Public Websites

[2020-11-12 14:44] bridgethapner commented on #15912
Hi @esther-k - your suggested solve #2 sounds good here.

[2020-11-12 14:45] MarciMcGuireGCIO commented on #13819
Assigned to new Decision Tools team; un-assigned from Public Websites

[2020-11-12 14:46] mchelen-gov commented on #13324
@youngfreezyVA np! was wondering if any more info was found about how to edit / customize translation with translate widget?

[2020-11-12 14:46] shiragoodman commented on #14447
thanks @lianilychee ! yes, it can be closed.

[2020-11-12 14:46] Samara-Strauss commented on #15916
@sporeboy these look great! We can close this once you get a copy review from Peggy.

[2020-11-12 14:49] Samara-Strauss commented on #15722
@lihanli I can go ahead and create a build ticket. Is this accurate?

- Set up preferred storage on the backend
- Create an API for the VAOS team to pull in preferred facility

Is there anything else you need to do since we can already retrieve people's facilities from MPI?

[2020-11-12 14:52] Mottie commented on #16001
I've discussed this issue with Anna. We will switch over to show the already loaded profile data instead of relying on the form prefill for the address and phone number.

[2020-11-12 14:59] Mottie commented on #15994
The [Higher-Level Review form](https://www.vba.va.gov/pubs/forms/VBA-20-0996-ARE.pdf) shows a respondent burden of 15 minutes - see the top of page 3/4

<img width="207" alt="Screen Shot 2020-11-12 at 8 56 30 AM" src="https://user-images.githubusercontent.com/136959/98956036-328a1700-24c5-11eb-963a-f7f17526e4fd.png">

[2020-11-12 15:04] ncksllvn commented on #12242
Definitely in the sitemap!

![image](https://user-images.githubusercontent.com/1915775/98956836-81887a00-24ce-11eb-801b-ac32e3ad3698.png)

[2020-11-12 15:08] MarciMcGuireGCIO commented on #11453
Added discovery tag so that Zach and I can start researching what is required to complete these items.

[2020-11-12 15:10] #14989 closed

[2020-11-12 15:16] jbalboni opened #16084 "Address test flakiness caused by schema pattern we use"
We have a pattern in some pages where we use the initial, unprocessed schema to render SchemaForm before we actually update the Redux store with it. This appears to lead in some cases to RTL rendering a form and inputing form data before the Redux store is updated. I suspect this because in the full error log where this test failure occurs in Jenkins, there's an error where the schema we pulled fr

[2020-11-12 15:17] mdewey opened #16085 "[BE] Ensure the appointment data has Facility and clinic phone number."
## User Story
As Veteran,
I should be able to see the appropriate phone numbers
So that I can call the right people if I need help.

## Related Documentation
 - [MVP: Visit Intro Initiative (Proof of Concept)](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/initiatives/visit-intro.md)
 - [Mockup](https://app.zeplin.io/project/5f3

[2020-11-12 15:23] jenniferlee-dsva commented on #15650
Ohhhh :-)

Would creating the "ignore list" of words affect phrase matches?

Asking because we do want to bring back results that have phrase matches and rank/weight them as more relevant over results that just have single word matches.

(So for example if the word "for" is in the user's inputted phrase search "change of address" - would we lose the ability to bring back phrase matched results and

[2020-11-12 15:24] bmcgrady-ep commented on #15237
@Samara-Strauss - We will need a developer to make the changes to the dataLayer.

[2020-11-12 15:26] luke-gcio opened #16086 "[Development] 526/BDD: Increase Timeout/Retry Between Us and EVSS"
## Issue Description
It looks like EVSS can still be down longer than we thought so we have increased the retry count to allow for longer attempts.

## Tasks
- [ ] Increase timeout
---
## How to configure this issue
- [x] **Attached to a Milestone** (when will this be completed?)
- [x] **Attached to an Epic** (what body of work is this a part of?)
- [x] **Labeled with Team** (`product support`, `a

[2020-11-12 15:30] Samara-Strauss commented on #15237
@bmcgrady-ep OK, I will create a ticket for the data layer implementation.

[2020-11-12 15:30] KevinMHoffmanUSDS commented on #16054
Thanks, @jenstrickland !

[2020-11-12 15:37] mmiddaugh opened #16087 "Pins not displayed for locations outside the bounding box"
## What happened?
Map does not display pins for results outside the bounding box. Results list returns as usual. This was observed with Community provider search with closest results 220+ miles away. (These facility type searches are more likely to have locations beyond the initial search area).

<details>
<summary> Community provider search with no local results </summary>

![image (57).png](http

[2020-11-12 15:39] Samara-Strauss opened #16088 "[FE] Analytics data-layer implementation: Add error codes for address save failures to GA dashboard"
## Background

In #15237, we have been talking about adding the error codes for when addresses fail to save to the GA dashboard we use to track address validation. This should give us better insight into why we have seen so many failures in saving mailing/home addresses in the last couple of months. We suspect this is due to MPI issues, but this will help us to confirm.

In order to get this, we n

[2020-11-12 15:39] Samara-Strauss commented on #15237
FE implementation in #16088

[2020-11-12 15:49] dillo opened #16089 "POST Patient (Patient Service - PGD)"
## User Story
In order to interact successfully with the pre-visit questionnaire feature
As a Veteran
I want the backend team to retrieve create a Patient resource on the PGD

## Related Documentation
[Backend Architecture](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/engineering/MAP/diagrams/Clipboard%20Application%20Architecture.png

[2020-11-12 15:49] #15120 closed

[2020-11-12 15:49] #15791 closed

[2020-11-12 15:52] kristenmcconnell commented on #15019
I liked bullet #1, because it highlighted that these questions are coming from the VA provider, which gives an authority to the questions (the veteran can't just start a questionnaire any old time). That said, we made that point in multiple places on the page and you are correct...that question's wording is all about the patient. When I read the page without bullet #1, I believe that you are corre

[2020-11-12 15:54] RLHecht opened #16090 "Redirect Request"
### Instructions
- Requests for URL changes/redirects need to be submitted **AT LEAST** 2 weeks in advance.  Some changes/redirects take significant amount of time and coordination to implement, so start the process as soon as you know you will need one.
- This issue will be used from initial request through implementation of the redirect to ensure all individuals working on this are notified of s

[2020-11-12 15:56] johnhashva commented on #12242
Thanks @ncksllvn -- will close this ticket.

[2020-11-12 15:56] #12242 closed

[2020-11-12 16:04] laurenernest opened #16091 "Fetch CC providers from facilities api"
## Issue Description
Build the call to fetch community care providers from the facilities api

---

## Tasks
- [ ] Create fetch call to /v1/facilities/ccp
- [ ] Convert lat/long to bounding box using a chosen radius
- [ ] Map the VAOS type of care to a rollup code documented [here](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/appointments/va-online

[2020-11-12 16:10] mlighdc commented on #15019
I see what you are saying @kristenmcconnell. Do you think if would be worth it to reword it so it is more about the patient?

[2020-11-12 16:13] delli-gatti-michael commented on #15978
Local testing complete. Will need to validate submission in Production

[2020-11-12 16:13] erikphansen commented on #16088
Thanks for the `additional dev notes` in this ticket. It's always super helpful to know exactly what changes in functionality are needed.

**Question: can the value of `error-key` be any string or will GA only expect particular values?**

I do suspect, based on [the Grafana dashboard Anna shared (must be on the SOCKS proxy to view)](http://grafana.vfs.va.gov/d/zGS4XzkMk/backend-to-frontend-app-map

[2020-11-12 16:19] erikphansen commented on #16088
OMG I just saw the post in Slack showing we are still seeing a ton of these errors in GA. 😱 So maybe ignore my last paragraph above.

[2020-11-12 16:22] digitalken opened #16092 "Biometrics - Once user opts out via "Touch ID" switch in settings, they are never able to see the switch again to opt back in"
## What happened?
Once user turns the Touch ID switch off in settings, the switch disappears.  User isn't able to turn biometrics back on again because the switch is never visible after first turning it off.

I found that I was able to make the switch appear again after uninstalling / reinstalling the app.

## Specs:
- Device: Both iOS and Android

## Steps to Reproduce
- Install app and setup pho

[2020-11-12 16:28] laurenernest opened #16093 "[Design] CC provider selection when no address on file"
## Request
D/T/M specs for community care provider preference page that accounts for users coming through the flow who don't have a home address in their profile.

## Background
As part of the community care provider selection initiative, users who have a home address in their profile get the new provider list version of the preferences page, and users who don't have a home address in their profil

[2020-11-12 16:31] timwright12 opened #16094 "Clean up install and build warnings"
There are a fair amount of warnings, deprecations, and lintting issues in the install, build, and precommit processes. Some of them may not be reasonable, but we should fix whatever we can

[2020-11-12 16:32] #15328 closed

[2020-11-12 16:32] caw310 commented on #15328
Closing as this is a duplicate.

[2020-11-12 16:33] #15748 closed

[2020-11-12 16:33] #15705 closed

[2020-11-12 16:33] caw310 commented on #15705
Closing. Duplicate of #14822

[2020-11-12 16:37] zurbergram commented on #15854
## Zillow
https://www.zillow.com/research/data/
http://files.zillowstatic.com/research/public_v2/zori/Zip_ZORI_AllHomesPlusMultifamily_SSA.csv
https://www.zillow.com/research/methodology-zori-repeat-rent-27092/

Zillow Observed Rent Index (ZORI): A smoothed measure of the typical observed market rate rent across a given region. ZORI is a repeat-rent index that is weighted to the rental housing sto

[2020-11-12 16:48] johnhashva commented on #14474
@brianalloyd per this Slack thread, @srsuddath (with @denisecoveyduc FYSA) are going to noindex the following URL in the VA.gov sitemap -- http://va.gov/manage-va-debt/your-debt -- before we close this one.

<img width="476" alt="Screen Shot 2020-11-12 at 10 58 35 AM" src="https://user-images.githubusercontent.com/63107147/98969463-dc28d280-24dc-11eb-8e89-3017e53f147c.png">

[2020-11-12 16:49] johnhashva commented on #14474
@denisecoveyduc a good opportunity for Sam to become familiar with the VA.gov site map xml.

[2020-11-12 17:00] #15429 closed

[2020-11-12 17:00] #15412 closed

[2020-11-12 17:01] #15424 closed

[2020-11-12 17:01] #15427 closed

[2020-11-12 17:01] #15428 closed

[2020-11-12 17:01] #15414 closed

[2020-11-12 17:02] digitaldrk commented on #15802
UPDATE:
https://dsva.slack.com/archives/CBU0KDSB1/p1605200339015400

[2020-11-12 17:05] mmiddaugh opened #16095 "Move VA ccp controller to V1"
## Tasks
- [ ] Move the VA ccp mash-up controller to PPMS v1 client

## Acceptance Criteria
- [ ] Facility Locator uses v1 for all searches

[2020-11-12 17:09] 3obryandogs commented on #15769
This verifies that your FSR form has been submitted.  You can expect a response from DMC by mail within 45 days.

I don't see where this goes on the UXPin preview

[2020-11-12 17:12] 3obryandogs commented on #15768
Added a line to the top of the Bankruptcy page.

[2020-11-12 17:12] #15768 closed

[2020-11-12 17:14] erikphansen commented on #6268
Closing after merging in these 10 PRs

[PR 1 renamed the `vet360` folder to `vap-svc`](https://github.com/department-of-veterans-affairs/vets-website/pull/14798)
[PR 2 renamed the `vet360` Babel alias to `@@vap-svc`](https://github.com/department-of-veterans-affairs/vets-website/pull/14811)
[PR 3 renamed the `isVet360Configured` helper to `isVAProfileServiceConfigured`](https://github.com/departme

[2020-11-12 17:14] #6268 closed

[2020-11-12 17:16] erikphansen commented on #14932
Sorry about the noise I created hear by accidentally connecting my PR to this ticket.

[2020-11-12 17:17] 3obryandogs commented on #15703
Suggest content has been added to the FSR outline provided by Becca and Riley.

[2020-11-12 17:17] #15703 closed

[2020-11-12 17:18] jenniferlee-dsva commented on #16055
I'll leave granular comments within uxpin, and larger overall feedback here in GH.

[2020-11-12 17:18] Samara-Strauss commented on #13926
# Convo guide feedback

## Warm up questions

- I don't think we need to ask where they live because I don't think this will affect the results.
- People will probably not know what the "My VA" page is by name. You'd be better off by showing them the page and asking them if they've ever used it.
- To veterans, there is no difference between receiving benefits or health care (even though those are

[2020-11-12 17:19] #15416 closed

[2020-11-12 17:19] #15417 closed

[2020-11-12 17:20] LanceGundersen commented on #15794
@bsmartin-ep @jonwehausen pinging you folks to see about which tag to use for this. I have the code ready to go with exception of the analytics piece.

[2020-11-12 17:20] 3obryandogs commented on #15767
I added the suggestion content to Becca and Riley's FSR outline.

[2020-11-12 17:20] #15767 closed

[2020-11-12 17:21] 3obryandogs commented on #15766
I added suggested content to Becca and Riley's FSR outline.

[2020-11-12 17:21] #15766 closed

[2020-11-12 17:22] 3obryandogs commented on #15719
I added suggested content to Becca and Riley's FSR outline.

[2020-11-12 17:22] #15719 closed

[2020-11-12 17:22] 3obryandogs commented on #15659
I added suggested content to Becca and Riley's FSR outline.

[2020-11-12 17:22] #15659 closed

[2020-11-12 17:23] 3obryandogs commented on #15658
I added suggested content to Becca and Riley's FSR outline.

[2020-11-12 17:23] #15418 closed

[2020-11-12 17:23] 3obryandogs commented on #15657
I added suggested content to Becca and Riley's FSR outline.

[2020-11-12 17:24] kristenmcconnell commented on #15019
What about...
"- Share details about your health by answering questions sent to you by your VA provider"

@DanielleThierryUSDSVA @peggygannon - Any thoughts on rewording this bullet to address @mlighdc's comments above?

[2020-11-12 17:24] bradl3yC commented on #14059
@tlei123 here is a screenshot of the alert being triggered by diaryCode 608

![Screen Shot 2020-11-12 at 12.23.15 PM.png](https://images.zenhubusercontent.com/5450f83c7c6ccc6277a5c4b7/f7a0a612-0606-4484-9fea-ea805a0e8af7)

[2020-11-12 17:25] denisecoveyduc opened #16096 "Search.gov Audit"
@johnhashva started an audit of Search.gov to closely examine the queries that are being conducted.
@denisecoveyduc  will continue to explore the audit and expand on some of the details.

Audit Includes review of the following:

- Top search Queries
- Total # of queries for each search term
- Defining a category for those queries
- defining most popular query terms within those categories
- extrac

[2020-11-12 17:25] #15421 closed

[2020-11-12 17:28] #15415 closed

[2020-11-12 17:29] DanielleThierryUSDSVA commented on #15019
Hi @mlighdc @kristenmcconnell. I struggled w/ editing bullet 1 a bit. And I think we're actually okay dropping it. By answering the questions, you're telling your provider about the details.

[2020-11-12 17:30] #15419 closed

[2020-11-12 17:31] mnorthuis commented on #16090
These can be redirected when your team is ready.  I do not track doc redirects, so please make note if you need documentation outside of this issue.

[2020-11-12 17:31] kristenmcconnell commented on #15019
Ok. Let's drop bullet 1.

[2020-11-12 17:32] lihanli commented on #15722
also i need to create an api that lets users save their preferred facilities. once those 3 things are done then this feature should be complete on the backend.

[2020-11-12 17:35] mnorthuis commented on #3822
Reopening to review work and refresh...

[2020-11-12 17:37] lunascoop commented on #16090
Thanks @mnorthuis. @ncksllvn @kelsonic these redirects can be implemented.

[2020-11-12 17:37] peggygannon commented on #14976
My content review is complete. I've reviewed and provided feedback on the FSR form outline and sent to Susan 11/9.

[https://app.zenhub.com/files/133843125/7c3506ae-29d6-4dca-8c4b-be94c176f50d/download](https://app.zenhub.com/files/133843125/7c3506ae-29d6-4dca-8c4b-be94c176f50d/download)[https://app.zenhub.com/files/133843125/b3b3f51d-b2cf-4b01-9ff2-12d9045bda47/download](https://app.zenhub.com/fi

[2020-11-12 17:39] rebeccawalsh commented on #15657
This issue is a design ticket assigned to Riley and me. Reopening because it was closed in error.

[2020-11-12 17:40] jhouse-solvd opened #16097 "ATO - Information needed for all servers on VA.GOV"
## Issue Description
_TIME-SENSITIVE REQUEST - Information needed by Monday, November 16, 2020 regarding all of the servers on VA.GOV. Details needed for each instance are listed below:_

Hostname (Required)
IP Address (Required)
Operating System (Required)
Location (Required)
Environment (Required)
SNMP Community String (Required)
Application Type (Required)
SNOW Priority (Required)
Server (ADA)

[2020-11-12 17:41] rebeccawalsh commented on #15658
This is a design ticket that was closed in error.

[2020-11-12 17:43] jason-gcio commented on #15545
https://preview.uxpin.com/00985ac7bf2e8454786086efbf1c89de82d5cb3c#/pages/127904094/simulate/sitemap

[2020-11-12 17:43] jason-gcio commented on #15549
https://preview.uxpin.com/00985ac7bf2e8454786086efbf1c89de82d5cb3c#/pages/127904094/simulate/sitemap

[2020-11-12 17:48] amyknox commented on #15922
KPI noted on product outline: Number of ratings.

Other KPIs that address our work specifically may be helpful.

Thinking we'll want analytics to track
1. Using jumplink to view ratings (aggregate profile page activity)
2. Click accordion to open & view details about ratings (aggregate by category)
3. Scroll depth to scroll past "About ratings" content

[2020-11-12 17:49] mmiddaugh opened #16098 "V1 mashup bug"
## What happened?
There is a discrepancy in the number of search results returned for urgent care mash-ups done in the same location but with different service categories

<details>
<summary> VA urgent care returns 3 results </summary>

![image](https://user-images.githubusercontent.com/55411834/98975574-80a61700-24d3-11eb-964a-f7bfc1c15b79.png)

</details>

---
<details>
<summary> Community urgen

[2020-11-12 17:52] RLHecht commented on #15913
Redirect ticket #16090 is in progress. @ncksllvn let me know if you want to keep this ticket open to delete the old Github files or do it as part of the redirect ticket.

[2020-11-12 17:57] kfrz opened #16099 "Tools BE VFS Support - Sprint 39"
As you review PRs, please add this epic to the issue so the business has visibility into our time spent supporting VFS teams.

[2020-11-12 17:57] #15480 closed

[2020-11-12 17:58] joanneesteban commented on #3085
Was under the wrong VSP KR. Changing release

[2020-11-12 17:59] mlighdc commented on #11037
@abuckley3385 can you provide some context? I am thinking this is the list of clinicians and/or people you would like me to reach out to? Thanks.

[2020-11-12 17:59] #15479 closed

[2020-11-12 17:59] kfrz opened #16100 "Utility Developer Rotation - Sprint 39"
## Goal

The Backend Tools team utilizes a single resource each sprint to be the point person for a number of different things the entire team is responsible for.  This single resource will be responsible for items listed below and will have a lighter work load towards sprint objectives during the sprint in which they are assigned Utility Developer.

# Areas of Focus

## Triage Process
Monitoring

[2020-11-12 18:05] elder-joseph commented on #13827
`vets-website` PR: https://github.com/department-of-veterans-affairs/vets-website/pull/14941
`vets-api` PR: https://github.com/department-of-veterans-affairs/vets-api/pull/5278

[2020-11-12 18:15] meganhkelley opened #16101 "Discovery: parallelization of unit tests in mocha 8"
Discovery on mocha 8 parallelization options.

Questions to answer:
- What would it take to implement this?
- Might this decrease build times (if so, by how much?)
- Might this improve the pain point of flaky tests causing failing builds (if so, by how much?)
- How would this affect code coverage reporting? (see troubleshooting Eugene had done before)
- If we turn on parallelization and certain te

[2020-11-12 18:18] bradl3yC opened #16102 "Debt Letters - Remove Prod flag and route password from devops"
Remove the password protecting debt letters in prod / staging
Remove Debt letters from prod
Disable the e2e for debt letters as it runs against prod builds

[2020-11-12 18:19] kristenmcconnell commented on #15521
I was the form looking at something else and I saw that this page seemed to be updated. I reviewed it. It looks good, since I saw that the "start a new questionnaire" button is moving to another ticket.

[2020-11-12 18:19] ricetj commented on #15335
Product outline
[VAExternal-2152183501-121120-1317-38.pdf](https://github.com/department-of-veterans-affairs/va.gov-team/files/5532449/VAExternal-2152183501-121120-1317-38.pdf)

[2020-11-12 18:19] meganhkelley commented on #13604
Note 11/12 — content build repo has not been updated in a while; this needs to happen before this ticket can be completed.

[2020-11-12 18:20] peggygannon commented on #15161
Hi, @jonathanjnelson! a few followup questions on this:

--will the user get any error message if they click No to Primary Caregiver, but Yes to Secondary Caregiver?

--for the *what you can do* content, is the desired action that the user go back and select a *Primary* caregiver? or does it not matter---they can select either primary or secondary and be able to continue?

[2020-11-12 18:20] jenniferlee-dsva commented on #13037
@andaleliz - here is an example of the CMS edit fields that appear below the H1, intro text. The content fields above the global bottom layers are:

H1
Intro text limited rich wisywig up to 1,000 chars
(Optional) Alert
CTA button(s)
(Optional) Checklist section header
(Optional) Checklist section blurb text
Checklist item label (can have as many items as needed)
(Optional - Can include additional

[2020-11-12 18:23] Samara-Strauss commented on #16088
I believe it can be any string, but not 100% sure. @bmcgrady-ep can you give a definitive answer to Erik's question?

[2020-11-12 18:33] mnorthuis commented on #14474
@johnhashva We shouldn't have a noindex in the xml sitemap, that provides conflicting information to search engines - the xml sitemap tells them what to crawl and then says don't crawl.  We should remove this entry from the xml sitemap and resubmit the sitemap to google.  The temporary redirect will take care of any traffic that finds its way.

[2020-11-12 18:33] jenniferlee-dsva commented on #15797
It works! love it. Thank you @ncksllvn .

I tested the dynamicness by removing the "How we keep your personal information safe" optional header, and the question texts rendered as H2.

This helps us streamline and remove redundant/repetitive filler header content. Closing as validated.

[2020-11-12 18:33] #15797 closed

[2020-11-12 18:36] johnhashva commented on #14474
@denisecoveyduc let's prioritize this small task in today's grooming session.  Be a good small problem to solve right-away.  TY.

[2020-11-12 18:36] zacharymorel commented on #15384
Verified:
![Uploading Screen Shot 2020-11-12 at 1.35.01 PM.png…]()

[2020-11-12 18:38] jason-gcio opened #16103 "Document Findings on OGC Data from LH"
## Background
To be a VSO, you need to be in a the accreditation DB and the OGC manages that data source.  We need to know how performant that data is; EVSS has a cached copy of that probably.  Andrew Fichter (Program Lead at LH) could share with us their copy, where we could integrate with them.

## Considerations
- [Meeting notes](https://github.com/department-of-veterans-affairs/va.gov-team/blo

[2020-11-12 18:40] jonathanjnelson commented on #15161
@peggygannon

--will the user get any error message if they click No to Primary Caregiver, but Yes to Secondary Caregiver?

_No, the user will only get an error if they select no to both questions._

--for the what you can do content, is the desired action that the user go back and select a Primary caregiver? or does it not matter---they can select either primary or secondary and be able to contin

[2020-11-12 18:41] annaswims commented on #16086
complete

[2020-11-12 18:41] #16086 closed

[2020-11-12 18:42] abuckley3385 commented on #11037
@mlighdc this is just the ticket we have had on our board for months and in the blocked column.  You are already working on it and I just changed the owner from Lacey to yourself.

[2020-11-12 18:43] tressaellen commented on #13926
Thanks so much for this feedback! I'll start editing this, but just a couple initial thoughts for you.

I'd love your thoughts here - I'm trying to understand if they think the structure of the page is easy to use... Maybe something like "Do you think the healthcare section would be easy or hard to use?"

I'm worried about this too... I think we need to set up the intro better so that users know t

[2020-11-12 18:43] denisecoveyduc opened #16104 "[SD] Team Onboarding"

[2020-11-12 18:43] Samara-Strauss commented on #15722
Great! @lihanli I will create a ticket for that work and close this out.

[2020-11-12 18:44] johnhashva opened #16105 "Find a Form: Enforce URL when Form Name Changes"
## What is the Problem or Opportunity?

When Find a Form documents are added to the CMS, add a layer of technical governance where the raw file name is divorced from the URL (e.g., so that even when users upload updated files with things like “updated-sunday-october-11-2020-pdf” — the URL of that file stays evergreen and stable.)

For more details, see this thread:  https://dsva.slack.com/archives

[2020-11-12 18:48] jason-gcio opened #16106 "Investigate Diaries Web Service"
## Background
Eventually, we want to verify a Veteran's list of dependents and we can do this by checking in with them and updating a diary entry that will show that they do or do not need to be contacted.  Ultimately this will better clean the data at a granular level and reduce the amount of outstanding debt that  Veterans might carry.

## Considerations
- [Diaries Web Service](https://github.co

[2020-11-12 18:52] Samara-Strauss opened #16107 "[BE] Preferred medical facility: Backend build"
## Background

We need to allow people to indicate their preferred medical facility in the VA.gov profile so that the VAOS tool can consume this information for a better user experience.

Based on #15722, build needs to include the following:

- Set up preferred storage on the backend
- Create an API for the VAOS team to pull in preferred facility
- Create an api that lets users save their preferr

[2020-11-12 18:52] Samara-Strauss commented on #15722
Backend build is documented in #16107. Closing this!

[2020-11-12 18:52] #15722 closed

[2020-11-12 18:54] ksantiagomorgan6 commented on #15765
PR: https://github.com/department-of-veterans-affairs/gibct-data-service/pull/769

[2020-11-12 18:55] jhouse-solvd opened #16108 "VSP Operations Onboarding - Don Seymour"
# Ops Onboarding
## Overview
Welcome to the platform and more particularly the VSP Operations team.  This ticket is a checklist and guide to try and improve the onboarding process and get you up to speed.

If you have any questions/need access please reach out to TJ.

##  Checklist

### Access to what you need
- [ ] [Getting setup](https://github.com/department-of-veterans-affairs/va.gov-team/blob

[2020-11-12 18:56] bmcgrady-ep commented on #16088
@erikphansen @Samara-Strauss - Yes, Samara is correct, it can be any string. This is how the errors are currently coming into the error key for Direct Deposit errors:
![image](https://user-images.githubusercontent.com/66263904/98983505-1646a400-24de-11eb-94b9-62dfedec0ba7.png)

[2020-11-12 19:00] mdewey commented on #13418
Waiting for flaky tests to pass before merging

[2020-11-12 19:01] mdewey commented on #13732
<img width="1435" alt="Screen Shot 2020-11-12 at 2 01 04 PM" src="https://user-images.githubusercontent.com/1793923/98983948-827dd380-24ef-11eb-910e-2eea0ce8eca0.png">

Verified in staging

[2020-11-12 19:01] #13732 closed

[2020-11-12 19:02] bmcgrady-ep commented on #13102
@amyknox - Which view are you looking at the segments in? I am looking in the Education View and [this](https://analytics.google.com/analytics/web/#/report/conversions-goals-uri/a50123418w177519031p184334251/_u.date00=20200901&_u.date01=20201111&_.goalOption=14&_.useg=builtin1,userDMHO769BTESNeHi92VYkmA,usercd7wBgawSwiyECkOmRKpVg) is the result I get with the segments, which closely matches the nu

[2020-11-12 19:02] mdewey commented on #14988
In staging,

@abuckley3385  and @kristenmcconnell  this is ready for review.

[2020-11-12 19:04] mdewey commented on #15523
Moved the phone numbers to a new ticket. https://github.com/department-of-veterans-affairs/va.gov-team/issues/16039

[2020-11-12 19:05] mdewey commented on #15521
@abuckley3385 How does this look to you?

[2020-11-12 19:08] tlei123 commented on #16083
@leahkeeler fyi, I'm planning to have QA test-runs completed by end of tmrw (Fri 13th), so QA artifacts for Stg Rvw should be available for @pjhill around Mon 16th (around Noon ET).

[2020-11-12 19:14] Samara-Strauss commented on #13926
I think this is something that we'll be able to evaluate through questions like asking them to describe what they're looking at or find XYZ. If they're having trouble accurately describing what they're seeing, or if they can't find the thing you're asking them to find, you'll know the page/section is hard to use and confusing.

Sounds good to me. I do think clarifying this in the intro will help.

[2020-11-12 19:19] jonwehausen commented on #15794
Hi team,

Thanks for including me here, @bsmartin-ep with this being an [informational alert box](https://design.va.gov/components/alertboxes#informational-alert), let's use the event name of **`'nav-alert-box-link-click'`** and be sure we include some additional metadata:

[code]

@bsmartin-ep We can then adjust our GTM container to reflect this taxonomy...perhaps a nested lookup with `alert-box-

[2020-11-12 19:21] DanielleThierryUSDSVA opened #16110 "Add connected apps directory article to R&S"
## User Story

As a Veteran, I want to know what third-party apps I can connect to my VA profile to help me manage my health and benefits.

## Issue Description
The Lighthouse team has created a mockup and react widget for a connected apps article in R&S. This will use the "about" template (learning center detail page). Please refer to the [mockup in the intake request](https://app.zenhub.com/work

[2020-11-12 19:22] DanielleThierryUSDSVA commented on #16110
Hi @RLHecht @brianalloyd. Could you please work with the team to add this to R&S? Please reach out to @ricetj with any questions. Thanks!

[2020-11-12 19:22] jenniferlee-dsva commented on #16055
Overall feedback for the Oracle Service Cloud journey - https://preview.uxpin.com/559c1f8fc9b065402b80c5a8c26262c8371b1295#/pages/134076808/simulate/sitemap?mode=i

I left very granular comments on the tool. Overall this looks great, and I found it very easy to understand the way you organized and summarized the info!

[2020-11-12 19:23] zurbergram commented on #15854
## Federal Housing Finance Agency
https://www.fhfa.gov/
https://www.fhfa.gov/DataTools/Downloads/Pages/House-Price-Index-Datasets.aspx

### Pros
Government Data

### Cons
Index instead of dollar amount

### Price
Free

[2020-11-12 19:23] zurbergram commented on #15854
## Consumer Price Index
https://www.bls.gov/cpi/

### Pros
government data

### Cons
Index instead of dollar amount

### Price
Free

[2020-11-12 19:27] zurbergram commented on #15854
## WolframAlpha APIs

https://products.wolframalpha.com/api/

### Pros
Aggregates data, possibly in a easy to view addable piece to website

### Cons
Costs money
uses index instead of dollar amount
Unknowns
- couldn't test out the Summary Box feature
- Full Results API Explorer doesn't appear to return same information as going to https://www.wolframalpha.com/input/?i=cost+of+living+index+charlest

[2020-11-12 19:31] ncksllvn commented on #15860
Postmortem here - https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/public-websites/post-mortems/off-schedule-deployment-11-04-20.md

[2020-11-12 19:33] mdewey commented on #13418
Merged, waiting ro be deployed to staging

[2020-11-12 19:34] jperk51 opened #16111 "Access for Jayson Perkins"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Do not remove `operations` label; this will notify the VSP Operations team of your request
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.
   Cecilia Lee
- Please provide your

[2020-11-12 19:36] denisecoveyduc commented on #14452
11/12 - Grooming - Resizing as per Sam's initial review. Still working on setting up environments.

[2020-11-12 19:36] jbritt1 commented on #16111
For AWS Access:

User: Jayson Perkins
COR: Cecilia Lee
Approval required: @Jeff-Hayter

[2020-11-12 19:37] kfrz opened #16112 "[Discovery] Determine next steps for porting SLO monitors to DataDog"
## Background
We will work towards migrating the SLO report for external service performance into DataDog. This requires a bit of discovery as to what metrics we might not have, and how to build custom metrics for SLOs in the DataDog interface.

## Tasks
- [ ] Meet w/ ops and determine what metrics are available/not available
- [ ] Explore requirements for building a custom metric in DataDog

## A

[2020-11-12 19:40] erluti commented on #15899
Check to make sure if className matters for swagger doc rendering

[2020-11-12 19:44] abuckley3385 commented on #13277
decide if this should be an epic

[2020-11-12 19:45] abuckley3385 commented on #13146
need to determine where saving and how before we can point story

[2020-11-12 19:47] denisecoveyduc commented on #13494
@srsuddath  is reviewing this ticket and believes it will require some rework. It is considered a stretch goal for sprint 34.

[2020-11-12 19:59] denisecoveyduc commented on #14474
@srsuddath will review and strive to work on this in Sprint 34

[2020-11-12 20:01] amyknox commented on #13102
I don't know what was happening Tuesday.  My numbers look like yours today.  However... wanting to confirm this 1 more time:
Ineligible applicants = applicants who see this page: https://www.va.gov/education/other-va-education-benefits/stem-scholarship/apply-for-scholarship-form-22-10203/benefits/confirm-eligibility

I know it seems redundant to keep asking this but it is the make-or-break for the

[2020-11-12 20:08] leahkeeler opened #16113 "Why might I have this debt - Content"
![image.png](https://images.zenhubusercontent.com/5e41d853bb7b6d67d84e6080/86418aae-40ff-47ce-8381-76e57e8bccf4)

Create content to explain why a veteran has debt that is displayed in the cards

[2020-11-12 20:09] denisecoveyduc commented on #10489
@mgleo to read thru history as there are a few mentions of other drop downs that may be of interest in the future for type ahead enhancements. @andaleliz can clarify any questions. For now closing this design + UX Epic

[2020-11-12 20:09] #10489 closed

[2020-11-12 20:10] abuckley3385 commented on #16085
Facility (backup) vs Map (priority) for where getting this data. @stephenBarrs will research

[2020-11-12 20:12] ncksllvn commented on #13494
To add - I don't know if we documented it or not, but I recall a convo between me, @johnhashva, @jonwehausen, and @bsmartin-ep where we decided that the current typeahead behavior should be changed so that after clicking a suggestion, the input is submitted automatically. This way, the user doesn't have to press a suggestion, observe it in the input box, then press enter/click submit - all they ha

[2020-11-12 20:13] caw310 opened #16114 "Audit of existing documentation compared to the Storybook docs"
## Issue Description
Audit of existing documentation compared to the Storybook docs

---
## Tasks
- [ ] Do a comparison of the documentation that currently exists to what is on Storybook.

## Acceptance Criteria
- [ ] List showing where document is in both and where there are discrepancies.
---

[2020-11-12 20:13] ncksllvn commented on #13494
@johnhashva can you confirm the above? If that is a change we need to make, should it be done as part of this ticket (additional acceptance criteria) or in a separate one? Apologies if there already is one and I'm just creating needless confusion 🙂

[2020-11-12 20:13] alexpappasoddball opened #16115 "Create Documentation On Environments"
Per the discussion [here](https://dsva.slack.com/archives/CQHBJ5U06/p1605207983418300).

## Description
In order to provide clarity to developers and other users of the platform we need to create documentation that describe the differences between all the different environments available on the platform.  This will help ensure teams developing on the platform have up to date information to assist

[2020-11-12 20:14] ncksllvn commented on #16090
Great job capturing these redirects @RLHecht @lunascoop

[2020-11-12 20:16] alexpappasoddball commented on #16115
@erluti Lets further discuss this moving into Sprint 40.  And what did I miss?  What other questions do we need to ask.  Anyone should be able to look at these descriptions and understand what, and whom for, those are for.  Feel free to update as you see fit.
@gmaciolek Anything I missed?  Have any thoughts where we should store this for the first iteration?
@drorva just for visibility!

[2020-11-12 20:18] caw310 opened #16116 "Update documentation in Storybook that doesn't match Gatsby and design.va.gov"
## Issue Description
Reconcile the differences between existing documentation in Gatsby & Design.va.gov with documentation in Storybook

---
## Tasks
- [ ] Update documentation in Storybook to ensure all components have complete information and is the same as what is on Gatsby & design.va.gov

## Acceptance Criteria
- [ ] Discrepancies with documentation identified during audit are addressed.
- [

[2020-11-12 20:18] peggygannon commented on #15161
Hi, @jonathanjnelson Here's recommended messaging. We have a similar message in the 526 about adding a disability, so I followed that pattern!

**We need you to add a Family Caregiver**
We can’t process your application unless you add at least 1 Family Caregiver. Please go back and add either a Primary or Secondary Family Caregiver to your application.

[2020-11-12 20:22] caw310 opened #16117 "Create a workflow for designers updating component documentation Storybook"
## Issue Description
Create a workflow for designers updating component documentation Storybook

---
## Tasks
- [ ] Discovery of how designers would or should update documentation in Storybook
- [ ] Document describing the process to update component documentation in Storybook

## Acceptance Criteria
- [ ] Document describing the steps for designers to update documentation in Storybook

[2020-11-12 20:22] bsmartin-ep commented on #15834
@laurenernest -

It looks like this link already has a unique URL (compared to the footer version):

`/find-locations/?facilityType=cc_provider`

This is being re-written by our PII filters in GA.  If we look at the rewritten URL and filter on a `Previous Page Path`, we get:

https://analytics.google.com/analytics/web/#/report/content-pages/a50123418w177519031p176188361/_u.date00=20200901&_u.date0

[2020-11-12 20:23] denisecoveyduc commented on #13343
@srsuddath  Please talk to @ncksllvn to ensure that any must do items have been addressed before POC goes live.

[2020-11-12 20:25] lihanli commented on #15810
i created this issue for fixing the problem: https://github.com/department-of-veterans-affairs/va.gov-team/issues/15971

the problem was that when a user does not have any data in va profile yet, we made a separate request for each field we want look up, so when we try to fetch a user's email, addresses, phone numbers, etc we will make 10 requests that will all return not found.

after my fix is m

[2020-11-12 20:25] ncksllvn commented on #13884
[Per this message](https://dsva.slack.com/archives/C01512KN35G/p1604946928149800), I think this is the key resource - https://vfs.atlassian.net/wiki/spaces/VP/pages/637567205/Transformers+Development+Guide. We were also assigned this ticket as an intro ticket, https://github.com/department-of-veterans-affairs/va.gov-team/issues/15969.

[2020-11-12 20:26] MarciMcGuireGCIO commented on #8892
@CrystabelReiter @emilywaggoner Since there appears to be no feedback, can this issue be closed?

[2020-11-12 20:26] johnhashva commented on #13494
Confirmed @ncksllvn  -- and I should have ticketed this.  @srsuddath and I just chatted about this and we will make sure to include this as part of our POC release.  Thanks!

[2020-11-12 20:30] timwright12 commented on #13211
Adding the PR for good measure https://github.com/department-of-veterans-affairs/vets-website/pull/13982/

[2020-11-12 20:32] jenniferlee-dsva commented on #16055
Hi @andaleliz - for the contact center content teams' journey map, I left comments in the tool. Please also be sure to look at the comments on the overview page as well.

In general looks good, with those areas I noted for clarifying. For me, the most important update for this journey map would be calling out that that journey is for internal content, and that we interviewed these teams with one a

[2020-11-12 20:36] caw310 opened #16118 "Add a Link in the Gatsby documentation site’s “Visual Design” section to Storybook documentation"
## Issue Description
Add a Link in the Gatsby documentation site’s “Visual Design” section to Storybook documentation

---
## Tasks
- [ ] Display message to go to Storybook before we replace the link completely
- [ ] Add a Link in the Gatsby documentation site’s “Visual Design” section to Storybook documentation

## Acceptance Criteria
- [ ] Message is displayed
- [ ] Link on the page goes to Stor

[2020-11-12 20:39] jenniferlee-dsva commented on #15066
Referencing related Analytics team ticket: https://github.com/department-of-veterans-affairs/va.gov-team/issues/15196

[2020-11-12 20:40] #14800 closed

[2020-11-12 20:41] caw310 opened #16119 "Add a link from design.va.gov/components to Storybook"
## Issue Description
Add a link from design.va.gov/components to Storybook

---
## Tasks
- [ ] Display message to go to Storybook before we replace the link completely
 - [ ] Add a Link on the component page design.va.gov to to Storybook documentation

## Acceptance Criteria
- [ ] Message is displayed
- [ ] Link on the page goes to Storybook
---

[2020-11-12 20:44] caw310 opened #16120 "Remove the links and message to Storybook and redirect to Storybook documentation"
## Issue Description
About 1 month after Storybook is live, remove the links and message to Storybook and redirect to Storybook documentation.
---
## Tasks
- [ ] remove the links and message to Storybook
- [ ] redirect to Storybook documentation

## Acceptance Criteria
- [ ] message is no longer visible on gatsby and design.va.gov
- [ ] Links for components go to Storybook
---

[2020-11-12 20:45] meganhkelley commented on #16101
@timwright12 some info from Rian:

Rian Fowler (he/him)  2:47 PM
when i profiled this  a couple of years ago, most of the execution time was spent on babel- the unit tests themselves were pretty fast. parallelizing with jest for example didn’t really net us anything because each runner had to do the babel work. i don’t know how mocha handles parallelization- by default I think it does the transpil

[2020-11-12 20:46] bmcgrady-ep commented on #13102
@amyknox - Yep! This is the page that I have filtered out on the segment - `/education/other-va-education-benefits/stem-scholarship/apply-for-scholarship-form-22-10203/benefits/confirm-eligibility`.

[2020-11-12 20:46] jenniferlee-dsva commented on #10953
Most steps completed **but still pending:**

1. Analytics implementation
2. Submitting RS for indexing
3. Linking to RS from footer

[2020-11-12 20:46] mmiddaugh opened #16121 "Prep for Staging review: Accessibility checks for map enhancements"
## Issue Description
 There are a number of items we need to complete before we can request the staging review of the map enhancement changes.

## Tasks
- [ ] Document existence of axe scans included in end-to-end (e2e) tests
- [ ] Document the existence of any keyboard end-to-end tests (this will be a future requirement)

Conduct the following accessibility checks

- [ ] Axe scans
- [ ] Axe-cocon

[2020-11-12 20:49] brianalloyd commented on #15066
@jenniferlee-dsva validating now, this has been on my radar for a few days but haven't received any feedback.  I'll follow up shortly.

[2020-11-12 20:49] caw310 opened #16122 "Put VA Banner on the component document Storybook link"
## Issue Description
Put a VA banner on the component document Storybook link so that users know that they are looking at VSP design system.

---
## Tasks
- [ ] Put VA Banner on the component document Storybook link

## Acceptance Criteria
- [ ] When I go to the component page on design.va.gov, I see a VA banner
---

[2020-11-12 20:52] mmiddaugh opened #16123 "Prep for staging review: Release plan for map enhancements"
## Issue Description
The release plan document must be completed before the staging review of the map enhancement project

---
## Tasks
- [ ] Complete Release plan with the "Planning" sections completed (in each section: Phase I, Phase II, Go Live)

## Acceptance Criteria
- [ ] Planning sections of release plan are complete
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when

[2020-11-12 20:52] RLHecht commented on #16110
Thanks, @DanielleThierryUSDSVA I'll take a look at this.

[2020-11-12 20:54] brianalloyd commented on #15196
@jonwehausen checking up on this ticket.  Do you need anything else from our team in support this request?  Appreciate it.

[2020-11-12 20:54] mmiddaugh opened #16124 "Prep for staging review: Test plan for map enhancements"
## Issue Description
The QA test plan in TestRail with and test results must be available for the Staging review

---
## Tasks
- [ ] Create QA test plan
- [ ] Run tests and record results in Test Rail

---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to an Epic** (what body of work is this a part of?)
- [ ] **Labeled with Team** (

[2020-11-12 20:55] denisecoveyduc commented on #14143
@MarciMcGuireGCIO John and I were just discussing this one and he said there were no implications for your team on this ticket. So I removed the decision tools label.

[2020-11-12 20:58] digitalken opened #16125 "Contact VA page accessibility issues - page description and bluetooth keyboard (tab, up/down/left/right arrows)"
## What happened?
Page Description with TalkBack (Android:  "Contact 'vuh' screen".
Should hear "V" "A" rather than "vuh".

---------
The following is transferred to bug #17008:
[Tab on the keyboard only goes to buttons.  Should it be this way?  It goes from Back, to Crisis line, to first phone number, to second phone number, then through the nav bar buttons. Then it is 7 or 8 tabs to start again

[2020-11-12 20:58] U-DON commented on #16101
My experience when I briefly tested Mocha's parallelization is that it didn't really change the run time locally, but it cut the time in half for tests in CI (saving a few minutes).

[2020-11-12 21:01] msmanak commented on #15905
![Error-State-Direct-Deposit.png](https://images.zenhubusercontent.com/5faabf11b099434179a66d66/140cb4bd-1e49-4fbc-a3dc-23ec4e5c826e)

Draft for @bridgethapner review

Text:
(header) "We couldn't update your bank information"
(body) "We couldn't find a bank linked to this routing number. Please check your bank's 9-digit routing number and enter again."

[2020-11-12 21:01] MarciMcGuireGCIO commented on #14143
ok, thank you!

On Thu, Nov 12, 2020 at 3:55 PM Denise Coveyduc <notifications@github.com>
wrote:

[2020-11-12 21:06] digitalken commented on #14015
Ran tests in TestRail. Failed accessibility with Android. Wrote bug. Moving this to Design QA.

[2020-11-12 21:10] Samara-Strauss commented on #15810
Awesome, thank you for uncovering the problem!

Just want to make sure — there's no downside to not making these request as readily, correct? This won't prevent people from adding or editing info in their profile, right? If there's no risk, then we can move forward with this and I'll close out this ticket in favor of the fix in #15971.

[2020-11-12 21:13] denisecoveyduc opened #16126 "[SD] Data Analysis + Audit"
## Issue Description
_Collect, analyze and gathering insights from available data sources to better understand how veterans are searching on VA.gov as well as offsite (Google, Bing, etc. )_

## Known Data Sources to explore:
- Search.gov [#15674](https://github.com/department-of-veterans-affairs/va.gov-team/issues/15674)
- Google Analytics
- Google Search Console
- Bing Search Console
- Help Desk

[2020-11-12 21:13] MarciMcGuireGCIO opened #16127 "Add Pension and Survivor related links to “Frequently used VA forms”"
## Issue Description
_Explore the possibility of updating  in the “Frequently used VA forms” section found on VA Forms website to include the Pension and Survivor related benefit links_

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Atta

[2020-11-12 21:16] amyknox commented on #13102
That's the page you filtered out on the "**Eligible 10203 Submissions**" segment?

[2020-11-12 21:19] lihanli commented on #15810
this won't prevent people from editing their profile, once they update their profile the saved "user not found" information will be deleted

[2020-11-12 21:23] bmcgrady-ep commented on #13102
No, that's the page that I am filtering for ineligible 10203 submissions - a user who lands on that page and submits the 10203 form would be an ineligible submission.

[2020-11-12 21:25] jonathanjnelson commented on #15161
Thank you @peggygannon! I appreciate it.

[2020-11-12 21:28] msmanak commented on #15982
@bridgethapner

"You do not have any appointments for these dates." Would this be considered a header or body for this story?

I can see it go both ways. Do we have the ability to make it date specific or a general idea?

[2020-11-12 21:34] amyknox commented on #13102
Whew! I was using "filtering" in a different way.  Glad we're on the same page.  I think we're all good and... can CLOSE THIS STORY!!

Thank you so much for working through this.

[2020-11-12 21:38] jonwehausen commented on #15196
Hi @brianalloyd ,

Thanks for checking in here, very much appreciated.

I wanted to re-surface our Slack conversation here for context: https://dsva.slack.com/archives/C52CL1PKQ/p1604439488366600

Next steps are for us to have your FE team members implement the data layer as designed here: https://github.com/department-of-veterans-affairs/va.gov-team/issues/15196#issuecomment-721089451. We thank y

[2020-11-12 21:42] denisecoveyduc opened #16128 "[SD] SEO + OffSite Enhancements"
## Issue Description
Identifying ways to improve offsite search experience for veterans by improving search engine experience and optimizing for common VA search terms and needs. This includes improving search experience from Google, Bing etc.

## Background/Context/Resources

- [SEO Best Practices](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/information-arch

[2020-11-12 21:47] amyknox commented on #15717
Joe - this is great! As I was reading, each time I had a "what if" question, I read a little further and you had the answer right there.  Very helpful!

You'd mentioned you were going to play around a bit with the API to see what it can do.  If you're able to pull the scores into a profile page on the comparison tool, I'd definitely be interested in checking that out. As you're testing, I think it

[2020-11-12 21:48] jenniferlee-dsva commented on #16127
All - I already replied directly via email to this stakeholder's request. We are not going to be adding Pension to the Frequently used VA forms" cards. Pension app is not as frequently used as Disability, Health Care, and Education.

[2020-11-12 21:49] jenniferlee-dsva commented on #16127
Pasting email to Daniel:

[2020-11-12 21:51] MarciMcGuireGCIO commented on #16127
Based on above, I'm gagging this wontfix & closing

[2020-11-12 21:51] #16127 closed

[2020-11-12 21:54] kevinmirc opened #16129 "Remove CARMA::Models::Base for more explicit hard-coded #to_request_payload methods"
**Description**
Retire `CARMA::Models::Base` in favor of a more explicit, hard-coded, `#to_request_payload` on each inheriting model.

[2020-11-12 21:58] kevinmirc opened #16130 "Add mocks for Metadata in CARMA::Models::Submission spec"
**Description**
Mock calls to `Metadata` in `spec/lib/carma/models/submission_spec.rb` to avoid double testing `Metadata` and causing unit tests for `Submission` to execute `Metadata` source code.

[2020-11-12 21:58] bkjohnson commented on #15426
I'm pausing work on writing a story for this particular component. Getting the styling just right is challenging, and @cvalarida and I are going to explore the possibility of moving this out of the component library and into `vets-website`.

[2020-11-12 22:00] cvalarida opened #16131 "Write stories for EmergencyBanner"

[2020-11-12 22:03] jonwehausen commented on #13494
Thanks for resurfacing that conversation and feature of the typeahead functionality @ncksllvn! You're certainly correct that change would help eliminate edge cases in collection & interpretation of the search data as well.

Just an fyi here as well @denisecoveyduc @srsuddath @ncksllvn & @johnhashva -- we made small a tweak to the [specification above ](https://github.com/department-of-veterans-aff

[2020-11-12 22:03] bmcgrady-ep commented on #13102
Happy to help! Feel free to reopen if you have any more questions!

[2020-11-12 22:03] #16131 closed

[2020-11-12 22:03] cvalarida commented on #16131
Ah! I did already write this ticket. It's just already done. :see_no_evil:

[2020-11-12 22:15] brianalloyd commented on #15196
Thanks @jonwehausen sounds good, thank you.

[2020-11-12 22:17] jonwehausen commented on #15335
Hi @ricetj ,

Following our conversation today, here is the data layer specification we would like to propose to track some of the key interactions you identified:

### Data Layer / Items to track
- @brianalloyd As for the items you drafted within the issue, here is the data layer specification we are proposing to track and measure the areas of content you have identified, we will want to connect

[2020-11-12 22:32] tressaellen commented on #13926
Okay, i've updated everything if you want to take another look.

We are adding a title in the prototype to this section called 'Claims updates' - it's still an updates section, it's just specific to claims or healthcare.

I changed the guide to include this at the beginning as part of the overview, let me know if you think that is a bad idea at all.

[2020-11-12 22:38] jonwehausen commented on #15335
@ricetj The data layer spec above should be good to go upon your FE's return -- Many of the items above mirror those identified [here](https://github.com/department-of-veterans-affairs/va.gov-team/issues/15196#issuecomment-721089451), I've left off the search tracking as I'll need to coordinate which development team that tracking should be allocated to.

[2020-11-12 22:39] jonwehausen commented on #15335
Last point here @ricetj -- Per our conversation today around the additionalInfo components executing API calls, let me know if there is another layer of API error tracking you all would like to implement here apart from the `expand|collapse` interaction tracking

[2020-11-12 22:43] laurenernest commented on #15834
@bsmartin-ep Thanks for the filter for tracking facility locator selection! Glad we can already see that.

[2020-11-12 22:48] jonwehausen commented on #15196
Thank you @brianalloyd , please don't hesitate to ask any further questions you may have

[2020-11-12 22:54] andaleliz commented on #11490
@rtwell and @jenstrickland I have [a new concept](https://preview.uxpin.com/716fd9c0d105393853b9655f4edd35f11dbca438#/pages/134194336/documentation/no-panels?mode=i) I'd like to get your feedback on. (FYI Jennifer, this does include changes to the desktop version as well - got the OK from Ryan to explore that.)

I included my reasoning behind the choices I made in the documentation on the prototyp

[2020-11-12 22:54] jonwehausen commented on #15335
@bsmartin-ep Many of the items you staged in your workspace here https://tagmanager.google.com/#/container/accounts/144676348/containers/2214120/workspaces/1000382 should also cover us here...

Your JS config should be able to operate here as well and will QA when ready.

[2020-11-12 22:55] esther-k opened #16132 "Unfix Veterans Crisis Line Button"
_NOTE: This is in intended to resolve tickets(bugs) #15912 and #15540_

## Acceptance Criteria

1.  Unfix the Veterans Crisis Line banner/button so that it is part of the page scrolling

[2020-11-12 22:56] DanielleThierryUSDSVA commented on #13324
hi @mchelen-gov. as we've been looking into the options more, we're thinking we should move away from the widget in general. one reason is that we want to have the spanish page have a unique url so it's findable via search. this will help us gather analytics to inform next steps.

i think we can go ahead and close this ticket now.

Here are a couple of tickets with @youngfreezyVA's work with toggl

[2020-11-12 23:00] joanneesteban opened #16133 "Onboard Jason onto VSP Analytics & Insights"
## User Story or Problem Statement
As a new VSP member, I need to be onboarded so that I can understand my role within VSP and my team.

## Goal
Onboard Jason onto VSP and VSP Analytics & Insights.

## Acceptance Criteria
Joanne
- [x] Analytics Intro Meeting (team charter)
- [x] Add to Stand Ups, Retros, Planning, and Grooming
- [x] Add to VSP Demo
- [x] Share [VSP PTO calendar](https://dsva.slack

[2020-11-12 23:05] tskinn commented on #15634
@jbritt1 can correct me if I'm wrong but we couldn't connect to some review instances for two reason:
- review instances didn't have the proper IAM access to allow SSM sessions
- the process of copying github users public ssh keys to review instances was getting throttled or erroring and silently destroying the entire authorized_keys file basically so no one could access them.

We have removed the

[2020-11-12 23:05] #15634 closed

[2020-11-12 23:06] digitalken commented on #16060
PASS 11/12/2020 - Difference in font size between top of screen text and note text.

[2020-11-12 23:06] #16060 closed

[2020-11-12 23:50] DanielleThierryUSDSVA commented on #13274
@1Copenut @youngfreezyVA Notes from our conversation today are here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/content/spanish-translation/coronavirus-mvp/accessibility-considerations.md. Feel free to add anything I may have missed. And thank you both for joining!

[2020-11-12 23:56] digitalken commented on #13890
Tested in TestRail. Moving to Design QA.

[2020-11-13 00:02] digitalken commented on #15200
Tested in TestRail. Passed, User is able to edit contact information (just not saved yet due to backend). Hint text is present for null fields.

[2020-11-13 00:21] bsmartin-ep commented on #15678
@narin -

We can approach this one of two ways....

1. Add events on the initial button click (or maybe even the API calls) and DIFF those with the loading of the next page.  This would have to be visualized in DOMO via BigQuery.

2. Add an event along the lines of:

[code]

...when the LoadingIndicator is hidden.

[2020-11-13 00:29] bsmartin-ep commented on #15237
@bmcgrady-ep -

Looks like the`profile-edit-failure` tag in GTM is already passing in `error-key` so you should be OK.  I would just double check the developers clear out  `error-key` dataLayer param after they send in the event so it doesn't stick to any other events.

![image](https://user-images.githubusercontent.com/62304138/99012800-1ade7d00-251d-11eb-9b2f-e76595e0daf0.png)

[2020-11-13 00:47] kathleencrawford commented on #15849
PR submitted here: https://github.com/department-of-veterans-affairs/vets-api/pull/5231

[2020-11-13 00:57] laurenernest commented on #15652
@outerpress I updated the description of the ticket with the different state specs we're tracking, including the new one for the Missing Address.

For missing address, it's for the user that doesn't have a residence address in their profile. This is the warning they see earlier in the flow.
![missing address alert.png](https://images.zenhubusercontent.com/5f7dd2dad6b9a9301bbab94e/11f46c66-0bee-4ab

[2020-11-13 00:59] bsmartin-ep commented on #15834
@laurenernest -

Can you elaborate on this one?

[2020-11-13 01:03] esther-k opened #16134 "Edit direct deposit info page - Incorrect page title"
## What Happened?
The page title for the edit direct deposit information page is written as "EditDirectDeposit" instead of "Direct deposit"

## Specs:
- Android
- User: marcy.nadeau@va.gov

Note: Can not verify on iOS since it has not been updated to the latest build - 11/12

## Steps to Reproduce
- View the page title for the edit direct deposit information page

## Desired Behavior
-  The page t

[2020-11-13 01:05] tlei123 opened #16135 "VSA-BaM2 - Debt Letters - E2E-test reporting to TestRail"
## High Level User Story
As a QA Tester, I need to post Cypress E2E test-results to TestRail for VSA-BaM2's Debt Letters product.

## Background

VSP-QA has added [cypress-testrail-reporter](https://github.com/Vivify-Ideas/cypress-testrail-reporter) Node-module into vets-website repo to support local Cypress test-reporting into TestRail (test case management system).  For details, see [PR #14821](

[2020-11-13 01:30] #13352 closed

[2020-11-13 02:04] outerpress commented on #15652
@laurenernest - that's interesting. If the address is missing are we expecting to let them enter a provider some other way, or removing the provider selection question?

Separately, [here's the new version of the prototype](https://adhoc.invisionapp.com/share/BFZED2H362S#/437633293_VAOS-CC-MVP-01). Changes:
* Made the provider question optional, and removed the "I don't know" question
* Added a "C

[2020-11-13 03:51] jhouse-solvd commented on #14185
Please see living inventory in description body. Closing.

[2020-11-13 03:51] #14185 closed

[2020-11-13 04:17] jhouse-solvd opened #16136 "Product Outline - Centralized Logging"
## Issue Description
The VSP Operations team needs to deliver an updated product outline for the new logging solution using Loki. This will help to ensure that we've properly captured the target personas, proposed benefits, and how to measure success of delivering this product to customers and stakeholders of the Veteran Services Platform.

---
## Tasks
- [X] Use the [product outline template](htt

[2020-11-13 04:33] jhouse-solvd opened #16137 "Container Orchestration for hosting/deploying infrastructure services (EKS)"
## Product Outline
[Link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/product-management/product-outline-template.md)

## High Level User Story/ies
As a Platform Engineer, I need infrastructure to deploy services and applications.
As a Platform Engineer, I need infrastructure that is scalable.
As a Platform Engineer, I need infrastructure nodes for hosting co

[2020-11-13 04:49] jhouse-solvd commented on #5677
@drorva & @f1337 - found this ticket which speaks to us wanting to clarify documentation around review instances. Moving this forward into our current sprint for me to at least refresh and harvest anything that can be used in our current efforts.

[2020-11-13 04:51] jhouse-solvd commented on #8653
Please see I[nfrastructure Recommit - Migrate 50% of Services to new infrastructure ](https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/14065) for the most recent incarnation of this effort.

[2020-11-13 04:51] #8653 closed

[2020-11-13 05:05] jhouse-solvd opened #16138 "Onboarding - Shadow on-call support rotation to gain familiarity with processes and systems"
## Issue Description
_As a new member of the VSP operations team, I need to observe other on-call support personnel so that I understand what's involved with a typical on-call rotation. _

---
## Tasks
- [x] _Shadow one or more of our on-call support personnel to gain familiarity with the typical workflow and processes_
- [x] _Take note of any major questions that you may have regarding support ro

[2020-11-13 05:06] jhouse-solvd opened #16139 "Onboarding - Shadow Grafana upgrade to gain familiarity with processes and systems"
## Issue Description
As a new member to the team, it would be great to follow along with another team mate while they upgrade an important piece of our infrastructure tooling.

---
## Tasks
- [x] _Follow along w/ Bill as he upgrades Grafana to gain some insight into that process_

---
## How to configure this issue
- [x] **Labeled with Team** (`product support`, `analytics-insights`, `operations`,

[2020-11-13 05:12] jhouse-solvd opened #16140 "Document revproxy to determine what needs to be done to move it to new infrastructure (EKS)"
## Issue Description
_Ensure that we've fully documented current architecture / configuration of revproxy to ensure that we can move it to the new infrastructure with minimal impact to the platform._

---
## Tasks
- [x] _Written documentation that clearly explains revproxy's configuration and setup in sufficient detail_
- [x] _Supporting architecture / configuration diagram_

[WIP DOC HERE
](https

[2020-11-13 05:18] jhouse-solvd opened #16141 "Discovery - Understand FE Tools needs for monitoring solution (DataDog)"
## Issue Description
_Work with FE Tools team to understand what their immediate needs are for infrastructure monitoring._

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _Ready to capture specific metrics for FE Tools team_
- [ ] _Ready to create custom dashboard for FE Tools team_
- [ ] _FE Tools team has access to DataDog
---
## How to

[2020-11-13 05:21] jhouse-solvd opened #16142 "DataDog - Install and configure application performance monitoring (APM)"
## Issue Description
_Pick the first use case(s) for APM based on discussions with BE/FE Tools team(s) (may be Sentry 10 / VETS API / VETS WEBSITE)_

---
## Tasks
- [ ] _Activate APM for docker containers that are hosting a specific application_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to an Epic**

[2020-11-13 05:25] jhouse-solvd opened #16143 "S3 Support in EKS Terraform Module"
## Issue Description
Extend the EKS Terraform module to support creation and use of S3 buckets with EKS clusters.

The primary driver of this is Loki, but will be needed by other apps migrating to EKS in the future.

Requirements:
- Creation of NEW s3 bucket and associated EKS Cluster IAM roles/permissions
- Use of an EXISTING s3 bucket and associated EKS Cluster IAM roles/permissions

EKS Module:

[2020-11-13 05:32] jhouse-solvd opened #16144 "EKS Config - Configure kubernetes cluster, nodes, namespace etc using Helm"
## Issue Description
_What details are necessary for understanding the specific work or request tracked by this issue?_

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to an Epic** (what body of work is this a part of?)
- [ ] **L

[2020-11-13 07:53] narin commented on #15678
@bsmartin-ep I'm thinking the 2nd option should be easier to to implement.  In regards to the `loading-indicator-display-time`, does this have to be an integer, or can we use decimals? (e.g. 1.2)

[2020-11-13 11:39] sonntag-adam commented on #15886
In staging. Closing story.

[2020-11-13 11:40] #15886 closed

[2020-11-13 12:26] #15918 closed

[2020-11-13 12:42] DanielleThierryUSDSVA commented on #13274
Hi @batemapf @artsymartha68. Not sure if our COVID-19 screener has aria label or sr-only content, or if it's already been addressed in the Spanish translation. But just in case, I wanted to share these notes from my conversation with Trevor with you. Thanks!

- Google Translate (and other machine translations) won't automatically translate hidden content that's only for screen readers. And if huma

[2020-11-13 13:18] clantosswett commented on #15516
@starlow00 I reviewed the the new IVR script. I had a few comments and questions but overall it looks good. The big consistent comment is about URLS. Since this is a recorded voice message, I don't think we can use the long URLs. Maybe we should point people to short URLs (www.cdc.gov or www.va.gov) when we suggest they do something online. Feel free to noodle on that and make those changes. Let m

[2020-11-13 13:22] desireeturner opened #16145 "STEM: Applicants not being CC'd on SCO emails"
## What happened?
During our UAT sessions, we had two participants whose applications triggered a SCO email (the applicants met the three eligibility requirements and therefore the email was triggered). The applicants were not CC'd on the email to the SCOs (**confirmed with SCO that they were not included in the CC line**).

## Desired behavior
Eligible applicants who trigger a SCO email when appl

[2020-11-13 13:42] Samara-Strauss commented on #15810
Got it, great! OK, we can close this in favor of #15971.

[2020-11-13 13:42] #15810 closed

[2020-11-13 13:44] jbritt1 commented on #15326
Going to close this one for now since we did all we can do right now on our side to skip using bind and go straight to Route53. There are other services using the bind configs currently that would prevent us from eradicating completely.

[2020-11-13 13:44] #15326 closed

[2020-11-13 13:51] Samara-Strauss commented on #15237
@bsmartin-ep @bmcgrady-ep if you have additional guidance for frontend, please put it in the frontend implementation ticket, which is #16088.

[2020-11-13 13:58] RLHecht opened #16146 "Search for and update links to our Sign-in FAQs page from other VA.gov pages and apps"
## Issue Description
We have redirected our Sign-in FAQ page to the R&S page "Signing in to VA.gov." We need to do a search on VA.gov and in our apps for any links to the Sign-in FAQs so that we can change them to go directly to the R&S page instead.

---
## Tasks
- [x] Search VA.gov (Randi)
- [x] Search in applications (Nick/Kelson)
- [x] Update any links found to point to R&S page /resources/sig

[2020-11-13 13:59] jbritt1 commented on #15634
What @tskinn has stated is correct / agreeable for backend connections. However, frontend is still broken due to caching issues we think.

[2020-11-13 14:00] RLHecht commented on #16146
@ncksllvn @kelsonic This is a follow-up ticket for redirecting the old Sign-in FAQs page. Not sure if we have any links to it anywhere else on the site but could one of you run a search to see and then we can change them? Thanks much!

[2020-11-13 14:04] bsmartin-ep commented on #15678
@narin -  I think we want to use a GA timing event for this, so optimially `loading-indicator-display-time` would be a **integer** representing the timing in **milliseconds**.

[2020-11-13 14:07] jbritt1 commented on #15563
@tskinn's latest PR attached to this ticket also points out the [external service doc](https://github.com/department-of-veterans-affairs/devops/blob/master/docs/External%20Service%20Integrations/SSOe%20OAuth%20Services.md) that former associate Ben Shyong and @jjulian have done a great job with updating relevant information on. Taylor's PR also adds some good `curl` tests to try once the certs are

[2020-11-13 14:14] zacharymorel commented on #14347
Validated!
![Screen Shot 2020-11-13 at 9 13 05 AM](https://user-images.githubusercontent.com/26075258/99081273-8f9ecf00-2590-11eb-8f30-765b30975c48.png)
![Screen Shot 2020-11-13 at 9 13 13 AM](https://user-images.githubusercontent.com/26075258/99081274-90376580-2590-11eb-8cec-379005a16968.png)

[2020-11-13 14:14] #14347 closed

[2020-11-13 14:41] abuckley3385 commented on #15521
did I miss the link?

[2020-11-13 14:42] Samara-Strauss commented on #13926
# Convo guide feedback, round 2

## Warm up questions

- I should have thought of this yesterday — can we ask them how they manage their VA benefits online? I'd like to know which sites they use (VA.gov, MHV, eBenefits), how often they go online to manage benefits, and what things they typically do when managing benefits online. This will also probably help give us some context as we move into the

[2020-11-13 14:42] mdewey commented on #15521
Its the same link as before: https://staging.va.gov/healthcare/questionnaire

[2020-11-13 14:48] shiragoodman opened #16147 "New Team VSP Orientation"
## User Story
As a new VA.gov team member, I need to complete onboarding activities so I can successfully work on my project.

## Acceptance Criteria
- [ ] Each team member has completed each item in the orientation checklist below.

## Onboarding Checklist

- [ ] Attend general orientation meeting
- [ ] [Request Access to Tools](https://github.com/department-of-veterans-affairs/va.gov-team/blob/m

[2020-11-13 14:53] zurbergram commented on #15854
## Numbeo

https://www.numbeo.com/common/api.jsp
https://www.numbeo.com/api/doc.jsp
Looks `GET /api/city_prices` and `GET /api/rankings_by_city_current` returns similar dataset to https://www.numbeo.com/cost-of-living/in/Charleston

### Pros
Provides a variety of values to display in either dollar amounts or indices

### Cons
- Costs money

### Price

https://www.numbeo.com/common/api.jsp

[2020-11-13 14:57] kristenmcconnell commented on #14988
It matches the wireframes.

[2020-11-13 14:58] #16084 closed

[2020-11-13 14:59] jbalboni commented on #15651
@laurenernest I think this is complete, but I'll leave it to you to close it or update it with any more questions you have.

[2020-11-13 15:03] jenstrickland opened #16148 "508-defect-2 [COGNITION]: Related content after the call-to-action button SHOULD be associated using aria-describedby"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

**Definition of done**

1. Review and acknowledge feedback.
1. Fi

[2020-11-13 15:04] bradl3yC opened #16149 "Debt Letters - Debt Details - Remove component with lorem ipsum"
Removing this additional info component with filler text until content is written for it

[2020-11-13 15:04] amyknox commented on #15928
Data Providers spreadsheet is [accessible on Booz Sharepoint](https://boozallen.sharepoint.com/:x:/r/teams/benefitsintegrationplatform/education/VAGov%20Document%20Library/Working%20documents/PI%20Planning%20%26%20Prod%20Release/PI8%20[20201005%20-%2020210115]/Data%20Provider%20List.xlsx?d=w6d8f73b72c9c49ea8705fc5657577942&csf=1&web=1&e=SSywyP)

[2020-11-13 15:09] shiragoodman opened #16150 "Complete checklist items for detangling VFS accessibility and QA from DEPO Platform process"
## High level division of roles:
DEPO: define standards
DEPO Platform: enforce standards
VFS Teams: meet (and exceed!) standards

## Background
VFS teams are sometimes confused about what the DEPO Platform's standards are: what's required versus desired, and who ultimately gives the "sign off" that the standards are met sufficiently for the team to take their product live. This is largely because

[2020-11-13 15:10] bridgethapner opened #16151 "Error States for Address Fields"
## User Story
As a user saving a domestic, international, or military base address, if my entry isn't meeting field requirements, I want to see a message for what I need to change to meet requirements.

#### Requirements for domestic address:
- Country is required
- Street address can be (35 characters maximum)
- Street address is required (line 1)
- City is required
- State is required
- Zip code

[2020-11-13 15:10] kristenmcconnell commented on #15523
I realized this when working on the PDF, the print button shouldn't say "Print this page," because you are printing the entire questionnaire and not just this page. I updated the wireframe to have the button say "View and print questions." This can be another ticket if need be or maybe the ticket that actually connects the bottom button to the questionnaire list, because it currently goes to the i

[2020-11-13 15:11] abuckley3385 commented on #15521
thanks for the link - i hadn't bookmarked it ( i will now!) l looks great!

[2020-11-13 15:12] bridgethapner commented on #14917
This design work is done, the content may change based on VSP feedback. I will create a new ticket for updating content if we need to.

[2020-11-13 15:12] #14917 closed

[2020-11-13 15:12] bridgethapner commented on #13991
This design work is done, the content may change based on VSP feedback. I will create a new ticket for updating content if we need to.

[2020-11-13 15:12] #13991 closed

[2020-11-13 15:20] ricetj commented on #15335
@jonwehausen thanks for all of this. I will connect with our FE @LeKeve on this

[2020-11-13 15:34] shiragoodman commented on #14880
@pjhill  - is this still under review or can we mark as closed?

[2020-11-13 15:35] #14447 closed

[2020-11-13 15:37] jbalboni commented on #15653
Latest prototype: https://adhoc.invisionapp.com/share/BFZED2H362S#/screens/437633293_VAOS-CC-MVP-01

[2020-11-13 15:37] elder-joseph commented on #13860
Associated PR: https://github.com/department-of-veterans-affairs/vets-api/pull/5287

[2020-11-13 15:38] shiragoodman commented on #16083
hey @leahkeeler - when you're ready to schedule, please comment here and tag me or else I won't see the update. thanks!

[2020-11-13 15:41] #15345 closed

[2020-11-13 15:42] zurbergram commented on #15854
Indices are percentage change from an initial measurement which would require finding original value and calculating relevant information.

[2020-11-13 15:44] laurenernest commented on #15653
@jbalboni @LanceGundersen Added the mobile spec links to the description: One for the page default and one for the flat list. The desktop and tablet versions should be ready later today.

[2020-11-13 15:45] Mottie commented on #15996
Hi Tze!

This has been fixed in staging - should be in production after 3pm ET.

As I mentioned in my previous comment, user 238 should now show one contestable issue on that page. User 234 has no contestable issues and will not be allowed past the introduction page. There _shouldn't_ be any way to get that view you shared in the screenshots, but I did add some methods to hide the additional conte

[2020-11-13 15:50] rebeccawalsh opened #16152 "Evaluate loop list item type options"
## Issue Description
Each of the loop lists in the form have user-dictated labels for values submitted. We need to decide if these should be pure inputs, auto-suggest inputs, or dropdown selects. This includes:
- C2P1 - Add a payroll deduction
- C2P2 - Type of income
- C3P1 - Type of real estate
- C3P1 - Type of recreational vehicle
- C3P1 - Type of vehicle
- C3P1 - Vehicle make
- C3P1 - Vehicle m

[2020-11-13 15:51] laurenernest commented on #15651
- [x] Questions are answered and documented

- [x] Document which api/endpoints we can work with, and recommendations
- Facilities API

[-] Rough visualization of the data on the page _(Waived. FE work has started)_

[2020-11-13 15:51] #15651 closed

[2020-11-13 15:54] brianalloyd commented on #15196
@jonwehausen @joanneesteban could we schedule a quick roundtable review early next week.  I have a few questions that I think might be easier to discuss via Zoom.  Thanks, Brian

[2020-11-13 15:54] shiragoodman opened #16153 "Complete rough draft of assessment checklist for all Collaboration Cycle touchpoints"
## Issue Description
VFS teams currently do not have a full complete list of requirements necessary for the various Collaboration Cycle touchpoints. The list of requirements should be all-inclusive, meaning some requirements may not be applicable to a specific team.

## User Stories

- As a Collab Cycle team member, I want to give VFS teams clarity on what they’ll need to do along their Collaborat

[2020-11-13 15:58] #16149 closed

[2020-11-13 15:59] #15849 closed

[2020-11-13 16:02] jason-gcio commented on #15802
https://dsva.slack.com/archives/CLY6Q69RV/p1605210607227700

[2020-11-13 16:18] #15903 closed

[2020-11-13 16:19] #9837 closed

[2020-11-13 16:19] timwright12 commented on #9837
This is merged and complete

[2020-11-13 16:31] bethpottsVADEPO commented on #15782
@ncksllvn Can this go out today? @RLHecht for awarenesss

[2020-11-13 16:34] #15728 closed

[2020-11-13 16:35] delli-gatti-michael commented on #15765
local testing complete

[2020-11-13 16:35] amyknox commented on #15721
@mnorthuis &/or @peggygannon - do you have an ETA on this story?

[2020-11-13 16:39] digitalken commented on #15988
Tested on Android to verify code change is in. iOS build isn't yet up-to-date but code change is verified.  Moving to Design QA.

[2020-11-13 16:39] bethpottsVADEPO commented on #16146
To add a little background... the "old" sign-in FAQ addressed signing in, verifying your identity, privacy and security, and connected apps. There is no longer one article about all those things. There are 4 separate articles. So I would like to find out if there are any links to the old sign-in FAQ not just to swap in the new sign-in article url, but also to swap in the other urls (verifying / pr

[2020-11-13 16:40] shiragoodman opened #16154 "Usability Testing Prep [Team Name, Feature Name]"
## Steps to complete Usability Testing Prep:
- [ ] Product Manager: create this issue and fill in the team name and feature name in the title and other bolded information appropriately
- [ ] Attach all artifacts before requesting the meeting
- [ ] Link to this issue once created in [#vfs-platform-support](https://dsva.slack.com/channels/vfs-platform-support) in Slack; tag @ Shira Goodman and @ And

[2020-11-13 16:41] #16154 closed

[2020-11-13 16:53] digitalken commented on #15074
Added to TestRail.

[2020-11-13 16:58] dillo commented on #15786
PR created: https://github.com/department-of-veterans-affairs/vets-api/pull/5289

[2020-11-13 16:59] peggygannon commented on #9298
**11/13/2020 update**

Audit has been reviewed. Am now compiling recommendations for updating some content elements throughout forms.

[2020-11-13 17:07] camerontesterman opened #16155 "Update DMC's endpoint URL name"
## Issue Description

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to an Epic** (what body of work is this a part of?)
- [ ] **Labeled with Team** (`product suppo

[2020-11-13 17:08] kristenmcconnell commented on #15019
@abuckley3385 Ready for review.

[2020-11-13 17:09] jhouse-solvd commented on #14964
Spoke w/ @desireeturner and she indicated that they would like to get this resolved within the next 2 weeks if possible ie during this Sprint.

[2020-11-13 17:10] ksantiagomorgan6 commented on #16002
@1Copenut I tried your suggestion and it did not work. This is related to this bug https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/11300. Looks like someone from freedom scientific might of picked up the issue on September 2nd.

[2020-11-13 17:14] ncksllvn commented on #16146
I did a search across content for the term `/sign-in-faq`.

| Page path | Term found |
| --- | --- |
| resources/signing-in-to-vagov/index.html | /sign-in-faq |
| resources/va-account-and-profile/2/index.html | /sign-in-faq |
| resources/tag/sign-in/index.html | /sign-in-faq |
| resources/tag/all-veterans/2/index.html | /sign-in-faq |

Kinda funny that `/sign-in-faq` was spotted on R&S. It look li

[2020-11-13 17:16] pjhill commented on #14880
Initial implementation is done -- closing

[2020-11-13 17:16] #14880 closed

[2020-11-13 17:24] jhouse-solvd commented on #16143
Will change this to a requirement for the EKS terraform module, and then close it out.

[2020-11-13 17:30] jason-gcio commented on #15783
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/ebenefits/engineering/documentation/user-reset.md

[2020-11-13 17:30] #15783 closed

[2020-11-13 17:32] omgitsbillryan opened #16156 "Sunset sentry-legacy (Sentry 9)"
### The Problem
The old sentry 9 deployment (now called "sentry-legacy") is not longer used. We can tear the whole thing down.

### Work to be Done
- [ ] Jenkins jobs:
  - [ ] Remove `sentry-legacy` BRD
  - [ ] Rename all sentry10 jobs to just be "sentry"
- [ ] Rename ansible BRD YAML files from sentry10 to sentry
- [ ] Delete existing sentry-legacy ansible YAML
- [ ] Tear down sentry-legacy terra

[2020-11-13 17:33] jhouse-solvd opened #16157 "[Centralized Logging with Loki] Investigate capturing AWS service logs"
## Issue Description
Ensure AWS service logs (things like RDS, Lambda, ELB) are being captured with Loki
AWS service logs can be sent to Loki in various ways, but most require a Lambda to run on a periodic basis to do so.

---
## Tasks
- [ ] Identify services that need to be logged and document
- [ ] Create stub document in Confluence to contain the list of logged services
- [ ] Create issues for

[2020-11-13 17:35] jhouse-solvd opened #16158 "EKS - Terraform Module"
## Issue Description
_Terraform module to support creation of EKS clusters in VA.GOV_

Requirements:
- Basic creation of EKS cluster
- Creation of IAM roles and service accounts
- Creation of ODIC authentication provider
- Support for creation of an auth configmap so cluster can be administered post-creation
- Support for user defined options/features

---
## Tasks
- [x] _As this is an epic, separ

[2020-11-13 17:44] bmcgrady-ep commented on #15132
@mmiddaugh - Is it okay if we move this to our backlog while you work on the draft for the KPI dashboard request?

[2020-11-13 17:46] RLHecht commented on #16146
This is great, @ncksllvn ! @bethpottsVADEPO , I can go through and list out each one with a suggestion of which R&S page we want to link to instead.

[2020-11-13 17:46] bmcgrady-ep commented on #15131
@mmiddaugh - Let us know when you are ready for us to start this request, as it looks like it is still a draft. If it won't be ready for us to start shortly, we can move it to the backlog until it is ready. Thanks!

[2020-11-13 17:52] jhouse-solvd commented on #8954
@jsev-io to break this out into separate tasks

[2020-11-13 17:55] jhouse-solvd commented on #1475
@dginther and I will look through tickets to ensure this is fully closed out, but this may be done.

[2020-11-13 17:56] #15420 closed

[2020-11-13 17:56] #15423 closed

[2020-11-13 17:56] jhouse-solvd commented on #15317
will want to get this into upcoming sprint.

[2020-11-13 17:56] #15431 closed

[2020-11-13 17:57] #15425 closed

[2020-11-13 17:58] #15430 closed

[2020-11-13 17:58] jhouse-solvd commented on #15319
This should be ready to be picked up by Ops team member. Reference commits

[2020-11-13 18:10] zurbergram commented on #16145
https://guides.rubyonrails.org/action_mailer_basics.html#example-action-mailer-configuration
https://guides.rubyonrails.org/configuring.html#configuring-action-mailer

There is `config.action_mailer.default_options` but this doesn't appear to be used

A request to work with external to setup `config.action_mailer.observers` classes that notify either Prometheus or Sentry/Cloudwatch with informatio

[2020-11-13 18:15] #16102 closed

[2020-11-13 18:15] cohnjesse commented on #15872
@jason-gcio @jonwehausen We can't actually do the first one of these, `Functional firing of this event is correct, however please populate 'form-field-value' with the full question answer text` because in the wizards we don't get access to the answer text and instead only get access to the value of the answer which is different from the text and can't be changed since it is used by the back end.

[2020-11-13 18:33] kreek opened #16159 "Address id is missing from the mobile user profile"
You need an id to update an address it's currently missing from the user profile response.

[2020-11-13 18:42] RLHecht commented on #16146
@bethpottsVADEPO Here are the Q&As where we link to the sign-in faqs and my suggestions for where to go instead:
- https://www.va.gov/resources/verifying-your-identity-on-vagov/
What's the fastest way to verify my identity online?
How do I verify my identity online without a Premium account?
What if my credit is frozen and I’m trying to verify my identity?
**Link all of these back to the verifying

[2020-11-13 18:49] christine-dillman opened #16160 "Offboarding of Bennie Mosher"
# Instructions
Fill out name of individual and *Description* section below.

# Description
- Please provide the name of the individual needing offboarded.

- Please provide the name of their team, their role on that team, expected last day, and the name of the company they work for.

- Please provide any type of access they may have and their GitHub username.

## AC
 - [x] Remove global/config.yml

[2020-11-13 18:50] amycesal commented on #13102
The colors are matched across funnels:
<img width="660" alt="Screen Shot 2020-11-13 at 12 48 56 PM" src="https://user-images.githubusercontent.com/1656046/99109609-b4a23a80-25ae-11eb-9a7a-6ef3e49f758f.png">

[2020-11-13 18:52] dneel-bah opened #16161 "GIBCT Redesign: Research Mapping Nearby Points of Interest"
As a developer, I need to research mapping nearby points of interest functionality that can be incorporated into the comparison tool so that the comparison tool users can see points of interest near the institution.

## Assumptions:
1. Example behavior:
Another thought UX had was to give the user preset selectable buttons (e.g. food/grocery, transportation, shopping, local points of interest, , pa

[2020-11-13 18:53] christine-dillman opened #16162 "Offboarding of Johnny Holton"
# Instructions
Fill out name of individual and *Description* section below.

# Description
- Please provide the name of the individual needing offboarded.

- Please provide the name of their team, their role on that team, expected last day, and the name of the company they work for.

- Please provide any type of access they may have and their GitHub username.

## AC
 - [x] Remove global/config.yml

[2020-11-13 18:55] tressaellen commented on #13926
Great! I've made these updates and we're wrapping up everything in invision now. I'll drop in those links and send everything to Lauren!

[2020-11-13 18:55] #13926 closed

[2020-11-13 18:57] Mottie commented on #16045
Hi Tze!

I've added a fix that sets the alert box wrapper to `100%` and this prevent the overflow problem we can see in the screenshots. I've verified that this fixes the problem in IE11 on staging. This fix will be available in production after 3pm ET today.

[2020-11-13 18:57] jbritt1 commented on #16162
/request Johnny Holton

[2020-11-13 18:58] jbritt1 commented on #16160
/request Bennie Mosher

[2020-11-13 18:59] pjhill opened #16163 "VSP QA feedback for Higher Level Review [Staging Review]"
## VSP QA feedback on SSO-login [Staging Review]

**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

### Links
**Test Plan / Execution logs:**
https://dsvavsp.testrail.io/index.php?/plans/view/103
**Coverage for References Report**
https://dsvavsp.testrail.io/index.php?/reports/vi

[2020-11-13 19:00] ncksllvn commented on #15782
I'm asking VSP for a review right now

[2020-11-13 19:21] amyknox opened #16164 "Analytics Implementation or QA Support for BAH Team - CT Ratings"
# Google Analytics Implementation or QA Request

 Implementation will usually be completed in 2 sprints

## Description
- Is this request for Google Analytics implementation or QA?

Google Analytics implementation

- Who is this request for?

- Amy Knox, Booz Allen team

    _Provide any relevant contact information and link this issue to the insights team on the DSVA Slack Channel: `#VFS-Platform

[2020-11-13 19:23] jbritt1 commented on #16160
SOCKS, AWS, and PagerDuty access removed.

[2020-11-13 19:23] jbritt1 commented on #16162
SOCKS, AWS, and PagerDuty access removed.

[2020-11-13 19:27] amyknox commented on #15922
Issue submitted to DEPO insights: [16164](https://github.com/department-of-veterans-affairs/va.gov-team/issues/16164)

[2020-11-13 19:27] digitalken opened #16165 "Edit Email Address page - Long email addresses should have ellipses when too long to fit on one line"
## What happened?
When the email address is too long to fit on one line, it should end with an ellipses when the keyboard is closed before tapping the Save button.

Android:  Displays the last visible portion of the email address when tapping the check mark button to close the keyboard.
iOS: Displays the beginning of the email address, as much as can be displayed, when closing the keyboard by hitt

[2020-11-13 19:32] mshea0606 opened #16166 "[Authenticated Experience] - Analytics request: Profile 2.0 and Direct Deposit - Calculated tiles"
Is it possible to create calculated tiles in GA?

Request 1:
adding "% of Successful submissions" to this [Profile 2.0 dashboard](https://analytics.google.com/analytics/web/#/report/content-event-events/a50123418w177519031p176188361/explorer-segmentExplorer.segmentId=analytics.eventAction&explorer-table.plotKeys=%5B%5D&explorer-table.rowStart=0&explorer-table.rowCount=25&_r.drilldown=analytics.eve

[2020-11-13 19:33] allison0034 opened #16167 "Design Feedback - Staging Review - BAM1 [Higher Level Review]"
- **Must** for if the feedback must be applied
- **Should** if the feedback is best practice
- **Consider** for suggestions/enhancements

**Must:**
- Remove solid orange/yellow block from radio buttons text (it only seems to appear on the intro screen [here](https://staging.va.gov/decision-reviews/higher-level-review/request-higher-level-review-form-20-0996/introduction), not in form steps)

**Sho

[2020-11-13 19:38] micahchiang opened #16168 "ObjectField throws an error for improper nesting in ArrayFields on review"
## What happened?
- Using an array schema throws an error in aXe and cypress tests on review for improperly constructed definition lists.
- Example schema:
[code]
## Screenshots
<details><summary>aXe error</summary>

<img width="965" alt="Screen Shot 2020-11-12 at 5 56 49 PM" src="https://user-images.githubusercontent.com/15097156/99113507-634d7780-25bd-11eb-99ef-fb7c1c9d4140.png">
</details>

<de

[2020-11-13 19:47] vbahinwillit commented on #15834
@bsmartin-ep - Here are the proposed names for tracking CC preferences:

- vaos-community-care-preferences-has-community-care-provider-selected-true
- vaos-community-care-preferences-has-community-care-provider-selected-false
- vaos-community-care-preferences-has-community-care-provider-true
- vaos-community-care-preferences-has-community-care-provider-false

Where 'selected' is when the user has

[2020-11-13 19:49] zurbergram commented on #16145
Based on https://developer.govdelivery.com/api/tms/tutorial/send_an_email/ which is the service used by vets-api it does not appear that CC or BCC fields are available to use.

### Short term solution
Have both SCOs and applicants in the TO field of the email

### Long term solution
Reach out to VANotify project about including CC and BCC fields in the replacement for govdelivery-tms they are work

[2020-11-13 19:56] ncksllvn commented on #15782
This was merged - and thanks to today's daily deployment failing, we will be probably see this deployed later on in a follow-up deployment lol.

[2020-11-13 20:04] pjhill opened #16169 "Cypress to TestRail Reporter Plugin is generating 401 errors in CI pipeline"
## What happened?
See convo here: https://dsva.slack.com/archives/C01CHAY3ULR/p1605226355065500

It looks like since the CI boxes do not have environment variables configured they are attempting to write results from Cypress to TestRail upon every execution but the URL is not valid because it is not populated with real values.

## Specs:
- Device: N/A
- Browser: N/A
- Test User _(if applicable)_:

[2020-11-13 20:04] jbritt1 commented on #16162
@joanneesteban / @bsmartin-ep / @jonwehausen, please verify GA / DOMO access as time allows. Thanks in advance!

[2020-11-13 20:04] jbritt1 commented on #16160
@joanneesteban / @bsmartin-ep / @jonwehausen, please verify GA / DOMO access as time allows. Thanks in advance!

[2020-11-13 20:17] bethpottsVADEPO commented on #15782
Thanks for the update, and sounds good!

[2020-11-13 20:19] ericboehs commented on #15893
PR here: https://github.com/department-of-veterans-affairs/vets-api/pull/5297

[2020-11-13 20:28] digitalken opened #16170 "Edit email address Accessibility issues"
## What happened?
1. With TalkBack/VoiceOver on (Android or iOS), no announcement of the description of the new screen is made.  It's silent.
2. With Keyboard linked to Android and TalkBack enabled, using the up/down arrow keys is actually working on the Personal information screen, rather that the visible screen.  No activity is visible on the edit email screen while using tab or up/down arrow ke

[2020-11-13 20:33] denisecoveyduc commented on #12333
@mgleo will add a link to document to collect potential conversation guide questions the team thinks of during conversations.

[2020-11-13 20:33] digitalken commented on #13895
UI Test passes with a minor bug entered.  Accessibility does not pass. Entered a bug with multiple issues.  Moving this along to Design QA for review.

UI bug:  https://app.zenhub.com/workspaces/va-mobile-app-5f205eac3155a2000f422ecb/issues/department-of-veterans-affairs/va.gov-team/15865

Accessibility bug:
https://app.zenhub.com/workspaces/va-mobile-app-5f205eac3155a2000f422ecb/issues/department

[2020-11-13 20:33] bsmartin-ep commented on #15834
Hi @vbahinwillit - was just typing this up for you.

For the form control stuff, we are moving towards a global event structure for those:

[code]

For the _Continue_ button, how about:

[code]

...or does this trigger a save-in-progress on the form?

[2020-11-13 20:37] ericboehs commented on #15889
PR here: https://github.com/department-of-veterans-affairs/vets-api/pull/5299

[2020-11-13 20:41] bethpottsVADEPO commented on #16146
These (https://www.va.gov/?next=%2Fsign-in-faq%2F) aren't really links to the sign-in faq, right? They go to the sign-in page. But @ncksllvn is `sign-in-faq` a part of the url because after the user signs in, they end up on the sign-in-faq page (or what used to be that page and is now redirecting)? I'm thinking we should use this general sign-in link instead?: https://www.va.gov/?next=/profile/

[2020-11-13 20:41] bridgethapner opened #16171 "Return users back to app after sign-in"
## User Story
Technical investigation to see if it's possible to return users back to VA Mobile App after they've signed in with our IAM integration for MVP.

## Context
When users go through the sign-in flow using our integration for mobile app, they need to exit the browser window they used to sign in and return to the app and sign in again. Because we're a mobile app we don't have cookies like

[2020-11-13 20:43] bmcgrady-ep commented on #16166
@mshea0606 - Confirming receipt. Thanks!

[2020-11-13 20:44] bethpottsVADEPO commented on #16146
@RLHecht Your suggestions above would be circular, if I'm understanding correctly. For the first bullet, the user is already on the verifying your ID page. For the second, the user is already on the signing in page. So I think we need to use: https://www.va.gov/?next=/profile/

[2020-11-13 20:45] bridgethapner opened #16172 "Reorder credential providers on Access VA Page"
## User Story
After a user clicks "Register for a Sign-In Partner" on the Access VA Page, they see an option to create a new account with MHV, DS Logon, or ID.me. We want to reorder the credential providers on the Access VA Page so that ID.me is first.

![Screen Shot 2020-11-13 at 2.44.32 PM.png](https://images.zenhubusercontent.com/5d8e52f61c53fd000173c5de/6a83bd9e-a5c4-4331-8ae9-85f9fe03cff7)

#

[2020-11-13 20:46] ffafara-tw commented on #16097
VANotify (deployed to it's own vaec-notify AWS account) is covered by VA.GOV ATO.
Do you need the same information from us?

We use ECS Fargate and do not use any EC2 instances.

[2020-11-13 20:52] starlow00 commented on #15516
@clantosswett Updated draft attached, _[https://app.zenhub.com/files/133843125/4f8a21d2-efd8-4d07-9a95-3bf330d9d958/download](https://app.zenhub.com/files/133843125/4f8a21d2-efd8-4d07-9a95-3bf330d9d958/download)starlow111320

[2020-11-13 20:52] #15253 closed

[2020-11-13 20:52] #15611 closed

[2020-11-13 20:54] #15796 closed

[2020-11-13 20:57] ericboehs commented on #15899
PR here: https://github.com/department-of-veterans-affairs/vets-api/pull/5301

[2020-11-13 20:59] allison0034 commented on #13770
Made changes to plain language, unit testing and google analytics.
https://github.com/department-of-veterans-affairs/va.gov-team/pull/16173

[2020-11-13 21:03] #15433 closed

[2020-11-13 21:04] #15435 closed

[2020-11-13 21:05] esther-k opened #16174 "Edit direct deposit info page accessibility issues (Keyboard)"
## What Happened?

**Keyboard**
With Keyboard linked to Android, only a few fields are being jumped to while tabbing or using the navigational keys. The cancel button, save button, and "Where can I find these numbers?" dropdown are being focused and jumped to but the rest of the fields below that can not be accessed

## Specs:
- Device: Android - LG LM-Q720 Stylo 5
- Bluetooth Keyboard

## Steps t

[2020-11-13 21:11] kimberlymcm opened #16175 "Request access to Google Analytics"

[2020-11-13 21:16] #9631 closed

[2020-11-13 21:18] bsmartin-ep commented on #16162
@jbritt1 -

I don't see any GA, DOMO, or GTM accounts for Johnny Holton.

[2020-11-13 21:18] annaswims commented on #13400
![Screen Shot 2020-11-13 at 4.16.29 PM.png](https://images.zenhubusercontent.com/5bb3c3a61c43df49f8b08cfb/1e08ac41-004b-41c0-a2de-235b1501b7e9)

looks good in staging

[2020-11-13 21:18] #13400 closed

[2020-11-13 21:19] bsmartin-ep commented on #16160
@jbritt1 -

GA access has been removed for Bennie Mosher.

I don't see DOMO or GTM accounts.

[2020-11-13 21:21] jbritt1 commented on #16160
All line items complete for user at this time.

[2020-11-13 21:21] #16160 closed

[2020-11-13 21:21] jbritt1 commented on #16162
All line items complete for user at this time.

[2020-11-13 21:21] #16162 closed

[2020-11-13 21:23] joanneesteban opened #16176 "Add new products to content grouping"
## Issue Description
We have content grouping in Google Analytics with `Benefit Hubs` and `Products.` Newly launched products are not included in this grouping, so anyone who uses this feature will have inaccurate information. We need to add newly launched products to this list in case our customers are using these groupings to analyze their data. VSP is also using trafficked VFS products to help

[2020-11-13 21:28] bsmartin-ep commented on #16175
Hi @kimberlymcm.

I created a GA account for the @gsa.gov account attached to your Slack profile.

You should receive an email shortly.

Our primary production GA view:
https://analytics.google.com/analytics/web/#/report-home/a50123418w177519031p176188361

Let me know if you have any questions.

[2020-11-13 21:28] #16175 closed

[2020-11-13 21:32] esther-k commented on #15946
11/13 - verified fix on android (Google Pixel 3XL & LG LM-Q720 Stylo 5)

[2020-11-13 21:33] pnwstevan commented on #16143
@jhouse-solvd I updated this ticket; please review and remove the `needs grooming` label when good to go.

[2020-11-13 21:34] esther-k commented on #15960
11/13 - verified fix on android (Google Pixel 3XL & LG LM-Q720 Stylo 5)

[2020-11-13 21:38] jenstrickland opened #16178 "sitewide 508-defect-3 [COGNITION, SCREENREADER, SEMANTIC MARKUP]: The TTY number SHOULD not include TTY in the aria-label"
# [508-defect-3](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-3)

[code]

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.

[2020-11-13 21:38] laurenernest commented on #15834
@bsmartin-ep

That one is about the submission counts that had a preferred provider included in it (since there are some other steps between this CC preference page and final submission)

[2020-11-13 21:41] #15438 closed

[2020-11-13 21:41] #15437 closed

[2020-11-13 21:41] #15434 closed

[2020-11-13 21:41] #15432 closed

[2020-11-13 21:42] ncksllvn commented on #16146
Circular _could_ be okay, if you want to get the user signed in and then return. `https://www.va.gov/?next=/profile/` would take them to the profile application - that could be good, if that app is considered a reasonable starting point after signing in?

[2020-11-13 21:43] andaleliz commented on #16055
@jenniferlee-dsva thanks for all the feedback! I added clarification throughout the doc and provided additional context via comments on a few more specific questions you had.

Clarified this in the comments, but the external DMC team does deal with some external content. It's just not **customer support** content.  I updated the copy below the map to clarify this with examples.

Updated the teams

[2020-11-13 21:44] pnwstevan commented on #15371
@jhouse-solvd Updated this ticket, which is the deployment of Loki into staging via Helm chart; please review and remove the `needs grooming` tag if good to go.

[2020-11-13 21:45] holdenhinkle commented on #15835
Created new Cypress custom command, `cy.injectAxeThenAxeCheck()` which gives you two function calls for the price of one--`injectAxe()` following by `axeCheck()`.

- -

Created the following Cypress environment variables which are each set to an array of viewports (either Cypress preset names or an array of two integers that represent the width and height of a viewport):

- allMobileViewports
- to

[2020-11-13 21:45] andaleliz commented on #16055
Ack! Forgot about the remaining team org charts that need to be added. Will do that first thing Monday.

[2020-11-13 21:48] bsmartin-ep commented on #15834
@laurenernest -

So this would be...

- Attached to the `vaos-community-care-submission` event
- A boolean (and not a number)

So something like this?

[code]

[2020-11-13 21:48] kristenmcconnell commented on #15647
@mnorthuis Thoughts on this for the bookmarked states. @mdewey See the question in the red circle. Let me know.

![User Flow.jpg](https://images.zenhubusercontent.com/5f44055c65a5c54f7cfe5928/7c85dac4-84dd-4df0-8fa9-94f065457467)

[2020-11-13 21:48] bridgethapner commented on #15905
@msmanak This looks great! Looking at this, I'm realizing I think it would be ideal for the information the user entered to remain populated in this state so they can revise it rather than having to enter it all again. What do you think? If that sounds good to you, can you update the wireframe to show the fields filled in?

[2020-11-13 21:51] bsmartin-ep commented on #15834
For reference @laurenernest , that's the event fired when you click this button:

![image](https://user-images.githubusercontent.com/62304138/99124564-6bfb7900-25d0-11eb-8907-aebfc5e13091.png)

[2020-11-13 21:52] RLHecht commented on #16146
Yeah, I was thinking that it would take them back to the page they were reading since there aren't really specific actions to do on the profile page once they click the button. It just allows them to then be signed in to do whatever they need next (verifying ID, etc.)

[2020-11-13 21:54] bridgethapner commented on #15982
@msmanak Good questions. I'm leaning towards using body, what do you think? I'm good with whatever you think is best. Re the ability to make it specific or general - my gut says to keep it general since the filter above the message will display the date range selected. What do you think? Do you think it would be an accessibility issue to not reiterate the date in the empty state message?

[2020-11-13 21:55] laurenernest commented on #15834
@bsmartin-ep Correct, that submission event. Right now (and with the next update) there would only be one, but in the future, there could be up to 3. Thoughts on starting with a number now so we don't have to make another change later?

[2020-11-13 21:57] bsmartin-ep commented on #15834
@laurenernest -

Good idea.  My recommendation on this dataLayer event would be...

[code]

[2020-11-13 22:00] pnwstevan opened #16179 "Terraform EKS Module - Spike"
## Description
Initial Terraform module to create EKS clusters in vagov.

This is a spike to scaffold basic EKS cluster creation with BYO everything after cluster is created (auth, iam roles, oidc, s3, tags, etc..)

## Background/context/resources
Module should follow similar patterns as existing modules (ie: https://github.com/search?q=org%3Adepartment-of-veterans-affairs+terraform)

---
## Tasks

[2020-11-13 22:00] #15436 closed

[2020-11-13 22:01] pnwstevan commented on #16179
This work was completed with this PR: https://github.com/department-of-veterans-affairs/terraform-aws-vsp-eks/pull/2

[2020-11-13 22:03] pnwstevan commented on #16179
Successfully created EKS clusters in `dev` and `staging`; confirmed by @jbritt1.

[2020-11-13 22:10] pnwstevan opened #16180 "Terraform EKS Module - MVP"
## Description
MVP of terraform module for creating EKS Clusters in `dsva-vagov`.

Basic requirements:
* Creation of EKS cluster in user-defined environment/subnet
* Creation of IAM roles and K8 Service accounts
* Creation of OIDC authentication Provider for cluster
* Basic user-defined inputs/features:
  * Environment/VPC
  * K8 Version
  * Private and/or Public API endpoints
  * Logging to Cloud

[2020-11-13 22:10] pnwstevan commented on #16180
This work was completed by this PR: https://github.com/department-of-veterans-affairs/terraform-aws-vsp-eks/pull/2

[2020-11-13 22:11] laurenernest commented on #15834
@bsmartin-ep Thank you!

@vbahinwillit Please see Brian's note [above](https://github.com/department-of-veterans-affairs/va.gov-team/issues/15834#issuecomment-727055684). Since that event isn't technically on this preferences page, let me know if you'd like me to break it out from this ticket or if the LOE stays the same.

[2020-11-13 22:20] pnwstevan opened #16181 "EKS - Terraform Module - Initial Usable Version"
## Description
Update the VSP Terraform EKS module to be ready for initial use by Ops team.

Requirements:
* Creates cluster with appropriate dsva-vagov tags
* Supports creation of a configmap to be used for auth with user-inputs (Ops team IAM arn's)
* Support for sane/needed outputs to be used by other services
* Cluster supports logging to CW (to start, Loki eventually)
* Subnets used by cluster

[2020-11-13 22:24] bethpottsVADEPO commented on #16146
@RLHecht @ncksllvn I see what you both are saying. Thanks for getting me there. That approach makes sense now. It's not so much circular as it is grounding them, keeping them on the page they started on before signing in. Sounds good--can you implement that? `Sign in or create an account` takes them to sign in, then back to the page they're on (either signing in or verifying your identity).

[2020-11-13 22:46] 1Copenut commented on #16178
@jenstrickland Captured this in the Design System repo upstream: https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/218

[2020-11-13 22:56] laurenernest commented on #15794
@LanceGundersen I'm not seeing the alert in staging. Can you double check?

[2020-11-13 23:00] 1Copenut commented on #16002
Thank you @ksantiagomorgan6 I hadn't seen that it was picked up. I guess we can hold on this one for now as a known upstream issue. I'll put a watch on the issue and check back periodically.

[2020-11-13 23:01] kathleencrawford commented on #12463
PR submitted here: https://github.com/department-of-veterans-affairs/vets-api/pull/5282

[2020-11-13 23:04] jenstrickland opened #16182 "sitewide 508-defect-2 [COGNITION, SCREEN READER, MOBILE]: Mobile and screen reader users SHOULD know there is relevant info after the call-to-action button"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2020-11-13 23:10] holdenhinkle commented on #15835
Holden Hinkle 4:27 PM
What viewport sizes should I add to these groups? Or where can we get this information?

Peter Hill  1 hour ago
Nice! I think for the viewports we just need to cross reference top 5/10 devices with their screen specs.  Does that make sense?

Peter Hill  1 hour ago
IIRC, iPad has a significant showing, but we can’t be sure which iPad that signifies. So we would need to include

[2020-11-13 23:16] kimberlymcm commented on #16175
Looks like it is working - thank you!

[2020-11-13 23:26] peggygannon commented on #15318
**11/13/2020 update** This work is being put on hold so we can focus on collaboration cycle improvements. Moving to icebox for time being.

[2020-11-13 23:27] #15426 closed

[2020-11-13 23:27] cvalarida commented on #15426
Yeah, this doesn't belong in the component library. Moving it into `vets-website` is a separate issue from this, so I'm closing it for now.

[2020-11-13 23:28] #15410 closed

[2020-11-13 23:28] #15367 closed

[2020-11-13 23:51] peggygannon commented on #9298
Content takeaways from audit:

GLOBAL fixes for all forms:

1. Sentence case all H1s, chapter heads, subheads, labels, and buttons.
I thought this fix got applied to all forms when we made this style update, but it looks like the updates never happened or somehow got reverted

Next step: will reach out to Design system team to get this update in the queue

2. Respondent Burden language
I recommend

[2020-11-13 23:56] DanielleThierryUSDSVA commented on #9298
This is awesome, @peggygannon. Thank you so much for doing this!

[2020-11-14 00:23] #15177 closed

[2020-11-14 00:40] peggygannon opened #16185 "Review and update Form label masterlist"
## User story
Review and update the forms masterlist to ensure any new form chapter heads and labels are captured.

## Acceptance criteria
- [ ]  Review form chapter heads to ensure they are all captured in the Form label masterlist
- [x]  Add "home address" and "mailing address" label to the masterlist
- [x]  Fix duplicate entry of Your first name
- [x]  Document label entries that are form speci

[2020-11-14 00:45] laurenernest commented on #15652
@outerpress I have open questions related to the missing address state, but I'm inclined to at least keep the option to select a provider based on current location. A different address entry method might have a high LOE or performance impact for this subset of users so I want to check with the devs to see what's feasible too. We can brainstorm more offline.

[2020-11-14 01:20] tlei123 commented on #16135
cypress-testrail-reporter appears to create Test Runs that include ALL TR Test Cases in a TR Project.  This precludes generating succinct test reports for VSP's product-/feature-specific Staging Reviews.

I'm gonna check out a couple of alternatives:
- other cypress-testrail integration packages on GitHub
- my own custom NodeJS testrail-reporting script

[2020-11-14 01:47] #15792 closed

[2020-11-14 01:57] denisecoveyduc opened #16186 "Explore + Establish Medallia Survey Implementation"
## Description
_There is currently one recommended survey for Veteran-facing Services as Foresee survey is being phased out. Medallia surveys offer consistency across VA.gov services. Implementing a survey in relation to the search experience will help us assess and better understand veteran satisfaction related to the search experience on VA.gov_

## Background/context/resources
The following que

[2020-11-14 03:05] denisecoveyduc commented on #14143
Related to #9443

[2020-11-14 03:06] denisecoveyduc commented on #9443
Related to #14143

[2020-11-14 03:15] denisecoveyduc opened #16187 "[OffSite Search Enhancements]"
## Description
_Offsite search enhancements and search engine optimizations efforts to improve veterans ability to locate what they are looking for on VA.gov from an external search mechanism._

---
## Tasks
- [ ] TBD

## Definition of Done
- [ ] TBD

[2020-11-14 03:23] #16187 closed

[2020-11-14 03:44] denisecoveyduc opened #16188 "Define Metrics for DOMO Dashboard v1"
## Description
Starting to establish  the search and discovery DOMO Dashboard starting with key metrics related to KPIs for Type Ahead and search baseline.

## Background/Context/Resources
TBD

## Tasks
- [x] Define [key data metrics](https://docs.google.com/document/d/1BB9p2ltodrjFsh6O4gAvnHCc034Urjzhl-dvRABBUqo/edit#) to support KPIs

## Definition of Done
- [ ] TBD

[2020-11-14 04:09] denisecoveyduc opened #16189 "Social Media User Research"
## Description
A brief exploration of social groups for veteran pain points and learn more about what veterans are looking for but having trouble finding.

---
## Tasks
- [x] Define list of social groups to explore: r/veterans on Reddit and http://hadit.com
- [x] Define list of search keywords: “Can’t find”, “Looking for”
- [x] Explore and monitor social channels for related keywords related to se

[2020-11-14 04:27] denisecoveyduc opened #16190 "Rally Point Exploration"
## Description
It has been suggested that we connect with Laurent to explore https://www.rallypoint.com for discovery opportunities.

##RallyPoint  Info
- Site: https://www.rallypoint.com
- "Tap into a rich network of highly engaged members discussing all facets of life during and after military service."

## Tasks
- [ ] Connect with Lauren Alexanderson (@johnhashva can help make connection)

[2020-11-14 04:40] denisecoveyduc opened #16191 "IRIS Exploration"
### Description
Exploring IRIS for data insights.

### Background/Context/Resources
- Link to files

### Tasks
- [ ] TBD

### Definition of Done
- [ ] TBD

[2020-11-14 08:17] #14647 closed

[2020-11-14 08:18] U-DON commented on #14647
The broker running in AWS is already on 2.68+.

[2020-11-14 12:32] rtwell opened #16192 "Back to top polish"
## 1. Ensure this code and behavior is accessible.

pinging @jenstrickland  — see it in action [on this Resource page](https://www.va.gov/resources/signing-in-to-vagov/).

## 2. Add white space at footer

currently the button is kiss-fit with the footer, but we should leave some space there:

![image](https://user-images.githubusercontent.com/12564977/99146877-2d0a0980-264a-11eb-9a99-dac3b406a5dd.

[2020-11-14 15:08] jsev-io commented on #16097
[https://app.zenhub.com/files/133843125/4d9039b8-182f-479d-9b74-9eb41c78564f/download](https://app.zenhub.com/files/133843125/4d9039b8-182f-479d-9b74-9eb41c78564f/download)

@fowusu2 @jhouse-solvd
Please see attached, zipped, report. I think this should be sufficient. Please let me know if more is needed.

[2020-11-14 19:18] bethpottsVADEPO commented on #14282
**@RLHecht Here are the pages/edits to remove REAP crosslinks and mentions.**
- [ ] https://www.va.gov/careers-employment/dependent-benefits/  Remove bullet point from blue box
- [ ] https://www.va.gov/education/about-gi-bill-benefits/how-to-use-benefits/flight-training/  Remove the mention from the first bullet point and the two mentions (subhead and text link) under "What benefits can I get?"
-

[2020-11-14 19:19] DanielleThierryUSDSVA commented on #15967
## Notes from 11.13.20 meeting
@batemapf @youngfreezyVA feel free to add/change anything.

For long-term localization, we definitely need machine translation as part of the process in order to make translation sustainable across a large number of pages that are frequently updated. And we need to work with content in the CMS, as that is where our content authors will be creating English content. Fo

[2020-11-14 19:43] DanielleThierryUSDSVA opened #16193 "Gather SEO data on vaccines"
## Issue Description
We want to better understand what questions Veterans may have about coronavirus vaccines. As part of this we want to gather relevant SEO data.

---
## Tasks
- [ ] Pull SEO data on vaccine-related keywords
- [ ] Analyze for themes/questions

## Acceptance Criteria
- [ ] List of themes/questions
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this

[2020-11-14 22:50] bsmartin-ep commented on #15335
@jonwehausen / @bmcgrady-ep -

The workspace for #15196 has been updated to include the Design System changes for this (accordion, app stuff):

https://tagmanager.google.com/#/container/accounts/144676348/containers/2214120/workspaces/1000382

Thoughts on using the event itself to split between new and old implementations?

https://tagmanager.google.com/#/container/accounts/144676348/containers/22

[2020-11-14 23:09] bsmartin-ep commented on #15794
@jonwehausen -

Here is a GTM workspace with the new alert box link click changes:

https://tagmanager.google.com/#/container/accounts/144676348/containers/2214120/workspaces/1000386

[2020-11-15 00:12] bsmartin-ep commented on #13404
Hi @leahkeeler -

Jon asked me to take a look at this.

Are these specific page URLs that are behind the login?  Or are you looking for any /debtman/ page that a logged-in user is viewing?

I do see [these pages with a post login querystring](https://analytics.google.com/analytics/web/#/report/content-pages/a50123418w177519031p176188361/_u.date00=20201101&_u.date01=20201113&explorer-table.advFilte

[2020-11-15 01:25] bsmartin-ep commented on #12460
I refactored the funnel's dataset and cards to have a date column (and calculate `% of total` and `step completion %` dynamically).  You should be able to filter on date now.

https://va-gov.domo.com/page/290380612

[2020-11-15 01:35] bethpottsVADEPO commented on #15950
Email sent to stakeholders on Friday with this reworking of the page. Waiting for feedback or thumbs up. [https://app.zenhub.com/files/133843125/7d8f6b7f-b1ad-4ff2-b3c2-c06d2b9215a0/download](https://app.zenhub.com/files/133843125/7d8f6b7f-b1ad-4ff2-b3c2-c06d2b9215a0/download)

[2020-11-15 02:24] bethpottsVADEPO opened #16194 "Add content/accordions to Connected Apps FAQs in R&S"
## Issue Description
Need to add accordion content and links to new app directory per TJ Rice.

---
## Tasks
- [x] DO NOT IMPLEMENT NOW Once the app directory launches, change the CTA green button to "Find apps you can use" and link to the app directory.
- [x] Add H2: "Using connected apps" (First 2 accordions remain as is.)
- [x] DO NOT IMPLEMENT NOW Once the app directory launches in R&S, third

[2020-11-15 21:34] DanielleThierryUSDSVA commented on #16082
Hi @3obryandogs Just making sure you received this? Thanks.

[2020-11-15 21:35] 3obryandogs commented on #16082
Yes, thank you!

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Danielle Thierry <notifications@github.com>
Sent: Sunday, November 15, 2020 3:34:39 PM
To: department-of-veterans-affairs/va.gov-team <va.gov-team@noreply.github.com>
Cc: Susan O’Bryan <ObryanS@twd.com>; Mention <mention@noreply.github.com>
Subject: Re: [department-of-veterans-affairs/va.gov-team] Re

[2020-11-15 21:35] #16082 closed

[2020-11-16 00:10] DanielleThierryUSDSVA commented on #15614
Note: We'll be aiming to make these changes in the next week. We wanted to give R&S a little time live before pointing it to it from contact us page.

[2020-11-16 00:20] DanielleThierryUSDSVA commented on #15937
Hi @murrayra. Could you clarify for me what the need is here? Thanks!

[2020-11-16 00:25] DanielleThierryUSDSVA commented on #16048
Thanks, @CrystabelReiter! Per slack, I'll take a look at this early this week and  get back to you Monday or Tuesday.

[2020-11-16 00:31] #10670 closed

[2020-11-16 03:15] denisecoveyduc commented on #14371
@YanaRoy Can you remind me where I can find the skills matrix? I believe that is the final task outstanding for my onboarding ticket.

[2020-11-16 13:30] delli-gatti-michael commented on #15630
Tested by testrail test case:
https://dsvavsp.testrail.io/index.php?/runs/view/790&group_by=cases:section_id&group_order=asc

[2020-11-16 13:53] delli-gatti-michael commented on #15630
Local testing complete

![Screen Shot 2020-11-16 at 8.53.27 AM.png](https://images.zenhubusercontent.com/5c07f000391a6f6357adc430/82366c5c-ac4f-42b5-a779-e442e61a1c6b)

[2020-11-16 14:01] joanneesteban commented on #13102
Thanks for the tunnel fix, @amycesal Let's also add the tunnel table to be able to see the percentage dropoff.

[2020-11-16 14:03] joanneesteban commented on #16164
Thanks, @amyknox ! Do you have a date for when this tracking should be live in production?

[2020-11-16 14:06] joanneesteban commented on #12460
Awesome, thanks for your work here, @bsmartin-ep ! When we filter by date, it does look like the charts change. The title, however, continues to state "April 1, 2020 - Present." Is there a way to make the title dynamic?

[2020-11-16 14:14] kelsonic commented on #16090
Picking this one up 🙂

[2020-11-16 14:31] mnorthuis opened #16195 "VSP IA feedback - Staging review - HLR form"
IA Feedback - Staging review - HLR form

**Feedback framework**

- **Must** for if the feedback must be applied
- **Should** if the feedback is best practice
- **Consider** for suggestions/enhancements

## Description

**This feedback is only for the HLR form. The static content page changes and entry points were not available/complete for this review.  These elements will need to be reviewed at a

[2020-11-16 14:34] amyknox opened #16196 "CT: Track Analytics for FB Post"
Pull analytics for early November traffic to show impact of VA promotion for CT on Facebook.

[2020-11-16 14:41] shiragoodman commented on #15752
@allison0034 - added you to this ticket. Let me know if you have any questions.

[2020-11-16 14:46] jenstrickland opened #16197 "508-defect-3 [COGNITION]: Names SHOULD not be ALL-CAPS"
# [508-defect-3](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-3)

**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2020-11-16 14:48] RLHecht commented on #14282
@bethpottsVADEPO I removed the REAP mentions on those two pages and I disabled it in the left nav. Those changes should be life after today's deploy. I reached out to Peggy to find out the product team for the application and am waiting to hear back.

[2020-11-16 14:48] amyknox commented on #16196
Pulled in to support EDU request for tracking Facebook post traffic

[2020-11-16 14:50] abuckley3385 commented on #15019
I would change ( or we can change once we know our pilot appts) "All" to select appointments - so we are not saying everyone as I doubt that will happen.
![image.png](https://images.zenhubusercontent.com/5ede4fb2cea2fa1db922bc7f/f7be43f2-6236-4364-a0d3-c4f2033b447a)

Otherwise looks good

[2020-11-16 14:50] mnorthuis commented on #3822
@luke-gcio I reviewed the IA work done last December and most of it has been done.  The only work remaining is to add a link to the form in the left nav and add the appropriate content and CTA to the static page.  Both of these items are work that the Public Websites team would do.  If you have not submitted an intake request for that team for the work, I would do that asap and work with them on t

[2020-11-16 14:52] amyknox commented on #16196
![image.png](https://images.zenhubusercontent.com/5b51ea398c1a7628d9218a42/44ca4d92-dba9-489b-aaac-4b3b166be1c9)

[2020-11-16 14:53] andaleliz commented on #14930
Synthesis completed by Josh and Megan: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/public-websites/how-to-apply-wizards/discovery/research/wizard-migration-synthesis.md

@joshkimux and/or @mgleo can you please export your deck as a PDF and upload to this folder, and then close out this issue? Thanks again for all your help!

[2020-11-16 14:56] shiragoodman opened #16198 "16167"

[2020-11-16 14:58] andaleliz commented on #16055
@jenniferlee-dsva All the org charts and outstanding pieces have been added to the UXPin.  I also added a key finding to the supplement doc:

I think it'd be good to send this to the participating teams for review and give them a chance to offer any corrections. I shared my flow/team org charts with those teams that granted follow-up meetings but I'm sure they'd all like to see it in this format.

[2020-11-16 15:09] lwalsh617 opened #16199 "Review decision review copy in claim status tool"
While creating Resources and support pages, the Public Websites team noticed some outdated decision-review language that the claim status tool uses.
https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/applications/claims-status/utils/appeals-v2-helpers.jsx#L290
For example, it uses the term RAMP which has been replaced with the decision review process, and refers to the

[2020-11-16 15:16] mdewey commented on #14084
Current status:

- merged in master and in staging

Received [this comment](https://github.com/department-of-veterans-affairs/vets-website/pull/14802#issuecomment-728103905). TL;DR; Platform team is not changing the list loop for the time being.

@kristenmcconnell  and @abuckley3385, can you verify that is does not scoll in staging?

[2020-11-16 15:17] murrayra commented on #15937
Hi @DanielleThierryUSDSVA - because the OMB number has expired we're trying to figure out what to do.

- Do we need a new OMB Number when the content of the form changes?
- Can we use the same OMB number for our new form that existed on the previous form?
- Can we renew the OMB number if no new OMB number is required?

Any guidance on what to do or who we should speak would help...thanks!

[2020-11-16 15:19] mshea0606 commented on #13807
[Direct Deposit for Edu - Research Plan](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/direct-deposit/edu-direct-deposit/design/usability-testing/dd-edu-research-plan.md)

[2020-11-16 15:20] oragame opened #16200 "Access for Don Seymour - @department-of-veterans-affairs/vsp-operations"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Do not remove `operations` label; this will notify the VSP Operations team of your request
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Pleas

[2020-11-16 15:24] mmiddaugh opened #16201 "Missing "Get updates from us" block on VAMC system homepage"
## What happened?
 The "Get updates from us" block is missing from the VAMC system homepage, eg on https://www.va.gov/pittsburgh-health-care/

<details>
<summary> Expected behavior </summary>

![image.png](https://images.zenhubusercontent.com/5d8a47393ac3440001d1a2ed/ffe07b48-57c2-42da-8cf4-e038dc646800)

</details>

## Steps to Reproduce
- URL: ttps://www.va.gov/pittsburgh-health-care/
- Scroll t

[2020-11-16 15:26] delli-gatti-michael commented on #15978
Test case:
https://dsvavsp.testrail.io/index.php?/runs/view/791&group_by=cases:section_id&group_order=asc

[2020-11-16 15:35] RLHecht commented on #16146
@ncksllvn If I were to change these links to the pages they are on, is this how I would write them?

- https://www.va.gov/?next=/verifying-your-identity-on-vagov/
- https://www.va.gov/?next=/signing-in-to-vagov/

[2020-11-16 15:38] kristenmcconnell commented on #14084
It does not scroll from what I'm seeing.

[2020-11-16 15:39] #15541 closed

[2020-11-16 15:43] kristenmcconnell commented on #15019
@abuckley3385 That change makes sense to me, since our pilot isn't 100% nailed down yet.

@DanielleThierryUSDSVA I updated the Zeplin file with Amanda's suggested change.

[2020-11-16 15:48] denisecoveyduc commented on #15643
@bmcgrady-ep  I believe my email has been added for Bing. Are you able to provision as @jonwehausen outlined?

@mgleo  Were you able to add your email to Bing Webmaster Tools (see above)
@srsuddath Can you please also add your email to the Bing Webmaster tools using the link Jon provided above?

Thanks all! We are almost there ;)

[2020-11-16 15:51] #13770 closed

[2020-11-16 15:53] mgleo commented on #15643
Yes, I was able to add my email to Bing Webmaster Tools.

[2020-11-16 15:53] pjhill commented on #16169
Consider using the method described in the Cypress plugin docs [here](https://docs.cypress.io/guides/tooling/reporters.html#Installed-locally).

Specifically creating a reporter config file like --
`json { "reporter": "mochawesome" }`

and then having individuals wishing to execute tests with the TestRail reporter turned on use something like --
`shell cypress run --reporter mochawesome`

[2020-11-16 15:55] bethpottsVADEPO commented on #15660
Closing this.

[2020-11-16 15:55] #15660 closed

[2020-11-16 15:58] jbritt1 commented on #16200
### For AWS Access:

User: Don Seymour
COR: Jeff Hayter
Approval Required: @Jeff-Hayter

P.S. @Jeff-Hayter, Don is a member of the Operations team, are we able to bypass normal wait times for approval on this user?

[2020-11-16 16:01] jbritt1 commented on #16200
SOCKS access granted. Please continue with [the guide](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/engineering/internal-tools.md#configure-the-socks-proxy) to establish a connection to SOCKS proxy.

[2020-11-16 16:02] msmanak commented on #15905
common component:

[2020-11-16 16:07] jenstrickland opened #16203 "508-defect-2 [COGNITION]: Content structure MUST be organized clearly, and follow the Plain Language Guidelines"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix