[2021-04-12 15:52] peggygannon opened #23069 "Content Feedback - Midpoint review - VRRAP"
## User story
VSP content review of VRRAP.
Link to prototype: https://bahdigital.invisionapp.com/share/RMIAGJTSDEA#/screens
Link to content doc: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/education-careers/application/VRRAP/design/content-doc.md

## VFS acceptance criteria
- [ ] Let VSP know when the **Must** feedback has been incorporated
- [ ] Leave any co

[2021-04-12 15:54] joshkimux commented on #18569
<img width="1492" alt="Screen Shot 2021-04-12 at 11 53 51 AM" src="https://user-images.githubusercontent.com/14154792/114424047-c26fe200-9b85-11eb-8af9-370fa31e6eb8.png">

Confirmed this has been fixed! Great work 🥳

[2021-04-12 15:54] #18569 closed

[2021-04-12 15:55] gmaciolek commented on #22633
[Spreadsheet of what was changed](https://docs.google.com/spreadsheets/d/1fTS_JAp7RhXbybAgIzmfunPUZ-533yaPD_j48Xyvn7I/edit?usp=sharing).

- Deprecate BE tools Docs tab was used to point BE tools GH links to Platform Website
- Homepage MVP Links tab was used to handle the rest of the homepage MVP links

[2021-04-12 15:55] callen2563 commented on #21055
Ok, got it thanks!

[2021-04-12 15:55] #22633 closed

[2021-04-12 15:55] delli-gatti-michael commented on #22970
[Testrail test run](https://dsvavsp.testrail.io/index.php?/runs/view/1672)

[2021-04-12 15:56] MarciMcGuireGCIO opened #23070 "Discharge Upgrade Wizard - Change PDF link for Air Force respondents"
## User Story

_As a user I would like to have this feature because it would help me with this pain point_

## Expected Behavior

_Add expected behavior of the described feature here_

## Acceptance Criteria

- [ ] _Add bulleted list of all the task that bust be finished for the feature to be consider finished & ready to merge_

[2021-04-12 15:56] MarciMcGuireGCIO opened #23071 "Discharge Upgrade Wizard - Change PDF link for Air Force respondents to a link to AFRBA portal"
## User Story
As a member of the US Air Force who uses the Discharge Upgrade Wizard (the Wizard literally branches users by service), The Air Force would now like us to direct users to their Air Force Review Boards Agency portal (AFRBA) https://afrba-portal.cce.af.mil/#portal -- and we've been asked to route users of the wizard to that portal vs. providing a link to the PDF form as a download.

<i

[2021-04-12 15:57] ajakabcin opened #23072 "[FE] My VA - (Pre QA) "Learn how to file a claim for disability" links to wrong page"
The "Learn how to file a claim for disability" should link to the "[How to file a VA disability claim](https://www.va.gov/disability/how-to-file-claim/)" page. On staging, it's incorrectly directing the user to main [VA disability compensation](https://www.va.gov/disability/?_ga=2.202684881.1190016477.1618237465-1696807371.1617981758) page.

**Current State**
![23072 Incorrect link for how to file

[2021-04-12 15:57] bessgreen commented on #22723
@bridgethapner @drjecker thank you both! we'll keep this in the MVP backlog as a nice-to-have if we're able to get to it for app store launch.

I've updated the ticket based on what we know (both screens will use the mobile alert CC w/ yellow tab), so all we would need here is final copy. I started workshopping some of the content in the AC above, but i'll leave this ticket tagged w/ the **Awaitin

[2021-04-12 15:58] joshkimux commented on #19733
<img width="1208" alt="Screen Shot 2021-04-12 at 11 58 11 AM" src="https://user-images.githubusercontent.com/14154792/114424684-5cd02580-9b86-11eb-8825-ae2d73675ca8.png">

Confirmed this page has been split. One thing per page is beautiful! 🥳

[2021-04-12 15:58] #19733 closed

[2021-04-12 16:02] MarciMcGuireGCIO commented on #23070
Closing; duplicate

[2021-04-12 16:02] #23070 closed

[2021-04-12 16:02] MarciMcGuireGCIO commented on #21944
Splitting this into three distinct issues:

1) Immediate bug fix via updating PDF link to reference older DD0419 PDF version (will remain under this ticket)
2) Restore newer DD0419 PDF version in combination with download instructions  #23068
3) Change to point Air Force respondents to e-Application portal  #23071

[2021-04-12 16:03] ajakabcin opened #23073 "[FE] My VA - (Pre QA) "Learn how to apply for education benefits" links to wrong page"
The "Learn how to apply for education benefits" should link to the "[How to file apply for the GI Bill and related benefits](https://www.va.gov/education/how-to-apply/)" page. On staging, it's incorrectly directing the user to the [main VA education and training benefits page](https://www.va.gov/education/?_ga=2.222141016.1190016477.1618237465-1696807371.1617981758).

**Current State**
![23073 inc

[2021-04-12 16:12] delli-gatti-michael commented on #22970
Local testing complete

[2021-04-12 16:21] rtwell commented on #21929
forgive my ignorance, but where might i see this in staging (or w/e environment)

[2021-04-12 16:26] katieho-va opened #23074 "Collaboration Cycle Kickoff [Virtual Agent]"
## Steps to complete Collaboration Cycle Kickoff
- [ ] VFS Product Manager: Create this issue and fill in your team and feature name in the title.
- [ ] VFS: Answer the questions below.
- [ ] VFS: Link to this issue once created in vfs-platform-support in Slack; tag @vsp-product-support-members.
- [ ] VFS: Attach any available artifacts.
- [ ] VSP: Review the responses and comment in ticket with r

[2021-04-12 16:40] LanceGundersen opened #23076 "Homepage Refresh Appointment Card Details Link Broken"
## What happened?
When clicking on the appointment details link the type is doubled in the url string e.g. `va/va/` or `cc/cc/`

## Specs:
- Device: (e.g. iPhone 8, Macbook)
- Browser: (e.g. Firefox, IE 11)
- Test User _(if applicable)_:

## Steps to Reproduce
- URL: http://localhost:3001/health-care/schedule-view-va-appointments/appointments/
- Test User _(if applicable)_:

## Desired behavior
Sh

[2021-04-12 16:42] Samara-Strauss commented on #15247
Thanks, @joshkimux! Do we have an estimate on when we should get results back, or is that kind of hard to say right now? I'm mostly curious, so no worries on whatever the answer/timeline is.

[2021-04-12 16:42] tlei123 opened #23077 "Questionnaires MVP - This Visit - VSA-QA Test Plan"
\[**Product Managers**: Open this ticket **at least 2 Sprints** before you expect a Platform Staging Review of this Product/Feature.  Then:
- Add yourself to Assignees
- Fill-out sections below.]

## Product/Feature summary

- Product/Feature Outlines:
  - [Product Outline (Questionnaires)](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire

[2021-04-12 16:56] zacharymorel commented on #21944
@johnhashva @MarciMcGuireGCIO
I'm looking at this React Component, if we get to pick up Discharge Wizard and add it to our current wheel house of Tools to support, there's some serious opportunity for updating the inner workings of the application. This App has not been touched in 3 years (as far as updating code is concerned).

[2021-04-12 16:57] zurbergram commented on #22199
Sample CSV update - https://github.com/department-of-veterans-affairs/gibct-data-service/pull/803

[2021-04-12 17:02] sporeboy commented on #22665
PNGs uploaded: https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/identity-personalization/direct-deposit/edu-direct-deposit/design/images

[2021-04-12 17:04] delli-gatti-michael commented on #22924
[Testrail test case](https://dsvavsp.testrail.io/index.php?/runs/view/1673)

[2021-04-12 17:04] delli-gatti-michael commented on #22924
Local testing complete

[2021-04-12 17:07] RLHecht commented on #23016
@bethpottsVADEPO These are my suggested content edits so that it matches what we have on other how to apply pages. I based the directions off of what we have for other benefits. I also shortened the button text to VR&E, but I don't know if that's OK:

H2: How do I apply if I already have a VA disability rating?
You can apply online right now.

CTA button: Apply for VR&E

H2: You can also apply:

H

[2021-04-12 17:10] jhouse-solvd commented on #21742
it looks like this setting might actually be 151M at current, according to [this config](https://github.com/department-of-veterans-affairs/devops/blob/master/ansible/deployment/config/revproxy-vagov/templates/base-shared.conf.j2#L56), which is global. ops would need to parameterize this so that we can up the setting in dev only.

will leave this up to the ops engineers to decide and implement, but

[2021-04-12 17:13] k80bowman commented on #22456
PR: https://github.com/department-of-veterans-affairs/vets-design-system-documentation/pull/427

[2021-04-12 17:14] timwright12 commented on #12423
@indytechcook thanks! I'll update the title of this ticket to reflect that

[2021-04-12 17:14] bramleyjl opened #23078 "Test User Account Dashboard Post-MVP"
## Product Outline
[Link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/product-management/product-outline-template.md)

## High Level User Story/ies
As a _____, I need _____ so I can _____.

## Hypothesis or Bet
**If** _we make this change_ **then** _we expect this to happen_.

## OKR
_Which Objective / Key Result does this epic push forward?_

## Definition o

[2021-04-12 17:27] bramleyjl opened #23079 "Manual Login.gov Test User Accounts"

[2021-04-12 17:27] AngelaFowler82 commented on #15247
My goal is to have it done by the end of tomorrow.

From: Samara Strauss ***@***.***>
Sent: Monday, April 12, 2021 9:43 AM
To: department-of-veterans-affairs/va.gov-team ***@***.***>
Cc: AngelaFowler82 ***@***.***>; Assign ***@***.***>
Subject: Re: [department-of-veterans-affairs/va.gov-team] Full Accessibility & 508 Office Audit [Profile 2.0] (#15247)

Thanks, @joshkimux <https://github.com/joshk

[2021-04-12 17:29] Samara-Strauss commented on #15247
Thanks for letting us know!

[2021-04-12 17:29] Samara-Strauss commented on #22665
Thank you!

[2021-04-12 17:29] #22665 closed

[2021-04-12 17:29] erikphansen commented on #22568
I've determined that if there is an upstream error with MVI/MPI, we might not be able to determine if someone has the claims and/or appeals service. So we should show an error in place of the Claims and Appeals if there is an error connecting to MPI.

Taking a step back, I think what this really points to is _the need for a general error state when there is an error connecting to MVI/MPI_. This wo

[2021-04-12 17:35] bramleyjl opened #23080 "Test User Account Dashboard: Manual Account Checkout"

[2021-04-12 17:51] #22456 closed

[2021-04-12 17:54] #22630 closed

[2021-04-12 17:55] johnhashva commented on #21944
Good idea @zacharymorel .   @MarciMcGuireGCIO can you take a look in GA to see how popular this tool/wizard is?  BE good to have that in mind as we decide prioritization.

[2021-04-12 17:55] zurbergram commented on #16164
@jonwehausen For

Would you like the value 'small' to be passed in?

The ratings accordions are responsive and do not have a predetermined width.

For the smaller accordions within the larger "Estimate your benefits" accordion, `'accordion-size': 'small'` is sent to Google Analytics, the large ones send `'accordion-size': 'full-content-width'`.

[2021-04-12 17:59] tressaellen commented on #22928
I've added all of these - but I'm going to keep this open in case anything else comes up.

[2021-04-12 18:00] dmccurdybah commented on #22680
![image.png](https://images.zenhubusercontent.com/5bb388cc38a73929698456e2/e498f8f2-f0fe-4595-99b7-369bf30cabe9)

Secondary Action Link class doesn't seem to be in available in build yet.

[2021-04-12 18:01] joshkimux commented on #19696
I'm experiencing some bugs where focus will always reroute to the add password field 😕

https://user-images.githubusercontent.com/14154792/114439207-bdfff500-9b96-11eb-9047-28ce880a2865.mov

Also, the error for an incorrect password isn't being announced 😦

https://user-images.githubusercontent.com/14154792/114439901-804f9c00-9b97-11eb-9c65-f4a41bbbf9db.mov

[2021-04-12 18:02] starlow00 commented on #22767
Thanks, @jason-gcio . This looks great. I'll make sure VEO gets copies.

[2021-04-12 18:05] zurbergram commented on #16164
@jonwehausen For

Can this be a decimal number value or does it need to be a String?

[2021-04-12 18:06] johnhashva commented on #21929
@rtwell here you go:

https://staging.va.gov/campaign-mission-act/
PW: clptest123

[2021-04-12 18:07] MarciMcGuireGCIO commented on #21944
Here's March.  Significant traffic on the landing page, but then a sizeable dropoff for the questions themselves.
![image](https://user-images.githubusercontent.com/73354907/114440714-7712ff00-9b98-11eb-9c59-a3cc6eacf68d.png)

[2021-04-12 18:10] zurbergram commented on #22199
https://github.com/department-of-veterans-affairs/vets-website/pull/16751

[2021-04-12 18:10] mnorthuis commented on #22836
There is no IA feedback, but I do have one small question.  Regarding the button on the confirmation page for "Go back to VA.gov"...wondering if it would be more helpful to return them to the static page for the program, so they can review any additional information rather than the home page?

[2021-04-12 18:10] MarciMcGuireGCIO commented on #21944
By comparison, Yellow Ribbon had 80k total pageviews/18k unique pageviews during the same period.

[2021-04-12 18:12] jonwehausen commented on #22168
@laurensimpson14 I have branched out the container version number changes into their own workspace and published to dev+staging.

In order to test this, we can now fire any event within staging.va.gov and using GA console debug (not preview mode) we can see the value populate.

Once your QA is added here we can then finish that portion by publishing GTM version `389` to production.

![image](https

[2021-04-12 18:13] brangi opened #23081 "Replace document.getElementById with React refs"
See this [article](https://www.javascriptstuff.com/use-refs-not-ids/ ) for more info

[2021-04-12 18:15] johnhashva commented on #21944
@MarciMcGuireGCIO and @zacharymorel Sounds like a good product for us to make part of our consideration set for tweaking, enhancement -- along with ongoing maintenance.   You two think it through in context to our other products, priorities and sprint planning.

[2021-04-12 18:16] MarciMcGuireGCIO commented on #21944
Agreed!  Will do!  Thanks, @johnhashva

[2021-04-12 18:22] mchelen-gov commented on #22563
@drorva can you coordinate this since it relates to feature flipper work?

[2021-04-12 18:23] joshkimux commented on #15247
@Samara-Strauss @AngelaFowler82
Given that we're still catching up on other full a11y audits, there is not hard deadline for us to get this back. Please feel free to work on this based on your availability!

[2021-04-12 18:24] bessgreen commented on #22463
Per feedback from Jen: prioritizing this ticket ahead of AH's SM demo on 4/15.

[2021-04-12 18:25] jenniferlee-dsva opened #23082 "Bug: Meta titles on Outreach hub pages are not using standard formatting and style"
## What happened?
_Meta titles (i.e., browser titles) in the Outreach hub are not consistently formatted as [per the VA.gov content style guide](https://design.va.gov/content-style-guide/seo#title-tags). Screenshots attached._

## Specs:
- Device: Various ( Macbook, HP)
- Browser: Various (Firefox, Chrome)
- Test User _(if applicable)_: n/a

## Desired behavior
_The meta title style on hub pages s

[2021-04-12 18:29] joshkimux commented on #15247
@Samara-Strauss @AngelaFowler82
I just reviewed the test case document and there appears to be 29 different logins that we may need to review. I'm guessing that this will go by quickly since there will be a good amount of overlap, but I think it's fair to estimate out this review for at least 1-2 weeks to complete.

[2021-04-12 18:30] digitalken commented on #21276
PASS 4/12/2021 - Looks good on Android and iOS, both UI and accessibility.

[2021-04-12 18:30] #21276 closed

[2021-04-12 18:38] vhenry07 opened #23083 "Notice of Disagreement VSA-QA Test Plan"
\[**Product Managers**: Open this ticket **at least 2 Sprints** before you expect a Platform Staging Review of this Product/Feature.  Then:
- Add yourself to Assignees
- Fill-out sections below.]

## Product/Feature summary

Allow veterans to file decision reviews using VA.gov

- [Product/Feature Outline](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/decision-r

[2021-04-12 18:40] amyknox commented on #22580
@allison0034 @rtwell
Our team was working on this launch-blocking update but hit a snag.  The Secondary action link styling isn't available to our devs yet.  Do you have an ETA for this design component?  Can we scale it back to a "should" and proceed with secondary, blue buttons?

![image](https://user-images.githubusercontent.com/41081945/114444452-edb1fb80-9b9c-11eb-804d-ec9190bf0ff3.png)

[2021-04-12 18:43] MarciMcGuireGCIO commented on #23068
Noting that we may want to consider some research to determine if this change will confuse users or discourage them from accessing the form if they have to download it locally.

[2021-04-12 18:45] Samara-Strauss commented on #22928
Sounds good! Thank you!

[2021-04-12 18:46] RLHecht opened #23084 "Add text to COVID FAQs page about calling MyVA411 to get help in other languages"
## Issue Description
Veterans who speak another language and have more questions about COVID-19 can call MyVA411 to ask a call center agent for a translator in the following languages:

Afrikaans, Akan, Albanian, Amharic, Arabic, Armenian, Ashante, Assyrian, Azerbaijani, Azeri, Bajuni, Bambara, Basque, Behdini, Belorussian, Bengali, Berber, Bosnian, Bravanese, Bulgarian, Burmese, Cakchiquel, Cambo

[2021-04-12 18:46] Samara-Strauss commented on #15247
Sounds good! Thank you!

[2021-04-12 18:52] digitalken commented on #22425
Added to TestRail.

[2021-04-12 18:53] digitalken commented on #22425
4/12/2021 - Not ready to be tested yet, needs the compose message form.  Setting to QA Blocked.

[2021-04-12 18:54] digitalken commented on #21279
4/12/2021 - I've not found a user where I'm able to test this yet.  Setting to QA Blocked for now.

[2021-04-12 18:54] digitalken commented on #22424
4/12/2021 - QA blocked at this time until I get a compose message form.

[2021-04-12 18:55] vhenry07 opened #23085 "Create Use Cases - NOD"
## Issue Description
Preparation for Staging Review. QA artifacts

---
## Tasks
- [x] Use [use case template](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/design/product-use-cases-template.md) to prepare NOD use cases.

## Acceptance Criteria
- [x] Uses case template to completed and create link in [Test Plan ticket](https://github.com/department-of-veterans-

[2021-04-12 18:55] digitalken commented on #21278
4/12/2021 - Don't have a user where I can test this yet. Setting to QA blocked for now.

[2021-04-12 18:56] jenniferlee-dsva commented on #23082
Note - the specific event pages do not have a meta title field in the CMS. The FE in such cases should always pull from the H1, making it inital caps, to generate a FE meta title using the design system standard:

`H1 Text In Initial Caps | Veterans Affairs`

[2021-04-12 19:01] allison0034 commented on #22580
@CrystabelReiter @bkjohnson per @amyknox 's comment above, do either of you know when the secondary action link styling will be available for devs?

[2021-04-12 19:04] starlow00 commented on #22767
Sent to VEO for review. If no changes by 4/15, will close.

[2021-04-12 19:06] #22993 closed

[2021-04-12 19:16] ala-yna opened #23087 "Midpoint Review [VSA Caregivers, Sign as a Representative)"
## Steps to complete Midpoint Review
- [x] VFS Product Manager: Create this issue and fill in your team and feature name in the title.
- [x] VFS: Link to this issue once created in [#vfs-platform-support](https://dsva.slack.com/channels/vfs-platform-support) in Slack; tag @vsp-product-support-members.
- [x] VSP: Schedule meeting with VSP reviewers and VFS team attendees (listed below).
- [x] VFS:

[2021-04-12 19:22] bcastoe commented on #22648
#22648 Compile and document all STAFF PROFILES for VISN-22 (BA) - Completed and moved to Validate.

[2021-04-12 19:23] #21607 closed

[2021-04-12 19:25] bessgreen opened #23088 "Remove placeholder text in form dropdowns/input fields"
## Acceptance Criteria
1. For input fields, remove the placeholder text that appears _(currently, it only displays on Required fields)_
2. For dropdown fields, remove the placeholder text that appears as the first option in the picker menu
2. The placeholder **option** should still exist, so that a user can select an empty row. However, the app should not display any text in the placeholder row. T

[2021-04-12 19:25] erikphansen commented on #22533
@sanlouise can you take this one?

[2021-04-12 19:26] digitalken opened #23089 "Inbox - When there are no messages, "You don't have any messages in your Inbox" should be marked as header 2"
## What happened?
I'm not hearing "You don't have any messages in your Inbox" marked as a header with Talkback/VoiceOver.

## Specs:
From the story:
Accessibility Acceptance Criteria
Mark "You don't have any messages in your Inbox" as Header 2

## Steps to Reproduce
Listen to VoiceOver / Talkback on the empty Inbox message.

## Desired behavior
You don't have any messages in your Inbox" is marked

[2021-04-12 19:27] jonwehausen commented on #23062
@joanneesteban

Chloe has been provisioned access to GA, BQ, and DOMO:
- GA: Collaborator
- BQ: Project browser and BigQuery Admin
- DOMO: Admin

She should have received an email for all of these.

[2021-04-12 19:27] #23062 closed

[2021-04-12 19:28] digitalken commented on #21278
PASS 4/12/2021 - Looks good in iOS and Android.  Accessibility bug is logged - When there are no messages, "You don't have any messages in your Inbox" should be marked as header 2.

https://app.zenhub.com/workspaces/va-mobile-app-5f205eac3155a2000f422ecb/issues/department-of-veterans-affairs/va.gov-team/23089

Closing as bug is being tracked.

[2021-04-12 19:28] #21278 closed

[2021-04-12 19:28] laurensimpson14 commented on #22168
@jonwehausen I'm seeing the GTM version being collected in staging (see photo below).

![image](https://user-images.githubusercontent.com/80417436/114450207-babf3600-9ba3-11eb-85a6-8548b67e7d7e.png)

[2021-04-12 19:29] aarathi-poldass opened #23090 "VAOS AWS Staging 404 errors - Error occurs when expanding the appointment details"
## What happened?
Login to VAOS with a Test user and then all the appointments will be displayed on the landing page. Click on the Arrow sign to expand more details on the appointment.

## Steps to Reproduce
1) Log in VAOS with the test user (Ex:-Judy.morrison@id.me)
2) The user is directed to the VAOS landing page 
3) Validate the your appointments are displayed 
4) Click on the arrow sign to dis

[2021-04-12 19:29] ddzz opened #23091 "Investigate Cypress tests hanging on Jenkins"
Multiple teams have reported that Cypress tests hang indefinitely while running on Jenkins. Individual tests fail and then hang on the first retry. Cypress does not give any failure output after it hangs. This task is to determine the cause of these failures and to find a fix.

[2021-04-12 19:31] #22691 closed

[2021-04-12 19:31] #20168 closed

[2021-04-12 19:34] DanielleThierryUSDSVA commented on #23084
Thank you, @RLHecht! I'd love to get a few variations to the translation service so we can use whichever makes the most sense contextually as we need to.

@clantosswett I've based the text here on Trish's info from VEO's translation presentation. Sounds like agents have access 24/7 to interpreters in 200 different languages who can join the call and work with the agent to provide in-language assis

[2021-04-12 19:38] rtwell commented on #21929
perfect, tyvm john

1. [actions links](https://design.va.gov/components/action-links) should not have a `>` at the end. the first couple instances don't have them, but the rest do. example:
![image](https://user-images.githubusercontent.com/12564977/114450956-aaf42180-9ba4-11eb-9492-909fffb2bd84.png)

2. it looks like there is a space character that is getting underlined before the first letter in

[2021-04-12 19:39] #22970 closed

[2021-04-12 19:39] delli-gatti-michael commented on #22970
Changes are staging. closing this issues

[2021-04-12 19:47] ala-yna opened #23092 "[Caregivers/Sign as a Representative] VSA-QA Test Plan"
\[**Product Managers**: Open this ticket **at least 2 Sprints** before you expect a Platform Staging Review of this Product/Feature.  Then:
- Add yourself to Assignees
- Fill-out sections below.]

## Product/Feature summary

\[Provide brief summary of product/feature to be tested on Staging by VSA-QA. Also, be sure to include links to the Product/Feature Outline, Epic, Pre-Launch Checklist, and De

[2021-04-12 19:49] delli-gatti-michael commented on #22939
Changes are on staging. Closing this issue

[2021-04-12 19:49] #22939 closed

[2021-04-12 19:51] #21279 closed

[2021-04-12 19:51] digitalken commented on #21279
PASS 4/12/2021 - Looks good in both Android and iOS.  Accessibility OK, too.  Closing.

[2021-04-12 19:52] kathleencrawford commented on #19466
Devops PR submitted here: https://github.com/department-of-veterans-affairs/devops/pull/8938

Julian from devops added what we needed to credstash.

[2021-04-12 19:54] bkjohnson commented on #22580
@amyknox, the secondary action link styling should already be available under the name `va-action-link--white`.

It can be seen as the [third action link here](https://design.va.gov/storybook/?path=/docs/components-action-link--page).

[2021-04-12 20:02] indytechcook opened #23093 "[pre-launch] Create new web hook for packagist in content-build repo"
## Issue Description
A new webhook needs to be created in https://github.com/department-of-veterans-affairs/content-build to send code to packagist.  This webhook already exists on `vets-webstie` but also needs to be on `content-build`. Packagist is the package manager for PHP.  The CMS pulls in the vets-website as a package.

Instructions for the webhook:

Payload URL: https://packagist.org/api/g

[2021-04-12 20:05] MarciMcGuireGCIO commented on #20257
Cassandra reviewed and determined that the existing search tip is consistent with other VA.gov search tools and should provide enough guidance on improving the search term.

[2021-04-12 20:05] #20257 closed

[2021-04-12 20:07] RLHecht commented on #23058
This work is complete. Closing ticket.

[2021-04-12 20:07] #23058 closed

[2021-04-12 20:08] RLHecht commented on #23057
This work is completed. Closing ticket.

[2021-04-12 20:08] #23057 closed

[2021-04-12 20:08] MarciMcGuireGCIO commented on #23071
Contacting Alexander Reger to let him know we are encountering a cert-related privacy error when accessing https://afrba-portal.cce.af.mil/#portal from outside the VA network.
[Privacy error.pdf](https://github.com/department-of-veterans-affairs/va.gov-team/files/6299523/Privacy.error.pdf)

[2021-04-12 20:10] zacharymorel commented on #23071
I'm not  100% certain this is it, but I am pretty sure there's an issue with the certificate of the website or a privacy related issue.

[2021-04-12 20:12] Kennon-git commented on #21573
in prod. first use case is the ad hoc messages tab. permission vs role.
rob needs to tighten functionality to make it user friendly.

[2021-04-12 20:12] #21573 closed

[2021-04-12 20:13] delli-gatti-michael commented on #22925
The form can now be accessed by any user. Closing this issue

[2021-04-12 20:13] #22925 closed

[2021-04-12 20:17] Kennon-git commented on #21575
for now - refactoring etc needs to wait for projects like the clipboard integration and high priority bugfixes. Once those are squared rob can go back to the rearchitecture that needs to take place

[2021-04-12 20:18] zurbergram opened #23094 "generator-vets-website creates routes with an object instead of an array of objects"
## What happened?
_Describe in detail what went wrong; screenshots, videos, or gifs are strongly encouraged_
generator-vets-website creates the routes.jsx file and exports a single object, however this causes routing issues if not put into an array
## Specs:
- Device: (e.g. iPhone 8, Macbook)
- Browser: (e.g. Firefox, IE 11)
- Test User _(if applicable)_:

## Steps to Reproduce
- make a form
- pus

[2021-04-12 20:18] outerpress commented on #19468
I captured calendar language in the [ICS column in this spreadsheet](https://docs.google.com/spreadsheets/d/17iq2C8Ghz11Hy5n57DcMslA7yMYlccUNrRYfdu5bfew/edit?ts=60368245#gid=0)

A couple of notes:
* The HTML isn't meant to show what the final state should be, I'm just using it to show layout (line breaks, links, etc.)
* I'm assuming we can link directly to the appointment's detail page from a cale

[2021-04-12 20:18] MarciMcGuireGCIO commented on #22885
@callen2563 @mgleo @lildziner please add links to your Sketch files and any other design artifacts to this ticket by EOD this Thursday in preparation for the design intent review.  Thanks!

[2021-04-12 20:20] Kennon-git commented on #20799
kennon to look at documentation and see how it can live with what we have for new process

[2021-04-12 20:24] Kennon-git commented on #21885
done and in staging. mobile apps team is testing it. done pending issues. Andy to research other possible solutions ( shane has asked)

[2021-04-12 20:26] outerpress commented on #18411
@peggygannon we've made most of the changes, the rest I've added to a new content review ticket that includes user feedback and a few other things we found along the way. So I'm closing this one and I'll add you to the new one: https://app.zenhub.com/workspaces/vaos---productdesign-5fff340c2d80a4000fb6f69c/issues/department-of-veterans-affairs/va.gov-team/23018

Thanks!

[2021-04-12 20:26] #18411 closed

[2021-04-12 20:26] peggygannon commented on #23069
@amyknox VSP content review for VRRAP form. Please let me know if you have any questions.

**Questions/thoughts**

1.	Form screen 1 has a lot of different components and content.
Per design and content principles listed below, content/components should be broken down into smaller steps and or content chunks.
- Focus users on the primary task, free of distractions. Break complex tasks into small lo

[2021-04-12 20:27] Kennon-git commented on #22291
released in to prod. functionality is out. waiting on communication to sites and config for their VEText setup.

[2021-04-12 20:27] #22291 closed

[2021-04-12 20:28] outerpress commented on #23018
@peggygannon adding you for visibility, we'll run through these at our next sync before you start reviewing.

[2021-04-12 20:29] mmiddaugh opened #23095 "Add COVID-19 vaccine info - phone and page (FL)"
## Issue Description
Bring local COVID-19 vaccine info from Lighthouse to Facility Locator.

See below for new fields.

![https___staging-api_va_gov_v1_facilities_va_bbox___-79_43_bbox___35_03_bbox___-77_93_bbox___36_53_type_health_services___Covid19Vaccine_page_1_per_page_20_radius_11_latitude_35_78_longitude_-78_68](https://user-images.githubusercontent.com/80267/115576831-dd330c80-a291-11eb-820

[2021-04-12 20:40] cbtkc opened #23096 "Bridge GitHub Actions and Jenkins"
AC:
- [ ] Github action exists that triggers jenkins deployment for non-prod environments (For master only)
- [x] Remove CI jobs in Jenkins

[2021-04-12 20:53] amyknox commented on #22580
Thanks @bkjohnson - we'll take a look and get back to you if we have any questions.

[2021-04-12 20:54] MarciMcGuireGCIO commented on #17358
John mentioned this in our March meeting with the VA stakeholders and Adrienne Hooten should be getting back to us with a contact.

[2021-04-12 20:55] bridgethapner commented on #20511
Bridget / Ashley / Ayush met today to keep sketching out UAT approach (Google doc link above).

**Next steps:**
- Refine recruiting criteria
- Refine test questions
- Prioritize test questions

I can take the lead on these follow-up items & @ashley-matthews I will probably tag you in the GDoc to get your feedback - would love your POV on all the things.

[2021-04-12 20:57] MarciMcGuireGCIO commented on #19170
Updating this ticket since we are pivoting to putting scoring logic into the Forms API.  Since the Lighthouse team will have direct access to query the Postgres database, we can create much cleaner scoring and ranking logic than what we would have needed to do on the front-end.  I will request another meeting with Nichole and Mark so we can clarify.

[2021-04-12 20:57] brianalloyd commented on #16749
@jonwehausen would it possible to link up this week after you've had a change to validate CTA buttons are firing and data is being tracked appropriately.  I would like to build a rough GA dashboard for this data that we might be able to share with stakeholders forward and would like to just talk through options with you.  LMK, thanks.

[2021-04-12 21:09] shiragoodman commented on #23087
hey @ala-yna  - I've scheduled your asynch review for Thursday, meaning you will received feedback by EOD. no meeting will be held.

[2021-04-12 21:10] Kennon-git commented on #22654
1) messages sent
a. submitted
b. review>staged
c. staged>in progress (will get multiple if in large cohort)
d. in progres>complete

- [ ]  message text (justin / julia)
- [ ] structural changes in db (andy)
- [ ] background process that goes through cohort and looks for status changes that trigger these messages (rob)

[2021-04-12 21:13] allison0034 commented on #22885
@MarciMcGuireGCIO we currently do not have an opening Tuesday April 20 at 2:30. For that date we have 11 or 11:30.

[2021-04-12 21:14] erikphansen commented on #22568
Oh [we already have a ticket](https://github.com/department-of-veterans-affairs/va.gov-team/issues/22656) for the what I just described above ☝️

[2021-04-12 21:15] erikphansen commented on #22656
Earlier today I rediscovered that this is a state we'll need to handle. Perhaps [my mini brain dump](https://github.com/department-of-veterans-affairs/va.gov-team/issues/22568#issuecomment-817992382) is helpful.

[2021-04-12 21:16] erikphansen commented on #22568
I'm going to close this. [Handing MPI errors](https://github.com/department-of-veterans-affairs/va.gov-team/issues/22656) is the path forward here.

[2021-04-12 21:16] #22568 closed

[2021-04-12 21:16] MarciMcGuireGCIO commented on #22885
I'm sorry; I was looking at the design office hours window and not the Collab Cycle window.  Let me see if I can find another slot that works.  With so many designers and teams involved, it's a challenge.

[2021-04-12 21:18] amyknox commented on #23069
@peggygannon - I'm so sorry! We've been moving quickly on this and in the process, a [new prototype was spawned](https://bahdigital.invisionapp.com/share/CUIAGI923MB). As you'll see, this one DOES match the content doc.

I think we can incorporate all the musts except this one, which for some reason, the Education Service team has pushed back on strongly:

--First bullet point should read: Between

[2021-04-12 21:19] cgreim commented on #23030
potential path forward: use VA.gov for most of the app, Secure Messaging ATO for that feature

[2021-04-12 21:24] mpelzsherman commented on #22960
Blocked until Jenkins build issues have been resolved.

[2021-04-12 21:25] MarciMcGuireGCIO commented on #22885
Please schedule us for 11:30 on 4/20.  Trying to shift some things around.  Thank you! 😄

[2021-04-12 21:37] #23031 closed

[2021-04-12 21:47] ambikaroos opened #23097 "Post-Launch UAT"
## Description
After the app is distributed to app stores, we will do UAT to ensure things are working as expected

**Acceptance Criteria**

## Reference Documentation

## Tasks, Notes, Status

[2021-04-12 21:50] ddzz opened #23098 "QA Feedback - Midpoint Review - Booz Allen Education Applications - VRRAP"
## Thoughts/questions
Feedback for https://github.com/department-of-veterans-affairs/va.gov-team/issues/22836.

Great work on testing the feature and logging everything in TestRail!

## Feedback
- **Must** = the feedback must be applied
- **Should** = the feedback is best practice
- **Consider** = suggestions/enhancements

**Must:**
None

**Should:**
- TestRail test cases should be tested on multi

[2021-04-12 21:51] 1Copenut commented on #20134
@lunascoop I took a look at this PDF, and there's a few issues with it. I'll divide my comment into automated scanning issues, and usability with a screen reader.

## Automation
* The title is not set
* Several figures including the arrow and highlighted fields do not have alt text

## Screen reader usability
* The text blocks are not in a left to right, top to bottom reading order
* The arrow and

[2021-04-12 21:53] ambikaroos opened #23099 "Additional Integration Testing"
## Description
We currently do integration testing on staging – we want to do this in production? If so, how?

## Notes & Tasks
- Some of this will be covered with internal friendly testing, and UAT
- Not realistic to get production test accounts
- Can someone from VA.gov test?
- We test everything in staging very thoroughly (every integration, every screen, error states)

[2021-04-12 21:54] ambikaroos opened #23100 "Smoke Testing"
## Description
Do we want to do any smoke testing pre-launch? With production data?

## Tasks & Status
**4/20**
- Jonathan to talk to Alastair

[2021-04-12 21:56] ambikaroos commented on #23040
Helps us prove to App Stores that we are actually VA

[2021-04-12 21:58] cindymerrill commented on #22144
Revised some of the research plan per feedback from Meg Peters. John shared it with the search team; no feedback from there. Will hear Shawna's feedback and discuss with her, John, and Meg on Thursday (4/15).

[2021-04-12 21:59] #20559 closed

[2021-04-12 21:59] digitalken commented on #20559
PASS 4/12/2021 on Android and iOS.  Closing.

[2021-04-12 22:00] laurenernest opened #23101 "Appointment details-remove reschedule"
## Summary
The appointment reschedule functionality will be implemented as a separate initiative from the homepage refresh work (though dependent on it). Links and CTAs to reschedule should not appear.

## Steps to Reproduce
**Test User:** Judy

1. Go to: https://staging.va.gov/health-care/schedule-view-va-appointments/appointments/va/202112131300984000358300000000000000#

### Actual Result
Resche

[2021-04-12 22:20] mmiddaugh commented on #22649
Screenreader announcement in miles was added to #22960

[2021-04-12 22:20] #22649 closed

[2021-04-12 22:22] digitalken commented on #22463
Added to TestRail.

[2021-04-12 22:27] digitalken commented on #21196
Added to TestRail.

[2021-04-12 22:31] digitalken commented on #22708
Added to TestRail.

[2021-04-12 22:31] SethNiman opened #23102 "Analytics Implementation or QA Support for Existing ChooseVA"
# Google Analytics Implementation or QA Request
Analytics and Tag Manager request for upcoming relaunch of our ChooseVA site.
## What this form is for
Start up meeting to discuss our needs, what we hope to track, etc. Also interested in learning about access to current tag manager on VA.gov.
New ChooseVA site is going to launch in May. We will want to track multiple events off the site, though we

[2021-04-12 22:55] tlei123 commented on #23077
Feature to be released (date TBD) is This Visit (Visit Intro).  [Slacked](https://dsva.slack.com/archives/C0136TS768M/p1618248946158000) w/ Team and got reference-links [now updated above in main description] from B/E Engineer Dillo Raju & Designer Kristen McConnell.

[2021-04-12 22:55] sshein commented on #22372
in the study being run right now, participants validated this need. One participant explicitly stated that she wanted the questions to be on a single page: _"Maybe if there is a way to have primary and secondary together to explain the differences so I know right off the bat what I'm applying for."_ Another had issues with the placement of the "Learn more" components and thought those components w

[2021-04-12 23:05] mmiddaugh opened #23103 "Change app name header for calls made on static pages"
## Issue Description
This issue will improve the identification of calls made from Facilities-owned pages, hopefully preventing errors caused by broken integrations (such as "Other locations" VAMC link is broken #22107)

In #22107, the API call  https://api.va.gov/v1/facilities/va?ids=vc_0211V,vc_0233V,vc_0220V,nca_925,vba_311 was identified as originating from a static page, preventing its detect

[2021-04-12 23:06] ltrombley commented on #22791
Task #22791 - Prepare Northern California-health-care for Dual-state [VAMC] - Complete and pending move to Validate once it's run thru Tugboat.

[2021-04-12 23:09] theodur commented on #22409
Diagram of content build separation is on LucidChart. [Chat with invitation link](https://dsva.slack.com/archives/C01S39QMSSV/p1617982994011300).

Waiting on my LucidChart license to be updated to finish the last few edits.

[2021-04-12 23:14] bcastoe commented on #22777
#22777 Create new Health Services "LIST and PLAYBOOK" for VA Ann Arbor health care - Completed and moved to Validate.

[2021-04-13 00:04] outerpress opened #23104 "[Design] Home page detail navigation dive"
The home page refresh includes "thumbnail" summaries on the home page and "detail" views of appointments for each thumbnail. These should be easy to navigate between.

Currently we have two ways to navigate from detail to the list of thumbnails on the home page:
* Standard breadcrumbs at top of page
* "Go back to appointments" link at bottom of page

The pain points this sets out to address:
* Bot

[2021-04-13 00:11] outerpress commented on #18558
(Months later...sorry! Other work took precedence over this.)

@laurenernest  I think we just need to update the current breadcrumb (Which says "VA online scheduling") to the use the header for VAOS home ("VA appointments") to call this done.

I want to take a closer look at the breadcrumbs in the detail view, but will create a new ticket for that.

[2021-04-13 00:17] cindymerrill commented on #22867
Started drafting conversation guide. Work in progress here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/public-websites/research/202104-baseline-wayfinding/conversation-guide.md

[2021-04-13 00:27] patrickvinograd commented on #22683
We can and should run the facility resolver lookup as part of the bulk upload process.
Note there will still be some entries with zips that don't resolve to a facility because of things like PO Box only zip codes.

[2021-04-13 01:06] jwoodman5 commented on #22346
- It does not seem feasible to run these in a typical  A/B fashion (I think we pretty much knew this).
- A notable concern about running them on similar pages (ex. pages within the same product or category on va.gov) is the fact a Veteran may be hit with both surveys within a short amount of time while trying to complete similar tasks. This is because users are tracked separately in each platform.

[2021-04-13 01:22] jwoodman5 opened #23105 "Launch Medallia Satisfaction Survey on Production (Pilot)"
## Issue Description
_We are ready to move our Medallia satisfaction/intercept survey to production for our pilot. We are going to do this first on www.va.gov/find-locations and all related `Find VA Locations` detail pages._

---
## Tasks
- [x] Disable ForeSee satisfaction survey on www.va.gov/find-locations/ and all related `find-locations` detail pages (by way of Verint/ForeSee)
- [x] (Staging)

[2021-04-13 06:46] SgardnerPMP opened #23106 "[VAMC-Scaffolds] Create or Clone all required pages for VA Amarilo health care in VISN 17 [BA]"
## User Story
As a Veteran Web user, I need a easier and more efficient site, so I can quickly get to my objective and complete my journey on the local VA.Gov/MC website.

## Goal
_Implement required VAMC-upgraded va.gov webpages_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran web user_
- _Reduce Click through count by_Highlighting top sto

[2021-04-13 06:52] SgardnerPMP opened #23107 "[VAMC-Scaffolds] Create or Clone all required pages for VA Central Texas care in VISN 17 [BA]"
## User Story
As a Veteran Web user, I need a easier and more efficient site, so I can quickly get to my objective and complete my journey on the local VA.Gov/MC website.

## Goal
_Implement required VAMC-upgraded va.gov webpages_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran web user_
- _Reduce Click through count by_Highlighting top sto

[2021-04-13 06:54] SgardnerPMP opened #23108 "[VAMC-Scaffolds] Create or Clone all required pages for VA North Texas care in VISN 17 [BA]"
## User Story
As a Veteran Web user, I need a easier and more efficient site, so I can quickly get to my objective and complete my journey on the local VA.Gov/MC website.

## Goal
_Implement required VAMC-upgraded va.gov webpages_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran web user_
- _Reduce Click through count by_Highlighting top sto

[2021-04-13 06:56] SgardnerPMP opened #23109 "[VAMC-Scaffolds] Create or Clone all required pages for VA South Texas care in VISN 17 [BA]"
## User Story
As a Veteran Web user, I need a easier and more efficient site, so I can quickly get to my objective and complete my journey on the local VA.Gov/MC website.

## Goal
_Implement required VAMC-upgraded va.gov webpages_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran web user_
- _Reduce Click through count by_Highlighting top sto

[2021-04-13 11:19] jonwehausen commented on #19456
## Local Storybook Testing

@bsmartin-ep 👍

#### Loading Indicator

Description of Interaction | Event Structure | Test Status | Notes
| -- | -- | -- | -- |
Click `true` or `false` boolean for simulating the loading indicator completion | ![image](https://user-images.githubusercontent.com/48527022/114544359-83469d00-9c28-11eb-994a-844745ee480a.png) | ✔️ **PASS** | _Accurately capturing time durati

[2021-04-13 11:51] jonwehausen commented on #22947
Hi @holdenhinkle ,

Per @bsmartin-ep's note, we will close this GH issue but please feel free to reopen should you have any further access-related questions/concerns.

[2021-04-13 11:51] #22947 closed

[2021-04-13 12:04] allison0034 commented on #22885
@MarciMcGuireGCIO this has been scheduled for 4/20 at 11:30.

[2021-04-13 12:12] desireeturner opened #23110 "CT Redesign: LP - Search by name"
Landing Page Prototypes "Search by Name" prototypes are updated

* Update mobile & desktop prototypes with optimal approach
* Review for adherence VA.gov styles

[2021-04-13 12:15] desireeturner opened #23111 "CT Redesign: Comparison Tray Controls - Solution"
Document approaches to improve controls (button, labels, links) within the Comparison Tray

* Explore possible ways to address the challenge on mobile devices and on desktop
* Document approaches with greatest potential
* Discuss pros/cons with UX team

[2021-04-13 12:16] desireeturner opened #23112 "CT VRRAP Indicator: Discovery"
Requirements for VRRAP indicator have been collected & documented

* Discuss solution options with B.A./TL
* Identify any risks or challenges
* Gather requirements from Education
* Gather existing content that will support content creation"

[2021-04-13 12:17] desireeturner opened #23113 "CT VRRAP Indicator: Draft content"
Content for VRRAP indicator has been drafted

* Draft content for solution
* Review w UX team

[2021-04-13 12:18] desireeturner opened #23114 "EDU Form / VRRAP: DEPO Midpoint Review"
VRRAP Review with DEPO

* DEPO Asynch Review of VRRAP Form
* Review tickets and respond to input
* Write new stories as needed

[2021-04-13 12:19] desireeturner opened #23115 "VRRAP: Analytics Request"
Analytics story is prepped and ready to submit to VSP when development is complete

* UX has reviewed analytics request collab cycle input in GH
* UX has reviewed analytics request issue / template
* UX has reconciled analytics with EDU-approved KPIs
* UX submits request if functionality is in place & ready for analytics tags

[2021-04-13 12:20] desireeturner opened #23116 "EDU Forms / VET TEC: Certification Content Update"
VET TEC Content has been updated per EDU input

* Content is reworked, as necessary
* GH Doc is shared internally (UXBA team)
* Respond to any questions

[2021-04-13 12:31] desireeturner opened #23117 "EDU Forms / VET TEC: Certification Prototype - UXBA Review"
VET TEC prototype is reviewed w UXBA
* Prototype is reviewed w B.A./TL
* Updates are incorporated, if needed

[2021-04-13 12:32] desireeturner opened #23118 "EDU Forms / 1990e: Certification Content Update"
Content has been updated per EDU input

* Content is reworked, as necessary
* GH Doc is shared internally (UXBA team).
* Respond to any questions

[2021-04-13 12:36] desireeturner opened #23119 "EDU Forms / 1990e: Certification Prototype - UXBA Review"
Prototype is reviewed w UXBA

* Prototype is reviewed w B.A./TL
* Updates are incorporated, if needed

[2021-04-13 12:38] DanielleThierryUSDSVA opened #23120 "Add LGBT Veterans link to footer"
## Issue Description
We've been asked to add a link for **LGBT Veterans** to the footer program links, between "Minority Veterans" and "PTSD".

![image.png](https://images.zenhubusercontent.com/5e8b13016a4378a604f5e799/ed644fb5-3156-499e-af29-92e2c56e5bce)

For now, this link will go to: https://www.patientcare.va.gov/lgbt/

We'll then work with the LGBT program working group to help support a mor

[2021-04-13 12:44] DanielleThierryUSDSVA commented on #23120
Note: VA refers to "LGBT" and not "LGBTQ+" in the terminology for these pages. Recommend following that for this for now so there's not a disconnect between the link label and the page. And then we can ask about this in conversations with working group.

[2021-04-13 12:56] MarciMcGuireGCIO opened #23121 "Request access to Google Analytics and/or Domo"
# Request Google Analytics and/or Domo access

## What this form is for
Use this template to request access to Google Analytics and/or Domo

## User Email Address
mmcguire@governmentcio.com (Marci McGuire)
Please link this issue to the DSVA Slack channel [#vfs-platform-support](https://dsva.slack.com/channels/vfs-platform-support), add VSP Analytics & Insights to your message, and provide the emai

[2021-04-13 12:57] RLHecht opened #23122 "Content work for VR&E online form launch"
## Issue Description
As part of the launch for the VR&E online form, Sitewide Content needs to provide content to the eBenefits team for the CTA button and language around it for applying online, by mail and in person. For the launch, we are only making changes to the following pages:

- How to apply page
- VR&E eligibility page
- 5 VR&E tracks pages

After launch, sitewide content will do the res

[2021-04-13 12:59] RLHecht commented on #23122
@bethpottsVADEPO I'm moving our work to this ticket rather than the intake request form. Here were are my suggested content edits from the other ticket. I wrote it so that it matches what we have on other how to apply pages. I based the directions off of what we have for other benefits. I also shortened the button text to VR&E, but I don't know if that's OK:

H2: How do I apply if I already have a

[2021-04-13 13:01] #22590 closed

[2021-04-13 13:09] RLHecht opened #23123 "Adding links and teaser text in support of VR&E online application-HOLD UNTIL AFTER LAUNCH OF VR&E ONLINE FORM"
## Issue Description
Now that the VR&E online form has launched, we need to update the top nav and left nav and add other entry points to the online form.

Mikki's IA recommendations for placement of new links: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/information-architecture/ia-reviews/ebenefits-chapt31.md

Link to use throughout to new form: https://www.

[2021-04-13 13:11] JenLJ commented on #22207
Mural: https://app.mural.co/t/bahdigitalexperience6902/m/bahdigitalexperience6902/1617710116724/06fd7c751f02d73b05dc3065221dca2cfa5a47e7

[2021-04-13 13:12] RLHecht commented on #23016
Closing this ticket. Work for this is now being tracked in #23122. The work post-launch for entry points is being tracked in #23123.

[2021-04-13 13:12] #23016 closed

[2021-04-13 13:18] RLHecht commented on #22814
Closing this ticket. If we have changes from VHA translation team I'll reopen.

[2021-04-13 13:19] #22814 closed

[2021-04-13 13:22] delli-gatti-michael opened #23124 "1990s: Auto-Fill not working for all users on Staging"
When a user starts the 1990s form, some of their data is automatically filled in. For some of the users on staging, the data does not populate.

### Steps to reproduce:
1. Access the 1990s form on Staging at https://staging.va.gov/education/other-va-education-benefits/veteran-rapid-retraining-assistance/apply-for-vrrap-form-22-1990s
2. Log in using the test account `vets.gov.user+8@gmail.com`
3. B

[2021-04-13 13:23] #22126 closed

[2021-04-13 13:23] delli-gatti-michael commented on #22126
Closing this story and opening #23124 to cover some users' pre-fill data not populating.

[2021-04-13 13:28] craigwheeler commented on #21241
@tlei123 If waiver is selected for ANY debt it becomes a required field and the phrase "Please tell us more about why you need a debt waiver." is displayed to the user otherwise the default behavior is the field is not required and the message "Please tell us more about why you need help with this debt payment." is used. @rebeccawalsh if we need to make changes go ahead and update the ticket and m

[2021-04-13 13:40] rileyorr commented on #22821
@rebeccawalsh yeah I agree with that! @troyriser and/or @peggygannon could I get a quick content spot check before creating a frontend ticket to double check that we're aligned with the content style guide? [The design can be found in our UXPin prototype](https://preview.uxpin.com/803dc24213cf723bfce6c5e3eaef5a2c3f3e344b#/pages/138206407/comment/sitemap?mode=i). Thank you!

[2021-04-13 13:47] clantosswett commented on #23084
@DanielleThierryUSDSVA this is correct AFAIK but I sent along to the group to confirm. Will let you know once I hear back. Thanks.

[2021-04-13 13:50] tressaellen commented on #22656
@erikphansen thank you, yes that is helpful! Working on this now!

[2021-04-13 13:54] dmccurdybah commented on #22680
PR: https://github.com/department-of-veterans-affairs/vets-website/pull/16762

[2021-04-13 13:55] Samara-Strauss opened #23125 "[FE] My VA bug: For LOA1 user, "Benefits you might be interested in" won't load"
## Background

Steps to reproduce:

1. Sign into staging with LOA1 user.
2. Go to My VA.
3. "Benefits you might be interested in" keeps showing the loading spinner but never loads.

Expected functionality: According to [the documentation](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/my-va/2.0-redesign/frontend/documentation/loa1_design

[2021-04-13 13:58] RLHecht opened #23126 "Add info to Contact us and Helpful VA phone numbers about MyVA411 offering translator services"
## User story
MyVA411 offers the use of a translator in close to 200 languages. If a Veteran calls the number and presses 0 to speak to an agent, they can ask for a translator. We should add this information to both the Contact us page and Helpful VA phone numbers.

These are the languages offered:

Afrikaans, Akan, Albanian, Amharic, Arabic, Armenian, Ashante, Assyrian, Azerbaijani, Azeri, Bajuni

[2021-04-13 14:04] Mottie commented on #21797
Sorry for the delay, I just merged in the change that cleaned up the rest of the un-used aria labels.

[2021-04-13 14:05] anthony-kopczyk opened #23127 "Access for Anthony Kopczyk and Tyler Snell"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Do not remove `operations` label; this will notify the VSP Operations team of your request
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Pleas

[2021-04-13 14:08] Samara-Strauss opened #23128 "[FE] My VA bug: "Health care" block is showing in "Benefits you might be interested in" section after an application has been started"
## Background

Steps to reproduce:

1. Sign in to staging with user 272.
2. Go to My VA. You should **not** see a health care app in progress, and you should see the "Health care" block showing under "Benefits you might be interested in."
3. Go to the health care app and start an app. Save it in progress.
4. Go back to My VA.
5. You will still see the "Health care" block showing under "Benefits yo

[2021-04-13 14:17] troyriser commented on #22821
@rileyorr Received and acknowledged. Looking now.

[2021-04-13 14:19] rileyorr commented on #18892
Good morning @jwoodman5! I know your team just wrapped up a usability study surrounding the feedback button styling - what's the current status of the Medallia rollout? I tried to read more about requesting a survey but the link in this ticket redirected to a 404 and I couldn't find anything similar in Medallia's product folder.

[2021-04-13 14:21] k80bowman commented on #20546
All of the month select boxes I could find use the formation class `.form-datefield-month`, which was updated to 12rem in the PR linked above. So all month select boxes were already updated to 12rem, in both the design system and the forms system.

However, I found that 12rem was not quite enough. The last few pixels of the longer month names were still being cut off, as seen here:
![image.png](ht

[2021-04-13 14:22] amyknox commented on #23069
@peggygannon
We're addressing Musts 3 & 4 via a defect on our end and review Musts 1 & 2 for timing / critical path.

[2021-04-13 14:24] jonwehausen commented on #22412
@bsmartin-ep The changes look good, however not having luck with using the review instance.

[2021-04-13 14:27] laurenernest opened #23129 "Cheetah-Plan second dose remove J&J"
## Description
Due to latest CDC & FDA guidelines, we need to remove explicit references to J&J vaccine in the vaccine flow.

---

## Tasks

- [ ] Plan ahead page

## Acceptance Criteria
- [ ] Changes are behind the `va_online_scheduling_cheetah` feature flag
- [ ] CONTENT - Content matches the [copy doc](https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/blob/master/products/

[2021-04-13 14:28] sonntag-adam opened #23130 "VRRAP: Program Selection update content"
## Steps to reproduce:
1. Navigate to https://staging.va.gov/education/other-va-education-benefits/veteran-rapid-retraining-assistance/apply-for-vrrap-form-22-1990s
2. Log in with a user https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/blob/master/Administrative/vagov-users/mvi-staging-users.csv
3. Select "Start the education application"
4. Following section needs the corre

[2021-04-13 14:33] craigwheeler opened #23131 "Requesting access to Google Analytics for the VSA Debt Team"
# Requesting access to Google Analytics for the VSA Debt Team

https://github.com/department-of-veterans-affairs/va.gov-team/issues/22714 - Requesting Google Analytics access for the the following users on the VSA Debt Team

## User Email Address
Please link this issue to the DSVA Slack channel [#vfs-platform-support](https://dsva.slack.com/channels/vfs-platform-support), add VSP Analytics & Insig

[2021-04-13 14:38] Samara-Strauss opened #23132 "[FE] My VA bug: "What benefits does the VA offer?" links all have weird numerical slug"
## Background

Steps to reproduce:

1. Log in with any staging user.
2. Go to My VA, and scroll down to the "Apply for benefits" section.
3. Open the "What benefits does the VA offer?" section.
4. Click into those links. They all go to the right place, but they all have a weird numerical slug. This is an example of the one for the health care link: https://www.va.gov/health-care/?_ga=2.19349816.14

[2021-04-13 14:38] stephenBarrs commented on #22674
Submissions to VeText will occur periodically by kicking off the `expandedSubmissionJob` job, probably through a schedule configured in `sidekiq_scheduler.yml.   `expandedSubmissionJob` will query the database for records with state=`enrollment_pending` (indicative that data has been sent to enrollment) and process x number of records found.

There will also need to be a temporary run of `expanded

[2021-04-13 14:39] 1Copenut commented on #21797
NP! I'm bouncing around between a few things this past week.

[2021-04-13 14:42] stephenBarrs commented on #22674
Questions for @batemapf :

how often do you suggest the send to VeText job run?  the enrollment job is executing every 15 minutes.  I am not sure we need to send to VeText that often, but not sure what the appropriate timeframe would be.

Confirming that we do NOT want to send an email to the user when they are registered in VistA?  They do get an email when they submit the form.

[2021-04-13 14:42] lwalsh617 commented on #13609
Closing this ticket as we ended up batching the work differently.

[2021-04-13 14:42] #13609 closed

[2021-04-13 14:44] lwalsh617 commented on #13913
Closing this ticket because we ended up batching the education work by topic and are using those tickets to track this work.l

[2021-04-13 14:44] #13913 closed

[2021-04-13 14:44] lwalsh617 commented on #14442
Closing this ticket as the two decision review pages are live.

[2021-04-13 14:44] #14442 closed

[2021-04-13 14:50] batemapf commented on #22674
I'd like to keep the send to VEText job in sync with the enrollment service upload job (every 15 min as you noted). To give the enrollment job a fighting chance at finishing, I'd set the cron on the VEText job to 30 min past every hour (i.e. `30 * * * *`)

Confirmed. A happy path user will receive: (1) a confirmation email upon submission; and (2) any future KMI newsletters. A less happy path user

[2021-04-13 14:51] tmulrooney-va commented on #23046
I know it is trendy right now to have the app store images span across multiple screenshots but we should have stand alone images so we can easily update and rearrange the images when new features come out.

[2021-04-13 14:51] rileyorr commented on #22821
@troyriser thank you for that recommendation! I just want to double check that the recommendation aligns with plain language guidelines. I'll defer to your judgment since I'm not an expert in that area, but I wonder if 'allows' over 'helps' and using 'regarding' will be widely understood by our audience. Let me know what you think!

[2021-04-13 14:57] laurenernest commented on #23129
@jenniemc For extra clarity on the changes
![second_dose_page__1_.png](https://images.zenhubusercontent.com/5f7dd2dad6b9a9301bbab94e/56e31153-3939-42c3-8c02-b8e5b30b59ed)

[2021-04-13 14:59] Samara-Strauss commented on #23132
Also: All these links go to prod, when they should stay in staging if the click is initiated from staging. I'll add this to the first comment in the ticket.

[2021-04-13 15:01] troyriser commented on #22821
@rileyorr  I think 'allows' and 'helps' are interchangeable and both would fall into plain language guidelines easily enough. Regarding 'regarding', I'm a sucker for alliteration (regarding...request) since it aids readability. Besides, using the preposition 'on' as in 'on your request' is syntactically suspect since you're missing the verb form as noun gerund; e.g., 'deciding on your request'.

S

[2021-04-13 15:05] laurensimpson14 commented on #22828
@jonwehausen See notes below. All changes are in the GTM workspace "22828 Health Care Experience - Questionnaire". I believe this is ready for QA.

*Changing tabs*: This is already being collected as event action (both `Navigation - Tab Click - hcq-Completed` and `Navigation - Tab Click - hcq-To do`) and can be seen in the prod GA property: https://analytics.google.com/analytics/web/#/report/conte

[2021-04-13 15:07] ambikaroos commented on #23046
@tmulrooney-va agreed and great point. For reference, here's an example of an image spanning multiple screenshots (screenshots 1-2), vs. standalone images (screenshots 3-4):

![image](https://user-images.githubusercontent.com/7320097/114575601-54402380-9c48-11eb-9924-5a01a0e6443c.png)

[2021-04-13 15:15] Samara-Strauss opened #23133 "[FE] My VA bug: Cerner alert should be 2/3 width on desktop"
## Background

Steps to reproduce:

1. Log in to staging with user [ssoissoetesting+mhvcss4@gmail.com](https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/blob/master/Administrative/vagov-users/staging-test-accounts-cerner.md) on desktop.
2. Go to My VA.
3. You'll see the Cerner alert (good!), but it's full width when it should be 2/3 width.

Expected functionality: The Cerner

[2021-04-13 15:22] MarciMcGuireGCIO commented on #23071
Attaching a screen shot of privacy error that occurs outside the VA.gov network.  I have emailed Alexandar Reber to let him know about the issue and to hopefully get the name of a contact who can help resolve it.
[Privacy error.pdf](https://github.com/department-of-veterans-affairs/va.gov-team/files/6304813/Privacy.error.pdf)

[2021-04-13 15:24] MarciMcGuireGCIO commented on #23071
Adding blocked label until the URL privacy issue is resolved.

[2021-04-13 15:27] erikphansen commented on #22564
Merged and closing since this is hard to properly validate on staging.

[2021-04-13 15:27] #22564 closed

[2021-04-13 15:27] RLHecht commented on #19253
Update: Reached out to Tanekwa Bournes now that Sandy Tadeo is no longer there. She is still awaiting access to get the number for me but is following up with other team members to see if they can help.

[2021-04-13 15:28] erikphansen commented on #22629
My PR was merged late yesterday so it should be on prod later today.

[2021-04-13 15:28] #22629 closed

[2021-04-13 15:30] Samara-Strauss opened #23134 "[FE] My VA bug: "View your VA medical records" should go straight to MHV"
## Background

Steps to reproduce:

1. Log in to staging with user 226 or any user that has health care.
2. Scroll to the Health care section and click "View your VA medical records". You'll notice this goes to https://staging.va.gov/health-care/get-medical-records/ when it should link directly into MHV staging.

Expected functionality: This link should go directly to MHV staging: https://sqa.eaut

[2021-04-13 15:30] zurbergram commented on #23124
https://github.com/department-of-veterans-affairs/vets-website/pull/16767

[2021-04-13 15:38] Samara-Strauss opened #23135 "[FE] My VA fix: Update copy for Health care link under "Benefits you might be interested in""
## Background

Steps to reproduce:

1. Log in with user 272.
2. Go to My VA, and scroll down to the "Apply for benefits" section.
3. Under the "Benefits you might be interested in", the "Health care" link is labeled "Apply for VA health care". It should be labeled "Learn how to apply for VA health care". **Additionally, this link is going to prod when it should go to staging.**

Expected functiona

[2021-04-13 15:38] jonwehausen commented on #22168
### Update
- The GTM container for this work has been published
- @bsmartin-ep Can you provide an update on the `component-library-version` DL variable? Are you able to use the GH issue or do you need a separate one for your PR?
   - _The work has been published to begin collecting this when the variable becomes available_

[2021-04-13 15:39] mleclerc00 commented on #18968
Pinging @Jeff-Hayter for AWS approval

[2021-04-13 15:40] peggygannon commented on #23069
Hi, @amyknox OK, thank you for the update.

[2021-04-13 15:44] stephenBarrs commented on #18968
Thanks @mleclerc00!  I am an FTE VA employee with OCTO , do I still need @Jeff-Hayter approval?  @drorva what is policy for approval for OCTO employees?  Thanks!

[2021-04-13 15:47] lwalsh617 commented on #13904
@DanielleThierryUSDSVA -- I had put some Service Dog content in a disability copy deck. Beth asked me to paste it here for you to pick up in health care. LMK if you have questions or if I can help.

Template:  Multiple faqs

Tags:  Disability, Health care, All Veterans

VA guide dogs and service dogs
==============================

Guide dogs and service dogs can help Veterans with certain kinds o

[2021-04-13 15:49] digitalken commented on #22610
Added to TestRail.

[2021-04-13 15:49] Samara-Strauss commented on #23072
Also, please maintain the original domain for this link. Right now, our staging page is linking to prod. My VA staging links should link to staging pages; My VA prod (once it launches) should link to pro pages.

[2021-04-13 15:49] Samara-Strauss commented on #23073
Also, please maintain the original domain for this link. Right now, our staging page is linking to prod. My VA staging links should link to staging pages; My VA prod (once it launches) should link to pro pages.

[2021-04-13 15:52] digitalken commented on #22295
Added to TestRail.

[2021-04-13 15:52] melissa-lefevre commented on #22370
Research plan github file: https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/va-mobile-app/ux-research/Co-branding%20research

[2021-04-13 15:54] #22370 closed

[2021-04-13 15:56] Samara-Strauss commented on #22557
Just completed my own QA. Things are looking great, and I've created a bunch of tickets for the issues I found. I did find some of the similar bugs that are noted in @ajakabcin's document, but I didn't create tickets for anything that already had one.

- [Results from my QA](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/my-va/2.0-redesi

[2021-04-13 15:56] bkjohnson commented on #19674
Here is the in-progress PR that should address this: https://github.com/department-of-veterans-affairs/component-library/pull/74

[2021-04-13 15:57] melissa-lefevre commented on #22700
https://app.mural.co/invitation/mural/adhoccorporateworkspace2583/1616159194734?sender=uff1791dd79ec763420518644&key=9522341a-c040-4be0-b718-c7475343cb23

I did some divergent ideation for various onboarding experiences. We can revisit when we are ready to focus on onboarding.

[2021-04-13 15:57] #22700 closed

[2021-04-13 16:00] #22769 closed

[2021-04-13 16:00] #21021 closed

[2021-04-13 16:01] #23076 closed

[2021-04-13 16:01] #23090 closed

[2021-04-13 16:03] melissa-lefevre commented on #22722
I created a few different concepts for possible app store panels (see[ mural board](https://app.mural.co/invitation/mural/adhoccorporateworkspace2583/1616159194734?sender=uff1791dd79ec763420518644&key=9522341a-c040-4be0-b718-c7475343cb23))

I was ideating/ mocking up different options to possibly use in the Co-branding research but we decided to use the home page screen instead. We can revisit the

[2021-04-13 16:03] #22722 closed

[2021-04-13 16:14] DanielleThierryUSDSVA commented on #13904
Thanks, @lwalsh617! Jen had also drafted some content around this topic that's on my list of content to edit and move through approvals. So I'll take a look at this as part of that overall effort. Thanks again!

[2021-04-13 16:17] #22856 closed

[2021-04-13 16:23] SgardnerPMP opened #23136 "[VAMC] Resolve Tech-Debt of COVID-19 vaccine detail pages for all Systems and link System HS [VAMC]"
## STORY
As a Veteran I need to know the latest information and guidance regarding COVID-19 vaccines, so I will know how, when, and where to schedule and get my COVID-19 vaccine.

## GOAL
Provide a Nationalized/local detail page for all sites.

## TASK
- [x] Update the Source of Truth to include COVID-19 detail page
- [x] Clone all sites previously created with the COVID-19 detail page and align t

[2021-04-13 16:24] elder-joseph commented on #23130
Associated PR: https://github.com/department-of-veterans-affairs/vets-website/pull/16769

[2021-04-13 16:25] delli-gatti-michael commented on #23124
local testing complete

[2021-04-13 16:32] jperk51 opened #23137 "Add logging/metrics to mobile push services"
Add success/failure metric tracking to mobile push integration

[2021-04-13 16:41] jwoodman5 commented on #18892
Hi @rileyorr - Here's the link for [requesting a Medallia Survey](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsp/teams/contact-center/medallia/medallia-request-survey.md). We had to move the document and existing/open tickets were not updated with this link. It basically just tells you how to access this ticket template and reiterates what the standard Feedback

[2021-04-13 16:53] bramleyjl commented on #20219
Blocked pending release of TUD MVP; the application needs to be live before we begin to direct users to it.

[2021-04-13 17:00] jhouse-solvd commented on #21465
@omgitsbillryan - great to see that this is in progress. let us know the LOE once you've had a chance to dig in? thank you, sir.

[2021-04-13 17:06] jhouse-solvd commented on #21742
Gregory Bowman shared this endpoint that they will use for testing:

https://dev-api.va.gov/services/vba_documents/v2/uploads/submit

This should help us follow the path that the request will take so that we update configurations accordingly.

[2021-04-13 17:13] dneel-bah opened #23138 "VRRAP: Update content based on DEPO midpoint review"
As a developer, I need to update the content of the VRRAP application form so that it is consistent with DEPO content best patterns and practices.

## Assumptions:
1. VRRAP introduction page on staging: https://staging.va.gov/education/other-va-education-benefits/veteran-rapid-retraining-assistance/apply-for-vrrap-form-22-1990s/introduction
2. The "Bank Name" field does not need to be included / r

[2021-04-13 17:15] delli-gatti-michael commented on #23130
local testing complete

[2021-04-13 17:16] jonwehausen commented on #14487
## Jon to update with most recent specification

[2021-04-13 17:16] jhouse-solvd commented on #21750
@meganhkelley and/or @U-DON - would you consider this "In progress"?

[2021-04-13 17:18] jbritt1 commented on #17495
Atlantis is now migrated and operating on EKS. Adding the functionality to apply via Atlantis is likely still avoidable at this time as we are potentially poised for creating our own Terraform automation via GitHub Actions in the near future.

Thread ref: https://dsva.slack.com/archives/CTYQL39FE/p1617812464200400

[2021-04-13 17:18] sonntag-adam commented on #22680
![Screen Shot 2021-04-13 at 1.18.28 PM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/08f0af4f-1938-40d2-b25d-b0b6bca636bd)

[2021-04-13 17:19] mnorthuis commented on #21819
IA approach is documented here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/information-architecture/ia-reviews/bam-board-appeal.md

A couple notes:
- Please work with the sitewide content team for:  static content page modifications and left nav implementation.
- I'm happy to help with the final URL slugs for each form chapter/page, but would need a list/bre

[2021-04-13 17:20] jbritt1 commented on #19747
Need to discuss on when we are to take down the older infrastructure pieces for BRD-Grafana.

[2021-04-13 17:25] mnorthuis commented on #22142
Updated the breadcrumbs in the IA documentation to reflect the use of "VRRAP".

https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/information-architecture/ia-reviews/bah-vrrap.md

Marking the IA work for this as complete.  If there are any further questions, let me know.  Otherwise you can close this issue at your discretion.

[2021-04-13 17:31] ajakabcin commented on #22994
After discussion with @tressaellen and @sanlouise we decided this is working properly. Closing

[2021-04-13 17:31] #22994 closed

[2021-04-13 17:31] digitalken commented on #20426
Added to TestRail.

[2021-04-13 17:35] narin opened #23139 "Add SM to Authorized Services"
The `/user` call includes a list of authorized services the user has access to. We need to add logic to determine if secure messaging should be in this list so that the app knows whether or not to expose these features to the veteran.

[2021-04-13 17:39] oragame opened #23140 "Offboarding of Don Seymour"
# Instructions
Fill out name of individual and *Description* section below.

# Description
- Please provide the name of the individual needing offboarded.

- Please provide the name of their team, their role on that team, expected last day, and the name of the company they work for.

- Please provide any type of access they may have and their GitHub username.

## AC
 - [ ] Remove global/config.yml

[2021-04-13 17:40] holdenhinkle commented on #23012
Reviewed the above resources and built out that spreadsheet - https://docs.google.com/spreadsheets/d/1-ty49As0WEgEf91LUhlD9ASimKrPUOsxmoMphYwx95k/edit#gid=0

I scheduled an hour with Lindsey H. this Friday at 9am to review the data and to hopefully populate the _"candidate for
integration testing?"_ column in each sheet.

I started reviewing the `vets-api` code to determine which app is using whic

[2021-04-13 17:40] ajakabcin commented on #23072
See also #23134 and #23073

[2021-04-13 17:41] ajakabcin commented on #23073
See also #23134 and #23072

[2021-04-13 17:42] peggygannon opened #23141 "Content Feedback - Midpoint review - VSA Caregivers, Sign as representative"
## User story
VSP content review of sign as representative screens in this [prototype](https://preview.uxpin.com/3bf6496017f55041a94c2cfc8009c35dad5a79f2#/pages/137666490/simulate/sitemap?mode=i)
- The new Representative documentation question page
- The new document upload page
- And the signature/review page - this page is being edited and the veteran signature box changes to a representative si

[2021-04-13 17:42] AngelaFowler82 commented on #15247
Hello,

Would someone be so kind as to send Josh and I the password for all the test accounts? We are unable to find them.

Angela

[2021-04-13 17:43] digitalken commented on #22616
Added to TestRail.

[2021-04-13 17:43] MarciMcGuireGCIO opened #23142 "Discharge Upgrade Wizard - [Discovery] - Get familiar with the product, tech, & strategic analysis"
## User Story

_As a member of the Decision Tools team, I want to understand the Discharge Upgrade Wizard product so that I can make recommendations on how to improve it according to our value categories - Findability, Ease of Use, Service Completion, Trust, and Health

## Expected Behavior

Review the existing product, any metrics available, and note areas of concern, areas for improvement

## Ac

[2021-04-13 17:43] MarciMcGuireGCIO opened #23143 "Discharge Upgrade Wizard - [Discovery] - Get familiar with the product, tech & strategic analysis"
## User Story

_As a member of the Decision Tools team, I want to understand the Discharge Upgrade Wizard product so that I can make recommendations on how to improve it according to our value categories - Findability, Ease of Use, Service Completion, Trust, and Health

## Expected Behavior

Review the existing product, any metrics available, and note areas of concern, areas for improvement

## Ac

[2021-04-13 17:45] brianalloyd commented on #15962
@MarciMcGuireGCIO older ticket, unsure if this is still an active issue but think it's more related to the Forms work your team is doing.

[2021-04-13 17:45] lianilychee opened #23144 "Conduct pair-writing sessions (Publish Monthly Newsletter)"
# User story
- As the Newsletter editor,
- I want to quickly extract submissions' value props and reduce jargon,
- so that I can produce the Newsletter quickly and with minimal back-and-forth with SMEs.

# Tasks
- [ ] Refine questions list.
- [ ] Talk to Service Design about getting a technical backup.

also,

- [x] Get submitters' names.
- [x] Schedule with submitters.
- [ ] Copywrite/edit.

# Ac

[2021-04-13 17:46] lianilychee opened #23145 "Publish the Newsletter style guide V2"
# User story
As a Newsletter content submitter*, I want to have grammar and tone guidelines to follow, so that I can reduce the effort around copyediting with the Content Team.

As a Content Team member, I want to publicize guidelines to Newsletter content submitters*, so that content submissions are as error-free as possible.  This allows for a smoother newsletter production process.

.* A Newsle

[2021-04-13 17:46] tressaellen commented on #22998
Just double checked - Apply for VA benefits is the correct heading. :)

[2021-04-13 17:47] MarciMcGuireGCIO commented on #15962
Thanks, @brianalloyd I'll take a look.

[2021-04-13 17:49] Samara-Strauss commented on #15247
Password info is in the private repo:

- [Master list of staging users](https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/blob/master/Administrative/vagov-users/mvi-staging-users.csv)
- [Staging users folder](https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/tree/master/Administrative/vagov-users)

[2021-04-13 17:49] lianilychee opened #23146 "Draft April newsletter edition (Publish Monthly Newsletter)"
# User story
As a VFS team member, I want to understand any Platform releases, so that I can build my VA.gov service.

# Tasks

- Conduct pair-writing / SME interviews
  - [x] Talk to Service Design about getting a technical backup.
  - [x] Conduct the sessions
- [x] Draft newsletter edition
- [x] Conduct reviews for technical accuracy and OCTO-DE signoff
- Prepare MailChimp version (Service Desig

[2021-04-13 17:51] MarciMcGuireGCIO commented on #23143
Duplicate; GH error while trying to save

[2021-04-13 17:51] #23143 closed

[2021-04-13 17:51] lianilychee opened #23147 "Publish content migration order V1 (Determine migration order)"
# User story
As a VSP Team member, I need to know the order that the Platform Website will be populated, so that I know when I'm on the hook and have to make tradeoffs with initiative work.

# Tasks
- [x] Acquire anticipated 2021 product releases
- [x] Acquire preliminary top task findings.
- [x] Conduct team brainstorm regarding the minimum info needed to provide a comprehensive documentation exp

[2021-04-13 17:52] digitalken commented on #22900
Added to TestRail.

[2021-04-13 17:53] lianilychee opened #23148 "Publish guidelines V1 (Develop guidelines)"
# User story
- As a VSP Team member,
- I need to know
  - how to populate the Platform Website and
  - how to deprecate GH docs
- so that
  - there is no confusion between GH and Platform Website and
  - I know how to edit the Platform Website.

# Tasks
- [x] Determine accurate, comprehensive, plain language name for "publishing guidelines" (having everything in one space will imply relatedness)
-

[2021-04-13 17:54] lianilychee opened #23149 "Publish PUBLISHING guidelines V1 (Develop guidelines)"
# User story
- As a VSP Team member
- I need to know the intricacies of editing in Conf and publishing in SVP
- so that I do not accidentally publish prematurely.

# Tasks
- [ ] Look at Gretchen's first pass of the guidelines (in `Reference info`)
- [ ] Identify which of the individual guideline pages are considered "Migration"
- [ ] Create bullet-point lists in said pages, of what pages need to c

[2021-04-13 17:54] lianilychee opened #23150 "[stretch] Reach out to Product Support and Analytics to rekindle collaboration around Collab Cycle and Playbook documentation."
# User story
To come.

# Tasks
To come.

# Acceptance criteria
To come.

# Reference info
To come.

[2021-04-13 17:55] lianilychee commented on #23145
Amy created tickets, so this is duplicative.

[2021-04-13 17:55] #23145 closed

[2021-04-13 17:55] MarciMcGuireGCIO commented on #15962
@brianalloyd I'll figure out who manages the Pension application -- it looks like the date change is needed there vs. the PDF form itself.

[2021-04-13 17:56] lianilychee opened #23151 "Publish Platform Website style guide V2 (Develop guidelines)"
# User story
As a VSP Team member, I need to know _how to write content_ for the Platform Website, so I that I can continue to provide a _seamless, **per-page** reading experience_ for VFS teams.

# Tasks
- [ ] Three-hour time block to clean up style guide (make it less disheveled)
  - The organization is not clear
  - Formatting is not consistent
  - Some links are broken
  - "Insert content here

[2021-04-13 17:56] pjhill commented on #22718
Closing as dupe

[2021-04-13 17:56] #22718 closed

[2021-04-13 17:56] lianilychee opened #23152 "Newsletter style guide: Add content about voice, tone, casing, word choice, etc."
# User story
To come.

# Tasks
To come.

# Acceptance criteria
To come.

# Reference info
To come.

[2021-04-13 17:58] lianilychee opened #23153 "change URL of platform website, from platform docs to platform website"
# User story
To come.

# Tasks
To come.

# Acceptance criteria
To come.

# Reference info
To come.

[2021-04-13 17:58] lianilychee opened #23154 "Distinguishing the Platform Website and PW sandbox (Configure SVP)"
# User story
As a Content Team member, I want to more clearly distinguish between the Platform Website and its sandbox version, so that I don't populate the wrong thing.  (And send the wrong link to VFS teams!)

# Tasks
- Distinguish the Platform Website and its sandbox
  - [ ] Determine and execute a visual design change to the sandbox.
  - [ ] Change the sandbox URL to indicate its sandbox-ness

[2021-04-13 17:59] MarciMcGuireGCIO commented on #15962
@jason-gcio @vhenry07 -- do either of you manage the Pension application?  This ticket is related to an expiration date that shows on the intro page there.  Thanks!

[2021-04-13 18:00] #20653 closed

[2021-04-13 18:00] #21538 closed

[2021-04-13 18:02] digitalken commented on #21198
Added to TestRail.

[2021-04-13 18:08] digitalken commented on #22667
Added to TestRail.

[2021-04-13 18:10] delli-gatti-michael commented on #22924
Changes are now on Staging. Closing this issue

[2021-04-13 18:10] #22924 closed

[2021-04-13 18:12] delli-gatti-michael commented on #23124
This fix is now live on Staging. Closing this issue

[2021-04-13 18:12] #23124 closed

[2021-04-13 18:13] digitalken commented on #22584
Added to TestRail

[2021-04-13 18:15] brianalloyd commented on #21929
Thanks @rtwell for the feedback and review.  @kelsonic when your back in the saddle tomorrow, let's prioritize this update.  thanks.

[2021-04-13 18:16] jonwehausen commented on #23121
Hi @MarciMcGuireGCIO ,

Could you include for us here which user (and email) you need access provisioned for? Thanks so much

[2021-04-13 18:18] MarciMcGuireGCIO commented on #23121
Yep! It's for me - mmcguire@governmentcio.com.

[2021-04-13 18:23] jonwehausen commented on #23131
Hi @craigwheeler ,

The folks you listed should now all have Google Analytics access. Some folks such as Leah and Rebecca had existing access that was just increased to Collaborator (so they may not have received an email).

Please let me know if any folks have any access related issues -- I'll close this ticket but please feel free to reopen should you have any questions/concerns.

[2021-04-13 18:23] #23131 closed

[2021-04-13 18:23] U-DON commented on #21750
@jhouse-solvd: Just saw that @omgitsbillryan's PR has merged (thank you!). I would say this is still in progress, but I think we might need the user and API token before we can use those endpoints with the `jenkins-action` job.

[2021-04-13 18:24] jonwehausen commented on #23140
Don did not have Google Analytics or DOMO access to remove

Shifting to done on our tracking board.

[2021-04-13 18:27] digitalken commented on #20139
Added to TestRail.

[2021-04-13 18:35] zacharymorel commented on #23142
Notes from discovery found: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/discharge-upgrade-wizard/post-mvp/technical/tech-evaluation-04-2021.md

[2021-04-13 18:47] delli-gatti-michael commented on #23130
@department-of-veterans-affairs/uxbah This is on Staging and ready for review

[2021-04-13 18:47] leanna-usds commented on #23032
I spoke to Dror with Alastair and Ayush on 4/13. He had no concerns about load testing the back end. Next step is to find out from DF QA what devices/conditions they're using and make sure it's sufficient.

[2021-04-13 18:50] laurenernest commented on #19468
To your earlier question- there could be PHI concerns but we can ask.

[2021-04-13 18:50] joshkimux commented on #15247
@AngelaFowler82 here's the username and passwords of folks we'll be testing for

vets.gov.user+1@gmail.com
213SsNrLgPv5

vets.gov.user+2@gmail.com
194SsNrLgPv5

vets.gov.user+10@gmail.com
427SsNrLgPv5

vets.gov.user+27@gmail.com
469SsNrLgPv5

vets.gov.user+36@gmail.com
419SsNrLgPv5

vets.gov.user+202@gmail.com
220SsNrLgPv5

vets.gov.user+226@gmail.com
318SsNrLgPv5

@Samara-Strauss , I couldn't fin

[2021-04-13 18:55] leanna-usds commented on #23032
We do want to load test IAM, @kreek can provide more details.

[2021-04-13 18:56] JenLJ commented on #23130
UX Review 1/2: This checks out for me

[2021-04-13 18:56] leanna-usds commented on #20886
Next steps:

- research best practices for securing health app (do we need a PIN?) - i think @ayushchak?
- engage ad hoc security expert (@leanna and @cgreim)

[2021-04-13 18:57] bethpottsVADEPO commented on #23126
@RLHecht Want to make a recommendation for the content to add and where to place it on those two pages? You can reuse content Danielle wrote for COVID. Let's tackle this next week though. There are more urgent stakeholder request to turn to this week. Thanks!

[2021-04-13 18:59] zacharymorel opened #23155 "Discharge Upgrade Wizard - Testing Upgrades"
## Issue Description
We recently took on Discharge Wizard, here we are:
1. Updating end to end test
2. Adding unit tests
3. Adding integration tests

Here's the recent discovery for the product:  https://github.com/department-of-veterans-affairs/va.gov-team/issues/23142

## Acceptance Criteria
- [ ] Unit tests pass
- [x] E2E tests cover current code and regression
- [x] End-to-end tests show 0 vio

[2021-04-13 19:08] zacharymorel opened #23156 "Discharge Upgrade Wizard - Organization of Application"
## Issue Description
We recently took on Discharge Wizard, here we are:
   1. Update and reorganize the folder structure to current standards

Previous discovery => https://github.com/department-of-veterans-affairs/va.gov-team/issues/23142

## Front end tasks
- Reorganize the current application code folder structure to current standards

## Acceptance Criteria
- [ ] Unit tests pass
- [ ] E2E test

[2021-04-13 19:13] JasonTheBearded commented on #19879
Testing for python package to load Medallia export completed and ready to go. Meeting is scheduled for 4/16 to discuss final ATO items and prep production release.

[2021-04-13 19:15] zacharymorel opened #23157 "Discharge Wizard - Possible rewrite any code that is needed"
## Issue Description
We recently took on Discharge Wizard, here we are:

   1. Rewrite any code as I found during the process of evaluating, adding testing, moving files.

Previous discovery => https://github.com/department-of-veterans-affairs/va.gov-team/issues/23142

## Acceptance Criteria
- [ ] Unit tests pass
- [ ] E2E tests cover current code and regression
- [ ] End-to-end tests show 0 viola

[2021-04-13 19:16] omgitsbillryan commented on #21750
Agreed. The current plan is to re-use the `va-cms-bot` for now, and generate a new token on that jenkins user. Once generated, that token will need to be stored as a Github Secret. Once the secret exists, we can then have a code snipped like:

[code]

As an added wrinkle, api tokens are not persisted across jenkins deploys and must be manually regenerated each time. I'm coordinating with @tskinn o

[2021-04-13 19:17] kathleencrawford commented on #23024
https://github.com/department-of-veterans-affairs/vets-api/pull/6567

[2021-04-13 19:20] #22560 closed

[2021-04-13 19:23] ala-yna opened #23158 "Analytics for Sign as a Representative"
We'd like to add GA event tags to the Sign as a Representative functionality we're building so that we're able to understand how useful the functionality is.

**Note: if there's a way to track these events using a tool other than GA, that would also be useful. Please let me know what you find.

Specifically, we'd like to be able to track:
- What selection Caregivers make on the Yes/yes/no question

[2021-04-13 19:23] joshkimux opened #23159 "508-defect-2: Add information buttons must not rely on color"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2021-04-13 19:24] SKasimow opened #23160 "Design | Language Assistance and Resource Page Links | Footer Placement"
Request for mock to use for usability testing that shows placement of spanish, tagalog and other link in VA.gov footer.

Text is as follows:

~Support | Espanol | Tagalog | Other~

**Language support**
Español | Tagalog | Other languages

[2021-04-13 19:31] ambikaroos commented on #23029
@msmanak @artsymartha68 could you add the audit report you've shared with the 508 office here? We can add it to GH as well

[2021-04-13 19:31] joshkimux commented on #19562
<img width="1165" alt="Screen Shot 2021-04-13 at 3 30 32 PM" src="https://user-images.githubusercontent.com/14154792/114609901-510b5e80-9c6d-11eb-9c77-b43f6dc03673.png">

This will also apply to the remove button 🙇

[2021-04-13 19:37] Samara-Strauss commented on #15247
@joshkimux I hae deleted your post for security reasons. We can not have password info in the public repo.

[2021-04-13 19:38] amyknox commented on #23130
UX Review 2/2: This checks out for me, too

[2021-04-13 19:40] Samara-Strauss commented on #19562
How do we solve this? Having three buttons seems like a lot.

[2021-04-13 19:40] #23130 closed

[2021-04-13 19:41] RLHecht opened #23161 "Audit of eBenefits mentions across VA.gov pages"
## Issue Description
With eBenefits going away later in the year (timeframe TBD) we need to do an audit of our benefit hubs and Resources and Support to identify everywhere we have a mention of eBenefits or link to it so that these can be updated with new language or deleted.

Some of these places may be CTA buttons in react widgets that are already in the process of being replaced with direct lin

[2021-04-13 19:44] #22687 closed

[2021-04-13 19:44] joshkimux opened #23162 "508-defect-3 [SCREENREADER]: International support information should programmatically describe the number field"
# [508-defect-3](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-3)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2021-04-13 19:45] andaleliz commented on #19562
I agree, that's a lot of buttons.

@Samara-Strauss or @tressaellen any background you can share about the choice to use a button vs just let people save the empty field?

This is another great example that would benefit from some lightweight button options in our design system @CrystabelReiter  😁

[2021-04-13 19:45] ala-yna commented on #22035
@kevinmirc  - Please add the case IDs to the spreadsheet and then we can close this out

[2021-04-13 19:46] vhenry07 opened #23163 "Analytics Implementation or QA Support for Claims & Appeals - Notice of Disagreement"
# Google Analytics Implementation or QA Request

## What this form is for

<details>
<summary>More Information</summary>
<div>
    <br>
<p>Use this template to request Google Tag Manager and Google Analytics implementation or QA for your product. Please fill out all brackets.</p>

For more information, please check out the [Google Tag Manager resources](https://github.com/department-of-veterans-af

[2021-04-13 19:46] andaleliz commented on #19562
Also I think this might need to get kicked back to me - I'm not sure how to solve it yet but that's definitely a design (not FE) task.

[2021-04-13 19:50] Samara-Strauss commented on #19562
I don't know that this had any more thinking behind it beyond this pattern feeling intuitive. Once I've added something, my mind assumes I can delete it, but not necessarily that I would delete it in a field and then save an empty form. That feels weird to me.

I've removed Sandra as an assignee so you can think through additional use cases, @andaleliz.

[2021-04-13 19:52] vhenry07 commented on #15962
Not a Claims & Appeals product.

[2021-04-13 19:56] RLHecht opened #23164 "Add content about BDD program to 2 benefit detail pages"
## Issue Description
Stakeholder Peter Granato asked us to add text about the BDD program on the following two pages:

- VR&E eligibility page
- VR&E how to apply page

**The text he submitted:**

If you have an illness or injury that you believe was caused—or made worse—by your active-duty service, you can file a claim for disability benefits 180 to 90 days before you leave the active duty status

[2021-04-13 20:00] AngelaFowler82 commented on #15247
Can we create a private document with the specific user accounts and passwords you would like tested? It would save us considerable time hunting for passwords and matching them with use cases. There are a lot of test accounts!

From: Samara Strauss ***@***.***>
Sent: Tuesday, April 13, 2021 12:37 PM
To: department-of-veterans-affairs/va.gov-team ***@***.***>
Cc: AngelaFowler82 ***@***.***>; Mentio

[2021-04-13 20:06] lunascoop commented on #18696
@RLHecht I'm still working on the Tagalog page, but you can begin reviewing the English and Spanish pages.

- Coronavirus FAQs: What Veterans need to know: http://preview-prod.vfs.va.gov/preview?nodeId=3014
- Preguntas frecuentes sobre el coronavirus: Lo que necesitan saber los Veteranos: http://preview-prod.vfs.va.gov/preview?nodeId=14580

[2021-04-13 20:07] joshkimux commented on #15247
@Samara-Strauss @AngelaFowler82 I'm on it! I'll attach a link in a jiffy :)

[2021-04-13 20:10] #22552 closed

[2021-04-13 20:11] amyknox commented on #23114
Update content doc & prototype with all **"MUST"** input from DEPO Content review https://github.com/department-of-veterans-affairs/va.gov-team/issues/23069

* Per OCTO content recommendations, H2 should read: Follow these steps to apply

* Under: "Make sure you’re eligible" header:
--First bullet point should read: Between 22 and 66 years old
--Remove commas at the end of each bullet point
--Remo

[2021-04-13 20:12] joshkimux commented on #15247
@AngelaFowler82 Here's the [profile specific username and password list within the sensitive repo!](https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/blob/master/Administrative/vagov-users/staging-test-accounts-profile)

@Samara-Strauss Would love your help populating user 350 and 555 should you have the time! 🙇

[2021-04-13 20:14] lianilychee opened #23165 "Publish Newsletter style guide V2 (Publish Monthly Newsletter)"
# User story
To come.

# Tasks
- Add April examples
- Add content about voice, tone, casing, word choice, etc.
- Add Hemingway link and blurb
- Move from Amy's personal space to a more public space

# Acceptance criteria
To come.

# Reference info
To come.

[2021-04-13 20:15] Samara-Strauss commented on #15247
@joshkimux @AngelaFowler82 unfortunately, we need to have all of those passwords reset now because they've been compromised by being put in the public repo. I am working on that and will update documentation when I have new passwords.

[2021-04-13 20:15] peggygannon commented on #23087
@ala-yna The prototype linked above shows the whole 10-10CG form. Should we be reviewing all of these screens? If not, can you please indicate which screens we should focus our review on? thx!

[2021-04-13 20:17] andaleliz commented on #19562
Sounds good @Samara-Strauss. Do you want this to take priority over the other work I have assigned to me in this sprint? (error states + FE docs for facilities and notifications)

[2021-04-13 20:18] bessgreen opened #23166 ""Subject:" does not display the form field value"
## What happened?
On the message list views _and_ the message detail pages, the "Subject: Subject line" should be dynamic. "Subject:" and "subject line" are 2 distinct fields that come from the API.

Currently, the "Subject:" appears to always be hard-coded. It is not displaying service-driven data as expected.

## Specs:
- Devices: all
- Test user: vets.gov.user+261@gmail.com

## Steps to Reprodu

[2021-04-13 20:18] lianilychee opened #23167 "Conduct pair-writing sessions (Publish Monthly Newsletter)"
# User story
- As the Newsletter editor,
- I want to quickly extract submissions' value props and reduce jargon,
- so that I can produce the Newsletter quickly and with minimal back-and-forth with SMEs.

# Tasks
- [ ] Refine questions list.
- [ ] Talk to Service Design about getting a technical backup.

also,

- [x] Get submitters' names.
- [x] Schedule with submitters.
- [ ] Copywrite/edit.

# Ac

[2021-04-13 20:20] bsmartin-ep commented on #18746
Confirmed with the requesting team this looks OK.  Closing.

[2021-04-13 20:20] #18746 closed

[2021-04-13 20:23] Samara-Strauss commented on #19562
Punt to sprint 46. Project work should take priority.

[2021-04-13 20:25] joshkimux commented on #15247
Thank you!

[2021-04-13 20:26] joshkimux opened #23168 "508-defect-1 ❗ Launchblocker [SCREENREADER]: Text reminders checkbox alert MUST be announced to screen reader users and should be persistent"
# [508-defect-1 :exclamation: Launchblocker](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-1)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and a

[2021-04-13 20:27] lianilychee commented on #23153
Closing, as this task is reflected in https://github.com/department-of-veterans-affairs/va.gov-team/issues/23154

[2021-04-13 20:27] #23153 closed

[2021-04-13 20:27] lianilychee commented on #23152
Closing, as this work is reflected in https://github.com/department-of-veterans-affairs/va.gov-team/issues/23165

[2021-04-13 20:27] #23152 closed

[2021-04-13 20:30] MarciMcGuireGCIO commented on #15962
Thanks, @ Ronnie! Thought maybe there was a claims process for pension. Lol
I’m still learning.

On Tue, Apr 13, 2021 at 3:52 PM Veronica Henry ***@***.***>
wrote:

--
[image: GovernmentCIO] <http://www.governmentcio.com/>

Marci McGuire | PMP, PBA, ACP, PSM
Senior Product Manager
| *mobile* (336) 624-2605
| *office* (336) 624-2605
| *e.* ***@***.***
*Government*CIO
website <https://www.government

[2021-04-13 20:33] jason-gcio commented on #15962
We have folded the 21-527EZ into the 21-686c or at least in part.  Some forms around the VA have expired but we work with them until the LoB updates them.  Usually pretty safe to go with the latest one.

[2021-04-13 20:34] bcastoe commented on #22783
#22783 Create new Health Services "LIST and PLAYBOOK" for VA Battle Creek health care - Completed and moved to Validate.

[2021-04-13 20:36] amyknox commented on #23114
Content doc is updated with OCTO-DE musts.

[2021-04-13 20:38] ala-yna commented on #23087
@sshein, could you help clarify which screens are specific to our implementation of Sign as a Representative? Otherwise, @peggygannon, the link above should take you to [the first screen](https://preview.uxpin.com/3bf6496017f55041a94c2cfc8009c35dad5a79f2#/pages/137666490/simulate/sitemap?mode=i) that's specific to this initiative, and the rest can be found by clicking through from there.

[2021-04-13 20:38] joanneesteban commented on #21705
Audit documented in [Visualizations audit](https://docs.google.com/presentation/d/1gapGkzCqnlCURbjz6rtH2A8JsJlzZn-D_6GFobd3cU0/edit)

[2021-04-13 20:38] #21705 closed

[2021-04-13 20:39] joshkimux opened #23169 "508-defect-2 [SCREENREADER]: The text reminders checkbox label should be descriptive"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2021-04-13 20:40] rileyorr opened #23170 "[FSR] Marital status UI and content improvements"
## Issue Description
_We received feedback during the FSR's usability study that participants didn't know why their marital status/spouse information was necessary. Additionally, there was concern about needing to specify their marital status as 'divorced', 'separated', etc. This specification was added in an attempt to provide more context about the Veteran's financial situation, but the original

[2021-04-13 20:41] rileyorr commented on #22821
Awesome, thank you for that background info @troyriser! It's helpful for me as someone who advocates for plain language but may not understand all the nuances that get us there :) Appreciate it!

[I added a ticket to the backlog for frontend implementation.](https://github.com/department-of-veterans-affairs/va.gov-team/issues/23170)

[2021-04-13 20:42] Samara-Strauss commented on #15247
Documentation has been updated

[2021-04-13 20:45] lianilychee commented on #23144
Duplicate of https://github.com/department-of-veterans-affairs/va.gov-team/issues/23167

[2021-04-13 20:45] #23144 closed

[2021-04-13 20:48] lianilychee commented on #23167
Work is included in https://github.com/department-of-veterans-affairs/va.gov-team/issues/23146

[2021-04-13 20:48] #23167 closed

[2021-04-13 20:48] joshkimux commented on #19562
Updated this to include add buttons as well 😅
<img width="1424" alt="Screen Shot 2021-04-13 at 4 48 01 PM" src="https://user-images.githubusercontent.com/14154792/114619028-1529c680-9c78-11eb-91dd-2c1d0c6b0b5d.png">

[2021-04-13 20:52] bessgreen commented on #22667
Context for AC #7:

If we change subject to "General", subject line becomes a required field. Then, if we make Subject Line trigger the field error, and we change Subject to something other than "General", then Subject Line's field error still persists even though it isn't required anymore.

Implementing AC #7 as a workaround.

![Screen Shot 2021-04-13 at 1.43.20 PM.png](https://images.zenhubuserc

[2021-04-13 20:52] joshkimux opened #23171 "508-defect-3 [COGNITION]: Links should be styled as links, connected apps"
# [508-defect-3](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-3)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2021-04-13 20:53] mchelen-gov commented on #22437
i think this is supposed to be part of https://github.com/department-of-veterans-affairs/va.gov-team/issues/22354 ?

[2021-04-13 20:55] mchelen-gov commented on #22354
does this replace https://github.com/department-of-veterans-affairs/va.gov-team/issues/18328 ?

[2021-04-13 20:58] Samara-Strauss commented on #15247
- User 350 used to be our only LOA1 staging user, but it looks like it got upgraded to LOA3. This means that for all LOA1 use cases, Angela will have to create an account on staging to view these use cases. **It's important to note that when this new user gets created, you should not verify it's identity or add 2FA in the sign up process.** This will allow you to create the necessary use cases.
-

[2021-04-13 21:01] bethpottsVADEPO commented on #22161
@shiragoodman Do you know if the static VRRAP page was reviewed along with the form in the midpoint review?
@WillMcCormack for awareness

[2021-04-13 21:02] joshkimux opened #23173 "508-defect-2 [AXE-CORE]: Autocomplete attribute must be used correctly for home address/mailing address checkbox"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2021-04-13 21:04] holdenhinkle commented on #23012
Parking this ticket until I meet with Lindsey on Friday.

[2021-04-13 21:18] batemapf commented on #22973
After lots of discussion and attempts to get SCP over SSM working, we are going to focus on getting an S3 bucket set up so we can move the report from a production vets-api instance to a place we can actually get at it. For this purpose, we will need an S3 bucket to be configured that meets the following rough requirements:

- Encrypted
- Not publicly accessible
- Reachable from a production vets-

[2021-04-13 21:28] #22960 closed

[2021-04-13 21:31] ajakabcin opened #23174 "Authenticated Experience: Sprint 46 (4/21 - 5/4)"
## Priorities

1. Prep My VA for QA
2. Launch Direct Deposit for Edu to 100%
3. Define MVP details for notification preferences
4. Preferred Med Facilities planning and design work
5. Review items found in Profile 2.0 a11y & 508 audit

## Profile

**PM**
- [x] Work with Liz to break down #19562 into more manageable tickets
- [x] Review items identified as part of the Full Accessibility & 508 Offic

[2021-04-13 21:32] #17475 closed

[2021-04-13 21:37] drjecker commented on #21515
Closing this ticket as we've learned:
_Already-sequestered accounts should behave the same exact way as a normal MHV Premium account so they shouldn't need their own special path in the mobile app._

[2021-04-13 21:37] #21515 closed

[2021-04-13 22:01] Jeff-Hayter commented on #18968
@mleclerc00 Approved for AWS.  FTE only need Dror's approval I believe cc: @jhouse-solvd

[2021-04-13 22:13] bcastoe commented on #22778
#22778 Create new Health Services "LIST and PLAYBOOK" for VA Central Ohio health care - Completed and moved to Validate.

[2021-04-13 22:44] shiragoodman commented on #22161
@bethpottsVADEPO the static page was not reviewed in the Midpoint Review.

[2021-04-13 22:50] SKasimow opened #23175 "Usability Research | Placement for Language Assistance & Resource Links | Footer"
As a product manager, I would like to understand whether our users are able to easily find the links for the Language Assistance and Resource pages that will be placed in the footer of VA.gov.

Additionally, I would like to gather feedback on what users expect to to see when clicking the links.

[ ] Develop Research outline and objectives
[ ] Create mocks for footer link placement and mock of span

[2021-04-13 22:52] bessgreen opened #23176 "Unexpected errors when saving & deleting phone numbers"
## What happened?
1. The app intermittently displays the "Generic Error w/ Refresh" on the Edit Phone pages (Home/Work/Mobile/Fax). The error is usually triggered when any of the following actions are taken on these forms:
     - Deleting a phone number
     - Editing & saving a new phone number

This appears to be an issue specific to the Edit Phone forms. I haven't observed the same issues with

[2021-04-13 23:03] SKasimow commented on #23175
As a product manager, I would like to understand whether our users are able to easily find the links for the Language Assistance and Resource pages that will be placed in the footer of VA.gov.

Additionally, I would like to gather feedback on what users expect to to see when clicking the links.

[ ] Complete Research Request plan
[ ] Create mocks for footer link placement and mock of spanish and t

[2021-04-13 23:04] SKasimow commented on #23175
@DanielleThierryUSDSVA created placeholder ticket for research. we can review at next 1x1 and add additional steps.

[2021-04-13 23:05] joanneesteban commented on #22860
Thanks @mnorthuis ! Really appreciate your support on this work.

To answer your question,

Benefits & Products content grouping is great! Those are the groupings that are in scope right now for us. So no need to delve beyond that unless you want to!

[2021-04-13 23:13] bcastoe commented on #22779
#22779 Create new Health Services "LIST and PLAYBOOK" for VA Chillicothe health care - Completed and moved to Validate.

[2021-04-13 23:30] SethNiman opened #23177 "Analytics Implementation or QA Support for COVID 19 Vaccine Stay Informed"
# Google Analytics Implementation or QA Request

## What this form is for
We currently have a campaign driving traffic here:

https://www.va.gov/health-care/covid-19-vaccine/stay-informed

we are using SEM, Paid Social and Display (through our DSP) to target several audiences to that page. We want to track if they click on the button that says "Sign up now". We are using utm codes already to diffe

[2021-04-13 23:33] cindymerrill commented on #22144
Revised research plan a bit with Shawn's feedback.

[2021-04-13 23:52] laurenernest opened #23178 "Appointment request confirmation (Homepage Refresh)"
## Description
Update submission flow to show appointment details instead of separate confirmation page for successful appointment request submissions.

---
## Tasks
- [ ] VA request

- [ ] CC request

- [ ] VVC request

## Acceptance Criteria
- [ ] Changes are behind the `va_online_scheduling_homepage_refresh` feature flag

- [ ] Given VA request, When submission is successful, Then show appointm

[2021-04-14 00:51] drorva commented on #18968
Approved, but we need to sort out the Pager Duty licenses.

[2021-04-14 01:47] sshein commented on #23087
Hi there - there are 3 pages that are being added or edited in the 10-10CG form
- The[ Representative documentation question page](https://preview.uxpin.com/3bf6496017f55041a94c2cfc8009c35dad5a79f2#/pages/137666490/simulate/sitemap?mode=i) (note this content was reviewed/created by Danielle already)

[2021-04-14 02:26] mlighdc commented on #14698
@ala-yna and @Dene-human do you want to combine this one with the ticket that is currently being worked for the 10-10EZ research plan? Thanks.

[2021-04-14 03:10] gmaciolek commented on #23154
Can we change it to va-platform or something like that instead of platform website? Or wait to change it until we can work with someone to get a custom domain that's something like platform.va.gov?

I think we can refer to it as the platform website without putting "website" in the URL. I mean, if you're on it, you know you're looking at a website 🤷‍♀️  I don't think I've ever been to a website wi

[2021-04-14 12:16] stephenBarrs commented on #18968
Thanks @Jeff-Hayter and @drorva!  @mleclerc00 any chance the AWS access can be completed this morning?

[2021-04-14 12:23] RLHecht commented on #23060
@lunascoop Here are the translations for the Tagalog and Spanish pages. [https://app.zenhub.com/files/133843125/30cafd26-4ae1-4c69-924e-9df1c594a59c/download](https://app.zenhub.com/files/133843125/30cafd26-4ae1-4c69-924e-9df1c594a59c/download)

[2021-04-14 12:37] bethpottsVADEPO commented on #22161
@shiragoodman what's your recommendation at this late stage for a collab cycle review? Would the best approach be a new ticket or tack on to an existing collab cycle ticket?

@JenLJ and @amyknox I was reviewing the edits and I think we should add back in "I attest" at the start of this line:
The statements above are true and accurate to the best of my knowledge and belief. { Radio: yes, no }

I re

[2021-04-14 13:07] shiragoodman commented on #22161
@bethpottsVADEPO I'd recommend a new ticket as it would be easier for reporting purposes. Also, it's a different team responsible for the work. If you submit today, we can have feedback to you by EOD Friday, possibly sooner.

[2021-04-14 13:14] amyknox commented on #22161
@bethpottsVADEPO - The "true and accurate" statement has gone through the client & OMB review / approval so we're going to hold with what we have for now. UAT starts this afternoon and we'll address it quickly if necessary.

[2021-04-14 13:24] MarciMcGuireGCIO commented on #15962
Thank you, @vhenry07 and @jason-gcio!

[2021-04-14 13:25] amyknox commented on #22161
@bethpottsVADEPO & @shiragoodman For awareness - the VRRAP form could be ready to launch on production as early as Wednesday, 4/21

[2021-04-14 13:29] sonntag-adam commented on #22680
@department-of-veterans-affairs/uxbah this is in staging. User 220 will be the one needed to check.

[2021-04-14 13:32] RLHecht opened #23181 "Add link to new HLR form in decision reviews left nav"
## Issue Description
We need to link to the new HLR form in the decision reviews left nav. It should nest under the Higher-Level Review static page.

The link label should be: Request a Higher-Level Review
Link: https://www.va.gov/decision-reviews/higher-level-review/request-higher-level-review-form-20-0996/introduction

## Tasks
- [x] Add link to left nav
- [x] Review and publish

## Acceptance C

[2021-04-14 13:34] mydesignrocks commented on #23066
https://github.com/department-of-veterans-affairs/devops/pull/8948 was completed.

[2021-04-14 13:34] #23066 closed

[2021-04-14 13:42] kelsonic commented on #21929
#1 I can knock out right now. #2 is a design system issue 🙂

[2021-04-14 13:43] laurensimpson14 opened #23182 "Access for [individual]"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Do not remove `operations` label; this will notify the VSP Operations team of your request
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Pleas

[2021-04-14 13:44] rileyorr commented on #20341
The conversation guide has been reviewed by multiple researchers for feedback, [uploaded to GitHub](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/Debt%20Resolution/Medical_Copays/research/apr-2021/conversation-guide.md), and sent out to Lauren for feedback + to kick off the recruitment process. I'll move the ticket over to 'validate' once she approves it.

[2021-04-14 13:44] laurensimpson14 commented on #23182
Tagging the @department-of-veterans-affairs/vsp-operations group to please review

[2021-04-14 13:45] 1Copenut commented on #20527
I just sent a meeting invite for Monday, 4/19. Thank you!

[2021-04-14 13:54] JenLJ commented on #22680
UX Review 1/2: This checks out for me

[2021-04-14 13:55] mnorthuis commented on #23000
@MarciMcGuireGCIO Could we link to the spanish pdf forms on the english form detail page and redirect to that instead?

Also, do we want this set up as a temporary redirect so we can bring these back at some point?

[2021-04-14 14:01] MarciMcGuireGCIO commented on #23000
@mnorthuis the English form detail pages already have links to the Spanish PDF forms under "Related Forms, about midway down the page.  I suspect that @jenniferlee-dsva may have been thinking that since the search also provides the link to the PDF, they can get to it without being presented with a page that is all in English.

[2021-04-14 14:02] DanielleThierryUSDSVA commented on #23160
Hi, just updating this with the full text. Also chatted with Ryan via slack and we agreed we should add "Language" so that people scanning headers will better understand the context.

Language support in:
Español | Tagalog | Other languages

[2021-04-14 14:05] andaleliz commented on #19562
@joshkimux we created #22742 to address the "Add" button - there's a lot of copy involved and it'll likely be too much to track in this issue.

Based on previous conversations with Josh, I think we're going end up with a lot of big buttons using the design system style, or we need to invest time in designing a new style for secondary buttons in profile.  I'll keep noodling on this for now and dive

[2021-04-14 14:08] RLHecht opened #23183 "Add content to HLR page about new Claim Accuracy Request"
## Issue Description
Stakeholder Adrienne Hooten provided content about the pilot Claim Accuracy Request. This will allow accredited representatives a chance to request an expeditious review and determination of a claim for disability benefits. They have asked that this new content go onto our site no later than April 19, 2021.

The content provided needs to be rewritten into plain language and VA

[2021-04-14 14:12] andaleliz opened #23184 "[Design] - Profile: create dev guidance for styling"
There are styling discrepancies between profile mockups and code.  Review and provide FE with detailed spec sheets w/ what needs to be cleaned up.

- table padding on desktop and mobile
- h1 bottom margin
- section/ol bottom margin

(will add more detail)

AC
- [ ] specs delivered to devs

[2021-04-14 14:12] johnhashva commented on #23000
@mnorthuis and good idea about temporary redirects.  Our plan is to bring back the Spanish-language detail pages when we have a more scaled, robust solution for translation.

[2021-04-14 14:13] JoeTice commented on #18715
Moving this back to Icebox while we determine potential alternate approaches

[2021-04-14 14:15] andreahewitt-odd opened #23185 "Utility Developer Support Rotation - Sprint 50"
## Goal

The Backend Tools team utilizes a single resource each sprint to be the point person for a number of different things the entire team is responsible for.  This single resource will be responsible for items listed below and will have a lighter work load towards sprint objectives during the sprint in which they are assigned Utility Developer.

# Areas of Focus

## Triage Process
Monitoring

[2021-04-14 14:16] andaleliz opened #23186 "[Design] - Profile: clean up design specs for profile"
There are discrepancies between what is on staging + profile 2.0 mocks, particular wrt to padding and margins.  Audit + create new mock-ups/spec sheets to provide to FE so they can clean it up and align staging w/ mocks.

- table padding on desktop and mobile
- h1 bottom margin
- section bottom margin, especially on mobile
etc - will continue to add more

AC
- [ ] design specs delivered to FE

[2021-04-14 14:17] andreahewitt-odd opened #23187 "Tools BE VFS Support - Sprint 50"
As you review PRs, please add this epic to the issue so the business has visibility into our time spent supporting VFS teams.

[2021-04-14 14:18] mnorthuis commented on #22860
@joanneesteban Perfect, thank you!  As much as I'd like to dig further, I don't have the bandwidth right now.  However, I'd love to continue to partner any time you see fit.  I'll mark this issue as complete for me, but am available to answer any questions or provide more information regarding my feedback above. Thanks for including me in this work!

[2021-04-14 14:19] watersemma commented on #22680
UX Review 2/2: This looks good to me!

[2021-04-14 14:20] RLHecht commented on #23181
This was added to the left nav. Moving to validate and will close after next deploy. FYSA @mnorthuis @bethpottsVADEPO

[2021-04-14 14:21] bethpottsVADEPO opened #23188 "Midpoint Review for BAH/Sitewide Content VRRAP static page"
## Steps to complete Midpoint Review
- [ ] VFS Product Manager: Create this issue and fill in your team and feature name in the title.
- [ ] VFS: Link to this issue once created in [#vfs-platform-support](https://dsva.slack.com/channels/vfs-platform-support) in Slack; tag @vsp-product-support-members.
- [ ] VSP: Schedule meeting with VSP reviewers and VFS team attendees (listed below).
- [ ] VFS:

[2021-04-14 14:23] shiragoodman commented on #22860
Thank you @mnorthuis for helping out a fellow VSP team :)

@joanneesteban did you still need assistance with content/plain language? Let me know and we can discuss.

[2021-04-14 14:27] shiragoodman commented on #23188
@bethpottsVADEPO asynch review has been scheduled. You should receive feedback no later than EOD Friday. My team is aware of the urgency.

Please reach out if you have any questions.

[2021-04-14 14:29] #22905 closed

[2021-04-14 14:30] ashley-matthews opened #23189 "Email Preferences"
*User Story*
As a user, I want to receive email notifications when I receive a new message in my inbox.

*Acceptance Criteria*
* When a user receives a new secure message, they receive an email notification to their preferred email as it is saved in the secure messaging preferences on MHV today.
* The email notifications also match the user's preferred frequency (each message or once daily) as it

[2021-04-14 14:33] billfienberg commented on #22835
This might be useful for caching stuff to a volume that can be used between different runs.

https://www.jenkins.io/doc/book/pipeline/docker/#caching-data-for-containers

[2021-04-14 14:36] ashley-matthews opened #23190 "Message History Settings"
**User Story**
As a user, I want to see the same message history on the app version of Secure Messaging so that the two experiences (web + app) are the same.

**Acceptance Criteria**
* If the user has selected a 'message display settings' option on MHV, the same setting should be honored in the mobile app

![Screen Shot 2021-04-14 at 10.35.08 AM.png](https://images.zenhubusercontent.com/5fa59749c2

[2021-04-14 14:36] ashley-matthews opened #23191 "Message History Settings"
**User Story**
As a user, I want to see the same message history on the app version of Secure Messaging so that the two experiences (web + app) are the same.

**Acceptance Criteria**
* If the user has selected a 'message display settings' option on MHV, the same setting should be honored in the mobile app

![Screen Shot 2021-04-14 at 10.35.08 AM.png](https://images.zenhubusercontent.com/5fa59749c2

[2021-04-14 14:37] ashley-matthews opened #23192 "Adding realistic SM copy for demo"

[2021-04-14 14:41] kelsonic commented on #21929
PR is up for #1 ^ 🙂

[2021-04-14 14:42] allison0034 opened #23193 "Design Feedback - Midpoint Review [VSA Caregivers, Sign as a Representative)"
## VFS acceptance criteria
- [ ] Let VSP know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
-

## Feedback
- **Must** = the feedback must be applied
- **Should** = the feedback is best practice
- **Consider** = suggestions/enhancements

**Must:**
- Change ‘Delete file’ text lin

[2021-04-14 14:42] #21871 closed

[2021-04-14 14:57] ala-yna opened #23194 "Analytics KPI dashboard iteration request for [Caregivers - Health care application)"
# Request an \*iteration of\* a KPI Dashboard

## What this form is for
Use this template to request a KPI dashboard on Domo for your product.

## Instructions for the VFS team
- [x] Please use the [KPI Framework](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/analytics/Analytics%20Playbook/va-gov-platform-analytics-kpi-framework.pdf) to guide your KPI setting.

[2021-04-14 14:58] andreahewitt-odd commented on #22437
@mchelen-gov Yup! Thanks for catching that!

[2021-04-14 14:59] Mottie opened #23195 "NOD: Add file uploads page"
## Issue description

Add file upload pages (phase II work)

Related
- Design: https://vsateams.invisionapp.com/share/8Y10I6K7DU9R#/screens/447560988
- API: https://department-of-veterans-affairs.github.io/va-digital-services-platform-docs/api-reference/index.html?url=https://staging-api.va.gov/v0/apidocs#/nod/decisionReviewEvidence

## Tasks

- Add submit evidence yes/no question page
- Add uploa

[2021-04-14 15:02] andreahewitt-odd opened #23196 "Privacy and Security Review for GH auth"
## AC
- [ ] Transfer oauth app to va bot GitHub account
- [ ] Define access criteria for Sidekiq (teams' access)
- [ ] Add specs for oauth flow (via VCR)
- [ ] Document how to add teams to various tools (e.g. Sidekiq, PgHero)
- [x] Meet with Joe and Fleet for a security review

[2021-04-14 15:06] RLHecht commented on #23181
Validated on live site. Closing ticket.

[2021-04-14 15:06] #23181 closed

[2021-04-14 15:08] jbritt1 commented on #20872
Is this okay to close at this time?

[2021-04-14 15:08] jbritt1 commented on #17485
Is this ticket just in the scope of Grafana? If so, is it okay to close at this time?

[2021-04-14 15:10] jbritt1 commented on #21546
Is this okay to close at this time?

[2021-04-14 15:10] jbritt1 commented on #18203
We moved away from the "platform-tools" nomenclature and currently have a working EKS cluster in staging. Is this okay to close at this time?

[2021-04-14 15:11] jbritt1 commented on #18153
We now leverage a single ArgoCD deployment in utility to manage the other clusters. Is this okay to close at this time?

[2021-04-14 15:11] jbritt1 commented on #17182
We moved away from the "platform-tools" nomenclature, but do have a working EKS cluster in utility. Is this okay to close at this time?

[2021-04-14 15:12] jbritt1 commented on #19471
Is this okay to close at this time?

[2021-04-14 15:12] digitalken commented on #22954
Added to TestRail.

[2021-04-14 15:12] digitalken commented on #22671
Added to TestRail.

[2021-04-14 15:13] digitalken commented on #20815
Added to TestRail.

[2021-04-14 15:13] digitalken commented on #22676
Added to TestRail.

[2021-04-14 15:13] digitalken commented on #20814
Added to TestRail.

[2021-04-14 15:14] digitalken commented on #20813
Added to TestRail.

[2021-04-14 15:16] andaleliz commented on #22591
Per Slack convo w/ @erikphansen , we don't need to address the health care endpoint failure like I thought.  If we couldn't tell if someone was a VA patient, that would be because of an MPI failure, which we already address in profile through a profile-wide generic message:
![image](https://user-images.githubusercontent.com/55992116/114734832-95046f00-9d12-11eb-9efc-741ce2008084.png)

Here are the

[2021-04-14 15:17] mnorthuis commented on #16195
This was not corrected before this form went to production, and will need to be fixed.

[2021-04-14 15:18] kelsonic commented on #21929
PR merged

[2021-04-14 15:20] andreahewitt-odd opened #23197 "Move tests to self-hosted runner"
AC:
- [x] Github actions code checks are run on self-hosted runner (that Demian spun up)
- [x] ~Falls back to cloud runners if self-hosted runner isn't available~
  - Not supported by GitHub
- [x] Either update documentation if it exists or create documentation

[2021-04-14 15:21] rebeccawalsh opened #23198 "[FSR] Update 'Find information about submitting a financial status report' link to FSR wizard"
## Issue Description
In a debt's detail page, under 'How do I get financial help?', the link 'Find information about submitting a financial status report' goes to a legacy page that will be redirected. Change the href to direct users to the FSR wizard page.

![image.png](https://images.zenhubusercontent.com/5da618a29c4ddf0001b2fd8e/467e1969-6d6b-4dc2-826f-b79036fdddd7)

---
## Tasks
- [ ] Update t

[2021-04-14 15:21] #22266 closed

[2021-04-14 15:23] #13676 closed

[2021-04-14 15:24] #20005 closed

[2021-04-14 15:26] rebeccawalsh opened #23199 "[FSR] Update emails in wizard to be lower case"
## Issue Description
Emails in the wizard terminus for VET TEC and Rogers STEM are currently all caps -- change these to lowercase.

![image.png](https://images.zenhubusercontent.com/5da618a29c4ddf0001b2fd8e/2744f2c9-2841-44cf-8ef2-db18b312ca92)
![image.png](https://images.zenhubusercontent.com/5da618a29c4ddf0001b2fd8e/9775a10c-c40b-4ca9-a20c-2bca1f462a49)

---
## Tasks
- [x] Change emails in wiza

[2021-04-14 15:33] jhouse-solvd opened #23200 "Monitoring - Set up DataDog agent to capture metrics in EKS"
## Issue Description
As an infrastructure/devops engineer, I need to install DataDog agent so that I can capture metrics from EKS clusters.

---
## Tasks
- [x] Install node agent
- [x] Install cluster agent
- [x] Install kubestate metrics service
- [x] DataDog general configuration
- [x] Basic testing to make sure it's up
- [x] CI Process for installing the above

## Acceptance Criteria
- [x] Data

[2021-04-14 15:34] allison0034 opened #23201 "Design Feedback - Midpoint Review for BAH/Sitewide Content VRRAP static page"
## VFS acceptance criteria
- [ ] Let VSP know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
-

## Feedback
- **Must** = the feedback must be applied
- **Should** = the feedback is best practice
- **Consider** = suggestions/enhancements

**Must:**
- Change green apply button to

[2021-04-14 15:36] ala-yna commented on #14698
Yes! Closing this out in favor of https://github.com/department-of-veterans-affairs/va.gov-team/issues/22825

[2021-04-14 15:36] #14698 closed

[2021-04-14 15:36] RLHecht opened #23202 "Update chatbot with recent changes made to vaccine minihub"
## Issue Description
We've recently updated the vaccine page with content about eligibility and availability for the vaccines. These updates also need to be made in the chatbot.

## Tasks
- [ ] Do a comparison of the chatbot and vaccine minihub to determine what content updates are needed to the chatbot (Selina)
- [ ] Update chatbot with new text (Selina)
- [ ] Review changes (Randi)
- [ ] Alert c

[2021-04-14 15:36] allison0034 commented on #23188
@bethpotts I am getting an error when I try to access the preview link. This site can’t be reachedCheck if there is a typo in preview-prod.vfs.va.gov.
DNS_PROBE_FINISHED_NXDOMAIN

[2021-04-14 15:36] RLHecht opened #23203 "Update chatbot with recent changes made to vaccine minihub"
## Issue Description
We've recently updated the vaccine page with content about eligibility and availability for the vaccines. These updates also need to be made in the chatbot.

## Tasks
- [x] Do a comparison of the chatbot and vaccine minihub to determine what content updates are needed to the chatbot (Selina)
- [x] Update chatbot with new text (Selina)
- [x] Review changes (Randi)
- [x] Alert c

[2021-04-14 15:38] #23202 closed

[2021-04-14 15:38] rebeccawalsh opened #23204 "[FSR] Update 'Make a payment' terminus for wizard"
## Issue Description

**Feedback from IA:**
Linking/information scent: In the wizard alerts after selecting "Make a payment", the link to " Find out how to manage your debt" is a more broad task than what they have indicated they want to do - make a payment. Recommend providing more specific info/link directly to pay.va.gov, or and/or providing a more specific link to deep link them to the corresp

[2021-04-14 15:38] artsymartha68 commented on #23029
I may have called it the wrong thing, the "audit report" I mentioned yesterday is the doc Meli has linked above.

We decided that Meli will show these docs to the 508 office team members at next week's monthly meeting with them. They probably won't have access to google docs so they'll need an exported version

[2021-04-14 15:38] #22415 closed

[2021-04-14 15:40] joanneesteban commented on #22860
@shiragoodman @mnorthuis thank **you** for your support!

We have a few things that I think we'll need some plain language review on, but the first priorities would be:
- Dashboard review (reviewing the language on our dashboards to ensure that they're plain language)
- Dashboard _data_ review (reviewing the data _labels_ that users can see from the dashboard data so that they can better understan

[2021-04-14 15:40] #23101 closed

[2021-04-14 15:41] #23019 closed

[2021-04-14 15:42] rebeccawalsh opened #23205 "[FSR] Update 'Learn more about the VA appeals process' link in wizard"
## Issue Description

**Feedback from IA:**
 In the wizard alerts after selecting "I disagree with the VA decision" , the link label to "Learn more about the VA appeals process" should reference the new label for appeals "Decision reviews". Not fixing this will lead to user confusion due to a disconnect between the link label and the page they land on.

Change the 'Learn more about the VA appeals

[2021-04-14 15:44] 1Copenut opened #23206 "[AXE-CORE]: Outreach & Events - Links must have discernible text"
# [508-defect-1 :exclamation: Launchblocker](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-1)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and a

[2021-04-14 15:50] jsev-io commented on #21023
These users have been created and will receive credentials today.

[2021-04-14 15:51] ajmagdub commented on #22473
Reviewed the work done on #16107 and it looks ready for use by the FE to pull preferred facilities without any further modifications.

The work done provides the ability to retrieve a list of preferred facilities for the current user, GET; create a single facility for the current user, POST; and delete a single facility for the current user, DELETE. Following are the associated endpoints from Vets

[2021-04-14 15:51] #22473 closed

[2021-04-14 15:53] Samara-Strauss commented on #19562
Sounds good to push this to next sprint. We might need to take this one problem at a time — so first tackle the edit buttons (easy), then think about adding new information, then think about the delete state. I don't want the profile to look sloppy and be buttons on buttons on buttons that don't communicate hierarchy re: primary vs. secondary actions, so this might involve some larger pattern chan

[2021-04-14 15:53] MarciMcGuireGCIO opened #23207 "User Survey Request for Find a VA Form"
# Request the Feedback Survey

## What this form is for
Use this template to request adding the Medallia Survey to your product.

Read more about Medallia [link](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/teams/vsp/teams/contact-center/medallia) & how to request a survey [link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsp/teams/

[2021-04-14 15:53] rebeccawalsh commented on #22869
Thanks, @mnorthuis! I've gone ahead and made design and FE tickets for these, only one piece I had a question about:

**Must:**
- Done - unauthenticated is not a feature, we just used it to test in staging with! This is removed now.
- [Ticket](https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/23061)

**Should:**
- [Ticket](https://app.

[2021-04-14 15:54] ambikaroos commented on #23029
Thanks, Martha! Will that meeting suffice as the "accessibility sign off"
from VA prior to our launch, or is anything else required?

On Wed, Apr 14, 2021 at 11:38 AM Martha Wilkes ***@***.***>
wrote:

--
*Ambika Roos*
Principal Product Manager
Ad Hoc, LLC

[2021-04-14 15:59] MarciMcGuireGCIO opened #23208 "User Survey Request for Find a Yellow Ribbon School"
# Request the Feedback Survey

## What this form is for
Use this template to request adding the Medallia Survey to your product.

Read more about Medallia [link](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/teams/vsp/teams/contact-center/medallia) & how to request a survey [link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsp/teams/

[2021-04-14 16:00] andaleliz commented on #22753
@Samara-Strauss and @ajakabcin - this is my first time creating FE dev docs for auth experience. Is this something you want to review and provide feedback on?  I have a [draft](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/profile/preferred-facility/design-specs.md) ready - just need to get content sign off on 2 messages, and add screen

[2021-04-14 16:00] rtwell commented on #23160
Ok gang i have some comps for your review. I have included 2 versions depending on the bandwidth of this work:
1. [comp 1](https://www.sketch.com/s/d4137b22-6930-46e1-8158-37718cc36265/a/Vrojxjl)—leaving the footer as-is _except_ for adding the Language support section
2. [comp 2](https://www.sketch.com/s/d4137b22-6930-46e1-8158-37718cc36265/a/KvRVgVV)—updating the rest of the footer while we're i

[2021-04-14 16:06] tressaellen commented on #22656
I have a question for @erikphansen - [This is what](https://github.com/department-of-veterans-affairs/va.gov-team/issues/22568#issuecomment-817992382) we currently show in profile for MPI, and below is what I have in my sketch file for MPI. Do you know if this is a 'refresh and try again' situation or should we link to 'Find the nearest medical facility'?

![Screen Shot 2021-04-14 at 11.47.24 AM.p

[2021-04-14 16:09] artsymartha68 commented on #23029
We'll make sure and ask them next week. As I told Meli, I think that once they are presented with the rigor that this team has approached accessibility testing, they will simply say GO! 😃

[2021-04-14 16:11] andaleliz commented on #8383
Example from direct deposits here:
https://app.zenhub.com/workspaces/vanotify-5ea0ae59b51ccc3c83a8b65b/issues/department-of-veterans-affairs/notification-api/366

[2021-04-14 16:14] craigwheeler commented on #20506
need mock user data for when there are no Veteran benefits

[2021-04-14 16:16] ajakabcin commented on #19562
Adding the needs grooming label to flag for further discussion/breaking down

[2021-04-14 16:16] ajakabcin commented on #22753
I'll review it with you @andaleliz!

[2021-04-14 16:16] rileyorr opened #23209 "[FSR] Content updates per staging review feedback"
## Issue Description
_Multiple sections of the FSR need content changes per [Peggy's staging review feedback](https://github.com/department-of-veterans-affairs/va.gov-team/issues/22475). This epic contains tickets for both updating the UXPin (given that we're iterating on the design) and frontend._

---
## Frontend tickets
- [x] _[Wizard content updates](https://github.com/department-of-veterans-a

[2021-04-14 16:17] craigwheeler commented on #20773
Need a user to test for when there are no debts the following user cases outlined [here](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/Debt%20Resolution/Financial-Status-Report/fsr-use-cases.md) need mock data for localhost updated by BE

[2021-04-14 16:18] mnorthuis commented on #23188
@allison0034 here is a screen shot of the page, I can screen share with you as well if you want to see it live.

![image](https://user-images.githubusercontent.com/20994159/114744196-0d6b3000-9d13-11eb-8c4a-0d4ef886faec.png)

[2021-04-14 16:18] erikphansen commented on #22656
This is understandably confusing.

The alert you shared above, "We can't match your information...", is for when the user is _not in MPI_.

The other alert that I had previously shared, "We can't access your veteran records" is for when there is _an error connecting to MPI_.

We probably need both for the My VA Dashboard:
- an error when we cannot connect to MPI
- an error when we can connect to M

[2021-04-14 16:21] #22367 closed

[2021-04-14 16:22] DanielleThierryUSDSVA opened #23210 "Update KMI confirmation emails"
## Issue Description
We need to update the confirmation emails to reflect the latest situation in terms of vaccine supply and coming into a VAMC. These changes pull from already approved content.

---
## Tasks
- [x] Update content (Danielle)
- [x] Review for errors (Randi)
- [ ] Update templates (Maria, Todd, and team)
- [ ] Review templates (Danielle, Randi)

## Acceptance Criteria
- [ ] Confirma

[2021-04-14 16:24] lexicalninja commented on #23032
Can we smoke test IAM or do we need them to smoke test for us? We aren't using our own API for this, so I don't think we can just drill their end points without them. We don't want to degrade service for the other applications with our testing.

[2021-04-14 16:31] shiragoodman commented on #23074
hey @katieho-va and @LucianaAlexanderMorais. We had an Orientation meeting this morning. I reviewed the Collaboration Cycle and various touchpoints, and Luciana walked me through the scope of the product and your planned POV launch.

We are recommending the following Collaboration Cycle touchpoints:

- Midpoint Review
- Analytics Request
- Privacy and Security Review
- Staging Review (TBD)

Inform

[2021-04-14 16:32] joeniquette opened #23211 "Cerner changing staging URL"
Cerner has informed us they are changing their staging URL from `ehrm-va-test.patientportal.us.healtheintent.com/` to `https://staging-patientportal.myhealth.va.gov/`

We need to ensure any areas where we handled redirects during the SSO process are updated accordingly.

[2021-04-14 16:33] DanielleThierryUSDSVA commented on #23210
Hi @RLHecht. Could you review these before Maria and team update? Thank you!

[KMI confirmation email_enrolled_04.13.21 updates](https://app.zenhub.com/files/133843125/64a399c0-c45f-4b3a-b38c-f875f6c4f4d0/download)

[KMI confirmation email_new SLA non-enrolled_04.14.21 changes](https://app.zenhub.com/files/133843125/326ba0e9-ce8c-423b-b578-004f682b24a7/download)

FYSA @lalexanderson-dsva @batemapf

[2021-04-14 16:33] joeniquette commented on #23211
Here are the areas in vets-website I found the changes need to be made:
https://github.com/department-of-veterans-affairs/vets-website/search?q=ehrm

[2021-04-14 16:35] bkjohnson commented on #21929
@kelsonic @rtwell I don't think that underline issue is with the design system. The link text appears to have additional whitespace arround it:

![image](https://user-images.githubusercontent.com/2008881/114746023-202a3880-9d04-11eb-97cb-9d15fce92483.png)

When I remove this whitespace, the underlined whitespace also gets removed:

![image](https://user-images.githubusercontent.com/2008881/1147463

[2021-04-14 16:38] bessgreen commented on #22617
Will this be handled on the FE, BE, or both?

[2021-04-14 16:47] Samara-Strauss commented on #22753
I don't need to review this, though it looks good at a glance. If you've reviewed with FE and they have the information they need, that's the most important thing!

[2021-04-14 16:47] #22995 closed

[2021-04-14 16:50] mydesignrocks commented on #18968
@jbritt1 - wondering if these are the right groups that Stephen should be part of?
["dsva-vfs-all", "dsva-vfs-developers", "force-MFA"]

[2021-04-14 16:51] sporeboy commented on #22074
Talked to Beth; provided links... will touch again base today 4/14. Look for review during office hours tomorrow 4/15.

[2021-04-14 16:55] jbritt1 commented on #18968
Yes, let's roll with those first two groups (force-MFA is included in dsva-vfs-all https://console.amazonaws-us-gov.com/iam/home?region=us-gov-west-1#/groups/dsva-vfs-all)

[2021-04-14 16:57] mmiddaugh opened #23212 "Create prototype for mobile VHA location research"
## Description
Currently, VAMC Location pages include mobile facilities. See [Cheyenne](https://www.va.gov/cheyenne-health-care/locations/) for an excellent example. We'll need a prototype to support Veteran research conducted to understand the best ways to display mobile locations.

## Background
Listed locations may be truly mobile (with wheels) or be brick/mortar locations with fixed addresses,

[2021-04-14 16:57] dillo opened #23213 "FSR form submission in production is failing."
## Issue Description
The FSR form submission from the UI in production is failing because the `vets-api` is calling an incorrect URI when making a request to the Debt Management Center API; The URI for the DMC URL is configured incorrectly in the Production Settings file.

---
## Tasks
- [x] _Make the configuration change in the production settings file to include the correct production URI for th

[2021-04-14 16:59] #22447 closed

[2021-04-14 17:00] meganhkelley opened #23214 "Tools FE VFS Support - PR Reviews Sprint 50"
## Details

Add PRs to this epic during Sprint 48. Any time you ...
* Approve a PR
* Leave comments on a PR
* Request changes on a PR

Add PRs from ...
* VFS teams
* Other VSP or Platform Crew teams

DO NOT add PRs from ...
* FE Tools team

[2021-04-14 17:04] #22454 closed

[2021-04-14 17:05] craigwheeler commented on #22713
verified events are being tracked in google analytics

[2021-04-14 17:07] brianalloyd commented on #22438
Reviewed in grooming, need to look at data to see how search in mobile (user behaviors).  @callen2563 to add in notes from accessibility elements.

[2021-04-14 17:08] mydesignrocks commented on #18968
ah! true - thank you! @jbritt1

[2021-04-14 17:11] lianilychee commented on #23154
Gretchen can do the first three subtasks before departing.

[2021-04-14 17:13] dillo commented on #23213
PR created: https://github.com/department-of-veterans-affairs/devops/pull/8956

[2021-04-14 17:18] brianalloyd commented on #23082
@RLHecht can you review this ticket and advise if this is something the `Sitewide content` team would action or a FE element.  PW Team reviewed in grooming and wanted to dial you into the discussion.

[2021-04-14 17:21] laurenernest commented on #22473
Great! Thank you for validating!

[2021-04-14 17:21] brianalloyd commented on #23206
@RLHecht we reviewed this in grooming and believe this is something the `Sitewide Content` team would handle, can you review and let me know your thoughts.

[2021-04-14 17:21] tressaellen commented on #22656
OH okay, got it. Does this work @erikphansen ? If so, I'll get copy involved to take a look at these.

- This is the error for when we can connect to MPI but the user is not in MPI

![Screen Shot 2021-04-14 at 12.03.07 PM.png](https://images.zenhubusercontent.com/5dfa65bbbd078d1699e52294/ba113710-bf89-4c86-b11f-8d16baeac215)

- And this is the error for when we cannot connect to MPI

![Screen Shot

[2021-04-14 17:22] #21892 closed

[2021-04-14 17:23] brianalloyd commented on #15600
@DanielleThierryUSDSVA PW team reviewed this in grooming and wanted to see if this is still a relevant issue or not.  Please advise.

[2021-04-14 17:23] mlighdc commented on #22825
@Dene-human thank you so much for jump in on this! As you can see this one has been hanging out there since October 2020. So really appreciate you helping to move the research plan and discussion guide along for this effort.

[2021-04-14 17:25] brianalloyd commented on #21528
Reviewed in grooming, @kelsonic to review and advise on possible fix.

[2021-04-14 17:27] callen2563 commented on #22438
@joshkimux are you able to comment on your feedback for the search menu on R+S mobile that we had chatted about previously?
Currently on mobile the search bar is hidden under a menu, does this work from an accessibly standpoint?

https://www.va.gov/resources/
<img width="500" alt="Screen Shot 2021-04-14 at 1 23 33 PM" src="https://user-images.githubusercontent.com/68560244/114752803-b2dacf80-9d24-

[2021-04-14 17:27] ajakabcin opened #23215 "[FE] Direct Deposit for Edu - Launch to all users"
## Background
Following successful completion of #22587  and launch to 50% of users, we'll complete with our phased launch of the Direct Deposit for Edu project, going up to 100%.

## Task

- [x] Make feature available to 100% of users
- [x] Monitor analytics post-launch

[2021-04-14 17:29] brianalloyd commented on #4730
Closing.

[2021-04-14 17:29] #4730 closed

[2021-04-14 17:31] erikphansen commented on #22656
Those would work for me.

[2021-04-14 17:31] jason-gcio opened #23216 "Scaffold COE"
## Description
In order to get the initial folder and file structure set up for Certificate of Eligibility (CoE), we need to scaffold out the project in `vets-website`. This scaffolding will not include any of the custom functionality of CoE and all of the content in this scaffolding is heavily subject to change.

## Considerations
- Address the product decision doc in the feature folder
- Form ap

[2021-04-14 17:32] ajakabcin commented on #22587
Completed 4/14

[2021-04-14 17:32] #22587 closed

[2021-04-14 17:35] meganhkelley opened #23217 "JSDOM cleanup"
## Details

Some tests require setup before the test runs, test runs, and then when test ends it is normal procedure to clear out the setup before the next test runs. Not all unit tests are clearing out their setup.

This is an issue that can BOTH be addressed at a platform level, AND should be added to best practices for VFS teams writing unit tests.

## Acceptance Criteria
- [ ] Added mechanisms

[2021-04-14 17:35] erikphansen commented on #22570
This can be validated on staging.

[2021-04-14 17:37] erikphansen commented on #22565
This will be on staging soon.

Validating the loading spinner's text will be easy.

Validating that we stop checking for claims and "error out" about 45sec or so will be a little more tedious

[2021-04-14 17:39] rileyorr opened #23218 "[FSR] Wizard content updates"
## Issue Description
_The FSR's wizard needs content updates per Peggy's staging review feedback._

---
## Tasks

- [x] Please fix typo in this sentence: `I this this debt is due to an error.` TO: `I think this debt is due to an error.`

- [x] Please delete error/ double Note in this sentence:
`Note: Note: You have 180 days from the date you received your first debt letter to submit your dispute s

[2021-04-14 17:39] #22516 closed

[2021-04-14 17:41] tressaellen commented on #22656
@bethpottsVADEPO could you work your magic on this error please? Specifically the heading - the content has already been approved.

**We can't access any health care or claims or appeals information right now**

We’re sorry. Something went wrong when we tried to connect to your veteran records. Please refresh or try again later.

![Screen Shot 2021-04-14 at 1.18.20 PM.png](https://images.zenhubuse

[2021-04-14 17:42] DanielleThierryUSDSVA commented on #22773
Latest emails [Keep me informed #8 (segmented)_04.14.21 J&J edits 2](https://app.zenhub.com/files/133843125/c021571f-1d99-4b9b-8e02-2f346d4cb2ea/download)

[2021-04-14 17:51] rileyorr opened #23219 "[FSR] Wizard content changes"
## Issue Description
_The FSR's wizard needs content updates per Peggy's staging review feedback. Since we're proceeding with a second iteration post-usability recommendations, we need to make sure the changes suggested in production align with the prototype._

---
## Tasks

Ensure the following changes requested in production's wizard align with the prototype:

- [x] Please fix typo in this sente

[2021-04-14 17:53] ayushchak commented on #22872
Flagging as a nice to have for launch, but may not have to happen immediately at launch

[2021-04-14 17:53] #20761 closed

[2021-04-14 17:54] #22853 closed

[2021-04-14 17:57] ayushchak commented on #13683
This remains unknown - pending feedback from Leanna

[2021-04-14 17:59] amyknox commented on #22836
@mnorthuis - thanks for the input. That's an interesting idea. I'd like to check and see where other forms direct applicants so we're using best practices.  If there's not one established, maybe we could add a code snippet that would detect if they traveled through that program page and, if so, return them there.  That could be helpful. We're pushing to get this form out ASAP but will incorporate

[2021-04-14 18:01] kelsonic commented on #21929
Ah ha! Good catch! It's the content, will get a PR up here shortly for it, thanks @bkjohnson! 🙂

[2021-04-14 18:06] ayushchak commented on #20995
Leanna will get terms from other apps for us to adapt to our context.

[2021-04-14 18:08] #21952 closed

[2021-04-14 18:11] #22771 closed

[2021-04-14 18:12] #18693 closed

[2021-04-14 18:12] rebeccawalsh commented on #18693
Already completed

[2021-04-14 18:16] joeniquette opened #23220 "Review Code Review Requirements for Calls to MPI"
slack conversation here: https://dsva.slack.com/archives/C019S3NSSAD/p1618239519148200
and here: https://dsva.slack.com/archives/CBU0KDSB1/p1618237577267200 and here: https://dsva.slack.com/archives/CBU0KDSB1/p1618234214257100

Essentially this ticket asks that we review all code changes/additions for calls to MPI through va.gov and ensure our team is alerted/forced to approve before the change ca

[2021-04-14 18:16] MarciMcGuireGCIO commented on #21944
Note - downloading the form still doesn't totally resolve the issue in cases where the user's system defaults to open PDF docs in something other than Adobe Reader.

[2021-04-14 18:18] #22461 closed

[2021-04-14 18:19] rebeccawalsh commented on #19617
This is a inherent design system problem, which will probably be made null by redesign of list loop sections.

[2021-04-14 18:19] #19617 closed

[2021-04-14 18:24] MarciMcGuireGCIO commented on #23155
There is currently no test coverage for this product because NightWatch has been deprecated.

[2021-04-14 18:25] SKasimow commented on #23160
Thanks @rtwell   I can't access the comps. Can you add me to Sketch or send a guest link?

[2021-04-14 18:26] MarciMcGuireGCIO commented on #23156
Could be a high risk, so should be done after unit tests are incorporated into the product.

[2021-04-14 18:28] MarciMcGuireGCIO commented on #23157
This is not urgent; more "nice to have".

[2021-04-14 18:29] ajakabcin commented on #22570
Confirmed on staging

[2021-04-14 18:29] #22570 closed

[2021-04-14 18:29] joanneesteban opened #23221 "Build the Forms KPI Dashboards in Domo"
## Issue Description
Create the Forms KPI Dashboard so that we can test our build SLAs and VFS teams can start using our new Forms KPI Dashboards "MVP."

---
## Tasks
- [ ] Create new datasets for Forms Funnels & Engagement
- [ ] Create any new calculations
- [ ] Create new cards for the dashboard
- [ ] Apply the designs to the dashboard & build out the funnels
- [ ] QA the data
- [ ] QA the desig

[2021-04-14 18:30] MarciMcGuireGCIO commented on #23157
Potential this could become an epic if numerous issues are uncovered as Zach implements unit testing

[2021-04-14 18:32] omgitsbillryan commented on #21465
[Here's the dashboard in question](http://grafana.vfs.va.gov/d/pEgVdRlZk/external-service-performance-indicators?orgId=1) I believe.  The specific metric that these panels query off of is `haproxy_server_total_time_average_seconds`. So some questions:

1. What's wrong with the existing SLO dashboard in grafana? Is it just that we want a Datadog flavored one?
2. Are we looking for the same kind of

[2021-04-14 18:33] joanneesteban commented on #23221
@JasonTheBearded to tag the team when ready for QA.

[2021-04-14 18:33] joshkimux opened #23222 "Accessibility Feedback for Midpoint Review [VSA Caregivers, Sign as a Representative)"
## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix and/or document decisions made.
1. Accessibility specialist will close ticket after reviewing documented decisions / validating fix.

## Point of Contact

**VFS Poi

[2021-04-14 18:34] joanneesteban commented on #23194
Hi Alayna! We'll see you in the Feedback Session tomorrow, but just want to share that we're pausing on any new dashboards or iterations to dashboards until the end of June.

[2021-04-14 18:37] tlei123 commented on #23077
@kristenmcconnell , would you mind starting a Use Cases doc please and add a link in the main description above?  [I'm assuming there'd be different specific use-needs to be met, but I could be wrong.]

- Use Cases [doc-template](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/design/product-use-cases-template.md)
- Relevant [QA documentation](https://github.com

[2021-04-14 18:46] micahchiang opened #23223 "COE - Automatic COE Generation Investigation"
## Description
As a user, I expect VA to have all the necessary information needed to provide me with a COE. Because of this, I want a COE to be automatically generated instead of having to walk through a form and fill out information VA already has on file.

## Considerations
- [Prototype](https://preview.uxpin.com/65c0623a799c268173fe1a3cb4375f9ce00ad820#/pages/137653432/simulate/sitemap)
- Befo

[2021-04-14 18:49] MarciMcGuireGCIO commented on #19170
High Level testing - internal, possibly with the VA stakeholders, possibly with another API user.

[2021-04-14 18:50] amyknox commented on #23005
Thanks, @allison0034 - we're tracking the Should & Consider input for post-MVP.

[2021-04-14 18:50] #23005 closed

[2021-04-14 18:50] bcastoe commented on #22780
#22780 Create new Health Services "LIST and PLAYBOOK" for VA Cincinnati health care - Completed and moved to Validate.

[2021-04-14 18:52] micahchiang opened #23224 "COE - Implement Certificate Autogeneration"
`this may go away or change to accommodate incoming pdf`

## Description
As a user, I expect to have a COE autogenerated because VA has all of my information on file.

## Considerations
- Should be completed after https://github.com/department-of-veterans-affairs/va.gov-team/issues/23223
- [Prototype](https://preview.uxpin.com/65c0623a799c268173fe1a3cb4375f9ce00ad820#/pages/137653432/simulate/site

[2021-04-14 18:54] mydesignrocks commented on #18968
can you please verify your AWS access now @stephenBarrs

[2021-04-14 18:57] #14769 closed

[2021-04-14 18:58] ksantiagoBAH commented on #22599
Pull Request: https://github.com/department-of-veterans-affairs/vets-website/pull/16790

[2021-04-14 19:01] amyknox commented on #23067
Thanks @1Copenut - appreciate your input! We're tracking Should & Consider items for post-MVP.

[2021-04-14 19:01] #23067 closed

[2021-04-14 19:01] dmccurdybah commented on #22680
PR: https://github.com/department-of-veterans-affairs/vets-website/pull/16762

[2021-04-14 19:01] micahchiang opened #23225 "COE - Gate Application Behind Authentication"
## Description
Because our application relies heavily on user data, we want to gate it behind login.

## Considerations
- pass the ` hideUnauthedStartLink` prop to `SaveInProgressIntro` ✔
- read URL and redirect to `/introduction` if user is unauthenticated and on a form route

## Tasks
- [x] pass the ` hideUnauthedStartLink` prop to `SaveInProgressIntro`
- [x] read URL and redirect to `/introduct

[2021-04-14 19:02] peggygannon commented on #22475
Hi, @rileyorr Thank you for your follow-up responses!

The privacy policy checkbox line I referred to in my review is this : {checkbox}  I have read and accept the [privacy policy](*Required)

[2021-04-14 19:04] rebeccawalsh commented on #17189
@camerontesterman Quick question -- do you remember why this was in Icebox? What was the status of this ticket? We're trying to clean up BE backlog.

[2021-04-14 19:05] jonwehausen commented on #15757
Hi @jason-gcio ,

Could you provide an update on this work? Thanks so much

[2021-04-14 19:05] jonwehausen commented on #22421
Hi @jason-gcio

Could you provide an update on this work? Thanks so much

[2021-04-14 19:06] micahchiang opened #23226 "COE - Migrate form schema to vets-json-schema"
## Description
The COE is a form application, thus, the schema for it should live in `vets-json-schema`

## Considerations
- This ticket should be done after https://github.com/department-of-veterans-affairs/va.gov-team/issues/23216

## Tasks
- [x] Add new form schema has been added to `vets-json-schema`
- [x] Remove schema from `vets-website`
- [x] Submit PRs to `vets-json-schem`a, vets-website,

[2021-04-14 19:10] erikphansen commented on #23001
I do not see any issues with the My VA Apply For VA Benefits section not resolving (getting stuck on a spinner) for user 228 locally or on staging. The call to get the enrollment status from ESR does fail locally, but that's handled gracefully.

I'm closing this for now.

[2021-04-14 19:10] #23001 closed

[2021-04-14 19:11] jonwehausen commented on #16164
Hi @zurbergram ,

Thanks for your questions here.

- Yes, you can pass `'small'` for the smaller accordions and `full-content-width` for the standard size ones
- Great question, please pass in the rating as a decimal number

[2021-04-14 19:11] nsmith1982 opened #23227 "Offboarding of Arnaud Tako"
# Instructions
Fill out name of individual and *Description* section below.

# Description
- Please provide the name of the individual needing offboarded.

- Please provide the name of their team, their role on that team, expected last day, and the name of the company they work for.

- Please provide any type of access they may have and their GitHub username.

## AC
 - [x] Remove global/config.yml

[2021-04-14 19:12] nsmith1982 opened #23228 "Offboarding of Don Seymour"
# Instructions
Fill out name of individual and *Description* section below.

# Description
- Please provide the name of the individual needing offboarded.

- Please provide the name of their team, their role on that team, expected last day, and the name of the company they work for.

- Please provide any type of access they may have and their GitHub username.

## AC
 - [x] Remove global/config.yml

[2021-04-14 19:18] micahchiang opened #23229 "COE - Unit test form pages"
## Description
As engineers, we want to unit test our form pages to ensure they work as expected and to know whether or not future changes break functionality.

## Tasks
- [x] Write unit tests for each form page

## Acceptance Criteria
- [x] tests are written and passing
- [x] PR submitted into vets-website

[2021-04-14 19:19] amyknox commented on #23067
@1Copenut The "Print this page" opens the print dialogue. This is what the confirmation page looks like.
[PrintThisPage-confirmation.pdf](https://github.com/department-of-veterans-affairs/va.gov-team/files/6313197/PrintThisPage-confirmation.pdf)

[2021-04-14 19:19] digitalken commented on #22463
PASS 4/14/2021 - Looks good on iOS and Android. Closing.

[2021-04-14 19:19] #22463 closed

[2021-04-14 19:22] micahchiang opened #23230 "COE - Write e2e tests for COE form"
## Description
As engineers we want to ensure our application UI works as expected, and be notified if any future changes break expected functionality.

## Considerations
- tests need to be skipped until application is included in production build

## Tasks
- [ ] Write Cypress e2e tests for all possible form flows

## Acceptance Criteria
- [ ] tests have been written and are passing
- [ ] PR has b

[2021-04-14 19:25] kristenmcconnell opened #23231 "[Research][UI] Check-in Synthesis (In-person and Remote Research)"
## Description
Finalize a research report detailing findings and design recommendations from the in-person and remote research study.

##Reference Materials
- Review [research checklist](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/research/planning/lead-researcher-checklist.md)
- [Synthesis](https://github.com/department-of-veterans-affairs/va.gov-team/tree/m

[2021-04-14 19:25] laurenernest opened #23232 "Update covid clinic report"
## Description
Some of the sites made changes to their clinics following the latest guidance about J&J.

---
## Tasks
- [ ] Clinic report is updated in GitHub https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/blob/master/products/health-care/covid-vaccine-distro/vaos-for-distribution-initiative/clinics.csv

[2021-04-14 19:25] kristenmcconnell opened #23233 "[Research][UI] Check-in Synthesis (In-person and Remote Research)"
## Description
Finalize a research report detailing findings and design recommendations from the in-person and remote research study.

##Reference Materials
- Review [research checklist](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/research/planning/lead-researcher-checklist.md)
- [Synthesis](https://github.com/department-of-veterans-affairs/va.gov-team/tree/m

[2021-04-14 19:27] digitalken commented on #22966
4/14/2021 - Blocked until I can either log in as user 366 or we have another user in step 3 of a claim where I can view the photo upload.

[2021-04-14 19:29] rileyorr opened #23234 "[FSR] Global form content updates"
## Issue Description
_The FSR's needs some global content updates per Peggy's staging review feedback._

---
## Tasks
- [x] Update 'Social security' to 'Social Security' throughout the form
- [x] Change “Compensation & Pension” TO: Disability compensation and pension debt (Debt selection, resolution request, etc)
- [x] Ensure 'Postal code' is used to account for non-US addresses

## Acceptance Cri

[2021-04-14 19:30] kristenmcconnell opened #23235 "[UI] Check-in Wireframes"
## Product Links

## Description
Create an initial draft wireframes for check-in. The intent would be for these to be presented to stakeholders, product teams, and internal team members for discussion.

## Tasks
- [x] Create draft wireframes in Sketch

## Acceptance Criteria
- [x] Initial wireframe draft is complete

[2021-04-14 19:31] rileyorr opened #23236 "[FSR] Global form content updates"
## Issue Description
_The FSR's needs some global content updates per Peggy's staging review feedback. Since we're proceeding with a second iteration post-usability recommendations, we need to make sure the changes suggested in production align with the prototype._

---
## Tasks
- [ ] Update 'Social security' to 'Social Security' throughout the form
- [ ] Change “Compensation & Pension” TO: Disabi

[2021-04-14 19:31] rileyorr opened #23237 "[FSR] Global form content updates"
## Issue Description
_The FSR's needs some global content updates per Peggy's staging review feedback. Since we're proceeding with a second iteration post-usability recommendations, we need to make sure the changes suggested in production align with the prototype._

---
## Tasks
- [x] Update 'Social security' to 'Social Security' throughout the form
- [x] Change “Compensation & Pension” TO: Disabi

[2021-04-14 19:31] jonwehausen commented on #20634
### QA Testing

@youngfreezyVA Thank you for your correction here, very much appreciate it!

Please see QA results below:

| Description of Interaction | Data Layer Screenshot | Tag Screenshot | Test Status
| -- | -- | -- | -- |
Click on "Espanol" from `https://www.va.gov/health-care/covid-19-vaccine/` | ![image](https://user-images.githubusercontent.com/48527022/114766548-875fe100-9d34-11eb-8969-

[2021-04-14 19:31] #20634 closed

[2021-04-14 19:32] amyknox commented on #23098
@delli-gatti-michael & @sonntag-adam
Wanted to be sure you saw this input.  Please close the issue after reviewing.

[2021-04-14 19:33] jonwehausen commented on #23121
Great, thanks @MarciMcGuireGCIO! You should have received an invitation with your access.

We will close this issue but please feel free to re-open should you have any access-related issues/concerns.

[2021-04-14 19:33] #22457 closed

[2021-04-14 19:33] ltrombley commented on #22796
Task #22796 -  Prepare Southern Nevada-health-care for Dual-state [VAMC] - is Complete and moved to Validate.

[2021-04-14 19:37] RLHecht commented on #23060
Tagalog updates: [https://app.zenhub.com/files/133843125/0b0d8285-1f9f-4fe4-9ffc-82143545f2a1/download](https://app.zenhub.com/files/133843125/0b0d8285-1f9f-4fe4-9ffc-82143545f2a1/download)

[2021-04-14 19:38] miabecker commented on #22773
@DanielleThierryUSDSVA Who do you want us to test send too? You, Lauren, Patrick and Randi?

[2021-04-14 19:38] mydesignrocks commented on #18968
AWS Access Granted
Hello!
You can log in by visiting --> https://dsvagovcloud.signin.amazonaws-us-gov.com/console
Your username is:
Your initial password is:
You'll need to:
Change your password upon first login.
Create your own virtual MFA device in IAM, log out, then log back in using the token successfully before you can interact with any services.
Lastly, you'll need to create your own access

[2021-04-14 19:39] ala-yna commented on #23194
Thanks @joanneesteban! I understand you're pausing on dashboard changes, but is there any way for us to at least get some answers to our questions, especially re: saved-in-progress completion rates? This would be very useful for our stakeholders and the work we're about to embark on.

[2021-04-14 19:42] amyknox commented on #23069
Thanks for the input @peggygannon
Musts have been addressed. Shoulds that weren't already addressed are in our backlog.

**Questions/thoughts**

I agree! If we can break this into a form with typical chapters post-MVP, we will!

Yes, it should.  It wasn't addressed in the prototype but is in the content doc.

Not at this time.  They're all standard error messages.

[2021-04-14 19:42] #23069 closed

[2021-04-14 19:42] peggygannon commented on #23141
@ala-yna @sshein
VSP content feedback for sign as representative screens is below. Please let me know if you have questions.

**Questions**
- There seems to be 2 upload documentation screens in the prototype with slightly different content. Which screen has the up to date content?

- On signature review screen:  It looks like the checkbox before the privacy line is missing. Is this intentional?

*

[2021-04-14 19:47] lunascoop commented on #23203
Hi @DanielleThierryUSDSVA can you review the changes I made to question #69 (particularly the first sentence and two bullet points)? https://github.com/department-of-veterans-affairs/covid19-chatbot/blob/vaccine-updates-4.14.21/content/chatbot-messages.md

I wasn't sure that the second bullet point is needed since the question seems solely for a Veteran.

[2021-04-14 19:49] peggygannon opened #23238 "Content Feedback - Midpoint review - VRRAP static page"
## User story
VSP content review VRRAP static page

## VFS acceptance criteria
- [ ] Let VSP know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
-

## Feedback
- **Must** = the feedback must be applied
- **Should** = the feedback is best practice
- **Consider** = suggestions/enh

[2021-04-14 19:55] sonntag-adam commented on #22680
Closing story.

[2021-04-14 19:55] #22680 closed

[2021-04-14 19:56] brianalloyd commented on #14302
@jenniferlee-dsva is the design hardcoded?  Wanted to ask as ideas concerning a thumbs up/down approach Vs. radial button input was discussed internally but wanted to validate with you and gather thoughts and ideas.  CC @johnhashva
![Screen Shot 2021-04-13 at 9 23 57 AM](https://user-images.githubusercontent.com/70410912/114770661-e7e92100-9d28-11eb-8a6f-633b8ad476c4.png)

[2021-04-14 20:02] lunascoop commented on #23060
@RLHecht these changes are ready for review.

- Mga bakuna sa COVID-19 sa VA: http://preview-prod.vfs.va.gov/preview?nodeId=16413
- Vacunas contra COVID-19 en el VA: http://preview-prod.vfs.va.gov/preview?nodeId=16359

[2021-04-14 20:04] lunascoop commented on #18696
@RLHecht Here's the Tagalog page:

- Mga karaniwang katanungan tungkol sa Coronavirus: Detalye na kailangan malaman ng mga Beterano: http://preview-prod.vfs.va.gov/preview?nodeId=16475

[2021-04-14 20:05] #17243 closed

[2021-04-14 20:05] #22879 closed

[2021-04-14 20:06] zurbergram commented on #23138
https://github.com/department-of-veterans-affairs/vets-website/pull/16786/

[2021-04-14 20:07] #17245 closed

[2021-04-14 20:07] shiragoodman commented on #22860
@joanneesteban could you open a ticket for this work, assign to myself and Peggy and put the vsp-product-support label on it? Peggy has some time this sprint and can get started on it.

[2021-04-14 20:15] jonwehausen commented on #21747
### Update

@dneel-bah
- Currently unable to validate our globalized button tracking with backend appearing to be down

![image](https://user-images.githubusercontent.com/48527022/114772834-48358e00-9d3c-11eb-8675-b04a4db4a35f.png)

-------------------------------------------------------------

@amyknox ,

Thanks for bringing this to my attention -- and yes I agree we should make the taxonomy for

[2021-04-14 20:18] SKasimow commented on #20611
@shiragoodman Hi Shira,

Just wanted to let you know we have decided to do some usability testing for this effort; I've updated the ticket to reflect this.  Sharon

[2021-04-14 20:27] ajakabcin commented on #22557
Closing this ticket - initial internal QA complete

[2021-04-14 20:27] #22557 closed

[2021-04-14 20:33] RLHecht commented on #23060
Thanks, @lunascoop ! These have been reviewed and published. I'll send the live links to the VHA translation team once for final review.

[2021-04-14 20:36] YanaRoy opened #23239 "Offboarding of Ed Mangimelli"
# Instructions
Fill out name of individual and *Description* section below.

# Description
- Please provide the name of the individual needing offboarded.

- Please provide the name of their team, their role on that team, expected last day, and the name of the company they work for.

- Please provide any type of access they may have and their GitHub username.

## AC
 - [x] Remove global/config.yml

[2021-04-14 20:37] jonwehausen commented on #22411
Hi @ffafara-tw ,

If you want to associate a .gov email with a google account, you'll want to [use this sign up form. ](https://accounts.google.com/signup/v2/webcreateaccount?flowName=GlifWebSignIn&flowEntry=SignUp). From there, you should be able to utilize that email in registration for postmaster.

With this information, we will close this issue but please feel free to reopen should you have an

[2021-04-14 20:37] jonwehausen commented on #16010
Any update on this here @craigwheeler ? Thanks so much.

[2021-04-14 20:38] YanaRoy opened #23240 "Offboarding of Amanda Buckley"
# Instructions
Fill out name of individual and *Description* section below.

# Description
- Please provide the name of the individual needing offboarded.

- Please provide the name of their team, their role on that team, expected last day, and the name of the company they work for.

- Please provide any type of access they may have and their GitHub username.

## AC
 - [x] Remove global/config.yml

[2021-04-14 20:38] narin opened #23241 "Adding Teesh Shahi to DSVA Slack"
The following individual Teesh.Shahi@adhocteam.us needs to be added as a full member.    He is part of the VA Startup team.  Thank you!

CC: @cgreim

[2021-04-14 20:38] brianalloyd commented on #22877
@department-of-veterans-affairs/vsp-operations could you please review this request.

[2021-04-14 20:39] ajakabcin opened #23242 "[My VA Dashboard 2.0 Redesign] VSA-QA Test Plan"
\[**Product Managers**: Open this ticket **at least 2 Sprints** before you expect a Platform Staging Review of this Product/Feature.  Then:
- Add yourself to Assignees
- Fill-out sections below.]

## Product/Feature summary

- Product/Feature Outline: [My VA Dashboard 2.0 Redesign](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/my-va/2.0

[2021-04-14 20:39] YanaRoy opened #23243 "Offboarding of Cameron Testerman"
# Instructions
Fill out name of individual and *Description* section below.

# Description
- Please provide the name of the individual needing offboarded.

- Please provide the name of their team, their role on that team, expected last day, and the name of the company they work for.

- Please provide any type of access they may have and their GitHub username.

## AC
 - [x] Remove global/config.yml

[2021-04-14 20:40] YanaRoy opened #23244 "Offboarding of Derek Dyer"
# Instructions
Fill out name of individual and *Description* section below.

# Description
- Please provide the name of the individual needing offboarded.

- Please provide the name of their team, their role on that team, expected last day, and the name of the company they work for.

- Please provide any type of access they may have and their GitHub username.

## AC
 - [x] Remove global/config.yml

[2021-04-14 20:41] jonwehausen commented on #18822
Hi @SgardnerPMP & @mmiddaugh ,

Could we have an update on the status of the DL implementation for VAMCs? Thanks so much

[2021-04-14 20:42] starlow00 commented on #22767
Materials in hand and approved by VEO, ready to go. Closing.

[2021-04-14 20:42] #22767 closed

[2021-04-14 20:43] rileyorr opened #23245 "[FSR] Content changes by page"
## Issue Description
_Some of the FSR's individual pages need content updates per Peggy's staging review feedback._

---
## Tasks
**Introduction page**
- [x] _CTA button on intro page should be: Start your request now_

**Available debts**
- [x] Remove the second sentence in the intro paragraph: `You will be able to choose a repayment option for each debt you select.` as it repeats the one above i

[2021-04-14 20:44] laurenernest opened #23246 "Direct schedule confirmation (Homepage Refresh)"
## Description
Update direct schedule appointment confirmation page to match appointment details design.

---
## Tasks
- [ ] VA direct
- [ ] Vaccine direct

## Acceptance Criteria
- [ ] Changes are behind the `va_online_scheduling_homepage_refresh` feature flag

- [ ] Given VA direct schedule, When submission is successful, Then show confirmation page
- [ ] Given vaccine direct schedule, When subm

[2021-04-14 20:45] rileyorr opened #23247 "[FSR] Content changes by page"
## Issue Description
_Some of the FSR's individual pages need content updates per Peggy's staging review feedback. Since we're proceeding with a second iteration post-usability recommendations, we need to make sure the changes suggested in production align with the prototype._

---
## Tasks
**Introduction page**
- [x] _CTA button on intro page should be: Start your request now_

**Available debts*

[2021-04-14 20:48] jonwehausen commented on #23244
@YanaRoy

Derek did not have any GA and/or DOMO access to remove

Shifting to closed on our board.

[2021-04-14 20:49] rileyorr commented on #22475
@peggygannon I broke out your feedback into multiple tickets outlined in [this epic](https://github.com/department-of-veterans-affairs/va.gov-team/issues/23209). The privacy policy link you sent redirects to a 404 GH page, so if you could link the privacy policy or let me know where I might be able to find it, I'll be able to incorporate that change. Thank you!

[2021-04-14 20:49] SKasimow commented on #23160
@rtwell Thanks Ryan - these look great! I like the improvements you made in 2nd option as it shows more clearly what belongs under each heading.

Adding in @DanielleThierryUSDSVA , @mpeterz and @mnorthuis for feedback.

[2021-04-14 20:49] DanielleThierryUSDSVA commented on #22773
Yes, please @miabecker thank you! Also, I realized that I didn't remove the unsubscribe from the segments we'd discussed. If you didn't already do that on your end, we'll need to take that step. Thank you!

[2021-04-14 20:49] jonwehausen commented on #23243
@YanaRoy

Cameron's GA access has been removed and there was no access removal necessary for DOMO.

Shifting to closed on our board.

[2021-04-14 20:51] jonwehausen commented on #23240
@YanaRoy

Amanda did not have any Google Analytics and/or DOMO access to remove.

Shifting to closed on our board.

[2021-04-14 20:52] Samara-Strauss opened #23248 "[BE] Direct deposit for edu: Look into why the failed retrieval rate is so high"
## Background

For [direct deposit for edu](https://analytics.google.com/analytics/web/?authuser=0#/dashboard/qEpkRFroTOSTpgaBDHXK4A/a50123418w177519031p176188361/), the rate at which we are failing to successfully retrieve user's direct deposit for ed info is about 13%. This is really high, way higher than the failed retrieval rate for direct deposit for comp & pen (about 4%).

We need to look in

[2021-04-14 20:53] jonwehausen commented on #23239
Ed's Google analytics access was removed and there was no DOMO access to remove.

Shifting to done on our board.

[2021-04-14 20:54] jonwehausen commented on #23228
@nsmith1982

Don did not have any Google Analytics and/or DOMO access to remove.

Shifting to done on Analytics & Insights team tracking board.

[2021-04-14 20:55] #22951 closed

[2021-04-14 20:56] kjduensing opened #23249 "Add OpenAPI Specs to Github"
Must create the repo first

[2021-04-14 20:56] mnorthuis commented on #23000
Thank you for that information, I assumed you had discussed that option, but wanted to make sure.

Assigning this ticket over to @brianalloyd for his team to implement.   @MarciMcGuireGCIO and Brian can coordinate on timing.

Brian - Please ensure that these redirects **are implemented as temporary redirects.**

[2021-04-14 20:56] #23249 closed

[2021-04-14 20:56] jonwehausen commented on #23227
Arnaud did not have any Google Analytics and/or DOMO access to remove.

Shifting to done our Analytics & Insights team tracking board.

[2021-04-14 21:00] bridgethapner commented on #20511
Hi there @ashley-matthews --

I added a checklist for this ticket, please take a look and feel free to edit as you see fit!

I'd also love a gut check from you on time frame:

- I chatted with @lexicalninja and he is aiming to have the app store migration done by the end of next week. When that is done, we can define the distribution UX and start the items under **Tasks related to distribution**.

[2021-04-14 21:00] mmiddaugh opened #23250 "[Consider] Health service modalities"
## Issue Description
The existence of virtual/remote services is a reality in remote areas, COVID times and mobile facilities.
How should modality/delivery method information be represented in health service details on VAMC and Vet Center pages?

Hypotheses
- It's important for Veterans to understand the options for how services can be delivered
- It's important for Veterans to expect the delivery

[2021-04-14 21:02] bevnobev opened #23251 "Healthcare Questionnaire"
Email Address*
Ming.ligh@va.gov, kristen.mcconnell@adhocteam.us

VA Business Line / Department*
VFS
Description of Use Case*
[Questionnaire Product Outline](https://gcc02.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fdepartment-of-veterans-affairs%2Fva.gov-team%2Fblob%2Fmaster%2Fproducts%2Fhealth-care%2Fquestionnaire%2Fproduct%2Fproduct-outline.md&data=04%7C01%7C%7C4e91dd73b0874

[2021-04-14 21:04] joshkimux commented on #15247
<img width="694" alt="Screen Shot 2021-04-14 at 5 04 26 PM" src="https://user-images.githubusercontent.com/14154792/114778941-7a96b980-9d43-11eb-920c-7a33a2a2d71f.png">

Are folks unable to specify their gender?

[2021-04-14 21:05] Samara-Strauss commented on #15247
@joshkimux yes, currently they are. This gets pulled in from MPI and is not editable from the interface at the moment.

[2021-04-14 21:07] bevnobev commented on #23251
tagging @mlighdc and @kristenmcconnell

Mockup are [here](https://scene.zeplin.io/project/5f3d86a458ea2231e60a4780) under the Presentation section..

[2021-04-14 21:07] AngelaFowler82 opened #23252 "508-defect-1 ❗ Launchblocker [SCREEN READER, COGNITION] Unable to update address, phone number and email address. Silent error messages."
# 508-defect-1 :exclamation: Launchblocker

Issue Title: 508 Defect Level 1, Launch blocker, Screen readers, Cognitive Disabilities, unable to update address, phone number and email address. Silent error messages.

Point of Contact: Angela Fowler
**VFS Point of Contact:** _First name only: Angela

<h2>User Story or Problem Statement:</h2>
When accessing a profile page, I expect to be able to updat

[2021-04-14 21:07] rileyorr commented on #20341
Recruitment has been kicked off!!!

[2021-04-14 21:09] bevnobev commented on #23251
Forgot to tag @pcshah1026 and @shanemelliott

[2021-04-14 21:10] laurenernest opened #23253 "[SPIKE] Direct schedule appointment ID for confirmation"
## Summary
To help inform the new appointment confirmation design, we need to research how to get the appointment ID from MAS.

Problem: we would like to send users to the appointment detail page after direct scheduling an appointment. To do this, we need to know the MAS appointment id for the appointment we just created. However, MAS appointment ids are synthetic, and we're not going through MAS

[2021-04-14 21:10] laurenernest commented on #23253
@jbalboni Can you help fill in any technical instructions or tasks for this ticket?

[2021-04-14 21:11] brianalloyd commented on #21929
Thanks @kelsonic and @bkjohnson for catching this and updating accordingly.

[2021-04-14 21:16] joshkimux opened #23254 "508-defect-2 [AXE CORE]: Heading should not be focusable while within the mobile profile menu button"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2021-04-14 21:16] brianalloyd opened #23255 "CLP CX Survey Draft"
## Description
Create a draft CX survey for CLP users to gauge feedback and tool satisfaction.
- Authoring Experience satisfaction
- Time to generate a CLP (ease of use)
- Time to launch a CLP (from stakeholder to audience)
- Would the user recommend this product to others?
- Was it of value?

## Acceptance Criteria
- [x] Survey is drafted
- [x] Survey posted to CMS ticket for review

[2021-04-14 21:17] peggygannon commented on #22475
Hi, @rileyorr , sorry, I didn't link to anything in my above comment.. I was just showing the language that we use for that line.

The link should go to the Privacy Act statement modal, which should have content customized for each form.

I believe the sitewide content team is making updates to the content for the Privacy Act statement modal, so they should be able to provide you with an update on

[2021-04-14 21:17] brianalloyd commented on #23255
Posting a draft product survey created as an outline to showcase data points desired to collect from CLP users in order to affect future development a customer satisfaction.  @cmaeng @johnhashva

![image](https://user-images.githubusercontent.com/70410912/113019265-a3f9f780-913e-11eb-91d9-c633428bbbf7.png)

[2021-04-14 21:17] brianalloyd commented on #23255
Draft Completed, closing ticket in support.

[2021-04-14 21:17] #23255 closed

[2021-04-14 21:22] RLHecht commented on #23082
@brianalloyd I don't think this is a Sitewide Content ticket. We don't work in the Outreach and Events hub but when I opened up a few of those pages to see what they look like, I don't see an area where you would manually enter in a meta title so I think it's something that would need to be fixed on the FE.

[2021-04-14 21:24] laurenernest commented on #21626
All dev work for pilot is complete. Any feedback or updates from the pilot will be captured in the VAOS for Distribution (Cheetah) Pilot Iterations epic #22399

[2021-04-14 21:25] mmiddaugh opened #23256 "Include only published event content in FE build"
## Issue Description
Broken link investigations uncovered a FE defect in which unpublished (either draft, in review, or archived) content shows up on prod va.gov.  This causes accessibility and usability issues, broken links and build problems.

Examples:
Events - Placeholder events are being created and then archived. (ie: [Test Outreach](https://www.va.gov/erie-health-care/events/test-outreach/)

[2021-04-14 21:30] joshkimux commented on #15247
Another design question--

<img width="976" alt="Screen Shot 2021-04-14 at 5 26 57 PM" src="https://user-images.githubusercontent.com/14154792/114781450-acf5e600-9d46-11eb-86cd-2695e6e96596.png">
<img width="821" alt="Screen Shot 2021-04-14 at 5 27 04 PM" src="https://user-images.githubusercontent.com/14154792/114781451-acf5e600-9d46-11eb-9c9e-3fb7c428d20d.png">

Is there a design reason for not m

[2021-04-14 21:30] bevnobev commented on #23251
@ffafara-tw A couple of questions came up in meeting"

- What kind of metrics can we track around the link in the email?
- Do we know if the email went to spam or the inbox?

[2021-04-14 21:35] brianalloyd commented on #23000
@mnorthuis thanks for the clarification, I'm going to update the AC criteria on this ticket to include the:

I'm also going to loop in `Sitewide Content team` in support of the temporary redirect implementation work and our team will scrub in to support as needed.

[2021-04-14 21:37] ffafara-tw commented on #22411
One last question:
As far as I understand, in Google Analytics all the data lives in 'admin' google account and access is granted to users' own personal accounts (that can be created with @va.gov emails).

Would this 'admin' google account be suitable to use as owner of the postmaster data?
Or should I create a separate account for Postmaster that is in no way connected to Analytics?

[2021-04-14 21:45] laurenernest opened #23257 "[Discovery / Design] Preferred facility designs and research"
## Description
Epic to house discovery and design epics and tasks related to the preferred facility / facility selection work.

---

## Artifacts

- [x] User Research Prototypes:
    - [Scenario 1](https://adhoc.invisionapp.com/console/share/BX2JRZTUR2/621669675)
    - [Scenario 2](https://adhoc.invisionapp.com/console/share/B72LX6SPTP/633532185)
- [x] [Research plan](https://github.com/department

[2021-04-14 21:45] joshkimux commented on #22438
@callen2563 , the search that is hidden within the menu could be made to become compliant... but it would take some working around and could present some potential accessibility issues:
- Search is a key function that is usually surfaced as a landmark on a page via `role="search"`; it _will not_ be listed as a landmark if it is hidden beneath a menu.
- This isn't a common pattern. It's affordance

[2021-04-14 21:45] mmiddaugh opened #23258 "DISCOVERY: Placeholder events break FE builds"
## Issue Description
Current hypothesis: When past events are archived, the FE build breaks. An event page should be able to exist without any events (past or current).

See [Erie](https://www.va.gov/erie-health-care/events/)

## Desired behavior:

- [ ] if no future events exist, events page says "no events"
- [ ] if no past events exist, past events page builds saying "no past events"
- [ ] if p

[2021-04-14 21:46] brianalloyd commented on #23082
Thanks @RLHecht we'll dig deeper on the FE and work the issue.  Appreciate you taking a look and validating for our team.  Thanks.

[2021-04-14 21:48] brianalloyd commented on #22438
Thanks @callen2563 for adding the details to this ticket.  @joshkimux as always thanks for your insights and support.  CC @johnhashva

[2021-04-14 21:52] AngelaFowler82 commented on #15247
A couple of rookie questions:

1.	What are the differences between loa1, loa2 and loa3 users? I know there’s information in the attached document, but its sorted by category rather than use case, and the same information seems to apply to multiple users making it difficult to interpret the information.
2.	When creating an account, do I use ID.Me, or something else?

Huge thanks.

[2021-04-14 21:52] ambikaroos commented on #23033
We can break this into separate tickets for separate activities as needed, but for the static site:

- Note, VSA Public Websites is developing a Campaign Page template we might use?
- Or, as an example, the static page for the Mission Act: https://missionact.va.gov/

[2021-04-14 21:55] #23232 closed

[2021-04-14 21:56] laurenernest opened #23259 "[Design] Prototype - Preferred facility in VAOS"
## Requirements

- A user is not required to set a preferred facility in their profile to use the application
- A user enrolled in healthcare at a facility may attempt to schedule an appointment

## Tasks
- [x] Prototype for user research

## Links to in-progress work
* User Research Prototype:
[Scenario 1](https://adhoc.invisionapp.com/console/share/BX2JRZTUR2/621669675)
[Scenario 2](https://adho

[2021-04-14 21:58] mmiddaugh opened #23260 "VAMC phone tree options as extensions in Drupal"
## Issue Description
Editors are adding phone tree information ("option 8") into the extension field in Drupal.

## Considerations
- Depending on FE handling, accessibility defects may be created.
- We can't be assured that the phone tree will remain the same - the information may become misleading/confusing for Veterans.

This epic will house the various CMS and Facilities team tasks to deliver t

[2021-04-14 21:58] mmiddaugh commented on #23260
@kevwalsh for visibility

[2021-04-14 22:01] #19567 closed

[2021-04-14 22:01] digitalken commented on #20426
PASS 4/14/2021 - Looks good on iOS and Android.  Closing.

[2021-04-14 22:01] #20426 closed

[2021-04-14 22:03] MarciMcGuireGCIO commented on #23000
Thanks, @mnorthuis and @brianalloyd !

[2021-04-14 22:06] MarciMcGuireGCIO commented on #23121
Hmmm @jonwehausen I didn't see an invitation, and didn't find in my Spam or Trash either.  Confirming it would have gone to mmcguire@governmentcio.com?

[2021-04-14 22:06] laurenernest commented on #23232
@jbalboni to confirm, all these sites that are display to patient and direct scheduling `true` could display in VAOS if they have slots, correct?

[2021-04-14 22:11] mmiddaugh opened #23261 "Design expandable alert for Vet Center operating status"
## Issue Description
The VAMC product has an [Operating Status page](https://www.va.gov/pittsburgh-health-care/operating-status/) which provides details on facility access. The Facility Locator provides the details on the [Facility Detail page](https://www.va.gov/find-locations/facility/vc_0434V).

The Vet Center product does not have an equivalent experience to connect to the operating status dis

[2021-04-14 22:14] ffafara-tw commented on #23251
`What kind of metrics can we track around the link in the email?`

When creating templates we can put Google Analytics tracking on a link for example:
`https://www.va.gov/find-locations/?facilityType=health&serviceType=Covid19Vaccine&utm_source=VANotify&utm_medium=email&utm_campaign=covid_19_vaccine`

This allows you to see how much traffic is directed from the email to the webpage/system, however

[2021-04-14 22:17] mmiddaugh opened #23262 "Prepopulate facility type from link on Vet Center location page"
## Issue Description
When a Veteran navigates to the Facility Locator by clicking on the link in the "Vet Centers in other areas" area of a Vet Center Locations page, the facility type should be prepopulated with Vet Centers.

![image](https://user-images.githubusercontent.com/55411834/114787013-4b307e80-9d3c-11eb-9a21-655f713d362e.png)

---
## Tasks
- [ ] Ensure facility type = Vet Center when a

[2021-04-14 22:17] gmaciolek commented on #23147
https://vfs.atlassian.net/wiki/spaces/~369451595/pages/1286340628/Content+migration+order+DRAFT

[2021-04-14 22:22] mmiddaugh opened #23263 "FL announcements for up/down arrows"
## Issue Description
As a Veteran interacting with the Facility Locator map using keyboard and VoiceOver, I want to receive verbal feedback when I use the up/down arrows so I can confirm I am using the appropriate key inputs.

## Tasks
- [ ] Add announcement to up/down arrows

## Acceptance Criteria
- [ ] Veterans interacting with the Facility Locator map using keyboard and VoiceOver hear verbal a

[2021-04-14 22:28] mmiddaugh opened #23264 "Override publishing of certain VAST facilities"
## Issue Description
Some facilities are in VAST (and therefore Lighthouse/CMS) which are not Veteran facing and should not be included in location lists on VAMC pages (ie: locations from which telehealth clinicians connect to mobile/remote facilities) . These locations are not easily identified by ID or type.

We need a method to override the publishing of these types of facilities in an one-off