[2020-11-16 16:09] RLHecht commented on #16110
@ricetj Could you please give me the react code for the widget on this page? I'm going to set up the R&S template. Thanks!

[2020-11-16 16:09] oragame commented on #16200
I am getting a 404 when trying to access the ssh config... any ideas? [SSH config](https://github.com/department-of-veterans-affairs/devops/raw/master/ssh/config)

[2020-11-16 16:13] tlei123 commented on #16083
Sorry, @pjhill !  Slight delay in completing test-runs -- waiting on a back-end/API fix right now to restore the bebt-list.

If page is restored successfully today, then I should have QA artifacts ready for you tmrw (Tue).

cc @leahkeeler

[2020-11-16 16:15] jenstrickland commented on #16047
@kevinstachura @chrvalla 😻  I love the styling used here for the checkbox box. The grey background, I feel, makes it a bit harder to read the content or see the whole thing as interactive. I think that this is clear affordance indicating the whole box is interactive.

![Screen Shot 2020-11-16 at 11 12 20 AM](https://user-images.githubusercontent.com/57469/99278086-9e89b980-27fc-11eb-8384-2aa724b55

[2020-11-16 16:16] Samara-Strauss commented on #13807
# Research plan feedback

## Guiding questions

- **Where on VA.gov do users expect to find direct deposit (DD) information?** This is great. It's probably already on your radar, but this should include the content page, so we can gauge how people might navigate from logged out > logged in.

## Hypotheses

- **Users may have some difficulty locating their direct deposit information** They will. Th

[2020-11-16 16:17] #13003 closed

[2020-11-16 16:18] Samara-Strauss commented on #15686
@jason-gcio @mshea0606 not sure who will handle scheduling this (feel free to coordinate with each other!), but we're probably good to get this on the books for some time next week. The sooner, the better, so that way we can kick off research recruiting ASAP. However, just make sure you also coordinate with Jim so that he feels comfortable with the date. Thanks!

[2020-11-16 16:22] jbritt1 commented on #16200
Going to guess GitHub team membership isn't quite right yet. Let me dig in a little deeper.

[2020-11-16 16:25] vbahinwillit commented on #15834
@bsmartin-ep Thanks for the suggestions. I will make the changes. I don't think a save in progress event is triggered when clicking continue.

[2020-11-16 16:25] ala-yna opened #16204 "Analytics Implementation or QA Support for Caregivers"
# Google Analytics Implementation or QA Request

## What this form is for

<details>
<summary>More Information</summary>
<div>
    <br>
<p>Use this template to request Google Tag Manager and Google Analytics implementation or QA for your product. Please fill out all brackets.</p>

For more information, please check out the [Google Tag Manager resources](https://github.com/department-of-veterans-af

[2020-11-16 16:25] bridgethapner commented on #14351
Design: https://adhoc.invisionapp.com/share/GTZ1ESFF6BN#/screens/437850383_Generic_App_Error

My understanding is that we need a blanket generic error for things like no connection scenarios, but I don't understand 100% exactly **all the scenarios** of when this error would appear. @lexicalninja Wondering if you can take a look at [what I've designed](https://adhoc.invisionapp.com/share/GTZ1ESFF6B

[2020-11-16 16:28] jason-gcio commented on #15686
Yep, sounds good. I was going to chat with Jim and then move forward.

[2020-11-16 16:30] #15869 closed

[2020-11-16 16:32] mgleo commented on #14930
[Wizard Migration Usability Study Synthesis.pdf](https://github.com/department-of-veterans-affairs/va.gov-team/files/5548107/Wizard.Migration.Usability.Study.Synthesis.pdf)

[2020-11-16 16:32] #14930 closed

[2020-11-16 16:36] jason-gcio opened #16206 "Create EDU DD Prototype"
## Goal
Now that the design work is mostly settled for the EDU Direct Deposit feature, we need to test it in usability sessions with Veterans.  We have mockups in place, but a prototype would be better and is required before contacting Perigean.

## Considerations
- [Research and Design Folder](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/teams/vsa/teams/ebenefits/feat

[2020-11-16 16:37] bridgethapner commented on #13633
**Next steps here per Friday 11/13 work session:**

- [ ] For now, we will use the name 'VA Mobile App'
- [ ] Bridget to design Android and iOS icons for simple VA mark on darker-primary background (timeline: will have something share early December)
- [ ] Think about some kind of 'concept testing' for usability testing (e.g. asking participants what they think of the mark, what they think the app

[2020-11-16 16:39] denisecoveyduc commented on #16096
This was an error, duplicate of #15674

[2020-11-16 16:39] #16096 closed

[2020-11-16 16:46] shiragoodman commented on #16150
@rroueche - question for you. Since we're retiring/archiving the #practice-areas-review-group channel, we will need to tell the shared resources for QA and a11y how they can contact us re: the Collab Cycle QA testing and a11y testing. See recent posts on that channel for examples of how/why they reach out. What Slack channel do you recommend?

[2020-11-16 16:50] luke-gcio opened #16207 "[Development] HLR: Front-End Filter for Contestable Issues on Data Coming Back from Lighthouse"
## Issue Description
We decided with the customer to start by filtering by date.  Since the exceptions are more edge cases, we will go ahead and filter out anything older than a year old.  There will be updated content to go along with this but it will be a separate ticket.  Also, we need to ignore deferred decisions.

## Tasks
- [ ] Only show contestable issues with a decision date less than a ye

[2020-11-16 16:55] leahkeeler commented on #13404
HI Brian, let's hop on a quick call with Brad - may be easier

[2020-11-16 16:57] bridgethapner commented on #13071
**Per 11/12 UX check-in:**

- The LOA gating screen is moving ahead to VSP content review
- MVP integration has been reviewed by team and we've identified a few more opportunities to improve the UX that we'll communicate to the IAM team (#16171 and #16172).

Closing this ticket.

[2020-11-16 16:57] #13071 closed

[2020-11-16 16:58] #14919 closed

[2020-11-16 16:58] bridgethapner commented on #14919
The UX here is done. The content may update based on feedback from VSP. Closing this ticket, will open a new ticket for inputting new content into wireframes as needed.

[2020-11-16 17:04] LanceGundersen commented on #15794
![Uploading Choose_the_type_of_care_you_need___Veterans_Affairs.png…]()

[2020-11-16 17:06] bridgethapner commented on #15489
I think we should leave the upload flow mostly as-is with the following changes:
- Communicate 50 MB upload limit in the UI
- Define error state for if the user tries to upload a file that is larger than 50 MB
- Set a limit that users can't take more than 15 photos for a single file if using the camera app

[2020-11-16 17:06] #15489 closed

[2020-11-16 17:07] Jeff-Hayter commented on #15790
@jbritt1 Approved for AWS access.

[2020-11-16 17:08] msmanak commented on #15982
![Appointment-past-empty.png](https://images.zenhubusercontent.com/5faabf11b099434179a66d66/c2f50cda-2aef-46c1-bdc9-145e160fe254)

[2020-11-16 17:10] brianalloyd commented on #15504
Closing based on Grooming session review.  Decision was that color discrepancy was not intentional.

[2020-11-16 17:10] #15504 closed

[2020-11-16 17:12] shiragoodman commented on #15846
@mmiddaugh do you have any prototypes or mockups to share for the review tomorrow?

[2020-11-16 17:13] bradl3yC commented on #13404
@bsmartin-ep Take a look at https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/13846 - Jon and I had a call some weeks back to address the analytics questions - I have a PR to address the pass/fails that Im waiting to get deployed to staging

[2020-11-16 17:17] jason-gcio commented on #15686
Jim is getting me a link to the convo guide, then I will get it scheduled.

[2020-11-16 17:18] sanlouise opened #16209 "Rewrite existing e2e tests for the Dashboard in Cypress"
## Background
We should update our Dashboard e2e tests that are currently written in Nightwatch to use Cypress, which is the new standard across all VA applications.

## Tasks
- [ ] Replace Dashboard Nightwatch tests with Cypress

[2020-11-16 17:21] outerpress commented on #14110
Thanks @jbalboni and @laurenernest - I added the specs to the body of the ticket.

[2020-11-16 17:25] luke-gcio opened #16210 "[Content] HLR: Updates to Contestable Issues Screen"
## Issue Description
Copying my summary from the HLR product guide and also my email to Lauren for context.  Essentially, we need to update the "why can't I see my issue" and "what do I do if I don't see my issue" verbiage.

---
## Tasks
- [x] Work with Luke (he is working with Lauren) on wording
- [ ] Get the design/content to FE

---
## How to configure this issue
- [x] **Attached to a Milestone

[2020-11-16 17:28] esther-k commented on #13907
UI passes with a minor bug entered. Accessibility does not pass with a multi-issue bug entered. Moving this to Design QA for review

[UI Bug](https://app.zenhub.com/workspaces/va-mobile-app-5f205eac3155a2000f422ecb/issues/department-of-veterans-affairs/va.gov-team/16134)

[Accessibility Bug](https://app.zenhub.com/workspaces/va-mobile-app-5f205eac3155a2000f422ecb/issues/department-of-veterans-affa

[2020-11-16 17:29] luke-gcio opened #16211 "[Development] HLR: Updates to Contestable Issues Screen"
## Issue Description
Copying my summary from the HLR product guide and also my email to Lauren for context. Essentially, we need to update the "why can't I see my issue" and "what do I do if I don't see my issue" verbiage.

**Note: FE will get this from design/content, part of their work in** #16210

## Tasks
- [ ] Content updates based on #16210
---
## How to configure this issue
- [x] **Attached

[2020-11-16 17:30] ricetj commented on #16110
Hello @RLHecht, I am tagging our FE @LeKeve to provide you the code when he is ready. One question I have is, can we have a demo environment before launching in Prod? We would live to do some testing, before going live.  Thank you in advance.

[2020-11-16 17:30] youngfreezyVA commented on #15967
@DanielleThierryUSDSVA re: the Spanish node and for option #1... we could create a liquid filter to make a google translate API call and map the english nodes to Spanish nodes with the google translate API response. that would all happen on the front end though and doesn't seem like an ideal solution, but it would definitely work for the MVP.

my question for @kevwalsh is whether or not we can mak

[2020-11-16 17:31] peggygannon commented on #15711
hello, @outerpress

Hello, a few more content recommendations:

1. Can we bump down the point size on (Optional) in the header, to provide some visual separation that it's not part of the head?

2. slight tweak to this sentence. Since we change the verb to "request," I don't think we need the "prefer" in there anymore.

You can request up to 3 providers for this appointment

[2020-11-16 17:31] brianalloyd commented on #11490
@andaleliz please focus this ticket on creating a mobile home page version for MVP 1.1 as discussed during grooming.  @jenniferlee-dsva reaching out to @rtwell to validate future designs.  Let's move forward with 1.1 home page version in support.

[2020-11-16 17:36] jbritt1 commented on #15790
Temporary credentials passed to user at this time.

[2020-11-16 17:37] digitalken commented on #13941
Added to TestRail.

[2020-11-16 17:37] msmanak commented on #15982
**Common Component:**
- Text (Headline): Mobile Body Bold (optional)
- Text (Body): Mobile Body
- Text colors: gray-dark #323a45
- margin: standard gutter L/R; margin between vertical

**Content Review:**
- (headline) You don’t have any appointments
- (body)You do not have any appointments for these dates.

[2020-11-16 17:39] bsmartin-ep commented on #13404
@bradl3yC - So event `bam-debt-letter-download` is only on staging at this point?

[2020-11-16 17:41] bethpottsVADEPO commented on #15972
Closing this, "download" has been removed.

[2020-11-16 17:41] #15972 closed

[2020-11-16 17:41] luke-gcio commented on #11820
Closing this, we've more than burned through these points. New ticket for post-launch will be created.

[2020-11-16 17:41] #11820 closed

[2020-11-16 17:42] mnorthuis commented on #14704
@kelsonic @bethpotts I incorrectly added two VEAP pages to redirect, I meant to add two REAP pages.  I updated the original description with the correct URLs for the bottom 2 redirects.  So sorry for that mistake.

[2020-11-16 17:44] brianalloyd commented on #12759
Closing as 'Not Required' based on review in grooming.

[2020-11-16 17:44] #12759 closed

[2020-11-16 17:45] bradl3yC commented on #13404
@bsmartin-ep yessir!

[2020-11-16 17:47] vbahinwillit commented on #15834
@bsmartin-ep - Is 'in-radio-button-option-click' used for checkboxes too?

[2020-11-16 17:47] brianalloyd commented on #11320
Close out, was an initial ticket.

[2020-11-16 17:47] #11320 closed

[2020-11-16 17:48] bessgreen commented on #15942
Hi @lexicalninja & @srmyers17, looping you in on this ticket.

@keli13 looked into this bug and found that it’s a [known issue](https://github.com/lawnstarter/react-native-picker-select/issues/346) with the library we’re using for the picker. This gives us two options:

1. Wait for a [fix](https://github.com/lawnstarter/react-native-picker-select/pull/368) to be merged in for this library (Conside

[2020-11-16 17:48] brianalloyd commented on #15269
Closing per grooming discussion. Comments in individual tickets.

[2020-11-16 17:48] #15269 closed

[2020-11-16 17:49] bridgethapner commented on #13205
**Changes:**
- Added 50 MB file limit and accepted file types text to UI of initial upload screen

**Next Steps:**
- @jmarchi will do a spike here to understand any technical control issues (e.g. can we display a thumbnail of the most recent photo in the camera UI?).
- Once this technical discovery is done, we will meet to revise the exact scope of the claims file upload feature and complete the U

[2020-11-16 17:49] msmanak commented on #15975
![Appeal and claim status unavailable.png](https://images.zenhubusercontent.com/5faabf11b099434179a66d66/8e4b9850-1369-403d-8f9e-f986c05410e7)

Q: do we want to have this above the current flow of the claim/appeal status or should it be its own page?

[2020-11-16 17:51] #16065 closed

[2020-11-16 17:51] msmanak commented on #15975
common component:

App Background color: #F2F2F7
Border-left: 8px, variable, Warning: warning-message #fac922
Text (Headline): Mobile Body Bold (optional)
Text (Body): Mobile Body
Text color: gray-dark #323a45
Background color: variable
Internal padding: 20px top & bottom; 10px left & right
Margin: standard gutter L/R; marginBetween vertical
Optional ClickForAction button at the bottom

**Content

[2020-11-16 17:52] jonwehausen commented on #3825
Test users link provided by Luke: https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/blob/master/Administrative/vagov-users/staging-test-accounts-HLR.docx

[2020-11-16 17:54] amyknox commented on #13102
@bmcgrady-ep The numbers in my GA reports aren't mapping correctly to the DOMO reports.  I'm also seeing an issue with the number of  submissions increasing when I make the timeframe shorter.

22-10203 Submissions – Sept. 1 – Nov. 16, 2020
https://analytics.google.com/analytics/web/?authuser=0#/report/conversions-goals-uri/a50123418w177519031p184334251/_u.date00=20200901&_u.date01=20201116&_.goalO

[2020-11-16 17:58] kelsonic commented on #14704
Uh oh, thanks for the heads up @mnorthuis! The redirects are already live so I'll get a PR up to fix this asap

[2020-11-16 17:58] andaleliz commented on #13375
@mnorthuis, @peggygannon and @johnhashva

I revisited Mikki's [IA documentation](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/information-architecture/ia-reviews/websites-apply-wizard.md), and I think it will meet the need for dev teams especially when combined w/ the Edu prototype, and Peggy's content docs. @mnorthuis can we upgrade this from draft status now

[2020-11-16 18:03] sanlouise opened #16213 "Remove prop spreading in Contact components"
## Background
There are quite a few opportunities to make our Profile code more readable and maintainable. We should take some time to invest in cleaning up code where we can, since this will make it easier to debug and update our existing code - saving us time in the long run and make us more efficient on the frontend.

We are passing in a large number of props to child components that are not us

[2020-11-16 18:07] #13570 closed

[2020-11-16 18:07] sanlouise opened #16214 "Remove higher level components (HomePhone, WorkPhone etc) in favor of AddressField, EmailField, PhoneField"
## Background
There are quite a few opportunities to make our Profile code more readable and maintainable. We should take some time to invest in cleaning up code where we can, since this will make it easier to debug and update our existing code - saving us time in the long run and make us more efficient on the frontend.

The current address component structure in the Profile is very layered, and t

[2020-11-16 18:08] bridgethapner commented on #13205
I am closing this ticket & will create a new ticket for any UI updates required after technical discovery.

[2020-11-16 18:08] #13205 closed

[2020-11-16 18:09] jenniferlee-dsva commented on #15314
This can go into the icebox until Medallia is ready.

[2020-11-16 18:13] digitalken commented on #13962
Added test cases for acceptance and accessibility on TestRails.

[2020-11-16 18:13] ncksllvn commented on #16146
@RLHecht I think so. You can always test on Staging ->

`https://staging.va.gov/?next=/verifying-your-identity-on-vagov/` -> should take you to the staging homepage w/the login modal open, then once you complete the login flow, it should redirect you to `/verifying-your-identity-on-vagov/`

[2020-11-16 18:13] sanlouise opened #16215 "Create helper functions for custom logic in EditViews and render ContactInformationView directly"
## Background
There are quite a few opportunities to make our Profile code more readable and maintainable. We should take some time to invest in cleaning up code where we can, since this will make it easier to debug and update our existing code - saving us time in the long run and make us more efficient on the frontend.

It would be beneficial to remove all logic (except for component render) in
-

[2020-11-16 18:16] saneshark commented on #13602
MVP:

Use existing Facilities API with some added work needed:

1. Facilities API to support querying by Lat/Long. This is already a priority item for the Facilities Team and will be worked on as part of upcoming sprint.
2. Taxonomy Mapping! I did a little bit of research around this problem, and it's captured in exhaustive detail here: https://github.com/department-of-veterans-affairs/va.gov-team

[2020-11-16 18:19] laurenernest commented on #15653
@jbalboni @LanceGundersen Description has been updated with the project link for the individual state specs and interactions for desktop, tablet, and mobile.

[2020-11-16 18:20] luke-gcio opened #16216 "[Development] 526: Add SIP to Errors on Back End for File Uploads"
## Issue Description
There are a couple of ways to match SIP and errors and one of the easiest is to simply add the SIP ID to the backend (and front end, but that is likely a separate story, question out to Anna about how this works in our architecture).  This story will have more details as I understand the code arch more. For now, this is focused on file uploads.

---
## Tasks
- [x] If a veteran

[2020-11-16 18:21] LeKeve commented on #16110
@RLHecht

App directory widget code: https://github.com/department-of-veterans-affairs/vets-website/tree/master/src/applications/third-party-app-directory

Widget mount id: https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/applications/static-pages/widgetTypes.js#L22

The widget expects to mount to the id `third-party-app-directory`. Please let me know if you have any

[2020-11-16 18:21] srsuddath commented on #14474
@ncksllvn Hey Nick, I have been told to reach out to you and get some info on how to take care of this? Is that something you can drop me a quick how to? or do we need to set up a call?

[2020-11-16 18:22] callen2563 commented on #15706
No issues found

[2020-11-16 18:22] #15706 closed

[2020-11-16 18:24] jenniferlee-dsva commented on #15618
@rtwell - can you drop progressive enhancement mobile version of this template here for FE engineer?

[2020-11-16 18:24] jbritt1 opened #16217 "[Centralized Logging] Potential Forwarding of Loki Logs to VA Splunk instance"
## Issue Description
I _believe_ some talks have started happening about the likelihood of us forwarding logs from Loki to perhaps the VAEC team?

---
## Tasks
- [ ] Work with team / Boris / Joe / etc. to see if this is a hard requirement, timelines, expectations, etc. May need to develop more tasks once some key details are nailed down.

## Acceptance Criteria
- [x] Decide path forward
- [ ] Take

[2020-11-16 18:25] jbritt1 commented on #16217
Sorry for all the tags gentlemen, just trying to make sure this gets in front of the correct people so the conversation can start if needed.

[2020-11-16 18:27] sanlouise opened #16218 "[Frontend] Profile 2.0 bug fix: Add 2FA prompt for when someone is LOA3 but not 2FA and is eligible for direct deposit"
## Background

In profile 1.0, if a direct deposit-eligible user was LOA3 but did not have 2FA set up (a rare use case that can happen if people sign on through DS Logon or MHV), we showed the direct deposit section of the profile, but we showed a prompt that told them they had to add 2FA before they could update their information.

Unfortunately, this state somehow got missed in the profile 2.0 t

[2020-11-16 18:28] ncksllvn commented on #14474
I think this is resolved already. I don't see any paths beginning with `/manage-va-debt/` in the sitemap and I don't see the page showing in search results anymore either.

[2020-11-16 18:31] bsmartin-ep commented on #12460
@joanneesteban - don't think we can do dynamic fields in the actual title, so added to the summary:

![image](https://user-images.githubusercontent.com/62304138/99293007-072e6180-2810-11eb-9b2d-c7427ec52242.png)

[2020-11-16 18:34] joeniquette commented on #16217
As a representative of the Identity logging correlation issue, if we were to get logs from cloudwatch for the vets-api (specifically SSO related) into the splunk instance managed by the VA, then it would be helpful for me to potentially identify issues quicker. I do not want to press on this too much, but if we are being asked to complete this work, perhaps the cloudwatch logs specifically for SSO

[2020-11-16 18:35] jason-gcio opened #16219 "Troubleshoot CH36"
## Goal
Working on trying to figure out why Central Mail won't take our CH36 form.  The issue is that we cannot fire off our form to CM and we don't know why.  We were getting an unauth error locally.  Platform didn't respond so we merged in our code to try it.  Seemed like authorization was the issue, and Lihan suggested trying another form and that worked.  We want to get an error but there migh

[2020-11-16 18:36] vbahinwillit commented on #15834
@bsmartin-ep - I forgot to ask, but what should the event be for the user selecting the facility locator link?

[2020-11-16 18:37] johnhashva commented on #14474
^^^ confirmed.  Closing ticket.

[2020-11-16 18:37] #14474 closed

[2020-11-16 18:37] jjulian commented on #14083
External API is merged; work on VEText integration has not been started

[2020-11-16 18:38] bessgreen commented on #14942
@jperk51 to investigate services for file upload

[2020-11-16 18:39] bessgreen commented on #16172
@lexicalninja to review with IAM team on Tuesday 11/17

[2020-11-16 18:39] bessgreen commented on #16171
@lexicalninja to review with IAM team 11/17

[2020-11-16 18:42] mnorthuis commented on #14704
@kelsonic If the incorrect ones were merged already, they will need to be reverted back to their original redirect:

URL | Redirect to
www.vets.gov/education/other-educational-assistance-programs/veap/ | www.va.gov/education/other-va-education-benefits/veap/
www.benefits.va.gov/gibill/veap.asp | www.va.gov/education/other-va-education-benefits/veap/

[2020-11-16 18:44] jenniferlee-dsva commented on #15588
Referencing Analytics ticket here, so we don't lose visibility: https://github.com/department-of-veterans-affairs/va.gov-team/issues/15196 - this is a  high priority item for 1.1, and FE implementation of analytics should be prioritized over non-critical (doesn't impact function) bugs.

[2020-11-16 18:53] ElijahLynn opened #16220 "Update build script to use S3 cache for CMS DEV/STAGING more reliably OR PROD"
The vets-website build script that is running on PRs and deployment tests and is causing some PRs to fail the tests. The build script used to detect deployments to CMS DEV/STAGING and fallback to a previous builds S3 cache if it was down. This no longer seems to be working and might have something to do with the CMS launching a "deploy mode" notifies editors/users that a deploy is in progress.

Th

[2020-11-16 18:54] YanaRoy commented on #14371
Here's the link to the folder where the Skills Matrix lives:
https://drive.google.com/drive/u/1/folders/1egguUa68Mzr6QPxMU8xwMckNjYW3vQFi

[image: GovernmentCIO] <http://www.governmentcio.com/>
Yana M. Roy | CSM
Operations Lead
| *mobile* (732) 822-1200
| *e.* yroy@governmentcio.com
*Government*CIO
website <http://www.governmentcio.com/> | magazine
<http://governmentciomagazine.com/> | consulting

[2020-11-16 18:56] esther-k opened #16221 "Update my personal information page accessibility issues"
## What Happened?
1. With Keyboard linked to Android: the "Find your nearest VA location" hyperlink is not being focused and can not be accessed
2. With Voice Access enabled on Android, the "Find your nearest VA location" hyperlink is not able to be accessed by saying the attached number (the hyperlink has no attached number) or by saying "touch find your nearest VA location"
3. With VoiceOver and

[2020-11-16 18:57] jonwehausen commented on #3825
## QA Testing of Form Events:
- @Mottie Thank you very much for your work here, please find the test results for form 0996 below
- Apologies in advance recognize some of the items that need correction that were outlined in the original spec were inaccurate from the start and are from an old spec, and that was my mishap -- you can find documentation around our form events [here](https://github.com/

[2020-11-16 19:01] jenniferlee-dsva commented on #14047
Per this super long thread https://dsva.slack.com/archives/C52CL1PKQ/p1604942685057600, the expander text in mobile will say "Show details" and show/hide the optional screenshot + optional alert.

1) Step header text
Step description text, both of these are in 1 wysiwig field.
Show details...   `<-- expander component`
{expands to show screenshot and alert if any; don't include the expander compon

[2020-11-16 19:02] RLHecht commented on #16110
Thanks, @LeKeve @ricetj It looks like the intro text as well as some other R&S template components are incorporated in the widget. I think we would just need the apps directory to be in it and the other parts we could create in Drupal based off the template (certain elements are required to save the page so we would need to input them anyway). Here's a preview link showing what it currently looks

[2020-11-16 19:07] johnhashva commented on #13375
Good point, @andaleliz -- one more meeting with the dev teams before you leave is ideal.  I will work to schedule by posting a message in the How to Apply Wizards Slack channel today.

[2020-11-16 19:12] esther-k commented on #13891
UI and functionality pass. Accessibility does not pass with a multi-issue bug entered. Moving this to Design QA for review

[Accessibility Bug](https://app.zenhub.com/workspaces/va-mobile-app-5f205eac3155a2000f422ecb/issues/department-of-veterans-affairs/va.gov-team/16221)

[2020-11-16 19:20] jenstrickland opened #16222 "508-defect-1 ❗ Launchblocker [SCREEN READER, COGNITION]: Error messages MUST be associated with that input"
# [508-defect-1 :exclamation: Launchblocker](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-1)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and a

[2020-11-16 19:28] lildziner commented on #15846
Link to [UXPin prototype](https://preview.uxpin.com/603da0b67ccefbbee74fcd8bb77a8fed12baabb5#/pages/134151554?mode=cvhidm) to be discussed.

[2020-11-16 19:28] cilestin opened #16223 "Access for Drew Fisher"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Do not remove `operations` label; this will notify the VSP Operations team of your request
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Pleas

[2020-11-16 19:29] LeKeve commented on #16110
@RLHecht Great, thank you!

I can remove the intro text and the CTA buttons from the widget code.

I noticed in the preview that there is a single CTA button to `Learn more about connected apps`. Is a duplicate button at the bottom of the page required as in our mockups?

[2020-11-16 19:33] meganhkelley commented on #16220
We believe this will be resolved with the release of content build separation (epic #2719)

[2020-11-16 19:38] jenstrickland opened #16224 "508-defect-1 ❗ Launchblocker [SEMANTIC MARKUP, COGNITION]: Groups of form elements MUST have group labels (e.g. <fieldset> and <legend>)"
# [508-defect-1 :exclamation: Launchblocker](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-1)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and a

[2020-11-16 19:38] #14371 closed

[2020-11-16 19:38] RLHecht commented on #16110
Perfect @LeKeve Nope, a duplicate is not required. We have only been putting it on pages that are somewhat lengthy.

[2020-11-16 19:41] digitalken commented on #15442
Passed in TestRail - moving to Design QA.

[2020-11-16 19:41] jason-gcio opened #16225 "Create an Extra PDF Page for CH31"
## Goal
There are few additional questions that have been included in the CH31 form that need to be codified in the PDF that gets submitted.

## Considerations
- Ensure the field labels are included: [review](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/teams/vsa/teams/ebenefits/features/apply-vre-ch31/research-design)
- New questions listed here:
  - Are you intereste

[2020-11-16 19:47] kevinmirc opened #16226 "Diagnose the CARMA Submission error: Bad state provided (Micronesia)"
Sentry: http://sentry.vfs.va.gov/organizations/vsp/issues/7708/?environment=production&project=3&query=controller_name%3Acaregivers_assistance_claims&statsPeriod=7d

**Description**
An error found when submitting a 10-10cg to CARMA:

Validate that this error happens from our form's pick list of states and identify other states that are not listed in CARMA. Create a ticket to implement a solution.

[2020-11-16 19:50] andaleliz opened #16227 "Search has top and bottom borders, and too much margin below search container"
## What happened?

- the collapsed search container shouldn't have top and bottom borders, based on the [design mock-up](https://app.mural.co/t/departmentofveteransaffairs9999/m/departmentofveteransaffairs9999/1588167553516/2773c854e8ff3a725a5e3ee03272b78e8519f78b?wid=0-1600203327438)
- There's a bunch of margin we don't need between the bottom of the search accordion and the bottom border. I thin

[2020-11-16 19:50] 3obryandogs commented on #16113
If this is suitable with Becca and Riley, I will send it to Peggy/Danielle for their OK.

Why might I have this debt?
A letter was sent to the address on file with details about VA overpayment for specific benefits.
Compensation and pension
Some reasons you might owe disability compensation or pension repayment to VA include:
•	A change in eligibility
•	A duplicate payment
If you want more informa

[2020-11-16 19:50] ericbuckley opened #16228 "CODEOWNERS file changes for VSP Identity"
The VSP identity team should be alerted of any changes to files in `vets-website` and/or `vets-api` that MAY affect authentication.  The team already has rules setup in Sentry to alert them of errors, so it makes sense to do this proactively before the changes hit production.

I recommend the following changes to the `.github/CODEOWNERS` files

#### vets-api
[code]

#### vets-website
[code]

[2020-11-16 19:51] mshea0606 opened #16229 "AE: Maintenance, hardening, and improvements"

[2020-11-16 19:54] #15788 closed

[2020-11-16 19:55] ricetj opened #16230 "Staging Review [Bilby (Lighthouse End-User Experience Team) - App Directory]"
## Steps to complete Staging Review:

- [ ] Product Manager: create this issue and fill in feature name in the title and other bolded information appropriately
- [ ] Attach all artifacts before requesting the meeting
- [ ] Link to this issue once created in [#vfs-platform-support](https://dsva.slack.com/channels/vfs-platform-support) in Slack; tag @ Shira Goodman and @ Andrea Hewitt
- [ ] Shira to

[2020-11-16 19:58] ericbuckley commented on #16228
@hinzed1127 I know it's been a few months since you've worked on this, but do the above `vets-website` rules seem like a good starting point, or would you add/remove any files to the list of "identity" owned modules?

[2020-11-16 20:03] kevinmirc opened #16231 "Do not attempt a submission if authentication call to CARMA fails"
**Description**
We have two API calls to make in order to send a 10-10cg submission to CARMA using the **auth** and **submission** endpoints.

Currently, if the **auth** call fails we do not raise an error, we instead just have a `nil` access token. Since an error is not raised, we still make the call to the **submissions** endpoint even though we know have a `nil` access token.

Update the submis

[2020-11-16 20:04] pjhill opened #16232 "Automate Cross-Platform Testing"
## Problem Statement
In order to provide test coverage for the myriad platforms through which Veterans access va.gov, VSP should provide process and tooling for targeting the top 10 platforms for QA testing via automation.

1. How might we enhance the automated testing framework to allow easy access to cross-platform testing that includes Firefox, Chrome, IE11, Edge, and Safari?
2. How might we au

[2020-11-16 20:05] kelsonic commented on #14704
PRs merged + deployed (mostly), part of the redirects will go out tomorrow with the daily deploy unless we want to do an off-schedule, specifically this update here: https://github.com/department-of-veterans-affairs/vets-website/pull/14976

[2020-11-16 20:08] mdewey commented on #14387
In staging, can you verify @kristenmcconnell and @abuckley3385?

I am going to set a meeting for us to review all the UI research implementations

[2020-11-16 20:08] mdewey commented on #15522
In staging, can you verify @kristenmcconnell and @abuckley3385?

I am going to set a meeting for us to review all the UI research implementations

[2020-11-16 20:09] jonathanjnelson commented on #15161
[Updated designs](https://vsateams.invisionapp.com/share/HDZEEIXRBZG#/435554202_Secondary-Slected-No)

<img width="683" alt="Screen Shot 2020-11-16 at 2 08 19 PM" src="https://user-images.githubusercontent.com/58444931/99302593-31cee900-2815-11eb-852f-def106cd76f5.png">

[2020-11-16 20:12] dmccurdybah commented on #15773
# Current Letters Functionality

## Description

The Letters functionality is accessible in vets-website using the following URL:

    <vets-website-URL>/records/download-va-letters/

Users are required to be logged in and to have a valid address on file.

A request is made to EVSS via vets-api to get the list of letters available for the user.  This list is displayed along with static content for

[2020-11-16 20:19] brianalloyd commented on #15196
@kelsonic I discussion with the analytics team we need to connect the data layers to the FE as suggested [Here](https://github.com/department-of-veterans-affairs/va.gov-team/issues/15196#issuecomment-721089451) once that is complete can you please comment on this ticket for @jonwehausen to begin analytics implementation.  Please ping me if you have any questions and we can do a quick zoom call to

[2020-11-16 20:24] brianalloyd opened #16233 "Analytics KPI dashboard request for [Public Websites - Resources and Support]"
# Request a KPI Dashboard for Resource and Support

## What this form is for
Use this template to request a KPI dashboard on Domo for your product.

## Instructions for the VFS team
- [x] For additional info, read through the [How to Request a KPI Dashboard Documentation](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/analytics/kpi-dashboard-request.md)
- [x] Yo

[2020-11-16 20:28] SgardnerPMP opened #16234 "[EPIC] Source of Truth - Creation, documentation and version control for: Root/baseline System, content, nodes, Alerts that are tested to latest revision [VAMC]"
## VAMC - Product Outline
[VAMC-upgrade Product Outline](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/facilities/medical-centers/Project_Plan_Outline_2019.md)

## High Level User Story
As a PAO and VAMC team member,  I need to locate, document, and set improvements to the CMS/Drupal Editorial User Experience, so all future PAO/web editors and editorial users c

[2020-11-16 20:36] mpelzsherman commented on #15628
I wasn't seeing the assets because I didn't run `yarn build`. I thought `yarn build:content` was enough. Closing.

[2020-11-16 20:37] lexicalninja commented on #15942
The owner released a fix about 45 minutes ago.

@keli13 please make a new PR to update this lib, run it on devices to see if it is fixed and then run all the unit tests to make sure there are no issues.

Let me know if you have problems and I can help out.

[2020-11-16 20:38] #15533 closed

[2020-11-16 20:50] bridgethapner commented on #15975
Hi there @msmanak -- the rest of the UI on the overview screen may display here, so it might be worth showing that in the wireframe to clarify where the error would appear. For example, appeals would display if claims aren't available or vice versa. I see the following logic possibilities here:

- Appeals can load, claims can't load (user has appeals and list displays)
- Appeals can load, claims c

[2020-11-16 20:54] brianalloyd commented on #16192
@zacharymorel talked with @johnhashva who would like to make a clean break over to Decision Tools so I've assigned this to @youngfreezyVA to work.  Could you please collaborate with each other as a way of handoff in support?  Thank you in advance.

[2020-11-16 20:54] andaleliz commented on #11490
Per [this Slack thread](https://dsva.slack.com/archives/C52CL1PKQ/p1605553209254700) w/ additional guidance from Jen, I've created [a mock-up](https://preview.uxpin.com/716fd9c0d105393853b9655f4edd35f11dbca438#/pages/134261285/documentation/no-panels?mode=i) that visualizes the [decisions made on 7/27](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/content/tier-

[2020-11-16 20:58] kfrz commented on #15482
https://github.com/dcadenas/rubydeps
https://github.com/emad-elsaid/rubrowser

What's the diff between dependency graphs? Can we put this into a CI job? What can we do w/ this information?

[2020-11-16 21:05] mnorthuis opened #16235 "VSP IA feedback - Usability testing prep - Vet centers"
**Feedback framework**
- **Must** for if the feedback must be applied
- **Should** if the feedback is best practice
- **Consider** for suggestions/enhancements

## Feedback and Questions

**Consider**
- Although the breadcrumb is not completely defined yet, that element can provide context to the overall page, so ensuring the language and placement are represented in a realistic manner.  Things to

[2020-11-16 21:07] jonwehausen commented on #16233
Thank you @brianalloyd!

[2020-11-16 21:09] #15771 closed

[2020-11-16 21:09] kristenmcconnell commented on #15522
The address changes look great. I'm still seeing the old button. I signed in as User 34 on Chrome.

![Screen Shot 2020-11-16 at 3.51.06 PM.png](https://images.zenhubusercontent.com/5f44055c65a5c54f7cfe5928/74a40bb2-a384-4295-9c21-6428cc3c5056)

[2020-11-16 21:09] joeniquette commented on #13813
-IAM and ID.me working on figuring this out. Waiting on Craig from the IAM team to respond to Tanels (ID.me) question about putting query params and IDs into the relay state (such as ops=signin)

[2020-11-16 21:10] kristenmcconnell commented on #14387
I can see the "Continue questions" button state, which was an excellent catch on your part. But, I can't see the "Answer questions" button state to visually verify that.

Everything else looks good.

[2020-11-16 21:17] kristenmcconnell commented on #14387
Also confirming that this says "questionnaires" instead of "questions" (as in the wireframes) due to the variable controlling that wording. I'm assuming that variable is also what displays in the in-progress messaging, etc. If so, it totally makes sense and let's run with questionnaires.

![Screen Shot 2020-11-16 at 3.35.46 PM.png](https://images.zenhubusercontent.com/5f44055c65a5c54f7cfe5928/8e0e

[2020-11-16 21:19] brianalloyd commented on #16090
Thanks @kelson

[2020-11-16 21:23] brianalloyd commented on #14797
Thanks @kelsonic going to annotate here that we'll want to break this out into an epic and include a ticket for each content type in support of the FE transformers work.  We'll do this post planning discussion on 11/18/20.

[2020-11-16 21:25] bridgethapner commented on #14351
Bridget / Patrick sync on 11/16:

- This will capture the use case of no network connection
- Patrick to do some research to figure out how to best do this in React Native

[2020-11-16 21:26] johnhashva opened #16236 "Images for Public Websites Read-me"
<img width="812" alt="Screen Shot 2020-11-16 at 4 25 06 PM" src="https://user-images.githubusercontent.com/63107147/99309992-4d8fba80-2828-11eb-8724-35d1673aff8c.png">

[2020-11-16 21:31] jsev-io commented on #15190
@Jeff-Hayter to confirm, we're still waiting on Evangeline Garreau's eQip confirmation right?

[2020-11-16 21:36] sporeboy commented on #13807
@Samara-Strauss  I'll re-write the research plan around a prototype. So like you say above, we would have them click around on VA.gov then switch to a link to the prototype.

Regarding rural participants, I don't have strong feelings about including that group, but it seems we get a **lot** of urban, educated people. Maybe we leave it, but don't make it mandatory for Perigean.

[2020-11-16 21:45] steve-gov opened #16237 "Request access to Google Analytics and/or Domo"
# Request Google Analytics and/or Domo access

## What this form is for
Use this template to request access to Google Analytics and/or Domo

## User Email Address

kirkland.wallace@va.gov (Kirkland Wallace)

Please link this issue to the DSVA Slack channel [#vfs-platform-support](https://dsva.slack.com/channels/vfs-platform-support), add VSP Analytics & Insights to your message, and provide the em

[2020-11-16 21:46] sporeboy commented on #13807
Updates made! Dates will be added after usability prep feedback is reviewed.

[2020-11-16 21:46] Samara-Strauss commented on #13807
Great, thank you!!

[2020-11-16 21:47] Samara-Strauss commented on #13807
And updates look good! Closing, but feel free to reopen if needed.

[2020-11-16 21:47] #13807 closed

[2020-11-16 21:52] jason-gcio commented on #13808
https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/identity-personalization/direct-deposit/edu-direct-deposit/design/usability-testing

[2020-11-16 21:52] #13808 closed

[2020-11-16 21:52] joeniquette commented on #14147
@jsev-io or @jbritt1 is there anything else you need from us to get Alex the access he requires?

[2020-11-16 21:59] RLHecht commented on #14282
The changes I made earlier today are now visible on the live site. I reached out to Matt Self about that application page. Can close this once I hear back from him. FYSA @bethpottsVADEPO @brianalloyd

[2020-11-16 22:05] zacharymorel commented on #16192
Afternoon @brianalloyd , I have the work and I will create a PR tomorrow morning with the work that fixes these listed issues.
I chatted with Fareez earlier and he said he would pick up any PR feed back given.

[2020-11-16 22:06] #16155 closed

[2020-11-16 22:08] tressaellen commented on #15923
Here is the mock for this:

![DD 2FA.jpg](https://images.zenhubusercontent.com/5dfa65bbbd078d1699e52294/54f75199-8689-4af5-abe1-19808432375f)

[2020-11-16 22:08] #15923 closed

[2020-11-16 22:10] youngfreezyVA commented on #16192
sounds good to me @zacharymorel
since i'm not familiar with the ticket please provide steps to reproduce/dev workflow to see the issue locally, in your PR.
thank you!

[2020-11-16 22:12] tressaellen commented on #16218
Hello - here is the content/mock for this.

Content:

**You'll need to set up 2-factor authentication before you can edit your direct deposit information.**

We require this to help protect your bank account information and prevent fraud.

Authentication gives you an extra layer of security by letting you into your account only after you've signed in with a password and a 6-digit code sent directl

[2020-11-16 22:13] esther-k opened #16238 "Veterans Crisis Line page accessibility issues"
## What Happened?
1. With Keyboard linked to Android: the "VeteransCrisisLine.net" hyperlink is not being focused and can not be accessed
2. With Voice Access enabled on Android, the "VeteransCrisisLine.net" hyperlink is not able to be accessed by saying the attached number (the hyperlink has no attached number) or by saying "touch Veterans Crisis Line.net"
3. With VoiceOver and TalkBack enabled o

[2020-11-16 22:15] billfienberg commented on #13606
## Current diff of common files

### Command to generate diff

`diff  -rq ../vets-website . | grep -F "differ" | grep -Fv ".git"`

### Results

| #   | file                                                                                                   | `vets-website` link

[2020-11-16 22:17] artsymartha68 opened #16239 "Add custom screener travel question for Alaska (14 days)"
@artsymartha68 commented on [Mon Nov 16 2020](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/20157)

@artsymartha68 commented on [Mon Nov 16 2020](https://github.com/department-of-veterans-affairs/dsva/issues/32)

@artsymartha68 commented on [Mon Nov 16 2020](https://github.com/department-of-veterans-affairs/vets-website/issues/14980)

We have a request from the field to ad

[2020-11-16 22:21] brianalloyd opened #16240 "FE Checklist Layout Changes"
## Issue Description
_Need to make some checklist tweaks to heading and layout_

## Front end tasks
- Remove hardcoded "checklist" H2 heading
- Add intro text for checklist (new field)
- Remove thicker border from the bottom of the page (currently showing two borders right now)
- Prevent wrapping underneath the checkboxes, so that the labels are all aligned to the right (is this possible?)

## Acc

[2020-11-16 22:26] brianalloyd opened #16241 "R&S Search Bar: Remove bottom border on search"
## Issue Description
_Need to remove bottom border on search form's mobile display (since the search has a gray container)_

## Front end tasks
- Ensure the page is styled according to design spec.
- Ensure the back end data from API is displayed in local and review instance
- Ensure unit tests are available.
- Ensure your code changes are covered by E2E tests
- Run axe checks using the Chrome or

[2020-11-16 22:29] tlei123 commented on #16135
Per VSP-QA Peter Hill's suggestion, tried cypress-testrail-repoter's includeAllInTestRun & groupId/filter options to fix above issue, but unfortunately these options don't seem to work.  Customizing runName in cypress.json config didn't work either.

[2020-11-16 22:32] esther-k commented on #14016
UI and functionality pass. Accessibility does not pass with a multi-issue bug entered. Moving this to Design QA for review

[Accessibility Bug](https://app.zenhub.com/workspaces/va-mobile-app-5f205eac3155a2000f422ecb/issues/department-of-veterans-affairs/va.gov-team/16238)

[2020-11-16 22:35] #15691 closed

[2020-11-16 22:37] #15919 closed

[2020-11-16 22:39] #15921 closed

[2020-11-16 22:39] #15920 closed

[2020-11-16 22:39] annaswims commented on #16216
It looks like we meant to be logging user id's all along in Sentry, which would be good enough to get the in progress form id.  There's a PR in review to fix the user.id.

[2020-11-16 22:40] esther-k commented on #15067
PASS on iOS Android - The touch point heights meet minimum requirements according to Deque / Axe

[2020-11-16 22:40] #15067 closed

[2020-11-16 22:42] amyknox commented on #16164
Hi @joanneesteban - this isn't going to be in production until next year.  We have the UI for ratings display but the process for collecting the ratings is just getting started.

[2020-11-16 22:43] brianalloyd commented on #16192
Thanks @zacharymorel for the follow up and effort.  Appreciate it.

[2020-11-16 22:46] erikphansen commented on #16218
This is great. I'm wondering if the messaging should be massaged at all. This makes is sound like "once you set up 2FA you'll have access to direct deposit!" But in reality it's more like "once you set up 2FA we can see if we need to show you the direct deposit feature." On the one had this'll motivate people to set up 2FA is they don't have it set up. On the other hand, it's a bit like false adve

[2020-11-16 22:47] ncksllvn commented on #16241
Thank you @brianalloyd but @andaleliz actually beat you to it in this ticket, https://github.com/department-of-veterans-affairs/va.gov-team/issues/16227. I should have flagged it but I was preoccupied at the time. Sorry about that.

[2020-11-16 22:48] #15922 closed

[2020-11-16 22:49] #16196 closed

[2020-11-16 22:52] brianalloyd commented on #16241
No issue, I see it now.  I'll close this out as a duplicate.  Thanks @ncksllvn

[2020-11-16 22:53] #16241 closed

[2020-11-16 22:54] jenstrickland opened #16242 "508-defect-1 ❗ Launchblocker [COGNITION, AXE-CORE]: Forms with legal, financial, or data functions MUST protect users from errors"
# [508-defect-1 :exclamation: Launchblocker](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-1)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and a

[2020-11-16 23:00] peggygannon opened #16243 "VSP content review - Usability prep - Vet Center"
User story
This ticket captures VSP content feedback on Vet Center prototype.

Prototype link: https://preview.uxpin.com/603da0b67ccefbbee74fcd8bb77a8fed12baabb5#/pages/134151554/simulate/no-panels?mode=cvhidm

Acceptance criteria
 - [x] VSP/Peggy provides content feedback for the form/tool and any associated static pages
- [ ]  Product team incorporates feedback and/or asks follow up questions ab

[2020-11-16 23:07] nwalker-va opened #16244 "Access for Nicole Houston"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Do not remove `operations` label; this will notify the VSP Operations team of your request
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.
   Cecelia Lee
- Please provide your

[2020-11-16 23:11] peggygannon commented on #16243
Hi, @lildziner @mmiddaugh

I have some general content questions for this work:

-- What type of content feedback are you needing at this stage?  I recall that you still needed to get feedback from SMEs on Vet Center taxonomies to ensure they are in alignment with the existing health care taxonomies. Is this still outstanding?

-- How much of the content on this page is templated vs. specific to t

[2020-11-16 23:12] bethpottsVADEPO opened #16245 "Substantive edit of R&S decision review article"
## Issue Description
DEPO edit of decision review article before copyedit step.

---
## Tasks
- [ ] Edit chart. Provide feedback in comments and track changes.
- [ ] Provide feedback to @lwalsh617 to incorporate before the next step, copyediting

## Acceptance Criteria
- [ ] Text edited and feedback provided.
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be c

[2020-11-16 23:21] bmcgrady-ep commented on #13102
@amyknox - I confirmed that the Goal Conversion is working correctly. The difference in the numbers has something to do with data sampling in Google Analytics.

[2020-11-16 23:32] digitalken opened #16246 "VA Letters page accessibility issues"
## What happened?
Android:
- TalkBack Enabled:  When accessing page, the page opens but nothing is announced.
- View letters button is announced as:  "View letters button button".  Unnecessary info "button" included in label.
- With bluetooth keyboard, I'm getting different responses on Androids.
- Samsung Galaxy S7: Tabbing passes over Title (Letters), "Downloaded documents will...", "If this add

[2020-11-16 23:34] bethpottsVADEPO commented on #16245
@lwalsh617 See my edits and comments in the attached Word doc. There are a couple things for you to look into further, then you can pass along to Randi. Thanks![https://app.zenhub.com/files/133843125/0d5c5e28-7c9f-48e1-a390-090f0668c5e4/download](https://app.zenhub.com/files/133843125/0d5c5e28-7c9f-48e1-a390-090f0668c5e4/download)

[2020-11-16 23:40] digitalken commented on #14706
Tested in TestRail. Passed functionality/UI, failed accessibility.
Multi-part bug logged for accessibilty:
https://app.zenhub.com/workspaces/va-mobile-app-5f205eac3155a2000f422ecb/issues/department-of-veterans-affairs/va.gov-team/14706

[2020-11-16 23:41] digitalken commented on #14384
Tested in TestRail. Passed. Opens web browser and covid screen page.
Sending over to Design QA.

[2020-11-16 23:43] amyknox commented on #15924
Putting this "in progress" so we can make sure any relevant findings from Ratings get carried over to CT Redesign

[2020-11-16 23:44] mpelzsherman opened #16247 "Entire Health services section is missing from all VAMC locations in CMS build"
The list of Health services is missing from all VAMC locations, e.g.

/pittsburgh-health-care/locations/pittsburgh-va-medical-center-university-drive/
/pittsburgh-health-care/locations/beaver-county-va-clinic/
... etc.

## AC
Fix the transformers so these sections are present again and do not differ from the GraphQL builds.

[2020-11-17 00:25] ltrombley commented on #15450
Health Services Playbooks and Facility Workbooks are complete and distributed per the POC list.

[2020-11-17 00:26] ltrombley commented on #15451
Health Services Playbooks and Facility Workbooks are complete.  Pending distribution following discussion regarding Finger Lakes.

[2020-11-17 00:52] laurenernest opened #16248 "Add tracking event to CC review page"
## Issue Description
To help inform iterations of community care provider selection, add tracking event to community care request review page.

---
## Tasks
- [ ] Track # of CC providers as submission request event

---
## Tech Notes
Per Analytics [comments](https://github.com/department-of-veterans-affairs/va.gov-team/issues/15834#issuecomment-727055684) in #15834, add event as follows:
[code]
![

[2020-11-17 00:55] laurenernest commented on #15834
@vbahinwillit Per the discussion in scrum, I left a note in this ticket waiving the review page task and created a separate ticket for it.

[2020-11-17 00:57] laurenernest commented on #16091
@jbalboni What did the LOE for this end up being? (in points)

[2020-11-17 01:01] esther-k opened #16249 "Incorrect service info page accessibility issues"
## What Happened?
1. While using a screen reader, the VA.gov text on Android is being read as "Vaw [dot] gov"
2. While using a screen reader, the programmatic page title on Android is being read as "Incorrect service info screen"
3. With VoiceOver andTalkBack enabled on iOS and Android, the back button a11yHint is not being read
     - NOTE: Should be updated with [a11y update ticket](https://app.

[2020-11-17 01:04] mpelzsherman opened #16250 "Public prefix is still showing up in some download URLs"
Diffs in /pittsburgh-health-care/university-drive-campus-map/index.html reveal the following:

![index_html_vs__index_html.png](https://images.zenhubusercontent.com/5ee91ea93ee2bbe222cd827f/da3ced15-0cb8-4459-afb6-24dd45ba54fc)

Note the `public://` prefix on the download URL.

We also see some incorrect URLs such as `<img src="/img/styles/2_1_medium_thumbnail/public/2019-03/university-drive-map.p

[2020-11-17 01:05] esther-k commented on #13897
UI and functionality pass. Accessibility does not pass with a multi-issue bug entered. Moving this to Design QA for review

[Accessibility Bug](https://app.zenhub.com/workspaces/va-mobile-app-5f205eac3155a2000f422ecb/issues/department-of-veterans-affairs/va.gov-team/16249)

[2020-11-17 01:18] bsmartin-ep commented on #15834
@vbahinwillit -

I think [we can back our way into those metrics](https://github.com/department-of-veterans-affairs/va.gov-team/issues/15834#issuecomment-726320887) without any additional event tagging.

Ah sorry - didn't know you wanted to track those clicks as well.  Checkboxes would use this event structure:

[code]

I believe the intention is that it would be the actual labels (or perhaps a tr

[2020-11-17 01:34] jonwehausen commented on #16237
Hi @steve-gov ,

Thank you for your request! We have provisioned Google Analytics 360 and DOMO account access for Kirkland at the email you provided (kirkland.wallace@va.gov). She should have received invitation emails for each platform.

We will close this issue but please feel free to reopen if any access related concerns arise.

[2020-11-17 01:34] #16237 closed

[2020-11-17 01:40] bsmartin-ep commented on #15834
@vbahinwillit -

One other thing, I misspoke on this event:

[code]

It should be `radio-button-option-click-label` (with `click`).

[2020-11-17 02:48] #16159 closed

[2020-11-17 03:43] digitaldrk commented on #15801
Large Host PR: https://github.com/department-of-veterans-affairs/vets-api/pull/5209/files

New Model PR: https://github.com/department-of-veterans-affairs/vets-api/pull/5320

[2020-11-17 04:00] #15802 closed

[2020-11-17 04:35] jchasia-adhoc opened #16251 "Platform Newsletter: November Issue"
Requesting content review of the November newsletter.

Link to draft newsletter: https://us19.admin.mailchimp.com/campaigns/wizard/neapolitan?id=4565852#

Target release date for newsletter: by 11/23

[2020-11-17 06:04] kathleencrawford commented on #8780
PR submitted here: https://github.com/department-of-veterans-affairs/vets-api/pull/5318

[2020-11-17 06:12] digitalken opened #16252 "View List of Letters - accessibility issues"
## What happened?
~~1. On Android with bluetooth keyboard, using the up/down arrow skips over large number of menu items, "back" button, and page title ("Letters").  It skips the header items (back and title) then gets to "Proof of Service Letter".  I then must click the down arrow many times before it finally moves, but it skips to "Benefit summary Letter".  The other menu items between are skipp

[2020-11-17 06:15] digitalken commented on #13941
Tested on TestRail.  Functionality and UI are passing but accessibility is a fail.  Only able to test on Android due to availability of iOS build.  Will retest with iOS when it is available. Moving story to Design QA.

Accessibility bug logged:  https://app.zenhub.com/workspaces/va-mobile-app-5f205eac3155a2000f422ecb/issues/department-of-veterans-affairs/va.gov-team/16252

[2020-11-17 06:42] digitaldrk commented on #12090
This PR is held up by the model PR: https://github.com/department-of-veterans-affairs/vets-api/pull/5321

Model PR: https://github.com/department-of-veterans-affairs/vets-api/pull/5320

Large Host PR: https://github.com/department-of-veterans-affairs/vets-api/pull/5209

[2020-11-17 06:43] digitalken commented on #16035
Added to TestRail.

[2020-11-17 13:03] jsev-io commented on #14147
Hey Joe, no, I think we have everything we need. I've created a PR with the proposed code changes to allow his access. There was another issue with applying Terraform yesterday so I will apply the changes after we have resolved that.

[2020-11-17 13:10] ianMcCullough-ob opened #16253 "VA411 User Journey Map"
## Issue Description
Develop a user journey map to help understand the process VA.gov users go through when finding contact numbers on the website. Determine pain points and problem areas in reference to where call center numbers are located on the site, and how a user determines which number is appropriate for their respective call.

---
## Tasks
- [ ] Develop a user journey map
- [ ] Share user

[2020-11-17 13:15] RLHecht commented on #16146
These links have been updated. Moving to validate and will close after today's deploy. FYSA @bethpottsVADEPO @brianalloyd

[2020-11-17 13:19] #14928 closed

[2020-11-17 13:22] sporeboy commented on #13808
Here is the link to the initial draft of the convo guide: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/direct-deposit/edu-direct-deposit/design/usability-testing/dd-edu-convo-guide.md

[2020-11-17 13:38] abuckley3385 commented on #15049
questions looks fantastic

[2020-11-17 13:41] beaugrantham-va opened #16254 "Access for Beau Grantham"
# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please Provide your email.

- Please provide the name of your team, your role on that team, and the name of the company you work for.

- Requesting SSH key authorization?

- Grant AWS Console access?

- What AWS services do you need access to and why?

[2020-11-17 13:55] beaugrantham-va commented on #16254
@department-of-veterans-affairs/vsp-operations

[2020-11-17 13:55] rtwell commented on #15846
Commenting here so I do not forget and because my cats do not allow me to sleep 😹

### On this page
As a snapshot of the content for this Vet Center, and as a pattern for all Vet Center pages (a module for a template), I'm mulling over the hierarchy of this and wondering if we should hone this information into something more structured and rigid.

I think what is throwing me off is we're tackling

[2020-11-17 14:00] lildziner commented on #16243
[Mural board](https://app.mural.co/t/vsa8243/m/vsa8243/1603629469594/94d7825c23f0eff800a5271bf396293535ef5de7?wid=0-1605618343012&outline=open) with broad outline of the usability test.

[2020-11-17 14:02] jsev-io commented on #14147
Update:
@jbritt1 @joeniquette
I've manually created a temporary group with the following policies for @AGarcia-Clarity and Mike Lumetta while we figure out the terraform issues.
![image](https://user-images.githubusercontent.com/63133731/99399292-74470300-28b3-11eb-9ca0-3b397b685af2.png)

[2020-11-17 14:02] lwalsh617 commented on #15957
@RLHecht - Beth has provided her feedback and I made revisions, so this is ready for you to review (version 4, dated 11-17-20)
[rs-1.1-decisionreviews-copy-v4-11-17-20.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/5553894/rs-1.1-decisionreviews-copy-v4-11-17-20.docx)
 Thanks!
@bethpottsVADEPO - FYI, under **Legacy Appeal**, **Please review your SSOC,** I couldn't change

[2020-11-17 14:08] pjhill commented on #15846
Hello team, it appears as though there are not any QA artifacts available for review at this time. Typically, I would expect some stubbed out acceptance, functional, and/or integration test cases.  Additionally, if you are iterating on an existing product, it is prudent to evaluate the existing product's content and functionality to create regression test cases. If you have been practicing the Col

[2020-11-17 14:11] kevinstachura commented on #15679
I have created a design for where the SIP data will be located on the form:

<img width="936" alt="Screen Shot 2020-11-17 at 9 11 34 AM" src="https://user-images.githubusercontent.com/54544300/99400381-e5d38100-28b4-11eb-80f3-c5ac144776fb.png">

Let me know if you have any questions!

[2020-11-17 14:13] erluti commented on #12659
This should bee merged when the olive_branch patch version is successfully deployed https://github.com/department-of-veterans-affairs/va.gov-team/pull/15629/files

[2020-11-17 14:20] Samara-Strauss opened #16255 "[FE] Profile 2.0 bug fix: Add 2FA prompt for when someone is LOA3 but not 2FA and is eligible for direct deposit"
## Background

In profile 1.0, if a direct deposit-eligible user was LOA3 but did not have 2FA set up (a rare use case that can happen if people sign on through DS Logon or MHV), we showed the direct deposit section of the profile, but we showed a prompt that told them they had to add 2FA before they could update their information.

Unfortunately, this state somehow got missed in the profile 2.0 t

[2020-11-17 14:21] jbalboni commented on #16091
@laurenernest I think a 3, which I've added to this ticket.

[2020-11-17 14:22] Samara-Strauss commented on #15923
FE ticket in #16255

[2020-11-17 14:25] batemapf commented on #16239
en: 'Have you had contact with someone who has traveled outside of Alaska within the last 14 days?'
es: '¿Ha tenido contacto con alguien que haya viajado fuera de Alaska en los últimos 14 días?'

AK facilities code (all): vha_463

[2020-11-17 14:29] RLHecht commented on #16110
@ricetj We updated the H1 and intro on this page to align more with our voice and tone. I also removed the wording about the apps being created by non-VA developers and the feature not being a requirement. Can you take a look at the changes and let me know if they are OK? preview-prod.vfs.va.gov/preview?nodeId=9615

[2020-11-17 14:29] mmiddaugh commented on #16243
Hi @peggygannon

-- **How much of the content on this page is templated vs. specific to the Vet Center?** We're still working on the governance for this. Generally speaking, we're hoping most of the content will be national (or based on data) with local Vet Centers responsible for the particular services at their location.

-- **How will users navigate to these Vet Center pages?** They will link f

[2020-11-17 14:31] jenniferlee-dsva commented on #16055
Hi Liz - Yes, a formal share out of the findings with participant teams would be great.

In addition to the artifacts, please add a brief text summary (either in your email message or your presentation). Links to the 2 github files and to your UXPin artifact will be useful, but if you could also provide PDF'd versions to stakeholders, that would be even better. (Many of our VA partners do not have

[2020-11-17 14:32] #15049 closed

[2020-11-17 14:32] aparcel-va commented on #15335
@wwanamaker

[2020-11-17 14:44] ricetj commented on #16110
Hello @RLHecht Is it possible to keep the content the same? There has been a lot of back and forward with this content, and I was under the impression that it was ok as is.

Is it possible to just have this text as the H1/intro on the page, right above the CTA:
[code]

We don't need this part:
[code]

[2020-11-17 14:46] jenniferlee-dsva commented on #13037
@andaleliz - there is currently a CMS content field FE bug that you should be aware of: https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/15915

It doesn't affect the design per se, but it's important to know that the "Checklist" H2 that currently appears in the preview examples above will not always say "Checklist."
1/ It would be the

[2020-11-17 14:46] desireeturner commented on #15717
@elder-joseph Can you add this research to this folder on GH: https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/education-careers/school-comparison-tool/redesign/research

[2020-11-17 14:48] desireeturner commented on #15854
@zurbergram Can you add this research to the following GH folder: https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/education-careers/school-comparison-tool/redesign/research

[2020-11-17 14:49] desireeturner commented on #15773
@dmccurdybah Could you add the results of your research to this folder: https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/education-careers/validated-user-login

[2020-11-17 14:49] ricetj commented on #16110
At the very least is it possible to keep the H1 header `Find apps to use` ? We choose that to help with SEO since it will be the URL as well.

We called out non-VA developers, because there was confusion we saw in research that was conducted around this area. We want to make it clear to the users that the apps that are referred to here are non-Va developed apps.

[2020-11-17 14:49] jenniferlee-dsva commented on #15617
I posted this clarification in Liz's mobile design ticket. Just reposting here for everyone to be on the same page wrt ticket #15915 ^ FE not pulling the right optional checklist section header field and the need to display those as H2s when used:

https://github.com/department-of-veterans-affairs/va.gov-team/issues/13037#issuecomment-728975625

[2020-11-17 14:57] jenniferlee-dsva commented on #15915
The correct content fields are:

Optional - Checklist section header <display as H2>
Optional - Checklist section blurb
Checklist labels <no limit on how many; regular body copy text; up to 300 characters with spaces>

^ Above group can be repeated to create checklist groups chunked up into sections.

![image.png](https://images.zenhubusercontent.com/5bb2975c143b4d2ee7a35ef6/f786e525-79db-4f87-a03

[2020-11-17 15:03] mdewey opened #16256 "[FE] Update to new URLs"
## User Story
As a veteran
I should have consistent and semantically accurate URLs
So that I know what page I am on.

## Related Documentation
 - [MVP: Visit Intro Initiative (Proof of Concept)](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/initiatives/visit-intro.md)
- TODO ADD DOCS

## Description
Update the URLs to reflect w

[2020-11-17 15:05] #15220 closed

[2020-11-17 15:06] delli-gatti-michael commented on #15978
Changes are live on staging. Closing this issue
![Screen Shot 2020-11-16 at 3.46.10 PM.png](https://images.zenhubusercontent.com/5c07f000391a6f6357adc430/154a02ee-970e-486f-b1ac-c70cdd929b7b)

[2020-11-17 15:06] #15978 closed

[2020-11-17 15:11] Jeff-Hayter commented on #16200
@jbritt tagging @drorva Who can approve expedited access for VSP Ops folks.

[2020-11-17 15:12] #15780 closed

[2020-11-17 15:18] andaleliz commented on #16055
@jenniferlee-dsva "Formal share out" to me means a presentation - is that what you mean?  This isn't something I was planning on, was more thinking of emailing artifacts.  I have availability to do this Thursday before I leave, but I think we'll get a very low attendance rate given the short notice and incredibly busy schedules these teams have.

One correction to your write up - 3 isn't exactly r

[2020-11-17 15:19] abuckley3385 commented on #16256
getting info from IA mid week so pointing my change

[2020-11-17 15:20] zacharymorel commented on #16192
PR created for this work.
Steps to run env:

1. Once checked out to feature branch, make sure you've pulled today's drupal content if you haven not already. `yarn build:content --pull-drupal`
1.5 If you have pulled today's content and have a `.cache` dir within the root of the project, you can just run `yarn build`.
2. From there, run `yarn watch --env.entry=static-pages`
That's it, should be good

[2020-11-17 15:23] jenstrickland opened #16257 "Accessibility feedback for Usability Testing Prep - Facilities [Vet Center pages]"
## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix and/or document decisions made.
1. Accessibility specialist will close ticket after reviewing documented decisions / validating fix.

<hr/>

## Point of Contact

VS

[2020-11-17 15:25] RLHecht commented on #16110
I had reworked the first sentences to make them active instead of passive voice and we don't generally start intros with "Below." If we put back the info about non-VA apps, does this language work? I was avoiding the word "developers."

You can connect these third-party websites and applications to your profile. When you do this, they'll have access to your personal VA data, like your health or se

[2020-11-17 15:27] #16247 closed

[2020-11-17 15:28] zurbergram commented on #15854
@desireeturner https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/education-careers/school-comparison-tool/redesign/research/cost-of-living-tools/research.md

[2020-11-17 15:34] jenniferlee-dsva commented on #11490
Hi Liz - The mobile mockup lgtm - https://preview.uxpin.com/716fd9c0d105393853b9655f4edd35f11dbca438#/pages/134261285/documentation/no-panels?mode=i  -- I left a comment, very minor, about the updated H1.

I really like your `Load 5 more` affordance. Let's incorporate that feature into the ^ 1.1 mobile design - obviously would work only for the topics section. (I take it we're using "load" nomencl

[2020-11-17 15:34] mmiddaugh commented on #16087
this issue was resolved by turning off the `facility_locator_ppms_use_v1_client` flag

[2020-11-17 15:34] #16087 closed

[2020-11-17 15:35] delli-gatti-michael commented on #15765
Closing this out

[2020-11-17 15:35] #15765 closed

[2020-11-17 15:36] jenniferlee-dsva commented on #11490
editing ^

[2020-11-17 15:36] laurenernest opened #16258 "VATS settings script"
To help triage issues/verify user experience on the facility selection page, we'd like the ability to get a snapshot of the care settings and scheduling settings (check if direct schedule is turned on) of all sites.

- [ ] Write script to pull all sites' settings
- [ ] Run script - provide report for current settings

[2020-11-17 15:38] laurenernest commented on #16258
@jbalboni Good to go on the script! Assigned it to you to pick up when you're available.

[2020-11-17 15:41] Samara-Strauss commented on #16255
Closing. Duplicate of #16218.

[2020-11-17 15:43] mmiddaugh opened #16259 "Include Lat/long and radius in query"
## Issue Description

As reported in [#16087], pins were not displayed for locations outside the bounding box. this was resolved by turning off the `facility_locator_ppms_use_v1_client` flag. We need to change the information in the API request to address the root cause

**Root cause**
- v0 used address and PPMS determined lat/long
- v1 passed lat/long of calculated center for bounding box (perfor

[2020-11-17 15:49] AGarcia-Clarity commented on #14147
Thank you @jsev-io

[2020-11-17 15:49] bethpottsVADEPO commented on #15968
I conferred with Jennifer Strickland, and learned that this video isn't compliant because there's no transcript. Sent Tammy this email on 11/16:

Hi Tammy,
You’ll need to reach out to the team that created this video and ask them to address an accessibility issue before we can link to it from VA.gov. According to our accessibility specialist, the video needs a transcript to communicate the content

[2020-11-17 15:52] jbalboni opened #16260 "Incorporate remaining calendar Enzyme tests into RTL tests for date pages"
We want to rewrite our Enzyme based tests with tests in RTL that do not test implementation details

General guidelines:

- Don't test component implementation details (class names, DOM structure, etc), favor checking for something a user would look for
- There are some exceptions to this, like if we want to verify that the correct icon is used, which can only be checked by class
- Try to mock as

[2020-11-17 15:54] Jeff-Hayter commented on #16111
@jbritt1 Approved for AWS access.

[2020-11-17 15:55] Jeff-Hayter commented on #14716
@jsev-io Approved for AWS access.

[2020-11-17 15:57] peggygannon commented on #15721
Hi, @amyknox Mikki and I are discussing this today (11/17).

[2020-11-17 16:04] abuckley3385 commented on #14084
looks fantastic!

[2020-11-17 16:04] DanielleThierryUSDSVA commented on #15937
Thanks, @murrayra. I'm not sure of the answers, but I'll look into it a bit and get back to you. Thanks!

[2020-11-17 16:04] jenniferlee-dsva commented on #16055
Sorry - no, I just meant sending all the participants an official - here are the research findings, thank you email.

[2020-11-17 16:06] abuckley3385 commented on #15522
looks good!

[2020-11-17 16:07] jenstrickland opened #16261 "Work-in-progress 508-defect-1 [COGNITION, SEMANTIC MARKUP]: Form field instructions MUST be associated with inputs or buttons"
# [508-defect-1 :exclamation: Launchblocker](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-1)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and a

[2020-11-17 16:07] Mottie commented on #16001
Hi Tze!

This fix has been merged and will be available in staging shortly.

[2020-11-17 16:07] vbahinwillit commented on #15834
@bsmartin-ep - Thanks for the reply.

I don't have a taxonomy for this. I'm using a trimmed version of the label due to the label being generated based on the type of care selected.

[2020-11-17 16:10] abuckley3385 commented on #15523
@kristenmcconnell  why are we using 'your' for go to your health care questionnaires and not for the button go to appointment details ?
@mdewey  - the updates look good

[2020-11-17 16:12] ricetj commented on #16110
Hello @RLHecht that sounds fine to me. Are we able to keep the H1 the same? `Find apps to use`

[2020-11-17 16:13] abuckley3385 commented on #14387
looks good

[2020-11-17 16:14] abuckley3385 commented on #13418
how do i get to the demographics page when my form is in progress?  it goes right to the this visit page?

[2020-11-17 16:17] outerpress commented on #15711
Thanks @peggygannon ! I wasn't able to get this feedback into the prototype before the tests started, but I'm going to link this ticket to the CC Provider MVP design ticket so we can incorporate it there. I'll add you to that ticket too. This one can be closed.

[2020-11-17 16:18] abuckley3385 commented on #15521
sorry i reviewed this last week it looks good!

[2020-11-17 16:19] abuckley3385 commented on #14988
looks good

[2020-11-17 16:21] mpelzsherman commented on #15355
Already fixed, yay!

[2020-11-17 16:21] #15355 closed

[2020-11-17 16:21] Mottie opened #16262 "[Feature] Dynamic mock form dates"
## Description

Mock data is stored in JSON and includes hard-coded date strings, e.g. `2015-12-01`. In some instances, these dates need to be set within a specific time period to make it valid for a specific form. For example:

- Form 526 Benefits Delivery at Discharge flow can only be entered into, or tested, when the military service history includes a discharge date between 90 and 180 days fro

[2020-11-17 16:23] kristenmcconnell commented on #13418
That is a feature of the save in-progress feature. It jumps you to the last page that you were working on. You will just have to hit the back button.

[2020-11-17 16:25] jenniferlee-dsva commented on #16055
WRT #3 correction - I was trying to keep things simple enough to grok quickly. The main point being that "IRIS" is not just the web mail inquiry and not just the FAQs.

Is it still valid to simplify it as:

[2020-11-17 16:26] kristenmcconnell commented on #15523
@abuckley3385 Good question. My original idea was that "Go to your health care questionnaires" matches the title of the Questionnaire List page, which is "Your health care questionnaire." However, you are correct that it isn't consistent. Let me think on that.

[2020-11-17 16:28] #13211 closed

[2020-11-17 16:32] allison0034 opened #16263 "Design Feedback - Usability Testing Prep - Facilities [Vet Center pages]"
I love the direction of this page!

- **Must** for if the feedback must be applied
- **Should** if the feedback is best practice
- **Consider** for suggestions/enhancements

Thoughts/questions:
What are your thoughts on using the warning color with the feature story style?
Leyda: looking for a lighter tone
Allison/Emily: This is a great opportunity to help the "feature story" style. I would sugges

[2020-11-17 16:35] andaleliz commented on #16055
I don't think so - IRIS is a totally separate thing. GI Bill Help and MHV are not IRIS products, they're OSvC products just like IRIS. I think of them as siblings.  I think if we want to simplify the point you're trying to make, we could just say:

Not sure if you caught this link in the docs I created, but it may be helpful to understand how it's all connected: https://va-osvchelpdesk.custhelp.va

[2020-11-17 16:44] ndsprinkle commented on #15601
PR is merged. Going to check Sentry later to verify that the error has stopped occurring.

[2020-11-17 16:57] #15898 closed

[2020-11-17 16:57] #15887 closed

[2020-11-17 16:58] #15894 closed

[2020-11-17 16:58] #15896 closed

[2020-11-17 16:58] delli-gatti-michael commented on #15630
This is now in Staging. Closing this issue

[2020-11-17 16:58] #15630 closed

[2020-11-17 16:58] jhonnyoddball commented on #16072
Fix on PR [14989](https://github.com/department-of-veterans-affairs/vets-website/pull/14989)

[2020-11-17 16:58] #16072 closed

[2020-11-17 17:01] ElijahLynn commented on #16220
Also seeing the failure on "pulling side nav menus from drupal":

[2020-11-17T16:40:20.786Z] Drupal content unavailable in local cache: /application/.cache/vagovdev/drupal/pages.json

[2020-11-17T16:40:20.786Z] Attempting to load Drupal content from API at http://internal-dsva-vagov-dev-cms-812329399.us-gov-west-1.elb.amazonaws.com

[2020-11-17T16:40:20.786Z] Pulling side nav menus from Drupal...

[2020-11-17 17:03] ElijahLynn commented on #16220
Nice to hear! Thanks

[2020-11-17 17:04] srmyers17 opened #16264 "Secure Messaging"
## Product Outline
[Link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/va-mobile-app/product/product%20outline.md)

## High Level User Story/ies
As a user, I need to send secure messages to my provider from my phone so I can get things done quickly.

## Hypothesis or Bet
**If** _we enable secure messaging on mobile_ **then** _we expect users will get communica

[2020-11-17 17:05] mmiddaugh opened #16265 "Send lat/long and radius to FL backend"
## Issue Description

As reported in [#16087], pins were not displayed for locations outside the bounding box. this was resolved by turning off the `facility_locator_ppms_use_v1_client` flag. We need to change the information in the API request to address the root cause

**Root cause**
- v0 used address and PPMS determined lat/long
- v1 passed lat/long of calculated center for bounding box (perfor

[2020-11-17 17:05] srmyers17 opened #16266 "Save message as a draft"

[2020-11-17 17:06] srmyers17 opened #16267 "Read all messages"

[2020-11-17 17:07] srmyers17 opened #16268 "Display flag on new messages"

[2020-11-17 17:08] andaleliz commented on #11490
Oh glad you're on board with the load more concept @jenniferlee-dsva !  What do you think about starting with 3 topics instead of 5, since the height of each topic box needs to include the 6 links (5 articles + view all)? [Here's how it looks](https://preview.uxpin.com/716fd9c0d105393853b9655f4edd35f11dbca438#/pages/134261285/comment/sitemap)

Yes, language is trying to avoid language that assumes

[2020-11-17 17:08] srmyers17 opened #16269 "View a message"

[2020-11-17 17:08] srmyers17 opened #16270 "Reply to a Message | BE"
### **User Story**
As a user, I want to be able to respond to a message that has been sent to me so that I can communicate back-and-forth with my healthcare team.

### **Acceptance Criteria**
- Verify functionality that users can respond to an existing message in a folder
- What time limits exist if the message is too old to respond to?
- Confirm that users cannot reply to a message in the delete

[2020-11-17 17:09] srmyers17 opened #16271 "Compose a Message | BE"
### **User Story**
As a Veteran, I want to compose a new message so that I can communicate a new question or need to my healthcare team.

### **Acceptance Criteria**
- User can create a new message and send it to a recipient
- User can execute the following tasks:
  - select a recipient(required field)
  - select a subject (required field)
    - Options are General, COVID, Appointment, Medication,

[2020-11-17 17:09] srmyers17 opened #16272 "Compose a message - enter subject"

[2020-11-17 17:10] jperk51 commented on #14942
Doc type Whitelist: 
pdf, gif, tiff, tif, jpeg, jpg, bmp, txt

[2020-11-17 17:11] bmcgrady-ep commented on #13102
@amyknox - If you remove the **All Users** segment from your analysis, this should give you normal numbers (when you narrow the date range the goal conversions go down).

Here is a screenshot of the results that I got when removing the **All Users** segment:

**Date Range: September 1 - November 16**
![image](https://user-images.githubusercontent.com/66263904/99422502-deb07100-28bc-11eb-9f39-a9663

[2020-11-17 17:11] rileyorr commented on #15867
Hi, @jenstrickland! Thank you again for providing feedback and collaborating with me and @rebeccawalsh on a list loop design that'll work for our form! We've incorporated minor adjustments on the original design you and Josh proposed; I'd love a quick accessibility spot-check to see if there are any glaring issues. It's essentially the same design, but we'd like to display the saved inputs as a ta

[2020-11-17 17:11] mmiddaugh opened #16273 "Turn `facility_locator_ppms_use_v1_client` back on"
## Issue Description
Following the work in #16259 and  #16265, we need to  turn `facility_locator_ppms_use_v1_client` back on and monitor

---
## Tasks
- [ ] Turn `facility_locator_ppms_use_v1_client` back on and monitor

## Acceptance Criteria
- [ ] Facility Locator uses v1 client

---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached

[2020-11-17 17:20] cvalarida commented on #16114
Looks like design.va.gov documentation has useful guidance that isn't reflected in Storybook right now. We'll need to add that all in.

[2020-11-17 17:22] clantosswett commented on #15516
Reviewed @starlow00 draft. Submitted to JTF for review and have reached out to the VA Tier 1 contact center to determine who will be responsible for making the updates to the IVR once it has received approval.

[2020-11-17 17:26] mmiddaugh commented on #15906
[ba3ed474-79a2-4bad-bb21-a5f04cf89402-original.pdf](https://github.com/department-of-veterans-affairs/va.gov-team/files/5555115/ba3ed474-79a2-4bad-bb21-a5f04cf89402-original.pdf)

[2020-11-17 17:29] caw310 commented on #16114
@cvalarida , is there a list of what is in design.va.gov but NOT in Storybook right now?

[2020-11-17 17:30] #15521 closed

[2020-11-17 17:30] #14988 closed

[2020-11-17 17:36] brangi commented on #15906
Directions - hackathon day - https://github.com/department-of-veterans-affairs/vets-website/pull/14967

[2020-11-17 17:37] youngfreezyVA commented on #15967
hey @DanielleThierryUSDSVA had a great convo with @kevwalsh  this AM and this was the summary re: Coronavirus FAQ MVP:
- [ ] Spanish node in Drupal CMS (with Google Translate API call) won't be possible before inauguration. Want to do this the right way, and it would add a layer on top of all CMS calls.
- [ ] Spanish node without google translate / static content can be spun up today
- [ ] Fareez

[2020-11-17 17:38] clantosswett commented on #16062
@starlow00 attaching a list of the VA.gov issues with their definitions. Please take a look and let me know if you have any questions.

[https://app.zenhub.com/files/133843125/940a45bb-13c8-4ec2-a59b-70bb2bd21aa9/download](https://app.zenhub.com/files/133843125/940a45bb-13c8-4ec2-a59b-70bb2bd21aa9/download)

[2020-11-17 17:39] clantosswett commented on #16062
Also uploading email language for some of the major VA.gov issues. Please take a look and feel free to reach out if you have any questions.

[https://app.zenhub.com/files/133843125/06af00a3-f546-4cdd-96c0-4504c490307c/download](https://app.zenhub.com/files/133843125/06af00a3-f546-4cdd-96c0-4504c490307c/download)

[2020-11-17 17:41] #14976 closed

[2020-11-17 17:41] clantosswett commented on #16253
@ianMcCullough-ob Sharing these two documents in case they help with the user journey creation.

First one is a list of VA.gov issues with identified definitions. This is used by the contact center to identify how to categorize an issue.
[https://app.zenhub.com/files/133843125/fa8161fe-60d6-4f32-9826-4bc05c955042/download](https://app.zenhub.com/files/133843125/fa8161fe-60d6-4f32-9826-4bc05c955042

[2020-11-17 17:42] peggygannon commented on #15161
Hi, @jonathanjnelson Updated screenshot looks good. thx!

[2020-11-17 17:47] #15861 closed

[2020-11-17 17:48] digitalken commented on #13940
Added to TestRails.

[2020-11-17 17:50] digitalken commented on #14155
Added to TestRails.

[2020-11-17 17:51] bessgreen commented on #13947
@msmanak here is a ticket with an example of a11y requirements

[2020-11-17 17:52] bessgreen commented on #13862
@msmanak here is a ticket with an example of a11y requirements

[2020-11-17 18:01] digitalken commented on #13942
Added to TestRail.

[2020-11-17 18:03] outerpress commented on #15652
@laurenernest - we've seen zero folks drop off the list-loop pattern during research so far (4 participants) - everyone has easily selected a provider.

Given that, I recommend we drop the alert/error state from MVP. We could track drop-offs as part of the analytics if it's a concern.

[2020-11-17 18:05] kelsonic commented on #15503
I haven't found the pagination at all on the page https://www.va.gov/resources/search/, am I looking on the wrong page? I didn't see a link of where this issue was found in the ticket description 🙂

[2020-11-17 18:12] esther-k commented on #13892
**11/17**

PASS - UI, functionally, and accessibility pass on iOS and Android

[2020-11-17 18:15] andaleliz commented on #15503
@kelsonic I didn't include a URL because it's across all instances.

I put instructions to reproduce in the description. Homepage refers to va.gov/resources - my apologies, I assumed that that would be a given based on the issue title.

[2020-11-17 18:25] lildziner commented on #15906
**When searching for on VA.gov**

**Problem:** VA.gov often presents more information than a user needs and before they need it. This creates visual problems, information overload and congnitive processing issues, e.g. Covid allerts causing wayfinding obstacles.

- How might reduce cognitive load for our users?
- How might we help focus users to accomplish a task with less noise?

[UXPin screens](

[2020-11-17 18:28] esther-k commented on #15316
**11/17 Update:**

Issue still persists on Android

[2020-11-17 18:31] glennettec opened #16276 "Analytics Reporting Request for Glennette Clark"
# Metrics Reporting Request

## What this form is for

Use this template to request one-off performance, usability, or outcomes va.gov metrics that is difficult to access or that needs analytics interpretation.

Insights will usually provide data reports within the current sprint, but if there is time-sensitivity, please note them in "additional comments."

## Instructions

Please fill out the fol

[2020-11-17 18:43] jbritt1 commented on #16111
Temporary credentials passed to user at this time.

[2020-11-17 18:47] #16111 closed

[2020-11-17 18:50] clantosswett opened #16277 "Contact Center Team Charter Work"
## Issue Description
Conduct team sessions to develop a first version of the contact center charter (vision, mission, roadmap).

---
## Tasks
- [x] Schedule and plan team sessions to discuss and brainstorm contact center work
- [x] Create first version of contact center charter documentation
- [x] Validate with contact center team

## Acceptance Criteria
- [x] First version of Contact Center Team

[2020-11-17 18:52] mdewey commented on #15522
Good Catch @kristenmcconnell  I will that to a new ticket for next sprint.

[2020-11-17 18:53] digitalken commented on #13971
Added to TestRail.

[2020-11-17 18:54] #16091 closed

[2020-11-17 18:54] clantosswett commented on #16277
Completed first team session to determine the problem statement facing the contact center team. Refer to the mural board for brainstorm session notes:

https://app.mural.co/t/chanteworkspace9220/m/chanteworkspace9220/1605183640422/c422a7bbc657f74e8abe613e26bef6ac518c31bb

[2020-11-17 18:57] mdewey commented on #15523
@kristenmcconnell  I will add that small feedback to a new ticket.

[2020-11-17 18:59] mdewey opened #16278 "[FE] Usability Update Feedback"
## User Story
As a user I should have a UI that works for me

## Related Documentation
 - [MVP: Visit Intro Initiative (Proof of Concept)](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/initiatives/visit-intro.md)
 - [Mock up](https://app.zeplin.io/project/5f3d86a458ea2231e60a4780/screen/5f97214c66caff64c73f44ba)

## Description

[2020-11-17 19:00] mdewey commented on #14387
@kristenmcconnell  Good catch! I do have control over that and will address it in the [new ticket](https://github.com/department-of-veterans-affairs/va.gov-team/issues/16278)

[2020-11-17 19:00] #14387 closed

[2020-11-17 19:01] jperk51 commented on #14942
Max file size:
50 megabytes
Larger for PDFs? (@lexicalninja)

[2020-11-17 19:02] kristenmcconnell commented on #15523
@mdewey Great. Let me know the number and I'll add the details in that ticket.

[2020-11-17 19:04] kristenmcconnell commented on #15523
@mdewey - Is it #16278?

[2020-11-17 19:05] #14745 closed

[2020-11-17 19:05] clantosswett commented on #14945
Can this issue be closed @joanneesteban ?

[2020-11-17 19:07] clantosswett commented on #13641
@jonwehausen where do we stand on this? We did the QA for the contact center data and have been adding new contact center data to the master contact center form.

[2020-11-17 19:09] mdewey commented on #15523
@kristenmcconnell  Yes it is

[2020-11-17 19:10] mdewey commented on #15523
Moved to #16278.

[2020-11-17 19:11] jbritt1 opened #16279 "Remove Appeals Service Alert from VSP-Ops PageDuty Config"
## Issue Description
Ops member and a Front End Engineer were pinged at ~2am Eastern over the weekend for Appeals service being down. This was later discovered to be some planned maintenance, but we likely should not have been woken up for this alert. We should remove it from our alerting system / PagerDuty configurations.

Perhaps [this](https://github.com/department-of-veterans-affairs/devops/bl

[2020-11-17 19:11] #15523 closed

[2020-11-17 19:18] DanielleThierryUSDSVA commented on #15961
Hi @leahkeeler. Have we heard back from the stakeholders on these recommendations?

cc @mnorthuis

[2020-11-17 19:20] joeniquette opened #16280 "Document Codeql for Vets-website integration"
Document it [here](https://github.com/department-of-veterans-affairs/vets-website/tree/master/docs)

[2020-11-17 19:22] #14083 closed

[2020-11-17 19:23] bethpottsVADEPO commented on #16194
@RLHecht I reviewed these edits you implemented. Looks good, you can set to publish.

[2020-11-17 19:25] kelsonic commented on #15503
Ah ha! I see it now, thanks!

[2020-11-17 19:26] mchelen-gov commented on #12985
deployed to prod https://www.va.gov/performance-dashboard/

[2020-11-17 19:26] #12985 closed

[2020-11-17 19:27] jjulian commented on #16026
* There will be two VEText environments: TEST and PROD
* vets-api Staging <--> TEST (MVI SQA)
* vets-api Prod <--> PROD (MVI PROD)

[2020-11-17 19:28] kelsonic commented on #15503
So the pagination that's currently being used is also used on these other templates:

![image](https://user-images.githubusercontent.com/12773166/99437907-4d4afa00-28d0-11eb-97f9-38229e94d142.png)

I'm assuming this change is desired for all of those templates as well but just want to confirm! 🙂

[2020-11-17 19:29] joanneesteban commented on #16276
Thanks for the request, @glennettec !

[2020-11-17 19:31] andaleliz commented on #15503
Not sure if you are directing that at me, but I think you'd need to coordinate/double check with whoever implemented those other templates too.  Are those new? They look like they could be related to the recent pages John H requested.

In my opinion. pagination should follow the guidance/examples in the design system, site-wide. https://design.va.gov/components/pagination

[2020-11-17 19:33] timwright12 commented on #16101
Pivoting this task to upgrading the testing tools instead of full parallelization of the tests.

PR: https://github.com/department-of-veterans-affairs/vets-website/pull/14991

[2020-11-17 19:34] laurenernest commented on #15652
@outerpress Agreed. For MVP, we'll use the current validation response with the addition of the red bar next to the list that you've outlined here https://adhoc.invisionapp.com/d/main#/console/20765993/437074027/preview

[2020-11-17 19:35] kevinstachura commented on #15994
Hi @tzelei - The prototype in this instance was inaccurate and the staging environment was correct. The prototype has been edited to properly reflect respondent burden time:

https://vsateams.invisionapp.com/share/W5U21BDFTQK#/screens/404076958

Thanks so much for finding this!

[2020-11-17 19:37] theodur commented on #15628
The images in the CMS export build are not being saved in the same paths as they are in the GraphQL build.

E.g., the same image being saved in different paths:

GraphQL Build: `/img/styles/3_2_medium_thumbnail/public/2019-02/university-drive-consolidation-building2.jpg`
CMS Export Build: `/img/2019-02/university-drive-consolidation-building2.jpg`

[2020-11-17 19:37] erikphansen commented on #1969
After department-of-veterans-affairs/va.gov-team#14950 and department-of-veterans-affairs/va.gov-team#14984 the total Dashboard bundle size has been reduced from ~2.5MB to ~815KB.

[2020-11-17 19:37] #1969 closed

[2020-11-17 19:37] jason-gcio opened #16281 "Adjust Copy Around the Income Question for Pension"
## Background
We want to ensure that we are presenting the income question as it pertains to whether it is greater than a certain amount and not less.

The initial spec was to ask whether household net worth was **greater** than $129,094, but the implementation is asking if it's less than that amount. (https://github.com/department-of-veterans-affairs/vets-website/pull/14717)

The value expected b

[2020-11-17 19:50] kelsonic commented on #15503
They aren't new, I think they're mostly maintained by the facilities team 🙂 I'll check in with them, thanks Liz!

[2020-11-17 19:50] mchelen-gov commented on #15245
related: https://github.com/department-of-veterans-affairs/github-user-requests/issues/5300

[2020-11-17 19:53] jonwehausen commented on #13846
@bradl3yC [Retested ](https://github.com/department-of-veterans-affairs/va.gov-team/issues/13846#issuecomment-719746804)the `'bam-get-veteran-dmc-info-successful'` event and looks good.

Would be able to provide a user that fires the `'bam-number-of-cards-retrieved'` event? Did we implement this?

Thanks again for your assistance here.

[2020-11-17 19:55] andaleliz commented on #11490
@jenstrickland, what are your thoughts on the yellow fade technique ([code pen example](https://codepen.io/Mestika/pen/KVGwKb)) when a user loads more topics?  A fellow a11y friend suggested this, and I can see the value for sighted users. I don't see a lot of recent writings on this, or a11y articles for a load more functionality, so wanted to check with you.

I'm thinking a live region ([simple

[2020-11-17 19:57] bkjohnson opened #16283 "Access for Brooks Johnson"
# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please Provide your email.

- Please provide the name of your team, your role on that team, and the name of the company you work for.

- Requesting SSH key authorization?

- Grant AWS Console access?

  - What AWS services do you need access to and why?

[2020-11-17 19:58] bkjohnson commented on #16283
Tagging @department-of-veterans-affairs/vsp-operations for review

[2020-11-17 19:58] lexicalninja opened #16284 "Claims Status Tool Discovery"
As an engineer, I want to know how the web version of VA displays the claims information in the claims status tool so that the mobile app can display the correct information.

[2020-11-17 20:01] mchelen-gov commented on #15970
@youngfreezyVA Nice! Can you commit those queries someplace like `va.gov-team` repo?

[2020-11-17 20:01] lexicalninja commented on #16284
Met with Anna Carey from VSP to learn about the tool.

Currently, there is no Ad Hoc engineers working on the tool and have not been for some time.

There has also not been a VA Stakeholder since April, 2020.

Next steps are to reach out to the previous devs (Jeff Balboni, Erik Hansen, and Chris Valarida) and see if they can recall what is going on or can walk through some of the code with us.

[2020-11-17 20:01] #13324 closed

[2020-11-17 20:03] jonwehausen commented on #15643
@denisecoveyduc wanted to verify with you your account has been added (see screenshot below). Please let us know if you have any access-related issues, you should be able to access Bing Webmaster Tools [here](https://www.bing.com/webmasters/home?siteUrl=https://www.va.gov/)
![image](https://user-images.githubusercontent.com/48527022/99441219-95c0e280-28e5-11eb-8e81-70f0ba2875c0.png)

We'll get thi

[2020-11-17 20:03] mgleo commented on #16191
Requested access to recent Contact Center Monthly Reports similar to these:
[February 2020 Google Sheets](https://drive.google.com/file/d/1ytpv0UOdDrl8itRDiCYX7EOwm8dlStvX/view)
[March 2020 Google Sheets](https://drive.google.com/file/d/162Cn_srmNNQ3d7X62HIOOTdVrm2HSwQN/view)
[July 2020 DOMO](https://va-gov.domo.com/page/1744754544)

[2020-11-17 20:04] mgleo commented on #16190
Possible use of Rally Point: create a message board post/thread asking veterans about their search experience on VA.gov

[2020-11-17 20:06] lexicalninja opened #16285 "Turn Letters Screen and No Letters Screen into One screen with two components"
The current flow is to show one or the other screen depending on the response from the letters api. This can be turned into one screen that shows either a list of letters or the No Letters view conditionally instead.

[2020-11-17 20:08] MarciMcGuireGCIO commented on #13819
Adding blocked tag since this is likely to need a new CMS component and will need to be coordinated with the CMS team.

[2020-11-17 20:09] mgleo commented on #16186
The following questions can appear on one screen:
Did you find what you were looking for today? [‘yes’ or ‘no’]
What were you unable to find during your visit today? [text area]
What is your overall satisfaction with this site? [‘Very Dissatisfied’ through ’Very Satisfied”]

Demo is available on the [Find VA Locations staging link](http://staging.va.gov/find-locations) on the far right center of t

[2020-11-17 20:10] jenniferlee-dsva opened #16286 "Bug: Delete erroneous RS page"
## Bug: Delete erroneous RS page: https://www.va.gov/resources/search/

This RS search page was mistakenly created as part of the RS search behavior. We resolved that bug, but this page still appears to be valid. (I clicked into it from a random, unrelated GH ticket.)

To ensure that this page doesn't get indexed, could we delete it? It is an orphan page that we don't use.

ETA: Not urgent, but be

[2020-11-17 20:11] lexicalninja commented on #14351
This can be done by updating the api to catch errors around the fetch call.

api errors are caught within the response block, but network/connectivity errors show up in the catch block of a fetch request.

the api wrapper in the app will need to be wrapped in a try catch and the system will need to track that state and display something appropriately

[2020-11-17 20:13] RLHecht commented on #16194
The first round of changes are published. I'll hold off closing until the second set are done once the apps directory is live.

[2020-11-17 20:16] RLHecht commented on #15913
@ncksllvn Can you let me know when the old Welcome Kit PDFs are deleted from the assets folder and then I can close this ticket? Thanks much!

[2020-11-17 20:17] rebeccawalsh commented on #15497
I've updated Ch 4 to separate it into 4 pages rather than one and included the new loop list designs into the applicable pages.

https://preview.uxpin.com/803dc24213cf723bfce6c5e3eaef5a2c3f3e344b#/pages/134307864/simulate/sitemap?mode=i

[2020-11-17 20:18] digitalken commented on #15946
Added to TestRail.

[2020-11-17 20:18] johnhashva commented on #16190
@mgleo let me know if you want me to coordinate a quick convo with either Lauren Alexanderson -- who leads our veteran usability efforts -- or want to start with an exploratory convo with Dave Gowell the CEO of rallypoint first.

[2020-11-17 20:19] kelsonic commented on #15503
Hey @mpelzsherman your team maintains the templates found [here](https://github.com/department-of-veterans-affairs/va.gov-team/issues/15503#issuecomment-729150840) right? Just want to let you know I'm working on this since I think this will change your teams' pages' pagination styling 🙂

[2020-11-17 20:19] andaleliz commented on #16055
@jenniferlee-dsva here's the email I'm planning to send. Feel like I should share with you to be sure we are aligned in our communication. The links in the bulleted list aren't live but I'll link them accordingly

----

I’d like to start by thanking each of you for taking the time to participate in our research study. We know you all have multiple priorities and busy schedules, and we greatly appr

[2020-11-17 20:20] #16101 closed

[2020-11-17 20:21] jenniferlee-dsva opened #16287 "Add R&S to sitemap for indexing"
## Add R&S to sitemap for indexing

ETA: After Contact Us and IA footer links to the R&S are in production; before December 23 code freeze begins.

Slack thread: https://dsva.slack.com/archives/C0173CAJ7A6/p1605628482409800

AC:
- [ ] Make https://www.va.gov/resources URL canonical
- [ ] Add canonical URL to sitemap
- [ ] Submit R&S pages to search.gov for indexing

[2020-11-17 20:22] RLHecht commented on #16110
Thanks, @ricetj glad that works! For the H1 can you share the SEO data so we can understand the keywords you're going for?

[2020-11-17 20:23] lexicalninja opened #16288 "When should the app hit the API and when should it cache data?"
As an engineer, I need to decide when the app should make calls to the api and when it should rely on stored data to display.

This requires reviewing screens and components for data that updates and semi-permanent data(data that might update but takes a long time or other process to update and is unlikely to update during the life of the login session)

Consideration should also be taken to decid

[2020-11-17 20:23] jhouse-solvd opened #16289 "VSP ATO - May need an update to PTA"
## Issue Description
_The VSP ATO may need a PTA update to cover the new GovCIO system and possibly remove the GDIT system.  GDIT has lost their contract and GovCIO will be taking it on_

The PTA cannot be changed now because it has been finalized and submitted as part of the VSP's ATO package. However, I will update the PTA to reflect the change as part of the 2021 Annual review update In January

[2020-11-17 20:25] digitalken commented on #15960
Added to TestRail.

[2020-11-17 20:26] jonwehausen commented on #16204
Thanks @ala-yna , acknowledging receipt!

[2020-11-17 20:27] lexicalninja opened #16290 "How does the app deal with asynchronous back-end tasks?"
Vets API has multiple calls that do asynchronous updates, which can lead to data drift between the servers and the app. This can be confusing for a Veteran when they have completed an update of a claim or personal information but the system doesn't immediately reflect those updates.

How should the mobile app/mobile API deal with these situations?
How is this presented to the Veteran in the app?

[2020-11-17 20:32] digitalken commented on #15989
Added to TestRail.

[2020-11-17 20:32] esther-k commented on #15592
**11/17 Update:**

This bug is causing the records to be picked up as selectable elements while using Voice Control/Access

[2020-11-17 20:34] esther-k opened #16292 "Military information page accessibility issues"
## What Happened?
1. With Keyboard linked to Android, the "What if my military service information doesn't look right" hyperlink is not being focused and can not be accessed
2. With Voice Access enabled on Android, the "What if my military service information doesn't look right" hyperlink is not able to be accessed by saying the attached number (the hyperlink has no attached number) or by saying "

[2020-11-17 20:34] lexicalninja commented on #15977
update branch is features/calendar due to build errors on other branch

[2020-11-17 20:37] sonntag-adam commented on #13827
Testing passes QA

[2020-11-17 20:38] #13827 closed

[2020-11-17 20:38] sonntag-adam commented on #13860
Testing passes QA

[2020-11-17 20:38] #13860 closed

[2020-11-17 20:38] jenniferlee-dsva commented on #16055
I did previously, after your first session with Michelle. I think we're saying the same thing, different ways. What you have above is fine, but I would like to edit #1:

1. There is no single content team that is responsible for creating and managing IRIS FAQs. ~There are teams at some contact centers who would be responsible for their benefit-specific content in the future.~

[2020-11-17 20:38] esther-k commented on #13896
UI and functionality pass. Accessibility does not pass with two persisting bugs and a multi-issue bug entered. Moving this to Design QA for review

[Multi-issue accessibility bug](https://app.zenhub.com/workspaces/va-mobile-app-5f205eac3155a2000f422ecb/issues/department-of-veterans-affairs/va.gov-team/15592)

[Service record bug](https://app.zenhub.com/workspaces/va-mobile-app-5f205eac3155a2000f42

[2020-11-17 20:40] jbalboni commented on #14721
This seems to work fine now with the latest versions of Mocha and RTL. Closing.

[2020-11-17 20:40] #14721 closed

[2020-11-17 20:45] srsuddath commented on #15643
@jonwehausen I believe I have completed the steps above: ssuddath@governmentcio.com

[2020-11-17 20:49] jonwehausen commented on #15643
Thanks @srsuddath, you should have now received an invite indicating your access. Thanks again!

[2020-11-17 20:49] #15643 closed

[2020-11-17 20:52] ncksllvn commented on #16286
@jenniferlee-dsva that's the search application for R&S (sans query in the URL). It is a React app. What you see when you go there is just wording for the unlikely edge case of when a query isn't present in the URL.

We can remove it from the sitemap and do a redirect to the R&S homepage if there isn't a user query.

The va.gov/search page is in the sitemap

![image](https://user-images.githubuser

[2020-11-17 20:59] ncksllvn commented on #15913
Thanks for the reminder @RLHecht , here is a PR to do that https://github.com/department-of-veterans-affairs/vagov-content/pull/728

[2020-11-17 21:04] #16281 closed

[2020-11-17 21:05] 1Copenut opened #16293 "[SEMANTIC MARKUP] VAOS Appointment Cards - Bold section-heading like text must be marked up as headings"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Refa

[2020-11-17 21:05] #12083 closed

[2020-11-17 21:05] ricetj commented on #16110
Hello Randi, I do not have a SEO report that I can share. We were trying to use a simple H1/ URL that users looking for apps could find. We didn't want a complex or longer URL.
CC: @careyotto

[2020-11-17 21:06] jbalboni opened #16294 "Convert facility Enzyme tests to use RTL"
Tests:
- FacilityAddress
- FacilityHours
- FacilityDirectionsLink

We want to rewrite our Enzyme based tests with tests in RTL that do not test implementation details

General guidelines:

- Don't test component implementation details (class names, DOM structure, etc), favor checking for something a user would look for
- There are some exceptions to this, like if we want to verify that the correct

[2020-11-17 21:07] micahchiang commented on #15483
system ticket - https://github.com/department-of-veterans-affairs/va.gov-team/issues/15621

[2020-11-17 21:08] jbalboni opened #16295 "Convert Breadcrumbs and TabItem tests to RTL"
Tests
- TabItem
- Breadcrumbs

This could be incorporated into the appointments page tests, or converted standalone.

We want to rewrite our Enzyme based tests with tests in RTL that do not test implementation details

General guidelines:

Don't test component implementation details (class names, DOM structure, etc), favor checking for something a user would look for
There are some exceptions to t

[2020-11-17 21:14] MarciMcGuireGCIO commented on #15831
This was a test

[2020-11-17 21:14] #15831 closed

[2020-11-17 21:15] jbalboni opened #16296 "Remove remaining Enzyme tests"
There are some outstanding Enzyme tests that look like they can be removed:

- ScheduleNewAppointment
- AppointmentStatus
- AppointmentInstructions
- CommunityCareInstructions
- PastAppointmentsDateDropdown
- ErrorMessage
- FormButtons
- AppUnavailable
- NoRegistrationMessage
- NoValidVAFacilities
- SingleFacilityEligibilityCheckMessage
- VAFacilityInfoMessage

We should do some checking to make s

[2020-11-17 21:17] jbalboni opened #16297 "Convert TextareaWidget and NeedHelp tests to RTL"
Tests
- TextareaWidget
- NeedHelp

We want to rewrite our Enzyme based tests with tests in RTL that do not test implementation details

General guidelines:

- Don't test component implementation details (class names, DOM structure, etc), favor checking for something a user would look for
- There are some exceptions to this, like if we want to verify that the correct icon is used, which can only be

[2020-11-17 21:20] oksana-c commented on #15915
CMS functionality is tracked in https://github.com/department-of-veterans-affairs/va.gov-cms/issues/3445

[2020-11-17 21:22] mnorthuis commented on #16286
@ncksllvn can we implement a redirect to that url when no parameters are present to send the user to the R&S landing page?

If you remove it from the sitemap, then R&S search results will not be indexed.

[2020-11-17 21:32] annaswims opened #16298 "[Bug] Form 526 DOB missing"
When a user submits to EVSS we sometimes get a response of

`header.va_eauth_birthdate.isNull: Date of Birth is missing`

https://github.com/department-of-veterans-affairs/va.gov-team/issues/9903

We can just fall back to the DOB from the identity provider if the DOB in MPI is blank

This bug affected 8 unique users in the last month, but they attempted to submit a total of 38 times.

[2020-11-17 21:32] ricetj commented on #16110
There really isn't much data we can go off, so when we thought through the url find apps to use showed some good results when we tested that via an organic search. Plus we are going to try to optimize the SEO in other ways on the page. This page will also be linked to from the connected apps FAQ page and the connected apps profile section.

[2020-11-17 21:33] ncksllvn commented on #16286
Yeah we can do a redirect when there is no query in the URL l(ike how `va.gov/search` does it.)

[2020-11-17 21:34] ncksllvn commented on #16286
We can also exclude the page from the sitemap. Should those two things be added as the acceptance criteria in this ticket?

[2020-11-17 21:39] jenniferlee-dsva commented on #16286
If you recommend we should do that, yes please.

[2020-11-17 21:42] ncksllvn commented on #16286
It would get rid of whatever SEO value it might have otherwise. Personally I like being able to get to the page w/o a query in the URL but a redirect is the only real way to get rid of any traffic it might get otherwise.

[2020-11-17 21:42] jason-gcio opened #16299 "Final Punch List for CH31"
`- Consider breaking this ticket up?`
`- Not a conflict for e2e partner testing on Dec 1, 2020`

## Background
Based on the latest list from [Design](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/ebenefits/features/apply-CH36-VRE-counseling/research-design/text-revisions/CH36-punch-list-1020.md) we need to implement these items:

Note if out of scope = 🙈

[2020-11-17 21:45] #15374 closed

[2020-11-17 21:48] 3obryandogs commented on #15961
Danielle,
Leah may have more information, but I believe the content is being worked into the form. DMC prefers “request” rather than “application” or “form,” which was good to know. “Debt” is being reworked as “overpayment” or “repayment” depending on the sentence.

Thank you for your help on this project!

Susan

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Da

[2020-11-17 21:52] Mottie opened #16300 "[Development] Fix HLR analytics events per QA review"
## Description

QA testing of HLR form events reported 2 problems:

- Form submission (intended to fire once for every successful and failed submission)
  ⚠️ DOES NOT PASS there is currently duplicate `--submission` events firing
- Failed submission
  ⚠️ DOES NOT PASS
  **need to replaced `--submission-failure` with `--submission-failed`

Related: https://github.com/department-of-veterans-affairs/

[2020-11-17 21:52] 1Copenut opened #16301 "[COGNITION] Global Timeout Modal - Language should not depend on color descriptions like "blue button" for users to extend their session"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Adju

[2020-11-17 21:54] youngfreezyVA commented on #15970
thank you.. i'd be happy to commit these queries... I had an access key for the api not sure where that should go exactly. where in the repo would you suggest putting the query? thanks :)

[2020-11-17 21:54] mpelzsherman commented on #15503
@mmiddaugh FYSA

[2020-11-17 21:55] jason-gcio opened #16302 "Implement Flipper Component for View Payments"
## Background
With the launch of the payment history feature very quickly approaching, we need to ensure there is plenty of time for implementation and testing of the flipper component on the current [landing page](https://www.va.gov/va-payment-history/).

## Goal
Create the initial components needed for the Flipper functions, button labels, a widget ID that PubWeb might need in order to implement

[2020-11-17 21:56] jonwehausen commented on #13846
@bradl3yC Thanks for calling out the `number-of-current-debt-cards` variable, am now seeing fired within GTM preview...

That said, could we update to be pushed along with a `bam-cards-retrieved` event? Resembling...

[code]

If there are other card types that may surface here that we would like to capture, we can tact-on additional data layer variables as necessary.

Thanks again -- this should b

[2020-11-17 21:56] brianalloyd commented on #15309
@lalexanderson-dsva reaching out to see if any progress on obtaining a complete facility ID list in support of Cerner assistance from the PW team.  Last known was the next facility release will be in January 2021, can you confirm?  Looking for any details as we plan future work support.  Thanks.

[2020-11-17 21:57] johnhashva commented on #16287
@denisecoveyduc this is a good -- small -- ticket that would be good for Sam (with any help he needs from Nick) to tackle so he is familiar with the Site Map XML.

[2020-11-17 22:02] joanneesteban commented on #15245
Thanks for your help here! Project has new work automated. Closing this ticket!

[2020-11-17 22:02] #15245 closed

[2020-11-17 22:03] RLHecht commented on #15957
@lwalsh617 Here's the word doc with my edits. Minor tweaks and I had one question that I put in the comments.
[rs-1.1-decisionreviews-copy-v4-11-17-20.-RH-editdocx.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/5556463/rs-1.1-decisionreviews-copy-v4-11-17-20.-RH-editdocx.docx)

[2020-11-17 22:03] jenstrickland commented on #11490
Trevor and I discussed the possibility of a fading yellow background for text items that programmatically receive focus, but haven't yet made a decision. I have concerns about this for Veterans with PTSD and TBI.

The Codepen yellow flash timing is really fast. I have a TBI and it makes my head hurt.

For load more functionality, @rtwell and I worked through a process for VAOS "Add a provider". Wh

[2020-11-17 22:05] ncksllvn commented on #15913
I removed all of the PDFs that are now redirecting to `/welcome-kit/` but there are still some PDFs in that repo FYSA, https://github.com/department-of-veterans-affairs/vagov-content/tree/master/assets

[2020-11-17 22:06] RLHecht commented on #15913
Thanks much @ncksllvn Closing this ticket. FYSA @brianalloyd

[2020-11-17 22:06] #15913 closed

[2020-11-17 22:14] bosawt opened #16303 "Access for Trevor Bosaw"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Do not remove `operations` label; this will notify the VSP Operations team of your request
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Pleas

[2020-11-17 22:17] jonwehausen commented on #15872
Hi @cohnjesse ,

Okay thank you very much for this information, appreciate it. We are in the process of QAing your work here.

[2020-11-17 22:18] peggygannon commented on #15019
hello, @kristenmcconnell here is updated content for the questionnaires landing page to better align with the static page.
these updates include:
1. Bringing info about filing out  [X] days further up to intro, to better inform user whether answering questionnaire is helpful, and reframed the intro a bit because of this.
 
2. per our earlier conversation, moved the "What happens after I answer que

[2020-11-17 22:29] DanielleThierryUSDSVA commented on #15961
Thanks, @3obryandogs. Yes, I also recommended "request" in my edits to the FSR content since they're not really applying for anything here but rather asking for help. Please let me know if you have any questions about any of my other edits.

@leahkeeler, could you give @mnorthuis and I an update on where we're at overall on these recommendations? This has implications for SEO, future URL state, et

[2020-11-17 22:31] kristenmcconnell opened #16304 "[UX] Feedback from content"
## User Story
- Veterans need the wording of their questionnaire to be easily understandable.

## Related Documentation
 - [MVP: Visit Intro Initiative (Proof of Concept)](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/initiatives/visit-intro.md)

## Description
A wireframes set with the below updates will be delivered with the

[2020-11-17 22:33] kristenmcconnell commented on #15019
Moving Peggy's feedback to #16304, since it related to the introduction page and not the Drupal page.

[2020-11-17 22:33] #15019 closed

[2020-11-17 22:37] peggygannon commented on #15679
Hi, @Mottie

I have a few followup questions:

--Will this application ID number now go on every saved message across all forms?

--is this application ID number the same number on that will populate on the form confirmation page screen after a user submits their application?

Here is my content recommendation:

Your application has been saved. It was last saved on [Month, date, year] at [00:00 a.

[2020-11-17 22:39] brianalloyd commented on #15361
@DanielleThierryUSDSVA is everything ready for implementation on this?  If so, @kelsonic can you take this for action or is this something we could pass off to Fareez in support?

[2020-11-17 22:42] DanielleThierryUSDSVA commented on #15967
Posting here as follow-up to slack: Thank you, @youngfreezyVA. It's great to know that we have these 2 options. Not being able to have a translator post edit is a big concern from a quality/accuracy standpoint (same concern we had with the widget). Would love to look into that more to find out if there's a way to edit w/ the advanced version. Let's sync more tomorrow.

[2020-11-17 22:42] leahkeeler commented on #15961
@DanielleThierryUSDSVA I wish I had an answer for you - they are supposed to have a couple of meetings and let me know - I don't think we will have an update until Thursday at the earliest :(

[2020-11-17 22:46] jonwehausen commented on #13167
### QA Testing
- @cohnjesse Here is the latest round of QA, for your awareness - and apologies in advance many of these updates refer to recent updates from our standardized wizard specification as we aim to standardize across all wizards. Please find the full data layer specification [here](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/analytics/google-analyti

[2020-11-17 22:46] brianalloyd commented on #15314
In talking with Analytics and Insights team yesterday, Medallia timeline is likely to be February/March timeframe.  Will keep Icebox until additional details are known.

[2020-11-17 22:49] kathleencrawford commented on #15129
PR submitted here: https://github.com/department-of-veterans-affairs/vets-api/pull/5329

[2020-11-17 22:49] Mottie commented on #15679
Yes, it would give the developers access to the Veteran's save-in-progress data for any of the forms

No, the ID on the confirmation page is the submission ID. The save-in-progress data, and associated ID, are completely removed once a form has been submitted (I don't know if this is true across all forms, but it is true for form 526 and HLR)

[2020-11-17 22:52] careyotto commented on #16110
Additionally, if I recall correctly, `Find apps you can use` is also the call to action (CTA) link we settled on with the authenticated experience team (working with Peggy and Danielle) to use in the Profile 2.0 Connected Apps page. This CTA will bring a Veteran to the app directory page in the learning center. We are also using `Find apps you can use` as a CTA on the Connected Apps FAQ page.

Kee

[2020-11-17 22:53] amyknox commented on #15721
@peggygannon and @mnorthuis - thanks for letting me know this was on your radar today.  Were you able to make any progress?

[2020-11-17 22:53] brianalloyd commented on #16192
Thanks @zacharymorel for the continued support.  @youngfreezyVA tag your it. Let me know once validated so we can close this out.  Thanks.

[2020-11-17 22:55] kelsonic commented on #15361
I don't think there's anything dev related to work on for this, right? I think the content team is just putting their react widget on certain page(s)?

[2020-11-17 22:56] DanielleThierryUSDSVA commented on #15961
No worries at all, @leahkeeler. Just keep us n the loop as you know more, and let us know how we can support. Thanks!

[2020-11-17 22:56] Mottie commented on #15679
Also, we don't always show the user a submission ID. For our HLR form, the submission ID is super-long, e.g. `12a3b4c5-67d8-901e-23f4-56a7890b12cd` - also known as a [universally unique identifier](https://en.wikipedia.org/wiki/Universally_unique_identifier).

[2020-11-17 23:02] jenniferlee-dsva commented on #13819
@MarciMcGuireGCIO - the download links on these pages are not a CMS component. It is FE. The only thing that comes from the CMS is the actual form URL which enters the CMS via the nightly migration.

**For history:**
We deliberately added downloading action to the FE  download links. We did this because there are some VA forms that users cannot open in the browser - it's a global beyond VA thing h

[2020-11-17 23:03] brianalloyd commented on #15361
Thanks @kelsonic that's my understanding as well, sorry for the confusion.  @DanielleThierryUSDSVA can you source this with content team for implementation and close out?  Just trying to keep this on track in support and little unsure who is best to handle the details.

[2020-11-17 23:07] #15971 closed

[2020-11-17 23:09] ltrombley commented on #15732
Task #15732 - Complete for VISN-6, all corrections made and updated.

[2020-11-17 23:16] amycesal commented on #13102
<img width="636" alt="Screen Shot 2020-11-17 at 3 00 10 PM" src="https://user-images.githubusercontent.com/1656046/99462000-71bacc80-28f8-11eb-9577-ab63f32a644c.png">

@bmcgrady-ep The data for the closed funnel doesn't include the percentage change. I can't include it in the table if it's not in the data. Let me know when it's fixed. Thanks!

[2020-11-17 23:17] DanielleThierryUSDSVA commented on #15361
Hi @brianalloyd. Sure, yes! This can go to @RLHecht and content team for implementation now. Randi, do you want to find 15 minutes on my calendar this week and we can go through this together?

Note that we haven't gotten to the button character count limit question on the Design System Council yet, so I'll have to circle back on that when we do. For now, let's keep as the team has it.

Also FYSA

[2020-11-17 23:21] larrywest52 commented on #15677
Wrote, revised, and posted all final docs to our team's Google Drive.

[2020-11-17 23:23] larrywest52 commented on #15676
Write, revise, and posted all final docs to our team's Google Drive.

[2020-11-17 23:24] DanielleThierryUSDSVA opened #16305 "Project Kickoff [Public Websites/OCTO Health - Localization MVP of coronavirus content]"
## Steps to complete Project Kickoff
- [x] Product Manager: create this issue and fill in feature name in the title and other bolded information appropriately
- [x] Attach all relevent artifacts to the ticket
- [x] Link to this issue once created in [#vfs-platform-support](https://dsva.slack.com/channels/vfs-platform-support) in Slack; tag @ Shira Goodman and @ AndreaHewitt
- [x] Shira will schedu

[2020-11-17 23:26] Mottie commented on #15679
@peggygannon adding the extra content has caused an overflow, so the screenshot now looks like this

![Screen Shot 2020-11-17 at 5 24 59 PM](https://user-images.githubusercontent.com/136959/99462735-efcba300-28f9-11eb-86f7-677abb5e21a5.png)

Note that the application ID is a really small number in the local dev environment, it'll be at least a 7-digit number in production.

[2020-11-17 23:29] peggygannon commented on #15518
Hi, @sporeboy additional feedback for use cases where someone has DD for one type of payment, but not the other.
https://xd.adobe.com/view/5315e9ba-69ee-4082-bb26-29605bc4ae67-0646/screen/5dbf1181-9771-4bfd-b0ca-b9770bfdf4de

1. Message for no education DD:

Our records show that you're not receiving education benefit payments. If you think this is an error, please call us at [800-827-1000](make t

[2020-11-17 23:32] peggygannon commented on #15679
hi, @Mottie Ok, looks good! Thank you for being so good with content updates!

Just noticed we should add a period at the end of the last sentence:  Your application ID number is {number].

[2020-11-17 23:33] digitalken commented on #15991
Added to TestRail.

[2020-11-17 23:37] digitalken commented on #13947
Added to TestRail.

[2020-11-17 23:46] bessgreen commented on #15963
Update: Bridget to meet with Profile team in early December.

This will be a candidate to fix along w/ other Profile enhancements (including error states and more robust FE validation)

[2020-11-17 23:54] erikphansen opened #16306 "Add better handling when we cannot get contact info from VA Profile"
We just discovered an error situation we'd never seen before. On staging, user 36 was showing no contact info in their Profile and updates failed. This appears to be due to an error with the VA Profile service. The `GET user` call was showing the user's `vet360ContactInformation` as `null` and the `meta.errors` showed a 502 with `"Vet360"`.

When there is an error getting data from the VA Profile

[2020-11-18 00:04] tlei123 opened #16307 "[Bug] Debt Letters - Debt-list/-details - copy anomalies"
## What happened?
On **Staging Debt Letters debt-list** & **debt-details** pages, under **How do I get financial help?**, "You may be required..." paragraph copy was missing a space and a conjunction.

## Specs:
- Device: [device-agnostic]
- Browser: [device-agnostic]
- Test User _(if applicable)_: `vets.gov.user+1@gmail.com`

## Steps to Reproduce
1. Go to https://staging.va.gov/ , and sign-in as

[2020-11-18 00:12] cilestin commented on #16223
Tagging @department-of-veterans-affairs/vsp-operations

[2020-11-18 00:26] digitalken commented on #14699
Added to TestRails.

[2020-11-18 00:37] laurenernest commented on #15990
@bsmartin-ep FYI - I added a couple more items to call out that we need to track the same events on this new version of the page similar to the current version (#15834).

[2020-11-18 00:40] EdwardBoehme05 commented on #15734
Cross checks completed and corrections made.

[2020-11-18 00:50] DanielleThierryUSDSVA opened #16308 "Update button label for authenticated schedule appointment page"
## What happened?
When logged in as a Cerner user, the CTA buttons for non-Cerner VA facilities point correctly to the VA appointments tool, but the labels still say **Go to My HealtheVet**. They should say **Go to the VA appointments tool**.

![image.png](https://images.zenhubusercontent.com/5e8b13016a4378a604f5e799/e5186e51-b2fa-4095-a466-d3392669f457)

## Specs:
- Device: n/a
- Browser: n/a
- T

[2020-11-18 00:50] tlei123 opened #16309 "[Bug] Debt Letters - Debt-details - Content mismatch"
## What happened?
On **Staging Debt Letters debt-details** page, before **On this page**, **Why might I have this debt?** section is missing.

## Specs:
- Device: [device-agnostic]
- Browser: [device-agnostic]
- Test User _(if applicable)_: `vets.gov.user+1@gmail.com`

## Steps to Reproduce
1. Go to https://staging.va.gov/ , and sign-in as **`vets.gov.user+1@gmail.com` (Greg)**.
2. Go to https://s

[2020-11-18 00:51] DanielleThierryUSDSVA commented on #16308
Hi @kelsonic @brianalloyd. Lauren reported this bug, and I'm submitting issue to fix. Please reach out with any questions. Thank you!

[2020-11-18 01:07] #12463 closed

[2020-11-18 01:10] peggygannon commented on #15711
ok, thank you for the update @outerpress

[2020-11-18 01:10] #15711 closed

[2020-11-18 01:12] peggygannon commented on #16301
Thanks, @1Copenut I will recommend updated content

Where does this alert appear? Is it a global alert across multiple applications?

[2020-11-18 01:35] #15872 closed

[2020-11-18 01:38] #15484 closed

[2020-11-18 01:51] esther-k opened #16310 "Edit phone number pages - Accessibility issues"
## What Happened?
1. With VoiceOver enabled on iOS, the save button has multiple selections
2. With VoiceOver and TalkBack enabled on iOS and Android, the cancel button a11yHint is not being read
     - NOTE: Should be updated with [a11y update ticket](https://app.zenhub.com/workspaces/va-mobile-app-5f205eac3155a2000f422ecb/issues/department-of-veterans-affairs/va.gov-team/17185)

3. When a larger

[2020-11-18 01:52] omgitsbillryan commented on #16283
For AWS Access:

User: Brooks Johnson
COR: Jeff Hayter
Approval required: @Jeff-Hayter

[2020-11-18 01:53] omgitsbillryan commented on #16303
For AWS Access:

User: Trevor Bosaw
COR: Jeffrey Hayter
Approval required: @Jeff-Hayter

[2020-11-18 02:02] esther-k commented on #13894
UI and functionality pass. Accessibility does not pass with a multi-issue bug entered. Moving this to Design QA for review

[Accessibility Bug](https://app.zenhub.com/workspaces/va-mobile-app-5f205eac3155a2000f422ecb/issues/department-of-veterans-affairs/va.gov-team/16310)

[2020-11-18 02:21] omgitsbillryan commented on #16223
For AWS Access:

User: Drew Fisher
COR: Cecilia Lee
Approval required: @Jeff-Hayter

[2020-11-18 02:25] tlei123 commented on #14059
@leahkeeler , all test-runs now completed.  QA-artifact links:
- [Test Plan](https://dsvavsp.testrail.io/index.php?/plans/view/682)
- [Coverage for References (Cases) report](https://dsvavsp.testrail.io/index.php?/reports/view/151)
- [Summary (Defects) report](https://dsvavsp.testrail.io/index.php?/reports/view/150)

Defects logged: #16307, #16309

[2020-11-18 02:25] #14059 closed

[2020-11-18 02:31] tlei123 commented on #16083
@pjhill , all QA test-runs now completed (including automated E2E tests) -- QA-artifact links added/updated above in main Description.

cc @leahkeeler @shiragoodman

[2020-11-18 02:33] mshea0606 opened #16311 "AE: Sprint 35"
## Priorities
1. Outstanding tickets from sprint 34
2. Conduct MyVA Research sessions
3. Create MyVA Research Summary
4. DD for Edu prototype, usability platform review, and start recruiting
5. Preferred Medical Facility BE build
6. Preferred Medical facility project kickoff
7. Profile 2.0 enhancements

### Profile
**Design**
- [ ] [Design] Look into error messaging/location #10722

**FE**
- [x] [

[2020-11-18 05:13] SgardnerPMP opened #16312 "[Data-Load] Import and load approved Content to approapriate pages in VINS-23 Systems [CW]"
## Story
As a Veteran and web maintainer I need clear content to direct me through my health care journey, so I can best understand the services and information provided throughout the healthcare system.

## Resources
[VISN-23 Final content](https://drive.google.com/drive/folders/10p45lzP4Ku5zyrs9-AyjefuQOHRLVJ-h)
[Best bet text file](https://drive.google.com/drive/folders/1IRFznUzy5OyrnvAV2BAmWn1

[2020-11-18 05:26] #14619 closed

[2020-11-18 05:26] #15449 closed

[2020-11-18 05:26] #15448 closed

[2020-11-18 05:26] #15447 closed

[2020-11-18 05:26] #15578 closed

[2020-11-18 05:26] #15039 closed

[2020-11-18 05:26] #15038 closed

[2020-11-18 05:26] #15037 closed

[2020-11-18 05:26] #15696 closed

[2020-11-18 05:26] #15697 closed

[2020-11-18 05:26] #15695 closed

[2020-11-18 05:26] #15033 closed

[2020-11-18 05:26] #15694 closed

[2020-11-18 05:26] #14514 closed

[2020-11-18 05:26] #15032 closed

[2020-11-18 05:26] #15024 closed

[2020-11-18 05:26] #15027 closed

[2020-11-18 05:26] #15023 closed

[2020-11-18 05:26] #15675 closed

[2020-11-18 05:27] #15029 closed

[2020-11-18 05:27] #15025 closed

[2020-11-18 05:27] #15022 closed

[2020-11-18 05:27] #15031 closed

[2020-11-18 05:27] #15034 closed

[2020-11-18 05:27] #15026 closed

[2020-11-18 05:27] #15036 closed

[2020-11-18 05:27] #15035 closed

[2020-11-18 05:27] #15030 closed

[2020-11-18 05:27] #15699 closed

[2020-11-18 05:31] SgardnerPMP opened #16313 "[Data-Load] Import and load approved Content to approapriate pages in VINS-21 Systems [CW]"
## Story
As a Veteran and web maintainer I need clear content to direct me through my health care journey, so I can best understand the services and information provided throughout the healthcare system.

## Resources
[VISN-21 Final content](https://drive.google.com/drive/folders/16Bal-LorQpEnCy213gqczeCsKPy99AY_)
[Best bet text file](https://drive.google.com/drive/folders/1IRFznUzy5OyrnvAV2BAmWn1

[2020-11-18 05:35] SgardnerPMP opened #16314 "[Data-Load] Import and load approved Content to approapriate pages in VINS-2 Systems [CW]"
## Story
As a Veteran and web maintainer I need clear content to direct me through my health care journey, so I can best understand the services and information provided throughout the healthcare system.

## Resources
[VISN-21 Final content](https://drive.google.com/drive/folders/16Bal-LorQpEnCy213gqczeCsKPy99AY_)
[Best bet text file](https://drive.google.com/drive/folders/1IRFznUzy5OyrnvAV2BAmWn1

[2020-11-18 05:37] SgardnerPMP opened #16315 "[Data-Load] Import and load approved Content to approapriate pages in VINS-2 Systems [CW]"
## Story
As a Veteran and web maintainer I need clear content to direct me through my health care journey, so I can best understand the services and information provided throughout the healthcare system.

## Resources
[VISN-21 Final content](https://drive.google.com/drive/folders/16Bal-LorQpEnCy213gqczeCsKPy99AY_)
[Best bet text file](https://drive.google.com/drive/folders/1IRFznUzy5OyrnvAV2BAmWn1

[2020-11-18 06:25] SgardnerPMP opened #16316 "[DATA-LOAD] Create Profiles for VISN 16 Systems Program Providers in CMS-"Staff Profile" [BA]"
## User Story or Problem Statement
As a Veteran Web user, I want to see the local providers/caregivers information in the health service programs, so I know who to contact to start my healthcare journey.

## Goal
_Highlight the Individual points of contact for each Health Service Program_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran trav

[2020-11-18 06:27] SgardnerPMP opened #16317 "[DATA-LOAD] Create Profiles for VISN 16 Systems Program Providers in CMS-"Staff Profile" [BA]"
## User Story or Problem Statement
As a Veteran Web user, I want to see the local providers/caregivers information in the health service programs, so I know who to contact to start my healthcare journey.

## Goal
_Highlight the Individual points of contact for each Health Service Program_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran trav

[2020-11-18 06:29] SgardnerPMP opened #16318 "[DATA-LOAD] Create Profiles for VISN 21 Systems Program Providers in CMS-"Staff Profile" [BA]"
## User Story or Problem Statement
As a Veteran Web user, I want to see the local providers/caregivers information in the health service programs, so I know who to contact to start my healthcare journey.

## Goal
_Highlight the Individual points of contact for each Health Service Program_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran trav

[2020-11-18 06:31] SgardnerPMP opened #16319 "[DATA-LOAD] Create Profiles for VISN 21 Systems Program Providers in CMS-"Staff Profile" [BA]"
## User Story or Problem Statement
As a Veteran Web user, I want to see the local providers/caregivers information in the health service programs, so I know who to contact to start my healthcare journey.

## Goal
_Highlight the Individual points of contact for each Health Service Program_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran trav

[2020-11-18 06:36] SgardnerPMP opened #16320 "[DATA-LOAD] Create Profiles for VISN 23 Systems Program Providers in CMS-"Staff Profile" [BA]"
## User Story or Problem Statement
As a Veteran Web user, I want to see the local providers/caregivers information in the health service programs, so I know who to contact to start my healthcare journey.

## Goal
_Highlight the Individual points of contact for each Health Service Program_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran trav

[2020-11-18 06:38] SgardnerPMP opened #16321 "[DATA-LOAD] Create Profiles for VISN 23 Systems Program Providers in CMS-"Staff Profile" [BA]"
## User Story or Problem Statement
As a Veteran Web user, I want to see the local providers/caregivers information in the health service programs, so I know who to contact to start my healthcare journey.

## Goal
_Highlight the Individual points of contact for each Health Service Program_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran trav

[2020-11-18 06:43] SgardnerPMP opened #16322 "[VAMC] Pre-Dual-State check list for Erie-health-care system [PM]"
## Issue Description
As a PAO stakeholder I need the new VAMC site implemented into Dual-State, so I can complete all final testing, validation, and training prior to going to GO LIVE

---
## Tasks
- [x] _Provide updated Run book/check list to VSA teams for review
- [x] Implement tasks in run book for Erie health care system_

## Acceptance Criteria
- [x] _Run book has been approved by teams and V

[2020-11-18 06:43] larrywest52 commented on #15744
All pages loaded and reviewed.

[2020-11-18 06:46] SgardnerPMP opened #16323 "[DATA-LOAD] Create Profiles for VISN 2 Systems Program Providers in CMS-"Staff Profile" [BA]"
## User Story or Problem Statement
As a Veteran Web user, I want to see the local providers/caregivers information in the health service programs, so I know who to contact to start my healthcare journey.

## Goal
_Highlight the Individual points of contact for each Health Service Program_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran trav

[2020-11-18 06:48] SgardnerPMP opened #16324 "[DATA-LOAD] Create Profiles for VISN 2 Systems Program Providers in CMS-"Staff Profile" [BA]"
## User Story or Problem Statement
As a Veteran Web user, I want to see the local providers/caregivers information in the health service programs, so I know who to contact to start my healthcare journey.

## Goal
_Highlight the Individual points of contact for each Health Service Program_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran trav

[2020-11-18 09:18] larrywest52 commented on #15764
Loaded and reviewed all pages.

[2020-11-18 11:57] andaleliz commented on #11490
@jenstrickland definitely don't want to make anyones head hurt. Yikes.

Sounds good, I'll include guidance along these lines. Thanks!

[2020-11-18 12:00] rtwell commented on #13037
Mobile:

![image.png](https://images.zenhubusercontent.com/5568d4774f7a08fbb7f30688/d8e8cc41-b13e-4fdc-9cf5-606cd1fdb9b4)

[2020-11-18 13:23] MarciMcGuireGCIO commented on #13819
Thanks, @jenstrickland.  @ncksllvn, unless you already know the answer - I'll reach out to VSP to ask if cross-origin resource sharing on the server side might be able to remedy the subdomain issue.

[2020-11-18 13:29] RLHecht commented on #16110
All valid points. Can we go with "Find apps you can use" instead of "Find apps to use"? That will also match the CTA.

One other change to the page: There's currently a blue box in the widget under the list of apps. Blue boxes are generally used for our eligibility areas. We'd like to take it out of the widget and I can put it a standard H2 with the text underneath it as a regular content block.

[2020-11-18 13:30] jenstrickland commented on #13819
I wonder if @camerontesterman might have suggestions for those PDFs, and if something can be adjusted in the head. He had to make some adjustments for BAM2 work because of generated PDFs, iirc. The `download` attribute pairs with those settings and, I think, the `type` attribute. Cameron, do you have any ideas for these types of PDFs? 🙇

[2020-11-18 13:32] MarciMcGuireGCIO commented on #13819
Thanks for the additional info, @jenstrickland. I also posted a question on vsp-platform-support channel related to cross-domain/cross-origin resource sharing.

[2020-11-18 13:38] dneel-bah commented on #15773
Q+A
Darrell:
In your notes, it says that the “certificate_of_eligibility” is a currently available letter.
When looking at the “Only returns letters eligible for the user.” comment, it does not appear as if the COE is listed.  Is there a mapping or something happening there?

Devin:
That’s pulled from the documentation for the EVSS service.  It’s possible that we have a letter in our list of allow

[2020-11-18 13:42] LindseySaari opened #16325 "CircleCI - API call to trigger pipeline between BE/FE CI"
## Issue Description
Once the workflow is in place for vets-website in CircleCI, the vets-api Circle config will need to be modified to trigger the can-i-deploy check against vets-website. This can be done by adding a run step to the verification job to send an API call to trigger a pipeline as seen here: https://support.circleci.com/hc/en-us/articles/360047039292-Step-that-triggers-pipeline-in-di

[2020-11-18 13:46] jenstrickland commented on #13819
Cameron is the most knowledgable about the PDF header cases, afaik. We sought help before, and he was the one who sorted things out. He's super collaborative!

[2020-11-18 13:53] ricetj commented on #16110
Hello @RLHecht that H1 sounds fine to me, but will ask @careyotto her thoughts.

As for the changes, we will work to remove those. For the blue box we will just remove that, no need for a h2. (@LeKeve).

[2020-11-18 14:03] wwanamaker opened #16326 "Access for William (Bill) Wanamaker"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Do not remove `operations` label; this will notify the VSP Operations team of your request
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Pleas

[2020-11-18 14:08] jenniferlee-dsva commented on #13819
Thanks all for your due diligence. One more thing I forgot to mention:

The file name comes directly from the source VA forms database. This doesn't originate in the CMS - it's just one of the many form meta data that's migrated from the VA forms database into the CMS.

VA has 3 administrations and numerous businesses under each of those administrations - they all have slightly different file nami

[2020-11-18 14:12] mshea0606 opened #16327 "[Design] MyVA Dashboard initial explorations: Make mobile design updates from research feedback"
## Background
Following conducting the MyVA initial exploration research, we can include all feedback and progress toward implementing design changes in this ticket

### Feedback
- TBD
- TBD
- TBD

## Tasks
- [ ] Add feedback to this ticket
- [ ] Implement design changes
- [ ] Review with Matt and Samara

[2020-11-18 14:17] mshea0606 opened #16328 "[PM] Schedule/hold project kickoff - Preferred VA Facility"
## Background
Now that we have completed technical discovery for adding Preferred VA Facility to the Profile, we will hold the project kick off meeting to update the larger team and get their input/feedback.

[Project Kickoff template](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/working-with-vsp/vsp-collaboration-cycle/vsp-collaboration-cycle.md#project-kicko

[2020-11-18 14:17] RLHecht commented on #16110
Sounds good. I've updated the H1 and the intro so just let me know when everything else is ready. If you need to do testing you'd be able to do it in the R&S demo environment. We would just need to make sure we had copied over the content from prod first.

[2020-11-18 14:19] lunascoop commented on #14704
Corrected URLs are redirected. Closing ticket.

[2020-11-18 14:19] #14704 closed

[2020-11-18 14:20] jenniferlee-dsva commented on #13037
@rtwell - per above comment to Liz re the CMS bug rn - all of the headings will be optional and when used, they will all be H2s. Sorry about one more round - could you make one more v. showing the correct header class, so FE don't get confused?

![image](https://user-images.githubusercontent.com/43381063/99541813-4929e580-297f-11eb-8d0f-d2a5abd77da9.png)

[2020-11-18 14:21] MarciMcGuireGCIO opened #16329 "Find a VA Form MVP 1.0 508 Accessibility Discovery Research Epic"
## High Level User Story
As a Product Manager, I need to be clearly understand the underlying nature and teams that will need to be involved in remediating existing 508 Accessibility issues from the Find a VA Form MVP 1.0 so I can coordinate with the correct teams and/or assign the work to my own team.

## Goals
1. Comprehensive matrix of all existing Find a Form MVP 1.0 508 issues
2. A determinat

[2020-11-18 14:23] jenstrickland commented on #13037
@rtwell What happens when a user selects "Learn how to schedule a burial"?  If it goes to another page, it would be better if it was a link instead of a button.

For the download worksheet PDF link, that should probably use the download file pattern, for consistency as well as the functional features in the link pattern (download and type attributes) and include the file size if possible.

[2020-11-18 14:24] lunascoop commented on #16090
Redirects live. Closing ticket.

[2020-11-18 14:24] #16090 closed

[2020-11-18 14:24] jenstrickland commented on #13037
Those H2s should be `<legend>` elements for semantic markup grouping the checkboxes beneath them.

[2020-11-18 14:26] jenstrickland commented on #13819
The file names can be managed via the header paired with the download attribute. It's possible to use the download link text to populate the download attribute value to assign the actual file name.

[2020-11-18 14:28] jenniferlee-dsva commented on #13037
@jenstrickland - I don't know what legend elements mean. Whatever it needs to be is fine. I'm just pointing out that there is no H2 section header and another type of checkbox section header. That was a bug in the CMS, which they are fixing. The correct FE content fields are per this comment: https://github.com/department-of-veterans-affairs/va.gov-team/issues/13037#issuecomment-726253361

[2020-11-18 14:32] allison0034 commented on #15752
More documentation from previous research can be [found here](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/platform/research/collab-cycle-v1/README.md).

[2020-11-18 14:37] JoeTice opened #16330 "Create Cypress Environment Variables for Viewport Groups"
## High Level User Story/ies
As a frontend engineer who writes e2e tests in Cypress, I need Cypress environment variables that point to an array of ‘all’, ‘top5’, and/or ‘top10’ viewports used by ga.gov users, grouped by mobile, tablet, and desktop so I can easy iterate through the applicable viewports for each test I write, when appropriate.

## Issue Description
Currently, a list of viewports to

[2020-11-18 14:39] MarciMcGuireGCIO opened #16331 "Find VA Form MVP 1.0 508 Issues Discovery"
## Issue Description
As a Product Manager, I need to clearly understand the underlying nature and teams that will need to be involved in remediating existing 508 Accessibility issues from the Find a VA Form MVP 1.0 so I can coordinate with the correct teams and/or assign the work to my own team.

---
## Tasks
- [ ] Comprehensive matrix of all existing Find a Form MVP 1.0 508 issues
- [ ] A determi

[2020-11-18 14:41] 1Copenut commented on #16301
Yes, this appears anywhere users are logged in, and their session is about to expire.

[2020-11-18 14:43] mpeterz commented on #15846
Since we're considering entry points to Vet Center detail pages, let's look at how many people are coming through the main Vet Centers landing page:
https://www.vetcenter.va.gov/

And let's work with (and guide) Vet Centers and Aptive on optimizing the main Vet Centers landing page.

[2020-11-18 14:43] jenstrickland opened #16332 "Accessibility feedback for Usability Testing Prep – Authenticated Experience [Direct Deposit for EDU]"
## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix and/or document decisions made.
1. Accessibility specialist will close ticket after reviewing documented decisions / validating fix.

<hr/>

## Point of Contact

**VFS Point of Contact:** Josh

## Design feedback

[2020-11-18 14:52] andaleliz commented on #13037
Removing myself from assignees since @rtwell is tackling this now.

[2020-11-18 14:57] jonwehausen commented on #16010
### Implementation Notes
- Looking through the KPIs & UXPIN preview, wanted to document the two early items we know for certain will come out of this implementation:
   - [Standardized Form Tracking](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/analytics/google-analytics/tracking-form-events.md)
   - [Standardized Wizard Tracking](https://github.com/department

[2020-11-18 15:04] RLHecht commented on #16146
Validated on live site and confirmed on staging that the links work. Closing ticket.

[2020-11-18 15:04] #16146 closed

[2020-11-18 15:05] RLHecht commented on #16028
Validated on live site. Closing ticket. Thanks for the fix @kelsonic

[2020-11-18 15:05] #16028 closed

[2020-11-18 15:17] 3obryandogs opened #16333 "Organic review of DMC content excluding FSR request"
Give a once-over to general DMC content from staging site, and list change requests for Brad/Craig. Meet with Danielle to see where Public Websites are in creation of pages from their end.

[2020-11-18 15:17] camerontesterman opened #16334 "Add VA Benefits Gross Amount to 5655 Prefill"
## Issue Description
_What details are necessary for understanding the specific work or request tracked by this issue?_

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attac

[2020-11-18 15:20] rebeccawalsh opened #16335 "FSR - Create usability conversation guide"
## Issue Description
_To kick off usability testing for FSR, we need to write a research plan using [the provided template](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/research/planning/conversation-guide-template.md)._

---
## Tasks
- [x] _Write a conversation guide for the FSR usability test study._
- [ ] _Send the completed conversation guide to Shawna for

[2020-11-18 15:21] rebeccawalsh opened #16336 "FSR - Create UXPin prototype for usability"
## Issue Description
_What details are necessary for understanding the specific work or request tracked by this issue?_

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attac

[2020-11-18 15:23] rileyorr opened #16337 "[FSR] Update CH2 with feedback & new list loop design"
## Issue Description
_The design team has previously collaborated with VSP's accessibility team to design an accessible list loop component variation that aligns with the existing list loop's functionality. We need to incorporate the modified list loop into CH2's hi-fi designs. Additionally, we received feedback that splitting some of our questions to separate pages may ease cognitive load._

---

[2020-11-18 15:23] 1Copenut opened #16338 "Cypress helpers hasFocusableCount and hasTabbableCount need input types added to the arrays of checked items"
## Issue Description
During a pull request review, I noticed two Cypress helper methods **[hasFocusableCount](https://github.com/department-of-veterans-affairs/vets-website/blob/be526b55b52722c5d4a6ec50141334325a13192d/src/applications/gi/tests/e2e/cypress-helpers.js#L67)** and **[hasTabbableCount](https://github.com/department-of-veterans-affairs/vets-website/blob/be526b55b52722c5d4a6ec5014133432

[2020-11-18 15:27] 1Copenut commented on #16230
@ricetj I can't access the Accessibility test cases that were linked above ( https://dsvavsp.testrail.io/index.php?/runs/view/842&group_by=cases:section_id&group_order=asc ). TestRail says the project doesn't exist or I don't have permission. Please advise if I need a new link or someone should add me to a project.

/cc @shiragoodman

[2020-11-18 15:28] andaleliz commented on #16055
Sent email to teams - closing out

[2020-11-18 15:28] #16055 closed

[2020-11-18 15:28] rebeccawalsh opened #16339 "FSR - Incorporate content changes"
## Issue Description
Before usability, we need to update our design files with the most updated content.

---
## Tasks
- [ ] Incorporate content changes provided by Susan in the UXPin comments
- [ ] Send to Susan to review (incorporations only where necessary / major)

## Acceptance Criteria
- [ ] Content changes incorporated into Sketch files and synced to UXPin
- [ ] All comments checked off in

[2020-11-18 15:29] rileyorr opened #16340 "[FSR] Update CH3 with feedback & new list loop design"
## Issue Description
_The design team has previously collaborated with VSP's accessibility team to design an accessible list loop component variation that aligns with the existing list loop's functionality. We need to incorporate the modified list loop into CH3's hi-fi designs. Additionally, we received feedback that splitting some of our questions to separate pages may ease cognitive load._

---

[2020-11-18 15:35] rebeccawalsh commented on #15657
Confirmation screen can be found here: https://preview.uxpin.com/803dc24213cf723bfce6c5e3eaef5a2c3f3e344b#/pages/134209101/simulate/sitemap?mode=i

[2020-11-18 15:39] ricetj commented on #16230
Hello @1Copenut, tagging @LeKeve to troubleshoot this. I'm guessing it's most likely an access thing.

[2020-11-18 15:40] andaleliz commented on #9956
@jenniferlee-dsva can this be closed out?

[2020-11-18 15:43] 3obryandogs commented on #15657
Becca,
Do you want me to leave comments there? (a missing phone number, style change)
Thanks!
Susan

From: Rebecca Walsh <notifications@github.com>
Sent: Wednesday, November 18, 2020 9:36 AM
To: department-of-veterans-affairs/va.gov-team <va.gov-team@noreply.github.com>
Cc: Susan O’Bryan <ObryanS@twd.com>; State change <state_change@noreply.github.com>
Subject: Re: [department-of-veterans-affairs/

[2020-11-18 15:43] dillo commented on #15007
Updating title and acceptance criteria to reflect the work done to GET QuestionnaireResponses for the logged in patient/veteran.

[2020-11-18 15:49] #15892 closed

[2020-11-18 15:55] bmcgrady-ep commented on #16166
Hi @mshea0606 - Can you clarify what you mean between `% of Successful Submissions` and `% Direct Deposit Updates Successful`?

I am adding a page in Domo to fulfill this request as this will have to be a custom calculation and we can't do custom calculations in Google Analytics.

[2020-11-18 15:56] pjhill commented on #16338
While we are making changes to these helpers, let's consider relocating the file somewhere closer to the root. It's confusing to have these buried deep into the folder structure in a seemingly random product's folder.

One candidate for location suggested by Trevor would be the `/platform` folder. That sounds good to me.

[2020-11-18 15:56] kristenmcconnell commented on #16304
@peggygannon I reviewed your edits in more detail today.

1. I really like moving the "fill out this brief questionnaire at least [X] days" to the beginning. It was highlighted as one of the most important pieces of information in usability testing. That said, this questionnaire is only "brief" at this time. Once we add in everything, it could get long. I'm ok with leaving "brief" in the text for

[2020-11-18 16:05] #15631 closed

[2020-11-18 16:05] #15197 closed

[2020-11-18 16:06] #13887 closed

[2020-11-18 16:07] #15906 closed

[2020-11-18 16:07] lildziner commented on #15197
[Synthesis spreadsheet](https://adhocteam-my.sharepoint.com/:x:/g/personal/leyda_hughes_adhocteam_onmicrosoft_com/EYZ6B8_w_GJGi93wBq3_x8MBZ4zZgwE9V7earuu0MfDeRg?e=a0vIfE)

[2020-11-18 16:09] tlei123 commented on #15994
^Thx, @kevinstachura !  Closing this as false-positive.

[2020-11-18 16:09] luke-gcio commented on #11927
Closing, we definitely burned through this. Going forward we will leave more room in the sprint planning for this type of work but "visualizing" it has been more annoying than useful.

[2020-11-18 16:09] #11927 closed

[2020-11-18 16:12] luke-gcio commented on #14448
Meeting with team on Friday 11/20 to wrap up, notes will be here or link to KPI/OKR spreadsheet.

[2020-11-18 16:14] jason-gcio opened #16341 "Confirm fwdproxy for CH31"
## Background
In order to meet the deadline for the CH31's submission, we need to confirm the configuration of a fwdproxy where our code is sending a payload to the VRE endpoint.

### Resources
- Conversation regarding FWD proxy: https://dsva.slack.com/archives/CLY6Q69RV/p1605210607227700
- link from Jeremy regarding FWD proxy: https://github.com/department-of-veterans-affairs/devops/blob/master/a

[2020-11-18 16:15] mshea0606 commented on #16166
![Screen Shot 2020-11-18 at 11 12 00 AM](https://user-images.githubusercontent.com/60523453/99555969-eccec200-298e-11eb-861e-a3cd8e2204b4.png)

(Failures in Saving Direct Deposit)/(Form submits for Direct Deposit) = % of submits failed right?

so 1 minus (Failures in Saving Direct Deposit)/(Form submits for Direct Deposit = % successful submissions

[2020-11-18 16:17] abuckley3385 commented on #13153
Thread in platform - https://dsva.slack.com/archives/C01CJV0L9PS/p1605634685052900

[2020-11-18 16:18] abuckley3385 commented on #13786
thread in platform - https://dsva.slack.com/archives/C01CJV0L9PS/p1605634685052900

[2020-11-18 16:18] mshea0606 commented on #16166
For the % Successful submissions for the Profile.....

do we have a failed submission or save failure count to make the same ratio? If not, we can exclude this.

I basically want to see what % of time we save/submit Direct deposit info and dont get a failure/error

then the same thing for the profile at a much higher "overall" level.

Let me know if this makes sense or if I am not understanding th

[2020-11-18 16:19] LeKeve commented on #16230
@1Copenut I just spoke with VSP product support and they gave you permission to view the project. Could you try again?

[2020-11-18 16:20] luke-gcio commented on #16006
Sent an email to Lauren - suggest wording so far:

"Please visit the Claims Status Tool to check the status of your higher level review.  Note: It may take from 7-10 days for the claim to be processed and show up in the status tracker."

[2020-11-18 16:20] jason-gcio opened #16342 "Adjust Model for CH31"
## Goal
The CH31 Model needs to be adjusted per [latest review](https://github.com/department-of-veterans-affairs/vets-api/pull/5320)

## Tasks
- [x] Review and implement feedback for previous model PR submission

## Acceptance Criteria
- [x] Model PR has been successfully merged

[2020-11-18 16:22] luke-gcio commented on #16006
Moving to Sprint 35, we ended up with about 8 stories post staging review to work on so those take priority over this messaging.

[2020-11-18 16:23] luke-gcio commented on #13949
Assigning to Lihan to take a look at during sprint 35.

[2020-11-18 16:23] #14786 closed

[2020-11-18 16:23] #8743 closed

[2020-11-18 16:23] jonwehausen commented on #16204
Going to close this @ala-yna and include this as an item to our dashboard iteration ticket here: #11477

[2020-11-18 16:23] jason-gcio opened #16343 "Merge Controller for CH31"
## Goal
The CH31 Controller needs to be adjusted per [latest review](https://github.com/department-of-veterans-affairs/vets-api/pull/5321)

## Considerations
- Model PR needs to be in place before this can be completed

## Tasks
- [x] Review and implement feedback for previous controller PR submission

## Acceptance Criteria
- [x] Controller PR has been successfully merged

[2020-11-18 16:26] digitalken commented on #15444
PASS - Moved to design QA.

[2020-11-18 16:26] jonwehausen commented on #11477
@bmcgrady-ep @bsmartin-ep Please reference ticket above for updating dashboard to include `-failed-client` events per Alayna's request:

[2020-11-18 16:26] digitalken commented on #15198
PASS moved to design QA.

[2020-11-18 16:26] #16204 closed

[2020-11-18 16:27] luke-gcio commented on #12904
We may have two UAT candidates!  Will hold open.

[2020-11-18 16:28] luke-gcio commented on #11773
Very low hanging fruit and good to get Lihan's feet wet.

[2020-11-18 16:29] luke-gcio commented on #7701
Adding Lihan to assignment list but this is a Luke action to follow through on first.

[2020-11-18 16:30] jonwehausen commented on #15793
Hi @Hampshire100 ,

Wanted to follow up with you here -- did you all have any further questions regarding the implementation?

[2020-11-18 16:33] #15717 closed

[2020-11-18 16:38] digitalken commented on #15622
Added to TestRail.

[2020-11-18 16:42] #15737 closed

[2020-11-18 16:45] jsev-io commented on #14716
Thanks @Jeff-Hayter
@christineyost
I will get your account created and contact you directly with the details when complete.

[2020-11-18 16:46] jason-gcio opened #16344 "Scaffold Component Structure for Dependency Verification"
## Goal
In order to begin building the Dependency Verification feature (according to the mockups) we need to first scaffold out any components that will be needed. These scaffolds do not need to include any logic, as that will be added in separate tickets, but it should reflect the basic structure the app architecture will follow. For the this feature in particular we need to build/ modify the fol

[2020-11-18 16:49] 1Copenut commented on #16230
@LeKeve & @ricetj  I have access now. Thank you both.

[2020-11-18 16:51] annaswims commented on #11773
You can run the rake task `rake form526:errors` to find instances of this error. `form526.directDeposit.routingNumber.Pattern: must match...`

Once you have the submission_id from that list you can run `rake form526:submission[383534]` to see form submission data, though in this case we need the redacted veteran data that we could get from the console (`Form526Submission.find(383534).form.dig("for

[2020-11-18 16:55] RLHecht commented on #16110
@ricetj Yep, that URL is correct.

[2020-11-18 16:56] drorva commented on #16200
Approved

[2020-11-18 17:01] jason-gcio opened #16345 "Create Proof of Concept for Dependency Verification"
# POC Dependency Verification on VA.gov

Documentation: TBD

URL: TBD

## Story

As a Veteran, I want the opportunity to verify that my dependents, or dependency status has been updated so that I can maintain an accurate representation of my situation to the VA.

## Considerations

- This is new feature and has wide implications
- Documentation may not yet exist and needs to be created
- Diary ent

[2020-11-18 17:05] bsmartin-ep commented on #15834
@vbahinwillit - that should work then.  As long as we can differentiate the fields, I'm cool with whatever works for your team.

[2020-11-18 17:07] erikphansen opened #16346 "Research structure of current Profile components"
Look into current Profile components to look for areas of potential improvement.

[2020-11-18 17:07] Samara-Strauss commented on #15916
Closing. Copy is captured in #15518, but also copy/pasting below ([via Peggy](https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/15518#issuecomment-729276025)):

[2020-11-18 17:07] #15916 closed

[2020-11-18 17:08] Samara-Strauss commented on #15916
Oh, @sporeboy I'm assuming you've updated the mocks with Peggy's copy, but sorry if I closed this out before you got a chance to do that! Feel free to reopen if needed, but my guess is this is still ok to be closed.

[2020-11-18 17:09] joanneesteban commented on #13198
Hi @batemapf @lalexanderson-dsva - we're in grooming & closing this ticket out. If you want funnels tracked here, please let us know. We can reopen this ticket, or have a new implementation ticket opened.

[2020-11-18 17:09] #13198 closed

[2020-11-18 17:09] Samara-Strauss commented on #15518
Is this good to close? I think all the copy is complete.

[2020-11-18 17:11] erikphansen commented on #9564
closing this in favor of https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/16229

[2020-11-18 17:11] #9564 closed

[2020-11-18 17:13] holdenhinkle commented on #16330
Submitted PR - https://github.com/department-of-veterans-affairs/vets-website/pull/15006

[2020-11-18 17:14] luke-gcio commented on #11353
Would you say the only thing left for this story is front end work to improve the messaging?  Since we have the duplicate MVI thing already being worked on separately.

[2020-11-18 17:14] erikphansen commented on #11538
We can likely stop calling `personal_information` but we should confirm that endpoint doesn't sometimes provide additional information.

[2020-11-18 17:14] mmiddaugh opened #16347 "[DESIGN] Prototype for Veteran testing"
## Issue Description
Make final adjustments to prototype/wireframe for use in Veteran testing for the Vet Center initiative

---
## Tasks
- [ ] Iterate prototype/wire frame with final feedback before Veteran testing

## Acceptance Criteria
- [ ] Prototype/wireframe is available for testing

---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **

[2020-11-18 17:14] joanneesteban opened #16348 "Analytics KPI dashboard request for Covid Dashboard - Vaccine Registry"
# Request a KPI Dashboard

## What this form is for
Use this template to request a KPI dashboard on Domo for your product.

## Instructions for the VFS team
- [ ] For additional info, read through the [How to Request a KPI Dashboard Documentation](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/analytics/kpi-dashboard-request.md)
- [ ] Your KPIs are clearly linke

[2020-11-18 17:16] bessgreen opened #16349 "Refactor button list"
## Dev task
1. Refactor button list to take in translated text

[2020-11-18 17:17] jhouse-solvd opened #16350 "Review Instances / Ephemeral Dev Instances - Tracking current issues and determining best path forward"
## Current Issues:
- [x] [Unable to reach Review Instances (RIs) due to developer SSH keys not being correctly copied to instances #15634](https://app.zenhub.com/workspace/o/department-of-veterans-affairs/va.gov-team/issues/15634)
- [x] ["502 Bad Gateway " error ue to inability to pull drupal cache #16637](https://app.zenhub.com/workspace/o/department-of-veterans-affairs/va.gov-team/issues/16637)

[2020-11-18 17:17] annaswims commented on #11353
SSOe might be able to help us get the correct id - https://dsva.slack.com/archives/CSFV4QTKN/p1605652868162100?thread_ts=1605646754.160800&cid=CSFV4QTKN

[2020-11-18 17:18] RLHecht commented on #16110
@ricetj What date are you wanting this to go live? Whatever date that is, we just need to make sure the page is published in Drupal before 2 p.m. to make the deployment.

[2020-11-18 17:20] #14480 closed

[2020-11-18 17:20] joanneesteban commented on #14146
@alexpappasoddball any updates with this? We're looking to close out this ticket (I'm assuming the work will be continued with Datadog).

[2020-11-18 17:20] peggygannon commented on #15518
Hi, @Samara-Strauss I had open question for @sporeboy about the recent copy I posted above yesterday ^^

I was going to close this ticket after I see this last question/update is resolved.

[2020-11-18 17:24] Samara-Strauss commented on #15518
Got it! Thanks, @peggygannon!

[2020-11-18 17:25] joanneesteban commented on #15196
Thanks, all. @bsmartin-ep is going to work on this while @jonwehausen is OOO at the end of the week.

[2020-11-18 17:30] youngfreezyVA commented on #16192
looks good... I just approved the PR. @zacharymorel can you please rebase with master before merging it in, and verify one last time? I was unable to get the feature branch working/running until i merged in the latest w/ master.

[2020-11-18 17:32] ricetj commented on #16110
Hello @RLHecht we want to go live on Friday 20th.

[2020-11-18 17:33] lwalsh617 opened #16351 "Resources and Support: Build decision reviews "status label meanings table" in Drupal"
For R&S 1.1, we are including a decision reviews article like https://www.va.gov/resources/what-your-claim-status-means/. The attached Word doc has been reviewed by Beth Potts and Randi and is ready to build.

Preview page: preview-prod.vfs.va.gov/preview?nodeId=9626

##Acceptance Criteria##

- [x] Page built in Drupal
- [x] Node ID shared with SMEs[https://app.zenhub.com/files/133843125/f0075211-

[2020-11-18 17:34] lwalsh617 commented on #15957
The work on this ticket is complete. I created a new ticket (https://github.com/department-of-veterans-affairs/va.gov-team/issues/16351) to cover this page being built in Drupal and shared with SMEs.

[2020-11-18 17:34] #15957 closed

[2020-11-18 17:35] saneshark commented on #13602
Executive Summary / High Level Path Forward

The research and discovery related to this effort is linked or referenced in some of the documents available above.

## MVP

For the sake of the MVP we can continue to use the Facilities API pending some improvements that are already underway. Most of the challenges identified before are already captured as part of their work, including de-duplication a

[2020-11-18 17:38] esther-k commented on #15534
**11/18 Update:**

This bug is affecting the save button on the edit phone number pages

[2020-11-18 17:38] jenniferlee-dsva opened #16352 "Transformers for Form Landing Page Content Type"
## Transformers for Form Landing Page Content Type

Placeholder for transformer work - this may be need to be an epic or need just one ticket (because there's only one type of node for form landing pages).

@MarciMcGuireGCIO - @brianalloyd has been leading PW's participation with Platform for transformer, so I'd like him to keep the lead on this. However, the actual transformer build for the form

[2020-11-18 17:38] saneshark commented on #13602
@lalexanderson-dsva @batemapf tagging you here for awareness and feedback! Thanks

[2020-11-18 17:39] DanielleThierryUSDSVA opened #16353 "LOE to integrate Google Translate API in vagov.content repo"
## Issue Description
As we continue to explore the best way to offer translated content, we want to assess the LOE for integrating Google Translate API. **Note:** We also need to discuss and consider issues with content quality and ability to edit as well as questions around ability to use the API. This is an LOE ticket we can do in parallel with those discussions.

---
## Tasks
- [ ] understand h

[2020-11-18 17:41] kevinmirc commented on #16226
[*Nov 18, 2020 12:39 PM Eastern*] Paul Kuprionas:

[2020-11-18 17:47] jenniferlee-dsva commented on #14797
Do we need a separate ticket/epic also for building transformers for benefit hub content types as well? For example: hub landing pages, detail pages; and there are content components in the benefit hubs like number call-outs, div.feature blue boxes, and so on. I honestly don't know if these are unique content types that need their own transformer build, but just flagging it in case they do.

FYSA

[2020-11-18 17:48] jbritt1 commented on #16200
Thanks gents @Jeff-Hayter and @drorva! Temp credentials provided to Don at this time.

[2020-11-18 17:48] ala-yna opened #16354 "Access for Alayna Abel"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Do not remove `operations` label; this will notify the VSP Operations team of your request
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Pleas

[2020-11-18 17:51] luke-gcio commented on #16008
Closing - we came to a decision to filter on date only for now.

[2020-11-18 17:51] #16008 closed

[2020-11-18 17:52] mshea0606 commented on #7814
I'll set up a meeting with the identity team regarding this issue

[2020-11-18 17:52] lwalsh617 commented on #13906
@Beth Potts and @RLHecht -- I'm not sure which of you should be reviewing this first. Beth, you have me some preliminary feedback in Slack and I made changes. Copy deck attached here. Thanks
[rs-family-member-copy-v2-111820.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/5561793/rs-family-member-copy-v2-111820.docx)

[2020-11-18 17:53] lunascoop opened #16355 "Create 2021 Disability rates pages in Drupal"
## Issue Description
_What details are necessary for understanding the specific work or request tracked by this issue?_

---
## Tasks
- [ ] _Clone current page and update content_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to an Epic**

[2020-11-18 17:54] gmaciolek commented on #16251
@jchasia-adhoc Hi James, Amy is going to work on this and will have it reviewed and ready by mid-day Friday.

[2020-11-18 17:55] luke-gcio commented on #14739
Lots of info came back on this:

The following is our final update on the analytics from the send on the 5th

On 11/5/2020, VA sent #VetResources Newsletter:  Action may be needed on your online VA Disability Claim to 2,507 recipients opened by 2,600 (total) 1,177 (uniques) and drove 182 clicks to embedded links. Additional analytics: open ratio 47%, bounce ratio 1% and unsubscribed as 0.
Top link

[2020-11-18 17:58] andaleliz commented on #11490
@jenniferlee-dsva, are you good w/ showing 3 instead of 5 items? If so, I will go ahead and make the remaining screens before closing this out:
- audience accordion open
- state after `load more` button is clicked first time, w/ guidance on focus

[2020-11-18 17:59] jason-gcio opened #16356 "Add Mobile Orientation Screens to CH31 Mockups"
`hold off on prototypes as we work with mockups`

## Goal
We need to get the first version of the orientation screens in place so that FE can start putting them in place in staging

## Considerations
- Check in with FE on feasibility
- Place mobile screens

## Tasks
- [x] Insert some screens into the mockup that will show the videos and content from the CH31 stakeholders in a mobile view along wit

[2020-11-18 17:59] luke-gcio commented on #16006
Approved by Lauren to have the messaging from above:

[2020-11-18 18:02] esther-k commented on #15441
**11/18**

PASS - on iOS and Android. Moving to design QA

[2020-11-18 18:05] dneel-bah opened #16357 "GIDS: Include Latitude/Longitude of institution in version generation."
As a developer, I need to include the latitude and longitude in version generation so that it can be used for any forthcoming mapping / near me functionality.

## Assumptions:
1. This story just covers latitude and longitude data from https://collegescorecard.ed.gov/data/documentation/ and IPEDS. Any other data we need will be covered in a follow-on story.
2. Latitude and Longitude data will be su

[2020-11-18 18:07] jonathanjnelson commented on #15161
Hi, @peggygannon

Based on stakeholder feedback, we are going to make a slight tweak to the content. Please let me know your thoughts and if you have any concerns:

We can’t process your application unless you add a Family Caregiver. Please go back and add either a Primary or Secondary Family Caregiver to your application.

[2020-11-18 18:08] kristenmcconnell commented on #16304
@peggygannon I just added the updated Need help? wording to this story as well.

[2020-11-18 18:10] jenniferlee-dsva commented on #11490
Let's keep to 5 topics on default.

It's not hard to scan, and 3 seems annoyingly skimpy. We're either forcing scanning or clicking 'load more' sooner, and I don't think scanning is that hard and comes naturally.

[2020-11-18 18:16] ncksllvn commented on #14797
I _think_ all of the benefit hub content models already have transformers built because they predated the transformers concept

[2020-11-18 18:20] zurbergram commented on #14413
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/education-careers/school-comparison-tool/redesign/research/schools-near-me/research.md

[2020-11-18 18:23] luke-gcio commented on #15310
Pausing this - Anna will wait until the existing fixes are made then revisit.

[2020-11-18 18:24] digitalken commented on #13994
Added to TestRail.

[2020-11-18 18:25] denisecoveyduc commented on #13494
11/18- Changed sizing to align with new estimates.

[2020-11-18 18:25] srsuddath commented on #14452
Our group has changed story point estimation values, hence change from a 2 to a 3. There is a minimal amount of work remaining on this ticket however

[2020-11-18 18:25] bethpottsVADEPO commented on #14282
@mnorthuis Is there anything to do with that list above where I couldn't find any mentions or links to REAP?

[2020-11-18 18:26] andaleliz opened #16358 "Content edits to IRIS research artifacts"
Complete edits as they come in from contact center teams on research artifacts.

[2020-11-18 18:27] 3obryandogs commented on #15657
Becca,
I left comments on the preview page. A few VA style changes, please.
Thanks!
Susan

From: Rebecca Walsh <notifications@github.com>
Sent: Wednesday, November 18, 2020 9:36 AM
To: department-of-veterans-affairs/va.gov-team <va.gov-team@noreply.github.com>
Cc: Susan O’Bryan <ObryanS@twd.com>; State change <state_change@noreply.github.com>
Subject: Re: [department-of-veterans-affairs/va.gov-tea

[2020-11-18 18:28] laurenernest opened #16359 "CC provider preference - missing address (short-term)"
## Issue Description
While research for the community care preferred provider changes are being conducted and synthesized, we are looking at a temporary solution to cover the use case when a veteran doesn't have a residence address on file.

Short-term - continue to use the current version of the page (form)

---

## Acceptance Criteria
- [ ] Update is behind VA Online Scheduling Provider Selectio

[2020-11-18 18:29] RLHecht commented on #16351
@lwalsh617 This page is now built in Drupal. I put the preview link above in this ticket.

[2020-11-18 18:29] luke-gcio commented on #12907
Likely to go to 20% sprint 35.

[2020-11-18 18:30] mnorthuis commented on #15721
Hi @amyknox, this is in our plan for this sprint, which ends next Tuesday.  I likely won't be able to focus on this until later this week and will coordinate with Peggy.  We would for sure be done by next Tuesday, Nov 24.  If there's something you need sooner than that, please let us know.

[2020-11-18 18:31] luke-gcio commented on #7802
Reread the acceptance criteria - we did the first two already and did all the other work, taking full credit for this tory.  Other story for remaining UAT sessions.

[2020-11-18 18:31] #7802 closed

[2020-11-18 18:31] jonathanjnelson commented on #15161
@LinnJS for awareness

[2020-11-18 18:31] luke-gcio commented on #6209
We can 100% do this in sprint 35.  @kevinstachura

[2020-11-18 18:32] erluti commented on #16115
@alexpappasoddball turn this into an epic and break out each environment into a task.  Hopefully each task will be short, but there are a lot of open questions for this to be considered one task.

[2020-11-18 18:35] #14752 closed

[2020-11-18 18:35] amyknox commented on #15721
@peggygannon - It looks like there have been updates to language around claims / benefits applications since many of the education forms were last updated.

Could you confirm these updates are compliant for the following forms: 22-1995, 22-0994, 22-1990, 22-1990E, 22-1990N, 22-5490, 22-5495

* Page subhead “Claim received” should this be “We’ve received your application.”

* Confirmation page, blu

[2020-11-18 18:36] erluti commented on #15715
Make sure github is the right place to link to.

[2020-11-18 18:36] MarciMcGuireGCIO commented on #16352
@jenniferlee-dsva is there a high-level overview of Transformers?  I've heard reference, but would like to understand timeline, scope

[2020-11-18 18:38] luke-gcio commented on #14026
We may have more UAT sessions.

[2020-11-18 18:39] #14026 closed

[2020-11-18 18:41] denisecoveyduc opened #16360 "Identify KPIs for search (onsite + offsite)"
## Description
Leverage data from analytics review to define KPIs for enhancing search and discovery features for both onsite -  on VA.gov and also offsite - using Google, Bing and others.

## Background/Context/Resources
Initial KPI focus areas can be seen in S+D Overview Deck.

## Tasks

- [x] Collect key data metrics that highlight how veterans are using search and looking for information both

[2020-11-18 18:42] andaleliz commented on #11490
Will do.  I'll add the link to the mock-up on the corresponding FE ticket

[2020-11-18 18:42] #11490 closed

[2020-11-18 18:43] andaleliz commented on #15649
Hey team! [Here are the mobile designs](https://preview.uxpin.com/716fd9c0d105393853b9655f4edd35f11dbca438#/pages/134261285/comment/sitemap?mode=i) and some documentation. Should be pretty straightforward, leveraging existing design system components.

Is what I've included sufficient for the `load more` behavior, or do you need further documentation and screens?

[2020-11-18 18:43] #12543 closed

[2020-11-18 18:44] luke-gcio commented on #11353
Based on the comment from Anna we should use the SSOe rollout (and write a new ticket for this that captures the updated direction).

[2020-11-18 18:46] erluti commented on #16325
@LindseySaari Let's make this separate tickets for the FE and BE.  We estimated the BE part of the work as a `2`.

[2020-11-18 18:47] denisecoveyduc commented on #14955
@johnhashva will add update on discussion with team and close. Search & Discovery team will not meet the validation deadline. A new ticket will be created to pick up Click Tracking API  and connecting to production API.

[2020-11-18 18:47] MarciMcGuireGCIO commented on #16352
I'm going to put a Blocked tag on this for now since Nick and Kelson are planning to work through this in PW sprint 35 and then onboard Zach and Fareez.

[2020-11-18 18:48] leahkeeler opened #16361 "Error messaging for validated fields - mapping"
Map validated fields in FSR with error states.

Acceptance:

1-Agree on validated fields w/design
2-work with FE for error states.

[Reference Guide](https://design.va.gov/content-style-guide/error-messages ) https://design.va.gov/content-style-guide/error-messages 

[2020-11-18 18:53] kathleencrawford opened #16362 "Set Document Type for 686 Supporting Evidence"
## Background
When uploading supporting evidence to VBMS, there is a "document type" field that should be set.  Some examples are marriage certificate, birth certificate, etc.

## Considerations
- FE: Do we know what type of document the user is uploading?
  - If not, what would it take to add this?
- If **no** doc type gets submitted, does it fail?
- Check with Mike Walker (in #evss-dev channel i

[2020-11-18 18:53] leahkeeler opened #16363 "Content for FSR From error messaging for validated fields"
Create content fo error state for validated fields  in FSR

Definition of done:

1. Review with Peggy
2.Provide content to FE

[2020-11-18 18:53] brianalloyd commented on #15618
@youngfreezyVA picking up this ticket for action.

[2020-11-18 18:57] leahkeeler commented on #16333
Review Debt Letters I2 for styling issues

Done: Provide FE with needed changes and do final review

[2020-11-18 19:00] bmcgrady-ep commented on #16166
@mshea0606 - Okay, I was able to replicate what you are asking for. I added you to the Domo page. Let me know if you have any questions!

[2020-11-18 19:03] kathleencrawford opened #16364 "Update Pension Eligibility Questions Default Values"
## Background
Pension eligibility questions were added to the 686, but some questions were only added for certain workflows.  When the eligibility answers are sent to BGS, they are converted from true/false values to Y/N.  Testing needs to be done to ensure that a default value is not being sent inadvertently for workflows where that question was not added.

## Considerations
- Questions are set t

[2020-11-18 19:05] 3obryandogs commented on #16152
C2P1 - Add a payroll deduction - the list is fairly short
C2P2 - Type of income - is this the additional income?
C3P1 - Type of real estate - I'm not clear on what this would include
C3P1 - Type of recreational vehicle - Can we change the wording? Recreational vehicle is a specific type of vehicle (RV)
C3P1 - Type of vehicle - the list is fairly short
C3P1 - Vehicle make - too long to include spec

[2020-11-18 19:05] LeKeve commented on #16110
@RLHecht I've updated the widget code on `master`. Could the demo environment be rebuilt? Thank you!

[2020-11-18 19:05] peggygannon commented on #15161
Hi, @jonathanjnelson this look fine. Thank you for following up!

[2020-11-18 19:07] andaleliz commented on #15649
We should get confirmation that [this is still the current desktop design](https://app.mural.co/t/departmentofveteransaffairs9999/m/departmentofveteransaffairs9999/1588167553516/2773c854e8ff3a725a5e3ee03272b78e8519f78b?wid=0-1591028076023) for devs to work from.  It may get confusing since it's on the board under the v1 designs, and we worked from another part of the board for v1.

@jenniferlee-ds

[2020-11-18 19:10] jason-gcio opened #16365 "Build Out Orientation Component and Update Wizard for CH31"
## Background
Now that we have a hypothesis for how to place the videos, we need to put them in place on the FE, beneath the wizard. The orientation content should be hidden until the wizard has been completed and a veteran is eligible for chapter 31 benefits.

## Considerations
- Based on the mockup (https://xd.adobe.com/view/aaf3f28b-b763-4c16-ba02-d1d47e20328e-ffa0/screen/93e3c3c8-b675-4148-a70

[2020-11-18 19:11] bessgreen opened #16366 "API to catch errors around fetch call"
Context: this task will support [Network Error](https://app.zenhub.com/workspaces/va-mobile-app-5f205eac3155a2000f422ecb/issues/department-of-veterans-affairs/va.gov-team/14351) states

## Dev task
1. Update the API to catch errors around the fetch call
2. The API wrapper in the app will need to be wrapped in a try catch
     - The system will need to track that state and display something appropr

[2020-11-18 19:13] theodur commented on #16074
The CMS export seems to have a different `field_date` value than the one pulled from the GraphQL build for the entity `node.d3542034-12c4-4337-89e4-5a29ef3cc1dd.json`. This is the only entity that has a discrepancy with `fieldDate`, which leads me to think this may be a bug in the CMS export.  @indytechcook do you know if this is a bug in the CMS export?

E.g.

GraphQL:
[code]

CMS Export:
[code]

[2020-11-18 19:15] denisecoveyduc opened #16367 "VA.gov Search Click Tracking API - Backend Development"
## Issue Description
Search.gov -- which powers VA.gov site search -- has completed development and soft launched API-based [click-tracking](https://search.gov/manual/clicks.html) to enable "closed loop" analytics.   They have asked VA.gov, along with other agencies, to test the capability.

The click tracking API endpoint lets you send in click events, which allows you to see click data on your A

[2020-11-18 19:16] #15233 closed

[2020-11-18 19:16] jenstrickland commented on #15867
Thanks, @rileyorr & @rebeccawalsh for the quick turnaround. I provided comments in the UXPin prototype. Please let me know if you want to hop on a call, if there are any questions I may answer async, or if y'all want to schedule a collab session with Ryan if the mobile layout suggests that design system default mobile styling changes should be recommended. I think the mobile view could be for an i

[2020-11-18 19:16] denisecoveyduc commented on #16367
Search.gov team conducted validation testing on click tracking - details discussed in #14955 @srsuddath there may be some details mentioned my Nick and others that are helpful to review during implementation.

[2020-11-18 19:16] digitalken commented on #15227
Added to TestRail.

[2020-11-18 19:21] jenniferlee-dsva commented on #15618
@rtwell - follow up to convo this morning: for images on mobile, iirc you said we would be using 'load more' (instead of pagination). would we use that 'load more' affordance on desktop, too?

correct anything i've misunderstood ^.

fysa @youngfreezyVA who is going to complete the Images article template.

[2020-11-18 19:26] RLHecht commented on #16110
@LeKeve The widget isn't showing as updated in the Drupal preview link. Is this because it needs to wait for the daily deploy?

[2020-11-18 19:28] Mottie commented on #16006
@peggygannon Here is a screenshot of what I've ended up with

![Screen Shot 2020-11-18 at 1 25 52 PM](https://user-images.githubusercontent.com/136959/99578129-f31a6980-29a1-11eb-9d20-92e08b07faa9.png)

[2020-11-18 19:30] zurbergram commented on #15717
@desireeturner See https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/education-careers/school-comparison-tool/redesign/research/walkability

[2020-11-18 19:33] jenniferlee-dsva commented on #15375
I just checked one of our live RS table pages and here is the screenshot - this is mobile simulated on Chrome. One thing I noticed here which is not part of the table responsiveness ticket however is that the dynamic back to top didn't appear, though the page does appear to be longer than 2000 px. (I could be wrong.)

![image.png](https://images.zenhubusercontent.com/5bb2975c143b4d2ee7a35ef6/2f993

[2020-11-18 19:33] jchasia-adhoc commented on #16251
@gmaciolek Thanks! Let us know if there are any questions.

[2020-11-18 19:36] micahchiang opened #16368 "[Chapter 31] - Add VRE to Pager Duty for downtime notification"
## Description
VR&E needs to be added as an external service to Pager Duty so we can take advantage of maintenance windows in `vets-website`.

## Considerations
- [List of external services in the devops repo](https://github.com/department-of-veterans-affairs/devops/blob/master/ansible/deployment/config/vets-api/prod-settings.local.yml.j2#L300)
- [List of external services in vets-website](https:/

[2020-11-18 19:36] rebeccawalsh commented on #15867
Thanks, @jenstrickland.

For the remove functionality during edit mode, are you imagining the white/blue-border buttons aligned right? (Just based on the pin point of your comment)
![image](https://user-images.githubusercontent.com/6361930/99578781-52c94280-29ab-11eb-82fc-38c96a665447.png)

As for mobile styling, we're leaning most toward stacking the content, since it's very possible this won't a

[2020-11-18 19:36] zurbergram commented on #15193
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/education-careers/school-comparison-tool/redesign/research/elasticsearch/comparison-tool

[2020-11-18 19:39] zurbergram commented on #14817
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/education-careers/school-comparison-tool/redesign/research/elasticsearch/vagov.md

[2020-11-18 19:42] jenstrickland commented on #15867
@rebeccawalsh That's what I suspect is right. Whatever it was that @rtwell  had in his card design that has the Save, Cancel, and Remove functionality.

[2020-11-18 19:43] johnhashva commented on #14955
@denisecoveyduc + @srsuddath an update from Search.gov.   They are willing to hold up production release until we have had an opportunity to test -- if we can get to it "right after" the Thanksgiving holiday.   Could you assess the LOE in the next week and get back her with a sense of our implementation timeline for validation testing?