[2020-10-20 14:56] peggygannon commented on #10713
Hi,@mottie, thank you.. Looks good.

[2020-10-20 14:58] ksantiagomorgan6 commented on #14852
PR: https://github.com/department-of-veterans-affairs/vets-website/pull/14643

[2020-10-20 15:01] 1Copenut opened #15050 "[COGNITION] 508-defect-3: Cancel appointment buttons SHOULD have an accessible label"
# [508-defect-3](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-3)

**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Point of Contact

**VFS Point of Contact:** _Trevor_

## User

[2020-10-20 15:05] mdewey commented on #14311
We are feeling good, the team feels like the ramp-up is as complete as it can be.

[2020-10-20 15:05] #14311 closed

[2020-10-20 15:08] hughes-dustin commented on #13439
PR: https://github.com/department-of-veterans-affairs/vets-api/pull/5124
branch: bah-13439

[2020-10-20 15:09] LindseySaari commented on #14734
Closing this in favor of a discussion in the #temp-integration-testing channel [conversation](https://dsva.slack.com/archives/G011B11C1L7/p1602782045066700)

TLDR... Ops wants to move the pact broker into our AWS infrastructure and off of heroku. With this change, CircleCI will no longer have access to the broker. The solution will also require moving the pact verification task out of circle and e

[2020-10-20 15:09] #14734 closed

[2020-10-20 15:15] MickinSahni commented on #14408
Question: what domain/urls can we share?
  - Check out what we did for Form Detail Pages: https://github.com/department-of-veterans-affairs/va.gov-team/issues/4552#issuecomment-685014359

Question: how useful are screenshots?
  - Can be used to connect GA data layer reqs to the real-life LC components. Check out this: https://github.com/department-of-veterans-affairs/va.gov-team/issues/4552#issuec

[2020-10-20 15:16] sporeboy commented on #14557
Revisions made... The weird gap is gone (oops!), and the explanatory text was removed. Should be set!

[2020-10-20 15:16] #14451 closed

[2020-10-20 15:19] digitalken commented on #14997
PASS 10/20/2020 - Navigation button sizes check out on testing tool but "Done" button is covered under the bug on "Back" button. I'll be adding a note to the "Back" button about the "Done" button.

[2020-10-20 15:19] Samara-Strauss commented on #14557
Looks great! I think we can close this out.

[2020-10-20 15:19] #14997 closed

[2020-10-20 15:21] jgacek opened #15051 "Changing how errors and error state works on forms"
### User story(ies)

_As a developer, I want to be able to control the error state of fields, so that newly rendered fields do not show up in an error state_

_Example: As a VFS developer, I need to be able to create a custom error message for the XYZ form, so that I can implement the unique error message content that has been approved via the VSP Collaboration Cycle._

### Additional details/note

[2020-10-20 15:27] peggygannon commented on #12653
Hi, @Mottie I don't see the content updates on staging yet, so I wanted to check in if you had any questions about my changes?

[2020-10-20 15:27] #14172 closed

[2020-10-20 15:28] #14473 closed

[2020-10-20 15:28] #14570 closed

[2020-10-20 15:31] jbalboni commented on #14099
I checked the parent sites call for these two sites (528 and 546). Buffalo looks fine, so users should have the option of choosing between Buffalo, Syracuse, Albany, and Bath.

Miami does not appear to be set up in CDW as an integrated site, so searching for 546 only returns the Miami VAMC.

[2020-10-20 15:33] amyknox commented on #14639
UX Review 2/2: This checks out for me, too.

[2020-10-20 15:36] peggygannon commented on #14552
HI, @kristenmcconnell Yes, we can close this out.

The only open question is about the New Help footer. I wanted to double check that the numbers/info in the footer are correct? We usually use 711 for the TTY number so want to circle back on that.

Need help footer

Is this the content correct in this footer? I'm not sure what local coordinator is referring to. also, we should be sure that we have

[2020-10-20 15:37] delli-gatti-michael commented on #13938
1 and 2 from the UX feedback are fixed in the PR above. 3-5 should be covered by a separate story

### 1
![Screen Shot 2020-10-20 at 9.26.16 AM.png](https://images.zenhubusercontent.com/5c07f000391a6f6357adc430/533898fb-3be1-4d79-8c70-ad1ce14d4816)

---

### 2
![Screen Shot 2020-10-20 at 9.27.01 AM.png](https://images.zenhubusercontent.com/5c07f000391a6f6357adc430/5468a8ed-c572-4f27-b398-6720773a0

[2020-10-20 15:40] 1Copenut opened #15052 "[COGNITION] 508-defect-3: Appointment tabs SHOULD have an accessible label"
# [508-defect-3](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-3)

**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Point of Contact

**VFS Point of Contact:** _Trevor_

## User

[2020-10-20 15:40] kristenmcconnell commented on #14552
@peggygannon I have a meeting with the team tomorrow and am bringing this topic up again. I will be sure that we will get it corrected (if need be).

[2020-10-20 15:40] lunascoop commented on #14981
I've updated the QA in Drupal, https://prod.cms.va.gov/node/8539. There's currently an issue previewing the page, https://dsva.slack.com/archives/CDHBKAL9W/p1603159435140900 but here's the copy for review:

### What if I'm having problems opening a PDF on VA.gov in my web browser?

First, try to download the PDF to your desktop and open it in Adobe Reader, the software you need to view and use PDF

[2020-10-20 15:41] DanielleThierryUSDSVA commented on #12848
Hi @tlei123. Confirming that this is okay as is. We've added community care recently. We're good to close this. Thank you!

FYSA @MickinSahni @brianalloyd

[2020-10-20 15:42] #12848 closed

[2020-10-20 15:46] andaleliz commented on #15005
FYSA to all - she prefers this checkpoint be complete before we submit anything. I've adjusted the research timeline accordingly.

[2020-10-20 15:49] sonntag-adam commented on #14639
https://dsvavsp.testrail.io/index.php?/runs/view/700&group_by=cases:section_id&group_order=asc

[2020-10-20 15:49] sonntag-adam commented on #14639
Closing story

[2020-10-20 15:49] #14639 closed

[2020-10-20 15:50] joanneesteban commented on #11477
Bar chart (100% bar chart of how many people received the confirmation message vs. error message)
@bmcgrady-ep

[2020-10-20 15:50] mmiddaugh commented on #14578
Coordinate with Public websites on events

[2020-10-20 15:53] #14552 closed

[2020-10-20 15:53] peggygannon commented on #14552
@kristenmcconnell ok, thanks!

[2020-10-20 15:57] digitalken opened #15053 "Webview Nav buttons do not have descriptions for accessibility"
_NOTE: Fix will be covered in [a11y update story](https://app.zenhub.com/workspaces/va-mobile-app-5f205eac3155a2000f422ecb/issues/department-of-veterans-affairs/va.gov-team/17130)_

## What happened?
When navigating to navigation buttons with text to speech, the buttons do not have any other description than "button".  (The "done" button does announce "back".)

## Specs:
- Android Pixel 3XL
- Usin

[2020-10-20 15:58] #11680 closed

[2020-10-20 15:58] digitalken commented on #14164
Linked issue:

https://app.zenhub.com/workspaces/va-mobile-app-5f205eac3155a2000f422ecb/issues/department-of-veterans-affairs/va.gov-team/15053

[2020-10-20 15:58] #12276 closed

[2020-10-20 15:59] #12382 closed

[2020-10-20 16:02] delli-gatti-michael commented on #14852
Changes are showing in a local production build
![Screen Shot 2020-10-20 at 12.01.41 PM.png](https://images.zenhubusercontent.com/5c07f000391a6f6357adc430/96050882-5fb3-4966-a9b4-75bed9a7768c)

[2020-10-20 16:02] dneel-bah opened #15054 "CT: Update CSS of controls"
As a developer, I need to update the spacing/styling of some of the controls so that the page flows better.

## Assumptions:
1. We do not need a feature or prod flag for this work. Because of this, QA will work with UX to review changes before they're merged.
2. This issue does need to be reviewed by UX before it can be closed.

## Acceptance Criteria
1. The 'Exclude results with warnings or closi

[2020-10-20 16:03] dneel-bah commented on #13938
3&4 are covered in story: #15054.
5 will be left alone until that functionality has gone through another round of usability testing.

[2020-10-20 16:13] jason-gcio opened #15055 "Staging Review Personalized Career Planning and Growth (CH36)"
`Note: Since this feature is due to come online on January 4, we are pushing the meeting date for this meeting back a little bit`

## Steps to complete Staging Review:

- [x] Product Manager: create this issue and fill in feature name in the title and other bolded information appropriately
- [ ] Attach all artifacts before requesting the meeting
- [ ] Link to this issue once created in [#vfs-platf

[2020-10-20 16:16] johnhashva commented on #15005
@shiragoodman to clarify, I was asking if the regression test cases and test plan were necessary in order to move forward with usability testing.  Sounds like that is not the case -- so once the "checkpoint" meeting takes place we should be good to go.

[2020-10-20 16:17] digitalken commented on #14906
PASS 10/20/2020 - VA Header and Footer are hidden in app webviews.

[2020-10-20 16:17] #14906 closed

[2020-10-20 16:18] sanlouise commented on #14851
@mshea0606 There is nothing to validate on your end since these are tests.

[2020-10-20 16:19] bmcgrady-ep commented on #12620
@mshea0606 - Made the updates to the Profile 2.0 dashboard as requested. For the total interactions by page metric section, each one of the charts has the total interactions for each page. I can change that to only include updates for each page but wanted to get your input.

[2020-10-20 16:21] jhouse-solvd opened #15056 "Product Outline - CI/CD Solution"
## Issue Description
The VSP Operations team needs to deliver an updated product outline for new CI/CD pipelines ensure that we've properly captured the target personas, proposed benefits, and how we will measure the impact and success of delivering this product to customers and stakeholders of the Veteran Services Platform.

---
## Tasks
- [X] Use the [product outline template](https://github.com

[2020-10-20 16:22] annaswims commented on #13293
the problem exists in form526, but [we check if the body is empty](https://github.com/department-of-veterans-affairs/vets-api/blob/27e8132dfd1e125bcfe80661446229baa4743a8f/app/workers/evss/disability_compensation_form/submit_uploads.rb#L23) before sending to EVSS

[new sentry](http://sentry10.vfs.va.gov/organizations/vsp/issues/1701/events/?statsPeriod=14d)

[2020-10-20 16:24] bmcgrady-ep commented on #14968
@Samara-Strauss - I have updated **KPIs: Searches for direct deposit from the profile and Searches overall from the profile** and **KPI: Reduce time on profile by 10%**.
For the **KPI: Reduce % of users who visit /account before the profile**, the chart currently shows the total number of pageviews of the `/direct-deposit` page that came from the `/account` page. There have been no instances of th

[2020-10-20 16:32] annaswims commented on #10276
@luke-gcio I'm adding this to the next sprint.  Now that the endpoint is being called this is necessary for local development.

[2020-10-20 16:36] bridgethapner opened #15057 "One pager for Auth UX improvements"
# User Story
Write up a one-pager to build a case for making some improvements to our sign-in integration for app stores release, also lightly touch on other recommendations we have for auth improvement that we want to do but probably can't do by May

[2020-10-20 16:38] jhouse-solvd commented on #745
Defunct. Please see [THIS INITIATIVE](https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/13748) for current work related to improved monitoring (and alerting) solutions on the VSP.

[2020-10-20 16:38] #745 closed

[2020-10-20 16:39] peggygannon commented on #12689
@lenaecb Based on yesterday's sync, here's new message:

**You need to call your VA facility for a Podiatry appointment**
You’re not eligible to request a community care Podiatry appointment online at this time.
Please call your local VA medical center to schedule this appointment
[Find your VA health facility’s phone number](va.gov/find-locations/)

[2020-10-20 16:42] bessgreen opened #15058 "Edit Military Base address (UI)"
## User story

As a user, I want the ability to edit my Military Base addresses directly through the app.

## Acceptance Criteria

1. On the edit Address page, include an "I live on a United States military base outside of the United States" checkbox. When this checkbox is selected, AC #2, 3, & 4 below apply.
2. The City form field changes to an APO/FPO/DPO native dropdown. When this field is sele

[2020-10-20 16:44] bessgreen opened #15059 "Edit International address (UI)"
## User story

As a user, I want the ability to edit my International addresses directly through the app.

### Acceptance Criteria

1. When a user selects anything other than the United States from the Country picklist, update the following fields:
     - State: Update the hint text to “State” (it is not a required field when it’s an international address)
     - Zip code: Update this field so it

[2020-10-20 16:46] peggygannon commented on #14108
Hi, @outerpress This looks good. the only additional edit I suggest is to update the parenthentical content for Podiatry TO:

Podiatry (community care appointments only)
Treatment for feet and ankle injuries or disorders

[2020-10-20 16:48] barrycooper727 commented on #14398
I apologize I just received some edits to the pre-populated descriptions which i updated in the above comment and are also included below.

New:  This disability/symptom is related to my military service.
Secondary:   This disability/symptom was caused by another condition.
Aggravation (Worsened):  This pre-existing disability/symptom was worsened by military service.
1151 (VA):  This disability/s

[2020-10-20 16:48] bessgreen commented on #15059
![intl address from va.gov web app.png](https://images.zenhubusercontent.com/5f64e41291069a617acc1b47/ddd0dd29-1f4a-4d87-ae90-7b8e52cc64e6)

[2020-10-20 16:50] peggygannon commented on #14798
@narin Looks good. thx!

[2020-10-20 16:51] ricetj commented on #14984
O interesting. I will have to play around with this

[2020-10-20 16:53] #14626 closed

[2020-10-20 16:54] bmcgrady-ep commented on #13103
@amyknox - I am closing out this issue. Feel free to reopen this issue, if you get access to the API, thanks!

[2020-10-20 16:54] #13103 closed

[2020-10-20 16:54] cvalarida opened #15060 "Add SiP ID to Sentry call"
## Issue Description
https://github.com/department-of-veterans-affairs/vets-website/pull/14581 removed `formData` from Sentry calls to avoid leaking PII to that service. Instead, we need to add the `in_progress_form_id` [received from the SiP load call](https://github.com/department-of-veterans-affairs/vets-api/pull/4925/files#diff-1896db48aa7648bb1d7e8c90a8cc623139acfc46a8fdc69604185919af8b6229R3

[2020-10-20 16:58] Samara-Strauss commented on #14968
Great, thank you!

This makes a lot more sense. Thanks for clarifying!

[2020-10-20 16:58] ricetj commented on #14984
@bsmartin-ep any tips on how to find what I am looking for?

[2020-10-20 16:59] delli-gatti-michael commented on #13938
@department-of-veterans-affairs/uxbah the updates for 1 and 2 are now in staging

[2020-10-20 16:59] bkjohnson opened #15061 "Move formation-react to component-library"
### Description

The name `formation-react` isn't particularly informative, but this name is for a package that contains all of the components used by the forms library. This package currently lives in the [`veteran-facing-services-tools`](https://github.com/department-of-veterans-affairs/veteran-facing-services-tools) repo along with some other packages, and moving it to its own repo will help th

[2020-10-20 17:05] bmcgrady-ep commented on #13102
Hi @amyknox - does the dashboard look good? Let me know if we need to change anything, thanks!

[2020-10-20 17:07] bmcgrady-ep commented on #14118
@amyknox - closing out this issue as the annotations have been added.

[2020-10-20 17:07] #14118 closed

[2020-10-20 17:19] mmiddaugh opened #15062 "Design intent Collaboration Facilities [Map Enhancements: Phase 1]"
## Steps to complete Design Intent Collaboration
- [X] Product Manager or Designer: create this issue and fill in team name and feature name in the title and other bolded information appropriately
- [ ] Link to this issue once created in #design in Slack; tag @ Crystabel Reiter @ Emily
- [x] Crystabel and Emily to schedule meeting with VSP reviewers and **requesting team** attendees (as listed bel

[2020-10-20 17:21] digitalken opened #15063 "Contact VA page - Touchpoint size issues for phone number buttons"
## What happened?
Touchpoint sizes (minimum 44px by 44px) are not met by phone number links.  They are too short.
The Back button is covered in a previous bug.

## Specs:
- Android Pixel 3XL simulator
- Deque tool
- any user

## Steps to Reproduce
- Visit Contact VA page and run Deque testing tool.

## Desired behavior
Testing tool returns no errors for page.

## Acceptance Criteria
- All touch po

[2020-10-20 17:21] digitalken commented on #14015
Issue(s):
https://app.zenhub.com/workspaces/va-mobile-app-5f205eac3155a2000f422ecb/issues/department-of-veterans-affairs/va.gov-team/15063

[2020-10-20 17:21] kevinstachura commented on #14398
Hey @barrycooper727 ! Thanks for providing this feedback. I would love to chat about the radio button label changes - I'll see if we can get something set up before Friday.

I'm currently looking through my UAT notes to see if we observed any trends on confusion around radio button labels, but I'm not finding it just yet...I also reached out to our team members to understand if that was a particul

[2020-10-20 17:22] brianalloyd commented on #14408
@joanneesteban submitting the analytics request in support of Resources and Support (Learning Center) MVP 1.0, this is my first request since I came on board I was to see if it would be beneficial to do a 15 min sync to clear up any questions?  LMK, thanks.  CC @jenniferlee-dsva

[2020-10-20 17:22] sonntag-adam commented on #13635
@amyknox @JenLJ updates are in

[2020-10-20 17:22] cshupp1 opened #15064 "Access for [Cris Shupp]"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Add a comment @department-of-veterans-affairs/vsp-operations to ping the operations team
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please

[2020-10-20 17:23] gpbowman-git opened #15065 "Access for [Greg Bowman]"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Add a comment @department-of-veterans-affairs/vsp-operations to ping the operations team
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please

[2020-10-20 17:23] Mottie commented on #12653
@peggygannon The content is on staging. Here are the steps to follow:

1. Start from https://staging.va.gov/disability/file-disability-claim-form-21-526ez/introduction
2. In the wizard, choose "Yes" for active duty
3. Enter a date at least 90 days in the future, e.g. `Feb 1 2021` (works now)
4. Use the "File a Benefits Delivery at Discharge claim" button
5. The BDD intro page content will now show

[2020-10-20 17:24] sonntag-adam commented on #14850
Fix is in staging. Testing passes QA

[2020-10-20 17:24] #14850 closed

[2020-10-20 17:25] bessgreen commented on #15059
@bridgethapner a few questions about International addresses:

1. Is the “State” field (i.e. State/Province/Region) optional? It appears so based on the screenshot from the web app.
2. Will the user need to type in the State with the QWERTY keyboard? Or is there a list of possible fields that would be driven from the selected country, so the user could then choose the State from a native dropdown?

[2020-10-20 17:28] jonathanjnelson commented on #8418
This is currently on pause because 526 falls under the B&M1 team. Kevin Stachura is interested in looking at 526 as a whole and making improvements all at once.

[2020-10-20 17:28] delli-gatti-michael commented on #13859
Local testing complete

[2020-10-20 17:36] brianalloyd opened #15066 "PW Analytics implementation for Resource and Support (Learning Center)"
## Issue Description
Place holder to track any needed items from the Platform Analytics team.

I want to use them to implement analytics tracking for Learning Center Analytics.
so we can measure success of our product and make informed decisions.

---
## Tasks
- [x] Review DL requirements from Platform team - https://github.com/department-of-veterans-affairs/va.gov-team/issues/14408
- [x] Implemen

[2020-10-20 17:36] #14557 closed

[2020-10-20 17:36] #14561 closed

[2020-10-20 17:43] barrycooper727 commented on #14398
Hey @kevinstachura, I'm free to meet this week.  I noticed that both UAT participants had trouble figuring out what to write in the description box.  Both of the participants spent a long time looking in their STRs/medical records to find specifics on when the condition began in service and when they were treated.  That information is not necessary for BDD or BDD-Excluded claims.  It is more for V

[2020-10-20 17:44] esther-k opened #15067 "Veterans Crisis Line page - Contact buttons are too short (minimum 44px X 44px)"
## What Happened?
Using Deque and Axe to test on an Android emulator, the contact buttons are flagged as being too short and don't meet minimum a11y specs.

Axe returned violations on both phone number buttons, text number button, confidential chat button, and the back button (this one is already logged)

## Specs:
- Android Pixel 3 emulator
- Using Deque and Axe for testing
- Test user:  marcy.na

[2020-10-20 17:51] delli-gatti-michael commented on #13859
TestRail test run here:
https://dsvavsp.testrail.io/index.php?/tests/view/13378&group_by=cases:section_id&group_order=asc&group_id=51

[2020-10-20 17:56] caw310 opened #15068 "Decision: Where to Host Storybook"
## Background
Documentation from [Storybook](https://storybook.js.org) will replace the [current component library documentation](https://department-of-veterans-affairs.github.io/veteran-facing-services-tools/visual-design).

## Issue Description
Need to decide where to host our instance of Storybook. Options are:
- On the Gatsby site
- On a new site
- design.va.gov

---
## Tasks
- [ ] Talk to Kev

[2020-10-20 18:01] bethpottsVADEPO commented on #14877
eBenefits Q&As are too duplicative of DS Logon Q&As to use at this time. Post-launch we will figure out if there's enough helpful info for Veterans about eBenefits to warrant adding an article to R&S.

[2020-10-20 18:02] bridgethapner commented on #14540
Documented our auth decision making here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/va-mobile-app/ux-research/ux-design/mvp-auth-pov.md

[2020-10-20 18:06] dmccurdybah commented on #13850
PRs:

- https://github.com/department-of-veterans-affairs/vets-api/pull/5116
- https://github.com/department-of-veterans-affairs/vets-website/pull/14619

[2020-10-20 18:08] jonathanjnelson opened #15069 "[Design] Error alert - 10-10CG"
## Issue Description
_If the Veteran is not found in MPI for the 10-10CG, an error is triggered. The only corrective action the user can take is print out a completed PDF.

Originally, the error was designed on its own page (as the Review page can be quite busy: Signature boxes, accordions, etc). Further, the user can not edit their information and resubmit (the submit button disappears when the e

[2020-10-20 18:16] wyattwalter commented on #3661
Hey Jesse, I would be shocked if it were changed. The only way we'd know is if the revproxies are unreachable from the F5's (which would mean that the site was down) or if Gateway Operations tells us. This is a setting that they set and we should be the ones to tell them what to do. They'll want to proxy or redirect to an error page rather than try to host the error page. I'm not sure what the rig

[2020-10-20 18:17] jonathanjnelson commented on #14883
@jonwehausen Sorry for my delay! You can see a rough draft of the[ Project Outline](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/health-benefits/healthcare-application/product-outline.md). You can also see the [Project Kickoff](https://github.com/department-of-veterans-affairs/va.gov-team/issues/14528) document here. Alayna also made sure I have access

[2020-10-20 18:23] hughes-dustin commented on #14358
PR: https://github.com/department-of-veterans-affairs/vets-website/pull/14646
branch: bah-14358-b

[2020-10-20 18:24] meganhkelley opened #15070 "Access for Megan Kelley"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Add a comment @department-of-veterans-affairs/vsp-operations to ping the operations team
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please

[2020-10-20 18:24] jholton commented on #14921
**Salesforce consumer key update**

There are a couple of Salesforce integrations configured in `settings.yml`:
- `salesforce`
- `salesforce-gibft`
- `salesforce-carma`

I occasionally get requests via email to update the `consumer_key` for lower envs.
The email may include details such as the consumer key, consumer secret, or integration username.
Only the consumer key has ever needed to be updat

[2020-10-20 18:25] meganhkelley commented on #15070
@department-of-veterans-affairs/vsp-operations 👋

[2020-10-20 18:34] tskinn commented on #14480
Hey! I'm so sorry this got lost! In the fwdproxy we use that path as a health check endpoint. It kind of sounds like this is something we need to change in vets-api too right?

[2020-10-20 18:40] allison0034 commented on #15062
The design intent meeting has been scheduled for October 29 at 1:30 ET. Please add artifacts by Tuesday 1:30 ET.

[2020-10-20 18:43] amyknox commented on #13102
@bmcgrady-ep the dashboard looks great. I'll confirm with stakeholders on Thursday that all is a-ok, then we can close this. Thank you for all your help with this effort.

[2020-10-20 18:47] #9445 closed

[2020-10-20 18:48] jholton commented on #9445
Should be resolved by linked PRs

[2020-10-20 18:53] jsev-io commented on #15064
@department-of-veterans-affairs/vsp-operations

[2020-10-20 18:53] jsev-io commented on #15065
@department-of-veterans-affairs/vsp-operations

[2020-10-20 18:58] brianalloyd commented on #14047
Thanks @kelsonic I'm going to update with next sprint milestone, would need this completed prior to OCT 23 in order to remain on pace for internal staging review.  Thanks.

[2020-10-20 19:01] ericbuckley opened #15071 "production access for Eric Buckley"
# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please Provide your email.

- Please provide the name of your team, your role on that team, and the name of the company you work for.

- Requesting SSH key authorization?

- Grant AWS Console access?

- What AWS services do you need access to and why?

[2020-10-20 19:05] johnhashva commented on #15043
Adding PDF document showing the error which is being reported.
[Uploading 530 Vets.gov.pdf…]()

[2020-10-20 19:09] caw310 opened #15072 "Create standardized approach for printer-friendly confirmation page"
### User story(ies)

_As a VFS developer, I need to be able to find the standard approach for implementing a printer-friendly confirmation page, so that I can implement a consistent experience.

_Example: As a VFS developer, I need to be able to create a custom error message for the XYZ form, so that I can implement the unique error message content that has been approved via the VSP Collaboration

[2020-10-20 19:10] johnhashva commented on #15043
[530 Vets.gov.pdf](https://github.com/department-of-veterans-affairs/va.gov-team/files/5411003/530.Vets.gov.pdf)

[2020-10-20 19:12] kelsonic commented on #14047
This very likely won't be completed before Oct 23 due to our prioritization of Cerner work, which is also launching on Oct 23.

[2020-10-20 19:13] DanielleThierryUSDSVA commented on #12937
@tlei123 Looks like this should be closed, so I'm closing now. Thanks!

[2020-10-20 19:14] #12937 closed

[2020-10-20 19:16] RLHecht commented on #14980
The work has been completed in this ticket. Reworking the question about PDFs is captured in #14981 and the related info/buttons will be worked on in #14979. FYSA @bethpottsVADEPO @brianalloyd

[2020-10-20 19:16] #14980 closed

[2020-10-20 19:19] #15001 closed

[2020-10-20 19:21] jonwehausen commented on #13846
### Data Layer Specification
Per discussion with @bradl3yC , here are the items we will track (_some of these items have limited availability of context towards errors and/or downloads_)

@leahkeeler Would you like to take a look and let us know if there is anything else that would be of interest to you?

Description of Interaction | Data Layer Specification
------------ | -------------
Downloads

[2020-10-20 19:23] leahkeeler commented on #13846
Looks great to me = Thank-you @jonwehausen @bradl3yC :)

[2020-10-20 19:27] shiragoodman commented on #616
@emilywaggoner @andreahewitt-odd  - this is listed as In Progress. Is it still? It's showing up on my teams board and I don't think anyone is currently working on this. Should we move to backlog or close out?

[2020-10-20 19:27] #8158 closed

[2020-10-20 19:28] YanaRoy opened #15073 "Add Megan Gayle to DSVA Slack as Full Member"
Hello! We have a new hire starting on the VSA program on 10/19. Can you please add her as a full member to the DSVA Slack. Thanks!
Email: mgayle@governmentcio.com

[2020-10-20 19:31] erikphansen commented on #13832
So now that a PR for this work is up, @sanlouise had a great question which is essentially: should we be showing the `Another  VA health facility` text and its button when a user is only shown as being a patient at a Cerner facility? Or, put another way, why are we inviting them to manage appointments, messages, and/or prescriptions at non-Cerner facilities if they are only a Cerner patient?

[2020-10-20 19:35] esther-k commented on #14016
Issue(s):
https://app.zenhub.com/workspaces/va-mobile-app-5f205eac3155a2000f422ecb/issues/department-of-veterans-affairs/va.gov-team/15067

Via Ken Harrison:

"10/20 @ 12:12 PM: Noticed that phone icons aren't the right color compared to designs. Checked with Ken Li and he says they are in flux right now and to come back to it. Designs show blue phone icons should be "primary" which is #0071bc. Th

[2020-10-20 19:38] #14259 closed

[2020-10-20 19:42] #14801 closed

[2020-10-20 19:43] narin commented on #14801
Verified toggle is functioning on staging.  H3 for current location should be up when https://github.com/department-of-veterans-affairs/vets-website/pull/14635 gets deployed.  Closing out

[2020-10-20 19:46] bessgreen opened #15074 "Common component: Styling for toggle switch"
## User story
As a user, I want a toggle switch throughout the app so I can easily turn certain features on or off.

## Acceptance Criteria

1. Create toggle button with UI/UX styling
     - OFF state (light grey background, white circle on the left)
     - ON state (blue background, white circle on the right)
2. Maintain consistent styling across iOS & Android
3. Update the ReadMe with details fo

[2020-10-20 19:48] jenniferlee-dsva opened #15075 "Missing page H1 in breadcrumb"
## What happened?
_Describe in detail what went wrong; screenshots, videos, or gifs are strongly encouraged_

On this page https://www.va.gov/coronavirus-research/  the breadcrumb is missing the page title

Screenshot:
![image](https://user-images.githubusercontent.com/43381063/96636426-4938b600-12eb-11eb-992d-3aae57e64c37.png)

## Desired behavior
_Describe in detail what was supposed to happen;

[2020-10-20 19:50] ncksllvn commented on #14955
So to implement this, we will have to edit our on-site Search app to send an API request to search.gov's newly built endpoint whenever a search result is clicked.

Per the docs -

We should verify that the docs are correct in stating the `access_key` is a required parameter, because I think that needs to be kept secret, so it would save us a decent amount of work if it weren't a required param.

[2020-10-20 19:55] jenniferlee-dsva commented on #10758
Adding @johnhashva - as his new search products team may use some or all of these post-launch tasks as onboarding activities. John, wrt any items needing content review, please work directly with me. I've been trying to not overburden the content team and just send very close to final things for a final, easy check with them. There are also numerous backend things that drive a lot of the FE, inclu

[2020-10-20 19:57] jenniferlee-dsva commented on #14119
Done.

[2020-10-20 19:57] #14119 closed

[2020-10-20 20:15] #15064 closed

[2020-10-20 20:19] #12056 closed

[2020-10-20 20:24] Samara-Strauss commented on #13919
Closing. We've done a lot of exploration of this section, so I am considering this ticket done. [Here's where the design stands as of now](https://cassandraallen738782.invisionapp.com/console/HP-desktop-logged-in-ckf3qguc91olj019242g490ji/ckgb2sajy019u01as9gd12s97/play#project_console). We'll open new tickets as needed for any updates or copy work.

[2020-10-20 20:24] #13919 closed

[2020-10-20 20:24] Samara-Strauss commented on #13920
Closing. We've done a lot of exploration of this section, so I am considering this ticket done. [Here's where the design stands as of now](https://cassandraallen738782.invisionapp.com/console/HP-desktop-logged-in-ckf3qguc91olj019242g490ji/ckgb2sajy019u01as9gd12s97/play#project_console). We'll open new tickets as needed for any updates or copy work.

[2020-10-20 20:24] #13920 closed

[2020-10-20 20:24] Samara-Strauss commented on #13921
Closing. We've done a lot of exploration of this section, so I am considering this ticket done. [Here's where the design stands as of now](https://cassandraallen738782.invisionapp.com/console/HP-desktop-logged-in-ckf3qguc91olj019242g490ji/ckgb2sajy019u01as9gd12s97/play#project_console). We'll open new tickets as needed for any updates or copy work.

[2020-10-20 20:24] #13921 closed

[2020-10-20 20:25] Samara-Strauss commented on #13922
Closing. We've done a lot of exploration of this section, so I am considering this ticket done. [Here's where the design stands as of now](https://cassandraallen738782.invisionapp.com/console/HP-desktop-logged-in-ckf3qguc91olj019242g490ji/ckgb2sajy019u01as9gd12s97/play#project_console). We'll open new tickets as needed for any updates or copy work.

[2020-10-20 20:25] #13922 closed

[2020-10-20 20:25] Samara-Strauss commented on #13923
Closing. We've done a lot of exploration of this section, so I am considering this ticket done. [Here's where the design stands as of now](https://cassandraallen738782.invisionapp.com/console/HP-desktop-logged-in-ckf3qguc91olj019242g490ji/ckgb2sajy019u01as9gd12s97/play#project_console). We'll open new tickets as needed for any updates or copy work.

[2020-10-20 20:25] #13923 closed

[2020-10-20 20:25] Samara-Strauss commented on #13923
Closing. We've done a lot of exploration of this section, so I am considering this ticket done. [Here's where the design stands as of now](https://cassandraallen738782.invisionapp.com/console/HP-desktop-logged-in-ckf3qguc91olj019242g490ji/ckgb2sajy019u01as9gd12s97/play#project_console). We'll open new tickets as needed for any updates or copy work.

[2020-10-20 20:34] mmiddaugh commented on #14392
Was created as initial issue for new team member. No longer needed

[2020-10-20 20:34] #14392 closed

[2020-10-20 20:34] anitadewitt-va opened #15076 "Form Review Page error has trailing period when user is not logged in and 503 is thrown"
## What happened?
If a user is not logged into va.gov and submits a form and there is a 503 Service Unavailable response, then the error message contains "Please make sure you’re connected to the Internet, and then try saving your application again. ." with a trailing period.

<img width="657" alt="Screen Shot 2020-10-20 at 3 21 39 PM" src="https://user-images.githubusercontent.com/8662795/9664001

[2020-10-20 20:36] johnhashva commented on #14955
@ncksllvn thanks for looking into this.  Do you have 15m to talk through this at some point this week? If yes, I'll find us that time via your calendar.

[2020-10-20 20:36] kevinmirc commented on #12784
We can remove this flipper completely (to avoid the issues in the description) and implement betamocks for CARMA for testing locally: https://github.com/department-of-veterans-affairs/va.gov-team/issues/9631.

[2020-10-20 20:36] Samara-Strauss commented on #13832
I don't have a good reason for this, only a bad one — we copied the pattern for unauthenticated content pages, on which I don't think they're checking to see if someone is part of one facility or another. I think this is a really good point, and we can figure out how to take a more precise approach with the My VA 2.0 work.

[2020-10-20 20:37] Samara-Strauss commented on #14757
I'm going to close this. Since "File a claim for compensation" would be a link/button in the context of other information, this doesn't need its own ticket.

[2020-10-20 20:37] #14757 closed

[2020-10-20 20:38] Samara-Strauss commented on #14756
I'm going to close this. Since "File a claim for increase" would be a link/button in the context of other information, this doesn't need its own ticket.

[2020-10-20 20:38] #14756 closed

[2020-10-20 20:40] Samara-Strauss commented on #14755
I'm going to close this. We won't have a link to upload evidence on its own — this would be a status that is part of a claim update, and we would link off to the claim.

[2020-10-20 20:40] #14755 closed

[2020-10-20 20:42] Samara-Strauss commented on #11880
Does this still need to be open?

[2020-10-20 20:45] anitadewitt-va opened #15077 "'Submit again'"
## What happened?
The styling for the 'Submit again' link and 'Go Back to VA.gov' are not aligned vertically. This is trigged when a user tries to submit the form, but gets a 503 Service Unavailable.

<img width="618" alt="Screen Shot 2020-10-20 at 3 36 58 PM" src="https://user-images.githubusercontent.com/8662795/96641708-c152ac00-12ea-11eb-9a6a-5384c5bd2cbc.png">

## Specs:
- Device: Macbook
- B

[2020-10-20 20:51] jhonnyoddball commented on #13169
fixed with PR [14642](https://github.com/department-of-veterans-affairs/vets-website/pull/14642)

[2020-10-20 20:51] #13169 closed

[2020-10-20 20:51] jhonnyoddball commented on #13168
fixed with PR [14642](https://github.com/department-of-veterans-affairs/vets-website/pull/14642)

[2020-10-20 20:51] #13168 closed

[2020-10-20 20:54] erikphansen commented on #13832
I _wonder_ if it's possible for:
(a) the facility data we get might not be correct 100% of the time so the might also be a patient at a non-Cerner facility
(b) there to be a valid reason for someone to make an appointment at a non-Cerner facility even if they are not currently a patient there

🤷

[2020-10-20 20:55] annaswims commented on #13293
new message http://sentry10.vfs.va.gov/organizations/vsp/issues/2757/

[2020-10-20 20:56] erikphansen commented on #13832
Assuming we trust the list of facilities that we get for each user, we absolutely could be more granular about what we show users: Cerner content only, non-Cerner content only, or both Cerner and non-Cerner content, in case you did want to change things up in the future.

[2020-10-20 21:02] peggygannon commented on #14609
Hi, @danielle, a question about this. For the tools/app, this number mainly appears in the application's *Need help* footer and in (maybe) some error states
 1. I want to confirm if we'd use "VA411" as part of this update, or just the 800-698-2411 ?
2. TTY is not change and is still 711?
3. Is there any standard language that the static pages will use around this change. (for example, do pages ref

[2020-10-20 21:09] jason-gcio opened #15078 "[Design] Content Review for EDU Direct Deposit"
## Background
Now that the initial designs are completed for EDU Direct Deposit, we need to get some eyes on the copy to ensure it meets the standard before usability testing is conducted.

## Tasks
- Request a review from Peggy for the newly created designs for EDU Direct Deposit

## Acceptance Criteria
- [x] A copy review has been requested for feedback

[2020-10-20 21:10] Samara-Strauss commented on #13832
Yeah, not sure about this. I think we can leave things as-is for now.

[2020-10-20 21:11] amyknox commented on #14676
@JenLJ - could you start up this task Wednesday morning?

[2020-10-20 21:11] 1Copenut opened #15079 "[COGNITION] 508-defect-3: Character counts MUST announce properly in IE11 + JAWS"
# [508-defect-3](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-3)

**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Point of Contact

**VFS Point of Contact:** _Trevor_

## User

[2020-10-20 21:11] shiragoodman opened #15080 "Assess relationship between VFS project dimensions and collaboration cycle points"
## Issue Description
The relationship between the VFS project/team dimensions and the various collaboration points is unclear. Product Support team needs to develop a clearer understanding before beginning work to create customized project tracks for the collaboration cycle.

## Tasks
- [x] Meet with Naomi to get a better understanding of how the VFS project segmentation research was performed.
-

[2020-10-20 21:15] jason-gcio opened #15081 "Create Final Content Punchlist for CH31 and CH36 Wizards/ and Forms"
### Background
The wizards and forms for CH31 and CH 36 were reviewed by participants during usability testing. Clear trends regarding confusing language indicates that changes to text and formatting are needed.

### Considerations
New direction from business stakeholders may necessitate further review and changes to content.

### Tasks
- [x] Consider Peggy's feedback from usability prep review
-

[2020-10-20 21:16] jenstrickland commented on #11880
We usually leave the epic open until all issues are remediated. However, the responsibility for the remaining issue is not on your team, so I say close it. Thanks for the nudge!

[2020-10-20 21:16] #11880 closed

[2020-10-20 21:16] 1Copenut opened #15082 "[DESIGN]: Should the primary action be on the left in modals with two action buttons?"
## Issue Description
While auditing the Express Care feature, I noticed the cancel appointment modal has two actions. The primary "cancel" action is on the left and the secondary "close modal" action is on the right. Is this a typical design layout? I don't know but my initial impression was that these should be reversed. Adding VSP design for a judgment call. Screenshot attached below.

---
## Ta

[2020-10-20 21:22] amyknox commented on #13635
Looks great - very exciting!

[2020-10-20 21:23] 1Copenut opened #15083 "[DESIGN]: Mobile breadcrumb looks indented a bit too much on the form views"
## Issue Description
While auditing the Express Care feature, I noticed the mobile breadcrumb was a bit too far indented on some screens. Adding VSP design for a judgment call. Screenshot attached below.

---
## Tasks
- [ ] Confirm the design is correct, or offer guidance on updates needed

## Acceptance Criteria
- [ ] Design will be updated **or** ticket closed with no work needed

---
![Screen S

[2020-10-20 21:31] #15070 closed

[2020-10-20 21:31] 1Copenut opened #15084 "[DESIGN]: Should the Express Care radio button labels be bold, or regular weight like requesting an in-person appointment?"
## Issue Description
While auditing the Express Care feature, I noticed the radio button labels for Express Care were bold, where our labels are typically regular weight. The screenshot below is not exactly Express Care. The window for today closed while I was creating this ticket, so I approximated by making another group of radio button labels bold for illustration only. Adding VSP design for a

[2020-10-20 21:33] jason-gcio opened #15085 "Lightweight Orientation for CH31 (Videos)"
## Story
As a Veteran, or transitioning Servicemember, I want to understand the five VR&E tracks in greater detail before I apply so I can decide whether I want to continue through the application process.

## Background
This feature addresses a critical business need in helping applicants understand VR&E tracks so they can really decide if the program is right for them. A nontrivial number of Vet

[2020-10-20 21:34] 1Copenut opened #15086 "[MOBILE]: Should buttons be full-width at mobile size for creating an Express Care appointment?"
## Issue Description
While auditing the Express Care feature, I noticed some of the buttons were not full width at mobile size. Not sure this is how they should be positioned, or if buttons are meant to be full width at mobile size. Screenshots added for illustration below. Adding VSP design for a judgment call.

---
## Tasks
- [ ] Confirm the design is correct, or offer guidance on updates needed

[2020-10-20 21:38] bmcgrady-ep commented on #14968
@Samara-Strauss - Happy to help! I'm closing this issue, but if you need anything else feel free to reopen.

[2020-10-20 21:38] #14968 closed

[2020-10-20 21:38] brianalloyd commented on #14415
Release plan is complete, closing out this ticket. Final plan is [Here](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/content/tier-2-content-IA-and-design/learning-center-mvp/collab-cycle-docs/release-plan-1-0-beta.md)

[2020-10-20 21:38] #14415 closed

[2020-10-20 21:42] jason-gcio opened #15087 "Review Orientation Shared by Stakeholders"
## Background
VRE stakeholders have shared a link to a first version of some content and videos they would like to see the Veteran be presented with before starting the application form for more benefits.

## Tasks
- [x] Fully understand what may be required to present these pages in to the existing CH31 feature (embedding videos doesn't seem to have a precedent)
- [x] Discuss as a Team what may b

[2020-10-20 21:42] bethpottsVADEPO opened #15088 "Updates to tier 1 pages and profile to account for content that has moved to R&S"
## Issue Description
We're moving some tier 1 content over to resources and support. As a result, the sign-in FAQ will retire and content on 3 other pages will need editing and rewriting. We'll also need a redirect in place for the retiring page. And some content and links in profile need to change.

---
## Tasks
- [x] **TASK 1.** Changes to this page: https://www.va.gov/change-address/
- Change H

[2020-10-20 21:44] esther-k opened #15089 "Update a11y for Contact VA page"
## Dev task:
1. Update the a11y for ticket #14015 (criteria below)
2. Related bug to complete in-tandem: [#16125](https://app.zenhub.com/workspaces/va-mobile-app-5f205eac3155a2000f422ecb/issues/department-of-veterans-affairs/va.gov-team/16125)
## Designs:
https://adhoc.invisionapp.com/share/YUYRT9BAPSB#/screens/432493860

## Accessibility Acceptance Criteria
1. Everything on the page should be rea

[2020-10-20 21:46] jonathanjnelson commented on #12794
The Caregiver program team would like the user to make a selection on the signature page

**Current design**

![Screen Shot 2020-10-20 at 4 38 30 PM](https://user-images.githubusercontent.com/58444931/96647504-64a7bf00-12f3-11eb-8cfe-ec0a1fd6d0d4.png)

**Redesign**

![Screen Shot 2020-10-20 at 4 38 12 PM](https://user-images.githubusercontent.com/58444931/96647644-aafd1e00-12f3-11eb-8135-594738cb5

[2020-10-20 21:48] outerpress commented on #14108
Sounds great @peggygannon, I updated the mock and dropped it into the story description.

[2020-10-20 21:56] mmiddaugh opened #15090 "Deprecate feature flag for single request"
## Issue Description
The feature flag controlling the single query request for PPMS is no longer needed and can be cleaned up

---
## Tasks
- [ ] Remove code for feature flag

## Acceptance Criteria
- [ ] Single query for PPMS request can no longer be toggled
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to an Epic** (what body

[2020-10-20 21:56] kathleencrawford commented on #14973
PR submitted here: https://github.com/department-of-veterans-affairs/vets-api/pull/5127

[2020-10-20 21:57] mmiddaugh opened #15091 "Remove v0 VA controller"
## Issue description
Now that Facilities team has completely moved to v1, we need to deprecate v0

Tasks
- Remove related tables, sidekick jobs and flags related to V0 VA controller

Acceptance criteria
- [ ] associated V1 VA controller jobs no longer are in the path
- [ ] v1 functionality is maintained

---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be comple

[2020-10-20 21:59] peggygannon commented on #14531
Hi, @kevinstachura My content feedback for the HLR wizard is tracked here:

https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/13398

[2020-10-20 22:00] meganhkelley commented on #14609
Hello from VSP FE Tools! Rian did a quick search and it looks like most of these changes should be handled by Public Websites or triaged to other VFS teams. Based on the files [in his screenshot](https://dsva.slack.com/archives/CQH357ZTP/p1603228733230800?thread_ts=1603228549.230400&cid=CQH357ZTP), I can tell you that y'all should coordinate with ... (I'm referencing the [codeowners file](https://

[2020-10-20 22:02] annaswims commented on #13293
I think we're no longer sending files with no body to EVSS (though some of the older jobs are retrying). I've made a PR to normalize the file retry to 1day https://github.com/department-of-veterans-affairs/vets-api/pull/5128

Now, we're telling people immediately when they've uploaded a file that appears to have no body.  It appears to be more of a mobile safari problem.... So maybe there's some d

[2020-10-20 22:06] peggygannon commented on #13889
Updated wizard flow and alert for Higher Level Review

[https://app.zenhub.com/files/133843125/bf056775-9c3d-4759-8c04-f05f49c1f68d/download](https://app.zenhub.com/files/133843125/bf056775-9c3d-4759-8c04-f05f49c1f68d/download)

[2020-10-20 22:20] #13780 closed

[2020-10-20 22:21] mmiddaugh commented on #13780
![vet center research participant breakdown](https://user-images.githubusercontent.com/55411834/96650544-47bdbc80-12f0-11eb-88f5-82d71af6e246.png)

[2020-10-20 22:22] narin commented on #14798
Verified on staging.  Closing out.

[2020-10-20 22:22] #14798 closed

[2020-10-20 22:38] mpelzsherman opened #15092 "Support for multiple Appointment phone numbers in VAMC service locations"
Some VAMC service locations have multiple appointment phone numbers, each with their own label.

We currently only display one, with no label.

See e.g. https://prod.cms.va.gov/pittsburgh-health-care/locations/pittsburgh-va-medical-center-university-drive/women-veteran-care.

![Women_Veteran_care_-_Pittsburgh_VA_Medical_Center-University_Drive___Veterans_Affairs.png](https://images.zenhubuserconte

[2020-10-20 22:50] kathleencrawford commented on #14556
Email correspondence with the EVSS team confirmed that all attachments associated with a 686 form are sent to the VBMS eFolder.

Considerations:
- Currently, EVSS converts the document to a PDF.  Does `vets-api` need to do this or can the doc stay in its original format?
- The document then gets stamped and renamed.  Need to research naming convention.
- How does the manual reviewer know which doc

[2020-10-20 22:58] peggygannon commented on #12653
Thanks, @mottie. I've followed the steps above and still don't see the following content recommendations in staging (screenshots below of what I see)

- I recommend we update the H1 TO: **File a Benefits Delivery at Discharge claim**

- I recommend tweaking this message to be more clear and succinct:
TO:
Please be aware that you’ll need to be available for 45 days after you file a BDD claim to com

[2020-10-20 22:58] digitalken commented on #14384
Testing:

1. Verify Covid-19 screening tool button opens web view of https://www.va.gov/covid19screen/
2. Designs don't show expected navigation but probably look for "Done", "Reload" buttons on top of web view and left, right, open in browser buttons on bottom of screen.
3. Verify above buttons work as expected.
4. Verify web view buttons are read by screen reader.
5. Verify user can tab their wa

[2020-10-20 23:03] digitalken commented on #14871
Testing:

1. Verify settings has a debug button at the bottom which opens a debug component.
2. Verify debug info for:
  a. access_code
  b. refresh_token
  c. id_token
3. Verify tap to copy values in debug information.

[2020-10-20 23:04] peggygannon commented on #12243
Closing, as EDU wizard content work is now being tracked in this issue:

https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/13889

[2020-10-20 23:04] #12243 closed

[2020-10-20 23:05] bkjohnson opened #15093 "Allow prefill to update hidden form fields"
### Description

Some form fields can be configured to conditionally render based previously entered form data. Save-in-progress enabled forms have the ability to prefill form data, but at the moment this data is being removed if the field is configured to be hidden.

### Goal

If data has been saved previously for a form, we don't want it to be filtered out when an in-progress form is resumed and

[2020-10-20 23:09] esther-k opened #15094 "Add a11y focus for landing pages & their child pages"
## User Story

As a Veteran using a screen reader,  when I open a page I want the first element on the page to be placed in focus so that I can easily navigate the page.

## Affects
- [Home Landing Page](https://app.zenhub.com/workspaces/va-mobile-app-5f205eac3155a2000f422ecb/issues/department-of-veterans-affairs/va.gov-team/13862)
     - [Veterans Crisis Line](https://app.zenhub.com/workspaces/va

[2020-10-20 23:10] esther-k opened #15095 "Add a11y page title announcement for landing pages & their child pages"
## User Story

As a Veteran using a screen reader,  I want the page I select to be announced when opened so that I am aware of where I am in the app.

## Affects
- [Home Landing Page](https://app.zenhub.com/workspaces/va-mobile-app-5f205eac3155a2000f422ecb/issues/department-of-veterans-affairs/va.gov-team/13862)
     - [Veterans Crisis Line](https://app.zenhub.com/workspaces/va-mobile-app-5f205eac

[2020-10-20 23:12] bmcgrady-ep commented on #11477
@amycesal - I added a bar chart of the confirmation vs error messages on the last page. Can you take a look? Thanks!

[2020-10-20 23:14] bmcgrady-ep commented on #15048
@cmaeng - Each of the users have been granted access to Google Analytics and should receive an email that they have been given access.

[2020-10-20 23:15] peggygannon opened #15096 "VSP content feedback - staging review- HLR form"
## User story
This ticket captures VSP content feedback for Higher-Level Review form.

prototype link: https://vsateams.invisionapp.com/share/W5U21BDFTQK#/screens/435782598

## Acceptance criteria
 - [x] VSP/Peggy provides content feedback and recommendations for the form/tool.
- [ ]  Product team incorporates feedback and/or asks follow up questions about the feedback
- [ ]  Product team leaves a

[2020-10-20 23:17] bmcgrady-ep commented on #14931
@LucianaAlexanderMorais - You should now have access to Google Analytics. I gave access to your VA email `luciana.morais@va.gov` and it redirected to this email in Google Analytics: `luciana.a.moraisusds@gmail.com`, so you will receive an email to that email with granted access.

[2020-10-20 23:21] digitalken commented on #13897
Testing:

1. Verify that selecting the "What if my military service information doesn't look right?" hyperlink takes user to a new page.
2. Verify styling and UI matches designs.
3. Verify two phone numbers at the bottom of the screen - click to call hyperlinks. (NOTE: designs only show one number currently!)
4. Verify everything on screen is read by screen reader.
5. Set font to largest in device

[2020-10-20 23:48] bessgreen opened #15097 "Address validation (FE)"
## User Story
As a user, I want to know when the address I've entered is invalid.

## Acceptance Criteria

1. On the Address edit page, the Save button becomes actionable (and turns white) when the following is true:
     - All fields on the screen marked "required" contain an entry
2. The Save button is disabled when any "required" field is null

## Designs
Edit address: https://adhoc.invisionapp

[2020-10-20 23:58] bessgreen commented on #15097
@bridgethapner Is there character limit for the address fields? (The screenshot you attached from the web app indicates max 35 characters). If so, are we displaying this to the user in any way, or will this be covered later w/ error messages?

[2020-10-21 00:06] bessgreen opened #15098 "Splash screen"
## User story
As a user, I want a splash screen that appears when I've launched the app.

## Acceptance Criteria
1. Styling & UI matches the design
2. This screen appears when the app is launched & loading before the user hits the unauthenticated home screen (TBD - verify that this is the case)

## Designs
https://adhoc.invisionapp.com/d/main#/console/20546460/433329858/preview

## Dev checklist

[2020-10-21 00:08] bessgreen opened #15099 "Unauthorized Home screen"
## User Story
As a user, I want a home page before I've signed in that gives me the following navigation options:
- Sign in
- Veterans Crisis Line
- Find a VA location

## Acceptance Criteria
1. Styling and UI matches the design
     - VA.gov logo placement is higher than on the splash screen that precedes it
2. UI for Sign in button (navigation is a separate story)
3. Find a VA Location button

[2020-10-21 00:12] bessgreen opened #15100 "App startup | LOA1 Gate"
## User story
As a user, I want to know what documents/information I'll need to provide to VA in order to access the app.

Dev note: this is just an informational page. The user will verify their identity through id.me.

## Acceptance Criteria
1. Selecting "Sign in" from the Unauthorized Home page routes to a new page called Sign In
2. Styling & UI matches the design
     - Copy on this page is ha

[2020-10-21 00:18] bessgreen opened #15101 "LOA1 Gate 2: Overview to Verify Account"
## User story
As a user, I want to know how va.gov will verify my identity before I've logged into the app.

## Acceptance Criteria
1. Selecting "I don't know if I have a Premium account" from the Sign In landing page routes to a new page
2. Styling and UI matches the design
     - Copy is hard coded
3. UI for hyperlink to "continue to sign in..." (navigation not needed for this story)

## Designs

[2020-10-21 00:21] larrywest52 commented on #14510
Wrote, revised, and finalized all content and uploaded the pages to our team's Google Drive.

[2020-10-21 00:22] larrywest52 commented on #14507
Wrote, revised, and finalized all content and uploaded the pages to our team's Google Drive.

[2020-10-21 00:26] larrywest52 commented on #14509
Wrote, revised, and finalized all pages and uploaded them to our team's Google Drive.

[2020-10-21 01:21] EdwardBoehme05 commented on #14513
For some facilities, Facility ID values were not found in VAST.

[2020-10-21 03:07] 1Copenut opened #15102 "[COGNITION] 508-enhancement: CONSIDER adding aria-labelledby attributes to emergency care exclusion lists"
**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Point of Contact

**VFS Point of Contact:** _Trevor_

## User Story or Problem Statement

As a screen reader user, I would like to hear a custom label for the exclusions to Express Care so I better understand what Express Care

[2020-10-21 03:17] 1Copenut opened #15103 "[DESIGN]: Definition lists are not spaced evenly in IE11"
## Issue Description
UPDATE: I added a second IE screenshot, and outlined the column widths. It looks like Chrome and modern browsers are setting the columns to even width implicitly, but IE11 needs an explicit width (percentage?) to make the columns balance in width.

While auditing the Express Care feature, I noticed the definition lists aren't spaced evenly in IE11. The screenshot attached isn'

[2020-10-21 03:20] 1Copenut commented on #13272
@lenaecb This audit is complete so I've assigned it to you. LMK if you have any questions. I'll plan to send it to the VA 508 office for review later this week or early next.

[2020-10-21 11:54] RLHecht commented on #15021
This change has been validated on live site. Closing ticket. FYSA @brianalloyd @bethpottsVADEPO

[2020-10-21 11:54] #15021 closed

[2020-10-21 11:55] RLHecht commented on #15020
These changes have been validated on live site. Closing ticket. FYSA @brianalloyd @bethpottsVADEPO

[2020-10-21 11:55] #15020 closed

[2020-10-21 11:59] dmccurdybah commented on #10810
PRs:

- https://github.com/department-of-veterans-affairs/gibct-data-service/pull/743
- https://github.com/department-of-veterans-affairs/vets-website/pull/14653
- https://github.com/department-of-veterans-affairs/vets-api/pull/5126

Merging the vets-website PR will cause the site to stop sending the `fuzzy_search` flag to GIDS, so the GIDS code will need to be merged in first. The "enhanced" sear

[2020-10-21 12:31] stephenBarrs commented on #13198
@jonwehausen we deployed the `covid-research-volunteer--submission-successful` event with the additional data to prod yesterday.  Is there work on the analytics side to surface that data (or work we need to do in GA)?  If not, can you show me how to see that data in GA?

[2020-10-21 12:54] sonntag-adam commented on #13635
Closing story.

[2020-10-21 12:54] #13635 closed

[2020-10-21 12:57] #14729 closed

[2020-10-21 13:17] #13306 closed

[2020-10-21 13:17] #13267 closed

[2020-10-21 13:17] #13269 closed

[2020-10-21 13:19] johnhashva opened #15104 "[Bug] Disability Compensation-Veteran Application Submit Issue"
## What happened?

Reported by Andrea Downs/VBA VACO

OSVA sent over a request for help with what looks like one Vet submitting a compensation claim through va.gov. OSVA is working with the Dep Sec office to get additional information, but are you tracking issues with service outages related to va.gov and ability to submit a claim (see screen shot):

![image](https://user-images.githubusercontent.

[2020-10-21 13:19] lenaecb commented on #14111
Hi @LanceGundersen - I just noticed while testing on staging that the content for this is incorrect.

Currently the footer on staging reads:
![Screen Shot 2020-10-21 at 9.18.31 AM.png](https://images.zenhubusercontent.com/5e41a7217d1a39827f6e83fe/7170ce5d-b999-444a-a7d7-8eed95919944)

**We need to update the first line to say:**
If you need help scheduling a VA or community care appointment _tool_

[2020-10-21 13:19] sonntag-adam commented on #14358
@department-of-veterans-affairs/uxbah in staging

[2020-10-21 13:22] #14851 closed

[2020-10-21 13:23] #12013 closed

[2020-10-21 13:25] mshea0606 opened #15105 "AE: Sprint 33"
# Priorities
1. Decide on MyVA Dashboard approach
2. Continue MyVA Design work
3. Profile 2.0 508/Accessibility Review
4. Finish DD for Edu backend integration
5. Create MyVA Dashboard wrapper
6. Profile 1 cleanup

### PM
- [ ] [PM] Full Accessibility & 508 Office Audit [Profile 2.0] #15247

## Profile 2.0
### Design
- [x] [Design] Connected Apps: Replace app list with App Directory Link #15234 (n

[2020-10-21 13:27] caw310 opened #15106 "Start a new Storybook repo"
## Issue Description
A new repo will be needed for Storybook in order to migrate components into Storybook system.

---
## Tasks
- [ ] Setup a new repo

## Acceptance Criteria
- [ ] There is a Storybook repo
---

[2020-10-21 13:28] annaswims commented on #13293
[this user](https://console.amazonaws-us-gov.com/cloudwatch/home?region=us-gov-west-1#logEventViewer:group=dsva-vagov-prod/srv/vets-api/src/log/vets-api-server.log;filter=%257B%2520%2524.payload.path%2520%253D%2522%252Fv0%252Fevss_claims%252F81151357%252Fdocuments%2522%257D;start=2020-10-21T10:20:00Z;end=2020-10-21T10:30:00Z) uploaded a file - text.txt that is not empty according to the FE uploade

[2020-10-21 13:31] caw310 opened #15107 "Migrate formation-react to the new Storybook repo"
## Issue Description
Migrate existing `formation-react` code over to the Storybook repo.

---
## Tasks
- [ ] Migration of the code

## Acceptance Criteria
- [ ] Current existing components will be in the Storybook repo

[2020-10-21 13:32] mdewey commented on #13670
Adding the color update here: https://github.com/department-of-veterans-affairs/va.gov-team/issues/14085

[2020-10-21 13:32] #13670 closed

[2020-10-21 13:36] zurbergram commented on #14735
Roo gem PR - https://github.com/department-of-veterans-affairs/gibct-data-service/pull/740
Refactor - https://github.com/department-of-veterans-affairs/gibct-data-service/pull/741
Warning and Error ordering change for uploads - https://github.com/department-of-veterans-affairs/gibct-data-service/pull/742

[2020-10-21 13:41] caw310 opened #15108 "Set up publishing to a new package in NPM from the Storybook repo"
## Issue Description
Set up publishing to a new package in NPM from the Storybook repo

---
## Tasks
- [ ] set up publishing to new Storybook repo

## Acceptance Criteria
- [ ] Ability to publish to the Storybook repo
---

[2020-10-21 13:44] caw310 opened #15109 "Change all imports of formation-react in vets-website to the new NPM package"
## Issue Description
Change all imports of formation-react in vets-website to the new NPM package for Storybook

---
## Tasks
- [ ] Change all imports of formation-react in vets-website to the new NPM package

## Acceptance Criteria
- [ ] Imports of formation-reaction in vets-website go to new NPM package for Storybook
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will

[2020-10-21 13:45] ksantiagomorgan6 commented on #13938
additional PR: https://github.com/department-of-veterans-affairs/vets-website/pull/14655

[2020-10-21 13:47] caw310 opened #15110 "Remove the formation-react NPM package"
## Issue Description
 Remove the formation-react NPM package (if possible)

---
## Tasks
- [ ] Removal of the formation-react NPM package

## Acceptance Criteria
- [ ] formation-react NPM package has been removed without doing any harm
---

[2020-10-21 13:49] jonathanjnelson commented on #12794
Hi @LinnJS

Here are the[ updated mockups for signature page ](https://vsateams.invisionapp.com/share/WCZ0WFY7DJ3#/433727791_Signature_-_Replacement_) I also shared the InVision file with you. Let me know if you want me to put screen caps of updated designs in this ticket and if you have any questions.

**Current Design**

- [ ] Remove "I certify that I am a family member of the Veteran named in t

[2020-10-21 13:50] sonntag-adam opened #15111 "CT: Modal scrollbar showing on PC Chrome/Firefox/Edge"
When selecting "Will you be taking any classes in person? (Learn more)" on the landing page https://staging.va.gov/gi-bill-comparison-tool the scroll bar appears in the modal pushing over the "X" out of its position.

Observe the screenshot

Expected results: We need the left image to appear like the right image
![scrollbar.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/9e7cbfd

[2020-10-21 13:51] sonntag-adam commented on #13929
Bug for scroll bar fix https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/15111

[2020-10-21 13:51] sonntag-adam commented on #13929
Closing out story.

[2020-10-21 13:51] caw310 opened #15112 "Update all documentation to use the new name and storybook repo"
## Issue Description
Update all documentation related to the component and forms library to reference and point to the Storybook repo.

---
## Tasks
- [ ] Update all component and forms library documentation

## Acceptance Criteria
- [ ] All component and forms library documentation is updated
---

[2020-10-21 13:52] #13929 closed

[2020-10-21 13:54] amyknox commented on #14370
Approved 1/2

[2020-10-21 14:00] lenaecb commented on #14111
The footer should read the following:

@LanceGundersen @jbalboni

[2020-10-21 14:01] lexicalninja commented on #15059
State is optional for international addresses.
For State, if they are filling an international address they would need to fill it in with a keyboard.
For United States and Military Bases there should be a dropdown list of states/territories

[2020-10-21 14:01] kevinmirc commented on #8081
@lihanli we can move forward with reverting "caregivers google analytics event" on vets-api. Thank you!

[2020-10-21 14:02] EdwardBoehme05 commented on #14513
For the facilities whose Facility ID values were not found in VAST, populated their Facility ID values with 0.

[2020-10-21 14:02] lexicalninja commented on #15059
![image](https://user-images.githubusercontent.com/7376126/96730765-29050780-137c-11eb-8f79-48aa3d370812.png)

![image](https://user-images.githubusercontent.com/7376126/96730663-0e329300-137c-11eb-9c76-72880c558f37.png)

![image](https://user-images.githubusercontent.com/7376126/96730719-1be81880-137c-11eb-981a-82b8fb908941.png)

[2020-10-21 14:03] lealester commented on #14512
moved into validate 10/21/2020 (10:03 am ET)

[2020-10-21 14:04] JenLJ commented on #14370
UX Review 2/2 - This looks good!

[2020-10-21 14:05] JenLJ commented on #14358
UX Review 1/2 - this checks out for me!

[2020-10-21 14:09] mdewey commented on #14313
` How do have a stand-alone a page that is not a form` Use the generator to select a not forms app

[2020-10-21 14:13] LinnJS opened #15113 "Discovery for 10-10CG Scheduled Downtime Implimentation"
As a user I would like to know when a form or external service for the form is scheduled for maintenance this way I do not waste my time filling out information just to get a 5XX. As a developer I also want to reduce errors due to scheduled maintenance.

Run some discovery so we can get implementation details on how to wire up CARMA to the [DevOps Config](https://github.com/department-of-veterans-

[2020-10-21 14:14] LinnJS commented on #14767
[Draft PR](https://github.com/department-of-veterans-affairs/vets-website/pull/14585) with FE implementation

[2020-10-21 14:18] LinnJS commented on #15113
[Frontend Discovery ticket](https://github.com/department-of-veterans-affairs/va.gov-team/issues/14767)

[2020-10-21 14:19] LinnJS commented on #15113
[Draft PR](https://github.com/department-of-veterans-affairs/vets-website/pull/14585) with FE implementation

[2020-10-21 14:19] camerontesterman commented on #15043
The PDF filler for this form is configured to always put "see add'l info page" in for the address, regardless of number of characters inputted.

[2020-10-21 14:23] LinnJS opened #15114 "Integrate CARMA into Scheduled Downtime API"
As a developer I would like to schedule in Pager Duty when the API services are going to be having scheduled maintenance so we dont waste users time and decrease error rates.

Look to the [Discovery Ticket](https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/15113) for implementation details.

[2020-10-21 14:30] delli-gatti-michael commented on #13938
Local testing complete on PR \#3

[2020-10-21 14:31] delli-gatti-michael commented on #14370
Closing this out

[2020-10-21 14:31] #14370 closed

[2020-10-21 14:40] amyknox commented on #14358
UX Review: I'm not seeing the header / footer with pagination in my views nor do they appear when I print (on paper!).

I used "Save as PDF" for this view: [Veteran Request For Change _ Veterans Affairs.pdf](https://github.com/department-of-veterans-affairs/va.gov-team/files/5416652/Veteran.Request.For.Change._.Veterans.Affairs.pdf)

This is was Microsoft print to PDF [Veteran Request For Change _

[2020-10-21 14:44] mdewey commented on #14313
`How do we do cards?` There are a few examples of cards already on the side, it's mostly small custom CSS classes. There is a possibility of reuse in CSS classes and jsx components.

[2020-10-21 14:46] mshea0606 opened #15115 "[DESIGN] My VA Dashboard: Revisit Direction/Wireframe explorations (mobile & desktop)"
## Background
We are taking this sprint (S33) to revisit the direction of the MyVA dashboard redesign and explore different options and decide upon the approach going forward. The focus should be on sketches/low-fi wireframes not on detailed visual design.

My VA goals: Get users to personalized information and tasks as quickly as possible. The page should be personalized, actionable, and scalable

[2020-10-21 14:46] johnhashva commented on #14826
Note: Ticket for IA and placement in global nav here #14468

[2020-10-21 14:46] f1337 opened #15116 "Documentation/process: Notify affected teams on certificate changes"
## Description

Per the [10-02 MHV + ID.me login outage post-mortem](https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/blob/master/Postmortems/2020-10-02-mhv-idme-login-outage.md), we would like to ensure that potentially affected teams are notified when/if we make certificate changes in the future, as a courtesy and preventative measure.

Please identify the best place in ou

[2020-10-21 14:48] ksantiagomorgan6 commented on #14068
PR: https://github.com/department-of-veterans-affairs/vets-website/pull/14656

[2020-10-21 14:49] DanielleThierryUSDSVA commented on #14882
Hi @clantosswett @lalexanderson-dsva Here's an info sheet for contact center like the one I put together for Chalmers. Lauren, I also pulled in the latest info from that doc we got/edited for Cerner about the transition period. Please let me know if anything looks amiss.

[VA.gov My VA Health contact center information 10.21.20](https://app.zenhub.com/files/133843125/9ada35f5-63d9-4a0d-aba5-f0a7b0

[2020-10-21 14:52] mdewey commented on #14313
As far as loading a user into the middle of a form, No, but it can be hacked around https://dsva.slack.com/archives/CBU0KDSB1/p1601666564025500

[2020-10-21 14:59] Kimberley2019 commented on #14966
Good Morning @jenniferlee-dsva I have provided the launch details, description, and product guide to the VEO Contact Center.  I have give them until 10/27/2020 to respond with any questions or feedback.  If they do not respond by COB on that day, then we will move forward without their input.  I will keep you posted with anything that they send our way concerning this product guide.

[2020-10-21 15:02] mshea0606 commented on #8385
leaving this open, will revisit once we have more information needed for staging user requirements

[2020-10-21 15:03] kevinstachura commented on #14398
Hey @barrycooper727 - Ah, I think I may have misunderstood your 'ask' here...it seemed to me that you were asking to change the radio button label text, but instead it looks like you were mapping the different radio button select options to pre-populating something in the description field. Therefore:

- IF user selects 'My disability was caused by an injury or exposure during my military service'

[2020-10-21 15:03] shiragoodman commented on #3154
@andreahewitt-odd can I close this?

[2020-10-21 15:04] mdewey commented on #14313
` Can we have a non-editable form?` Doesn't look it out of the box, but as long as we get the data, a read-only view should low effort depending on logic and design

[2020-10-21 15:05] camerontesterman opened #15117 "Set character limits on claimant address for Form 21-530 PDF fill"
## Issue Description
Burial form 21-530 defaults to filling the claimant address with a string that says "see add'l info page" and adds a page at the end of the PDF that has the claimant's address information written. No other form handles addresses this way, typically instead of defaulting to using always_overflow which adds that aforementioned string and adds a page at the end with the extra inf

[2020-10-21 15:14] andaleliz commented on #14202
We do want to proceed with a journey map, but I updated this ticket to cover the draft phase. This is a ton of work an an `8` estimate just covers the drafting phase. Need to gather more info from our contacts before this can be fully completed.

[2020-10-21 15:15] bsmartin-ep commented on #14331
@jbalboni / @lenaecb -

As discussed, please disregard this request....
https://github.com/department-of-veterans-affairs/va.gov-team/issues/14331#issuecomment-712237775

[2020-10-21 15:15] andaleliz commented on #14912
Status: research plan is out for collab cycle review.  Will get feedback tomorrow.

[2020-10-21 15:16] #13457 closed

[2020-10-21 15:16] #13870 closed

[2020-10-21 15:16] #13872 closed

[2020-10-21 15:16] #13873 closed

[2020-10-21 15:16] #13874 closed

[2020-10-21 15:16] #13877 closed

[2020-10-21 15:16] #14113 closed

[2020-10-21 15:16] #14133 closed

[2020-10-21 15:16] #14645 closed

[2020-10-21 15:16] #14648 closed

[2020-10-21 15:16] #13207 closed

[2020-10-21 15:16] #13474 closed

[2020-10-21 15:16] #13915 closed

[2020-10-21 15:16] #14072 closed

[2020-10-21 15:16] #14540 closed

[2020-10-21 15:16] #13202 closed

[2020-10-21 15:16] #14042 closed

[2020-10-21 15:16] #14043 closed

[2020-10-21 15:16] #14216 closed

[2020-10-21 15:16] #14295 closed

[2020-10-21 15:16] #14299 closed

[2020-10-21 15:16] #14456 closed

[2020-10-21 15:16] #13079 closed

[2020-10-21 15:16] #13120 closed

[2020-10-21 15:16] #13201 closed

[2020-10-21 15:16] #13244 closed

[2020-10-21 15:16] #13679 closed

[2020-10-21 15:16] #13698 closed

[2020-10-21 15:16] #13700 closed

[2020-10-21 15:16] #14257 closed

[2020-10-21 15:16] #13072 closed

[2020-10-21 15:16] #13074 closed

[2020-10-21 15:16] #13089 closed

[2020-10-21 15:16] #13182 closed

[2020-10-21 15:16] #13462 closed

[2020-10-21 15:16] #13694 closed

[2020-10-21 15:16] #13699 closed

[2020-10-21 15:16] #13719 closed

[2020-10-21 15:16] #13080 closed

[2020-10-21 15:16] #13184 closed

[2020-10-21 15:16] #13463 closed

[2020-10-21 15:16] #13465 closed

[2020-10-21 15:16] #13473 closed

[2020-10-21 15:16] #13865 closed

[2020-10-21 15:16] #13914 closed

[2020-10-21 15:16] #14040 closed

[2020-10-21 15:16] #14041 closed

[2020-10-21 15:16] #14912 closed

[2020-10-21 15:19] hughes-dustin commented on #14066
PR: https://github.com/department-of-veterans-affairs/vets-website/pull/14657
Branch: bah-14066

[2020-10-21 15:24] bsmartin-ep commented on #14331
@jonwehausen / @bmcgrady-ep -

Can I get a QA on this GTM workspace?

https://tagmanager.google.com/#/container/accounts/144676348/containers/2214120/workspaces/1000374

[2020-10-21 15:26] f1337 opened #15118 "PagerDuty escalation for MHV login alerts"
## Description

Per the 10/2 login outage post-mortem, the PagerDuty alert for MHV login problems is good for showing end-users a warning banner, but not good for paging the oncall support staff. The existing alert is low-urgency because it is triggered for ~5m, roughly daily. However, the login outage was a 4-hour downtime.

Let's figure out how to have both: a login banner for the short outages

[2020-10-21 15:26] #13073 closed

[2020-10-21 15:26] #13078 closed

[2020-10-21 15:26] #13200 closed

[2020-10-21 15:26] #13349 closed

[2020-10-21 15:26] #13350 closed

[2020-10-21 15:26] #13464 closed

[2020-10-21 15:26] #13705 closed

[2020-10-21 15:26] #13871 closed

[2020-10-21 15:26] #13876 closed

[2020-10-21 15:26] #13878 closed

[2020-10-21 15:26] #13916 closed

[2020-10-21 15:26] #14198 closed

[2020-10-21 15:26] #14000 closed

[2020-10-21 15:27] camerontesterman opened #15119 "[Discovery] Figure out how to get VA Benefits pre-deduction amount"
## Issue Description
VA Benefits, such as compensation and pension, amounts can be discovered using the paymentHistory endpoint. However, the amounts reflected in payment history are the amounts that are actually deposited in a veteran's bank account and do not reflect the amounts the veteran is actually entitled to before deductions are removed.

## Tasks
- [ ] Discover the endpoint(s), libraries

[2020-10-21 15:28] annaswims commented on #13293
I'm unable to reproduce this on mobile safari because I get stuck sooner.
when I try to upload [this empty file](https://github.com/department-of-veterans-affairs/vets-api/blob/master/spec/fixtures/files/empty_file.txt)
the uploader tells me it's
![IMG_1480.PNG](https://images.zenhubusercontent.com/5bb3c3a61c43df49f8b08cfb/b0e4c875-f554-49ac-8832-6d4bfa41a3aa)![IMG_1481 2.PNG](https://images.zenhu

[2020-10-21 15:29] camerontesterman opened #15120 "Integrate with DMC's FSR Submission Endopint"
## Issue Description
_What details are necessary for understanding the specific work or request tracked by this issue?_

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attac

[2020-10-21 15:29] amycesal commented on #11477
<img width="1280" alt="Screen Shot 2020-10-21 at 9 23 55 AM" src="https://user-images.githubusercontent.com/1656046/96742123-29a39b00-1388-11eb-872a-c048ac9b561c.png">

I adjusted a few things. Looks good!

[2020-10-21 15:29] jonwehausen opened #15121 "Analytics Implementation - User Custom Dimension - CMS Team"
# Google Analytics Implementation or QA Request

## Description
- Team wants to HAVE a user role custom dimension to segment their GA data according to CMS user role

### Proposed Steps
- We will first want to understand the various user roles in Drupal
- Develop a datalayer taxonomy to collect that user role
- Configure user scope custom dimension identifying this user role

## Acceptance Criteri

[2020-10-21 15:35] kristenmcconnell commented on #13148
@peggygannon  I meet with engineering yesterday to review all of the save in-progress UI features (as shown in the attached image). Most of the wording doesn't exactly apply to our use case, since we are a questionnaire and not an application. I took a crack at updating all of the wording/UI elements to match are use case better. I wanted to run the changes by you as well. However, engineering is

[2020-10-21 15:47] watersemma commented on #14358
#14358 Looks good. A few observations I have, let me know if these are beyond the scope of the ticket…
1. Missing the blue line under ‘Need Help?’ - is this turned off to make printer friendly? I will follow up in QAUX.
2. The ‘go back to VA’ button at the end of the page should expand in width to match the mock
3. It looks like the padding on this page is 10px but the padding in the mock is 15px

[2020-10-21 15:54] jbalboni opened #15122 "Update DateTimeSelectPage tests to set slots from fetch call instead mocking store"
We should update all the tests in the DateTimeSelectPage tests to populate time slots from a fetch call instead of mocking them in the Redux store, since it's a more realistic test.

[2020-10-21 15:54] jenstrickland opened #15123 "Accessibility feedback - Design intent collaboration - BAM2 ["
**Feedback framework**
- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Point of Contact

**VFS Point of Contact:**

- VSA - Jennifer
- VSP - Trevor

## Definition of done

1. Review and acknowledge feedback.
1. Fix and/or document decisions made.
1. Accessibility specialist will close ticket after

[2020-10-21 15:55] mpelzsherman commented on #14977
Moving this to Done. I'll continue to update the docs as needed.

[2020-10-21 15:55] #14977 closed

[2020-10-21 15:55] jbalboni opened #15124 "ATLAS appointments don't show VA site information in cancel modal"
ATLAS appointments seem to be missing VA facility info in the cancel modal.

![Screen Shot 2020-10-21 at 11.55.34 AM.png](https://images.zenhubusercontent.com/599c94608f62dc7798c3b2cd/006ff033-e5d8-4872-91e3-4c49a8252bf6)

Might have something to do with recent mapping changes

[2020-10-21 16:03] jonwehausen commented on #15121
https://github.com/department-of-veterans-affairs/va.gov-cms/issues/3223#

[2020-10-21 16:07] delli-gatti-michael commented on #13938
@department-of-veterans-affairs/uxbah The most recent changes are now live on Staging and ready for review

[2020-10-21 16:11] luke-gcio commented on #13852
We found a method for sending the emails.  We should have them sent out within a few days.

[2020-10-21 16:12] luke-gcio commented on #13944
I spoke to a veteran named J***. They are having trouble submitting even after the PTSD fix.  Appears to still be a validation issues on the FE during the review page.

[2020-10-21 16:14] elder-joseph commented on #15111
Associated PR: https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/vets-website/14659

[2020-10-21 16:17] lealester commented on #15030
cloning from Sioux Falls

[2020-10-21 16:18] andaleliz commented on #13378
@peggygannon and @mnorthuis, can you please review [this prototype](https://preview.uxpin.com/e8c5c39f8978d9c1a3f9bd200db25376170a6860#/pages/133183067/simulate/no-panels?mode=i) and let me know if any changes are required? I believe this reflects the latest content document, and I just updated the `h1` elements on the intro pages.

I _think_ any outstanding questions with HLR will be addressed vi

[2020-10-21 16:22] #14770 closed

[2020-10-21 16:23] #14793 closed

[2020-10-21 16:23] #14790 closed

[2020-10-21 16:23] #14606 closed

[2020-10-21 16:23] ericboehs commented on #14836
Resolved with the deploy that went out last week. Updating Rian with the status.

[2020-10-21 16:23] #14836 closed

[2020-10-21 16:26] kristenmcconnell opened #15125 "[UI] Questionnaire Error State Review"
## User Story
- As a Veteran, I want to be notified when my questionnaire fails to be viewable, sendable, can't be populated with data, or a user error occurs. I want to know next steps of how I can proceed and complete my questionnaire.

## Related Documentation
 - [MVP: Visit Intro Initiative (Proof of Concept)](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/h

[2020-10-21 16:33] mmiddaugh commented on #9879
Looks good!!

[2020-10-21 16:33] #9879 closed

[2020-10-21 16:34] pnwstevan opened #15126 "Upgrade Grafana to 7.2+"
## Description
Grafana version 7.2 provides some UX enhancements specific for Loki, which would be nice to have.

## Background/context/resources
This is a minor version upgrade so should be relatively low risk.

## Technical notes
- @pnwstevan provided detailed documentation for an upgrade of 6->7 in [this issue](https://github.com/department-of-veterans-affairs/va.gov-team/issues/12322).
- Curre

[2020-10-21 16:38] annaswims commented on #14889
when I try to upload [the same file](https://github.com/department-of-veterans-affairs/vets-api/blob/master/spec/fixtures/files/empty_file.txt) on iphone safari
the uploader tells me it's 74 bytes
![IMG_1480.PNG](https://images.zenhubusercontent.com/5bb3c3a61c43df49f8b08cfb/b0e4c875-f554-49ac-8832-6d4bfa41a3aa)![IMG_1481 2.PNG](https://images.zenhubusercontent.com/5bb3c3a61c43df49f8b08cfb/abff6221

[2020-10-21 16:39] mmiddaugh commented on #14792
Decided to hold this change due to unintended consequences. Reducing the initial zoom benefited searches with high number of locations in small area (such as pharmacies). However, we identified a bug which caused the number of locations between results list to be different from those displayed on the map. Determined a better solution will be to fit the zoom to bounds, which we will implement after

[2020-10-21 16:39] #14792 closed

[2020-10-21 16:46] DanielleThierryUSDSVA commented on #13324
Update: It looks like there may be a way to edit w/ widget. Will need to explore further.

[2020-10-21 16:47] YanaRoy opened #15127 "VSA Onboarding - Megan Gayle"
## Welcome to the VSA Program

Welcome! This issue will be used to track your onboarding to the VSA Program.

---

## Pre-Onboarding

**Operation Lead Tasks**

- [x] Send Welcome email to New Hire (request GitHub Username)

*Send Notifications with New Hire details (name, position, start date) to:*

- [x] Admin Analyst
- [x] VA Leadership
- [x] VA PO
- [x] Practice Lead
- [ ] VSP Onboarding

**Acc

[2020-10-21 16:49] #14556 closed

[2020-10-21 16:49] lwalsh617 commented on #14979
@bethpottsVADEPO @RLHecht -- All articles in this ticket have been checked/edited for CTA buttons and related info links.

[2020-10-21 16:52] billfienberg commented on #11510
Relatd/duplicate https://github.com/department-of-veterans-affairs/va.gov-team/issues/14718

[2020-10-21 16:53] delli-gatti-michael commented on #14068
Local testing complete

[2020-10-21 16:53] RLHecht opened #15128 "Proofread all R&S articles for MVP 1.0 before publishing"
## Issue Description
We need to ensure all R&S articles are free of typos, links are working. there is consistency in headers and other elements across articles among other things.

Here is a list of items to look for and verify in each node:
- Bolding of ID.me, My HealtheVet, and DS Logon
- All links are working
- Standardize this language when hours and phone numbers are referred to: We’re here

[2020-10-21 16:55] JenLJ commented on #13938
UX Review 1/2:  This looks good!

[2020-10-21 16:55] amyknox commented on #13938
UX Review - 1/2 Looks great!

[2020-10-21 16:59] DanielleThierryUSDSVA commented on #13324
Hi @brianalloyd @youngfreezyVA. This is the first issue that Fareez and I can work together on re: localization.  Fareez, I look forward to bringing you up to speed on this effort and working with you on this!

[2020-10-21 17:00] barrycooper727 commented on #14398
Hey @kevinstachura yes, exactly that is our 'ask'!  Yes, we are open to exploring more options.  We want to ensure that this screen doesn't cause any confusion for the SM.  As I mentioned, we don't need a description since they are on active duty.  However, as Nick mentioned above 2 days ago, "Right now, both our back end and the EVSS endpoint we submit to require a disability cause for each condi

[2020-10-21 17:02] delli-gatti-michael commented on #13938
Closing this out

[2020-10-21 17:02] #13938 closed

[2020-10-21 17:03] kathleencrawford opened #15129 "Upload 686 Supporting Documents to VBMS"
## Background
We need to upload documents (supporting evidence) attached to a 686 submission to VBMS.  Examples of this are marriage certificate, adoption certificate, etc.

## Considerations
- Verify that the attached documents indicator is being set correctly.  This will be used when the form is submitted.

## Tasks
- [x] Check to see whether supporting documents are attached to the claim.
- [x]

[2020-10-21 17:06] annaswims commented on #14889
this bug is related but maybe different.  Should I make a new ticket?  It's looking like in mobile safari/safari the file body is missing sometimes.

http://sentry10.vfs.va.gov/organizations/vsp/issues/2757/tags/?project=3&statsPeriod=14d

[2020-10-21 17:08] DanielleThierryUSDSVA commented on #14609
Hi @peggygannon. To answer your questions:

1 and 3: I'm working out now how we want to specifically reference this number. Will update here this week.

2: Correct, TTY remains the general 711.

Thanks!

[2020-10-21 17:17] luke-gcio commented on #14460
Wizard design is almost finalized, Robin's or Nick's implementation likely in mid to late sprint 33.

[2020-10-21 17:20] micahchiang opened #15130 "CH31 - Update Address Schema Import"
## Description
Chapter 31 still uses the address schema import from the 686c-674 schema. Recently we created a form agnostic version of the address schema. This new version should replace the current import.

## Tasks
- Update the chapter 31 schema in vets-json-schema to use the new address model
- Update the chapter 31 application in vets-website so it uses the new address schema / uiSchema

## A

[2020-10-21 17:20] luke-gcio commented on #14427
Note to Luke from Luke: Get this assigned to the right people/team.  Devops tag already there.

[2020-10-21 17:20] peggygannon commented on #13378
Thanks, @andaleliz!  a couple of things from me now that I see the content in prototype form. Thank you for updating the H1s. :

1. For the BDD flow 1 {if between 180-90 days} the alert should say "a disability claim" vs. disability compensation

{alert} Based on your separation date, you can file a disability claim under the Benefits Delivery at Discharge (BDD) program.
[Learn more about the BDD

[2020-10-21 17:22] mmiddaugh opened #15131 "[DRAFT] Analytics Reporting Request for [Facilities -> Facility Locator]"
# Metrics Reporting Request

## What this form is for

Use this template to request one-off performance, usability, or outcomes va.gov metrics that is difficult to access or that needs analytics interpretation.

Insights will usually provide data reports within the current sprint, but if there is time-sensitivity, please note them in "additional comments."

## Instructions

Please fill out the fol

[2020-10-21 17:22] annaswims commented on #14752
Content is in https://github.com/department-of-veterans-affairs/vets-api/blob/master/config/locales/en.yml. I'll come back and add some screenshots to give context to the error messages.

[2020-10-21 17:22] annaswims commented on #13293
The behavior has been updated so now the user will see a message "File size should be greater than 1 Byte".  we can update the text in va.gov-team/14752

[2020-10-21 17:26] mmiddaugh commented on #15131
@mmiddaugh to assign to bsmartin, amycesal, joanne and jon when ready

[2020-10-21 17:26] mmiddaugh opened #15132 "Analytics Product KPI Dashboard for Facilities -> VAMC"
# Request a KPI Dashboard

## What this form is for
Use this template to request a KPI dashboard on Domo for your product.

## Instructions for the VFS team
- [ ] For additional info, read through the [How to Request a KPI Dashboard Documentation](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/analytics/kpi-dashboard-request.md)
- [ ] Your KPIs are clearly linke

[2020-10-21 17:27] mmiddaugh commented on #15132
@mmiddaugh to assign to bsmartin, amycesal, joanne and jon when ready

[2020-10-21 17:28] andaleliz commented on #13374
`h1` elements on intro pages have been updated per Peggy's doc via Slack.  Closing this out!

[2020-10-21 17:28] #13374 closed

[2020-10-21 17:29] peggygannon commented on #14752
Thanks @annaswims and @luke-gcio thank you for adding screenshots! that will help with my review.

[2020-10-21 17:32] #14533 closed

[2020-10-21 17:32] luke-gcio commented on #13955
Anna helped us with training - next sprint we dig into the top items to create tickets.

[2020-10-21 17:32] #13955 closed

[2020-10-21 17:32] #13832 closed

[2020-10-21 17:32] peggygannon commented on #14108
thank you @outerpress !

@rtwell @lenaecb how do you think this looks on mobile? do you recommend any more trimming?

[2020-10-21 17:32] luke-gcio commented on #13944
Decision is to jump on a quick call so we can get their data (SIP, EDIPI, etc).

[2020-10-21 17:35] Samara-Strauss commented on #12620
Sorry, I know I said we could prob close this out, but I have another question — is it possible to set up a segment of people who have *access* to the Direct Deposit feature in the profile (so they can access the feature but don't necessarily have to have visited the page in a session)? We show this section conditionally based on whether you are eligible for direct deposit payments or not, so not

[2020-10-21 17:35] luke-gcio commented on #13657
Luke will review and close out.

[2020-10-21 17:36] #14530 closed

[2020-10-21 17:36] #13002 closed

[2020-10-21 17:36] #14166 closed

[2020-10-21 17:36] #14082 closed

[2020-10-21 17:37] luke-gcio commented on #10713
Hi @peggygannon are you saying this is good to go on our end?

[2020-10-21 17:38] annaswims commented on #13657
I think a FE engineer should review http://sentry10.vfs.va.gov/organizations/vsp/issues/241/events/?query=url%3Ahttps%3A%2F%2Fwww.va.gov%2Fdisability%2Ffile-disability-claim-form-21-526ez%2Freview-and-submit&statsPeriod=14d

[2020-10-21 17:41] davidconlon commented on #11764
"Holidays" is just free content.
In this case we were reflecting this:

![image](https://user-images.githubusercontent.com/56046371/96757144-0b976400-13a3-11eb-8843-fd6911ed0b7b.png)

[2020-10-21 17:42] andaleliz commented on #13378
Nice catch on the date, and great suggestions @peggygannon! I'll make these updates.

Question on flow 1:

Learn more about the BDD program
{CTA button} File a BDD disability claim
{end alert}

Should I remove the "Learn about other ways you can file a disability claim" link currently under the button?
![image](https://user-images.githubusercontent.com/55992116/96757108-fe7a7500-13a2-11eb-8695-11c

[2020-10-21 17:46] Samara-Strauss commented on #12620
And sorry, the above request is for a segment in GA — no need to update Domo now, though this might lead to a Domo update.

[2020-10-21 17:47] mmiddaugh commented on #11133
They've been suppressed for some time already and will likely be hidden long term.

[2020-10-21 17:47] ltrombley commented on #14949
Task #14949 - VISN-16 System and Facility Health Services is ready for review.

[2020-10-21 17:48] mmiddaugh commented on #11133
@davidconlon do we need to continue this request?

[2020-10-21 17:49] jason-gcio opened #15133 "Create Storyboards for VRE Orientation in CH31"
## Background
Given what we have from VRE around orientation, we need to include that content into the CH31 feature.

## Considerations
- Everything that we were given should be included
- The intent from the business is for the Veteran to click "Next" all the way through to the form before completing the eligibility wizard
- Link shared in slack (Jason : Jim)

## Tasks
- [x] Create thumbnail stor

[2020-10-21 17:52] jason-gcio opened #15134 "Update Mockup to Include VRE Orientation in CH31"
## Background
Given what we have from VRE around orientation, we need to include that content into the CH31 feature.

## Considerations
- Everything that we were given should be included
- The intent from the business is for the Veteran to click "Next" all the way through to the form before completing the eligibility wizard
- Link shared in slack (Jason : Jim)

## Tasks
- [x] Include the new orien

[2020-10-21 17:57] bridgethapner commented on #13071
@bessgreen In case it's helpful to reference, I captured the UX decisions for MVP auth here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/va-mobile-app/ux-research/ux-design/mvp-auth-pov.md

[2020-10-21 17:58] erikphansen opened #15135 "Possibly update Cerner alert main CTA button links to use `getCernerURL()` helper"
The three new My VA Cerner alerts all send users to the same Cerner URL (`https://patientportal.myhealth.va.gov` in prod, or `https://ehrm-va-test.patientportal.us.healtheintent.com` if not in prod).

Perhaps we should update those links to match what the Public Websites team is using.

## Links
Prescriptions: `getCernerURL('/pages/medications/current')`
Appointments: `getCernerURL('/pages/schedul

[2020-10-21 17:58] #14910 closed

[2020-10-21 18:03] lexicalninja commented on #13782
adding @steve-gov for MHV

Steve, if you can test the following things and just post some screen shots here of what happens I can round out the log in work for the app.

If you can go to this repo: https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/blob/master/Administrative/vagov-users/mhv-lower-env-test-accounts.md

In there, there are three INT user accounts at the bottom t

[2020-10-21 18:04] bsmartin-ep commented on #14651
@Samara-Strauss -

Here is your original time-frame with the user-based segments....

https://analytics.google.com/analytics/web/?authuser=0#/report/visitors-overview/a50123418w177519031p184624291/_u.date00=20200101&_u.date01=20200402&_.useg=builtin1,userDatUa-iUR--ymOCPRsvErg,userTBuj9_dPSF-sBQQO9Srv-g,useroZx0HcxxRpWtuNYX7IFkHA/

...and now with session versions of those same segments (same time

[2020-10-21 18:04] caw310 opened #15136 "Discovery: What would it take to remove the formation-react package from the VFS tools repo?"
## Issue Description
Discovery needed around identifying what would it take to remove the formation-react package from the VFS tools repo

---
## Tasks
- [ ] Discovery
- [ ] Remove the formation-react package from VFS tools repo

## Acceptance Criteria
- [ ] Team knows what needs to be done to remove the formation-react package from VFS tools
- [ ] Removal of the formation-react package from VFS t

[2020-10-21 18:06] jason-gcio commented on #12473
Design coming soon

[2020-10-21 18:09] bessgreen opened #15137 "Unauthenticated VCL page"
## User story
As a user, I want the ability to access the Veteran Crisis Line page even if I haven't logged into the app.

## Acceptance Criteria
1. Selecting the Veteran Crisis Line banner from any of the unauthenticated pages routes to the Veteran Crisis Line page, in-app
     - Page header: Veteran Crisis Line
2. Do not display a horizontal nav bar on this version of the VCL page, since the use

[2020-10-21 18:10] bmcgrady-ep commented on #14984
@ricetj Here are a couple of reports that I believe will help answer your questions:

1. [Google Search Console Report](https://search.google.com/search-console/performance/search-analytics?resource_id=https%3A%2F%2Fwww.va.gov%2F&search_type=WEB) with the most searched terms on Google. I searched for `mobile`, `apps`, and `mobile apps` with little results. You can filter for different terms by sel

[2020-10-21 18:13] #14918 closed

[2020-10-21 18:14] #14920 closed

[2020-10-21 18:16] kelsonic commented on #14203
PRs merged! 🎉

[2020-10-21 18:17] #14520 closed

[2020-10-21 18:23] jhouse-solvd opened #15138 "Product Outline - Monitoring Solution"
## Issue Description
The VSP Operations team needs to deliver an updated product outline for new monitoring solution using DataDog to ensure that we've properly captured the target personas, proposed benefits, and how we will measure the impact and success of delivering this product to customers and stakeholders of the Veteran Services Platform.

---
## Tasks
- [X] Use the [product outline templat

[2020-10-21 18:25] leahkeeler opened #15139 "DebtRes Form submit BE Integration"
Once the FSR Form is submitted the form data needs to be posted to DMC endpoint. The JSON needs to contain the data fields that is currently in the paper form.

[2020-10-21 18:26] leahkeeler commented on #11093
there is no action to take on this

[2020-10-21 18:26] #11093 closed

[2020-10-21 18:35] jhouse-solvd opened #15140 "Centralized Logging with Loki - Perform user research to understand how VFS developers will use this solution"
## Issue Description
We want to use customer research to inform our planned implementation for new and improved logging solution (Loki)

---
## Tasks
- [x] Connect with Service Design team to discuss research opportunities
- [x] Make a plan
- [x] Recruit participants
- [x] Conduct sessions
- [x] Synthesize
- [x] Read out

## Acceptance Criteria
- [x] Operations team will have information and feedb

[2020-10-21 18:37] bridgethapner commented on #15059
Thank you for jumping in @lexicalninja! I agree that the AC here looks right - for int'l addresses, the state field is optional & is a freeform text field, not a picker.

[2020-10-21 18:42] sonntag-adam commented on #15111
![Screen Shot 2020-10-21 at 2.41.49 PM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/014bee0a-0baa-4b36-8ba6-968300b809df)

[2020-10-21 18:45] mnorthuis commented on #14769
IA Feedback:

Hey all, I have more questions than feedback as we learn more about this process and trying to determine how it relates to the actual FSR form flow versus the larger debt management/resolution flow.  Posting my questions here FYSA. Looking forward to continuing to refine this process!
- At what point do they indicate which debt they are submitting the FSR for and what type of resolut

[2020-10-21 18:45] watersemma commented on #14420
Here is the proposed mobile table updates. https://bahdigital.invisionapp.com/share/B8IAF9K75NU Screenshot attached for your convenience. ![Screen Shot 2020-10-21 at 2.31.48 PM.png](https://images.zenhubusercontent.com/5f7e1db6d6b9a95b02babbae/9f7b821e-0d00-4902-9e14-51c65da93084)

[2020-10-21 18:45] watersemma commented on #14671
Here is the proposed mobile table updates. https://bahdigital.invisionapp.com/share/B8IAF9K75NU Screenshot attached for your convenience.

![Screen Shot 2020-10-21 at 2.31.48 PM.png](https://images.zenhubusercontent.com/5f7e1db6d6b9a95b02babbae/9f7b821e-0d00-4902-9e14-51c65da93084)

[2020-10-21 18:47] johnhashva commented on #14826
Closing this ticket as it is redundant to #14468

[2020-10-21 18:47] #14826 closed

[2020-10-21 18:48] cohnjesse opened #15141 "Add pension questions to 686c"
# Background
The pension line of business has asked us to add a few questions about income inside a few of the workflows for the 686c. The questions/ workflows are -

- When adding dependent, an optional `yes, no` question: "Did this dependent have income in the last tax year?"
- When adding dependent, at the end of the workflows ad a page with one `yes, no` question: "Did the household have a tot

[2020-10-21 18:49] pnwstevan opened #15142 "[Support Slackbot] Set up in EKS Utility cluster"
## Description
Currently the VA Support bot uns in Heroku. In discussing with @f1337 there are a number of good reasons to have this running in VSP infrastructure.

## Background/context/resources
[(old support bot repo)](* Source/config here : https://github.com/department-of-veterans-affairs/va.gov-support-slackbot)

## Technical notes
[New support bot repo](https://github.com/department-of-vete

[2020-10-21 18:50] pnwstevan commented on #15142
CC: @f1337 @dginther

[2020-10-21 18:52] jason-gcio commented on #12463
VRE may be creating this pdf since they are getting the structured data

[2020-10-21 18:53] bridgethapner commented on #15058
Hi there @bessgreen -- thank you for checking in on this. I checked in with the VA.gov team that owns this and **yes** the field should be disabled, and it should also display "**United States**" as the country selection because military bases are considered within the United States. I am having access issues with my Craft/Invision today so cannot update the prototype at the moment, but here is a

[2020-10-21 18:55] 1Copenut commented on #15123
@jenstrickland I added my feedback, two small items. We are 💯

[2020-10-21 18:57] bridgethapner commented on #15097
Hi there @bessgreen Yes each of the three address fields has a 35 character limit. This character limit is noted in the content spreadsheet & it applies to all address types. For now, we won't display this to the user. I'll create a separate story for this for the backlog.

[2020-10-21 19:00] jason-gcio opened #15143 "Initial Integration with VRE API"
## Background
The VR&E team has provided some endpoints for us to use and we need to ensure we have what we need to integrate with that service.

## Considerations
Per Steve: https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/blob/master/VA-Systems/vre-cms/cms-endpoints.md

## Tasks
- [x] Work with devops about setting up a proxy, learn what is entailed
- [x] Gain access to a

[2020-10-21 19:01] brianalloyd commented on #14302
@ncksllvn @kelsonic can you estimate once you pull in for action.  Thanks.

[2020-10-21 19:02] brianalloyd commented on #14285
@ncksllvn @kelsonic please estimate in support of Sprint 33 close out.

[2020-10-21 19:14] 1Copenut commented on #14824
@jenstrickland Feedback looks great. I added 3 small consideration items.

[2020-10-21 19:14] jason-gcio commented on #14974
https://www.knowva.ebenefits.va.gov/system/templates/selfservice/va_ssnew/help/customer/locale/en-US/portal/554400000001018/content/554400000019718/Appendix-A.-Regional-Office-Station-Numbers,-Payee-Codes,-and-Work-Rate-Standards

[2020-10-21 19:15] allison0034 opened #15144 "Design Feedback - Design intent Collaboration - BAM2 Debt Resolution FSR Form #5655"
- **Must** for if the feedback must be applied
- **Should** if the feedback is best practice
- **Consider** for suggestions/enhancements

**Must:**
- None right now

**Should:**

- Prefill as much info as possible

**Consider:**

- None right now

**Definition of Done:**
- [ ] Incorporate the **Must** feedback, and let us know on this ticket when they are updated mockups to check out

- [ ] Leave

[2020-10-21 19:16] digitalken opened #15145 "Contact VA - It takes many tab clicks to start reading page with TalkBack (Android)"
## What happened?
I have to click the tab button many times to get going with reading and tabbing through the page.  I thought it wasn't working at all, but after 16 or so tab clicks, TalkBack started going through the page and reading it for me.  Whenever I finally tab through the page, I have to click the tab button another 16 times to start reading through the page again. (After it lands on the

[2020-10-21 19:19] tlei123 commented on #14059
@camerontesterman , above is the download link for the diary-codes/status/next-steps spreadsheet, which @leahkeeler may have an update for also.

[2020-10-21 19:32] ndsprinkle commented on #14396
My initial thought after looking through the code is that we just need to add the `isBDD` check to all locations that shouldn't show up during the BDD flow. When initially setting up the BDD flow in 526, we left a lot of the conditional pages as-is because they theoretically wouldn't show up in the BDD flow anyway. A prime example of this is rated disabilities, because theoretically the user would

[2020-10-21 19:35] tlei123 commented on #14059
@bradl3yC , IF the latest e2e test files are not on master branch, please let me know the feature branch.  I'd like to take a look at them before my next convo w/ @pjhill .

IF they're work-in-progress, that's fine, just be sure to let me know.

Thx much!

[2020-10-21 19:35] 1Copenut commented on #14409
@sonntag-adam Just verified this fix. Looks good and moving to close.

[2020-10-21 19:35] #14409 closed

[2020-10-21 19:36] leahkeeler commented on #14059
Here is the final edits for content
[Debt.letter.status.final (1).xlsx](https://github.com/department-of-veterans-affairs/va.gov-team/files/5418353/Debt.letter.status.final.1.xlsx) @tzelei

[2020-10-21 19:55] kevinmirc opened #15146 "Add logging for 10-10CG submission attachment attempt"
We should log the error that causes an attachment to not reach CARMA.

[2020-10-21 19:56] bmcgrady-ep commented on #14331
## QA Testing

Description of Interaction | DL Screenshot | Test Status
------------ | ------------- | -------------
VAOS Number of Items > 0 | ![image](https://user-images.githubusercontent.com/66263904/96775607-9a54b280-139c-11eb-8515-c2d4a7ffa9dc.png) | ✔️ **PASS**
VAOS Number of Items = 0 | ![image](https://user-images.githubusercontent.com/66263904/96775676-b8baae00-139c-11eb-9233-2ecbba19449

[2020-10-21 20:01] delli-gatti-michael commented on #14068
Changes are now in Production. Closing this issue

[2020-10-21 20:01] #14068 closed

[2020-10-21 20:04] kevinmirc opened #15147 "Create a single re-attempt for the attachment of a 10-10CG submission"
Out of ~8000 10-10cg submissions, 3 submissions did not have an attachment.

Based on the logs, it looks like the API never attempted to send an attachment because the generation of the PDF failed (see https://github.com/department-of-veterans-affairs/va.gov-team/issues/14429).

Since the PDF generation failure seems to happen randomly, consider implementing a single re-attempt to generate and sen

[2020-10-21 20:06] andaleliz commented on #13340
Created a [google sheet](https://docs.google.com/spreadsheets/d/1zbiYwh-7jH2a88_wp3wMB9F2weGYCl9AvBsK9S2Hiiw/edit?usp=sharing) to track all the follow-up work needed.

[2020-10-21 20:08] kevinmirc commented on #14381
We will not be sending GA events from API, and instead will do all reporting from the logs.

[2020-10-21 20:08] #14381 closed

[2020-10-21 20:09] DanielleThierryUSDSVA commented on #14279
Hi @ricetj @LeKeve. Just wanted to connect on this and see if you're ready to chat more about this from a public websites standpoint? Thanks!

[2020-10-21 20:15] peggygannon commented on #15003
Questions/Answers also tracked here for visibility.

Here are answers to your questions. Some of these would be more appropriate for a stakeholder or developer to answer. Let me know if you have any questions about my responses. thx!

General simplification Can ‘Health & Medical Issues & Services’ be simplified? Could we say Health Issues and Services - should go with the main global nav language

[2020-10-21 20:15] andaleliz commented on #14914
@peggygannon @mnorthuis @johnhashva Here's a link to the [conversation guide](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/public-websites/how-to-apply-wizards/discovery/research/wizard-migration-convo-guide.md) - it's in a better state than when I shared in Slack.

We'll likely make some tweaks once the prototype is completed, but pinging you here to give you

[2020-10-21 20:29] bsmartin-ep commented on #14331
Thank you @bmcgrady-ep .

This GTM workspace has been published @lenaecb , @vbahinwillit , @jbalboni .

I should be able to run some sample queries tomorrow.

[2020-10-21 20:31] kristenmcconnell commented on #13148
@mdewey Screenshot in the above comment was just updated based upon our Questionnaire Manager discussion.

[2020-10-21 20:32] rileyorr commented on #14563
The [first iteration wireflows](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/Debt%20Resolution/Financial-Status-Report/design) have been uploaded to GH :)

[2020-10-21 20:37] #14679 closed

[2020-10-21 20:38] amyknox commented on #14672
Closing. Great job walking DEPO through the UI @watersemma !

[2020-10-21 20:38] #14672 closed

[2020-10-21 20:39] amyknox commented on #14671
Looking good! Closing this issue

[2020-10-21 20:39] #14671 closed

[2020-10-21 20:39] ricetj commented on #14279
Hello @DanielleThierryUSDSVA happy to chat more about this anytime. We are still reworking our mockups, but have met and done most of the checks for VSP. I know that @LeKeve has been working with Nick and Kelson as well. And I chatted with Jenn a bit about the URL structure, but I did see in your channel the new update for that here: https://dsva.slack.com/archives/C0173CAJ7A6/p1602882483358100

O

[2020-10-21 20:39] mdewey commented on #14313
VOAS has an example of tabs here: https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/applications/vaos/appointment-list/components/AppointmentsPage/index.jsx#L145-L146. I never got it to work yet, but I will reach to the VOAS team's engineers for some guidance for the configuration.

[2020-10-21 20:41] chrisdlogan commented on #14818
I have uploaded lo-fi wireframes to address future versions of the map where results don't automatically update without Veterans' expressed intent. Also, I have included what could be a temporary fix for allowing Veterans who use screen readers to control the zoom function. This may not be necessary if we are updating the map soon, but I felt it was worth exploring and sharing out to the team.

La

[2020-10-21 20:41] amyknox commented on #14668
@JenLJ - could you ping Lauren Thursday and make sure this is on her radar?

[2020-10-21 20:42] digitaldrk commented on #14529
PR submitted. LOC isn't too bad 😎
https://github.com/department-of-veterans-affairs/vets-api/pull/5119

[2020-10-21 20:45] johnhashva commented on #14914
@andaleliz looks super-solid.   So good to know we are going to have this opportunity to validate our work before we go into production.  Thanks to you and @chrvalla for orchestrating the sessions.

[2020-10-21 20:45] amyknox commented on #14365
UX Review 2/2: Checks out for me.
Although I'm also curious why it's not getting stripped on https://www.va.gov/find-forms/about-form-22-1990/

[2020-10-21 20:46] #14660 closed

[2020-10-21 20:48] amyknox commented on #14681
Interviews with ELRs / SAAs during Sprint 58

[2020-10-21 20:49] amyknox commented on #14673
Moving to in progress.
Help meeting
Closing.
Woot!

[2020-10-21 20:49] #14673 closed

[2020-10-21 20:51] peggygannon commented on #13378
hi, @andaleliz Yes, I think you can remove that link under the button, as we have a link to "Learn more about the BDD program".

[2020-10-21 20:52] peggygannon commented on #10713
Hi, @luke-gcio yes, look good.. thanks for checking back!

[2020-10-21 20:53] micahchiang commented on #15141
For reference - https://github.com/department-of-veterans-affairs/va.gov-team/issues/8779

Also, @cohnjesse can you confirm with @sporeboy, @jason-gcio, or @steve-gov about the Add student workflow? That workflow already contains existing questions about a student's income and net worth. I think I recall Steve saying it was just needed on add child and and spouse.

[2020-10-21 20:59] delli-gatti-michael commented on #14467
Tested by the following testrail test case:
https://dsvavsp.testrail.io/index.php?/cases/view/1038

[2020-10-21 21:00] LeKeve commented on #14279
@DanielleThierryUSDSVA To add on to what @ricetj has said, an initial POC for the app directory widget has been completed and is ready to be integrated into any demo environments that the Learning Center spins up.

The mockups that are currently being worked on will meet some additional requirements for the Learning Center (call to action button, removing filter functionality, etc).

[2020-10-21 21:07] amyknox commented on #14646
@bmcgrady-ep - do you have an ETA on this? Want to make sure we have time allotted to review & discuss. Thanks!

[2020-10-21 21:07] ricetj commented on #13444
@thilton-oddball wanted to see if you needed any other information from my end on running this bug down.

[2020-10-21 21:15] annaswims opened #15148 "[Bug] - Save in progress back button"
If I try to resume a form 526 form where I left off in the middle (locally) and click the back button I am taken out of the form.  I would expect to have a way to go to an earlier section of the form.
![sip_back](https://user-images.githubusercontent.com/19188/96787933-9d619a00-13c0-11eb-978c-e09bb06c76a4.gif)

[2020-10-21 21:27] jason-gcio commented on #13905
@brianalloyd @RLHecht @bethpottsVADEPO @DanielleThierryUSDSVA -

I wanted to circle back to this real quick and make sure our timelines were laid out a little better, apologies for the lack of detail on my part.

- The CH36 folks that are looking for this feature are expecting a go live date of January 4 (the first Monday of 2021).
- I requested our staging review to be December 3, 2020 to allow t

[2020-10-21 21:27] Mottie commented on #15148
I've noticed this happens sometimes when I use the save-in-progress menu and select a return page that is no longer valid - given the state of the form data. Try opening the save-in-progress menu and setting it to the introduction page.

[2020-10-21 21:28] brianalloyd opened #15149 "Cerner Toggle Feature Staging/Production"
## Issue Description
_On staging, if we don't have a feature toggle for the Cerner facility and their MVI `isCerner flag = true`, allow the facility to be considered a Cerner facility.
On production, if we don't have a feature toggle for the Cerner facility and their MVI `isCerner flag = true`, do NOT allow the facility to be considered a Cerner facility._

## Front end tasks
- Staging = MVI `isCe

[2020-10-21 21:30] jenniferlee-dsva commented on #14996
Just calling out from our planning call today that the homepage has the ability to display an optional alert - below the search bar.  The test node currently includes a sample alert component content, so the FE can validate it showing.

Here is the node to test FE with https://prod.cms.va.gov/node/8296

[2020-10-21 21:31] bmcgrady-ep commented on #14646
@amyknox - I'm looking into this now. I'll try to have something for you by EOD tomorrow.

[2020-10-21 21:36] #14820 closed

[2020-10-21 21:37] jenniferlee-dsva commented on #14929
@kelsonic - there's some info here in this Slack: https://dsva.slack.com/archives/C0173CAJ7A6/p1603308091413100?thread_ts=1603306717.408100&cid=C0173CAJ7A6

Basically - the section headers of the bottom bread layers should never be pulled into the TOC jump links. Per Liz, the TOC jump links are just using the H2s in the BLT/turkey/pastrami/seitan part of the sandwich. (The bottom bread layer heade

[2020-10-21 21:38] brianalloyd commented on #13905
@jason-gcio thanks for circling back with an update, Sprint 35 should work unless @RLHecht @bethpottsVADEPO @DanielleThierryUSDSVA have any objections or perhaps more time is needed to complete the required work flows.

[2020-10-21 21:51] Mottie opened #15150 "[Development|Keyboard] HLR: Fix post-wizard focus management"
**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## User Story or Problem Statement

When a user completes the Higher-Level Review (HLR) wizard, the introduction page content becomes visible but focus is lost.

Focus needs to be set on the `H1` and the page scrolled to the top

[2020-10-21 21:52] jenniferlee-dsva commented on #14332
Per Ryan's slack comment: https://dsva.slack.com/archives/C0173CAJ7A6/p1603309729419200?thread_ts=1603306717.408100&cid=C0173CAJ7A6

[2020-10-21 22:06] #14529 closed

[2020-10-21 22:07] bethpottsVADEPO commented on #14979
@jenniferlee-dsva Here's a list of all the articles we have for MVP. I'm not sure you can see related links yet, but maybe by tomorrow?

[2020-10-21 22:07] #14973 closed

[2020-10-21 22:10] jason-gcio opened #15151 "Split the Larger 686/674 Submission into Smaller PRs"
## Background
In order to ensure the 674 submission gets to the right people for approval, we need to split the submission and label it accordingly based on what was selected.

## Previous Tasks
- [x] Create a 674-specific job
- [x] Do a check to see if a 674 workflow was selected, and if found, kick off that other job that applies the correct proctype cod, EP code, BenefitClaimType`*` code to the

[2020-10-21 22:15] #12877 closed

[2020-10-21 22:18] jason-gcio opened #15152 "Test CH36 Submission Process"
## Goal
CH36 uses Central Mail as its submission process; we need to now test its submission for CH36 to operate properly in staging.

## Tasks
- [x] Test in staging

## Acceptance Criteria
- [x] A first pass at testing CH36 has been attempted, results documented in this ticket below

[2020-10-21 22:23] peggygannon commented on #14769
HI, there. @rebeccawalsh @rileyorr @leahkeeler

Content feedback on FSR design intent:
- similar to Mikki's question on the call, will there be a question on form asking users what type of resolution they are asking for?

- I recall there being a letter that users can write explaining in more detail why they are filing a FSR. Will this letter be included in form workflow?

- Confirmation page cont

[2020-10-21 22:40] beth-wodzinski commented on #14600
Pass. this was covered by the other 2 tickets and it's all good.

[2020-10-21 22:45] brianalloyd opened #15153 "XML file for Search.gov team for R&S MVP 1.0 search index"
## Issue Description
_Discussed in planning the need for XML file to be sent to Search.gov team for search indexing of new R&S MVP 1.0_

## Front end tasks
- Prepare XML file for search.gov POC
- Send to @johnhashva for dissemination to search.gov POC

## Acceptance Criteria
- [ ] Validation of indexing post XML implementation

## Planning Considerations
- Ticket is for reminder and trigger for la

[2020-10-21 22:45] brianalloyd commented on #15153
Discussed this in planning, setting a ticket as a reminder and trigger in support for this Sprint.

[2020-10-21 22:48] jchasia-adhoc opened #15154 "The Platform Newsletter: October"
Requesting content review of the October newsletter.

Link to draft newsletter: [https://us19.admin.mailchimp.com/campaigns/wizard/neapolitan?id=4555136](https://us19.admin.mailchimp.com/campaigns/wizard/neapolitan?id=4555136)

Target release date for newsletter: week of 10/26

[2020-10-21 22:49] jason-gcio opened #15155 "Create a Blank Page on the PDF for the 686 OR Add Questions to Remarks Page"
_Keep this in case we need to refer to this and move pension info to the Remarks page or make a new blank page_

## Background
Newly added pension questions need to be stored somewhere so that the data can be codified into the PDF when a Veteran submits their application.

## Considerations
Considering the use case of adding multiple dependents, the `Remarks` section is probably a better candidate

[2020-10-21 22:49] bmcgrady-ep commented on #14334
I checked Google Analytics and DOMO and Laurence Guild had no access to either.

[2020-10-21 22:53] bmcgrady-ep commented on #4552
@MickinSahni @jenniferlee-dsva - Is there anything else you guys need in regard to this request?

[2020-10-21 22:57] narin commented on #14600
Thank you @beth-wodzinski.  One thing I wanted to confirm is that we've tested the different eligibility scenarios (e.g. user has to have been seen within the past X months to request an appointment, and user is over request limit).  If either you or @marcynadeau have tested these, we'll move forward with our 20% roll out.  Thanks!

[2020-10-21 23:07] steve-gov commented on #13782
![5B296BAA-6A38-4EB0-A3EB-4FF48B766F34](https://user-images.githubusercontent.com/25468689/96799152-5327eb00-13b7-11eb-8c6c-6eb835ecbe43.png)

https://mhv-intb.myhealth.va.gov/html/portal/saml/sso_error.jsp

BASIC account results in the above screenshot at the above URL

[2020-10-21 23:10] digitalken commented on #13895
Testing:

1. Verify tapping on edit button for email address takes user to a new page for editing.
2. Verify the edit page for the email address only has one "Email address" field.
  a. Verify when user taps into or selects this field, the "email address" keyboard should appear. (Keyboard with a @ symbole.)
3. Verify that ellipses will appear when a field is too long to fit on one line.
4. Verify

[2020-10-21 23:11] digitalken commented on #13895
@bessgreen, the design link for this story doesn't seem to be correct.
From above:  https://adhoc.invisionapp.com/share/YUYRT9BAPSB#/screens/432057841https://adhoc.invisionapp.com/share/YUYRT9BAPSB#/screens/432057841

[2020-10-21 23:12] steve-gov commented on #13782
ADVANCE account exactly the same

[2020-10-21 23:14] steve-gov commented on #13782
PREMIUM account lands on https://int.eauth.va.gov/accessva/#forVeterans

![EB9FA0A0-4C4D-474A-BEE3-FCC3B4570DFF](https://user-images.githubusercontent.com/25468689/96799574-4c4da800-13b8-11eb-92a9-eac89fcef7c0.png)

![9A66A1A2-4B78-438A-ACE9-F387CF588FD2](https://user-images.githubusercontent.com/25468689/96799576-4d7ed500-13b8-11eb-9615-ec8bb72ac613.png)

[2020-10-21 23:15] bessgreen commented on #13895
@digitalken there aren't designs for the edit email screen - I'll remove the link to avoid confusion.

[2020-10-21 23:20] bmcgrady-ep commented on #11480
@joanneesteban - I added the CSAT scores to the Medical Device Reordering Tool. Let me know if anything else is needed for this. Thanks!

[2020-10-21 23:25] digitalken commented on #13894
Testing:

1. Verify that tapping on the edit button for phone number will take the user to a new page where they can edit that field.
  a. Header for edit page should include:
    i. Cancel in place of back button.
    ii. Save button.
2. Verify the page title reflects the selection from the previous page:
  a. Home Phone or
  b. Work phone or
  c. Cell phone or
  d. Fax number
3. Verify formattin

[2020-10-21 23:40] #14312 closed

[2020-10-21 23:41] digitalken commented on #13891
Testing:

1. Verify the "How do I update my personal information?" hyperlink routes to a new page.
2. Verify bottom nav bar is removed from this page.
3. Verify styling and UI matches design.
4. Verify there is a working hyperlink to "Find your nearest VA medical center" or "Find your nearest Vet Center."
  a. Verify hyperlink opens in the browser, out of app to https://www.va.gov/find-locations
5

[2020-10-22 00:27] bessgreen opened #15156 "Documentation"

[2020-10-22 00:32] bessgreen opened #15157 "Document accessibility testing plan"
- [ ] Document:
     - The requirements that will guide the the VA.gov Mobile App build
     - The accessibility tools and materials that will be used during testing
     - The testing protocol and steps that will be taken when reviewing the accessibility capabilities in the app
- [ ] Add to GitHub: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/va-mobile-app/te

[2020-10-22 00:33] #15157 closed

[2020-10-22 01:31] tlei123 commented on #14059
^ @bradl3yC @camerontesterman , fyi, Leah just added download-link above for statuses spreadsheet.

[2020-10-22 01:35] kristenmcconnell opened #15158 "[UI] Questionnaire Manager and Print PDF Refinement"
## User Story
- Veterans need the ability to manage their questionnaire list on va.gov in addition to receiving a notification to complete the form. The Veteran also needs the ability to view and print completed questionnaires.

## Related Documentation
 - [MVP: Visit Intro Initiative (Proof of Concept)](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care

[2020-10-22 03:55] bethpottsVADEPO commented on #14979
@lunascoop In the morning, can you update the H1s listed in this ticket with the most recent H1s that you see in drupal?

[2020-10-22 04:30] bethpottsVADEPO commented on #14376
@jenniferlee-dsva, here are 8 out of 10 topics to be featured on the home page. Below this I’ve listed the other articles for you to look at SEO for to determine the remaining 2 articles.

 **Other topics and questions**
1/ How to check your VA claim or appeal status online
http://preview-prod.vfs.va.gov/preview?nodeId=8520

2/ What your claim status means
http://preview-prod.vfs.va.gov/preview?no

[2020-10-22 05:08] drorva commented on #8139
@f1337 @joeniquette close this or keep it  open?

[2020-10-22 11:06] #14676 closed

[2020-10-22 11:31] ala-yna opened #15159 "Frontend - Add mailing and home address to the 10-10EZ"
As a Veteran
I want to be able to distinguish between my mailing and home address on my health care application
While logged in or unauthenticated
So that I can be contacted in the best way by the VA.

Frontend: See designs [here](https://vsateams.invisionapp.com/share/3WZ5PNQSX67#/screens/435149167_Unthenticated-Blank_-v-2-2)
Backend: Update backend to use Address types:
P - “Permanent” aka Maili

[2020-10-22 11:40] ala-yna opened #15160 "[Frontend] Unnest medical care questions from schema on 10-10CG"
## User Story
As a Veteran,
I have the option of entering where I last received medical care on the 10-10CG.
Because this is an optional two-part question, I want both parts to be required if one part is filled in, and otherwise, I want to be able to leave them both blank.

## Expected Behavior
Unnest the two properties so they are no longer dependent on each other. Currently due to them being in

[2020-10-22 11:46] ala-yna opened #15161 "Allow Veterans to apply to PCAFC with only secondary caregiver(s)"
As a Veteran with a secondary family caregiver
I want to be able to complete the PCAFC application
So that my secondary family caregiver can be recognized by the VA and receive needed support.

Current stage: research and design.

[2020-10-22 11:50] DanielleThierryUSDSVA commented on #14279
Thank you, @ricetj and @LeKeve! This is all great. I'll check in with Beth today, as she's the closest to the Learning Center progress, and get back to you on next steps for integrating. Thanks again!

[2020-10-22 11:57] ethanteague opened #15162 "Implement System nav query for frontend consumption"
This is the drupal piece for https://github.com/department-of-veterans-affairs/va.gov-team/issues/12970

Completed here: https://github.com/department-of-veterans-affairs/va.gov-cms/pull/3110

[2020-10-22 12:02] sonntag-adam commented on #13439
in all environments, closing story.

[2020-10-22 12:02] #13439 closed

[2020-10-22 12:09] leahkeeler opened #15163 "DebtRes Ch1 - Veteran Information"
As a Veteran who has been authenticated on va.gov by logging in my personal information is refilled from the vets profile service, I want the option to review my information and change if it is incorrect.

![image.png](https://images.zenhubusercontent.com/5e41d853bb7b6d67d84e6080/ca4c8279-1a3f-43ed-a6f0-f8ac7ce92a8a)

[2020-10-22 12:19] leahkeeler opened #15164 "DebtRes Ch1 Veteran Information - Available Debts"
As a veteran who is logged into debt portal I would like to see a list of resolution options and a list of debts I have with the anilty to select the debt I am seeking resolution for.

![image.png](https://images.zenhubusercontent.com/5e41d853bb7b6d67d84e6080/c912ca2e-620e-461d-b64e-ff1045fa1010)

[2020-10-22 12:20] leahkeeler commented on #13981
I am going to close this as the due diligence on the forms was covered in design intent and slack and will roll into ongoing work

[2020-10-22 12:20] #13981 closed

[2020-10-22 12:25] leahkeeler opened #15165 "DebtRes FSR BE Integration VA Benefits"
As a Veteran filling out the FSR form, I would like to have my VA benefits pre-filled since the VA should have this information. Additionally, the DMC looks at the amount eligible NTO the actual amount paid - having this information pre-filled which will  result in less errors and faster processing times benefiting  both the Veterans and DMC.

[2020-10-22 12:25] #15148 closed

[2020-10-22 12:29] #14378 closed

[2020-10-22 12:42] annaswims commented on #13050
verifiedin staging. will fix.

[2020-10-22 12:56] f1337 commented on #8139
Keep open please, at least until we get through planning. This is one of the initiatives we voted on in the survey.

[2020-10-22 13:01] jbritt1 opened #15166 "Test / Research Possibility of Switching to CentOS 8 for Underlying AMI Base Layer (Instead of AMZN Linux 1)"
## Issue Description
Test for issues / possibility of moving from Amazon Linux 1 base AMI layer to CentOS 8. Due to issues found with Amazon Linux + Python 3 + Ansible, there would essentially no best practice compliant way to get rid of Python 2 entirely while using Amazon Linux and Ansible. This ticket is to track some testing / any findings for the possibility of moving over to CentOS 8 for our

[2020-10-22 13:12] delli-gatti-michael commented on #14365
Closing this out

[2020-10-22 13:12] #14365 closed

[2020-10-22 13:16] sonntag-adam commented on #15111
This is fixed and shows correctly in windows in all browsers. Closing bug.

[2020-10-22 13:16] #15111 closed

[2020-10-22 13:24] mdewey commented on #14313
Documented notes here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/engineering/questionnaire-manager/README.md

[2020-10-22 13:24] #14313 closed

[2020-10-22 13:30] delli-gatti-michael commented on #14066
Local testing complete

[2020-10-22 13:35] lunascoop commented on #14979
@bethpottsVADEPO I've updated the H1s listed in this ticket

[2020-10-22 13:44] #13552 closed

[2020-10-22 13:44] jenstrickland opened #15167 "Accessibility feedback - Usability Testing Prep - Public Websites [Wizard Migration]"
**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix and/or document decisions made.
1. Accessibility specialist will close ticket after reviewing documented decisions / validating fix.

## Point of Contact

VSA: Jen

[2020-10-22 13:45] #13159 closed

[2020-10-22 13:48] jbalboni opened #15168 "Update VAOS Cerner check to use blocklists"
There are some new selectors for getting Cerner sites that support scheduling, we should use those so we're consistent with the rest of va.gov.

[2020-10-22 13:52] caw310 opened #15169 "Set up continuous integration to publish Storybook"
## Issue Description
 Set up continuous integration to publish Storybook

---
## Tasks
- [ ] Backend work to set up CI to publish to Storybook

## Acceptance Criteria
- [ ] New Component and form pattern and updates are published to storybook
---

[2020-10-22 13:53] jenniferlee-dsva commented on #14332
Reporting possible bug - please see slack. It might be a CMS bug, but it could be FE - hard to tell:
https://dsva.slack.com/archives/C0173CAJ7A6/p1603374439437800

[2020-10-22 13:55] caw310 opened #15170 "Set up CI to publish to NPM"
## Issue Description
Set up Continuous Integration to publish to node package manager

---
## Tasks
- [ ] Set up of integration to publish to NPM

## Acceptance Criteria
- [ ] CI to publish to NPM is functioning
---

[2020-10-22 13:58] caw310 opened #15171 "Set up CI to reject a change without a version bump"
## Issue Description
Set up continuous integration to reject a change without a version bump

---
## Tasks
- [ ]  Set up CI to only publish when version is changed

## Acceptance Criteria
- [ ] If version does not change CI is rejected
---

[2020-10-22 14:01] sonntag-adam opened #15172 "1995/10203: Missing the blue line under ‘Need Help?’ on confirmation page/UX updates"
Steps to reproduce
1. Navigate and submit for both forms and stop on the confirmation page for
https://staging.va.gov/education/apply-for-education-benefits/application/1995/introduction
&
https://staging.va.gov/education/other-va-education-benefits/stem-scholarship/apply-for-scholarship-form-22-10203/introduction

1.  Missing the blue line under ‘Need Help?’
2. The ‘go back to VA’ button at the e

[2020-10-22 14:02] sonntag-adam commented on #14358
Bug for above fixes.
https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/15172

[2020-10-22 14:02] caw310 opened #15173 "Set up CI to create a PR in vets-website with the updated component library dependency version"
## Issue Description
Set up CI to create a PR in vets-website with the updated component library dependency version

---
## Tasks
- [ ] Set up continuous integration to create a pull request in vets-website with updated dependency version

## Acceptance Criteria
- [ ] CI creates PR in vets-website with updated dependency version
---

[2020-10-22 14:08] jenniferlee-dsva commented on #14329
I've been commenting on this OTHER ticket which appears to be a duplicate of this one. @brianalloyd  can we consolidate or get rid of one? :-/

@kelsonic - Oksana commented here. She thinks the bug I discovered is a FE issue: https://dsva.slack.com/archives/C0173CAJ7A6/p1603317885423900

[2020-10-22 14:08] jenniferlee-dsva commented on #14348
This appears to be a duplicate of [#14329](https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/14329)

[2020-10-22 14:21] RLHecht opened #15174 "Confirm R&S multiple Q&A answers aren't standalone articles"
## Issue Description
When a content editor creates a single Q&A there is a checkbox to "Enable standalone page." We do not want this box checked if the node is currently only used as part of a multiple Q&A article, otherwise the page will also get published as its own article.

A content team member needs to confirm that all the single Q&As built in Drupal that are ONLY part of a multiple Q&A do n

[2020-10-22 14:23] RLHecht commented on #15174
@bethpottsVADEPO This is the ticket I created for @lunascoop to check the single Q&As. Are there any nodes we've created that we currently want as both a standalone article and as part of a multiple Q&A? If so, can you please list it above? If not, we'll make sure the box isn't checked for all the ones that are only part of the multiple Q&A articles. If at a later date we want to use one as a stan

[2020-10-22 14:27] watersemma commented on #14358
UX Review 2/2 - Looks good! Thank you for adding a bug.

[2020-10-22 14:32] sonntag-adam commented on #14358
Closing story, bug will address issues found.

[2020-10-22 14:36] bethpottsVADEPO commented on #14704
Tammy Hurley, Luke Tickner, and Joseph Welton. Thanks!

[2020-10-22 14:42] #14200 closed

[2020-10-22 14:42] #13649 closed

[2020-10-22 14:42] #14720 closed

[2020-10-22 14:42] #14199 closed

[2020-10-22 14:42] #14846 closed

[2020-10-22 14:42] #13696 closed

[2020-10-22 14:43] #14029 closed

[2020-10-22 14:49] brianalloyd commented on #14329
@jenniferlee-dsva the other ticket is for 'content' add which is a supporting ticket to this FE Build ticket which are rolling up into the 'Need more help' EPIC.  The above ticket was created by Oksana in support of CMS build requirements and not on our LC board.  Let me know if I'm missing something, thanks.

[2020-10-22 14:50] delli-gatti-michael commented on #13850
The feature flag is gone. Closing this issue

[2020-10-22 14:50] #13850 closed

[2020-10-22 14:50] bridgethapner commented on #14031
Hi there @peggygannon and @DanielleThierryUSDSVA Just wanted to give a heads up that I added one more place we would like your guidance, if possible, to this ticket (#2 - Error States). Please let me know if you have any questions about anything listed in the ticket body! Thank you again for your help!

[2020-10-22 14:52] kfrz opened #15175 "Update Sentry to 20.7.0"
## Background

In order to integrate with GitHub, we'll need to upgrade to at least 20.7.0, see this issue on Sentry's forum:

https://forum.sentry.io/t/sentry-using-a-deprecated-github-api-endpoint/10393

and this GitHub changelog:

https://developer.github.com/changes/2020-04-15-replacing-create-installation-access-token-endpoint/

Luckily, upgrading Sentry is as simple as updating the version n

[2020-10-22 14:56] kevwalsh commented on #14578
## Event nodes with this data

![Edit_Event_Tele-Townhall_Live_in_California__with_Under_Secretary_for_Benefits__Paul_Lawrence___VA_gov_CMS](https://user-images.githubusercontent.com/643678/96888646-dac33780-1453-11eb-8316-840e19493fc3.jpg)

![Edit_Event_MCEC_Education_Summit_2020___VA_gov_CMS](https://user-images.githubusercontent.com/643678/96888716-e9115380-1453-11eb-8730-c19294011f4f.jpg)

##

[2020-10-22 14:57] kelsonic commented on #15149
Thank you for creating this! Super helpful how you add tags + the epic link too 🙏 📈

[2020-10-22 14:59] kelsonic commented on #14332
PR is open to add beneficiary tags as well 🙂 https://github.com/department-of-veterans-affairs/vets-website/pull/14670

[2020-10-22 15:15] #7543 closed

[2020-10-22 15:15] #8416 closed

[2020-10-22 15:16] kevinstachura commented on #14398
Good morning @barrycooper727 ! Thanks so much for meeting with us yesterday. As Nick and I were going through some of the interaction states, we encountered a couple conditional fields/boxes for when a SM selects 'existing condition worsened' as shown here:

<img width="559" alt="Screen Shot 2020-10-22 at 10 11 19 AM" src="https://user-images.githubusercontent.com/54544300/96891125-558d5200-1456-1

[2020-10-22 15:20] MickinSahni commented on #10758
Swapping team labels

[2020-10-22 15:24] mnorthuis commented on #15005
No IA feedback, looking forward to seeing results!

[2020-10-22 15:24] bridgethapner commented on #13071
**MVP:**
- Link to call center with context from LOA gating screens?
- Consider adding value prop of app features?

**Post-MVP**
- Look at including LOA users - letting them sign in, and "locking" features they can't access

[2020-10-22 15:26] jbalboni opened #15176 "Error transforming video appointments without a provider name"
In past appointments, if we get a video appointment without a provider name, an error occurs

[2020-10-22 15:26] tressaellen commented on #15115
@callen2563 @Samara-Strauss @rtwell @mshea0606 @sshein - here is the first dump of wireframe directions. For this first push we explored the amount of information shown to a user. I'll be posting each in a separate comment so it's a little easier to track feedback.

This first one is the 'x-small' version aka springboard approach. Basically the very very minimum amount of information that we could

[2020-10-22 15:29] hughes-dustin commented on #14417
@1Copenut Looking into your feedback now. I'll see what I can do.

[2020-10-22 15:33] Samara-Strauss commented on #15115
Awesome, thank you for sharing these! Looking forward to our discussion later.

[2020-10-22 15:34] jason-gcio opened #15177 "Add URL to Routing YML File for CH31"
## Background
The staging url for CH36 appends an `/introduction` to the link after visiting but if visited directly, it will 404

**For example:**
`https://staging.va.gov/careers-employment/vocational-rehabilitation/apply/introduction`

In order to fix the issue we need to add the URL for the form to the file in the devops repo at `ansible/deployment/config/revproxy-vagov/vars/react_routes.yml`

[2020-10-22 15:34] rianfowler opened #15178 "upgrade css-loader and postcss-loader"
## Overview

- the css-loader on vets-website is over 2 years old and is blocking VFS teams from importing css from third party libraries
- slack thread: https://dsva.slack.com/archives/CBU0KDSB1/p1603310486386000

[2020-10-22 15:35] tressaellen commented on #15115
Third - we did a 'medium' version with a little bit more information included and where all notifications would be tied specifically to each collapsible section.

![myVA 3 (med)-closed.jpg](https://images.zenhubusercontent.com/5dfa65bbbd078d1699e52294/0c2f0ad9-8004-4c47-8508-96f87ec313f0)

We explored a couple different options for how to display these status updates/how much information to includ

[2020-10-22 15:37] jholton opened #15179 "Determine best option for logging SSO SAML cookie transaction ID value"
We [have implemented](https://github.com/department-of-veterans-affairs/vets-api/blob/9e2dd479158f37c1e2f056c57c270bec448faddb/app/controllers/v1/sessions_controller.rb#L160-L184) the creation of a SAML cookie for tracking login requests across va.gov/eauth/ID.me

We are including in this cookie [a transaction ID](https://github.com/department-of-veterans-affairs/vets-api/blob/9e2dd479158f37c1e2f0

[2020-10-22 15:38] jholton commented on #15179
@ericbuckley we could use your opinion here.

[2020-10-22 15:39] keli13 commented on #14803
Added mock data to the backend api call until things get approved in staging. Once approved, will double back and remove the mock data.

[2020-10-22 15:40] kelsonic commented on #14348
Agreed, I think this is a duplicate and can be closed

[2020-10-22 15:40] #14348 closed

[2020-10-22 15:40] tressaellen commented on #15115
Lastly we have our 'large' category - basically any and all information included as well as a couple more ideas on how to show status updates.

This one is basically elevating all status notifications but without specific information.

![myVA 4 (lrg) - status 1.jpg](https://images.zenhubusercontent.com/5dfa65bbbd078d1699e52294/b2a1b03f-00a0-49cc-b15e-cf49ba65a014)

This one has all status updates

[2020-10-22 15:40] mnorthuis commented on #14531
Hi @kevinstachura, the breadcrumb in the prototype is missing a level - it should include the static HLR page in the hierarchy.   Details here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/information-architecture/ia-reviews/bam-higher-level-review.md

Breadcrumb on the form should be:
Home > VA decision reviews and appeals > Higher-Level Reviews > Request a H

[2020-10-22 15:42] kelsonic commented on #14329
Need to filter for duplicate support service links for Need more help within each benefit hub that's associated with a template, you can read more here: https://dsva.slack.com/archives/C0173CAJ7A6/p1603376451439800?thread_ts=1603317885.423900&cid=C0173CAJ7A6 moved back into current sprint

[2020-10-22 15:42] jenniferlee-dsva commented on #14376
@bethpotts - your list of acct/profile articles lgtm.

RE the articles you wanted SEO data on, the `commissary `topic had the highest MSV, but you would need to add "VA" to not dilute competetiveness with commissary queries for military and branch-specific results. Next strongest MSV topic is `service dogs`. The PDF trouble topic had no relevant organic searches. Find a facility had none as well.

[2020-10-22 15:45] JenLJ commented on #14668
Study kicked off - closing story

[2020-10-22 15:45] #14668 closed

[2020-10-22 15:45] tressaellen commented on #15115
I've added [all the screens to invision](https://cassandraallen738782.invisionapp.com/console/HP-mobile-logged-in-ckeyhydog01kz01xd3tao5pcj/ckgkztfzz09ib01ea4mv33wh0/play) as well in case that's a little bit easier to peruse.

[2020-10-22 15:46] jenniferlee-dsva commented on #14376
**SEMRush export report:**
[VA_consolidated-phrase_related-us-1.xlsx](https://github.com/department-of-veterans-affairs/va.gov-team/files/5423917/VA_consolidated-phrase_related-us-1.xlsx)

[2020-10-22 15:46] mnorthuis commented on #14468
Background info here: https://github.com/department-of-veterans-affairs/va.gov-team/issues/14826

[2020-10-22 15:46] joeniquette opened #15180 "MVI Request Validation Bug"
## What happened?
Sentry reported [here](http://sentry10.vfs.va.gov/organizations/vsp/issues/3223/?environment=production&project=3&query=is%3Aunresolved+assigned%3A%23vsp-identity&sort=freq&statsPeriod=14d) that MVI sent back a response informing us that we sent MVI an invalid `find profile` response.

## Specs:
- Device: All
- Browser: All
- Test User _(if applicable)_: N/A

## Steps to Reproduc

[2020-10-22 15:47] joeniquette commented on #15180
@benniemosher @christine-dillman @jholton Adding you three in here for visibility

[2020-10-22 15:47] johnhashva commented on #14955
@ncksllvn  just heard back from Dawn on your question, her response:

Hi John, the access_key is definitely required, it's uniquely paired with the affiliate handle.

However, it's the same access_key as you use for your search calls, so perhaps for the click call the key can just be referenced from its current location? or managed in the same way?

Dawn

[2020-10-22 15:48] Samara-Strauss commented on #15115
This is really awesome work. See you at 2:00 ET!

[2020-10-22 15:50] annaswims commented on #13050
If I log in as user 229 I see `Effective date:Invalid date` on https://www.va.gov/disability/about-disability-ratings/

in staging we're seeing responses with date formats like `"effective_date"=>1335848400000,

full parsed response:
[code]

[evss docs](https://department-of-veterans-affairs.github.io/va-digital-services-platform-docs/api-reference/index.html?url=https://raw.githubusercontent.com/

[2020-10-22 15:51] mnorthuis commented on #13378
I'm curious if we can actually change the breadcrumb and H1 between the general comp claim and the BDD claim?  Technically it is the same form, so we may want to check with them on that.  This is different than education where each scenario is a separate form.

[2020-10-22 15:53] shiragoodman opened #15181 "New Team VSP Orientation"
## User Story
As a new VA.gov team member, I need to complete onboarding activities so I can successfully work on my project.

## Acceptance Criteria
- [ ] Each team member has completed each item in the orientation checklist below.

## Onboarding Checklist

- [x] Attend general orientation meeting
- [x] [Request Access to Tools](https://github.com/department-of-veterans-affairs/va.gov-team/blob/m

[2020-10-22 15:54] srmyers17 opened #15182 "Analytics Reporting Request for Sophie (VA Mobile App Team)"
# Metrics Reporting Request

## What this form is for

Use this template to request one-off performance, usability, or outcomes va.gov metrics that is difficult to access or that needs analytics interpretation.

Insights will usually provide data reports within the current sprint, but if there is time-sensitivity, please note them in "additional comments."

## Instructions

Please fill out the fol

[2020-10-22 15:57] pjhill commented on #15005
No QA feedback at this time.

[2020-10-22 15:58] bridgethapner commented on #13205
Feedback from 10/22 sync with Martha + Steve:
- Clarify 50 MB limit in UI
- Look into prioritizing docs by most common types
- Consider adding a message along the lines of "If you are uploading more than 10 pages, desktop will be better"
- Think about framing tool as "Quick Upload" for small files only

[2020-10-22 15:58] jbalboni opened #15183 "vaos_server_error when clicking on current location button"
We're seeing a few different error events when people (I think) click on the use current location or use address on file button links.

http://sentry10.vfs.va.gov/organizations/vsp/issues/4094/?environment=production&project=4&query=is%3Aunresolved+url%3Ahttps%3A%2F%2Fwww.va.gov%2Fhealth-care%2Fschedule-view-va-appointments%2Fappointments%2Fnew-appointment%2Fva-facility-2&statsPeriod=24h
http://se

[2020-10-22 15:59] #14204 closed

[2020-10-22 16:01] jbalboni opened #15184 "Loading state for new facility page may be confusing"
Based on the breadcrumbs in this Sentry issue, the way we disable radio buttons makes it look like we unselect a users option while they're waiting for eligibility or other things to happen. We also don't appear to disable links during this state.

We may want to consider handling the loading state differently.

http://sentry10.vfs.va.gov/organizations/vsp/issues/4084/?environment=production&proje

[2020-10-22 16:04] srmyers17 commented on #13788
Hey @pjhill - We're interested in setting up a load testing and QA intro. We're PST so afternoons are preferred and Thursdays and Fridays seem to work best. I'm out of office next week, so perhaps the week of Nov 2nd works best. Let me know if there is anything you need from me to set this up.

[2020-10-22 16:05] #14356 closed

[2020-10-22 16:08] rileyorr commented on #14769
Thank you for the feedback, @mnorthuis!

We're currently exploring both of those actions right now - apologies they weren't included in the initial flow. Right now we've placed "debt selection" towards the beginning of the form right after the Veteran verifies their personal info (name, SSN, DOB). I think it's important to include information about the types of debt resolution available in this se

[2020-10-22 16:10] andaleliz commented on #13378
@mnorthuis I modeled those after what is available in staging.  Who is the "them" I should check with?  Thanks!

[2020-10-22 16:12] peggygannon commented on #15005
Hello, @andaleliz the prototype is looking good!! Just a few minor content tweaks, which I dropped into the prototype.

[2020-10-22 16:12] bethpottsVADEPO commented on #14981
@lunascoop I'm wondering if we could make this a step by step... see below.

@jenniferlee-dsva @ncksllvn Is this accurate now?:

**What if I'm having trouble opening a PDF on VA.gov?**

1. Download the PDF to your desktop.

2. Open Adobe Reader.

3. From the **File** menu, choose **Open**.

4. Select the PDF.

If you're still having trouble, you may have an older version of Adobe Reader. Please do

[2020-10-22 16:17] annaswims commented on #13050
Asking in EVSS channel https://dsva.slack.com/archives/C1VBAHWQL/p1603383347019100

[2020-10-22 16:29] erluti opened #15186 "Document how to configure Slack alerts in Sentry"
## Background

Sentry integrates with Slack, to allow developers to monitor Sentry and be alerted to high error volume, unusual errors, etc.

VSP should document the process for VFS users will follow in order to create a custom alert that posts to Slack.  The goal is to empower the VFS teams to leverage this functionality, whether or not they can self-service. We expect to support this feature's u

[2020-10-22 16:29] meganhkelley commented on #14609
@DanielleThierryUSDSVA @brianalloyd after attempting to track down the owner of the MHV file included in the screenshot I linked above, I think it makes most sense for Public Websites to own changing that instance.

Related to MHV ownership: https://dsva.slack.com/archives/CE4304QPK/p1603377835200200

And from Corey Trimm: "Identity does not own MHV. [...] Looking at the history of changes in that

[2020-10-22 16:32] #14807 closed

[2020-10-22 16:32] mnorthuis commented on #13378
If its available in staging, then I guess that answers my question :-)!  Carry on!

[2020-10-22 16:33] andaleliz commented on #13378
Sounds good! Will close this out - thanks all :)

[2020-10-22 16:33] #13378 closed

[2020-10-22 16:34] mnorthuis commented on #13378
The breadcrumb does have a typo on the BDD intro page.  It should be "Benefits **Delivery** at Discharge".

[2020-10-22 16:36] RockslideJr opened #15187 "Access for John Borden"
# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please Provide your email.

- Please provide the name of your team, your role on that team, and the name of the company you work for.

- Requesting SSH key authorization?

   - What is your **public** SSH key? If you don't have a SSH Key or know how to find it [click here](https://g

[2020-10-22 16:36] RockslideJr commented on #15187
@department-of-veterans-affairs/vsp-operations

[2020-10-22 16:41] rileyorr commented on #14769
Thanks for the feedback, @peggygannon!

I answered this q in my response to Mikki's feedback! Let me know if you have additional questions :)

 Yup! I provided info about this in my response to Mikki's feedback. We're exploring a couple options with the "letter". It's basically just additional context about the Veteran's financial situation and why they're requesting a waiver/compromise.

Yup, we

[2020-10-22 16:46] erluti commented on #14800
We need to learn more about how vcr_cassettes interact with our different environments and what it means to change this text.

[2020-10-22 16:52] joanneesteban commented on #11480
Thanks, @bmcgrady-ep ! Would you be able to make this a weekly view?

[2020-10-22 16:52] meganhkelley opened #15188 "Move Pact broker from Heroku -> VSP infrastructure (AWS)"
### Details

The Pact broker dashboard is currently hosted on Heroku: https://vagov-pact-broker.herokuapp.com/ However, this solution is not scalable because we have already hit the limits of the free Heroku plan. As a result, we have decided (insert link to decisions doc) to move the broker onto existing infrastructure (AWS).

### Decisions to be made

* Will this change require moving the CI fro

[2020-10-22 16:58] bmcgrady-ep commented on #14984
@ricetj - After checking with Jon and Brian, we don't have access to the GA or GTM for mobile.va.gov website. Let me know if there is anything else you need in regard to this request. Thanks!

[2020-10-22 16:59] bethpottsVADEPO commented on #14376
@jenniferlee-dsva thanks! We'll go with the commissary article for sure. Haven't yet heard back with a SME thumbs up from Jeff and Jenny re: service dogs, so I'm going to pull in the VIC one instead. If we can swap it out for service dogs Friday or Monday, we will. Would be really fun to have an article about dogs on our home page!!

[2020-10-22 17:01] digitaldrk commented on #15151
PR:
https://github.com/department-of-veterans-affairs/vets-api/pull/5139

[2020-10-22 17:09] #3154 closed

[2020-10-22 17:11] bessgreen commented on #14807
Spike surfaced 2 options for implementation:

1. Open the file with the OS file viewer directly. The OS file viewer has options for sharing, save to specific locations, etc., but this is happening outside of the app so there is no in-app .pdf viewing experience

2. View the file in an in-app screen where we could define the look and controls, accessibility options, etc. This would include the opti

[2020-10-22 17:13] rianfowler commented on #15178
## css-loader breaking change resolution

| Version       | Breaking change     | Resolution     |
| :------------- | :----------: | -----------: |
|   [1.0](https://github.com/webpack-contrib/css-loader/blob/master/CHANGELOG.md#breaking-changes-2) | remove minimize option    | add `cssnano` dependency as post-css plugin |
||removed module option| not used |
||removed camelcase option|not used|
||

[2020-10-22 17:20] ericbuckley commented on #15179
@jholton good point, I think adding that information to the `saml_request_stats` and `saml_response_stats` functions in the V1 SessionController makes the most sense.  Both methods increment statsd counters and emit log messages, the transaction id is only useful in the latter.

[2020-10-22 17:22] pjhill commented on #13788
Sure -- given R and F work best for you how about 11/5 2-3PM ET or 11/6 1-4PM ET?

[2020-10-22 17:28] mmiddaugh commented on #14578
Example urls from Pittsburgh
[Events](https://www.va.gov/pittsburgh-health-care/events/)
[News releases](https://www.va.gov/pittsburgh-health-care/news-releases/)
[Situation Update](https://www.va.gov/pittsburgh-health-care/operating-status/)
[Outreach Hub events](https://www.va.gov/outreach-and-events/events/)

[2020-10-22 17:31] barrycooper727 commented on #14398
@kevinstachura and @ndsprinkle please see below:

1. No we don't need those boxes since we never ask SMs for aggravation info.  We also don't need to ask the SMs for any descriptions for any of the radio buttons including the last one, "My disability was caused by an injury or event that happened when I was receiving VA care."

2. That's fine, "This disability was worsened by military service".  F

[2020-10-22 17:31] 1Copenut commented on #15167
This feedback looks good. VSP has no additional comments.

[2020-10-22 17:35] lunascoop commented on #14981
@bethpottsVADEPO I can create it as a step-by-step. Thus far, all of the step-by-steps begin with "How do I...." Should this title be rephrased?

I think there are other instances of single Q&As with steps as part of the content, though they mostly are included as an accordion item for a multiple QA article (ex: _What if I see an error message when I try to sign in to VA.gov?_
in **Signing in to V

[2020-10-22 17:46] annaswims commented on #13050
Michael Walker said he'd fix.  We should check back in a few weeks.

[2020-10-22 17:48] mnorthuis opened #15189 "Usability Testing Prep - eBenefits/Chapt 31 - IA Feedback"
**Feedback framework**

- **Must** for if the feedback must be applied
- **Should** if the feedback is best practice
- **Consider** for suggestions/enhancements

## Description
This issue describes IA feedback

**MUST**
- The button on the Eligibility page (CH31 Landing) labeled "Apply for Veteran Readiness and Employment" should link the user to the wizard content, not the introduction content on

[2020-10-22 17:51] bessgreen commented on #15097
@bridgethapner thanks for confirming, I must've missed that in the content doc! I added that as AC in [#13893](https://app.zenhub.com/workspaces/va-mobile-app-5f205eac3155a2000f422ecb/issues/department-of-veterans-affairs/va.gov-team/13893).

Also, do you mind double checking that the AC in this story meets the "basic validation" criteria? (original thread about basic validation in the comments se

[2020-10-22 17:55] shiragoodman commented on #10359
@andreahewitt-odd can this be closed?

[2020-10-22 17:57] mlvidart opened #15190 "Access for Carey Otto, Cindy Merrill, Jenny Spadafora, Lauryl Zenobi, Evangeline Garreau, Mina Farzad, Maria Vidart-Delgado, Brent Schneider, Darcy Duda"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Do not remove `operations` label; this will notify the VSP Operations team of your request
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Pleas

[2020-10-22 17:59] bridgethapner commented on #14031
@peggygannon @DanielleThierryUSDSVA Apologies for the multiple messages -- just wanted to let you know we are revisiting the UX of **High Priority Item 1 - LOA 1 Gating** right now. Just wanted to let you know to hold on reviewing content there, don't want to create repeat work for y'all. cc @artsymartha68

[2020-10-22 18:07] #15167 closed

[2020-10-22 18:25] #14680 closed

[2020-10-22 18:31] kevinstachura commented on #14398
Thanks @barrycooper727 ! That is correct - Nick has already removed the description boxes for each of those radio button options. This is simply the "default" text we would be sending to EVSS because it requires something to be sent, but it will be unbeknownst to the user (as they won't be seeing the description boxes). To be more specific:

**1. If a user chooses the first radio button option:**

[2020-10-22 18:33] rileyorr commented on #15123
Thank you for the feedback, @jenstrickland & @1Copenut!

Absolutely! My understanding is that we will be sending the user's form data to the DMC via a JSON file. The DMC will then populate the PDF on their end. @camerontesterman can you confirm that this is still the submission process we're following?

I'd like some more information about the accessibility collaborations! Do you have available sl

[2020-10-22 18:34] bmcgrady-ep commented on #11480
@joanneesteban - Just updated it to weekly. Let me know if you need anything else.

[2020-10-22 18:39] rileyorr commented on #15144
Thanks for the feedback @allison0034! We will be pre-filling as much info as possible to make the form easier to complete.

@emilywaggoner & @CrystabelReiter if neither of you have additional feedback we can probably close the ticket! Thanks all!!

[2020-10-22 18:39] kelsonic commented on #14332
PR merged: https://github.com/department-of-veterans-affairs/vets-website/pull/14670

[2020-10-22 18:41] DanielleThierryUSDSVA commented on #14031
Thank you, @bridgethapner!

[2020-10-22 18:44] joeniquette opened #15191 "Convert Prometheus SSOe metrics to Utility"
Currently the SSOe prometheus metrics we rely on are only kept for 2 weeks, we need to move the metrics over to the utility side of prometheus to ensure the logs are kept longer than 2 weeks. If we can pick an expiration I would make the metrics expire after 1 year.

[2020-10-22 18:54] RLHecht opened #15192 "Check R&S Q&A answers to confirm within character limit and edit down those that are over"
## Issue Description
Answers within the R&S multiple and single Q&A articles need to be 1,000 characters or lower. This limit was not put in place until after the content team added text to the nodes. We need to go into each Q&A to check that it is under the character count and if it is not, we need to edit the answer down.

Use this ticket to go through all the nodes and any that are over, put th

[2020-10-22 18:55] dneel-bah opened #15193 "GIBCT Redesign: Research using Elastic Search within the CT"
As a developer, I need to research elastic search so that I can understand how to leverage elastic search within the Comparison Tool.

## Assumptions:
1. VA.gov primary site is using elastic search

## Acceptance Criteria:
1. Research has been completed and documents the pros/cons of replacing the current CT search with elastic search.

## Supporting Artifacts:
1. N/A

[2020-10-22 18:56] mydesignrocks commented on #15190
Hello @mlvidart - the public ssh key is unique to the respective resources and their workstations (windows/mac).
Can you please have them all submit a unique request with the first set of directions here:
https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/scripts/socks

[2020-10-22 18:58] erikphansen commented on #3992
As of Thursday, October 22, 2020 the `paymentAddressExistIndicator` prop still does not exist on the `controlInformation` object. I will see what I can dig up re: _why_ we thought that this flag would be added. But I honestly think that we should just close this ticket for now. Or current method of determining if someone is getting paper checks and thus is eligible to set up direct deposit is work

[2020-10-22 19:07] mnunemaker-va opened #15194 "Access for [Mark Nunemaker]"
# Instructions
1. Need access for SOCKS
2. ORCHID/IRIS
3. Do not remove `operations` label; this will notify the VSP Operations team of your request
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.
  Bryan Broome - bryan.broome@va.gov
- Please provide your name.

- Please P

[2020-10-22 19:19] RLHecht opened #15195 "Add aria labels to all R&S phone numbers"
## Issue Description
When the CMS team updated Drupal to the new rich text field, it didn't allow for aria labels around phone numbers. They have now fixed it, but all aria labels will still need to be put in for phone numbers.

Nodes to review:

 - [x] Signing in to VA.gov preview-prod.vfs.va.gov/preview?nodeId=8222
- [x] Verifying your identity on VA.gov preview-prod.vfs.va.gov/preview?nodeId=82

[2020-10-22 19:21] mmiddaugh commented on #13026
@darkbushido here is the first set of names which need to be changed (VBA_Facility_Names in Column A need to be replaced with Proposed Names in Column D). A smaller set of locations have pending questions and will need to be added to this process once the names are finalized. They will still have the same pattern (replacing VBA_Facility_Names be replaced with Proposed Names).
[VBA Facility Names_n

[2020-10-22 19:23] delli-gatti-michael commented on #14066
These changes are now in prod. Closing this issue

[2020-10-22 19:23] #14066 closed

[2020-10-22 19:23] delli-gatti-michael commented on #14852
This fix is now in prod. Closing this issue

[2020-10-22 19:23] #14852 closed

[2020-10-22 19:24] brianalloyd opened #15196 "Analytics Implementation or QA Support for [Public Websites - Resources and Support MVP 1.0]"
# Google Analytics Implementation

## What this form is for

<details>
<summary>More Information</summary>
<div>
    <br>
<p>Use this template to request Google Tag Manager and Google Analytics implementation or QA for your product. Please fill out all brackets.</p>

For more information, please check out the [Google Tag Manager resources](https://github.com/department-of-veterans-affairs/va.gov-t

[2020-10-22 19:28] mmiddaugh opened #15197 "Synthesize Vet Center research (related to services, taxonomy and language improvements)"
**Due to the volume of information gathered during this research, synthesis will be broken into parts**

## Issue Description
Synthesize Vet Center research findings from sessions conducted in October 2020.

**Goal of research**
The goal of this study is to understand a Vet Center client’s experience, impression and relationship with Vet Centers.

**Research questions**
How do Veterans and service

[2020-10-22 19:28] Samara-Strauss commented on #15115
Here are my notes from our meeting earlier. From what I heard, people saw the most potential in the Small option and Medium, Option 2.

**Next Steps: @tressaellen and @callen2563 want to try a couple more options that incorporate the pro/con feedback discussed in the meeting.

---------------

## X-small

**Goal**: What is the absolute minimum we could show a user?

**Pros**

- Really simple and e

[2020-10-22 19:40] mshea0606 commented on #9564
hey @erikphansen, this issue has been unblocked.

[2020-10-22 19:43] bessgreen opened #15198 "Save button"
## User story
As a user, I want a Save button so I can edit my information from the app and save it to my profile.

## Acceptance Criteria

1. Create Save button that will appear in the top right corner of edit pages
2. Include disabled/active states

## Designs
Disabled state: https://adhoc.invisionapp.com/share/YUYRT9BAPSB#/screens/432057842
Active state: https://adhoc.invisionapp.com/share/YUYR

[2020-10-22 19:49] bessgreen opened #15200 "Common component for editable text view"
## User story
As a user, I want the ability to edit my contact information from the app.

## Acceptance criteria
1. Create a common component for the editable text view
2. Contains a label and a suggestion/hint text, when null
3. Ability to select into the component to activate the edit state

## Designs
Example from edit phone number: https://adhoc.invisionapp.com/share/YUYRT9BAPSB#/screens/43205

[2020-10-22 19:50] cvalarida commented on #15106
@bkjohnson created https://github.com/department-of-veterans-affairs/component-library, but can't make it public.

[2020-10-22 19:50] allison0034 commented on #15005
Hello, this is going to be a usability improvement! No outstanding feedback. Here is a list of our questions we discussed during the meeting:

Is the “Apply to 1990 4 A” page supposed to have a CTA button after the wizard? I didn’t see one. (I think there should be one, depending on the answer to this question, we could transform it into a “Must” feedback for including a CTA button)
Chris: We are

[2020-10-22 19:51] cvalarida commented on #15110
Potentially, we'll only be able to deprecate it, which is also fine.

[2020-10-22 19:53] #15144 closed

[2020-10-22 19:57] jenstrickland commented on #15123
The DMC will need to ensure their PDFs are 508-compliant, so if y'all can make sure they know that, and they know who to contact in the VA 508 Program Office that would be great.

[2020-10-22 19:59] joeniquette commented on #15191
https://github.com/department-of-veterans-affairs/devops/blob/master/ansible/deployment/config/prometheus/rules/job.rules and https://github.com/department-of-veterans-affairs/devops/blob/master/ansible/deployment/config/prometheus/prometheus.yml.j2#L149-L160 are what we need to work with.

[2020-10-22 20:01] jenstrickland commented on #15123
Time slots: I don't currently have slots set aside for these sessions, but I do love the idea. We initially wanted to have VSA accessibility office hours but got the 👎 . However, it looks like a potentially welcome idea, now. 🎉   We'll keep you posted as things evolve on that. Otherwise, what others do is just put time on my calendar.

Format: Designers usually show their work in progress, and we

[2020-10-22 20:04] jenstrickland commented on #15167
Good to have the background on it. That sounds likely. When we move designs forward, we want to share the preferred state, since devs will often code what they see in the designs. We've had some devs code ALL-CAPS because that was what was in the designs, for example.

Great work!

[2020-10-22 20:17] jbalboni opened #15201 "Break global selectors.js file into feature specific selectors files"
All our selectors are in one global file, but many of them are very specific to functionality in each feature, so we should move them into feature specific files where it makes sense.

[2020-10-22 20:17] #15176 closed

[2020-10-22 20:23] pjhill commented on #14880
Working on connecting and existing automated e2e test to a placeholder test case in TestRail. So far, the executions are not being written correctly to the test case as expected.

[2020-10-22 20:25] shiragoodman commented on #616
@shiragoodman

[2020-10-22 20:25] #616 closed

[2020-10-22 20:28] annaswims commented on #13050
the fix is in the EVSS int environnment.

[2020-10-22 20:35] jhonnyoddball opened #15202 "Wrong href - /burials-memorials/eligibility"
## Issue Description
The href is wrong. This might be an issue that needs to be fixed by the CMS team

## Example:
![Screen Shot 2020-10-22 at 4.29.58 PM.png](https://images.zenhubusercontent.com/5d89589c3ac3440001d19c89/16f3897c-c1f6-4634-a70e-e42e68a33d64)

## Example File
`/burials-memorials/eligibility/burial-in-private-cemetery/index.html`

## Tasks
- [ ] Figure out why the discrepancy exists

[2020-10-22 20:39] #12311 closed

[2020-10-22 20:40] #14054 closed

[2020-10-22 20:42] #14696 closed

[2020-10-22 20:43] jhonnyoddball opened #15203 "Wrong paragraphs - /careers-employment/"
## Issue Description
The paragraphs are displayed incorrectly. They might need to be sorted.

## Example:
![Screen Shot 2020-10-22 at 4.39.49 PM.png](https://images.zenhubusercontent.com/5d89589c3ac3440001d19c89/96b02c52-aa13-40c2-a905-4647970502b8)

## Example File
`/careers-employment/education-and-career-counseling/index.html`

## Tasks
- [ ] Figure out why the discrepancy exists.

[2020-10-22 20:43] #12794 closed

[2020-10-22 20:44] #14700 closed

[2020-10-22 20:44] #14701 closed

[2020-10-22 20:44] #14703 closed

[2020-10-22 20:45] #14767 closed

[2020-10-22 20:45] bmcgrady-ep commented on #14646
@amyknox - Here are a couple of reports that should be useful.
1. [Custom GA Report](https://analytics.google.com/analytics/web/template?uid=mpTKeAR8SE2nD5wD3bHmKw) for `Downloads of all school data excel` events. The report shows the page, device category, and city of the `Downloads of all school data excel` events.  To see the report, copy and paste the link into your browser and then use the Ed

[2020-10-22 20:48] jhonnyoddball opened #15204 "Missing sections - /coronavirus-veteran-frequently-asked-questions/"
## Issue Description
There are missing section

## Example:
![Screen Shot 2020-10-22 at 4.47.04 PM.png](https://images.zenhubusercontent.com/5d89589c3ac3440001d19c89/8a5c659d-4551-4b72-885e-d8eca05ce852)

## Example File
`/coronavirus-veteran-frequently-asked-questions/index.html`

## Tasks
- [ ] Figure out why the discrepancy exists.

[2020-10-22 20:52] jhonnyoddball opened #15205 "Wrong href - /decision-reviews/"
## Issue Description
There is a wrong href. This might need to be fixed by the CMS team

## Example:
![Screen Shot 2020-10-22 at 4.49.51 PM.png](https://images.zenhubusercontent.com/5d89589c3ac3440001d19c89/b5952779-d79e-4791-b981-c4dd8210f44e)

## Example File
`/decision-reviews/higher-level-review/index.html`

## Tasks
- [ ] Figure out why the discrepancy exists.

[2020-10-22 20:54] jhonnyoddball opened #15206 "Missing section - /decision-reviews/"
## Issue Description
There is a missing section

## Example:
![Screen Shot 2020-10-22 at 4.53.16 PM.png](https://images.zenhubusercontent.com/5d89589c3ac3440001d19c89/89fe4a50-17ee-4384-a357-4023e1256759)

## Example File
`/decision-reviews/index.html`

## Tasks
- [ ] Figure out why the discrepancy exists.

[2020-10-22 20:55] #3987 closed

[2020-10-22 20:56] sporeboy commented on #15133
I have my initial storyboards built here: https://xd.adobe.com/view/5ec99f25-03c5-4a2e-864e-62e0425b37e5-0b9a/

Four concepts:
- Modal
- Carousel
- Accordians
- Wizard

[2020-10-22 20:58] jhonnyoddball opened #15207 "Wrong hrefs - /decision-reviews/legacy-appeals/"
## Issue Description
There are 3 wrongs hrefs. This might needs to be fixed by the CMS team

## Example:
![Screen Shot 2020-10-22 at 4.55.36 PM.png](https://images.zenhubusercontent.com/5d89589c3ac3440001d19c89/dc7864b3-df95-4eaf-9528-4847b73fef07)

## Example File
`/decision-reviews/legacy-appeals/index.html`

## Tasks
- [ ] Figure out why the discrepancy exists.

[2020-10-22 20:58] jsev-io commented on #15190
**Requesting AWS Access for the following users:**

Maria Vidart-Delgado
Carey Otto
Cindy Merrill
Jenny Spadafora
Lauryl Zenobi
Evangeline Garreau
Mina Farzad
Darcy Duda
Brent Schneider

COR: Cecilia Lee
cc: @Jeff-Hayter

[2020-10-22 21:01] mlvidart commented on #15190
We don’t need socks proxy, just a limited AWS account with S3 and Transcribe access in iAM. Ref: https://dsva.slack.com/archives/CBU0KDSB1/p1603395713414900

[2020-10-22 21:01] saman-moshafi-va opened #15208 "Analytics Reporting Request for VANotify email open rates"
# Metrics Reporting Request

## What this form is for

Use this template to request one-off performance, usability, or outcomes va.gov metrics that is difficult to access or that needs analytics interpretation.

Insights will usually provide data reports within the current sprint, but if there is time-sensitivity, please note them in "additional comments."

I wanted some guidance on how/what your

[2020-10-22 21:04] brianalloyd opened #15209 "Staging Review – Public Websites [Resources and Support]"
## Steps to complete Staging Review:

- [X] Product Manager: create this issue and fill in feature name in the title and other bolded information appropriately
- [X] Attach all artifacts before requesting the meeting
- [X] Link to this issue once created in [#vfs-platform-support](https://dsva.slack.com/channels/vfs-platform-support) in Slack; tag @ Shira Goodman and @ Andrea Hewitt
- [x] Shira to

[2020-10-22 21:07] shiragoodman commented on #15209
hi @brianalloyd  - we have 10/29 @ 1:30 pm already reserved. Please review the [VSP Collaboration Meetings Calendar](https://calendar.google.com/calendar/embed?src=adhocteam.us_4dn3o77gcm5e3vbiedlha96tc0%40group.calendar.google.com&ctz=America%2FNew_York) to find open timeslots.

[2020-10-22 21:08] cvalarida opened #15210 "Add Storybook to formation-react package"
## Issue Description
Like it says on the tin, the goal here is to add Storybook to `formation-react` for use in development only. Publishing the result will come later.

---
## Tasks
- [ ] Add Storybook to `formation-react`

## Acceptance Criteria
- [ ] Engineers can use Storybook to aid development of components
- [ ] Publishing `formation-react` doesn't publish any Storybook artifacts

[2020-10-22 21:09] lunascoop commented on #15174
I have reviewed and there are no nodes that need to be flagged.

[2020-10-22 21:09] #15174 closed

[2020-10-22 21:16] #13389 closed

[2020-10-22 21:17] brianalloyd commented on #15209
Thanks @shiragoodman my bad, Sorry.  Can we do 10/29 2:30-3:00(3:30) (or what ever time is needed for the typical review).  Thanks for working the details.

[2020-10-22 21:27] mmiddaugh commented on #14614
@kevwalsh is the file type passed to the front end?

[2020-10-22 21:30] #14675 closed

[2020-10-22 21:48] bsmartin-ep commented on #13198
@stephenBarrs -

I am getting up the tagging for the additional data.  A few things...

- `recent-overnight-stay` seems to be missing from submission-successful.  Has that been removed?
- I renamed `smoke-or-smoking-history` to `smoke-or-vape-history` the dataLayer
- I see a few things in the dataLayer we aren't adding to the event action.  `zip-code, gender, race-ethnicity-origin, hospitalized-w-

[2020-10-22 21:49] ala-yna opened #15211 "Health care application enhancements"
How might we improve the experience of Veterans who are applying for VA health care online?

Desired User Outcomes

- Increase in the number of online applications
- Less time to complete an application
- Fewer dropoffs/incomplete applications

https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/health-benefits/healthcare-application/product-outline.md

[2020-10-22 21:56] bethpottsVADEPO commented on #14981
How do I open a PDF on VA.gov?

Thanks @lunascoop

[2020-10-22 22:03] mshea0606 commented on #15115
Thanks @Samara-Strauss for adding in these notes!

[2020-10-22 22:03] ltrombley commented on #15024
VA Bronx health care in VISN 2 [BA]#15024 is complete

[2020-10-22 22:10] #13461 closed

[2020-10-22 22:10] #13459 closed

[2020-10-22 22:13] bsmartin-ep commented on #13640
@jonwehausen -

ETL created:
https://va-gov.domo.com/datacenter/dataflows/73/graph

Just NCC, VEO, IVR VA311 as discussed.

OUTPUT:
https://va-gov.domo.com/datasources/6a0e9d9c-7a03-42bd-8e80-c6dd52a08723/details/overview

A few notes:

- I'm using the new Dynamic Unpivot to turn multiple columns into covid_topic and total_calls columns.
- Converting dates like '3-Mar-2020' doesn't seem to be poss

[2020-10-22 22:19] digitalken commented on #14871
PASS 10/22/2020 - Settings page has debug button and page contains debug info for access_code, refresh_token and id_token with tap to copy values.

![debug.jpg](https://images.zenhubusercontent.com/5f6a83c84093730d05b5cee6/a3d8190c-8f28-455d-a8aa-f8547da1cd42)

[2020-10-22 22:19] #14871 closed

[2020-10-22 22:34] peggygannon commented on #12439
this is an outdate ticket. Ceedback is captured here:

https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/14992

[2020-10-22 22:34] #12439 closed

[2020-10-22 22:37] peggygannon commented on #14992
Chapter 31 usability prep review content feedback

*Feedback key*
Must = Required
Should = Strongly encouraged/content best practice
Consider = Suggestion or possible enhancement

VRE eligibility page
There is dummy text under Get more information header

-----

Wizard page
*Should*

1. Change H2 header “Find out if this is the right form” header TO:
**Is this the form I need?** to align with othe

[2020-10-22 22:37] peggygannon commented on #14847
Hello, @jason-gcio Content feedback is captured in this ticket:
https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/14992

[2020-10-22 22:42] peggygannon commented on #2235
Closing this issue, As the content recommendations are done. Next step is to begin non-technical discovery work.

[2020-10-22 22:42] #2235 closed

[2020-10-22 23:22] digitalken opened #15212 "Tabbing through buttons lands on each button multiple times, once for the entire button, then once for each line of text"
## What happened?
While tabbing through a page with buttons that have text on them, user will land first on the entire button.  (At this point, they can choose the enter key to navigate via that button.)  The next tab will stop on the first line of text for that button. (At this point, they can not operate the button.). If there are multiple lines of text, each line of text will be tabbed to with

[2020-10-22 23:27] jenniferlee-dsva opened #15213 "Enable learning center pages to receive full width banner alerts"
# Enable learning center pages to receive full width banner alerts

ETA - nice to have right after launch (in case we end up having a sitewide downtime banner) ; latest 1.1 timeframe.

**See Slack thread for background:**
https://dsva.slack.com/archives/C0173CAJ7A6/p1603395684467400

`the banner alert data is driven by the CMS, but we need to ensure that specific templates can render that data.`

[2020-10-22 23:29] mydesignrocks commented on #15190
thanks for the clarification @mlvidart and appreciate you chiming in @jsev-io !

[2020-10-22 23:54] jonwehausen commented on #15208
Thanks @saman-moshafi-va , acknowledging receipt!

[2020-10-22 23:55] jonwehausen commented on #15208
@bmcgrady-ep could you pick this up at your earliest convenience, thanks in advance

[2020-10-22 23:58] bethpottsVADEPO commented on #14376
@jenniferlee-dsva After our convo today, here are the titles... giving you one more look-see before @RLHecht loads the nodes.

 **Other topics and questions**
1/ How to check your VA claim or appeal status online
http://preview-prod.vfs.va.gov/preview?nodeId=8520

2/ Commissary and exchange privileges
http://preview-prod.vfs.va.gov/preview?nodeId=8490

3/ Veteran Identification Card (VIC)
http://p

[2020-10-23 00:00] jonwehausen commented on #15182
Thanks @srmyers17, acknowledging receipt here! Will be in touch soon on this request.

[2020-10-23 00:00] jonwehausen commented on #15182
@bmcgrady-ep Could you pick this up at your convenience? Thanks in advance

[2020-10-23 00:03] jonwehausen commented on #15196
HI @brianalloyd ,

Thanks for the request, acknowledging receipt here! We will review and reach out if needing to setup a meeting here.

[2020-10-23 00:14] jonwehausen commented on #13640
@bsmartin-ep Thanks for this!

Next steps:
- Replicate charts on new output dataset
- Thinking we can QA by comparing the output dataset new charts with each respective contact center dataset and ensure covid_topics still align with their respective call topics

[2020-10-23 01:21] DanielleThierryUSDSVA commented on #12928
Confirming unauth content is okay in staging. It makes final copy per below, and first paragraph is missing because it's housed in Drupal.

![image.png](https://images.zenhubusercontent.com/5e8b13016a4378a604f5e799/9cb122d9-c151-4fa6-a185-7f2be98ea2fe)

[2020-10-23 01:21] #12928 closed

[2020-10-23 01:22] DanielleThierryUSDSVA commented on #12852
Confirming that question in staging is now correct and matches final copy:

![image.png](https://images.zenhubusercontent.com/5e8b13016a4378a604f5e799/573d034c-ce5b-4f20-8238-570831259a72)

First paragraph is missing because it's housed in Drupal.

[2020-10-23 01:22] #12852 closed

[2020-10-23 02:04] 1Copenut opened #15214 "Usability Testing Prep for Medallia -- Accessibility Review"
This issue will be an epic to contain accessibility issues found during the user testing preparation as part of #14945

[2020-10-23 02:09] 1Copenut opened #15215 "Video upload and storage"
Do we have a place to store video demos that would be beneficial for teams? I recently gave a two-part demonstration on using screen readers (MacOS, iOS, Win10) to one of our VFS teams. They’ve graciously offered those videos to be shared for all teams if we can point them to a place to upload or upload on their behalf.

[2020-10-23 02:13] 1Copenut opened #15216 "Establish a policy for captions and transcripts of VSP/VFS instructional videos"
Videos that are uploaded for VSP/VFS demos or education should have quality captions and transcripts. I'd prefer to have a human transcribe videos than rely on AI like YouTube does by default. These videos are often highly technical and accuracy in transcription is important.

Related issue #15215

[2020-10-23 02:20] RLHecht commented on #14521
This ticket can be closed. The DS Logon step by step was already written so OK not to confirm steps.

[2020-10-23 02:20] #14521 closed

[2020-10-23 03:27] NatHillardVA opened #15217 "Access for Nathaniel Hillard"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Do not remove `operations` label; this will notify the VSP Operations team of your request
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Pleas

[2020-10-23 03:28] NatHillardVA commented on #15217
Hi everyone -
Following [this tutorial]() , it seems like the next step is to tag @department-of-veterans-affairs/vsp-operations -- I'm not working on the VSP operations team directly but will be working with you to help stand up these endpoints

[2020-10-23 04:58] SgardnerPMP opened #15218 "[Review_Clean-up] Rebuild and publish pages for VISN-4 with Stakeholder Updates [PM]"
## Issue Description
As a CMS engineer, I need System detail pages created, so I can finalized all governance drop downs to be used in future page creation and stub out of nodes.

---
## Tasks
* _Using customer feedback forms and input, update Prod.cms.va.gov, rebuild, and publish the following in devshop environment:
- [x] Butler, PA
- [x] Coatesville, PA
- [x] Wilkes-Barre, PA

## Acceptance Cri

[2020-10-23 04:59] #12976 closed

[2020-10-23 05:11] #14509 closed

[2020-10-23 05:11] #13868 closed

[2020-10-23 05:11] #14327 closed

[2020-10-23 05:11] #14507 closed

[2020-10-23 05:11] #14510 closed

[2020-10-23 05:11] #14511 closed

[2020-10-23 05:11] #14508 closed

[2020-10-23 05:11] #14506 closed

[2020-10-23 05:26] #13869 closed

[2020-10-23 05:26] #14622 closed

[2020-10-23 05:26] #14513 closed

[2020-10-23 05:26] #14949 closed

[2020-10-23 05:26] #13615 closed

[2020-10-23 05:26] #14499 closed

[2020-10-23 05:26] #14498 closed

[2020-10-23 05:26] #14505 closed

[2020-10-23 05:26] #14502 closed

[2020-10-23 05:26] #14501 closed

[2020-10-23 05:26] #14500 closed

[2020-10-23 05:27] #14503 closed

[2020-10-23 05:27] #14504 closed

[2020-10-23 05:27] #14512 closed

[2020-10-23 05:27] #15218 closed

[2020-10-23 10:30] andaleliz commented on #14914
submitted guide to Lauren for recruiting

[2020-10-23 10:30] #14914 closed

[2020-10-23 10:39] andaleliz commented on #13381
Checking w/ Jim to see if he wants to work on this or if I should.

[2020-10-23 12:11] leahkeeler opened #15219 "DebtRes FSR Ch2 Household Income | Veteran Income"
As a Veteran filling out the FSR form I need the ability to list my employment

![image.png](https://images.zenhubusercontent.com/5e41d853bb7b6d67d84e6080/93eaff8e-373d-4a27-bae2-38e71d744046)

[2020-10-23 12:15] leahkeeler opened #15220 "DebtRes FSR Ch 2 - Additional Income"
As a Veteran I want the ability to enter my additional income on the FSR Form
![image.png](https://images.zenhubusercontent.com/5e41d853bb7b6d67d84e6080/9656e6d1-a05a-4f08-adfa-29b25956c5c7)

[2020-10-23 12:21] leahkeeler opened #15221 "DebtRes FSR Ch 2- Household Income | Spouse"
As a veteran filling out FSR form I want to add my spouses income

![image.png](https://images.zenhubusercontent.com/5e41d853bb7b6d67d84e6080/c97d0c93-2bbd-495c-bb72-bf817e20de78)

[2020-10-23 12:26] leahkeeler opened #15222 "DebtRes FSR Ch2 - Dependents"
As a Veteran filling out FSR form I want the ability to add dependents

![image.png](https://images.zenhubusercontent.com/5e41d853bb7b6d67d84e6080/0fba91c3-b7aa-4b01-bb52-8c37f7cd5305)

[2020-10-23 13:05] #14669 closed

[2020-10-23 13:15] delli-gatti-michael commented on #13859
Updated Staging YTD report received 10/23/2020. Closing this issue

[2020-10-23 13:15] #13859 closed

[2020-10-23 13:37] dillo commented on #14956
Works! Thank you!

[2020-10-23 13:37] #15130 closed

[2020-10-23 13:44] mdewey commented on #13148
EDIT: spelling mistakes.

[2020-10-23 13:51] mshea0606 commented on #13286
@lihanli  this is good to close right?

[2020-10-23 14:00] jholton commented on #14921
Since it came up yesterday,and I see [its existence mentioned in docs](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/engineering/pii-guidelines.md#pii-with-the-personalinformationlog), but no guidance on how to use it:

## Using the "Personal Information Log"
### Overview
`PersonalInformationLog` is a Rails ActiveRecord [model](https://github.com/department-of-

[2020-10-23 14:06] indytechcook commented on #15202
When I look at the data for the paragraph json file it appears as if the `processed` contains the correct value.  Is it possible that the `process` paragraph type is possibly not using the correct field?  The `wysiwyg` paragraph type does appear to be pulling from the correct value.  I'm looking at the other issues to see  if they are related.

[code]

[2020-10-23 14:06] jbalboni commented on #14111
This should be on staging now

[2020-10-23 14:11] indytechcook commented on #15202
Looking at the `paragraph-procss.js` file in the transformers directory I see it's using `item.value`.  It should probably match what's on `paragraph-wysiwyg.js` for that field. ` getWysiwygString(getDrupalValue(fieldWysiwyg)),`
[code]

[2020-10-23 14:15] lenaecb commented on #14111
Awesome, thanks @jbalboni and thanks @LanceGundersen for getting this updated.

I've verified and all looks good. I'll check again on prod after this afternoon's deploy.

[2020-10-23 14:50] bethpottsVADEPO commented on #14979
@lunascoop Thanks! Can you go through them once more? I've made some changes. Really appreciate your help updating this.

[2020-10-23 14:52] erikphansen commented on #3992
@mshea0606 Closing this. This new flag still doesn't exist five months later. The current logic to determine if someone is eligible to set up direct deposit seems to work just fine.

[2020-10-23 14:52] #3992 closed

[2020-10-23 14:55] erikphansen commented on #14913
Closing. [FE change here](https://github.com/department-of-veterans-affairs/vets-website/pull/14664), [BE change here](https://github.com/department-of-veterans-affairs/vets-api/pull/5134).

[2020-10-23 14:55] #14913 closed

[2020-10-23 14:57] lealester commented on #15030
moved into validate 10/23/2020 (10:57 am ET)

[2020-10-23 15:02] DanielleThierryUSDSVA opened #15223 "Publish generalized health tool h1s, intros, meta descriptions to support Cerner launch"
## Issue Description
To support the 10.24.20 Cerner health tools launch, we need to publish the generalized health tool h1s, intros, and meta descriptions that remove specific mentions of MHV and debrand terms like "secure messaging" to make them lowercase.

Pages include:
https://prod.cms.va.gov/health-care/refill-track-prescriptions
https://prod.cms.va.gov/health-care/view-test-and-lab-results
h

[2020-10-23 15:11] andreahewitt-odd commented on #14945
@shiragoodman @joanneesteban yeah I think that's fine as long as the review group is cool with it. Just make sure all accessibility artifacts are accounted for.

[2020-10-23 15:11] luke-gcio opened #15224 "[Development] BDD: Check for Readable File - Is This Sufficient?"
## Issue Description
Placeholder

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to an Epic** (what body of work is this a part of?)
- [ ] **Labeled with Team** (`p

[2020-10-23 15:15] #10276 closed

[2020-10-23 15:16] lealester commented on #15025
cloning from Sioux Falls

[2020-10-23 15:29] jenstrickland opened #15225 "Accessibility feedback - Usability Testing Prep - eBenefits [CH31]"
**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix and/or document decisions made.
1. Accessibility specialist will close ticket after reviewing documented decisions / validating fix.

## Point of Contact

VSA: Jen

[2020-10-23 15:29] kelsonic commented on #14779
Is this a duplicate ticket for step_by_step? 🙂 Can we close?

[2020-10-23 15:31] camerontesterman opened #15226 "Add email field to 5655 Form"
## Issue Description
Was decided by BAM II and DMC team to add the email field to the FSR form. This will allow veterans to be notified about changes to their case.

## Tasks
- [ ] Add email to 5655 schema
- [ ] Add email to 5655 prefill form

## Acceptance Criteria
- [ ] Email will be added to the 5655 form

[2020-10-23 15:37] bessgreen opened #15227 "Display & format saved address on the Personal Info page"
## User story
As a user, I want the ability to see my saved address on the Personal Information page.

## Acceptance Criteria
1. The Saved address appears on the Personal Info overview screen, displayed in the following format (push to a new line if a field does not fit on a single line):
     - [Address Line 1], [Address Line 2] (if an entry exists), [Address Line 3] (if an entry exists)
     - _