[2021-12-02 22:50] #33549 closed

[2021-12-02 22:57] jerekshoe opened #33554 "Sync 'Your COE' pages with latest designs"
## Background
Based on the latest updates from the Design side of the house, we need to update the 'Your COE' pages with what they have.

## Mockups
[available](https://preview.uxpin.com/65c0623a799c268173fe1a3cb4375f9ce00ad820#/pages/139512694/specification/sitemap)
[denied](https://preview.uxpin.com/65c0623a799c268173fe1a3cb4375f9ce00ad820#/pages/140537807/specification/sitemap)
[eligible](https

[2021-12-02 23:00] jason-gcio commented on #33554
last ticket in this area will most likely be this one: https://github.com/department-of-veterans-affairs/va.gov-team/issues/28009

[2021-12-02 23:01] brianseek opened #33555 "[FE] - Update Need help section (footer component)"
## Related Documentation

- [Sketch](https://www.sketch.com/s/e79a827e-42cf-4a82-b554-874c75b5c70e/a/eK98P42)
- [Product Docs](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/health-care/checkin)
-[Slack thread](https://dsva.slack.com/archives/C02G6AB3ZRS/p1638481313115000)

## Description

See Slack thread for needed changes to footer component and intro page.

[2021-12-02 23:21] bosawt commented on #30474
I think we can ignore this for now. We have a better long term solution coming in general, and most persistent identifiers rely on `user_uuid`, which ends up being `idme_uuid` or `logingov_uuid` for now

[2021-12-02 23:21] #33496 closed

[2021-12-02 23:28] rebekahickey commented on #13622
Posted November metrics to the [Platform Customer Support Dashboard Reports page](https://vfs.atlassian.net/wiki/spaces/SDT/pages/1571323928/Customer+Support+Dashboard+Reports) in Confluence

[2021-12-03 00:41] brianseek commented on #33555
Screenshot for UX review ![localhost_3001_health-care_appointment-pre-check-in__id=46bebc0a-b99c-464f-a5c5-560bc9eae287.png](https://images.zenhubusercontent.com/61523b5b9d354750f04823db/aa22e855-6ca0-4129-8b29-618e0b45d929)
@ytsaoca

[2021-12-03 02:06] jwoodman5 commented on #32244
@mmiddaugh The Medallia team was unable to make a regex URL pattern work for adding surveys to new Vet Center pages. For now, we will need to aggregate a list of current pages to add the survey to and identify/add new pages as they go live. Hopefully, we will have a more efficient solution in the future. Happy to chat about it if you wish. In the meantime, I will work on getting surveys added as s

[2021-12-03 02:28] #32957 closed

[2021-12-03 02:41] holdenhinkle commented on #33367
I wrote the content for the following new sections of the Playbook:

- Sentry Error Logs For `vets-api`
- How to Manually Update the `tud_accounts` Table
- Daily Maintenance Job

I'll write the following sections in the morning:

- TUD is Down
- TUD DOMO Dashboard

[2021-12-03 03:48] mydesignrocks commented on #30716
synthetic monitoring is available: https://app.datadoghq.com/synthetics/details/945-wtb-ucb?live=1h
infrastructure monitoring is available: https://app.datadoghq.com/containers?query=grafana&tab=logs
alerting like these are enabled for all pods and is integrated to slack channels: https://app.datadoghq.com/monitors/45201618
verified that following slack channels are receiving them now: #platform-d

[2021-12-03 03:53] mydesignrocks commented on #30716
Also noticed that PD is receiving this synthetic monitoring for grafana: https://dsva.pagerduty.com/alerts/Q2RD97F7TI9DOB and https://dsva.pagerduty.com/alerts/Q2RD97F7TI9DOB/log_entries/R0Y4YT5KK4LHP19A2LQGPU5PIH

[2021-12-03 04:44] #33132 closed

[2021-12-03 04:44] #33172 closed

[2021-12-03 04:46] #33131 closed

[2021-12-03 04:46] #23573 closed

[2021-12-03 05:19] Cmjones233 commented on #32305
recreating to link with sharepoint

[2021-12-03 13:44] nsmith1982 opened #33556 "Offboarding of Jessica McFall"
# Instructions
Fill out name of individual and *Description* section below.

# Description
- Please provide the name of the individual needing offboarded.

- Please provide the name of their team, their role on that team, expected last day, and the name of the company they work for.

- Please provide any type of access they may have and their GitHub username.

## AC
*Performed by Platform team*
 -

[2021-12-03 13:54] nsmith1982 opened #33557 "Adding Bryan Belanger to DSVA Slack"
# Description

**new user requests**: please verify that the user does not already exist in dsva.slack.com (it may be the account exists, but is not in a particular channel)

Good morning,

Would you please add Bryan Belanger (Bryan.Belanger@adhocteam.us) as a Full Member of DSVA Slack?  Brian is a Frontend Engineer joining the FE Tools team on the Platform.  He will need access to the following c

[2021-12-03 13:55] jbritt1 commented on #33556
/request Jessica McFall

[2021-12-03 14:00] jbritt1 commented on #33556
No YubiKeys
Not found in VFS Team Roster
No Sentry
No Datadog
No PagerDuty
No SOCKS
No AWS
GitHub removal: https://github.com/department-of-veterans-affairs/github-user-requests/issues/9077

[2021-12-03 14:08] RLHecht commented on #33309
I've added the rates above. We need to hold on publishing until 12/27 but we can send a preview link to stakeholders before. Moving this to sprint 63.

[2021-12-03 14:11] RLHecht commented on #33521
Changes live. Closing ticket.

[2021-12-03 14:11] #33521 closed

[2021-12-03 14:11] #33414 closed

[2021-12-03 14:11] RLHecht commented on #33414
This is live. Closing ticket.

[2021-12-03 14:20] #32291 closed

[2021-12-03 14:21] craigwheeler opened #33558 "[MCP] Resolved copay balance detail page"
## Issue Description
update balance detail page to reflect zero balance details refer to [mock](https://preview.uxpin.com/16e8675a9898914d5615d6ea2d23e310b7d8dfaa#/pages/141466617/simulate/sitemap?mode=i)

## Resolved copay balance detail page

- [x] Facility name isn’t displaying
- [x] Date isn’t displaying ‘Updated on Invalid date’
- [x] The information alert ‘You don’t need to make aa payment a

[2021-12-03 14:21] jennaouellet commented on #33556
No Domo or GA access

[2021-12-03 14:22] #33556 closed

[2021-12-03 14:23] craigwheeler commented on #33545
tickets to address staging review feedback:

[33558: [MCP] Resolved copay balance detail page
](https://app.zenhub.com/workspaces/vsa---debt-607736a6c8b7e2001084e3ab/issues/department-of-veterans-affairs/va.gov-team/33558)

[2021-12-03 14:29] pjhill commented on #33503
Hooray, thanks for navigating Domo's quirks!

[2021-12-03 14:29] #33503 closed

[2021-12-03 14:30] MarciMcGuireGCIO commented on #31407
Thank you, @tmitchellgcio.  I'll take a look now, and also will also Liz to review when she's available.

[2021-12-03 14:32] pjhill commented on #33502
This is... pretty cool. I kind of love seeing this. We may have to do some data quality checks and make some tweaks in the future, but this is awesome.

[2021-12-03 14:32] #33502 closed

[2021-12-03 14:33] pjhill commented on #33499
Mobile App killing it as per usual. This is a great visual -- noice!

[2021-12-03 14:33] #33499 closed

[2021-12-03 14:34] craigwheeler opened #33559 "[MCP] Overview page edits"
## Issue Description
edits to the copay overview page

- [ ] Heads up: we’re currently chatting with Mikki about breadcrumb adjustments so stay tuned!
- [ ] Update subhead text to “Check the balance of VA health care and prescription charges from each of your facilities. Find out how to make payments or request financial help.”
- [ ] Should also be using the intro text styling - refer to [the debt

[2021-12-03 14:34] craigwheeler opened #33560 "[MCP] Overview page edits"
## Issue Description
edits to the copay overview page

~~Heads up: we’re currently chatting with Mikki about breadcrumb adjustments so stay tuned!~~
- [x] Update subhead text “Check the balance of VA health care and prescription charges from each of your facilities. Find out how to make payments or request financial help.”
- [x] Should also be using the intro text styling - refer to [the debt port

[2021-12-03 14:35] pjhill commented on #33500
OBE

[2021-12-03 14:35] #33500 closed

[2021-12-03 14:38] MarciMcGuireGCIO commented on #31407
@tmitchellgcio do you happen to have some documentation on how to test this?  I logged into Profile and disconnected my wifi before attempting to disconnect the app, but I didn't see the update alert.  The warning that shows up when you first click Disconnect just reloaded again, as if nothing happened.   Thanks!

[2021-12-03 14:49] Dene-human opened #33561 "[Design] Add Medicare claim number to 10-10EZ"
[Product Folder for Medicare Claim Number](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/health-care/application/va-application/Medicare%20Claim%20number)

Requested by HEC team on 11/23/2021.
Add the Medicare Claim number as section 6C. after the effective date.   The Enrollment System already has a section ready to accept the data as you will see from the nex

[2021-12-03 15:22] LucianaAlexanderMorais opened #33562 "Adding [Sandeep Khurana] to DSVA Slack"
# Description

**new user requests**: please verify that the user does not already exist in dsva.slack.com (it may be the account exists, but is not in a particular channel)

<describe the request>

Are you requesting to add an individual as a:

- Full member
- Single guest
- Multi-channel
- Switching from single-channel to multi-channel?
- What channel(s) do they need to be added to?

Please add

[2021-12-03 15:24] brianalloyd opened #33563 "[FE] Building new promo-banners React component in vets-website"
## User Story
- As a Veteran, Caregiver and user of VA.gov, I want to be informed of upcoming information while browsing VA.gov.

## Related Information
[Slack Thread](https://dsva.slack.com/archives/C52CL1PKQ/p1638544455339000?thread_ts=1638543792.338900&cid=C52CL1PKQ)

## Description
- We need to migrate "promo" banners content from Vets-website into CMS for content maintenance. In support of th

[2021-12-03 15:28] #33428 closed

[2021-12-03 15:34] Dene-human commented on #25350
@DanielleThierryUSDSVA  Here is the link to the 10-10CG [review and signature page prototype ](https://preview.uxpin.com/3bf6496017f55041a94c2cfc8009c35dad5a79f2#/pages/137666511/simulate/sitemap?mode=i)

Also, if you have a chance, would you mind taking a look at the above American Indian question?

[2021-12-03 15:37] rileyorr commented on #31772
I sent Craig my staging review notes and he created tickets containing the feedback:
- [Resolved copay balance page](https://app.zenhub.com/workspaces/vsa---debt-607736a6c8b7e2001084e3ab/issues/department-of-veterans-affairs/va.gov-team/33558)
- [Balance detail page](https://app.zenhub.com/workspaces/vsa---debt-607736a6c8b7e2001084e3ab/issues/department-of-veterans-affairs/va.gov-team/33545)
- [Ba

[2021-12-03 15:37] brianalloyd commented on #33508
Work completed, closing ticket in support.

[2021-12-03 15:37] #33508 closed

[2021-12-03 15:38] LinnJS opened #33564 "Derive StatementId for FE"
## Technical Task

When cross examining the PDF statementIds with the statementIds we have on the frontend we realized they did not match. Looks like the statementId is derived similar to VistaID with 16 digits being required with 000s in the middle as passing. The values used are Facility Num on the first half, and EDIPI on the second half.

Maybe pass a new derived value to FE called statementId

[2021-12-03 15:38] LinnJS opened #33565 "[MCP]: Derive StatementId for FE"
## Technical Task

When cross examining the PDF statementIds with the statementIds we have on the frontend we realized they did not match. Looks like the statementId is derived similar to VistaID with 16 digits being required with 000s in the middle as passing. The values used are Facility Num on the first half, and EDIPI on the second half.

Maybe pass a new derived value to FE called statementId

[2021-12-03 15:38] LinnJS commented on #33565
[Slack thread](https://dsva.slack.com/archives/CPE4AJ6Q0/p1638480491322400) where this was discussed.

[2021-12-03 15:39] brianalloyd commented on #33451
Work is completed, AC has been accomplished.  Closing ticket in support.

[2021-12-03 15:39] #33451 closed

[2021-12-03 15:41] craigwheeler commented on #33558
account number to be addressed on BE [[MCP] 33565: Derive StatementId for FE](https://app.zenhub.com/workspaces/vsa---debt-607736a6c8b7e2001084e3ab/issues/department-of-veterans-affairs/va.gov-team/33565)

[2021-12-03 15:42] RLHecht commented on #33200
@ambikaroos What's the work you need us to do? Is it putting the banner on the page or reviewing the text? If it's the same language that was used for the other banner, not sure if it needs to be reviewed again. Thanks!

[2021-12-03 15:43] brianalloyd commented on #33368
Confirmed with CLP requesting team the desired URL
   - Vanity URL: www.va.gov/network-of-support
   - Canonical URL: www.va.gov/initiatives/network-of-support

@xiongjaneg could you update the `clone` to reflect the above URL structure, thanks.

[2021-12-03 15:44] ambikaroos commented on #33200
@RLHecht the work needed is implementing the banner on the page. The content would need to be tweaked to be specific to letters, rather than referencing claims.

[2021-12-03 15:45] RLHecht commented on #33200
@ambikaroos Got it. What's the date for this to be done by?

[2021-12-03 15:46] pjhill commented on #33366
A bit of initial brainstorming --

1. Users will check in and check out users using the approved process
2. Resetting a test user data is more helpful than hurtful for users

[2021-12-03 15:49] ambikaroos commented on #33200
@RLHecht we expect that implementing the banner will result in a spike in mobile downloads/logins (this was the case for the claims banner, though that is a more heavily trafficked page). I don't have a clear date, but my guess is we would want to turn on the banner in January (given code freezes and holidays in December).

One dependency to note: we'll be mirroring what VA.gov does implementing t

[2021-12-03 15:52] LinnJS commented on #33565
The unknown right now is figuring out where the `"#{facilityId}#{100}#{edipi}"` 100 is coming from in this string.

[2021-12-03 15:54] kelsonic commented on #32673
Sent up a PR for this: https://github.com/department-of-veterans-affairs/content-build/pull/809 should go out with daily today

[2021-12-03 16:00] LinnJS commented on #33560
Will breakout breadcrumbs into another ticket to keep this ticket internal to our team.

[2021-12-03 16:02] bkjohnson commented on #33337
## Thoughts

I'm saying all of this with the following underlying assumption:
- We want to enable any contributor to release & publish their changes as they see fit

We can't enable/disable the "Create a new release" button based on arbitrary criteria, such as whether or not the package version in the repo is higher than the published version. What we _can_ do is control what gets approval to merg

[2021-12-03 16:06] holdenhinkle commented on #33367
I added content for these sections:

- TUD is Down
- TUD DOMO Dashboard

[2021-12-03 16:14] MarciMcGuireGCIO opened #33566 "[PM] Auth Profile: Prep for Personal Information Revision Midpoint Review"
Prepare all artifacts and submit request for Midpoint review.

[2021-12-03 16:18] RLHecht commented on #33200
Thanks for the background. I'll make a note that we will work on this in January and we can check in as it gets closer to see if we're still on track.

[2021-12-03 16:19] bethpottsVADEPO commented on #32325
I got some info from Paul Shute on this topic that will help us figure out how to make this page more effective:

The MilConnect option seems like a good one and very comparable to what I’m seeing on archives.gov. I suspect one records custodian has DD214s for some cohorts of Veterans, while the other has the DD214 for the remaining cohorts.

We may want to add an additional option to direct the V

[2021-12-03 16:29] MarciMcGuireGCIO commented on #30112
@Samara-Strauss sounds good.  So the scope is designing and implementing an alert or some less obtrusive message when someone updates an address.   I feel like this action should occur regardless of the address updated.  That ensures consistency and decreases the chances of them forgetting to keep their addresses synced up if the mailing & home are the same.  Thoughts @Samara-Strauss & @andaleliz

[2021-12-03 16:32] meganhkelley commented on #33419
What do you mean by "it most likely will not linger as long"? What is it?

Also, let's add a step for "generate test plan and complete manual QA" — we need to make sure we've documented all the current supported functionality of the pipeline in Jenkins and that it's supported in GHA. That will be a lot simpler than it was in vets-website and content-build, but we still need to document it.

Thanks

[2021-12-03 16:33] bkjohnson commented on #32872
There is an old [draft PR for `letters`](https://github.com/department-of-veterans-affairs/vets-website/pull/17562) which handles the migration. I used this for some early testing.

[2021-12-03 16:44] tmitchellgcio commented on #31407
So I had a hard time triggering this. I wrote a test for it which for some reason I missed adding into the commit. It seems to only trigger when the server gives back an error in the response after a bad status. If you just turn off the wifi it won't trigger. I do wonder if we should be showing this on just a server error status even if it doesn't have a error response

[2021-12-03 16:44] pdavies88 opened #33567 "Request access to Google Analytics and/or Domo"
# Request Google Analytics and/or Domo access

## What this form is for
Use this template to request access to Google Analytics and/or Domo. Please complete steps 1 & 2 below.

## 1. Access Requirements
Please check the analytics tool(s) you need access to:
- [x] Google Analytics
- [x] Domo
- [ ] (Platform Teams only) BigQuery

## 2. User Email Address to Receive Access
**Due to privacy concerns,

[2021-12-03 16:48] lianilychee commented on #33284
12/3 Fri:
- yesterday: tied up with So Company internal work
- still want to collab with Gretchen on macros
- xls https://docs.google.com/spreadsheets/d/1_3yCVm01jO6UkHTUkWP6pze78k1MA7AYRczOi-GAdvM/edit#gid=605382919
- Liani to-do:
  - fill in 1st tab of xls
  - look at text editor, try to think of how to organize in a single text editor
  - think of non-inclusive words used in tech

[2021-12-03 16:50] mleclerc00 commented on #33205
all the upfront issues that we were seeing with revproxy are now fixed

if you run
[code]
or use something like modheader in your browser to modify the header passed along with your request it will toss you through the eks revproxy https://chrome.google.com/webstore/detail/modheader/idgpnmonknjnojddfkpgkljpfnnfcklj?hl=en

![image](https://user-images.githubusercontent.com/76792875/144640786-ad7331

[2021-12-03 16:52] Samara-Strauss commented on #30112
The scope is figuring out the right design solution for this issue, but yes, that might be some sort of messaging before or after updating the home address.

No, Liz can cover this one.

[2021-12-03 16:58] noahgelman commented on #32982
Accessibility Feedback
This component, while functionally the same as the [accordion component](https://60f9b557105290003b387cd5-rtshxufvmf.chromatic.com/?path=/docs/components-va-accordion--default) is missing key accessibility features that the accordion component does have. You can compare to the accordion HTML to see which `aria` attributes are missing

1. You can't open the drawer with the en

[2021-12-03 17:02] #33554 closed

[2021-12-03 17:02] #33448 closed

[2021-12-03 17:02] #33332 closed

[2021-12-03 17:08] ERRonat0609 commented on #28682
**Update regarding the modal notification mentioned on 11/30 above**: due to issues that we have encountered and after discussion with Ryan T, the team has decided to release without this notification, so the modal and text mentioned above will not be included, nor will any other type of notification.

[2021-12-03 17:23] bkjohnson opened #33568 "Migrate design site deployment from CircleCI to GH Actions"
## Issue Description

Currently we are continuously deploying design.va.gov [using CircleCI](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/blob/bfc4c581bd2f1572d08076bcc95a26ee1ada9fd0/.circleci/config.yml#L8). Since the Platform has shifted away from that service and is moving towards GitHub Actions, we want to do the same thing for this deployment.

The actio

[2021-12-03 17:25] MarciMcGuireGCIO commented on #31407
@tmitchellgcio given my unfamiliarity with this, I'm going to defer to @andaleliz when she returns Monday since she did the research on these messages.

[2021-12-03 17:27] oseasmoran73 commented on #33419
I was referring that `vets-website` and `content-build` took a few months to fully be out the door. I don't suspect that will be the case for VFST.

Will update section with test plan and complete manual QA!

[2021-12-03 17:37] lunascoop commented on #33431
@RLHecht The pages is ready for review. I made changes per the stakeholder request and for sighted language.
VA claim exam (C&P exam): http://preview-prod.vfs.va.gov/preview?nodeId=914

[2021-12-03 17:43] erikphansen commented on #33062
This is currently not working because the `multifactor` flag for Login.gov users is coming back as `false` when it should always be `true` for loa3 Login.gov users. The `false` value also results in us telling users they need to set up 2FA on the Account Security page.

<img width="905" alt="Screen Shot 2021-12-03 at 8 45 05 AM" src="https://user-images.githubusercontent.com/20728956/144648220-bc2

[2021-12-03 17:46] af-manish opened #33569 "Spike: Investigate if login.gov has any impact to our functional areas"
Platform is going to be adding login.gov as an authentication method to the VA website and back-end Rails application.

As a group, we are responsible for Feedback Tool and Comparison Tool.

We need to investigate if adding login.gov has any impact/work on us and task that out.

Here's a link to the slack conversation related to the login.gov details:

https://dsva.slack.com/archives/C02G07X54C8/p

[2021-12-03 18:05] AGarcia-Clarity commented on #32925
Issue is resolved.  Moving to PM Review for Sprint accounting.

[2021-12-03 18:10] ERRonat0609 opened #33570 "Offboarding of [Brandon Clapp] - as of Today 12/3/21"
# Instructions
Fill out name of individual and *Description* section below.

# Description
- Please provide the name of the individual needing offboarded.

- Please provide the name of their team, their role on that team, expected last day, and the name of the company they work for.

- Please provide any type of access they may have and their GitHub username.

## AC
*Performed by Platform team*
 -

[2021-12-03 18:11] jbritt1 commented on #33570
/request Brandon Clapp

[2021-12-03 18:15] jbritt1 commented on #33570
Not found in VFS Team Roster

[2021-12-03 18:18] jbritt1 commented on #33570
No AWS
No YubiKeys
No Sentry
No PagerDuty
No Datadog
GitHub org removal requested

[2021-12-03 18:24] AGarcia-Clarity commented on #32924
Border color for **Create an account with [service provider]** reflects Ryan Thurwell's design in Sketch.  Gray follows the VA Design System of gray-light (#aeb0b5).

Closing resolved issue. Will put in PM review for Sprint tracking.

[2021-12-03 18:24] brianalloyd opened #33571 "[BUG] CLP Embedded video not working as expected on the frontend."
## What happened?
_Embedded video in CLP doesn't work as expected on the frontend: playback error in the live environment but when previewing the page/video I don’t have an error._

## Specs:
- Device:  ALL
- Browser: ALL
- Test User _(if applicable)_:

## Steps to Reproduce
- URL: https://www.va.gov/initiatives/flu/
- [Slack Thread](https://dsva.slack.com/archives/C52CL1PKQ/p1638554373349700)

![

[2021-12-03 18:29] jennaouellet commented on #33570
No GA or Domo access

[2021-12-03 18:30] stevek45 opened #33572 "OCC Business Operations & Administration"
## Requestor Name
Stephen Kopecky

## Business Line
Engineering and Web Services

## What is the business outcome you are trying to achieve? (required 1-2 sentences)
Information Request.  We are developing an internal Question and Answer web application for use by VA personnel for which we need the ability to send email notifications to VA outlook mail groups. VANotify has been brought to our atte

[2021-12-03 18:33] rbeckwith-oddball commented on #33205
[https://app.zenhub.com/files/133843125/35ad696a-fad2-4bcf-88af-2d0d85437cfc/download](https://app.zenhub.com/files/133843125/35ad696a-fad2-4bcf-88af-2d0d85437cfc/download)[https://app.zenhub.com/files/133843125/5fc8b099-9cf6-4bbb-b24c-6b3b57570e38/download](https://app.zenhub.com/files/133843125/5fc8b099-9cf6-4bbb-b24c-6b3b57570e38/download)

[2021-12-03 18:38] ERRonat0609 commented on #29369
@rtwell - can please verify that the below is what you are asking for:

1) remove the "See more/less" link and simply display all options, as shown in the updated mockup
2) additionally, remove the filter "Exclude these school types" so that when a user checks a box they are including it instead of excluding it.

[2021-12-03 18:45] #33282 closed

[2021-12-03 18:45] #33310 closed

[2021-12-03 18:45] MarciMcGuireGCIO commented on #33282
This issue has been resolved

[2021-12-03 18:45] jenniemc commented on #33387
feature toggle name `va_online_scheduling_poc_health_apt` added to vets-api backend

[2021-12-03 18:45] Dene-human commented on #25350
@DanielleThierryUSDSVA

I wanted to share my first rough draft go at this new flow: [Rough draft PDF](https://github.com/department-of-veterans-affairs/va.gov-team/files/7651721/R3-document.upload.flow_12.3.pdf)

I also reread the paper application which defines "representative" and also the way it states this in its signature section: [10-10CG paper.pdf](https://github.com/department-of-veterans-

[2021-12-03 18:48] MarciMcGuireGCIO commented on #32731
@Samara-Strauss This has been updated, and is ready for you to take another look at.  Thank you, and let us know if you see something that doesn't align with your expectations.

Cc @cgednalske @andaleliz

[2021-12-03 18:48] MarciMcGuireGCIO commented on #32706
@Samara-Strauss This has been updated, and is ready for you to take another look at.  Thank you, and let us know if you see something that doesn't align with your expectations.

Cc @cgednalske @andaleliz

[2021-12-03 18:48] MarciMcGuireGCIO commented on #32705
@Samara-Strauss This has been updated, and is ready for you to take another look at.  Thank you, and let us know if you see something that doesn't align with your expectations.

Cc @cgednalske @andaleliz

[2021-12-03 18:51] #33000 closed

[2021-12-03 18:57] ERRonat0609 commented on #12338
@AdamFreemer - I've just checked PR 19085 and it looks like it has passed all checks. It may just need a review. Can you look at that PR again? Perhaps all you need to do is request a review on Slack so that it can be merged. It says a review is required by vsp-design-system-fe.

[2021-12-03 18:59] laurenernest opened #33573 "VAOS Stakeholder Epic"
# Stakeholder input
## Who is the target user?

## High Level User Need / Problem / Opportunity
As a Veteran, I need an approved referral or consult so I can schedule the respective appointment.

## Hypothesis or Bet
**If** _we make this change_ **then** _we expect this to happen_.

## Outcomes / how will we define success
_Measurable benefit in addressing the request / problem / opportunity_
_Wha

[2021-12-03 19:04] bramleyjl commented on #32969
https://docs.google.com/spreadsheets/d/1PSfxxG8UhbDy2pRwIh3RPYEBBkNvUHypFIpWG-NAVBA/edit#gid=1039874690

[2021-12-03 19:05] bramleyjl commented on #33281
Production change was made today: https://github.com/department-of-veterans-affairs/devops/pull/10351

[2021-12-03 19:05] #33570 closed

[2021-12-03 19:09] jerekshoe opened #33574 "Create schema for SAHG"
## Background
Take the schema created by the generator and add it to `vets-json-schema` repo.

## Considerations
This must be done before a PR for `vets-website` can be merged

## Tasks
- [ ] Create `26-4555/schema.js` file in `vets-json-schema`
- [ ] Migrate newly created schema from `vets-website` to `vets-json-schema`
- [ ] Bump minor version of `vets-json-schema` in `package.json`

## Acceptan

[2021-12-03 19:10] holdenhinkle commented on #33367
Google doc - https://docs.google.com/document/d/1xQ2m3eQzck8fWAZfTmKgar959N6sijB2BoRxvgcyr7g/edit?usp=sharing

[2021-12-03 19:20] tmitchellgcio commented on #31407
![Screenshot 2021-12-03 113549.png](https://images.zenhubusercontent.com/60ad368786f922a382c8b16b/bf5a3685-d73a-4dca-a588-b83ba42eb792)

[2021-12-03 19:21] tmitchellgcio commented on #31407
That's what it currently looks like. I think we should talk about it triggering if it gets any kind of error from the server so we can definitely put this on hold until Monday

[2021-12-03 19:25] RLHecht commented on #17601
@laura I edited the GI Bill extension article as well. @bethpottsVADEPO these are ready for you now.

[2021-12-03 19:28] Samara-Strauss commented on #32705
Great job! This is good to go.

[2021-12-03 19:28] lunascoop commented on #33431
@bethpottsVADEPO this page is ready for your review.

VA claim exam (C&P exam): http://preview-prod.vfs.va.gov/preview?nodeId=914

Some notes:

- Changed misleading header to "Before your VA claim." This is in flow with the next two headers **What to expect at your VA claim exam** and **After your VA claim exam**
- Changed first accordion question to **"Who will schedule my claim exam?"** (per the

[2021-12-03 19:35] Samara-Strauss commented on #32706
This is MUCH stronger now that the scope is clear. Great job.

One final thought -- this probably goes without saying, but if usability problems happen to come up naturally, we should investigate them and figure out if there are ways we can improve upon them (eg. if someone says "I find [something about this design] confusing", ask more about it to make sure we fully understand the issue and ask h

[2021-12-03 19:38] Samara-Strauss commented on #32731
![image](https://user-images.githubusercontent.com/34068740/144662598-394cf7f7-d377-4718-a280-7a4da41d70f6.png)

This weird "chevron right" issue is coming up again. Is that a weird UXPin bug or something? Is it working in your browsers?

Otherwise, my only comment is that pronouns, gender identity, and sexual orientation all have pre-selected answers, and I don't think that's necessary given then

[2021-12-03 19:38] kelsonic commented on #33571
PR merged, will go out with daily deploy monday

[2021-12-03 19:44] rtwell commented on #29369
correct! and additionally for 2: I think that would mean checking them all by default, and allow users to deselect

[2021-12-03 20:08] vhenry07 opened #33575 "Letters Accessibility Issue"
## Issue Description
Support request from Mobile App team related to [this ticket. ](https://github.com/department-of-veterans-affairs/va-mobile-app/issues/1584)
Recorded example: https://dsva.slack.com/files/U02EZS279D1/F02PA2CQXSA/1584_ios.mp4

---
## Tasks
- [x] Research issue and determine if this is something our team can address. Communicate results to Meko Hong, Mobile App PM

## Acceptance

[2021-12-03 20:19] jason-gcio commented on #33117
@allison0034 - the only real user flow here is to have the Veteran login and be able to view their representative.  The other screens in the mockup are for different status in case the representative isn't found or something.  ID.me verification button would go to that proofing function in profile if clicked, nothing new there.  I don't think the verification functions can all fit into a modal.

[2021-12-03 20:23] alsleaders commented on #29127
Hi @Kimberley2019 can you follow up with the veteran and see if @annaswims's changes allowed them to submit the form?

[2021-12-03 20:25] seanasewell opened #33576 "Design Feedback - Midpoint Review - eBenefits - "View your representative""
## VFS acceptance criteria
- [ ] Let Platform know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
-

## Feedback
- **Must** = the feedback must be applied
- **Should** = the feedback is best practice
- **Consider** = suggestions/enhancements

**Must:**

Change ID.me Verify my id

[2021-12-03 20:28] LindseySaari commented on #32597
Update: PgHero is LIVE in the dev environment! YAY! It was decided that we will need to deploy pghero once per env/cluster instead of deploying only once. This is due to security group rules reaching across subnets for RDS connections. For example, the PgHero application living in the dev cluster would have to reach across subnets to the RDS instance, in lets say staging and current security group

[2021-12-03 20:32] ltrombley commented on #33395
Task #33395 - Post Production Audit of VAMC VA Philadelphia health care for links, standards, and design standards.[BA]  - is Complete and moved to Validate

[2021-12-03 20:48] brianalloyd commented on #33571
Validated, closing ticket in support.

[2021-12-03 20:51] ERRonat0609 commented on #26996
@rtwell This defect, originally from Trevor Pierce, recommended to add "more" space but we need something less ambiguous than that. This is the field from form 5490, which is for eligible dependents to apply for education benefits.
![image](https://user-images.githubusercontent.com/85580424/144670023-82cb82b1-146a-4578-8633-7310bff0ed38.png)

I brought this to Collab Cycle office hours, and the re

[2021-12-03 20:52] #33571 closed

[2021-12-03 20:58] kpethtel commented on #33522
@department-of-veterans-affairs/vsp-operations

[2021-12-03 21:04] noahgelman commented on #26996
@ERRonat0609 @rtwell Originally there was no Required property on the field. If there is no Required property checkbox doesn't need to exist. If there is (like in the pic above) The checkbox should be above the field. We should not require a user to enter a SSN and then put a checkbox after to say they don't have one. Those on screen readers with no SSN would be confused.

[2021-12-03 21:10] ERRonat0609 commented on #18256
@rtwell - This 508 issue was determined to be a problem with the design pattern itself, here:  https://design.va.gov/patterns/form-patterns#direct-deposit.

I will be filling out a bug report for this pattern, which is what I was instructed to do so that this can be addressed by platform design. However, the question is still whether or not we should attempt to change this on the form ourselves or

[2021-12-03 21:16] holdenhinkle commented on #33367
Confluence document created - https://vfs.atlassian.net/wiki/spaces/TTT/pages/2003730467/TUD+SRE+Playbook

[2021-12-03 21:21] peggygannon commented on #33117
Hello, @jason-gcio I have no content feedback at this stage. Thank you!

[2021-12-03 21:26] zach-park commented on #33088
Added the draft wireframe for review. Cc: @kristenmcconnell @niradatta1 @ytsaoca @julieadair1 @jparker0425

[2021-12-03 21:27] bethpottsVADEPO commented on #33431
@lunascoop @RLHecht
Your H2 needs to capture that this section is specifically about scheduling:
**How we schedule your claim exam**

Since we'll make the "who" clear in the H2 (above), let's keep the first accordion label as is. "How will you contact me..."

Additional updates to improve the page: Please set apart this section where the H2s aren't questions because all the accordion labels are. P

[2021-12-03 21:29] kelsonic commented on #32673
Validated in production, closing

[2021-12-03 21:29] #32673 closed

[2021-12-03 21:36] ERRonat0609 commented on #29372
@af-manish @mrblanco1  - After looking at this again, if we know that this update is correct except the buttons need to be inside the gray boxes and left-aligned with the school name text, do we really need a new mockup?
![image](https://user-images.githubusercontent.com/85580424/144675421-082e151e-c6f4-4694-9bee-1658974793e2.png)

[2021-12-03 21:44] rileyorr commented on #32652
Thanks for the feedback y'all! @mnorthuis I updated [our prototype's](https://preview.uxpin.com/16e8675a9898914d5615d6ea2d23e310b7d8dfaa#/pages/142712366/simulate/sitemap?mode=i) H1's and breadcrumbs to match your recommendations.

Danielle shared a recent draft of this tool's updated content page and it looks like the H1 is now, 'Review and pay your VA medical copay bills' - I'll update our proto

[2021-12-03 21:53] pjhill opened #33577 "Quality Assurance Feedback - Midpoint Review - "View your representative""
## VFS acceptance criteria
- [ ] Let Platform know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
- Thanks for linking to the example stubbed out test case for your effort! It's great that you've begun to think about verifying your changes already.

## Feedback
- **Must** = the

[2021-12-03 21:54] rileyorr opened #33578 "[MCP] Page H1 and breadcrumb adjustments"
## Issue Description
Mikki left us some comments in [a previous ticket](https://github.com/department-of-veterans-affairs/va.gov-team/issues/32652) that we need to address for MCP's IA.

**The changes:**
- Remove 'your' from all of the H1's and breadcrumbs
- Remove the location from the final H1, and put it in a subtitle instead)

**Example:**

We'd go from:
Home > Manage your VA copay bills > You

[2021-12-03 21:55] #33558 closed

[2021-12-03 21:56] laurenernest commented on #29664
Closing ticket. No longer needed. Thanks!

[2021-12-03 21:56] #29664 closed

[2021-12-03 21:56] #27811 closed

[2021-12-03 22:02] rileyorr commented on #33523
All recommended changes have been incorporated into our prototype! I've posted the changes in Mikki's IA request ticket. I also noticed that Danielle's latest draft of MCP's content page has an H1 that differs from our design, so I'll update that once the content page is finalized.

Added [a ticket for frontend implementation ](https://app.zenhub.com/workspaces/vsa---debt-607736a6c8b7e2001084e3ab/

[2021-12-03 22:08] alsleaders commented on #29123
@michelpmcdonald Based on Dror's comment in the slack today, do you think the PIF error would be cleared for this veteran too, and we can ask them to resubmit?

https://dsva.slack.com/archives/C5AGLBNRK/p1638555721313100

[2021-12-03 22:09] CBonade opened #33579 "Ingest Lighthouse data into BigQuery for Dashboard"
In order to have all relevant site accessibility/performance metrics tracked, we need to:

- [ ] Determine which metrics need to be tracked for the sake of completeness of data (Lighthouse results data, for one url, is 22,000 lines of json)
- [ ] Get this data uploading to BigQuery
- [ ] Get the BigQuery data into Domo Data sets.

[2021-12-03 22:11] MarciMcGuireGCIO commented on #33066
@tmitchellgcio We will still monitor, but I was advised to close since another team is handling.

[2021-12-03 22:14] CBonade commented on #33579
Chatted with Oseas this morning about this, as some of this overlaps with an effort of the FE Tools team. While awaiting some changes from their end on the Daily Lighthouse Scan workflow, I started digging through the Lighthouse results files to figure out what data we felt was important to track. I believe I've narrowed it down to:

1) Url tested
2) Date tested
3) The "categories" (Performance, A

[2021-12-03 22:16] ERRonat0609 commented on #26996
@noahgelman Yes, after this was brought up during office hours a couple days ago, that is why I checked in the form. The screen grab I posted this afternoon is directly from that form and it is required. And my understanding is that the checkbox  there because it is on the paper form.

@rtwell So if that is the case, and we need to move the checkbox above the field, we will still need to know what

[2021-12-03 22:17] bkjohnson commented on #32982
I'll make sure that Enter can be used to toggle the expanding text.

Does `aria-expanded` need to be on the inner `<a>` instead?

![Peek 2021-12-03 14-15](https://user-images.githubusercontent.com/2008881/144680129-dac90174-b7c3-44ec-8244-031386c2831a.gif)

[2021-12-03 22:29] michelpmcdonald commented on #29123
Perhaps it has had it's pifs cleared and would now work, however, this brings up a bigger issue that has been discussed....but not answered.  Should we resubmit a claim like this that is over 3 months old ?
What if the vet got tired of waiting and mailed in a paper claim ?
Or the vet tried again using the web site and was able to submit a new version of this old claim ?
Would it cause issues for t

[2021-12-03 22:46] bosawt commented on #33324
Here is a list of different queries and what I could find in our code base:

# Ensure all user_uuid queries search by ID.me or Login.gov
#oddball/zenhub/33324

* Searches to make
	* `account_id`
		* `accountable.rb`
			* Used to associate `AccountLoginStat`
		* `notifications_controller.rb`
			* `Notification`
				* `account_id` used to find `Notification`
				* These are deleted when `Account` is

[2021-12-03 22:47] lindsay-insco opened #33580 "SSOI Application conversion into Form"

[2021-12-03 22:47] lunascoop commented on #33431
@bethpottsVADEPO Thanks for the feedback! I've made the changes you requested to the page. I also had some follow-up questions.
VA claim exam (C&P exam): http://preview-prod.vfs.va.gov/preview?nodeId=914

- Is changing the first accordion question back to what's currently live on the site misleading (**How will you contact me to schedule the exam?**)? From what I gathered, the exam is already sche

[2021-12-03 22:49] bosawt commented on #33324
[Uploading... Ensure all user_uuid queries search by ID.me or Login.gov.rtf]

[2021-12-03 23:04] laurenernest commented on #32687
Moving back to Ready per SQA validation findings

[2021-12-03 23:07] laurenernest commented on #33310
Spreadsheet of clinic names waived due to limitations to query for our volume of data

[2021-12-03 23:17] laurenernest opened #33581 "[Design] Appointments list onboarding ideas"
## Background
As part of the work to move appointments from MHV to VAOS, VAOS will likely get users who have never used the application before. There is a visual difference between the appointments list in MHV compared to VAOS that users may need help transitioning to.

## Request
Mock up ideas for an onboarding experience for navigating the appointments list(s) and detail pages.

Key areas to con

[2021-12-04 00:08] cgednalske commented on #32731
@Samara-Strauss Yes you're right! That's not the correct version. We created an iteration so the link would have changed.
This should be the new correct link with the fields all returning to the edit state without any pre-filled answers: https://preview.uxpin.com/82e734535b0ab60a1567348b1234e43b5318ad3a#/pages/144815586/simulate/no-panels?mode=i

[2021-12-04 00:23] jchasia-adhoc commented on #33061
Test plan: https://vfs.atlassian.net/l/c/t1p2cmw7

[2021-12-04 00:25] lihanli opened #33582 "[BE] Auth Profile: Bad Address Indicator: Include bad address indicator in backend response"
## Background
VA Profile has an indicator in their data source that can notify us if an address in the Profile Contact Info has been flagged as bad because mail has been returned, or some other event that we have not yet determined. This work is to mock up what a "bad address" message would look like in the Profile Contact Info UI if the mailing and/or home address were flagged as bad.

## Tasks
-

[2021-12-04 00:27] jchasia-adhoc commented on #32417
Approval from Product lead: https://dsva.slack.com/archives/CPCGRR7F1/p1637700402086600?thread_ts=1637696556.086400&cid=CPCGRR7F1

[2021-12-04 00:30] jchasia-adhoc commented on #31879
Addressed above comment.

[2021-12-04 00:30] #31879 closed

[2021-12-04 00:46] bkjohnson commented on #33489
The specific dependency is `react-focus-on`:

https://github.com/department-of-veterans-affairs/component-library/blob/4a7c522fe2f21d8ba0e7b0bea795fe0d959a2a0c/packages/react-components/src/components/Modal/Modal.jsx#L4

And the `returnFocus` prop that may change behavior:

https://github.com/department-of-veterans-affairs/component-library/blob/4a7c522fe2f21d8ba0e7b0bea795fe0d959a2a0c/packages/re

[2021-12-04 17:08] BensonWD commented on #30289
Please follow this under IS 31297.

[2021-12-04 20:00] BensonWD commented on #31914
Pharmacy Presentation. Presenter, **if using Dev Env**, should ensure that date ranges reflect current data set for reports portion of demo, and that sample patient selected has actual prescription. Not a problem if using production env.[https://app.zenhub.com/files/133843125/e922be78-28e3-4289-a10a-20c3f4aa1ca7/download](https://app.zenhub.com/files/133843125/e922be78-28e3-4289-a10a-20c3f4aa1ca7/

[2021-12-04 21:56] bethpottsVADEPO commented on #33431
I made some more edits directly in the file. @RLHecht @lunascoop please take a look to make sure I've covered everything.

- It's a little complicated, I think, because, yes, it's already scheduled, but then it sounds like VA thinks of the confirmation part of that process as scheduling too. But I reworded it to try to be more clear. I also added a "Note" in that first accordion text to drive home

[2021-12-06 03:58] randomsync opened #33583 "[BE] Bug: Error during Pre Check-in when refreshing the appointments page or navigating back"
## Description
During pre check-in scenario, if the user refreshes the appointments page or navigates back to the screen, an error is shown:

![image.png](https://images.zenhubusercontent.com/6144cadc6adfc5af245df200/dc10ad6f-1be4-436b-ab94-f9792cf076eb)

This is happening because we're reusing the existing `check_in_data` method in Lorota service object, which calls CHIP to refresh appointments i

[2021-12-06 05:07] tlei123 commented on #28690
@LinnJS @craigwheeler , I checked Staging over the weekend but ran into some anomalies that suggested there might still be some work-in-progress.

Here are some questions before i start actual test-runs...

- (1) Re. **Active-bill** [test-user 81] **Detail** page:
  - (1a) will we have destinations for the **Learn how** & **Request help** cta-links?
  - (1b) has the **Your charges** table been dro

[2021-12-06 05:11] bethpottsVADEPO commented on #17601
@RLHecht To avoid the repetition in the H2s with "How do I request an extension if" let's pour this content into an About template instead of a multiple FAQ. This way the H2 can be: How to request an extension. And then H3s for the 3 different situations in which you can be eligible.

I also edited throughout. So use my Word doc to create the new drupal node. I would like to try to avoid nested su

[2021-12-06 05:19] mydesignrocks commented on #30716
all items complete and ready to be reviewed.

[2021-12-06 05:20] mydesignrocks commented on #31199
Complete and provided the login details.

[2021-12-06 05:20] #31199 closed

[2021-12-06 11:16] LizCallaghan commented on #33562
Hey Luciana, need the email address so I can add the person, thanks! Liz

[2021-12-06 11:22] LizCallaghan commented on #33557
done!

[2021-12-06 11:22] #33557 closed

[2021-12-06 11:54] LizCallaghan commented on #33541
done!

[2021-12-06 11:54] #33541 closed

[2021-12-06 12:22] LizCallaghan commented on #33530
done!

[2021-12-06 12:22] #33530 closed

[2021-12-06 12:28] LizCallaghan commented on #33515
done!

[2021-12-06 12:28] #33515 closed

[2021-12-06 13:28] BensonWD commented on #31297
Current UC3 draft.[https://app.zenhub.com/files/133843125/f63e7c30-eab9-442c-9a26-2d3ed1b8961c/download](https://app.zenhub.com/files/133843125/f63e7c30-eab9-442c-9a26-2d3ed1b8961c/download)

[2021-12-06 13:30] BensonWD commented on #31914
[https://app.zenhub.com/files/133843125/20e59e7b-96d6-4285-8312-3b6b5ad0abfc/download](https://app.zenhub.com/files/133843125/20e59e7b-96d6-4285-8312-3b6b5ad0abfc/download)

[2021-12-06 13:33] BensonWD commented on #32489
Need to discuss / weigh pro's and con's of Teams Channel calendar scheduling vs. direct calendar invite scheduling via O365.

[2021-12-06 13:54] k80bowman commented on #33489
Just some background on `react-focus-on`... it is a package that combines [`react-focus-lock`](https://github.com/theKashey/react-focus-lock), [`react-remove-scroll`](https://github.com/theKashey/react-remove-scroll), and [`aria-hidden`](https://github.com/theKashey/aria-hidden).

`react-focus-lock` is based on [`focus-lock`](https://github.com/theKashey/focus-lock/). It also says in the documenta

[2021-12-06 13:58] bosawt commented on #33324
I don't think there's any that are truly concerning except for possibly `InProgressForms`, we may need to make an update so they can be saved with a `logingov_uuid`. I added a story to track this

[2021-12-06 14:22] Samara-Strauss commented on #32731
Looks great!! This is good to go!

[2021-12-06 14:28] RLHecht commented on #33431
These changes look good to me, @bethpottsVADEPO. I just made a few copyedits. Here's the email I was going to send Bryan. Let me know if this looks good:

Good morning, Bryan. We wanted to share the preview link of the revised claim exam page: http://preview-prod.vfs.va.gov/preview?nodeId=914 You must be on the VA network for the link to work.

You’ll see that we used the information you provided

[2021-12-06 14:30] #31558 closed

[2021-12-06 14:31] #32537 closed

[2021-12-06 14:32] JordanSWhite opened #33584 "Homepage"

[2021-12-06 14:32] #32535 closed

[2021-12-06 14:33] #32468 closed

[2021-12-06 14:34] #32478 closed

[2021-12-06 14:34] #32481 closed

[2021-12-06 14:34] JordanSWhite opened #33585 "Appointments"

[2021-12-06 14:34] #32482 closed

[2021-12-06 14:34] #32480 closed

[2021-12-06 14:35] JordanSWhite opened #33586 "Templates"

[2021-12-06 14:35] #32470 closed

[2021-12-06 14:35] #32461 closed

[2021-12-06 14:36] #32519 closed

[2021-12-06 14:36] #32536 closed

[2021-12-06 14:36] JordanSWhite opened #33587 "Sitemap"

[2021-12-06 14:37] #32484 closed

[2021-12-06 14:37] michelpmcdonald commented on #29123
@alsleaders - Once a user submits the claim and the vets api accepts the claim, the user can't get back to their claim, so the only recourse is to have the vet start a new claim theirselves OR we(vets-api) manually resubmit the claim by re-running the exhausted vets-api sidekiq job that submits the claim to evss.

[2021-12-06 14:37] #32534 closed

[2021-12-06 14:38] #31559 closed

[2021-12-06 14:39] #32529 closed

[2021-12-06 14:39] #32526 closed

[2021-12-06 14:42] #33233 closed

[2021-12-06 14:49] JordanSWhite opened #33589 "Design Round 1"

[2021-12-06 14:51] JordanSWhite opened #33590 "Test round 1 - Appointments"

[2021-12-06 14:52] JordanSWhite opened #33591 "Design Round 2 - Appointments"

[2021-12-06 14:56] JordanSWhite opened #33592 "Test round 2 - Appointments"

[2021-12-06 14:57] JordanSWhite opened #33593 "Finalize requirements"

[2021-12-06 15:04] jenniemc commented on #33544
Bug reported on https://dsva.slack.com/archives/CMNQT72LX/p1637697637123900

[2021-12-06 15:05] tameracorson opened #33594 "Test and iterate: Implement VA feedback"
## Product Outline
How might we test ensure that design elements selected resonate with the intended task or information needs of the end user (veterans)?

## High Level User Story/ies
As we maturate design selection for health apartment POC toward MPV, we need to test our designs so we can have the design in which to base out information architecture and lower level schemes.

## Hypothesis or Bet

[2021-12-06 15:07] tameracorson opened #33595 "Test and iterate: Write research plan"
## Product Outline
[Link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/product-management/product-outline-template.md)

## High Level User Story/ies
As a _____, I need _____ so I can _____.

## Hypothesis or Bet
**If** _we make this change_ **then** _we expect this to happen_.

## OKR
_Which Objective / Key Result does this epic push forward?_

## Definition o

[2021-12-06 15:13] JordanSWhite opened #33596 "Pharmacy"

[2021-12-06 15:14] JordanSWhite opened #33597 "Secure Messaging"

[2021-12-06 15:14] JordanSWhite opened #33598 "Medical Records"

[2021-12-06 15:14] JordanSWhite opened #33599 "Health Care"

[2021-12-06 15:14] JordanSWhite opened #33600 "Resources"

[2021-12-06 15:15] JordanSWhite opened #33601 "Set Requirements"

[2021-12-06 15:15] JordanSWhite opened #33602 "Design round 1 - Resources"

[2021-12-06 15:16] JordanSWhite opened #33603 "Test round 1"

[2021-12-06 15:16] JordanSWhite opened #33604 "Design round 2"

[2021-12-06 15:16] JordanSWhite opened #33605 "Test round 2"

[2021-12-06 15:19] nsmith1982 opened #33607 "Adding Khyati Patel to DSVA Slack"
# Description

**new user requests**: please verify that the user does not already exist in dsva.slack.com (it may be the account exists, but is not in a particular channel)

Good morning,

Please add Khyati Patel (khyati.patel@adhocteam.us) as a Full Member of DSVA Slack.  Khayti is a Product Manager joining the Platform as the PM on the Service Design Team.  Please give her access to the followi

[2021-12-06 15:20] rjohnson2011 commented on #31980
Working on querying the BQ table data to retrieve Pass/Failures for unit test suite. Next will work on Suite Execution Time.

A coverage report will need to be appended to the unit test results table to provide the needed data for Code/Branch Coverage related metrics.

[2021-12-06 15:22] holdenhinkle commented on #33367
Contacted OPs about how to create additional basic auth credentials - https://dsva.slack.com/archives/CBU0KDSB1/p1638803036475400

[2021-12-06 15:25] hallihocine opened #33608 "Checkbox not selectable"
## What happened?
Unable to select the checkbox "I'll be taking classes outside of the U.S. and U.S. territories" for the radio button "Other location" inside the accordion "Learning format and location". See screenshot below.
<img width="1030" alt="Screen Shot 2021-12-06 at 9 50 25 AM" src="https://user-images.githubusercontent.com/86266024/144868513-d4368262-bf91-41e4-a5bb-edcef001a363.png">

##

[2021-12-06 15:25] andaleliz commented on #33007
Sent a follow up email to Jeremy for VBA information.

For VHA, I think we can keep as-is.  The page in resources and support is only about the name, so I think linking people there could cause confusion if they instead or also want to update their birth sex or DOB. Danielle thinks there is value in adding info about changing birth sex and DOB to the R&S page, so once that it done, we can link to

[2021-12-06 15:41] Samara-Strauss commented on #33007
Great. Once the info on birth date/birth sex is in the R&S section, we can update the FAQ and link over there.

I don't think it's worth the LOE to make this FAQ dynamic, especially when we know we'll eventually link over to the R&S section. It wouldn't make sense to introduce a bunch of logic when we know we'll rip that out fairly soon.

Agree no FE ticket is necessary now, though we may want to

[2021-12-06 15:41] JordanSWhite opened #33609 "Set requirements"

[2021-12-06 15:42] pjhill commented on #33366
Hear ye, hear ye, assumptions have been recorded into the [Release Plan](https://app.zenhub.com/workspace/o/department-of-veterans-affairs/va.gov-team/issues/32865).

[2021-12-06 15:42] #33366 closed

[2021-12-06 15:43] rileyorr commented on #28690
Hi @tlei123! Hope you had a great weekend 😄 I do have some insight into a couple of your questions:

For the tool's MVP release, the 'Learn how' & 'Request help' CTA links should be anchor tags directing towards the 'How do I pay my VA copay bill?' and 'How do I get financial help for my copays?'. Once we release the combined FSR, the 'Request help' link will lead to the online FSR form.

Correct!

[2021-12-06 15:44] joeniquette commented on #30532
This task has one component left and thats to create a document which explains how to get a test account reset when this type of test is required. The issue is that once an account logs into va.gov successfully the only way to reproduce the intent of this ticket, which is to ensure accounts that have never logged into va.gov before operate as expected. Documenting this expectation as well as how t

[2021-12-06 15:45] joeniquette commented on #9480
Unlikely this ticket will be completed in its current state. When eBenefits is ready for SSOe then we can create a new effort for it.

[2021-12-06 15:45] #9480 closed

[2021-12-06 15:47] lwalsh617 commented on #17604
@bethpottsVADEPO -- I revised this article and Randi edited so it's ready for you to review. http://preview-prod.vfs.va.gov/preview?nodeId=37333
@RLHecht FYI.

[2021-12-06 15:49] craigwheeler commented on #28690
hi @tlei123 👋 ..  FE is waiting for some BE changes from @LinnJS and @ScottyRJames to get the user data inline with the use cases that have been outlined after which ill be working on implementing the alerts for each case which should be completed during this sprint

[2021-12-06 15:53] JordanSWhite opened #33610 "Set requirements"

[2021-12-06 15:54] JordanSWhite opened #33611 "Design round 1"

[2021-12-06 15:54] JordanSWhite opened #33612 "Test round 1"

[2021-12-06 15:54] JordanSWhite opened #33613 "Design round 2"

[2021-12-06 15:54] JordanSWhite opened #33614 "Test round 2"

[2021-12-06 15:54] JordanSWhite opened #33615 "Finalize requirements"

[2021-12-06 16:00] kristenmcconnell commented on #33456
Complete draft sent to @batemapf for final review.
https://dsva.slack.com/archives/C02GXKL8WM6/p1638805454299600?thread_ts=1638208468.254400&cid=C02GXKL8WM6

[2021-12-06 16:00] #33456 closed

[2021-12-06 16:09] LindseySaari commented on #32597
Monday update: PgHero is deployed in all envs! Big thanks for @mleclerc00 🥳  I'm currently working on the GHA workflows for the vets-api-pghero repo to mirror images to ECR and update the deployment manifest on push when a new image is pushed to ECR. DRAFT PR [here](https://github.com/department-of-veterans-affairs/vets-api-pghero/pull/5)

[2021-12-06 16:13] hallihocine opened #33616 ""Search by location" tab fails for Negative testing"
## What happened?
The "Search by location" tab is failing for a negative testing. Searching with an invalid zip code (using 6 digits), it's not returning the correct error message. See screenshot below:
<img width="1214" alt="Screen Shot 2021-12-06 at 10 37 27 AM" src="https://user-images.githubusercontent.com/86266024/144875725-8e3ba362-e718-49f3-a80c-328cceafe40e.png">

## Steps to Reproduce
- N

[2021-12-06 16:14] MickinSahni commented on #32807
New tickets added to the overarching epic. Can close this discovery ticket out

[2021-12-06 16:14] #32807 closed

[2021-12-06 16:17] LindseySaari opened #33617 "KmsEncryptionVerification job"
## Issue Description
Since moving to KMS (from Lockbox) as our key store for vets-api encrypted attributes, we need a way to verify that records have been re-encrypted properly with the kms key. Initial runs of the job have thrown various errors, [see PR here](https://github.com/department-of-veterans-affairs/vets-api/pull/8571) so this ticket is needed for tracking purposes, since this work is ta

[2021-12-06 16:30] MarciMcGuireGCIO commented on #33435
@Samara-Strauss I included the mock test in the ticket for user testing prep.  Are you asking about an issue for actual user testing?

[2021-12-06 16:31] Samara-Strauss commented on #33066
Reopening since we haven't been able to validate this. Tickets should only be closed if the work is validated and complete on staging, and I just confirmed that we are still having issues where the "sign in email address" link copy and destination is not working.

[2021-12-06 16:33] MarciMcGuireGCIO commented on #33066
Ok, thank you. Yana asked me to close it Friday since we are not actually doing the work.

[2021-12-06 16:34] #32509 closed

[2021-12-06 16:37] cindymerrill commented on #33424
@cgednalske shared her research plan with me in Slack, and I replied with a bunch of comments about participant recruiting, which I hope will be addressed before recruiting is launched. Looking forward to hearing how recruiting goes! @MarciMcGuireGCIO

[2021-12-06 16:38] Samara-Strauss commented on #33094
Is there a frontend ticket for this? This is not on staging, and it is unclear whether Erik or Taylor ever actually saw this or did anything with it if there wasn't a frontend ticket.

[2021-12-06 16:43] msmanak commented on #33010
Thanks let me share this with @drjecker

[2021-12-06 16:47] MarciMcGuireGCIO commented on #33094
@Samara-Strauss checking...

[2021-12-06 16:47] andaleliz commented on #33007
@Samara-Strauss that all makes sense, and good call on the LOE.

I went ahead and [mocked-up the page when we can use a link instead of an FAQ](https://www.sketch.com/s/ba254d92-3c3d-4eba-825d-d7f5bda35565/a/zx0GAGa), while it's fresh in my mind. It may require a small copy change depending on the h1 they decide on once they update the R&S page.

[2021-12-06 16:48] lianilychee commented on #33284
12/6 Mon:
- will sked something with Gretchen today to have initial convo about what to work with her on
- Amy will let Liani know on Slack about what Liani can do today

[2021-12-06 16:49] lianilychee commented on #33286
12/6 Mon:
- Liani touch base with James on Slack, see what else we have to do, double check sprint report commitments

[2021-12-06 16:50] lianilychee commented on #33287
12/6 Mon:
- meeting Weds 10ET with Jonathan

[2021-12-06 16:51] lianilychee commented on #33285
12/6 Mon:
- waiting for Andrea's feedback

[2021-12-06 16:52] MarciMcGuireGCIO commented on #33094
@Samara-Strauss I believe it's this ticket - #33066.  It was assigned to Erik originally, but he did not get a chance to work on it last week.  I just assigned to @tmitchellgcio.  Please let me know if this is not the correct task.

[2021-12-06 16:53] lianilychee commented on #32725
12/6 Mon:
- Gretchen to review whenever she has time
- would be cool if we could flag zoom links in linter

[2021-12-06 16:53] jimuhh opened #33618 "IA Feedback - Midpoint Review eBenefits - View your representative"
## VFS acceptance criteria
- [ ] Let Platform know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
- In terms of IA/Mental Models, we want to be sure that the veterans are sufficiently familiar with
  - The concept of their VA representative
  - How they got the one they have

##

[2021-12-06 16:54] Samara-Strauss commented on #33435
Yes, there should be a ticket for actual user testing depending on what the start date is for testing. I think Christina planned to start earlier than the last day of this sprint, so we'll want to track that work.

Also, all of the tickets from last sprint that were not finished and are planned to continue in this sprint should be part of this epic. There are a lot of open tickets still in #32701,

[2021-12-06 16:55] jimuhh commented on #33117
Apologies. I was out on Friday but have appended (very minor) IA feedback today.

[2021-12-06 16:56] MarciMcGuireGCIO commented on #33435
I believe I moved everything over that was left -- https://github.com/department-of-veterans-affairs/va.gov-team/milestone/815

[2021-12-06 17:00] klwatanabe opened #33619 "Access for Kayla Watanbe"
### COR Name

Courtney Bethea

### Vendor Onboarding Representative Name

Liberty IT -  Michael G. Lovejoy

### Your Name

Kayla Watanabe

### Your Email

kayla.watanabe@adhocteam.us

### Name of Your Team

Dash, Product Manager, Ad Hoc LLC

### Service(s) You Want Access To

SOCKS

### Public SSH Key

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDJnRPEMkIjo1VrupGDogGdl37QTmOdE8CAkKVBsCS/j5coFliQe/WCrJwB

[2021-12-06 17:01] #33531 closed

[2021-12-06 17:05] MarciMcGuireGCIO opened #33620 "[Design] Personal Info Revision - User testing"
## Description
Conduct Personal Information Revision user testing with Veterans

## Tasks
- [ ] Download final participant list from Perigean
- [ ] Print conversation guide
- [ ] Post to #feedback-backchannel right before session starts with observer instructions and participant description
- [ ] Conduct scheduled research sessions
- [ ] Debrief research sessions w/team
- [ ] Post debrief/updates

[2021-12-06 17:07] bethpottsVADEPO commented on #33431
@RLHecht Your email to SMEs looks good. Would you just add a paragraph to the explanation? Add this following the paragraph where you provide the preview link:

"We edited the text in that first grouping of 3 accordion links. The subhead there now indicates that VA, not the Veteran, schedules the appointment: **How we schedule and confirm your claim exam**. And we also added a note within the text

[2021-12-06 17:09] Samara-Strauss commented on #30188
I think #32917 is being tracked as part of Marci's sprint. Can you confirm? If so, you can remove it from this list.

[2021-12-06 17:10] MarciMcGuireGCIO commented on #33435
User testing ticket: https://github.com/department-of-veterans-affairs/va.gov-team/issues/33620

[2021-12-06 17:11] andaleliz commented on #33094
@MarciMcGuireGCIO I don't think that's the correct ticket. The FE work for this ticket would be to replace the `how will VA verify my identity` FAQ that appears for LOA1 users with the link as shown in [this screenshot](https://user-images.githubusercontent.com/55992116/144468881-91f522f8-7f83-413e-b16c-3e420ee83361.png)

[2021-12-06 17:11] ytsaoca commented on #33555
<img width="573" alt="Screen Shot 2021-12-06 at 12 10 16 PM" src="https://user-images.githubusercontent.com/90633685/144890733-866359d5-e139-46b5-857e-1f5edec778e9.png">
@brianseek  Please use lowercase here. Thanks

[2021-12-06 17:14] cgednalske commented on #33424
@cindymerrill provided some fantastic feedback clarifying/enhancing the screening questions and recruitment criteria! I will incorporate this feedback and confirm the changes shortly.

[2021-12-06 17:14] Samara-Strauss commented on #33066
Thank you for letting me know, and I understand that our team did what we were supposed to do and that validating this ticket is blocked for legitimate reasons, but if this ticket gets closed, what is the plan for following up and validating the work? How and when do we plan to confirm the functionality actually works to determine whether things are actually done? I'd personally rather this ticket

[2021-12-06 17:15] ERRonat0609 opened #33621 "STEM Standalone - SPIKE: Turn off Automated Decision"
## Issue Description
As a developer I need to determine what the effort would be to turn off the Automated Decision process for the STEM form (22-10203) on a temporary basis so that users are not incorrectly receiving denial emails. Once the issue has been fixed in the form, the Automatic Decision functionality would be turned back on.

Information on STEM form automated decision can be found in G

[2021-12-06 17:16] jhouse-solvd opened #33622 "[Ops Team] Update or deprecate GitHub team page"
## Description
The Operations team page in GitHub contains out-of-date information. The page should be either updated with accurate information and/or deprecated in favor of the Operations Team space in Confluence.

## Background/context

- [vsp-operations team page](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/teams/vsp/teams/operations) in GitHub
- [Operations Team o

[2021-12-06 17:16] Samara-Strauss commented on #33007
Thank you, Liz!

Since the plan is to link to R&S content when it's ready, but that work is tbd on when it will be done, we can close this ticket and open a new one for FE to implement the new design and link to R&S when that is ready. But that will likely sit in the backlog for some time.

[2021-12-06 17:23] craigwheeler commented on #33545
BE following up to ensure correct account number is being passed [33565: [MCP] Derive StatementId for FE](https://app.zenhub.com/workspaces/vsa---debt-607736a6c8b7e2001084e3ab/issues/department-of-veterans-affairs/va.gov-team/33565) closing FE ticket

[2021-12-06 17:23] #33545 closed

[2021-12-06 17:25] MarciMcGuireGCIO commented on #33094
My mistake; I apparently got things mixed up from this [Slack thread ](https://dsva.slack.com/archives/C909ZG2BB/p1637186225180400)where everything started popping.  I should gotten clarification.  I'll create a ticket for this now.  I'm sorry for the confusion.

[2021-12-06 17:25] laurenernest opened #33623 "Appointment reschedule message review from VAOS"
## What does your team need support for? Check all that apply.
- [ ] Launching one or more new unauthenticated (static) VA.gov pages
- [ ] Making revisions to one or more existing unauthenticated (static) VA.gov page
- [ ] Launching a new online form, app, or tool on VA.gov
- [x] Making revisions to an existing online form, app, or tool on VA.gov
- [ ] Something else (please add details in the nex

[2021-12-06 17:25] allison0034 commented on #33418
No design feedback

[2021-12-06 17:36] #31338 closed

[2021-12-06 17:36] bkjohnson commented on #33568
Related ticket: https://github.com/department-of-veterans-affairs/va.gov-team/issues/19847

[2021-12-06 17:39] MarciMcGuireGCIO opened #33624 "[FE] Auth Profile: Login.gov - Replace the FAQ for LOA1 users with new link"
## Background
Login.gov is being added as an acceptable credential to VA.gov. There is a non-verified level for login.gov in addition to the verified level. For all LOA1 users, the FAQ page shown below needs to be changed to instead be a link to the verification [Resources and Support page](https://staging.va.gov/resources/verifying-your-identity-on-vagov/).

![image](https://user-images.githubuse

[2021-12-06 17:39] hdjustice commented on #32917
@Samara-Strauss Marci is not tracking this, per her slack response.  I plan to check with Taylor through out this week, in case he has any bandwidth to take on this effort.

[2021-12-06 17:41] MarciMcGuireGCIO commented on #33094
FE ticket here #33624; I will let Taylor know and add to the Sprint.

[2021-12-06 17:44] sporeboy commented on #33443
Screens reviewed... All instances of "apply" changed to "request." Ready to go.

The [UXPin prototype screens are here.](https://preview.uxpin.com/65c0623a799c268173fe1a3cb4375f9ce00ad820#/pages/137557312)

[2021-12-06 17:50] denisecoveyduc commented on #26646
@mnorthuis @rileyorr I have been delinquent in moving this along. Let me set up some time to discuss with interested parties so we can move this forward. Watch for the invite and let me know if there are any scheduling conflicts. Thanks for your patience.

[2021-12-06 17:50] meganhkelley opened #33625 "Deprecate VA.gov Playbook"
## Details

As a user of VA.gov, I want to not have the option to visit va.gov/playbook, so that I can avoid being confused by this very out of date and full of bugs section of the website.

FE Tools is planning to deprecate the VA.gov Playbook.

[Deprecation plan here.](https://vfs.atlassian.net/wiki/spaces/FTT/pages/1995407406/2021-11-29+VA.gov+Playbook+Deprecation+Plan)

## Acceptance Criteria

[2021-12-06 17:56] omgitsbillryan commented on #33619
SOCKS access granted. Please allow 15 minutes before attempting to connect.

https://depo-platform-documentation.scrollhelp.site/getting-started/Internal-tools-access-via-SOCKS-proxy.1821081710.html

If you still have issues, reach out in #vfs-platform-support slack channel.

[2021-12-06 17:56] #33619 closed

[2021-12-06 17:57] randomsync opened #33626 "[BE] Bug: Handle the response for pre check-in and return a valid json back to PreCheckIns#create controller"
## Description
In PreCheckIns#create, currently we're returning back the Faraday response that the controller tries to render and return back to the caller. This might have issues rendering Faraday object to json. We should handle that response using the Response object and return a strict json.

## Related Documentation

- [Sketch](https://www.sketch.com/s/e79a827e-42cf-4a82-b554-874c75b5c70e)
-

[2021-12-06 17:58] MarciMcGuireGCIO commented on #33007
I will create a FE ticket for this.

[2021-12-06 18:01] Samara-Strauss commented on #33435
Got it. I understand you may have changed the milestone within the ticket, but all of those tickets should be listed in this epic as well so we don't lose track of them, and not all of them are.

[2021-12-06 18:02] MarciMcGuireGCIO commented on #33435
Ok. I'll get them added.

[2021-12-06 18:02] Samara-Strauss commented on #32917
Got it. OK, thanks for letting me know. If there's anything left for this team that AJ created for this project, let's move it over to Marci's backlog for easier tracking.

[2021-12-06 18:03] Samara-Strauss commented on #33094
Thanks!

[2021-12-06 18:08] BoDavis-BD opened #33627 "Offboarding of Ryan Leahy"
# Instructions
Fill out name of individual and *Description* section below.

# Description
- Please provide the name of the individual needing offboarded.

- Please provide the name of their team, their role on that team, expected last day, and the name of the company they work for.

- Please provide any type of access they may have and their GitHub username.

## AC
*Performed by Platform team*
 -

[2021-12-06 18:11] BoDavis-BD opened #33628 "Offboarding of Evangeline Garreau"
# Instructions
Fill out name of individual and *Description* section below.

# Description
- Please provide the name of the individual needing offboarded.

- Please provide the name of their team, their role on that team, expected last day, and the name of the company they work for.

- Please provide any type of access they may have and their GitHub username.

## AC
*Performed by Platform team*
 -

[2021-12-06 18:12] adamwhitlock1 opened #33629 "Documentation - Next Steps for CMS localization plan"
## Issue Description
Create documentation on next steps for moving forward with accelerated publishing based localization.

* What are the next steps to setting up the CMS?
* What modules need to be installed on the CMS, and what does their specific configuration needs look like?
* What are the next steps to scoping the work for the front-end?

## Acceptance Criteria
- [x] Docs available in folder

[2021-12-06 18:13] MarciMcGuireGCIO opened #33630 "Midpoint Review Auth Profile - Personal Information Revision"
# Steps to complete Midpoint Review

## Before meeting

**VFS Product Manager**
- [x]  Create this issue and schedule meeting via Calendly (you are responsible for adding the VFS attendees).
- [ ] Notify the Collaboration Cycle team of this ticket with scheduled date/time in the in #vfs-platform-support ([see Slack Workflow User guide](https://depo-platform-documentation.scrollhelp.site/support/Ge

[2021-12-06 18:16] BoDavis-BD opened #33631 "Adding Brittany Lannuzzi to DSVA Slack"
# Description

new user requests - verified that the user does not already exist in dsva.slack.com

Please add brittany.iannuzzi@adhocteam.us as a full member.
Brittany Lannuzzi is a UX Researcher for the Platform Spike Teams.
Are you requesting to add an individual as a:

[2021-12-06 18:17] tmitchellgcio commented on #33064
PR up but it won't let me tag it. https://github.com/department-of-veterans-affairs/vets-website/pull/19603

[2021-12-06 18:18] nsmith1982 opened #33632 "Offboarding of Peggy Gannon"
# Instructions
Fill out name of individual and *Description* section below.

# Description
- Please provide the name of the individual needing offboarded.

- Please provide the name of their team, their role on that team, expected last day, and the name of the company they work for.

- Please provide any type of access they may have and their GitHub username.

## AC
*Performed by Platform team*
 -

[2021-12-06 18:30] MarciMcGuireGCIO commented on #33064
Thanks, @tmitchellgcio.  Does that mean you can't tag someone to review?  Thx!

[2021-12-06 18:34] jfinnern commented on #29363
Validated in staging

[2021-12-06 18:39] k80bowman commented on #33550
These two PRs should resolve the issue:
- https://github.com/department-of-veterans-affairs/vets-design-system-documentation/pull/592
- https://github.com/department-of-veterans-affairs/vets-design-system-documentation/pull/593

[2021-12-06 18:39] #33550 closed

[2021-12-06 18:41] jimuhh commented on #33203
Hi. Thanks for providing a user flow. In the interests of clarity, would it be possible to format the flow according to one of the mural templates. with swimlanes that better indicate who's doing what at which stage and how they interact with the other people and systems in the process?
**Here are a couple of good ones:**

- [Business Process Model Diagram](https://app.mural.co/template/f99e465a-0

[2021-12-06 18:48] jhouse-solvd commented on #32448
For proof of concept:
- one of the Vets-API certificates could be put into parameter store
- The cert could then be used to bake the public key into the build pipeline of Vets-API
- Test with a single certificate to validate that this will be a good path forward

Tasks:
- BE Tools will identify a good cert for testing
- Ops will put the cert into parameter store
- BE Tools will pull the cert from

[2021-12-06 18:49] rtwell commented on #26996
@noahgelman correct me if I'm wrong—but all form fields must have labels, yes? If so, is it OK to separate the form label from its form field? for example, it would read:

`Form label`   Social Security Number (*Required)
`Checkbox`    [ ] I don't have a Social Security Number
`Form field`    [_________]

Here's a quick couple mocks:

![image](https://user-images.githubusercontent.com/12564977/144

[2021-12-06 18:49] rtwell commented on #18256
let me check with the Platform folks—I'll get back asap.

[2021-12-06 18:50] grossb1 commented on #33276
VAOSR-2615 was closed out on the VAMF end because this issue causing it had been resolved, however, this ticket still needs to be retested when the following additional issue has been resolved:
https://issues.mobilehealth.va.gov/browse/VAOSR-2728

[2021-12-06 18:50] grossb1 commented on #33273
VAOSR-2592 was closed out on the VAMF end because this issue causing it had been resolved, however, this ticket still needs to be retested when the following additional issue has been resolved:
https://issues.mobilehealth.va.gov/browse/VAOSR-2728

[2021-12-06 18:51] JordanSWhite opened #33633 "Set priorities"

[2021-12-06 18:51] JordanSWhite opened #33634 "Design round 1 - Pharmacy"

[2021-12-06 18:52] tameracorson opened #33636 "Test and iterate: Recruit research participants"
## Product Outline
The health apartment is a vision developed from OCTO and OCC staff as an answer to teh multiple resource sites and apps that veterans use to address health concerns.  The goal is to have all things health in one place, scaling to holistic experience with other VA benefits, will feel similar to MyHealtheVet and retains that branding.

## High Level User Story/ies
As we seek to cr

[2021-12-06 18:52] JordanSWhite opened #33637 "Design round 2"

[2021-12-06 18:53] JordanSWhite opened #33638 "Test round 2"

[2021-12-06 18:54] JordanSWhite opened #33639 "Finalize priorities"

[2021-12-06 18:55] tameracorson opened #33640 "Test and iterate: Testing"
## Product Outline
The health apartment is a vision developed from OCTO and OCC staff as an answer to teh multiple resource sites and apps that veterans use to address health concerns.  The goal is to have all things health in one place, scaling to holistic experience with other VA benefits, will feel similar to MyHealtheVet and retains that branding.

## High Level User Story/ies
As we seek to cr

[2021-12-06 18:56] tameracorson opened #33641 "Test and iterate: Synthesize research findings"
## Product Outline
The health apartment is a vision developed from OCTO and OCC staff as an answer to teh multiple resource sites and apps that veterans use to address health concerns.  The goal is to have all things health in one place, scaling to holistic experience with other VA benefits, will feel similar to MyHealtheVet and retains that branding.

## High Level User Story/ies
As we seek to cr

[2021-12-06 18:58] Cmjones233 commented on #30283
Dashboard created, reviewed by Justin and now waiting for second review

[2021-12-06 18:58] tameracorson opened #33642 "Test and iterate: Iterate homepage designs"
## Product Outline
The health apartment is a vision developed from OCTO and OCC staff as an answer to teh multiple resource sites and apps that veterans use to address health concerns.  The goal is to have all things health in one place, scaling to holistic experience with other VA benefits, will feel similar to MyHealtheVet and retains that branding.

## High Level User Story/ies
As we seek to cr

[2021-12-06 18:59] tameracorson opened #33643 "Test and iterate: Down select design elements"
## Product Outline
The health apartment is a vision developed from OCTO and OCC staff as an answer to teh multiple resource sites and apps that veterans use to address health concerns.  The goal is to have all things health in one place, scaling to holistic experience with other VA benefits, will feel similar to MyHealtheVet and retains that branding.

## High Level User Story/ies
As we seek to cr

[2021-12-06 19:05] tameracorson opened #33644 "Apartment Working Group: AWG meeting prep"
## Product Outline
The health apartment is a vision developed from OCTO and OCC staff as an answer to the multiple resource sites and apps that veterans use to address health concerns.  The goal is to have all things health in one place, scaling to holistic experience with other VA benefits, will feel similar to MyHealtheVet and retains that branding.

## High Level User Story/ies
Engagement with

[2021-12-06 19:10] jchasia-adhoc commented on #32280
Closing this test ticket.

[2021-12-06 19:10] #32280 closed

[2021-12-06 19:11] tameracorson opened #33645 "PMO: ZenHub migration"
## Product Outline
The health apartment is a vision developed from OCTO and OCC staff as an answer to the multiple resource sites and apps that veterans use to address health concerns.  The goal is to have all things health in one place, scaling to holistic experience with other VA benefits, will feel similar to MyHealtheVet and retains that branding.

## High Level User Story/ies

## Hypothesis o

[2021-12-06 19:12] #33483 closed

[2021-12-06 19:17] #32402 closed

[2021-12-06 19:17] Mottie commented on #32402
Done!

[2021-12-06 19:19] holdenhinkle commented on #33367
Add new section - 'How to create new Basic Auth user credentials for TUD' - https://vfs.atlassian.net/wiki/spaces/TTT/pages/2003730467/TUD+SRE+Playbook#How-to-create-new-Basic-Auth-user-credentials-for-TUD

[2021-12-06 19:19] lwalsh617 commented on #8592
@RLHecht - This page is ready for you to review. Here are some notes and questions:
![image](https://user-images.githubusercontent.com/53535663/144908117-bc2f664c-c4e9-4a0a-b124-0b9990321acd.png)
Here's the link to the preview page:
http://preview-prod.vfs.va.gov/preview?nodeId=1007

[2021-12-06 19:20] noahgelman commented on #26996
@rtwell It looks like the same picture twice?

They should not be separated. It would make error messages complicated. The checkbox and label should be moved above the Social Security Number field entirely

[2021-12-06 19:23] rtwell commented on #26996
it's not the sea picture twice. one has a label directly about the form field, the other does not—this might be easier to read:

![image](https://user-images.githubusercontent.com/12564977/144908907-0d94bb7b-a993-4eb2-9de1-1faf177e9d6b.png)

[2021-12-06 19:23] lianilychee opened #33646 "Test issue creation | New Platform website footer feedback issue"
### Description

asdf

### Relevant URLs

asdf

[2021-12-06 19:23] noahgelman commented on #32982
@bkjohnson The HTML should be the same structure as the accordion component. It should be on the inner `a` tag. Also check the accordion component for additional `aria` values that need to be added

[2021-12-06 19:25] noahgelman commented on #26996
@rtwell Ah, I see. Both are wrong. The checkbox should be above the Social Security Number (*Required) label. Social Security Number shouldn't be repeated twice nor should the checkbox be between the label and text field

[2021-12-06 19:25] JordanSWhite opened #33647 "Collaboration Cycle"

[2021-12-06 19:26] lianilychee opened #33648 "Test 2 issue creation | New Platform website footer feedback issue"
### Description

asdf

### Relevant URLs
asdf

[2021-12-06 19:27] Cmjones233 commented on #32305
Dashboard recreated with sharepoint link, needs review

[2021-12-06 19:27] #33646 closed

[2021-12-06 19:27] #33648 closed

[2021-12-06 19:28] lianilychee commented on #27914
@pavanhothi here you go! https://github.com/department-of-veterans-affairs/va.gov-team/issues/33648

[2021-12-06 19:29] rtwell commented on #18256
the design system team will tackle this issue—the STEM team does not have to fix this

[2021-12-06 19:29] Mottie commented on #26578
Closing this... the wizard has been moved to https://www.va.gov/disability/file-disability-claim-form-21-526ez/start & there is now an action link on the [eligibility page](https://www.va.gov/disability/eligibility/).

<img width="674" alt="Screen Shot 2021-12-06 at 1 27 49 PM" src="https://user-images.githubusercontent.com/136959/144909680-550d3b70-af1e-4590-b1bd-3fe83743c888.png">

[2021-12-06 19:29] #26578 closed

[2021-12-06 19:31] noahgelman commented on #26996
@rtwell That's it 👍

[2021-12-06 19:32] bsmartin-ep commented on #33632
No GA access.  Domo access archived.

[2021-12-06 19:33] bsmartin-ep commented on #33628
No GA or Domo access.

[2021-12-06 19:34] bsmartin-ep commented on #33627
No Domo access.  GA access removed.

[2021-12-06 19:36] leahkeeler commented on #15104
I think this should be closed - it's almost 2 years old unless you can replicate

[2021-12-06 19:38] leahkeeler commented on #14866
This is over a year old - can you confirm if it is a problem that PII is saved in SIP? if it is not close this ticket

[2021-12-06 19:39] LindaLi123 opened #33649 "Analytics KPI dashboard request for [Search and Discovery- Resources and Support]"
# Request a Standard KPI Dashboard

## What this form is for

Use this template to request a KPI dashboard on Domo for your product.

We are currently only supporting standardized dashboards for Forms, Content, & Search products. If you have another VA.gov product, please reach out to the Platform Analytics & Insights team on #vfs-platform-support. Please note that these dashboards will require ad

[2021-12-06 19:40] leahkeeler commented on #14014
IF you cannot replicate this - go ahead and close

[2021-12-06 19:45] leahkeeler commented on #9970
This sounds like it may be a feature to check file sizes and provide appropriate alert to end user over an actual bug

[2021-12-06 19:47] Mottie commented on #14014
I haven't tested this in a while, but it is likely still a problem. Added "PTSD" on the review & submit page opens an entire path within the form that needs to be completed. As it stands now, we highlight the accordion, but not much more. The code for issue #2138 has been merged, but it is only visible in staging. We need to conduct more research before it can be made visible in production.

[2021-12-06 19:52] AdamFreemer commented on #33621
I dug in a bit, started on the vets-website form and followed down to the vets-api backend and hit a point where it's calling an external service, where the actual determination seems to be happening.

[code]

https://github.com/department-of-veterans-affairs/va.gov-team/blob/69833737d9fe22b8990bb987e7c50de13205c5d5/products/claim-appeal-status/claim-status-api/discovery/technical-discovery.md#get

[2021-12-06 20:02] k80bowman commented on #18256
Putting this one in the design system team queue.

[2021-12-06 20:05] ERRonat0609 commented on #18256
@rtwell - OK, sounds like a plan. I will remove the AFS labels from this story. So do I need to still submit a bug report or just leave it at this ticket?

[2021-12-06 20:09] k80bowman commented on #18256
We are happy to track the work with this ticket, no need to submit an additional bug report.

[2021-12-06 20:17] brianalloyd opened #33650 "Add a "null" alt value to remove WAVE error for Veteran Crisis Line button"
## User Story
- As a Veteran, Caregiver and user of VA.gov, I need to be able to use screenreader technology when attempting to click and use the VCL button.

## Related Information
[Slack Thread](https://dsva.slack.com/archives/C8E985R32/p1638566761034300)

## Description
- Adding a null ("") alt value should remove it from being flagged in Wave (See Slack Thread for more details).

## Tasks
- [x

[2021-12-06 20:19] pjhill commented on #33367
Playbook is done!

[2021-12-06 20:19] #33367 closed

[2021-12-06 20:19] pjhill commented on #33501
Excellent

[2021-12-06 20:19] #33501 closed

[2021-12-06 20:28] jhouse-solvd commented on #33162
@cesaresantiago & @wonhchoi - Do you have a provisional timeline for getting this up in production?

[2021-12-06 20:28] allison0034 commented on #33116
@shiragoodman can you provide me with the settings we currently have for Calendly?

[2021-12-06 20:30] jhouse-solvd commented on #32892
@k80bowman - Can you help us understand if there's any urgency around this request? Looking at our plans for the end of the year and need to know whether this can wait until Q1. thank you!

[2021-12-06 20:30] JordanSWhite opened #33651 "Accessibility"

[2021-12-06 20:33] rtwell commented on #18256
thank you all! :high-five:

[2021-12-06 20:36] JordanSWhite opened #33652 "Notifications"

[2021-12-06 20:36] JordanSWhite opened #33653 "Analytics and KPIs"

[2021-12-06 20:38] JordanSWhite opened #33654 "POC Delivered"

[2021-12-06 20:44] JordanSWhite opened #33655 "KPIs and Analytics"

[2021-12-06 20:44] JordanSWhite opened #33656 "POC Delivered Deck"

[2021-12-06 20:48] k80bowman commented on #32892
@jhouse-solvd - We'd love if this could get resolved sooner rather than later, but if it needs to wait until Q1 I understand. If so, could it be done earlier in Q1?

[2021-12-06 20:53] jchasia-adhoc opened #33657 "Feature Request Process - Confirm VFS can submit feature requests"
## Issue Description
Confirm VFS team members can use the Github issue form to submit feature requests to the Platform.

---
## Tasks
- [x] Recruit VFS team member to test form
- [x] Send tester [user guide](https://vfs.atlassian.net/l/c/wJB09iNE)
- [x] Have tester confirm links to project board and issue form are accessible
- [x] Have tester submit test feature request

## Acceptance Criteria
- [

[2021-12-06 20:53] JordanSWhite opened #33658 "Working Group"

[2021-12-06 20:54] #32706 closed

[2021-12-06 20:54] #32705 closed

[2021-12-06 20:54] ericboehs opened #33659 "Make public certs available in Vets API K8s pod"

[2021-12-06 20:55] JordanSWhite opened #33660 "Build deck 1"

[2021-12-06 20:55] JordanSWhite opened #33661 "Build deck 2"

[2021-12-06 20:55] MarciMcGuireGCIO commented on #33424
This language has been added to the recruitment guide.

[2021-12-06 20:55] #33424 closed

[2021-12-06 20:55] JordanSWhite opened #33662 "Build deck 3"

[2021-12-06 20:55] JordanSWhite opened #33663 "Build deck 4"

[2021-12-06 20:57] jchasia-adhoc commented on #32897
Survey complete

[2021-12-06 20:57] #32897 closed

[2021-12-06 20:57] #33426 closed

[2021-12-06 20:58] JordanSWhite opened #33664 "Build deck"

[2021-12-06 20:58] JordanSWhite opened #33665 "Building finalized POC"

[2021-12-06 20:58] JordanSWhite opened #33666 "Testing final POC"

[2021-12-06 21:00] JordanSWhite opened #33667 "Tech documentation"

[2021-12-06 21:07] MarciMcGuireGCIO commented on #32731
Noting that this needs one quick update to show the FAQ link(s) to Resources & Support at the top, then ready for Midpoint review.  @cgednalske please ping me when that update is complete.  Thx!

[2021-12-06 21:07] nicko-amida commented on #32124
@mmiddaugh Here's a [UXPin mockup](https://preview.uxpin.com/46fe3a3a3a963877cadf501d6e1886c2a2f5cc48#/pages/144953996/documentation/no-panels?mode=i) for the locations page CAP hours!

As far as the "Need to get expected behavior" bullet point - will the mockup need to reflect these changes as well? Just let me know and I can make any changes.

[2021-12-06 21:12] #33228 closed

[2021-12-06 21:12] lunascoop commented on #32980
Hi @miabecker! @RLHecht and I are working on content recommendations for the mockups and have some follow-up questions. Can we chat with your team tomorrow (12/6) or Wednesday? Let me know your availability. Thanks!

[2021-12-06 21:24] shiragoodman commented on #33116
@allison0034 here's some screenshots of the Design Intent/Midpoint settings
![image](https://user-images.githubusercontent.com/71330581/144924481-d306040a-f1f0-4d9e-b886-c65630937511.png)
![image](https://user-images.githubusercontent.com/71330581/144924531-cadb665d-67b8-468e-8a0b-6bb7c37c69fd.png)
![image](https://user-images.githubusercontent.com/71330581/144924598-86d6dd94-37f8-4475-ba60-38e84a

[2021-12-06 21:26] BoDavis-BD opened #33668 "Offboarding of Elissa Frankle Olilnsky"
# Instructions
Fill out name of individual and *Description* section below.

# Description
- Please provide the name of the individual needing offboarded.

- Please provide the name of their team, their role on that team, expected last day, and the name of the company they work for.

- Please provide any type of access they may have and their GitHub username.

## AC
*Performed by Platform team*
 -

[2021-12-06 21:39] omgitsbillryan commented on #33627
Datadog and Sentry access removed.

[2021-12-06 21:40] JordanSWhite opened #33669 "POC delivered deck"

[2021-12-06 21:40] JordanSWhite opened #33670 "KPIs and Analytics"

[2021-12-06 21:40] JordanSWhite opened #33671 "POC delivered deck"

[2021-12-06 21:40] JordanSWhite opened #33672 "KPIs and Analyics"

[2021-12-06 21:41] omgitsbillryan commented on #33627
/request Ryan Leahy

[2021-12-06 21:42] bethpottsVADEPO commented on #17604
@lwalsh617 @RLHecht Thank you! I reviewed and added some edits directly into drupal.
- I also moved up the $600 Buy-Up Q&A higher on the page.
- For future articles, let's make the last sentence of the intro more specific--you can take a look and see how I framed it.
- Note that I unbolded "all" per the style guide. Our style is not to emphasize these broader words/phrases, like "more than" or "al

[2021-12-06 21:48] JordanSWhite opened #33673 "Draft Requirements - Secure Messaging"
**Acceptance Criteria**
- [ ] draft, Tiered feature requirements in sharable document.
- [ ] Socialize with VA-PO and VA-DL for approval or down selection of feature requirement / priority

[2021-12-06 21:48] JordanSWhite opened #33674 "Design round 1"

[2021-12-06 21:48] JordanSWhite opened #33675 "Test round 1 - Secure Messaging"

[2021-12-06 21:48] JordanSWhite opened #33676 "Design round 2"

[2021-12-06 21:48] JordanSWhite opened #33677 "Test round 2 - Secure Messaging"

[2021-12-06 21:49] JordanSWhite opened #33678 "Finalize priorities"

[2021-12-06 21:49] peyton-lucas opened #33679 "Access for Peyton Lucas"
### COR Name

Cecila Lee

### Vendor Onboarding Representative Name

Liberty IT -  Michael G. Lovejoy

### Your Name

Peyton Lucas

### Your Email

peyton.lucas@oddball.io

### Name of Your Team

Lighthouse: Team Quokka, Software Engineer, Oddball

### Service(s) You Want Access To

SOCKS, AWS

### Public SSH Key

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDBkz7yoYazLj+pjAvh5gMOCoM5889noNKvNEiMxJnxiJ5I

[2021-12-06 21:50] JordanSWhite opened #33680 "KPIs and Analytics"

[2021-12-06 21:50] JordanSWhite opened #33681 "POC Delivered deck"

[2021-12-06 21:51] JordanSWhite opened #33682 "Set priorities - Health Care"

[2021-12-06 21:51] JordanSWhite opened #33683 "Design round 1 - Health Care"

[2021-12-06 21:51] JordanSWhite opened #33684 "Test round 1 - Health care"

[2021-12-06 21:51] JordanSWhite opened #33685 "Design round 2 - Health Care"

[2021-12-06 21:51] JordanSWhite opened #33686 "Test round 2 - Health Care"

[2021-12-06 21:51] JordanSWhite opened #33687 "KPIs and Analytics"

[2021-12-06 21:51] JordanSWhite opened #33688 "POC Delivered deck"

[2021-12-06 21:56] timwright12 commented on #11510
This was released to staging and dev today with commit: https://github.com/department-of-veterans-affairs/vets-website/commit/6e0ef66393bd6ac9f5dd012e045257e055fc3471

[2021-12-06 22:02] jhouse-solvd commented on #13748
@f1337 - Could use help on the section above titled "Is this service/tool/feature...tested? Happy to discuss.

[2021-12-06 22:03] YanaRoy opened #33689 "VSA Onboarding - Tom Harrison"
## Welcome to the VSA Program - START DATE: 12/6/21

Welcome! This issue will be used to track your onboarding to the VSA Program.

---

## Pre-Onboarding

**Operation Lead Tasks**

- [ ] Send Welcome email to New Hire (request GitHub Username)

*Send Notifications with New Hire details (name, position, start date) to:*

- [ ] Admin Analyst
- [ ] VA Leadership
- [ ] VA PO
- [ ] Practice Lead
- [ ]

[2021-12-06 22:09] YanaRoy opened #33690 "VSA Onboarding - Tyler Simoni"
## Welcome to the VSA Program - START DATE: 12/6/21

Welcome! This issue will be used to track your onboarding to the VSA Program.

---

## Pre-Onboarding

**Operation Lead Tasks**

- [ ] Send Welcome email to New Hire (request GitHub Username)

*Send Notifications with New Hire details (name, position, start date) to:*

- [ ] Admin Analyst
- [ ] VA Leadership
- [ ] VA PO
- [ ] Practice Lead
- [ ]

[2021-12-06 22:10] JordanSWhite opened #33691 "Finalize priorities"

[2021-12-06 22:10] #31858 closed

[2021-12-06 22:12] YanaRoy opened #33692 "VSA Onboarding - Lametria "Mimi" Taylor"
## Welcome to the VSA Program - START DATE 12/6/21

Welcome! This issue will be used to track your onboarding to the VSA Program.

---

## Pre-Onboarding

**Operation Lead Tasks**

- [x] Send Welcome email to New Hire (request GitHub Username)

*Send Notifications with New Hire details (name, position, start date) to:*

- [x] Admin Analyst
- [x] VA Leadership
- [x] VA PO
- [x] Practice Lead
- [x]

[2021-12-06 22:15] #33363 closed

[2021-12-06 22:16] YanaRoy opened #33693 "Offboarding of Patrick Ryll"
# Instructions
Fill out name of individual and *Description* section below.

# Description
- Please provide the name of the individual needing offboarded.

- Please provide the name of their team, their role on that team, expected last day, and the name of the company they work for.

- Please provide any type of access they may have and their GitHub username.

## AC
*Performed by Platform team*
 -

[2021-12-06 22:18] YanaRoy opened #33694 "Offboarding of Jen Sorensen"
# Instructions
Fill out name of individual and *Description* section below.

# Description
- Please provide the name of the individual needing offboarded.

- Please provide the name of their team, their role on that team, expected last day, and the name of the company they work for.

- Please provide any type of access they may have and their GitHub username.

## AC
*Performed by Platform team*
 -

[2021-12-06 22:20] YanaRoy opened #33695 "Offboarding of Erik Hansen"
# Instructions
Fill out name of individual and *Description* section below.

# Description
- Please provide the name of the individual needing offboarded.

- Please provide the name of their team, their role on that team, expected last day, and the name of the company they work for.

- Please provide any type of access they may have and their GitHub username.

## AC
*Performed by Platform team*
 -

[2021-12-06 22:26] lwalsh617 commented on #17604
Hey @bethpottsVADEPO and @RLHecht,
The "for example" examples I found were like this one on [the disability ratings page](https://www.va.gov/disability/about-disability-ratings/), which I used as a model for this page. (The only difference being that our Q&A template wouldn't let me format the "Steps" as H3s.) Should we rework this disability page and others like it, too? If so, I'll see if I can

[2021-12-06 22:37] MarciMcGuireGCIO commented on #32731
Prototype has been updated and Christina has submitted her research plan to Lauren for review.

[2021-12-06 22:37] #32731 closed

[2021-12-06 22:38] #33566 closed

[2021-12-06 22:38] MarciMcGuireGCIO commented on #32861
Duplicate; closing

[2021-12-06 22:38] #32861 closed

[2021-12-06 22:39] CBonade commented on #33579
This is working, just awaiting approval for the PR on `vets-website`.

Hopefully, what I took a little time to set up extra here will serve our front end unit test effort as well, as it should hopefully be able to be used for the coverage report.

[2021-12-06 23:09] MarciMcGuireGCIO commented on #33630
Midpoint review scheduled for 11:30 AM ET on Friday, Dec 10

[2021-12-06 23:13] ERRonat0609 commented on #26996
@rtwell  OK, so now that we have that straight, :-)  what do we need the spacing to be between the checkbox and the SSN field label?

[2021-12-06 23:14] bkjohnson commented on #33337
Another idea is to have CI manage a constantly updated `next` draft release. A rough outline of how this might go:

1. anytime `master` is updated, check for the presence of a `next` draft release
    - If it exists, re-generate the release notes and update the git ref
    - If it doesn't exist, create it

We would likely need to account for the possibility of accidentally publishing a release wit

[2021-12-06 23:22] brianalloyd commented on #33454
@callen2563 can you give an update on ticket for this workflow?  Thanks.

[2021-12-06 23:22] brianalloyd commented on #33457
@callen2563 could you provide an update for this ticket? TIA.

[2021-12-06 23:23] brianalloyd commented on #33218
@kelsonic we're good to jump this to 25% of users tomorrow.  Let me know if you have any questions, thanks.

[2021-12-06 23:39] MarciMcGuireGCIO commented on #31446
Will create a design task as a blocker for this.

[2021-12-07 00:03] mmiddaugh opened #33696 "Collaboration Cycle Kickoff/Design Intent - [Facilities team, Facility operating status displays]"
## Steps to complete the Collaboration Cycle Kickoff

**VFS Product Manager**

- [x] Create this issue and notify the Collaboration Cycle team of this ticket in the in #vfs-platform-support ([see Slack Workflow (User guide](https://depo-platform-documentation.scrollhelp.site/support/Getting-help-from-the-Platform-in-Slack.1439138197.html)).
- [ ] Answer the questions below and attach any artifacts

[2021-12-07 00:10] bsmartin-ep commented on #33668
No GA or Domo access.

[2021-12-07 00:11] bsmartin-ep commented on #33695
No GA or Domo access.

[2021-12-07 00:12] bsmartin-ep commented on #33694
No GA.  Domo access archived.

[2021-12-07 00:12] MarciMcGuireGCIO commented on #31407
Noting for standup that this is awaiting validation; Liz was tied up today on her own tickets.

[2021-12-07 00:13] bsmartin-ep commented on #33693
No GA or Domo.

[2021-12-07 00:16] #33183 closed

[2021-12-07 00:16] theodur commented on #33183
The [PR](https://github.com/department-of-veterans-affairs/vets-website/pull/19567) for this was merged, and verified working in this [GHA run](https://github.com/department-of-veterans-affairs/vets-website/actions/runs/1546782564) ✅

[2021-12-07 00:18] theodur commented on #32397
Closing this since the implementation has been [merged](https://github.com/department-of-veterans-affairs/vets-website/pull/19567) ✅

[2021-12-07 00:18] #32397 closed

[2021-12-07 00:32] laurenernest commented on #33387
Toggle is in admin. Closing ticket.
![image.png](https://images.zenhubusercontent.com/5f7dd2dad6b9a9301bbab94e/2d6b2e15-1c8f-4ba7-9b61-8054348dd589)

[2021-12-07 00:32] #33387 closed

[2021-12-07 01:15] jwoodman5 opened #33697 "Create Internal Report Usage Dashboard in DOMO"
## Issue Description
_We have two comprehensive dashboards in DOMO for two of our products and we want to monitor usage to help identify opportunities_

---
## Tasks
- [ ] _Create dashboard in DOMO to report on usage for our Salesforce Support Issue Dashboard and our Medallia Survey Dashboard_

## Acceptance Criteria
- [ ] _Usage data for our reports (support & surveys) in DOMO is viewable in a se

[2021-12-07 02:58] jwoodman5 opened #33698 "Medallia Feedback Button Directory Placement Management"
## Issue Description
_By relocating the Medallia Feedback button to bottom of main, we need to take over the management of where it shows up (or not) because this falls outside of the button locationss supported by Medallia_

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## H

[2021-12-07 05:04] jchasia-adhoc commented on #32750
Scheduled 3-month post-launch impact review.

[2021-12-07 05:04] #32750 closed

[2021-12-07 13:39] ldelacosta commented on #30480
@marcynadeau - Please validate. Thanks

[2021-12-07 13:57] JordanSWhite opened #33699 "Set priorities"

[2021-12-07 13:57] JordanSWhite opened #33700 "Design round 1 - Medical Records"

[2021-12-07 13:57] JordanSWhite opened #33701 "Test round 1 - Medical Records"

[2021-12-07 13:58] JordanSWhite opened #33702 "Design round 2 - Medical Records"

[2021-12-07 13:58] JordanSWhite opened #33703 "Test round 2 - Medical Recrods"

[2021-12-07 13:58] JordanSWhite opened #33704 "KPIs and Analytics"

[2021-12-07 13:58] JordanSWhite opened #33705 "POC deck delivered"

[2021-12-07 13:59] JordanSWhite opened #33706 "Finalize priorities - Medical Records"

[2021-12-07 14:10] rtwell commented on #26996
exactly what I have there ☝️

from element to element it looks like 3 spacing units, but I'm not familiar with the default spacing built into the elements themselves.

[2021-12-07 14:23] #31989 closed

[2021-12-07 14:29] LinnJS opened #33707 "[MCP]: Sort PDF Statements"
## Technical Task

We want to show the most recent to the oldest last. Sort PDFS so they show in this order.

## Expected Behavior

PDFs are sorted from newest to oldest.

## Acceptance Criteria

- [ ] PDFs are sorted from newest to oldest.

[2021-12-07 14:29] Dene-human opened #33708 "[DESIGN] Begin updating 10-10CG doc upload design based on research findings"
## High Level User Story
As a Veteran and/or Caregiver I want to be able to accurately say who is signing the 10-10CG.
As a legal representative of a Veteran, I want to know what type of document I should upload to prove my representative status.

## Goals
- Improve acceptance rate of the documents uploaded
- Decrease uploads for those who aren't a health care representative to a Veteran
- Not cau

[2021-12-07 14:30] #33455 closed

[2021-12-07 14:31] LinnJS opened #33709 "[MCP]: Only show latest copay on overview page"
## Technical task

We should only show one copay card per facility. We should never have the same facility on overview page twice. Make sure only the latest copay shows on overview page.

## Expected Behavior

Overview page only shows latest copays and no duplicates.

## Acceptance Criteria

- [ ] Facilities are not repeated on overview page
- [ ] Only the latest copay shows on overview page

[2021-12-07 14:34] Dene-human opened #33710 "Create suggestions for iterative design/copy implementation of 10-10CG doc upload updates"
## High Level User Story
As a Veteran and/or Caregiver I want to be able to accurately say who is signing the 10-10CG.
As a legal representative of a Veteran, I want to know what type of document I should upload in order to prove my representative status.

## Goals
- Improve acceptance rate of the documents uploaded with increasing success during a stepped implementation
- Decrease uploads for tho

[2021-12-07 14:43] rjohnson2011 commented on #31980
Have queries for Pass/Failures & Suite Execution Time charts, though a JSON unit test import error is preventing all of the records from loading and altering the chart results. Working on resolving the JSON import error.

[2021-12-07 14:49] CarlDickerson opened #33711 "Test - Test"

[2021-12-07 14:50] zacharymorel commented on #31405
@MarciMcGuireGCIO This is now ready for review, however, it can't or shouldn't be seen.
We have form validation in place to prevent this error from being seen.

Here picture in my local env where I can by pass the form validation to see the error returned from the API.

![Screen Shot 2021-12-02 at 10 34 20 AM](https://user-images.githubusercontent.com/26075258/145051203-37ed8144-71e4-482b-9353-618

[2021-12-07 14:51] tameracorson opened #33712 "test s test"

[2021-12-07 14:51] #33712 closed

[2021-12-07 15:08] brianalloyd commented on #32329
@kelsonic let's front load this action today. And get these redirects out the door.

[2021-12-07 15:11] RLHecht commented on #33623
@laurenernest Would you be able to come to the health suite content office hours to discuss this with Danielle? I can send you the link if you don't have it.

[2021-12-07 15:11] allison0034 opened #33713 "Design feedback - Design intent [DGIB - 1990 Form Updates for MGIB]"
## VFS acceptance criteria
- [ ] Let Platform know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
-

## Feedback
- **Must** = the feedback must be applied
- **Should** = the feedback is best practice
- **Consider** = suggestions/enhancements

**Must:**
- Remove the questions wiz

[2021-12-07 15:16] laurensimpson14 commented on #33224
The new link was added and that backfill was completed. See below for QA.

## QA

### Highlights

Chart title | Assets | Pass / Fail
-- | -- | --
Usage trends |  [Custom segment](https://analytics.google.com/analytics/web/template?uid=sX4Sv63hQ5K9QAVUpUwH7Q)   |  :green_circle: PASS
Unique users | [Custom segment](https://analytics.google.com/analytics/web/template?uid=sX4Sv63hQ5K9QAVUpUwH7Q) |  :

[2021-12-07 15:16] #33224 closed

[2021-12-07 15:18] MarciMcGuireGCIO commented on #31405
@zacharymorel, @andaleliz - I took a screen shot from Prod to compare to Staging, but I don't see any difference (I tested by logging into my ID.me account, disconnecting Wi-Fi and then attempting to update)
![image](https://user-images.githubusercontent.com/73354907/145055771-2e84b5a3-e944-42f4-849e-3cd7594af7b8.png)

[2021-12-07 15:21] caw310 opened #33714 "Staging Review [Design System Team - Telephone Web Component]"
# Steps to complete Staging Review

## Before meeting

**VFS Product Manager**
- [ ]   Create this issue and schedule meeting via Calendly (you are responsible for adding the VFS attendees).
- [ ]   Notify the Collaboration Cycle team of this ticket and scheduled date/time in the in #vfs-platform-support ([see Slack Workflow (User guide](https://depo-platform-documentation.scrollhelp.site/support/

[2021-12-07 15:23] adamwhitlock1 opened #33715 "Discovery - Fact Sheet search Database and UI solutions"
## Issue Description
Fact sheets need to be searchable and displayed in various languages. Existing search functionality includes [find forms](https://www.va.gov/find-forms/), [general va wide search](https://www.va.gov/search/) (powered by search.gov), and [resources / support search](https://va.gov/resources). To start we need to gain knowledge around each search mechanism and see if one would s

[2021-12-07 15:25] ScottyRJames commented on #31472
If user has deceased notification the following status code will be returned

Response: `{ status: 200, body: { status: 403, message: 'Deceased' } }`

[2021-12-07 15:28] ltrombley commented on #27288
Task #27288 - Prepare and launch Lovell Federal health-care for Dual-state VISN-TBD[VAMC]

[2021-12-07 15:28] #33350 closed

[2021-12-07 15:28] joeniquette commented on #33350
This task has evolved into documenting the current monitors that the Identity team has setup in datadog and other areas. This ticket can be closed as another ticket has been made.

[2021-12-07 15:31] MarciMcGuireGCIO commented on #31406
@tmitchellgcio is this ready to be validated on Staging?  Thx!

[2021-12-07 15:36] alsleaders commented on #28999
I am closing this ticket because we have not heard back from the veteran.

[2021-12-07 15:36] #28999 closed

[2021-12-07 15:37] #29116 closed

[2021-12-07 15:38] alsleaders commented on #29117
I'm closing this because we haven't heard back from the veteran.

[2021-12-07 15:38] #29117 closed

[2021-12-07 15:38] alsleaders commented on #29119
I'm closing this because we haven't heard back from the veteran.

[2021-12-07 15:38] #29119 closed

[2021-12-07 15:39] brianalloyd opened #33716 "Analytics KPI dashboard request for [Public Websites Team]"
# Request a Standard KPI Dashboard

## What this form is for

Use this template to request a KPI dashboard on Domo for your product.

We are currently only supporting standardized dashboards for Forms, Content, & Search products. If you have another VA.gov product, please reach out to the Platform Analytics & Insights team on #vfs-platform-support. Please note that these dashboards will require ad

[2021-12-07 15:39] alsleaders commented on #29121
I'm closing this because we haven't heard back from the veteran.

[2021-12-07 15:39] #29121 closed

[2021-12-07 15:42] shiragoodman commented on #32981
@seanasewell you can close this

[2021-12-07 15:46] MarciMcGuireGCIO commented on #31407
Thank you @andaleliz !

[2021-12-07 15:48] RLHecht commented on #33309
Confirmed with stakeholders that we can publish these on 12/23, We will send them a preview link beforehand to review.

[2021-12-07 15:48] jimuhh commented on #33418
Looks good, and I'm all for a consistent experience across products. So, no IA feedback at this time.

[2021-12-07 15:51] andaleliz commented on #31405
Everything I see on staging aligns with what came out of the alert audit, looks good to me! We had a couple of flavors of this error message previously:
![image](https://user-images.githubusercontent.com/55992116/145061435-78f2532a-2f82-47fb-8709-6db3b5389abf.png)

This looks good to go.

[2021-12-07 15:51] pjhill opened #33717 "Quality Assurance Feedback - Staging Review - [Design System Team- Progress Bar & Segmented Progress web component]"
## VFS acceptance criteria
- [ ] Let Platform know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
- Do you all have a workflow that goes from collection of acceptance criteria, to the ticket that creates the component, to the verification that the component exhibits all of the d

[2021-12-07 15:52] pjhill opened #33718 "Testing Tools Team Q4 2021 Tech Debt"
_NOTE - Tickets for the subtasks are still being detailed_

## Problem Statement
In the course of developing MVPs throughout the year, solutions are developed that leave unrefined technical solutions in place.

How might we identify and prioritize technical debt solutions that can be improved during this extended sprint?

## Hypothesis or Bet
*How will this initiative impact the quality of VFS or

[2021-12-07 15:55] #32231 closed

[2021-12-07 15:57] tmitchellgcio commented on #31407
@andaleliz Well since you say it should display anytime we can't disconnect the app then I will make those changes and it will be way easier to validate as you can just open dev tools and set it to offline to test it. I will put this back in progress and make those changes after my current task

[2021-12-07 15:57] DanielleThierryUSDSVA commented on #33102
Hi @RLHecht. Published this and validate on live Site. Closing issue. Thanks!

[2021-12-07 15:57] #33102 closed

[2021-12-07 15:57] MickinSahni commented on #33516
- submitted one before, can they start a new one
- unauth path
- auth path
- auth path + prefilled
- American Indian question available

[2021-12-07 15:59] andaleliz commented on #31406
Taylor confirmed via Slack this is ready to validate, but I'm wondering if there are specific users I should use to test with?

I hesitate to disconnect apps from our test user accounts since  I'm not sure how to add them back. When I try to go through the process of adding a browser based app to a test user account, it leads me through a production flow, not a staging one.

[2021-12-07 16:01] Samara-Strauss commented on #31406
This is a question for the lighthouse team since they manage the connected apps tool.

[2021-12-07 16:02] RudyOnRails opened #33719 "create status proxy method in LGY service class"
## Background

The `get_application` and `get_determination` are already implemented, but the controller requires a proxy method that combines the two previous calls and generates a return value based on those two responses.

## Tasks
- [ ]  write unit tests for service class
- [ ] write code

## Acceptance Criteria
- [ ] PR has been approved

[2021-12-07 16:03] tmitchellgcio commented on #33624
A few questions I have on this @andaleliz. The first screenshot and the second are very different, but the task seems to point only to the link. The alert at the top is currently a warning, not a success message like the second screenshot. Am I making that adjustment? Also the Sign-In Email address never shows all 3 links. It seems it checks the sign in service and shows only the one link from the

[2021-12-07 16:04] MarciMcGuireGCIO commented on #31406
If I haven't said it today, you guys rock.

[2021-12-07 16:04] laurenernest commented on #33623
@RLHecht can you send the invite to both myself and @ldelacosta? thanks!

[2021-12-07 16:05] brianalloyd commented on #31537
@kelsonic this CLP has been published and is ready for URL redirects.

[2021-12-07 16:08] andaleliz commented on #33624
Hi @tmitchellgcio - this task is only for removing the FAQ and replacing it with a link.

I haven't made any changes for the alert that I can recall so I'm not sure about that. That is definitely not part of this specific ticket.

That is the expected behavior of the sign-in email address and that is not changing with this ticket.  There are some improvements that need to be made to that but it's

[2021-12-07 16:09] DanielleThierryUSDSVA opened #33720 "COVID-19 booster/omnicron updates week of 12/6"
- Some updates made Friday, 12/3. Noted below.

Page 1 – Main mini-hub:

![main mini-hub page 12-3 updates.jpg](https://images.zenhubusercontent.com/5e8b13016a4378a604f5e799/e04ca11f-ce07-4b06-928f-4ab6bf1fbf1b)

Page 2 – boosters and additional doses
![booster shots 12-3 update.jpg](https://images.zenhubusercontent.com/5e8b13016a4378a604f5e799/584a7504-724d-4b6e-8ccb-a2e98a745db8)

![booster shot

[2021-12-07 16:09] tmitchellgcio commented on #33624
Ok just wanted to be sure as the two screenshots seemed to be very different. Thanks for clarifying

[2021-12-07 16:10] LinnJS opened #33721 "[MCP]: Zero balance details link"
## Technical Task

We do not want to link to detaIls page when there are no statement details, this is happening with zero balances. Need to check the statements behind zero balance and hide/show link based on if statement exist.

## Expected Behavior

If there is zero balance with no statements do not show overview link.

## Acceptance Criteria

- [x] Hide overview link on zero balance if no stat

[2021-12-07 16:12] mnorthuis commented on #33268
@mmiddaugh Question on one of the lines above:

This key staff page listed above for redirect to West Valley is already redirected to the Prescott Vet Center.   I think the correct key staff page to be redirected is this...can you confirm?

Current | New
--- | ---
https://www.va.gov/directory/guide/keystaff.cfm?id=6098 | https://www.va.gov/west-valley-vet-center/

[2021-12-07 16:12] andaleliz commented on #33062
@MarciMcGuireGCIO you said in Slack this is ready to validate but it looks like Erik's last comment stated it's not working. Do you know if this is actually ready for staging review?

[2021-12-07 16:13] brianalloyd commented on #33224
@laurensimpson14 I'm not seeing this as an option in the `Campaign Landing Page` content KPI dashboard. Can you verify?

[2021-12-07 16:15] mchelen-gov commented on #30336
Closing as stale, please reopen if needed.

[2021-12-07 16:15] #30336 closed

[2021-12-07 16:16] MarciMcGuireGCIO commented on #33062
Oh good catch. I'll move that back to Current Sprint .  Sorry about that. I was just looking at the Validate column.

[2021-12-07 16:27] andaleliz commented on #33062
If this is ready, is there anyone else who can check it? I've spent most of the morning trying to validate tickets and haven't had a chance to work on any of my own yet.

[2021-12-07 16:29] GnatalieH commented on #32515
FYI I've submitted a support request with Analytics to help find the historical data for these URLs, so we can compare 30 days before and 30 days after a Button changed to an Action link.

[2021-12-07 16:29] MarciMcGuireGCIO commented on #33062
I'll review and also ask @Samara-Strauss to.  With AJ out and Erik gone, we're a little short of people who are familiar with how it's meant to work.

[2021-12-07 16:29] harshil1793 opened #33722 "Access for Harshil Moradia"
### COR Name

Cecila Lee

### Vendor Onboarding Representative Name

Other

### Your Name

Harshil Moradia

### Your Email

harshil.moradia@adhocteam.us

### Name of Your Team

Platform Spike Teams - Access Management

### Service(s) You Want Access To

SOCKS

### Public SSH Key

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDLAtM6X7UNaEQqD0K5B16vlBSUT9oXOKYSOYU924dAMhr4QYvP/DPacnXtDnTLLO1jYHUmUonMRblSjf5

[2021-12-07 16:32] mchelen-gov commented on #33463
@azimzores who is your PM?

[2021-12-07 16:32] mnorthuis commented on #33317
@brianalloyd This redirect is ready for your team to implement.

[2021-12-07 16:34] andaleliz commented on #33064
I'm having issues with the [accounts listed in our direct deposit user doc](https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/blob/master/Administrative/vagov-users/staging-test-accounts-direct-deposit.md) ([posted here in Slack](https://dsva.slack.com/archives/C909ZG2BB/p1638894688091800?thread_ts=1638548706.003600&cid=C909ZG2BB)) and am not able to validate this at the mome

[2021-12-07 16:34] lianilychee commented on #33287
12/7 Tues:
- gonna tighten up some things before meeting w Jonathan on Weds

[2021-12-07 16:34] lianilychee commented on #33286
12/7 Tues:
- did not do yesterday, have to do today

[2021-12-07 16:35] andaleliz commented on #33062
I think we have about the same level of familiarity. If it's higher priority for me to validate than complete my own sprint work I'll be glad to jump in. Hopefully the behavior is documented somewhere that anyone can jump in and follow along.

[2021-12-07 16:36] andaleliz commented on #33007
Documenting the response I got from Jeremy yesterday. Will post more when I hear back from him again.

[2021-12-07 16:37] MarciMcGuireGCIO commented on #33062
Ah ok; thanks for the clarification.  I'm happy to track down documentation and validate.  I don't think it's more important than your own work, and I am sorry for the confusion!

[2021-12-07 16:37] kelsonic commented on #33218
Ready to bump to 25%?

[2021-12-07 16:41] #33174 closed

[2021-12-07 16:42] mchelen-gov commented on #32916
EQIP transmittal date confirmed, access approved 👍

[2021-12-07 16:43] lianilychee commented on #33285
12/7 Tues:
- Prepping for today:
  - Samara's thoughts on RR's feedback: Might we be able to ask teams themselves what pages to deprecate?
- Today:
  - Gretchen: Prioritizing audit spreadsheet based on factors (staleness, analytics, research), outcome: have a list of next steps
  - [stretch] set up time with Samara

[2021-12-07 16:44] lianilychee commented on #32725
12/7:
- Gretchen: I'll put it on the list for today!

[2021-12-07 16:45] miabecker commented on #33572
Thanks for your intake form. We are reviewing your request and seeing how we can best support your team and your use case. Please let us know when you have more firm dates this needs to be in production and content – then we can have a meeting to review.

[2021-12-07 16:46] kelsonic commented on #33218
Now set to 25% of auth users

[2021-12-07 16:46] #33218 closed

[2021-12-07 16:46] MarciMcGuireGCIO commented on #33438
This is currently blocked due to the Perigean contract ending

[2021-12-07 16:47] MarciMcGuireGCIO commented on #33620
This is currently blocked due to the Perigean contract ending

[2021-12-07 16:50] mnorthuis commented on #26646
@denisecoveyduc Please make sure @DanielleThierryUSDSVA is included in the meeting.  Thank you!

[2021-12-07 16:50] jhouse-solvd commented on #32892
Thanks for the info. This can likely be done in the 1st or 2nd sprint of 2022 if that works for your team.

[2021-12-07 16:51] MarciMcGuireGCIO commented on #31405
@zacharymorel you can go ahead and prep this to deploy to Prod.  Thank you!

[2021-12-07 16:52] jhouse-solvd commented on #32892
@k80bowman - If you can also share which initiative this may tie to, that will be helpful.

[2021-12-07 16:56] #15297 closed

[2021-12-07 16:56] calquisola commented on #33255
With keycloak we can create a custom Authenticator that would handle success/failure of an authentication flow.
https://www.keycloak.org/docs/latest/server_development/#_auth_spi

[2021-12-07 16:57] #33255 closed

[2021-12-07 16:58] mnorthuis commented on #32652
@rileyorr I can update the IA documentation - I think the main change is the addition of the statements page, but will go through it to make sure it's accurate.

[2021-12-07 17:01] #33274 closed

[2021-12-07 17:03] bethpottsVADEPO commented on #17604
@lwalsh617 This steps approach would only makes sense for this article if we could use H2s/H3s. I edited the example--I think we can go with this latest iteration.

@RLHecht Would you copyedit the content in this one little section with the example again and let me know if you think the conditional works?

[2021-12-07 17:04] shiragoodman commented on #33630
@MarciMcGuireGCIO thanks for adding the date above! Confirmed that 12/10 at 11:30am ET is correct :)

[2021-12-07 17:05] pjhill commented on #32081
@denisecoveyduc , a few clarifying points about the staging test credentials --
* I noticed that you included the reference to the va.gov-team-sensitive repository as a screen shot. It is acceptable to link directly to resources in that repository publicly because only those with access will be able to access the resources stored there.
* The test users list appears to be stored in a GovernmentCIO

[2021-12-07 17:14] RLHecht commented on #33720
Just reviewed and made a few change that we discussed over slack.

[2021-12-07 17:18] lwalsh617 opened #33723 "R&S: Tally of the faqs covered in R&S articles"
## Issue Description
We need an accurate count on the number of IRIS and GIBHP faqs that we've replaced with R&S articles. (Faqs that are covered on tier 1 pages are not a part of this count.)
**Tasks**

- [x] Use GH status tables to identify all faqs we've included in R&S articles (Laura)

**Acceptance Criteria**

- [ ] Current total and date listed in comments below

[2021-12-07 17:28] holdenhinkle commented on #32914
Done:

![image.png](https://images.zenhubusercontent.com/5f85bcde4f4764585e8ff820/c5d22ae2-b6c5-49db-aa28-a7c6f87ccade)

[2021-12-07 17:36] #33574 closed

[2021-12-07 17:38] RLHecht commented on #33623
@laurenernest Just sent. Let me know if you don't get it. Thanks!

[2021-12-07 17:39] holdenhinkle commented on #32930
![image.png](https://images.zenhubusercontent.com/5f85bcde4f4764585e8ff820/09a000e8-12a1-4cdc-b6ce-65266848a891)

[2021-12-07 17:42] RLHecht opened #33724 "Update enrollment alert on Post-9/11 GI Bill page"
## Issue Description
Currently we have an alert on the [Post-9/11 GI Bill page](https://www.va.gov/education/about-gi-bill-benefits/post-9-11/) about needing to verify enrollment each month. If you're at an institution of higher learning this starts for terms that start after December 17, 2021. We also have language in the alert that says to "check back here soon when this new requirement starts f

[2021-12-07 17:43] brianalloyd commented on #33317
@mnorthuis thanks for passing, adding this to our board for action.

[2021-12-07 17:49] mmiddaugh commented on #33268
you're correct - that key staff page should redirect to west-valley-vet-center - thank you!

[2021-12-07 17:53] kelsonic commented on #33475
PR merged, will go out with daily today

[2021-12-07 17:55] shiragoodman commented on #33714
Staging Review scheduled for 12/16 at 1:30pm ET

[2021-12-07 18:01] rjohnson2011 commented on #31980
1 test from the Unit Test Suite is failing and causing the Unit Test Report to not generate. Working on a fix.

[2021-12-07 18:03] randomsync opened #33725 "[FE] Update pre check-in to handle when vets-api returns a HTTP 200 but with error status in body"
## How to configure this issue

- [x] Attached to an Epic (what body of work is this a part of?)
- [x] Correctly Labeled
- [x] Fill in User Stories
- [ ] Fill in Documentation
- [ ] Fill in Tasks
- [ ] Fill in Acceptance Criteria

---

## User Story
As a veteran, I want to see the correct status of pre check-in (whether it succeeded or failed) when I submit the pre check-in.

## Related Documentat

[2021-12-07 18:03] bsmartin-ep commented on #33224
URL updated to :  www.va.gov/initiatives/flu/

Should be added during today's update.

[2021-12-07 18:05] #32981 closed

[2021-12-07 18:07] laurenernest commented on #26851
@chloedotbrown Checking in on this. As I think about how I've been reporting on metrics and the VAOS roadmap, distinct flows will likely be the most useful for us. Since this is going to be the most complicated for you, shall we meet up again to discuss?

[2021-12-07 18:08] mrblanco1 commented on #33391
UATd during 12/06/2021's EDU/AFS Digital Engagement session.  Tammy approved.

[2021-12-07 18:08] seanasewell commented on #32363
@jimuhh https://vfs.atlassian.net/wiki/spaces/PPS/pages/2002059367/Steps+of+an+Accessibility+Audit

[2021-12-07 18:08] #33391 closed

[2021-12-07 18:09] LinnJS commented on #33721
[PR](https://github.com/department-of-veterans-affairs/vets-website/pull/19612) where this work is being done

[2021-12-07 18:12] #32118 closed

[2021-12-07 18:15] joeniquette opened #33726 "Create Production Inbound/Outbound Monitors"
**Context**
This is in relation [to this postmortem.](https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/blob/master/Postmortems/2021-09-20-SSOe_Outbound_Outage.md)

**User Story**
As a VSP Identity Engineer, I need better alerting around outages so that I am not reliant on user reports, or reports that are only checked periodically to be notified when various CSP's are experi

[2021-12-07 18:18] RLHecht commented on #17604
That part looks good to me @bethpottsVADEPO

[2021-12-07 18:18] LinnJS commented on #33707
[PR](https://github.com/department-of-veterans-affairs/vets-website/pull/19610) where work is being done

[2021-12-07 18:18] LinnJS commented on #33709
[PR](https://github.com/department-of-veterans-affairs/vets-website/pull/19610) where work is being done

[2021-12-07 18:19] #32876 closed

[2021-12-07 18:19] #33626 closed

[2021-12-07 18:20] calquisola commented on #33253
We used the keycloak authenticator to mock mpi.

https://github.com/department-of-veterans-affairs/pst-amt-keycloak-authenticator

[2021-12-07 18:20] #33253 closed

[2021-12-07 18:21] mmiddaugh opened #33727 "Hardcode "In the spotlight" title for common links on VAMC pages"
## Issue Description
Currently it is possible for content editors to change the title of the "In the spotlight" blue box containing common links on VAMC system pages but is intended to be standardized as "In the spotlight at [system name] health care"

This component appears on system and facility page templates

![image](https://user-images.githubusercontent.com/55411834/145087144-6370b13b-52b3-4

[2021-12-07 18:21] joeniquette opened #33728 "DR Exercise Plan Walkthrough"

[2021-12-07 18:21] mnorthuis commented on #33268
Top section updated.

@brianalloyd These are ready to ready for implementation at your earliest availability.  Thank you!

[2021-12-07 18:22] RLHecht opened #33729 "Remove address blocks from CRSC article"
## Issue Description
We currently use the address block component within the accordions of the [Combat-Related Special Compensation](https://www.va.gov/resources/combat-related-special-compensation-crsc/) article. Because these are not in a long chunk of running text, this component isn't needed to separate out the address from any other content.

## Tasks
- [x] Remove address block component from

[2021-12-07 18:23] brianalloyd commented on #33268
Thanks @mnorthuis going to slot these for next sprint based on our current burn down.

[2021-12-07 18:24] RLHecht commented on #31651
@bethpottsVADEPO Is this something we want to bring into sprint 63 or wait until the new year to update?

[2021-12-07 18:28] RLHecht commented on #32659
Public websites merged a PR that should automatically change any of these to H2s that use the Q&A content block. We can now make updates to any of the pages that don't use this and bring this into an upcoming sprint. FYSA @bethpottsVADEPO

[2021-12-07 18:34] mmiddaugh opened #33730 "[CONSIDER] Pass params for home health and telehealth as "false""
## Issue Description
PPMS telehealth and home health parameters default to "on".  Since we are not sure how to display them meaningful to Veterans, we decided to hard code them as "off" (#31520)
If we want to use them, we'll need to pass the params as false.

## Tasks
- [ ] TBD

## Acceptance Criteria

[2021-12-07 18:35] Dene-human opened #33731 "[Feature Request [Feature-Name]:TEST"
### Describe the problem

No problem, just taking this form for a trial run

### Who will benefit

TEST

### Describe your idea

TEST

### Provide evidence

TEST

### Platform Mission

- [ ] Keeps these products and services available, stable, and secure.
- [ ] Ensures they are consistent and meet high standards of quality in Veteran-centered user experience and technical approach.
- [ ] Provides

[2021-12-07 18:38] MarciMcGuireGCIO opened #33732 "[EPIC] Auth Profile - Address Change Messaging"
## Product Outline
[Link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/product-management/product-outline-template.md)

## High Level User Story/ies
As a Veteran, I need to be aware that if I modify my home address that I also need to confirm my mailing address so I can make sure that I continue to receive correspondence and/or prescriptions from the VA.

## H

[2021-12-07 18:41] jonathanjnelson commented on #33657
- VFS team member was able to access [user guide](https://vfs.atlassian.net/wiki/spaces/SDT/pages/1938915400/Submitting+a+feature+request)
- VFS team member confirmed they can access the project board and issue form
- VFS team member submitted the request ([for reference](https://github.com/department-of-veterans-affairs/va.gov-team/issues/33731))

[2021-12-07 18:43] mnorthuis commented on #28651
@brianalloyd Looks like the first redirect in the list is not working: http://www.va.gov/find-locations/facility/vc_0538V.

Also not sure why I removed myself from this issue way back when!

[2021-12-07 18:46] mmiddaugh opened #33733 "[CONSIDER] Vet Center satellite locations sort order"
## Issue Description
Currently we sort Vet Center Satellite locations alphabetically within the hierarchy (outstations -> CAPs -> mobile). Nearby Vet Centers are displayed alphabetically. There may be rationale to using other sort order logic.
- We could allow Vet Centers to influence sort order based on local recognizability or frequency of use (for shared mobile Vet Centers).
- Proximity from th

[2021-12-07 18:50] mnorthuis commented on #28651
Looks like the other ones were completed in #29183, but that first one is a straggler.

[2021-12-07 18:53] MarciMcGuireGCIO opened #33734 "[Design] Auth Profile - Address Change Messaging - Wireframe possible solutions"
## Issue Description

_See #30112 for more background and discussion from meeting with stakeholder team_

As a Veteran, I need to be aware that if I modify my home address that I also need to confirm my mailing address so I can make sure that I continue to receive correspondence and/or prescriptions from the VA.

Today, there is a message in the Home address section, but it is not clear to the end

[2021-12-07 18:56] mmiddaugh opened #33735 "Lovell current experience deep dive"
## Issue Description
Lovell facilities need to be handled differently than VAMC because they primarily service active duty personnel

---
## Tasks
Deep dive on curent Lovell experience to learn the following
- What is the healthcare journey for DoD/active duty service members (and how is it different from Veterans)
- Are all facilities strictly DoD? No Veteran use?
- What are top tasks for active

[2021-12-07 18:57] considerable commented on #33215
work in progress:
https://docs.google.com/spreadsheets/d/14iNeWOyaMe0aqVtgfCqTE7cl3xAfQ7YJDsjRbADOXCk/edit#gid=1482742543

[2021-12-07 18:58] andaleliz commented on #30112
@Samara-Strauss thanks for clearing this up for me. It took me reading this aloud to get through my head what is happening here and I can now see why this may be problematic, without user research. Depending on the solution we land on, maybe we'll need to do some research after the fact to validate it works for people. Marci will spin up some tickets for me to work on.

In this case, I think our c

[2021-12-07 18:59] andaleliz commented on #30112
Oh, I also realize that there are probably analytics somewhere that can help us understand how often both addresses get updated in the same session, and how often that checkbox is used. That might be useful information. @MarciMcGuireGCIO can you add a task in my ticket to look at analytics for any helpful metrics? Thank you!

[2021-12-07 19:01] brianalloyd commented on #28651
@mnorthuis thanks for catching, I'll get it working now.

[2021-12-07 19:03] srsuddath commented on #33139
This ticket can be closed! We can take and upload the excel data file to the S&D folder to save it for sharing

[2021-12-07 19:03] srsuddath commented on #33139
[https://app.zenhub.com/files/133843125/2b288ca6-13b2-4092-aea3-0bd6c4f1326c/download](https://app.zenhub.com/files/133843125/2b288ca6-13b2-4092-aea3-0bd6c4f1326c/download)

[2021-12-07 19:04] MarciMcGuireGCIO commented on #30112
@andaleliz - done!  Here is some GA data on how often addresses are changed.  Don't know about the checkbox, but there should be an action we can track.  https://analytics.google.com/analytics/web/#/dashboard/pq_-PrkvQleUdCBbV7eq7Q/a50123418w177519031p176188361/

[2021-12-07 19:04] ptouchton opened #33736 "[Unit Test] Refactor unit test for removing a provider in a CC request when the residential address is missing."
## Tasks
- Understand state of the data
- Determine if the appropriate mechanisms are in place
- Update unit tests

[2021-12-07 19:08] ptouchton commented on #33736
Original ticket: #32686

[2021-12-07 19:09] MarciMcGuireGCIO opened #33737 "[Design] Auth Profile - Address Change Messaging - Attend office hours for content recommendations"
## Issue Description
Attend Content office hours to request feedback on the language to use in the wireframes for Address Change Messaging.

---
## Tasks
- [x] Attend Content office hours to present low-fi wireframes
- [x] Incorporate Content feedback into wireframes

## Acceptance Criteria
- [x] Lo-fi mockups have been presented during Content office hours
- [x] Feedback has been incorporated int

[2021-12-07 19:10] mmiddaugh opened #33738 "VAMC experience for logged in users"
## Issue Description
What should the VAMC page experience be for logged in users? How can we customize/personalize the experience?
i.e. What are top tasks?

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_

[2021-12-07 19:11] k80bowman commented on #32892
@jhouse-solvd this one would fall under our Design System Tech Debt initiative. I've added the epic to this card, in case that's helpful. Thank you!

[2021-12-07 19:15] ltrombley commented on #33396
Task #33396 - Post Production Audit of VAMC VA Fayetteville coastal health care for links, standards, and design standards.[BA] - is Complete and moved to Validate

[2021-12-07 19:17] MarciMcGuireGCIO commented on #30112
Epic for this work: #33732; scope is defined and prelim tasks listed in the epic.

[2021-12-07 19:17] #30112 closed

[2021-12-07 19:20] ldelacosta opened #33739 "Update the additional info web component in the VAOS application"
Platform Design System team created an additional info web component. We should replace the existing Additional Info React component to the updated Additional Info web component.
[Additional info web component details ](https://design.va.gov/components/additional-info)

---
## Known Differences
Tasks:

- Try out replacing the Additional Info React component with Additional Info web component and d

[2021-12-07 19:20] cindymerrill commented on #32883
Moderated 8 research sessions. Moving on to writing a topline summary and will close this ticket.

[2021-12-07 19:20] #32883 closed

[2021-12-07 19:23] omgitsbillryan commented on #33722
SOCKS access granted. Please allow 15 minutes before attempting to connect.

https://depo-platform-documentation.scrollhelp.site/getting-started/Internal-tools-access-via-SOCKS-proxy.1821081710.html

If you still have issues, reach out in #vfs-platform-support slack channel.

[2021-12-07 19:23] #33722 closed

[2021-12-07 19:27] MarciMcGuireGCIO commented on #31406
So far it's crickets on the [connected_apps Slack thread](https://dsva.slack.com/archives/C0136FJV5R9/p1638893019002200) where Liz & Samara requested a staging account that can be used to test disconnecting an app.   I'm going to also ping Joe Tice his team is working on a Test User Dashboard.

[2021-12-07 19:38] mmiddaugh opened #33740 "Update Cerner links"
## Issue Description
In #31109, we added redirects to the Cerner portal from within the "Manage your health online" box based on a Cerner flag in CMS identifying systems which have cutover (currently just Spokane).. These redirects were to a general Cerner login page.  We have now information on the task-specific deep link.

![image](https://user-images.githubusercontent.com/55411834/145094247-505

[2021-12-07 19:42] mnorthuis commented on #32652
@rileyorr  IA documentation is updated to reflect the addition of the html statement page in the hiearchy and flow, and the breadcrumbs should now all just reflect the H1 of the page.

The only open item in this work is the financial hub page, which will hopefully be resolved tomorrow.

[2021-12-07 19:48] tmac9494 commented on #32630
The issue was caused by a "box-sizing: inherit "rule set on the va-alert element causing the element to switch to a different box-sizing property than "border-box" which caused the width to not be calculated correctly. I added a "box-sizing: border-box !important" rule on the element and added a max-width of 100vw to prevent the boundary from breaking outside the frame again. Also removed a lot of

[2021-12-07 19:50] holdenhinkle commented on #33364
TUD Onboarding Process - https://docs.google.com/document/d/1WYPAqGJUxDTabKZGReOZGWxJbgJLtOoX3_2tO14XhJk/edit#heading=h.ibv5uh4q2jyh

[2021-12-07 19:57] mmiddaugh opened #33741 "Add Cerner link to hardened Medical Records page"
## Issue Description
The current VA blue button medical records widget will not provide the best experience for Veterans receiving care at Cerner facilities. Until we can provide a more elegant solution, we can replace the widget for a simple link [to view clinical notes via the patient portal](https://patientportal.myhealth.va.gov/pages/health_record/clinical_documents/open_notes?pagelet=https%3A

[2021-12-07 19:58] #33580 closed

[2021-12-07 19:58] lindsay-insco opened #33742 "VEText Live Environment Training"

[2021-12-07 20:00] jimuhh commented on #33153
acceptance criteria met. Closing issue

[2021-12-07 20:00] #33153 closed

[2021-12-07 20:01] tmac9494 commented on #32630
https://github.com/department-of-veterans-affairs/component-library/pull/238

[2021-12-07 20:07] joeniquette commented on #33009
https://github.com/department-of-veterans-affairs/devops/pull/10385

[2021-12-07 20:08] #33731 closed

[2021-12-07 20:09] joeniquette commented on #33012
John R. has the document for this task, received 12/6.

[2021-12-07 20:11] alsleaders commented on #33575
After looking into this I can confirm that a screen reader is not reading the bulleted list at the bottom of downloaded letters as a bulleted list.  After researching and discussing with my team, I've found that this letter is generated by an upstream service, and I am not able to fix this display problem.

[2021-12-07 20:13] mmiddaugh opened #33743 "Identify sources of traffic pointed to old endpoint"
## Issue Description
We've identified traffic on our old endpoint with "static page" and "dashboard" headers. We need to find the owners/sources of this traffic so they can update their endpoint appropriately and we can deprecate the old endpoint.

---
## Tasks
(as determined during conversation with Megan Kelley. Tim Wright may also be able to help)
- [ ] Determine which traffic belongs to the Fa

[2021-12-07 20:14] ERRonat0609 commented on #28682
@allison0034 Yes, that is the correct link

[2021-12-07 20:20] AirWalters opened #33744 "Request access to Google Analytics and/or Domo"
# Request Google Analytics and/or Domo access

## What this form is for
Use this template to request access to Google Analytics and/or Domo. Please complete steps 1 & 2 below.

## 1. Access Requirements
Please check the analytics tool(s) you need access to:
- [x] Google Analytics (tag manager)
- [ ] Domo
- [ ] (Platform Teams only) BigQuery

## 2. User Email Address to Receive Access
**Due to priv

[2021-12-07 20:22] jwoodman5 opened #33745 "Add Support Response Templates to AVA"
## Issue Description
_Now that we are handling support issues in AVA, we want to add our response templates there for more efficient handing of cases_

---
## Tasks
- [ ] _Add support response template to AVA backend_

## Acceptance Criteria
- [ ] _All applicable support templates have been added to AVA_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be comple

[2021-12-07 20:23] omgitsbillryan commented on #33679
SOCKS access granted. Please allow 15 minutes before attempting to connect.

https://depo-platform-documentation.scrollhelp.site/getting-started/Internal-tools-access-via-SOCKS-proxy.1821081710.html

If you still have issues, reach out in #vfs-platform-support slack channel.

[2021-12-07 20:24] omgitsbillryan commented on #33679
**For AWS Access**
User: Peyton Lucas
Vendor: Liberty IT - Michael G. Lovejoy
Approval needed: @mchelen-gov

[2021-12-07 20:25] pavanhothi commented on #33246
Completed.

[2021-12-07 20:25] #33246 closed

[2021-12-07 20:26] allison0034 commented on #29725
The link to the video and page are updated on Platform website

[2021-12-07 20:26] #29919 closed

[2021-12-07 20:26] caw310 opened #33746 "Draft documentation for Bold text on headings"
## Issue Description
During the 2/5 DSC meeting, Trevor had raised the topic of bold text turning into HTML on scheduling cards. The DST has been tasked with doing an audit of this pattern and draft guidelines.

Link to #19301 has more information.
Bold text on headings must be consistently marked up as headings
https://github.com/department-of-veterans-affairs/va.gov-team/issues/19301

There is a

[2021-12-07 20:27] pavanhothi commented on #27914
Thank you @lianilychee !

[2021-12-07 20:27] Samara-Strauss commented on #33062
Something is not working. This message is showing when I sign in with user 36 via Login.gov, which means that direct deposit isn't loading. We know this user has direct deposit access via ID.me, so something is definitely wrong.

![image](https://user-images.githubusercontent.com/34068740/145101189-1801dbf0-808d-450a-b476-33b1a15f14d1.png)

[2021-12-07 20:30] MarciMcGuireGCIO commented on #33062
@Samara-Strauss I noticed that as well when I logged in a few min ago.  @tmitchellgcio @zacharymorel can you both take a look at anything you've recently moved to Staging and confirm that there isn't something going on in the FE code preventing profile info from loading fully?  Thx!

[2021-12-07 20:30] jwoodman5 opened #33747 "Cross Reference Support Templates with KM Articles"
## Issue Description
_We want to cross-reference support response templates with applicable KM articles_

---
## Tasks
- [ ] _cross-reference support response templates with applicable KM articles_

## Acceptance Criteria
- [ ] _Applicable KM articles are cross-referenced in support response templates_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be complete

[2021-12-07 20:33] jhouse-solvd commented on #32454
Although auto-scaling was not yet implemented, Sidekiq workers were manually scaled up to give consistent performance. We will re-visit scaling, likely once this is up and running in EKS.

[2021-12-07 20:33] jhouse-solvd commented on #32454
Moving to the backlog.

[2021-12-07 20:35] jhouse-solvd commented on #33093
@pjhill - Do you have what you need from the Operations team at this time? ie is TUD up and running per your team's requirements?

[2021-12-07 20:36] joeniquette opened #33748 "Filter multiple EDIPIs based on A and H markers"
If the user has no value, a single value, or multiple values with a single ^A value, they should be permitted through (with the ^A value being used).

This is similar for IENs. That ticket will be moved over to in progress and should be tested alongside this ticket.

[2021-12-07 20:39] johnheirloom commented on #30279
@DanielleThierryUSDSVA we met with Login.gov today, and we are good from our end on content. The actual release of Login.gov won't be until sometime in January at this point, more to come on a more definite timeframe.

[2021-12-07 20:41] holdenhinkle commented on #33364
Onboarding confluence doc - https://vfs.atlassian.net/wiki/spaces/TTT/pages/2008547462/TUD+Onboarding+Request+Process

[2021-12-07 20:42] MarciMcGuireGCIO commented on #33062
Noting that whatever was causing the issue above now seems to be resolved & profile info is loading

[2021-12-07 20:42] lwalsh617 commented on #33723
@bethpottsVADEPO -- Here's the tally you asked for. LMK if you have questions or need additional details.

![image](https://user-images.githubusercontent.com/53535663/145103171-8b11ba54-7716-4d87-b0ad-3b6cb5272b14.png)

[2021-12-07 20:43] Samara-Strauss commented on #33062
Ah -- nvm, it's working now! I can see and load the direct deposit section and update my info

![image](https://user-images.githubusercontent.com/34068740/145103314-a73cd167-2c45-41fa-8875-a07e6954db8c.png)

[2021-12-07 20:46] omgitsbillryan commented on #33627
https://github.com/department-of-veterans-affairs/github-user-requests/issues/9125

[2021-12-07 20:48] APorter-Clarity commented on #33012
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity/login.gov/Sign-In_Accessibility_Research_Study.md

[2021-12-07 20:53] omgitsbillryan commented on #33627
Checkboxes are getting checked w/o the work actually being done. For example, this ticket claims SOCKS has been removed, but I just checked and it hasn't. Same goes for AWS access...

[2021-12-07 20:55] brianalloyd opened #33749 "Analytics KPI dashboard request for [Public Websites Team]"
# Request a Standard KPI Dashboard

## What this form is for

Use this template to request a KPI dashboard on Domo for your product.

We are currently only supporting standardized dashboards for Forms, Content, & Search products. If you have another VA.gov product, please reach out to the Platform Analytics & Insights team on #vfs-platform-support. Please note that these dashboards will require ad

[2021-12-07 20:56] brianalloyd commented on #33749
@bsmartin-ep another CLP to add to the Campaign Landing Page Content KPI dashboard.  Let me know if any questions remain.  Thanks.

[2021-12-07 21:02] MarciMcGuireGCIO commented on #33066
Putting a block on this pending Identity completion of #32643, which has a [pull request pending review.](https://github.com/department-of-veterans-affairs/vets-website/pull/19516)

[2021-12-07 21:03] ptouchton opened #33750 "Platform Orientation Template"
## User Story
As a new VA.gov team member, I need to complete onboarding activities so I can successfully work on my project.

## Acceptance Criteria
- [ ] Each team member has completed each item in the orientation checklist below.

## Onboarding Checklist

- [ ] PM: Attend intro meeting with product support PM
- [ ] Attend General Orientation meeting ([schedule via Calendly](https://calendly.com

[2021-12-07 21:07] andaleliz commented on #31407
@tmitchellgcio isn't there already logic in place for when this error message should show? We shouldn't be changing the logic, just the appearance of the alert.

[2021-12-07 21:09] alsleaders opened #33751 "Request access to Google Analytics and/or Domo"
# Request Google Analytics and/or Domo access

## What this form is for
Use this template to request access to Google Analytics and/or Domo. Please complete steps 1 & 2 below.

## 1. Access Requirements
Please check the analytics tool(s) you need access to:
- [ ] Google Analytics
- [x] Domo
- [ ] (Platform Teams only) BigQuery

## 2. User Email Address to Receive Access
**Due to privacy concerns,

[2021-12-07 21:12] DanielleThierryUSDSVA commented on #30279
Awesome! Thanks so much, @johnheirloom! We'll be ready to publish whenever the launch is ready. Thanks!

[2021-12-07 21:18] mmiddaugh commented on #32759
this is now fixed on staging

[2021-12-07 21:18] #32759 closed

[2021-12-07 21:21] mchelen-gov commented on #31179
@mydesignrocks EQIP transmittal date confirmed, request approved 👍

[2021-12-07 21:21] mchelen-gov commented on #32818
@mleclerc00 EQIP transmittal date confirmed, request approved 👍

[2021-12-07 21:22] MarciMcGuireGCIO opened #33752 "[Design] Auth Profile: Notification Prefs: Mock up Josh Kim's suggestion for resolving a11y issue #31446"
## Issue Description
A 508 defect-3 issue (#31446) from the Notification Preferences Staging review needs a designer to review recommendation from the Accessibility team and mock up their recommended solution.

---
## Tasks
- [ ] Mock up [Josh Kim's suggested modifications from related FE a11y ticket](https://github.com/department-of-veterans-affairs/va.gov-team/issues/31446#issuecomment-983767663

[2021-12-07 21:23] shiragoodman commented on #33696
Hi @mmiddaugh. Thanks for completing this Collaboration Cycle Kickoff ticket! Based on your responses, your project is an iteration to a tool and/or application so we are recommending the following Collaboration Cycle touchpoints:

- [Design Intent](https://depo-platform-documentation.scrollhelp.site/collaboration-cycle/Design-intent.1782153235.html)

- [Midpoint Review](https://depo-platform-docu

[2021-12-07 21:25] omgitsbillryan commented on #33628
GH offboard ticket https://github.com/department-of-veterans-affairs/github-user-requests/issues/9126

[2021-12-07 21:25] mmiddaugh commented on #32590
This issue is resolved on Prod

[2021-12-07 21:25] #32590 closed

[2021-12-07 21:28] bethpottsVADEPO commented on #31651
@RLHecht Let's bring it into the next sprint! We'll hold off on adding an info alert to the contact us page for now though. We need to flesh out R&S a bit more first.

[2021-12-07 21:29] omgitsbillryan commented on #33632
/request Peggy Gannon

[2021-12-07 21:31] bethpottsVADEPO commented on #32659
@RLHecht Have we already identified bulleted list setups that aren't in blue boxes? This could definitely be brought into an upcoming sprint.

[2021-12-07 21:33] omgitsbillryan commented on #33668
GH org removal request https://github.com/department-of-veterans-affairs/github-user-requests/issues/9127

[2021-12-07 21:34] omgitsbillryan commented on #33668
No PD, sentry, bot accnt, or datadog.

[2021-12-07 21:35] omgitsbillryan commented on #33668
/request Elissa Frankle Olilnsky

[2021-12-07 21:37] mnorthuis commented on #32980
@natashaj7 @miabecker I also have a number of questions on this work and how it will relate to and flow into profile.  Have you met with anyone in the auth experience team about the profile functionality that this references yet?

It seems as though we could use a working session to talk through this.

[2021-12-07 21:39] mmiddaugh opened #33753 "Restore pagination for community care providers and pharmacies"
## Issue Description

Addition of # of results in header is a separate effort

## Tasks
- [ ] Remove hard coding to suppress pagination
- [ ] Page and per page will be available for pagination of following searches
      - [ ] community care providers
      - [ ] community pharmacies
- [ ] Include in original toggle
- [ ] Update/add tests as needed

## Acceptance Criteria
- [ ]  Veterans can see s

[2021-12-07 21:39] MarciMcGuireGCIO opened #33754 "Auth Profile: Test VA.gov Profile on Staging after VA Profile migrates to new API 12/17"
## Background
The VA Profile team is migrating to a new API on Staging on 12/17 and we need to test VA.gov Profile to be sure that data is loading correctly.

## Tasks
- [x] Test logging into VA.gov profile on Staging
- [x] Test Personal & Contact Info
- [x] Test Military Info
- [x] Test Direct deposit info
- [x] Test Notification settings
- [x] Test Account security
- [x] Test Connected apps

##

[2021-12-07 21:56] timwright12 commented on #11510
This has been deployed to production

[2021-12-07 21:57] jhouse-solvd opened #33755 "[Offboarding Process] Investigate better solution for initiating and processing requests"
## Description
Sometimes users that open offboarding tickets check off items under “AC” when creating the request using the existing template. This creates confusion for personnel fulfilling the request (ie Ops team members). It appears that tasks have been done when they have not. This can impact security (because of access not being properly revoked) and support workflow.

Problems:
- ability fo

[2021-12-07 21:57] brianseek commented on #33555
@ytsaoca Updated screenshots:
![localhost_3001_health-care_appointment-pre-check-in_introduction (1).png](https://images.zenhubusercontent.com/61523b5b9d354750f04823db/0a696fb4-1f3e-4e1a-9ea1-608c1a64fca0)

[2021-12-07 21:57] #30136 closed

[2021-12-07 21:59] brianseek commented on #32777
Screenshot for UX review @ytsaoca :
![localhost_3001_health-care_appointment-pre-check-in_introduction (2).png](https://images.zenhubusercontent.com/61523b5b9d354750f04823db/a909d88f-f222-451d-8ae9-70b1bec8b941)

[2021-12-07 21:59] #32773 closed

[2021-12-07 22:00] #32774 closed

[2021-12-07 22:00] #32949 closed

[2021-12-07 22:01] #32776 closed

[2021-12-07 22:02] #32744 closed

[2021-12-07 22:02] #33195 closed

[2021-12-07 22:03] brianalloyd opened #33756 "[Research] Draft Research Plan - HRT Static Content Landing Page"
## High Level User Story/ies
As a Veteran or VA employee, I need a way to report an incident of workplace harassment or assault which takes place at a VA facility so I can be assured that there is investigation and remediation.

[Product Outline for Reference](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/harassment-reporting/read-me.md)

##  Tasks
- [x] Draft

[2021-12-07 22:04] brianseek commented on #32780
Screenshot for review:
![localhost_3001_health-care_appointment-pre-check-in_ (3).png](https://images.zenhubusercontent.com/61523b5b9d354750f04823db/9baa70a8-b09b-467a-b0df-7f7d6e71eca5)

[2021-12-07 22:05] #32781 closed

[2021-12-07 22:07] brianseek commented on #33434
Screenshots for review @ytsaoca:
![localhost_3001_health-care_appointment-pre-check-in__id=46bebc0a-b99c-464f-a5c5-560bc9eae287 (1).png](https://images.zenhubusercontent.com/61523b5b9d354750f04823db/d66021a1-e7d6-45a9-8c3b-c43ccdde8a28)
![localhost_3001_health-care_appointment-pre-check-in__id=46bebc0a-b99c-464f-a5c5-560bc9eae287 (2).png](https://images.zenhubusercontent.com/61523b5b9d354750f04823

[2021-12-07 22:07] #32779 closed

[2021-12-07 22:08] brianseek commented on #32772
Screenshot for review @ytsaoca:
![localhost_3001_health-care_appointment-pre-check-in__id=46bebc0a-b99c-464f-a5c5-560bc9eae287 (1).png](https://images.zenhubusercontent.com/61523b5b9d354750f04823db/5c79a7ef-136a-4455-ad81-4270a1daf0cb)

[2021-12-07 22:09] #30601 closed

[2021-12-07 22:12] Dene-human commented on #30792
@lzapson Here is the PDF.

[Insurance PDF](https://app.zenhub.com/files/133843125/4e45a9f0-2011-4881-b914-3338f4a3d90d/download)

[2021-12-07 22:13] brianalloyd commented on #31537
This CLP is live. Thanks all, closing ticket in support.

[2021-12-07 22:13] #31537 closed

[2021-12-07 22:14] brianalloyd commented on #33368
This CLP is Live.  Closing this ticket in support

[2021-12-07 22:14] #33368 closed

[2021-12-07 22:14] brianalloyd commented on #33475
Validated, closing ticket in support.

[2021-12-07 22:14] #33475 closed

[2021-12-07 22:15] brianalloyd commented on #32630
Validated, closing ticket in support.

[2021-12-07 22:15] #32630 closed

[2021-12-07 22:23] MarciMcGuireGCIO opened #33757 "[FE] Auth Profile: Update Personal Info page to link to "why we ask for this" to R&S article"
## Background
Based on [this conversation](https://github.com/department-of-veterans-affairs/va.gov-team/issues/32327#issuecomment-983767025), the "Why we ask for this" copy at the top of the Personal Info page will be changed to a link to a Resources & Support article. [URL TBD]  Please refer to mockup: https://www.sketch.com/s/ba254d92-3c3d-4eba-825d-d7f5bda35565/a/zx0GAGa

## Tasks
- [ ] Change

[2021-12-07 22:29] MarciMcGuireGCIO commented on #33007
FE ticket for linking to R&S article once complete:  #33757

[2021-12-07 22:30] mrblanco1 opened #33758 "Caution Flag showing when it should not"
## What happened?

Brian Grubb reported on Wed 12/01/2021:

Can you have one of the developers look at this caution flag. I checked all the files and it shouldn’t be showing this flag. See below.

INDIANA INSTITUTE OF TECHNOLOGY-EVANSVILLE - GI Bill® Comparison Tool
INDIANA INSTITUTE OF TECHNOLOGY - GI Bill® Comparison Tool (va.gov)

ED OPE code: 00180500/DAPIP URL: DAPIP | Homepage (ed.gov)

Also

[2021-12-07 22:35] christineyost opened #33759 "Add LGY Guaranteed Remittance to the vagov staging fwdproxy"
## Description
Add LGY Guaranteed Remittance to the vagov staging fwdproxy so that it is accessible through the staging Lighthouse API gateway. The LGY Guaranteed Remittance SQB environment needs to be mapped to the Lighthouse staging environment.

## Background/context
* The ticket tracking this work is [here](https://vajira.max.gov/browse/API-11392)

## Technical notes
* I created a [PR](https:/

[2021-12-07 22:47] mnorthuis opened #33760 "Vanity URL Request - Hazardous exposures PSA - JAN 3,2022"
### Instructions
- Requests must be submitted **AT LEAST** 2 weeks in advance.  Some requests take a significant amount of time and coordination to implement, so start the process as soon as you know you will need one.
- This issue will be used from initial request through implementation to ensure all individuals working on this are notified of status updates.  Please do not create multiple issues

[2021-12-07 22:48] mnorthuis commented on #33760
@brianalloyd Vanity URL request for launch on or around January 3rd, 2022 - does not need to be that exact date.

[2021-12-07 22:49] MarciMcGuireGCIO commented on #33064
Tested with user 36 and seeing the below message instead of the correct one.
![image](https://user-images.githubusercontent.com/73354907/145117897-2f5dde01-8f38-48b4-83f6-71ea8e3b3fae.png)

[2021-12-07 22:53] mnorthuis commented on #33760
never mind, this is a duplicate!  already opened #32655

[2021-12-07 22:53] #33760 closed

[2021-12-07 22:53] mnorthuis commented on #32655
FYI, there was an update to the requested vanity URL.  Top request info reflects the update.

[2021-12-07 23:02] MarciMcGuireGCIO commented on #33064
^^ @Samara-Strauss for visibility.  Liz and I both encountered issues trying to validate Taylor's changes today.  May be account related... stay tuned.

[2021-12-07 23:05] MarciMcGuireGCIO commented on #31406
@Samara-Strauss - Still haven't seen a reply to Liz's or your posts in #connected-apps; Joe Tice also doesn't have any leads on a user for testing disconnecting/connecting apps.   Do you have any other contacts I could reach out to?  Thx!

[2021-12-07 23:07] MarciMcGuireGCIO commented on #31407
Making a note that we may encounter the same issue trying to validate this as we are hitting trying to validate successfully disconnecting.

https://github.com/department-of-veterans-affairs/va.gov-team/issues/31406#issuecomment-988326206

[2021-12-08 00:54] tressaellen commented on #32289
Hello @hdjustice and @Samara-Strauss - sorry for the delay on this, my computer dying set me back a bit. I just wanted to give an update, I just posted the latest design [in this Mural board](https://app.mural.co/t/vsa8243/m/vsa8243/1638500075560/0e849f61e282ebe2d8e7119eea504e4c05b0bbe4?sender=tressafurner7646). I'd love your feedback and comments, feel free to leave them on the mural board.

I'm

[2021-12-08 00:59] DanielleThierryUSDSVA commented on #33720
Hi @RLHecht. Here's the updated vaccine records page with adding the mobile app in. Also moved links up in the step-by-steps. Lauren and Leanna confirmed this is good to go from an accuracy perspective. Can you let me know when you've reviewed this? http://preview-prod.vfs.va.gov/preview?nodeId=34795 I'll then send over to clinical folks. Thanks!

[2021-12-08 01:01] lianilychee opened #33761 "LINTER: Configure linter"
# User story

As a Platform website contributor, I need to know how to improve what I've written so, that I can deliver high-quality content and a good customer experience.

# Tasks

- [ ] Put rules into spreadsheet
- [ ] Prioritize/identify the quality checks that can fit into a "comprehensive" linter for end-of-year (EOY) release
- [ ] Configure the spreadsheet for easy copy/pasting into the tex

[2021-12-08 01:02] lianilychee opened #33762 "LINTER: Validate linter"
# User story

As a Content team member, I need to test the linter with a Platform website contributor, so that I can refine the linter user experience.

# Tasks

- [ ] Identify/schedule 1-2 willing participants to use the linter
- [ ] Identify modifications to make to linter
- [ ] Modify linter given participants' feedback

# Acceptance criteria
- Particpants have tried the linter

# Reference inf

[2021-12-08 01:02] lianilychee opened #33763 "PUBLISHING WORKFLOW: Implement 2nd iteration of publishing workflow"
# User story

As a Platform website contributor, I need a way to "stage" what I've written so that it can be checked by the linter, in ultimately deliver high-quality content and a good customer experience.

# Tasks

- [ ] Create "drafts" space in Platform website
- [ ] Modify [Organization](https://vfs.atlassian.net/wiki/spaces/AP/pages/1241579796/Organization) page
- [ ] Identify 1-2 participant

[2021-12-08 01:02] lianilychee opened #33764 "TESTING CONTENT: Synthesize audit"
# User story

# Tasks

- [ ] Gretchen / Samara align
- [ ] Validate with Testing tools team

# Acceptance criteria

# Reference info

[2021-12-08 01:02] lianilychee opened #33765 "TESTING CONTENT: Conduct tactical remediations"
# User story

As a VFS team member, I need to read high-quality and consistent testing tools content, so that I have trust in the Platform.

As a Content team member, I need to revise selected testing tools pages with tactical remediations, so that I can build customers' (VFS) trust in the Platform.

# Tasks

- [x] Identify list of documents that won't be rendered obsolete later
  - Candidates:

[2021-12-08 01:02] lianilychee opened #33766 "NEWSLETTER PIVOT: Set editorial bar level"
# User story

As a Content team member, I need to know what level of editorial check effort to apply to the communications roundup experiment, so that:
(a) I can execute the experiment
(b) I don't detract from future team initiatives

# Tasks

# Acceptance criteria
- [ ] Keep Rachael Roueche abreast of details

# Reference info
- [Communications roundup experiment](https://vfs.atlassian.net/wiki/s

[2021-12-08 01:02] lianilychee opened #33767 "NEWSLETTER PIVOT: Execute experiment"
Pending sync with Service Design

[2021-12-08 01:02] lianilychee opened #33768 "[stretch] PUBLISHING WORKFLOW: Create guidance"

[2021-12-08 01:02] lianilychee opened #33769 "[stretch] PUBLISHING WORKFLOW: Propose workflow alternatives"

[2021-12-08 01:02] lianilychee opened #33770 "[stretch] LINTER: Create guidance"

[2021-12-08 01:09] bsmartin-ep commented on #27074
## QA - WIP

GTM container:
https://tagmanager.google.com/#/container/accounts/144676348/containers/2214120/workspaces/1000578

Interaction | Data Layer | Tag
----|-----|-----

[2021-12-08 01:09] larrywest52 commented on #32994
DONE

[2021-12-08 01:30] lianilychee commented on #33056
Closing -- will be incorporated as a part of https://github.com/department-of-veterans-affairs/va.gov-team/issues/30576

[2021-12-08 01:30] #33056 closed

[2021-12-08 01:30] #30102 closed

[2021-12-08 01:31] lianilychee commented on #30100
Closing, since this work is pivoting to https://github.com/department-of-veterans-affairs/va.gov-team/issues/33511

[2021-12-08 01:31] #30100 closed

[2021-12-08 01:39] lianilychee commented on #33280
Oh jeez, how ironic.  I've fixed it; thanks for flagging!  Out of curiosity, did you submit this issue through the Feedback and Support link at the bottom of the [Quality assurance (QA) testing](https://depo-platform-documentation.scrollhelp.site/developer-docs/Quality-assurance-(QA)-testing.1241579982.html) page?

[2021-12-08 01:45] jwoodman5 commented on #31728
This was previously added on staging and prod. Closing.

[2021-12-08 01:45] #31728 closed

[2021-12-08 01:55] lianilychee commented on #33429
hi hi!  Gosh, thanks for flagging this @michelpmcdonald .  I'm gonna send this feedback to the TUD team.

[2021-12-08 01:57] lianilychee commented on #33413
hi!  Thanks for flagging this, Mike Chelen.  The Platform Content/IA team will get to this as soon as we can.

[2021-12-08 02:16] lianilychee commented on #1518
Removing the `documentation` and `documentation-support` labels and moving to the team's backlog board https://github.com/department-of-veterans-affairs/va.gov-team/projects/33

[2021-12-08 02:17] lianilychee commented on #10268
hello @meganhkelley !  May I close this ticket?

[2021-12-08 02:20] lianilychee commented on #12316
Closing this ticket, since the Platform website is the new source of truth for [onboarding information](https://depo-platform-documentation.scrollhelp.site/getting-started/index.html).  Please open another ticket for further onboarding questions!

[2021-12-08 02:20] #12316 closed

[2021-12-08 02:22] lianilychee commented on #16251
Closing, the work is very done now.

[2021-12-08 02:22] #16251 closed

[2021-12-08 02:26] lianilychee commented on #26491
closing this ticket, as the issue (duped content) appears to be resolved.

hey @jbritt1 !  In the future, if you have any Platform website questions -- ie, your q about making the change show up https://github.com/department-of-veterans-affairs/va.gov-team/issues/26491#issuecomment-872213178 -- you can best reach the Content/IA team through [#vsp-confluence](https://dsva.slack.com/archives/C01AS05

[2021-12-08 02:26] #26491 closed

[2021-12-08 04:36] #33280 closed

[2021-12-08 05:42] candy-gcio commented on #33432
Updated based on screenshots from front end
- [Punch list](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/ebenefits/features/view-update-POA/research-design/Search-Appoint-PunchList.md)

[2021-12-08 12:31] DanielleThierryUSDSVA commented on #27780
Hi @denisecoveyduc @rileyorr @LinnJS! Here's a [preview ](http://preview-prod.vfs.va.gov/preview?nodeId=704)of how we're thinking of restructuring the landing page to work in the new tool and streamline the page a bit while we're at it. As we talked about, however, the H2 for the tool sign in widget will appear with no widget until you launch to 100% of users. I'm thinking that what might be easie

[2021-12-08 12:55] RLHecht commented on #33720
@DanielleThierryUSDSVA I reviewed this. The VA network won't let me check that the Google Play link is correct. It tells me it's restricted. Can you let me know if it works for you? Otherwise everything else looks good.

[2021-12-08 13:21] #11510 closed

[2021-12-08 13:32] DanielleThierryUSDSVA commented on #33720
Hi @RLHecht. I checked it on my other computer and it works. My only question is do you think the build will break because it's appearing as a broken link?

[2021-12-08 13:35] RLHecht commented on #33720
It shouldn't be an issue. I think the CMS team has now set up a system where it takes a certain number of broken links to break the build so this shouldn't affect it. It also doesn't show as a broken link in CMS, just when I click it I get an error message that I can't access it. I'll keep an eye on it when we publish though to see if there are any problems.

[2021-12-08 13:36] YanaRoy opened #33771 "VSA Onboarding - Nicole Leonard"
## Welcome to the VSA Program - START DATE: 12/8/21

Welcome! This issue will be used to track your onboarding to the VSA Program.

---

## Pre-Onboarding

**Operation Lead Tasks**

- [ ] Send Welcome email to New Hire (request GitHub Username)

*Send Notifications with New Hire details (name, position, start date) to:*

- [ ] Admin Analyst
- [ ] VA Leadership
- [ ] VA PO
- [ ] Practice Lead
- [ ]

[2021-12-08 13:38] MarciMcGuireGCIO opened #33772 "Incorporate feedback into design"

[2021-12-08 13:58] MarciMcGuireGCIO opened #33773 "[Design] Auth Profile - Address Change Messaging - Write FE specs"
## Background

The UX for the 'Address Changing' message work need to be written and stored with the project documentation for future reference.

## Tasks
- [x] Document the user experience using a combination of UI and explanatory text

## Acceptance Criteria
- [x] Document has been created and stored with the Profile documentation [here](https://github.com/department-of-veterans-affairs/va.gov-t

[2021-12-08 14:03] ldelacosta commented on #31959
Validated the copy doc changes in staging site.

**_New appointment Covid-19 vaccine workflow:_**
![Screen Shot 2021-12-08 at 8.59.58 AM 1.png](https://images.zenhubusercontent.com/615208f37e69549d6e01d915/c1a704b0-428e-4808-998c-1ee9dc40540c)

**_New appointment workflow:_**
![Screen Shot 2021-12-08 at 8.59.58 AM.png](https://images.zenhubusercontent.com/615208f37e69549d6e01d915/db243985-e1c6-473

[2021-12-08 14:03] #31959 closed

[2021-12-08 14:03] MarciMcGuireGCIO opened #33774 "[FE] Auth Profile - Address Change Messaging - Build FE"
## Overview
This ticket is to implement the front-end changes as shown in the updated design https://github.com/department-of-veterans-affairs/va.gov-team/issues/33772

## Tasks
- [x] Build FE to display modals as shown in the latest mockups
- [x] Test
- [ ] Leave comment in this ticket when ready to review on Staging

## Acceptance Criteria
- [ ] Build FE to display modals as shown in the latest

[2021-12-08 14:03] #32594 closed

[2021-12-08 14:20] JordanSWhite opened #33775 "Set priorities - Templates"

[2021-12-08 14:21] JordanSWhite opened #33776 "Design round 1 - Templates"

[2021-12-08 14:21] JordanSWhite opened #33777 "Test round 1 - Templates"

[2021-12-08 14:21] JordanSWhite opened #33778 "Design round 2 - Templates"

[2021-12-08 14:21] JordanSWhite opened #33779 "Test round 2 - Templates"

[2021-12-08 14:21] JordanSWhite opened #33780 "Finalize priorities - Templates"

[2021-12-08 14:21] JordanSWhite opened #33781 "KPIs and Analytics"

[2021-12-08 14:21] JordanSWhite opened #33782 "POC deck delivered"

[2021-12-08 14:22] JordanSWhite opened #33783 "Design round 2 - Homepage"

[2021-12-08 14:22] JordanSWhite opened #33784 "Test round 2 - Homepage"
**Acceptance Criteria**
Research plan, conversation guide and report uploaded to Github

**To be done**
Refine research plan and conversation guide
Send research plan and conversation guide to Lauren
Send participant criteria to Perigean
Test
Synthesize feedback on a rolling basis

[2021-12-08 14:22] JordanSWhite opened #33785 "Draft Requirements - Homepage"
**Acceptance Criteria**
- [ ] draft, Tiered feature requirements in sharable document.
- [ ] Socialize with VA-PO and VA-DL for approval or down selection of feature requirement / priority

[2021-12-08 14:22] JordanSWhite opened #33786 "KPIs and Analytics"

[2021-12-08 14:22] JordanSWhite opened #33787 "POC deck delivered"

[2021-12-08 14:26] Samara-Strauss commented on #33064
This needs to be tested with an MHV or DS Logon user since this copy only shows to them.

[2021-12-08 14:27] holdenhinkle opened #33788 "Research updating TUD to handle additional login types"
Currently, TUD only supports ID.me logins. Look into what needs to be done to add support for additional login types, like login.gov.

[2021-12-08 14:27] MarciMcGuireGCIO commented on #33064
Oh! Thank you! I'll check now.

[2021-12-08 14:28] holdenhinkle opened #33789 "Implement updating TUD to handle additional login"

[2021-12-08 14:28] Samara-Strauss commented on #31406
@MarciMcGuireGCIO I don't, actually. I'll see what I can track down.

[2021-12-08 14:29] MarciMcGuireGCIO commented on #31406
Thank you!

[2021-12-08 14:30] andaleliz commented on #24975
Hi @Samara-Strauss! I've [completed the synthesis of the comparative analysis](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/discovery-research/comparative-analysis/personalization-profile-comparative-analytsis.pptx). Would you mind reviewing it before I officially call it done?

I took a different approach this time by putting everythi

[2021-12-08 14:47] MarciMcGuireGCIO opened #33790 "[FE] - Taylor/Zach - Handoff meeting with Zach"
## Overview
Meeting for Taylor to get a handoff from Zach on the work he's done thus far on Personal Info Review.

## Tasks
- [ ] Schedule handoff meeting
- [ ] Transfer knowledge
- [ ] Verify that Taylor has other FE engineers who can review his PRs after Friday

## Acceptance Criteria
- [ ] Taylor has a good understanding of where Zach left off and enough information to continue the work.
- [ ]

[2021-12-08 14:52] holdenhinkle opened #33791 "Refactor the daily a11y scan"
## Issue Description
The daily a11y scan could be refactored to make it easier to follow the workflow.

---
## Tasks
- [ ] Refactor the Slack notifications in the workflow

## Acceptance Criteria
- [ ] Slack notification jobs in the a11y scan workflow are split up based on the outcome of the tests (succeeded, failed, or canceled)

[2021-12-08 14:53] holdenhinkle opened #33792 "Add tests for the BE unit test BiqQuery code in vets-api"
## Issue Description
Add tests for the BE unit test BiqQuery code in vets-api.

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_

[2021-12-08 14:54] nsmith1982 opened #33793 "Offboarding of Bryan Belanger"
# Instructions
Fill out name of individual and *Description* section below.

# Description
- Please provide the name of the individual needing offboarded.

- Please provide the name of their team, their role on that team, expected last day, and the name of the company they work for.

- Please provide any type of access they may have and their GitHub username.

## AC
*Performed by Platform team*
 -

[2021-12-08 14:55] holdenhinkle opened #33794 "Restructure the Github ingestion mechanism in the Dashboard Data repo to be extensible"
## Issue Description
Restructure the Github ingestion mechanism in the Dashboard Data repo to be extensible to things like commit rate, lines of code add/subtract, etc. Similar restructure to what we did with Mochawesome.

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_

[2021-12-08 14:55] Samara-Strauss commented on #33064
Logging in with DS Logon doesn't always work, so I would use an MHV user. [You can find that staging info here](https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/blob/master/Administrative/vagov-users/mhv-lower-env-test-accounts.md). I believe you need to use someone who is marked as "Advanced" or "Premium" since that's the equivalent of identity verified.

[2021-12-08 14:56] Samara-Strauss commented on #31406
I've asked in vfs-all-teams. I'm hoping one of the the almost 1000 people in that channel can help.

[2021-12-08 14:58] holdenhinkle opened #33795 "Refactor GitHub Actions report jobs by creating reusable actions"
## Issue Description
GitHub actions testing reports actions can be broken down into reusable actions to avoid repetitive steps and eliminate many lines of code in workflow files that are quite bloated

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_

[2021-12-08 15:04] MarciMcGuireGCIO commented on #33064
Thank you, @Samara-Strauss !  I thought since it was Login.gov it meant we had to test by logging in through Login.gov.  🤦🏻‍♀️

[2021-12-08 15:06] holdenhinkle opened #33796 "Add additional unit test coverage to the Dashboard Data repo"
## Issue Description
Add additional unit test coverage to the Testing Tools Team Dashboard Data repo. Unit test coverage is currently ~40%.

---
## Tasks
- [ ] Create unit tests
## Acceptance Criteria
- [ ] Unit test coverage is 90% or greater

[2021-12-08 15:06] Samara-Strauss commented on #33064
Got it. Sorry for the confusion. This particular task only affects DS Logon and MHV users -- we need to let them know Login.gov is now an option in addition to ID.me.

[2021-12-08 15:09] rjohnson2011 commented on #31980
FE Test Suite Executions table is up on Domo:
![image.png](https://images.zenhubusercontent.com/5fb40598d06a06671e842a63/4d5fb9dc-8aa4-4d27-bdea-c88b59c007cc)

Working on chart for Pass/Failures/Pending.

[2021-12-08 15:11] Mottie opened #33797 "[Formulate]: Provide `updatePage` all the time"
## Description

I'm using [`CustomPage` ](https://department-of-veterans-affairs.github.io/veteran-facing-services-tools/forms/bypassing-schemaform/) in a list-loop, so I can't use the built-in method of updating the form data since it doesn't currently work with arrays - i.e. the `name` prop doesn't allow for indexes (`form.data.<name[index]>`). Instead I'm using `<VaTextInput>` along with `<Simp

[2021-12-08 15:12] MarciMcGuireGCIO commented on #31406
I also DM'd Cary Otto and TJ Rice

[2021-12-08 15:21] Samara-Strauss commented on #32289
This is great! I actually don't have much in the way of feedback. This is exactly what we talked about, and it feels super intuitive to me.

Great. One thing re: the health care section. If there are no unread messages, the prompt to send a message should still show in the list with the other links. It should only not show in this list if there are unread messages.

Thank you for the great work on

[2021-12-08 15:22] k80bowman opened #33798 "Dependency Upgrade - Yarn"
## Description
Submitting this request on behalf of the Design System Team. We would like for the `yarn` dependency on vets-website to be upgraded from version 1 to version 3. This will make it easier for us to link the vets-website repo with the component-library repo locally in order to test new/updated design components.

[2021-12-08 15:23] mchelen-gov commented on #27951
@mydesignrocks EQIP transmittal date confirmed, access approved 👍

[2021-12-08 15:23] #32686 closed

[2021-12-08 15:26] #28058 closed

[2021-12-08 15:28] MickinSahni commented on #33538
Hey @dillo assigning you as well to this ticket since the team doesn't have access to AWS right now

[2021-12-08 15:29] lunascoop commented on #33247
@RLHecht this page is ready for review.

Have questions before you get your COVID-19 vaccine?: http://preview-prod.vfs.va.gov/preview?nodeId=19578

[2021-12-08 15:32] MarciMcGuireGCIO commented on #33064
So, this happens when I try to use MHV:

![image](https://user-images.githubusercontent.com/73354907/145236235-49be871b-d5d8-432d-baa0-8ad70c14b796.png)

[2021-12-08 15:39] andaleliz commented on #33064
@MarciMcGuireGCIO you have to be on the VA network to use MHV staging :/

[2021-12-08 15:39] Samara-Strauss commented on #24975
This is great! I don't have any feedback. I think the powerpoint format works well given all the screenshots. Great work!

[2021-12-08 15:39] MarciMcGuireGCIO commented on #33064
@andaleliz DOH!!!  LOL So many things! 🤣

[2021-12-08 15:40] Samara-Strauss commented on #33064
Oh right, I completely forgot that since I'm always on the VA network. Yes, you have to be on the VA network to validate. Sorry this is a mess.

[2021-12-08 15:41] MarciMcGuireGCIO commented on #33064
Ok, so with a DSLogon User, I am seeing this message, which does not seem to match the language listed above.

![image](https://user-images.githubusercontent.com/73354907/145237562-3ec042c1-9ff8-4443-a3c2-0eb446dc735c.png)

[2021-12-08 15:41] andaleliz commented on #24975
OMG YAY! Do you feel the earth shaking?! That's me doing a happy dance that this is complete :) I will see about scheduling some time with the team to present the deck.

[2021-12-08 15:41] #24975 closed

[2021-12-08 15:41] MarciMcGuireGCIO commented on #33064
@Samara-Strauss - no need to apologize.  You guys didn't create the mess.  I'm sure this is all documented and I forgot.

[2021-12-08 15:43] MickinSahni opened #33799 "[draft] Caregiver MuleSoft Implementation"
## User Story

As a team, we want to be confident in the roll-out process for the Caregiver MuleSoft implementation.

## Acceptance Criteria

- [ ] Release plan available for team to review

[2021-12-08 15:44] kristenmcconnell commented on #33465
We will need a UI to manage test users and schedule appointments. Look into what Insomnia currently does.
- See existing appointments
- Phone number changes
- Make appointments

Corey is going to talk to Katherine about VSE staging capabilities.

[2021-12-08 15:45] denisecoveyduc commented on #32081
Hi Everyone, My apologies I drafted a note yesterday and then went to check on the sharepoint and forgot to send it. Too many plates spinning this week.

**Staging  URL:** https://staging.va.gov/health-care/pay-copay-bill/your-current-balances/
**Staging Test Users:** You can use User 80 and 81 from the [mvi-staging-users.csv](https://github.com/department-of-veterans-affairs/va.gov-team-sensitive

[2021-12-08 15:48] af-manish opened #33800 "Request access to Google Analytics and/or Domo"
# Request Google Analytics and/or Domo access

## What this form is for
Use this template to request access to Google Analytics and/or Domo. Please complete steps 1 & 2 below.

## 1. Access Requirements
Please check the analytics tool(s) you need access to:
- [X] Google Analytics
- [ ] Domo
- [ ] (Platform Teams only) BigQuery

## 2. User Email Address to Receive Access
**Due to privacy concerns,

[2021-12-08 15:49] MickinSahni opened #33801 "[example] Collaboration Cycle Checklist for 10-10 team"
## Instructions

<details>

Copy/Paste the below into a new issue to create a checklist of required touchpoints for your project after receiving feedback from your Collab Cycle Kickoff.   The checklist and associated teams are current as of **Nov 3, 2021** based on [VSP's Collab Cycle Touchpoints](https://depo-platform-documentation.scrollhelp.site/collaboration-cycle/Touchpoints.1768423528.html)

[2021-12-08 15:51] Samara-Strauss commented on #33064
I was about to say I also validated with an MHV user and see the same thing you do -- it mentions Login.gov, but the copy is different than what is shown in the initial message of this post. @MarciMcGuireGCIO [per Erik's message in this comment](https://github.com/department-of-veterans-affairs/va.gov-team/issues/33064#issuecomment-984853006) it sounds like the copy wasn't updated to what @andalel

[2021-12-08 15:58] ltrombley commented on #33263
Task #33263 - Resolve LBGT pages that should be updated to LGBTQ+ pages and work with CMS to resolve URL change [BA]  - is Complete and moved to Validate.

[2021-12-08 16:01] Samara-Strauss commented on #24975
Wonderful! Thank you, Liz!!

[2021-12-08 16:04] andaleliz commented on #33752
Hi @MarciMcGuireGCIO - I took a look at Josh's ticket, and I'm not sure design work is necessary here. The [suggestions in this comment](https://github.com/department-of-veterans-affairs/va.gov-team/issues/31446#issuecomment-983767663) are exactly what I'd recommend and will resolve the a11y issue, without changing the design at all.   FE would just need to make a couple of small tweaks to the cod

[2021-12-08 16:10] oseasmoran73 opened #33802 "Deprecate Jenkins in vets-website and content-build except for review instances"
## Description

As we have migrated away from Jenkins and now are using Github Actions, we should deprecate Jenkins with the exception of review Instances

## Task
- [x] `content-build` deprecate Jenkins, with exception of RI
- [x] `vets-website` deprecate Jenkins, with exception of RI

[2021-12-08 16:11] MarciMcGuireGCIO commented on #24975
🎈 🥳 🎆

[2021-12-08 16:13] oseasmoran73 commented on #33802
content-build [PR](https://github.com/department-of-veterans-affairs/content-build/pull/509)
vets-website [PR](https://github.com/department-of-veterans-affairs/vets-website/pull/18516)

[2021-12-08 16:17] JordanSWhite opened #33803 "Design Meeting presentation"
Create a deck for the 12/20 design meeting

[2021-12-08 16:18] LinnJS opened #33804 "[Debt Letters]: Enable e2e cypress test"
## Technical Task

Public websites skipped test due to failing in CI/CD re-enable them so we have full test coverage again.

## Expected Behavior

All debt letters e2e test are enabled.

## Acceptance Criteria

- [ ] Fix and re-enable debt letters cypress test

[2021-12-08 16:19] LinnJS commented on #33804
[PR](https://github.com/department-of-veterans-affairs/vets-website/pull/19590#pullrequestreview-826646043) where test were skipped due to blocking builds.

[2021-12-08 16:21] briandeconinck opened #33805 "Platform Orientation Template - Brian DeConinck"
## User Story
As a new VA.gov team member, I need to complete onboarding activities so I can successfully work on my project.

## Acceptance Criteria
- [ ] Each team member has completed each item in the orientation checklist below.

## Onboarding Checklist

- [x] PM: Attend intro meeting with product support PM
- [x] Attend General Orientation meeting ([schedule via Calendly](https://calendly.com

[2021-12-08 16:23] alsleaders commented on #30725
"Canceled" was added as a status type in this PR: https://github.com/department-of-veterans-affairs/vets-website/pull/18929/files/370adc1a99062664fae83d85ff7237527020c25f
and was successfully deployed.

[2021-12-08 16:23] #30725 closed

[2021-12-08 16:27] SgardnerPMP opened #33806 "[VAMC] Update all Drupal Detail page URL alias to remove the "va-" and update to match standards [BA]"
## User Story
As a VHA Digital Media web manager, the URL alias pages must not have va- prior to any page name, so a urls meet standards and do not cause any issues in cookies or redirects.

## Goal
Remove tech-debt for all VAMC web pages

## Resources - Tools - Documentation
TBD

## Tasks
- [x] Remove all alias instances of "va-" from original naming inheritance.
- [x] If the pages are key health

[2021-12-08 16:31] pdavies88 commented on #33479
Issue stems from here: https://github.com/ionic-team/stencil/issues/1740
e2e tests for Lifecycle events sometimes fail specifically for componentDidLoad which is what we are testing.
Looking into an alternative way to write the test.

[2021-12-08 16:34] pjhill commented on #33093
Hey Jesse, I think it's safe to say this ticket can be completed. Unfortunately, switching out the hosting solution for EKS doesn't appear to have solved our issue with the GitHub OAuth cookie becoming invalid. However, this effort and the ops office hours combined to spur a different solution to our issue which we are currently investigating.  For the time being, let's keep the EKS hosting and th

[2021-12-08 16:37] #33583 closed

[2021-12-08 16:37] ytsaoca commented on #32772
@brianseek
Looks good!

[2021-12-08 16:39] RLHecht commented on #33262
Can close this ticket and open a new one for sprint 63 to broaden the R&S article.

[2021-12-08 16:39] MarciMcGuireGCIO commented on #33752
Ok; sounds good. Thank you! I'll close this out and link over to your comment.  Gracias, senora!  (helping you practice for PR)

[2021-12-08 16:40] #33575 closed

[2021-12-08 16:40] brianalloyd commented on #33650
@tmac9494 can you take this ticket.

[2021-12-08 16:41] MarciMcGuireGCIO commented on #31446
Removing blocker per [Liz's evaluation here](https://github.com/department-of-veterans-affairs/va.gov-team/issues/33752#issuecomment-988947987)....

Please just make the FE change exactly as Josh recommended [in his comment](https://github.com/department-of-veterans-affairs/va.gov-team/issues/31446#issuecomment-983767663).  Thanks!

[2021-12-08 16:42] MarciMcGuireGCIO commented on #33752
Closing this per above comments and removing as a blocker for 31446

[2021-12-08 16:42] #33752 closed

[2021-12-08 16:44] lianilychee commented on #33287
12/8 Weds:
- Met with Jonathan, gonna ad in some detail by EOD
- will be ready to share with whomever
- liani
  - connect with James
  - look at notes, see what we're on the hook for re: OCTO-DE office hours
  - Thursday - open to w/e

[2021-12-08 16:45] lianilychee commented on #33286
12/8 Weds:
- blocked by time, have to connect with James

[2021-12-08 16:46] lwalsh617 commented on #13910
Dropping a note about the back pay article. VA had it tagged as disability and pension. We had it as a disability article. That SME said not to migrate, so it became a pension article. Beth checking with pension SME to confirm if there is indeed pension back pay. Also checking with disability SME: Considering the high page views, whether we want to bring this back as a disability article.

[2021-12-08 16:46] RLHecht commented on #33135
Email Steve to see if we can do this on the 10th since the 11th is Saturday.

[2021-12-08 16:47] APorter-Clarity commented on #33013
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity/login.gov/Sign-In_Accessibility_Conversation_Guide.md

[2021-12-08 16:48] mnorthuis commented on #28682
@ERRonat0609 What is your plan for launch of this tool in regards to it's URL and the production tool?  Will you be moving it to the existing production URL and eliminating "sandbox" from the URL?

[2021-12-08 16:49] lianilychee commented on #33285
12/8 Weds:
- yesterday:
  - Did Phase II, ie the synthesis
- thoughts: think we should shop around a lil bit, validate with Rachael, Testing tools team

[2021-12-08 16:49] dcgoodwin2112 opened #33808 "[FE] Enable BTSSS Link in production"
## How to configure this issue

- [ ] Attached to an Epic (what body of work is this a part of?)
- [ ] Correctly Labeled
- [ ] Fill in User Stories
- [ ] Fill in Documentation
- [ ] Fill in Tasks
- [ ] Fill in Acceptance Criteria

---

## User Story

Enable existing BTSSS link on produciton.

## Related Documentation

- [Sketch](https://www.sketch.com/s/e79a827e-42cf-4a82-b554-874c75b5c70e)
- [Pro

[2021-12-08 16:50] callen2563 commented on #33454
@brianalloyd @kelsonic I have removed the side nav you can see the [sketch updates here](https://sketch.com/s/8ec18b80-a905-47fb-a217-5720450befa1).

[2021-12-08 16:51] lianilychee commented on #32725
12/8 Weds:
- let's hold to next year!

[2021-12-08 16:52] DanielleThierryUSDSVA opened #33809 "COVID-19 education updates"
We need to reach out to education SME to connect on current and upcoming COVID-19-related updates for https://www.va.gov/coronavirus-veteran-frequently-asked-questions/:

**Current immediate update:** We received notice that there's been an update around needing to be in person for GI Bill benefits. I'm not 100% clear on what the update is. The team needs to reach out to the education SME to get f

[2021-12-08 16:52] callen2563 commented on #33457
@brianalloyd @kelsonic Desktop designs can be seen here [sketch updates here](https://sketch.com/s/8ec18b80-a905-47fb-a217-5720450befa1).

[2021-12-08 16:53] lianilychee commented on #33284
12/8 Weds:
- Today: Put whatever is not in the linter from the table, into the spreadsheet.

[2021-12-08 16:55] lwalsh617 commented on #20644
@bethpottsVADEPO - If you drop your feedback here, I'll revise for this sprint. Thanks

[2021-12-08 17:06] oseasmoran73 commented on #33802
Review instance to work in Github Action [ticket](https://github.com/department-of-veterans-affairs/va.gov-team/issues/21750)

[2021-12-08 17:07] brianalloyd opened #33811 "Remove content build fixtures tests and all instances of <fieldAdminstration>"
## User Story
- As a Veteran, Caregiver and user of VA.gov, I want to be able to filter events offered by the VA and distinguish between which are static and which are recurring events.

## Related Information
[Pull Request](https://github.com/department-of-veterans-affairs/content-build/pull/828)

## Description
- We need to remove content build fixtures tests along with all instances of `fieldAd

[2021-12-08 17:08] lihanli opened #33812 "[BE] Add statds logging to help troubleshoot BGS ch33 latency issue"
tasks:
contact bgs about ch33 latency
add statds measure around bgs ch33 calls

[2021-12-08 17:10] tressaellen commented on #32289
re: no unread messages- Yep, I agree! I'll drop all of that documentation into this ticket when it's wrapped up. :)

[2021-12-08 17:11] DanielleThierryUSDSVA commented on #27780
Hi @RLHecht. The page at http://preview-prod.vfs.va.gov/preview?nodeId=704 is ready for copy editing. We'll want to hold on publishing, as I'll first take this to our VHA partners for awareness and because we'll need to wait until the tool is launched to 100% of users.

[2021-12-08 17:13] Kwoly opened #33813 "VA Payment History Does Not render on Timeout"
## Issue Description
The `https://www.va.gov/va-payment-history/payments/` page does not render and throws an error when `https://api.va.gov/v0/profile/payment_history` times out.

We need to add another set of checks to see if the `payments` value is undefined, and if so, display an error message to the user.

---
## Tasks
- [ ] ViewPaymentsList.jsx handles payment fetching timout gracefully
- [

[2021-12-08 17:13] lihanli opened #33814 "[BE] Allow login.gov users in ch33 direct deposit policy and ppiu policy"
Allow login.gov users in ch33 direct deposit policy and ppiu policy

[2021-12-08 17:13] hdjustice commented on #32289
@tressaellen This looks great!  I am definitely curious on the uses cases and how we think the page will look for the various scenarios.  Thanks so much!

[2021-12-08 17:13] chloedotbrown commented on #32733
**Data QA**
To be as thorough as possible for this dashboard, I created a [spreadsheet](https://docs.google.com/spreadsheets/d/1B-U8_35c8CaETxz2iAJ2L-LxawIDXNvajpd9OlEr9GY/edit?usp=sharing) for QA here, which also includes a column to gut-check the business logic. This may be overkill for metrics we've used elsewhere, but for new KPIs and data sources, I want to create an extra step to make sure w

[2021-12-08 17:19] gescobardev commented on #33236
https://developer.foresee.com/docs/testing-web-sdk

[2021-12-08 17:35] mrblanco1 commented on #12338
Noah working on his portion of the code. ETA 12/10.