[2020-09-23 18:37] peggygannon commented on #8858
**9/21//2020 update**

the following Platform content docs have been updated (week of 9/21).
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/content/content-best-practices.md

https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/content/form-content-process.md

I'm closing this issue, as @gmaciolek is working on similar initiative wi

[2020-09-23 18:37] #8858 closed

[2020-09-23 18:38] #13935 closed

[2020-09-23 18:40] jason-gcio commented on #13905
@MickinSahni - Per Micah: The unique ID for this widget is `chapter-36-cta`. So the full attribute needed will be `data-widget-type="chapter-36-cta"`

[2020-09-23 18:43] MickinSahni opened #13983 "Learning Center Search - MVP 1.0"
## Product Outline
[Link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/product-management/product-outline-template.md)

## High Level User Story/ies
As a _____, I need _____ so I can _____.

## Hypothesis or Bet
**If** _we make this change_ **then** _we expect this to happen_.

## OKR
_Which Objective / Key Result does this epic push forward?_

## Definition o

[2020-09-23 18:46] james-costa commented on #13887
@davem-va 👀

[2020-09-23 18:50] bmcgrady-ep commented on #13708
@ricetj - Thanks for pointing out that not all of the interactions are tracked on the Connected Apps Dashboard. I changed the dashboard to reflect the interactions with connected apps. Here is a [link](https://analytics.google.com/analytics/web/#/dashboard/-7uuXRP8QJOLgqwi7s5OOg/a50123418w177519031p176188361/) to the updated dashboard. Let me know if you want me to change anything.

[2020-09-23 18:54] bmcgrady-ep commented on #4552
@MickinSahni - Thanks for the update. Here is a [link](https://analytics.google.com/analytics/web/#/dashboard/Pq1Oso_0SWWgHWBkcxwqKg/a50123418w177519031p176188361/) to a WIP GA Dashboard for Form Detail Landing Pages. Let me know what you think.

[2020-09-23 19:03] srmyers17 opened #13984 "Document Mobile Collaboration Cycle"
## User Story
As a VSP product manager, I want to understand what parts of our Collaboration Cycle that worked for the mobile app team and if not, then I want to see what the mobile app team did instead.

## Tasks

- [ ] Update UX sections

- [ ] Update Accessibility section

- [ ] Update Staging section (with Testing Plan)

- [ ] Update Security section

- [ ] Update Call Center section

- [ ] Up

[2020-09-23 19:03] rebeccawalsh commented on #13765
@peggygannon

Here are how they display in the designs, with the initial ideas for content:
**- Debt card on the list page, when there is a next step for the Vet:** ([UXPin link](https://preview.uxpin.com/067dc9cad4c5966bc8a5f3a400cf10206e6a51d4#/pages/132263526/specification/sitemap?mode=i))
![image](https://user-images.githubusercontent.com/6361930/94056876-d8b27e00-fdac-11ea-9be4-6bad9191fceb.p

[2020-09-23 19:07] Samara-Strauss commented on #12923
OK, thank you for this. I sent this along to the person who made the original request. I think we are otherwise good to close this out.

[2020-09-23 19:07] #12923 closed

[2020-09-23 19:08] #13424 closed

[2020-09-23 19:11] mmiddaugh commented on #11764
@mpelzsherman @brangi you can leave the map out of the front end for now

[2020-09-23 19:16] patrickvinograd commented on #13726
You _could_ just serialize the txnid and ssoe attributes from the session model into the user object without moving them out of the sign_in object. I.e. change it at API response rendering time, and thus not have to coordinate 3 PRs. But if that will lead to longer term confusion I'm okay with what is proposed.

[2020-09-23 19:23] zurbergram commented on #13371
https://github.com/department-of-veterans-affairs/vets-website/pull/14332/files

[2020-09-23 19:25] lealester commented on #13315
will resume scaffolding with DAV on Friday (9/25/2020)

[2020-09-23 19:26] jonathanjnelson commented on #12806
Updated designs can be seen in [InVision](https://vsateams.invisionapp.com/share/XBYROF0SC3U#/431602920_Intro_)

[2020-09-23 19:26] #12806 closed

[2020-09-23 19:29] RLHecht commented on #12694
I made this fix and the pages have all been published. Moving to validate. FYSA @MickinSahni @brianalloyd

[2020-09-23 19:32] vikram-dhariwal opened #13985 "Preserve Account - vikram-dhariwal"
Keep GitHub Access

[2020-09-23 19:38] andaleliz commented on #13332
All sessions have been scheduled!

[2020-09-23 19:52] Samara-Strauss commented on #12175
Closing this. I don't think there are any post-launch URL updates. We've already updated the content pages, and the public websites team is handling the redirect from account --> profile.

[2020-09-23 19:52] #12175 closed

[2020-09-23 19:59] jonathanjnelson commented on #13389
Current wire flows can be seen here: [10-10EZ - Address Addition 2.0.pdf](https://github.com/department-of-veterans-affairs/va.gov-team/files/5271547/10-10EZ.-.Address.Addition.2.0.pdf)

- Need to update flows for Authenticated - Mailing and Home complete in Profile (but different/same to have radio options.

- Some kind of alert after submission if

[2020-09-23 20:00] RLHecht opened #13986 "Correct state abbreviation on decision reviews pages"
## Issue Description
We have the wrong abbreviation for Nebraska listed on decision reviews pages where we mention finding addresses for other benefit types. Instead of NB it should be NE. See screenshot below:

![Screen Shot 2020-09-23 at 3.55.45 PM.png](https://images.zenhubusercontent.com/5c9b7e302ac54336e2c327b8/c9f26046-6d11-4f42-936a-695e2e373c05)

Pages this is on:

- https://www.va.gov/dec

[2020-09-23 20:10] cvalarida opened #13987 "Bundle the forms library as a node package"
## Issue Description
Write a design doc for bundling the forms library as a node package.

### Considerations
- Migration for form applications
- Build process
  - Do we commit `dist/`?
  - Is this handled in CI?

## Acceptance Criteria
- [ ] The design doc is accepted or rejected with a documented decision

[2020-09-23 20:11] 1Copenut commented on #13729
@jenstrickland Late to the discussion. Thank you for collating good points about perf budgeting and mobile-first designs. I agree with these feedback and have no additional items.

[2020-09-23 20:12] Samara-Strauss commented on #13329
@tressaellen @callen2563 I'm looking forward to this meeting tomorrow! I wanted to share a short list of things I think you need to cover with the platform team and get your thoughts:

- Brief intro of the project
  - We had a kickoff meeting for this work months ago with them, but a quick overview to make sure everyone is on the same page can't hurt
- Why this project will be different than some

[2020-09-23 20:17] srmyers17 opened #13988 "App store reviews"
## User Story

As a user, I want to know how other users rate the app so that I can decide whether or not to download it.

## Notes

- when should we ask them for a rating?
- when we ask will impact how they respond (eg, waiting for a claim could be a bad review)

[2020-09-23 20:19] jenniferlee-dsva opened #13989 "Update design files to show other sandwich layers: learning center"
## Update design files to show other sandwich layers: learning center

As a PW team member, I want to be able to visualize the latest design iterations for article templates.

1/ Please update the following 1.0 LC pages with the latest iterations on the sandwich layers:

- [x] Step-by-step
- [x] Multiple FAQs
- [x] Question and answer
- [x] About

**Sandwich layers:**

- Need more help - contact i

[2020-09-23 20:23] shiragoodman opened #13990 "Orientation for VSA/Healthcare Team - new BE Engineer"
## Onboarding User Story
New BE Engineer Dillo Raju on the VSA/Healthcare team going through orientation to work on the VSP, they need support to get up and running. This epic contains the tasks our team will perform to support them through their orientation stage.

## Goal
Get New BE Engineer Dillo Raju on the VSA/Healthcare team up and running in their workflow as quickly as possible.

## Issues

[2020-09-23 20:24] #13100 closed

[2020-09-23 20:24] #13432 closed

[2020-09-23 20:24] #13576 closed

[2020-09-23 20:24] #13430 closed

[2020-09-23 20:25] rileyorr commented on #13227
The research readout is complete and available [here on GH](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/eFolders_Migration/research/discovery-sept20/research-readout.md)

[2020-09-23 20:29] jonwehausen commented on #10987
Hi @brangi ,

Here are the full data layer samples of each event..each event should be pushed simultaneously along with their respective variables. All of the variables you see below should be pushed along with the same `recordEvent()` for each interaction.

From what we could see, the variables were populating with the correct values, but they were all being pushed as separate messages. When thes

[2020-09-23 20:30] tressaellen commented on #13918
@Samara-Strauss I've updated this ticket, let me know if you think it's missing anything.

[2020-09-23 20:33] #12639 closed

[2020-09-23 20:33] #12300 closed

[2020-09-23 20:33] Samara-Strauss commented on #13329
Reopened this, not sure why it got closed since the meeting is tomorrow.

[2020-09-23 20:33] #10629 closed

[2020-09-23 20:35] #10219 closed

[2020-09-23 20:37] joanneesteban commented on #12215
Checking in again. ForeSee's been adding fixes, but I'm still seeing the button on my end. The logic that we're asking for is for the button to ONLY appear on the following education pages:

staging.va.gov/education
staging.va.gov/gi-bill-comparison-tool

We're asking that _everything_ after the `/` at the end of these URLs be excluded. Will update when we see better results.

[2020-09-23 20:37] brangi commented on #10987
thanks, @jonwehausen, I think it's going to be challenging to gather all those messages for `event': 'fl-search-results',` at the same time, because of the way our API calls are designs (for vetsAPI and then for MapBox). But let me see what I can do.

[2020-09-23 20:39] Samara-Strauss commented on #13918
I changed the name of this ticket to "[Design] Logged-in homepage overview section" since this overview/new name tag area will show regardless of whether people have health care or not (though we obviously wouldn't show the disability/claims/appointment info if those boxes didn't apply to somebody).

Otherwise, the tasks list looks good to me!

[2020-09-23 20:44] srmyers17 opened #13991 "Error state directing user to call center"
## User Story

As a user, I am not able to access a service because I don't have the requisite ID and therefore need to be directed to the call center.

[2020-09-23 20:46] tressaellen commented on #13918
Thank you! I was struggling with what to call it, that sounds good to me.

[2020-09-23 20:53] saneshark opened #13992 "Adding Ariel Nerbovig to DSVA Slack"
Please upgrade this user to Full Member.

[2020-09-23 20:53] saneshark commented on #13992
@anerbovig for awareness

[2020-09-23 20:53] Samara-Strauss commented on #13918
Also, an idea that you can take or leave: for appointments, maybe that area shows something like "2 upcoming" instead of a date and doctor name. We could then pull out more detailed appointment info on the dashboard itself.

[2020-09-23 20:56] LizCallaghan commented on #13992
done!

[2020-09-23 20:56] anerbovig commented on #13992
Thank you, Liz!

[2020-09-23 20:58] ala-yna opened #13993 "10/1 Front end QA updates"
**Intro**
- [x] "Download the VA form 10-10CG(PDF)" (Remove `the` and is there anyway to make sure the color doesn't change?)![Screen Shot 2020-09-23 at 4.58.15 PM.png](https://images.zenhubusercontent.com/5ddc08a57dcda00001c763e1/cf160469-2239-4689-80b0-58eb7a42973d)

- [x] Update OMB control number (should be: 2900-0768)
<img width="218" alt="Screen Shot 2020-09-23 at 5 47 23 PM" src="https://us

[2020-09-23 20:58] abuckley3385 commented on #13599
@massrb  given this is day 1 of the new sprint - I see all the tasks and acceptance are checked does this mean this is already done?  Was thinking this was this way in sprint planning and you were going to update as it was not correct?

[2020-09-23 21:04] jenniferlee-dsva commented on #13758
I've shared this feedback with Brian McCarthy.

[2020-09-23 21:04] #13758 closed

[2020-09-23 21:05] patrickvinograd commented on #13991
I think there's two sub-cases here:

1) I don't have the requisite ID but that's correct because I'm not enrolled in whatever program would have issued that ID. I.e. I've never enrolled in VA healthcare, or never claimed any VBA benefit, so I don't have the relevant identifier. This is to be expected.

2) I don't have the requisite ID in MPI (the central index for such things) and it's a mistake/d

[2020-09-23 21:10] tressaellen commented on #13918
Ooh yes - I like that idea, I'll mock it up. It would make things more consistent with how the boxes are designed as well.

[2020-09-23 21:14] ericbuckley commented on #13726
This is true, however I thought it would read better to the end user if the "session" data was separated from the "profile" data.  I know the FE is unaware of where the data is being stored, but just knowing that the session information can change from browser to browser and the profile information would not, I think could be helpful.

[2020-09-23 21:17] lenaecb commented on #12875
@Samara-Strauss - it may be worth syncing again.

**Quick notes on your questions:**
- **MVI is the the authoritative source for veteran facility registration.** Data is pushed to them from various places, but they are the place that everyone looks for patient identifiers. We can't precisely say that if they have an id for a site in MVI that they are a patient. We have learned registration can occ

[2020-09-23 21:21] #10225 closed

[2020-09-23 21:32] jenniferlee-dsva commented on #8490
Removing assignments. I'd like to keep this open however bc we're including this --  banners in the CMS -- for 2021 planning.

product rubric started here, as referenced above in original desc:
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/content/banners/banner-alerts.md

[2020-09-23 21:36] jonwehausen commented on #10987
Okay @brangi, thanks for this -- We want to try to conserve our hits but provide as much metadata as we can where we can, keep us posted on the complexity here and if we need to pivot to an alternate solution. Thanks again

[2020-09-23 21:41] bkjohnson commented on #13647
The changes have been applied, but there were 3 apps which had failing cypress tests as a result, and they have been given a temporary exception:

- `facility-locator`
- `hca`
- `disability-benefits`

I will be making tickets and branches for each of these apps.

[2020-09-23 21:42] ncksllvn commented on #13395
It looks like we will need transformers for any paragraphs and nodes, including -

[code]

[2020-09-23 21:42] b-rocha opened #13994 "Past Appointments List (UI)"
## User story
As a user, I want to see a list of my past appointments so that I can reference my appointment record when needed.

## Acceptance Criteria
1. Selecting "Past" in the segmented selector or swiping right to left navigates to the past list of appointments
2. Styling and UI matches the design
3.  Placeholder for Date range picker (UI / functionality covered in a [separate story](https://

[2020-09-23 21:44] jenstrickland commented on #12184
Thanks, @bradl3yC . I tried to validate, but the letters aren't available.

![Screen Shot 2020-09-23 at 5 43 40 PM](https://user-images.githubusercontent.com/57469/94072795-5f268a00-fdc4-11ea-9335-981ae1953665.png)

[2020-09-23 21:47] b-rocha opened #13995 "Upcoming Appointment Details: VA Appointment"
## User story
As a user, I want to see details for my upcoming, VA appointment and: add the appointment to my calendar, call the clinic, and get directions directly from the app

## Acceptance Criteria
Note: Canceled UI covered with story #15739

1. Selecting a VA Appointment from the Appointments list routes to a new page with more detail about that appointment
     - Display Back button
2. Styli

[2020-09-23 21:49] tressaellen commented on #13923
@Samara-Strauss feel free to look over this ticket - I changed the title of the ticket to include the state for when a user does have healthcare

[2020-09-23 21:49] tressaellen commented on #13921
@Samara-Strauss please review. :)

[2020-09-23 21:49] tressaellen commented on #13920
@Samara-Strauss please review. :)

[2020-09-23 21:50] #13899 closed

[2020-09-23 21:50] tressaellen commented on #13919
@Samara-Strauss please review. :)

[2020-09-23 21:51] #13816 closed

[2020-09-23 21:53] gmaciolek commented on #13543
Hi, @CrystabelReiter! How urgent do you think this is? Do you think it makes sense to wait until the new design system team is formed? Or is this something that we should do sooner rather than later? I suspect this will be at least a [medium documentation effort](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/documentation/request-documentation-support.md#medium

[2020-09-23 21:54] #13648 closed

[2020-09-23 21:56] tressaellen opened #13996 "[FE] Built 'Can't connect to MPI' error alert"
## Background

[Design Ticket](https://github.com/department-of-veterans-affairs/va.gov-team/issues/12817#issuecomment-697027527)

We need to build an alert for when we can't connect to MPI. Here is the content for it.

**We can’t access your Veteran records**
We’re sorry. Something went wrong when we tried to connect to your Veteran records. Please refresh this page to try again.

[2020-09-23 21:59] b-rocha commented on #13971
Which timezones should we account for and what abbreviations should we use? Here's a potential list:
- Pacific Time (PT)
- Central Time (CT)
- Mountain Daylight Time (MDT)
- Mountain Standard Time (MST)
- Eastern Time (ET)
- Alaska Time (AT)
- Hawaiian Aleutian Time (HT)

@bridgethapner

[2020-09-23 22:07] CrystabelReiter commented on #13543
Let’s wait until the design system team is formed. Our new pm starts 10/1 what do you think? @cvalarida

[2020-09-23 22:13] b-rocha commented on #13994
Questions:
- What are the possible time ranges I can filter for?
- Confirm: Cancelled appointments will not be included in the "Past Appointments" list.

@bridgethapner

[2020-09-23 22:19] b-rocha opened #13997 "Settings page"
### User story

As a Veteran, I want to adjust my app settings to suit my needs and preferences.

### Acceptance Criteria

1. Styling and UI matches the design
2. The top/ main section of the page includes a list of possible options for user input including, "Manage your account", "Touch ID", "Share the app" and "Privacy policy"
3. If a user selects "Manage your account" they should go to a differ

[2020-09-23 22:20] #13997 closed

[2020-09-23 22:48] bridgethapner commented on #13950
@b-rocha

- Yes, the banner should be sticky.
- Facility Locator will be [a web view](https://adhoc.invisionapp.com/share/YUYRT9BAPSB#/screens/432493111).
- [This is what I have now for Contact VA](https://adhoc.invisionapp.com/share/YUYRT9BAPSB#/screens/432493860) - some short text and a phone number. Might change a little, but will be something like this.

[2020-09-23 22:49] MickinSahni commented on #13905
@kelsonic need any more info?

[2020-09-23 22:51] #13886 closed

[2020-09-23 22:51] bridgethapner commented on #13971
@b-rocha This is a really good question! I am not sure -- I may be misspeaking here, but I think since the time zones as represented in the Appointment Titles are responses from the API, so we shouldn't have to worry about accounting for them or developing a list. @kreek, can you help answer this question?

[2020-09-23 22:59] bkjohnson opened #13998 "[SCREENREADER] Facility Locator has duplicate IDs"
##  [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

## Description

This is a follow-up for #13647

The facility-locator app has [some failures](http://jenkins.vfs.va.gov/blue/organizations/jenkins/testing%2Fvets-website/detail/13647-facility-locator/1/pipeline/) in the Cypress axe che

[2020-09-23 22:59] bridgethapner commented on #13994
@b-rocha

 - The way that VA Online Scheduling tool on VA.gov handles Appointment filtering today is filtering in 3-month chunks that are set based on the current date ([documented here](https://app.zenhub.com/workspaces/va-mobile-app-5f205eac3155a2000f422ecb/issues/department-of-veterans-affairs/va.gov-team/13463)). Is this filtering easy or high LOE to replicate? If it's easy, I'd like to keep i

[2020-09-23 23:07] massrb commented on #13145
I updated the document to include an illustration of a programatic flow

https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/discovery/engineering/vetext-meeting-sept18.md

[2020-09-23 23:10] bridgethapner commented on #13893
@bessgreen These are such good questions, thank you!

1. No, when 'military base' is checked, this designation does not appear on the confirmed address screen.

2. Yes, APO/FPO/DPO are 3 separate items & should come up through native dropdown.

I also just realized that when 'military base' is checked, 'State' also should become a native drop down with the following options:
- Armed Forces America

[2020-09-23 23:12] bridgethapner commented on #13894
@bessgreen Yes, these are the correct page names!

[2020-09-23 23:14] bridgethapner commented on #13895
@bessgreen Ellipses works! Thank you.

[2020-09-23 23:15] bkjohnson opened #13999 "[SCREENREADER] HCA - dl, dt, and dd are not structured correctly"
##  [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

This is a follow-up for #13647

In the `hca` app

[2020-09-23 23:18] bridgethapner commented on #13897
@bessgreen Yes, click to call is correct.

[2020-09-23 23:20] bridgethapner commented on #13907
@bessgreen Yes - Account Type should be a native drop-down and the two types are "Checking" and "Savings"

[2020-09-23 23:24] bridgethapner commented on #13940
@bessgreen

1. Yes, we want users to go to the Mailing Address page. Creating a copy that lets them stay in Letters shoulds great.

2. They see this page every time.

[2020-09-23 23:27] bridgethapner opened #14000 "Complete Alert Text Design on Benefit Summary & Service Verification letter"
## User Story
This story is to figure out the Alert Text and related actions for the Benefit Summary & Service Verification letter. This is blocked by not being able to access staging.

## Alert text
"If your service period or disability status information is incorrect, please send us a message through VA's Inquiry Routing & Information System (IRIS). VA will respond within 5 business days."

Link

[2020-09-23 23:28] bridgethapner commented on #13947
@bessgreen Great question - I started this work then have not been able to successfully access the Letters screens in staging since getting halfway through due to API failing to load ... I made #14000 to complete this UX work. Can this be something that I follow up with later? (Will try to get to it soon).

[2020-09-23 23:31] bridgethapner commented on #13942
1. This is an alert that is triggered by the Alerts API and only displays when there is a relevant alert for that letter.

2. & 3. I believe all letters aside from Benefit Summary and Service Verification are download only. I'm not 100% sure -- @kreek can you confirm this via the API?

[2020-09-23 23:43] kreek commented on #13971
Mobile app wont't have to worry about it.

Looking at the VAOS va.gov website [code](https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/applications/vaos/appointment-list/components/cards/confirmed/AppointmentDateTime.jsx#L23) it's figuring out the timezone by the facility id in the browser (in JS/React). For the mobile app we want to move that logic server side and jus

[2020-09-23 23:50] #13096 closed

[2020-09-24 01:47] bethpottsVADEPO opened #14001 "[DO NOT PUBLISH UNTIL JANUARY] PCPG update to the coronavirus FAQ page"
## Issue Description
The Chapter 36 name change to PCPG happens on October 26. Most edits are tracked in #13842. Since the coronavirus pages have specific approvals that need to happen, we'll do these changes separately, with a final review by Danielle.

**Note:** Please don't implement the changes in drupal until October 23. This is because of the other regular updates made to this page.

**Page

[2020-09-24 02:14] bsmartin-ep commented on #11513
@bmcgrady-ep  -

Chatbot KPI dashboard ready for your review:

Dashboard Name|Type|Old|New BQ
---|---|---|---
COVID Chatbot - KPIs|	KPIs|	https://va-gov.domo.com/page/62901069|	https://va-gov.domo.com/page/986858114

Thanks!

[2020-09-24 10:40] joanneesteban commented on #13774
If we can route the GTM tracked data to Medallia, then this is GA. The why: to consolidate VA feedback in the VSignals program via VEO requirements in order to source veteran feedback in one system and to foster data collaboration between different VA departments.

If we can't route it to Medallia, we'll need to move ahead with using Medallia digital to embed this. If we use Medallia, we'll need t

[2020-09-24 11:42] delli-gatti-michael commented on #13781
This is now in production. closing this issue

[2020-09-24 11:42] #13781 closed

[2020-09-24 12:20] sonntag-adam commented on #13392
Receiving both dev and staging spool and YTD reports.

[2020-09-24 12:20] #13392 closed

[2020-09-24 12:28] #13255 closed

[2020-09-24 12:29] sonntag-adam commented on #9136
Merged. Testing passes QA

[2020-09-24 12:29] #9136 closed

[2020-09-24 12:29] mshea0606 commented on #13329
@Samara-Strauss it looks like there is a duplicate ticket ([Design] LIH Design Intent checkpoint #13255). I'll close that one.

[2020-09-24 12:29] sonntag-adam commented on #13373
Merged. Testing passes QA

[2020-09-24 12:30] #13373 closed

[2020-09-24 12:31] sonntag-adam commented on #13369
Merged. Testing passes QA.

[2020-09-24 12:31] #13369 closed

[2020-09-24 12:31] delli-gatti-michael commented on #11055
@1Copenut This is on staging and ready for your 👀

[2020-09-24 12:38] bsmartin-ep commented on #11513
@bmcgrady-ep -

FYI - I'm blocked on the Facility Locator KPI page, so nothing to review on that yet.

1. We don't have the same site search keyword stuff on the All View, so we can't do a direct migration to that.  I think _% of sessions with more > 1 search_ is a good replacement metric, but we need those events recording first.
2. We should switch to the BigQuery time-to-complete stuff in lieu

[2020-09-24 13:09] annaswims opened #14002 "[Development] 526: Decrypt Password Protected PDFs for the Veteran"
## Issue Description
Note: Technically this is an issue for all 526, but this was a blocker in 2 of 3 UAT sessions

During a UAT session, a veteran tried to upload a password-protected PDF and saw a response like this one
![Screen Shot 2019-09-27 at 3 22 44 PM](https://user-images.githubusercontent.com/11036339/65799944-eb16bf00-e13a-11e9-844b-df6234527232.png)

[related sentry error](http://sentr

[2020-09-24 13:10] edmangimelli commented on #13952
Determined that our test users that have contestable issues:
[code]
didn't have vets360 data
logged in as '233, went to /profile, add some address data, and now I see it in the prefill

[2020-09-24 13:10] edmangimelli commented on #13952
would still like Robin to confirm this

[2020-09-24 13:19] annaswims commented on #14002
We could do something like this to  remove the password from the PDF.
[code]

My main concern is - how do we validate that contents of the PDF were uncorrupted by the conversion?  Can we get 5 or so "typical" documents?  Also, how

I'd imagine that most people don't know how to remove password protection from a PDF and that it's rather difficult to do on a mobile device.

[2020-09-24 13:22] massrb commented on #13599
It was in the backlog and I had moved it out of the backlog. I coded the endpoints and had pull requests but they haven't let me merge it yet so I will uncheck the merged to main part

[2020-09-24 13:24] edmangimelli opened #14003 "HLR: Get Staging (Sandbox?) API key"
While Robin and I were prepping to demo HLR, we noticed that we don't have a staging API key.
Asked Lighthouse about obtaining one on Monday (9/21).

Lighthouse wants us to go through https://developer.va.gov/apply
the problem with that is it wants a name and an email (the API key will be sent in an email)
Lighthouse understands this is a problem, but would still like me to go that route.

Anna sa

[2020-09-24 13:27] rtwell commented on #13269
im thinking it is basically a toggle between residential addy and current location:

![image](https://user-images.githubusercontent.com/12564977/94151220-23350880-fe48-11ea-93ec-85428fa79458.png)

[2020-09-24 13:27] edmangimelli commented on #13835
This is blocked by:

https://github.com/department-of-veterans-affairs/va.gov-team/issues/14003
https://github.com/department-of-veterans-affairs/va.gov-team/issues/13952

[2020-09-24 13:28] #13930 closed

[2020-09-24 13:28] #13933 closed

[2020-09-24 13:35] 1Copenut commented on #11055
@delli-gatti-michael I was able to give this a look yesterday morning on Staging. Everything worked as expected, so we can close this issue.

* https://github.com/department-of-veterans-affairs/vets-website/pull/14338#pullrequestreview-494736990
* https://github.com/department-of-veterans-affairs/vets-website/pull/14338#pullrequestreview-494966265

[2020-09-24 13:35] #11055 closed

[2020-09-24 13:41] artsymartha68 commented on #9540
Reworking the first screen, thinking we need both languages for all instructions?

[2020-09-24 13:43] RLHecht commented on #13617
@lwalsh617 Here's the copy deck with my edits in it. Let me know if you have any questions.
[lc-mvp-claimappealstatus-copy-v0.1-092220-RH-edit.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/5276475/lc-mvp-claimappealstatus-copy-v0.1-092220-RH-edit.docx)

[2020-09-24 13:48] Samara-Strauss commented on #13329
Oh no! I didn't realize this was a duplicate ticket. Thanks for closing the other one. We can track this one against the sprint goals.

[2020-09-24 13:50] clantosswett commented on #13746
Agreed with assessment above. No product guide or video is necessary. Thank you!

[2020-09-24 13:54] edmangimelli commented on #13835
removing acceptance criteria:
- [ ] Confirm with LH everything worked on their end.

this ticket is mostly about ensuring HLR works in Staging/Sandbox, and those environments are completely mocked (and, therefore, aren't really hitting Lighthouse)

[2020-09-24 13:57] edmangimelli commented on #14003
blocked: waiting to see if @annaswims has a key (and whether that's a key we want to use)

[2020-09-24 13:57] lwalsh617 commented on #13617
Thanks, Randi! I'm going to close this ticket and open a "content review" ticket with the above doc attached and assign it to Beth.

[2020-09-24 14:05] ricetj commented on #13708
Thanks for the update. I do have another question though. Why on this list of interactions: https://analytics.google.com/analytics/web/#/report/content-event-pages/a50123418w177519031p184624291/_u.date00=20200916&_u.date01=20200917&explorer-table.plotKeys=%5B%5D&explorer-table.rowStart=0&explorer-table.rowCount=500&_r.drilldown=analytics.pagePath:~2Fprofile~2Fconnected-applications~2F,analytics.ev

[2020-09-24 14:07] Samara-Strauss commented on #13919
This should be "show conditionally if someone has health care" since we will still show this block even if they don't have any active prescriptions.

Are refill date and shipment date effectively the same thing? I would imagine a prescription is refilled and then shipped at the same time, but we should confirm exactly how this data is handled in the code. I am not sure about my assumption and it d

[2020-09-24 14:10] Samara-Strauss commented on #13920
Looks good to me!

Also, for documentation purposes even though I already mentioned this in #13919, we need to handle the Cerner/MHV split use case for health care information, but we do not need to handle that for this initial round of design.

[2020-09-24 14:12] Samara-Strauss commented on #13921
Is it safe to assume this will link to the VAOS tool?

Also, for documentation purposes even though I already mentioned this in #13919, we need to handle the Cerner/MHV split use case for health care information, but we do not need to handle that for this initial round of design.

[2020-09-24 14:17] Samara-Strauss commented on #13923
@tressaellen what I don't see represented here is the state for when a user has submitted an application for health care and either that application is in the process of being evaluated/the application needs more information, the application was rejected or denied, or the application was closed (submitted but not complete applications get closed after a year).

I have some thoughts on how we might

[2020-09-24 14:25] lwalsh617 opened #14004 "LC MVP 1.0: Claim/appeal status articles -- CONTENT REVIEW"
Copy for the [claims/appeal STATUS articles for mvp 1.0 LC](https://github.com/department-of-veterans-affairs/va.gov-team/issues/13617) has been drafted and copyedited, and is ready for DEPO/Beth's review.
Here's the copy deck:
[https://app.zenhub.com/files/133843125/5f014975-8caf-428d-8a53-d3e4c4958510/download](https://app.zenhub.com/files/133843125/5f014975-8caf-428d-8a53-d3e4c4958510/download)

[2020-09-24 14:26] #13617 closed

[2020-09-24 14:29] #12930 closed

[2020-09-24 14:29] #13582 closed

[2020-09-24 14:29] #13008 closed

[2020-09-24 14:30] jenniferlee-dsva commented on #13135
@kelsonic (fysa @RLHecht ) The step by step allows in-body alert component. I think the CMS team just enabled that with a release? Heads up - the FE preview doesn't currently show the added alert content (I just added). Just want to make sure we don't forget to enable that in the FE template when a user has added an alert. (Placement would be like in the screenshot: below the intro text block.)

[2020-09-24 14:31] kelsonic commented on #13905
Awesome! I see that it's implemented in `vets-website` now 👍 So next step would be to coordinate with @RLHecht on inserting their CTA widget (`chapter-36-cta`) into your content page(s)! 🙂

[2020-09-24 14:31] jonathanjnelson commented on #13993
I think the Secondary Caregiver radios look good. I think with more spacing we risk the radios getting lost and floating out there without a label

[2020-09-24 14:34] kelsonic commented on #13135
Oh good catch! I'll make sure we get a ticket created to add that! That's probably in a lot of the FE templates for LC, so I'll make sure we add it in all of the ones that have that functionality 🔥

[2020-09-24 14:34] jbalboni opened #14005 "Show providers for video appointments"
We want to show the providers listed in a video appointment on the video card so that veterans know who they will be meeting with.

AC:
- [ ] For any video appointment with entries in the "providers" array, the names of those providers are shown on the appointment card
- [ ] For video appointments with no provider entries, the "You'll be meeting with" header is hidden

Mock up (this ticket is just

[2020-09-24 14:36] jbalboni commented on #14005
This is not quite ready yet, needs https://github.com/department-of-veterans-affairs/vets-website/pull/14349 to be merged first. In that PR, providers are mapped from the providers array into FHIR practitioner participants in the appointments transformer file.

[2020-09-24 14:37] jason-gcio commented on #13905
🤘

[2020-09-24 14:44] ala-yna commented on #13993
@LinnJS - Added two more under "Late add ons" in the issue description.

[2020-09-24 14:46] LinnJS commented on #13993
@ala-yna we cant just change behavior of global components need to talk to platform about that number input scroll thing.

[2020-09-24 14:47] sporeboy commented on #13802
Reviewed feature in eBenefits and pulled screen caps. Stubbed-out [research/design page](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/ebenefits/features/add-update-EDU-direct-deposit/research-design/README.md) and [discovery/flow doc](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/ebenefits/features/add-update-

[2020-09-24 14:51] MickinSahni commented on #13905
Great. We talked about this in our planning—we're scheduling it for sprint 32. But it's available for pickup this sprint if there's bandwidth. @RLHecht, please let the group know here if you need any other info! Thanks, team.

[2020-09-24 14:52] jonathanjnelson commented on #13993
@ala-yna Are we sure we want to add "The" - Peggy's suggesting can be seen here:  https://github.com/department-of-veterans-affairs/va.gov-team/issues/13712#issuecomment-696322074

[2020-09-24 15:03] billfienberg commented on #12700
Optimized build entry file (staging): https://staging-va-gov-assets.s3-us-gov-west-1.amazonaws.com/generated/static-pages.entry.4c24affda28387eada77-1600897578611.js

Non-optimized build entry file (dev): https://dev-va-gov-assets.s3-us-gov-west-1.amazonaws.com/generated/static-pages.entry.js

[2020-09-24 15:05] kreek commented on #13942
Benefit Summary is only one that has options when generating a download: https://github.com/department-of-veterans-affairs/vets-website/blob/7e40a773626d8f0f58742fed6c90f9586707db6c/src/applications/letters/actions/letters.js#L95-L105

[2020-09-24 15:09] mdewey commented on #13628
Going forward, we are going to create tickets for the Accessability team to review.

We would include the mock-ups and when they need to be done by.

We would except feedback on the screens in a timely manner

[2020-09-24 15:17] LEHigley commented on #13743
done

[2020-09-24 15:17] #13743 closed

[2020-09-24 15:26] andaleliz commented on #13963
Passing along feedback RE: tables in this template that came out of the [design review](https://github.com/department-of-veterans-affairs/va.gov-team/issues/13825):
- Developers should coordinate a dev intent review with the VSA accessibility specialist before beginning development (have already contacted Mickin and Brian about this, Liz let Kelson and Nick know).
- Development should use the [sem

[2020-09-24 15:27] bmcgrady-ep commented on #13708
The disconnected apps interaction does not show up because it has not happened yet. I reached out to the connected apps team and they said while the `disconnect` events are live in production, they are probably a rare event and haven't happened yet. The report you sent over with the list of interactions only shows interactions that have been completed by users.

[2020-09-24 15:29] ricetj commented on #13708
Ooo ok thanks for the clarification and all the help!

[2020-09-24 15:30] #13783 closed

[2020-09-24 15:35] bmcgrady-ep commented on #13708
You're welcome. Let me know if you have any more questions.

I'm closing out the ticket, but once again feel free to reopen if anything else comes up.

[2020-09-24 15:40] Samara-Strauss commented on #13802
@sporeboy I clicked through a bunch of links in those docs and don't see notes on the current feature in eBenefits. Apologies if I'm overlooking something obvious. Can you clarify where these notes are?

[2020-09-24 15:40] jenniferlee-dsva commented on #13135
Mucho appreciate mr. @kelsonic .  Should we create a separate ticket to include Last updated date at the bottom of each page too? I had assumed that was a 'global' part of all pages.

[2020-09-24 15:42] bessgreen commented on #13947
@bridgethapner Definitely! We can revisit down the line.

[2020-09-24 15:45] mdewey commented on #13732
After working with the team. This is not ready yet, Front End was under the assumption that there was dummy data being returned from the endpoint `/health_quest/v0/appointments/`. Instead, that endpoint fails since it is hooked up to the real data, but fails since we don't have access.

This is ticket is `blocked` since this relies on the API serving mock data.

[2020-09-24 15:51] ajmagdub commented on #12912
From the VA OIT Devops Slack Channel [VA Devops Pagerduty Presentation](https://vaoitdevops.slack.com/files/UP6MYPVC5/F0192HS8C94/dots_training_-_pagerduty__1_.mp4)

[2020-09-24 15:54] luke-gcio commented on #14002
This looks like there would be some design elements to add a field to the file upload.  Do we have the source of the file upload component or would we have to override the component from the library with a custom copy?

[2020-09-24 15:57] massrb commented on #12406
I added a task related to getCare research since it was mentioned that Stephen thinks we need to use the getCare API

[2020-09-24 16:02] mpelzsherman commented on #11764
@mmiddaugh - please advise as to the following:

do we need to repeat the facility hours, or can we just add text that says “See facility hours”?

There's a specific phone number in Drupal for Registry exams.

I don't see a name or email of Coordinator defined in Drupal

[2020-09-24 16:06] sanlouise opened #14007 "Fix conditional rendering Military Information Alert"
Users who are not a veteran and navigate to the Military Information page do not see the correct error message. We need to update the conditional rendering of the correct message.

[2020-09-24 16:11] johnhashva commented on #13746
Closing with Chante's review decision.

[2020-09-24 16:11] #13746 closed

[2020-09-24 16:16] kelsonic opened #14008 "Ensure FE templates show `fieldAlertSingle`"
## Summary

This conversation began [here](https://github.com/department-of-veterans-affairs/va.gov-team/issues/13135#issuecomment-698382195) where it was noticed that alert content does not appear on the newly added FE templates for LC:

http://preview-prod.vfs.va.gov/preview?nodeId=6899 vs. design spec (in image below)

![image.png](https://images.zenhubusercontent.com/5d812458c75aaf0001c430f8/b

[2020-09-24 16:16] #13323 closed

[2020-09-24 16:17] ltrombley commented on #13590
Added Sierra Foothills VA Clinic to VA Northern California health care system.

[2020-09-24 16:19] kelsonic opened #14009 "Ensure FE templates have `Last updated`"
## Summary

This conversation began [here](https://github.com/department-of-veterans-affairs/va.gov-team/issues/13135#issuecomment-698425220) where it was noticed that `Last updated` does not appear on the newly added FE templates for LC:

http://preview-prod.vfs.va.gov/preview?nodeId=6899

This is what it should look like at the bottom of the templates:

![image.png](https://images.zenhubusercont

[2020-09-24 16:19] kelsonic commented on #13135
Definitely! I'll create one now 👍

Alert content ticket: https://github.com/department-of-veterans-affairs/va.gov-team/issues/14008
Last updated date ticket: https://github.com/department-of-veterans-affairs/va.gov-team/issues/14009

[2020-09-24 16:21] luke-gcio opened #14010 "[Development] 526: Provide Better Error Message when Veteran Uploads Password Protected PDF"
## Issue Description
During a UAT session, a veteran tried to upload a password-protected PDF and saw a response like this one
![Screen Shot 2019-09-27 at 3 22 44 PM](https://user-images.githubusercontent.com/11036339/65799944-eb16bf00-e13a-11e9-844b-df6234527232.png)

[related sentry error](http://sentry.vfs.va.gov/vets-gov/platform-api-production/issues/146117/events/)

Apparently, that was expe

[2020-09-24 16:26] luke-gcio opened #14011 "[Development] 526: Provide Field for Password to Password Protected PDFs"
## Issue Description
During a UAT session, a veteran tried to upload a password-protected PDF and saw a response like this one
![Screen Shot 2019-09-27 at 3 22 44 PM](https://user-images.githubusercontent.com/11036339/65799944-eb16bf00-e13a-11e9-844b-df6234527232.png)

[related sentry error](http://sentry.vfs.va.gov/vets-gov/platform-api-production/issues/146117/events/)

Apparently, that was expe

[2020-09-24 16:30] massrb commented on #13834
I had to add a new task:

[2020-09-24 16:30] amyknox commented on #10511
@andaleliz as mentioned in [the related slack thread](https://dsva.slack.com/archives/CE4304QPK/p1600904028004000), the Booz team is working with Education Service on this issue for the GI Bill Comparison Tool.

[2020-09-24 16:31] sanlouise opened #14012 "[FE] Don't show profile error when the user is a non-vet and the call to /service_history fails"
### Description
We should not show the global profile error when the call to `/service_history` fails and the user is a non-veteran. The call fails expectedly with a 403, so this should not be treated as an error.

This bug was introduced when we stopped gating non-vets from the Military Information page.

### Screenshots
![image.png](https://images.zenhubusercontent.com/5e9d15aab51cccb259a8a6c7/6

[2020-09-24 16:37] #13855 closed

[2020-09-24 16:37] bkjohnson opened #14013 "[COLOR] Disability-benefits all-claims has axe violations"
## [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

This is a follow-up for #13647

All-claims has a

[2020-09-24 16:41] jenniferlee-dsva commented on #11072
@andaleliz  - thx for making those clarifications in your updates. They look great. There's one part where I wonder if we can clarify our hypothesis. In this part:

 [RE last bullet point: this also affirms our hypothesis that additional labels, in the form of tags could be helpful to users. For example: an article about education tuition overpayment could be in the Education **category**, but ALS

[2020-09-24 16:45] DanielleThierryUSDSVA commented on #13654
@RLHecht - doc to edit. thank you!
[Caregiver program updates for 10-1-20](https://app.zenhub.com/files/133843125/69188187-2373-4250-9d7c-582df8411f1f/download)

[2020-09-24 16:45] ndsprinkle commented on #13977
I set up a meeting today for BaM engineers to discuss options before meeting with platform to see if the solution is already possible to implement.

[2020-09-24 16:48] luke-gcio opened #14014 "[Bug] 526: Adding PTSD on the Review Screen Causes Unknown Validation Issues"
## Issue Description
Adding PTSD in the review screen caused validation errors (yellow warning without words). Going forward and back in the form resolved the issue.  The warnings may be a red herring, we did not have the service member try to submit.

This _may_ be resolved with Robin's issue https://github.com/department-of-veterans-affairs/va.gov-team/issues/2138 but we won't know until he gets

[2020-09-24 16:49] lunascoop commented on #13964
The URLs have been changed and will be validated after today's deployment.

[2020-09-24 16:57] AGarcia-Clarity commented on #13720
#### Findings
Initially I started going the rabbit hole refactoring the `apiRequest` method to include an AbortController and binding the results to the response object. In the end it got super complicated and a lot of breakpoints were not stopping so I decided to scrap it. Instead I took what Erik mentioned about making the catch statement a little smarter.

Currently, what I have is a conditiona

[2020-09-24 17:00] RLHecht commented on #13654
@DanielleThierryUSDSVA This copy looks good. I just added a comma after one of the dates listed.
[Caregiver program updates for 10-1-20-RH-edit.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/5277852/Caregiver.program.updates.for.10-1-20-RH-edit.docx)

[2020-09-24 17:04] mshea0606 commented on #13329
sounds good, just updated the sprint objectives

[2020-09-24 17:04] mshea0606 commented on #13329
sounds good, just updated the sprint objectives

On Thu, Sep 24, 2020 at 9:49 AM Samara Strauss <notifications@github.com>
wrote:

--
*Matt Shea*
Product Manager, Authenticated Experience
[image: Image result for ad hoc llc logo"]

[2020-09-24 17:06] bessgreen opened #14015 "Contact VA page + click-to-call"
### User story
As a Veteran, I want guidance for how I can contact the VA via phone in case I need additional assistance beyond what the app offers.

### Acceptance Criteria
1. Selecting the Contact VA button from the Home page routes to a new page called Contact VA
2. Styling and UI matches the design
3. Two phone numbers on the screen, styled as hyperlinks
     - Click-to-call capability on both

[2020-09-24 17:12] bkjohnson commented on #9860
Following up from this [slack thread](https://dsva.slack.com/archives/C8E985R32/p1600898694011100), I'm going to pause work on this until the acceptance criteria have some more clarity and specification to them.

Linked from that thread, here is the current AC broken down into a list:

[code]

What isn't captured there is this additional markup that doesn't adhere to how the forms library renders

[2020-09-24 17:13] b-rocha commented on #13994
@bridgethapner Thanks for sharing that documentation! Super helpful :)

- I'll share this with the team and we can discuss during estimation/ sprint planning! Let me know if you'd like us to discuss sooner.
- Gotcha! Glad I asked :) Adding that to the requirements.

[2020-09-24 17:14] #10955 closed

[2020-09-24 17:15] mmiddaugh commented on #13982
Results for Jan 1, 2020 - September 23, 2020 = 3,499,749% total unique searches
| Search Term | Unique Searches | Percent of total unique searches |
|-- | -- | -- |
| health | 2,139,413 | 61.13% |
| benefits | 364,373 | 10.41% |
| urgent_care | 320,347 | 9.15% |
| vet_center | 194,329 | 5.55% |
| all | 187,342 | 5.35% |
| cc_provider | 113,924 | 3.26%
| cemetery | 79,000 | 2.26% |
| pharmacy | 51,

[2020-09-24 17:15] cvalarida commented on #9860
@jenstrickland Do those AC work for you? What would you change, remove or add?

[2020-09-24 17:19] nwalker-va commented on #13645
@pnwstevan @Jeff-Hayter Just curious if I have been granted AWS access or not. Is there anything I need to do? Thanks for the help!

[2020-09-24 17:22] bessgreen opened #14016 "Veteran Crisis Line page"
### User story
As a user, I want the ability to connect with a qualified responder in the event that I need urgent help.

### Acceptance Criteria
1. Selecting the Veteran Crisis Line banner on the Home page routes to a new page called Veteran Crisis Line
2. Styling and UI matches design
3. Two phone numbers on the screen, styled as hyperlinks
     - Click-to-call capability on both hyperlinks. Upo

[2020-09-24 17:25] gmaciolek commented on #13820
Updates proposed here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/914684114424e0d409749df19917ad7f8b8562f8/platform/working-with-vsp/policies-work-norms/usage-of-password-protection.md

https://dsva.slack.com/archives/CL181NRJQ/p1600722274008500

[2020-09-24 17:26] #12807 closed

[2020-09-24 17:26] #11549 closed

[2020-09-24 17:28] lihanli opened #14017 "move google_analytics_tracking_id to google_analytics.tracking_id in settings.yml"
move `google_analytics_tracking_id` to `google_analytics.tracking_id` in the settings.yml file and update the vets-api references

[2020-09-24 17:28] mmiddaugh opened #14018 "Change path for /v0/facilities/va"
## Issue Description
Based on a review of logs, VSP determined we are still hitting /v0/facilities/va. All endpoints should have been moved to v1 as v0 is outdated, can be inaccurate and is about to be deprecated.

An audit revealed one v0 query that needs to be updated: [BasicFacilityListWidget](https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/applications/static-pag

[2020-09-24 17:35] ericbuckley commented on #13136
Analysis was done using the new "tracker" stat emitted on the SAML Post binding form to show that there are some requests not even being sent out to eauth.  Given the following information, it seems that we are consistently not sending out 1%-2% of the requests we are generating.  Two possible causes for this are; a) JS errors are occurring in the browser and preventing the form from being submitt

[2020-09-24 17:36] andaleliz commented on #13379
Reached out to VSA UX design team to review, since this impacts multiple products and other designs have reviewed this in the past. Asked them to provide feedback by 1pm tomorrow, with the hope I can make any tweaks and submit for design intent review ASAP.

@mnorthuis I know you'll just be getting back from PTO, but would love to get your input on this too. I'll wait for your review before submit

[2020-09-24 17:45] rianfowler commented on #1579
Meeting notes 24 Sep 2020:

To discuss:
- overview of current state
- should we prioritize simpler CSP with lower browser support?
- how do we want to triage CSP issues?

Notes
- CSP not easy to implement but is one of the simplest things to implement to prevent XSS
- should have a couple of people dedicated to rolling out
- should expect blocks / breakages
- should be reviewed every quarter for t

[2020-09-24 17:46] Kimberley2019 commented on #12948
@leahkeeler Thank you for the update.  I have passed this information along to the Contact Center today.
On hold.

[2020-09-24 17:49] Kimberley2019 commented on #9744
@jason-gcio No feedback has been provided by the Contact Center.  With that being said, this ticket can now be closed.

[2020-09-24 17:49] #9744 closed

[2020-09-24 17:49] kevinstachura commented on #13721
I did include the latter content option ("Are you currently on active duty?") in the design - which can be viewed here:

https://vsateams.invisionapp.com/share/8GXOG91ZWNJ#/421391041_BDD_Gating_-_Have_You_Separated

I will need to mock this up in the 'new wizard' flow - but keeping the content as the focal point here - this is what it would look like with the new language.

[2020-09-24 17:52] ericbuckley opened #14019 "add Sentry tracking to POST SAML binding form page"
SSOe authentication uses a POST SAML binding HTML form to submit the SAML Request to https://eauth.va.gov/.  Its possible that for some users the JS code is not executing and users are being left on a blank page rather than redirected to the subsequent login pages.  If we integrate Sentry tracking in this HTML form, we can track any errors that are popping up.

[2020-09-24 17:56] jenniferlee-dsva commented on #13964
Thx @lunascoop

The form manager removed the duplicate `5655blank` form, so we can remove it from urls to fix. After today's deployment, this form page should no longer be live.

![image.png](https://images.zenhubusercontent.com/5bb2975c143b4d2ee7a35ef6/e8265f98-a341-45f8-a8e3-3d196d758add)

[2020-09-24 18:01] jenniferlee-dsva commented on #13964
I don't think any of the above changing form page urls are on the 1:1 redirect list, but could you check on this redirect spreadsheet and confirm for @mnorthuis ?

https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/find-va-forms-redesign/form-detail-landing-pages/redirects/form-detail-landing-pages-cutoff-for-redirects-080520.xlsx

If any of them are, please update

[2020-09-24 18:10] mpelzsherman commented on #11764
Got an answer from @rtwell on repeating the main facility hours - YES

[2020-09-24 18:10] andaleliz commented on #11072
@jenniferlee-dsva, when I reference `multiple topic categories`, I'm talking about what is [described here in the template requirements](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/content/tier-2-content-IA-and-design/learning-center-mvp/template-requirements.md#learning-center-categories), which I _think_ is what you also mean by

When you say

I think the `

[2020-09-24 18:13] kelsonic commented on #8791
Hey @jenstrickland appreciate the recommendation! Unfortunately, I'm unable to implement it as you suggest due to 2 things:

1. The `dl` tag cannot have any immediate child elements that are not either `dt` or `dd`, you can read about that [in the Axe a11y rules here](https://dequeuniversity.com/rules/axe/3.5/definition-list?application=AxeChrome).

![image](https://user-images.githubusercontent.c

[2020-09-24 18:24] annaswims commented on #14010
I added the backend tag as well.  For reasons that don't make sense to me the BE is intentionally returning a 500 error when an encrypted file is uploaded

[2020-09-24 18:26] MickinSahni commented on #8791
Hey team, thanks for giving this attention and thanks, Kelson, for communicating what you considered, etc. in your approach.

I know we had bandwidth at one point to pick this up, but this isnt an immediate. If Kelson's PR ends up needing additional work, we won't prioritize this quite yet.

[2020-09-24 18:26] mpeterz commented on #13415
I'm filling in for Mikki. Here's the feedback I shared during the meeting:
* Think about how to handle complexities like disability ratings (overall rating + ratings for specific things). For example, is a specific rating related to a specific benefit or group of benefits?
* Consider integration points like My HealtheVet and (short term) eBenefits.
* This is exciting work. :)

[2020-09-24 18:28] meganhkelley opened #14020 "Update overall VSP docs to reflect new Pact policy"
### User Story

As a VFS team member, I need VSP docs to account for/explain/direct me to VSP's contract testing information and requirements, so that I can ensure my app meets required quality standards and is production ready.

### Definition of Done
- [x] Pact documentation is finalized
- [x] Relevant VSP docs that should reference Pact are identified and updated

[2020-09-24 18:29] RLHecht commented on #13932
Added to word list and sent up PR for review and merge. FYSA @DanielleThierryUSDSVA @bethpottsVADEPO

[2020-09-24 18:30] jenniferlee-dsva commented on #11625
**Adding IRL example:**

- This form **5655blank** was deleted in the DB on 9/23.
- On 9/24 (2:07 pm), it still appears in the search.
- When you click on the form link (of the deleted form, nothing happens.

Since the API now includes the ‘form deleted’ meta data, I think we should be able to:
1/ Suppress the deleted form from search (per above og ticket description) and provide a custom error me

[2020-09-24 18:32] andaleliz commented on #13972
@jenstrickland, I've looked into the [breakpoints defined for VA.gov](https://design.va.gov/design/breakpoints), and guidance around exceptions to that.  Since we're designing for templates, we don't know what the tables will contain or how many columns a table might have.

To keep things simple, I'm inclined to design for the "worst case scenario" and imagine a table with 12 columns that has ever

[2020-09-24 18:33] mpelzsherman commented on #11764
The data in Durpal is all lowercase

[2020-09-24 18:37] MickinSahni commented on #11625
In this scenario where there's more than 1 result originally returned, my understand is we'd only return the valid result and **not** return an error message too.

I'm basing this on the summary above: https://github.com/department-of-veterans-affairs/va.gov-team/issues/11625#issuecomment-670099929

[2020-09-24 18:39] cmaeng opened #14021 "Offboarding of howardbrande"
# Instructions
Fill out name of individual and *Description* section below.

# Description
- Please provide the name of the individual needing offboarded.

- Please provide the name of their team, their role on that team, expected last day, and the name of the company they work for.

- Please provide any type of access they may have and their GitHub username.

## AC
 - [x] Remove global/config.yml

[2020-09-24 18:41] mpelzsherman commented on #11764
That link goes to HealthBenefits/vtp/Beneficiary_Travel.asp, which redirects on production to health-care/get-reimbursed-for-travel-pay/. Would be nice to eliminate the redirect.

[2020-09-24 18:42] brangi commented on #11764
@mpelzsherman  - https://design.va.gov/content-style-guide/dates-and-numbers should be lowercase according to the design system

[2020-09-24 18:45] CrystabelReiter opened #14022 "Design feedback - Design intent Collaboration[Logged-in Homepage]"
- **Must** for if the feedback must be applied
- **Should** if the feedback is best practice
- **Consider** for suggestions/enhancements

- We like the second version with the left navigation, seems fast and efficient to scan. Left hand nav is more scalable than tabs
- With the third version, the tabbed navigation gives the left hand tabs the most visual weight. I like how the tabs stack on mobile

[2020-09-24 18:46] SgardnerPMP opened #14023 "[VAMC-upgrade] - Provide questions regarding Standards in VAMC template to VHA for review and answering [PM]"
## Issue Description
As a PAO, I need answers to template and design questions, so I can better understand my product.

---
## Tasks
- [ ] Provide list of questions to VHA from Open tables and reviews to provide to regional PAOs and their leadership
- [ ] Provide Answers from VHA to all VISN-PAOs in FAQs and answers.

## Acceptance Criteria
- [ ]  FAQ page and direct e-mails are sent out to VISNs

[2020-09-24 18:46] ndsprinkle commented on #13977
Here are some potential solutions:

For separation location, we could hit the api to load the list in the prefill phase of the form, but this would be going a little bit off the standard form convention as we would have to load the list into the formData object.

For rated disabilities, we pull those during the prefill phase of the form, but this is not performed every time the user loads the form

[2020-09-24 18:49] mchelen-gov commented on #14020
some places that might be relevant (not sure if all apply):
- https://department-of-veterans-affairs.github.io/veteran-facing-services-tools/getting-started/ (running/debugging/writing sections)
- https://department-of-veterans-affairs.github.io/va.gov-team/
- https://github.com/department-of-veterans-affairs/vets-website/blob/master/README.md
- https://github.com/department-of-veterans-affairs/ve

[2020-09-24 18:49] jenniferlee-dsva opened #14024 "UAT bug: Batch 2 form detail pages - wrong form modified date showing"
## UAT bug: Batch 2 form detail pages - - wrong form modified date showing

The wrong form last modified date is showing on the form detail pages. I think the FE is pulling from the "Revision Date" field, BUT it should be pulling based on logic, from either the "Revision" or the "Issue" date fields based on which ever date is the most recent.

This logic is needed bc many form managers update the

[2020-09-24 18:50] dillo commented on #13148
@mdewey adding myself to this issue for the moment so that I can learn more about this before attempting to decompose it to several user stories.

[2020-09-24 18:54] jenniferlee-dsva commented on #14024
@MickinSahni @brianalloyd - fysa. If we can tackle this UAT bug along with the others at the same time, that would be great. Either way, we should plan to address all UAT bugs before basic auth removal.

This is a strange one because I'm pretty sure this field FE logic was implemented correctly, but for whatever reason, it's no longer correct and seems to be defaulting to the revision date meta da

[2020-09-24 19:01] #13377 closed

[2020-09-24 19:21] #11593 closed

[2020-09-24 19:21] DanielleThierryUSDSVA commented on #11593
Complete and closing.

[2020-09-24 19:23] DanielleThierryUSDSVA commented on #10852
Hi @ricetj. Just looping you into this epic as well based on our slack conversation re: connected apps FAQs. We're also ready to publish the changes to the Change address page when you all are ready for them to be live. I believe we're waiting until Profile 2.0 is available for 100% of users, but feel free to let me know if you need it published sooner (slack is best). Thanks!

[2020-09-24 19:24] Samara-Strauss opened #14025 "[Design] Health care: Cerner/MHV split use case for My VA dashboard"
## Background

Like with My VA (#13831), we need the new logged-in homepage to account for the split between some veterans being on the Cerner platform and some veterans being on the My HealtheVet platform for their health care information.

I don't know that we necessarily need to handle things the exact same way that we are handling them (or are going to handle them) on My VA for this use case,

[2020-09-24 19:29] ricetj commented on #10852
Hello @DanielleThierryUSDSVA ok great info here and thank you for bringing me into the loop on this. This all makes sense to me.

[2020-09-24 19:33] luke-gcio opened #14026 "[Launch] BDD: Unmoderated UAT Testing Support Benefits Delivery at Discharge"
## Issue Description
Since we do not have more UAT candidates, we are going with a plan B approach of opening up the BDD launch to a small percentage of candidates.  This story captures the BE work to monitor the log files and work with our stakeholders to ensure we are submitting correctly.  This story is also captures the FE Sentry analysis to make sure we are not seeing any validation issues (o

[2020-09-24 19:33] luke-gcio opened #14027 "[Launch] BDD: UAT Testing #3 Benefits Delivery at Discharge"
## Issue Description
Our first two testing sessions were not captured as separate stories, this is why this is called "#3"

This captures the time we will spend working with candidate 3 during sprint 31.

## Acceptance Criteria
- [ ] Any new issues are captured in stories
- [ ] Notes are captured in GitHub
---
## How to configure this issue
- [x] **Attached to a Milestone** (when will this be comp

[2020-09-24 19:34] DanielleThierryUSDSVA commented on #10858
Hi @RLHecht. I just published 1 of the 2 pages above (sign in to add the connected apps faqs). Just noting for your awareness. Thanks!

[2020-09-24 19:35] Mottie opened #14028 "[Development] Update 526 suggested facilities endpoint"
## Description

A new `v1` endpoint has been added, and `v0` will be deprecated soon (https://department-of-veterans-affairs.github.io/va-digital-services-platform-docs/api-reference/#/facilities/suggestedFacilities).

We use this endpoint on form 526's VA medical records page

We'll need to coordinate with the facility locator team to determine what changes need to be made, and review the new swa

[2020-09-24 19:38] CrystabelReiter commented on #13825
@andaleliz The way you designed the tables looks good from the VSP design side! Thanks for looping us in

[2020-09-24 19:45] bridgethapner opened #14029 "Redesign for Claim Est. Completion Date"
## User Story
As a user, I can see an alert that claim completion dates aren’t available right now.

## Tasks
- [x] High fidelity prototype of screens in iOS
- [ ] (Ongoing) UI for a range of devices we are supporting, Android-specific designs as needed

## VA.gov reference
![Screen Shot 2020-09-24 at 2.43.34 PM.png](https://images.zenhubusercontent.com/5d8e52f61c53fd000173c5de/f62d4b74-df61-4160-

[2020-09-24 19:48] MickinSahni opened #14030 "IN-PROGRESS: VSA accessibility feedback for accessibility dev intent review for PW [Learning Center CMS page templates]"
**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

This epic contains the VSA accessibility feedback for the accessibility dev intent review for Public Websites [Learning Center CMS page templates]. Feedback/guidance for each component of the template will be docum

[2020-09-24 19:49] bessgreen commented on #13891
Hi @bridgethapner, for AC # 4-5, can you confirm that **VA Health** and **Vet Centers** are the correct pre-filters?

[2020-09-24 19:54] sanlouise commented on #9548
@mshea0606 There is nothing to validate on your end since this is a tech debt ticket. Thanks 😄

[2020-09-24 19:56] bridgethapner opened #14031 "Keep track of areas where we want content help"
## User Story
As the UX designer on the VA mobile app team, I want to list out where we most feel we need content help from VSP and list out where in the app there is any content that was not pulled directly, verbatim from VA.gov.

## High Priority (in priority order)

#### 1. LOA1 gating
We'd like help with the screens where we are explaining to users that will need to identity verify if they are

[2020-09-24 20:01] camerontesterman opened #14032 "Add diaryCode and diaryCodeDescription fields to schema validation"
## Issue Description
Schema validation will fail unless `diaryCode` and `diaryCodeDescription` fields are added to the schema for debts, these two fields were recently added by DMC to their API.

---
## Tasks
- [x] Add fields to schemas

## Acceptance Criteria
- [x] Fields added to schemas

[2020-09-24 20:09] jenniferlee-dsva commented on #11625
Yep! We should suppress the deleted form though.

[2020-09-24 20:09] andaleliz commented on #13825
Thanks so much @CrystabelReiter! I'll wait for @1Copenut to chime in before closing this out.

[2020-09-24 20:09] jenniferlee-dsva commented on #11625
^ I mean from search results.

[2020-09-24 20:17] #13533 closed

[2020-09-24 20:19] annaswims commented on #13852
10,364 people affected in the past year by this bug.

I have the emails, just let me know who to send them to.

[2020-09-24 20:20] bessgreen opened #14033 "Authenticated login (styling)"
Closing this ticket, as it's been replaced by other tickets related to the login flow.

### User story
As a Veteran, I can log in to the app using my ID.me, MHV, or DS Logon credentials on the va.gov site.

### Acceptance Criteria

1. Login-flow is an in-app web view
2. Selecting the "Sign in" button redirects the user to the mobile Access VA site
3. Center the loading spinner to the center of the

[2020-09-24 20:21] amyknox commented on #13518
[Report launch, 9/2, through 9/24](https://app.zenhub.com/files/133843125/a376025e-da7e-4378-8647-bcdda0ea7c05/download)

[2020-09-24 20:22] CrystabelReiter opened #14034 "Add breadcrumbs and html tag symbols to the sketch library."
- [x] Add breadcrumbs to sketch library

- [x] Add html tag symbols to sketch library

- [x] Update the sketch library and announce on slack

[2020-09-24 20:29] andaleliz commented on #13253
Updated [the research plan](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/content/tier-2-content-IA-and-design/learning-center-mvp/discovery-and-research/iris/contact-center-interviews-1.md) for this first round of interviews with the small groups Chante identified for us.

@jenniferlee-dsva, can you please take a look at the research questions and hypothesis a

[2020-09-24 20:36] b-rocha commented on #13971
@bridgethapner @kreek Great, thanks for clarifying!

[2020-09-24 20:37] ccruzgra commented on #13535
https://bahdigital.invisionapp.com/share/TJIAF1Q8X5K

[2020-09-24 20:37] jason-gcio opened #14035 "Update BGS Gem for View Payments"
## Background
Harlow sent two services that EVSS is using for View Payments: `retrievePaymentSummaryFilterResponse` and `retrievePaymentSummaryWithBDNResponse`.

## Tasks
~~[ ] Update BGS gem to allow the `retrievePaymentSummaryFilterResponse` data to be utilized~~
- [x] Update BGS gem to allow the `retrievePaymentSummaryWithBDNResponse` data to be utilized

## Acceptance Criteria
- [x] BGS gem co

[2020-09-24 20:37] b-rocha commented on #13950
@bridgethapner Thanks!

[2020-09-24 20:47] Samara-Strauss opened #14036 "[Analytics] Profile 2.0 dashboards: Fixes to detail reports"
## Background

As I've been more readily using the Profile 2.0 reports now that Profile 2.0 is launched, I've noticed some issues with the detail reports that link from the direct deposit analytics dashboard and main account security analytics dashboard.

**Direct deposit report**

https://analytics.google.com/analytics/web/?authuser=0#/dashboard/naG_-UneTxy50WvvIH0GGQ/a50123418w177519031p17618836

[2020-09-24 20:48] Samara-Strauss commented on #14036
cc/ @mshea0606 for awareness

[2020-09-24 20:50] bmcgrady-ep commented on #14036
@Samara-Strauss - Confirming receipt. I will be reaching out to you when the fixes are complete. Thanks!

[2020-09-24 20:52] Samara-Strauss commented on #14036
Great, thanks!

[2020-09-24 20:58] mdewey commented on #12282
did:
- content pulled in and HTML are done
- updated a platform feature to better suit our needs concerning the `Respondent burden`, seen in this [pull request](https://github.com/department-of-veterans-affairs/veteran-facing-services-tools/pull/441)

need to:
- styling
- submit PR
- bump version to include the fix when the tooling is updated.

Questions for @kristenmcconnell / @abuckley3385
1. Fo

[2020-09-24 21:02] bmcgrady-ep commented on #11513
@bsmartin-ep
**COVID Chatbot Review**
- Inbound traffic to chatbot from external sources with greater than 5 users (April 22, 2020 - Present)  - this data doesn't closely match the GA dataset.
- Percentage of mobile Chatbot Users who clicked telephone Links - this data is doesn't closely match the GA dataset
- The left chart in the Appendix is not matching the chart in the GA dataset.

[2020-09-24 21:06] edmangimelli commented on #14003
PR
https://github.com/department-of-veterans-affairs/devops/pull/7647

[2020-09-24 21:07] jhonnyoddball opened #14037 "Re-Create transformer for node-press_releases_listing"
## Description

Review the CMS [documentation](https://vfs.atlassian.net/wiki/spaces/VP/pages/567541772/CMS+Export) and re-Create the following for the `node-press_releases_listing` bundle:
- Input schema
- Transformer
- Output schema

Start with branch called `cms-press_releases_listing`

_Annotate questions or suggestions to the documentation pages in confluence. Add other suggestions as a comme

[2020-09-24 21:36] annaswims commented on #13657
![Screen Shot 2020-09-24 at 5.34.39 PM.png](https://images.zenhubusercontent.com/5bb3c3a61c43df49f8b08cfb/9760058b-62e2-4814-a19e-b6d6be2c730b)

The errors dropped significantly after the fix went in, but it looks like we still have some other validation errors that are in the same region. I've sent some examples to @mottie on keybase.

[2020-09-24 21:45] bridgethapner commented on #13991
Thanks @patrickvinograd!

It sounds like for scenario 1 screens like [this](https://adhoc.invisionapp.com/share/YUYRT9BAPSB#/screens/432581200) and [this](https://adhoc.invisionapp.com/share/YUYRT9BAPSB#/screens/432463354) will suffice, and scenario 2 is what we need a design for.

@srmyers17 + Patrick, Do we know where this might present in the app? If a user doesn't have a requisite ID in MPI, w

[2020-09-24 21:55] ltrombley commented on #13590
Added North Reno VA Clinic to VA Sierra Nevada Health Care System - Need VAST #

[2020-09-24 22:00] 1Copenut commented on #14013
@bkjohnson LMK if the team is having trouble getting these color contrast issues to appear when I'm stepping through the form and running the axe browser plugin. It *might* be a false positive. In that case, we could ignore the color contrast rule, but I'll hold that until the team has had a chance to investigate.

[2020-09-24 22:00] cvalarida opened #14038 "Investigate the local documentation site build"
## Issue Description
@Mottie [mentioned in Slack](https://dsva.slack.com/archives/C5HP4GN3F/p1600984131012400?thread_ts=1600975930.006400&cid=C5HP4GN3F) not being able to get the MDX files in the `formation-react` library to render in the documentation site locally using [the instructions](https://github.com/department-of-veterans-affairs/veteran-facing-services-tools#build). We should investigate

[2020-09-24 22:02] #13712 closed

[2020-09-24 22:03] #13431 closed

[2020-09-24 22:03] #13429 closed

[2020-09-24 22:04] #13428 closed

[2020-09-24 22:04] #13574 closed

[2020-09-24 22:13] ala-yna opened #14039 "Don't search MPI for Caregivers who don't provide an SSN"
As a Caregiver who does not want to provide my SSN on the online form
I want to be able to successfully submit the online application.

Fixes a :bug: due to: https://github.com/department-of-veterans-affairs/va.gov-team/issues/13574

[2020-09-24 22:14] #13421 closed

[2020-09-24 22:14] #13420 closed

[2020-09-24 22:15] #13419 closed

[2020-09-24 22:42] jenstrickland commented on #9860
@cvalarida I think that is good. I wonder if we should think about making it bulletproof. I can imagine teams pushing the edges.

[code]

Is that helpful or distracting?

Regarding Brooks' question about the h4 and p tags, I would expect that a team may want to have an h4 and a p to start a new section as they did in the example. Does the forms library making it all one component that I need to pr

[2020-09-24 22:46] jenstrickland commented on #8791
There were three potential fixes provided. If the `dl` approach won't work within the constraints, I suggest changing to Potential fix Two (the `ul` approach) or Potential fix Three (the `div` with aria approach). I anticipated the design system being a barrier and documented multiple approaches to try to be helpful.

[2020-09-24 22:47] jenstrickland commented on #13972
@andaleliz 👏  I agree with your thinking. We need an MVP not an acrobatic workhorse.

[2020-09-24 22:48] srmyers17 commented on #13991
I think it will impact Claims but not Appointments or Appeals but we should confirm with @kreek

[2020-09-24 22:50] jenstrickland commented on #14030
Thanks, @MickinSahni ! Would it be possible to link to designs?

[2020-09-24 23:02] bridgethapner commented on #13873
Hi there @keli13 --

## Fonts
The fonts we are using are Source Sans and Bitter, both can be downloaded [here] (https://design.va.gov/design/typography#fonts).

## Sketch file
Here is the sketch file, SVG icons in here: https://drive.google.com/file/d/1SEIM5vmcaVIi8Th6PeIAavVORl3HS-h-/view?usp=sharing

Will keep y'all posted on anything we're able to work out with Invision for using Inspect Elemen

[2020-09-24 23:04] bridgethapner opened #14040 "Past Community Care Appointment"
## User Story

As a user, I can see the following information for any **past Community Care appointment**:
- Appointment type (Community Care)
- Date, time, and time zone
- Community Care facility name and address
- CTA to get directions to the facility (opens location in default Maps app)
- CTA to call facility (click to call)
- Message to schedule a new appointment on VA.gov

## Tasks
- [x] High

[2020-09-24 23:06] bridgethapner opened #14041 "Past VAVC Appointment"
## User Story

**Note: There are 4 different types of VAVC Appointments.**

---

### VAVC appointment at home

As a user, I can view the following information for any past **VAVC appointment at home**:
- Appointment type (VA Video Connect at home)
- Date, time, and time zone
- Message to call VA or visit VA.gov to make a new appointment
_- If the appointment was canceled, the appointment status (C

[2020-09-24 23:17] jenstrickland commented on #13595
cc @1Copenut for VSP review

[2020-09-24 23:27] bridgethapner commented on #13244
Thanks to Steve's searching + Anna's help, I was able to get screenshots of a user with an active HLR and updated the user story accordingly. Would like to review with Steve next sprint planning before starting the UX/UI work.

[2020-09-24 23:30] bridgethapner opened #14042 "Closed Higher Level Review"
## User Story
For any closed Higher Level Review, I can see the following information:
- [x] Date Higher Level Review was received
- [x] Date/time Higher Level Review was last updated
- [x] Past events for Higher Level Review & their dates
- [x] Message that the Higher Level Review is closed
- [x] Veterans Affairs Benefits and Services phone number
- [x] List of issues for the Higher Level Review

[2020-09-24 23:31] bridgethapner opened #14043 "Closed Appeal"
## User Story
For any closed appeal, I can see the following information:
- [ ] Date appeal was received
- [ ] Date/time appeal was last updated
- [ ] Past events for appeal & their dates
- [ ] Message that the appeal is closed
- [ ] Veterans Affairs Benefits and Services phone number
- [ ] List of issues for the appeal

## Tasks
- [x] Find a staging account with a closed appeal (+226)
- [x] Deter

[2020-09-24 23:39] bridgethapner commented on #13207
Thanks to Steve's searching + Anna's help, I was able to get screenshots of a user with an active HLR and updated the user story accordingly. Would like to review with Steve next sprint planning before starting the UX/UI work.

[2020-09-24 23:43] bridgethapner commented on #13915
The pending question here is who to talk to about hiding the VA.gov header on the web views in our app.

[2020-09-24 23:44] bridgethapner commented on #13474
The pending question here is who to talk to about hiding the VA.gov header on the web views in our app -- since we have multiple pages where we want to hide the header thinking someone on VSP is best...

[2020-09-25 00:03] erikphansen commented on #12632
@tressaellen I'm leaning toward option 4; it would likely be the most straightforward to code. And we have precedence for disabling a SUBMIT button if the user didn't actually make any changes to their data. We do that on the Find Benefits page which you can see by signing in and going to https://staging.va.gov/my-va/find-benefits

![find-benefits.gif](https://images.zenhubusercontent.com/5b4d0309

[2020-09-25 00:21] bridgethapner commented on #13470
Closing in favor of #13463

[2020-09-25 00:21] #13470 closed

[2020-09-25 00:23] QaysarA opened #14044 "Analytics Reporting Request for Qaysar"
# Metrics Reporting Request

## What this form is for

I wanted some guidance on how/what your recommendations are for VANotify to track the number of users who get to the claims status page from a notification email we are building (successful submission of the 526EZ disability claim on VA.gov)

We have a link in our notification email content that navigates the user to the claims status page ‘ht

[2020-09-25 01:33] bsmartin-ep commented on #11513
Thanks for reviewing @bmcgrady-ep.

#### Inbound

Looks good (other than the scale getting bumped up) now that I backfilled the GA one.

![image](https://user-images.githubusercontent.com/62304138/94216315-0c74cd00-fead-11ea-912d-aae368f7b7b3.png)
vs
![image](https://user-images.githubusercontent.com/62304138/94216326-17c7f880-fead-11ea-8575-e32d6833eb0b.png)

#### Percentage of mobile

Forgot to

[2020-09-25 01:51] DanielleThierryUSDSVA commented on #13831
Hi @Samara-Strauss @tressaellen @callen2563. Here's how we handled the alerts for the health tools.

Here's a screenshot of one of the alerts to show the component. All of the alerts follow the same pattern.

![image](https://user-images.githubusercontent.com/62957278/94217197-66769200-feaf-11ea-916e-d97608681bb1.png)

And here's content for secure messaging, prescriptions, and appointments. We al

[2020-09-25 11:06] andaleliz commented on #13963
@kelsonic and @ncksllvn lmk if you have any questions about the documentation for the tables in this template.

[2020-09-25 11:07] andaleliz commented on #13972
Updated documentation in mock-ups, and added guidance via comment to #13963

[2020-09-25 11:07] #13972 closed

[2020-09-25 12:12] ndsprinkle commented on #13977
I believe this is now solved.

To give some history, a couple of sprints ago I did successfully hit the api to pull the list of separation locations for the drop down in the BDD flow. The only issue this had was with validation, Because hitting the api returned a promise, there was an issue with timing on the validation on both the separation location page and on the review page.

After meeting wi

[2020-09-25 12:51] #13535 closed

[2020-09-25 12:53] #13934 closed

[2020-09-25 13:20] #13318 closed

[2020-09-25 13:20] #13316 closed

[2020-09-25 13:20] #13304 closed

[2020-09-25 13:20] #13319 closed

[2020-09-25 13:21] #12627 closed

[2020-09-25 13:21] #13305 closed

[2020-09-25 13:21] #13309 closed

[2020-09-25 13:21] #13321 closed

[2020-09-25 13:21] #13314 closed

[2020-09-25 13:21] #13307 closed

[2020-09-25 13:21] #13687 closed

[2020-09-25 13:21] #13322 closed

[2020-09-25 13:21] #12845 closed

[2020-09-25 13:21] #13313 closed

[2020-09-25 13:21] #13310 closed

[2020-09-25 13:22] #13308 closed

[2020-09-25 13:22] #13311 closed

[2020-09-25 13:22] #13312 closed

[2020-09-25 13:22] #13613 closed

[2020-09-25 13:22] #12838 closed

[2020-09-25 13:22] #13302 closed

[2020-09-25 13:26] #11930 closed

[2020-09-25 13:26] #7115 closed

[2020-09-25 13:27] #12864 closed

[2020-09-25 13:27] #12919 closed

[2020-09-25 13:27] #12189 closed

[2020-09-25 13:28] #12140 closed

[2020-09-25 13:32] kelsonic commented on #8791
Thanks! I will try the `ul` approach or the `div` with aria approach then 🙂

[2020-09-25 13:50] kelsonic commented on #13135
Noticing images aren't loading because the images are cross-domain, but we can fix that in a subsequent ticket! 🙂

You can see an example step-by-step node here now: http://preview-staging.vfs.va.gov/preview?nodeId=6899

Closing this ticket for now as the AC is validated! 🎉

[2020-09-25 13:52] artsymartha68 commented on #13120
I sign off on the main UX features for MVP. These are super nit-picky wording things:

1. On Personal Info screen: Maybe "when you edit information in this app"? Definitely need a content designer's final edits here.
2. Mailing address: "US" instead of "United States" twice? Need to be consistent throughout

[2020-09-25 13:52] kelsonic commented on #13133
Validated at http://preview-staging.vfs.va.gov/preview?nodeId=6889 🎉

Closing this as the AC were completed + validated 🔥

[2020-09-25 13:52] #13133 closed

[2020-09-25 13:54] kelsonic commented on #13499
PR can be validated here: http://preview-staging.vfs.va.gov/preview?nodeId=6954

Closing as AC were completed! 🎉

[2020-09-25 13:54] #13499 closed

[2020-09-25 13:54] artsymartha68 commented on #13072
Looks great. I love the simplicity of the list. I sign off!

One small thing: Do not capitalize "Service" in the list header...? I believe we are sentence case here.

[2020-09-25 13:56] kelsonic commented on #13497
PR validated on http://preview-staging.vfs.va.gov/preview?nodeId=6924

Closing as AC were completed! 🎉

[2020-09-25 13:56] #13497 closed

[2020-09-25 13:57] kelsonic commented on #13498
PR validated here: http://preview-staging.vfs.va.gov/preview?nodeId=6950

Moving to closed! 🎉

[2020-09-25 13:57] #13498 closed

[2020-09-25 13:59] artsymartha68 commented on #13073
Looks great. A couple things:

1. Maybe: "when you make updates in this app"? I assume eventually we'll have an actual app name instead of "VA mobile app".
2. Does BANK NAME get automatically pulled from the data once they enter the routing number?

[2020-09-25 14:00] DanielleThierryUSDSVA commented on #13905
Hi @RLHecht. Can you, @bethpottsVADEPO, and I sync on this early next week? I want to make sure that Beth is up to speed since she works with the Ch 36 SMEs. Thanks!

[2020-09-25 14:02] Samara-Strauss commented on #13831
@DanielleThierryUSDSVA thank you for this. How would we handle things if someone was a patient at Mann-Grandstaff and Chalmers P. Wylie? I realize that's very unlikely, but I wanted to see if you all had started to think about the use case where we're handling a bunch of facilities for Cerner and someone might be a patient at more than one.

Also, is it safe to assume "Mann-Grandstaff VA medical c

[2020-09-25 14:03] kelsonic commented on #13963
Hey @RLHecht! Could you let me know when a `support_resources_detail_page` is created? Once that happens I can start work on this 🙂

[2020-09-25 14:06] erluti opened #14045 "Shore up /sidekiq endpoints"
The sidekiq admin app has been made available in vets-api in our non-production environments.  These urls are not behind socks and would allow someone to manipulate sidekiq jobs and disable scheduled ones.  Since it's non-production, there's no PII risk.

This discovery is discussed here https://dsva.slack.com/archives/CQHBJ5U06/p1600807838028400

There were some notes provided for how sidekiq adm

[2020-09-25 14:07] artsymartha68 commented on #13089
Looks good, I sign off!

1. "Appeals" should not be capitalized, I don't think
2. "Location" should not be capitalized, I don't think
3. On the back burner: add a link for covid screener?

[2020-09-25 14:12] artsymartha68 commented on #13079
I sign off, looks good!

[2020-09-25 14:21] jbalboni commented on #13043
Changes for this go in https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/applications/vaos/appointment-list/redux/actions.js#L427 and https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/applications/vaos/appointment-list/redux/reducer.js#L149 (and maybe selectors).

The steps would be:
1. Fetch request eligibility criteria data for registered

[2020-09-25 14:22] jbalboni commented on #12260
@marcynadeau Do you want to retest this?

[2020-09-25 14:22] RLHecht commented on #13963
@kelsonic I'm working on that today! I'll let you know when it's done!

[2020-09-25 14:22] mmiddaugh opened #14046 "Facility Locator map unavailable in mobile"
## What happened?
<details>
<summary> Map is not visible in mobile tab view </summary>

![image.png](https://images.zenhubusercontent.com/5d8a47393ac3440001d1a2ed/b6960735-fb8c-4e85-ac3b-8e933db0c908)

</details>

---

<details>
<summary> Returns at breakpoint 482 </summary>

![image.png](https://images.zenhubusercontent.com/5d8a47393ac3440001d1a2ed/6ff9db6c-07c6-4e02-878e-767d03f77cdd)

</details

[2020-09-25 14:24] amyknox commented on #13518
[Report: Launch 9/2 - through 9/24](https://app.zenhub.com/files/133843125/5c6eadfc-da15-4b23-932f-401a920191a9/download)

[2020-09-25 14:25] mmiddaugh commented on #14046
This issue identified as showstopper: bring into sprint

[2020-09-25 14:25] jbalboni commented on #13163
I just linked it: https://github.com/department-of-veterans-affairs/vets-website/pull/14326

I think the PR just needs to be merged, unless I'm missing something @grossb1?

[2020-09-25 14:25] #13518 closed

[2020-09-25 14:27] #13556 closed

[2020-09-25 14:29] kelsonic opened #14047 "Create mobile version for step_by_step MVP 1.1"
## Summary

The main boilerplate for step-by-step was created (you can see that tracked [in this ticket](https://github.com/department-of-veterans-affairs/va.gov-team/issues/13135#issuecomment-692227343)), but we still need to implement the mobile design for step-by-step.

You can see the current step-by-step implementation at http://preview-staging.vfs.va.gov/preview?nodeId=6899 (don't forget you

[2020-09-25 14:29] kelsonic commented on #14047
CC @andaleliz

[2020-09-25 14:30] mmiddaugh opened #14048 "Facility Locator: Mobile test coverage"
## Issue Description
Facilities team needs to expand our test coverage of Facility Locator mobile features/functionality

**Tests should check for presence of all required components and responsive design. To the extent possible, testing should include checks to be done on mobile devices**

## Tasks
- [ ] Identify gaps in mobile coverage (such as Map is visible and interactive in mobile)
- [ ] Add

[2020-09-25 14:31] kelsonic commented on #14047
CC @MickinSahni created this ticket as follow-up work for the `step-by-step` template: https://github.com/department-of-veterans-affairs/va.gov-team/issues/13135#issuecomment-692227343

[2020-09-25 14:32] kelsonic commented on #13963
Awesome!! 🎉 Thanks!

[2020-09-25 14:32] mmiddaugh opened #14049 "Expand VAMC test suite to include basic smoke tests for facility pages"
## Issue Description
This issue expands VAMC test suite coverage of facility and system page components

## Add unit/automated tests to check for the presence of the following basic required components on facility pages:

- Left Nav is present (except for individual event, news release and story pages)

[Facility example home page](https://www.va.gov/pittsburgh-health-care/locations/pittsburgh-va-

[2020-09-25 14:33] jbalboni commented on #8983
For what it's worth, VAOS is handling chunk errors this way, when lazy loading the form sections of the app: https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/applications/vaos/routes.jsx#L14

[2020-09-25 14:34] erluti commented on #14045
@alexpappasoddball this is the sidekiq stuff we talked about the other day that might need some devops/security opinions

[2020-09-25 14:41] mmiddaugh opened #14050 "Mobile map post-mortem"
## Issue Description
Post-mortem for [Facility Locator Mobile map bug](map https://github.com/department-of-veterans-affairs/va.gov-team/issues/14046)

---
## Tasks
- [x] Determine root cause for mobile map breakage
- [x] Develop a plan to monitor/prevent in the future

## Acceptance Criteria
- [x] Facilities team understands root cause, has identified dependencies (if appropriate) and has impleme

[2020-09-25 14:41] massrb opened #14051 "[Spike] Research strategy for supplying mock appointments data"
We need a strategy for dummy data for appointments because the MAP API interface is not ready. This should use betamocks which is
different than the VCR_cassette mock data.

Since we have no API access and neither does VAOS for the dev environment, we have a non typical problem to solve which is explained here:

https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/hea

[2020-09-25 14:41] bridgethapner commented on #13072
@artsymartha68 You are right! I just checked VA.gov and it uses "Period of service" - I updated the designs to the same.

[2020-09-25 14:44] mmiddaugh opened #14052 "Mapbox support for IE 11 ending"
## Issue Description
Mapbox announced on August 13 a plan to remove support for Internet Explorer 11 in a future release of GL JS later this year.
We are not currently using GL JS but may evaluate it for the future.

## GA analytics for Internet Explorer
**Between 1/1/2020 and 10/5/2020, Internet Explorer was the 3rd most popular browser**

| Browser | Percent of total users | Percent of sessions

[2020-09-25 14:47] erluti opened #14053 "consolidate google analytics keys in settings"
Originally created here https://github.com/department-of-veterans-affairs/va.gov-team/issues/14017

As the backend tools team we want to help out and make sure this tech debt is handled

[2020-09-25 14:49] alexpappasoddball commented on #13544
Removing BE Tools label from this.  After speaking with @gunsch there is direct work for this for our team at the moment.  @f1337 if anything changes on this front let us know and we will get this back on the board.

[2020-09-25 14:53] kelsonic commented on #14008
Hey @RLHecht would you mind confirming that http://preview-staging.vfs.va.gov/preview?nodeId=6899 has its `fieldAlertSingle` filled out on Drupal? The code is actually all there to support this in the template so trying to figure out why it's not rendering 🤔

[2020-09-25 14:53] bridgethapner commented on #13073
1. I captured this text as a place we'd like Content help from VSP on #14031.

2. Yes - Bank name does get auto-updated once they enter the routing number. I revisited VA.gov this morning and updated our Direct Deposit to match the field labels on VA.gov 1:1 to reflect this.

[2020-09-25 14:55] artsymartha68 commented on #9540
Screenshot updated above. Patrick's excellent idea of having a link for the Spanish path.

[2020-09-25 14:58] lunascoop commented on #13964
I have validated that these URL changes are published.

@jenniferlee-dsva @mnorthuis While none of the form changes above are not on the 1:1 redirect list, I have updated the URL listed for VA form 40-10007 to remove "VA" per UAT change ticket #13751 (which will be published today). With the change to VA form 40-10007 in mind, shouldn't the URLs for these other forms on the 1:1 redirect list be ch

[2020-09-25 14:59] bridgethapner commented on #13089
Thanks @artsymartha68!

I made changes 1 & 2 and created a ticket for #13679 for the COVID screener.

[2020-09-25 14:59] jonathanjnelson opened #14054 "[Frontend] Caregiver QA feedback"
## Issue Description
_This ticket contains UI feedback on 10-10CG as it appears in staging. Categorize by page. Please let me know if you have questions_

### General (footer)
- [x] Shift "Use our online Caregiver Support Coordinator search tool" link 4px to left align with other content

<img width="392" alt="Screen Shot 2020-09-25 at 11 01 22 AM" src="https://user-images.githubusercontent.com/58

[2020-09-25 14:59] lunascoop commented on #13751
This change will be published and validated later today.

[2020-09-25 15:03] lunascoop commented on #5549
Posting comment from #13964 here:

I have validated that these URL changes are published.

@jenniferlee-dsva @mnorthuis While none of the form changes above are not on the 1:1 redirect list, I have updated the URL listed for VA form 40-10007 to remove "VA" per UAT change ticket #13751. With the change to VA form 40-10007 in mind, shouldn't the URLs for these other forms on the 1:1 redirect list be

[2020-09-25 15:03] bridgethapner commented on #13120
Thanks @artsymartha68!

- I added Personal Info screen to ticket #14031 to asl for a Content review later.
- Not sure about #2, let's talk in our touch base :)

[2020-09-25 15:07] emilywaggoner commented on #13714
Here is a link to the Test Account prototype from last fall: https://projects.invisionapp.com/share/TRUYL8CFEWP#/screens/394670563?browse

[2020-09-25 15:12] jsev-io commented on #14021
1. Removed SOCKS Access

2. No AWS Access

3.Removed from the DSVA Slack
![image](https://user-images.githubusercontent.com/63133731/94283342-e12ac600-ff1e-11ea-8793-c9764b16eee7.png)

4. Removed from GitHub Org

5. PagerDuty Access Removed
https://dsva.slack.com/archives/CTYQL39FE/p1601046628025300

[2020-09-25 15:12] Kimberley2019 commented on #12616
Good Morning @MickinSahni I have been able to review the product guide and do not have any questions.  The only suggestion/request that I have is a table of contents.
Is there going to be a product video and transcript?
I have passed this product guide along to the Contact Center for their review with a requested response date of 10/1/2020.  Can you advise if this product has launched already?

[2020-09-25 15:13] lunascoop commented on #13753
This change will be published and validated later today.

[2020-09-25 15:14] lunascoop commented on #13754
This change will be published and validated later today.

[2020-09-25 15:14] ltrombley commented on #13590
Task Complete.  See comments above regarding additions to lists.

[2020-09-25 15:16] kelsonic commented on #14008
PR open to add `fieldRelatedLinks` to the `q_a` content type, `step_by_step` should already have it but it's not showing up (maybe it's not added in Drupal for 6899?): https://github.com/department-of-veterans-affairs/vets-website/pull/14370/files#diff-7d210cc49d1c10fd1d197bded641fd7fR32

[2020-09-25 15:18] Samara-Strauss commented on #13336
Next steps:

- Schedule a review with the platform team for next Thursday or Friday (October 1 or 2).
- Erik/Sandra to regroup with Lihan

[2020-09-25 15:20] rianfowler opened #14055 "Review CSP logger and resolve remaining issues in staging"
## Overview

Prepare the [content security policy](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/engineering/content-security-policy.md) for enforcement on production.

## Potential tasks

- Review the documentation linked above on how to maintain the CSP. Make sure validate the CSP header using the [CSP Evaluator ](https://csp-evaluator.withgoogle.com/)
- Revi

[2020-09-25 15:21] MickinSahni commented on #14030
Yep, added. And Kelson shared some Drupal preview links for us

[2020-09-25 15:32] #13964 closed

[2020-09-25 15:36] #8162 closed

[2020-09-25 15:36] 1Copenut commented on #13595
@tressaellen & @jenstrickland
I only have a few items to add, and they're all considers, with one question for my own understanding:

*Question:**
- The first view for Charles Darcy will replace the logged out, default VA.gov homepage when users log in, correct?

**Consider:**
- I lean toward the left navigation instead of tabs for managing views. The tabs command more vertical real estate at mobi

[2020-09-25 15:37] pjhill commented on #13608
I've compiled a [spreadsheet ](https://docs.google.com/spreadsheets/d/1mq9of8Yi_8tfDObui4vi16Zi7oV7h95x2Bg2HLyRwbY/edit?usp=sharing)of "products" based on folder structure within vets-website. I've included a subjective assessment of the test depth for the automation that is available.

[2020-09-25 15:37] MickinSahni commented on #5549
Dev approach: start to crate PRs and push to lower envs given risk and testing need. But, will not push until
- UAT complete
- basic auth and no index are removed
- get thumbs up on roll-out plan (e.g. error rates)

[2020-09-25 15:39] jenstrickland commented on #13595
@1Copenut

Regarding the tab navigation, my take on the comps is that the tab navigation is presented as the stacked mini-cards. The left navigation would collapse into a hidden menu, which we already have a stack of pancakes of collapsed items.

[2020-09-25 15:41] rianfowler commented on #1579
Tickets:
#14055 - Review CSP logger and resolve remaining issues in staging
#14056 - Document approval and review processes for CSP

[2020-09-25 15:41] #1579 closed

[2020-09-25 15:45] lunascoop commented on #5549
In preparation for this redirect, I want to confirm that this requires stakeholder notification. I'm asking so that I can get the list of the appropriate stakeholders if needed, and possibly pull out this sprint due to the seven business-day notification requirement (cc: @bethpotts, @MickinSahni). I imagine that these redirects would involve stakeholders across multiple benefit hubs.

[2020-09-25 15:45] massrb commented on #13599
VSP has found many problems with having endpoints that return dummy data so I just pushed up another PR for them to look at that is more typical

[2020-09-25 15:46] srmyers17 opened #14057 "Change in address to homeless"
## User Story
As a user, the address I initially used to apply for VA services is no longer my current address because I am now homeless.

## Notes
- Flash service
- Applications ask about homelessness (eg, 526)

[2020-09-25 15:48] jenniferlee-dsva opened #14058 "UAT bug: Form page preview not showing any form last updated date"
## UAT bug: Form page preview not showing any form last updated date

This may be related bug to ticket #14024.

On this form page preview for the 10-250: http://preview-prod.vfs.va.gov/preview?nodeId=6489

The `Form last updated` field is missing in the preview.
![image.png](https://images.zenhubusercontent.com/5bb2975c143b4d2ee7a35ef6/82a18df3-3bc3-4cd1-ba44-28f4ef5d7808)

However, when you look

[2020-09-25 15:48] MickinSahni commented on #5549
Good call, Selina. Thoughts, @jenniferlee-dsva?

[2020-09-25 15:49] jenniferlee-dsva commented on #14024
Hello - thx for taking a look at this. I'm linking another UAT bug, which I think is probaby related to this same bug:
https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/14058

[2020-09-25 15:53] leahkeeler opened #14059 "Debt Letters Iteration 2 VSA-QA Test Plan"
**_Please reach out to Brad to turn on feature flag for I2_[https://app.zenhub.com/files/133843125/e26dd1fd-f18b-4b1b-8d9d-7a87094c7449/download](https://app.zenhub.com/files/133843125/e26dd1fd-f18b-4b1b-8d9d-7a87094c7449/download)**

## Product/Feature summary

Debt Letters Iteration 2 builds on iteration 1 in providing the veterans the status of their va debt.

[Product Outline](https://github.c

[2020-09-25 15:55] srmyers17 commented on #13461
@jperk51 + @kreek: If the address is updated here, it needs to update the address in the Profile API as well.

[2020-09-25 15:55] leahkeeler commented on #14059
[https://app.zenhub.com/files/133843125/e40a6ced-776f-4cc8-8786-dc678cfeb5e1/download](https://app.zenhub.com/files/133843125/e40a6ced-776f-4cc8-8786-dc678cfeb5e1/download)

[2020-09-25 16:07] jenniferlee-dsva commented on #5549
Thank you for checking @lunascoop

I will send out a final redirect heads up/reminder to the VA forms managers and to Kevin Reid who manages the VA forms database. Please let me know a day or two in advance of the 1:1 and bulk redirects are about to happen and I will communicate.

[2020-09-25 16:07] bridgethapner commented on #13916
Updated to include the Veterans Crisis Line.

[2020-09-25 16:08] jenniferlee-dsva commented on #5549
I will take a look at your other comment @lunascoop : https://github.com/department-of-veterans-affairs/va.gov-team/issues/5549#issuecomment-698981476

[2020-09-25 16:12] RLHecht commented on #13754
@lunascoop I just reviewed this. I lowercased the "e" at the end of the form name to be consistent with the H1 and the forms database. I set it to publish.

[2020-09-25 16:13] bradl3yC commented on #13550
Apparently this data was removed from their API response - we are meeting with them today and I will ask them to add it back in

[2020-09-25 16:13] #13856 closed

[2020-09-25 16:14] bradl3yC commented on #13383
@jenstrickland please validate

[2020-09-25 16:14] bradl3yC commented on #13545
@jenstrickland please validate

[2020-09-25 16:14] bradl3yC commented on #13546
@jenstrickland please validate

[2020-09-25 16:15] massrb commented on #13156
This ticket is complete for reading records and for connecting with a JWT but writing to the PGD has not been possible because of permissions and problems that Stephen has been researching

[2020-09-25 16:19] kfrz opened #14060 "Prepare to Migrate extra VSP projects for Sentry"
## Description

There are additional projects that live in Sentry 9 that are outside of `vets-website` (frontend) & `vets-api` (backend).  We need to reach out to the teams responsible for the sections listed below to ensure they are still needed and the plan to move them to the new Sentry.

- If they want to use Sentry 10 we'll need to migrate their projects
- This could include code changes in t

[2020-09-25 16:21] ericbuckley commented on #13136
I ran a script yesterday to look analyze the nginx access logs and see what percentage of authentication requests result in a non success response (302 for v0 and 200 for v1).  The thought was that if our v1 requests had a higher percentage of web server errors than v0, maybe that difference could explain our decrease in success rates.  The results over a 72 hour window did show a higher rate of e

[2020-09-25 16:26] desireeturner commented on #13397
This issue is OBE because no prod flag was used for #12752. It is now in production

[2020-09-25 16:30] sanlouise commented on #12004
@peggygannon After talking with @tressaellen , we decided to go with the AlertBox route with helpful text for the user. The current copy does not make clear that the request could not be processed due to an invalid email address. Could you provide us with copy that makes it clear that their email address is invalid so we could not submit the request?

[2020-09-25 16:33] KevinMHoffmanUSDS commented on #13840
@mchelen Thanks for this! Storybook assessment is part of an upcoming discovery effort for the design system team. That team officially starts on October 1st, and we'll being doing prioritization for that team in the first sprint.

[2020-09-25 16:36] ericboehs opened #14061 "Sentry 10 inaccessible from VA network"
## Description
When connected to the VA network via VPN, web requests to Sentry 10 timeout. When accessing Sentry 9, we do not see this issue.

## Definition of Done
- [ ] Sentry 10 can be accessed from within the VA network and via SOCKS

[2020-09-25 16:39] alexpappasoddball commented on #14060
@kfrz @ericboehs @thilton-oddball For this task (ie. ticket) the idea isn't to actually migrate it, but to create a draft PR to migrate it once we get confirmation that is needed in the new sentry instance right?  I'm guessing Staging/Prod (for vets-website & vets-api) and these projects listed above will all migrate on a predefined date (October 6th).  Is that a correct assumption?

[2020-09-25 16:42] RLHecht commented on #13360
Sample text has now been added. Link to node is at top of this ticket. Will let @kelsonic know as well. There was not an option for optional H2s underneath the button yet but I did add one in the WYSIWYG field.

[2020-09-25 16:43] alexpappasoddball opened #14062 "Ensure Sentry 10 has appropriate data backups"
## Description

As part of the rollout of Sentry 10, we need to ensure that it has the proper data backups.

## Definition of Done
- [x] Investigation to if the backups exists is complete and this ticket is closed with comments confirming they exists
OR
- [ ] a new ticket is created to create those backups and assigned to the Sentry 10 upgrade epic and prioritized

[2020-09-25 16:43] grossb1 opened #14063 "Add parent_site parameter to direct booking call"
@grossb1 commented on [Thu Sep 24 2020](https://github.com/department-of-veterans-affairs/vets-api/issues/4973)

[2020-09-25 16:43] RLHecht commented on #13963
@kelsonic Sample text added here: prod.cms.va.gov/node/7910 Let me know if you need anything else!

[2020-09-25 16:45] alexpappasoddball commented on #14061
@jhouse-solvd & @omgitsbillryan as part of the sentry 10 rollout, this issue came up through slack channels.  BE Tools spoke to Bill about it yesterday, but wanted to get it on the board and in front of you all to be addressed.

[2020-09-25 16:45] jhouse-solvd commented on #13744
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/logging/logsByService.md

[2020-09-25 16:46] jhouse-solvd commented on #10529
This ticket is now defunct. Migrated to: https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/13744

[2020-09-25 16:47] kevinmirc commented on #12609
Hi all, can we schedule to remove these credentials **and** take off the basic auth for **/family-member-benefits/apply-for-caregiver-assistance-form-10-10cg** on the morning of **Tuesday 09/29** for all **environments**?

Please be aware, before removing basic auth we must set the `:allow_online_10_10cg_submissions ` feature flag to "Disable for Everyone".

This is part of the production release

[2020-09-25 16:48] dneel-bah opened #14064 "EDU: Create feature flag for education form updates"
As a developer, I need to create a feature flag for the 1995 updates so that it is not displayed in production as development is completed.

## Assumptions:
1. Feature flag for 1995 updates is needed the vets-api and vets-website repos.
2. The Feature Flag is configured per environment.
3. When the feature flag is:
     a. Off: The 1995 content updates are not displayed.
     b. On: All of the 199

[2020-09-25 16:52] dneel-bah commented on #13397
Closed as OBE

[2020-09-25 16:52] #13397 closed

[2020-09-25 16:57] jhouse-solvd opened #14065 "Infrastructure Recommit - Migrate 50% of Services to new infrastructure"
## Problem Statement
We need to move services from legacy infrastructure (Ansible BRD) to new infrastructure (ECS + Fargate + CircleCI)

How might we smoothly transition services and their dependencies to the new infrastructure with minimal impact to existing development efforts?

_NOTE: A former incarnation of this work, which may provide additional insight and relevant information, can be found

[2020-09-25 16:59] jenniferlee-dsva commented on #5549
Replying to: https://github.com/department-of-veterans-affairs/va.gov-team/issues/5549#issuecomment-698981476)

RE updating the URLs to omit the VA prefix on the form number: Yes, that follows Mikki's patterns, so I'm okay doing this.

To be clear, it would be changing `/about-form-va5655/` to `/about-form-5655/`  as an example. (Just note - this will not affect the H1s at all.)

These are the H1s

[2020-09-25 17:00] Samara-Strauss commented on #10516
This was established in yesterday's platform review. We'll be meeting with them weekly for the duration of the design phase.

[2020-09-25 17:00] #10516 closed

[2020-09-25 17:00] #10529 closed

[2020-09-25 17:00] RLHecht commented on #12694
These have been validated on the live site. Closing ticket. FYSA @MickinSahni @brianalloyd

[2020-09-25 17:00] #12694 closed

[2020-09-25 17:02] kfrz commented on #14060
Yes - this is to align understanding and communications

[2020-09-25 17:03] jhouse-solvd commented on #8649
need to migrate useful and relevant information from this epic into this new, more up-to-date epic:

https://app.zenhub.com/workspace/o/department-of-veterans-affairs/va.gov-team/issues/14065

[2020-09-25 17:03] jhouse-solvd commented on #8656
need to migrate useful and relevant information from this epic into this new, more up-to-date epic:

https://app.zenhub.com/workspace/o/department-of-veterans-affairs/va.gov-team/issues/14065

[2020-09-25 17:04] lunascoop commented on #5549
@jenniferlee-dsva yes, I was talking about changing the urls and not the H1s. It's sort of like the "pdf" and "Spanish" forms where we changed the URLs but couldn't change the form titles.

[2020-09-25 17:05] jhouse-solvd commented on #14065
@dginther let's decide on a healthy percentage of services to be migrated as a somewhat aspirational and potentially achievable goal for Q4.

Once we've decided on how much we want to try to migrate this quarter, I will update the title of this epic to reflect that, as well as update the roadmap entry which corresponds to this task. :)

[2020-09-25 17:10] dneel-bah opened #14066 "CT: Remove prod flag for shared content updates"
As a developer, I need to remove a prod flag so the updated content is available in the production environment.

## Assumptions:
1. The work completed in #13929 has been reviewed and signed off in staging as of 10/21.

## Acceptance Criteria
1. The work completed in #13929 is available in the production environment.

## Supporting Artifacts:
1. N/A

[2020-09-25 17:13] rianfowler opened #14067 "Resolve database capacity issue on Heroku for pact broker"
## Overview

Pact broker runs on Heroku and will stop working when the db reaches capacity with the current Heroku plan.

## Notes
Alert from Heroku:

[2020-09-25 17:14] rianfowler commented on #14067
Note from @U-DON:

[2020-09-25 17:18] omgitsbillryan commented on #14062
Didn't take much digging, we get this for free for being part of BRD (see the ["Create backup snapshots" ansible task](https://github.com/department-of-veterans-affairs/devops/blob/master/ansible/deployment/roles/deploy-instances/tasks/instances-inner.yml#L6-L13))

![image](https://user-images.githubusercontent.com/3077884/94296836-7cc53200-ff31-11ea-86f1-519d7c9e8f43.png)

[2020-09-25 17:19] #14062 closed

[2020-09-25 17:22] delli-gatti-michael commented on #9953
@1Copenut This appears to have been fixed by the fix for #11055 which is on staging now.

[2020-09-25 17:23] dneel-bah opened #14068 "CT: Remove prod flag for search results content updates"
As a developer, I need to remove a prod flag so the updated content is available in the production environment.

## Assumptions:
1. The work completed in #13938 has been reviewed and signed off in staging as of 10/20/2020.

## Acceptance Criteria
1. The work completed in #13938 is available in the production environment.

## Supporting Artifacts:
1. N/A

[2020-09-25 17:23] jhouse-solvd commented on #13747
from @jsev-io:

Can we create a new ops slack channel for security alerts? Especially during testing, this will help with ensuring sanity / clarity around what's needed / not-needed from a security configuration and access management perspective.

[2020-09-25 17:25] bkjohnson commented on #9860
Incorporating the additional info link sounds like it is out of scope for this particular issue, so I would save that for another issue possibly.

At the moment, the forms library doesn't have support for an `h4` and `p` to act as headers over a particular field. If that _is_ a common pattern, then I think that might be something for the design team to talk about. Also, I'll point out that in your

[2020-09-25 17:28] jhouse-solvd commented on #13747
consider changing title to "platform infrastructure maintenance"; see this issue as an example for how this was tracked previously:

https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/4202

_also, see if you can close ^^ that issue down_

I still like the idea of creating a new "ongoing service" ticket per quarter, so that we can look a

[2020-09-25 17:34] jhouse-solvd opened #14069 "Create new slack channel for security alerts"
Related to #8954

[2020-09-25 17:36] luke-gcio opened #14070 "[Development] BDD: Military Separation Question Update"
## Issue Description
Update military separation question to read "Are you currently on active duty?" and switch yes/no logic for BDD qualified.

## Acceptance Criteria
- [ ] Switch the question out and make sure the yes/no is switched (since before they said NO to indicate BDD versus YES now)
---
## How to configure this issue
- [x] **Attached to a Milestone** (when will this be completed?)
- [x]

[2020-09-25 17:37] kristenmcconnell commented on #12282
@abuckley3385 @mdewey

**Regarding the "Save time..." banner that appears prior to authentication...**
- I see some potential problems for the user if we use the out of the box wording:
--The second bullet with the 60 days information is incorrect in our instance. Our timetables are based on the appointment time/date and have nothing to do with that start of the application.
-- We aren't an applic

[2020-09-25 17:39] jenniferlee-dsva commented on #5549
My bad - I looked up the forms on your list @lunascoop . and they actually are on our high trafficked list of forms/form pages. I've gone ahead and asked the form manager to update the form display name field in the db - this shouldn't affect your updating the URL, which we should still do. Thank you. Sorry for not 'getting' it quickly.

[2020-09-25 17:41] tressaellen commented on #13595
Thank you for reviewing this! @1Copenut - to answer your question, yes the first view for Charles Darcy will replace the logged out, default VA.gov homepage when users log in.

[2020-09-25 17:43] mnorthuis opened #14071 "Review and correct invalid education URL appearing in search"
The following URL is showing up as a best bet when you search for "licensing and certification"

URL showing: https://www.va.gov/education/about-gi-bill-benefits/how-to-use-benefits/licensing-certification-fees/
Search results: https://www.va.gov/search/?page=1&query=licensing+and+certification

The correct URL for this page is: https://www.va.gov/education/about-gi-bill-benefits/how-to-use-benefi

[2020-09-25 17:45] erikphansen commented on #12873
@tressaellen feel free to validate and close this.

[2020-09-25 17:45] keli13 opened #14072 "Deep link Spike"

[2020-09-25 17:46] tressaellen commented on #12632
@erikphansen  - I like option 4 as well - let's move forward with that.

[2020-09-25 17:46] erikphansen commented on #13839
Closing since it can't be easily validated on staging.

[2020-09-25 17:46] #13839 closed

[2020-09-25 17:48] kelsonic commented on #13963
Thank you! 🔥

[2020-09-25 17:52] bethpottsVADEPO commented on #8306
@mnorthuis Implementation of edits to static pages as well as nav work is captured in this ticket: #13842

[2020-09-25 17:53] kelsonic commented on #13963
Hey @jenstrickland, do you have time to meet with @ncksllvn and I early next week to discuss a11y before we begin implementation for the about template? I believe you and @andaleliz made an effort to incorporate a11y early in the process, so just want to make sure we continue that effort into development! 🙂

[2020-09-25 17:55] jenniferlee-dsva commented on #13135
Thx @kelsonic - I just wanted to make sure you, @ncksllvn and @RLHecht are coordinating, so you are using the demo environment: http://learningcenter.demo.ci.cms.va.gov/

When Randi (and upcoming, also @lunascoop ) add new content for the learning center fields that the CMS team has added, Randi will make sure the prod content gets copied over to the demo enviro for you guys.

I don't know if stag

[2020-09-25 17:55] luke-gcio opened #14073 "[Development] 526: Military Branch BGS API Integration"
## Issue Description
We want to see if we can leverage the pattern we are working on for separation location for military branch drop down in the military history area.  We are seeing preloaded data from EMIS not match our dropdown and creating issues.  It seems like if BGS has an endpoint for this we can leverage it once Nick figures out how to add non-prefill data to the forms.

## Acceptance Cr

[2020-09-25 17:57] bethpottsVADEPO opened #14074 "Best Bet change for licensing and certification"
## Issue Description
When you search on va.gov for licensing and certification, this url is the top search result, and you get a 404 when you click: https://www.va.gov/education/about-gi-bill-benefits/how-to-use-benefits/licensing-certification-fees/

It needs to be removed. It's a nonexistent page. This should come up instead:
https://www.va.gov/education/about-gi-bill-benefits/how-to-use-benefit

[2020-09-25 18:02] kelsonic commented on #13135
Awesome! We haven't made use of the demo environment yet but it will likely come in handy here soon as we continue to experiment + build out the boilerplate data for these new content types! 🙂

[2020-09-25 18:05] johnhashva commented on #14074
@bethpottsVADEPO this is now fixed with the new URL.  Do you want to add any descriptive text?  Would this work:

The GI Bill covers more than just tuition. You can use part of your entitlement to cover the cost of certain tests you need to take to become a licensed or certified professional—or to apply for college or a training course.

[2020-09-25 18:12] kreek commented on #13991
appointments only check is that the user is LOA3, appeals is LOA3 and SSN, claims requires EVSS policy which is EDIPI, SSN, and Participant ID (also referred to as Corp ID)

[2020-09-25 18:13] andaleliz commented on #13342
@jenniferlee-dsva [Here's my conversation guide](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/content/tier-2-content-IA-and-design/learning-center-mvp/discovery-and-research/iris/contact-center-interview-1-conversation-guide.md) for the calls starting next week.  I think the most important chunk for you to review is where I set the stage for why we are meeting

[2020-09-25 18:13] srmyers17 commented on #13071
@lexicalninja Let's sync next week to clarify what screens we need to design from a UX perspective.

[2020-09-25 18:14] srmyers17 commented on #13474
@srmyers17 looking into who w/in VSP can help with headers.

[2020-09-25 18:14] johnhashva opened #14075 "Project Intake Request: Dynamic Statement of Benefits"
## Request
The Office of Transition and Economic Development (OTED) wants to know the feasibility of create a personalized Statement of Benefits (SOB) for transitioning Service members (TSM) and newly-separated veterans (NSV) via VA.gov.

The vision is: the transitioning Veteran answers a "few" questions and will receive a personalized SOB in return.  The full requirements are TBD in consultation

[2020-09-25 18:17] brangi commented on #14050
@mmiddaugh @mpelzsherman - I have spent some time testing on releases to check here was the mobile map broken and I have found that it was broken in this release - https://github.com/department-of-veterans-affairs/vets-website/releases/tag/vets-website%2Fv0.1.1047

For specifically this change - https://github.com/department-of-veterans-affairs/vets-website/commit/d8ec8cd3a748b132f9601a68504794b1c

[2020-09-25 18:17] rtwell commented on #13989
# Step by step

![image](https://user-images.githubusercontent.com/12564977/94302123-b601a000-ff39-11ea-8c5a-79e83cbbf818.png)

# FAQ

![image](https://user-images.githubusercontent.com/12564977/94302007-86529800-ff39-11ea-9968-4e19c0cfb13b.png)

# Q+A

![image](https://user-images.githubusercontent.com/12564977/94302139-bdc14480-ff39-11ea-84d9-b998cc02b058.png)

# About

![image](https://user-ima

[2020-09-25 18:17] srmyers17 commented on #13991
- Appointments doesn't need an error state
- Appeals and Claims needs an error state if user doesn't have SSN
- Claims needs an error state if user doesn't have EDIPI, Participant ID

[2020-09-25 18:18] srmyers17 commented on #13991
What stakeholder should review error states / may have input?
Perhaps content team.

[2020-09-25 18:18] srmyers17 commented on #14031
Error state language

[2020-09-25 18:20] #12925 closed

[2020-09-25 18:20] rtwell commented on #13989
# Search results listing

![image](https://user-images.githubusercontent.com/12564977/94302473-4213c780-ff3a-11ea-8c1e-c611933dffe7.png)

# Static list page for 'all articles in Xcategory'

![image](https://user-images.githubusercontent.com/12564977/94302505-4d66f300-ff3a-11ea-9206-a13f61c5a5af.png)

# Static list page for 'all articles tagged: Y'

![image](https://user-images.githubusercontent.co

[2020-09-25 18:21] #13471 closed

[2020-09-25 18:24] #13093 closed

[2020-09-25 18:24] #13090 closed

[2020-09-25 18:24] #13092 closed

[2020-09-25 18:24] #13091 closed

[2020-09-25 18:24] lihanli commented on #8081
@jonwehausen is the user's GA Client ID always going to be available? what if they are using adblock?

[2020-09-25 18:24] #13082 closed

[2020-09-25 18:25] #13472 closed

[2020-09-25 18:25] jenniferlee-dsva commented on #13134
http://preview-staging.vfs.va.gov/preview?nodeId=6898

I'm seeing a couple of missing /bugs in the FE. Noting here:

The CTA buttons should appear above the TOC links.
In the CMS for this article, the CTA buttons are 'off' / not enabled  to repeat at the bottom of the page.

The FE design and template logic are:
At least 1 CTA button is required. The buttons will by default appear at the top of th

[2020-09-25 18:26] srmyers17 commented on #13601
Scenarios such as:
- No wifi

[2020-09-25 18:27] pjhill commented on #13608
Without the creation of a custom tool to scan the repository for the presence of Cypress or Selenium files it will be difficult to automate this process. I'm not aware of any tools that can perform this function out of the box.  That said, VFS teams need to follow a specific folder structure and naming convention. Currently, we locate relevant Cypress files with the following regex --
`**/tests/**

[2020-09-25 18:28] evelez-va opened #14076 "Access for Edison Velez"
# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please Provide your email.

- Please provide the name of your team, your role on that team, and the name of the company you work for.

- Requesting SSH key authorization?

   - What is your **public** SSH key? If you don't have a SSH Key or know how to find it [click here](https://g

[2020-09-25 18:28] jenstrickland opened #14077 "VSA dev intent: Learning center, MVP 1.1 - media_list_images"
**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

This issue contains the VSA accessibility feedback for the Learning center, MVP 1.1 - media_list_images

### Screenshots

#### Desktop

![Screen Shot 2020-09-25 at 2 51 26 PM](https://user-images.githubusercontent.

[2020-09-25 18:29] evelez-va commented on #14076
@department-of-veterans-affairs/vsp-operations please review.

[2020-09-25 18:33] srmyers17 commented on #13346
Research is done, need to write it up

[2020-09-25 18:35] bridgethapner commented on #13902
Hi there @bessgreen -- Per a UX Review Meeting I had with VA this morning, there are a couple of minor changes to this design:

- Adding click to call (documented in #13073)

[2020-09-25 18:36] bridgethapner commented on #13907
Hi there @bessgreen -- Per a UX Review Meeting I had with VA this morning, there are a couple of minor changes to this design:

- I removed any error states here and edited the field labels to reflect the character limits (documented in #13073).
- We'd like to use an aria-label to read the check image (e.g. your account number can be found...) to ensure it's accessible.

[2020-09-25 18:37] LEHigley commented on #13786
@lalexanderson-dsva is this something we would need to run past privacy?

[2020-09-25 18:38] bridgethapner commented on #14015
Hi there @bessgreen -- Per a UX Review Meeting I had with VA this morning, we have added the Veterans Crisis Line sticky banner to this page. Documented in #13916.

[2020-09-25 18:39] srmyers17 opened #14078 "Profile API: Address Validation + Validation Override"
## User Story

As a user, I enter an address and its validated on the backend, either:
- Validating what I entered
- Providing an alternative (need to confirm this exists today)
- Override the alternative and accept the address entered (checkbox)

## Notes
- 1 address for MVP
- expired addresses are deleted

[2020-09-25 18:40] Samara-Strauss commented on #13329
Since the actual checkpoint meeting and follow-up discussion is being tracked in #13415, I changed the goal of this ticket to be planning/prep for that meeting. Closing since we're all done getting ready for the meeting (and did a great job running it!).

[2020-09-25 18:40] #13329 closed

[2020-09-25 18:40] srmyers17 commented on #13346
This design doc will include the address validation + validation override architecture.

[2020-09-25 18:41] mpelzsherman commented on #14050
Thanks @brangi. This one was on me then, though I do not see what changes would have caused the issue. We've written a Cypress test that confirms the map is visible on mobile, and I will make sure to check the mobile map whenever making changes.

Hiring additional QA staff might also be something for VSA to consider, but again, mea culpa.

[2020-09-25 18:43] #13811 closed

[2020-09-25 18:43] luke-gcio opened #14079 "[Content] 526: Draft Email to Veterans Regarding Their PTSD Related In Progress Claim"
## Issue Description
While doing our UAT testing and the follow-up analysis, we determined that over 3k veterans are impacted by PTSD issues with their claim.  We would like to send an email to veterans asking them to try their submission again.  The draft of the draft is something along the lines of:

Now that I started thinking about the draft, this is going to have to be very carefully written.

[2020-09-25 18:44] amyknox commented on #13653
Mission accomplished.

[2020-09-25 18:44] Samara-Strauss commented on #10688
The new profile will likely go live to 100% of users on September 30th. If that's an issue, we can wait until October 1 when the redirect is in place. Let me know how you'd like to handle that!

[2020-09-25 18:45] jason-gcio opened #14080 "Update Breadcrumb on the 686 Application"
## Background
Given IA recommendations and feedback, the breadcrumb for the 686 application tool page should be clearly focused on the task the Veteran is expecting to take and not include the View task for the application. While similar and having opportunities for crossover, this should not be done via the breadcrumb.

## Tasks
- [ ] Update the breadcrumb for the 686 application too page to be:

[2020-09-25 18:48] srmyers17 opened #14081 "Mobile API Design: Direct Deposit"
## User Story
As a developer I want documentation for the API endpoints that will populate the direct deposit screens so that I have schema to build against.

#### Definition of Done
- [ ] [Mobile API docs](https://github.com/department-of-veterans-affairs/vets-api/tree/master/modules/mobile/docs) in the vets-api module include requests, responses, and schemas including an example of expected data

[2020-09-25 18:48] tressaellen commented on #13923
@Samara-Strauss I just added an 'application status' checkbox to account for this use case.

[2020-09-25 18:48] jbalboni opened #14082 "Map ATLAS data into FHIR format"
We're pulling the `tasInfo` data on the appointment list page directly from the legacy api data object, rather than mapping it into the FHIR Appointment resource.

AC
- [ ] ATLAS location should be mapped to a Location resource in the `contained` array
- [ ] ATLAS confirmation code should be added to HealthcareService resource created for video appointments (maybe as a characteristic or identifier

[2020-09-25 18:48] jenstrickland commented on #14030
@MickinSahni Which design version is this dev intent for? Should I use the list of VA environment previews to determine what to document?

![Screen Shot 2020-09-25 at 2 36 42 PM](https://user-images.githubusercontent.com/57469/94303911-a2a40400-ff3c-11ea-83ae-ff18eef43220.png)

[2020-09-25 18:48] tressaellen commented on #13921
@Samara-Strauss yep - this will link to the VAOS tool

[2020-09-25 18:48] #14007 closed

[2020-09-25 18:49] sonntag-adam commented on #13653
Closing story

[2020-09-25 18:49] #13653 closed

[2020-09-25 18:51] srmyers17 commented on #13350
Outstanding Q: Where does the content come from?
- List is in the API
- Brief description of letter, where does that come from?
- Do we need to take into account internationalization for Letters? (How do we handle translating backend content?)

[2020-09-25 18:52] jenstrickland commented on #14077
Accessibility issues shown in the CMS preview should be addressed.

![Screen Shot 2020-09-25 at 2 43 41 PM](https://user-images.githubusercontent.com/57469/94305099-acc70200-ff3e-11ea-8d4e-40486f2476ae.png)

[2020-09-25 18:52] tressaellen commented on #13919
I'm honestly not sure about this - but I'll look into it once we start on this section.

[2020-09-25 18:53] Samara-Strauss commented on #13923
@tressaellen I adjusted it in the first comment above to clarify when we'd show application status.

[2020-09-25 18:58] srmyers17 opened #14083 "Mobile API Design Doc: Push Notifications"

[2020-09-25 18:59] edmangimelli commented on #14003
PR merged
(deploy will happen Monday)

[2020-09-25 19:07] mdewey opened #14084 "[FE] Contribute not scrolling to Multiple Questions"
## Description
The built-in forms system does a jarring scroll when a user enters an answer to a list of questions. We have determined that to not quite fit our design and flow. We are proposing a configuration value to toggle the scroll on and off.

## Tasks
- Make the scrolling optional
- Create tests
- Add documentation
- Submit a PR to the platform
- have platform access the changes

## Accept

[2020-09-25 19:09] jenniferlee-dsva commented on #13135
So I checked this node in both prod and staging just to make sure I was looking at the latest.

A couple things:

When I added an optional info alert below the intro text, the preview did not display it.
Step 2 - Verify your identity - has a coronavirus alert enabled but the preview does not display it.

Info alerts are optional components that can be enabled in the CMS. They can appear in a few p

[2020-09-25 19:10] mdewey opened #14085 "[FE] Update Ranked questions verbage"
## User Story
As a user, I should see wording that makes sense to me so I can fill out the form effectively

## Related Documentation
 - [MVP: Visit Intro Initiative (Proof of Concept)](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/initiatives/visit-intro.md)
 - [latest mock](https://camo.githubusercontent.com/5d0723a31874bb68d

[2020-09-25 19:10] andaleliz commented on #12863
@jenniferlee-dsva is this ticket still needed?  I had been waiting to do work on this because I needed more details about what is possible with the descriptions - they're really erratic on our own site search, and I'm not sure if we can control that in the learning center.

I can continue to follow up in order to produce this mock-up if so.

[2020-09-25 19:10] mdewey commented on #13666
Resolution:

- Not customizing
- Rearranging wording
- going to submit fix for scrolling

[2020-09-25 19:11] #13666 closed

[2020-09-25 19:17] ricetj commented on #475
This is something that needs to be in the Q yes. Something the team needs to at the very least has an eye on for the future.

[2020-09-25 19:20] ricetj commented on #683
We can connect on this, but status is that product support now has the ability to grant repo access via vets.gov-write team. As for rolling this out to other teams, this hasn't happened and was going to be a part of the Sentry 10 (some of the teams) rollout. There is still questions around if there is an MOU that is needed for this to happen as well.

[2020-09-25 19:21] ricetj commented on #444
something that needs to be done as part of the infra recommit's migration.

[2020-09-25 19:21] ricetj commented on #745
This can be closed kept in mind for the DD migration.

[2020-09-25 19:22] bethpottsVADEPO commented on #14074
@johnhashva Let's use the meta description we already have:
Find out how you can get reimbursed for registration fees, admissions tests like the GRE, GMAT, or LSAT, and specialized tests if your job requires a license or certification. Learn what forms you'll need to submit when applying for this benefit.

Is the title tag good for you to have too?:
Get Paid Back For Test Fees | Veterans Affairs

[2020-09-25 19:24] kristenmcconnell commented on #13666
@mdewey
Wording updated in Zeplin. Use that when rearranging the wording. Let me know if there is another ticket that I should attach this comment to.

[2020-09-25 19:30] jenstrickland commented on #14077
![Screen Shot 2020-09-25 at 2 47 20 PM](https://user-images.githubusercontent.com/57469/94305171-c7997680-ff3e-11ea-81e1-faa7f03066e4.png)

### Current code
[code]

### Recommendation

* **Must** add role for the list and listitems; **why:** when CSS `list-style:none` is used, Safari needs the semantics added back

* The alt text **should** not simply repeat the label; **why:** it would be more he

[2020-09-25 19:36] tressaellen commented on #13923
Looks good to me!

[2020-09-25 19:48] erluti commented on #14017
Didn't want to lost track of this tech-debt, so I made a parallel ticket for be-tools, https://github.com/department-of-veterans-affairs/va.gov-team/issues/14053.

Went ahead and did the work:
Corresponding PRs:
https://github.com/department-of-veterans-affairs/vets-api/pull/4978
https://github.com/department-of-veterans-affairs/devops/pull/7657

[2020-09-25 19:50] jenstrickland opened #14086 "VSA dev intent: Learning center, MVP 1.1 - media_list_videos"
**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

This issue contains the VSA accessibility feedback for the Learning center, MVP 1.1 - media_list_videos

### Designs to consider

https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-

[2020-09-25 19:54] mshea0606 commented on #9548
@sanlouise thanks!

[2020-09-25 19:54] #9548 closed

[2020-09-25 19:54] #13225 closed

[2020-09-25 19:58] jenstrickland opened #14087 "VSA dev intent: Learning center, MVP 1.1 - process_list"
**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

This issue contains the VSA accessibility feedback for the Learning center, MVP 1.1 - process_list

### Screenshots

#### Desktop

![Screen Shot 2020-09-25 at 3 57 47 PM](https://user-images.githubusercontent.com/5

[2020-09-25 19:59] bmcgrady-ep commented on #13105
eBenefits KPI | Drilldown | Data Source | Go/No Go
------------ | ------------- | ------------- | -------------
Page views on Manage Dependents unauthenticated content | Page contains `/disability/add-remove-dependent`/ | BigQuery | ✔️ Go (in staging)
Successful application submissions  | event label = `disability-21-686c--submission-successful`  | BigQuery | ✔️ Go (in staging)
Number of auto-appr

[2020-09-25 20:01] kfrz commented on #14060
Projects are all created in Sentry 10.

[2020-09-25 20:02] lihanli commented on #14017
great, thanks for the help!

[2020-09-25 20:02] #14017 closed

[2020-09-25 20:04] massrb commented on #14051
No one I asked had any idea how to use betamocks for this particular problem, but using monteblank as a proxy I was able to
demonstrate how to get dummy data working for an endpoint in the health quest service:

https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/discovery/engineering/map-api-proxy.md

[2020-09-25 20:04] #12817 closed

[2020-09-25 20:09] mdewey commented on #13666
@kristenmcconnell  https://github.com/department-of-veterans-affairs/va.gov-team/issues/14085

[2020-09-25 20:10] bmcgrady-ep commented on #13102
Here is the 10203 DOMO Dashboard (WIP) - https://va-gov.domo.com/page/558555603.

Also, per [conversation with Amy Knox](https://github.com/department-of-veterans-affairs/va.gov-team/issues/13103#issuecomment-696981700), we need the COE (certificate of eligibility) data from the team in Buffalo to complete the Valid Submission KPI card.

[2020-09-25 20:11] kristenmcconnell commented on #14085
Wording updated in Zeplin. Use that when rearranging the wording.

[2020-09-25 20:15] tressaellen commented on #12873
@erikphansen looks good to me! Closing this ticket.

[2020-09-25 20:15] #12873 closed

[2020-09-25 20:18] tressaellen commented on #13224
This copy has been merged.

[2020-09-25 20:18] #13224 closed

[2020-09-25 20:20] lunascoop commented on #13753
Validated

[2020-09-25 20:20] #13753 closed

[2020-09-25 20:21] lunascoop commented on #13751
URL updated and validated

[2020-09-25 20:21] #13751 closed

[2020-09-25 20:22] lunascoop commented on #13754
Changes are live and validated. Closing ticket.

[2020-09-25 20:22] #13754 closed

[2020-09-25 20:27] erluti opened #14088 "review "rails_helper" in each module engine"
While working through missing requires in specs, it was discovered a lot of the modules are using `requires 'rails_helper'` but it's using the app's rails_helper, and not the ones in the engines.  This needs to be double checked and cleaned up.

[2020-09-25 20:29] lenaecb commented on #13051
@jbalboni - Has this been merged to staging? I see ATLAS update but not this update. But also I can't find the PR so couldn't tell if this was merged yet or not.

[2020-09-25 20:34] bmcgrady-ep commented on #14036
Hi @Samara-Strauss - The GA dashboards are updated and fixed. Let me know if you need anything else!

[2020-09-25 20:34] #14036 closed

[2020-09-25 20:35] #13506 closed

[2020-09-25 20:35] #13557 closed

[2020-09-25 20:40] amyknox opened #14089 "22-1995 Breadcrumb update"
Review the 22-1995 breadcrumb and url to make sure what was proposed during WBC is still the desired approach to modernize with the rest of the standards implemented on va.gov.   When a final determination is reached, alert @amyknox on the BAH team so modifications can be made to the form, if necessary.

URL
www.va.gov/education/change-gi-bill-benefits/request-change-form-22-1995

Breadcrumb
Home

[2020-09-25 20:40] andaleliz commented on #14077
https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/11497

[2020-09-25 20:41] ltrombley commented on #13591
Added Des Moines VA Mobile Clinic, need VAST #
Added Fort Dodge North VA Clinic, need VAST #

[2020-09-25 20:45] jbalboni commented on #13051
@lenaecb It should be on staging in 15-20 minutes, I just merged it. I did this ticket and the clinic based one in the same PR, so this one didn't have a direct link: https://github.com/department-of-veterans-affairs/vets-website/pull/14349

[2020-09-25 20:45] rroueche opened #14090 "Potential Deployment Process doc clarity updates"
### What is your documentation request, question, comment, or issue?
This is not urgent.

In this Deployment Process docs: (https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/engineering/deployment.md and https://department-of-veterans-affairs.github.io/veteran-facing-services-tools/getting-started/workflow/deploy/#full-deploy-of-vagov-client-app) there's a section

[2020-09-25 20:46] Samara-Strauss commented on #14036
Everything looks good now. Thank you!

[2020-09-25 20:51] bmcgrady-ep commented on #14044
@QaysarA - I would recommend a link like this: https://www.va.gov/claim-or-appeal-status/?utm_source=VANotify&utm_medium=email&utm_campaign=526EZ to fully build out the UTM parameters. The main UTM parameter that I am questioning a little bit is source. If the link is included in a newsletter email, then the source should be newsletter.

[2020-09-25 20:51] lenaecb opened #14091 "[Initiative] Integrating with new VAOS service v1"
This will house work we need to do to support upcoming VAOS v1 service

1. [ ] Request-related services

2. [ ] VA VistA-based appointments

3. [ ] CC appointments

4. [ ] Facilities page

[2020-09-25 20:52] #10840 closed

[2020-09-25 21:06] jenniferlee-dsva commented on #14024
Adding another form showing this error - to validate against when this is resolved.

**About VA Form VA40-10088 page:**
http://preview-prod.vfs.va.gov/preview?nodeId=5775

The FE is showing  **Form last updated:**` July 11, 2020`  but July 20, 2020 is the actual most recent form modified date. Screenshot:

![image.png](https://images.zenhubusercontent.com/5bb2975c143b4d2ee7a35ef6/24bf5baa-fa90-45b

[2020-09-25 21:15] lenaecb commented on #13051
My b, @jbalboni - I got too excited hahaha

[2020-09-25 21:17] lenaecb commented on #13163
Gothca, yea, looks like it needs a merge. Can you do the honors if there's nothing else to do here @grossb1 ?

[2020-09-25 21:21] jsev-io commented on #13880
**Requesting AWS Access**
User: Joe Niquette @joeniquette
cc: @Jeff-Hayter

[2020-09-25 21:23] mpelzsherman commented on #5473
Our download links should be handled by a common [template](https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/site/paragraphs/downloadable_file.drupal.liquid). This template looks for a string in the graphQL data, e.g. `fieldMedia.entity.image.alt`. Unfortunately, as far as I can tell, either that data isn't being populated in Drupal, or it's not being pulled out of Dr

[2020-09-25 21:31] mmiddaugh commented on #11764
<details>
<summary>Snapshots for for design review </summary>

![VA_Pittsburgh_Health_Care___Pittsburgh_VA_Medical_Center-University_Dr (3)](https://user-images.githubusercontent.com/55411834/94317647-f8c87580-ff43-11ea-9bad-6a863b595949.png)

---

![VA_Pittsburgh_Health_Care___Pittsburgh_VA_Medical_Center-University_Dr](https://user-images.githubusercontent.com/55411834/94317650-f9f9a280-ff43-11e

[2020-09-25 21:35] peggygannon commented on #13398
Wizard page
feedback is still a WIP... just posting what I have so far:

---------

Wizard page
1.	The header “Find out if this is the right form” doesn’t work for HLR, as (unlike EDU) it’s just 1 form
Please change header TO
**Is this the form I need?**
Update intro content below it TO:
Use this form if you disagree with VA’s decision on your claim and want to request that a senior reviewer take

[2020-09-25 21:44] Mottie commented on #13398
Hi Peggy! HLR is now available on staging 🎉

There is still some work being done on the wizard flow, which will be implemented once that has been finalized, but almost everything else is in place. The only thing missing is the mock "Contact Information" details.

A list of users is available here: https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/blob/master/Administrative/va

[2020-09-25 21:45] johnhashva commented on #14074
@bethpottsVADEPO  just added the meta description.  As for Title Tag -- little unclear to me which one is preferred.  I know using "Testing and Certification" as the title ensures those will be the keywords for the Best Bet.  Do you mind asking Danielle what's the typical approach for title?  From what I can tell, there's been a mix of titles.![Screen Shot 2020-09-25 at 5.42.28 PM.png](https://ima

[2020-09-25 22:00] mpelzsherman commented on #5473
Actually I may have a fix for this. I'll push up a PR shortly!

[2020-09-25 22:07] mpelzsherman commented on #13778
Pushed up a PR for #5473: https://github.com/department-of-veterans-affairs/vets-website/pull/14377

[2020-09-25 22:09] peggygannon commented on #12004
Hi, @sanlouise would this error message work for this scenario?

**We couldn't update your email address**
It looks like the email you entered isn’t valid. Please enter your email address again.

[2020-09-25 22:10] sanlouise commented on #12004
@peggygannon That works! Thank you so much! 😄

[2020-09-25 22:14] peggygannon commented on #13398
thank you @Mottie ! I will take a look.

[2020-09-25 22:33] jenstrickland commented on #13383
@bradl3yC

Is there a new url I should use? I went to `https://staging.va.gov/manage-va-debt/your-debt/` and it 404'd.

Also, was the fix to solely change the `id`s to make sure they are unique, or did it also address the e2e test issue that @1Copenut raised above? If the e2e tests include the axe checks in the CI/CD pipe this issue should have been caught in the dev process.

[2020-09-25 22:34] jenstrickland commented on #13546
@bradl3yC Is there a different url I should use? `https://staging.va.gov/manage-va-debt/your-debt/` returns a 404.

[2020-09-25 22:35] jenstrickland commented on #13545
@bradl3yC Is there a different url I should use? `https://staging.va.gov/manage-va-debt/your-debt/` returns a 404.

[2020-09-25 22:36] jenstrickland commented on #9860
To clarify, I'm not asking to incorporate the additional info link. I only raised that for awareness.

[2020-09-25 22:42] jenstrickland commented on #13963
@kelsonic — Sure, put some time on our calendars, please. Will the scope of the meeting be to review the responsive table component for the page or the entire About page?

@andaleliz Here is [documentation for keyboard navigation](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/teams/vsa/accessibility/learning-sessions/abc02-getting-started-with-keyboard-navigation-and-sc

[2020-09-25 22:44] jenstrickland commented on #14077
@andaleliz @MickinSahni I'm not sure the media_list_images work should begin in development until we have the mobile design documented, so that development can take a mobile-first approach and make sure to plan accordingly (such as not putting dimensions in the HTML and other styling). Welcome your thoughts!

[2020-09-25 22:51] kelsonic commented on #13963
@jenstrickland Perfect! I believe we could scope it to just the responsive table component for that template 🙂 I'll message you both early Monday to schedule a time, have a great weekend!

[2020-09-25 23:14] mlighdc commented on #13422
@psanders86 I know you are OOO on Monday (9/28). The screens should be ready to go. Can you let me know when the Product Guide will be available? I am sorry if I missed it if you sent it on Friday (9/25). Thanks.

[2020-09-25 23:59] andaleliz commented on #13963
The tables in the learning center should reflect what is shown of screens 1 and 2 (collapsable) in the prototype, unless that is out of scope for MVP 1.0 due to the LOE required to implement that.  I included screen 3 as a "if we **really** can't do this for 1.0, then this is better than nothing" option.

[2020-09-26 00:00] andaleliz commented on #13963
Thanks @jenstrickland for the keyboard navigation documentation.  I hope that will also help @kelsonic and @ncksllvn understand how to get people **_inside_** the additional info component, as folks will need to get into the table cells to access links.

[2020-09-26 20:33] jenstrickland commented on #9998
@MickinSahni @brianalloyd This PDF is still not compliant. Might you find out who the business partner is? I can have the VA 508 Office reach out to them to remediate.

[2020-09-27 00:31] #13519 closed

[2020-09-27 09:14] drorva commented on #13880
Approved

[2020-09-28 11:54] edmangimelli commented on #13952
Looked into this on the FE.
Appears to be a FE problem.![confirmed_prefill_is_being_sent_to_FE.png](https://images.zenhubusercontent.com/5ced95afb75fe77f45ddcf9d/eb81b016-361b-4dc6-a4d0-431c5e0baf6f)

[2020-09-28 11:57] sonntag-adam commented on #13371
Merged. Closing story.

[2020-09-28 11:57] #13371 closed

[2020-09-28 12:39] DanielleThierryUSDSVA opened #14093 "Back translation check of coronavirus FAQs"
## Issue Description
As part of our quality check of the potential for using the Google Translate widget to translate the coronavirus FAQs page from English to Spanish, we need to do back translation of the questions on the page (English > Spanish, then Spanish > English using translate.google.com) and check for inaccuracies.

---
## Tasks
- [x] Pull current FAQs into a spreadsheet (Danielle)
- [x

[2020-09-28 12:39] ndsprinkle commented on #13977
Just like Robin and I remembered, it was my PR but his commit that made this change. See [here](https://github.com/department-of-veterans-affairs/vets-website/pull/13116/commits/419002333e7bc818697765fd9d89c0f80cd19114) for the commit where Robin switched from using `autosuggest.uiSchema` to `AutosuggestField`. Not sure why this change was made, there aren't any obvious clues in either of our comm

[2020-09-28 12:46] #14039 closed

[2020-09-28 12:49] kevinmirc commented on #13094
Duplicate of https://github.com/department-of-veterans-affairs/va.gov-team/issues/11204

[2020-09-28 12:49] #13094 closed

[2020-09-28 12:50] jbritt1 opened #14094 "Update ATO Control SOPs (info, location, etc.)"
## Issue Description
Taylor and I have reviewed each of the controls and have them in a "ready for submission" state. We wanted to take another pass at the SOPs for each of the controls to ensure relevance, proper placement, etc. This is the ticket to track that body of work.

---
## Tasks
- [ ] Updated SOPs.

## Acceptance Criteria
- [ ] SOPs properly placed and contain proper information.
---
##

[2020-09-28 12:56] kevinmirc opened #14095 "10-10CG "Submit" button is enabled before form is signed"
## What happened?
The "Submit" button is enabled on the review page of the 10-10CG before all applicants have signed and certified.

When I click the "Submit" button while there invalid (or no) signatures, nothing happens. All signatures must still be valid before the click button responses to a click.

## Specs:
- Device: Macbook
- Browser: Chrome
- Test User _(if applicable)_: N/A

## Steps to R

[2020-09-28 12:56] DanielleThierryUSDSVA commented on #14093
Hi @RLHecht. This is the small task we talked about briefly via slack last week. I've completed pulling the FAQs into the spreadsheet and translating some of them (you'll see that some translations are blank - these are newly or soon to be updated questions). Hoping that you and @lunascoop can help to finish this effort.

What's needed is to translate & back translation those Qs that still need th

[2020-09-28 13:16] ksantiagomorgan6 commented on #13826
Front end pr: https://github.com/department-of-veterans-affairs/vets-website/pull/14380
backend pr: https://github.com/department-of-veterans-affairs/vets-api/pull/4981

[2020-09-28 13:19] marcynadeau opened #14096 "Staging: You need to have visited within the last 12 months message is incorrect"
## What's happening
This message populates several times in the UI and is incorrect.  I have found veterans with past appointments getting this message.
![Nacier_DSYes_ReqYes12m_modal.png](https://images.zenhubusercontent.com/5f2d82e4a65f7435058cfd75/f4b11f0d-1fe3-4246-a5f8-f3fc3164c850)

## Feedback
The message displays should really indicate that last visit is specific type of care.

## Steps to

[2020-09-28 13:34] mnorthuis commented on #13717
Sorry @amyknox I was out last week.  I am not sure if this is a known issue or not.

[2020-09-28 13:37] lunascoop commented on #13888
I have called the numbers listed on the linked page. Here are my notes:

- Combat call center, has changed its name to Vets Center Call Center (for trauma such as PTSD, etc.)
- There are two numbers listed to handle the Children of Women Vietnam Veterans (CWVV), the Foreign Medical Program (FMP) and the Spina Bifida Health Care Program. The first number, 1-877-345-8179, seems to be specifically fo

[2020-09-28 13:38] amyknox commented on #13717
Got it, @mnorthuis - I connected with Chris Valarida on VFS slack who's taking it on (per the design system & tools-fe tags added late last week).

[2020-09-28 13:41] mnorthuis commented on #13900
Breadcrumb updated in IA documentation per above: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/information-architecture/ia-reviews/cto-covid-trials.md

[2020-09-28 13:43] mnorthuis commented on #10688
You can close once you have validated that it is implemented correctly.  I always double check when I receive the notification that its closed. :-)

[2020-09-28 13:48] #13745 closed

[2020-09-28 13:49] joanneesteban commented on #14021
Removed from GA 360.

Confirmed no Domo access.

[2020-09-28 13:54] jbritt1 commented on #14021
All line items complete for this user, closing.

[2020-09-28 13:54] #14021 closed

[2020-09-28 13:55] massrb commented on #13145
What is a stop code ?

Hi @Shane Elliott, I understand that the stop code will be potentially associated with a questionnaire if not with a clinic. I was wondering what is a stop code ? I got this definition by searching the web for "veterans affairs stop codes" though the name sounds like something could be associated with something being stopped but maybe not ?

Shane:

[2020-09-28 13:57] johnhashva opened #14097 "Project Intake Request: Veteran Online Debt Access (VODA)"
## Background

Details from Chris Johnston (DEPO) via a conversation with Thomas Corley, project manager in corporate portfolio where financial systems lives.  The concept: Moving some of the debt letter work from the Financial Management product line to DEPO, with this idea in mind:

- Build a Veteran Online Debt Access (VODA), which would provide additional functionality in addition to the Debt

[2020-09-28 14:01] jbritt1 opened #14098 "Offboarding of [Glen Holcomb]"
# Instructions
Fill out name of individual and *Description* section below.

# Description
- Please provide the name of the individual needing offboarded.

- Please provide the name of their team, their role on that team, expected last day, and the name of the company they work for.

- Please provide any type of access they may have and their GitHub username.

## AC
 - [x] Remove global/config.yml

[2020-09-28 14:05] jbritt1 commented on #14098
https://dsva.slack.com/archives/C03FECE9K/p1601301913008300

[2020-09-28 14:05] lenaecb opened #14099 "Discovery - Integrated sites & VAOS (FE app + SM)"
We continue to get reports that integrated sites are getting requests to the 'wrong' facility.

FE app previously worked on a bug that fixed missing integrated facilities, but we have reports from Buffalo and Miami that those 'parent' sites are still incorrectly receiving requests that should be going to 5 digit VistA sites (as part of integrated sites).

This needs full workflow investigation to

[2020-09-28 14:06] jbritt1 commented on #14098
PagerDuty not applicable for this user

[2020-09-28 14:07] joanneesteban commented on #14098
Confirmed no GA 360 or Domo accounts.

[2020-09-28 14:10] bsmartin-ep commented on #14098
GA 360 account for Glen Holcomb was just removed.

[2020-09-28 14:13] andaleliz commented on #13825
@1Copenut do you have anything to add before I close this out?

[2020-09-28 14:23] camerontesterman opened #14100 "FSR Submission Endpoint"
## Issue Description
Create endpoint and associated business logic to handle FSR submissions.

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to an Epic** (what bod

[2020-09-28 14:24] jbritt1 commented on #14098
Seems to already be removed from GitHub org:

![image](https://user-images.githubusercontent.com/56260532/94444866-c5206200-0174-11eb-90f3-bec1819a87bd.png)

[2020-09-28 14:25] #10368 closed

[2020-09-28 14:26] sonntag-adam commented on #13826
![Screen Shot 2020-09-28 at 10.25.58 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/a912031e-d4e2-4465-aee4-fe4c3564b4d5)

[2020-09-28 14:26] annaswims commented on #13852
I sent an email with ~3k email addresses to Paul

[2020-09-28 14:36] kevinstachura commented on #14079
Dear Veteran or Representative,

We’re writing to you today because our records indicate that you started a disability claim ([VA Form 21-526EZ](https://www.va.gov/disability/how-to-file-claim/)) on the va.gov website, but did not submit. We have since made some technical enhancements to this form which should allow you to submit online. If you have not yet submitted your disability claim, we enco

[2020-09-28 14:44] batemapf commented on #13900
Updates made in [vets-website](https://github.com/department-of-veterans-affairs/vets-website/pull/14357) and [vets-json-schema](https://github.com/department-of-veterans-affairs/vets-json-schema/pull/520):

- [x] Re-order health history so "Compromised immune system" is after "Cancer"
- [x] Add "Carpool or vanpool" to work transportation options
- [x] Add "Non-binary" to gender options

To get ev

[2020-09-28 14:45] desireeturner opened #14101 "STEM: 10203 KPI Dashboard"
- [x] Finalize KPIs with DEPO
- [x] Share Dashboard link with EDU

[2020-09-28 14:48] desireeturner opened #14102 "School Ratings - Test Data Identification"
- [x] Define schools, ratings for testing efforts
- [x] Work with Devs to create data

[2020-09-28 14:54] hughes-dustin commented on #13761
PR: https://github.com/department-of-veterans-affairs/vets-website/pull/14382
branch: bah-13761

[2020-09-28 14:55] #10573 closed

[2020-09-28 15:04] mnorthuis commented on #14071
@johnhashva This is a best bet change, are you able to make this update?

[2020-09-28 15:11] jbritt1 commented on #14098
All access revoked, just awaiting confirmation for Slack from the Slack administrators team.

[2020-09-28 15:12] johnhashva commented on #14071
@mnorthuis  -- Already made (on Friday) via this ticket: https://github.com/department-of-veterans-affairs/va.gov-team/issues/14074

[2020-09-28 15:14] jenniferlee-dsva commented on #5549
I let Mikki [know here](https://dsva.slack.com/archives/CUB5X5MGF/p1601305900010700) and uploaded updated [spreadsheet **(9/28)** to product repo.](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/find-va-forms-redesign/form-detail-landing-pages/redirects)

[2020-09-28 15:14] artsymartha68 opened #14103 "Full Accessibility & 508 Office Audit: Vaccine Trials Registry"
## Steps to complete the Full Accessibility & 508 Audit:
- [ ] Product Manager: create issue and fill in feature name in the title and other bolded information appropriately
- [ ] Practice area reviewers create sub-issues attached to this one with feedback for your team on *feature name*
- [ ] **Requesting team** completes attached feedback tickets based on definition of done included in each prac

[2020-09-28 15:15] lealester commented on #13315
moving into validate (9/28/20)

[2020-09-28 15:16] jbritt1 commented on #14098
All line items complete for this user.

[2020-09-28 15:16] #14098 closed

[2020-09-28 15:16] jhonnyoddball commented on #13113
## Issue Discovery

### Facts
- This is coming directly from GraphQL
- Verified that it is working for other transformers but not for some
- Problem seems to be field_office = null. This is only caused when there is a circular reference

### Tested transformer `health_care_region_detail_page`
**transformer**: src/site/stages/build/process-cms-exports/transformers/node-health_care_region_detail_pag

[2020-09-28 15:26] andaleliz opened #14104 "Design intent Collaboration - Public Websites [Wizard migration effort, alerts in wizards]"
## Context

Requesting a review for some changes I'm proposing to improve the alert UX in the wizards that route users to various forms.  Hoping this can be done async since this is a small part of the wizard migration effort, and we're not an an active collaboration cycle with this work.

Currently, these forms have a variety of alerts contained with in them. Many use our alert component, which i

[2020-09-28 15:27] lenaecb opened #14105 "Provide clearer direction + context for homepage scheduling button"
As a Veteran who wants to schedule an appointment at the VA, I want to clearly understand that when I start the scheduling flow it is for an appointment "request" for either VA or CC.

**In Research:** We received scores of feedback that it is not clear that a Veteran is making a 'request' when they are going through the scheduling flow.

## Acceptance criteria:
- Update button from "Schedule an a

[2020-09-28 15:27] kevinmirc opened #14106 "Form 10-10CG: A signature shows up for a Secondary Caregiver that I removed"
## What happened?
On the online 10-10CG, a signature shows up for a Secondary Caregiver that I removed while filling in the form.

## Specs:
- Device: Macbook
- Browser: Chrome
- Test User _(if applicable)_: N/A

## Steps to Reproduce
- URL: https://staging.va.gov/family-member-benefits/apply-for-caregiver-assistance-form-10-10cg
- Test User _(if applicable)_: N/A

## Desired behavior
If I remove

[2020-09-28 15:36] jhonnyoddball commented on #13113
### Issue Tracing

1. The `window.sidebarNav = sidebarData` line can be found - [here](https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/site/navigation/facility_sidebar_nav.drupal.liquid#L14).
2. `sidebarData` is defined in the parent template's include - [here](https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/site/layouts/health_care_reg

[2020-09-28 15:38] lenaecb opened #14108 "Add supporting descriptions to 'type of care' labels + direct user to 'call facility' if not seeing type of care"
As a veteran starting the scheduling flow, I want to clearly understand what is involved/covered by each type of care label so I can make an informed decision.

![14108-type-of-care-labels-v2-pr.png](https://images.zenhubusercontent.com/5f7ce3163782a585b910eaf3/bb499627-f741-4362-b461-d4dde0b43ea3)

## Acceptance criteria:
- Add helper/support text to care type labels so Veterans are clearer on wh

[2020-09-28 15:40] bessgreen commented on #14015
Sounds good @bridgethapner - I've added that to the VCL story (AC # 6) in [#14016](https://app.zenhub.com/workspaces/va-mobile-app-5f205eac3155a2000f422ecb/issues/department-of-veterans-affairs/va.gov-team/14016)

[2020-09-28 15:40] annaswims commented on #9443
# 02480985
There's a solid chance that 02480985 was fixed by https://github.com/department-of-veterans-affairs/va.gov-team/issues/13452

However, we still see that behavior many times a day dut to a variety of validation errors http://sentry.vfs.va.gov/vets-gov/website-production/issues/12188/events/?query=url%3A%22https%3A%2F%2Fwww.va.gov%2Fdisability%2Ffile-disability-claim-form-21-526ez%2Frevie

[2020-09-28 15:42] bessgreen commented on #14016
Hi @bridgethapner, do you mind double-checking the AC for this story? Thanks!

[2020-09-28 15:44] mmiddaugh commented on #14050
[Post Mortem](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/facilities/facility-locator/post-mortem/mobile-map-not-rendering.md) documentation

[2020-09-28 15:44] #14050 closed

[2020-09-28 15:45] CrystabelReiter commented on #14104
Scheduled feedback for EOD 9/30. Thank you!

[2020-09-28 15:46] DanielleThierryUSDSVA commented on #13831
Hi @Samara-Strauss. Correct on the bold - I've fixed above, thanks!

For 2 facilities, I've added the treatment that I believe we're going with and asked our PW engineers to confirm. Will update here with final confirmation. Thanks!

[2020-09-28 15:47] ncksllvn commented on #14008
@kelsonic Looks like your PR is merged - can we move this to validate?

Also, on that link you posted, dev tools does show the JSON structure used for the page and yeah that `fieldAlertSingle` is null

![image.png](https://images.zenhubusercontent.com/59cb9de1b0222d5de47953d8/aa7e36e0-9cb3-43b0-aab3-c5e3bdda6bd0)

[2020-09-28 15:48] mmiddaugh commented on #13026
Meg will be DEPO POC during Dave's vacation, if needed.

[2020-09-28 15:50] lenaecb opened #14109 "Audit all in flow alerts (eligibility, error, recency) & make sure accurate/actionable"
Given the various logic a user has to pass through to make an appointment - either request or self-schedule) - every alert needs to appropriately account for the proper context and always offer a 'next step' for the veteran that is getting them closer to getting the appointment they are trying to book.

## Acceptance criteria:
- audit existing alerts throughout the flow
- identify areas for improv

[2020-09-28 15:50] rileyorr commented on #13559
Good morning, @jenstrickland! I brought this feedback to my team and we're in agreement that the date should remain visually prominent, so we're not going to change the date into paragraph styling at this time. We'll revisit this if through research we uncover that folks are experiencing cognitive difficulty understanding the page's hierarchy. Please let either me or @leahkeeler know if you have a

[2020-09-28 15:52] tskinn commented on #14076
@Jeff-Hayter

[2020-09-28 15:54] bessgreen commented on #13902
Thanks @bridgethapner - from a design standpoint, does adding click-to-call on the Direct Deposit screen just mean that we're stylizing the two numbers as hyperlinks? Or will the UI change so that the two numbers are stacked vertically with a blue phone icon, similar to some of the [other](https://adhoc.invisionapp.com/share/YUYRT9BAPSB#/screens/432493860) click-to-call pages?

[2020-09-28 15:55] lenaecb opened #14110 "Calendar iteration/updates"
We noticed during testing that Veterans got tripped up a few times on the following design items relating to calendar selection:
- Veterans who were looking to schedule an appointment beyond the 2 months shown almost _never_ noticed the 'Next' button to show more months
- Veterans were not clear as to what constituted as 'AM' hours - is that 8am-12pm? 9am-12pm? Other hours?

## Acceptance criteria

[2020-09-28 15:55] joanneesteban commented on #12948
Thanks, everyone! Moving to backlog on VSP.

[2020-09-28 15:56] MickinSahni commented on #14077
Hi! Any work we did on 1.1 capabilities (e.g. Images, Videos, Checklist) was around laying the foundation to iterate on.

We have mobile design work on 1.1 in upcoming sprints after which we'll return to build considerations e.g. dev intent for 1.1 items.

We're focused right now on building 1.0 of the LC, which images are **not** part of.

[2020-09-28 15:58] lealester commented on #13844
cloning from Montana

[2020-09-28 15:58] emilygoodrich5623 commented on #13581
@Jeff-Hayter  - pinging for attention. Laura is blocked until she has aws access. Let me know if I can provide any additional information. Thank you. Emily

[2020-09-28 16:01] lenaecb opened #14111 "Slight tweak to VAOS footer"
We have received feedback from the help desk that Veterans are calling them to get help with their VA appointment. The help desk is only available to triage issues with the app itself, not specific appointment issues.

### Acceptance Criteria:
- all phone numbers should be hyperlinked.
- update footer to following:

-----
### Context
We made an update to the static scheduling page that we should c

[2020-09-28 16:07] jenniferlee-dsva opened #14112 "[Discovery] Add a 'sort by form last updated' function on modern forms search"
## Add a 'sort by form last updated' function on modern forms search

**User story:** As an external user of VA forms - such as a state Veterans benefit agency or a Veterans claims agent service - I need to access the full list of VA forms by the most recent form updated date.

Today, by doing a null search, users are able to get the full list of forms. However, users are not able to view the form

[2020-09-28 16:10] komaly15 opened #14113 "Add font files"

[2020-09-28 16:12] jenniferlee-dsva commented on #12535
FYSA - If the disability and education wizards work is blocked, we should separate out the health care box update and work on that separately.

[2020-09-28 16:13] emilygoodrich5623 commented on #13241
@Jeff-Hayter - re-pinging for attention - thank you

[2020-09-28 16:18] MickinSahni opened #14114 "Learning Center Articles List - MVP 1.0"
## High Level User Story/ies
As a Veteran, I need to view LC articles so I can find more information about a benefit or service I'm interested in.

**In scope**
- **Ranking**: alphabetical
  - [Reference section](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/content/tier-2-content-IA-and-design/learning-center-mvp/view-all-articles-in-X-category-landing-pg-requ

[2020-09-28 16:18] jhouse-solvd opened #14115 "Follow up with ?? to enforce better protocol around onboarding"
There exists a good template for offboarding requests, but we want to be sure that those requests are submitted in a timely fashion. There should not be a long delay between an employee or contractor leaving and their access being properly modified or revoked.

[2020-09-28 16:23] tskinn commented on #14076
@evelez-va you should be able to access the socks proxy now. Reach out in slack if you have any issues.

[2020-09-28 16:24] tskinn commented on #13880
I've given Joe his access credentials for AWS

[2020-09-28 16:24] #13880 closed

[2020-09-28 16:24] cvalarida opened #14116 "Front end applications fail to deploy when Drupal is in maintenance mode"
## Issue Description
When deploying (or building?) front end applications, if the CMS is in maintenance mode, the application deploy (/build) will fail. The CMS enters maintenance mode once every weekday when it's deployed. I believe this lasts for 10 - 15 minutes. (My memory is very fuzzy on that, though.)

This tight coupling between the two deployments means that application teams cannot deploy

[2020-09-28 16:27] annaswims commented on #13205
The file limit is being increased to 50mb https://github.com/department-of-veterans-affairs/va.gov-team/issues/13178

[2020-09-28 16:29] ncksllvn commented on #12535
@jenniferlee-dsva I updated the issue description to use a task list so we can do the health care update without a separate issue. I haven't been following the wizard migrations very well so I will likely be dependent on other folks to let us know when we are unblocked for the other two

[2020-09-28 16:29] jenstrickland commented on #14077
Apologies, I'm not sure what items I should provide dev intent feedback on.

[2020-09-28 16:31] annaswims commented on #11865
yes, still a lot of file upload errors

http://sentry.vfs.va.gov/vets-gov/platform-api-production/issues/120661/activity/?query=is%3Aunresolved%20assigned%3Ame

[2020-09-28 16:37] massrb commented on #11669
Added documentation and acceptance criteria

https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/discovery/engineering/README.md#lighthouse-team-is-working-on-a-solution

[2020-09-28 16:37] #11669 closed

[2020-09-28 16:37] annaswims commented on #9970
I'd suspect that [these backend errors](http://sentry.vfs.va.gov/vets-gov/platform-api-production/issues/120661/) are als0 related.

We try to send empty files to EVSS and get an error back.
`[{"key"=>"File Upload", "text"=>"Invalid file size:0", "severity"=>"ERROR"}]`

[2020-09-28 16:40] tressaellen commented on #11890
@jenstrickland - this is ready to be validated

[2020-09-28 16:43] pjhill opened #14117 "Review Engineering and QA documentation for Unit Testing overlap"
Work with Engineering team to deconflict, synchronize, and rewrite revised documentation for Unit Testing on VSP

Acceptance Criteria
- [x] Extract unique information from QA unit testing documentation
- [x] Extract unique information from Engineering unit testing documentation
- [x] Merge unique information into a coherent new document for unit testing
- [x] Engineering is set up to own the docum

[2020-09-28 16:43] amyknox opened #14118 "Analytics Support for VA.gov efforts"
# Google Analytics Implementation or QA Request

## What this form is for

<summary>Adding VA.gov functionality launch dates to the GA annotation tray</summary>

## Description
- Is this request for Google Analytics implementation or QA?
    - **Implementation / Annotation**

- Who is this request for?
    - **Booz Allen team.  Contact Amy Knox: knox_amy@bah.com**

- What team/project is this work

[2020-09-28 16:43] jenniferlee-dsva opened #14119 "Add a link to the forms API page on the modern forms search "More information" box"
## Add a link to the forms API page on the modern forms search "More information" box

**User story:** As an external organization-user of VA forms data (such as the New Jersey state veteran agency and other state agencies), I want an easy automated way of accessing the latest VA forms.

1. On the **Find a VA form** page https://www.va.gov/find-forms/ - add a link and teaser text to the forms API

[2020-09-28 16:45] stephenBarrs commented on #13833
Initial FHIR Mapping spreadsheet: https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/health-care/questionnaire/data

I am not sure if we will need to include all elements on this spreadsheet. If VCM is expecting that all of these fields have been populated with data then we might have to.  Get Care FHIR mapping UI requires these fields, but FHIR does not.

@abuckley

[2020-09-28 16:45] tlei123 commented on #13384
@mmiddaugh @brangi @mpelzsherman , thanks so much for your proactive efforts in improving test-coverage!

My feedback is ready for you in #13779 .  Feel free to schedule a Zoom meeting with me to discuss further.

Since this was the 1st QA e2e-test review, the feedback is comprehensive, but I've stratified it to facilitate easier scoping/prioritization.  Please don't be discouraged, it's given in

[2020-09-28 16:46] jenniferlee-dsva commented on #14119
@DanielleThierryUSDSVA @RLHecht - feel free to propose text updates. I used LH's original draft text, added a title, and made it a bit shorter, but any plain language improvement will be appreciated.

This ticket is part of the Post-launch search epic, so ETA is dependent on when we complete form detail pages launch.

[2020-09-28 16:47] tskinn commented on #13956
@acrollet you should be able to access the socks proxy now. Reach out in slack if you have any issues.

[2020-09-28 16:47] #13956 closed

[2020-09-28 16:48] #13584 closed

[2020-09-28 16:48] mmiddaugh commented on #13101
Since this is consistent with the implementation across VA.gov, no objection! Thank you

[2020-09-28 16:49] jenniferlee-dsva commented on #14119
Actually - this is content-only, so it can actually be done anytime you're able to fit this in.  At the latest, it should be done **no later than** when the other post-launch search updates are being made.

[2020-09-28 16:52] ncksllvn commented on #12535
I have a PR open to make this change @jenniferlee-dsva -

![image](https://user-images.githubusercontent.com/1915775/94462368-6b766280-0189-11eb-94d7-d6e973a620d8.png)

Look okay for merge?

[2020-09-28 16:59] luke-gcio commented on #12792
Reopening - we will wrap up the solution Nick found in sprint 31.

[2020-09-28 17:04] annaswims commented on #11865
reopened https://github.com/department-of-veterans-affairs/va.gov-team/issues/13293

[2020-09-28 17:04] annaswims commented on #13293
We are still seeing empty files.  I suspect there is more to this issue http://sentry.vfs.va.gov/vets-gov/platform-api-production/issues/120661/

[2020-09-28 17:06] annaswims commented on #9970
possibly related to https://github.com/department-of-veterans-affairs/va.gov-team/issues/13293

[2020-09-28 17:06] annaswims commented on #13293
check out https://github.com/department-of-veterans-affairs/va.gov-team/issues/9970

[2020-09-28 17:08] christine-dillman commented on #6525
All of this info should be in test rails at this time.  These test cases should be ran again after outbound is at 100%.

[2020-09-28 17:08] kelsonic commented on #14008
Yupp! Just merged the PR this morning 🙂 Moving to validate!

[2020-09-28 17:09] ericbuckley commented on #6525
end to end testrails cases https://dsvavsp.testrail.io/index.php?/suites/view/30&group_by=cases:section_id&group_order=asc

[2020-09-28 17:11] bessgreen commented on #13907
@bridgethapner Thanks! Regarding the character limits - will this be communicated to the user, or will we just prevent them from entering a character once they've reached the limit?

[2020-09-28 17:12] kelsonic commented on #13883
Since we've discovered this is doable with GraphQL, can we close this?

[2020-09-28 17:14] kelsonic commented on #10768
Just confirming, are the redirects in the ticket description ready for implementation? 🙂

[2020-09-28 17:15] kelsonic commented on #13347
We have a meeting to discuss scalable implementation strategies tomorrow morning at 8:30am MST, will post outcomes here! 🙂

[2020-09-28 17:17] kelsonic commented on #5549
Did we mean to close this ticket? 🙂 The redirects have not been implemented as of yet

[2020-09-28 17:25] ndsprinkle commented on #13293
And it is 100% the front end sending empty files to the back end? And not some issue where the back end is dropping them? I see the network request failed ticket you linked. I guess that could potentially be causing issues, but I'd have to find some way to test that and see if it still lets users continue with the form even when failing.

[2020-09-28 17:26] desireeturner opened #14120 "School Ratings: VET TEC UI Follow-up"
- [x] Refine 2-3 concepts
- [x] Discuss options w UX team
- [x] Update / refine

[2020-09-28 17:27] desireeturner opened #14121 "School Ratings: VET TEC UI Review - B.A./Dev"
- [x] Review with BA/Dev Lead
- [x] Update prototype as necessary

[2020-09-28 17:27] kelsonic commented on #13135
The `optional alert` (called `fieldAlertSingle` from drupal) after the intro block is present in the `step-by-step` template, you can see that in the code [here](https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/site/layouts/step_by_step.drupal.liquid#L28). If it's not working, it's likely that the CMS isn't sending it over to the FE.

The alerts within the steps are i

[2020-09-28 17:28] desireeturner opened #14122 "School Ratings: Prototype Review - EDU"
- [ ] Review VET TEC prototype updates with EDU  (if additional documentation required for EDU, pull in story to support)

[2020-09-28 17:28] kfrz opened #14123 "Add and coordinate with initial VFS Sentry 10 Admin Users"
## Background

As part of Sentry 10 rollout, we will want to "seed" the VFS/VSA teams with their respective admin users so they can modify project settings to allow their team members to be assigned to projects.

## Tasks

For each team enumerated below, we'll need to identify and assign a team admin in Sentry 10 (typically the PM):
- [x] #vfs-authenticated-experience
- [ ] #vfs-benefits-memorials

[2020-09-28 17:29] kelsonic commented on #10768
Confirmed that it's ready to be worked on by @lunascoop, will send up a PR for this shortly but won't merge until 9/30!

[2020-09-28 17:31] MickinSahni commented on #5549
Yeah that was my same thought. This captures our work on the redirects

[2020-09-28 17:33] srmyers17 commented on #13346
- User endpoint is done
- Address design is done
- Discovery design for all endpoints is in progress

[2020-09-28 17:34] srmyers17 commented on #13872
- still in progress

[2020-09-28 17:34] Mottie opened #14124 "[Development] Update HLR contact prefill"
## Description

Update Higher-Level Review prefill display of contact information. The shape of the prefill data has changed and needs to be adjusted.

Design: https://vsateams.invisionapp.com/share/W5U21BDFTQK#/screens/386172038

## Acceptance Criteria

- [ ] User's last 4 SSN and/or VA file number, DOB and gender displayed on "Veteran's details" page
- [ ] User's phone, email and mailing address

[2020-09-28 17:34] annaswims commented on #13293
I'll re-check. When I last looked at files (sept 2) https://github.com/department-of-veterans-affairs/va.gov-team/issues/10427#issuecomment-685936135. The back end had stored an empty file in S3 that later got passed to EVSS.

[2020-09-28 17:36] kfrz opened #14125 "Verify connectivity between environments and components within VPC"
## Background

As part of preparing the Sentry 10 rollout, we should test and verify that all environments and components that need to connect to each other are able to do so.

## Tasks

Verify that traffic is flowing between the following components and Sentry 10 in `vetsgov-utility`

- `vagov-prod` `revproxy`
- `vagov-staging` `revproxy`
- `vagov-dev` `revproxy`

[2020-09-28 17:37] srmyers17 commented on #13474
@jjulian to post about headers in VFS FE channel

[2020-09-28 17:38] erikphansen commented on #13347
Can I be a fly on the wall at that meeting?

[2020-09-28 17:38] mnorthuis commented on #5549
@MickinSahni @lunascoop @jenniferlee-dsva  Let's use the steps to complete in the original description.

Once you have the original list in the ticket updated, please assign back to me to be vetted and documented.

[2020-09-28 17:39] srmyers17 commented on #13457
good portion of implementation set up; Jayson syncing with Alastair before wrapping it up.

[2020-09-28 17:39] steve-gov commented on #12879
Looked into it, no good path forward. Will be integrating with VR&E's custom CMS API instead.

[2020-09-28 17:39] #12879 closed

[2020-09-28 17:40] DanielleThierryUSDSVA commented on #13347
Absolutely, @erikphansen! I'll add you to the invite.

[2020-09-28 17:40] srmyers17 commented on #13782
- Login credentials for DS Logon + ID.me
- Documenting all the endpoints in API documentation
- Mostly done documenting the LOA 1 - LOA 3 permutations
- Need to determine GFE acesss

[2020-09-28 17:43] dneel-bah opened #14126 "EDU: Validated user enhancements"
## Product Outline
[Link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/product-management/product-outline-template.md)

## High Level User Story/ies
As a _____, I need _____ so I can _____.

## Hypothesis or Bet
**If** _we make this change_ **then** _we expect this to happen_.

## OKR
_Which Objective / Key Result does this epic push forward?_

## Definition o

[2020-09-28 17:43] srmyers17 commented on #13873
- core styling but not the details, that will require Inspect
- not able to get into google drive - Sophie to f/u

[2020-09-28 17:44] patrickvinograd commented on #4868
Closing this one out.

The identity team gave the fraud detection team access to cloudwatch and mechanisms to do the needed queries via Athena. They seem to have what they need.

Additionally once we are 100% on SSOe login they should be able to derive all the info they need from IAM Splunk logs.

[2020-09-28 17:44] #4868 closed

[2020-09-28 17:44] lunascoop commented on #5549
@mnorthuis I have updated the URLs in the original list.

[2020-09-28 17:44] srmyers17 commented on #14072
- looking into web views

[2020-09-28 17:45] desireeturner opened #14127 "CT Redesign: Analytics Investigation"
- [x] Review current CT stats
- [x] Document findings
- [x] Review w UX team; UXBA

[2020-09-28 17:46] desireeturner opened #14128 "CT Redesign: VSP Analytics Support"
- [x] Collect analytics questions from UXBA team
- [x] Consolidate & share with VSP
- [ ] Schedule mtg w VSP Analytics team to explore

[2020-09-28 17:46] bessgreen opened #14129 "Convert timezones based on device location"
### User story
As a Veteran, I want any times that are referenced in the 'Need help?' sections to reflect the time zone that I'm currently in.

### Acceptance Criteria

1. Convert times and timezones so they reflect the location of the user's mobile device. This occurs in the following pages:
     - [Direct deposit](https://adhoc.invisionapp.com/share/YUYRT9BAPSB#/screens/432050367)
     - [Milita

[2020-09-28 17:47] desireeturner opened #14130 "CT Redesign: Feature Exploration"
- [x] Review features prioritized at PI Planning with BAH team
- [ ] Document potential high-level functionality for each
- [ ] Identify unknowns / areas for further investigation

[2020-09-28 17:48] desireeturner opened #14131 "CT Redesign: Stakeholder Research Workshop ( Interview Prep)"
- [x] Define who we want to interview for this effort
- [x] Establish goals for conversation(s)
- [x] Identify themes for conversations (discussion guide building blocks)

[2020-09-28 17:49] desireeturner opened #14132 "CT Redesign: Stakeholder Research plan"
- [x] Draft initial research plan
- [x] Review w UX Team
- [x] Update based on feedback

[2020-09-28 17:49] bessgreen opened #14133 "Authentication setup"
### User story
As a Veteran, I can log in to the app using my ID.me, MHV, or DS Logon credentials on the va.gov site.

### Acceptance Criteria

1. Implement the authentication flow to get refresh tokens, access tokens, and revoke

[2020-09-28 17:50] desireeturner opened #14134 "CT Redesign: Stakeholder Interview Discussion Guide"
- [x] Create interview discussion guide
- [x] Review with UX team
- [x] Update based on feedback

[2020-09-28 17:51] desireeturner opened #14135 "CT Redesign: User Research Workshop (Interview Prep)"
- [ ] Define who we want to interview for this effort
- [ ] Establish goals for conversation(s)
- [ ] Identify themes for conversations (discussion guide building blocks)

[2020-09-28 17:52] desireeturner opened #14136 "CT Redesign: User Research plan"
Draft initial research plan
Review w UX Team
Update based on feedback

[2020-09-28 17:54] mpelzsherman commented on #8964
@jenstrickland - we are already putting an `aria-current="page"` attribute on the current link. However, when I select the currently selected link with a screen reader, I don't hear anything different. Can you please update the AC to indicate what we are supposed to be listening for, and if you have any suggestions for what to change in the code, please let us know, thanks.

![VA_Pittsburgh_Health

[2020-09-28 17:55] #11924 closed

[2020-09-28 17:57] kfrz opened #14137 "Sentry 10 `vagov-sandbox` Data draft PR ready"
## Description

Preparing for the official rollout of Sentry 10, we need to have draft PRs ready to merge that point `vagov-sandbox` data to Sentry 10 instead of Sentry 9 configured for the following projects:

- vets-website
- vets-api

## Definition of done
- [ ] draft pr to point `vagov-sandbox` data from vets-website is created and approved
- [ ] draft pr to point `vagov-sandbox` data from vet

[2020-09-28 17:58] mnorthuis commented on #14071
Funny, didn't realize Beth had created the same ticket...closing as duplicate!  Thank you!

[2020-09-28 17:58] #14071 closed

[2020-09-28 18:08] jenniferlee-dsva opened #14138 "Update forms and publications link in the va.gov search page right rail"
## Update forms and publications link in the va.gov search page right rail

Currently the right rail on site search result pages point to this legacy forms search:
https://www.index.va.gov/search/va/va_adv_search.jsp?SQ=www.va.gov/vaforms,www.va.gov/vapubs,www.va.gov/vhapublications,www.vba.va.gov/pubs/forms

Point the link to the modern search with updated link text - breaking out to 2 diff links

[2020-09-28 18:15] jhouse-solvd commented on #683
@ricetj or @gunsch - Do we know if all of the teams in GitHub were already created?

Is there a definitive list of what those should be, etc? Asking because we are wanting to understand if this phase/task of the wider project can be closed...

If not, if you could let me know what is the next step, that would be awesome. BE tools is looking to leverage GH teams for access to Sentry 10, during Q4,

[2020-09-28 18:17] massrb commented on #13145
Added diagram: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/discovery/engineering/vetext-meeting-sept18.md#vets-apivetext-flow

[2020-09-28 18:19] jenstrickland commented on #13545
Validated! 🎉

[2020-09-28 18:19] #13545 closed

[2020-09-28 18:20] #13546 closed

[2020-09-28 18:20] jenstrickland commented on #13546
Validated 🎉

[2020-09-28 18:21] jenstrickland commented on #13383
Validated 🎉

[2020-09-28 18:21] #13383 closed

[2020-09-28 18:24] mjlumetta opened #14139 "Access for Mike Lumetta"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Add a comment @department-of-veterans-affairs/vsp-operations to ping the operations team
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please

[2020-09-28 18:25] mjlumetta commented on #14139
requesting additional AWS permissions from @department-of-veterans-affairs/vsp-operations. thank you!!

[2020-09-28 18:25] erluti opened #14140 "missing test coverage"
found that these classes have no corresponding tests:

AccessSatisfactionClient
AccessWaitTimeClient
BetaSwitch
BackendServices

[2020-09-28 18:27] erluti opened #14141 "SM::Client review specs"
The specs for `SM::Client` are here in spec/lib/sm/client, but not structured typically a class.  These should be reviewed and a plan made for restructuring them

[2020-09-28 18:28] jholton commented on #13813
@ericbuckley Can you help me out with a couple of definitions?
"saml request id" - Is this the `RelayState`'s `originating_request_id`?
"saml request query params" - What are these?

[2020-09-28 18:32] annaswims commented on #13293
[This sentry issue](http://sentry.vfs.va.gov/vets-gov/platform-api-production/issues/120661/events/7746307/) connects to [this 0B file in s3](https://console.amazonaws-us-gov.com/s3/buckets/dsva-vetsgov-prod-evss/evss_claim_documents/f29abfad01e147bdbf747846bdac665d/6045aa0f-6979-449a-9e7f-b3848530a495/?region=us-gov-west-1&tab=overview) which is from [this api request](https://console.amazonaws-u

[2020-09-28 18:34] #11274 closed

[2020-09-28 18:34] massrb opened #14142 "[Spike] Create experimental endpoint to query mock appointments data via Mountebank"
It was demonstrated that using the mountebank gem and server that mock data could be returned using a proxy:
https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/14051

## Tasks
- [ ] Write test code that can proxy more than one endpoint using monteblank predicates
- [ ] document how to run the proxy
- [ ] save the code someplace

## Acce

[2020-09-28 18:35] jenniferlee-dsva opened #14143 "Investigate legacy search index subdomain"
## Investigate legacy search index subdomain

**Reference URL:**
https://www.index.va.gov/search/va/va_search.jsp?ST=1&DB=6&SQ=www.va.gov%2Fvaforms&QT=

**Reference Slack:**
https://dsva.slack.com/archives/CUB5X5MGF/p1600955094001600

- This index.va.gov/search page appears to point to many different legacy search tools, including the legacy forms search tool.
- We recently redirected the legacy s

[2020-09-28 18:40] camerontesterman opened #14144 "Debt Letters not Appearing - Uninitialized Constant Error"

[2020-09-28 18:42] 1Copenut commented on #1277
@desireeturner Yes, this one can be closed. I'll take care of that now.

[2020-09-28 18:42] #1277 closed

[2020-09-28 18:47] delli-gatti-michael commented on #13761
Local Testing complete

[2020-09-28 18:53] sonntag-adam opened #14145 "GIDS: "Show GIBCT" button under Latest Preview Version not working"
Steps to reproduce:

1. Navigate to https://staging.va.gov/gids/dashboards
2. Under Latest Preview Version select "Show GIBCT"
3. Page doesn't load

Expected results: https://staging.va.gov/gi-bill-comparison-tool should load

![Screen Shot 2020-09-28 at 2.45.34 PM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/60fd6d5a-f876-4140-89a0-06176f30c5e1)
##
![Screen Shot 2020-09-28 a

[2020-09-28 18:54] andaleliz commented on #12863
@jenniferlee-dsva, some updates:

**Keyword search result pages**
Talked to @ncksllvn and team today to get more details about the descriptions under the titles on our keyword search result page. Based on what we know, it seems like we don't have much influence on how those descriptions will appear under the titles.  I can create mock-ups that reflect what we'd like to see, but the reality is that

[2020-09-28 18:54] #12120 closed

[2020-09-28 18:56] ericbuckley commented on #13813
@jholton the "saml request id" is just the `ID` attribute in the root node of the SAML XML payload.  We [store that in redis after creation](https://github.com/department-of-veterans-affairs/vets-api/blob/master/lib/saml/url_service.rb#L168) and [can be accessed from the controller using the redis tracker](https://github.com/department-of-veterans-affairs/vets-api/blob/master/app/controllers/v1/se

[2020-09-28 19:17] andaleliz commented on #12863
Also, the CMS team is discussing the meta-description on learning center pages in their meeting tomorrow, asked to be invited.

[2020-09-28 19:18] jenniferlee-dsva commented on #11072
We flattened audience and topics, so they are both just FE tags now. We divorced LC menu categories from tags, so the category labels will only be used to organize articles in the lc ia, rather than appearing as tags.

No need to update - it's too hard to explain. Thx @andaleliz  - we can move forward as finalized now.

[2020-09-28 19:21] mpelzsherman commented on #6009
I can't reproduce the issue here - I can see the full table no matter how far I zoom in.

[2020-09-28 19:23] joanneesteban opened #14146 "Validate SLO report using GA"
## Issue Description
The VSP backend tools team has been sharing an SLO report weekly. How might we validate that the availability of these systems are accurately portraying when the system is up or down?

---
## Tasks
- [ ] Cross-reference GA data (i.e. Medical Devices/MDT submissions & other VFSs) with down time

## Acceptance Criteria
- [ ] VSP understands whether or not GA data corresponds to

[2020-09-28 19:26] mpelzsherman commented on #13778
Both #8964 and #6009 appear to be fixed (or I don't know how to reproduce).

[2020-09-28 19:29] mpelzsherman commented on #12970
I have no idea how to get this data dynamically from Drupal. I'll need help from @ethanteague to assess level of effort.

[2020-09-28 19:29] AGarcia-Clarity opened #14147 "Access for Alexander Garcia"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Add a comment @department-of-veterans-affairs/vsp-operations to ping the operations team
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please

[2020-09-28 19:30] zurbergram commented on #14145
https://github.com/department-of-veterans-affairs/vets-website/pull/14392

[2020-09-28 19:30] jenniferlee-dsva commented on #12863
Hope this answers some of the Qs:

**9/23 - search results and landing pages -**
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/content/tier-2-content-IA-and-design/learning-center-mvp/status-and-decisions.md#92320

RE what text would display on dynamic user query based search results: Search.gov folks confirmed that they pull  the page content that maps by rele