[2020-06-29 16:10] leahkeeler commented on #10548
Closing ticket

[2020-06-29 16:10] #10548 closed

[2020-06-29 16:11] AnneHurley opened #10718 "Create cloned 2018 historic rates for DIC - parents"
# Issue description:
In order to retire legacy pages with historic DIC rates for parents, we need to clone our current rates pages in Drupal and input the 2018 rates information.

# Tasks:
- [x] Clone current DIC rates - parents rates page in Drupal. Anne
- [x] Copy over rates from legacy historic page, https://benefits.va.gov/PENSION/rates_parents_DIC_pen17.asp - Anne
- [x] Copy edit and doublech

[2020-06-29 16:20] tressaellen commented on #5959
The way I understand it is that we won't know who should or shouldn't be able to see DD, which is why this particular alert would live on the first page.

BUT, I agree - I think we definitely need to think about where the other errors should live.  I'm not sure which way would make more sense, I'm leaning towards just putting them in their own particular sections.

[2020-06-29 16:31] wyattwalter commented on #10682
I think the only thing that's left is DSVA Slack. @KevinMHoffmanUSDS / @drorva is that supposed to go through one of you?

[2020-06-29 16:31] peggygannon commented on #5959
Hi, @tressaellen my only feedback is to remove the period in the header of the message. So the header would read:

**We can't access your direct deposit information right now**

The rest of the message looks good.  I like using the more specific direct deposit and putting the error on the individual sections.

[2020-06-29 16:42] mshea0606 commented on #10399
@sanlouise looks good!

[2020-06-29 16:42] #10399 closed

[2020-06-29 16:42] #10540 closed

[2020-06-29 16:43] #10644 closed

[2020-06-29 16:44] DanielleThierryUSDSVA opened #10719 "Update question language per latest CDC language"
## Issue Description
We're updating question language per latest CDC language:

- Adding "or difficulty breathing" to cough/shortness of breath question
- Adding new symptoms/reordering to match CDC in past 3 days symptoms question
- Removing "sore throat" from current symptoms questions (since it's already covered in past 3 days symptoms question)

---
## Tasks
- [x] Update content in json file a

[2020-06-29 16:45] leahkeeler opened #10720 "[Front End] DL - Download letters from eFolders"
## User Story
_As a veteran who is viewing my debts as were communicated in the debt letter(s) and on the summary page, I would like the ability to download the debt letters in .pdf as provided in the 'download' link. Due to potential constraint on vbms - all the letters will be listed on a page in reverse chronological order.

---
## Tasks
- [ ] _connect to vbms endpoint
- [ ] _download letter as

[2020-06-29 16:46] DanielleThierryUSDSVA commented on #10719
Hi @mchelen-gov @stephenBarrs Added you as reviewers on this PR: https://github.com/department-of-veterans-affairs/vets-website/pull/13305. Just let me know if you have any questions. Thanks!

FYSA @batemapf

[2020-06-29 16:53] abuckley3385 commented on #10485
@mdewey - per backlog can you break this into individual tickets. ie va.gov, mobile, .etc

[2020-06-29 16:55] mchelen-gov commented on #9508
Running `yarn test:coverage-apps` I can confirm that coverage is being calculated for all files in `coronovirus-chatbot`
[code]

And `coronovirus-screener `
[code]

However only `coronovirus-screener` is shown in the summary:

[code]

[2020-06-29 17:09] U-DON commented on #9508
@mchelen: I believe it's due to `coronavirus-chatbot` missing a `manifest.json` file, so it's not recognized as an app.

[2020-06-29 17:10] cvalarida commented on #10449
**Update:**
This was going well until I ran into a problem with the output schemas having circular references.

Specifically, the issue was that any paragraph could have a child entity of any other kind of paragraph. Previuosly, we were using the JSON schema `$ref`, but with the new approach, in order to resolve circular references in the _data_, we expanded the `$ref`s into full schemas (so we co

[2020-06-29 17:12] #9824 closed

[2020-06-29 17:12] #10020 closed

[2020-06-29 17:16] tressaellen opened #10721 "[FE] Add grey title on personal information section"
## Background

From an accessibility stand point we need to be consistent with the titles of the 'blocks' on the profile. We need to add a title to the 'personal information' section.

## Specs

Add 'Personal information' title to the personal information block.

![Screen Shot 2020-06-29 at 11.13.32 AM.png](https://images.zenhubusercontent.com/5dfa65bbbd078d1699e52294/282b8970-a2fc-429b-be8f-eb037

[2020-06-29 17:21] stephorkandatx commented on #9914
This is a nav summary for YR Participating Schools so you can see users' previous page path -> next page path. https://analytics.google.com/analytics/web/#/report/content-pages/a50123418w177519031p184334251/_u.date00=20200515&_u.date01=20200607&explorer-table.plotKeys=%5B%5D&explorer-table.advFilter=%5B%5B0,%22analytics.pagePath%22,%22RE%22,%22%5E~2Feducation~2Fyellow-ribbon-participating-schools~

[2020-06-29 17:22] f1337 commented on #7305
Ah, OK, thank you @omgitsbillryan!

[2020-06-29 17:31] tressaellen opened #10722 "[Design] Look into error messaging/location"
## Background

While working on #5959 there was a question about how generic section errors are being shown? Should they be displayed on the main profile page? Or in their respective sections?

We need to look into the current errors and see if we're representing these in a place that makes sense.

## Tasks
- [ ] Research current section errors and assess if we need to change anything (location, m

[2020-06-29 17:32] rianfowler commented on #8856
[Example](https://design.va.gov/components/additional-info) can be found on the design system site

[2020-06-29 17:32] SgardnerPMP opened #10723 "[Analytics] Research and load coordinator workbook w/ Staff profiles for Bay Pines VA health Care [BA]"
## User Story or Problem Statement
As a Veteran Web user, I want to see the local providers/caregivers information in the health service programs, so I know who to contact to start my healthcare journey.

## Goal
_Highlight the Individual points of contact for each Health Service Program_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran trav

[2020-06-29 17:34] SgardnerPMP opened #10724 "[Analytics] Research and load coordinator workbook w/ Staff profiles for Caribbean VA health Care [BA]"
## User Story or Problem Statement
As a Veteran Web user, I want to see the local providers/caregivers information in the health service programs, so I know who to contact to start my healthcare journey.

## Goal
_Highlight the Individual points of contact for each Health Service Program_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran trav

[2020-06-29 17:35] SgardnerPMP opened #10725 "[Analytics] Research and load coordinator workbook w/ Staff profiles for North Florida VA health Care [BA]"
## User Story or Problem Statement
As a Veteran Web user, I want to see the local providers/caregivers information in the health service programs, so I know who to contact to start my healthcare journey.

## Goal
_Highlight the Individual points of contact for each Health Service Program_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran trav

[2020-06-29 17:36] tressaellen commented on #5959
Thanks @peggygannon !  I think the issue on this ticket has been resolved - I made a [new ticket](https://github.com/department-of-veterans-affairs/va.gov-team/issues/10722) to look into the other error states and determine the best course of action.

For this ticket the copy should be:

**We can't access your direct deposit information right now**

We're sorry. Something went wrong on our end. Pl

[2020-06-29 17:36] #5959 closed

[2020-06-29 17:37] DanielleThierryUSDSVA commented on #10719
@batemapf Word doc with tracked changes/comments
[VA.gov_COVID-19 screening tool 6.29.20](https://app.zenhub.com/files/133843125/3c50c66f-aabd-4348-ad8e-548d37e30716/download)

[2020-06-29 17:38] SgardnerPMP opened #10726 "[Analytics] Research and load coordinator workbook w/ Staff profiles for Miami VA health Care [BA]"
## User Story or Problem Statement
As a Veteran Web user, I want to see the local providers/caregivers information in the health service programs, so I know who to contact to start my healthcare journey.

## Goal
_Highlight the Individual points of contact for each Health Service Program_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran trav

[2020-06-29 17:38] rianfowler commented on #767
[Example](https://design.va.gov/components/form-controls#checkboxes)

[2020-06-29 17:39] SgardnerPMP opened #10727 "[Analytics] Research and load coordinator workbook w/ Staff profiles for Orlando VA health Care [BA]"
## User Story or Problem Statement
As a Veteran Web user, I want to see the local providers/caregivers information in the health service programs, so I know who to contact to start my healthcare journey.

## Goal
_Highlight the Individual points of contact for each Health Service Program_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran trav

[2020-06-29 17:39] sonntag-adam commented on #10358
in staging

[2020-06-29 17:39] #10358 closed

[2020-06-29 17:40] SgardnerPMP opened #10728 "[Analytics] Research and load coordinator workbook w/ Staff profiles for Tampa VA health Care [BA]"
## User Story or Problem Statement
As a Veteran Web user, I want to see the local providers/caregivers information in the health service programs, so I know who to contact to start my healthcare journey.

## Goal
_Highlight the Individual points of contact for each Health Service Program_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran trav

[2020-06-29 17:40] stephorkandatx commented on #9163
Because of the current acceptance criteria, and the fact that we did the work last sprint but the ticket remains "open" and is lingering, I recommend we close this out and create a new ticket to make the work indexable. It will be better to track what work was done, and when.

[2020-06-29 17:41] SgardnerPMP opened #10729 "[Analytics] Research and load coordinator workbook w/ Staff profiles for West Palm Beach VA health Care [BA]"
## User Story or Problem Statement
As a Veteran Web user, I want to see the local providers/caregivers information in the health service programs, so I know who to contact to start my healthcare journey.

## Goal
_Highlight the Individual points of contact for each Health Service Program_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran trav

[2020-06-29 17:42] dneel-bah opened #10730 "STEM: Update Introduction page for 10203 form"
As an applicant, I need information provided regarding what is necessary to complete the application process so that I can be prepared to complete the application in one sitting.

## Assumptions:
1. This work is done behind feature flag #7271.
2. The entitlement alert is not a part of this story.

## Acceptance Criteria
1. The [introduction page](https://staging.va.gov/education/apply-for-educatio

[2020-06-29 17:43] DanielleThierryUSDSVA opened #10731 "Coronavirus FAQs: Week of 6.29.20 updates"
# User story

As a Veteran, I want to get my top questions about the coronavirus and VA answered as quickly as possible, and have easy access to other questions if I need them.

# Details

## Known updates that need to be made this week:
- **Update:** Is my VA health facility open for in-person care?
- **Add new:** What’s physical distancing, and how will VA use it to protect me?
- **Add new:** Ho

[2020-06-29 17:45] mshea0606 opened #10732 "[FE] - Create a generic error state for when direct deposit is down"
## Background
We need to create an error state for when direct deposit is down

Related Design Ticket: #5959

## Specs/Copy

**We can't access your direct deposit information right now**

We're sorry. Something went wrong on our end. Please refresh this page or try again later.

![Screen Shot 2020-06-29 at 11.35.07 AM.png](https://images.zenhubusercontent.com/5dfa65bbbd078d1699e52294/ea467e9d-740a

[2020-06-29 17:46] DanielleThierryUSDSVA commented on #10731
Hi @RLHecht. Doc for copy editing is above. Thank you!

[2020-06-29 17:50] johnhashva commented on #9163
Got it -- I'll compose a new ticket once I validate the work effort with Nick (we are scheduled to meet on this tomorrow).   TY.

[2020-06-29 17:55] erikphansen commented on #5959
I'll work this final copy into my open PR. Aside from the placement of the alert this has feature parity with Profile v1.

This particular error is tricky. Personally I'm not crazy about specifically mentioning that we can't access direct deposit info right now because, to my knowledge, most VA.gov users shouldn't see that section at all. So it feels weird to be telling people that we can't access

[2020-06-29 17:57] jenstrickland commented on #8946
@tlei123 — do you have more information on where the information regarding the space bar expected behavior comes from?

[2020-06-29 17:57] #10486 closed

[2020-06-29 17:59] Samara-Strauss commented on #5959
Got it. This totally makes sense (and I totally forgot that I already knew this).

You might want to think through some different use cases to make sure everything makes sense design-wise if multiple systems are down at once. I don't think we need a catch-all error because for most cases besides direct deposit, we can probably just show the error in the section itself since they aren't conditional

[2020-06-29 18:05] jason-gcio commented on #10404
Are we able to share what content is in this call for Jim to spec out what the data will be displayed as?  Or does the whitelist need to happen first?

[2020-06-29 18:05] #9369 closed

[2020-06-29 18:06] erikphansen commented on #10721
knocking out this little task with this existing PR https://github.com/department-of-veterans-affairs/vets-website/pull/13295

[2020-06-29 18:13] marriej opened #10733 "Uncoupling outbound flag from inbound"

[2020-06-29 18:13] rianfowler commented on #8856
step reproduce
- turn on [voice over ](https://www.apple.com/voiceover/info/guide/_1121.html)
- use safari [here](https://design.va.gov/components/additional-info)
- follow voice over instructions to reproduce

[2020-06-29 18:17] delli-gatti-michael commented on #9876
After researching the documentation linked above, I have determined that the below changes need to be made and tested under this story:

The "Personal information" chapter is the fifth chapter of the 10203 form workflow. It is divided into two pages.

#### Page 1:
This page already exists in the 10203 form workflow and is being updated.

1. "How would you like to be contacted if we have questions

[2020-06-29 18:18] billfienberg commented on #8856
Search results for `<AdditionalInfo`:
[code]

[2020-06-29 18:20] erikphansen commented on #5959
We could pretty easily move this particular alert to the top of every single profile section (in which case it would live above the "Personal and contact info" headline). But I think this is probably the correct place for it. In a scenario where a DD user logs in and goes directly to `profile/direct-deposit` and the Direct Deposit endpoint is down, they'll get redirected to the personal info secti

[2020-06-29 18:20] rianfowler commented on #1144
steps to reproduce:
1. load mobile view of mega menu
2. navigate with keyboard to 2nd level menu

expect behavior: opening the 2nd level menu should focus the first item

[2020-06-29 18:20] rebeccawalsh commented on #10382
Here's the draft of the audit: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/debt-letters-mvp/discovery/jun20-codes-audit.md

This content was presented to the DMC Jun 29, where it was deemed feasible and appropriate. This document will be looked at by DMC SMEs and a follow up meeting will be had.

[2020-06-29 18:25] digitaldrk commented on #10370
I have validated and created all flows and cassettes _EXCEPT_ the main one where we fire off everything from the service.

The insertBenefit call is not working

I have emailed Linda and we're going back and forth about it. I am blocked until this issue is resolved.

[2020-06-29 18:27] erikphansen commented on #10732
I'm going to close this one as a duplicate of https://github.com/department-of-veterans-affairs/va.gov-team/issues/9819. I already have [a PR open](https://github.com/department-of-veterans-affairs/vets-website/pull/13295) that addresses this new ticket and https://github.com/department-of-veterans-affairs/va.gov-team/issues/9819.

[2020-06-29 18:27] #10732 closed

[2020-06-29 18:28] rianfowler commented on #767
- review everywhere we're using legend and make sure it's the first child in the `<fieldset>`

[2020-06-29 18:28] #10569 closed

[2020-06-29 18:34] RLHecht commented on #10731
Here you go, @DanielleThierryUSDSVA Just a few minor tweaks!
[coronavirus faq updates 6.29.20-RH edit.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/4847380/coronavirus.faq.updates.6.29.20-RH.edit.docx)

[2020-06-29 18:36] jhonnyoddball commented on #1144
Testing `activeElement` in [devtools instructions](https://developers.google.com/web/tools/chrome-devtools/accessibility/focus)

[2020-06-29 18:37] mchelen-gov opened #10734 "Add question for Hawaii"
AC:
- [x] "SCREEN459" returns message that includes www.va.gov/covid19screen/459
- [x] `www.va.gov/covid19screen/459*` loads question text from [hi-custom-question.xlsx](https://github.com/department-of-veterans-affairs/va.gov-team/files/4859787/hi-custom-question.xlsx)
- [x] `covid19screen/459GH` shows custom 459GH facility question
- [x] `covid19screen/459gh` shows custom 459GH facility question

[2020-06-29 18:38] KevinMHoffmanUSDS commented on #10567
All three have been added to Slack. In the future, feel free to use the Slack channel #vfs-platform-support if you need to follow up on anything like this. Cheers!

[2020-06-29 18:38] #10567 closed

[2020-06-29 18:40] mchelen-gov commented on #9508
from `yarn test:coverage`
[code]
[code]

[2020-06-29 18:41] jenniferlee-dsva opened #10735 "686c Top Recommendation link going to a 404"
## What happened?
_686c Top Recommendation link going to a 404_

## Specs:
- Device: (HP PC - GFE)
- Browser: Chrome

## Steps to Reproduce
- search for "686c' in site search
-  click on the Top Recommendation result https://www.va.gov/disability/add-remove-dependent/add-dependent-form-21-686c/
- goes to a Not Found page

## Screenshot

![image.png](https://images.zenhubusercontent.com/5bb2975c143

[2020-06-29 18:41] rianfowler commented on #317
https://www.w3.org/TR/wai-aria-1.1/#progressbar
![Screen Shot 2020-06-29 at 14 38 15](https://user-images.githubusercontent.com/4998130/86043094-2f125980-ba16-11ea-95fa-47af51c756a5.png)

Look at any form like [this](https://staging.va.gov/education/submit-school-feedback/service-information)
- remove the progressbar role from the heading (<FormNav>)
- work with trevor to test on staging

[2020-06-29 18:42] batemapf commented on #10734
Updated above w/ content from HI. Definitely want @DanielleThierryUSDSVA to take a look at it. Also updated facility ID in url. Also added SMS AC, which is already complete :-).

[2020-06-29 18:50] jonwehausen commented on #9991
Hi @amyknox @desireeturner @sonntag-adam ,

Want to thank you again for your efforts here. From our QA, there is one item we would like to request a slight dataLayer adjustment -- apologies on our part for not confirming we would need earlier.

For the regular size accordions (non-minis), if we could include an `'accordion-size': undefined` push with the `nav-accordion-expand` and `nav-accordion-c

[2020-06-29 18:53] jason-gcio opened #10736 "Integration Testing"
We want to give these folks the most lead time to work with

Large PR is merged*
Submission refactor*
File upload
LIH BGS gem
Select a day - pitch week of the 28th?
Schedule this for the end of the month to work with integrating with the RBPS folks

Linda is back July 24

[2020-06-29 18:53] stephorkandatx commented on #8362
I'll open a new one, thanks!

[2020-06-29 18:54] cmaeng commented on #10667
I believe he's in these private Slack channels as well: `#a6-private`; `#a6-strategy`; `#devshop`

Can each of these channels be archived?

![slack image](https://user-images.githubusercontent.com/60702623/86044440-17d46b80-ba18-11ea-9d65-9547137df21c.png)

[2020-06-29 18:55] stephorkandatx opened #10737 "Pension Rewriting: SME feedback edits, publish"
# User story

As a Veteran or survivor with a pension under the older laws, I want to be able to easily find my current pension rate.
This is follow-up to #8362 . This ticket will be actionable with SME feedback is received. The goal is to incorporate changes, and make ready for publish

# Details

## Process steps to completion

**Previous steps completed before this was paused in July 2019:**
-

[2020-06-29 18:57] ksantiagomorgan6 commented on #9873
alertboc PR: https://github.com/department-of-veterans-affairs/vets-website/pull/13313

[2020-06-29 18:57] #8362 closed

[2020-06-29 18:58] johnhashva commented on #10735
@jenniferlee-dsva  I can fix this easily/quickly today but we need to specify the right URL -- and it looks like I have various options:

- New Find a Form page here, with the correct form found: https://www.va.gov/find-forms/?q=21-686c
Or:
- The [Add or Remove a Dependent information page here](https://www.va.gov/disability/add-remove-dependent/) -- which does not appear to contain a link to the

[2020-06-29 19:00] RLHecht commented on #7234
@lunascoop I reviewed the two pages above. Made some minor copy tweaks and also did the updated we discussed over slack (removing the more information H2 on the prosthetic socks page and updating the name of the hearing aid PDF.

[2020-06-29 19:06] bkjohnson commented on #767
I've confirmed this markup structure happening on the _Demographic Information_ part of the ["Apply for health care" form](https://staging.va.gov/health-care/apply/application/veteran-information/demographic-information).

![image](https://user-images.githubusercontent.com/2008881/86045506-94f3e680-ba00-11ea-8870-4344f48d44b4.png)

The rendered page:

![image](https://user-images.githubusercontent

[2020-06-29 19:07] #10625 closed

[2020-06-29 19:07] #9803 closed

[2020-06-29 19:08] #9800 closed

[2020-06-29 19:29] rtwell commented on #10283
prototype updated!

[2020-06-29 19:31] leahkeeler opened #10738 "Debt Letters Notifications - eMail | texts"
## High Level User Story/ies
As a veteran who has incurred debt with the VA and has received a debt letter, I would like to be notified by email, text or both that I have an outstanding debt and where to go on va.gov to get additional details

## Hypothesis or Bet

Letters are often ignored and thrown away and do not provide the kind of information a veteran may require to understand next steps, o

[2020-06-29 19:36] DanielleThierryUSDSVA commented on #10731
Thanks so much, @RLHecht!

[2020-06-29 19:36] DanielleThierryUSDSVA commented on #10731
Latest: [Coronavirus.faq.updates.6.29.20 for JTF review](https://app.zenhub.com/files/133843125/3b560f22-81bf-41cc-91c0-4e8c480749a8/download)

[2020-06-29 19:38] johnhashva opened #10739 "Project Kickoff: Campaign Landing Page (Template)"
## Steps to complete Project Kickoff
- [X] Product Manager: create this issue and fill in feature name in the title and other bolded information appropriately
- [x] Link to this issue once created in #vfs-platform-support in Slack; tag @ Megan Kelley @ AndreaHewitt
- [ ] Andrea and Megan will schedule meeting with VSP reviewers and **requesting team** attendees (as listed below)
- [ ] VSP <> **req

[2020-06-29 19:40] MickinSahni commented on #10532
Should happen once we’ve gotten the final content

[2020-06-29 19:45] dneel-bah commented on #9124
The prototype has been updated further, so this is OBE.  See new workflow prototype for reference
https://bahdigital.invisionapp.com/share/JHIAE4UVKA4#/screens/296040836

[2020-06-29 19:47] dmccurdybah commented on #10613
gibct-data-service PR: https://github.com/department-of-veterans-affairs/gibct-data-service/pull/677
vets-website PR: https://github.com/department-of-veterans-affairs/vets-website/pull/13309

[2020-06-29 19:47] Samara-Strauss opened #10740 "[PM] Logged-in homepage: Metrics conversation with VAOS team"
## Background

As we started setting OKRs & KPIs (#9181) for the logged-in homepage work, we realized we needed to align our success metrics with the teams that own the tools we will be featuring. Our KRs /success/conversion metrics should reflect what they consider to be most important about their tools.

## Tasks

- [x] Regroup with Lauren and Lenae about VAOS and other healthcare tools.
- [x] [

[2020-06-29 19:51] bsmartin-ep commented on #9488
@jonwehausen / @mshea0606  -

I believe we'll need the following dataLayer and GTM changes.  Let me know if you want to have a quick meeting to discuss this.

## dataLayer

### 1. "How many users have apps connected"

Since this is new, we'll need to get a boolean pushed to the dataLayer (and later connected to a new Custom Dimension), both when they **disconnect an app** and when **they login (or

[2020-06-29 19:53] dmccurdybah commented on #10613
SQL query to display the calculated match percentages for a facility

[code]

[2020-06-29 19:55] mdewey opened #10741 "Investigate Clinical Reminders"
From a technical perspective, investigate how we can tie into the clinical reminders system

[2020-06-29 19:56] jason-gcio opened #10742 "Identify and Support all BGS Unsupported Workflows"
## Background
Currently, we fire all VNP calls for all workflows. After speaking to BGS, it was brought to our attention that this is sub-optimal.

## Considerations
Per Linda, these are "new" sections:
- Section VIII: Veteran/Claimant Reporting a SchoolChild Over 18 Has Stopped Attending School  and,
- Section VI:  Veteran/Claimant Reporting Death of a Dependent

## Description
- If **Removing a

[2020-06-29 19:59] ala-yna opened #10743 "Full Accessibility & 508 Office Audit - Caregivers"
## Steps to complete the Full Accessibility & 508 Audit:
- [x] Product Manager: create issue and fill in feature name in the title and other bolded information appropriately
- [ ] Practice area reviewers create sub-issues attached to this one with feedback for your team on *feature name*
- [ ] **Requesting team** completes attached feedback tickets based on definition of done included in each prac

[2020-06-29 20:00] kevinstachura commented on #10288
Thinking we can simply add this content section beneath the 'need help?' section on the file upload tab's sidebar as it has FAQ-type information on it already:

<img width="1266" alt="Screen Shot 2020-06-29 at 3 57 35 PM" src="https://user-images.githubusercontent.com/54544300/86050088-4440b580-ba21-11ea-8125-f86394f8c566.png">

Further, the pattern has been established that more of the detailed i

[2020-06-29 20:05] toddstanich commented on #10328
@peggygannon Thank you!

Re: For point #2 about the "thank you for your service" signature, I imagine we will run into scenarios where the emails go to people other than the Veterans. We may need to follow up with the business unless @QaysarA, you know.

[2020-06-29 20:06] delli-gatti-michael commented on #9873
The "Education Benefit" Chapter is the second chapter in the 10203 workflow. It is a single page with a single question. This chapter already exists in the 10203 form workflow and is being updated.

After researching the documentation linked above, I have determined that the below changes need to be made and tested under this story:

1. The working of the question on this page is rephrased to the

[2020-06-29 20:18] delli-gatti-michael opened #10744 "STEM form: Typo and out-of-order checkboxes in Chapter 2"
The second chapter of the 10203 STEM form is a single page with a single question. The possible answers to this question are in the form of a series of checkboxes.

The question should read as "Which benefits have you used or are you currently using?", but currently reads as "Which benefit have you used or are currently using?". There are two errors:
1. The word "benefit" should the plural "benefi

[2020-06-29 20:22] jenniferlee-dsva commented on #5163
Thx @ncksllvn ! I've validated the links and redirects look good.  Thank you @mnorthuis. Have let the stakeholder working group know.

Will close ticket now!

[2020-06-29 20:22] #5163 closed

[2020-06-29 20:23] Samara-Strauss opened #10745 "[PM] Logged-in homepage: Metrics conversation with disability ratings team"
## Background

As we started setting OKRs & KPIs (#9181) for the logged-in homepage work, we realized we needed to align our success metrics with the teams that own the tools we will be featuring. Our KRs /success/conversion metrics should reflect what they consider to be most important about their tools.

## Tasks

- [x] Regroup with Steve and Jason about disability ratings tools.
- [x] [Document

[2020-06-29 20:28] #10387 closed

[2020-06-29 20:30] Samara-Strauss opened #10746 "[PM] Logged-in homepage: Metrics conversation with claim status team"
## Background

As we started setting OKRs & KPIs (#9181) for the logged-in homepage work, we realized we needed to align our success metrics with the teams that own the tools we will be featuring. Our KRs /success/conversion metrics should reflect what they consider to be most important about their tools.

## Tasks

- [x] Regroup with Luke about claim status tool.
- [x] [Document notes](https://gi

[2020-06-29 20:36] #10351 closed

[2020-06-29 20:36] #10354 closed

[2020-06-29 20:45] mshea0606 commented on #10642
@sanlouise closing this out

[2020-06-29 20:45] #10642 closed

[2020-06-29 20:46] luke-gcio commented on #10481
This may be fixed by some of the SSOe work.  Need some more details about whether this is creating errors/error messages on VA.gov.  Luke to contact Paul.

[2020-06-29 20:48] jbalboni commented on #10087
On the FE we have downtime notifications, which are triggered through maintenance windows returned from the backend `/v0/maintenance_windows` service. There are entries for different internal VA dependencies, and on the FE you specify which of them to look for.

There are two main ways of using this feature. You can mark the app is down, by returning a maintenance window for a require dependency:

[2020-06-29 20:49] #10740 closed

[2020-06-29 20:50] jbalboni commented on #10087
@saneshark @lenaecb I'm not sure what else you'd like us to investigate in this ticket. This is set up on the FE, the changes required to start using it are on the BE. These services used to be set up in PagerDuty, but given that we don't really have access to that now, I'm not sure what the current expectation is for VFS teams.

[2020-06-29 20:51] jenniferlee-dsva commented on #9027
@DanielleThierryUSDSVA @clantosswett - Is it okay to close this "identify" ticket now? See this comment for list of mvp articles to prototype with: https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/9027#issuecomment-649849604

[2020-06-29 20:51] #9027 closed

[2020-06-29 20:52] Clark-W-Griswold commented on #317
PR here:
https://github.com/department-of-veterans-affairs/vets-website/pull/13314

[2020-06-29 20:57] tlei123 commented on #8946
Michelle's #8145, under ACs, item 9 \[you can search on 'space bar' when there].  I just took her word for all those ACs when I created my A11y test-cases -- didn't look for any real va.gov examples for them.

[2020-06-29 21:03] #10497 closed

[2020-06-29 21:03] ala-yna opened #10748 "10-10CG Form Revisions"
On 6/29, we received updated copy for the 10-10CG paper form. We need to understand what changes were made, and which, if any, we'll be integrating into the online form.

[2020-06-29 21:04] DanielleThierryUSDSVA commented on #9027
@jenniferlee-dsva Yes! I'm all good with closing this one. Thanks!

[2020-06-29 21:06] bkjohnson commented on #767
This particular problem (and likely others) can be traced to the `<ObjectField>` component being used with top level `<div>` tags inside of a `<fieldset>`:

https://github.com/department-of-veterans-affairs/vets-website/blob/20a303ad06309ccf5f41022c54d341cc60671edc/src/platform/forms-system/src/js/fields/ObjectField.jsx#L228-L231

https://github.com/department-of-veterans-affairs/vets-website/blob

[2020-06-29 21:07] jenstrickland commented on #8946
That would only apply to the focusable items (the links) in the navigation list.

[2020-06-29 21:08] Samara-Strauss commented on #9488
Just confirming next steps:

- FE needs to make the changes you outlined above.
- We'll have you guys take a look at that stuff when it's done to make sure it looks good.

Yes?

[2020-06-29 21:09] jenstrickland commented on #8946
Since this isn't actually an accessibility issue I'm going to remove the severity labels.

[2020-06-29 21:12] ffafara-tw commented on #6670
I'd like to reopen this issue and request access to AWS Console.

[2020-06-29 21:15] jenstrickland commented on #8946
Closing this issue, as this is not an issue.

[2020-06-29 21:15] #8946 closed

[2020-06-29 21:33] rianfowler commented on #317
@1Copenut this should be ready for testing. let us know if this doesn't work.

[2020-06-29 21:34] #10322 closed

[2020-06-29 21:40] mmiddaugh opened #10749 "Facility Locator Mobile experience"
## What happened?
The search box and content on the main Facility Locator page is partially cut off in Staging.

![Screenshot_6_29_20__4_15_PM](https://user-images.githubusercontent.com/55411834/86058804-afd55380-ba1e-11ea-8d4e-bfcc89d183a5.png)

Was determined to be introduced VSP's dependabot version change. Our dependency was bumped from 0.4.1 to 1.1.1 without us knowing.
<img width="930" alt="

[2020-06-29 21:48] bethpottsVADEPO commented on #9270
6/18: Anne and Beth met with Raleigh to go over questions Anne had regarding the original edits that came from stakeholders. Questions are listed above in Anne's comment on 5/27.

6/29: I emailed Raleigh about a potential reorganization of the page to address Veterans with full vs remaining entitlement. Requesting a meeting for Wednesday.

[2020-06-29 21:49] mmiddaugh opened #10750 "[Drupal] Facility Health service hours content modeling"
## Issue Description
How can we standardize Facility Health service hours content and make it a reusable component?

## Tasks
- Create content model/format for the Facility Health service hour content within Location and contact information area of VAMC facility health services.
- Work with CMS team to determine field names and machine names for use in new content model

## Acceptance Criteria
- [

[2020-06-29 21:53] jenstrickland commented on #10525
@mmiddaugh

I noticed this issue during the accessibility review, as well. Here's some CSS that seems to address it:

[code]

I hope this is helpful!

[2020-06-29 21:54] mmiddaugh opened #10751 "[Drupal] Facility Health service address content modeling"
##  Description
How can we standardize Facility Health service address content and make it a reusable component?

## Tasks
- Create content model/format for the address content within Location and contact information area of VAMC facility health services.
- Work with CMS team to determine format for street address, number/order of lines and labels for use in new content model
- Get data input from

[2020-06-29 22:06] LinnJS commented on #10233
Unit test error discussions: https://dsva.slack.com/archives/C5HP4GN3F/p1593467730105500

[2020-06-29 22:08] mmiddaugh opened #10752 "UX support for "Make an appointment" content modeling"
## Issue Description
Before Ethan returns to his ["Make an appointment" POC content model](https://github.com/department-of-veterans-affairs/va.gov-team/issues/9430), we would like to get CMS input on field names and expected interactions needed for this content type.

We anticipate he will return to this work in VSA Sprint 26 (July 15-28).

---

## Acceptance Criteria
- [ ] Documentation (Mural?)

[2020-06-29 22:26] jenniferlee-dsva commented on #10227
Here is the draft/example text with Danielle's edits which I shared w/Gary Hicks:

**[AlertIcon] Updates on VA facility and service status**

**Coronavirus:** Visit our coronavirus FAQS for the latest on affected VA health care and benefit services
.
**Natural disasters in your area:** Use our Find VA locations tool to get current hours and status for your local VA facility.

_Design requirement:

[2020-06-29 22:26] #10227 closed

[2020-06-29 22:28] brangi commented on #10749
@mmiddaugh We should not revert back the version but will be fixed with PR https://github.com/department-of-veterans-affairs/vets-website/pull/13319

[2020-06-29 22:35] SarahJaine commented on #10555
Requested architecture diagram
![Original Claims Architecture Diagram-Page-1](https://user-images.githubusercontent.com/9893700/86062709-ef0ba080-ba2e-11ea-8bf2-4814eb6846f1.png)

[2020-06-29 22:35] #10555 closed

[2020-06-29 22:38] AnneHurley commented on #10435
@bethpottsVADEPO  - Let's chat about this. There are historic VGLI rates, but they are all before 2014. Since the rest of this ticket focuses just on the 2nd to last year of historic rates -- 2019 and 2018 only -- I wonder if we need to capture these older rates.

[2020-06-29 23:07] 1Copenut commented on #10199
@desireeturner I took a look at this briefly in staging. I'd like to take another look, and focus on two improvements:

1. I'd like to set focus on the expand/collapse button after users press `Update benefits`. Right now we are setting focus on the container, and that's not providing a lot of context.
2. The gray benefits panel is not being read aloud to screen readers. I'm almost certain this ca

[2020-06-29 23:20] patrickvinograd commented on #10468
Closed by above PR.

Testing in all environments shows this is working as intended. It allows the various forceAuthn scenarios to work correctly. It did not improve the situation with the internal protocol errors, but may set up the IAM team to make further improvements in this area.

[2020-06-29 23:20] #10468 closed

[2020-06-30 00:33] peggygannon commented on #10328
Ok, thank you @toddstanich  I just want to make sure if we do have the the use case of sending emails to dependents or family member, then we'll need to revisit the email template signature.

[2020-06-30 01:37] kathleencrawford commented on #10374
Notes: We are not able to view the uploaded documents in eBenefits PINT2 environment.  There is some instability going on there - sometimes the My Documents link isn't even available on the dashboard.  It could also be that eBenefits PINT2 is pointing to a different VBMS environment.

Steve was able to log into VMBS UAT environment and confirm that the uploaded documents can be seen for our test u

[2020-06-30 05:14] gmaciolek opened #10753 "Word List: Public Websites Team"
Get clarification on Unauthenticated Experiences Team vs. Public Websites team.

Draft of Public Websites Team description:
A VSA team that works on VA.gov’s unauthenticated experiences such as the site home page, content hubs, and site search.

[2020-06-30 07:00] QaysarA commented on #10328
Yes, the template will also be used for beneficiaries who may not be Veterans

[2020-06-30 11:53] shawkey-daniel commented on #9991
Could we define an accordion size for the non-mini accordions? We would prefer not to use undefined.

[2020-06-30 12:28] sonntag-adam commented on #9874
https://dsvavsp.testrail.io/index.php?/runs/view/496&group_by=cases:section_id&group_order=asc

[2020-06-30 12:30] sonntag-adam commented on #9874
![Screen Shot 2020-06-30 at 8.29.30 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/385ae421-5a1b-4663-9df1-36430d2df908)
##
![Screen Shot 2020-06-30 at 8.29.42 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/e9e83d2d-738c-4116-abde-99ade9758102)
##
![Screen Shot 2020-06-30 at 8.30.04 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/

[2020-06-30 12:38] jenniferlee-dsva commented on #8054
@ncksllvn - per your comment above:

Great idea. I didn't know we had control over that! I think that would be a nice enhancement to add, now that we have fully redirected the mvp search experience.

I'll close this ticket, since we actually completed this a while ago, and  create another backlog ticket for the feature enhancement.

[2020-06-30 12:38] #8054 closed

[2020-06-30 12:48] DanielleThierryUSDSVA commented on #10317
@peggygannon Here are my recommended edits for the SSO authenticated content. Edits to design versions tracked and in blue. Please let me know any additional changes, etc. before I send to Lauren for final look. Thanks!

[SSO content review_authenticated content_6.30.20](https://app.zenhub.com/files/133843125/7bc8d46c-872f-49be-97db-5b8b9e6890d5/download)

[2020-06-30 12:52] jenniferlee-dsva opened #10754 "Find a VA Form: Apply result weighting and rank based on relevance to search term"
### Feature enhancement: display forms search results by relevance based on form number or form title/name

**User story:**
When I search for a form by number (e.g., 526ez) or by form title or part of the form title (e.g., "hearing aid batteries"), I want to see the most closely matching results on the first page and preferably at the top of the first page of results.

**Problem statement:**
Today

[2020-06-30 12:54] DanielleThierryUSDSVA commented on #10317
**PM note:** I have changed this issue to reflect review of all _authenticated_ content, ending at passing along to Peggy for alignment. This is because:

a) This is a large volume of content (20 pages + alerts just for authenticated) with no tracked documents to work from (ie, needed to build doc then find what had changed in designs [not all marked] and edit).
b) This isn't launching until Augus

[2020-06-30 12:54] Kimberley2019 commented on #10166
@desireeturner Chante is on vacation this week.  I will review this today and provide any feedback.  If I do not have any questions or concerns, I will pass along to the Contact Center for their review and feedback.

[2020-06-30 12:55] jenniferlee-dsva commented on #5589
@ncksllvn - could you confirm that the robots.txt is removed?

I'll check analytics flow later this week to validate that checkbox item.

[2020-06-30 12:59] DanielleThierryUSDSVA opened #10755 "SSO/Login: VA.gov health pages unauthenticated content review"
## Issue Description

Review content and provide edits to Peggy for alignment.

---
## Tasks
- [x] Danielle to review content and provide tracked edits
- [x] Danielle to share questions with Peggy to ensure content alignment
- [x] Randi to copy edit
- [x] Danielle to add html
- [x] Danielle to hand off to Kelson

## Acceptance Criteria
- [x] Content changes handed off to Kelson

---
## Documentati

[2020-06-30 13:04] jenniferlee-dsva commented on #1632
I'm not sure how to pull Jennifer Strickland's post-launch 508 test ticket into our board's view, so I'll reference it as a new/different post-launch ticket: https://github.com/department-of-veterans-affairs/va.gov-team/issues/8694

I think this 'launch' epic can be closed after [#5589](https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team

[2020-06-30 13:06] DanielleThierryUSDSVA opened #10756 "SSO/Login: Implement final content"
## Issue Description

Implement final content.

---
## Tasks
- [x] Implement content changes (Kelson)
- [x] Validate content changes in staging against final Word docs (Randi, Danielle)
- [ ] Validate content changes in prod against final Word docs  (Randi)

## Acceptance Criteria
- [ ] Final content live in production

---
## Documentation

### For the authenticated content

- **Changes to conten

[2020-06-30 13:15] DanielleThierryUSDSVA opened #10757 "SSO/Login: Finalize VA.gov health tools content for implementation"
## Issue Description

Finalize content for implementation.

---
## Tasks
- [ ] Finalize alignment with Peggy (Danielle)
- [ ] Review content with Lauren (Danielle)
- [ ] Get My VA Health contact info from Cerner (Danielle)
- [ ] Finalize approach to handling facility vs. system names in authenticated content (Danielle with @kelsonic and team)
- [ ] Finalize content based on Lauren's review and inf

[2020-06-30 13:18] jenniferlee-dsva opened #10758 "Post-launch enhancements: MVP 1.0 Find a VA form search page and results"
**Related Epics:** [Find VA Forms Search - MVP](#1632)

### Post-launch enhancements: MVP 1.0 Find a VA form search page and results

The modern forms search has launched. But there are some forms search updates that are currently blocked until the search functionality cuts over from the API web scrape to the Drupal forms meta data. (For example: Updating the results display design to include the

[2020-06-30 13:24] DanielleThierryUSDSVA commented on #10327
Hi @RLHecht. Do you think you could work with one of the content writers who has some time to implement this? Want to make sure we're doing: content writer implements, copy editor reviews to maintain best practice.

If we can do this in time for end of sprint, great. If it needs to be pushed to early next sprint, that's okay too. And we should save as draft until Profile 2.0 launches.

Thanks!

[2020-06-30 13:25] DanielleThierryUSDSVA commented on #9938
Hi @jenniferlee-dsva. I think we can close this one now too, yes? Next step will be actually writing out the FAQs for these topics.

[2020-06-30 13:26] lunascoop commented on #7234
Hi @rebeccawalsh and @leahkeeler. I'd like to schedule a review of the pages before they are published. What's your availability either tomorrow or Thursday? My schedule's fairly flexible on both days w/ the exception of sprint planning tomorrow from 1-2:30pm. Thanks!

[2020-06-30 13:27] DanielleThierryUSDSVA commented on #8306
@bethpottsVADEPO just an fyi that i'm removing myself from this issue. of course, feel free to ping me if you need me for anything!

[2020-06-30 13:28] zurbergram commented on #10744
https://github.com/department-of-veterans-affairs/vets-website/pull/13325

[2020-06-30 13:29] #9576 closed

[2020-06-30 13:29] DanielleThierryUSDSVA commented on #9576
Connected. Closing issue for now.

[2020-06-30 13:35] dneel-bah commented on #10668
Based on grooming; this work has been incorporated into #7857 .  Closing as OBE.

[2020-06-30 13:35] #10668 closed

[2020-06-30 13:47] Mottie commented on #1933
Implemention of the frontend code has been merged even though we still have some errors popping up while using the endpoint. These should resolve soon.

[2020-06-30 14:07] Mottie opened #10759 "[Development] HLR: Add e2e testing"
## Issue Description

Add Cypress e2e tests for the Higher-Level Review form in anticipation of the form going into production. End-to-end tests only run on production-available pages, so once complete these tests will be disabled until HLR is available in production.

## Tasks

- [ ] Implement HLR e2e testing

## Acceptance Criteria

- [ ] Cypress e2e tests all passing in a local environment
- [

[2020-06-30 14:12] leahkeeler commented on #7234
Hi @lunascoop Do you want me to schedule? I have access to Riley and Becca's cal

[2020-06-30 14:27] #10560 closed

[2020-06-30 14:27] peggygannon commented on #10539
VAMC Altoona content feedback

Please note, I didn't review the individual clinic pages. I focused my content review on the higher-level pages.

Performance page
- Suggested rewrite: change quality of health care to  health care quality

----

Volunteer or donate page
- Please update time/day format to 8:00 a.m. to 4:00 p.m. ET, Monday through Friday
To put the time zone immediately after the time

[2020-06-30 14:33] peggygannon commented on #10484
@SgardnerPMP Content feedback for Altoona is here:
https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/10539

Please note, in the interested of time, i didn't do a content review on the individual clinic pages under Altoona. I focused my review on the higher-level pages.  I'm not sure if I captured all these high-level pages, so please l

[2020-06-30 14:36] #10404 closed

[2020-06-30 14:37] DanielleThierryUSDSVA commented on #10541
@bethpotts Could you please edit this doc for me? You'll see a few specific comments for your attention and then, of course, all suggested edits welcome. Thanks!

[Agent Orange exposure_consolidated page_for beth's edits](https://app.zenhub.com/files/133843125/1d02c04e-61fd-4787-88c5-d6fc0c9f43d2/download)

[2020-06-30 14:37] #10374 closed

[2020-06-30 14:47] dmccurdybah commented on #10669
PR: https://github.com/department-of-veterans-affairs/vets-website/pull/13309

[2020-06-30 14:49] erikphansen commented on #10721
@tressaellen this can be validated

[2020-06-30 14:50] erikphansen commented on #9819
A fix for this has been merged. But no good way for a non-eng to validate in staging so I'm closing it.

[2020-06-30 14:50] #9819 closed

[2020-06-30 14:51] erikphansen commented on #9563
While I have [a PR up that lays the foundation for these tests](https://github.com/department-of-veterans-affairs/vets-website/pull/13294), the actual tests will need to be written during the QA sprint.

[2020-06-30 14:53] #10090 closed

[2020-06-30 15:08] delli-gatti-michael commented on #9876
Tested by testrail test case:
https://dsvavsp.testrail.io/index.php?/cases/view/743

[2020-06-30 15:11] #7641 closed

[2020-06-30 15:11] kevinstachura commented on #10292
I'm thinking of this copy for the above explainer:

Unfortunately the CST in staging is not actually showing claim detail screens (just spins infinitely). But from memory and from @Mottie 's assistance I was able to determine where this should probably go, contextually, in the CST. I would expect it would show under the 'complete' portion under the details tab of a claim detail screen.

![Screen S

[2020-06-30 15:17] #7643 closed

[2020-06-30 15:18] #8299 closed

[2020-06-30 15:18] #8065 closed

[2020-06-30 15:19] #10320 closed

[2020-06-30 15:20] #10321 closed

[2020-06-30 15:21] #9843 closed

[2020-06-30 15:22] erluti commented on #7250
https://github.com/department-of-veterans-affairs/vets-api/pull/4460

[2020-06-30 15:24] desireeturner commented on #10578
This is blocked by https://github.com/department-of-veterans-affairs/vets-api/pull/4460

[2020-06-30 15:26] f1337 commented on #7305
I found a potentially related issue in the [vets-api_job_master_2741.log](https://github.com/department-of-veterans-affairs/va.gov-team/files/4852830/vets-api_job_master_2741.log) (thank you @kfrz for grabbing it for me!):

[code]

[2020-06-30 15:27] lildziner commented on #10295
Research Findings:
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/facilities/facility-locator/research/user-research/facility-status/research-findings.md

Topline:
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/facilities/facility-locator/research/user-research/facility-status/topline-summary.md

[2020-06-30 15:29] sonntag-adam commented on #9874
@department-of-veterans-affairs/uxbah This is in staging and ready for review

[2020-06-30 15:42] delli-gatti-michael commented on #9876
local testing complete

[2020-06-30 15:51] luke-gcio commented on #10287
30 days from submission confirmed!

[2020-06-30 15:52] delli-gatti-michael commented on #10744
local testing complete - LGTM
![Screen Shot 2020-06-30 at 11.50.01 AM.png](https://images.zenhubusercontent.com/5c07f000391a6f6357adc430/4898e4fd-9fb2-44c4-928a-8a3e8f4c9e0c)

[2020-06-30 15:52] luke-gcio commented on #10288
I'm ok with adding it under the "need help" although it may be very specific in the sense that only when they have an exam recorded somewhere.  Is that possible?

[2020-06-30 15:52] SgardnerPMP opened #10761 "[ANALYTICS] Research and determine "VA Bay Pines health care" - Top Task information [ANALYTICS]"
As a Veteran web user, I need to know the Care Giver contact information and specific details, so I can quickly reach my health service goals and programs requested.

## Goal
_Compile all the Contact Data and related Health Service data required to build a clear Health Service Program page for each of the below programs at a Medical System Level._

## Objectives or Key Results this is meant to fur

[2020-06-30 15:54] luke-gcio commented on #10292
Only thing with this one is Paul mentioned that not everyone knows what a "retroactive payment" looks like. Do you have any thoughts on this?

[2020-06-30 15:55] SgardnerPMP opened #10762 "[ANALYTICS] Research and determine "VA Caribbean health care" - Top Task information [ANALYTICS]"
As a Veteran web user, I need to know the Care Giver contact information and specific details, so I can quickly reach my health service goals and programs requested.

## Goal
_Compile all the Contact Data and related Health Service data required to build a clear Health Service Program page for each of the below programs at a Medical System Level._

## Objectives or Key Results this is meant to fur

[2020-06-30 15:58] SgardnerPMP opened #10763 "[ANALYTICS] Research and determine "VA North Florida health care" - Top Task information [ANALYTICS]"
As a Veteran web user, I need to know the Care Giver contact information and specific details, so I can quickly reach my health service goals and programs requested.

## Goal
_Compile all the Contact Data and related Health Service data required to build a clear Health Service Program page for each of the below programs at a Medical System Level._

## Objectives or Key Results this is meant to fur

[2020-06-30 16:02] andaleliz commented on #10432
@jenniferlee-dsva, @bethpotts, and @DanielleThierryUSDSVA
I put a **_rough_** draft together of the [conversation guide](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/content/tier-2-content-IA-and-design/learning-center-mvp/discovery-and-research/conversation-guide.md#first-task-find-article-on-a-specific-topic---x-minutes) to capture tasks and get answers to t

[2020-06-30 16:02] drorva commented on #10682
Not me :-)

[2020-06-30 16:04] stephorkandatx commented on #8544
@lwalsh617 please add an estimate to all the Batch 2 tickets. Thank you!

[2020-06-30 16:06] jbritt1 commented on #10682
https://dsva.slack.com/archives/CBU0KDSB1/p1593533200024700

[2020-06-30 16:10] LEHigley commented on #10707
done!

[2020-06-30 16:10] #10707 closed

[2020-06-30 16:10] mshea0606 opened #10764 "Staging Review [Profile 2.0]"
---
Name: Staging Review
About: Request a VSP staging review
Title: Staging Review [Profile 2.0]
Labels: product support, content-ia-team, collaboration-cycle, staging-review
Assignees: andreahewitt-odd, meganhkelley

---

## Steps to complete Staging Review:

- [X] Product Manager: create this issue and fill in feature name in the title and other bolded information appropriately
- [x] Link to thi

[2020-06-30 16:12] mshea0606 commented on #10764
I'm still working on getting the artifacts for this

[2020-06-30 16:16] DanielleThierryUSDSVA opened #10765 "Agent Orange consolidation: Implement content"
**Related ticket: [Agent Orange consolidation: Socialize with SMEs #10862](#10862)**

## Issue Description
We need to implement the Agent Orange consolidation strategy.

This will involve:

- Updating the existing main Agent Orange page within the Disability Benefits hub, eligibility section

Drupal Node ID: preview-prod-vfs.va.gov/preview?nodeId=874

---
## Tasks

- [x] Post finalized content in

[2020-06-30 16:17] jbritt1 commented on #10682
Slack account deactivated by Ric Miller. Marking as complete.

[2020-06-30 16:19] SgardnerPMP opened #10766 "[ANALYTICS] Research and determine "VA Miami health care" - Top Task information [ANALYTICS]"
As a Veteran web user, I need to know the Care Giver contact information and specific details, so I can quickly reach my health service goals and programs requested.

## Goal
_Compile all the Contact Data and related Health Service data required to build a clear Health Service Program page for each of the below programs at a Medical System Level._

## Objectives or Key Results this is meant to fur

[2020-06-30 16:21] SgardnerPMP opened #10767 "[ANALYTICS] Research and determine "VA Orlando health care" - Top Task information [ANALYTICS]"
As a Veteran web user, I need to know the Care Giver contact information and specific details, so I can quickly reach my health service goals and programs requested.

## Goal
_Compile all the Contact Data and related Health Service data required to build a clear Health Service Program page for each of the below programs at a Medical System Level._

## Objectives or Key Results this is meant to fur

[2020-06-30 16:23] DanielleThierryUSDSVA opened #10768 "[09/30] Redirect Request: Agent Orange consolidation"
### Instructions
- Requests for URL changes/redirects need to be submitted **AT LEAST** 2 weeks in advance.  Some changes/redirects take significant amount of time and coordination to implement, so start the process as soon as you know you will need one.
- This issue will be used from initial request through implementation of the redirect to ensure all individuals working on this are notified of s

[2020-06-30 16:24] SgardnerPMP opened #10769 "[ANALYTICS] Research and determine "VA Tampa health care" - Top Task information [ANALYTICS]"
As a Veteran web user, I need to know the Care Giver contact information and specific details, so I can quickly reach my health service goals and programs requested.

## Goal
_Compile all the Contact Data and related Health Service data required to build a clear Health Service Program page for each of the below programs at a Medical System Level._

## Objectives or Key Results this is meant to fur

[2020-06-30 16:24] #8856 closed

[2020-06-30 16:25] DanielleThierryUSDSVA commented on #10768
@lunascoop @bethpotts Added you both to this issue for awareness. No action needed at this time. Thank you!

[2020-06-30 16:28] annaswims commented on #1146
we added a config variable at https://app.dependabot.com/accounts/department-of-veterans-affairs/config-variables
<img width="789" alt="Screen Shot 2020-06-30 at 12 23 22 PM" src="https://user-images.githubusercontent.com/19188/86151432-b3bfaf00-bacc-11ea-941e-011d0ba14c69.png">

Another thing to note is that github runs a dependot for security issues and we were running an additional dependabot f

[2020-06-30 16:29] SgardnerPMP opened #10770 "[ANALYTICS] Research and determine "VA West Palm Beach health care" - Top Task information [ANALYTICS]"
As a Veteran web user, I need to know the Care Giver contact information and specific details, so I can quickly reach my health service goals and programs requested.

## Goal
_Compile all the Contact Data and related Health Service data required to build a clear Health Service Program page for each of the below programs at a Medical System Level._

## Objectives or Key Results this is meant to fur

[2020-06-30 16:30] AnneHurley commented on #9916
Blocked as we await URL from stakeholders.

[2020-06-30 16:37] #9053 closed

[2020-06-30 16:38] SgardnerPMP commented on #10484
Thank you Peggy,

I will review ASAP.
[image: GovernmentCIO] <http://www.governmentcio.com/>

Stan Gardner | PMP, SSGB
Sr. Product Manager
| *mobile* (775) 772-1409
| *office* (775) 772-1409
| *e.* sgardner@governmentcio.com
*Government*CIO
website <https://www.governmentcio.com/> | media
<https://governmentciomedia.com/> | services
<https://www.governmentcio.com/services> | jobs
<https://careers-

[2020-06-30 16:43] ricetj commented on #10682
ok looks like this can be closed then.

[2020-06-30 16:43] #10682 closed

[2020-06-30 16:45] lihanli commented on #10691
looks like it's working now

[2020-06-30 16:45] #10691 closed

[2020-06-30 16:46] meganhkelley commented on #10739
Hi @johnhashva just let me know when you are ready for us to schedule this! Thanks :)

[2020-06-30 16:46] meganhkelley commented on #10764
Great @mshea0606 ! Just give us a shout when you're ready to schedule :)

[2020-06-30 16:51] peggygannon commented on #9818
**6/30/2020 update**

MHV recommendations
--sent to Ngozi on 6/30/2020

[2020-06-30 16:57] #10397 closed

[2020-06-30 16:57] #10398 closed

[2020-06-30 16:58] erikphansen opened #10771 "FE BUG: Input field reverts in the middle of a contact info field update"
When updating some contact info, the edit form fields revert to the previous data in the middle of the save operation. But the correct data is saved. I'm pretty sure that this is a regression introduced by a recent change. Will dig through Git and see if I can figure out what introduced it.

![contact-save-input-bug](https://user-images.githubusercontent.com/20728956/86155362-27f05780-bab9-11ea-92

[2020-06-30 16:58] #10721 closed

[2020-06-30 16:58] delli-gatti-michael commented on #10581
Testing by submitting forms from all of the following states, generating a spool file, and ensuring that none of the submissions are routed to St. Louis (\#331) and that they are instead routed to Buffalo (\#307)
- [ ] Colorado
- [ ] Illinois
- [ ] Indiana
- [ ] Iowa
- [ ] Kansas
- [ ] Kentucky
- [ ] Michigan
- [ ] Minnesota
- [ ] Missouri
- [ ] Montana
- [ ] Nebraska
- [ ] North Dakota
- [ ] Ohio

[2020-06-30 17:03] DanielleThierryUSDSVA commented on #10735
Hi @johnhashva. Following up on slack request.

This is a little bit of a tricky one because, as you mentioned above, the "Add dependents" page doesn't include a prominent link to the 686c (it does include a link, but it's inside the accordions at the bottom of the page that speak to mail or fax.

In future iterations of form detail landing page, I think the online option will be highlighted (at l

[2020-06-30 17:03] erluti commented on #7250
Merged PR, no longer using iconv.  Potentially will have to revisit transliteration if the form consumers find issues.

[2020-06-30 17:03] #7250 closed

[2020-06-30 17:08] lwalsh617 commented on #8276
@DanielleThierryUSDSVA @mnorthuis -- Judging from keyword volume and Google search results, it doesn't appear that va pension appeals has anywhere near the traffic that disability appeals do. (I looked at the other types of appeal, too, for comparison's sake.
While this sure isn't a deep dive, the numbers are so low, I'm not sure if we should even go back to the SMEs with it. LMK WYT. Thanks!
![Sc

[2020-06-30 17:16] elder-joseph commented on #10634
Associated PR: https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/vets-website/13299

[2020-06-30 17:16] hughes-dustin commented on #10617
Waiting on changes from [10613](https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/10613). The PRs for this story have the prod flags that I need to put my changes behind.

[2020-06-30 17:20] desireeturner commented on #10578
https://github.com/department-of-veterans-affairs/vets-api/pull/4460 is merged. Moving back to in progress

[2020-06-30 17:20] DanielleThierryUSDSVA commented on #8420
Hi @tressaellen. Just checking in to let you know I'll have content for you by EOD (likely late) today. Thanks!

[2020-06-30 17:26] jenniferlee-dsva commented on #9938
Thx @DanielleThierryUSDSVA - I'll create a writing story that references the complete list of prototype mvp content here: https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/content/tier-2-content-IA-and-design/learning-center-mvp/wip-copy#list-of-content-articles-for-the-first-mvp-prototype-user-research-session

[2020-06-30 17:26] #9938 closed

[2020-06-30 17:28] ncksllvn opened #10772 "[Schema.org] [Build] Implement schema.org data for Coronavirus FAQ page content"
We recently published a schema.org JSON-LD data structure on `/coronavirus-veteran-frequently-asked-questions/` containing content we wanted to see surface on Google search results. However, we discovered that because this content is not directly represented visually on the page as DOM content, Google invalidates the data.

To fix, we should simply make a schema.org representation of the visual co

[2020-06-30 17:29] tressaellen commented on #8420
Sounds good - thank you @DanielleThierryUSDSVA

[2020-06-30 17:40] johnhashva commented on #10735
@DanielleThierryUSDSVA makes sense -- but look what happened when I plugged the new URL in the Best Bets tool ... I'm guessing this means you can't use the same referral URL for multiple Best Bets (which makes no sense at all).   So for now, I'm linking this best bet to the form page  https://www.va.gov/find-forms/?q=21-686c.   Am I missing something you think?

<img width="891" alt="Screen Shot 2

[2020-06-30 17:48] lwalsh617 opened #10773 "Consider adding "After you apply" consistently to hub pages"
## Issue Description

Va.gov users visiting hub pages need to know that there's a tool for checking their claim/appeal status, and that, if they get a claim decision they disagree with, there's a course of action for them.

As part of the work on [8276 Decision Review pages entry points](https://github.com/department-of-veterans-affairs/va.gov-team/issues/8276), IA recommended that we consider add

[2020-06-30 17:49] jonwehausen commented on #9991
Hi @shawkey-daniel ,

Sure, that is fine -- could we use `'accordion-size': 'full-content-width'? This will let us know the accordion spans the entire width of the body content.

Thank you sir, we really appreciate it.

[2020-06-30 17:51] dneel-bah opened #10774 "STEM: Add Entitlement Remaining alert to 10203 introduction page"
As an applicant, I need to view my remaining entitlement while completing the 10203 so that I can determine if I should complete the application based on my eligibility.

## Assumptions:
1. This work is done behind feature flag #7271.
2. The alert requires for the user to be authenticated.
3. The remaining entitlement data is retrieved using the EVSS service documented [here](https://github.com/de

[2020-06-30 17:54] delli-gatti-michael commented on #10581
Local testing complete

[2020-06-30 17:55] jenniferlee-dsva opened #10775 "Writing ticket for prototype: VA.gov account and profile learning center articles"
### Writing ticket for prototype: VA.gov account and profile learning center articles

**AC:**
- [x] Draft content ready for Liz to use for her prototype
- [x] Content is in  formats using new LC templates, a mix of formats

**VA.gov account and profile articles needed for user test**

1. Sign in FAQs [already exists - just putting it into LC template]
2. Change your address on file with VA - FAQs

[2020-06-30 18:00] erikphansen opened #10776 "FE BUG: "you have unsaved edits" sometimes shown when it shouldn't be"
- Edit a phone number
- Save the change
- Try to leave the Profile
- Boom: you are told you have unsaved edits

This seems to only affect phone numbers, not addresses or email address

![warning.gif](https://images.zenhubusercontent.com/5b4d0309a8d8be5bda39303e/13577cf7-6ad4-47a3-9ffd-07b5b604b3fd)

[2020-06-30 18:03] sanlouise commented on #10776
After successfully saving an edited phone number, a bunch of actions are fired that should be fired. `hasUnsavedEdits` is set to true when UPDATE_PROFILE_FIELD is called, causing this bug.

![image.png](https://images.zenhubusercontent.com/5e9d15aab51cccb259a8a6c7/0f567c8c-299e-449c-8f2e-567bf235dfcd)

[2020-06-30 18:05] johnhashva commented on #10739
@meganhkelley have two options for this so welcome your input here:

- Option 1: Schedule a "everyone involved" project kickoff, including the key players from Platform/Collab Cycle.
OR
- Option 2: Schedule a smaller session for Platform/Collab Cycle -- and separate one for the implementation team -- CMS, Public Websites.

In both cases, next week looks more feasible for scheduling at this point (

[2020-06-30 18:08] delli-gatti-michael commented on #10744
This is now on Staging. Closing this issue

[2020-06-30 18:08] #10744 closed

[2020-06-30 18:09] delli-gatti-michael commented on #9873
@department-of-veterans-affairs/uxbah This is on staging and ready for review

[2020-06-30 18:11] jbritt1 commented on #6670
AWS Access:
User: Filip Fafara
COR: Courtney Bethea
Approver: @Jeff-Hayter

[2020-06-30 18:21] jenniferlee-dsva opened #10777 "Writing ticket for prototype: Disability learning center articles"
### Writing ticket for prototype: Disability learning center articles

**AC:**
- [x] Draft content ready for Liz to use for her prototype
~- [ ] Content is in  formats using new LC templates, a mix of formats~
- [x] LC page has 2 CTAs: File a claim + How to file a claim

**Disability learning center**
Agent Orange page (either as individual LC pages or as one consolidated LC page)

Source:
/disabi

[2020-06-30 18:25] rileyorr commented on #10385
I've added [the research plan](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/debt-letters-mvp/research/usability-july20/research-plan.md) to GH. We'll send that over with the conversation guide next sprint.

[2020-06-30 18:28] jenniferlee-dsva opened #10778 "Writing ticket for prototype: Burials learning center articles"
### Writing ticket for prototype: Burials learning center articles

**AC:**
- [ ] Draft content ready for Liz to use for her prototype
- [ ] Content is in  formats using new LC templates, a mix of formats

**Burials and memorials learning center articles**
_The following burials LC articles are already mocked up in Ryan's wireframe. @jenniferlee-dsva just needs to provide the draft copy in the LC

[2020-06-30 18:29] AnneHurley opened #10779 "Clone historic 2018 Pension-Veterans rates tables"
Tasks:
URL: https://www.va.gov/pension/veterans-pension-rates/

[ ] Clone current Pension - Veterans rates page in Drupal. Anne
[ ] Copy over rates from legacy historic page, https://www.benefits.va.gov/PENSION/rates_veteran_pen17.asp
[ ] Copy edit and doublecheck rates and new math examples. Randi
[ ] Link to cloned page at bottom of Pension - Veterans page and swap out link to legacy page. Anne

[2020-06-30 18:31] amyknox opened #10780 "Analytics Implementation for 22-10203 / 22-1995"
# Google Analytics Implementation

## What this form is for

For more information, please check out the [Google Tag Manager resources](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/analytics/google-analytics/readme.md).

An example of a completed request template can be found [here](https://github.com/department-of-veterans-affairs/va.gov-team/issues/7199). A f

[2020-06-30 18:31] jenniferlee-dsva commented on #10778
@andaleliz - [Ryan's LC wireframes ](https://app.mural.co/t/departmentofveteransaffairs9999/m/departmentofveteransaffairs9999/1588167553516/2773c854e8ff3a725a5e3ee03272b78e8519f78b) currently already have all but one of these burial LC articles as example content.

Do you need me to provide the copy for those as a copydeck, or can you grab them from the original Sketch files?

[2020-06-30 18:33] joanneesteban commented on #9732
Another thing to add to the dashboard:
Date ranges for each of the metrics. It's currently unclear which date ranges each chart is referring to.

[2020-06-30 18:35] DanielleThierryUSDSVA opened #10781 "Debt management: Develop unauthenticated content for usability testing"
## Issue Description
Develop content for unauthenticated debt management page.

---
## Tasks
- [x] Draft unauthenticated content based on compiled FAQs; identify which FAQs may also work for authenticated content (Selina)
- [x] Review/edit content (Danielle)
- [x] Share with Mikki (IA) and debt management product team (Selina, Danielle)
- [x] Update page based on meeting (except accordion content)

[2020-06-30 18:35] jenstrickland opened #10782 "508-defect-1 ❗ Launchblocker [MOBILE]: In mobile view, content MUST not be cut off"
# [508-defect-1 :exclamation: Launchblocker](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-1)

**Feedback framework**
- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

On mobile, the search f

[2020-06-30 18:41] jenstrickland opened #10783 "508-defect-1 ❗ Launchblocker [ZOOM, MOBILE]: Content MUST not be cut off when magnified"
# [508-defect-1 :exclamation: Launchblocker](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-1)

**Feedback framework**
- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

When zoomed to 200–400%

[2020-06-30 18:47] jenstrickland opened #10784 "508-defect-2 [SCREENREADER]: Map area SHOULD be hidden from screen readers, in the current state"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

**Feedback framework**
- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

Recommendation is to wrap the map area in a div wit

[2020-06-30 18:50] AnneHurley opened #10785 "Clone historic 2018 rates page for Pension - Survivors benefits"
URL: https://www.va.gov/pension/survivors-pension-rates/

Tasks:
- [x] Clone current Pension - Survivors rates page in Drupal. Selina
- [x] Copy over rates from legacy historic page, https://www.benefits.va.gov/PENSION/rates_survivor_pen17.asp
- [x] Copy edit and doublecheck rates and new math examples. Randi

Epic: #10544

Note - No 2019 rates page yet, should also create one.

## Acceptance Crit

[2020-06-30 18:50] desireeturner opened #10786 "Full Accessibility & 508 Office Audit for Comparison Tool Estimate Your Benefits updates"
## Steps to complete the Full Accessibility & 508 Audit:
- [x] Product Manager: create issue and fill in feature name in the title and other bolded information appropriately
- [x] Practice area reviewers create sub-issues attached to this one with feedback for your team on *feature name*
- [ ] **Requesting team** completes attached feedback tickets based on definition of done included in each prac

[2020-06-30 18:51] jenstrickland commented on #10377
@mmiddaugh Additionally, this article may be of interest for your team:

https://equalentry.com/accessible-maps-on-the-web/

[2020-06-30 18:55] RLHecht opened #10787 "Updating Eligibility h3 question to be consistent across all hubs"
## User story

As a content team member I need to ensure our content is consistent across all hubs.

## Issue Description
Currently we have different wordings for the H3 at the top of our eligibility section asking Veterans if they are eligible for specific benefits. We should be consistent with our language going forward as well as what is currently on the site. It should read as follows:

H3 Am

[2020-06-30 18:56] delli-gatti-michael commented on #9876
@department-of-veterans-affairs/uxbah This is in staging and ready for review

[2020-06-30 19:05] #10759 closed

[2020-06-30 19:05] mshea0606 commented on #7561
[Product Guide Format](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/contact-center/self-service-product-guide-template.md)

[2020-06-30 19:09] DanielleThierryUSDSVA commented on #7234
Hi @lunascoop and @leahkeeler. Once we're fully aligned internally, would like to run these pages by SMEs to make sure we're all good. Leah, which SMEs have you been working with for these tools? We have our health care contacts, but want to make sure we're working with the folks involved with these specific tools. Thanks!

[2020-06-30 19:10] #10226 closed

[2020-06-30 19:11] lunascoop commented on #10327
Hi @RLHecht I added the section and tweaked a few things (which you may want to undo):

- I unbolded  some of the content.

- I was having issues w/ the aria labels for the phone numbers. The code is showing up in the preview (not sure if it should) and it seems the TTY number isn't working. I referred to the coding in the content style guide.

http://preview-prod.vfs.va.gov/preview?nodeId=713

[2020-06-30 19:18] leahkeeler commented on #7234
We work with a team from the Denver Logistic Center, and have a standing meeting on Thursdays - would you like us to send this over for them to review, go over in meeting, or you can join the meeting - nicest bunch of people ever

[2020-06-30 19:19] abuckley3385 commented on #10485
Blocked until we land scope of solution.

[2020-06-30 19:24] lunascoop commented on #7234
Sure, or I can join the meeting. If I join the meeting, do you want to cancel the one we have scheduled for tomorrow?

[2020-06-30 19:24] sporeboy commented on #10011
The prototype is functional for Veteran/service member and (the happy path) for dependents. Troubleshooting needed, byt base functionality in place: https://preview.uxpin.com/2dbde8d15bf667f5c584fe4a8a6d011cf9f0a14d#/pages/130194084

[2020-06-30 19:28] SgardnerPMP opened #10788 "[DATA-LOAD] Load data for "VA Cheyenne" - "TOP TASK" Detail Pages in CMS [Data Tech]"
## User Story or Problem Statement
As a Veteran Web user, I want immediate access to my TOP Tasks, so I can quickly access services most important to me on my health care journey.

## Goal
_Highlight TOP TASK pages with local and national information as required_

## Objectives or Key Results this is meant to further
- _Reduce Click through count by_Highlighting top tasks_

## Resources - Tools -

[2020-06-30 19:34] DanielleThierryUSDSVA commented on #7234
Thanks, @leahkeeler! That sounds perfect.

@lunascoop that would be awesome if you could represent our team at the meeting. I can join as well for backup in case questions arise, but would be great if you could talk through the pages. Thank you!

And then once the Denver folks are good with content, I can just send to the health care SMEs we typically work with for an overall perspective (they're

[2020-06-30 19:35] jenniferlee-dsva commented on #10432
Adding @rtwell  @JeffBarnesUSDS @mnorthuis  for their input also on the [conversation guide](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/content/tier-2-content-IA-and-design/learning-center-mvp/discovery-and-research/conversation-guide.md#first-task-find-article-on-a-specific-topic---x-minutes) as they were part of the original brainstorming design workshop.

[2020-06-30 19:38] billfienberg opened #10789 "[Ongoing Service] Code Review Support - Sprint 29"
Provide ongoing support for VFS teams to help with code reviews

[2020-06-30 19:39] ccruzgra commented on #9876
@delli-gatti-michael This is looking great. For the personal information, the “Your address” title should be similar to what’s being done for the “Direct deposit” title with regards to how close it is to the chapter name above and then the size of the font.

[2020-06-30 19:39] andaleliz commented on #10778
I can grab everything from the Sketch files, no need to put them in a copy deck if the content is already there.

[2020-06-30 19:39] ncksllvn commented on #10232
@bethpotts just confirming that this is still on hold? My PR isn't merged yet.

[2020-06-30 19:40] ncksllvn commented on #8396
The DevOps repo now has support for this!

As of this PR - https://github.com/department-of-veterans-affairs/devops/pull/7174

[2020-06-30 19:41] ncksllvn commented on #10291
Crosslinking to Slack thread containing design/markup suggestions - https://dsva.slack.com/archives/C011K1VSTC3/p1592853360008800

[2020-06-30 19:43] dneel-bah opened #10790 "STEM: Email SCO on form Submission"
As an Education Team Services member, I need the SCO for the school where the applicant is planning to use the STEM Scholarship emailed so that they can confirm the information necessary to complete the application.

## Assumptions:
1. This work is done behind feature flag #7271.
2. The facility code is retrieved using the EVSS service documented [here](https://github.com/department-of-veterans-af

[2020-06-30 19:44] ncksllvn commented on #10754
This is a tricky one, technically speaking. What would be the ideal way for us to weight the results? In Drupal, we could possibly add a "weight" field, where a weight of 1 would indicate that this result should be at the top of search results; 2 being just under that; and so on. We would need the Lighthouse API to be integrated with Drupal though for that data to carry over to the search app.

[2020-06-30 19:45] sonntag-adam commented on #10578
This is now showing in both https://staging-api.va.gov/flipper/features and https://api.va.gov/flipper/features

[2020-06-30 19:46] #10578 closed

[2020-06-30 19:46] ncksllvn commented on #4913
@swirtSJW or @kevwalsh I'm guessing this is still awaiting implementation in Drupal? Thinking about iceboxing it

[2020-06-30 19:49] mshea0606 opened #10791 "[FE] - Create documentation regarding how to setup/use feature flags"
## Background
Matt/Tressa need to be able to use feature flag functionality during UAT so Erik/Sandra won't have to attend all UAT sessions.

## Tasks
- [ ] Create documentation

Matt/Tressa to create an identity verified IDme account on VA.gov (production)

[2020-06-30 19:50] SgardnerPMP opened #10792 "[LOAD-DATA] Load compiled VISN-19 Data into respective Health Service Programs, Entities, and Facilities Detail pages [Data Tech]"
## VAMC - Product Outline
[VAMC-upgrade Product Outline](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/facilities/medical-centers/Project_Plan_Outline_2019.md)

## High Level User Story
As a Veteran Web User, I need clear, concise, and instructional information in plain language on all VISN 19 Medical System web sites,  so I quickly get to where I want, the dat

[2020-06-30 19:53] SgardnerPMP opened #10793 "[DATA-LOAD] Load data for "VA Montana" - "TOP TASK" Detail Pages in CMS [Data Tech]"
## User Story or Problem Statement
As a Veteran Web user, I want immediate access to my TOP Tasks, so I can quickly access services most important to me on my health care journey.

## Goal
_Highlight TOP TASK pages with local and national information as required_

## Objectives or Key Results this is meant to further
- _Reduce Click through count by_Highlighting top tasks_

## Resources - Tools -

[2020-06-30 19:56] SgardnerPMP opened #10794 "[DATA-LOAD] Load data for "VA Eastern Colorado" - "TOP TASK" Detail Pages in CMS [Data Tech]"
## User Story or Problem Statement
As a Veteran Web user, I want immediate access to my TOP Tasks, so I can quickly access services most important to me on my health care journey.

## Goal
_Highlight TOP TASK pages with local and national information as required_

## Objectives or Key Results this is meant to further
- _Reduce Click through count by_Highlighting top tasks_

## Resources - Tools -

[2020-06-30 19:57] SgardnerPMP opened #10795 "[DATA-LOAD] Load data for "VA Western Colorado" - "TOP TASK" Detail Pages in CMS [Data Tech]"
## User Story or Problem Statement
As a Veteran Web user, I want immediate access to my TOP Tasks, so I can quickly access services most important to me on my health care journey.

## Goal
_Highlight TOP TASK pages with local and national information as required_

## Objectives or Key Results this is meant to further
- _Reduce Click through count by_Highlighting top tasks_

## Resources - Tools -

[2020-06-30 19:58] SgardnerPMP opened #10796 "[DATA-LOAD] Load data for "VA Eastern Oklahoma" - "TOP TASK" Detail Pages in CMS [Data Tech]"
## User Story or Problem Statement
As a Veteran Web user, I want immediate access to my TOP Tasks, so I can quickly access services most important to me on my health care journey.

## Goal
_Highlight TOP TASK pages with local and national information as required_

## Objectives or Key Results this is meant to further
- _Reduce Click through count by_Highlighting top tasks_

## Resources - Tools -

[2020-06-30 19:58] SgardnerPMP opened #10797 "[DATA-LOAD] Load data for "VA Oklahoma City" - "TOP TASK" Detail Pages in CMS [Data Tech]"
## User Story or Problem Statement
As a Veteran Web user, I want immediate access to my TOP Tasks, so I can quickly access services most important to me on my health care journey.

## Goal
_Highlight TOP TASK pages with local and national information as required_

## Objectives or Key Results this is meant to further
- _Reduce Click through count by_Highlighting top tasks_

## Resources - Tools -

[2020-06-30 20:11] delli-gatti-michael commented on #10581
Confirmed in Staging. Closing this issue

[2020-06-30 20:11] #10581 closed

[2020-06-30 20:16] lihanli opened #10798 "ignore evss pciu errors during prefill"
if the EVSS PCIU service cannot be accessed, prefill should not return a 500 and just skip the fields retrieved from PCIU
http://sentry.vfs.va.gov/vets-gov/platform-api-staging/issues/130325/?query=is%3Aunresolved%20controller_name%3Ain_progress_forms

[2020-06-30 20:33] #10011 closed

[2020-06-30 20:34] kevinstachura commented on #10292
Yeah @luke-gcio I hear ya on that...I just would like to confirm the same. If we had the time frame to confirm the definition of what a retroactive payment is (in the eyes of the VA) then I would be happy to dig into this to clarify language, but my #1 worry is giving incorrect information. My assumption is that this is 'back-pay'. Is that how you understood this? And could we confirm this (and be

[2020-06-30 20:38] peggygannon commented on #10537
VAMC Erie content feedback

Please note, I didn't review the individual clinic pages. I focused my content review on the higher-level pages.

Chaplain services
- Suggest using contractions:
you will to you’ll
They will to They’ll
They are to They’re

----

Performance page
- Suggested rewrite quality of health care to health care quality

---

Volunteer or donate page
- Insert space btw. Community

[2020-06-30 20:38] kevinstachura commented on #10288
Hmm. I would respond with this thought - do you think it would be helpful to know what the process _will_ be for obtaining your exam result, even before you have completed a C&P exam?

[2020-06-30 20:47] peggygannon commented on #10482
@SgardnerPMP hello, content feedback for Erie can be found here: https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/10537

Please note, in the interested of time, i didn't do a content review on the individual clinic pages under Erie. I focused my review on the higher-level pages. I'm not sure if I captured all these high-level pages, s

[2020-06-30 20:51] #10533 closed

[2020-06-30 20:56] bethpottsVADEPO commented on #10232
@ncksllvn You can move forward with this! Thank you!

[2020-06-30 20:59] RLHecht commented on #10327
@lunascoop I reviewed this and fixed the issues you mentioned above. I put back in the bold copy and fixed the aria labels. Not sure what the issue was. Had you selected "Source" before typing it in?

Also, could you change the accordions that have numbered steps in it into process lists? Then I'll review it again.

[2020-06-30 21:01] mnorthuis commented on #10678
The "Connect with us"

My recommendation would be to remove the "Connect with us" box from the `/family-member-benefits` and `/service-member-benefits` hub pages. All other hubs should remain as they are.

Background info:
- box on the hub pages should be specific to the administration that owns that benefit - so all VBA benefits should have VBA links, Health care should have VHA links and burials

[2020-06-30 21:01] #10543 closed

[2020-06-30 21:03] peggygannon commented on #9854
Yes, @lenaecbYes,  I added this to ticket #8020, so I'm going to close this one.

[2020-06-30 21:03] #9854 closed

[2020-06-30 21:15] rebeccawalsh opened #10799 "[Design] DL - User Research Conversation Guide Draft 1"
## Issue Description
Create a conversation guide

---
## Tasks
- [x] Complete the conversation guide template found [here](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/debt-letters-mvp/research/usability-july20/conversation-guide.md)
- [x] Share with designer

## Acceptance Criteria
- [x] Convo guide in GH

[2020-06-30 21:17] rebeccawalsh commented on #9760
Ticket reduced because PW will be providing this content for us - we will be building out their content into our prototype for testing

[2020-06-30 21:20] golavarr-va commented on #10451
Hello, I just wanted to follow up on this request. Tom is a member of the Lighthouse DevOps team, and he's awaiting AWS Console access to be granted. Is there any update regarding this request? Is there something missing that perhaps we can help facilitate? Thank you!

[2020-06-30 21:26] rebeccawalsh opened #10800 "Usability Testing Prep Debt Letters MVP"
## Steps to complete Usability Testing Prep:
- [x] Product Manager: create this issue and fill in feature name in the title and other bolded information appropriately
- [x] Link to this issue once created in #vfs-platform-support in Slack; tag @ Megan Kelley @ AndreaHewitt @Mandi Lipka
- [x] Andrea and Megan to schedule meeting with VSP reviewers and **requesting team** attendees (as listed below)

[2020-06-30 21:30] 1Copenut commented on #10200
@delli-gatti-michael I reviewed this on Staging using IE11 + JAWS for profile ID `32002927` Bryan College of Health Sciences. The issue is still happening when I expand/collapse the sub accordions in Estimate your benefits.

[2020-06-30 21:36] peggygannon commented on #10317
hi, @DanielleThierryUSDSVA The content looks good. I have no additional edits.

On Schedule VA appointments,  saw this bullet was removed "Look up past appointments from the last 2 years" Should we update the live page right now with this change too?

[2020-06-30 21:39] meganhkelley commented on #10800
Scheduled as requested!

[2020-06-30 21:51] 1Copenut commented on #9241
I confirmed things are behaving about as well as can be expected of IE11 and focus is being returned to the button that opens modals. I'll move this one to close.
/cc @delli-gatti-michael

[2020-06-30 21:51] #9241 closed

[2020-06-30 21:55] #10287 closed

[2020-06-30 22:05] LEHigley commented on #10222
Will get the convos w/Stephen set up for next week!

[2020-06-30 22:22] mnorthuis commented on #10768
I updated the list above to also include URLs that are currently redirected to the pages we are eliminating - there about 8 legacy vets.gov URLs and 1 legacy benefits.va.gov url.

Eventually I hope to retire these older redirects, but not ready to quite yet, so we need to eliminate the double jump.

This list is vetted and ready to be implemented when your team is ready.

[2020-06-30 22:25] 1Copenut commented on #317
@rianfowler && @Clark-W-Griswold I retested this one on the Education feedback form. Our phantom behavior with IE11 + JAWS is still happening. I was able to add a piece to the puzzle however.

When I commit the following steps, it seems focus is not being moved to the next heading:

1. Turn on JAWS in IE11
2. Navigate to the staging.va.gov/education/submit-school-feedback/application-information/

[2020-06-30 22:32] mmiddaugh commented on #5128
Turned on in staging for testing

[2020-06-30 22:49] mr0sari0 commented on #10514
Making a new PR to update something that was missing from this PR.

[2020-06-30 22:50] lunascoop commented on #10781
Hi @DanielleSoCompany here is a draft version for review.
[View your VA debt Copy.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/4854733/View.your.VA.debt.Copy.docx)

[2020-06-30 22:56] jchasia-adhoc commented on #10469
Roadmap action item:
Update we will know we’re done when for External Services Documentation - Research & Discovery to the outcome / behavior change we want to see, not just a task. Maybe “when engineers aren’t complaining anymore” “when we can answer most eng questions about external services with a link to a doc”

[2020-06-30 23:29] bethpottsVADEPO opened #10801 "Add new text to 2 decision review pages **[NEEDS TO PUSH TO PROD 7/6, NOT EARLIER]**"
## Issue Description
_The following language needs to be added to these 3 decision review pages. This needs to go live July 6._

ADD TO THESE PAGES
https://www.va.gov/decision-reviews/after-you-request-review/
https://www.va.gov/decision-reviews/supplemental-claim/
https://www.va.gov/decision-reviews/higher-level-review/

NEW TEXT
If you’ve filed a request for a decision review, we may randomly se

[2020-06-30 23:50] Kimberley2019 commented on #10166
@desireeturner after review it appears to have all the required information. As long as there have been not edits to the content that has been provided, I have passed it along to the contact center to ensure that they do not have any feedback.  I have given them a response date of COB 7/3/2020.

Can you advise that no additional content has been added or updated?

[2020-06-30 23:54] Kimberley2019 commented on #10007
@leahkeeler I have passed the information along to the Contact Center for review and they have until COB on 7/1/2020 to advise if there are any questions or feedback to provide.  If not, then the information is fine as is.

One suggestion that I have is to include a table of contents as mentioned in the self service product guide documentation.

https://github.com/department-of-veterans-affairs/va

[2020-06-30 23:59] leahkeeler commented on #10007
@Kimberley2019 We found a small issue and have updated the documents and videos. Can you pull the current ones back and I will have the new uploaded later tonight. Sorry for the inconvenience but we had a late development design change that was not captured in the originals. I appreciate your help - Leah

[2020-07-01 00:02] MickinSahni commented on #5163
@ncksllvn, i tacked on 2 points to this

[2020-07-01 00:18] Kimberley2019 commented on #10007
@leahkeeler I will advise that there has been a slight update and the new documents and videos will be sent over later this week.
Thank you for getting back to me so quickly.  I will be on the lookout for the updated information.

[2020-07-01 01:00] kathleencrawford commented on #9394
![Screen Shot 2020-06-30 at 5.59.36 PM.png](https://images.zenhubusercontent.com/5d4b154f046a317fe3b7760e/7e0c801d-0a32-4bf8-a113-c5f16493f4f8)

[2020-07-01 01:00] kathleencrawford commented on #9394
![Screen Shot 2020-06-30 at 5.59.48 PM.png](https://images.zenhubusercontent.com/5d4b154f046a317fe3b7760e/fbebfb06-2ce9-41ae-8d3b-104c38dada7a)

[2020-07-01 01:05] digitaldrk commented on #6968
After reviewing EVSS code, we feel good about our approach.

All of the VNP calls are easy. They “always” work so long as required fields are populated.

If a VNP call fails before `insertBenefitClaim`, we have a few options. We can re-do the whole thing (this is default in jobs) or we can add retries. Not /quite/ sure what the best approach is but both are super easy to implement. We’ll think abo

[2020-07-01 01:31] digitaldrk commented on #10370
😎

![image.png](https://images.zenhubusercontent.com/5e62b7b08eb909e3dc9d38f7/cf9d30c4-cd60-4d61-8004-f2aaed71dea9)

[2020-07-01 03:05] DanielleThierryUSDSVA commented on #8420
Hi @tressaellen. Recommended content below. I'm confirming with our engineers about the widgets and editability tomorrow morning, and will post update then.

## How do I change my address in my VA.gov profile?

You can change your mailing and home addresses in your profile's **Personal and contact information** section. To do this, you need to be signed in to VA.gov with a verified account.

### [

[2020-07-01 05:18] SgardnerPMP opened #10802 "[ENGINEER] Create and/or Clone all nodes required for VA Montana System WITH NO menu [BE]"
## User Story or Problem Statement
As a Veteran Web user, I need a easier and more efficient site, so I can quickly get to my objective and complete my journey on the local VA.Gov/MC website.

## Goal
_Implement required va.gov webpages_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran web user_
- _Reduce Click through count by_Highlighting

[2020-07-01 05:24] SgardnerPMP opened #10803 "[ENGINEER] Create and/or Clone all nodes required for VA Western Colorado (Grand Junction) WITH NO MENU [BE]"
## User Story or Problem Statement
As a Veteran Web user, I need a easier and more efficient site, so I can quickly get to my objective and complete my journey on the local VA.Gov/MC website.

## Goal
_Implement required va.gov webpages_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran web user_
- _Reduce Click through count by_Highlighting

[2020-07-01 11:39] lunascoop commented on #10327
@RLHecht I changed the numbered steps into process lists. It's ready for review.

[2020-07-01 12:03] mshea0606 opened #10804 "AE - Sprint 25"
# Priorities
1. **Be ready for QA by next sprint**
2. Call Center Product Guide
3. Update documentation for Profile 2.0 (**Only move on to this if call center guide is done**)
4. If time, move on to logged-in homepage work

## Profile 2.0
### PM
Submit/Finalize requests for QA/508 reviews, Finish Call Center Product Guide, Update documentation
- [x] Submit request for Staging review #10764
- [ ] [

[2020-07-01 12:33] mshea0606 commented on #7561
[Slack convo re formatting] https://dsva.slack.com/archives/C909ZG2BB/p1593542213326500

[2020-07-01 12:37] desireeturner commented on #10203
From @amyknox: We confirmed with EDU on Monday that it is Pell Grants. I think we can go ahead and just add the word "Grants" onto the end of that label (see below) and make the same adjustment to the heading of its Learn more modal.
**Scholarships (excluding Pell Grants)**

[2020-07-01 12:44] desireeturner commented on #10166
@Kimberley2019 that is correct. No additional content has been added or updated.

[2020-07-01 13:03] dneel-bah commented on #9699
@mnorthuis We have some questions/confirmation regarding the breadcrumb.

**Home** link: https://staging.va.gov/
**Education and training** link: https://staging.va.gov/education/
**Other education benefits**:
    - Should this link here: https://staging.va.gov/education/other-va-education-benefits/ ?
    - If that is the correct page, should the breadcrumb be: "Other VA education benefits"
**Roge

[2020-07-01 13:04] stephenBarrs commented on #9608
The non-sighted user is not using an Android device.  We have asked the 508 group to provide feedback on Android testing and expect results this week.

[2020-07-01 13:05] kevwalsh commented on #4913
@ncksllvn are you thinking about this in the context of Forms or some other PW product?

[2020-07-01 13:24] #4783 closed

[2020-07-01 13:25] dneel-bah opened #10805 "STEM: Include 10203 submissions in the Daily Spool Report"
As an Education Services Team member, I need the 10203 submissions included in the daily spool report so I can perform my duties with accurate and up to date information once the 10203 has launched.

## Assumptions:
1. N/A

## Acceptance Criteria
1. The following data is added to the daily spool report for each 10203 submission:
    a. Claimant Name
    b. Veteran Name
    c. Confirmation #
    d.

[2020-07-01 13:28] mshea0606 opened #10806 "[Design] Update Documentation"
## Background
Prior to launching Profile 2.0 we would like to have all documentation up to date.

## Tasks
- [x] Update design sections of the product outline
- [x] Add most up-to-date sketch file to Github
- [x] In design README, add links to the InVision prototypes
- [x] If you were a designer onboarding to this product, what documentation would you want?

[2020-07-01 13:29] leahkeeler commented on #8654
duplicate ticket

[2020-07-01 13:29] #8654 closed

[2020-07-01 13:30] RLHecht commented on #10327
@lunascoop This looks great, thank you! @DanielleThierryUSDSVA This is ready to go when we are. I'll move this to validate and we can publish when Profile 2.0 launches.

[2020-07-01 13:30] leahkeeler commented on #6594
Moved to backlog - revisit load testing once live

[2020-07-01 13:48] ccruzgra commented on #10507
Testing scenario 1 prototype: https://bahdigital.invisionapp.com/share/69IAE8ZFXVP
Scenario 2: https://bahdigital.invisionapp.com/share/2YIAE9WG7FM
Scenario 3: https://bahdigital.invisionapp.com/share/RQIAE9YDK67

[2020-07-01 13:52] johnhashva commented on #10735
Confirmed this Top Recommendation is now linking to the form page https://www.va.gov/find-forms/?q=21-686c.   At same time, am following up with Search.gov to validate if the error shown above (_URL is already boosted_) means we it is not possible to use the same referral URL for multiple Best Bets.

<img width="755" alt="Screen Shot 2020-07-01 at 9 52 18 AM" src="https://user-images.githubusercon

[2020-07-01 13:52] #10735 closed

[2020-07-01 13:57] #10519 closed

[2020-07-01 13:57] jenniferlee-dsva opened #10807 "Review new Foresee cookie to make sure it doesn't mess up header injections"
### Review new Foresee cookie to make sure it doesn't mess up header injections

**Summary:**

- Foresee is rolling out an update to the cookies they use.
- This might or might not affect sites that receive the header injection.
- Needs review by VA.gov engineering to confirm it doesn't or that no updates are needed in the injection code.

@KevinMHoffmanUSDS @drorva  I'm not sure if this belongs w

[2020-07-01 14:00] #10375 closed

[2020-07-01 14:01] dmccurdybah commented on #9874
PR: https://github.com/department-of-veterans-affairs/vets-website/pull/13343

[2020-07-01 14:01] ncksllvn commented on #4913
It would be an improvement to Forms but I think this would make the blue boxes available globally

[2020-07-01 14:11] dneel-bah opened #10808 "STEM: Update YTD Report Format and Distribution"
As an Education Services Team member, I need the 10203 submissions included in the daily YTD report so I can perform my duties with accurate and up to date information once the 10203 has launched.

## Assumptions:
1. N/A

## Acceptance Criteria
1. 3 New columns are included in the YTD reports:
     a. Fiscal Year Submissions (Ex. Header: 2018-10-01..2019-08-08 23:59:59 UTC)
     b. Submitted (Ex.

[2020-07-01 14:18] mnorthuis commented on #9699
@dneel-bah Answers to your questions, let me know if you want to talk through any of this or if anything isn't clear.  All of this will be detailed out in the final IA work as well, which isn't typically complete until all research is done.

**Other education benefits**
- Yes, it should link here: https://staging.va.gov/education/other-va-education-benefits/
- Yes, thank you for catching the corre

[2020-07-01 14:22] mchelen-gov commented on #9407
https://github.com/department-of-veterans-affairs/vets-website/issues/8391

[2020-07-01 14:22] batemapf opened #10809 "implement NY customization"
**Todo:**
- [x] get list of facility ids

**AC:**
All users at NY state facilities will see the following question:

[2020-07-01 14:24] dneel-bah opened #10810 "CT-Search: Remove 'gibct_search_enhancements' feature flag"
As a developer, I need to remove the feature flag for the free text search enhancements because it will not be disabled going forward.

## Assumptions:
1. The feature flag was configured as part of story #10615.
3. This functionality has gone through UAT with EDU and been signed off on as of 09/03.
4. This functionality has been turned on as of 09/10 and no issues have been encountered.

## Accept

[2020-07-01 14:40] leahkeeler opened #10811 "[Backend] DL- DLC API Debt must match letter in VBMS - Story Modified"
## Issue Description
A veteran can have one or many debts that are passed in DMC API to be displayed on Summary Page. A veteran will have the ability to download the debt letter that is associated with a specific debt summary.

---
## Tasks
- [ ] _Identify data element in DMC API  that is tied to specific debt letter in vbms
- [ ] _Work with DMC to modify API , if needed
_ [ ] _ add variable in AP

[2020-07-01 14:41] #7238 closed

[2020-07-01 14:41] #10370 closed

[2020-07-01 14:41] #6968 closed

[2020-07-01 14:42] dneel-bah opened #10812 "STEM: Remove 'edu_benefits_stem_scholarship' feature flag [DRAFT]"
As a developer, I need to remove the feature flag for 10203 form because it will not be disabled going forward.

## Assumptions:
1. The feature flag was configured as part of story #7271.
2. This functionality has been reviewed by UX as of [TBD].
3. This functionality has gone through UAT with EDU and been signed off on as of [TBD].
4. This functionality has been turned on as of [TBD] and no issue

[2020-07-01 14:42] jason-gcio commented on #9394
🎉

[2020-07-01 14:42] #9394 closed

[2020-07-01 14:43] alexpappasoddball opened #10813 "Initial Audit of Developer Focused Documentation"
## Description

This will be the first task in focusing on developer documentation as a collection for VFS teams.  This task will be to go through our exisiting documentation and make note/organize what we have in the different locations and understand how it could be leveraged as a VFS facing docs.

## Questions to ask around the docs
Are they VFS facing?
Are they VSP facing?
Are they VFS and VSP

[2020-07-01 14:43] #10239 closed

[2020-07-01 14:43] Samara-Strauss commented on #8420
This content looks great to me!! Thank you, Danielle!

[2020-07-01 14:47] kevinstachura commented on #10288
Created a visual for this ticket as well:

<img width="1012" alt="Screen Shot 2020-07-01 at 10 38 49 AM" src="https://user-images.githubusercontent.com/54544300/86257731-f2ff0600-bb87-11ea-8291-5a7d0007b365.png">

However **noting that this should show up on the 'files' tab, principally, and not necessarily on the status tab as shown** (the only claim detail screenshot I had of CST - tool is down

[2020-07-01 14:49] lwalsh617 commented on #9350
@MickinSahni @bethpotts -- I believe we need to notify VA stakeholders of this redirect.

[2020-07-01 14:59] #10492 closed

[2020-07-01 14:59] delli-gatti-michael commented on #10669
TestRail test case:
https://dsvavsp.testrail.io/index.php?/cases/view/745

[2020-07-01 15:00] 1Copenut commented on #10199
@hughes-dustin Figured a couple of screenshots were the easiest way to communicate changes async. LMK if these are unclear and we can follow up.

---
![Screen Shot 2020-07-01 at 9.49.25 AM.png](https://images.zenhubusercontent.com/5ac217b74b5806bc2bcd3fc8/b3818f5d-b240-431d-9405-b7c99b4941f5)

---
![Screen Shot 2020-07-01 at 9.55.32 AM.png](https://images.zenhubusercontent.com/5ac217b74b5806bc2bcd

[2020-07-01 15:00] delli-gatti-michael commented on #10669
Local testing complete

![Screen Shot 2020-07-01 at 10.57.47 AM.png](https://images.zenhubusercontent.com/5c07f000391a6f6357adc430/d8771c8b-cb0d-4178-90cd-5068836eae38)

[2020-07-01 15:01] jason-gcio opened #10814 "Draft proposal for display of bio data in forms"
### User story
As a user of VA.gov forms, I need to see what VA knows about my biographical info, and what to do if there are errors, so that I can address incorrect info in my record.

### Situation
The  VA.gov form system has three ways to display/collect biographical data about a user:
- Blank fields for unauthenticated users
- Static, uneditable info for authenticated users
- Pre-filled, edita

[2020-07-01 15:02] tressaellen commented on #8420
Thanks @DanielleThierryUSDSVA ! This all looks great, here are screenshots for the design.  The only question I have is with the [verify your identity] widget, you've changed the button from 'Verify **my** identity' to 'Verify **your** identity' - do you suggest that we change that on the LOA1 screen as well? (That screen has the same alert)

[sign in to VA.gov]

![Screen Shot 2020-07-01 at 8.52.5

[2020-07-01 15:02] annaswims commented on #9291
https://github.com/department-of-veterans-affairs/vets-api/issues/4461

[2020-07-01 15:05] #10674 closed

[2020-07-01 15:06] cvalarida opened #10815 "Reassess pulling out registry.json"
## Background
Every application had a single `manifest.json` file that included information for both the application build and the content build.
**Application build data**
- `entryFile`
- `entryName`

**Content build data**
- `rootUrl`
- `template`
- `appName`

Once we separate the content build out of `vets-website`, that build will no longer have access to the data needed to create the React ap

[2020-07-01 15:10] dneel-bah opened #10816 "EDU: Remove 'route_st_louis_rpo_to_buffalo_rpo' feature flag [DRAFT]"
As a developer, I need to remove the feature flag for the RPO routing updates because it will not be disabled going forward.

## Assumptions:
1. The feature flag was configured as part of story #10578 .
2. This functionality has gone through UAT with EDU and been signed off on as of [TBD].
3. This functionality has been turned on as of [TBD] and no issues have been encountered.

## Acceptance Crit

[2020-07-01 15:11] thilton-oddball commented on #10813
https://docs.google.com/spreadsheets/d/1CHhM0LSrOzecRg70lAivM5f8wA4Kwhv4e8wy7QOKXWI/edit?usp=sharing

[2020-07-01 15:13] #10640 closed

[2020-07-01 15:13] delli-gatti-michael commented on #9876
The fix for the heading issue is on the following PR:
https://github.com/department-of-veterans-affairs/vets-website/pull/13344

[2020-07-01 15:13] bmcgrady-ep commented on #10013
I've reviewed the data in Non-Production Views and started adding the following filters to the views:
- Global - Add trailing slash
- Global - Lowercase all URI for consistency

[2020-07-01 15:13] #10309 closed

[2020-07-01 15:17] jenstrickland commented on #10743
@ala-yna Please let me know when your team has checked all the boxes under the Required accessibility tests, and then I will conduct the full audit and send to the 508 Office. Grazi!

[2020-07-01 15:17] ccruzgra commented on #9873
Just saw the screenshot in the PR, and it looks good. @JenLJ?

[2020-07-01 15:18] ccruzgra commented on #9876
Just saw the screenshot in the PR, and it looks good. @JenLJ?

[2020-07-01 15:18] leahkeeler commented on #10007
@Kimberley2019 The links above have been updated. Please let me know if you have any issues downloading the video as it exceeds the github size limits and we linked it to slack

[2020-07-01 15:19] delli-gatti-michael commented on #9873
### Spacing issue before:

![Screen Shot 2020-07-01 at 11.17.45 AM.png](https://images.zenhubusercontent.com/5c07f000391a6f6357adc430/59aa7666-75b7-43fc-a680-002ed35354b7)

### Spacing issue after:

![Screen Shot 2020-07-01 at 11.17.51 AM.png](https://images.zenhubusercontent.com/5c07f000391a6f6357adc430/cb1216e9-de98-4b18-8af1-4fa3531dca3e)

[2020-07-01 15:19] alexpappasoddball commented on #9578
@omgitsbillryan to review

[2020-07-01 15:22] mchelen-gov commented on #9407
https://github.com/department-of-veterans-affairs/va.gov-team/issues/1682

[2020-07-01 15:22] delli-gatti-michael commented on #9876
## Heading issue before
![Screen Shot 2020-07-01 at 11.20.47 AM.png](https://images.zenhubusercontent.com/5c07f000391a6f6357adc430/17eb4bb7-0393-43da-baaa-062992d39f8c)

## Heading issue after
![Screen Shot 2020-07-01 at 11.20.53 AM.png](https://images.zenhubusercontent.com/5c07f000391a6f6357adc430/47283ad5-4ac9-4017-9a13-5a220dc15445)

#Direct deposit heading for reference
![Screen Shot 2020-07-0

[2020-07-01 15:26] JenLJ commented on #9876
@delli-gatti-michael Spacing issue looks fixed!

[2020-07-01 15:30] #10295 closed

[2020-07-01 15:32] kevwalsh commented on #4913
@ncksllvn i discussed this with @jenniferlee-dsva briefly this morning, it's in the icebox for now.

[2020-07-01 15:32] jason-gcio opened #10817 "Implement File Upload"
## Goal
We need to have document/ file upload implemented into the 686 so that files from the Veteran can be uploaded and attach to their submission.

## Tasks
- [x] Check with BAM1 to see if the frontend code needs to change, find someone to talk to
- [x] Consider checking in again with platform
- [x] Create an endpoint for uploading files
- [x] Implement the file upload tasks

## Acceptance Crit

[2020-07-01 15:34] jason-gcio commented on #10392
Micah has requested a few changes because of a file change, need the original

[2020-07-01 15:35] jenniferlee-dsva commented on #10414
I'm closing this ticket, as the FE approach has been determined. Will create another ticket for the actual FE work. Per biweekly sync with Lighthouse and Drupal, we'll start this work after CMS preview work (PW) and completing forms search mvp 1.0 (Lighthouse API data call + PW FE ).

[2020-07-01 15:35] #10414 closed

[2020-07-01 15:43] mshea0606 opened #10818 "[PM] Update Profile 2.0 documentation"
## Background
Prior to launching Profile 2.0, we want to have all documentation complete and updated.

## Tasks
- [ ] Update product outline
- [x] Update items in product folder
- [x] Update use cases/TestRail documentation

[2020-07-01 15:49] erikphansen commented on #10771
I confirmed that this happens for phone numbers, addresses (once it passes the address validation and makes the PUT call to update the address), and email address

[2020-07-01 15:49] joanneesteban commented on #7988
@bmcgrady-ep to spot check domains after @bsmartin-ep has the container in GTM set up.

[2020-07-01 15:51] jenniferlee-dsva opened #10819 "Make the FE form detail landing pages using static approach"
### Make the FE form detail landing pages using static approach

**aka Form detail pages can be published to all environments**
The current state of the detail page is it can be previewed, but not published. This accomplishes the publishing step

---
**User story:**
As a Veteran, if I do a search for a form on Google, I want to see a form page that gives me contextual information including if ther

[2020-07-01 15:52] delli-gatti-michael commented on #10634
Local testing complete

[2020-07-01 15:55] Clark-W-Griswold commented on #317
Associated PR:
https://github.com/department-of-veterans-affairs/vets-website/pull/13314

[2020-07-01 15:59] psanders86 opened #10820 "Review 10-10CG revisions/expansion for regulatory changes"
## Issue Description
I want to document the differences between the current and revised version of the paper 10-10CG form, identify how the 10-10CG online form will be affected by program expansion and regulatory changes.

---
## Tasks
- [x]  Review revised version of the paper form and document differences
- [x]  Create a spreadsheet that outlines affected portions of the online form
- [x]  Make

[2020-07-01 16:01] rianfowler opened #10821 "document react testing library and mock service worker"

[2020-07-01 16:04] #10565 closed

[2020-07-01 16:14] joanneesteban commented on #8776
@mshea0606 - closing this ticket. We can reopen if this needs editing!

[2020-07-01 16:14] #8776 closed

[2020-07-01 16:15] Kimberley2019 commented on #9744
@jason-gcio Any updates?

[2020-07-01 16:20] jason-gcio opened #10822 "Static Bio Info Team Meeting"
## Goal
Platform Design folks would like to see a proposal put together that outlines the use cases and what is optimal and what fallbacks there might be.

## Considerations
- Two main use cases:
  - unauth
  - auth (all the data comes over, or only partial data) and what happens next?  Overall they should not be excluded but we need navigate that

## Tasks
- [ ]  Schedule and attend a meeting wit

[2020-07-01 16:22] mchelen-gov commented on #9407
Super long slack discussion about this: https://dsva.slack.com/archives/CBU0KDSB1/p1593611301102000

[2020-07-01 16:23] jason-gcio opened #10823 "Produce Flowchart for CH31 Wizard"
## Goal
Per the stakeholders input from Steve, develop a flowchart that describes what is intended.

## Considerations
[Convo with screens](https://dsva.slack.com/archives/CLY6Q69RV/p1593469644404100)

## Tasks
- [x] Develop a flowchart of the CH31 wizard

## Acceptance Criteria
- [x] A flowchart has been shared for feedback from stakeholders/ Steve

`Next steps`
- mockups
- prototype as approved

[2020-07-01 16:37] drorva commented on #2990
This is still an issue. Need to have it resolved.
Note that we need the full entityUrl, not just the breadcrumb

[2020-07-01 16:40] mnorthuis commented on #10482
IA feedback:

**The breadcrumb**
In general, it seems the breadcrumb is not functioning right at all, but I don't know what requirements your team defined for the breadcrumb so I can't speak to what is correct or what is wrong, but here are a few examples...
- On the main page, the breadcrumb says "Home" but doesn't link anywhere
- On several pages, the "VA Erie health care" option is not clickabl

[2020-07-01 16:40] lenaecb commented on #9150
@1Copenut - I have another new version of our guide. I've put it through the accessibility checker in Word, but wanted you to get it a pass over too.

How would you like me to send it to you? (it's too big to drop in here)

[2020-07-01 16:43] f1337 opened #10824 "Access for Michael Fleet"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Add a comment @department-of-veterans-affairs/vsp-operations to ping the operations team
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please

[2020-07-01 16:50] jason-gcio opened #10825 "Establish Release Plan for 686"
## Goal
Part of the procedures for the Privacy and Security Review and launching an application to prod on VA.gov involves establishing a release plan.

## Tasks
- [x] Review the release plan and update with research plan

## Acceptance Criteria
- [x] Link to the release plan for the 686 in the features GH folder

[2020-07-01 16:55] luke-gcio opened #10826 "[Launch] BDD: Pre- and Post- Launch BDD Monitoring, Fixes, and Final Changes (Sprint 25)"
## Issue Description
Placeholder story for monitoring and making fixes to BDD right before, during, and after launch.  We will carve off specific stories from here.

## Acceptance Criteria
- [ ] Stories carved off and estimate updated

## How to configure this issue
- [x] **Attached to a Milestone** (when will this be completed?)
- [x] **Attached to an Epic** (what body of work is this a part of?)

[2020-07-01 16:56] rianfowler commented on #1099
https://rushjs.io/pages/intro/welcome/

[2020-07-01 17:01] lihanli opened #10827 "[BE] fix debts api staging connection"
/v0/debts is returning 503 errors in staging but works in dev

[2020-07-01 17:01] #10824 closed

[2020-07-01 17:02] #10297 closed

[2020-07-01 17:05] #8705 closed

[2020-07-01 17:08] hughes-dustin commented on #10199
PR: https://github.com/department-of-veterans-affairs/vets-website/pull/13349
Branch: bah-10199-b

[2020-07-01 17:12] jbritt1 commented on #10824
SOCKS access granted. Please continue with [the guide](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/engineering/internal-tools.md#configure-the-socks-proxy) to establish a connection to SOCKS proxy.

[2020-07-01 17:12] hughes-dustin commented on #10199
Aria-live polite will wait for the current thing to stop (in this case the focus to the sub-accordion button), then read the live region (the Estimate Benefits fields being updated).

[2020-07-01 17:15] #10160 closed

[2020-07-01 17:21] micahchiang opened #10828 "686 Punch List - Form Field Title Updates"
## Description
There are some remaining items on the 686 punch list that require bolded words in different form field titles of the 686. These should be completed and checked off the punch list in this ticket.

## Considerations
- Bolding individual words in a form field title may require custom title components.
- [Punch list](https://github.com/department-of-veterans-affairs/va.gov-team/blob/mas

[2020-07-01 17:26] jbalboni commented on #10595
I did a check of all the cdw facilities, to make sure their site ids were within our ranges. They all were within our range.

I'm going to check against the facilities api list of facilities if I can get that data, too.

[2020-07-01 17:26] SgardnerPMP opened #10829 "[ANALYTICS] Research and document Facility page information for "VA Bay Pines" health care facilities"
## User Story or Problem Statement
As a Veteran Web user, I want to see the local Faculties page, so that it highlights travel, parking, lodging, local amenities, hours of operation, health services, and non-health services offered.

## Goal
_Highlight the Individual FACILITY'S Page with veteran needed information_

## Objectives or Key Results this is meant to further
- _Increase overall quality

[2020-07-01 17:27] DanielleThierryUSDSVA commented on #8420
Thanks, @Samara-Strauss @tressaellen! Yes, if we can change that across the board, that would be great. Thanks!

[2020-07-01 17:28] micahchiang opened #10830 "686 Punch List - Update Order of 686 Options & Adjust Radio Default"
## Description
There's an item on the 686 punch list for re-ordering the list of options on the 686 options selection page. This should be updated in this ticket.

## Considerations
- [Punch list](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/ebenefits/features/view-update-dependents/research-design/text-revisions/686-punch-list-0420.md)
- This requires

[2020-07-01 17:29] SgardnerPMP opened #10831 "[ANALYTICS] Research and document Facility page information for "VA Caribbean" health care facilities"
## User Story or Problem Statement
As a Veteran Web user, I want to see the local Faculties page, so that it highlights travel, parking, lodging, local amenities, hours of operation, health services, and non-health services offered.

## Goal
_Highlight the Individual FACILITY'S Page with veteran needed information_

## Objectives or Key Results this is meant to further
- _Increase overall quality

[2020-07-01 17:29] MickinSahni commented on #5589
No longer blocked (@MickinSahni to figure out how to remove the ZH blocker).

Confirmed removal of (/vaforms) from robots.txt

[2020-07-01 17:29] #5589 closed

[2020-07-01 17:31] SgardnerPMP opened #10832 "[ANALYTICS] Research and document Facility page information for "VA North Florida" health care facilities"
## User Story or Problem Statement
As a Veteran Web user, I want to see the local Faculties page, so that it highlights travel, parking, lodging, local amenities, hours of operation, health services, and non-health services offered.

## Goal
_Highlight the Individual FACILITY'S Page with veteran needed information_

## Objectives or Key Results this is meant to further
- _Increase overall quality

[2020-07-01 17:31] f1337 commented on #10824
Thank you @jbritt1 !

[2020-07-01 17:32] bethpottsVADEPO commented on #8306
Update: Beth attended last week's larger VBA PCPG meeting and showed the main page. It wasn't the right venue for taking feedback. We need a separate meeting for that.

Next step: Beth to set up a meeting to go over the main page rather than waiting for the peripheral pages with mentions to come back to us with feedback.

[2020-07-01 17:32] MickinSahni commented on #10251
Validated internally locally

[2020-07-01 17:32] #10251 closed

[2020-07-01 17:32] MickinSahni commented on #10252
Validated internally on local

[2020-07-01 17:32] #10252 closed

[2020-07-01 17:32] MickinSahni commented on #10253
Validated internally on local

[2020-07-01 17:32] #10253 closed

[2020-07-01 17:33] MickinSahni commented on #10248
Validated internally on local

[2020-07-01 17:33] #10248 closed

[2020-07-01 17:33] MickinSahni commented on #10250
Validated internally on local

[2020-07-01 17:33] #10250 closed

[2020-07-01 17:33] MickinSahni commented on #10261
Validated internally on local

[2020-07-01 17:33] #10261 closed

[2020-07-01 17:34] #10259 closed

[2020-07-01 17:34] #10258 closed

[2020-07-01 17:34] #10254 closed

[2020-07-01 17:34] #10700 closed

[2020-07-01 17:34] #10266 closed

[2020-07-01 17:34] #10262 closed

[2020-07-01 17:34] #10263 closed

[2020-07-01 17:34] #10264 closed

[2020-07-01 17:34] #10265 closed

[2020-07-01 17:34] MickinSahni commented on #10282
Landing pages are complete in Drupal draft form

[2020-07-01 17:34] #10282 closed

[2020-07-01 17:35] bethpottsVADEPO commented on #9270
7/1: Anne and Beth met with SMEs Maxine and Raleigh to show a potential reorganization of the page to account for the significant changes to home loan limits. Confirmed that the reorg is a good approach for Veterans. Next step is to put those changes into drupal in draft form and share the edits/updates with SMEs.

[2020-07-01 17:36] MickinSahni commented on #9163
#10772 - follow-on work re this ticket.

Closing this particular ticket out.

[2020-07-01 17:36] #9163 closed

[2020-07-01 17:36] micahchiang opened #10833 "686 Punch List - Deselect Radio Button in Stepchild Flow"
## Description
There's an item in the 686 punch list for changing the default behaviour of the radio button so that it's deselected on initial page load. This should be done in this ticket.

## Considerations
- [686 Punch list](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/ebenefits/features/view-update-dependents/research-design/text-revisions/686-punch

[2020-07-01 17:37] MickinSahni commented on #9354
Carrying to sprint 25

[2020-07-01 17:39] luke-gcio commented on #10040
@peggygannon Are you still working on the content review? We moved this into the next sprint in case you are.

[2020-07-01 17:40] jason-gcio opened #10834 "Form Submission Load Testing (FE and BE)"
## Goal
We need to determine what happens for load testing from both FE and BE perspective.

## Considerations
- What are our limits in general?
- What are the limits wrt: jobs
- Can this be a platform service?

## Tasks
- [x] Connect with BAM1 on what gets done from a load testing perspective with kicking off `n` number of jobs
- [x] Ask platform on recommended procedures: is it necessary to do t

[2020-07-01 17:40] MickinSahni commented on #10450
Next step: dry-run of delivering rates (via spreadsheet) for 2018 with stakeholders

Carrying to sprint 25

[2020-07-01 17:41] luke-gcio commented on #10444
Continuing to track this retro item into the next sprint (25).

[2020-07-01 17:42] MickinSahni commented on #10317
@DanielleThierryUSDSVA does this mean we can close this out.

#10618 is blocked by this one.

[2020-07-01 17:42] jonwehausen commented on #10780
Thank you @amyknox confirming receipt! Scheduled meeting for 2pm EST 7/8 to discuss.

[2020-07-01 17:43] SgardnerPMP opened #10835 "[ANALYTICS] Create new System Data documents "HEALTH SVCS PLAYBOOK-FACILITIES-CAREGIVER" for VISN-8 [BA]"
## VAMC - Product Outline
[VAMC-upgrade Product Outline](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/facilities/medical-centers/Project_Plan_Outline_2019.md)

## High Level User Story
As a Veteran Web User, I need clear, concise, and instructional language on all VISN 8 Medical System web sites,  so I quickly get to where I want, the data I require, and the s

[2020-07-01 17:43] luke-gcio commented on #10443
Continuing to track this in sprint 25.

[2020-07-01 17:43] MickinSahni commented on #7234
Removed the sprint designation from this Epic.

[2020-07-01 17:44] luke-gcio commented on #10368
Pushed into sprint 25, this was one of the lower priority items.

[2020-07-01 17:45] MickinSahni commented on #10110
Carryover to sprint 25 as we're waiting for DLC approval

[2020-07-01 17:49] MickinSahni commented on #10541
Can be closed out. Separate ticket for reviewing with SMEs (#10765)

[2020-07-01 17:49] #10541 closed

[2020-07-01 17:49] MickinSahni commented on #10327
Can be closed out

[2020-07-01 17:49] #10327 closed

[2020-07-01 17:50] micahchiang opened #10836 "686 Punch List - Update 686 Review Page"
## Description
There's an item on the 686 punch list for adding a paragraph of helper text to the form review page. This should be done here.

## Considerations
- [Punch list](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/ebenefits/features/view-update-dependents/research-design/text-revisions/686-punch-list-0420.md)
- [Review page mockup](https://xd.ado

[2020-07-01 17:50] MickinSahni commented on #9189
@jenniferlee-dsva to validate in Drupal to confirm completion
Can be carried over to sprint 25 for validate

[2020-07-01 17:51] luke-gcio opened #10837 "[Design/Research] Claims Status: Synthesize Usability Study #1"
## Issue Description
_As a UX Researcher I need to write Synthesize my research after the research is complete. The requirement is to create a Topline Summary and a Research findings report. All will be posted in GitHub_

## Issue Description
_What details are necessary for understanding the specific work or request tracked by this issue?_
_Synthesize and summarize research_
_Specifically create a

[2020-07-01 17:52] MickinSahni commented on #8544
Carrying forward to sprint 25

[2020-07-01 17:52] MickinSahni commented on #8804
Pulling into backlog until this is ready to be committed to.

[2020-07-01 17:53] MickinSahni commented on #8306
Carry over to sprint 25

[2020-07-01 17:54] MickinSahni commented on #9270
Carry over to sprint 25

[2020-07-01 17:54] jenniferlee-dsva commented on #9189
Validated in CMS. (No preview yet, so not validating FE rendering - just that the data can be added and viewed in the CMS AX.)

[2020-07-01 17:54] #9189 closed

[2020-07-01 17:55] luke-gcio opened #10838 "[Design] Claims Status: Begin Iterating on Early Design Concepts Post Usability #1 Synthesis"
## Issue Description
Preparing for the design intent review with some initial design concepts.  Make sure to pull in accessibility!

Per Kevin (smart man), we really need to spend more time talking to stakeholders and have more of the tech discovery done before we can move into a real design intent.

## Acceptance Criteria
- [ ] Ready to pull in VSP and Accessibility into initial discussions

## H

[2020-07-01 17:56] MickinSahni commented on #10232
Carryover to sprint 25

[2020-07-01 17:56] luke-gcio commented on #10033
Still have not needed this ticket but will keep it around in case something else falls out of the BDD tree when EVSS makes their final changes.  Not expected to close for a while, though.

[2020-07-01 17:57] #10607 closed

[2020-07-01 17:58] MickinSahni commented on #9914
Moving to backlog (and out of sprint 24) until we're able to prioritize

[2020-07-01 17:58] MickinSahni commented on #10592
Removing from sprint 24

[2020-07-01 17:58] MickinSahni commented on #10125
Removing from sprint 24

[2020-07-01 17:59] rileyorr opened #10839 "[Design] Review the 'Letter Details' document as the data available to display on the Debt Letters MVP tool"
## Issue Description
_Given that the team learned that the only data we'll be receiving through the API is in the 'Debt details' document, we need to dig into that document to understand what's available to display on the frontend._

---
## Tasks
- [x] _Review the 'Letter details' document_
- [x] _If necessary, compile a list of questions and/or information about the letters that need to be discus

[2020-07-01 17:59] tressaellen commented on #8420
Okay - will do! Thank you!

[2020-07-01 18:01] luke-gcio commented on #10292
"If you are expecting back payments through your intent to file date"?

[2020-07-01 18:02] batemapf commented on #10809
facility codes may be found in here:  [ny-custom-question.xlsx](https://github.com/department-of-veterans-affairs/va.gov-team/files/4859600/ny-custom-question.xlsx)

[2020-07-01 18:03] lenaecb opened #10840 "[Initiative] Same-day requests (Express Care)"
## Product Initiative Outline:
**Idea:** Create initial MVP of same day telehealth/screening requests in VAOS (aka - Express Care) using existing data flow currently used in legacy implementation of Express Care.

**Problem Statement:**
Veterans have medical needs that may either be resolved without an in-person appointment and/or want guidance about how to seek additional care for a medical conce

[2020-07-01 18:03] #10352 closed

[2020-07-01 18:05] MickinSahni commented on #8020
Removing from Public Websites sprint commitments

[2020-07-01 18:08] MickinSahni commented on #10550
Pulling into backlog until we're able to work on this

[2020-07-01 18:10] #10626 closed

[2020-07-01 18:10] karlbrown-va commented on #9533
Just wanted to add a +1 to this FR.

[2020-07-01 18:10] luke-gcio commented on #10713
@peggygannon are you ok with us putting it into the current sprint (starting today July 1)?

[2020-07-01 18:12] luke-gcio commented on #1933
Confirmed we did the original intent of the ticket - any future work will be carved off post-integration testing.

[2020-07-01 18:12] #1933 closed

[2020-07-01 18:14] peggygannon commented on #10040
Hi, @kevinstachura and @luke-gcio Yes, I'm still working on this. I've completed content for the wizard alerts (see below).

I will drop in content recommendations for the other screenshots by end of day today.

WIZARD alerts
**You’re eligible to file a BDD claim**
Based on your separation date, you can file a disability claim under the Benefits Delivery at Discharge (BDD) program. This program al

[2020-07-01 18:19] chrvalla commented on #10409
This completed.

All documents can be found here:

https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/claim-appeal-status/research/co-design-usability-June

[2020-07-01 18:19] MickinSahni commented on #10737
Pulling into Ready until ready to complete

[2020-07-01 18:21] chrvalla commented on #4188
This is completed.

All documents can be found here:

https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/claim-appeal-status/research/co-design-usability-June

[2020-07-01 18:22] #4188 closed

[2020-07-01 18:26] mr0sari0 commented on #10066
The PR for this is ready. https://github.com/department-of-veterans-affairs/vets-website/pull/13346.  This will have to be revisited once @camerontesterman is back, to make sure I'm grabbing the correct error props.

[2020-07-01 18:27] mr0sari0 commented on #10379
The PR for this is ready. https://github.com/department-of-veterans-affairs/vets-website/pull/13346.  This will have to be revisited once @camerontesterman is back, to make sure I'm grabbing the correct error props.

[2020-07-01 18:30] mnorthuis commented on #10483
IA feedback

1. There are a number of breadcrumb issues similar to what is documented in #10482

2. There are 2 "Health services" options in the left nav, one links to the main Coatesville health system page

3. All of the child pages that should be under "Health services" have the incorrect URLs and breadcrumbs. They are all up one level too high and should be nested under /health-services and th

[2020-07-01 18:30] patrickvinograd opened #10841 "Log enough info to check one-timeness of "missing UUID" condition."
We have a caveat on inbound SSO that if a user arrives and doesn't have an ID.me UUID, we will force them to re-authenticate through ID.me one time, in order to get their ID.me UUID mapped.

Business owners are aware of this caveat, but will likely want assurance that it's only happening one time per user. We don't currently have a good way of tracking that.

Acceptance Criteria:
- We can provide

[2020-07-01 18:34] chrvalla commented on #10837
This is complete and the documentation is all located here:

https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/claim-appeal-status/research/co-design-usability-June

[2020-07-01 18:36] DanielleThierryUSDSVA commented on #8420
Hi @tressaellen. Also confirmed with our engineers that we can customize the alerts as needed. Will create a new issue on our end for the changes. Thanks!

[2020-07-01 18:36] batemapf commented on #10734
content and facility ids are here: [hi-custom-question.xlsx](https://github.com/department-of-veterans-affairs/va.gov-team/files/4859787/hi-custom-question.xlsx)

[2020-07-01 18:37] luke-gcio opened #10842 "[Tech Debt] BDD: Can We Prefill Separation Date from Military History Information"
## Issue Description
Since we _can_ pull military service history we _could_ potentially pre-fill the separation date.

## Acceptance Criteria
- [ ] Figure out whether this is possible and create dev ticket(s)
---
## How to configure this issue
- [x] **Attached to a Milestone** (when will this be completed?)
- [x] **Attached to an Epic** (what body of work is this a part of?)
- [x] **Labeled with

[2020-07-01 18:49] erikphansen commented on #9774
@mshea0606 this can be validated

[2020-07-01 18:53] #10833 closed

[2020-07-01 18:57] CrystabelReiter opened #10843 "Accordion/Collapsible panel component audit"
### Description
Accordions are a list of headers that can be clicked to hide or reveal additional content.
3 types: borderless, bordered, and multi-selectable
The accordion/collapsible panel component in the sketch library, design.va.gov, and react library are out of sync.

### These are the ways this component is not synced

- The naming of the react library component is different than the sketch

[2020-07-01 19:32] mpelzsherman commented on #10513
I skipped the Design & Research orientation since I am not a designer.

I tried to log in as a test user, but the instructions did not work for me.

Since my team isn't working on authenticated parts of va.gov, I'll postpone this for now.

[2020-07-01 19:33] Samara-Strauss commented on #10230
This was actually pretty simple to figure out. Cadence and more formal details will probably be figured out as we go along:

- Initially, reach out to VEO and set up a time to talk to them and get them on board. Meet with them as needed.
- For the broader VA group, I'll start going to digital modernization counsel meetings as needed once we have some designs to share.

[2020-07-01 19:33] #10230 closed

[2020-07-01 19:35] Kimberley2019 commented on #10007
@leahkeeler Thank you for the update.  I will review and send out if there are no issues.

[2020-07-01 19:38] ccruzgra commented on #9874
@sonntag-adam UXers took a look, and this is good to go!

[2020-07-01 19:40] #9874 closed

[2020-07-01 19:42] ccruzgra commented on #9873
@delli-gatti-michael UX took a look and this looks great!

[2020-07-01 19:44] #9873 closed

[2020-07-01 19:45] #9876 closed

[2020-07-01 19:46] jbalboni commented on #10595
Same result for the VA facilities api list. All VHA facilities are within the range we've set.

[2020-07-01 19:50] #10665 closed

[2020-07-01 19:55] jbalboni opened #10844 "Express care requests disappear from list once cancelled"
Express care requests disappear almost immediately once cancelled, because they don't have date options associated with the request, so we can't do our normal logic about waiting until the latest preferred date is past.

When should cancelled express care requests disappear from the list?

[2020-07-01 19:56] delli-gatti-michael commented on #10202
local testing complete

[2020-07-01 19:58] Mottie commented on #9861
Related to/duplicate of: https://github.com/department-of-veterans-affairs/va.gov-team/issues/3825

[2020-07-01 20:00] AnneHurley commented on #10801
Production links for preview:
1. After you request a review: http://preview-prod.vfs.va.gov/preview?nodeId=3008

[2020-07-01 20:04] CrystabelReiter opened #10845 "Additional Info component audit"
### Description:
Additional info component is used in forms and on static content pages to reveal helpful content that provides contextual details about applications, processes, or steps in a form. In the expanded state of the component, the use of Headings 4-6, body text, links, ordered lists, and unordered lists are encouraged.

The additional info component in the sketch library, design.va.gov,

[2020-07-01 20:04] delli-gatti-michael commented on #10669
@department-of-veterans-affairs/uxbah This is on staging and ready for review

[2020-07-01 20:06] #10288 closed

[2020-07-01 20:13] mnorthuis commented on #10484
@SgardnerPMP  I have been unable to get into the Altoona site to review. Let me know if there's another way to get to it or when I should retry.

[2020-07-01 20:15] peggygannon commented on #10713
@luke-gcio Yes, i can slot this into this sprint.

[2020-07-01 20:31] SgardnerPMP opened #10846 "[ANALYTICS] Research and document Facility page information for "VA Miami" health care facilities"
## User Story or Problem Statement
As a Veteran Web user, I want to see the local Faculties page, so that it highlights travel, parking, lodging, local amenities, hours of operation, health services, and non-health services offered.

## Goal
_Highlight the Individual FACILITY'S Page with veteran needed information_

## Objectives or Key Results this is meant to further
- _Increase overall quality

[2020-07-01 20:33] SgardnerPMP opened #10847 "[ANALYTICS] Research and document Facility page information for "VA Orlando" health care facilities"
## User Story or Problem Statement
As a Veteran Web user, I want to see the local Faculties page, so that it highlights travel, parking, lodging, local amenities, hours of operation, health services, and non-health services offered.

## Goal
_Highlight the Individual FACILITY'S Page with veteran needed information_

## Objectives or Key Results this is meant to further
- _Increase overall quality

[2020-07-01 20:34] SgardnerPMP opened #10848 "[ANALYTICS] Research and document Facility page information for "VA Tampa" health care facilities"
## User Story or Problem Statement
As a Veteran Web user, I want to see the local Faculties page, so that it highlights travel, parking, lodging, local amenities, hours of operation, health services, and non-health services offered.

## Goal
_Highlight the Individual FACILITY'S Page with veteran needed information_

## Objectives or Key Results this is meant to further
- _Increase overall quality

[2020-07-01 20:36] kevinstachura commented on #10292
Alright, I have changed a bit of the content to fit the given context in the page and to use the terminology of back payments, which may be easier to understand for the user:

It will be dropped in here:

![CST-decision-notice](https://user-images.githubusercontent.com/54544300/86289044-f78fe280-bbb8-11ea-9202-34f44e4f9ff9.jpg)

@luke-gcio what do you think?

[2020-07-01 20:36] SgardnerPMP opened #10849 "[ANALYTICS] Research and document Facility page information for "VA West Palm Beach" health care facilities"
## User Story or Problem Statement
As a Veteran Web user, I want to see the local Faculties page, so that it highlights travel, parking, lodging, local amenities, hours of operation, health services, and non-health services offered.

## Goal
_Highlight the Individual FACILITY'S Page with veteran needed information_

## Objectives or Key Results this is meant to further
- _Increase overall quality

[2020-07-01 20:38] mnorthuis commented on #9334
Current URL | Corrected URL | Breadcrumb | Left Nav
---| --- | --- | ---
https://www.va.gov/pittsburgh-health-care/mental-health-care/ | https://www.va.gov/pittsburgh-health-care/health-services/mental-health-care/  | breadcrumb is currently correct | "Health services" should be highlighted as current location
https://www.va.gov/pittsburgh-health-care/suicide-prevention/ | https://www.va.gov/pitts

[2020-07-01 20:38] jonwehausen commented on #10124
Thank you again for your time today @mmiddaugh !

[Here is a template](https://analytics.google.com/analytics/web/template?uid=I2_z3YZnQr2JsDtcAq3Ugg) you can use to surface data around volume of visitors who went to the legacy map experience.

[2020-07-01 20:42] peggygannon commented on #6838
@DanielleThierryUSDSVA @lunascoop can this issue be closed, since work is now being tracked in 10207?

[2020-07-01 20:45] kevinstachura commented on #10292
And a version for a closed claim status - so the user can still refer back to the information:

<img width="722" alt="Screen Shot 2020-07-01 at 4 44 03 PM" src="https://user-images.githubusercontent.com/54544300/86289728-307c8700-bbba-11ea-9fb4-c793d310e1fc.png">

[2020-07-01 20:46] SgardnerPMP commented on #10484
http://altoonahealthcare.web.demo.ci.cms.va.gov/altoona-health-care/     has been rebuilt in DevShop.  Thank you.

[2020-07-01 20:49] DanielleThierryUSDSVA commented on #6838
@peggygannon Yes! Thank you.

[2020-07-01 20:49] #6838 closed

[2020-07-01 20:53] CrystabelReiter opened #10850 "Address Block component audit"
### Description:
Address blocks are status blocks of address content.

The address block component in the sketch library, design.va.gov, and react library is out of sync.

 ### These are the ways this component is not synced
The address block is not in the sketch library or react library. There is no documentation on how to use it on [design.va.gov. ](https://design.va.gov/components/address-block

[2020-07-01 20:56] jason-gcio commented on #9744
@Kimberley2019 - We have found a few other very minor text changes, once those are merged I can share the final draft of the doc

[2020-07-01 20:58] rianfowler commented on #1676
reopening for further investigation. it [appears](https://dsva.slack.com/archives/CBU0KDSB1/p1593632414154700?thread_ts=1593611301.102000&cid=CBU0KDSB1) as if the webfonts are blocking js downloads

[2020-07-01 21:09] peggygannon opened #10851 "VSP content feedback - Usability prep - Debt letters mockup"
## User story

This ticket captures VSP content feedback on Debt Letters

Protype link:  https://preview.uxpin.com/4355a6c97a71ddaf1069ec43e5dfc0ae46b79869#/pages/130133439/simulate/no-panels?mode=i

## Acceptance criteria

- [x]  VSP/Peggy provides content feedback for the form/tool and any associated static pages
- [x]  Product team incorporates feedback and/or asks follow up questions about the

[2020-07-01 21:10] tressaellen commented on #8420
Sounds great - let me know if you need anything else from me.

[2020-07-01 21:10] #8420 closed

[2020-07-01 21:14] kevinstachura commented on #10293
@luke-gcio just seeing what I might be able to do from a design/copywriting perspective - is there any guidance on the accurate timeframes here? We have two sections that would need updating:

![Screen Shot 2020-07-01 at 3 55 50 PM](https://user-images.githubusercontent.com/54544300/86291806-90c0f800-bbbd-11ea-803c-0cd9ddbe40f8.png)

The '2-12 months' (when it's sent to the board) and the '7-20 mo

[2020-07-01 21:14] DanielleThierryUSDSVA opened #10852 "Public websites support for Profile 2.0 launch"
## Purpose of this epic

To capture PW work related to supporting the launch of Profile 2.0

## Details

We want to have content ready to go by August, but we won't publish until we get the go-ahead from @Samara-Strauss @tressaellen.

[2020-07-01 21:15] DanielleThierryUSDSVA opened #10853 "Change address: Create react widgets"
## Issue Description

We need to create react widgets that we'll add to this page: https://www.va.gov/change-address/

The user will receive 1 of the 3 states below and then will go to their va.gov profile.

### [sign in: user is not signed in]

#### copy

**Please sign in to change your address**

Try signing in with your **DS Logon**, **My HealtheVet**, or **ID.me** account. If you don’t have an

[2020-07-01 21:20] peggygannon commented on #10040
@luke-gcio and @kevinstachura followup note, I would like to look at the mockup again once the alert content has been updated.

[2020-07-01 21:22] DanielleThierryUSDSVA commented on #10853
Hey, @kelsonic! This is the issue we talked about for react widgets. Not urgent - shooting for August. So I put it in Sprint 26, but feel free to pick up anytime you have time. And just let me know if you have any questions. Thanks!

FYSA @MickinSahni

[2020-07-01 21:24] Kimberley2019 commented on #9744
@jason-gcio Thank you for the update.

[2020-07-01 21:27] mmiddaugh opened #10854 "Map enhancements (Facility Locator)"
## High Level User Story
As a Veteran, I need to view relevant, accurate search results on a map so I can choose the best location for my needs.

## Context
Creating a new Facility Locator user search experience is a 4Q2020 priority.

There are a number of problems which need to be solved for our Veterans users, including:

- An upcoming data limitation which will impact the search radius
- When a

[2020-07-01 21:41] #10379 closed

[2020-07-01 21:43] mmiddaugh opened #10855 "Enhancements to Alerts/Facility operating status"
## Product Outline
[Link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/product-management/product-outline-template.md)

## High Level User Story/ies
As a _____, I need _____ so I can _____.

## Hypothesis or Bet
**If** incorporate Veteran feedback **then** it will be easier for Veterans to find and understand information about facility availability.

## Action

[2020-07-01 21:52] mr0sari0 opened #10856 "[Frontend] MDOT- Remove 5 month alerts from batteries and accessories components"
## User story

Per the design change of combining batteries and supplies, there is no need to display a 5 month alert anymore.

[2020-07-01 22:05] mr0sari0 commented on #10514
The solution implemented in the above PR did not work. Will regroup on what to try next.

[2020-07-01 22:37] cohnjesse commented on #10535
@micahchiang @digitaldrk @kathleencrawford Just wanted to clarify a couple of things on this ticket. It looks like for a form submission there really is no place for us to put Sentry code for a form submission other than in our custom `transformForSubmit` function and that function does not receive anything from the backend when it submits so there is no way for us to log a failed submission. Furt

[2020-07-01 22:41] peggygannon commented on #10538
Global feedback
- Per VA.gov style, please use contractions: you’re , they’re, they’ll, we’re
- No 1- before phone numbers
- Use sentence case for all headers,subheads, and labels

----

About page
There is TK under Research and development header. Will there be content there?

----

History page
No changes

----

Work with us page
- Under “Doing business with Coatesville medical center” header
Su

[2020-07-01 22:47] peggygannon commented on #10483
@SgardnerPMP Content feedback for Coastesville is captured here:
https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/10538

[2020-07-01 23:03] peggygannon commented on #10328
OK, thank you @toddstanich @QaysarA In that case, I've updated the signature for the overal email template above.

I still recommend using Thank you for your service for the 526EZ email, as I think it's important to acknowledge the Veteran's service.

[2020-07-02 01:06] DanielleThierryUSDSVA opened #10857 "Change address: Update Drupal page"
## Issue Description

We need to update the content on this page to support Profile 2.0 launch: https://www.va.gov/change-address/

**This will include:**

- Removing the subway map under this question: How do I change my address in my VA.gov profile?

- Adding this content beneath the question:

You can change your mailing and home addresses in your profile's **Personal and contact information**

[2020-07-02 01:08] DanielleThierryUSDSVA commented on #10857
@RLHecht No action needed on this for now. Assigning us both just to keep on our radars for Sprint 26. Thanks!

FYSA @MickinSahni

[2020-07-02 01:11] DanielleThierryUSDSVA opened #10858 "Profile 2.0 launch: Publish related updates"
## Issue Description
We need to publish relevant updates to support Profile 2.0 launch when we get the go-ahead from the authenticated experience team.

---
## Tasks
- [x] Publish updates to Change your address page
- [x] Publish updates to Sign in FAQs page (addition of connected accounts FAQs)

## Acceptance Criteria
- [x] Change your address and Sign in FAQs pages are updated on live site

---

[2020-07-02 03:03] MickinSahni commented on #8944
@lwalsh617 @DanielleThierryUSDSVA mind adding an estimate to this?

[2020-07-02 03:39] kelsonic opened #10859 "Create current content components for Cerner widgets"
# Description

![image.png](https://images.zenhubusercontent.com/5d812458c75aaf0001c430f8/dc2a9833-b0fc-4974-be16-7bc5360125cc)

There are 3 states for each Cerner page React widget content:

1. If it's production, show legacy content component
1. If it's **not** production and user is **not** Cerner, show unauth content component
1. If it's **not** production and user is Cerner, show auth content

[2020-07-02 05:08] kelsonic commented on #10859
PR is up! 🙂 Since I'm OOO tomorrow, feel free to modify as needed/desired + merge!

[2020-07-02 10:33] lunascoop opened #10860 "Update messaging on View or change dependents React Widget"
### Background
React widgets were created in ticket [#8115](https://github.com/department-of-veterans-affairs/va.gov-team/issues/8115)  for the static landing page for Form 21-686c/674 (view or change dependents). The messaging on the react widget needs to be updated to match the messaging in the screenshot below.
<img width="681" alt="Screen Shot 2020-07-01 at 5 14 07 PM" src="https://user-images

[2020-07-02 12:52] #10498 closed

[2020-07-02 13:01] #10507 closed

[2020-07-02 13:02] micahchiang commented on #10535
Thanks for looking into that, @cohnjesse! I think if we wanted to, we could create a custom submit function and pass it in to the formConfig object, something like `submit: customSubmitWithSentry`. I did some poking around and it looks like that's what's being done with the 526 [here](https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/applications/disability-benefits/al

[2020-07-02 13:06] #10509 closed

[2020-07-02 13:10] #10502 closed

[2020-07-02 13:19] DanielleThierryUSDSVA commented on #10315
# Notes from 7.1.20 meeting

**Attendees:**
- Product team (Becca , Matt, Leah, Riley)
- PW team (Beth, Danielle, Selina)
- Platforms team (Mikki, Peggy)

**Discussion:**

**- Reviewed unauthenticated content approach mockup/FAQs.** Standard tool landing page for MVP (with high-level FAQs that link off to the relevant pages on the Debt Management site for more details). Post-MVP launch, Platforms

[2020-07-02 13:43] mdewey commented on #10715
**Definition of Done**
Can we use https://developer.va.gov/explore/health to show a users health data

**Current Findings**
- I was able to build a simple web app that interacted with the API and displayed all the health information for that user. So that part is successful.

- This displays past Procedures, observations, medications, immunizations, diagnostics, conditions, and allergies.

- To us

[2020-07-02 13:48] 1Copenut commented on #3536
@desireeturner I am good with closing this issue. The new workflow to let users toggle settings and update benefits calculations inside each accordion is clear and with the last tweaks being done, will work well across all screen readers.

/cc @KevinMHoffmanUSDS for awareness.

[2020-07-02 13:53] SarahJaine opened #10861 "Send BDD currentlyVAEmployee and standardClaim"
## Issue Description
_What details are necessary for understanding the specific work or request tracked by this issue?_
BDD requires these two fields:
- FE is now sending `currentlyVAEmployee`, it should be mandatory field in schema, possibly `isVAEmployee` or similar field on FE vs xsd https://github.com/department-of-veterans-affairs/vets-json-schema/blob/68e33ec46ab2c5417145479992d81ae86c02eccf

[2020-07-02 13:59] SarahJaine commented on #10479
- `Error calling external service to establish the claim during Submit` per old conversation with Slack, it sounds like we can't have multiple open BDD claims
- Per Luke, users should be able to est mult bdd claims
- Per, Anna maybe this is simply a problem with test users 228, 229 and 226

[2020-07-02 14:09] hughes-dustin commented on #10617
PR: https://github.com/department-of-veterans-affairs/gibct-data-service/pull/678

Branch: bah-10617

[2020-07-02 14:17] ncksllvn commented on #1676
We only use a tiny subset of Font Awesome. It's possible we could optimize that.

[2020-07-02 14:19] MickinSahni opened #10862 "Agent Orange consolidation: Socialize with SMEs"
**Related ticket: [Agent Orange consolidation: Implement #10765](#10765)**
## Issue Description
We need to share our recommended approach with SMEs before publishing and implementing redirects.

---
## Tasks

- [x] Share new page/approach with SMEs in meeting (Danielle, Beth)
- [x] Send preview link to SMEs via email (Danielle)

## Acceptance Criteria
Content shared with SMEs.

[2020-07-02 14:30] Mottie opened #10863 "Documentation Support Request"
## Please describe your documentation feedback, describe your request, or ask your question here:

I was researching how to add an analytics event to the form start button. After diving into the code, I found that it was already added, but undocumented.

In the form `IntroductionPage`, an analytics event name needs to be added to a `gaStartEventName` property of the `SaveInProgressIntro` component

[2020-07-02 14:34] peggygannon commented on #10462
@rileyorr @Clark-W-Griswold @mr0sari0 Hello! sorry if you were waiting on me for this... I tightened it up even more.

Do we know if we can change the button language? It would be preferable to have the buttons tie in more closely with the message (order vs. applications). Let me know..

**Your order form is in progress**

You can continue placing your hearing aid batteries and accessories (Form 2

[2020-07-02 14:42] mchelen-gov commented on #1676
for our use case (covid screener react app) it seems like the size of the resources are less problematic than the number of them. the multiple font files seem to use up the browser's connection pool
![image](https://user-images.githubusercontent.com/63597655/86372494-3ae96000-bc50-11ea-8369-80909608b036.png)

so then the app JS is spending a lot of time waiting in the queue before it can even star

[2020-07-02 14:43] hughes-dustin commented on #10203
PR: https://github.com/department-of-veterans-affairs/vets-website/pull/13363
Branch: bah-10203

[2020-07-02 14:43] Mottie commented on #10293
The code to hide these duration cards has been merged, but I'll leave this ticket open until we figure out if it was the right way to go.

[2020-07-02 14:46] mshea0606 commented on #9488
Recap from meeting:
- A user's connected apps status is loaded when a user clicks the "Connected Apps" section of the Profile
- Samara to finalize OKR/KPI's
- Once OKR/KPI's are finalized, regroup with Analytics team to determine if we will do GA or Domo

[2020-07-02 14:48] mshea0606 commented on #9488
@erikphansen @sanlouise  Regarding the comment above...Do you know if this event is in use?

'event': 'account-terms-transaction' @bsmartin-ep @jonwehausen

[2020-07-02 14:52] CrystabelReiter opened #10864 "Alert boxes"
### Description:
Alerts keep users informed of important and sometimes time-sensitive changes.

Alert boxes  in the sketch library, design.va.gov, and react library are out of sync.

You can view the component in [design.va.gov](https://design.va.gov/components/alertboxes)  and the [react library](https://department-of-veterans-affairs.github.io/veteran-facing-services-tools/visual-design/componen

[2020-07-02 14:53] jenstrickland commented on #1676
This is what I previously documented, itemizing which we use and which could be removed.

[2020-07-02 14:55] Samara-Strauss commented on #8776
Great, thank you!

[2020-07-02 14:56] micahchiang commented on #10830
PR for vets-website - https://github.com/department-of-veterans-affairs/vets-website/issues/13365

[2020-07-02 14:57] Samara-Strauss commented on #10852
cc/ @mshea0606 for awareness that we need to make sure content updates are coordinated with our phased launch. We can wait to launch these updates until we have launched to 100% of users.

[2020-07-02 15:04] ncksllvn commented on #1676
Nice, that's probably worth cross-linking here if you still have it around (unless I'm missing it somewhere)

[2020-07-02 15:07] jenstrickland commented on #1676
@jhonnyoddball and @rianfowler should have it, as I provided it in my initial web performance conversations with them. Per Rian's request I provided it to Jhonny. It's likely in their Slack. I don't have time to chase it down right now, since I have audits to complete.

[2020-07-02 15:11] sonntag-adam commented on #8201
Testing passes QA

[2020-07-02 15:19] jbalboni opened #10865 "Convert CC contained resources to Location and Practitioner resources"
Right now our contained resources for CC provider and practice data are in a weird not really FHIR format. We should structure those as actual resources.

[2020-07-02 15:20] 1Copenut commented on #10782
I agree with @jenstrickland about this item. The interface seems to respond correctly with a tabbed approach when I'm checking on a mobile device, but doesn't respond properly when I zoom layouts using my browser zoom.

[2020-07-02 15:21] 1Copenut commented on #10783
Same comment on this issue as my comment on #10782 regarding [differences in behavior on mobile devices and zoomed browsers](https://github.com/department-of-veterans-affairs/va.gov-team/issues/10782#issuecomment-653069795).

[2020-07-02 15:24] jbalboni opened #10866 "Pull HealthcareServices from VSP for eligibility data check"
We should update the HealthcareService service to call VSP for clinic data when the flag is on.

This is duplicate the data pulled in the locations step, but we don't know enough about how the services will incorporate eligibility logic to make reliable changes that re-use that data.

AC (only applies when va_online_scheduling_vsp_appointment_new is on)
- [ ] The existing function in HealthcareSer

[2020-07-02 15:25] mmiddaugh opened #10867 "Content model: Make an appointment"
## [Product Outline](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/facilities/medical-centers/fe-templates/vamc-hardening/feature-brief.md)

## Problem Statement
How might we change the structure of "Make an Appointment" content so that
- some content can be reusable
- national content cannot be edited locally
- the risk of introducing errors is reduced
- the e

[2020-07-02 15:39] #3536 closed

[2020-07-02 15:39] desireeturner commented on #3536
Great... thank you! Closing now.

[2020-07-02 15:41] delli-gatti-michael commented on #10634
@department-of-veterans-affairs/uxbah This is on staging and ready for review

[2020-07-02 15:46] Kimberley2019 commented on #10007
@leahkeeler I receive an error message when attempting to view the Product Guide (first link).  Can this be fixed or is it just an error that I am receiving?

Please see below.

[image.png](https://images.zenhubusercontent.com/5d3b2f7176f8655a8ad39ace/3235268e-28a2-43fa-a1bf-ee26095d9abf)

[2020-07-02 15:46] 1Copenut commented on #10784
@jenstrickland I concur, hiding the map is an okay solution, but I'd like it to be a temporary one as much as possible. That hinges on a lot of upstream code from Mapbox, so I understand that may be out of our control. That said, having a well-formatted and structured map that can be engaged by users with or without assistive tech is the ultimate goal.

Hiding the map from assistive tech while it'

[2020-07-02 15:46] MickinSahni commented on #8895
Pulling out of sprint 25 until unblocked

[2020-07-02 15:47] tressaellen opened #10868 "[FE] Update copy on LOA1 alert button"
## Background

Currently on the LOA1 alert in account security the green CTA button says "Verify **my** identity", we need to update it to say "Verify **your** identity" to keep things consistent across va.gov.

![Screen Shot 2020-07-02 at 9.45.33 AM.png](https://images.zenhubusercontent.com/5dfa65bbbd078d1699e52294/ebd33ebf-0c4f-4685-8d88-a7aa857ba676)

## Tasks

- [ ] Update copy

[2020-07-02 15:48] ncksllvn opened #10869 "[Cerner widgets] Implement feature flag to test in dev/staging without impacting production"
We have widgets across various health care pages for rendering unauthenticated and authenticated content directing users to Cerner or MHV. These widgets are almost ready to be hooked up into Drupal as React widgets. However, we would like to test these widgets in lower environments before going into production. This means we need to incorporate a third state into each widget in order to power a fe

[2020-07-02 15:48] 1Copenut commented on #10377
@jenstrickland I've reviewed these issues and commented on individual tickets. The only thing that I noticed was the tabbed list or map behavior on mobile device, that didn't appear when I zoomed my layout. This seems like we're doing some type of viewport detection on first load to show or hide the tabs, but not also doing that detection on viewport resize? (Complete guess). I think your tickets

[2020-07-02 15:49] ncksllvn commented on #10869
This is hand-in-hand with https://github.com/department-of-veterans-affairs/va.gov-team/issues/10859

[2020-07-02 15:52] jenstrickland commented on #10784
In my course with Marcy Sutton over the past few weeks, we covered making maps accessible. There were suggestions — such as the link provided on the epic containing this issue — yet, these issues primarily originate from Mapbox and Leaflet. If we're required to use this vendor product, I'm not sure what options we have.

There is a work in progress by @lildziner to reevaluate the page and search r

[2020-07-02 15:54] LinnJS commented on #10233
I am not sure how to continue with these test due to pre-existing errors with this component. I cannot do a full mount to implement a very simple test and not sure how to solve this problem, and current do not have time to invest in a solution.

[2020-07-02 15:57] jenstrickland commented on #10377
@1Copenut As I understand it, that was existing Facility Locator mobile behavior — to provide the map in a tab. In a previous recommendation I suggested incorporating something similar for the full design, so that the map is provided on user action and more search results are visible. I believe there's research indicating for rural areas this isn't a great UX, but my memory may be faulty.

[2020-07-02 15:58] mmiddaugh opened #10870 "Facility Locator Monitoring"
## Problem
How might we implement monitoring and notifications for the data streams consumed by the Facility Locator?

## Goal
Minimize impact of data disruptions on Veterans
Identify opportunities to improve performance

## Tasks
Update serializer to FastJSON for faster object serialization
Get monitoring working so we know when PPMS is down / slow
Get Alerting working for PPMS downtime / slow re

[2020-07-02 16:01] leahkeeler commented on #10007
@Kimberley2019 The link is a download - it does work. Check to see that your browser settings allow downloads, otherwise I can just email or slack it to you (if you have slack) Let me know what is best.

[2020-07-02 16:03] narin commented on #10520
Verified change on staging.  Closing out.

[2020-07-02 16:03] #10520 closed

[2020-07-02 16:10] ala-yna opened #10871 "Caregiver is BLOCKED by pre-existing React errors"
See conversation in: https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/10233

Summary: The Caregiver team is trying to build a custom component to override the error component in the forms system. We are unable to create tests due to an architecture problem that prevents components from being fully mounted.

Solutions: We could add the

[2020-07-02 16:17] Kimberley2019 commented on #10007
@leahkeeler Thanks!  I have sent it over to the Contact Center for review and feedback.  I asked if they could get that back to us today if at all possible.

[2020-07-02 16:19] #5128 closed

[2020-07-02 16:20] delli-gatti-michael commented on #10202
@1Copenut This is on staging and ready for review

[2020-07-02 16:20] #9500 closed

[2020-07-02 16:21] #9716 closed

[2020-07-02 16:25] DanielleThierryUSDSVA commented on #10317
@MickinSahni Please leave open for now, thank you!

**Adding my note from slack here as well:**

We de-prioritized content a bit to focus on getting the links up for testing since this isn't launching until August (for 1 page) and September/October (for the others). Will update when content is ready to flow into design.

[2020-07-02 16:26] DanielleThierryUSDSVA commented on #10317
@peggygannon:

"Schedule VA appointments, saw this bullet was removed "Look up past appointments from the last 2 years" Should we update the live page right now with this change too?"

- I don't know why this was removed. It's a question I'm sending to Cerner and will follow up. Thanks!

[2020-07-02 16:31] JenLJ commented on #10634
@delli-gatti-michael UX has reviewed and there are two items of concern:
1.  The Expected Behavior says that "Enter an amount" should be the second value in the pick list for Degree Level.  It is actually appearing as the last item in the list.
2. For Division or School, a single value is supposed to behave as a disabled text box.  While the value is behaving as a disabled text box, it does not lo

[2020-07-02 16:33] sonntag-adam commented on #10634
@elder-joseph moving back to in progress for the issues above.

[2020-07-02 16:37] mshea0606 commented on #10852
Thanks @Samara-Strauss

[2020-07-02 16:39] Kimberley2019 commented on #10166
@desireeturner I have some feedback from the Contact Center.  Please see below and advise accordingly so that I can provide the information to them.

I have already advised them that this is an update to a current functionality.  I did not include the attachment since it was only for typo correct purposes, but can slack to you if needed.

_I found a couple of typos in the product guide so attachin

[2020-07-02 17:00] #10749 closed

[2020-07-02 17:01] #5999 closed

[2020-07-02 17:07] mshea0606 commented on #10764
thanks @meganhkelley! im putting together the following:

Link to product test cases/test plan in TestRail with test execution logs

Link to your Coverage for References and Summary(Defects) reports in TestRail for QA practice area review

Link to your accessibility test cases

[2020-07-02 17:09] #9774 closed

[2020-07-02 17:09] #10386 closed

[2020-07-02 17:12] AnneHurley commented on #10544
@RLHecht This page is ready for your copyedit: Because this is a shorter/simpler rates page, we probably don't need to go over it together, but if you want, I'm happy to. Just let me know.
2018 Historical Birth Defects rates page: http://preview-prod.vfs.va.gov/preview?nodeId=6189

@bethpottsVADEPO FYSA

[2020-07-02 17:34] jbritt1 opened #10872 "Break Sentry alerting out of the generic revproxy monitoring alerts and create custom thresholds for Sentry"
## Description

## Background/context/resources
As described in this [slack discussion](https://dsva.slack.com/archives/CTYQL39FE/p1593709116295100), there was an alerting event that took place in the oncall channel. The root cause was due to a spike in Sentry.

We could probably help mitigate this going forward by removing Sentry from the "95% of http requests served in under 2 seconds" metric/al

[2020-07-02 17:41] leahkeeler commented on #10007
Thank-you @Kimberley2019 and have a great long weekend!

[2020-07-02 17:47] jbritt1 opened #10873 "Upgrade / update dsva-sentry-utility RDS instance"
## Description
Upgrade and update the dsva-sentry-utility RDS instance.

## Background/context/resources
As described in this [slack discussion](https://dsva.slack.com/archives/CTYQL39FE/p1593709116295100), there was an alerting event that took place in the oncall channel. The root cause was due to a spike in Sentry.

One option could be to upgrade the RDS to the next instance size in order to pro

[2020-07-02 17:49] sonntag-adam commented on #10617
blocked by https://app.zenhub.com/workspace/o/department-of-veterans-affairs/va.gov-team/issues/10613

[2020-07-02 17:52] mmiddaugh opened #10874 "Font different in Facility Locator search results"
## What happened?
The fonts used on VA facility names in the Facility Locator search results list are different than those used for Community urgent care facilities

![image (39).png](https://images.zenhubusercontent.com/5d8a47393ac3440001d1a2ed/9a502fac-76a6-421d-99ba-f4e5fd6aa600)

## Desired behavior
Search result cards should be displayed with the same font, regardless of facility type.
Fonts

[2020-07-02 17:53] mmiddaugh commented on #10874
Marking this with the Q32020 priority label because we can address this during the urgent care mashup initiative.

@lildziner let's be sure to address this in the design specs following your upcoming research.

[2020-07-02 18:00] zurbergram commented on #10634
https://github.com/department-of-veterans-affairs/vets-website/pull/13367

[2020-07-02 18:02] #10830 closed

[2020-07-02 18:02] CrystabelReiter opened #10875 "Breadcrumb component audit"
### Description:
Breadcrumbs provide users an understanding of where they are in the information structure of the site.

Breadcrumb component in the sketch library, design.va.gov, and react library is out of sync.

You can view the component in [design.va.gov](https://design.va.gov/components/breadcrumbs)  and the [react library](https://department-of-veterans-affairs.github.io/veteran-facing-serv

[2020-07-02 18:04] SarahJaine opened #10876 "[Development] Investigate/Resolve BDD "external service" error"
## Issue Description
_What details are necessary for understanding the specific work or request tracked by this issue?_

Per Anna, when we submit the claim to evss and get  `[{"key"=>"form526.submit.establishClaim.serviceError", "severity"=>"FATAL", "text"=>"Error calling external service to establish the claim during Submit"}]`
That sounds to me like we've plausibly submitted enough data to EVSS

[2020-07-02 18:06] SarahJaine commented on #10479
Wrote two news tickets to capture work discovered in course of this ticket https://github.com/department-of-veterans-affairs/va.gov-team/issues/10876 and https://github.com/department-of-veterans-affairs/va.gov-team/issues/10861. Closing work on this ticket on @annaswims 's behalf. Thanks for all your work on this Anna!  🎉

[2020-07-02 18:06] #10479 closed

[2020-07-02 18:06] digitaldrk commented on #10834
Got a cool link from Anna Carey:
https://github.com/department-of-veterans-affairs/devops/tree/master/loadtest#load-testing

[2020-07-02 18:10] lingtran opened #10877 "Access for Ling Tran"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Add a comment @department-of-veterans-affairs/vsp-operations to ping the operations team
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please

[2020-07-02 18:11] abuckley3385 commented on #10715
@mdewey  can you include screen shots or a quick video here of your prototype. @darkbushido can you assist with the BE challenge statement.

[2020-07-02 18:16] SarahJaine opened #10878 "Finish up form translation bug"
## Issue Description
_What details are necessary for understanding the specific work or request tracked by this issue?_

Placeholder: Complete Anna's work on https://github.com/department-of-veterans-affairs/vets-api/compare/aec/update_form_mapping

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result

[2020-07-02 18:18] sonntag-adam commented on #10634
![Screen Shot 2020-07-02 at 2.16.34 PM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/6d401fcd-bf4c-494c-a309-3e3e76ed4407)
##
![Screen Shot 2020-07-02 at 2.17.45 PM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/16e6b6b9-18ef-4580-986e-ea15c5b28ce9)

[2020-07-02 18:18] meganhkelley commented on #10764
FYI @mshea0606 the staging review template has been updated since you created this and the accessibility instructions have changed (same requirements, updated documentation) — you can check that info out here if it helps https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/.github/ISSUE_TEMPLATE/staging-review.md

[2020-07-02 18:18] Kimberley2019 commented on #10007
You are very welcome @leahkeeler thank you so much for your patience.  I hope that you have a great long weekend as well.

[2020-07-02 18:22] jbritt1 commented on #10877
SOCKS access granted. Please continue with [the guide](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/engineering/internal-tools.md#configure-the-socks-proxy) to establish a connection to SOCKS proxy.

[2020-07-02 18:23] jbritt1 commented on #10877
#### For AWS Access

User: Ling Tran
COR: Courtney Bethea
Approval needed: @Jeff-Hayter

[2020-07-02 18:34] sonntag-adam commented on #10617
![Screen Shot 2020-07-02 at 2.28.42 PM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/47065ac9-3420-46f1-9fce-54bb70c70f3a)
##
![Screen Shot 2020-07-02 at 2.34.19 PM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/de2a440d-fc3f-4194-a573-0e0dab86407b)

[2020-07-02 18:51] jonwehausen commented on #9991
Hey @shawkey-daniel ,

Want to thank you again for your efforts here. Should we be seeing this variable on the large accordion events at this point? Thanks again.

[2020-07-02 18:53] DanielleThierryUSDSVA commented on #8804
## How to view current dependents

You can use our online tool to review the current dependents you've added to your VA disability benefits. To do this, you need to be signed in to VA.gov with a verified account.

_**Note:** From my understanding, to "change" a dependent from inside the view dependents tool, you would need to click through to go to eBenefits, correct? Since we give the instruction

[2020-07-02 18:54] DanielleThierryUSDSVA commented on #8804
@bethpotts If the above looks good to you, please share with Selina. Thanks!

[2020-07-02 19:05] lunascoop commented on #8804
@DanielleSoCompany @bethpotts
A quick question about the second sentence:
This text will be shown on the both the unauthenticated and authenticated experience. Is the second sentence necessary/applicable for authenticated users since they'll already be signed in?

[2020-07-02 19:11] sonntag-adam commented on #10634
@department-of-veterans-affairs/uxbah This is on staging and ready for review

[2020-07-02 19:12] ccruzgra commented on #10494
https://boozallen.sharepoint.com/teams/benefitsintegrationplatform/education/_layouts/15/doc2.aspx?sourcedoc=%7B2B8CD172-E3E3-46FF-B75B-2B4B261D51EE%7D&file=UX-Backlog-Tracker.xlsx&action=default&mobileredirect=true

[2020-07-02 19:13] sonntag-adam commented on #10203
@1Copenut this is in staging.

[2020-07-02 19:19] DanielleThierryUSDSVA commented on #8804
Hi @lunascoop. Great question. Yes, it's worded this way of "you need to be signed in" instead of "you'll need to sign in" so it can work across both states. Thanks!

[2020-07-02 19:20] ccruzgra commented on #10494
@amyknox Recommendations are now in our backlog.

[2020-07-02 19:20] #10676 closed

[2020-07-02 19:27] marriej opened #10879 "SSOe Brain dump"
Create a document that outlines the relationships, integrations, and known limitations of the current SSOe implementation.
Audiences to consider:

- Identity team

- Cerner team

- VAOS team

- MHV team

[2020-07-02 19:30] DanielleThierryUSDSVA commented on #10852
@Samara-Strauss @mshea0606 If anything else comes up beyond connected apps and change address, just let me know and i'll add to this epic. thanks!

[2020-07-02 19:30] mnorthuis commented on #10484
IA feedback

1. There are a number of breadcrumb issues and left nav issues in regards to interactions that I did not capture.  They both seem to be working rather inconsistently across the site.

2. All of the child pages that should be under "Health services" have the incorrect URLs and breadcrumbs. They are all up one level too high and should be nested under /health-services and the left nav a

[2020-07-02 19:34] CrystabelReiter opened #10880 "Button component audit"
### Description:
Buttons are used to signal actions.

Buttons in the sketch library, design.va.gov, and react library are out of sync.

You can view the component in [design.va.gov](https://design.va.gov/components/buttons)

### These are the ways this component is not synced

- In prod, react library, and design.va.gov the secondary button is a "ghost" buttons meaning the button is transparent in

[2020-07-02 19:44] lihanli commented on #10827
@bradl3yC i emailed the debts api team about this, the api hasn't been deployed yet to the server that our staging environment is connected to. "We are still changing the API contract and there are more fields that needs to be added to the API. Once we finalize and freeze the API contract we can deploy this to pre-prod."

[2020-07-02 19:46] annaswims commented on #10873
You might consider throttling sentry.  If there's a sudden spike in errors thousands of logged errors are no more useful than hundreds of errors.

[This](http://sentry.vfs.va.gov/organizations/vets-gov/stats/) makes it look like someone needs to triage vets-website and eliminate the common errors

[2020-07-02 19:48] jbritt1 commented on #10873
All good info! Thank you Anna for contributing some more detail as well additional options!

[2020-07-02 19:48] DanielleThierryUSDSVA commented on #8020
Hi @MickinSahni. @peggygannon and I are chatting about this now. This is an update to a PW-owned health care page, so I'll work on it. It's due by 7/20. Can we add back to sprint 25?

[2020-07-02 19:51] #10401 closed

[2020-07-02 19:58] dmccurdybah commented on #10613
GIDS PR: https://github.com/department-of-veterans-affairs/gibct-data-service/pull/679

[2020-07-02 19:59] SgardnerPMP opened #10881 "[ANALYTICS] Create "NEW" Health Services content Template for "HS LIST & PLAYBOOK" [BA]"
## User Story
As a Veteran Web User, I need clear, concise, and instructional language on all VISN 8 Medical System web sites,  so I quickly get to where I want, the data I require, and the support I need.

## Goal
_Update Playbook and List of HS, so it better fits the new model in CMS Facility Health Services and .csv files moving forward

## Objectives or Key Results this is meant to further
- _

[2020-07-02 20:00] AnneHurley commented on #10635
@RLHecht
Special benefit allowance 2018 historic rates page: http://preview-prod.vfs.va.gov/preview?nodeId=6190

Ready for copyedit/validate
@bethpottsVADEPO  FYSA

[2020-07-02 20:03] shawkey-daniel commented on #9991
@jonwehausen We will have to add that in later. I misunderstood where this was in progress.

[2020-07-02 20:11] rileyorr commented on #10462
Hi @peggygannon! No worries at all! I just reached out to @mr0sari0 and it is possible to customize the button's language. So we will be able to put 'Continue your order' and 'Start a new order'.

Would you like us to use the content you most recently provided in addition to the customized buttons that will tie in more closely with the message?

[2020-07-02 20:22] mmiddaugh opened #10882 "[CONSIDER] Auto-expansion of Left Nav major headings"
This is a placeholder issue based on feedback from Pittsburgh PAO

## Issue Description

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to an Epic** (what body of w

[2020-07-02 20:23] #10493 closed

[2020-07-02 20:23] #10494 closed

[2020-07-02 20:24] #10496 closed

[2020-07-02 20:26] #5900 closed

[2020-07-02 20:28] dneel-bah opened #10883 "CF: Update GIDS to accept consolidated caution flag file format"
**As** an EDU team member, I need the ability to upload a single file of caution flag data to GIDS so the number of steps to maintain the comparison tool is reduced.

## Assumptions:
1. Updating version generation is outside of the scope of this story.
2. This will replace the following files: Settlement, School Closing, Section 702.
3. This does not affect the MOU, Accreditation Action and HCM ca

[2020-07-02 20:28] mmiddaugh opened #10884 "[CONSIDER] User support for "add to calendar" link"
This is a placeholder issue based on feedback from Pittsburgh PAO

## Issue Description

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to an Epic** (what body of w

[2020-07-02 20:31] ncksllvn opened #10885 "Migrate maintenance/homepage banners into Formation"
To add governance and guidelines, we'd like to document the homepage and maintenance banners on www.va.gov through design.va.gov. Currently, the banners are stored in the frontend repo, vets-website, so the styles can't be used on design.va.gov. So, we need to port the banner styles from vets-website into [Formation](https://github.com/department-of-veterans-affairs/veteran-facing-services-tools).

[2020-07-02 20:34] mmiddaugh opened #10886 "[CONSIDER] Create recurring events"
This is a placeholder issue based on feedback from Pittsburgh PAO

## Issue Description
As a content editor/creator, I need the ability to create recurring events.

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone**

[2020-07-02 20:43] kevinstachura commented on #10040
Hi @peggygannon! Thank you so much for providing these recommendations. I have implemented these changes. Here are where they all exist in the context of the app flow:

---

**WIZARD alerts**

You’re eligible to file a BDD claim: https://vsateams.invisionapp.com/share/8GXOG91ZWNJ#/screens/421391044

More than 180 days: https://vsateams.invisionapp.com/share/8GXOG91ZWNJ#/screens/421391045

Less tha

[2020-07-02 20:44] 1Copenut commented on #10203
LGTM. Moving to close.

[2020-07-02 20:44] #10203 closed

[2020-07-02 20:54] Samara-Strauss opened #10887 "[PM] Profile: Refine OKRs and KPIs"
## Background

We did a hand-wavey job of establishing OKRs and KPIs for the profile 2.0 project and the other profile-related products. I'm going back and refining those OKRs and KPIs so we actually have a sense of what we need to be measuring and how we can measure success.

## Tasks

Establish/document OKRs and KPIs for the following:

- [x] Profile 2.0 project
- [x] Contact information (includ

[2020-07-02 20:55] 1Copenut opened #10888 "[COGNITION]: VAOS Past Appointments - Focus SHOULD be set on the updated label when results are returned"
# [508-defect-3](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-3)

**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

Focus is being returned to the Past Appointments

[2020-07-02 20:58] jason-gcio opened #10889 "Refine Styling in Tables for View Payment History"
## Goal
There are some minor changes that need to be implemented for the View Payments' tables.

## Tasks
- [ ] Implement the items as shown below, breaking them into individual tickets as needed.

## Changes
**Simple Responsive List Table**
- All caps should be upper lower
- "Displaying page 1 - 5 of 12" should be in Bitter (Regular 20 px) typeface, not Source Sans
- Need a horizontal rule under

[2020-07-02 20:58] MickinSahni commented on #8020
Hey @DanielleThierryUSDSVA, let's see!

Couple questions:
- who's going to do the work for this and have they groomed it?
- what estimate can be added to this ticket?
- is this more important than the other content items in this sprint?

[2020-07-02 20:58] mr0sari0 opened #10890 "[Backend] MDOT- Update mockdata for test users"
# Hold off until DLC confirms their data structure to avoid rework.

## Description

Please update the test users to have the following data:

User 1:
[code]

User 228:
[code]

User 14:
[code]

User 17:
[code]
User 21 is good.

User 27 (Sample meta object, disregard if not accurate)

[code]

User 45 (Sample meta object, disregard if not accurate):

[code]
For user 38, are we supposed to get an exc

[2020-07-02 21:02] Samara-Strauss commented on #10887
@mshea0606 I am documenting the OKR and KPI work I am doing around the profile in this ticket.

At this point, I am looking for your feedback on where I am at with OKRs for the profile. There are four things I'm working on — OKRs for the profile 2.0 project, as well as documenting OKRs or just establishing baseline metrics for contact information (includes address validation), direct deposit, and

[2020-07-02 21:04] mmiddaugh opened #10891 "[CONSIDER] Multiple photos/story"
This is a placeholder issue based on feedback from Pittsburgh PAO

## Issue Description
As a content editor/creator, I would like the ability to associate more than one photo with a story.

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **A

[2020-07-02 21:10] mmiddaugh opened #10892 "[CONSIDER] Consistent logic for organizing lists"
This is a placeholder issue based on feedback from Pittsburgh PAO

## Issue Description
Listings are all categorized differently, which causes confusion. For example; when adding a staff member to a WYSIWYG the list is alphabetized by first name (confusing in and of itself) while other lists are populated by date. There should be a common thread with these.

---
## Tasks
- [ ] _What work is necess

[2020-07-02 21:26] Kimberley2019 commented on #10007
@leahkeeler Please see response from Contact Center below and advise if the errors can be incorporated into  the product guide.

_Hi Kimberly,

Have we not been getting the errors added to the product guides?  The videos are great for training, but we link the product guides to the KM and agents need to know what types of errors they will receive that way.  They won’t have time to watch a video on

[2020-07-02 21:46] sshein commented on #10293
this is a tricky one. Is it worth getting Peggy's input on this?

[2020-07-02 21:47] AnneHurley opened #10893 "Clone historic 2018 main Disability rates (create in spreadsheet)"
Tasks:

- [X] Disability main rates, create 2018 spreadsheet request of Elana as dry run for future rates tables. Request sent 6/15 by Anne; reminder sent by Beth 7/3  STATUS: Blocked
- [X] Turn finished spreadsheets into .CSV files. Anne
- [X] Upload .CSV files into Drupal to create  actual historic 2018 rates page. Selina
- [x] Copyedit and validate. Randi
- [x] Share with stakeholders for revie

[2020-07-02 22:00] Mottie commented on #10293
I'm not sure. The NCC wants to remove times > 12 months (see the Slack discussion); I was going to wait on merging these changes, but they wanted it done yesterday.

[2020-07-02 22:00] leahkeeler commented on #10007
@Kimberley2019 Sure we can add the common errors into the product guide - I will let you know when it's uploaded  Thanks!

[2020-07-02 22:17] sshein commented on #10293
can you link the slack discussion here for visibility? I'm obviously way out of the loop here so have no insight into required timelines, etc :(

[2020-07-02 22:22] bethpottsVADEPO commented on #10801
7/2 Received word back from stakeholder that I should tailor the first sentence of the new paragraph we added to Supplemental Claims and Higher-Level Reviews to reflect those two types of decision reviews rather than using the more general term "decision review" as we have it on "After you request a review" page. So:

If you’ve filed a request for a Supplemental Claim, we may randomly select you t

[2020-07-02 22:23] DanielleThierryUSDSVA commented on #8020
Thanks, @MickinSahni!

- I'm going to handle, with help from Peggy as needed.
- This looks pretty simple. I'd put it at maybe a 2.
- It technically needs to be live by 7/20...so could potentially put as early next sprint in terms of priority w/ other work. Want to maybe just put it in Ready column and I'll pick up this sprint if I can, or first thing next?

[2020-07-02 22:24] Mottie commented on #10293
It's was in the top comment - https://dsva.slack.com/archives/CDHBKAL9W/p1589344568495100?thread_ts=1589299198.475700&cid=CDHBKAL9W

[2020-07-02 22:28] Kimberley2019 commented on #10007
@leahkeeler You're the best!  Thank you so much!  I will await your update.

[2020-07-02 22:36] sshein commented on #10293
ok well I won't get in the way of whatever plan the team has if there have been promises made

[2020-07-02 22:39] Mottie commented on #8625
Possibly fixed in https://github.com/department-of-veterans-affairs/vets-website/pull/13371 - will verify once that PR has been merged.

[2020-07-02 23:07] DanielleThierryUSDSVA commented on #10317
@MickinSahni @andaleliz Sorry for the confusion on this issue! I realized that I'd meant to open a new issue for Lauren's review of authenticated content/confirming if we have the data to show dates, but must have only opened a new one for unauthenticated. I think, though, we can just leave this one open instead for authenticated and I've added the additional steps above. Thanks!

[2020-07-02 23:18] peggygannon commented on #10851
@kristinagore @meganhkelley I was able to complete my VSP content review for the Debt Letters mockup. A couple of things for next week's meeting:

-- I have requested to see copies of the "debt letters" to more accurately provide content recommendations. I've provided some feedback below, but would like to see the letters to ensure I've accurately captured the content.
-- I have a few questions fo

[2020-07-03 01:32] DanielleThierryUSDSVA commented on #10591
**Current status 7.2.20:**

- Sent preview link with summary of changes/rationale to Jeff 7.2
- Sent status check-in to larger SME group with note that we'll send preview to larger group midweek next week

[2020-07-03 02:03] tlei123 opened #10894 "[Bug] Facility Locator - CA State search initial results fewer than after zoom-in"
## What happened?
On Staging **Find VA Locations** page, when searching by State, initial results loaded were fewer than after zooming map in.

## Specs:
- Browser-/device-agnostic
- Unauthenticated experience

## Steps to Reproduce
1. Go to https://staging.va.gov/find-locations/ \[this issue occurs regardless of whether geolocation is allowed or blocked]
1. In **Search by...** text-field, input *

[2020-07-03 02:05] DanielleThierryUSDSVA commented on #7234
Hi @lunascoop @leahkeeler Checking in on meeting with SMEs to review content. Can you let me (or @bethpotts if you can on Monday, as I'm out) where we're at with approval? Per above, I'd like to send to our main health care SMEs once we have the OK from the DLC folks. Thanks!

[2020-07-03 02:15] tlei123 opened #10895 "[DRAFT] Facility Locator - State search with CO/NE loads CT/NY results"
[DRAFT: Will finalize details once all test-runs are completed.]

## What happened?
On Staging **Find VA Locations** page, state search using CO (Colorado) or NE (Nebraska) abbreviation loaded CT (Connecticut) or NY (New York) results instead.

## Specs:
- Device: (e.g. iPhone 8, Macbook)
- Browser: (e.g. Firefox, IE 11)
- Test User _(if applicable)_:

## Steps to Reproduce
- URL:
- Test User _(if

[2020-07-03 02:19] DanielleThierryUSDSVA commented on #10678
Yes, agree on most hubs remaining as they are. And yes, change address isn't a hub so no right rail at all.

I'm not sure this was framed accurately. We don't want these to be consistent - they're specific to their respective hubs.

I think the only question we really had here was whether on 2 specific hubs we should remove the "Veterans Affairs" links from the service member and family member hub

[2020-07-03 02:21] DanielleThierryUSDSVA commented on #8944
Looks like Laura added estimate - thank you!

[2020-07-03 02:32] DanielleThierryUSDSVA commented on #8276
Thanks for looking into this more, @lwalsh617! It does seem that the data doesn't back up there being much need.

I added @bethpotts to this ticket because she's currently working with the pension SME to get approval on the protect rates page. Beth, see above. If you happen to be able to ask Angie about how often people are asking for pension appeals, that might help inform this...otherwise, we ma

[2020-07-03 03:02] DanielleThierryUSDSVA opened #10896 "IA/content strategy for consolidating pages within Disability How to File section"
## Issue Description
We want to reassess the disability how to file section to look at whether we can:

- Bring the "When to file" information into the main "How to file" page. This would eliminate "When to file" and bring "Predischarge claim" up a level.
- Bring the "File while overseas" page up into "Predischarge claim" to eliminate the deepest level in this section.

---
## Tasks
- [x] Audit an

[2020-07-03 03:04] DanielleThierryUSDSVA commented on #10896
@mnorthuis Rough draft of content reconfiguration for these pages. Let's set up a time to discuss next week. Thanks!

[Consolidating Disability how to file and BDD sections](https://app.zenhub.com/files/133843125/ad0adaad-e4a4-4959-b242-161246391c7c/download)

[2020-07-03 03:05] DanielleThierryUSDSVA commented on #8895
@lunascoop @MickinSahni Quick update on this. IA/content strategy work tracking in this issue: https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/10896

Should be finalized next week to unblock this issue. Thanks!

[2020-07-03 04:52] lunascoop commented on #7234
@DanielleThierryUSDSVA the meeting has been rescheduled for Monday afternoon. I will update you and @bethpotts then with approval status.

[2020-07-03 15:05] #10409 closed

[2020-07-03 18:15] mpelzsherman commented on #9410
Capturing results [here](https://docs.google.com/document/d/1gafjdX1dV2pVpStTp31SmyPecDDlQ5SI0cUvuS2yNOY/edit#).

[2020-07-05 20:24] bsmartin-ep commented on #7988
@jonwehausen -

Content Groups have been added to GTM and ready for your QA...

https://tagmanager.google.com/#/container/accounts/144676348/containers/2214120/workspaces/1000322

I also added a `^` to the health care URLs, which were missing it.

I considered merging the regex's, but this seems a bit easier to maintain.

Looks good in GTM preview....

![image](https://user-images.githubuserconten

[2020-07-06 12:07] JenLJ commented on #10669
@sonntag-adam UX has reviewed and this looks good!

[2020-07-06 12:15] sonntag-adam commented on #10669
Closing story

[2020-07-06 12:15] #10669 closed

[2020-07-06 12:19] ccruzgra commented on #10634
@sonntag-adam UXers took a look and this checks out!

[2020-07-06 12:28] jonwehausen commented on #7988
@bsmartin-ep , thank you sir! Will go through today and take a look at the config as well as QA.

[2020-07-06 12:29] sonntag-adam commented on #10634
Closing out bug

[2020-07-06 12:30] #10634 closed

[2020-07-06 12:41] bsmartin-ep commented on #9669
@jonwehausen -

I see a lot of parity between the `login-link-clicked-header` event and the login `nav-jumplink-click` event...

https://analytics.google.com/analytics/web/#/report/content-event-events/a50123418w177519031p184624291/_u.dateOption=last30days&explorer-segmentExplorer.segmentId=analytics.eventLabel&explorer-table.plotKeys=%5B%5D&explorer-table.filter=login-link-clicked-header/

![imag