[2021-01-06 23:04] erikphansen opened #18224 "Show only a single Set Up 2FA prompt on Direct Deposit"
With the DD4EDU feature turned on, users see two prompts to set up two factor authentication when they view the Direct Deposit section. They should only see one.

![Screen Shot 2021-01-06 at 3.00.40 PM.png](https://images.zenhubusercontent.com/5b4d0309a8d8be5bda39303e/cf2f190f-f6c6-477a-8295-8e64f9be1802)

[2021-01-06 23:08] mpelzsherman commented on #16645
It seems to me that the CI environment must be responsible for a good portion of the flakiness, since the tests run consistently in our local dev environment. My hunch is that the builds we are using to test against are too unstable and/or too slow to handle the Cypress tests.

My understanding is we are running the Cypress tests against a temporary review environment, then we deploy the "real" re

[2021-01-06 23:09] annaswims commented on #18219
not 100% but it looks like 4611 affected in the last year.

[2021-01-06 23:09] 1Copenut opened #18225 "508-defect-1 [TESTING]: COVID Vaccine Trials - Form must have e2e tests for all views"
# [508-defect-1 :exclamation: Launchblocker](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-1)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and a

[2021-01-06 23:11] brianalloyd commented on #12430
@leahkeeler thanks for the notice, sure thing as it looks like @DanielleThierryUSDSVA commented above.  Thanks for the update.

[2021-01-06 23:21] #17563 closed

[2021-01-06 23:46] outerpress commented on #18070
Thanks @peggygannon ! I made changes and responded to questions. No need to respond to the other artifacts - those are just there for general context on the feature.

I did add couple of new pages - nothing too new content-wise but they could use your eyes:
* List showing past appointments:
     * Mobile - https://adhoc.invisionapp.com/share/A3ZQUMB8DH7#/screens/441727919
     * Tablet - https://a

[2021-01-06 23:48] digitalken commented on #17511
Added to TestRail.

[2021-01-06 23:55] digitalken commented on #17510
Added to TestRail.

[2021-01-07 00:09] erikphansen opened #18226 "Clean up msw-mocks.js"
The `personalization/profile/msw-mocks.js` is nearly 2K lines. A lot of the mock calls have a lot in common. And many of the mock calls are full of data that is not really required. Cleaning this file up could help with when we add new mocks in the future. Making the mocks a little more focused on providing the data that's actually needed would make it a little easier to understand the functionali

[2021-01-07 00:13] bridgethapner commented on #16949
Posted to GitHub here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/va-mobile-app/ux-research/usability-testing/round-2/discussion-guide.md

[2021-01-07 01:00] SKasimow commented on #17872
@youngfreezyVA can you provide for Ben?

[2021-01-07 01:45] bessgreen opened #18227 "Generic Error State | Refresh before calling help center"
## User story
As a user, if my data doesn't load, I want to understand what I can do to fix it or where to turn for help.

## Acceptance Criteria
1. Create UI for a generic error state that advises a user to try refreshing the app, before calling the help center
     - Add to each screen with an API call
2. Pull in mobile alert CC
     - Copy is hard-coded
     - Include 2 phone numbers with click

[2021-01-07 01:54] SKasimow commented on #17741
@DanielleThierryUSDSVA  Hi - I replaced the excerpt with the release plan template and filled out as best I could. Please take a look.

[2021-01-07 01:56] SKasimow commented on #17414
@DanielleThierryUSDSVA Hi - any updates? Do we need to provide anything?

[2021-01-07 02:04] bessgreen opened #18228 "Error States"

[2021-01-07 02:15] bessgreen opened #18229 "Generic Error State | Call help center"
## User story
As a user, I want to know what to do when there is an error with the app.

## Acceptance Criteria
1. Create UI for a generic error state that advises a user to call the help center
2. Pull in mobile alert CC
     - Include 2 phone numbers with click-to-call capability
3. Copy is variable depending on whether or not it is an app-wide error or service-level error
     - App-wide: "The

[2021-01-07 02:20] bessgreen opened #18230 "Generic Error State | Missing records"
## User story
As a user, I want to know when I cannot access a service because I don't have the requisite ID and therefore need to be directed to the call center.

This error state will affect the following parts of the app:
- Claims
- Letters

## Acceptance Criteria (TBD - validation needed)
1. Create UI for an error state when a user's records cannot load due to a missing ID
2. Pull in mobile al

[2021-01-07 02:32] bessgreen opened #18231 "Generic Error State | No network connection"
## User story
As a user, when there is a network error, I want to see an error message that clarifies what is happening.

## Acceptance Criteria
1. Create UI for a generic error state when there is no network connection. This page will appear when the user tries to make a request, and the app detects that there is not an available connection.
     - Header 2: "VA Mobile App can't be loaded."

[2021-01-07 03:15] mydesignrocks commented on #16669
https://vfs.atlassian.net/wiki/spaces/VI/pages/815562765/VETSAPI
(more updates to follow in the near future / coming days)

[2021-01-07 03:30] bessgreen opened #18232 "Error | Upstream appointment error"
## User story
As a user, if one type of appointment is successfully fetched but another type is not, I want to see a message explaining that the app will display some appointments and not others.

**Technical context**
VA and Community Care appointments are fetched from two different services - and are then merged - so it’s possible one could be down and the other still up.

See comments section f

[2021-01-07 03:39] bessgreen commented on #15974
@bridgethapner to confirm: will this error state only occur for Upcoming Appointments (i.e. it will not display on Past Appts)?

[2021-01-07 03:46] bessgreen opened #18233 "Error | Invalid routing number"
## User story
As a user, if I enter a routing number that meets the character requirements but is invalid, I want to see a message saying that my routing number was invalid.

## Acceptance Criteria
1. Create UI for an error state when a routing number is invalid
     - This error appears after a user has hit "Save" on the direct deposit edit page, and their routing number is invalid
2. Pull in mob

[2021-01-07 13:58] MarciMcGuireGCIO opened #18234 "Yellow Ribbon: Incorporate -ALL- Yellow Ribbon search GA code per Analytics specifications"
## Issue Description
Slack thread for background: https://dsva.slack.com/archives/C01DWJFD45D/p1609886505051000

We learned from the Analytics team on 1/5/2021 that they recently discovered that the search data layer for Yellow Ribbon was washed away unbeknownst to them.   In order to track searches, a new revamped & standardized data layer will need to be added.
---
## Tasks
- [x] Define search d

[2021-01-07 14:01] MarciMcGuireGCIO commented on #17358
We will bring this up in our meeting with the stakeholders on Friday 1/8/2021

[2021-01-07 14:15] LindseySaari opened #18235 "Generate module controller"
## Issue Description

As a subsequent step after generating a module shell with the module generator, functionality to generate a module controller should be added. Modules will most likely need a controller

---
## Tasks
- [x] Add functionality to add a module controller
- [x] Passing specs

[2021-01-07 14:25] mdewey opened #18236 "[FE][SPIKE] SiP Progress, using FHIR"
## User Story
As a veteran,
My data should be stored in the fewest amount of places
so that I know where my data is.

## Related Documentation
 - [MVP: Visit Intro Initiative (Proof of Concept)](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/initiatives/visit-intro.md)

## Description
The SiP System integration has some overhead

[2021-01-07 14:26] mdewey commented on #18209
Dupe of #18236

[2021-01-07 14:26] #18209 closed

[2021-01-07 14:27] bmcgrady-ep commented on #18068
No Google Analytics or Domo access found.

[2021-01-07 14:32] mdewey opened #18237 "[FE] DownTown Notifier"
## User Story
As a veteran,
I should know when the system has downtown
So that I know I can not submit my answers right now.

## Related Documentation
 - [MVP: Visit Intro Initiative (Proof of Concept)](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/initiatives/visit-intro.md)
- [Documentation](https://department-of-veterans-aff

[2021-01-07 14:35] joshkimux commented on #17789
Confirmed this has been fixed. Fantastic stuff from @Mottie !

[2021-01-07 14:35] #17789 closed

[2021-01-07 14:37] mdewey opened #18238 "[FE][BUG] Reason for visit description can not be emptied"
## How to configure this issue
- [ ] Attached to an Epic (what body of work is this a part of?)
- [ ] Labeled with Team (`vsa-healthcare-exp`)
- [ ] Fill in User Stories
- [ ] Fill in Documentation
- [ ] Fill in Tasks
- [ ] Fill in Acceptance Criteria
---

## User Story
As a veteran, I should be able to completely edit my reason for the visit.

## Related Documentation
 - [MVP: Visit Intro Initiat

[2021-01-07 14:38] joshkimux commented on #17824
Confirmed this has been updated. Great stuff @Mottie ! 👍

[2021-01-07 14:40] bmcgrady-ep commented on #16904
Hi @erikphansen - thank you for your patience here. I just want to confirm that you are looking for the current event to fire for both `recordEvent({ event: 'profile-get-direct-deposit-started' })` and `recordEvent({ event: 'profile-get-cnp-direct-deposit-started' })`? Also, just want to make sure that there is no place that both events will fire at the same time, so we won't be firing two events

[2021-01-07 14:47] pjhill commented on #17881
Discussion with Joe --
Q: Who should be on the rotation?
A: Everybody -- treat it like every tier 1 support, bring deeper issues back to the team for additional input. You may not know the answer to the question. It's ok to say something like, "I'm looking into it now, and I will get back to you shortly." Then you can bring your questions back to the

Q: What hours?
A: Normal business hours (9-5 E

[2021-01-07 14:51] tressaellen commented on #17307
@Samara-Strauss - Here's where @callen2563 and I landed yesterday as far as a first pass for overall layout. We're still working on desktop, it's not there yet - but we just wanted to give you an idea of the direction we're thinking of. We're toying with the idea of correlating all the additional links to a specific section. It felt unnatural to have them all clumped together at the bottom. Anyway

[2021-01-07 14:59] RLHecht commented on #18074
@starlow00 @gmaciolek As a general rule, we try to limit the use of capitalizing terms on VA.gov to avoid "brand clutter." We use community care throughout our pages to describe non-VA health care providers/facilities but it isn't a proper name that would warrant capitalization. If it's helpful, we explain [here](https://design.va.gov/content-style-guide/naming-and-labels) why we try to keep brand

[2021-01-07 15:03] #18073 closed

[2021-01-07 15:04] #18135 closed

[2021-01-07 15:04] #17915 closed

[2021-01-07 15:06] #17970 closed

[2021-01-07 15:06] joshkimux commented on #16224
@Mottie , just tested the updated page with NVDA/firefox and realized that the original recommendation on this ticket needs to be updated. [Legends must be directly nested under the fieldset in order to work.](https://www.accessibility-developer-guide.com/examples/forms/grouping-with-fieldset-legend/). I've attached a screenshot below of a click drag/drog in the inspector that fixed the issue, but

[2021-01-07 15:12] timwright12 commented on #15815
@jhouse-solvd yes, I'm good now. Sorry I missed these messages! Closing out.

[2021-01-07 15:12] #15815 closed

[2021-01-07 15:15] jbritt1 commented on #14139
Spoke with @mjlumetta this morning, he is still seeing:

[code]

[2021-01-07 15:16] joshkimux commented on #16224
@Mottie noted this update may need to be addressed with the form system team. @caw310 I leave this in your capable hands 🙇

[2021-01-07 15:23] Samara-Strauss commented on #17307
We'll discuss more when we meet, but just so you're not waiting hours for feedback, here are some initial thoughts:

- Overall, this looks a lot more streamlined than some of the initial frames we were working on before break, so that's great. It's also way better than what we have now, even with some improvements that could be made.
- I think the general hierarchy looks good.
- On desktop, let's

[2021-01-07 15:32] Samara-Strauss commented on #17307
One more thing re: disability rating:

- Should it go in the name tag? This is an open question — that may or may not be a good idea. This needs design thinking about the goal of the name tag and what it should/should not do.
- Should the disability rating be handled distinctly/differently than the structure that is set up for the rest of the page? It's taking up ton of real estate right now, and

[2021-01-07 15:36] JoeTice opened #18239 "Testing Tools Team - User Research Survey"
## Issue Description
In order for the Testing Tools Team to understand it's OKR, the current testing landscape across the platform, and the needs of the VFS teams, we will create a survey to share out with teams in order to help gain an understanding of where things stand currently.

---
## Tasks
- [x] Create a draft set of questions for the survey
- [x] Vet those questions with the team
- [x] Ent

[2021-01-07 15:38] erikphansen commented on #16904
Yeah I think we're on the same page. Basically hoping you can treat `recordEvent({ event: 'profile-get-direct-deposit-started' })` and `recordEvent({ event: 'profile-get-cnp-direct-deposit-started' })` as the same event. No, a user action will never fire both of those. We'll make a single PR in the front end to replace all instances of the generic `direct-deposit` strings with `cnp-direct-deposit`

[2021-01-07 15:41] joshkimux commented on #17766
Note here: this has been fixed within the HLR flow, so I'll be removing this from the HLR accessibility review epic

[2021-01-07 15:42] brianalloyd commented on #15617
@jenniferlee-dsva and @rtwell all action items are complete on the ticket and are awaiting your review and validation in support of closing out this ticket.

[2021-01-07 15:43] joshkimux commented on #17814
The alert no longer exists, so this can be closed.

[2021-01-07 15:43] #17814 closed

[2021-01-07 15:44] joshkimux commented on #17817
Closing as this has been addressed with the new page split!

[2021-01-07 15:44] #17817 closed

[2021-01-07 15:48] Mottie commented on #16224
Just to be clear, we're unable to make the `<legend>` a direct child of the `<fieldset>` using the form system. The accessibility tools don't call this problem out as long as there is a `<legend>` within the `<fieldset>`, but [per the legend element spec](https://html.spec.whatwg.org/multipage/form-elements.html#the-legend-element), the `legend` must be "the first child of a fieldset element.".

[2021-01-07 15:49] Samara-Strauss commented on #17307
Not related to the wireframes but the documentation we have on different states: there should probably be a state for claims and appeals where we tell you there are no updates in the last 30 days on (any of) your claim(s). The logic would work like this:

- If someone has any active claims or appeals, show the claims & appeals section.
- If there have been no updates in the last 30 days, show a me

[2021-01-07 15:54] amyknox commented on #18115
Per UX team discussion: Please get Peggy's input on link style & content. We'll address email updates based on new requirements from EDU in a future story.

[2021-01-07 15:54] delli-gatti-michael commented on #17689
Form is located at
https://staging.va.gov/education/opt-out-information-sharing/opt-out-form-0993/claimant-information

[2021-01-07 15:56] dillo commented on #17887
Here's the current appointment flow diagram illustrated in sequence fashion:
https://drive.google.com/file/d/1Oq9i7SCSAjKTzC-SNlmHDhlsjcXXWIb1/view?usp=sharing

After discussing with @abuckley3385, I'm revising it to show a general-purpose audience what fields are used to generate the appointment IDs in MAS/MAP and also adding visual place holders to indicate what unique identifiers will be added

[2021-01-07 16:01] Mottie commented on #17846
The "Contact information" `h3` change has been implemented.

[2021-01-07 16:02] denisecoveyduc commented on #16778
@joanneesteban Thanks for reaching out! I have to apologize I wasn't receiving notifications for the first two times you messaged me. I have fixed that problem now though. We have actually been discussing this this week and today I am pulling together a summary of what we have identified with hopefully some thoughts on how we might want to see that visualized. I will post that once it is ready, yo

[2021-01-07 16:13] ericboehs opened #18240 "Sidekiq and Rails Mailers publicly accessible on non-production environments"
[Ryan Link reported](https://dsva.slack.com/archives/CBU0KDSB1/p1609962129084300) our staging [sidekiq](https://staging-api.va.gov/sidekiq/) and [mailers](https://staging-api.va.gov/rails/mailers) are publicly accessible. This is also true for [sandbox](https://sandbox-api.va.gov/sidekiq/) and [dev](https://dev-api.va.gov/sidekiq/).

A suggested solution of adding Basic Auth has been recommended.

[2021-01-07 16:14] jhouse-solvd opened #18241 "Loki - Automated Deploy to “platform-tools” STAGING cluster"
## Product Outline
[Centralized Logging - Product Outline](https://vfs.atlassian.net/wiki/spaces/VI/pages/891355706/Centralized+Logging+-+Product+Outline)

## High Level User Story/ies
As an Ops engineer, I need Loki installed in "platform-tools" STAGING cluster so that I can capture/access logs about the resources in that EKS cluster.

## Hypothesis or Bet
**If** we learn how to deploy Loki into

[2021-01-07 16:16] joshkimux commented on #16222
@Mottie Ignore my previous comment on inserting the error message within the legend.

I've tested this again on NVDA/Firefox and VO/Safari and the error messages announces once the user attempts to continue without making a selection. This should be good to go, but would probably need a once over on JAWs as well just in case @1Copenut .

[2021-01-07 16:16] jsev-io commented on #14139
@mjlumetta @jbritt1 Taking a look at this, thanks for letting me know.

[2021-01-07 16:16] #16222 closed

[2021-01-07 16:16] kelsonic commented on #15649
So here's the thing 😬 Currently each category is what's called a `paragraph-lists_of_links`, which is used by more than just the homepage. If I format the categories for a particular order on the FE, it will potentially affect all the places we use lists_of_links. Is there any way that we can do the ordering of the categories from the cms side when inputting content?

[2021-01-07 16:18] joanneesteban commented on #16778
That sounds great! Thanks, @denisecoveyduc !

[2021-01-07 16:25] ryanlink commented on #18240
Thanks for reporting this, @catherinetcai!

[2021-01-07 16:26] jhouse-solvd commented on #18241
1. `vsp-infra-loki` has its own git repo
2. circleci it out to be able to get the image to ECR
3. Helm it as a deployment first to platform-tools-staging EKS cluster
4. Roll back and perform the same using argocd
5. We need dns name, s3 and all during this process

[2021-01-07 16:27] jonathanjnelson commented on #18182
@department-of-veterans-affairs/vsp-operations

[2021-01-07 16:28] ericboehs commented on #18240
Our production sidekiq webui is difficult to access. We're currently discussing adding id.me. I've proposed we also use this for this ticket. Fleet appears to be onboard.

[Slack Convo](https://github.com/department-of-veterans-affairs/vets-api/pull/5593) [Issue](https://github.com/department-of-veterans-affairs/va.gov-team/issues/17806) [Draft PR](https://github.com/department-of-veterans-affairs

[2021-01-07 16:31] Mottie commented on #3825
Hi @jonwehausen!

First off, the design of the contested issues, same office and informal conference pages have changed. This won't effect the analytics, but I wanted you to be aware that the screenshot I'm sharing isn't like it was before.

Any of the test users can be set to have their representative get called by choosing the appropriate radio button

<details><summary>Yes, call my representati

[2021-01-07 16:44] rroueche commented on #17929
Hello @HikeBandit ,

[2021-01-07 16:46] jhouse-solvd commented on #14465
This is defunct. We are on hold for licenses and will resume this mid-2021. Please see parent epic for more up-to-date information.

[2021-01-07 16:46] #14465 closed

[2021-01-07 16:46] #18148 closed

[2021-01-07 16:47] #18145 closed

[2021-01-07 16:49] erluti commented on #14045
related https://github.com/department-of-veterans-affairs/va.gov-team/issues/18240

[2021-01-07 16:55] HikeBandit commented on #17929
Hello @rroueche. Did you mean to comment more?

[2021-01-07 16:57] tlei123 commented on #17206
@mdewey , I've attached my local Cypress test-results test-file's attached here.  I'm gonna ping our F/E colleagues in #vfs-frontend to look into the listed failures below, for help determining if they're related to this new custom-SIP-expiration feature.

Most tests Passed.  Failed tests for 3 products/features:
- 11 out of the 12 failures failed regardless of whether this feature's Disabled or E

[2021-01-07 16:58] jonwehausen commented on #17866
Hi @HikeBandit ,

Could you provide for us a bit more depth of what metrics you would be looking to consolidate into one report?

This will help us understand the level of effort for delivering you and your team the report.

Thanks so much in advance, we look forward to hearing from you.

[2021-01-07 17:04] youngfreezyVA commented on #17872
![Uploading Screen Shot 2021-01-07 at 9.03.54 AM.png…]()

[2021-01-07 17:06] kristenmcconnell commented on #18082
Adding the final PDF here as well.
[https://app.zenhub.com/files/133843125/4058e569-49ed-4fc4-a00b-7b584a8aefac/download](https://app.zenhub.com/files/133843125/4058e569-49ed-4fc4-a00b-7b584a8aefac/download)

[2021-01-07 17:07] rroueche commented on #17929
Hello @HikeBandit, haha yes I did - thank you for the ping.

It's more like this: we have the all-too-common challenge where we have a very small team of people (2 FTE), and a huge amount of things we could be doing for analytics across all of our digital properties. As happens a lot in work / life, we're faced with these options: we could do a shoddy job at _all_ the things, or we could do a grea

[2021-01-07 17:08] starlow00 commented on #17927
@clantosswett will send as resource to VEO contact. (cc @jwoodman5)

[2021-01-07 17:13] ianMcCullough-ob commented on #18222
Just making a note:

Will want to have historic data so we can compare MoM and YoY form submissions to gauge the success of the Medallia feedback button redesign.

[2021-01-07 17:14] holdenhinkle commented on #18134
PRs have been approved and merged.

This ticket is complete.

[2021-01-07 17:20] swirtSJW opened #18242 "Some VAMC facility pages not building"
## What happened?
The CMS team has uncovered an odd issue in preparation for the rollout VAMC facilities in Erie.

When the facilities are published and then a front end content release triggered, some of the pages are not being built.

They are present in the pages.json but never get built into html.

![image](https://user-images.githubusercontent.com/5752113/103921228-3f4f7380-50e0-11eb-8cc6-08d

[2021-01-07 17:27] HikeBandit commented on #17866
In the Behavior reports (All pages and Landing pages, especially), we always have to manually add the metrics (pageviews, unique pageviews, time on page, etc.) for the pages that end in index.asp and those that don't, ie, www.va.gov/grecc/ and www.va.gov/grecc/index.asp. These are the same pages. This seems like an unnecessary and time-consuming step that should be fixed for all of VA.gov pages, b

[2021-01-07 17:35] jbritt1 commented on #14139
This should be resolved at this time.

[2021-01-07 17:44] laurenernest commented on #16612
Added comments. I can't speak much to the MHV vet side, but these separation of steps makes more sense from the user experience. Will your team be coordinating with the Help Desk to review and implement the changes?
[VAOS_ST_123020 (LE Edits).docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/5783122/VAOS_ST_123020.LE.Edits.docx)
[MHV.Appointments_ST_123020 (LE Edits).docx](

[2021-01-07 17:44] tskinn commented on #18203
I've used the yaml provided here to install external dns in the staging cluster.

https://github.com/department-of-veterans-affairs/vsp-infra-application-manifests/blob/main/k8s/external-dns-vagov.yaml

[2021-01-07 17:48] bessgreen opened #18243 "Error | Appeals unavailable"
## User story
As a user, I want to know when I cannot access my appeals because of an upstream error, even if my claims are available.

**Technical context**
Appeals and Claims are fetched from two different services so it’s possible one could be down and the other still up.

## Acceptance Criteria
1. Create UI for an error state when appeals cannot be loaded, but the user has a list of claims whi

[2021-01-07 17:49] laurellawrence commented on #17091
@lwalsh617, I downloaded all the screenshots to look at the sizing and resolution. The css applied for this is max-width: 100%, so the images are not being stretched larger and pixelated because of the CMS.  It appears that most of these are being saved too small at a low resolution. For example:

Horizontal images are all sized inconsistently (width) and are too small
Step1signin.png (638px x 434

[2021-01-07 17:50] jonwehausen commented on #17866
Hi @HikeBandit ,

Yes, this helps greatly, thank you for your explanation here, and apologies in advance for the manual summing up to this point.

**We hope the below steps can help cut down on this time now and in the future**

## Steps

1) Within the [All Pages Report](https://analytics.google.com/analytics/web/#/report/content-pages/a50123418w177519031p176188361/explorer-table.advFilter=%5B%5B0

[2021-01-07 17:56] bessgreen opened #18244 "Error | Claims unavailable w/ no Appeals"
## User story
As a user, I want to know when I cannot access my claims because of an upstream error, even when I do not have any appeals on record.

**Technical context**
Appeals and Claims are fetched from two different services so it’s possible one could be down and the other still up.

## Acceptance Criteria
1. Create UI for an error state when claims cannot be loaded, and the user does not hav

[2021-01-07 18:01] kelsonic commented on #15649
PR is up! 🙂 https://github.com/department-of-veterans-affairs/vets-website/pull/15569

[2021-01-07 18:01] bessgreen opened #18245 "Error | Appeals unavailable w/ no Claims"
## User story
As a user, I want to know when I cannot access my appeals because of an upstream error, even when I do not have any submitted claims on record.

**Technical context**
Appeals and Claims are fetched from two different services so it’s possible one could be down and the other still up.

## Acceptance Criteria
1. Create UI for an error state when appeals cannot be loaded, and the user d

[2021-01-07 18:07] SgardnerPMP commented on #18242
Erie-health-care is scheduled to launch into Dual-state on **Monday January 11th, 2021.**   If this bug cannot be resolved, by Friday, Suggest the environment be deleted and we create a new environment to start from in Devshop to resolve any broken links and prep Erie-health-care for dual state.

[2021-01-07 18:12] Mottie commented on #17824
Sorry, the `aria-label` inside the "Issues eligible for review" is controlled by the form system, but I forgot there is a `ui:option` that allows changing the `aria-label` - done in https://github.com/department-of-veterans-affairs/vets-website/pull/15564

[2021-01-07 18:14] swirtSJW commented on #18242
@SgardnerPMP  Just to be clear, this is not a devshop issue.  A new demo environment will not solve the issue. We can reproduce this defect on all environments (except prod because we can not run it on prod).   This is a front end content build issue.

[2021-01-07 18:15] mnorthuis commented on #16946
IA is now finalized and documented here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/information-architecture/ia-reviews/bam2-debt-fsr.md

Please let me know if you have any questions.

Please note:  A redirect issue will need to be created so we can direct traffic from the old debtman pages to the new experience.

@leahkeeler you can close this issue when yo

[2021-01-07 18:19] mpelzsherman commented on #18242
Can someone please provide a non-devshop URL (e.g. staging.va.gov) that SHOULD be working, but is not?

[2021-01-07 18:21] lwalsh617 commented on #17091
@laurellawrence -- Thanks so much for looking into this. I will try to capture a couple of screenshots as you described above to make sure I'm getting them right. Will run them by you if you don't mind. Thanks!

[2021-01-07 18:22] 1Copenut opened #18246 "508-defect-2 [COGNITION]: COVID Vaccine Trials - Text styled like headings must be marked up as headings"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2021-01-07 18:23] SgardnerPMP commented on #18242
Understood. @swirtSJW.    @mpelzsherman I can provide you a Staging URL, but from my understanding we do not publish from Staging, so please tell me if is not what you are looking for, respectfully. https://staging.cms.va.gov/section/veterans-health-administration/vamc-facilities/va-erie-health-care

[2021-01-07 18:25] Mottie commented on #16261
This ticket isn't applicable anymore, correct?

[2021-01-07 18:25] SgardnerPMP commented on #18242
We are using Devshop to validate that all pages and links are working prior to moving into Dual-state and publishing the full system.   If this cannot be confirmed in Devshop, I will need validation from another platform to in order to proceed to publication into Dual State.
Thank you.

[2021-01-07 18:25] bmcgrady-ep commented on #16904
@erikphansen - Glad we are on the same page. I have the changes staged on my side, but will obviously need to QA on staging.va.gov once the changes are made on your side to ensure everything is properly working.

Let me know when the changes are made and when I can QA the GTM changes. Thanks!

[2021-01-07 18:25] noahgelman opened #18247 "508-defect-3 [SCREENREADER]: STEM Standalone - Links that open in new tab do not alert user that a new tab will be opened"
# [508-defect-3](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-3)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2021-01-07 18:27] swirtSJW commented on #18242
@mpelzsherman   Staging and dev get rebuilt with a new database on every merge so the content would have to be published and then frontend rebuilt... and by the time that was complete the environment would be getting rebuilt due to new code.  They are not really the right place to test publishing content.   This is all reproducible locally too.

[2021-01-07 18:28] 1Copenut opened #18248 "508-defect-3 [COGNITION]: COVID Vaccine Trials - Consider breaking Step 1 into three distinct pages"
# [508-defect-3](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-3)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2021-01-07 18:29] joshkimux commented on #16261
@Mottie We'll be talking about this in our meeting Friday! It is no longer a launchblocker, but I believe the representative name/phone number is still not contained in a fieldset on its own individual page which might make it a 2 or 3. I'll need to double check again once staging.va.gov is back up!

[2021-01-07 18:31] ala-yna opened #18249 "General Analytics Request for Caregiver Team (Health care application)"
# Metrics Reporting Request

## What this form is for

Use this template to request one-off performance, usability, or outcomes va.gov metrics that is difficult to access or that needs analytics interpretation. If you have your KPIs set, please [request a KPI dashboard](https://github.com/department-of-veterans-affairs/va.gov-team/issues/new?assignees=joanneesteban&labels=analytics-insights%2C+ana

[2021-01-07 18:33] erluti commented on #17806
Questions from Dror:
[code]

[2021-01-07 18:34] #17581 closed

[2021-01-07 18:35] jonwehausen commented on #3825
Hi @Mottie ,

Thank you for this here!

Okay, we don't need to worry about the `-failed` event metadata here.

If you and your team are wishing to track when the warning alert boxes is visible, this is the recommended spec for doing so, please fire **only when the warning alert box becomes visible**

[code]

If not wishing to track this, we can close out this issue, Thanks @Mottie !

[2021-01-07 18:36] starlow00 commented on #16612
Hi @laurenernest. Thank you for looking those over. I will clean these up and apply your edits. As for further coordination, I'm going to bring @jwoodman5 in on this.

[2021-01-07 18:38] joeniquette commented on #16040
Assumption is that the documentation will be stored within Confluence [here](https://vfs.atlassian.net/wiki/spaces/VI/pages/557416598/Identity)

[2021-01-07 18:42] noahgelman opened #18250 "508-defect-3 [SCREENREADER]: STEM Standalone - <legend> element is not anncouncing for screen readers"
# [508-defect-3](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-3)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2021-01-07 18:43] srsuddath commented on #17009
@jhouse-solvd Looking into this now and digging into the links you sent. If I understand correctly, this means that now I need to go ahead and build out the endpoint on Vets-api? Or is that already built out with the forward proxy urls you posted above?

[2021-01-07 18:45] desireeturner commented on #18250
@noahgelman it looks like there are some formatting issues with the description of this issue. Could you take a look and clarify? Thank you!

[2021-01-07 18:51] swirtSJW commented on #18242
To debug locally:

1. Build local CMS. (web gets built as part of that)
2. go to https://va-gov-cms.lndo.site/admin/content/bulk?title=&type=All&moderation_state=All&taxonomy_entity_index_tid_depth=183 (that domain will only work if the CMS is running locally.)
3 Login as me u:steve.wirt@civicactions.com    p:drupal8
3. perform these two clicks, in order
![image](https://user-images.githubusercont

[2021-01-07 18:53] bridgethapner opened #18251 "Understand VA.gov feature for LOA3 user who is not in Vet 360"
When a user is LOA3 but is not in Vet 360, they shouldn't be able to see certain elements from their Profile. We want to be the same as the web to deliver a consistent profile experience across web and mobile.

**Questions to answer**
- [ ] How does VA.gov handle this use case?
- [ ] What are all the elements that should be hidden in this scenario?
- [ ] What does the error look like for Vets who

[2021-01-07 19:01] timwright12 commented on #7973
Slack thread about where this currently happens: https://dsva.slack.com/archives/CBU0KDSB1/p1610045465183800

Documentation:
https://department-of-veterans-affairs.github.io/veteran-facing-services-tools/getting-started/workflow/deploy/#partial-deploy--static-page-changes-only

[2021-01-07 19:05] joanneesteban commented on #18249
Thanks for opening this, Alayna! Putting this on our queue to investigate.

[2021-01-07 19:08] tressaellen commented on #17307
@Samara-Strauss - I agree, we can add that into our documentation.

Also (from our previous meeting) this is the direction that we have decided on for the MyVA dashboard.

![My VA desktop 1.jpg](https://images.zenhubusercontent.com/5dfa65bbbd078d1699e52294/b0f7d634-ca90-41b7-9a97-632b841835eb)

[2021-01-07 19:09] ala-yna commented on #18249
Thanks! Let me know if you have any questions :)

[2021-01-07 19:12] dillo commented on #17887
Updated file + adding to Github: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/discovery/engineering/appointment-id.md

[2021-01-07 19:22] jbritt1 commented on #14139
Think this one is good to go @jhouse-solvd

[2021-01-07 19:25] mnorthuis opened #18252 "Create document for auth tool IA discussion"
Create a visual that maps out all existing va.gov modernized tools and illustrates their current placement within the IA.   This will be used in initial discussions around current concerns and gaps of the global IA, specifically around authenticated tools.

[2021-01-07 19:28] jperk51 opened #18253 "Access for Jayson Perkins"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Do not remove `operations` label; this will notify the VSP Operations team of your request
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Pleas

[2021-01-07 19:29] jperk51 commented on #18253
@department-of-veterans-affairs/vsp-operations

[2021-01-07 19:30] ncksllvn commented on #17276
Per our [Slack thread](https://dsva.slack.com/archives/C0173CAJ7A6/p1610044993099900), the only audience tag we are currently using is `All Veterans`. This means that if we went live now, the only audience-type listed under `Browse by audience` would be `All Veterans`, which isn't useful. Therefore, this work is effectively blocked until we have associated other audience-types to R&S articles.

[2021-01-07 19:34] noahgelman opened #18254 "508-defect-1 [SCREENREADER]: STEM Standalone - Critical information is not available to the user with keyboard navigation"
# [508-defect-1](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-1)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2021-01-07 19:40] joanneesteban commented on #16547
Thanks, @JasonTheBearded !

### Final To Do:
- [ ] Make a note on the ForeSee chart that there's an issue with filtering & to filter that chart as well if they're looking for additional filtering
- [ ] Is it possible to apply the dynamic date title to the funnel tables? When they're exported, it's unclear what the date range is for that data.
- [ ] Style sections with title headers. Wireframe belo

[2021-01-07 19:42] kristenmcconnell commented on #17805
For reference, this is how VAOS is currently planning on displaying status and sorting appointments (they only really have wording in the UI to denote canceled).
![Screen Shot 2021-01-07 at 2.29.34 PM.png](https://images.zenhubusercontent.com/5f44055c65a5c54f7cfe5928/8439add6-ba79-49bc-b1b0-91c1d002b554)

This is how the mobile app currently plans to display appointment status. They have a backlog

[2021-01-07 19:43] jbritt1 commented on #18202
It _seems_ this would be blocked until Loki is installed on the staging cluster as it depends on values and resources generated by the creation of Loki pod(s).

[2021-01-07 19:48] jason-gcio opened #18255 "[UNPLANNED] Adjust the Net Worth on Dependency Claims"
## Story
As a Veteran, answering questions in the 21-686c/674 application, I want to ensure that the net worth threshold is up to date so I can respond accurately and reflect my situation to the VA as my claim is considered.

## Background
Every year, on December 1, the net worth threshold amount gets updated and that needs to be reflected on VA.gov within the net worth question.

## Consideration

[2021-01-07 19:49] joshkimux commented on #16203
@peggygannon See above!

[2021-01-07 19:49] #10576 closed

[2021-01-07 19:52] joshkimux commented on #17846
Confirmed this has been updated! Thank you @Mottie 🥳

[2021-01-07 19:52] #17846 closed

[2021-01-07 19:56] erikphansen commented on #16904
Awesome! Thanks!

[2021-01-07 20:07] timwright12 commented on #17968
@jhouse-solvd @dginther I submitted this PR https://github.com/department-of-veterans-affairs/devops/pull/8334 -- if someone could let me know if it solves this issue, or if we need to do more work to get this active in Jenkins, it would be much appreciated!

[2021-01-07 20:16] noahgelman opened #18256 "508-defect-1 [SCREENREADER]: STEM Standalone - Screen reader users are required to enter direct deposit details before informing them it is optional"
# [508-defect-1](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-1)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2021-01-07 20:20] brangi commented on #8975
@mmiddaugh I have a fix for this - https://github.com/department-of-veterans-affairs/vets-website/pull/15559 however this css value is not supported on ie11 https://caniuse.com/?search=outline-offset . I can merge the current fix but we should open a new issue for ie11 support. I feel that this is more of a VSP design system effort since we use `outline-offset` all over the site

[2021-01-07 20:21] peggygannon commented on #14109
@narin and @laurenernest I've responded to your questions in the google doc. Provided recommendations on updated messaging as needed. Please let me know if you have any questions. thx

[2021-01-07 20:32] bridgethapner commented on #16984
Met w @lexicalninja today to chat about when we prompt for biometric sign-in & what the UX is like. Here's the decision:

**MVP Internal Release**
- We'll prompt users to sign in via biometrics on the loading screen before they hit the home screen. So if they sign in with Touch or Face ID they'll immediately move on to the authenticated home screen.
- The UI will be the system modal
- There won't

[2021-01-07 20:32] mdewey opened #18257 "[FE] Privacy Act update"
//TODO: fill in

[2021-01-07 20:33] jhonnyoddball commented on #18193
All high severity vulnerabilities were fixes in all 3 repos

[2021-01-07 20:33] #18193 closed

[2021-01-07 20:36] Samara-Strauss opened #18258 "[BE] General AE: Remove references to vet360 from backend code (part 1)"
## Background

We have removed references to Vet360 from the frontend code, but these references still exist in the backend code. We should replace references to Vet360 with VA Profile

## Tasks

- [ ] Replace references to Vet360 in the backend code with VA Profile.

[2021-01-07 20:39] bridgethapner commented on #17837
- This screen will present to users immediately after they return to the app from the sign-in flow the first time they sign in.
- Copy should be dynamic based on the device's capabilities if technically possible. @lexicalninja is this feasible?

Attached is a UI for this.

This is not an industry-standard opt-in UI, they typically use a system modal. Our current React library doesn't allow us to e

[2021-01-07 20:44] bridgethapner commented on #16949
Shared this in Slack today, going to go ahead & close this ticket for now knowing that there may be feedback within the next couple of weeks before we k/o testing, hopefully, the week of 2/1.

[2021-01-07 20:44] #16949 closed

[2021-01-07 20:45] joanneesteban commented on #13404
Thanks, @jonwehausen

## Final To Do
- [ ] The data hasn't updated since Jan 4th - this should be fixed
- [ ] Remove "Production" from title
- [ ] Layout needs to be changed - the dashboard can't be exported given the current layout structure.
- [ ] Rearrange links to be on the bottom of the charts as annotations
- [ ] Remove "Will begin showing letter downloads when done in production" since it's

[2021-01-07 20:51] lihanli opened #18259 "[BE/devops] VA Profile: Rename references to vet360 in devops"
## Background

Related issue: #18258

Vet360 has been named to VA profile, vet360 references in the devops repo should be renamed to va_profile.

**Dependency**: May need help for someone from devops.

## Tasks

- [ ] Complete work that Lihan is able to do on his own in this ticket.
- [ ] Create new ticket for devops folks and figure out who to assign it to.

[2021-01-07 20:52] cvalarida commented on #18149
I see `selectedPanel` is [an option in `manager.js`](https://storybook.js.org/docs/react/configure/features-and-behavior), but I _think_ it's referring to the addons in the bottom pane, not the tab up top. At any rate, I can't get it to change anything because I don't know the panel names. At least I think that's the problem. The documentation is pretty scant.

Closing since it doesn't look like i

[2021-01-07 20:54] rileyorr commented on #17906
Drafted content can be found in [this spreadsheet](https://docs.google.com/spreadsheets/d/1wdmEaZ_hPglVC0LS36dTh4IAopsL9VwPvmUezFKIuSA/edit?usp=sharing). Becca is giving feedback and then we'll send it off!

[2021-01-07 20:58] #18170 closed

[2021-01-07 21:02] rileyorr commented on #17907
Created a [third iteration of the Debt Letters tool](https://preview.uxpin.com/8bf81d84b749c20c8c2635709fe57e4547d9c30b#/pages/135518502/simulate/no-panels?mode=i) in UXPin and added an updated table. Will likely make adjustments as we finalize the statuses.

[2021-01-07 21:02] mdewey opened #18260 "[FE] Handle negative cases on the questionnaire list"
Handle no questionnaires in each list,
handle server is down for the questionnaire list
## User Story
As a veteran, I should see the correct errors on my questionnaire list

## Related Documentation

 - [MVP: Visit Intro Initiative (Proof of Concept)](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/initiatives/visit-intro.md)
- [

[2021-01-07 21:03] dmccurdybah commented on #17768
PRs:

- https://github.com/department-of-veterans-affairs/vets-api/pull/5607
- https://github.com/department-of-veterans-affairs/vets-api/pull/5608

[2021-01-07 21:04] jonwehausen commented on #17273
## Data Layer QA Round 2

### On Search Results Click

Description of Interaction | Data Layer Screenshot  | Test Status
------------ | ------------- | -------------
Click on a search result title link - performed search of "caregiver" | ![image](https://user-images.githubusercontent.com/48527022/103944427-a598be00-5101-11eb-8482-4290f730ad53.png) |  ✔️ **PASS**
Click on CTA - performed search of

[2021-01-07 21:04] tskinn opened #18261 "Update vets-api DB CPU Alert"
## Description
_What details are necessary for understanding the specific work or request tracked by this issue?_

Usually when CPU is pegged on a database there are more problems going on. Recently in an outage the DB was a bottleneck and there was a vets-api outage. A prometheus alert triggered about database CPU. That should be a pagerduty alert.

Along with this effort we probably want to incr

[2021-01-07 21:04] jonwehausen commented on #17273
@bsmartin-ep We can do the GTM QA here now

[2021-01-07 21:07] bridgethapner commented on #18251
Couldn't find anything in the Product Guide

Posed a question about this to the Profile team: https://dsva.slack.com/archives/C909ZG2BB/p1610052966381700

[2021-01-07 21:08] joanneesteban commented on #15132
@JasonTheBearded when you get the chance, please feel free to pull this into your queue & let the team know if you need support since there are a bunch of metrics here.

[2021-01-07 21:11] Samara-Strauss opened #18262 "[BE] Set up direct deposit for edu confirmation email"
## Background

We are currently sending a confirmation email when someone updates their direct deposit for C&P payments (details [in this ticket in the vets.gov-team repo](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/19543)). We should do the same for direct deposit for edu.

## Tasks

- [ ] Set up confirmation email for direct deposit for edu.
- [ ] Use the same copy as

[2021-01-07 21:13] mdewey commented on #17314
Set meeting with PM and Design Team for Monday.

Findings are here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/engineering/error-flows/README.md#L13

[2021-01-07 21:14] #17044 closed

[2021-01-07 21:16] sporeboy commented on #17860
Initial cut of new content placed in orientation mocks: https://xd.adobe.com/view/aaf3f28b-b763-4c16-ba02-d1d47e20328e-ffa0/

[2021-01-07 21:16] grossb1 opened #18263 "Add validation to the `request-eligibility-criteria-controller` to prevent requests that don't provide required parameters"
Currently the `request-eligibility-criteria-controller` would allow a down-stream request to be made to VAMF that would result in all the appointment requests in that collection being returned in the result.  This necessitated a set of long-running integration tests.  It tuns out that there doesn't exist a use-case in VAOS for this behavior and the aforementioned integration tests were removed.  T

[2021-01-07 21:18] timwright12 commented on #7973
PR for this item into Jenkins: https://github.com/department-of-veterans-affairs/devops/pull/8334

[2021-01-07 21:26] lexicalninja commented on #17695
From talking with profile devs:
Is there always an address suggested?
You will get just garbage suggestions and the UI will just say “Are you really sure you want to use that email?”

Would see a payload similar to this:
[code]

Notice the confidence score and delivery point validation values

[2021-01-07 21:26] lexicalninja commented on #17700
#### Do not show missing unit number suggestions
Just show the error message

[2021-01-07 21:27] jwoodman5 commented on #17927
@MarciMcGuireGCIO It looks like you updated the PDF version too, but can you please confirm before I send it off to VEO? Thanks!

[2021-01-07 21:28] timwright12 commented on #17899
Current status: a PR is in place to activate this on dev: https://github.com/department-of-veterans-affairs/vets-website/pull/15513

[2021-01-07 21:29] timwright12 commented on #7964
PR for this item into Jenkins: https://github.com/department-of-veterans-affairs/devops/pull/8334

[2021-01-07 21:31] bessgreen opened #18264 "Integrate with address validation endpoint"
## Acceptance Criteria
1. Make a call to hit the address validation endpoint
     - This will determine which address error to display

**Note for dev**
This task should be completed before any of the 4 Address Validation Error tickets: #17695, #17480, #17700, #17698

[2021-01-07 21:37] timwright12 commented on #7973
It appears as though, this will be a byproduct of [7971](https://app.zenhub.com/workspaces/vsp---frontend-tools-5fc9325744944e0015ed1861/issues/department-of-veterans-affairs/va.gov-team/7971)

Once the deploy to dev is set up and working we would just need to activate staging and prod in that job.

[2021-01-07 21:39] bessgreen opened #18265 "UI update | copy for No Claims & Appeals"
## Acceptance Criteria
1. Update the copy for the **No Claims & Appeals** UI:
     - Change header from "You do not have any submitted claims" to "**You do not have any submitted claims or appeals"**
     - Change body from "This app shows only completed claim applications. If you started a claim but haven’t finished it yet, go to eBenefits to work on it." to **"This app shows only completed claim

[2021-01-07 21:43] ltrombley commented on #18185
Task #18185 - Create new Health Services content "LIST & PLAYBOOK" for VA Tampa HCS is Complete and moved to Validate
1. Tampa VA Domiciliary is a "hidden" page only accessible via a Google search, but it is also listed in the A-Z for James A. Haley Veterans' Hospital

[2021-01-07 21:46] kelsonic commented on #3556
Whoa! This is an old one! 🙂

[2021-01-07 21:46] lexicalninja commented on #18264
#### Is there always a validation key?
Not always. Very few times there will be no validation key. If that is the case they cannot use that address.

There are slightly different messages for no validation key that with validation keys.

#### What are the validation messages?
[Address Validation Messages](https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/platform/user/

[2021-01-07 21:47] lexicalninja commented on #18264
Just a note, there is a lot of movement in this part of the repo, so if something seems off, please ping me and I will find the links again

[2021-01-07 21:47] amyknox commented on #18096
Use some of the effort for this story to draft a mobile concept to validate that responsive nature of the UI

[2021-01-07 21:48] zacharymorel commented on #17939
Findings after working with Kelson and the GIDS team:

**Data flow** as goes:
1. FE Request comes in.
2. Vets-API acts as a proxy to the GIDS API (It is a server connecting to other microservices).
3. GIDS is a microservice which receives request from Vets-API.
4. GIDS queries it's in house DB which stores various CSV's uploaded by various federal sources.

**Data**
Relationship between an Institu

[2021-01-07 21:48] brianalloyd commented on #3556
@1Copenut if you can update this ticket with a quick summary of what we discussed that will be helpful.  @kelsonic and @ncksllvn this will be something we can pick up next sprint during planning or between initiatives as bandwidth supports.  @laurellawrence feel free to add in any additional details as you feel would be helpful.  Thanks.

[2021-01-07 21:48] amyknox commented on #18100
Mobile concept to validate that the UI works responsively

[2021-01-07 21:49] timwright12 commented on #702
Chatted with @cvalarida about this, seems like it's been fixed. Closing out.

[2021-01-07 21:49] #702 closed

[2021-01-07 21:50] mdewey commented on #16580
This can not be completed 100%. That is because we are moving to the lighthouse for the submitting and the current endpoint is pointing to MAP, and that is not working. So the engineering team has decided to focus on the lighthouse and not fix the map PGD. This ticket now represents the JSON structure.

[2021-01-07 21:51] timwright12 commented on #16939
Is this the button? http://jenkins.vfs.va.gov/job/deploys/job/vets-website-vagovstaging/build?delay=0sec

Reference: https://dsva.slack.com/archives/CBU0KDSB1/p1610040664174500?thread_ts=1610038757.163400&cid=CBU0KDSB1

[2021-01-07 21:52] #18143 closed

[2021-01-07 21:53] zacharymorel commented on #17939
FYI: GIDS = GI Data Service
I also realize y'all might know a bit of that already. But I figured it'd be nice to repeat or include further details for context sake.

[2021-01-07 21:54] #18094 closed

[2021-01-07 21:54] #18098 closed

[2021-01-07 21:55] #18095 closed

[2021-01-07 21:55] outerpress commented on #18161
Thanks @narin ! @peggygannon let's address the design/content needs for this in the larger home page iterations ticket: https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/18070

[2021-01-07 21:55] zacharymorel commented on #17273
Sweet, let me know once that passes/ fails so I can close a related user story or continue working on it.

[2021-01-07 21:55] #18099 closed

[2021-01-07 22:02] timwright12 commented on #7248
Seems like this is not triggering on draft PRs

[2021-01-07 22:03] amyknox opened #18266 "STEM AD: Automated Decision Email - AMA Updates"
Update automated decision email per AMA review.

Guidance per Luke Tickner, 1/5:

Example language in the attached doc[https://app.zenhub.com/files/133843125/7b80f122-eadc-4558-bec2-6fd2b589af98/download](https://app.zenhub.com/files/133843125/7b80f122-eadc-4558-bec2-6fd2b589af98/download)

[2021-01-07 22:04] outerpress commented on #18070
@peggygannon a couple more screens to look at, the home page CTAs @narin surfaced in https://github.com/department-of-veterans-affairs/va.gov-team/issues/18161

* All CTAs (mobile) - https://adhoc.invisionapp.com/share/URZV3YHCQFZ#/screens/441820504
* In context (mobile) - https://adhoc.invisionapp.com/share/URZV3YHCQFZ#/screens/441820505
* In context (desktop) - https://adhoc.invisionapp.com/shar

[2021-01-07 22:07] SKasimow commented on #17808
@DanielleThierryUSDSVA Hi - can you confirm that text in links should have "English"  capitalized and "spanish" is lowercase (ie"Read this page in English")

[2021-01-07 22:09] brianalloyd commented on #3556
A quick summation of what needs to be done on this ticket:

- [ ] Move the P block out of the complementary content.
- [ ] Underlining the links and move them inside the heading (should match rest of the styling for the site)
![Screen Shot 2021-01-07 at 3 02 32 PM](https://user-images.githubusercontent.com/70410912/103950195-b7766300-50f9-11eb-847f-a9a6117cc589.png)
_Links are specified above in T

[2021-01-07 22:10] tskinn commented on #18153
requested an oauth app be created for argo https://github.com/department-of-veterans-affairs/github-user-requests/issues/5726

[2021-01-07 22:10] RLHecht commented on #14001
Closing this ticket. We decided not to make the change on FAQs since we didn't change the H1 to the new name.

[2021-01-07 22:10] #14001 closed

[2021-01-07 22:17] holdenhinkle opened #18267 "Request access to Google Analytics and/or Domo"
# Request Google Analytics and/or Domo access

## What this form is for
I’m working on a [ticket](https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/16994) to automatically grab user viewport data from Google Analytics Reporting API to update the viewports we run our Cypress e2e tests against.

I need someone to please register an app w

[2021-01-07 22:17] holdenhinkle opened #18268 "Request access to Google Analytics and/or Domo"
# Request Google Analytics and/or Domo access

## What this form is for
I’m working on a [ticket](https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/16994) to automatically grab user viewport data from Google Analytics Reporting API to update the viewports we run our Cypress e2e tests against.

I need someone to please register an app w

[2021-01-07 22:22] desireeturner commented on #18256
@amyknox @JenLJ @watersemma When you all have a chance can you review this 508 issue and provide feedback or sign off on the proposed solution described? Thank you!

[2021-01-07 22:27] holdenhinkle commented on #16994
I had a conversation with #vsp-analytics about getting access to GA - https://dsva.slack.com/archives/CKCRMLGAC/p1610049987173200

I filled out a request form for GA API access - https://github.com/department-of-veterans-affairs/va.gov-team/issues/18267

I started a conversation about getting Github API access - https://dsva.slack.com/archives/C01CHAY3ULR/p1610050405487600

[2021-01-07 22:28] shiragoodman commented on #17932
hey @laurenernest and the VAOS team. Thank you for meeting with us today, showing us your prototype and helping us test our questions. We had a few things we wanted to bring to your attention:

1. We noticed a few areas where your prototyped designs diverge from the approved patterns in the Design System. We'd like to help you iterate on those now, so that you don't unintentionally end up usabilit

[2021-01-07 22:28] mmiddaugh opened #18269 "VAMC Left Nav focus is offset for IE-11"
## Issue Description

As a keyboard user, I want to know with certainty where the focused area is, and for it to be a consistent cue across the site.

In #8975, we applied a fix for an offset focus outline which is not supported by IE-11.  When IE-11 is the browser used, the focus outline will still be cut off on the left and right for viewports less than 768px wide

## Environment

* Browser: IE-

[2021-01-07 22:31] Samara-Strauss opened #18270 "[FE] Look into analytics error discrepancies"
## Background

On 1.7.21, I met with Mike Richard to talk about analytics error tracking. I noticed there are a couple of high-count errors that we're not seeing on our dashboard in the same time period (12/31/20 - 1/6/21) — MVI202 and MVI201.

**VA Profile's error dashboard for 12/31 - 1/6**

![Screen Shot 2021-01-07 at 4.41.35 PM.png](https://images.zenhubusercontent.com/5a4e5e33a016c5b034bc0750

[2021-01-07 22:37] 1Copenut opened #18271 "508-defect-3 [COGNITION]: COVID Vaccine Trials - None of the above and Prefer not to answer checkbox "uncheck all" behavior should be clear to users"
# [508-defect-3](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-3)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2021-01-07 22:38] mmiddaugh commented on #8975
Created #18269 for IE-11 persistence and posted in the design channel for visibility

[2021-01-07 22:38] #8975 closed

[2021-01-07 22:41] mmiddaugh commented on #17682
@SgardnerPMP can you or someone from your team confirm these build successfully?

[2021-01-07 22:43] 1Copenut commented on #3556
Thank you @brianalloyd for the comment above. I took a quick look at the `<aside>` content again, and it looks like the P tag has already been moved out of the link block. If we can reverse the order of the H3 and the A tag, and underline the link, we'll be in good shape.

I **think** this `aside.va-nav-linkslist.va-nav-linkslist--related` is a Liquid template partial, so I hope it can be refactor

[2021-01-07 22:46] 1Copenut commented on #17542
@bethpotts Do you mind if we close this ticket and issue a full 508 audit request now that it's launched into production? I'll finish the screen reader testing there, and carry the one open item forward into that new epic.

Thank you!

[2021-01-07 22:47] bridgethapner commented on #18251
Alright, so I looked into this a bit and got some feedback from some Profile engineering folks. From what I understand from their responses [here](https://dsva.slack.com/archives/C909ZG2BB/p1610052966381700), the way VA.gov handles this scenario is initializing the Veteran with VA Profile via the **/v0/profile/initialize_vet360_id** API, then they can see their Profile information.

I need help fr

[2021-01-07 22:53] Mottie commented on #17825
Fixed in staging! 😸

[2021-01-07 22:55] starlow00 commented on #16612
@clantosswett , attached here are guides for both MHV and VAOS. Lauren raises one question for the Help Desk that needs to be addressed on the MHV document, marked on the Word doc. VAOS should be good to go in PDF form. Questions, please let us know. Thanks! (cc @jwoodman5)

[https://app.zenhub.com/files/133843125/f4bd3bf3-e95a-40dd-98ca-9548edbed0d3/download](https://app.zenhub.com/files/13384312

[2021-01-07 22:57] jwoodman5 commented on #13774
Hi @jenniferlee-dsva Catching up on this request here and realizing we need to get this moving forward for the Medallia implementation. We are targeting a pilot launch for Medallia next week and I'm not sure I'm clear on what needs to done here yet. Are you able share some context about what needs to be done and what the timing would be? Thank you much!

[2021-01-07 22:58] MarciMcGuireGCIO commented on #17927
Yes, that is correct. I exported a new PDF to correspond to the updated PPT.

[2021-01-07 22:59] jwoodman5 commented on #17927
Thank you much, @MarciMcGuireGCIO!

[2021-01-07 23:01] #18147 closed

[2021-01-07 23:02] 1Copenut opened #18272 "508-defect-3 [COGNITION]: COVID Vaccine Trials - Checkboxes should not be separated from additional information inputs"
# [508-defect-3](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-3)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2021-01-07 23:10] 1Copenut opened #18273 "508-defect-4 [COGNITION]: COVID Vaccine Trials - Consider making the confirmation page's first H2 the H1 for user clarity"
# [508-defect-4](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-4)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2021-01-07 23:19] digitalken commented on #17373
Added to TestRail.

[2021-01-07 23:23] 1Copenut opened #18274 "508-defect-4 [COGNITION]: COVID Vaccine Trials - 711 link aria-label repeats "TTY" for screen readers"
# [508-defect-4](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-4)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2021-01-07 23:25] bessgreen commented on #18227
@bridgethapner the design includes a message to "Please refresh this screen". From a UX-standpoint, how is refresh intended to work? Pull-down is a common approach on mobile apps, but a button to refresh would probably be more a11y-friendly (similar to the Try Again button on the No Network Connection error state: https://adhoc.invisionapp.com/share/GTZ1ESFF6BN#/screens/437850383)

cc: @lexicalnin

[2021-01-07 23:27] 1Copenut opened #18275 "[DESIGN] COVID Vaccine Trials - MacOS Safari cuts off the focus halo when accordions are opened"
## Definition of done

1. Review and acknowledge feedback.
1. Fix and/or document decisions made.
1. Accessibility specialist will close ticket after reviewing documented decisions / validating fix.

## Point of Contact

**VFS Point of Contact:** _Trevor_

## Details

MacOS Safari is cutting off the bottom of the yellow focus halo when I expand the accordions on the COVID vaccine trial content pag

[2021-01-07 23:30] outerpress commented on #15083
Thanks for the context @jbalboni , I misread your earlier comment. I chatted with @emilywaggoner and she's going to reassign this to the appropriate folks on the Design System team since it needs a broader perspective to resolve.

[2021-01-07 23:41] digitalken commented on #17520
Added to TestRail.

[2021-01-07 23:44] digitalken commented on #18088
Added to TestRail.

[2021-01-07 23:44] laurenernest opened #18276 "Homepage - document current analytics"
## Issue Description
In order to establish baseline metrics in analytics dashboards and identify gaps, document current analytics implementation on the VAOS homepage.
- Event actions, including CTA labels and respective states
- CTAs without tracking (e.g. VVC Join appointment button doesn't fire event)
- Performance and session-based tracking (e.g. total number of appointments shown in each tab)

[2021-01-07 23:45] peggygannon commented on #16203
Hi, @joshkimux Yes, I had recommended moving the PDF link to the bottom of the alert in an effort to streamline the content and to not have the PDF link repeated several times in the alert box, (taking into account mobile).

Above, Jen S had provided earlier accessibility feedback that repeating the link could be confusing for those with cognitive issues. Please let me know if I'm misreading this

[2021-01-07 23:47] digitalken commented on #18265
Added to TestRail.

[2021-01-07 23:52] bkjohnson commented on #18149
:wink:

[2021-01-08 00:24] SKasimow commented on #17871
@bmcgrady-ep Hi Ben - here's the dashboard request we discussed prior to the holiday. Please let me know if you need additional info or want to discuss. Thanks!  Sharon

cc: @DanielleThierryUSDSVA

[2021-01-08 00:26] digitalken commented on #16856
Added to TestRail.

[2021-01-08 00:32] digitalken commented on #18137
Added to TestRail.

[2021-01-08 00:33] bessgreen opened #18277 "File upload / Take photo buttons"
## User story
As a user, I want multiple options for file upload so I can submit my documents.

## Acceptance Criteria
1. On each of the file request items, replace the current **Upload** button with 2 large buttons:
     - **Select a file** (primary action)
     - **Take photos** (secondary action)

Note: routing not needed for this story. This is only for the UI / a11y labels.

## Designs
![Scre

[2021-01-08 00:39] jwoodman5 opened #18278 "Analytics Implementation for VSP Contact Center - Medallia"
# Google Analytics Implementation Request

## What this form is for

<details>
<summary>More Information</summary>
<div>
    <br>
<p>Use this template to request Google Tag Manager and Google Analytics implementation or QA for your product. Please fill out all brackets.</p>

For more information, please check out the [Google Tag Manager resources](https://github.com/department-of-veterans-affairs/

[2021-01-08 01:09] bessgreen commented on #18277
Questions:

1. Is the content behind the overlay ever visible without the overlay (i.e. when the action sheet is not displayed)?

[2021-01-08 01:26] digitalken commented on #17764
@keli13 - 1/7/2021 - I'm getting funny stuff going on trying to test this one.
I can't give you the exact account numbers but I can give you names that are showing up.

1. Gerald K Schmidt on iOS:  Under Military Information, nothing shows.  When I go to Benefit Summary and Service Verification Letter, I see Discharge Type listed twice.  Under one of them, it says the type is Navy.  Doesn't seem r

[2021-01-08 01:31] bessgreen opened #18279 "Alert: give app permission to access camera"
Note: this is handled by device - ticket may not be needed.

## User story
As a user, I want to know when I need to grant the app permission to access my device's camera, so I can opt in or out.

## Acceptance criteria
1. After selecting "Take photo" from the action sheet, check whether or not the device has previously given permission for the app to access the camera.
2. If permission has not pre

[2021-01-08 01:40] joshkimux commented on #16203
@peggygannon thank you for the additional context! Gotcha, I think the unanswered question then in this thread is around where that first download link was intended to be. Jennifer's original screenshot had it on the first bullet, so I think her original intent was to have it emerge within the list sooner rather than later so users would know where to look for it.

That being said, I don't think t

[2021-01-08 01:40] #16203 closed

[2021-01-08 01:52] joshkimux commented on #17825
Confirmed this has been fixed. Great work @Mottie 🥳

[2021-01-08 01:52] #17825 closed

[2021-01-08 02:19] erikphansen commented on #18270
It's possible that our GA dashboard view isn't showing the events because it's not configured to show them. I wonder if the 201 and 202 errors in Mike's dashboard were triggered by errors when attempting to initialize someone into VA Profile. In that scenario we'd make a call that looks something like:

[code]

while a call to GA when there is an error updating an address would look something like

[2021-01-08 02:40] erikphansen commented on #16904
@bmcgrady-ep I found a couple more that need to change :(

[code]

becomes:

[code]

---

[code]

becomes:

[code]

[2021-01-08 02:42] erikphansen opened #18280 "Update `direct-deposit`-related strings sent to GA, prefixing them with `cnp-`"
Based on [this ticket](https://github.com/department-of-veterans-affairs/va.gov-team/issues/16904), we should update some of our existing Direct Deposit-related GA strings to be specific to Direct Deposit for Comp and Pen.

To make sure we don't break stuff, I suggest we first apply this change to non-prod envs first and confirm that things look good on the GA side. 💡Idea: make a new helper to ret

[2021-01-08 03:39] bsmartin-ep commented on #18268
Duplicate of #18267

[2021-01-08 03:39] #18268 closed

[2021-01-08 03:40] bsmartin-ep commented on #18267
@holdenhinkle -

I created a Service Account in our primary analytics project in GCP and assigned it read permissions in Google Analytics.

I believe you'll need the JSON token to connect.

What is a good way to securely send it to you?  Do you use keybase?

[2021-01-08 04:17] tlei123 commented on #17206
Cypress test-results UPDATE...

@mdewey , I've re-run the local Cypress tests, this time manipulating the specific Flipper settings in the existing, mocked **feature-toggles.json** files instead of via Flipper-UI.

More tests passed this time; same 6 failures out of 88 for both Enabled and Disabled.

in_progress_form_custom_expiration **TRUE**:
- applications/gi/tests/e2e/00-required.cypress.spec.

[2021-01-08 06:12] edmangimelli commented on #17595
PR https://github.com/department-of-veterans-affairs/vets-api/pull/5582

[2021-01-08 13:09] edmangimelli commented on #17595
responded to feedback. tweaks made. PR needing review (posted in vfs-platform-support)

[2021-01-08 13:29] lealester commented on #17503
Cloned - news, events, stories; Operational Status and Franklin Clinic highlighted until to test

[2021-01-08 13:48] holdenhinkle commented on #18267
@bsmartin-ep

Thank you! Yes, I used keybase. My username is holdenhinkle

[2021-01-08 14:07] dillo commented on #17904
WIP: https://github.com/department-of-veterans-affairs/vets-api/compare/master...17904_lighthouse_jwt

[2021-01-08 14:12] sonntag-adam commented on #17905
Testing passes QA

[2021-01-08 14:12] #17905 closed

[2021-01-08 14:24] Samara-Strauss commented on #18270
Can you explain this to me more? Is it that VA Profile can detect errors that they're not sending over to us? And why aren't they sending them over? I just don't know enough to understand what's going on here.

We can easily get this updated to "Total Contact Information Failures."

[2021-01-08 14:29] holdenhinkle commented on #16472
After running the commands to build and run the production website locally, it does not appear that the `data-cy` and `data-testid` attributes are being removed.

Example:
http://localhost:3001/resources/ still contains the `data-testid="resources-support-search` attribute on the `form` element:

![image.png](https://images.zenhubusercontent.com/5f85bcde4f4764585e8ff820/2d9fc9d6-580f-442e-98b0-185

[2021-01-08 14:33] bmcgrady-ep commented on #16904
@erikphansen - Thanks for bringing this to my attention. I've updated the additional items on my end.

[2021-01-08 14:37] Samara-Strauss opened #18281 "[Analytics] Change the name of GA table from "Total Address Suggestion Failures" to "Total Contact Information Failures""
## Background

On [the address validation GA dashboard](https://analytics.google.com/analytics/web/#/dashboard/pq_-PrkvQleUdCBbV7eq7Q/a50123418w177519031p176188361/), the table we are using to show errors has changed over time, and the title "Total Address Suggestion Failures" no longer applies. We should change the name of this table to accurately reflect what we are now showing — Total Contact I

[2021-01-08 14:37] Samara-Strauss commented on #18270
Request to change the name of the table here: #18281.

[2021-01-08 14:41] mdewey commented on #16938
Merged, waiting for staging deployment

[2021-01-08 14:44] Mottie commented on #3825
I've merged in code that records the visible alert box event. There's no easy way to test the "no contestable issues" alert with the users we have currently, but you can log into any non-HLR user and see the loading error alert.

[2021-01-08 14:49] erluti opened #18282 "ValidateEVSSFileSize should use EVSS inflection"
This class is currently called `ValidateEvssFileSize` and doesn't use the EVSS inflection.
Example commit: https://github.com/department-of-veterans-affairs/vets-api/pull/5225/commits/5eb8f05b3c43c573ad1974294bd92b9369a415d6

[2021-01-08 14:52] erluti opened #18283 "VBADocuments uses VBA inflection"
`VbaDocuments` occurs in the VBADocuments swagger classes
Example commit https://github.com/department-of-veterans-affairs/vets-api/pull/5225/commits/dc5fb0c44b9c9ad2c1343660c8193c5b238d57b5

[2021-01-08 14:56] erluti opened #18284 "concerns namespace not necessary for JsonFormatValidation"
JsonFormatValidation in AppealsApi is using a module `Concerns` that doesn't line up with the directory structure.
example commit https://github.com/department-of-veterans-affairs/vets-api/pull/5225/commits/614e4d8e368723b33c252975a6061ef1ffc47174

[2021-01-08 14:59] erluti opened #18285 "move VAOS::Exceptions::BackendServiceException to match naming conventions"
`vaos_backend_service_exception.rb` should be renamed `backend_service_exception.rb` to match directory structure.

Example commit https://github.com/department-of-veterans-affairs/vets-api/pull/5225/commits/2cd4c014cca4334220f4755af10017b714ea9c5e

[2021-01-08 15:11] erluti opened #18286 "veteran_verification model namespacing cleanup"
* requires are being used for files that would be autoloaded
* `MockOpenidUser` is not named consistently with it's filename `mock_open_id_user.rb`
* some models are in an EMISRedis namespace and need to be match their directory structure
* question: Should `mock_veteran_status_config.rb` be in the lib directory and not in the `config` directory it's in?

These 6 commits show the changes needed:
h

[2021-01-08 15:12] mchelen-gov commented on #17806
@erluti Our use case is read only, @kevinmirc maybe you can clarify that in OP?

[2021-01-08 15:17] mdewey commented on #17206
@tlei123  With the mocking, are you testing the API at all. This is an API only change.

[2021-01-08 15:18] delli-gatti-michael commented on #17689
[Testrail test run](https://dsvavsp.testrail.io/index.php?/runs/view/1186&group_by=cases:section_id&group_order=asc)

[2021-01-08 15:18] delli-gatti-michael commented on #17689
No issues found.

[2021-01-08 15:18] #17689 closed

[2021-01-08 15:21] LEHigley commented on #18221
done!

[2021-01-08 15:21] #18221 closed

[2021-01-08 15:22] jason-gcio opened #18287 "Adjust Date Shown for Non-Explicit Dates"
## Story
As a Veteran viewing my payment history, sometimes there might be a date shown as **Invalid date** when the date is not available , like if the payment was pending that day, and I want it to be clear that that date's invalidity is not indicative of the payment being invalid so I can better understand that payments status.

## Background
In UAT, we found a payment that was likely to be pen

[2021-01-08 15:23] JasonTheBearded commented on #16547
@joanneesteban I finished all the requested changes. The only item I was not able to complete is the total time to complete line. Because the time field is a calculated field taking the average of all times for the step, DOMO does not total those times up but instead averages them. Attempting to use a Beast Mode calc to average the total time also results in an error.

[2021-01-08 15:30] JasonTheBearded commented on #14537
QA'd results and they looked good. Worked with @jonwehausen to refine the query. Created Prod dataset in DOMO with name, 'BQ - View Payment Completion Time'.

Will start work on step 3.

[2021-01-08 15:35] jonwehausen commented on #3825
Thanks @Mottie!

Data layer looks good here! ✔️ **PASS**

![image](https://user-images.githubusercontent.com/48527022/104033096-13de8e80-519d-11eb-83a4-13fe60b9d926.png)

[2021-01-08 15:37] brianalloyd commented on #17276
Thanks @ncksllvn we'll keep this in the backlog until we can review with @jenniferlee-dsva and @johnhashva.  Think we continue to monitor other audience-types for R&S articles in order to build a more inclusive library in the following months.  Thanks for working the details in support.

[2021-01-08 15:44] jason-gcio opened #18288 "Adjust Environment Mapping"
## Background
To better accommodate the VRE API team's testing effort, we need to repoint where the staged CH31 feature points in the lower environments.

## Considerations
`dev.va.gov`  >  CMS QA
`staging.va.gov`  >  CMS POSTSPRINT
`www.va.gov`  >  CMS PRODUCTION

- Testing these will need to be completed with SoapUI
- These changes may require a change to values stored in **credstash**

## Tasks

[2021-01-08 15:49] delli-gatti-michael commented on #17707
Form is located here:
https://staging.va.gov/education/opt-out-information-sharing/opt-out-form-0993/claimant-information

[2021-01-08 15:50] tlei123 commented on #17206
@mdewey , technically no -- I didn't directly test the API itself, BUT @dillo 's changes were pulled into vets-api, and vets-api rebuilt & restarted before the above Cypress tests.

VSA-QA is currently only covering browser testing (frontend behavioral & visual testing).  Sorry for any confusion, here are the [VSA-QA docs](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/t

[2021-01-08 15:52] jsev-io commented on #12218
@anitadewitt-va we'll leave this ticket open until @Jeff-Hayter provides confirmation for that access.
Then you'll be provided credentials.

[2021-01-08 15:54] 1Copenut commented on #14103
@artsymartha68 I've completed the audit for the COVID vaccine registry content and form views. Let me know if I should assign individual tickets to a particular person, or if you'd like me to help prioritize. When you're ready for the 508 office to take a look, please email Linsey and CC me. Thank you!

[2021-01-08 15:57] jonwehausen commented on #3825
### Next Steps

https://tagmanager.google.com/#/container/accounts/144676348/containers/2214120/workspaces/1000440

@bsmartin-ep I'm going to hand this off to you, a couple things to note on this QA:
- In this case it's safe to say now and in the foreseeable future we will want the event category as "API Calls", but we may introduce a situation in the future where this visibility is the product of

[2021-01-08 16:01] caw310 opened #18289 "Staging Review: Design System Team - Back to Top Component"
## Steps to complete Staging Review:

- [x] VSP: Schedule meeting with VSP reviewers and requesting team attendees (as listed below)
- [ ] VFS: At least 4 days before scheduled meeting, you must complete list of artifacts below
- [x] VSP: Practice area reviewers create sub-issues attached to this one with feedback for your team
- [ ] VFS: Completes attached feedback tickets based on acceptance cri

[2021-01-08 16:06] kevinmirc opened #18290 "Backend - Update 10-10EZ Address Fields (based on schema changes)"
**Description**
In the 10-10EZ Schema, `mailingAddress` will not be captured as Mailing Address (in the UI) and Permanent Mailing Address (in ES). Update the submission data to handle this update (properly marking the address type in the request payload).

**Schema**
https://github.com/department-of-veterans-affairs/vets-json-schema/pull/559

[2021-01-08 16:08] kevinmirc opened #18291 "Capture the daily number of dropped applications since 10-10CG launch"
**Description**
We track the daily stats of 10-10CG submissions in Sheets and Excel. Update both sources with the number of attachments that have been dropped since the production release of the form.

[2021-01-08 16:14] #18068 closed

[2021-01-08 16:17] kevinmirc commented on #17806
Yes, I've updated.

[2021-01-08 16:17] miabecker commented on #17800
@shiragoodman just checking in and seeing if you need anything from us? Know the holidays and this week has been pretty crazy.

[2021-01-08 16:19] outerpress commented on #17932
Here's the public link to the prototype for anyone without an Ad Hoc Invision login: https://adhoc.invisionapp.com/share/URZV3YHCQFZ

[2021-01-08 16:25] erikphansen commented on #18270
I don't understand how this GA dashboard view is set up either. But surely there must be something close to a raw data view that'll show us `-initialize-vet360-id-save-failure` and `-phone-save-failure` errors in addition to the `-address-save-failure ` errors this dashboard is showing. @bmcgrady-ep Can you assist with this at all?

[2021-01-08 16:28] ncksllvn commented on #17276
Per standup I am going to try to feature flag this work so that it shows in staging but not production

[2021-01-08 16:31] shiragoodman commented on #17800
thanks for reaching out @miabecker ! I met with our accessibility specialists yesterday. @noahgelman will be taking on this work. He has a 1 or 2 audits that are taking priority (they were requested earlier), but should be getting to this within the next week or 2. Noah might reach out with questions.

[2021-01-08 16:31] jbalboni opened #18292 "[POC] Review page"
## Item Description
Create a review page that shows the chosen facility and two appointment times.

## Acceptance Criteria
- [ ] Behind va_online_scheduling_cheetah feature flag
- [ ] Shows VA facility information
- [ ] Shows both chosen appointment times
- [ ] Follows new appointment review page styles

[2021-01-08 16:33] joanneesteban commented on #17729
@JasonTheBearded @lalexanderson-dsva @rroueche

Notes from 1/8/21 Covid Dashboard Meeting:

Action Items:
- [ ] Vaccine funnel should be moved to Calls to Action. With this, clarifying the product title of Vaccine Research Volunteer. Will put subtitles.
- [ ] Retitling the funnels to button clicks to clarify sign in vs. not signed in
- [ ] Clarifying the numbers for users who are already signed-in

[2021-01-08 16:36] dneel-bah opened #18293 "EDU Form: Create Feature Flag for OMB/Expiration date updates"
As a developer, I need to create a feature flag for the form OMB content so that it is not displayed in production as development is completed.

## Assumptions:
1. The Feature Flag is configured per environment.
    a. Feature flag for edu form updates is available in both vets-api and vets-website repos.
2. When the feature flag is:
     a. Off: The content changes are not visible.
     b. On: Th

[2021-01-08 16:38] dneel-bah opened #18294 "EDU Form: Remove Feature Flag usage for OMB/Expiration date updates"
As a developer, I need to remove the 'edu_form_omb_and_expiration' feature flag toggle so that it is no longer configurable, and the new functionality is permanent.

## Assumptions:
1. This feature flag was created in #18293
2. UAT has been completed for this effort and EDU signed off as of 02/02/21.
3. The new functionality is live in production with no need remaining need for the toggle.

## Acc

[2021-01-08 16:45] digitalken commented on #18085
PASS 1/8/2021 - Seeing "Use fingerprint" and "Use face recognition".

[2021-01-08 16:45] #18085 closed

[2021-01-08 16:47] dneel-bah opened #18295 "EDU Form: Update OMB and Privacy Act Details on Forms"
As an Education Team Member, I need the OMB #, Expiration date, and Privacy Act Details on forms updated so that they are consistent with the latest versions of each of the forms and compliant with the OMB paper forms.

## Assumptions:
1. This work is completed behind the `edu_form_omb_and_expiration` feature flag (#18293)
2. The privacy act statement is a shared component across all forms, except

[2021-01-08 16:51] kristenmcconnell commented on #17805
Other inspiration (debt letters and claims/appeal tracker)

![Screen Shot 2021-01-08 at 11.21.14 AM.png](https://images.zenhubusercontent.com/5f44055c65a5c54f7cfe5928/13ea2027-4271-4721-9a22-dcf935bf4417)![Screen Shot 2021-01-08 at 11.43.10 AM.png](https://images.zenhubusercontent.com/5f44055c65a5c54f7cfe5928/a05dfbae-5f7b-468f-8f5c-f65189d67eb3)![Screen Shot 2021-01-08 at 11.49.49 AM.png](https:/

[2021-01-08 16:53] jonwehausen commented on #16643
@bsmartin-ep to run thru post-validation

[2021-01-08 16:54] kreek opened #18296 "Mobile profile has work and mobile numbers flipped"
In the serializer for the mobile user profile the work number shows the mobile number and vice versa.

[2021-01-08 16:54] #17419 closed

[2021-01-08 16:56] digitalken commented on #18129
PASS 1/8/2021 - No longer shows mobile alert and claims step table.

[2021-01-08 16:56] #18129 closed

[2021-01-08 16:59] #18205 closed

[2021-01-08 17:01] sanlouise commented on #17279
Done, closing with comment.

[2021-01-08 17:01] #17279 closed

[2021-01-08 17:22] bkjohnson commented on #13999
It seems like the acceptance criteria wasn't met (removing the temporary exception for #13647). Am I understanding that correctly?

[2021-01-08 17:25] bmcgrady-ep commented on #18281
Hi @Samara-Strauss - I've updated the name to "Total Contact Information Failures".  I'm closing out the ticket, but feel free to reopen with any additional questions.

[2021-01-08 17:25] #18281 closed

[2021-01-08 17:26] bkjohnson commented on #7248
Yes - it's still an issue as far as I'm aware.

[2021-01-08 17:38] bmcgrady-ep commented on #18270
@Samara-Strauss @erikphansen - The GA dashboard is showing all the errors happening on the `profile-edit-failure` and `address` as the event action. If you prefer, I can change the dashboard to show all the profile errors as shown in this [GA report](https://analytics.google.com/analytics/web/#/report/content-event-events/a50123418w177519031p176188361/_u.date00=20210101&_u.date01=20210107&explorer

[2021-01-08 17:44] miabecker commented on #17800
No problem at all! This is a great and helpful update! Thank you.

On Fri, Jan 8, 2021 at 11:31 AM shiragoodman <notifications@github.com>
wrote:

--
Maria Becker
Product Manager
Email maria.becker@thoughtworks.com
Telephone 347-461-7592
Pronouns they/them or she/her
[image: ThoughtWorks]
<http://www.thoughtworks.com/?utm_campaign=maria-becker-signature&utm_medium=email&utm_source=thoughtworks-ema

[2021-01-08 17:45] edmangimelli commented on #17595
made tweaks for @erluti feedback

[2021-01-08 17:52] jhouse-solvd opened #18297 "Move va.gov search synthetic monitor into Terraform (IaC)"
## Description
_What details are necessary for understanding the specific work or request tracked by this issue?_

## Background/context/resources
_Any additional context for the reader to know, if applicable_

## Technical notes
_Notes around work that is happening, if applicable_

---
## Tasks
- [ ] _What things need to happen?_

## Definition of Done
- [ ] _What is the expected outcome of this

[2021-01-08 17:53] jhouse-solvd commented on #17631
Please see #18297 to create a Terraform module for this synthetic monitor so that it can be automatically re-created in the future.

[2021-01-08 18:00] jonwehausen commented on #13494
Hi @johnhashva ,

Yes that is correct, the user had type ahead options on page when they performed their search.

[2021-01-08 18:01] jhouse-solvd opened #18298 "CI Jobs Alerting - explore if GitHub Actions can integrate with Slack given our permissions / security"
## Description
We want to explore whether or not GitHub Actions can integrate with Slack given our permissions / security

## Background/context/resources
Slack comment here from Tim Wright looking for this functionality

## Technical notes
Probably just need to put Slack API tokens/urls in parameter store and pull them using credentials store encrypted secrets

https://github.com/marketplace/acti

[2021-01-08 18:02] kristenmcconnell commented on #17805
Possible designs that I want to discuss on Monday.![Status Exploration.jpg](https://images.zenhubusercontent.com/5f44055c65a5c54f7cfe5928/d45513ba-2cf1-4ace-89be-ee13e902f858)

[2021-01-08 18:03] digitalken commented on #18160
1/8/2021 - Closing.

[2021-01-08 18:03] #18160 closed

[2021-01-08 18:09] annaswims opened #18299 "[Development] Add claimSubmissionSource to Form 526"
Add  `"claimSubmissionSource":  “VA.gov”` to form 526 Submissions sent to EVSS.

[2021-01-08 18:10] annaswims commented on #18299
### Email from Michael Walker - Dec 18

The code changes to support a claim source element in 526 submissions is now ready in the EVSS Dev (INT) and Test (PINT) environments.

This change is planned to go to Production on the evening of January 6th.

The new element (claimSubmissionSource) is optional in the 526 schema so you do not HAVE to provide it, but ideally both VA.gov and Lighthouse will s

[2021-01-08 18:12] brianalloyd commented on #8256
@erikphansen I'm going to get this into next sprint for review and action, as @jenniferlee-dsva mentioned I think this might have been victim to some turn over and was orphaned.  I'll close the loop once we've resolved the issue.

[2021-01-08 18:13] #18299 closed

[2021-01-08 18:13] annaswims commented on #18299
https://github.com/department-of-veterans-affairs/va.gov-team/issues/17727

[2021-01-08 18:13] digitalken commented on #17864
PASS 1/8/2021 - Weight looks even around the perimeter of the icon.

[2021-01-08 18:14] annaswims commented on #17727
@luke-gcio I switched this over to a back end ticket

[2021-01-08 18:24] keli13 commented on #17764
@digitalken @bessgreen

- Label update from "Discharge Type" to "Branch of Service" is up for pr.
- Based on designs, will keep "rating" instead of "evaluation" for now.

@bridgethapner There seems to be a delta between the date shown for Benefits Summary Letter and the downloaded letter as @digitalken mentioned in his screenshot above.

To my understanding the date generated by the letter is show

[2021-01-08 18:28] ala-yna opened #18300 "Update facility label for #620 (Franklin Delano Roosevelt)"
## Issue Description
- Site 620 is now called VA Hudson Valley Health Care System rather than Franklin Delano Roosevelt Hospital.
---
## Tasks
- [ ] Change the label mapping for #620

## Acceptance Criteria
- [ ] Label is changed
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to an Epic** (what body of work is this a part of?)
-

[2021-01-08 18:36] laurenernest opened #18301 "Usability Testing Prep [VAOS Homepage Refresh]"
## Steps to complete Usability Testing Prep:
- [x] VFS Product Manager: create this issue and fill in the team name and feature name in the title and other bolded information appropriately
- [x] VFS: Attach all artifacts before requesting the meeting
- [x] VFS: Link to this issue once created in [#vfs-platform-support](https://dsva.slack.com/channels/vfs-platform-support) in Slack; tag @ Shira Goo

[2021-01-08 18:38] Samara-Strauss commented on #18270
@bmcgrady-ep that report shows contact information errors and direct deposit errors. For the address validation dashboard, I am only interested in contact information errors, not direct deposit errors.

Still there are errors showing in the report you linked that are related to contact information that aren't showing in the address validation report — MVI202 and MVI201 being the two most notable e

[2021-01-08 18:38] Samara-Strauss commented on #18281
Thank you!

[2021-01-08 18:45] jonwehausen commented on #14491
### QA Testing

- Testing was performed here by doing manual data layer pushes to simulate each type of button click

Description of Test Case | Data Layer Screenshot | GTM Tagging | Test Status
--------- | -------------- | --------------- | ---------------
Primary button (new taxonomy)  | ![image](https://user-images.githubusercontent.com/48527022/104049419-f2889d00-51b2-11eb-9dcb-3780c94b8dd3.pn

[2021-01-08 18:47] jonwehausen commented on #14491
### Latest Design System Conversation
https://dsva.slack.com/archives/C01DBGX4P45/p1610046831011700

[2021-01-08 18:48] jonwehausen commented on #14491
### Next Steps
- @bsmartin-ep to begin drafting the global event listener code to be included with the footer

[2021-01-08 18:55] caw310 commented on #16261
Discussed in 1/8 DSC meeting.

Action Items
Add recommendation to display new page when additional inputs are going to be displayed.  Add Dos and Don’ts.
For single field, don’t do hide, just display the input. Input not hidden (example gender)
DST to prioritize this work.

[2021-01-08 18:57] tressaellen commented on #18044
@Samara-Strauss @mshea0606 Here is a first pass at wireframes for a FTUX for MyVA.

![My VA FTUX desktop.jpg](https://images.zenhubusercontent.com/5dfa65bbbd078d1699e52294/0134dfbf-c592-4182-8626-008784d7e266)

![myVA FTUX mobile.png](https://images.zenhubusercontent.com/5dfa65bbbd078d1699e52294/475f0158-6133-406a-a5a7-5db8f3fbae84)

[2021-01-08 19:09] peggygannon commented on #18161
@outerpress sounds good. I've added comments to the prototype.

[2021-01-08 19:09] thilton-oddball commented on #18198
per Liani:

Review restructured environment documentation
from what I understand, Gretchen has already spoken with someone from the BE T team (and I with Alex only briefly, but I am happy to clarify)

Content Team is crafting a migration plan for VSP teams to follow, regarding all other VFS-facing-VSP-owned documentation
We will be tackling that estimated next sprint and the one after (44 + 45) an

[2021-01-08 19:12] k80bowman opened #18302 "Access for Katryn Bowman"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Do not remove `operations` label; this will notify the VSP Operations team of your request
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Pleas

[2021-01-08 19:13] erikphansen commented on #18270
@Samara-Strauss @mshea0606 Welp we might want to look into refining how we report errors to users when we cannot init them in VA Profile since that's the source of most of the 201 and 202s. Right now we just show them a very simple "We’re sorry. Something went wrong on our end. Please refresh this page or try again later." alert.

[2021-01-08 19:13] peggygannon commented on #18070
Thanks, @outerpress thanks, I've added comments to the prototype for the home page CTAs. Let me know if you have any questions.

[2021-01-08 19:13] Samara-Strauss commented on #18044
Thank you! Can you also throw together a mockup (in addition to this one — this one is great) that shows what it would look like if some of these applications were in progress? That'll be super helpful for documentation purposes, so we can clearly show how the design will progress and change. So, this would be something like:

- Show the health care application in progress.
- Keep the "get started

[2021-01-08 19:15] cvalarida commented on #18149
:astonished:

[2021-01-08 19:21] erikphansen opened #18303 "Record errors when we cannot create a VA Profile transaction"
When there is a failure to create a VA Profile transaction, we are not currently reporting that to GA: https://github.com/department-of-veterans-affairs/vets-website/blob/e4a5f7fc2881c0233b30f91b250b812123df1573/src/platform/user/profile/vap-svc/actions/transactions.js#L203-L209

We _are_ reporting successful transaction creations: https://github.com/department-of-veterans-affairs/vets-website/blo

[2021-01-08 19:25] #17900 closed

[2021-01-08 19:27] jonwehausen commented on #18278
Hi @jwoodman5 ,

Thank you very much for your request here. We think this would be a great opportunity for @ianMcCullough-ob to join us in the GTM implementation effort here.

Just before the turn of the year I spoke with our Medallia rep Sarkis who informed us of Medallia's capability to push various survey engagement data to the data layer for the capability of being collected via GTM/GA.

I bel

[2021-01-08 19:38] jhouse-solvd opened #18304 "Alerting - Investigate which PagerDuty Slack integrations were removed and add them back to the #oncall channel"
## Description
A handful of pagerduty slack integrations were removed as you can see in the attached image and here in this [slack thread](https://dsva.slack.com/archives/C30LCU8S3/p1609959968276400)

This means some (or all?) alarms will not get posted to the oncall channel. (people will still receive pages when oncall though)

## Background/context/resources
This [slack thread](https://dsva.slac

[2021-01-08 19:44] #18146 closed

[2021-01-08 19:46] ayushchak opened #18305 "Write up testing plan"
Ayush and Bridget to write up a testing plan for the VA Mobile App's internal/soft release.

Questions for Steve:
- Who is this going out to? Are they slack users? If yes, which workspaces?
- Do we need to set up an email inbox?

We'll write up a checklist following this

[2021-01-08 19:48] jbalboni commented on #15998
@outerpress Documented here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/appointments/va-online-scheduling/design/request_flow.md

[2021-01-08 19:49] Samara-Strauss commented on #18270
OK, we can probably revisit #17210.

- For MVI202 — we can check in with the login team to see how they are addressing duplicate identity issues when people are logging in to VA.gov. We might also need to do more digging with the VA Profile team to make sure we fully understand what this error is communicating.
- For MVI201 — I'm surprised these people are able to update their contact info at all

[2021-01-08 19:49] bmcgrady-ep commented on #18270
@Samara-Strauss - Gotcha. I was able to update the dashboard to include MVI202 and MVI201 errors. Let me know if you need anything else.

[2021-01-08 19:56] dneel-bah opened #18306 "CT: Add IPEDS to Caution Flag Mappings"
As a Education Team Member, I need caution flags that are applicable to multiple locations of an institution to be displayed on all applicable locations so that the users of the Comparison Tool are aware of any caution flags related to that location.

## Assumptions:
1. This work is completed behind a prod flag.
2. Additional research details can be found in story #18619.

## Acceptance Criteria:

[2021-01-08 20:03] dneel-bah opened #18307 "CT: Remove Secondary SCO information from the Profile page"
As an Education Services Team Member, I need to see the secondary SCO information removed from the profile page, so that users contact the correct person.

## Assumptions:
1. This work is completed behind a prod flag.

## Acceptance Criteria
1. The "secondary" SCO section and all SCOs not of type "Primary" are not displayed on the CT profile page.

## Supporting Artifacts:
1.
![image](https://user

[2021-01-08 20:06] jsev-io opened #18308 "Offboarding of Nicole Houston"
# Instructions
Fill out name of individual and *Description* section below.

# Description
- Please provide the name of the individual needing offboarded.

- Please provide the name of their team, their role on that team, expected last day, and the name of the company they work for.

- Please provide any type of access they may have and their GitHub username.

## AC
 - [x] Remove global/config.yml

[2021-01-08 20:06] dneel-bah opened #18309 "CT: Remove prod flag for secondary SCO removal"
As a developer, I need to remove the prod flag for the secondary SCO removal so that the updated UI is available in all environments.

## Assumptions:
1. UAT has been completed for this effort and EDU signed off as of 01/29/21.

## Acceptance Criteria
1. The prod flag created in #18307 is removed and the functionality implemented in that story is available in production.

## Supporting Artifacts:

[2021-01-08 20:09] jonwehausen commented on #18308
### Analytics Update
- Nicole did not have a Google Analytics or DOMO account, no further action needed

[2021-01-08 20:10] dneel-bah opened #18310 "CT: Remove prod flag for IPEDS caution flag mapping"
As a developer, I need to remove the prod flag for the IPEDS caution flag mapping so that the updated UI is available in all environments.

## Assumptions:
1. UAT has been completed for this effort and EDU signed off as of 02/25.

## Acceptance Criteria
1. The prod flag created in #18306 is removed and the functionality implemented in that story is available in production.

## Supporting Artifacts

[2021-01-08 20:17] laurellawrence commented on #17937
Mockup for feedback can be found here: https://xd.adobe.com/view/11c751ae-0a20-44fc-99e5-348eddc3272b-4494/

[2021-01-08 20:19] leahkeeler commented on #16812
This is complete and DMC has the working for banner

[2021-01-08 20:19] #16812 closed

[2021-01-08 20:20] leahkeeler commented on #15043
@bradl3yC is this blocked by anything or is it going to be completed this sprint?

[2021-01-08 20:30] Samara-Strauss commented on #17307
I closed this *slightly* prematurely — @tressaellen can you drop in a wireframe here that shows the blank states for each section? Don't worry about the details around if a section will or won't show right now. I just want to have a wireframe that shows what a section would look like if we are showing it but there are no updates. Then, we can re-close.

[2021-01-08 20:37] Samara-Strauss commented on #18270
Thanks, @bmcgrady-ep!

@erikphansen as you probably saw in Slack, [this is the error we are showing if we initialize the profile and can't find someone n MPI](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/profile/Combine%20Profile%20and%20Account/Design/design-specs/profile-images/account-security/Account%20Security%20-%20Not%20in%20MPI

[2021-01-08 20:40] tressaellen commented on #18044
Here is a mock that shows what it would look like if the health care application was in progress.  If this looks good then we're good to close. :)

![My VA FTUX desktop step 1.jpg](https://images.zenhubusercontent.com/5dfa65bbbd078d1699e52294/f184bcaf-e297-4b6e-84fd-9ec4e39a6be6)

[2021-01-08 20:41] allison0034 commented on #16185
@peggygannon I cannot access the Rogers STEM or Higher Level form. I have documented the missing form labels [this Google doc](https://docs.google.com/spreadsheets/d/1sq_YyztJmfv2NN0d06NTq-EwN4xy-KLs-WqsfijqjTI/edit#gid=0). If you have correct logins I can documented the other 2 forms.

[2021-01-08 20:42] leahkeeler commented on #12948
Hi @Kimberley2019 This is launched - are you able to review?

[2021-01-08 20:47] Samara-Strauss commented on #18044
Great! Thank you!

[2021-01-08 20:47] #18044 closed

[2021-01-08 20:58] tressaellen commented on #17307
@Samara-Strauss here is a mock with all the blank states. I also realized that we didn't have any documentation in the 'Applying for benefits' section for a blank state. I added that with what I have shown in this mock. Do you think that if they don't have any applications in progress that we just don't show that whole section? Or leave it as is with similar messaging to the other sections?

I wen

[2021-01-08 20:58] erikphansen commented on #18270
@Samara-Strauss yeah you read my mind. Something is up. If we do not find someone IN MPI, we do not given them access to any part of their profile other than the Account Security section. We really need to figure out why our `GET user` call would indicate they are in MPI, so we give them access to their contact info data, but VA Profile does not think they are in MPI. This is all over my head and

[2021-01-08 21:01] #18149 closed

[2021-01-08 21:02] tressaellen commented on #18043
@Samara-Strauss @mshea0606 - here's the LOA1 mock.  I removed the CTA's in each of the benefit sections since they won't be able to do any of that if they are LOA1. Let me know if you have any thoughts or questions. :)

![My VA LOA1.jpg](https://images.zenhubusercontent.com/5dfa65bbbd078d1699e52294/d0eae715-5e10-442a-aca1-b030ed1077b2)

[2021-01-08 21:02] digitalken commented on #16697
PASS 1/8/2021 - Another fix will becoming through for the va.gov. being pronounced as va.governor.

[2021-01-08 21:02] #16697 closed

[2021-01-08 21:03] mchelen-gov opened #18311 "[Research] CMS usage and tech architecture"
Questions to research:

1) How do new products get started using CMS? (context: cms export + transformers)

2) Where can the technical architecture of the CMS and va.gov build system be improved?

3) What are the steps towards implementing an improved technical architecture?

[2021-01-08 21:04] joanneesteban commented on #16547
Thanks, Jason!

@ala-yna @mlighdc Can we set up a 15-30 min overview meeting in the next couple weeks to review this dashboard?

[2021-01-08 21:07] erikphansen commented on #18280
Ah right we have some unit tests that check these values that have changed.

[2021-01-08 21:08] #16675 closed

[2021-01-08 21:08] digitalken commented on #16675
PASS 1/8/2021 - VA.governor will be handled in another bug fix coming soon.

[2021-01-08 21:09] dneel-bah opened #18312 "CT: Add State Search Feature Flag"
As a developer, I need to create a feature flag for including state abbreviations in search so that the functionality can be toggled on or off until it's ready for production.

## Assumptions:
1. The Feature Flag is configured per environment.
    a. Feature flag for edu form updates is available in both vets-api and vets-website repos.
2. When the feature flag is:
     a. Off: Search results do n

[2021-01-08 21:10] dneel-bah opened #18313 "CT: Add ability to search using state abbreviation"
As a Comparison Tool user, I need to be able to search by state abbreviation, so I can find schools in my state besides ones that have the state in the name.

## Assumptions:
1. This work is completed behind the `gibct_state_search` feature flag (#18312)
2. Full state name conversion to abbreviation is not part of this story.

## Acceptance Criteria:
For the non VETTEC search:
1. Search by state a

[2021-01-08 21:11] zacharymorel commented on #17901
Is the Mock Up above the correct mock up for implementation?

[2021-01-08 21:12] dneel-bah opened #18314 "CT: Remove State Search Feature Flag"
As a developer, I need to remove the 'ct_state_search' feature flag toggle so that it is no longer configurable, and the new functionality is permanent.

## Assumptions:
1. This feature flag was created in #18313
2. UAT has been completed for this effort and EDU signed off as of 02/26/21.
3. The new functionality is live in production with no need remaining need for the toggle.

## Acceptance Crit

[2021-01-08 21:13] bridgethapner commented on #17031
I'm revisiting this to wrap up and get into the prototype, and as I'm combing through the web, the web design library, and work done so far, I'm making a couple of changes to bring the UXs across web and mobile in line a bit more:

- We should remove the placeholder text to match the [guidance of the VA.gov design system](https://design.va.gov/components/form-controls#accessibility). I checked wit

[2021-01-08 21:17] kevinmirc commented on #17538
The [read-only sidekiq web solution](https://github.com/department-of-veterans-affairs/va.gov-team/issues/18172) was [drafted](https://github.com/department-of-veterans-affairs/vets-api/pull/5593) and [proposed to VSP](https://dsva.slack.com/archives/CBU0KDSB1/p1609965428099700?thread_ts=1607983142.281200&cid=CBU0KDSB1). VSP Backend Tools is now [taking that effort over](https://dsva.slack.com/arc

[2021-01-08 21:18] brianalloyd opened #18315 "Analytics KPI dashboard request for [Public Websites - Campaign Landing Page]"
# Request a KPI Dashboard

## What this form is for
Use this template to request a KPI dashboard on Domo for your product.

## Instructions for the VFS team
- [X] For additional info, read through the [How to Request a KPI Dashboard Documentation](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/analytics/kpi-dashboard-request.md)
- [X] Your KPIs are clearly linke

[2021-01-08 21:20] johnhashva commented on #17901
@zacharymorel good catch!  Here's what we decided (https://dsva.slack.com/archives/C01DWJFD45D/p1610032516076800?thread_ts=1609945600.062500&cid=C01DWJFD45D):

- we will implement the sorting feature as a dropdown with “Last updated” as our initial option (seen [here](https://xd.adobe.com/view/d5e7301d-12f9-438f-b30e-3646e927ed70-80b4/screen/b0086df2-db66-42e9-b202-2f790435e7c3?hints=off&x_product

[2021-01-08 21:24] kevinmirc commented on #5106
Reopening since an immediate solution for viewing Sidekiq Jobs in production will not be completed any time soon and this is blocking vsa-caregivers from deploying a new feature.

Would like to request access to the production autoscale group to view Sidekiq using the [current process](https://dsva.slack.com/archives/CBU0KDSB1/p1607983142281200).

[2021-01-08 21:26] holdenhinkle commented on #16994
UPDATE

I received received the Google api credentials I need to hit the Google Analytics Reports API (`project_id`, `private_key_id`, `private_key`, etc.) The credentials were sent to me via my Keybase account by Brian Martin in #vsp-analytics. Here's the thread - https://dsva.slack.com/archives/CKCRMLGAC/p1610049987173200

I submitted a request to github-user-requests for them to create a GitHub

[2021-01-08 21:28] zacharymorel commented on #17901
Thank you @johnhashva , @MarciMcGuireGCIO , @laurellawrence .
What is our other option of sorting besides the defaulted "Last Updated"?

[2021-01-08 21:29] amyknox opened #18316 "Analytics KPI dashboard request for 22-1995"
# Request a KPI Dashboard

## What this form is for
22-1995: Request change of location or program of study

## Instructions for the VFS team
- [ ] For additional info, read through the [How to Request a KPI Dashboard Documentation](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/analytics/kpi-dashboard-request.md)
- [ ] Your KPIs are clearly linked back to Veter

[2021-01-08 21:29] digitalken commented on #16238
PASS 1/8/2021 - All items on screen are accessible with voice access.

[2021-01-08 21:29] #16238 closed

[2021-01-08 21:30] amyknox commented on #13521
Submitted KPI Dashboard request, [#18316](https://github.com/department-of-veterans-affairs/va.gov-team/issues/18316)

Story may take DEPO up to 3 sprints to complete.

[2021-01-08 21:36] bmcgrady-ep commented on #17262
@mpeterz - Let me know if the GA reports above help out or if you are looking for something else.

[2021-01-08 21:41] meganhkelley opened #18317 "file-manifest.json points to .scss font"
https://prod-va-gov-assets.s3-us-gov-west-1.amazonaws.com/generated/file-manifest.json

Look into:
1. why this is happening.
2. If we need it,
3. If we don’t need it, remove it, if we do document why somewhere

[2021-01-08 21:41] meganhkelley commented on #18317
Tim Wright Jan 6th at 10:17 AM
Does anyone have any insight as to why the last item in this file is “style.scss” and it’s pointing to a font? https://www.va.gov/generated/file-manifest.json
:eyes:
2
:face_with_raised_eyebrow:
1

8 replies

Tim Wright  2 days ago
Wondering if it’s used in some way or it’s something we should clean up.

Bill Fienberg  2 days ago
I don’t know why it’s like that, and

[2021-01-08 21:42] MarciMcGuireGCIO commented on #17919
@tlei123 I believe I am finished with my parts of the QA test plan.  Thank you very much for all your help.

[2021-01-08 21:43] artsymartha68 commented on #14103
@stephenBarrs can you and @ncksllvn divide the tickets...?

[2021-01-08 21:44] meganhkelley opened #18318 "Speed up watch command"
Kelson Adams Yesterday at 10:13 AM
Has anyone had trouble killing yarn watch with ctrl + c on vets-website? It's probably a concurrency issue and has already been discussed but thought I'd bring it up :slightly_smiling_face:
20 replies

Tim Wright  1 day ago
I usually just cmd+c a few times out of habit

Kelson Adams  1 day ago
ya even spamming cmd + c and it doesn't quit until it's finished build

[2021-01-08 21:48] bessgreen commented on #17607
blocked: Claims & Appeals endpoint is returning a 500 error

[2021-01-08 21:52] ala-yna commented on #16547
Certainly! I set up an invite for next Wednesday, let me know if there's a better time that works.

[2021-01-08 21:58] jwoodman5 commented on #18278
Hey Jon,

That's a great thought and great timing. Thanks for reaching out to connect
us on this. @Ian McCullough <ian.mccullough@oddball.io> Happy to chat
through this on Monday. Have a great weekend, everyone!

*Jason Woodman*
Product Manager | VSP Contact Center Team
240-506-2768
*Oddball.io <http://oddball.io/> *| A strangely human digital agency

On Fri, Jan 8, 2021 at 11:27 AM jonwehausen <n

[2021-01-08 22:04] jwoodman5 opened #18319 "User Survey Request for ORMDI"
# Request the Medallia Survey

## What this form is for
Use this template to request adding the Medallia Survey to your product.

Read more about Medallia [link](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/platform/medallia) & how to request a survey [link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/analytics/medallia-r

[2021-01-08 22:06] holdenhinkle commented on #16472
I posted to #vsp-tools-fe for help - https://dsva.slack.com/archives/CQH357ZTP/p1610143544345400

[2021-01-08 22:07] mmiddaugh opened #18320 "Manually add for FACILITY_MENU_NAMES for VISNs 6,16,21, 23 and 2"
## Issue description
As a contingency plan to the [discovery of a dynamic solution](https://github.com/department-of-veterans-affairs/va.gov-team/issues/17256), we may need to manually add for FACILITY_MENU_NAMES for VISNs 6,16,21, 23 and 2 so the node and data load processes are not blocked.

## Tasks
- [x] Manually add FACILITY_MENU_NAMES for VISNs 6,16,21, 23 and 2 (list from Stan below in comm

[2021-01-08 22:07] mmiddaugh commented on #18320
[Left_NAV_Needed_FAB-FIVE.xlsx](https://github.com/department-of-veterans-affairs/va.gov-team/files/5789537/Left_NAV_Needed_FAB-FIVE.xlsx)

[2021-01-08 22:07] jwoodman5 commented on #18319
Survey Approval
[ORMDI Brand Health OMB Approval.pdf](https://github.com/department-of-veterans-affairs/va.gov-team/files/5789538/ORMDI.Brand.Health.OMB.Approval.pdf)

[2021-01-08 22:14] joanneesteban commented on #18315
Fantastic! Thanks for opening this, @brianalloyd ! Would you be able to clarify your KPIs in metrics before we get started on the dashboard? It looks like CSAT is one of the metrics, but would you be able to break down the other metrics that you're looking for?

Can you clarify "used by" in this KPI?

Are these button clicks? Or is there a larger user journey that could serve as a proxy for the CL

[2021-01-08 22:15] jwoodman5 commented on #17414
@SKasimow Hi there - I was reviewing the collab cycle tracker and just saw this. Are you ready for a Contact Center Review? Thanks.

[2021-01-08 22:15] joanneesteban commented on #16547
Great! Next Wednesday sounds great - would 3:30-4pm EST work?

[2021-01-08 22:16] Samara-Strauss commented on #18270
OK, I'm glad I'm not totally off base here. Let's regroup on Monday on this one. I can start by asking in the VA Profile channel if they have any idea what might be causing this.

[2021-01-08 22:18] joanneesteban commented on #16547
WHOOPS. Sorry about that. 10:30 works 👍🏼

[2021-01-08 22:18] erikphansen opened #18321 "Change how we handle users who are blocked from Direct Deposit for Comp and Pen (DD4CNP)"
Currently if the DD4CNP endpoint flags a user has being deceased, incompetent, or having a fiduciary, we:
- do not allow them to access the Direct Deposit section of the Profile at all
- show an alert on the top of the Personal Information page explaining that they do not have access to their bank info

Moving forward we should no longer block the Direct Deposit section. Instead, if they are block

[2021-01-08 22:26] Mottie commented on #316
The `widgetProps` `ui:options` addition has been merged into the code base. Hopefully, this will allow screenreader users to have an improved experience.

[2021-01-08 22:28] erikphansen commented on #18270
And maybe @lihanli could help us figure out `vaProfile.status` value is set when we call `GET user/`. Basically when `GET user/` returns data where `vaProfile.status` is something other than `"OK"` we treat the user as though they are _not_ in MPI and block them from most of the Profile. But it seems like there are times when `vaProfile.status === "OK"`, so we allow them access to their contact in

[2021-01-08 22:31] erikphansen commented on #18321
We might not change this behavior at all and continue to block users from the entire Direct Deposit section if they are "flagged" by the DD4CNP section. Based on emails around Jan 7 2021, Shay and Luke seem happy with the current approach.

[2021-01-08 22:32] erikphansen commented on #18321
@Samara-Strauss just for your awareness, this ticket exists now.

[2021-01-08 22:33] HikeBandit commented on #17866
Thank you, Jon. This is helpful.
________________________________
From: jonwehausen <notifications@github.com>
Sent: Thursday, January 7, 2021 9:50 AM
To: department-of-veterans-affairs/va.gov-team <va.gov-team@noreply.github.com>
Cc: HikeBandit <margery_spears@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [department-of-veterans-affairs/va.gov-team] General Analytics Request for

[2021-01-08 22:44] outerpress opened #18322 "[Design] VAOS static landing page content"
**Background**
During the [express care research](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/appointments/va-online-scheduling/research/july-2020-user-research/2020-july-VAOSR-EC-research-report.md#content) and a separate [user observation session](https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affair

[2021-01-08 22:47] bsmartin-ep commented on #14491
Changes in [your comment](https://github.com/department-of-veterans-affairs/va.gov-team/issues/14491#issuecomment-756931694) have been made, Jon.  I'll publish Monday since it is in fact 6:00 PM on a Friday.

Looking into the footer JS setup shortly....

[2021-01-08 22:58] Samara-Strauss commented on #17307
I think it's OK to keep this even if someone doesn't have any benefit applications. People can apply for things at any time, plus it's a good prompt and avoids a use care where this page could ever be entirely blank.

And thank you for this mockup! Closing!

[2021-01-08 22:58] #17307 closed

[2021-01-08 22:59] laurenernest commented on #17591
Can you update the second calendar header to say "Select Second Date"?

[2021-01-08 23:03] bethpottsVADEPO commented on #17542
@1Copenut Sounds good, thank you for your attention to this!

[2021-01-08 23:05] #17908 closed

[2021-01-08 23:07] erikphansen opened #18323 "Investigate instances of applications importing code from other applications"
Audit our usage of `~/applications` and `applications/` Babel aliases to determine if we have any applications that are importing code from _other_ applications. This is a bad practice. Any shared code should live in `platform`.

In particular we should look for:
- instances where our code is importing other application's code and make tickets to fix those instances
- instances where other apps ar

[2021-01-08 23:14] digitalken commented on #16775
Passed both UI and Accessibility - Sending to Design QA.

[2021-01-08 23:18] bsmartin-ep commented on #3825
## QA

Interaction|Data Layer|Tag
---|----|-----
Display of alert box|![image](https://user-images.githubusercontent.com/62304138/104074234-938c4d80-51dd-11eb-9a64-28ca8977ad94.png)|![image](https://user-images.githubusercontent.com/62304138/104074265-a6068700-51dd-11eb-87e0-ad961f8b77db.png)

@jonwehausen -

Do we want to prefix this event action with the component name - like 'Alert Box' ?

[2021-01-08 23:19] jonwehausen commented on #3825
Yes, good catch @bsmartin-ep. Yes please, feel free to update that.

[2021-01-08 23:20] digitalken commented on #17466
PASS 1/8/2021 - both UI and accessibility. Moving to Design QA.

[2021-01-08 23:21] Yuffster-usds commented on #18311
Doc dump especially useful for question #1:

https://vfs.atlassian.net/wiki/spaces/VP/pages/567607297/WIP+CMS+export+transformation+overview

Note: This is a work in progress and subject to change.

[2021-01-08 23:30] bsmartin-ep commented on #3825
OK cool @jonwehausen...

FYI I had to remove this default value to get the `(not set)` to fall through.  LGTM now...

![image](https://user-images.githubusercontent.com/62304138/104074939-6e98da00-51df-11eb-82ee-c057a54f1a3b.png)

---

Interaction|Data Layer|Tag|Pass
---|----|----|---
Display of alert box|![image](https://user-images.githubusercontent.com/62304138/104074234-938c4d80-51dd-11eb-9a64

[2021-01-08 23:37] thilton-oddball commented on #18201
As I prepared to transfer the info I have used in the past for the BE Tools orientation for new VFS members into Confluence, I realized that Michael Fleet has already created a page back in November that has all of the information I have used plus a little more.

https://vfs.atlassian.net/wiki/spaces/~800255295/pages/754286628/VFS+Orientation

[2021-01-09 00:38] brianalloyd commented on #18315
@joanneesteban thanks for the quick follow up, we're in the process of defining those metrics now and will update the ticket with additional details as they are defined.  As I mentioned above this is a draft request:

Thinking it might be beneficial to host a quick round table to review the details and discuss best options as this is a unique product for VA stakeholders that will likely require un

[2021-01-09 00:51] bsmartin-ep commented on #15379
Documentation has been merged in:

https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsp/teams/insights-analytics/analytics-tools/bigquery/funnels-in-bigquery-and-domo.md

These are very complex, so probably not a bad idea to re-visit this in a bit to add anything else we learn.

Closing.

[2021-01-09 00:51] #15379 closed

[2021-01-09 00:51] SKasimow opened #18324 "Request KPI workshop"

[2021-01-09 01:06] SKasimow opened #18325 "Draft Product Outline for MVP"

[2021-01-09 01:15] bsmartin-ep commented on #17832
Annotation added to prod and non-prod:

[code]

[2021-01-09 01:15] #17832 closed

[2021-01-09 01:38] outerpress commented on #18070
Thanks! I made the changes, aside from the breadcrumbs (see the note I added there).

[2021-01-09 01:38] SKasimow commented on #17414
@jwoodman5 Hi Jason - @DanielleThierryUSDSVA has been discussing with Chantelle (?) from Contact Center but should we be working through you?

[2021-01-10 22:16] bsmartin-ep commented on #17273
## QA - On Search Results Click

Description of Interaction | Data Layer  | Tagging | Test Status
------------ | ------------- | ------------- | ----
Click on a search result title link - performed search of "caregiver" | ![image](https://user-images.githubusercontent.com/62304138/104136837-ae3dfe00-5366-11eb-9fd9-50293137dc17.png) |![image](https://user-images.githubusercontent.com/62304138/10413

[2021-01-11 12:55] dneel-bah commented on #14126
Added discovery documents to summarize the effort that went into this story.  As confirmed with EDU, no additional development effort will be pursued at this time; closing out this epic and any other related stories.

[Payments_Discovery_20200107.pdf](https://github.com/department-of-veterans-affairs/va.gov-team/files/5795830/Payments_Discovery_20200107.pdf)
[Letters_Discovery_20200107.pdf](https:

[2021-01-11 12:55] #14126 closed

[2021-01-11 13:36] MarciMcGuireGCIO commented on #17813
This is a duplicate of an MD file in the product folder. https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/find-va-forms-redesign/post-launch-mvp-enhancements/release-plan.md

[2021-01-11 13:36] #17813 closed

[2021-01-11 13:36] MarciMcGuireGCIO commented on #17812
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/find-va-forms-redesign/post-launch-mvp-enhancements/release-plan.md

[2021-01-11 13:36] #17812 closed

[2021-01-11 13:42] DanielleThierryUSDSVA opened #18326 "Content finalization of Spanish Coronavirus FAQs page for soft launch"
## Issue Description
Review and finalize the Spanish version of the Coronavirus FAQs page.

English version: https://www.va.gov/coronavirus-veteran-frequently-asked-questions/

Spanish: https://prod.cms.va.gov/coronavirus-veteran-frequently-asked-questions-esp

---
## Tasks
- [x] Review Spanish page vs. [certified translation PDF](https://app.zenhub.com/files/133843125/eb09c8ae-e6ca-4f96-aa72-32a9

[2021-01-11 13:44] DanielleThierryUSDSVA commented on #18326
Good morning, @SKasimow! Just keeping you in the loop on this ticket. Thanks!

[2021-01-11 13:52] MarciMcGuireGCIO commented on #17926
Making note that the test plan has been created, and the four tests related to this launch are included.  https://dsvavsp.testrail.io/index.php?/plans/view/1188

[2021-01-11 13:56] MarciMcGuireGCIO commented on #17937
I love it! I commented in XD as well.

[2021-01-11 14:05] holdenhinkle commented on #16994
Response from "github-user-requests" regarding request to create a GitHub App - https://github.com/department-of-veterans-affairs/github-user-requests/issues/5742#issuecomment-757483751

[2021-01-11 14:11] mydesignrocks commented on #17668
added the keys to credstash and followed through this PR: https://github.com/department-of-veterans-affairs/devops/pull/8339

[2021-01-11 14:21] RLHecht commented on #17449
These four articles have been published and are live on the site. Closing ticket.

[2021-01-11 14:21] #17449 closed

[2021-01-11 14:23] bmcgrady-ep commented on #18280
Hi @erikphansen - does this mean I can QA this in staging on my end?

[2021-01-11 14:28] Samara-Strauss commented on #18321
@erikphansen I thought our final decision via Slack was that we were *not* going to change this behavior because the use case that someone will need to edit DD for edu but has a fiduciary/is incompetent/is deceased based on DD for comp & pen flags is highly unlikely, so we can just continue to prioritize the DD for comp & pen flags and block the whole section as we are now if we detect that someon

[2021-01-11 14:35] erluti commented on #18284
This is not an issue in master

[2021-01-11 14:35] #18284 closed

[2021-01-11 14:36] #18321 closed

[2021-01-11 14:45] Samara-Strauss commented on #18270
So it sounds like the question is still... why is the login/initialization flow detecting someone is in MPI, but VA Profile is not?

[2021-01-11 14:49] Samara-Strauss commented on #18043
Please add the CTAs back. They can still start and save EDU applications as LOA1, and for health care and disability claims, we should link them to the application pages even though those will also tell pages will also prompt them to verify their identity. But without CTAs, that section is effectively pointless, so we should add them back.

Otherwise, this looks good to me. I do think we should cu

[2021-01-11 14:49] johnhashva commented on #17937
@laurellawrence + @MarciMcGuireGCIO Just a few Q's:

- Correct to assume this is our Design System approach to "tool tips" -- e.g. large "notification" box?
- Can we have a Content person review our tip text -- e.g., Peggy Gannon on Platform (as part of Collab Cycle) or Public Websites content specialist -- Danielle or Beth.   Might be easier/faster to have Peggy review/approve since the Content t

[2021-01-11 14:56] sporeboy commented on #5651
New state created in mockups to show LOA1 access to VPH feature.

[2021-01-11 14:56] sporeboy commented on #5651
UAT sessions conducted; study closed 1/8.

[2021-01-11 14:57] MarciMcGuireGCIO commented on #17937
@johnhashva I can't speak to the Design System approach, but I do think we should have a Content person review the copy.  I will put that request in today.

[2021-01-11 14:57] #17659 closed

[2021-01-11 14:58] stephenBarrs commented on #14103
@1Copenut @artsymartha68 Please assign relevant tickets to me.  If they can be prioritized that would be very helpful. Thanks!

[2021-01-11 15:00] laurellawrence commented on #17937
@johnhashva, I can confirm that the info alert box is included in our design system library and the mock is following the design guidelines. https://design.va.gov/components/alertboxes

[2021-01-11 15:12] johnhashva commented on #17937
Thank you both -- this is going to reduce some series friction -- as measured by search refinement rate -- by a lot.  In fact, @MarciMcGuireGCIO if we could quantify our overall "average refinement rate" for this tool -- whether that is a blended average of all searches/schools -- or top searches/schools (maybe the top 50) -- we could use that as our baseline to measure improvement.

[2021-01-11 15:13] MarciMcGuireGCIO commented on #17937
@johnhashva thank you.  I'll collect baseline metrics and create a report.

[2021-01-11 15:13] srsuddath commented on #17797
This ticket needs to slide to sprint 39, as the backend work for Click Tracking has ballooned beyond our estimates.

[2021-01-11 15:14] srsuddath commented on #14955
This ticket needs to slide to sprint 39, as the backend work for Click tracking has ballooned beyond our estimates. Until the backend work is done, this ticket will remain blocked.

[2021-01-11 15:15] ala-yna commented on #16567
Hey @jonathanjnelson - not a high priority, but reassigning this to you to take a look at how these two questions are structured. We'll prioritize as needed.

[2021-01-11 15:15] laurellawrence commented on #17901
@zacharymorel, this was the reason for all the discussion. We will have a dropdown with 2 items to start for filtering with the ability to add more filters (relevance, a-z, etc.) in the future. @johnhashva and @MarciMcGuireGCIO, I believe we landed on these 2 labels with the design inspiration coming from the Gov UK site.
- Last Updated (Newest)
- Last Updated (Oldest)

[2021-01-11 15:16] ala-yna commented on #15160
Status: waiting to coordinate with CARMA to make sure this isn't a breaking change.

[2021-01-11 15:19] joshkimux commented on #16224
@Mottie I went through staging again this morning and caught one more item to be addressed just in case it wasn't on your radar already! Would we be able to change "Your Availability" into a legend worded "Please indicate your availability"? This will make it consistent with the changes we have in place for representative's information. (see screenshots below)

<img width="1417" alt="Screen Shot 2

[2021-01-11 15:20] ala-yna commented on #17806
Hey @alexpappasoddball  - we're looking to close out this ticket on the VSA Caregiver board since it's now been picked up by backend tools. Let me know when you've made a ticket for your team and we'll close this one out! Thank you.

[2021-01-11 15:22] bmcgrady-ep commented on #17498
@JasonTheBearded - Can you set up a few Domo datasets for this KPI dashboard? One dataset would be % of logged-in users who visit the /my-va page **by month**. The other dataset would be for MyVA CTA interactions (`event label = dashboard-navigation`) **by month**.

[2021-01-11 15:23] kristenmcconnell commented on #18078
@peggygannon All of the team members added their suggestions. It is ready for you to review. Thank you.

[2021-01-11 15:24] delli-gatti-michael commented on #17707
[Testrail Test Run](https://dsvavsp.testrail.io/index.php?/tests/view/36890&group_by=cases:section_id&group_order=asc&group_id=51)

[2021-01-11 15:24] delli-gatti-michael commented on #17707
Testing complete. No issues found

[2021-01-11 15:24] #17707 closed

[2021-01-11 15:25] ala-yna commented on #18172
Reassigning this to @alexpappasoddball and team.

[2021-01-11 15:27] joshkimux commented on #17824
@Mottie I went through staging one more time and noticed the office of review edit button does not have an `aria-label`. Temporarily re-opening this ticket, but hopefully this is an easy fix 🙇

<img width="1393" alt="Screen Shot 2021-01-11 at 10 22 43 AM" src="https://user-images.githubusercontent.com/14154792/104201259-8c408c00-53f7-11eb-85dd-2e5ea45e0f07.png">

[2021-01-11 15:28] kristenmcconnell commented on #18078
Future enhancement to think about: replace "before your appointment" with the actual date.

[2021-01-11 15:32] alexpappasoddball commented on #17806
@ala-yna We have this tracked on our board and are actively working through this so we are all set to close this out!

[2021-01-11 15:33] #18224 closed

[2021-01-11 15:35] SKasimow commented on #18326
Excellent - thanks you!!!!

cc: @youngfreezyVA

[2021-01-11 15:37] ala-yna opened #18327 "[Frontend] Switch veteran home address and veteran mailing address on the schema"
As a user with a saved-in-progress healthcare application
I want to be able to complete the form that I started
With proper labels for the address fields
So that I don't run into any validation errors.

Includes carryover from: https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/15159

- [ ] merge [vets-json-schema PR](https://github.com

[2021-01-11 15:39] #14355 closed

[2021-01-11 15:40] erikphansen commented on #18280
@bmcgrady-ep we will merge [this](https://github.com/department-of-veterans-affairs/vets-website/pull/15583) once it is passing all of its tests. Then you can start seeing how things work in staging. @sanlouise or I will let you know once it is done!

[2021-01-11 15:40] #10559 closed

[2021-01-11 15:41] #14274 closed

[2021-01-11 15:41] ala-yna commented on #14274
Closed - issue was investigated and should be addressed by the current background processing work.

[2021-01-11 15:42] erikphansen commented on #18270
Correct. Sadly this is totally outside of my area of understanding. But if we can find the right people to chat about this and I'd like to observe.

[2021-01-11 15:43] denisecoveyduc commented on #16652
@srsuddath has moved relevant information about the sitemap to #16752. Therefore this issues can be closed.

[2021-01-11 15:43] #16652 closed

[2021-01-11 15:45] ala-yna commented on #16875
On hold: waiting for Platform to release documentation on setting up Sentry 10/alerts.

[2021-01-11 15:45] 1Copenut commented on #14103
@stephenBarrs I just assigned the top 4 items to you. These accessibility issues are prioritized by severity 0-4, 0 being the highest priority, 4 being the lowest priority.

#18246 and #18248 are related, depending on how the team wants to divide the form (or just update headings). Please holler at me or @artsymartha68 if you want to discuss those further.

[2021-01-11 15:45] alexpappasoddball opened #18328 "Sidekiq Admin UI"
## Description

This epic is used to track two issues with the Sidekiq Admin UI.

Issue #1: The Sidekiq web UI has no authentication on it and is open to the public.  There is an issue raised to the CISA that needs to be remedied.

Issue #2: Authentication needs to be added to the Sidekiq Admin UI for all environments

## Definition of Done
- [ ] Initial CISA security issue is resolved
- [ ] Authe

[2021-01-11 15:47] mshea0606 commented on #16107
Hey @lihanli, any update on this issue?

[2021-01-11 15:50] #13331 closed

[2021-01-11 15:50] ala-yna commented on #6703
Closed; errors are captured and the next step will be the new Sentry integration work.

[2021-01-11 15:50] #6703 closed

[2021-01-11 15:52] ala-yna commented on #16875
Closed https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/6703 in favor of this one.

[2021-01-11 15:54] ala-yna commented on #15486
@jhouse-solvd - just following up on this. Sounds like the last step is for ops to create a forward proxy URL. Would you like me to spin up a separate ticket?

[2021-01-11 15:55] denisecoveyduc commented on #17534
Adding the summary for team review @srsuddath @mgleo Please review one more time on your own and highlight any questions, thoughts, etc.  Please indicated completion with a thumbs up reaction when complete. Thanks [VA.gov Search Analysis Report - 2020.pdf](https://github.com/department-of-veterans-affairs/va.gov-team/files/5796786/VA.gov.Search.Analysis.Report.-.2020.pdf)

[2021-01-11 15:59] zacharymorel commented on #17901
Thank you @laurellawrence !

[2021-01-11 16:01] lihanli commented on #16107
@mshea0606 the pr still needs to be approved, i'll ask again in slack

[2021-01-11 16:05] Samara-Strauss commented on #16107
I nudged as well. There's no reason this work should be still outstanding after a month, even accounting for the holiday break. Hopefully someone can get to it soon.

[2021-01-11 16:13] bethpottsVADEPO commented on #12403
@RLHecht Is it possible to fit this work in this week?

Angie and I came to agreement on this new content for the Q&A "What's the net worth limit to be eligible for a Veterans pension?" I've made the changes on the 2021 Veterans pension page in drupal. The same changes need to be made on the 2021 Survivors pension page (with a minor edit to account for the fact that this is the survivors not the v

[2021-01-11 16:18] #17806 closed

[2021-01-11 16:21] LinnJS opened #18329 "Abstract 1010CG Signature Box content and E2E Test"
## Summary
During the 1010CG postmortem we wanted to add more friction to updating signature box content so a copy & paste error is less likely so we need to make Unit Test to force FE developer to double check the content changed before publishing. We also need to abstract content to make it easier to maintain in a separate file rather than looking through code to edit content.

## Expected Behav

[2021-01-11 16:22] edmangimelli commented on #17595
still waiting on a review for this one

[2021-01-11 16:23] mchelen-gov commented on #18329
where is the code that needs unit test?

[2021-01-11 16:24] jbalboni opened #18330 "Create show action for appointment requests"
## Issue Description
The front-end would like to access specific request details without having to request the entire list.  To provide this service the `vets-api` will expose a #show endpoint that will take a request id as specified in #18205 and return request details related to that request.  This will allow the front-end to access an request's details without having to query the entire list ea

[2021-01-11 16:29] mdewey opened #18331 "[FE] Refactor code to have the List and Questionnaire be in same front end app."
## User Story

For a veteran,
The questionnaire app should be one front app application
so that the veteran has an optimized experience.

## Related Documentation
 - [MVP: Visit Intro Initiative (Proof of Concept)](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/initiatives/visit-intro.md)

## Description
Currently, the List and

[2021-01-11 16:30] LinnJS commented on #18329
@mchelen-gov this is the [code](https://github.com/department-of-veterans-affairs/vets-website/pull/15418/files#diff-9444fc584b44d34e126a59a479baff028625e1a44314af87983c25130390e79fR27-R62) I am unit testing. I realized when talking about it in standup I made it sound like the code was already implemented when its not. So this ticket is for the implementation and UT.

[2021-01-11 16:31] ala-yna commented on #18175
Update from Josh:

Faulkner, Joshua I. <Joshua.Faulkner@va.gov>
Jan 8, 2021, 6:58 PM (3 days ago)
ES will not reject PO box in residential address coming from the soap service.

It is validated on data entry in the ES UI, same for VistA and Cerner, it is data entry validation on their respective UI so the user can fix it before submitting.

Next steps (cc @mlighdc) : Confirm with Josh & team that

[2021-01-11 16:33] jenniferlee-dsva commented on #15617
Taking a look...  per og ticket and Kelson's comment above here:

 http://preview-staging.vfs.va.gov/preview?nodeId=6924

http://preview-staging.vfs.va.gov/preview?nodeId=9544

[2021-01-11 16:35] LinnJS commented on #18327
[PR](https://github.com/department-of-veterans-affairs/vets-website/pull/15511) for this ticket

[2021-01-11 16:36] mnorthuis commented on #18252
Artifact created and reviewed with Meg, Kevin and Samara on 1/11/2020, awaiting any further steps/updates needed.

https://app.moqups.com/Rnc4BDEKrA/view/page/a2a95f776

[2021-01-11 16:39] tressaellen commented on #18043
Sounds good to me - I added the CTA's back in.

![My VA LOA1.jpg](https://images.zenhubusercontent.com/5dfa65bbbd078d1699e52294/92c25a1b-5864-4ef8-94f4-91d4be246049)

[2021-01-11 16:40] joanneesteban commented on #18176
@mshea0606 - hi! We're looking into the IA of our dashboards, and it looks like these are additional KPIs for your products. Would you say that these KPIs are under your Profile 2.0 product, or are these other Auth Exp parent product KPIs?

[2021-01-11 16:41] joanneesteban commented on #18176
@bmcgrady-ep
- If these are Profile 2.0 KPIs, add to the current KPI dashboard & we'll re-evaluate the design of the dashboard
- If these are for a different product, add a sub-page

[2021-01-11 16:44] SgardnerPMP opened #18332 "IA Request VAMC-upgrade team, Secure URL for va.gov/Erie-health-care"
## Story
In order to complete testing and final check off/punch list of VAMC-websites, they must go into Dual-state publishing.  VAMC-upgrade team is asking that IA confirm that URL for this system is ready to be put in use for Dual-State.

## Request:
Provide validation of URL and guidance in order to publish va.gov/erie-health-care  VAMC website into Dual-state to begin final 508 testing, and PA

[2021-01-11 16:45] joanneesteban commented on #18316
Thanks, Amy! We'll pull this in when we have resources in the next couple sprints.

[2021-01-11 16:49] mpeterz commented on #17262
@bmcgrady-ep  - Thanks for sending the reports. You are asking if we'd like to use these reports in the new dashboard we've requested?

[2021-01-11 16:51] sonntag-adam commented on #17768
[Uploading... Screen Shot 2021-01-11 at 11.50.46 AM.png]

[2021-01-11 16:53] digitalken commented on #17510
PASS 1/11/2021 - Moving to Design QA.

[2021-01-11 16:53] bmcgrady-ep commented on #17262
@mpeterz - With the size of the Data Studio report that you sent over, it would probably have to be a couple of different GA dashboards. I am happy to build these out, but wanted to confirm that you are okay with this. Also, want to let you know that the GA reports above will be more robust than the custom GA dashboard in that you can do more detailed analysis with the links above.

[2021-01-11 16:57] jbritt1 opened #18333 "Offboarding of Stevan Arychuk"
# Instructions
Fill out name of individual and *Description* section below.

# Description
- Please provide the name of the individual needing offboarded.

- Please provide the name of their team, their role on that team, expected last day, and the name of the company they work for.

- Please provide any type of access they may have and their GitHub username.

## AC
 - [ ] Remove global/config.yml

[2021-01-11 17:02] Mottie commented on #17824
Thanks Josh! This fix should be available in staging soon!

[2021-01-11 17:03] Mottie commented on #16224
Thanks Josh! This fix should be available in staging soon!

[2021-01-11 17:05] meganhkelley commented on #7971
@dginther is working on investigating issues with the ansible playbook

Bill's PR calls ansible playbook, demian trying to run that ansible playbook locally but it wasn't working as expected — helping us debug

Related thread: https://dsva.slack.com/archives/CQH357ZTP/p1610145339345800

[2021-01-11 17:10] meganhkelley commented on #17899
2 things that need to happen:
* Content build pipeline failing, needs to be updated to work with the new file-manifest
* Cypress integration tests & Nightwatch e2e in pipeline activation failing - Tim looking into this

[2021-01-11 17:13] lihanli commented on #18270
the `vaProfile.status` value actually comes from the MPI response. the documentation says the value is "The status of the last MVI response or not authorized for for users < LOA 3".
https://github.com/department-of-veterans-affairs/vets-api/blob/master/app/models/mpi_data.rb#L94

[2021-01-11 17:13] meganhkelley commented on #17187
Daily update from Eugene: Continue to develop the CircleCI pipeline to provision and version the function

[2021-01-11 17:15] meganhkelley commented on #11510
Notes from Chris:
Test build locally in all environments (success). All 12 reviews received and have answered all their questions
Further testing in IE uncovered an issue with the search dropdown (doesn’t appear on click)
Also timed the builds locally, found that webpack 5 is slower than 4. Wonder if this can be improved

Need to — Determine cause of IE search dropdown issue and fix. Perform addit

[2021-01-11 17:23] jason-gcio opened #18334 "Set Phone Number to Required"
## Background
Within the CH36 application process, the VA will use phone number as a method of communication to the Veteran after submission and sometimes that number does not get filled out.

## Story
As a Veteran seeing education and career counseling, I must be required to include my phone number so that the VA can contact me quickly and easily as requested.

## Tasks
- [ ] Set the phone number

[2021-01-11 17:28] #5651 closed

[2021-01-11 17:29] brianalloyd commented on #13727
@ncksllvn if you have bandwidth post MVH work, please pick up this ticket for review and action.

[2021-01-11 17:29] jenniferlee-dsva commented on #15617
@kelsonic @brianalloyd - The FE web page looks great! No changes there.

The PDF saved checklist - I have a couple of comments, mainly to do with:
1/ Links displaying the raw https URL text. (Not sure if this is a 508 requirement.)
2/ Empty checkboxes not being checkable on the PDF. (I didn't think to include this in the AC, but I think users will be surprised if the checkboxes aren't checkable on

[2021-01-11 17:29] #17856 closed

[2021-01-11 17:30] sanlouise commented on #18280
@bmcgrady-ep I just merged in the PR, so you should be able to start testing this in staging today!

[2021-01-11 17:30] jason-gcio commented on #16735
@joshkimux - would you like to look at this before closing?

[2021-01-11 17:34] mshea0606 commented on #18176
These are KPI's for Auth Experience on VA.gov as a whole.
So the product is VA.gov.

[2021-01-11 17:36] shiragoodman commented on #18332
hi @SgardnerPMP  - The Collaboration Cycle IA Request is intended to validate the full information architecture of a product/feature. A review would typically include a review of all pages, all navigation components, and all entry points. It appears that your request is solely for VSP to approve the url of 1 page. Our recommendation would be that you provide information for a full IA review. We ne

[2021-01-11 17:39] DanielleThierryUSDSVA opened #18335 "Publish 2 new COVID-19 vaccine questions"
## Issue Description
Add 2 new FAQs and update h3.

**Is VA participating in COVID-19 research studies?**
Yes. As one of the nation’s leaders in health research, we continue to participate in research studies for new COVID-19 vaccines and treatments. These studies are also called clinical trials.

We need research studies to help find more safe and effective ways to prevent and treat COVID-19. Bec

[2021-01-11 17:39] brianalloyd commented on #15617
Thanks @jenniferlee-dsva for the review and updated comments.  @kelsonic I'm going to spin up another ticket with the PDF/Print updates work for action.  If you have bandwidth feel free to jump on that ticket for action.

[2021-01-11 17:41] bethpottsVADEPO commented on #17449
We're done here.

[2021-01-11 17:42] MarciMcGuireGCIO opened #18336 "Full Accessibility & 508 Office Audit Decision Tools - Find a VA Form Post-MVP Enhancements"
## Steps to complete the Full Accessibility & 508 Audit:
- [x] VFS Product Manager: create issue and fill in feature name in the title and other bolded information appropriately
- [x] VFS: Link to this issue once created in [#vfs-platform-support](https://dsva.slack.com/channels/vfs-platform-support) in Slack; tag @ Trevor Pierce
- [ ] VSP: Accessibility specialists create sub-issues attached to t

[2021-01-11 17:43] rileyorr commented on #17906
Finalized the drafted content and put it all into [an Excel spreadsheet](https://github.com/department-of-veterans-affairs/va.gov-team/files/5797422/Debt-History-Content.xlsx) so the DMC folks can access it. Sent it off for feedback/approval. I'll create a placeholder ticket for the frontend team to incorporate the new content in preparation!

[2021-01-11 17:44] DanielleThierryUSDSVA commented on #18335
Hi @RLHecht. I've added the updates on the vaccine page. Could you review and publish today? Thanks!

[2021-01-11 17:45] #7548 closed

[2021-01-11 17:47] bridgethapner commented on #17031
Made the couple edits noted above, here is the visual documentation for the updated Input field CC & the A11y documentation from Meli is above in the ticket body. Please note that I upped the contrast of the default empty form field border, so the visual design for the inactive state and active stated are the same, but have different voice over rules per the documentation above.

![mobile app - in

[2021-01-11 17:50] brianalloyd opened #18337 "PDF/Print Save Checklist - mobile and desktop - R&S 1.1"
## Issue Description
_The PDF saved checklist needs a few updates in order to ensure users are able to display, enact and print properly with R&S Checklist article ~types~_

I'm attaching the Checklist PDF here with detailed comments:
https://app.zenhub.com/files/133843125/0b92c6c4-8a05-4fc7-96f9-ba7c8db17408/download

Reference to Original Ticket (https://github.com/department-of-veterans-affairs

[2021-01-11 17:50] #17031 closed

[2021-01-11 17:51] brianalloyd commented on #18337
@kelsonic please groom ticket and remove 'needs grooming' label in support.  I've placed in sprint for action.

[2021-01-11 17:54] bridgethapner commented on #17055
It looks like there are two options above in the ticket -- I incorporated the design on the right into the prototype [here](https://adhoc.invisionapp.com/share/GTZ1ESFF6BN#/screens/442012725).

### Documentation for error state of Checkbox CC:
- Error text: Mobile Body Bold, red secondary-dark #cd2026
- Checkbox border: 2px solid red secondary-dark #cd2026

[2021-01-11 17:54] #17055 closed

[2021-01-11 17:56] bridgethapner commented on #17033
Invision prototype now includes updated Profile UI & all old Profile screens have been removed from the prototype

[2021-01-11 17:56] #17033 closed

[2021-01-11 17:56] bcastoe commented on #17422
Completed and moved to validate new Health Services content "LIST & PLAYBOOK" for VA North Florida/South Georgia HCS [BA]#17422

[2021-01-11 18:00] digitalken commented on #18088
PASS 1/11/2021 - Copy updated.  Moving to Design QA.

[2021-01-11 18:01] mpeterz commented on #17262
Thanks, @bmcgrady-ep. I'm also wondering if there were reports in the Data Studio dashboard from Glennette that we can't get.

Once I hear from you, I will run this by the team. If we have questions, we might want to chat. Thank you!

[2021-01-11 18:03] bridgethapner commented on #16983
I included Meli's option 2 design of this flow in the prototype on the home phone screen, the flow can be triggered from here: https://adhoc.invisionapp.com/share/GTZ1ESFF6BN#/screens/442018169

### Just to sum up the feature in 1 place:
- Users should be able to delete any profile information (except Mailing Address) from the edit screen, there will be no edit buttons in the overall Personal & Co

[2021-01-11 18:03] #16983 closed

[2021-01-11 18:04] jenniferlee-dsva commented on #18337
Just made a slight clarification in the desc, so it's clear this is for Checklist article type only.

[2021-01-11 18:04] bridgethapner commented on #17058
This can be seen [here](https://adhoc.invisionapp.com/share/GTZ1ESFF6BN#/screens/442018169) on the home phone screen and should display to every profile screen that has an entry EXCEPT mailing Address

[2021-01-11 18:04] #17058 closed

[2021-01-11 18:07] jbalboni commented on #18276
Events:

- vaos-schedule-appointment-button-clicked
   - Fired when starting the new appointment flow from the links on the homepage (top of the page or within the no appointments found alert)
- vaos-schedule-project-cheetah-button-clicked
   - Not live project cheetah alert when starting that flow
- vaos-express-care-request-button-clicked
   - Fired when starting the express care flow from the l

[2021-01-11 18:09] sporeboy commented on #17860
Initial content added to orientation module. Next steps:

- Consolidated content into vastly fewer "slides"
- Rewrite content to plain-language standard and incorporate VA.gov phrasing
- Create module "stepper" to indicate slides and position in orientation presentation
- Incorporate any definitive design standards regarding video presentation

[2021-01-11 18:15] #18334 closed

[2021-01-11 18:16] erikphansen opened #18338 "[Design] Error to show when we cannot connect to a Direct Deposit endpoint"
## Background
We need some content to show when there is an error connecting to one of the direct deposit endpoints.

This is a new situation that does not exist with the current CNP-only direct deposit section.

For example, in the below screenshot, we know the user has DD4CNP set up, but we cannot _connect_ to the DD4EDU endpoint so _we should not be telling them they do not receive education be

[2021-01-11 18:18] bridgethapner commented on #18227
Good question. Refresh is intended to work by pull down to refresh. I looked around a bit online for guidance and tips on accessible refreshing UX. I didn't find much, but I think we should go ahead and add the "Try Again" Large Button CC at the bottom of the alert because it does seem like that is more A11y-friendly. The prototype is updated to reflect.

I think our current Warning Alert CC is on

[2021-01-11 18:19] sporeboy commented on #17860
There are several concerns that will *likely* need to be addressed:

- Orientation is extremely long
- Language will require revision for clarity, VA styling and language
- Process steps are redundant with summary information
- Module is out of context
- Orientation info is relatively inaccessible as reference
- Module is a barrier to completing the form

At some point, Design, Content and Accessi

[2021-01-11 18:21] bridgethapner commented on #15974
I am pretty sure this is only for Upcoming Appointments because Past Apts come from a different endpoint. @kreek Can you verify?

[2021-01-11 18:25] alexpappasoddball commented on #18201
@thilton-oddball The documented listed above is in Fleets personal space in his scratchpad section.  Lets take the information in this and make one with edits in our sections.
This is a personal preference note, but I would rather see more explanation to each section instead of a list of links and titles.  I think we could make it a little more informative by breaking it out into the logical secti

[2021-01-11 18:27] #18290 closed

[2021-01-11 18:31] mshea0606 opened #18339 "[FE] Build Error alert to show when we cannot connect to a Direct Deposit endpoint"
## Background
See design/copy ticket: [Design/copy] Create error messages to show when we cannot connect to a Direct Deposit endpoint #18338

mocks with Peggy's copy in-place:
- [No-load EDU](https://xd.adobe.com/view/532272b2-b423-4e1b-a8c6-d1a583da3d37-0671/screen/8a43a64c-1644-4213-8afb-296d824d1019/)
- [No-load C&P](https://xd.adobe.com/view/532272b2-b423-4e1b-a8c6-d1a583da3d37-0671/screen/da4

[2021-01-11 18:33] #14942 closed

[2021-01-11 18:38] cohnjesse commented on #16692
@joshkimux My only concern with making this an H2 across the board at the platform level is that there are probably applications out there where having this be an H3 is actually fitting into a correct header progression. How about this - What if I make the adjustments to the platform component so that the developer can specify what he wants the header tag to be, be it an H2 or H3 or whatever, that

[2021-01-11 18:38] DanielleThierryUSDSVA opened #18340 "Update coronavirus FAQs page 1.11.21"
## Issue Description

**Update 2 questions on https://prod.cms.va.gov/node/3014/latest:**

**If I receive VA disability or pension benefits, will I automatically get my second stimulus check?**

Yes. If you receive VA disability or pension benefits, you’ll automatically get your second stimulus check. This check is also called an economic impact payment. The Internal Revenue Service (IRS) will sen

[2021-01-11 18:39] ayushchak commented on #18251
Team discussed and decided to hide for MVP given other priorities at the moment. Current possibility: make information unavailable with a little alert modal.

[2021-01-11 18:39] brianalloyd commented on #16440
@meganhkelley what else is needed from our team on this ticket in support of close out?

[2021-01-11 18:40] DanielleThierryUSDSVA commented on #18340
Hi @RLHecht. Here's the ticket for the coronavirus faqs page updates to review today. Thank you!

[2021-01-11 18:40] erikphansen commented on #18338
FWIW, this is how we handle a similar situation when we are unable to connect to the VA Profile service so we hide the user's contact info entirely

![image](https://user-images.githubusercontent.com/20728956/104223974-2f45d580-53f9-11eb-960f-468963620ecf.png)

[2021-01-11 18:42] #17591 closed

[2021-01-11 18:43] bmcgrady-ep commented on #16667
Hi @SKasimow - Just following up to see if there is an update on the status of the implementation of this. Once it is completed on your end, I will QA to make sure the analytics are coming in as expected and also will start on the GA dashboard that you requested. Thanks!

[2021-01-11 18:45] #18296 closed

[2021-01-11 18:45] jbalboni commented on #18276
@laurenernest Are there other things you're looking for here?

[2021-01-11 18:47] bessgreen opened #18341 "UX/UI for app startup / unlock"
## Dev task
Here is a breakdown of how the whole process does its work:

On app start up, there are a number of things that have to happen before a user can get into the app. Some of these things, like auth, are required and some of them are to create a better Veteran experience by pre-calling some data. Below is a list of what needs to happen.

## Acceptance Criteria

1. Authorization
     - The

[2021-01-11 18:49] elder-joseph commented on #17772
Associated PR: https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/vets-api/5644

[2021-01-11 18:51] lexicalninja commented on #18227
The alert box is built to have any UI added to the alert after the header and message text.

[2021-01-11 18:55] starlow00 commented on #18166
Note: Tied to ticket [14318](https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/14318).

[2021-01-11 18:56] brianalloyd opened #18342 "Public Websites: Sprint 39 Priorities"
## Priorities
1.  Build out CLP FE Panel tickets - Panel 1 [#17636] & Panel 2 Epics [#17642]
2. Finalizing R&S functionality (post code freeze) - Remaining tickets from Sprint 38
3. Outstanding tickets from Sprint 38 not already included in the priorities listed above
4. Intake Requests for January, along with some applicable Tech Debt (508/a11y issues)
5. Transformer followup and close out of #16

[2021-01-11 19:00] MarciMcGuireGCIO opened #18343 "Find a VA Form - Post-MVP Enhancements Accessibility Review Prep"
# Accessibility staging review preparation

Teams must conduct their own accessibility testing **before** scheduling a DEPO Platform Collaboration Cycle [Staging Review](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/working-with-vsp/vsp-collaboration-cycle/vsp-collaboration-cycle.md#staging-review). DEPO Platform accessibility specialists will verify teams have

[2021-01-11 19:02] #12659 closed

[2021-01-11 19:04] peggygannon commented on #18078
@kristenmcconnell can you remind me what is the character count limit for this sentence?

[2021-01-11 19:19] alexpappasoddball opened #18344 "Make Sidekiq UI's unavailable publically"
## Description

Stemming from a security issue, we need to make sure that the Sidekiq UI's are not publicly accessible.  This is a quick fix to address the security issue, more will be discussed and implemented in the future.

## Definition of Done
- [x] All lower environment Sidekiq UIs are removed from being publicaly available.

[2021-01-11 19:20] erluti commented on #18344
https://github.com/department-of-veterans-affairs/devops/pull/8340

[2021-01-11 19:22] bethpottsVADEPO commented on #15088
This work is finished.

[2021-01-11 19:22] #15088 closed

[2021-01-11 19:25] joshkimux commented on #17824
Confirmed this was fixed. Thank you @Mottie !!!

[2021-01-11 19:25] #17824 closed

[2021-01-11 19:26] kristenmcconnell commented on #18078
@peggygannon No limit, but VeText asked to make it as short as possible. Can we keep it around the same character count that we had planned for before, which was 165?

[2021-01-11 19:26] leahkeeler commented on #15043
@johnhashva - This is complete can you please verify so we can close this ticket please?

[2021-01-11 19:27] #16530 closed

[2021-01-11 19:28] zacharymorel commented on #18343
I'm checking off the tests done that I do with daily development.

[2021-01-11 19:29] leahkeeler commented on #16492
This is live on 1/4 closing ticket

[2021-01-11 19:29] #16492 closed

[2021-01-11 19:29] joshkimux commented on #16224
Confirmed this was fixed! Closing out!

[2021-01-11 19:29] #16224 closed

[2021-01-11 19:30] ksantiagomorgan6 commented on #18247
PR: https://github.com/department-of-veterans-affairs/vets-website/pull/15604

[2021-01-11 19:32] pjhill commented on #17154
Analysis complete -- decision and implementation will be worked under a separate ticket.

[2021-01-11 19:32] #17154 closed

[2021-01-11 19:32] pjhill commented on #18134
Great work!

[2021-01-11 19:32] #18134 closed

[2021-01-11 19:34] noahgelman commented on #17800
@miabecker Hello, I'm ready to get started on this. Can a copy of this be sent to my email at noah.gelman@gmail.com

[2021-01-11 19:35] #17569 closed

[2021-01-11 19:36] bethpottsVADEPO commented on #17646
@RLHecht
These 3 articles are approved by the SME, but need some related link work done (we'll Zoom about this):

Deciding how much life insurance to get.
@lunascoop Would you make the categories (1, 2, 3, 4) H3s rather than just plain text and in bold?
http://preview-prod.vfs.va.gov/preview?nodeId=15060

Life insurance if you have pre-existing conditions
http://preview-prod.vfs.va.gov/preview?nod

[2021-01-11 19:36] #18286 closed

[2021-01-11 19:36] #18285 closed

[2021-01-11 19:36] #18282 closed

[2021-01-11 19:36] #18283 closed

[2021-01-11 19:37] Samara-Strauss commented on #18043
Great! Sorry, I should have asked this earlier — can you also create a version that shows this page with some applications in progress? That'll be helpful in communicating to Erik and Sandra that LOA1 users can start (some) applications and save them in progress.

[2021-01-11 19:47] kelsonic commented on #17514
GraphQL query so this doesn't ever get lost (took forever to create lol):

[code]

[2021-01-11 19:47] Samara-Strauss commented on #18270
@lihanli so what does that mean? Sorry, I'm not technical enough to meaningfully move this forward beyond asking a lot of questions, and I'm not sure what to make of the code above. Is this something that can help us figure out why we are showing people the profile who might not be in MVI, even though, in theory, those people shouldn't be seeing profile information in the first place?

[2021-01-11 19:48] Mottie opened #18345 "Replace old help desk number"
## What happened?
_Describe in detail what went wrong; screenshots, videos, or gifs are strongly encouraged_

The old help desk number `855-574-7286` still exists in our code base:

- https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/platform/static-data/CallHRC.jsx#L11
- https://github.com/department-of-veterans-affairs/veteran-facing-services-tools/blob/master/packag

[2021-01-11 19:48] edmangimelli commented on #17595
updating the documentation

[2021-01-11 19:51] joshkimux commented on #16735
@jason-gcio It looks like this hasn't been merged in yet! Once it is merged, we should be good to close! 👍
https://github.com/department-of-veterans-affairs/vets-website/pull/15505/files

[2021-01-11 19:53] zacharymorel commented on #17939
@MarciMcGuireGCIO can you do a once over of the info I documented here before I close the discovery?

[2021-01-11 19:54] joshkimux commented on #16692
@cohnjesse Absolutely agree with your point on the risk of making it an `h2` across the board. Your suggested solution sounds like a great way of approaching this! Before I sign off or commit on anything, I think @1Copenut would probably have thoughts / valuable historical knowledge on this as well.

[2021-01-11 19:57] luke-gcio commented on #12903
https://files.slack.com/files-pri/T03FECE8V-F01J88MUPHQ/bdd_submissions_per_day_2020-12-01_to_2021-01-06.png

[BDD Submissions Log.xlsx](https://github.com/department-of-veterans-affairs/va.gov-team/files/5798047/BDD.Submissions.Log.xlsx)

[2021-01-11 19:57] #12903 closed

[2021-01-11 19:58] oragame opened #18346 "Add Don Seymour to config maps for dev and staging EKS clusters"
## Description
Add Don Seymour to auth config map for EKS clusters on dev and staging.

## Background/context/resources
_Any additional context for the reader to know, if applicable_

## Technical notes

---
## Tasks
- [x] Add user to config map on platform tools eks staging
- [x] Add user to config map on platform tools eks dev

## Definition of Done
- [ ] Access to Kubernetes objects on EKS clus

[2021-01-11 19:58] bkjohnson commented on #18150
I'm planning on having the web component loader happen in `static-pages` inside of `vets-website`.

## Current vets-website metrics

`6.2M Jan 11 11:41 build/localhost/generated/static-pages.entry.js`

## Bundle size with web components

`6.3M Jan 11 11:54 build/localhost/generated/static-pages.entry.js`

[2021-01-11 19:58] starlow00 commented on #14318
Contacted Kimberley for meeting re. this ticket.

[2021-01-11 19:59] luke-gcio commented on #18220
Hold off on this until we get approval from our stakeholders.  Direction from Paul Shute.

[2021-01-11 20:00] luke-gcio commented on #18066
Can we close this?

[2021-01-11 20:01] ala-yna opened #18347 "Sign as a Representative"
## Product Outline
[Initiative Outline](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/caregiver/initiatives/sign-as-a-rep/initiative-outline.md)

## High Level User Story
As the legal representative of a Veteran,
I need a way to sign a form on behalf of a Veteran, and upload documentation related to my authority to do so,
So I can help my Veteran fill ou

[2021-01-11 20:02] mmiddaugh commented on #6104
Per conversation with @joshkimux on 1/11 - Zoom In/zoom Out does not need to be visually displayed as the controls are announced. Work will be done to announce contextual changes and improve the keyboard navigation and focus in separate issues.

[2021-01-11 20:02] #6104 closed

[2021-01-11 20:04] MarciMcGuireGCIO commented on #17939
@zacharymorel is everything in the Tasks and Acceptance Criteria complete? (you can check off whatever is done).  Thx!

[2021-01-11 20:06] lihanli commented on #18270
if a user's `vaProfile.status` is OK then they should be in MPI. i asked in the vsp-identity channel to make sure but from skimming the code it looks like that is the case. as far as va profile saying a user is not in MPI when we are getting data from MPI saying the user is found i'm not sure why that would be happening.

[2021-01-11 20:06] LindseySaari opened #18348 "Add commit message for module generator"
## Issue Description
In order to track developer usage of the module generator, we discussed that creating a commit along with a standard commit message was the best option to track success metrics. The standard commit message will be flagged as important (to avoid deletion). Further, the commit message can be searched via Github to gather usage metrics.

---
## Tasks
- [x] Create a commit message

[2021-01-11 20:08] erikphansen commented on #18270
@lihanli do you think we're going to need to find some real users who are running into this issue to better diagnose it and figure out why `vaProfile.status` is `OK` but VA Profile is throwing an error because they are not in MPI?

[2021-01-11 20:09] alexpappasoddball commented on #13676
@LindseySaari When you get the actual language you are planning on adding to the commit message, let me know so I can update our success metrics section to include what it will be, and include a GitHub link to the search query!

[2021-01-11 20:13] tressaellen commented on #18043
Sure, no problem! Let me know if you need anything else.

![My VA LOA1 Applications.jpg](https://images.zenhubusercontent.com/5dfa65bbbd078d1699e52294/2e4b4c2a-fe53-44ff-a226-be0b070dd468)

[2021-01-11 20:13] #17240 closed

[2021-01-11 20:14] lihanli opened #18349 "[BE] log when users have a mvi_response.status of OK then return a va profile MVI201 error"
## Background
The log-in flow is detecting someone is in MPI, but VA Profile is not.

See ticket: [[FE] Look into analytics error discrepancies #18270](https://github.com/department-of-veterans-affairs/va.gov-team/issues/18270#issuecomment-758196764)

Users that have a `mvi_response.status` of OK should be in MPI. we should log users that are found in MPI but still receive `MVI201` errors from va

[2021-01-11 20:15] lihanli commented on #18270
i think that would be a good thing to log. i made an issue for it here https://github.com/department-of-veterans-affairs/va.gov-team/issues/18349

[2021-01-11 20:17] #18061 closed

[2021-01-11 20:18] lihanli commented on #18061
trancode 1: create
trancode 2: update
trancode 3: destroy

[2021-01-11 20:18] RLHecht commented on #18340
These have been reviewed and published. Moving ticket to validate.

[2021-01-11 20:18] laurenernest opened #18350 "[POC] Display all registered facilities"
## Issue Description
Update POC Facility Selection page to show all facilities where a veteran is registered.

---

## Acceptance Criteria
- [ ] Behind va_online_scheduling_cheetah feature flag
- [ ] Facilities are sorted by location, nearest first

[2021-01-11 20:20] edmangimelli commented on #13128
Going to talk to @cvalarida about approving this FE platform change

[2021-01-11 20:20] #15159 closed

[2021-01-11 20:24] RLHecht commented on #18335
These changes have been reviewed and published. Moving to validate.

[2021-01-11 20:24] zacharymorel commented on #17926
A11y tests have been run on my part.

[2021-01-11 20:28] johnhashva commented on #15043
@leahkeeler I'll follow up with the VA business stakeholder to validate this and get back.

[2021-01-11 20:28] mmiddaugh opened #18351 "Implement Facility Locator error messages"
## User Story or Problem Statement

As a Veteran using a screenreader to search on Facility Locator, I need to hear errors announced relative to the field where the error occurs so I know how to resolve the error.

- **❗️ Must** for if the feedback must be applied

## Details

1. The error message itself is not specific. Screen reader users won't know what exactly is the problem if the problem is

[2021-01-11 20:30] joshkimux commented on #6104
@mmiddaugh I'm ok with closing this out-- but would it be possible for us to flag this as something to test with mobile screen reader users this year?

[2021-01-11 20:45] LinnJS commented on #16648
[vets-website PR](https://github.com/department-of-veterans-affairs/vets-website/pull/15511)

[vets-json-schema PR](https://github.com/department-of-veterans-affairs/vets-json-schema/pull/559)

[2021-01-11 20:46] LinnJS commented on #18327
[vets-website PR](https://github.com/department-of-veterans-affairs/vets-website/pull/15511)

[vets-json-schema PR](https://github.com/department-of-veterans-affairs/vets-json-schema/pull/559)

[2021-01-11 20:50] rebeccawalsh opened #18352 "Including LGY debts in the FSR wizard"
## Issue Description
In our meeting with FSR SMEs, we removed LGY (Loan Guarantee Service) from the first layer of the wizard due to some complexity that is 'out of scope.' We'd like to revisit adding LGY debts back into the wizard to ensure veterans looking for assistance with LGY debts can get where they need to go.

---
## Tasks
- [ ] Meet and discuss LGY complexities with DMC
- [ ] Revise deci

[2021-01-11 20:50] LinnJS opened #18353 "Follow-on SaveInProgress Feature Flipping for 1010EZ"
## User Story
As a veteran I would like to get the latest form updates translated to my in progress form
make the form UX update to the latest even when form is already in progress with the old version
we do not want the veteran being hydrated into a UX that is no longer valid or on a page that no longer exist
so please implement BE redirects to direct the user to the page with empty data so they

[2021-01-11 20:53] ala-yna commented on #12474
Tickets still outstanding
- Flip feature flag to 100% in Production
- Take out feature flag
- Require both addresses on the schema
- Look into designs for review page (showing both addresses vs. check box)

[2021-01-11 20:53] mchelen-gov commented on #16648
Conclusion:
- Bug in ESR sometimes causes ICN stub to be created
- ESR plans to resolve bug
- Current situation causes some HCA applications to go through help desk
- Help desk is successfully able to process these applications, so users are not negatively impacted

[2021-01-11 20:53] #16648 closed

[2021-01-11 20:54] rileyorr opened #18354 "[Debt Letters] Expand the 'Debt letters history' table to 'Debt history'"
## Issue Description
_We're making improvements to the “Debt letter history” table by transforming it into “Debt history” by including retrospective content for certain diary codes. The goal is to include a more holistic view of the diary code changes for the debt. By expanding the debt letter history section of the debt detail page, we will need to account for a much longer table._

---
## Tasks

[2021-01-11 20:55] rileyorr commented on #17907
I made adjustments to the UXPin prototype. The proposed content is currently in DMC's possession for feedback, but I added [a ticket for frontend implementation](https://github.com/department-of-veterans-affairs/va.gov-team/issues/18354) in preparation.

[2021-01-11 20:57] 1Copenut commented on #16692
This to me is the right answer and supports long-term viability. We won't always know where in the hierarchy these information cards are being added, so it's beneficial to have a prop that can be set to override defaults. We're doing something very similar in the Alertbox component here: https://github.com/department-of-veterans-affairs/veteran-facing-services-tools/blob/4b63889c81be4f3e9036a4b93f

[2021-01-11 20:59] digitalken commented on #17633
PASS 1/11/2021 - Sending to Design QA.

[2021-01-11 20:59] kevinmirc commented on #17541
Updates
- 10-10EZ is able to accept additional properties not (yet) defined on the schema
- ES can accept one or two addresses, it does not block when receiving one address at this time

Given the above updates, we can deploy the backend without any schema updates or coordination with the front-end. We just allow it to accept one or two addresses (for when the flipper is disabled or enabled respec

[2021-01-11 20:59] #17541 closed

[2021-01-11 21:00] mmiddaugh opened #18355 "[DISCOVERY] Adopting the form system for Facility Locator"
## Issue description
The Facility Locator currently does not handle errors accessibly or in alignment with the design system. It may be best for us to adopt the form system in order to be compliant and efficient.

Relevant issue: https://github.com/department-of-veterans-affairs/va.gov-team/issues/18351

## Tasks
- Investigate the options and components available through the form system (with mobi

[2021-01-11 21:02] joshkimux commented on #16692
Looks like we have our collective answer then!
Thank you @cohnjesse for the idea in the first place 🎉

[2021-01-11 21:03] mdewey commented on #13145
Current Notes:
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/engineering/questionnaire-trigger/meeting%20notes/2021.01.11.md

[2021-01-11 21:04] #7424 closed

[2021-01-11 21:05] allison0034 commented on #18289
@caw310 I am unable to login in to view prototypes. Do you have a login or can you make it public? Thank you!

[2021-01-11 21:05] #17325 closed

[2021-01-11 21:07] mchelen-gov commented on #18177
what is the purpose of this since the HCA form already exists, is it to have a easily modifiable prototype for testing out changes?

[2021-01-11 21:07] #15180 closed

[2021-01-11 21:07] #17606 closed

[2021-01-11 21:10] #17292 closed

[2021-01-11 21:15] luke-gcio opened #18356 "Complete front end security review questions for HLR"
## User Story
As someone responsible for VA.gov application security, I want to make sure there are not front end issues with HLR.

## Expected Behavior / Tasks
Complete the security review questions from https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/issues/174.

- [x] Determine if we do any Google Analytics and/or Sentry logging in the FE, and follow-up via Slack with @f

[2021-01-11 21:25] SgardnerPMP opened #18357 "[REVIEW] Internal Review, Test, Proof Read, and CORRECT all NODES for "VA Richmond health care" ending with stakeholder review doc [VAMC]"
## User Story or Problem Statement
As a Veteran Web user, I must have full accessibility a compliance to my web applications and tools, so I can use the VAMC system pages in any GUI, UE, including mobile and reader environments.

## Goal
_Perform initial page testing and review

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran's accessibility

[2021-01-11 21:28] SgardnerPMP opened #18358 "[REVIEW] Internal Review, Test, Proof Read, and CORRECT all NODES for "VA Salem health care" ending with stakeholder review doc [VAMC]"
## User Story or Problem Statement
As a Veteran Web user, I must have full accessibility a compliance to my web applications and tools, so I can use the VAMC system pages in any GUI, UE, including mobile and reader environments.

## Goal
_Perform initial page testing and review

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran's accessibility

[2021-01-11 21:28] caw310 commented on #18289
@CrystabelReiter , can you give Allison access to mockups?

[2021-01-11 21:30] SgardnerPMP opened #18359 "[REVIEW] Internal Review, Test, Proof Read, and CORRECT all NODES for "VA Salisbury health care" ending with stakeholder review doc [VAMC]"
## User Story or Problem Statement
As a Veteran Web user, I must have full accessibility a compliance to my web applications and tools, so I can use the VAMC system pages in any GUI, UE, including mobile and reader environments.

## Goal
_Perform initial page testing and review

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran's accessibility

[2021-01-11 21:31] #17314 closed

[2021-01-11 21:32] mdewey commented on #16938
Blocked due to testing. Meeting with the engineering team to figure out what the next steps are.

[2021-01-11 21:33] abuckley3385 commented on #16064
@kristenmcconnell  since you've shared all the notes do we want to close this or are we wanting to do a readout with the team?

[2021-01-11 21:33] mdewey commented on #16938
Back end ticket: https://github.com/department-of-veterans-affairs/va.gov-team/issues/17206

[2021-01-11 21:34] mdewey commented on #16938
TL;DR; on testing. The only changes were on the API but the QA team only has the capabilities to test the front end.

[2021-01-11 21:37] abuckley3385 commented on #12776
@dillo  do we need this ticket anymore now that we are connecting to staging with real map data not mock?

[2021-01-11 21:39] mdewey commented on #17501
merged to master, need to verify in staging.

[2021-01-11 21:39] bridgethapner commented on #14364
Just looking at this & have one small suggested change -- I think we can remove "Ok" from the left-most screen & just offer a consistent card with phone information that users can't dismiss. And same for the second screen in, we can have one CTA here, I don't think we need 'No, take me back' since we're not doing an overlay like the web is doing.

![Cancel-Apts-UX-update.png](https://images.zenhub

[2021-01-11 21:39] #14364 closed

[2021-01-11 21:39] #16064 closed

[2021-01-11 21:39] mdewey commented on #16580
Merged to master, need to verify in staging

[2021-01-11 21:42] kristenmcconnell commented on #16064
All transcripts and key takeaways can be found at: https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/health-care/questionnaire/discovery/stakeholder-interviews/clinician-interviews/november-2020.

[2021-01-11 21:44] #18082 closed

[2021-01-11 21:46] bridgethapner commented on #18305
**Checklist for readiness to release the app to internal testers:**
- [ ] IAM integration is in production & tested
- [ ] App Center is set up
- [ ] Instructions for how to download/sign up for App Center are made
- [ ] We have made a Slack channel to invite testers to
- [ ] We have tester emails

**Questions**
- [ ] Are we all aligned that we'll handle this passively / asynch via Slack? We can se

[2021-01-11 21:48] dillo commented on #12776
@abuckley3385 we still need to integrate the vets-api with staging MAP and pull down the appointment data from it. I can either create a new ticket to do that or I can edit this ticket to accomplish the work.

[2021-01-11 21:49] kristenmcconnell commented on #17805
Met with team on January 11, 2021. Going to complete another iteration.

[2021-01-11 21:49] bridgethapner opened #18361 "Claims - Revisit File Upload UI"
Per 1/11 discussion, revisit the UI considering the following:
- We'll use the device's camera
- We won't do edge detection for now
- We will have 2 ways to upload: take a photo and select a photo
- We need a way to communicate the 50 MB limit as the user is uploading
- We want to display the file name the user is uploading against in the UI on the upload screen

[2021-01-11 21:50] abuckley3385 commented on #18257
@mdewey  what is this ticket for?

[2021-01-11 21:54] sshein commented on #17937
just chatted with Laurel and it does feel like this takes up quiet a bit of the results page - maybe we can let people know about this [on the landing page](https://www.va.gov/education/yellow-ribbon-participating-schools/) instead of the results page? And maybe we can have shorter instructions closer to the "school name" field?  Peggy might have some thoughts here that could help

[2021-01-11 21:54] zacharymorel opened #18362 "Yellow Ribbon Abbreviation GIDS API update."
## Issue Description
We are expanding the Yellow Ribbon search functionality. With this scope of work we are:
1. Updating GI Data Service API existing Yellow Ribbon search abilities to allow for Abbreviation Searches.

## Technical Notes
See [GIDS Institutions](https://github.com/department-of-veterans-affairs/gibct-data-service/blob/master/app/controllers/v0/institutions_controller.rb#L25) for co

[2021-01-11 21:55] kevinmirc commented on #17538
The feature toggle was enabled for 100% of production users today (January 11, 2021) at 4:12 PM. So far, five submissions have come been sent. The attachment for each submission was successfully processed by the new background job.

Closing since this has been successfully released in production and no errors have occurred.

[2021-01-11 21:55] #17538 closed

[2021-01-11 21:55] mshea0606 opened #18363 "General Analytics Request for [Matt Shea] - [Profile 2.0: Avg Session time update]"
# Metrics Reporting Request

## Description
Who is this request for?
- Matt Shea: Authenticated Experience team: Profile 2.0 DOMO data update/fix

##  What type of analytics/metrics support are you looking for?
 Improvement to existing KPI on an existing Profile 2.0 dashboard
[Profile 2.0 Domo](https://va-gov.domo.com/page/492918243)

- Average session time seems off

- We would like to remove the

[2021-01-11 21:56] sshein commented on #17937
Also wondering if this is an opportunity to create a better "hint text" component - right now we just put hint text in parens after the label typically. See this slack thread for more details: https://dsva.slack.com/archives/C8E985R32/p1610131947323100 (@laurellawrence)

[2021-01-11 22:00] zacharymorel opened #18364 "Yellow Ribbon Abbreviation FE Vets Website update."
## Issue Description
We are expanding the Yellow Ribbon search functionality. With this scope of work we are:
1. Updating Vets Website Yellow Ribbon React Widget search to allow for Abbreviation Searches.

## Front end tasks
- Ensure the page is styled according to design spec.
- Ensure unit tests are available.
- Ensure your code changes are covered by E2E tests
- Run axe checks using the Chrome

[2021-01-11 22:00] pjhill commented on #17303
https://staging.va.gov/education/gi-bill/post-9-11/ch-33-benefit/status -- is a good site to check if a staging user is correlated to ch33 service identities and has data available for use on the platform.

I've tried maybe 50 of the users on [this page](https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/blob/master/Administrative/vagov-users/mvi-staging-users-birls-participan

[2021-01-11 22:03] bmcgrady-ep commented on #16233
@joanneesteban - The GA Reports have been added to the sub-page on the original KPI dashboard located [here](https://va-gov.domo.com/page/2036788329).

[2021-01-11 22:08] DanielleThierryUSDSVA opened #18365 "KMI unsubscribe text"
## For successful unsubscribe

You've unsubscribed from COVID-19 vaccine updates. We won't send you any more emails.

## For unsubscribe error

We're sorry. We couldn't unsubscribe you from COVID-19 vaccine updates at this time. Please try again later.

[2021-01-11 22:09] zacharymorel opened #18366 "Yellow Ribbon Autocomplete GIDS API update."
## Issue Description
We are working on expanding the Yellow Ribbon Search functionality and capabilities.
We need to create a new api endpoint on the GI Data Service for YR AutoComplete.
- (Additionally, this includes updating the Model Layer to query DB for Autocomplete results).
- See [institutions/autocomplete?term=harv](https://github.com/department-of-veterans-affairs/gibct-data-service/blob/

[2021-01-11 22:10] DanielleThierryUSDSVA commented on #18365
Hi @stephenBarrs @batemapf. Draft unsubscribe language above. Do we want to direct user to contact center if they try again without success again?

[2021-01-11 22:11] cohnjesse commented on #16692
@joshkimux @1Copenut Ok, I will put together a separate ticket and do the work to add this functionality into the design system. Thanks!

[2021-01-11 22:13] zacharymorel opened #18367 "Yellow Ribbon Autocomplete Vets-API update."
## Issue Description
We are working on expanding the Yellow Ribbon Search functionality and capabilities.
We need to create a new api endpoint on the Vets API as a proxy to GI Data Service for YR AutoComplete.
- See [vets api controller](https://github.com/department-of-veterans-affairs/vets-api/blob/master/lib/gi/client.rb#L12)

## Acceptance Criteria
- [ ] Autocomplete should be queryable via a

[2021-01-11 22:13] abuckley3385 commented on #12776
@dillo  understood- is Mock data correct then? maybe its just rewording this ticket

[2021-01-11 22:17] kristenmcconnell commented on #18131
@abuckley3385 As discussed on Slack, I updated the wireframes by adding the word "retirement" to the question, so the Life Events question now reads:
Are there any other concerns or changes in your life that are affecting you or your health? (For example, a marriage, divorce, new baby, change in your job, retirement, or other medical conditions)

@mdewey Zeplin is up-to-date to reflect the above w

[2021-01-11 22:17] #18131 closed

[2021-01-11 22:17] zacharymorel opened #18368 "Yellow Ribbon Autocomplete FE update."
## Issue Description
We are working on expanding the Yellow Ribbon Search functionality and capabilities.
We need to add to the Yellow Ribbon React Components to capability to handle Autocomplete.

## Front end tasks
- Ensure the Autocomplete is throttled for GIDS api.
- Ensure the page is styled according to design spec.
- Ensure unit tests are available.
- Ensure your code changes are covered by

[2021-01-11 22:22] #17933 closed

[2021-01-11 22:24] ala-yna commented on #18177
Yep, that's it! To make it easier to make changes in the future, since we're pretty sure that we're going to keep working on and improving the form.

We talked with Shawna about making it of screenshots for now, and transitioning to a real fillable prototype as necessary.

[2021-01-11 22:29] Samara-Strauss commented on #18043
Great, thank you!

[2021-01-11 22:29] #18043 closed

[2021-01-11 22:30] Samara-Strauss commented on #17526
Is this ready to be closed yet?

[2021-01-11 22:31] mviterna opened #18369 "Access for [individual]"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Do not remove `operations` label; this will notify the VSP Operations team of your request
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.
  Cecilia Lee Cecilia.Lee@va.gov
- Pl

[2021-01-11 22:31] mviterna opened #18370 "Access for [Mark Viterna]"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Do not remove `operations` label; this will notify the VSP Operations team of your request
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.
  Cecilia Lee Cecilia.Lee@va.gov
- Pl

[2021-01-11 22:33] mmiddaugh commented on #17665
Please refer to [recording with Josh](https://drive.google.com/file/d/1drsmPly33CQHGzVsxrvY_0y9OmMiHrZR/view?usp=sharing)

[2021-01-11 22:33] mmiddaugh commented on #18351
Please refer to [recording with Josh](https://drive.google.com/file/d/1drsmPly33CQHGzVsxrvY_0y9OmMiHrZR/view?usp=sharing)

[2021-01-11 22:41] mmiddaugh commented on #6911
Following the conversation with Josh ([recording](https://drive.google.com/file/d/1drsmPly33CQHGzVsxrvY_0y9OmMiHrZR/view?usp=sharing)), I will close this issue knowing the relevant items are covered in the following
- The image of the map is focusable, but provides no indication of focus/inconsistent focus [#17665](https://github.com/department-of-veterans-affairs/va.gov-team/issues/17665)
- Error

[2021-01-11 22:41] #6911 closed

[2021-01-11 22:41] #16119 closed

[2021-01-11 22:43] #16118 closed

[2021-01-11 22:49] johnhashva commented on #17937
@MarciMcGuireGCIO and @laurellawrence based on Shawna's feedback, have we hit a wall?  Or do we have some ideas about how to refashion our approach?

[2021-01-11 22:53] mmiddaugh opened #18372 "Revisit pagination for Community care results"
## Issue Description
The best user experience is an accurate representation and display of search results, including the total number in the heading and paginated. However, because sort order for PPMS results could not be guaranteed, the team decided to return results without pagination (and for all facility types, to be consistent). Now that we've optimized our query and will be moving to a Rails

[2021-01-11 22:53] bsmartin-ep commented on #14491
GTM workspace has been published to dev, staging, and live.  We should know have collection on "secondary" buttons.

[2021-01-11 22:54] kristenmcconnell commented on #15125
Review https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/engineering/error-flows/README.md when completing this task.

The three use cases that @mdewey found during his audit that need UX are:
1. When we can't generate the PDF on the Questionnaire list, because the services are down.
2. When we can't generate the PDF on the confirmation pa

[2021-01-11 22:56] laurenernest commented on #18276
This is great! I'll let you know if more context is needed.

[2021-01-11 22:56] #18276 closed

[2021-01-11 23:03] bridgethapner commented on #18305
- [ ] Let's do a Teams Channel
- [ ] Make one person's VA email open
- [ ] How are we getting people -- Steve is putting together a doc and sharing out with us
- [ ] Add a question along the lines of how likely are you to recommend to someone you work with or other Veterans?

[2021-01-11 23:26] MarciMcGuireGCIO commented on #17937
That make sense, and having it on the landing page initially also sets them up for success at the outset, vs after they've already tried (and possibly failed) once.

[2021-01-11 23:26] ayushchak commented on #18305
Draft language for testing

_Hello There,

We’re reaching out to you because we would love to have you test our preliminary internal release of the VA Mobile App - your feedback is extremely valuable to us identifying issues and building a strong app for Veterans across the country. We’re looking for your honest thoughts and experiences as testers!

Please share your feedback between February 1, 2

[2021-01-11 23:26] jason-gcio opened #18373 "Bio Info Page Issue with SIP component"
## Background
An issue was found with the interactions between the biographical info and the save in progress (SIP) component where non-LOA3's were not able to convey certain fields to the form.

## Solution
At this point we are going by-pass the bio info page on login and simply present the fields as they exist pre-filled.  Once the bio info page as a component is able to handle more granular con

[2021-01-11 23:27] larrywest52 commented on #17914
All pages finalized and posted in our team's Google Drive.

[2021-01-11 23:33] MarciMcGuireGCIO commented on #17937
@johnhashva, I don't think we've hit a wall.  Moving it to the landing page helps up front, vs. after they've already tried --  like providing password rules vs. displaying them after one failed attempt ("must contain a number, letter, special character...")

I'm very confident that @laurellawrence will be able to come up with a new design based on the feedback Shawna has given.

[2021-01-11 23:51] larrywest52 commented on #17886
All pages finalized and uploaded to our team's Google Drive.

[2021-01-11 23:53] digitalken commented on #17369
PASS 1/11/2021 - Moving to Design QA.

[2021-01-12 00:01] peggygannon commented on #18078
Hello, @kristenmcconnell here is my recommendation. Please let me know if you have any questions.

Recommendation:

OPTION A (identifying this questionnaire as coming from the provider)
Fill out this questionnaire from your provider to help them prepare for your visit: https://www.va.gov/health-care/health-questionnaires/questionnaires/.

OPTION B:
Fill out this questionnaire to help your provider