[2022-11-07 19:21] acrollet commented on #49074
@benbrasso-agile6 as we're talking through this, we're realizing that the parameters around when a message goes out make a fairly big difference from the technical perspective. So the question is: When, ideally, should a message go out for a given appointment? Should it be right at the start of the check-in window? If so, how large is the window for receiving the message, especially if a veteran h

[2022-11-07 19:22] acrollet commented on #49074
I think we need to assume that the opt-in should be respected. In general, our discussion is pointing at this process needing to run in VEText, since it already does similar work for pre-checkin, and the expertise and access needed are concentrated there.

[2022-11-07 19:26] acrollet commented on #49074
This is somewhat TBD, but if we assume that the maximum number of appointments that would need a text message sent in any given 1/2 hour window is about 5000, and we have 5 minutes to send all texts, the sending rate required is about 17 messages/second. It usually takes around 2-3 seconds for CHIP to process an initiate-checkin request, implying that about 50 worker processes would need to be ava

[2022-11-07 19:31] starlow00 commented on #46707
No changes from VEO. Copy attached.

[Certificate of Eligibility Product Guide.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/9954862/Certificate.of.Eligibility.Product.Guide.docx)

[2022-11-07 19:31] #46707 closed

[2022-11-07 19:32] benbrasso-agile6 commented on #49074
Yes, right at the start of the check-in window, to whatever degree possible. E.g., run whatever checks need to happen first, then send out message as soon as possible thereafter. This is to maximize the amount of time a Veteran has to start check in and finish it. I don't see a huge pro of waiting to send the link until, for example, 5 mins before the actual appointment.

[2022-11-07 19:35] shiragoodman commented on #48042
@allison0034 I reordered the doc a bit so it groups all of Governance and all of Shared Support. I also changed "TLDR" to, "summary".

[2022-11-07 19:35] acrollet commented on #49074
Next steps:

- get more clarity on how many appointments are eligible for check-in at any given time, and what the maximum is
- schedule time with someone from VEText (probably Rob Durkin) to explain this ask and get their perspective on the practicalities

[2022-11-07 19:39] allison0034 commented on #48042
Flows better thank you!

[2022-11-07 19:39] loripusey commented on #47829
validated
question: did you also do this for Pre-Check-in or was this just for check-in? @brianseek

[2022-11-07 19:42] shiragoodman commented on #48629
@bryan-riley-va no, there is no mandatory order. If you have questions about the timing of each touchpoint, check out the different [Touchpoint pages on Platform Website. ](https://depo-platform-documentation.scrollhelp.site/collaboration-cycle/touchpoints) On the left navigation pane, select the touchpoint you have questions about and there is a "Timing" section with our expectations around when

[2022-11-07 19:47] tmitchellgcio commented on #49256
just merged give it about 30 min

[2022-11-07 19:47] tmitchellgcio commented on #48812
just merged give it about 30 min

[2022-11-07 19:48] shiragoodman commented on #48009
@it-harrison I checked with Jason Woodman, our product lead, on whether or not this should go through Office hours again. He thinks that we don't need to, but we should still connect with Ray and Chelen to make sure they're on board with our changes before continuing on with the initiative. Once Clint is done reviewing, please let me know and I'll get the post ready for our team Slack channel.

[2022-11-07 19:52] tmitchellgcio commented on #48701
@aagosto90 Benefit payments also says it. Do we need to remove it from claims and appeals as well as payments?

[2022-11-07 19:56] ajakabcin commented on #49390
Thanks for creating this @ericasauv09!

@aagosto90 - we pulled this into this sprint. Let's do this as part of step 2 in the sprint [plan notes](https://github.com/department-of-veterans-affairs/va.gov-team/issues/43509#issuecomment-1301185046)

[2022-11-07 19:57] tbaker1026 opened #49393 "Simple Form Audit by section & Field"
[Simple Form Document](https://docs.google.com/spreadsheets/d/1SreqZ2fwi6eCaFsUNq1n3lwuHXYyV7GMHwIIW6e7xfM/edit#gid=1158359287)

[2022-11-07 19:59] aagosto90 commented on #48701
Does it say "right now" in the headline of the error or just the body copy? In my mockups it doesn't say "right now" in the header of the benefit payments error.

[2022-11-07 20:01] Cmjones233 commented on #49306
Patient DFN has been added to both tables.

[2022-11-07 20:02] tmitchellgcio commented on #48701
oh sorry the body copy

[2022-11-07 20:04] Cmjones233 commented on #49305
Dashboard and visuals have been updated with new query

[2022-11-07 20:11] shiragoodman commented on #47916
Thanks @briandeconinck ! per your responses above, I am going to create some follow up tickets (to be completed _after_ this ticket is completed). I'll update this comment with the new tickets once they're ready.

[2022-11-07 20:13] sterkenburgsara commented on #48780
@allison0034 no, these should be updated already.

[2022-11-07 20:20] sterkenburgsara commented on #48780
@allison0034 yes, just did that. Thanks!

[2022-11-07 20:24] #49340 closed

[2022-11-07 20:24] #49104 closed

[2022-11-07 20:25] #49030 closed

[2022-11-07 20:28] sterkenburgsara commented on #48780
@shiragoodman modified all collaboration cycle tickets in the pipeline [to include IA artifact request] that are awaiting midpoint review or are before that stage. Did not update any tickets that are currently past midpoint review.

[2022-11-07 20:28] #48780 closed

[2022-11-07 20:33] acrollet opened #49394 "[FE] Ensure that pre-checkin messages are shown at the correct time"
change the check-in window from 30 to 45 minutes.

[2022-11-07 20:44] mchelen-gov commented on #49391
For Github org follow the usual process: https://depo-platform-documentation.scrollhelp.site/getting-started/request-access-to-tools#Requestaccesstotools-GettingaccesstotheVAGitHuborganization

For Grafana access they can go through Platform orientation if needed, though I believe it is reachable from GFE w/o SOCKS.

Please reopen if there are further issues.

[2022-11-07 20:44] #49391 closed

[2022-11-07 20:57] rmtolmach commented on #48979
Moving this to the "review" column.

Not all questions can be answered at this time, but we'll have the discovery confluence page to guide us with our architecture.

[2022-11-07 21:05] starlow00 commented on #49352
Thanks, @SKasimow. I will look it over and get back to you.

[2022-11-07 21:05] laflannery commented on #22228
This is resolved, breadcrumbs have operating status page and the main VA Health care page:
![image](https://user-images.githubusercontent.com/106678594/200415197-de4e6ed3-36d7-458c-8bbd-50e573fb6520.png)

[2022-11-07 21:05] #22228 closed

[2022-11-07 21:07] JoeTice opened #49395 "Define Frontend Approach"
## Issue Description
How might we enable preview environment users to configure and create their preview environments?

Given that we expect to switch from automatically generated review instances to on-demand preview environments, how will users interact with the system in order to configure and spin up the preview environment?

---
## Tasks
- [x] What kind of user experience is available to us f

[2022-11-07 21:08] JoeTice opened #49396 "Vet Plan w/ Arch Working Group"

[2022-11-07 21:09] JoeTice opened #49397 "Research getting mock data into PEs"
## Issue Description
Preview environment users may prefer to use mock data for their preview environment instance. In order to accommodate a mock data workflow, the preview environment will need to be created with `vets-api-mockdata` in place and configured.

---

## Tasks
- [ ] Research a method for configuring a preview environment to use mock data instead of lower environments
- [ ] Assess how

[2022-11-07 21:11] aagosto90 commented on #48701
Ah okay; well that's fine as is then. Looks like most of them have some reference to "right now" in the body copy. Thank you for flagging it though!

[2022-11-07 21:17] #10933 closed

[2022-11-07 21:17] laflannery commented on #10932
Closing because the issues are also covered in this epic #10931

[2022-11-07 21:17] #10932 closed

[2022-11-07 21:21] #48437 closed

[2022-11-07 21:32] megzehn commented on #42470
Thanks, @DanielleThierryUSDSVA! I copy edited these and made some minor changes that we discussed during our check-in ("adding "community care" before providers only at the beginning, and tweaking the lead-in before the bullet list on the [urgent care page](http://preview-prod.vfs.va.gov/preview?nodeId=49848)).

They are still in drafts!

[2022-11-07 21:32] ericasauv09 opened #49398 "[FE] [Bug] Payment info v2 : Payment History Error Placement"
## Background
When the payment history error is triggered we noticed that the "we can't display your payment information" error shows at the top of the My VA page as well as within the Benefit Payment section. We need to fix this so the error is only displayed in the Benefit Payment section and that there is no orphaned error at the top of the page.

**Example of incorrect error placement**
![Scre

[2022-11-07 21:32] lindsay-insco commented on #40996
Currently testing in Staging environment

[2022-11-07 21:33] lindsay-insco commented on #42504
Resubmitted 11/7

[2022-11-07 21:35] mmiddaugh opened #49399 "Support for toxic exposure (PACT Act) related eligibility wizard"
## Description
OPIA and SecVA are interested in another avenue for people to quickly digest whether they should file a claim based on the new PACT Act presumptive conditions and locations or previous toxic exposure presumptives. Because eligibility wizards are notoriously complex, the desire is to keep this wizard very high level, such as a few questions about service history which lead to "You ma

[2022-11-07 21:37] brianseek opened #49400 "[UX][SPIKE] Expired session/no appointments refresh"
## Description
When a user reloads the day-of check-in application, we request data to rebuild the page. If a user's session is expired or if there are no appointments returned in the payload we send them to a generic error page that makes it seem like there was an issue performing a check-in.

This ticket is to determine if we need another type of error page, or if we should redirect the user bac

[2022-11-07 21:38] Cmjones233 opened #49401 "AVS Batch Printing Dashboard [11/15/2022]"
- [x] Link to tables

- [x] Draft Dashboard

- [x] Reviewed by Chance and Justin

- [ ] Present to Shane

[2022-11-07 21:38] Cmjones233 commented on #49401
TABLES:
ckoPVSClinic
ckoPrintingLog

[2022-11-07 21:39] Cmjones233 commented on #49040
Andy will need to move over data. Est. march or april 2023

[2022-11-07 21:41] shanemelliott commented on #49203
[https://app.zenhub.com/files/133843125/00c96a80-f5bb-4864-9bb8-ddb4feb979df/download](https://app.zenhub.com/files/133843125/00c96a80-f5bb-4864-9bb8-ddb4feb979df/download)

[2022-11-07 21:41] #49339 closed

[2022-11-07 21:42] shiragoodman opened #49402 "Add link to child pages to Touchpoints page"
## User Story
As a VFS team member, I want to be able to easily locate the Touchpoint pages so that I can find the information I am looking for.

Assignee:
Peer Reviewer:

## Description
The [Touchpoints page](https://depo-platform-documentation.scrollhelp.site/collaboration-cycle/touchpoints) includes a Platform practice area table that specifies which practice areas are involved in which Collab

[2022-11-07 21:43] wesrowe commented on #49389
@laflannery, just tagging you here so we can look at this together. I'll schedule time.

[2022-11-07 21:51] shiragoodman opened #49403 "Modify "WCAG 2.1 success criteria and foundational testing" per new Accessibility Testing artifact"
## User Story
_"As a (persona), I (want to), (so that)."_

Assignee:
Peer Reviewer:

## Description
The "[WCAG 2.1 success criteria and foundational testing](https://depo-platform-documentation.scrollhelp.site/developer-docs/wcag-2-1-success-criteria-and-foundational-testing)" page on Platform Website needs to be updated to [address changes](https://github.com/department-of-veterans-affairs/va.gov

[2022-11-07 21:55] shiragoodman opened #49404 "Modify "Add accessibility test cases in TestRail" page on Platform Website"
## User Story
As a VFS team member, I want to know what artifacts are required and/or recommended for Staging Review so that I can prepare appropriately.

Assignee:
Peer Reviewer:

## Description
The "[Add accessibility test cases in TestRail](https://depo-platform-documentation.scrollhelp.site/developer-docs/add-accessibility-test-cases-in-testrail)" page on Platform Website needs to include a me

[2022-11-07 21:58] shiragoodman opened #49405 "Post-launch review of Accessibility Testing artifact"
## User Story
_"As a (persona), I (want to), (so that)."_

Assignee:
Peer Reviewer:

## Description
Things we want to verify with the new Accessibility Testing artifact after X number of staging reviews:
- communication in feedback tickets vs. through the accessibility testing artifact

## Impacted Artifacts

## Tasks
- [ ] _Placeholder task_

## Peer Review
_To be completed by peer reviewer_
- [

[2022-11-07 22:02] brianseek opened #49406 "[FE] Data persistence for pre-check-in"
## Description
Data persistence is now built into the day-of check-in application. This ticket is to come up with a strategy for pre-check-in. If we move the data fetch to work from within the same hook as day-of check-in, the same AppWrapper should be able to be plugged in.

We would want to make sure that the introduction page is excluded from the reload check to avoid a double request.

## Task

[2022-11-07 22:02] batemapf opened #49407 "Request access to Google Analytics for Jen Chapin"
# Request Google Analytics and/or Domo access

## What this form is for
Use this template to request access to Google Analytics and/or Domo. Please complete steps 1 & 2 below.

## 1. Access Requirements
Please check the analytics tool(s) you need access to:
- [x] Google Analytics
- [ ] Domo
- [ ] (Platform Teams only) BigQuery

## 2. User Email Address to Receive Access
**Due to privacy concerns,

[2022-11-07 22:03] tpharrison opened #49408 "BE | Profile | Direct Deposit Info Unmasked"
### Background
The My-Education Benefits team needs to retrieve direct deposit information for one of their forms so it can be submitted for claims processing.

Similar to how the Profile Comp & Pen page works:
- The user's DD info will need to masked on the FE form.
- The user can change the DD info by entering new information.

When the form is submitted to the vets-api...
- If the user did not

[2022-11-07 22:13] TiffanyPender commented on #43860
Other than the [listed outstanding accessibility issues](https://app.zenhub.com/workspaces/benefits-team-1-6138d7b57a2631001a4b7562/issues/department-of-veterans-affairs/vets-website/22576), is there a completed accessibility TestRail template available for the upcoming staging review?
cc: @shiragoodman

[2022-11-07 22:20] #49122 closed

[2022-11-07 22:31] jacobworrell commented on #43860
HI there @TiffanyPender we did a lot of testing in TestRails, but this was our first time using the tool, so I discovered after a lot of testing that we didn't use the "Test Plan" feature.

But you can see the tests we ran in the Overview section. So far every test ran is related to this new feature: https://dsvavsp.testrail.io/index.php?/projects/overview/59

Sorry if I missed this up, I just did

[2022-11-07 22:47] brianseek commented on #42562
@loripusey This ticket can be closed. The data persistence work solves this.

[2022-11-07 22:49] brianseek commented on #47830
this is a duplicate ticket. closing

[2022-11-07 22:49] #47830 closed

[2022-11-07 22:50] shanemelliott commented on #49203
![image.png](https://images.zenhubusercontent.com/5fb2cc990446ae1e7ea9453b/5ba329cf-0987-41a9-9aaa-a382230873c5)

[2022-11-07 22:51] jhouse-solvd commented on #33081
**UPDATE 11/7/22**

We aim to provide an excellent for teams using the platform's monitoring tools. To do this, we're working w/ the Platform Service Design team to understand the monitoring needs of VFS developers (and use cases).

The Service Design team will help us to perform discovery research that we hope will provide valuable insights. From there, we'll look to onboard select users to Datad

[2022-11-07 22:51] brianseek commented on #47829
@loripusey this is only for day-of. The data fetching architecture of the two apps are pretty different, so this scope didn't extend to pre-check-in. I did create a ticket to do similar work on pre-check-in though: https://app.zenhub.com/workspaces/check-in-experience-61fc23a2cb8a14001132e102/issues/department-of-veterans-affairs/va.gov-team/49406

[2022-11-07 22:53] SrfFshn opened #49409 "Platform Orientation Template James Tanner"
## Welcome and Introduction
Welcome to the Veteran's Administration (VA) Veteran Facing Services (VFS) team!
As a new VFS team member, you will be working in the web ecosystem we call the VA.gov Platform (or "**The Platform,**" for short).  The tasks on this list are designed to get you up to speed on the role of Platform, making it easier for you to do your job.

Because the VA is a huge organiza

[2022-11-07 22:56] brianseek commented on #48721
Judging from other similar strings, it could be as simple as turning the `,` to a `.` then capitalizing the next word to start a new sentence, but I didn't want to make assumptions on the other languages.

[2022-11-07 23:00] bramleyjl commented on #48014
Confirmed `credential_uuid` and CSP `type` are present in SignIn::AttributeValidator logs
https://vagov.ddog-gov.com/logs?query=AttributeValidator&cols=host%2Cservice&event=AQAAAYRUPG5pr3yVVAAAAABBWVJVUElDMUFBRDVfc0tHS251ZnhnQUg&index=&messageDisplay=inline&stream_sort=time%2Cdesc&viz=stream&from_ts=1667858261452&to_ts=1667861861452&live=true

[2022-11-07 23:00] #48014 closed

[2022-11-08 00:20] japui-coder commented on #47970
AWS access for [individual] #47970

[2022-11-08 00:24] starlow00 commented on #49352
@SKasimow, it looks good, no changes. I sent to VEO for review.

[2022-11-08 00:44] RLHecht commented on #41493
@megzehn Danielle got approval from John that these are good to go. Can you please prioritize copyediting these tomorrow morning so we can send back to the stakeholders tomorrow? Thank you!

[2022-11-08 01:02] kylesoskin opened #49411 "Supplemental Claims Task | Create backend script to simulate staging submission"
This will do everything the backend will do, in staging, and simulate a staging submission, so that we can easily submit and then monitor the submission with the Central Mail / MAS people.

It is mostly done (use portions of it previously for other testing)

[2022-11-08 01:02] kylesoskin opened #49412 "Supplemental Claims Task | Create backend script to simulate staging submission"
This will do everything the backend will do, in staging, and simulate a staging submission, so that we can easily submit and then monitor the submission with the Central Mail / MAS people.

It is mostly done (use portions of it previously for other testing)

[2022-11-08 02:03] #46089 closed

[2022-11-08 02:03] nfstern02 commented on #46089
Onboarding completed for backend engineer

[2022-11-08 03:56] tmitchellgcio commented on #48382
@ajakabcin should I close this one?

[2022-11-08 11:33] andaleliz commented on #48437
That's ok, no worries. A few questions/thoughts:

1. There's a couple of points where you reference a modal, but there isn't a modal in this UX.  Just want to be sure the events you looked at did NOT say "modal" anywhere in them? I think they're usually tagged.

2. I'm having a hard time making sense of these numbers (possibly because I have not yet finished my coffee). A person should only see th

[2022-11-08 13:27] steel36 opened #49413 "Team members: Review first draft of Mapping Intake process"
## Issue Description
Review the draft that was assembled to described the process for a potential Mapping Intake request

From A= a user thinks they might need some mapping done, to K= the required information has been submitted, to Z = the SDT team has prioritized this work.

Note: Explanation of A is out of scope, just that it exists.

[Draft](https://vfs.atlassian.net/wiki/spaces/SDT/pages/2424

[2022-11-08 13:27] #48793 closed

[2022-11-08 13:28] ph-One opened #49414 "[DataDog,PagerDuty] Establish Alerting Chain for DD Monitors"
# Description
As a platform engineer I need to know where to send alerts for PagerDuty based on criticality.

# Notes
- All critical incidents go to the PagerDuty Incident Commander

[2022-11-08 13:30] ph-One commented on #49414
Confirmed with @little-oddball that all critical incidents are to be sent to the PagerDuty Incident Commander

[2022-11-08 13:32] robbie1226 opened #49415 "Offboarding of Stephen Ruiz"
# Instructions
Fill out name of individual and *Description* section below.

*(Please add only one individual per form)*

# Description
Please provide the following information about the individual being offboarded:
- name:

- team name:

- role on team:

- expected last day: _(MM/DD/YYYY)_

- company they work for:

- email: _(Multiple emails listed in order of relevance to VA business, VA, Compa

[2022-11-08 13:34] ph-One opened #49416 "[Ops] Update fwdproxy-vagov-prod.yml"
Collaborating with Lighthouse to figure out their Cookie situation

Update fwdproxy-vagov-prod.yml
https://github.com/department-of-veterans-affairs/devops/pull/12106

[2022-11-08 13:34] ph-One opened #49417 "[Ops] Update fwdproxy-vagov-prod.yml"
Collaborating with Lighthouse to figure out their Cookie situation

Update fwdproxy-vagov-prod.yml
https://github.com/department-of-veterans-affairs/devops/pull/12106

[2022-11-08 13:35] #42562 closed

[2022-11-08 13:37] #47829 closed

[2022-11-08 13:46] robbie1226 commented on #49415
/request Stephen Ruiz

[2022-11-08 13:47] ph-One opened #49418 "[Ops] Weighted Traffic Between Vets-API BRD and EKS"
Weighted Traffic Between Vets-API BRD and EKS  eks-moveVets API move to EKS/k8s
Devops PR #12077 by ph-One was merged 26 days ago

[2022-11-08 13:49] #49418 closed

[2022-11-08 13:49] ph-One opened #49419 "[DevOps] Add CoP to Vets-API CODEOWNERS"
Chore: Add CoP to Vets-API CODEOWNERS
DevOps PR #12067 by ph-One was merged 28 days ago

[2022-11-08 13:50] #49419 closed

[2022-11-08 13:52] ph-One opened #49420 "[DevOps] Update CODEOWNERS for Console Services"
Update CODEOWNERS
DevOps PR #12066 by ph-One was merged 28 days ago

[2022-11-08 13:52] #49420 closed

[2022-11-08 13:53] ph-One opened #49421 "[DevOps] fix(vets-api-worker,prod): Increase Instance Size"
fix(vets-api-worker,prod): Increase Instance Size
DevOps PR #12216 by ph-One was merged 1 hour ago

Based on Datadog analysis

[2022-11-08 13:53] #49421 closed

[2022-11-08 13:54] ph-One opened #49422 "[DevOps] chore(codeowners): Add DevOps CoP as absolute owners"
chore(codeowners): Add DevOps CoP as absolute owners
DevOps PR #12170 by ph-One was merged 23 hours ago

[2022-11-08 13:54] #49422 closed

[2022-11-08 14:00] ph-One opened #49423 "[Datadog] Increase Sidekiq Queue Monitor Sample to 5m from 1m"
chore(datadog,monitor): Increase Sidekiq Queue Monitor Sample to 5m from 1m
DevOps PR #12167 by ph-One was merged 11 days ago

Based on review of existing monitors and system behavior

[2022-11-08 14:00] #49423 closed

[2022-11-08 14:01] vbellissimo opened #49424 "Review new Git Hub page"
Tasks:

- [x] Review this new page created in the drafts space: https://vfs.atlassian.net/wiki/spaces/PWD/pages/2422046857/GitHub+Tips
- [x] Provide content editor (Naomi Marcussen) with any feedback, recommendations or questions you may have for them within this ticket.

Notes:

- This page is "targeted to researchers using GitHub for the first time when writing research documents."

- Reference

[2022-11-08 14:05] lkoenigsberg commented on #46192
Leah's working doc: https://docs.google.com/document/d/1NT0RmiATgsstCG6zs69ffPW2IiK71_s67qBUetyYDAA/edit?usp=sharing

[2022-11-08 14:05] joshkimux commented on #47242
@jaredcunha sorry for coming back to this so late 🙇

When transfer the focus to the tab content area, should it be the entire containing div? Should that container have an accessible name that matches the tab? Or should we add a visible heading and transfer focus to that (which is a minor visual design tweak)?

The latter will likely be more intuitive to screen reader users. I believe (from my gol

[2022-11-08 14:11] ph-One opened #49425 "[Ops] Increase Worker Instance Size"
fix(vets-api,dev): Increase Worker Instance Size
DevOps PR #12157 by ph-One was merged 12 days ago

Based on Datadog analysis

[2022-11-08 14:11] #49425 closed

[2022-11-08 14:14] mchristiansonVA commented on #49124
Thanks very much!

[2022-11-08 14:15] ph-One opened #49426 "[Ops] fix(unbound): Increase Instance Size"
fix(unbound): Increase Instance Size
DevOps PR #12156 by ph-One was merged 13 days ago

Based on Datadog analysis

[2022-11-08 14:15] #49426 closed

[2022-11-08 14:15] benbrasso-agile6 commented on #49400
@brianseek do you have a screenshot of the existing message?

[2022-11-08 14:28] ericasauv09 commented on #48437
@andaleliz

1. You are correct, the events do not say "modal" that was just my wording, sorry for the confusion - this is the event I am referring to in GA: "Navigation - Alert Box - Link Click - warning - We don't have your mobile phone number - (not set) -  Add a mobile number to your profile"

2. I thought that was odd as well so I tested it with my own account and if you navigate to the Notf S

[2022-11-08 14:30] loripusey commented on #46650
@zach-park is this ticket still needed since we just recently updated the Needs Help section?
cc: @benbrasso-agile6

[2022-11-08 14:30] #49212 closed

[2022-11-08 14:34] loripusey commented on #49070
@ytsaoca @benbrasso-agile6 have we scheduled this yet?

[2022-11-08 14:34] benbrasso-agile6 commented on #46650
Ya-ching had some findings from the spanish research study that could warrant some improvements. I would keep this in the backlog. Moving forward, it's less about an audit and more about improvements. It's a carryover from [this ticket](https://app.zenhub.com/workspaces/check-in-experience-61fc23a2cb8a14001132e102/issues/department-of-veterans-affairs/va.gov-team/48394).

[2022-11-08 14:36] benbrasso-agile6 commented on #49070
Not yet. Working out some decisions for the wireframes. But, I'll get on it.

[2022-11-08 14:39] loripusey commented on #46650
ok, thanks, I'm assuming we should wait until Ya-Ching is back from being out to pull in

[2022-11-08 14:40] joshkimux commented on #41697
@jacobworrell , some updates here as promised ❇️
- I've removed this as a `defect-2`
- I've split this wicked ticket apart into smaller issues to be addressed
  - The larger IA issues need a little love. I left ideas on how we can push forward there.
  - The other issues related to keyboard navigation are in the works ✨ I've attached the tickets that will resolve them here.

Let me know if there's

[2022-11-08 14:47] RLHecht opened #49427 "Spanish translation for PACT Act toxic exposure screening Q&A"
## Issue Description
We recently added a new Q&A to the [PACT Act](https://www.va.gov/resources/the-pact-act-and-your-va-benefits/) article about toxic exposure screenings at VA. We need to get this content translated in Spanish and added to the Spanish version of the page.

Word doc sent to translators: [https://app.zenhub.com/files/133843125/4efe93fd-2eab-43df-8428-fbb9532e8557/download](https:/

[2022-11-08 15:07] allison0034 opened #49429 "Design Intent - Design Feedback - Public Websites, Find-a-form, PDF Certificate Alert initiative"
## VFS acceptance criteria
- [ ] Let Platform know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
- No real feedback. The content will drive what style of alert you need. You could also consider the [expandable alert](https://design.va.gov/components/alert-expandable) if this me

[2022-11-08 15:11] #48432 closed

[2022-11-08 15:12] ericasauv09 commented on #47523
1. Validated no healthcare scenario with user 10: ![Screen Shot 2022-11-08 at 10.03.18.png](https://images.zenhubusercontent.com/62571b850845ac72a9917e8e/0da40dcf-c523-4397-96fe-ec673ae8dc8e)

2. Validated user with an appointment with user Judy Morrison: ![Screen Shot 2022-11-08 at 10.05.35.png](https://images.zenhubusercontent.com/62571b850845ac72a9917e8e/4e9ef09c-bf17-4da9-83d3-90ea1937aa6f)

3

[2022-11-08 15:20] michelle-dooley commented on #49354
Access provided.

[2022-11-08 15:20] #49354 closed

[2022-11-08 15:20] ATMiddleton opened #49430 "Engaging Task Completion Percentages"

[2022-11-08 15:21] shiragoodman opened #49431 "Design Intent - Public Websites - Find-a-form - PDF certificate alert"

[2022-11-08 15:22] #49431 closed

[2022-11-08 15:22] #48106 closed

[2022-11-08 15:22] kellysmith1008 commented on #48106
Published guides in git. Closing the ticket

[2022-11-08 15:24] #47523 closed

[2022-11-08 15:25] annekerr49 commented on #38447
@steel36  Bryan  we are trying to increase the information available to those persons who monitor this board. To that end we are asking that open items updated monthly as to any changes. For our interested colleagues. Please let me know if you have any questions.

[2022-11-08 15:27] benbrasso-agile6 commented on #48106
nice

[2022-11-08 15:31] TiffanyPender commented on #43860
Perfect, thank you @jacobworrell! Can you please add in your TestRail link to the Staging Review artifacts?

[2022-11-08 15:35] bevnobev opened #49432 "Request access to Google Analytics and/or Domo"
# Request Google Analytics and/or Domo access

## What this form is for
Use this template to request access to Google Analytics and/or Domo. Please complete steps 1 & 2 below.

## 1. Access Requirements
Please check the analytics tool(s) you need access to:
- [ ] Google Analytics
- [x ] Domo
- [ ] (Platform Teams only) BigQuery

## 2. User Email Address to Receive Access
**Due to privacy concerns,

[2022-11-08 15:36] shiragoodman opened #49433 "Publish and announce QA Standards to VFS teams"
## User Story
As a VFS team member, I want to be made aware of the new QA Standards so that I can ensure my team is meeting the standards when they are enforced in Staging Review.

Assignee: @it-harrison
Peer Reviewer: @sterkenburgsara

## Description
OCTO approved the [Proposed Changes to QA Standards](https://vfs.atlassian.net/wiki/spaces/PPST/pages/2403237889/Proposed+Changes+to+QA+Standards),

[2022-11-08 15:42] ATMiddleton opened #49434 "Empower VSF Teams to Improve Task Completion Scores"
## Issue Description
_Identify and engage VSF teams in short-term partnership providing relevant feedback from VA.gov users to improve task completion scores ---
## Tasks
-[Identify 3 teams with the lowest task completion percentage scores]
-[reach out to them and start a short-term partnership and provide task completion score data]

## Acceptance Criteria
[Notification and deliverance of relevan

[2022-11-08 15:44] stephenruiz3000 opened #49435 "Offboarding of [individual]"
# Instructions
Fill out name of individual and *Description* section below.

*(Please add only one individual per form)*

# Description
Please provide the following information about the individual being offboarded:
- name:

- team name:

- role on team:

- expected last day: _(11/07/2022)_

- company they work for:

- email: _(Multiple emails listed in order of relevance to VA business, VA, Compa

[2022-11-08 15:49] ianhundere commented on #49415
can't find him anywhere

[2022-11-08 15:51] shiragoodman commented on #48617
@it-harrison how is the rough draft of the  "How to complete a QA review for Staging Review" going? Please connect with @CherylEvans to get this done. As a reminder, we only need a rough version put together - we will come back to this guidance in a later sprint and revise so don't feel any pressure now to get it 100% right.

[2022-11-08 15:54] it-harrison commented on #48617
@shiragoodman I completed a draft yesterday and pinged Cheryl. She has given me some feedback already and may give more I think.

[2022-11-08 15:57] it-harrison commented on #48617
@shiragoodman [here is a link to the draft](https://vfs.atlassian.net/wiki/spaces/PPST/pages/2428010558/How+to+complete+a+QA+review+for+Staging+review+touchpoint).

[2022-11-08 16:03] shiragoodman commented on #48617
@it-harrison thank you! This is great so far. Because this is an Operational doc, we can move it over to the Platform Products and Services folder once you and Cheryl are done reviewing/making changes. @CherylEvans can help you with the location.

Please try and have this closed out by EOD today.

[2022-11-08 16:06] brianseek commented on #48721
@loripusey makes sense, I'll make that update. How do you feel about doing that with Tagalog? We have this sentence in there `We’re sorry. We couldn’t match your information to our records. Please ask a staff member for help.` and it translates to `Paumanhin. Hindi namin maitugma ang iyong impormasyon sa aming mga rekord. Mangyaring humingi ng tulong sa isang staff member.`

Seems like `Paumanhin.

[2022-11-08 16:09] jacobworrell commented on #43860
@TiffanyPender sure thing. I had previously already included a link to TestRails test cases in the QA section, but I added a link to the "Overview" in case it's more helpful.

[2022-11-08 16:10] SKasimow opened #49436 "FE | Profile | Notification Settings | Create Feature Flag for New Mobile Flow"
## Background

As part of the effort to improve the experience of adding a mobile number for users setting up their Notification preferences, we need to create a feature toggle in support of the new page and new flow.

## Tasks
- [ ] Create feature flag in support of the upcoming change in Notification settings/mobile number
- [ ] Implement at 100% to prevent this from showing in prod
- [ ] Smoke

[2022-11-08 16:11] bramleyjl commented on #48860
Confirmed I have production access to vets-api in production

[2022-11-08 16:11] bramleyjl commented on #48860
Confirmed I have production access to vets-api in production

[2022-11-08 16:12] megzehn commented on #41493
Hi @RLHecht! These pages are copy edited.

http://preview-prod.vfs.va.gov/preview?nodeId=488
- New note for Vets outside U.S. on VHIC page, with link to new single Q&A
http://preview-prod.vfs.va.gov/preview?nodeId=50666
- New single Q&A which will appear on [this page](http://preview-prod.vfs.va.gov/preview?nodeId=8233)
And a slight change to a question within the verifying page
    --[ ](https://

[2022-11-08 16:15] ericasauv09 commented on #48705
validated with user Judy Morrison: ![Screen Shot 2022-11-08 at 11.13.58.png](https://images.zenhubusercontent.com/62571b850845ac72a9917e8e/a3d81db2-6154-4f4b-a295-17e9f03868ce)

[2022-11-08 16:22] #49263 closed

[2022-11-08 16:23] benbrasso-agile6 opened #49437 "Should KPI dashboards extend to other platforms outside of Domo?"
### Description

Should "4. Does your product/feature have Google Analytics tracking and a KPI dashboard in Domo?" consider to include a KPI dashboard in Google Analytics or other platforms? For example, our application has dashboards within Domo, Google Analytics and DataDog.

There's probably a rationale for mentioning Domo explicitly, but I figured I would pose the question.

### Relevant URLs

[2022-11-08 16:25] benbrasso-agile6 opened #49438 "Collaboration Cycle for Modernized Check-In, Patient Check-In, Simplified Header & Footer and Progress Bar - Segmented"
### If your product is already on VA.gov, please verify your product information in the Product Directory.

- [X] The product information in the Product Directory is accurate.

### VFS team name

Modernized Check-In

### Product name

Patient Check-In

### Feature name

Simplified Header & Footer and Progress Bar - Segmented

### GitHub label for product

HCE-Checkin

### GitHub label for feature

[2022-11-08 16:27] shiragoodman opened #49439 "QA Orientation session - November 2022"
## Issue Description
Hosted the QA Orientation Session for VA.gov Platform on 11/17/2022

---
## Tasks
- [ ] Host the session and answer any questions that come up.

## Acceptance Criteria
- [ ] We have provided a QA Orientation session for VA.gov Platform for November 2022.

[2022-11-08 16:28] ericboehs opened #49440 "Make Vets API Status Available Extenrally"
VFS and other external teams would benefit from an external status page.

## Acceptance Criteria

TBD

## Additional Contexts

- [Slack Thread](https://oddball.slack.com/archives/C0498A63YGM/p1667918995334759)

[2022-11-08 16:33] CherylEvans commented on #48617
@it-harrison @shiragoodman I will help Ian with the location.  It looks good for now, but definitely will need to reflect the actual QA methodology used for touchpoint reviews. I understand it's a work in progress.

[2022-11-08 16:33] benbrasso-agile6 commented on #49070
[Created collab cycle ticket](https://github.com/department-of-veterans-affairs/va.gov-team/issues/49438)

[2022-11-08 16:40] RLHecht opened #49441 "[Sprint 87] Sitewide Content and IA intake requests from product teams"
This epic is to track the content requests that come from product teams during Sprint 87 (11/16-11/129).

[2022-11-08 16:41] RLHecht opened #49442 "Sprint 87 stakeholder requests for SItewide Content and IA"
This epic is to keep track of all the stakeholder requests that come in during Sprint 87.

[2022-11-08 16:43] aagosto90 commented on #48706
Link to updated [FE documentation](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/my-va/2022-audit/documentation/LOA1-state-FE-documentation.md) and [Sketch file](https://www.sketch.com/s/9b0e6efc-423a-4354-9db3-ab2083d566c9/a/uuid/32BCF55D-35A5-4A17-9F37-3DCA903B7A50).

[2022-11-08 16:46] vbellissimo opened #49443 "KPI dashboards: Content suggestions"
Support ticket: https://github.com/department-of-veterans-affairs/va.gov-team/issues/49437

Tasks:

- [x] review the customer request/suggestion
- [x] document a recommendation
- [x] reach out to SME

[2022-11-08 16:47] holdenhinkle opened #49444 "KMS Key Rotation - 1. Research"
ticket details to come...

## Issue Description
_What details are necessary for understanding the specific work or request tracked by this issue?_

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this b

[2022-11-08 16:50] holdenhinkle opened #49445 "KMS Key Rotation - Solutioning"
## Issue Description

We are working on automating the KMS key rotation annually. As we progress, we need to find effective solutions to address some challenges that include dealing with potential job failures, distributing table records among Sidekiq workers, and navigating the nuances of AWS KMS key rotation.

## Tasks

- [x] Draft a strategy for managing potential job failures that allows us to

[2022-11-08 16:50] holdenhinkle opened #49446 "KMS Key Rotation - 2. Solutioning"
ticket details to come...

## Issue Description
_What details are necessary for understanding the specific work or request tracked by this issue?_

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this b

[2022-11-08 16:50] ianMcCullough-ob commented on #48646
Working with Sarkis on adding the Word Cloud module to the reports. This searches for word frequency and adds sentiment to it (good, bad, neutral). Will, hopefully, be able to filter by term and URL as well.

[2022-11-08 16:51] holdenhinkle opened #49447 "KMS Key Rotation - Implementation (phase 1)"
## Issue Description

Following the completion of the solutioning phase for the annual KMS key rotation, we are now ready to implement the strategies devised. This involves the execution of the job failure strategy, setting up the record distribution among Sidekiq workers, enabling automatic key rotation in AWS, and potentially incorporating Sidekiq Batches.

## Tasks

- [x] Implement the strategy

[2022-11-08 16:53] #49438 closed

[2022-11-08 16:53] vbellissimo commented on #49443
Hi @shiragoodman . We received a content suggestion related to the Collaboration Cycle content. The original request is here: https://github.com/department-of-veterans-affairs/va.gov-team/issues/49437

On [this page](https://depo-platform-documentation.scrollhelp.site/collaboration-cycle/collaboration-cycle-kickoff) and [this form](https://github.com/department-of-veterans-affairs/va.gov-team/issu

[2022-11-08 16:54] TiffanyPender commented on #43860
Ok, got it! I was looking specifically at accessibility. Thanks for noting that, @jacobworrell.

[2022-11-08 16:55] it-harrison commented on #49439
@shiragoodman one thing I need to do before the next orientation is to get myself assigned as the host of the session's zoom meeting (last time Peter had to start the meeting and was unable to transfer the host designation to me). Do you know who I can talk to about switching this?

[2022-11-08 17:01] Cmjones233 commented on #47850
fixed and reviewed with Justin

[2022-11-08 17:01] Cmjones233 commented on #49306
added and closing

[2022-11-08 17:01] #49306 closed

[2022-11-08 17:02] Cmjones233 commented on #49305
fixed and updated

[2022-11-08 17:02] #49305 closed

[2022-11-08 17:04] Cmjones233 commented on #47876
all dashboards exportable and closed

[2022-11-08 17:04] #47876 closed

[2022-11-08 17:04] Cmjones233 commented on #48522
reviewed

[2022-11-08 17:04] #48522 closed

[2022-11-08 17:09] ph-One opened #49448 "[Ops] chore(vets-api): Increase Sandbox Instance Size"
chore(vets-api): Increase Sandbox Instance Size
DevOps PR #12154 by ph-One was merged 13 days ago

[2022-11-08 17:09] #49448 closed

[2022-11-08 17:11] RLHecht commented on #48033
These are all live. Closing ticket.

[2022-11-08 17:11] #48033 closed

[2022-11-08 17:13] ph-One opened #49449 "[Ops] chore(prometheus): Bump Sandbox Prometheus to r5.xlarge"
chore(prometheus): Bump Sandbox Prometheus to r5.xlarge
DevOps PR #12147 by ph-One was merged 14 days ago

[2022-11-08 17:14] ph-One opened #49450 "[DevOps] fix!(lighthouse): Enable cookies for Lighthouse APIs"
fix!(lighthouse): Enable cookies for Lighthouse APIs
DevOps PR #12132 by ph-One was merged 19 days ago

Was a good amount of back and forth communication/testing with Lighthouse

[2022-11-08 17:14] #49450 closed

[2022-11-08 17:16] CherylEvans commented on #49438
Duplicated in error.

[2022-11-08 17:18] ph-One opened #49451 "[DevOps] Migrate Expiring Certs from Credstash to Parameter Store"
There were many references to update. This impacted all environments and required new rollouts of revproxy, fwdproxy, vets-api server, and vets-api worker.

chore(evss): Dev,Staging. Migrate from credstash to parameter store
DevOps PR #12125 by ph-One was merged 20 days ago

chore(evss): Staging. Migrate from credstash to parameter store
DevOps PR #12124 by ph-One was merged 20 days ago

chore(evs

[2022-11-08 17:18] #49451 closed

[2022-11-08 17:20] jhouse-solvd commented on #49260
Suggest that we add this to a broader epic that includes reviewing existing documentation _and_ investigating the best approach to documentation:

Investigate monitoring and alerting documentation - We want to review existing documentation and explore Datadog features that provide contextual information about metrics and graphs. The goal is to ensure that operators have the information they need t

[2022-11-08 17:22] michelle-dooley commented on #49435
No Domo or GA.

[2022-11-08 17:25] tpharrison commented on #43996
https://dsva.slack.com/archives/C5AGLBNRK/p1667927261785969

[2022-11-08 17:26] michelle-dooley commented on #49432
Access granted.

[2022-11-08 17:26] #49432 closed

[2022-11-08 17:26] #49001 closed

[2022-11-08 17:28] tbaker1026 commented on #49393
Parsed over 100 forms [Document](https://docs.google.com/spreadsheets/d/1J9I-0xPuUUqMZzIfNjqid93vWrvpOCGVERoKYqblcCk/edit#gid=0)

[2022-11-08 17:28] tbaker1026 commented on #49393
Started auditing sections and field names - [Document](https://docs.google.com/spreadsheets/d/1SreqZ2fwi6eCaFsUNq1n3lwuHXYyV7GMHwIIW6e7xfM/edit#gid=1158359287)

[2022-11-08 17:32] #49407 closed

[2022-11-08 17:34] taylojill commented on #49424
Hi @naomimarcussen I reviewed the page and added inline comments. Please review and let me know if you have any questions. Thank you!
cc @vbellissimo

[2022-11-08 17:34] michelle-dooley commented on #49329
Access granted.

[2022-11-08 17:35] jhouse-solvd opened #49452 "[UX] Develop lean UX canvas and internal platform customer types"
## Description
We will develop artifacts that help the team understand how platform operators will use and benefit from the platform’s centralized monitoring and alerting solution.

## Background
Various types of users use the platform's centralized logging and monitoring solution. To drive quality experiences, we need to articulate users, activities, and tasks.

## Acceptance Criteria
- [x] Lean

[2022-11-08 17:35] #49329 closed

[2022-11-08 17:37] michelle-dooley commented on #49326
Access provided.

[2022-11-08 17:37] #49430 closed

[2022-11-08 17:38] #49326 closed

[2022-11-08 17:41] michelle-dooley commented on #49318
Access was granted to the gmail account.  I cannot add the va.gov address b/c it is not linked to a google account.  If you want that too you need to complete the link in the "Please note" section under step 2.

[2022-11-08 17:43] cgednalske commented on #48990
Hi @Samara-Strauss and @SKasimow - just wanted to check back in on this. Any thoughts on the condensed version above using only links? Thanks!

[2022-11-08 17:55] loripusey opened #49453 "Hold a 3-Day Design Sprint to Brainstorm Problems to Solve"
## Tasks
- Hold a 3 (half-day) design sprint (Lori to set up)
   - What is the original problem to solve
   - What are our concerns with the proposed solution
        - Lots of text messages sent to Vets
        - Vets are confused by the difference between Pre-Check-in and Check-in
   - What is our problem to solve now
   - What ideas do we have to solve it
   - What do the solutions look like

[2022-11-08 17:55] RLHecht commented on #43901
I added this widget to the [eligibility page](https://www.va.gov/housing-assistance/home-loans/eligibility/) too, where we currently have an action link to eBenefits. Both of these pages are ready to publish when the product team gives us the go-ahead.

[2022-11-08 17:58] PHeb0220 commented on #49388
Carlos and I have access now.  Can you please add Devinder Rajput with the same access also... his handle is DevinderR  He has been in training this week.

[2022-11-08 17:59] ATMiddleton opened #49454 "Enhance VSF Team Task Completion Percentages"
## Issue Description
_To engage multiple VSF teams and share relevant data regarding task completion percentages

---
## Tasks
- Identify 3 teams with the lowest task completion scores
- Initiate short-term partnership with the teams and provide relevant data
- Assist the teams with increasing task completion scores

## Acceptance Criteria
- Identified teams are in receipt of relevant data
-
---
#

[2022-11-08 18:02] #47984 closed

[2022-11-08 18:05] CBonade commented on #48996
https://docs.google.com/spreadsheets/d/1sR_TM6EtAUx7f_-Q5M8aNoqmAlFfr_LmL3Cfi95w9Ks/edit#gid=0

Here's all documented uses we have on record of review instances that have been launched with custom branch setups. There's a total of 2 users: Josh Mills and Mark Dewey.

[2022-11-08 18:05] jhouse-solvd opened #49455 "[UX] Develop lean ux canvas"
## Description
The "Lean UX Canvas gives you the big picture of what you are building, why you are building it, and for whom you are building it."

## Background/context
We'll use a mural board to walk through the major areas of the business case, problem space, users, and solution approach to what we're building.

This will be a fun and engaging mini-workshop that helps us to take a step back and

[2022-11-08 18:08] laurwill commented on #41493
Thanks Megan! I sent the VHIC page and the single Q&A to stakeholders for approval, and just noted that we'll add that Q&A to the Verifying FAQ as well.

[2022-11-08 18:18] lihanli opened #49456 "[BE] remove mulesoft v1 api code"
Remove mulesoft v1 api code. Only mulesoft v2 api is being used now.

[2022-11-08 18:24] #48998 closed

[2022-11-08 18:24] pjhill commented on #48998
Thanks for this! We have a great baseline understanding of the cost of review instances to go with our other success metrics now. This is great information for making all sorts of decisions about behaviors and user experiences!

[2022-11-08 18:26] clantosswett commented on #48653
@Kimberley2019 I reviewed the document. It looks great! I made some comments so feel free to reach out if you have questions.

[2022-11-08 18:26] lihanli commented on #49242
blocked by https://github.com/department-of-veterans-affairs/va.gov-team/issues/49242
completing #49242 will make this issue a lot easier

[2022-11-08 18:28] #47493 closed

[2022-11-08 18:29] ericasauv09 commented on #48812
validated with user 36: ![Screen Shot 2022-11-08 at 13.28.11.png](https://images.zenhubusercontent.com/62571b850845ac72a9917e8e/777f3885-47b2-429d-94ae-bddd65aaff0e)

[2022-11-08 18:30] loripusey commented on #48721
Seems correct according to an on-line translator.
![image](https://user-images.githubusercontent.com/86678742/200646322-9fee8ae1-ed9b-4cf5-bd5b-77961a065c95.png)

[2022-11-08 18:32] brianseek commented on #48721
ok, I'll add that update too!

[2022-11-08 18:34] loripusey opened #49457 "[UX] Hold Design Intent Review"
## Tasks
- Hold Design Intent Review & document findings

[2022-11-08 18:35] ajakabcin commented on #48382
@tmitchellgcio sorry yes - all good here. I'll close now

[2022-11-08 18:35] #48382 closed

[2022-11-08 18:36] steel36 opened #49458 "Draft a structure for Workshops w/ teams"
Because this will be a continual need, it would serve us well to create a structure for our workshop sessions with teams.

Scope:  this refers to workshops where we are calling a meeting to present findings or recommendations, or probe for further information after review of a matter.

[2022-11-08 18:37] SKasimow commented on #49436
@adamwhitlock1 - here's the first of 3 tickets we discussed yesterday. Please review and lmk if I need to make any changes or additions. Thanks!

[2022-11-08 18:41] it-harrison commented on #46963
@CherylEvans this is available for [peer review here](https://vfs.atlassian.net/wiki/spaces/PWD/pages/2429321222/Copy+of+End-to-end+testing+with+Cypress). I added to the paragraph above "Initial Setup"

[2022-11-08 18:44] it-harrison commented on #46963
Hi @pjhill can you take a look [at this page](https://vfs.atlassian.net/wiki/spaces/PWD/pages/2429321222/Copy+of+End-to-end+testing+with+Cypress) and see if my additions address the concerns of this ticket? I added to the paragraph above "Initial Setup"

[2022-11-08 18:46] ericasauv09 commented on #49256
validated with user 11, saw the notification then I blocked the notify URL to trigger the error and reloaded the page and the notification section no longer appeared.

[2022-11-08 18:47] cgednalske commented on #48990
Hi @Samara-Strauss and @SKasimow - another update for this work. I just met with Joni Chan, one of the IA specialists, to talk through the Disability rating and full name additions.

She said that this placement is a bit tricky, but ideally disability rating would go in it's own Disability rating section or health-related section (if at any point health info is added), both because it doesn't feel

[2022-11-08 18:47] SKasimow opened #49459 "FE | Profile | Notification Settings | New Page for Mobile Flow"
## Background

Due to the change in flow when setting up a mobile number for Notification preferences, we will be adding a new page to the flow.

The new URL is : ` /profile/edit/`

## Tasks
- [x] Create new page using the URL ` /profile/edit/`
- [x] Set up new route to house page and generic features
- [x] Set up navigation flow
- [x] Create in-line validation rules
- [x] Link to the following er

[2022-11-08 18:52] laineymajor opened #49460 "Draft release plan"
## Guidance

_This Release Plan Template is intended to help ensure your new Platform product or feature is ready for launch and will deliver the desired user outcomes._
* _In Phase 1, you will test your product to learn how it'll actually be used, what problems it might create, and then fix/adjust if necessary prior to going live._
* _In Phase 2, you will define the launch communications plan and

[2022-11-08 18:53] laineymajor opened #49461 "Review and update GHA for DEV"

[2022-11-08 18:54] laineymajor opened #49462 "HPA scaling on custom metrics for vets-api server and worker for dev"
**PROBLEM STATEMENT**
Current scaling for vets-api server and worker is based on CPU metrics. This form of horizontal autoscaling is not completely accurate based on our current worker and server implementation. We want to scale on more accurate, custom metrics such as queue size and puma backlog so that the pods can autoscale without human intervention. Using a CRD, we can pull in existing Datado

[2022-11-08 18:55] LindseySaari commented on #49461
Step 1: I'm going to integrate the GHA image tag update with our test helm app. Just want to be sure and test that this works so then when we move the parent helm changes into the expected directory, we can just point to the new directory.

[2022-11-08 18:55] benbrasso-agile6 commented on #49070
Design intent meeting scheduled for 21st. Will work on filling out the ticket.

[2022-11-08 18:57] #49147 closed

[2022-11-08 18:58] ericasauv09 opened #49463 "[Bug] Payment Info V2: Duplicate Debts in Debt Card"
## Background
While validating in Staging I found that user 11 and user 81 had duplicate debts listed in their debt card. Screenshots can be found [here](https://dsva.slack.com/archives/C909ZG2BB/p1667933385097749).

We need to remove this duplicate code and validate that the issue was resolved.
## Tasks
- [x] Remove duplicate code
- [x] Validate with users 11 and 81

[2022-11-08 19:02] heyjoni commented on #47723
@ianMcCullough-ob Thanks for clarifying.

I meant for the login error pages to be additional entry points. I think it makes sense to have it on the regular login modal as a starting point and I'm wondering if making it appear (perhaps more prominently) on error pages as well might be valuable to test.

Regarding exit pages, it makes sense to just show the page where people can open a ticket, start

[2022-11-08 19:05] #49256 closed

[2022-11-08 19:06] SKasimow opened #49464 "Design | Profile | New Edit Sub-task page | Error States Mocks"
## Background

As part of the upcoming changes to the Notification settings/ add mobile # flow, we plan to introduce a new page for editing; this will eventually support other types of editing within the Profile.

As a next step, we'll need to identify the error conditions that may occur on this new page beginning with the changes to the notification settings/add mobile # flow and create mocks in

[2022-11-08 19:07] tlei123 commented on #48812
Validated across supported devices/browsers.

[2022-11-08 19:07] #48812 closed

[2022-11-08 19:08] steel36 opened #49465 "Create detailed draft of Guide for the mapping process"
## Issue Description
Document the mapping process, drafting the specific steps involved

Should result in an internal guide that a SDT member can follow.

Practical by Design [SB Process tips](https://vfs.atlassian.net/wiki/spaces/SDT/pages/2431746066/Nice+Breakdown+of+SB+process+from+Practical+by+Design)

NNG SB Course [notes](https://docs.google.com/document/d/16UT5GysDO6-4Mx2dXQkVBctLpN5_QkLxTj

[2022-11-08 19:12] CherylEvans commented on #46963
@it-harrison Your introductory paragraph was good, but it was written in passive voice.  In accordance with VA Standards we always write in active voice.  I rewrote it in active voice without changing the meaning or content.  I have replaced your text with the new active voice text.  Please take a look and let me know what you think.  :-)

[2022-11-08 19:12] #44501 closed

[2022-11-08 19:16] brianseek commented on #48721
@loripusey / @zach-park This is merged and will be ready to validate shortly. See screenshot below as well:![Screen Shot 2022-11-07 at 2.43.32 PM.png](https://images.zenhubusercontent.com/61523b5b9d354750f04823db/73934027-a37c-4442-9663-30c851c6e7c0)

[2022-11-08 19:19] RLHecht commented on #48796
This work is complete. Closing

[2022-11-08 19:21] RLHecht commented on #48796
Keeping in validate until we implement the IA.

[2022-11-08 19:28] loripusey opened #49466 "[UX] Update Product Guides for Bug Change"
## Tasks
Update screenshots in the product guide for the change made in this bug ticket:
[Bug Ticket](https://github.com/department-of-veterans-affairs/va.gov-team/issues/48721)

[2022-11-08 19:29] CBonade commented on #48996
https://vfs.atlassian.net/wiki/spaces/TT4/pages/2428764373/Review+Instances+Custom+Setup+Use+Cases Ongoing confluence page to track the responses from the users. Messages have been sent to both,

[2022-11-08 19:45] shiragoodman commented on #49409
All Platform tasks complete.

_Hi, Jay!_

[2022-11-08 19:46] BillChapmanUSDS opened #49467 "Request access to Google Analytics and/or Domo"
# Request Google Analytics and/or Domo access

## What this form is for
Use this template to request access to Google Analytics and/or Domo. Please complete steps 1 & 2 below.

## 1. Access Requirements
Please check the analytics tool(s) you need access to:
- [X] Google Analytics
- [X] Domo
- [X] (Platform Teams only) BigQuery

## 2. User Email Address to Receive Access
**Due to privacy concerns,

[2022-11-08 19:47] shiragoodman commented on #49123
@Kate-Buker I believe this is a duplicate of ticket #47433. If so, please close. FYI @michelle-dooley

[2022-11-08 19:48] shiragoodman commented on #49066
All Platform tasks complete.

[2022-11-08 19:48] SKasimow opened #49468 "FE | Profile | Design System | React RadioButtons Deprecated"
## Background

We are currently using the old component on the Notification settings page and will need to update:

## Tasks
- [x] Conduct Unit tests
- [x] Run E2E tests covering current code and regression
- [x] Notify PM if this needs to be deployed to Staging behind feature flag

## Acceptance Criteria
- [x] Complete all unit testing
- [x] End-to-end tests showing 0 violations
- [x] All axe che

[2022-11-08 19:49] shiragoodman commented on #49065
All Platform tasks complete.

[2022-11-08 19:50] shiragoodman commented on #48530
@sterkenburgsara feel free to close this once you're done with the orientation sessions. The Platform Checklist is not applicable since you're a Platform team member.

[2022-11-08 19:54] mikeprusaitis opened #49469 "Implementation Calendar Updates (for Dec 10 and onwardy)"

[2022-11-08 19:54] aagosto90 commented on #49088
@ajakabcin @tmitchellgcio Before I update the FE documentation to include this full page error, wanted to run the mockups by you. [Taylor said](https://dsva.slack.com/archives/C909ZG2BB/p1667936574218559) it looks perfect and confirmed nothing else would load on the page. [I checked with the platform team](https://dsva.slack.com/archives/C01DBGX4P45/p1667850428768479) about what type of error mess

[2022-11-08 20:01] vbellissimo opened #49470 "Review new page: Accessing and Utilizing Contact Center Data"
Per Office Hours on Nov 8, 2022

**Tasks:**

- [x] Review page created and provided by the Contact Center team: https://vfs.atlassian.net/wiki/spaces/PWD/pages/2419359870/Accessing+and+Utilizing+Contact+Center+Data

- [x] Document any recommendations, changes and/or question for content editor (Ian)

- [x] Update the document according to recommendations and sign off with content editor

- [x] Pla

[2022-11-08 20:01] #48721 closed

[2022-11-08 20:20] it-harrison commented on #46963
thanks for your help @CherylEvans, looks good to me!

[2022-11-08 20:25] pjhill commented on #48980
I've reviewed the product outline and made some edits. We can revert or keep the edits using Confluence version control.

[2022-11-08 20:28] #49066 closed

[2022-11-08 20:30] Cieramaddox commented on #48187
- Pending appointments (Desktop): “Your appointment requests that haven’t been scheduled yet."
   - Incomplete sentence - Should not have a period
   - This is written in passive voice (been scheduled). It should be written using active voice.

[Proposed Solution](https://www.figma.com/file/JpGM8LGBCqAlL8qh3DmFk8/Home-Page-Redesign?node-id=2362%3A66118)

- “In person appointment” (Mobile/Desktop)

[2022-11-08 20:33] #47328 closed

[2022-11-08 20:33] shiragoodman commented on #49439
@it-harrison unfortunately, we won't be able to get that done for the November session, but we could fix it for December. When the Orientation sessions are scheduled via Calendly, they use 1 person's Zoom. for QA, it's currently Peter. As soon as someone signs up for the session, that Zoom info is shared and there's no way to change it. If we did need to change the Zoom info, the only option is to

[2022-11-08 20:33] loripusey commented on #47328
duplicate

[2022-11-08 20:33] ytsaoca commented on #48476
Wireframe: https://share.goabstract.com/2c27652a-084b-4a36-8130-cd5130b6c673?mode=design&sha=c64fae50ded2eaf95e9f85740a2ba76062256a09

[2022-11-08 20:33] ytsaoca commented on #48476
Wireframe: https://share.goabstract.com/2c27652a-084b-4a36-8130-cd5130b6c673?mode=design&sha=c64fae50ded2eaf95e9f85740a2ba76062256a09

[2022-11-08 20:34] laflannery commented on #23509
@shiragoodman All tasks in this epic are closed, does that mean I can close this ticket?

[2022-11-08 20:37] laflannery commented on #19816
@shiragoodman All tasks within the epic are closed, can this task be closed?

[2022-11-08 20:37] shiragoodman commented on #49443
Tagging @michelle-dooley for her input.

@vbellissimo For reference, question # 4 above is a question we ask VFS teams to determine whether or not they should meet with the Analytics & Insights team via the Analytics Request Collab Cycle touchpoint. If they answer no to question # 4, we recommend the Analytics Request. If they answer yes, we then look at their response to question # 5, "Do you nee

[2022-11-08 20:38] shiragoodman commented on #23509
@laflannery yes, it can be closed. We typically leave that to the VFS team.

[2022-11-08 20:38] it-harrison commented on #49439
@shiragoodman no reason except that Peter wouldn't have to start the meeting

[2022-11-08 20:39] laflannery commented on #23509
Thanks! Just doing some clean from the older teams

[2022-11-08 20:39] #23509 closed

[2022-11-08 20:40] laflannery commented on #19816
Closing based on your previous comment

[2022-11-08 20:40] #19816 closed

[2022-11-08 20:41] shiragoodman commented on #49439
Let me see if Peter can make me co-host (since I'm Oddball).

[2022-11-08 20:42] ldelacosta opened #49471 "[Spike] React Components in VAOS"
## Background/Request
The Design System teams plans to deprecate the React components and will need to update any React components that is still active in VAOS to the web components.

### Goal
To research which React components are still active in VAOS

### Requirements to Consider
Upgrading the React components to web components

---

## Tasks
- Answer the following questions:
  - Q1: We have upd

[2022-11-08 20:45] benbrasso-agile6 commented on #48476
Looks nice. Great work.

[2022-11-08 20:57] JoeTice commented on #48980
Product Outline is done, we are just waiting for instruction on where the page should be located, will update when we find that out - but closing the task in the meantime

[2022-11-08 20:57] #48980 closed

[2022-11-08 20:57] rmtolmach opened #49472 "Preview Environments Application onboarding requirements checklist"
## Summary
The purpose of this checklist is to capture requirements for onboarding a software application to the Platform's delivery infrastructure.

### Overview
- The Platform leverages container orchestration to host and deploy software applications
- Container orchestration automates the deployment, scaling, and management of containerized applications
- To learn more, see ["Application Hostin

[2022-11-08 20:59] pjhill commented on #48999
Per Joe's feedback, I've added a link to this additional research from the first round of research [here](https://vfs.atlassian.net/wiki/spaces/TT4/pages/2406580520/Research+implementing+Review+Instances+in+CodeSpaces).

[2022-11-08 21:00] pjhill commented on #48999
These additional questions have been answered.

[2022-11-08 21:04] rmtolmach opened #49473 "Application to Onboard: preview-environment"
### Acknowledge Instructions

- [X] I acknowledge that I have read the above instructions and understand the application name provided will be used to create various resources

### Application Name

preview-environment

### Environment

dev

### Maintainer(s)

rmtolmach, ph-One, pjhill

[2022-11-08 21:06] kellysmith1008 commented on #48476
Agreed - nice job, @ytsaoca !

[2022-11-08 21:09] megzehn commented on #49255
Hi @mistymg! I reviewed the copy and left a few comments on the Mural board. I like the edits you made from the previous version! Let me know if there are any specific sections you want to talk more about. I'm happy to meet.

[2022-11-08 21:14] #47647 closed

[2022-11-08 21:16] SKasimow commented on #47003
@adamwhitlock1 - can you take a look and advise?

[2022-11-08 21:20] #47025 closed

[2022-11-08 21:23] Samara-Strauss commented on #45008
## Documentation feedback

### Product outline

- Under the [Design heading](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/identity-personalization/notifications/vagov-notifications#design), the Sketch link is broken and tells me the page does not exist.

### Use cases

The LOA1 use case and flow chart both look good.

Under the [LOA3 heading](https://github.co

[2022-11-08 21:30] tbaker1026 opened #49474 "Provide sample of Simple, Moderate and Complex forms for Chris"

[2022-11-08 21:36] mistymg commented on #49255
Thanks, @megzehn! Based on your comments, I made a few updates. I'm assuming from a content strategy standpoint, it's ok as well? I don't think I have any specific questions. What do I do next? Do you want to take a final look at the latest version I did based on your feedback? It's not "Round 2" on the Mural board.

[2022-11-08 21:45] mchelen-gov commented on #48362
Let's start by simply tracking all Production deploys (for vets-website). These are visible in the [dashboard](https://department-of-veterans-affairs.github.io/veteran-facing-services-tools/frontend-support-dashboard/) but there is no historical tracking of deploy volume.

[2022-11-08 21:49] ericasauv09 commented on #48705
User Judy Morrison looks good now:
![Screen Shot 2022-11-08 at 16.49.12.png](https://images.zenhubusercontent.com/62571b850845ac72a9917e8e/fb5cb2a6-e92c-4548-aaa9-fd33cdadc849)

[2022-11-08 21:50] #48705 closed

[2022-11-08 21:55] oseasmoran73 commented on #48641
Reached out to teams to let them know of feature toggles. Some have done internal investigation and others are pending. Tracked of those I reached out, but should x-ref their excel with the one I am using to get a clearer image

[2022-11-08 21:57] #48530 closed

[2022-11-08 21:59] rmtolmach opened #49475 "Remove use of `set-output` in GitHub Actions"
## Description
`set-output` is set to deprecate May 31, 2023. This message is being seen in the workflows that use it:

That github link ^^ explains the fix.

## Background/context
`set-output` is used widely across the org.

## Technical notes
See PRs linked to this issue for examples.

---
## Tasks
- [x] content-build/script/github-actions/check-broken-links-blocks.js
- [x] content-build/script/

[2022-11-08 21:59] zach-park commented on #48721
LGTM. Thank you!

[2022-11-08 22:09] bosawt commented on #48505
The vast majority of these have been resolved with the merged PR

[2022-11-08 22:09] #48505 closed

[2022-11-08 22:15] shiragoodman opened #49476 "Collaboration Cycle - Introduce "on support" schedule for managing Collab Cycle requests and hosting meetings"
## Problem Statement
Since Governance Team is informed of new touchpoint meeting requests via #vfs-platform-support Slack channel, a random team member could schedule, but then they're not certain if they're responsible for hosting and/or post-meeting tasks. Also, if they schedule, then the meeting uses their Zoom info, meaning they must be in attendance to record the meeting.

We'd like to make t

[2022-11-08 22:15] shiragoodman opened #49477 "Add Governance team to Pager Duty"

[2022-11-08 22:16] shiragoodman opened #49478 "Schedule recurring Zoom meetings for all CC timeslots"
## User Story
As a Governance team member, I want to schedule recurring Zoom meetings for all CC timeslots so that the Zoom information is consistent week to week, meaning no more confusion with who owns the meeting and who has permissions to records, host, screen share, etc.

Assignee: @shiragoodman
Peer Reviewer: @allison0034

## Description
There are 7 timeslots each week for Collab Cycle revie

[2022-11-08 22:16] shiragoodman opened #49479 "Create Zoom meeting supplemental guidance"
## User Story
_"As a (persona), I (want to), (so that)."_

Assignee:
Peer Reviewer:

## Description
_What details are necessary for understanding the specific work or request tracked by this issue?_

## Impacted Artifacts

## Tasks
- [ ] _Placeholder task_

## Peer Review
_To be completed by peer reviewer_
- [ ] User story and acceptance criteria are met

## Acceptance Criteria
- [ ] _Placeholder

[2022-11-08 22:18] shiragoodman opened #49480 "Revise Moderator Responsibility docs for DI, MPR and SR"
## User Story
As a Governance team member, I want to be able to follow the guidance for completing scheduling of the Design Intent, Midpoint Review and Staging Review using the new default Zoom meeting information.

Assignee: @briandeconinck
Peer Reviewer: @CherylEvans

## Description
In ticket #49478 we scheduled recurring Zoom meetings to be used in Collab Cycle touchpoint meetings for the 2023

[2022-11-08 22:18] shiragoodman opened #49481 "Add Zoom meeting supplemental guidance to scheduling guidance"

[2022-11-08 22:20] joeniquette opened #49482 "Add MVI MPI key management to cert rotation instructions"
Add it here: https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/blob/master/teams/vsp/teams/Identity/How-To/Security/Rotate_certs.md

[2022-11-08 22:22] shiragoodman opened #49483 "Set and define Pager Duty schedule"

[2022-11-08 22:23] shiragoodman opened #49484 "Modify Governance Team onboarding guidance"
## User Story
As a new team member, I want to make sure I'm included in the On Support schedule and familiar with the guidance so that I can help support Governance team support requests.

Assignee: @CherylEvans
Peer Reviewer: @sterkenburgsara

## Description
Now that we are introducing an On support schedule, any new team members that join Governance team will need to be added to the schedule and

[2022-11-08 22:26] holdenhinkle commented on #49444
# Main issues:

- What if a job fails? Do we have to start over or is there a way to pick back up where we left off?
- Can we automatically divvy up the table records amongst n number of GitHub Actions jobs/Sidekiq workers?

## Issue #1: What if a job fails?

- Add the following field to the tables that need to be encrypted:
- encryption_updated_at, datetime
- when updating the “encryption_updated

[2022-11-08 22:29] holdenhinkle commented on #49444
Research and Solutioning is kinda blurred.

I'm planning on opening the Implementation ticket tomorrow and coding this up.

[2022-11-08 22:31] holdenhinkle commented on #49444
I'll also write a rake task that will kick this off.

[2022-11-08 22:40] wesrowe commented on #49389
@briandeconinck, we have a solution to your "must" feedback. The life cycle of feedback tickets like this one isn't clear to me. Do you want to review the changes now? Or will this ticket get closed at a later touchpoint?

[2022-11-08 22:40] cgednalske commented on #48990
@Samara-Strauss no problem! Thank you! That all sounds great to me. 👍  I'll move forward with the two links on separate lines and then move disability rating to the bottom of the page. I'll also start adding this to our main files (currently in the discovery section).

[2022-11-08 22:47] bradbergeron-us commented on #49039
Hey @ianhundere I see myself on the VFS team roster link above on row 26.

[2022-11-08 22:50] acrollet opened #49485 "[FE] Deprecate day-of demographics flag"
## Background

We [don't anticipate needing to turn off the demographics questions for day-of check-in](https://dsva.slack.com/archives/C022AC2STBM/p1667941451327819?thread_ts=1667939197.898429&cid=C022AC2STBM), so we should remove the flag and any associated logic.

## Tasks
- [ ] [FE] remove feature flag and associated logic/tests
- [ ] Create or update unit tests
- [ ] Create or update e2e test

[2022-11-08 22:51] adamwhitlock1 commented on #48011
@SKasimow This is live on staging and can be validated.

I validated it myself specifically by going to the site on mobile and removing the mobile number, visiting the notifications and following the link to go back to the contact info page. Then I updated the mobile number and followed the update success alert link to verify that the user arrived at the top of the notification settings page after

[2022-11-08 22:51] SKasimow commented on #49352
Thanks!

cc @ericasauv09

[2022-11-08 22:53] ianhundere commented on #49039
oops

[2022-11-08 22:56] ianhundere commented on #49039
@bradbergeron-us correct, you most likely were added recently.

[2022-11-08 22:57] bosawt commented on #48559
This appears to happen when a user spends more than 30 minutes idle, then attempts an action. We appear to call for a `/refresh` without a refresh token, because the token itself has expired and the cookie is automatically removed.

The info token cookie probably is also removed, so if we want to prevent this specifically we could make sure frontend logs out a user if the info token cookie is gone

[2022-11-08 22:57] bosawt commented on #48559
![image.png](https://images.zenhubusercontent.com/5fb55f12a11eae1f7ca15bde/dbb5e4f6-ab4c-4560-b781-cfacad173929)

[2022-11-08 22:59] bosawt commented on #48559
This shows multiple successful `refresh` calls as the user is actually active, but then a more than 30 minute idle time, then the user attempts an action and `/refresh` is called, but without a refresh cookie because it has been automatically expired

[2022-11-08 23:07] bosawt commented on #48559
If there is an action item here, it is to force `/logout` if `vagov_info_token` does not exist

[2022-11-08 23:15] brianseek commented on #49394
@acrollet & @wullaski there is no PR with this because I didn't see any necessary changes in pre-check-in. So for code review / validation, can one of you verify that?

[2022-11-08 23:27] bosawt commented on #48560
It seems like this happened because a `/refresh` was called after more than 30 minutes of apparent inactivity. The user did actually have activity, but it was `InProgressForms` related, so likely to be related to the issues we are seeing with certain forms routes not properly asking for updated tokens.

Additionally, the user authenticated with SSOe halfway through filling out the forms. I think t

[2022-11-08 23:41] chloedotbrown commented on #49063
@michelle-dooley - sharing the [Profile mockup](https://docs.google.com/presentation/d/1zzFSi5ZfIDqy5buQZX1NwRjvCA-dwPTDYOaSidCwZlw/edit?usp=sharing) for your review. The metrics in Highlights are the only ones that were explicitly [requested](https://github.com/department-of-veterans-affairs/va.gov-team/issues/46861#issuecomment-1242253959), though the sections below would be supported by the sam

[2022-11-09 01:08] #48979 closed

[2022-11-09 01:08] pjhill commented on #48979
Thanks for writing all of this out into a research document. I think we have enough information to propose an architecture to the architecture working group. With this research and our plan to propose a draft architecture to the architecture working group, I am confident that we will be able to create a Preview Environment solution that satisfies Platform security goals.

[2022-11-09 01:22] naomimarcussen commented on #49424
Thank you @taylojill! I've updated the doc and sent it along to Shane Strassberg to get his thoughts. If he's good with it, then I'll move along to publish.

[2022-11-09 03:00] #45170 closed

[2022-11-09 03:12] jacobworrell opened #49486 "DLD: Remove ratings decision doc type"
## Value Statement
Remove "Rating Decision" document types from the claims list

---
## Background Context
- Alejandro from VBA wants to get approval to show this doc type before we provide back-fill rating decision info to veterans

## Acceptance Criteria
- [x] Ratings Decision document types no longer included in the Decision Letter tool

## Designs and Build Notes
- Add here

## Out of scope
-

[2022-11-09 12:05] PHeb0220 commented on #49388
@vbellissimo

[2022-11-09 13:48] vbellissimo opened #49487 "Support: Mon-Thur Deploy (S14)"
**User story:**

As a Platform team member who just contributed to the Platform website,
I need my content published,
so that I can share my content updates with the intended audience.

As a content team,
we need to review any new content changes made on the platform,
so that we can deploy every Tuesday and Thursday of the week.

**Acceptance criteria:**

Someone from our team will use Scroll View

[2022-11-09 13:48] vbellissimo opened #49488 "Support: Reply to Slack Inquiries (S14)"
**Acceptance criteria:**

- Reply to any new Slack inquiries as they come. Acknowledge and troubleshoot as needed.

Data tracking info:
https://vfs.atlassian.net/wiki/spaces/CIT/pages/2282979860/Content+Support+Data

[2022-11-09 13:49] vbellissimo opened #49489 "Support: Review Support Tickets (S14)"
**Acceptance criteria:**

View the intake board for new tickets submitted

- If the issue is related to another team, triage as described on instructions below.
- If the issue is related to our team, assign to product manager and we will review this issue as a team during post-stand-up.

Support intake boards:
https://github.com/department-of-veterans-affairs/va.gov-team/projects/16
https://github

[2022-11-09 14:16] little-oddball opened #49490 "Handle ID carlospmelendez attempting to get access but getting a handle error"
### What is the issue

Created Github handle ID carlospmelendez, @joeniquette unable to find us in VA list. Once I can be added, I will need access to Grafana, Promethius and Jenkins monitoring tools.

### Who is it effecting or who will be effected

Carlos Melendez

### What have you done to resolve this so far

One on one meetings.
Tried to look them up in VA list to add

### Dependencies

PO or

[2022-11-09 14:18] little-oddball commented on #49388
@vbellissimo - I have created a PO Escalation ticket for this and assigned it to @mchelen-gov who addressed the previous one referenced above.

[2022-11-09 14:18] ianMcCullough-ob commented on #47723
@heyjoni sounds good! I'll look into having a link show on error pages, though there might be a barrier depending on who owns that error page (VA vs DS Login vs ID.me, etc).

[2022-11-09 14:20] benbrasso-agile6 commented on #48824
@sarahknoppA6 here is the [estimate](https://docs.google.com/spreadsheets/d/1efDv0SriqY1rXQNlzU6xlupeRxOAvwLxcfdQF97NPm0/edit?usp=sharing)

@kellysmith1008 and I will be traveling.

The dates in the spreadsheet are of course tentative. I would think sometime in early to mid January is accurate.

[2022-11-09 14:38] benbrasso-agile6 commented on #48476
@ytsaoca is this ready for validation?

@loripusey @zach-park I feel like we may want to merge this sub-branch into the "Travel pay wireframes" branch. That way, all the MVP wireframes are in a single branch. Thoughts?

[2022-11-09 14:38] LindseySaari opened #49491 "Fix vets-api docker build to handle new certs and encodings"
## Description
On 11/7, it appears that that some new [VA certs were added](http://aia.pki.va.gov/PKI/AIA/VA/). The new certs have various encodings, which our current [docker build for EKS](https://github.com/department-of-veterans-affairs/vets-api/blob/k8s/Dockerfile#L33-L36) doesn't handle. [Example GHA failure for the docker build ](https://github.com/department-of-veterans-affairs/vets-api/ac

[2022-11-09 14:46] batemapf opened #49492 "Request access to Google Analytics and/or Domo"
# Request Google Analytics and/or Domo access

## What this form is for
Use this template to request access to Google Analytics and/or Domo. Please complete steps 1 & 2 below.

## 1. Access Requirements
Please check the analytics tool(s) you need access to:
- [x] Google Analytics
- [ ] Domo
- [ ] (Platform Teams only) BigQuery

## 2. User Email Address to Receive Access
**Due to privacy concerns,

[2022-11-09 14:47] jaredcunha commented on #47904
Everything that could be tested so far has been tested. The items that are still marked 'untested' are more yes/no than pass/fail, and I think we might be able to clean some of those items up so they are not even considered tests. @jacobworrell

[2022-11-09 14:48] joeniquette opened #49493 "Update cert rotation docs based on saml certs"
We just rotated the saml certs again and the documentation needs to be updated.

[2022-11-09 14:49] saderagsdale commented on #49301
@eileen-coforma Hey Eileen - we got this request from Matt and another VA stakeholder. Can you review and post any questions here so we can cover them in refinement?

[2022-11-09 15:05] saderagsdale commented on #49068
@kylesoskin @Mottie hey both - what's the next step on this one?

[2022-11-09 15:06] saderagsdale commented on #48159
@Mottie is this dependent on #49068?

[2022-11-09 15:06] saderagsdale commented on #46511
@Mottie hey there - what's the next step on this one?

[2022-11-09 15:08] BillChapmanUSDS commented on #47958
I mentioned the Bullet gem in another issue but it applies here as well, I've used it in both testing and duriing CICD to catch n+1 and other awkward AR Relation chains from becoming a problem later. It's often eye opening.

[2022-11-09 15:08] Mottie commented on #46511
Waiting to get merged. There are some e2e test errors (from a different app) that need to be resolved before that can happen. Once that is done, we'll need you or design to review.

[2022-11-09 15:09] Mottie commented on #48159
Nope, this is done and ready to be reviewed.

[2022-11-09 15:10] Mottie commented on #49068
This is done as far as I know.

[2022-11-09 15:15] ph-One commented on #49491
https://github.com/department-of-veterans-affairs/vets-api/actions/runs/3429371915
https://github.com/department-of-veterans-affairs/vets-api/actions/runs/3429371900
https://github.com/department-of-veterans-affairs/vets-api/actions/runs/3429371894

[2022-11-09 15:19] zach-park commented on #48476
Regarding the H1 copy, no more than 4 lines of text wrap is typically recommended, fyi.

Regarding the "error page" sub-branch, yes, it can be merged once the wireframe is PO accepted/approved.

[2022-11-09 15:22] eileen-coforma commented on #49301
@saderagsdale
- Is this the correct staging link? https://staging.va.gov/disability/file-disability-claim-form-21-526ez/introduction
- Is there more context on why stressor statements are removed for veterans applying 180-90 days before discharge?
- Is the stressor statement the same thing as Claim for Service Connection for Post-Traumatic Stress Disorder (VA Form 21-0781) or the subsequent screen

[2022-11-09 15:23] mchelen-gov commented on #49490
See: https://github.com/department-of-veterans-affairs/va.gov-team/issues/49391#issuecomment-1306165492

[2022-11-09 15:23] #49490 closed

[2022-11-09 15:25] jessicastump opened #49494 "[DESIGN] Mobile designs for household section"
## Issue Description
Create mobile mockups of the household information section (adding dependents pages a top priority)

---
## Tasks
- [ ] Create mobile mockups in Sketch file to use on prototype

## Acceptance Criteria
- [ ] Mobile mockups consistent with desktop design's content and flow updates
---

[2022-11-09 15:29] jessicastump opened #49495 "[DESIGN][DISCOVERY] File upload component updates"
## Issue Description
Discovery work to see what content and other changes are needed to align both the 10-10EZ (Discharge papers) and the 10-10CG (Representative Docs) to the latest design system guidance.

Addressing "File" vs "Document" language

https://design.va.gov/components/form/file-input

---
## Tasks
- [x] Review the Design System for file upload language/content
- [x] Review with Conten

[2022-11-09 15:30] acrollet commented on #49394
I took a look and I agree, we show the same message on the day of the appointment from midnight until the end of the check-in window, and the end of the check-in window is pulled from the appointment data in LoROTA. Closing this out.

[2022-11-09 15:30] #49394 closed

[2022-11-09 15:31] #49491 closed

[2022-11-09 15:32] CBonade commented on #48996
All responses are in. The findings lead to an investigation about an unknown feature and those findings are also recorded. It's worth noting that this may impact our future initiative, as it seems this is a feature we may not have accounted for.

[2022-11-09 15:32] ph-One commented on #49491
![image.png](https://images.zenhubusercontent.com/622146ffd0422cdb4d9fdd52/7e4bb32e-1931-4030-b60a-27245fd374b8)

[2022-11-09 15:37] #49412 closed

[2022-11-09 15:38] kylesoskin commented on #49412
This script is done. It submits valid things to the right place in the correct order, similar to if they were submitted through the frontend.

This is a pre-req to the meeting with the MAS/Central mail people.

(still waiting on a Staging key that works, but this should be fixed today, hopefully)

[2022-11-09 15:41] denisecoveyduc opened #49496 "Sprint 86 Priorities (Benefits Team 2)"
## Benefits Team 2: Sprint 86 Priorities
(_Sprint 86: November 2-15,  2022_)

### Sprint Goals
- FSR background processing for successful submission
- Update VANotify template names to better reflect integration of medical copays
- Integrate checkbox inputs to FSR for monetary assets
- Enable continuous add for FSR Employment history section
- Integrate platform feedback for mini summary and VA Be

[2022-11-09 15:45] saderagsdale commented on #49138
Waiting for Alejandro to reply with their availability to review the data analysis and dashboard he created. Sent a follow-up on 10/31 and again on 11/7.

[2022-11-09 15:49] ianMcCullough-ob commented on #49470
I wonder if we can add a 4th page under “[Reporting & Insights](https://depo-platform-documentation.scrollhelp.site/analytics-monitoring/reporting-insights)” for Contact Center Data. We also have two how-to pages ([How to use Contact Center data](https://depo-platform-documentation.scrollhelp.site/analytics-monitoring/how-to-use-contact-center-data-in-domo) in DOMO and [How to use Medallia Data in

[2022-11-09 15:50] skylerschain commented on #43258
The [blocker for this ticket](https://github.com/department-of-veterans-affairs/va.gov-team/issues/43256#issue-1282593416) is now "In Progress." Once that gets completed, it looks like we can resolve this by introducing some error messages for required fields.

[2022-11-09 15:50] ajmagdub opened #49497 "PII/PHI logged in Vets API"
Notice in Vets API log that on 400 errors certain PII/PHI is being logged. The PII/PHI occurs when an HTTP 400 error comes back from the '/var/VeteranAppointmentRequestService/v4/rest/appointment-service/patient/ICN/xxx/appointments/' endpoint. Some PII (for instance, SSN) is filtered but not all like date of birth.

Change logging so that on an HTTP 400 error, this information is not being logged

[2022-11-09 15:51] ajmagdub opened #49498 "PII/PHI logged in Vets API"
Notice in Vets API log that on 400 errors certain PII/PHI is being logged. The PII/PHI occurs when an HTTP 400 error comes back from the '/var/VeteranAppointmentRequestService/v4/rest/appointment-service/patient/ICN/xxx/appointments/' endpoint. Some PII (for instance, SSN) is filtered but not all like date of birth.

Change logging so that on an HTTP 400 error, this information is not being logged

[2022-11-09 15:52] jerekshoe commented on #48369
@megansiddle I'd be interested to see the mockups that you referred to in the original description, but looking at the code, only one person can be listed on the confirmation page. I think that answers the last 3 questions. As far as if/when the form submission will work in the staging environment, I can ask around and see if I can get info. EOAS is working on a new version of the backend service

[2022-11-09 15:56] Mottie commented on #48796
Hi @RLHecht! I don't think we have a definite date set, @saderagsdale would know. As for the [React widget, yes we have a ticket to start building it](https://github.com/department-of-veterans-affairs/va.gov-team/issues/48808) which will likely get done in our next sprint.

[2022-11-09 16:08] michelle-dooley commented on #49443
@vbellissimo - Domo is called out b/c that is the BI tool the Analytics teams uses and where we will build dashboards that include GA and other data sources for VFS teams.  If teams want to build their own dashboards somewhere else they are welcome to but that would be outside of our support services.  Does that help?

[2022-11-09 16:09] loripusey commented on #48476
I agree with the merging

[2022-11-09 16:09] saderagsdale commented on #41046
@data-doge I checked off the review AC for product. Are the other items ready to be checked off?

[2022-11-09 16:12] jcatergovy commented on #47757
@cgednalske I went over this with @adamwhitlock1 and placing this error between the address and the Edit/Remove buttons is a bigger lift.  We would need to move the existing component into a different component with its corresponding logic and update tests.  I can push with the new alert appearing below the buttons or above the address today and we can make a new ticket for moving it to the desire

[2022-11-09 16:16] #49225 closed

[2022-11-09 16:19] #47663 closed

[2022-11-09 16:20] megansiddle commented on #48369
Thank you @jerekshoe! I had pulled it from [here](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/burials-memorials/pre-need/design/pre-need-mockups.sketch)
<img width="110" alt="image" src="https://user-images.githubusercontent.com/99678581/200883712-39125f19-83c4-4c42-826a-2b3065afb356.png">
But sounds like its probably outdated. I was wondering though if the c

[2022-11-09 16:20] ianMcCullough-ob commented on #48646
Met with Sarkis and sent off an official request to implement that Word Cloud.

[2022-11-09 16:20] #48773 closed

[2022-11-09 16:20] #49172 closed

[2022-11-09 16:20] #47531 closed

[2022-11-09 16:20] #49162 closed

[2022-11-09 16:20] #49321 closed

[2022-11-09 16:20] #47528 closed

[2022-11-09 16:20] #48660 closed

[2022-11-09 16:20] #49176 closed

[2022-11-09 16:20] #49184 closed

[2022-11-09 16:20] #49188 closed

[2022-11-09 16:20] #49358 closed

[2022-11-09 16:20] #48485 closed

[2022-11-09 16:20] #48727 closed

[2022-11-09 16:20] #48850 closed

[2022-11-09 16:20] #48991 closed

[2022-11-09 16:20] #49004 closed

[2022-11-09 16:20] #49180 closed

[2022-11-09 16:20] #49237 closed

[2022-11-09 16:20] #49361 closed

[2022-11-09 16:20] #48296 closed

[2022-11-09 16:20] #49006 closed

[2022-11-09 16:20] #49234 closed

[2022-11-09 16:20] #49235 closed

[2022-11-09 16:20] elizabethkochBT opened #49499 "Create New Team Member Onboarding doc and add .md to our github"
Working doc is here:
https://docs.google.com/document/d/17OXeFVhEfnnNNnJ8MBdjDjBKbAe57hExYdi_8xurA-Q/edit

Final location will be here:
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-product-team/New%20Team%20Member%20Onboarding.md

[2022-11-09 16:33] aagosto90 commented on #48699
[Slack thread](https://dsva.slack.com/archives/C5AGLBNRK/p1667939532494699) in Benefits 1 channel

The team had no major concerns with these changes but they did recommend that for veterans who have multiple open claims or claims closed within 60 days that we consider showing info that is more transparent that they have X additional claim updates. We should add a ticket to the backlog to explore t

[2022-11-09 16:35] jaredcunha commented on #48234
Seeing a pattern here and perhaps there might be a need get a design system component to use hint text similar to US web design system… unless that's already built, but I can't find any documented examples of it.

[2022-11-09 16:38] oseasmoran73 commented on #48641
Shared excel sheet with Eric & Nate

[2022-11-09 16:39] jerekshoe commented on #48369
Posting this for my own benefit: #44754 is related to this ticket

[2022-11-09 16:40] markfallows commented on #47459
Short Form has been relaunched.

[2022-11-09 16:41] #28973 closed

[2022-11-09 16:41] markfallows commented on #40767
Notifications for in-progress applications have been enabled.

[2022-11-09 16:42] #40767 closed

[2022-11-09 16:42] jerekshoe commented on #48369
@megansiddle I did find a workaround to create a successful submission. I believe that there is an issue with the form submission when there are supporting documents uploaded during the form process. If you go through the form without uploading any documents on this page: https://staging.va.gov/burials-and-memorials/pre-need/form-10007-apply-for-eligibility/supporting-documents, then the submissio

[2022-11-09 16:43] jerekshoe commented on #48369
@megansiddle Also, as far as your above question: If the submission is not successful, the successful submission trigger should not execute. Let me know if the above workaround works for you and feel free to reach out if any more questions come up

[2022-11-09 16:46] markfallows opened #49500 "[FE] 10-10CG: Effort Estimate for Additional Filtering (City)"
For the Facilities Redesign, we'd like to potentially take the facility information we receive from the Lighthouse API and do additional filtering based on the metadata that's provided with the call, specifically limiting by city, to help provide the most useful information.

Potential additional options:
- Dropdown that shows a list of valid cities based on state
- Type-ahead to fill in city name

[2022-11-09 16:48] markfallows opened #49501 "[FE] 10-10CG: Effort Estimate for Facility "Cards""
For improving the 10-10CG facility selection, we'd like to potentially list facilities in a card-like format so we can include additional information about the facilities in the list, such as address and telephone number.

Some kind of blocked view of the information for the facilities so it's clear what information (address, telephone number, etc..) belongs to which facility, and a clear divide b

[2022-11-09 16:49] michelle-dooley commented on #47760
@jacobworrell - just following up, have you added the code yet?  If not when do you expect to?  I may move this to ice box depending on your timing for that.  Then after you complete we can QA.

[2022-11-09 17:05] #49068 closed

[2022-11-09 17:10] michelle-dooley opened #49502 "GA4: Gap Analysis - Web & Form vs Custom VFS Events"
## Issue Description

Review web components and form library vs VFS custom components to determine where custom components could be replaced by "standard".  If they can the team should move to those, if they do not provide what they need then custom code for them to implement will be provided.  Goal is to minimize the amount of custom work needed in GA4 if the standard product offering can satisfy

[2022-11-09 17:11] joshkimux commented on #48300
@jaredcunha couple of thoughts to those awesome thoughts:

- Are these required fields... actually optional by any chance? Do we know if these are actually required? Because the  written "why" for needing them doesn't sound very compelling.
- No reason why we can't make use of the `va-additional-info` component, that's a great idea! ✨

[2022-11-09 17:13] michelle-dooley commented on #45133
@ksk385 - just following up on this.  Let me know once implemented and we can QA.

[2022-11-09 17:13] joshkimux commented on #48234
It's a little hidden, but [it's under the text input component](https://design.va.gov/components/form/#hint-text)

[2022-11-09 17:14] michelle-dooley commented on #46575
@Evafloyd - just following up on this request.  I cannot move forward without the test user so I can walk through the flow.

[2022-11-09 17:24] michelle-dooley commented on #48627
@bryan-riley-va - I'm going to put this in our icebox, let us know when you are ready to pick it back up.

[2022-11-09 17:28] jacobworrell opened #49503 "[EVSS to Lighthouse]: Get to the point we can make a request to Lighthouse in sandbox"
## Background

Possibly will need to collaborate with someone on Lighthouse.

## Next Steps

- [x] put this item on the radar of Lighthouse during next touchpoint
- [x] request sandbox credentials
- [x] set up client credentials with Lighthouse - we're not using an api key, using client credential grants instead
- [x] get our own sandbox credentials so we can do testing

## Acceptance Criteria

-

[2022-11-09 17:31] #47869 closed

[2022-11-09 17:31] jaredcunha commented on #48234
Grrr - that uses utility classes and does not make use of `aria-describedby`. Regardless, that pattern might be in the form system. But I could be wrong. But I could be right?

[2022-11-09 17:33] Cieramaddox commented on #48187
- Pending appointments (Desktop): “Your appointment requests that haven’t been scheduled yet."
   - Incomplete sentence - Should not have a period
   - This is written in passive voice (been scheduled). It should be written using active voice.

[Proposed Solution](https://www.figma.com/file/JpGM8LGBCqAlL8qh3DmFk8/Home-Page-Redesign?node-id=2362%3A66118)

- “In person appointment” (Mobile/Desktop)

[2022-11-09 17:37] #49503 closed

[2022-11-09 17:38] jacobworrell opened #49504 "[EVSS to Lighthouse] write the new code for the BE"
Jerek did this.

[2022-11-09 17:41] jacobworrell opened #49505 "Backend code review"

[2022-11-09 17:43] michelle-dooley opened #49506 "GA4: Discovery/Audit related to BigQuery Cost During Migration Phase"
### Description
With GA4 migration work impacting BigQuery, the primary goal of this ticket is to determine whether or not they'll be an increase in BQ costs during the migration phase.

The goal of this ticket is to create a hypothesis for if we will see a spike in BQ costs, and if possible, by how much.

### Tasks
- [x] Review historical cost usage, and general options for more closely measuring

[2022-11-09 17:43] mchelen-gov commented on #49391
For overall VA Github usage and access request info: https://department-of-veterans-affairs.github.io/github-handbook/guides/onboarding/getting-access

[2022-11-09 17:44] markkvba opened #49507 "Request access to Google Analytics and/or Domo"
# Request Google Analytics and/or Domo access

## What this form is for
Use this template to request access to Google Analytics and/or Domo. Please complete steps 1 & 2 below.

## 1. Access Requirements
Please check the analytics tool(s) you need access to:
- [x] Google Analytics
- [ ] Domo
- [ ] (Platform Teams only) BigQuery

## 2. User Email Address to Receive Access
**Due to privacy concerns,

[2022-11-09 17:45] ajakabcin commented on #47233
tentatively scheduled for 3pm on 11/14

[2022-11-09 17:48] jacobworrell opened #49508 "[EVSS to Lighthouse] Map attributes"
## Background
We need to map attributes ahead of writing FE code.

## Tasks
- [x] Map attributes

## Acceptance Criteria
- [x] Claims attributes for vets-api features and documents service mapped
- [x] Lighthouse reviews and approves mapping documentation
- [ ] Mobile reviews and approves mapping documentation

[2022-11-09 17:48] Kimberley2019 commented on #48653
Thank you @clantosswett I will update the doc accordingly and share with Jeremy Haas for his input.
The goal is to implement next sprint.

[2022-11-09 17:51] clantosswett commented on #48811
@aubreyarcangel to update situation here.

[2022-11-09 17:52] ATMiddleton commented on #48805
In production 11/8/22

[2022-11-09 17:52] #48805 closed

[2022-11-09 17:56] jsokohl commented on #48234
Why not change the label to "Spouse's nine-digit military service number...."?

[2022-11-09 17:59] megzehn commented on #49255
Hi @mistymg! Yes, the content looks good to me! And I copy edited round 2 and left only 1 comment.

Let me know if you have any questions or want to discuss anything else. Thanks!

[2022-11-09 18:00] little-oddball commented on #49388
@vbellissimo - @mchelen-gov added some information about GH access as well as the need to go through Platform Orientation to gain access.

For overall VA Github usage and access request info: https://department-of-veterans-affairs.github.io/github-handbook/guides/onboarding/getting-access

For Grafana access they can go through Platform orientation if needed, though I believe it is reachable from

[2022-11-09 18:01] jaredcunha commented on #48234
@jsokohl That often ends up being the type pattern I've seen in lieu of USWDS-style hint text. But I do think it might be worth getting this into the component given how it could provide more helpful designs across VA teams.

[2022-11-09 18:03] mchelen-gov commented on #49388
This should be added as a reference on Platform Website https://depo-platform-documentation.scrollhelp.site/getting-started/request-access-to-tools#Requestaccesstotools-GettingaccesstotheVAGitHuborganization

This issue should only be used for Platform Website feedback, not any further support requests.

[2022-11-09 18:08] aagosto90 commented on #48993
Submitted to research repo 11/9 ([GH ticket](https://github.com/department-of-veterans-affairs/va.gov-research-repository/issues/191)) ([Slack thread](https://dsva.slack.com/archives/C0216PL32HJ/p1668016910249809))

[2022-11-09 18:13] mistymg commented on #49255
Thanks! I think I'm all set. I fixed that last typo. I'm going to assume this is good to go/approved.

[2022-11-09 18:16] ericasauv09 opened #49509 "[Design] My VA Audit UX Improvements: Explore Designs for Incorporating multiple open Claims"
## Background
As detailed in this [slack thread](https://dsva.slack.com/archives/C909ZG2BB/p1668004758040209), users may have multiple open claims at one time and currently we only show them their most recent one the My VA dashboard. We want to explore design options for showing users all of their open claims.

## Tasks
- [ ] Create design options for open claims
- [ ] Review designs with team
- [

[2022-11-09 18:18] michelle-dooley commented on #45133
@ianpsant - we will also need the worksheet per Chloe's note above.

[2022-11-09 18:20] michelle-dooley commented on #45159
The work for this ticket is complete based on information provided.  We are waiting on additional details from the team and will begin a design ticket for that work when ready.

[2022-11-09 18:20] #45159 closed

[2022-11-09 18:23] benbrasso-agile6 commented on #49074
Offering an "opt in" to receive check in notifications may smooth out concerns around the "too many texts" perception.

[2022-11-09 18:24] joeniquette commented on #49391
Ok so the missing piece here was within a VA network only accessible link, which is good to know for future purposes if VA employees who dont have a PM or COR can go to and request access:

**Step 3: Access to the Department of Veterans Affairs Organization**
Once you have your GitHub.com account and have set up 2FA, you will need to request access to the Department of Veterans Affairs organizatio

[2022-11-09 18:27] #48617 closed

[2022-11-09 18:28] michelle-dooley commented on #49506
Hey @dorseypa1 I’m using Zenhub in GitHub, [click this link](https://app.zenhub.com/workspaces/platform-analytics--insights-61d4d14f8de56e001c840a72/board) to join my workspace and see other features available in GitHub or [download the Zenhub extension](https://www.zenhub.com/extension) and sign up with your GitHub account.
  _Posted using [Zenhub](https://www.zenhub.com)_

[2022-11-09 18:31] megzehn commented on #49255
Sounds good! Thanks, @mistymg.

[2022-11-09 18:33] megzehn commented on #48033
Confirming that I reverted the Fry and Post-9/11 pages and added back in the changes we made.

[2022-11-09 18:38] taylojill commented on #49470
Hello @ianMcCullough-ob Sounds good! We will make the following changes. Let me know if this is accurate.
cc @vbellissimo

- Add a 4th page under "Reporting & Insights". The page title will be "Accessing and Utilizing Contact Center Data"
- Rename the "How to use Contact Center data in DOMO" page to "How to use MyVA411 data in DOMO"
- Move the renamed page and the "How to use Medallia Data in DOMO

[2022-11-09 18:46] cgednalske commented on #47757
@jcatergovy Hmm.. Design system guidance does say to place this sort of error directly below the affect information/component (address), so if possible we should probably stick with this placement below the address and above the button - also because it follows our regular pattern. If we don't, I suppose there's the chance it could get flagged down the road as not following the guidance. 😐

[2022-11-09 18:49] holdenhinkle commented on #49447
To-do:
- [ ] update `encryption_updated_at` in the monkeypatch file
- [ ] create rake task
- [ ] write tests
- [ ] add `encryption_updated_at` field to models in each env

[2022-11-09 19:11] tmitchellgcio commented on #48792
Just merged please give about 30 min for this to show in staging

[2022-11-09 19:16] cmaeng opened #49510 "Adding Bentley Hensel to DSVA Slack"
# Description

**new user requests**: please verify that the user does not already exist in dsva.slack.com (it may be the account exists, but is not in a particular channel)

<describe the request>
Please add Benthley Hensel, bentley.hensel@civicactions.com, Product Manager for the Platform CMS team, as a full member to DSVA slack.

Channels: #cms-platform, #sitewide-program

Then add a brief desc

[2022-11-09 19:20] andaleliz commented on #48437
This is weird, I'm not sure what to make of this. I guess what we need to evaluate to figure out if this is a problem is to see how many people overall followed the navigation path of Notification Settings > Contact info during that period. And then we could compare that number to the 1400 people who clicked the `manage text notifications` link.  I _think_ that would tell us if there's a big break

[2022-11-09 19:22] ytsaoca commented on #47816
scenario 2: https://share.goabstract.com/5db20262-46ec-4f94-9ca1-58bffbdc1789

[2022-11-09 19:22] ytsaoca commented on #47816
scenario 2: https://share.goabstract.com/5db20262-46ec-4f94-9ca1-58bffbdc1789

[2022-11-09 19:22] ericasauv09 commented on #49463
validated with user 11 and user 81: ![Screen Shot 2022-11-09 at 14.19.39.png](https://images.zenhubusercontent.com/62571b850845ac72a9917e8e/1a44b02b-c986-4c7e-954b-8da416e06241)

[2022-11-09 19:22] #49463 closed

[2022-11-09 19:24] SKasimow commented on #49193
Attaching analysis on 1) how often the modal is displayed on average and 2) the percent of sessions (unique events) that view the modal after clicking "edit":

[https://app.zenhub.com/files/133843125/be267974-e996-4ff4-9220-f7fa2261823d/download](https://app.zenhub.com/files/133843125/be267974-e996-4ff4-9220-f7fa2261823d/download)

[2022-11-09 19:24] ytsaoca commented on #47816
@benbrasso-agile6 @kellysmith1008 @zach-park
Ready for validation

[2022-11-09 19:26] ajakabcin commented on #49387
Note from grooming: Per Samara, due to the need to expedite the timeline on releasing this feature prioritize getting the feature out over writing a long synthesis report.

[2022-11-09 19:27] ytsaoca commented on #48476
@benbrasso-agile6 ready for validation. Who at the engineer team do we tag for validating it?

[2022-11-09 19:27] ytsaoca commented on #48476
@benbrasso-agile6 ready for validation. Who at the engineer team do we tag for validating it?

[2022-11-09 19:29] ytsaoca commented on #49078
App name discussion: https://dsva.slack.com/archives/C022AC2STBM/p1667941723006269

[2022-11-09 19:29] ytsaoca commented on #49078
App name discussion: https://dsva.slack.com/archives/C022AC2STBM/p1667941723006269

[2022-11-09 19:33] bramleyjl commented on #48561
This happened twice to the same user in quick succession - looks like they attempted to auth again after the first try failed. I looked up their SSN from the MPI response and it looks fine, @bosawt do you know how to query their CSP attributes (Login.gov) in production for comparison?

[2022-11-09 19:37] ericboehs opened #49511 "Monitor Sidekiq with Datadog"
## Description
[Datadog's native Sidekiq integration](https://docs.datadoghq.com/integrations/sidekiq/) is not set up.

It would be nice to be able to monitor the average/total run time of jobs in Sidekiq (by Job class).

Let's do that.

## Task
- [x] Enable Logging/Methods/Metrics/Functions documented in DD

## Acceptance Criteria

- [x] Logging/Methods/Metrics/Functions are able to called as doc

[2022-11-09 19:46] ericasauv09 opened #49512 "Design | Profile | Nametag | Update Documentation"
## Background

We need to update any existing or create new documentation for the Nametag feature. Currently, this [documentation](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/my-va/2.0-redesign/frontend/documentation/nametag.md) exists so we can review/edit this as needed. The need for documentation stemmed from [this question](https:

[2022-11-09 19:47] mnorthuis commented on #42428
@RLHecht @heyjoni There has been team turnover and some significant changes to the approach in this work, so I'm recommending we regroup on this to establish what needs to be done and prioritize it.

@MarciMcGuire @alexiawunder It appear that none of the links to the sketch files in the original description work.  Please update with links to all pertinent artifacts and updated designs.

Thank you!

[2022-11-09 19:54] loripusey commented on #47816
LGTM

[2022-11-09 19:54] acrollet commented on #49074
I have a meeting scheduled with @robertdurkin tomorrow to go over these questions.

[2022-11-09 19:56] loripusey commented on #48436
@wullaski Final wireframe has been validated and is attached
cc: @ytsaoca @benbrasso-agile6

[2022-11-09 19:57] loripusey commented on #48476
@wullaski has this engineering ticket that goes with this work;
@ytsaoca do you have access to our board?

[2022-11-09 20:05] #33987 closed

[2022-11-09 20:05] #33989 closed

[2022-11-09 20:05] #33784 closed

[2022-11-09 20:08] ericasauv09 opened #49513 "[FE] Payment Info V2: Update Copy from "View" to "Review""
## Background
As part of our midpoint review feedback we were asked to update all instances of the word "view" to "review" to avoid sighted words. In the Payments section we have a link in the payment card that states "View your payment history" this needs to be updated to "Review your payment history." Sketch file can be found [here](https://www.sketch.com/s/9b0e6efc-423a-4354-9db3-ab2083d566c9/a

[2022-11-09 20:08] MarciMcGuire commented on #42428
@alexiawunder I don't know the locations of the most recent versions of each screen.  Would you mind updating the links in the request?  Thanks!

[2022-11-09 20:11] ericasauv09 opened #49514 "[FE] My VA Audit UX Improvements: Update Copy in Claims Section from "View" to "Review""
## Background
As part of our midpoint review for the My VA Audit project we were asked to update all instances of the word "view" to "review" to avoid using sighted words. In the Claims and Appeals section we have a link that states "View details", we need to update this to "Review details." Sketch files can be found [here](https://www.sketch.com/s/9b0e6efc-423a-4354-9db3-ab2083d566c9/a/25LlG1l) a

[2022-11-09 20:15] ericasauv09 commented on #48437
Yea that is what we were hoping to be able to pull originally but I could not figure out how to pull analytics on user flows or if it was possible, we can attend analytics office hours and see if they have any ideas on how to pull this. @SKasimow what do you think?

[2022-11-09 20:20] thehastingsp commented on #48159
this looks good from my review.

[2022-11-09 20:24] thehastingsp commented on #46511
@Mottie can you tag me when it is ready please?

[2022-11-09 20:28] Mottie commented on #46511
This work is ready to be reviewed in staging. Please note that the URL is now https://staging.va.gov/decision-reviews/supplemental-claim/file-supplemental-claim-form-20-0995/introduction

[2022-11-09 20:30] Mottie commented on #48397
This work is ready to be reviewed in staging. Please note that the URL is now https://staging.va.gov/decision-reviews/supplemental-claim/file-supplemental-claim-form-20-0995 - if you get a page not found message, remove the /introduction from the URL

[2022-11-09 20:37] andaleliz commented on #48437
I think I know! When you are looking at info for a page under the Site Content section, you can click on "Navigation Summary" next to the "Explorer" tab and see what the next page path is.

<img width="1498" alt="image" src="https://user-images.githubusercontent.com/55992116/200936745-09d1d7e1-e7db-4666-a608-1cb8478c8d20.png">

If you can tell me the date range you used, I can look at the report m

[2022-11-09 20:43] thehastingsp commented on #48397
looks good from design/content.

[2022-11-09 20:43] #48675 closed

[2022-11-09 20:51] ericasauv09 commented on #48701
Updated #47683 to include task to capitalize GI Bill and created #49513 and #49514 to update "view" instances to "review."

[2022-11-09 20:51] #48701 closed

[2022-11-09 20:54] kristenmcconnell commented on #49136
Ben and I met and moved over two still relevant Murals to the A6 space.

[2022-11-09 20:58] ericasauv09 commented on #48437
Wooow, I spent like 2 hrs trying to figure that out and I could have just asked you lol! I used Aug 1st - Oct 20th for my date range, so looks like there was 16,060 page views from contact info to notification settings during that time

[2022-11-09 20:59] skylerschain opened #49515 "[Research] 1-pager proposal for veteran representation research"

[2022-11-09 21:00] skylerschain opened #49516 "[Research] 1-pager proposal for disagreement pathways research"

[2022-11-09 21:01] skylerschain opened #49517 "[Research] 1-pager proposal for initial decision speed research"

[2022-11-09 21:02] benbrasso-agile6 commented on #47816
LGTM

[2022-11-09 21:03] bramleyjl commented on #48562
I looked up several of the IPs from these logs and found that these errors are usually happening 15-60+ minutes after the authorize call to start the SiS login flow was called. I believe that the majority of these are resulting from users that start SiS authentication but do not finish CSP authentication until much later, so when the CSP returns our `state_code` it is no longer there, as it is set

[2022-11-09 21:29] andaleliz commented on #48437
Oh no! I'm so sorry, I didn't realize you didn't know how to do that.

Looking at that date range for contact information, I see the notification settings was the previous page path for ~21,000 pageviews, and the next page path for ~16,000 page views. So there's a 4,000 page view drop off. Ah, but honestly I'm not sure if that's really significant. Analytics is hard :(

If you think pulling update

[2022-11-09 21:35] #49351 closed

[2022-11-09 21:42] holdenhinkle commented on #49447
I've got this all coded up, sans tests. I haven't run it yet.

I'll try to run it locally tomorrow. I'll pick a table that needs to be updated, add the new `encryption_updated_at` column to it, and see if I can run this locally. When i say 'see if I can run this locally', i mean, will calling `rotate_kms_key!` on a record work locally?

[2022-11-09 21:50] kristenmcconnell commented on #49136
List of contacts send to Ben and Lori via Slack.

[2022-11-09 21:54] wesrowe opened #49518 "Medallia intercept modal: can't interact with Medallia when it's stacked over another modal"
## What happened?

On mobile, when the Medallia intercept modal appeared on top of the Find-a-form PDF Download Instructions modal, my taps/clicks interacted with the FaF modal underneath instead of the Medallia modal that was visible.  So for instance, I was able to interact with the "download adobe reader" link as if the Medallia modal wasn't there at all.

**Screenshot of PDF Download modal:**

[2022-11-09 21:57] it-harrison commented on #43860
@jacobworrell could you provide a link in the QA artifacts to demonstrate that you have E2E tests for this product? Could be a link to mochawesome from a CI run?

[2022-11-09 21:58] heyjoni opened #49519 "Best bet request for Careerscope and O*Net"
# Template Instructions
- You are here to creation or change a Best Bet on VA.gov pages.
 -  Select Request Type:
    - [x] NEW: You would like to create a new best bet
    - [x] CHANGE: You would like to change an existing best bet
- Complete the corresponding section below to provide the relevant details  *(Section 1- New Request or Section 2-Change Request)*
- Post a link to this issue in Slack

[2022-11-09 21:58] it-harrison opened #49520 "QA feedback - Collaboration Cycle for Benefits Team 1, Claim Status Tool, Download Decision Letters"
## VFS acceptance criteria
- [ ] Let Platform know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
- feedback for #43860

## Feedback
- Practice areas will document their feedback following the [Must, Should, and Consider Framework](https://depo-platform-documentation.scrollhelp.

[2022-11-09 22:03] ericasauv09 commented on #48437
lol no worries! I didn't think to ask and I learned a lot by digging around in GA.

We can jump on a call tomorrow if you want and discuss more, I think the page flow is helpful but it still is hard to correlate that back to how many users are seeing the alert to add a mobile # vs how many are interacting with it and then returning via the "manage text notifications" link.

[2022-11-09 22:04] holdenhinkle commented on #49447
Update code to use `Sidekiq::Client.push_bulk` - https://github.com/mperham/sidekiq/wiki/Batches#huge-batches

[2022-11-09 22:27] brianseek commented on #47347
@loripusey with the appSet HOC and data persistence stuff, it looks like this issue no longer exists. Can you validate that you also don't see this behavior and close?

[2022-11-09 22:37] bradbergeron-us commented on #49408
I have a [PR ready](https://github.com/department-of-veterans-affairs/vets-api/pull/11107) for review using the```
 `service = BGS::Service.new(@current_user)
response = service.get_ch33_dd_eft_info` in our controller.
[code]

[2022-11-09 22:46] brianseek commented on #49267
moving to closed since there are no validation steps.

[2022-11-09 22:46] #49267 closed

[2022-11-09 22:53] outerpress commented on #45948
Hi @DanielleThierryUSDSVA [here are the updated screens](https://www.figma.com/file/7xco5cdj7kLqZH4WfUodiH/Content-Review---CC-and-Request-Flow---Screen-Files?node-id=0%3A1), I updated a couple of things we talked about today. If you could take one more pass just in case I missed anything I'd appreciate it - thanks!

[2022-11-09 22:53] FonzMP commented on #48702
hey @ianhundere, does `Awaiting Approval` require anything from our end (Team Dash)? Just want to make sure you're not waiting on us. - Thanks!

[2022-11-09 23:23] shanemelliott commented on #43856
![image.png](https://images.zenhubusercontent.com/5fb2cc990446ae1e7ea9453b/ee385111-bf3b-413e-accf-8c9840318f1a)

[2022-11-09 23:24] shanemelliott commented on #43856
ovac_vetext.App.CC_UC5

[2022-11-09 23:25] shanemelliott commented on #43856
![image.png](https://images.zenhubusercontent.com/5fb2cc990446ae1e7ea9453b/24ff322d-f263-4e4d-9a1a-7af854e16e0e)

[2022-11-09 23:30] acrollet opened #49521 "[UX] [SPIKE] Review end of interaction for DAY OF CHECK IN"
## Background

Similar [ticket](https://github.com/department-of-veterans-affairs/va.gov-team/issues/49400) that contains potential solution

If a user opens a check-in page without a current valid session, we show a generic error page. This might be confusing/worrying to users and give the impression that they have done something wrong.

How might we improve users' interactions after they have co

[2022-11-09 23:42] theodur commented on #48374
The PR has been merged. I tested the changes on dev and staging and everything is working properly. The changes will take effect on prod tomorrow after the daily deploy

[2022-11-10 00:27] shanemelliott commented on #43856
reviewed consult for patient sid 24804718 was active in my qry but was scheduled today.  Need to have a live verification before sending.

[2022-11-10 00:41] aliyahblackmore commented on #49320
Hi Laura! As we chatted, here is a draft of the VALife page for your review.

[VALife_AB_11.7.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/9976172/VALife_AB_11.7.docx)

As mentioned in the ticket, the page was roughly built using the current life insurance page structures (i.e. the[ S-DVI page](https://www.va.gov/life-insurance/options-eligibility/s-dvi/)) with updates

[2022-11-10 12:28] joshkimux opened #49522 "Qualitative Data Request"
### Data Type Requested

User Surveys

### Date Range Start

01-01-2022

### Date Range End

11-01-2022

### Product Name(s)

Accessibility

### Product Description

Submitting a follow up request to investigate DEIA considerations for the keyword `racism`

### Product URL(s) and/or term(s)

All urls

### VA Email Address(es)

joshua.kim3@va.gov, martha.wilkes@va.gov

### Add Assignee and Labels

[2022-11-10 12:28] DanielleThierryUSDSVA commented on #42470
Thanks so much, @megzehn!

[2022-11-10 12:39] #49411 closed

[2022-11-10 13:14] loripusey commented on #47347
validated in staging & prod; no longer see the bug

[2022-11-10 13:14] #47347 closed

[2022-11-10 13:18] loripusey opened #49523 "Design Considerations for Structuring Language Toggle, Progress Bar & Navigation Links"
## Tasks

- [ ] Explore if order of language toggle, back navigation, progress bar and h1 need to be reordered. Identify and document issues with the current order.
- [ ] Create wireframe for new solution.
- [ ] Share solution with UX team.
- [ ] Share solution with product and CIE team.
- [ ] If desired, discuss with platform design team. E.g., Carol, Matt, etc.
- [ ] [Create experimental design

[2022-11-10 13:34] ianhundere commented on #48702
no, y'all are good. the awaiting approval tag is for the approver(s).

[2022-11-10 14:03] jcatergovy commented on #47757
@SKasimow I concur.  I'll close this branch and we can make a new one when we open the new ticket.

[2022-11-10 14:03] jcatergovy commented on #47757
@SKasimow I concur.  I'll close this branch and we can make a new one when we open the new ticket.

[2022-11-10 14:06] #47757 closed

[2022-11-10 14:15] ldelacosta commented on #49497
Hi @ajmagdub - it looks like this ticket is a duplicate of #49498. Can we close this ticket out?

[2022-11-10 14:17] Cmjones233 commented on #49401
Draft posted to Slack for Chance and Justin to review

[2022-11-10 14:22] Cmjones233 opened #49524 "Troubleshoot CC Discrepancy [11/14/2022]"
Drew Wagner submitted support ticket regarding the following:
- Stations for vision 10 are off by two when looking at active status between enabled dashboard and drilldown dashboard.

- Response rate all appears to be 100% so double checking.

[2022-11-10 14:26] shiragoodman commented on #48009
@it-harrison no additional comments from OCTO, so this should be good to close. Please check off remaining tasks and AC, then close.

[2022-11-10 14:28] #49388 closed

[2022-11-10 14:28] #48009 closed

[2022-11-10 14:29] jcatergovy commented on #47477
Fixed, let me know if anything else stands out @SKasimow
![47477.png](https://images.zenhubusercontent.com/632e0024b571f3ae02607148/93485e7e-9d5f-4fb2-aba2-43a9798a639f)

[2022-11-10 14:30] shiragoodman commented on #49324
@allison0034 @sterkenburgsara the tasks you identified seem to only address personas on the VFS side - what about Platform? Would we identify the orientation hosts as a persona?

[2022-11-10 14:36] RLHecht opened #49525 "Update NADL rate-HOLD TO PUBLISH UNTIL 11/21"
## Issue Description
We need to update the rate on our [Native American Direct Loan](https://www.va.gov/housing-assistance/home-loans/loan-types/native-american-direct-loan/) page. This number should change to **6.75%**

We need to hold to publish until 11/21.

## Tasks
- [x] Update page (Aliyah)
- [x] Copyedit (Megan)
- [x] Publish (Megan)
- [x] Notify stakeholder that changes are live (Randi)

#

[2022-11-10 14:43] kristenmcconnell commented on #49136
I updated the VSignals directions with more details after talking to @benbrasso-agile6. Ben is going to move the VSignals folder to his OneDrive space. I'm adding him to this ticket, so he can mark when that task is done.

[2022-11-10 14:44] michelle-dooley commented on #49507
Access granted.

[2022-11-10 14:44] MarciMcGuire opened #49526 "SUPER EPIC - IDENTITY TEAM"

[2022-11-10 14:45] #49507 closed

[2022-11-10 14:45] Mottie commented on #48399
This work is ready to be reviewed in staging. Please note that the URL is now https://staging.va.gov/decision-reviews/supplemental-claim/file-supplemental-claim-form-20-0995 - if you get a page not found message, remove the /introduction from the URL

[2022-11-10 14:47] #49492 closed

[2022-11-10 14:49] MarciMcGuire opened #49527 "-- MHV TEAM --"

[2022-11-10 14:52] MarciMcGuire opened #49528 "--HEALTH APT CORE TEAM--"

[2022-11-10 14:55] Mottie commented on #41046
I can only think of checking the separation pay and retired pay dropdowns... then we need to make sure stuff is getting submitted. We can probably check with lighthouse in our touchpoint today to see if there have been any rejections.

[2022-11-10 14:57] ldelacosta commented on #48685
Validated all the scenarios and this ticket has no issues. Closing out the ticket

When a user did not enter an email address: ![Screen Shot 2022-11-10 at 6.54.43 AM.png](https://images.zenhubusercontent.com/615208f37e69549d6e01d915/d0f1f85e-66c8-43d8-8443-55fee3a8fda4)

When a user enters more than 50 characters: ![Screen Shot 2022-11-10 at 6.54.18 AM.png](https://images.zenhubusercontent.com/615

[2022-11-10 14:57] #48685 closed

[2022-11-10 14:59] benbrasso-agile6 commented on #49136
This has been copied over to my drive. I shared the folder with Lori and Kelly. What are these two files at the root of that folder? Do I need them?

<img width="846" alt="Screen Shot 2022-11-10 at 9 58 16 AM" src="https://user-images.githubusercontent.com/101129355/201126325-23ae6a06-7354-4114-84ae-b3c637131d5a.png">

[2022-11-10 15:03] michelle-dooley commented on #49467
@BillChapmanUSDS - Access to GA and Domo has been granted.  Are there specific tables in BQ you need access to?  We try to limit BQ access to only what users need and most people don't need it at all, its more for the Analytics and select Platform teams.

[2022-11-10 15:05] kristenmcconnell commented on #49136
@benbrasso-agile6 Ask @kellysmith1008  if she is done with the 11 7 file. She created it earlier this sprint when she started analysis. We talked about doing everything in the main file, so the 11 7 file should be able to be removed if she agrees.

[2022-11-10 15:06] shiragoodman opened #49529 "Move Accessibility guidance on PW out of the "QA and Accessibility" parent page"
## User Story
As a VFS team member, I want to be able to find Accessibility guidance in as few clicks as possible so that I can access the information quickly and efficiently.

Assignee: @briandeconinck
Peer Reviewer: @CherylEvans

## Description
Currently, the Accessibility guidance on Platform Website/Developer docs is bundled with the QA guidance. This was likely because both practice areas wer

[2022-11-10 15:08] benbrasso-agile6 commented on #49136
@kellysmith1008 I gave you access to the "new" folder in my one drive. I would recommend saving those two orphan files into the new new folder when you're at a good stopping point.

[2022-11-10 15:08] #49318 closed

[2022-11-10 15:11] aliyahblackmore commented on #46767
Just updating here that this is on hold!

[2022-11-10 15:13] MarciMcGuire opened #49530 "Test"

[2022-11-10 15:13] #49530 closed

[2022-11-10 15:26] aliyahblackmore commented on #45746
11/10 update: Translators sent back Tagalog meta descriptions so we are waiting to get the Spanish content back.

[2022-11-10 15:26] thehastingsp commented on #48399
hey @Mottie I'm expecting to see this after AMA opt-in, but don't. I see evidence choice?

[2022-11-10 15:31] thehastingsp commented on #48399
the design, content and error state look good otherwise.

[2022-11-10 15:34] #49110 closed

[2022-11-10 15:34] RLHecht commented on #48822
@aliyahblackmore here's the content back from the translators:

[https://app.zenhub.com/files/133843125/370814d7-d8f2-446a-a95c-c8c0eaf6df1d/download](https://app.zenhub.com/files/133843125/370814d7-d8f2-446a-a95c-c8c0eaf6df1d/download)

[2022-11-10 15:37] ajakabcin commented on #48704
@tmitchellgcio and @ericasauv09 - moving this to sprint 87 so Taylor can do the copy update on the payment info instead ahead of UAT.

[2022-11-10 15:44] holdenhinkle opened #49531 "Sprint 17/18 - Technical support for Platform & VFS teams"
## Problem
VFS and Platform crew teams need support for developer operations, technical issues, code reviews, etc. They also need access to platform resources to manage the applications delivered through platform infrastructure.

## Background
- Support may originate in response to troubleshooting health or performance issues
- Support may be needed to facilitate the completion of product initiati

[2022-11-10 15:48] allison0034 commented on #49324
@shiragoodman just chatted with Sara about this. we are going to include a persona for Platform but we aren't sure if we are going to do the same research as with VFS teams.

[2022-11-10 15:51] laineymajor commented on #49190
@ianhundere do you know who we are waiting on approval from? I'd like to escalate.

[2022-11-10 15:51] RLHecht opened #49532 "Update the mailing address on the pre-need eligibility for burial page"
## Issue Description
Our NCA stakeholders asked us to change the address on our [Pre-need eligibility for burial in a VA cemetery](https://www.va.gov/burials-memorials/pre-need-eligibility/) page.

Under the H2 How do I apply? the address to send a completed application should be changed to this:

NCA Intake Center
PO Box 5237
Janesville, WI 53547

## Tasks
- [x] Update page
- [x] Copyedit (Megan)

[2022-11-10 15:55] acrollet opened #49533 "[BE] Remove LoROTA api_key from vets-api config"
## Background

In order to avoid confusion/doubt during security audits, we should remove the LoROTA dev [api_key stored in `config/settings.yml`](https://github.com/department-of-veterans-affairs/vets-api/blob/1c27aaf8687eab1b488997848c55b320f3da3305/config/settings.yml#L1348) and replace with something like `fake_key`.

https://dsva.slack.com/archives/C01CJV0L9PS/p1668086994665709 for more backg

[2022-11-10 15:55] acrollet commented on #49533
@randomsync @kanchanasuriya should we also consider parameterizing the keys for lower envs in the devops repo?

[2022-11-10 16:08] data-doge commented on #47435
Update: LGY has pushed their fixes to SQA, and we are now pointing to SQA again. Unfortunately, now I am noticing that users in staging no longer have EDIPIs or ICNs. This presents a problem for us because LGY requires these values in order to use their API. I've reached out to platform support for guidance here: https://dsva.slack.com/archives/CBU0KDSB1/p1668096387136999

[2022-11-10 16:12] ajakabcin opened #49534 "[PM] My VA Audit UX improvements: test case documentation"
## Background
We need to get all test cases documented in Github for the audit improvements

## Tasks
- [x] Document test cases in GH
- [x] Designer to add sketch files for use cases
- [x] Create test user summary table (if time permits)
- [x] Review with APM/Design

## Acceptance Criteria
- [x] Test cases are documented in github with corresponding test users and sketch files for visual check
- [

[2022-11-10 16:12] ajakabcin opened #49535 "[PM] My VA Audit UX improvements: Prep for analytics request"
## Background
In preparation to submit our analytics request for My VA audit improvements we need to review our existing analytics and create an inventory of what we have tracked in the current implementation/existing tags to determine what new tags we need to add and which ones we need to rename to correctly reflect what they're tracking.

## Tasks
- [x] Review GA tags to see what we have in plac

[2022-11-10 16:13] saderagsdale opened #49536 "Supplemental Claims | Submit VA Medical Evidence"
## Value Statement
**_As a_** Veteran
**_I want to_** submit VA medical evidence
**_So that_** I can have it reviewed in support of my claim.

---
## Background Context

The evidence flow for VA medical evidence was previously using an all-in-one page list loop pattern. We have a new one (sorta) question per page pattern to reduce the complexity & cognitive load of the page.

## Acceptance Criteri

[2022-11-10 16:17] #47816 closed

[2022-11-10 16:18] shiragoodman opened #49537 "Update VA.gov Product Directory link in "Anatomy of a Staging Review Issue Ticket""
## User Story
_"As a (persona), I (want to), (so that)."_

Assignee:
Peer Reviewer:

## Description
The VA.gov Product Directory link, listed under Labels/VA.gov Product Labels of the [Anatomy of a Staging Review Issue ticket](https://depo-platform-documentation.scrollhelp.site/collaboration-cycle/anatomy-of-a-staging-review-issue-ticket#AnatomyofaStagingReviewIssueticket-Labels) page on Platform

[2022-11-10 16:20] ytsaoca commented on #48476
@loripusey Which board are you mentioning?

[2022-11-10 16:22] BillChapmanUSDS commented on #49467
Hey Michelle, Thank You!   I discussed Big Query with some of the Platform Crew ***@***.***, ***@***.***> and @Delrue, Thomas ***@***.***>) and we think that in my role as an SRE lead it would be valuable for me to have full (all tables) but read-only access. If this is a problem we can open it for further discussion, but I'm trying to ensure I have the access I need to take a wide view across the

[2022-11-10 16:23] loripusey commented on #48476
never mind

[2022-11-10 16:34] andaleliz commented on #49251
Hi - want to call out that I updated the mocks today to reflect the hiding of the profile menu on this page, to help users stay focused on their task. This should apply for mobile and desktop versions.

[2022-11-10 16:34] elizabethkochBT opened #49538 "Adding [Ksenia Coulter] to DSVA Slack"
# Description

**new user requests**: please verify that the user does not already exist in dsva.slack.com (it may be the account exists, but is not in a particular channel)

Please add [kcoulter@pluribusdigital.com](mailto:kcoulter@pluribusdigital.com) as a full member.
Ksenia is Senior Sr. Software Eng. for the new identity product team.

[2022-11-10 16:40] saderagsdale opened #49539 "Supplemental Claims | Submit Private Medical Evidence"
## Value Statement
**_As a_** Veteran
**_I want to_** submit private medical evidence
**_So that_** I can have it reviewed in support of my claim.

---
## Background Context

The evidence flow for private medical evidence was previously using an all-in-one page list loop pattern. We have a new one (sorta) question per page pattern to reduce the complexity & cognitive load of the page.

## Acceptan

[2022-11-10 16:41] ianhundere commented on #49190
@laineymajor approvals happen every Thursday by either @td-usds or @mchelen. there is no avenue for escalation.

[2022-11-10 16:46] saderagsdale opened #49540 "Supplemental Claims | Submit supporting evidence"
## Value Statement
**_As a_** Veteran
**_I want to_** submit supporting evidence
**_So that_** I can have it reviewed in support of my claim.

---
## Background Context
- Add here

## Acceptance Criteria
- [ ] User may upload multiple documents.
- [ ] User must upload files that meet size and type criteria.
- [ ] User must select the document type before selecting Continue.
- [ ] Unit tests comple

[2022-11-10 16:48] OptionSelect commented on #47442
Good afternoon, my apologies for missing this. On staging I used user 228 in order to get to the page. I went through the FSR and submitted it with a compromise reaching this page. This is where we'd expect to see those events rattling off for Denise whether or not they ended up doing one, the other, or both!

![image](https://user-images.githubusercontent.com/29178824/201156281-b9057df3-db1c-4cb2

[2022-11-10 16:50] saderagsdale opened #49541 "Supplemental Claims | Error Handling"
## Value Statement
**_As a_** Veteran
**_I want to_** understand how to correct errors
**_So that_** I can quickly submit my claim.

---
## Background Context
Catch all for sections of the form that have already been built. Error handling will be included in future user stories.

## Acceptance Criteria
- [ ] Inline errors do not include the word "please"
- [ ] Form errors appear with correct copy,

[2022-11-10 16:51] #49499 closed

[2022-11-10 16:51] #49346 closed

[2022-11-10 16:53] saderagsdale commented on #49541
@thehastingsp @eileen-coforma added a placeholder for error messages that cover anything we've already built for Supp claims. feel free to drop design notes and context here.

[2022-11-10 16:56] thehastingsp commented on #48399
sounds good! @eileen-coforma I'll ask you to keep an eye on this one please

[2022-11-10 16:57] SKasimow commented on #47757
@ericasauv09 - could you create the new ticket for this work?

[2022-11-10 17:05] jaredcunha opened #49542 "DDL: Write Cypress tests"
## Value Statement

**_As a_** front end developer
**_We want to_** make sure that all the DDL code has e2e testing coverage
**_So that_** we can ensure we're releasing a quality product

## Background Context

DDL is getting closer to release, we need to ensure all important flows have e2e test coverage, including keyboard-only testing

## Tasks
- [x] Write all e2e tests for DDL

## Definition of

[2022-11-10 17:16] RLHecht commented on #49532
@megzehn can you do a copy edit of this page? I am still looking to see if we have the address anywhere else that needs to change but for now we can publish this one. Thanks!

[2022-11-10 17:17] SKasimow commented on #47477
@jcatergovy - also, still need tweaks for the first scenario:

![Staging alert](https://user-images.githubusercontent.com/74627978/199132091-aefa95a8-20bd-4935-a5b4-a254830057d5.png)

[2022-11-10 17:24] djfredvs opened #49543 "11/16/22 9:30 AM Power BI Dashboard Training"
Booked by Taiesha Clency

[2022-11-10 17:26] djfredvs opened #49544 "11/15/22 9:30 AM VEText Pre-Check-In Training"
Booked by Taiesha Clency

[2022-11-10 17:32] acrollet commented on #48101
I verified that we are getting appts for echeckin disabled, but are not displaying this message. It looks like we're not getting the correct eligibility status to be able to do so, I spoke with the API team and logged https://github.com/department-of-veterans-affairs/chip/issues/1396

We should re-check this once that's complete.

[2022-11-10 17:39] djfredvs opened #49545 "11/23/22 11:30 AM VEText Open Slot Management Training"
Booked by Dennis Falgoust

[2022-11-10 17:39] adamwhitlock1 commented on #48202
I'm going to close this issue and we just need to track once VA Profile starts testing this notification setting in lowers we can then validate this further.

[2022-11-10 17:39] #48202 closed

[2022-11-10 17:43] shiragoodman opened #49546 "[Markup and meta data] Name and role can't be programatically determined for UI components. (09.06.1)"
### General Information

#### VFS team name
Benefits Team 1

#### VFS product name
Claim Status Tool

#### VFS feature name
Download Decision Letters

#### Point of Contact/Reviewers
Tiffany Pender - @TiffanyPender - Accessibility (Shared Support team)

*For more information on how to interpret this ticket, please refer to the [Anatomy of a Staging Review issue ticket](https://depo-platform-docume

[2022-11-10 17:43] shiragoodman opened #49548 "[Link and button labels] Button and link language isn't descriptive and/or their purpose isn't clear. (08.03.1)"
### General Information

#### VFS team name
Benefits Team 1

#### VFS product name
Claim Status Tool

#### VFS feature name
Download Decision Letters

#### Point of Contact/Reviewers
Tiffany Pender - @TiffanyPender - Accessibility (Shared Support team)
Sara Sterkenburg - @sterkenburgsara - IA

*For more information on how to interpret this ticket, please refer to the [Anatomy of a Staging Review i

[2022-11-10 17:43] shiragoodman opened #49549 "[Content organization] Your page doesn't follow heading hierarchy. Headings aren't properly nested, and headings and/or labels aren't relevant to the page. (02.04.1)"
### General Information

#### VFS team name
Benefits Team 1

#### VFS product name
Claim Status Tool

#### VFS feature name
Download Decision Letters

#### Point of Contact/Reviewers
Tiffany Pender - @TiffanyPender - Accessibility (Shared Support team)

*For more information on how to interpret this ticket, please refer to the [Anatomy of a Staging Review issue ticket](https://depo-platform-docume

[2022-11-10 17:50] td-usds commented on #42670
approved

[2022-11-10 17:50] laurwill commented on #48028
Hi @megzehn , I moved the info from the note into the main text of the "refunds" section, as SME requested and we chatted about in standup. If that looks good to you, this is ready for a final copyedit and publishing today!

Noting that we only made changes to the "will i have to pay this fee" section — we have a backlog ticket to look at updates to the page as a whole.

http://preview-prod.vfs.va

[2022-11-10 17:51] td-usds commented on #46106
approved

[2022-11-10 17:52] ericasauv09 opened #49550 "FE | Profile | Bug | Adjust Placement of In-line Error Alert and Text"
## Background

The text used for the in-line error messages on the Contact info page should be placed above the buttons.

Specifically since this alert is templated in a section of a component that doesn't include the buttons, it can't just be moved as is, and will need to move to a more 'global' component that is higher in the component tree. The associated ticket #47757  has more information abo

[2022-11-10 17:52] td-usds commented on #47235
Lower environment access is approved, production is not approved at this point

[2022-11-10 17:53] ericasauv09 commented on #47757
Created #49550

[2022-11-10 17:53] aagosto90 commented on #45008
@Samara-Strauss Thank you for taking the time to review this and clarify what "use cases" are intended to be for this documentation - super helpful. I'm glad I understand it better before working on use case documentation for other sections.

- I updated the Sketch link in the product outline so it's no longer broken.
- I opted to make one use case for a user having a single notification or multip

[2022-11-10 17:59] outerpress commented on #10660
@ldelacosta could you review/see if this is still needed?

[2022-11-10 18:03] td-usds commented on #46853
Reached out to VOR

[2022-11-10 18:04] td-usds commented on #49039
Reached out to VOR

[2022-11-10 18:04] td-usds commented on #49333
Reached out to VOR

[2022-11-10 18:04] td-usds commented on #49190
Reached out to VOR

[2022-11-10 18:04] td-usds commented on #48702
Reached out to VOR

[2022-11-10 18:04] pscruz opened #49551 "Login.gov >> MFA Opt-Out"
## Product Outline

Part of the process of logging into login.gov is to undergo MFA. Currently, only one MFA is **required** albeit it is recommended to use two. This epic is to allow a user to opt-out of MFA entirely, knowing the security risks posed by such action.

### Scenario 1
**Task 6**: MFA >> pivot to opt-out of MFA >> https://www.figma.com/file/nAlLYv1GLIpB9KMavdZKq0/VA-Identity-Research

[2022-11-10 18:06] BillChapmanUSDS commented on #49467
I approve Bill's request: access to all tables but read-only.
He has a legitimate need-to-know that justifies his access.

________________________________________
Van: Chapman, William W. II ***@***.***>
Verzonden: donderdag 10 november 2022 11:22
Aan: department-of-veterans-affairs/va.gov-team; Wang, Ray; Delrue, Thomas (he/him/his)
Onderwerp: RE: [EXTERNAL] Re: [department-of-veterans-affairs/v

[2022-11-10 18:07] #47095 closed

[2022-11-10 18:08] #49075 closed

[2022-11-10 18:09] joeniquette commented on #48562
standard activity, closing.

[2022-11-10 18:09] #48562 closed

[2022-11-10 18:12] jhouse-solvd commented on #49455
The artifact has been published here: https://vfs.atlassian.net/wiki/spaces/TT2/pages/2430861377/Lean+UX+Canvas

This issue can be closed.

[2022-11-10 18:15] tmitchellgcio commented on #49513
Just merged may need to wait 30 min for staging to deploy

[2022-11-10 18:15] joeniquette commented on #48560
We will close for now and reinvistigate the errors after Alex fixes how some frontend routes are called

[2022-11-10 18:15] #48560 closed

[2022-11-10 18:16] cmaeng opened #49552 "Removing Blake Organ's multi-channel guest account from DSVA Slack"
# Description

Blake Organ is currently in DSVA slack as both a full member and a multi-channel guest.

We'd like to remove his multi-channel guest profile and keep his full member one.

blake.organ@civicactions.com

[2022-11-10 18:16] joeniquette commented on #48559
closing until frontend route calls are fixed

[2022-11-10 18:16] #48559 closed

[2022-11-10 18:18] joeniquette commented on #49221
we switched to the `dslogon` scope to resolve this issue for now. Closing until IDme comes back with a solution.

[2022-11-10 18:18] #49221 closed

[2022-11-10 18:20] Samara-Strauss commented on #45008
This is great, and thank you!

One small thing -- [in this doc](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/notifications/vagov-notifications/use-cases/user-has-notifications.md), I think you can remove the links to the Sketch files under "User clicks link in notification" and "User dismisses notification". Describing the functionalit

[2022-11-10 18:22] shiragoodman commented on #46782
@gfpgcio you've been added to vets.gov-write. All Platform tasks complete.

[2022-11-10 18:24] shiragoodman commented on #49443
@vbellissimo The sentence below question # 5 is meant to cover both 4 and 5. I like your suggestion, though. Can we change the text after 5 to, "We ask this questions to determine if Analytics will need to be involved in your Collaboration Cycle reviews, and if an Analytics Request is necessary." and then the exact same thing under question 4?

[2022-11-10 18:29] joeniquette commented on #48561
@bramleyjl please give me icn, cspid, mpi transaction id of the mpi query.

[2022-11-10 18:30] ajakabcin commented on #48792
requested validation yesterday from analytics team on this in the implementation request ticket - #48598

[2022-11-10 18:32] jcatergovy commented on #47477
@SKasimow Changes have been made and PR is out.  I'll let you know as soon as it's ready for testing in Staging.

[2022-11-10 18:33] saderagsdale commented on #49301
@eileen-coforma @saderagsdale Get snapshots of screens being removed, and confirm with Barrett and Matt.

[2022-11-10 18:33] BillChapmanUSDS commented on #49467
Michelle and I spoke about this request during our PO sync. She will move forward with granting the read-only access.

 
RAY WANG
PRODUCT MANAGEMENT LEAD
CONTRACTING OFFICER'S REPRESENTATIVE
VA.GOV PLATFORM
OFFICE OF THE VA CTO  
919-685-0067

-----Original Message-----
From: Delrue, Thomas (he/him/his) ***@***.***>
Sent: Thursday, November 10, 2022 1:06 PM
To: Chapman, William W. II ***@***.***>;

[2022-11-10 18:34] acrollet commented on #49074
@brianseek @wullaski and I just met with @robertdurkin to go over our VEText specific questions, notes follow:

#### Rate limiting/throttling:
- rate limits are high, 100 segments/second
- most patients use short code, a few hundred whose carriers don't allow short code messaging use a long code
- VEText has never had throttling issues, but possible that it has encountered Twilio's send queue
- VE

[2022-11-10 18:40] laurwill commented on #45774
Hi @dsinla ,
Just checking on timing for the new COVID status messaging rollout — our content team has a [ticket to update related content on the covid FAQ page](https://github.com/department-of-veterans-affairs/va.gov-team/issues/48112), so want to align our updates with yours.
Thank you!

[2022-11-10 18:46] ytsaoca commented on #49400
Current screenshot:![localhost_3001_health-care_appointment-check-in_see-staff (1).png](https://images.zenhubusercontent.com/6148b41faabf78b679dbacff/b4356a6b-d1a1-4b1a-9f69-1770beb74c30)

[2022-11-10 18:46] ytsaoca commented on #49400
Current screenshot:![localhost_3001_health-care_appointment-check-in_see-staff (1).png](https://images.zenhubusercontent.com/6148b41faabf78b679dbacff/b4356a6b-d1a1-4b1a-9f69-1770beb74c30)

[2022-11-10 18:47] benbrasso-agile6 commented on #49074
I was curious if we could create an explicit opt-in within the VA.gov CIE specifically for receiving check-in notifications. Of course, if a Veteran were to opt-out of "all" VEText notifications, then we'd need to adhere to that rule.

[2022-11-10 18:49] SrfFshn commented on #49469
We have developed the Identity Product Team Calendar on the Mo Studio Google domain...

[2022-11-10 18:50] joshkimux commented on #49546
This is a great catch @TiffanyPender ⭐ I'll reach out to the sitewide folk to see if this is something they can handle as it's out of our control on benefits.

@laflannery , my goldfish memory thinks y'all on sitewide may already be aware of this issue! Do y'all have a ticket in place documenting it so we can close this one out?

[2022-11-10 18:53] allison0034 commented on #49546
@TiffanyPender @joshkimux there is another bug with the pagination component so DST will be doing work on this. Please fill out a [bug report ticket](https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/new?assignees=&labels=vsp-design-system-team%2C+bug&template=1_bug_template.md&title=).

[2022-11-10 18:55] joshkimux commented on #49548
Our team is already working on this ✨
- [I've documented a path forwards using `aria-describedby`](https://github.com/department-of-veterans-affairs/va.gov-team/issues/46508#issuecomment-1297661689)
- [We have an open task to work on it](https://github.com/department-of-veterans-affairs/vets-website/issues/22634)
- @jaredcunha is this something you could help take on? 🙇

[2022-11-10 18:56] ericboehs commented on #48523
- [ ] Investigate traceroute and ICMP testing (is outbound ICMP allowed from our test nodes?; why would a gateway block ICMP?)

I threw up a [TCP test here](https://vagov.ddog-gov.com/synthetics/details/x2z-w8t-u7i) to play with. Once this is terraformed, we can delete it.

[2022-11-10 19:03] vbellissimo commented on #49443
@shiragoodman you're right, I didn't fully read that carefully. Sorry about that. And yes, I will make the changes based on your direction above. Thanks, Shira!

[2022-11-10 19:10] bramleyjl commented on #48561
* ICN: `1027434315V423368`
* [Transaction ID (Find Profile Response)](https://vagov.ddog-gov.com/logs?query=%222601%3A2c7%3A4200%3A1290%3Ab04c%3Acbb0%3Aef5d%3A2e24%22&cols=host%2Cservice&event=AQAAAYPxqve_ySckAAAAAABBWVB4cTBfNkFBQUFlRUNZVW82Y3V3QzM&index=&messageDisplay=inline&stream_sort=time%2Cdesc&viz=stream&from_ts=1666159200000&to_ts=1666245540000&live=false): `e0b63f9263504c8843f2c2b0`
* Log

[2022-11-10 19:13] theodur commented on #48374
The PR was merged yesterday. I tested the changes on dev and staging and everything seems to be working properly. The changes will take effect on prod today after the daily deploy

[2022-11-10 19:13] aliyahblackmore commented on #49320
Hey @laurwill !

Passing back the word doc with some updates following standup - including the H2 re: what should Veterans do if they have S-DVI and the note re: the premiums waiver.

The last H2 is still blank as we'll need the contact information from the stakeholder.

Thank you!!

[VALife_AB_11.10.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/9983954/VALife_AB_11.10.

[2022-11-10 19:25] thehastingsp commented on #49539
@saderagsdale user won't submit in this section of the flow - that is a distinct step.

[2022-11-10 19:27] eileen-coforma opened #49553 "Supplemental Claims | Submission Confirmation Page"
## Value Statement
**_As a_** Veteran
**_I want to_** receive a confirmation when I submit my form
**_So that_** I know if my form was submitted successfully.

---
## Acceptance Criteria
- [ ] User receives a confirmation for successful submission.
- [ ] User no longer sees successfully submitted Supplemental Claims as still in-progress
- [ ] Unit tests complete (90% coverage)
- [ ] E2E tests comp

[2022-11-10 19:27] sarahknoppA6 commented on #48824
Thanks Ben. I am awaiting a template from Booz Allen Hamilton in order to submit the estimate. They also mentioned something about needing to know if the travel dates are before or after January 10th. Do we have confirmed dates at this time? @benbrasso-agile6 @kellysmith1008

[2022-11-10 19:30] acrollet opened #49554 "[FE] [TECH DEBT] Replace remaining react component with web component"
## Background

We have one remaining react component in our codebase. (Modal [here](https://github.com/department-of-veterans-affairs/vets-website/blob/d60edf1aa4503bf542c58f46ddcaca37dd20aaf1/src/applications/check-in/pre-check-in/pages/Introduction/IntroductionDisplay.jsx#L6))

## Tasks
- [ ] [FE] component has been replaced
- [ ] [FE] functionality/design are confirmed unchanged
- [ ] Create or

[2022-11-10 19:31] acrollet commented on #49554
@brianseek here's the ticket. @loripusey this was brought up by the DS team, this will be a blocker to us using v3 components.

[2022-11-10 19:32] aagosto90 commented on #45008
Updated! Thanks @Samara-Strauss !

[2022-11-10 19:34] andaleliz commented on #48396
We heard back from BVA a while ago and I forgot to close this ticket.

[2022-11-10 19:36] thehastingsp commented on #48173
@saderagsdale think this is the summary ticket? If so, we need to add the ability to remove evidence and add another at summary. @eileen-coforma this is where we need the remove confirmation modal design added.

[2022-11-10 19:38] benbrasso-agile6 commented on #48824
We do not. I think our options are either: 1) we may need a few weeks to make that determination (and will then submit the estimate), or 2) if we need to submit the estimate now, then we could agree to travel past the 10th.

[2022-11-10 19:46] elizabethkochBT opened #49555 "SOCKS access for [Elizabeth Koch]"
### Your Name

Elizabeth Koch

### Your Email

elizabeth@bluetiger.digital

### Your Role and Team

Sr Product Manager - Identity Product Login.gov adoption Team

### Product Manager (PM) name and email

elizabeth@bluetiger.digital

### Product Owner (PO) name and email

john.rahaghi@va.gov

### Access Type Requesting

developers

### Public SSH Key

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC6DDAk2oX

[2022-11-10 19:48] andaleliz commented on #48537
We've discussed this with the team, and in light of the current contract status, we're going to hold off on further work for the "one thing per page" solution, and implement option 1. That is ready for FE, and the mock-ups are all available from the [use case documentation](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/profile/contact-i

[2022-11-10 19:48] #48537 closed

[2022-11-10 19:49] randomsync opened #49556 "[BE] Enable and add mocks for Travel Claim Submission endpoints"
## User Story
As a developer for Travel Claims submission, I want to be able to use the mocked responses when testing locally.

## Tasks
- [ ] [BE] Enable betamocks for Travel Claims by adding configs in service_config
- [ ] [BE] Add mocked responses to vets-api-mockdata repo

## Acceptance Criteria
- [ ] Deployed to staging
- [ ] Tested on staging

[2022-11-10 19:55] andaleliz commented on #48437
The day got away from me but I set something up for us tomorrow. I don't think it matters as much if they see that alert to add a mobile number, since they wouldn't see "manage text notifications" unless they came from the notification settings page.

I guess the real question we're trying to answer is "how many people get that manage text notifications link, and don't use it?"

[2022-11-10 19:57] megzehn commented on #48028
Thanks, @laurwill!

Confirming that this has been copy edited and published. CC @RLHecht

[2022-11-10 20:00] #49035 closed

[2022-11-10 20:01] djfredvs opened #49557 "11/17/22 12 PM VISN 2 VEText OSM Training"

[2022-11-10 20:15] elizabethkochBT commented on #49345
https://calendar.google.com/calendar/embed?src=c_9bab19ca4447c85373fa5208b64d64d19e6eb220497226bd0ef0fc4aec165a19%40group.calendar.google.com&ctz=America%2FNew_York

[2022-11-10 20:18] ericasauv09 opened #49558 "[FE] My VA Audit UX Improvements: Updates to LOA1 State based on Midpoint Review feedback"
## Background
During Midpoint review we received some feedback around our LOA1 state, the feedback was to use an em dash instead of a regular dash in the phrase "we need to make sure you're you - and not someone pretending to be you. - before we give you acces.."

Updated [sketch files](https://www.sketch.com/s/9b0e6efc-423a-4354-9db3-ab2083d566c9/a/uuid/32BCF55D-35A5-4A17-9F37-3DCA903B7A50) and [

[2022-11-10 20:19] ericasauv09 commented on #48706
created #49558 to address the FE changes for this

[2022-11-10 20:19] #48706 closed

[2022-11-10 20:19] chloedotbrown opened #49559 "Analytics Internal - BQ initial cleanup"
## Scope

Complete initial cleanup of `vsp_sites` and associated Analytics project folders in BigQuery to remove tables and views created by previous Data Engineer that are no longer necessary.

Tables and views for which current usage and downstream impact is unknown will be left and documented for future review.

## Action items
- [x] Identify tables/views to be deleted
- [x] Verify not currentl

[2022-11-10 20:26] Kimberley2019 commented on #48653
Approval from Jeremy Haas has been received to move forward with this process.  All finalization has been completed and this will go into effect as of 11/14/22.

From: Haas, Jeremy T. <jeremy.haas@va.gov>
Date: Thu, Nov 10, 2022 at 1:44 PM
Subject: RE: [EXTERNAL] Tier 3 Process
To: Kimberley Daniels <kimberley.daniels@adhocteam.us>
Cc: Lantos-swett, Chanteclaire E. (she/her/hers) <Chante.LantosSwe

[2022-11-10 20:27] loripusey commented on #48824
what is the significance of January 10th?

[2022-11-10 20:29] sarahknoppA6 commented on #48824
The BAH rep was uncertain as well- is going to get more information and get
back to me. It sounded like it may pertain to a funding deadline of some
sort, but I do not yet have more information.

On Thu, Nov 10, 2022 at 3:27 PM Lori Pusey ***@***.***> wrote:

[2022-11-10 20:29] sarahknoppA6 commented on #48824
I will see if we can just submit what we have and go from there. Thanks all!

On Thu, Nov 10, 2022 at 3:29 PM Sarah Knopp ***@***.***> wrote:

[2022-11-10 20:30] eunicegar opened #49560 "Offboarding of [Jacqueline Sanchez]"
# Instructions
Fill out name of individual and *Description* section below.

*(Please add only one individual per form)*

# Description
Please provide the following information about the individual being offboarded:
- name:

- team name:

- role on team:

- expected last day: _(11/10/2022)

- company they work for:

- email: _(Multiple emails listed in order of relevance to VA business, VA, Compan

[2022-11-10 20:31] eunicegar commented on #49560
Already removed from Slack and she does not have tools above so checking those boxes off as well.

[2022-11-10 20:42] eileen-coforma commented on #49553
@saderagsdale @thehastingsp
Made a ticket for the confirmation page.
This still needs design, so I've put it in the Design pipeline for now, and assigned myself to it.
Will work on it, and most likely finish, by next week.

Please review the open questions, and see if I've captured everything.

[2022-11-10 20:42] ericasauv09 commented on #48792
Went to Analytics office hours and the events are coming through however they are not tagged properly and are missing the "view-manage-va-bills" and "view-manage-va-debt" tag in the event. Taylor found the issue and is going to make a fix for it asap and then we can revalidate.

[2022-11-10 21:00] ericasauv09 commented on #49513
validated with user 15, 80 and user 36: ![Screen Shot 2022-11-10 at 15.57.07.png](https://images.zenhubusercontent.com/62571b850845ac72a9917e8e/731e49d4-d508-48af-ac46-55d92e6bd3be)

[2022-11-10 21:01] samcoforma opened #49562 "DLD: Create Swagger docs in vets-api"
## Issue Description
In order to fulfill the platform requirement of providing URLs to any swagger documentation, and to provide easy discovery and integration of our endpoints, we must create Swagger 2.0 documentation and integrate it into the main va.gov swagger document.

---
## Tasks
- [x] Create Swagger docs for vets-api DLD code.
- [x] Integrate DLD Swagger docs to main Swagger UI page
- [x]

[2022-11-10 21:08] alexiawunder commented on #42428
@mnorthuis @MarciMcGuire I am working on collecting the updated links now. Should I update the original ticket (and include the links Meg and Marci added in the comments back in June?), or put them in the comments here?

[2022-11-10 21:12] kanchanasuriya opened #49563 "[BE] Handing BTSSS Claims API Error Response"
## User Story
As a Frontend engineer, I want to receive unique error codes from the backend so that I can display the appropriate error page to the veteran

## Tasks
- [ ] [BE] Modify response object to parse claims API error message
- [ ] [BE] Construct error message with unique error code

## Acceptance Criteria
- [ ] Deployed to staging
- [ ] Tested on staging

[2022-11-10 21:26] ericboehs opened #49564 "Query param to bust Features cache"
Allow busting feature toggles' session storage cache for testing/development purposes (as suggested by [Adam Whitlock](https://dsva.slack.com/archives/CBU0KDSB1/p1668114733880579?thread_ts=1668110248.115909&cid=CBU0KDSB1)).

[2022-11-10 21:28] ericboehs opened #49565 "Lower Feature cache expiration in other environments"
local/test/dev/staging should be a much shorter expiration. Potentially disabled in local/test.

[2022-11-10 21:28] djfredvs opened #49566 "11/16/22 12 PM VISN 1 VEText OSM Training"

[2022-11-10 21:30] djfredvs opened #49567 "11/17/22 2 PM VISN 4 VEText OSM Training"

[2022-11-10 21:33] djfredvs opened #49568 "11/17/22 3:30 PM VISN 5 VEText OSM Training"

[2022-11-10 21:34] saderagsdale commented on #48159
@Mottie if the other AC are complete, you can check them off and close this one up

[2022-11-10 21:35] djfredvs opened #49569 "11/18/22 12 PM VISN 6 VEText OSM Training"

[2022-11-10 21:36] djfredvs opened #49570 "11/18/22 2 PM VISN 7 VEText OSM Training"

[2022-11-10 21:38] djfredvs opened #49571 "11/28/22 11:30 AM VISN 8 VEText OSM Training"

[2022-11-10 21:39] djfredvs opened #49572 "11/28/22 1 PM VISN 9 VEText OSM Training"

[2022-11-10 21:40] djfredvs opened #49573 "11/28/22 2:30 PM VISN 10 VEText OSM Training"

[2022-11-10 21:41] djfredvs opened #49574 "11/29/22 11:30 AM VISN 12 VEText OSM Training"

[2022-11-10 21:42] ianpsant opened #49575 "New Account Education Page from Virtual Agent Chatbot Team"
## What does your team need support for? Check all that apply.
- [X] Launching one or more new unauthenticated (static) VA.gov pages
- [ ] Making revisions to one or more existing unauthenticated (static) VA.gov page
- [ ] Launching a new online form, app, or tool on VA.gov
- [ ] Making revisions to an existing online form, app, or tool on VA.gov
- [ ] Something else (please add details in the nex

[2022-11-10 21:43] djfredvs opened #49576 "11/29/22 1 PM VISN 15 VEText OSM Training"

[2022-11-10 21:44] djfredvs opened #49577 "11/29/22 2:30 PM VISN 16 VEText OSM Training"

[2022-11-10 21:45] saderagsdale commented on #46511
@Mottie Just reviewed. Good to close. I shared some feedback in Slack.

[2022-11-10 21:45] djfredvs opened #49578 "11/30/22 11:30 AM VISN 17 VEText OSM Training"

[2022-11-10 21:46] djfredvs opened #49579 "11/30/22 1 PM VISN 19 VEText OSM Training"

[2022-11-10 21:47] saderagsdale commented on #41046
@Mottie did you get what you needed today from LH?

[2022-11-10 21:48] djfredvs opened #49580 "12/01/22 12:30 PM VISN 20 VEText OSM Training"

[2022-11-10 21:49] djfredvs opened #49581 "12/01/22 2 PM VISN 21 VEText OSM Training"

[2022-11-10 21:50] djfredvs opened #49582 "12/01/22 3:30 PM VISN 22 VEText OSM Training"

[2022-11-10 21:51] djfredvs opened #49583 "12/02/22 12 PM VISN 23 VEText OSM Training"

[2022-11-10 21:52] Mottie commented on #48159
This AC doesn't apply. The page is only displaying info. We are preventing the Veteran from starting the form if they aren't LOA3 verified, which I believe means that they have some sort of ID associated (EDIPI, SSN, BIRLS ID or Participant ID), but I'm not sure which. I'll discuss this with Kyle next week

[2022-11-10 21:55] #48397 closed

[2022-11-10 21:55] Mottie commented on #41046
Yes, I think we can close this.

[2022-11-10 21:56] #46511 closed

[2022-11-10 21:57] saderagsdale commented on #48399
@Mottie also confirming that I don't see this after the AMA opt-in.

[2022-11-10 21:58] Mottie commented on #48399
Do we want to fix this before we close this ticket?

[2022-11-10 22:07] saderagsdale commented on #48159
@Mottie cool beans. would be good to confirm where we cut off access if the user doesn't have the right properties.

[2022-11-10 22:09] saderagsdale commented on #41046
@data-doge I'll let you close if it's good with you (once Josh has confirmed his review).

[2022-11-10 22:10] saderagsdale commented on #48399
@Mottie Yeah let's get it in the right place if it's a straightforward fix.

[2022-11-10 22:10] ianpsant opened #49584 "Sign in Support Workflow Content Review from Virtual Agent Chatbot Team"
## What does your team need support for? Check all that apply.
- [ ] Launching one or more new unauthenticated (static) VA.gov pages
- [ ] Making revisions to one or more existing unauthenticated (static) VA.gov page
- [X] Launching a new online form, app, or tool on VA.gov
- [ ] Making revisions to an existing online form, app, or tool on VA.gov
- [X] Something else (please add details in the nex

[2022-11-10 22:17] holdenhinkle commented on #49447
Didn't have much time to work on this today. Just did a little clean up at the end of the day. Hoping to run, debug and write tests on Monday.

[2022-11-10 22:30] humancompanion-usds opened #49585 "Central mail: Determine how much time using the Central Mail API saves Veterans"
We need to know definitively if using the [Central Mail API](https://depo-platform-documentation.scrollhelp.site/developer-docs/central-mail-api) will save Veterans significant burden time. To answer that we need to know exactly where the Central Mail API injects a piece of mail into the system. This could be:

* At any of many VA mail facilities where it then travels to another location to be pro

[2022-11-10 22:32] aliyahblackmore commented on #48822
Thanks Randi!
This is ready for you @megzehn
**Preview link**: http://preview-prod.vfs.va.gov/preview?nodeId=48613

###
Notes:
1. There is a sentence in this accordion, "Anong mga bagong presumptive condition sa Agent Orange ang idadagdag ng VA?" that we didn't highlight but it came back slightly different in the doc sent to us. This is the sentence:**Kung sa tingin mo ay eligible ka para sa VA he

[2022-11-10 22:33] Mottie commented on #48399
[Opened this PR to move the pages around](https://github.com/department-of-veterans-affairs/vets-website/pull/22660)

[2022-11-10 22:38] ytsaoca commented on #49400
From @brianseek :

People never get “logged out” because technically they never log in. Instead, they validate their identity and access the application. Their session is saved in the back-end meaning permissions get checked when the api is called. Which only happens at validation, and then again when they complete demographics, and again when they check-in.

Now with the reload ability, the API w

[2022-11-10 22:38] ytsaoca commented on #49400
From @brianseek :

People never get “logged out” because technically they never log in. Instead, they validate their identity and access the application. Their session is saved in the back-end meaning permissions get checked when the api is called. Which only happens at validation, and then again when they complete demographics, and again when they check-in.

Now with the reload ability, the API w

[2022-11-10 22:42] heyjoni commented on #49519
Implemented best bet for "careerscope", "onet" and "o*net"

[2022-11-10 22:42] #49519 closed

[2022-11-10 22:42] laurwill commented on #48028
Validated and notified stakeholder. We can close @RLHecht !

[2022-11-10 22:43] aliyahblackmore commented on #49003
Hi @RLHecht this is ready to be published 11/14!
**Preview link:** http://preview-prod.vfs.va.gov/preview?nodeId=19578
Thank you!

[2022-11-10 22:50] aliyahblackmore commented on #49525
Hi @megzehn this is ready to publish on 11/21!
Preview link: http://preview-prod.vfs.va.gov/preview?nodeId=758

[2022-11-10 22:52] #49347 closed

[2022-11-10 23:38] brianseek commented on #49485
closing ticket since there is nothing to validate for this ticket.

[2022-11-10 23:38] #49485 closed

[2022-11-10 23:58] bosawt opened #49586 "Update MHV verified authentication to require ID.me verification only if account is not MHV Premium"

[2022-11-11 00:46] naomimarcussen commented on #41622
Office hours open to VFS Teams on Platform website
https://depo-platform-documentation.scrollhelp.site/support/office-hours

Office hours open to Platform teams on Confluence
https://vfs.atlassian.net/wiki/spaces/AP/pages/2407464993/Platform+Team+Office+Hours

[2022-11-11 00:46] #41622 closed

[2022-11-11 14:11] rmtolmach commented on #49555
@elizabethkochBT Access granted ✅

Please allow 10 minutes for your key to be propagated to the various locations before attempting to connect.

See docs for further steps: https://depo-platform-documentation.scrollhelp.site/getting-started/Internal-tools-access-via-SOCKS-proxy.1821081710.html

Reach out in #vfs-platform-support if you have any trouble.

[2022-11-11 14:11] #49555 closed

[2022-11-11 14:17] rmtolmach commented on #49415
![image](https://user-images.githubusercontent.com/10993987/201358143-d90727ca-73a9-4c0e-8d9f-48513639e982.png)

from duplicate issue: https://github.com/department-of-veterans-affairs/va.gov-team/issues/49435#issuecomment-1307567912

Not a bot user
no socks
no confluence.

Every other line item checked by Ian.

[2022-11-11 14:17] #49415 closed

[2022-11-11 14:17] rmtolmach commented on #49435
Duplicate of https://github.com/department-of-veterans-affairs/va.gov-team/issues/49415

[2022-11-11 14:17] #49435 closed

[2022-11-11 14:21] rmtolmach commented on #49560
Removed from github org in https://github.com/department-of-veterans-affairs/github-user-requests/issues/13241

[2022-11-11 14:21] #49560 closed

[2022-11-11 14:32] MarciMcGuire commented on #48629
@shiragoodman cc @bryan-riley-va in a recent meeting, some members of the MHV tea asked if they can request a midpoint review after the fact.  Since this is their first pass through the collab cycle, they would like an opportunity to get feedback before Staging review.   Our previous PO opted to skip it to hit a date for starting prototype testing, but the team would like to have one if that is po

[2022-11-11 15:15] #49408 closed

[2022-11-11 16:02] #47233 closed

[2022-11-11 16:03] ajakabcin commented on #47233
Go/no-go moved up to 11/10, completed and decision reached good to go.

Note that the team is monitoring an issue with feature flags and caching.

[2022-11-11 16:31] laucon opened #49587 "Add footer card to S3 bucket locations"
Task:

- [x] Add the footer template to the page: https://depo-platform-documentation.scrollhelp.site/developer-docs/s3-bucket-locations

[2022-11-11 16:31] laucon commented on #49587
https://depo-platform-documentation.scrollhelp.site/developer-docs/s3-bucket-locations

[2022-11-11 16:36] oseasmoran73 commented on #48641
Reached to Eric for assistance on some of the ones I was unable to find. Currently blocked as I am not sure who to reach out. [Slack](https://dsva.slack.com/archives/C045C97V7N1/p1668103413565269)

[2022-11-11 17:42] CherylEvans commented on #49218
@it-harrison Hi Ian.  Here is the [Draft](https://vfs.atlassian.net/wiki/spaces/PPST/pages/2430468266/49218+-+Cheryl+Draft+-+Copy+of+Must+Should+and+Consider+Framework+for+Feedback) for Must, Should, and Consider Framework for Feedback.  Please see the tasks above to see what was changed.  You will notice that I changed some of the recommended verbiage because I felt that it sounded better.  Let m

[2022-11-11 17:45] sterkenburgsara opened #49588 "Develop Page Structure for Platform Research Guidance"
## User Story
As a governance team member, I want to understand the page structure for platform research guidance, so that I know where to put new and/or updated documentation.

Assignee:
Peer Reviewer:

## Description
The current governance team backlog has several tickets regarding user research that need to move from Github to the platform website. Some of these are related to research techniqu

[2022-11-11 19:28] sterkenburgsara commented on #49324
As I dig into this one and start working on the tasks, I feel like developing personas for Platform is not useful to our end goal - I think some sort of alignment criteria, or understanding the differences based on user type and how that relates to orientation is useful (e.g. designers need to know the design system, devs do not), but I think we can possibly build a practice-dependent skills matri

[2022-11-11 19:43] ajakabcin commented on #49088
Hi @aagosto90 - thanks for the rundown here and for being so thorough! I like this approach as well - clean and simple :) Please proceed with the FE documentation when you can!

 Dropping the design you shared in slack in this ticket for context for anyone following along :)
![My VA Desktop Full Page Error](https://user-images.githubusercontent.com/45603961/201417821-5e2694a0-48a1-49ce-b252-040ed1

[2022-11-11 19:55] it-harrison commented on #49218
@CherylEvans Looks good!

[2022-11-11 20:00] laurwill commented on #44926
Hi @megzehn , here are 3 FMP pages ready for your copyedit:
- Foreign Medical Program: http://preview-prod.vfs.va.gov/preview?nodeId=50826
- How to file an FMP claim: http://preview-prod.vfs.va.gov/preview?nodeId=49685
- Getting care through FMP: http://preview-prod.vfs.va.gov/preview?nodeId=50969

Danielle will send these to SMEs next for review, so you can leave in drafts for now.

And a style n

[2022-11-11 20:13] SKasimow commented on #47070
**Contact information page**
![Section to Hide on Contact Page.png](https://images.zenhubusercontent.com/5fb57aafa11eae0592a15cb1/eb2b1838-d3db-4bbd-8c6c-19a5cfa445d6)

[2022-11-11 20:14] SKasimow commented on #47070
**Contact information page** changes needed:
![Section to Hide on Contact Page.png](https://images.zenhubusercontent.com/5fb57aafa11eae0592a15cb1/eb2b1838-d3db-4bbd-8c6c-19a5cfa445d6)

[2022-11-11 20:24] katherine-fung commented on #49315
Hi @megzehn!

This page is ready for copyedit. We'll need to hold to publish until we can confirm the date the change goes into effect:

HOLD TO PUBLISH - http://preview-prod.vfs.va.gov/preview?nodeId=44490

I updated check-in window for appointments 30 minutes to 45 minutes;
added a hard return to the link in the note in the very last section

[2022-11-11 20:45] SKasimow commented on #46609
Need to open a design ticket first

[2022-11-11 20:48] SKasimow opened #49589 "Design | Profile | Accessibility | Mobile #"
## Background

This ticket is to determine best design options before proceeding with FE work.The Accessibility team noted the following issue for screen reader users and the need to have content properly labeled:

## Tasks
- [x] Create design(s) to address this issue and review with Accessibility team
- [x] Document feedback
- [x] Adjust designs as necessary
- [x] Review with PM and PO

## Accept

[2022-11-11 21:25] chloedotbrown commented on #49559
To make sure none of these supported current, active work, I searched Project History in the summary field for view or table names. Although this history only goes back several months, it seems reasonable to assume that if nothing came up from this query, it was not supporting an active process or Domo data source.

### Deletion record
Asset | Type | Description
------|------|------------
`project

[2022-11-11 22:39] andaleliz commented on #49007
Hi @Samara-Strauss and @SKasimow [documentation](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/notifications/notification-preferences/design/notifications-2.0-next-steps.md) is ready to review - it includes what we discussed yesterday, as well as a quick mock-up exploring how things could look today with the auto-save model, and what we

[2022-11-11 23:38] theodur commented on #49564
Draft PR: https://github.com/department-of-veterans-affairs/vets-website/pull/22668

[2022-11-12 00:24] SKasimow commented on #47666
@adamwhitlock1 - is this additional work or did the work in #48011 fix the scrolling issue across the board?

[2022-11-12 00:36] SKasimow commented on #48990
Hi @cgednalske - can you send me the sketch links to finals so I can get the FE ticket ready to groom?

[2022-11-12 00:43] SKasimow opened #49590 "Design | Profile | Notification Setting| Exploratory Mock-ups"
## Background

Describe the issue background and scope

## Tasks
- [ ] Conduct Unit tests
- [ ] Run E2E tests covering current code and regression
- [ ] Notify PM if this needs to be deployed to Staging behind feature flag

## Acceptance Criteria
- [ ] Complete all unit testing
- [ ] End-to-end tests showing 0 violations
- [ ] All axe checks pass
- [ ] Notify Product Manager that the change is rea

[2022-11-12 00:43] SKasimow opened #49591 "Design | Profile | Notification Setting | Exploratory Mock-ups"
## Background

Describe the issue background and scope

## Tasks

## Acceptance Criteria

## Associated Tickets

[2022-11-12 00:48] SKasimow commented on #49590
dupe - closing

[2022-11-12 00:48] #49590 closed

[2022-11-12 01:47] cindymerrill commented on #46656
Working hard on synthesis and report writing...

[2022-11-13 23:46] SKasimow commented on #49007
Hi @andaleliz - 100% agree with your recommendation for user research!

With an increase in available notifications and choice of how users can receive, research will give us better guidance on how to move forward.

[2022-11-14 02:45] bethpottsVADEPO commented on #43548
@RLHecht @katherine-fung This reworking of the tables looks great. You can move forward with it. The only question I have is whether we keep the cents for each rate. I think we decided that if it's zero-zero for all rates in a block of content, we'd leave the decimal and zeros off. @megzehn can you confirm?

Also, these changes are so straightforward that you don't need to run it past Elana in dis

[2022-11-14 04:12] bethpottsVADEPO commented on #43589
@RLHecht @katherine-fung @laurwill Thanks for your work on this! I made some edits and would like to talk about just a few things in our next meeting (Katherine, if you're free during my next check-in with Randi and Laura, please join!):
1/ This line: "Rate changes are payable the August after they take effect. So the new clothing allowance rate is payable as of August 2022."
2/ My edit in the aut

[2022-11-14 10:43] td-usds commented on #48702
Approved

[2022-11-14 10:45] td-usds commented on #46853
VOR provided background information, awaiting more information from VOR

[2022-11-14 13:34] ph-One opened #49592 "[Ops,Jenkins] Add DevOps CoP as Administrators"
# Description
As a DevOps engineer I need access to manage and maintain Jenkins

# Notes
- DevOps CoP Team is not yet added to Jenkins
- DevOps CoP should have Administrative privileges to be able to handle necessary tasks asked of them
-

# A/C
- [ ] Any DevOps CoP member can login to Jenkins and have administrative privileges

[2022-11-14 13:34] laurwill commented on #49320
Thanks so much @aliyahblackmore ! I started getting this into Drupal on Friday — could you finish up by adding the rates tables and the info alert? Let me know if you have questions about the tables. I set up the first one but we may be able to shorten the headers even more.

http://preview-prod.vfs.va.gov/preview?nodeId=51018

[2022-11-14 14:00] mviterna commented on #48765
@mydesignrocks Hello, any update on this?

[2022-11-14 14:00] RLHecht commented on #48028
This is live. Closing ticket.

[2022-11-14 14:00] #48028 closed

[2022-11-14 14:01] loripusey opened #49593 "Hold Design Sprint"

[2022-11-14 14:04] #49593 closed

[2022-11-14 14:15] mviterna commented on #48688
@ianhundere Aaron has been on the Lighthouse platform for awhile now. It appears he just was never added to the roster. Can we just get him added? I believe he came on board before this new requirement, but was just not added to the roster.

[2022-11-14 14:16] LindseySaari commented on #49461
Draft PR created here for release plan: https://github.com/department-of-veterans-affairs/vets-api/pull/11139

[2022-11-14 14:20] jaredcunha opened #49594 "DDL: Write unit tests"
## Value Statement

**_As a_** front end developer
**_We want to_** make sure that all the DDL code has unit testing coverage
**_So that_** we can ensure we're releasing a quality product

## Background Context

DDL is getting closer to release, we need to ensure all components have unit test coverage, including keyboard-only testing where necessary

## Tasks
- [x] Write all unit tests for DDL

##

[2022-11-14 14:25] pscruz opened #49595 "TAP Recommendations [Identity Team]"
## Product Outline
The TAP curriculum is out-of-date when it comes to login for VA services and benefits. It should be updated to remove DS Logon and encourage users to use Login.gov from the start. This area has unknowns, a lack of contact points and relationships, and a lack of general knowledge.
**Revisit in Jan 2023 once updated curriculum is released**
![image.png](https://images.zenhubuserco

[2022-11-14 14:27] Cmjones233 commented on #49401
adding error filter to dashboard

[2022-11-14 14:31] aschulhof opened #49596 "Adding Steven Venner to DSVA Slack"
# Description

**new user requests**: please verify that the user does not already exist in dsva.slack.com (it may be the account exists, but is not in a particular channel)

- Please add steven.venner@oddball.io as a full member. He has joined the VNCE team.

Are you requesting to add an individual as a:

- Full member
- Single guest
- Multi-channel
- Switching from single-channel to multi-channe

[2022-11-14 14:32] RachalCassity opened #49597 "Application to Promote: vets-api-helm101"
### Acknowledge Instructions

- [X] I acknowledge that I have read the above instructions and understand the application name provided will be used to create various resources

### Application Name

vets-api-helm101

### Environment

staging

### Maintainer(s)

RachalCassity, LindseySaari, considerable

[2022-11-14 14:32] aschulhof opened #49598 "Adding Andrew Fattorusso to DSVA Slack"
# Description

**new user requests**: please verify that the user does not already exist in dsva.slack.com (it may be the account exists, but is not in a particular channel)

- Please add andrew.fattorusso@oddball.io as a full member. He has joined the VNCE team.

Are you requesting to add an individual as a:

- Full member
- Single guest
- Multi-channel
- Switching from single-channel to multi-ch

[2022-11-14 14:36] laurwill commented on #41493
Hi @megzehn ! We got the green light to publish VHIC changes.

You've already copyedited all 4 of these updated pages, and they're now ready for final prepub/publishing:
- [ ] VHIC page: http://preview-prod.vfs.va.gov/preview?nodeId=488
- [ ] After you apply page: http://preview-prod.vfs.va.gov/preview?nodeId=30
- [ ] New single Q&A: http://preview-prod.vfs.va.gov/preview?nodeId=50666
- [ ] Verify

[2022-11-14 14:49] td-usds commented on #49190
Pinged VOR

[2022-11-14 14:51] shiragoodman commented on #48042
Modified artifact per OCTO feedback and published to new location: https://vfs.atlassian.net/wiki/spaces/PPS/pages/2432663602/Shared+Support+and+Governance+Team+Partnership

[2022-11-14 14:53] ldelacosta commented on #49337
There are no changes to how we send the modality information in vaos service.

[2022-11-14 14:55] sterkenburgsara commented on #48635
@allison0034 I started the research guide, but would love your editing eyes, as well as input on team roles for the interviews /our availability for scheduling them.

[2022-11-14 14:56] shiragoodman commented on #49324
I agree. I don't think we need documented personas for Platform, however I do think we need to understand Platform's role - in other words, it's not just Governance team that supports Platform Orientation. Other teams play a part.

[2022-11-14 14:57] michelle-dooley commented on #49467
@BillChapmanUSDS - View access to BQ has been granted.

[2022-11-14 15:00] shiragoodman commented on #48629
@MarciMcGuire @bryan-riley-va totally fine with us. Just keep in mind, the Midpoint Review is not as thorough as Staging. We don't complete any accessibility testing at Midpoint Review. It's designed to be a check-in touchpoint before VFS teams complete usability testing with veterans, but it can happen whenever.

Let me know if you have any other questions.

[2022-11-14 15:00] shiragoodman commented on #49443
sounds good - thanks @vbellissimo !

[2022-11-14 15:06] sterkenburgsara commented on #49324
@shiragoodman could you elaborate a little more - how do you see this ticket discovering that information?

[2022-11-14 15:08] RLHecht opened #49599 "Update automobile allowance and adaptive equipment rate"
## Issue Description
We need to update the rate on our [VA automobile allowance and adaptive equipment](https://www.va.gov/disability/eligibility/special-claims/automobile-allowance-adaptive-equipment/) page. It should be listed as 22,355.72, which is what's currently showing on [our rates page](https://www.va.gov/disability/compensation-rates/special-benefit-allowance-rates/).

## Tasks
- [ ] Upd

[2022-11-14 15:16] mnorthuis commented on #42428
You can update the original comment/request so there's no confusion.  Thank you!

[2022-11-14 15:19] eunicegar commented on #49596
done

[2022-11-14 15:19] #49596 closed

[2022-11-14 15:20] eunicegar commented on #49552
this is done.

[2022-11-14 15:20] #49552 closed

[2022-11-14 15:21] #49592 closed

[2022-11-14 15:22] ajmagdub commented on #49497
Hi @ldelacosta this can be closed. It is a duplicate.

[2022-11-14 15:22] #49497 closed

[2022-11-14 15:25] chancetheoriginal commented on #41748
Functionality added to both VEText and AVS support apps: Uploaded/attached files are included in automated email notifications sent to VEText/AVS.

[2022-11-14 15:33] saderagsdale opened #49600 "[high priority bug] Hearing aid form | Routing issue and MDOT service timeout"
## What happened?
- A page not found is shown when /introduction is included in the URL (not sure how to fix this routing issue)
- The save-in-progress uses mdot as the form ID, and is returning a 400 error
- If I reload the page a second time, the save-in-progress returns a token expired message

<details open>
<summary>Screen recording</summary>
<br>

https://user-images.githubusercontent.com/90

[2022-11-14 15:34] punitladtw opened #49601 "Adding Marilyn Lloyd, Tim Brown, Anami Chan, Jason Wolfe, Nic Cheneweth, Punit Lad to DSVA Slack"
# Description

**new user requests**: please verify that the user does not already exist in dsva.slack.com (it may be the account exists, but is not in a particular channel)
<describe the request>

Please add the following emails to DSVA slack:
- Tim Brown: timothy.brown@thoughtworks.com
- Marilyn Lloyd: mllloyd@thoughtworks.com
- Anami Chan: anami.chan@thoughtworks.com
- Punit Lad: plad@thoughtwo

[2022-11-14 15:35] Mottie commented on #48808
[Work started by Rocio](https://github.com/department-of-veterans-affairs/vets-website/pull/22659); only awaiting content recommendations before making the work ready for merging

[2022-11-14 15:39] RLHecht commented on #49599
@katherine-fung hold off on making this update for now. I'm waiting to hear back from the stakeholder for the newest rate since it should have changed in October. Once I have it, I'll update the ticket and then you can make the change to the page. Thanks!

[2022-11-14 15:42] eunicegar commented on #49601
done

[2022-11-14 15:42] #49601 closed

[2022-11-14 15:45] saderagsdale commented on #41046
@joshkimux Hey Josh! Can you let us know if this is good to close from an accessibility standpoint?

You can go [here](https://staging.va.gov/disability/file-disability-claim-form-21-526ez/introduction) and log in as [vets.gov](http://vets.gov/).[user+0@gmail.com](mailto:user+0@gmail.com). Password for that user is [here](https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/blob

[2022-11-14 15:48] punitladtw opened #49602 "Adding Mark Ettrich to DSVA Slack"
# Description

**new user requests**: please verify that the user does not already exist in dsva.slack.com (it may be the account exists, but is not in a particular channel)

Please add Mark Ettrich: mark.ettrich@thoughtworks.com to DSVA slack.

Are you requesting to add an individual as a:

- Full member

Then add a brief description of this person, their role on the project, and why they should

[2022-11-14 15:50] #42492 closed

[2022-11-14 15:50] shiragoodman opened #49603 "User flow of Staging Review process"
## User Story
As a Governance team member, I want to document the user flow of the Staging Review process so that I can create/modify the Staging Review guidance/documentation to follow the same flow.

Assignee:
Peer Reviewer:

## Description
In ticket #47417, we attempted to update the [How to document feedback for Staging Review](https://vfs.atlassian.net/wiki/spaces/PPS/pages/1839530098/How+to+

[2022-11-14 15:50] #49266 closed

[2022-11-14 15:51] saderagsdale commented on #49138
Sent another follow-up today.

[2022-11-14 15:51] djfredvs opened #49604 "12/07/22 3 PM AVS Open Office Hour"
## Description
Every week the product support team hosts a bi-weekly office hours to advertize or demo new or existing features, communicate updates to our users, and hold an open forum to answer questions from users live.

---

## Agenda
What is the agenda for office hours?

---

## Acceptance Criteria
- [] Agenda created and finalized
- [] Email drafted
- [] Email sent
- [] PowerPoint created
-

[2022-11-14 15:54] shiragoodman commented on #47417
@CherylEvans @briandeconinck I created ticket #49603 per our discussion on Thursday 11/10. This ticket will be treated as a tech-debt ticket, with changes to the Staging Review guidance to follow as a separate (not yet created) ticket.

@CherylEvans for this ticket, please remove all DraftingTemplate guidance from the How to document feedback for Staging Review doc, add it to the DraftingTemplate

[2022-11-14 15:57] Samara-Strauss commented on #49007
Thanks for this write-up, Liz! It's super helpful. I don't have any further comments or questions.

[2022-11-14 16:06] ericasauv09 opened #49605 "[Design] My VA Benefit Payments: Review Links for "Never Had a Payment" Use Case"
## Background
We want to review what links we show users who have never received a payment from the VA. Specifically we want to determine if we need to show any links at all or if this can be simplified to match what we show users who have not had payments in the past 60 days. Currently a user who has not received a payment in the last 30 days will see two links "Manage your Direct Deposit" and "R

[2022-11-14 16:12] jacobworrell commented on #48700
@clantosswett Hi there, following up here, we haven't been able to track down why this data discrepancy. I'm wondering if EVSS knows why the contention mapping might have changed from what's displayed in eBenefits to what's currently displayed in CST. They own the service currently providing those values.

[2022-11-14 16:24] outerpress opened #49606 "VAOS UX proposals"
## Task Description
- Propose improvements to VAOS based on previous research.

## References
- [Slide deck (WIP)](https://docs.google.com/presentation/d/1OqRsdXf-nssDsPB7sZycKTB7aJrxvtoyrMHsvqGcZG0/edit#slide=id.g18cb6b408a1_0_39)

## Acceptance Criteria
- [ ] Slide deck with proposals
- [ ] Shared with OCTO Health stakeholders

[2022-11-14 16:29] laurwill commented on #36493
Hi @clantosswett , we saw your tracked changes to the first error message in [this doc ](https://dvagov-my.sharepoint.com/:w:/r/personal/katherine_fung_va_gov/_layouts/15/doc2.aspx?sourcedoc=%7B1ECB0480-9B3A-4AC0-B9A4-44896A2FFA10%7D&file=Error.messages_KF_7.20%201.docx&action=default&mobileredirect=true&DefaultItemOpen=1&ct=1659107561194&wdOrigin=OFFICECOM-WEB.START.REC&cid=dc0ece7f-93a8-46b4-bc7

[2022-11-14 16:35] loripusey commented on #49078
Closing, work will be included in https://app.zenhub.com/workspaces/check-in-experience-61fc23a2cb8a14001132e102/issues/department-of-veterans-affairs/va.gov-team/49073

[2022-11-14 16:39] sarahknoppA6 commented on #46891
this can be closed- will be validated in a batch

[2022-11-14 16:39] #46891 closed

[2022-11-14 16:42] aubreyarcangel commented on #48811
This has been completed and will deploy today. https://github.com/department-of-veterans-affairs/content-build/pull/1355

[2022-11-14 16:44] acrollet commented on #48101
@loripusey please see the above comment, do you want to keep this open to follow up or re-visit another way?

[2022-11-14 16:45] td-usds commented on #49190
approved

[2022-11-14 16:49] tbaker1026 opened #49607 "Filed issue with Central Mail"
From Matthew:
I filed this issue to investigate [Central](https://github.com/department-of-veterans-affairs/va.gov-team/issues/49585) Mail API in greater detail which contains an alternative way we might measure an experience improvement for Veterans.

[2022-11-14 16:54] rmessina1010 commented on #49395
Fleshed out user stories and suggestions, for key features , as well ass follow up questions.

[2022-11-14 16:55] loripusey commented on #48101
Closing this one; I'm going to create a work ticket to display the "online check-in isn't available" message
![image](https://user-images.githubusercontent.com/86678742/201719164-6bac37e8-25bd-4add-bc97-554c66e4a897.png)

[2022-11-14 16:55] #48101 closed

[2022-11-14 16:55] ianMcCullough-ob commented on #49522
Hey @joshkimux! This export has been added to your folder on the VA side. I included the terms "racism" and "race"— "racism" only had 8 results but "race" added a few more.

[2022-11-14 16:55] #49522 closed

[2022-11-14 16:56] cgednalske commented on #48990
Hi @SKasimow - here are the links to the Sketch files. I'm currently finishing up making sure these fields are adding throughout all files/screens, but these should be the only two that need to be referenced. Also working on if there needs to be a separate screen with an alert for if disability rating doesn't connect/can't show in general.

User does not have rating ([Desktop](https://www.sketch.c

[2022-11-14 16:58] Mottie commented on #48159
Asked for context ([thread](https://dsva.slack.com/archives/CSFV4QTKN/p1668442137273909)):

Me: I'm curious what exactly being LOA3 verified means... do we have access to the Veteran's SSN, EDIPI, or whatever once they are verified? In some of our forms we have to take extra steps to check these, but is it unnecessary?

[2022-11-14 16:59] loripusey opened #49608 "[FE] Display Online Check-in Not Available Message"
## Blocking PCI/API work
[Ticket](https://github.com/department-of-veterans-affairs/chip/issues/1396)

## User Story
As a Veteran, when I see my appointments for today displayed in eCheck-in, if any are not eligible for check-in via the application, I would like to see a message telling me I can't check-in for the appointment so that I am not confused why check-in doesn't work for those appointmen

[2022-11-14 17:00] sterkenburgsara commented on #49324
@shiragoodman thanks!

[2022-11-14 17:00] taylojill commented on #49587
11/14/22 - Footer added to page.

[2022-11-14 17:03] eileen-coforma commented on #43669
@saderagsdale Does this need to go into refinement?

[2022-11-14 17:11] #49204 closed

[2022-11-14 17:12] cgednalske commented on #48306
Hi @SKasimow - for this one, I believe our plan is to have a new ticket for next sprint to create a Sketch file for nametag states and add documentation to Github as well. Do we already have a ticket for this? And if this all sounds correct, we should be able to close this one 😃  The LOA1 screens and relevant LOA3 screens have all had the nametag updated.

[2022-11-14 17:29] allison0034 commented on #48042
This looks good... thank you Shira!

[2022-11-14 17:29] RLHecht commented on #34481
@aliyahblackmore could you make these updates? The number for October 2022 should be 102.4.  Thank you!

[2022-11-14 17:33] TheBoatyMcBoatFace opened #49609 "Platform Orientation: Bentley Hensel"
## Welcome and Introduction
Welcome to the Veteran's Administration (VA) Veteran Facing Services (VFS) team!
As a new VFS team member, you will be working in the web ecosystem we call the VA.gov Platform (or "**The Platform,**" for short).  The tasks on this list are designed to get you up to speed on the role of Platform, making it easier for you to do your job.

Because the VA is a huge organiza

[2022-11-14 17:35] joshkimux commented on #41046
Thanks so much @saderagsdale ! I'll review this ASAP

[2022-11-14 17:35] megzehn commented on #48822
Thanks so much, @aliyahblackmore!! Confirming this is published now. CC @RLHecht

[2022-11-14 17:40] #48558 closed

[2022-11-14 17:41] megzehn commented on #43548
Yes, that's correct, @bethpottsVADEPO! (Here's the [Slack conversation for reference, with an example.](https://dsva.slack.com/archives/C03MP8MEPCN/p1658973637587149))

[2022-11-14 17:41] #48577 closed

[2022-11-14 17:49] steel36 opened #49610 "Create workflow diagram of Project Intake"
## Issue Description
Use the workflow that Ray built, along with early discussion on the Project Intake proposal, to create a workflow diagram.

In our Sync, Ray later shared the Design Systems intake board  https://github.com/orgs/department-of-veterans-affairs/projects/779/views/1

he likes the “by priority” option and boards in general
## Resources
[Proposal notes](https://vfs.atlassian.net/wik