[2020-11-02 18:01] denisecoveyduc commented on #11568
Closing as per John's confirmation.

[2020-11-02 18:01] #11568 closed

[2020-11-02 18:02] jenniferlee-dsva commented on #15589
Closing this. Bugs have been ticketed and are in the Bugs epic as ready, backlog, or icebox according to priority.

[2020-11-02 18:02] #15589 closed

[2020-11-02 18:03] rileyorr commented on #15475
My first pass at the first chapter has been added to [the UXPin prototype](https://preview.uxpin.com/803dc24213cf723bfce6c5e3eaef5a2c3f3e344b#/pages/133701377/simulate/sitemap?mode=i).

[2020-11-02 18:12] luke-gcio commented on #11927
There have been a number of stories carved off from this already.  Keeping open since we still have UAT to wrap up.

[2020-11-02 18:12] jonwehausen commented on #15303
Thanks @rumyeahs ! Will be hearing from us shortly here

[2020-11-02 18:12] luke-gcio commented on #11820
There have been a number of stories carved off from this already.  Keeping open since we still have UAT to wrap up.

[2020-11-02 18:14] luke-gcio commented on #12904
We have verified a number of these submissions through Barry.  However, we have not yet had a 100% (no manually submitted documents essentially) UAT session yet.  Will close this once we are through one or two full submissions.

[2020-11-02 18:14] Clark-W-Griswold opened #15681 "Access for Dan Shank"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Do not remove `operations` label; this will notify the VSP Operations team of your request
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Pleas

[2020-11-02 18:16] Clark-W-Griswold commented on #15681
Tagging @department-of-veterans-affairs/vsp-operations for review.

[2020-11-02 18:17] luke-gcio commented on #14026
Moved to Sprint 35.  We keep going back and forth on UAT. I have submitted a post on RallyPoint and Barry is reaching out again.

[2020-11-02 18:18] jonwehausen commented on #15678
Thanks @narin, will be in touch here soon

[2020-11-02 18:20] srmyers17 commented on #13788
Sorry for the delay, @pjhill - can we do 11/6 at 1 PM ET?

[2020-11-02 18:20] Samara-Strauss opened #15682 "AE: Sprint 34"
## Priorities

1. Outstanding tickets from sprint 33
2. Update links to learning center in the profile
3. My VA redesign: Research prep for initial dashboard direction; Start conducting sessions
4. Preferred facility: Technical discovery
5. Direct deposit: Prep for usability testing
6. Profile 2.0: Accessibility testing validation

### Profile

**PM**

- [x] Platform post-launch review #15683

**D

[2020-11-02 18:21] shiragoodman commented on #15255
Orientation scheduled for 11/4. All, excluding Sam Suddath, expected to attend.

[2020-11-02 18:26] ncksllvn commented on #15650
It's just a snippet of JavaScript in the frontend, so it's not difficult to change.  I didn't know we felt that way about the forms search. It's search logic is just two or three lines of Ruby code, so it is also easy.

I am fine with using search.gov as long as we accept the limitations. That is -

- No article types or other fields
- No flexibility for search filters or searching into certain fi

[2020-11-02 18:27] mpelzsherman commented on #15321
Blocked by https://github.com/department-of-veterans-affairs/va.gov-cms/issues/3324

[2020-11-02 18:28] Samara-Strauss opened #15683 "[PM] Platform post-launch review"
## Background

[Outline of post-launch review](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/working-with-vsp/vsp-collaboration-cycle/vsp-collaboration-cycle.md#post-launch-check-in)

## Tasks

- [x] Complete post-launch questions in [release plan](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/profil

[2020-11-02 18:28] pjhill commented on #13788
@srmyers17 That works -- would you like to create the meeting or should I?

[2020-11-02 18:29] jonwehausen commented on #15667
Hi @mchelen ,

Can confirm this issue flowed directly to our project in the backlog

[2020-11-02 18:32] srmyers17 commented on #14083
- Ongoing collab with VEText
- Feature will be post-MVP
- @jjulian will add design

[2020-11-02 18:33] srmyers17 commented on #13633
- @bridgethapner made new miro board and started to bucket the 3 different design exploration options
- Sophie and Bridget to discuss next steps today

[2020-11-02 18:35] srmyers17 commented on #14461
- Documenting common component tickets
- Using google doc to document  components to it

[2020-11-02 18:35] ncksllvn commented on #15650
search.gov is a great solution for what we do on `va.gov/search` - indexing the vast VA digital world to compute a list of best results for a single query. But IMO there will always be room and incentive for a specialized, small-scale search. It takes some creative thinking and trial+error to define how the search itself operates, but I think they can make very special user experiences.

[2020-11-02 18:36] Jeff-Hayter commented on #15190
@jsev-io Here are the people approved for AWS:

Maria Vidart-Delgado
Carey Otto
Cindy Merrill
Jenny Spadafora
Lauryl Zenobi
Mina Farzad
Darcy Duda
Brent Schneider

[2020-11-02 18:36] srmyers17 commented on #13782
- Integration is moved into SQA, Patrick can use this to see if he can see MHV logins

[2020-11-02 18:37] srmyers17 commented on #14943
- Set up with Test Flight (using AH account)

[2020-11-02 18:37] Jeff-Hayter commented on #14825
@jsev-io Approved for AWS.

[2020-11-02 18:37] #14943 closed

[2020-11-02 18:38] Jeff-Hayter commented on #14577
@jbritt1 Approved for AWS.

[2020-11-02 18:38] leahkeeler commented on #15637
@peggygannon Checking in on this - as soon as thi sis done, we can move on to staging : )sorry to be a pain

[2020-11-02 18:38] starlow00 commented on #15516
Test

[2020-11-02 18:38] srmyers17 commented on #14031
- Bridget and Martha had a sync with content team
- Asked content team to hold off on reviewing while Auth is in progress
- Next steps: regroup with content team later this week

[2020-11-02 18:38] jonwehausen commented on #14491
@bsmartin-ep Please find the latest specification here.

[2020-11-02 18:39] srmyers17 commented on #13351
- Jayson finished draft on Friday, in PR now and working with Patrick to finalize
- Jayson can still start implementation though

[2020-11-02 18:39] Mottie commented on #15642
related: https://github.com/department-of-veterans-affairs/va.gov-team/issues/15680

[2020-11-02 18:39] Samara-Strauss opened #15684 "[Design] MyVA Dashboard initial explorations: Conduct research"
## Background

Epic #13924

This research plan is for the round of research we will be doing on the initial dashboard explorations we are working on in #15115.

## Tasks

- [ ] Conduct research sessions

[2020-11-02 18:39] ncksllvn commented on #14347
The `components/` directory is perfectly fine too. If there is a distinction between `includes/` and `components/`, it predates me. I just see `includes/` used more often these days.

[2020-11-02 18:40] mlvidart commented on #15190
@Jeff-Hayter Great news! Do you know why Evangeline Garreau is not on the list? She was on the original request. Thanks for any info.

[2020-11-02 18:41] srmyers17 commented on #15489
- need COR to grant access to Grafana

[2020-11-02 18:43] Samara-Strauss opened #15685 "[Design] MyVA Dashboard initial explorations: Research summary"
## Background

Epic #13924

This research plan is for the round of research we will be doing on the initial dashboard explorations we are working on in #15115.

Tasks

- [ ]  Complete research summary
- [ ] Share findings with team

[2020-11-02 18:44] larrywest52 commented on #15038
All pages written, cross-checked, revised, and uploaded to our team's Google Drive.

[2020-11-02 18:55] Samara-Strauss opened #15686 "Usability Testing Prep: Authenticated Experience — Direct Deposit for EDU"
## Background

[Usability testing prep review overview](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/working-with-vsp/vsp-collaboration-cycle/vsp-collaboration-cycle.md#usability-testing-prep)

We're about ready to start preparing for Jim to conduct usability testing on his mockups, so that means we need to prep for the usability testing review. This ticket is

[2020-11-02 18:57] peggygannon commented on #15209
@brianalloyd I don't have any content feedback to add for this round.

[2020-11-02 19:00] rileyorr commented on #15481
All the pages for CH 2's first iteration have been added to [the UXPin prototype](https://preview.uxpin.com/803dc24213cf723bfce6c5e3eaef5a2c3f3e344b#/pages/133702773/simulate/sitemap?mode=i)!

[2020-11-02 19:00] jbalboni commented on #15083
@1Copenut @emilywaggoner This is mainly a problem with the VSP Breadcrumbs component and the page templates on design.va.gov. I can move the breadcrumbs outside the grid, but I'm not sure this looks better:

![Screen Shot 2020-11-02 at 1.57.26 PM.png](https://images.zenhubusercontent.com/599c94608f62dc7798c3b2cd/87bd67bf-e6ac-4637-a28a-981907376350)

Most of VA.gov does not follow the page templat

[2020-11-02 19:01] ncksllvn commented on #15650
I made a few changes just now. These results pull up because "of" is in the article titles and "of" was also in my query. We can create a blocklist to get rid of "of" being used as a keyword.

![image](https://user-images.githubusercontent.com/1915775/97907022-a03e8200-1d12-11eb-826e-59d14f9adbd3.png)

This search operated by -

Take my query and turn into a lowercased set of keywords ->

- office

[2020-11-02 19:03] jbalboni commented on #15082
@1Copenut I think we're following the pattern from the rest of the site:

![Screen Shot 2020-11-02 at 2.02.49 PM.png](https://images.zenhubusercontent.com/599c94608f62dc7798c3b2cd/59ee3f98-aa0e-4427-a449-c6996fab9aec)

[2020-11-02 19:06] srmyers17 commented on #13788
I can send it - who should I include from your side and what are their emails?

[2020-11-02 19:08] tskinn commented on #15681
@Clark-W-Griswold you should be able to connect now. Reach out in slack if you have any issues.

[2020-11-02 19:08] #15681 closed

[2020-11-02 19:13] johnhashva commented on #15650
@ncksllvn  when you say "get rid of _of_ as a keyword -- does that mean it will be ignored as part of the search query if it is typed?  (@jenniferlee-dsva  With only 25 articles for this MVP and a Beta label, I think we can continue to find and refine for this initial stage -- including the next point release.  The question of whether this approach is "scalable" (more content) -- and Search.gov ne

[2020-11-02 19:15] jenniferlee-dsva commented on #15650
@johnhashva RE:

I meant to think of this post-1.0 launch. And I meant to suggest looking at if we could LEVERAGE parts of their search alg in a custom LC search -- sorry, not as a wholesale switcheroo.

[2020-11-02 19:18] ncksllvn commented on #15650
No it would just mean to omit it from the list of keywords during the search, totally under-the-hood. In my example there, imagine the query itself staying the same but the keywords excluding "of", so it would only search on the keywords ->

- office
- inspector
- general

[2020-11-02 19:24] #14657 closed

[2020-11-02 19:25] laurenernest commented on #14657
Closing as dupe. Covered in https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/5686

[2020-11-02 19:27] #6449 closed

[2020-11-02 19:29] annaswims commented on #15680
possibly just add a sentry tag with in progres form id to http://sentry.vfs.va.gov/organizations/vsp/issues/417/?query=is%3Aunresolved+validation&statsPeriod=14d

[2020-11-02 19:30] sporeboy commented on #15134
Initial pass of walkthrough available here: https://xd.adobe.com/view/aaf3f28b-b763-4c16-ba02-d1d47e20328e-ffa0/

Working on refined variation; will share that when ready.

[2020-11-02 19:33] jenniferlee-dsva commented on #15650
Regarding articles ("the"/ "an" / "a"/ )and other words - conjunctions, prepositions, what have you - like "of"/ "and"/ "or" / "and"/ "but"  and so on - yes, bringing up any content that has these random words is not helpful relevance.

I do suspect that we should be focusing on prioritizing 1/  phrase matching, then next 2/ whole word matching (minus filler words like articles, conjunctions and s

[2020-11-02 19:34] sporeboy commented on #15078
Working with Peggy to get a review of the DD-EDU feature: https://dsva.slack.com/archives/C909ZG2BB/p1603483524494600

[2020-11-02 19:37] sporeboy commented on #15078
Review feedback here: https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/15518

[2020-11-02 19:38] luke-gcio commented on #15224
https://dsva.slack.com/archives/C1VBAHWQL/p1604345718038300

[2020-11-02 19:38] jenniferlee-dsva commented on #15650
@ncksllvn
I know that to ensure that we were getting all of the claims related articles whether the content had "claim" or "claims," we used the "OR" boolean logic. And in that case it does get us the relevant results.

But this is where I feel like search algorithms are complex and it's not feasible to have very simple blanket logic.

And of course we don't know yet how any of this might be impro

[2020-11-02 19:42] luke-gcio commented on #14013
Plan is to attempt fix in sprint 33 still.

[2020-11-02 19:44] #13187 closed

[2020-11-02 19:44] tskinn commented on #15217
Temporary creds have been sent. Reach out in slack if you have any issues.

[2020-11-02 19:44] #15217 closed

[2020-11-02 19:44] peggygannon commented on #13398
**11/2/2020 update**

Based on SME feedback to the wizard questions, I"ve updated the content outline and uploaded it here: https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/13889

Feedback on the HRL form is captured here: https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/

[2020-11-02 19:45] #13398 closed

[2020-11-02 19:48] luke-gcio opened #15687 "[Ops/VSP] 526: File Upload Network Error Issues"
## Issue Description
When I make a request from vets-website that fails at the revproxy rather than vets-api from vets-website I get see a CORS error rather than the actual error sent from the revproxy because the revproxy does not set the `Access-Control-Allow-Origin` header. If I were to make the same request as a non-ajax request (through command line or postman or something) I would successful

[2020-11-02 19:49] luke-gcio commented on #14427
New ticket https://github.com/department-of-veterans-affairs/va.gov-team/issues/15687

[2020-11-02 19:49] #14427 closed

[2020-11-02 19:50] annaswims commented on #15307
<img width="1628" alt="Screen Shot 2020-11-02 at 2 49 25 PM" src="https://user-images.githubusercontent.com/19188/97912429-cec05b00-1d1a-11eb-8790-d235370f28f2.png">

[2020-11-02 19:50] #15307 closed

[2020-11-02 19:52] jbritt1 commented on #14577
First time login credentials provided to user.

[2020-11-02 19:52] #14577 closed

[2020-11-02 19:52] jbritt1 commented on #14825
First time login credentials provided to user.

[2020-11-02 19:52] #14825 closed

[2020-11-02 19:55] luke-gcio commented on #14751
Content is under review in another ticket - this one can be closed.

[2020-11-02 19:55] #14751 closed

[2020-11-02 19:56] jonwehausen commented on #15643
Hi @denisecoveyduc & @mgleo ,

I have added both of the emails provided as users to Google Search Console. You can access that data [here](https://search.google.com/search-console?resource_id=https%3A%2F%2Fwww.va.gov%2F&hl=en).

In order to get you both added to **Bing Webmaster Tools**, we'll need to get you signed-up first. In order to get you signed-up, you'll need to create an account either w

[2020-11-02 19:59] bridgethapner opened #15688 "Access for Bridget Hapner"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Do not remove `operations` label; this will notify the VSP Operations team of your request
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Pleas

[2020-11-02 20:03] luke-gcio commented on #15310
Added some points and moved to sprint 34 - we (FE team and Luke) are meeting on Thursday to do some more investigation.

[2020-11-02 20:03] luke-gcio commented on #13852
Met with NCC Friday and they are ready to go.  Email going out today/tomorrow.

[2020-11-02 20:05] luke-gcio commented on #13050
Validated in staging by Anna - good to close.

[2020-11-02 20:05] #13050 closed

[2020-11-02 20:08] Jeff-Hayter commented on #15190
@mlvidart There was no date provided by the COR for Evangeline's eQIP transmittal.  When I receive that I can approve.

[2020-11-02 20:12] tskinn commented on #15688
Hey @bridgethapner ! Do you need access to the socks proxy (grafana/jenkins/review instances) or AWS? If not we can close this issue. Thanks

[2020-11-02 20:16] #14863 closed

[2020-11-02 20:17] elder-joseph commented on #14817
### Associated Research:

**What even is elasticsearch?**
Elasticsearch is an open source JSON-Based Search engine that searches indexed data quickly. Elasticsearch documentation has been pretty helpful in evaluating the tool.

**Installing and running Elasticsearch:**
Different options exist for installation, including homebrew for mac which I used for general evaluation and exploration of the to

[2020-11-02 20:22] luke-gcio opened #15689 "[Tech Debt] 526/BDD: Where and Why Did Veterans Stop In the Form (SIP Data)"
## Issue Description
Update Sprint 38: We are reviving this story to get a new pass at the data and take advantage of some of the new error logging we have put into production since this was last looked at.

Anna already did an initial pass at where folks are stuck.  This story is for Anna/Ed (if he is around) to help create and work through stories related to errors causing veterans to pile up an

[2020-11-02 20:23] #14862 closed

[2020-11-02 20:25] jbritt1 commented on #15646
@joanneesteban / @bsmartin-ep / @jonwehausen, can one of you confirm GA / DOMO access for these users as time allows pretty please?

[2020-11-02 20:40] mmiddaugh opened #15690 "Remove check for old content type (Facility Health Services)"
## Issue Description
The implementation of the new facility health services content structure included a check for content in the previous blobby model. Now that all new content uses the hardened structure, we can remove the "if" check.

---
## Tasks
- [ ] Clean up unneeded "if" check for blobby health services contact info.

## Acceptance Criteria
- [ ] Code checking for blobby health services co

[2020-11-02 20:40] #15667 closed

[2020-11-02 20:43] mmiddaugh opened #15691 "Use fieldDatetimeRangeTimezone in production when present"
## Issue Description
The implementation of the [new date/timezone field](https://github.com/department-of-veterans-affairs/va.gov-team/issues/14578) included an environment check to prevent the new field from being used in production. Now that all new content uses the new structure, we can remove the environment check.

---
## Tasks
- [ ] Remove the code that was preventing the use of fieldDatetim

[2020-11-02 20:46] Samara-Strauss commented on #15078
@sporeboy, sorry, forgot to ask — can we close this?

[2020-11-02 20:51] #15526 closed

[2020-11-02 20:51] delli-gatti-michael opened #15692 "Missing spaces on the 22-1995 form introduction page"
On the introduction page for the 1995 form, there are two missing spaces.

### Current
![Screen Shot 2020-11-02 at 3.34.54 PM.png](https://images.zenhubusercontent.com/5c07f000391a6f6357adc430/a1ce0ceb-4c2c-494b-8f9a-3710a723e300)

### Expected
![Screen Shot 2020-11-02 at 3.49.45 PM.png](https://images.zenhubusercontent.com/5c07f000391a6f6357adc430/de434c48-c736-4b9f-beb4-7d3f05ddce24)

[2020-11-02 20:56] pjhill opened #15693 "VSP QA feedback for Public Websites [Staging Review]"
## VSP QA feedback for Public Websites [Staging Review]

**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

### Links
**Test Plan / Execution logs:**
https://dsvavsp.testrail.io/index.php?/plans/view/685
**Coverage for References Report**
https://dsvavsp.testrail.io/index.php?/rep

[2020-11-02 21:00] sonntag-adam commented on #15514
@department-of-veterans-affairs/uxbah in staging ready for review

[2020-11-02 21:02] ksantiagomorgan6 commented on #15692
PR: https://github.com/department-of-veterans-affairs/vets-website/pull/14803

[2020-11-02 21:02] jonwehausen commented on #15646
Hi @jbritt1 ,

Each of these accounts have been removed from Google Analytics and/or DOMO, thanks.

[2020-11-02 21:03] jbritt1 commented on #15646
Thank you @jonwehausen!

[2020-11-02 21:03] jbritt1 commented on #15646
All line items complete for both users (Cindy Cruz & Dustin Hughes) at this time. Closing.

[2020-11-02 21:03] #15646 closed

[2020-11-02 21:03] lenaecb commented on #14151
De-prioritizing based on PI planning objectives. Will revisit if this is needed next PI.

[2020-11-02 21:04] SgardnerPMP opened #15694 "[Tech-debt] Review and cleanup-correct Menu - Section titles to assure they are enabled VISN-2 [VAMC]"
## Story
As a Veteran web user, I have to be able to see the sections on the left nave menu, so I can better understand the sections and areas I want to go in my health care journey.

## Resource
[CMS Production](prod.cms.va.gov)

## Task
Review all system's menus to assure that the following Menu Sections (Services and Locations, News and Events, and About VA…) are enabled and have "nolink" in li

[2020-11-02 21:07] SgardnerPMP opened #15695 "[Tech-debt] Review and cleanup-correct Menu - Section titles to assure they are enabled VISN-6 [VAMC]"
## Story
As a Veteran web user, I have to be able to see the sections on the left nave menu, so I can better understand the sections and areas I want to go in my health care journey.

## Resource
[CMS Production](prod.cms.va.gov)

## Task
Review all system's menus to assure that the following Menu Sections (Services and Locations, News and Events, and About VA…) are enabled and have "nolink" in li

[2020-11-02 21:08] SgardnerPMP opened #15696 "[Tech-debt] Review and cleanup-correct Menu - Section titles to assure they are enabled VISN-16 [VAMC]"
## Story
As a Veteran web user, I have to be able to see the sections on the left nave menu, so I can better understand the sections and areas I want to go in my health care journey.

## Resource
[CMS Production](prod.cms.va.gov)

## Task
Review all system's menus to assure that the following Menu Sections (Services and Locations, News and Events, and About VA…) are enabled and have "nolink" in li

[2020-11-02 21:10] SgardnerPMP opened #15697 "[Tech-debt] Review and cleanup-correct Menu - Section titles to assure they are enabled VISN-21 [VAMC]"
## Story
As a Veteran web user, I have to be able to see the sections on the left nave menu, so I can better understand the sections and areas I want to go in my health care journey.

## Resource
[CMS Production](prod.cms.va.gov)

## Task
Review all system's menus to assure that the following Menu Sections (Services and Locations, News and Events, and About VA…) are enabled and have "nolink" in li

[2020-11-02 21:10] allison0034 opened #15698 "Feedback - Staging Review - Public Websites - Resources and Support"
- **Must** for if the feedback must be applied
- **Should** if the feedback is best practice
- **Consider** for suggestions/enhancements

**Must:**
- None

**Should:**

- Add blue line under "Need help?" title and remove underline from help phone numbers. Like [this example](https://www.va.gov/health-care/apply/application/introduction).

**Consider:**

- None

**Definition of Done:**
- [x] Incorp

[2020-11-02 21:11] SgardnerPMP opened #15699 "[Tech-debt] Review and cleanup-correct Menu - Section titles to assure they are enabled VISN-23 [VAMC]"
## Story
As a Veteran web user, I have to be able to see the sections on the left nave menu, so I can better understand the sections and areas I want to go in my health care journey.

## Resource
[CMS Production](prod.cms.va.gov)

## Task
Review all system's menus to assure that the following Menu Sections (Services and Locations, News and Events, and About VA…) are enabled and have "nolink" in li

[2020-11-02 21:11] jenniferlee-dsva commented on #15567
Thx @kelsonic . I can too now.

@tlei123 @pjhill ^ - we are able to see the screenshots in the demo instance now, so this may have been a demo problem rather than a template bug. We will close this as resolved.

[2020-11-02 21:11] #15567 closed

[2020-11-02 21:15] chrisdlogan commented on #13583
URL to research folder: https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/facilities/medical-centers/community-care

[2020-11-02 21:16] amyknox commented on #15514
UX Review 1/2 - This looks good to me on desktop. The highlight on mobile looks too narrow.
![Image from iOS](https://user-images.githubusercontent.com/41081945/97919977-b5251080-1d26-11eb-83e7-ad126515f30d.png)

@watersemma take a look at the implementation and make sure the hover state is functioning and aligns as you intended

[2020-11-02 21:18] bridgethapner commented on #13202
@lexicalninja @jperk51 Hi guys -- here is the ticket that writes out all the information we'd like to show for Open and Closed claims. I realize this does not call out what fields we want how they are named in the API & there may be duplicate data lingering, but wanted to flag this ticket in case it's helpful in the API design work.

[2020-11-02 21:18] mmiddaugh opened #15700 "[CONSIDER] Map enhancements"
## Issue Description
This issue to track ideas for consideration in the map enhancement initiative.

[CONSIDER] Magnifying glass on button styling
![image](https://user-images.githubusercontent.com/55411834/97917658-07a80200-1d12-11eb-83b3-e814cde13f94.png)

[CONSIDER] Map info icon
We may want to tone down the color of the map informational icon in the bottom corner so that it does not distract f

[2020-11-02 21:20] DanielleThierryUSDSVA commented on #15361
Hi @jason-gcio @brianalloyd. Adding quick notes from meeting:

- The link beneath the button should remain on these pages. Jason's team will provide updated screenshots with a box around what to replace w/ react widget. Once we have those, we can assign to content teams for implementation.
- Button label in above screenshots has a typo (“Rediness” should be “Readiness”)
- Button label text is 42 c

[2020-11-02 21:23] brianalloyd commented on #15361
@DanielleThierryUSDSVA moving this into Sprint 34 workflow as discussed during our roundtable discussion.  Thanks team for the quick discussion.

[2020-11-02 21:26] DanielleThierryUSDSVA commented on #15361
Perfect - thanks, @brianalloyd!

[2020-11-02 21:26] bridgethapner commented on #15688
Hi @tskinn! I need access to Grafana - sorry if my ticket had an error in it, I wasn't sure what SSH key authorization meant.

[2020-11-02 21:30] watersemma commented on #15514
UX review 2/2 Desktop checks out for me. For mobile, the content looks a little tight when the accordion is open. We are missing the 20px of space between accordion and content.
 ![Screen Shot 2020-11-02 at 4.27.18 PM.png](https://images.zenhubusercontent.com/5f7e1db6d6b9a95b02babbae/2ca59a2b-c14a-4548-9d50-5b9b67271e61)

[2020-11-02 21:33] mmiddaugh opened #15701 "508-defect-2 [AXE-CORE]: Heading levels should increase by one - Facility health services heading level"
## Description
As a screen reader user, I want to navigate the hierarchy of the page content using heading levels to save time and frustration.

There are two separate heading issues that need to be addressed in this work.

**From the style guide:**

Headings and accessibility
- Always use semantic headings, logically nested in the proper order. Do not use improper nesting to achieve a different f

[2020-11-02 21:33] bessgreen opened #15702 "No upcoming appointments (UI)"
## User story
As a user, I want a screen that tells me when I do not have any upcoming appointments.

## Acceptance Criteria
1. Create UI as shown in designs
     - The "You don't have any appointments" UI will display when a user does not have any Upcoming Appointments
2. VA.gov hyperlink opens the following link out-of-app in the user's browser: https://www.va.gov/health-care/schedule-view-va-ap

[2020-11-02 21:34] jason-gcio commented on #15361
@DanielleThierryUSDSVA - here is a link to some screenshots where the first have been edited to show exactly what is being replaced: https://github.com/department-of-veterans-affairs/vets-website/pull/14786
Does that work, or should we do all of them?

[2020-11-02 21:34] leahkeeler opened #15703 "DebtRes FSR Ch2 Household Income Content"
As a Veteran filling out FSR form, I need content to guide me ot fill out the following:

2P1: Veteran employment
C2P2: Additional veteran income
C2P3: Marital status
C2P4: Spouse’s employment
C2P5: Spouse’s additional income

 including when I should or should not include my spouse's income and what constitutes my own income.

[2020-11-02 21:38] brianalloyd commented on #15209
@peggygannon checking to validate we answered your questions during staging review?  If not, let me know and I can go into more detail in support.

@emilywaggoner still working screen shot, but figured I would send a copy of our [mural board](https://app.mural.co/t/departmentofveteransaffairs9999/m/departmentofveteransaffairs9999/1588167553516/2773c854e8ff3a725a5e3ee03272b78e8519f78b) for review i

[2020-11-02 21:40] ltrombley commented on #15694
Menu - Section titles to assure they are enabled VISN-2 [VAMC]#15694 - Complete

[2020-11-02 21:42] peggygannon commented on #15209
@brianalloyd No, I think we're good, based on the conversation in the meeting. Thanks for following up!

[2020-11-02 21:43] mmiddaugh opened #15704 "[AXE-CORE]: Heading levels should increase by one - VAMC Prepare for your visit accordions"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

**Feedback framework**
- **❗️ Must**

## Description
As a screen reader user, I want to navigate the hierarchy of the page content using heading levels to save time and frustration.

<details>
<summary> Headings within the "Prepare for

[2020-11-02 21:44] ricetj commented on #13708
@bmcgrady-ep another question on this. It looks like we still haven't seen any disconnects. I did see this page, but not sure if this is correct  https://analytics.google.com/analytics/web/#/report/content-event-pages/a50123418w177519031p176188361/_u.date00=20201102&_u.date01=20201102&_r.drilldown=analytics.pagePath:www.va.gov~2Fprofile~2Fconnected-applications~2F,analytics.eventCategory:API%20Cal

[2020-11-02 21:46] 1Copenut commented on #15378
VSP concurs! Things are right where they need to be and a plan is in place for testing once content is ready with URLs.

[2020-11-02 21:46] mmiddaugh commented on #14320
Thanks, @jenstrickland I've created issues for these.
[#15701](https://github.com/department-of-veterans-affairs/va.gov-team/issues/15701) for headings within the facility health service accordions
[#15704](https://github.com/department-of-veterans-affairs/va.gov-team/issues/15704) for headings within the "Prepare for your visit" accordions

[2020-11-02 21:47] caw310 opened #15705 "Design System Storybook Implementation: Release plan"
## Acceptance Criteria
- [ ] Make a copy of the [release plan template](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/product-management/release-plan-template.md) and add to the respective product folder
- [ ] Complete release plan for launch

## How to configure this issue
- [ ] **Attach to appropriate Epic**
- [ ] **Labeled with Team**

[2020-11-02 21:51] kristenmcconnell commented on #14219
[PDF Research Report](https://app.zenhub.com/files/133843125/57b2ee9c-5d37-4e4f-a52c-457f7252b275/download)

[2020-11-02 21:53] Samara-Strauss opened #15706 "[Design] Profile 2.0: Complete final accessibility review tests"
## Background

As part of the final accessibility & 508 office review (#15247), we need to re-do some of the accessibility tests we did before launch:

 - [Color tests](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/staging-review-processes.md#color-tests)
 - [Content resize check](https://github.com/department-of-veterans-affairs/va.gov-t

[2020-11-02 21:55] callen2563 commented on #15115
Here are the version C desktop wires to go with the mobile screens. We've added the accordion menu from mobile as a side nav on desktop in this version. We also have a scrolling page, non side nav version to be posted in the am.

![Healthcare VA Desktop C](https://user-images.githubusercontent.com/68560244/97923349-b0566180-1d12-11eb-918a-4ad4583a61b7.jpg)
![Claims   Appeals VA Desktop C](https://

[2020-11-02 21:56] davidconlon commented on #15701
@mmiddaugh not sure how to resolve this one.
Not all health services will have a Center name. Some are just address.
All will have hours, etc.

[2020-11-02 22:00] davidconlon commented on #15704
@mmiddaugh this is a content entry issue.
Adding @SgardnerPMP for awareness.
Probably need a rubric to educate on how to enter/maintain.

[2020-11-02 22:00] Samara-Strauss opened #15707 "[FE] Profile 2.0: Complete final accessibility review tests"
## Background

As part of the final accessibility & 508 office review (#15247), we need to re-do some of the accessibility tests we did before launch:

- [Axe scans in daily development](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/staging-review-processes.md#axe-scans-in-daily-development)
- [Screen reader tests](https://github.com/depa

[2020-11-02 22:08] jenstrickland commented on #15707
Thank you! I love how you broke the work up into manageable chunks.

The team doesn't need to share any results of their tests with me. They should just write issue tickets for anything found, and provide the list in the full audit request, and check all the checkboxes for the tests they complete.

[2020-11-02 22:10] #14219 closed

[2020-11-02 22:12] Samara-Strauss commented on #15115
Hey — thank you for this! Tbh, I was surprised to see the tabbed layout — I thought the desktop view would be a single page dashboard that was pretty analogous to the mobile mockups linked right above this. The above desktop mock feels like we totally went back to the original tabbed/info heavy approach we were talking about a couple sprints ago. What happened to the dedicated update section (look

[2020-11-02 22:12] Samara-Strauss commented on #15707
Noted, thank you!

[2020-11-02 22:13] Samara-Strauss commented on #15706
Update from @jenstrickland from #15707

[2020-11-02 22:14] ncksllvn commented on #14774
Axe scans will be conducted across all of these pages during regular development as part of our Continuous Integration (CI). I ran the tests on my local machine a bit ago on every LC page, and it didn't produce any issues. We've been paying close to attention to the blue bar that shows at the top of the screen when there are accessibility issues found during a page preview, and the LC search was d

[2020-11-02 22:20] sporeboy commented on #15078
I think we can close this. In discussion w/ Peggy regarding who should handle the landing page content. Might all be PW's responsibility.

[2020-11-02 22:20] #15586 closed

[2020-11-02 22:21] #15078 closed

[2020-11-02 22:22] #15134 closed

[2020-11-02 22:23] ncksllvn commented on #15650
I'm not sure how the search.gov API works, but it certainly uses a page ranking system of some sort, so we would get that by using search.gov over an in-house version.

---

For the short term though, would you like me to merge my PR to adjust our current search to what I outlined above?

[2020-11-02 22:25] xiongjaneg opened #15708 "Access for Jane Xiong"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Do not remove `operations` label; this will notify the VSP Operations team of your request
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Pleas

[2020-11-02 22:29] bethpottsVADEPO commented on #15660
@RLHecht Can you swap this content in for what's currently on the home page for H1 and intro?

[2020-11-02 22:33] #15623 closed

[2020-11-02 22:33] #15665 closed

[2020-11-02 22:34] jenstrickland commented on #14774
Thanks, @ncksllvn! Do you know if your e2e tests open all hidden content, for example the accordions, and then run the axe scans?

[2020-11-02 22:35] outerpress commented on #5686
@peggygannon Here's the prototype for your review: https://adhoc.invisionapp.com/share/QWZ7WD9GTPJ#/435681239_VAOS-CC-Pick-1

All feedback is welcome, but here are a couple of areas to focus on:

**Choose where you would prefer to receive your care screens**
The goal is to help a veteran quickly choose between community care and a VA center

**Review your appointment request details** and **Your a

[2020-11-02 22:39] ncksllvn commented on #14774
They don't 😞 But off the top of my head, I don't think we have any accordions 🤔 We have support for accordions on the articles of type "FAQs" (a list of QAs) but last I checked no articles had the accordion-display enabled

[2020-11-02 22:44] jenstrickland commented on #14774
This would be a good thing to raise with Trevor. It is part of VSP's requirements for axe checks in the e2e tests. He can probably advise how to implement it.

[2020-11-02 22:46] ericbuckley opened #15709 "User is automatically logged out after login on IE11"
## What happened?
Using some versions of IE 11 (eg 11.1747.16299.0), after logging in with SSOe (https://www.va.gov/sign-in/) I am immediately auto logged out after returning back to the www.va.gov.

## Steps to Reproduce
- URL: Within CAG, open up https://staging.va.gov/sign-in/ in IE11
- Select a set of credentials to use, and click the login button
- [step through the authentication process]
-

[2020-11-02 22:51] patrickvinograd commented on #15709
The best guess we have at the moment is that this is due to VA-specific IE configuration that treats both va.gov and eauth.va.gov as part of the same trusted zone. It therefore doesn't enforce CORS between those domains, and elects not to send an `Origin` header. So this means that VA-configured IE installations will not be able to do auto-login.

I agree with the proposed fix because losing auto-

[2020-11-02 22:54] kfrz commented on #14863
Next step, getting Slack configuration back in action for this team's projects.

[2020-11-02 22:55] kfrz commented on #14862
This has been completed. Next step is getting Slack notifications back in action.

[2020-11-02 22:58] #14865 closed

[2020-11-02 23:00] patrickvinograd commented on #15709
Can we also figure out if ISAM is able to generate a valid response when the `Origin` header is missing? It's fine if it omits the CORS response headers, since IE doesn't care about them, but if it can generate the `session-alive` and `va_eauth-*` headers, then we can still get auto-login on VA IE installations.

[2020-11-02 23:01] brianalloyd commented on #14774
@ncksllvn and @jenstrickland based on staging review this looks to be complete, can I go ahead and close this out in support?

[2020-11-02 23:04] brianalloyd commented on #15196
@joanneesteban just checking to see if their is anything I can help with this request and if you had an idea of when Analytics implementation might be in place for R&S based on our 11/4/2020 launch schedule.

[2020-11-02 23:14] peggygannon commented on #15637
@leahkeeler Here you go. I couldn't figure out where that one status got mangled. Here's an update:

**Status:** We're referring this debt to the U.S. Department of the Treasury today.
**Next step:** Please pay the full amount online or by phone now to prevent referral.  If we don't receive your payment today we're required by law to refer your debt to the U.S. Department of the Treasury.

Pay onl

[2020-11-02 23:18] peggygannon commented on #14752
Hi, @annaswims @luke-gcio is this the only "file upload" error message we have right now? do we need to create messages for each document type that we can't open or upload?

[2020-11-02 23:21] mpelzsherman opened #15710 "Side navigation widget is missing on VAMC pages when viewed in the preview server"
## What happened?
The side navigation widget is missing on VAMC pages when viewed in the preview server.

## Specs:
- any web browser

## Steps to Reproduce
- URL:  http://preview-staging.vfs.va.gov/preview?nodeId=84

## Desired behavior
The side navigation widget should be visible.

## Acceptance Criteria
- [ ] The side navigation widget is visible and contains the expected content

## Dev Notes

[2020-11-02 23:22] brianalloyd commented on #10758
@MarciMcGuireGCIO looping you in the post-launch enhancements for Find a VA form MVP 1.0.

[2020-11-02 23:25] peggygannon opened #15711 "VSP content feedback - VAOS community care provider selection mockup"
User story
This ticket captures VSP content feedback VAOS community care provider selection flow

Prototype link: Here's the prototype for your review: https://adhoc.invisionapp.com/share/QWZ7WD9GTPJ#/435681239_VAOS-CC-Pick-1

Acceptance criteria

- [x]  VSP/Peggy provides content feedback for the form/tool and any associated static pages
- [x]  Product team incorporates feedback and/or asks follo

[2020-11-02 23:42] mnorthuis opened #15712 "IA Feedback - Staging Review - Resources and Support"
**Feedback framework**

- **Must** for if the feedback must be applied
- **Should** if the feedback is best practice
- **Consider** for suggestions/enhancements

## Description

This issue describes IA feedback

**Consider**
- When screen shots are used in articles, I would consider consistently having a boarder around the image to ensure that users are clear that it is an image and not something

[2020-11-02 23:42] esther-k commented on #13994
@bridgethapner

- Confirm: If the appointment was virtual, the address field should say "Virtual Session"

[2020-11-03 00:05] peggygannon commented on #14263
Hi, @Mottie sorry, I completely missed this last week.  Do you still need some guidance on wording?

[2020-11-03 00:07] esther-k opened #15713 "Upcoming Appointment Details: VAVC at an ATLAS Location"
## User story
As a user, I want to see details for my upcoming VA Video Connect(VAVC) at an ATLAS location appointment and: add the appointment to my calendar and get directions directly from the app.

## Acceptance Criteria
Note: Canceled UI covered with story #15739

1. Selecting a VA Video Connect at an ATLAS location appointment from the Upcoming Appointments list routes to a new page with mor

[2020-11-03 00:10] Mottie commented on #14263
Yes, please. I think it might be better to redirect the user to the viewer page I shared above. Ultimately, it seems that we do recommend Adobe, but the letter app is the only application in vets-website repo that explicitly states this fact.

[2020-11-03 00:16] esther-k commented on #13995
@bridgethapner

Do you have the VAOS link and will the link open in app or out of app?

[2020-11-03 01:01] #15315 closed

[2020-11-03 01:03] #14372 closed

[2020-11-03 01:05] jonwehausen commented on #15196
Hi @brianalloyd,

Thank you very much for your patience here, will be giving this a thorough review and reaching out with questions.

[2020-11-03 01:06] esther-k opened #15714 "Upcoming Appointment Details: VAVC at Home"
## User story
As a user, I want to see details for my upcoming VA Video Connect(VAVC) at home appointment and: add the appointment to my calendar and join the session directly from the app.

## Acceptance Criteria
Note: Canceled UI covered with story #15739

1. Selecting a VA Video Connect at Home appointment from the Upcoming Appointments list routes to a new page with more detail about that appo

[2020-11-03 01:07] #14896 closed

[2020-11-03 01:16] erluti opened #15715 "[Dangerbot] Link to documentation from dangerbot"
this should be linked when the dangerbot blocks on migrations https://depo-platform-documentation.scrollhelp.site/developer-docs/Vets-API-Database-Migrations.689832034.html

this should be linked with code length warnings/errors https://depo-platform-documentation.scrollhelp.site/developer-docs/Submitting-pull-requests-for-approval.655032351.html

review other links
i.e. strong migration link conf

[2020-11-03 01:19] peggygannon commented on #14263
OK, I'm going to look into this a little bit @Mottie I've reached out to Beth Potts about this very page you linked to above,  and to check if the Public Website team has created any standard language around PDFs. will keep you posted.

[2020-11-03 01:48] callen2563 commented on #15115
@Samara-Strauss @tressaellen
<img width="865" alt="Screen Shot 2020-11-02 at 5 42 52 PM" src="https://user-images.githubusercontent.com/68560244/97937333-3da9ae00-1d33-11eb-9c89-1fc8a1cb60c8.png">

So the thought for version C was that the mobile accordion would respond and become the nav on desktop so that the user could see their updates in each section instead of having to scroll to see what th

[2020-11-03 02:04] tlei123 commented on #14059
@craigwheeler , which of these 2 vets-website branches should I watch for new/updated automated tests for the diary-codes/next-steps?  Or, should I be watching a different branch from these 3?
- 13764-diary-codes-content
- 13765-diary-codes
- 13765-diary-codes-content

Please let me know.  Thanks much!

[2020-11-03 05:12] #15017 closed

[2020-11-03 07:32] digitaldrk commented on #12092
![image.png](https://images.zenhubusercontent.com/5e62b7b08eb909e3dc9d38f7/cbf08267-251b-4c05-85af-493e629a44e9)

[2020-11-03 07:33] digitaldrk commented on #12092
https://github.com/department-of-veterans-affairs/vets-api/pull/5209

[2020-11-03 12:34] jonwehausen commented on #15196
Hi @brianalloyd,

Thank you for filling out this request very thoroughly! - apologies again for the delay here.

### KPIs
- As part of our due diligence with each request we receive, we wanted to ask if the team had a product outline we could review? I reviewed the mural [here](https://app.mural.co/t/departmentofveteransaffairs9999/m/departmentofveteransaffairs9999/1588167553516/2773c854e8ff3a725a

[2020-11-03 12:41] desireeturner commented on #11970
@1Copenut any suggestions on path forward on this issue?

[2020-11-03 12:45] #15274 closed

[2020-11-03 12:57] delli-gatti-michael commented on #14244
This is in production. Closing this out

[2020-11-03 12:57] #14244 closed

[2020-11-03 13:03] MarciMcGuireGCIO commented on #11083
Thank you, Brian! I got the others also.  I appreciate you sending these.

On Mon, Nov 2, 2020 at 6:26 PM Brian Lloyd <notifications@github.com> wrote:

[2020-11-03 13:07] dneel-bah opened #15717 "GIBCT Redesign: Research Walkability/Near the school Functionality"
As a developer, I need to research walkability / near the school functionality that can be incorporated into the comparison tool so that the comparison tool users know what is available near the campus.

## Assumptions:
1. Near the school functionality covers things like food options, public transportation, entertainment, libraries, parking, other amenities.

## Acceptance Criteria:
1. Documentati

[2020-11-03 13:42] pjhill commented on #13788
Hey, for now just include me -- peter.hill@oddball.io

If others decide to attend later then I can forward them the invite -- thanks!

[2020-11-03 13:45] cialespr commented on #14970
Cypress currently does not support a way to navigate through a webpage using a keyboard. The old night watch E2E test will be revived.

[2020-11-03 13:54] Samara-Strauss commented on #15115
Ah, I see. I would talk to Sandra and Erik about whether something could work this way responsively. In the mobile view, the collapsed elements are the whole section, but on desktop, you've separated the section headers into a side navigation. For responsive design, ideally, the elements are a 1:1 analogy. So, if we had a side nav on desktop, that would collapse into a navigation on mobile. Instea

[2020-11-03 14:02] delli-gatti-michael commented on #15692
Local testing complete

![Screen Shot 2020-11-03 at 9.01.34 AM.png](https://images.zenhubusercontent.com/5c07f000391a6f6357adc430/33a99549-19a5-48fa-814f-4d77456a49a6)

[2020-11-03 14:02] jenstrickland commented on #14774
@brianalloyd I agree this can be closed, although I do ask that the team connect with @1Copenut for guidance on ensuring all accordions and other hidden content are unhidden and axe scans run on them in the e2e tests.

[2020-11-03 14:02] #14774 closed

[2020-11-03 14:07] rtwell commented on #15084
my recommendation would be to make all of our radio buttons consistent across the app. with the addition of the descriptors to the types of care, we've got another layer to incorporate. @outerpress this might be a good experiential design problem to solve as we work on decoupling requests/appointments

[2020-11-03 14:13] leahkeeler commented on #15637
Thank-you so much Peggy!!! I think we are done, been a marathon cc: @craigwheeler

[2020-11-03 14:16] craigwheeler commented on #15637
awesome ill take care of it thanks everyone! :grinning:

[2020-11-03 14:18] kristenmcconnell opened #15718 "[UI] Adding more appointment information in the Questionnaire workflow"
## User Story
- As a Veteran, I want to be able to access more information about my associated appointment throughout the questionnaire workflow, particularly before starting, once I've completed a questionnaire, and PDF.

## Related Documentation
 - [MVP: Visit Intro Initiative (Proof of Concept)](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/quest

[2020-11-03 14:24] kristenmcconnell commented on #15019
@peggygannon @DanielleThierryUSDSVA Let me know if you have any questions about this ticket.

[2020-11-03 14:26] craigwheeler commented on #14059
hey @tlei123 :wave: ... the PRs you listed above have already been merged and are now closed, however I should be finishing up diary codes shortly so if it helps i'll post a branch containing the new tests here

[2020-11-03 14:33] ksantiagomorgan6 commented on #14970
Cypress currently doesn't support the keyboard navigation needed to complete the E2E. I will be reviving the old night watch test.

[2020-11-03 14:34] watersemma commented on #14420
UX Review 1/2: This checks out for me!

[2020-11-03 14:41] JenLJ commented on #14420
UX Review 2/2:  This also checks out for me!

[2020-11-03 14:45] DanielleThierryUSDSVA commented on #15019
Thanks, @kristenmcconnell. Will do. Could you give me a sense of timing on this for prioritization? Thanks!

[2020-11-03 14:48] zurbergram commented on #13866
https://github.com/department-of-veterans-affairs/gibct-data-service/pull/761

[2020-11-03 15:00] tressaellen commented on #15115
@rtwell @Samara-Strauss @callen2563

Okay, here's a few more mocks to look at, including the long scroll design from mobile design D. First is the updated mock for mobile design C (seen below), with mobile navigation (for conversations sake).

![Claims   Appeals VA Desktop C2 1](https://user-images.githubusercontent.com/58752772/97999158-70858d80-1d97-11eb-86f6-d3711a812f3e.jpg)
![Healthcare VA De

[2020-11-03 15:01] digitaldrk commented on #15152
This took way longer than expected.

## Desired Outcome
We hoped that if we pushed the code to staging we would get a successful response from central mail since our computers do not have login credentials for the central mail service.

## Actual Outcome
We are still receiving an error. It is not clear though if it is the same error although it _acts_ the same way in that no new code added from th

[2020-11-03 15:08] bradl3yC commented on #13846
@jonwehausen I think the has-dependent-debt was in its own call

User 1 should have debt cards in staging

[2020-11-03 15:08] amyknox commented on #15286
Print layout / additional content
- [ ] Respond to questions in spreadsheet for 22-1995
- [ ] Respond to questions in spreadsheet for 22-0994 after 22-1995
- [ ] Prioritize confirmation page Print layout - 22-0994 ... Identify any content that doesn't need to display in the confirmation page.

22-1995 Printer-friendly confirmation, to use as a model:
![Screen Shot 2020-10-20 at 2.08.15 PM.png](htt

[2020-11-03 15:12] kristenmcconnell commented on #15019
Would having the review completed by the end of the week (Nov. 6) be reasonable on your end?

[2020-11-03 15:17] jbalboni commented on #15103
@1Copenut Can you clarify what you're saying is unbalanced? I'm not understanding from the screenshot and the description.

[2020-11-03 15:20] dillo commented on #15007
This story did not get done during Sprint 33. It will be picked up AND started when Sprint 34 begins. https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/14991 took more effort and time to complete than originally estimated. The additional effort was due to the dev discovering that the underlying code was missing components, tests, was g

[2020-11-03 15:24] jhonnyoddball commented on #15602
When I run the transformer test `node script/cms/test-bundle-transformers.js --bundle "paragraphs-alert" --entity paragraph.3a76cbda-2e99-4c2a-b417-ce837646d19b.json`

![Screen Shot 2020-10-29 at 5 01 31 PM](https://user-images.githubusercontent.com/55560129/98004892-75116c80-1dbe-11eb-8283-2362416be6d9.png)

The `fieldAlertBlockReference` field returns with data.

However, when I run the build th

[2020-11-03 15:25] LinnJS commented on #14697
Was working on this issue again, but is now blocked by platform transformSubmit mis-mutating the certification array will post more details.

[2020-11-03 15:26] delli-gatti-michael commented on #13866
Local testing complete

[2020-11-03 15:28] jhonnyoddball commented on #15602
The node was debugged using DevTools inspector. At that time, the `fieldAlertBlockReference` field was already `null`

![Screen Shot 2020-11-02 at 1 36 55 PM](https://user-images.githubusercontent.com/55560129/98005588-392ad700-1dbf-11eb-87e2-45f9dbaf2b7b.png)

[2020-11-03 15:29] jhonnyoddball commented on #15602
The next step will be to debug it in Metalsmith pipeline and see at what point the node it's changed.

[2020-11-03 15:34] Samara-Strauss commented on #15115
I think we need to meet to talk about these:

- The side nav issue is not an issue of whether I think the side nav is a good idea or not. It's about creating something that would be complex to build (as far as I know) because you've changed what an element is used for on mobile (a section heading) and made it a fundamentally different element that will function differently on desktop (a side navig

[2020-11-03 15:37] leahkeeler opened #15719 "DebtRes FSR - Ch3 Household Assets - Content"
As a Veteran filling out FSR I wan tot understand what I need to list in assets for household

[2020-11-03 15:39] #15184 closed

[2020-11-03 15:39] dneel-bah opened #15720 "1995: Update content labels to match DEPO standards"
As a dev, I need to update the 1995 form labels so that they match the DEPO standard labels.

## Assumptions:
1. This work is completed behind a prod flag.

## Acceptance Criteria:
1. The chapter titles are sentence case:
    a. Applicant information
    b. Education benefit
    c. Military history
    d. School selection
    e. Personal information
    f. Note: "Review Application" is excluded fr

[2020-11-03 15:40] amyknox opened #15721 "Education Form Standardization"
The BAH team is working on normalizing a number of education benefits forms over the next few sprints.  The application for 22-1009 / VET TEC, is our top priority. If you could review and respond to questions about this form this week, that would be helpful.

We'd like your input on Form titles for the follow:
1. **22-0994, Application for VET TEC**
The introduction form title is "Apply for Vetera

[2020-11-03 15:41] ksantiagomorgan6 commented on #15514
Additional PR: https://github.com/department-of-veterans-affairs/vets-website/pull/14810

[2020-11-03 15:43] #10713 closed

[2020-11-03 15:45] LinnJS commented on #14697
The schema dictates a [shape like this](https://github.com/department-of-veterans-affairs/vets-json-schema/pull/528/files#diff-5317e46e82e43b1fb10a2eba27ab160be3d52c2c012257b4342ee87d2e0f073fR435). In the redux data everything looks as it should but when passing it to the [VSP transformForSubmit](https://github.com/department-of-veterans-affairs/vets-website/blob/LinnJS-signature-content/src/platf

[2020-11-03 15:46] jenniferlee-dsva commented on #14347
From one of @rtwell 's design tickets - This Australian gov site shows a dynamic back to top behavior he intended: https://www.vic.gov.au/digital-guides

[2020-11-03 15:46] RLHecht commented on #15660
@bethpottsVADEPO I reviewed your changes on the landing page and all looks good.

[2020-11-03 15:53] bmcgrady-ep commented on #13708
@ricetj - Correct, the connected apps page has nothing to do with direct deposit. I do see the `Profile - Direct Deposit Retrieval Started` and `Profile - Direct Deposit Retrieval Successful` events happening on each of the profile pages. I believe this is due to the events being an API call.

[2020-11-03 16:00] #15152 closed

[2020-11-03 16:00] #12092 closed

[2020-11-03 16:06] digitalken commented on #15444
Testing:

1. Verify large button (example:  https://adhoc.invisionapp.com/d/main#/console/20546460/431636878/preview ) has the following:
  a. No border
  b. Variable text color
  c. Variable background color
  d. Text style:  Mobile Body Bold (visual verification)
  e. Has internal padding 10px (visual verification)
  f. Margins - Standard gutter left, right, margin between vertical (visual verif

[2020-11-03 16:06] #15281 closed

[2020-11-03 16:09] digitalken commented on #15443
Testing:

1. Verify the native dropdown picker appears on various edit states throughout app, including:
  a. Direct Deposit edit screen > Account Type field
  b. Edit address > Country & U.S. State fields
2. Verify that selecting a native dropdown field will open the device's OS dropdown menu and allow the user to choose from a series of options in the menu.

[2020-11-03 16:12] #12191 closed

[2020-11-03 16:14] DanielleThierryUSDSVA commented on #15660
@bethpottsVADEPO @RLHecht Here's a sentence to add for coronavirus FAQs. Thanks!

If you have questions about how COVID-19 may affect your VA benefits and services, read our [coronavirus FAQs](/coronavirus-veteran-frequently-asked-questions/).

[2020-11-03 16:20] tressaellen commented on #15115
Let's meet to make sure we're on the same page for these... I'd like to get to a better spot with desktop before testing, just so we at least have an idea of what we're working with even though things might change with testing. I'll slack you and figure out a time to chat.

[2020-11-03 16:22] #13299 closed

[2020-11-03 16:25] jenniferlee-dsva commented on #15559
Validated here http://learningcenter.web.demo.ci.cms.va.gov/resources/

[2020-11-03 16:25] #15559 closed

[2020-11-03 16:26] #14747 closed

[2020-11-03 16:27] jenniferlee-dsva commented on #15562
I tried to validate same FAQs page here: http://learningcenter.web.demo.ci.cms.va.gov/node/8233  but got an internal server error.

![image](https://user-images.githubusercontent.com/43381063/98012815-8a3ec900-1dc7-11eb-951d-63d25c11e916.png)

[2020-11-03 16:29] jenniferlee-dsva commented on #15565
I tried to validate on the same single QA but got an internal server error message: http://learningcenter.web.demo.ci.cms.va.gov/node/8540

![image](https://user-images.githubusercontent.com/43381063/98013079-e4d82500-1dc7-11eb-9476-b62fe581ff96.png)

[2020-11-03 16:33] mmiddaugh commented on #15666
News Releases removed from the scope of this issue as they use only a date (no time displayed)

[2020-11-03 16:36] allison0034 commented on #15209
@brianalloyd looking at the Mural board, I see the accordions are all expanded. Is it going to be this way in production or was it done like this in Mural to show the content?

[2020-11-03 16:36] RLHecht commented on #15259
This work has been completed. Closing ticket.

[2020-11-03 16:36] #15259 closed

[2020-11-03 16:38] mnorthuis commented on #15721
@amyknox Can you let us know what your timing is on this, so we can slot it into our sprint work accordingly?  Thank you!

[2020-11-03 16:39] timwright12 commented on #9837
Just noting that the current version appears to be 10.15.3 and the current LTS is 14.15.0 (https://nodejs.org/en/)

Set in two places:
https://github.com/department-of-veterans-affairs/vets-website/blob/master/.nvmrc
https://github.com/department-of-veterans-affairs/vets-website/blob/master/package.json#L274

As well as in CircleCI Config (10 times):
https://github.com/department-of-veterans-affai

[2020-11-03 16:39] narin commented on #14169
The Cypress tests I've created are passing locally but failing in Jenkins for some reason.  However the page passes the aXe tests using the chrome extension, So I think we can loop @1Copenut in for an accessibility audit as I figure out what's going on with the Cypress tests @lenaecb.

[2020-11-03 16:42] narin commented on #15230
Reopening since we are still seeing a small number of these pop up.

[2020-11-03 16:42] brianalloyd commented on #15272
Need to add new ticket to match Ryan's design elements as shown on mural board.  Work with Ryan and Kelson to complete.

[2020-11-03 16:43] #13393 closed

[2020-11-03 16:44] brianalloyd commented on #15306
Validated, closing this ticket.

[2020-11-03 16:44] #15306 closed

[2020-11-03 16:44] srmyers17 commented on #13633
- Outcome from first workshop: https://app.mural.co/t/adhoccorporateworkspace2583/m/adhoccorporateworkspace2583/1602620677692/7f0746f14fc64c5b236be8815f3330fbba7892b4
- Second workshop scheduled for 11/13

[2020-11-03 16:44] Samara-Strauss opened #15722 "[BE] Preferred medical facility: Technical discovery"
## Background

We need to allow people to indicate their preferred medical facility in the VA.gov profile so that the VAOS tool can consume this information for a better user experience.

What we already know:

- We can get someone's full facility list through MPI. The VAOS team is already consuming this, so it'll probably be pretty easy or us to tap into this information as well.
- We do NOT need

[2020-11-03 16:45] #14018 closed

[2020-11-03 16:45] lenaecb commented on #14192
@jonwehausen @bsmartin-ep - would it be worth setting up sometime to talk through current, in progress v2 of the Domo dashboard? I have a few questions/suggestions, but I think it may take some conversation.

My goal soon is to use DOMO as our source of truth for most high level app analytics we need, but right now there are a few things that we could clarify to make that possible.

[2020-11-03 16:46] srmyers17 opened #15723 "Veterans Crisis Line Chat"
## User Story

As a Veteran, I want to chat with the crisis line through the mobile app.

## Tasks

- [ ] UX discovery: what would this include?

- [ ] Technical discovery: what existing services could we use to implement this in the app?

[2020-11-03 16:47] YanaRoy opened #15724 "VSA Onboarding - Sam Suddath"
## Welcome to the VSA Program

Welcome! This issue will be used to track your onboarding to the VSA Program.
Front-End Engineer on Public Websites Team starting on 11/4.

---

## Pre-Onboarding

**Operation Lead Tasks**

- [ ] Send Welcome email to New Hire (request GitHub Username)

*Send Notifications with New Hire details (name, position, start date) to:*

- [ ] Admin Analyst
- [ ] VA Leadershi

[2020-11-03 16:48] srmyers17 opened #15725 "COVID-19 Chatbot"
## User Story

As a user, I want to ask the COVID-19 chatbot questions in the app.

## Tasks

- [ ] UX Discovery: What do users want to ask, or need to know?

- [ ] Technical Discovery: How could we implement the existing chatbot in the app?

[2020-11-03 16:48] mmiddaugh commented on #11610
Closing as duplicate to #15331

[2020-11-03 16:49] lenaecb commented on #13272
Status - currently ticking away at some of these items.

[2020-11-03 16:51] srmyers17 opened #15726 "Total combined disability rating"
## User Story
As a user, I want to see my disability rating in my profile in the app.

## Tasks:
**Technical Discovery:**
- [ ]  Is there a way for us to get disability permanence & service-connected info?

- [ ] What API do we need to use for the disability rating? (Discuss with Jim Adams)

**UX Discovery**

- [ ] What do users want to see?

[2020-11-03 16:54] mnorthuis commented on #14457
@luke-gcio Can you please provide a link to the feature on staging, so the team knows where to look for the functionality?  Thank you!

[2020-11-03 16:55] YanaRoy opened #15727 "Add Sam Suddath to DSVA Slack as Full Member"
Hello! We have a new person starting with the VSA Project. Can you please add him as a full member to the DSVA Slack. Thanks!
Email: ssuddath@governmentcio.com

[2020-11-03 16:56] youngfreezyVA opened #15728 "poc - toggle language with seoUrl"
# User story

As a Veteran or caregiver who needs, or would prefer, coronavirus information in Spanish, I want to be able to easily:

- Toggle between English and Spanish content
- Find the Spanish version of the content via search
- Bookmark the Spanish version of the content for future reference

# Task

Create a POC to toggle language with seoUrl

Page for MVP will be: https://www.va.gov/corona

[2020-11-03 16:57] #13718 closed

[2020-11-03 16:59] LizCallaghan commented on #15727
done!

[2020-11-03 16:59] #15727 closed

[2020-11-03 17:02] jenniferlee-dsva commented on #15565
http://learningcenter.web.demo.ci.cms.va.gov/resources/how-can-i-find-a-va-facility/

I was able to validate the breadcrumb pattern on a different Q&A page, so closing this as resolved. There appears to be a server error on the specific QA that Tze reported above however, and will report that to the CMS team.

[2020-11-03 17:02] #15565 closed

[2020-11-03 17:06] RLHecht commented on #15238
Work on this ticket completed. Closing.

[2020-11-03 17:06] #15238 closed

[2020-11-03 17:07] jenniferlee-dsva commented on #15566
Validated and resolved.

[2020-11-03 17:07] #15566 closed

[2020-11-03 17:08] jenniferlee-dsva commented on #15625
resolved and validated.

[2020-11-03 17:08] #15625 closed

[2020-11-03 17:08] jonwehausen commented on #15196
ccing @bsmartin-ep and @bmcgrady-ep for visibility

[2020-11-03 17:08] jonwehausen commented on #15678
@bsmartin-ep or @bmcgrady-ep could one of you connect with Narin on the event's we will need here? Thanks

[2020-11-03 17:09] jenniferlee-dsva commented on #15562
Tried again and appears resolved. Closing as validated.

[2020-11-03 17:09] #15562 closed

[2020-11-03 17:09] mdewey commented on #14084
Accessibility does not want this change. They have found that users want to see the new input and be focused on what they are wanting to

Link to conversation: https://dsva.slack.com/archives/C8E985R32/p1604423197114800?thread_ts=1604421009.111800&cid=C8E985R32

Looking for next steps @abuckley3385 @kristenmcconnell

[2020-11-03 17:09] SgardnerPMP opened #15729 "[Data-Load] Import and load approved Content to approapriate pages in VINS-23 Systems [CW]"
## Story
As a Veteran and web maintainer I need clear content to direct me through my health care journey, so I can best understand the services and information provided throughout the healthcare system.

## Resources
[VISN-23 Final content](https://drive.google.com/drive/folders/10p45lzP4Ku5zyrs9-AyjefuQOHRLVJ-h)
[Best bet text file](https://drive.google.com/drive/folders/1IRFznUzy5OyrnvAV2BAmWn1

[2020-11-03 17:15] #14974 closed

[2020-11-03 17:17] jenniferlee-dsva opened #15730 "Learning center search results should not show pagination in breadcrumb"
## What happened?
_Describe in detail what went wrong; screenshots, videos, or gifs are strongly encouraged_

On this search results experience, the breadcrumb is including the pagination. Pagination should not be included in the breadcrumb pattern of search results.

(This might be  a FE bug, because search results are dynamic pages that are not inside the CMS.)

http://learningcenter.web.demo.ci

[2020-11-03 17:18] SgardnerPMP opened #15731 "[LOAD-DATA] Load compiled Fab-Five Data into respective Health Service Programs, Entities, and Facilities Detail pages [Data Tech]"
## VAMC - Product Outline
[VAMC-upgrade Product Outline](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/facilities/medical-centers/Project_Plan_Outline_2019.md)

## High Level User Story
As a Veteran Web User, I need clear, concise, and instructional information in plain language on all Fab-Five VISNs, system and medical center web sites,  so I quickly get to wh

[2020-11-03 17:19] jenniferlee-dsva commented on #15730
Not a launch blocker, but we should fix this sprint.

[2020-11-03 17:23] SgardnerPMP opened #15732 "[DATA-LOAD] Load data for "VISN-6 " - "TOP TASK" Detail Pages in CMS [Data Tech]"
## User Story or Problem Statement
As a Veteran Web user, I want immediate access to my TOP Tasks, so I can quickly access services most important to me on my health care journey.

## Goal
_Highlight TOP TASK pages with local and national information as required_

## Objectives or Key Results this is meant to further
- _Reduce Click through count by_Highlighting top tasks_

## Resources - Tools -

[2020-11-03 17:24] Mottie opened #15733 "[Development] HLR updates"
## Description

Some minor Higher-Level Review form (20-0996) updates
- Only show a work-in-progress alert when the feature flag is disabled; previously the introduction page content was shown with no start form buttons
- Ensure link button, to be added to HLR info page, includes feature flag access

## Acceptance criteria

- [ ] HLR is ready for testing in production

[2020-11-03 17:26] peggygannon commented on #15050
@jbalboni here's what I recommend use for the Cancel links for the different type of "appts). (So aria label for Express Care would be something like "Cancel Express Care request for neck pain")

cc @rtwell @outerpress, any concerns?

for Appt requests: [Cancel appointment request]
for Direct schedule: [Cancel appointment]
for Express care: [Cancel Express Care request]

[2020-11-03 17:26] bmcgrady-ep commented on #14615
@bethpotts - Following up on this request, were you able to connect your VA email with a google account?

[2020-11-03 17:27] SgardnerPMP opened #15734 "[DATA-LOAD] Load data for "All systems in VISN-16" - "TOP TASK" Detail Pages in CMS [Data Tech]"
## User Story or Problem Statement
As a Veteran Web user, I want immediate access to my TOP Tasks, so I can quickly access services most important to me on my health care journey.

## Goal
_Highlight TOP TASK pages with local and national information as required_

## Objectives or Key Results this is meant to further
- _Reduce Click through count by_Highlighting top tasks_

## Resources - Tools -

[2020-11-03 17:27] bmcgrady-ep commented on #15048
@cmaeng - Closing out this ticket as the users have been given access to Google Analytics. Feel free to reopen if you have any issues with the GA access.

[2020-11-03 17:27] #15048 closed

[2020-11-03 17:31] #15278 closed

[2020-11-03 17:31] bmcgrady-ep commented on #14931
@LucianaAlexanderMorais - Closing out this issue as you should have Google Analytics Access. Feel free to reopen if you have any issues with your access.

[2020-11-03 17:31] #15279 closed

[2020-11-03 17:32] ncksllvn commented on #15730
PR is open!

[2020-11-03 17:33] allison0034 commented on #15209
@brianalloyd Emily and I will provide feedback by EOD

[2020-11-03 17:34] #14931 closed

[2020-11-03 17:41] bkjohnson opened #15735 "Allow SiP "inProgress" messaging to be disabled"
### User story(ies)

As a VFS developer, I want a way to disable the "in progress" message on the save-in-progress intro component, so that we don't have redundant text when we don't have any alternative in progress messaging to display.

![image](https://user-images.githubusercontent.com/2008881/98020510-f1ed1800-1db7-11eb-8d43-319a2d1d8dea.png)

### Additional details/notes/links

- https://gith

[2020-11-03 17:42] lenaecb opened #15736 "Warning notification when app experiencing degradation of service/experience (without downtime)"
Display a warning to Veterans who are coming into VAOS to use the app but may encounter issues due to degradation in services used by VAOS.

### Acceptance criteria:
- enable window with following copy below in PagerDuty when we notice degradation in experience for users of VAOS app

### Message should say:
**You may have trouble using the VA appointments tool right now.**
Some Veterans have repor

[2020-11-03 17:44] erikphansen opened #15737 "Remove `dashboard_show_covid19_alert` feature flag"
We no longer need the `dashboard_show_covid19_alert` feature flag. It has been true for months and there will be no need to flip it off. Whenever the COVID alert is removed from the dashboard it can be done by deleting the code.

[2020-11-03 17:45] erikphansen commented on #15737
@Samara-Strauss I'm pretty sure we will not need the ability to immediately remove the COVID-19 health chat alert from the My VA Dashboard. Let me know if I'm incorrect about that.

[2020-11-03 17:47] Samara-Strauss commented on #15737
I can't think of a reason why we would need that. I think it's OK to remove the feature flag.

[2020-11-03 17:50] lalexanderson-dsva commented on #15736
We don't usually use the word "customers' in our error messaging. I'd like to get @DanielleThierryUSDSVA eyes on this.

[2020-11-03 17:52] esther-k opened #15738 "Upcoming Appointment Details: VAVC at a VA Location"
## User story
As a user, I want to see details for my upcoming VA Video Connect(VAVC) at a VA location appointment and: add the appointment to my calendar, call the clinic, and get directions directly from the app.

## Acceptance Criteria
Note: Canceled UI covered with story #15739

1. Selecting a VA Video Connect at A VA location appointment from the Upcoming Appointments list routes to a new pag

[2020-11-03 17:55] abuckley3385 commented on #13148
im good!

[2020-11-03 17:55] abuckley3385 commented on #14085
looks good

[2020-11-03 17:57] bessgreen opened #15739 "Canceled Appointment (UI)"
## User story
As a user, I want to see my canceled upcoming and past appointments

## Acceptance Criteria

1. Appointments List (both upcoming and past)
     - Display Canceled below the appointment information (date/time and location)
2. Modify the UI across all appointment detail pages:
     - Display Canceled below the date/time
     - Hide calendar hyperlink
     - If an upcoming appointment,

[2020-11-03 17:58] erikphansen opened #15740 "Improve My VA Dashboard Cypress tests"
Investigate existing test coverage and patch major holes. We don't want to break things as we work on the new My VA Dashboard.

At a minimum:
- [ ] add tests for a happy "lots of data" path
- [ ] add tests for a minimal data/components path

[2020-11-03 17:59] ncksllvn commented on #15610
Seems to be happening on Find Forms as well

![image.png](https://images.zenhubusercontent.com/59cb9de1b0222d5de47953d8/58558060-9274-45e6-81ac-aa6080084959)

[2020-11-03 18:05] DanielleThierryUSDSVA commented on #15736
Hi @lalexanderson-dsva @lenaecb. Let me know if this works - thanks!

**You may have trouble using the VA appointments tool right now.**

Some Veterans have reported problems with viewing, scheduling, or canceling their appointments. We’re working to fix the issue now.

If you have trouble using this tool, call your VA health facility or community care provider.
[Find your health facility or provi

[2020-11-03 18:09] ncksllvn commented on #15610
I have to use SauceLabs to run an IE instance remotely. The LC isn't public though so I can't access it from SauceLabs. So I am testing against /find-forms/, thinking that if we can fix it there, we can fix it on /resources/ too.

I noticed a red squiggly on this CSS rule. I wonder if that is the culprit.

![image.png](https://images.zenhubusercontent.com/59cb9de1b0222d5de47953d8/f838f584-3e82-422

[2020-11-03 18:15] ncksllvn commented on #15610
OMG that was it

![image.png](https://images.zenhubusercontent.com/59cb9de1b0222d5de47953d8/69983ab9-baa1-437f-ac6b-2192903e614b)

It was missing a percentage sign...it should have been `flex: 1 0 0%`.

This is a design system change. I'll try to open a PR there.

[2020-11-03 18:18] zurbergram commented on #14967
AC1

There is already https://github.com/department-of-veterans-affairs/vets-api/blob/master/app/workers/education_form/create_daily_spool_files.rb#L92 if a form is invalid.

It uses the level of `error` for logging, only improvement would be to include the exception or errors that are caught in the logged message.

[2020-11-03 18:24] cvalarida commented on #15538
I ran an experiment with GH Pages that worked pretty well. The result can be found at https://department-of-veterans-affairs.github.io/component-library/. Since this is a pilot right now, I favored a low barrier to entry approach (which means not setting up any CI for now). To publish Storybook right now, the steps are as follows:

1) Use `git subtree split` on the `formation-react` package to rew

[2020-11-03 18:24] #15538 closed

[2020-11-03 18:29] zurbergram commented on #14967
There is `info` level logging for which records were submitted, it currently outputs the a count and the ids

https://github.com/department-of-veterans-affairs/vets-api/blob/master/app/workers/education_form/create_daily_spool_files.rb#L129

[2020-11-03 18:29] #10597 closed

[2020-11-03 18:33] esther-k opened #15741 "Upcoming Appointment Details: Community Care Facility"
## User story
As a user, I want to see details for my upcoming community care facility appointment and: add the appointment to my calendar, call the facility, and get directions directly from the app.

## Acceptance Criteria
Note: Canceled UI covered with story #15739

1. Selecting a Community Care Facility appointment from the Upcoming Appointments list routes to a new page with more detail about

[2020-11-03 18:37] #14095 closed

[2020-11-03 18:40] esther-k opened #15742 "Upcoming Appointment Details: VAVC Using a VA Device"
## User story
As a user, I want to see details for my upcoming VA Video Connect(VAVC) using a VA Device appointment and: add the appointment to my calendar directly from the app.

## Acceptance Criteria
Note: Canceled UI covered with story #15739

1. Selecting a VA Video Connect using a VA Device appointment from the Appointments list routes to a new page with more detail about that appointment

[2020-11-03 18:43] zurbergram commented on #14967
Various stats are available to view in promethus
http://prometheus-prod.vfs.va.gov:9090/prometheus/graph?g0.range_input=2h&g0.expr=worker_education_benefits_claim_failed_formatting&g0.tab=1

stats tracked by create spool files
- worker_education_benefits_claim_failed_formatting
- worker_education_benefits_claim_transmissions_#{region_id}_#{type}

[2020-11-03 18:45] SgardnerPMP opened #15743 "[Data-Load] Import and load approved Content to approapriate pages in VINS-6 Systems [CW]"
## Story
As a Veteran and web maintainer I need clear content to direct me through my health care journey, so I can best understand the services and information provided throughout the healthcare system.

## Resources
[VISN-6 Final content](https://drive.google.com/drive/folders/159yjTHkyMft_X-oyjTlRNBD1omG2J72M)
[Best bet text file](https://drive.google.com/drive/folders/1IRFznUzy5OyrnvAV2BAmWn1y

[2020-11-03 18:53] SgardnerPMP opened #15744 "[Data-Load] Import and load approved Content to approapriate pages in VINS-6 Systems [CW]"
## Story
As a Veteran and web maintainer I need clear content to direct me through my health care journey, so I can best understand the services and information provided throughout the healthcare system.

## Resources
[VISN-6 Final content](https://drive.google.com/drive/folders/159yjTHkyMft_X-oyjTlRNBD1omG2J72M)
[Best bet text file](https://drive.google.com/drive/folders/1IRFznUzy5OyrnvAV2BAmWn1y

[2020-11-03 18:58] SgardnerPMP opened #15745 "[Data-Load] Import and load approved Content to approapriate pages in VINS-16 Systems [CW]"
## Story
As a Veteran and web maintainer I need clear content to direct me through my health care journey, so I can best understand the services and information provided throughout the healthcare system.

## Resources
[VISN-16 Final content](https://drive.google.com/drive/folders/1nZGwqeMIgMoPJCjOMIHfUN8edR7GgnOR)
[Best bet text file](https://drive.google.com/drive/folders/1IRFznUzy5OyrnvAV2BAmWn1

[2020-11-03 18:59] #13148 closed

[2020-11-03 18:59] #14085 closed

[2020-11-03 19:01] SgardnerPMP opened #15746 "[Data-Load] Import and load approved Content to approapriate pages in VINS-16 Systems [CW]"
## Story
As a Veteran and web maintainer I need clear content to direct me through my health care journey, so I can best understand the services and information provided throughout the healthcare system.

## Resources
[VISN-16 Final content](https://drive.google.com/drive/folders/1nZGwqeMIgMoPJCjOMIHfUN8edR7GgnOR)
[Best bet text file](https://drive.google.com/drive/folders/1IRFznUzy5OyrnvAV2BAmWn1

[2020-11-03 19:11] mdewey commented on #13148
As for the extra message: https://github.com/department-of-veterans-affairs/vets-website/pull/14697#issuecomment-721276444

Platform is treating it like a bug and changing how it is handled.

[2020-11-03 19:12] zurbergram commented on #14967
Adding feature flag `sidekiq_create_daily_spool_file_logging` which will flip all logging in `create_daily_spool_files` error level

[2020-11-03 19:14] outerpress commented on #15050
Those all seem clear to me @peggygannon

[2020-11-03 19:20] jenniferlee-dsva commented on #14966
Tx @Kimberley2019

[2020-11-03 19:20] bmcgrady-ep commented on #15643
@denisecoveyduc @mgleo - Were you able to get your Bing Webmaster Tools accounts created? If so, we can get you added to the va.gov Bing Webmaster Tools account.

[2020-11-03 19:25] zurbergram commented on #14967
Adding a `rescue` to code that writes data to the spool file for each region

[code]

[2020-11-03 19:29] zurbergram commented on #14967
https://github.com/department-of-veterans-affairs/vets-api/pull/5214

[2020-11-03 19:30] tlei123 commented on #14457
@luke-gcio , is ths the right URL, at least for the form-intro?  https://staging.va.gov/decision-reviews/higher-level-review/request-higher-level-review-form-20-0996/introduction

[2020-11-03 19:34] cvalarida commented on #15735
See also https://github.com/department-of-veterans-affairs/va.gov-team/issues/13148

[2020-11-03 19:36] amyknox commented on #15721
@dneel-bah - could you weigh in on timing for this request for Mikki & Peggy? Thank you!

[2020-11-03 19:43] dneel-bah commented on #15721
@mnorthuis We'll be working these changes into our backlog through the end of the year.  If we could get them spread out over time, I think that would be ideal.  Otherwise if you're looking to knock them all out at once, I'd say we would need the feedback by the beginning to middle of December.

[2020-11-03 19:43] jhonnyoddball commented on #15339
Based on the [liquid template](https://github.com/department-of-veterans-affairs/vets-website/blob/09f8a9c6cbc511092c54d51600de0d8a857ac9b6/src/site/layouts/page.drupal.liquid#L33-L43), `fieldAlert` is required, however, it's return as `null` in the build process

[code]

Looking at `node.8ce9264e-b642-46eb-a51a-9ed94f9fe9f1.json`

[code]

And also at `block_content.6ecdbf96-2a9e-4beb-9d95-d41fced

[2020-11-03 19:45] jonwehausen opened #15747 "[BUG] GA<>BigQuery Export 11/2"
## What happened?
Our daily Google Analytics<>BigQuery export is outside of it's normal morning-AM hours window and has not completed the daily export.

## Desired behavior
The Google Analytics to BigQuery export executing it's daily export per usual

## Acceptance Criteria
- [ ] _Describe the desired working behavior_

## How to configure this issue
- [ ] **Attached to a Milestone** (when will th

[2020-11-03 19:50] jhonnyoddball commented on #15602
While debugging the build process I found out that this is what it's overriding the node:

[code]

Looking at `block_content.4e43f3ca-7301-4f22-826a-67c9470c31d6.json`

[code]

Basically, the paragraph is not showing due to the reference node is not published.

[2020-11-03 19:53] jenniferlee-dsva commented on #10758
Not sure why, but I can't add this ticket to the new product label: https://github.com/department-of-veterans-affairs/va.gov-team/issues/15241  < -- fysa @MarciMcGuireGCIO @johnhashva

[2020-11-03 19:54] #15733 closed

[2020-11-03 19:59] ricetj commented on #13708
@bmcgrady-ep we had one of our veteran team members test the disconnection in Prod today and it looks like we still are not receiving any data from GA.

[2020-11-03 19:59] #13764 closed

[2020-11-03 20:00] #15637 closed

[2020-11-03 20:05] #15411 closed

[2020-11-03 20:05] kevwalsh commented on #15339
I just confirmed that the alert block in question is in "draft" state in Drupal.

I'll go ahead and move it to "published".  Seems like we have a bug in the graphql queries that hasn't been noticed until now.

[2020-11-03 20:07] caw310 opened #15748 "Storybook Implementation: Release Plan"
## Guidance

_This Release Plan Template is intended to help ensure your new VSP product or feature is ready for launch and will deliver the desired user outcomes._
* _In Phase 1, you will test your product to learn how it'll actually be used, what problems it might create, and then fix/adjust if necessary prior to going live._
* _In Phase 2, you will define the launch communications plan and post

[2020-11-03 20:10] delli-gatti-michael commented on #15692
Fix is now in production. closing this issue

![Screen Shot 2020-11-03 at 3.09.07 PM.png](https://images.zenhubusercontent.com/5c07f000391a6f6357adc430/4b6f7836-c95f-4098-9859-0e0ba189605b)

[2020-11-03 20:10] #15692 closed

[2020-11-03 20:11] jonwehausen commented on #15747
Issue has been escalated to our Google analytics enterprise support

[2020-11-03 20:12] sanlouise commented on #14610
I will close this ticket myself - this was a code cleanup, and there is nothing to validate on Product's side

[2020-11-03 20:12] #14610 closed

[2020-11-03 20:16] shiragoodman commented on #15345
Ideation Workshop: https://docs.google.com/spreadsheets/d/1T9AzrVGtx-A3HAoIIdThaJ1qIw2dd-Nyqp6ST-JtCIw/edit#gid=0

Mural board: https://app.mural.co/t/vspproduct9990/m/vspproduct9990/1603955797675/c0c775268c29725b8797b8fee60f8912053619a4

[2020-11-03 20:16] lalexanderson-dsva commented on #15736
Thanks @DanielleThierryUSDSVA - this works.

[2020-11-03 20:20] #13765 closed

[2020-11-03 20:27] larrywest52 commented on #15037
All pages written, cross-checked, revised, and then uploaded to our team's Google Drive.

[2020-11-03 20:34] zacharymorel commented on #14347
Thanks, @jenniferlee-dsva . Much appreciated!

[2020-11-03 20:41] kevinmirc commented on #14767
Just created three PagerDuty services: `External: CARMA`, `Staging: External: CARMA`, `Dev: External: CARMA` for prod, staging, and dev. The dev service will be used for Review Instances, Sandbox, Dev, and Local environments. In PagerDuty, these services are assigned to the team **VSA: Caregivers**.

- [ ] There is a PR in the devops repo to update the API config to reference the CARMA PagerDuty s

[2020-11-03 20:46] joeniquette opened #15749 "SSOe Screen Redirect Improvement Research"
## Issue Description
- Screen flashing during redirects when logging into va.gov/sign-in for Cerner related uses has been determined to be a less than ideal user experience
- Screen readers may have issues reading content from sites during the redirect sign on process, this is an issue for accessibility
---
## Tasks
- [x] Document each redirect during the login process
- [x] Identify any possible

[2020-11-03 20:46] kevinmirc commented on #14767
Discovery summarized here: https://github.com/department-of-veterans-affairs/va.gov-team/issues/14767#issuecomment-721363558

[2020-11-03 20:47] joeniquette commented on #15749
[Link to google doc notes](https://docs.google.com/document/d/1U8G8Uzs_aP8IXPXJ7fjdB9ewIctYQz-ei3X6FyLrO24/edit), once the doc is finalized all notes will be transferred to this ticket.

[2020-11-03 20:47] kevinmirc commented on #15113
Discovery summarized in original (Frontend) issue: https://github.com/department-of-veterans-affairs/va.gov-team/issues/14767#issuecomment-721363558

[2020-11-03 20:48] jonwehausen commented on #15747
Hi Kenny/Jeffrey,

Hope you both are doing well since we last connected.

We are reaching out with high urgency as we have noticed today our GA to BigQuery export has still not yet completed for the prior day of 11/2/2020.

We are outside of our usual AM-hours variance and thus far logs look consistent with what we've seen historically for successful exports. We have included today's log in both J

[2020-11-03 20:50] #15113 closed

[2020-11-03 20:50] timwright12 opened #15750 "Access for Tim Wright"
# Instructions

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please Provide your email.

- Please provide the name of your team, your role on that team, and the name of the company you work for.

- Requesting SSH key authorization?

   - What is your **public** SSH key?

[code]

- Grant AWS Console access?

  - What AWS servic

[2020-11-03 20:50] rtwell opened #15751 "Fix white space on smaller viewports"

[2020-11-03 20:54] #14926 closed

[2020-11-03 20:56] #14925 closed

[2020-11-03 20:58] andaleliz commented on #14928
Scheduled for Wednesday afternoon, assuming we can get our final participant by then.

[2020-11-03 20:59] #14922 closed

[2020-11-03 21:06] #15114 closed

[2020-11-03 21:07] rileyorr commented on #15487
Initial pass at [CH 3](https://app.uxpin.com/edit/8733985#?id_page=133878135) has been added to the UXPin prototype! There's a couple directions we could go with how we collect these monetary values, so I added a couple versions for us to review with the DMC.

[2020-11-03 21:11] rtwell commented on #15751
On smaller screen sizes, the content is butting against the viewport:

[example 1](http://learningcenter.web.demo.ci.cms.va.gov/node/8427/)

![image.png](https://images.zenhubusercontent.com/5568d4774f7a08fbb7f30688/7cc8156c-bc56-46c3-a30b-11ef66c703f1)

example 2
![image.png](https://images.zenhubusercontent.com/5568d4774f7a08fbb7f30688/38689599-be(same page)cc-4cd8-a8e6-31d5d4d09ca1)

[2020-11-03 21:12] #15408 closed

[2020-11-03 21:12] LinnJS commented on #14767
@kevinmirc this work was just added to this [PR](https://github.com/department-of-veterans-affairs/vets-website/pull/14585/files)

[2020-11-03 21:14] #15735 closed

[2020-11-03 21:14] shiragoodman opened #15752 "Collaboration Cycle Feedback Discovery"
## Issue Description
VSP Collaboration Cycle feedback to VFS teams is not consistent across all practice areas and throughout the various Collaboration Cycle touchpoints. Before any solution can be applied, we need to discover the similarities and differences in the ways that feedback is being communicated across all practice areas and all collaboration cycle points.

## Acceptance Criteria
- [x]

[2020-11-03 21:16] shiragoodman commented on #15752
MURAL board: https://app.mural.co/t/adhocvetsgov9623/m/adhocvetsgov9623/1604350644537/2a40e0aca3dd25f4ea375b3180201d4bf1f382b5

[2020-11-03 21:18] LinnJS opened #15753 "Add Scheduled Downtime Dependencies to 10-10CG"
## Issue Description
As a developer I would like to schedule downtime for external APIs so users dont attempt to submit forms while external services we depend on are down.

Please add CARMA as a dependency to the external services lookup table, and add MVI and CARMA as a dependency to the 10-10CG

## Front end tasks
- Add CARMA as dependency
- Add MVI/MPI as dependency
- Add CARMA as global servi

[2020-11-03 21:22] bridgethapner commented on #13995
@esther-k hi!
- The VAOS link is: https://www.va.gov/health-care/schedule-view-va-appointments/
- It should open out of the app

[2020-11-03 21:25] #14831 closed

[2020-11-03 21:26] #15080 closed

[2020-11-03 21:26] bridgethapner commented on #13994
@esther-k Thank you for raising this Q! I think I wrote this documentation before I knew about the 4 types of virtual sessions. For virtual appointment types, the specific appointment type should be listed below the day/time, so one of these 4:

- VA Video Connect at home
- VA Video Connect at an ATLAS location
- VA Video Connect at a VA location
- VA Video Connect using a VA device

For VA Appoin

[2020-11-03 21:28] lalexanderson-dsva commented on #14108
I'm sorry to be a pain, but I'm not sold on the solution of adding more words to this page to describe these types of care at this time. We have other parts of the application where we describe some of these type of care services. (i.e. the breakdown between audiology and hearing aid battery, the description of optometry and ophthalmology).

As I think about the outcomes of that research study tha

[2020-11-03 21:28] #15487 closed

[2020-11-03 21:28] #15481 closed

[2020-11-03 21:28] #15475 closed

[2020-11-03 21:28] #14566 closed

[2020-11-03 21:29] DanielleThierryUSDSVA commented on #15361
This is perfect, @jason-gcio. Thanks so much! @brianalloyd, when we write up up the implementation ticket, we can just note to globally follow the direction re: the link staying per example.

[2020-11-03 21:30] esther-k opened #15754 "Past Appointment Details (UI)"
## User story
As a user, I want to see details of my past appointments

## Acceptance Criteria

1.  Selecting a past appointment takes the user to the details page for that appointment
     - Display back button
2. Modify the UI across all appointment types:
     - Hide calendar hyperlink
     - Hide the "need to cancel" card
     - Display the "schedule another appointment card"
3. In addition, m

[2020-11-03 21:37] bridgethapner commented on #15227
@bessgreen Circling back on this, sorry for the delayed response! I was editing my last comment to finalize responses but realized it'd be easier to leave a new comment. I was able to temporarily save some addresses in staging this week and found the following:

### For Military Base Addresses:
1. Display the full state (e.g. "Armed Forces Europe (AE)")
2. No comma separating state from the zip co

[2020-11-03 21:42] bradl3yC opened #15755 "Burials submission payload needs to be alpha-2"
The country code being sent to the burials endpoint needs to be converted to alpha2 to resolve the see additional info bug #15117

Resolved with PR https://github.com/department-of-veterans-affairs/vets-website/pull/14822

[2020-11-03 21:42] #15755 closed

[2020-11-03 21:48] brianalloyd opened #15756 "Alert FE Bug affecting Benefits Hub"
## Issue Description
_FE bug here. Draft content should not be visible on the FE. i believe graphql is not checking published status before embedding the alert block on that page. This is affecting Benefits Detail Pages and the VAMC system detail page. VAMC editors don’t own any of these alerts, but they do use them (eg the Mental Health one)._

Slack Conversation [Here](https://dsva.slack.com/arc

[2020-11-03 21:59] jonwehausen commented on #15747
### Raw Transcript From Google Chat Support
S
Hi Jon, how are you doing?
Siri · 3:47 PM
Hi Siri, I'm doing well how are you doing?
3:48 PM
S
Glad to hear. I'm doing fine as well. Thanks for checking.!
From your query, I see that you referring to a delay in BQ exports. Am I correct?
Siri · 3:49 PM
Yes that is correct, we are in eastern standard time and still have not yet received our daily export

[2020-11-03 21:59] jenniferlee-dsva commented on #11497
full set of CMS meta data functionality will not be ready in 1.1, so we can implement the FE of Videos article template after Dec.

(In 1.1, they will work on brining over the youtube video data + title. Post 1.1, they will add the other meta data we need for this template: video duration + video youtube description + video youtube publication date)

[2020-11-03 22:00] brianalloyd commented on #15196
@jonwehausen let me see if I can answer your questions posted below;

**1** From your request template verbiage, when you say "global nav" do you mean the nav at the very top with "VA Benefits and Health Care" -- just want to make sure as we have existing tracking in place here (Answer - Yes, by global we do mean the nav at the top as described above.)

**2** When are the /resources pages going to

[2020-11-03 22:00] jenniferlee-dsva commented on #15605
full set of CMS meta data functionality will not be ready in 1.1, so we can implement the FE of Videos article template after Dec.

(In 1.1, they will work on brining over the youtube video data + title. Post 1.1, they will add the other meta data we need for this template: video duration + video youtube description + video youtube publication date)

[2020-11-03 22:20] jason-gcio opened #15757 "Analytics Implementation or QA Support for CH31"
# Google Analytics Implementation or QA Request

## What this form is for

<details>
<summary>More Information</summary>
<div>
    <br>
<p>Use this template to request Google Tag Manager and Google Analytics implementation or QA for your product. Please fill out all brackets.</p>

For more information, please check out the [Google Tag Manager resources](https://github.com/department-of-veterans-af

[2020-11-03 22:22] erluti commented on #15482
@kfrz Does this cover this use case? https://github.com/department-of-veterans-affairs/vets-api/blob/master/app/controllers/concerns/sentry_controller_logging.rb#L30

[2020-11-03 22:23] kevwalsh commented on #15756
i added one AC, feel free to tweak.

`- [ ] Alert blocks are not visible on FE unless they are published in CMS. `

i'm unassigning myself, but please feel free to reach out via Slack if you have questions (or in this thread, but you might want to ping me in slack to alert me, cause sometimes i'm slow to see Github notifications).

[2020-11-03 22:36] larrywest52 commented on #15039
All pages written, cross-checked, revised, and uploaded to our team's Google Drive.

[2020-11-03 22:38] ncksllvn opened #15758 "Determine and implement strategy for anchor linking site-wide"
Per [this discussion](https://dsva.slack.com/archives/C52CL1PKQ/p16044415623768000) and this [pull request](https://github.com/department-of-veterans-affairs/vets-website/pull/14826), we have implemented element IDs to accordion items using the accordion item's "entity ID" in the corresponding content model.

Here's an example -

![image.png](https://images.zenhubusercontent.com/59cb9de1b0222d5de4

[2020-11-03 22:39] ncksllvn commented on #15758
Related ticket about doing this for the COVID FAQ page, https://github.com/department-of-veterans-affairs/va.gov-team/issues/7523

[2020-11-03 22:40] jenniferlee-dsva commented on #15196
I am not clear on the global nav answer. @jonwehausen could you point me to where it says that? REason I ask is because if we reference global search, it would be in the  utility nav (which is also 'global'), not the global menu nav where we link to benefit pages. But I can't tell without seeing the context of reference.

[2020-11-03 22:44] jenniferlee-dsva commented on #15758
Posting some examples and screenshots of similar functionality on other sites:

https://www.wholefoodsmarket.com/customer-service/topics/holiday-meals#00000175-70e5-d0c3-a5ff-fdef559b0000

![image](https://user-images.githubusercontent.com/43381063/98048586-fcc99c00-1dfb-11eb-878b-eabaea831d43.png)

https://www.nytimes.com/2020/11/03/world/john-elway-the-football-hall-of-famer-and-denver-broncos-g

[2020-11-03 23:02] lenaecb commented on #14108
@lalexanderson-dsva - yep, we have this current design mock with the added supporting text in the testing prototype so will have more data/research on what a veteran is seeking on this page and/or if this addition is even helpful.

[2020-11-03 23:03] jenniferlee-dsva opened #15759 "Review reusable alerts in draft and publish/archive as needed"
## Review reusable alerts in draft and publish/archive as needed

On this page: https://prod.cms.va.gov/admin/content/alerts  there are a handful of reusable alerts that currently show DRAFT state, but I think they are actually being used (correctly) on various pages.

Please review them and determine if they should be changed to "publish" -- or archive/delete if not being used anywhere,

![image.

[2020-11-03 23:13] esther-k opened #15760 "Appointments Service Integration"
## User Story / Task
Integrating with the appointments endpoint. This is a backend task - the associated UI is included in different stories

## Acceptance Criteria

1. Service integration with the appointments API
     - Make a call to display upcoming appointments
     - Make a call to display past appointments
2. Infer whether or not an appointment is "past" or "upcoming" based on the date
3. A

[2020-11-03 23:18] esther-k opened #15761 "Prepare for video visit page"
## User story
As a user, I want to know how to prepare for a video visit

## Acceptance Criteria
1. The "Prepare for video visit" hyperlink routes to a new page
     - Display Back button
2. Styling and UI matches the design

## Designs
https://adhoc.invisionapp.com/share/YUYRT9BAPSB#/screens/434394494

## Accessibility Acceptance Criteria
1. Everything on the page should be read by the screen rea

[2020-11-03 23:23] esther-k opened #15762 "Past Appointment Details: VAVC at an ATLAS Location"
## User story
As a Veteran, I want to see details for my past VA Video Connect(VAVC) at an ATLAS location appointment and: get directions to the location directly from the app.

## Acceptance Criteria
Note: Canceled UI covered with story #15739

1. Selecting a VA Video Connect at an ATLAS location appointment from the Past Appointments list routes to a new page with more detail about that appointm

[2020-11-03 23:34] brianalloyd commented on #14609
Has the PR been merged for this?  If so can we close this out?

[2020-11-03 23:39] esther-k commented on #13994
@bridgethapner

gotcha, thanks for clarifying!

[2020-11-03 23:44] #13583 closed

[2020-11-03 23:50] brianalloyd commented on #15209
@allison0034 to answer your above questions, Yes the accordions will expand in production environment.  Let me know if you have any other questions and thanks again for the support.

[2020-11-03 23:53] bessgreen commented on #15702
@bridgethapner is AC #2 correct? (same VAOS link as the Appointments Detail page)

[2020-11-03 23:53] brianalloyd commented on #15693
Concur on the recommendation to create more granular user stories that can be linked 1:1 to test cases, we're going to work this into planning efforts forward.  Appreciate the feedback and recommendations.

[2020-11-04 00:07] jonwehausen commented on #15196
Sure @jenniferlee-dsva, [here ](https://github.com/department-of-veterans-affairs/va.gov-team/issues/15196#issue-727660641) last row in the "Exits/Navigation from an Article" section.

[2020-11-04 00:07] digitalken commented on #13893
Testing:

1. Tapping on an address field on the personal information page will take user to an edit page.
2. Verify styling and UI matches designs.
3. Verify page title indicates "Mailing address" or "Residential address", depending on user selection.
4. Verify edit page for addresses allows editing in "parts", i.e.::
  a. Country
  b. Street Address Line 1, Line 2, Line 3
  c. City
  d. State
  e

[2020-11-04 00:13] digitalken commented on #15442
Testing:

1. Verify checkbox type button having two states: selected and unselected.
2. Verify unselected state is a white container.
3. Verify selected state is a blue container with white check mark.
4. Verify UI is (visually as best as possible:
  a. Text: Mobile body.
  b. Checkbox background (active): primary #0071bb
  c. Checkbox border (active): 1px solid primary #0071bb
  d. Check icon col

[2020-11-04 00:17] digitalken commented on #15441
Testing:

1. Verify Expand Collapse component has two states:
  a. Collapse state
    i. Default view.
    ii. downward facing caret.
  b. Expand state
    i. upward facing caret
    ii. white box expands vertically (height is dynamic depending on content.)

[2020-11-04 00:25] DanielleThierryUSDSVA commented on #14609
@brianalloyd Yes. But need to confirm with @RLHecht @lunascoop that they've updated in R&S as well before we close. Thanks!

[2020-11-04 00:35] RLHecht commented on #14609
Yep, @DanielleThierryUSDSVA I updated it on the two places in R&S where we mentioned it in content so we are all good. FYSA @brianalloyd

[2020-11-04 00:46] bessgreen opened #15763 "Filter past appointments"
## User story
As a user, I want the ability to filter out appointments across different date ranges.

## Acceptance Criteria
1. On the past appointments page, create UI for "Select a date range" filter
2. Selecting the filter box opens the native dropdown picker
     - Default selection is "Past 3 months"
3. Include the following options in the dropdown menu:
     - Past 3 months (includes current

[2020-11-04 05:06] tlei123 commented on #5904
[Test Plan](https://dsvavsp.testrail.io/index.php?/plans/view/103) finalized.

[2020-11-04 05:07] theodur commented on #15206
After looking into this issue, I discovered the section is missing because the `fieldAlert` field is `null`. I believe there is a problem with the graphql query or cms-export.

The corresponding `fieldAlert` entity (`.cache/localhost/cms-export-content/block_content.97cd6b1d-a0dc-4c96-8694-50ba3b78dec1.json`) has a status of `false`. This means our transformation process is correctly not including

[2020-11-04 05:39] SgardnerPMP opened #15764 "[Data-Load] Import and load approved Content to approapriate pages in VINS-21 Systems [CW]"
## Story
As a Veteran and web maintainer I need clear content to direct me through my health care journey, so I can best understand the services and information provided throughout the healthcare system.

## Resources
[VISN-21 Final content](https://drive.google.com/drive/folders/16Bal-LorQpEnCy213gqczeCsKPy99AY_)
[Best bet text file](https://drive.google.com/drive/folders/1IRFznUzy5OyrnvAV2BAmWn1

[2020-11-04 11:57] sonntag-adam commented on #15663
Closing bug. As this passes QA in staging. If the issue still occurs production will revisit this defect.

[2020-11-04 11:57] #15663 closed

[2020-11-04 11:59] sonntag-adam commented on #14420
@1Copenut this is ready for review in staging.

[2020-11-04 12:23] 1Copenut commented on #15082
@jbalboni Cool, I'm okay closing this ticket with that context. Thank you!

[2020-11-04 12:23] #15082 closed

[2020-11-04 12:48] 1Copenut commented on #15079
Just reviewed and this is working as expected. Moving to close.

[2020-11-04 12:48] #15079 closed

[2020-11-04 12:49] 1Copenut commented on #15016
Just verified this in Staging with IE11 + JAWS. Working as expected. Moving to close.

[2020-11-04 12:49] #15016 closed

[2020-11-04 13:12] 1Copenut commented on #15103
@jbalboni I added a second screen shot for clarity, direct from IE 11.

[2020-11-04 13:18] Kimberley2019 commented on #15380
Good Morning @ricetj The VEO Contact Center has not provided any feedback to the product guide that was given to them.  This ticket is now closed.

[2020-11-04 13:18] #15380 closed

[2020-11-04 13:34] 1Copenut commented on #14420
@sonntag-adam I spot checked this in staging with iOS VoiceOver on an iPhone 8. The table is working really well visually and how it announces the information. Moving to close.

[2020-11-04 13:34] #14420 closed

[2020-11-04 13:47] ndsprinkle commented on #12938
Going to try to knock this out quickly today.

[2020-11-04 13:49] dneel-bah opened #15765 "GIDS: Seed Accreditation file type data"
As a developer, I need to seed accreditation file type data so that there is test data available in the local environment for developer and QA team members to use in future stories.

## Assumptions:
1. Seeding loads data from the sample_csv/AccreditationData.xlsx file (https://ope.ed.gov/dapip/#/download-data-files)

## Acceptance Criteria:
1. The local development environment has Accreditation fi

[2020-11-04 14:03] xiongjaneg commented on #15708
Need SOCKS access

Tagging @department-of-veterans-affairs/vsp-operations

[2020-11-04 14:06] leahkeeler opened #15766 "DebtRes FSR Ch 4 Household expenses content"
As a Veteran filling out FSR form I want helpful content to understand what I should include in the expenses portion of the form

[2020-11-04 14:10] leahkeeler opened #15767 "DebtRes FSR Ch5 Resolution Options"
As a Veteran I want to understand the different resolution options i have with the DMC 1-waiver 2-compromise 3-monthly offsets, payments before I make the choice on FSR form

[2020-11-04 14:12] leahkeeler opened #15768 "DebtRes FSR Ch6 Bankruptcy Content"
As a Veteran filling out FSR I need to understand how to enter my bankruptcy case

[2020-11-04 14:14] kreek commented on #15563
@jhouse-solvd has this work kicked off yet? The first task is to provide the IAM team with instructions on how to send over their SSL key and that might take some time 😄

[2020-11-04 14:16] leahkeeler opened #15769 "DebtRes FSR Ch7 Signatures, Ch8 Review | Confirmation"
As a Veteran filling out FSR form I want to understand that I am eSigning the form and what I should expect to happen after submission the Confirmation page

[2020-11-04 14:16] leahkeeler opened #15770 "DebtRes FSR Ch7 Signatures, Ch8 Review | Confirmation"
As a Veteran filling out FSR form I want to understand that I am eSigning the form and what I should expect to happen after submission the Confirmation page

[2020-11-04 14:17] leahkeeler commented on #15641
Hi @DanielleThierryUSDSVA @mnorthuis @bethpottsVADEPO - Checking status of how to move forward with this?

[2020-11-04 14:29] mdewey commented on #15045
Here are the first pass on the notes for how forms handle imagines. Its a little sparse and quick and dirty, but its the key points.

tl;dr; it's been done in a few places already and code samples are plentiful.

@dillo, @kristenmcconnell , and @abuckley3385  Can you think of any other questions you have?

[2020-11-04 14:31] shiragoodman opened #15771 "PM Orientation for VSA Search & Discovery team"
## Issue Description
There is a new team on VSA called Search and Discovery. The PM on the team needs to be oriented to the Collaboration Cycle as well as all of the supporting documentation and guidance.

As the Product Support PM, I need to orient the new Search and Discovery PM to the Collaboration Cycle so that the team understands the Collaboration Cycle process and can build quality products

[2020-11-04 14:33] #7362 closed

[2020-11-04 14:33] #15708 closed

[2020-11-04 14:35] #7364 closed

[2020-11-04 14:36] mdewey commented on #14387
EDIT: updated work from this PR : https://github.com/department-of-veterans-affairs/vets-website/pull/14802

[2020-11-04 14:39] mdewey commented on #13148
The bug for the inProgress message was fixed and now will be implemented on #15521

[2020-11-04 14:39] #15117 closed

[2020-11-04 14:40] jbritt1 commented on #15708
SOCKS access granted. Please continue with [the guide](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/engineering/internal-tools.md#configure-the-socks-proxy) to establish a connection to SOCKS proxy.

[2020-11-04 14:40] jenstrickland commented on #8254
Validated, this is fixed 🎉

[2020-11-04 14:40] #8254 closed

[2020-11-04 14:40] mdewey commented on #14084
Status update:

Accessibility and design are now onboard after a meeting.  Accessibility is testing the change and the engineering team will work with the platform team to get the change in and help document it.

[2020-11-04 14:41] mdewey commented on #14084
Blocked due to waiting for testing .

[2020-11-04 14:44] #7367 closed

[2020-11-04 14:46] jenstrickland commented on #8279
@1Copenut Reviewing this ticket, I wonder… on Facility Locator, when a user submits search criteria we move focus to the `h2` that announces the search results, and we have a yellow focus indicator. It seems this behavior is actually consistent with the pattern we use across our work. What do you think?

[2020-11-04 14:52] jenniferlee-dsva commented on #14996
validated, closing!

[2020-11-04 14:52] #14996 closed

[2020-11-04 14:53] #7376 closed

[2020-11-04 14:56] watersemma commented on #15514
UX Review 1/2: spacing updates still needed. Missing 10px padding on either end of the accordions so the title and + / - are not touching the edge, including hover state. See images.

![Screen Shot 2020-11-04 at 9.53.33 AM.png](https://images.zenhubusercontent.com/5f7e1db6d6b9a95b02babbae/8b92c0ba-7236-4d2c-9ba6-90af0ec2bc04)![Screen Shot 2020-11-04 at 9.51.39 AM.png](https://images.zenhubusercont

[2020-11-04 14:59] jenstrickland opened #15772 "508-defect-2 [AXE-CORE]: Heading levels SHOULD increase by one"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

**Feedback framework**
- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2020-11-04 15:05] lunascoop commented on #14704
@ncksllvn @kelsonic this redirect is scheduled for 11/16. Stakeholders have been notified.

[2020-11-04 15:06] tskinn commented on #15750
@timwright12 you should be able to connect to socks proxy now. Reach out in slack if you have any issues.

[2020-11-04 15:06] #15750 closed

[2020-11-04 15:07] jonwehausen commented on #15747
## Update 11/4

While we are still waiting to hear more around root cause from Google Support, we now have both 11/2 and 11/3 datasets successfully exported to BigQuery.

![image](https://user-images.githubusercontent.com/48527022/98126710-e535f600-1e83-11eb-92ee-f997d0cfe34c.png)

### Due to our BQ DOMO SQL datasets configured to append the prior days data with `_TABLE_SUFFIX = FORMAT_DATE('%Y%m%

[2020-11-04 15:09] DanielleThierryUSDSVA commented on #15641
Hi @leahkeeler. We met on this yesterday. I'm writing up a next steps recommendation this week and will share with you as soon as it's ready. Thanks!

[2020-11-04 15:10] leahkeeler commented on #14059
@tzelei Did you get a chance to connect with Peter to see in e2e tests will suffice in lieu of manual ?

[2020-11-04 15:12] leahkeeler commented on #15641
Thank-you y'll are the best

[2020-11-04 15:12] jsev-io commented on #15190
Thanks @Jeff-Hayter for the approval on these.
@mlvidart Now that I'm back from PTO and we have the majority of approvals I'll get those going for you!

[2020-11-04 15:13] kelsonic commented on #14704
PRs are up, won't merge until 11/16 👍

https://github.com/department-of-veterans-affairs/vets-website/pull/14833
https://github.com/department-of-veterans-affairs/devops/pull/7930

CC @lunascoop

[2020-11-04 15:19] ksantiagomorgan6 commented on #15514
Yeah, another story was created for that. It will be the +/- spacing issue and the narrow button issue in one story.

[2020-11-04 15:21] watersemma commented on #15514
In that case UX Review: 1/2 Good to go! Thank you Kenny!

[2020-11-04 15:21] #7379 closed

[2020-11-04 15:29] amyknox commented on #15514
UX review 2/2 - Good to go.  Thanks Kenny!

[2020-11-04 15:34] dneel-bah opened #15773 "Letters: Research existing letter functionality."
As a developer, I need to research and document the existing letters functionality, so that the functionality is understood and be referenced for the inclusion of additional EDU letters.

## Assumptions:
1. N/A

## Acceptance Criteria:
1. Documentation is attached to this story, including but not limited to:
    a. Currently available letters
    b. How letters are accessed (API, resources, etc)

[2020-11-04 15:35] #7360 closed

[2020-11-04 15:36] #7359 closed

[2020-11-04 15:47] MarciMcGuireGCIO opened #15774 "Request access to Google Analytics and/or Domo"
# Request Google Analytics and/or Domo access

## What this form is for
Use this template to request access to Google Analytics and/or Domo

## User Email Address
Please link this issue to the DSVA Slack channel [#vfs-platform-support](https://dsva.slack.com/channels/vfs-platform-support), add VSP Analytics & Insights to your message, and provide the email address(es) for user(s) requesting access

[2020-11-04 15:48] jason-gcio opened #15775 "Adjust the Max Char Limit (for Address)"
## Background
One of the issues we are seeing that needs to be addressed is that some fields only allow a certain number, and not enough, characters to get passed through.  This can result in an error like this for **address line 1**: `insertBenefitClaim: AddressLine1 is greater than 20 characters`.

## Goal
We need to truncate the line that says its too long and assign the remainder to the append

[2020-11-04 15:52] #10671 closed

[2020-11-04 15:52] DanielleThierryUSDSVA commented on #15019
Hi @kristenmcconnell. Yes, though it may be the weekend depending on how the rest of the week goes. Also, I mentioned the IA to @mnorthuis yesterday and she's going to look at that piece as well. Thanks!

[2020-11-04 15:52] lenaecb opened #15776 "Request access to Google Analytics"
# Request Google Analytics access

## User Email Address
- Add Lauren Ernest - new VAOS product manager - lauren.ernest@adhocteam.us
- Add Peter Russo - new Sr. Designer for VAOS - peter.russo@adhocteam.us

Please link this issue to the DSVA Slack channel [#vfs-platform-support](https://dsva.slack.com/channels/vfs-platform-support), add VSP Analytics & Insights to your message, and provide the ema

[2020-11-04 15:52] jonwehausen commented on #15774
Thanks @MarciMcGuireGCIO ! @bmcgrady-ep can you take care of this request when you have a moment? Thanks in advance

[2020-11-04 15:53] MarciMcGuireGCIO commented on #15774
I am requesting access to Google Analytics for the Find a Form product.  I'm a new PM on the VSA team. No strict deadline; preferably within the next week or tow.

[2020-11-04 15:54] bramleyjl opened #15777 "Access for John Bramley"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Do not remove `operations` label; this will notify the VSP Operations team of your request
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Pleas

[2020-11-04 15:56] sonntag-adam opened #15778 "CT: Landing page intermittently won't load on mobile"
Users have experienced issues with the comparison tool landing page https://staging.va.gov/gi-bill-comparison-tool not loading on their iPhone on both chrome and safari. Seems to be intermittent and not a consistent issue.

Steps to reproduce:
1. Navigate to https://staging.va.gov/gi-bill-comparison-tool
2. Infinite spinner

[2020-11-04 15:58] kristenmcconnell commented on #15045
It looks like there are clear UI examples on va.gov from the thread with Robin, which is good. I will check out those examples. My questions now mostly relate to the clinician's workflow and how adding images into what we are sending them will work.

[2020-11-04 15:58] shawkey-daniel commented on #14817
The VA.gov site search utilizes elastic search via search.gov. Elastic search utilizes sitemaps and web crawling to index content. The Comparison Tool (CT) is not currently configured to support web crawling. The CT generates content from data in a database. The CT could be configured to support elastic search with several optimization steps.

Elastic search utilizes HTML5 semantic markup to quali

[2020-11-04 15:59] #14817 closed

[2020-11-04 15:59] tskinn commented on #15777
@Jeff-Hayter
Name: John Bramley
COR: Jeff Hayter

[2020-11-04 15:59] brianalloyd commented on #14609
Thanks for the update @RLHecht, I'm closing this out in support.

[2020-11-04 15:59] #14609 closed

[2020-11-04 16:00] kristenmcconnell commented on #15019
@DanielleThierryUSDSVA Great. We also have ticket #15647, where we asked for the IA request as well.

[2020-11-04 16:01] brianalloyd commented on #14285
@ncksllvn I believe this has been completed, closing this out in support.

[2020-11-04 16:01] #14285 closed

[2020-11-04 16:02] shawkey-daniel commented on #14817
The VA.gov site search utilizes elastic search via search.gov. Elastic search utilizes sitemaps and web crawling to index content. The Comparison Tool (CT) is not currently configured to support web crawling. The CT generates content from data in a database. The CT could be configured to support elastic search with several optimization steps.

Elastic search utilizes HTML5 semantic markup to quali

[2020-11-04 16:04] Samara-Strauss commented on #15115
Short summary notes from yesterday's regroup with Tressa and Ryan:

- The desktop view might be different presentationally, but it should **not** be different in terms of data/info we show **unless** there are data-backed, well-rationaled reasons for these differences (example: if we end up showing collapse/open functionality on mobile, we don't need to show that on desktop because there is enough

[2020-11-04 16:04] #15115 closed

[2020-11-04 16:06] #15305 closed

[2020-11-04 16:06] brianalloyd commented on #15041
@ncksllvn and @kelsonic this appears to be completed, closing the ticket in support. If not complete please reopen ticket, thanks.

[2020-11-04 16:06] #15041 closed

[2020-11-04 16:06] #14780 closed

[2020-11-04 16:06] #14779 closed

[2020-11-04 16:06] #14778 closed

[2020-11-04 16:06] #14777 closed

[2020-11-04 16:07] camerontesterman opened #15779 "Add Field to FSR to Select Debt(s) as part of Submission"
## Issue Description
_What details are necessary for understanding the specific work or request tracked by this issue?_

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attac

[2020-11-04 16:08] camerontesterman opened #15780 "Add FSR Mockdata Responses"
## Issue Description
_What details are necessary for understanding the specific work or request tracked by this issue?_

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attac

[2020-11-04 16:12] brianalloyd commented on #15568
@youngfreezyVA what's the current status of this ticket?  If not complete we can move this into Sprint 34.  If complete we can close out in support.

[2020-11-04 16:13] sporeboy commented on #15081
Note: Prototypes are currently "broken" due to changes within various states. Wizard states and expanding sections may behave erratically. Variable for form completion are unlinked. Prototype will be fixed shortly...

[2020-11-04 16:14] lenaecb commented on #14108
At a minimum, I think we break this ticket a part. We need to get the alert added in for folks that aren't seeing the type of care they want. @laurenernest - can you create a ticket just for implementing the following addition?
![Screen Shot 2020-11-04 at 11.14.18 AM.png](https://images.zenhubusercontent.com/5e41a7217d1a39827f6e83fe/b8bd36ed-e980-4e5a-a22d-251453535266)

[2020-11-04 16:16] dneel-bah opened #15781 "STEM: Pre-populate remaining entitlement question if data is available."
As a STEM scholarship applicant, I need my remaining entitlement pre-populated when available, so that I do not have to look up the information.

## Assumptions:
1. This work is behind a prod/feature flag (should we reuse the EVSS flag)?

## Acceptance Criteria
1. If EVSS data is available, the "About how much of your education benefit do you have left?" question is pre-populated.
    a. If >= 180

[2020-11-04 16:18] tskinn commented on #15777
@bramleyjl you should be able to connect to the socks proxy now. Reach out in slack if you have any issues.

[2020-11-04 16:23] andaleliz commented on #15314
Holding off on this for now, per [this slack thread](https://dsva.slack.com/archives/C1Q4294JJ/p1604330448053100)

![image](https://user-images.githubusercontent.com/55992116/98137525-15839180-1e90-11eb-9514-11181afc579b.png)

[2020-11-04 16:24] mnorthuis commented on #9086
IA work on this has been finalized.
- @bethpotts confirmed that we do not need to consider the 0588 form
- entry points have all been documented
- wizard placement was confirmed to be on the /introduction page of the form

This issue can be closed at your discretion once you have all the information you need.  Please follow up with any questions.

https://github.com/department-of-veterans-affairs/

[2020-11-04 16:24] youngfreezyVA commented on #15568
it's complete! we were able to demonstrate a language toggle via an API call with graphQL. I'll be working on the next iteration of this, after grooming this story with @DanielleThierryUSDSVA : https://github.com/department-of-veterans-affairs/va.gov-team/issues/15728

[2020-11-04 16:27] jenniferlee-dsva commented on #13774
Per this Slack thread - https://dsva.slack.com/archives/C1Q4294JJ/p1604505620073000?thread_ts=1604330448.053100&cid=C1Q4294JJ

Since LC is going to be in continuous rollouts until the December code freeze — and it sounds like Medallia will be coming onboard same timeframe -- I think it makes more sense for PW team to hold off on implementing this article rating component for now.
We will work with

[2020-11-04 16:28] #15568 closed

[2020-11-04 16:30] mnorthuis commented on #15229
Redirect is vetted and ready to go when your team is.

[2020-11-04 16:32] bethpottsVADEPO opened #15782 "Change text and link on sign-in page and modal that currently goes to sign-in FAQ"
## Issue Description
As part of the launch of Resources and support, the sign-in FAQ will be retired. We link to this FAQ from the sign-in modal and the sign-in page (https://www.va.gov/sign-in/). We need to change the text and link there to point to the new R&S pages for signing in to VA.gov and verifying your identity on VA.gov. The text is below.

**Note:** @ncksllvn We will roll this out eithe

[2020-11-04 16:32] mnorthuis commented on #12122
@jenniferlee-dsva @bethpottsVADEPO @DanielleThierryUSDSVA @mpeterz

One last call for a review and feedback on this.  If no feedback is received at end of this week, I will close this and communicate out the guidelines.

[2020-11-04 16:34] jenniferlee-dsva commented on #15607
@ncksllvn  - apologies if this wasn't clear. I do see the labels now on landing pages, but a couple of the content type labels are showing the older nomenclature.

2/
**- [ ] The article content type superhead labels should be:**

Question and answer
**Multiple FAQs** `<-- Currently showing just "FAQs"`
Step-by-step   {Confirmed with Randi and Beth that this is correct WITH the hyphens}
About
Chec

[2020-11-04 16:38] mnorthuis commented on #14089
@amyknox I believe the breadcrumb work is complete, can we close this issue?

[2020-11-04 16:38] lunascoop commented on #15229
Hi @bethpottsVADEPO can you let me know the appropriate stakeholder to notify for these redirect updates? Thanks

[2020-11-04 16:39] jason-gcio opened #15783 "Establish the Procedure for Refreshing Users Ourselves"
## Goal
We can ask Christine to remove claims for our test users but it would be ideal if we could do this ourselves.  This might be an involved process and we want to make sure we do it right.

## Tasks
- [x] Establish time to talk to Liz
- [x] Talk to ~~Christine or Linda~~ Liz Rheeler bout the steps to produce these results ourselves

## Acceptance Criteria
- [x] Document the findings and/or pr

[2020-11-04 16:41] mnorthuis commented on #15647
@abuckley3385 I do not have access to look at the mockups in Zeplin, can you add me please?

[2020-11-04 16:42] joanneesteban commented on #15245
@mchelen-gov It worked!

![image.png](https://images.zenhubusercontent.com/5cbde0c0353363084a079083/245fffc3-1a4e-455f-8e9d-eda64adb391e)

[#15774](https://github.com/department-of-veterans-affairs/va.gov-team/issues/15774#issuecomment-721814235)
![image.png](https://images.zenhubusercontent.com/5cbde0c0353363084a079083/5fe04424-977c-4283-8ab0-7323781adcef)

[#15776](https://github.com/department-

[2020-11-04 16:46] #14927 closed

[2020-11-04 16:49] kevwalsh commented on #15206
I've addressed this in the content layer. the Alert was unpublished. There's a frontend GraphQL bug that allows unpublished alerts to go out. The PW team will be working on that at some point in #15756, but in the meantime you still may see a few of these. FWIW, Content export / transformers is treating this "correctly".

[2020-11-04 16:49] erluti commented on #14965
resolved with https://github.com/department-of-veterans-affairs/vets-api/pull/5088

[2020-11-04 16:49] #14965 closed

[2020-11-04 16:53] 1Copenut commented on #8279
@jenstrickland The yellow focus halo here is probably the default `::focus` rule being picked up. I'd opt for it to be removed here in the name of consistency.

[2020-11-04 16:54] jenstrickland commented on #8279
@1Copenut Should we also remove it here?

https://www.va.gov/find-locations/?zoomLevel=4&page=1&address=lincoln%2C%20nebraska&facilityType=health&serviceType&location=40.8001%2C-96.6674&context=Lincoln%2C%20Nebraska%2C%20United%20States

[2020-11-04 17:03] #15644 closed

[2020-11-04 17:03] joanneesteban commented on #15214
@1Copenut - to verify some of the observed accessibility issues so far, would this sum it up?

- Cognitive challenge for screen reader users.
  - _Issue:_ Users listen to the entire set of form options using the Forms menu, then make a choice. They're currently hearing the radio/check for every single answer option. (Reads the label and text above it every time, instead of just the label)
- Focus

[2020-11-04 17:09] brianalloyd commented on #15698
Thank you @allison0034 for the feedback, acknowledge and will be discussing with our team as we plan for updates.

[2020-11-04 17:10] JoeTice opened #15784 "E2E Keyboard Test Port to Cypress"
## Problem Statement
*Keyboard E2E tests are not currently being done, because the pilot teams have switched over to Cypress, which does not have that capability currently. How might we enable teams to conduct keyboard navigation-style E2E tests*

## Hypothesis or Bet
*By porting the previous tests over from Nightwatch into Cypress, we'll allow teams to begin conducting Keyboard E2E tests again*

[2020-11-04 17:11] marcynadeau commented on #12689
Tested and passed in staging.
You need to call your VA facility for a Podiatry appointment
You’re not eligible to request a community care Podiatry appointment online at this time. Please call your local VA medical center to schedule this appointment.
Find your VA health facility’s phone number

[2020-11-04 17:11] #12689 closed

[2020-11-04 17:14] luke-gcio commented on #7802
UAT Notes 11/4 10:00 AM MT:

No show :(

[2020-11-04 17:15] shiragoodman commented on #14457
hi @luke-gcio  - Are you able to provide the landing page and wizard for our review? For staging, we need to see how it is all connected and view the full product. Also, please confirm if the link Tze provided above is correct.

[2020-11-04 17:15] jenstrickland opened #15785 "508-defect-2 [AXE-CORE]: Heading levels SHOULD increase by one"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

**Feedback framework**
- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2020-11-04 17:17] sshein commented on #15115
just want to say if sections are collapsed on mobile and expanded on desktop, that will be a pretty different experience for users and could be worth testing both, even if the data is ultimately the same.

[2020-11-04 17:20] sonntag-adam commented on #15514
https://dsvavsp.testrail.io/index.php?/tests/view/13994&group_by=cases:section_id&group_order=asc&group_id=46

[2020-11-04 17:20] jjulian commented on #15563
As mentioned in the description, we'd like to get this process kicked off ASAP since communications with the IAM team can take some time. Who will be assigned this work?

[2020-11-04 17:20] sonntag-adam commented on #15514
Closing story

[2020-11-04 17:20] #15514 closed

[2020-11-04 17:20] ricetj commented on #13444
Just connecting this: https://dsva.slack.com/archives/CQHBJ5U06/p1603830600259000

[2020-11-04 17:22] brianalloyd commented on #13904
Moving this into Sprint 34.

[2020-11-04 17:24] brianalloyd commented on #14296
Completed

[2020-11-04 17:24] #14296 closed

[2020-11-04 17:27] dillo opened #15786 "GET Patient (Patient Service - PGD)"
## User Story
In order to interact successfully with the pre-visit questionnaire feature
As a Veteran
I want the backend team to retrieve my Patient resource from the PGD

## Related Documentation
[Backend Architecture](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/engineering/MAP/diagrams/Clipboard%20Application%20Architecture.png)
[M

[2020-11-04 17:29] luke-gcio commented on #14457
That is correct! This is the direct link: https://staging.va.gov/decision-reviews/higher-level-review/request-higher-level-review-form-20-0996/introduction.

In terms of Wizard, there is the current version and a "new" version coming out.  We are not yet ready with the new version so we will simply be reviewing the current wizard and application.  We will have to do new UAT for the new wizard sepa

[2020-11-04 17:30] peggygannon commented on #15721
Thanks @dneel-bah on the timing update.

[2020-11-04 17:33] JoeTice opened #15787 "Create, Extend, and Document Cypress Automation Framework for Use on the Platform"
## Problem Statement
*VSP’s test automation framework implementation and documentation needs improvement, and as a result team participation in test automation is often perfunctory. How might we be able to improve what the framework provides in order to deliver more value to VFS teams and encourage greater adoption and participation?*

## Hypothesis or Bet
*By enhancing the test automation documen

[2020-11-04 17:38] dillo commented on #15008
@mdewey I think this can be closed. Thoughts?

[2020-11-04 17:42] 1Copenut commented on #9953
Retested in staging with preferred screen reader pairings. This is behaving as expected, moving to close.

/cc @desireeturner

[2020-11-04 17:42] #9953 closed

[2020-11-04 17:51] #15141 closed

[2020-11-04 17:55] 1Copenut commented on #15214
@joanneesteban Hello! I'll reframe your question a bit, and give you the high level items I've noted. These are just first impression notes based on the [VSP defect severity rubric](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md). I'll get turned into proper issue tickets asap. Let me know if you want to discuss f

[2020-11-04 17:58] outerpress commented on #15084
@rtwell are there any other radio button patterns aside from...

1. Radio button + label
2. Radio button + "header" label + additional descriptive text

...that we should be looking at as part of this?

My initial thought for #1, we shouldn't make all of the labels bold - if every option is bold, there's no hierarchy benefit. And for #2, the header labels should always be bold so they're easy to s

[2020-11-04 17:59] mpelzsherman commented on #12970
This issue is blocked due to issues with deploying the review environments. See [Slack thread](https://dsva.slack.com/archives/CBU0KDSB1/p1604350562389600) for details.

[2020-11-04 17:59] 1Copenut commented on #15083
@jbalboni Huh, well that is a challenge. It seems like a code smell to add another class for VAOS that sets the `padding-left: 0` but I don't have any better suggestions.

@emilywaggoner I'm hoping you have a better idea!

[2020-11-04 18:01] cohnjesse opened #15788 "Update vets-json-schema to Use New Pension Questions for the 686c"
# Background
We need to import the schema from `vets-json-schema` and use that inside `vets-website instead of static properties.

## Tasks
- [x] Import the pension questions from `vets-json-schema` into `vets-website`
- [x] Submit PR to `vets-website` for review

## Acceptance criteria
- [x] `vets-website` is now using the pension questions from `vets-json-schema`
- [x] PR has been submitted for

[2020-11-04 18:10] gpbowman-git opened #15789 "Access for Greg Bowman"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Do not remove `operations` label; this will notify the VSP Operations team of your request
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Pleas

[2020-11-04 18:11] rtwell commented on #15084
i'm semi-indifferent—if they are all bold or all not-bold, in both scenarios all are equal anyway. I'm thinking more about consistency across all instances of radio buttons, and any combination thereof. A scenario that might (and probably will) come up is: what does it look like if those two scenarios are mixed: a mix of single-line and single+description options?

[2020-11-04 18:12] brianalloyd commented on #15192
Closing per planning session

[2020-11-04 18:12] #15192 closed

[2020-11-04 18:14] outerpress commented on #15652
@laurenernest @lenaecb I just want to confirm the "what's your closest city/state" question can be removed/replaced with the list. Does it drive any functionality later in the scheduling flow?

![Screen Shot 2020-11-04 at 10.09.22 AM.png](https://images.zenhubusercontent.com/5f7ce3163782a585b910eaf3/a857220d-5c91-4fb4-81c7-71d493cd2836)

[2020-11-04 18:15] peggygannon commented on #14263
Hi,  @Mottie Here's my recommendation below. I want to avoid sending users to a legacy page, so I recommend we update the content here to below. This aligns with Q&A content that will appear in the soon-to-be launched Resources and Support on VA.gov. (Once that launches we can add a link to there)

To see an explanation about each letter, click on the (+) to expand the box. After you expand the bo

[2020-11-04 18:17] tskinn commented on #15789
@gpbowman-git I'm going to close this in favor of using your previous issue. https://github.com/department-of-veterans-affairs/va.gov-team/issues/15065

[2020-11-04 18:17] #15789 closed

[2020-11-04 18:17] tskinn commented on #15065
@Jeff-Hayter
Name: Greg Bowman
COR: Cecilia LeeCecilia

[2020-11-04 18:17] cshupp1 opened #15790 "Access for Cris Shupp"
Fill out Description
Add the label used by your team (eg: Matsumoto)
Do not remove operations label; this will notify the VSP Operations team of your request
When the issue is closed you will be notified and can continue with on-boarding setup
Description
Please provide your Contracting Officer's Representative (COR) name.
Cecilia Lee - Cecilia.Lee@va.gov

Please provide your name.
Cris Shupp

Ple

[2020-11-04 18:21] ericbuckley commented on #14738
@LindseySaari an [error popped up on staging](http://sentry.vfs.va.gov/organizations/vsp/issues/6059/?environment=staging&project=3&query=is%3Aunresolved&statsPeriod=14d#) this morning that may be related to [PR#5213](https://github.com/department-of-veterans-affairs/vets-api/pull/5213).  It looks like `mvi_response&.profile` is raising an error because `mvi_response` is a Hash and it doesn't cont

[2020-11-04 18:26] vacoleec3 commented on #15688
Hi Bridgethapner, I'm the API contract COR (Cecilia Lee). I would love to help you. Can you please let me know what you need from me. Thanks

[2020-11-04 18:26] craigwheeler commented on #14059
@tlei123 I created e2e tests to cover use cases for when there is a `next step` and when there is `no next step`... lemme know if this works or if I should add/change anything? The PR is [14059: cypress tests for diary codes #14836
](https://github.com/department-of-veterans-affairs/vets-website/pull/14836)

cc @leahkeeler

[2020-11-04 18:28] 1Copenut commented on #13272
Quick test sent to the VA 508 office on November 4, 2020

[2020-11-04 18:33] peggygannon commented on #14752
@annaswims Here's my PL update to this validation error in above screenshot:

We can't open this PDF. Please save and upload it again.

[2020-11-04 18:35] camerontesterman opened #15791 "Modify bgs-ext Gem - add VA benefits lookup for FSR"

[2020-11-04 18:37] ncksllvn commented on #15610
We have a fix for Find Forms!

![image.png](https://images.zenhubusercontent.com/59cb9de1b0222d5de47953d8/824b0730-7a51-4b9e-8323-94e51e71acc5)

Screenshot shows staging but this will go to prod during today's deployment.

[2020-11-04 18:37] brianalloyd commented on #15593
per @andaleliz the boarder color outline should be 'Primary' and not 'Primary alt'.

[2020-11-04 18:38] DanielleThierryUSDSVA commented on #12122
Hi @mnorthuis. This looks great to me. One thing: I know there's been talk about URL shorteners in the health product space. So we should just check in with health side. I can do that via slack or would you like to?

[2020-11-04 18:38] delli-gatti-michael commented on #13866
Now showing in Production. Closing this issue

![Screen Shot 2020-11-04 at 9.45.28 AM.png](https://images.zenhubusercontent.com/5c07f000391a6f6357adc430/4bd4a4cf-46ef-4018-a1c6-977e59590052)

[2020-11-04 18:38] #13866 closed

[2020-11-04 18:38] #11926 closed

[2020-11-04 18:39] Mottie commented on #14263
Thank you!

[2020-11-04 18:39] ncksllvn commented on #15730
PR is merged; will go live today

[2020-11-04 18:39] mnorthuis commented on #14457
@luke-gcio I'm guessing, since this work was started so long ago, that you have not engaged the Public Websites team on this?
 You will need to do an intake with that team to do the writing/content work on the static pages, as well as changes to the navigation elements for this form to support this launch.  cc @peggygannon

[2020-11-04 18:40] ncksllvn commented on #13646
Since we've started implementation per https://github.com/department-of-veterans-affairs/va.gov-team/issues/14347, can we close this?

[2020-11-04 18:40] bridgethapner commented on #15688
Hi @vacoleec3 - thank you very much for your message. I believe I just need written approval of the access request here.

@tskinn I am having trouble generating my public SSH key. Is VFS able to provide assistance? Thank you in advance for any help you can provide.

[2020-11-04 18:41] leahkeeler opened #15792 "[FrontEnd - Forms Library] Create List Loop Component in Forms Library"
Create list loop component that is currently not in forms library

Acceptance Criteria:

[2020-11-04 18:42] tskinn commented on #15688
@bridgethapner you will need to post your public ssh key in the issue so we can give you access to the socks proxy which will give you access to grafana. Here is a doc on how some of this works and how to create an ssh key pair https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/engineering/internal-tools.md

[2020-11-04 18:44] 1Copenut commented on #11970
@desireeturner I've been struggling with this one. After a lot of research and code experiments, I can say a couple of things for sure:

* Alerts (items with `role="alert"`) that are on the page on first load will not announce in some screen readers, no matter what we do.
* Adding alerts after the page loads is more consistent. These dynamic loads will announce themselves immediately to screen rea

[2020-11-04 18:45] peggygannon commented on #14457
thanks,  @luke-gcio for the updated link. Are you planning to bring the updated, new HLR wizard back for a later staging review?

[2020-11-04 18:48] Hampshire100 opened #15793 "Analytics Implementation or QA Support for OPIA Choose"
# Google Analytics Implementation or QA Request

## Description
- Is this request for Google Analytics implementation or QA?

Google Analytics Implementation

- Who is this request for?

    - [joshua.tuscher@va.gov, stephen.walker4@va.gov; alyson.glick@va.gov]

- What team/project is this work for?

    - [OPIA ChooseVA contract team]

- Provide the Domain where Google Analytics needs to be imple

[2020-11-04 18:48] desireeturner commented on #11970
@delli-gatti-michael @zurbergram see @1Copenut's comments above.

[2020-11-04 18:48] mdewey commented on #15008
I think we can close this, this sounds like Save In Progress.

[2020-11-04 18:48] #15008 closed

[2020-11-04 18:50] leahkeeler commented on #15770
closing - dup

[2020-11-04 18:50] #15770 closed

[2020-11-04 18:51] vacoleec3 commented on #15688
Hi Bridgethapner,

              Can you please provide the reason and what I should approve? Thanks.

From: bridgethapner <notifications@github.com>
Sent: Wednesday, November 4, 2020 1:41 PM
To: department-of-veterans-affairs/va.gov-team <va.gov-team@noreply.github.com>
Cc: Lee, Cecilia (OI&T) <cecilia.lee@va.gov>; Mention <mention@noreply.github.com>
Subject: [EXTERNAL] Re: [department-of-vetera

[2020-11-04 18:51] jonwehausen commented on #15793
Hi @Hampshire100 , confirming receipt

[2020-11-04 18:53] joanneesteban commented on #15747
## Postmortem To Do's

- [ ] Backfill datasets in Domo
- [ ] Follow up with Google on why this occurred
- [ ] Fill out the [Post-mortem template](https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/blob/master/Postmortems/_template.md) w/this bug. Focus on **Impact.** We can share this with Nancy if we need additional follow up.

[2020-11-04 18:54] luke-gcio commented on #14457
I am not sure whether the new wizard will be "staging" reviewed as part of the overall wizard effort or whether it will be on us to take our individual wizards through.  I am assuming the latter.  In that case, yes, we can do another staging review.

[2020-11-04 18:57] #15045 closed

[2020-11-04 19:00] laurenernest opened #15794 "Add alert when type of care isn't listed"
## Issue Description
As a user, I would like a path forward if the type of care I need is not listed so that I can continue to make an appointment.

---

## Acceptance Criteria
- [ ] Display copy for type of care alert

- [ ] If user clicks/taps Find a VA location, then facility locator opens in a new tab (/find-locations)
- [ ] DESIGN - All desktop, tablet, and mobile designs match the specs http

[2020-11-04 19:00] joanneesteban commented on #15473
## Outcomes

- No data loss; 1.5 days lost in data testing/team time
- Bug was a Google-wide issue. Only affected Staging.
- ^ "Current Workaround" fixed the bug

[2020-11-04 19:00] jhouse-solvd opened #15795 "Spool submissions report and YTD report are not showing the expected submissions"
## Issue Description
_Spool submissions report and YTD report are not showing the expected submissions. Could someone verify the app/workers/education_form/create_daily_spool_files.rb job is running on stagin?

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure

[2020-11-04 19:02] mdewey commented on #13145
Asked questions to tech team :
https://dsva.slack.com/archives/C019EATUKN2/p1604516347013500

[2020-11-04 19:04] mdewey commented on #13145
Next steps, get questions answered and create tickets based on action items

[2020-11-04 19:05] mmiddaugh commented on #11082
This work was addressed in another issue.

[2020-11-04 19:05] #11082 closed

[2020-11-04 19:05] #13356 closed

[2020-11-04 19:06] mmiddaugh commented on #13353
No longer needed now that we have a single query

[2020-11-04 19:06] #13353 closed

[2020-11-04 19:10] digitalken commented on #15640
Pass 11/4/2020 - Able to open up number editor pages multiple times and page opened up each time.

[2020-11-04 19:10] #15640 closed

[2020-11-04 19:13] andaleliz commented on #14928
Topline summary link: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/public-websites/how-to-apply-wizards/discovery/research/topline-summary.md

[2020-11-04 19:15] jason-gcio opened #15796 "Final Punch List for CH36"
`Consider breaking this ticket up`
## Background
Based on the latest list from Design, (https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/ebenefits/features/apply-CH36-VRE-counseling/research-design/text-revisions/CH36-punch-list-1020.md) we need to implement these items:

## Tasks
### CH36 throughout
- [x] Revise breadcrumbs to: "Home > Careers and employme

[2020-11-04 19:16] brianalloyd opened #15797 "Support dynamic heading tags on the Multiple FAQs page"
## Issue Description
_Support dynamic heading tags on the Multiple FAQs page (when there isn't a section header, then FAQs should render as an H2)_

## Front end tasks
- Estimate Task and Remove needs grooming label
- Ensure the page is styled according to design spec.
- Ensure the back end data from API is displayed in local and review instance
- Ensure unit tests are available.
- Ensure your cod

[2020-11-04 19:20] mmiddaugh commented on #10706
Duplicate issue

[2020-11-04 19:20] #10706 closed

[2020-11-04 19:22] mnorthuis commented on #15647
Corrected prototype URL for reference: https://scene.zeplin.io/project/5f3d86a458ea2231e60a4780

[2020-11-04 19:22] esther-k commented on #13994
@bridgethapner

Will the appointment grouping be by date range, month, or year?

[2020-11-04 19:22] #11603 closed

[2020-11-04 19:23] #7782 closed

[2020-11-04 19:23] #14154 closed

[2020-11-04 19:24] brianalloyd opened #15798 "Auto-expand accordion items if the URL hash matches the item ID"
## Issue Description
_Auto-expand accordion items if the URL hash matches the item ID_

Slack Discussion [Here](https://dsva.slack.com/archives/C52CL1PKQ/p1604441562376800)

## Front end tasks
- Estimate task and remove needs grooming label
- Build and Implement auto-expand accordion item as described and validated in Slack convo

## Acceptance Criteria
- [ ] Designer comments on this issue to app

[2020-11-04 19:24] #14231 closed

[2020-11-04 19:24] Samara-Strauss commented on #7814
Still haven't heard back from MHV.

[2020-11-04 19:24] MaggieBrazeau opened #15799 "Access for Margaret Brazeau"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Do not remove `operations` label; this will notify the VSP Operations team of your request
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Pleas

[2020-11-04 19:25] MaggieBrazeau commented on #15799
@department-of-veterans-affairs/vsp-operations

Submitting new request for SSH key approval for second computer.

[2020-11-04 19:25] mmiddaugh commented on #8036
Irrelevant because Community Care detail pages are suppressed

[2020-11-04 19:25] #8036 closed

[2020-11-04 19:26] #11051 closed

[2020-11-04 19:26] jason-gcio opened #15800 "Adjust CH31 Payload"
## Background
In order to successfully send the chapter 31 payload to the backend, we need to standardize the payload on the platform wide pattern of wrapping it in an object with the key of `form`.

## Considerations
- Shouldn't need to rename properties
- This won't be named education
- Same pattern as [chapter 36](https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/ap

[2020-11-04 19:27] mmiddaugh commented on #15090
Duplicate

[2020-11-04 19:27] #15090 closed

[2020-11-04 19:28] joanneesteban commented on #3825
@luke-gcio - checking in here again; let us know if you have an update on rollout and we can reprioritize this!

[2020-11-04 19:30] joanneesteban commented on #15131
@mmiddaugh do you have a timeline for when you wanted this ready? We're looking to triage this into our next sprint (starts 11/12).

[2020-11-04 19:31] bmcgrady-ep commented on #15389
@joanneesteban Here is the [link](https://docs.google.com/spreadsheets/d/1fDZfG32SZqHpjWgByN84fIaTx1iho0-WQDdOK1m4_Ss/edit?usp=sharing) to the GA Dashboard Audit. Let me know what else you would like me to add.

[2020-11-04 19:35] jonwehausen commented on #15757
Thanks @jason-gcio ! Confirming receipt

[2020-11-04 19:35] #12058 closed

[2020-11-04 19:48] jason-gcio opened #15801 "Refactor Model for CH31"
## Background
Once the payload comes through properly, we'll have to adjust the Model and update tests to accommodate the new payload

## Considerations
- **Derek:** VSP will likely want us to not fire off api requests from the model. I suspect will have to place VR&E code in /modules. I’ll ask them and refactor accordingly.

## Tasks
- [x] Adjust the payload
- [x] Refactor model methods to accomm

[2020-11-04 19:54] delli-gatti-michael commented on #14967
Local testing complete

[2020-11-04 19:55] jason-gcio opened #15802 "Investigate Secure Credentials for CH31"
## Background
The credentials for submission to VRE API need to be obtained from platform and kept in a safe place for safekeeping so that we can successfully authenticate.

## Considerations
- Example: [14991 mock appointment by dillo · Pull Request #5202 · department-of-veterans-affairs/vets-api · GitHub](https://github.com/department-of-veterans-affairs/vets-api/pull/5202/files#diff-e3d36a59a98

[2020-11-04 20:01] Samara-Strauss commented on #15237
Giving this a gentle bump. @bmcgrady-ep — are you able to work with the information Lihan mentioned above?

[2020-11-04 20:03] Samara-Strauss commented on #12620
I'm going to close this. You all have been wonderful. We can open a new ticket if we have any additional requests.

[2020-11-04 20:03] #12620 closed

[2020-11-04 20:06] EdwardBoehme05 commented on #15028
The Elizabeth VA Clinic (561GB) is included in VAST, however it's not on the legacy site. When I do a Google search, it brings me to the legacy site, even though I don't see this clinic.

[2020-11-04 20:07] laurenernest commented on #14108
@lenaecb Alert-specific work can now being tracked here https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/15794

[2020-11-04 20:09] denisecoveyduc commented on #15643
@bmcgrady-ep  Yes, I have created a Bing Webmaster Tool. What's next?

[2020-11-04 20:16] U-DON commented on #9837
The [Dockerfile](https://github.com/department-of-veterans-affairs/vets-website/blob/master/Dockerfile#L3) should also be updated. It's used in the Jenkins pipeline.

[2020-11-04 20:21] CrystabelReiter opened #15803 "Update current sketch templates and "anonymize" info displayed"
The current sketch library templates are based off healthcare section of VA.gov

Using more general information on templates would make it easier for teams to plug in their own information

Templates that need updating

- [ ] Form page

- [ ] How to apply

- [ ] content page

[2020-11-04 20:24] CrystabelReiter opened #15804 "Create sketch templates for benefit applications documentation"
The old vets.gov library sketch library have templates throughout the benefits process

There is currently documentation written around benefit applications

We need to create templates to match documentation on design.va.gov https://design.va.gov/patterns/benefit-applications

Templates that need to be created

- [ ] Eligibility template

- [ ] How to apply

- [ ] Apply now

- [ ] After you apply

[2020-11-04 20:24] bmcgrady-ep commented on #15643
@jonwehausen - can you add @denisecoveyduc and @mgleo to Bing Webmaster Tools? I currently don't have admin access in Bing Webmaster Tools. Thanks!

[2020-11-04 20:27] desireeturner opened #15805 "School Ratings: Update width and spacing on mobile version"
## Assumptions
This work is completed behind feature flag gibct_school_ratings created in #13359.

## Acceptance Criteria
1. The width of the mobile view has been updated so that the expand (+) and collapse (-) icons are not cut off on the screen (10px padding). Note this is true in both the "hover" and "select" state.

## Supporting Artifacts
1. ![8b92c0ba-7236-4d2c-9ba6-90af0ec2bc04.png](https:/

[2020-11-04 20:27] bridgethapner commented on #15688
@vacoleec3 Yes! I am on the VA Mobile App team and am requesting Grafana access to view events for claims to inform our feature definition. The request is approval for Grafana access.

[2020-11-04 20:29] Samara-Strauss opened #15806 "[FE/Analytics] Direct deposit: How can we approximate number of people with direct deposit info vs. number of people eligible but without direct deposit info?"
## Background

We are trying to answer the following question: Of the people who are eligible for direct deposit at the VA, how many of them actually have direct deposit set up? To get true metrics on this, we'd probably have to work with EVSS/BGS, which, while not impossible, would be more challenging and would not allow us to readily track progress over time.

So, instead, we'd like to do our be

[2020-11-04 20:29] theodur commented on #15206
This issue was resolved by the cms team fixing the [content layer.](https://dsva.slack.com/archives/C01512KN35G/p1604508451126000?thread_ts=1604499661.123700&cid=C01512KN35G)

[2020-11-04 20:29] #15206 closed

[2020-11-04 20:30] CrystabelReiter opened #15807 "Create sketch templates for navigation, sign in, and modal pages"
We currently do not have templates for navigation, sign in, and modal pages

Create templates for these pages

- [x] Navigation example

- [ ] Sign in

- [ ] Modal example

[2020-11-04 20:32] CrystabelReiter opened #15808 "Create sketch template for form review page"
We currently do not have a sketch template for a form review page

- [ ] Add form review page

[2020-11-04 20:34] elder-joseph commented on #15193
### Research effort to leverage Elasticsearch for Comparison Tool Profile search Results

#### Elasticsearch Overview
Elasticsearch is an open source JSON-Based Search engine that searches indexed data quickly. It can be installed on Windows, Mac, or Linux and can be run as a Docker container. Elasticsearch can be configured to work with Ruby on rails applications relatively easily by using the `e

[2020-11-04 20:35] jason-gcio opened #15809 "List of Usability Feedback for View Payments"
## Goal
We need to ensure that all feedback from the usability test prep meeting is codified and delivered to the frontend for implementation.

## Tasks
- [ ] Solidify the list of feedback notes given from the usability testing prep is in place
- [ ] Share that list with the FE

## Acceptance Criteria
- [ ] Complete list has been shared with FE

[2020-11-04 20:39] Samara-Strauss opened #15810 "[BE] VA Profile issue: Determine why we are sending a high volume of calls to VA Profile for a single user"
## Background

Earlier today (11/4/20), Mike Richard posted the following in the VA Profile channel:

Lihan looked into this and responded with the following:

So, we don't have answers, but we should still try to figure this out.

## Tasks

- [ ] Get any additional helpful info from VA Profile.
- [ ] If applicable, add additional logging to determine what's going on.
- [ ] Follow up with VA Profi

[2020-11-04 20:40] mdewey commented on #14988
In pull request

[2020-11-04 20:56] #15809 closed

[2020-11-04 21:03] jhonnyoddball commented on #15339
node was changed to `published`

Closing this tickets as I verified that the issue was solved

[2020-11-04 21:03] #15339 closed

[2020-11-04 21:04] bmcgrady-ep commented on #15237
@Samara-Strauss - Thanks for reaching out. After doing some research, I believe we are going to have to do an analytics implementation to get the address validation error codes and provide a Data Layer spec as part of that process.

cc @jonwehausen

[2020-11-04 21:12] Samara-Strauss commented on #15237
Thanks for letting me know. Is there anything my team needs to do to help with this?

[2020-11-04 21:13] mmiddaugh commented on #13730
Mobile Vet Centers are no longer included in the search results.

[2020-11-04 21:13] #13730 closed

[2020-11-04 21:14] narin commented on #14109
Hey @lenaecb.  @peggygannon and I chatted and determined that because there are so many conditional alerts and not all of them can be triggered easily on staging, the best way to do this would be for me to search through the codebase, trigger them on my local machine and take screenshots of each page.

There are close to about 50 different alerts so this would likely take me about half a day.  Jus

[2020-11-04 21:14] vacoleec3 commented on #15688
Hi Bridget,

              Please follow the attached web link on GitHub to work on your AWS request. Attached web link is the same you are using.

Hi Andrew,

Can you please help Bridget on her AWS request?

I don’t know why she needs my approval.

Thanks,

Cecilia Lee

API Contract Cor

Technology Strategy & Alignment Services (TSAS)

Demand Management Division 005Q

PH:  (301) 257-2158

[2020-11-04 21:16] kfrz opened #15811 "GI Bill Feedback Tool should not give users error when submitting data"
## What happened?

On 2020-11-03 @WillMcCormack [reported](https://dsva.slack.com/archives/CBU0KDSB1/p1604428679479500) users experiencing submission errors with the [GI Bill Feedback Tool](https://www.va.gov/education/submit-school-feedback/introduction).

Looks like users submitted and ran into this issue on 2020-10-08, 2020-10-13, and 2020-11-3

Relevant API code is in [`lib/gibft/service.rb`](

[2020-11-04 21:18] erikphansen commented on #15806
Sounds good and would be pretty easy to implement on the FE. We just need to know the two events/payloads to send to GA.

[2020-11-04 21:20] bkjohnson commented on #15328
Part of this work has been done in: https://github.com/department-of-veterans-affairs/veteran-facing-services-tools/pull/492

Continued styling changes happening in: https://github.com/department-of-veterans-affairs/veteran-facing-services-tools/pull/496

[2020-11-04 21:20] peggygannon commented on #15711
@outerpress Hello, I'm starting to take a look at this CC mockup and wanted to ask how the *Who do you want to see for this appointment/choose provider* screen related to the design/content that is in this ticket below?

cc @lenaecb

https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/10520

[2020-11-04 21:21] bessgreen opened #15812 "Different font sizes for hint text on edit fields"
## What happened?
On the Direct Deposit and Edit Address/Phone/Email screens, the grey "hint" text that appears in each field is not the same font size across all fields. Per the designs, this font size should be 17px.

## Desired behavior:
Per the designs, the font size for this hint text should be 17px across all fields.

## Severity:
Low

## Specs:

- Samsung Galaxy S9
- User: patient998@id.me

[2020-11-04 21:26] mmiddaugh opened #15813 "Remove Facility Locator feature flags"
## Issue Description
This issue is to clean up code for functionality which no longer needs to be toggled

## Tasks
- [ ] Remove `facility_locator_ppms_forced_unique_id` feature flag
- [ ] Remove `facility_locator_ppms_legacy_urgent_care_to_pos_locator` feature flag
- [ ] Remove `facility_locator_pull_operating_status_from_lighthouse` feature flag

## Acceptance criteria
- [ ] Unnecessary code is

[2020-11-04 21:27] lihanli commented on #7814
after looking into this issue again, i think it might be up to the team that handles login related issues to fix it?

here is the explanation of the problem: when a user logs in we sometimes get a `mhv_correlation_id` from the external login api (id.me, dslogon, mhv, etc). then, as a logged in user, when they visit any non-legacy page on va.gov, the backend returns basic user data that the fronten

[2020-11-04 21:27] shiragoodman commented on #14457
Luke and I chatted and decided that the Staging Review meeting will be postponed to 11/13/2020.

[2020-11-04 21:32] Samara-Strauss commented on #7814
Thanks for this! Let's pull in someone from the login/identity team to determine next steps. I'll find someone you can sync with on this.

[2020-11-04 21:40] tskinn commented on #15799
Your new key has been added.

[2020-11-04 21:41] mmiddaugh opened #15814 "Modify feature flag name"
## Issue Description
This issue is to change the description of a feature flag so it is easier to find and understand.

For example:

The description for` facilities_ppms_suppress_pharmacies`  has the following description:
_Front End Flag to suppress the ability to search for pharmacies_

## Tasks
- [ ] Change the description for the `facilities_ppms_suppress_community_care` feature flag to refle

[2020-11-04 21:44] timwright12 opened #15815 "Access for Tim Wright"
# Description
I think I may have previously submitted the wrong public key previously, I'm still getting permission denied messages.

- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please Provide your email.

- Please provide the name of your team, your role on that team, and the name of the company you work for.

- Requesting SSH key authori

[2020-11-04 21:49] kfrz commented on #15811
# 2020-11-04

- Picked this up to help @ericboehs on support sprint
- This is the result of a job submission, likely failing.  That code lives [here](https://github.com/department-of-veterans-affairs/vets-api/blob/master/app/workers/gi_bill_feedback_submission_job.rb)
- Cloudwatch [query here](https://console.amazonaws-us-gov.com/cloudwatch/home?region=us-gov-west-1#logsV2:logs-insights$3FqueryDet

[2020-11-04 21:52] laurenernest commented on #15652
@outerpress Thanks for calling that out. Let's keep it to err on the side of caution since we're sending that data in the request. I've updated the requirements in the description to reflect that.

[2020-11-04 21:57] mpelzsherman opened #15816 "Tech debt: simply async behavior in content build"
The build scripts have some complicated async behavior.

This comment contains an idea to simply this:

https://github.com/department-of-veterans-affairs/vets-website/pull/14771#discussion_r517637196

We should give this a try some time!

[2020-11-04 22:05] lenaecb opened #15817 "Veterans in Northern California cannot select locations in the VA location list"
## What happened?
Veterans in Norther California cannot select any of their facilities as an option to request care. The facilities show, but they are unable to click the radio button. Staff veteran tried different care types and still had the same result - unable to select desired facility.

## Steps to Reproduce
- need to test if possible with the north california

## Desired behavior
- user sho

[2020-11-04 22:09] mmiddaugh opened #15818 "Missing Regional Benefit office phone numbers"
## What happened?
Regional Benefit Offices do not have phone numbers displayed on detail pages or within search result cards on Facility Locator. This was identified while on the phone with Sandy Tadeo. We confirmed the information is available in the data source.

Numbers beginning with 1-800 seem to be missing.

<details>
<summary> Example from https://www.va.gov/find-locations/facility/vba_301

[2020-11-04 22:12] joanneesteban commented on #15214
Thank you!

[2020-11-04 22:25] saneshark commented on #10082
Yeah, this can be closed.

[2020-11-04 22:25] #10082 closed

[2020-11-04 22:26] jenniferlee-dsva commented on #15196
Replying to ^ - yep confirming Brian.

3 | Navigation/Engagement | Global menu (fat nav) | Table and/or Line graph (However best to view)
-- | -- | -- | --

This refers to :

![image](https://user-images.githubusercontent.com/43381063/98174405-d6baff00-1ec2-11eb-8599-0b8dce6e97c9.png)

[2020-11-04 22:32] mmiddaugh opened #15819 "IA Request [Facilities Team - Vet Center Pages]"
## What this is:
Work with VSP Information Architecture experts to finalize the IA of your product for VA.gov

## When to use this:
After completion of usability/protyping, prior to moving to development

## Required Inputs:
- [Link to product outline](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/facilities/vet-centers/product-brief.md)
- Link to or attach pro

[2020-11-04 22:36] mmiddaugh commented on #15819
We're requesting a meeting to review the Vet Center prototype and begin the IA discussion. Please include:
Facilities Team
- Dave Conlon
- Michelle Middaugh
- Leyda Hughes
CMS
- Clarence Maeng (clarence.maeng@agile6.com)
- Natalie Dunbar (natalie.dunbar@agile6.com)
- Kevin Walsh (kevin.walsh@civicactions.com)
- Steve Wirt (steve.wirt@civicactions.com)

[2020-11-04 22:42] amyknox commented on #15280
@watersemma & @JenLJ - I checked the GH repo and it looks like you've uploaded your interview notes.  Please add any stragglers by EDO Thursday.  Thank you!

[2020-11-04 22:43] #15280 closed

[2020-11-04 22:49] mnorthuis commented on #15647
@abuckley3385 @kristenmcconnell  I have a couple of questions regarding some of the user flows represented in the diagram below.  Wondering if you would like to meet to discuss or if you have answers/thoughts to any of these at this point?
cc @peggygannon @DanielleThierryUSDSVA

![image](https://user-images.githubusercontent.com/20994159/98176128-96a54d80-1ebd-11eb-8a54-a1a804ce7cc6.png)

[2020-11-04 22:52] mmiddaugh opened #15820 "Analytics Consult for [Facilities- Vet Centers]"
# Analytics Consult Request

## What this form is for

<details>
<summary>More Information</summary>
<div>
    <br>
<p>Use this template to request Google Tag Manager and Google Analytics implementation or QA for your product. Please fill out all brackets.</p>

For more information, please check out the [Google Tag Manager resources](https://github.com/department-of-veterans-affairs/va.gov-team/bl

[2020-11-04 22:59] bmcgrady-ep commented on #13708
@ricetj - Okay, thanks for letting me know. Would you be able to provide me with a test user that I can go test disconnecting an app?

[2020-11-04 23:00] Mottie commented on #14460
Almost done... still need to include the restart wizard update.

[2020-11-04 23:05] ericboehs commented on #15795
- This job was disabled on [staging's sidekiq recurring-jobs](https://staging-api.va.gov/sidekiq/recurring-jobs) page. I enabled it.
- When enqueued, job failed with `Net::SSH::Disconnect: connection closed by remote host`. See Sentry error [1](http://sentry.vfs.va.gov/organizations/vsp/issues/4992/?environment=staging&project=3&query=SSH&statsPeriod=14d) and [2](http://sentry.vfs.va.gov/organizat

[2020-11-04 23:09] jhouse-solvd commented on #15563
@kreek  & @jjulian  - Let me talk with the Ops to get an update. The ticket has not yet been assigned. I'll see if we can get started with the first step and find any supporting documentation / process that may exist.

[2020-11-04 23:18] jhouse-solvd commented on #15795
@ericboehs - Thanks for the additional information. Will follow up with @tskinn to see if he has the resources and access needed to solve this, or if we need to get other team members involved.

[2020-11-04 23:22] bmcgrady-ep commented on #15747
@joanneesteban @jonwehausen - All of the BigQuery datasets have been backfilled and updated with the error scripting code. Here is the [report](https://docs.google.com/spreadsheets/d/1RCJmoFjQxZ4XdNf7zWBGp2lOriKXu2TP6UIyfhLpejc/edit?usp=sharing) showing the progress.

[2020-11-04 23:22] mmiddaugh opened #15821 "Update Swagger with Provider Locator type data"
## Issue
Keep Swagger documentation up to date with changes

## Tasks
- [ ] Update Provider Locator type data

## Acceptance Criteria
- [ ] Swagger documentation is up to date.

[2020-11-04 23:32] mmiddaugh commented on #14484
Duplicated in https://github.com/department-of-veterans-affairs/va.gov-team/issues/5761

[2020-11-04 23:32] #14484 closed

[2020-11-04 23:35] mmiddaugh opened #15822 "[Consider] Facility Locator open mobile map with native app"
## Issue
This issue to consider the option of allowing the mobile user to open the Facility Locator in a native app to improve the search experience

## Task
TBD

[2020-11-04 23:43] mmiddaugh opened #15823 "Synthesis: Community Care request interviews"
## Issue Description
Synthesize findings from sessions conducted with Community Care request managers in November 2020

## Goal of research
- Understand the current data & process that a community care request manager uses to process Veteran's community care requests
- Understand/gather feedback (where possible) about the VAOS requests for community care coming into Community Care request manages

[2020-11-04 23:54] #14818 closed

[2020-11-04 23:54] #10546 closed

[2020-11-04 23:55] outerpress commented on #15711
@peggygannon the screen you referred to in the mockup would replace the functionality shown in that ticket. Basically we're going to user test:
- Removing the ability to copy/paste in a provider from facility locator
- Adding the ability to add up to three providers by searching directly within the app

[2020-11-04 23:57] jonwehausen commented on #15747
@joanneesteban PR link for postmortem can be found here, ready for review: https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/pull/184

[2020-11-05 00:12] cvalarida commented on #15068
RFC: https://github.com/department-of-veterans-affairs/va.gov-team/pull/15824

[2020-11-05 00:26] jenniferlee-dsva opened #15825 "Bug: Search query not carrying over (learning center)"
## Bug: Search query not carrying over (learning center)

**What happened?**
When I enter a search term in the search bar - using `Resources and support` option - instead of immediately taking me to the results, I'm taken to a page that says "Enter a query to get started."

**What should happen?**
When I enter a query and click the search button, it should take me right to the results page - eithe

[2020-11-05 00:33] jenniferlee-dsva opened #15826 "Omit unrelated results - learning center"
## Omit unrelated results - learning center

**What happened?**
I searched on "service dogs" in the RS search. There is only 1 article about service dogs. But the search results brought back ALL 26 articles in the learning center.

I **_think_** what is happening is that the results are not omitting any articles but display ranking them ALL by relevance (?).  We do want relevance ranking but only

[2020-11-05 00:35] jenniferlee-dsva commented on #13646
Sounds all right to me.

[2020-11-05 00:35] #13646 closed

[2020-11-05 00:37] digitalken commented on #14714
Testing:

1. Verify the bottom of the Direct Deposit edit page contains a checkbox so user can confirm that their information is correct.
2. Verify checkbox states for active / disabled:
  a. Checkbox becomes active once the other 3 fields have valid entries:
     i. 9-digit routing number
     ii. account number of 17 digits or less
     iii. an account type.
  b. Checkbox is disabled otherwise.

[2020-11-05 02:48] kevinmirc commented on #14767
Testing the backed of the Scheduled Downtime Notification for CARMA today and everything worked as expected:
- Can schedule a downtime period for the CARMA service.
- That period will show up in `/v0/downtime_windows`.

⚠️  Note: This endpoint will pull Maintenance Windows, from the PagerDuty API, with the status of **open**, _not_ **ongoing**. So in order for the maintenance window to show up in

[2020-11-05 04:56] darkbushido commented on #13026
[code]

[2020-11-05 04:56] #13026 closed

[2020-11-05 13:04] jonwehausen commented on #15196
Hi @jenniferlee-dsva and @brianalloyd,

Thank you for confirming here! Yes, we have pre-existing tracking at each level of the top level navigation.

### Here are a couple event-based reports for safekeeping to analyze this:
- [Global nav clicks by navigation level](https://analytics.google.com/analytics/web/#/report/content-event-events/a50123418w177519031p184624291/explorer-segmentExplorer.segme

[2020-11-05 14:01] #15579 closed

[2020-11-05 14:01] 3obryandogs commented on #15766
This is what I sent to Peggy for her input/review:
**C4: Household expenses**
This section gathers information about expenses you that you regularly pay to maintain your household and to care for your family.
•	C4P1: Expenses
Please list monthly costs. For example, rent/house payments, groceries, utilities (gas, water, sewer, etc.), vehicle notes, and credit card payments. Also, consider monthly e

[2020-11-05 14:01] #15597 closed

[2020-11-05 14:02] annaswims commented on #7814
https://github.com/department-of-veterans-affairs/vets-api/blob/bb7f8ef91bb5f36b0177200440d078512b49f6e4/lib/mvi/responses/profile_parser.rb#L109

Some of these sentry reports might be relevant.

[2020-11-05 14:05] ricetj commented on #13708
@bmcgrady-ep  Sure, test user 1 has an app connected in staging, so you can disconnect the app via the profile and then go to https://va-claims-staging.herokuapp.com then click login to get started to reconnect the application to the test user's profile (you will need to login as test user 1 and consent to have the app appear in the profile). If you have problem I'm happy to jump on a call.

[2020-11-05 14:17] shiragoodman commented on #15819
Hi @mmiddaugh  - Can you look over our [VSP Collaboration Meetings Calendar](https://calendar.google.com/calendar/u/0/embed?src=adhocteam.us_4dn3o77gcm5e3vbiedlha96tc0@group.calendar.google.com&ctz=America/New_York) and find a timeslot that works for you? We don't typically hold meetings for IA Requests, however please allow 2 full days for review (ie, we can't accommodate the Friday timeslot). Th

[2020-11-05 14:29] #15610 closed

[2020-11-05 14:41] jhonnyoddball commented on #15343
node was changed to published

Closing this tickets as I verified that the issue was solved

[2020-11-05 14:41] #15343 closed

[2020-11-05 14:49] zacharymorel commented on #15384
PR Created.

[2020-11-05 14:49] #10231 closed

[2020-11-05 14:49] jenniferlee-dsva commented on #10231
done

[2020-11-05 14:54] kristenmcconnell commented on #15647
@mnorthuis I quickly updated the user flow, which might help answer some of your questions. I would definitely be willing to meet, so I can answer the rest of the questions and any others that arise from the answers.

![User Flow.jpg](https://images.zenhubusercontent.com/5f44055c65a5c54f7cfe5928/72259a66-0a9c-490e-92bd-2abfe0975588)

[2020-11-05 15:00] sporeboy commented on #13807
Research plan templated-out here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/direct-deposit/edu-direct-deposit/design/usability-testing/dd-edu-research-plan.md

[2020-11-05 15:14] jjulian commented on #14069
I don't think this is mine. Another "julian" out there?

[2020-11-05 15:19] #15164 closed

[2020-11-05 15:30] emily-mann opened #15827 "Request access to Google Analytics"

[2020-11-05 15:31] Samara-Strauss commented on #15683
Meeting is scheduled for 11/12 @ 2:00 ET.

[2020-11-05 15:35] ricetj commented on #14279
@DanielleThierryUSDSVA here is the mockup
![image (9)](https://user-images.githubusercontent.com/49173478/98261557-94d99980-1f52-11eb-98f9-e29941538ce4.png)

[2020-11-05 15:37] shiragoodman commented on #15683
Thanks @Samara-Strauss ! I will schedule by EOD.

[2020-11-05 15:39] Samara-Strauss commented on #15683
Awesome, thanks!

[2020-11-05 15:44] joanneesteban commented on #14457
Hi @luke-gcio - it sounds like we're good to continue your analytics QA for Higher Level Review [here](https://github.com/department-of-veterans-affairs/va.gov-team/issues/3825). Can you confirm?

[2020-11-05 15:46] amyknox opened #15828 "CT Site Search - Selective Searching"
## What happened?
CT search on production isn't returning full results sets.
- When you search for "high school" you get 2 results - that's it.
- When you search for "Stanford" you get 3 results, 2 of which have "High School" in the name of the institution, neither of these is a result returned if you search for "high school"

![image.png](https://images.zenhubusercontent.com/5b51ea398c1a7628d9218

[2020-11-05 15:47] luke-gcio opened #15829 "[Development] HLR: Update "Same Office" Bullet and Alert Box w/Updated Content"
## Issue Description
Lauren approved some updated wording and Fred wanted us to go back to the same style wording as we have on the PDF form. The changes include an update to he alert box as well.

<img width="663" alt="Screen Shot 2020-11-05 at 9 31 41 AM" src="https://user-images.githubusercontent.com/53824125/98262837-4d97dc80-1f43-11eb-9988-aa28bca15e13.png">

## Acceptance Criteria
- [ ] Upda

[2020-11-05 15:49] jonwehausen commented on #15827
Thanks @emily-mann!

@bmcgrady-ep could you take care of this access request at your earliest convenience, thanks!

[2020-11-05 15:53] bramleyjl commented on #15191
Metrics collection is in the process of being moved to DataDog, so spending resources to improve Prometheus metrics would not provide long-term benefits. The default for [DataDog system metrics retention is 15 months](https://docs.datadoghq.com/developers/faq/data-collection-resolution-retention/#pagetitle), so that takes care of the 2 week issue that Prometheus metrics currently has. I will start

[2020-11-05 16:00] Mottie opened #15830 "[Development] HLR content updates"
## Description

Implement Higher-Level Review changes recommended by content feedback

Related:
- https://github.com/department-of-veterans-affairs/va.gov-team/issues/15096
- Design: https://vsateams.invisionapp.com/share/W5U21BDFTQK

## Acceptance criteria

- [ ] HLR content has been updated to match review/design

[2020-11-05 16:10] jason-gcio opened #15831 "[EPIC] Number One"
Lorem ipsum

[2020-11-05 16:20] mnorthuis commented on #15647
@kristenmcconnell I think a discussion would be helpful, I have some questions about the above changes, and may be helpful to just talk through things.  I'll ping you in slack to find a time.

[2020-11-05 16:21] #15377 closed

[2020-11-05 16:24] pjhill opened #15832 "General Documentation for use of Cypress on VSP"
## Product Outline
N/A

## High Level User Story/ies
As a VFS team engineer, I need robust automated test framework documentation so I can create resilient and valuable tests for my VFS team product.

## Hypothesis or Bet
**If** _we make this change_ **then** _we expect this to happen_.
If we enhance the automated testing framework's documentation then engineers will have an easier time participat

[2020-11-05 16:29] ltrombley commented on #15572
Pending questions to PM regarding updating of address block and other details.

[2020-11-05 16:33] pjhill opened #15833 "Discover what percent of VFS teams are using 'Form Tester' to test their product's form"
## Issue Description
What percent of teams are using the form test documented [here](https://github.com/department-of-veterans-affairs/vets-website/tree/master/src/platform/testing/e2e/cypress/support/form-tester), to test their product's forms?

Does the product have a form to test?
Is the team using the form tester?
To what degree is the form covered by testing?
What teams are not using VA Forms

[2020-11-05 16:37] jason-gcio commented on #15081
Holler when these prototypes are finished but there's plenty of time for this 👍

[2020-11-05 16:40] RLHecht commented on #15474
R&S published 11/4. Closing ticket! FYSA @brianalloyd @bethpottsVADEPO

[2020-11-05 16:40] #15474 closed

[2020-11-05 16:41] laurenernest opened #15834 "Add tracking events to current CC page"
## Issue Description
Add event tracking to the current community care facility preference page.

---
## Tasks
- [ ] Track continue with "no preference" selection
- [ ] Track selection of 'yes'
- [ ] Track continue with 'yes' selection
- [ ] Track facility locator selection

[/] Track # of CC providers as submission request event _(Waived - moved to #16248)_

[2020-11-05 16:41] pjhill opened #15835 "Create Helper Functions for Cypress"
## Product Outline
N/A

## High Level User Story/ies
As a VFS engineer, I need reusable functions for testing using Cypress so I can more easily and quickly write automated tests for my product.

## Hypothesis or Bet
If we create reusable functions that test commonly used components from the VA design system then VFS team engineers will be able to quickly and easily write automated tests that veri

[2020-11-05 16:42] mmiddaugh commented on #15818
Link to Slack thread https://dsva.slack.com/archives/C0FQSS30V/p1604527877314600

[2020-11-05 16:44] digitalken commented on #15445
Testing:

1. Verify mobile alert box (example:  https://adhoc.invisionapp.com/d/main/#/console/20546460/431636880/preview )
  a. Left border
    i. Informational color:  #00a6d2
    ii. error color:  #cd2026
    iii. warning color:  #fac922
  b. Headline:  Bold (optional)
  c. Body:  standard, dark gray #323a45
  d. Padding:  20px top/bottom; 10px left/right
  e. Margin:  Standar gutter l/r; margi

[2020-11-05 16:45] pjhill opened #15836 "Document Cypress Best Practices on VSP"
## Product Outline
VSP Platform

## High Level User Story/ies
As a VFS team engineer, I need to be aware of best practices for the use of Cypress on the Veteran-facings Services Platform so I can create resilient and valuable tests.

## Hypothesis or Bet
If we create well-defined best practices for use of Cypress on VSP then VFS team engineers will create tests with better coverage with fewer supp

[2020-11-05 17:00] zurbergram commented on #11970
@1Copenut @delli-gatti-michael
See https://github.com/department-of-veterans-affairs/vets-website/pull/14426 it has been updated with the `tabindex="0"` changes for those alerts

[2020-11-05 17:06] RLHecht opened #15837 "Fix anchor link on active-duty service members health care page"
## Issue Description
Currently we have an anchor link on [this page](https://www.va.gov/health-care/eligibility/active-duty/) that goes to the wrong page. In the second accordion "Benefits of enhanced eligibility" the link "Learn more about priority groups" is taking the user to the eligibility page with a #priority-groups but it should go to /priority-groups.

A content team member needs to updat

[2020-11-05 17:10] johnhashva commented on #15826
I'm not able to replicate this -- works as expected -- e.g. service dogs returns one article about service dogs.   @ncksllvn did this get fixed?

[2020-11-05 17:17] #15107 closed

[2020-11-05 17:18] mmiddaugh opened #15839 "Create flag to govern new single query code"
## Issue Description
Now that PPMS 10.0 is released, we need to govern use of our changes to use of a single query

---
## Tasks
- [ ] Create flag to control single query code

## Acceptance Criteria
- [ ] New code can be restricted to staging for testing

---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to an Epic** (what body of

[2020-11-05 17:19] tlei123 commented on #14059
@leahkeeler , yes I did.  @pjhill agrees we should rely on automated-testing to validate the data-scenarios.  QA will focus on functionality & content/styling.

Thx, @craigwheeler !  I'll check the test changes today and add my feedback to the PR [if it's still Open] or here [if that's Closed].

[2020-11-05 17:20] luke-gcio commented on #12690
History: Business decision was made to use form expiration as an ITF.  This was replaced by the ITF concept so some of this expired application business logic is not necessarily still needed.

Active ITF is critical to making sure expiration dates are not necessary.  @Anna believes that the ITF automatically would be refreshed even if the form is longer than a year and a new one is necessary. Our

[2020-11-05 17:28] jhouse-solvd commented on #14069
@jjulian - Yep, that was gaffe. Sorry for the unnecessary ping. Cheers!

[2020-11-05 17:28] mmiddaugh opened #15840 "Document build system"
## Issue Description
 We need to improve the documentation surrounding the build system, including side nav queries

May be able to add to existing documentation, such as Github on [templating](https://github.com/department-of-veterans-affairs/vets-website#how-templating-works)

---
## Tasks
- [ ] Document build system

## Acceptance Criteria
- [ ] Documentation exists for build system, including

[2020-11-05 17:28] jhouse-solvd commented on #14069
@jsev-io - Did you get the channel created that you needed?

[2020-11-05 17:32] RLHecht commented on #15837
This change has been made. Moving to validate and will close after today's deployment. FYSA @lwalsh617 @DanielleThierryUSDSVA @brianalloyd

[2020-11-05 17:36] caw310 opened #15841 "Discovery / Audit of existing instances of Direct Deposit"
## Issue Description
Audit of instances of direct deposit

---
## Tasks
- [ ] Audit and analysis of current direct deposit designs

## Acceptance Criteria
- [ ] Review with team of audit during kick off meeting
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to an Epic** (what body of work is this a part of?)
- [ ] **Labeled with

[2020-11-05 17:38] jsev-io commented on #14069
@jhouse-solvd yup! I did. thanks. we can close this.

[2020-11-05 17:38] #14069 closed

[2020-11-05 17:39] caw310 opened #15842 "Component design for direct deposit"
## Issue Description
Create a Sketch library pattern for direct deposit

---
## Tasks
- [ ] Create library pattern
- [ ] Hand off to developer

## Acceptance Criteria
- [ ] Sign off from DST and DC
---

[2020-11-05 17:42] caw310 opened #15843 "Development for direct deposit component"
## Issue Description
Development for direct deposit component

---
## Tasks
- [ ] Take artifact from design and implement
- [ ] Unit tests
- [ ] Stories/description of what the component does

## Acceptance Criteria
- [ ] Sign off from designer
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to an Epic** (what body of work is thi

[2020-11-05 17:42] bradl3yC opened #15844 "Debt Letters - Frontend - bug with plurality of hasDepenentDebt key"
Currently the FE excludes a call to VBMS if `hasDependentDebt` is present - however, the response from the API uses the plural of that key.  This creates a situation where that API call is always made, resulting in a 401 for veterans that do have dependent debts

[2020-11-05 17:44] dneel-bah commented on #15781
Upon additional discussion; this story is no longer needed and is being closed as OBE.

[2020-11-05 17:44] #15781 closed

[2020-11-05 17:45] caw310 opened #15845 "Documentation for Direct Deposit component"
## Issue Description
Document the use cases for direct deposit

---
## Tasks
- [x] Draft description for using direct deposit
- [ ] Post documentation somewhere (TBD) probably in pattern section of design.va.gov

## Acceptance Criteria
- [ ] Sign off on documentation from DST
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to an

[2020-11-05 17:54] mmiddaugh opened #15846 "Usability Testing Prep - Facilities [Vet Center pages]"
## Steps to complete Usability Testing Prep:
- [ ] Product Manager: create this issue and fill in the team name and feature name in the title and other bolded information appropriately
- [ ] Attach all artifacts before requesting the meeting
- [ ] Link to this issue once created in [#vfs-platform-support](https://dsva.slack.com/channels/vfs-platform-support) in Slack; tag @ Shira Goodman and @ And

[2020-11-05 17:58] digitalken commented on #13907
Testing:

1. Verify selecting Direct Deposit Information banner from Direct Deposit page opens the direct deposit account summary screen where user may enter/edit bank information.
2. Verify styling and UI matches designs.
3. Verify the expandable box opens and closes and that it displays information as to where to find account numbers on a check.
  a. Verify caret mark is down when box is collaps

[2020-11-05 17:59] dillo commented on #13732
The mock appointment endpoint in the vets-api is now available on the master branch. https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/14991 is ready to be pulled down, evaluated, and then closed. cc: @mdewey

[2020-11-05 18:02] shiragoodman opened #15847 "New Team VSP Orientation"
## User Story
As a new VA.gov team member, I need to complete onboarding activities so I can successfully work on my project.

## Acceptance Criteria
- [ ] Each team member has completed each item in the orientation checklist below.

## Onboarding Checklist

- [x] PM: Attend intro meeting with product support PM (reach out to @ Shira Goodman on Slack)
- [x] Attend general orientation meeting
- [x]

[2020-11-05 18:07] zurbergram commented on #15329
When testing locally feature flag `gibct_school_ratings` should be enabled
https://github.com/department-of-veterans-affairs/vets-website/pull/14871

[2020-11-05 18:08] lildziner commented on #15819
@mmiddaugh Here is a link to the [prototype in UXPin]. This is still rough.  (https://preview.uxpin.com/603da0b67ccefbbee74fcd8bb77a8fed12baabb5#/pages/133912052/simulate/no-panels?mode=i).

[2020-11-05 18:10] ericbuckley commented on #15709
@patrickvinograd its worth noting that my above workaround introduces a security vulnerability with users on a shared computer with IE11.  If we silently ignore the keepalive response when the Origin header isn't sent, then we will keep the initial user logged into www.va.gov when it could be that a new user has logged in.

[2020-11-05 18:10] caw310 opened #15848 "Discovery / Audit of List Loop Design"
## Issue Description
Audit of list loop component

---
## Tasks
- [ ] Identify all instances of list loop
- [ ] Present list loop audit during ick off meeting

## Acceptance Criteria
- [ ] Audit of list loop pattern
- [ ] Recommendation of list loop component design approach
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to an E

[2020-11-05 18:12] kathleencrawford opened #15849 "[BUG] - View Payments - Payments do not display properly if only one payment record is found"
## Story
As a Veteran or general user of VA.gov, I want to be able to see where all the payments I have received or had returned, so that I can know exactly where I stand with those payments.  During testing it was discovered that payments page does not display properly if only one payment record is found.

## Tasks
- [x] Adjust the code to handle the use case where only one payment record is foun

[2020-11-05 18:13] mmiddaugh commented on #15701
Scheduled time to talk with Jennifer on 11/11

[2020-11-05 18:16] luke-gcio opened #15850 "[Development] 526: PTSD Not Matching on Just "PTSD""
## Issue Description
In one part of our code we are checking for just the literal string "PTSD" for some business logic to happen. Looks like we need to check it to include "post traumatic" etc.  Nick was saying there is already a place in the code where we do this correctly.

Here is the error (how it manifests):
[code]

[code]

## Acceptance Criteria
- [ ] Nick makes it work.
---
## How to confi

[2020-11-05 18:20] luke-gcio commented on #12938
Nick is going to implement this when they try to add more than 100 (message "you've reached a maximum number of disabilities we can submit on this form. When you speak to an adjudicator after claim submission you can discuss your claim and add additional disabilities").

[2020-11-05 18:21] jenstrickland commented on #15701
You could make them all `h4` and apply a utility class for the ones for Hours and Phone.

[2020-11-05 18:24] shiragoodman opened #15851 "New Team VSP Orientation"
## User Story
As a new VA.gov team member, I need to complete onboarding activities so I can successfully work on my project.

## Acceptance Criteria
- [ ] Each team member has completed each item in the orientation checklist below.

## Onboarding Checklist

- [x] Attend general orientation meeting
- [x] [Request Access to Tools](https://github.com/department-of-veterans-affairs/va.gov-team/blob/m

[2020-11-05 18:25] luke-gcio opened #15852 "[Bug] 526: Upon Form Submission, Submission Date is "Unknown""
## Issue Description
Actual submission date needs to show up and not just "unknown".

1. Make sure we are using the UTC date.
2. We likely never need to get this from the backend.

## Acceptance Criteria
- [ ] No more "unknown".

[2020-11-05 18:25] timwright12 commented on #9837
Adding PRs to the ticket for good measure:
https://github.com/department-of-veterans-affairs/veteran-facing-services-tools/pull/497
https://github.com/department-of-veterans-affairs/vets-json-schema/pull/544
https://github.com/department-of-veterans-affairs/vets-website/pull/14847

[2020-11-05 18:28] #15829 closed

[2020-11-05 18:29] shiragoodman opened #15853 "New Team VSP Orientation-Sam"
## User Story
As a new VA.gov team member, I need to complete onboarding activities so I can successfully work on my project.

## Acceptance Criteria
- [ ] Each team member has completed each item in the orientation checklist below.

## Onboarding Checklist

- [x] Attend general orientation meeting
- [x] [Request Access to Tools](https://github.com/department-of-veterans-affairs/va.gov-team/blob/m

[2020-11-05 18:29] Samara-Strauss commented on #14998
Looks like the links in the ticket aren't working, so we need to get that figured out so I can assess the situation and determine how we should move forward.

[2020-11-05 18:30] mdewey commented on #14991
I have verified it's in master.  Thank you!

[2020-11-05 18:30] #14991 closed

[2020-11-05 18:30] #15680 closed

[2020-11-05 18:30] luke-gcio commented on #15680
Closing as duplicate of #14807.

[2020-11-05 18:34] zurbergram commented on #14967
https://console.amazonaws-us-gov.com/cloudwatch/home?region=us-gov-west-1#logsV2:log-groups/log-group/dsva-vagov-staging$252Fsrv$252Fvets-api$252Fsrc$252Flog$252Fvets-api-server.log

[2020-11-05 18:35] zurbergram commented on #14967
https://console.amazonaws-us-gov.com/cloudwatch/home?region=us-gov-west-1#logsV2:log-groups/log-group/dsva-vagov-staging$252Fsrv$252Fvets-api$252Fsrc$252Flog$252Fvets-api-worker.log

[2020-11-05 18:36] luke-gcio commented on #14014
Luke is going to try and reproduce in staging.  If we cannot reproduce we are going to close until #2138 allows us to better see the actual error in the future.

[2020-11-05 18:37] dneel-bah opened #15854 "GIBCT Redesign: Research Cost of Living Tools"
As a developer, I need to research cost of living near the school functionality that can be incorporated into the comparison tool so that the comparison tool users know what living costs will be in the area.

## Assumptions:
1. N/A

## Acceptance Criteria:
1. Documentation outlining cost of living near school tools and/or APIs that can be leveraged within the comparison tool.

## Supporting Artifa