[2022-08-12 17:37] jimuhh opened #45649 "Design Intent - IA Feedback - Public Websites, Income Limits, Income Limits Web App"
## VFS acceptance criteria
- [x] Let Platform know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
Excellent start. I look forward to seeing results of further exploration.

## Feedback
- Practice areas will document their feedback following the [Must, Should, and Consider Framew

[2022-08-12 17:38] joshkimux opened #45650 "508-defect-1: Benefit summary and service verification letter accordion has critical heading, labelling, and responsive defects"
## Point of contact

Josh Kim

## List of issues by severity
I've grouped these issues together as they're closely related and dependent on one another. Whatever solution we consider will likely need to take into account all of these issues together from a holistic perspective @skylerschain

### Table isn't responsive (Critical)
The first table is not responsive and doesn't follow VA design system

[2022-08-12 17:40] skylerschain opened #45651 "General Analytics Request for Skyler Schain (Benefits Team 1)"
Hey folks 👋

Our team works on the Claims Status Tool. I am looking to get some info on the **number of claims** the average user has in the Claims Status Tool at any one time. Our staging environment is not very realistic here, since there are a ton of claims associated with each test account.

Please let me know if you need any more info, or if there is another better way to proceed here. Thanks

[2022-08-12 17:43] brianseek commented on #45189
Validated during FE sync moving to closed

[2022-08-12 17:43] #45189 closed

[2022-08-12 17:46] DanielleThierryUSDSVA commented on #43352
Hi @megzehn @RLHecht @laurwill. Could you please review the new alert and related link on this page? Thank you! http://preview-prod.vfs.va.gov/preview?nodeId=855

[2022-08-12 17:49] joshkimux opened #45652 "[BUG] Accordion design isn't responsive to mobile"
## What happened?
Download buttons, tables, and alerts are not fit for mobile

<img width="452" alt="responsivebug" src="https://user-images.githubusercontent.com/14154792/184414632-f53be4ff-7f27-4668-9197-2db6fe0a7fff.png">
<img width="407" alt="Screen Shot 2022-08-12 at 12 43 09 PM" src="https://user-images.githubusercontent.com/14154792/184414635-19a894e9-4770-40f7-9b73-872e46a6d973.png">

## S

[2022-08-12 17:51] laineymajor commented on #35184
@ndsprinkle have you been in communication with anyone from the above teams? If so, who? I'm trying to determine who I should follow-up with. Thanks!

[2022-08-12 17:57] joshkimux opened #45653 "508-defect-3: Links that open in a new tab should warn users ahead of time"
## Point of contact

Josh Kim

## Severity level

3, Moderate. Should be fixed in 1-3 sprints post-launch.

## Details

Several issues exist when forcing a link to open in a new tab or window:
- Screen reader users, screen magnifier users, and users with certain cognitive impairments can become disoriented when they are taken to a new window
- The use of the back button, the most used button withi

[2022-08-12 18:10] khandelwal commented on #44810
@jonathan-epstein13 @michelle-dooley I've mostly read through some of the analytics guidance online. I'm a little confused. I think, it track the things we want to track, we don't need a custom dashboard for 1095-B. Is that correct? Or, based on what we have above, we should have one?

Our tracking code isn't merged in yet, but we'll eventually need to know where to look for our page in the analyt

[2022-08-12 18:16] chloedotbrown commented on #45084
Perfect! This seems great for now - will follow up if I have any other questions.

[2022-08-12 18:17] jlang10761 opened #45654 "Offboarding of [Erik Pollack]"
# Instructions
Fill out name of individual and *Description* section below.

*(Please add only one individual per form)*

# Description
Please provide the following information about the individual being offboarded:
- name: Erik Pollack

- team name: CEDAR CDS

- role on team: Product Manager

- expected last day: _(08/12/2022)_

- company they work for: Coforma

- email: _(Erik.pollack@va.gov, Er

[2022-08-12 18:19] eunicegar opened #45655 "Offboarding of Leanna Miller"
# Instructions
Fill out name of individual and *Description* section below.

*(Please add only one individual per form)*

# Description
Please provide the following information about the individual being offboarded:
- name:

- team name:

[vets.gov-write](https://github.com/orgs/department-of-veterans-affairs/teams/vets-gov-write)
- role on team:

- expected last day: _(MM/DD/YYY)_

- company they

[2022-08-12 18:20] eunicegar commented on #45655
User has been removed from Slack.

[2022-08-12 18:28] megzehn commented on #43352
Hi @DanielleThierryUSDSVA! Confirming that we reviewed the alert and related link on this page, and they look good: http://preview-prod.vfs.va.gov/preview?nodeId=855

We're leaving in drafts for now. Thank you!

[2022-08-12 18:32] it-harrison commented on #43163
The health metric is available on Domo in the [Vets-website Pull Requests Dashboard](https://va-gov.domo.com/page/377870524).

[2022-08-12 18:36] nsmith1982 commented on #45655
removed from Confluence

[2022-08-12 18:37] rmtolmach commented on #45655
Not in confluence, VFS team roster.
Doesn't have SOCKS or AWS
✅ removed from GH org in https://github.com/department-of-veterans-affairs/github-user-requests/issues/12064
Not in pager duty, datadog, or Sentry.
Not a bot user.

[2022-08-12 18:38] eunicegar opened #45656 "Offboarding of Travis Newby"
# Instructions
Fill out name of individual and *Description* section below.

*(Please add only one individual per form)*

# Description
Please provide the following information about the individual being offboarded:
- name:

- team name:

[cto-engineers](https://github.com/orgs/department-of-veterans-affairs/teams/cto-engineers)
[CTO-office](https://github.com/orgs/department-of-veterans-affairs/t

[2022-08-12 18:38] eunicegar commented on #45656
User as been removed from Slack.

[2022-08-12 18:39] rmtolmach commented on #45656
@eunicegar can i remove other access, or do you want me to wait until 8/15?

[2022-08-12 18:41] jfinnern commented on #45449
Validated in staging
Test run: https://dsvavsp.testrail.io/index.php?/runs/view/3512&group_by=cases:section_id&group_order=asc
Test case: [Update Expiration date in Feedback tool site.xlsx](https://github.com/department-of-veterans-affairs/va.gov-team/files/9329198/Update.Expiration.date.in.Feedback.tool.site.xlsx)

[2022-08-12 18:44] pavanhothi commented on #45655
GA DOMO access removed

[2022-08-12 18:48] pavanhothi commented on #45654
No DOMO access, GA access removed

[2022-08-12 18:49] MitchLivingstone commented on #42294
This story was addressed and updated in story  [#45449](https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/45449)

Completed and closed. 08/12/2022

[2022-08-12 18:49] MitchLivingstone commented on #42294
This story was addressed and updated in story  [#45449](https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/45449)

Completed and closed. 08/12/2022

[2022-08-12 18:49] #42294 closed

[2022-08-12 18:53] #45301 closed

[2022-08-12 18:54] brdunfield commented on #44239
Android smart phones have built-in QR code support as of Android 8 and higher. Devices previous to Android 8 can still scan QR codes using an app.

I haven't been able to find any evidence of widespread QR code bugs on Android. Based on how QR codes work, it doesn't seem technically possible that the code would successfully scan to the point where it knew to open the SMS app, without also having s

[2022-08-12 18:55] brdunfield commented on #44239
@loripusey Given the above, should I close this ticket for now?

[2022-08-12 18:58] laineymajor commented on #45296
@ndsprinkle @jhonnyoddball in your descriptions of the plugins you researched, can you make sure you've included:
1. Description of the plugin (what problem does it solve? and for which user(s)?)
2. How this plugin applies to the work of the Release Tools Team

[2022-08-12 18:59] pjhill commented on #45391
Nice -- we should be in a much better place with these changes. Thanks for the detailed write-up as well, it should make subsequent changes easier if they are necessary.

[2022-08-12 18:59] #45391 closed

[2022-08-12 19:03] eunicegar opened #45657 "Offboarding of Cody Reinold"
# Instructions
Fill out name of individual and *Description* section below.

*(Please add only one individual per form)*

# Description
Please provide the following information about the individual being offboarded:
- name:

- team name:

[cto-engineers](https://github.com/orgs/department-of-veterans-affairs/teams/cto-engineers)
[CTO-office](https://github.com/orgs/department-of-veterans-affairs/t

[2022-08-12 19:12] benbrasso-agile6 commented on #42032
@zach-park take a look at the changes I made to the "intro" and the two "completion" steps. I did NOT check these into abstract. You'll need to recreate these.

![Pre-check-in user flow (Read-only) for user guide.png](https://images.zenhubusercontent.com/62264cddfdd7546d65710eff/7073eae8-5617-4464-ab16-10e073785d42a)

[2022-08-12 19:25] benbrasso-agile6 commented on #39279
@benbrasso-agile6 needs to add the updates from telephone and type of care into these updates. Type of care folder is here - https://drive.google.com/drive/folders/18YrEyHu_Fi1C5dKODZJzjmC7CvvjyuX9

[2022-08-12 19:26] steel36 opened #45658 "Revise Playbook and Plan documents based upon feedback insights"
### Primary assignee:  Nicole

## Issue Description
Incorporate the feedback from the synthesized [mural](https://app.mural.co/t/adhocvetsgov9623/m/adhocvetsgov9623/1659381883157/ab44ed163aef3caa66f71b4ce399ec1b6de11713?sender=u4397b715dc3690a417b71483) into alternate versions of the Playbook & Plan

## Tasks
- [x] Draft changes

## Acceptance Criteria
- [x] Changes are incorporated into an altern

[2022-08-12 19:26] steel36 opened #45659 "Make tweaks to documents based upon feedback insights"
### Primary assignee:  Nicole

## Issue Description
Incorporate the feedback from the synthesized mural into alternate versions of the Playbook & Plan

## Tasks
- [x] Draft changes

## Acceptance Criteria
- [x] Changes are incorporated into an alternate version of each document.

[2022-08-12 19:28] cgednalske commented on #45511
Hello @andaleliz! Here are @DanielleThierryUSDSVA's suggestions from our office hours discussion:

([Mural board](https://app.mural.co/t/vsa8243/m/vsa8243/1660164067461/b35d891f276b0de5205b140204ece5c08fa65cfe?sender=u28f508d646c449cc1afe4873))

**1.** It is fine to keep the addition in the **Health care** section for now. Danielle reached out to Mikki as well and they both agreed that we can revi

[2022-08-12 19:33] scottymeyers opened #45660 "AWS access for Scott Meyers"
### COR Name

Eunice Garcia

### Vendor Onboarding Representative Name

Jeff Langworthy

### Your Name

Scott Meyers

### Your Email

scott.meyers@coforma.io

### Team, Role, and Company of the target individual

Benefits, Software Engineer, Coforma

### Product Manager (PM) name and email

Sade Ragsdale, sade@coforma.io

### Product Owner (PO) name and email

Matt Self, matthew.self2@va.gov

###

[2022-08-12 19:35] jonathan-epstein13 commented on #44810
@khandelwal so you want to know where to find the dashboard for 1095-B? In relation to this new tracking or something else entirely?

For the tracking, once the tracking code is merged, we can start to see it in staging or if there is another way to test, let us know.

[2022-08-12 19:40] FHiatt opened #45661 "SOCKS access for [individual]"
### Your Name

Frank Hiatt

### Your Email

Frank.Hiatt@adhocteam.us

### Your Role and Team

Senior Product Manager/Integration Experience Team (IET)

### Product Manager (PM) name and email

Frank Hiatt/Frank.Hiatt@adhocteam.us

### Product Owner (PO) name and email

Thomas.Delrue@va.gov (note he is on PTO until 8-29-2022)

### Access Type Requesting

viewers

### Public SSH Key

ssh-rsa AAAAB3N

[2022-08-12 19:41] FHiatt commented on #45661
Only change is, AdHoc IT requested I create a new SSH key and resubmit my form

[2022-08-12 19:46] #44722 closed

[2022-08-12 19:46] #44592 closed

[2022-08-12 19:47] #45243 closed

[2022-08-12 19:51] briandeconinck opened #45663 "Design Intent - Accessibility Feedback - Public Websites, Income Limits, Income Limits Web App"
## VFS acceptance criteria
- [x] Let Platform know when the **Must** feedback has been incorporated
- [x] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
No major feedback at this stage, just wanted to reiterate what folks said in the meeting:
- Definitely design for mobile and accessibility first! Complex data tables can be a pain f

[2022-08-12 19:57] mmiddaugh commented on #41503
Thank you @chloedotbrown ! I am so excited to kicking the tires on this new dashboard!

[2022-08-12 19:57] #45655 closed

[2022-08-12 20:01] ksk385 commented on #45575
I am now on the VFS roster, can you please help me with this ticket, thanks!

[2022-08-12 20:03] #43534 closed

[2022-08-12 20:08] rmtolmach commented on #45654
/request Erik Pollack

not in confluence
✅ deleted from VFS roster
No SOCKS or AWS access
✅ removed from gh org in https://github.com/department-of-veterans-affairs/github-user-requests/issues/12066
not in pd, dd, or sentry
not a bot user.

[2022-08-12 20:09] tameracorson commented on #44810
@jonathan-epstein13 Hi Jonathan, One of the tickets asked for the board... cant remember which but...  Where do we get a link to the board?

[2022-08-12 20:10] DanSmithSC commented on #44401
![Screen Shot 2022-08-12 at 3.08.45 PM.png](https://images.zenhubusercontent.com/62e91ea65e4933fcf47cc6c0/866ab9cb-ee6d-48b1-8856-2d7ceb1ca66e)

Test Rail Test Run - Covering Required Staging Accessibility Review Tasks and Basic Test Plan/Test Cases.

Should Cover the Required QA Artifacts inside of TestRail:
https://dsvavsp.testrail.io/index.php?/runs/view/3511&group_by=cases:section_id&group_ord

[2022-08-12 20:10] agmurphy opened #45664 "Adding [Delia Akins] to DSVA Slack"
Please add [delia.akins@va.gov] to #va-virtual-agent-msft. She is currently a single-channel guest in VA OIT Devops and I need to change her to multi-channel.

Delia is a Microsoft Project manager that is assisting managing the VA Chatbot teams need for Microsoft resources as well as the Project Manager for the GitHub services team working in the VA.

[2022-08-12 20:13] nicko-amida opened #45665 "[FE] 10-10CG Email encouragement and content updates"
## Description

- This work follows from the [1010CG email encouragement issue](https://github.com/department-of-veterans-affairs/va.gov-team/issues/44238): a short message encouraging users to include an email in their application is being associated with email fields on the 1010CG.
- Additional small content updates detailed below, along with links to mockups
- Any questions: @nicko-amida (desig

[2022-08-12 20:14] nicko-amida opened #45666 "[FE] 10-10CG Email encouragement and content updates"
## Description

- This work follows from the [1010CG email encouragement issue](https://github.com/department-of-veterans-affairs/va.gov-team/issues/44238): a short message encouraging users to include an email in their application is being associated with email fields on the 1010CG.
- Additional small content updates detailed below, along with links to mockups
- Any questions: @nicko-amida (desig

[2022-08-12 20:16] skylerschain commented on #45650
We are hoping to be able to roll these fixes in with the Letters page updates as part of the Decision Letters MVF.

[2022-08-12 20:16] ajakabcin commented on #43277
Looks great! 👍

[2022-08-12 20:18] chloedotbrown commented on #41503
Fantastic! Feel free to reach out or drop by office hours next week if you have any questions. For now, closing the ticket for this phase of work!

[2022-08-12 20:18] #41503 closed

[2022-08-12 20:23] ajakabcin commented on #45450
Thank you again so much @tlei123 for expediting QA on this feature - I think we're good to close now.

[2022-08-12 20:23] #45450 closed

[2022-08-12 20:24] tlei123 commented on #45450
You're welcome, @ajakabcin !  :)

[2022-08-12 20:33] tpharrison commented on #45323
@adamwhitlock1

The backend validation for US-ASCII address characters is in staging.

When entering any character that isn't in the US-ASCII character set, the API will return the following:
[code]

As of now, the page displays the following when the above error is returned:
![image](https://user-images.githubusercontent.com/653787/184439740-e62afd29-8177-41b0-9302-8f29ba310e01.png)

[2022-08-12 20:34] ajakabcin commented on #31302
Agreed these looks good - thank you @pavanhothi !

To @Samara-Strauss's question: I believe when when the user has a claim with recent activity we have a link below the details of the claim for "view details" in addition to a "Manage all your claims and appeals" in the link list on the right. Though I can't find a test user right now with active/recent claims to verify this, I'm just going off of

[2022-08-12 20:35] calquisola commented on #45575
@ksk385 is in the VFS Roster

[2022-08-12 20:37] calquisola commented on #45575
For AWS ACCESS
User: Karan Krishnani
COR: Cecila Lee
VOR: Michael G. Lovejoy
Approval needed: @department-of-veterans-affairs/operations-aws-approvers
AWS Admin Role: no

[2022-08-12 20:38] LEHigley commented on #45664
i am not seeing Delia in the DSVA workspace--should i be inviting her to this workspace as a single guest to va-virtual-agent-msft? OIT Devops is a different workspace.

[2022-08-12 20:38] #45542 closed

[2022-08-12 20:39] #45345 closed

[2022-08-12 20:41] nicko-amida opened #45667 "[FE] 1010EZ submission error messaging"
## Description

[Updated to reflect comments below!]

- The 1010EZ error message is generic, and the component needs to be updated to give users a better path forward in the event of an error.

## Tasks

The [About VA Form 10-10EZ](https://www.va.gov/find-forms/about-form-10-10ez/) page has a link to the PDF download, which the updated error alert includes.

- [ ] Update the error alert for the [s

[2022-08-12 20:45] benbrasso-agile6 commented on #42032
![Pre-check-in user flow (Read-only) for user guide.png](https://images.zenhubusercontent.com/62264cddfdd7546d65710eff/f28dceae-b726-4fd4-b6b0-cc67f869d382)

[2022-08-12 20:50] benbrasso-agile6 commented on #42032
@loripusey I am ready to push the product guide updates for Type of Care & Provider and Telephone Appointments to our Git repo.

How do you want to handle the following: pushing the product guides to Git, creating a ticket for contact center and alerting training team? One thing to note about the contact center is that they've approved the LoROTA changes. But, if we submit these guides to them, al

[2022-08-12 20:51] benbrasso-agile6 commented on #42032
@loripusey did pushing the ABstract branch to main and syncing down updates to Sketch get deleted from the release to production template?

[2022-08-12 20:54] benbrasso-agile6 commented on #40313
@loripusey I would recommend closing this ticket. We can keep track of these updates in the Type of Care & Doctor Name release artifacts ticket - https://app.zenhub.com/workspaces/check-in-experience-61fc23a2cb8a14001132e102/issues/department-of-veterans-affairs/va.gov-team/42032

Just a bit confusing since they're happening at the same time.

Although, up to you.

[2022-08-12 20:54] rmtolmach opened #45668 "Create environment-based Pager Duty alert groups for EKS"
## Description
We have some `@pagerduty-EKS_Cluster...` alerts in [external-secrets.yaml](https://github.com/department-of-veterans-affairs/devops/blob/master/terraform/environments/datadog/catalog/external-secrets.yaml) and [grafana.yaml](https://github.com/department-of-veterans-affairs/devops/blob/master/terraform/environments/datadog/catalog/synthetics/grafana.yaml). We should change the namin

[2022-08-12 21:08] twoangstroms opened #45669 "SOCKS access for [individual]"
### Your Name

Dan Turner

### Your Email

dan.turner@adhocteam.us

### Your Role and Team

Senior Designer 2 at Service Design Team

### Product Manager (PM) name and email

Bryan Ivie

### Product Owner (PO) name and email

bryan.ivie@adhocteam.us

### Access Type Requesting

platform

### Public SSH Key

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDYbjciffRX4ES5CgZBirbN8/7tfRuDvtRtVDaToupUIjWXoNJAfKt

[2022-08-12 21:09] cgednalske commented on #45257
@SKasimow here are the mockups for the Extension 6-digit maximum ([desktop](https://www.sketch.com/s/59857eb5-d9f9-4145-99d3-d9a1de2d0655/a/v83zmGQ) & [mobile](https://www.sketch.com/s/59857eb5-d9f9-4145-99d3-d9a1de2d0655/a/52gvqGx)). Noting that accessibility confirmed that adding text next to the label is the ideal, no-magic solution for letting the user know there is a limit before they reach t

[2022-08-12 21:13] wesrowe commented on #45649
@fmccaf1, the action items here are mostly yours. There are no "musts" so I checked that box already. Are you planning to create a user journey diagram with swim lanes?

I think we can close this ticket once you've provided that clarification.

[2022-08-12 21:21] #45001 closed

[2022-08-12 21:24] tameracorson opened #45670 "Request access to Google Analytics and/or Domo [ munish Sikka, Shashank Khandelwal, and Teagan Stephenson]"
# Request Google Analytics and/or Domo access

## What this form is for
Use this template to request access to Google Analytics and/or Domo. Please complete steps 1 & 2 below.

## 1. Access Requirements
Please check the analytics tool(s) you need access to:
- [x] Google Analytics
- [x] Domo
- [ ] (Platform Teams only) BigQuery

## 2. User Email Address to Receive Access
**Due to privacy concerns,

[2022-08-12 21:32] starlow00 commented on #45091
Hi @ajakabcin. My review draft is attached. Once you send me back a copy for VEO, I'll make sure the page numbering in the TOC and Table of Figures match up before sending on.
[MyVA_ProductGuide_V4_071822_srt.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/9329962/MyVA_ProductGuide_V4_071822_srt.docx)

[2022-08-12 21:34] aliyahblackmore commented on #45423
Update 8/12: Started on this today, almost done with the "Vacunas contra COVID-19 en el VA" page!

[2022-08-12 21:38] khandelwal commented on #44810
@jonathan-epstein13 Yes! I want to know where to find the dashboard for 1095-B. We want to track all these things

- Number of users who find the page through online search (like Google)
- Number of users who search for the form on VA.gov
- Track the navigation from entering VA.gov to getting to the 1095-B page
- Page views
- % of users who land on the form and download it
- Number (or percentage)

[2022-08-12 21:48] cgednalske commented on #44083
@SKasimow and @Samara-Strauss -- Confirming that we can keep Preferred name hint text as is and do not need to add in another dropdown - for a few reasons.

**Accessibility:**
I resurfaced an older conversation with Josh about an earlier iteration that may have included dropdowns in all fields on the page. Here is his response advising us to refrain from using more than necessary due to accessibil

[2022-08-12 21:59] naomimarcussen commented on #41622
Platform office hours currently live here on the [Platform Meeting page](https://vfs.atlassian.net/wiki/spaces/AP/pages/2141519911/Platform+Meetings#Platform-Team-Office-Hours). We may want to break this out into it's own page.

[2022-08-12 22:20] jimuhh commented on #44196
Findings [are here.](https://vfs.atlassian.net/l/cp/QGKJt5X1)

[2022-08-12 22:27] #44196 closed

[2022-08-12 22:29] ndsprinkle commented on #45416
All together, I spent about 2.5 days getting everything working locally for the CUI.

While the set up process on its own is relatively lengthy and complicated, my main slow down was being unable to connect the front end with the back end. This is an issue when attempting to authenticate locally. Without being able to authenticate locally, you pretty much can't use the CUI in any way.

This issue

[2022-08-12 22:42] bkjohnson commented on #45641
Some more `:two-cents:` - the way [this code is hiding the alert component by not rendering it](https://github.com/department-of-veterans-affairs/vets-website/blob/57658f5846ee378309cc774133ef7e1aabd41db2/src/applications/static-pages/letters-mobile-cta/components/App/index.js#L49-L57) might not be great for a11y reasons, so I'm eager to get your input Josh. As you can see from the link above, we

[2022-08-12 22:44] tlei123 commented on #45288
@ldelacosta , AC's successfully validated in Staging.

[2022-08-13 00:05] #42267 closed

[2022-08-13 00:06] #36252 closed

[2022-08-13 00:14] #40475 closed

[2022-08-13 00:23] jwoodman5 opened #45671 "Medallia Data Displays on New Dashboard"
## Issue Description
_To add display Medallia data on the new performance dashboard, we need to figure out how to best extract, transform, and load that data. We will test this on a mock dashboard._

---
## Tasks
- [ ] _Explore data from Medallia_
- [ ] _Write code for the ETL_
- [ ] _Get data ready for display_

## Acceptance Criteria
- [ ] _Medallia data is ready to be displayed in a mock perfor

[2022-08-13 00:51] dsinla opened #45672 "VBA Facility site modernization from Sitewide Facilities"
## What does your team need support for? Check all that apply.
- [x] Launching one or more new unauthenticated (static) VA.gov pages
- [ ] Making revisions to one or more existing unauthenticated (static) VA.gov page
- [ ] Launching a new online form, app, or tool on VA.gov
- [ ] Making revisions to an existing online form, app, or tool on VA.gov
- [x] Something else (please add details in the nex

[2022-08-13 00:52] ldelacosta commented on #45288
This has been validated. Closing out the ticket.

[2022-08-13 00:52] #45288 closed

[2022-08-13 07:16] rmessina1010 opened #45673 "Convert platform/site-wide to yarn workspace - handoff prep"
## Issue Description
Set up `platform/site-wide` as a yarn workspace, in preparation for handoff.

## Tasks
 - [ ] Create and set up `package.json` file
 - [ ] repo root `package.json` file (register in `workspace` and update`nohoist` fields)
 - [ ] Create and populate `exportsFile.js`
 - [ ] Adjust `babel.config.json`  as needed
 - [ ] Adjust webpack as needed
 - [ ] Test `yarn install` (check  `

[2022-08-13 07:20] rmessina1010 opened #45674 "Convert platform/testing to yarn workspace - handoff prep"
## Issue Description
Set up `platform/testing` as a yarn workspace, in preparation for handoff.

## Tasks
 - [x] Create and set up `package.json` file
 - [x] repo root `package.json` file (register in `workspace` and update`nohoist` fields)
 - [x] Create and populate `exportsFile.js`
 - [x] Adjust `babel.config.json`  as needed
 - [x] Adjust webpack as needed
 - [x] Test `yarn install` (check  `no

[2022-08-13 07:25] rmessina1010 opened #45675 "Convert platform/user to yarn workspace - handoff prep"
## Issue Description
Set up `platform/user ` as a yarn workspace, in preparation for handoff.

## Tasks
 - [x] Create and set up `package.json` file
 - [x] repo root `package.json` file (register in `workspace` and update`nohoist` fields)
 - [x] Create and populate `exportsFile.js`
 - [x] Adjust `babel.config.json`  as needed
 - [x] Adjust webpack as needed
 - [x] Test `yarn install` (check  `node

[2022-08-13 07:29] #45102 closed

[2022-08-13 07:29] rmessina1010 commented on #45102
(duplicate-closed- see:https://app.zenhub.com/workspaces/vsp---release-tools-fe-5fc9325744944e0015ed1861/issues/department-of-veterans-affairs/va.gov-team/45103)

[2022-08-13 07:30] rmessina1010 commented on #45103
Completed.

[2022-08-13 07:30] #45103 closed

[2022-08-13 07:31] rmessina1010 commented on #45215
Completed. Closing.

[2022-08-13 07:31] #45215 closed

[2022-08-13 20:59] tameracorson commented on #45501
Document for iterating is here: https://mostudio.app.box.com/file/996252882382 VA-PO socialized with draft 8/12/22 via DSVA slack

[2022-08-13 21:03] tameracorson commented on #45285
8/12 after Business owner brief and review of page designs, it was determined that simple feature toggling the widget would confuse Veterans based on title of page and left navigation on static Drupal page.   Designers were asked to design content for toggle and QA designs as built @tmccue @CarlDickerson .   Additionally, DEV was requested to iterate on toggle with new design/content as prioritize

[2022-08-13 21:05] tameracorson commented on #45285
Designs are here https://themostudio.slack.com/archives/C02TBGUHJT1/p1660341670782809; @tmccue or @CarlDickerson If you could drop direct Sketch link before end of sprint here.

[2022-08-15 04:27] rbeckwith-oddball commented on #43452
I was able to get the lighthouse audit service to run as an express app, but the lighthouse plugin itself fails to recognize the `baseUrl` setting.![lighthouse_update1.png](https://images.zenhubusercontent.com/61265d854c842ee6052dd62e/a55f5bfa-f35a-4f57-a6c3-855550573d2b)
- I ran the program through `strace` and verified that the `lighthouse.baseUrl` setting is present at runtime, and should be ac

[2022-08-15 04:27] AGarcia-Clarity opened #45676 "Verify page does not detect if user is verified"
## Description
The `/verify` page does not currently detect if a user is already verified within the User model.  A user would have to navigate directly the `/verify` page in order to complete the process.

## Tasks
- [x] Create additional checks if a `user.profile.verified` evaluates to true and if they are redirect them
- [x] Verify all instances of links to the `/verify` page

## Acceptance Cri

[2022-08-15 05:45] hncj811-va opened #45677 "Platform Orientation Template Hakeem Jones"
## Welcome and Introduction
Welcome to the Veteran's Administration (VA) Veteran Facing Services (VFS) team!
As a new VFS team member, you will be working in the web ecosystem we call the VA.gov Platform (or "**The Platform,**" for short).  The tasks on this list are designed to get you up to speed on the role of Platform, making it easier for you to do your job.

Because the VA is a huge organiza

[2022-08-15 11:58] jonathan-epstein13 commented on #44810
@khandelwal I am going to relay this over to the team and see what needs to get done in terms of the metrics you are looking for and the dashboard.
cc: @michelle-dooley

[2022-08-15 12:08] jonathan-epstein13 commented on #45670
Gave GA and Domo(changed from participant -> member) access to Teagan.
Waiting on google account creation and linking to give access for Munish, and Shashank. 8/15.22.

[2022-08-15 12:13] jonathan-epstein13 commented on #45677
Added necessary information for the section _Share your info with Platform_. Added to VFS Team Roster. 8/15/22.

[2022-08-15 12:17] jonathan-epstein13 commented on #45651
@skylerschain is this request to see this specific event is tracking? or is it something else in GA specifically you are looking to see? We might need some more information to see what needs to be done.
I will reach out to the team.
cc: @michelle-dooley

[2022-08-15 12:25] jonathan-epstein13 commented on #43322
@michelle-dooley might need some clarification on next steps with the `api_call `taxonomy sent over.

[2022-08-15 12:28] loripusey commented on #44239
Yes, thank you I would close the ticket.

[2022-08-15 12:40] loripusey commented on #40313
ok, closing.

[2022-08-15 12:40] #40313 closed

[2022-08-15 12:43] #38258 closed

[2022-08-15 12:48] timwright12 commented on #30478
**Active working branch:**

https://github.com/department-of-veterans-affairs/vets-website/tree/feature/30478-activate-codespaces-in-vets-website

**Current status:**

vets-website by itself is running in a CodeSpace, but I had to max out the memory to complete the setup process. I'm working on content-build right now (TBD on whether or not we'll be able to get enough memory). Just as before, they

[2022-08-15 12:51] djfredvs opened #45678 "08/18/22 9:30 AM VEText Pre-Check-In Configuration Training"
Booked by Kesha Clark

[2022-08-15 12:51] taylorkaren commented on #35723
The new Review Page pattern to be implemented in the VA Forms System Core (VAFSC) will not use the accordion pattern with inline editing on the Review Page itself. See the [Round Two Review Page Research Findings Confluence page](https://vfs.atlassian.net/wiki/spaces/FLT/pages/2309324815/Round+Two+Review+Page+Research+Findings) for a link to a slide deck with screen designs for the new pattern.

T

[2022-08-15 12:53] djfredvs opened #45679 "08/17/22 11:30 AM VEText Open Slot Management Training"
Booked by Jen Curtis, Kesha Clark
This training has been cancelled due to the booking parties did not attend.

[2022-08-15 13:20] steel36 commented on #45658
Early attempts at revisions:

Playbook:
https://vfs.atlassian.net/wiki/spaces/SDT/pages/2317647873/Change+Communication+Playbook+-+post+Demo+feedback

Plan:
https://vfs.atlassian.net/wiki/spaces/SDT/pages/2317647898/Change+Communication+Plan+-+post+demo+feedback

[2022-08-15 13:23] pjhill opened #45680 "Publish a "Phonebook" Version of VFS Product Directory to Confluence"

[2022-08-15 13:38] #45557 closed

[2022-08-15 13:38] #44239 closed

[2022-08-15 13:52] ajakabcin opened #45681 "[BE] Payment info MVP: investigate 403 error"

[2022-08-15 13:54] calquisola commented on #45669
SOCKS access granted. Please continue with [the guide](https://depo-platform-documentation.scrollhelp.site/getting-started/Internal-tools-access-via-SOCKS-proxy.1821081710.html) to establish a connection to SOCKS proxy. If you run into any issues, please feel free to reach out in the [#vfs-platform-support](https://dsva.slack.com/archives/CBU0KDSB1) channel using the [support request workflow](htt

[2022-08-15 13:54] #45669 closed

[2022-08-15 13:54] kristenmcconnell opened #45682 "[Feature Request [Spanish]: Memorable Date Component Translation"
### Describe the problem

As the check-in team was communicating with the State Department about translations of the memorable date component, they let us know that...

The "Required" message in Spanish for the new Memorable Date Design System component needs to be changed to "Requerida" (i.e. feminine since "Fecha" is feminine)."

Other portions of the DS memorable date component are not translat

[2022-08-15 13:57] rbeckwith-oddball commented on #43452
@ericvoshall - the git commit check informed me that the yarn dependency wasn't properly linked in the backend. `yarn add...` seems to have worked. The code is committed as [rb/qas/backstage-lighthouse-plugin-express](https://github.com/department-of-veterans-affairs/platform-console-ui/tree/rb/qas/backstage-lighthouse-plugin-express "Lighthouse Express App") if you want to look over it anyhow.

[2022-08-15 13:59] rsmithadhoc commented on #43989
- Rules updated.
- Ran unit, E2E, and daily a11y scan without issues.
- Want to run a couple more tests to ensure new rules are being picked up.

[2022-08-15 14:00] rmtolmach opened #45683 "[Alerting] Evaluate ApplicationErrorRateCritical"
## Description
Determine if the `ApplicationErrorRateCritical` alert should be notifying the DevOps Critical group. Oftentimes, the alert is not actionable for the Platform Infrastructure team. This alert was added in 2017 and could use revisiting. Can we break it up into a few different alerts so it's not so all-encompassing? Can we silence the alert during non-business hours? Can we change the p

[2022-08-15 14:08] #45323 closed

[2022-08-15 14:08] katherine-fung commented on #44006
@saderagsdale that makes sense, and we definitely want to make sure whatever we suggest helps the process go smoothly for users. @saderagsdale @thehastingsp please let me know what you discuss or find out!

[2022-08-15 14:16] jenniemc commented on #45244
This is a duplicate to #45245 . Closing ticket.

[2022-08-15 14:16] #45244 closed

[2022-08-15 14:17] taylorkaren commented on #12808
For the new VA Forms System Core (VAFSC) package, engineers will be responsible for constructing some of their own code for the review page [initial PR](https://app.zenhub.com/workspaces/forms-library---platform-spike-team-61b0ae1f2cd3c30014e8a5b0/issues/department-of-veterans-affairs/va-forms-system-core/524). It will no longer be a black box, but it will still be "opinionated" in how things are

[2022-08-15 14:20] khandelwal commented on #45555
Support request has been opened to look at permissions on the S3 bucket.

[2022-08-15 14:21] Samara-Strauss commented on #31302
@ajakabcin thanks for this. This is super confusing, and we shouldn't have this kind of logic. One consistent line of copy for that link is just fine. We should make a note to clean that up in Angela's audit.

[2022-08-15 14:22] ericasauv09 opened #45684 "[BE] Payment Info MVP: Investigate 403 error"
## Background
 As discussed in [This Slack Thread](https://dsva.slack.com/archives/C909ZG2BB/p1660332734117669) Taylor investigated why users are seeing a 403 error on My VA under the Payments and Debts section in Production. This is happening for users who have never had payments or debts with the VA and therefore should not see this section or error at all. During Taylor's investigation he asked

[2022-08-15 14:27] calquisola commented on #45661
Hi Frank,

Your ssh key was updated.

[2022-08-15 14:27] #45661 closed

[2022-08-15 14:29] ajakabcin commented on #45681
duplicate - closing

[2022-08-15 14:29] #45681 closed

[2022-08-15 14:29] RLHecht opened #45685 "Vet Centers pages in Districts, 1, 2, 3, and 4 to review"
## Issue Description
This ticket is for the content team's work in reviewing Vet Center pages before we send to Jessica's team for their final sign off. We should be prioritizing centers in Districts 1 and 4, followed by 2 and then 3. Some of these pages may have already been looked at once so we need to confirm that they've made the edits we've asked them to.

### District 1
- [x] Bloomfield, NJ

[2022-08-15 14:31] taylorkaren commented on #34828
Forms Library Team is working on implementing a new version of the array field in the VA Forms System Core (VAFSC) package [ticket](https://app.zenhub.com/workspaces/forms-library---platform-spike-team-61b0ae1f2cd3c30014e8a5b0/issues/department-of-veterans-affairs/va-forms-system-core/238). Will be looking at updates for Array field display on the Review Page as part of this ticket or a follow on

[2022-08-15 14:31] skylerschain commented on #45651
Hey @jonathan-epstein13 - thanks for helping out. I'm not sure I understand the question, so let me know if I'm missing something. I am looking to see specifically if we have data on the number of claims in the CST (Claims Status Tool) for the average VA.gov user. I don't know if this is currently being tracked.

[2022-08-15 14:33] #45433 closed

[2022-08-15 14:35] joshkimux commented on #45641
@bkjohnson so glad you pointed this out! It definitely explains alot of the pain points we've had in the past where we've had to set up timeouts for `aria-live` to work 😓

Ideally, we'd want to follow `aria-live` documentation.

For alerts that dynamically appear on the page after being prompted by a button or selection, we'd probably want those alert's containers to exist ahead of time on page lo

[2022-08-15 14:36] vbellissimo opened #45686 "Present proposed Console content strategy to PO"
**Acceptance Criteria:**

- [x]  Schedule pre go/no-go with Ray Wang for feedback on plan

- Product outline
- Workflow
- Intake form
- Style guide ideas
- Thoughts on communication plan? RTT?

- [x]  Document any additional feedback from meeting with leadership
- [x]  Create new Zen Hub tasks as needed, based on discovery and research work

[2022-08-15 14:38] davidakennedy commented on #316
@humancompanion-usds Nothing to add. Everything looks good, and I'm hoping this helps teams!

[2022-08-15 14:42] taylorkaren commented on #11594
With the current Forms Library being sunsetted, addressing this issue will not be prioritized. The focus of the Forms Library Team's work is on building out a better review page pattern in the new VA Forms System Core (VAFSC) package.

Addressing this specific issue will be part of the analysis work to be done on submitting form data to vets-api. [Analysis ticket for this work[(https://app.zenhub.

[2022-08-15 14:44] #45429 closed

[2022-08-15 14:48] joshkimux commented on #45635
@skylerschain for your awareness!

[2022-08-15 14:51] vbellissimo opened #45687 "Present proposed Team health metrics to PO"

[2022-08-15 14:52] joshkimux commented on #316
Seeing a 3 year long ticket finally get closed is a wonderful thing. Huge thank you to everyone who worked on this, y'all are awesome 🥇

[2022-08-15 14:56] kjduensing commented on #45153
Updated the description to say "after user added to the org".

[2022-08-15 14:57] bsuraj123 commented on #45382
@pavanhothi any updates on this?

[2022-08-15 14:59] vsaleem opened #45688 "Platform Orientation Template [Victoria Saleem]"
## Welcome and Introduction
Welcome to the Veteran's Administration (VA) Veteran Facing Services (VFS) team!
As a new VFS team member, you will be working in the web ecosystem we call the VA.gov Platform (or "**The Platform,**" for short).  The tasks on this list are designed to get you up to speed on the role of Platform, making it easier for you to do your job.

Because the VA is a huge organiza

[2022-08-15 15:00] megzehn commented on #43352
Update: nodeId=855 is now live!

[2022-08-15 15:00] pavanhothi commented on #45382
@bsuraj123 my team and I have completed our part, once the other Platform team completes on their end, they will close the ticket out.

[2022-08-15 15:04] vbellissimo opened #45689 "Move Platform website data and analytics to shared space in Confluence"
**User story:**

As a Platform team,
I want to see the most updated and least updated pages on the Platform website,
To better understand which content is being engaged with vs at risk of becoming old content and stale.

**Acceptance criteria:**

- [x] Create new page called "Platform Website Data and Analytics" under the "Platform Website Guidelines" section in Confluence: https://vfs.atlassian.n

[2022-08-15 15:04] #45512 closed

[2022-08-15 15:05] adamwhitlock1 commented on #45512
We built out the alert, validated and also used it this weekend. It is now pulled down since maintenance on the system is complete.

[2022-08-15 15:05] #45488 closed

[2022-08-15 15:05] cmaeng opened #45690 "New Slack group request "@cms-qa-engineers""
# Description

**new slack group request**: @cms-qa-engineers
- to include clarence.maeng@agile6.com, and nathan.douglas@agile6.com
- default channel = #sitewide-cms

We aim to complete slack requests within 24hrs.

## Sample Descriptions
- Please add [_insert email_] as a single-channel guest to [_channel name_].
- Please add [_insert email_] as a multi-channel guest to these channels: [_channel

[2022-08-15 15:12] Samara-Strauss commented on #44083
Sounds good to me! Thanks for being so thorough!

[2022-08-15 15:19] mleclerc00 commented on #45660
User is listed in vfs team roster

For AWS ACCESS
User: Scott Meyers
COR: Eunice Garcia
VOR: Jeff Langworthy
Approval needed: @department-of-veterans-affairs/operations-aws-approvers
AWS Admin Role: no

[2022-08-15 15:21] kylesoskin opened #45691 "Platform Orientation Template [Kyle Soskin]"
## Welcome and Introduction
Welcome to the Veteran's Administration (VA) Veteran Facing Services (VFS) team!
As a new VFS team member, you will be working in the web ecosystem we call the VA.gov Platform (or "**The Platform,**" for short).  The tasks on this list are designed to get you up to speed on the role of Platform, making it easier for you to do your job.

Because the VA is a huge organiza

[2022-08-15 15:23] adamwhitlock1 commented on #45488
Feature was put up, and worked as expected. We also complete the maintenance, so it has also been turned off as it is no longer needed. We will keep the component though so that it can be used in future

[2022-08-15 15:25] briandeconinck commented on #44401
@tameracorson Checking in ahead of the Staging Review this week -- I see the [preview link you shared](http://preview-prod.vfs.va.gov/preview?nodeId=44346), are there user credentials you're able to provide that will work with the preview link? I know testing authenticated views in Drupal previews has been an issue in the past, hoping you've figured it out!

[2022-08-15 15:27] rsmithadhoc commented on #43989
- [PR](https://github.com/department-of-veterans-affairs/content-build/pull/1257) out for review.

[2022-08-15 15:30] rsmithadhoc opened #45692 "Update vets-website testing rules to WCAG 2.2"

[2022-08-15 15:30] rsmithadhoc opened #45693 "Update content-build testing rules to WCAG 2.2"

[2022-08-15 15:35] #45222 closed

[2022-08-15 15:35] saderagsdale commented on #45432
@scottymeyers this should be moved to in progress, right?

[2022-08-15 15:38] mleclerc00 commented on #45656
No confluence
Not in VFS roster
No socks
No aws
Removed from org -> https://github.com/department-of-veterans-affairs/github-user-requests/issues/12072
No sentry
No datadog
No pagerduty
No bots

pinging @department-of-veterans-affairs/platform-analytics-insights-team for GA/DOMO access

[2022-08-15 15:39] #45649 closed

[2022-08-15 15:40] mleclerc00 commented on #45657
/request Cody Reinold

[2022-08-15 15:42] jonathan-epstein13 commented on #45651
@skylerschain can you send over the exact URL for the Claims Status Tool (in regards to number of claims in the CST (Claims Status Tool) for the average VA.gov user.) An example would be https://www.va.gov/claim-or-appeal-status/  and I can check what is being tracked there. I see that tracking the number of claims per user isn't realistic to check in the staging, so if I can see the URL tracking

[2022-08-15 15:44] Cmjones233 commented on #45472
community care dash fixed

[2022-08-15 15:44] #45472 closed

[2022-08-15 15:45] jonathan-epstein13 commented on #45656
User access for both Google Analytics and Domo have been removed.

[2022-08-15 15:45] andaleliz commented on #45074
No problem @Samara-Strauss not your fault! I know we want to avoid duplicating efforts.

I mentioned Tamara and Tracey in [this slack thread](https://dsva.slack.com/archives/C02TUH5U3HS/p1660578125170849); will post updates here.

[2022-08-15 15:46] mleclerc00 commented on #45657
No confluence
Not on VFS roster
No socks
No aws
Removed from org -> https://github.com/department-of-veterans-affairs/github-user-requests/issues/12073
No pagerduty
No datadog
Removed from sentry
No bots

pinging @department-of-veterans-affairs/platform-analytics-insights-team for GA/DOMO

[2022-08-15 15:46] jonathan-epstein13 commented on #45657
User access for both Google Analytics and Domo have been removed.

[2022-08-15 15:47] #45656 closed

[2022-08-15 15:47] #45657 closed

[2022-08-15 15:49] rmtolmach commented on #45654
Erik has been deactivated from Slack. Closing.
<img width="433" alt="image" src="https://user-images.githubusercontent.com/10993987/184669082-0f1357d1-1fd1-4d38-9d96-70b00793118c.png">

[2022-08-15 15:49] #45654 closed

[2022-08-15 15:50] vbahinwillit commented on #45130
The type of error message displayed is dependent on how the clinic is configured. Clinic configuration is done thru VATS. A clinic can be configured to support both direct scheduling and appointment requests. This implies that there are error messages for both workflows. This spike address the request workflow only (selecting 'no I need another clinic drops the user into the request workflow).

Q1

[2022-08-15 15:55] joshkimux commented on #45026
@saderagsdale sorry for the late reply, this looks wonderful! Some notes:

The form field type is the [number input (VA design system)](https://design.va.gov/components/form/number-input) I believe, which is desired (@jsokohl to confirm).
- We could use the `min` and `max` attribute to trigger validation if users enter a value below 0 (or whatever is the typical range for VA loan numbers).
- We sh

[2022-08-15 15:57] andaleliz commented on #31408
Hi, it looks like the buttons are still swapped. The buttons in the screenshot don't follow our normal pattern (described in the issue description).  Was this issue _just_ for copy updates? If so please feel free to close it again, but if not, we need to update the classes on the buttons too.

[2022-08-15 15:58] jonathan-epstein13 commented on #45670
Gave GA and Domo(changed from participant -> member) access to Shashank.
Gave GA and Domo access to Munish.

Please confirm. Thank you!
cc: @tameracorson

[2022-08-15 15:58] andaleliz commented on #31411
FYI this is another one where the buttons don't match the rest of VA.gov and need to be updated (see description)

[2022-08-15 15:59] ytsaoca commented on #44542
Updated the page.

[2022-08-15 15:59] #44542 closed

[2022-08-15 16:00] vbellissimo opened #45694 "Support: Mon-Thur Deploy (S8)"
**User story:**

As a Platform team member who just contributed to the Platform website,
I need my content published,
so that I can share my content updates with the intended audience.

As a content team,
we need to review any new content changes made on the platform,
so that we can deploy every Tuesday and Thursday of the week.

**Acceptance criteria:**

Someone from our team will use Scroll View

[2022-08-15 16:04] vbellissimo opened #45695 "Support: Monitor & Triage Support Tickets (S8)"
**Acceptance criteria:**

- View the intake board for new tickets submitted
- If the issue is related to another team, triage as described on instructions below.
- If the issue is related to our team, assign to product manager and we will review this issue as a team during post-stand-up.

**Support intake boards:**

https://github.com/department-of-veterans-affairs/va.gov-team/projects/16
https://

[2022-08-15 16:05] vbellissimo opened #45696 "Support: Reply to Slack inquiries (S8)"
**Acceptance criteria:**

- Reply to any new Slack inquiries as they come. Acknowledge and troubleshoot as needed.

**Data tracking info:**
https://vfs.atlassian.net/wiki/spaces/CIT/pages/2282979860/Content+Support+Data

[2022-08-15 16:09] vickilinscombe-coleman opened #45697 "Adding Vicki Linscombe-Coleman to DSVA Slack"
# Description

**new user requests**: please verify that the user does not already exist in dsva.slack.com (it may be the account exists, but is not in a particular channel)

<describe the request>

Are you requesting to add an individual as a:

- Full member
- Single guest
- Multi-channel
- Switching from single-channel to multi-channel?
- What channel(s) do they need to be added to?
- dsva.slack

[2022-08-15 16:11] jsokohl commented on #45026
We should allow for dashes (hyphens, ok). Ideally the app will just strip those items out if not needed. I strongly suggest not putting hint text in, either -- let's let the software comply with the user, rather than the other way around.

[2022-08-15 16:14] michelle-dooley commented on #44808
1010EZ needs to be updated based on [these funnel steps](https://docs.google.com/spreadsheets/d/14Jxyh7oTS94eClXWbwhDMp_M5EhrkJEcoHt0wpzA1qI/edit#gid=0)

[2022-08-15 16:18] twoangstroms commented on #43532
@steel36 Do we have updated dates for ToT and Demo we could put in this ticket?

[2022-08-15 16:19] LucianaAlexanderMorais opened #45698 "Adding [Kate Buker] to DSVA Slack"
# Description

**new user requests**: please verify that the user does not already exist in dsva.slack.com (it may be the account exists, but is not in a particular channel)

Verified - no account
<describe the request>

Are you requesting to add an individual as a:

- Full member
- Single guest
- Multi-channel
- Switching from single-channel to multi-channel?
- What channel(s) do they need to be

[2022-08-15 16:25] npeterson54 opened #45699 "Testing ClamAV via File Upload"
## Description
ClamAV was extracted to its own container and we need to test this new functionality

## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_

## How to configure this issue
- [x] _Attach a Milestone_
- [x] _Story points_
- [ ] _Sprint assigned if pulling into sprint_
- [x] _Epi

[2022-08-15 16:26] CherylEvans commented on #43020
@claytonzook Hey there.  Wanted to complete the ticket, but need to confer with Chase on the new tickets they need to be created first.  Once he and I talk about this tomorrow, and create the associated tickets, it will be ready for a final peer review.  Thank you for all of your guidance on this issue, Clayton.  As always, it is very much appreciated!!

[2022-08-15 16:26] npeterson54 opened #45700 "Convert over to using Helm Charts instead of the k8's manifest."
## Description
_What details are necessary for understanding the specific work or request tracked by this issue?_

## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_

## How to configure this issue
- [x] _Attach a Milestone_
- [ ] _Story points_
- [ ] _Sprint assigned if pulling into spri

[2022-08-15 16:33] joshkimux commented on #45026
Awesome! A couple more clarifying questions (just in case):
- is the LIN the same as the loan number we're addressing in this ticket? @jsokohl
- I _think_ what you're saying with `let's let the software comply with the user, rather than the other way around` is that we shouldn't rely on hint text to get the user to have a perfect input on their first try; instead, we should flexibly accept dashes

[2022-08-15 16:38] laineymajor commented on #45300
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VSP---Release-Tools-FE-5fc9325744944e0015ed1861/issues/department-of-veterans-affairs/va.gov-team/45300?planning-poker) with ZenHub @jhonnyoddball @ndsprinkle

[2022-08-15 16:45] #45274 closed

[2022-08-15 16:46] denisecoveyduc commented on #42884
Accidental duplicate of #42882

[2022-08-15 16:46] #42884 closed

[2022-08-15 16:46] michelle-dooley commented on #44808
1010CG needs to be updated based on [these funnel steps](https://docs.google.com/spreadsheets/d/1TrqoUUE9YqhYZb6pR2W6UoLg_H_Lbi-UuxNN5MI-vZ0/edit#gid=649068577)  - see yellow highlights

[2022-08-15 16:48] SKasimow commented on #44712
Received approval...closing

[2022-08-15 16:48] #44712 closed

[2022-08-15 16:50] briandeconinck commented on #43899
New team guidance is live: [Managing YAML GitHub Issue Forms](https://vfs.atlassian.net/wiki/spaces/PPST/pages/2307752086/Managing+YAML+GitHub+Issue+Forms). Closing!

[2022-08-15 16:50] #43899 closed

[2022-08-15 16:50] tameracorson commented on #44401
@briandeconinck Great question and think you for starting our review.  According to our meeting w/ Shira, Drupal is an ongoing issue that has not been resolved.   I'm including my lead tech @khandelwal and developer @stephte and they may be able to help you.

[2022-08-15 16:52] denisecoveyduc commented on #43302
The debt resolution team has resolved all staging review feedback for the Combined Debt Portal

[2022-08-15 16:52] #43302 closed

[2022-08-15 16:53] #39294 closed

[2022-08-15 16:53] #36306 closed

[2022-08-15 16:54] jonathan-epstein13 commented on #45688
Added necessary information to the section _Share your info with Platform_. Added to VFS Team Roster.

[2022-08-15 16:54] zach-park commented on #39390
@loripusey PCI/CI wireframes are validated and found one wireframe that was showing the time zone incorrectly in the in-person flows (note: it isn't shown in the collection) which is updated now.
Collection links:
[Latest CI collection](https://share.goabstract.com/4f416207-0fd1-4b05-8ba5-21b6e688e75a): **Time zone added to an In-person wireframe**
[Latest PCI collection](https://share.goabstract.

[2022-08-15 16:57] denisecoveyduc commented on #42301
@tlei123 Just wanted to confirm, I believe we are able to close this issue now?

[2022-08-15 16:57] laineymajor commented on #45416
Thanks Nick!

[2022-08-15 17:00] rsmithadhoc commented on #43989
Merged in these changes.

[2022-08-15 17:00] sortizsh commented on #44777
please consult with @jerekshoe  on this

[2022-08-15 17:00] andaleliz commented on #45511
Thanks to both of you! This is all very clear; I'll update the mock-ups accordingly.

@DanielleThierryUSDSVA please let me know if you have any updates to the alert.

[2022-08-15 17:01] brianseek opened #45701 "Analytics Implementation or QA Support for [Check-in Experience - Language Toggle]"
# Google Analytics Implementation or QA Request

## What this form is for

<details>
<summary>More Information</summary>
<div>
    <br>
<p>Use this template to request Google Analytics implementation or QA for your product. Please fill out all brackets.</p>

</div>
</details>

## Description
### Required
- **Is this request for **Google Analytics implementation** or **QA**?**

     - [x] Google An

[2022-08-15 17:02] brianseek commented on #45230
Opened issue with analytics team for events: https://github.com/department-of-veterans-affairs/va.gov-team/issues/45701

[2022-08-15 17:12] sortizsh commented on #21921
relates to https://github.com/department-of-veterans-affairs/va.gov-team/issues/44670

[2022-08-15 17:15] bkjohnson commented on #39607
And [another example](https://github.com/department-of-veterans-affairs/vets-website/pull/21926#discussion_r945960467).

[2022-08-15 17:17] jonathan-epstein13 commented on #45691
Added the necessary information to section _Share your info with Platform_. Add to VFS Roster.

[2022-08-15 17:20] briandeconinck commented on #44401
@tameracorson Okay, thank you! cc @allison0034 @chaseakirby for awareness.

If it's not possible to do a hands-on test with the authenticated view, could you provide a link to the React component in GitHub? A code review isn't as good as live testing with assistive technology, but since the product is pretty straightforward I think it should probably be fine for accessibility testing.

[2022-08-15 17:22] allison0034 commented on #44401
Thank you! @tameracorson  Design and content can test with screen shots too if that helps.

[2022-08-15 17:27] #44541 closed

[2022-08-15 17:30] DanielleThierryUSDSVA commented on #43352
Hi @megzehn! Could you review the new alert on the radiation page?
http://preview-prod.vfs.va.gov/preview?nodeId=886. This is the first step in updating this page. Thank you!

[2022-08-15 17:37] khandelwal commented on #44401
Yes, we can provide a link to the React component in Github. As well as screenshots, video walkthrough and clickable prototype. We're not excited about not being able to test either, so happy to support any efforts to check!

[2022-08-15 17:40] SKasimow commented on #43388
Hi @tlei123 - we received approvals for updated UI and content changes which are now reflected in Use Cases.
As soon as I have an eta for when the changes will be in staging, I'll let you know (hoping it will happen this week).

[2022-08-15 17:42] dsinla commented on #45628
Currently scheduled for Thursday Aug 25, 2022 ⋅ 10:30am – 11am (Pacific Time - Los Angeles)
@dsinla will request to move earlier - ideally 8/17, 8/18, 8/19

[2022-08-15 17:45] khandelwal commented on #44401
@briandeconinck Is this what you need: https://github.com/department-of-veterans-affairs/vets-website/tree/main/src/applications/static-pages/download-1095b

Do you also need the link to where the data loading scripts etc are (in the vets-api repo)?

[2022-08-15 17:47] briandeconinck commented on #44467
@claytonzook This is ready for peer review. Two quick notes:
- Rather than creating three draft pages for the three touchpoints, I've just created one page containing the three sections being edited for this issue. That seemed easier/tidier to me.
- I've removed mentions of analytics, who don't participate in these touchpoints and have their own touchpoint. I'm assuming they were left over from pr

[2022-08-15 17:50] briandeconinck commented on #44401
@khandelwal I think that should be all I need! Thanks!

[2022-08-15 17:51] SKasimow commented on #43388
@tlei123 looks like you may be able to start on Wed 8/17 but will confirm once everything is ready in staging :)

[2022-08-15 17:58] khandelwal commented on #44810
Thanks!

[2022-08-15 18:01] loripusey commented on #39390
@zach-park I'm confused, why does the Master copy show time zone when we don't have it in the product yet? I thought Master was supposed to be what is in production?  Also, the DOB fields still show as the old DS control and is not in production yet. Can you clarify for me what is going on?
@kristenmcconnell

[2022-08-15 18:03] #45648 closed

[2022-08-15 18:11] skylerschain commented on #45651
Indeed! Here's the URL for what I'm calling the "CST Overview Page" – the
page that shows all of your current claims, both open and closed.

https://staging.va.gov/track-claims/your-claims?postLogin=true

On Mon, Aug 15, 2022 at 11:42 AM jonathan-epstein13 <
***@***.***> wrote:

[2022-08-15 18:12] loripusey commented on #42032
Nope, still there in the template. Maybe it got deleted from the individual ticket.
 ![image.png](https://images.zenhubusercontent.com/60db6a817900f619905e68b1/9b326915-7fc7-44af-9a40-59d0b565d3a4)

[2022-08-15 18:14] benbrasso-agile6 commented on #42032
yeah, I think it's in the Release to Production ticket, which is closed vs. the update release artifacts ticket. I'm not necessarily recommending it should be moved. I'm more just pointing out that distinction for the moment.

[2022-08-15 18:16] brianseek commented on #45230
tracking code is merged.

[2022-08-15 18:20] ewilson-adhoc opened #45702 "[ Spike ] Research approach for exporting IET documentation"
To determine where we should put the "user-friendly" version of our documentation, currently everything is in github, but some people have expressed that it would be useful to have a more readable format for the documentation.

- [ ] Determine if we should pursuit putting the documentation in the platform documentation.
- [ ] Determine what this process would look like, and whether or not it is ea

[2022-08-15 18:20] ewilson-adhoc opened #45703 "[ Spike ] Research approach for exporting IET documentation"
To determine where we should put the "user-friendly" version of our documentation, currently everything is in github, but some people have expressed that it would be useful to have a more readable format for the documentation.

- [ ] Determine if we should pursuit putting the documentation in the platform documentation.
- [ ] Determine what this process would look like, and whether or not it is ea

[2022-08-15 18:24] jerekshoe commented on #45026
So I looked, and for SSN, we accept input with or without dashes. We remove the dashes (this includes ones at the beginning of the text input) when we store the value, so the form submission won't include dashes. We can probably do something similar for VA loan number.

[2022-08-15 18:24] davidmpickett commented on #45628
Added the Lovell sitemap as a Content Artifact

[2022-08-15 18:29] loripusey commented on #42032
I kept them separate to allow the product guides to be done before we go to production

[2022-08-15 18:30] hncj811-va opened #45704 "AWS access for Hakeem Jones lighthouse-pivot"
### COR Name

Cecila Lee

### Vendor Onboarding Representative Name

Liberty IT -  Michael G. Lovejoy

### Your Name

Hakeem Jones

### Your Email

hakeem.jones@va.gov

### Team, Role, and Company of the target individual

Pivot

### Product Manager (PM) name and email

Greg Feliberty feliberty_gregory@bah.com

### Product Owner (PO) name and email

Greg Feliberty feliberty_gregory@bah.com

### De

[2022-08-15 18:30] bramleyjl opened #45705 "MPI Service 'find_profile` error parsing"
## Issue Description
This story will improve the MPI library's error response handling for failed `find_profile` calls, parsing the response XML for attributes that will be included in vets-api's logs. A subsequent PR will also add this error parsing to `find_profile` MPI calls.
[Relevant Slack thread](https://dsva.slack.com/archives/C01CHAY3ULR/p1657552311694709)

---
## Tasks
- [ ] parse MPI `fi

[2022-08-15 18:32] hncj811-va opened #45706 "SOCKS access for Hakeem Jones"
### Your Name

Hakeem Jones

### Your Email

hakeem.jones@va.gov

### Your Role and Team

Software Dev

### Product Manager (PM) name and email

Greg Feliberty feliberty_gregory@bah.com

### Product Owner (PO) name and email

Greg Feliberty feliberty_gregory@bah.com

### Access Type Requesting

developers

### Public SSH Key

ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIA6rsLJyUiFkCf/AG20jrz6VEPImsS59fgBp

[2022-08-15 18:33] bramleyjl opened #45707 "revert all sessions `authenticate` routes to force_authn = true"
### Description

Related Slack conversation: https://dsva.slack.com/archives/C019S3NSSAD/p1660251494755099

### Tasks
- [ ]

[2022-08-15 18:33] #45706 closed

[2022-08-15 18:34] jerekshoe opened #45708 "AWS access for Jerek Shoemaker"
### COR Name

Other - please specify in 'Additional Notes'

### Vendor Onboarding Representative Name

Other - please specify in 'Additional Notes'

### Your Name

Jerek

### Your Email

jerek.shoemaker@adhocteam.us

### Team, Role, and Company of the target individual

Benefits, Software Engineer, Ad Hoc

### Product Manager (PM) name and email

Jacob Worrell, jacob.worrell@adhocteam.us

### Prod

[2022-08-15 18:34] MarciMcGuire commented on #44786
Thanks, @jonathanjnelson

[2022-08-15 18:36] benbrasso-agile6 commented on #42032
Makes sense. I forgot.

[2022-08-15 18:37] tlei123 commented on #45626
Just asked A-Team on Slack about exact Node version: [No one knows exactly](https://adhoc.slack.com/archives/C01NP3AEE13/p1660586835334709?thread_ts=1660585922.858659&cid=C01NP3AEE13).

[2022-08-15 18:37] #45221 closed

[2022-08-15 18:42] troymosher opened #45709 "WASA finding"
## Description
Received WASA results from the NSOC, there was only 1 low finding of "The web application discloses sensitive information about itself and its infrastructure."   See [WASA results](https://app.zenhub.com/files/133843125/d5016c60-f5d6-4bcc-819c-3bcc21c32557/download) for full details.

## Background/context
WASA scan is an annual ATO requirement. In order to complete the requirement,

[2022-08-15 18:43] jsokohl commented on #45026
We should allow for dashes (hyphens, ok). Ideally the app will just strip those items out if not needed.

Rethinking this ticket--IMO the field shouldn't be restricted to a number field with concepts of negativity or positivity. It's merely an identifier. To that end, I now think we should call this Not a Bug. I"m happy with adding the hint text if you think it's advisable, @joshkimux -- but, agai

[2022-08-15 18:49] pavanhothi commented on #43535
@jonathan-epstein13 [here](https://va-gov.domo.com/kpis/details/524427146) is the final card for you to QA. Please let me know if there are any questions or issues with this card, or any of the previously completed cards as you are wrapping up your QA. Thank you for all your help on this!!

[2022-08-15 18:52] aliyahblackmore commented on #45423
Hi @megzehn ! The COVID-19 Vaccines at VA page is ready for you!
Preview link:

**A few notes and flags:**

1. I noticed on the live English page that in the accordion "Which Veterans are eligible for a vaccine?" that this sentence is different from what is on the [doc sent](https://github.com/department-of-veterans-affairs/va.gov-team/issues/45423#issue-1332205650) to the translator and, as a res

[2022-08-15 18:54] brdunfield commented on #42477
This ticket was opened during a blip where this warning message was being displayed on unit tests as well as E2E tests.

I have audited our E2E files and all test files look to be compliant.

The only test files which do not have axeCheck calls are our screenshot test suites, which are not actually testing anything, and therefore don't need this check.

[2022-08-15 18:54] #42477 closed

[2022-08-15 18:55] outerpress opened #45710 "Concept - preferred date"

[2022-08-15 19:00] outerpress commented on #44245
Duplicate of #44704

[2022-08-15 19:00] #44245 closed

[2022-08-15 19:00] #44821 closed

[2022-08-15 19:00] normanknolhoff opened #45711 "Platform Orientation Template [Norman Knolhoff]"
## Welcome and Introduction
Welcome to the Veteran's Administration (VA) Veteran Facing Services (VFS) team!
As a new VFS team member, you will be working in the web ecosystem we call the VA.gov Platform (or "**The Platform,**" for short).  The tasks on this list are designed to get you up to speed on the role of Platform, making it easier for you to do your job.

Because the VA is a huge organiza

[2022-08-15 19:01] IoanDobrescuAFS opened #45712 "Platform Orientation Template [Ioan Dobrescu]"
## Welcome and Introduction
Welcome to the Veteran's Administration (VA) Veteran Facing Services (VFS) team!
As a new VFS team member, you will be working in the web ecosystem we call the VA.gov Platform (or "**The Platform,**" for short).  The tasks on this list are designed to get you up to speed on the role of Platform, making it easier for you to do your job.

Because the VA is a huge organiza

[2022-08-15 19:01] agmurphy commented on #45664
Oh my mistake. Then yes please add her as single guest to that channel

[2022-08-15 19:05] iriteshp commented on #45708
@jerekshoe  is listed on the VFS Team Roster.

**For AWS ACCESS**
User: Jerek Shoemaker
COR: Keith Riley
VOR: Jeff Langworthy
Approval needed: @department-of-veterans-affairs/operations-aws-approvers
AWS Admin Role: no

[2022-08-15 19:06] joshkimux commented on #45026
@jsokohl I've updated the acceptance criteria and the name of the ticket to reflect these changes 🥳 , feel free to update the title/description to what you believe to be most appropriate.

I agree that focusing users to comply with an implementation model is a bad thing 💯

To be even more specific, I was curious to get your thoughts on:
- if there are any rules related to this submission out of ou

[2022-08-15 19:07] nsoutouras commented on #45573
Tested, found issues, sent back to mobile.

[2022-08-15 19:07] #45573 closed

[2022-08-15 19:07] chloedotbrown commented on #44257
@michelle-dooley - Finished edits to the [PHM Domo training deck](https://docs.google.com/presentation/d/1by4IPQlU6f1HR2OieyEXZ2tyoS5W72Vwx_7qPbVAb7Y/edit#slide=id.p). If it looks good on your end, want to add it to website and close out ticket? And if not - let me know what changes would be helpful. Thanks!

[2022-08-15 19:08] vbellissimo commented on #45017
- Reach out to Carol Wong and Katy Bowman to 1) review documentation provided and 2) the recommended IA places to live under
- Platform content team will add to the Platform website and add necessary styling best practices
- Deploy on the next deployment day

[2022-08-15 19:09] iriteshp commented on #45704
@hncj811-va  is listed on the VFS Team Roster.

**For AWS ACCESS**
User: Hakeem Jones
COR: Cecilia Lee
VOR: Michael G. Lovejoy
Approval needed: @department-of-veterans-affairs/operations-aws-approvers
AWS Admin Role: no

[2022-08-15 19:09] pjhill opened #45713 "Address Cypress Issues with Element Visibility Between FF and Chome"
# Description
Design System team seemingly uncovered an issue with Cypress in their pull request [here](https://github.com/department-of-veterans-affairs/vets-website/pull/21925).

# Tasks
- [x] Propose a modification to the test spec to work around the visibility issue
- [x] Assess whether a new version of Chrome or FF results in identical behavior.
- [x] Assess whether a new version of Cypress r

[2022-08-15 19:09] SKasimow commented on #31411
@andaleliz - this is what I see now in staging and seems to match the mock; can you confirm:

![Screen Shot 2022-08-15 at 3 07 15 PM](https://user-images.githubusercontent.com/74627978/184700801-f0894007-83e6-4a4a-b15c-ada4fd7857fb.png)

[2022-08-15 19:11] #43876 closed

[2022-08-15 19:12] megzehn commented on #43352
Hi @DanielleThierryUSDSVA - we reviewed and copyedited the alert on nodeId=886. I left it as a draft, but let me know if you want me to change the status.

Thanks!

[2022-08-15 19:13] #36131 closed

[2022-08-15 19:13] hncj811-va opened #45714 "SOCKS access for Hakeem Jones"
### Your Name

Hakeem Jones

### Your Email

jones_hakeem@bah.com

### Your Role and Team

Software Dev

### Product Manager (PM) name and email

Greg Feliberty feliberty_gregory@bah.com

### Product Owner (PO) name and email

Greg Feliberty feliberty_gregory@bah.com

### Access Type Requesting

developers

### Public SSH Key

ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIA6rsLJyUiFkCf/AG20jrz6VEPImsS59fgB

[2022-08-15 19:15] denisecoveyduc commented on #45052
@OptionSelect could you describe the problem and the fix in this issue (or link it to the "fix" ticket you have) let's plan this fix for sprint 81. DMC is getting daily reports of problems, need to fix right after prep for the pilot sessions is complete.

[2022-08-15 19:20] andaleliz commented on #31411
Yep! That's the correct button order.

[2022-08-15 19:21] mleclerc00 commented on #45704
@hncj811-va

Can you please clarify what aws access you are looking for?  If you are unsure, maybe there is someone on your team who already has access which we can use to understand this better.

[2022-08-15 19:27] naomimarcussen opened #45715 "Platform research ticket"
Make it easier for Platform PMs to successfully conduct research and share findings.

[2022-08-15 19:33] rvbell opened #45716 "Platform Orientation Template [Your name here]"
## Welcome and Introduction
Welcome to the Veteran's Administration (VA) Veteran Facing Services (VFS) team!
As a new VFS team member, you will be working in the web ecosystem we call the VA.gov Platform (or "**The Platform,**" for short).  The tasks on this list are designed to get you up to speed on the role of Platform, making it easier for you to do your job.

Because the VA is a huge organiza

[2022-08-15 19:34] laineymajor opened #45717 "[Q4 DRAFT INITIATIVE] FE Improvements"

[2022-08-15 19:42] davidakennedy opened #45718 "VA Forms System Core [Component]: Step 10 - ID attribute values must be unique"
### Point of contact

David Kennedy (DK)

### Severity level

3, Moderate. Should be fixed in 1-3 sprints post-launch.

### Details

There are a few spots in the form where ID attributes aren't unique. These are:

[code]

It looks like each of these has a h2 with the same ID. I'm not sure if this is an individual demo form problem with the implementation or something the form does on its own.

###

[2022-08-15 19:44] jhouse-solvd commented on #45253
@ph-One and I chatted about this and think that it might be replaced w/ a new ticket to **‘provide process/instructions for creating a chart’**

_more to come as we move into the next sprint..._

[2022-08-15 19:45] ianhundere commented on #43767
some of the changes we did:
[code]

we also removed all initContainers except for the settings-config one.

[2022-08-15 19:46] outerpress commented on #45128
FYI @Cieramaddox here's the aggregate equality checker for all of VAOS' studies: https://docs.google.com/spreadsheets/d/1FptjVArKot0wb2X8efpNtTAl3Rd1qroaEQmWtJ-bDxM/edit#gid=1035614575

[2022-08-15 19:46] #45128 closed

[2022-08-15 19:48] jhouse-solvd commented on #44647
@jsgarmon - looks like good work here. is there anything else needed to close this one out?

[2022-08-15 19:48] outerpress opened #45719 "Preferred dates design explorations"
## Overview
In the VA direct scheduling flow, [Veterans pick a date to indicate the date they would prefer an appointment.](https://www.figma.com/file/xRs9s6QWoBPRhpdYCGc3cV/User-Flow?node-id=160%3A34403)

![image.png](https://images.zenhubusercontent.com/5f7ce3163782a585b910eaf3/f5b5c76a-a754-45fc-ab3f-ae7dc6959901)

Facilities use this as a performance measure, calculating the time between the d

[2022-08-15 19:51] pjhill opened #45720 "Document How to Monitor, Log, and Visualize E2E Failures"
# Description
We need to establish a process for rotating the responsibility of monitoring the [status-vets-website](https://dsva.slack.com/archives/C02V265VCGH) channel. We also need to create a playbook that describes the responsibilities of the person monitoring the channel.

# Tasks
- [x] Create a document in QAS team Confluence space that describes the responsibilities of the team member moni

[2022-08-15 19:51] michelle-dooley commented on #44810
Hi @khandelwal - In order to get 1095-B added to the Forms KPI dashboard you will need to complete the [KPI Dashboard - Request Template](https://github.com/department-of-veterans-affairs/va.gov-team/issues/new?assignees=joanneesteban&labels=analytics-insights%2C+analytics-request%2C+kpi-dashboard&template=analytics-request-kpi-dashboard.md&title=Analytics+KPI+dashboard+request+for+%5BTeam%5D).

[2022-08-15 19:55] #39255 closed

[2022-08-15 19:59] #45481 closed

[2022-08-15 19:59] jhouse-solvd commented on #40935
In discussing w/ Kyle, it sounds like the agents are installed, but having trouble connecting to the endpoint to send data.

We think it might be helpful to create a follow-up ticket to troubleshoot specific agent issues. We'll discuss with the team and follow up.

[2022-08-15 20:02] laineymajor commented on #45717
**VSP ONBOADING**
VFS teams needs to complete this lengthy process as part of onboarding. Can we create an easier/more automated process.

[2022-08-15 20:07] andaleliz commented on #45511
@DanielleThierryUSDSVA I'm just going to use the more generic alert you approved back when we first worked on this

"To manage settings for email notifications, first..." instead of being specific about the 1095-B. Going to close this out. Thanks!

[2022-08-15 20:07] #45511 closed

[2022-08-15 20:12] #45710 closed

[2022-08-15 20:17] andaleliz commented on #45073
Hi @Samara-Strauss - here's where we landed after the content review with Danielle:

- [No email on file](https://www.sketch.com/s/afd69a1f-72d2-430b-9b62-285e9d3f479c/a/JnEgDg9)
- [Email on file ](https://www.sketch.com/s/afd69a1f-72d2-430b-9b62-285e9d3f479c/prototype/a/D6132FAB-A080-427A-B689-140449CF3453)(zoom in and click on additional info component to see expanded content)

Danielle recommen

[2022-08-15 20:17] ianhundere commented on #45570
https://github.com/department-of-veterans-affairs/devops/pull/11782/files
^ jenkins job has been added, just needs to be tested.

[2022-08-15 20:23] SKasimow opened #45721 "FE | Profile | New Forms Library | Update Mobile and Work Phone Numbers"
## Background

See [FE | Profile | New Forms Library POC #43727](https://github.com/department-of-veterans-affairs/va.gov-team/issues/43727) for details on the genesis of the initial effort.

[ Slack thread ](https://dsva.slack.com/archives/C909ZG2BB/p1686141383116009 )where we discussed the reasons for closing this out, the form spike team was disbanded, when they are reformed or another team beg

[2022-08-15 20:33] SKasimow opened #45722 "FE | Profile | Create Documentation for Handling System Outages/Maintenance"
## Background

Document how we will handle planned/unplanned outages or maintenance that result in a feature(s) not being available to the user for a period of time including the use of feature flags and special messaging.

## Tasks
- [ ] Create document outlining process to follow for planned/unplanned outages that affect the Profile or features within the Profile.

## Acceptance Criteria
- [ ] R

[2022-08-15 20:40] TiffanyPender opened #45808 "(May be DST component issue) VA Forms System Core [Component]: Incorrect usage of aria-labels"

[2022-08-15 20:44] tmitchellgcio commented on #45478
These tests are already in the repo and they seem to be passing as expected. I don't believe this needs validation as the tests are passing and there isn't a way to validate it any further as the tests are triggered for every single pull request.

[2022-08-15 20:46] tmitchellgcio commented on #45543
These tests are already in the repo and they seem to be passing as expected. I don't believe this needs validation as the tests are passing and there isn't a way to validate it any further as the tests are triggered for every single pull request. Did manual AXE checking and so did @aagosto90. AXE showed there are no critical issues on the My VA page including the notifications and payments and deb

[2022-08-15 20:50] tmitchellgcio commented on #45478
I am not sure how to really test this as it's a redirect and not part of anything that needs to be read to anyone and it doesn't have anything visual to show the reader. I can't currently write tests as I would expect they would be flaky with the way the flipper works. Once the flipper is not a part of this I believe we can write a test for it, but it would only test the myva page which we have a

[2022-08-15 20:55] aagosto90 commented on #45478
@tmitchellgcio Agreed; some of these tests (actually arguably all of them) are not concerns for the redirect. I'll mark this as N/A on the [chart](https://github.com/department-of-veterans-affairs/va.gov-team/edit/master/products/identity-personalization/my-va/my-va-redirect/launch-materials/my-va-redirect-a11y-staging-review-prep.md) and outline that we already have done e2e tests on My VA. CC: @

[2022-08-15 20:59] Cmjones233 commented on #44772
Survey posted to thread for feedback

[2022-08-15 21:01] aagosto90 commented on #45543
Thanks @tmitchellgcio I added that comment to the [chart](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/notifications/vagov-notifications/mvp/launch-materials/onsite-notifications-mvp-a11y-staging-review-prep.md). All mandatory tests are complete and passed; I'm still messing around with the screen reader test though and trying to make

[2022-08-15 21:02] AngelaFowler82 opened #45723 "[A11y]:VA Forms System Core [Demo Content]: Magnification - CONTINUE button is partially cut off when viewing at 300% zoom"
### Point of contact

Angela Fowler

### Severity level

3, Moderate. Should be fixed in 1-3 sprints post-launch.

### Details

...
## User Story or Problem Statement

As a user who magnifies content on a page, I expect all content to be visible without horizontal scroll.

## Details

Currently, the CONTINUE button is partially cut off from view at 300% magnification (1280px screen size).
## Accep

[2022-08-15 21:02] AngelaFowler82 opened #45874 "[A11y]: Design System [Component] [Demo Content]: Magnification - CONTINUE button is partially cut off when viewing at 300% zoom"
### Point of contact

Angela Fowler

### Severity level

3, Moderate. Should be fixed in 1-3 sprints post-launch.

### Details

...
## User Story or Problem Statement

As a user who magnifies content on a page, I expect all content to be visible without horizontal scroll.

## Details

Currently, the CONTINUE button is partially cut off from view at 300% magnification (1280px screen size).
## Accep

[2022-08-15 21:09] ajakabcin commented on #45478
Thank you @tmitchellgcio and @aagosto90! I believe we're good to go here. Appreciate your work on this!

[2022-08-15 21:09] #45478 closed

[2022-08-15 21:10] davidakennedy opened #45724 "VA Forms System Core [Component]: Multiple screens - Step 1, 6, 7, 8 - Radio buttons and checkboxes need fieldsets and legends"
### Point of contact

Angela Fowler

### Severity level

1, Launchblocker. Critical. Must be fixed before launch.

### Details

On Step 1, 6, 7, 8, several of the radio button and checkbox components aren't contained in fieldsets.
For example, when navigating to the "relationship to deceased" radio button, the question isn't read. Similar issues occur on other steps as well.

### Reproduction step

[2022-08-15 21:10] davidakennedy opened #46128 "Design System [Component]: Multiple screens - Step 1, 6, 7, 8 - Radio buttons and checkboxes need fieldsets and legends"
### Point of contact

Angela Fowler

### Severity level

1, Launchblocker. Critical. Must be fixed before launch.

### Details

On Step 1, 6, 7, 8, several of the radio button and checkbox components aren't contained in fieldsets.
For example, when navigating to the "relationship to deceased" radio button, the question isn't read. Similar issues occur on other steps as well.

### Reproduction step

[2022-08-15 21:11] AngelaFowler82 opened #45725 "[A11y]: VA Forms System Core [Demo Content]: Link text is not descriptive"
### Point of contact

Angela Fowler

### Severity level

2, Serious. Should be fixed in 1-2 sprints post-launch.

### Details

...
## User Story or Problem Statement

As a screen reader user, I should be able to navigate the content of the page and understand link context. The link text that appears in my screen reader rotor or element list should convey the link purpose for each available link.

[2022-08-15 21:12] ajakabcin commented on #44818
all artifacts attached to staging review ticket

[2022-08-15 21:14] AngelaFowler82 opened #45726 "VA Forms System Core [Demo Content]: Semantic HTML - Definition list used in place of more appropriate unordered list[A11y]:"
### Point of contact

Angela Fowler

### Severity level

3, Moderate. Should be fixed in 1-3 sprints post-launch.

### Details

...
## User Story or Problem Statement

As a screen reader user, I should be able to navigate the content of the page and understand link context. The link text that appears in my screen reader rotor or element list should convey the link purpose for each available link.

[2022-08-15 21:14] AngelaFowler82 opened #45812 "(Review description - some overlap with 551) [A11y]: VA Forms System Core [Demo Content]: Semantic HTML - Definition list used in place of more appropriate unordered list"

[2022-08-15 21:14] ajakabcin commented on #45543
@tmitchellgcio and @aagosto90 amazing - thank you both so much for your work on this!

[2022-08-15 21:22] denisecoveyduc commented on #45052
@OptionSelect  Could you notify Jill via email when this fix goes live in production. Thank you!

[2022-08-15 21:24] SKasimow commented on #45257
@cgednalske - I think this looks good and to your point matches how we communicated character limits for Preferred name. I'll tee up for Adam.

[2022-08-15 21:29] SKasimow commented on #45263
@adamwhitlock1 - I added mocks with messaging to this ticket so bump up points if needed.

[2022-08-15 21:30] twoangstroms commented on #43530
Notes for session: https://vfs.atlassian.net/wiki/spaces/SDT/pages/2320334895/Mapping+Clarification+Meeting

Mural for workshopping: https://app.mural.co/t/adhocvetsgov9623/m/adhocvetsgov9623/1660596741123/1be9a695e25cf1cda7fd73336d62de3295bf4d62?sender=u4f7db1750f2355f805e60296

[2022-08-15 21:39] naomimarcussen commented on #41622
@little-oddball I think that having it live on the Platform Roster page as an excerpt makes sense.

[2022-08-15 21:46] #44083 closed

[2022-08-15 21:52] megansiddle commented on #44754
Hey @samcoforma! While the bug is getting looked at...can you confirm that we have the right placement for the confirmation email alert trigger?

[2022-08-15 21:53] SKasimow commented on #31408
@andaleliz - intent was to update whatever was needed but think the change needed for the buttons wasn't clear.

@tmitchellgcio - is this something you'd be able to update? If not, I'll re-assign to Adam.

[2022-08-15 21:56] SKasimow commented on #31411
@andaleliz - thanks. Think it is helpful to have a link in the ticket or comments (preferably ticket) to the specific mock; thinks why this one is correct and the other one you re-opened wasn't (or if it was there I totally missed it).

[2022-08-15 22:29] #317 closed

[2022-08-15 22:29] caw310 commented on #317
Closing as we are no longer supporting IE11

[2022-08-15 23:25] andaleliz opened #45727 "Content review from Authenticated Experience, 1095-B teams"
## What does your team need support for? Check all that apply.
- [ ] Launching one or more new unauthenticated (static) VA.gov pages
- [ ] Making revisions to one or more existing unauthenticated (static) VA.gov page
- [ ] Launching a new online form, app, or tool on VA.gov
- [ ] Making revisions to an existing online form, app, or tool on VA.gov
- [x] Something else (please add details in the nex

[2022-08-16 00:13] jwoodman5 opened #45728 "Performance Dashboard Updated Manually with Medallia Data"
## Issue Description
_ForeSee is being sunset unexpectedly on 8/26. In order to keep the Performance Dashboard useful and relevant, we need to replace the ForeSee survey data with Medallia Survey data manually. This will happen on Sept. 2nd after we have received the monthly data delivery from Medallia on Sep. 1st.This is the _general_ direction we intended to go anyways, it is just happening soon

[2022-08-16 00:16] jwoodman5 opened #45729 "Create YAML Custom Data Request Template"
## Issue Description
_Teams have been requesting custom/qualitative support and survey data occasionally and we need a formal process for receiving and addressing these requests._

---
## Tasks
 - [x] _Use the previously created requirements outline to create a functional YAML template to be used by qualitative/custom data requestors_

## Acceptance Criteria
- [x] _A YAML template exist with all n

[2022-08-16 00:16] jwoodman5 opened #45730 "Create YAML Custom Data Request Template"
## Issue Description
_What details are necessary for understanding the specific work or request tracked by this issue?_

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attac

[2022-08-16 00:18] jwoodman5 opened #45731 "Create YAML Custom Survey Request Template"
## Issue Description
_What details are necessary for understanding the specific work or request tracked by this issue?_

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attac

[2022-08-16 00:18] jwoodman5 opened #45732 "Create YAML Custom Survey Request Template"
## Issue Description
_Teams have been requesting custom Medallia surveys occasionally and we need a formal process for receiving and addressing these requests._

---
## Tasks
- [x] _Use the previously created requirements outline to create a functional YAML template to be used by custom survey requestors_

## Acceptance Criteria
- [x] _A YAML template exist with all necessary fields and informatio

[2022-08-16 00:20] jwoodman5 opened #45733 "Build Data Table for Performance Dashboard Calculations"
## Issue Description
_To support updating the Performance Dashboard manually with Medallia satisfaction scores, we need these scores calculated and stored somewhere, in this case, DOMO._

---
## Tasks
- [x] _Create a new table in DOMO to host Medallia satisfaction scoring data_
- [x] _Identify correct product URLs/Directories to segment satisfaction data by and apply as segment filters in table_
-

[2022-08-16 00:28] jwoodman5 opened #45734 "User Journey Map User Research - Recruitment"
## Issue Description
_To further our research of the support user journey, we need to recruit users to conduct interviews with._

---
## Tasks
- [x] _Finish Review with Design Team [https://github.com/department-of-veterans-affairs/va.gov-research-repository/issues/130](url)_
- [x] _Approval to move forward with request to Pernigan_

## Acceptance Criteria
- [x] _Recrutiment will be completed for

[2022-08-16 00:30] jwoodman5 opened #45735 "Login Wizard Research Readout"
## Issue Description
_We recently completed user research sessions for the login self-service prototype we created. This issues covers completing the research readout from those sessions._

---
## Tasks
- [x] _Write the research readout from the login self-service tool user research sessions._

## Acceptance Criteria
- [x] _Research readout from login self-service user research is complete and pos

[2022-08-16 00:32] jwoodman5 opened #45736 "Audit VEO Knowledge Management Articles"
## Issue Description
_What details are necessary for understanding the specific work or request tracked by this issue?_

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attac

[2022-08-16 00:34] DanielleThierryUSDSVA commented on #43352
Thank you, @megzehn! Go ahead and publish. Thanks!

Here's another for review: http://preview-prod.vfs.va.gov/preview?nodeId=48211. Note that this is a new page I'm recommending to combine 2 previously separate pages. I'll also be sending along updates of those 2 previously separate pages for copy editing because they'll be our interim editing approach. Thanks!

[2022-08-16 00:37] jwoodman5 opened #45737 "Medallia Intercept Survey Not Displaying Correctly on Mobile"
## What happened?
_Describe in detail what went wrong; screenshots, videos, or gifs are strongly encouraged_

## Specs:
- Device: (e.g. iPhone 8, Macbook)
- Browser: (e.g. Firefox, IE 11)
- Test User _(if applicable)_:

## Steps to Reproduce
- URL:
- Test User _(if applicable)_:

## Desired behavior
_Describe in detail what was supposed to happen; reference existing Github issue that contains a so

[2022-08-16 00:39] jwoodman5 opened #45738 "YAML Data and Survey Request Template Requirements"
## Issue Description
_What details are necessary for understanding the specific work or request tracked by this issue?_

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attac

[2022-08-16 00:40] jwoodman5 opened #45739 "YAML Data and Survey Request Template Requirements"
## Issue Description
_Teams have been requesting custom Medallia surveys and custom/qualitative support/survey data occasionally and we need a formal process for receiving and addressing these requests. This issue accounts for gathering the requirements to develop the template._

---
## Tasks
- [x] _Create an outline with requirements for a custom survey and data request templates, separately_

##

[2022-08-16 00:41] zach-park commented on #39390
Hi @loripusey, I thought they were already implemented. It doesn't seem to be the case, I'll annotate them in the collection as it would be in future releases to avoid any confusion.
It does not look like the updated DOB fields (i.e., aligned with new DS components) are merged yet. @ytsaoca , can you please confirm if that is true?

[2022-08-16 00:43] aliyahblackmore commented on #45423
Hi @megzehn the Spanish About COVID-19 Vaccines page is ready for you.
**Preview link:** http://preview-prod.vfs.va.gov/preview?nodeId=36461

I made the additions from the translated doc and also removed the accordion "Las vacunas son una forma importante de detener la propagación de nuevas variantes de coronavirus," as that is no longer on the live English page.

Will stand by for the Tagalog pag

[2022-08-16 00:44] jwoodman5 opened #45740 "Update Medallia ETLs in DOMO"
## Issue Description
_To support the new file structure from the S3 file used to further automate the Medallia data update process, we need to update the ETLs in DOMO to conform_

---
## Tasks
- [ ] _Update Medallia ETLs in DOMO to conform to new file structure_

## Acceptance Criteria
- [ ] _Medallia dashboards can be successfully update with new Medallia data file loads_
---
## How to configure

[2022-08-16 00:44] jwoodman5 opened #45741 "Update Medallia ETLs in DOMO"
## Issue Description
_To support the new file structure from the S3 file used to further automate the Medallia data update process, we need to update the ETLs in DOMO to conform_

---
## Tasks
- [x] _Update Medallia ETLs in DOMO to conform to new file structure_

## Acceptance Criteria
- [x] _Medallia dashboards can be successfully update with new Medallia data file loads_
---
## How to configure

[2022-08-16 00:50] zach-park commented on #44542
@kristenmcconnell I believe this branch needs to be merged to the master.
@ytsaoca , I noticed that you also had a couple of additional task(s) in the same branch, would it mess up anything if you merge it now? Ideally, each ticket/task should be a separate branch. So please let us know.

[2022-08-16 01:21] tlei123 commented on #45626
Tried Node 18.7.0, 17.9.1, 16.16.0:
- `npm install` generated numerous deprecation warnings for the dependencies spec'ed in package.json
- `npm run develop` generated numerous eslint-scope and babel-eslint errors for js files
- `npm run flow` and `npm run nightwatch` both generated errors.

Since above problems didn't prevent the local site from working, the basic homework-assignment has been adde

[2022-08-16 01:29] tlei123 commented on #42301
Yes, Closing now.

[2022-08-16 01:29] #42301 closed

[2022-08-16 01:51] ldelacosta commented on #44070
@beth-wodzinski - this is ready to be tested. Please validate and let us know if there are any issues. Thanks!

[2022-08-16 02:19] dsinla commented on #45628
Async Midpoint Review Sitewide Facilities, Lovell VAMC/TRICARE - has been rescheduled
Mon 8/22 3:30PT/12:30 ET
**NOTE:** There is an asynchronous review. No meeting will take place

[2022-08-16 12:05] laurwill opened #45742 "Look into how Web LGY works when VA is the lender"
## Issue Description

We recently removed an action link pointing to eBenefits on 2 COE-related pages. Aliyah noted that we say you can get a COE "through your lender," but for some loans VA is the lender.
- [Eligibility requirements for VA home loans](https://www.va.gov/housing-assistance/home-loans/eligibility/)
- [How to request a home loan COE](https://www.va.gov/housing-assistance/home-loans/

[2022-08-16 12:19] amygoldman commented on #44970
Here's a copy of the form in Confluence with room for notes: https://vfs.atlassian.net/wiki/spaces/PWD/pages/2311684178/Documentation+support+request+form

[2022-08-16 12:25] loripusey commented on #39390
@zach-park that is correct, we will push the DOB fields to production at the end of this Sprint.

[2022-08-16 12:29] djfredvs opened #45743 "08/24/22 3 PM VEText Open Office Hour"
## Description
Every week the product support team hosts a bi-weekly office hours to advertize or demo new or existing features, communicate updates to our users, and hold an open forum to answer questions from users live.

---

## Agenda
What is the agenda for office hours?
Surgery notifications demo
OSM demo
Flu shot reminder
Appointment cancellation feature
Letting sites know to remove any PCI

[2022-08-16 12:31] jonathan-epstein13 commented on #45712
Added necessary information to the section _Share your info with Platform_. Added to VFS Team Roster.

[2022-08-16 13:01] little-oddball commented on #41622
@naomimarcussen: This should already be the case for at least the core platform teams. On the Platform Roster page it should be in the Team Resources expand component.

If there are some missing, etc. I am happy to help get them into excerpts etc. if we have the information.

[2022-08-16 13:09] vbellissimo opened #45744 "Vickys test"
### Description
Testing which board this is going to. - Vicky

### Relevant URLs

[2022-08-16 13:18] DanielleThierryUSDSVA opened #45745 "Translate core health care "get benefit" content into Spanish"
## Story

As a Veteran with limited English proficiency, I need the core benefit information for VA health care in my primary language.

We are starting with 3 health care pages for Spanish translation:

- [Eligibility for health care](https://www.va.gov/health-care/eligibility/)
- [How to apply](https://www.va.gov/health-care/how-to-apply/)
- [After you apply](https://www.va.gov/health-care/after

[2022-08-16 13:19] DanielleThierryUSDSVA opened #45746 "Translate core disability "get benefit" content into Spanish"
## Story

As a Veteran with limited English proficiency, I need the core benefit information for VA disability in my primary language.

## What's needed

- [x] **Step 1:** Send a word count and links to pages to State Department for estimate.
- [x] **Step 2:** Send Word docs of 3 pages to be translated:
-  Eligibility
- How to apply
- After you apply
- [x] **Step 3:** Build page in Drupal
- [x] **

[2022-08-16 13:20] k80bowman commented on #45682
We submitted a request for translations for this component from the State Department on July 18th. We are still waiting for those to come back. As soon as they do, we will add the Spanish language translations for this component.

[2022-08-16 13:29] #45051 closed

[2022-08-16 13:32] jonathan-epstein13 commented on #45701
@brianseek the following is the toggle for the pre-check in and the check-in page. Just want to confirm.
![image.png](https://images.zenhubusercontent.com/616700bf2a260a7323c067fd/e395702c-6c8c-49b2-ae04-87e5f81fd106)

You and your team would like tracking for toggling (clicking) between English and Espanol?

[2022-08-16 13:44] #45270 closed

[2022-08-16 13:45] kristenmcconnell commented on #44542
Yes, we should merge this branch when timezones go live at the end of the sprint. But @ytsaoca, let us know if everything else that Zach mentioned can go too.

[2022-08-16 13:47] rbeckwith-oddball commented on #43452
Excellent @ericvoshall! Final question: what should the base URL for production and / or utility be set to? I can see that `app-config.production.yaml` would be the location to update the production value, but I'm not sure where we would update the utility version for the baseUrl.

[2022-08-16 13:49] DanielleThierryUSDSVA opened #45747 "Redirect Request"
### Instructions
- Requests must be submitted **AT LEAST** 2 weeks in advance.  Some requests take a significant amount of time and coordination to implement, so start the process as soon as you know you will need one.
- This issue will be used from initial request through implementation to ensure all individuals working on this are notified of status updates.  Please do not create multiple issues

[2022-08-16 13:53] DanielleThierryUSDSVA commented on #45747
Hi @jilladams. We're going to be combining/moving a page within the disability eligibility section as part of PACT Act-related updates. I'm working through approvals with SMEs now, but wanted to get this ticket started. @mnorthuis and I have discussed the URL.

[2022-08-16 13:54] DanielleThierryUSDSVA commented on #45747
@RLHecht for visibility and tracking on our end!

[2022-08-16 13:55] jonathan-epstein13 commented on #45651
This is the section to look at and just want to know the number of claims the average user has in this section at specific times? Just want to make sure.

![image.png](https://images.zenhubusercontent.com/616700bf2a260a7323c067fd/0533db5e-17bb-4504-b877-276a574478f6)

[2022-08-16 13:57] iriteshp commented on #45714
SOCKS access granted. Please continue with [the guide](https://depo-platform-documentation.scrollhelp.site/getting-started/Internal-tools-access-via-SOCKS-proxy.1821081710.html) to establish a connection to SOCKS proxy. If you run into any issues, please feel free to reach out in the [#vfs-platform-support](https://dsva.slack.com/archives/CBU0KDSB1) channel using the [support request workflow](htt

[2022-08-16 13:57] #45714 closed

[2022-08-16 13:57] Samara-Strauss commented on #45073
These look good to me! Great job, @andaleliz!

And yes, I think you can ping the team via Slack and let them know you won't be in today's meeting today. FWIW, I was having trouble zooming in on the "Email on File" mockup, and I'm not sure why. Is there a way to make that easier for the team to review?

[2022-08-16 14:03] kristenmcconnell commented on #41441
Sent a [rough draft](https://docs.google.com/presentation/d/1KhkVQ2eSJWPN3gO57ZEvhi6xRkQziN5PRsO6dK8Mx9k/edit?usp=sharing) to @ytsaoca, @benbrasso-agile6, and @loripusey to review.

[2022-08-16 14:13] loripusey commented on #44542
Timezones are not going live at the end of the Sprint; CHIP is still doing spikes; DOB is going live at the end of the sprint
@kristenmcconnell @zach-park @ytsaoca

[2022-08-16 14:13] rbeckwith-oddball commented on #43452
The PR has been submitted  https://github.com/department-of-veterans-affairs/platform-console-ui/pull/849

[2022-08-16 14:13] rbeckwith-oddball commented on #43452
The PR has been submitted  https://github.com/department-of-veterans-affairs/platform-console-ui/pull/849

[2022-08-16 14:13] loripusey commented on #41441
Report looks great, I love the format!

[2022-08-16 14:18] andaleliz commented on #45073
Thanks @Samara-Strauss ! I pinged the team on [this thread](https://dsva.slack.com/archives/C02TUH5U3HS/p1660659206137749) to get the review going.

Also I was able to move things around a bit and can join the call for the first 20 minutes, at least :)

[2022-08-16 14:18] allison0034 commented on #44401
@tameracorson I see you added a prototype and design comps in the comments above. Can you please add the correct design we need to review in the staging artifacts section of the ticket? The prototype and design PDF are different.

[2022-08-16 14:21] benbrasso-agile6 commented on #41441
Nice work, looks great. Left some comments.

[2022-08-16 14:22] vsaleem opened #45748 "Adding Victoria Saleem to DSVA Slack"
# Description

**new user requests**: please verify that the user does not already exist in dsva.slack.com (it may be the account exists, but is not in a particular channel)

Please add Vic Saleem, Va.gov/MHV - Developer [By Light] onto the DSVA Slack channel, email: victoria.saleem@va.gov.

Are you requesting to add an individual as a:

- Full member
- Single guest
- Multi-channel
- Switching fro

[2022-08-16 14:25] zachclarity commented on #45536
Added [PR for new issue template](https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/pull/548) in sensitive area for incident tracking.

[2022-08-16 14:25] laurwill commented on #45341
Thanks @aliyahblackmore for your thorough work here! Here are some notes from my review:
- In node 753, I changed "your COE" to "a COE" in the header to match the "how to request" page.
- Thanks for flagging those questions about how "through your lender" works when VA is the lender! I chatted with Beth, and we're going to move forward with this language for now and open a [ticket in the backlog](

[2022-08-16 14:26] #45633 closed

[2022-08-16 14:27] ianhundere commented on #45570
jenkins job has been tested, just coordinating when to flip all the switches for staging.

[2022-08-16 14:28] zachclarity commented on #45536
A section on communication was [added to the incident playbook](https://vfs.atlassian.net/wiki/spaces/ECP/pages/1565294641/va.gov+incident+playbook#Communication-on-Active-Incidents%5BhardBreak%5D) with these details.

[2022-08-16 14:35] loripusey opened #45749 "Make Veterans Aware of Changes to Pre-Check-in & Check-in"
## Problem Statement
Business partners are concerned that, as we make changes to Pre-Check-in & Check-in, that Veterans will be confused by the introduction of new content or enhancements. We should think through ways to make Veterans aware of changes.

[Slack thread](https://dsva.slack.com/archives/C02GXKL8WM6/p1660227396884689)

[2022-08-16 14:40] ytsaoca commented on #39390
@loripusey The original design included the time zone when it was built for usability testing. But the release of timezone function was postponed because of engineer efforts and we didn't  change the design at that time. I think we need to make it clear about what is the completed design and the current design for development.

[2022-08-16 14:46] girldadmk opened #45750 "Progress of centralization"

[2022-08-16 14:47] vbellissimo opened #45751 "Present/DOMO Platform website analytics to frequent content editors"
User story:

As a Platform Content team,
I want to show 1 or 2 Platform teams the Platform website analytics captured in DOMO and Confluence,
So we can gain insight into how helpful this information might be for them when adding or editing content on the Platform website.

Acceptance criteria:

- [x] Hold meeting with Platform team to gather Platform website feedback: https://vfs.atlassian.net/wik

[2022-08-16 14:48] tameracorson commented on #44401
@allison0034 resurfaced from above.  Please advise if you need anything else.  Linking @CarlDickerson for visibility.
**Link to Authenticated Experience screenshots**:

MVP Prototype with hotpots enabled here: https://www.sketch.com/s/1f2a2fbd-8d48-47c6-8e95-b26d5259a211/prototype/a/2BA4EE6C-B179-45B6-B951-499B96099C49

MVP Designs here: https://github.com/department-of-veterans-affairs/va.gov-tea

[2022-08-16 14:50] #43429 closed

[2022-08-16 14:52] zach-park commented on #39390
@loripusey note is added to the collections. Cc: @ytsaoca @kristenmcconnell

[2022-08-16 14:57] JoeTice commented on #44594
Research plan reviewed and refined

[2022-08-16 14:57] #44594 closed

[2022-08-16 14:57] JoeTice commented on #44595
Survey was launched 8/11

[2022-08-16 14:57] #44595 closed

[2022-08-16 15:08] brianseek commented on #45701
@jonathan-epstein13 Yep that is the one. I set up some events in code already that use the `recordEvent` function from the platform tools that send events like this:
`{event: check-in-language-switch-es}`
Where the last part of that string is the language that is being toggled to. Also not shown currently, but we are also planing to have Tagalog in the near future. So the options would be: en, es,

[2022-08-16 15:10] MitchLivingstone commented on #45449
Story approved by Brian Grubb. Please move to Prod. @AdamFreemer

[2022-08-16 15:11] #42736 closed

[2022-08-16 15:13] MitchLivingstone commented on #45408
Please run any plausible tests in staging to determine if the update fixed the underlining issues.

[2022-08-16 15:15] #45361 closed

[2022-08-16 15:16] ianhundere commented on #45570
the plan:
deploy all tf resources to all 3 envs
add dns_name to
route53 record
nginx config for the PR below
merge the devops repo PRs
bgs/evss routes
we’ll only do staging for this piece in order to test
jenkins job

then y’all test staging and if all is well i’ll make the necessary changes to the rev proxy for both dev / prod
![image.png](https://images.zenhubusercontent.com/624b40ac4980d90d7591

[2022-08-16 15:16] NCHLiberty opened #45752 "Analytics KPI dashboard request for Lighthouse VA Forms API Team"
# Request ADJUSTMENT to existing KPI Dashboard for find a search

Hi. i'm a Product Manager in the Lighthouse api program. One of the APIs we support is the VA Forms API which is used by the find a form feature on va.gov. I used to use this dashboard to monitor the search refinement rate (hoping to drive it down by some changes that several systems made). The refinement rate widget is no longer wo

[2022-08-16 15:26] #37625 closed

[2022-08-16 15:27] michelle-dooley opened #45753 "Update Form Funnel Steps for VFS Teams with Changes"
## Issue Description
As part of #44652 we reached out to VFS teams to confirm their current form funnel steps for the Forms KPI Dashboard.  For this ticket we will update those form funnels for the teams with changes.

---
## Tasks
[ ] 1010 CG - [updated funnel steps](https://docs.google.com/spreadsheets/d/1TrqoUUE9YqhYZb6pR2W6UoLg_H_Lbi-UuxNN5MI-vZ0/edit#gid=649068577)
[ ] 1010 EZ - [updated funn

[2022-08-16 15:27] chaseakirby opened #45754 "Add Instructions for teams to invite product owners and a11y support"
## User Story
I am a VFS team member trying to schedule my team's staging review but I sometimes forget to add a11y/product owners to the invite because I am unclear on who adds those specific people which makes me feel frustrated.

Assignee: @briandeconinck
Peer Reviewer: @jimuhh

## Description
In the Staging Review workshop, we identified two related issues; VFS teams not inviting their a11y su

[2022-08-16 15:30] #44808 closed

[2022-08-16 15:30] chaseakirby opened #45755 "Add guidance for out of team scope Collaboration Cycle findings"
## User Story
I am a Governance team member trying to present my findings at Staging Review but the VFS team has identified that the finding is either not in scope or not their problem because it's not part of the iteration or they are not the team accountable for addressing the issue which makes me feel frustrated and that I've burdened the VFS team.

Assignee: @seanasewell
Peer Reviewer: @briand

[2022-08-16 15:31] jsgarmon commented on #45612
@powellkerry : the preferred way to create _any_ AWS resource is to write Terraform code for it (or, if it's managed in EKS and we have an operator for it, use a manifest). This code can live in a slackbot specific repo, or in the devops repo under `terraform/applications`. You might find this a helpful resource: https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/api_gatew

[2022-08-16 15:32] jsimonVA opened #45756 "Platform Orientation Template Jarred Simon"
## Welcome and Introduction
Welcome to the Veteran's Administration (VA) Veteran Facing Services (VFS) team!
As a new VFS team member, you will be working in the web ecosystem we call the VA.gov Platform (or "**The Platform,**" for short).  The tasks on this list are designed to get you up to speed on the role of Platform, making it easier for you to do your job.

Because the VA is a huge organiza

[2022-08-16 15:33] chaseakirby opened #45757 "Add question to determine scope of changes in Collaboration Cycle Request"
## User Story
I am a Governance team member trying to document issues I am finding in the Staging Review but I am not sure what's in scope because the VFS team has shared the complete product without specified boundaries which makes me feel confused, unsure, and hesitant.

Assignee: @allison0034
Peer Reviewer: @briandeconinck

## Description
In Staging Review workshop, we identified one sticky not

[2022-08-16 15:42] pjhill commented on #44943
Closing because this work is duplicated elsewhere.

[2022-08-16 15:42] #44943 closed

[2022-08-16 15:42] ianMcCullough-ob opened #45758 "Request Custom Survey Test"
### Survey Type Requested

Feedback

### Product Name(s)

YAML Ticket Test

### Product Description

This is the first initial test by Ian

### Product URL(s)

url number 1
url number 2

### Launch Date

July 2, 2022

### PRA Approval

- [X] Yes
- [ ] No

[2022-08-16 15:55] SarahKay8 commented on #19013
Per Josh's recommendations, input field "Enter a location" has been wrapped within the <fieldset>

See photo for reference: ![Image 8-16-22 at 11.51 AM.jpg](https://images.zenhubusercontent.com/623cd4d6774110eeb19922cb/af35a1b1-600b-443f-8be2-5328ae982019)

@caw310

[2022-08-16 15:55] ianMcCullough-ob commented on #45729
@jwoodman5

Here is the URL to create a custom survey ticket: https://github.com/department-of-veterans-affairs/va.gov-team/issues/new?assignees=jwoodman5&labels=VSP-contact-center&template=request-custom-survey.yml&title=Request+Custom+Survey

Note: I don't believe there is an option for a date field, so I used a standard text input. Let me know what other content you want on the top or bottom of

[2022-08-16 15:56] allison0034 commented on #44401
Thank you @tameracorson! Not everyone has Sketch, but you can link all 3 if you want. We just need a way to access any screens that will be changing. I know the Sketch file posted 5 days ago was originally different than the PDF

[2022-08-16 15:58] laineymajor opened #45759 "Apps In Continuous Deployment"
## Problem Statement
Release Tools Team has enabled continuous deployment for apps ON the allowlist (apps without cross-app imports). We need to track which apps on the allowlist are utilizing CD, and for those relying on the daily deploy, we need to understand why the daily deploy is their preference.

- How might we track which apps are a) part of continuous deployment b) opted out of continuous

[2022-08-16 15:58] tameracorson commented on #44401
@CarlDickerson Can you drop the Sketch file for Unauthenticated, Authenticated, error states here? and I will move them up in the ticket to the right place.

[2022-08-16 16:02] loripusey commented on #42032
Looks good, left one comment (grammatical) on Check-in Word w/ track changes.

[2022-08-16 16:04] zachclarity opened #45760 "Fix bad links in PagerDuty EVSS an others"
# Description
Pagerduty is missing links and playbooks for this type of [Incident](https://dsva.pagerduty.com/incidents/Q2KSJYG9K8DDJ3).

# Tasks
- [ ] Add missing playbook this [type of incident.](https://dsva.pagerduty.com/incidents/Q2KSJYG9K8DDJ3)

[2022-08-16 16:05] SKasimow opened #45761 "Design | Profile | Messaging for Invalid Characters (non-ASCII)"
## Background

We need to limit the  character set for mailing and home addresses to ASCII only. The error message for users will be shown in-line immediately after a user moves focus off one of the address fields.

## Tasks
- [x] Create mock depicting recommended approach
- [x] Review with Content team to create appropriate messaging

## Acceptance Criteria
- [x] Mocks reviewed and approved
- [ ]

[2022-08-16 16:08] laurwill commented on #44599
Thanks so much Katherine! And thanks for hopping on zoom to look at the updates together.

@DanielleThierryUSDSVA , do you want to take a look at the doc with our questions before Megan copyedits, in case you have larger changes you'd like us to make? As we chatted, we can also draft similar text updates to the [10-10EZ confirmation page](https://www.sketch.com/s/da85cf44-4503-4e98-834e-ff068b242e

[2022-08-16 16:16] samcoforma opened #45762 "Confirm that Decision Review features still work"
Review Decision Review functionality to make sure everything still works since decision_review.url and decision_review.v1.url have been updated in vets-api by  @madebydna

Links for context:

- https://dsva.slack.com/archives/C5AGLBNRK/p1660264508343569
- https://docs.google.com/spreadsheets/d/111t6f4V3eCVkaKoBIxXi54_HlkPT-54qKShfRjl-iMs/
- https://github.com/department-of-veterans-affairs/devops/

[2022-08-16 16:18] ericasauv09 commented on #40792
[Samara's Sprint Plan](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/authenticated-experience/sprint-objectives/my-va/sprints-81-90.md#sprint-81-824---96)

[2022-08-16 16:19] michelle-dooley commented on #45133
@LucianaAlexanderMorais - we will begin discovery work on this request as part of this upcoming sprint.  We will reach out with any questions we may have as part of that work.  After discovery we will meet with you to review/discuss next steps.

[2022-08-16 16:22] chaseakirby commented on #45382
@bsuraj123 I have added you to vets.gov-write. You may close this ticket, we typically do not close this so that you can close this ticket when you are ready but all Platform actions have been completed.

[2022-08-16 16:25] michelle-dooley commented on #45510
@k80bowman - I'm going to schedule some time for us to go over this request so we can make we are both aligned on the ask and what we need to provide.  cc @jonathan-epstein13

[2022-08-16 16:25] beth-wodzinski commented on #44069
This failed testing. I followed the steps above, and at Step 6, I still see this ![image.png](https://images.zenhubusercontent.com/5f2d82cd1166696dbe88379c/dd92c5fd-f8ce-4e83-bac2-111c3728f2ec)

@ldelacosta

[2022-08-16 16:30] beth-wodzinski commented on #44069
note: this worked as expected on VAR RES patient Ruben Moreno, but did not work on VAOS SERVICES patient John Morrison.

[2022-08-16 16:33] GcioNapoleon opened #45763 "Platform Orientation Template [Napoleon Kernessant]"
## Welcome and Introduction
Welcome to the Veteran's Administration (VA) Veteran Facing Services (VFS) team!
As a new VFS team member, you will be working in the web ecosystem we call the VA.gov Platform (or "**The Platform,**" for short).  The tasks on this list are designed to get you up to speed on the role of Platform, making it easier for you to do your job.

Because the VA is a huge organiza

[2022-08-16 16:43] briandeconinck opened #45764 "Accessibility Orientation Session - August 2022 Off-Cycle"
## Issue Description
Hosted the Accessibility Orientation Session for VA.gov Platform on 8/17/2022. Off-cycle orientation session for US Digital Response onboarding.

---
## Tasks
- [x] Host the session and answer any questions that come up.

## Acceptance Criteria
- [x] We have provided an Accessibility Orientation session for VA.gov Platform for July 2022 (off-cycle).

[2022-08-16 16:46] ianhundere commented on #45570
currently have a test jenkins job, will remove this when the jenkins pr is merged / closed:
http://jenkins.vfs.va.gov/job/testing/job/testing_tf/

[2022-08-16 16:46] ldelacosta commented on #44069
@vbahinwillit - Could you please take a look at Beth's comments and advise?

[2022-08-16 16:56] MitchLivingstone commented on #45449
Merged and will be updated at 2pm EST. Will close when reflected in Prod. @AdamFreemer

[2022-08-16 16:59] aaronhietpas opened #45765 "[AWS / IAM] Group/team policy update for Ninja-Pigs"
## Who is the devops resource on your team?
@aaronhietpas

## Description

Need to add group lighthouse-ninja-pigs to existing users.

## Background/context
- team-matsomoto was split into two teams, one being ninja-pigs. Existing team members need this new group added to the user.

## Technical notes
- Once users are added to new team and verified that everything looks good, new ticket can be cre

[2022-08-16 17:01] tpharrison opened #45766 "BE - My VA - Onsite Notifications - Readiness Review"
## Background
Placeholder for https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/issues/547.

[2022-08-16 17:07] beth-wodzinski commented on #44070
This passes testing. The ^ character is no longer accepted when entering comments. This was not the solution discussed in this ticket but it's effective! Once the ^ is removed, the appointment is made as expected, and the comments appear properly in Vista. 

![image.png](https://images.zenhubusercontent.com/5f2d82cd1166696dbe88379c/1227ac0f-6607-478c-8342-10c04ea6b8ad)

[2022-08-16 17:07] #44927 closed

[2022-08-16 17:08] #37860 closed

[2022-08-16 17:08] #45071 closed

[2022-08-16 17:08] #43956 closed

[2022-08-16 17:10] #45220 closed

[2022-08-16 17:10] #45744 closed

[2022-08-16 17:12] ldelacosta commented on #44069
@beth-wodzinski - V2next feature toggle was turned off. Can you please re-test in staging and see if it's working? Thanks!

[2022-08-16 17:14] laineymajor opened #45767 "TEMPLATE"
This is only eligible for apps on the allowlist ([apps without cross-app imports](https://department-of-veterans-affairs.github.io/veteran-facing-services-tools/frontend-support-dashboard/cross-app-import-report)).

Detailed developer documentation can be found here.

## CONTINUOUS DEPLOYMENT (select option 1 or option 2 by Sept 7)
App team has reviewed this ticket in full, and chooses to move for

[2022-08-16 17:14] chloedotbrown commented on #45084
## Internal Analytics Process: BigQuery QA
Created a `vw_vsp_content_github` view in the vsp_sites folder in BigQuery. In order for a Github ticket to be included in this set, it had to meet one of the following conditions:
- Have at least one Content label: `documentation-support`,`pw-footer-feedback` OR
- Have at least one Platform Team label: `tools-fe`,`governance-team`,`qa-standards`,`service

[2022-08-16 17:15] djfredvs opened #45768 "08/22/22 9:30 AM VEText Pre-Check-In Configuration Training"
Booked by Jennifer Curtis
This training was cancelled due to the booking party not attending.

[2022-08-16 17:24] #44070 closed

[2022-08-16 17:28] ldelacosta commented on #44688
@jenniemc - Please put this code behind the `vaos-v2-next` toggle.

cc: @simiadebowale

[2022-08-16 17:32] CarlDickerson commented on #44401
@allison0034 Attached is PDF version of designs
[1095-B_MVP_Designs_081622.pdf](https://github.com/department-of-veterans-affairs/va.gov-team/files/9353132/1095-B_MVP_Designs_081622.pdf)
.

[2022-08-16 17:34] LucianaAlexanderMorais commented on #45133
Excellent, thank you!

From: Michelle Dooley ***@***.***>
Sent: Tuesday, August 16, 2022 12:20 PM
To: department-of-veterans-affairs/va.gov-team ***@***.***>
Cc: Morais, Luciana ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [department-of-veterans-affairs/va.gov-team] Analytics edge case KPI dashboard request for [Virtual Agent/ Chatbot] (Issue #45133)

@LucianaAlexanderMorais<https:/

[2022-08-16 17:47] Shoaib-VA opened #45769 "Adding Shoaib Sheikh to DSVA Slack"
# Description

**new user requests**: please verify that the user does not already exist in dsva.slack.com (it may be the account exists, but is not in a particular channel)

Please add Shoaib Sheikh, Va.gov - Lighthouse Developer into the DSVA Slack channel,
email: shoaib.sheikh@va.gov

Are you requesting to add an individual as a:

- Full member

- What channel(s) do they need to be added to?

D

[2022-08-16 17:49] ajakabcin commented on #42876
Tentatively scheduled for week of 8/29

[2022-08-16 17:50] ajakabcin commented on #42881
Tentatively scheduled for week of 9/12

[2022-08-16 17:51] sortizsh opened #45770 "How to isolate your applications and enable autonomous deployments"
### Description

The release tools team has been slowly isolating applications and adding them to the "allow-list" to enable autonomous deploys for those applications. Being on the allow-list means that changes to those applications are deployed immediately after merging instead of waiting for the daily deploy, resulting in faster, more frequent deploys (an OCTODE priority). Getting an application

[2022-08-16 17:52] sortizsh opened #45771 "How to isolate your applications and enable autonomous deployments"
### Description

The release tools team has been slowly isolating applications and adding them to the "allow-list" to enable autonomous deploys for those applications. Being on the allow-list means that changes to those applications are deployed immediately after merging instead of waiting for the daily deploy, resulting in faster, more frequent deploys (an OCTODE priority). Getting an application

[2022-08-16 17:52] dmkosko opened #45772 "Product Outline Template"
What

Determine if one standardized form should be used across OCTO or if the current form should be split into two, one for new work and one to prioritize work.

Why

Does it make sense to standardize the form or have a couple options depending on the need? Could a separation of the form benefit how we

Things to do

Speak to members of Health, Platform, and DE to discuss the form they use (could

[2022-08-16 17:52] fmccaf1 commented on #45615
Thanks for this helpful feedback, @claytonzook. All done here, but not clear on whether or not I'm supposed to close this ticket.

[2022-08-16 17:53] jaredcunha commented on #43318
@joshkimux Went with the option to use `aria-live="polite"`. Have some rationale in the PR if you want to take a look.

[2022-08-16 17:53] sortizsh commented on #45771
More slack context https://dsva.slack.com/archives/C5AGLBNRK/p1659467838886759

Hey benefits team! We (the platform release tools team) have been working on enabling autonomous deploys for all applications in vets-website. We've hand selected three of your applications that we feel are very close to being eligible for this functionality and would love your help in getting these applications on wha

[2022-08-16 17:53] fmccaf1 commented on #45663
All finished here @briandeconinck. I'm not sure if I'm supposed to close the ticket.

[2022-08-16 17:55] sortizsh opened #45773 "How to isolate your applications and enable autonomous deployments"
### Description

The release tools team has been slowly isolating applications and adding them to the "allow-list" to enable autonomous deploys for those applications. Being on the allow-list means that changes to those applications are deployed immediately after merging instead of waiting for the daily deploy, resulting in faster, more frequent deploys (an OCTODE priority). Getting an application

[2022-08-16 17:58] dsinla opened #45774 "COVID status messaging from Sitewide Facilities"
## What does your team need support for? Check all that apply.
- [ ] Launching one or more new unauthenticated (static) VA.gov pages
- [x] Making revisions to one or more existing unauthenticated (static) VA.gov page
- [ ] Launching a new online form, app, or tool on VA.gov
- [ ] Making revisions to an existing online form, app, or tool on VA.gov
- [x] Something else (please add details in the nex

[2022-08-16 17:59] joshkimux commented on #43318
Sounds good! Thanks @jaredcunha 🥳

[2022-08-16 18:01] acrollet opened #45775 "[FE] [SPIKE] Investigate how to parallelize feature toggle and session calls"
## Background
When initially loading the app, we first make a call to the vets-api feature toggles endpoint, parse the response, and only then call the check-in sessions endpoint. Let's see if we can parallelize the calls.

## Tasks
- [ ] [FE] Investigate parallelizing the calls & implement, if this is possible
- [ ] Create or update unit tests
- [ ] Create or update e2e tests
- [ ] Update relevan

[2022-08-16 18:03] LindseySaari opened #45776 "Sidekiq EKS configmap updates"
## Description
The [settings.yml file](https://github.com/department-of-veterans-affairs/devops/blob/master/ansible/deployment/config/vets-api/dev-settings.local.yml.j2) for the dev environment will need to be migrated over to a configmap for Sidekiq in K8s. The [vets-api k8s deployment also uses the same values](https://github.com/department-of-veterans-affairs/vsp-infra-application-manifests/blo

[2022-08-16 18:04] brianseek opened #45777 "[FE] - Append a URL Param for Error Type"
## Description
Our error pages could give a little more info for both the user and analytics purposes.

One idea was to append a URL param with an error type i.e. ?error=bad-token

## Tasks
- [ ] Append a URL param with an error type i.e. ?error=bad-token
- [ ] Create or update unit tests
- [ ] Create or update e2e tests
- [ ] Update relevant documentations (readme and use cases)

## Acceptance Cr

[2022-08-16 18:08] ewilson-adhoc commented on #45703
Looking into way to automate pdf generations,
currently looking into ways for generating index
Look into validation for adding manifest

[2022-08-16 18:10] #44354 closed

[2022-08-16 18:11] LindseySaari opened #45778 "Review Sidekiq K8s Failing Jobs"
## Description
The `EVSS::CreateUserAccountJob` is failing with the error `ArgumentError: Unable to uniquely identify request! Please check your services config. Matched endpoints: [[]]`. This job failure should be investigated and it's possible that it's related to betamocks. [See retries.](https://dev-api.va.gov/sidekiq/retries)

## Tasks
- [ ] Investigate `EVSS::CreateUserAccountJob` failures

[2022-08-16 18:11] LindseySaari opened #45779 "Review Sidekiq K8s Failing Jobs"
## Description
The `EVSS::CreateUserAccountJob` is failing with the error `ArgumentError: Unable to uniquely identify request! Please check your services config. Matched endpoints: [[]]`. This job failure should be investigated and it's possible that it's related to betamocks. [See retries.](https://dev-api.va.gov/sidekiq/retries)

## Tasks
- [ ] Investigate `EVSS::CreateUserAccountJob` failures

[2022-08-16 18:11] #44353 closed

[2022-08-16 18:11] LindseySaari opened #45780 "Implement HPA for k8s Sidekiq"
## Description

HPA (Horizontal Pod Autoscaling) should be improved for the k8s Sidekiq deployment. We want to scale based on queue size and not basic metrics such as CPU. The infra team is discussing, enabling scaling based on any exposed metric [KEDA as seen here](https://medium.com/swlh/scaling-sidekiq-workers-on-kubernetes-with-keda-6515c4ca8df4).

### Notes

- The KEDA operator will create a

[2022-08-16 18:11] mmiddaugh opened #45781 "Adjustments to Homepage data layer"
## Problems to be solved
It is difficult to find and understand data for interactions occurring on the homepage due to missing, vague, or competing event labels. We need to tweak the homepage data layer so that we can make data informed decisions and clearly communicate with stakeholders.

An attached spreadsheet has all the event action and labels occurring specifically on the VA.gov homepage, YT

[2022-08-16 18:12] mmiddaugh commented on #45781
[https://app.zenhub.com/files/133843125/a933b85d-a239-4c09-b6f7-811deefeda26/download](https://app.zenhub.com/files/133843125/a933b85d-a239-4c09-b6f7-811deefeda26/download)

[2022-08-16 18:14] LindseySaari opened #45782 "K8s Sidekiq Liveness/Readiness probes"
## Description
We will want to include Liveness/Readiness probes for the K8s Sidekiq pods. This will ensure that pods are ready and able to serve requests properly. We can most likely run something like `ps aux | grep sidekiq` to ensure that Sidekiq is up and running, but there could be other possibilities.

## Tasks
- [ ] Investigate Liveness/Readiness Solution
- [ ] Implement Liveness/Readiness

[2022-08-16 18:15] RLHecht commented on #44491
Moving to blocked until we hear back from the stakeholder.

[2022-08-16 18:15] steel36 opened #45783 "Determine desired outcomes and measurements"
## Issue Description
Clarify users, use cases. Ask how might we know we're collecting and presenting useful information?

Mural: https://app.mural.co/t/adhocvetsgov9623/m/adhocvetsgov9623/1660596741123/1be9a695e25cf1cda7fd73336d62de3295bf4d62?sender=u4f7db1750f2355f805e60296

## Tasks
- [x] What would be the desired user outcomes?
- [x] How might we measure these outcomes?
- [x] Lightweight person

[2022-08-16 18:16] LindseySaari opened #45784 "Onboard Sidekiq dev to Argo"
## Description
The new K8s Sidekiq offering will need to be onboarded to Argo. The operations team has a new onboarding process for K8s applications that differs from the previous jsonnet approach.

## Tasks
- [x] Ask infra for Onboarding Docs
- [x] Implement config to onboard app to argo

## Acceptance Criteria
- [x] Sidekiq K8s exists in Argo

## How to configure this issue
- [ ] _Attach a Miles

[2022-08-16 18:16] #43530 closed

[2022-08-16 18:17] claytonzook commented on #45615
You may close this Collab Cycle feedback type ticket at your discretion @fmccaf1

When you are ready for the official [Research Review touchpoint](https://depo-platform-documentation.scrollhelp.site/collaboration-cycle/research-review), feedback is instead given on the [Research Repo ticket](https://github.com/department-of-veterans-affairs/va.gov-research-repository/projects/1). Those do stay ope

[2022-08-16 18:18] LindseySaari opened #45785 "Implement K8s Sidekiq"
## Description
Similar to the k8s vets-api application, the sidekiq deployment will need to live in the k8s environment. The vets-api-server won't be able to process background jobs without this

## Tasks
- [x] Sidekiq is running in dev
- [x] Sidekiq is running in staging
- [x] Sidekiq is running in prod
- [x] Ensure ECR push and image tag update are synced properly

## Acceptance Criteria
- [x] S

[2022-08-16 18:19] tpharrison commented on #45684
@ericasauv09 @tmitchellgcio

The `/v0/profile/payment_history` endpoint returns a `403` response if the user is unauthorized to make the request.  The `403 Forbidden` response status code is a standard HTTP code indicating that the server understands the request but refuses to authorize it.

The authorization check for payment history requires the user to have the following IDs:
- ICN
- SSN
- Part

[2022-08-16 18:24] #45615 closed

[2022-08-16 18:27] #45658 closed

[2022-08-16 18:28] RLHecht commented on #34385
Note to Laura: Look at page views from the Iris spreadsheet. Also review if this pertains to other benefits too.

[2022-08-16 18:39] loripusey opened #45786 "[FE] Change the logic to when we show the "too many attempts" message"
## Deployment
Feature toggle check_in_experience_lorota_deletion_enabled

## Tasks
- [ ] [FE] Change the logic to when we show the "too many attempts" message
     - Use 410 response from backend
- [ ] Remove the local storage for the number of attempts
- [ ] Create or update unit tests
- [ ] Create or update e2e tests
- [ ] Update relevant documentations (readme and use cases)

## Acceptance Crit

[2022-08-16 18:40] bsuraj123 commented on #44984
@va-vsp-bot i see that my name is already listed in the VFS team roster. Not sure what else is there to be done. Could someone please approve this request at the earliest as I am stuck?

[2022-08-16 18:41] AdamFreemer commented on #45408
@MitchLivingstone  Code was deployed to Staging that will reset caution flags at the beginning of every institution builder run:

[code]

To UAT / User Acceptance Test this:

1) User must upload a standard file used in normal process with an Institution that is now "unflagged", where previously "flagged". It's important this is done by User not the Development group to rule out nuances with operat

[2022-08-16 18:45] loripusey opened #45787 "Clean up Feature Flags"
## Tasks
Clean up the following feature flags:
- check_in_experience_translation_day_of_enabled
- check_in_experience_translation_pre_check_in_enabled

## Code Review Steps
- [x] Read ticket details and verify that ACs are met
- [x] Review code in PR
- [x] Run branch locally
- [x] Check that new and updated translations use new keys
- [x] Check for hardcoded strings

[2022-08-16 18:46] andaleliz commented on #44229
@SKasimow yes, I'd love to!  [The mock-up I created to add the 1095-b preference](https://www.sketch.com/s/afd69a1f-72d2-430b-9b62-285e9d3f479c/v/5zZvbp/a/WK8xJy8) shows how it would look without the alert + input messaging.

But there's something I wrote in the description that's confusing me:

What else do we need to evaluate from the design side? Maybe something with analytics?

@cgednalske or

[2022-08-16 18:46] mokhanafs opened #45788 "Platform Orientation Template [Ahsan Khan]"
## Welcome and Introduction
Welcome to the Veteran's Administration (VA) Veteran Facing Services (VFS) team!
As a new VFS team member, you will be working in the web ecosystem we call the VA.gov Platform (or "**The Platform,**" for short).  The tasks on this list are designed to get you up to speed on the role of Platform, making it easier for you to do your job.

Because the VA is a huge organiza

[2022-08-16 18:50] mhaley37 opened #45789 "Console UI needs a Sentry auth token for API requests"
## Description
The Console UI app integrates with VSP organization of [Sentry](sentry.vfs.va.gov/) by using the API to retrieve issues.  This process works but is using a user-based auth token (with my user).

While this works, it is not recommended because of:
![image](https://user-images.githubusercontent.com/2686352/184955467-e5f3e3d7-2f62-4baf-9d7a-a1c6e3c3d1f4.png)

Per [Sentry docs](https://

[2022-08-16 18:51] SKasimow commented on #45400
@Samara-Strauss - was reviewing this ticket with Adam and wanted to see if you had any concerns with the following approach:

1. The error message will show in-line immediately after a user moves focus off one of the address fields. This includes:
     - address line 1, 2, and 3
     - city
     - state/province/region (for international addresses)
     - international postal code

2. There is a s

[2022-08-16 18:55] benbrasso-agile6 commented on #44570
Going to move this ticket back to Current Sprint. Next step is to meet with platform team. Scheduled for 8/23.

[2022-08-16 18:56] Shoaib-VA opened #45790 "SOCKS access for [individual]"
### Your Name

Shoaib A Sheikh

### Your Email

shoaib.sheikh@va.gov

### Your Role and Team

Software Engineer on Lighthouse VA

### Product Manager (PM) name and email

Nichole Harris, Nichole.harris@va.gov

### Product Owner (PO) name and email

Premal Shah, Premal.shah@va.gov

### Access Type Requesting

developers

### Public SSH Key

ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAIXd4TDDbfBH143yq88kE

[2022-08-16 18:57] #45790 closed

[2022-08-16 18:59] Shoaib-VA opened #45791 "AWS access for [individual]"
### COR Name

Cecila Lee

### Vendor Onboarding Representative Name

Liberty IT -  Michael G. Lovejoy

### Your Name

Shoaib Sheikh

### Your Email

shoaib.sheikh@va.gov

### Team, Role, and Company of the target individual

Team Ninjapigs, Software Engineer, BAH

### Product Manager (PM) name and email

Nichole Harris, harris_nichole@bah.com

### Product Owner (PO) name and email

Premal Shah, pr

[2022-08-16 19:05] #45252 closed

[2022-08-16 19:07] mleclerc00 commented on #45791
@Shoaib-VA

I was unable to find you in either of the available rosters (vfs/platform)

can you please make sure you have taken the appropriate steps for the orientation process here -> https://depo-platform-documentation.scrollhelp.site/getting-started/Platform-Orientation.1877344532.html

[2022-08-16 19:09] MitchLivingstone commented on #45408
Email sent to Brian Grubb to run UAT in staging to determine if the updated code has fixed the caution flag problem.

[2022-08-16 19:10] tameracorson commented on #45590
@jonathan-epstein13 can we try vets-write-all for francis.obiesie@themostudio.com **francisobi**  He just accepted VA GitHub correctly.  Thank you

[2022-08-16 19:16] #45543 closed

[2022-08-16 19:16] aliyahblackmore commented on #45341
Thanks for this @laurwill ! The reorganization of the instructions in node 750 look great to me. And I agree, it solves my related questions re: the phone number placement. I applied those changes to 751 and I went ahead and removed the link ["Learn more about how to apply for a housing grant"](https://www.va.gov/housing-assistance/disability-housing-grants/how-to-apply/) as it would just link to

[2022-08-16 19:16] ajakabcin commented on #45543
Closing this as we have the required tests but @aagosto90 feel free to keep trying to additional optional tests!

[2022-08-16 19:18] joeniquette opened #45793 "New Account stat required for SiS"
# Description
Adds a log for new accounts created within Sign-in Service.

[2022-08-16 19:19] Samara-Strauss commented on #45400
Sounds good to me!

[2022-08-16 19:20] SKasimow commented on #45400
Thank you!

[2022-08-16 19:22] briandeconinck commented on #45663
@fmccaf1 You are welcome to close this out whenever you've addressed the feedback and are ready for it to be closed -- no need for permission from us. Thanks!

[2022-08-16 19:23] joeniquette opened #45794 "fix create SiS account links type"
On the create account buttons, we need to change `type` from `idme_signup` to `idme` and `logingov_signup` to `logingov`

[2022-08-16 19:23] benbrasso-agile6 commented on #42032
Pushed updates to [Git](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/checkin/product/product-guides/README.md)

[2022-08-16 19:24] benbrasso-agile6 commented on #42032
@zach-park there is a task in the comments above for you. It is to update the user flow. Take a look at my notes in the comment above about what should be updated.

[2022-08-16 19:24] hncj811-va commented on #45704
I need the same access as Derek Brown and/or Larry Crochet

[2022-08-16 19:28] brdunfield opened #45795 "[SPIKE] [FE] Look into refactoring Error pages to make them less opaque"
## Description
Our error pages are all handled from various internal states and data checking. This can make it difficult to tell how different error pages are reached, and difficult to make data about error pages visible to external processes like analytics.

This spike is meant to brainstorm ways we could refactor our error page(s) to make them both more understandable from a code perspective, a

[2022-08-16 19:32] brdunfield commented on #45777
At one point I had partially implemented this functionality (which was later removed as it wasn't necessary for what we were trying to do)

Link to that PR in case it helps whoever's picking this up:
https://github.com/department-of-veterans-affairs/vets-website/pull/20895/files

[2022-08-16 19:33] chaseakirby opened #45796 "Update artifact language to clarify linking artifacts in ticket"
## User Story
I am a Governance team member supporting the Collaboration Cycle trying to complete my review of the VFS product but I don't have access to the necessary artifacts because VFS teams don't provide the information I need and/or don't validate access which makes me feel super frustrated, angry and annoyed.

Assignee: @CherylEvans
Peer Reviewer: @seanasewell

## Description
Sticky notes

[2022-08-16 19:33] jonathan-epstein13 commented on #45756
Added necessary information to section _Share your info with Platform_. Added to the VFS Team Roster.

[2022-08-16 19:34] hncj811-va commented on #45704
@mleclerc00
I need access to execute maintenance requests for saml-proxy and oauth-proxy projects both of which team Pivot! is responsible for maintaining.

[2022-08-16 19:36] ericasauv09 commented on #45684
Thank you @tpharrison for digging in. The main issue here is that this is happening for users who should not be seeing the Payments and Debts section at all because they do not have any previous payments or debts with the VA. In this case I think we were expecting the API to return an empty array since the user has no payment or debt history (@tmitchellgcio correct me if i'm wrong). If this is an

[2022-08-16 19:36] RLHecht commented on #44612
@aliyahblackmore Here are the Tagalog translations ready for you!

[https://app.zenhub.com/files/133843125/8429330f-12c7-4d33-bb3a-fccbc1109342/download](https://app.zenhub.com/files/133843125/8429330f-12c7-4d33-bb3a-fccbc1109342/download)

[https://app.zenhub.com/files/133843125/561d4ee4-3a31-4a72-85ea-61b4cf7a5dce/download](https://app.zenhub.com/files/133843125/561d4ee4-3a31-4a72-85ea-61b4cf7a5

[2022-08-16 19:44] LabHanif opened #45797 "Platform Orientation Template [Labiba Hanif]"
## Welcome and Introduction
Welcome to the Veteran's Administration (VA) Veteran Facing Services (VFS) team!
As a new VFS team member, you will be working in the web ecosystem we call the VA.gov Platform (or "**The Platform,**" for short).  The tasks on this list are designed to get you up to speed on the role of Platform, making it easier for you to do your job.

Because the VA is a huge organiza

[2022-08-16 19:44] tpharrison commented on #45684
Thanks @ericasauv09.  Can someone give me a walkthrough at some point so I better understand the context and make sure I'm looking at the right endpoints?

[2022-08-16 19:47] rsmithadhoc commented on #45713
- It ended up being a CSS issue, details here https://dsva.slack.com/archives/CBU0KDSB1/p1660675921836659?thread_ts=1660580679.052349&cid=CBU0KDSB1

[2022-08-16 19:47] #45713 closed

[2022-08-16 19:47] RLHecht commented on #42748
This work is complete. I've started a new ticket with newer pages to review. Closing.

[2022-08-16 19:47] #42748 closed

[2022-08-16 19:48] andaleliz commented on #31410
Hi @tmitchellgcio! I talked to Danielle about this and there is a copy update that needs to be made.  The heading should read:

and then the body should say:

I haven't had a chance to update the Sketch files yet (Could you make a ticket for this please, @SKasimow? @cgednalske or I can make this update) but wanted to get this to you so I don't hold you up.

[2022-08-16 19:49] jonathan-epstein13 commented on #45763
Added necessary information to the section _Share your info with Platform_. Added to the VFS Team Roster.

[2022-08-16 19:49] k80bowman commented on #45510
Thank you @michelle-dooley!

[2022-08-16 19:51] ericasauv09 commented on #45684
yes absolutely @tpharrison , ill set up some time with myself and Taylor so we can discuss this.

[2022-08-16 19:56] ianhundere commented on #45570
i'll keep this ticket open until the remainder changes for the rev proxy have been completed / merged.

[2022-08-16 19:58] SKasimow opened #45798 "Collaboration Cycle for Profile Team | Notification Preferences | 1095B Form"
### VFS team name

Profile Team

### Product name

Notification Preferences

### Feature name

1095B

### GitHub label for product

Profile

### GitHub label for feature

notification-preferences-1095b

### When did/will you start working on this product/feature?

August 10, 2022

### Will your work result in visible changes to the user experience?

Yes

### Are you doing research with VA.gov user

[2022-08-16 20:04] jacobworrell commented on #45652
@joshkimux is this ticket redundant to the other tier 1 defect

[2022-08-16 20:06] #43117 closed

[2022-08-16 20:06] #43116 closed

[2022-08-16 20:06] #43113 closed

[2022-08-16 20:06] #43028 closed

[2022-08-16 20:06] #43115 closed

[2022-08-16 20:06] #43025 closed

[2022-08-16 20:06] #43039 closed

[2022-08-16 20:06] #42982 closed

[2022-08-16 20:06] #43026 closed

[2022-08-16 20:08] adamwhitlock1 commented on #45366
@SKasimow this is live in staging and I was able to see the new content

![Screen Shot 2022-08-16 at 11.31.26 AM.png](https://images.zenhubusercontent.com/60ddebd504ce2452d0e0fa92/11114834-657a-4573-8353-98db60676625)

[2022-08-16 20:12] jonathan-epstein13 commented on #45590
@tameracorson looking into this. @shiragoodman what would be next steps for vets-write-all for @francisobi  Thank you!

[2022-08-16 20:12] kristenmcconnell commented on #41441
- [Staff-facing Markdown Research Report](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/checkin/research/staff-facing/corpus-christi-in-person/research-report.md)
- [Veteran-facing Markdown Research Report](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/checkin/research/veteran-facing/corpus-christi-in

[2022-08-16 20:15] jonathan-epstein13 commented on #45788
Added necessary information for the section _Share your info with Platform_. Added to VFS Team Roster.

[2022-08-16 20:17] jonathan-epstein13 commented on #45797
Added necessary information to the section _Share your info with Platform_. Added to VFS Team Roster.

[2022-08-16 20:19] kylesoskin opened #45799 "AWS access for Kyle Soskin"
### COR Name

Other - please specify in 'Additional Notes'

### Vendor Onboarding Representative Name

Other - please specify in 'Additional Notes'

### Your Name

Kyle Soskin

### Your Email

kyle.soskin@adhocteam.us

### Team, Role, and Company of the target individual

Benefits Team #1, Back-end Software Engineer, Ad Hoc

### Product Manager (PM) name and email

Sade Ragsdale, sade.ragsdale@va.

[2022-08-16 20:20] SKasimow opened #45800 "Design | Profile | BAI | Contact Center Updates"
## Background

Addition of new BAI alerts to the contact center guide.

## Tasks
- [x] Add new BAI alerts and associated messaging

## Acceptance Criteria
- [x] Let PM know when completed and ready to have explanatory test added

## How to configure this issue
- Include practice area in title -- e.g., [Design], [FE], [BE]
- Include project/initiative name - e.g., Auth Profile: Address Change Messa

[2022-08-16 20:23] joshkimux commented on #45652
@jacobworrell it is! Let me close this out and transfer the details over to the new tier 1 defect. Let me know if you'd prefer me to break down that mega tier 1 defect into smaller more palatable ones. I ended up grouping them together as there's lots of interdependencies. Going to work with @skylerschain on this more, but my hunch is that we might want to rethink the design of these accordions wh

[2022-08-16 20:27] kristenmcconnell commented on #45406
Started a [draft](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/checkin/research/veteran-facing/appointment-info-hierarchy/research-plan.md) based off of an unmoderated card sort completed by the Mobile App team.

[2022-08-16 20:30] SKasimow opened #45801 "Design intent | Profile | Notification Settings | 1095B"
# NOTE
This template is being deprecated. If your kickoff meeting took place after May 26, 2022, you should be following the guidance specified in the Collaboration Cycle Rquest per the [May 26, 2022 change history post](https://depo-platform-documentation.scrollhelp.site/collaboration-cycle/Change-history.1846870032.html) instead. If you are unsure if this applies to you, please reach out to the

[2022-08-16 20:33] hdjustice opened #45802 "[FE] 10-10EZ - Medicare Claim number: Determine solution to "required" attribute for bug"
## Background
We received an email from Tarsha stating that applicants are getting blocked from proceeding through the 10-10EZ at the Medicare effective date page.
It was quickly determined that, although the field itself was hidden to 75% of applicants, the 'requirement' to complete the field was not.  This caused the page to fail due to missing information.

## Tasks

- [x] Turn feature toggle t

[2022-08-16 20:33] hdjustice opened #45803 "[FE] 10-10EZ - Medicare Claim number: Determine solution to "required" attribute for bug"
## Background
We received an email from Tarsha stating that applicants are getting blocked from proceeding through the 10-10EZ at the Medicare effective date page.
It was quickly determined that, although the field itself was hidden to 75% of applicants, the 'requirement' to complete the field was not.  This caused the page to fail due to missing information.

<Details>
<Summary>Email from Tarsha<

[2022-08-16 20:33] hdjustice commented on #45803
This bug was resolved, tested and deployed to production on 8/11/2022

[2022-08-16 20:33] #45652 closed

[2022-08-16 20:35] #45803 closed

[2022-08-16 20:35] #45801 closed

[2022-08-16 20:43] joeniquette opened #45804 "SiS 202 error frontend redirect user to sign in modal"

[2022-08-16 20:50] beth-wodzinski commented on #44069
This passed testing with both Var Res and Vaos Service. @ldelacosta

[2022-08-16 20:51] ldelacosta commented on #44069
No issues reported. Closing out the ticket.

[2022-08-16 20:51] #44069 closed

[2022-08-16 20:51] joeniquette opened #45805 "fix authentication Sign in Service when there are no MPI records for a new user"
when a user creates a new verified account we call mpi to create the person, we then run an add person but the local object doesnt have the ICN yet for that update person call. We must update the local object or find a way to inject the ICN from the first MPI response into the second MPI call for update person.

[2022-08-16 20:51] ldelacosta commented on #44070
No issues reported. Closing out the ticket.

[2022-08-16 20:53] jsokohl commented on #45026
@joshkimux sorry to be late in responding. Some answers to your bullets:

- As far as I know, VA loan numbers do differ in length. I've not found alphanumeric ones, but, hey--they could exist, amirite?
- I can say with a fair degree of certainty that Veterans have no idea where there loan number is nor where to find it. It's on a piece of paper in their basement in a box, probably. Think about the

[2022-08-16 20:57] mleclerc00 commented on #45799
listed on the VFS Team Roster.

**For AWS ACCESS**
User: Kyle Soskin
COR: Keith Riley
VOR: Jeff Langworthy
Approval needed: @department-of-veterans-affairs/operations-aws-approvers
AWS Admin Role: no

[2022-08-16 21:01] pjhill commented on #44945
As indicated, the ingest of error logs is being worked under the linked ticket.

[2022-08-16 21:01] #44945 closed

[2022-08-16 21:06] pjhill commented on #44574
This is done! We will establish a process and documentation to support this visualization under another ticket.

[2022-08-16 21:06] #44574 closed

[2022-08-16 21:06] aliyahblackmore commented on #44612
Got started on the Tagalog page today and will add in the jump link to the survivors section, as you mentioned.  Thanks, Randi!

[2022-08-16 21:06] DanielleThierryUSDSVA commented on #43352
Hi @megzehn. Just checking in on this latest page. Thanks!

[2022-08-16 21:09] kylesoskin opened #45806 "Sidekiq Admin UI Access Request"
_Access to the Sidekiq Admin UI is managed through a GitHub team under the [department-of-veterans-affairs/va.gov-sidekiq team](https://github.com/orgs/department-of-veterans-affairs/teams/va-gov-sidekiq/members). Please provide your GitHub username to be added to that team, along with a reason access is required._

- GitHub username: kylesoskin
- Reason access is required: I am now on the Benefit

[2022-08-16 21:10] jsgarmon commented on #45765
Listed users added to lighthouse-ninja-pigs.

[2022-08-16 21:10] #45765 closed

[2022-08-16 21:26] RLHecht commented on #43352
@DanielleThierryUSDSVA Megan and I both read through this and it's ready for you!

[2022-08-16 21:31] zach-park commented on #42032
@benbrasso-agile6 , could you re-ulpload the attached "Pre-check-in user flow (Read-only) for user guide.png" file? Thank you!

[2022-08-16 21:34] benbrasso-agile6 commented on #42032
https://github.com/department-of-veterans-affairs/va.gov-team/issues/42032#issuecomment-1213507812

[2022-08-16 21:34] benbrasso-agile6 commented on #42032
It looks like it’s working. I relinked to the comment above.

[2022-08-16 21:35] SKasimow opened #45807 "Design | Profile | BAI | Internal UAT planning"
Plan for internal UAT sessions. This is based on assumption that VA Profile will support modifying a few internal Profile team member's accounts for testing purposes.

## Tasks
- [ ] Provide VA Profile with UAT participants info
- [x] Outline and review what UAT participants should test
- [ ] Notify PM to open tickets for any issues discovered

## Acceptance Criteria
- [ ] UAT participants have ac

[2022-08-16 21:42] kristenmcconnell commented on #41441
@ytsaoca's changes have been incorporated into the report. I will finalize this ticket tomorrow.
- I still need to update the hypotheses section in the Veteran markdown file, post the PDF report version to GitHUB, update the research repo, then talk to Sarah (schedule readouts) and Lori (meet to discuss tickets).

[2022-08-16 21:44] DanielleThierryUSDSVA commented on #43352
Yay! Thank you both so much!

[2022-08-16 21:49] zach-park commented on #42032
Updated and merged to the master branch:

Portrait version: https://share.goabstract.com/2b4102c7-cca4-40d6-9cd2-add6ab199478?collectionLayerId=6419aab2-c5a1-43ec-b24e-10f95f0be244&mode=design

Landscape version: https://share.goabstract.com/2b4102c7-cca4-40d6-9cd2-add6ab199478?collectionLayerId=4d0369ce-7ad6-47b1-9bc3-c40521fe7ef7&mode=design

[2022-08-16 21:55] ianhundere commented on #45570
manually ran the revproxy deploy job for staging as well as the seed job.

[code]

revproxy is updated

[2022-08-16 22:13] aarathi-poldass opened #45809 "Update Display of Type of Care for HSRM Sending Treating Specialty for Type of Care for Upcoming CC Appointments"
## Description
After the BE changes were deployed [VAOSR-4178](https://issues.mobilehealth.va.gov/browse/VAOSR-4178) to SQA environment the SQA team was able to validate the changes. HSRM is now returning "ccTreatingSpecialty" attribute in the response body for an upcoming CC appointment.

As per the discussion on the Scrum of Scrum call the FE will display the exactly data returned on the "ccTrea

[2022-08-16 22:17] aarathi-poldass commented on #45809
@ldelacosta Can you please assign this ticket to the developer for further analysis. @simiadebowale

[2022-08-16 22:20] tlei123 opened #45810 "[QA-internal] General QA Best Practices documentation"
Per Deputy Director of Engineering Carter Baxter's suggestion, document general QA Best Practices in collaboration with other QA people.

[2022-08-16 22:29] acrollet opened #45811 "[FE] [SPIKE] Investigate page load slowness week of July 26"
## Background

@benbrasso-agile6 posted performance numbers showing a pretty bad week july 26 -> aug 1 in slack: https://dsva.slack.com/archives/C02G6AB3ZRS/p1659450354659879

## Tasks
- [ ] [FE] Investigate issue
- [ ] Create or update unit tests
- [ ] Create or update e2e tests
- [ ] Update relevant documentations (readme and use cases)

## Acceptance Criteria
- [ ] Passes Accessibility checks u

[2022-08-16 22:30] acrollet commented on #45811
@loripusey I've spent a good deal time on this so I created this issue to track.

[2022-08-16 22:32] acrollet commented on #45811
Wrapped up investigation, summary and actions taken copied in from slack: https://dsva.slack.com/archives/C02G6AB3ZRS/p1660688785487609?thread_ts=1659450354.659879&cid=C02G6AB3ZRS

Summary:

It appears that the higher figures were driven by one really bad day, and maybe even one really bad hour or sample. It may have been coincident or caused by vets-api issues, but I haven’t been able to confirm

[2022-08-16 22:32] #45811 closed

[2022-08-16 22:45] tlei123 commented on #45626
Instead of tracking all tech-details in this ticket, I'm starting a [Google Doc](https://docs.google.com/document/d/1I_xxlNJhrJH73YB_sVJBn25dcBMVPyRGUiEbTYlck_s/) for tracking my Node-versions research.  Version-specific logs will also be saved and linked to that doc.

[2022-08-16 22:46] jsokohl commented on #43249
Hey @joshkimux  and @skylerschain
For the field label on step 1, you could change
`Please specify`
to
`Please specify your choice of other location`

Keep in mind that this makes the label more verbose, and that could introduce another problem. It does though provide traceability to the area in which the choice exists without overly and redundantly explaining the singular choice.

For the checkbox

[2022-08-16 23:11] #45806 closed

[2022-08-16 23:21] SKasimow opened #45813 "Design | Profile | Notification Preferences | Design Intent 1095B"
## Description

As part of the Collab Cycle process our next touchpoint is for the  Design Intent.
     - Navigate to reference link: [Design Intent Guidance](https://depo-platform-documentation.scrollhelp.site/collaboration-cycle/design-intent)

The artifacts  requested below need to be provided at least **two days** before the scheduled Design Intent
and placed in the specific, designated practi

[2022-08-16 23:24] #45260 closed

[2022-08-16 23:30] dsinla commented on #45628
All artifacts added:

-  Product outline
-  Finalized design prototype or mockup
-  Research plan
-  Conversation guide
-  Research Findings

[2022-08-16 23:36] SKasimow opened #45814 "Design | Profile | Notification Preferences 1095B | Design Intent"
### Background

The next step in the Collab Cycle touchpoint for Notification Preferences - 1095B is the Design Intent (based on the feedback from the Collab cycle kick-off [#45798](https://github.com/department-of-veterans-affairs/va.gov-team/issues/45798))

Note: all requested artifacts should be posted at least two days before the scheduled Design Intent.
Artifacts should be placed in the speci

[2022-08-16 23:50] SKasimow opened #45816 "Profile Team | Sprint 82 | Sept 7 - 20"
## ![image.png](https://images.zenhubusercontent.com/5fb57aafa11eae0592a15cb1/3da62435-d4b1-458d-9206-91587f3c8503) New Forms Library

#### FE - Adam
- [ ] #45721 Update Mobile and Work Numbers

[2022-08-16 23:54] SKasimow opened #45817 "Profile Team | Sprint 82 | Sept 7 - 20"
## ![image.png](https://images.zenhubusercontent.com/5fb57aafa11eae0592a15cb1/3da62435-d4b1-458d-9206-91587f3c8503) New Forms Library

#### FE - Adam
- [ ] #45721 Update Mobile and Work Numbers

[2022-08-16 23:57] #45816 closed

[2022-08-16 23:59] SKasimow opened #45818 "Profile Team | Sprint 82 | Sept 7 - 20"
## ![image.png](https://images.zenhubusercontent.com/5fb57aafa11eae0592a15cb1/3da62435-d4b1-458d-9206-91587f3c8503) New Forms Library

#### FE - Adam
- [ ] #45721 Update Mobile and Work Numbers

[2022-08-17 00:01] #45818 closed

[2022-08-17 00:26] SKasimow commented on #44229
@andaleliz - I took the comment below to refer to needing to track what other implications have to be considered. Front-end work, changes/updates to analytics....

[2022-08-17 00:28] SKasimow commented on #44229
@andaleliz - are we just want to get a swag from Adam on FE work? If so, this would be a perfect topic to cover in grooming!

[2022-08-17 00:40] andaleliz commented on #45814
@SKasimow thanks for creating this! Any idea when we're thinking of doing research for this? I see "research plan" as part of the artifacts. I can go ahead and create that this sprint if we want to include it in the design intent.

I'm on the fence about whether or not we should get sign off from the 1095b legal review _before_ design intent, or if we should just go ahead and get the design review

[2022-08-17 00:41] andaleliz commented on #44229
Yes, I think so. Let's talk about it in grooming.  I'm not sure how to evaluate impacts to analytics - is that something you can tackle?

[2022-08-17 00:44] SKasimow commented on #44229
Sounds good.  Yes I can look into what's being tracked and make sure changes won't impact ability to report. We can also set a baseline to ensure that changes are +

[2022-08-17 10:57] DanielleThierryUSDSVA commented on #43352
Status update:  http://preview-prod.vfs.va.gov/preview?nodeId=48211 is now with SMEs.

[2022-08-17 11:44] MitchLivingstone commented on #45449
Updated in Prod. Story complete and closed. 08/17/2022

[2022-08-17 11:44] #45449 closed

[2022-08-17 11:54] jonathan-epstein13 commented on #45670
@tameracorson can I confirm that both Munish, and Shashank have the access and received their confirmation emails?

[2022-08-17 12:17] timwright12 commented on #30478
Just saving this here, it's an endpoint to grab the latest production release of content-build: https://api.github.com/repos/department-of-veterans-affairs/content-build/releases/latest

I was wondering if we could grab the latest built assets from content-build instead of running the 30min+ build in a codespace to speed things up. This isn't the link to do that (the assets are not built), but I d

[2022-08-17 12:24] loripusey commented on #44570
Can you include me in the meeting @benbrasso-agile6 ?

[2022-08-17 12:27] ph-One opened #45819 "[Helm] Create vets-api-server Helm chart for staging environment"
- [X] Create Helm chart
- [X] Add vets-api-server staging to Argo Projects
- [X] Add vets-api-server staging to Argo app-of-apps

[2022-08-17 12:29] #45819 closed

[2022-08-17 12:31] ph-One opened #45820 "[Helm] Create vets-api-server Helm chart for production environment"
- [X] Create Helm chart
- [X] Add vets-api-server prod to Argo Projects
- [X] Add vets-api-server prod to Argo app-of-apps
- [X] Deploy vets-api-server prod

[2022-08-17 12:31] #45820 closed

[2022-08-17 12:33] ph-One commented on #45819
https://argocd.vfs.va.gov/applications?showFavorites=false&proj=&sync=&health=&namespace=&cluster=&labels=&search=vets-api-server
![image.png](https://images.zenhubusercontent.com/622146ffd0422cdb4d9fdd52/83c8eade-8000-4e02-a805-5a43263af517)
![image.png](https://images.zenhubusercontent.com/622146ffd0422cdb4d9fdd52/e3721a7c-2a8b-4f48-a997-3bc3e6e1bc55)

[2022-08-17 12:34] ph-One commented on #45820
https://argocd.vfs.va.gov/applications?showFavorites=false&proj=&sync=&health=&namespace=&cluster=&labels=&search=vets-api-server
![image.png](https://images.zenhubusercontent.com/622146ffd0422cdb4d9fdd52/1712534b-861b-4526-bd2a-944f31176001)
![image.png](https://images.zenhubusercontent.com/622146ffd0422cdb4d9fdd52/f44f09c3-88cb-4ee1-acc9-a72ffbdac2d4)

[2022-08-17 12:40] ph-One commented on #45709
`more_clear_headers 'Server';` needs added to openresty's configuration

[2022-08-17 12:41] laurwill opened #45821 "Swap bullets on Life Insurance Dividend Payment Options page"
## Issue Description

Steve asked us to change 2 bullets on the [Life Insurance Divided Payment Options](https://www.va.gov/resources/life-insurance-dividend-payment-options/) page.

Under Option 7, he asked us to swap the bullets to:
- A direct deposit of money into your bank account, or
- A U.S. Treasury check mailed to you (in limited situations)

This is due to an effort by treasury to make al

[2022-08-17 12:41] ldelacosta commented on #45809
Hey @aarathi-poldass aarathi-poldass I'll create a story to handle this type of work on the FE side. The type of care label is already been created for CC appts. It's the data that needs to be pass through on the FE page.

[2022-08-17 12:51] #43108 closed

[2022-08-17 12:53] raywangoctova commented on #45613
Approved on behalf of Thomas and Mike while they are out on leave.

[2022-08-17 12:54] ianhundere commented on #45570
confirmed staging revproxy is correctly updated and that ec2s are being registered with LB:
[code]
![image.png](https://images.zenhubusercontent.com/624b40ac4980d90d75917e4c/0c74748a-6ebb-454f-86cb-dd5d19d6bc42)

[2022-08-17 13:03] chaseakirby commented on #45590
@tameracorson I have added Francis to vets.gov-write and checked off the Platform task. She may take some time to show in ZenHub I believe.

[2022-08-17 13:04] #44641 closed

[2022-08-17 13:07] chaseakirby commented on #45797
@LabHanif you're not a member of the VA Organization on Github and this is a prerequisite to being added to the vets.gov-write team for repo access. Please refer to this [guidance on Platform Website.](https://depo-platform-documentation.scrollhelp.site/getting-started/request-access-to-tools#Requestaccesstotools-GettingaccesstotheVAGitHuborganization)

[2022-08-17 13:29] Mottie commented on #45026
I found this [LGY document through a Google search](https://www.benefits.va.gov/WARMS/docs/admin26/m26_01/M261_Chapter%206%20-%20Miscellaneous%20FINAL.docx) that explicitly describes the VA loan ID number (LIN)

![The VA LIN is comprised of the following 12 digits with three hyphens to separate the four categories of the 12 digits, for example XX-XX-X-XXXXXXX](https://user-images.githubusercontent

[2022-08-17 13:33] bsuraj123 commented on #44984
My info exists in the VFS team roster.

[2022-08-17 13:34] chaseakirby commented on #45788
@mokhanafs you're not a member of the VA Organization on Github and this is a prerequisite to being added to the vets.gov-write team for repo access. Please refer to this [guidance on Platform Website.](https://depo-platform-documentation.scrollhelp.site/getting-started/request-access-to-tools#Requestaccesstotools-GettingaccesstotheVAGitHuborganization)

[2022-08-17 13:35] jbritt1 commented on #36133
@yoomlam, do you need prod access at this time? Reminder to remove the perms fired today so checking in before removal.

[2022-08-17 13:35] bsuraj123 commented on #44984
I see that its listed as suraj.basnet@accenturefederal.com @va-vsp-bot

[2022-08-17 13:37] chaseakirby commented on #45716
@rvbell you're not a member of the VA Organization on Github and this is a prerequisite to being added to the vets.gov-write team for repo access. Please refer to this [guidance on Platform Website.](https://depo-platform-documentation.scrollhelp.site/getting-started/request-access-to-tools#Requestaccesstotools-GettingaccesstotheVAGitHuborganization)

[2022-08-17 13:38] chaseakirby commented on #45712
@IoanDobrescuAFS you're not a member of the VA Organization on Github and this is a prerequisite to being added to the vets.gov-write team for repo access. Please refer to this [guidance on Platform Website.](https://depo-platform-documentation.scrollhelp.site/getting-started/request-access-to-tools#Requestaccesstotools-GettingaccesstotheVAGitHuborganization)

[2022-08-17 13:39] chaseakirby commented on #45711
@normanknolhoff you're not a member of the VA Organization on Github and this is a prerequisite to being added to the vets.gov-write team for repo access. Please refer to this [guidance on Platform Website.](https://depo-platform-documentation.scrollhelp.site/getting-started/request-access-to-tools#Requestaccesstotools-GettingaccesstotheVAGitHuborganization)

[2022-08-17 13:40] chaseakirby commented on #45688
@vsaleem you're not a member of the VA Organization on Github and this is a prerequisite to being added to the vets.gov-write team for repo access. Please refer to this [guidance on Platform Website.](https://depo-platform-documentation.scrollhelp.site/getting-started/request-access-to-tools#Requestaccesstotools-GettingaccesstotheVAGitHuborganization)

[2022-08-17 13:44] calquisola commented on #44432
confluence doc created. https://vfs.atlassian.net/wiki/spaces/AMT/pages/2321711260/Adding+users+to+allow+list

[2022-08-17 13:49] jsokohl commented on #45026
Here's a screenshot from a WebLGY document that shows the numbers as samples:
![LIN example](https://user-images.githubusercontent.com/73672031/185149893-ff76132c-2915-4e3f-bc23-073d2b9500c8.png)

This comes from a [streamline refinance PDF](https://benefits.va.gov/HOMELOANS/documents/docs/order_irrrl.pdf).

I would suggest that we allow for numbers with or without hyphens or spaces, and that we d

[2022-08-17 13:53] tameracorson commented on #44719
Link to [Pilot Synthesis Mural ](https://app.mural.co/t/innovationboards1199/m/innovationboards1199/1660230894440/b4ad806c0583386a8d837ad413e88dedf67f6cb2?sender=u9b5ed127a54b211ed0460603)

[2022-08-17 13:54] tameracorson commented on #44719
Mural uploaded into VA-PO account 8/12/22

[2022-08-17 14:02] rjohnson2011 commented on #44939
In the process of writing a script to parse error logs in Javascript that will be plugged into CI via Curt's work. Expected return will be the test step where the error takes place, the error, and the filename.

[2022-08-17 14:06] hdjustice commented on #45802
Duplicate ticket to #45803.  closing

[2022-08-17 14:06] #45802 closed

[2022-08-17 14:07] tpharrison opened #45822 "BE - Auth Profile - Profile - Add Service History Claim Data to User Response"
## Background
The Profile page can be made more efficient by selectively calling vets-api endpoints for a user.  See [this ticket](https://github.com/department-of-veterans-affairs/va.gov-team/issues/44771#issuecomment-1206744816) for more details.

In order for the FE to be more selective when making vets-api calls on behalf of a user, it needs to know which endpoints the user is authorized to ca

[2022-08-17 14:10] #45663 closed

[2022-08-17 14:11] Mottie commented on #45026
I'm working on this now, and I was planning on changing the input into a text input and only allow numbers & dashes. There won't be any other restrictions like number of digits. Sound good?

[2022-08-17 14:13] s-caso commented on #44984
@jbritt1 Can you take a look at this and help Suraj move forward with his access request?

[2022-08-17 14:13] ldelacosta opened #45823 "[POC] Appointment List - Mobile View"
## Description
Product and Design team are looking to update the appointment list to help the Veteran better understand the details for their appointment.

### Background
We are looking for a proof of concept to be created that is designed to be experimental. The work should be capable of testing in a working environment. It may have some elements or functionality that may be excluded intentionall

[2022-08-17 14:21] joshkimux commented on #45026
That sounds great as an intermediary solution to me @Mottie 🥳

[2022-08-17 14:22] aagosto90 commented on #45477
@tmitchellgcio FE documentation is complete for [outstanding debts](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/my-va/payment-history/documentation/outstanding-debts-FE-documentation.md) and [benefit payments](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/my-va/payment-hist

[2022-08-17 14:22] #45477 closed

[2022-08-17 14:24] rbeckwith-oddball commented on #43452
The automated tests are having some issues that are being investigated now.

[2022-08-17 14:28] joshkimux commented on #45026
@jsokohl I updated the AC; hint text depends on if we're certain that the loan number is 12 numbers as it seemed like there were still outstanding questions around the consistency of the length

[2022-08-17 14:29] k80bowman commented on #319
For this ticket, we only need to make sure this issue is not happening in the Breadcrumbs web component. Neither of the staging links above are using the breadcrumbs web component, so don't test using them. This page does use the Breadcrumbs web component, so you should be able to test this on it: https://staging.va.gov/education/education-letters/

[2022-08-17 14:29] jsokohl commented on #45026
@joshkimux Gotcha!

[2022-08-17 14:37] vbellissimo opened #45824 "Platform website KPIs DOMO dashboard maintenance"
**User stories**
As a product manager of the Platform content team,
I want to provide access to the Platform website DOMO dashboard to other Platform teams,
So that they have website data (such as page views, engagement, etc.) about the content they maintain on the website.

As a new product manager of the Platform content team,
I want to clean up the existing DOMO dashboard for the Platform websi

[2022-08-17 14:46] yoomlam commented on #36133
@jbritt1 Yes, I'm still using prod access to check on Form 526 submissions for RRD (rapid ready for decision).

[2022-08-17 14:48] thehastingsp commented on #44006
@katherine-fung here are our preliminary findings - QuickSubmit is a third party tool that we can't confidently point them to, nor can we ensure that what they mail will be matched to the online claim they are filing, so we don't want to instruct them to mail it. LH is working on a solution to remedy this behind the scenes, so for this effort a simple error message will do. I recommend going with

[2022-08-17 14:49] Evafloyd commented on #44777
**Putting this on hold for now**
Notes from call Jacob, Jerek

Jacob says they've already done some investigation

- Feel there is a better way for the VA to make the request for the veteran to the C&P exam and make
- C&P exam: when the veteran submits the claim, once it goes through an initial review by the claims processer, every veteran applying for disability needs the C&P exam; its done by a

[2022-08-17 14:51] kristenmcconnell commented on #41441
All research documentation (reports and research repo) are complete.

I sent a message to Lori talk about tickets. I messaged Naomi about presenting at a Monday sync. I will also talk to Sarah at stand-up about scheduling a readout for the team/CHIP/VSE.

[2022-08-17 14:51] #41441 closed

[2022-08-17 14:52] jbritt1 commented on #36133
@td-usds

[2022-08-17 14:52] jbritt1 commented on #36133
@td-usds, please approve the extension for Yoom as time allows.

[2022-08-17 14:56] vbellissimo opened #45825 "Meet as a team to discuss Platform analytics"
As a team,
we need to schedule and meet to discuss our Platform analytics iniative,
so we all align on the current status and next steps

Acceptance criteria:

- [x] There is a shared understanding of:

1. what exists on the DOMO dashboard: https://va-gov.domo.com/page/1182586883
2. what exists now in Confluence: https://vfs.atlassian.net/wiki/spaces/CIT/pages/2308636673/Platform+Website+Edits+Vol

[2022-08-17 14:58] jbritt1 commented on #44984
Pretty sure the reason this failed is because Suraj provided the email of suraj.basnet@va.gov vs what is in the roster as suraj.basnet@accenturefederal.com

[2022-08-17 15:02] raywangoctova commented on #36133
approved for 90 day extension on behalf of Thomas and Mike since they are on leave.

[2022-08-17 15:04] jbritt1 commented on #36133
New reminder created for 90 day extension.

[2022-08-17 15:04] #36133 closed

[2022-08-17 15:05] thehastingsp commented on #44006
I'm thinking we could break this work into 2 tickets, so we offer the error message resolution, then follow up with the guidance we can offer them for an alternative avenue @katherine-fung @saderagsdale

[2022-08-17 15:11] SKasimow opened #45826 "**Discovery** BE | Profile | Notification Preferences 1095B"
## Background
In preparation for 1095B backend work...

## Tasks
- [ ] Identify technical POC at VA Profile.
- [ ] Determine environment availability for testing (with data) and timelines.
- [ ] Discuss any API changes/updates (version or schema).

[2022-08-17 15:13] #44984 closed

[2022-08-17 15:14] jbritt1 commented on #44984
For transparency, I edited the description of this issue to reflect the email address listed in the VFS team roster for the user (the accenture federal one).

[2022-08-17 15:19] rbeckwith-oddball commented on #43452
The automated tests have now passed after a few false positives were skipped (confirmed as false by platform-console team). Eric has merged the code and it should be in the dev environment within the next 10-15 minutes.

[2022-08-17 15:24] #45776 closed

[2022-08-17 15:29] mokhanafs commented on #45788
added to the organization

[2022-08-17 15:33] LabHanif commented on #45797
I have been added to the VA organization this morning :)

[2022-08-17 15:34] AGarcia-Clarity opened #45827 "Change SiS from session to local storage"
## Issue Description
This ticket tracks the body of work to change over the `state` and `code_verifier` from the session storage to the local storage.  This change will allow the `state` and `code_verifier` to be accessible globally via local storage.

---
## Tasks
- [ ] Change `state` and `code_verifier` from session storage to local storage.

## Acceptance Criteria
- [ ] No impact to existing Si

[2022-08-17 15:38] tpharrison opened #45828 "BE - Auth Profile - Logging and Metrics - BE Documentation"
## Background

Create a document that provides an overview of the back-end logging, metrics, and error handling.  This was originally put on hold because of the migration from Grafana to Datadog, but the timeline on this migration is not clear so the documentation will reflect the current setup but may need to be updated in the future when the migration is complete.

## Tasks
- [x] Add logging and

[2022-08-17 15:41] #45679 closed

[2022-08-17 15:43] normanknolhoff commented on #45711
Added to organization

[2022-08-17 15:45] #43277 closed

[2022-08-17 15:45] #45475 closed

[2022-08-17 15:45] cgednalske commented on #44084
**Update:** Checking with Danielle on the possibility of a few small items of information to the Gender identity dropdown (along with the eventual link to the Resources & Support article) to possibly address the following participant feedback:

- 2/7 participants were concerned with VA visibility and would like more information on who can view this information.
- 3/7 participants wondered why the

[2022-08-17 15:52] #19013 closed

[2022-08-17 15:52] outerpress opened #45829 "Review/update CC user flow"
Review Community Care user flow documented by Gayathri (attached) and update [VAOS user flows](https://www.figma.com/file/xRs9s6QWoBPRhpdYCGc3cV/User-Flow?node-id=160%3A35924) with any new information.

**Document to review**
* [Attached - CC user workflow v1.0](https://app.zenhub.com/files/133843125/79d76c78-eaf7-4307-bdbc-e0ad8560e003/download)
* [Link (VA Network)](https://wiki.mobilehealth.va.

[2022-08-17 15:52] rvbell commented on #45716
I'm now a member of Department of Veterans Affairs

[2022-08-17 15:53] andaleliz commented on #43586
Hey @SKasimow and team, I'm going to pull this into the current sprint for me since I have some 1095b things out for review.

[2022-08-17 15:54] markfallows opened #45830 "[PM] 10-10CG - Review Updated PoA Verbiage"
## Background

In late July, the CG Stakeholders received approval to accept general Power of Attorney documents, even without any medical stipulation.  With changes to which documents are acceptable for signing as a representative, stakeholders have provided us with a new set of verbiage to use on the pages that reference medical content.  This verbiage needs to be reviewed internally before bein

[2022-08-17 15:54] markfallows opened #45831 "[PM] 10-10CG - Review Updated PoA Verbiage"
With changes to which documents are acceptable for signing as a representative, stakeholders have provided us with a new set of verbiage to use on the pages that reference medical content.  This verbiage needs to be reviewed internally before being implemented.

### Page 1
**Original**: A representative must have legal authority to make medical decisions for the Veteran.  If you choose this option

[2022-08-17 15:56] SKasimow commented on #44084
@cgednalske - thanks for the update. if it is still open at end of the sprint I'll carry it over to the next sprint

[2022-08-17 16:06] saderagsdale commented on #44908
@scottymeyers Can you link the ticket this depends on?

[2022-08-17 16:07] thehastingsp commented on #44006
To resolve this @katherine-fung can you provide the final error messaging you recommend and we can create a new ticket for the fallback advice?

[2022-08-17 16:08] SKasimow commented on #45366
@adamwhitlock1 - I confirmed as well using account #123; looks good!  Closing...

[2022-08-17 16:08] #45366 closed

[2022-08-17 16:08] saderagsdale commented on #45515
@scottymeyers Can you add an estimate?

[2022-08-17 16:08] MitchLivingstone commented on #45408
Brian has uploaded a new files in staging to force a caution flag. When the builder is ran in staging it should detect the flags shouldn't be there and removed. Please test to determine if the flags are removed. @hallihocine

[2022-08-17 16:09] jhouse-solvd commented on #44913
We weren't able to pick this up during the last sprint. But, we are picking it back up this sprint. We apologize for the delay.

[2022-08-17 16:10] #45764 closed

[2022-08-17 16:10] thehastingsp commented on #45600
[Work in progress in Figma here](https://www.figma.com/file/JveclTFbNNSmx4eiYwbZdZ/Supplemental-Claims?node-id=70%3A5676).

[2022-08-17 16:16] ldelacosta commented on #45541
This ticket will be reviewed by a FE and BE developer.

[2022-08-17 16:18] loripusey opened #45832 "[SPIKE] Explore How We Might Isolate Check-in and Pre-Check-in from VA.gov Outages"
## Timebox
2 day

## Problem Statement
Based on the deployment that broke the web controls in Production and the discussion we had after stand-up, we want to determine the practicality of self-hosting the check-in application.

Slack [thread](https://dsva.slack.com/archives/C02UP02HHGX/p1660677940622219)

## Questions to answer

- Is vets-website just a hosting infrastucture for us, or do we gain

[2022-08-17 16:18] loripusey commented on #45832
@acrollet can you add some detail to the problem statement?

[2022-08-17 16:22] agmurphy commented on #45664
@LEHigley I updated the card description too

[2022-08-17 16:22] scottymeyers commented on #45409
Okay, so the steps to reproduce this are as follows:

1. Go through the form until you land on the **Step 5 of 6: Your supporting documents** screen.
2. Click on the **Upload document** button and select a document.
3. For the **Select a document to upload** dropdown, select "Other".
4. Click on the **Upload another document** button and select a document.
5. For the **Select a document to upload*

[2022-08-17 16:25] steel36 opened #45833 "Consider Playbook landing as containing all comms resources"
## Question:
How can we make the Playbook a clearer landing for teams to find and seek out when they need comms guidance?

## Tasks
- [x] Consider naming of our resources
- [x] Consider positioning of our resources
- [x] Generate copy and layout for proposed landing
- [x] Review w/ team for consideration

## Acceptance Criteria
- [x] Agreed upon approach, finalized layout

[2022-08-17 16:26] andreahewitt-odd opened #45834 "Create template for PO/PM biweekly sync"

[2022-08-17 16:29] thehastingsp opened #45835 "Verify Need Help content is accurate for Supplemental Claims"
We need to validate that this is the correct help content for the Supplemental Claims experience. It appears above the footer on all pages.

TEXT:
Need Help?
If you have questions or need help filling out this form, please call our MYVA411 main information line at 800-698-2411 and select 0. We’re here 24 hours a day, 7 days a week.
If you have hearing loss, call TTY: 711.

[2022-08-17 16:29] kylesoskin commented on #42947
This SHOULD be taken care of in https://github.com/department-of-veterans-affairs/vets-api/pull/10492

[2022-08-17 16:30] thehastingsp commented on #44411
@bethpottsVADEPO we can go ahead and close this ticket and handle your question around help copy [in this ticket](https://github.com/department-of-veterans-affairs/va.gov-team/issues/45835).

[2022-08-17 16:34] laurwill opened #45836 "Explore user research of Veteran experience using TRICARE for medical records"
## Issue Description

As part of our updates to the [Get your VA medical records page](https://www.va.gov/health-care/get-medical-records/), we added a link to [this TRICARE page](https://www.tricare.mil/Resources/MedicalRecords) to request DoD medical records.

We want to find out if Veterans are able to easily find and use the relevant instructions to get their DoD medical records using this TRI

[2022-08-17 16:41] #45382 closed

[2022-08-17 16:44] Dr-Pongo opened #45837 "[cFSR] Updating resolution options with validation"
## Issue Description
Resolution options needs custom validation for options selection in conjunction with the checkbox for the waiver specifically. Resolution comments also needs currency validation that is customized to be less than the current balance.

---
## Tasks
- [ ] Fix resolution options page validation so there must be a selection
  - [ ] validation must include checkbox for waiver selec

[2022-08-17 16:51] laurwill opened #45838 "Review labels in GI Bill Comparison Tool"
## Issue Description

We want to take a look at the labeling and other language in the GI Bill Comparison tool when time allows.

For example, Post-9/11 is the only education benefit with a distinct MHA payment. But the comparison tool labels all monthly payments that go directly to the student as "housing benefit."

We'll need to compare terms/labels in the tool to the language on our education p

[2022-08-17 16:57] joeniquette commented on #45618
Person:
find_person_by_ssn
find_person_by_file_number
find_person_by_ptcpnt_id
find_relationships_by_ptcpnt_id_relationship_type
find_employee_by_ptcpnt_id
find_dependents

Payment Information:
retrieve_payment_summary_with_bdn

Awards:
find_by_participant_id
find_award_by_participant_id
find_award_by_ssn
find_award_by_file_number

Diaries:
read_diaries

Claimant:
find_flashes
find_assigned_flashe

[2022-08-17 17:05] chaseakirby opened #45839 "Group Peer Review of Practice Area Operational Guidance"
## User Story
As a Governance team member, I want to review other practice area's operational guidance so that I understand the process they take for each review.

Peer Reviewer: All

## Description
Last sprint we created first draft of practice area operational guidance, we will review each other's and suggest any changes as well take this time to understand the other practice areas and where we

[2022-08-17 17:12] Shoaib-VA opened #45840 "Platform Orientation Template [Shoaib A Sheikh]"
## Welcome and Introduction
Welcome to the Veteran's Administration (VA) Veteran Facing Services (VFS) team!
As a new VFS team member, you will be working in the web ecosystem we call the VA.gov Platform (or "**The Platform,**" for short).  The tasks on this list are designed to get you up to speed on the role of Platform, making it easier for you to do your job.

Because the VA is a huge organiza

[2022-08-17 17:12] Shoaib-VA opened #45841 "Platform Orientation Template [Shoaib A Sheikh]"
## Welcome and Introduction
Welcome to the Veteran's Administration (VA) Veteran Facing Services (VFS) team!
As a new VFS team member, you will be working in the web ecosystem we call the VA.gov Platform (or "**The Platform,**" for short).  The tasks on this list are designed to get you up to speed on the role of Platform, making it easier for you to do your job.

Because the VA is a huge organiza

[2022-08-17 17:14] vbellissimo opened #45842 "Where should Platform data live in Confluence? Follow up with Service Design Team"
Discussed with Ray Wang during demo/sprint planning on 8/27:

Where should these pages live?
https://vfs.atlassian.net/wiki/spaces/CIT/pages/2308636673/Platform+Website+Edits+Volume+Getting+Started

If this is information for other Platform teams to see, it would make sense to live in either of these spaces:

1. About the Platform: https://vfs.atlassian.net/wiki/spaces/AP/overview?homepageId=13752

[2022-08-17 17:15] #45841 closed

[2022-08-17 17:17] khandelwal opened #45843 "Radio button change"
:change-announcement: The VA Design System Team is in the process of deprecating the RadioButtons React component. We encourage all teams using the RadioButtons React component to upgrade to the va-radio web component. We currently have an ESLint warning in place to encourage this upgrade as well.
On Thursday, September 29th, we will be changing the ESLint warning to an ESLint error for any change

[2022-08-17 17:19] #45613 closed

[2022-08-17 17:20] Mburnett-VA opened #45844 "SOCKS access for [Matthew Burnett]"
### Your Name

Matthew Burnett

### Your Email

burnett_matthew@bah.com

### Your Role and Team

Product Manager

### Product Manager (PM) name and email

Matthew Burnett burnett_matthew@bah.com

### Product Owner (PO) name and email

premal shah premal.shah@va.gov

### Access Type Requesting

developers

### Public SSH Key

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC80kBivu4mz2eNoIS2vy3FDi2V2k0+qYuQL

[2022-08-17 17:21] #42835 closed

[2022-08-17 17:25] aaronhietpas opened #45845 "[AWS / IAM] Group/team policy updates related to team Matsumoto"
## Who is the devops resource on your team?
@aaronhietpas

## Description
Need to update IAM AWS configs related to lighthouse-matsumoto due to team no longer existing.

## Background/context
- Team Matsumoto was split into two teams, ninja-pigs and caracal. Members of this IAM group need to be moved to either new team or have the group removed.
- lighthouse-matsumoto group needs to be removed bec

[2022-08-17 17:31] jsgarmon commented on #44647
Created [Promote an Application in the EKS Infrastructure (As a VSP team)](https://vfs.atlassian.net/wiki/spaces/OT/pages/2324037840/Promote+an+Application+in+the+EKS+Infrastructure+As+a+VSP+team) to document this process.

[2022-08-17 17:31] #44647 closed

[2022-08-17 17:31] khandelwal opened #45846 "Analytics KPI dashboard request for 1095-B"
# Request a New Standardized KPI Dashboard

## Instructions for the VFS team
In order to pull the correct data for your product, we need your help to define what pages and events to include, in addition to basic product info. We’ll need a filled out [KPI request template](https://docs.google.com/spreadsheets/d/1gipo-h3GCeVPsw6t6tEHJM5dtJMvotVm0LUgbpAeqZY/edit#gid=981224988) before we can pull this

[2022-08-17 17:32] LindseySaari commented on #45779
After reviewing, this job fails because there isn't a services_config entry for the given evss url. Trevor added [this PR](https://github.com/department-of-veterans-affairs/vets-api/pull/10493) and I will review/close this ticket after verification

[2022-08-17 17:38] pjhill opened #45847 "Resolve Documentation Comments from Content Team Feedback"
# Description
The content team has reviewed our documentation for the Product Directory and we have some feedback and comments to resolve as a result.

# Tasks
- [ ]
- [ ] Resolve comments on the [Platform Documentation](https://vfs.atlassian.net/wiki/spaces/TTT/pages/2193359369/VFS+Product+Directory+-+Platform+Documentation?atlOrigin=eyJpIjoiMGEwOTM2MTA3YmQ2NGYyNGJhMDZhNDMxNjAyNzgxNzIiLCJwIjoiY29

[2022-08-17 17:39] PSIEBENLIST opened #45848 "SOCKS access for Pat Siebenlist"
### Your Name

Pat Siebenlist

### Your Email

Pat.Siebenlist@adhocteam.us

### Your Role and Team

Sr Product Manager on Console UI

### Product Manager (PM) name and email

Lee Helmer, Lee.Helmer@adhocteam.us

### Product Owner (PO) name and email

Michael Chelen michael.chelen@va.gov

### Access Type Requesting

viewers

### Public SSH Key

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDgqBd1rrIzmAnYJV

[2022-08-17 17:39] Mburnett-VA commented on #45844
Orientation is complete; please let me know if you need anything for socks access.

[2022-08-17 17:41] calquisola commented on #45844
SOCKS access granted. Please continue with [the guide](https://depo-platform-documentation.scrollhelp.site/getting-started/Internal-tools-access-via-SOCKS-proxy.1821081710.html) to establish a connection to SOCKS proxy. If you run into any issues, please feel free to reach out in the [#vfs-platform-support](https://dsva.slack.com/archives/CBU0KDSB1) channel using the [support request workflow](htt

[2022-08-17 17:41] #45844 closed

[2022-08-17 17:44] twoangstroms commented on #44498
Possibility: a node/edge map for showing teams that are connected and the nature of their connections (perhaps using MindMeister or Tableau).

[2022-08-17 17:44] pjhill commented on #44565
@CBonade -- What was the scope change that you're referencing here? I think maybe we need to sync a Slack/Zoom conversation with the information presented in this ticket.

[2022-08-17 17:49] kjduensing opened #45850 "Scenario Run Through"
Let's self-review our docs before having a peer review them!

Roles:
- Matt King: Receiving Platform Team Member
- Kevin Duensing: (Understudy) Receiving Platform Team Member, Primary Note Taker
- Carl Alquisola: Observer, Secondary Note Taker
- Ritesh Patel: Observer, Secondary Note Taker

Scenarios:
- [x] New client integration
- [x] Can't sign in to the Console
- [ ] Need to redeploy Keycloak
-

[2022-08-17 17:55] laineymajor commented on #43424
QA check complete. Will circle back for another check at end of Q3.

[2022-08-17 17:55] #43424 closed

[2022-08-17 17:58] PSIEBENLIST commented on #45848
Can this not be completed until I am added to VFS roster?

[2022-08-17 17:58] andaleliz commented on #31410
Got the mock-ups updated.

- [Desktop](https://www.sketch.com/s/59857eb5-d9f9-4145-99d3-d9a1de2d0655/v/waVZjj/a/OmlnPxp)
- [Mobile](https://www.sketch.com/s/59857eb5-d9f9-4145-99d3-d9a1de2d0655/v/dMz8DZ/a/pamAp4p/r/bWjPW0)

[2022-08-17 18:06] #45296 closed

[2022-08-17 18:09] #45416 closed

[2022-08-17 18:15] andaleliz commented on #43586
## Notification settings
### Can't access
- [mobile](https://www.sketch.com/s/afd69a1f-72d2-430b-9b62-285e9d3f479c/a/pamgp9Z)
- [desktop](https://www.sketch.com/s/afd69a1f-72d2-430b-9b62-285e9d3f479c/v/YLgz8O/a/dlxe9D9/r/pv0P7A)

## Contact information
### Can't access
- [mobile](https://www.sketch.com/s/59857eb5-d9f9-4145-99d3-d9a1de2d0655/v/dMz8DZ/a/zx2q52a)
- [desktop](https://www.sketch.com/s/

[2022-08-17 18:37] calquisola commented on #45848
SOCKS access granted. Please continue with [the guide](https://depo-platform-documentation.scrollhelp.site/getting-started/Internal-tools-access-via-SOCKS-proxy.1821081710.html) to establish a connection to SOCKS proxy. If you run into any issues, please feel free to reach out in the [#vfs-platform-support](https://dsva.slack.com/archives/CBU0KDSB1) channel using the [support request workflow](htt

[2022-08-17 18:37] #45848 closed

[2022-08-17 18:38] rbeckwith-oddball commented on #43452
It merged, new tweak had to be pushed since the lighthouse `baseUrl` apparently isn't used internally. Now the platform-console team needs to do something with their manifest files to get the port open.

[2022-08-17 18:40] JoeTice opened #45851 "Update QAS Team Support Bot Participation"
# Description

We need to work with the SRE team to update the support bot with new categories for help that includes at least

# Tasks
- [x] Ingest Support Bot request data from the Google Sheet to BigQuery
- [x] Ingest Support Bot category data from the Google Sheet to BigQuery
- [x] Update Support Bot categories to include --
  * "Test Failure"
  * "Tool Access"
  * "Test Accounts / Data"
  * "