[2020-08-04 23:10] DanielleThierryUSDSVA commented on #11804
Hi @mnorthuis. Here's a rough working draft of this page for us to do a content strategy/IA sync on. I've included SEO keyword research at the top. Also uploading research results spreadsheet. Could we sync this week even for 15 minutes to make sure we're aligned? Thanks!

[STEM scholarship page_working draft_8.4.20](https://app.zenhub.com/files/133843125/d08e7c1c-62cf-479f-99ed-35ac15dfaebf/downl

[2020-08-04 23:15] lihanli commented on #11528
Not sure how to confirm it for sure but it seems likely based on the discrepancy between backend statistics and GA stats. According to [this site](https://www.statista.com/statistics/351862/adblocking-usage/) 27% of Americans use adblock, and there is an 18% difference between the number of updates recorded by the backend (3030) and the number recorded by GA (2483).

Yes we are currently doing tha

[2020-08-05 01:13] bradenshipley opened #12073 "Access for Braden Shipley"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Add a comment @department-of-veterans-affairs/vsp-operations to ping the operations team
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please

[2020-08-05 01:14] bradenshipley commented on #12073
@department-of-veterans-affairs/vsp-operations

[2020-08-05 02:12] DanielleThierryUSDSVA commented on #9538
Hi again, @johnhashva!

I know we're talking about updating these as a batch, but I thought it might be helpful if I upload versions as I go in case you have the bandwidth and want to update some in the meantime.

I noticed that line 26 "beneficiary travel" was going to the legacy page rather than our modernized page. So that may be one to update sooner than later.

Thanks!
[1474_va_best_bets_WIP

[2020-08-05 02:16] MickinSahni commented on #12027
I'd rather not broaden. But, would it be behind a flag since we need to get detail pages out first? Also, there's going to be lag-time in order for Lighthouse to make the necessary changes.

Another reason is #11453 is a well-packaged release of new features/functions we can ship together. Not to mention, we have to string up analytics on new CTAs. @ncksllvn

[2020-08-05 02:41] MickinSahni commented on #11787
Thanks, Jen. Removed the `blocker` label. @swirtSJW

[2020-08-05 02:53] MickinSahni commented on #4552
Hey Platform team, I specified above that we should ideally have a singular dashboard for the entire Find VA Forms experience (Search + Detail Pages). Of course, this ticket is for the Detail Pages. I linked to the existing dashboard above. Thanks! :)

[2020-08-05 12:22] ksantiagomorgan6 commented on #11844
PR: https://github.com/department-of-veterans-affairs/vets-website/pull/13715

[2020-08-05 12:29] johnpaulashenfelter commented on #12042
From: Podolec, Jeff <Jeff.Podolec@va.gov>
Sent: Monday, August 3, 2020 4:18 PM
To: Podolec, Jeff <Jeff.Podolec@va.gov>
Cc: Reed, Danny L. <Danny.Reed@va.gov>; Kiboti, Patrick (Engility) <Patrick.Kiboti@va.gov>
Subject: Data Call-- Action required by 08/14/20 to validate your system’s consumption of VA MPI services
Importance: High

Why are you being notified?  You are identified as someone respons

[2020-08-05 12:37] batemapf commented on #11922
OK background to be updated here: https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/applications/coronavirus-screener/sass/coronavirus-screener.scss#L23

OK to proceed text and check to be updated (maybe) here: https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/applications/coronavirus-screener/sass/coronavirus-screener.scss#L22 or https://g

[2020-08-05 12:39] jbritt1 commented on #11796
All line items complete for this user.

[2020-08-05 12:39] #11796 closed

[2020-08-05 12:48] jbritt1 commented on #11437
Easiest fix for this wound up being to downgrade the version of PyYAML being used. More info in #7331.

[2020-08-05 12:56] jbritt1 commented on #11172
https://github.com/department-of-veterans-affairs/va.gov-team/pull/11950 adds explicit notes about restarted terminals and includes some optional/additional notes from the web about automating the process.

[2020-08-05 13:09] pjhill commented on #930
Regarding BrowserStack: Given that our project is open source, we are entitle to the following license --
![image](https://user-images.githubusercontent.com/52456633/89416283-05c2a880-d6fb-11ea-9ce3-d0b3ee5e44ca.png)
We don't have any documentation regarding BrowserStack setup. We do have SauceLabs documentation [here](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platf

[2020-08-05 13:11] pjhill commented on #930
As for 'automated cross-browser testing' -- it _**is**_ possible, and there are instructions for how to do so against your local dev environment in the documentation [here](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/quality-assurance/cross-platform-testing-plan.md#running-e2e-tests).

[2020-08-05 13:13] meganhkelley commented on #10355
Duplicate of #11565

[2020-08-05 13:13] #10355 closed

[2020-08-05 13:15] clantosswett commented on #10362
We remain stuck on this issue because we aren't getting movement from the VEO Tier 1 Contact Center group. When we met on Friday they said they needed to take another week to get more information about the upcoming VA411 campaign and figure out how this might affect them. Moving forward, we are going to start looking at the various help messages that have incorrect messaging in regards to who they

[2020-08-05 13:18] meganhkelley commented on #9073
Updated list from Trevor: https://dsva.slack.com/archives/CQH357ZTP/p1596493123450300

[2020-08-05 13:19] Kimberley2019 commented on #9744
Thank you for the update @jason-gcio .  I will await further updates from you on this.

[2020-08-05 13:19] shawkey-daniel commented on #11354
1. 702 caution flags should continue to work the same. The only difference is 702 flag is now in the new consolidated file.
	2. If the row contains a settlement description but no settlement title, the row should not be imported during the upload. The row should be reported in the error message for upload.
	3. B
	4. Make available
	5. Ignore

[2020-08-05 13:21] #7492 closed

[2020-08-05 13:25] Kimberley2019 commented on #11573
@mshea0606 or @Samara-Strauss when I click on the Product Video, it takes me to a 404 page.  Any way to look into this so that I can pass it along to the Contact Center for review?  The transcript is fine, I have to view it raw then it populates as a Word document, which I can easily save and send. It is beneficial if I send them together.

[2020-08-05 13:26] shawkey-daniel commented on #11970
The code that initiated the initial request has been refactored to not use the AlertBox component. This can be worked in the future, but is not a priority for the BAH team at this time.

[2020-08-05 13:29] clantosswett commented on #11476
Chante conducted an analysis on the disability claims tool and @Kimberley2019 completed one for the claims status tool. We will be meeting tomorrow morning (8/6) to review the analysis and complete the final two tasks of this issue and move forward with validating with the Benefits and Memorial 1 team.

[2020-08-05 13:36] meganhkelley opened #12074 "Synthesize existing forms library research & prioritize roadmap"
## User Story

As a VSP team member, I need to know what feedback customers have recently given us about the forms library, so that I can prioritize a future roadmap accordingly to best serve the needs of VFS teams.

## Details

VSP receives a lot of feedback about the forms library from VFS teams. The forms library is a big priority for the VSP FE Tools team to iterate on and improve. How might w

[2020-08-05 13:37] meganhkelley commented on #12074
Synthesis MURAL board https://app.mural.co/t/adhocvetsgov9623/m/adhocvetsgov9623/1595033064125/ca9b639f28e977620e341af4df719b61a3c16f7b

[2020-08-05 13:40] mr0sari0 commented on #9982
@leahkeeler  Based on Peggy's comment [here](https://github.com/department-of-veterans-affairs/va.gov-team/issues/10462#issuecomment-657873083), I think we can leave this alone.

[2020-08-05 13:41] mr0sari0 commented on #11056
Based on @peggygannon's comment [here](https://github.com/department-of-veterans-affairs/va.gov-team/issues/10462#issuecomment-657873083), I think we can leave this alone.

[2020-08-05 13:42] #9982 closed

[2020-08-05 13:43] #11056 closed

[2020-08-05 13:45] mmiddaugh opened #12075 "[DESIGN] Facility health services content (hours)"
## Issue Description
The content model for Facility health services location and contact information has changed from a single blobby area to individual components.

The area needs to be designed to incorporate these components and needs design input for:

- Hours of operation -> please see accessibility input in [#6025](https://github.com/department-of-veterans-affairs/va.gov-team/issues/6025)
-

[2020-08-05 13:49] johnhashva commented on #9538
Hi @DanielleThierryUSDSVA -- just changed the Best Bets URL for beneficiary travel to https://www.va.gov/health-care/get-reimbursed-for-travel-pay/.  LMK if I missed anything.

[2020-08-05 13:49] mmiddaugh opened #12076 "[DISCOVERY] Facility health services design"
## Issue Description
The content model for Facility health services location and contact information has been changed from a single blobby area to individual components. The area needs to be designed to incorporate these components, including a new layout for hours of operation.

---
## Tasks
- [ ] Become familiar with the layout of the VAMC pages, with focus on the Facility Health Services locati

[2020-08-05 13:53] mchelen-gov opened #12077 "Initial frontend form"
- [ ] json schema
- [ ] vets-website
- [ ] vets-api

[2020-08-05 14:00] mshea0606 commented on #11573
Hi @Kimberley2019, I just sent you the video via slack. If the file doesn't work or is too big, i can try sending by email. cc @Samara-Strauss

[2020-08-05 14:01] sonntag-adam commented on #11328
https://dsvavsp.testrail.io/index.php?/runs/view/587&group_by=cases:section_id&group_order=asc&group_id=51

[2020-08-05 14:02] meganhkelley commented on #2719
Content Separation Release Plan: https://docs.google.com/document/d/1NSqXeo-SGyBzusEoyQ_hwZK7jNuCUawAXkpN0gC18Cc/edit

---

Meeting notes 7/30 — Bill/Rian/Brooks/Megan

 Decisions
* Leave TeamSite assets in the current bucket; future state will be 3 buckets

To Do
* Let Public Websites team know (use finalized design doc)
* Need testing plan for each of these steps & to run it by DevOps
	* Add a j

[2020-08-05 14:04] rebeccawalsh opened #12078 "[Design] Write content for the detail page additional info components"
## Issue Description
Write content for the 'Additional info' components that detail why someone could have each type of debt for:
- 30 - Compensation & pension debt
- 41 - Chapter 34 education debt
- 44 - Chapter 35 education debt
- 71 - Post 9/11 GI Bill debt for books and supplies
- 72 - Post 9/11 GI Bill debt for housing
- 74 - Post 9/11 GI Bill debt for tuition
- 75 - Post 9/11 GI Bill debt fo

[2020-08-05 14:08] sonntag-adam commented on #10968
AC 1 and 3: https://dsvavsp.testrail.io/index.php?/plans/view/495

AC 2:
Coverage for References: https://dsvavsp.testrail.io/index.php?/reports/view/125
Summary(Defects): https://dsvavsp.testrail.io/index.php?/reports/view/126

[2020-08-05 14:09] micahchiang commented on #12038
PR here - https://github.com/department-of-veterans-affairs/vets-website/pull/13722

[2020-08-05 14:11] RLHecht opened #12079 "Update disability pages with number of days it takes VA to make a decision in July"
## Issue Description
Stakeholder Sandy Tadeo updated two disability pages in Drupal with the number of days it takes VA to make a decision for the month of July. These need to be reviewed and published. The two pages are:

- [How to file a claim](https://www.va.gov/disability/how-to-file-claim/)
- [The VA claim process after you file an appeal](https://www.va.gov/disability/after-you-file-claim/)

[2020-08-05 14:12] RLHecht commented on #12079
These changes were already made. Creating ticket for tracking purposes. FYSA @MickinSahni

[2020-08-05 14:13] mshea0606 commented on #11573
@Kimberley2019  i've also put the product video transcript into Git Hub [here](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/profile/Combine%20Profile%20and%20Account/Call%20Center/Product%20Video%20Transcript%208-5-20.md) cc @Samara-Strauss

[2020-08-05 14:17] rileyorr commented on #11902
Good morning @peggygannon! You're right, I did make a mistake! Before my team found out that we couldn't provide additional info about resolved debts but could still provide the letters, that verbiage "to get information about resolved debts" was part of the original empty state. My apologies; I've updated the 'resolved debt' alert!

[2020-08-05 14:19] LeakyBucket commented on #12077
👍 I will create the vets-api PR once department-of-veterans-affairs/vets-json-schema#467 is merged and I verify I'm using it correctly.

[2020-08-05 14:21] Kimberley2019 commented on #11573
@mshea0606 I just reviewed the video and it's GREAT!  Thank you so much.
I just heard back from the Contact Center, please see their request below.

_Kimberley, since this is an updated guide, could the team that makes these guides highlight what is new within them?  I think this is super important.  Would it be possible to update this guide with those highlighted changes?  Thanks, Todd_

Please l

[2020-08-05 14:25] amycesal commented on #11045
Per month with the goal is added

![Screen Shot 2020-08-05 at 9.21.34 AM.png](https://images.zenhubusercontent.com/5b2ab6f42f27e82b33e6b789/b0d39f12-e579-4655-8e72-6d499d2c902a)

[2020-08-05 14:27] RLHecht opened #12080 "Remove sentence from MGIB-SR page"
## Issue Description
Per stakeholder Tammy Hurley we need to remove a sentence from the [MGIB-SR](https://www.va.gov/education/about-gi-bill-benefits/montgomery-selected-reserve/) education page because the 14-year delimiting date was rescinded.

We need to remove the sentence "If you stay in the Selected Reserve, you’ll be eligible for 14 years after you started your first 6-year obligation."

![

[2020-08-05 14:27] sonntag-adam commented on #11327
https://dsvavsp.testrail.io/index.php?/plans/view/495

[2020-08-05 14:27] RLHecht commented on #12080
The work was done for this already. Creating ticket for tracking purposes. FYSA @MickinSahni

[2020-08-05 14:27] rianfowler opened #12081 "Add additional PR checks with dangerbot"
## Overview

Danger bot is a module that can be run in CI to check for things that linters can't check such as PR size and documentation updates.

Dangerbot [documentation](https://danger.systems/js/)

[2020-08-05 14:32] micahchiang opened #12082 "Update E2E Tests for New Location Schema (Dependency Claims)"
## Description
With the recent changes to location schema, e2e tests need to be updated so they successfully pass.

## Tasks
- [x] Update the helper functions in `test-helpers.js` to use updated selectors for location UI

## Acceptance Criteria
- [x] Tests have been updated and successfully pass.

[2020-08-05 14:35] micahchiang opened #12083 "[POST 686 Launch] Migrate 686 nightwatch e2e tests to Cypress"
## Description
VSP recently announced that Cypress has been green lighted. While nightwatch tests will still continue to run for the time being, teams should migrate existing nightwatch tests to cypress in anticipation of nightwatch being completely retired.

## Considerations
- Some teams are already using Cypress (BAM1 & 2). Should check to see what they've done as a reference.
- Walk through 68

[2020-08-05 14:39] desireeturner opened #12084 "Staging Review: STEM Standalone Form 22-10203"
## Steps to complete Staging Review:

- [x] Product Manager: create this issue and fill in feature name in the title and other bolded information appropriately
- [x] Link to this issue once created in [#vfs-platform-support](https://dsva.slack.com/channels/vfs-platform-support) in Slack; tag @ AndreaHewitt @ Mandi Lipka
- [x] Mandi to schedule meeting with VSP reviewers and **requesting team** att

[2020-08-05 14:42] omgitsbillryan commented on #12042
I've read the email a few times over, and these are my takeaways:

I'm not clear what what it means to "fully process" these fields.

[2020-08-05 14:57] ncksllvn commented on #2212
Thanks @lunascoop!

@MickinSahni based on the due date, I went ahead and opened the pull request for this, https://github.com/department-of-veterans-affairs/vets-website/pull/13725. It technically won't be merged til next sprint though.

[2020-08-05 14:57] annaswims commented on #12042
Oof. That document is not an easy read, but here's where we parse the id's and it looks like we explicitly look for either `PI` or `PN` in our regex but not both interchangeably.

https://github.com/department-of-veterans-affairs/vets-api/blob/master/lib/mvi/responses/id_parser.rb#L28

[2020-08-05 14:59] mmiddaugh opened #12085 "Attributes for community urgent care"
## Issue Description
As part of the urgent care mashup and migration of v1 to ccp controller, we need to ensure all necessary data is included in the query request/response

---
## Tasks
- [x] Provide attributes needed for community urgent care and lighthouse (VA) urgent care to Lance (BE)

## Acceptance Criteria

- [x] Lance has all the attributes needed for community and VA urgent care

---
## H

[2020-08-05 14:59] ala-yna opened #12086 "Frontend research - loading spinner on submission page"
Given that we want to prompt users to wait through the long submission times on the 10-10CG
How might we customize the message on the loading spinner, and add it to the submission page
So that we can provide a more seamless and stress-free user experience?

[2020-08-05 14:59] stephennovosel opened #12087 "Access for Steve Novosel"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Add a comment @department-of-veterans-affairs/vsp-operations to ping the operations team
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please

[2020-08-05 15:03] Samara-Strauss commented on #11573
@Kimberley2019 most of the guide is new, so highlighting what is different would leave almost the whole guide highlighted. This new guide consolidates a couple old ones — namely the direct deposit guide and the address validation guide — and adds a bunch of content to explain the rest of the profile and account settings features that we had not previously made guides for. For the content that is g

[2020-08-05 15:07] ala-yna opened #12088 "Update backend processing to allow user to print PDF"
Given that we want to allow users who are unable to submit online to print out a 10-10CG application to be mailed in
How might we update the backend to allow users to print a filled-in paper form?

See: https://github.com/department-of-veterans-affairs/vets-api/pull/4567

[2020-08-05 15:08] #12088 closed

[2020-08-05 15:09] peggygannon commented on #11935
Hi, @rileyorr Where in the tool will this alert go?  there is a general COVID alert that will appear on the Debt Letters static landing page, so I'm trying to figure out how these two alerts will differ and if both are needed?

[2020-08-05 15:10] ala-yna opened #12089 "Create a Google Analytics event to track backend failures"
**Description**
We have GA events for Form 10-10cg `attempt`, `success`, and `failed`. We want to add an event that specifies a failure because of qualification: when we block an application from being submitted because the veteran applying was not qualified.

For security reasons we don't notify the front-end for the reason the application failed. Qualification errors look like Backend Service Ou

[2020-08-05 15:12] Samara-Strauss commented on #11528
Totally makes sense, and thank you for letting me know these stats!

Awesome, I'll make sure this is updated in our documentation so it causes less confusion in the future.

Any idea why the number in grafana is so different than the number in GA?

[2020-08-05 15:14] #9043 closed

[2020-08-05 15:14] cohnjesse opened #12090 "Add Tests Controller for CH31"
# Background
The Chapter 31 form will be submitting to central mail. Submitting a form to central mail within VA.gov means we need to set up a controller on the back end to receive the payload from the front end and call the CentralMail service. In order to submit a PR to `vets-api` we also need our controller to be unit tested to 90% coverage so this ticket includes that work as well.

## Conside

[2020-08-05 15:15] annaswims commented on #11630
I think fairly often Lines of code is a fairly poor substitute for cognitive complexity.  I also don't think that deletions should count as much as additions. For example, this "delete unused code" PR isn't that complex though it approaches 1000 lines. https://github.com/department-of-veterans-affairs/vets-api/pull/4514

[2020-08-05 15:15] ala-yna opened #12091 "Update Product Guide"
Given the information that will be available to the contact center
And whether or not the ability to resubmit will be available to the user
I want to update the product guide
To empower them to be as helpful to the user as possible.

[2020-08-05 15:15] theodur commented on #1678
@meganhkelley This was executed for some applications on the vets-website, but I think I held off on the other applications because I was waiting for some teams to update their codeowners before making PR's. Now that most of the codeowners have been updated I can go ahead and make PR's for the rest of the applications.

[2020-08-05 15:19] #11824 closed

[2020-08-05 15:19] #11901 closed

[2020-08-05 15:20] #2908 closed

[2020-08-05 15:20] mnorthuis commented on #11707
**IA feedback:**

Consider:
- Gathering feedback on the labels of the filters and user's understanding of what the filter means prior to utilizing - i.e. What do they expect to see under "housing allowance" and "military details", as well as "institution type" vs "institution categories"
- Gather insights on whether automatically applying filters impacts the UX - Does the response times for applyi

[2020-08-05 15:21] Kimberley2019 commented on #11264
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsp/teams/insights-analytics/contact-center/outstanding-tier-3-issues-process.md

[2020-08-05 15:24] sanlouise commented on #12018
After looking into this, it's definitely related. I'll assign the ticket to myself to get it fixed 👍

[2020-08-05 15:26] cohnjesse opened #12092 "Create a Model for CH31"
## Background
With almost all forms on VA.gov we need to set up a model in Rails that will handle saving data to the `vets-api` database. These models act as the glue between the controller and the database and are used not only for retrieving data but also for things like sorting data or filtering data which we will not be doing much of for the Chapter 31 form. In order to submit a model in a PR

[2020-08-05 15:27] lihanli commented on #11528
I'm not exactly sure why, I think it's because of adblock. We could add a new GA event sent from the backend triggered by DD updates to make sure.

[2020-08-05 15:30] sonntag-adam commented on #11328
Closing story.

[2020-08-05 15:30] #11328 closed

[2020-08-05 15:30] sonntag-adam commented on #10968
Closing story.

[2020-08-05 15:30] #10968 closed

[2020-08-05 15:30] sonntag-adam commented on #11327
Closing story.

[2020-08-05 15:31] #11327 closed

[2020-08-05 15:34] #11336 closed

[2020-08-05 15:40] mnorthuis commented on #11284
@jenniferlee-dsva Yes, I am aware and we have discussed.  Not sure it will be implemented in time for the initial launch of the STEM application, but we will adjust if it does happen.

[2020-08-05 15:44] jonwehausen commented on #11163
Hi @ethanteague ,

Per Brian's post above, this isn't causing any issues today, but we will want to update dev.cms.va.gov to have the following snippet:

**Paste this code as high in the <head> of the page as possible:**
[code]

**Additionally, paste this code immediately after the opening <body> tag:**
[code]

[2020-08-05 15:46] joanneesteban opened #12093 "Set up research session with Claims for Contact Center reporting"
## Issue Description
How might we get user feedback on what contact center data is useful, what isn't, and what data we need to retrieve from contact centers, if any?

---
## Tasks
- [ ] Schedule time with B&M1
- [ ] Prepare session materials
- [ ] Prepare session strategy (@joanne or @amycesal to help review)
- [ ] Go through research session
- [ ] Document feedback
- [ ] Synthesize feedback (wha

[2020-08-05 15:48] zurbergram commented on #11354
Looks like only 2 institutions that are in VA Caution Flags CSV that could have a sec702 flag are

- "11900238"	"TEMPLE UNIVERSITY"
- "12000238"	"TEMPLE UNIVERSITY HEALTH SYSTEM"

as these 2 are PUBLIC institutions that are approved

[2020-08-05 15:49] mmiddaugh opened #12094 "Create script to automate traffic"
## Issue Description
The traffic goes from the Rails app to an HAProxy through the Trusted Internet Gateway (TIC) to go from GovCloud West to GovCloud East then through another TIC to get to the Gov Azure instance. If PPMS needs to make a call to Bing it may also be going from the Gov Azure instance to another TIC to get over there. Monitoring is limited because all of the traffic is encrypted in

[2020-08-05 15:57] tskinn commented on #12073
@Jeff-Hayter
Name: Braden Shipley
COR: Crystal Moultrie

[2020-08-05 15:57] #11895 closed

[2020-08-05 16:01] thilton-oddball opened #12095 "Develop Plan for Adding Documentation to Gatsby Site"
Research front end Gatsby site and come up with a plan for adding in back end documentation to the existing site.

[2020-08-05 16:04] #11035 closed

[2020-08-05 16:09] rileyorr commented on #11935
Hi @peggygannon! The alert will be at the top of the tool's page. You can see the alert's placement in [the UXPin prototype](https://preview.uxpin.com/8019d7c491dc05231e456a666928bd6a5ca40e6e#/pages/130777997/simulate/no-panels?mode=i). The general COVID alert that appears on the static landing page links to a FAQ containing questions relating to a lot of VA services like benefits, claims, debts,

[2020-08-05 16:09] JenLJ commented on #11306
@sonntag-adam UX has taken a look and this looks good!

[2020-08-05 16:10] ncksllvn commented on #10291
This is merged and will be on staging later today! The feature flag is two-fold - typeahead will render on only the __homepage__ of dev or staging

[2020-08-05 16:11] sonntag-adam commented on #11306
Closing story.

[2020-08-05 16:11] mchelen-gov opened #12096 "Backend to handle form submission"

[2020-08-05 16:11] #11306 closed

[2020-08-05 16:11] erikphansen commented on #10255
- currently this data is shown at https://staging.va.gov/education/gi-bill/post-9-11/ch-33-benefit/status
- it uses the `GET /v0/post911_gi_bill_status`

- [ ] find a staging user that has data; user 36 failed/the React app crashed
- [ ] look at the source code for the React app that lives at https://staging.va.gov/education/gi-bill/post-9-11/ch-33-benefit/status

[2020-08-05 16:13] erikphansen commented on #10249
Next step:
- [ ] try hitting `GET /v0/disability_compensation_form/rating_info` with user 228

[2020-08-05 16:15] abuckley3385 commented on #11936
@arickalewis1 Is there a way to get this card sort to our clinical stakeholders at LomaLinda and Hawaii without having to do an in-person session?  @LEHigley

[2020-08-05 16:17] mandifrances commented on #12084
This has been scheduled for Monday, August 10th @ 3:30pm ET. @desireeturner

[2020-08-05 16:21] ncksllvn commented on #11380
Link to the page in staging - https://staging.cms.va.gov/find-forms/about-form-21p-534ez

It looks like we need to add a new field, `fieldAlert`, into the GraphQL query and then the FE template as well. (Tech detail - we can look at `page.graphql.js` for an example implementation of pulling in `FIELD_ALERT`). Example query response -

![image](https://user-images.githubusercontent.com/1915775/8943

[2020-08-05 16:22] peggygannon opened #12097 "VSP content feedback - Health questionnaires (usability prep)"
## User story

This ticket captures VSP content feedback on Health questionnaires for usability prep testing.

Links:

## Acceptance criteria

- [ ]  VSP/Peggy provides content feedback for the form/tool and any associated static pages
- [ ]  Product team incorporates feedback and/or asks follow up questions about the feedback
- [ ] Teams leaves comments about any feedback they decide not to take

[2020-08-05 16:26] jholton commented on #12042
They mean consider every component of the IDs.  That is, each value between each carrot.

[2020-08-05 16:27] Samara-Strauss commented on #11938
Assuming this refers to the three test cases highlighted in yellow [in this spreadsheet](https://docs.google.com/spreadsheets/d/1XQiqBSol6BhQxnRpjuohblsNBLQx4SLDYbr9NJflCtM/edit?ts=5f2987eb#gid=1599074391).

I left these comments in the spreadsheet, but also posting here for visibility/documentation purposes.

- Military info: "We cant access your military information" — We probably don't have a u

[2020-08-05 16:28] erikphansen commented on #10247
We currently show upcoming appointments at https://staging.va.gov/health-care/schedule-view-va-appointments/appointments/

Will check with the VAOS team to see feasibility of showing current appointments. Do they have a component we could drop into place?

[2020-08-05 16:28] jholton commented on #12042
Here is a restatement of the issue that I wrote up:

The problem:

As a result of “enumerating the VA VistA NEW PERSON file”, VA MPI  introduced a new VistA correlation ID for “persons” that shared the same Assigning facility as “patients”.
These new correlation IDs are now included in the responses of person queries to MPI.

The issue became apparent when clinical applications (MHV and CPRS) star

[2020-08-05 16:29] jholton commented on #12042
And here is my response in regards to va.gov's use of these specific correlation IDs:

VA.gov parses correlation IDs from MPI requests in the `id_parser.rb` class.
For a given user, we do [extract facility IDs](https://github.com/department-of-veterans-affairs/vets-api/blob/fce99d83787a0bd2d2de7860e2e489436d40ecda/lib/mvi/responses/id_parser.rb#L57) ("Assigning Facility").
For this we only conside

[2020-08-05 16:31] joanneesteban opened #12098 "Audit GA Dashboards"
## Issue Description
How might we audit our Google Analytics dashboards so that we can make sure our production dashboards have non-prod equivalents?

---
## Tasks
- [ ] Document available dashboards & links to them
- [ ] Document which are prod vs. nonprod
- [ ] Transition any prod to nonprod reports

## Acceptance Criteria
- [ ] We understand what dashboards are available & which need to be copi

[2020-08-05 16:31] ricetj commented on #8954
Julian to come up with an updated plan and present it to the team.

[2020-08-05 16:37] ala-yna opened #12099 "Allow resubmission on 10-10CG"
Given that we want to allow users to resubmit if they get a failure upon initial submission
_Especially_ if the error was *not* an internal server error
How might we update the content, design, front-end, and backend to allow resubmission?

- [ ] Platform enhancement (not owned by team)
- [ ] Update error message
- [ ] Map user experience
     - Cutoff after x number of tries?
     - Only if data

[2020-08-05 16:40] mshea0606 opened #12100 "[IA] [FE] Update "change address" link to go directly to personal information section of the profile"
## Background
**See IA staging review feedback ticket:** IA feedback - Staging review - Profile 2.0 #11968

Once signed in, the link from the [change address page[(https://staging.va.gov/change-address/) should link directly to the personal information page, not just the top level /profile page. Currently this is not required since the /profile page is essentially a pass-through to the /personal-i

[2020-08-05 16:47] leahkeeler commented on #11342
@tzelei This is all god except the debt details page is not part of MVP, it will be released in iteration 1

[2020-08-05 16:48] jonathanjnelson commented on #11594
Hi @meganhkelley!

I think there are two goals:

- To find out if there is any sort of workaround the Caregiver team can use in this sprint/or the next with the desire is to have submit button remain on the review page (if a error message is received)
- Document intended and current behavior (with the understanding that this is the intended behavior - to prevent users from submitting a series of e

[2020-08-05 16:49] mmiddaugh commented on #10706
May defer this to 10.0 (October)

[2020-08-05 16:53] markgreenburg commented on #11593
@DanielleThierryUSDSVA – yes, the hold is to ensure that clinicians have time to relay sensitive diagnoses to Veterans rather than Veterans finding out about the diagnosis online first. Though I don't know that we need _that_ level of specificity. Up to the content experts :)

[2020-08-05 17:08] MickinSahni commented on #10435
@RLHecht @lunascoop to review tickets within and groom

[2020-08-05 17:08] cohnjesse opened #12101 "Create Controller for CH36"
# Background
The Chapter 36 form will be submitting to central mail. Submitting a form to central mail within VA.gov means we need to set up a controller on the back end to receive the payload from the front end and call the CentralMail service. In order to submit a PR to `vets-api` we also need our controller to be unit tested to 90% coverage so this ticket includes that work as well.

## Tasks
-

[2020-08-05 17:08] abuckley3385 opened #12102 "[Initiative] Visit Intro (Proof of Concept)"
## Initiative Outline
[Visit Intro](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/initiatives/visit-intro.md)

## High Level User Story/ies
As a Veteran, I want to provide my my care team with what is important to me to focus on for this visit.

## Definition of done
### Determine scope for Q3 deliverable Proof of Concept

*Tak

[2020-08-05 17:09] mandifrances opened #12103 "AWS Staging Test Patients that Work in Legacy but Not UI"
See attached email. [https://app.zenhub.com/files/133843125/87521cd0-1cdc-4471-b190-5ff44b885281/download](https://app.zenhub.com/files/133843125/87521cd0-1cdc-4471-b190-5ff44b885281/download)

[2020-08-05 17:09] LindseySaari opened #12104 "PACT Search POC"
## Issue Description
For POC, we need to verify pact contract testing via the search endpoint to confirm that PACT can successfully pass and produce a green status, publishing results back to the [broker](https://vagov-pact-broker.herokuapp.com/). The search endpoint is a simple endpoint that requires no auth.

### Additional Info
Due to Thor dependency issues with the pact and pact-mock_service g

[2020-08-05 17:09] cohnjesse opened #12105 "Create a Model for CH36"
# Background
With almost all forms on VA.gov we need to set up a model in Rails that will handle saving data to the `vets-api` database. These models act as the glue between the controller and the database and are used not only for retrieving data but also for things like sorting data or filtering data which we will not be doing much of for the Chapter 36 form. In order to submit a model in a PR t

[2020-08-05 17:10] jason-gcio opened #12106 "Pre-Launch Content Punch List for 686"
## Goal
With launch looming, we have the final content changes from Peggy that MUST be done before launch.  We need to implement those so that we can present the strongest first version possible

## Context
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/ebenefits/features/view-update-dependents/research-design/text-revisions/686-punch-list-0720.md

## Pre

[2020-08-05 17:10] #7893 closed

[2020-08-05 17:10] #7326 closed

[2020-08-05 17:12] #12038 closed

[2020-08-05 17:13] #8117 closed

[2020-08-05 17:14] #11550 closed

[2020-08-05 17:15] bkjohnson commented on #11023
Fixed in https://github.com/department-of-veterans-affairs/devops/pull/7262

[2020-08-05 17:15] #11023 closed

[2020-08-05 17:17] mr0sari0 commented on #6595
@jenstrickland I have created a PR that fixes the alignment and spacing. I have also completed the required tasks in the checklist.

[2020-08-05 17:18] ala-yna opened #12107 "Update backend processing that removes ICN"
Given that CARMA could only process veterans as verified or unverified
We remove ICN for veterans that aren't found in eMIS.

Once CARMA updates their logic,
We can send them ICNs for those individuals
To make processing easier.

See: https://github.com/department-of-veterans-affairs/vets-api/blob/master/lib/carma/models/submission.rb#L13 

**Suggested Solutions**
1) Move this business logic to CA

[2020-08-05 17:20] amyknox commented on #10780
@jonwehausen Approved Programs.. that isn't part of the "What happens after you apply" content.

- The approved programs list is currently a PDF that lives here: https://benefits.va.gov/gibill/docs/fgib/STEM_Program_List.pdf
- This month it should transition to a new location when a drupal page about the STEM scholarship launches on VA.gov (Target date 8/26). Something like: Home > Education and t

[2020-08-05 17:22] jenstrickland opened #12108 "508-defect-2 [SEMANTIC MARKUP, SCREENREADER]: Search form SHOULD use semantic markup"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

**Feedback framework**
- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

On the initial landing screen with the search form,

[2020-08-05 17:27] ala-yna opened #12109 "Add notifications to family caregiver application"
Work with the notifications team to pilot sending notifications to caregivers and veterans on the status of their application

- [ ] Intro meeting with Notifications team
- [ ] Research into notification experience/implementation
- [ ] When do we send notications?
- How do you opt in to notifications? What information gets collected? When?
- How are the notifications sent? Email? Text?
- Who do no

[2020-08-05 17:27] MickinSahni commented on #11335
potential new scenarios:
- 404ing pdf download link - ticket/implementation pending

[2020-08-05 17:28] mnorthuis commented on #10688
This redirect is vetted and can be implemented per the requesting team's date.

@mshea0606  @tressaellen This ticket now moves to the public websites team for implementation.  Please be sure to communicate when you want to see this redirect go live.

[2020-08-05 17:29] dneel-bah commented on #11284
@mnorthuis Just to confirm, until the new static content page is ready, we want to do this:

Option 1:
Home (https://staging.va.gov/)

[2020-08-05 17:31] lunascoop commented on #11372
Hi @RLHecht the 2018 and 2019 pages are ready for review and include the additional changes discussed.

- 2018: http://preview-prod.vfs.va.gov/preview?nodeId=6266
- 2019: http://preview-prod.vfs.va.gov/preview?nodeId=6797

[2020-08-05 17:31] abuckley3385 opened #12110 "[Feature] This Visit"
## Product Outline
[Questionnaires](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/product-outline.md)
[Visit Intro Initiative](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/initiatives/visit-intro.md)

[Feature Outline - This Visit](https://github.com/depart

[2020-08-05 17:32] arickalewis1 commented on #11936
I will make a separate link that we can send them so we have a a way to discern the data @abuckley3385. They can do it remotely in their own time.

[2020-08-05 17:36] ala-yna opened #12111 "Allow authenticated submission for family caregiver application"
How and when would signatures be collected?
What privacy and security considerations need to be kept in mind?
How would the experience differ from the unauthenticated form?
What CARMA changes need to be made to allow us to send these applications?

[2020-08-05 17:36] MickinSahni commented on #5590
need to indicate on form detail page that the downloaded PDF is 404ing. the form page should still exist but need messaging to inform users of why they aren't seeing the PDF link. this would make detail pages consistent with the search (where we're already suppressing 404ing PDF urls)

[2020-08-05 17:36] ala-yna opened #12112 "Allow veterans/caregivers to check application status via a website"
How might we give veterans and caregivers an online, self-service tool for tracking the status of their application?

How can caregivers and veterans understand application status currently?
What pain points do veterans, caregivers, and CSCs have with the current process?
How do CSCs authenticate caregivers and veterans that call in?
What information can CSCs provide to caregivers and veterans on

[2020-08-05 17:37] jason-gcio opened #12113 "Scaffold Wizard for CH31"
## Goal
Now that we have the wizard content nailed down, we need to start building the wizard so that we can complete all the necessary components for delivery.

## Considerations
- There is work done in the [Design System](https://design.va.gov/patterns/wizards) as well as the [code](https://github.com/department-of-veterans-affairs/vets-website/tree/master/src/applications/disability-benefits/wi

[2020-08-05 17:37] abuckley3385 opened #12114 "[Feature] Authentication SSO"
## Product Outline
[Questionnaires](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/product-outline.md)
[Feature Authentication](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/features/authentication.md)

## High Level User Story/ies
As a _____, I need _____ so

[2020-08-05 17:42] abuckley3385 opened #12115 "[Feature] Questionnaires Manager"
Epic Name: Questionnaires List

## Product Outline
[Questionnaires](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/product-outline.md)
[Feature - Questionnaires List ](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/features/questionnaire-manager.md)

High Leve

[2020-08-05 17:45] tskinn commented on #12087
@stephennovosel you should be able to connect to the socks proxy. Reach out in slack if you have issues.

[2020-08-05 17:45] #12087 closed

[2020-08-05 17:45] tskinn commented on #12073
@bradenshipley you should be able to connect to the socks proxy. Reach out if you have any issues.

[2020-08-05 17:45] narin commented on #11978
I can start work on code the limit check, but we'll need some guidance on where to put it.

@rtwell To add some additional context, we have to either perform a separate API call on each facility to see if the user has reached the limit **or** fetch the express care requests and compare it against that.

With this in mind, I think we might want to avoid displaying this messaging on the homepage to

[2020-08-05 17:49] #1623 closed

[2020-08-05 17:51] jason-gcio opened #12116 "CH31 Staging Disentanglement"
## Goal
Right now, CH31 is being redirected to `/careers-employment/vocational-rehabilitation/` which is a static page.  This needs to be:

**Static landing page:** https://www.va.gov/careers-employment/vocational-rehabilitation/
**Start application:** https://www.va.gov/careers-employment/vocational-rehabilitation/apply

## Considerations
- Is this a greedy redirect? (Perhaps Nick S, or Kelson mi

[2020-08-05 17:51] Samara-Strauss commented on #11528
Thanks @lihanli. I'm gonna pull @bsmartin-ep into the convo to see if he has any thoughts from a GA perspective.

@bsmartin-ep — We are seeing drastically different numbers for direct deposit updates in Google Analytics vs. Grafana. For the week of July 22 - July 29, there were 3030 successful DD updates logged in Grafana.

![Screenshot_2020-08-04_15-58-38](https://user-images.githubusercontent.co

[2020-08-05 17:54] omgitsbillryan opened #12117 "Sentry 10: Fix DeploymentHostCountCritical Alert on Re-Deploys"
## The Problem
Re-deploys of Sentry 10 result in a `DeploymentHostCountCritical` alert being fired to the `Devops Critical` team.

[Slack alert link](https://dsva.slack.com/archives/C30LCU8S3/p1594927110070900)

## Extra Context
Sentry10 is a single instance that gets deployed and has it's EBS volume swapped between deploys. Instead of just silencing this one alert, we may want to modify the deplo

[2020-08-05 17:54] MickinSahni commented on #6825
@ncksllvn doublecheck that the should and consider items are not already taken care of. if not, groom and prep for prioritization (estimate, milestone, etc.)

[2020-08-05 17:58] MickinSahni commented on #7523
Would need to figure out how to open accordion. Drupal does give ability to create ids as needed. (although Drupal jump links do cut off at 30 char)

[2020-08-05 18:00] omgitsbillryan opened #12118 "Sentry 10 `vagov-dev` data is flowing to Sentry 10"
## The Problem
Our current Sentry 10 deployment has zero configuration. We need "projects" configured for `dev`, `staging`, `prod` etc for both vets-api and vets-website. For this issue, we only want to create the `dev` sentry project workspaces for `vets-api` and `vets-website`.

## Extra Context
- We are aware of a [Terraform Sentry Provider](https://github.com/jianyuan/terraform-provider-sentry

[2020-08-05 18:00] #7523 closed

[2020-08-05 18:01] omgitsbillryan commented on #11584
I've created a separate ticket that kind of overlaps with this one: https://github.com/department-of-veterans-affairs/va.gov-team/issues/12118

It covers only the `dev` portion of Sentry 10 configuration.

[2020-08-05 18:03] jason-gcio opened #12119 "View Payment History Submission Issues"
## Background
We are seeing some disparity between what we can access and what BGS is seeing on their end.  We might need to pair with them to find the difference and get the issue resolved.

## Considerations
**Notes/Things to try:**
- [ ] Match Headers for Payment Call
- [ ] Talking to Ivan about this
- [x] Try different SSN number
- [ ] Copy paste code to Ivan
- [ ] Verify that IP addresses are

[2020-08-05 18:04] #11341 closed

[2020-08-05 18:08] patrickvinograd opened #12120 "Dan offboarding knowledge transfer"
@hinzed1127 to do a brain dump of knowledge before rolling off SSOe.

Any and all information is helpful, but to get started:

1. What have been the challenges with race conditions and other undesirable behavior and what seems to bet the best implementation strategy to avoid those?

2. Any insight around writing unit/e2e tests within vets-website, how to structure them and areas where more test co

[2020-08-05 18:10] alexpappasoddball opened #12121 "Document a Product rollout strategy for Sentry 10"
## Issue Description

## Tasks

[2020-08-05 18:10] lunascoop commented on #11373
Hi @RLHecht the 2018 and 2019 pages are ready for review and include the additional changes discussed.
I wasn't sure if the first dollar amount in a table should include a dollar sign before the number in these instances.

- 2018: http://preview-prod.vfs.va.gov/preview?nodeId=6203
- 2019: http://preview-prod.vfs.va.gov/preview?nodeId=6799

[2020-08-05 18:11] patrickvinograd commented on #12120
7. Who have been helpful contacts on other teams (esp IAM) for specific issues?

[2020-08-05 18:14] mnorthuis opened #12122 "Documentation: Define Vanity URL guidelines and request process"
Identify and document guidelines and process for vanity/shortened URLs.

[2020-08-05 18:16] tressaellen commented on #11489
Here is the correct phone number from Peggy.

<img width="709" alt="Screen Shot 2020-08-04 at 1 10 03 PM" src="https://user-images.githubusercontent.com/58752772/89448786-8df97b80-d704-11ea-864b-89f477d3cf84.png">

[2020-08-05 18:16] leahkeeler opened #12123 "Edu Wizard - Add flipper to pages"
Add feature flag flippers to edu wizard page in order to split traffic for incremental roll-out .

[2020-08-05 18:17] alexpappasoddball opened #12124 "Update VFS and VSP documentation"
Need to update the two documentations that are currently out there to reflect the new features of sentry 10

- [VFS facing docs](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/engineering/sentry-configuration.md)
- how to autoassign issues to your team based on X and Y
- https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/engineeri

[2020-08-05 18:18] mshea0606 opened #12125 "[FE] Update Direct Deposit fraud phone number"
## Background
See ticket: [Design] Profile 2.0 - Direct Deposit - Fraud Note copy does not match design prototype #11489

## Tasks
- [ ] Updated phone number

[2020-08-05 18:19] kfrz commented on #277
OBE. Closing as we will re-configure projects in #12118

[2020-08-05 18:19] #277 closed

[2020-08-05 18:19] #10813 closed

[2020-08-05 18:20] #11587 closed

[2020-08-05 18:21] jenniferlee-dsva commented on #5549
@mnorthuis - The url mapping is complete and can be found in the 8/5 Excel spreadsheet in this form detail product repo:
https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/find-va-forms-redesign/form-detail-landing-pages/redirects

**There are 2 sheets in the spreadsheet.**
1/ Sheet 1 includes the 1:1 redirects of high value form pages - there are about 70.
2/ Sheet

[2020-08-05 18:21] tressaellen commented on #11489
Here is the correct number from Peggy

<img width="833" alt="Screen Shot 2020-08-05 at 12 21 03 PM" src="https://user-images.githubusercontent.com/58752772/89449342-6525b600-d705-11ea-93d3-c62854dcc70e.png">

[2020-08-05 18:23] alexpappasoddball opened #12126 "Create a Rollout plan for PACT"

[2020-08-05 18:24] delli-gatti-michael commented on #11700
Local testing complete

[2020-08-05 18:25] #9128 closed

[2020-08-05 18:27] alexpappasoddball commented on #11512
Removing from BE Tools board.  If any more help is needed we can add it back or create a new ticket with specific tasks.

[2020-08-05 18:29] #11908 closed

[2020-08-05 18:29] lenaecb commented on #12103
I updated the ticket. I will test some of the ID.me users now because I haven't personally tested them (assumed Marcy - the SQA requesting these test users from VA Mobile) had already tested/confirmed they do not work in staging.va.gov.

[2020-08-05 18:29] #11503 closed

[2020-08-05 18:30] mshea0606 commented on #11890
@tressaellen to add designs

[2020-08-05 18:32] mshea0606 commented on #11910
waiting on platform to make changes, Erik is going to update unit tests

[2020-08-05 18:32] f1337 commented on #11932
Slack support:

https://dsva.slack.com/archives/CBU0KDSB1/p1596644740078000
https://dsva.slack.com/archives/CBU0KDSB1/p1596645343079800

[2020-08-05 18:32] peggygannon commented on #11902
Hi, @rileyorr here are recommendation for empty state alerts for Debt Management tool. I'm still working on the COVID-19 related alerts.

Use case 1: Veteran doesn't have any debt.

**You don't have any VA debt**
Our records show you don’t have any debt related to VA benefits. If you think this is an error, please contact the Debt Management Center at 800-827-0648.
If you have VA health care copay

[2020-08-05 18:34] mshea0606 commented on #11907
@tressaellen and @erikphansen to meet with Jennifer

[2020-08-05 18:36] delli-gatti-michael commented on #11700
![Screen Shot 2020-08-04 at 9.17.51 AM.png](https://images.zenhubusercontent.com/5c07f000391a6f6357adc430/d8ae6662-ae45-48f7-ac93-b3deb66f99b0)

[2020-08-05 18:36] mshea0606 commented on #11888
@tressaellen and @erik to meet with Jennifer

[2020-08-05 18:39] elder-joseph commented on #10983
Associated PRs:
Full PR: https://github.com/department-of-veterans-affairs/gibct-data-service/pull/695
Database Specific PR: https://github.com/department-of-veterans-affairs/gibct-data-service/pull/696

[2020-08-05 18:40] mshea0606 commented on #5861
@tressaellen link to new approach

[2020-08-05 18:45] amyknox commented on #11940
Replace STEM eligibility content on the How to apply page (1st image below) with the eligibility criteria in "Determine eligibility" on the STEM intro page (2nd image below)

[How to apply](https://staging.va.gov/education/how-to-apply/)
"![image.png](https://images.zenhubusercontent.com/5b51ea398c1a7628d9218a42/5ed39c66-6b54-441e-bc8c-59305d40044e)

[STEM Intro page](https://staging.va.gov/educat

[2020-08-05 18:46] mmiddaugh commented on #11588
Based on changes  to the data structure, getting the specialties for display on the search results card has become more complex. This can be accommodated, but the team has discussed moving away from displaying the information on the search results card in favor of including it in the results subhead.

As a result, we've decided to just make the shift now (rather than doing more work today only to

[2020-08-05 18:47] mshea0606 commented on #11972
need to confirm phone number format

[2020-08-05 18:49] mmiddaugh commented on #11588
[Subhead issue](https://github.com/department-of-veterans-affairs/va.gov-team/issues/11877)

[2020-08-05 18:52] mshea0606 opened #12127 "[FE] Update phone number formatting in Profile"
## Background
Personal and contact information screens

See ticket:

Must
Phone numbers: should be formatted xxx-xxx-xxxx, per VA.gov style. Not with parens

## Tasks
- [ ] Update phone number formatting

[2020-08-05 19:00] peggygannon commented on #11838
@abuckley3385 @arickalewis1 Hello! I have a couple of content-related questions about this project. Please let me know if you have any questions about my questions! thx

1. Do the screenshots above reflect the full WIP flow ?

2. Do you have an editable Word or Github outline with the content?

3. Will this questionnaire have a "confirmation" page that appears after the user hits the Submit button

[2020-08-05 19:01] amyknox commented on #11940
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/education-careers/stem/stem-standalone-10203/content/apply-for-benefits-wizard-content-update.md

[2020-08-05 19:01] lildziner commented on #11413
Reference [UXPin prototype ](https://preview.uxpin.com/f373333a8a59902cbf120c3f00e6d0e13d52fb75#/pages/131031425/simulate/sitemap?mode=i)
![image.png](https://images.zenhubusercontent.com/5c4895778d88074ab2c6ad18/cd05a020-bddb-4b53-9f47-0e87a0f56caa)

[2020-08-05 19:02] #12011 closed

[2020-08-05 19:04] #12019 closed

[2020-08-05 19:06] #12045 closed

[2020-08-05 19:07] #12018 closed

[2020-08-05 19:08] mchelen-gov opened #12128 "Document OIT screener use case"

[2020-08-05 19:13] Samara-Strauss commented on #5861
[This is the updated design](https://github.com/department-of-veterans-affairs/va.gov-team/issues/11043#issuecomment-666655878). I think we might just be waiting for sign off from Peggy.

[2020-08-05 19:15] bkjohnson opened #12129 "[Pre-release] Add automation to check the standalone content build against the existing vets-website one"
## Issue Description
We are trying to move the content build code out of `vets-website` and into the [content-build](https://github.com/department-of-veterans-affairs/content-build) repo. We have a script that a developer can run locally to compare the two builds to see if they match up, but we want this step to be automated on a schedule.

---
## Tasks
- [ ] Write a script that can be run on a sc

[2020-08-05 19:16] #10940 closed

[2020-08-05 19:27] ericbuckley commented on #12120
8. I'm still unclear as to the separation between vets-website and what the content team is still responsible for.  Are there any GH tickets that the content team still needs to complete for the SSO project?  If so would we expect any more work to come our way for UI/UX changes?

[2020-08-05 19:33] mnorthuis commented on #11804
Thank you @DanielleSoCompany!

Some additional content I think needs to be done that I want to discuss:
Education hub page - update teaser text on Other Education benefits option to reflect the addition of a scholarship
Other education benefits page - re-order the options and ensure a proper call-out to all other education benefits outside of GI Bill core benefits

Beyond that, we should align on

[2020-08-05 19:40] #11536 closed

[2020-08-05 19:40] #11429 closed

[2020-08-05 19:42] massrb commented on #11533
It turns out that we do not need to research CDW.  it is a far downstream dependency, if at all.  we would not write to CDW, and any data we might read from CDW would be possibly 24 hours old.

[2020-08-05 19:44] mmiddaugh opened #12130 "Stakeholder communication"
Placeholder issue

How might we best communicate the availability of the new content model fields for facility health services in the front end? CMS is developing an automatic release note process which might be used by Facilities

[2020-08-05 19:44] ncksllvn commented on #6825
Going through this list, noting the ones we need to revisit. Going to follow up against boiling this down further.

## VSP

### musts

1. "Apply online" button will need an aria-label or SR-only text to be clear to screen readers.
    -  Great suggestion; we can make sure to do this when we work on https://github.com/department-of-veterans-affairs/va.gov-team/issues/11453 (which adds that button)

[2020-08-05 19:50] ncksllvn commented on #6825
## Action items
We should implement these as part of #11453 or after.

1. "Apply online" button will need an aria-label or SR-only text to be clear to screen readers.
1. Download links should follow the accessible pattern VSA/VSP accessibility specialists collaborated on
1. Individual buttons should include an accessible name that matches the displayed text.
1. Chevron: the > right angle bracket s

[2020-08-05 19:51] ncksllvn commented on #6825
@MickinSahni @jenniferlee-dsva I just circled back to this. Many of these I think we can do in our upcoming work for adding the additional fields into the search results in https://github.com/department-of-veterans-affairs/va.gov-team/issues/11453, but others we need to discuss a bit before implementation

[2020-08-05 19:52] 1Copenut commented on #11511
@desireeturner I've done the preliminary check in Adobe Acrobat Pro, using the accessibility tools. The PDF passed automated scanning with no issues. I'll go ahead and check it in Acrobat Reader using NVDA on my Windows machine too.

If you like, it can be submitted to the VA's document remediation group through the VA Network IT portal. Their timeline is variable, but they have document experts o

[2020-08-05 19:52] ncksllvn commented on #11453
Some accessibility improvements/suggestions are mentioned here that would be good to implement with this work, https://github.com/department-of-veterans-affairs/va.gov-team/issues/6825#issuecomment-669460219

[2020-08-05 19:53] dmccurdybah commented on #11876
PR: https://github.com/department-of-veterans-affairs/vets-api/pull/4641

[2020-08-05 19:59] desireeturner commented on #11511
@1Copenut Great, thank you! Sounds like getting another review from VA's document remediation group couldn't hurt, so let's go ahead with that if you don't mind submitting that.

[2020-08-05 20:03] mmiddaugh opened #12131 "Responsive design at breakpoint 1008"
## Issue Description
As a Veteran, I need the Facility Locator search page to adjust to my viewpoint so that all content is rendered on screen and available to me.

## Current behavior
We currently have two layouts: desktop and mobile.

There are several Defect-1 issues documenting the behavior of search buttons and content wrapping in screen sizes between standard desktop and mobile.
- [508-defec

[2020-08-05 20:04] ncksllvn commented on #11875
I _think_ this is related to https://github.com/department-of-veterans-affairs/vets-website/pull/13607/files#r465970894. This should be an easy fix and the error it's producing is ugly even though it has no effect on the user. I'm gonna pull it into our Ready column.

[2020-08-05 20:13] ccruzgra commented on #11844
Kenny pointed out that the form number was being put in by the code, and checking the 526ez reveals that's the right behavior, so we are moving forward with "Your Rogers STEM Scholarship application (22-10203) is in progress."

[2020-08-05 20:15] micahchiang commented on #11687
@jonwehausen - for `'error-key': 'XXX_description_of_error'` - Can you clarify: are we inserting the actual string `_description_of_error` Or are you asking for something that describes the error i.e. `503_internal_server_error`?

[2020-08-05 20:17] ncksllvn commented on #11625
I'm checking out the Lighthouse API implementation to learn how to do this and hoping to distinguish between these two fields.

`valid_pdf` - set to `false` if the form PDF fails to open during the Lighthouse migration
`deleted_at` - an unsurfaced field equal to the GraphQL field `fieldVaFormDeletedDate`.

My inclination is that `valid_pdf` is what we're interested here. Currently, Find Forms just

[2020-08-05 20:19] luke-gcio commented on #1663
OBE - we have retries to cover this now.

[2020-08-05 20:19] #1663 closed

[2020-08-05 20:21] erikphansen commented on #12019
It is safe to ignore my comment above. I confirmed that when you exit edit mode the field you were editing is always in the viewport. This is because we manage the focus when leaving edit mode, placing focus back on the `Edit` button. The act of programmatically focusing on the `Edit` button will move the `Edit` button to the center of the viewport if it is not already in the viewport. At least in

[2020-08-05 20:26] alexpappasoddball commented on #12042
Moving this issue over to the identity team.  @christine-dillman double check my labels.

Also removing myself and assigning to Johnny with JP for coverage

[2020-08-05 20:28] mandifrances opened #12132 "Project Kickoff Testing things."
## Steps to complete Project Kickoff
- [ ] Product Manager: create this issue and fill in feature name in the title and other bolded information appropriately
- [ ] Link to this issue once created in [#vfs-platform-support](https://dsva.slack.com/channels/vfs-platform-support) in Slack; tag @ AndreaHewitt @ Mandi Lipka
- [ ] Mandi will schedule meeting with VSP reviewers and **requesting team** at

[2020-08-05 20:28] artsymartha68 commented on #11992
Adding @stephenBarrs to implement the required fields feedback above. Again whatever the default behavior is, we'll go with. It originally looked like overkill to my eyes to have ALL fields marked with a red "Required" but I am willing to go with the flow here.   👍

Agree with the Race/Gender question info, again I think these form components have the correct styling by default vs. my UX Pin proto

[2020-08-05 20:39] johnpaulashenfelter opened #12133 "Discovery: Try Loki logging app with vets-api"
The semantic-logging gem handles all of our logging in AWS and will need to handle logging on Loki, the upcoming logging tool that is part of our current infrastructure strategy. Verifying the Loki+semantic_logging combination early on will help ensure that strategy stays on track.

Assumptions:
* Install Loki locally either through a tool like homebrew or (even better) by adding it to the Docker

[2020-08-05 20:40] Samara-Strauss commented on #12019
Confirmed the fix! Looks great now on iPhone in Safari.

[2020-08-05 20:42] RLHecht commented on #12080
This is validated on live site. Closing ticket. FYSA @MickinSahni

[2020-08-05 20:42] #12080 closed

[2020-08-05 20:43] RLHecht commented on #12079
These changes are live on the site. Closing ticket. FYSA @MickinSahni

[2020-08-05 20:43] #12079 closed

[2020-08-05 20:48] Mottie commented on #11801
I spoke with the EVSS team and discovered that these statuses are not from EVSS, but instead come from our API.

After searching & matching, I found that the status list we have on the front-end matches the API statuses. So where ever the API is obtaining these statuses must have additional values we don't have:

### Statuses found in two files:

https://github.com/department-of-veterans-affairs/v

[2020-08-05 20:56] CrystabelReiter commented on #11992
@artsymartha68 Thanks Martha! I agree that having optional fields marked only seems more friendly. I did a required/optional field audit a while ago on whether we should do away with required fields and only mark optional. According to this [article](https://www.formulate.com.au/blog/required-versus-optional-fields-new-standard/), it's recommended that backgrounder forms have the required markers

[2020-08-05 20:56] #11992 closed

[2020-08-05 20:58] CrystabelReiter opened #12134 "Update cards and modals with smart layout"
- [ ] Research on how to update complex components with sketch layout

- [ ] Update cards with sketch layout

- [ ] Update modals with sketch layout

- [ ] Update sketch and announce to teams

[2020-08-05 21:05] #10092 closed

[2020-08-05 21:07] RLHecht commented on #10893
@bethpottsVADEPO Trying to set up the table columns as you had above wasn't working. Keeping "disability rating" and "monthly payment" on their own lines made the columns too wide and didn't show the whole table on the page. I just added in the "(in U.S. $)" part and kept that on one line. Take a look and let me know what you think. If it's good this is ready to send to the stakeholder. http://pre

[2020-08-05 21:14] rianfowler opened #12135 "Standardize error page behavior"
## Overview

- All error pages should but do not show any Va.gov branding
- 404 is the only status code handled currently and it is not using a standard static page generated by the CMS and it doesn't get the same headers as the rest of the static pages on the site
- Examples of current error pages:
<img width="873" alt="Screen Shot 2020-10-02 at 2 53 36 PM" src="https://user-images.githubusercont

[2020-08-05 21:16] mmiddaugh opened #12136 "FL Search data layer"
Based on Analytics issue #10987 and [Epic](https://github.com/department-of-veterans-affairs/va.gov-team/issues/11597)

The Analytics team has proposed the addition of the following dataLayer variables with that search event to be included to unveil and enhance our insight. We need to groom these items to determine which will be most valuable and how we can prioritize the work. If needed, we can w

[2020-08-05 21:22] jenniferlee-dsva commented on #11625
Replying to

In the CMS there is a difference between `invalid` form and a `deleted` form. @swirtSJW would be able to shed light on this.

**The `deleted` meta data comes directly from the VA forms DB.**

- It tells us that form X was deliberately removed from the DB and what date. This let's us know that the form detail page for X form should be automatically put into an unpublished archive state

[2020-08-05 21:31] mmiddaugh opened #12137 "FL Map data layer"
## Issue Description
Based on Analytics issue #10987 and Epic

The Analytics team has proposed the addition of the following dataLayer variables with that search event to be included to unveil and enhance our insight. We need to groom these items to determine which will be most valuable and how we can prioritize the work. If needed, we can work with the Analytics team to add/remove variables that

[2020-08-05 21:42] #11601 closed

[2020-08-05 21:44] bethpottsVADEPO commented on #10893
This works, thank you! We can always iterate down the road if we want to. I'll share with Elana.

[2020-08-05 21:46] mmiddaugh opened #12138 "FL search results data layer"
## Issue Description
Based on Analytics issue #10987 and Epic

The Analytics team has proposed the addition of the following dataLayer variables with that search event to be included to unveil and enhance our insight. We need to groom these items to determine which will be most valuable and how we can prioritize the work. If needed, we can work with the Analytics team to add/remove variables that

[2020-08-05 21:46] arickalewis1 commented on #11838
@peggygannon Hi!

1. They do not represent the entire flow -- we will be adding intro and confirmation screens after the study. For context, we are not testing the prototype and will be getting feedback on static screens from Veterans regarding the content of the questions/labels.

2. Here's a [document](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care

[2020-08-05 21:52] arickalewis1 commented on #11838
Hi all, I've been working on these since uploading the version above. I'm attaching another iteration here:
![Veteran info 1](https://user-images.githubusercontent.com/54509359/89467848-f7e14780-d73b-11ea-95d8-5257dd45e686.png)
![reason for visit - no additional](https://user-images.githubusercontent.com/54509359/89467856-fadc3800-d73b-11ea-9c6d-7eaef9eed76b.png)

![reason for visit](https://user-

[2020-08-05 21:54] mmiddaugh commented on #8736
@gunsch The facilities team is no longer using the original vets-api. Per the discussion in [#9716](https://github.com/department-of-veterans-affairs/va.gov-team/issues/9716), v0 can be deprecated.

[2020-08-05 22:03] cvalarida commented on #11862
This might have something to do with these reverse fields we've been running into. @swirtSJW 's change to add all the reverse fields should get deployed tomorrow, so if it _is_ that, we should get unblocked then.

[2020-08-05 22:13] 1Copenut commented on #11511
Can do. I'll send it tomorrow morning when I log in.

[2020-08-05 22:31] U-DON opened #12139 "Decommission the Puppeteer form tests from Jenkins"
Now that Cypress has offically rolled out, we no longer need the Puppeteer form tests to run in CI. Furthermore, the tests that Puppeteer runs have aready been converted to Cypress.

The Puppeteer tests currently run in their own step in Jenkins.

[2020-08-05 22:33] U-DON commented on #12139
To speed up the pipeline, it would also be worth splitting Cypress E2E tests into their own step so they can run parallel with the Nightwatch tests.

[2020-08-05 22:34] leahkeeler opened #12140 "eFolders Technical Discovery"
## [Product Outline](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/eFolders_Migration)

## High Level User Story/ies
As a Veteran I need the ability to access and see my documents on va.gov in a similar way I can now on eBenefits. I want to use SSO on va.gov

Integration endpoint is vbms that houses all documents, not just veteran facing ones. Current eBenefits

[2020-08-05 22:36] cohnjesse opened #12141 "Create a Sidekiq Job for CH31"
`consider closing and whether we need to wait for the pdf to be generated`
`not critical for submission`

# Background
When we set up services in `vets-api` we set up sidekiq jobs to keep us decoupled from the API we are submitting to. For Chapter 31 we need to set up a sidekiq job for submitting to central mail so that we don't need to wait for a response from central mail.

## Tasks
- [ ] Set up

[2020-08-05 22:37] cohnjesse opened #12142 "Create Sidekiq Job for Ch36"
# Background
When we set up services in `vets-api` we set up sidekiq jobs to keep us decoupled from the API we are submitting to. For Chapter 36 we need to set up a Sidekiq job for submitting to central mail so that we don't need to wait for a response from central mail.

## Considerations
- [FEs ticket](https://github.com/department-of-veterans-affairs/va.gov-team/issues/12826)

## Tasks
- [ ] Se

[2020-08-05 22:46] mmiddaugh opened #12143 "Community care service parameters disappear when page refreshes"
## What happened?
When a veteran refreshes a page during a community care provider search, the parameter entered into the service type field is cleared. The location and VA facility type parameter fields retain the entered values.

## Steps to Reproduce
1. Populate city,state,zip (or enable browser location)
2. Select VA facility = Community providers (in VA's network)
3. Populate service type wit

[2020-08-05 22:51] #11960 closed

[2020-08-05 22:55] #12030 closed

[2020-08-05 23:04] mnorthuis commented on #12122
Initial draft

[vanity-urls.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/5031641/vanity-urls.docx)

[2020-08-05 23:12] mnorthuis commented on #11284
Yes, that is interim breadcrumb until the static page is complete.
However, that is not the accurate URL for the application.  Draft URL is documented in the IA write-up.  I am meeting with Danielle tomorrow to finalize content strategy and will finalize URLs with that.

[2020-08-05 23:27] gunsch commented on #8736
Thanks for the update! One point I'd like to clarify first. I got this message from @davem-va last week:

@mmiddaugh can you help me reconcile your comment with what Dave has said? Are we still seeing traffic to v0 with Facilities no longer using that API? or is your comment a more accurate reflection now?

[2020-08-05 23:34] #7562 closed

[2020-08-05 23:35] theodur commented on #11862
After adding the `field_leadership` field to the `health_care_region_page` transformer, the error above seems to have went away. One thing I noticed is that `fieldLeadership` is of the type `node-person_profile`, and `node-person_profile` has the field `fieldOffice`, which can be of the type `node-health_care_region_page`. So it looks like we have a circular reference problem.

[2020-08-05 23:40] mshea0606 commented on #11971
@sanlouise looks good!

[2020-08-05 23:40] #11971 closed

[2020-08-05 23:45] #12044 closed

[2020-08-05 23:48] mshea0606 commented on #12019
@erikphansen can you please add an estimate to this? Thanks!

[2020-08-05 23:54] #11292 closed

[2020-08-05 23:57] theodur commented on #11862
Is it safe to assume that every `node-person_profile` in the `fieldLeadership` field will have the `fieldOffice` of `node-health_care_region_page`, specifically the `node-health_care_region_page` entity that we are transforming at that moment? That's the only way I can see us getting around this 🤔. Sorry if this doesn't make sense 😅.

[2020-08-05 23:57] peggygannon commented on #11899
Hi, @lenaecb this is what is currently in the EC prototype (in italics). I tweaked this content slightly to make it more applicable to EC. We can add the sentence about profile next iteration of updates.

**Your contact information**
*Please provide your phone number and email address where VA health care staff can contact you. This contact information will be used just for Express Care and won’t

[2020-08-06 00:14] erikphansen commented on #12019
@sanlouise is the one who did it. And did it quickly so I'm putting a 1 on it.

[2020-08-06 01:31] clantosswett commented on #11476
@Kimberley2019 adding my analysis of contact center issues for the disability claim application tool for review tomorrow and synthesis.

[Disability Claim Application Contact Center Metrics Analysis.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/5032003/Disability.Claim.Application.Contact.Center.Metrics.Analysis.docx)

[2020-08-06 02:04] RLHecht commented on #11656
All these pages except the DIC Parents and Survivor DIC rates have been published. @bethpottsVADEPO

[2020-08-06 02:09] RLHecht commented on #11665
These pages have both been published. Moving to validate. FYSA @MickinSahni

[2020-08-06 02:12] RLHecht commented on #11171
The rates pages checked off above have all been published and added to the left nav. Links to these pages have also been put on the corresponding 2020 rates pages in the historic links section. Still to review are the two DIC pages. FYSA @MickinSahni

[2020-08-06 04:24] SgardnerPMP opened #12145 "[Engineer] Create Listing pages for VISN-19 Systems to include Events, Stories, Leadership, News Releases [PM]"
## Story
As a web writer developer, I need to have listing pages to place all stories, events, and news releases, so our customer can see them in Devshop.

## Resources

## Task
Create new listing pages for each of the following systems:
- [x]  VA Cheyenne health care
- [x]  VA Eastern Colorado health care
- [x]  VA Western Colorado health care
- [x]  VA Montana health care
- [x]  VA Eastern Oklah

[2020-08-06 11:18] jenstrickland commented on #11043
This new design — removing the additional info toggle — is great! What might we do to ensure this pattern is incorporated sitewide? Other projects are using the toggle 😢  and this would be great to have implemented everywhere.

Thank you so much for doing this!

[2020-08-06 11:26] jenstrickland commented on #6595
@mr0sari0 Thank you. I'll start this full audit asap. Please add links to known issues in the documentation above, just below the checklist. I will need these when I send the project to the VA 508 Office.

[2020-08-06 12:51] meganhkelley commented on #11594
@jonathanjnelson are you working on #2?

[2020-08-06 13:16] leahkeeler opened #12146 "eFolders - BE Technical Spike"
## Issue Description
_Set up vbms endpoint to retrieve documents to display in eFolders.

---
## Tasks
- [ ] _set up endpoint
- [ ] _Evaluate documents returned

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to an Epic** (what body of work

[2020-08-06 13:20] leahkeeler opened #12147 "Debt Letters - 508 FE Final Check"
**Required:**

- [x] Read the [accessibility staging review documentation](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/staging-review-processes.md)
- [x] Conduct axe browser scan, and document or address issues found
- [x] Ensure end-to-end tests - including the axe check, pass
- [x] Check color pairing for proper contrast
- [x] Check f

[2020-08-06 13:26] bradl3yC commented on #12147
@jenstrickland I completed this - looks good to me

[2020-08-06 13:26] #12147 closed

[2020-08-06 13:32] meganhkelley opened #12148 "Developer support for vaccine trials product"
For context, project kickoff ticket is #11666

Provide forms library and other developer support as needed to VFS team building COVID-19 Vaccine Trials Content and Tooling product

[2020-08-06 13:36] leahkeeler commented on #10943
HI @joanneesteban - Can you let me know when this is  added to domo so I an close this ticket. THanks!

[2020-08-06 13:36] lenaecb opened #12149 "Express Care reason for appointment page"
In an effort to improve the usability and provide additional guidance to Veterans on what to add to their EC requests, we are going to have the reason for appointment details on their own page.

## Acceptance Criteria:
- After user selects symptom from symptoms page, user take to 'reason for request' page
- user can add additional details about their appointment in a open text box up to 256 charac

[2020-08-06 13:38] meganhkelley opened #12150 "Developer support for BAM2: fix ui:ReviewField"
Work with BAM2 developer to resolve this PR: https://github.com/department-of-veterans-affairs/vets-website/pull/13461

Related context: https://dsva.slack.com/archives/CJRQ85PQB/p1596568740262400

[2020-08-06 13:42] lenaecb commented on #11899
Thanks, @peggygannon we are moving to implement the new 'reason for request' page now so we would like to go ahead and get this added to the mock. See current iteration of that [page here](https://vsateams.invisionapp.com/share/FEYB1YQM7ZW#/screens/427456322)

@rtwell can you add in @peggygannon suggestion to include the following line with our 'contact information' section - "_If you want to upda

[2020-08-06 13:45] ricetj opened #12151 "Design Doc for new Deployment pipeline"
## Description
We need a place in the open to present and talk through our ideas for the new deployment pipeline in the new infra.

## Background/context/resources
_Any additional context for the reader to know, if applicable_

## Technical notes
_Notes around work that is happening, if applicable_

---
## Tasks
- [ ] _Complete a Design doc and ask for feedback_

## Definition of Done
- [ ] _Desig

[2020-08-06 13:50] Samara-Strauss commented on #4583
UPDATE: If you decide to incorporate this into the 10-10 EZ, please see the latest implementation of this work and adjust the design and copy accordingly.

https://github.com/department-of-veterans-affairs/va.gov-team/issues/11043#issuecomment-666655878

[2020-08-06 13:51] Samara-Strauss commented on #4580
UPDATE: If you decide to incorporate this into the pension form, please see the latest implementation of this work and adjust the design and copy accordingly.

https://github.com/department-of-veterans-affairs/va.gov-team/issues/11043#issuecomment-666655878

[2020-08-06 13:51] Samara-Strauss commented on #4543
UPDATE: If you decide to incorporate this into the burial benefits forms, please see the latest implementation of this work and adjust the design and copy accordingly.

https://github.com/department-of-veterans-affairs/va.gov-team/issues/11043#issuecomment-666655878

[2020-08-06 13:51] Samara-Strauss commented on #4540
UPDATE: If you decide to incorporate this into the education forms, please see the latest implementation of this work and adjust the design and copy accordingly.

https://github.com/department-of-veterans-affairs/va.gov-team/issues/11043#issuecomment-666655878

[2020-08-06 13:52] Samara-Strauss commented on #11043
We have tickets created to update the benefits forms with this if they choose to do so. Those tickets have been hanging around since December/January and haven't been implemented, so I posted a link to the latest designs in each of those tickets.

[2020-08-06 13:54] ricetj opened #12152 "User Docs - Logging Solution (Loki)"
## Description
Before we can launch Loki to our customers we need to have documentation in place so users can understand how to use it.

## Background/context/resources
Following our [initiative tracking](https://github.com/department-of-veterans-affairs/va.gov-team/issues/11647) and [product brief](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/logging/readme.m

[2020-08-06 14:11] jenniferlee-dsva commented on #11380
@MickinSahni @ncksllvn @andaleliz - per grooming yesterday, I think this FE work is needed prior to QA, so we can also use this alert UX as a way to display 'invalid' form link use case message.

So the priority for this is no longer post-soft-launch but pre-QA review.

[2020-08-06 14:18] lenaecb opened #12153 "Same-day mental health alert on EC symptoms page"
Per VA's Office of Mental Health and Suicide Prevention guidance we want to direct Veterans to use the already existing same-day mental health appointments option. Any Veteran can use the VA facility locator to find a VAMC of their choice, call the facility, and say “I need a same day mental health appointment” and they will get a Veteran connected to services.

To our knowledge, Express Care is n

[2020-08-06 14:18] DanielleThierryUSDSVA opened #12154 "COVID-related refill prescription updates"
## Issue Description
We need to emphasize that Veterans should refill prescriptions no later than 10 days before they'll need more medication.

---
## Tasks
- [ ] **On coronavirus FAQs page (node 3014):** Move prescription question up to be 2nd question in health care section, and emphasize the 10 days messaging by a) bolding "10 days" and b) making that sentence its own paragraph. Also revising m

[2020-08-06 14:19] dmccurdybah commented on #11766
PRs:

- https://github.com/department-of-veterans-affairs/gibct-data-service/pull/699
- https://github.com/department-of-veterans-affairs/gibct-data-service/pull/700
- https://github.com/department-of-veterans-affairs/gibct-data-service/pull/701

[2020-08-06 14:20] jbalboni commented on #10589
One other thing to test in here: past appointments are wiped out when the facilities page is reloaded.

[2020-08-06 14:22] dneel-bah commented on #11284
@mnorthuis Thanks for the clarification.  For the URL, I assume you mean this (https://staging.va.gov/education/apply-for-education-benefits/application/10203/introduction) is still being finalized.

I also just noticed that the last part of the breadcrumb lost the word "Rogers" along the way, so it should actually be "Apply for the Edith Nourse Rogers STEM Scholarship".  Unless that's too long

[2020-08-06 14:22] leahkeeler opened #12155 "eFolders Front-end technical spike"
## Issue Description
Evaluate FE dev of replicating functionality of eFolders on EBenefits including:

- Integrating with VBMS endpoint

- Displaying documents with associated description

- Replicating search functionality currently on eFolders

## Acceptance Criteria
- All potential risks called out and documented.

- Scaffolding in place

---
## How to configure this issue
- [ ] **Attached to a

[2020-08-06 14:23] rileyorr commented on #11902
Thanks, @peggygannon! I've updated the prototype to reflect those changes :)

[2020-08-06 14:29] zurbergram commented on #11713
SA Document was changed after PR was created and story moved into validate

[2020-08-06 14:30] #11967 closed

[2020-08-06 14:30] rileyorr commented on #11986
Update on Peggy's feedback: the first two empty states have been reviewed and updated, but I'm still waiting on content feedback for the third empty state

[2020-08-06 14:35] dneel-bah opened #12156 "STEM: Update the URL and breadcrumbs for the 10203 application"
As a developer, I need to update the breadcrumb of the new 10203 form so that it is fully functional for launch.

## Assumptions:
1. This work will need to be completed behind a production flag (not a feature flag).
2. The "staging.va.gov" portion of the URL is based on the environment where the form is being viewed.
3. This story is a result of: #12307 and #11284

## Acceptance Criteria:
1. Both

[2020-08-06 14:43] leahkeeler opened #12157 "eFolders - API Integration"
## [Product Outline](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/eFolders_Migration)

## High Level User Story/ies
As a Veteran I want to be able to see the contents fo my eFolder which required the BE developer to integrated the endpoints and FE dev to render the JSON returned

## Definition of done

- For any given test user who is authenticated on va.gov a

[2020-08-06 14:48] emilywaggoner commented on #3196
I think we can close!

[2020-08-06 14:49] tressaellen commented on #12125
Dropping a screenshot for the correct number in here as well.

<img width="833" alt="Screen Shot 2020-08-05 at 12 21 03 PM" src="https://user-images.githubusercontent.com/58752772/89449342-6525b600-d705-11ea-93d3-c62854dcc70e.png">

[2020-08-06 14:49] #7812 closed

[2020-08-06 14:55] #10528 closed

[2020-08-06 14:55] Samara-Strauss commented on #11909
Related to #11910. Is it safe to assume these will be resolved at the same time?

[2020-08-06 14:58] delli-gatti-michael commented on #11809
![Screen Shot 2020-08-06 at 10.54.50 AM.png](https://images.zenhubusercontent.com/5c07f000391a6f6357adc430/a7c5293e-56f7-46a7-8edb-781763a2f826)

[2020-08-06 14:59] mchelen-gov opened #12158 "Define standard for repository README files"
### What is your documentation request, question, comment, or issue?
When looking at a Github repository, it can be unclear what team is responsible for that repo, and how to request fixes or improvements.

Would it be possible to define a standard with some minimal information that should be in the README of each repository? For example:
Repository Owner: <github team name>
Issue Tracker: <link t

[2020-08-06 15:01] #11994 closed

[2020-08-06 15:06] emilywaggoner commented on #1517
We can close this one!

[2020-08-06 15:12] rianfowler commented on #1099
These changes should be applied to the VFS Tools repo as well

[2020-08-06 15:12] RLHecht commented on #12154
These pages have both been published. Moving to validate.

[2020-08-06 15:12] camerontesterman opened #12159 "Create eFolders Controller and Route"
## Issue Description
Add the controller and route for eFolders. There needs to be an index method to shows all of the letters in a JSON format, there will also need to be a route that shows the contents of each document.

## Tasks
- [x] Index Controller action
- [x] Show Controller action
- [x] Index Route
- [x] Show Route
- [x] Serializer

## Acceptance Criteria
- [ ] Will be able to get a valid

[2020-08-06 15:13] erikphansen commented on #11910
[This PR reverts the change](https://github.com/department-of-veterans-affairs/veteran-facing-services-tools/pull/363). When that is merged and published we'll need to update `vets-website` to use it.

[2020-08-06 15:14] erikphansen commented on #11909
[This PR reverts the change](https://github.com/department-of-veterans-affairs/veteran-facing-services-tools/pull/363). When that is merged and published we'll need to update `vets-website` to use it.

[2020-08-06 15:15] camerontesterman opened #12160 "Create Service Code for eFolders"
## Issue Description
Need to add the the service code to get documents from the eFolder.

## Tasks
- [ ] Service Class
- [ ] Config class & Faraday connection
- [ ] Breakers initializer

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to an E

[2020-08-06 15:20] mshea0606 commented on #11910
This ticket is for the platform team. Our team does not have work to do for this ticket.

[2020-08-06 15:20] LeakyBucket opened #12161 "Access for Lawrence (Glen) Holcomb"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Add a comment @department-of-veterans-affairs/vsp-operations to ping the operations team
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please

[2020-08-06 15:21] LeakyBucket commented on #12161
ping @department-of-veterans-affairs/vsp-operations

[2020-08-06 15:21] mshea0606 commented on #11909
This ticket is for the platform team. Our team does not have work to do for this ticket.

[2020-08-06 15:21] sporeboy commented on #11789
Convo guide revised... Link: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/ebenefits/features/view-update-dependents/research-design/uat/686-uat-convo-guide.md

[2020-08-06 15:24] helenshin-va opened #12162 "Access for Helen Shin"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Add a comment @department-of-veterans-affairs/vsp-operations to ping the operations team
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please

[2020-08-06 15:24] helenshin-va commented on #12162
@department-of-veterans-affairs/vsp-operations

[2020-08-06 15:25] jenstrickland commented on #12147
@bradl3yC Do you know what this applies to? Is it the checklist that should be on the staging review request?

[2020-08-06 15:26] delli-gatti-michael opened #12163 "STEM - 10203 Submission fails when not signed in"
When submitting the 10203 form without logging in, the user receives the following error message:

![Screen Shot 2020-08-06 at 11.24.47 AM.png](https://images.zenhubusercontent.com/5c07f000391a6f6357adc430/2d743731-6a7f-46f3-be0f-4b9359eafb9b)

#### Expected behavior
The user should be able to submit without being logged in

[2020-08-06 15:29] bradl3yC commented on #12147
@jenstrickland this is a completed 508 dev checklist for debt letters

[2020-08-06 15:29] jenstrickland commented on #11910
I adjusted the tags and title, assigned to the frontend team to triage, and assigned @1Copenut since he's on top of getting that other issue rolled back.

[2020-08-06 15:31] davidconlon commented on #8736
Thanks @gunsch - I think all we were trying to say is that Facility Locator has moved to v1 so we should not be the culprit of v0.  We are letting you know that we have moved over to v1 (via flipper) a while back and we are removing the flipper logic soon because we don't need it anymore as a safety blanket.
Per our conversation about the v1 move a while back, Platform is going to figure out and m

[2020-08-06 15:36] jenstrickland commented on #11909
I adjusted the tags and title, assigned to the frontend team to triage, and assigned @1Copenut since he's on top of getting that other issue rolled back.

[2020-08-06 15:37] andaleliz opened #12164 "[Discovery] - Topline Summary for Learning Center MVP"
Use [this template](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/design/topline-summary-template.md) to create a topline summary for research findings immediately following last session

Acceptance criteria
- [x] Create summary ([published in research folder](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/content/tier-2-con

[2020-08-06 15:38] 1Copenut commented on #11909
@jenstrickland This work is underway in the design system package here: https://github.com/department-of-veterans-affairs/veteran-facing-services-tools/pull/363/files

[2020-08-06 15:39] abuckley3385 opened #12165 "[Feature] Notifications"
## Product Documentation
[Questionnaires Product Outline ](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/product-outline.md)
- [Visit Intro Initiative (Proof of Concept)](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/initiatives/visit-intro.md)
- [Feature -

[2020-08-06 15:39] jenstrickland commented on #12147
I chased it down, and this is for the staging review: https://github.com/department-of-veterans-affairs/va.gov-team/issues/11930. I'll copy your checklist onto the staging review request ticket where they usually go. Since this checklist will need to be done again for the full 508 audit, this kind of ticket can be confusing without indicating what it belongs to.

[2020-08-06 15:39] 1Copenut commented on #11910
@jenstrickland This work is underway in the design system package here: https://github.com/department-of-veterans-affairs/veteran-facing-services-tools/pull/363/

[2020-08-06 15:41] #10433 closed

[2020-08-06 15:43] sonntag-adam commented on #11713
https://dsvavsp.testrail.io/index.php?/tests/view/10250&group_by=cases:section_id&group_order=asc&group_id=51

[2020-08-06 15:45] MickinSahni commented on #10772
Covered scope of this ticket. Seems like we're competing with other rich results e.g. CDC. Closing out but may revisit

[2020-08-06 15:45] #10772 closed

[2020-08-06 15:48] jenstrickland opened #12166 "Accessibility feedback - Staging Review - BAM2 [Debt Letters MVP]"
**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Point of Contact

**VFS Point of Contact:** Jennifer (VSA) & Trevor (VSP)

## Description

This ticket houses accessibility issues for the staging review of BAM2 - Debt Letters MVP.

## Test cases

1. Staging link: https://stag

[2020-08-06 15:50] zurbergram commented on #12163
https://github.com/department-of-veterans-affairs/vets-api/pull/4659

[2020-08-06 15:51] bethpottsVADEPO opened #12167 "Change school year range in YR tool intro paragraph"
## Issue Description
On this page:
https://www.va.gov/education/yellow-ribbon-participating-schools/

We need to update the years to reflect the new school year in the intro paragraph on the YR tool page.

Change the last sentence in the intro (after the two linked bullet points) to this:
Search for schools participating in the current academic year, August 2020 through July 2021.

---
## Tasks
-

[2020-08-06 15:51] #3196 closed

[2020-08-06 15:52] mandifrances commented on #1517
Above comment to close.

[2020-08-06 15:52] #1517 closed

[2020-08-06 15:53] mshea0606 commented on #12010
Hey @tressaellen  can you add an estimate to this? Thanks!

[2020-08-06 15:56] lunascoop commented on #5549
@mnorthuis I added the URLs to the redirect table in your initial comment. Here's the Google version: https://drive.google.com/file/d/1hIVyafXDMQGJZZWQliQ0yQdboP7Uu7Mz/view?usp=sharing

[2020-08-06 15:56] meganhkelley commented on #11594
VSP FE Tools:

- Document current behavior in code
- Discuss with VSP BE Team if there is rate limiting in forms library, why, etc
- Once we understand how this works the way it works and why, we can help Caregiver team

[2020-08-06 15:59] mshea0606 opened #12168 "[FE] Inconsistent "cancel" button styling #12010"
## Background
See Design ticket: Inconsistent "cancel" button styling #12010

## Tasks
- [ ] Update "cancel" buttons to ensure consistent styling in the Profile

[2020-08-06 16:00] mshea0606 commented on #12168
@sanlouise, can you please add an estimate to this? Thanks!

[2020-08-06 16:01] tressaellen commented on #11972
Hi @peggygannon - here's some questions and feedback.

Military information

We ended up going away from including the DD214 messaging in the military information section in favor of a more generic message.  This is documented here:

- [Design ticket](https://github.com/department-of-veterans-affairs/va.gov-team/issues/7553)

- [Front end ticket](https://github.com/department-of-veterans-affairs/v

[2020-08-06 16:03] mshea0606 commented on #12021
@erikphansen  can you add an estimate to this? Thanks!

[2020-08-06 16:03] abuckley3385 opened #12169 "[Feature] Appt details"
Epic Name: [Feature] Vista- appt details

## Product Documentation
[Questionnaires Product Outline ](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/product-outline.md)
- [Visit Intro Initiative (Proof of Concept)](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product

[2020-08-06 16:03] #11309 closed

[2020-08-06 16:06] #11697 closed

[2020-08-06 16:10] abuckley3385 opened #12170 "[Feature] Veteran demographic Information"
## Product Documentation
[Questionnaires Product Outline ](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/product-outline.md)
- [Visit Intro Initiative (Proof of Concept)](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/initiatives/visit-intro.md)
- [Feature -

[2020-08-06 16:13] delli-gatti-michael commented on #11809
Letter generated locally with language updates from #11876

![Screen Shot 2020-08-06 at 12.12.59 PM.png](https://images.zenhubusercontent.com/5c07f000391a6f6357adc430/ab5a79ee-d0c9-4ef3-bf35-3e3351715aeb)

[2020-08-06 16:14] abuckley3385 opened #12171 "[Feature] VAOS- Appt List"
## Product Documentation
[Questionnaires Product Outline ](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/product-outline.md)
- [Visit Intro Initiative (Proof of Concept)](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/initiatives/visit-intro.md)
- [Feature VA

[2020-08-06 16:14] delli-gatti-michael commented on #11809
Some of the content in SA1 is being overwritten by #11876

[2020-08-06 16:15] delli-gatti-michael commented on #11876
Local testing complete. See:
https://github.com/department-of-veterans-affairs/va.gov-team/issues/11809#issuecomment-670026899

[2020-08-06 16:18] annaswims commented on #11892
https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/pull/151

Big list of claims users:
https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/blob/master/Administrative/vagov-users/mvi-staging-users-birls-participant-edipi.csv

[2020-08-06 16:27] abuckley3385 opened #12172 "[Feature] PGD Integration"
[Feature] PGD Integration
## Product Documentation
[Questionnaires Product Outline ](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/product-outline.md)
- [Visit Intro Initiative (Proof of Concept)](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/initiatives/vis

[2020-08-06 16:28] #11778 closed

[2020-08-06 16:28] jonathanjnelson commented on #11594
Hi @meganhkelley - I think that plan sounds good! I do not have the expertise to document current behavior in code.

[2020-08-06 16:31] #11247 closed

[2020-08-06 16:31] mshea0606 commented on #11247
CC review to take place by 8/7 at the latest

[2020-08-06 16:37] erikphansen commented on #12021
@mshea0606 it's closed/it works as intended.

[2020-08-06 16:42] sanlouise commented on #11972
@tressaellen

Yes, we can! I will add the anchor link as part of [this ticket](https://github.com/department-of-veterans-affairs/va.gov-team/issues/12037)

Per a conversation in `vsa-public-websites`, Danielle mentioned

[2020-08-06 16:45] ncksllvn commented on #10291
Typeahead!

![image.png](https://images.zenhubusercontent.com/59cb9de1b0222d5de47953d8/5ffa229d-2027-4872-b40c-ebcc16917974)

[2020-08-06 16:45] sporeboy commented on #11792
Gave Peggy our timeline and links to the screens.

[2020-08-06 16:47] sporeboy commented on #11794
Gave Peggy our timeline and links to the screens. Can't log into staging today, so I provided the URL to the prototype: https://preview.uxpin.com/546893e0b210374a0734240e0ca9fccc2e02ed11#/pages/129039987

[2020-08-06 16:48] sporeboy commented on #11793
Requested review and provided link to content: https://preview.uxpin.com/2dbde8d15bf667f5c584fe4a8a6d011cf9f0a14d#/pages/130194084/comment/sitemap

[2020-08-06 16:49] sporeboy commented on #11792
Provided link: https://preview.uxpin.com/e291c4ac8956d804d774160cdb82ecb724044689#/pages/130773489/comment/sitemap

[2020-08-06 16:51] sporeboy commented on #11789
Shawna has link to RP and CG. Just need stakeholder feedback regarding questions above. Otherwise, these are ready for review.

[2020-08-06 16:53] sporeboy commented on #11874
This looks great to me! Thanks!

[2020-08-06 17:01] kevinmirc opened #12173 "Make "Additional Information" page on generated PDFs compliant"
extras_generator.rb needs to generate PDFs with content tagged.

[2020-08-06 17:07] sanlouise commented on #12032
@kelsonic Would the public websites team be responsible for this change?

[2020-08-06 17:11] kelsonic commented on #12032
@sanlouise Yupp we can do that, just to confirm you want this button link to go to `/profile/direct-deposit`?

![image](https://user-images.githubusercontent.com/12773166/89561343-966db700-d7d5-11ea-927b-b634a819461e.png)

[2020-08-06 17:15] sanlouise commented on #12032
@kelsonic That's correct. Thank you!

For visibility: @Samara-Strauss @mshea0606

[2020-08-06 17:16] mmiddaugh commented on #8736
@gunsch We are still using v0_ccp, although that will also end in the next day or so. But v0_va traffic should not be ours.

[2020-08-06 17:17] tlei123 commented on #11930
@jenstrickland , CMS preview of DL langing-page: http://preview-prod.vfs.va.gov/preview?nodeId=6521

[2020-08-06 17:18] ericbuckley opened #12174 "standalone sign-in should allow external redirect if any page in the app is used"
Right now the standalone sign-in page will only redirect users externally if the URL accessed is `/sign-in/`, note that if the user forgets to add the trailing slash the view will still render, but the redirect won't happen after authentication.

We should improve the UX and set the external redirect URL if any page within the login application is rendered (ie `/sign-in, /sign-in/, /sign-in/verify

[2020-08-06 17:18] jonwehausen commented on #6830
## QA Testing
- This testing was performed using test user +271

Description of Interaction | DL Screenshot | Test Status
------------ | ------------- | -------------
Successful load of view dependents | ![image](https://user-images.githubusercontent.com/48527022/89560216-ad67d580-d7e4-11ea-9dba-afe638a3f1bd.png) | ✔️ **PASS**
Successfully found file gate | ![image](https://user-images.githubuserc

[2020-08-06 17:21] kelsonic commented on #12032
Perfect, if that's indeed accurate this should be a relatively low LOE for our team to implement, though I do think we have an intake form process for this CC @MickinSahni

[2020-08-06 17:21] RLHecht commented on #11372
This is all good, @lunascoop. The only thing I needed to update for 2019. was the Aid and Attendance figure and with that I readjusted some of the calculations. Closing out this ticket. Using ticket #11171 for sharing with SMEs. FYSA @bethpottsVADEPO @MickinSahni

[2020-08-06 17:21] #11372 closed

[2020-08-06 17:22] kelsonic commented on #12032
Alternatively, if you want to update this line of code [here](https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/platform/site-wide/cta-widget/helpers.js#L161) to be the desired URL you want, that would also do it 🙂

[2020-08-06 17:23] tskinn commented on #12162
@helenshin-va you should be able to connect to the socks proxy now. Reach out in slack if you have any issues.

[2020-08-06 17:25] MickinSahni commented on #11335
@tlei123 @pjhill i updated use cases doc with two newer scenarios re: deleted forms and invalid PDFs
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/find-va-forms-redesign/form-detail-landing-pages/form-detail-product-use-cases.md

[2020-08-06 17:26] mshea0606 opened #12175 "[Post Launch] Profile 2.0 Post Launch content/URL Updates"
## Background
This EPIC will be used to record and track post launch content URL updates that need to be made.

See Ticket: #8395

## Tasks
- [ ] Direct deposit
- [ ] Change address content page, update 3 separate URLS
- [ ] TBD
- [ ] TBD
- [ ] TBD

[2020-08-06 17:27] theodur commented on #3338
Merged in https://github.com/department-of-veterans-affairs/vets-website/pull/11543.

[2020-08-06 17:27] #3338 closed

[2020-08-06 17:27] jason-gcio commented on #6830
Great, thanks @jonwehausen! You can use **vets.gov.user+EBN1@gmail.com** to get one with no dependents.
@micahchiang / @cohnjesse - do we need a ticket to add that last event name?

[2020-08-06 17:31] jason-gcio commented on #11792
@sporeboy - Have the feedback changes been explicitly listed out in a changelog?  Sorry if I missed that

[2020-08-06 17:34] jonwehausen commented on #6830
Thanks @jason-gcio ! I edited my comment above that shows validation for the `disability-view-dependents-load-failed` event, this looks good!

@bsmartin-ep When you have a moment, can you stage the tagging for:
- Successful load
- Failed Load
- Add lookup table entry for primary button, can use "Add or Remove Dependents" in the Event Action

Thanks!

[2020-08-06 17:35] Samara-Strauss commented on #12032
This looks like it is a duplicate of #8419, but I'm going to close that in favor of this ticket.

Just a note I don't want to get lost in the mix. Since we are doing a phased rollout, we need to make sure this link isn't updated in production until we are live to 100% of users, OR this needs to be coded conditionally that if someone has access to profile 2.0 in prod, the link goes directly to dire

[2020-08-06 17:35] Samara-Strauss commented on #8419
Closing since #12032 was created and is a duplicate of this one.

[2020-08-06 17:35] #8419 closed

[2020-08-06 17:37] Samara-Strauss commented on #12032
From @sanlouise [in Slack](https://dsva.slack.com/archives/C909ZG2BB/p1596735181231000?thread_ts=1596734237.228100&cid=C909ZG2BB)

This plan sounds good to me!

[2020-08-06 17:38] lwalsh617 commented on #8913
@bethpottsVADEPO - Here's the latest Word doc with the urls you added.
[life-insurance-rewriting-phase1-v04-08-06-20-master.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/5036899/life-insurance-rewriting-phase1-v04-08-06-20-master.docx)

[2020-08-06 17:39] jenstrickland opened #12176 "Accessibility feedback - Usability Testing Prep - Healthcare [Questionnaires MVP Priorities]"
**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Point of Contact

**VFS Point of Contact:** Jennifer (VSA) & Trevor (VSP)

## Description

This ticket houses accessibility issues for the usability testing prep review of Healthcare - Questionnaires MVP Priorities.

### Consid

[2020-08-06 17:42] luke-gcio opened #12177 "[Development] BDD: Add Separation Location to 1-89.99 Day BDD Flow"
## Issue Description
Add Separation Location to 1-89 Day BDD Flow.  We did not have it in there.

## Acceptance Criteria
- [ ] It's there
---
## How to configure this issue
- [x] **Attached to a Milestone** (when will this be completed?)
- [x] **Attached to an Epic** (what body of work is this a part of?)
- [x] **Labeled with Team** (`product support`, `analytics-insights`, `operations`, `service-

[2020-08-06 17:44] bethpottsVADEPO commented on #11421
@RLHecht Danielle will be uploading the Word doc with the edits to be made in drupal this week. We'd like this work to be incorporated into the next sprint. There's an extra content team task here of "red lining" (or comparing the Word doc edits to the drupal edits and making sure they have all been accurately incorporated into drupal. This is necessary when there's a large quantity of edits. The

[2020-08-06 17:45] peggygannon opened #12178 "VSP content feedback - Health questionnaires MVP (usability prep)"
## User story

This ticket captures VSP content feedback on Health questionnaires MVP.

## Acceptance criteria

- [x]  VSP/Peggy provides content feedback for the form/tool and any associated static pages
- [x]  Product team incorporates feedback and/or asks follow up questions about the feedback
- [x] Teams leaves comments about any feedback they decide not to take
- [ ] Peggy checks form/tool af

[2020-08-06 17:53] MickinSahni commented on #11435
**Engineering discussion - NS, KA, JL, MS - 2020-08-06**
MVP - Oct/Nov 2020
* Avoid VDay Launch
* Through staging and perhaps hidden in prod (if possible given potential limitations)
* 1 audience type - Veterans
* 2 topics/categories: VA Profile and General resources/help
* Designs will look different
  * no find articles by audience
  * not every find articles by topic
* Includes search results
*

[2020-08-06 18:00] joanneesteban commented on #11620
The feedback button has been applied to the following URLs in staging:

- staging.va.gov/family-member-benefits/apply-for-caregiver-assistance-form-10-10cg/review-and-submit
- staging.va.gov/family-member-benefits/apply-for-caregiver-assistance-form-10-10cg/confirmation
- staging.va.gov/family-member-benefits/comprehensive-assistance-for-family-caregivers/

Here's what it looks like on the informa

[2020-08-06 18:01] mshea0606 commented on #8419
@Samara-Strauss @tressaellen [Post Launch] Profile 2.0 Post Launch content/URL Updates #12175 has been created

[2020-08-06 18:02] jhonnyoddball commented on #11111
Done!

[2020-08-06 18:02] #11111 closed

[2020-08-06 18:03] RLHecht commented on #11373
Thanks, @lunascoop I adjusted a few numbers in the calculations, which were off but otherwise all good. Closing this ticket and will comment in #11171 that Beth can share with stakeholders now. fysa @MickinSahni

[2020-08-06 18:03] #11373 closed

[2020-08-06 18:07] DanielleThierryUSDSVA commented on #10853
Hi @kelsonic @MickinSahni. Realized this got pulled out of sprint 26, but not added back to another sprint. Could you let me know timing ETA for this?

[2020-08-06 18:08] Samara-Strauss commented on #8420
Implementation tickets are #10853 and #10857.

[2020-08-06 18:12] mandifrances commented on #10800
Recording to meeting: https://zoom.us/rec/share/u9RLIL6spl9IS6vK2gLPUJEQRarFX6a8hCJN-PdfmusC3Vy-QZPdSnVvp89DJ1s

Pswd: 0S*EFiv5

[2020-08-06 18:12] peggygannon commented on #12178
Content feedback is below for

H1? Title of questionnaire

Question: Should this H1 title be specific about type of appointment you have? Or should this H1 be more general that could apply to many different appointments?

*Consider*

Screenshot 1 Veteran information

- Recommend updating first line to:
You have an appointment at [name of facility] with [provider name] on [date] at [time].

Below i

[2020-08-06 18:13] meganhkelley commented on #11594
Megan Kelley  34 minutes ago
hey @Jonathan Nelson sorry for the confusion here, my last comment was notes I took during a quick sync with VSP folks https://github.com/department-of-veterans-affairs/va.gov-team/issues/11594
to clarify, though, are you working on documenting the FE behavior on VA.gov (not in the code)? (edited)

Alayna Abel  28 minutes ago
I can chime in here! No, the goal is not to

[2020-08-06 18:15] sporeboy commented on #11792
No changes yet... Just asked to get on her calendar.

[2020-08-06 18:16] #12017 closed

[2020-08-06 18:17] Samara-Strauss commented on #10857
Hello! Looping myself, @mshea0606, and @tressaellen in for visibility. Can you keep us posted when these changes are up on staging? We can look things over and make sure everything looks a-ok then.

Also, we are targeting launch to UAT users not next sprint but probably the sprint after (end of August). Will this be ready by then?

Thanks!

[2020-08-06 18:18] mnorthuis commented on #11838
No big IA feedback at this point since it is very early on.  I am very interested in learning how users expect this flow to happen and how/if VA.gov is part of that.  If possible, I would not lead with the idea that it may be on VA.gov, I would like to learn if they would even think of going there as part of this process or if they see it as something separate.

[2020-08-06 18:19] #12032 closed

[2020-08-06 18:20] mshea0606 commented on #11968
[FE] The link from the direct deposit page should take the user directly to the profile/direct-deposit #12032

[2020-08-06 18:21] mshea0606 commented on #11968
[FE] - Update FAQ link labeling #12035 #12037

[2020-08-06 18:21] jonwehausen commented on #7560
## QA - Round 1

### Form Library Events

- @jason-gcio QA of the standard form library events mostly look good!
- Only case we saw is a small syntax tweak for `sip-form-saved` -- We are seeing the following event taxonomy:
![image](https://user-images.githubusercontent.com/48527022/89567037-089ec580-d7ef-11ea-883e-bae56728d12f.png)
- We will want to adjust to be `disability-21-686c-sip-form-saved

[2020-08-06 18:22] RLHecht commented on #11656
2020 Parents and Survivor DIC rates pages have been published. Moving to validate. FYSA @MickinSahni @bethpottsVADEPO

[2020-08-06 18:25] Samara-Strauss commented on #10853
The last widget ("go to your profile") this needs to be coded in a way that accounts for the fact that we're doing a phased rollout and we'll have two versions of the profile live at the same time until we launch profile 2.0 to 100% of users.

Why this matters — eventually, the "Go to your profile" CTA should link to https://www.va.gov/profile/personal-information. However, while profile 1.0 is st

[2020-08-06 18:27] tskinn commented on #12161
@Jeff-Hayter

[2020-08-06 18:27] jonwehausen commented on #7560
### Next Steps
- Goal funnel mapping: @bmcgrady-ep If you could start mapping out the Goal Funnel for 686c within Non-Prod and Prod according to these URLs that would be very much appreciated. Please do so within the disability modernized view.
- Where you see `/0/` indicates their may be several versions of the URL depending on how many children/spouses the veteran is needing to put in, so make s

[2020-08-06 18:27] 1Copenut commented on #12176
@jenstrickland VSP has no additional feedback. We are 💯

[2020-08-06 18:28] MickinSahni commented on #11625
**Discussion - JL, NS, KA, MS**

* Forms can be deleted for valid reasons but we couldn't tell if it was a bug or a deliberate deletion by Form Managers
  *

[2020-08-06 18:35] abuckley3385 commented on #11838
@mnorthuis please see the Product Outline -[ Veteran Pain Points ](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/product-outline.md#research-key-findings---pain-points)and [Unmet needs section](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/product-outline.md

[2020-08-06 18:35] tressaellen commented on #11968
Regarding the 'should' section - Peggy has covered this in her content recommendations tracked in [this ticket](https://github.com/department-of-veterans-affairs/va.gov-team/issues/11972).

[2020-08-06 18:36] sanlouise commented on #11972
@peggygannon For [this ticket ](https://github.com/department-of-veterans-affairs/va.gov-team/issues/11489), are we just missing the `TTY:`, so the only content update would be `(TTY: 771)`? The rest of the phone numbers stay the same?

[2020-08-06 18:41] ncksllvn commented on #11625
Summary from call 8/06 -

Currently this is blocked until Lighthouse API supports returning "deleted" metadata for each form in search results. If a user performs a search and ALL results are "deleted: true" (there will likely only ever be one for an exact search by form number), then we should show the error message "The form you're searching for has been deleted." If ANY of the results are not d

[2020-08-06 18:47] Samara-Strauss commented on #12032
Checked it out on staging — looks great!

[2020-08-06 18:48] delli-gatti-michael commented on #12163
Locat testing complete

[2020-08-06 18:50] Samara-Strauss commented on #12017
Looks awesome!!

[2020-08-06 18:57] jonathanjnelson opened #12179 "10-10CG Error on Review Page - Submit Button"
## Issue Description

When Veterans and caregivers attempt to submit the 10-10CG form and cannot be verified due to MPI lookup or other reasons (e.g. typo in certain fields) users will receive an error message. Due to security concerns, the error message cannot specify which fields cannot be verified and the user is directed to print, sign and mail a PDF of the 10-10CG.

The submit button disappea

[2020-08-06 18:58] jason-gcio commented on #9086
@mnorthuis - I am sure you know this but just a heads up, the VRE folks have changed the name of this to be Veteran Readiness and Employment, not Vocational Rehabilitation and Employment.  I updated our thoughts on what we think this url would eventually be:
**Static landing page:** https://www.va.gov/careers-employment/veteran-readiness/
**Start application:** https://www.va.gov/careers-employmen

[2020-08-06 18:59] mnorthuis commented on #11284
@amyknox Reviewed the IA along with the content strategy work with Danielle today and finalized info in the IA write-up.

FYI, I did tweak the URL for the form a bit - removed "stem" from the the final slug to shorten it a bit.  It breaks convention for form/application URLs, but this one is lengthy and structure slightly different.

The write-up does not reference the interim breadcrumb discussed

[2020-08-06 19:00] tressaellen commented on #11945
@emilywaggoner and @CrystabelReiter here is the updated mock for the additional info component. :)

<img width="849" alt="Screen Shot 2020-08-06 at 1 00 01 PM" src="https://user-images.githubusercontent.com/58752772/89571351-00855c80-d7d4-11ea-8051-d367c554fd50.png">

[2020-08-06 19:02] ricetj opened #12180 "[Centralized Logging] Usage metrics for Loki"
## Description
Loki has two ways you can access logs:
- via Grafana (which has Google Analytics?), we there are metrics that can be gathered when users Loki logs through the UI
- via Loki's command line. As of right now, we aren't sure how to measure this?

## Background/context/resources
In order to see if customers are using the new logging pipeline or where we can improve we first need to measu

[2020-08-06 19:02] abuckley3385 commented on #11838
@tlei123 per your question in the feedback meetings "...can you add a label to better search for the Epics for our product."  Yes, I can add a label of product or mvp but also please see that our [Initiative - Visit Intro: Issue Tracking section](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/initiatives/visit-intro.md#issue-tra

[2020-08-06 19:03] mnorthuis commented on #9086
@jason-gcio We already made all content changes with regards to the program name change and discussed the URLs with the stakeholders.  It is our standard to not brand the URL, and to keep it as a description of what the the benefit is (i.e. vocational rehab) - if they started branding disability compensation as a benefit package, we would keep the benefit hub labeled as "disability", this is what

[2020-08-06 19:04] abuckley3385 commented on #12176
Removing myself as assigned as these are Usability testing questions and should be assigned to @arickalewis1  for review and comment.

[2020-08-06 19:06] peggygannon commented on #10575
Closing this ticket as the audit is complete. I will open additional tickets to track the above next step work!

[2020-08-06 19:06] #10575 closed

[2020-08-06 19:08] jason-gcio commented on #9086
Ah ok great!  Thanks very much.
I don't think I have seen that recommendation or it's quite possible I missed it...

I want to make sure we get these into the right url

[2020-08-06 19:10] jenniferlee-dsva opened #12181 "Invalid pdf error message for form detail landing page"
## Invalid pdf error message for form detail landing page

_Description: We need an error message for invalid PDF links._

**Use case/steps:**

1. A user is on a form detail page.
2. They click on the 'Download' form PDF link.
3. The PDF link is invalid.
4. Today in the legacy form detail page experience when a PDF link is invalid, the user is taken to our generic Not Found 404 page.

### Backgrou

[2020-08-06 19:11] ala-yna opened #12182 "Analytics Reporting Request for Healthcare Application"
# Metrics Reporting Request

## What this form is for

Use this template to request one-off performance, usability, or outcomes va.gov metrics that is difficult to access or that needs analytics interpretation.

Insights will usually provide data reports within the current sprint, but if there is time-sensitivity, please note them in "additional comments."

## Instructions

Please fill out the fol

[2020-08-06 19:11] jason-gcio commented on #11441
@mnorthuis - can we put the explicit urls in this ticket?

[2020-08-06 19:11] mshea0606 commented on #11945
Thanks @tressaellen  cc @Samara-Strauss

[2020-08-06 19:19] benniemosher opened #12183 "Create automated inbound SSOe status report"
https://github.com/department-of-veterans-affairs/devops/pull/6835/files

https://gist.github.com/ericbuckley/e51e9dfd8c5491339911e409aff4b779

Post into #vsp-identity Slack channel

[2020-08-06 19:23] Samara-Strauss commented on #11945
Looks good to me! What is the priority level for this update?

When we have that, @mshea0606 can you get a FE ticket created for this that also indicates priority level? I want to make sure we triage accordingly based on other tickets.

[2020-08-06 19:24] abuckley3385 commented on #11797
Should

- We scheduled a design/usability testing review before or first round of user testing bringing in the collab cycle team in early to our product.

Consider

- This was incorporated per comment above from Aricka when she sent to recruiting for participants.

- We have already met during discovery with both teams to see the patterns used and will follow the slack channel.

- This will occur

[2020-08-06 19:25] jenniferlee-dsva commented on #11335
@tzelei and @MickinSahni
RE new scenario - the bad pdf download link error [per Mickin's message:](https://github.com/department-of-veterans-affairs/va.gov-team/issues/11335#issuecomment-669325402)

See ticket #12181 which describes this use case and will address it with a new error/info message.

[2020-08-06 19:29] jonwehausen commented on #11687
Hi @micahchiang ,

Good question, that's your discretion, whatever you all feel like is descriptive enough to understand what happened in the event of an error...`503_internal_server_error` is totally fine.

[2020-08-06 19:30] ncksllvn commented on #12181
The form detail pages will be static HTML generated during the build from Drupal data (like other Drupal pages) and right now that Drupal data does not include any indicator of whether a form's PDF leads to a 404 or not. I think we have a couple options then -

1. As CMS work, generate a new field during each migration called `fieldFormPdfValid` (or similar) that indicates whether a form's downloa

[2020-08-06 19:31] delli-gatti-michael commented on #11844
Local testing complete

![Screen Shot 2020-08-06 at 3 29 43 PM](https://user-images.githubusercontent.com/45575003/89574277-e52d4800-d7f9-11ea-92d0-9e47492f6486.png)

[2020-08-06 19:34] ncksllvn commented on #12181
I'm (cautiously) going to say that I think we are okay to get started on this via the second option. I don't think we have any dependencies but we may find limitations with this approach going forward have to do option 1 (the CMS approach)

[2020-08-06 19:37] kelsonic commented on #12181
Cautiously fail fast (or succeed fast if we're lucky!), love it! ❤️

[2020-08-06 19:38] jenstrickland opened #12184 "508-defect-2 Fast Follow! [COGNITION]: Downloaded files SHOULD be consistent with what the user clicked to download"
# [508-defect-2 Fast Follow!](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

[code]

**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

For the "Download letter (PDF

[2020-08-06 19:42] annaswims commented on #10524
Success rate seems to be improving...
![Screen Shot 2020-08-06 at 3.41.02 PM.png](https://images.zenhubusercontent.com/5bb3c3a61c43df49f8b08cfb/1875757f-999c-49f8-a019-c35e656f80ec)

[2020-08-06 19:43] annaswims commented on #10524
our code refers to it as `invalid request` but the status code actually means  "AE – failed to process the message due to data or service business rules"

[2020-08-06 19:49] sonntag-adam opened #12185 "STEM: Eligibility summary updating prior to selecting update"
When on the summary page of the 10203 form, the eligibility changes prior to selecting update.

Steps to reproduce:
1. Navigate to https://staging.va.gov/education/apply-for-education-benefits/application/10203
2. Fill form all the way out till you get to the summary page https://staging.va.gov/education/apply-for-education-benefits/application/10203/review-and-submit
3. Expand program details
4.

[2020-08-06 19:50] tressaellen commented on #11945
@Samara-Strauss this was already done on the FE (thanks to @sanlouise ). It was marked high priority and was tracked in [this ticket.](https://github.com/department-of-veterans-affairs/va.gov-team/issues/12044)

[2020-08-06 19:51] desireeturner opened #12186 "CT-Filter: Update Search Results - "Refine search""
## Value Statement
As someone using the Comparison Tool, I want to be able to filter search results on more specific criteria so that I can more quickly find the institution I am looking for.

## Assumptions
1. This work should be behind a feature flag: #11344

## Acceptance Criteria
1. On the Search Results page, the left panel has been updated as follows:
   a. The "Refine Search" heading is cha

[2020-08-06 19:54] bradl3yC commented on #12184
@jenstrickland as per our slack discussion - we do not have file names accessible to us.  It is an API call.  We only have a file ID which does not match the file download.  Every single download link should result in a letter.pdf.  You saw letter(1) because you had already downloaded a letter and the (1) is appended by your operating system.

[2020-08-06 19:54] amyknox commented on #11942
They do! And we got the code snippets to track them.  Holla!

[2020-08-06 19:54] #11942 closed

[2020-08-06 19:57] CrystabelReiter commented on #11945
@tressaellen Awesome! thanks for the update. We'll close now :)!

[2020-08-06 19:57] #11945 closed

[2020-08-06 20:03] #12123 closed

[2020-08-06 20:04] daddison48 opened #12187 "Access for David Addison"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Add a comment @department-of-veterans-affairs/vsp-operations to ping the operations team
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please

[2020-08-06 20:04] alexpappasoddball opened #12188 "Upgrade to Postgres 12"

[2020-08-06 20:04] daddison48 commented on #12187
@department-of-veterans-affairs/vsp-operations I submitted a request for my SSH key authorization

[2020-08-06 20:05] alexpappasoddball commented on #12188
@johnpaulashenfelter here is the ticket we talked about.  Feel free to edit per your more in depth knowledge!

[2020-08-06 20:05] #12022 closed

[2020-08-06 20:06] mshea0606 commented on #12022
looks good @sanlouise !

[2020-08-06 20:11] andaleliz commented on #12181
Couple of background questions:
1. How do these links get put in to begin with?
2. Are they managed by business-side content authors outside of our VSA team?
3. I'm assuming the links go bad because someone deletes/moves a file and doesn't update something... Is that right?

Second, what's the timing of this? Looks like it's not associated w/ a milestone but also doesn't have `needs-grooming`.

[2020-08-06 20:12] #11929 closed

[2020-08-06 20:13] RLHecht commented on #12154
These changes are live on the site. Closing ticket. FYSA @DanielleThierryUSDSVA @MickinSahni

[2020-08-06 20:13] #12154 closed

[2020-08-06 20:14] tskinn commented on #12161
@LeakyBucket you should be able to connect to socks now.

[2020-08-06 20:14] Samara-Strauss commented on #11945
Ah, thanks, @tressaellen! Sorry I didn't make the connection on my own. Thanks for elevating this.

[2020-08-06 20:16] ccruzgra commented on #12033
Full list of findings: https://airtable.com/shrBI3pYHjJFAb3uY
Defects-only view: https://airtable.com/shrI112LQWjYx2dU9
Enhancements & Research: https://airtable.com/shruecqZirjp5GXpV

[2020-08-06 20:17] tskinn commented on #12187
@daddison48 you should be able to connect to socks proxy now. Reach out in slack if you have issues.

[2020-08-06 20:17] #12187 closed

[2020-08-06 20:20] ccruzgra commented on #11949
OBE as EDU requested we no longer collect ratings data in CT. See EDU requirements meeting notes for 8/6/20.

[2020-08-06 20:20] RLHecht commented on #11665
Validated on live site. Closing ticket. FYSA @MickinSahni

[2020-08-06 20:20] #11665 closed

[2020-08-06 20:25] jenstrickland commented on #12184
@bradl3yC I hear ya. The download attribute can change the filename of the PDF. If the platform team is able to adjust the Content-Disposition HTTP header's filename parameter, we can make this happen. That's why [I reached out to VSP to see if they can help with this](https://dsva.slack.com/archives/CBU0KDSB1/p1596742928177700). There is nothing your team can do on this.

[2020-08-06 20:38] joanneesteban commented on #11424
@ala-yna do you have links or APIs to the `Why applications are unsuccesful` metrics?

1) Veteran is found in MPI, successful
2) Veteran is not found in MPI, unsuccessful
3) Technical failure (unsuccessful)

[2020-08-06 20:39] ala-yna commented on #11424
We don't, yet, but here's the ticket! https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/12089

[2020-08-06 20:42] 1Copenut commented on #11970
Thank you @shawkey-daniel for the update.

[2020-08-06 20:44] 1Copenut commented on #11849
Adding VSP design to get proper alignment and visibility. Happy to dig in and make sure we get this resolved.

[2020-08-06 20:46] Samara-Strauss commented on #10123
Also, I should have included this originally. Here is a mockup of the LOA3 dashboard when everything is included on it:

![Dashboard-Updated-All Features](https://user-images.githubusercontent.com/34068740/89581034-4d812700-d804-11ea-95d2-b85cf78a84d9.png)

[2020-08-06 20:56] jason-gcio commented on #11874
@digitaldrk - this is the latest and greatest on the email copy! ⬆

[2020-08-06 21:06] leahkeeler opened #12189 "eFolders Collaboration Cycle"

[2020-08-06 21:20] jenstrickland opened #12190 "508-defect-2 [COGNITION, SCREENREADER]: There's a typo in the screen-reader only text, pre-pending with a $"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

I believe there is a typo in the screen reader onl

[2020-08-06 21:25] cvalarida commented on #11627
Theo's working on https://github.com/department-of-veterans-affairs/va.gov-team/issues/11862, which is essentially the same. It's the result of a missing reverse field, which are available now. Closing this in favor of the other one.

[2020-08-06 21:25] #11627 closed

[2020-08-06 21:27] amyknox commented on #11284
@mnorthuis - thanks for sharing this.  Looks mostly good. As @dneel-bah mentioned, "Rogers" is missing from the scholarship name in the breadcrumbs for both the content page and the application.

- Content: Home > Education and training > Other VA education benefits > Edith Nourse **Rogers** STEM Scholarship
-
- Application: Home > Education and training > Other VA education benefits > Edith Nours

[2020-08-06 21:27] mmiddaugh opened #12191 "Test PPMS version 10.0"
## Issue Description
PPMS Data Web Service (DWS) has modified the ProviderLocator API to add the Provider Type fields to the response.
This change has been deployed to the INT (Non-Prod) Environment and testing is requested by 10/21.

ProviderLocator is now returning Provider Type for each Provider in the function response:

**Possible values**
- “ProviderType”:  “Individual”
- “ProviderType”:  “G

[2020-08-06 21:40] Kimberley2019 commented on #11573
@Samara-Strauss @mshea0606 I have informed the Contact Center of this.  Hopefully they will be receptive to the advice that has been provided.  I will advise if there is any additional feedback that is given.

[2020-08-06 21:41] jenstrickland opened #12192 "508-defect-4 Enhancement [SCREENREADER, COGNITION]: Consider consolidating the information for the debt letter download links"
# [508-defect-4 Enhancement](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-4)

**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Description

In a future iteration, consider provid

[2020-08-06 21:43] Kimberley2019 commented on #11476
@clantosswett here is my analysis for the claim status.
[https://app.zenhub.com/files/133843125/e994af48-1eb2-41be-8ea3-f003cc0e3d9e/download](https://app.zenhub.com/files/133843125/e994af48-1eb2-41be-8ea3-f003cc0e3d9e/download)

[2020-08-06 21:48] rianfowler opened #12193 "Deprecate "formation" and publish as VA.gov Design System"

[2020-08-06 21:50] #12193 closed

[2020-08-06 21:53] leahkeeler opened #12194 "Project Kickoff eFolders Migration"
## Steps to complete Project Kickoff
- [x] Product Manager: create this issue and fill in feature name in the title and other bolded information appropriately
- [x] Link to this issue once created in [#vfs-platform-support](https://dsva.slack.com/channels/vfs-platform-support) in Slack; tag @ AndreaHewitt @ Mandi Lipka
- [x] Mandi will schedule meeting with VSP reviewers and **requesting team** at

[2020-08-06 21:55] jenniferlee-dsva commented on #12181
They're generated by the file name of the form + other form data (e.g.,  administration, etc.) inside the VA forms database.

Business side - VA forms managers for each administration

Yes

I'm going to defer to @MickinSahni on this. We do want this ready for Tze's QA review. I don't think we have an eta date for QA yet. Here is our QA ticket for Tze - #11335

[2020-08-06 22:19] bmcgrady-ep commented on #10198
I updated the RegEx for both Non-Prod and Production All VA View to include the new event label naming structure and the old event label naming structure.

[2020-08-06 22:19] #10198 closed

[2020-08-06 22:20] bmcgrady-ep commented on #10105
I updated the RegEx for both Non-Prod and Production All VA View to include the new event label naming structure and the old event label naming structure.

[2020-08-06 22:20] #10105 closed

[2020-08-06 22:27] mpelzsherman commented on #10874
For reference: the `font-family` comes from our global stylesheet for h1-6:

[code]

The font family is the same for all facility types. The difference is that VA facilities are displayed as links inside an `h3` tag, and CCP facilities are rendered as `h2` in all caps.

![Find_VA_Locations___Veterans_Affairs](https://user-images.githubusercontent.com/80267/89588485-b622d080-d811-11ea-9013-4610ca68

[2020-08-06 22:31] bmcgrady-ep commented on #7560
@jonwehausen - The Goal Funnel for 686c is now staged in both Non-Prod and Prod.

[2020-08-06 22:37] mandifrances commented on #12194
@leahkeeler scheduled for the 13th @ 1:30pm ET

[2020-08-06 22:38] peggygannon commented on #11489
HI, @tzelei I'm trying to track down how this number changed and I learned that the Public website dev team did a  sweep of tty numbers recently, updating them all to 711 because I think TTY is almost always 711 now.

do you know if this TTY should be an exception? I haven't been able to track anything down to validate that.

[2020-08-06 22:41] peggygannon commented on #11972
hello @tressaellen and @sanlouise here are some answers for you. Please let me know if I missed anything!

1. thank you for the update about the military address message. Just want to confirm that staging will also be updated with this message: https://github.com/department-of-veterans-affairs/va.gov-team/issues/7553

2. bank fraud note. are you asking the the 800 number or the TTY number? I left

[2020-08-06 22:45] peggygannon commented on #11935
Hi, @rileyorr Can we put a TBD on the COVID-related alerts for the Deb Management tool? These COVID alerts need to go through the Joint Task Force for approval.

I'm working with Danielle Thierry to get JTF-approved language. Will keep you posted.

cc @rebeccawalsh @leahkeeler @mattpointzxer0

[2020-08-06 22:53] mnorthuis commented on #11284
@amyknox @dneel-bah I'm so sorry, I totally missed that feedback!  I updated the breadcrumbs to include "Rogers" in the static page segment, but used the shortened name on the Apply page (just Rogers) to reduce the repetition.   Please let me know if there are any requirements to include the name in the URL, I know that can be an issue in some cases, but hoping we can leave the URL brief for this.

[2020-08-06 22:54] rtwell commented on #11899
![image](https://user-images.githubusercontent.com/12564977/89590614-524ed680-d816-11ea-9d9b-8ab02a6750cc.png)

[2020-08-06 22:57] peggygannon commented on #12097
dupe

[2020-08-06 22:57] #12097 closed

[2020-08-06 23:13] peggygannon commented on #11902
@rileyorr ok, thank you. the alerts look good.

I left you a note in this [ticket](https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/11935) about the COVID-19 related alert for debt collection.

[2020-08-06 23:20] sshein commented on #11578
Riley can you put a public share link for your COVID-19 alert so I can see it?

[2020-08-06 23:20] sshein commented on #11578
oh never mind found it :) https://preview.uxpin.com/8019d7c491dc05231e456a666928bd6a5ca40e6e#/pages/130777997/comment/no-panels?mode=i

[2020-08-06 23:29] peggygannon commented on #11043
thank you @Samara-Strauss and @tressaellen !!

[2020-08-06 23:58] #11797 closed

[2020-08-07 00:05] cvalarida opened #12197 "Point all content builds to prod CMS"
## Issue Description
I talked with @swirtSJW and we couldn't think of a reason to not. Prod will always have the latest content. There are some issues in the lower environments that make building with CMS export infeasible. Something about missing nodes...I'm not clear on the details.

---
## Tasks
- [x] Point the lower environments to the prod CMS [here](https://github.com/department-of-veterans-

[2020-08-07 00:08] rtwell commented on #11978
a couple thoughts/notes:

1. first, I suspect it would behoove us to always refer to appointments the same way (in the app, in review, in alerts, statuses, etc). On our request cards, we refer to them as "Pending", so we should align our language in this alert to be consistent. For example, "Go to your appointments list and cancel open requests" should read "Go to your appointments list and cancel

[2020-08-07 00:23] bsmartin-ep commented on #10221
`postLogin=true` URL param has been enabled on production va.gov.  We will monitor the modified funnels.  Closing.

[2020-08-07 00:23] #10221 closed

[2020-08-07 00:48] DanielleThierryUSDSVA commented on #12154
Thank you, @RLHecht!

[2020-08-07 01:04] DanielleThierryUSDSVA opened #12198 "Copay-related COVID-19 updates"
## User story

Veterans need to understand what's going on with their copays during the pandemic, and what to expect when they start getting billing statements again in January 2021.

## Issue Description
We need to:
- Update the FAQs
- Update the chatbot (GH files: https://github.com/department-of-veterans-affairs/covid19-chatbot/blob/master/content/chatbot-copy.md and https://github.com/departme

[2020-08-07 01:07] rtwell commented on #11978
one approach might be to list the availability of each location with the same time zone, and add another affordance to indicate what is currently open/closed:

![image](https://user-images.githubusercontent.com/12564977/89597713-df9b2680-d828-11ea-8440-98c51d95d0c7.png)

[2020-08-07 01:27] bsmartin-ep commented on #11069
@leahkeeler -

Order completion by device category (mobile, tablet, desktop) has been added to KPI dashboard:

https://va-gov.domo.com/page/1133411197

All graphs and funnels should be excluding users with both ineligibility errors.

Closing this issue, but please don't hesitate to contact us if you have any questions or additional requests.

[2020-08-07 01:27] #11069 closed

[2020-08-07 01:42] rtwell commented on #11978
interesting tidbits here: https://www.nngroup.com/articles/international-web-usability/

[2020-08-07 02:05] bsmartin-ep commented on #6830
@jonwehausen -

I created this workspace:  https://tagmanager.google.com/#/container/accounts/144676348/containers/2214120/workspaces/1000349

---------
- Successful load
- Failed Load

What do you see these tags needing outside the default we're triggering right now...

Category|Action|Label
--|--|--
API Calls|Forms - Disability|disability-view-dependents-load-success
API Calls|Forms - Disability

[2020-08-07 02:16] bethpottsVADEPO commented on #11421
@RLHecht Change of course! We don't need two content team members involved since Danielle said there are so many edits that the best approach will be to copy and paste whole paragraphs/chunks of text. That's an easier task and less room for error, so just one content team member to do that task and a copyedit to follow would be great. Still work it into the next sprint, please!

[2020-08-07 03:06] #11791 closed

[2020-08-07 03:07] camerontesterman commented on #11826
Mitigation strategies have been discussed. Implementation will be in another separate ticket.

[2020-08-07 03:07] #11826 closed

[2020-08-07 10:52] sonntag-adam opened #12200 "STEM: Exit application buttons have down chevron on both benefit eligibility summary pages"
Exit application buttons have down chevron on both benefit eligibility summary page (Ch2) and STEM scholarship summary page (Ch3). See the screenshots below.

Steps to reproduce:
1. Navigate to https://staging.va.gov/education/apply-for-education-benefits/application/10203/
2. Fill out the form to chapter 2 and 3
3. Observe
##
![Screen Shot 2020-08-07 at 6.35.10 AM.png](https://images.zenhubuserco

[2020-08-07 11:21] sonntag-adam opened #12201 "STEM: Signed in - Intro page - Duplicate informational alert and green start application button at top."
Signed in - Intro page - Duplicate informational alert and green start application button at top. They should only exist at bottom of page as per prototype and content doc.

Steps to reproduce:

1. Navigate to https://staging.va.gov/education/apply-for-education-benefits/application/10203/introduction
2. Sign in
3. Observe

Expected behavior:
Remove informational alert and green start application

[2020-08-07 12:12] sonntag-adam opened #12202 "STEM: Duplicate sentences on print confirmation screen"
Navigate to https://staging.va.gov/education/apply-for-education-benefits/application/10203/confirmation

Select "Print this page"

There are two of the sentence under "What happens after I apply?".  "You’ll get a Certificate of Eligibility (COE), or award letter, in the mail if we’ve approved your application. Bring this to the VA certifying official at your school." There should only be one.
##

[2020-08-07 12:26] sonntag-adam opened #12203 "STEM: Chapter 3 change "See eligible Programs" to "See eligible programs""
Navigate to https://staging.va.gov/education/apply-for-education-benefits/application/10203/benefits/stem-eligibility. On chapter 3 needs to update "See eligible Programs" to "See eligible programs"
##

![Screen Shot 2020-08-07 at 8.22.15 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/6ecdc224-e93a-41f2-881e-8a7bce5a894f)

[2020-08-07 12:32] sonntag-adam opened #12204 "STEM: Missing period on sentence "Equal to VA Form 22-10203 (Application for Edith Nourse Rogers STEM Scholarship)""
Navigate to https://staging.va.gov/education/apply-for-education-benefits/application/10203/introduction

There is a missing period on the sentence "Equal to VA Form 22-10203 (Application for Edith Nourse Rogers STEM Scholarship)". It should be "Equal to VA Form 22-10203 (Application for Edith Nourse Rogers STEM Scholarship)."
##

What it looks like

![Screen Shot 2020-08-07 at 8.31.40 AM.png](htt

[2020-08-07 12:45] LeakyBucket commented on #12161
Thanks @tskinn I can confirm that socks is working and I can get to Jenkins.

[2020-08-07 12:50] dneel-bah opened #12205 "STEM: Update 'Auto Email Sent to SCO:' in Spool File"
As an STEM Scholarship processor, I need the 'Auto Email Sent to SCO:' field to be populated so that I can determine the next steps that are necessary so that the application can be processed in a timely and efficient manner.

## Assumptions:
1. This work is done behind feature flag #7271.
2. When this work is completed, the generated spool file should be sent to the following individuals so that

[2020-08-07 12:54] meganhkelley opened #12206 "Cypress improvements post-release"
## User Story

As a VFS developer, I want to be able to effectively and efficiently set up frontend e2e tests for the products I'm building on VA.gov, so that I can provide a defect-free experience for Veterans.

## Details

Cypress was officially released to VFS teams on 8/1/20. The tickets in this epic represent remaining items in the Cypress backlog.

[2020-08-07 12:56] meganhkelley commented on #11693
@U-DON you mentioned that you already addressed this feedback, correct? If so please confirm & close this ticket. Thanks!

[2020-08-07 13:03] meganhkelley opened #12207 "Create ESLint rule for axe checks in Cypress"
## User Story

## Description

As decided by Megan/Rian/Eugene/Trevor in meeting on 7/30
- we need to add an ESLint rule that applies to axe checks in Cypress (there is an existing ESLint rule that applies to axe checks in Nightwatch)
- warning message should link to documentation that instructs people to disregard the rule if they've used the Cypress form tester, which automatically includes axe

[2020-08-07 13:07] meganhkelley opened #12208 "Rewrite Nightwatch helper functions in Cypress for keyboard e2e tests"
## User Story

@1Copenut can you help fill in the details here? (This issue will be in our backlog)

## Details

Per discussion between Megan/Rian/Eugene/Trevor on 7/30/20:
- Note that if/when we deprecate Nightwatch entirely, we’ll need to rewrite some helper functions for keyboard e2e tests, specifically for Education Feedback Tool and GI Bill Comparison Tool (maybe Facility Locator?)

## Defini

[2020-08-07 13:08] meganhkelley commented on #11702
@1Copenut could you please take a look at the links in my comment above and let me know if (a) you are able to update those docs or if (b) something else that's in our Cypress backlog #12206 needs to happen first?

[2020-08-07 13:09] meganhkelley commented on #7226
Cypress post-release backlog has been consolidated into this sub-epic: #12206

[2020-08-07 13:10] jbritt1 commented on #11172
Added suggestions from this ticket in @11950. Closing this one now to consolidate. Please use #11443 for any added feedback / suggestions.

[2020-08-07 13:10] #11172 closed

[2020-08-07 13:14] hughes-dustin commented on #11706
PR: https://github.com/department-of-veterans-affairs/vets-website/pull/13764
Branch: bah-11706

[2020-08-07 13:16] meganhkelley opened #12209 "Determine timeline and strategy for deprecation of Nightwatch"
## User Story

As a VSP developer, I only want to support one frontend end-to-end testing tool (Cypress), so that I can support VFS teams more efficiently and effectively.

## Details

This is a placeholder ticket for beginning to determine timeline and strategy for deprecating Nightwatch. Upon rolling out Cypress 8/1/20, we told VFS teams that they were encouraged but not required to migrate exis

[2020-08-07 13:17] jbritt1 commented on #11653
All `vetsgov` entries updated to `vagov` and removal of all `vetsgov-internal` domain references removed in #11950. Please use #11443 for further tracking, feedback, suggestions, etc. for consolidation.

[2020-08-07 13:17] #11653 closed

[2020-08-07 13:34] zurbergram commented on #12205
https://github.com/department-of-veterans-affairs/vets-api/pull/4669

This does not require a EVSS user in staging.

When testing you are just verifying that instead of `N/A` occurring you get a 'No' locally when either
 - In vets-api’s `settings.local.yml`  remove the property `govdelivery.token`
- Disable feature flag `edu_benefits_stem_scholarship`

[2020-08-07 13:36] #10391 closed

[2020-08-07 13:45] mpeterz commented on #12164
*Recommend testing this concept with these scenarios to ensure we get realistic feedback:*
* Veteran comes straight from Google to LC article page
* Veteran goes from VA.gov homepage to LC homepage
* Veteran searches VA.gov and lands on LC article page

*Also, we need more mobile testing.*
I think we only had 1 mobile participant (Android).

*RE: promoting LCs:*
I heard 2 people say the VA should

[2020-08-07 13:54] Samara-Strauss commented on #11043
This ticket looks done to me — yes? If so, @mshea0606 or @tressaellen can you create a ticket for FE implementation if one does not already exist?

[2020-08-07 14:00] U-DON commented on #11693
Migration doc has been updated to address the feedback.

[2020-08-07 14:00] #11693 closed

[2020-08-07 14:00] ala-yna opened #12210 "Signature Page accepts non-identical names"
Problem: The regex pattern look for an exact match to the name, once match is accepted it ignores all characters after the match. We need to include the character after the match to ensure a exact match.

![Screen Shot 2020-08-05 at 4.40.09 PM.png](https://images.zenhubusercontent.com/5ddc08a57dcda00001c763e1/90260b7e-07e6-471c-b4e9-67443d7228fb)![Screen Shot 2020-08-05 at 4.40.18 PM.png](https://

[2020-08-07 14:02] jenstrickland opened #12211 "Accessibility feedback — Project Kickoff — PW, BAM1, BAM2 [Move How To Apply Wizards]"
**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Point of Contact

**VFS Point of Contact:** Jennifer (VSA) & Trevor (VSP)

## Description

This ticket houses accessibility feedback for the Project Kickoff for PW, BAM1, BAM2 Move How to Apply Wizards.

### Must

1. **Must** u

[2020-08-07 14:04] ala-yna opened #12212 "Investigate eMIS search failures when searching by ICN"
*Not a breaking change*

Goal: understand why we're unable to get a successful response from eMIS, come up with a mitigation plan if needed. That way we can use ICN to look up Veteran status/designation in eMIS and send that information to CARMA. Currently, use MVI to look up ICNs and then send that information to CARMA, and CARMA has functionality to search eMIS. Right now, we send all Veterans a

[2020-08-07 14:07] andaleliz commented on #12164
@mpeterz

“Everyone understood that the search functionality was keyword based and were clear that the Learning Center”

completed my sentence. Sorry about that, and thanks for catching it!

About half of the participants were unsure about what the search VA.gov radio button would do.

[2020-08-07 14:08] andaleliz commented on #12164
Adding feedback from Slack comment by @sshein so it's all in one place:

Thanks Liz! A few things.

For this "How easily are people able to navigate between learning center articles, and topics?" I would be interested to have your final results dig into how people navigated / e.g. did everyone use the browser back button

I only watched 1 participant (P10) but a few things I noticed:
- he thought

[2020-08-07 14:15] pjhill commented on #11938
Thanks for the update regarding the blocked test cases. It looks like at least two of them may have the blocks cleared in short order.

Regarding the military info error messaging, were you able to create the conditions necessary to cause the error message locally?

[2020-08-07 14:23] MickinSahni opened #12213 "Batch 2: Publish Find VA Form detail pages"
## Issue Description
Given we need to publish the Find VA Form detail pages via Drupal
we want to publish them in batches
so that we safely launch the detail pages.

---
## Tasks
- [x] Publish the pages via Drupal

## Acceptance Criteria
- Form detail pages are safely launched
 - Publish batch 1: Top 30-40 identified MVP form pages.
- Publish batch 2: Remaining ~450 form pages.

**Batch 2 forms sp

[2020-08-07 14:27] pjhill commented on #12103
It looks like this conversation may have resulted in a couple viable test users -- https://dsva.slack.com/archives/CU9KYKMM5/p1596745639160400

[2020-08-07 14:34] Samara-Strauss commented on #11938
@sanlouise or @erikphansen could probably help out with this.

[2020-08-07 14:42] zurbergram commented on #12201
https://github.com/department-of-veterans-affairs/vets-website/pull/13766

[2020-08-07 14:45] bethpottsVADEPO commented on #10893
@RLHecht I forwarded you the email from Elana. She wants her supervisor to see this page before we go live with it. So hold on publishing for now. Thanks!

[2020-08-07 14:49] bradl3yC commented on #12192
@jenstrickland your proposal is a complete design change from a table to an ordered list - I do not think we will be making this big of a shift at this point.  @rileyorr @rebeccawalsh @leahkeeler

[2020-08-07 14:54] dneel-bah commented on #9124
@1Copenut I believe all issues have been addressed, and the remaining item 11970 was put into the icebox.  Can this issue be closed?

[2020-08-07 14:56] bethpottsVADEPO commented on #12164
**One piece of feedback that stood out to me about the labels, specifically the audience tag:**
One participant said, "Vietnam War Veterans doesn’t look clickable. Everything else that you click is blue. Why not do the same for this?" Another said something to the effect of, "I guess people will eventually figure out that they can click on these." (as if it isn't immediately obvious)

**Seems like

[2020-08-07 14:56] sonntag-adam opened #12214 "STEM: Changing from ch33 to non-ch33 the bottom of that summary accordion expands & contracts"
Navigate to https://staging.va.gov/education/apply-for-education-benefits/application/10203/review-and-submit

Observe below
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/48804582/89658606-c03de100-d89c-11ea-8237-b376a3bfb0e8.gif)

[2020-08-07 15:00] sonntag-adam opened #12215 "STEM: Feedback button appears on confirmation page"
Navigate to https://staging.va.gov/education/apply-for-education-benefits/application/10203/confirmation

Observe
![Screen Shot 2020-08-07 at 10.59.03 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/de9dd550-fa91-47a4-ba2f-3f6a77599982)

[2020-08-07 15:03] sonntag-adam opened #12216 "STEM: Confirmation page language doesn't match content doc."
Navigate to https://staging.va.gov/education/apply-for-education-benefits/application/10203/confirmation

Confirmation page language doesn't match content doc. Says, "We may contact you for more information or documents."

Should say:
"We may contact you if we need more information or documents."
![Screen Shot 2020-08-07 at 10.59.03 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148

[2020-08-07 15:11] jenstrickland commented on #12192
@bradl3yC I recognize that, which is why I said "In a future iteration." There wasn't an opportunity to collaborate with the designers on this MVP, and I don't know of another opportunity to provide this information.

[2020-08-07 15:14] bradl3yC commented on #12192
@jenstrickland can we just add the data to the screen reader only portion of the markup as opposed to changing the design for this section?

[2020-08-07 15:22] jenstrickland commented on #12192
@bradl3yC I don't understand the question. This issue ticket isn't suggesting making a change before launch. Launch as it is, apart from the typo noted in the other ticket.

[2020-08-07 15:26] bradl3yC commented on #12192
@jenstrickland the question is directed at the markup thats in place.. modifying the `<span class="sr-only">Second Demand Letter</span>` to include the full language like <span class="sr-only">May 29, 2020 - Download Second Demand Letter </span>`

[2020-08-07 15:29] lwalsh617 commented on #8437
@RLHecht -- This page is ready for your review:

**Drupal Preview Link**

<http://preview-prod.vfs.va.gov/preview?nodeId=5583>

**Cross Links**

While the SGLI, FSGLI and VGLI detail pages already include cross links, we should add them to the following.

<https://www.va.gov/life-insurance/totally-disabled-or-terminally-ill/>
Add under related links/h3: More information about your benefits

<https

[2020-08-07 15:30] #11211 closed

[2020-08-07 15:38] Samara-Strauss commented on #10123
[Spreadsheet in Google Docs](https://docs.google.com/spreadsheets/d/1qYX0M4ZqfesH8MJmP67WgtEexYdauIRD5HOaa0D3L2s/edit#gid=0)

[2020-08-07 15:40] jenstrickland commented on #12192
What we currently have is fine for an MVP.

If we did what is suggested here:

That would cause the screen reader users to hear it all again. We'd suppress what sighted users see completely, and present a second experience for screen reader users. For those low-vision users who can see somewhat but use a screen reader as a support device, this disconnect would be confusing.

[2020-08-07 15:47] rileyorr commented on #11578
@sshein the link in my original comment wasn't public? That's strange! I've noticed that sometimes people are able to access my UXPin links and other times they aren't. I've just been selecting the 'preview' button and copying that URL. I'll have to look into that

[2020-08-07 15:47] mshea0606 opened #12217 "[FE] - Update "learn more about military base addresses' section"
## Background

Design Ticket: [Copy] Copy is confusing in 'Learn more about military base addresses' FAQ (P&C section) #11043

Under the mailing address section in the FAQ dropdown ' Learn more about military base addresses', the copy is confusing - we should update it to have a better explanation as to why we can only put the US as the country.

![image.png](https://images.zenhubusercontent.com/5

[2020-08-07 15:48] mshea0606 commented on #11043
@Samara-Strauss @sanlouise @tressaellen [FE] Update "learn more about military base addresses' section #12217 has been created for this.

[2020-08-07 15:48] #12167 closed

[2020-08-07 15:49] #10244 closed

[2020-08-07 15:49] #11043 closed

[2020-08-07 15:49] #10291 closed

[2020-08-07 15:50] #11875 closed

[2020-08-07 15:50] sonntag-adam commented on #11713
Blocked

[2020-08-07 16:03] narin commented on #11978
Hey @rtwell, this mockup looks good. In regards to the request limit check, I think we should perform the check once the user selects a radio button (similar to how we do it in the normal appointment flow).  Checking request limits has to be done one by one, so to reduce these unnecessary API calls, ideally we should only do it once the user has shown intent that they want to schedule there.

[2020-08-07 16:11] anitadewitt-va opened #12218 "Access for Anita DeWitt (IRIS/Orchid)"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Add a comment @department-of-veterans-affairs/vsp-operations to ping the operations team
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please

[2020-08-07 16:11] anitadewitt-va commented on #12218
@department-of-veterans-affairs/vsp-operations

[2020-08-07 16:12] SgardnerPMP opened #12219 "[Automation] Review and confirm all VISN-19 playbooks index pages are set up correctly for migration [BA]"
## Story
As a Migration engineer, I need all of the VISN playbooks to reference the system health services by facility location so I can sort out all unique instances of the health service by system.

## Resources
[Analytics VISN-19 Playbooks](https://drive.google.com/drive/folders/1mXSsjBi8ts0pTWRUSfffSV0CmTgY2F0z)

## Tasks
- [x] Review each of the VISN-19 playbooks for Index and review for accu

[2020-08-07 16:19] jgacek opened #12220 "Access for Jacob Gacek"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Add a comment @department-of-veterans-affairs/vsp-operations to ping the operations team
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please

[2020-08-07 16:19] ccruzgra commented on #12033
@amyknox This story can be closed.

[2020-08-07 16:19] #12033 closed

[2020-08-07 16:19] jgacek commented on #12220
@department-of-veterans-affairs/vsp-operations

[2020-08-07 16:21] ccruzgra commented on #11963
Held a pre-pilot test on 7/30 and a pilot on 8/7.

[2020-08-07 16:22] 1Copenut commented on #9124
@dneel-bah Yes, I'll go ahead and close this now. Thank you for the heads up!

[2020-08-07 16:22] #9124 closed

[2020-08-07 16:40] lenaecb opened #12221 "staging.va.gov - Canceled Future and Past VVC Appts Not Displaying"
## What happened?
Cancelled VVC appointments that are >=current date are not displaying in new UI
Past VVC appointment do not display

## Specs:
- Device: (e.g. iPhone 8, Macbook)  PC
- Browser: (e.g. Firefox, IE 11): Chrome
- Test User _(if applicable)_:  HDRPSIMPATIENTA,JOANN A (9121)

## Steps to Reproduce
- Test User _(if applicable)_:  HDRPSIMPATIENTA,JOANN A (9121)
- In Virtual Care Manager

[2020-08-07 16:48] lenaecb opened #12222 "test"
## What happened?
_Describe in detail what went wrong; screenshots, videos, or gifs are strongly encouraged_

## Specs:
- Device: (e.g. iPhone 8, Macbook)
- Browser: (e.g. Firefox, IE 11)
- Test User _(if applicable)_:

## Steps to Reproduce
- URL:
- Test User _(if applicable)_:

## Desired behavior
_Describe in detail what was supposed to happen; reference existing Github issue that contains a so

[2020-08-07 16:57] amyknox commented on #11284
@mnorthuis

I think we're just about there!  We're solid with the plan that we will implement the interim breadcrumbs now and the final breadcrumbs when the content page launches.

Curious about who's handling the balance of updates specified in the bah-stem-app.md.  Is that work you're anticipating we'll do or is that assigned out to another team?

[2020-08-07 17:03] elder-joseph commented on #11843
Associated PR: https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/vets-website/13768

[2020-08-07 17:06] #12164 closed

[2020-08-07 17:13] mmiddaugh opened #12223 "Dynamic resizing for responsive design"
## Issue Description
As a Veteran, I want the screen to automatically adjust when I change my screen viewpoint so that I do not have to refresh the page.

## Front end tasks
- Add listener to recalculate layout based on screen width
- Correct responsiveness to ensure all content is visible and does not overlap in any screen width
- Ensure the page is styled according to design spec.
- Ensure the b

[2020-08-07 17:16] dneel-bah opened #12224 "STEM: Display validation message on Chapter 2 / Chapter 2 Summary"
As an applicant, I need a validation message to display if I do not complete the required information so that I know what needs to be done in order to proceed.

## Assumptions:
1. This work is completed behind the feature flag #7271.

## Acceptance Criteria
1. On Chapter 2 Page 1, the following message is displayed if the user tries to continue without selecting a benefit: "Please select at least

[2020-08-07 17:18] mmiddaugh opened #12225 "Responsive design at breakpoint 768"
## Issue Description
As a Veteran, I need the Facility Locator search page to adjust to my viewpoint so that all content is rendered on screen and available to me.

## Front end tasks
- Set 768 breakpoint to a resized map, consistent with UX Pin specs
- Center pagination below the search results list and map.
- Center Can’t find what you’re looking for? Try using our other tools to search. below t

[2020-08-07 17:18] mmiddaugh commented on #11090
Blocking this issue with Design Discovery

[2020-08-07 17:25] mmiddaugh opened #12226 "[DISCOVERY] Design for predictive geolocation"
## Issue Description
Implementing “predictive search” is a planned enhancement to the search on Facility Locator. This will allow us to show the list of matching place names in a scrolling div under the text field. MapBox returns a maximum of 10 locations.

## Questions

- How is the list displayed?
   - Rendered below the field?
   - Sizing relevant to the other fields
- Will we show the full sug

[2020-08-07 17:29] anitadewitt-va commented on #12218
updated public SSH key for request:

[code]

[2020-08-07 17:33] mmiddaugh opened #12227 "Remove street address from location field"
## Issue Description
When the user enables the browser location, it is entered into the city, state, zip field with full street address. This can be a long entry which could raise accessibility challenges or create user frustration if the field needs to be cleared

## Front end tasks
- Remove street address portion of Mapbox input, displaying only city, state and zip
- Ensure the page is styled ac

[2020-08-07 17:38] batemapf opened #12228 "Create awareness about opportunity to participate in COVID-19 research @ VA"

[2020-08-07 17:42] batemapf opened #12229 "Register prospective participants for VA-administered COVID-19 research"
Includes:
- Commercial trials at VHA sites
- VA-sponsored research

[2020-08-07 17:42] lenaecb commented on #12222
this was a test. closing.

[2020-08-07 17:42] #12222 closed

[2020-08-07 17:42] dneel-bah opened #12230 "CF: Add data validation to GIDS on VACautionFlag.csv file upload"
As an EDU team member, I need validation to made aware of potential data issues when uploading the CSV file so that I will know if there are any issues with the data in the file that need to be corrected before publishing a new version.

## Assumptions:
1. This does not affect the MOU, Accreditation Action and HCM caution flags
2. Current "caution_flags" table will continue to be used to reduce im

[2020-08-07 17:44] mmiddaugh opened #12232 "Update intro text on Facility Locator search page"
## Issue Description
User research indicated the amount of intro text on the Facility Locator search page may prevent Veterans from easily finding the search fields.

## Current behavior

<details>
<summary> Current intro text </summary>

![image](https://user-images.githubusercontent.com/55411834/89673032-e5cde900-d8a2-11ea-9681-506454e49fb1.png)

</details>

## Desired behavior

<details>
<summa

[2020-08-07 17:46] batemapf opened #12233 "Evaluate registrants for eligibility in specific COVID-19 research trials"

[2020-08-07 17:47] bethpottsVADEPO commented on #10893
@RLHecht OK, we just got the thumbs up! You can publish.

[2020-08-07 17:48] batemapf opened #12234 "Contact, enroll, and schedule a participant in a specific COVID-19 research study"

[2020-08-07 17:49] batemapf opened #12235 "Administer COVID-19 research study"

[2020-08-07 17:51] mchelen-gov commented on #11533
@massrb ah ok interesting. does that mean this issue is resolved?

[2020-08-07 17:51] erikphansen commented on #11907
![image](https://user-images.githubusercontent.com/20728956/89673866-ff1f6700-d89b-11ea-9f8f-0149dd690bfb.png)

@jenstrickland Right now as you navigate through the pages of the Profile, the focus is set on the H2 when the section loads, which seems like the more relevant headline. If we always set the focus to the H1, as you move from one section of the Profile to another screen readers would jus

[2020-08-07 17:54] RLHecht commented on #10893
Just published! Moving to validate and will close after this afternoon's deploy. @lunascoop Now that all the 2018 disability rates pages are up, you should be able to set up redirects for them all in another ticket if there isn't one already.

[2020-08-07 17:55] batemapf opened #12236 "VA.gov landing page"
**To do**
- [x] Content is reviewed by ORD
- [x] Content is tested for usability
- [x] Content is reviewed by SMEs on recruiting underrepresented populations (e.g. Kosj and/or Georgetta)
- [x] Content is approved by JTF
- [x] Page is built and published in Drupal
- [ ] `vagov-content` prototype page is retired

**Acceptance criteria:**
- [ ] Not-logged-in user can navigate to a VA.gov page, learn

[2020-08-07 18:01] SgardnerPMP opened #12237 "[Automation] Create Access/Excell sheet that will parse data from Playbooks into .csv data format [PM]"
## Story
As a Migration engineer, I need all of the VISN playbooks to reference the system health services by facility location so I can sort out all unique instances of the health service by system.

## Resources
[Analytics VISN-19 Playbooks](https://drive.google.com/drive/folders/1mXSsjBi8ts0pTWRUSfffSV0CmTgY2F0z)

## Tasks
- [x] Create automated process to parse and consolidate data System heal

[2020-08-07 18:02] jonwehausen commented on #6830
@bsmartin-ep Thanks for this documentation.

### Successful / Failed Load
- We can maintain the existing taxonomy you have above, the label here is descriptive enough to identify what occurred and the category reflects the API Calls

### Lookup Table
- Good call, yes let's go ahead and add in the default value or use the generic click text null handler as well.

[2020-08-07 18:03] jenstrickland commented on #11907
I think setting focus on the h2 after a user selects an item in the sidenav makes sense. On initial load, after the person selected Profile from the top menu, I think focus should be on the h1 (including on mobile).

[2020-08-07 18:09] dneel-bah opened #12238 "CF: Add default text for settlement flags that have links."
As a comparison tool user, I need to see relevant links provided by the Education Services team for caution flags so that I can make informed decisions about whether to further pursue education at an institution with caution flags.

## Assumptions:
1. Link text for non-settlement caution flags remains unchanged.

## Acceptance Criteria
1. All settlement_links uploaded to GIDS via the VACautionFlag

[2020-08-07 18:12] zurbergram commented on #11354
resolves https://github.com/department-of-veterans-affairs/va.gov-team/issues/12238

[2020-08-07 18:12] zurbergram commented on #12238
resolved by https://github.com/department-of-veterans-affairs/va.gov-team/issues/11354

[2020-08-07 18:20] delli-gatti-michael commented on #11700
Changes are in Staging. Closing this issue

[2020-08-07 18:20] #11700 closed

[2020-08-07 18:21] lildziner commented on #12225
Here is the UXPin prototype at:
[768 in spec mode](https://preview.uxpin.com/f373333a8a59902cbf120c3f00e6d0e13d52fb75#/pages/131155292/specification/sitemap?mode=i)
[768 in simulate mode](https://preview.uxpin.com/f373333a8a59902cbf120c3f00e6d0e13d52fb75#/pages/131155292/simulate/sitemap?mode=i)

![3-FacLoc-768](https://user-images.githubusercontent.com/4960080/89676209-48ca7a80-d8b9-11ea-801b-7a3

[2020-08-07 18:24] mmiddaugh commented on #9962
Adding links to user research conducted for health service taxonomy regarding the order of services:
[Usability 3 synthesis](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/facilities/vet-centers/services-taxonomy/20190712_VAgovCMS_facilities_usability3_synthesis_full.pdf)
[Health Service IA synthesis](https://github.com/department-of-veterans-affairs/va.gov-team

[2020-08-07 18:28] batemapf opened #12240 "Incorporate CoVPN volunteer registrations into VA's registry"
[CoVPN](https://covpn.oracle.com/register/f?p=610000:1:6809582656176:::::) is collecting volunteer information for a subset of research studies. Some of those volunteers are veterans or would like to take part in studies run by VA. How do we move volunteers from CoVPN over to our registry?

 - [ ] Add "veteran" status flag to CoVPN registration form
 - [ ] Understand how to interact with CoVPN dat

[2020-08-07 18:29] desireeturner commented on #10780
@jonwehausen The changes captured in the following comment are now available on staging: https://github.com/department-of-veterans-affairs/va.gov-team/issues/10780#issuecomment-664424693

[2020-08-07 18:30] desireeturner commented on #11700
Notified the analytics team that this is available for review on Staging: https://github.com/department-of-veterans-affairs/va.gov-team/issues/10780#issuecomment-670651032

[2020-08-07 18:30] marcynadeau commented on #12221
@lenaecb I checked with Pam Barbor on VCM team about cancelled VVC appointments.   I asked Pam:   Is there any way in VCM to view cancelled Video Appts? Her response:  No - In VCM the requirement was that cancelled appointments not display.

So this might be the reason that VAOS can't pull them in.

[2020-08-07 18:31] lildziner commented on #12131
### Here is the UXPin prototype at:

[1008 in spec mode](https://preview.uxpin.com/f373333a8a59902cbf120c3f00e6d0e13d52fb75#/pages/131154260/specification/sitemap?mode=i)
[1008 in simulate mode](https://preview.uxpin.com/f373333a8a59902cbf120c3f00e6d0e13d52fb75#/pages/131154260/simulate/sitemap?mode=i)

**Static preview:**
![2-FacLoc-1008](https://user-images.githubusercontent.com/4960080/89677014

[2020-08-07 18:33] ksantiagomorgan6 commented on #12200
Pull request: https://github.com/department-of-veterans-affairs/vets-website/pull/13776

[2020-08-07 18:35] mnorthuis commented on #11284
@amyknox very valid and good question, its a combo of BAH and Public Websites.  BAH is directly responsible for all the the URLs and breadcrumbs on the application that you are building .  Public Websites would be responsible for implementing the static content page and corresponding redirect, and the entry points/links recommended.   That said, BAH is responsible for the overall experience of the

[2020-08-07 18:37] batemapf opened #12241 "Send SMS messages about opportunity to participate in COVID-19 research @ VA"
**To do:**
- [ ] Figure out if we are allowed to use VHA consent to be sent SMS for this
- [ ] Draft message
- [ ] Identify list of recipients

**Acceptance criteria:**
- [ ] Targeted populations receive SMS message about opportunity to participate
- [ ] \>0 recipients click through to VA.gov COVID-19 research landing page
- [ ] Basic metrics are tracked

[2020-08-07 18:49] MickinSahni opened #12242 "Remove noindex and basic auth"
## Issue Description
Given we've published form detail pages
we want to list the pages under the website's [sitemap](https://www.va.gov/sitemap.xml) and remove basic authentication
so that form pages are available to external indexers.

---
## Tasks

- [ ] Revert https://github.com/department-of-veterans-affairs/devops/pull/7535
    - Implemented basic auth
- [ ] Revert https://github.com/departme

[2020-08-07 18:49] erikphansen commented on #11907
So it should follow that if someone goes straight to a Profile page by entering the URL `https://staging.va.gov/profile/military-information`, for example, the H1 Your Profile should be focused. But if they got to that page via the sub nav we focus on the H2?

[2020-08-07 18:52] erikphansen commented on #11907
...or maybe not.

If that is the logic, it's really about _how_ you got the page you are now at. So if you come straight to the Direct Deposit section from a link on a static page, we want to focus on the H2. Gonna have to think about how this should really work...

[2020-08-07 18:53] jenniferlee-dsva commented on #11311
@MickinSahni - answering your Qs ^.

- Yes, that's right - IF we enable the form page links in the search page FE. I think we can use a feature flag to control the timing of that though. Would need Nick to confirm, but I think we could launch the form detail pages + set the feature flag so that links to the form pages from search results start showing up only once we give the thumbs up.

- I draft

[2020-08-07 18:56] jbalboni commented on #8421
I'm handling this in #9078 by converting VSP times to facility time. Closing.

[2020-08-07 18:56] #8421 closed

[2020-08-07 18:58] jenniferlee-dsva commented on #12181
Clarification ^ - we don't have an ETA for QA date yet, but I think they're waiting on us to let them know what the product experience is set to QA with.

So - correct me if I'm off @MickinSahni - we should complete this task to unblock Tze's QA ticket?

[2020-08-07 19:00] delli-gatti-michael commented on #11809
Changes are live on staging. Closing this issue

[2020-08-07 19:00] #11809 closed

[2020-08-07 19:01] delli-gatti-michael commented on #11876
Changes are live on staging. Closing this issue

[2020-08-07 19:01] #11876 closed

[2020-08-07 19:01] dmccurdybah commented on #11095
# GIDS Excel File Import Support

## Suggested Solution

It should be possible to allow uploading of 'xls' and 'xlsx' files into GIDS using the following Ruby gems.

- roo https://github.com/roo-rb/roo
- roo-xls https://github.com/roo-rb/roo-xls

The Roo documentation says that it supports
- "Excel 2007 - 2013 formats" for xlsx files.
- .xls files

## LOE

The work should be possible for one devel

[2020-08-07 19:06] #11805 closed

[2020-08-07 19:07] jenniferlee-dsva commented on #3836
Will close this ticket, as this work is completed per this file: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/information-architecture/ia-reviews/websites-forms-detail-pages.md

[2020-08-07 19:07] #3836 closed

[2020-08-07 19:12] delli-gatti-michael commented on #12163
Fix is now in staging. Closing this issue

[2020-08-07 19:12] #12163 closed

[2020-08-07 19:13] ksantiagomorgan6 commented on #12204
Pull request: https://github.com/department-of-veterans-affairs/vets-website/pull/13777

[2020-08-07 19:13] ksantiagomorgan6 commented on #12203
Pull request: https://github.com/department-of-veterans-affairs/vets-website/pull/13777

[2020-08-07 19:17] dneel-bah commented on #11028
Meeting completed 07/15

[2020-08-07 19:17] #11028 closed

[2020-08-07 19:19] jonwehausen commented on #10780
Hi @amyknox ,

Thank you for the clarification [there](https://github.com/department-of-veterans-affairs/va.gov-team/issues/10780#issuecomment-669321751), that makes sense. The syntax UTM convention/syntax will remain similar for the newly introduced scholarship page. We would suggest simply modifying the `utm_campaign` parameter (_along with the new URL of course_) when the new page URL has been

[2020-08-07 19:23] delli-gatti-michael commented on #11844
@department-of-veterans-affairs/uxbah The fix for this is now on Staging

[2020-08-07 19:31] peggygannon opened #12243 "VSP content feedback - How to apply wizards (Edu)"
## User story

This ticket captures VSP content feedback on How to apply wizards

Links:
EDU: https://staging.va.gov/education/apply-for-education-benefits/application/1990/introduction

## Acceptance criteria

- [x]  VSP/Peggy provides content feedback for the form/tool and any associated static pages
- [ ]  Product team incorporates feedback and/or asks follow up questions about the feedback
- [

[2020-08-07 19:34] jenstrickland commented on #11907
If it is possible to set focus based on how the person arrived on the page, that would be great! I think starting with Your Profile doesn't hurt in an MVP, because it doesn't take much to tab to the additional context.

[2020-08-07 19:38] leahkeeler opened #12244 "IA Request Edu how to apply wizard"
What this is: Work with VSP Information Architecture experts to finalize the IA of your product for VA.gov

When to use this: After completion of usability/protyping, prior to moving to development

## Required Inputs:
- [Link to product outline ](https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/9665) **please note**: The Epic was wri

[2020-08-07 19:40] leahkeeler opened #12245 "Collab Cycle: Wizards"
- [ ] Kickoff
- [ ] Design Intent
- [ ] Information Architecture (IA) Request  #12244
- [ ] Research Plan Review
- [ ] Analytics Request #12317
- [ ] Midpoint Review
- [ ] Contact Center Review
- [ ] Staging Review
- [ ] Privacy and Security Review
- [ ] Full Accessibility and 508 Office Audit
- [ ] Post-launch Check-in

[2020-08-07 19:44] erikphansen commented on #11907
Notes for myself or @sanlouise : I think that the only change we'd need to make is to set the focus on the H1 _if the user got to the Profile via the root `/profile` route_. In other words, if this redirect is used, we need to set the focus on the H1 and not the H2: https://github.com/department-of-veterans-affairs/vets-website/blob/4b0e99baada9dfa7f2b50c1420a35a39384e4d08/src/applications/persona

[2020-08-07 19:47] zurbergram commented on #11354
When testing if using CSVs that were uploaded in https://github.com/department-of-veterans-affairs/gibct-data-service/pull/703

After uploads, generate, and publish in SQL do
[code]
And there should be 21 rows, 1 Sec702 and 20 Settlement rows.

For the Settlements rows:
- `description` should match `settlement_description` from `va_caution_flags`
- `link_text` should match requested value in https

[2020-08-07 19:49] zurbergram commented on #11354
@delli-gatti-michael @sonntag-adam When testing you cannot use frontend to test Settlement caution flags as these do not have title's at this time

[2020-08-07 19:59] jenstrickland commented on #11907
I'd feel comfortable if we have @1Copenut review this. I want to be sure that a non-sighted user knows where they are, and that we're not missing something.

[2020-08-07 20:06] bethpottsVADEPO opened #12246 "Update to bulleted text on MST page in health care"
## Issue Description
This is a stakeholder maintenance update. There are two changes to make, one is an edit to bullets and the other is to update the link that points to a pdf.

Both changes are under the question:
**Can I get disability compensation (monthly payments) or other benefits from VA?**

Here's the text submitted by stakeholder (has been edited in drupal, so differs from this):
- Readi

[2020-08-07 20:13] amyknox commented on #10780
@jonwehausen - So we're crystal clear, can you confirm that in the SCO email, we should use:

Link for "Programs approved for STEM Scholarship" | https://benefits.va.gov/gibill/docs/fgib/STEM_Program_List.pdf?utm_source=confirmation_email&utm_medium=email&utm_campaign=stem_approved_programs
-- | --

[2020-08-07 20:32] tskinn commented on #12218
Thanks @anitadewitt-va Are you sure you need  AWS console access. You should be able to reach the tools you mentioned without AWS access.

You should be able to connect to socks proxy now. Reach out in slack if you have any issues.

[2020-08-07 20:36] tskinn commented on #12220
@jgacek you should be able to connect to the socks proxy. Reach out in slack if you have any issues.

[2020-08-07 20:44] #12174 closed

[2020-08-07 20:53] johnhashva commented on #12244
@leahkeeler let me know if I need to flesh this ticket out.

[2020-08-07 20:56] bmcgrady-ep commented on #11704
@srmyers17 - Here is the report from Google Analytics that we have for the latest 90 day period.
[healthcare_claims_segment_data.pdf](https://github.com/department-of-veterans-affairs/va.gov-team/files/5043599/healthcare_claims_segment_data.pdf)

[2020-08-07 21:02] joanneesteban opened #12247 "Analytics Reporting Request for Public Affairs presentation (Lauren A. & Chante L-S)"
# Metrics Reporting Request

## Description
Who is this request for?

Lauren A & Chante L-S for the Public Affairs presentation

**Due before close of business on Wednesday 8/12/20**

## Timeframe for Analytics Requested
March 2020 - July 2020

(Beginning of Covid - end of July)

## Tasks
- [ ] Chante to oversee final result & overall framework
- [ ] Jon/Brian/Ben ensure that data quality is clean

[2020-08-07 21:10] peggygannon opened #12248 "VSP content feedback - How to apply wizards (526, HLR, BDD)"
## User story

This ticket captures VSP content feedback on How to apply wizards

Links:
526
HLR
BDD

## Acceptance criteria

- [ ]  VSP/Peggy provides content feedback for the form/tool and any associated static pages
- [ ]  Product team incorporates feedback and/or asks follow up questions about the feedback
- [ ] Teams leaves comments about any feedback they decide not to take
- [ ] Peggy check

[2020-08-07 21:18] #11956 closed

[2020-08-07 21:19] #11944 closed

[2020-08-07 21:19] RLHecht commented on #11634
@bethpottsVADEPO I updated the example for this page. The PR is listed above.

[2020-08-07 21:20] #11949 closed

[2020-08-07 21:20] #11962 closed

[2020-08-07 21:36] peggygannon commented on #11899
@rtwell thank you.. looks good

[2020-08-07 21:37] 1Copenut commented on #12211
@jenstrickland I agree with the feedback listed here.

The must feedback about using proper `fieldset` and `legend` structures will be a good context improvement for screen reader users. If that work needs to happen as a next iteration post-launch, that's fine.

VSP has no additional feedback. We are 💯

[2020-08-07 21:37] joanneesteban commented on #4987
A rough draft of the A11 survey was added to Staging, but I'll need to validate its design first.

## Next Steps

1. Joanne will meet with Product Support to determine any design changes in the beginning of Sprint 33.
2. Joanne to send over suggestions for CSS changes (help or review CSS).
3. Joanne to validate survey in Staging - tentative end of Sprint 33. Verify with FE (asynchronously if we ca

[2020-08-07 21:42] brangi commented on #12061
Merged

[2020-08-07 21:42] #12061 closed

[2020-08-07 21:42] jenstrickland commented on #12184
According to VSP, they believe the backend team for this form/app have control of the headers returned by this service and the FE have control over the url used. This might be possible to improve the file download experience. https://dsva.slack.com/archives/CBU0KDSB1/p1596751922192300?thread_ts=1596742928.177700&cid=CBU0KDSB1

[2020-08-07 21:43] 1Copenut opened #12249 "Pre-Staging Review Education Form Wizard"
## Description
* Several teams are coordinating on benefits wizards, with the first one being related to the education benefits form: https://staging.va.gov/education/apply-for-education-benefits/application/1990/introduction

This spike ticket is to conduct a light touch 508 review ahead of a full staging review.

/cc @leahkeeler @mattpointzxer0 and @johnhashva for awareness. Please feel free to

[2020-08-07 21:43] joanneesteban commented on #12247
@lalexanderson-dsva @KevinMHoffmanUSDS for awareness

[2020-08-07 21:53] joanneesteban commented on #11054
Apologies for the delay - the feedback button is on Staging. Once this is verified, we can add this to Prod.

[2020-08-07 21:54] 1Copenut commented on #11907
@jenstrickland & @erikphansen I'm happy to take a look. I'm reading through the comment thread at EOD Friday, and will put this on a screen reader Monday as part of my morning.

[2020-08-07 21:55] tlei123 commented on #11489
@peggygannon , should we both ask around and compare notes next week? [I bark up the Engineering tree while you bark up the Design/Content tree?]

Sorry, no -- I don't know if this longer TTY number spec is a legit. exception to the general TTY 711.  This Bug only means Staging did not match Design (here's the [prototype link](https://vsateams.invisionapp.com/share/FJW9OGY2B9A#/screens/420471560)

[2020-08-07 21:59] joanneesteban commented on #11486
Met with Naomi on 8/7.

### Next Steps
@naomimarcussen will get back Joanne & @amycesal about what type of framework we can start with to visualize the blueprint sheet. Amy will work on the visualization S32 or S33.

cc: @jchasia-adhoc

[2020-08-07 22:20] erikphansen commented on #11602
@tressaellen this is done. But sadly there isn't a great way to just make an endpoint fail in staging so you can see it so it'll be hard to validate.

[2020-08-07 22:35] erikphansen commented on #10249
Was able to get this back from the `GET https://staging-api.va.gov/v0/disability_compensation_form/rating_info ` endpoint using user 228:

[code]

and this from user 226:

[code]

That doesn't quite match the response the [swagger docs](https://department-of-veterans-affairs.github.io/va-digital-services-platform-docs/api-reference/#/form_526/getRatingInfo) specify, but the bottom line is that it

[2020-08-07 22:36] erikphansen commented on #10249
Closing this. We can easily get the overall disability rating.

[2020-08-07 22:36] #10249 closed

[2020-08-07 22:38] DanielleThierryUSDSVA opened #12250 "Enable UAT testing visibility only for Manage debt page"
## Issue Description
We have a request from the debt management team to make it so that we can publish the Manage your debt landing page so it's only visible to UAT testing users.

Link to slack discussion: https://dsva.slack.com/archives/C52CL1PKQ/p1596747953165200

I'm opening this and assigning everyone from the slack thread as a placeholder to begin tracking this work. Please feel free to edit

[2020-08-07 22:39] DanielleThierryUSDSVA commented on #12250
FYSA @MickinSahni

[2020-08-07 22:40] DanielleThierryUSDSVA commented on #11222
FYSA while I'm out next week (Mon-Wed) @MickinSahni @bethpottsVADEPO

**Status update 8.7.20:**

- SMEs are reviewing the content. Leah and I have an email thread going with them, and they're aware that I'm out Mon-Wed next week and will respond to any questions/feedback when I return. Shouldn't be any action needed on content while I'm out.
- Leah had asked about if we could use a feature flag to

[2020-08-07 22:44] DanielleThierryUSDSVA commented on #9538
Thank you, @johnhashva!

@MickinSahni For sprint planning - I'm going to continue working on this next sprint. Thanks!

[2020-08-07 22:47] erikphansen commented on #10255
[This doc](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/education-careers/statement-of-benefits) says user 229 should work at `https://staging.va.gov/education/gi-bill/post-9-11/ch-33-benefit/status` but that user gets nothing from the `GET /v0/post911_gi_bill_status` endpoint:

[code]

Will need to follow up again with a user that works.

[2020-08-07 22:48] DanielleThierryUSDSVA commented on #11421
FYSA for sprint planning @MickinSahni @RLHecht

I'll have the doc ready at some point next sprint. Will tag @RLHecht in this issue when it's ready. Thanks!

[2020-08-07 22:53] cvalarida opened #12251 "Snake case featureFlagNames values"
## Issue Description
@kfrz and I discovered that the feature toggle name snake casing was behaving somewhat unexpectedly. We can bypass this altogether by making the feature toggle names all snake case to exactly match the values in `features.yml` in the API. By keeping the toggle's _key_ in `featureFlagNames.js` in camel case, we stay in idiomatic JS casing, but switching the _values_ to snake ca

[2020-08-07 22:53] tressaellen commented on #11602
Okay sounds good! I guess I'll just have to take your word for it. Are we good to close this then?

[2020-08-07 22:54] erikphansen commented on #10255
FWIW, based on [the Swagger docs](https://department-of-veterans-affairs.github.io/va-digital-services-platform-docs/api-reference/#/benefits_status/getPost911GiBillStatus) it looks like the benefit data is described in terms of days and months remaining. I'm not sure what to make of that.

[code]

[2020-08-07 22:55] DanielleThierryUSDSVA commented on #10670
Hi @desireeturner @amyknox. I'm going to be OOO next Mon-Wed, so just checking in with a quick status update. We'll have the STEM page (and related tweaks to Other education benefits & education hub page teaser) in Drupal ready to share with SMEs by 8/19, as noted above. Will aim to have ready by 8/17 to share with you all just to make sure we're aligned before it goes to SMEs. Thanks!

[2020-08-07 22:58] DanielleThierryUSDSVA commented on #11804
## Notes from meeting (Danielle & Mikki)

- Revised Education hub page teaser to be more general and include mention of stem
- Update Other education benefits page to be a straightforward link list not associated with "if you don't qualify for post-9/11; move GI Bill comparison tool & accredited rep links to related links section; revisit REAP note
- Add crosslinks from post-9/11, fry scholarship,

[2020-08-07 23:01] DanielleThierryUSDSVA commented on #11804
@bethpottsVADEPO Here's the page to edit. When it's ready, could you please post in https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/11807 and ask Randi to assign to a content team member to build in Drupal by 8.14? Thank you!

[STEM scholarship page_working draft_8.4.20](https://app.zenhub.com/files/133843125/c9d604f1-40c2-40e1-b1d2-

[2020-08-07 23:03] DanielleThierryUSDSVA commented on #11807
Hi @RLHecht @MickinSahni. Note for sprint planning/assigning this work since I'm OOO Mon-Wed next week:

@bethpottsVADEPO is editing a Word doc of this page and will post here when it's ready. We need Drupal page built by 8/14 to stay on track with timeline for launch. Thanks!

[2020-08-07 23:04] DanielleThierryUSDSVA commented on #11804
**Note for sprint planning:** Once Beth is finished editing, this can be closed. I'm opening another ticket for the related page updates. Thanks!

[2020-08-07 23:06] DanielleThierryUSDSVA opened #12252 "Update related pages to support STEM page"
## Issue Description
We need to update the related pages to support the new STEM page.

---
## Tasks
- [x] Revise Education hub page teaser to be more general and include mention of stem (Danielle)\
- [x] Update Other education benefits page to be a straightforward link list not associated with "if you don't qualify for post-9/11; move GI Bill comparison tool & accredited rep links to related link

[2020-08-07 23:07] DanielleThierryUSDSVA commented on #12252
FYSA @MickinSahni for sprint planning: This issue will mostly be me. I'll be asking Randi or Beth for an edit/review. Thanks!

[2020-08-07 23:08] DanielleThierryUSDSVA commented on #8895
FYSA @MickinSahni I haven't had a chance to do this breakout yet. Will do for next sprint. Thanks!

[2020-08-07 23:12] DanielleThierryUSDSVA commented on #10853
Thanks, @Samara-Strauss!

@ncksllvn @MickinSahni Per @Samara-Strauss's comment in this ticket (https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/10857), the team is targeting end of August for this launch. Could we have react app ready in enough time for us to then update content page (which shouldn't take long at all) for end of Augus

[2020-08-07 23:13] DanielleThierryUSDSVA commented on #10857
Thanks, @Samara-Strauss! I think so, yes. Just checked in with Nick and Mickin in the react widget ticket re: timing.

[2020-08-07 23:30] peggygannon commented on #11794
Hello! @sporeboy please see content recommendations for the View Payments tool. Please let me know if you have any questions. I have a few questions for you, so let me know if you want to discuss those on a call sometime next week.

cc @jason-gcio

------

Feedback key:
Must = Required
Should = Strongly encouraged/content best practice
Consider = Suggestion or possible enhancement

---------

View

[2020-08-07 23:31] bethpottsVADEPO commented on #12246
@RLHecht This was the maintenance request I took care of myself that I mentioned to you on our call. Thank you for copyediting. Let me know if you have any changes.

[2020-08-07 23:54] erikphansen commented on #10247
To get the full appointment data you need to:
1. Get the community cares appointments (ex: `GET https://staging-api.va.gov/vaos/v0/appointments?start_date=2020-08-07&end_date=2021-09-07&type=cc`)
2. Get the VA appointments (ex: `GET https://staging-api.va.gov/vaos/v0/appointments?start_date=2020-08-07T07:00:00.000Z&end_date=2021-09-07T07:00:00.000Z&type=va`)
3. Get facility info by calling the fac

[2020-08-08 00:10] erikphansen commented on #11602
Yep!

[2020-08-08 00:10] #11602 closed

[2020-08-08 23:09] narin commented on #12149
@rtwell The "Tell us about your..." header can get a bit long depending on the reason they select.  Are we okay with this, or do we want to some up with some sort of "short name" for each that we can display here instead? See screenshot below:

![image](https://user-images.githubusercontent.com/786704/89721364-8dc1e000-d991-11ea-9765-4ce760a02523.png)

[2020-08-09 03:19] bethpottsVADEPO commented on #12246
@RLHecht Hold off publishing until I hear back from the SME. I cc'd you on the email I sent her, so you'll see the response too. There may be some conversation needed about our lowercasing of occupational titles.

[2020-08-09 15:34] bsmartin-ep commented on #11528
@Samara-Strauss -

From what I see in the code:

https://github.com/department-of-veterans-affairs/vets-website/blob/dd54734f805dff6387ca5c0a19f014ecf057efdb/src/applications/personalization/profile360/actions/paymentInformation.js#L124

...the `Profile - Form Submit - direct-deposit-information` event (the 3,145) is only fired when the Direct Deposit save is successful.

The bottom number (event