[2022-06-30 16:30] ahicksfearless opened #43725 "ADMIN Excel Sheet"
Chance exported a list of Admin Users who have been confirmed as
Admin by their POC at their site(s).

- [ ] Add email addresses to the email address column within the excel sheet

- [ ] Place email addresses into a MIM distribution group list

[2022-06-30 16:31] laucon commented on #42116
Hey! So I've parsed through the whole conversation. It sounds like Jesse and Peter want:
- A document explaining best practices for how to set E2E tests with examples of what a good E2E test looks like and some examples of what bad E2E tests look like.
This leads to more questions:
- Is this document in our team's scope?
- Who should write this document? Someone on our team? Someone on another tea

[2022-06-30 16:31] taylorkaren commented on #11965
Description of this ticket indicates that it is only an issue in IE11. Review this with @humancompanion-usds; given that IE11 is no longer supported by Microsoft, we may be able to close this issue with no further action.

[2022-06-30 16:33] #42283 closed

[2022-06-30 16:36] #43716 closed

[2022-06-30 16:41] SKasimow opened #43726 "FE | Profile | New Forms Library POC"
## Background

Describe the issue background and scope

## Tasks
- [ ] Add tasks here that must be completed

## Acceptance Criteria
- [ ] Add what must occur for this issue to be considered complete

## How to configure this issue
- Include practice area in title -- e.g., [Design], [FE], [BE]
- Include project/initiative name - e.g., Auth Profile: Address Change Messaging
- Add label for practice

[2022-06-30 16:41] SKasimow opened #43727 "FE | Profile | New Forms Library POC"
## Background

The Forms Library spike team has been working on a new version of the forms library that will enable any team to easily spin up and build any forms that are needed to support the products and features that serve Veterans on VA.gov.

We'd like to gain a better understanding of the level of effort and work needed to leverage this new library and identify any obstacles, by standing up

[2022-06-30 16:46] jw81 opened #43728 "Platform Orientation Template [Jeffrey Wallace]"
## Welcome and Introduction
Welcome to the Veteran's Administration (VA) Veteran Facing Services (VFS) team!
As a new VFS team member, you will be working in the web ecosystem we call the VA.gov Platform (or "**The Platform,**" for short).  The tasks on this list are designed to get you up to speed on the role of Platform, making it easier for you to do your job.

Because the VA is a huge organiza

[2022-06-30 16:53] bethpottsVADEPO commented on #42250
@RLHecht tagging you on this ticket.

[2022-06-30 16:54] LucianaAlexanderMorais commented on #42484
@RLHecht @ianpsant Why can't we follow directly after AVA's placement on the Contact Us page?

[2022-06-30 16:59] raywangoctova commented on #43602
Provided status update in [emis-deprecation](https://dsva.slack.com/archives/C03LT909K1A/p1656608274976669) slack channel.

[2022-06-30 16:59] jacobworrell opened #43729 "Inventory claims status data fields available via current vets-api end point"
## Value Statement
**_As a_** product manager
**_I want to_** know what possible types of data related to claims status are available via the current vets-api claims end point(s)
**_So that_** we can efficiently iterate our design, content, and development approaches and meet our product objectives.

---
## Background Context
- Add here

## Acceptance Criteria
- [x] _Fields currently being used by

[2022-06-30 16:59] abuchanan83 commented on #42236
Currently this story is blocked by #43644. There has been no new developments on the current state of this ticket. Until the api is ready and delivering the fields needed for display in the UI, there is no additional work necessary.

[2022-06-30 17:00] troymosher commented on #39507
Analysis was completed of the IR, CP, CM, MA and PS controls.  Report with results not posted here in public repo but linked below on PSEC repo:

[IR](https://github.com/department-of-veterans-affairs/platform-security/issues/82)
[CP](https://github.com/department-of-veterans-affairs/platform-security/issues/80)
[CM](https://github.com/department-of-veterans-affairs/platform-security/issues/79)
[M

[2022-06-30 17:17] saderagsdale commented on #43350
@jsokohl review comments above and work with @Mottie as needed. Determine path forward on content that may need re-working.

[2022-06-30 17:20] saderagsdale commented on #42488
Blocker: @jsokohl cannot find the source code for the design. This effort needs design work and light research to understand the date formatting choice.

AC: Determine how to represent home loans if there's more than one.

[2022-06-30 17:22] #41671 closed

[2022-06-30 17:23] #43201 closed

[2022-06-30 17:27] megansiddle commented on #43322
@jonathan-epstein13 that is super awesome!!! So we don't need a special UTM parameter name? Like UTM-dimension=7_days?
Also would the campaign then get broken out on the events page by the "&7_days"?

[2022-06-30 17:35] ericasauv09 opened #43730 "[FE] My VA: Update Health Care Section Logic"
## Background
Based on our analysis in [this ticket](https://github.com/department-of-veterans-affairs/va.gov-team/issues/42702) we want to refactor the code for the Healthcare section on My VA. Mark had implemented a short term fix for this section but recommended a refactor since the code is not optimized.

## Tasks
- [x] Refactor the code to include one conditional return versus many
- [x] Vali

[2022-06-30 17:36] katherine-fung commented on #41833
Beth thinks that the requirement to enroll within 3 years MAY have gone away. For clarity on this question and on VR&E requirements, she's going to send us her communication with SMEs about the existing resources and support page.

For our other questions, I'm going to highlight the differences on the legacy page and send them on to Beth, to pass onto SMEs.

[2022-06-30 17:38] jkelly-va opened #43731 "Platform Orientation Template [Jasmyn Kelly]"
## Welcome and Introduction
Welcome to the Veteran's Administration (VA) Veteran Facing Services (VFS) team!
As a new VFS team member, you will be working in the web ecosystem we call the VA.gov Platform (or "**The Platform,**" for short).  The tasks on this list are designed to get you up to speed on the role of Platform, making it easier for you to do your job.

Because the VA is a huge organiza

[2022-06-30 17:48] aagosto90 commented on #43571
Updated in [Sketch](https://www.sketch.com/s/9b0e6efc-423a-4354-9db3-ab2083d566c9/v/q5PQD5/a/YGD28qM/r/Ajn34r) and on [Mural board](https://app.mural.co/t/vsa8243/m/vsa8243/1648129585496/d22080eb307aac8bda5ba1153e013a386b7f1396?sender=uce014850ef6c5a8303e70396)

[2022-06-30 17:48] #43196 closed

[2022-06-30 17:49] thehastingsp commented on #43638
@Mottie draft of content is here https://docs.google.com/document/d/1lzNEOafHv0s-MrehlvtbMNZYlBPUUE4swn2IglLElfA/edit?usp=sharing

[2022-06-30 17:52] #42702 closed

[2022-06-30 17:54] kristenmcconnell commented on #41432
Made final changes to the plans based upon feedback from the check-in UX team. Send plans to Stephen Barrs in [Slack](https://dsva.slack.com/archives/C02GXKL8WM6/p1656611646343989) to start conversations with the sites.

[2022-06-30 17:54] #41432 closed

[2022-06-30 17:55] kristenmcconnell commented on #41435
Messaged Stephen via [Slack](https://dsva.slack.com/archives/C02GXKL8WM6/p1656611646343989) to start conversations with TX sites.

[2022-06-30 17:55] starlow00 commented on #43449
Hi @denisecoveyduc.that's the only debt-related guide to which I have access. The other national call centers outside VEO may have others, I don't know. Sorry I can't shed more light on this for you!

[2022-06-30 18:02] calquisola commented on #43717
[PR](https://github.com/department-of-veterans-affairs/vsp-infra-application-manifests/pull/622) created for staging metrics.

[2022-06-30 18:02] CherylEvans commented on #42025
No Content FB at this time.

[2022-06-30 18:03] #40883 closed

[2022-06-30 18:03] loripusey opened #43732 "[UX] Submit Translations to the State Department"
## Tasks
- [ ] Create JSON file with new content to be translated
- [ ] Do a diff between the English json file and each non-English json file to ensure all keys that we need translated have been included in the new submission file
- [ ] Submit JSON file to the State Department

## Acceptance Criteria
- [ ] JSON file has been submitted to the State Department

[2022-06-30 18:04] CherylEvans commented on #43140
No Content FB.  Good job.

[2022-06-30 18:06] hdjustice commented on #40883
Wow, the State/province/region field really opened up to alot more choices.  Was that all in the Schema and we just weren't displaying it?

[2022-06-30 18:06] loripusey opened #43734 "[Product] Send QA Workflows to State Department"
## Tasks
- [ ] Create workflow documents that contain screenshots for the Epic/feature
- [ ] Submit documents to the Randi Hecht

## Acceptance Criteria
- [ ] Workflow documents have been submitted to Randi Hecht for forwarding to the State Department

[2022-06-30 18:08] mleclerc00 commented on #41703
This is now working in eks dev cluster
<img width="1662" alt="image" src="https://user-images.githubusercontent.com/76792875/176745294-1d5990a5-f854-47af-b364-7c829a6be08a.png">
![image](https://user-images.githubusercontent.com/76792875/176747557-0ed604b0-ef54-4e2e-a12b-08987e8ad511.png)

[2022-06-30 18:09] longmd commented on #40883
Correct. So the default schema allows for all of the U.S., Mexico, Canada and then Other, but for some reason we were overwriting that in the form and only giving U.S. state options. So just had to expand it back to North America and Other.

[2022-06-30 18:09] jacobworrell opened #43735 "Identify vertical slices of work to reduce load times for CST"

[2022-06-30 18:10] hdjustice commented on #40883
fabulous, thank you Matt!

[2022-06-30 18:12] #41375 closed

[2022-06-30 18:12] LindseySaari commented on #39887
@mleclerc00 also has confirmed that the Puma integration is all set for EKS. I will verify in sprint 5 and follow up with removing the puma-plugin-statsd gem.

[2022-06-30 18:13] tmitchellgcio commented on #41375
Closing this. we discussed it with Angela and she looked at it already and said it had some minor formatting which she didn't see as a big deal and she would update the spec.

[2022-06-30 18:13] briandeconinck commented on #43140
No feedback on the component, reaching out to Matt via Slack for the note about documentation.

[2022-06-30 18:16] boris-ning-usds opened #43736 "Offboarding of Yu Ning "Boris""
# Instructions
Fill out name of individual and *Description* section below.

# Description
Please provide the following information about the individual being offboarded:
- name:

- team name:

- role on team:

- expected last day:

- company they work for:

- email:

- GitHub username:

- additional access they may have:

## Acceptance Criteria
*Performed by Platform team. Detailed instructions f

[2022-06-30 18:18] jbritt1 commented on #43736
https://giphy.com/clips/justin-Kwd25vq3KFaK1Dmqre

[2022-06-30 18:18] jbritt1 commented on #43736
![image](https://user-images.githubusercontent.com/56260532/176749569-667a09aa-7d5a-4d06-9674-b710ace97e1d.png)

[2022-06-30 18:19] boris-ning-usds commented on #43736
Adding @LEHigley, @eunicegar @jbritt1 @mchelen-gov @CoryTrimmUSDS for awareness as Eunice is also planning on offboarding me off of Slack as a Slack admin.

VA Platform team, please feel free to offboard me off the tools you have abilities to.

Thank you for the help these past four years.
It's been a journey to see va.gov come through.

Boris Ning
United States Digital Service
Office of the Chief

[2022-06-30 18:19] #42731 closed

[2022-06-30 18:21] michelle-dooley opened #43737 "Forms Dashboard: Revised "Time to Complete" Metrics (continued)"
## Issue Description
This is a continuation of [ticket 31789](https://github.com/department-of-veterans-affairs/va.gov-team/issues/31789) from Q2.  This will likely span multiple sprints.

We need to revised how we calculate time to complete metrics for the Forms Dashboard.

---
## Tasks
- [ ] Revised calculations are defined and documented
- [ ] New calculations are QA'd and approved
- [ ] Forms

[2022-06-30 18:24] loripusey commented on #40606
@loripusey Do this while Nira is out

[2022-06-30 18:25] jsgarmon commented on #43550
My basic thoughts are: once the application is working in dev, there are just a few things that need to happen to promote it to other environments.
1. copy manifest files from `dev` into a new environment folder, updating values and environment-specific specs.
2. add the new environment to the ArgoCD application with a PR like https://github.com/department-of-veterans-affairs/vsp-infra-argocd/pull

[2022-06-30 18:28] seanasewell opened #43738 "Design Intent - Design Feedback - [VAOS, VA Online Scheduling, Appointment List Feature]"
## VFS acceptance criteria
- [ ] Let Platform know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
- Love seeing all the previous research and showing what you have today vs what you are changing.
- Typically at design intent we like to see user flows and lo fi wireframes and pro

[2022-06-30 18:28] loripusey opened #43739 "[Product] Send Workflow documents to State Department"
## Tasks
- [x] Create workflow documents that contain sceenshots for the Epic/feature
- [x] Submit documents to the State Department

## Acceptance Criteria
- [x] Workflow documents have been submitted to Daniell Thierry and she will submit to the State Department

[2022-06-30 18:31] loripusey opened #43740 "[Product] Send Workflow documents to State Department"
## Tasks
- [x] Create workflow documents that contain sceenshots for the Epic/feature
- [x] Submit documents to the State Department

## Acceptance Criteria
- [x] Workflow documents have been submitted to Daniell Thierry and she will submit to the State Department

[2022-06-30 18:37] MitchLivingstone commented on #42293
@SebVortex
As a place holder, please use the "Careers hub icon" located on the Design page in place for the building. The building going through an approval process which can take up to a month before it's released.

https://design.va.gov/foundation/icons

![image.png](https://images.zenhubusercontent.com/62699917a261e69763726e6b/963498f1-24f8-46a2-a5e3-f4d6c29e4fb3)

[2022-06-30 18:39] tmitchellgcio commented on #43570
@ajakabcin @Samara-Strauss @ericasauv09 This is the deployed environment http://a154d7305ba9e43a79ab2d58a5f41625.review.vetsgov-internal/

You should be able to validate this on this link. This is the only way to validate before it reaches the main branch and automatically gets deployed to master so this may need to be the new way we have to handle validations.

[2022-06-30 18:45] RachalCassity opened #43741 "[EKS] R/W access for Rachal Cassity"
### COR Name

Vilay Senthep

### Vendor Onboarding Representative Name

Oddball - Amber Malcolm

### Your Name

Rachal Cassity

### Your Email

rachal.cassity@oddball.io

### Your Team, Role, and Company

VSP - Console Services, Backend Engineer, Oddball

### Product Manager (PM) name and email

Nathan Peterson, Nate.Peterson@adhoc.team

### Product Owner (PO) name and email

Thomas Delrue, Thomas

[2022-06-30 18:47] Samara-Strauss commented on #43570
That link doesn't work for me, even on the VA network.

I am leaving in a few minutes for a doctor's appointment, so I'll check in on this tomorrow.

[2022-06-30 18:47] #41334 closed

[2022-06-30 18:47] #43159 closed

[2022-06-30 18:48] #42964 closed

[2022-06-30 18:49] kylesoskin commented on #43741
@RachalCassity is listed in the Platform Roster.

[2022-06-30 18:51] kylesoskin commented on #43741
User: Rachal Cassity
COR: Vilay Senthep
VOR: Oddball - Amber Malcolm
Approval needed: https://github.com/orgs/department-of-veterans-affairs/teams/operations-aws-approvers
AWS Admin Role: no

[2022-06-30 18:52] rmtolmach commented on #43704
/request Claudio Nunez Jr

not in confluence
deleted from VFS roster
✅ removed from socks in https://github.com/department-of-veterans-affairs/devops/pull/11498
not in aws
✅ removed from gh org in https://github.com/department-of-veterans-affairs/github-user-requests/issues/11447
not in pd, dd, or sentry
not a bot user

[2022-06-30 18:53] #41350 closed

[2022-06-30 18:53] kylesoskin commented on #43710
@iriteshp is in the Platform Roster.

[2022-06-30 18:54] RLHecht opened #43742 "Create editing checklist for Vet Centers"
## Issue Description
Now that the content team is reviewing Vet Center pages, we need to create a checklist  similar to our pre-publishing checklist to make sure content is clean and meets our plain language and VA.gov style standards. We should review this checklist before we pass to Jessica and Tiffany for their final review.

## Tasks
- [x] Create checklist (Megan/Randi)
- [x] Share list with T

[2022-06-30 18:54] kylesoskin commented on #43710
User: Ritesh Patel
COR: Cecila Lee
VOR:  Liberty IT - Michael G. Lovejoy
Approval needed: https://github.com/orgs/department-of-veterans-affairs/teams/operations-aws-approvers
AWS Admin Role: no

[2022-06-30 18:56] kylesoskin commented on #43714
@calquisola is in the Platform Roster.

[2022-06-30 18:56] kylesoskin commented on #43714
User: Carl Alquisola
COR: Cecila Lee
VOR: Liberty IT - Michael G. Lovejoy
Approval needed: https://github.com/orgs/department-of-veterans-affairs/teams/operations-aws-approvers
AWS Admin Role: no

[2022-06-30 19:01] jerekshoe commented on #42507
@RLHecht 2 questions on this. Should the links be on a new line from the previous text like they are in the word doc or should they fall on the same line like they do in the current content? Also should these links open a new tab in the browser?

[2022-06-30 19:03] tmitchellgcio commented on #43570
It does require having SOCKS on. Not sure if that helps

[2022-06-30 19:04] jhouse-solvd opened #43743 "[Platform Infrastructure] Ongoing maintenance tasks: Q3 2022"
## Problem
Platform Infrastructure requires ongoing maintenance in order to operate effectively. Platform services can be negatively impacted if maintenance tasks are not performed.

## Background
- Maintenance tasks may result as a part of periodic scanning, monitoring, or alerting
- Maintenance tasks may result in response to observations from support personnel
- Maintenance tasks may be perform

[2022-06-30 19:07] jerekshoe commented on #42507
![Screen Shot 2022-06-30 at 2 07 00 PM](https://user-images.githubusercontent.com/13838621/176758230-d91ee442-71be-4030-980d-a1aa4b5a3cdd.png)

This is what I have currently, let me know if any of the formatting needs to be changed

[2022-06-30 19:08] vbellissimo commented on #42116
@laucon Thanks for going through this. Let's ask our team tomorrow at stand-up what the process has looked liked for new content requests in the past. If we determine this new content is something for us to create, I can help figure out the level of priority.

[2022-06-30 19:09] npeterson54 opened #43745 "Discovery: Platform Prefill Service Integration Update Required by EMIS's Decommission"
## Description
Console Services is being asked to complete some discovery around the Emis deprecation work. Emis is being deprecated with a hard date of September 30th. The discovery should be focussed on where in vets-api Emis Prefill exists and what the impact of it being deprecated might be. The information gathered will help determine what, if any, steps we might need to take prior to the hard

[2022-06-30 19:10] beth-wodzinski commented on #39812
Failed testing. Back end is returning clinic appointments and setting eligibility to true; front end is not finding appointments and allowing direct scheduling. Reach out to Beth or Marcy for more details.

This seems to be mostly involving child clinics; parent clinics have worked.

test patient jacobreid.r.iasimone@id.me, clinic FTC Amputation and Sidney Opthalmology.

[2022-06-30 19:13] #43647 closed

[2022-06-30 19:13] #41761 closed

[2022-06-30 19:19] vbellissimo commented on #38920
Followed up with Zachary via Slack on 6/30/22

[2022-06-30 19:19] vbellissimo commented on #39157
Followed up with Zachary via Slack on 6/30/22

[2022-06-30 19:20] zachclarity commented on #39157
closing covered in ongoing Q3 work.

[2022-06-30 19:20] #39157 closed

[2022-06-30 19:20] zachclarity commented on #38920
closing covered in ongoing Q3 work.

[2022-06-30 19:20] #38920 closed

[2022-06-30 19:21] DanielleThierryUSDSVA commented on #41493
Thanks, all! @laurwill I'm getting an error message when I try to upload my edited word doc. So I'm going to slack it to you now. Above looks good for After you apply page with 2 tweaks:

- Use "nearest" instead of "local" because you use "nearest" on the page
- If Tarsha confirms that it's any VA health facility, make that change here too.

Also, there is [content within Resources and Support aro

[2022-06-30 19:22] zachclarity commented on #41097
closing covered by other work

[2022-06-30 19:22] #41097 closed

[2022-06-30 19:22] pavanhothi commented on #43704
No GA DOMO access

[2022-06-30 19:23] pavanhothi commented on #43736
No GA DOMO access

[2022-06-30 19:23] pavanhothi commented on #43670
No GA DOMO access

[2022-06-30 19:38] CoryTrimmUSDS commented on #43704
Removed from DSVA Slack.

[2022-06-30 19:38] megansiddle commented on #43322
Closing this out since I got my questions answered! Thanks again!

[2022-06-30 19:39] zachclarity commented on #38890
The SRE team will need to create FAQs and incident playbooks to support requests after the K8 is on PROD.  We will follow this work.

[2022-06-30 19:40] vbellissimo opened #43746 "Fix footer template on Keyboard Testing page"
On this page:
https://depo-platform-documentation.scrollhelp.site/developer-docs/keyboard-testing-helper-functions

Move the "Help and Feedback" section to the bottom of the page.

[2022-06-30 19:44] tameracorson commented on #43594
![image.png](https://images.zenhubusercontent.com/61856bab21cd5965714d703d/a4d40847-0040-44ee-9397-332830387adf)

[2022-06-30 19:45] vbellissimo commented on #41891
Followed up with Joe Tice and Peter Hill via slack on 6/30/22.

[2022-06-30 19:52] ScottyRJames opened #43747 "[DISCOVERY] Research best approach for implementing MCP Notifications"
## Issue Description
We need to have functionality that notifies a Veteran when they have a new medical copay statement available to them in the portal. In the past we've discussed and AWS approach, real time data from CDW, and pinging VBS service.

---
## Tasks
- [ ] Draw pros and cons of each potential implementation and come to conclusion what makes most sense from a technology, team and produc

[2022-06-30 19:55] michelle-dooley commented on #13704
Closing this Q2 epic, the GA4 migration work will continue in Q3 with [ticket 42199](https://github.com/department-of-veterans-affairs/va.gov-team/issues/42199)

[2022-06-30 19:55] #13704 closed

[2022-06-30 19:55] pjhill commented on #41891
Thanks for the poke!

@Mottie -- this doc is an awesome contribution, thank you!

I'll add this as a stand-alone document under the `End-to-End Testing with Cypress` collection: https://depo-platform-documentation.scrollhelp.site/developer-docs/end-to-end-testing-with-cypress.

[2022-06-30 19:59] michelle-dooley commented on #34821
Closing this Q2 epic, dashboard work will be completed as part of the ongoing services epic in Q3.

[2022-06-30 19:59] #34821 closed

[2022-06-30 20:01] troymosher opened #43748 "Continuously improve Platform security posture and maintain ATO"
## Problem Statement
In order to maintain a VA Authorization to Operate (ATO), there are numerous scheduled monthly, quarterly, and annual authorization requirements that must be completed.  There is a considerable amount of security debt currently owed on these requirements as they have not been previously satisfactorily completed and in some cases not attempted.  Platform must not only conform t

[2022-06-30 20:01] CarlDickerson commented on #42694
@laurwill following up to let you know that we have updated the design to match your previous feedback and suggestions above. The download button has been now replaced with a primary button (blue button) and the click through to VA. profile paperless delivery has been changed to a secondary link. Please find attached, updated design high fidelity [sketch](https://www.sketch.com/s/2f061f33-42de-4d8

[2022-06-30 20:11] vbellissimo commented on #42999
Followed up with Lainey Trahan and Ray Messina via Slack on 6/30/22.

[2022-06-30 20:11] vbellissimo commented on #41292
Followed up with Lainey Trahan and Ray Messina via Slack on 6/30/22.

[2022-06-30 20:20] vbellissimo commented on #41979
Followed up with Jesse Cohn via Slack on 6/30/22.

[2022-06-30 20:22] aliyahblackmore commented on #42044
Hi @laurwill the FMP page draft is ready for you! I've included a few questions!
[Foreign Medical Program_AB_June 30.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/9023159/Foreign.Medical.Program_AB_June.30.docx)

[2022-06-30 20:27] michelle-dooley commented on #41767
Closing this Q2 epic ongoing services for Q3 will be tracked in that epic.

[2022-06-30 20:27] #41767 closed

[2022-06-30 20:30] holdenhinkle commented on #42741
PR to set `slow` in the mocha config to `0` so tests that run faster than `0ms` but less than or equal to `75ms` have their `duration` set to the real value instead of to `0` - https://github.com/department-of-veterans-affairs/vets-website/pull/21531

It turns out that most of the Cypress tests' `duration` property is `0` is because they're being skipped.

I spoke to Darius about implementing Cypr

[2022-06-30 20:41] vbellissimo commented on #42170
![Isolated application build and deploy process](https://user-images.githubusercontent.com/106613300/176774557-1dc0ea0f-37e0-47a3-995f-bfdab03ceb2b.png)
![Standard build and deploy process](https://user-images.githubusercontent.com/106613300/176774570-3d960d02-cc3a-4e73-beae-f758138d6b77.png)
@SSimmorins I've attached the two diagrams in question. Can you upload to this page?

[2022-06-30 20:45] little-oddball commented on #35794
To my knowledge some have seen it but it hasn't formerly been rolled out. My understanding from the discussion yesterday is that Ray, Andrea and myself were going to meet next week to discuss and roll out from there. Andrea asked me to schedule the meeting but I believe she is looking for openings in Ray's calendar to schedule as I type this.

[2022-06-30 20:47] little-oddball commented on #35794
Meeting is scheduled for Wed 7/6 12 -1 Eastern

[2022-06-30 20:48] little-oddball commented on #43602
I spoke w/ Lindsey from Console Services and am working w/ Nate to get this initiative created.

[2022-06-30 20:56] marcynadeau commented on #39812
@ldelacosta This failed testing. Assigning back to you.

[2022-06-30 21:32] #43704 closed

[2022-06-30 21:44] #40390 closed

[2022-06-30 21:46] michelpmcdonald commented on #30182
This is popping up again, i did eventually make contact with someone from the VA that is on the decision letter creation side, his email is Michael.Palmer5@va.gov.
If we pick up this work again, he seemed like someone who might be able to help us get the va to add a claim_id or some other info to the decision letter file name that would help us tie the multiple decision letters in the vets efolder

[2022-06-30 21:52] michelpmcdonald commented on #42954
#29082 related

[2022-06-30 22:09] jacobworrell commented on #42954
@michelpmcdonald Thanks. I mentioned this idea to Matt and it seems like there are more political and legal blockers to doing this than actual tech-blockers, but seems like those blockers may come down soon.

[2022-06-30 22:16] jimuhh commented on #43140
No IA feedback, thanks!

[2022-06-30 22:23] alexandec commented on #41668
[Workflow runs PR](https://github.com/department-of-veterans-affairs/veteran-facing-services-tools/pull/844) is merged. That code is integrated into the [dashboard update PR](https://github.com/department-of-veterans-affairs/veteran-facing-services-tools/pull/845). Remaining tasks:

- [ ] Review PR
- [ ] Test dashboard locally
- [ ] Resolve CORS issue

[2022-06-30 22:29] SKasimow opened #43750 "Design | Profile | Contact Info Documentation Improvements"
### Description

We're in the process of reviewing our product documentation to make sure it is accurate, up-to-date and complete. Similar to the work done recently for Direct Deposit, we will tackle Contact Information next.

[Here is the contact information product outline](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/profile/contact

[2022-06-30 22:38] bethpottsVADEPO commented on #42339
@laurwill, if I'm understanding his last note, you could rearrange the content like this (want to put it in drupal and see how it looks? you might want to place life insurance last after Foreign Medical Program since the Life Ins subsection will be so long...):

**Life insurance benefits** (cut out "certain")

**If you have life insurance through Servicemembers Group Life Insurance (SGLI) or Famil

[2022-06-30 22:40] jilladams opened #43751 "Adding Troy Griffin to DSVA Slack"
# Description

Please add troy.griffin@agile6.com as a full member.

[2022-06-30 22:45] bethpottsVADEPO commented on #42339
@laurwill I also forgot to say that it would be good to ask him if he has a contact at Prudential or OSGLI who we could show this content to and make sure it's accurate.

[2022-07-01 00:44] #43389 closed

[2022-07-01 12:16] claytonzook commented on #40879
@briandeconinck getting a chance to really look through these. It feels strange to have two checklists for what feels like very similar things. I wonder, does it make sense to merge these onto one Research with AT checklist, and that could be page one? Page two could then be something like "instructions for researching with AT" And then the etiquette could go on whichever page makes the most sense

[2022-07-01 12:17] RLHecht commented on #42507
One small fix: Remove the period after the last link "Apply for VA health care benefits"

[2022-07-01 12:59] taylorkaren commented on #11965
@obliviga: Per Matt, this is in MyVA/Profile thus Liz Lantz on that team should be able to direct you to the right page. Looks like from the screenshot it is when you edit your address. Should be able to get to that on staging once authenticated.

[2022-07-01 13:04] RLHecht opened #43752 "Update rate on NADL page--HOLD TO PUBLISH UNTIL 7/11"
## Issue Description
Stakeholder Raleigh Contreras informed us the interest rate for NADL is increasing effective July 11, 2022, to **5.25%**

We need to change this on the [Native American Direct Loan](https://www.va.gov/housing-assistance/home-loans/loan-types/native-american-direct-loan/) page. We should publish this on 7/11.

The rate is in the fourth bullet under the H2 Why might I want to ge

[2022-07-01 13:15] laineymajor opened #43753 "[Carryover] Autonomous Deployment: Release frontend autonomous deployment for allowed apps"
## Problem Statement
*Currently, all VFS teams use the same shared code repository vets-website for frontend apps. Although the apps are separated within the repo, changes to one app must be built and deployed along with the entire site. This slows down development, and creates unnecessary risk and overhead for VFS teams. Furthermore, scheduled deploys of the repo happen only 1x/day — any bug fixe

[2022-07-01 13:19] rmtolmach commented on #43679
/request Mikki Northuis

not in confluence, vfs roster, socks or aws
✅ Removed from gh org in https://github.com/department-of-veterans-affairs/github-user-requests/issues/11456
not in pd, dd, or sentry
not a bot user

[2022-07-01 13:22] chaseakirby commented on #43140
[Zoom Link](https://oddball-io.zoom.us/rec/share/P6mwBRm3e_MBgon6Ya2dnvfPMMQlgRnx4gHNToR7z_8nwJw0kwPkhGGaIbznPhYU.yQcleAGWugIED0x8)
Passcode: 0bV&5tsx

[2022-07-01 13:35] #43664 closed

[2022-07-01 13:42] ldelacosta commented on #39950
This has failed testing. See comments from SQA testers:

Failed testing. Back end is returning clinic appointments and setting eligibility to true; front end is not finding appointments and allowing direct scheduling. Reach out to Beth or Marcy for more details.

This seems to be mostly involving child clinics; parent clinics have worked.

test patient jacobreid.r.iasimone@id.me, clinic FTC Amputa

[2022-07-01 13:42] tpharrison opened #43754 "BE - Auth Profile - Military Info - Add data source field to service history for GA"
## Background
The profile uses a feature toggle called `profile_get_military_info_from_vaprofile` that when flipped on will retrieve service history from VA Profile instead of eMIS.  When this toggle is flipped on for a percentage of users, it is difficult to determine in Google Analytics which external service the data was retrieved from.

Add a "data_source" field to the response that indicates

[2022-07-01 13:43] tpharrison opened #43755 "BE - Auth Profile - Military Info - Add data source field to service history for GA"
## Background
The profile uses a feature toggle called `profile_get_military_info_from_vaprofile` that when flipped on will retrieve service history from VA Profile instead of eMIS.  When this toggle is flipped on for a percentage of users, it is difficult to determine in Google Analytics which external service the data was retrieved from.

Add a "data_source" field to the response that indicates

[2022-07-01 13:47] LEHigley commented on #43651
@cmaeng that channel name is already taken

[2022-07-01 13:47] LEHigley commented on #43268
2FA is disabled

[2022-07-01 13:47] #43268 closed

[2022-07-01 13:53] aarathi-poldass opened #43756 "VAOS Staging: User is not able to Navigate back to Requested queue after cancelling a CC request"
## What happened?
VAOS UI is displaying an error when user is navigating back to Requested queue after cancelling a CC request in VAOS. I have tried using the back arrow, click on the "VA online Scheduling" breadcrumb and selecting the Requested queue and we are seeing the same results.

Workaround:  User can successfully access the Request/ Requested queue by logging out of the application and co

[2022-07-01 13:56] RLHecht commented on #41524
This work is complete and Laura emailed the stakeholder. Closing this ticket.

[2022-07-01 13:56] #41524 closed

[2022-07-01 14:04] CoryTrimmUSDS commented on #43239
I'm unable to help fully triage this since I am not an 'Authorized Member' of the application. I see that Boris is authorized and the entire `vagovcms` team is authorized.

Quick question - Has this bot successfully posted in any channels outside of the #cms-notifications Slack channel?

[2022-07-01 14:08] nsoutouras opened #43757 "Sign-in Service: External Issue Tracker"
# Description
This is the primary place for users external to the VSP Identity Team to report bugs and issues with the sign-in service.  Please leave anything as a comment on this ticket with the following details:

Instructions for how to use the new sign in service can be found [here](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity/Sign-In%20Service/Si

[2022-07-01 14:09] nsoutouras opened #43758 "Sign-in Service: External Issue Tracker"
# Description
This is the primary place for users external to the VSP Identity Team to report bugs and issues with the sign-in service.  Please leave anything as a comment on this ticket with the following details:

- Description of the issue
- Reproduction steps
- Expected behavior
- Actual behavior

[2022-07-01 14:19] jhouse-solvd opened #43759 "[Platform Infrastructure] VFS and Platform Crew support tasks: Q3 2022"
## Problem
VFS and Platform crew teams need support for developer operations. They also need access to platform resources to manage the applications delivered through platform infrastructure.

## Background
- Support may originate in response to troubleshooting health or performance issues
- Support may be needed to facilitate the completion of product initiatives
- Support may originate in #vfs-p

[2022-07-01 14:26] #38917 closed

[2022-07-01 14:27] CoryTrimmUSDS commented on #43679
Removed from DSVA Slack

[2022-07-01 14:29] little-oddball commented on #43414
Meeting was had with Platform Engineer leaders and approach forward was defined. @mchelen-gov is working to get intent question answered and an initiative has been created for the SRE Team to work through the remaining items. The Epic reference is here:

https://github.com/department-of-veterans-affairs/va.gov-team/issues/43749

[2022-07-01 14:35] katherine-fung commented on #43676
Birth defect rates
https://prod.cms.va.gov/node/993/latest

Special monthly compensation rates
https://prod.cms.va.gov/node/990/

Special benefit allowances rates
https://prod.cms.va.gov/node/991/

DIC rates for parents
https://prod.cms.va.gov/node/1013/latest

DIC rates for spouses and dependents
https://prod.cms.va.gov/node/1012/latest

Veterans disability compensation rates

[2022-07-01 14:42] aarathi-poldass commented on #43756
@ldelacosta - This ticket cannot be tested right now due [VAOSR-3947](https://issues.mobilehealth.va.gov/browse/VAOSR-3947).  According to Marcy's comments on VAOSR-3947 - We have seen similar kind of issue before and that was something fixed by AJ.

[2022-07-01 14:57] mrnapper opened #43763 "VRRAP Application on VA.GOV"
![VRRAP Application Screenshot](https://user-images.githubusercontent.com/108534808/176919106-3268e9bd-4d56-47da-ae8f-bce902125bf9.png)
This request is to better inform VRRAP applicants during their application submission that if/when they submit "no" on the "Confirm you're eligible for VRRAP" section, they are making themselves ineligible for VRRAP. At times there has been confusion for the Veter

[2022-07-01 15:08] npeterson54 opened #43764 "Check with QA team on pact enforcement"
## Description
figure out what happened to pact? is it enforced still?
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_

## How to configure this issue
- [ ] _Attach a Milestone_

[2022-07-01 15:08] #37063 closed

[2022-07-01 15:08] npeterson54 opened #43765 "Discovery: Observability tooling for migration of vets-api to staging"
## Description
What tools do we have? or should add for the switchover?
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_

## How to configure this issue
- [ ] _Attach a Milestone_

[2022-07-01 15:09] vbellissimo commented on #37063
Closing this backlog item.

[2022-07-01 15:09] npeterson54 opened #43766 "Generate list of endpoint ownership"
## Description
_What details are necessary for understanding the specific work or request tracked by this issue?_

## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_

## How to configure this issue
- [ ] _Attach a Milestone_

[2022-07-01 15:10] npeterson54 opened #43767 "Sidekiq workers deployment to EKS"
## Description
_What details are necessary for understanding the specific work or request tracked by this issue?_

## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_

## How to configure this issue
- [ ] _Attach a Milestone_

[2022-07-01 15:16] pavanhothi commented on #43679
GA DOMO access removed

[2022-07-01 15:17] #43679 closed

[2022-07-01 15:22] ajakabcin opened #43768 "[PM] My VA Redirect: Prep for and complete privacy/security review"
## Background
We need to prep for and submit our privacy and security review for the My VA redirect.

## Tasks
- [ ] Compile documentation outlined [here](https://depo-platform-documentation.scrollhelp.site/collaboration-cycle/privacy-security-infrastructure-readiness-review)
- [ ] Submit [ticket](https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/issues/new?assignees=td-usds%

[2022-07-01 15:23] michelle-dooley opened #43769 "Analytics & Insights (Q3 2022): Tech Debt"
## High Level User Story/ies
As a Analytics & Insights team member I want to make incremental updates to our products and processes and ensure that our documentation is up to date and thorough.

As a VFS team member I want to know the Analytics & Insights team is keeping their products up to date and providing clear and up to date documentation to support my needs.

## Hypothesis or Bet
If we regu

[2022-07-01 15:27] SSimmorins opened #43770 "Updated Images with Screenshots"
## Content Team updated images embedded in doc that were not visible on the Platform for screenshot.
Description: Need to test that it is visble for users on the Platform before notifying the original requestor of the change.
Related to ticket # 42170
[https://github.com/department-of-veterans-affairs/va.gov-team/issues/42170](url)
**The questions below help our team to determine the project scope

[2022-07-01 15:31] shiragoodman commented on #43264
@chaseakirby can you complete the items above that you own (ie meetings)? thanks!

[2022-07-01 15:32] ajakabcin commented on #43188
Bumping out to next sprint to allow for time to resolve issues with redirect not appearing consistently for all users when the feature flag is enabled

[2022-07-01 15:32] ajakabcin commented on #43211
Bumping out to next sprint to allow for time to resolve issues with redirect not appearing consistently for all users when the feature flag is enabled

[2022-07-01 15:34] rmtolmach commented on #43412
@allthesignals, in the documentation Kyle linked, it shows that if you start the orientation, you will be added to the VFS roster (if you're on a VFS team). From the link Kyle posted, click on "[Directions for new VFS team members](https://depo-platform-documentation.scrollhelp.site/getting-started/Guidance-for-new-teams-and-team-members.2132803700.html#Guidancefornewteamsandteammembers-NewVFSTeam

[2022-07-01 15:41] shiragoodman opened #43771 "Make corrections to Collaboration Cycle operational docs"
## User Story
As a Governance team member, I want to ensure that the Collaboration Cycle operational guidance is up to date and accurate so that I can consistently follow the Collaboration Cycle process.

Assignee: @seanasewell
Peer Reviewer: @claytonzook

## Description
[Refine guidance for research feedback at Midpoint Review](https://vfs.atlassian.net/wiki/spaces/PPS/pages/1945239838/How+to+pro

[2022-07-01 15:45] #42830 closed

[2022-07-01 15:45] jerekshoe commented on #42488
I don't know where the original source files are for COE, but I do have the uxpin link in case you guys don't already have it:
https://preview.uxpin.com/65c0623a799c268173fe1a3cb4375f9ce00ad820#/pages/139511607/specification/sitemap

[2022-07-01 15:45] shiragoodman opened #43772 "Make corrections to Collaboration Cycle Request template"
## User Story
As a Governance team member, I want to make sure that the Collaboration Cycle Request template is free of errors so that VFS teams do not have issues when completing it.

Assignee: @briandeconinck
Peer Reviewer: @CherylEvans

## Description
Remove governance-team label from request template
Add   "dynamic pages" to "Will your work involve changes to"   question

Note: This ticket is

[2022-07-01 15:46] jerekshoe commented on #42488
Also FYI: the original designer was making all of his edits in UXPin so even if we had the source files they wouldn't be up to date with the UXPin prototype

[2022-07-01 15:47] chaseakirby commented on #43264
@shiragoodman I removed Sarah from most of the meetings but I think that you still own Sprint Creation (it must have been one we missed transferring or intentionally kept yours).
I also updated our Confluence space and Platform Website.

[2022-07-01 15:48] #42807 closed

[2022-07-01 15:48] #42584 closed

[2022-07-01 15:50] amygoldman commented on #33450
Update: sent @LindseySaari [a message on Slack](https://dsva.slack.com/archives/C01AS05BQ79/p1656690518587159) to find out why the External Service Integrations is in the drafts space

[2022-07-01 15:51] shiragoodman opened #43773 "Make corrections to Collab Cycle Request Template, post kickoff"
## User Story
As a Governance team member, I want to make sure that the Collaboration Cycle Request Template, post kickoff (AKA code blocks), provides correct and up to date guidance to VFS teams on the various Collaboration Cycle touchpoints so that the process is consistent and dependable for VFS teams.

Assignee: @CherylEvans
Peer Reviewer: @allison0034

## Description
Continuity check: Refine

[2022-07-01 15:55] #42850 closed

[2022-07-01 15:55] #42832 closed

[2022-07-01 15:55] #42828 closed

[2022-07-01 15:56] shiragoodman opened #43774 "Make corrections to Collaboration Cycle pages on Platform Website"
## User Story
As a VFS team member, I want to know that the Collaboration Cycle pages on Platform Website are correct and up to date so that I know I am following the latest guidance.

Assignee: @allison0034
Peer Reviewer: @briandeconinck

## Description
Update "Contact Us" page
Update "Resources" page re: scheduling calendars in Calendly
Remove references to "kickoff" on non-Governance team owned

[2022-07-01 15:58] #42814 closed

[2022-07-01 15:58] #42815 closed

[2022-07-01 15:58] ericasauv09 commented on #40788
[Samara's Sprint Plan](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/authenticated-experience/sprint-objectives/my-va/sprints-71-80.md#sprint-78-713---726)

[2022-07-01 15:59] #42586 closed

[2022-07-01 16:03] aarathi-poldass commented on #43756
Validated the issue and it's still consistent

[2022-07-01 16:09] claytonzook commented on #41122
Ready for peer review

[2022-07-01 16:10] little-oddball commented on #43414
Work is being handled in referenced ticket in previous comment.

[2022-07-01 16:14] #42250 closed

[2022-07-01 16:14] jerekshoe commented on #42507
Updated this to remove period. Latest version has been merged into main

[2022-07-01 16:15] #42507 closed

[2022-07-01 16:15] jsokohl commented on #42488
Got that—just need the editable source. Thanks.

joe
Joe Sokohl
1.804.873.6964

[2022-07-01 16:32] jerekshoe commented on #42250
This has already been merged to main. I can revert it if you would like

[2022-07-01 16:35] little-oddball opened #43775 "Sensitive RFC type document location"
There was conversation in a Team Leader meeting where Security is putting together a RFC but it contains potentially sensitive information. The concern is we don't want to put these types of items out into the public repos so wanted to raise a quick discussion on thoughts of where.

The initial thought was to have a similar path structure for these under va.gov-team-sensitive that we do in the pub

[2022-07-01 16:38] DanielleThierryUSDSVA commented on #43352
Hi @RLHecht @megzehn. I'm going to start adding pages here for copy editing.

First one (one of the ones that the team reviewed before but has more changes): http://preview-prod.vfs.va.gov/preview?nodeId=884

[2022-07-01 16:56] laineymajor commented on #43163
Meeting with analytics team:

- Focusing in on PR
- What are common issues with PRs that cause issues with the daily deploy?
*one thing within our control
*one thing that is outside of our control

1. Flaky unit tests (sometimes we need to force skip the test)
- Can we measure flaky tests by app? Cross section with part of app?
- Are there a way to measure if there are common causes to flaky tests

[2022-07-01 16:56] aarathi-poldass commented on #43756
As per the discussion with Grace, Marcy and Judy and have decided that this is not going to be a blocker for going to production but will need to get in the queue to get fixed as soon as we are in production.

[2022-07-01 17:05] RLHecht commented on #41868
Update: This product team is most likely turning the tool back on Tuesday 7/1, so we'll need to publish these changes after it's working. They'll give us the go-ahead when it's ready.

It might be the easiest to queue this up ahead of time so that all we have to do is publish when they say so.

[2022-07-01 17:12] laineymajor commented on #39205
Previous DoD:
- [ ] ~~A proof of concept repo with a minimum of 2 apps autonomously running in one branch. (MC: implementation of a workspace tooling)~~
- https://app.zenhub.com/workspaces/vsp---release-tools-fe-5fc9325744944e0015ed1861/issues/department-of-veterans-affairs/va.gov-team/40077
- [ ] A list of critical v non critical dependencies, with their deprecation status
- [ ] An execution of a

[2022-07-01 17:25] tlei123 commented on #42709
@OptionSelect , thanks much!  All fixes successfully validated in Staging EXCEPT **(3b) Debt-cards details-links still not in bold**:
![image](https://user-images.githubusercontent.com/587583/176941443-237997e4-bd3f-4fd6-a233-bbf65b272bc6.png)

@denisecoveyduc  ,  definitely _not_ a launch-blocker, but should be a real quick fix.

[2022-07-01 17:27] Samara-Strauss commented on #43750
FYI -- Christina put together [use case documentation for the confirmation modal when someone updates their home address](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/identity-personalization/profile/contact-information/address-change-messaging/use-cases). We can move these around, if needed, to live with general use case docs for all of contact information.

[2022-07-01 17:28] OptionSelect commented on #42709
Strange that the class doesn't work! I'll play around with it and get a fix in asap! @tlei123

[2022-07-01 17:37] denisecoveyduc commented on #40221
@ScottyRJames so.. sounds to me as though you have no reason to keep this one open and we can close it now?

[2022-07-01 17:52] Samara-Strauss commented on #43570
I don't have SOCKS access, unfortunately, and have not been able to get it due to not being able to install it on a GFE.

[2022-07-01 17:58] jimuhh opened #43777 "Design Intent - IA Feedback - VAOS, VA Online Scheduling, Appointment List Feature"
## VFS acceptance criteria
- [ ] Let Platform know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
-

## Feedback
- **Must** = the feedback must be applied
- **Should** = the feedback is best practice
- **Consider** = suggestions/enhancements

**Must:**

- Replace "back" link on

[2022-07-01 18:01] eunicegar opened #43778 "Offboarding of [Yu, (Boris) Ning]"
# Instructions
Fill out name of individual and *Description* section below.

# Description
Please provide the following information about the individual being offboarded:
- name:

- team name:

This team includes all members of the Department of Veterans Affairs organiza...
goldenmeanie jjulian ericboehs madebydna dcinzona cweagans acrollet infinityplusone […](https://github.com/orgs/department-of

[2022-07-01 18:02] RLHecht commented on #42250
Yes, please @jerekshoe . We have one content change we'd like you to make. Under **Step 1 of 6: Claimant information** the text should read:

As the person claiming burial benefits, you'll need to provide some information. You don't need to fill in all the fields, but we can review your application faster if you provide more information.

[2022-07-01 18:02] ScottyRJames opened #43779 "[DISCOVERY] Determine if CDP is eligible for Datadog access and next steps"
## Issue Description
We would like to setup a Datadog dashboard to track our services related to the combined debt portal (debts + medical copays). We have heard before platform was restricting datadog usage for certain products but we would like to revisit. Check with necessary contacts within platform to establish use case for Datadog and how to proceed with setting up the dashboard.

---
## Tas

[2022-07-01 18:03] rmtolmach commented on #43778
Boris already created one 😄 https://github.com/department-of-veterans-affairs/va.gov-team/issues/43736. closing.

[2022-07-01 18:03] #43778 closed

[2022-07-01 18:11] jerekshoe commented on #42250
If we make the change to the description text, is this ready to go then? If that's the case it would be easier to just make another PR to make the change instead of reverting the previous one

[2022-07-01 18:11] aliyahblackmore commented on #41868
Hi @megzehn ! This is ready for you. I removed the alert and re-added the widget using the code from above (post-9-11-gi-bill-status)!  We won't publish until next week but the draft is ready!

Preview link:
http://preview-prod.vfs.va.gov/preview?nodeId=3007

[2022-07-01 18:12] DanielleThierryUSDSVA commented on #43352
@RLHecht @megzehn Next page: http://preview-prod.vfs.va.gov/preview?nodeId=885

[2022-07-01 18:12] DanielleThierryUSDSVA commented on #43352
@RLHecht @megzehn Next page: http://preview-prod.vfs.va.gov/preview?nodeId=885

[2022-07-01 18:13] denisecoveyduc opened #43780 "Sprint 77 Priorities (Benefits 2 Team)"
## Benefits 2: Sprint 77 Priorities
(_Sprint 77: June 29 - July 12, 2022_)  (_Formerly Debt Resolution Team_)

### Sprint Goals
1.  Complete user research sessions
2.  Summarize and synthesize user research session findings
3.  Alerts – QA test cases
4.  Update icons
5.  Approved letter codes
6.  Resolve Usability Feedback
7.  Combined Debt Portal technical refinement including Debt IDs and mobile

[2022-07-01 18:20] considerable commented on #43357
@jhouse-solvd, please take a look. This is one of the comments posted to RFC about TraefikEE that mentions TRM requirement that we did not discuss much :

[2022-07-01 18:23] pavanhothi commented on #40733
@MarciMcGuire Just following up on this again. Please fill out the rest of the "Share your info with Platform" for Jessica Robertson, so they can be added to the VFS Roster. If we do not hear back, we will need to close out the ticket, and then a new ticket would need to be submitted if still necessary. Thank you!

[2022-07-01 18:29] RLHecht commented on #42250
Yeah, this is our only change so however you think it's easiest to handle is OK with me.

[2022-07-01 18:30] jerekshoe commented on #42250
@RLHecht ok great. Sorry about that, I had misread the previous comments and thought that this was good to go when I originally merged it.

[2022-07-01 18:38] jsokohl commented on #42250
Awesome! And a great edit.

Joe

[2022-07-01 18:40] MarciMcGuire commented on #40733
I've emailed Jessica and her delivery manager to get this info.

[2022-07-01 18:43] #41453 closed

[2022-07-01 18:46] rmessina1010 commented on #41454
Completed as planned.

[2022-07-01 18:47] #41454 closed

[2022-07-01 18:47] rmessina1010 commented on #41453
Completed as planned

[2022-07-01 18:50] acrollet commented on #43639
Leaving this in validate until we've tested it on a ticket or two.

[2022-07-01 18:51] rmessina1010 commented on #41474
Completed as planned.

[2022-07-01 18:51] #41474 closed

[2022-07-01 18:55] DanielleThierryUSDSVA opened #43782 "Create clear (non-tier-focused) content categories and a prioritized roadmap for migration + documentation for content that won't be migrated"

[2022-07-01 18:55] #43601 closed

[2022-07-01 18:58] vbellissimo commented on #42116
New documentation content request needs prioritization.

[2022-07-01 18:58] rmtolmach commented on #43670
/request Frances Henshall

not in confluence
✅ deleted from VFS roster
no socks or AWS
✅ removed from gh org in https://github.com/department-of-veterans-affairs/github-user-requests/issues/11466
not in pd, dd, or sentry.
not a bot user.

[2022-07-01 19:04] #42536 closed

[2022-07-01 19:04] ActualAbby commented on #42536
This now live [here](https://app.zenhub.com/workspaces/vagov-platform-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/42751)

[2022-07-01 19:07] ActualAbby commented on #42535
This lives [here](https://app.zenhub.com/workspaces/vagov-platform-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/42751) now

[2022-07-01 19:07] #42535 closed

[2022-07-01 19:07] ActualAbby commented on #42534
This lives [here](https://app.zenhub.com/workspaces/vagov-platform-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/42751) now

[2022-07-01 19:07] #42534 closed

[2022-07-01 19:08] acrollet commented on #39305
@zach-park this work is ready for review, you can use this link to set up appointments on the review environment:

http://425cbb3cd7492c33505c2703e431be67.review.vetsgov-internal/health-care/appointment-check-in/?id=7be9e746-e955-4331-bab7-230d635cf35e

Some things to note:

* the staging appointment tool has to be accessed with CAG, but the review environment links only work via SOCKS
* review en

[2022-07-01 19:15] outerpress commented on #43738
Thanks Allison! Just a couple of clarifying q's to help us work through these items:

Do you mean the status call outs on the [details pages](https://www.figma.com/file/JpGM8LGBCqAlL8qh3DmFk8/Home-Page-Redesign?node-id=523%3A36824)?

---

Which alert issues? I didn't see any in the list (or misread).

---

and,

I'm reading these two recs as "don't display canceled appts, but if you have to, make

[2022-07-01 19:18] RLHecht opened #43783 "Add content from the new draft education rates landing page into original rates landing page"
## Issue Description
We currently have a draft version of a new education rates landing page in Drupal that we started when we were building out our modernized rates pages. We need to take this content (links to all our new modernized rates pages) and move it to the original Drupal education rates landing page. We would get rid of the old intro text and links to the legacy rates pages. We are doin

[2022-07-01 19:21] tpharrison commented on #43755
@adamwhitlock1 - based on our conversation yesterday, I added a `data_source` field to the service-history response that is returned from the vets-api (see above). Hopefully this helps visibility into which calls used eMIS vs VA Profile in GA. I verified in staging.

cc/ @mdewey @SKasimow @Samara-Strauss

[2022-07-01 19:21] #43755 closed

[2022-07-01 19:21] vbellissimo opened #43784 "Test"

[2022-07-01 19:29] robbie1226 commented on #43225
Updated the points of contact to include DHPs Product Manager @zanniemill49

[2022-07-01 19:32] aagosto90 commented on #43568
@tmitchellgcio Here's the [Sketch design](https://www.sketch.com/s/9b0e6efc-423a-4354-9db3-ab2083d566c9/a/Qbqqj7G) for a user who has never received payments but has debt. We should show the section and only the debt alert.

[2022-07-01 20:03] #43784 closed

[2022-07-01 20:05] #39085 closed

[2022-07-01 20:09] ewilson-adhoc commented on #43032
The first step for this ticket is to reach out to console services team and ask what the current process is for getting access to (development?) https://github.com/department-of-veterans-affairs/va.gov-team/issues/new?assignees=ericboehs&labels=Console-Services%2C+sidekiq-access-request&template=sidekiq-admin-ui-access-request.md&title=Sidekiq+Admin+UI+Access+Request

Questions to Answers:
- Who i

[2022-07-01 20:12] mchelen-gov commented on #39085
@vbellissimo Can you help clarify where the output from this Initiative can be found? .cc @andreahewitt-odd in case you have more context

[2022-07-01 20:16] #43722 closed

[2022-07-01 20:16] #43537 closed

[2022-07-01 20:21] ewilson-adhoc commented on #43039
The first step for this ticket would be to look at what SLA we currently offer for sidekiq. A good place to start is probably this document:

https://vfs.atlassian.net/wiki/spaces/BTT/pages/2183037084/Console+Service+Team+Roles+and+Responsibilities

[2022-07-01 20:24] amizan8653-va opened #43786 "Platform Orientation Template Ali Mizan"
## Welcome and Introduction
Welcome to the Veteran's Administration (VA) Veteran Facing Services (VFS) team!
As a new VFS team member, you will be working in the web ecosystem we call the VA.gov Platform (or "**The Platform,**" for short).  The tasks on this list are designed to get you up to speed on the role of Platform, making it easier for you to do your job.

Because the VA is a huge organiza

[2022-07-01 20:28] it-harrison commented on #43253
[Draft PR](https://github.com/department-of-veterans-affairs/veteran-facing-services-tools/pull/846) created; ready to be merged/published once yarn workspaces enter production on vets-website.

[2022-07-01 20:31] acrollet commented on #43176
VFS platform support slack thread here: https://dsva.slack.com/archives/CBU0KDSB1/p1656707060469079

[2022-07-01 20:43] acrollet commented on #43176
I will sync with @briandeconinck next Thursday to demo and discuss.

[2022-07-01 20:45] ajakabcin commented on #43629
Confirmed updated designs in this sketch file. Thanks @aagosto90 !

[2022-07-01 20:45] #43629 closed

[2022-07-01 20:46] amygoldman commented on #33450
Update 7/1:

- Response from Rachal Cassity: We are waiting for [vfs-backend](https://dsva.slack.com/archives/CTXGRFUNN/p1654261295371459) and [vfs-all-teams](https://dsva.slack.com/archives/CE4304QPK/p1654261269996359) to approve this document as well.

[2022-07-01 20:47] benbrasso-agile6 commented on #41393
https://app.mural.co/t/agilesixapplications0942/m/agilesixapplications0942/1656596645401/9bd88630ea05258119a5fa523233b1979a996531?sender=u83bc52d7fa73658f84f27755

[2022-07-01 20:50] kristenmcconnell commented on #42935
@benbrasso-agile6 [Here are actually four different user flows for review](https://www.sketch.com/s/42a478e7-cb38-49e5-9500-9b21182873da). 1 through 3 are shortened travel workflows directly connected to check-in. The differences are the transitions from check-in to travel. I have an opinion on which one might work best (if we want to narrow down our proposal), but I wanted to get your feedback.

[2022-07-01 20:53] kristenmcconnell commented on #41435
Shawn Adams made an initial contact at Corpus Christi for us. Details in [this Slack thread](https://dsva.slack.com/archives/C02GXKL8WM6/p1656611646343989).

[2022-07-01 20:54] zanniemill49 opened #43787 "Midpoint Review [Digital Health Platform, MVP]"
# NOTE
This template is being deprecated. If your kickoff meeting took place after May 26, 2022, you should be following the guidance specified in the Collaboration Cycle Rquest per the [May 26, 2022 change history post](https://depo-platform-documentation.scrollhelp.site/collaboration-cycle/Change-history.1846870032.html) instead. If you are unsure if this applies to you, please reach out to the

[2022-07-01 20:55] claytonzook commented on #43421
Ready for peer review @allison0034

Note: I did a quick look at some other links on this Welcome page and found found a couple that lead to deprecated GH pages which then link back to an appropriate PW page. It's out of scope for this ticket, but since there were a couple clear, easy wins, I replaced a couple GH links I found with the PW links that were applicable replacements while I'm working on

[2022-07-01 21:02] jjulian commented on #43775
Should we revisit the decision to make the RFC repo Public vs Internal? I wonder if there is more risk than reward with that repo being public.

[2022-07-01 21:07] aliyahblackmore commented on #43329
Hi @megzehn this is ready for you/saved as a draft!
Preview link: http://preview-prod.vfs.va.gov/preview?nodeId=19578

[2022-07-01 21:12] kristenmcconnell commented on #42935
Beginning of the [user flow presentation,](https://docs.google.com/presentation/d/1V1y0JiqRv_wWMqQvmBi4GiMJ0UBwapJknZBpdSI6oAs/edit?usp=sharing) which we will use for discussions with Stephen and Patrick. I will continue to work on this presentation on Tuesday and ask for a review then.

[2022-07-01 21:15] acrollet commented on #43567
Submitted form 7/1

[2022-07-01 21:33] briandeconinck opened #43788 "Design Intent - Accessibility Feedback - [VAOS, VA Online Scheduling, Appointment List Feature]"
## VFS acceptance criteria
- [ ] Let Platform know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
- I appreciated the explanation for why you're moving away from the card approach. I know there's some design feedback related to this, but from an accessibility standpoint I want t

[2022-07-01 21:37] #43680 closed

[2022-07-01 21:37] davidakennedy opened #43789 "Accessibility spot check review for redesigned VA.gov home page"
## Definition of done
### What must be true in order for you to consider this epic complete?

*Take into consideration Accessibility/QA needs as well as Product, Technical, and Design requirements.*

[ ] Accessibility tickets associated with this epic should be closed.

## How to configure this issue
- [x] **Labeled with Team** (`product support`, `analytics-insights`, `operations`, `Console-Servi

[2022-07-01 21:44] randomsync commented on #43567
submitted 7/1

[2022-07-01 21:47] ewilson-adhoc commented on #42443
Returning back to this bug, I tried a workaround which involved storing the session externally (in redid). This did not resolve the problem as expected, so I decided to look back at the different requests the system was making to see if I could spot any problems.

This is what I discovered:

- Navigate to localhost (local instance of application hooked up to keycloak)
Everything behaves as expecte

[2022-07-01 21:53] ddzz opened #43790 "Upgrade Cypress to v10"
This task is to upgrade Cypress to the latest version, which includes multiple configuration changes that need to be addressed.

[2022-07-01 22:15] laurwill commented on #41493
Thanks Danielle! I sent the updated page to Tarsha for review. And thanks for flagging that related R&S content — I don't _think_ these updates will trigger any substantial changes to those, but I'll make sure to assess again when we have final content.

Here's the clean version of the Word doc for reference:
[Get a VHIC_for SME.docx](https://github.com/department-of-veterans-affairs/va.gov-team/f

[2022-07-01 22:42] outerpress commented on #43788
Thank you Brian! I've been talking to Angela about some of these issues, and will bring you and the other A11Y experts you mentioned together as we proceed.

Everything here makes sense, just a couple of notes to clarify:

There is a well-known difference between the appointment information that is useful to Veterans, and the data we have access to. This is covered most recently in the concept stu

[2022-07-01 23:11] DanielleThierryUSDSVA commented on #41493
Thank you so much, @laurwill! Have a great holiday weekend!

[2022-07-01 23:32] ldelacosta commented on #43756
Added to the backlog. Not a priority before vaos-v2 launch. We will review the work once we have a launch date.

[2022-07-01 23:34] ldelacosta commented on #41390
@aarathi-poldass If you're good with this ticket, please close it out. As per my comment, we added the type of care but cannot be validated with data since HSRM is not sending back `serviceType`. In the event it does, FE will display the data and label on the appointment details page.

cc: @simiadebowale

[2022-07-01 23:36] ldelacosta commented on #39812
Moving this ticket back to blocked since SQA found an issue. The working ticket is #39950

[2022-07-01 23:37] ldelacosta commented on #39950
@beth-wodzinski @marcynadeau - Please add the document you shared to us on Thursday so our team can review and see what's the issue. Thanks!

cc: @simiadebowale @JRRoof @vbahinwillit

[2022-07-01 23:43] ldelacosta commented on #42146
Validated the changes in staging:

![Screen Shot 2022-07-01 at 7.40.40 PM.png](https://images.zenhubusercontent.com/615208f37e69549d6e01d915/68a5bd54-a66f-47a5-98b4-1782027325c6)

![Screen Shot 2022-07-01 at 7.41.36 PM.png](https://images.zenhubusercontent.com/615208f37e69549d6e01d915/5d39e60d-7c67-4a1b-8053-bb87e5f77805)

![Screen Shot 2022-07-01 at 7.42.03 PM.png](https://images.zenhubuserconten

[2022-07-01 23:43] #42146 closed

[2022-07-02 00:09] chloedotbrown commented on #43199
@michelle-dooley @jonathan-epstein13 @pavanhothi

Draft of the [BigQuery QA doc](https://vfs.atlassian.net/wiki/spaces/AT/pages/2215870977/How+to+QA+data+in+BigQuery) is ready for your review. Let me know your thoughts!

[2022-07-02 02:06] tlei123 commented on #42709
Clsoing now.  Fix for remaining anomaly (3b) now successfully validated in Staging.

[2022-07-02 02:06] #42709 closed

[2022-07-02 03:54] ldelacosta opened #43791 "VAOS Team Test"
### **[Note:]** _Delete below if this template will be a Feature_

**Objective:** _Enter the details_

_List out the initiatives and planned release date for tracking purposes_
| Initiative | Release Date | Status |
| ------- | ---------- | ----- |
| Initiative [Link to feature epic]() | Month Year  |   |
| Initiative [Link to feature epic]() | Month Year  |   |
| Initiative [Link to feature epic]

[2022-07-03 13:34] DanielleThierryUSDSVA opened #43792 "Audit remaining VA content for migration prioritization"
## Story

As the VA.gov sitewide crew and VA partners, we need to create a roadmap for migration of legacy content to the Drupal CMS. To do that, we need to first better understand the landscape of legacy content.

## What's needed

We'll conduct a high-level audit of legacy content based on these categories:

- Total page views for 1 year
- Total urls within the main URL (estimated)
- Current org

[2022-07-03 13:40] DanielleThierryUSDSVA opened #43793 "Legacy content migration: Phase 2"
## Product Outline
[Link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/product-management/product-outline-template.md)

## High Level User Story/ies
As a _____, I need _____ so I can _____.

## Hypothesis or Bet
**If** _we make this change_ **then** _we expect this to happen_.

## OKR
_Which Objective / Key Result does this epic push forward?_

## Definition o

[2022-07-03 13:53] DanielleThierryUSDSVA commented on #9356
Content strategy and IA are integrated now. Closing.

[2022-07-03 13:57] DanielleThierryUSDSVA commented on #24156
This is complete and the page is live at https://www.va.gov/resources/how-to-file-a-va-travel-reimbursement-claim-online/. Closing.

[2022-07-03 13:57] #24156 closed

[2022-07-04 15:26] DanielleThierryUSDSVA opened #43794 "Migrate Board of Veterans Appeals Veteran-facing legacy content and onboard BVA authors into Resources and Support"
## Story

As a Veteran, I need a single-source-of truth for all appeal and decision review content that's easy to find, understand, and act on.

As VA, we need a single-source-of truth for all appeal and decision review content that the VA.gov content team and BVA team can collaborate on together to so that we can deliver consistent, accurate, plain language content to Veterans across channels.

#

[2022-07-04 15:52] DanielleThierryUSDSVA opened #43796 "Audit legacy BVA content to prepare for migration"
## Story

As a VA.gov or BVA team member, I need to understand the legacy content to be able to discuss and make informed decisions about content migration.

## What's needed

- [x] Create content audit template for BVA site (Danielle)
- [x] Pull Google Analytics report for a year of data on BVA site (Danielle)
- [x] Pull SEMRush report for BVA site (Danielle)
- [x] Add page titles and URLs to aud

[2022-07-05 10:55] #41320 closed

[2022-07-05 10:55] andaleliz commented on #41320
OCTO is going to share the suggested email content we created. At this time we're not moving forward with updates to the content in Medallia.

[2022-07-05 12:22] tameracorson opened #43797 "Submit ticket for VA508 office screen read of 1095-B flat 6.30.2022"
- [x] Submit ticket to screen read 1095-B flat dtd 6.30.22 to VA 508 office
- [ ] f/u on ticket until resolved
- [ ] Report findings in VA slack channel

[2022-07-05 12:23] allison0034 commented on #43421
@claytonzook can you link the pages in your comment above? Also, I am still getting a 404 for the [here are the best practices for writing URLs](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/information-architecture/url-guidelines.md). My assumption is your changes have not been pushed to PW since those are only done on T/TH around noon.

[2022-07-05 12:24] MarciMcGuire commented on #40733
@bryan-riley-va can you add the missing information at the top of this request so Jessica can be granted proper access to GitHub?  Thanks!

[2022-07-05 12:24] tameracorson opened #43798 "Accessibility"

[2022-07-05 12:43] little-oddball commented on #43775
Thinking about the potential of RFCs that are more sensitive in nature... definitely makes sense to revisit that option as well.

[2022-07-05 12:44] tameracorson opened #43801 "Call center review opt-in"

[2022-07-05 12:46] tameracorson commented on #43650
![image.png](https://images.zenhubusercontent.com/61856bab21cd5965714d703d/a87bb1da-761e-45c6-9086-a42584890bb1)

[2022-07-05 12:54] little-oddball opened #43802 "Define DevOps "Happy Path""
There is some grey area for what DevOps resources on other teams are allowed or not allowed to do and what the expectations around that might be. Additionally, there are challenges with teams that do not have DevOps resources but need assistance and/or those teams, such as Security, that require separation of concerns for DevOps tasks. Due to these items, there is a need to put together a definiti

[2022-07-05 12:59] tameracorson commented on #43797
Ticket # RITM 7165286 submitted 6/30/2022![image.png](https://images.zenhubusercontent.com/61856bab21cd5965714d703d/79f40d6b-95f8-4c40-8e73-c58625aeb3f6)

[2022-07-05 12:59] tameracorson commented on #43797
[https://app.zenhub.com/files/133843125/5c2adf2c-479e-4962-af75-2bcbb66e0c87/download](https://app.zenhub.com/files/133843125/5c2adf2c-479e-4962-af75-2bcbb66e0c87/download)

[2022-07-05 13:00] djfredvs opened #43803 "08/01/22 1 PM Pre-Check-in VEText Configuration - VISN 4"
In anticipation of the VISN 4 PCI tool roll out. I am setting up time to walk through the Pre-Check-in configuration process with VEText admins for each site in VISN 4.

[2022-07-05 13:20] #43146 closed

[2022-07-05 13:21] claytonzook commented on #43421
@allison0034  - those other links that I changed below. And yeah, on second thought probably not 100% ready for peer review until the publish today.

2. [Last link under Engineering](https://depo-platform-documentation.scrollhelp.site/getting-started/welcome#Welcome-Engineering) > "Here's what to expect, and how to request a code review"
3. [The link under Analytics and Insights](https://depo-plat

[2022-07-05 13:25] little-oddball opened #43804 "Setup DevOps monthly CoP"
In the Platform Leadership meeting there was discussion around DevOps and some opportunities to improve the connective tissue for the DevOps engineers that are embedded into teams with the Infrastructure team. A suggestion that was made was to setup a CoP type meeting where the DevOps resource types can have discussions and share information/thoughts.

The goal of this ticket is to work w/ Jesse H

[2022-07-05 13:47] benbrasso-agile6 commented on #42935
I guess we'd have to solve for that same scenario within check in. Although, if someone submits multiple claims, maybe the clerks just only reimburse for one. So, maybe it doesn't need to get accounted for in the ux. Thinking aloud..

[2022-07-05 13:58] #43567 closed

[2022-07-05 14:00] loripusey opened #43805 "[Design] Create Prototype to Test New Language Toggle & Wireframes for Spanish Content"
## Tasks
- [ ] Create prototype for toggle
- [x] Prepare screenshots for translation content testing (use the link Lori provided)
- [ ] Decide: Should a content and accessibility review be part of this ticket or separate tickets due to scope?

## Acceptance Criteria
- [ ] UI review meeting with product/UX team for feature capabilities

[2022-07-05 14:07] kristenmcconnell commented on #42935
@benbrasso-agile6 Option 4 is 18F's proposal. Check-in and travel are separate. Travel happens after an appointment when a separate SMS is sent.

Good point about only filing once per day. Take a look at the changes that I just made to Option 4. It now shows all the appointments for the day in one box. I also removed the contact information step in Option 4.

Thanks for the assessment. I agree abo

[2022-07-05 14:11] andreahewitt-odd opened #43806 "TASK: Conduct Go/no-go for Platform Website Intake process"
AC:
- [x] [Schedule go/no-go](https://vfs.atlassian.net/wiki/spaces/AP/pages/1951858742/Office+Hours+Agendas+and+Notes)
- [x] Conduct go/no-go
- [x] Document feedback from Go/no-go
- [x] Put in any tickets that come out of the go/no-go

[2022-07-05 14:13] andreahewitt-odd opened #43807 "TASK: Work though lauch checklist"
AC:
- [ ] Decide what tasks have been done
- [ ] Decide what tasks need to be done still (put in tickets for those)
- [ ] Decide what tasks you don't think are relevent for this work

[2022-07-05 14:15] #43422 closed

[2022-07-05 14:15] rmtolmach commented on #43454
@markfallows is Dené staying on a platform/vfs team or can we offboard her?

[2022-07-05 14:16] megzehn commented on #41868
Thanks, @aliyahblackmore!

@RLHecht, I reviewed and published this per your request. It's ready for you to verify.

https://www.va.gov/education/gi-bill/post-9-11/ch-33-benefit/

[2022-07-05 14:18] hdjustice commented on #43454
Hi @rmtolmach - Dene' will be offboarding the VA contract totally, her last day is tomorrow when we will be wrapping up her work and knowledge shares.

[2022-07-05 14:19] michelle-dooley commented on #42688
We have completed discovery.  @pavanhothi to work on mock up based on these findings and we will meet with Debt Portal team to go over.

[2022-07-05 14:19] #42688 closed

[2022-07-05 14:25] Dr-Pongo opened #43808 "[mDot] Cypress tests failing"
## Issue Description
[mDot Cypress test](https://github.com/department-of-veterans-affairs/vets-website/blob/main/src/applications/disability-benefits/2346/tests/mdot.cypress.spec.js) is failing (out of the blue), and has been skipped until the issue has been resolved.

[Skipped test](https://github.com/department-of-veterans-affairs/vets-website/pull/21542)

It looks like the issue is that the mo

[2022-07-05 14:26] #8340 closed

[2022-07-05 14:28] andreahewitt-odd opened #43809 "DUPLICATE - Review changes Susanna made to Console Content based on Feedback"
Here are the 5 pages: https://vfs.atlassian.net/wiki/spaces/CIT/pages/2193064130/5+page+review+project

AC:

- [ ] Review page edits
- [ ] Provide additional feedback as necessary

[2022-07-05 14:33] andreahewitt-odd opened #43811 "Discovery workshop: Potential Content Strategy Solutions"
AC:
- [x] Workshop preparation; activities to do while brainstorming

Examples:
User stories, future-state journey map, support process ideas, how/now/wow, etc.

Resources:
https://app.mural.co/t/adhoccorporateworkspace2583/m/adhoccorporateworkspace2583/1643314398670/6738b8dde059cba827baad32db6d87abf4204dc9

- [x] Schedule a brain storm session to identify different levels of involvement for the c

[2022-07-05 14:36] mdewey commented on #23312
Update: New logging is in place, but its showing an empty response from the API (http://sentry.vfs.va.gov/organizations/vsp/issues/116414/?environment=production&project=4&query=is%3Aunresolved+url%3Ahttps%3A%2F%2Fwww.va.gov%2Fprofile%2Fdirect-deposit&statsPeriod=14d) Which is extremely odd.

I am tweaking the logging even more to get a better look

[2022-07-05 14:39] girldadmk commented on #43711
@kylesoskin can you link the Confluence page to this ticket?

[2022-07-05 14:39] michelle-dooley opened #43812 "Debt Portal Edge Case - Design"
## Issue Description
This ticket is to track the design work to be completed as part of the [Debt Portal Edge Case request](https://github.com/department-of-veterans-affairs/va.gov-team/issues/42360) based on the findings from the [discovery ticket](https://github.com/department-of-veterans-affairs/va.gov-team/issues/42688)

---
## Tasks
- [ ] Create mock up for dashboard based on findings from di

[2022-07-05 14:40] girldadmk commented on #43712
@kylesoskin can you link Confluence docs and move to review?

[2022-07-05 14:42] girldadmk commented on #42257
@kjduensing can you follow up with diagrams?

[2022-07-05 14:43] #42179 closed

[2022-07-05 14:44] andreahewitt-odd opened #43813 "Write product outline for console content strategy"
Since this is a new product (or service) the team is going to own, we need a [product outline](https://vfs.atlassian.net/wiki/spaces/PMCP/pages/1924628490/Product+Outline+Template) for it stored in confluence

- [x] Write the product outline
- [x] Present to the team to get feedback
- [x] Present to PO to get feedback
- [x] Edit product outline based on PO feedback and brainstorming sessions

Prod

[2022-07-05 14:46] girldadmk commented on #41012
Moving to Icebox until Sidekiq UI is ready for production.

[2022-07-05 14:46] andreahewitt-odd opened #43814 "Define KPIs and how to measure them for Content Strategy for Console"
Once we've landed on a content strategy for console, we need to define the KPIs, how we will measure those and how we will use the results to make product decisions.

- [x] Schedule team discussion to define KPIs
- [x] Figure out how to measure them
- [x] Define how you'll use those to make product decisions; why these metrics are important

Mural notes: https://app.mural.co/invitation/mural/adhoc

[2022-07-05 14:47] amizan8653-va opened #43815 "SOCKS access for Ali Mizan"
### Your Name

Ali Mizan

### Your Email

mizan_ali@bah.com

### Your Role and Team

Backend Engineer on Letters Generator

### Product Manager (PM) name and email

Nicole Harris, Harris_Nicole@bah.com

### Product Owner (PO) name and email

Premal Shah, premal.shah@va.gov

### Access Type Requesting

developers

### Public SSH Key

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDLBt7SKCmdIPDi8ZYTN5ju+pTe+

[2022-07-05 14:50] girldadmk commented on #42192
@iriteshp is this blocked by our ticket to get access to self hosted runners?

[2022-07-05 14:54] andreahewitt-odd opened #43816 "Schedule discovery session to identify Platform Content team's KPIs"
Lead a discovery workshop to brainstorm KPIs the team can use to identify the success and failures of this team to decide where the team needs to iterate next

Acceptance criteria:
- [x] Schedule the brainstorming meeting for our team
- [x] KPIs/Health Metrics for the Platform Content Team have been identified

[2022-07-05 14:55] #43723 closed

[2022-07-05 14:57] andreahewitt-odd opened #43817 "Discuss Platform Content team's health metrics with leadership"
AC:

- [x] KPIs/health metrics for the Platform Content team have been validated with the team's PO; Met with Mike Chelen on 7/27
- [x] Create any new tasks based on feedback form product owner

PO notes found here: https://vfs.atlassian.net/wiki/spaces/CIT/pages/2085093522/Content+Mike+Chelen+running+notes
KPI notes found here: https://vfs.atlassian.net/wiki/spaces/CIT/pages/2284584976/2022+Q3+He

[2022-07-05 14:59] michelle-dooley commented on #43199
@chloedotbrown I think this looks great!!  Obviously we can add to as needed,  This will be a big help for a new data engineer.  @pavanhothi and @jonathan-epstein13 - any feedback?  If not I think we are good to close this ticket.

[2022-07-05 15:00] iriteshp commented on #42192
@girldadmk yes, we are waiting on runners for this.

[2022-07-05 15:01] JoeTice commented on #41708
Last usability session was conducted on 7/1 - feedback is being distilled today and will be updated tomorrow

[2022-07-05 15:04] beth-wodzinski commented on #39950
Here's the document; the underlying data may well have changed since Thursday. If this doesn't make sense, reach out to me on slack and I can work with someone to reproduce and demonstrate the issues.
[JacobTestData.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/9047427/JacobTestData.docx)

[2022-07-05 15:09] #41868 closed

[2022-07-05 15:15] adamwhitlock1 commented on #43206
@Samara-Strauss I have a PR in to update these facilities. As I went through and cross checked the various facility numbers with the existing list, I did find one that is _currently_ in the list, but was not in the newest spreadsheet. Should this facility be removed?

The Facility in question is `'608', // Manchester VA Medical Center (Manchester, NH)`

[2022-07-05 15:17] lindsay-insco commented on #40929
Awaiting clarification on station issue

[2022-07-05 15:18] allison0034 commented on #43126
@shiragoodman @chaseakirby after reviewing the [current resources page,](https://depo-platform-documentation.scrollhelp.site/collaboration-cycle/resources) I do not think we want to replace the link under meetings and office hours in google. That is still the same, it allows users to view office hours and touchpoints.

Instead I added a link under the scheduling calendars in Calendly.

Let me know

[2022-07-05 15:22] mmiddaugh commented on #43792
@DanielleThierryUSDSVA Is the accessibility sheet available in this folder?

[2022-07-05 15:23] djfredvs opened #43818 "07/13/22 VEText Open Office Hour"
Agenda
What is the agenda for office hours?
The annual VEText user audit and admin training
Pre-Check-In Review
VEText Newsletter

Acceptance Criteria
[X] Agenda created and finalized
[] Email drafted
[X] Email sent
[X] PowerPoint created
[X] Office Hours Conducted
** Before closing out, list number of attendees and link to the recorded meeting.
Attendance 95

[2022-07-05 15:25] shiragoodman commented on #43126
@allison0034 i am supportive of you not removing the link under meetings and office hours in google. I agree that should stay.

This is out of scope slightly, but can you remove "in Calendly" from "Scheduling Calendars in Calendly"? I don't think the last 2 words are necessary. We'll remove the links to DI/MPR and Staging in another ticket.

[2022-07-05 15:25] PJart commented on #43560
Added in ability to download csv and steps to add it to the institution and payload, added some tests, noticed some security vulnerabilities with some gems in the gemfile. Before I can get this merged in and moved over to staging to test, I need to get the gemfile changes to compile and get the ci to pass.

[2022-07-05 15:26] shiragoodman commented on #43126
Could you review the "Contact Us" page? I think there may be an opportunity to link the Platform Office Hours link on that page too.

[2022-07-05 15:27] PJart commented on #43560
Working on getting gemfile to compile, rake ci showed some gems that needed to be updated, said rails update. In process of getting that working so I can move this to staging to test.

[2022-07-05 15:28] shiragoodman commented on #43787
hey @zanniemill49 ! Be sure to follow the instructions in the Scheduling section above, and then post in #vfs-platform-support when scheduled. Lmk if you have any questions.

[2022-07-05 15:29] #43694 closed

[2022-07-05 15:29] tameracorson commented on #43797
![image.png](https://images.zenhubusercontent.com/61856bab21cd5965714d703d/83630327-421c-4872-8600-85441f5dc532)

[2022-07-05 15:30] shiragoodman commented on #43264
Sarah has been removed from Sprint Creation meeting. I will follow through on the remaining actions. Thanks!

[2022-07-05 15:33] chloedotbrown commented on #42627
Hey @shiragoodman - wanted to follow up! Can you send a quick description of the Github data your team would like filtered and I can update the Domo connector so we can close this ticket out? Thanks so much!

[2022-07-05 15:34] jimuhh commented on #39779
Here's [a draft revised navigation based on the card sort results](https://docs.google.com/spreadsheets/d/1NwzEZLDbsRnM9lbBxn_jiftwn5XkvzCu69VNC8au7Uk/edit?usp=sharing). I'd like to tree test it to make sure it's good enough.

[2022-07-05 15:38] jimuhh commented on #39779
Some of the nav items:

- Best practice: Focus management
- Best practice: Accessible links
- Best practice: Buttons vs Links

Seem out of place in this nav schema. Any chance we can relocate them?

[2022-07-05 15:43] allison0034 commented on #43126
@shiragoodman yes! What do you think of this [contact us page](https://vfs.atlassian.net/wiki/spaces/PWD/pages/2255847425/Copy+of+Contact+us+43126)?

[2022-07-05 15:47] pavanhothi commented on #43199
@chloedotbrown this looks great to me as well! Very detailed and descriptive, and easy to follow and understand. Nice work!

[2022-07-05 15:48] DanielleThierryUSDSVA commented on #43792
@mmiddaugh It is now! Added to the VBA folder.

[2022-07-05 15:50] #43717 closed

[2022-07-05 15:50] calquisola commented on #43717
PR was approved by infra team. Dashboard for staging is created.
Closing ticket.

[2022-07-05 15:53] davidakennedy opened #43819 "[SCREENREADER]: No h1 heading on page"

[2022-07-05 15:54] seanasewell commented on #43738
@outerpress

Yes, since they are calling out a status, alert styling is not necessary. They look to similar to our [alerts](https://design.va.gov/components/alert) which might confuse users.

See comment above

Correct. Displaying tags rec was in thoughts/considerations. If your testing indicates that the tags are helpful to users, just make sure that they are designed in parallel to what is in [s

[2022-07-05 15:58] mdewey commented on #43019
First draft: https://github.com/department-of-veterans-affairs/va.gov-team/pull/43820/files

@SKasimow and @Samara-Strauss  Let me know what you think!

[2022-07-05 16:00] shiragoodman commented on #43126
Have a question for one of our practice area specialists? Come to our weekly Office Hours listed in the [platform office hours calendar.](https://calendar.google.com/calendar/embed?src=c_7iurst2mk3hdhfuto5u7lemgbk%40group.calendar.google.com&ctz=America%2FNew_York)

Is this link supposed to go to the Calendly Platform Office hours link?

[2022-07-05 16:04] tameracorson opened #43821 "1095-B engineering diagram "How it works""
- [x] create document with 1095-B elements for accessible MVP and post-MVP opt-in components
- [x] annotate known and unknown interactions require for collaborative build
- [x] socialize with VA Profile BE/FE and VA notify
- [x] capture insights and feedback
- [x] iterate document for discussion with VA-PO

[2022-07-05 16:05] michelle-dooley commented on #31789
This work will continue in Q3 with ticket #4737

[2022-07-05 16:07] BevCaddy opened #43822 "robert.berry"
## Welcome and Introduction
Welcome to the Veteran's Administration (VA) Veteran Facing Services (VFS) team!
As a new VFS team member, you will be working in the web ecosystem we call the VA.gov Platform (or "**The Platform,**" for short).  The tasks on this list are designed to get you up to speed on the role of Platform, making it easier for you to do your job.

Because the VA is a huge organiza

[2022-07-05 16:09] TiffanyPender opened #43823 "[AXE-CORE]: Change some H2s to H3s"

[2022-07-05 16:11] tameracorson opened #43825 "Draft research plan #2 - moderated IA tree test H1"
- [x] Determine which hypothesis to perform moderating testing of trees with
- [x] Draft research plan - moderated research of IA trees
- [ ] Determine recruitment plan for moderated research
- [x] Socialize research plan with VA-PO and VA business partners

[2022-07-05 16:11] tameracorson opened #43826 "Draft conversation guide for research plan #2 - moderated IA tree test H1"
- [x] Discovery for moderated testing of IA trees
- [x] Review moderated research plan
- [x] Draft - conversation guide for research IAW guidance for VA moderate research
- [x] Socialize draft conversation guide with VA-PO and business partners for feedback

[2022-07-05 16:12] briandeconinck commented on #43302
@denisecoveyduc When I follow the [staging URL](https://www.staging.va.gov/manage-debt-and-bills/summary) provided in this ticket, I get a "Sorry -- we can't find that page." Did the staging URL change?

[2022-07-05 16:14] katherine-fung commented on #28037
New proposed text that I want to run by Angela again:

Change direct deposit info

1. Screenshot of a sign-in form with three account options for signing in
2. Screenshot of a sign-in form with two ways to get your authentication code
3. Screenshot of a sign-in form with a field to enter your authentication code
4. Screenshot of a drop-down menu with a link for "Profile"
5. Screenshot of a navigat

[2022-07-05 16:17] BevCaddy opened #43827 "Platform Orientation Template [robert berry]"
## Welcome and Introduction
Welcome to the Veteran's Administration (VA) Veteran Facing Services (VFS) team!
As a new VFS team member, you will be working in the web ecosystem we call the VA.gov Platform (or "**The Platform,**" for short).  The tasks on this list are designed to get you up to speed on the role of Platform, making it easier for you to do your job.

Because the VA is a huge organiza

[2022-07-05 16:18] twoangstroms commented on #43526
@steel36 Could you add a link to the "checklist" above in the ticket, please?

[2022-07-05 16:18] #43827 closed

[2022-07-05 16:18] little-oddball opened #43828 "Define location for sensitive RFC type documents"
The Platform Security team was working on an RFC which contains some information that could potentially be less than ideal for general public consumption. Currently, the RFC/ADR process does not take that into account and all RFCs are public.

The intent of this ticket is to bring to light and have conversation on approach and guidance to best support this use case.

**Acceptance Criteria**
- [ ]

[2022-07-05 16:18] Dr-Pongo commented on #43302
@briandeconinck , you need to be authenticated to hit that URL. We will eventually be going live on `/manage-va-debt` and taking the place of the existing debt portal.

CC: @denisecoveyduc

[2022-07-05 16:19] hdjustice commented on #42322
@nicko-amida - added you to this ticket in regards to the recent conversation with CG team and their desire to have the submission page content updated.  Slack info from Patrick below:

<details>

<Summary>Slack info from Patrick</Summary>

**Patrick Bateman**
i think we all agreed that differential messaging based on whether the submission is in CARMA, mulesoft, or vets-api doesn't make sense. so

[2022-07-05 16:20] calquisola commented on #42716
this was on hold last week due to datadog migration.

[2022-07-05 16:21] BevCaddy opened #43829 "Platform Orientation Template [Robert Berry 41651]"
## Welcome and Introduction
Welcome to the Veteran's Administration (VA) Veteran Facing Services (VFS) team!
As a new VFS team member, you will be working in the web ecosystem we call the VA.gov Platform (or "**The Platform,**" for short).  The tasks on this list are designed to get you up to speed on the role of Platform, making it easier for you to do your job.

Because the VA is a huge organiza

[2022-07-05 16:21] calquisola commented on #40678
still in progress. this was on hold due to datadog migration.

[2022-07-05 16:21] briandeconinck commented on #43302
Ah, thank you @Dr-Pongo! Authenticate, then visit the staging URL, everything working as expected.

[2022-07-05 16:25] djfredvs opened #43830 "07/12/22 2:30 PM VEText Admin Training"
Booked by May Liang, Kelly Fuetterer, Dorian Tapia, Vanessa R Sisson & JW Battle Jr

[2022-07-05 16:25] MarciMcGuire opened #43831 "[EPIC] MyHealth - Medical Records"
This epic contains the user stories related to migrating the MyHealth product from MyHealtheVet to VA.gov

[2022-07-05 16:28] djfredvs opened #43832 "07/27/22 11:30 AM VEText Admin Training"
Booked by Lisa Fernandez, Tanya Hall

[2022-07-05 16:28] little-oddball commented on #43828
This is a duplicate of this issue:

https://github.com/department-of-veterans-affairs/va.gov-team/issues/43775

So work will be handled and tracked there.

[2022-07-05 16:28] #43828 closed

[2022-07-05 16:30] #43831 closed

[2022-07-05 16:31] twoangstroms commented on #43526
I now see a link in h2 or h3 "reference checklist" with the last word being a link, but that link just reloads the ZenHub ticket? Blaming the tool here.

[2022-07-05 16:31] djfredvs opened #43833 "07/07/22 9:30 AM VEText Community Care Training"
Booked by Fancine Spinella

[2022-07-05 16:34] MarciMcGuire opened #43834 "[REQUIREMENTS] MyHealth - gather medical records requirements"
Overview: Meet with business, designer, and dev to get background information for Medical Records

Acceptance Criteria:  Medical Records business owner, designer(s) and developer(s) have been intereviewed and notes gathered on medical records functional requirements.

[2022-07-05 16:35] djfredvs opened #43835 "07/25/22 11:30 AM VEText Admin Training"
Booked by Elaine Knight, Tracie Duncan, Jacquelyn Comfort, Erica Yorker, Connie Kraly, Deeana Roldan

[2022-07-05 16:35] BevCaddy opened #43836 "Platform Orientation Template [Your name here]"
## Welcome and Introduction
Welcome to the Veteran's Administration (VA) Veteran Facing Services (VFS) team!
As a new VFS team member, you will be working in the web ecosystem we call the VA.gov Platform (or "**The Platform,**" for short).  The tasks on this list are designed to get you up to speed on the role of Platform, making it easier for you to do your job.

Because the VA is a huge organiza

[2022-07-05 16:37] #41897 closed

[2022-07-05 16:37] #41905 closed

[2022-07-05 16:37] #41178 closed

[2022-07-05 16:37] #41182 closed

[2022-07-05 16:37] #41179 closed

[2022-07-05 16:37] #41181 closed

[2022-07-05 16:39] MarciMcGuire opened #43837 "[RESEARCH] MyHealth - Secure Messaging usability testing"
Conduct usability tests with Secure Messaging prototype

[2022-07-05 16:39] mchelen-gov commented on #43239
nope sadly not per https://api.slack.com/messaging/webhooks#create_a_webhook

and

[2022-07-05 16:40] sortizsh commented on #43272
duplicate of https://github.com/department-of-veterans-affairs/va.gov-team/issues/43271

[2022-07-05 16:40] #43272 closed

[2022-07-05 16:41] MarciMcGuire opened #43838 "[DESIGN] MyHealth - Annotate mockups for MHV engineers"
Annotate mockups for MHV engineers

[2022-07-05 16:42] steel36 commented on #43526
Ugh.  There, now we should have both the stripped template and the "inspiration"

[2022-07-05 16:45] Dr-Pongo opened #43839 "[mDot] Update Cypress tests to use dynamic dates"
## Issue Description
mDot Cypress tests are using fixed dates for the supply `lastOrderDate`, `nextAvailabilityDate`, and `prescribedDate` variables. Since we're using the platform provided `testForm` and packaging up the data with `createTestConfig`, it's difficult to put in dynamic dates for the `dataSets`. Investigate to see if we can feed dynamic dates (something within the valid date range) t

[2022-07-05 16:45] MarciMcGuire opened #43840 "[BACKEND] MyHealth - Discovery on Cerner endpoints"
Overview: Review Cerner API documentation to determine what data is returned in the response and if everything we are proposing to include is supported.

[2022-07-05 16:45] #36117 closed

[2022-07-05 16:47] #39694 closed

[2022-07-05 16:47] Dr-Pongo commented on #43808
Created a[ tech debt ticket ](https://app.zenhub.com/workspaces/vsa---debt-607736a6c8b7e2001084e3ab/issues/department-of-veterans-affairs/va.gov-team/43839)to find a permanent fix when the team has more bandwidth.

[2022-07-05 16:48] #42367 closed

[2022-07-05 16:49] MarciMcGuire opened #43841 "[FRONTEND] MyHealth: Define "gold image" for engineer laptops"
Define "gold image" for engineer laptops - config, software required, authority, etc.

[2022-07-05 16:54] jonathan-epstein13 commented on #43199
@michelle-dooley I was able to take a look. It looks pretty clear and straight forward. @chloedotbrown looking forward to applying this to BQ data check.

[2022-07-05 16:54] mchelen-gov opened #43842 "Update Github reminder slack channel destinations, make -alerts channels moderated"
- [x] Move [reminder](https://github.com/orgs/department-of-veterans-affairs/teams/vsp-operations/settings/reminders/14147) `#platform-infrastructure-alerts`
- [x] Move [reminder](https://github.com/orgs/department-of-veterans-affairs/teams/vsp-operations/settings/reminders/14560) to `#platform-infrastructure-alerts-private`
- [x] Set `#platform-infrastructure-alerts` and `#platform-infrastructure

[2022-07-05 16:55] #13709 closed

[2022-07-05 16:56] aliyahblackmore commented on #42484
Hi @laurwill ! Adding in my doc with three options for chatbot language and two options for placement. There is one question for you re: a "Note"

This is ready for you when you have a moment!

[Remove virtual agent chatbot react widget from Contact Us page_AB_July 5.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/9048159/Remove.virtual.agent.chatbot.react.widget.from.Con

[2022-07-05 16:58] calquisola opened #43843 "Add a synthetic test for staging keycloak"
Since we are moving dev clients to staging, it is important to have "wellness" monitor.

Done when:
- [ ] A synthentic test is added for staging keycloak

[2022-07-05 17:01] calquisola opened #43845 "Add Post Login Validation for Staging Keycloak"
Same with utility and dev keycloak instances, we need to a post login validation

Done when:
- [x] mock mpi plugin deployed
- [x] Enable post login flow in Login.gov idp
- [x] Test validation works
- [x] Create an issue template for adding staging users

[2022-07-05 17:05] tmitchellgcio commented on #43730
@ajakabcin this is ready for validation. Remember we need someone with SOCKS access to validate this.
Environment: http://2b4517cc598538fb8e2c15397365c041.review.vetsgov-internal/

[2022-07-05 17:07] jonathan-epstein13 commented on #41575
@BevCaddy I am not sure what happened, but we received 4 new Platform Orientation tickets pertaining to the information we need filled out for _Share your info with Platform_. Kindly, can you fill out the _Share your info with Platform_ on this ticket. Thank you!

[2022-07-05 17:07] tmitchellgcio commented on #43570
@Samara-Strauss that's fine. I think @ajakabcin or @ericasauv09 should be able to get SOCKS access unless they aren't eligible for it for some reason.

[2022-07-05 17:13] katherine-fung commented on #43796
Hi @DanielleThierryUSDSVA and @RLHecht, I've added page titles and URLs to the content audit spreadsheet.

[2022-07-05 17:14] ericasauv09 commented on #43570
I tried getting SOCKS access a few weeks ago but ran into some issues so I gave up but I will try again

[2022-07-05 17:15] girldadmk commented on #43711
https://vfs.atlassian.net/wiki/spaces/AMT/pages/2251358357/SOCKS+and+AWS+Access+Request+Automation

Moving to complete.

[2022-07-05 17:15] #43711 closed

[2022-07-05 17:16] girldadmk commented on #43712
https://vfs.atlassian.net/wiki/spaces/AMT/pages/2251358357/SOCKS+and+AWS+Access+Request+Automation

Move to complete.

[2022-07-05 17:16] #43712 closed

[2022-07-05 17:16] #43725 closed

[2022-07-05 17:16] #43746 closed

[2022-07-05 17:20] ahicksfearless commented on #43355
- Sent an email out to the first batch of confirmed Admins on 7/5/22.
- Next step is to send a reminder email to the POCs who have yet to confirm Admin Users for their sites
- Once POCs review the list in full, we can send out another batch of Training emails @chancetheoriginal @lindsay-insco @jwowk

[2022-07-05 17:24] girldadmk commented on #39580
@iriteshp nudge.

Publish and close...

[2022-07-05 17:25] ahicksfearless opened #43846 "AVS Open Office Hour Agenda [07/06/22]"
- [ ] Collaborate with VEText team on upcoming AVS Office Hour agenda

- [ ] Email out to AVS list

- [ ] Respond to any follow-up emails

[2022-07-05 17:26] #43846 closed

[2022-07-05 17:30] #43719 closed

[2022-07-05 17:32] naomimarcussen commented on #39779
@jimuhh The intention is for this section to house information for doing both research and design. At the moment we only have documentation available for research.

[2022-07-05 17:34] girldadmk commented on #41646
@mhaley37 is this still a priority?

[2022-07-05 17:37] #39985 closed

[2022-07-05 17:39] hdjustice opened #43847 "[BE] 10-10CG Mulesoft Ph2: Implement single, async POST to Mulesoft with Data & PDF"
## Background
Currently, vets-api sends the CG application data and PDF in separate calls.  With the Mulesoft integration now in place, we want to combine both the data and PDF in one asynchronous call.
**Note**: vets-api retries capability will be implemented in ticket #42079.

- [json document](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/caregivers/Mulesoft

[2022-07-05 17:39] RLHecht opened #43848 "Change Veterans Crisis Line phone number to new number in Drupal pages and style guide"
## Issue Description

**This is a placeholder ticket with more details to follow.**

As of July 16, you can use the three-digit 988 to reach the National Suicide Prevention Lifeline. This is also the new number for the Veterans Crisis Line.

Once public websites completes their audit of our pages that mention the VCL, we need to update these in Drupal.

We'll also need to check the style guide and

[2022-07-05 17:39] mhaley37 commented on #41646
We are all good with this @girldadmk -- all necessary users needed for our testing purposes have been added to the abac configuration.  Thanks.

[2022-07-05 17:40] #40270 closed

[2022-07-05 17:41] hdjustice opened #43849 "[BE] 10-10CG Mulesoft Ph2: Implement alerts to post in Slack channel and email group"
## Background
Currently, vets-api sends the CG application data and PDF in separate calls.  With the Mulesoft integration now in place, we want to combine both the data and PDF in one asynchronous call.
**Note**: vets-api retries to send this single, async call will be implemented in ticket #42079.

With this single, async call to Mulesoft, we need to put monitors and alerts in place to be notifie

[2022-07-05 17:48] mchelen-gov commented on #43745
There should be a distinction made between triage and ownership of Prefill Service specificalyl, versus eMIS integration more broadly. .cc @little-oddball

[2022-07-05 17:51] katherine-fung commented on #35894
Hi @clantosswett and @Kimberley2019, I'm working on this request. Just to clarify --
- which sign-in portal are these error messages for?
- will there be anything else on the page when an error message appears?

[2022-07-05 17:52] hdjustice commented on #43847
@markfallows  - FYI, created this ticket based on conversation and agreement with CG team.

[2022-07-05 17:54] shiragoodman commented on #39825
@jimuhh have you been able to peer review this?

[2022-07-05 17:54] girldadmk commented on #41646
Thanks @mhaley37! I am new to the team, and I came across this aging card.

[2022-07-05 17:55] #41646 closed

[2022-07-05 17:55] little-oddball commented on #43745
This ticket should be less on determining ownership and more on identifying usage and impact and no longer supported. @npeterson54 the Tasks and Acceptance Criteria should be massaged some to address that.

[2022-07-05 17:56] #43702 closed

[2022-07-05 18:08] hdjustice commented on #43849
@markfallows - FYI, created this ticket to implement monitors & alerts on the calls to Mulesoft along with implementing the single call and retries

[2022-07-05 18:12] kristenmcconnell commented on #41435
Email reply just sent to Danny Smith to coordinate visit.

[2022-07-05 18:13] shiragoodman commented on #41122
@claytonzook i added some comments to your draft checklist. Most of my findings were small - this looks good! Please make the changes and answer my questions. You should be good to publish after that.

[2022-07-05 18:13] considerable opened #43850 "Sidekiq Admin UI Access Request"
_Access to the Sidekiq Admin UI is managed through a GitHub team under the [department-of-veterans-affairs/va.gov-sidekiq team](https://github.com/orgs/department-of-veterans-affairs/teams/va-gov-sidekiq/members). Please provide your GitHub username to be added to that team, along with a reason access is required._

- GitHub username: considerable
- Reason access is required: development and promo

[2022-07-05 18:15] kjduensing commented on #43815
SOCKS access granted. Please continue with [the guide](https://depo-platform-documentation.scrollhelp.site/getting-started/Internal-tools-access-via-SOCKS-proxy.1821081710.html) to establish a connection to SOCKS proxy. If you run into any issues, please feel free to reach out in the [#vfs-platform-support](https://dsva.slack.com/archives/CBU0KDSB1) channel using the [support request workflow](htt

[2022-07-05 18:15] #43815 closed

[2022-07-05 18:16] shiragoodman commented on #43421
@claytonzook afaik, we don't own the whole page. Only the sections that are relevant to our teams practice areas: Product, Design, Content, IA, accessibility, and QA (although QA Standards team might own that one). I am going to confirm this with leadership.

[2022-07-05 18:16] rmtolmach commented on #43842
@mchelen-gov I get 404s when I go to those "reminder" links, but I think this is related to `LambdaBot` being moved to a different channel and that channel having restricted posting. It looks like the `LambdaBot` AWS reminders of inactivity got moved to the private channel, so even if we were able to create a thread (which I don't think we are anymore. But I could be wrong!), the person would not

[2022-07-05 18:24] oseasmoran73 commented on #43677
SOCKS access granted. Please continue with [the guide](https://depo-platform-documentation.scrollhelp.site/getting-started/Internal-tools-access-via-SOCKS-proxy.1821081710.html) to establish a connection to SOCKS proxy.

[2022-07-05 18:24] #43677 closed

[2022-07-05 18:24] djfredvs opened #43851 "07/12/22 9:30 AM VEText Community Care Training"
Booked by Jessica Wood & Billie Holstein

[2022-07-05 18:25] considerable commented on #43032
made a formal Sidekiq-UI access request [#43850](https://app.zenhub.com/workspace/o/department-of-veterans-affairs/va.gov-team/issues/43850)

[2022-07-05 18:26] djfredvs opened #43852 "07/26/22 12 PM VEText Open Slot Management Training"
Booked by Terrance Walker-Jennings, Erica Yorker

[2022-07-05 18:28] djfredvs opened #43853 "07/25/22 2 PM VEText 101 Training"
Booked by Erica Yorker

[2022-07-05 18:29] shiragoodman commented on #34739
Closing this issue and tracking in ticket #42627

[2022-07-05 18:30] #34739 closed

[2022-07-05 18:31] nicko-amida commented on #33561
@DanielleThierryUSDSVA Thanks!

[2022-07-05 18:37] caw310 commented on #27413
@SarahKay8 - this is a stretch goal for Sprint 5 (July 7 to 19)

[2022-07-05 18:37] calquisola commented on #43843
synthetic test added for staging keycloak

[2022-07-05 18:37] hdjustice commented on #33561
Adding this information here for historical purposes to reference if needed.
Per a Slack message from Dene', she confirmed with Joshua that the Medicare Claim number is supported. We will be sure to test end 2 end.

[2022-07-05 18:37] #43843 closed

[2022-07-05 18:53] shiragoodman commented on #39779
@naomimarcussen I didn't know that! but if that's the case, then I'm supportive of keeping the name (although I do agree with Jim).

@jimuhh re: your question about the out of place "Best practice" links. I agree. They do seem out of place, especially since this page is currently focused on Research. @claytonzook - do you think these 3 pages make sense under the Research and Design tile? I'm not s

[2022-07-05 18:55] CherylEvans commented on #40713
@shiragoodman I moved the page I created over to the source: https://vfs.atlassian.net/wiki/spaces/GS/pages/2221375655/Offboarding+Instructions+for+Contractors
Once I ensure it's been published on PW, I will link in PO template.  Once that is completed, all tasks will have been completed, and AC/US satisfied.

[2022-07-05 18:57] shiragoodman commented on #40713
@CherylEvans could you re-title the page to just, "Offboarding" ? I think "instructions for contractors" is unnecessary (and also, 100% clear who it's for as soon as you click on the link). Thank you!

[2022-07-05 19:05] yonidoronpeters commented on #41598
@jsgarmon awesome - thanks for that context!
So, we realized that in the sake of better security practices, we actually need to have better separation of different envs in terms of access to the S3 buckets. Would it be possible to create 2 more service accounts and 2 more KMS keys, and separate the access by environment?
For example: create another SA with access to the dev s3 bucket only. And cre

[2022-07-05 19:06] yonidoronpeters commented on #41598
We also confirmed that we can write and read to the s3 bucket with the supplied SA.

[2022-07-05 19:14] #43808 closed

[2022-07-05 19:21] denisecoveyduc opened #43854 "GA4 Migration"
## Product Outline
Analytics team is working on the migration to Google Analytics 4 as Google will be sunsetting our current Universal Analytics properties. This epic is to track documentation and Benefits 2efforts related to this work.

## References and resources
- [Informational Deck ](https://docs.google.com/presentation/d/168irFimlF5aCR1fGp5eiKOf4esiQ9cKAFxnVITzBQ9Q/edit#slide=id.gd8751effa8_

[2022-07-05 19:26] MarciMcGuire commented on #40733
@pavanhothi - I just added the information that was missing.  Please let me know if you need anything else.  Thanks!

[2022-07-05 19:32] djfredvs opened #43855 "07/26/22 2:30 PM AVS Training"
Booked by Minimol Arackal, Darlene Makulski, Renee Schroeder, Erica Yorker

[2022-07-05 19:33] jonathan-epstein13 commented on #40733
Thank you @MarciMcGuire. Jessica has been add to the VFS Team Roster.

[2022-07-05 19:38] CherylEvans commented on #40713
@shiragoodman Will do!!

[2022-07-05 19:40] aagosto90 commented on #43376
@ajakabcin @ericasauv09 @Samara-Strauss @tmitchellgcio (optional) @andaleliz
Hey all! I thought we might be able to do this as an async touchbase on Github instead of gathering us all in another meeting (but I will do that if necessary) as people are out on random days this week.

I met with Danielle today and she really liked the idea of us separating out these two sections and naming them someth

[2022-07-05 19:42] outerpress commented on #43738
Thanks Allison and Sean! Sean, all that makes sense. We'll check in as we work through the recommendations.

[2022-07-05 19:43] caw310 commented on #30752
@GnatalieH , is this still needed or were these items addressed when we made updates in Q2 to improve consistency?

[2022-07-05 19:44] kristenmcconnell commented on #42935
Finished the user flow presentation ([Google doc](https://docs.google.com/presentation/d/1V1y0JiqRv_wWMqQvmBi4GiMJ0UBwapJknZBpdSI6oAs/edit?usp=sharing) and [PDF](https://app.zenhub.com/files/133843125/bb2720af-8ffd-4b08-95ed-4d389e8d6a17/download)) and reviewed it with Ben. Will present to Stephen and Patrick on Friday.

[2022-07-05 19:44] #42935 closed

[2022-07-05 19:57] #42644 closed

[2022-07-05 19:58] andreahewitt-odd commented on #43545
I think it'd be awesome to have a GH ticket and special label and just have it flow to the leadership board

[2022-07-05 20:07] lindsay-insco opened #43856 "Community Care Use Case 5 Discovery"
![MicrosoftTeams-image (1).png](https://images.zenhubusercontent.com/613a5fe6c2664a3a7db92373/2966aeed-2e75-4d89-a9bc-55f5173ad0cf)

[2022-07-05 20:10] jimuhh commented on #39779
@claytonzook Given that we can't change this page without reworking the landing page, which might be a lengthy discussion, I think we can probably get away with separating out the practice areas here tho' it's far from ideal. You're right that there aran't a lot of 4th level pages in the current research schema. Hopefully that will also apply to the proposed design navs as well.

[2022-07-05 20:12] #22050 closed

[2022-07-05 20:12] caw310 commented on #22050
Closing this ongoing epic. We will use a quarterly epic for this work so we can more easily track what is done.

[2022-07-05 20:14] jimuhh commented on #39779
@claytonzook @naomimarcussen @shiragoodman but it we do bifurcate the leftnav by practice area as described, we should do it from the git-go, even if design content isn't yet in place. Otherwise, we're going to be moving a lot of content down in the hierarchy later on, which could get confusing.

[2022-07-05 20:22] briandeconinck commented on #40879
Follow-up on checkboxes. Thank you for the example of a page on the platform website using them! The way the checkboxes are rendered is pure CSS, which is mostly good. Each item in the list is still a `li`, and the checkbox is presented using a background image on the `li`.

The reason it's only "mostly good": The default bullet point on each `li` is hidden using `list-style-type: none`. Unlike ot

[2022-07-05 20:37] caw310 commented on #14823
Closing this ongoing epic. We will use a quarterly epic for this work so we can more easily track what is done.

[2022-07-05 20:37] #14823 closed

[2022-07-05 20:37] caw310 commented on #33539
Closing this ongoing epic. We will use a quarterly epic for this work so we can more easily track what is done.

[2022-07-05 20:37] #33539 closed

[2022-07-05 20:39] caw310 commented on #39120
Closing this ongoing epic as the work the team prioritized for this Q2 2022 initiative has been completed. Any future work on design.va.gov, Storybook or the Sketch Library will be part of a quarterly maintenance of design.va.gov initiative.

[2022-07-05 20:39] #39120 closed

[2022-07-05 20:40] caw310 commented on #39119
Closing this Q2 initiative as the work defined has been completed. We will continue working on web components and track that in a separate initiative.

[2022-07-05 20:40] #39119 closed

[2022-07-05 20:40] briandeconinck commented on #40879
Follow-up on content organization:

After re-reading these pages, I feel like the [Checklist to prepare for research](https://vfs.atlassian.net/wiki/spaces/PPST/pages/2242871321/Draft+Brian+-+AT+Research+Checklist+and+Disability+Etiquette#Checklist-to-prepare-for-research) is not really a checklist, at least not the same way the checklists on the [screen readers](https://vfs.atlassian.net/wiki/spa

[2022-07-05 20:42] caw310 commented on #16901
Old initiative so closing.

[2022-07-05 20:42] #16901 closed

[2022-07-05 20:42] caw310 commented on #17544
Old initiative that is no longer relevant since the FLT spike time has been working on forms.

[2022-07-05 20:44] swirtSJW commented on #43239
So in order to do this, we would need separate apps created like so? (with each one having its own webhook)

- @vagovcms-forms  would post to #va-forms
- @vagovcms-facilities would post to #sitewide-facilities
- @vagovcms-pw would post to #sitewide-public-websites
- @vagovcms-support would post to #cms-support

[2022-07-05 20:45] BevCaddy commented on #41575
The reason that you received 4 new Platform Orientation Template tickets is that I have been unable to access the Platform Orientation Template ticket 41651, which is the ticket that I have been using for some time to complete the needed information for 'Share your info with Platform'. Due to my lack of familiarity with this page, and in my efforts to find 41615, I tried to access 41651 by clickin

[2022-07-05 20:45] #43603 closed

[2022-07-05 20:56] michelle-dooley opened #43857 "New Tech Debt Epic - Approval Request"
## Issue Description
Ray - I created a new initiative/epic for [internal tech debt](https://github.com/department-of-veterans-affairs/va.gov-team/issues/43769) and linked it to [2022 Q3 Technical debt reduction](https://github.com/department-of-veterans-affairs/va.gov-team/issues/42669) it will include internal work that needs to be completed, examples include updating QA processes and documentati

[2022-07-05 21:03] michelle-dooley opened #43858 "Add Analytics & Insights Initiatives to Digital Leader Board"
## Issue Description
Ray - need you to add the Q3 Analytics & Insights Q3 initiatives to the Digital Leader Board.

[Ongoing Services](https://github.com/department-of-veterans-affairs/va.gov-team/issues/43133)
[GA4](https://github.com/department-of-veterans-affairs/va.gov-team/issues/42199)
[Health Metrics](https://github.com/department-of-veterans-affairs/va.gov-team/issues/43136)
[Tech Debt](ht

[2022-07-05 21:28] rmtolmach opened #43859 "[Alerting] Modifications to SiteLatencyCritical alert"
## Description
SiteLatencyCritical is an alert that notifies the individual on-call for the Infrastructure team (DevOps Critical). [alerts.md](https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/blob/master/OnCall/alerts.md#sitelatencycritical) lists a number of graphs to check to see where the problem could be coming from, but even if you have a suspicion of where and why the

[2022-07-05 21:35] jimuhh commented on #39779
See where the "architecture" part comes in? You plan to remodel one room and suddenly you're moving retaining walls and pulling out  plumbing.

[2022-07-05 21:37] jacobworrell opened #43860 "Collaboration Cycle for Benefits Team 1, Claim Status Tool, Download Decision Letters"
## VFS product information

### VFS team name

Benefits Team 1

### Product name

Claim Status Tool

### Feature name

Download Decision Letter

### GitHub label for product

claim-status-tool

### GitHub label for feature

download-decision-letter

## Kickoff questions

<details><summary>Toggle kickoff questions</summary>

### When did/will you start working on this product/feature?

Sprint start

[2022-07-05 21:46] #40395 closed

[2022-07-05 21:49] davidakennedy commented on #42860
@mmiddaugh @TiffanyPender, @AngelaFowler82 and I have completed testing on the home page. We have a [few minor issues attached to this epic](https://app.zenhub.com/workspaces/vagov-platform-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/43789). Tiffany is writing up one final issue, which will be done shortly, but let us know if you and the team have any questions.

[2022-07-05 22:02] tayism commented on #43147
Put in my notes for Go/No-go meetings in the [Considerations page.](https://vfs.atlassian.net/wiki/spaces/SDT/pages/2246836264/Considerations+for+Iterative+improvement)

[2022-07-05 22:35] oseasmoran73 opened #43861 "[DDOV] Create roles in DataDog-Gov"
## Description
With the team migrating over to DataDog-Gov, this would be a good opportunity to define and create roles for teams. This will help once we onboard VFS teams

---
## Tasks
- [ ] Define roles for teams
- [ ] Implement roles

## Acceptance Criteria
- [ ] Roles implemented and applied to teams

---
### Reminders
- [ ] Please attach your team label and any other appropriate label(s) (ope

[2022-07-05 23:22] claytonzook commented on #40879
@briandeconinck
RE: checkboxes. This is great info to know, and I'm happy to defer to the accessibility expert for this. I don't think it's worth benefiting sighted users if it does that by making a worse experience for other users. So let's go with a standard list format here. I'll then also ask @chaseakirby to set us up a ticket so we don't lose the work to change the [research checklist](https:

[2022-07-05 23:28] erogray opened #43862 "Adding Sudeepti Bhatnagar to DSVA Slack"
# Description

- Please add sudeeptibhatnagar@navapbc.com as a full member.

[2022-07-06 00:07] #43160 closed

[2022-07-06 00:29] careyotto opened #43863 "Adding Xernan Peralta to DSVA Slack"
# Description

**new user requests**: please verify that the user does not already exist in dsva.slack.com (it may be the account exists, but is not in a particular channel)

<describe the request>

Are you requesting to add an individual as a:

- Full member
- What channel(s) do they need to be added to? #feedback-backchannel, #design, #research-ops, #vsp-support, #inclusive-research, #vsp-resear

[2022-07-06 01:55] laineymajor opened #43864 "RFC to summarize solution to race condition issue"
**PROBLEM STATEMENT**
Autonomous deployment initiative is blocked by a race condition issue. An RFC is being completed to propose next steps/architecture and will be disseminated to appropriate parties for comment and decision.

Current proposal summary:
- Update the vets-website build to store assets in a subdirectory for changed app builds
- Update the content-build to not hardcode the app asset

[2022-07-06 02:04] laineymajor opened #43865 "Update the vets-website build to store assets in a subdirectory for changed app builds"

[2022-07-06 02:05] laineymajor opened #43866 "Update the content-build to not hardcode"

[2022-07-06 02:05] laineymajor opened #43867 "Running CI for changed app builds and full builds"
**PROBLEM**
There are currently 2 main issues that are blocking the continuous production deployment of applications on the allowlist.

A race condition that will exist between the daily production deploy and changed app production deploys
Changed app production deploys may be built and tested with recent updates to global assets that aren't in the S3 production bucket at the time of their deploym

[2022-07-06 12:45] #43147 closed

[2022-07-06 12:49] loripusey commented on #39305
@acrollet some questions:
1. How long does is the review env available?

[2022-07-06 12:51] MarciMcGuire commented on #40733
Thank you @jonathan-epstein13 !

[2022-07-06 12:53] alwerner opened #43868 "Update Traefik Ingress configuration in DEV"
## Issue Description
As a user navigating the development environments of va.gov or the mobile app, I need vets-api requests to route to the appropriate endpoints in the EKS version of vets-api, so that I am able to reliably navigate its content and use its functional applications.

---
## Tasks
- [x] Add hostname to Traefik configuration

## Acceptance Criteria
- [x] Ensure vets-api is reached in

[2022-07-06 12:54] #43836 closed

[2022-07-06 12:54] #43822 closed

[2022-07-06 13:07] #43579 closed

[2022-07-06 13:14] hdjustice commented on #43094
Hello all, I set up the Okta login, but when I access the new datadog instance from there, my team's dashboard is not there.  I searched all over, but the "1010 Health Apps" dashboard is not listed anywhere.  I cannot access the **[old Datadog instance dashboard](https://app.datadoghq.com/dashboard/8it-wik-f5q/vsa-1010-team?from_ts=1650559897083&to_ts=1650563497083&live=true)**, so I am blocked fr

[2022-07-06 13:19] djfredvs opened #43869 "07/19/22 9:30 AM VEText Pre-Check-In Configuration Training"
Booked by Valeri Kocot, Kelly Fuetterer
They are both in VISN 2 and will wait for their launch training on 8/8 for the 8/15 launch

[2022-07-06 13:21] jsgarmon commented on #43094
Hi @hdjustice: did anyone on the 1010 team migrate your dashboards over?

[2022-07-06 13:22] jsgarmon commented on #42260
Following up on this, can we close this issue?

[2022-07-06 13:30] nicko-amida commented on #42077
The [financial status report tool](https://preview.uxpin.com/552e9ad135f7d7ee943a92576feab45190b069f4#/pages/145022114/simulate/sitemap?mode=i) and another example of a dependents flow, but it doesn't allow for the same kind of input fields as the 1010EZ needs.

[2022-07-06 13:42] Dr-Pongo commented on #42912
The "approved codes" align with First-Third Demand and Debt Increase letters with specific descriptions, all other history codes are hidden. Confirming this functionality is still accurate.

[2022-07-06 13:49] pjhill commented on #42805
These tasks have all been completed.

[2022-07-06 13:49] #42805 closed

[2022-07-06 13:50] calquisola commented on #42260
yes. you can close this. thanks!

[2022-07-06 13:50] hdjustice commented on #43094
Hi @jsgarmon - it doesnt look like it.  I will see what I can find out.  Thank you!

[2022-07-06 13:51] kjduensing commented on #40741
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Access-Management---Platform-Spike-Team-61a8e04a925132001416247c/issues/department-of-veterans-affairs/va.gov-team/40741?planning-poker) with ZenHub @girldadmk

[2022-07-06 13:53] #2231 closed

[2022-07-06 13:54] #16564 closed

[2022-07-06 13:54] #11446 closed

[2022-07-06 14:04] vbellissimo opened #43870 "Discuss Platform Content team's health metrics with Analytics team"
**Acceptance criteria:**

- [x] Schedule meeting with Analytics & Insights team; Met with Michelle and Chloe on 7/29
- [x] Document any feedback from Analytics team
- [x] Document possible tools to collect metrics, with analysis on what we have access to vs what we don't (can we collect in DOMO?)

**Notes:**
https://vfs.atlassian.net/wiki/spaces/CIT/pages/2284584976/2022+Q3+Health+Metrics

[2022-07-06 14:04] hdjustice opened #43871 "[FE] 10-10 CG - Sign as Rep: Remove 'can_upload_10_10cg_poa' feature flag"
## Background
Now that we have released Sign as a Representative code to 100% of applicants, we need to remove the feature flag from the 10-10CG code.

## Tasks
- [ ] Remove feature flag `can_upload_10_10cg_poa` from the flipper toggle
- [ ] Remove check for `can_upload_10_10cg_poa` in application code

## Acceptance Criteria
- The feature flag has been removed from the code and the feature is ope

[2022-07-06 14:05] RLHecht commented on #43742
@megzehn I added more to the checklist in our Google doc. Can you take a look and if you think it's good I can put it in a word doc to share with Jessica and Tiffany. Thanks!

[2022-07-06 14:06] shiragoodman opened #43872 "General Orientation Sessions - July 2022"
## Issue Description
Hosted the General Orientation Session for VA.gov Platform on 7/5/2022.

---
## Tasks
- [x] Host the session and answer any questions that come up.

## Acceptance Criteria
- [ ] We have provided a General Orientation session for VA.gov Platform for July 2022.
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to

[2022-07-06 14:10] hdjustice commented on #43871
@markfallows - FYI created this ticket today to remove the feature flag from the code, since we no longer need it.

[2022-07-06 14:11] hdjustice opened #43873 "[FE] 10-10 CG - Sign as Rep: Launch to 100%"
## Background
We have received approval from Matt Brown (CG Stakeholder - Associate Director) to release Sign as a Representative code to 100% of applicants.  We need to open the feature toggle to 100%

## Tasks
- [ ] Set feature toggle to 100%

## Acceptance Criteria
- The Sign as a Representative feature is open to all applicants

[2022-07-06 14:14] hdjustice commented on #43873
Approval from Matt Brown on 7/6/2022

[2022-07-06 14:15] #43873 closed

[2022-07-06 14:15] claytonzook commented on #43787
@zanniemill49 It looks like the only artifact attached right now is the product outline. Do you have any designs or other artifacts that we can review at this stage?

[2022-07-06 14:16] vbellissimo opened #43874 "Schedule internal meeting about Platform analytics"
AC:
- [ ] Schedule Content team's discovery meeting to understand current tools measuring content and bring up ideas
- [ ] Document discovery workshop insights and feedback
- [ ] Prioritize list of proposed KPIs

[2022-07-06 14:20] AGarcia-Clarity opened #43875 "FE Sign in Service Bugs"
## Issue Description
This is a collection of bugs found in the FE concerning the Sign in Service after a user is authenticated which was included in this [Slack thread](https://dsva.slack.com/archives/C019S3NSSAD/p1656513996256509)

- Multiple refresh token requests (3x 403 errors made 3 separate requests to the `/refresh` endpoint)
- `/keepalive` was still being called in the AutoSSO component an

[2022-07-06 14:27] vbellissimo opened #43876 "NO LONGER NEEDED - Team meeting to discuss available tools to surface metrics"
Acceptance criteria:

- [ ] Schedule team meeting to research available tools to surface metrics (Scroll Viewport marketplace, Confluence marketplace, Google Analytics, Domo, etc.)
- [ ] Analysis to compare proposed tools on criteria such as price, availability, available data, etc.

[2022-07-06 14:32] MitchLivingstone opened #43877 "[ISSUE] CT Data list link broken"
## Issue Description
The ComparisonToolData.xlsx link is broken when clicked.

Please determine why the ComparisonToolData.xlsx link is broken.

-Main Page - **https://www.va.gov/education/gi-bill-comparison-tool/**

- Broken LINK - https://www.benefits.va.gov/GIBILL/docs/job_aids/ComparisonToolData.xlsx

![image.png](https://images.zenhubusercontent.com/62699917a261e69763726e6b/aeccfb8d-ff94-4145

[2022-07-06 14:34] andaleliz commented on #43489
I've written up what I've learned so far and added it to[ our product docs](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/notifications/notification-preferences/discovery-and-research/default-send/july-2022-notes.md). Meeting w the VA Notify team tomorrow to clarify a couple of things and then I can wrap this up.

[2022-07-06 14:34] rbeckwith-oddball commented on #43104
I technically have a work-around for the issue, but it's not ideal or pretty.

[2022-07-06 14:36] vbellissimo opened #43878 "Create Communications Plan for Platform website analytics"
Acceptance criteria:

- [x] Review and identify what applies to us from existing Service Design's communications playbook: https://vfs.atlassian.net/wiki/spaces/SDT/pages/2305359955/Change+Communication+Plan

Communications plan: https://vfs.atlassian.net/wiki/spaces/CIT/pages/2357067782/Communication+Plan+for+Platform+Website+Data+and+Analytics

[2022-07-06 14:38] #42717 closed

[2022-07-06 14:38] OptionSelect commented on #42717
Closing due to this being duplicate of other work.
https://app.zenhub.com/workspaces/vsa---debt-607736a6c8b7e2001084e3ab/issues/department-of-veterans-affairs/va.gov-team/40221

[2022-07-06 14:43] Mottie commented on #41835
I couldn't log into 228 either, using both ID.me and Login.gov. I tried user 189 and it worked.

[2022-07-06 14:48] joshkimux commented on #40879
@Brian DeConinck it looks great! Nothing looks substantially changed. That being said, I'd love to work with y'all to provide more actionable tips for this part of the AT research checklist.

For example, instead of general guidance like, "Schedule a pilot test with an accessibility specialist"; how might we make that more specific and immediately actionable? e.g. "Schedule a pilot test with your

[2022-07-06 14:49] af-manish commented on #43877
It looks like this is the current link: https://www.benefits.va.gov/GIBILL/docs/**job_aids**/ComparisonToolData.xlsx  . This link, however works:
https://www.benefits.va.gov/GIBILL/docs/ComparisonToolData.xlsx

Should it go to this link?

[2022-07-06 15:01] Kimberley2019 commented on #35894
@katherine-fung I am working with my available team members to find an answer for you.  Chante is OOO this week and MAY have to wait until she returns if I cannot get any clear guidance beforehand.

[2022-07-06 15:06] #42872 closed

[2022-07-06 15:12] allison0034 commented on #43126
@shiragoodman nope it was supposed to go [here](https://calendly.com/platform-office-hours). I have updated it.

[2022-07-06 15:16] #43140 closed

[2022-07-06 15:16] andresriveratoro commented on #43140
This component has been https://github.com/department-of-veterans-affairs/component-library/releases/tag/v10.6.1 and it's available on vets-website.

[2022-07-06 15:31] vbellissimo opened #43880 "Support: Twice Weekly Deploy"

[2022-07-06 15:31] Dr-Pongo commented on #42708
Icons updated, reviewing some missing dates for cards.

[2022-07-06 15:32] powellkerry opened #43881 "[Platform Support Slackbot] Send automatic ephemeral message when a user posts in the platform-support slack channel"
## Issue Description
Notify a user, with a message that can only be seen by them, when they post in the platform support channel without using the platform support slackbot `/support`

---
## Tasks
- [x] Update the message event listener to post an ephemeral message when a thread_ts is undefined (thread_ts is undefined for new posts within the channel)
- [x] Update documentation

## Acceptance Cri

[2022-07-06 15:32] #43180 closed

[2022-07-06 15:37] steel36 opened #43882 "Discuss format of updated Playbook and landing"
## Issue Description
What form should the updated playbook take?

Here are some early [thoughts](https://vfs.atlassian.net/wiki/spaces/SDT/pages/2246836264/Considerations+for+Iterative+improvement#2.--Perhaps-the-format-of-the-landing-and-contents-could-be%3A) on possibilities:

Pretending that [this ](https://vfs.atlassian.net/wiki/spaces/SDT/pages/2256175122/Welcome+to+the+Platforms+Communicatio

[2022-07-06 15:38] rbeckwith-oddball commented on #37872
[PR #11522](https://github.com/department-of-veterans-affairs/devops/pull/11522) to remove the AWS synthetic monitors from the devops repo.

[2022-07-06 15:41] #43182 closed

[2022-07-06 15:43] vbellissimo opened #43883 "Support: Monitor & Triage New Support Tickets"
USER STORY

As a content team,
we need to monitor the "new" column in the support tickets board,
so that we can triage the problem if it does not belong to someone within our team OR needs to be handled by our team.

ACCEPTANCE CRITERIA

If the issue is related to another team, it will be assigned to a point of contact of that team with a message to follow up on the issue.

Add the label: "other-p

[2022-07-06 15:45] #43186 closed

[2022-07-06 15:45] vbellissimo opened #43884 "Support: Reply/Follow up to Footer Support Tickets"
USER STORY

As a content team member,
I need to reply to a support ticket reporter,
so that our ticket reporter knows the issue is being acknowledged and handled by our team.

As a VFS team member/or platform team member,
I want to know that my support request is being handled,
so that I know it did not go into a blackhole.

ACCEPTANCE CRITERIA

- An initial acknowledgment reply will be sent from

[2022-07-06 15:46] #43181 closed

[2022-07-06 15:46] #43179 closed

[2022-07-06 15:47] vbellissimo opened #43885 "test title"

[2022-07-06 15:47] yonidoronpeters commented on #41598
That's great, thank you so much @jsgarmon!

The roles that need read+write access to the S3 buckets from the Lighthouse side have been created
[code]

[2022-07-06 15:48] #43885 closed

[2022-07-06 15:52] shiragoodman commented on #43126
@allison0034 changes to both the Resources page and Contact Us page look good. Please update source pages and verify changes have been published after tomorrows scroll viewport run.

[2022-07-06 15:53] #43689 closed

[2022-07-06 15:56] laucon opened #43886 "From Support Ticket: Create E2E test examples document"
We want to write a document explaining best practices for how to set E2E tests with examples of what a good E2E test looks like and some examples of what bad E2E tests look like.

Related to these tickets:
https://github.com/orgs/department-of-veterans-affairs/projects/724/views/1
https://github.com/department-of-veterans-affairs/va.gov-team/issues/42116

[2022-07-06 15:57] #42116 closed

[2022-07-06 15:58] #40810 closed

[2022-07-06 15:59] mleclerc00 commented on #42065
Currently the haproxy integration is setup correctly and shooting metrics off to datadog.  Where the problem comes in the differences in functionality that grafana and datadog provide.

As we can see by looking at the following dashboard in grafana the query is being run on the `haproxy_server_total_time_average_seconds` metric.  https://grafana.vfs.va.gov/d/pEgVdRlZk/external-service-performance-

[2022-07-06 16:04] powellkerry commented on #43881
**Test Cases**
_This is deployed to the test environment_

- [ ] When posting in the channel without the `/support` command you should get a messages asking you to use it and providing a link to documentation for more info.

[2022-07-06 16:10] mchelen-gov commented on #43842
That's because the links require `maintainer` perms on the team: https://github.com/orgs/department-of-veterans-affairs/teams/vsp-operations/members

LambdaBot AWS reminders are still going to `#platform-infrastructure-alerts` i.e. https://dsva.slack.com/archives/C03JZS08VV4/p1657119660719169
I just added the bot to both chans in case there were other alerts that need to be sent to `#platform-infr

[2022-07-06 16:12] #43842 closed

[2022-07-06 16:13] shiragoodman commented on #39825
@chaseakirby since Clayton is OOO starting today, we need to validate that the changes are published on PW

[2022-07-06 16:14] allison0034 commented on #43421
@claytonzook these all look good!

[2022-07-06 16:14] shiragoodman commented on #41630
@claytonzook please confirm publishing to PW, then close ticket

[2022-07-06 16:16] djfredvs opened #43887 "07/28/22 2 PM AVS Training"
Booked by Katreece Bell, Kimberly Woods

[2022-07-06 16:16] #43421 closed

[2022-07-06 16:16] zach-park commented on #43672
Sketch.com/s/f055a969-7909-4a63-9bb8-1dcb

[2022-07-06 16:19] shiragoodman commented on #40879
@seanasewell will peer review once the changes have been made FYI

[2022-07-06 16:21] oseasmoran73 commented on #43736
/request Yu Ning

[2022-07-06 16:21] shiragoodman commented on #41340
@CherylEvans and @shiragoodman will collaborate on this since she is making changes to the template per ticket #40713

[2022-07-06 16:25] rmtolmach commented on #37914
Moving back to the backlog. For reference, there is documentation written up on how to do this (linked in the description). See the [How to update a value to be used from Parameter Store instead of Credstash](https://vfs.atlassian.net/wiki/spaces/OT/pages/1601503564/Credstash+Parameter+Store+Procedures) section.

[2022-07-06 16:28] ericasauv09 opened #43888 "SOCKS access for [Erica Sauve]"
### Your Name

Erica Sauve

### Your Email

erica.sauve@adhocteam.us

### Your Role and Team

Associate Product Manager, Authenticated Experience

### Product Manager (PM) name and email

Ana Jakabcin - ana@adhocteam.us

### Product Owner (PO) name and email

Samara Strauss - samara.strauss@va.gov

### Access Type Requesting

platform

### Public SSH Key

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDM4F

[2022-07-06 16:31] Tonksthebear opened #43889 "SOCKS access for Jason Conigliari"
### Your Name

Jason Conigliari

### Your Email

jason.conigliari@adhocteam.us

### Your Role and Team

Backend Engineer on VA Mobile

### Product Manager (PM) name and email

Travis Newby travis.newby@va.gov

### Product Owner (PO) name and email

Travis Newby travis.newby@va.gov

### Access Type Requesting

developers

### Public SSH Key

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDUAZj2wSXt5CaXuE55+

[2022-07-06 16:36] jenniemc commented on #37906
Display just the provider/practice name; no need to show address when it is at pending status. This ticket is a dup for #42146 cc: @marcynadeau , @aarathi-poldass

[2022-07-06 16:37] ajakabcin commented on #43570
For now let's do a screenshare to validate this and we'll work in parallel on our socks access

[2022-07-06 16:39] aarathi-poldass commented on #37906
This ticket can't be tested due to an outstanding issues with PPMS provider search [VAOSR-3976](https://issues.mobilehealth.va.gov/browse/VAOSR-3976) once the issue had been addressed I can test this defect.

[2022-07-06 16:44] Tonksthebear opened #43890 "AWS access for Jason Conigliari"
### COR Name

Cecila Lee

### Vendor Onboarding Representative Name

Liberty IT -  Michael G. Lovejoy

### Your Name

Jason Conigilari

### Your Email

jason.conigliari@adhocteam.us

### Your Team, Role, and Company

Senior Backend Engineer

### Product Manager (PM) name and email

Travis Newby travis.newby@va.gov

### Product Owner (PO) name and email

Travis Newby travis.newby@va.gov

### Desire

[2022-07-06 16:47] aagosto90 commented on #42196
@ericasauv09 @ajakabcin
Question on this because I'm a little confused by the acceptance criteria: Should this ticket be to create a design for the following use cases? Or just to remove the current 30 day logic?

As a user who has never filed a pension or disability claim, I see
- Guidance text about claims and appeals
- An action link to file a claim that navigates me to the claim status tool

A

[2022-07-06 16:54] #43385 closed

[2022-07-06 16:59] andaleliz commented on #41754
Hi! Any updates on this? I noticed another page is missing too:
https://depo-platform-documentation.scrollhelp.site/developer-docs/VA-Profile.1885602002.html

[2022-07-06 16:59] tmitchellgcio commented on #43570
I can create a video using OBS and attach it to the tickets for now if that's best
________________________________
From: Anastasia Jakabcin (AJ) ***@***.***>
Sent: Wednesday, July 6, 2022 12:37 PM
To: department-of-veterans-affairs/va.gov-team ***@***.***>
Cc: Mitchell, Taylor ***@***.***>; Assign ***@***.***>
Subject: Re: [department-of-veterans-affairs/va.gov-team] [FE] Payment Info MVP: Correc

[2022-07-06 17:02] steel36 opened #43891 "Launch Q3 Platform Satisfaction Survey"
## Issue Description
Launch Survey in typical manner.

---
## Tasks
- [x] Launch Survey in Optimal Workshop
- [x] Communicate its availability in relevant Slack channels

## Acceptance Criteria
- [x] Survey launched
- [x] Communicate its availability in relevant Slack channels

[2022-07-06 17:04] LindseySaari commented on #38518
I spoke with @mleclerc00 today, and unfortunately, it doesn't appear that there is a 1:1 migration from grafana/prometheus to DataDog in terms of the haproxy metrics. We discussed that we may need to find a different way to visualize that in datadog or explore a more custom solution instead of utilizing the haproxy integration. See [Matt's comment](https://github.com/department-of-veterans-affairs

[2022-07-06 17:04] #41000 closed

[2022-07-06 17:05] steel36 opened #43892 "Publicize the Q3 PS Survey"
## Issue Description
Share survey's availability in Slack, ToT, and relevant group discussions every few days as needed to ensure participation.

# Make sure Content has updated Platform before linking to page

## Tasks
- [x] Share Survey in Slack
- [x] Share Survey in ToT

## Acceptance Criteria
- [x] Survey posted in Slack
- [x] Survey posted in ToT slides for active period

[2022-07-06 17:08] steel36 opened #43893 "Close Survey, Synthesize results and update Mural boards"
## Issue Description
Quarterly survey synthesis and update to mural boards

---
## Tasks
- [x] Close Survey
- [x] Update Platform site and Confluence Site
- [x] Prep [synthesis Mural board](https://app.mural.co/t/adhocvetsgov9623/m/adhocvetsgov9623/1661820546891/65263d534fddee99066fb8adf19d8d672ab98fe0?sender=u9ea6bd3ca12795949b606150)
- [x] Synthesize survey

## Acceptance Criteria
- [x] Customer

[2022-07-06 17:09] steel36 opened #43894 "Update Feedback Themes"
## Issue Description
Update Feedback Themes mural

---
## Tasks
- [x] Post information to Feedback Theme Mural

## Acceptance Criteria
- [x] Feedback Theme Mural is updated

[2022-07-06 17:09] brdunfield opened #43895 "Send the VA Design System Tagalog translations for controls"
## Issue Description
Currently, VA design system components are not translated when the app is set to tagalog.

We need to coordinate with the VADS team to see whether they can support tagalog, and send over translations for components we are using once we have them.

For reference - The document we sent over for Spanish component translations:
https://docs.google.com/spreadsheets/d/11a5nfSNhFrju_

[2022-07-06 17:11] steel36 opened #43896 "Create Customer Insights presentation"
## Issue Description
Create presentation for Demo

---
## Tasks
- [x] Create presentation

## Acceptance Criteria
- [x] Presentation is prepared.

[2022-07-06 17:15] RLHecht commented on #34476
@aliyahblackmore Just heard back from Tanekwa. The number for June should be: 132.7
Can you please update the two pages with this new number and change the month to June? Thanks!

[2022-07-06 17:20] oseasmoran73 commented on #43736
Not in confluence
Not in VFS roster
Removed from AWS
Removed from SOCKS
Removed from VA Org -- https://github.com/department-of-veterans-affairs/github-user-requests/issues/11489
No PagerDuty
Removed from Sentry
No DataDog

[2022-07-06 17:32] ericasauv09 commented on #42196
@aagosto90 Sorry the AC was not clear on this one - I can update it but I believe we wanted to create tickets to update each section's designs so this ticket should encompass all design updates for the Claims and Appeals section. I think I added those tasks based on a few notes I had from our conversations but this ticket should be design updates for the whole section including 30 day logic and an

[2022-07-06 17:34] hdjustice commented on #43094
Hi @jsgarmon - Our 1010 dashboard did not migrate over, Would you or someone on the team be able to advise how we should do this?
I looked through the previous ticket #23513 and didn't see any resources that would tell us how.  Thanks!
cc @lihanli

[2022-07-06 17:43] oseasmoran73 commented on #43736
No Bot user to GH account

[2022-07-06 17:44] oseasmoran73 commented on #43736
Thank you for everything Boris! You will be dearly missed by everyone 😢

[2022-07-06 17:44] #43736 closed

[2022-07-06 17:52] considerable commented on #43032
Eric of console services team says,

Finnier details of Sidekiq-UI for different environments are on this [confluence page](https://vfs.atlassian.net/wiki/spaces/pilot/pages/937558053/Sidekiq+jobs#Deployed-environments).

[2022-07-06 17:56] jsgarmon commented on #43094
This is the "1010 Health Apps" dashboard?

[2022-07-06 17:57] jimuhh commented on #41625
Will do.

[2022-07-06 17:57] considerable commented on #43032
Executive summary: as per the owner of Sidekiq-UI service, any Platform developer may access Sidekiq-UI in any environment for as long as the access audit trail is maintained. Currently, in the absence of the audit trail, the access is granted to developers upon individual request.

[2022-07-06 17:58] MrMorie commented on #43058
List updated with prod usage.

[2022-07-06 18:02] allison0034 commented on #42012
@shiragoodman this is live, you can close

[2022-07-06 18:02] NCHLiberty opened #43897 "Adding Jasmyn Kelly to more DSVA Slack Channels"
# Description

Jasmyn Kelly (Kelly_Jasmyn@bah.com, jasmyn.kelly@va.gov) **is already present** in DS@VA Slack space but only has 2 of the channels she will need.

Please change her to a full member guest and ensure she is added to these channels:

#vfs-all-teams
#vfs-benefits
#victories
#oncall
#general
#random
#slack-workspace-admin
#vfs-platform-builds
#vfs-platform-support
#vsa-ebn-migration
#v

[2022-07-06 18:08] jimuhh commented on #41625
@shiragoodman OK. Those changes have been made. [Please confirm](https://vfs.atlassian.net/l/c/zPf3vBF9).

[2022-07-06 18:14] ewilson-adhoc commented on #43059
Igor to populate the "next steps" columns https://vfs.atlassian.net/wiki/spaces/IET/pages/2241003742/Vets-API+Migration+Plan+Supported+Tools

[2022-07-06 18:15] jimuhh commented on #41625
OK. Cheryl's corrections have been made. [Please confirm](https://vfs.atlassian.net/l/c/7t1E05ed)

[2022-07-06 18:16] Dr-Pongo commented on #42710
@tlei123 Hey! @ScottyRJames worked some magic and this is now resolved! We had some issues with our test users, but I just checked it out on staging and it should be good to go!

[2022-07-06 18:16] jimuhh commented on #39825
@claytonzook completed all the recco'd changes except for the first, which he gave good reasons for not implementing. I changed the subhed title on second para so hopefully we're good to go. [Please confirm](https://vfs.atlassian.net/l/c/7t1E05ed).

[2022-07-06 18:20] lihanli commented on #43094
@jsgarmon that's right, we also have alerts tagged with `team: vsa1010`, not sure if that's the right spelling but i don't have access anymore to check it

[2022-07-06 18:21] TiffanyPender opened #43898 "[SCREENREADER]: Alt attributes need to be more descriptive"
-[508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

**Note: This is about the Veteran-portrait hero area, which is a fall back display that only appears when benefit promo is not present.**

## Feedback framework

- **✔️ Consider** for suggestions/enhancements - nice for screenreader user

[2022-07-06 18:25] Dr-Pongo commented on #42785
@tlei123 You're right! I've updated and tested the links accordingly and it looks good to go!

[2022-07-06 18:26] timwright12 commented on #32057
Closing out as this doesn't appear to be an issue anymore

[2022-07-06 18:26] #32057 closed

[2022-07-06 18:28] #231 closed

[2022-07-06 18:31] briandeconinck opened #43899 "Create internal documentation for building and maintaining YAML issue forms"
## User Story
_"As a Governance team member, I want clear guidance on how YAML GitHub issue forms work, so that I can edit the Collaboration Cycle Request template and create new templates as needed."_

Assignee: @briandeconinck
Peer Reviewer: @allison0034

## Description
The [Collaboration Cycle Request issue template](https://github.com/department-of-veterans-affairs/va.gov-team/issues/new?assig

[2022-07-06 18:32] micahchiang commented on #42609
Closing this because the information in this RFC is out of date at this point.

[2022-07-06 18:37] oseasmoran73 commented on #43094
@lihanli Are you referring to synthetic tests?

[2022-07-06 18:42] steel36 opened #43900 "Review findings to ensure Updated Playbook Approach reflects learnings"
## Problem Statement
Let's ensure that the main needs are being addresses by our proposed solution

**What am I really looking for when I seek out the Communication Playbook?**

- I want to know what channel is recommended for change communication
- I want to know if anything in particular is required or standard to include
- I would like to have an easy template or guide to follow to make sure th

[2022-07-06 18:43] lihanli commented on #43094
@oseasmoran73 yes

[2022-07-06 18:45] hdjustice commented on #43094
Thank you so much @lihanli and @oseasmoran73 !

[2022-07-06 18:49] RLHecht commented on #43392
@megzehn The CMS team pointed me to where this alert is. It was different from the one we were looking at in the alerts section.

https://prod.cms.va.gov/admin/content?title=&type=banner&moderation_state=All&owner=All

You can change the moderation state to archived and it will remove it from all the pages.

[2022-07-06 18:57] RLHecht commented on #40484
Update: I just reached out to a different stakeholder for careers and employment and will post here when I hear back on those 2 pages. @megzehn The rest of the pages Katherine mentioned above are ready to copyedit and publish. Thanks!

[2022-07-06 19:03] oseasmoran73 commented on #43094
@hdjustice @lihanli Migration via CLI has been done. See output below for more details. Please confirm they have been migrated over correctly. We highly recommend having them as code via Terraform like we have it in our [repo](https://github.com/department-of-veterans-affairs/devops/tree/master/terraform/environments/datadog)

[code]

[2022-07-06 19:09] RLHecht opened #43901 "Add react widget to housing COE landing page"
## Issue Description
When the housing COE launches, it will be done incrementally. Because of this, we need to use a react widget on the landing page for the entry point. The page this will be on is [How to request a VA home loan Certificate of Eligibility (COE)](https://www.va.gov/housing-assistance/home-loans/how-to-request-coe/).

The benefits-team-1 product team will create the react widget, b

[2022-07-06 19:10] RLHecht commented on #43901
@cohnjesse @saderagsdale Could you drop in a screen shot here of the react widget you created so we can confirm the text is correct? Also, we'll need the widget code once we're ready to add to Drupal. Thank you!

[2022-07-06 19:10] nsmith1982 opened #43902 "Offboarding of Julie O'Brien"
# Instructions
Fill out name of individual and *Description* section below.

# Description
Please provide the following information about the individual being offboarded:
- name:

- team name:

- role on team:

- expected last day:

- company they work for:

- email:

- GitHub username:

- additional access they may have:

## Acceptance Criteria
*Performed by Platform team. Detailed instructions f

[2022-07-06 19:11] nsmith1982 commented on #43902
removed from Confluence

[2022-07-06 19:13] markfallows commented on #43847
This API endpoint may not be available.

Need to confirm with stakeholders that the endpoint is available; and, if not, when it might be.

[2022-07-06 19:15] markfallows commented on #41883
Lisa will investigate in a future sprint (likely 7/13)

[2022-07-06 19:18] hdjustice commented on #43544
@batemapf - Can you help with the level of priority for this item?  Are you looking to have this done in the next sprint or 2?

[2022-07-06 19:20] markfallows commented on #42457
Unable to reproduce, closing ticket.

[2022-07-06 19:20] #42457 closed

[2022-07-06 19:23] djfredvs opened #43903 "07/20/22 3 PM AVS Open Office Hour"
## Description
Every week the product support team hosts a bi-weekly office hours to advertize or demo new or existing features, communicate updates to our users, and hold an open forum to answer questions from users live.

---

## Agenda
What is the agenda for office hours?
- Up and Coming Features - Open Forum
- DVS Introduction and Overview
 - Medication Info Management Review w/ Dr Layden
Supp

[2022-07-06 19:24] ajakabcin commented on #43660
@joeniquette and @AGarcia-Clarity -  I tested some of these again and now test users 15, 21 and 0 are working with redirect on staging as intended. I'm not sure why that would be the case when it was turned on for all staging users last week. Is there perhaps a delay or cache happening somewhere?

cc @tmitchellgcio

[2022-07-06 19:27] markfallows commented on #41232
Issue may have been resolved.  Keeping open for additional tracking to confirm.

[2022-07-06 19:27] andaleliz commented on #43376
Hey Angela! I think this is a solid direction, to split them both out, and use this kind of verbiage. It's much clearer and I think will reduce the cognitive load people have to use to parse through payments and debts when they're mixed.

[2022-07-06 19:33] markfallows commented on #35230
Potential accessibility issue.  Insurance page adds additional elements to fill out based on data input on the page itself.

Changing the UX to split the questions onto two pages identified an issue where displaying the information on the Review page was not working correctly.

Changes made to the Household Section may provide workflows and ideas to help address this issue.

[2022-07-06 19:35] #39288 closed

[2022-07-06 19:36] oseasmoran73 commented on #43094
I think that should wrap up this ticket. Thank you everyone for being patient and collaborating with us during the process! Should you run into any issues, please feel free to reach out us via #vfs-platform-support channel.

Closing ticket

[2022-07-06 19:36] #43094 closed

[2022-07-06 19:37] markfallows commented on #41904
Frontend ticket will be created once the design has been finalized.

[2022-07-06 19:38] GnatalieH commented on #30752
@caw310 we can close this ticket as all the items were addressed.

[2022-07-06 19:38] #30752 closed

[2022-07-06 19:39] CoryTrimmUSDS commented on #43902
Removed from slack.

[2022-07-06 19:39] CoryTrimmUSDS commented on #43736
Removed from slack. 😭

[2022-07-06 19:41] joshkimux opened #43904 "DELETE THIS"
# [A11y Maintenance Audit] Rated Disabilities

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Must
- xyz
- xyz

## Should
- xyz
- xyz

## Consider
- xyz
- xyz

[2022-07-06 19:47] #43904 closed

[2022-07-06 19:50] hdjustice commented on #38105
Closing this ticket for now.  Short form bypasses this question, so making this mandatory in schema would cause conflicts.

[2022-07-06 19:55] megzehn commented on #43392
This alert has been archived.

Thanks for your help with this, @RLHecht

[2022-07-06 19:58] hdjustice commented on #38763
updated screenshots

[2022-07-06 20:00] rmtolmach commented on #43842
Ah, okay! And I see we do actually have permission to comment in threads. So all is good here.

This hasn't been a problem. People's names match up pretty well.

[2022-07-06 20:06] Tonksthebear opened #43905 "Platform Orientation Template Jason Conigliari"
## Welcome and Introduction
Welcome to the Veteran's Administration (VA) Veteran Facing Services (VFS) team!
As a new VFS team member, you will be working in the web ecosystem we call the VA.gov Platform (or "**The Platform,**" for short).  The tasks on this list are designed to get you up to speed on the role of Platform, making it easier for you to do your job.

Because the VA is a huge organiza

[2022-07-06 20:07] #42625 closed

[2022-07-06 20:07] #42907 closed

[2022-07-06 20:08] #43032 closed

[2022-07-06 20:08] #43292 closed

[2022-07-06 20:08] #43058 closed

[2022-07-06 20:08] #43231 closed

[2022-07-06 20:08] #42931 closed

[2022-07-06 20:08] #43235 closed

[2022-07-06 20:25] rmessina1010 opened #43906 "Platform Release Tools VFS Support - PR Reviews Sprint 5"
## Details

Add PRs to this epic during Sprint 5 any time you...
* Approve a PR
* Leave comments on a PR
* Request changes on a PR

Add PRs from...
* VFS teams
* Other VSP or Platform Crew teams

**DO NOT** add PRs from...
* Platform Release Tools team

[2022-07-06 20:25] aliyahblackmore commented on #43705
Hi @laurwill - sharing my drafted content here! As noted in the doc, there are two questions that we just need some more info on!
[How to request a home loan COE page_AB_7.5.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/9057814/How.to.request.a.home.loan.COE.page_AB_7.5.docx)

[2022-07-06 20:37] jw81 commented on #42885
**UPDATE** :: I have attended the General Orientation Session (July 5th, 2022) and the Backend Orientation Session (July 6th, 2022).  It looks like [I have been added to the roster](https://docs.google.com/spreadsheets/d/11dpCJjhs007uC6CWJI6djy3OAvjB8rHB65m0Yj8HXIw/edit?folder=0ALlyxurHpUilUk9PVA#gid=2042046665).  👍

[2022-07-06 20:40] tpharrison opened #43907 "BE - Auth Profile - Notification Preferences - Add Default Send Indicator (Opt-in)"
## Background
VA Profile provides a _Default Send Indicator_ for each Communication Item (per each associated Communication Channel).

In the case when a customer (Veteran) has not made their own permission selections in their VA.gov profile, this flag identifies whether to send or not to send a notification on the channel.

The indicator will be _True_ or _False_ for each communication item.

If

[2022-07-06 20:40] tpharrison opened #43908 "BE - Auth Profile - Notification Preferences - Add Default Send Indicator (Opt-in)"
## Background
VA Profile provides a _Default Send Indicator_ for each Communication Item (per each associated Communication Channel).

In the case when a customer (Veteran) has not made their own permission selections in their VA.gov profile, this flag identifies whether to send or not to send a notification on the channel.

The indicator will be _True_ or _False_ for each communication item.

If

[2022-07-06 20:41] denisecoveyduc opened #43909 "Update Template Names for DMC Notifications"
## Issue Description
As we work to integrate additional VHA aspects into the debt portal it is imperative that we can distinguish VBA from VHA notifications for communication clarity.

As a result we would like to update the names for our existing notifications. Outlined below are the current names and the desired changes which will support future growth for both VBA and VHA notifications.

---
##

[2022-07-06 20:47] tpharrison opened #43910 "BE - Auth Profile - Notification Preferences - Add Default Send Indicator (Opt-in)"
## Background
VA Profile provides a _Default Send Indicator_ for each Communication Item (per each associated Communication Channel).

In the case when a customer (Veteran) has not made their own permission selections in their VA.gov profile, this flag identifies whether to send or not to send a notification on the channel.

The indicator will be _True_ or _False_ for each communication item.

If

[2022-07-06 20:49] RLHecht commented on #43043
@megzehn I added some comments and other edits too. As we discussed, we may want to explain our best practice for links so that they're accessible (don't embed them, use a target and purpose). I also made a few comments about either changing the screen shots to cleaner examples or fixing the pages these came from and then posting a new screenshot. I think before we do that, I need to confirm with

[2022-07-06 20:52] tpharrison commented on #43491
@SKasimow @Samara-Strauss

VA Profile has added a _Default Send Indicator_ flag to each Communication Item per each associated Communication Channel.  This flag will need to be included in the data returned from the vets-api so its available to the FE.

I've created [this ticket](https://github.com/department-of-veterans-affairs/va.gov-team/issues/43910) to document the necessary BE work.

Let me

[2022-07-06 20:52] #43491 closed

[2022-07-06 20:55] lindsay-insco opened #43912 "VA Notify : Vaccine short code transfer"
Third shortcode transfer

[2022-07-06 20:55] pjhill opened #43913 "Staging Review - Quality Assurance Feedback - Review Benefits 2: Combined Debt Portal"
## VFS acceptance criteria
- [x] Let Platform know when the **Must** feedback has been incorporated
- [x] Leave any comments for feedback you decide _not_ to take
- [x] VFS team closes the ticket

## Thoughts/questions
- Great use case documentation -- thanks for that!
- The [coverage for references](https://dsvavsp.testrail.io/index.php?/reports/view/340) report looks great, and provides assuranc

[2022-07-06 20:56] lindsay-insco opened #43914 "ATO : Server Migration"

[2022-07-06 20:58] lindsay-insco opened #43915 "ATO : Database Scan Remediation"
- [x] SQL remediation (Andy)
- [x] Mongo remediation (Rob)

[2022-07-06 20:59] oseasmoran73 commented on #43454
No AWS
No PagerDuty
Removed from Sentry
DataDog disabled as we have migrated over to DataDog-Gov. User is not in DataDog-Gov
No Bot access

[2022-07-06 21:00] #43454 closed

[2022-07-06 21:01] kristenmcconnell commented on #39393
Drafts:
- [Veteran Conversation Guide](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/checkin/research/veteran-facing/corpus-christi-in-person/conversation-guide.md)
- [Staff Conversation Guide](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/checkin/research/staff-facing/corpus-christi-in-person/convers

[2022-07-06 21:05] #43660 closed

[2022-07-06 21:05] #43665 closed

[2022-07-06 21:14] jhouse-solvd opened #43916 "[DNS] Update documentation with information that explains "why" we use Unbound"
## Description
There currently exists good documentation that covers what Unbound is and how it is managed. But, the documentation doesn't articulate the background "why" it's used for platform DNS, ie "why not just use Route53?"

## Background/context

- There may be technical constraints or legacy reasons for using Unbound for some parts of Platform DNS resolution.
- It may be possible to remove

[2022-07-06 21:15] jhouse-solvd commented on #43916
@ph-One & @jbritt1 can likely help with this

[2022-07-06 21:17] benbrasso-agile6 commented on #41392
@loripusey I'm going to see if I can grab time with you tomorrow to review this - https://docs.google.com/presentation/d/1Y8JFwpkY85blzt1IvKx-35AZ9FaaYBdoGrFONK-vPfs/edit?usp=sharing

I just have a couple set-up slides that i still need to add. But, feel free to review if you'd like.

@kristenmcconnell FYI, I made the updates that we discussed

[2022-07-06 21:20] Kimberley2019 commented on #35894
@katherine-fung I checked with my team and unfortunately, no one is aware of those answers.
We will have to wait on the return of @clantosswett on Monday in order to answer.  My sincerest apologies.

[2022-07-06 21:25] acaruso-oddball opened #43917 "SOCKS access for Afia Caruso"
### Your Name

Afia Caruso

### Your Email

afia.caruso@oddball.io

### Your Role and Team

Identity team within VSP. I am a Front End Engineer at Oddball.

### Product Manager (PM) name and email

Nick Soutouras nick.soutouras@oddball.io

### Product Owner (PO) name and email

Cody Reinold cody.reinold@va.gov

### Access Type Requesting

developers

### Public SSH Key

ssh-rsa AAAAB3NzaC1yc2EAAAA

[2022-07-06 22:02] brianseek commented on #36483
FE only validation, will validate on stage tomorrow.

[2022-07-06 22:23] olivereri commented on #43549
## 3 main difficulties:
1. How do I best deploy a solution to EKS?
1. What steps or process provides the quickest update/change to deploy/verify loop
1. What steps or process provides the quickest way to verify changes beyond what Argo CD provides in UI logs.

### 1. How do I best deploy a solution to EKS?

This one is probably out of scope for the epic.

Specifically for my use case with Sorry-Cy

[2022-07-06 22:58] tlei123 commented on #43302
@pjhill , yeah, e.g., I started generating a report at around 2:30 pm MT today and it's still in progress right now at almost 4 pm MT.

[2022-07-06 23:03] tlei123 commented on #42710
Validated in Staging.

[2022-07-06 23:03] #42710 closed

[2022-07-06 23:06] tlei123 commented on #42785
Validated in Staging.

[2022-07-06 23:58] CoryTrimmUSDS commented on #43454
Removed Slack Access.

[2022-07-07 00:53] tlei123 commented on #43302
^ 5:53 pm MT: Report generation still "in-progress."  I'll check again tmrw (Thu) morning.

[2022-07-07 01:46] tlei123 opened #43918 "[TR Ref] My VA - Onsite-Notifications - Link to Use Cases"
This ticket links TestRail test-case C18388 to **[My VA - Onsite Notifications use-cases](https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/blob/master/Administrative/vagov-users/staging-test-accounts-onsite-notification.md)** &mdash; specifically:

**On-site Notification**:
- [row 1] User DOES have a new debt update
- [row 2] User DOES have a new debt update and dismisses no

[2022-07-07 01:47] #43918 closed

[2022-07-07 05:08] #43261 closed

[2022-07-07 10:17] saderagsdale opened #43919 "Collaboration Cycle for [Benefits Team 1, Supplemental Claims Form 20-0995]"
staging ## VFS product information

### VFS team name

Benefits Team 1

### Product name

Supplemental Claims Form 20-0995

### Feature name

Supplemental Claims Form 20-0995

### GitHub label for product

Supplemental Claims

### GitHub label for feature

Supplemental Claims

## Kickoff questions

<details><summary>Toggle kickoff questions</summary>

### When did/will you start working on this pr

[2022-07-07 10:24] saderagsdale commented on #43636
@thehastingsp Can you share a link to the materials you want to include in the collab cycle when you have a sec? Want to ensure I'm not sharing the wrong ones. TY!

Platform support submission: https://dsva.slack.com/archives/CBU0KDSB1/p1657189143624669

Collab cycle ticket link: https://github.com/department-of-veterans-affairs/va.gov-team/issues/43919

[2022-07-07 10:51] saderagsdale opened #43920 "[task] Certificate of Eligibility | Testing Plan"
## Value Statement
**_As a_** team
**_We want to_** create a usability and/or UAT testing plan for the Certificate of Eligibility workflow
**_So that_** we know it meets usability needs for Veterans.

---
## Background Context
The certificate of eligibility workflow was built prior to our teams contract. As such, we are unclear on how much usability/UAT testing was done by the previous team. The s

[2022-07-07 10:51] saderagsdale opened #43921 "[task] Certificate of Eligibility | Testing Plan"
## Value Statement
**_As a_** team
**_We want to_** create a usability and/or UAT testing plan for the Certificate of Eligibility workflow
**_So that_** we know it meets usability needs for Veterans.

---
## Background Context
The certificate of eligibility workflow was built prior to our teams contract. As such, we are unclear on how much usability/UAT testing was done by the previous team. The s

[2022-07-07 10:57] DanielleThierryUSDSVA commented on #43352
Good morning, @megzehn!

Another one for you this morning: http://preview-prod.vfs.va.gov/preview?nodeId=873

And more to come today!

Note just for the ticket: "got diagnosed" question resolved via slack.

Thanks!

[2022-07-07 11:59] saderagsdale opened #43922 "Bugs"
## Value Statement
**_As a_** team
**_We want to_** triage and prioritize bugs
**_So that_** we can effectively manage maintenance work within sprints.

---
## Background Context
This epic is solely intended to triage bugs related to the benefits applications that benefits-team-1 owns.

## Acceptance Criteria
- [ ] _AC_
- [ ] _AC_
- [ ] _AC_

## Designs and Build Notes
- Add here

## Out of scope

[2022-07-07 11:59] saderagsdale opened #43923 "[epic] DR | Bug Tracker 🐛"
## Value Statement

**_As a_** developer
**_I want to_** review and sort errors appearing in the Sentry
**_So that_** so I can prioritize them based on severity and what is actionable.

---
## Severity Criteria
Below are factors to consider when labeling severity for Decision Review bugs.

| Severity | Description |
|----------|-------------|
| **Critical** | - All users impacted<br>- Inability to

[2022-07-07 12:00] #43922 closed

[2022-07-07 12:04] saderagsdale commented on #43709
@jacobworrell Sharing a heads up that Scott added this to the backlog, and labeled it to your squad. I would like to get this work done in the next sprint if possible. I will review this with Scott and pull you in for refinement as needed.

[2022-07-07 12:22] aarathi-poldass commented on #40851
Validation Passed. During testing we found that the preferred times for the appointment displayed in HSRM is a little confusing for the staff. After discussion with Grace/Marcy, it was determined it to be as a training issue for HSRM staff and they need to know that 00:00:00 means AM preferred time and 12:00:00 means PM preferred time. Please find attached the screenshot for reference. @ldelacosta

[2022-07-07 12:49] #41009 closed

[2022-07-07 12:50] #39584 closed

[2022-07-07 13:01] #43917 closed

[2022-07-07 13:17] td-usds commented on #43591
Reached out to PM and PO to find out who the VOR. I need information from the VOR that only the VOR can provide.
@TW-Aaron do you know who your VOR is? Could it be Mr. M Lovejoy?

[2022-07-07 13:19] td-usds commented on #43710
Who is the access for? The issue's title says Ritesh Patel, the issue's body says Kevin Duensing and further data is inconclusive

[2022-07-07 13:24] loripusey commented on #39393
Look good!

[2022-07-07 13:29] michelpmcdonald commented on #43566
Lighthouse is still working with their downstream partner on this issue and the root cause has not been determined at this point.

If we wanted too, we could assume the issue is the owner password - permissions related, but at this point we don't exactly understand the exact problem, multiple permissions are available to set on PDF, and we don't know which of the permissions are causing the issue(

[2022-07-07 13:34] michelpmcdonald commented on #43037
Still waiting on LH to research the possibility of automatically shrinking the pages that are too big.

[2022-07-07 13:35] RLHecht opened #43924 "Create Vet Centers one-pager for newly published pages"
## Issue Description
Once we publish new Vet Center pages, we change the permissions for the content editors so they can publish their own changes going forward. To make sure these pages continue to meet our plain language standards and follow the VA.gov style guide, we need to provide editors with a one-pager of rules to keep in mind when updating their pages.

Once we create this, we will show i

[2022-07-07 13:43] #34437 closed

[2022-07-07 13:46] rsmithadhoc commented on #43637
# Cypress Job Caching

## Problem

- Downloading artifacts and cache in GitHub actions job are slow.
- It uses GitHub's packages `actions/upload-artifact`, `actions/download-artifact`, and `actions/cache`. These are needed because GHA starts with a clean machine with no dependencies for each job, assets don't stay around to use in future jobs. The way to pre-install dependencies is by using self-h

[2022-07-07 13:46] pjhill opened #43925 "Product Directory-YAML Form: Iterate on Form Usability"
# Description
Several areas with opportunities for better usability were identified during usability testing. We will experiment with increasing form usability by focusing on three areas:
1. Refining the help text in the form
2. Adding links in the help text to resources that contain additional context or data
3. Increase the readability of the field descriptions by collapsing the information and

[2022-07-07 13:51] ianMcCullough-ob opened #43926 "Login Wizard Preliminary Feedback"

[2022-07-07 13:52] #43926 closed

[2022-07-07 13:53] loripusey opened #43927 "[Design] Add Scenario to User Flow Documentation"
## Background
We need to add this [scenario ](https://dsva.slack.com/archives/C022AC2STBM/p1657128770816119)and wording to our user flow documentation and messaging source of truth. [Additional comments in Abstract](https://share.goabstract.com/3d58748e-1359-4a5c-afc6-c8514ddc2a73?collectionLayerId=b1a0274d-9416-4fad-a663-882770c0f7af&mode=design)

Scope:

CI:
- [x] Add a decision flo chart for "I

[2022-07-07 13:55] Mottie opened #43928 "Supplemental Claims | Fix breadcrumbs"
## Description

The new Supplemental Claims form isn't including breadcrumbs. In the `content-build` repo, the entry for this form is missing the `"includeBreadcrumbs"` setting and the `"breadcrumbs_override"` should be defined _inside_ the `template`.

## Tasks

- [ ] Add `includeBreadcrumbs` property
- [ ] Move `breadcrumbs_override` setting inside the `template`

## Definition of done

- [ ] Al

[2022-07-07 13:57] JoeTice opened #43929 "Product Directory-General: Conduct an audit of documentation and make corrections accordingly"
## Issue Description
The process for modifying an entry in the VFS Product Directory requires the use of a few pages that are all text heavy, and additionally do not use terminology consistently from one page to another. We need to conduct an audit to ensure that our documentation for this process is clear, concise and consistent.

Specific issues with consistency
- Use of the term VFS Product Dir

[2022-07-07 13:59] ianMcCullough-ob opened #43930 "Login Wizard Preliminary Research"
## Issue Description
Perform a round of preliminary research around the Login Wizard. The goal is to obtain initial reactions to an early iteration of a clickable prototype as well as gain an understanding of how veterans and users typically address login issues.

---
## Tasks
- [ ] Build a research plan for the first round of usability testing
- [ ] Build a conversation guide for the usability te

[2022-07-07 13:59] ianMcCullough-ob opened #43931 "Login Wizard Preliminary Research"
## Issue Description
Perform a round of preliminary research around the Login Wizard. The goal is to obtain initial reactions to an early iteration of a clickable prototype as well as gain an understanding of how veterans and users typically address login issues.

---
## Tasks
- [x] Build a research plan for the first round of usability testing
- [x] Build a conversation guide for the usability te

[2022-07-07 14:00] ianMcCullough-ob opened #43933 "Login Wizard Preliminary Research"
## Issue Description
Perform a round of preliminary research around the Login Wizard. The goal is to obtain initial reactions to an early iteration of a clickable prototype as well as gain an understanding of how veterans and users typically address login issues.

---
## Tasks
- [ ] Build a research plan for the first round of usability testing
- [ ] Build a conversation guide for the usability te

[2022-07-07 14:04] #43933 closed

[2022-07-07 14:04] ianMcCullough-ob commented on #43933
Closing due to weird ZenHub bugginess creating duplicate issues.

[2022-07-07 14:10] michelpmcdonald commented on #42547
On the backend, not seeing any new issues related to HigherLevelReviews.show in Personal Information Logs, lowing to sev3.

[2022-07-07 14:15] megzehn commented on #43352
Thanks, @DanielleThierryUSDSVA!

Updates:

These 3 are copyedited and in draft form:
http://preview-prod.vfs.va.gov/preview?nodeId=884
http://preview-prod.vfs.va.gov/preview?nodeId=885
http://preview-prod.vfs.va.gov/preview?nodeId=889

I also reviewed the alert on the pages you listed. I changed the placeholder date from June XX to July XX, since it hasn't passed yet, right?

And I reviewed the ne

[2022-07-07 14:17] pjhill commented on #41043
OBE

[2022-07-07 14:17] #41043 closed

[2022-07-07 14:21] acaruso-oddball commented on #43917
thanks!

[2022-07-07 14:21] JoeTice opened #43934 "Product Directory-Attribute List: Review attributes internally with the Governance Team to ensure alignment"
## Issue Description
There was confusion around the meaning/intent of some fields in the VFS Product Directory. In order to resolve that, we should review our current uses of terminology in these areas, and discuss with the Governance team to determine if they have suggested changes that VFS teams may be more accustomed to.

Specific Issues:
- **Point of Contact** - Teams aren't sure who to add, a

[2022-07-07 14:24] RLHecht commented on #43924
@megzehn I've started a Google doc for this one-pager. Feel free to add to it or change anything I have. Once you're done I'll put in a Word doc for Beth to review. Thanks!

https://docs.google.com/document/d/1mnQOEIfpUjyqcl7djoaB6WPeJjTcDDWohm8BlojfrOY/edit

[2022-07-07 14:25] michelpmcdonald commented on #42476
This seems to be a rare issue, however, a small number of vets will most likely continue to hit it until we address.  I suspect we should apply the fix to all 526 text fields that the users can edit

[2022-07-07 14:28] lhelmer commented on #43268
@LEHigley TY, I was able to login and create a new 2FA. All set.

[2022-07-07 14:39] dan-brooking opened #43935 "AWS access for Dan Brooking"
### COR Name

Other

### Vendor Onboarding Representative Name

Accenture Federal Services - Alexa Elliot

### Your Name

Dan Brooking

### Your Email

dan.brooking@accenturefederal.com

### Your Team, Role, and Company

Ruby on Rails Dev legacy edu

### Product Manager (PM) name and email

Abe Blanco abelardo.blanco@accenturefederal.com

### Product Owner (PO) name and email

Matt Self Matthew.Se

[2022-07-07 14:42] #40851 closed

[2022-07-07 14:46] laineymajor commented on #43866
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VSP---Release-Tools-FE-5fc9325744944e0015ed1861/issues/department-of-veterans-affairs/va.gov-team/43866?planning-poker) with ZenHub @alexandec

[2022-07-07 14:47] laineymajor commented on #43865
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VSP---Release-Tools-FE-5fc9325744944e0015ed1861/issues/department-of-veterans-affairs/va.gov-team/43865?planning-poker) with ZenHub @ndsprinkle

[2022-07-07 14:50] laineymajor commented on #43518
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VSP---Release-Tools-FE-5fc9325744944e0015ed1861/issues/department-of-veterans-affairs/va.gov-team/43518?planning-poker) with ZenHub @it-harrison

[2022-07-07 14:50] dan-brooking commented on #43935
We're just looking to have more people on the team be able to do this to provide support.

[2022-07-07 14:51] laineymajor commented on #43428
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VSP---Release-Tools-FE-5fc9325744944e0015ed1861/issues/department-of-veterans-affairs/va.gov-team/43428?planning-poker) with ZenHub @it-harrison

[2022-07-07 14:51] dsrr47 opened #43936 "AWS access for David Rowley"
### COR Name

Other

### Vendor Onboarding Representative Name

Accenture Federal Services - Alexa Elliot

### Your Name

David Rowley

### Your Email

david.rowley@accenturefederal.com

### Your Team, Role, and Company

Front End Developer

### Product Manager (PM) name and email

Abe Blanco abelardo.blanco@accenturefederal.com

### Product Owner (PO) name and email

Matt Self Matthew.Self2@va.go

[2022-07-07 14:56] laineymajor commented on #43426
@jhonnyoddball please focus on the first DoD. We might need to pull this into a separate ticket for you so we can appropriately size it.... let me know your thoughts!

[2022-07-07 14:58] JoeTice opened #43937 "Product Directory: Change TestRail ID to TestRail URL"
## Issue Description

Based on some of the confusion that we saw in the usability tests, we believe that asking for the TestRail URL will cause less confusion with VFS teams.

---

## Tasks
- [x] Update the guidance in the form
  - In the guidance, be sure inform the user that the input is a URL, but the list will extract and display a unique TestRail project ID from the URL
- [x] Update the scrip

[2022-07-07 14:59] dan-brooking commented on #43935
Ok, I updated it to about 5 months from now. Let me know if I need to make that shorter.

[2022-07-07 15:03] JoeTice opened #43938 "Product Directory: Update product generator to use random UUID only"
## Issue Description
Currently, the [project generator](https://github.com/department-of-veterans-affairs/generator-vets-website) for `vets-website` allows a user to input a product ID, and in lieu of them doing so, will generate a random UUID. We'd like to remove the option to put in a custom one, and force a UUID automatically when new projects are created. Release tools will need to be looped i

[2022-07-07 15:03] loripusey commented on #42030
@kristenmcconnell Can you create follow-up tickets for this? We have a card sort one already but I'm not sure what else based on the above information.
cc: @ytsaoca

[2022-07-07 15:07] #31789 closed

[2022-07-07 15:09] oseasmoran73 commented on #43935
## For AWS Access
User: Dan.Brooking
COR: Other
VOR: Alexa Elliot
Approval required: @department-of-veterans-affairs/operations-aws-approvers
Admin level: no

Context: Dan already have AWS access. This request is for elevated privs. Currently there are 3 members on his team (missed one in my initial search)

[2022-07-07 15:13] chloedotbrown commented on #43199
Thanks, all! Going ahead and closing ticket.

[2022-07-07 15:13] #43199 closed

[2022-07-07 15:13] jsokohl commented on #30030
"We're having trouble finding this [any] appeal[s]. You can still view your claims information, but you need to contact [whoever they need to contact]."

Something like this, perhaps. It seems that they have to take their query off line and into the meatspace world, not the digital one.

[2022-07-07 15:15] JoeTice opened #43939 "Product Directory: Expand repository fields"
## Issue Description
We need to collect three categories of repositories from the product teams:
1. front-end repo (Where is your front-end code living? We expect to see `vets-website` a lot.)
2. back-end repo (Where is your back-end code living? We expect to see `vets-api` a lot.)
3. other repositories -- this field will accept multiple repository names (This could be utilities maintained for the

[2022-07-07 15:17] Dr-Pongo commented on #43302
Hey @CherylEvans! It looks like that user is having some issues that may be outside of our control. User 1 is a valid alternative that should meet the requirements for Use Case 1. There is a known issue viewing the downloadable debt letter from VMBs with that user, but it is showing a good error for it and the test case doesn't seem to specify going that deep.

CC @denisecoveyduc , @allison0034
Th

[2022-07-07 15:23] sortizsh commented on #43921
Hey Joe, do you have an update on this? Is there a draft I can see?

[2022-07-07 15:24] aagosto90 commented on #42196
Thanks for clarifying @ericasauv09! The change to the AC is perfect!

[2022-07-07 15:27] #43857 closed

[2022-07-07 15:27] vbellissimo opened #43940 "Reply to Slack support requests"
Reply to and look into support requests in #platform-confluence Slack channel.

[2022-07-07 15:32] jsokohl commented on #43921
Not yet, no.

[2022-07-07 15:36] vbellissimo commented on #43884
7/7/22 - Amy follow up to ticket number 33450. https://dsva.slack.com/archives/C01AS05BQ79/p1656690518587159

[2022-07-07 15:38] mleclerc00 opened #43941 "[Datadog] Disable dual shipping datadog BRD and EKS"
## Description
Now that the old app.datadoghq.com account has been disabled by dots and we have migrated everything to the vagov.ddog-gov.com org we will need to disable dual shipping.

This will take some effort as the vagov.ddog-gov.com is currently configured as our dual shipping additional endpoint and we will need to set it as the main endpoint in our agent configs.

so Instead of what is lai

[2022-07-07 15:38] vbellissimo commented on #43940
7/7/22 - Amy followed up to request from Liz Lantz: https://dsva.slack.com/archives/C01AS05BQ79/p1657202870128199

[2022-07-07 15:41] #39825 closed

[2022-07-07 15:43] dsrr47 commented on #43936
Hi Oseas,
We are just trying to have more people on the team able to do this to provide support.

I should have an AWS account. Can you help me create one?

[2022-07-07 15:43] JoeTice opened #43942 "Product Directory: Update Help Documentation"
## Issue Description

The [VFS Product Directory Help Document](https://vfs.atlassian.net/wiki/spaces/TTT/pages/2193359369/VA.gov+Product+Directory+Documentation), will need some updates based on our usability testing, along with an audit that is being done to the documentation.

---

## Tasks
- [x] Add resulting changes from the [documentation audit ticket](https://app.zenhub.com/workspaces/sprin

[2022-07-07 15:47] hdjustice commented on #33561
@nicko-amida - Can you provide the latest content here?  Patrick is asking to confirm that we will still hit the recommended language from HEC with our plain language.
Thanks!

[2022-07-07 15:51] hdjustice opened #43944 "[FE] 10-10CG: Update confirmation page content to change "supports" to "support""
## Background
While we are going to review the confirmation page as a whole [(ticket #42322)](https://app.zenhub.com/workspaces/10-10-health-apps-5fff0cfd1462b6000e320fc7/issues/department-of-veterans-affairs/va.gov-team/42322), we do want to make a short-term update to the verbiage within the "What happens after I apply" section.

- Currently, it states "If you have questions about your applicati

[2022-07-07 15:53] lindsay-insco opened #43945 "[07/07/22] Add PCI resources to VEText SharePoint"
## Description
Users have demonstrated an increased need for easier-to-access resources for all checkin features, PCI and pre-checkin, so the product support team has decided to compile all of the resources into one space for users on the VEText sharepoint.
---

## Acceptance Criteria
- [x] Add link to PCI resources in VEText SharePoint with pre-checkin materials
---

[2022-07-07 15:53] djfredvs opened #43946 "07/11/22 9:30 AM VEText Pre-Check-In Configuration Training"
Booked by Julie Chambo - VISN 10

[2022-07-07 15:56] tlei123 commented on #43302
@pjhill @ddzz , sorry, **Summary (Defects) report** started yesterday ~ 2:30 pm MT still appears to be in progress right now at 8:55 am MT.

[2022-07-07 16:07] JoeTice opened #43947 "Product Directory-User Guide: Update the user guide"
## Issue Description
Update the user guide to reflect the changes from [the audit](https://app.zenhub.com/workspaces/sprint-board-qa-standards-613a3f47e06ba00013d05eed/issues/department-of-veterans-affairs/va.gov-team/43929), as well as a couple items that were identified in the usability studies

---
## Tasks
- [x] Update the tasks of this ticket to reflect the changes identified in the [document

[2022-07-07 16:08] skylerschain commented on #30030
Looking at this again, isn't the "You do not have any submitted claims" message sufficient? Why do we even need an extra alert? There is not really an error here, or any action for the user to take. They just don't have any claims or appeals, because they haven't submitted any. If that's the case, the blue banner seems to communicate all they need to know.

WDYT @jsokohl?

[2022-07-07 16:08] michelle-dooley commented on #39329
Hi @dsinla - just following up on this, let us know how you would like to proceed based on note above. Thanks!!

[2022-07-07 16:08] adamwhitlock1 commented on #43482
There is a lot of code tied up in this feature flag logic. I upped the estimate due to that, and have started this work, but will take a couple days.

[2022-07-07 16:14] markfallows opened #43948 "Contact Center Review for [10-10 Team - Sign as a Representative]"
# Request the Contact Center Review

## What this form is for
Use this template to request a Contact Center review of your product.

Please review the Self-service Product Guide Template [link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/contact-center/self-service-product-guide-template.md) and the Contact Center Review How to [link](https://github.com/depar

[2022-07-07 16:17] jhouse-solvd commented on #33211
Please see #23513 for recent efforts to migrate all platform resources to DOTS Datadog.

Additionally, some teams will be investigating the ability to ship logs to Datadog.

Closing.

[2022-07-07 16:17] #33211 closed

[2022-07-07 16:18] jhouse-solvd commented on #35395
Relates to #43549

[2022-07-07 16:21] davidmpickett commented on #38431
@valerierunde @kevwalsh This issue should probably be referenced somewhere in our Lovell epic as it seems to have some important detail about potential Drupal issues

[2022-07-07 16:22] jhouse-solvd commented on #42921
Possible candidate for #43549

[2022-07-07 16:25] #43701 closed

[2022-07-07 16:28] katherine-fung commented on #43783
Hi @laurwill,

Here's the draft page for review: https://prod.cms.va.gov/node/938/latest

I moved the content over from the draft in Drupal, and added the MHA link in a new section under the rates pages. I'll check with you about whether you think this is the best place for it.

[2022-07-07 16:36] jsokohl commented on #30030
IIUC, the original ticket indicated that the 404 being returned is inaccurate--there is no identified appeal (not claim--the second message is perhaps just that--separate). They have claims...that were rejected, and they then appealed.  The veteran's come back to the CST looking for status on that _appeal_, but we can't find the appeal. So that's why I said the VA is "having trouble finding the ap

[2022-07-07 16:40] aliyahblackmore commented on #34476
Hey @megzehn these are ready for you!

Preview link 1: http://preview-prod.vfs.va.gov/preview?nodeId=870
Preview link 2: http://preview-prod.vfs.va.gov/preview?nodeId=905

[2022-07-07 16:59] CBonade opened #43949 "Automate adding new products to the product directory based on manifests"
## Issue Description
When a new product is added to vets-website, a manifest is generated that will contain a UUID under the `productId` field. We should check these UUIDs against the product directory, and any that are not included should be added to the list automatically. We then need to update the yaml template to include this product if a new one was added.

---
## Tasks
- [x] Add checking fo

[2022-07-07 17:02] td-usds commented on #43591
VOR (John Lewis) confirmed eQIP.
Requested read/write access to dsva-vagov/va-virtual-agent space in AWS Parameter Store approved

[2022-07-07 17:02] laineymajor opened #43950 "BETA: Data from Big Query to Domo"
**PROBLEM STATEMENT**
Platform teams (including RTT) need an automated way of tracking health metrics in a centralized dashboard. Big Query -> Domo will be used for the health metric dashboard. RTT engineers need to learn the process of adding a dataset to big query, so that the data can be pulled into the centralized Domo dashboard.

**DEFINITION OF DONE**
- [ ] Beta dataset is defined (can be on

[2022-07-07 17:07] hdjustice commented on #33561
Thanks Nick!   I just cc'd you on an email response to Patrick.

[2022-07-07 17:10] dsinla commented on #39329
@michelle-dooley Sorry I must have missed this earlier, thanks for re-pinging. I'm not familiar enough with a lot of the detail here to weigh in on @jennaouellet's question.  I would benefit from a meeting where one of you could bring me up to speed. I will put 30 mins on your calendars if one of you has some time.

[2022-07-07 17:11] saderagsdale commented on #4784
Open questions:

1. How does the data get to the page? (formatting)
2. Is service-connected vs. not the main differentiator?
3. Can it be sorted?
4. Best sorting method? (alpha, percentage, etc.)

Next steps: Determine if it's a blocker or not by talking to @joshkimux @jsokohl

[2022-07-07 17:12] laineymajor commented on #43950
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/VSP---Release-Tools-FE-5fc9325744944e0015ed1861/issues/department-of-veterans-affairs/va.gov-team/43950?planning-poker) with ZenHub @jhonnyoddball

[2022-07-07 17:12] CBonade opened #43951 "Explore options to better display the full product directory"
## Issue Description
The [product directory confluence page](https://vfs.atlassian.net/wiki/spaces/TTT/pages/2220556289/User+Research+Product+List) is very hard to look through as it spans many screen heights and widths. We need to experiment with ways to make this easier to digest. Some ideas we had for elements we can use:

~~Expand Boxes~~ (removed)
~~Defining column widths on the table~~ (remo

[2022-07-07 17:12] alexandec commented on #41668
The CORS issue couldn't be resolved, so instead we are putting the build artifact files in a different bucket where we can easily manage CORS ([see PR](https://github.com/department-of-veterans-affairs/vets-website/pull/21597), which is merged).

[2022-07-07 17:13] humancompanion-usds opened #43952 "Request access to Google Analytics and/or Domo"
# Request Google Analytics and/or Domo access

## What this form is for
Use this template to request access to Google Analytics and/or Domo. Please complete steps 1 & 2 below.

## 1. Access Requirements
Please check the analytics tool(s) you need access to:
- [x] Google Analytics
- [x] Domo
- [ ] (Platform Teams only) BigQuery

## 2. User Email Address to Receive Access
**Due to privacy concerns,

[2022-07-07 17:17] skylerschain commented on #30030
Yeah, I guess the question is: Is this an actual error in finding an appeal, or does this user just not have any appeals?

If they're not expecting to see any appeals, we don't need to show the error message. If they are (i.e. if one exists but we just can't fetch it), we should show a message.

Maybe @Mottie or @michelpmcdonald knows the answer to the above?

[2022-07-07 17:20] CBonade opened #43953 "Explore format for the YAML-form-generated GitHub issue to reduce height."
## Issue Description
In our user testing, many users did not see the follow-up step for creating an issue, as the issue that's created is very long resulting from displaying all the form entries. We should try and shorten this up so the user can see the follow-up comment, to avoid users becoming confused about the rest of the process. Try things such as collapsing the form input results,  or only

[2022-07-07 17:21] saderagsdale commented on #42492
Dupe: https://github.com/department-of-veterans-affairs/va.gov-team/issues/43646

[2022-07-07 17:21] saderagsdale commented on #43646
Dupe: https://github.com/department-of-veterans-affairs/va.gov-team/issues/42492

[2022-07-07 17:27] mleclerc00 commented on #43941
Confirmed working in staging
<img width="587" alt="image" src="https://user-images.githubusercontent.com/76792875/177833856-8c2384c0-d4cf-45f5-8220-45382393ad9b.png">
<img width="587" alt="image" src="https://user-images.githubusercontent.com/76792875/177833892-4e34c915-9418-4cce-a869-1ef513ab4f17.png">
<img width="594" alt="image" src="https://user-images.githubusercontent.com/76792875/177833942-