[2022-07-12 16:34] brianseek commented on #43522
@loripusey this will be ready to validate on stage later today.

[2022-07-12 16:35] golavarr-va opened #44194 "Offboarding of Mark Rioux"
# Instructions
Fill out name of individual and *Description* section below.

# Description
Please provide the following information about the individual being offboarded:
- name:

- team name:

- role on team:

- expected last day:

- company they work for:

- email:

- GitHub username:

- additional access they may have:

## Acceptance Criteria
*Performed by Platform team. Detailed instructions f

[2022-07-12 16:36] ericasauv09 opened #44195 "[Research] Payment Info V2: Update research artifacts"
## Background
The conversation guide, research plan and prototype have been created for the Payment Info version 2 however, we now need to update these artifacts in order to move forward with our research for this initiative.

## Tasks
- [x] Update [conversation guide](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/my-va/payment-history/

[2022-07-12 16:41] mleclerc00 commented on #44194
/request Mark Rioux

[2022-07-12 16:42] joshkimux commented on #41813
Opening this up again after testing to verify the fixes 🙇

For cases where a user is uploading a document but doesn't select the document type, focus goes directly to the checkbox instead of the first error on the page which can result in screen reader users missing that there are more issues above.

There's also an interesting bug where the error message for the checkbox will persist even after t

[2022-07-12 16:44] CoryTrimmUSDS commented on #44194
Removed from Slack.

[2022-07-12 16:45] pjhill commented on #44117
Looks good! We can circle back and clean up unit tests at the end of this round of changes.

[2022-07-12 16:45] #44117 closed

[2022-07-12 16:46] Mottie commented on #41813
We should be able to fix it

[2022-07-12 16:49] jjulian commented on #43745
This info is invaluable! And it feels like it should live inside the codebase.

[2022-07-12 16:52] shiragoodman opened #44196 "Tree test revised left navigation for Research and Design page on Platform Website"
## User Story
As a researcher, designer or team stakeholder on the VA Platform, I want to easily identify the

- Guidelines
- Resources
- Practical tips
- And VA-specific constraints

...that may affect my team's research and design practice on VA platform

Assignee:
@jimuhh
Peer Reviewer:
@claytonzook

## Description
This revised navigation is based on results from an unmoderated card sort (ticke

[2022-07-12 16:53] shiragoodman commented on #44196
@jimuhh FYI - this ticket will need to be updated before we can begin work. It is also blocked until we complete #39779

[2022-07-12 16:57] #43700 closed

[2022-07-12 17:17] acrollet commented on #42545
@loripusey @niradatta1 here are the spanish round 2 screenshots - please let me know if any additional screenshots are needed:

[Round 2 screenshots](https://app.zenhub.com/files/133843125/3151dcdb-e4b3-496d-8d7c-326a2cc2ac5c/download)

[2022-07-12 17:19] acrollet commented on #42545
I've documented my process for generating the screenshots here: https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/health-care/checkin/translations

[2022-07-12 17:21] aubreyarcangel opened #44199 "VA Performance Dashboard CICD pipeline setup"
## Product Outline
[Link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/product-management/product-outline-template.md)

## High Level User Story/ies
As a _____, I need _____ so I can _____.

## Hypothesis or Bet
**If** _we make this change_ **then** _we expect this to happen_.

## OKR
_Which Objective / Key Result does this epic push forward?_

## Definition o

[2022-07-12 17:21] pjhill commented on #43939
Looking good --
* 89 instances of FE
* 89 instances of BE
* 89 instances of other
* form updates look good
* repo fields listed in docs

[2022-07-12 17:21] #43939 closed

[2022-07-12 17:22] pjhill commented on #41708
Research and synthesis have been completed and are available in the [Mural](https://app.mural.co/t/adhocvetsgov9623/m/adhocvetsgov9623/1654824124143/1d88c4abe84856b54cdedb5b44c9dda9eff281ca?sender=uc4d00ea50beebdfad05a4846).

[2022-07-12 17:22] #41708 closed

[2022-07-12 17:30] tpharrison commented on #43654
@SKasimow @Samara-Strauss @adamwhitlock1

I removed the BE feature flag for personal information.  I tested in staging and everything looks good.  I'll test it in production after today's daily deploy.

[2022-07-12 17:32] ldelacosta commented on #44071
This will be handled by the VAMF team. No work is needed for FE. Closing out the ticket.

[2022-07-12 17:32] #44071 closed

[2022-07-12 17:35] LEHigley commented on #44184
@NCHLiberty what email address would you like me to use?

[2022-07-12 17:35] Samara-Strauss commented on #43654
Great, thank you!

[2022-07-12 17:36] k80bowman commented on #29835
Closing, this has been resolved
![image](https://user-images.githubusercontent.com/12739849/178556748-4d8a18c6-baed-4c12-9459-21ba708f789f.png)
![image](https://user-images.githubusercontent.com/12739849/178556768-5af760ef-a904-4dca-9a41-fb27ddf103f7.png)

[2022-07-12 17:36] #29835 closed

[2022-07-12 17:37] Cmjones233 opened #44202 "[TBD] OIT_CTOHealth Data Exploration"
From @Allison- Can you add a card to the board to see if you are able to explore what's there?  let's wait to add any of it until Chris finishes his MVP after y'all's user reserach

[2022-07-12 17:39] Cmjones233 commented on #43359
Adding PCI and COVID. Waiting for Melissa's feedback

[2022-07-12 17:40] oleksii-morgun-va opened #44203 "AWS access for Oleksii Morgun"
### COR Name

Other - please specify in 'Additional Notes'

### Vendor Onboarding Representative Name

Other - please specify in 'Additional Notes'

### Your Name

Oleksii Morgun

### Your Email

oleksii.morgun@va.gov

### Team, Role, and Company of the target individual

MHV Secure Messaging, Front End Engineer, By Light Professional IT Services

### Product Manager (PM) name and email

Lichelle

[2022-07-12 17:47] pjhill commented on #43937
I think the doc needs a quick update -- https://vfs.atlassian.net/wiki/spaces/TTT/pages/2193359369/VA.gov+Product+Directory+Documentation

[2022-07-12 17:48] pjhill commented on #43925
This addresses usability significantly. This looks great now!

[2022-07-12 17:48] #43925 closed

[2022-07-12 17:48] pjhill commented on #43637
All that remains is to come to a consensus for for the plan.

[2022-07-12 17:50] jnaeemva opened #44205 "Platform Orientation Template Jamil Naeem"
## Welcome and Introduction
Welcome to the Veteran's Administration (VA) Veteran Facing Services (VFS) team!
As a new VFS team member, you will be working in the web ecosystem we call the VA.gov Platform (or "**The Platform,**" for short).  The tasks on this list are designed to get you up to speed on the role of Platform, making it easier for you to do your job.

Because the VA is a huge organiza

[2022-07-12 17:54] NCHLiberty commented on #44184
hI. The BAH email address would be more convenient for Shoaib. Thank you

[2022-07-12 18:00] #44184 closed

[2022-07-12 18:04] laucon opened #44206 "CANCELLED - Add information about page intros to style guide"

[2022-07-12 18:10] calquisola commented on #44087
on hold.  devops privileges is needed for this this one.  Will resume when devops privileges are granted.

[2022-07-12 18:10] ewilson-adhoc commented on #43063
We need better diagraming tools, reaching out to get licenses for lucidchart

[2022-07-12 18:11] mleclerc00 commented on #44203
@oleksii-morgun-va

I was unable to find you in the vfs/platform roster please see

If user is on a VFS team but not in the VFS Team Roster, add the 'NOT YET' label and instruct them to start the Platform orientation process https://depo-platform-documentation.scrollhelp.site/getting-started/Platform-Orientation.1877344532.html

[2022-07-12 18:11] tpharrison commented on #44193
@joeniquette This ticket outlines the issues we're seeing with the new sign-in service.  Let me know if you have any questions or if you need more information.  Thanks!

cc/ @Samara-Strauss @SKasimow

[2022-07-12 18:12] CherylEvans opened #44207 "Midpoint Review - Content Feedback - Digital Health Platform, MVP"
## VFS acceptance criteria
- [ ] Let Platform know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
-

## Feedback
- **Must** = the feedback must be applied
- **Should** = the feedback is best practice
- **Consider** = suggestions/enhancements

**Must:**
- Disconnect Device pop-up

[2022-07-12 18:14] mleclerc00 commented on #44203
User found in vfs team roster

## For AWS Access
User: Oleksii Morgun
COR: Sean Good
VOR: Kenneth Brown
Approval required: @department-of-veterans-affairs/operations-aws-approvers
Admin level: no

[2022-07-12 18:18] markfallows commented on #31734
Added an additional task to this ticket to check that any necessary events/flags for analytics have already been added, or to add them prior to activating this in prod.

[2022-07-12 18:21] markfallows opened #44208 "[FE] 10-10EZ Add Analytics Components for Medicare Claim Number"
This is the ticket to track if there are any necessary events/tags/etc that need to be added as a part of the Medicare Claim Number field addition.

[2022-07-12 18:22] markfallows opened #44209 "[FE] 10-10EZ Add Analytics Components for Medicare Claim Number"
This is the ticket to track if there are any necessary events/tags/etc that need to be added as a part of the Medicare Claim Number field addition.

[2022-07-12 18:25] loripusey opened #44210 "Pre-Check-in: Handle 4 Modalities (i.e. CVT, VVC, phone, in-person)"
## Background
We have been asked to enable Pre-Check-in for all VA modalities, these include:
- In person (already enabled)
- CVT
- VVC
- Phone

## Wireframes
[CVT](https://www.figma.com/file/sK2vIx6giAynNqUFR0l4Wx/Production-%7C-Check-in?type=design&node-id=239-863&mode=design)
[VVC](https://www.figma.com/file/sK2vIx6giAynNqUFR0l4Wx/Production-%7C-Check-in?type=design&node-id=239-862&mode=design)

[2022-07-12 18:29] loripusey opened #44211 "[SPIKE] Investigate CVT Appointments"
## Background
CVT appointments have a patient-side and a provider-side appointment (2 appts) but they are treated as the same appointment (slack thread)

Comment from Patrick on 7/14
![image.png](https://images.zenhubusercontent.com/60db6a817900f619905e68b1/77afed70-3b36-4b2f-8969-cb679af0e0be)

## Tasks
- Set up some time with Shawn Adams
- Set up some test clinics in Staging with CVT appointment

[2022-07-12 18:30] CBonade commented on #43953
The workflow has been altered to update the issue to a collapsed format before the follow-up comment is posted. Sometimes there is a delay based on GitHub runner availability, but also the follow up comment is delayed as well so I don't think it matters. It will always collapse this before the comment is posted.

[2022-07-12 18:33] katherine-fung commented on #42014
Hi @laurwill,

As we've discussed, we'll recommend the phrasing:

"Showing 11 - 20 of 40 events"

The dash is a hyphen (not an en dash).

After consulting with Josh, we've determined that the page number shouldn't immediately follow the number of displayed search results. The page numbers for navigation should go at the bottom of the results, and use "aria-current" to help people navigate.

[2022-07-12 18:35] vbellissimo opened #44212 "SOCKS access for Vicky Bellissimo"
### Your Name

Vicky Bellissimo

### Your Email

vicky.bellissimo@adhocteam.us

### Your Role and Team

Product Manager, VA VSP

### Product Manager (PM) name and email

Vicky Bellissimo, vicky.bellissimo@adhocteam.us

### Product Owner (PO) name and email

Mike Chelen, michael.chelen@va.gov

### Access Type Requesting

viewers

### Public SSH Key

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDkxLqdjxej9

[2022-07-12 18:42] samcoforma opened #44213 "Answer these CST load time questions"
- [ ] Polling delay potentially defaults to 5 seconds, is there a reason for this time (which is very long)? Task: Ask EVSS about rate limiting.
- [ ] It looks like the same request gets made multiple times (possibly, need to investigate more)... is this occurring accidentally in the JS? Task: investigate and debug.
- [ ] Would it be possible to create some custom API points for consolidated reque

[2022-07-12 18:42] samcoforma opened #44214 "Answer these CST load time questions"
- [ ] Polling delay potentially defaults to 5 seconds, is there a reason for this time (which is very long)? Task: Ask EVSS about rate limiting.
- [ ] It looks like the same request gets made multiple times (possibly, need to investigate more)... is this occurring accidentally in the JS? Task: investigate and debug.
- [ ] Would it be possible to create some custom API points for consolidated reque

[2022-07-12 18:44] samcoforma opened #44215 "Answer these CST load time questions"
- [x] Polling delay potentially defaults to 5 seconds, is there a reason for this time (which is very long)? Task: Ask EVSS about rate limiting.
- [x] It looks like the same request gets made multiple times (possibly, need to investigate more)... is this occurring accidentally in the JS? Task: investigate and debug.
- [x] Would it be possible to create some custom API points for consolidated reque

[2022-07-12 18:47] loripusey opened #44216 "Error Mapping for AWS Timeouts"
## AC

[2022-07-12 18:50] #44213 closed

[2022-07-12 18:50] #44214 closed

[2022-07-12 18:52] ddzz opened #44217 "QA Feedback - Midpoint Review - Digital Health Platform, MVP"
## VFS acceptance criteria
- [ ] Let Platform know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

Feedback for https://github.com/department-of-veterans-affairs/va.gov-team/issues/43787

## Thoughts/questions
- Even if your project requires minimal verification of functionality, it is prudent to deve

[2022-07-12 18:53] #42659 closed

[2022-07-12 18:58] laurwill commented on #42484
Hi @ianpsant! Sorry for the confusion — we're now recommending that we remove the alert completely and replace it with the new H2 "Ask our chatbot a question." We aim to use those info alerts only for a limited time, so this will transition the chatbot into the evergreen page content. And since we're locating the new H2 just under Ask VA, it will still appear close to the top of the page. Let us k

[2022-07-12 18:59] #43830 closed

[2022-07-12 19:04] mdewey commented on #23312
After I tweeked, Here is what I found, errors are happening in two forms

The first is a `BANK NUMBER NOT VALID`, which seems reasonable and when tested, the site failed as expected. [Sample error](http://sentry.vfs.va.gov/organizations/vsp/issues/119910/events/912ae54169964bdba761a14107d0a6f7/?project=4&project=3&statsPeriod=14d)

The second error is a bit stranger. The API is infact returning an

[2022-07-12 19:06] mattwrightva opened #44218 "AWS access for Matthew Wright"
### COR Name

Other - please specify in 'Additional Notes'

### Vendor Onboarding Representative Name

Other - please specify in 'Additional Notes'

### Your Name

Matthew Wright

### Your Email

matthew.wright8@va.gov

### Team, Role, and Company of the target individual

MHV Secure Messaging, Front End / UI Developer, By Light Professional IT Services

### Product Manager (PM) name and email

Li

[2022-07-12 19:11] markfallows opened #44219 "[BE] 10-10EZ Short Form: Include submission count in DataDog"
We want to be able to look at DataDog and determine how many total 10-10EZ successful submissions occurred and break it down to how many long forms + how many short forms were submitted.

Update: Mark mentioned in slack that he wants all HCA stats duplicated for short form submissions.

[2022-07-12 19:12] markfallows opened #44221 "[BE] 10-10EZ Short Form: Include submission count in DataDog"
We want to be able to look at DataDog and determine how many total 10-10EZ successful submissions occurred and break it down to how many long forms + how many short forms were submitted.

[2022-07-12 19:12] jacobworrell commented on #44215
@samcoforma for any investigation that yields a possible debug opportunity please communicate with the team async as soon as those possibilities emerge, so we can determine whether they're worth pursuing during the sprint.

[2022-07-12 19:13] aliyahblackmore commented on #43705
Hi @laurwill ! As discussed, the update was made in Drupal!

Preview link:
(http://preview-prod.vfs.va.gov/preview?nodeId=754)

I also wanted to flag something that I noticed re: the form and the mail option:
The content around the mail option isn't in the scope of the request for this ticket, but I noticed that there could maybe be some more clarity around where the form should be mailed. When yo

[2022-07-12 19:15] ianhundere commented on #42770
still waiting for dual shipping to be disabled in BRD.

[2022-07-12 19:23] jacobworrell commented on #43729
Update here: I am working with Kayla Wantanabe from the Lighthouse team to obtain the claims status data schema available. I expect her to respond before the end of the week.

[2022-07-12 19:26] joeniquette opened #44222 "Update user info model with SiS data"
The /user endpoint response does not populate all the required fields for `profile` when signing in with SiS. When signing in with the same user with SSOe, the user data object is being set correctly. You can view the current fields in this screen capture:
![Screen Shot 2022-07-12 at 15.26.44.png](https://images.zenhubusercontent.com/5f6a5e454ede530876cfc425/935efc50-d5c0-4a59-aaaa-37fb540f07cb)

[2022-07-12 19:29] jonathan-epstein13 commented on #43564
Hello @wesrowe and @fmccaf1. I wanted to give you an update. We were able to see that the interactions are being tracked.

![image.png](https://images.zenhubusercontent.com/616700bf2a260a7323c067fd/03892931-df9a-467b-be50-9d99b1ac1041)

Examples;
Clicking on VA Benefits and Healthcare drop down|![image.png](https://images.zenhubusercontent.com/616700bf2a260a7323c067fd/e39844f1-66e3-45d3-a287-37f47

[2022-07-12 19:32] ScottyRJames commented on #43747
We (VA.gov) will add a callback on our API to allow VBS to POST a document that includes the user identifier for those that have new statements available. From there the API will build a new worker to make multiple calls to VA Notify to alert the Veteran. These statement batches come in a few times a month depending on the station.

[2022-07-12 19:36] loripusey commented on #43522
Validated

[2022-07-12 19:38] #43528 closed

[2022-07-12 19:39] ScottyRJames commented on #43779
Recent updates from platform about DataDog:

* Migrated to new DataDog (GovCloud) account at the end of June, the old commercial account is no longer in use.
    * [Additional Details](https://app.zenhub.com/workspaces/platform-infrastructure-team-6112bc325f570300140f7852/issues/department-of-veterans-affairs/va.gov-team/23513)
* They are currently identifying products that have mission-critical p

[2022-07-12 19:39] #43779 closed

[2022-07-12 19:43] cohnjesse commented on #43901
@RLHecht It looks like our React widget has basically no content right now, it just changes where the link goes (eBenefits vs VA.gov) so we will need content for both what should be shown to folks inside the staged rollout and those outside it

[2022-07-12 19:46] markfallows commented on #42322
Content looks mostly good.  May need a little massaging / editing to make sure it fully fits in.

Next step is to start working on a mockup of the page with the new information.

Implementation of downloading application and/or submission page may be done at a separate time.

[2022-07-12 19:46] samcoforma commented on #44215
@jacobworrell Will do. Those may turn into vertical slice tickets of their own pretty soon after I confirm.

[2022-07-12 19:48] rjohnson2011 commented on #44176
PR created and in review https://github.com/department-of-veterans-affairs/product-directory/pull/367

[2022-07-12 19:49] ianhundere commented on #41203
currently auditing resources against devops engineers access of resources via cloudtrail; ex:
`aws cloudtrail lookup-events --lookup-attributes "AttributeKey=Username,AttributeValue=Ryan.Beckwith" --query 'Events[].[EventTime,EventName,Username,EventId]' --output table`

[2022-07-12 19:49] markfallows commented on #41809
Closing as duplicate and unnecessary.

[2022-07-12 19:49] #41809 closed

[2022-07-12 19:49] markfallows commented on #41810
Closing as duplicate and unnecessary.

[2022-07-12 19:49] #41810 closed

[2022-07-12 19:49] markfallows commented on #43437
Closing as duplicate.

[2022-07-12 19:49] #43437 closed

[2022-07-12 19:50] markfallows commented on #38105
Closing this ticket for now. Short form bypasses this question, so making this mandatory in schema would cause conflicts.

[2022-07-12 19:50] #38105 closed

[2022-07-12 19:54] joshkimux opened #44224 "[Research] Answer outstanding questions for rated disabilities page"
# Answer outstanding questions for rated disabilities page

## Steps to complete this ticket
- [x] Reach out to content team
- [ ] Ask general slack channel
- [ ] @Evafloyd to (possibly) reach out to Coforma Veterans
- [ ] Answer outstanding questions
- [ ] Determine next steps

## Previous research (conducted in 2019)
- [Discovery takeaways](https://github.com/department-of-veterans-affairs/va.go

[2022-07-12 19:55] mdewey commented on #43481
Current status:

- @andaleliz  and I are working with the EVSS team (I think that's the right team name) and we discovered that there system is not returning an expected error message
- After a few back and forth, they submitted a ticket with another team to correct the error message, [link to ticket](https://login.max.gov/cas/login?service=https%3A%2F%2Fvajira.max.gov%2Fservicedesk%2Fcustomer%2Fp

[2022-07-12 19:55] RLHecht commented on #43043
Moving this to validate and will create as we're waiting for feedback before implementing any of the changes. Will create a new ticket for that work.

[2022-07-12 19:57] markfallows commented on #31507
Work has already been completed; closing as already done.

[2022-07-12 19:57] #31507 closed

[2022-07-12 19:59] markfallows commented on #41525
This has been completed.

[2022-07-12 19:59] #41525 closed

[2022-07-12 19:59] RLHecht commented on #42748
@megzehn I just added Lancaster to this list. Tiffany worked with them on this but she wants us to do a review and still send to Jessica for her approval.

[2022-07-12 20:01] vbellissimo opened #44225 "Discuss VFS Products List with team"
Share with team info about product list project from QA team.

Acceptance Criteria:

- [x] Review product outline and product

- https://vfs.atlassian.net/wiki/spaces/PPS/pages/2138800169/VFS+Product+Directory+-+Product+Outline
- https://vfs.atlassian.net/wiki/spaces/TTT/pages/2220556289/User+Research+Product+List

- [x] Start thinking about where in the IA to fit this product list

[2022-07-12 20:06] joshkimux opened #44226 "Content review from Benefits Crew for Rated Disabilities"
## What does your team need support for? Check all that apply.
- [ ] Launching one or more new unauthenticated (static) VA.gov pages
- [ ] Making revisions to one or more existing unauthenticated (static) VA.gov page
- [ ] Launching a new online form, app, or tool on VA.gov
- [x] Making revisions to an existing online form, app, or tool on VA.gov
- [ ] Something else (please add details in the nex

[2022-07-12 20:07] seanasewell opened #44227 "Midpoint Review - Design Feedback - Digital Health Platform, MVP"
## VFS acceptance criteria
- [ ] Let Platform know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
- Great work!

## Feedback
- **Must** = the feedback must be applied
- **Should** = the feedback is best practice
- **Consider** = suggestions/enhancements

**Must:**

**Should:**

[2022-07-12 20:08] MitchLivingstone opened #44228 "[Story] Update verbiage to the school accreditation section"
## Issue Description
To update the verbiage in the  "School accreditation"  section on the comparison tool cards.

---
## Tasks
- [ ] _Update new verbiage to cards when information is provided.  _
- New verbiage will be provided by Cinda.

![image.png](https://images.zenhubusercontent.com/62699917a261e69763726e6b/34bf1870-388b-4c67-832a-3551d2d2fe36)

**Updated: 07/18/2022**
Please update the belo

[2022-07-12 20:12] joshkimux commented on #41449
@jerekshoe if you have time I'd love to sync with you on this! Just talked to the design team and determined that we probably won't be able to do any deeper fixes until later, so we should focus on temporary fixes in the meantime 😄

Action items for me:
- Reach out to DST to talk about tabs and if it's a component that will be remediated or retired
- Brush up on aria tab role

[2022-07-12 20:21] mgleo commented on #35850
[Observer notes spreadsheet](https://docs.google.com/spreadsheets/d/1gK6ICNRwK7usi-kfnrr4arZKQls5RPQQty7wHREteUQ/edit?usp=sharing)

[Topline summary](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/combined_va_debt_portal/research/usability-apr-2022/topline-summary.md)

[2022-07-12 20:24] steel36 commented on #43519
Reviewed initial format of page.  Dan and I discussed potential directions to consider, particularly trying to streamline it.  There are questions as to whether there should be supplemental pages to address those who may have additional desire for insight.

[2022-07-12 20:25] andaleliz commented on #43481
@SKasimow I'm going to reassign this to you so we don't lose track of it.

[2022-07-12 20:28] ianpsant commented on #42484
We're currently exploring, working with leadership, on moving the chatbot off it's own page to the bottom right corner of VAgov, where most people expect a chatbot to be located. As such, we were hoping to have the Info Alert box at the top of Contact Us until October. We'd also be able to get some analytics on how many people would click on the Info Alert link vs the Section link. Would there be

[2022-07-12 20:29] #43654 closed

[2022-07-12 20:35] pjhill commented on #43420
Hooray more reliability!

[2022-07-12 20:35] #43420 closed

[2022-07-12 20:39] andaleliz commented on #43750
This is in progress, but will need to continue into the next sprint.

[2022-07-12 20:39] kristenmcconnell commented on #41435
We will be at CCOPC and the Annex on 7/19 and CCSC on 7/20. We have one last set of final questions out to the sites, but we are good even if they don't get back to us with that information. As a result, I'm closing out this ticket. Nira and I have also finalized our travel, flights, etc.

[2022-07-12 20:40] pjhill commented on #37872
@rbeckwith-oddball -- Thanks for knocking this out -- hopefully the PR to remove the AWS synthetics is not too stale. Let's get that merged.

[2022-07-12 20:41] pjhill commented on #43938
The change is indeed merged and looks good -- thanks!

[2022-07-12 20:41] #43938 closed

[2022-07-12 20:42] pjhill commented on #43104
Is that TUD ticket created somewhere? Would you please link it form here when you get a chance?

[2022-07-12 20:42] pjhill commented on #41076
The release has been completed.

[2022-07-12 20:42] #41076 closed

[2022-07-12 20:42] andaleliz opened #44229 "[Design] Profile - Explore removing alert and input messaging on notifications page"
The alert on the page for first time UX, and the input messages on the radio buttons were designed to support the KPIs for our MVP.

We're no longer tracking those, so I wonder if we can revisit having those on the page. It would clean up the UI if we could eliminate those.

This ticket will track work needed to evaluate how it might impact the notification settings page if we remove these compone

[2022-07-12 20:44] andaleliz commented on #43489
We met yesterday and determined we'll hold off on any further design tasks for this initiative. There is likely FE and BE work needed - @SKasimow can you go ahead and make tickets for those per our convo yesterday?

I went ahead and [created a ticket for the backlog](https://github.com/department-of-veterans-affairs/va.gov-team/issues/44229), assigned to me, Christina, and Sharon since it needs to

[2022-07-12 20:44] #43489 closed

[2022-07-12 20:46] pjhill commented on #44096
I'm still hunting for an appropriate place to stash this code. Perhaps it would be best to carve out a subdirectory in `devops` with a README explaining the contents and the purpose?

[2022-07-12 20:49] twoangstroms commented on #43519
Also moved child pages in the "Comm Playbook..." child pages. Will make two draft pages ("Test") to see how the different models work out in practice.

[2022-07-12 20:58] SKasimow opened #44230 "FE | Profile | Change Address Prompt Modal | GA Bug"
## Background

The GA widget is showing a modal event capture that includes other messaging info along with PII.

## Tasks
- [x] Turn off Feature Toggle until resolved
- [x] Investigate how PII is being captured and reported thru GA and options to fix
- [x] Explore whether there are options to remove the "not set" text to make reports easier to read.

## Acceptance Criteria
- [x] Add what must occ

[2022-07-12 20:59] jimuhh commented on #39779
@shiragoodman. I'm ready to close this now. @naomimarcussen is out this week but that wouldn't stop me from turning her iteration of this nav into a tree test to discuss when she gets back.

[2022-07-12 21:00] briandeconinck opened #44231 "Midpoint Review - Accessibility Feedback - Digital Health Platform, MVP"
## VFS acceptance criteria
- [ ] Let Platform know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
- Just to reiterate what I said in the meeting, thank you for providing the link to staging! We don't typically get actual HTML at midpoint reviews and it's helpful for me to see.
-

[2022-07-12 21:03] #42237 closed

[2022-07-12 21:05] adamwhitlock1 commented on #43087
@SKasimow This should be able to be closed out. We can see all three events in GA now

![Screen Shot 2022-07-12 at 3.04.52 PM.png](https://images.zenhubusercontent.com/60ddebd504ce2452d0e0fa92/3dcd4b09-0377-4f47-b60f-9ed9b1d49099)

[2022-07-12 21:10] ajakabcin commented on #43571
Confirmed sketch files are updated - thanks @aagosto90 !

[2022-07-12 21:10] #43571 closed

[2022-07-12 21:16] sstrassberg commented on #41122
@shiragoodman You can use this link for "Update the research repo board": https://github.com/department-of-veterans-affairs/va.gov-research-repository/issues/70

But I'm confused about the research-plan and conversation-guide comments. They are linked to the templates. Are you saying they shouldn't?

[2022-07-12 21:20] kristenmcconnell commented on #42935
Based upon Friday's discussion, I updated the user flows. I came up with two possible options:
- [Verify identify > Contact info > EC > NOK > Travel reimbursement > Your Appointments > Check-in complete](https://www.sketch.com/s/42a478e7-cb38-49e5-9500-9b21182873da/v/2rlmAe/a/kaPaz5A/r/nZ5m14)
- [Verify identify > Contact info > EC > NOK > Your appointments > Check-in complete > Travel reimburseme

[2022-07-12 21:21] tayism commented on #43648
Adding @twoangstroms to this issue as a note-taker for the study.

[2022-07-12 21:39] brianseek commented on #42561
testing changes only, nothing to validate in stage or prod. Moving to closed

[2022-07-12 21:39] #42561 closed

[2022-07-12 21:39] brianseek commented on #43522
closing with validation

[2022-07-12 21:39] #43522 closed

[2022-07-12 21:50] SKasimow opened #44232 "BE | Profile | Military Info | Documentation"
## Background

Complete documentation for Military information used in profile.

## Tasks
- [ ] Add BE documentation for Military Info in the private repo
- [ ] Link to the documentation from the public repo
- [ ] Make necessary updates to existing documentation (incorporate feedback and update broken links)

## Acceptance Criteria
- [ ] Add BE documentation for Military Info in the private repo
-

[2022-07-12 21:53] #43523 closed

[2022-07-12 22:00] laurwill commented on #43705
Thanks Aliyah! Looks good, and I made a little tweak to that mailing address note as you suggested (split it into 2 sentences since it was getting a little long). @RLHecht , this is ready for you to review (in place of Beth.)

[2022-07-12 22:06] jaredcunha commented on #41813
I think I can see what's happening there, I take a look in the morning because signing in isn't working right now.

[2022-07-12 22:15] benbrasso-agile6 commented on #41392
Finished these

https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/checkin/research/staff-facing/bay-pines-in-person/research-findings.md

https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/checkin/research/veteran-facing/bay-pines-in-person-uat/research-findings.md

Just need to post to research repo and messa

[2022-07-12 23:04] shiragoodman commented on #41122
@sstrassberg sorry, I should've clarified. The research plan and conversation guide are linked as templates and should be. However when we give them guidance for how to name their file in github, "research-plan.md" and "conversation-guide.md" text has been autoformatted to a url... similar to the way VA.gov is always autoformatted to be a url. They should be formatted as text.  Hope that clarifies

[2022-07-12 23:14] chloedotbrown opened #44233 "BigQuery QA of Standardized Content Data"
## Issue Description
Since content connector query did not pass uniqueness tests when using as comparison for #44072 QA and we know there have been issues with this dataset in the past, conduct a quick QA to ensure data quality meets the standards set by our new protocols.

---
## Tasks
#### Structure tests
- [ ] Uniqueness
- [ ] Nulls
- [ ] Completeness

#### Accuracy tests
- [ ] All metrics or r

[2022-07-12 23:14] chloedotbrown opened #44234 "BigQuery QA of Standardized Content Data"
## Issue Description
Since content connector query did not pass uniqueness tests when using as comparison for #44072 QA and we know there have been issues with this dataset in the past, conduct a quick QA to ensure data quality meets the standards set by our new protocols.

---
## Tasks
#### Structure tests
- [ ] Uniqueness
- [ ] Nulls
- [ ] Completeness

#### Accuracy tests
- [ ] All metrics or r

[2022-07-12 23:22] shiragoodman commented on #39779
@jimuhh can you please update the tasks and AC of this ticket? I want to make sure I know what work was completed in this ticket and what should be moved to #44196. Once that's complete, we can close this out.

[2022-07-12 23:23] shiragoodman commented on #40489
@markfallows I removed the short form label, but it still has the 1010 ez label.

[2022-07-12 23:41] #43868 closed

[2022-07-12 23:41] #43161 closed

[2022-07-12 23:43] chloedotbrown commented on #44233
Deleting card - duplicate created due to Zenhub error.

[2022-07-12 23:43] #44233 closed

[2022-07-13 00:01] lindsay-insco commented on #43539
Sent

[2022-07-13 00:01] #43539 closed

[2022-07-13 00:03] lindsay-insco opened #44235 "[07/13/22] AVS Newsletter"
## Description
Every other Wednesday, opposite of office hours, a newsletter is sent out to users and posted to the product SharePoint to advertise existing and new product features, cover FAQ, and potentially inform users of news that may not be best held off until the next office hours.

---

## Acceptance Criteria
- [ ] Draft newsletter including Q & A posted in slack channel for review by lead

[2022-07-13 00:03] lindsay-insco opened #44236 "[07/13/22] AVS Newsletter"
## Description
Every other Wednesday, opposite of office hours, a newsletter is sent out to users and posted to the product SharePoint to advertise existing and new product features, cover FAQ, and potentially inform users of news that may not be best held off until the next office hours.

---

## Acceptance Criteria
- [ ] Draft newsletter including Q & A posted in slack channel for review by lead

[2022-07-13 00:04] lindsay-insco opened #44237 "[07/20/22] VEText Newsletter"
## Description
Every other Wednesday, opposite of office hours, a newsletter is sent out to users and posted to the product SharePoint to advertise existing and new product features, cover FAQ, and potentially inform users of news that may not be best held off until the next office hours.

---

## Acceptance Criteria
- [ ] Draft newsletter including Q & A posted in slack channel for review by lead

[2022-07-13 00:12] #40672 closed

[2022-07-13 00:13] lindsay-insco commented on #40671
Whitelisted by @djfredvs

[2022-07-13 00:13] #40671 closed

[2022-07-13 00:14] lindsay-insco commented on #40669
Whitelisted by @djfredvs

[2022-07-13 00:14] #40669 closed

[2022-07-13 00:27] #43610 closed

[2022-07-13 00:29] wesrowe commented on #43564
@jonathan-epstein13, can we not create a funnel that tracks successive accordion events? I suspect I'm missing context about what is/isn't possible in a funnel. (I've been research events this afternoon but haven't yet tried to build a funnel from them.)

[2022-07-13 00:29] #43006 closed

[2022-07-13 00:41] cindymerrill commented on #41585
Started drafting readout presentation for Aug 8 VA Design/Research/Content sync meeting: https://docs.google.com/presentation/d/1r_SLMOio1HrUXRJ2U5359KCTve9MDR2549JYyD9ukvY/edit?usp=sharing

[2022-07-13 00:43] #44063 closed

[2022-07-13 00:43] lindsay-insco commented on #44062
Added by @chancetheoriginal

[2022-07-13 00:43] #44062 closed

[2022-07-13 00:44] cindymerrill commented on #44054
Drafted conversation guide and revised it and research plan per discussion with Dave Conlon today where he approved them. Slacked Shane to launch recruiting tomorrow.

[2022-07-13 00:44] #44054 closed

[2022-07-13 03:12] bkjohnson commented on #39727
Re: the `aria-labels`:

I don't know why they were added. I've assumed they were added to solve a problem, or requested by someone, but I haven't been able to find a concrete reason for them to be there. Ideally we would know the reason so that we can be sure that removing them doesn't break something for someone.

---

Thank you for the additional info on associating error messages with inputs, I

[2022-07-13 04:36] rjohnson2011 commented on #44176
PR open -> https://github.com/department-of-veterans-affairs/product-directory/pull/367

[2022-07-13 12:38] kjduensing commented on #42716
@calquisola can you close this if it's done please?

[2022-07-13 12:38] kjduensing commented on #40678
@calquisola what else needs to be done on this?

[2022-07-13 13:10] katherine-fung commented on #35894
Thanks for sharing that context @clantosswett! I have a few other questions about what exactly the errors mean, to see if we're explaining them to users in the best way possible. I'll reach out to you on Slack to set up a time.

[2022-07-13 13:17] sstrassberg commented on #41122
@shiragoodman Okay, yes that makes sense. Thanks for clarifying.

[2022-07-13 13:18] hdjustice opened #44238 "[Design] 10-10CG - Mulesoft Ph 2: Content to encourage email input"
## Background
As part of the Submission page content revision to align with MuleSoft Phase 2 (queuing), the main communication from the Caregiver team will be through email channels.  We want to add content around the email fields within the application to encourage email input (i.e. how useful it would be to communicate).

See **[CG meeting notes from 7/8/22](https://github.com/department-of-vete

[2022-07-13 13:19] loripusey opened #44239 "[SPIKE] [BUG] Research if there’s any known QR code bugs associated with text messages not populating"
## Background
This was a recommendation that came out of the [Bay Pines research study](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/checkin/release-plan/check-in-release-notes.md).

This bug was witnessed on an Android device during research efforts.

## Task
- Research if there’s any known QR code bugs associated with "check in" text messages not

[2022-07-13 13:19] hdjustice commented on #44238
@nicko-amida - Hey there, I created this ticket for us to think about adding some info around the email fields on how it would be used for communications.  This isnt an immediate need, but something we should think about before October.
cc @markfallows

[2022-07-13 13:20] loripusey opened #44240 "[SPIKE] [BUG] Research how a Veteran may have received both a system not operational message from CHIP and a second message with a link to start their check-in."
## Background
This bug was witnessed during research efforts at Bay Pines. Fairly certain it was at Bay Pines VAMC Building 100 3D (General Surgery, Vascular Surgery, Plastics, Podiatry).

This particular clinic was not using PCI due to the MSAs needing to print routing sheets from VistA upon check-in. The way they managed this was making all patients check-in with the MSA vs. using PCI. No poster

[2022-07-13 13:25] loripusey commented on #42596
@benbrasso-agile6 the only update for the product guides relates to the removal of the pre-check-in expiration date

[2022-07-13 13:26] benbrasso-agile6 commented on #38176
@brianseek think the event is firing? I haven't seen any events come through for this query in GA - https://analytics.google.com/analytics/web/?authuser=0#/report/content-pages/a50123418w177519031p184624291/_u.dateOption=last30days&explorer-table.advFilter=%5B%5B0,%22analytics.pagePath%22,%22PT%22,%22get-reimbursed-for-travel-pay~2F%22,0%5D%5D&explorer-table.plotKeys=%5B%5D&_r.tabId=navigationsumm

[2022-07-13 13:28] loripusey opened #44241 "[Content] [SMS] Revisions to Message for Health Insurance Review Needed"
## Background
This was a recommendation that came out of the [Bay Pines research study](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/checkin/release-plan/check-in-release-notes.md).

From the research report findings: "When a Veteran needed their health insurance reviewed, they thought something was wrong when reading the response from CHIP, which

[2022-07-13 13:33] #43845 closed

[2022-07-13 13:34] calquisola commented on #42716
sure.

[2022-07-13 13:34] #42716 closed

[2022-07-13 13:34] #40678 closed

[2022-07-13 13:34] loripusey commented on #42596
Got it, thanks.

[2022-07-13 13:36] k80bowman commented on #27411
We're working on a File input web component right now, so I will make sure this gets addressed.

[2022-07-13 13:45] loripusey opened #44242 "[BE] Make appointment time zone available to the frontend"
## User Story
As a Veteran who travels to a clinic outside of my time zone, I would like to see the time zone for my appointments so that I understand what time I need to show up for my appointment.

## Tasks
- [ ] [BE] Make appointment time zone available to the frontend

## Acceptance Criteria
- [ ] Deployed to staging
- [ ] Tested on staging

[2022-07-13 13:46] #44242 closed

[2022-07-13 13:49] laurwill commented on #42339
Steve approved the changes and confirmed that he also showed the page to OSGLI contacts for their approval.

@megzehn, these updated pages are (at long last!) ready for your copyedit:
- http://preview-prod.vfs.va.gov/preview?nodeId=709 (this one essentially went back to how it was before — we had added a list of specific life insurance programs, but now it's back to simply "life insurance benefits

[2022-07-13 13:53] RLHecht commented on #43705
This looks good to me. @megzehn This is ready for you.

[2022-07-13 14:03] #44176 closed

[2022-07-13 14:14] jacobworrell commented on #43308
This is copy to a slack response, but recording here for posterity:

Does anyone have the PII for this veteran? We ma not end up needing it, but I ask because it might end up being easier to isolate the issue if we can investigate the unique aspects of the individual's data records. Also, the ticket mentions that EVSS fixed a "data mismatch". More specifics about that might be helpful. Was that mi

[2022-07-13 14:14] loripusey commented on #38176
Does it matter that this is not the dashboard that we've been using (to my knowledge); here is the dashboard I [use ](https://analytics.google.com/analytics/web/#/dashboard/1iHzB1FJTq6wHfngzN0LQg/a50123418w177519031p176188361/_u.date00=20220404&_u.date01=20220408/)

[2022-07-13 14:17] benbrasso-agile6 commented on #38176
That dashboard is not currently set up to pull the new event in. We would need a new ticket to add the event to the dashboard. Brian took care of adding the event, which is step 1 of 2.

[2022-07-13 14:22] loripusey commented on #38176
How come the link I have for WBC and the link you have show different things?
![image](https://user-images.githubusercontent.com/86678742/178756958-b363c8b3-4db5-4b88-8655-db2753504e11.png)
![image](https://user-images.githubusercontent.com/86678742/178757020-054fdb9e-61c1-4779-ab8f-5d674a1b2123.png)

[2022-07-13 14:32] sarahknoppA6 opened #44244 "Remove Julie Adair from DSVA Slack"
Julie Adair no longer works on the check in experience project and should be removed from DSVA slack.

[2022-07-13 14:34] ajakabcin commented on #43190
@ericasauv09 let's move this to the next sprint to align review of these with review of v2 payment info designs. I'll update the sprint and milestone fields here if you could add to 78 epic. Thank you!

[2022-07-13 14:38] kjduensing commented on #42182
This will be in the review column for a while. RFC is here: https://github.com/department-of-veterans-affairs/va.gov-platform-architecture/pull/26

[2022-07-13 14:38] ajakabcin commented on #42747
Framework/draft of this is created. Remaining info/dates will be filled in once e2e and QA are complete. Given timeline and other collab cycle touchpoints we'll need to complete, we'll likely back around to this in sprint 79

[2022-07-13 14:39] #41736 closed

[2022-07-13 14:40] outerpress opened #44245 "Review VAOS user flows with Dev"
## Background
* We updated the [VAOS user flows](https://www.figma.com/file/xRs9s6QWoBPRhpdYCGc3cV/User-Flow?node-id=0%3A1)
* Some questions remain that require engineering support to answer
* We'll ask engineers to review the flow, answer questions, and surface any missing screens/flows.

## Questions

[2022-07-13 14:42] joeniquette commented on #43250
Completed, new URL: https://vagov.ddog-gov.com/dashboard/52g-hyg-wcj/vsp-identity-monitor-dashboard?from_ts=1657623600000&to_ts=1657663200000&live=false

- I did not reimport the dev tests, they seemed redundant with the staging tests.
- Still need to update the documentation for all the tests (https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity/Monitoring%2

[2022-07-13 14:44] scottymeyers commented on #42476
I think we might be able to utilize the _TextEncoder_ API to validate this on the frontend. Currently exploring this approach.

https://developer.mozilla.org/en-US/docs/Web/API/TextEncoder/TextEncoder

[2022-07-13 14:54] joeniquette opened #44246 "Create safari browser dashboard for SiS"
Similar to how we have the [SSOe safari browser analysis dashboard](https://grafana.vfs.va.gov/d/uUwbkk97k/browser-analysis-authentication?orgId=1) we also want the same dashboard to be made for [SiS.](https://grafana.vfs.va.gov/d/ff03v967z/browser-analysis-authentication-sign-in-service?from=1657623600000&to=1657663200000)

[2022-07-13 14:59] shiragoodman commented on #43126
@allison0034 Looks good. Please update the tasks/AC above, then you can close.

[2022-07-13 14:59] jbritt1 commented on #39887
![beautiful](https://user-images.githubusercontent.com/56260532/178765754-281a2580-0fa5-490e-939d-12e078c681e9.gif)

[2022-07-13 15:05] kjduensing commented on #43955
Ops Docs types: https://vfs.atlassian.net/wiki/spaces/AMT/pages/2269347882/Operational+Documentation

[2022-07-13 15:10] tpharrison opened #44247 "BE - Auth Profile - Direct Deposit - Test BGS Production Access"
## Background
There have been latency issues with BGS-related services over the past couple of months.  The latency occurs for a few hours and then the response times return to normal.  I have requested temporary production access with intent of making a BGS request in production during the next period of latency.

The purpose of this ticket is to familiarize myself with the process of making a BG

[2022-07-13 15:10] tpharrison opened #44248 "BE - Auth Profile - Direct Deposit - Test BGS Production Access"
## Background
There have been latency issues with BGS-related services over the past couple of months.  The latency occurs for a few hours and then the response times return to normal.  I have requested temporary production access with intent of making a BGS request in production during the next period of latency.

The purpose of this ticket is to familiarize myself with the process of making a BG

[2022-07-13 15:11] tpharrison opened #44249 "BE - Auth Profile - Direct Deposit - Test BGS Production Access"
## Background
There have been latency issues with BGS-related services over the past couple of months.  The latency occurs for a few hours and then the response times return to normal.  I have requested temporary production access with intent of making a BGS request in production during the next period of latency.

The purpose of this ticket is to familiarize myself with the process of making a BG

[2022-07-13 15:11] brianseek commented on #39810
Testing only, nothing to validate on stage or prod. Closing with code review and merge

[2022-07-13 15:11] #39810 closed

[2022-07-13 15:16] saderagsdale commented on #43350
@jsokohl @Mottie  Hey both - any thoughts on next steps for this ticket?

[2022-07-13 15:18] saderagsdale commented on #43921
@jsokohl Hey joe - are the tasks for this ticket still accurate? or should we modify them based on your findings this week?

[2022-07-13 15:19] saderagsdale commented on #42488
@jsokohl Are we going to rebuild the design docs so we can move forward?

[2022-07-13 15:21] denisecoveyduc opened #44250 "Sprint 78 Priorities (Benefits 2 Team)"
## Benefits 2: Sprint 78 Priorities
(_Sprint 78: July 13 - July 26, 2022_)  (_Formerly Debt Resolution Team_)

### Sprint Goals
1.  Summarize and synthesize user research session findings
2. Present key research findings and recommendations
3. Establish API for VBS to enable MCP Notifications
4. Architect FSR refactor
5. Finalize lower environment testing for Huron workstream
6. Connect to SharePo

[2022-07-13 15:22] acrollet commented on #41670
## Findings

### Background

This spike was broadened to more generally investigate the slow page load times [reported by Google Analytics](https://dsva.slack.com/archives/C022AC2STBM/p1657219769104509?thread_ts=1657202157.985829&cid=C022AC2STBM). There are several common causes of poor web application performance:

- network speed and/or latency
- application bundle size (how much code the browse

[2022-07-13 15:23] tpharrison opened #44251 "BE - Auth Profile - Technical Discovery - Sidekiq Background Processing"
## Background
Sidekiq is an open source job scheduler written in Ruby. Sidekiq jobs execute the background processes for the VA.gov application.  As a backend engineer, I'll need an understanding of Sidekiq and how it is configured and used to support VA.gov processes.

## Tasks
- [ ] Review Sidekiq features and functionality.
- [ ] Get access to Sidekiq Administration Tool.

## Acceptance Criteri

[2022-07-13 15:24] tpharrison opened #44252 "BE - Auth Profile - Technical Discovery - Sidekiq Background Processing"
## Background
Sidekiq is an open source job scheduler written in Ruby. Sidekiq jobs execute the background processes for the VA.gov application.  As a backend engineer, I'll need an understanding of Sidekiq and how it is configured and used to support VA.gov processes.

## Tasks
- [ ] Review Sidekiq features and functionality.
- [ ] Get access to Sidekiq Administration Tool.

## Acceptance Criteri

[2022-07-13 15:28] saderagsdale commented on #43587
@thehastingsp @Mottie The blocker on this was all the non-Veteran claimant types right? Trying to see if we can unblock by just having the non-veteran claimant types sent to the manual form.

[2022-07-13 15:32] jimuhh commented on #39779
@shiragoodman Will do. Thx.

[2022-07-13 15:36] jimuhh commented on #39779
@shiragoodman -- The only outstanding task is

-  Ensure no links have been broken in this change
...because obviously that could only happen if the revised nav went to staging, so everything else is OK to close.
I wonder whether we shouldn't break out the final production of leftnav to to the next ticket after #44196 since the tree test on next phase might reveal that our planned nav revision doe

[2022-07-13 15:39] michelpmcdonald commented on #42699
We met with Chante Lantos-Swett, explained my concern re-submitting old claims.  In the meeting, she understood my concern, she did not have the answers, but she was going to try to find someone on her end to help us out.
Have not heard back from her yet

[2022-07-13 15:40] ianhundere commented on #41203
reading a variety of best practice guides for configuring permission boundaries.

[2022-07-13 15:42] ytsaoca commented on #41433
Draft: https://docs.google.com/document/d/17Vr8auOBWyWCYtFllmb5Ne5R0g19JoT0XSWAzY628RQ/edit

[2022-07-13 15:45] zachclarity opened #44253 "Playbook for Sidekiq Queue Issues"
Tasks
- [  ] Create a playbook for [reviewing Sidekiq queue](https://api.va.gov/sidekiq/queues) issues and various external services that may be the root cause.

[2022-07-13 15:45] michelle-dooley commented on #43829
Closing this ticket as it is a duplicate of #41575

[2022-07-13 15:45] #43829 closed

[2022-07-13 15:47] saderagsdale opened #44254 "Supplemental Claims | Add to the existing "service""
## Value Statement

**_As a_** developer
**_We want to_** add Supplemental Claims to the `DecisionReview::Service` service
**_So that_** I have the setup needed to send and receive data and handle networking.

## Background Context

This is the lowest level code we have in vets-apis, it is responsible for making remote rest calls to lighthouse, it handles all the networking, sending the Supplement

[2022-07-13 15:48] saderagsdale opened #44255 "Supplemental Claims | Add to the existing "service""
## Value Statement

**_As a_** developer
**_We want to_** add Supplemental Claims to the `DecisionReview::Service` service
**_So that_** I have the setup needed to send and receive data and handle networking.

## Background Context

This is the lowest level code we have in vets-apis, it is responsible for making remote rest calls to lighthouse, it handles all the networking, sending the Supplement

[2022-07-13 15:48] laurwill commented on #42484
Hi @ianpsant , thanks for this update — we don't see any issue with keeping the alert until October. We can update the language in the alert instead of replacing it with the new H2 section.

Just to confirm, do you mean comparing analytics from before and after we take the alert down in October? We weren't planning to have both the alert and the H2 section live on the page at the same time.

[2022-07-13 15:59] jacobworrell commented on #43308
Response:

_does anyone have the PII for this veteran?_  - Yes I do and can share it with you over encrypted email if you have a VA email.
_Also, the ticket mentions that EVSS fixed a "data mismatch"._ I can get more specifics but our team works closely with the EVSS team because these types of issues (missing information, wrong information, etc) are often caused by data inconsistencies across the

[2022-07-13 16:08] ericasauv09 opened #44256 "[Research] My VA Redirect: Update Research Artifacts and Begin Recruiting"
## Background
We are ready to begin UAT again for the My VA Redirect initiative so we want to review the existing research documentation (conversation guide, research plan, etc) to ensure we are ready to submit for recruiting. Once everything is ready we can begin the recruiting process. Actual UAT will not start until August.

## Tasks
- [x] Update existing My VA Redirect research artifacts where

[2022-07-13 16:11] michelle-dooley opened #44257 "PHM: Create Domo Training Materials/Deck"
## Issue Description

As part of the Q3 Platform Health Metrics objective the Analytics team will create and conduct Domo training.  This training with differ than current training that focuses on how to access/use Domo dashboards this training will more in depth including how to access your data and how to create dashboards/cards.

Items to cover in training:
- Data connectors
- Card building (an

[2022-07-13 16:13] #21548 closed

[2022-07-13 16:13] #21180 closed

[2022-07-13 16:14] #22146 closed

[2022-07-13 16:15] michelle-dooley opened #44258 "PHM: Conduct Domo Training"
## Issue Description
Conduct Domo training session in support of Platform Health Metric objetive

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to an Epic** (what

[2022-07-13 16:20] michelle-dooley opened #44259 "PHM: Create Data/BQ/Domo Documentation Materials"
## Issue Description
Create documentation materials for Data, BQ and Domo.

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to an Epic** (what body of work is this a

[2022-07-13 16:22] michelle-dooley opened #44260 "PHM: Create Data/BQ/Domo Documentation Materials"
## Issue Description
Create documentation materials for data sources, BQ and Domo.

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to an Epic** (what body of work i

[2022-07-13 16:23] girldadmk commented on #42182
@kjduensing Should this be included in the Operational Documentation #43954 epic?

[2022-07-13 16:24] girldadmk commented on #42257
@kjduensing can I include this in User Onboarding Research #40118 Epic?

[2022-07-13 16:25] #39847 closed

[2022-07-13 16:25] #39850 closed

[2022-07-13 16:25] #39853 closed

[2022-07-13 16:25] #39848 closed

[2022-07-13 16:25] #39855 closed

[2022-07-13 16:25] #39856 closed

[2022-07-13 16:25] #39858 closed

[2022-07-13 16:27] tameracorson commented on #38351
@here Ticket closed in lieu of new design and widget rebuild to be submitted under new ticket.

[2022-07-13 16:29] tameracorson commented on #38387
@here This ticket is being closed due to product not being sent to production.  New design and build will be placed on separate collab cycle tickets.

[2022-07-13 16:30] saderagsdale commented on #44255
@michelpmcdonald I created this ticket based on our conversation about backend infrastructure for the supplemental claims forms. Does this make sense, or does it need edits?

[2022-07-13 16:39] saderagsdale opened #44261 "Supplemental Claims | Create New Supplemental Claims Sidekiq worker"
## Value Statement

**_As a_** developer
**_We want to_** make submitting a supplemental claim a queued worker job
**_So that_** submissions automatically retry if they fail due to services being down.

## Background Context

This will make vets-api reliable. The idea with queued work job is that they able to retry the SC submit multiple times.  So if the Lighthouse SC service(or any services ligh

[2022-07-13 16:39] saderagsdale commented on #44261
@michelpmcdonald I also created this ticket based on our conversation about backend infrastructure for the supplemental claims forms. Does this make sense, or does it need edits?

[2022-07-13 16:44] jbritt1 commented on #43941
BRD changes to datadog docker agent look good so far:

![image](https://user-images.githubusercontent.com/56260532/178786949-f7c9bd8f-e5a1-4fd8-ba6f-77a8f41f43ed.png)

[2022-07-13 16:45] jbritt1 commented on #43941
RedHat package (non docker, binary) also looks good so far:

![image](https://user-images.githubusercontent.com/56260532/178787258-d8fd2eca-fcde-4dce-99b9-4d51006722a5.png)

[2022-07-13 16:45] saderagsdale opened #44262 "Supplemental Claims | Create a new Supplemental Claims controller"
## Value Statement

**_As a_** developer
**_We want to_** create a Supplemental Claims controller
**_So that_** the application knows what to do with input provided by claimants.

## Background Context

This can be modeled after the existing HigherLevelReviewsController and NoticeOfDisagreementsController. Add methods for both `create` and `show`.

## Tasks

- [ ] Create the controller
- [ ] Add r

[2022-07-13 16:45] tameracorson opened #44263 "Collaboration cycle - Kickoff ticket"
- [x] Revise product outline with Hybrid MVP design
- [x] Socialize with VA-PO via DSVA 1095-B slack channel
- [x] Submit Collaboration cycle kickoff ticket w/ new product outline via GitHub

[2022-07-13 16:45] tameracorson opened #44264 "Collaboration cycle - Design review"
Placeholder for collaboration cycle design review ticket

[2022-07-13 16:47] saderagsdale commented on #44262
@michelpmcdonald need some help filling in tasks for this one. Do we need to include a sample of the model for higher level review, or notice of disagreement?

[2022-07-13 16:49] tameracorson opened #44265 "PR"

[2022-07-13 16:52] #43941 closed

[2022-07-13 16:52] oseasmoran73 commented on #37537
Hey @TylerWatkins1

To make sure I am understanding correctly, you want to change `host` from [here](https://github.com/department-of-veterans-affairs/devops/blob/master/ansible/deployment/config/fwdproxy-vagov-staging.yml#L362-L369) over to `https://va--reg.lightning.force.com/`, correct?

Do you have the keys on hand? I think you may be able to update them directly via AWS GUI Param Store. If we

[2022-07-13 16:52] tameracorson opened #44266 "Finalize call center documents and video with hybrid MVP designs 1095B"
- [x] Complete content for call center documents reflecting 1095-B hybrid MVP
- [x] Create call center video using prototype mock-ups from approved sitewide content IA designs for 1095-B hybrid MVP
- [x] Socialize with VA-PO
- [x] turn over video and documents to call center
- [x] Discover if any additional items are needed for call center review.

[2022-07-13 16:53] #43967 closed

[2022-07-13 16:55] taylojill opened #44267 "Jill's Test Ticket"
### This is a test.

### Relevant URLs

[2022-07-13 16:56] taylojill opened #44268 "Jill's Test Ticket"
### This is a test.

### Relevant URLs

[2022-07-13 17:02] michelle-dooley commented on #44260
Duplicate - closing

[2022-07-13 17:02] #44260 closed

[2022-07-13 17:03] KolbyVA opened #44269 "AWS access for Kolby Balch"
### COR Name

Other - please specify in 'Additional Notes'

### Vendor Onboarding Representative Name

Other - please specify in 'Additional Notes'

### Your Name

Kolby Balch

### Your Email

kolby.balch@va.gov

### Team, Role, and Company of the target individual

MHV Secure Messaging, Software Engineer, By Light Professional IT Services

### Product Manager (PM) name and email

Lichelle Bain -

[2022-07-13 17:04] ewilson-adhoc commented on #43063
I confirmed with the infrastructure team that the diagrams referenced in the above link are up to date --> there is a small caveat that they will be updating them to reflect (the sidekiq workers themselves will not be in the K8 cluster, but will be in EC2 -- this is also how vets-api currently works)

[2022-07-13 17:06] tameracorson opened #44270 "Analytics"
Place holder for collaboration analytics ticket

[2022-07-13 17:06] tameracorson opened #44271 "meet with analytics team"
- [x] Get analytics meeting time
- [x] Set appointment
- [x] Capture insights and opportunities to capitalize on Google analytics of Hybrid MVP build
- [x] post notes in DSVA slack

[2022-07-13 17:07] ScottyRJames opened #44272 "Generate and submit mock FSR requests to VBS staging"
## Issue Description
As part of end to end testing with the Huron servers we need to submit a handful of various FSR requests to POST to the VBS staging endpoint
---
## Tasks
- [ ] Create reusable method to generate FSR request
- [ ] Submit FSR payloads to VBS staging

## Acceptance Criteria
- [ ] VBS has received multiple FSR payloads
---
## How to configure this issue
- [ ] **Attached to a Miles

[2022-07-13 17:07] tameracorson opened #44273 "Build prototype of hybrid MVP"
- [x] Turn over prototype to Carl for use in call center video

[2022-07-13 17:08] tameracorson opened #44274 "Version hybrid design for mobile"

[2022-07-13 17:11] ScottyRJames opened #44275 "Create MCP endpoint for VBS to submit new statement data"
## Issue Description
As part of MCP notifications, we need to have an exposed callback endpoint for VBS to submit to vets api to trigger events to VA Notify

---
## Tasks
- [x] New controller method to accept new data
- [x] Build method to handle statement data for when we know structure

## Acceptance Criteria
- [x] VBS can begin testing our callback with new statements
---
## How to configure th

[2022-07-13 17:13] michelle-dooley opened #44276 "PHM: Create BQ data intake request doc"
WIP

## Issue Description
_What details are necessary for understanding the specific work or request tracked by this issue?_
Does this need to be in BQ?
How do I get into Domo
---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a M

[2022-07-13 17:13] loripusey opened #44277 "[SPIKE] Can or Should We Prototype our Application w/o Platform Dependencies"

[2022-07-13 17:15] loripusey opened #44278 "Limit Check-in to Required Dependencies using Yarn Workspaces"
## BLOCKED
We need guidance from Platform on this before we can proceed.

[2022-07-13 17:15] ScottyRJames opened #44279 "Authenticate and test integration with VHA SharePoint"
## Issue Description
Brian and the VHA SharePoint team will be adding our app to be an authenticated service to POST PDFs to their folder repository. Once we have these credentials in hand we need to test this connection is working as intended.

---
## Tasks
- [ ] Receive authentication credentials from VHA
- [ ] Test connection to SharePoint with credentials

## Acceptance Criteria
- [ ] We can v

[2022-07-13 17:17] Dr-Pongo commented on #44004
Bumped to a 5 to double check outer margins match design specs

[2022-07-13 17:19] OptionSelect opened #44280 "CFSR - Discovery - Investigate Combined FSR Work"
## Desired behavior
Read through VAFS, design system, current FSR code and requested updates to come up with rough idea of timeline and estimation of work effort.

https://depo-platform-documentation.scrollhelp.site/developer-docs/va-forms-library-overview

https://depo-platform-documentation.scrollhelp.site/developer-docs/va-forms-library-getting-started-with-the-forms-li

## Acceptance Criteria

[2022-07-13 17:20] ScottyRJames opened #44281 "[DISCOVERY] Architect new structure of FSR"
## Issue Description
Currently FSRs are tied to both DMC and User SSN and do not have a saved state. We will need to have a new architecture to refactor off of that decouples these relationships and has a long-term storage solution for each FSR request

---
## Tasks
- [x] Determine best solution to store FSRs
- [x] Generate new architecture diagram that represents new structure

## Acceptance Crit

[2022-07-13 17:20] OptionSelect opened #44282 "CFSR - Discovery - Investigate Combined FSR Work"
## Desired behavior
Read through VAFS, design system, current FSR code and requested updates to come up with rough idea of timeline and estimation of work effort.

https://depo-platform-documentation.scrollhelp.site/developer-docs/va-forms-library-overview

https://depo-platform-documentation.scrollhelp.site/developer-docs/va-forms-library-getting-started-with-the-forms-li

## Acceptance Criteria

[2022-07-13 17:21] OptionSelect opened #44283 "CFSR - Discovery - Investigate Combined FSR Work"
## Desired behavior
Read through VAFS, design system, current FSR code and requested updates to come up with rough idea of timeline and estimation of work effort.

https://depo-platform-documentation.scrollhelp.site/developer-docs/va-forms-library-overview

https://depo-platform-documentation.scrollhelp.site/developer-docs/va-forms-library-getting-started-with-the-forms-li

## Acceptance Criteria

[2022-07-13 17:21] khandelwal opened #44284 "Back-end: generate text 1095-B forms"

[2022-07-13 17:21] OptionSelect opened #44285 "CFSR - Discovery - Investigate Combined FSR Work"
## Desired behavior
Read through VAFS, design system, current FSR code and requested updates to come up with rough idea of timeline and estimation of work effort.

https://depo-platform-documentation.scrollhelp.site/developer-docs/va-forms-library-overview

https://depo-platform-documentation.scrollhelp.site/developer-docs/va-forms-library-getting-started-with-the-forms-li

## Acceptance Criteria

[2022-07-13 17:22] OptionSelect opened #44286 "CFSR - Discovery - Investigate Combined FSR Work"
## Desired behavior
Read through VAFS, design system, current FSR code and requested updates to come up with rough idea of timeline and estimation of work effort.

https://depo-platform-documentation.scrollhelp.site/developer-docs/va-forms-library-overview

https://depo-platform-documentation.scrollhelp.site/developer-docs/va-forms-library-getting-started-with-the-forms-li

## Acceptance Criteria

[2022-07-13 17:23] OptionSelect opened #44287 "CFSR - Discovery - Estimation of Timeline and Work Effort"
## Desired behavior
Read through VAFS, design system, current FSR code and requested updates to come up with rough idea of timeline and estimation of work effort.

https://depo-platform-documentation.scrollhelp.site/developer-docs/va-forms-library-overview

https://depo-platform-documentation.scrollhelp.site/developer-docs/va-forms-library-getting-started-with-the-forms-li

## Acceptance Criteria

[2022-07-13 17:24] khandelwal opened #44288 "Backend: Build 1095-B text version"
-  [x] Write unit test and ensure adequate coverage

[2022-07-13 17:24] OptionSelect opened #44289 "CFSR - Discovery - Estimation of Timeline and Work Effort"
## Desired behavior
Read through VAFS, design system, current FSR code and requested updates to come up with rough idea of timeline and estimation of work effort.

https://depo-platform-documentation.scrollhelp.site/developer-docs/va-forms-library-overview

https://depo-platform-documentation.scrollhelp.site/developer-docs/va-forms-library-getting-started-with-the-forms-li

## Acceptance Criteria

[2022-07-13 17:25] #44265 closed

[2022-07-13 17:25] OptionSelect opened #44290 "CFSR - Discovery - Estimation of Timeline and Work Effort"
## Desired behavior
Read through VAFS, design system, current FSR code and requested updates to come up with rough idea of timeline and estimation of work effort.

https://depo-platform-documentation.scrollhelp.site/developer-docs/va-forms-library-overview

https://depo-platform-documentation.scrollhelp.site/developer-docs/va-forms-library-getting-started-with-the-forms-li

## Acceptance Criteria

[2022-07-13 17:25] iriteshp commented on #39580
added RFC here and it is ready to review: https://github.com/department-of-veterans-affairs/va.gov-platform-architecture/blob/amt/rfc/keycloak-terraform-pipeline/rfc/2022/2022-07-12%20-%20Keycloak%20Terraform%20Pipeline.md

[2022-07-13 17:26] khandelwal commented on #44288
- [ ] Submit PR for review

[2022-07-13 17:26] loripusey opened #44291 "Epic's Risk Register"
## USER STORY
As a team, we would like to identify risks that may become roadblocks for the deveopment and/or release of this Epic.

## ENGINEERING RISKS
- [ ]

## RESEARCH RISKS
- [ ]
## DESIGN RISKS
- [ ]

## PRODUCT RISKS
- Not checking eligibility could result in more manual reviews from staff, increased claim rejection rates, and negative Veteran perception on the experience.

[2022-07-13 17:27] michelle-dooley commented on #43564
@wesrowe - I think this should give you everything you need for this request so I am going to close this ticket but if you have any further questions please reach out through support or office hours and we will be happy to help!!

[2022-07-13 17:27] #43564 closed

[2022-07-13 17:27] khandelwal commented on #43596
- [ ] Submit PR

[2022-07-13 17:28] OptionSelect opened #44292 "CFSR - Discovery - Estimation of Timeline and Work Effort"
## Desired behavior
Read through VAFS, design system, current FSR code and requested updates to come up with rough idea of timeline and estimation of work effort.

https://depo-platform-documentation.scrollhelp.site/developer-docs/va-forms-library-overview

https://depo-platform-documentation.scrollhelp.site/developer-docs/va-forms-library-getting-started-with-the-forms-li

## Acceptance Criteria

[2022-07-13 17:29] tlei123 commented on #41688
fyi, @ddzz , i'm gonna add you to Assignees just so this doesn't fall off your radar, but it's _not_ urgent &mdash; it's passing fine locally & only skipped in CI.

FYI, I'll also start a new branch off main, & keep at it from my side when I have time between other priorities.

Thx much for the cont'd help!  :)

[2022-07-13 17:29] tameracorson opened #44293 "Align on opt-in build with VA Profile and Notify teams"
- [x] Get collaboration on setting meeting time
- [x] Set meeting time
- [ ] Capture timeline, responsibility (build, notification, collab cycle
- [x] Will need 1095-B engineering diagram (how 1095-B works)
- [x] Will need designs for hybrid MVP w/ approved opt-in

[2022-07-13 17:29] OptionSelect opened #44294 "CFSR - Discovery - Estimation of Timeline and Work Effort"
## Desired behavior
Read through VAFS, design system, current FSR code and requested updates to come up with rough idea of timeline and estimation of work effort.

https://depo-platform-documentation.scrollhelp.site/developer-docs/va-forms-library-overview

https://depo-platform-documentation.scrollhelp.site/developer-docs/va-forms-library-getting-started-with-the-forms-li

## Acceptance Criteria

[2022-07-13 17:30] OptionSelect opened #44295 "CFSR - Discovery - Estimation of Timeline and Work Effort"
## Desired behavior
Read through VAFS, design system, current FSR code and requested updates to come up with rough idea of timeline and estimation of work effort.

https://depo-platform-documentation.scrollhelp.site/developer-docs/va-forms-library-overview

https://depo-platform-documentation.scrollhelp.site/developer-docs/va-forms-library-getting-started-with-the-forms-li

## Acceptance Criteria

[2022-07-13 17:30] OptionSelect opened #44296 "CFSR - Discovery - Estimation of Timeline and Work Effort"
## Desired behavior
Read through VAFS, design system, current FSR code and requested updates to come up with rough idea of timeline and estimation of work effort.

https://depo-platform-documentation.scrollhelp.site/developer-docs/va-forms-library-overview

https://depo-platform-documentation.scrollhelp.site/developer-docs/va-forms-library-getting-started-with-the-forms-li

## Acceptance Criteria

[2022-07-13 17:30] beth-wodzinski commented on #39812
This passed testing (and there was rejoicing throughout the land). See spreadsheet bw39812.xls for details of scenarios tested. [https://app.zenhub.com/files/133843125/c6f31033-62aa-4df9-878d-4c6a7e640826/download](https://app.zenhub.com/files/133843125/c6f31033-62aa-4df9-878d-4c6a7e640826/download)
@marcynadeau @ldelacosta

[2022-07-13 17:31] oseasmoran73 commented on #40987
Hi @ksk385

Do you still have questions pertaining this integration in Github Action?

If so, if I understand correctly, you run a mock server for the test suite and this PVA bot needs to access it, correct? Does the bot need a url provided?

I can't think of any reason why ngrok (I am not familiar with the tool) can't accomplish similarly to localhost. If PVA bot needs to be within dsva network w

[2022-07-13 17:31] OptionSelect opened #44297 "CFSR - Discovery - Estimation of Timeline and Work Effort"
## Desired behavior
Read through VAFS, design system, current FSR code and requested updates to come up with rough idea of timeline and estimation of work effort.

https://depo-platform-documentation.scrollhelp.site/developer-docs/va-forms-library-overview

https://depo-platform-documentation.scrollhelp.site/developer-docs/va-forms-library-getting-started-with-the-forms-li

## Acceptance Criteria

[2022-07-13 17:31] OptionSelect opened #44298 "CFSR - Discovery - Estimation of Timeline and Work Effort"
## Desired behavior
Read through VAFS, design system, current FSR code and requested updates to come up with rough idea of timeline and estimation of work effort.

https://depo-platform-documentation.scrollhelp.site/developer-docs/va-forms-library-overview

https://depo-platform-documentation.scrollhelp.site/developer-docs/va-forms-library-getting-started-with-the-forms-li

## Acceptance Criteria

[2022-07-13 17:32] OptionSelect opened #44299 "CFSR - Discovery - Estimation of Timeline and Work Effort"
## Desired behavior
Read through VAFS, design system, current FSR code and requested updates to come up with rough idea of timeline and estimation of work effort.

https://depo-platform-documentation.scrollhelp.site/developer-docs/va-forms-library-overview

https://depo-platform-documentation.scrollhelp.site/developer-docs/va-forms-library-getting-started-with-the-forms-li

## Acceptance Criteria

[2022-07-13 17:32] OptionSelect opened #44300 "CFSR - Discovery - Estimation of Timeline and Work Effort"
## Desired behavior
Read through VAFS, design system, current FSR code and requested updates to come up with rough idea of timeline and estimation of work effort.

https://depo-platform-documentation.scrollhelp.site/developer-docs/va-forms-library-overview

https://depo-platform-documentation.scrollhelp.site/developer-docs/va-forms-library-getting-started-with-the-forms-li

## Acceptance Criteria

[2022-07-13 17:32] #39812 closed

[2022-07-13 17:32] OptionSelect opened #44301 "CFSR - Discovery - Estimation of Timeline and Work Effort"
## Desired behavior
Read through VAFS, design system, current FSR code and requested updates to come up with rough idea of timeline and estimation of work effort.

https://depo-platform-documentation.scrollhelp.site/developer-docs/va-forms-library-overview

https://depo-platform-documentation.scrollhelp.site/developer-docs/va-forms-library-getting-started-with-the-forms-li

## Acceptance Criteria

[2022-07-13 17:33] OptionSelect opened #44302 "CFSR - Discovery - Estimation of Timeline and Work Effort"
## Desired behavior
Read through VAFS, design system, current FSR code and requested updates to come up with rough idea of timeline and estimation of work effort.

https://depo-platform-documentation.scrollhelp.site/developer-docs/va-forms-library-overview

https://depo-platform-documentation.scrollhelp.site/developer-docs/va-forms-library-getting-started-with-the-forms-li

## Acceptance Criteria

[2022-07-13 17:33] Dr-Pongo opened #44303 "[CFSR] Discovery - Estimation of Timeline and Work Effort"
## Issue Description
Read through VAFS, design system, current FSR code and requested updates to come up with rough idea of timeline and estimation of work effort.

https://depo-platform-documentation.scrollhelp.site/developer-docs/va-forms-library-overview

https://depo-platform-documentation.scrollhelp.site/developer-docs/va-forms-library-getting-started-with-the-forms-li
---

## Acceptance Crit

[2022-07-13 17:34] OptionSelect opened #44304 "CFSR - Discovery - Estimation of Timeline and Work Effort"
## Desired behavior
Read through VAFS, design system, current FSR code and requested updates to come up with rough idea of timeline and estimation of work effort.

https://depo-platform-documentation.scrollhelp.site/developer-docs/va-forms-library-overview

https://depo-platform-documentation.scrollhelp.site/developer-docs/va-forms-library-getting-started-with-the-forms-li

## Acceptance Criteria

[2022-07-13 17:34] OptionSelect opened #44305 "CFSR - Discovery - Estimation of Timeline and Work Effort"
## Desired behavior
Read through VAFS, design system, current FSR code and requested updates to come up with rough idea of timeline and estimation of work effort.

https://depo-platform-documentation.scrollhelp.site/developer-docs/va-forms-library-overview

https://depo-platform-documentation.scrollhelp.site/developer-docs/va-forms-library-getting-started-with-the-forms-li

## Acceptance Criteria

[2022-07-13 17:34] OptionSelect opened #44306 "CFSR - Discovery - Estimation of Timeline and Work Effort"
## Desired behavior
Read through VAFS, design system, current FSR code and requested updates to come up with rough idea of timeline and estimation of work effort.

https://depo-platform-documentation.scrollhelp.site/developer-docs/va-forms-library-overview

https://depo-platform-documentation.scrollhelp.site/developer-docs/va-forms-library-getting-started-with-the-forms-li

COMBINED FSR LINKS
Main

[2022-07-13 17:35] Dr-Pongo opened #44307 "[CFSR] Discovery - Estimation of Timeline and Work Effort"
## Issue Description
Read through VAFS, design system, current FSR code and requested updates to come up with rough idea of timeline and estimation of work effort.

https://depo-platform-documentation.scrollhelp.site/developer-docs/va-forms-library-overview

https://depo-platform-documentation.scrollhelp.site/developer-docs/va-forms-library-getting-started-with-the-forms-li

---

## Acceptance Cri

[2022-07-13 17:35] aagosto90 opened #44308 "Request access to Google Analytics and/or Domo"
# Request Google Analytics and/or Domo access

## What this form is for
Use this template to request access to Google Analytics and/or Domo. Please complete steps 1 & 2 below.

## 1. Access Requirements
Please check the analytics tool(s) you need access to:
- [x] Google Analytics
- [ ] Domo
- [ ] (Platform Teams only) BigQuery

## 2. User Email Address to Receive Access
**Due to privacy concerns,

[2022-07-13 17:39] mleclerc00 commented on #44269
User found in vfs team roster

## For AWS Access
User: Kolby Balch
COR: Sean Good
VOR: Kenneth Brown
Approval required: @department-of-veterans-affairs/operations-aws-approvers
Admin level: no

[2022-07-13 17:47] michelle-dooley commented on #44171
@hdjustice and @markfallows - thank you for your request.  We will include this in our next sprint starting next week.

[2022-07-13 17:48] SKasimow opened #44309 "Profile | Change Address Messaging Prompt | Analytics PII Bug"
## Background

Describe the issue background and scope

## Tasks
- [ ] Add tasks here that must be completed

## Acceptance Criteria
- [ ] Add what must occur for this issue to be considered complete

## How to configure this issue
- Include practice area in title -- e.g., [Design], [FE], [BE]
- Include project/initiative name - e.g., Auth Profile: Address Change Messaging
- Add label for practice

[2022-07-13 17:48] SKasimow opened #44310 "Profile | Change Address Messaging Prompt | Analytics PII Bug"
## Background

Describe the issue background and scope

## Tasks
- [ ] Add tasks here that must be completed

## Acceptance Criteria
- [ ] Add what must occur for this issue to be considered complete

## How to configure this issue
- Include practice area in title -- e.g., [Design], [FE], [BE]
- Include project/initiative name - e.g., Auth Profile: Address Change Messaging
- Add label for practice

[2022-07-13 17:57] shiragoodman commented on #39779
thanks, @jimuhh. I will hold off on closing this ticket until #44196 is ready.

[2022-07-13 17:57] Samara-Strauss commented on #34290
![image](https://user-images.githubusercontent.com/34068740/178799565-c5667afe-f926-4245-88fb-021e1c96705d.png)

Is there a separate ticket to update the copy in this widget? Or should that copy change be handled as part of this ticket?

[2022-07-13 17:59] #44308 closed

[2022-07-13 18:09] #44305 closed

[2022-07-13 18:09] OptionSelect commented on #44305
Closed as duplicate of https://app.zenhub.com/workspaces/vsa---debt-607736a6c8b7e2001084e3ab/issues/department-of-veterans-affairs/va.gov-team/44306

[2022-07-13 18:09] OptionSelect commented on #44304
Closed as dupe of https://app.zenhub.com/workspaces/vsa---debt-607736a6c8b7e2001084e3ab/issues/department-of-veterans-affairs/va.gov-team/44306

[2022-07-13 18:09] #44304 closed

[2022-07-13 18:10] #44302 closed

[2022-07-13 18:10] OptionSelect commented on #44302
Closed as dupe of https://app.zenhub.com/workspaces/vsa---debt-607736a6c8b7e2001084e3ab/issues/department-of-veterans-affairs/va.gov-team/44306

[2022-07-13 18:10] OptionSelect commented on #44301
Closed as dupe of https://app.zenhub.com/workspaces/vsa---debt-607736a6c8b7e2001084e3ab/issues/department-of-veterans-affairs/va.gov-team/44306

[2022-07-13 18:10] #44301 closed

[2022-07-13 18:11] ewilson-adhoc commented on #44114
Using grafana, we should be able to get historical logs for the system, provided that we log endpoint access -- but we we will need to figure out how to parse them. Logs exist from the end of September 2021 is when this migration occured, we should have logs up to the end of that time period

[2022-07-13 18:11] OptionSelect commented on #44300
Closed as dupe of https://app.zenhub.com/workspaces/vsa---debt-607736a6c8b7e2001084e3ab/issues/department-of-veterans-affairs/va.gov-team/44306

[2022-07-13 18:11] #44300 closed

[2022-07-13 18:11] OptionSelect commented on #44299
Closed as dupe of https://app.zenhub.com/workspaces/vsa---debt-607736a6c8b7e2001084e3ab/issues/department-of-veterans-affairs/va.gov-team/44306

[2022-07-13 18:11] #44299 closed

[2022-07-13 18:11] #43580 closed

[2022-07-13 18:11] #44298 closed

[2022-07-13 18:11] OptionSelect commented on #44297
Closed as dupe of https://app.zenhub.com/workspaces/vsa---debt-607736a6c8b7e2001084e3ab/issues/department-of-veterans-affairs/va.gov-team/44306

[2022-07-13 18:11] #44297 closed

[2022-07-13 18:11] OptionSelect commented on #44296
Closed as dupe of https://app.zenhub.com/workspaces/vsa---debt-607736a6c8b7e2001084e3ab/issues/department-of-veterans-affairs/va.gov-team/44306

[2022-07-13 18:11] #44296 closed

[2022-07-13 18:12] #44295 closed

[2022-07-13 18:12] OptionSelect commented on #44294
Closed as dupe of https://app.zenhub.com/workspaces/vsa---debt-607736a6c8b7e2001084e3ab/issues/department-of-veterans-affairs/va.gov-team/44306

[2022-07-13 18:12] OptionSelect commented on #44292
Closed as dupe of https://app.zenhub.com/workspaces/vsa---debt-607736a6c8b7e2001084e3ab/issues/department-of-veterans-affairs/va.gov-team/44306

[2022-07-13 18:12] #44292 closed

[2022-07-13 18:12] OptionSelect commented on #44290
Closed as dupe of https://app.zenhub.com/workspaces/vsa---debt-607736a6c8b7e2001084e3ab/issues/department-of-veterans-affairs/va.gov-team/44306

[2022-07-13 18:12] #44290 closed

[2022-07-13 18:13] #44289 closed

[2022-07-13 18:13] OptionSelect commented on #44287
Closed as dupe of https://app.zenhub.com/workspaces/vsa---debt-607736a6c8b7e2001084e3ab/issues/department-of-veterans-affairs/va.gov-team/44306

[2022-07-13 18:13] #44287 closed

[2022-07-13 18:13] #44286 closed

[2022-07-13 18:13] OptionSelect commented on #44286
Closed as dupe of https://app.zenhub.com/workspaces/vsa---debt-607736a6c8b7e2001084e3ab/issues/department-of-veterans-affairs/va.gov-team/44306

[2022-07-13 18:13] OptionSelect commented on #44283
Closed as dupe of https://app.zenhub.com/workspaces/vsa---debt-607736a6c8b7e2001084e3ab/issues/department-of-veterans-affairs/va.gov-team/44306

[2022-07-13 18:13] #44283 closed

[2022-07-13 18:14] OptionSelect commented on #44282
Closed as dupe of https://app.zenhub.com/workspaces/vsa---debt-607736a6c8b7e2001084e3ab/issues/department-of-veterans-affairs/va.gov-team/44306

[2022-07-13 18:14] #44282 closed

[2022-07-13 18:14] OptionSelect commented on #44280
Closed as dupe of https://app.zenhub.com/workspaces/vsa---debt-607736a6c8b7e2001084e3ab/issues/department-of-veterans-affairs/va.gov-team/44306

[2022-07-13 18:14] #44280 closed

[2022-07-13 18:15] ewilson-adhoc commented on #44114
To verify:
- write the query to get the usage of feature flipper for the last 6 months.

[2022-07-13 18:19] ldelacosta commented on #40612
@beth-wodzinski - This ticket is ready to be tested. Thanks!

[2022-07-13 18:21] ajakabcin commented on #43376
Completed review with team, moving on to our second midpoint review with these revisions.

[2022-07-13 18:44] laurwill commented on #43390
Hi @megzehn , as we chatted, I just reached out to Lauren to check if these tweaks are okay — I'll update once I hear back!

[2022-07-13 18:52] zachclarity opened #44311 "Backend Orientation Session July 2022"
## Issue Description
Hosted the Backend Orientation Session for VA.gov Platform on 7/06/2022

---
## Tasks
- [x] Host the session and answer any questions that come up.

## Acceptance Criteria
- [x] We have provided a Backend Orientation session for VA.gov Platform for July 2022.

[2022-07-13 18:54] little-oddball commented on #43775
Per our conversation on the topic:

https://github.com/department-of-veterans-affairs/va.gov-team/issues/43775

We should put together some guidance and make it a part of the VA Guidance (  https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/working-with-vsp/policies-work-norms/sensitive-guidance.md  ).  Will update. In general the thought is to keep sensitive items

[2022-07-13 18:55] nicko-amida opened #44312 "[DESIGN] Medicare Part A question labeling"
## Description

Our PO requested that additional contextual information be associated with the Medicare Part A question, similar to the Medicare claim number question.

<details><summary>[Screenshot] Medicare part A question</summary>

![image.png](https://images.zenhubusercontent.com/606dcfcdf37170580d2e39f0/edffaed9-aa3e-42d5-8576-1221f6b3283c)

</details>

## Tasks

- [x] Add contextual labelin

[2022-07-13 18:56] #44311 closed

[2022-07-13 18:57] loripusey commented on #44240
@benbrasso-agile6 add notes to this ticket

[2022-07-13 18:58] pjhill commented on #43937
Looks good, I mistakenly thought that the help document should be updated to change `testrail_project_id` to `testrail_project_url`, but that's not how this works.

Closing this out!

[2022-07-13 18:58] #43937 closed

[2022-07-13 18:59] loripusey opened #44313 "Update Data Dog Dashboards"

[2022-07-13 18:59] SKasimow commented on #44310
@adamwhitlock1 - are there any downsides to using the old VAModal React component?

Also, I think Mark used the new modal component for BAI.

[2022-07-13 19:00] shiragoodman commented on #41417
@lichellebain has been given access to vets.gov-write

[2022-07-13 19:00] loripusey opened #44314 "Update Data Dog Dashboards"

[2022-07-13 19:01] Mottie commented on #43587
I think the blocker is from Lighthouse? I think our initial app will only support Veteran's applying for a Supplemental Claim

[2022-07-13 19:02] loripusey opened #44315 "Update Data Dog Dashboards"

[2022-07-13 19:05] #43104 closed

[2022-07-13 19:05] randomsync opened #44316 "[BE] Update DataDog dashboards"
## User Story
As a CIE team member, I want to have relevant data in DataDog dashboard so that I can view/assess usage

https://dsva.slack.com/archives/C02UP02HHGX/p1657584092942509

## Tasks
- [ ] [BE] Review DataDog's capabilities and update the dashboard to include deviation from mean (see slack thread: https://dsva.slack.com/archives/C02UP02HHGX/p1657584092942509)

## Acceptance Criteria
- [ ]

[2022-07-13 19:11] shiragoodman commented on #42848
@Damjan234 we still haven't gotten clarity on your team. Please let us know.

[2022-07-13 19:12] oseasmoran73 opened #44317 "[AWS/AMI/GHA] Replace ubuntu-packer AMI with platform minimal AMI"
## Description

Now that the new AMI has been, we should begin placing them in all Github Actions runners. These include EC2 spun from ASG & On-demand runners

## Technical notes
Infrastructure issues detected will be handled by infrastructure
Application specific issues detected will be handled by respective repo owner

---
## Tasks
- [x] Apply new AMI to content-build on-demand runners
- [x] App

[2022-07-13 19:14] oseasmoran73 opened #44318 "[AWS][GHA][AMI] Fix on-demand runners to register to AWS"
## Description

On-demand runners are failing to register with the new AMI

---
## Tasks
- [ ] On-demand runners are being registered to repo

## Acceptance Criteria
- [ ] On-demand runners are being registered to repo

[2022-07-13 19:14] oseasmoran73 commented on #44318
https://github.com/department-of-veterans-affairs/ec2-github-runner/pull/1

Closing ticket

[2022-07-13 19:18] oseasmoran73 opened #44319 "[AWS][GHA] On-demand runners are not cleaning up correctly"
## Description

On-demand runners are not cleaning up correctly when retry occurs. If it is successful, then it will clean up that last successful one

## Background/context

[Repo](https://github.com/department-of-veterans-affairs/ec2-github-runner)

If you search in instances up and running in EC2, you will find on-demand runners that have not been spun down

![image](https://user-images.githubu

[2022-07-13 19:20] skylerschain commented on #43708
Moving this back into the sprint backlog for now. Will come back to this after we complete the Decision Letter Download epic.

[2022-07-13 19:20] oseasmoran73 opened #44320 "[AWS][GHA] On-demand runners do not have an IAM rold"
## Description

On-demand runners when spun up do not have IAM role. This is because it the forked repository does not have an option to pass in role

## Background/context

Will be helpful for teams to SSH into and look at logs

## Technical notes

Allow a variable in Github Action to pass in role and apply accordingly

---
## Tasks
- [ ] Variable to apply IAM role
- [ ] IAM role applied correctl

[2022-07-13 19:22] Mottie commented on #43350
I agree with Beth's recommendations. As for the COE widget, [Jesse is working with Randi on the content](https://dsva.slack.com/archives/C5AGLBNRK/p1657650442182419).

[2022-07-13 19:24] shiragoodman commented on #43728
@jw81 you have been added to the vets.gov-write gh team

[2022-07-13 19:26] jbritt1 commented on #41663
@zachclarity

[2022-07-13 19:27] shiragoodman commented on #43731
@jkelly-va you have been added to the vets.gov-write gh team. I also fixed your name in the roster.

[2022-07-13 19:29] shiragoodman commented on #43786
added to vets.gov-write gh team

[2022-07-13 19:29] jbritt1 commented on #25872
Bumping for feedback. Also posted in channel: https://dsva.slack.com/archives/C01CHAY3ULR/p1657739962454579

[2022-07-13 19:33] jbritt1 commented on #17585
Vagrant is very rarely used by our team and others, testing revproxy changes is pretty easy/safe in dev, sentry should be sunset and this would be a non-issue anyway. Closing.

[2022-07-13 19:33] #17585 closed

[2022-07-13 19:33] jbritt1 commented on #41663
Closing as a duplicate, feel free to reopen if needed.

[2022-07-13 19:33] #41663 closed

[2022-07-13 19:35] shiragoodman commented on #43905
@Tonksthebear you have been added to the roster and been granted access to vets.gov-write. Both platform tasks are complete so you can close this once your individual tasks are complete.

[2022-07-13 19:35] aliyahblackmore commented on #43848
Hi @megzehn ! This is ready for you.
We were responsible for changing the number on three pages, pulled from the Airtable sheet.

### **Benefit Detail Page**

**Report harassment or sexual assault at VA**
Preview link: http://preview-prod.vfs.va.gov/preview?nodeId=34641

### **Resources and support Detail page**

**Choosing between urgent and emergency care**
Preview link: http://preview-prod.vfs.

[2022-07-13 19:36] ianhundere commented on #42770
no delete:
clusters
`arn:aws-us-gov:eks:us-gov-west-1:008577686731:cluster/dsva-vagov-dev-cluster`
`arn:aws-us-gov:eks:us-gov-west-1:008577686731:cluster/dsva-vagov-staging-cluster`
`arn:aws-us-gov:eks:us-gov-west-1:008577686731:cluster/dsva-vagov-utility-cluster`
`arn:aws-us-gov:eks:us-gov-west-1:008577686731:cluster/dsva-vagov-sandbox-cluster`
`arn:aws-us-gov:eks:us-gov-west-1:008577686731:clust

[2022-07-13 19:36] #25872 closed

[2022-07-13 19:39] shiragoodman commented on #44007
@kallarde you're not a member of the VA Github Organization which is a prerequisite to being added to the vets.gov-write team. Please follow the [guidance on Platform Website. ](https://depo-platform-documentation.scrollhelp.site/getting-started/request-access-to-tools#Requestaccesstotools-GettingaccesstotheVAGitHuborganization)

[2022-07-13 19:39] joshkimux commented on #41449
Update for folks here @jerekshoe and @skylerschain for awareness. We've decided to go with the latter fix of removing the tab styling and role from this pattern (essentially turning them into a straightforward list of links). I'll update the acceptance criteria to match this in a bit.

[2022-07-13 19:41] wesrowe opened #44321 "Collaboration Cycle for [Public Websites, Income Limits, Income Limits Web App]"
### VFS team name

Publice Websites

### Product name

Income Limits

### Feature name

Income Limits Web App

### GitHub label for product

vfs-public-websites

### GitHub label for feature

_No response_

### When did/will you start working on this product/feature?

july 18

### Will your work result in visible changes to the user experience?

Yes

### Are you doing research with VA.gov users?

[2022-07-13 19:45] wesrowe commented on #44321
A little color to this:
The existing product is non-modernized, so there's no label or other history in github.

[2022-07-13 19:45] CBonade commented on #43949
PR is open to solve this issue here. It adds the product id and name before the existing automated checks to ensure that the existing checks get populated accordingly. It additionally checks the manifest ID to ensure it is a 36 character ID (matches a valid UUID length) so we don't get any products added with an ID of "1" or the such.

[2022-07-13 19:50] oseasmoran73 commented on #44319
https://github.com/department-of-veterans-affairs/ec2-github-runner

[2022-07-13 19:51] rsmithadhoc commented on #43637
I think we can look at the time taken for Cypress E2E Tests steps "Download production build artifact" and "Install dependencies". Those run on each of the 8 parallelized test steps and typically take a similar amount of time, so the caching isn't really helping them. However, I don't know if there is a way of getting a collection of stats without manually viewing previous runs and recording how l

[2022-07-13 19:56] bramleyjl commented on #35170
Will revisit this once SiS duplicate IDs error handling is added.

[2022-07-13 19:56] bramleyjl commented on #35170
Will revisit this once SiS duplicate IDs error handling is added.

[2022-07-13 20:00] alwerner opened #44322 "Create forward proxy port to Kong in Staging environment"
## Issue Description
As a developer, I need to open up a new forward proxy port to Kong in the Staging environment, so that when the new Lighthouse gateway becomes available, I can pivot the port to point to Apigee.

---
## Tasks
- [ ] Create entry in the forward proxy config file in Staging environment.

## Acceptance Criteria
- [ ] The Staging forward proxy address with port 4492 resolves to Kon

[2022-07-13 20:01] tameracorson opened #44323 "Finalize research plan #2 - moderated testing of trees"

[2022-07-13 20:02] tameracorson opened #44324 "Finalize conversation guide research plan #2 - moderated testing of trees"

[2022-07-13 20:03] tameracorson opened #44325 "Prep for review of research with VFS-IA Mikki"

[2022-07-13 20:03] alwerner opened #44326 "Create forward proxy port to Sandbox in Staging environment"
## Issue Description
As a developer, I need to open up a new forward proxy port to Sandbox in the Staging environment, so that vets-api calls to `sandbox-api.va.gov` continue working once it becomes an external API call.

---
## Tasks
- [ ] Create entry in the forward proxy config file in Staging environment that goes to Sandbox

## Acceptance Criteria
- [ ] The Staging forward proxy address with

[2022-07-13 20:03] shiragoodman commented on #44205
user added to vets.gov-write gh team

[2022-07-13 20:04] rsmithadhoc commented on #43951
Updated the branch linked above and working on:
- Table of contents in Confluence was tested and working.
- Working on generating unique filenames/paths and HTML to put on an individual page for each product. Ensuring that product updates will successfully regenerate the table of contents and page as to not leave any orphaned pages or break any links.
- I will look into a solution for splitting op

[2022-07-13 20:06] alwerner opened #44327 "Create forward proxy port to Sandbox in Dev environment"
## Issue Description
As a developer, I need to open up a new forward proxy port to Sandbox in the Dev environment, so that calls from vets-api using the `sandbox-api.va.gov` domain continue working once it becomes an external API call.

---
## Tasks
- [ ] Create entry in the forward proxy config file in Dev environment that points to Sandbox

## Acceptance Criteria
- [ ] The Dev forward proxy addr

[2022-07-13 20:06] #43649 closed

[2022-07-13 20:07] #43659 closed

[2022-07-13 20:07] #43658 closed

[2022-07-13 20:09] #44021 closed

[2022-07-13 20:09] #43818 closed

[2022-07-13 20:10] jbritt1 opened #44328 "[SPIKE] Investigate Better Way to Mark Old Backlog Items and Stale / Auto_close"
## Description
Old tickets in backlog

## Background/context
https://dsva.slack.com/archives/CTYQL39FE/p1657740419342799

## Technical notes
Perhaps https://github.com/actions/stale?

---
## Tasks
- [ ] Old backlog items marked as stale, closed if not immediately important

## Acceptance Criteria
- [ ] Investigation complete on if we can/want to use a form of automation for marking very old stale

[2022-07-13 20:10] #41521 closed

[2022-07-13 20:13] jacobworrell commented on #43308
@jerekshoe please explain what happened.

[2022-07-13 20:15] andreahewitt-odd commented on #40685
We used Zenhub: https://app.zenhub.com/workspaces/vagov-platform-5cedc9cce6e3335dc5a49fc4/roadmap

[2022-07-13 20:15] #40685 closed

[2022-07-13 20:16] nsoutouras commented on #43446
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity/Sign-In%20Service/Web%20Rollout%20Phase%201%20(testing).md

[2022-07-13 20:18] SKasimow opened #44329 "Contact Center Review for [Team Name - Feature Name]"
# Request the Contact Center Review

## What this form is for
Use this template to request a Contact Center review of your product.

Please review the Self-service Product Guide Template [link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/contact-center/self-service-product-guide-template.md) and the Contact Center Review How to [link](https://github.com/depar

[2022-07-13 20:19] SKasimow opened #44330 "Contact Center Review | Profile Team | Bad Address Indicator"
# Request the Contact Center Review

## What this form is for
Use this template to request a Contact Center review of your product.

Please review the Self-service Product Guide Template [link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/contact-center/self-service-product-guide-template.md) and the Contact Center Review How to [link](https://github.com/depar

[2022-07-13 20:19] jerekshoe commented on #44094
So I was looking at COE and noticed that when we upload files via the `/v0/claim_attachments` endpoint, they send back an error when there is a user password on the file

![Screen Shot 2022-07-13 at 11 50 59 AM](https://user-images.githubusercontent.com/13838621/178826959-7ad3dcb3-e347-4e7b-99b7-f2680a82140f.png)

This might give us an avenue to start exploring

[2022-07-13 20:19] jimuhh commented on #44196
@shiragoodman OK, I wrote out the task details. LMK what you think.

[2022-07-13 20:20] pjhill commented on #29416
OBE -- we no longer need to support liquid template testing.

[2022-07-13 20:20] #29416 closed

[2022-07-13 20:24] andreahewitt-odd commented on #43545
@td-usds @raywangoctova @mchelen Can you look at the examples listed in this doc to make sure we're not missing any examples?

[2022-07-13 20:27] andreahewitt-odd commented on #43048
@mchelen Should we standardize maintainers on the teams?

[2022-07-13 20:29] raywangoctova commented on #43545
Looks good!

[2022-07-13 20:31] #42226 closed

[2022-07-13 20:32] acrollet opened #44331 "[FE] [BUG] "Too late for check-in" message shown when patient is in a later timezone"
## User Story
As a patient, I want to be able to use the app when my phone's timezone doesn't match the facility's timezone, so that I can check in for my appointments.

## How to reproduce

- Using staging, create an appointment in the check-in window
- Set your computer/device timezone to Atlantic Time Zone (Halifax, Canada works)

![Image from iOS.png](https://images.zenhubusercontent.com/5f6b9

[2022-07-13 20:36] michelpmcdonald commented on #42476
I suspect we should apply the fix to all 526 text fields that the users can edit

[2022-07-13 20:37] rmtolmach opened #44332 "[Platform Website] Document roster requirement for AWS and SOCKS access"
## Description
Anyone requesting SOCKS or AWS access is checked against the VFS roster or Platform roster. This requirement is not documented anywhere, so sometimes users are confused. Let's write up something for the Platform website [Request access to tools](https://depo-platform-documentation.scrollhelp.site/getting-started/request-access-to-tools) page, and/or its sub-page, [Accessing Internal

[2022-07-13 20:38] oseasmoran73 commented on #44317
https://github.com/department-of-veterans-affairs/va.gov-team/issues/44318

[2022-07-13 20:40] jacobworrell commented on #42229
@michelpmcdonald @saderagsdale don't want to leave this blocked indefinitely. Are there next steps for squad 1 here?

[2022-07-13 20:41] saderagsdale commented on #42476
@scottymeyers @michelpmcdonald Hi both! This issue isn't listed in the last sprint planning doc or the current one. Does this require our attention now or are there other priority bugs/feature work that should take priority?

[2022-07-13 20:42] benbrasso-agile6 commented on #44240
@acrollet I updated the description

[2022-07-13 20:43] saderagsdale commented on #42229
@jacobworrell I left all the context I had in the Background Context Section. Dana and Premal can explain more.

[2022-07-13 20:45] saderagsdale commented on #43587
@Mottie So are we just informing Lighthouse that we won't be providing all the options available in their endpoint? Or does it require additional refinement to ask them to change something?

[2022-07-13 20:45] marcynadeau commented on #37906
@ldelacosta @aarathi-poldass This was tested and passed testing.  Also note that provider on past requests is also now displaying.  You can close the defect.

[2022-07-13 20:50] JoeTice commented on #29866
Liquid template tests have been removed at this point, so this ticket is no longer valid as is

[2022-07-13 20:50] #29866 closed

[2022-07-13 21:03] katherine-fung commented on #41818
Thanks @joshkimux! That's a good point, and I think your proposed idea could work really well. I'm wondering if the label would be even more clear for users if we say, for example, "Medical record - Photocopy, 1 of 2" or "Dental record - Photocopy, 1 of 2" instead of STR. I imagine not everyone will immediately understand what STR means. As long as people easily understand what the document type n

[2022-07-13 21:04] jhouse-solvd commented on #38580
After speaking with Tim, it sounds like all that is needed is the PagerDuty API Key. The CMS team already uses Parameter Store for managing secrets. So, once they have the credentials or API key, they can take it from there.

My vote would be to give them the ability to create API Keys in PagerDuty directly so that they are not blocked by the Platform Infrastructure team.

[From the PagerDuty docu

[2022-07-13 21:13] mchelen-gov commented on #44328
We have GHA stale enabled for access requests, this could be updated to include any other desired labels: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/.github/workflows/stale-ops-access-requests.yml

[2022-07-13 21:34] tameracorson commented on #44293
Meeting set 7/19 @1300-1400 ET ![image.png](https://images.zenhubusercontent.com/61856bab21cd5965714d703d/2330182c-0c27-46b4-bcce-bda248456df0)

[2022-07-13 21:37] ddzz commented on #41688
@tlei123 I've been working on this in this branch: https://github.com/department-of-veterans-affairs/vets-website/compare/flaky-dashboard-e2e-fix

It appears that a component isn't rendering in CI. Trying to figure out why..

[2022-07-13 21:44] tameracorson opened #44334 "1095-B Hybrid MVP for Accessibility"

[2022-07-13 21:47] davidakennedy commented on #39727
Re: aria-labels:

Good call! I don't want to break anything either. I [raised this issue in Slack](https://dsva.slack.com/archives/C023ZKDJJK1/p1657747784483259) to see if anyone knows of any reason these are there.

Yes, that's perfect. And that makes sense, regarding the shadow DOM.

Thanks for the work here, @bkjohnson!

[2022-07-13 21:48] Mottie commented on #43587
We'll need to ask them to double/triple check that only the "veteran" claimant type that's working right now. If all types are supported, then we'll need to discuss what we're doing for initial launch. Adding a non-Veteran claimant type will make the form a bit more complicated and will require changing some of the already existing work.

[2022-07-13 22:06] considerable commented on #43120
This [AWS EKS blog](https://aws.amazon.com/blogs/containers/how-to-automate-amazon-eks-preventative-controls-in-ci-cd-using-cdk-and-opa-conftest/) might be a well-structured model example of a case study section for a playbook.
Substitute "CDK" CI/CD with "ArgoCD", substitute "guest-book" application with "Sidekiq-UI", etc.

[2022-07-13 22:30] brianseek opened #44335 "[FE] - Text inputs missing red line in error state"
## Description
When in error state the text inputs in the validate form get their red line clipped off. This is due to having less padding in the main container at mobile sizes. Also when in error, the labels seem to have extra margin.

## Tasks
- [ ] Consult with UX on options (i.e. more padding on container, add an additional container around inputs on error, etc)
- [ ] Surface issue with design

[2022-07-13 22:36] considerable opened #44336 "[Spike] See if Amazon EKS Anywhere is a fit for local development"
## Background/Request
_What details are necessary for understanding the specific work or request tracked by this issue?_

Recent article [Getting started with Amazon EKS Anywhere on Bare Metal](https://aws.amazon.com/blogs/containers/getting-started-with-eks-anywhere-on-bare-metal/) explains how to run on-premises Kubernetes clusters with- or without virtualization.

### Goal

Determine if a local

[2022-07-13 23:00] #43864 closed

[2022-07-13 23:00] theodur commented on #43864
After creating the RFC and discussing the issues mentioned in it, we decided to take a simpler approach by using the process we have now for dev & staging changed app deploys. One of the main concerns was the frequent syncing of application bundles with outdated global bundles, breaking applications in production. After some consideration, it's unlikely to happen often, since global bundles don't

[2022-07-13 23:02] theodur commented on #43867
Closing this ticket since we're no longer planning to update the build directory structure. This won't be needed anymore since CI already handles building and testing both build types with our current infrastructure

[2022-07-13 23:02] #43867 closed

[2022-07-13 23:17] theodur commented on #35198
After creating an RFC for the problem mentioned above, we ultimately decided that the syncing of application bundles and global bundles in the deployment bucket would rarely cause issues, since global bundles don't often change. A more descriptive [explanation](https://github.com/department-of-veterans-affairs/va.gov-platform-architecture/pull/32#issuecomment-1183634886) was added to the RFC. As a

[2022-07-13 23:19] SKasimow commented on #43481
I moved to backlog until it can be assigned to a dev to continue to work. Do you have the contacts to follow-up with and get the ticket status?

[2022-07-13 23:20] tameracorson commented on #44263
note from Collaboration support request ticket 7/12/22, reply 7/13/22
Shira Goodman
  9 hours ago
hey
@Tamera Ann Corson
 - Could you please submit a Collab Cycle Request ticket (via the kickoff page)? We'll follow up and let you know what touchpoints you need. This is our new process, so you'll use the Collab Cycle Request ticket for tracking all touchpoints in the Collab Cycle.
depo-platform-doc

[2022-07-13 23:27] theodur commented on #35192
Now that we have Slack notifications that get sent to [#status-vets-website](https://dsva.slack.com/archives/C02V265VCGH), and the [Fronted Support Dashboard](https://department-of-veterans-affairs.github.io/veteran-facing-services-tools/frontend-support-dashboard/) that's been [recently updated](https://github.com/department-of-veterans-affairs/va.gov-team/issues/41668) to account for changed app

[2022-07-13 23:27] tameracorson commented on #43797
ticket closed, no longer necessary to do Jaws test

[2022-07-13 23:28] tameracorson commented on #39722
ticket closed due to non-support of 508 office and team based solution found.   see hybrid MVP designs

[2022-07-13 23:29] SKasimow commented on #44309
dupe

[2022-07-13 23:29] #44309 closed

[2022-07-13 23:30] tameracorson commented on #43668
@carldickerson I can close this ticket right?  The build is in Notify for Blast and annual.  If not, I can keep ticket in for sprint 6.  @tameracorson

[2022-07-13 23:31] tameracorson commented on #38709
New ticket created

[2022-07-13 23:33] SKasimow commented on #44251
@tpharrison - think this is a dupe to #44252 and can be closed. Something similar was happening to me earlier where it said my ticket wasn't created so I hit "submit" again and ended up with 2 tickets.

[2022-07-13 23:34] SKasimow commented on #44248
dupe to #44249

[2022-07-13 23:34] #44248 closed

[2022-07-13 23:34] SKasimow commented on #44247
@tpharrison dupe to $44249

[2022-07-13 23:35] #44247 closed

[2022-07-13 23:42] SKasimow commented on #44230
Moving some comments from #44310 since it was a dupe to this ticket:

Per @adamwhitlock1

A couple things that I am noting from investigating this.

The problematic data seems to be getting sent in the place that {{ clickText }} is being sent in the GA code
Since this is automated and not something that is sent in by any of our team's FE code, I dont know how we would specifically mitigate this
We

[2022-07-13 23:42] SKasimow commented on #44230
@adamwhitlock1 - are there any downsides to using the old VAModal React component?

Also, I think Mark used the new modal component for BAI; can you check?

[2022-07-13 23:44] SKasimow commented on #44310
Closing...dupe to #44230

[2022-07-13 23:46] madebydna opened #44337 "Investigate and update the use of /oauth2 in vets-api"
## Issue Description

cc @patrickvinograd
The `api.va.gov/oauth2` route will continue to be served by Lighthouse, and as such, will not be supported under the new `*platform-api.va.gov` domains. There are several references to the route in vets-api, some of which use the `api.va.gov` domain, while others use fwdproxy address under port 4475, which is the gateway to Lighthouse. The configured upstr

[2022-07-13 23:48] SKasimow commented on #43908
dupe to #43910 - closing

[2022-07-13 23:48] #43908 closed

[2022-07-13 23:48] SKasimow commented on #43907
dupe to #43910 - closing

[2022-07-13 23:48] #43907 closed

[2022-07-13 23:49] SKasimow commented on #43994
dupe

[2022-07-13 23:49] #43994 closed

[2022-07-13 23:50] SKasimow commented on #43995
Closing  dupe to #43996

[2022-07-13 23:50] #43995 closed

[2022-07-13 23:51] SKasimow commented on #44251
closing...dupe to #44252

[2022-07-13 23:51] #44251 closed

[2022-07-13 23:58] SKasimow commented on #34290
@adamwhitlock1 - are you able to make the content change on the widget?

[2022-07-14 00:02] patrickvinograd commented on #39449
[Loki Link with above query ](https://grafana.vfs.va.gov/explore?orgId=1&left=%5B%221657750722277%22,%221657754322277%22,%22Loki%20(Staging)%22,%7B%22expr%22:%22%7Bapp%3D%5C%22fwdproxy%5C%22%7D%20%7C%3D%5C%22evss_back%5C%22%20%7C%20pattern%20%5C%22%3C_%3E%20evss_front~%20evss_back%2Fevss_primary%20%3C_%3E%20%3Ccode%3E%20%3Cbytes%3E%20-%20-%20----%20%3C_%3E%20%3C_%3E%20%5C%5C%5C%22%3Cmethod%3E%20%3

[2022-07-14 00:06] randomsync commented on #43657
Reviewed the MVP Design : #42935

I don't have access to max.gov to review API documentation.

Based on reviewing the 'BTSSS Claim Ingest Service Technical Specification' document that Stephen shared with me, it would be great to know:
- the request and response payload format (or OpenAPI spec if that's available)
- authentication details (how our APIs can authenticate and submit claim requests)
-

[2022-07-14 00:08] SKasimow commented on #44075
@adamwhitlock1 - I think this can be closed as it looks like the work was done in #43087. Can you confirm?

[2022-07-14 00:15] patrickvinograd commented on #39449
Then if you aggregate that and group by path, you can see counts for how many times each was invoked.
Here's all evss request paths over the last 24 hours (set to an "instant" query in Loki to get a nice table instead of a timeseries:
[code]
[Loki link](https://grafana.vfs.va.gov/explore?orgId=1&left=%5B%221657750722277%22,%221657754322277%22,%22Loki%20(Staging)%22,%7B%22expr%22:%22sum%20(count_ov

[2022-07-14 00:28] madebydna opened #44338 "Update /internal/auth routes in vets-api to use fwdproxy"
## Issue Description

The `/internal/auth` domain is used by Lighthouse for OAuth token validation. It will be accessible only from the existing `api.va.gov` domains but not from the new`*platform-api.va.gov` ones.

One instance in which vets-api makes use of this route (via an API call to `api.va.gov`) has been found in the context of the Claims API. This will need to be updated to use the fwdpro

[2022-07-14 00:29] madebydna opened #44339 "Update /internal/auth routes in vets-api to use fwdproxy"
## Issue Description

The `/internal/auth` domain is used by Lighthouse for OAuth token validation. It will be accessible only from the existing `api.va.gov` domains but not from the new`*platform-api.va.gov` ones.

One instance in which vets-api makes use of this route (via an API call to `api.va.gov`) has been found in the context of the Claims API. This will need to be updated to use the fwdpro

[2022-07-14 00:29] #44338 closed

[2022-07-14 00:41] patrickvinograd commented on #44337
My assertion is that we should add additional forward proxy routes in dev and staging that point to sandbox, and the mobile API should use those.

The `Settings.oidc` ones should map dev-dev, staging-staging, because those are Lighthouse using itself, so the intent is for an environment to be self contained.

The mobile app one is, from lighthouse's perspective, an external team, and external team

[2022-07-14 00:49] td-usds commented on #43255
ping @TW-Addy

[2022-07-14 00:52] td-usds commented on #43890
@Tonksthebear can you confirm that Travis is still your PO and/or PM (and update if this is not the case)
@kjduensing can you specify which permissions Andrew Herzberg currently has (I don't want to inadvertently mirror too broad permissions)?

[2022-07-14 00:56] td-usds commented on #43935
Access approved for 3 months (5 months is too long of a window); I have updated the issue itself with the same

[2022-07-14 01:01] td-usds commented on #43935
There are multiple requests for the exact same thing: see https://github.com/department-of-veterans-affairs/va.gov-team/issues/43936 which lists the same thing verbatim:

We also have confirmation that other members on this team have the required (elevated) access already.

I think it would make sense to discuss how to structure who actually runs that. I have security concerns with granting everyo

[2022-07-14 01:01] td-usds commented on #43936
There are multiple requests for the exact same thing: see https://github.com/department-of-veterans-affairs/va.gov-team/issues/43935 which lists the same thing verbatim:

We also have confirmation that other members on this team have the required (elevated) access already.

I think it would make sense to discuss how to structure who actually runs that. I have security concerns with granting everyo

[2022-07-14 01:02] theodur opened #44340 "Remove wait action from daily production deploy"
## Description
Currently, the daily production deploy workflow in `vets-website` gets paused for 60 minutes before completing the deployment. Historically, this has been in place so that teams can have time to check their application's code on staging before it's deployed to production. With autonomous deployments being released for production deploys soon, having the daily production deploy workf

[2022-07-14 01:06] td-usds commented on #43936
@dsrr47 Can you confirm that we should then first revoke said privileges from @af-manish and @mrblanco1 if they have time constraints and no longer use this access? We should be scoping _down_ who has prod access, not up.

[2022-07-14 01:06] saderagsdale commented on #43477
@thehastingsp Can we close this one?

[2022-07-14 01:10] td-usds commented on #43936
Doing some additional data calls

[2022-07-14 01:10] td-usds commented on #43935
Doing some additional data calls

[2022-07-14 01:11] #41322 closed

[2022-07-14 01:17] #40981 closed

[2022-07-14 01:19] td-usds commented on #43935
Also reached out to VOR

[2022-07-14 01:19] td-usds commented on #43936
also reached out to VOR

[2022-07-14 01:21] td-usds commented on #43890
Also reached out to VOR for info

[2022-07-14 01:21] td-usds commented on #43255
Also reached out to VOR for info

[2022-07-14 01:27] saderagsdale commented on #42300
@Mottie can you add next steps to this ticket? Want to make sure its on a pathway to getting resolved/closed.

[2022-07-14 01:27] Mottie commented on #42216
Ok that sounds good. I started working on an update form 686c-674 earlier today, and I'll hopefully have it done tomorrow sometime.

[2022-07-14 01:31] Mottie commented on #42300
For next steps, we could either close this as complete (the frontend is now ignoring the error), or update the backend to pass a successful message with an empty array value - meaning no contestable issues. Ultimately, I think the fix would need to be made by Lighthouse. Our changes on the frontend & backend are merely work arounds.

[2022-07-14 01:49] tlei123 opened #44341 "[QA] Upgrade/refactor Cypress-TestRail integration for Cypress 10"
Upgrade and/or refactor integration scripts & libraries to keep working between Cypress (automated testing framework) & TestRail (test-case management system.

Platform QA is upgrading Cypress from v9 to v10, with breaking changes.

## Definition of done
### What must be true in order for you to consider this epic complete?

- [x] cy-tr-reporter (3rd-party, open-source integration library) works w

[2022-07-14 11:49] vbellissimo opened #44342 "Create Console content review workflow"
Acceptance Criteria:

- [x] Meet as a team to determine recommended console content review process
- [x] Create service blueprint/workflow of how content on the console will be reviewed by our team (This will not include the support intake process, since this may be owned by another team).

Mural: https://app.mural.co/t/adhoccorporateworkspace2583/m/adhoccorporateworkspace2583/1658930919439/6f4392

[2022-07-14 11:53] vbellissimo opened #44343 "Ideas for Console content style guide"
**User Story**

As a platform team member building new functionality for the Console UI,
I need to review content-specific guidance from the Platform Content team,
So that I can make sure there aren't any major content concerns by the time the feature is launched.

**Acceptance Criteria**
- [x] Identify what is unique to the console content that could be added to existing style guide
- [x] Incorpo

[2022-07-14 11:55] vbellissimo opened #44345 "Explore formatting options for product list"
Acceptance Criteria:

- [x] Meet with Joe Tice's team
- [x] Figure out level of detail that should go into the list (attributes)
- [x] Formatting options in Confluence vs formatting flexibility from the integration
- [x] Confirm whether JSON file/integration will require team deployment or no: Deployment will still be needed and we will still deploy twice a week.

[2022-07-14 11:57] #43275 closed

[2022-07-14 11:57] #43825 closed

[2022-07-14 11:57] #42799 closed

[2022-07-14 11:57] #43826 closed

[2022-07-14 12:01] tameracorson commented on #44271
@munishmo Michelle Dooley with Google analytics is requesting a mandatory meeting with PM and tech lead regarding some changes.  I have posted in Slack on this a week or so back without response.  I think it got lsot in PDF testing.  Anyway, very serendipitous since we need to speak with her.  Please let me know which times work for you and Shashank ![image.png](https://images.zenhubusercontent.co

[2022-07-14 12:02] tameracorson commented on #43653
![image.png](https://images.zenhubusercontent.com/61856bab21cd5965714d703d/30284a17-ea5a-46dd-b131-b98bf9cb35bd)

[2022-07-14 12:08] #38351 closed

[2022-07-14 12:08] #43650 closed

[2022-07-14 12:08] #40454 closed

[2022-07-14 12:08] #42694 closed

[2022-07-14 12:08] #43485 closed

[2022-07-14 12:08] #43597 closed

[2022-07-14 12:08] #43797 closed

[2022-07-14 12:08] #38709 closed

[2022-07-14 12:08] #39722 closed

[2022-07-14 12:08] #43594 closed

[2022-07-14 12:08] #36175 closed

[2022-07-14 12:08] #38387 closed

[2022-07-14 12:08] #41560 closed

[2022-07-14 12:09] ldelacosta commented on #37906
No issues reported. Closing out the ticket.

[2022-07-14 12:09] #37906 closed

[2022-07-14 12:11] tameracorson commented on #44293
BLOCKED... now Mike is changing mind on time... stand by

[2022-07-14 12:31] djfredvs opened #44346 "08/02/22 12:30 PM VEText Community Care Training"
Booked by JoAnne Brougham
This training was cancelled due to the booking party did not attend.

[2022-07-14 12:35] djfredvs opened #44347 "07/28/22 12:30 PM VEText Prescription Tracking Training"
Booked by JoAnne Brougham
This training has been cancelled.
The booking party did not attend.

[2022-07-14 12:39] djfredvs opened #44348 "08/02/22 2 PM VEText Admin Training"
Booked by Diane Murray, Tammi Horn

[2022-07-14 12:59] girldadmk commented on #43715
@kjduensing on second thought...why wouldn't think be included in our Operational Documentation? This is valuable insight we could provide whoever picks up access management.

[2022-07-14 13:00] girldadmk commented on #44087
@calquisola who provides these privileges? Anything I can do to get this unstuck?

[2022-07-14 13:07] ewilson-adhoc commented on #44026
By the way @kjduensing IET has been working on something similar with an eye to microservices -- its still very much a WIP, but can be found here (https://vfs.atlassian.net/wiki/spaces/IET/pages/2241003742/Vets-API+Migration+Plan+Supported+Tools)

[2022-07-14 13:08] loripusey commented on #44331
@acrollet just curious, was this something you discovered yourself or did it come to us from something that was reported?

[2022-07-14 13:09] loripusey commented on #43657
@randomsync are you going to reach out to Patrick to see about passing these questions along to the BTSSS folks (seeing as how Stephen is out)?

[2022-07-14 13:22] tpharrison commented on #43582
The deadline to migrate from eMIS was pushed back - https://dsva.slack.com/archives/C03LT909K1A/p1657745465279999

It looks like the Console Services team is taking taking responsibility for this work.

[2022-07-14 13:22] #43582 closed

[2022-07-14 13:26] andaleliz commented on #43481
@SKasimow assuming that question is directed to me... all I know is that Mark initially started via a convo with @ITS-mharlow. I connected them [here in this Slack thread](https://dsva.slack.com/archives/C1VBAHWQL/p1656002922580319) and then the conversation went to email. I wasn't involved beyond that.

I don't have permission to view the ticket Mark created, but perhaps that's something or the d

[2022-07-14 13:33] michelle-dooley opened #44350 "PII Audit in GA Tracking"
## What happened?
PII is coming through on a GA report, trying to determine where/how that is happening and resolve.  See slack chain for details:  https://dsva.slack.com/archives/CBU0KDSB1/p1657733956010719

Audit all GA event action reports to see if PII may be coming through from other sources.

## Steps to Reproduce
- URL:
- Test User _(if applicable)_:

## Desired behavior
_Describe in detail

[2022-07-14 13:48] Mottie commented on #42300
Closing, as I think Lighthouse will need to address this problem.

[2022-07-14 13:48] #42300 closed

[2022-07-14 13:50] jbritt1 commented on #44328
Agreed, seems like we could just expand it.

[2022-07-14 13:51] jennaouellet commented on #44350
Adding in the steps I'll be taking here:

## Acceptance Criteria
- [ ] Configure or utilize an existing event and provide dataLayer to be manually pushed by dev

- [ ] QA implementation once in staging

- [ ] Delete user using the Google API

- [ ] Modify GTM custom JavaScript tag that scrubs PII to do additional checks for incoming PII

- [ ] QA and publish updated GTM container

For checkpoint 1

[2022-07-14 13:52] joshkimux commented on #41449
After talking with @skylerschain we've decided to hold off on this [until more technical discovery is done here](https://github.com/department-of-veterans-affairs/va.gov-team/issues/42904) 😄

[2022-07-14 14:01] rjohnson2011 commented on #43947
Make minor modifications to the user guide based on notes from the conversation w/Joe. Finalizing the Changeable vs Closed attributes section.

[2022-07-14 14:03] pjhill commented on #44096
@rbeckwith-oddball is currently creating a PR in `devops` to store this workaround and documentation.

[2022-07-14 14:06] #43627 closed

[2022-07-14 14:07] #43652 closed

[2022-07-14 14:07] pjhill commented on #43790
- [ ] - Consult with @holdenhinkle regarding the Viewport bot updating the config correctly now that the format has changed

[2022-07-14 14:07] #43436 closed

[2022-07-14 14:07] saderagsdale opened #44351 "[epic] NOD | Post-Launch Enhancements"

[2022-07-14 14:08] steel36 opened #44352 "Use QA Standards product list to build out Map"
## Issue Description
Use QA Standards Product list to add info on teams and their services

https://vfs.atlassian.net/wiki/spaces/PWD/pages/2294120662/VFS+Product+Directory

## User Story
As a Platform team member, what tools or services does each team provide for what purpose?

---
## Tasks
- [x] Add additional info on services to Map mural

## Acceptance Criteria
- [x] Services for each team are

[2022-07-14 14:11] thehastingsp commented on #37470
Adding a note to this ticket that we are working on this pattern for Supplemental Claims. This will be a new pattern that will replace the wizard and has been reviewed by the design system lead. Once we complete the work for Supplemental Claims we will be able to add this pattern to HLR.

[2022-07-14 14:12] steel36 opened #44353 "Gain access to Console"
## Issue Description
Each team member needs to step through getting access to the Console.

Login instructions: https://vfs.atlassian.net/wiki/spaces/CUI/pages/2098004015/Logging+into+the+Platform+Console+-+Instructions

---
## Tasks
- [x] Review guidance on Console access
- [x] Attempt to step through process

## Acceptance Criteria
- [x] Bryan has access to Console
- [x] Taylor has access to Con

[2022-07-14 14:14] steel36 opened #44354 "Map service info using the Console"
## Issue Description
Use Console's catalog, add info on teams and their services

## User Story
As a Platform team member, what tools or services does each team provide for what purpose?

---
## Tasks
- [x] Add additional info on services to Airtable

## Acceptance Criteria
- [x] Services for each team are mapped in Airtable

[2022-07-14 14:16] RLHecht commented on #43742
I created this doc in github and added the 2 areas Tiffany mentioned: That the intro text shouldn't be changed and the What to bring section should be copied from the workbook. Thanks for all your work on this @megzehn Closing this ticket!

[2022-07-14 14:16] #43742 closed

[2022-07-14 14:16] steel36 opened #44355 "Determine audience for this resource"
## Issue Description
Who is the audience for this Mapping resource?

Platform?
Octode?
VFS?
SDT?

---
## Tasks
- [ ] Workshop this question

## Acceptance Criteria
- [ ] Agreed upon primary and secondary audiences

[2022-07-14 14:17] #43984 closed

[2022-07-14 14:17] FHiatt opened #44356 "Package Sidekiq UI for Transition to Console Services Team"
## Problem Statement
For the Console Services Team to make the most of the Sidekiq UI service, the services needs to be documented and packaged for a successful delivery to a team for continued maintenance and/or further releases.

## Hypothesis or Bet
If the IET provides the required documentation and packaged artifacts, a team picking this up in the future can easily and successfully maintain an

[2022-07-14 14:20] djfredvs opened #44357 "07/18/22 9:30 AM VEText Pre-Check-In Configuration Training"
Booked by Jonathan Bunting

[2022-07-14 14:22] saderagsdale opened #44358 "Supplemental Claims | Define the MVP Design"

[2022-07-14 14:27] saderagsdale opened #44359 "Supplemental Claims | Build the Infrastructure"

[2022-07-14 14:34] loripusey opened #44360 "[SPIKE] Brainstorm Delivering Login/General Errors Up the Chain to Staff-Facing Applications"
## Background
Shawn Adams brought up the issue where there exists a "MULTIPLE BIRTH INDICATOR" field that can indicate that there are multiple DOB values for a Veteran. Since CHIP API provides us with only 1 DOB value for each patient, there exists the possibility that a Veteran can enter a DOB that fails verification because that is not the one that we have in LoROTA. Shawn mentioned that it woul

[2022-07-14 14:36] loripusey commented on #44360
@acrollet @randomsync  I went ahead and pulled this into this Sprint, but it was not in our Sprint goals so if you don't have time to get to it we can roll it over. It's here though if the FE or BE team needs some additional work.

[2022-07-14 14:37] acrollet commented on #44331
@loripusey this was reported here: https://dsva.slack.com/archives/C02UP02HHGX/p1657739770123959

[2022-07-14 14:37] RLHecht commented on #43043
Closing this ticket since there's a separate one to implement the changes to the workbook and national content.

[2022-07-14 14:37] #43043 closed

[2022-07-14 14:40] scottymeyers commented on #42476
@michelpmcdonald w/ `rchardet`:

[code]

Output:
[code]

[2022-07-14 14:45] ericboehs commented on #39449
Console Services was planning on adding [Coverband](https://github.com/danmayer/coverband) at some point (via https://github.com/department-of-veterans-affairs/va.gov-team/issues/29895). This would tell us if the code was getting called internally.

Does that sound like something that would help?

[2022-07-14 14:59] raywangoctova commented on #42543
@mchelen-gov if there is any specific priority that you think we should focus on, it might be helpful if you can list them out on this ticket.

[2022-07-14 15:02] #44331 closed

[2022-07-14 15:04] aubreyarcangel opened #44361 "VA Performance Dashboard - Draft Architectural Design Record"
As part of the VA Performance Dashboard rebuild, an Architectural Design Record will help communicate the reasons for rebuilding.

[2022-07-14 15:05] Samara-Strauss commented on #34290
@adamwhitlock1 I'm sorry for the confusion, and my above comment is definitely confusing. This is the way I think things work:

- Content team updates content *outside* of the widgets (red area in screenshot)
- A FE dev needs to update anything to do with the widgets, whether that is content or functionality (blue area in screenshot)

So, yes, it would be great if you could update the copy in the

[2022-07-14 15:07] benbrasso-agile6 commented on #43630
What to measure:

What we can control:

Total claim submissions (i.e., completed check-ins with "Yes" to travel pay)
% of total completed check-ins with claim
% of times a claim was started, user backed out and said "No," and check-in was completed
% of times a claim was started and user did NOT complete check-in
% PCI utilization before/after comparison to when travel reimbursement was merged

**

[2022-07-14 15:09] #1751 closed

[2022-07-14 15:11] rmtolmach opened #44362 "[Platform Website] Change Datadog section"
## Description
Now that we are using the vagov.ddog-gov account, this section from the platform website needs to change
https://depo-platform-documentation.scrollhelp.site/getting-started/request-access-to-tools
![image](https://user-images.githubusercontent.com/10993987/179013687-5b01f2f6-0823-405b-8981-f294a932f5ef.png)

---
## Tasks
- [ ] Update the Confluence page that gets turned into the pla

[2022-07-14 15:15] aubreyarcangel opened #44363 "Create Epics and Tickets for VA Performance Dashboard"
## Issue Description

The VA Performance Dashboard rebuild needs Epics and tickets created to better inform the progress of setting up scope of work.

## Tasks
- [ ] Aubrey Arcangel will work to create Epics and tickets as part of the VA Performance Dashboard rebuild
h

## Acceptance Criteria

- [ ] Tickets are created for Frontend work, CICD work, and Data Integration

[2022-07-14 15:19] longmd opened #44364 "[FE] | 10-10EZ | Consolidate form description and alert components"
## Description
In the health care application, we have description and alert components strewn out around the app markup. This muddies up the markup, making it a bit difficult to find things. This also creates a fair amount of inconsistency in how and where these components are used. We need to do a bit of housekeeping to consolidate these components into a single location for reference and use.

[2022-07-14 15:20] longmd opened #44365 "[FE] | 10-10EZ | Consolidate form description and alert components"
## Description
In the health care application, we have description and alert components strewn out around the app markup. This muddies up the markup, making it a bit difficult to find things. This also creates a fair amount of inconsistency in how and where these components are used. We need to do a bit of housekeeping to consolidate these components into a single location for reference and use.

[2022-07-14 15:24] adamwhitlock1 commented on #34290
Oh that makes more sense! Sure ill update the copy in the widget. Thanks @Samara-Strauss

[2022-07-14 15:27] MitchLivingstone commented on #43644
@PJart Please see Mock data to test calculation formula.

[https://app.zenhub.com/files/133843125/dc27d1d3-7465-4bce-98ea-cfe84d183340/download](https://app.zenhub.com/files/133843125/dc27d1d3-7465-4bce-98ea-cfe84d183340/downloadt)

[2022-07-14 15:34] djfredvs opened #44366 "07/20/22 9:30 AM VEText Prescription Tracking Training"
Booked by Frances Johnson
Cancelled

[2022-07-14 15:34] shiragoodman opened #44367 "Staging Review- Benefits 2: Combined Debt Portal"

[2022-07-14 15:35] shiragoodman opened #44368 "Midpoint Review [Digital Health Platform, MVP]"

[2022-07-14 15:35] shiragoodman opened #44369 "Midpoint Review [Digital Health Platform, MVP]"

[2022-07-14 15:36] vbellissimo opened #44370 "Revisit our launch blocking issues list & style guide"
Acceptance criteria:

- [x] Review our existing launch blocking issues list and style guide
- [x] Meet as a team to discuss what we want to edit or add to process
- [x] Update launch blocking issues list and style guide as needed (adding intros, etc.)
- [x] Communicate changes to other teams, as needed

[2022-07-14 15:36] #41392 closed

[2022-07-14 15:37] #37110 closed

[2022-07-14 15:37] #43630 closed

[2022-07-14 15:37] kanchanasuriya commented on #43657
Adding a couple of more to the above technical question list,
1.  Is there any claim limit for using ClaimIngestService?
2.  What are the veteran eligibility criteria for calling ClaimIngestService?

From a product perspective, are we looking for notifying staff of the travel reimbursement claims submitted via check-in workflow?

[2022-07-14 15:39] oseasmoran73 opened #44371 "Upgrade ArgoCD to latest version"
## Description

We would like to get on the latest version of ArgoCD to stay on top of things, but also use the `exec` feature that was recently included. This will allow teams to shell into pods (permissions will need to be granted, which will be created in a separate ticket) similar to how teams are able to SSH into EC2 instances

---
## Tasks
- [x] Review ArgoCD documentation to ensure no break

[2022-07-14 15:45] npeterson54 commented on #37026
We may  need to add https://github.com/ankane/strong_migrations

[2022-07-14 15:45] oseasmoran73 commented on #44371
https://github.com/department-of-veterans-affairs/vsp-infra-argocd/pull/51
https://github.com/department-of-veterans-affairs/vsp-infra-argocd/pull/52
https://github.com/department-of-veterans-affairs/vsp-infra-argocd/pull/53
https://github.com/department-of-veterans-affairs/vsp-infra-argocd/pull/55
https://github.com/department-of-veterans-affairs/vsp-infra-argocd/pull/56

[2022-07-14 15:45] #44371 closed

[2022-07-14 15:48] vbellissimo opened #44373 "Revisit deployment time of day"
Acceptance Criteria:

- [x] Meet as a team to decide new process

Socialize the change:

- [x] Determine HOW to communicate this message (platform confluence, slack, specific slack channels for developers who contribute to the Platform, etc.); Also reference the Communications playbook recommendations: https://vfs.atlassian.net/wiki/spaces/PMCP/pages/1927675936/Platform+communications+playbook+-+G

[2022-07-14 15:48] longmd commented on #43561
@hdjustice  / @markfallows .. Great news.... The design system updates have been implemented and we have a successful address fill with all fields. I have gone through and tested on staging and she looks magnificent. If you want to give it a look and then we can come up with a rollout plan!

[2022-07-14 15:51] lindsay-insco opened #44374 "Create messaging for longcode # change"

[2022-07-14 15:51] lindsay-insco opened #44375 "Provide VA Notify message service & #"

[2022-07-14 15:54] aubreyarcangel opened #44376 "VA Performance Dashboard - Find hosting solution for VA Performance Dashboard rebuild"
## User Story

_As an engineer I need to figure out a hosting solution for the VA Performance Dashboard app deployment

## Tasks
- [ ] Research and discover solutions for VA Performance Dashboard app deployment

## Acceptance Criteria
- [ ] I can visit the VA Performance Dashboard rebuild site

[2022-07-14 15:54] kristenmcconnell opened #44377 "[Research] Get posters printed for Corpus Christi trip"
# Tasks
- [ ] Print and laminate 12 8.5X11 posters

# Acceptance Criteria
- [ ] Make sure they make it to Corpus Christi for the research study

[2022-07-14 16:02] longmd commented on #44208
Closing as duplicate of #44208

[2022-07-14 16:02] #44208 closed

[2022-07-14 16:04] andresriveratoro commented on #39748
This was fixed as part of this [PR](https://github.com/department-of-veterans-affairs/component-library/pull/466).

[2022-07-14 16:08] longmd commented on #27414
@shiragoodman , in review of this, I think this may fall under the similar Design System team need as #27411. As they are working on a new file upload component, this may be something they need to be sure to incorporate as well.

[2022-07-14 16:11] #43393 closed

[2022-07-14 16:12] #30544 closed

[2022-07-14 16:13] SKasimow opened #44379 "Profile Team | Change Address Messaging Modal | Analytics Feature Request/Bug Report"
# Analytics Feature Request/Bug Report

## What this form is for

Use this template to request an Analytics dashboard feature or report a dashboarding or Google Analytics/Google Tag Manager bug. This form is for enhancements to the existing KPI dashboards. If you have any analytics questions, please use the `/support` command on [#vfs-platform-support](https://dsva.slack.com/archives/CBU0KDSB1) ch

[2022-07-14 16:13] michelpmcdonald commented on #37947
As of July 14th, 1850 attempted file uploads have hit this issue.

[2022-07-14 16:15] #43381 closed

[2022-07-14 16:16] #37787 closed

[2022-07-14 16:16] #37786 closed

[2022-07-14 16:17] SKasimow opened #44380 "Profile | Address Change Messaging Modal | Analytics Custom Event Request"
## Ticket Description

After we began a phased roll-out for the "change address messaging" modal prompt, we saw 2 instances of PII being captured in the GA reports.

While the Analytics team works to scrub the PII and fix this issue (#44350) we determined that we would be better supported by having a custom event created for this modal; this provides more control over what is tracked and how the d

[2022-07-14 16:18] acrollet commented on #44331
Confirmed that a "normal" check-in worked on staging:
![Screen Shot 2022-07-14 at 10 16 52](https://user-images.githubusercontent.com/101649/179029543-3b24abe5-4560-4c2f-a737-67eff24bf678.png)
![Screen Shot 2022-07-14 at 10 16 44](https://user-images.githubusercontent.com/101649/179029546-1384b0d6-f4c7-4bf1-825a-0b44209a230c.png)

[2022-07-14 16:20] jnaeemva opened #44381 "AWS access for Jamil Naeem"
### COR Name

Other - please specify in 'Additional Notes'

### Vendor Onboarding Representative Name

Other - please specify in 'Additional Notes'

### Your Name

Jamil Naeem

### Your Email

jamil.naeem@va.gov

### Team, Role, and Company of the target individual

MHV Secure Messaging, Front End Developer, By Light Professional IT Services

### Product Manager (PM) name and email

Lichelle Bain

[2022-07-14 16:20] calquisola commented on #42261
Hi @jhouse-solvd,

Thank for you response.

We want the ability to use self hosted runners.

Our terraform files are in the devops [repo.](https://github.com/department-of-veterans-affairs/devops/tree/master/terraform/applications/keycloak)

Best,
Carl

[2022-07-14 16:22] RLHecht commented on #43901
@laurwill Can you look at the text I put in this doc for what is shown to those who see the action link and those who don't? Once it looks OK I can give it to the product team for the react widget. [https://app.zenhub.com/files/133843125/8f5fd1d1-f788-418d-bec2-0476db6d696f/download](https://app.zenhub.com/files/133843125/8f5fd1d1-f788-418d-bec2-0476db6d696f/download)

[2022-07-14 16:22] steel36 commented on #40657
Added link to early version of list, following workshop discussion

[2022-07-14 16:23] zach-park opened #44382 "[Design] Update Check-in wireframes to be up-to-date"
Current wireframes don't match the most recent releases. And they need to be audited and then refreshed to be consistent with the latest implementation.

Task
- [x] Update Check-in wireframes
- [x] Update the Collection (in the master branch)

Acceptance Criteria
- Updated Check-in wireframes to match the latest FE implementation
- Updated the Collection (in the master branch) with clickthrough op

[2022-07-14 16:24] #27801 closed

[2022-07-14 16:24] #28763 closed

[2022-07-14 16:25] #28727 closed

[2022-07-14 16:25] mleclerc00 commented on #44381
User found in vfs team roster

## For AWS Access
User: Jamil Naeem
COR: Sean Good
VOR: Kenneth Brown
Approval required: @department-of-veterans-affairs/operations-aws-approvers
Admin level: no

[2022-07-14 16:26] #29897 closed

[2022-07-14 16:26] #27799 closed

[2022-07-14 16:26] #34019 closed

[2022-07-14 16:27] benbrasso-agile6 opened #44383 "Create GA Events to track DOB and SSN completion and failures"
## Background

Need to be able to track login attempts with DOB and SSN, separately.

Need to be able to track login successes with DOB and SSN, separately.

## Tasks

- [x] Discuss approach to implementation with UX. Determine if we're already capturing this data for existing SSN.
- [x] Agree on GA event names for DOB.
- [x] Share approach with design system team via slack (include Patrick) and S

[2022-07-14 16:28] #32938 closed

[2022-07-14 16:30] #29634 closed

[2022-07-14 16:31] #27800 closed

[2022-07-14 16:31] #27802 closed

[2022-07-14 16:31] #27803 closed

[2022-07-14 16:31] #28719 closed

[2022-07-14 16:31] #28720 closed

[2022-07-14 16:31] #28721 closed

[2022-07-14 16:31] #28723 closed

[2022-07-14 16:31] #28724 closed

[2022-07-14 16:31] #28726 closed

[2022-07-14 16:31] #28764 closed

[2022-07-14 16:31] #28765 closed

[2022-07-14 16:31] #28766 closed

[2022-07-14 16:32] #28767 closed

[2022-07-14 16:32] michelpmcdonald commented on #41579
The fix to send notifications to users who hit the "PIF in Use" error when attempting to submit a 526 claim has been merged.
However, claim failures with a "PIF in Use" error message have gone away due to an attempted BGS(in their codebase, vets-api calls EVSS, EVSS calss BGS).

That being said, it looks like only the actual "PIF in Use" error message has gone away, it looks like the error message

[2022-07-14 16:32] #28772 closed

[2022-07-14 16:32] #28884 closed

[2022-07-14 16:32] #28883 closed

[2022-07-14 16:34] #10956 closed

[2022-07-14 16:34] #21019 closed

[2022-07-14 16:35] caw310 commented on #39748
Works been done so closing.

[2022-07-14 16:35] #39748 closed

[2022-07-14 16:37] laucon commented on #44225
I think a product directory is a great idea, but I'm wondering: is the Console going to have a product directory? Isn't that what the Console Catalog is? Maybe I'm wrong. But if it is, maybe we should still have a directory on the Platform website anyway? I'm not sure.

[2022-07-14 16:41] loripusey commented on #44382
@zach-park Can you point this and add some AC?
cc @sarahknoppA6

[2022-07-14 16:41] TroyA6 opened #44384 "Access for Troy Griffin"
## Welcome and Introduction
Welcome to the Veteran's Administration (VA) Veteran Facing Services (VFS) team!
As a new VFS team member, you will be working in the web ecosystem we call the VA.gov Platform (or "**The Platform,**" for short).  The tasks on this list are designed to get you up to speed on the role of Platform, making it easier for you to do your job.

Because the VA is a huge organiza

[2022-07-14 16:43] #40494 closed

[2022-07-14 16:45] #25230 closed

[2022-07-14 16:45] #24454 closed

[2022-07-14 16:48] vbellissimo commented on #44225
@laucon I asked the product manager that same question and the answer was that the long-term plan is that, in a way, the Console _would_ be that large product list. But that is a longer-term goal. In the meantime, they want to continue to keep this outside of the Console and the Platform website makes the most sense.

[2022-07-14 16:49] stiehlrod opened #44385 "SOCKS access for [individual]"
### Your Name

Jennica Stiehl

### Your Email

jennica.stiehl@oddball.io

### Your Role and Team

Backend Engineer on Dash

### Product Manager (PM) name and email

Kayla Watanbe

### Product Owner (PO) name and email

Premal Shah

### Access Type Requesting

developers

### Public SSH Key

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC0FGTM1a8z0my0hFbtesZoW/m2g0JIYsXHCGB7kQXSvDqiFE0D01KMEr1G+R2I+jPix3Zj

[2022-07-14 16:50] jsokohl commented on #43256
We might need to balance some levels of trying to achieve a zero defect approach can have. Keep in mind that designing explicitly to adjust that background color for achromatopsia means we are designing for an extremely small population of people 1 in 33,000 in the USA have congenital achromatopsia, in which case they actually see no grays. Only those with trauma-induced achromatopsia would see th

[2022-07-14 16:51] joeniquette opened #44386 "Add Statsd metric for current SSOe user creating new SiS session"
The task here is to measure how many users who go to va.gov already have a valid ssoe session and then attempt to login with SiS. The ask behind this is to measure how many users who already have SSOe sessions would "be impacted" by having to sign in again.

The catch initially around this metric is that the frontend currently will not attempt to create a new SiS session if we detect that the user

[2022-07-14 16:52] nsoutouras opened #44387 "Icebox Cleanup"
# Description
Cleaning out the Icebox.  Assigning tickets of dubious necessity to this epic so we can review as a team in the next planning and keep/close them.

[2022-07-14 16:53] RachalCassity commented on #41943
@npeterson54 Here is the updated issue.

[2022-07-14 16:53] #28381 closed

[2022-07-14 17:00] rmtolmach opened #44388 "Explore what a DevOps playbook looks like"
## Description
What would it look like to have a resource for DevOps engineers _not_ on the Platform Infrastructure team? Could we have a DevOps playbook that is the main source of truth for certain DevOps-related workflows?

## Background/context
The Infrastructure team (and really any other team) have norms and standards for how to operate. For members involved in the day-to-day of the Infrastru

[2022-07-14 17:01] longmd opened #44389 "[FE] | 10-10CG | Investigate Failing Cypress Tests"
## Description
We are seeing increasing failures in the Cypress test for the caregivers application. This is creating CI issues and blocking others from getting PRs through. We need to investigate and correct the testing markup to ensure they do not randomly fail.

## Acceptance Criteria
- [ ] End-to-end tests show 0 violations.

[2022-07-14 17:02] jw81 commented on #42885
@td-usds
Our API provides Veteran's and their representatives the ability to submit `VA FORM 21-526EZ` disability claims to the VA.  Fairly often, those claim submissions get stuck for any number of reasons.  Upstream system outages, upstream validation rule changes, invalid data sets, etc.  We cannot troubleshoot, fix, and resubmit the Veteran's submission to the VA if we do not have the ability

[2022-07-14 17:02] michelpmcdonald commented on #42699
closing, at this point, the newer claims that have hit this issue have been manually re-submitted as long as they did not have any attempted submits after the VeteranRecordWsClientException.

The fix to automatically resubmit the claims that hit this issue has been put it, so for the most part, we should not see any of theses as long as long as VeteranRecordWsClientException remains a temp issue a

[2022-07-14 17:02] #42699 closed

[2022-07-14 17:05] longmd commented on #44389
Here is a [Link to a recent log](https://github.com/department-of-veterans-affairs/vets-website/runs/7310814105?check_suite_focus=true#step:10:538)

[2022-07-14 17:07] rmtolmach commented on #42589
This will probably be solved as part of  https://github.com/department-of-veterans-affairs/va.gov-team/issues/44388.

[2022-07-14 17:10] jhouse-solvd commented on #39449
@pshahVA - I'm passing this ticket to the Console Services team who can better assist with this request. Please see Eric's comment above as a potential solution. ☺️

[2022-07-14 17:13] tmitchellgcio commented on #28459
Good to close. This is a necessary file

[2022-07-14 17:13] #28459 closed

[2022-07-14 17:13] JoeTice commented on #39151
A newer Q3 version of this initiative has been created here: https://app.zenhub.com/workspaces/planning-board-qa-standards-612411db8ec47700127369e2/issues/department-of-veterans-affairs/va.gov-team/43675

[2022-07-14 17:13] #39151 closed

[2022-07-14 17:14] #41598 closed

[2022-07-14 17:27] jhouse-solvd commented on #38580
@ElijahLynn @ndouglas - According to @little-oddball, you may already have the permissions needed to generate a REST API key in PagerDuty. If not, please let him know so that he can adjust permissions accordingly.

cc: @timcosgrove

[2022-07-14 17:30] khandelwal commented on #44273
![image (1).png](https://images.zenhubusercontent.com/601ace099a3aea67f627f313/c27f3fc4-8e10-42b5-90d9-fe3a104756dc)

[2022-07-14 17:33] saderagsdale commented on #44261
@michelpmcdonald and @scottymeyers will add tasks to this ticket.

[2022-07-14 17:34] #38249 closed

[2022-07-14 17:36] AGarcia-Clarity commented on #42478
Sent Slack message to Contact Team lead (Kimberley) for review (also pinged in the PR + added to Reviewer)

[2022-07-14 17:36] AGarcia-Clarity commented on #42458
Sent Slack message to Contact Team lead (Kimberley) for review (also pinged in the PR + added to Reviewer)

[2022-07-14 17:37] andaleliz opened #44390 "[FE] - Look into gating profile if a fiduciary flag is present"
We currently allow profile updates given a fiduciary/incompetent flag, but we shouldn't. We need to figure out how to stop this altogether.

Thankfully, VA Profile currently blocks this information from getting saved as follows.
From the [#va-profile Slack on 5.27.20](https://dsva.slack.com/archives/C7TE0PFTL/p1590608988135500):

We're able to show an alert in the direct deposit section when this

[2022-07-14 17:38] andaleliz commented on #44390
@SKasimow I created this ticket per the convo we had with Samara on Monday. This isn't a priority at all but wanted to capture it so it doesn't get forgotten. Maybe there'll come a time where one of our FE devs has some downtime and can look into this.

[2022-07-14 17:39] golavarr-va opened #44391 "Offboarding of Trung Nguyen"
# Instructions
Fill out name of individual and *Description* section below.

# Description
Please provide the following information about the individual being offboarded:
- name:

- team name:

- role on team:

- expected last day:

- company they work for:

- email:

- GitHub username:

- additional access they may have:

## Acceptance Criteria
*Performed by Platform team. Detailed instructions f

[2022-07-14 17:40] rmtolmach commented on #44371
Thanks for documenting this, @oseasmoran73.

[2022-07-14 17:41] jhouse-solvd commented on #44371
Attached to [Application Hosting and Deployment] Provide developers with tools to troubleshoot in EKS #43549

[2022-07-14 17:45] loripusey opened #44392 "Add Check-in Process Info to Pre-Check-in Confirmation and No Longer Available Pages"
## User Stories
As a Veteran, when I complete Pre-Check-in, I would like to understand what I need to do for day-off Check-in so that I don't skip it or get confused about what to do.

As a Veteran, when I click the Pre-Check-in link on the day of my appointment thinking that I am checking in, I would like to see some instructions for how to actually check in and maybe redirected to check-in.

##

[2022-07-14 17:49] joshkimux commented on #43256
@jsokohl , just for clarification, the issue is only partially related to the color (which also applies to folks who use greyscale filters on their devices).

To be more direct, I was hoping to get your thoughts on if an alternative design pattern (e.g. providing an opportunity to upload the DD214 earlier in the form) could save the user time from having to fill out the service record fields, espe

[2022-07-14 17:52] thehastingsp commented on #43638
@Mottie @scottymeyers @rocio-desantiago FYI I'm continuing the [draft of the Supplemental Claims content here](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/decision-reviews/Supplemental-Claims/design/%5Bdraft%5Dcontent.md)

[2022-07-14 17:53] holdenhinkle commented on #42738
Perhaps I can mention the SOP at standup tomorrow morning? That might be more effective than just posting a note in our team's channel.

I added the link as a bookmark in our team's slack channel:
![image.png](https://images.zenhubusercontent.com/5f85bcde4f4764585e8ff820/de4b89db-741a-4075-b544-a54f28c9a694)

Hopefully that's showing up for everyone^

[2022-07-14 17:54] loripusey opened #44393 "Explore Clearer Naming for Pre-Check-in"
## Background

Explore new naming convention for “pre-check-in” that doesn’t include “check-in.” Specifically, draft new ideas and document usage across Veteran and staff-facing applications. Consider how pre-check-in may be perceived by Veterans once new functionality is introduced and considered more valuable compared to current state. E.g., health questionnaires, editing information and medicat

[2022-07-14 17:56] longmd commented on #44389
Root cause appears to be the page hook logic for the introduction page is attempting to run before the application has loaded and route has resolved. With this logic firing early, the test is unable to locate the button it is supposed to click because it hasn't yet rendered.

Proposed solution is to move the logic to an after hook to ensure all of the other checks regarding application loading and

[2022-07-14 17:58] vahuntera commented on #42738
Please remove me from these emails

Arná Hunter
United States Army Veteran
COR Level 2
Financial Systems and Procedures Analyst
Travel Agency/Organization Program Coordinator (A/OPC)
National Cemetery Administration
NCA Financial Systems Oversight & Transformation (42F)

Cell:                 202-384-5360
E-Fax:             202-495-5537

How was my service?<https://gcc02.safelinks.protection.outlo

[2022-07-14 17:59] thehastingsp commented on #43635
Design is in progress in the [viewable sketch file here](https://www.sketch.com/s/d2416db4-9a4f-4919-abe4-20ba4bdcfd89). @scottymeyers @rocio-desantiago @Mottie @michelpmcdonald @saderagsdale

[2022-07-14 18:00] saderagsdale commented on #43009
Update: Will icebox this issue until it picks back up. Sade to inform Matt.

[2022-07-14 18:01] SKasimow commented on #44350
We reviewed GA further this morning and noted that the modal for session ending soon also seems to have PII data showing up in the reports from a variety of sites across VA.gov. I can share this with you if you are not seeing.

[2022-07-14 18:04] andaleliz commented on #44390
Hi Arná, I'm not sure how to remove you or why you received this. For this specific issue, you can unsubscribe via the option on the bottom of the right side of the page. Otherwise you'll likely need to update your notification settings in your github account.

[2022-07-14 18:06] FHiatt commented on #42443
Emily has solution will test and deploy - target end of week

[2022-07-14 18:08] jaredcunha commented on #41813
@joshkimux - @jerekshoe and I looked into this a little after I saw the issue wasn't originally what I thought it was. It appears was not related to this issue/pr in particular, but it was related to migrating from `<Select>` to `<va-select>`, and that the error is now on a form field in the Shadow DOM.

There are two options in which we can proceed:
1. Revert back to the original `<Select>` compo

[2022-07-14 18:08] loripusey opened #44395 "[SMS] Send "Check-in Now" Message 30 Minutes before Appointment"
## Background
This was a recommendation that came out of the [Bay Pines research study](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/health-care/checkin/research/veteran-facing/bay-pines-in-person-uat).

Explore starting check-in via a notification (text/email). We would push something to the Veteran instead of starting with the poster. Stephen brought this up

[2022-07-14 18:11] FHiatt commented on #44047
Cleaning up the parameters and layout of doc ect

[2022-07-14 18:11] loripusey opened #44396 "[SMS] Send Pre-Check-in Reminder(s)"
## Background
This was a recommendation that came out of the [Bay Pines research study](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/health-care/checkin/research/veteran-facing/bay-pines-in-person-uat).

## User Story
As a Team, we would like to send a message to Veterans to remind them to complete Pre-Check-in in order to increase the use of the application.

[2022-07-14 18:12] mgleo opened #44397 "[Combined Debt Portal] Usability study synthesis - research findings"
## Issue Description
Veterans expect to find all money they owe to VA in one location on the site. Additionally, Congress has mandated that we provide a way for Veterans to access all their debts in one spot.

We need to validate the combined VBA + VHA debt portal design with Veterans to ensure it meets our users' needs.

---
## Tasks
- [x] Synthesize usability findings and create research finding

[2022-07-14 18:12] vahuntera commented on #44390
I think I was getting these messages but they were going to the junk folder.  I recently started a new job and I was trying to clean out my inbox and I deleted some rules and then my inbox was inundated with emails concerning Git-Hub.

I have no reason to see these emails and this could be some type of violation being as though I don't have a need for this information.

Arná Hunter
United States A

[2022-07-14 18:14] loripusey commented on #41392
**### Co-work with VeText/CHIP:**
- Add a "check in now" message from VeText/CHIP delivered 30 minutes before the appointment.
    - [Deliver "Check-in Now" Message 30 Minutes before Appointment](https://app.zenhub.com/workspaces/check-in-experience-61fc23a2cb8a14001132e102/issues/department-of-veterans-affairs/va.gov-team/44395)
- Explore creating a test to send a pre-check-in reminder text (via

[2022-07-14 18:14] andaleliz commented on #44390
Can you tell me the email address where you're getting these notifications? It's masked in your replies.

[2022-07-14 18:14] patrickvinograd commented on #39449
@pshahVA Not my call...personally I'd run the query over like 30 days just to be safe...Loki should be capable of that kind of scale.

[2022-07-14 18:15] vahuntera commented on #44390
***@***.******@***.***>

Arná Hunter
United States Army Veteran
COR Level 2
Financial Systems and Procedures Analyst
Travel Agency/Organization Program Coordinator (A/OPC)
National Cemetery Administration
NCA Financial Systems Oversight & Transformation (42F)

Cell:                 202-384-5360
E-Fax:             202-495-5537

How was my service?<https://gcc02.safelinks.protection.outlook.com/?url

[2022-07-14 18:16] MitchLivingstone commented on #42293
An icon was selected by EDU for approval. When the approval for the icon is completed by the Platform team design, it can be added into the card. Thank you.

07/14/2022

[2022-07-14 18:18] andaleliz commented on #44390
Hmm, it's still being masked. I reached out to my team and pointed them to this conversation. If the email address is needed, one of us can give you a call to get it. I'm hoping they can remove you via your GitHub user name.

[2022-07-14 18:20] mgleo opened #44398 "[CFSR] Design and Research Discovery"
## Issue Description
Learn more about cFSR.

---
## Tasks
- [ ] Learn more from colleagues about CFSR
- [x] Review UXPin prototype vs current FSR
- [x] Watch Riley's CFSR Demo

## Acceptance Criteria
- [ ] Better understanding of CFSR

[2022-07-14 18:23] pavanhothi commented on #44391
No GA DOMO access

[2022-07-14 18:24] #40489 closed

[2022-07-14 18:24] #44154 closed

[2022-07-14 18:27] mmiddaugh commented on #42860
Closing this as issues have been created and linked to [Accessibility spot check review for redesigned VA.gov home page #43789](https://app.zenhub.com/workspaces/vagov-platform-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/43789).

[2022-07-14 18:30] saderagsdale commented on #43587
Discuss starting with Veteran role w/ LH.

[2022-07-14 18:33] #42311 closed

[2022-07-14 18:44] jhouse-solvd opened #44399 "[Platform Infrastructure] Present EKS architecture to VA stakeholders"
## Description
The VA.gov Platform's infrastructure has evolved considerably over the past couple of years. The architecture of the application delivery system has been completely re-envisioned. The Platform is leveraging container orchestration with Kubernetes (through Amazon's EKS) to build a scalable deployment engine that will support new capabilities and future growth.

It would be good to pu

[2022-07-14 18:47] nsoutouras commented on #43382
Attaching to phase 3 SiS so we can figure out where it really belongs.

[2022-07-14 18:47] holdenhinkle commented on #42737
I reached out to Kerry Powell to find out what the status of the Support Request Auto Answer Service is. I'm awaiting his response.

[2022-07-14 18:48] rbeckwith-oddball commented on #44096
@pjhill - here is said PR https://github.com/department-of-veterans-affairs/devops/pull/11578

[2022-07-14 18:53] td-usds commented on #44381
Can you be more specific which Kenneth Brown is the VOR? Can you provide their VA e-mail address?

[2022-07-14 18:54] td-usds commented on #44381
@jnaeemva Can you be more specific which Kenneth Brown is the VOR? Can you provide their VA e-mail address?

[2022-07-14 18:55] td-usds commented on #44203
@oleksii-morgun-va can you be more specific which Kenneth Brown? Can you provide their VA e-mail address

[2022-07-14 18:56] td-usds commented on #44218
@mattwrightva can you be more specific which Kenneth Brown? Can you provide their VA e-mail address offline?

[2022-07-14 18:57] holdenhinkle commented on #43236
I chatted with Darius about this:

This is just for running tests against main.

[2022-07-14 18:57] td-usds commented on #44269
@KolbyVA can you let me know (offline) which Kenneth Brown you mean?

[2022-07-14 19:03] laurwill commented on #42014
Thanks @katherine-fung ! As we chatted, we're going with no spaces around the hyphen here to align with AP, so "Showing 11-20 of 40 events."
I believe this is ready to post in the intake ticket — want to post for that team? Then we can close this out.

[2022-07-14 19:04] jerekshoe opened #44400 "Convert `Telephone` to `va-telephone`"
## Background
We are using the `Telephone` react component in the `AppealHelpSidebar` component. We should be using the `va-telephone` web-component instead

## Considerations
The linter option to automatically migrate the `Telephone` component doesn't convert the vanity part of the pattern properly. We need to make sure that we use the `vanity` property, which should be set to `VETS`

## Tasks
-

[2022-07-14 19:05] #44389 closed

[2022-07-14 19:07] TW-Addy commented on #43255
@td-usds Thanks Thomas, I essentially need access to configure aws credentials and it is ongoing.
You can refer to my teammates' permissions and give me the same.
**Teammates** - kha.huynh@thoughtworks.com, justin.trieu@thoughtworks.com, krkrishn@thoughtworks.com

[2022-07-14 19:10] td-usds commented on #44269
Reach out to VOR

[2022-07-14 19:10] td-usds commented on #44203
Reach out to VOR

[2022-07-14 19:10] td-usds commented on #44146
Reach out to VOR

[2022-07-14 19:10] #35850 closed

[2022-07-14 19:11] ianhundere commented on #42770
dual shipping has been disabled for all of BRD and we can go forward with enabling dd logging for dev in BRD. i'll begin this work on Monday.

[2022-07-14 19:11] denisecoveyduc commented on #35853
[Topline Summary Link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/combined_va_debt_portal/research/usability-apr-2022/topline-summary.md)

[2022-07-14 19:11] #35853 closed

[2022-07-14 19:12] #40221 closed

[2022-07-14 19:13] shiragoodman commented on #40494
thank you all for researching the issue!

[2022-07-14 19:15] #43690 closed

[2022-07-14 19:15] #44194 closed

[2022-07-14 19:16] tameracorson opened #44401 "Collaboration Cycle for [Team Name, Product Name, Feature Name]"
### VFS team name

MOVE

### Product name

1095-B

### Feature name

1095-B

### GitHub label for product

1095b-tax-form

### GitHub label for feature

_No response_

### When did/will you start working on this product/feature?

January 2022

### Will your work result in visible changes to the user experience?

Yes

### Are you doing research with VA.gov users?

Yes

### Will your work involve ch

[2022-07-14 19:18] denisecoveyduc commented on #42912
@Dr-Pongo to set up a meeting to discuss/validate with DMC Stakeholders before closing out.

[2022-07-14 19:20] shiragoodman commented on #40879
@briandeconinck i have 1 small edit. Please remove the Table of Contents from the [Screen Reader Checklist page.](https://depo-platform-documentation.scrollhelp.site/research-design/screen-reader-checklist) Platform Website by default has a right nav where every heading is linked. We don't need to have a TOC within the doc too.

Other than that, looks great! Thank you for working so hard on this.

[2022-07-14 19:21] td-usds commented on #43255
Access approved

[2022-07-14 19:21] mleclerc00 commented on #44391
/request Trung Nguyen

[2022-07-14 19:23] tameracorson commented on #44263
Product outline updated ![image.png](https://images.zenhubusercontent.com/61856bab21cd5965714d703d/e9f3012c-624c-43db-bc19-44709fe81cc6)

[2022-07-14 19:25] tameracorson commented on #44263
1095-B Hybrid MVP for accessibility design complete[Uploading... Approved 1095-B Hybrid MVP only 7.14.22.png]

[2022-07-14 19:26] tameracorson commented on #44263
Collaboration cycle kickoff ticket submitted ![image.png](https://images.zenhubusercontent.com/61856bab21cd5965714d703d/b9203d1b-89a7-4d4c-ac35-642586c843f1)

[2022-07-14 19:27] tameracorson commented on #44263
Collaboration cycle team notified of new ticket added ![image.png](https://images.zenhubusercontent.com/61856bab21cd5965714d703d/9c7a5428-799c-4e43-861d-72cd96ccbb35)

[2022-07-14 19:27] tameracorson commented on #44263
Link to ticket in GitHub #44401 https://github.com/department-of-veterans-affairs/va.gov-team/issues/44401

[2022-07-14 19:28] mleclerc00 commented on #44391
Not on vfs roster
No confluence
No socks
No aws
Removed from org -> https://github.com/department-of-veterans-affairs/github-user-requests/issues/11596
No sentry
No pagerduty
No datadog
No bot users

[2022-07-14 19:28] td-usds commented on #43890
AWS Access Approved

[2022-07-14 19:31] #41883 closed

[2022-07-14 19:32] laurwill commented on #41493
Update: Tarsha provided minimal feedback in the Word doc, and I hopped on a call with her team to chat through their questions. They've approved the content with one remaining point to confirm before we publish:
- Does changing your address in VA.gov profile update the enrollment system (system AccessVA pulls from)?

@megzehn , these pages are ready for your final copyedit, but we'll **hold on pub

[2022-07-14 19:36] CoryTrimmUSDS commented on #44391
Removed from Slack.

[2022-07-14 19:45] shiragoodman opened #44402 "Remove Mikki from Collaboration Cycle documentation"
## User Story
As a VFS team member, I want to be able to rely on the point of contacts listed on Platform Website so that I know I'm contacting the right people.

Assignee: @allison0034
Peer Reviewer: @seanasewell

## Description
Mikki Northuis will have a new position with OCTO starting in July and won't be supporting Collaboration Cycle the same way that she was previously. We need to remove her

[2022-07-14 19:50] RLHecht opened #44404 "Update documents on Welcome Kit page"
## Issue Description
The stakeholder for the [Print your VA Welcome Kit](https://www.va.gov/welcome-kit/) has uploaded some revised PDFs into Drupal and needs us to update the links on the page.

Our Welcome Kit page is different from our other pages where we point to PDFs because we host these within Drupal in the assets folder. You'll notice the links look different with an icon. VEO doesn't hav

[2022-07-14 19:53] tameracorson commented on #43653
[https://app.zenhub.com/files/133843125/14211959-e153-4f8f-a76e-e383ce01b00d/download](https://app.zenhub.com/files/133843125/14211959-e153-4f8f-a76e-e383ce01b00d/download)

[2022-07-14 19:55] RLHecht commented on #42748
@megzehn I just looked at Lancaster after talking to Tiffany about it and sent it to Jessica so you don't need to review that one.

[2022-07-14 19:55] briandeconinck commented on #40879
@shiragoodman Done! And thank you for catching that. The TOC was in Josh's original and I never even thought about it duplicating the right nav.

[2022-07-14 20:03] djfredvs opened #44406 "07/21/22 9:30 AM VEText Community Care Training"
Booked by Karen Kain, Kayla Jones

[2022-07-14 20:07] andaleliz opened #44407 "[Design] - Update mock-ups in address validation alerts"
**Background**

In 2021, we proposed improvements to the address validation UX ([ticket](https://github.com/department-of-veterans-affairs/va.gov-team/issues/30258) and [FE documentation](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/profile/contact-information/address-validation/designs/2021-alert-updates/README.md)).

We decided to ho

[2022-07-14 20:19] chaseakirby commented on #42835
@shiragoodman Tagging you since this ticket is changing to doing discovery/research

[2022-07-14 20:21] katherine-fung commented on #41835
Hi @Mottie, after discussing with the content team and Josh, we're recommending that you follow this format:

"Showing 11-20 of 40 claims or appeals"

The dash is a hyphen. We spoke to Josh, who said that the page number shouldn't immediately follow the number of displayed search results. The page numbers for navigation should go at the bottom of the results, and use "aria-current" to help people

[2022-07-14 20:23] holdenhinkle commented on #42737
Kerry Powell
  3:20 PM
Initial development is complete, though we are reaching out to team leads to refine both the approach and the documentation that will initially be used to auto-answer support requests. You can view the documentation here:
https://vfs.atlassian.net/wiki/spaces/SRE/pages/2241396873/Automatic+Answers+and+Replies

Here is a link to the current mappings for answers:
https://vfs.a

[2022-07-14 20:24] thehastingsp opened #44408 "Supplemental Claims | Content"
## Supplemental Claims Product Outline
[Product Outline](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/decision-reviews/Supplemental-Claims/readme.md)

## High Level User Story/ies
As a Claimant, I want the claims I submit to be visible to me as they move through VA systems, and I want proactive communications about their progress.

As a Claimant, I want the pr

[2022-07-14 20:28] benbrasso-agile6 commented on #43575
@kristenmcconnell if you look on Page 4, I've added questions. Go ahead and take a look.

There's a lot of questions. So, I need to figure out if/how this fits in WITH the prototype review. For now though, if you could focus on these new questions, that would be ideal.

https://docs.google.com/document/d/1t_tiR1ctsYjlnfFIoTXcPkLKLm7IRnMYeaRCYXd3juY/edit?usp=sharing

[2022-07-14 20:28] ahicksfearless opened #44409 "[07/14/22] VEText Admin Training SharePoint Page Creation"
- [x] Create Admin Training Criteria SharePoint Page

- [x] Include links to Training page, pre-recorded training, user role audit app, and the follow-up assessment

- [x] Link to VEText Training Page

- [x] Create "Quick Links" button on Training Page

[2022-07-14 20:29] #44236 closed

[2022-07-14 20:29] mchelen-gov commented on #43257
https://vfs.atlassian.net/wiki/spaces/LEAD/pages/2271739944/2022+Q3+All-Hands+Q+A
https://dsva.slack.com/archives/CJRQ85PQB/p1657817845845589

[2022-07-14 20:29] #43257 closed

[2022-07-14 20:30] saderagsdale commented on #42216
Marking as a sev-1 due to executive visibility. @mattpointzxer0 Hey! For your awareness, this is in our current sprint.

[2022-07-14 20:30] ahicksfearless opened #44410 "[07/20/22] VEText Newsletter [DUPLICATE]"
## Description
Every other Wednesday, opposite of office hours, a newsletter is sent out to users and posted to the product SharePoint to advertise existing and new product features, cover FAQ, and potentially inform users of news that may not be best held off until the next office hours.

---

## Acceptance Criteria
- [ ] Draft newsletter including Q & A posted in slack channel for review by lead

[2022-07-14 20:31] joshkimux commented on #41835
Thank you @katherine-fung ! Also small note for @Mottie I should have added, `aria-current="page"` already exists in the design system component 😄

[2022-07-14 20:32] saderagsdale commented on #3475
@mattpointzxer0 Sharing an update:

We discussed this in refinement today. Design and product would like to demo this internally with @Mottie to understand what these forms are, if their designs align with current standards, and if there are any risks to releasing these items since they were built so long ago.

[2022-07-14 20:34] k80bowman commented on #27414
@shiragoodman we'll look into it and see if it's an issue on our end.

[2022-07-14 20:39] thehastingsp opened #44411 "Supplemental Claims | 5103 - Notice of Acknowledgement Content review from Benefits Team 1 - Squad 2"
## What does your team need support for? Check all that apply.
- [ ] Launching one or more new unauthenticated (static) VA.gov pages
- [ ] Making revisions to one or more existing unauthenticated (static) VA.gov page
- [x] Launching a new online form, app, or tool on VA.gov
- [ ] Making revisions to an existing online form, app, or tool on VA.gov
- [ ] Something else (please add details in the nex

[2022-07-14 20:40] thehastingsp commented on #44411
@RLHecht @bethpottsVADEPO and I just discussed this in office hours, so are planning to use this ticket for some back and forth FYI.

[2022-07-14 20:40] #44400 closed

[2022-07-14 20:46] jsokohl commented on #6006
Huge opportunity to coordinate with #sitewide-ia and other IA resources to consider taking a controlled vocabulary approach.

[2022-07-14 20:48] shiragoodman commented on #42849
@chaseakirby we discussed as a team and think that this ticket may not be necessary. I'd like to review with you before we close out completely.

[2022-07-14 20:51] vbellissimo opened #44412 "Console UI/Platform Content Readiness Q&A's"
AC:

- [x] Sent list of questions to Susanna: https://vfs.atlassian.net/wiki/spaces/CIT/pages/2271936539/Content+questions+for+Susanna+7.14.22
- [ ] Follow up with Susanna on questions

[2022-07-14 20:54] speakmin commented on #44390
Hi @vahuntera if you don't need any GitHub notifications I recommend going into your profile and _disabling email notifications._

You can do so by going to Settings -> Notifications and unchecking all the boxes that have email next to them.

[2022-07-14 20:54] ahicksfearless opened #44413 "[07/15/22] Email VISN POCs Regarding Admin User Audit"
In an effort to pressure more sites to complete the annual VEText Admin User Role Audit.

- [x] Chance to capture list of VISN POCs who are non-compliant

- [x] Chance to include the number of Admin Users each VISN POC will need to audit

- [x] Ari to craft email verbiage

- [x] Give POCs one week from email date to touch base with Admin at the stations

- [x] Include that if they don't complete t

[2022-07-14 20:58] shiragoodman commented on #42826
@chaseakirby the team and I think this ticket may not be necessary, however I'd like your opinion. Lets discuss at our 1:1

[2022-07-14 20:59] jhouse-solvd commented on #42337
Some thoughts/questions coming from a conversation w/ @zachclarity:

- What do we better identify urgency?
  - How many users are impacted by this issue?
  - Does this issue impact production now or soon?
  - Will this issue impact a production deployment happening today?
- How do we clarify requests before they are escalated so that it can be understood by Tier 2 support?
  - Is this happening in

[2022-07-14 20:59] allison0034 commented on #43774
@briandeconinck please review the following page:

- [Resources](https://vfs.atlassian.net/wiki/spaces/CC/pages/1764491265/Resources)

- [Contact Us](https://vfs.atlassian.net/wiki/spaces/CC/pages/1764524036/Contact+us)

- [Research Review](https://vfs.atlassian.net/wiki/spaces/CC/pages/1781891143/Research+review)

-  [Sitewide Content and IA intake request](https://vfs.atlassian.net/wiki/spaces/C

[2022-07-14 21:00] kristenmcconnell commented on #43575
@benbrasso-agile6 I added a bunch of comments and suggestions to the Google doc. You are correct that there are a bunch of questions. Maybe the order of the study should be flipped. You would ask the questions first, then review the prototype if there is time. This looks really good.

[2022-07-14 21:03] joshkimux commented on #41449
@jerekshoe nice find! I tested on Chrome the other day and they seemed to work, so I'll see if I can dig a bit deeper into why it's not working on mac/safari/voiceover given it works the way it should on MDN's demo.

[2022-07-14 21:07] saderagsdale opened #44414 "Supplemental Claims | Content Design"
## Supplemental Claims Product Outline
[Product Outline](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/decision-reviews/Supplemental-Claims/readme.md)

## High Level User Story/ies
As a Claimant, I want the claims I submit to be easy to understand and communicated to me with plain language, clear actions and decisions as they move through VA systems, and I want

[2022-07-14 21:07] oseasmoran73 opened #44415 "[ArgoCD] Grant permissions to resources using Github Teams"
## Description

As we continue to move to eks, one of the main tools being used is ArgoCD.  In order to give developers the proper insight into their applications, they will need to access Argo and its resources.  Along with this comes the responsibility of our team to define the appropriate projects and permissions structure.

Knowing the challenges and downfalls we face with our current infrastr

[2022-07-14 21:15] thehastingsp commented on #44411
COMP of proposed:
![Step 3 of 6: 5103 DUTY TO ASSIST ALT Inline Open Copy](https://user-images.githubusercontent.com/68615337/179087299-5aad1255-6d4e-4d2b-9766-8ead71c7bb6b.png)

[2022-07-14 21:17] jhouse-solvd commented on #42337
Follow-up task:

It may be helpful for the Platform Infrastructure team to get a consolidated list of escalations that happen on a weekly basis
_(jesse to create a task for this)_

And, for the Platform Infrastructure team to analyze those escalations to identify...
- did it need to be escalated? if no, why?
  - insufficient documentation
  - insufficient tooling or access
  - wrong team

From the

[2022-07-14 21:19] #44408 closed

[2022-07-14 21:19] #41668 closed

[2022-07-14 21:20] thehastingsp opened #44417 "Supplemental Claims Benefit Choice Content from Benefits Team 1 - Squad 2"
## What does your team need support for? Check all that apply.
- [ ] Launching one or more new unauthenticated (static) VA.gov pages
- [ ] Making revisions to one or more existing unauthenticated (static) VA.gov page
- [x] Launching a new online form, app, or tool on VA.gov
- [ ] Making revisions to an existing online form, app, or tool on VA.gov
- [ ] Something else (please add details in the nex

[2022-07-14 21:21] #44254 closed

[2022-07-14 21:21] mleclerc00 commented on #44119
Not on vfs roster
Removed from org https://github.com/department-of-veterans-affairs/github-user-requests/issues/11537
Removed from socks
No aws
No sentry
No pagerduty
No datadog
No bot users

[2022-07-14 21:22] thehastingsp commented on #44417
@bethpottsVADEPO

[Prototype of AS IS](https://www.figma.com/proto/2dvNcsPbIlQ4SIa7n5CNnG/Supplemental-Claims?node-id=26%3A6479&scaling=scale-down&page-id=26%3A5570)

[Prototype of PROPOSED](https://www.figma.com/proto/2dvNcsPbIlQ4SIa7n5CNnG/Supplemental-Claims?node-id=26%3A6484&scaling=scale-down&page-id=26%3A6482&starting-point-node-id=26%3A6484) (please click the continue button to choose other

[2022-07-14 21:23] brdunfield opened #44418 "[FE][a11y] VoiceOver reads addresses twice before continuing"
When navigating the application using VoiceOver:
- When VoiceOver is automatically reading the page, it reads the entire address twice (once per line of the address)
- When manually navigating through the page using VoiceOver and arrow keys, the first line of the address takes two arrow presses to move past.

## Tasks
- [ ] Determine the cause of this behaviour
- [ ] Implement a fix so that behavi

[2022-07-14 21:23] #36066 closed

[2022-07-14 21:26] saderagsdale commented on #41546
@megansiddle @cohnjesse should we keep this open or close it?

[2022-07-14 21:27] mchelen-gov commented on #42543
A few main things come to mind, either to handle in this ticket or a follow-up:
- What is the guidance for splitting Initiatives that carry over between quarters?
- What is the workflow for addition of `PO Endorsement` label, when should POs be making this determination?
- What is the process for monthly checkin, what information should be collected and where should it be recorded?

[2022-07-14 21:31] mviterna opened #44419 "[AWS] Access to Redis clusters for mviterna"
## Who is the devops resource on your team?

@mviterna

## Description

I would like access to the Redis Clusters in the AWS Console

## Technical notes

Getting this error: User: arn:aws-us-gov:iam::008577686731:user/Mark.Viterna is not authorized to perform: elasticache:DescribeCacheClusters on resource: arn:aws-us-gov:elasticache:us-gov-west-1:008577686731:cluster:* because no identity-based po

[2022-07-14 21:33] #41958 closed

[2022-07-14 21:37] kevinshih613 opened #44420 "Access for Kevin Shih"
## Instructions
1. Fill out Description
2. Change the Title to include your name
3. Add the label used by your team (eg: `BAH-526`)
4. Do not remove `operations` label or the `ops-access-request` label; this will notify the VSP Operations team of your request
5. When the issue is closed you will be notified and can continue with on-boarding setup

## Description
* Please provide your Contracting O

[2022-07-14 21:43] rmtolmach commented on #42261
@calquisola Where is your GitHub Action going to run? I know you said your terraform code is in the devops repo, but would the workflow be there or in another repo like https://github.com/department-of-veterans-affairs/pst-amt-keycloak?

[2022-07-14 21:44] thehastingsp opened #44421 "Design Intent for Supplemental Claims"
## Design Intent
As a product designer, I want to provide an easy-to-use, accessible, mobile-first, conversational experience of the Supplemental Claim form 20-0995.

As a Claimant, I want the ability to submit a Supplemental Claim Decision Review of my claim online, without having to solicit professional help, so that I can save time and energy when I disagree with a VA decision on my claim.

As

[2022-07-14 21:48] megansiddle commented on #41546
This can be closed we got the confirmation email to production! Thanks for all your help @cohnjesse and @saderagsdale!

[2022-07-14 21:48] #41546 closed

[2022-07-14 21:57] #39257 closed

[2022-07-14 21:58] #39253 closed

[2022-07-14 21:59] thehastingsp commented on #43919
Added design intent as an issue @allison0034 @saderagsdale

[2022-07-14 21:59] #39256 closed

[2022-07-14 22:06] #39618 closed

[2022-07-14 22:18] johnmweisz opened #44422 "AWS access for [John Weisz]"
### COR Name

Courtney Bethea

### Vendor Onboarding Representative Name

Liberty IT -  Michael G. Lovejoy

### Your Name

John Weisz

### Your Email

weisz_john@bah.com

### Team, Role, and Company of the target individual

Team Pivot!, Software Engineer, Booz Allen Hamilton

### Product Manager (PM) name and email

Greg Feliberty, feliberty_gregory@bah.com

### Product Owner (PO) name and email

[2022-07-14 22:29] mleclerc00 commented on #44422
Hello @johnmweisz

I was unable to find you on either the platform or vfs roster.  Please take the appropriate action to be added where you should

<img width="1556" alt="image" src="https://user-images.githubusercontent.com/76792875/179099144-ea13ef82-b5ea-4781-b0e3-eda07f6d42b2.png">

[2022-07-14 22:59] yonidoronpeters commented on #41598
@jhouse-solvd confirmed the AC from our end - thanks again team!

[2022-07-14 23:29] alexandec commented on #43866
I have a local POC working, will update the ticket soon with code and an explanation.

[2022-07-14 23:33] xperalta-va opened #44423 "Access for Xernan Peralta"
Please provide your Contracting Officer's Representative (COR) name.
-Cecilia Lee

Please provide your name.
-Xernan Peralta

Please Provide your email.
-[peralta_xernan@bah.com](mailto:peralta_xernan@bah.com)

Please provide the name of your team, your role on that team, and the name of the company you work for.
-I am a member of the UX team at VA Lighthouse APIs. I'm a UX Researcher who works fo

[2022-07-14 23:48] #41670 closed

[2022-07-14 23:52] acrollet opened #44424 "[FE] [SPIKE] Investigate whether cypress can be used to automatically generate review screenshots"
## Background

We need to generate screenshots on a regular basis, ideally for all workflows and error scenarios. These are used for translation review and other purposes. If we can generate these automatically, we can save developer time, increase coverage and reduce back and forth with folks needing screenshots.

## Questions to answer

- Can Cypress be used to easily generate full height screen

[2022-07-15 00:03] tlei123 commented on #43388
@adamwhitlock1 , pls. let me know:

1.  What feature flag(s) control Bad Address Indicator in Staging, and
2. whether I may Conditionally enable BAI for test-users 120-126.

If we need to keep BAI feature completely Disabled in Staging right now, then pls. let me know if main branch can be used for mocking BAI locally.

Thanks much!

[2022-07-15 04:10] aliyahblackmore commented on #43848
Thanks, Randi! @megzehn these alerts are ready for you and I've added some notes on two of them.

**Get connected with mental health care**
This is on the VA Mental health services page.  The header “Get connected with mental health care…” is the second alert on this page (as you noted Randi), but there is no Veteran Crisis Line phone number listed in this alert. The phone number is in the “How do

[2022-07-15 11:35] #43126 closed

[2022-07-15 12:19] kjduensing commented on #43955
@girldadmk added

[2022-07-15 12:57] RLHecht commented on #42014
Thanks all! I saw Katherine posted the info in the intake ticket so going to close this one out.

[2022-07-15 12:57] #42014 closed

[2022-07-15 13:16] joshkimux commented on #41449
@jerekshoe tested again this morning on both CST tab panel and [MDN's tab panel](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/tab_role)

### Edge / Windows (Keyboard only)
- [x] MDN tabs
- [ ] CST tabs (arrow keys don't work, `space` doesn't work)

### JAWs / Edge / Windows
- [x] MDN tabs
- [ ] CST tabs (read character by character, `space` doesn't work)

### Chrome / Wind

[2022-07-15 13:18] holdenhinkle commented on #42737
Moving this this to the product backlog for now until the SRE team completes the MVP.

[2022-07-15 13:24] td-usds commented on #44381
AWS Access Approved

[2022-07-15 13:24] td-usds commented on #44146
AWS Access approved

[2022-07-15 13:25] td-usds commented on #44218
AWS Access Approved

[2022-07-15 13:26] td-usds commented on #44269
AWS Access approved

[2022-07-15 13:29] nicko-amida commented on #44312
The [Medicare part A question](https://www.sketch.com/s/da85cf44-4503-4e98-834e-ff068b242ef6/a/ygw2kK8) now has an additional contextual label. The Content team hasn't looked at it yet, but any additional changes should be text updates, not changes to this pattern.
![image.png](https://images.zenhubusercontent.com/606dcfcdf37170580d2e39f0/33ed8840-1694-442d-8429-80769dc94ce9)

[2022-07-15 13:33] andaleliz commented on #44390
I spoke to Arná and did my best to help over the phone. They don't have access to their GH account so they can't go to their profile. If possible, let's remove them from our organization so we're not spamming them.

[2022-07-15 13:37] joshkimux commented on #43256
@skylerschain feel free to prioritize this when appropriate 🙏
this one will likely need some more context digging to get an answer to, specifically:
- is the assumption that uploading a DD214 (or other proof of service) is easier and results in more accurate submissions for Veterans/caregivers/family members than manually inputting service dates?
- if so, is it technically feasible to ask the user

[2022-07-15 13:40] joshkimux commented on #41818
@katherine-fung , I would absolutely _love_ if we could do that, but my assumption is that there's some back end or technical constraint related to this. @Mottie is this something we might actually have control of? @jsokohl for awareness 🤞

[2022-07-15 13:48] #43955 closed

[2022-07-15 13:49] holdenhinkle commented on #43236
PR - https://github.com/department-of-veterans-affairs/vets-website/pull/21681

[2022-07-15 13:49] benbrasso-agile6 commented on #38176
Chcked this morning, Still dont' see anything. Maybe my query is wrong? Or maybe it didn't get pushed?  Something else?

[2022-07-15 13:51] lzapson opened #44426 "[FE] 1010EZ - Fix Insurance Other Coverage on Review Page, Trigger Validation"
## Issue Description
On 10-10EZ form the Insurance section includes question "Do you have health insurance coverage?" If answered yes adding a insurance policy is required, provider name, policy holder name, policy number or group code; and does not allow the user to continue unless the insurance policy information is entered. On the review page, if a user changes  "Do you have health insurance co

[2022-07-15 13:51] lzapson opened #44427 "[FE] 1010EZ - Insurance: Fix Insurance Other Coverage on Review Page, Trigger Validation"
## Issue Description
On 10-10EZ form the Insurance section includes question "Do you have health insurance coverage?" If answered yes adding a insurance policy is required, provider name, policy holder name, policy number or group code; and does not allow the user to continue unless the insurance policy information is entered. On the review page, if a user changes  "Do you have health insurance co

[2022-07-15 13:57] acrollet opened #44428 "[TASK] Add staging test user DoBs to test data doc"
## Acceptance Criteria

- [x] all test users on the [test data doc](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/checkin/engineering/qa/test-data-setup.md) have dates of birth listed

[2022-07-15 13:58] kristenmcconnell commented on #43607
Should this be moved to in-progress?

[2022-07-15 14:01] loripusey commented on #43607
yes, moved

[2022-07-15 14:05] ScottyRJames opened #44429 "Issue connecting to Test DMC from Staging fwdproxy"
## Who is the devops resource on your team?

@ScottyRJames

## Description
Our team is working on downgrading our connection to the DMC external service in staging from their preprod environment to their test environment per their request and running into issues from the staging specific environment (dev connection works)

PR that made transition: https://github.com/department-of-veterans-affairs/

[2022-07-15 14:11] iriteshp commented on #42261
@rmtolmach GitHub Action will run on devops repo. We have a workflow for the Keycloak [here](https://github.com/department-of-veterans-affairs/devops/blob/master/.github/workflows/keycloak-terraform.yml)