[2019-11-13 14:32] #2960 closed

[2019-11-13 14:37] meganhkelley opened #3405 "Content & IA Support Sprint 13"

[2019-11-13 14:37] #2837 closed

[2019-11-13 14:43] ricetj opened #3406 "GH teams rollout to VSP Engineers"
## User Story
As a VSP Engineer, I need fast, secure, and easy access management so when new team members come on board they have all the things they need right away after approved for work.

## Goal
Allow all the engineers to use the GH teams to access management and request feedback from them. Make any changes that may need to be made before the next level of the rollout.

## Acceptance Criteria

[2019-11-13 14:57] alexpappasoddball commented on #2721
@kfrz I haven't seen any facility locator issues like this come through.  @mmiddaugh is this something you are aware of?

[2019-11-13 15:03] peterhill-oddball commented on #2958
Created ticket #3397 to track future Product Support QA activities with this team.

[2019-11-13 15:05] peterhill-oddball commented on #2956
BAH & Will are interested in using TestRail once the platform has procured and configured the tool.

No assistance was requested from VSP Product Support.  I've reviewed their testing artifacts for their most recent development, and they look to be on track.

[2019-11-13 15:55] #2355 closed

[2019-11-13 15:55] #2859 closed

[2019-11-13 15:58] Mottie commented on #1920
Closing in favor of #3382.

[2019-11-13 15:58] #1920 closed

[2019-11-13 16:02] omgitsbillryan opened #3407 "Build Optimization: Only Lint Changed Files for PR's in vets-api"
### The Problem
For PR builds of `vets-api`, we run the rubocop lint tool over the entire codebase. This currently takes ~1m44s on average. This time could be reduced if we only linted the files that are changed.

![image](https://user-images.githubusercontent.com/3077884/68781083-3ad71a00-0605-11ea-9c75-5171431ff85d.png)

### More Context
During the [work to break out our `make ci` into individua

[2019-11-13 16:07] jason-gcio opened #3408 "Request Preliminary ATO Review"
## Goal
We want to ensure the risks to VA operations are acceptable so that our feature does not have any conflicts or friction with other services.

## Notes
**VA.gov link (WIP - [not yet created by Public Websites](https://github.com/department-of-veterans-affairs/va.gov-team/issues/3767)):**
_https://staging.va.gov/disability/view-disability-rating_
**Tool Page (WIP):**
 _https://staging.va.gov

[2019-11-13 16:07] jbalboni opened #3409 "Clinics endpoint is missing data"
The clinics endpoint is not returning all the data that it should from the corresponding var-resources clinics endpoint.

Example clinic from `/v0/vaos/facilities/983/clinics?type_of_care_id=323&system_id=983`

[code]

Example from legacy app:

[code]

The direct scheduling flag is the primary thing we're missing.
[code]

[2019-11-13 16:09] joanneesteban commented on #2425
Sampling impacts have been determined.

[2019-11-13 16:09] #2425 closed

[2019-11-13 16:12] joanneesteban commented on #2330
Technical proof of concept completed. Need reporting. Thanks!

[2019-11-13 16:12] #2330 closed

[2019-11-13 16:12] joanneesteban commented on #2181
https://github.com/department-of-veterans-affairs/va.gov-team/issues/2330

[2019-11-13 16:13] #2921 closed

[2019-11-13 16:13] jbalboni opened #3410 "Enable VAOS app in production, behind flag"
We need to turn on the VAOS app in production, even though it's behind a feature flag. At that point, we can control releases solely through the flag.

[2019-11-13 16:17] mnorthuis commented on #3120
The above image does not have accurate breadcrumb or left nav, this content does not live in the Disability hub, it lives in its own area at the root level.

Since this is a ticket for a content review of just one page, can you please create a separate ticket for the IA review where I can look over all pages of the experience? Then I can provide a full review, or I am happy to talk through it in a

[2019-11-13 16:17] joanneesteban commented on #3398
@Kimberley2019 work with @clantosswett on determining the AC for the issue.

[2019-11-13 16:19] joanneesteban commented on #3400
@Kimberley2019 work with @clantosswett on AC.

[2019-11-13 16:22] joanneesteban commented on #3404
@Kimberley2019 work with @clantosswett on issue documentation.

[2019-11-13 16:25] erikphansen commented on #3271
First guess is that for some reason the call to `GET v0/prescriptions/active` is sometimes returning the incorrect data for this user. We might need to find out what method they use to log in. @hinzed1127 Do you know if it would be possible to make API calls _as this user_ if we had enough of their info? I'm guessing not.

[2019-11-13 16:30] 1Copenut opened #3411 "508 Findings for SideNav Accessibility Audit"
This will be a container for all issue ticket findings for the Pittsburgh side nav accessibility audit.

[2019-11-13 16:32] joanneesteban opened #3412 "Get "Product Health Tool" to Education Stakeholders"
## User Story or Problem Statement
As an VFS Education stakeholder, I need access and accurate data so I can use the Tool for data-driven decisions.

## Goal
Add real targets to the “Product Health Tool” prototype so that we can “launch” it to Education stakeholders for real use

## Objectives or Key Results this is meant to further
- Launch Grey Sky Product Health Tool

## Acceptance Criteria
- [

[2019-11-13 16:33] 1Copenut opened #3413 "[COLOR]: Pittsburgh Facility - side navigation hover style contrast is too low"
## Description
As a mouse user, I want to navigate the page and know where the interactive items are so that I may access information.

The hover background setting is `background-color:rgba(0,0,0,.05)` which is less than the [contrast requirement](https://www.w3.org/TR/WCAG21/#non-text-contrast) to distinguish a difference of hover state to indicate interactive elements.
![pitt-sidenav-light-hove

[2019-11-13 16:46] narin opened #3414 "Update Wait Time Alert Copy"
## Scenario 1: **Care needed urgently:** When preferred date is today *and* requests are available

{page title} **Appointment calendar**
{alert}
**This is the earliest date we can schedule your appointment**
The earliest we can schedule your appointment is November 1, 2019 at 10:00 a.m. ET.
If this date doesn’t work, you can:
-Submit a request for an earlier date, **or**
-Pick a date from the cal

[2019-11-13 16:48] narin commented on #2712
@markgreenburg Created new ticket #3414 to cover copy updates and closing this one out.

[2019-11-13 16:48] #2712 closed

[2019-11-13 16:57] brangi commented on #2739
@mmiddaugh @jenstrickland the fix has been merged to prod

[2019-11-13 17:02] jason-gcio opened #3415 "[Design] Cross Site Linking for Rated Disabilities"
## Story
As a Veteran using VA.gov, I want to be able to easily go between the Rated Disabilities Tool page and the VA Combined Disability Rating Calculator so I can test different ratings for myself and take action where needed in order to get the most benefits I deserve.

## Tasks
- [x] Mockup a link to the [VA Combined Disability Rating Calculator](https://www.va.gov/disability/about-disability

[2019-11-13 17:03] tlei123 opened #3416 "Add QA/testing step(s)/info to Pull-Request templates"
## Purpose

As a VSA DevOps team-member, I want to gather better evidence of tests in Pull Requests.

## What we need to do

Add QA/testing step(s)/info to Pull-Request templates, clearly emphasizing the need for tests & test-results documentation.

## Def of Done
VSA-DevOps is currently focusing on PRs that generate UI-testable changes (i.e., changes that are manually testable via the browser on

[2019-11-13 17:04] jason-gcio opened #3417 "[FE] Add Link to Disability Calculator on Rated Disabilities"
## Story
We need a design for where this link will be placed, what it is supposed to look like on desktop and mobile. We will also need the content that will surround the link. We can start building this before we have the design but we at least need a basic outline of what we are doing.

As a Veteran using VA.gov, I want to be able to easily go between the Rated Disabilities Tool page and the VA

[2019-11-13 17:16] mmiddaugh commented on #2405
@brangi
Facility Locator should display the hours of operation information sent through the API, rather than interpreting the data.

**Acceptance Criteria**
If the Facility reports hours as "24/7", the Facility Detail page should display 24/7 in a meaningful, understandable way.
If the Facility reports "Sunrise-Sunset", the Facility Detail page should display "Sunrise-Sunset" in a meaningful, unde

[2019-11-13 17:26] jason-gcio opened #3418 "508 Pre-Launch Accessibility Review for Rated Disabilities"
## Team Name
eBenefits

## Product Description
The [View Rated Disabilities tool page](https://staging.va.gov/disability/view-disability-rating/rating) displays the Veterans Total Combined Disability Rating, as well as the individual ratings that are used in that calculation, and non-service connected ratings.  Here is the [mockup](https://xd.adobe.com/view/0db723ac-52ff-48b3-4877-9d5882cb2e1f-7b8

[2019-11-13 17:32] mmiddaugh opened #3419 "Establish a data completeness baseline"
**As the Facility Locator team, we need to know the baseline for data completeness so that we can request missing data from the source and so we can measure progress.**

## Goals
- Understand the differences between the data supplied via Vets-API and Facilities API
- Identify facilities with missing data in one or both APIs
- Identify facilities present in one API but not the other

## Minimum dat

[2019-11-13 17:34] rileyorr opened #3420 "Discovery Sprint Prep"
## User Story or Problem Statement
As a UX Designer, I need to logistically prepare for the discovery sprint so the design team has guidelines to follow for the discovery sprint.

## Goal
_A solidified plan for that determines the discovery methods, user research methods, and outputs/artifacts for the upcoming discovery sprint_

## Objectives or Key Results this is meant to further
- _This prepara

[2019-11-13 17:54] rebeccawalsh opened #3421 "Discovery: Feature sorting & scope activity"
## User Story or Problem Statement
As a designer/developer/PM, I need to understand where the boundaries of our product exists so I can contribute meaningfully to team progress in a focused direction.

## Goal
- For the BAM2 team to form a common understanding about what the requirements and potential scope might be for the product. This is to aid in further design and technical discovery.

## Obj

[2019-11-13 17:56] kelsonic commented on #2553
I'm not sure if this ticket is ready for dev work yet. Going to postpone working on this ticket until it has clear acceptance criteria for the frontend :)

[2019-11-13 17:59] tlei123 commented on #3416
Each repo typically has one single pull-request template, serving all engineering teams -- no team-specific versions exist.

Of the repos listed above, the following do NOT have a pull-request template:

1. vets-api-mockdata
1. devops
1. va.gov-cms
1. vets-json-schema

[2019-11-13 18:02] jason-gcio opened #3422 "Address Feedback from Usability Study (Rated Disabilities)"
## Story
As an eBenefits team member, I want to address any issues that arise out of the usability study so that I can ensure our efforts are feature complete for the best user experience.

## Tasks
- [ ] Utilizing feedback in the read out of the usability study, goals and specific questions

## Acceptance Criteria
- [ ] Document an outline in GitHub

[2019-11-13 18:03] sporeboy commented on #3123
Links added for additional pages and error states. Ready to go!

[2019-11-13 18:03] rileyorr opened #3423 "Discovery: Create Research Plan"
## User Story or Problem Statement
As a UX Designer, I need to create a research plan so I can document the research's purpose, goals, hypothesis, and user interview recruitment needs.

## Goal
_A completed research plan sent to Perigean for user interview recruitment_

## Objectives or Key Results this is meant to further
- _Discovery sprint_
- _User interview recruitment_
- _Research documentati

[2019-11-13 18:07] Karak888 commented on #2340
will talk with Steve Walker OIT liasion on 11/14/19.

[2019-11-13 18:09] ncksllvn commented on #3308
Moving to backlog, because it appears we're blocked on this until we have a replacement for the Drupal GraphQL `derivative` function, which is used to create links to scaled images.

[2019-11-13 18:09] Karak888 commented on #2244
actionable ticket to be written from call on 11/13/19.  @Karak888

[2019-11-13 18:12] Karak888 commented on #2203
@kelsonic please review and let us know if there is front end work and any estimate please.

[2019-11-13 18:13] Karak888 commented on #2051
sent to Jenny HL and is having her team review.  Putting into icebox until we receive feedback.

[2019-11-13 18:16] rileyorr opened #3424 "Discovery: Conduct User Interviews"
## User Story or Problem Statement
As a UX Designer, I need conduct interviews with Veterans who order batteries and/or prosthetic socks so I can find pain points within the ordering system and develop empathy with our users.

## Goal
_Conduct up to 16 (8) interviews with Veterans who order batteries and/or prosthetic socks from the VA/DLC_

## Objectives or Key Results this is meant to further
-

[2019-11-13 18:16] Karak888 commented on #2268
needs to be validated.

[2019-11-13 18:17] nedierecel commented on #2859
@micahchiang @jason-gcio I see this is closed, and I really appreciate your work on this. I was able to see the success events. Are there any test profiles that might simulate a load failure?

Okay if I reopen to finish out the remaining GA tasks on my list? If not, I can also create a separate issue.

[2019-11-13 18:17] kelsonic commented on #2203
I'm not exactly sure what needs to be done here after reading tbh... @1Copenut @andrewlewandowski Would either of you be able to update the acceptance criteria on this ticket so that @ncksllvn and I can knock out whatever needs to be done on the frontend? :)

[2019-11-13 18:18] thatmattjohnson commented on #2890
link to migration plan here: https://docs.google.com/spreadsheets/d/10FeuMh03YsL0HoE4OqNQ1mJc6wuSb6Thv2A1fWfvSbY/edit#gid=1182547973

[2019-11-13 18:24] rileyorr opened #3425 "Discovery: Synthesize User Interview Findings"
## User Story or Problem Statement
As a UX Designer, I need to synthesize gathered data from interview sessions so I can discover common themes among interviewed Veterans.

## Goal
_A document containing data from interview sessions that has been organized into common themes_

## Objectives or Key Results this is meant to further
- _Discovery sprint_
- _Finding pain points in the ordering process_

[2019-11-13 18:27] Karak888 commented on #3293
@mnorthuis  what should new URLs of these pages that will go live in disability hub. Locatio of nav links and disability hub page (if any) - We will handle FE engineering work.  Once you get back to us we can size this and get ready.

[2019-11-13 18:28] jenstrickland opened #3426 "[COGNITION] Pittsburgh Sidenav - Links lack sufficient styling to differentiate from text"
## Description
**[COGNITION] Pittsburgh Sidenav - Links lack sufficient styling to differentiate from text**
Color must not be used as the only way to distinguish links from regular text. [WCAG 1.4.1](https://www.w3.org/TR/UNDERSTANDING-WCAG20/visual-audio-contrast-without-color.html)
![pitt-sidenav-link-color-only.png](https://images.zenhubusercontent.com/5d6685f1a77bcf04870bc81c/832e76f3-034c-4d

[2019-11-13 18:28] artsymartha68 commented on #2691
Uploading final version of the design spec for all the patterns after review by @1Copenut and @jenniferlee-dsva

[LP-Patterns-v4.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/3842810/LP-Patterns-v4.docx)

[2019-11-13 18:29] Karak888 commented on #3293
associated to #3040 rewriting ticket.

[2019-11-13 18:31] mmiddaugh commented on #2721
I agree @kfrz , this looks like a complete duplicate of [#2720](https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/2720)

@alexpappasoddball I don't recall any recently reported mileage issues. We know there is potential for confusion about the mileage/distance presented and just talked about it during a design discussion this morning.

[2019-11-13 18:32] lunascoop opened #3427 "Create list of other online digital tools not on top 25 forms landing pages list"
@lunascoop commented on [Wed Nov 13 2019](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/19969)

Cross-check top 25 forms landing pages and list pages that have online tools that aren't on the list.

[2019-11-13 18:34] ricetj commented on #2416
@nathanhruby to help bring this to complete.

[2019-11-13 18:35] andrewlewandowski commented on #2203
@kelsonic and @ncksllvn - There won't be any new development work as part of this issue. This is more of a research spike. We will create new backlog items if we want to move forward with any proposed solutions.

@1Copenut - As a next step, can you please schedule a meeting with me, @jenniferlee-dsva, @rtwell, @jenstrickland, and @Karak888? I'd like to have a discussion about this together. And af

[2019-11-13 18:35] mmiddaugh commented on #2870
@kfrz I agree. AND [#2766](https://github.com/department-of-veterans-affairs/va.gov-team/issues/2766). I'm not sure how this is happening but we don't need all 3, for sure.

[2019-11-13 18:36] Karak888 commented on #952
ready to redirect old page to new page - when can we have this be executed so @jenniferlee-dsva can communicate that to stakholder (timeframe)-

we would have to ask stakeholder to update old page to replace this redirect

@ncksllvn @jenniferlee-dsva to talk to get an estimated timeframe at last a weeks notice for communication to stakeholders.

[2019-11-13 18:38] #2832 closed

[2019-11-13 18:39] #2948 closed

[2019-11-13 18:41] davidconlon commented on #3385
I just checked with @andrewlewandowski The link on the facility detail page is what we get from the Facilities API. We **do** need to change the link on the facility locator map results page when Pittsburg and the locations go live and retire the facility detail page in lieu of the new facility pages

1. **University Drive**: https://www.va.gov/find-locations/facility/vha_646 ->  https://www.va.go

[2019-11-13 18:41] kelsonic commented on #2553
Hey @rtwell! @jenstrickland and I had a conversation yesterday and 2 questions were brought up:
[code]
![image](https://user-images.githubusercontent.com/12773166/68793475-4d5c4e00-061b-11ea-8693-8e4d63044ed3.png)

[2019-11-13 18:43] Karak888 commented on #3020
3 URLs with images continue to reamian on cem.va.gov
@AnneHurley will continue to rewrite HMM pages

[2019-11-13 18:44] nathanhruby opened #3428 "Upgrade Ansible to 2.9 in DevOps repo"
New version of ansible is out, we should upgrade to it (there are several deprecations and warnings to handle)

Beware that this release drop support for yum+python3, so amazon linux nodes will need both for actioning these if you intend to add py3 support)

## AC
- [ ] running 2.9.x
- [ ] no new warnings
- [ ] fix current deprecated stuff
- [ ] still works in vens/python 2.7
- [ ] don't upgrade c

[2019-11-13 18:45] ncksllvn commented on #952
Because requests to benefits.va.gov don't pass through our servers (we only receive traffic for www.va.gov), we can't do a server-side redirect. We would need to reach out to partners and do some coordination to figure out how to do it server-side.

However, we have the immediate ability to implement this redirect client-side via JavaScript, and it would be easy. This is because we have some of ou

[2019-11-13 18:46] RLHecht commented on #3019
@AnneHurley This page is now built in Drupal for when it's approved from SMEs.
preview-prod.vfs.va.gov/preview?nodeId=2346

[2019-11-13 18:47] ricetj commented on #1036
@wyattwalter to help on giving more clarity

[2019-11-13 18:47] rtwell commented on #2553
thanks for noting, @kelsonic
my answers are
1) we'll see how this approach lands with users (I believe there will be accessibility-specific usability tests included in the research).
2) no, this is a new design.

[2019-11-13 18:47] ricetj commented on #1037
@ricetj to update

[2019-11-13 18:49] kelsonic commented on #2553
Great, thanks @rtwell! So if I understand correctly, I think we can close this ticket for now until more specific accessibility issues come up.

[2019-11-13 18:55] kelsonic opened #3429 "Sub-Task: Flip arrows for SideNav expand/collapse buttons"
## Problem
On [staging](https://staging.va.gov/pittsburgh-health-care) the `SideNav`'s expand/collapse buttons with arrows need to have their arrows rotated by 180 degrees (flipped) to be consistent with the main navigation.

![image](https://user-images.githubusercontent.com/12773166/68794369-e0e24e80-061c-11ea-8f4b-376e435d4461.png)

## Desired behavior
When a nav item is collapsed, the arrow sh

[2019-11-13 18:58] Karak888 commented on #2612
@jenniferlee-dsva and @AnneHurley to have a discussion and figure things out!

[2019-11-13 19:00] #2950 closed

[2019-11-13 19:00] #2638 closed

[2019-11-13 19:05] andreahewitt-odd commented on #3266
@markgreenburg do you have the product support label on this because it's something you need help from our team on?

[2019-11-13 19:06] benniemosher commented on #1036
What instrumentation is being used for this? Where is this data collected from? Is this all happening in Jenkins and we need to do something in Prometheus to calculate this? This ticket needs more acceptance criteria and more direction.

[2019-11-13 19:07] andreahewitt-odd commented on #2949
No changes needed per @Clark-W-Griswold

[2019-11-13 19:07] #2949 closed

[2019-11-13 19:08] #3390 closed

[2019-11-13 19:11] andreahewitt-odd commented on #3152
@markgreenburg Product support is the label we use for the product support team's work and this is content and IA so I'm going to remove it.

[2019-11-13 19:11] #3123 closed

[2019-11-13 19:12] jenniferlee-dsva commented on #3040
I am still not able to see the preview page ^ @RLHecht.  Going to Slack CMS team.

[2019-11-13 19:13] andreahewitt-odd opened #3430 "Onboard Caregiver Team"
## Onboarding User Story
Caregiver team is onboarding to work on the VSP, they need support to get up and running. This epic contains the tasks our team will perform to support them through their onboarding stage.

## Goal
Get caregiver team up and running in their workflow as quickly as possible._

## Issues to create within this Epic

[code]

## How to configure this issue
- [ ] **Labeled with `

[2019-11-13 19:13] CrystabelReiter opened #3431 "User testing for Learn More button requirements"
As a product support designer, I want the new requirements for Learn More buttons on VA.gov to go through user testing so that I know what we're recommending works well for users.

AC:

7 user testing sessions
- [x] Session 1
- [x]  Session 2
- [x] Session 3
- [x] Session 4
- [x] Session 5
- [x] Session 6
- [x] Session 7

[2019-11-13 19:13] benniemosher commented on #1037
What is the instrumentation to capture this data? Where does the data live? What does that instrumentation look like and where does it live? How do we come up with a recommended goal for KR? Do we pull something out of the clouds? What is it and how does it update automatically?

[2019-11-13 19:15] andreahewitt-odd opened #3432 "Onboard new BE and FE engineer BAM #2"
Joseph Brothers - BE
Mahariel Rosario - FE

AC:
- [ ] Do general onboarding meeting. Include JP and go over engineering content.

[2019-11-13 19:17] Karak888 commented on #2553
@kelsonic @rtwell  I will just move this to icebox until ready to pull back in for review. Thanks!!

[2019-11-13 19:19] andreahewitt-odd opened #3433 "Create cloud instance"

[2019-11-13 19:19] andreahewitt-odd opened #3434 "Configure users"

[2019-11-13 19:20] andreahewitt-odd opened #3435 "Create example"

[2019-11-13 19:20] andreahewitt-odd opened #3436 "Create/publish documentation"

[2019-11-13 19:21] andreahewitt-odd opened #3437 "Implement TestRail"
As a QA expert on product support, I want to implement TestRail so that teams contributing to VA.gov can all store their test cases in the same place.

[2019-11-13 19:25] andreahewitt-odd opened #3438 "Create engineering ROE"
As an engineer on a VFS team, I want a document explaining how and when I need to engage the VSP engineers so that I know I'm complying with processs.

AC:
- [ ] Figure out who needs to review this document (Andrew, leah, patrick?)
- [x] Draft document
- [ ] Get reviews by all necessary people
- [ ] Publish on GH

[2019-11-13 19:27] rileyorr opened #3439 "Discovery: Create Discovery Readout Documents"
## User Story or Problem Statement
As a UX designer participating in a discovery sprint, I need to create a discovery readout so I can the team, team leads, and future teams can learn about the completed work, concerns, opportunities, findings, and recommendations.

## Tasks (Hours)
- [x] Create markdown outline and content for GH (2 days)
- [x] Fill out the discovery sprint readout [template](htt

[2019-11-13 19:29] wyattwalter commented on #1036
Hey @benniemosher. I'm not sure what you're asking about as far as "what instrumentation is being used".

The ticket here has a high level goal of tracking the percentage of the daily deploys that go out without manual intervention. At this point we can safely assume that no manual intervention is needed if the central controlling job (http://jenkins.vfs.va.gov/job/deploys/job/vets-gov-autodeploy-

[2019-11-13 19:32] Karak888 commented on #952
Thanks @ncksllvn  I will let @jenniferlee-dsva make final decision, but if it is for this one page and it is that easy we should probably go ahead and do it while we decide collectively with VSP how we will handle the TeamSite redirects.  I am guessing we can start to think about having a conversation for these one-offs with insights team perhaps?  Hopefully this will be our last one-off :) THANKS

[2019-11-13 19:33] jenstrickland commented on #2553
@Karak888 @kelsonic @rtwell

I compiling into an epic all accessibility issues in detail that were noted in the accessibility audit for the Pittsburgh sidenav. This morning I coordinated with @1Copenut about the process for accessibility audits, and discovered I didn't have the information on how to do/document them. https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-

[2019-11-13 19:36] andreahewitt-odd opened #3440 "Hand off repo migration process to content&IA"
Now that content & IA has an engineer on their team, we need to spend time handing off the repo migration process to him and explaining the scripts we're using.

AC:
- [ ] Meet with Bill Fienberg to go over repo migration process

[2019-11-13 19:40] Karak888 commented on #2691
Thank you @artsymartha68!!

[2019-11-13 19:56] artsymartha68 commented on #2691
Happy to help, @Karak888! I left this issue open just in case more changes come in.

[2019-11-13 20:05] jenstrickland opened #3441 "[SCREENREADER]: Pittsburgh Sidenav - Sidenav headings lack semantic structure"
## Description
**[SCREENREADER]: Pittsburgh Sidenav - Sidenav headings lack semantic structure **
The "headings" in sidenav are coded as ~~divs~~ buttons without action, lack semantic structure. [WCAG 2.4.6](https://www.w3.org/TR/UNDERSTANDING-WCAG20/navigation-mechanisms-descriptive.html)

## Type of Issue
Template

### From November 18, 2019
![Screen Shot 2019-11-18 at 4.15.10 PM.png](https://im

[2019-11-13 20:07] rianfowler opened #3442 "Document static pages app. Determine deprecation path"
## Background

- Static pages app has several non standard apps / js in it. It also relies on lazy loading that is not completely implemented and is error prone
- In general, anything on the site should be treated as an app and the markup on the page should load the correct application. The static pages app lazy loads based on the url which couples url management with app loading
- report unit tes

[2019-11-13 20:08] thatmattjohnson commented on #2893
I've updated the migration plan with the inclusion of a /teamsite subdirectory to avoid the conflict you pointed out. Both PRs will need to be updated accordingly.

[2019-11-13 20:13] thatmattjohnson commented on #2894
reviewed and approved both PRs

[2019-11-13 20:14] thatmattjohnson commented on #2592
access granted

[2019-11-13 20:18] YanaRoy opened #3443 "[Design] HLR Informal Conference section on Review Page"
## User Story or Problem Statement
As a claimant, I need to review and submit my HLR form so I can ensure all of the information I provided is accurate and submit my form.

## Goal
_Create a user friendly view of information specific to Informal Conference to be reviewed and submitted_

## Tasks
- [x] Include Informal Conference details on review page
- [x] Request content review #3567
- [x] Reque

[2019-11-13 20:24] YanaRoy opened #3444 "[FE] HLR Informal Conference section on Review page"
## User Story or Problem Statement
As a claimant, I need to review and submit my HLR form so I can ensure all of the information I provided is accurate and submit my form.

## Goal
_Build a user friendly view of information specific to Informal Conference to be reviewed and submitted_

## Tasks
- [ ] Include Informal Conference details on review page

## Acceptance Criteria
Scenario: System user w

[2019-11-13 20:32] jenstrickland opened #3445 "[COGNITION]: Pittsburgh Sidenav - The links with accordions have two different tab stops and two different links/actions"
## Description
**[COGNITION]: Pittsburgh Sidenav - The links with accordions have two different tab stops and two different links/actions**

The paired label ~~and the carat button have two different actions,~~ and the up/down carat is not clear what the action is. [WCAG [2.4.4](https://www.w3.org/WAI/WCAG21/Understanding/link-purpose-in-context.html), [2.4.9](https://www.w3.org/TR/UNDERSTANDING-W

[2019-11-13 20:39] YanaRoy commented on #1994
@peggygannon this is the Drupal update that you and @Mottie discussed. Please let us know if you have any questions. Thank you!!

[2019-11-13 20:50] ricetj opened #3446 "better approval process on devops repository"
## Problem Statement

In order to support VFS teams pushing changes to the platform, we need to allow developers from any team to submit PR's which means write permissions to the repo. However, the repo is shared between a few teams for deployment tooling, and does not currently have CODEOWNERS setup. For the short term, we locked down permissions on the repository so that a few groups have to be

[2019-11-13 21:07] #3410 closed

[2019-11-13 21:08] jbalboni opened #3447 "Adjust VAOS appointments list to reflect CC requests and latest mock"
We have some minor tweaks to make in order to convey the right info for CC requests and also make the updates so the list matches the latest mocks.

![image.png](https://images.zenhubusercontent.com/599c94608f62dc7798c3b2cd/415f663c-abe3-4d6c-bae0-5a697d090aba)

[2019-11-13 21:18] #3159 closed

[2019-11-13 21:20] rroueche commented on #3105
Remember that acting on these things might be complex, difficult, right now we have uncertainty around what we'll find.

[2019-11-13 21:21] jenstrickland opened #3448 "Remove repeated accordion label and update styling"
## Description
Content **SHOULD** clearly indicate what is related and what is distinct.

As a sighted user, when I open an accordion item in the sidenav, I might clearly understand how the content is related.

**[COGNITION]: Once opened, the "accordion" repeats the label, adds a horizontal rule separating related content**

This is confusing because it isn't clear why there is duplication, and th

[2019-11-13 21:23] rroueche commented on #3106
Want to figure out who will be Product Owning VSP before we make moves on this.

[2019-11-13 21:23] RLHecht commented on #2964
@AnneHurley This page is now built in Drupal: preview-prod.vfs.va.gov/preview?nodeId=2347

[2019-11-13 21:28] #1460 closed

[2019-11-13 21:30] rroueche opened #3449 "Kick off Identity focused initiative"
- [x] Figure out teaming
- [ ] Collab w/other programs (VSA, VA Startup SSO) to understand overlap / responsibilities
- [ ] Hand off to PM to drive discovery, roadmap, bets, measurements, implementation etc

## Objective
O3: Stability and resiliency of the Platform's systems and teams continue to improve.

[2019-11-13 21:31] rroueche commented on #3449
Status: have identified desired eng talent to lead this initiative
Need to start supporting the SSO team that's moving fwd on a solution

[2019-11-13 21:32] rroueche commented on #3449
- Sprint 13: chat w/Anna and Patrick, continue hiring
- Sprint 14: strategy talks continue w/ Andrew

[2019-11-13 21:34] mnorthuis commented on #2584
@jason-gcio I made a correction to the URLs above - we should be using the word "view" in place of the word "check".  That was my miss from a conversation that I had with Peggy earlier - we use "view" for data that tends to be established and not constantly changing, and "check" for data that is more dynamic (i.e. check status).  I updated the URLs in my original recommendations above.

[2019-11-13 21:38] joanneesteban opened #3450 "Analytics Support & Requests Sprint 13"
## High Level User Story
Understand the analytics support levels for this Sprint in order to prioritize analytics work accordingly.

## Hypothesis/(es)
**If** we track analytics support for this sprint **then** we expect to be able to prioritize our work in accordance to team bandwidth and maintain support consistency across VSP.

## Goals
Track all analytics support for this sprint.

## Objective

[2019-11-13 21:43] jenniferlee-dsva opened #3451 "'View your disability rating' feature migrating into VA.gov"
## High Level User Story
As a Veteran with a rated disability (or multiple rated disabilities), I need an easy way to see my combined VA rating and know that I can do this online, instead of calling VA or looking for my VA letters.

This feature displays the Veteran's total VA combined rating + list of all of their disabilities that are rated.

## Purpose of this epic
**Add a new static 'tool' lan

[2019-11-13 21:45] joanneesteban opened #3452 "ForeSee Implementation for VAOS"
# Analytics Implementation or QA Request

## Description
ForeSee comment card application

- Who is this request for?

    - Lauren A.

- What team/project is this work for?
    VAOS

- Provide the Domain where Google Analytics needs to be implemented
    1. https://www.va.gov/health-care/schedule-view-va-appointments/appointments/
    2. https://www.va.gov/health-care/schedule-view-va-appointment

[2019-11-13 21:47] YanaRoy opened #3453 "Claim Status Tool Enhancements"
## High Level User Story
As a Veteran, I need to be provided with the latest information and functionality within the Claim Status Tool so I can accurately view details and take action on my existing claims.

## Hypothesis/(es)
**If** _enhancements are incorporated into the Claim Status Tool_ **then** _users of the tool will experience less confusion and more positive user experience_.

## Goals
_

[2019-11-13 21:49] peggygannon commented on #1712
Hi, @Mottie I just checked the drupal files and the page header says "File for disability compensation"

Is there another place you're seeing "Apply for disability compensation"? The correct header should be "File for disability compensation"

here's a screenshot:
![2019-11-13](https://user-images.githubusercontent.com/17554224/68807216-4bdf5580-061c-11ea-9fa2-c3696c2c520e.png)

[2019-11-13 21:49] #1659 closed

[2019-11-13 21:53] joanneesteban commented on #3452
Comment card tested & QAd on staging 11/13/19.
*staging.va.gov/health-care/schedule-view-va-appointments/appointments/
*staging.va.gov/health-care/schedule-view-va-appointments/appointments/new-appointment/confirmation

![image](https://user-images.githubusercontent.com/48964695/68807507-e6985e00-0635-11ea-8902-a90b1d049300.png)

![image](https://user-images.githubusercontent.com/48964695/68807580

[2019-11-13 21:55] peggygannon commented on #3156
Hi, @Mottie We need to create a new ticket for the content updates to the Higher-Level Review landing page. I'm happy to create this ticket and assign it to the public websites team and myself.

We'll coordinate with your team on when this page is ready to update in drupal. The mockup is still in content and I/A reviews.

cc @YanaRoy

[2019-11-13 21:55] joanneesteban commented on #3452
Comment card added to the following links on Prod:
*va.gov/health-care/schedule-view-va-appointments/appointments/
*va.gov/health-care/schedule-view-va-appointments/appointments/new-appointment/confirmation

I don't have access to verify this in production. @lalexanderson-dsva would you be able to validate that the feedback button & comment card are live?

[2019-11-13 21:57] peggygannon commented on #1994
Hi, @Mottie and @YanaRoy Yes, we need to create a new ticket for the content updates to the Higher-Level Review landing page. I'm happy to create this ticket and assign it to the public websites team and myself.

We'll coordinate with your team on when this page is ready to update in drupal. The mockup is still in content and I/A reviews. Once the content and I/A elements in the mockup are approve

[2019-11-13 22:05] YanaRoy opened #3454 "[Build] Chronological order of appeals / claims"
## User Story
As a claimant, I want to have a visual representation of the order in which I submitted my claims so that can see them in an organized fashion.

## Goal
List the appeals / issues within the Claim Status Tool in chronological order (order by date).

## Tasks
- [ ] Display claims in chronological order

## Acceptance Criteria
Scenario: A Veteran has multiple appeals and claims that the

[2019-11-13 22:06] annaswims commented on #3271
It's possible that the veteran has more than one active mhv_correlation_id associated with their identity.  If that's the case we would log it to sentry here:
http://sentry.vfs.va.gov/vets-gov/platform-api-production/issues/11420/events/?query=is%3Aunresolved%20Multiple%20active%20MHV%20correlation%20IDs%20present

And it looks like we arbitrarily pick the first here.
https://github.com/department

[2019-11-13 22:17] YanaRoy opened #3455 "[Design] Add confirmation checkbox to Additional Evidence Upload Screen in Claim Status Tool"
## User Story or Problem Statement
As a claimant, I need proper instruction on where I can upload evidence so I can ensure that I am providing in the proper location for review.

## Goal
- Design best way to display where a user can upload documentation, either as additional evidence to an existing, open claim, as a new disability claim or as a decision review_
- Provide user with a method of ackn

[2019-11-13 22:21] YanaRoy opened #3456 "[Content Review] Add confirmation checkbox to Additional Evidence Upload Screen in Claim Status Tool"
**User story**
As a member of Benefits and Memorials team building on VSP, I need the 'checkbox to Additional Evidence Upload Screen in Claim Status Tool' content reviewed to ensure it's accurate, aligns with VA style, and is error-free.

**Screenshot and Links**
- [Design ticket for reference](https://github.com/department-of-veterans-affairs/va.gov-team/issues/3455)
- [InVision Design](https://v

[2019-11-13 22:24] YanaRoy commented on #3102
Discussion with Paul:
	- Required by law to review all documentation
	- If they want to submit something, encourage the user to file another claim if needed
	- If not providing evidence in support of their claim, they should file a new claim for the evidence they want to submit
        - Direct them to How to Submit a Claim page or to Decision Review page

[2019-11-13 22:31] mnorthuis commented on #3152
### IA Review and Feedback:
If you have any questions, please let me know.

**Structure & URL**
- Existing static page will be used as entry point to new tool, no IA or URL changes will be made to the page at this time:  https://www.va.gov/health-care/schedule-view-va-appointments/
- New tool will live as a child to the existing static page - initial URL: https://www.va.gov/health-care/schedule-vi

[2019-11-13 22:33] jenniferlee-dsva commented on #2244
@Karak888 I've created a clean epic here for the public website team: https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/3451

We can close this ticket and use the ^ going forward for our team.

[2019-11-13 22:39] YanaRoy opened #3457 "[Build] Add confirmation checkbox and box for messaging to Additional Evidence Upload Screen"
## User Story or Problem Statement
As a claimant, I need proper instruction on where I can upload evidence so I can ensure that I am providing it in the proper location for review.

## Goal
- Design best way to display where a user can upload documentation, either as additional evidence to an existing, open claim, as a new disability claim or as a decision review_
- Provide user with a method of a

[2019-11-13 22:41] YanaRoy opened #3458 "[Build] Incorporate content for confirmation checkbox on Additional Evidence Upload Screen"
## User Story or Problem Statement
As a claimant, I need proper instruction on where I can upload evidence so I can ensure that I am providing it in the proper location for review.

## Goal
- Design best way to display where a user can upload documentation, either as additional evidence to an existing, open claim, as a new disability claim or as a decision review_
- Provide user with a method of a

[2019-11-13 22:43] mnorthuis commented on #2098
@jenniferlee-dsva The YR participating schools content could be moved into more resources if you feel it is too much to add on the existing YR page and the long term plan will be to migrate the content over.

That said, I would prefer not to create a page that just has a few links that jump off to the legacy pages - that's just creating another step/click in the flow.   The [legacy YR](https://www

[2019-11-13 22:46] mnorthuis commented on #2612
Left my feedback in the other YR issue - my recommendation is to add links/combine this info into main YR page already in our hub.

[2019-11-13 22:47] sshein commented on #3382
Hi all - just a quick note. I think the copy on the designs still needs a little bit of work to make it clear that the user is scheduling a meeting *to schedule the review*.  @kevinstachura we can talk tomorrow about making sure that happens. Also added a few notes on the inVision.

[2019-11-13 23:02] mnorthuis commented on #3293
@Karak888 All URLs and redirect info were documented in this issue: https://github.com/department-of-veterans-affairs/va.gov-team/issues/1729

[2019-11-13 23:54] narin commented on #2531
@saneshark I believe this is done right? If so we can close this out.

[2019-11-13 23:54] kevinstachura commented on #3285
Invision design link: https://vsateams.invisionapp.com/share/JNUPVDECGFK#/393288220_526_Gating_-_Edge_Case_Alert

[2019-11-13 23:55] narin commented on #3262
Yes, this work is covered in #3162.  Closing out.

[2019-11-13 23:55] #3262 closed

[2019-11-13 23:55] andaleliz opened #3459 "Consider displaying Veterans Crisis Line info in footer on screens 767px wide and smaller"
Currently, Veterans Crisis Line (VCL) call to action is in both the header and the footer on screen sizes 768px and above. In the footer, the heading **In Crisis? Get Help Now**, followed by a link to trigger the VCL modal does not appear on screen sizes 767px and below.  My understanding is that this is intentional, and I would like to propose that it displays across all screen sizes.

**Why?**

[2019-11-13 23:57] kevinstachura commented on #3285
Alert messaging in design needs a content check - @peggygannon can you take a look?

https://vsateams.invisionapp.com/share/JNUPVDECGFK#/393288220_526_Gating_-_Edge_Case_Alert

[2019-11-13 23:57] andaleliz commented on #3459
@Karak888 This is the issue I mentioned last week that should go to the backlog. I _think_ it would be our team's backlog but not sure. Also unsure of correct labels to use.  Can you please help when you have a moment? Thanks!

[2019-11-14 00:02] peggygannon opened #3460 "[Content:] Update Higher-Level Review static landing page"
## User Story or Problem Statement
Higher-Level Review static landing page needs to be updated to support launch of Higher-Level Review form

link to WIP invision mockup

https://vsateams.invisionapp.com/share/5RUP8V2TSHD#/screens

## Acceptance Criteria
- [ ] Add green CTA button to take users to the HLR form
- [ ] Add left nav to page (to be approved by @mnorthuis) **[EDIT: @Karak888 pls break o

[2019-11-14 00:03] peggygannon commented on #1994
@Mottie @YanaRoy I've created this issue to capture the I/A and content drupal updates to this page:
https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/3460

[2019-11-14 00:04] mmiddaugh commented on #3385
[Process for requesting redirects](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/information-architecture/request-redirect.md)
- Simple ticket request assigned to Mikki who will assign back to front-end once the redirect has been vetted
- Once assigned, it can be slot in a sprint accordingly.

[2019-11-14 00:07] peggygannon commented on #3460
adding @YanaRoy and @Mottie for visibility

[2019-11-14 00:16] peggygannon commented on #1711
hi, @Mottie here are two messages for when a user doesn't follow the pattern input. Can you give me other examples of form inputs where a user isn't following the pattern? ie, are we also seeing this error for addresses? SSN?

phone number:
Please enter your 10-digit phone number (with or without dashes).

email address:
Please enter your email address using this format: X@X.com.

[2019-11-14 00:19] kevinstachura commented on #3443
Invision design: https://vsateams.invisionapp.com/share/BKUTWR2T457#/393337658_Review_Application_-_Expanded_-_Informal_Conference_-_Representative

[2019-11-14 00:56] peggygannon commented on #3384
@markgreenburg @lalexanderson-dsva
Here are some content recommendations for Podiatry. I'm unable to get onto staging to see the **Type of Care** screen and where podiatry is listed, so I might need to tweak further once I get access to staging. Please let me know your thoughts.

Option 1:
- Keep Podiatry in the type of care list and update it to:

{radio button} Podiatry (only available online fo

[2019-11-14 02:09] jeff2d2 commented on #3385
For all 7 sites listed above, the website URL being returned by the Facilities API is currently http://www.pittsburgh.va.gov/.

For clarity come launch time, the request will be for us to update the website URLs like so, correct?

1. **University Drive** (vha_646): http://www.pittsburgh.va.gov -> https://www.va.gov/pittsburgh-health-care/locations/pittsburgh-va-medical-center-university-drive/

1.

[2019-11-14 13:28] lunascoop commented on #3427
Hi @lwalsh617 . Here is the list of digital tools not included in your top 25 forms page list. See my highlighted notes.
[Digital Tools not included in top 25 VA Forms List.xlsx](https://github.com/department-of-veterans-affairs/va.gov-team/files/3846678/Digital.Tools.not.included.in.top.25.VA.Forms.List.xlsx)

[2019-11-14 13:56] ricetj opened #3461 "Establish Containerization on the Platform"

[2019-11-14 14:10] #3283 closed

[2019-11-14 14:13] annaswims opened #3462 "reduce content security policy reporting rate"
Our typical peak traffic in a day is around 100k pageviews per hour.  If we have a single CSP report on each page and we pass 10% of csp reports to Sentry that's still 10k reports per hour, which is excessive. Additionally, it's possible to have more than one CSP violation per page and each violation sends a request.

we could [reduce the CSP reporting ](https://github.com/department-of-veterans-a

[2019-11-14 14:21] ricetj opened #3463 "Infra Recommit - Replatforming the platform"
## User Story and Problem Statement

As a team developing on VA.gov, I want to have a stable platform that allows my team and others to grow at our rate, empowering us to develop using best practices, so that we can create and expand upon great services for our Veterans.

### High Level User Story/ies or Description:
Reworking our platform so that we can meet the needs of VSP and VFS teams and giv

[2019-11-14 14:37] rileyorr opened #3464 "Form Requirements Inventory"
## User Story or Problem Statement
As a UX designer, I need to create a form requirements inventory so I can have a document containing all the required pieces for VA form 2345 (prosthetic socks) and VA form 2346 (hearing aid batteries).

## Task
- [x] Create a list end points items. (base requirements)
- [x] meet with design team a review similar items from each order method.
- [x] GH list
- [ ]

[2019-11-14 14:39] annaswims opened #3465 "Rate limit errors in Sentry"
Sentry can be overwhelmed by a surge in errors.  Typical peak error rates for vets-website are around 215 errors/minute (mostly CSP violations).  Rate limit all projects to 350 errors/minute. In cases where there is a spike in error reporting a sampling of errors is sufficient.

[2019-11-14 14:39] annaswims commented on #3465
completed

[2019-11-14 14:46] 1Copenut opened #3467 "Revise the 508 product list and severity rubrics for multiple team distinctions"
The product list and severity rubrics are showing their one-team editorial focus. I'm revising them to better reflect the two-team (VSP, VSA) workflow now that audits for VSA have been transitioned.

[2019-11-14 14:50] #3465 closed

[2019-11-14 14:54] Mottie commented on #3382
The update for this step has already been completed and merged. For any updates to the content, we'll open a new ticket. Thanks!

[2019-11-14 14:54] #3382 closed

[2019-11-14 15:00] #2836 closed

[2019-11-14 15:01] andreahewitt-odd opened #3468 "Product Support Issues -- Sprint 13"

[2019-11-14 15:11] ricetj commented on #3402
met with Elijah, speak through some of the problems that need to be addressed with the Deploy section. We came up with maximizing and improving what we currently have to get things in a reasonable timeframe for developments.

[2019-11-14 15:40] artistgreen commented on #3023
@Justin-Pickett - Yes, no. 2

I am researching the last bit of the design regarding 'helper text' on the form and hope to have those answers today.

[2019-11-14 15:41] ricetj commented on #503
https://dsva.slack.com/archives/CDJQ0JCE4/p1572633390094700?thread_ts=1572551914.087100&cid=CDJQ0JCE4

[2019-11-14 15:45] rileyorr opened #3469 "Ideation/Whiteboarding Session(s)"
## User Story or Problem Statement
As a UX designer, I need to conduct ideation/whiteboarding sessions after synthesizing data so I can collaborate with designers and developers to create solutions prior to prototyping.

## Goal
_A Mural board containing the results of ideation/whiteboarding sessions meant to provide solutions and/or low fidelity wireframes based on synthesis_

## Objectives or Ke

[2019-11-14 15:57] erikphansen commented on #1287
# Address validation response handling acceptance criteria
The front end should handle different responses from the address validation/suggestion endpoint (`POST v0/profile/address_validation`) as follows:

1. If the response is a single deliverable suggestion (`"delivery_point_validation": "CONFIRMED"`) with a `"confidence_score"` greater than 80, the user should not see any suggestions. Instead

[2019-11-14 15:58] mnorthuis commented on #3020
@AnneHurley @Karak888 Can you please specify which pages will be rewritten and which pages we are leaving legacy pages in place?

[2019-11-14 16:02] mnorthuis commented on #2050
@Karak888 please let me know once above redirects list has been communicated to appropriate stakeholders, then I will move this forward.

[2019-11-14 16:08] #1361 closed

[2019-11-14 16:09] #1359 closed

[2019-11-14 16:09] Mottie commented on #1711
Almost all of the inputs have some restriction. For example, the following patterns are allowed per the schema, but may be prevented from being entered by the actual form element:

At least for the HLR form (copied from from 526):

* Rep Name (30 max): a-z, A-Z, 0-9, single quote, period, comma, ampersand, hash (#) and space
* Address line 1 (50 max): a-z, A-Z, 0-9, single quote, period, comma, am

[2019-11-14 16:12] #3361 closed

[2019-11-14 16:12] #3356 closed

[2019-11-14 16:13] #3351 closed

[2019-11-14 16:13] #3370 closed

[2019-11-14 16:13] #3378 closed

[2019-11-14 16:13] #3366 closed

[2019-11-14 16:13] nedierecel commented on #3055
@amyknox This is picked up in the Analytics-Insights team current sprint. For the completion of required training and webinars, can you provide wireframes of what that will look like when shfited from benefits.va.gov? When clicking on the links now in staging, they still go to ebenefits.va.gov.

[2019-11-14 16:13] #3388 closed

[2019-11-14 16:13] #3374 closed

[2019-11-14 16:13] #3346 closed

[2019-11-14 16:13] #3295 closed

[2019-11-14 16:15] nedierecel commented on #3094
@amyknox We can shift this over to close, as @jonwehausen and I see Google Analytics and Google Tag Manager firing on the staging page you provided in #3055. Any granular tracking requirements will be provided in that issue.

[2019-11-14 16:15] #3094 closed

[2019-11-14 16:16] #3462 closed

[2019-11-14 16:16] nedierecel commented on #3048
@amyknox - @jonwehausen will take the lead on implementing the items marked as `New` within the ticket.

[2019-11-14 16:21] nedierecel commented on #3043
@amyknox From our meeting, one of the new items we wanted to begin tracking was search refinements after someone selected VET TEC from the GIBCT landing page.

One thing I noticed recently on staging is that when someone selects `VET TEC` as the provider, that the URL goes to https://staging.va.gov/gi-bill-comparison-tool/program-search. On production, the user is taken to https://www.va.gov/gi-bi

[2019-11-14 16:42] Samara-Strauss commented on #3023
Great. All of this sounds good to me. Thanks for the update.

[2019-11-14 16:42] ncksllvn commented on #1727
Is the summary here that we need to implement the redirects as described [here](/disability/dependency-indemnity-compensation/)?

FYI we have a few domains mentioned there - www.va.gov, www.vets.gov, and benefits.va.gov.

[2019-11-14 16:43] ncksllvn commented on #1727
Ah, and we also need to actually move the pages to their new destination, as described [here](https://github.com/department-of-veterans-affairs/va.gov-team/issues/1729#issuecomment-530843089).

[2019-11-14 16:54] mnorthuis commented on #2053
Issues documenting status of rewriting work in Disability:

**DONE** Rates pages: https://github.com/department-of-veterans-affairs/vets.gov-team/issues/16956

C&P Exam and Add Dependent pages were handled in parity - cannot find issue documenting completion of work.

[2019-11-14 16:56] RLHecht commented on #1727
@ncksllvn I can move the pages to the new destination but need you guys to help with the redirects and I think it all needs to happen at the same time. I was told with Drupal that we can't play around with the menu items until we are going to publish so I need to wait till everything is ready to be worked on at the same time.

[2019-11-14 17:04] mnorthuis commented on #2049
Pension parity work is not complete, still one outstanding page:

Protected Pension rates: https://github.com/department-of-veterans-affairs/vets.gov-team/issues/18514

[2019-11-14 17:06] artistgreen commented on #1287
@erikphansen - Awesome and thanks for the info!

Sounds like the front end design covers every response scenario except for no. 5:

5.   If the response is a single suggestion with a "delivery_point_validation" value of
     "STREET_NUMBER_VALIDATED_BUT_MISSING_UNIT_NUMBER" or
     "STREET_NUMBER_VALIDATED_BUT_BAD_UNIT_NUMBER", tell the user that they appear to
     have left off the unit number o

[2019-11-14 17:07] mnorthuis commented on #3145
@Karak888 This redirect request has been vetted and can be assigned to your front-end team.  The redirect should be handled via a client-side redirect.

Please note launch date for new content page is planned for 11/21 or 11/22.  You will need to coordinate with the BAH team on the implementation of this redirect.

[2019-11-14 17:13] wyattwalter commented on #1036
A highly manual version of this, written out in English/yaml:

For vets-api and vets-website, go to the "vets-gov-autodeploy-<app>/buildTimeTrend" page:

- http://jenkins.vfs.va.gov/job/deploys/job/vets-gov-autodeploy-vets-api/buildTimeTrend
- http://jenkins.vfs.va.gov/job/deploys/job/vets-gov-autodeploy-vets-website/buildTimeTrend

Get total number of jobs total number of failures

example:
  vet

[2019-11-14 17:15] thatmattjohnson commented on #3167
conversation with Kimberley 11/14/19; request to facilitate conversation with Joanne Esteban and Chante Lantos-Swett around call center content. meeting set for 11/25/19.

[2019-11-14 17:15] jbritt1 commented on #2514
All of the work for this will be done as soon as the PR's are merged.

[2019-11-14 17:16] ncksllvn commented on #1727
Hm, okay. I'll get some work ready to implement these redirects, then we can plan on launching all of this on Monday?

[2019-11-14 17:21] brangi commented on #487
Cannot reproduce

[2019-11-14 17:24] Justin-Pickett commented on #2611
@erikphansen just wanted to touch base with you on this ticket status?

[2019-11-14 17:31] #3164 closed

[2019-11-14 17:32] Justin-Pickett opened #3471 "Front End - APO/FPO/DPO form redesign"
## User Story

## User Goal

## Acceptance Criteria

## Definition of Done

[2019-11-14 17:40] AnneHurley commented on #3020
Legacy pages we are keeping because they contain images:
https://www.cem.va.gov/cem/hmm/types.asp
https://www.cem.va.gov/cem/hmm/pre_WWI_era.asp
https://www.cem.va.gov/cem/hmm/emblems.asp

All others will be rewritten.

[2019-11-14 17:45] wyattwalter commented on #1037
In English(ish):

[code]

[2019-11-14 17:50] erikphansen commented on #1287
That would depend on how you wanted to add the error text to the form modal. Putting an alert component on the page would likely be the easiest. Placing some sort of call out by the street field itself might be trickier. @bradl3yC might have some thoughts since he's been digging into the relevant code recently.

[2019-11-14 17:56] mnorthuis commented on #952
@Karak888 My documentation is updated and this redirect can be assigned to your front end team for a client side redirect when your team is ready for implementation.

[2019-11-14 17:59] lwalsh617 commented on #3427
Hi @lunascoop,
Here's the copy deck for the 25 top forms LPs. Elements are as follows:
- Form Number
- Form Name
- Related to: (Insert the benefit hub(s) that apply)
- When to use this form (with download CTA that includes form number)
- There's also an online tool (if applicable)
- Related forms and instructions (If applicable. These tend to be other forms that must also be completed as part of t

[2019-11-14 18:10] kevinstachura commented on #3120
@mnorthuis absolutely! Until we look at how the full Decision Reviews section of the website is structured, we can't really move forward to say the left nav is necessarily accurate' Depends on how we decide to structure the content/pages within, of course. I'm going to open a new ticket to determine the structure so we can ensure the accuracy of the left nav and the breadcrumbs as well (root level

[2019-11-14 18:11] rileyorr opened #3472 "Prototype: First Iteration"
## User Story or Problem Statement
As a UX Designer, I need to prototype the flow for ordering prosthetic socks and/or hearing aid batteries so I can conduct usability testing.

## Goal
_Invision mockups containing all the screens in the ordering process for both hearing aid batteries and prosthetic socks_

## Objectives or Key Results this is meant to further
- _The ordering process' development_

[2019-11-14 18:13] #2905 closed

[2019-11-14 18:26] rileyorr opened #3473 "Benefits & Memorials 2: Design & Prototype Medical Procurement Tool"
## High Level User Story
As a UX Designer, I need to design and prototype the Medical Procurement Tool so I can test the prototype with users and proceed to the development stage.

## Goals
_Conduct ideation/whiteboarding session(s) to influence prototypes. The prototypes will be reviewed by the VSP team in order to proceed with user testing_

## Issues to create within this Epic

[code]

[2019-11-14 18:30] mnorthuis commented on #3120
Thanks @kevinstachura.  Since the Decision Reviews content is all live, there technically is a structure and URLs are already in place - therefore the left nav and breadcrumbs are currently set. If you plan to reorganize that content, we will need to shift pages/links and implement redirects.

[2019-11-14 18:32] rileyorr opened #3474 "User Testing: Research Plan"
## User Story or Problem Statement
As a UX Designer, I need to create a research plan so I can document the research's purpose, goals, hypothesis, and user testing recruitment needs.

## Goal
_A completed research plan sent to Perigean for user testing recruitment_

## Objectives or Key Results this is meant to further
- _User testing to validate the Medical Procurement Tool's design and/or uncove

[2019-11-14 18:35] YanaRoy opened #3475 "[Epic] Launch 8940 and 4192 Forms"
## High Level User Story
As a veteran I need to use the online claims tool to share information about my unemployability so that VA can have everything needed to review my claim.

## Hypothesis/(es)
**If** _the forms are launched as a subset of the digital 526 Disability Compensation form_ **then** _then the user can continue to complete their online submission process without being directed to pr

[2019-11-14 18:40] YanaRoy opened #3476 "Duplicate submission attempt"
@markgreenburg commented on [Fri Jul 19 2019](https://github.com/department-of-veterans-affairs/vets.gov-team/issues/19332)

 Two tries for one submission led to two different claims being established for one actual form submit...both for the same (new) disability:
[code]
Fortunately, it appears someone has since closed/cleared the second claim (72503299), as only the first one (72503199) is liste

[2019-11-14 18:42] jenniferlee-dsva commented on #1727
@RLHecht - before the DIC page gets redirected from Burials to Disability, we need to give Angie Smith heads up. Since we're late into the week, let's launch on Wednseday to give her a chance to share with her manager first. Can you give me the new Disability hub URL and the Burials URL that we're redirecting from?
(CC @ncksllvn )

[2019-11-14 18:43] AnneHurley commented on #2215
@mnorthuis @RLHecht @Karak888

Legacy pages we are keeping because they contain images:
https://www.cem.va.gov/cem/hmm/types.asp
https://www.cem.va.gov/cem/hmm/pre_WWI_era.asp
https://www.cem.va.gov/cem/hmm/emblems.asp

These pages live under :
HMM Pages: https://github.com/department-of-veterans-affairs/vets.gov-team/issues/18965, new issue #3020

[2019-11-14 18:44] jenniferlee-dsva commented on #1727
@RLHecht - I see it - is it this one page?

CURRENT: /burials-memorials/dependency-indemnity-compensation/

NEW:  /disability/dependency-indemnity-compensation/

[2019-11-14 18:56] RLHecht commented on #1727
@jenniferlee-dsva The two legacy rates pages would need to move out of the "More resources" section of the left nav in Burials and go into Disability, correct? Until we turn them into the new pages we've been working on.

[2019-11-14 18:57] peggygannon commented on #3279
Hi, @carolynwill I've reviewed the "Review application" screen in the mockup. Please let me know if you have any questions about my comments.

If you can let me know when the mockup is updated and I'll give the changes a final proof. Thx.

cc @YanaRoy

[2019-11-14 19:04] erikphansen commented on #3271
@jholton @omgitsbillryan Did you guys see Anna's post above?

[2019-11-14 19:08] jenstrickland commented on #487
@brangi Here's a screen recording of the bug.
[facility-locator-typeahead-bug.pptx](https://github.com/department-of-veterans-affairs/va.gov-team/files/3848224/facility-locator-typeahead-bug.pptx)

[2019-11-14 19:09] #2514 closed

[2019-11-14 19:12] alexpappasoddball opened #3477 "Tools BE VFS Support - Sprint 13"
As you review PRs, please add this epic to the issue so the business has visibility into our time spent supporting VFS teams.

[2019-11-14 19:12] #3061 closed

[2019-11-14 19:14] alexpappasoddball opened #3478 "Incidents that have been resolved by Tools - Sprint 13"
This epic is used to track which incidents that the triage team handles to resolution and does not pass to another team. This epic tracks Sentry issues as well.

[2019-11-14 19:14] #3060 closed

[2019-11-14 19:15] alexpappasoddball opened #3479 "Incidents that have been Triaged to another team - Sprint 13"
This epic is used to track each incident that came to use and was ultimately assigned to another team for resolution.

[2019-11-14 19:16] #3059 closed

[2019-11-14 19:19] benniemosher commented on #1037
Total Jobs can be found with this curl and jq command:

[code]

Satisfactory jobs can be found with this curl and jq command:
[code]

[2019-11-14 19:22] nathanhruby commented on #3428
similar work here: department-of-veterans-affairs/vets-contrib#3294

[2019-11-14 19:24] peggygannon commented on #3281
Hi, @carolynwill I've reviewed the HLR Confirmation page mockup. Please let me know if you have any questions about my edits. I would like to look at the mockup again once my changes have been implemented. thx!

cc @YanaRoy

[2019-11-14 19:32] #3409 closed

[2019-11-14 19:49] jonwehausen commented on #3055
Hi Amy,

Ditto to @nedierecel's above point.

With a quick audit of the page, as it stands, here is the status of your tracking items:

## Items Already Tracked with previous analytics future-fitting
[code]

## Items Needing DL Code for Tracking
[code]
------------------
## Here is the DL we will need for each of the items above:

- **For EACH individual jumplink**
[code]

- **For EACH individual

[2019-11-14 19:49] YanaRoy commented on #3455
@kevinstachura to complete Tasks @YanaRoy to complete AC

[2019-11-14 19:58] brangi commented on #487
@jenstrickland thanks, I can see the issue now

[2019-11-14 19:59] rebeccawalsh opened #3481 "Discovery documentation structure in GH"
## User Story or Problem Statement
As a member of BAM2, I need to create a documentation for the discovery sprint so I can ensure all tasks are completed and documented correctly in an organized way.

## Goal
Create a structured repository for all Medical Device Tools documentation.

## Objectives or Key Results this is meant to further
- Continued transparency about the work within and outside of

[2019-11-14 20:01] YanaRoy commented on #3118
@YanaRoy to work with @kevinstachura to update ticket

[2019-11-14 20:10] thatmattjohnson commented on #2894
Initial UAT completed for the Facilities Locator PR merges.  For 22 files copied, 16 have subfolder names and file names concatenated and hence ended up in the incorrect va.gov-team location.  I was able to edit locations for the 9 affected Markdown files, but the 7 document uploads (highlighted in red in the migration plan doc, link below) will need to be rerun so that they live within LFS. Depre

[2019-11-14 20:14] rileyorr opened #3482 "Benefits & Memorials 2: User Testing"
## High Level User Story
As a UX Designer, I need to test the Medical Procurement Tool prototype so I can validate the design and uncover pain points and gaps that remain in the design for a second iteration.

## Goals
_Conduct user testing sessions and synthesize data collected from those sessions in order to validate the design and/or provide improvements for the second iteration._

## Issues to

[2019-11-14 20:16] rebeccawalsh opened #3483 "User Testing: User Interview Conversation Guide"
## User Story or Problem Statement
As a UX designer, I need to create a user testing conversation guide so I can ensure that all necessary questions are documented in one place and can be referenced during user interviews.

## Goal
_A document to serve as a user interview conversation guide._

## Objectives or Key Results this is meant to further
- This furthers the discovery effort to understand

[2019-11-14 20:17] #3165 closed

[2019-11-14 20:22] rileyorr opened #3484 "Discovery: User Interview Conversation Guide"
## User Story or Problem Statement
As a UX designer, I need to create a user interview conversation guide so I can ensure that all necessary questions are documented in one place and can be referenced during user interviews.

## Goal
_A document to serve as a user interview conversation guide._

## Objectives or Key Results this is meant to further
- This furthers the discovery effort to understan

[2019-11-14 20:31] rebeccawalsh opened #3485 "Prototype: Conduct user testing sessions"
## User Story or Problem Statement
As a UX designer, I need to test the Medical Device Tool prototype with real users so I can receive feedback on the design and improve it.

## Goal
Collect feedback on the Medical Device Tool prototype via usability testing

## Objectives or Key Results this is meant to further
- Refinement of design based on human centered design principles.

## Acceptance Crite

[2019-11-14 20:31] Samara-Strauss commented on #1287
From a UI perspective, it sounds like we have UI for the following use cases:

- Address is invalid, but override is possible. Suggestions are also available.
- Address is invalid, but override is possible. No suggestions are available.
- Address is invalid, but override is NOT possible. Suggestions are also available.
- Address is invalid, but override is NOT possible. Suggestions are not availab

[2019-11-14 20:38] erikphansen commented on #1287
@Samara-Strauss in the case of a missing/bad unit number, there are no suggestions to make since the suggestion API can't/doesn't suggest addresses _with_ unit numbers.

Other than that everything you said is correct.

[2019-11-14 20:38] rebeccawalsh opened #3486 "Prototype: Whiteboard updates based on feedback"
## User Story or Problem Statement
As a UX designer, I need to conduct ideation/whiteboarding sessions after synthesizing usability test data so I can collaborate with designers and developers to create solutions prior to prototyping.

## Goal
_A Mural board containing the results of ideation/whiteboarding sessions meant to provide solutions and/or low fidelity wireframes based on synthesis_

## O

[2019-11-14 20:41] #3447 closed

[2019-11-14 20:44] jbalboni opened #3487 "Update appointment list page to match latest mocks"
We have new mocks for the different appointment list cards.

Main changes:

- Top color bar, instead of color icon
- Reordering of top level information
- Cancel button becomes a link at bottom
- Show more/less pattern uses AdditionalInfo link

Note:

- Use the "appt created outside of VAOS" design for VA appointments. The other variant is in a separate ticket.

Screenshots to come

[2019-11-14 20:45] Samara-Strauss commented on #1287
@erikphansen thank you for clarifying. All clear on that.

@artistgreen can you please modify the UI as needed and work with copy resources for the use case where there are bad/missing unit numbers?

[2019-11-14 20:46] jbalboni opened #3488 "Update cancel link to always show modal"
The cancel link should always show a modal for confirmed appts. For Video and CC appointments, we'll have different modal content to tell users how to cancel their appointment.

AC:
- The cancel link is present for all cards on the appointment list page
- The modal for VVC and CC shows the content below
- The modal for regular VA appointments and all requests allow you to cancel online

[2019-11-14 20:46] artistgreen commented on #1287
@Samara-Strauss - yes, will work on that - thanks.

[2019-11-14 20:54] thatmattjohnson commented on #2894
Screenshots of 7 uploaded files requiring manual moves below:

![Screenshot 2019-11-14 at 3.47.05 PM - Edited.png](https://images.zenhubusercontent.com/5d23974854489141ee75fa25/691d9b2a-3426-4ff3-9aae-23168edb9ef0)

![Screenshot 2019-11-14 at 3.47.45 PM - Edited.png](https://images.zenhubusercontent.com/5d23974854489141ee75fa25/9269c2bb-cd55-47ff-b6ae-4ad382380614)

[2019-11-14 21:02] rileyorr opened #3490 "Design Team Scum Planning"
## User Story or Problem Statement
As a UX Designer, I need to strategize the design team's path forward and document the resulting tickets so I can keep track of the design team's goals and tasks.

## Goal
_To create a roadmap for the design team's first five sprints and transfer all of the user stories documented in the [Design Team's roadmap](https://app.mural.co/t/vsa8243/m/vsa8243/15735883586

[2019-11-14 21:07] #3490 closed

[2019-11-14 21:24] johnpaulashenfelter commented on #2893
https://github.com/department-of-veterans-affairs/va.gov-team/pull/3491

and

https://github.com/department-of-veterans-affairs/vets.gov-team/pull/19980

[2019-11-14 21:30] nathanhruby opened #3492 "Upgrade Grafana to 6.6"
## Description
Grafana 6.6 is out, we should upgrade from our current 6.4.3:
- https://grafana.com/docs/guides/whats-new-in-v6-5/
- https://grafana.com/docs/grafana/latest/guides/whats-new-in-v6-6/

## Acceptance Criteria
- [ ] http://grafana.vfs.va.gov/shows 6.6.x as running version
- [ ] Several dashboard have been checekd

## Process
The last upgrade was done on department-of-veterans-affairs/d

[2019-11-14 21:36] thatmattjohnson commented on #2893
#3491 approved; #19980 needs update to link but otherwise okay.

[2019-11-14 21:43] rtwell commented on #3487
![image](https://user-images.githubusercontent.com/12564977/68898622-cf24a800-06fd-11ea-991b-030a658b1f70.png)

[2019-11-14 21:43] rtwell commented on #3488
![image](https://user-images.githubusercontent.com/12564977/68898656-e2377800-06fd-11ea-9d51-bfb6ebfff6ec.png)

[2019-11-14 21:45] johnpaulashenfelter commented on #2894
Thanks @thatmattjohnson . Here's the PR that fixes it: https://github.com/department-of-veterans-affairs/va.gov-team/pull/3493

[2019-11-14 21:48] Justin-Pickett commented on #1688
@artistgreen are we okay to close this one?

[2019-11-14 21:53] rtwell commented on #3487
canceled states:

![image](https://user-images.githubusercontent.com/12564977/68899209-25461b00-06ff-11ea-9f8e-b26854f5a80a.png)

[2019-11-14 22:01] Samara-Strauss commented on #1688
Yes, we can close this. We can open additional tickets for any updates needed.

[2019-11-14 22:01] #1688 closed

[2019-11-14 22:08] AnneHurley commented on #2098
[Final SME edits to 2 Education pages]
(https://app.zenhub.com/files/133843125/a3b5cd05-42d4-43c8-9a6e-1b6add83dd90/download)
@RLHecht  - Small fixes to both the pages from the SMEs, attached. Happy to screen share to answer the open ended question they ask with you. There's another q about a link which I'm sure will work when the page is pushed from Prod to live, yes?

[2019-11-14 22:09] johnpaulashenfelter commented on #2592
https://github.com/department-of-veterans-affairs/va.gov-team/pull/3494

and

https://github.com/department-of-veterans-affairs/vets.gov-team/pull/19981

[2019-11-14 22:15] #3202 closed

[2019-11-14 22:16] johnpaulashenfelter commented on #2890
https://github.com/department-of-veterans-affairs/va.gov-team/pull/3495

and

https://github.com/department-of-veterans-affairs/vets.gov-team/pull/19982

[2019-11-14 22:22] peggygannon commented on #3124
Hi, @carolynwill I'm unable to get into the Invision mockup (it says the link is invalid). So I'm listing my 2 content changes here:

1. Please update this sentence to:
We'll contact you directly to schedule an informal conference with the reviewer assigned to your issue.

2 Please update the alert message to:

**We'll try to call you twice**
A senior reviewer will call you by phone two times. If

[2019-11-14 22:23] johnpaulashenfelter commented on #3440
Walked bill through the script, improving it and adding docs. Will help him run a few real instances next week.

[2019-11-14 22:26] jonwehausen commented on #3048
Hi Amy,

Ditto to @nedierecel's above point.

With a quick audit of the search and individual facility pages, as it stands, here is the status of your tracking items identified as `New`:

## Items Already Tracked with previous analytics future-fitting
[code]

#### Country, State, and "City, VET TEC program or provider" we can handle completely in GTM without any dataLayer code.

## Items Needing d

[2019-11-14 22:29] jenniferlee-dsva commented on #3040
@RLHecht - I reviewed and made some updates to the surviving parents page: https://prod.cms.va.gov/2019-va-dic-surviving-parent-benefit-rates

Will send you and @AnneHurley PDF with comments - more just as a log of edits.

Was there another page that I needed to look at for this ticket?

[2019-11-14 22:42] #3265 closed

[2019-11-14 22:46] #1897 closed

[2019-11-14 22:46] #2122 closed

[2019-11-14 22:47] #2124 closed

[2019-11-14 22:47] #1835 closed

[2019-11-14 22:48] #1309 closed

[2019-11-14 22:49] jbalboni commented on #2238
This is covered in recent mocks, closing.

[2019-11-14 22:49] #2238 closed

[2019-11-14 22:52] jbalboni opened #3496 "Add form submission analytics"
We should add GA events that match the typical form submission events: submitted, failed, succeeded. We should match the format the form system code uses.

[2019-11-14 22:53] jbalboni opened #3497 "Integrate facility endpoints in request flow with backend api"

[2019-11-14 22:54] Clark-W-Griswold opened #3498 "Tools for analyzing pull request activity"
As a program, I would like to know the percent of vets-website and vets-api first round code reviews completed within 48 hours (business days) so that I can know if we are hitting KPIs for the contract

AC:
The percentage can be pulled for any date range
The percentage can be pulled for vets-website and vets-api individually
Percentage accounts for Saturday and sunday not being business days (bonu

[2019-11-14 22:55] jbalboni commented on #3257
@rtwell @markgreenburg I think these questions are covered in the latest mocks and we can close this?

[2019-11-14 23:00] jbalboni commented on #3256
@rtwell This doesn't match the way VAOS works now, where it appears to leave appointments visible all day, and they drop off the next day. Which is not a blocker, just wanted to mention it. We're currently matching what legacy does.

Presumably we'd want to leave appts up until they end, not remove them once they start. That would cause problems for video appts, if you were a minute behind and no

[2019-11-14 23:04] peggygannon commented on #2760
Hi, @jenniferlee-dsva @RLHecht I've written up some copy for the Error message landing page for the content section of design system. Can you give it a review when you get a chance and let me know what you think?

Error message landing page for VA.gov content styleguide

**Error messages**

Error messages alert the user that something has gone wrong. These messages should be clear, direct, and hav

[2019-11-14 23:09] mmiddaugh commented on #3178
@brangi The Mapbox account manager suggested this [tutorial](https://docs.mapbox.com/help/troubleshooting/transition-from-mapbox-js-to-mapbox-gl-js/). Did you find this during your research? If it doesn't supply the info you need, please let me know and I will follow up with Sim. Thanks!

[2019-11-14 23:27] rianfowler commented on #2077
This works- can't see the nonce in the DOM explorer. have to look at the raw response in the network panel in chrome.

[2019-11-14 23:27] #2077 closed

[2019-11-14 23:30] rianfowler commented on #2077
<img width="1187" alt="Screen Shot 2019-11-14 at 16 29 04" src="https://user-images.githubusercontent.com/4998130/68904788-fda18380-06fb-11ea-84cb-0937595c5863.png">
<img width="1187" alt="Screen Shot 2019-11-14 at 16 29 10" src="https://user-images.githubusercontent.com/4998130/68904789-fda18380-06fb-11ea-8a09-746389fd5544.png">

[2019-11-14 23:34] narin commented on #2508
@rtwell @peggygannon I plan to work on this tomorrow (Friday). Are there updated comps? I think I can get by with the copy changes for the existing fields, but not sure about the emergency content.

[2019-11-14 23:44] #3137 closed

[2019-11-15 01:10] AnneHurley commented on #2612
@mnorthuis  Where is the other Yellow Ribbon issue? For now here is what I recommend for the revised current Yellow Ribbon page.
[Yellow Ribbon page revise to include accordion/section of schools](https://app.zenhub.com/files/133843125/d059b80e-18c7-416b-b96c-ed397f63868f/download)
@jenniferlee-dsva  for your review and @RLHecht  for copyedit

[2019-11-15 04:13] boris-ning-usds opened #3499 "User having issues with ID.me on authentication."
### Status

[UNRESOLVED]

### Severity Analysis

Critical for a particular user, as it's been mentioned that he could never login, and that it has never worked. User is having difficulty during the ID.me 2FA process, where it fails coming from within the network. I have been told in the channel that the 2FA token for text is outdated because the user could be receiving outdated keys.

- `sev 2`

[2019-11-15 06:02] boris-ning-usds opened #3500 "User is being requested to upgrade MHV account with an already upgraded MHV account"
### Status

[UNRESOLVED]

### Severity Analysis
sev 2 - needs SME

### User Impact

User cannot view his VA appointments via va.gov, as it forces him to upgrade via MHV.

### Description

User is running into an issue using his ID.ME credentials in the system believing he need an upgraded MHV account when he already upgraded. If he try to upgrade, it tells him it can't and to try again. If he log

[2019-11-15 12:55] RLHecht commented on #3040
Thanks, @jenniferlee-dsva Did you also look at https://prod.cms.va.gov/2019-va-dic-survivor-dic-rates? Those are the two with this ticket.

[2019-11-15 13:33] #3058 closed

[2019-11-15 13:54] #1457 closed

[2019-11-15 13:54] #665 closed

[2019-11-15 13:56] annaswims commented on #814
conclusion: we should move to dry-types because there will likely come a point when viturs prevents us from making a ruby/rails upgrade.

Next steps:
1) ensure proper test coverage of model attributes
2) convert virtus to dry-types.

[2019-11-15 14:08] jeff2d2 commented on #3385
Got [a draft PR](https://github.com/department-of-veterans-affairs/vets-api/pull/3551) going to prepare. Feel free to review!

[2019-11-15 14:20] thatmattjohnson commented on #2894
Approved #3493.

[2019-11-15 14:24] Mottie commented on #1712
The title displayed in the browser tab is showing "Apply for.." - I ended up looking at my pull request (https://github.com/department-of-veterans-affairs/vagov-content/pull/553/files) and noticed there were a few files that had this issue both in the title and page description.

[2019-11-15 14:25] kevinstachura commented on #3142
Update: @nedierecel is currently looking into the following for this ticket:

 how veterans enter the page (page entries)
- how veterans currently utilize the page (pageviews/sessions)
- where the friction points are (drop offs, funnel exits)

[2019-11-15 14:44] rtwell commented on #3257
i say thee YAY

[2019-11-15 14:45] rtwell commented on #3256
gotcha. sounds like we have a path forward?

[2019-11-15 14:46] rtwell commented on #2508
i would connect with @jbalboni

[2019-11-15 14:48] #1543 closed

[2019-11-15 14:52] #3257 closed

[2019-11-15 14:54] rileyorr commented on #3373
@wygonikGCIO Just as a heads up your link redirects to the communication norms file. I'm moving this to validate anyway because I'm familiar with markdown.

[2019-11-15 14:59] thatmattjohnson commented on #2592
Approved #3494; requested updates for #19981.

[2019-11-15 15:13] thatmattjohnson commented on #2890
Reviewed and requested changes for #3495 and #19982.

[2019-11-15 15:24] jason-gcio commented on #1504
This was complete in Milestone: eBenefits Sprint 3 before it was being officially tracked

[2019-11-15 15:30] brandonrapp opened #3501 "Define Website Performance Measurements and Set Baseline"
## User Story or Problem Statement
As a VSP team, we need to define how we want to measure website performance so that we can create a baseline for us to identify potential improvements and measure progress made.

## Goal
Define and get consensus around a set of website performance metrics that can easily captured and made available for any VSP team to utilize.

[2019-11-15 15:32] jbalboni opened #3502 "Parse booking note to use our reason for appointment text as header"
We get a booking note back from VistA appointments and if the appt is created through VAOS, it will have one of our reason for appt strings at the start. We can parse this out and use it as the header for the section and hide the booking note otherwise.

![Screen Shot 2019-11-15 at 10.33.19 AM.png](https://images.zenhubusercontent.com/599c94608f62dc7798c3b2cd/cd7bdfdf-370d-4733-8113-6cd6cb7ca186)

[2019-11-15 15:36] RLHecht commented on #2760
@peggygannon This looks good to me as the landing page. Just one copyedit:

These messages should be clear, direct, and have an actionable call to action (CTA) for the user. [Delete hyphens and switch what's in parentheses to the acronym)

[2019-11-15 15:38] jbalboni commented on #2508
@rtwell @narin I don't really understand when and where emergency contact info should appear on this page. Like the Narin said, the copy updates for the field names seem ok, but I haven't seen anything about emergency content on this page.

[2019-11-15 15:45] #1648 closed

[2019-11-15 15:49] rileyorr commented on #3291
@wygonikGCIO Please add a description so I can complete this ticket

[2019-11-15 15:54] jason-gcio commented on #1305
This was complete in Milestone: eBenefits Sprint 3 before official tracking was being done.

[2019-11-15 15:58] jenniferlee-dsva commented on #1615
Hi @mnorthuis p- Since the website team has to implement these, can we close this "coordinate" epic? And we will make smaller actionable tickets for the website team to start redirecting these.

@Karak888 We will need to reference this giant epic on our smaller tickets, so we don't lose scent of the complete picture and a log of what pages have been redirected. I'd love to start keeping a list in

[2019-11-15 16:00] amyknox commented on #3055
@nedierecel - all links are directing where they should once the page is deployed

The updated link for the SCO page on production will be:   https://www.va.gov/school-administrators/

[2019-11-15 16:06] jbalboni opened #3503 "Prefill email address in contact info page"
We're currently prefilling phone, but not email. The code is mostly there, but commented out.

However, I think the person looking at this ticket should consider refactoring to remove the code from the type of care page component. It's almost entirely logic that should live in actions and reducers and doesn't impact pages or schemas.

[2019-11-15 16:16] thatmattjohnson commented on #3167
conversation with Brandon 11/15/19; confirmed Alex's proposed approach for FE /platform and /teams content, will follow up with list of documents that need to be moved from /teams to /platform

[2019-11-15 16:18] nedierecel commented on #3142
@kevinstachura

[Please see the Google Analytics report filtered down to basic activity for `/decision-reviews`](https://analytics.google.com/analytics/web/#/report/content-pages/a50123418w177519031p184624291/_u.dateOption=last30days&explorer-table.filter=~2Fdecision-reviews~2Findex.html&explorer-table.plotKeys=%5B%5D/)

- Pageviews - 22,911
- Sessions - 13,198 (To measure how many sessions viewed

[2019-11-15 16:24] joanneesteban commented on #3412
Additional data for "Grey Sky"

| Chart Name                                                                                                     | Link or Comment                                              |
|----------------------------------------------------------------------------------------------------------------|--------------------------------------------------------------|
| Percent di

[2019-11-15 16:32] erikphansen opened #3504 "Allow vets to set up Direct Deposit if they have a payment address"
Currently the ability to add/set up direct deposit is removed. We want to allow vets to set up DD _if_ they don't have it set up currently _and_ the `"payment_address"` object that comes back from the `GET ppiu/payment_information` endpoint contains address data. Essentially we will treat the existence of payment address data as a flag indicating that they currently get compensation via paper chec

[2019-11-15 16:34] #3264 closed

[2019-11-15 16:34] erikphansen commented on #3504
@Justin-Pickett for your awareness

[2019-11-15 17:13] amyknox commented on #3145
@Karak888 - our client wants to delay the redirect for a couple days so we'll launch the new page then implement the redirect.  Will let you know when we have a target for the redirects to go live.

[2019-11-15 17:42] peggygannon commented on #2760
thanks, @RLHecht for taking a look!

@jenniferlee-dsva Let me know if this content is what you had in mind for this landing page? or iif we should add more info?

[2019-11-15 17:47] amyknox commented on #3043
@nedierecel - the URL for VET TEC results on production will be https://www.va.gov/gi-bill-comparison-tool/program-search

[2019-11-15 17:55] brangi commented on #3178
https://github.com/mapbox/mapbox-sdk-js (we are using this one)

The tutorial refers:
https://github.com/mapbox/mapbox.js  to https://github.com/mapbox/mapbox-gl-js  (the one in development)

[2019-11-15 17:58] mmiddaugh commented on #3419
@davidconlon will you please confirm that my list of expected data elements for each facility is correct? Thanks!

[2019-11-15 18:03] cohnjesse opened #3505 "Compare 686 form submission data structure to 686 form Schema to determine inconsistencies"
## User Story
As a frontend engineer, I want to resolve validation errors in the Dependents workflow so that I move forward with getting that form completed.

## Considerations
When submitting the rainbows team form 686 there is a validation error at the end of the form shown in the Redux form state object. This error is not coming from the validation of the data entered into the form but rather f

[2019-11-15 18:07] #2894 closed

[2019-11-15 18:08] nedierecel commented on #3043
Thanks @amyknox - I'll spin that off into a separate request, but the dashboard is under our final review. I'll be able to share the link early next week.

For the VET TEC profiles viewed per session, we can calculate that number, but I am running into an issue in best displaying it within the dashboard. I'm working with @jonwehausen to resolve. Thanks!

[2019-11-15 18:08] cohnjesse opened #3506 "Fix Form 686 Schema to Match Data Submitted by Form"
## Story
As a frontend engineer, I want to get the Dependents form submitted data structure to match in order for the previous teams work to function properly.

## Considerations
- In order to get the form 686 work from the Rainbows team working on staging we need to fix the form's submitted data structure so that it both matches the shape of the JSON schema for the back end AND is valid for the V

[2019-11-15 18:13] jonwehausen commented on #3055
Hi @Karak888, We're helping the BAH team with this landing page, and we wanted to see if the Public Websites team needs to implement analytics or would the BAH team need to tackle.

[2019-11-15 18:15] Samara-Strauss commented on #3504
@erikphansen I talked with @lkoenigsberg this morning and we've got some questions:

- Does the payment address ever come up blank? I think the question here is whether someone will receive compensation but the payment address won't be filled in, therefore not accurately detecting who receives compensation.
- Is payment address also used for education benefits? I want to make sure that this metric

[2019-11-15 18:22] johnpaulashenfelter commented on #2893
@thatmattjohnson updated. looked like the file content also got clobbered.

[2019-11-15 18:28] nedierecel commented on #3403
@joanneesteban @JoyOfTech @jonwehausen I set up time for the 4 of us to meet next Wednesday at 12:30-1. Thanks!

[2019-11-15 18:38] erikphansen commented on #3504
@Samara-Strauss:

Looping in @hinzed1127  and @SMLuthi since they might have answers to your questions.

- We have no idea. Without seeing what real users are seeing in prod I don't think there's a way to know what sort of data we get (or don't get) for the payment address. It's possible that the payment address data could be filled in even if a user isn't getting compensation at all (in which cas

[2019-11-15 18:39] johnpaulashenfelter commented on #2592
Updates to deprecation messages are complete https://github.com/department-of-veterans-affairs/vets.gov-team/pull/19981

[2019-11-15 18:46] nedierecel commented on #849
@joanneesteban

New resource available:
- [Rules of Engagement - Request Review](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/analytics/rules-of-engagement-request-review.md)

[2019-11-15 18:50] RLHecht commented on #2098
@AnneHurley These changes have all been made and I published the two pages after you reviewed with the screen share. Should this ticket be moved to validate and then closed?

[2019-11-15 18:51] AnneHurley commented on #2098
@RLHecht  Yes, thanks. When the pages are live I'll send them to the SMEs to close the loop. Thanks much!

[2019-11-15 19:07] rtwell commented on #2508
i'm thinking something like this:

![image](https://user-images.githubusercontent.com/12564977/68968709-436c5380-07b1-11ea-94e2-7e78c03ca403.png)

[2019-11-15 19:07] jbritt1 commented on #2928
[x] Atlantis does not have the ability to apply, and responds with a comment stating that when someone attempts an apply (custom apply functionality: https://github.com/department-of-veterans-affairs/devops/blob/master/atlantis.yaml#L20)

[x] Terraform version is set by Atlantis config (specified Terraform version: https://github.com/department-of-veterans-affairs/devops/blob/master/atlantis.yaml#

[2019-11-15 19:09] AnneHurley commented on #2612
@RLHecht @jenniferlee-dsva

Add to main Yellow Ribbon Program page, as H2 under subway map:

H2: Does my school participate in the Yellow Ribbon Program?

Text:

There are two ways to find out if your school participates in the program. You can use the GI Bill Comparison Tool, or you can search by state or territory.

Use the GI Bill Comparison Tool [https://www.va.gov/gi-bill-comparison-tool].
Se

[2019-11-15 19:09] Samara-Strauss commented on #3504
Got it. But can we assume that if we experience these kinds of weird use cases on our end, things would also be the exact same on eBenefits (ie. this is still our best approach and the approach that has the most parity with how eBenefits is handling things)?

I'm gonna ask the eBenefits/EVSS folks about this.

I feel like a dumbo 😂 OK, let me make sure I have this straight.

Michael Walker said "T

[2019-11-15 19:11] ksantiagomorgan6 commented on #3048
Pull request for this story

https://github.com/department-of-veterans-affairs/vets-website/pull/11111

[2019-11-15 19:18] erikphansen commented on #3504
Yes. That's what we're trying to do. In lieu of getting the same flag that eBenefits uses to indicate if someone is getting paper checks or not, we're gonna use this address data object as a proxy for that flag.

This one flag that's missing from the response we get from EVSS PPIU is a piece of data that EVSS gets from BGS. So EVSS gets it from BGS, uses it to power some logic in the eBenefits das

[2019-11-15 19:19] #2929 closed

[2019-11-15 19:26] AnneHurley commented on #3040
@jenniferlee-dsva  - Definitely agree the references to "new" spouses is confusing. I will write an email about those proposed changes with a request for clarification. Who are the SMEs for these DIC rates pages?
@Karak888  and @RLHecht  FYI. Will upload edits when I get them.

[2019-11-15 19:30] peggygannon opened #3507 "Content review: View Dependents mockup"
## Story
As a member of the eBenefits team building with VSP, we need our content reviewed before a usability session to ensure it's accurate, aligns with VA style, and is error-free.

## Goal
**Content:** To review the content in the [**View Dependents**](https://xd.adobe.com/view/bfe6786c-67a3-4bdf-5d4d-7a98f900ebc7-c9d7/screen/42d53597-0b53-4b17-9ba2-56f0e7dd4fd4/View-Dependents-1/?x_product=cc

[2019-11-15 19:34] Samara-Strauss commented on #3504
Got it. I think we're good to move forward with this approach and monitor for errors.

I get the whole thing about EVSS not passing us the payment address data, but I don't understand how we're then still able to consume this somehow. I'm not sure it's totally important for me to get all the details, so as long as you guys are clear on a path forward, I'm sure I'll understand it over time.

[2019-11-15 19:42] sonntag-adam commented on #3048
Filters
![Screen Shot 2019-11-15 at 2.36.42 PM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/70a18e5f-6c6e-4f9e-ae9f-58e64119c3e7)
##
Accordions expanded and collapsed
![Screen Shot 2019-11-15 at 2.38.20 PM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/54774526-a0f8-4cab-a2bf-6dcefceecca1)
![Screen Shot 2019-11-15 at 2.38.36 PM.png](https://images.zenhubus

[2019-11-15 19:55] mmiddaugh commented on #3178
Replied to Sim at Mapbox to clarify the nature of our question.
This issue is still blocked pending more information.

[2019-11-15 20:00] #3162 closed

[2019-11-15 20:02] #3207 closed

[2019-11-15 20:08] YanaRoy commented on #3056
Mock ups not needed since the form will maintain the same design following the decision made during discovery - Lighthouse API takes in an Address, does no validation at all, uses the Address to build the PDF.

[2019-11-15 20:08] #3056 closed

[2019-11-15 20:16] erikphansen commented on #3504
So we don't get the _flag_ that eBenefits uses to determine if the user is getting paper checks. But we do get an entire payment address object. So we'll essentially treat that address object as the flag. What I don't know is where that payment address object actually comes from. That's a question for a BE eng.

[2019-11-15 20:30] wyattwalter commented on #3402
Had a couple of meetings around this. The primary ask right now is to reduce the release + deploy time by 5 minutes on the pipelines since this'll happen many times a day now instead of the old normal. This is required for the re-launch of the pittsburgh.va.gov work which is currently slated for Dec 10 as a go/no-go.

While Elijah did work through a potential re-architecture that would remove the

[2019-11-15 20:30] #3402 closed

[2019-11-15 20:30] ncksllvn commented on #2172
Hey all, chiming in here to express interest in this work! I'm not sure I follow the scope of this issue completely, but I think the baseline proposal is establishing the right sidebar that exists today on two applications - the Disability Rating Tool and Claims Status - as its own component in the design system, which I think is a fantastic idea. I consider the design system to be our first point

[2019-11-15 20:31] ncksllvn commented on #2172
Also, including @cohnjesse, the engineer that identified this component as common across two applications 🙂

[2019-11-15 20:38] wyattwalter opened #3508 "optimize I/O configuration on Jenkins swarm nodes"
## User Story or Problem Statement
Our Jenkins swarm nodes are using fairly standard gp2 EBS volume types, and we believe are regularly the bottleneck with a number of jobs we run, including the file operations necessary to deploy vets-website. How might we make this bottleneck a bit wider or move it to another part of the system by optimizing for our usage patterns?

## Goal
We want to see if we

[2019-11-15 20:38] wyattwalter opened #3509 "release playbook performance optimization"
## User Story or Problem Statement
The current release process of vets-website uploads dev, staging, and production builds to the release API, and does so sequentially. Together, they make up almost 90s of the time to do a release. How might we improve this?

## Goal
Reduce the release time for vets-website to 30s using a combination of cleaning up tasks that maybe aren't strictly necessary or par

[2019-11-15 20:39] wyattwalter opened #3510 "utilize artifact feature in jenkins to pass builds of vets-website between jobs"
## User Story or Problem Statement
One slow step in the deployment of vets-website to production is a download of the release artifact from GitHub. Storing this asset in GitHub is something we do need to do, but we can keep these artifacts locally inside Jenkins and pass them between jobs to cut out this longer step. How might we utilize this artifact locally through our Ansible playbooks instead

[2019-11-15 20:39] wyattwalter opened #3511 "utilize artifact feature in jenkins to pass python venv between jobs"
## User Story or Problem Statement
A common task that we do across all of the Ansible playbooks that Jenkins runs is to install a new Python virtualenv and install our packages into it. How might we do this step once and re-use the virtualenv as an artifact?

## Goal
Re-use a virtualenv that's created once across our Ansible playbooks.

## Objectives or Key Results this is meant to further
Enable

[2019-11-15 20:39] wyattwalter opened #3512 "optimize sync times of files to s3 for vets-website builds"
## User Story or Problem Statement
The current implementation to deploy files to S3 for vets-website utilizes the s3_sync module from Ansible. This was a convenient Ansible-native way to push these files and worked fine when we did fewer deploys and had fewer files. We're now seeing minute+ file syncs, which creates very slow deploy times. How might we optimize this to not spend more time than nec

[2019-11-15 20:39] wyattwalter opened #3513 "vets-website release + deploy time improvements"
## Product Outline
[link]()

## High Level User Story/ies
As a content editor, I need updates to the website to go out much faster so I can get news and information out to Veterans and their caregivers faster. Currently the process takes about 10 minutes to create a new release, copy files around, and complete the deployment to production.

While there is larger work going on to improve overall bu

[2019-11-15 21:09] jason-gcio commented on #2584
We will update the urls, thanks!

[2019-11-15 21:12] Samara-Strauss commented on #3504
Got it! That makes more sense now 😃

[2019-11-15 21:14] ricetj commented on #3131
@alexpappasoddball this is something that the BE tools team may want to do. assigning you so you have eyes.

[2019-11-15 21:17] jbalboni commented on #1770
Can we close this?

[2019-11-15 21:18] ricetj commented on #3251
We would need to do this before we docker all the things.

[2019-11-15 21:22] Karak888 opened #3514 "List of all Benefit Hub URLs to be Redirected"
### **Task:**
Create a list of all URLs by Benefit Hub with status of redirects for each page. This will be a master running list of URLs indicating which benefit hub pages have been redirected, and which ones still need to be redirected.  These URLs should be included as a single worksheet tab of spreadsheet for sorting and tracking purposes.

### **Acceptance Criteria**
- [ ] Compiled list of al

[2019-11-15 21:26] ricetj commented on #3428
Need to check if DVP is doing this

[2019-11-15 21:28] amyknox commented on #3196
@emilywaggoner - the SCO page is ready for DSVA design review on staging. Please let me know if there's anything I can do to help your team along with this process. Thanks!

[2019-11-15 21:29] ricetj commented on #3446
@wyattwalter can you fill in a bit.

[2019-11-15 21:31] ricetj commented on #3492
@nathanhruby to fill in a bit on this one.

[2019-11-15 21:40] peggygannon commented on #3384
@markgreenburg @lalexanderson-dsva hi,there. I'm able to get on staging and I think for the Podiatry wording, I would recommend Option 1.

My concern is that if we remove Podiatry from the list and just put it in a note, that people won't see it. They'll miss the note below and will think Podiatry isn't an option offered (even if it's only for a handful of users.

[2019-11-15 21:40] Karak888 opened #3515 "Redirect Status for all URLs by Benefit Hub"
### **Epic Overview:**
In order to maintain and more easilly track the status of redirect work for benefit hubs, we will retire this larger epic "Coordinate Redirect work based on parity and rewritten legacy pages,"and replace with this Epic: "Redirect Status for all URLs by Benefit Hub."
Please note that we will leave the larger epic open for reference information and can be found here:   #3514

[2019-11-15 21:44] jason-gcio opened #3516 "URL Adjustment for View Rated Disabilities"
## Story
As a Veteran, I want to ensure that the url for the page I am on closely matches the feature I am interacting with and makes sense when viewing in my browser, contributing to clarity and confidence.

## Task
- [ ] Adjust one word (`check` to `view`) in the following urls:

**Static page URL:** //www.va.gov/disability/_check_-disability-rating/
**Report/dynamic page URL:** //www.va.gov/dis

[2019-11-15 21:47] Karak888 commented on #3514
This is a reference to the larger epic as it still contains info necessary for other teams, etc.
https://github.com/department-of-veterans-affairs/va.gov-team/issues/1615

[2019-11-15 21:59] #1932 closed

[2019-11-15 22:01] thatmattjohnson commented on #2894
UAT completed on #3493; all looks good.

[2019-11-15 22:26] markgreenburg opened #3517 "Infinite loading spinner on 'choose facilities' page"
As a veteran, I want to be able to advance to the next page so that I can complete my appointment / request successfully.

AC
- [ ] The loading spinner resolves after a reasonable length of time following a facility / site selection
- [ ] Veteran can advance to next page by clicking the 'Continue' button

![Screen Shot 2019-11-15 at 4.21.08 PM.png](https://images.zenhubusercontent.com/59c29173b022

[2019-11-15 22:29] rroueche opened #3518 "Retire "Icebox" pipeline"
# Problem: having an "icebox" pipeline just further clutters an already chaotic workflow management space, and doesn't add value bc ideally we're not checking the icebox regularly but only a few times a year. How might we enact a better way to handle issues that we need to "icebox"?

# Solution
Create an "icebox" label, and for any ZH issues we deem "icebox" worthy, add that label and close the is

[2019-11-15 22:30] rroueche opened #3519 "[ONGOING] Keep Teams and Workflows Running Smoothly"

[2019-11-15 22:38] rroueche opened #3520 "Update list of issue "types" in Standard Issue Template"
# Problem:
The “standard issue template” has this:
```Labeled with Type (bug, request, discovery, documentation, etc.)```
But `request` doesn’t exist, and `etc.` isn't helpful. How might we evaluate what "types" to use in an enum list here so this template is actually useful for teams, AND serves as a way for Platform to solidify our approach to tracking work types through labels?

# Solution
Crea

[2019-11-15 22:50] boris-ning-usds commented on #3500
User is saying that the issue might've been resolved on its own on a different channel.
I'm wondering if it has anything to do with a bad data source if va.gov/VFS is pulling data from MHV.

Investigation is needed to ensure nobody else is affect or this problem reoccurs.

[2019-11-15 23:14] mmiddaugh commented on #3383
@davidconlon @arickalewis1

We have the opportunity to implement Foresee which would add the blue button (on the right) to our page:

![image (2)](https://user-images.githubusercontent.com/55411834/68981851-ba0d4f00-07b9-11ea-9752-a2623b0604b8.png)

The only question that is available currently is:

![image (3)](https://user-images.githubusercontent.com/55411834/68981873-cc878880-07b9-11ea-8725-4f

[2019-11-15 23:47] #1775 closed

[2019-11-16 00:20] mmiddaugh commented on #3054
@arickalewis1 @davidconlon I found this info on the [Community Care/Urgent Care website](https://www.va.gov/COMMUNITYCARE/programs/veterans/Urgent_Care.asp)

![image](https://user-images.githubusercontent.com/55411834/68984215-ab2b9a00-07c3-11ea-8f15-94161abe24d8.png)

Might be something to confirm with Andy....would this phone number/info help the Veteran  prepare for the urgent care visit?

[2019-11-16 01:14] jenstrickland commented on #2584
Do we have time to revisit the `view` language? It is exclusive to those with vision issues. Perhaps `review` or `access` would be suitable.

[2019-11-16 01:35] jason-gcio commented on #2584
@mnorthuis, @peggygannon: please see @jenstrickland's comment above.  We can easily change whatever needs to be changed.

Just so it is handy, here is a link to what we are working on: https://xd.adobe.com/view/0db723ac-52ff-48b3-4877-9d5882cb2e1f-7b86/

If anyone wants a quick view of actual staging, please let me know and I can share that as well in case there are any other changes we need to ma

[2019-11-16 02:16] jason-gcio opened #3521 "Request Spot Check for Rated Disabilities"
## Product Name

**Rated Disabilities**
Staging link: https://staging.va.gov/disability/view-disability-rating/rating/
User: vets.gov.user+228@gmail.com
Usual password

## Checkpoint Stage

- [ ] **Design-Development Intent Checkpoint** (Review design to discuss approach to take with development, identify what components and semantic HTML would be appropriate, identify any accessibility issues and

[2019-11-16 02:28] YanaRoy commented on #3281
+ @rileyorr

[2019-11-16 02:29] YanaRoy commented on #3279
@rileyorr

[2019-11-16 02:48] YanaRoy commented on #3166
this ticket closed because an epic with the same exact work was created- #3204

[2019-11-16 02:49] YanaRoy commented on #3052
Epic created for this ticket - #3140

[2019-11-16 03:02] YanaRoy commented on #2864
Closed duplicate. Active ticket #3285

[2019-11-16 03:51] YanaRoy commented on #1055
closed in sprint 3

[2019-11-16 04:00] Mottie commented on #3124
What about if the representative is selected?

* We'll contact your representative...
* A senior reviewer will call your representative... or get in touch with your representative after...

[2019-11-16 18:37] nathanhruby commented on #2602
One thing we are looking at for department-of-veterans-affairs/va.gov-team#3508 is if we can switch to c5d's and use ephemeral machine storage for the workspace.  This particular issue presents a problem since the local space on the equivalent c5d is about 200GB versus the 500GB of gp2 we use for the rootvol now.

I took a look at this and see a few things
- multibranch pipeline jobs are not clean

[2019-11-16 19:09] nathanhruby commented on #2602
note also that last week's "weekly maintenance" jenkins job failed to run, so the docker numbers are higher than the normally would be.

[2019-11-17 15:15] jenniferlee-dsva commented on #2063
@RLHecht - Thank you for adding a link to the word list - great idea. I fixed the h3's (they should be h2 for proper symantic order), and made some additional edits. Can you review and copy edit, and if they look okay, please publish.

Also, I think when the Naming page goes live, can you link to this page from the acronyms topic page?  (I wondered if the the branded acronym info should be there,

[2019-11-17 16:21] jenniferlee-dsva commented on #2760
A few comments as well... Suggested edits in [brackets].

**General:**
- We use the spelling "style guide" in the content style guide, not "styleguide."
- Since this is a lp meant to direct ppl to the complete info in the design section, I wonder if we can bring up the cross-links to the top, so people see it right away; or include a cross-link opportunity at the top as well as at the bottom...

*

[2019-11-17 16:31] jenniferlee-dsva commented on #2133
@meganhkelley - I added "VA employees" to the user story, as they are a large user audience for the content style guide.

[2019-11-17 16:44] jenniferlee-dsva opened #3523 "Update What's new section w/content style guide additions & send GovDelivery email out to VA users"
@RLHecht - When the Naming and Error messages pages go live, please also:

[ ] Update the What's new page in the design system.
[ ] Email update message to VA users.

You should be able to find an example of how the content items were added here on this page: https://design.va.gov/documentation/whats-new.html

And I can show you how to send an email out to VA users via GovDelivery.

FYSA @Karak888

[2019-11-17 16:47] Karak888 commented on #3523
will do!

[2019-11-17 16:47] jenniferlee-dsva commented on #1435
@RLHecht - Sorry this has been on me to follow up on. Is it possible for us to go forward with what we know, and leave out/omit the terms that I still need to get SME feedback on?  (I believe Aid and Attendance was one; I don't remember if there were others...)

[2019-11-18 02:01] jholton commented on #3271
The issue appears to be resolved.

## Background

Requesting Prescription or Secure Message data is a two step process.
First, we take an MHV correlation ID that corresponds to an end user (veteran).  We use this MHV correlation ID to request a token from

We start with an [`MHV correlation ID`, which is obtained from SAML data for MHV sign-in users OR MVI upon login](https://github.com/department

[2019-11-18 13:13] mnorthuis commented on #2584
Will let @peggygannon chime in on this, but @jenstrickland this is how we use the language on the site today across other tools.   "View" = view data that is relatively static, "Check" = view data that updates periodically (i.e. status).  Will see what Peggy says, but if we move away from this language, it will impact more than just this tool - which is totally fine if its the right change!

[2019-11-18 14:39] amyknox commented on #3125
@emilywaggoner We're ready to start DSVA Design of the GI Bill Comparison Tool, 116 Post-MVP solution on staging. Please reach out to me with any questions or comments.

[2019-11-18 14:40] davidconlon commented on #2405
Small item, but we want to be sure that the content complies with https://design.va.gov/content-style-guide/dates-and-numbers#times-and-time-zones

Looks like we need a space between the time and "a.m." and "p.m."

[2019-11-18 14:46] jenniferlee-dsva commented on #2584
@jenstrickland - given the above, let's not spin on "view" for the moment. We should look at this issue in context of other 508 needs and prioritize accordingly; AND IF this turns out to be a high priority, we should make this a ticket to update globally.

[2019-11-18 14:49] clantosswett opened #3524 "Prepare WHVAH for VA.gov Direct Deposit and Login Training"
## User Story or Problem Statement

Problem description. How might we prepare the White House VA Hotline to handle direct deposit and login issues?

## Goal
- WHVAH has the materials needed to deliver training on the VA.gov direct deposit feature and signing into VA.gov.

## Objectives or Key Results this is meant to further
-

## Acceptance Criteria
- [x] Provide WHVAH with direct deposit/login t

[2019-11-18 14:53] #3233 closed

[2019-11-18 14:58] jbalboni commented on #3256
@rtwell One other thing I'm concerned about is that legacy VAOS leaves video links live for 4 hours. If we hide these appointments after 20 or 30 minutes or whatever, are we going to cause problems for people? Maybe they're left active for 4 hours to account for appointments running late?

[2019-11-18 15:01] #2410 closed

[2019-11-18 15:04] jbalboni opened #3525 "Write e2e tests for direct schedule flow"
Write an e2e test to go through the direct schedule flow

[2019-11-18 15:05] jbalboni opened #3526 "Write an e2e test to go through the CC request flow"
Write an e2e test to go through the CC request flow

[2019-11-18 15:07] joanneesteban commented on #2480
*HRC chart on a weekly basis

[2019-11-18 15:08] nedierecel opened #3527 "Analytics QA Support for Rated Disabilities"
# Analytics Implementation or QA Request

## What this form is for
As an eBen Product Team member, I want to understand how many users are reaching the Rated Disabilities page and what content and actions they are seeing before and after reaching this page. I also want to see the impact of errors on the user's behavior.

This is a follow-up of Analytics-Insights QA to issues #2072 and #2859 for Ra

[2019-11-18 15:10] #2927 closed

[2019-11-18 15:11] #2222 closed

[2019-11-18 15:17] thatmattjohnson commented on #2893
UAT:

#19980: **not completed -- no deprecation messaging appended to the following files:**
https://github.com/department-of-veterans-affairs/vets.gov-team/blob/master/Products/Global/Teamsite/Teamsite.md
https://github.com/department-of-veterans-affairs/vets.gov-team/blob/master/Products/Global/Teamsite/Readme.md

#3491: completed, looks good.

I don't see where file content has been corrupted p

[2019-11-18 15:30] thatmattjohnson commented on #2592
Approved updates to #19881.

[2019-11-18 15:30] thatmattjohnson commented on #2592
UAT:

#3494: **not completed -- one file still requires migration:**
https://github.com/department-of-veterans-affairs/vets.gov-team/blob/master/Practice%20Areas/Insights/Analytics/Get_Access/Opting-Out.md

[2019-11-18 15:37] nedierecel commented on #3203
@Justin-Pickett Please see a few updates from the Analytics-Insights team:

1. **Add Link Interactions are 0**: I noticed the `Add Link` events are no longer. Is this expected behavior?

![image.png](https://images.zenhubusercontent.com/5b295b9ff378ea1890b3d77e/2725184d-2199-4afd-8fc1-e206cff31bf0)

[Link to Dashboard Displaying 0 events for Add Link](https://analytics.google.com/analytics/web/?au

[2019-11-18 15:38] thatmattjohnson commented on #2890
UAT:

#3495: completed, looks good.

[2019-11-18 15:39] joanneesteban opened #3528 "Analytics Reporting Request for Chris J"
# Metrics Reporting Request

## What this form is for

Use this template to request performance, usability, or outcomes va.gov metrics that is difficult to access or that needs analytics interpretation.

Insights will usually provide data reports within the current sprint, but if there is time-sensitivity, please note them in "additional comments."

## Instructions

Please fill out the following s

[2019-11-18 15:40] joanneesteban commented on #3528
Example eBenefits Report
[eBenefits-Metrics-Monthly Report-102019.xls.zip](https://github.com/department-of-veterans-affairs/va.gov-team/files/3859379/eBenefits-Metrics-Monthly.Report-102019.xls.zip)

[2019-11-18 15:45] #2723 closed

[2019-11-18 15:51] nedierecel commented on #3527
@micahchiang I opened this issue to do our final QA on Staging. I logged in with the test user from Row 3 and reached this:

![image.png](https://images.zenhubusercontent.com/5b295b9ff378ea1890b3d77e/522119ba-a88b-4cd0-a950-bfcb08d69eff)

I expected to see both a dataLayer event for the `success` of the load of the ratings and also a `failed` event for the error message. Within Staging, I didn't s

[2019-11-18 15:54] mnorthuis commented on #3020
We should discuss how this impacts the original rewriting plan - there were 3 pages that were going to be combined into one, and since we are not moving 2 of those pages, we will need to revisit the the content, H1 and URL for that page.

Initially we were planning to combine these 3 pages into 1 page for `/types-inscriptions-emblems/`
https://www.cem.va.gov/cem/hmm/types.asp
https://www.cem.va.go

[2019-11-18 15:57] johnpaulashenfelter commented on #2893
The missing content was in the PR -- and now fixed in the PR. UAT happens *after* its merged -- hoping you can take a look _before_ its merged.

[2019-11-18 16:01] nathanhruby opened #3529 "Deal with AWS_PROFILE in a more consistent manner"
## User Story or Problem Statement
Given the hack we needed to make in department-of-veterans-affairs/devops#5927 what can we do to better support AWS_PROFILES in out configs so we don't have to make these sorts of changes

## Goal
Consistent documented AWS creds access.

## Acceptance Criteria
- [ ] consistent AWS_PROFILE handling thought up and applied
- [ ] come up with a plan(Plan which will b

[2019-11-18 16:07] amyknox commented on #3125
@CrystabelReiter & @emilywaggoner - Please conduct this review on staging. https://staging.va.gov/gi-bill-comparison-tool/program-search

This is the list of known issues.  The team is currently working on Critical and High issues.
 [https://app.zenhub.com/files/133843125/a48b5d7c-ea22-4ac0-9305-6d6dcca0defe/download](https://app.zenhub.com/files/133843125/a48b5d7c-ea22-4ac0-9305-6d6dcca0defe/down

[2019-11-18 16:10] davidconlon commented on #2405
Following on this, we should also be including time zones per the spec, but this gets a bit complicated for an automated system so opening another issue.

[2019-11-18 16:13] #3387 closed

[2019-11-18 16:13] #3377 closed

[2019-11-18 16:13] #3369 closed

[2019-11-18 16:13] #3373 closed

[2019-11-18 16:13] #3365 closed

[2019-11-18 16:13] #3354 closed

[2019-11-18 16:13] #3360 closed

[2019-11-18 16:13] #3350 closed

[2019-11-18 16:13] #3345 closed

[2019-11-18 16:16] #3481 closed

[2019-11-18 16:17] davidconlon opened #3530 "Add Time Zones to Facility Hours"
## User Story or Problem Statement
As a veteran, I need to know the time zone of a facility so I can understand the open/close time of a facility within the context of the time zone.

## Goal
Comply with the style guide and show Facility times as
8:00 a.m. - 9:00 p.m. ET
REF: https://design.va.gov/content-style-guide/dates-and-numbers#times-and-time-zones

## Objectives or Key Results this is mean

[2019-11-18 16:24] #3291 closed

[2019-11-18 16:24] jhonnyoddball opened #3531 "Update Access for Jhonny Gonzalez (New SSH Key)"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Add a comment @department-of-veterans-affairs/vsp-operations to ping the operations team
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please

[2019-11-18 16:24] Mottie commented on #1943
I was working on the platform ReviewFieldTemplate for another issue and ended up fixing this issue in https://github.com/department-of-veterans-affairs/vets-website/pull/11120

[2019-11-18 16:25] jhonnyoddball commented on #3531
@department-of-veterans-affairs/vsp-operations Please proceed

[2019-11-18 16:29] YanaRoy opened #3532 "Update content in HLR staging following review"
## User Story or Problem Statement
As a Front-end Engineer on the Benefits and Memorials team, I need to update all of the Higher Level Review content in staging so it can be finalized and ready for the final content review in staging.

## Goal
_All content reflects changes identified in the mockups_

## Tasks
- [ ] Update Step 1 (veteran details) page content.
- [ ] Update Step 2 (contested issue

[2019-11-18 16:34] YanaRoy commented on #3124
@peggygannon could you please provide content for the scenario when the representative is selected to be contacted.

[2019-11-18 16:38] hinzed1127 opened #3533 "Update Address Suggestions Endpoint to return overridable addresses only"
Right now the address suggestions endpoint returns an address even if it includes errors of type `FATAL` from vet360. These aren't overridable, so we should strip the validation key from any response to indicate this.

[2019-11-18 16:39] 1Copenut opened #3534 "508 Audit for Comparison Tool Section 116 Deployment"

[2019-11-18 16:40] nathanhruby commented on #3508
Dimensions to look at for each volume type (CC: @jbritt1)
- Tar and Untar speed
  - compressed and uncompressed
- wall clock time
- cpu use
- archive size
- i/o quantity during operations

[2019-11-18 16:40] #3531 closed

[2019-11-18 16:50] ncksllvn commented on #1946
This is done -

![image.png](https://images.zenhubusercontent.com/59cb9de1b0222d5de47953d8/0f20707b-b6e2-4ac6-8767-4328721f7f5c)

@Karak888 can you close?

[2019-11-18 16:52] ncksllvn commented on #1946
Oof, nvm, it looks like benefits.va.gov has a special edge case and we need an additional patch -

![image.png](https://images.zenhubusercontent.com/59cb9de1b0222d5de47953d8/eb4635b0-1a0b-43eb-a3b9-d64b6978c8af)

Alrighty, well, moving this back to Ready...

[2019-11-18 16:53] wygonikGCIO opened #3535 "Discovery Qualitative data KPI"
Place holders

[2019-11-18 17:06] markgreenburg commented on #2393
Dupe of #3380

[2019-11-18 17:06] #2393 closed

[2019-11-18 17:13] lwalsh617 commented on #2839
@jenniferlee-dsva @andaleliz Here's what I heard on our call and what next steps I'm taking. Please give a shout with any clarifications. Thanks!!
[Campaign LP next steps.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/3859796/Campaign.LP.next.steps.docx)

[2019-11-18 17:15] micahchiang commented on #3527
@nedierecel - thanks for the heads up. I'll investigate as well to see if I can find anything.

[2019-11-18 17:19] jenniferlee-dsva commented on #1727
^ @RLHecht - yes, the 2 rates nav links are staying legacy pages for now, and just moving link location to Disabiity. (Not sure exactly where in Disability, so pls confirm with Anne/Mikki.)

Then, when the rates pages are rewritten, we can replace those links pointing to legacy pages with our new Drupal pages (plus redirect/retire).

+ @AnneHurley - Can we discuss in today's weekly sync and make s

[2019-11-18 17:28] cohnjesse commented on #2172
I filed a request with the design system team to get the ball rolling on this https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/160

[2019-11-18 17:28] tlei123 commented on #3115
PR merged.

[2019-11-18 17:28] #3115 closed

[2019-11-18 17:29] tlei123 commented on #3114
PR merged.

[2019-11-18 17:29] #3114 closed

[2019-11-18 17:31] micahchiang commented on #3527
@nedierecel - I did a test with another user (vets.gov.user+23@gmail.com, row 25) and was able to see both dataLayer events fire. Can you try with that user? I forgot that local testing responds with data different than what's on staging, so the first user I suggested doesn't have any rated disability data associated with them at all.

[2019-11-18 17:41] AnneHurley commented on #1727
@jenniferlee-dsva  @RLHecht  Yes I'm happy to communicate with Angie and other SMEs - I just need a quick debrief from one of you summarizing what she needs to know. Happy to proceed.

[2019-11-18 17:46] 1Copenut opened #3536 "[COGNITION]: GIBCT Section 116 - Estimated benefits should be calculated on button press, not form control change"
## Description

There are multiple controls affecting the Your Estimated Benefits calculated values. These controls should be consolidated into one area and include a Submit button to calculate values one time and manage focus for better user cognition. Screenshot attached below.

Please review any design changes with the VSP design team for user flow and 508 considerations.

/cc @emilywaggoner &&

[2019-11-18 17:47] RLHecht commented on #2063
This page should go live with the next deployment. Moving to validate and will close issue once done. @Karak888 and @jenniferlee-dsva

[2019-11-18 17:48] RLHecht commented on #2612
@AnneHurley These additions have been added to the Yellow RIbbon page in Drupal. Preview link: preview-prod.vfs.va.gov/preview?nodeId=936

[2019-11-18 17:53] ncksllvn commented on #1727
Not to disrupt the conversation, but for reference, I have two pull requests open to implement the redirects outlined in https://github.com/department-of-veterans-affairs/va.gov-team/issues/1729#issuecomment-530844035.

- Vets.gov and www.VA.gov redirects (server-side) - https://github.com/department-of-veterans-affairs/vets-website/pull/11122
- benefits.va.gov (client-side, due to origin domain n

[2019-11-18 17:56] AnneHurley commented on #2612
[Yellow Ribbon Program page from Drupal-for SME review]
(https://github.com/department-of-veterans-affairs/va.gov-team/files/3859972/Yellow.Ribbon.Program.page.from.Drupal-for.SME.review.docx)
@RLHecht  @jenniferlee-dsva  @Karak888  I've sent this to the SMEs for their final review.

[2019-11-18 18:00] jbritt1 commented on #1963
Ref: https://github.com/department-of-veterans-affairs/devops/pull/5708

[2019-11-18 18:00] mmiddaugh commented on #2739
@brangi can this be closed?

[2019-11-18 18:06] 1Copenut opened #3537 "[COGNITION]: GIBCT Section 116 - Add screen reader only text for the benefit breakdowns by time"
## Description

The VET TEC benefits that VA pays upon enrollment, upon completion, and upon employment could include some screen reader only text for assistive technology users. As I was listening to the read outs this morning, it wasn't clear to me what the 25%, 25%, and 50% were referring to. I had to go back and figure out the VA pays out amount above was the entire amount, and these were the

[2019-11-18 18:07] nedierecel commented on #3527
@micahchiang Thanks! I'll check with this user and will send some feedback once I look at user 23.

[2019-11-18 18:10] amyknox commented on #3145
@Karak888 - Could you give me an idea of how much time will be needed for your team to turn the redirect request around once we have the target date?

[2019-11-18 18:10] jenniferlee-dsva commented on #1727
Thanks @AnneHurley - the essential points for Angie would be... everything Angie might need to know to share with her management:

- Page name:
- Current URL inside the Burials hub:
- New URL inside the Disability hub:
- With a note that we will redirect the ^ Burials URL to the new Disability location + where else we are adding links pointing to the DIC page -- if we're adding for example on the

[2019-11-18 18:14] brangi commented on #2739
@mmiddaugh yes, fix has been merged

[2019-11-18 18:14] 1Copenut opened #3538 "[COGNITION]: GIBCT Section 116 - VoiceOver is spelling out some all caps text instead of reading it"
## Description

VoiceOver is spelling out some of the words in the Primary and Secondary SCO contacts list. This is caused by that text being in all caps instead of sentence case. I've set this as a very low priority item because I'm not sure of the data source or if it can be transformed.

Screenshot attached below.

## Point of Contact

**VFS Point of Contact:** _Trevor_

## Acceptance Criteria

[2019-11-18 18:20] YanaRoy opened #3539 "[Build] Request HLR Gating"
## User Story or Problem Statement
As a claimant, I need to identify the type of Higher Level Review I plan to request so I can be routed to the correct method of submitting my request.

## Goal
_Build gating allowing a user to select the type of claim for which they are requesting a Higher Level Review_

## Acceptance Criteria
Scenario: A Veteran wants to request a Higher Level Review
GIVEN the s

[2019-11-18 18:21] 1Copenut opened #3540 "[ZOOM]: GIBCT Section 116 - Benefit amounts wrap to two lines when zoomed above 300%"
## Description

The Your Estimated Benefits module text starts to wrap unexpectedly when I zoom my layout greater than 300% at 1280px width. Screenshot attached below.

## Point of Contact

**VFS Point of Contact:** _Trevor_

## Acceptance Criteria

* As a user who prefers to zoom my desktop layout, I want to see the Your Estimated Benefits module display text correctly up to 400% zoom.

## Steps

[2019-11-18 18:23] YanaRoy commented on #3443
@rileyorr this ticket should cover the review screen for the Informal Review section when a user chose to "contact me"

[2019-11-18 18:23] mmiddaugh opened #3541 "Small change to display of hours"
**Following https://github.com/department-of-veterans-affairs/va.gov-team/issues/2405, we need to make a small change to the display of time, consistent with the [style guide](https://design.va.gov/content-style-guide/dates-and-numbers#times-and-time-zones).**

**Task:**
Add a space between the time and "a.m." and "p.m."

**Current Behavior:**
![image.png](https://images.zenhubusercontent.com/5d8a

[2019-11-18 18:26] andaleliz commented on #2839
@lwalsh617 The only additions I can think of are the video guidelines from Jen:

I updated the prototype w/ my best interpretation but def needs some content finessing

[2019-11-18 18:27] mmiddaugh commented on #2405
Moved the small change into [#3541] as this issue has been resolved and merged.

[2019-11-18 18:27] #2405 closed

[2019-11-18 18:32] 1Copenut opened #3542 "[COGNITION]: GIBCT Section 116 - Suggest adding semantic markup to SCO contact lists for assistive device users"
## Description

The SCO primary and secondary contacts lists could be marked up as lists with smart heading labels for better usability by assistive technology users. Screenshot attached below.

## Point of Contact

**VFS Point of Contact:** _Trevor_

## Acceptance Criteria

* As a screen reader user, I would like to hear the primary and secondary SCO lists announced as lists, with the number of i

[2019-11-18 18:35] YanaRoy opened #3543 "[Discovery] View All Contested Issues"
## User Story or Problem Statement
As a claimant, I need to view all of my contested issues in a single location so I can be sure what issues I have contested.

## Goal
_A user is able to see all of their contested issues on a single page_

## Tasks
- [x] _Identify if a page with all contested issues already exists_
- [ ] *If not,* design a page that displays all contested issues (new design)

##

[2019-11-18 18:41] YanaRoy opened #3544 "[Design] Logged in notice displays global content"
## Problem Statement
The gray box that is displayed when a user is logged in does not show content that is currently identified globally for all forms. The language needs to be updated to display accurate wording.

## Goal
_content in logged in gray box should display wording that has been identified for all forms_

## Acceptance Criteria
- [x] _Content in logged in gray box has been updated in de

[2019-11-18 18:41] saneshark opened #3545 "VAOS Swagger Updates"
As part of our aggressive MVP release schedule we've had to put swagger documentation of the API on the backburner for the time being. This issue is to keep track of this as necessary tech debt and address in sprint shortly after release.

documentation on swagger blocks: https://github.com/fotinakis/swagger-blocks
there should also be a bunch examples of existing swagger that you can find by doin

[2019-11-18 18:43] saneshark opened #3546 "VAOS Switch Virtus to Dry-Types"
Virtus for types coercion is mostly deprecated. We should switch to using dry-types instead. Don't have time to grok this right now, but should tackle shortly after MVP launch.

[2019-11-18 18:43] Karak888 commented on #1482
@jenniferlee-dsva @mnorthuis @ncksllvn - this was the Epic that was duplicative that I had originally closed in favor of duplicative Epic #1632 - I am going to close this Epic as I believe people are using 2 separte Epics here.  @lunascoop you had the latest in #1482- PLEASE USE EPIC #1632

[2019-11-18 18:43] #1482 closed

[2019-11-18 18:44] RLHecht commented on #1435
Thanks, @jenniferlee-dsva I took out the A&A entry for now. The other two to follow up on are Disability Benefits Questionnaires and Fully Developed Claims.

Do you want to review the rest of the PR and we can merge if all are good? Here's the new one after Kevin restored it for us: https://github.com/department-of-veterans-affairs/vets-design-system-documentation/pull/144

[2019-11-18 18:48] YanaRoy opened #3547 "[Discovery] HLR Opt Out checkbox location"
## Problem Statement
A final decision needs to be made regarding where the opt out checkbox and text will be displayed. Currently it is part of the Intro flow; discussions also placed the Opt out to be included in Step 2C where a person would select the contentions and provide additional details for those issues.

## Goal
_Identify where the Opt out checkbox should be displayed_

## Acceptance Cri

[2019-11-18 18:49] ncksllvn opened #3548 "[IA] Determine URL for new page - "Find a VA form""
We're replacing https://www.va.gov/vaforms/search_action.asp  with a new modernized application for searching all forms (about 600 in total.) We need to define the URL for where this page will live. For example - www.va.gov/find-va-form.

[2019-11-18 18:56] ncksllvn commented on #1632
Hey @mnorthuis, we created a ticket for you to determine the URL for which this new page will live - https://github.com/department-of-veterans-affairs/va.gov-team/issues/3548

[2019-11-18 18:58] ncksllvn commented on #1632
Hey @artsymartha68, can you link me to the designs for this page (the "Find a VA Form" page)? I've bounced across tickets and I found some designs, but I don't think I've found the right ones.

[2019-11-18 19:01] mnorthuis commented on #1615
@jenniferlee-dsva for the redirect process that was established, they all flow through me first and I will assign back over to your team for implementation.  My roles is to ensure we have the information needed, validate the redirect request and make sure it is documented.  A little weird since its coming form your team, but this epic holds all my redirect issues that I review to ensure writing ta

[2019-11-18 19:21] markgreenburg opened #3549 "Update 'telehealth' appointment type to 'VA Video Connect'"
'Telehealth' option should read 'VA Video Connect' so that veterans can more easily understand how the appointment is administered.

AC
- [ ] 'How would you like to be seen' page has option for 'VA Video Connect'

[2019-11-18 19:21] Karak888 commented on #3145
@amyknox I am sorry not sure what this was about.  @jenniferlee-dsva can you please let me know about this when you have a moment.  Thanks

[2019-11-18 19:26] jason-gcio opened #3550 "Conduct Usability Study (Part 1)"
## Story
As a member of the eBenefits Design Team, I need a usability study regarding the tools page implementation so that I can validate that the new components on the tools page(s) are an effective choice for conveying disability ratings and dependents.

## Tasks
- Using the approved research plan and conversation guides, conduct several usability sessions that validate work done on for both Ra

[2019-11-18 19:28] artsymartha68 commented on #1632
@ncksllvn Are you referring to the search page or the form "landing page"? If it's the latter then https://github.com/department-of-veterans-affairs/va.gov-team/issues/2691 and I worked on this.

If it's the former, then I think we need to ask @rtwell or @jenniferlee-dsva as to the final design spec. https://github.com/department-of-veterans-affairs/va.gov-team/issues/1482

[2019-11-18 19:40] Karak888 commented on #3212
verified and moving to closed.

[2019-11-18 19:40] #3212 closed

[2019-11-18 19:41] mmiddaugh opened #3551 "Facility Locator functionality from other areas of VA.gov"
This issue serves as a placeholder.

As a user, I want to be able to initiate a search for a location and facility type from other service pages within Va.gov so that I do not need to start over in specifying my need.

For example, Veteran is learning about services offered at a Vet Center and wants to find the closest location. The widget allows Veteran to search for Vet Center from his current p

[2019-11-18 19:44] Karak888 commented on #3427
@lunascoop should this go back into "in-progress," or has this been validated by Laura and or Jen? Thanks!

[2019-11-18 19:46] lunascoop commented on #3427
@Karak888  Thanks. I moved it back to In Progress.

[2019-11-18 19:51] rebeccawalsh commented on #3420
Here is a link to the [Discovery Project Brief](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/medical-device-tool/research/discovery-nov19/discovery-project-brief.md) - this document has been shared with the team in vsa-bam-2 on Nov 18 @ 2:27pm, pending feedback.

[2019-11-18 19:51] jenstrickland opened #3552 "[KEYBOARD]: Ensure content structure may be navigated by tab order"
## Description

**[KEYBOARD]: Ensure content structure may be navigated by tab order**
The tab order skips relevant content included the current production design, and the expected behavior of the links with the carat don't open the options, instead going to a new page.

## Point of Contact

Jennifer

## Acceptance Criteria

As a keyboard user, I want to navigate content in the website by pressing

[2019-11-18 19:52] davidconlon commented on #3268
To add to this, what's MVP and then should we consider some sort of widget that validates an individual veteran's eligibility (auth exp) to say "yes" "no" "maybe"?

[2019-11-18 19:54] Karak888 commented on #2244
Moving to close this ticket as @jenniferlee-dsva has created a new epic for tracking here:  https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/3451

[2019-11-18 19:54] #2244 closed

[2019-11-18 19:59] #2611 closed

[2019-11-18 20:01] mmiddaugh opened #3553 "Create v2 of Facility Locator wireframe"
**As a Veteran, I need to quickly and accurately search for facilities with urgent care or emergency services available nearby so that I can address my medical needs.**

**Task:**
Continue work from [#3054] to create v2 of the Facility Locator wireframe, incorporating feedback received from team review.

**Goal:**
Continue redesigning the experience for Veterans searching for an urgent/emergency c

[2019-11-18 20:07] jholton commented on #3271
The issue appears to be resolved.

## Background

Requesting Prescription or Secure Message data is a two step process.

We start with an [`MHV correlation ID`, which is obtained from SAML data for MHV sign-in users OR MVI upon login](https://github.com/department-of-veterans-affairs/vets-api/blob/6f1ceb946edb6fc7b568eb262c5d8ba8d34b317a/app/models/user.rb#L103).
We [instantiate an Rx client with

[2019-11-18 20:12] jenniferlee-dsva commented on #1632
Hi @ncksllvn - The page/s you are building as part of [this ticket 2340](https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/2340) are the search page and the search results view of that same page: https://www.va.gov/vaforms/

You can find @rtwell's design mockups and the copydeck on ticket 2340. (We're still working on finalizing the la

[2019-11-18 20:14] emilywaggoner commented on #3196
Hi @amyknox, here is the feedback from the design review! This contains input from myself, @CrystabelReiter and @1Copenut and includes accessibility-related recommendations, marked with [A11y].

# Booz Allen Hamilton: School Administrator Content Page Design Review
- Page: Resources for schools
- Staging link: https://staging.va.gov/school-administrators/

## General
- **New pattern:** The hub tem

[2019-11-18 20:15] mmiddaugh opened #3554 "Research plan to test new Facility Locator workflow"
**As a Veteran, I need to quickly and accurately search for facilities with urgent care or emergency services available nearby so that I can address my medical needs**

**Background:**
Wireframes for redesign of Facility Locator workflow are captured in [#3054] and [#3553]

**Acceptance Criteria**
- Completed research plan to seek user feedback on redesigned Facility Locator workflow

[2019-11-18 20:23] #3065 closed

[2019-11-18 20:23] #3044 closed

[2019-11-18 20:26] RLHecht commented on #2063
Currently live on site. Closing this issue. FYI @Karak888

[2019-11-18 20:26] #2063 closed

[2019-11-18 20:29] jason-gcio opened #3555 "Conduct Usability Study (Part 2)"
## Story
As a member of the eBenefits Design Team, I need a usability study regarding the tools page implementation so that I can validate that the new components on the tools page are an effective choice for conveying disability ratings.

## Tasks
- Using the approved research plan and conversation guides, conduct several usability sessions that validate work done on for both Rated Disabilities a

[2019-11-18 20:30] ncksllvn commented on #2563
Well done @kelsonic!

[2019-11-18 20:30] #2563 closed

[2019-11-18 20:30] ncksllvn commented on #2576
Well done!!

[2019-11-18 20:30] #2576 closed

[2019-11-18 20:31] ncksllvn commented on #2577
🚀

[2019-11-18 20:31] #2577 closed

[2019-11-18 20:32] rileyorr commented on #3223
@wygonikGCIO The guide is ready for you to be reviewed! Moving to validate.
https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/medical-device-tool/research/discovery-nov19/stakeholder-conversation-guide.md

[2019-11-18 20:39] amyknox commented on #3196
@emilywaggoner - thanks for the input.  We'll take a look at it and get back with questions / answers for you earlytomorrow.

[2019-11-18 20:40] alexpappasoddball commented on #3499
@pradsam Is this something your team can tackle?

[2019-11-18 20:41] andaleliz opened #3556 "CMS [COGNITION]: Multiple ambiguities with linked text in content block"
## Description

Many hub and spoke pages contain a block of text at the bottom of the page containing a heading, followed by descriptive text.   The heading (sometimes an `h4`, sometimes a `b`) and descriptive text are wrapped in an anchor tag.

On hover, the `h4` elements have an underline.  The `b` and `p` elements do not.  On focus, nothing gets an underline.  As a result, these blocks don't fo

[2019-11-18 20:42] #3516 closed

[2019-11-18 20:42] #2313 closed

[2019-11-18 20:43] desireeturner commented on #3048
@nedierecel @jonwehausen our changes for for this work are in and should be available on staging now. Please let me know if you have any questions or need us to make any additional changes. Thank you!

cc: @amyknox

[2019-11-18 20:45] #2471 closed

[2019-11-18 20:48] ncksllvn commented on #1632
Ah I see - thank you @artsymartha68 and @jenniferlee-dsva!

[2019-11-18 20:51] jenstrickland opened #3557 "[SCREENREADER, KEYBOARD]: The sidenav headings are read as buttons but cannot be activated"
## Description

**[SCREENREADER, KEYBOARD]: The sidenav headings are read as buttons but cannot be activated**

For example, the heading **`SERVICES AND LOCATIONS`** is read as a button.

* In JAWS + IE11, user is prompted to press Spacebar to activate, but when Spacebar is pressed, the screen reader simply reads 'Space'.
* In NVDA + Firefox, heading is read as button, but nothing happens when Spa

[2019-11-18 20:56] #2508 closed

[2019-11-18 20:56] CrystabelReiter commented on #3125
Hi @amyknox, here is the feedback. I've discussed and went over items with @emilywaggoner and @1Copenut

New design patterns have been vetted by DSVA and documented 🌀
The length in weeks label:
Recommendation: I tested this for color contrast and it failed the contrast test. I’d match to the original design in the prototype where the text color was dark. Change label to #D6D7D9 and font to #323A45

[2019-11-18 21:03] micahchiang commented on #3089
PR here: https://github.com/department-of-veterans-affairs/vets-api-mockdata/pull/106

[2019-11-18 21:05] LindseySaari opened #3558 "Add Grafana Presentation Link to BE Tools Documentation"
## User Story or Problem Statement
As a VSP Engineer, any information on how to use our tools is material that should be documented. This presentation is a great visual resource for existing VSP developers as well as a resource for onboarding new developers in relation to Grafana:

https://zoom.us/recording/play/5_P-TvNi6qdk0eyOHUU-oISTBlTN82XjUCipr2hfMRit48p_2s1ySexBBHNpq98W?continueMode=true

##

[2019-11-18 21:09] zurbergram commented on #3055
For jumplinks
https://github.com/department-of-veterans-affairs/vagov-content/pull/596

For announcements and "Other resources..."
https://github.com/department-of-veterans-affairs/vets-website/pull/11127

[2019-11-18 21:10] andreahewitt-odd opened #3559 "Caregiver team Onboarding #1"
## User Story
As a new VA.gov team member, I need to complete onboarding activities so I can successfully work on my project.

## Acceptance Criteria
- [ ] Each team member has completed each item in the onboarding checklist below.

## Onboarding Checklist

- [x] PM: Attend intro meeting with product support PM
- [x] Attend general onboarding meeting
- [x] [Request Access to Tools](https://github.

[2019-11-18 21:17] thatmattjohnson commented on #2592
update #19881 to include this file:

https://github.com/department-of-veterans-affairs/vets.gov-team/blob/master/Practice%20Areas/Insights/Analytics/Get_Access/Opting-Out.md

[2019-11-18 21:27] omgitsbillryan commented on #3500
Seems that it may be related to that bad data source, especially since it seems MHV has since fixed their issues.

[2019-11-18 21:28] peggygannon commented on #2584
yes, @jenstrickland to echo @mnorthuis we use "View" to refer to info that is mostly static. And "Check" to refer to data that might change and would require updates or subsequent "checks" by the user.

[2019-11-18 21:29] alexpappasoddball commented on #3499
Pradheep Sampath 2:24 PM
Hi Boris! This is Pradheep from ID.me.  Alex contacted me with regards to an issue that someone had accessing VA via ID.me.  We are regularly helping users overcome any hurdle they may be having with either ID.me authentication or identity verification. The process that’s currently in place is for them to either open an issue directly via VA at https://www.accesstocare.va.

[2019-11-18 21:38] jenstrickland opened #3560 "[COGNITION]: In mobile view or zoomed to 400%, the repetition of the sidenav accordion label takes up vertical space making it difficult to read the content in context"
## Description

**[COGNITION]: In mobile view or zoomed to 400%, the repetition of the sidenav accordion label takes up vertical space making it difficult to read the content in context**

![pittsburgh-sidenav-repeated-labels.png](https://images.zenhubusercontent.com/5d6685f1a77bcf04870bc81c/4aa5d817-a02b-4d29-85af-422925d831f2)

## Point of Contact

Jennifer

## Acceptance Criteria

As a low-visi

[2019-11-18 21:42] kevinstachura opened #3561 "Analytics Reporting Request for Benefits & Memorials 1"
# Metrics Reporting Request

## What this form is for

Use this template to request performance, usability, or outcomes va.gov metrics that is difficult to access or that needs analytics interpretation.

Insights will usually provide data reports within the current sprint, but if there is time-sensitivity, please note them in "additional comments."

## Instructions

Please fill out the following s

[2019-11-18 21:44] rtwell commented on #3391
@peggygannon @lalexanderson-dsva i think we've all asynchronously chatted about this screen: I think it should be a modal, like cancel, so users dont have to go back

![image](https://user-images.githubusercontent.com/12564977/69096370-4ae66380-0a22-11ea-8efa-24098c48e1d0.png)

[2019-11-18 21:45] jenstrickland commented on #2584
@peggygannon For when it is possible to review, "View" could be updated to "Review" in order to be inclusive for those who are blind, low-vision, or using other assistive technology that are not viewing the content but reviewing it. In the 508 audit, this will be documented, and since I saw it earlier hoped to avoid redoing work.

[2019-11-18 21:49] WillMcCormack commented on #3538
This section is on staging however it will not be deployed to Production for this launch.

[2019-11-18 22:08] patrickvinograd commented on #3500
This _could_ be related to https://github.com/department-of-veterans-affairs/va.gov-team/issues/3271

[2019-11-18 22:09] amyknox commented on #3145
@Karak888 - we're launching a new page on va.gov and need to redirect 3 links from benefits.va.gov to the new va.gov page.  My understanding is that you're on the Public Websites team and will be handling - managing? - the redirect process.  I'd like to confirm the plan, date, etc. with you to make sure the launch & redirect plans are aligned.

[2019-11-18 22:19] ncksllvn opened #3563 "[Back-End] Leverage the Lighthouse VA API to query VA forms"
The Lighthouse team has recently built an [API method](https://dev-api.va.gov/services/va_forms/v0/forms) for querying VA forms. This is perfect for us to leverage in our new Find a VA Form application. However, Lighthouse API methods require an `apiKey`, meaning we're not able to use it like we are other API methods. So, we need a solution here before we can begin leveraging it. Our options are -

[2019-11-18 22:22] ncksllvn commented on #3563
@kelsonic What are your thoughts on this?

[2019-11-18 22:22] lkoenigsberg commented on #3500
Also not confident that this is related to the other issue. This one has a login/identity issue while the other didn’t.

[2019-11-18 22:26] narin commented on #3414
@peggygannon I separated the discussion about copy into this new ticket, but I think there might have been some miscommunication when we were discussing this last, specifically for scenarios 3 and 4.

In both those scenarios, direct scheduling **IS** available, but the next available appointment is not within 20 days (28 in the case of mental health). The difference being that for scenario 3, the

[2019-11-18 22:30] johnpaulashenfelter commented on #2890
https://github.com/department-of-veterans-affairs/vets.gov-team/pull/19982 is updated with the correct deprecation

[2019-11-18 22:33] rebeccawalsh commented on #3220
Here are the links for [Prosthetic Socks Research](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/medical-device-tool/research/prosthetic-socks-research.md) (RW) and [Hearing Aids Research](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/medical-device-tool/research/hearing-aids-research.md) (RO)

[2019-11-18 22:37] johnpaulashenfelter commented on #2592
This file was renamed after the migration:

[code]

[2019-11-18 22:37] ndsprinkle commented on #1536
Update after finally digging into this earlier today:

There are 25 examples of this error happening here: http://jenkins.vfs.va.gov/job/rake_tasks/job/vets-api-form526-errors/35/console

So far, I haven't identified a common pattern to definitively say what the issue is. However, nearly all of the errors are from disabilities that are not on the predefined disability labels list, which means the

[2019-11-18 22:38] johnpaulashenfelter commented on #2893
In any case, the last commit updated the content I saw that was missing and all of the deprecation messages are in place. You can merge and UAT at will

[2019-11-18 22:43] ncksllvn commented on #2340
@jenniferlee-dsva Excellent questions!

There's a lot of content here, so I think that should live in Drupal, while the search area (the input and results area, all contained in the gray box) should be a React widget that lives in GitHub. So, similar to what we did with the Disability Rating Calculator. The blue boxes under `Top tasks for frequently downloaded VA forms` look like a new Drupal cont

[2019-11-18 22:50] micahchiang commented on #3089
PR is still open, pending approval, but the work for this ticket has been completed and tested.

[2019-11-18 23:08] chrisj-usds commented on #3500
@boris-ning-usds Since you're the one who opened this ticket.... any chance you have contact info for the user who submitted it?

[2019-11-18 23:15] #3089 closed

[2019-11-18 23:18] tlei123 commented on #3416
PR merged.

[2019-11-18 23:18] #3416 closed

[2019-11-18 23:29] peggygannon commented on #3124
@YanaRoy @Mottie

for the representative call:

Please update sentences to:

1. We'll contact your representative directly to schedule an informal conference with the reviewer assigned to your issue.

2. Please choose up to two time periods your representative is available to receive a phone call:

3. Please update the alert message to:

**We'll try to call your representative twice*
A senior revi

[2019-11-18 23:29] mmiddaugh opened #3564 "[Launch on 1/29] Redirect from facility detail pages to new VAMC Pittsburgh pages"
## Requested By
Facility Locator Team
Contacts: Michelle Middaugh (AdHoc), Dave Conlon (VA)

## Implementation Date
Date new URL(s) will be live: 1/29/2020

## Please indicate when the redirect(s) needs to be implemented

 [X] On the same date the new URLs launch

## Background
When a Veteran selects a facility from the Facility Locator search results, that location's facility detail page is displ

[2019-11-18 23:33] desireeturner commented on #3012
@1Copenut Is your review of 116 complete now? And if so, would you like to keep this issue open or close it out?

[2019-11-18 23:52] #2739 closed

[2019-11-19 00:29] mmiddaugh commented on #3101
Per community Care stakeholders, the duplication of services is legitimate on the data side since providers can be listed in more than one network or region. We just need to determine how to block that duplication from being displayed to the user.

[2019-11-19 00:30] kevinstachura opened #3565 "Decision Review Analytics - Synthesis"
## User Story or Problem Statement
As a researcher, I need to be able to see how the Decision Review page is currently accessed by system users so I can provide recommendation on future design for points of entry to the Decision Review page.

## Goal
_Gain deeper understanding of analytics provided by analytics team._

## Tasks
- [x] Meet with Nedie and delve further into analytics
- [x] Create re

[2019-11-19 00:42] mmiddaugh commented on #2694
Blocking this issue pending the redesign.

[2019-11-19 01:36] erikphansen commented on #3271
It sounds like this caching issue was affecting _everyone_ who got these MHV tokens? And we only heard from one guy who was seeing the issue? 😱

[2019-11-19 01:42] jholton commented on #3271
Correct.

More info learned today: MHV engineers believe this issue started on Nov 2.
Fixed on Nov 15.

[2019-11-19 13:26] shawkey-daniel commented on #3538
The source data for school certifying officials is providing the data in all caps. I am reluctant to try to modify case programmatically. I think it should be controlled at the source.

[2019-11-19 13:28] #3362 closed

[2019-11-19 13:28] #3389 closed

[2019-11-19 13:29] #3375 closed

[2019-11-19 13:29] #3296 closed

[2019-11-19 13:29] #3371 closed

[2019-11-19 13:29] #3353 closed

[2019-11-19 13:29] #3357 closed

[2019-11-19 13:29] #3347 closed

[2019-11-19 13:30] #3379 closed

[2019-11-19 13:30] #3367 closed

[2019-11-19 13:51] Karak888 commented on #3145
@ncksllvn @jenniferlee-dsva - Are we managing all redirects outside of legacy and rewrites?  I wasn't aware that we were handling all of these, but please correct me if I am wrong so as not to hold up @amyknox any further.  Thanks

[2019-11-19 13:52] peterhill-oddball commented on #3433
Instance created at -- https://dsvavsp.testrail.io/

[2019-11-19 13:52] #3433 closed

[2019-11-19 13:56] RLHecht commented on #1727
Here is a list of all pages where we need to change the DIC page link once we move the DIC page to disability. @jenniferlee-dsva If these were linked with the node ID in Drupal instead of the URL /burials-memorials/dependency-indemnity-compensation, does that mean they update to the new hub automatically? If so, I can go in to all of these and check that's how they are linked so we don't have to m

[2019-11-19 14:00] ncksllvn commented on #3145
Good question...I was under that impression because it seems to fall into the realm of "public websites" and I don't know what other team the work would land with. Then again, if another team has been handling this work up to this point, it seems like it should stay with them. I have to defer to @jenniferlee-dsva 🙂

[2019-11-19 14:19] 1Copenut commented on #3538
@shawkey-daniel Agreed. I figured the data was coming in as all caps. AFAIK, there's not a good way to downcase with CSS alone, so it's a data source question.

[2019-11-19 14:23] WillMcCormack commented on #3536
I sent an email over regarding this defect yesterday (11/18). The team believes this to be more of an UI/UX design consideration than a 508 defect.

[2019-11-19 14:26] rileyorr commented on #3443
@YanaRoy I have added a screen for the "contact me" review screen: https://vsateams.invisionapp.com/share/BKUTWR2T457#/393337658_Review_Application_-_Expanded_-_Informal_Conference_-_Representative
Do you need me to create the content/design review tickets?

[2019-11-19 14:31] rileyorr commented on #3444
The Invision mockups can be found here: https://vsateams.invisionapp.com/share/BKUTWR2T457#/393337658_Review_Application_-_Expanded_-_Informal_Conference_-_Representative
(Please note that these screens have not gone through content/design review(s) yet. Will update as those meetings happen)

[2019-11-19 14:35] thatmattjohnson commented on #2592
Thanks for clarifying re: #3494.

Re: #19881: link redirect in deprecation message should be the following: https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/teams/vsp/teams/insights-analytics

[2019-11-19 14:36] thatmattjohnson commented on #2890
approved #19982

[2019-11-19 14:37] thatmattjohnson commented on #2893
approved #19980

[2019-11-19 14:39] rileyorr opened #3566 "Request design review for Higher-Level Review (Submission Review Screens)"
## Product Name

Higher-level Review Form (Submission Review Screens)
[Screen 1](https://vsateams.invisionapp.com/share/J8UWM0P3KHM)
[Screen 2](https://vsateams.invisionapp.com/share/B6UWM12NZ4F)
[Screen 3](https://vsateams.invisionapp.com/share/RGUWM1G97N2)

## Checkpoint Stage

[ ] **Design Intent** (for early discussions about needs, priorities, concepts, research planning, and direction)

[X]

[2019-11-19 14:57] rileyorr opened #3567 "Content Review: Higher-Level Review Form (Review Application Screens)"
## User Story or Problem Statement
As a UX designer, I need a content review for the HLR form so I can ensure that the design contains copy that follows VA.gov guidelines.

## Goal
_A content review on the HLR form for the "Review Application" screens_

## Objectives or Key Results this is meant to further
- _Designing/developing the HLR form following VA.gov design guidelines_

## Acceptance Crit

[2019-11-19 14:57] thatmattjohnson commented on #2893
UAT completed for #19980; looks good.

Closing this issue.

[2019-11-19 14:57] #2893 closed

[2019-11-19 15:00] thatmattjohnson commented on #2890
UAT completed for #19982; all looks good.  Closing this issue.

[2019-11-19 15:00] #2890 closed

[2019-11-19 15:03] #3443 closed

[2019-11-19 15:05] joanneesteban commented on #3412
11/18/19 - @deweydell added help text to charts on the FE solution.

[2019-11-19 15:07] thatmattjohnson commented on #2592
UAT completed for #19881; all looks good. closing this issue.

[2019-11-19 15:07] #2592 closed

[2019-11-19 15:08] joanneesteban commented on #3146
@amycesal sent @clantosswett ideas for survey questions 11/19/19.

[2019-11-19 15:09] lkoenigsberg commented on #3500
Spoke to Bill this morning via phone.  He's been in contact, via email, with the ID.me Member Support team but no resolution provided yet.

I'm coordinating a Skype call with Bill, ID.me, and VA.gov members so we might see what's going on from both the FE and BE, hoping to identify a root cause and recommend a solution.

[2019-11-19 15:14] kevinstachura commented on #3565
Original analytics from Nedie:

[Please see the Google Analytics report filtered down to basic activity for `/decision-reviews`](https://analytics.google.com/analytics/web/#/report/content-pages/a50123418w177519031p184624291/_u.dateOption=last30days&explorer-table.filter=~2Fdecision-reviews~2Findex.html&explorer-table.plotKeys=%5B%5D/)

- Pageviews - 22,911
- Sessions - 13,198 (To measure how many

[2019-11-19 15:18] #3142 closed

[2019-11-19 15:25] Jeff-Hayter commented on #2908
@ricetj Approved for AWS.

[2019-11-19 15:27] peterhill-oddball commented on #3435
Dan and JP are working on understanding the code associated with Search box on the landing page of va.gov.  A test project for the search box might be beneficial as I can poke Dan and JP while they work on it.

[2019-11-19 15:52] jenstrickland commented on #2553
Sidenav accessibility audit complete, and issues collected in the epic referenced in the above comment from six days ago.

[2019-11-19 16:04] clantosswett commented on #1129
@Justin-Pickett I have a few more addresses that I was able to get from users who confirmed they are still experiencing the issue. I went to try and test these on staging but the address update tool seems to be down. I can go back later to verify but wanted to get these added to the issue.

1805 E Golden Oak Ct.
Meridian, ID 83646

1226 IMPERIAL BEND DR HOUSTON Texas 77073

I provided this address

[2019-11-19 16:09] alexpappasoddball opened #3568 "Product to Endpoint Mapping"
## Product Outline
[Product to Endpoint Mapping](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/platform/system-status/product-outline.md)

## High Level User Story/ies
As the Insights & Analytics team, I need data centered around backend components of products on VA.gov so that I can integrate those statistics into a tool to help developers understand their pro

[2019-11-19 16:09] kelsonic opened #3569 "SideNav - Remove duplicate label + line when selected nav item has no children"
# Context
This ticket pertains to the new SideNav, which is viewable [here](https://staging.va.gov/pittsburgh-health-care).

# Current Behavior
A selected nav item with no children currently shows a duplicate label.
![image.png](https://images.zenhubusercontent.com/5d812458c75aaf0001c430f8/d4602ad8-cf0b-437d-9fe5-c4155caf66c0)

# Desired Behavior
A selected nav item with no children should not sho

[2019-11-19 16:15] kelsonic opened #3570 "SideNav - Test with 1 more level deep for nav items"
# Context
This ticket pertains to the new SideNav, which is viewable [here](https://staging.va.gov/pittsburgh-health-care).

# Current Behavior
While the SideNav will render 1 more level deep of nav items successfully, it does not look like the design spec.

# Desired Behavior
The SideNav should be able to handle 1 more level deep of nav items and still match the design spec.

# Acceptance Criteri

[2019-11-19 16:25] 1Copenut opened #3571 "[SCREENREADER] GIBCT Section 116 - Font Awesome icons need aria-hidden attribute"
## Description

There are a number of Font Awesome icons that are being picked up by JAWS as cursor stops, but do not announce themselves. These should have an `aria-hidden="true"` attribute to remove them from the cursor order. Screenshot attached.

## Point of Contact

**VFS Point of Contact:** _Trevor_

## Acceptance Criteria

* As a screen reader user, my virtual cursor should not stop on the

[2019-11-19 16:26] 1Copenut commented on #3540
Closing this issue as the 116 audit is complete.

[2019-11-19 16:30] clantosswett commented on #3524
Attached are the documents created to prepare call centers for the direct deposit launch. We are waiting for feedback on these documents from the WHVAH.

[Direct.Deposit.Call.Center.Guide.pdf](https://github.com/department-of-veterans-affairs/va.gov-team/files/3864921/Direct.Deposit.Call.Center.Guide.pdf)

[FAQ for Direct Deposit.docx](https://github.com/department-of-veterans-affairs/va.gov-team/

[2019-11-19 16:31] elder-joseph commented on #3540
@1Copenut Hey I actually have a fix for this I was getting ready to submit a PR.

[2019-11-19 16:31] rianfowler commented on #1579
Next steps:

- [x] [Document](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/engineering/content-security-policy.md) about CSP
- [ ] reduce frequency of CSP logger reports - [merge PR](https://github.com/department-of-veterans-affairs/devops/pull/5928)
- figure out the causes of these issues:
  - http://sentry.vfs.va.gov/vets-gov/website-production/issues/66130/

[2019-11-19 16:32] 1Copenut commented on #2786
Closing as this issue is complete

[2019-11-19 16:34] #3012 closed

[2019-11-19 16:43] nedierecel commented on #3527
@micahchiang Providing a status update that I saw user23's ratings. I'd like to perform a second check and will close this out.

[2019-11-19 16:55] RLHecht commented on #1727
@ncksllvn We are now planning to do this work for Friday 11.22 deployment (not 11/20) to give stakeholders enough time to review. Thanks!

[2019-11-19 16:57] ndsprinkle commented on #1536
http://jenkins.vfs.va.gov/blue/organizations/jenkins/rake_tasks%2Fvets-api-form526-submission/detail/vets-api-form526-submission/278/pipeline/

Running that submission rake task on submission 42157 reveals the json from the veteran's submission attempt. The error that we are getting back from EVSS is basically saying "there is a disability assigned to a treatment facility that isn't in your list o

[2019-11-19 17:02] #3380 closed

[2019-11-19 17:03] ncksllvn commented on #3145
@Karak888 these are all client-side redirects (the only option we have, due to the domain being benefits.va.gov instead of www), so it'll be our team implementing them

[2019-11-19 17:05] shawn-adams commented on #3500
This happened to my own personal account as well.  Issue resolved itself.  I was already a premium MHV user with an ID.ME account.  There was no reason to solicit me to upgrade my account as it was already upgraded and linked to MHV account.  I kept getting the prompt and failing the upgrade and the next day (about 12 hours later) I was able to log in without the prompt appearing.

[2019-11-19 17:16] 1Copenut commented on #3521
Thanks @jason-gcio . I followed up with @jenstrickland and confirmed she'll be running this spot check. I'm always available for consult or questions as needed.

[2019-11-19 17:27] hughes-dustin commented on #3571
branch: bah-3571

[2019-11-19 17:29] mnorthuis commented on #3548
@ncksllvn this work needs a full IA review before URLs can be identified.  I am working with @lwalsh617  on getting this scheduled.

[2019-11-19 17:32] mnorthuis commented on #1632
@jenniferlee-dsva can you provide some of your thoughts around why you would like to keep the same URL versus using a URL that follows our standard approach for all other WBC pages?

[2019-11-19 17:38] ndsprinkle commented on #1536
http://jenkins.vfs.va.gov/blue/organizations/jenkins/rake_tasks%2Fvets-api-form526-submission/detail/vets-api-form526-submission/279/pipeline

Same situation for that submission, both disabilities attached to the treatment center are also within the veteran's list of disabilities. This leads me to believe this error message from EVSS is simply wrong. I am going to reach out to Silvio to see if thi

[2019-11-19 17:40] davidconlon commented on #3564
**Launch of Pittsburgh is TBD**

The website link on the existing (about to be retired) Facility detail page needs to redirect to the new facility detail pages.

_Note: this should be done automatically when Facilities/Vets API updates but we should verify_

Although the page will no longer be part of the workflow for the locations in the Pittsburgh system, this redirect is intended to assist visi

[2019-11-19 17:41] kelsonic opened #3572 "Remove "Home" from breadcrumbs"
# Current Behavior
Breadcrumbs currently include the "Home" link. You can see an example of this [here](https://staging.va.gov/pittsburgh-health-care/stories).
![image.png](https://images.zenhubusercontent.com/5d812458c75aaf0001c430f8/5e1d49c1-f6e2-4c0e-8794-426f1d2928b1)

# Desired Behavior
Breadcrumbs should not include the "Home" link.
![image.png](https://images.zenhubusercontent.com/5d812458c

[2019-11-19 17:41] erikphansen opened #3573 "Improve GA reporting of Direct Deposit save errors"
We currently track when DD save/updates fail due to a bad/missing address or phone number. All other errors are simply tracked as 'other-error'.

We'd like to have more granular tracking of other DD save/update errors. So we'll report errors related to:
- being flagged for fraud: 'fraud-alert-error'
- having an invalid/incorrect routing number: 'incorrect-routing-error'
- maybe others??

Relevant

[2019-11-19 17:43] erikphansen commented on #3573
@clantosswett @nedierecel Tagging you for awareness. I'll follow up in this ticket with more details about the different save/update failures that we can get and potentially report to GA.

[2019-11-19 17:43] sonntag-adam commented on #3571
Testing passes QA

[2019-11-19 17:49] kelsonic opened #3574 "SideNav - Selected nav item should be underlined"
# Context
This pertains to the new SideNav, which is visible [here](https://staging.va.gov/pittsburgh-health-care).

# Current Behavior
Our selected nav item is not underlined.
![image.png](https://images.zenhubusercontent.com/5d812458c75aaf0001c430f8/f8037ebd-54e6-4355-83ab-c1f106c64b9a)

# Desired Behavior
The selected nav item should be underlined.

# Acceptance Criteria
- [ ] Selected nav item

[2019-11-19 17:49] davidconlon commented on #3564
We should look to make this a sustainable solution ongoing and, if possible, driven by the changes from Facilities API.

Assumption: none of the existing URLs for Facilities are www.va.gov but instead are SUBDOMAIN.va.gov

So we can do something like "if the URL for the facility is not www.va.gov, then use the facility ID and send users to the facility detail page, otherwise use the URL in the sea

[2019-11-19 17:54] ksantiagomorgan6 commented on #3537
pull request https://github.com/department-of-veterans-affairs/vets-website/pull/11138

[2019-11-19 17:56] kelsonic opened #3575 "SideNav - Remove SideNav on `Events`, `News Releases`, and `Stories` subpages"
# Context
This pertains to the new SideNav, which is visible [here](https://staging.va.gov/pittsburgh-health-care).

# Current Behavior
On an `Events` subpage, the SideNav is currently visible with nothing selected.
![image.png](https://images.zenhubusercontent.com/5d812458c75aaf0001c430f8/bc0c9485-8820-4496-8cab-a5d5acbca893)

# Desired Behavior
On an `Events` subpage, the SideNav is not visible.

[2019-11-19 18:00] kelsonic opened #3576 "SideNav - Change color when nav item is hovered"
# Context
This pertains to the new SideNav, which is visible [here](https://staging.va.gov/pittsburgh-health-care).

# Current Behavior
When a nav item is hovered, its background changes to light grey and its color remains blue if it's a clickable nav item.
![image.png](https://images.zenhubusercontent.com/5d812458c75aaf0001c430f8/9d5b3863-6e4e-45a0-9cb6-682f1e95a21b)

# Desired Behavior
When a na

[2019-11-19 18:02] jenstrickland opened #3577 "508 Spot Check Findings for Rated Disabilities"
This will be a container for all issue ticket findings for the Rated Disabilities 508 Spot Check Review, related to [#3521](https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/3521).

[2019-11-19 18:03] jenstrickland commented on #3521
Findings will be collected in this epic: https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/3577

[2019-11-19 18:22] peggygannon commented on #3120
@carolynwill I've reviewed the updated mockup and all looks good. I made two more content recommendations. thanks.

[2019-11-19 18:31] #2899 closed

[2019-11-19 18:39] RLHecht opened #3578 "Fix 2 Form PDFs on Camp Lejeune page"
## User Story or Problem Statement
VA Form 10-10068 and VA Form 10-10068b are not rendering properly on certain browsers (Chrome and Safari) when clicking on the links on the [Camp Lejeune water contamination](https://www.va.gov/disability/eligibility/hazardous-materials-exposure/camp-lejeune-water-contamination/) page. Only a few lines of text show and the user needs to scroll through to get to i

[2019-11-19 18:43] AnneHurley commented on #2612
@jenniferlee-dsva  @Karak888 @RLHecht
I received SME approval from Tammy and Luke today, and we are good to push this live.

[2019-11-19 18:45] ndsprinkle commented on #1536
I met with Silvio and we discovered the error is occurring because there are disabilities for the treatment centers that have a disabilityActionType of "NONE". Disabilities with an action type of "NONE" are not sent to EVSS (stripped out by vets-api), which would explain why EVSS doesn't see the disability in the list. I confirmed this theory by running another rake task: http://jenkins.vfs.va.gov

[2019-11-19 18:47] RLHecht commented on #2612
@peggygannon or @jenniferlee-dsva can you please review this page in Drupal and publish if all looks good. I had to rebuild a lot of it to fix some H2s and accordions and added in the specific schools info, so it would be good to have another set of eyes before going live. preview-prod-vfs.va.gov/preview?nodeId=936

[2019-11-19 18:58] wyattwalter commented on #2971
Attachments are created, doing some back-and-forth with COMS to make sure we're all setup for a cutover.

[2019-11-19 19:08] peggygannon commented on #3567
Hi, @rileyorr I reviewed screens 1, 2, and 3. Please let me know if you have any questions about my content recommendations. I'll give these screens a look again once the changes have been incorporated.

[2019-11-19 19:08] jenstrickland commented on #3566
@CrystabelReiter @emilywaggoner — for visibility towards scheduling a design review. cc @sshein

[2019-11-19 19:19] davidconlon commented on #3385
On the search results for the following VAMCs, instead of the hyperlink going to a Facility Detail Page, the link should go to the New Facility Page in Drupal.

University Drive (vha_646) -> https://www.va.gov/pittsburgh-health-care/locations/pittsburgh-va-medical-center-university-drive/

H. John Heinz III (vha_646A4):  -> https://www.va.gov/pittsburgh-health-care/locations/h-john-heinz-iii-depar

[2019-11-19 19:22] jenniferlee-dsva commented on #1632
I'm open to your thoughts on this. The reason I assumed we might want to keep the current URL is that it currently has a lot of organic search value. I guess we can still maintain value by doing redirects and such but if we're able to do this without redirects...? Not sure.

 https://www.va.gov/vaforms/
https://www.va.gov/vaforms/search_action.asp
•	Above 2 pages appear to compete for search traff

[2019-11-19 19:26] Karak888 commented on #2098
so @RLHecht are we good to go with the yellow ribbon to close our or are we still awaiting something? Thanks!

[2019-11-19 19:29] thatmattjohnson commented on #2661
link to migration plan: https://docs.google.com/spreadsheets/d/1PEh6fdd0j8Oq4zzvYZ4ZypxfomgnkHztmqS-hFgWaCk/edit#gid=1851789287

[2019-11-19 19:31] RLHecht commented on #2098
@Karak888 I commented in [this ticket](https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/2612) that Peggy or Jen need to review and publish the Yellow Ribbon page.But if this ticket is for the other two pages (which I think it is?), those pages are now live and we can close. @AnneHurley, can you confirm?

[2019-11-19 19:31] thatmattjohnson commented on #2891
consolidated into #2888

[2019-11-19 19:31] #2891 closed

[2019-11-19 19:35] nedierecel commented on #3573
Thanks @erikphansen From my standup, we won't need to adjust any other GA settings, so we should be able to catch any new error keys that you decide on passing to this parameter.

@clantosswett Once it is implemented, we'll expect to see the `other-` error key decline or go to zero depending on Erik's implementation.

CC: @jonwehausen for QA later

[2019-11-19 19:38] peggygannon commented on #3507
@sporeboy @jason-gcio Hello, I took a preliminary look at the View Dependents mockup and I think we need further conversation on how this page fits with the current Add Dependents page: https://www.va.gov/disability/add-remove-dependent/

I know you are early in your design and research, but I think we should discuss entry points and content soon, so we can determine how this page will be found an

[2019-11-19 19:47] jenniferlee-dsva commented on #2612
@RLHecht - a few important items:
1/ 'On this page' header should be H2 (we shouldn't jump from H1 to H3).
2/ The TOC jump links should map to H2 headers, so you will need to fix some h2/h3 problems on this page as a whole. I like the text of your TOC links, so maybe using that as the header text...?
3/ DivFeature header (inside the blue box) should be H2.
4/ In the TOC list - the 'See if your sch

[2019-11-19 19:48] AnneHurley commented on #2098
@Karak888  and @RLHecht yes if the ^ pages are live, we can close this one.

[2019-11-19 19:52] Karak888 commented on #2691
Thanks @artsymartha68 !  I am going to move to close this one and we can create new tickets for anything else that may arise!

[2019-11-19 19:52] #2691 closed

[2019-11-19 20:00] 1Copenut opened #3579 "SCO Migration 508 Audit"

[2019-11-19 20:00] nedierecel commented on #3043
@amyknox Please see the new [VET TEC dashboard](https://analytics.google.com/analytics/web/?authuser=0#/dashboard/TT52avPURam05B0aRxyz5g/a50123418w177519031p184334251/) for Team BAH.

Two follow-ups:
1. Search refinements for VET TEC results: I will add a table for VET TECH search refinements based on the work BAH and @jonwehausen is doing in #3048.
2. Profile Views per Session: This request was c

[2019-11-19 20:03] emilywaggoner commented on #3566
Got it - thanks @rileyorr! How about Friday at 3pm ET?

[2019-11-19 20:04] rileyorr commented on #3566
@emilywaggoner That sounds perfect!

[2019-11-19 20:04] Karak888 commented on #3258
Thanks @ncksllvn - I'm closing this puppy out now!

[2019-11-19 20:04] #3258 closed

[2019-11-19 20:06] #3277 closed

[2019-11-19 20:06] emilywaggoner commented on #3566
Cool. Will send an invite! Are you planning to share the mocks on this ticket ahead of time?

[2019-11-19 20:06] 1Copenut opened #3580 "IE11 - Add tabindex="-1" to On This Page headings so they will function properly"
## Description

IE11 does not honor in-page anchor links if the item being "anchored" to does not have a `tabindex=-1"`. I tested this with JAWS and the page would usually bounce back to the top after clicking the link, which was not correct behavior. Screen shot attached.

## Related Issue
* https://github.com/department-of-veterans-affairs/va.gov-team/issues/3160

## Point of Contact

**VFS Poin

[2019-11-19 20:12] kimmueller1 opened #3581 "[DISCOVERY] Cross reference A-Z and 95 health services lists for Lebanon and Pittsburgh VA medical centers [content]"
## Compare health services offered at Lebanon VA Medical Center using current and future lists.
As a content writer, I want to cross reference Lebanon VA Medical Center’s health services published on the A-Z tool with categories offered on the 95 Health Services lists to assist the PAO .

## Goal
Create spreadsheets that will assist the Lebanon VA Medical Center’s PAO to easily choose the health s

[2019-11-19 20:14] lalexanderson-dsva commented on #3384
We should not remove podiatry from this list, we should definitely keep it. They are working actively on adding it for VA.gov. I think Option 1 makes the most sense.

[2019-11-19 20:14] andaleliz opened #3582 "Campaign landing page template: instructional call-outs"
Add instructional call outs to campaign landing page (CLP) template to provide additional guidance to content creators.

Will involve design + content

This is a subtask of: https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/2839

[2019-11-19 20:17] SgardnerPMP opened #3583 "[ON BOARDING] On board with CMS-agile6 team regarding drupal [vamc-team]"
## User Story or Problem Statement
As a team member, I need understand va.gov Drupal infrastructure, so I can utilize the backend, frontend, and needed template access as required to build and populate the future vamc-websites.

## Goal
_On board with CMS team and understand engagement rules, pre-production site builds, and process for the website creation_

## Objectives
- Ultimately provide proc

[2019-11-19 20:17] 1Copenut commented on #3540
@elder-joseph Cool. PR looks solid.

[2019-11-19 20:18] mmiddaugh opened #3584 "Understand API for Mapbox"
This issue is for the initial step of upgrading Mapbox.

## User Story
- As the Facility Locator team, we need to understand the Mapbox API so that a library can be selected and the upgrade can be completed.

## Task
- Research Mapbox API

## Acceptance Criteria
- API is well understood.
- Changes to API and risks are identified and documented in GitHub.
- There are no barriers to beginning upgrad

[2019-11-19 20:19] markgreenburg commented on #3391
@jbalboni would love some input on this approach and how much of a lift it is. Also probably want to standardize the approach for this with VA appointments where no facility in your system supports the type of care you want.

[2019-11-19 20:21] mmiddaugh opened #3585 "Complete mapbox version upgrade"
This issue is to complete the mapbox upgrade

**Acceptance criteria**
[ ] Run automated scans periodically
[ ] Audit with the Lighthouse plugin to ensure web performance, accessibility, best practices, SEO, and even progressive web app support
[ ] Run the axe-core plugin while developing new components. Many automated errors can be avoided or fixed during the development cycle.
[ ] Review internal

[2019-11-19 20:23] mmiddaugh commented on #3054
@arickalewis1 please add a link to the wireframe v1 when available and close this issue.

[2019-11-19 20:23] rileyorr commented on #3566
I definitely can!! I just received some content feedback from Peggy earlier today so I'll incorporate it this afternoon/tomorrow morning and then link the mocks on this ticket!

[2019-11-19 20:24] zurbergram commented on #3580
https://github.com/department-of-veterans-affairs/vets-website/pull/11139
https://github.com/department-of-veterans-affairs/vagov-content/pull/599

[2019-11-19 20:24] mmiddaugh opened #3586 "QA effort for Mapbox SDK upgrade"
This issue to track the QA effort to confirm functionality is maintained following mapbox upgrade.
## Product/Feature Summary
The Mapbox version has been upgraded and we need to ensure that basic functionality has been maintained. We will also want to check to see if previously reported accessibility and usability issues have been resolved through this upgrade.

## [Product/Feature Outline](https:

[2019-11-19 20:26] #1793 closed

[2019-11-19 20:27] ncksllvn commented on #1946
@Karak888 Just merged this work - it'll go live tomorrow. Should we close?

[2019-11-19 20:27] brandonrapp commented on #835
This work was covered as part of the CMS Superteam work.

[2019-11-19 20:27] #835 closed

[2019-11-19 20:27] mmiddaugh commented on #3586
@jenstrickland will it make sense to conduct a round of compliance testing on the map functionality once Gibran completes this upgrade?

Goals:
- Retest to confirm if previously reported issues are still present following the upgrade
- Check for the presence of new issues following upgrade

[2019-11-19 20:28] SgardnerPMP opened #3587 "[ON BOARDING] Analytics and KPI standards for va.gov website/pages [vamc team]"
## User Story
As a vamc team member, I need to review anaytics and kpi creation for the existing va.gov and pittsburg, PA websites,  so I can apply those analytics to all future vamc-websites.

## Goal
_Review Analytics team process, current analytic flags, and if the current kpi set up is working to the stakeholder's business needs._

## Objectives
- Understand the current configuration and statu

[2019-11-19 20:28] brandonrapp commented on #834
This work was included as part of the CMS Superteam work.
https://github.com/department-of-veterans-affairs/va.gov-team/issues/2724

[2019-11-19 20:28] #834 closed

[2019-11-19 20:28] brandonrapp commented on #889
This work was included as part of the CMS Superteam work.
https://github.com/department-of-veterans-affairs/va.gov-team/issues/2724

[2019-11-19 20:28] #889 closed

[2019-11-19 20:29] brandonrapp commented on #890
This work was included as part of the CMS Superteam work.
https://github.com/department-of-veterans-affairs/va.gov-team/issues/2724

[2019-11-19 20:29] #890 closed

[2019-11-19 20:30] mmiddaugh opened #3588 "Archive Facility Detail pages"
This is a placeholder

[2019-11-19 20:33] jenstrickland commented on #3586
@mmiddaugh - yes, recommend requesting a spot check accessibility review ahead of the Pre-launch 508 Review: [Schedule an accessibility review](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/.github/ISSUE_TEMPLATE/request_dev_review_vsa.md)

[2019-11-19 20:37] markgreenburg opened #3589 "'Need Help' component"
As a veteran, I want clear contact info for the help lines that I need to call so that I can resolve any issues I run into while scheduling an appointment.

AC
- [ ] 'Need Help' component shows on all VAOS pages
- [ ] Content & UI matches mocks

[2019-11-19 20:41] jenniferlee-dsva commented on #952
@Karak888 @ncksllvn - let's use this as our test 'archive TeamSite page' and redirect using our new approach. I will send out meeting invite and invite you both. The redirect part is obvs not in question; the convo will be to work with Sandy Tadeo to test archiving this page in TeamSite and seeing if the redirect still works via header/footer code.

FYSA @mnorthuis @meganhkelley @batemapf

[2019-11-19 20:45] RLHecht commented on #3578
@jenniferlee-dsva These PDFs have been updated and they are now rendering correctly for me in Chrome. Do you want to review and push the page live or should we wait to hear back from Jenny HL if there's any issue with hosting them in Github? Preview link: preview-prod/vfs.va.gov/preview?nodeId=883

[2019-11-19 20:45] rtwell commented on #3589
![image](https://user-images.githubusercontent.com/12564977/69184819-96ad1180-0ae3-11ea-9242-4fd1dbcc9172.png)

[2019-11-19 20:50] Karak888 commented on #2839
@lwalsh617 @andaleliz I just renamed the title of this in order to track work done on this and shown in sprint demo.  Will create second ticket for remaining work.

[2019-11-19 20:50] #2839 closed

[2019-11-19 20:53] elder-joseph commented on #3540
@1Copenut Awesome! thanks for the review!

[2019-11-19 20:55] #3581 closed

[2019-11-19 20:58] SgardnerPMP opened #3590 "[DISCOVERY] Create Kick off - Presentation template for PAO & Team for Lebanon, PA [Product Manager]"
## User Story
As a Lebanon, PA PAO, I need understand the work that is being proposed for lebanon medical center website,  so I can better understand what the project includes, what is happening to the website and why, my part in the process, and to provide feedback and approval for final content.

## Goal
_Provide detailed information for the PAO and Team regarding the Lebanon Website upgrade_

#

[2019-11-19 20:59] erikphansen commented on #3271
Closing this as it seems resolved.

[2019-11-19 20:59] #3271 closed

[2019-11-19 20:59] rileyorr commented on #3220
@wygonikGCIO The research has been added to our presentation. Moving to Validate

[2019-11-19 21:03] ndsprinkle opened #3591 "[Bug] Un-checking worsened condition should remove that condition from treatment facility"
## What happened?
Discovery issue: https://github.com/department-of-veterans-affairs/va.gov-team/issues/1536

526 forms were failing to submit for veterans due to an error from EVSS involving conditions being linked to treatment facilities without that condition actually being submitted in the veteran's list of disabilities.

## Steps to Reproduce
- URL: https://staging.va.gov/disability/file-disa

[2019-11-19 21:03] ndsprinkle commented on #1536
@YanaRoy Ticket created: https://github.com/department-of-veterans-affairs/va.gov-team/issues/3591

[2019-11-19 21:08] #3133 closed

[2019-11-19 21:09] jason-gcio commented on #3550
One no show, to be rescheduled

[2019-11-19 21:09] #3550 closed

[2019-11-19 21:10] Karak888 commented on #1946
@ncksllvn yes let's just make note to double check tomorrow! Moving to close now..

[2019-11-19 21:10] #1946 closed

[2019-11-19 21:13] #3355 closed

[2019-11-19 21:17] #3045 closed

[2019-11-19 21:18] Karak888 commented on #2098
@RLHecht @AnneHurley Since the 2 pages above becAuse we have another ticket specific to Yellow Ribbon and this was put as a blocker (no longer blocker), I am going to close this ticket out and we'll track Yellow Ribbon separately.  :CC @jenniferlee-dsva

[2019-11-19 21:18] #2098 closed

[2019-11-19 21:21] patrickvinograd opened #3592 "Implement an ICN/UUID correlation mechanism"
## User Story or Problem Statement
How might we establish a correlation between VA ICNs and ID.me UUIDs so that the fraud detection team can run analysis on authentication events ?

## Goal
The VBA fraud detection team has mechanisms in place to detect fraudulent payment-related events (e.g. improper changes in direct deposit information). They are connected to IAM/DSLogon and have a newly impleme

[2019-11-19 21:27] jbalboni commented on #3391
It would be easier for this to be its own page, but this is doable, too. I'm not sure this approach would work for the facility/system messages, though.

[2019-11-19 21:31] #3422 closed

[2019-11-19 21:32] #3420 closed

[2019-11-19 21:33] #3223 closed

[2019-11-19 21:36] tlei123 opened #3593 "Update QA Process docs further"
## Description
In the [VSA-QA Process doc](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/qa/vsa-qa-process.md), change assignee of Test Plan ticket to Engineering Team’s Product Manager \[instead of VSA-QA shared-resource].

Also, add a README.md "table-of-contents" page to the containing folder to facilitate navigation.

\[See original ticket #3114 for

[2019-11-19 21:41] jason-gcio opened #3594 "Pre-Call Center Prep (Screenshots)"
## Story
As a Call Center team member helping Veterans with Rated Disabilities, I want to be able to see the designed path for the user as well as the error states with descriptions so I can be better informed as to how to help.

## Tasks
- [x] Create a series of final screenshots in pdf that show the working path and the known errors states with descriptions.

## Acceptance Criteria
- [x] A pdf h

[2019-11-19 21:41] mnorthuis commented on #2098
@Karak888 @RLHecht Can you please clarify what two pages have changes that are now live from the education parity?  I'm struggling to  understand which 2 are being referenced here, there's a lot of pages mentioned in this ticket.

[2019-11-19 21:43] amyknox commented on #3125
@CrystabelReiter , @emilywaggoner & @1Copenut - thanks for the review & input.  Here are notes on the storm warnings you shared.

New design patterns have been vetted by DSVA and documented 🌀
The length in weeks label:
Recommendation: Change label to #D6D7D9 and font to #323A45 (this is already noted in the spreadsheet)

*Update in progress*

Consistent use of iconography 🌀
Is there a reason the i

[2019-11-19 21:48] lkoenigsberg commented on #3500
Issue is resolved. Turns out he had not actually been able to access VA.gov in over a year. After a browser update he was able to complete is 2fa and was able to access as expected.

[2019-11-19 21:48] #3500 closed

[2019-11-19 21:50] jason-gcio opened #3595 "Pre-Call Center Prep (Video)"
## Story
As a Call Center team member helping Veterans with the Rated Disabilities tool, I want to be able to view a video that shows how to operate the feature so that I can be better informed in how to help as well as be able to share widely on YouTube.

## Tasks
- [x] Write a short script that discusses logging in, using the tool and navigating the Rated Disabilities tool.
- [x] Create a short

[2019-11-19 21:52] arickalewis1 commented on #3054
[FL-wire-ideation-v1.zip](https://github.com/department-of-veterans-affairs/va.gov-team/files/3866237/FL-wire-ideation-v1.zip)
Version 1 wireframes/ideation

[2019-11-19 21:53] #3054 closed

[2019-11-19 21:55] jason-gcio opened #3596 "Pre-Call Center Prep (FAQs)"
## Story
As a Call Center team member helping Veterans with the Rated Disabilities tool, I want to be able to view a list of FAQs that answers common questions on a variety of topics so that I can be better informed in how to help users that call in.

## Tasks
- [ ] Write a list of commonly asked questions and answers with as much detail and context as possible.
- [ ] Write a list of imagined ques

[2019-11-19 21:55] rebeccawalsh commented on #3221
Find the research presentation [here](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/medical-device-tool/research/preliminary-findings-presentation.pdf)

[2019-11-19 21:58] amyknox commented on #3196
@emilywaggoner, @CrystabelReiter & @1Copenut - thank you for the input on the SCO page.  Our comments & notes are noted in the attached doc. Please reach out with any questions or concerns.
[https://app.zenhub.com/files/133843125/69dbaadc-55ce-43a2-8099-5f265ac3c015/download](https://app.zenhub.com/files/133843125/69dbaadc-55ce-43a2-8099-5f265ac3c015/download)

[2019-11-19 22:10] peggygannon opened #3597 "Content edits: VAOS dashboard, View appointment, and Cancel screens"
## User Story or Problem Statement
As a member of a team building with or on VSP, content needs to be reviewed to ensure it's accurate, aligns with VA style, and is error-free.

## Acceptance Criteria
- [ ] VAOS team to implement content edits (below) in time for UAT testing of Dashboard, View appointments, and Cancel messaging

https://staging.va.gov/health-care/schedule-view-va-appointments/appo

[2019-11-19 22:10] mmiddaugh commented on #3585
This issue was estimated at a 13...if not a 21. We should look at ways to break the task down further, if possible.

[2019-11-19 22:18] jason-gcio commented on #2197
The issues in this ticket were largely resolved with Silvio and Mike Walker

[2019-11-19 22:18] #2197 closed

[2019-11-19 22:20] #3071 closed

[2019-11-19 22:20] jenniferlee-dsva commented on #2839
Thank you @lwalsh617 and @andaleliz  for this amazing MVP 1.0!

@Karak888 -- we'll do a DEPO/DSVA on this to turbo charge it to the finish line.

[2019-11-19 22:21] #3220 closed

[2019-11-19 22:24] #3072 closed

[2019-11-19 22:24] #3221 closed

[2019-11-19 22:24] #3170 closed

[2019-11-19 22:26] jenniferlee-dsva commented on #3582
@Karak888 - please hold off on this subtask for now. We'll need to pick this up when it's closer to building in Drupal as a page template. Thank you!

[2019-11-19 22:29] shawn-adams commented on #3500
Can you contact me regarding this?  shawn.adams@va.gov  This issue looks originally sourced from an ESD ticket I logged.  If so, I've accessed VA.GOV multiple times over the past year.
 https://yourit.va.gov/va?sys_id=e6a1dd76db4948d8587fff1e0f961985&view=sp&id=ticket&table=incident

[2019-11-19 22:31] amyknox commented on #3145
@ncksllvn , @jenniferlee-dsva  & @Karak888 -  Can you give me some idea of how you approach the redirect process?  I'd like to confirm the plan, date, etc. with you to make sure the launch & redirect plans are aligned.

[2019-11-19 22:43] AnneHurley commented on #2098
@mnorthuis @Karak888 @RLHecht  The two non-Yellow Ribbon pages we made edits to are:

1. https://www.va.gov/education/about-gi-bill-benefits/how-to-use-benefits/test-fees/ to better set up the L&C tool after the link
2. https://www.va.gov/education/survivor-dependent-benefits/dependents-education-assistance/ to add new language and links about vocational education and rehabilitation education.
Let

[2019-11-19 22:49] SgardnerPMP opened #3598 "[DISCOVERY] Identify Services (From Master List) that are utilized across VISN 4 MC-East [BA & Content]"
## User Story or Problem Statement
As a vamc web user, I need to see all of the local services provided in a listing so I can quickly determine the information and direction I need to go to obtain my needed service at the local Medical Center level.

## Goal
_Identify, confirm, and list all services for the medical centers in Eastern VISN 4 medical Centers_
_To include:
- [x] Coatesville, PA	https