[2022-10-11 17:12] #47825 closed

[2022-10-11 17:13] CherylEvans commented on #47825
@allison0034 Thank you Allison!

[2022-10-11 17:16] laucon opened #48055 "Edit Deployment instructions"
Edit Deployment launch blocking issues message so it no longer mentions #vsp-confluence since we're not using that channel and also because it's kind of redundant.

[2022-10-11 17:18] #48055 closed

[2022-10-11 17:23] joshkimux opened #48056 "Request access to Google Analytics and/or Domo"
# Request Google Analytics and/or Domo access

## What this form is for
Use this template to request access to Google Analytics and/or Domo. Please complete steps 1 & 2 below.

## 1. Access Requirements
Please check the analytics tool(s) you need access to:
- [x] Google Analytics
- [x] Domo
- [ ] (Platform Teams only) BigQuery

## 2. User Email Address to Receive Access
**Due to privacy concerns,

[2022-10-11 17:24] agmurphy opened #48057 "Adding [Kathy Cui] to DSVA Slack"
# Description

Please add [kathy.cui@thoughtworks.com ] as a full member. She is joining the Virtual Agent Chatbot team full-time as a business analyst

[2022-10-11 17:32] andaleliz commented on #47441
I thought I responded to this, must've been while I was in transit from retreat and I only typed up a draft. I can discuss this w/ Danielle this Thursday. Thanks for the nudge!

[2022-10-11 17:36] RLHecht commented on #46881
This is live. Closing!

[2022-10-11 17:36] #46881 closed

[2022-10-11 17:43] RLHecht commented on #47192
Update: After meeting with the CMS team, we learned there isn't a current functionality in the audit tool to search for words on Drupal pages other than in the intro. We will need to do a manual audit using search and clicking around on the site.

[2022-10-11 17:49] loripusey opened #48058 "Create list of kiosk functionality & evaluate for inclusion in our backlog for Pre-Check-in"
## Tasks
- Create list of ALL existing kiosk functionality
- Evaluate functionality for possible inclusion in our backlog
- Present to team

[2022-10-11 17:53] JasmineYohannan opened #48059 "[EPIC] MyHealth Newsletter: Generative Research"

[2022-10-11 17:54] JasmineYohannan opened #48060 "[EPIC] MyHealth Newsletter: Technical discovery"

[2022-10-11 17:55] JasmineYohannan opened #48061 "[EPIC] MyHealth Newsletter: Technical discovery"

[2022-10-11 17:55] megzehn commented on #46884
Thank you, @aliyahblackmore!

Confirming this page has been published. CC @RLHecht.

[2022-10-11 17:55] loripusey opened #48062 "[Design] PRE-CHECK-IN: Create Final Wireframes"

[2022-10-11 17:55] JasmineYohannan opened #48063 "[EPIC] MyHealth Newsletter: Technical discovery"

[2022-10-11 17:55] loripusey opened #48064 "[Design] PRE-CHECK-IN: Create Final Wireframes"

[2022-10-11 17:56] loripusey opened #48065 "[Design] CHECK-IN: Create Final Wireframes"

[2022-10-11 17:57] JasmineYohannan opened #48066 "[EPIC] MyHealth Health Resources: Generative Research"

[2022-10-11 17:57] JasmineYohannan opened #48067 "[EPIC] MyHealth Health Resources: Technical discovery"

[2022-10-11 17:57] humancompanion-usds commented on #42873
Privacy agreement is deployed as is OMB info. Closing.

[2022-10-11 17:57] #42873 closed

[2022-10-11 17:58] JasmineYohannan opened #48068 "[EPIC] MyHealth Newsletter: Technical discovery"

[2022-10-11 17:59] loripusey opened #48069 "[Design] Create Draft Wireframes using the New DS Progress Bar"
## Tasks
- Collaborate with DS team on their new design for the Progress Bar component (talk to Josh Kim and Pam Hastings)
   - What is the DS team's vision
   - [DS Sketch file](https://www.sketch.com/s/09640425-48be-4019-8277-8a924eff1df7)
   - New design has connection to the [Sub-task pattern](https://design.va.gov/patterns/help-users-to/complete-a-sub-task)
- Create draft wireframes for using

[2022-10-11 17:59] cgednalske commented on #47350
Hi @Samara-Strauss! I've looked through everything in our Sketch files and contact center documentation guide and rounded up all the relevant alerts. I didn't find anything that matched up with what we're needing - details below - so it's looking like a custom message might be the way to go. However, I think there might be opportunities to streamline some of these alerts in general.

The closest a

[2022-10-11 18:00] JasmineYohannan opened #48070 "[EPIC] MyHealth Newsletter: Technical discovery"

[2022-10-11 18:05] zach-park commented on #47787
[Abstract collection link](https://share.goabstract.com/cc1baa9a-d05e-402c-a2c7-90fd14f5460e?collectionLayerId=9421e29d-1565-4e6a-9ae5-0ca507077a80&mode=design): https://share.goabstract.com/cc1baa9a-d05e-402c-a2c7-90fd14f5460e?collectionLayerId=9421e29d-1565-4e6a-9ae5-0ca507077a80&mode=design

[2022-10-11 18:07] JasmineYohannan opened #48071 "[EPIC] MyHealth Health Resources: Low-fi design & refinement"

[2022-10-11 18:08] ldelacosta commented on #47736
We will wait until this is ready in VAOS v2 service before VAOS FE will start making the updates.

[2022-10-11 18:09] JasmineYohannan opened #48073 "[EPIC] MyHealth Health Resources: Concept testing & refinement"

[2022-10-11 18:09] JasmineYohannan opened #48074 "[EPIC] MyHealth Health Resources: Hi-fi design & technical feasability"

[2022-10-11 18:09] JasmineYohannan opened #48075 "[EPIC] MyHealth Health Resources: Usability testing & refinement"

[2022-10-11 18:10] JasmineYohannan opened #48076 "[EPIC] MyHealth Health Resources: Build"

[2022-10-11 18:10] JasmineYohannan opened #48077 "[EPIC] MyHealth Health Resources: UAT"

[2022-10-11 18:11] JasmineYohannan opened #48078 "[EPIC] MyHealth Health Resources: Rollout Phase 0 - Trusted Users"

[2022-10-11 18:11] JasmineYohannan opened #48079 "[EPIC] MyHealth Health Resources: Rollout Phase 1 - Try Me"

[2022-10-11 18:11] benbrasso-agile6 commented on #47787
Looks good. Thanks

[2022-10-11 18:12] JasmineYohannan opened #48080 "[EPIC] MyHealth Health Resources: Rollout Phase 2 - VA.gov Transitions"

[2022-10-11 18:12] JasmineYohannan opened #48081 "[EPIC] MyHealth Health Resources: Rollout Phase 3 - MHV Nudge"

[2022-10-11 18:12] RLHecht commented on #47744
@bethpottsVADEPO ^^

[2022-10-11 18:13] JasmineYohannan opened #48082 "[EPIC] MyHealth Health Resources: Rollout Phase 4 - MHV Redirect to MyHealth"

[2022-10-11 18:16] benbrasso-agile6 commented on #47930
@loripusey should this be in the enhancement epic or mvp? Also, I'm going to update the description to potentially include an error message response too.

[2022-10-11 18:17] loripusey commented on #42791
@loripusey get w/ UX on DS translations............

[2022-10-11 18:18] JasmineYohannan opened #48083 "[EPIC] MyHealth Newsletter: Low-fi design & refinement"

[2022-10-11 18:18] JasmineYohannan opened #48084 "[EPIC] MyHealth Newsletter: Concept testing & refinement"

[2022-10-11 18:19] JasmineYohannan opened #48085 "[EPIC] MyHealth Newsletter: Hi-fi testing & technical feasibility"

[2022-10-11 18:19] JasmineYohannan opened #48086 "[EPIC] MyHealth Newsletter: Usability testing & refinement"

[2022-10-11 18:19] JasmineYohannan opened #48087 "[EPIC] MyHealth Newsletter: Build"

[2022-10-11 18:19] JasmineYohannan opened #48088 "[EPIC] MyHealth Newsletter: UAT"

[2022-10-11 18:20] JasmineYohannan opened #48089 "[EPIC] MyHealth Newsletter: Usability testing & refinement"

[2022-10-11 18:21] JasmineYohannan opened #48090 "[EPIC] MyHealth Newsletter: Build"

[2022-10-11 18:21] JasmineYohannan opened #48091 "[EPIC] MyHealth Newsletter: UAT"

[2022-10-11 18:21] JasmineYohannan opened #48092 "[EPIC] MyHealth Newsletter: UAT"

[2022-10-11 18:22] JasmineYohannan opened #48093 "[EPIC] MyHealth Newsletter: Rollout Phase 0 - Trusted Users"

[2022-10-11 18:22] JasmineYohannan opened #48094 "[EPIC] MyHealth Newsletter: Rollout Phase 1 - "Try Me""

[2022-10-11 18:23] JasmineYohannan opened #48095 "[EPIC] MyHealth Newsletter: Rollout Phase 2 - VA.gov Transitions"

[2022-10-11 18:23] zach-park commented on #47366
@loripusey here is the spreadsheet that captures the audit details that @kellysmith1008 and I put together:
https://docs.google.com/spreadsheets/d/1vr5m0tfqAtCtBFLMvn54aU9bdWhxR7GRxNkZzw42G10/edit#gid=0

[2022-10-11 18:23] JasmineYohannan opened #48096 "[EPIC] MyHealth Newsletter: Rollout Phase 3 - MHV Nudge"

[2022-10-11 18:24] JasmineYohannan opened #48097 "[EPIC] MyHealth Newsletter: Rollout Phase 4 - MHV Redirect app to My Health"

[2022-10-11 18:25] loripusey commented on #47135
@benbrasso-agile6 we need to have a conversation about this; please include @brianseek  and @zach-park

[2022-10-11 18:28] joeniquette commented on #41935
- refresh token can only be created or recreated if there is a valid matching session identifier in the postgres DB: app/services/sign_in/session_refresher.rb
  - user verification stored in redis, take verifier code to verify code challenge, this should prevent the creation of refresh tokens at scale with random CSP IDs

[2022-10-11 18:29] loripusey opened #48098 "[BUG][FE] CHECK-IN: See Staff Page is Missing the Footer"
## What happened?
See Staff Page is Missing the Footer

## Desired behavior
We should see the footer

## Acceptance Criteria
- [ ] See staff page matches wireframes
- [ ] Test to confirm

[2022-10-11 18:29] loripusey opened #48099 "[BUG][FE] CHECK-IN: See Staff Page is Missing the Footer"
## What happened?
See Staff Page is Missing the Footer

## Desired behavior
We should see the footer

## Acceptance Criteria
- [ ] See staff page matches wireframes
- [ ] Test to confirm

[2022-10-11 18:31] benbrasso-agile6 commented on #47135
Meeting invite sent

[2022-10-11 18:33] benbrasso-agile6 commented on #47787
I don't think we need to run by accessibility or sitewide content right now. The message is so similar messages we're already using in the app.

[2022-10-11 18:35] loripusey commented on #47930
It's in both, I think the faster we can get it defined and on PCI/API team's roadmap the better.

[2022-10-11 18:36] jlang10761 opened #48100 "Adding [elisabeth.chin@coforma.io] to DSVA Slack"
Please add elisabeth.chin@coforma.io as a full member, they will be joining the CEDAR CDS project. We will add them to the appropriate channels once they are in.

Please reach out to Jeff Langworthy on DSVA slack for any questions/clarifications.

[2022-10-11 18:39] benbrasso-agile6 commented on #47930
Makes sense

[2022-10-11 18:40] joeniquette commented on #41935
This will be mitigated once user account uuid is used in all locations (work TBD):
- two csps issuing uuids could cause a collision and thus allow a user to see data for another person. To mitigate this we are going to use the user accounts (new method) uuid instead of accounts table (old method)

[2022-10-11 18:40] #41935 closed

[2022-10-11 18:41] tlei123 commented on #41739
FYI, @pjhill , I received a handful email notifications from TestRail yesterday about report-generations, about **2 months** later.  "Better late than never!"

I also started 2 more reports yesterday, both of which errored-out this morning -- see the last 2 rows of the table on my [tracking doc](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/engineering/qa/inte

[2022-10-11 18:47] loripusey opened #48101 "[SPIKE] CHECK-IN: Explore if we Display Appointments for Which Check-in is NOT Enabled"
## Tasks
- Determine if we are getting appointments from PCI/API for facilities in which Check-in is NOT enabled
- If we are, are we displaying the following message (from the Product Guide)?

![image.png](https://images.zenhubusercontent.com/60db6a817900f619905e68b1/08653b38-937f-48c4-89b8-b26d2940de0a)

[2022-10-11 18:48] mmiddaugh commented on #48037
@megzehn Johnson City needs only a second spotlight but is otherwise ready for copy-editing. I sent the second spotlight request 9/22 but maybe it would make sense for you to send it as a gentle reminder along with any tweaks you find?

[2022-10-11 19:05] Samara-Strauss commented on #47350
Yep, the original messaging you all worked on sounds fine. Ideally, we'd streamline these across sections so we don't have these slight wording differences, but that's low priority compared to other work.

[2022-10-11 19:06] SKasimow commented on #47032
Release at 25% today. Will use other release tickets to con't tracking so closing this now.

[2022-10-11 19:06] #47032 closed

[2022-10-11 19:07] mmiddaugh commented on #46710
@megzehn

- Will you take a peek at Johnson City? They need only a second spotlight so perhaps you could give any other feedback with a gentle reminder on that? (last email was 9/22)
- Likewise, Pompano Beach is spare but ready, aside from a requested revision in Community engagement (last email 9/26)

[2022-10-11 19:08] CBonade opened #48102 "Incomplete operational documentation for VFS Product Directory"
## What happened?
As the platform teams switched structure, a piece of [documentation](https://vfs.atlassian.net/wiki/spaces/TTT/pages/2388590608/VFS+Product+Directory+Operational+Documentation) for the [VFS Product Directory](https://depo-platform-documentation.scrollhelp.site/getting-started/vfs-product-directory) (formerly managed by QA Standards) was left only partially complete. The document

[2022-10-11 19:09] agmurphy opened #48103 "Adding [Matt Terwilliger] to DSVA Slack"
# Description

Please add [MATTHEW.TERWILLIGER@va.gov] as a full member. He is joining the Virtual Agent Chatbot team as an experience designer and lead researcher

[2022-10-11 19:09] cgednalske commented on #47350
Ok, sounds good. Will move forward with the original messaging and leave those other differences as they are for now. 😃 Thanks!

[2022-10-11 19:13] katherine-fung commented on #48033
Hi @laurwill, I edited the intro paragraph, and 2 of the questions that mention "extending" GI Bill benefits.

Here's the preview:
http://preview-prod.vfs.va.gov/preview?nodeId=6860

Here's the revision comparison:
https://prod.cms.va.gov/node/6860/revisions/view/685715/689949/visual_inline

[2022-10-11 19:13] katherine-fung commented on #48033
Hi @laurwill, I edited the intro paragraph, and 2 of the questions that mention "extending" GI Bill benefits.

Here's the preview:
http://preview-prod.vfs.va.gov/preview?nodeId=6860

Here's the revision comparison:
https://prod.cms.va.gov/node/6860/revisions/view/685715/689949/visual_inline

[2022-10-11 19:18] loripusey opened #48104 "[FE] Display Error Message when there is a BTSSS API Error"
## User Story
When the BTSSS API returns an error message, we should let the user know that we are unable to file their claim and give them information about how to file a claim later.

## Wireframes
See wireframes attached to this [ticket](https://app.zenhub.com/workspaces/check-in-experience-61fc23a2cb8a14001132e102/issues/department-of-veterans-affairs/va.gov-team/47787)

## Tasks
- [ ] [FE] ad

[2022-10-11 19:20] loripusey opened #48105 "[UX] Update Design Artifacts for Release"
## Description
Update sketch wireframes so that they match what we are releasing and prepare them for merging to Abstract main and VA Sketch Cloud.

## Tasks
- Validate that final sketches match what we are pushing to production
     - Update sketches if they don't match but what we are pushing is correct
     - Notify FE if there was something missed and the sketches are correct
- Prepare Abstrac

[2022-10-11 19:21] loripusey opened #48106 "[UX] Update Product Artifacts for Release"
## Description
Update various product artifacts, as necessary, based on the feature release.

## Tasks
- [ ] Update the PCI Product Guide, including content and screenshots
- [ ] Update the CI Product Guide, including content and screenshots
- [ ] Update the Poster
- [ ] Update user flow diagrams, as necessary
- [ ] Send updated screenshots to Danielle Thierry for the Resources & Support (R&S) art

[2022-10-11 19:30] mchelen-gov commented on #46778
@little-oddball It looks like you accidentally overwrote the text of the issue in your last edit?

[2022-10-11 19:36] eunicegar commented on #48100
invite sent.

[2022-10-11 19:36] #48100 closed

[2022-10-11 19:36] shiragoodman opened #48107 "Add GitHub team name to VFS Team Roster"
## User Story
As a Platform team member, I want to add Github team name to the VFS team Roster so that I may be able to provide better, quicker support to VFS teams.

Assignee: @allison0034
Peer Reviewer: @briandeconinck

## Description
@mchelen-gov has asked that we add the Github team name to the VFS team roster. In addition to adding a column, we will also need to a) modify the New VFS team pro

[2022-10-11 19:37] #47116 closed

[2022-10-11 19:41] jessicastump opened #48108 "[Research] 10-10EZ - Household Optimization: Synthesis and Findings Report for Household Information Research Sessions"
## Issue Description
Review the notes and synthesize the key findings from the usability sessions. Create the findings document in the research folder.

---
## Tasks
- [x]  Synthesize notes, quotes, observer ratings
- [x]  Create findings document

## Resources
- [Research Plan](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/application/va-applicatio

[2022-10-11 19:52] mnorthuis commented on #44177
Here's a link to the original IA request with some conversation that may be helpful: https://app.zenhub.com/workspaces/platform-governance-team-5f85b91c14d8df0018fac414/issues/department-of-veterans-affairs/va.gov-team/23573

[2022-10-11 20:03] elizabethkochBT opened #48109 "Request access to Google Analytics and/or Domo"
# Request Google Analytics and/or Domo access

## What this form is for
Use this template to request access to Google Analytics and/or Domo. Please complete steps 1 & 2 below.

## 1. Access Requirements
Please check the analytics tool(s) you need access to:
- [x] Google Analytics
- [x] Domo
- [ ] (Platform Teams only) BigQuery

## 2. User Email Address to Receive Access
**Due to privacy concerns,

[2022-10-11 20:28] michelle-dooley commented on #45159
Meeting with team on 10/12 to discuss MVP requirements.  As discussed internally any metrics that require chatlog data will need to be part of v2 after a data engineer in onboarded.

_notes from slack for reference:
As for the Chatlogs, that's data we'd need to be able to bring in BQ to be able to create many of these metrics. However, the amount of NLP work needed to actually do that is going to

[2022-10-11 20:28] loripusey opened #48110 "[BUG] [FE] Address Bugs Identified During Wireframe Audit"
## Background
[Audit Documentation](https://docs.google.com/spreadsheets/d/1vr5m0tfqAtCtBFLMvn54aU9bdWhxR7GRxNkZzw42G10/edit#gid=0)

## Tasks
- Fix the items marked as "bug" that are highlighted in yellow (**for both Pre-Check-in and Check-in**)
    - First one
        ![image.png](https://images.zenhubusercontent.com/60db6a817900f619905e68b1/67379823-19f2-4e43-8af4-6de35c27cf37)
    - Second one

[2022-10-11 20:35] loripusey commented on #47366
@zach-park I added a few questions and a comment to the spreadsheet.

[2022-10-11 20:38] Samara-Strauss opened #48111 "[Analytics] Discovery for the Profile team: Are we tracking the "I live on a United States military base outside of the United States." checkbox?"
### Background

@michelle-dooley -- I know you all are swamped right now, and this is a non-urgent request. Feel free to put this in your backlog and prioritize when you're eventually able.

The VA.gov profile team needs help answering the following question: Are we currently tracking how many people save a `Mailing address` or `Home address` with the "I live on a United States military base outsi

[2022-10-11 20:40] kristenmcconnell commented on #45318
VAOS is wrapping up their research report right now, which I'll review with them later this week. I will double check, but they haven't started making adjustments to their designs yet. This ticket may not be complete this sprint as a result.

[2022-10-11 20:41] ericasauv09 commented on #43508
[Sprint Plan](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/authenticated-experience/sprint-objectives/my-va/sprints-81-90.md#sprint-85-1019---111)

[2022-10-11 20:42] loripusey commented on #45318
we'll just roll it over until we are able to make progress on our end

[2022-10-11 20:43] Samara-Strauss commented on #48111
cc/ @SKasimow and @tpharrison that I created this ticket. In order for us to understand how serious of a bug #48040 is, we need to understand how many people who check "I live on a United States military base outside of the United States." are going through address validation. The first part of that is determining if we are even tracking how many people submit the mailing address forms with "I liv

[2022-10-11 20:48] taylojill commented on #47525
Message below:
Hi, ___! The Platform Content team would like to help you close ticket #____. The ticket author recommends adding a sentence and/or link to an existing page. It looks like an easy fix since they provided a suggested link. Let us know if you'd like to work with us to close this ticket!

[2022-10-11 20:49] #47777 closed

[2022-10-11 20:52] dawnpruitt commented on #47504
Reopening ticket to respectfully request Blake's access be changed to FULL MEMBER from multi-channel guest. It was my error, thank you so much!

[2022-10-11 21:00] benbrasso-agile6 commented on #46318
@kristenmcconnell would you mind adding any comments/thoughts to this [presentation outline](https://docs.google.com/document/d/13tiOp5FWISe5GAwUves-fr61YZfe83FzQYfYZdR4oZQ/edit#)? thanks

[2022-10-11 21:05] #47710 closed

[2022-10-11 21:17] laurwill commented on #47842
Update: I tweaked the claim exam section based on info from stakeholders Heather and Melanie, and sent for their review. I also removed the COVID alert and link to the FAQ from the claim exams page.

We're going to hold off on adding the VERA tool or making any updates to other sections for now.

I'm also splitting the facility status updates into a separate ticket, since those won't go live for a

[2022-10-11 21:21] laurwill opened #48112 "COVID FAQ updates — facility status messages"
## Issue Description
We need to update the [Covid FAQ page](https://www.va.gov/coronavirus-veteran-frequently-asked-questions/#claims-and-applications) to align with work on [Covid facility status levels](https://github.com/department-of-veterans-affairs/va.gov-team/issues/45855#event-7423230107)

We'll adjust the alert at top of page and the health protection levels section.

We need to confirm t

[2022-10-11 21:30] #46615 closed

[2022-10-11 21:39] simiadebowale commented on #47650
Thank you @ajmagdub, I'll create a ticket to implement this change.

[2022-10-11 21:39] #47650 closed

[2022-10-11 21:44] bevnobev opened #48113 "Request access to Google Analytics and/or Domo"
# Request Google Analytics and/or Domo access

## What this form is for
Use this template to request access to Google Analytics and/or Domo. Please complete steps 1 & 2 below.

## 1. Access Requirements
Please check the analytics tool(s) you need access to:
- [ ] Google Analytics
- [x ] Domo
- [ ] (Platform Teams only) BigQuery

## 2. User Email Address to Receive Access
**Due to privacy concerns,

[2022-10-11 22:00] andreahewitt-odd opened #48114 "Offboarding of Amy Goldman"
# Instructions
Fill out name of individual and *Description* section below.

*(Please add only one individual per form)*

# Description
Please provide the following information about the individual being offboarded:
- name:

- team name:

- role on team: UX Writer

- expected last day: _(MM/DD/YYYY)_

- company they work for:

- email: _(Multiple emails listed in order of relevance to VA business,

[2022-10-11 22:01] andreahewitt-odd commented on #48114
/request Amy Goldman

[2022-10-11 22:11] acrollet commented on #47578
[PR](https://github.com/department-of-veterans-affairs/chip/pull/1288) has been created and is awaiting code review.

[2022-10-11 22:18] gopixelsgo commented on #45606
Still finalizing this. Will continue into next sprint.

[2022-10-11 22:32] simiadebowale opened #48115 "Include facility timezone lookup in the VAOS::V2::AppointmentsController#create method"
## Description
We need to update the facilities timezone offset in the preferred timezone VAOS FE is sending back (endpoint/name of field)
This would apply to direct appointment workflow.

Background:
For V0, we were sending the veterans preferred date with a 0 offset: desiredDate: ${data.preferredDate}T00:00:00+00:00Z and the facility timezone in a separate timezone field. It was confirmed that V

[2022-10-11 22:39] #47354 closed

[2022-10-11 22:40] ldelacosta commented on #47354
Referencing the new working ticket #48115

[2022-10-11 22:44] ldelacosta commented on #48115
Copied @marcynadeau notes from #47437

### **Notes for testing:  Once this is fixed test in the course of testing this defect test the Clinic Wait Time 2.**
MBAA*1*13 caused the Clinic Wait Time2 NULL issue in CHYSHR.   The patch was backed out of CHYSHR. I retested today.

The  CID/Preferred date I entered  in VAOS was 10/1:
VistA shows.....OCT 02, 2022@18:00.  This is known defect.  https://gith

[2022-10-11 23:15] chloedotbrown commented on #42178
Updated both [All VA.gov Dashboard](https://va-gov.domo.com/page/1030131175) and [Monthly VA.gov Summary](https://va-gov.domo.com/page/1314425343) report with datasource that includes both ForeSee and Medallia monthly satisfaction ratings. Verified methodologies for each vendor with Ian from Contact Center team. Added annotations below cards on each graph explaining difference and how to read.

Cl

[2022-10-11 23:15] #42178 closed

[2022-10-11 23:40] bosawt commented on #46620
We are doing this now

[2022-10-11 23:40] #46620 closed

[2022-10-12 05:56] tayism opened #48116 "Present initial Platform mapping research at demo day"
## Issue Description
Once the data from our research is collected and synthesized, present the initial findings at the end of sprint Demo Day.

## Resources:
[Product Outline](https://vfs.atlassian.net/wiki/spaces/SDT/pages/2239954945/Product+Outline+-+System+Service+Overview+Map)
[Research Plan](https://vfs.atlassian.net/wiki/spaces/SDT/pages/2339143681/System+Service+Overview+Map+Research+Plan)

[2022-10-12 12:25] RLHecht opened #48117 "Fix typo in Form 22-5490 best bet on search.gov"
## Issue Description
Stakeholder Cinda Quattrini informed us there's a typo in the best bet on search.gov for Form 22-5490. It's currently showing as 22-5940 in the linkable text:

![Screen Shot 2022-10-12 at 8.23.37 AM.png](https://images.zenhubusercontent.com/5c9b7e302ac54336e2c327b8/39132022-4576-4a06-b829-38366e0e1c8d)

## Tasks
- [x] Change form number to 22-5490

## Acceptance Criteria
- [x]

[2022-10-12 13:01] mnorthuis commented on #48117
This is corrected and validated on production. I also added the key words "dependent education" to capture variations on that.

[2022-10-12 13:06] humancompanion-usds commented on #34955
The overall majority of components in the Design System (design.va.gov) are now converted from React to web-components and we have a plan to deprecate the React versions: https://vfs.atlassian.net/wiki/spaces/DST/pages/2243854357/Plan+-+Deprecation+plan+for+React+components

There are 10 React components that we will likely leave behind and not support moving forward and 1, [MaintenanceBanner](htt

[2022-10-12 13:14] jacobworrell opened #48118 "[CST]: Update CST code to work with Lighthouse Claims Status API endpoint (EVSS to Lighthouse migration)"
As part of the upcoming migration away from EVSS to Lighthouse APIs, we need to update CST to call Lighthouse end points instead of EVSS.

# Tasks

### Preliminary
- [x] #49505
- [x] #49503
- [x] #49508
- [x] #50028
- [x] #50030

### Administrative

- [x] #50986

### Frontend Only
- [x] #50036
- [x] #51603

### Backend Only
- [x] #50032
- [x] #50031
- [x] #50029
- [x] #49504

### Frontend and Back

[2022-10-12 13:15] #46768 closed

[2022-10-12 13:15] #46769 closed

[2022-10-12 13:21] laurwill commented on #47842
Hi @megzehn , SMEs approved the changes to the claim exams section — this is ready to copyedit/prepub/publish if you have time today!

http://preview-prod.vfs.va.gov/preview?nodeId=3014

[2022-10-12 13:31] RLHecht opened #48119 "Update NADL rate--HOLD TO PUBLISH FOR 10/24"
## Issue Description

The NADL rate on the [Native American direct loan](https://www.va.gov/housing-assistance/home-loans/loan-types/native-american-direct-loan/) page is changing on 10/24/22. We need to change the number to **6.00%**

**We need to publish this the morning of 10/24/22.**

## Tasks
- [x] Update rate (Aliyah)
- [x] Copyedit (Megan)
- [x] Publish (Megan)

## Acceptance Criteria
- [x]

[2022-10-12 13:33] #48117 closed

[2022-10-12 13:38] benbrasso-agile6 commented on #44383
10/11

![Screen Shot 2022-10-12 at 9.36.30 AM.png](https://images.zenhubusercontent.com/62264cddfdd7546d65710eff/5b316fd2-a7f1-4e9a-80b1-4586c8175eed)

[2022-10-12 13:58] joshkimux commented on #47358
Closing this as the content team will be returning to this in their rework!

[2022-10-12 13:58] #47358 closed

[2022-10-12 14:01] #47820 closed

[2022-10-12 14:05] #47529 closed

[2022-10-12 14:07] RLHecht commented on #47192
Update: In grooming we discussed asking Public Websites to do a search so we can ensure we are finding all instances.

[2022-10-12 14:07] kellysmith1008 commented on #47366
@loripusey I responded in the spreadsheet to one of the questions about the facility name but posting here too for reference. Screen readers read all caps as individual letters, not as full words. You can "program" screen readers to read common acronyms as words - NASA, UNESCO, etc - but I don't know how that translates to individual facilities.

[2022-10-12 14:13] loripusey commented on #47366
Thanks @kellysmith1008 , I created a [bug](https://app.zenhub.com/workspaces/check-in-experience-61fc23a2cb8a14001132e102/issues/department-of-veterans-affairs/va.gov-team/47874) about a week ago to address this issue.

[2022-10-12 14:17] jessicastump opened #48120 "[Research] Run Usability Research Sessions on Baseline Tasks for 10-10EZ"
## Issue Description
Conduct the usability research sessions on the baseline tasks for 10-10EZ.

## Resources
- [Research Plan](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/application/va-application/research/2023-01-Baseline%20Task%20Research/research-plan.md)
- [Conversation Guide](https://github.com/department-of-veterans-affairs/va.gov-team/blo

[2022-10-12 14:21] artsymartha68 commented on #47915
This is so great. Commenting so I get updates :)

[2022-10-12 14:25] kristenmcconnell commented on #46318
@benbrasso-agile6 I added some comments. Overall, the structure and points are good.

[2022-10-12 14:55] SKasimow commented on #48111
I'll pop into office hours tomo and see if they can walk me through how to do this myself.

[2022-10-12 14:55] vbellissimo opened #48121 "Demo Slack categories to Platform teams"

[2022-10-12 14:56] #47509 closed

[2022-10-12 14:56] #47510 closed

[2022-10-12 14:56] #46933 closed

[2022-10-12 14:57] #47134 closed

[2022-10-12 14:57] #47906 closed

[2022-10-12 14:58] #47994 closed

[2022-10-12 14:58] #47995 closed

[2022-10-12 14:58] #47525 closed

[2022-10-12 15:04] benbrasso-agile6 commented on #47874
Wonder how we'll consistently address this. I think some of the clinic and location names are quite obscure. Would be curious how VAOS is handling this too. At least, to be consistent across the apps.

[2022-10-12 15:16] loripusey commented on #47874
I think we'll have to make some assumptions, like if it's a clinic name that is capitalized that it should stay capitalized because we have nothing to tell us otherwise, might need engineers to look at the data

[2022-10-12 15:24] aschulhof opened #48122 "Adding Peter Olabowale to DSVA Slack"
# Description

**new user requests**: please verify that the user does not already exist in dsva.slack.com (it may be the account exists, but is not in a particular channel)

- Please add polabowale@fearless.tech as a full member.

Are you requesting to add an individual as a:

- Full member
- Single guest
- Multi-channel
- Switching from single-channel to multi-channel?
- What channel(s) do they

[2022-10-12 15:28] aliyahblackmore commented on #48119
Hi @megzehn this is ready for publish on 10/24!

**Preview link:** http://preview-prod.vfs.va.gov/preview?nodeId=758

[2022-10-12 15:45] AGarcia-Clarity opened #48124 "Refresh bug"
## Description
Currently AT/RT are staying outdated and not being refreshed properly after the 5 minute AT expiration. Users are reportedly stuck in a precarious state (being authenticated on the FE without an AT/RT and unable to logout to retry).

## Tasks
- [x] Diagnose and troubleshoot why refreshes are not occuring
- [x] Fix code so that the `/refresh` endpoint is being properly hit

[2022-10-12 15:46] #47437 closed

[2022-10-12 15:48] #41154 closed

[2022-10-12 15:49] oseasmoran73 commented on #48031
Verified in cloudtrail that keys have been rotated. Updated confluence documentation to view RotateKey page

[2022-10-12 15:51] #22303 closed

[2022-10-12 15:55] #44540 closed

[2022-10-12 16:00] #47135 closed

[2022-10-12 16:05] jacobworrell opened #48125 "CST: Reducing time to initial decision"
## Product Outline
[Link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/product-management/product-outline-template.md)

## High Level User Story/ies
As a veteran, I need to know exactly what actions I can take to accelerate my claims decision timeline and increase the likelihood I receive a favorable decision, so I can can receive the disability payments I'm e

[2022-10-12 16:05] loripusey opened #48126 "[BUG] [FE] Comment Out "Go to another appointment" Link"
## Description

The purpose and use case of the "Go to another appointment" is not only obscure but results in a bug where if you only have one appointment for the day it takes you back to an empty list of appointments. A temporary solution is to remove the link until the appointment list is fixed so that it shows appointments that are already check in to. See issue: https://github.com/department-

[2022-10-12 16:11] DanielleThierryUSDSVA commented on #47794
This is great, @laurwill @aliyahblackmore!

My only question is should the "How do I talk to someone right now?" be more like "When to get help right away"? I think the goal is to tell folks when they should not use secure messaging but rather get help right now by other means so I think that declarative might work better as the alert header. Thoughts?

[2022-10-12 16:11] #46632 closed

[2022-10-12 16:12] benbrasso-agile6 commented on #47443
If there's time left after other tickets are complete, we can get to this work.

[2022-10-12 16:14] jessicastump opened #48127 "[Research] 10-10CG - Facilities (and baseline): Run Facilities/Usability Research Sessions for 10-10CG"
## Issue Description
Conduct the usability research sessions on the 10-10CG for overall tasks and new facilities updates.

## Resources
- [Research Plan](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/caregivers/research/2023-04-Facilities%20and%20Overall%20Usability%20Research/research-plan.md)
- [Conversation Guide](https://github.com/department-of-veterans-af

[2022-10-12 16:31] ldelacosta commented on #47258
We will size the work when #47257 and $45823 is done.

[2022-10-12 16:39] #47768 closed

[2022-10-12 16:41] kristenmcconnell commented on #47372
Closing ticket for now. We talked to Chris about what they will be able to detect on the backend (can they split this into two messages or not). He isn't sure what they will be able to create. The PCI API team's work is slated for the Nov. 1 sprint, so they will let us know what they can do then. We will be able to update any product guides or documentation afterwards.

[2022-10-12 16:41] #47372 closed

[2022-10-12 16:43] tayism commented on #47947
[We started documenting examples here](https://app.mural.co/t/adhocvetsgov9623/m/adhocvetsgov9623/1665517968025/7f0b6ae502331974299f47ba1ca6a24c63dc5c12?sender=u9ea6bd3ca12795949b606150)

[2022-10-12 16:44] twoangstroms opened #48129 "Proposal for SDT role in Project process"
## Issue Description
Create a document describing the vision for SDT role in the Project creation process before/as a team is assigned

## Desired Outcome(s)
-identify and describe the problem space
-identify and describe the value of SDT participation
-outline the process of SDT's involvement
-suggest outcomes

## Resources
[Proposal notes](https://vfs.atlassian.net/wiki/spaces/~622b5b63932f0f007

[2022-10-12 16:44] laurwill commented on #47794
Thanks @DanielleThierryUSDSVA ! I agree, the declarative is more direct here.

@megzehn could you give this a copyedit before we pass off to the product team? Thank you!
[Info alert] **When to get help right away**
**If you think your life or health is in danger,** call 911 or go to the nearest emergency room.
**If you’re in crisis and need to talk with someone right away,** call 988, then select

[2022-10-12 16:51] #44663 closed

[2022-10-12 16:51] brianseek commented on #47705
@zach-park this is ready to validate. Note that the footer (Need Help) section is in another ticket.
See attached screenshots:[https://app.zenhub.com/files/133843125/3ca62cb1-48a7-482b-b923-e4bf95982da5/download](https://app.zenhub.com/files/133843125/3ca62cb1-48a7-482b-b923-e4bf95982da5/download)

[2022-10-12 16:53] SKasimow commented on #43682
@cgednalske - I can leave open until we get input on best way to order the choices and terminology used.
I *think* we said we weren't going to pursue the addition of a text input field but I may be recalling this incorrectly; I'll see if I have any notes.

[2022-10-12 17:00] tpharrison commented on #47929
@SKasimow - Here is the doc that identifies military info response fields from VA Profile...

https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/blob/master/products/identity-personalization/profile/military_info/vaprofile_response_fields.md

We can discuss tomorrow at our 1:1 meeting.

[2022-10-12 17:00] #47929 closed

[2022-10-12 17:06] rjohnson2011 opened #48130 "Add Manual Instrumentation to Document Upload Job"
## Description
In an investigation of the longest-running Sidekiq jobs, DocumentUpload was the longest. To determine the specific causes of these long processes, manual instrumentation is being added to assess the time required to perform the virus scan portion of the upload job.

## Tasks
-[ ] Add Manual Instrumentation for [DataDog](https://docs.datadoghq.com/tracing/trace_collection/dd_librarie

[2022-10-12 17:06] ericboehs opened #48131 "Connect Datadog Logs and Traces"
When viewing an APM trace in Datadog, associated logs are not available. If you search for the trace_id, logs do return.

<img width="1851" alt="image" src="https://user-images.githubusercontent.com/28198/195403199-e26dd04d-59f3-497e-a50d-1f1acd3b8707.png">

## Task

- [x] Investigate why Datadog is not associating logs with traces and solve.

## Reproduction Steps

1. In Datadog, **navigate** to

[2022-10-12 17:18] denisecoveyduc commented on #47339
@mgleo I will close this one out since the changes look good but let's sync up with @Dr-Pongo and @OptionSelect on how they like to do design>dev handover.
cc: @briepipitone

[2022-10-12 17:18] #47339 closed

[2022-10-12 17:18] #46088 closed

[2022-10-12 17:18] #46115 closed

[2022-10-12 17:19] #46160 closed

[2022-10-12 17:19] #29976 closed

[2022-10-12 17:20] #44923 closed

[2022-10-12 17:22] denisecoveyduc commented on #47318
Oct 7 - received word from Jill Anderson (DMC) that we can turn VBMS letter download back on. @ScottyRJames did so at 3:30pm EST.

[2022-10-12 17:22] #47318 closed

[2022-10-12 17:22] Samara-Strauss commented on #48111
Thanks @SKasimow! We may not be tracking this checkbox, so if we're not, our next step would be to create a formal request to add tracking when the analytics team has bandwidth.

[2022-10-12 17:23] laurwill commented on #47747
Hi @alexiawunder ,
Here's our suggested content updates for the emergency note:

[Alert header] **When to get help right away**
**If you think your life or health is in danger,** call [911](url) or go to the nearest emergency room.
**If you’re in crisis and need to talk with someone right away,** call [988](url), then select 1.
**If you have an urgent question for your VA care team,** call your VA

[2022-10-12 17:30] jhouse-solvd commented on #47630
@mchelen-gov - I took a look at this. Sentry is now deployed via EKS [(configuration here)](https://github.com/department-of-veterans-affairs/vsp-infra-application-manifests/tree/main/apps/vsp-operations/sentry). There's a README but there's nothing in it yet. I'm not sure how useful or relevant that would be for VFS developers.

Some options:

- Part of me thinks it could be good to just **remove

[2022-10-12 17:30] denisecoveyduc opened #48132 "FSR Future Consideration"
## Product Outline
The online Financial Status Report (FSR) has been live since November 16, 2021. As time goes on we are collecting feedback from various sources (Veterans, Stakeholders, VSP Platform, VFS Team, etc)  outlining various ways to potentially improve the overall experience.  This epic is a consolidation of feedback that isn't currently slated for development but capturing for future c

[2022-10-12 17:35] markfallows commented on #47952
After discussing with Patrick Bateman, it was indicated that we would need to translate the entire application and not just the instruction pages.

Meeting with Danielle from the Content team will be set for after 10/14 so we can speak with the CG stakeholders to ensure everyone is on the same/right page.

[2022-10-12 17:35] laucon commented on #47630
I think removing the line would be easiest. @mchelen-gov what do you think?

[2022-10-12 17:35] denisecoveyduc commented on #43909
Hey @ScottyRJames I am going to add this one to the FSR Enhancement release so we can get this done. Now that VHA is part of the mix we will need to have the added clarity. Highlighting it for you since it might make sense to do this with the submission notification you are working on now.

[2022-10-12 17:44] denisecoveyduc opened #48133 "Wizard Work"
## Product Outline
The Wizard experience at the beginning of the FSR experience needs to be updated for a few reasons:

- better inclusion of copay paths
- rework of overall design format/experience "one question per page"
- addition of a payment path
- connection with streamlined waiver

## Definition of done

- [ ] Team has identified a path forward to update the wizard to align with current app

[2022-10-12 17:44] loripusey commented on #47705
Couple issues:
1. Travel from home address screen - wireframe says "here" but code says "below"
    ![image](https://user-images.githubusercontent.com/86678742/195410989-473f3623-5ac2-48bb-be99-7f3388d2e06e.png)
    ![image](https://user-images.githubusercontent.com/86678742/195410938-becef288-d633-4e70-81c1-24908b145ac0.png)

2. Couldn't file claim - wireframe title is different from code
    ![i

[2022-10-12 17:49] #12211 closed

[2022-10-12 17:54] djfredvs opened #48134 "10/26/22 3 PM AVS Open Office Hour"
## Description
Every week the product support team hosts a bi-weekly office hours to advertize or demo new or existing features, communicate updates to our users, and hold an open forum to answer questions from users live.

---

## Agenda
What is the agenda for office hours?
Review Fillable Pre Visit Summary PDF form
Support Line
AVS Newsletter
---

## Acceptance Criteria
- [X] Agenda created and

[2022-10-12 17:54] saderagsdale opened #48135 "Supplemental Claims | Select Claimant type"
## Value Statement
**_As a_** Veteran
**_I want to_** designate myself as the claimant
**_So that_** I can file a supplemental claim on VA.gov.

---
## Background Context
For MVP, we are only supporting Veterans as the claimant. Those who do not identify as a Veteran will need to either fill out the PDF or go to an authorized representative to file their claim.

## Acceptance Criteria
- [ ] The us

[2022-10-12 17:55] Robperea opened #48136 "SOCKS access for [individual]"
### Your Name

Robert Perea-Martinez

### Your Email

robert.perea-martinez@adhocteam.us

### Your Role and Team

Product Manager on Lighthouse

### Product Manager (PM) name and email

Kayla Watanabe kayla.watanabe@adhocteam.us

### Product Owner (PO) name and email

Janet Coutinho janet.coutinho@va.gov

### Access Type Requesting

developers

### Public SSH Key

ssh-ed25519 AAAAC3NzaC1lZDI1NTE5A

[2022-10-12 17:58] saderagsdale commented on #48135
@joshkimux Hey! What would be the best way to get accessibility AC written into this story?

[2022-10-12 17:59] andaleliz commented on #47381
I'm still making progress! This is taking longer than normal since we had such a large participant pool.  Next time, I'm going to schedule a day between the 2nd and 3rd days so we can cancel last-day sessions if we've met our goal without violating the late cancel guidelines.

Affinity mapping is complete and I hope to have the report out for review tomorrow.

[2022-10-12 18:05] zach-park commented on #47366
@loripusey , yes. The audit task is complete.

[2022-10-12 18:06] brianseek commented on #47705
thanks @loripusey I'll get a quick follow on PR for those!

[2022-10-12 18:09] #48035 closed

[2022-10-12 18:09] vbellissimo opened #48137 "Create keyword to auto response mappings"
### Tasks
- [ ] Create a list of keywords about the deployment process would result in accompanying information we already have instructions in this section: https://vfs.atlassian.net/wiki/spaces/CIT/pages/2401239503/2022+Q4+Include+Platform+Content+into+Slack+Support+Bot

- [ ] Map keywords to appropriate URLs on a spreadsheet

- [ ] Request to add those auto-responses to our existing slack suppo

[2022-10-12 18:11] denisecoveyduc commented on #27923
@Dr-Pongo and @OptionSelect will confirm, we think this has been resolved.

[2022-10-12 18:11] saderagsdale opened #48138 "Supplemental Claims | Build the Form"
## Value Statement
**_As a_** team
**_We want to_** define the development work for MVP Supplemental Claims
**_So that_** we can build the form incrementally.

---
## Background Context
This epic of epics aims to track the development work required to build the form. Here you'll find helpful documentation, attachments of epics related to various sections of the form, and other way-finding material

[2022-10-12 18:12] starlow00 commented on #47748
No changes from VEO. Draft is attached for reference.
[Notification Letter Tool Product Guide v1.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/9767655/Notification.Letter.Tool.Product.Guide.v1.docx)

[2022-10-12 18:12] #47748 closed

[2022-10-12 18:13] #47342 closed

[2022-10-12 18:15] starlow00 commented on #46434
Sprint goal for KMs reviewed is on track going into Sprint 11.

[2022-10-12 18:16] starlow00 commented on #46433
See https://github.com/department-of-veterans-affairs/va.gov-team/issues/46434

[2022-10-12 18:16] starlow00 commented on #47256
KM audited on schedule going into Sprint 11

[2022-10-12 18:18] denisecoveyduc commented on #39545
Notifications are set up to go to the manage-va-debt url. which is what we want. No change needed

[2022-10-12 18:18] #39545 closed

[2022-10-12 18:20] ericboehs commented on #48131
Kyle isn't sure why BRD isn't working but has noted that EKS works as intended.

Closing as BRD is deprecated.

[2022-10-12 18:20] #48131 closed

[2022-10-12 18:22] SKasimow commented on #46731
Hi -  to @davidakennedy point, we will add in a GA custom event to track the the occurrences of multiple errors on address validation. We plan to tackle this in our next sprint (starts next week) and then will review after it is in place for ~ 1 month. Will share findings.

[2022-10-12 18:25] ianMcCullough-ob commented on #48007
Hello @ldelacosta, I just shared a folder with the exports on OneDrive. There are two files within the folder, one for each URL you requested.

Let me know if you need anything else. Thanks!

[2022-10-12 18:25] #48007 closed

[2022-10-12 18:26] ScottyRJames commented on #39033
DMC has requested we move forward with option #1

[2022-10-12 18:30] denisecoveyduc commented on #45039
@mgleo do the copy changes covered in 47339 cover this or are there other areas where we need to weave in the overpayment term?

[2022-10-12 18:33] laineymajor opened #48139 "Migration Cleanup"
https://adhoc.slack.com/archives/C044CFUU5DK/p1665598063453989
- Need to complete some investigation to determine how this applies to us. Jobs get orphaned, and we need to clean up this work.

## Product Outline
[Link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/product-management/product-outline-template.md)

## High Level User Story/ies
As a _____, I need _

[2022-10-12 18:39] zach-park commented on #47705
@brianseek , here is the[ link to the UX audit comment](https://share.goabstract.com/7494e56c-7da9-4de2-b863-512c0ab2f5e7) regarding them. Overall they look really great. Most comments were related to the content for the "Need Help?" section and the "Go to another appointment" link (which we discussed today). Thank you!

[2022-10-12 18:45] shiragoodman opened #48140 "Announce new research artifacts in #research-ops channel"
## Description
Announce 3 new research-related artifacts now available on the Platform Website/Research space.

Assignee: @naomimarcussen

## Impacted Artifacts
#41696, #41667, & #41709

## Tasks
- [ ] Announce in the #research-ops Slack channel the 3 new guidance docs on Platform Website

## Acceptance Criteria
- [ ] VFS teams are notified via #research-ops Slack channel of new guidance on PW

##

[2022-10-12 18:49] benbrasso-agile6 commented on #47705
Left a comment here, re: Need Help section https://app.abstract.com/projects/ab30c34e-e2f9-4d3e-bb96-3b683b006c24/branches/ecc65d23-3ae2-47cb-9a52-8ab4fa9dab29/commits/90732b6508a978917b6f99e6508545537517a979/files/a5e6b375-5806-423f-b89c-94ca0a001c3c/layers/9EC66113-FD31-4500-8ACD-19EDA61662AD?commentId=5511bfbd-4e85-4db6-90f7-d7cafb783621

[2022-10-12 18:50] Asterix22 opened #48141 "AWS access for Aaron Read"
### COR Name

Other - please specify in 'Additional Notes'

### Vendor Onboarding Representative Name

Other - please specify in 'Additional Notes'

### Your Name

Aaron Read

### Your Email

Aaron.Read@va.gov

### Team, Role, and Company of the target individual

My HealtheVet, Test Automation Team Lead, By Light Professional IT Services

### Product Manager (PM) name and email

lichelle.bain@va.

[2022-10-12 18:51] #47508 closed

[2022-10-12 18:56] #48124 closed

[2022-10-12 18:56] benbrasso-agile6 commented on #47705
Looks nice

[2022-10-12 18:56] oseasmoran73 commented on #18261
Not creating alerting, but team-3 (Charlie) creating monitoring for vets-api RDS

Ticket found here https://github.com/department-of-veterans-affairs/va.gov-team/issues/47463#event-7544938897

In an ideal world, may make sense to have this as an alert. Not sure if we have a ticket for it @npeterson54 , but throwing it on your radar

[2022-10-12 19:00] saderagsdale opened #48142 "Supplemental Claims | Select Benefit Type"
## Value Statement
**_As a_** Veteran
**_I want to_** file a supplemental claim for disability compensation benefits
**_So that_** I can receive a favorable decision.

---
## Background Context
For MVP, we are only enabling Veterans to file for disability compensation. For other benefit types, Veterans need to either fill out the PDF or go to an authorized representative to file their claim.

## A

[2022-10-12 19:03] ajakabcin commented on #43281
Revisit, updated and completed launch go/go-no checklist - we're ready to proceed with our phased launch tomorrow, 10/13

[2022-10-12 19:06] oseasmoran73 commented on #47463
Modifying information to pertain to vets-api. Found here https://vagov.ddog-gov.com/dashboard/qfr-rtt-hhu?tpl_var_env%5B0%5D=prod&tpl_var_env%5B1%5D=vagov-prod&from_ts=1665589532598&to_ts=1665593132598&live=true

[2022-10-12 19:07] #47925 closed

[2022-10-12 19:07] iriteshp opened #48143 "AWS access for Ritesh Patel"
### COR Name

Cecila Lee

### Vendor Onboarding Representative Name

Liberty IT -  Michael G. Lovejoy

### Your Name

Ritesh Patel

### Your Email

ritesh.patel@adhocteam.us

### Team, Role, and Company of the target individual

Koala, Lighthouse, Adhoc LLC

### Product Manager (PM) name and email

Alayna Abel, alayna@adhocteam.us

### Product Owner (PO) name and email

Dave Mazik, david.mazik@va.

[2022-10-12 19:08] markfallows commented on #47939
Repurpose ticket for updating the content of the SIGI after it's been confirmed.

[2022-10-12 19:13] markfallows commented on #47957
Lihan has confirmed that both data points can be tracked.

[2022-10-12 19:14] #47776 closed

[2022-10-12 19:15] #47778 closed

[2022-10-12 19:17] hdjustice commented on #27066
Closing this ticket - we will be starting this feature over from the beginning and will submit for a new collab cycle

[2022-10-12 19:17] #27066 closed

[2022-10-12 19:18] markfallows opened #48144 "Refactor Custom Review Field Unit Test"
Once the list-loop for the Household Information and Insurance Sections are changed/updated and we're not using it anymore, we need to update the unit tests.

[2022-10-12 19:18] markfallows opened #48145 "Refactor Custom Review Field Unit Test"
Once the list-loop for the Household Information and Insurance Sections are changed/updated and we're not using it anymore, we need to update the unit tests.

[2022-10-12 19:20] #48144 closed

[2022-10-12 19:24] LindseySaari commented on #48031
I worked with @holdenhinkle to flesh out some of the details around how to approach the record rotation. As stated above, @oseasmoran73, verified that the keys were in fact rotated on 10-11-2022. Since automatic KMS key rotation has **no effect** on the data that the KMS key protects, we will need to rotate the data keys manually.

Thankfully, the kms_encrypted gem provides a [rotation method](htt

[2022-10-12 19:24] jacobworrell commented on #48118
@samcoforma @jerekshoe please break apart this ticket into workable slices.

[2022-10-12 19:30] jerekshoe opened #48146 "Remove unneeded feature flags"
## Background
We have removed references to 2 different feature flags from `vets-website`:
* `request_locked_pdf_password`
* `evss_upload_limit_150mb`

They need to be removed from `vets-api` as well

## Tasks
- [x] Make PR to remove feature flags referenced above

## Acceptance Criteria
- [ ] PR has been merged

[2022-10-12 19:30] jessicastump commented on #46904
Sketch links aligning with design system gender pattern - single/optional question, [shared 10/12](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/application/va-application/product/Bi-weekly%20Stakeholder%20Mtg%20notes/10-12-22%20HEC%20Bi-weekly%20Health%20Care%20app%20update.md#101222-agenda-items):
- [Desktop](https://www.sketch.com/s/da85cf44-4503

[2022-10-12 19:36] michelle-dooley commented on #41730
Resolved.  Closing again.

[2022-10-12 19:36] #41730 closed

[2022-10-12 19:40] #47507 closed

[2022-10-12 19:42] jaredcunha commented on #47444
I don't know the provenance of this selector, but it seems like an attempted patch at something, probably this bug, but it didn't work:
https://github.com/department-of-veterans-affairs/vets-website/blob/main/src/applications/pre-need/sass/pre-need.scss#L44

That was part of this update:
https://github.com/department-of-veterans-affairs/vets-website/commit/06a9e1564041ca22e090a47a6ec831b145263082

[2022-10-12 19:43] michelle-dooley commented on #48113
Domo access granted.

[2022-10-12 19:43] #48113 closed

[2022-10-12 19:45] michelle-dooley commented on #48109
Access granted.

[2022-10-12 19:45] #48109 closed

[2022-10-12 19:46] SKasimow commented on #47381
Sounds good!

[2022-10-12 19:50] michelle-dooley commented on #48056
Access granted.

[2022-10-12 19:50] #48056 closed

[2022-10-12 19:52] SKasimow opened #48147 "FE | Profile | Custom Analytics Implementation for Multiple Errors on Address Validation"
## Background

We want to determine how frequently a user may run into multiple address validation errors when adding or updating their home or mailing address. This may be especially problematic for screenreader users as the screenreader typically reads out only the first or last error.

To implement tracking we will use a GA custom event to track the number of address additions or updates along

[2022-10-12 19:52] michelle-dooley commented on #48114
Removed Domo, no GA

[2022-10-12 19:54] michelle-dooley commented on #47959
Removed Domo, no GA

[2022-10-12 19:56] loripusey opened #48148 "[FE] Display Error Message when Insurance Review Needed"
## User Story
As a Veteran who uses my Pre-Check-in link to check-in during my appointment window, if I need my insurance reviewed and need to check-in with a staff member, I would like to see a message that tells me that.

## User flow
TBD

## Wireframes
TBD

## Tasks
- [ ] [FE] **_insert frontend work_**
- [ ] Create or update unit tests
- [ ] Create or update e2e tests
- [ ] Update relevant doc

[2022-10-12 20:13] SKasimow opened #48149 "Profile Team | Sprint 86 | Nov 2 - Nov 15"
## PTO/OOO/Unavailable

- **Adam**: 11/11, 11/14
- **Christina**:
- **Sharon**:  11/11
- **Tom**:
- **Samara**:  11/11
- **Liz**:
- **John**: 11/8, 11/11
- **Erica**:  Nov 4

**Note: Veteran's Day Nov 11th**

## Retro Board is open!:
- [ ] [Sprint 85](https://www.reetro.app/board/6203c8f3edfa6100174612bb/633c701adb1fde17f3c8b447)

---

## Sprint Priorities:
- Continue accessibility work
- Recommen

[2022-10-12 20:13] jaredcunha commented on #47444
Some other issues I'm noticing with this:
- Nested fieldsets don't seem necessary
- Shouldn't the hint be programmatically linked?

A patch would be to take the hint text and put it in parenthesis, which is how most of the hint text is handled elsewhere on the form. But I think there is still something going on with the ObjectField component. This fixes the double text issue here, but not the nest

[2022-10-12 20:14] djfredvs opened #48150 "10/31/22 9:30 AM Power BI Dashboard Training"
Booked by Pamela Miller

[2022-10-12 20:16] joshkimux commented on #47444
@jaredcunha ooph, yea, I don't see the need for a nested fieldset here and assumed it was a flat out bug to be fixed (as opposed to something intentional). There's also the content issue of this being addressed to "you" and not the "sponsor" 😦

[2022-10-12 20:17] SKasimow opened #48151 "Design | Profile | Fiduciary Flag across Profile"
## Background

Currently if an account has a fiduciary flag we block access for the Direct Deposit feature.
We should block the ability to view/update additional features since any changes to a flagged account will not actually be recorded/changed by VA Profile.

We need to draft the UI and content for the additional features we want to block (or entire Profile):
- Personal info
- Contact info
- M

[2022-10-12 20:23] jaredcunha commented on #47444
The `<ObjectField>` component looks like it does a LOT of things and there's a ton of conditional logic within it. It's used for the checkbox, it's used in a zip code field. It might be used for everything? Might need to raise this with the platform team.

[2022-10-12 20:24] jaredcunha commented on #47444
@joshkimux what do you think we should do with this ticket?

[2022-10-12 20:24] taylojill commented on #45284
Hi @dcloud Thank you for the feedback. The backticks have been removed. The pages will be published today or tomorrow.
cc @vbellissimo

[2022-10-12 20:25] joshkimux commented on #47444
@jaredcunha I'm not as fluent on the technical side here, so I trust and support your intuition on raising this with the platform team! Thank you for digging into this as well as expertly as you always do ❤️

[2022-10-12 20:26] lindsay-insco opened #48152 "Ability to opt-out of multiple/all VEText Use Cases / Short Codes"
There have been requests for Veterans to be able to opt-out of more than just the first short code features (appointment reminders, etc.) which is what they are limited to at this time.

Two options proposed:

1. On the VEText patient message tool, we expand the "opt-out" checkbox to become a multi-selection DDL for each use case/stop code so that staff can opt patients in or out of necessary UCs

[2022-10-12 20:29] benbrasso-agile6 commented on #47117
posted to git - https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/checkin/product/product-guides/README.md

[2022-10-12 20:34] benbrasso-agile6 commented on #47117
@zach-park in the user flows, on the last square, can you update the wording to read:

We'll come get you from the waiting room when it's time for your appointment to start. If you wait more than 15 minutes, tell a staff member.

Here's a link to the user flow in abstract:
https://share.goabstract.com/3d58748e-1359-4a5c-afc6-c8514ddc2a73?collectionLayerId=aeda98c5-f71f-487d-b70e-8297d0d59866&mode=

[2022-10-12 20:35] benbrasso-agile6 commented on #47117
@kellysmith1008 once that's updated, we can re-add that user flow in the day of check in product guide.

[2022-10-12 20:35] joeniquette commented on #37206
completed and added to DD dashboard

[2022-10-12 20:39] acrollet commented on #48034
I've reproduced this issue on staging:

![Screen Shot 2022-10-12 at 11.45.57.png](https://images.zenhubusercontent.com/5f6b95e44ede53b783cfcc8e/a21c04ab-c0da-4da5-b439-1bf3c075ef74)
![Screen Shot 2022-10-12 at 11.46.09.png](https://images.zenhubusercontent.com/5f6b95e44ede53b783cfcc8e/ef0264ce-696c-4feb-8264-bdd85172b2ae)
![Screen Shot 2022-10-12 at 11.46.22.png](https://images.zenhubusercontent.c

[2022-10-12 20:40] acrollet commented on #48034
I confirmed that the checked-in appointment is not returned from CHIP when refreshing appointments.

![Screen Shot 2022-10-12 at 13.14.57.png](https://images.zenhubusercontent.com/5f6b95e44ede53b783cfcc8e/6f604283-8ae4-4f65-a41d-e21f1ff5fb17)

[2022-10-12 20:40] hdjustice commented on #46904
Per our [bi-weekly meeting with the HEC team](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/application/va-application/product/Bi-weekly%20Stakeholder%20Mtg%20notes/10-12-22%20HEC%20Bi-weekly%20Health%20Care%20app%20update.md) (Tarsha and Christopher Hawkins), a concern was expressed that the Gender options did not match the paper form (Man vs Male,

[2022-10-12 20:45] benbrasso-agile6 commented on #47121
published guides to git

[2022-10-12 20:50] #48146 closed

[2022-10-12 21:00] pjhill commented on #47577
Thanks for writing up that Confluence document. I've read through your analysis, and I've tried to provide clarifying comments where possible based on my understanding. Perhaps we should get together as a team for 20-30 mins and try to talk through the capabilities to see if it's worth pursuing Tugboat as our review environment deployment tool.

[2022-10-12 21:32] laurwill commented on #47192
Update on content guidance here:
- Login.gov also needs "verified" account
- We'll put the accounts in the order from the sign-in block consistently
- We'll edit the line on some pages that says you can create an ID.me account "on VA.gov"

[2022-10-12 21:50] zach-park commented on #47117
@benbrasso-agile6 @kellysmith1008 , [user flow is updated](https://share.goabstract.com/3d58748e-1359-4a5c-afc6-c8514ddc2a73?collectionLayerId=aeda98c5-f71f-487d-b70e-8297d0d59866&mode=design).

[2022-10-12 23:07] theodur commented on #47910
For setting up ElastiCache monitoring, there are two methods:
- [Installation without Datadog Agent](https://docs.datadoghq.com/integrations/amazon_elasticache/#installation-without-datadog-agent)
- [Installation with Datadog Agent (recommended)](https://docs.datadoghq.com/integrations/amazon_elasticache/#installation-with-datadog-agent-recommended)

After looking through the [Ansible DataDog role

[2022-10-12 23:23] cgednalske commented on #47266
Hi @Samara-Strauss and @SKasimow -- a few updates on this work.

To get a better sense of the nametag's progression and the basis for the information included, I dug into [past tickets](https://github.com/department-of-veterans-affairs/va.gov-team/issues/13918) and designs for the nametag, as well as Angela A's [recent work](https://github.com/department-of-veterans-affairs/va.gov-team/issues/4671

[2022-10-12 23:30] chloedotbrown commented on #45133
@LucianaAlexanderMorais and @ianpsant - thanks for joining for the walk-thru today!

As promised, I'm sharing a slimmed down version of the [KPI Discovery spreadsheet](https://docs.google.com/spreadsheets/d/1Tf9hcqwXySDtnm13oZ3frJdMUsuBGLFzEdV_4YoMPA8/edit#gid=1059164360) we walked through this afternoon for you to review and weigh in on. I've cut this down to just one sheet and hidden the columns

[2022-10-13 03:44] megzehn commented on #46710
Hi @RLHecht and @mmiddaugh! Sending a few updates over before I take off for the next week:

- Cleveland (this one's ready to be published)
- Johnson City (reviewed and sent to Tiffany)
- Wichita (reviewed and sent to Tiffany)
- Minot (reviewed and sent a few pieces of feedback back to the VC)

I did not finish reviewing Pampano Beach, but I noticed they didn't have any CAPs listed, and their hour

[2022-10-13 13:02] #46150 closed

[2022-10-13 13:16] ianhundere opened #48153 "Update setup-terraform and alert on plan failure as well as not alert on just output changes."
## Description
The TF drift detector has a couple of issues in that failures don't get alerted on as well as any plan with outputs does get alerted on.

## Acceptance Criteria
 - [x] outputs are not alerted on
 - [x] plan failures are alerted on

[2022-10-13 13:18] benbrasso-agile6 commented on #44383
10/12

![Screen Shot 2022-10-13 at 9.14.36 AM.png](https://images.zenhubusercontent.com/62264cddfdd7546d65710eff/64eca36f-1e02-4801-8d2e-984874439049)

[2022-10-13 13:19] benbrasso-agile6 commented on #46817
@RLHecht moving up to 20% of Veterans for today

[2022-10-13 13:38] Samara-Strauss commented on #47266
All of this sounds great to me!

I do have a question about the code changes. I want to make sure that the nametag doesn't get read out on each page of the profile, because I don't think it needs to, and my hypothesis is that it would be annoying and redundant for screen reader users. Can you clarify how and when the nametag would get read out? I trust that you all talked about this, it's just not

[2022-10-13 13:43] kellysmith1008 commented on #47117
@benbrasso-agile6 @zach-park I've updated the product guides and posted to git - https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/checkin/product/product-guides/README.md

[2022-10-13 13:44] benbrasso-agile6 commented on #47117
Nice work

[2022-10-13 13:44] #47117 closed

[2022-10-13 13:54] jamigibbs commented on #45510
@michelle-dooley Just a quick follow-up on the components that we still need GA tracking for here. I've added a few more details for each one but let me know if there's anything else's needed for them.

- [ ]  **Date (va-date)**

Example: https://design.va.gov/storybook/?path=/docs/components-va-date--default
- Fires when the date input loses focus after its value was changed.
- Sensitive componen

[2022-10-13 14:05] shiragoodman commented on #48010
All Platform tasks complete.

[2022-10-13 14:06] #30097 closed

[2022-10-13 14:08] shiragoodman commented on #47914
All Platform tasks complete.

[2022-10-13 14:08] shiragoodman commented on #47786
All Platform tasks complete.

[2022-10-13 14:09] aubreyarcangel commented on #43214
@andaleliz We have completed all the recommendations in this ticket.  All the CSS updates are in [this PR](https://github.com/department-of-veterans-affairs/vets-website/pull/22187) and the qualitative descriptions option answers and "Submit Feedback" copy change on the submit button were completed by the Medallia team.

[2022-10-13 14:09] shiragoodman commented on #47740
All Platform tasks complete.

[2022-10-13 14:11] shiragoodman commented on #47729
All Platform tasks complete.

[2022-10-13 14:13] Cmjones233 commented on #47850
Draft was posted and reviewed by team. Revisions have been applied

[2022-10-13 14:19] loripusey commented on #48034
@Hortonio We would like for all appointments for today for the Veteran to be returned to us, including ones for which the Veteran has already checked-in to, so that we can display the appropriate message to the user for each appointment. Can we get this work prioritized in the PCI/API team's backlog?
cc: @acrollet @benbrasso-agile6

[2022-10-13 14:35] michelle-dooley opened #48154 "GA4: Data, Dashboard & Report - Updates"
## Problem Statement
As part of the GA4 migration we will need to update/create new BQ data tables based on the GA4 data model.  We will then need to update our Domo dashboards to reflect the new data and determine how to present UA and GA4 data in conjunction with each other.

## Hypothesis or Bet
If we update our data sources and dashboards with the new GA4 data we will motivate VFS teams to ful

[2022-10-13 14:36] ericasauv09 opened #48155 "Content Request from Auth Exp - My VA - "My VA audit improvements""
## What does your team need support for? Check all that apply.
- [ ] Launching one or more new unauthenticated (static) VA.gov pages
- [ ] Making revisions to one or more existing unauthenticated (static) VA.gov page
- [ ] Launching a new online form, app, or tool on VA.gov
- [ ] Making revisions to an existing online form, app, or tool on VA.gov
- [x] Something else (please add details in the nex

[2022-10-13 14:37] saderagsdale opened #48156 "Supplemental Claims | Follow these steps to get started"
## Value Statement
**_As a_** Veteran
**_I want to_** know how to complete my supplemental claim
**_So that_** I'm prepared and know what to expect when I fill out the form.

---
## Background Context
- Add here

## Acceptance Criteria
- [ ] User can enter the **Veteran Info** section by clicking **Start your claim**
- [ ] User can open and close accordions underneath each step
- [ ] Unit tests co

[2022-10-13 14:40] ericasauv09 commented on #47453
Draft ticket created [here](https://github.com/department-of-veterans-affairs/va.gov-team/issues/48155)

[2022-10-13 14:43] shiragoodman commented on #48043
@allison0034 I met with Eli today and we documented an agreed upon process for how we will connect the VFS to the Shared Support team. Please let me know if you have any questions!

[2022-10-13 14:43] Hortonio commented on #48034
Sure thing @loripusey , tracking this on the product roadmap and we'll log ticket for the work.

[2022-10-13 14:54] CBonade commented on #47581
We've hit some speed bumps in implementing our tracking of success metrics. The best way we found to approach this would be to have Jenkins trigger a GitHub actions workflow, with an event payload showing the success or failure of launching a review instance along with some details of the instance itself. The GitHub action would then take the information from the Jenkins dispatch and use it to cre

[2022-10-13 14:55] RLHecht opened #48157 "Update 3 disability pages to align with VA style"
## Issue Description

In preparation for translating pages in the disability benefits hub, we made edits in a Word doc to 3 pages to better align with more recent VA style updates and so that the content could be translated more easily.

We need to now make these updates in Drupal to the English pages. We should send to stakeholders for awareness before publishing.

The 3 pages to work on:

- [Eli

[2022-10-13 14:56] #36754 closed

[2022-10-13 14:59] chancetheoriginal opened #48158 "VEText Feature Request: Opt-out of All Comms Selector"
The current toggle only opts out of appointment reminders.

Recently, numerous staffmembers have been requesting the addition of a checkbox/button/toggle that will opt-out the patient to **all** VEText use cases: appointment reminders, vaccine outreach, Rx tracking, etc.

[2022-10-13 15:00] saderagsdale opened #48159 "Supplemental Claims | Review Veteran Personal Info"
## Value Statement
**_As a_** Veteran
**_I want to_** review my personal info
**_So that_** I know it's accurate and can edit it if needed.

---
## Acceptance Criteria
- [x] User cannot make edits to their SSN, file number, DOB, or gender
- [x] User cannot proceed if they don't have the right properties
- [x] User receives error message if they don't have required data for this section
- [x] Unit

[2022-10-13 15:01] #13857 closed

[2022-10-13 15:03] saderagsdale opened #48160 "Supplemental Claims | Edit Veteran Contact Info"

[2022-10-13 15:05] denisecoveyduc commented on #24098
@DanielleThierryUSDSVA  @MarciMcGuire Doing some backlog clean up and I am pretty sure this one can be closed out? The FSR is up and functioning for both VBA and VHA at this point and I haven't heard of anyone having difficulty finding it online. Any reason we need to keep this open at this point?

[2022-10-13 15:07] denisecoveyduc commented on #29489
@DanielleThierryUSDSVA wondering if this still applies? Happy to keep it on the books if so.

[2022-10-13 15:09] joshkimux opened #48161 "Qualitative Data Request"
### Data Type Requested

User Surveys

### Date Range Start

01-01-2022

### Date Range End

10-01-2022

### Product Name(s)

Accessibility

### Product Description

The accessibility team's goal is to establish a process to collect a11y feedback from the public. In order to accomplish this goal, we need to...

1. determine whether disabled Veterans are providing feedback through existing feedback

[2022-10-13 15:10] #46672 closed

[2022-10-13 15:10] denisecoveyduc commented on #46672
This is a duplicate of #46669

[2022-10-13 15:11] denisecoveyduc commented on #46682
This is a duplicate of #46681

[2022-10-13 15:11] #46682 closed

[2022-10-13 15:11] ianMcCullough-ob opened #48162 "DOMO SF Mapping"
## Issue Description
Utilize the [VFS Product Mapping Doc](https://docs.google.com/spreadsheets/d/15j1WKu2bl134FD81sVifp1_CMCAaKr-5JN4C5IhfgyI/edit#gid=0) to map products and 411 sub-categories within DOMO

---
## Tasks
- [x] Add product mapping to the DOMO ETL
- [x] Post mapping document to confluence

## Acceptance Criteria
- [x] Has the mapping been completed and tested?
- [x] Has a confluence

[2022-10-13 15:12] ianMcCullough-ob commented on #46369
Dunno if this is necessary, a newer ticket has been created. Closing.

[2022-10-13 15:12] #46369 closed

[2022-10-13 15:13] andaleliz commented on #47441
After discussion, we landed on a different name for the notification since we are moving away from the word "appeals", and this verbiage aligns with the unauth content.

We also think it would be better to update the name of the group, since we have nothing related to claims or applications at this time, and participants got very confused about this in our last research study.

Notification group:

[2022-10-13 15:17] saderagsdale opened #48163 "Supplemental Claims | Select and add issues"
## Value Statement
**_As a_** Veteran
**_I want to_** select and add issues to my supplemental claim
**_So that_** I can submit new and relevant evidence for these issues.

---
## Background Context
The code for this work is already in place, it was copied from HLR/NOD, but the content may need to be updated and unit tests and e2e tests may need to be copied from HLR/NOD

## Acceptance Criteria
-

[2022-10-13 15:19] acrollet commented on #48034
@Hortonio my guess is that [this line](https://github.com/department-of-veterans-affairs/chip/blob/ba595a89117e6aa0dc1941aac2ed1107e288c6b7/src/refreshAppointments/appointmentServiceWrapper.js#L28) is the culprit, it filters appointments out by their status field and only keeps appointments that have an empty or eligible for checkin status. I'm assuming that the status changes after the appointmen

[2022-10-13 15:22] acrollet commented on #48034
I'm thinking that [this Vista change](https://dsva.slack.com/archives/C02UP02HHGX/p1661879457959039?thread_ts=1661863532.466049&cid=C02UP02HHGX) is what introduced this bug.

[2022-10-13 15:23] laurwill opened #48164 "Update About form page for Verification of dependents 21-0538"
## Issue Description
Tanekwa let us know about possible confusion around Form 21-0538. She originally asked us to add "verify" to the View or change dependents static landing page — but we confirmed that tool does not currently support a "verify" function.

So first, we'll adjust wording on the form detail page to clarify that this form is narrowly for "verifying dependents." I'll open a separate

[2022-10-13 15:24] saderagsdale opened #48165 "Supplemental Claims | Feature Flag"
## Background
We need to create a feature flag to hide the Supplemental Claim link / page from different environments while we do our staged rollout of the new feature

## Tasks
- [x] Add new feature_toggle to frontend
- [ ] Use new feature_toggle to conditionally hide the link to Supplemental Claims (part of #48808)
- [x] Use new feature_toggle to conditionally hide the Supplemental Claims intro

[2022-10-13 15:24] saderagsdale opened #48166 "Supplemental Claims | Feature Flag"
## Background
We need to create a feature flag to hide the Supplemental Claim link / page from different environments while we do our staged rollout of the new feature

## Tasks
- [ ] Add new feature_toggle to backend
- [ ] Add new feature_toggle to frontend
- [ ] Use new feature_toggle to conditionally hide the link to Supplemental Claims
- [ ] Use new feature_toggle to conditionally hide the Sup

[2022-10-13 15:29] loripusey commented on #48034
@Hortonio is this something that @acrollet could fix himself?

[2022-10-13 15:30] ajmagdub commented on #31906
Vets API analysis:

For V0, Vets API could call user preferences VAR endpoint. The Scheduling Manager can then store the user's preferences.

V2 VAOS service does not have a user preferences endpoint and cannot store user preferences. Vets API has two ways to keep the information, the Redis cache and the Postgres database.

The Redis cache is for relatively short-term storage and typically caches

[2022-10-13 15:32] sarahknoppA6 commented on #48034
link CHIP API ticket to this one.

[2022-10-13 15:32] ianMcCullough-ob commented on #48161
Thanks for submitting this, @joshkimux!

Are there any common misspellings of the above keywords you would like me to include? The search mechanism within Medallia is pretty literal, so if there are common mispellings or alternate usages feel free to include those also.

Lastly, do you have a preference on how the export(s) are delivered? Meaning do you want one master export (will be a .csv) with

[2022-10-13 15:35] #47787 closed

[2022-10-13 15:36] #47366 closed

[2022-10-13 15:38] zach-park commented on #47121
No design release during this sprint.

[2022-10-13 15:39] #47943 closed

[2022-10-13 15:39] rjohnson2011 commented on #48130
PR created -> https://github.com/department-of-veterans-affairs/vets-api/compare/apm-doc-upload?expand=1

[2022-10-13 15:43] Hortonio commented on #48034
@loripusey
If @acrollet has the bandwidth, it's on the CHIP API side and I believe he has the expertise needed.

cc: @SlakrHakr

[2022-10-13 15:49] nanotone commented on #47374
Bumping this to make sure it doesn't fall through the cracks.

@jbritt1 Yes, I've requested general AWS access, and 6 months of prod access, and assumed that's what I'm approved for. Looking to @td-usds if otherwise.

[2022-10-13 15:50] aubreyarcangel commented on #43214
![Screen Shot 2022-10-13 at 10.06.38 AM.png](https://images.zenhubusercontent.com/5a8c8e864b5806bc2bc7b6c7/070ff54b-42ac-4d44-8d36-ccd7283974d4)

[2022-10-13 15:50] aubreyarcangel commented on #43214
![Screen Shot 2022-10-13 at 10.06.38 AM.png](https://images.zenhubusercontent.com/5a8c8e864b5806bc2bc7b6c7/070ff54b-42ac-4d44-8d36-ccd7283974d4)

[2022-10-13 15:56] #48116 closed

[2022-10-13 15:57] #43615 closed

[2022-10-13 16:00] benbrasso-agile6 commented on #47121
@zach-park this was released this sprint. This is for the 15 min wait on the day of check in confirmation page.

[2022-10-13 16:01] tpharrison commented on #48040
I emailed Jay Krishnappa the transaction status from saving the address which resulted in a successful transaction.

His response...

 reproduced the scenario for the below address using [va.gov](http://va.gov/) in the QA environment.

[2022-10-13 16:06] #47750 closed

[2022-10-13 16:06] joeniquette opened #48167 "Update MHV Inherited proofing doc to include api errors"
## Issue Description
Please update the [MHV Inherited Proofing documentation](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity/Inherited%20Proofing/MHV%20Inherited%20Proofing/inherited-proofing-interface.md) to include all possible error responses.

Once completed inform the logingov team of the update in [this](https://dsva.slack.com/archives/C02SYNUGRLN

[2022-10-13 16:09] laucon opened #48168 "Write out options for office hours alternatives and the processes to implement the,"

[2022-10-13 16:10] loripusey commented on #47121
@zach-park there was a wireframe for this, don't you need to merge it and publish it to VA Sketch cloud. Ticket 47118 is for this work and this ticket it to publish it when done.

[2022-10-13 16:10] laucon opened #48169 "Plan out office hour alternatives and processes"

[2022-10-13 16:12] laucon opened #48170 "Office Hours Alternative planning"
- Come up with alternatives to current office hours
- Plan out the processes for implementing each

[2022-10-13 16:12] laucon opened #48171 "Office Hours Alternative planning"
- Come up with alternatives to current office hours
- Plan out the processes for implementing each

[2022-10-13 16:12] laucon opened #48172 "Office Hours Alternative planning"
- Come up with alternatives to current office hours
- Plan out the processes for implementing each

[2022-10-13 16:14] JRRoof commented on #47253
Public Websites plans to deprecate the isCerner flag Dec 1 in favor of the new Drupal-driven Cerner API.
https://depo-platform-documentation.scrollhelp.site/developer-docs/how-to-opt-in-to-drupal-as-the-source-of-truth-for

[2022-10-13 16:16] bramleyjl commented on #46092
SAML signing has been enabled in dev and staging, with a planned release @ 9 PM ET on 10/20
The decision was made to not enable SAML signing for localhost as it would have necessitated either including the signing private key into version control or requiring all local vets-api builds to download/generate a key to make SAML authentication work. ISAM will continue to accept signed or unsigned SAML

[2022-10-13 16:28] saderagsdale opened #48173 "Supplemental Claims | Submit Different Types of Evidence"
## Value Statement
**_As a_** Veteran
**_I want to_** submit different types of evidence
**_So that_** I can have them reviewed in support of my claim.

---
## Background Context
Veterans can submit three types of evidence:

1. VA medical records
2. Private medical records
3. Supporting evidence

## Acceptance Criteria
- [ ] _AC_
- [ ] _AC_
- [ ] _AC_

## Designs and Build Notes
- [DESIGN](https:/

[2022-10-13 16:34] laucon opened #48174 "Office Hours Alternatives planning"
- Come up with alternatives to current office hours
- Plan out the processes for implementing each

[2022-10-13 16:35] #48172 closed

[2022-10-13 16:35] #48170 closed

[2022-10-13 16:35] laurwill commented on #48164
Hey @RLHecht , this updated form page is ready to copyedit/publish. Want to take this one since Megan is out? Not urgent!

[2022-10-13 16:40] RLHecht commented on #48155
@DanielleThierryUSDSVA Not sure if you have more background on this ticket. @ericasauv09 if you haven't met with Danielle about this, could you provide a little more info in the ticket above with what specific content or IA help you're looking for from our team? This way I'll know how to assign it. Thanks!

[2022-10-13 16:41] laucon opened #48175 "Implement Office hours with RSVPs"
1. Decide when we want to do office hours:
a. Every Tuesday and Thursday
b. Every Tuesday
c. Every Thursday
d. Every other Tuesday and every thursday
e. Every other Thursday and every Tuesday
f. Every other Tuesday
g. Every other Thursday
h. Another alternative
2. Figure out who to ask about making it so people can RSVP to office hours.
3. Ask that person to help us set it up so people can RSVP to

[2022-10-13 16:43] laurwill opened #48176 "Assess View or change dependents landing page & suggest updates"
## Issue Description
We need to assess the View or change dependents static tool landing page and make some updates.
- Remove eBenefits from accordion about divorce
- Assess whether to change H1 to avoid "view"
- Decide whether to mention the separate form for verifying dependents (we're leaning towards no, because that's a separate process and don't want to confuse people)
- Assess whether any re

[2022-10-13 16:44] laucon opened #48177 "Implement Office hours with RSVPs"
1. Decide when we want to do office hours:
a. Every Tuesday and Thursday
b. Every Tuesday
c. Every Thursday
d. Every other Tuesday and every thursday
e. Every other Thursday and every Tuesday
f. Every other Tuesday
g. Every other Thursday
h. Another alternative
2. Figure out who to ask about making it so people can RSVP to office hours.
3. Ask that person to help us set it up so people can RSVP to

[2022-10-13 16:46] laucon opened #48178 "Implement Office hours with RSVPs"
1. Decide when we want to do office hours:
a. Every Tuesday and Thursday
b. Every Tuesday
c. Every Thursday
d. Every other Tuesday and every thursday
e. Every other Thursday and every Tuesday
f. Every other Tuesday
g. Every other Thursday
h. Another alternative
2. Figure out who to ask about making it so people can RSVP to office hours.
3. Ask that person to help us set it up so people can RSVP to

[2022-10-13 16:46] laucon opened #48179 "Implement Office hours with RSVPs"
1. Decide when we want to do office hours:
a. Every Tuesday and Thursday
b. Every Tuesday
c. Every Thursday
d. Every other Tuesday and every thursday
e. Every other Thursday and every Tuesday
f. Every other Tuesday
g. Every other Thursday
h. Another alternative
2. Figure out who to ask about making it so people can RSVP to office hours.
3. Ask that person to help us set it up so people can RSVP to

[2022-10-13 16:47] laucon opened #48180 "Implment RSVP office hours"

[2022-10-13 16:47] laucon opened #48181 "Create new office hours communication plan"
**How to Implement Office hours with RSVPs**

1. Decide when we want to do office hours:
a. Every Tuesday and Thursday
b. Every Tuesday
c. Every Thursday
d. Every other Tuesday and every thursday
e. Every other Thursday and every Tuesday
f. Every other Tuesday
g. Every other Thursday
h. Another alternative
2. Ask Naomi to help us set up Calendly so people can RSVP to office hours. - [x]
3. Post Ca

[2022-10-13 16:51] laucon opened #48182 "Implement Office hours with RSVPs"
1. Decide when we want to do office hours:
a. Every Tuesday and Thursday
b. Every Tuesday
c. Every Thursday
d. Every other Tuesday and every thursday
e. Every other Thursday and every Tuesday
f. Every other Tuesday
g. Every other Thursday
h. Another alternative
2. Figure out who to ask about making it so people can RSVP to office hours.
3. Ask that person to help us set it up so people can RSVP to

[2022-10-13 16:52] #48182 closed

[2022-10-13 16:52] #48180 closed

[2022-10-13 16:53] #48179 closed

[2022-10-13 16:53] #48178 closed

[2022-10-13 16:53] #48175 closed

[2022-10-13 16:54] Hortonio commented on #48034
Logged in ticket [1296](https://app.zenhub.com/workspaces/pci-api-6149f6401b0b3c001219802f/issues/department-of-veterans-affairs/chip/1296) and assigned to @acrollet as discussed at ToT's.

[2022-10-13 16:54] tlei123 opened #48183 "[QA-internal] Update QA Homework Assignment instructions"
Refine instructions for QA Homework Assignment to eliminate known points of confusion.

[2022-10-13 16:54] #48169 closed

[2022-10-13 16:54] #48168 closed

[2022-10-13 16:57] laucon opened #48184 "Create Platform Website orientation plan"
**Implement a Platform website orientation for new team members**
1. Figure out who to ask about a Platform website orientation for new team members
2. Ask that person about setting up a Platform website orientation for new team members. Make sure to ask how we will know when new team members come onto the Platform team.
3. Ask to see similar orientations as a model
4. Plan out an orientation for

[2022-10-13 16:58] #48171 closed

[2022-10-13 17:00] loripusey commented on #48034
@acrollet I'm just going to move this back to in progress until we fix the bug; we also need to remember to uncomment out comment on the link.

[2022-10-13 17:00] taylojill commented on #45284
10/13/22 - The updated pages will be published today by 5pm. The issue is closed.

[2022-10-13 17:07] ericasauv09 commented on #48155
Sorry @RLHecht I thought I had to post in the Slack channel to formally submit this, I just starting creating this today to gather the info needed in the ticket, I am still waiting on a few things before we are ready for your team to take a look. I should have it all completed by Friday.

[2022-10-13 17:09] RLHecht commented on #48155
ah got it! Since I'm automatically assigned I got the alert. I'll check back tomorrow for more info. Thanks for letting me know!

[2022-10-13 17:15] lihanli opened #48185 "[BE] Fix 1010cg 10 retries alert"
1010cg 10 retries alert is triggering even though 10 retries didn't happen

[2022-10-13 17:18] #46435 closed

[2022-10-13 17:18] SKasimow commented on #47266
Hi @cgednalske - I like the idea of making the Nametag easier for screenreaders to find by using **landmark role** (if Adam doesn't have any concerns).

I can see how adding the full name and disability rating to the Profile itself (assume on Personal info page) would be helpful but not sure how this would look visually on the page when shown 2x. A mock would help if we decide to pursue this optio

[2022-10-13 17:21] rjohnson2011 commented on #47990
This is an accidental duplicate of  https://app.zenhub.com/workspaces/platform-tech-team-3-6335ab9b1901b99243ce7601/issues/department-of-veterans-affairs/va.gov-team/47991
Closing out.

[2022-10-13 17:21] #47990 closed

[2022-10-13 17:22] rjohnson2011 opened #48186 "Investigate ClamAV Virus Scan Gem"
## Description
During an [investigation of the longest-running Sidekiq jobs](https://app.zenhub.com/workspaces/platform-tech-team-3-6335ab9b1901b99243ce7601/issues/department-of-veterans-affairs/va.gov-team/47991), the virus scan portion of the DocumentUpload process was discovered to use a [deprecated gem](https://github.com/jschroeder9000/clam_scan) `clam_scan`. The [actively-supported alternati

[2022-10-13 17:23] CherylEvans opened #48187 "Midpoint Review - Content Feedback - VAOS, VA Online Scheduling, Appointment List Feature"
## VFS acceptance criteria
- [ ] Let Platform know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
- Overall this looks good with regard to content.

## Feedback
- Practice areas will document their feedback following the [Must, Should, and Consider Framework](https://depo-platfo

[2022-10-13 17:26] #47758 closed

[2022-10-13 17:29] Samara-Strauss commented on #47441
@andaleliz this is great. I will pass along to the VA Profile team. Thanks!!

[2022-10-13 17:38] zach-park commented on #47118
Published the day of check to the [VA sketch clouds](https://www.sketch.com/s/e79a827e-42cf-4a82-b554-874c75b5c70e/a/wLkARdj). @loripusey

[2022-10-13 17:44] andaleliz commented on #47441
You're welcome @Samara-Strauss! I realize we'll need to update the mocks when these go live so I'll just wait until then.

[2022-10-13 17:46] saderagsdale commented on #47693
@data-doge Are we facing any unintended consequences if we release with point #2 as is today?

[2022-10-13 17:52] RLHecht commented on #47921
This page was updated and published now that Ask VA is back online.

[2022-10-13 17:53] Samara-Strauss commented on #47872
[Cross-posting from Slack so I don't forget](https://dsva.slack.com/archives/C909ZG2BB/p1665683110861219): we need a ticket for next sprint to add a feature flag for the new BVA notification so it doesn't surprisingly show up in any of our environments before we're ready while VA Profile is doing testing and making adjustments. [As a refresher, this is the notification I am talking about](https://

[2022-10-13 17:54] loripusey commented on #47118
thanks @zach-park

[2022-10-13 17:54] #47118 closed

[2022-10-13 17:54] #47121 closed

[2022-10-13 17:54] #47114 closed

[2022-10-13 17:56] mjones-oddball commented on #47441
@Samara-Strauss Only thought I have is if it's going to break the wording down, do we need to mention hearings as well? That falls under a potential type of update. @bevnobev

[2022-10-13 17:56] laucon opened #48188 "Provide feedback about website footer's "Get help from the Platform""
- [ ] Ask if we can or should edit the "get help footer"
- [ ] We can do this once we've more firmly established our new documentation support process.

---- Closing this ticket, as Platform Content has recently improved and deployed a new version.

[2022-10-13 17:57] cgednalske commented on #47266
@Samara-Strauss great question and I had the same 😄 This wouldn't actually "read out" the alert at all (as far as forcefully announcing it). It would just do some restructuring to make it much easier for screen reader users to be aware that the nametag information is there - should they chose to have it read out. I was also worried about this reading the same thing out a bunch of times, but they a

[2022-10-13 17:58] bevnobev commented on #47441
I'm going to run the name change by "The Board" and get their feedback.  I'll cc  @Samara-Strauss

[2022-10-13 18:03] RLHecht commented on #48164
Thanks @laurwill I just published this!

[2022-10-13 18:03] Samara-Strauss commented on #47441
@bevnobev sounds good! Let's see what they say, and if they have comments, we can bring back to Danielle. If they want us to add "hearings" as Melanie mentioned, that should be fine.

cc/ @andaleliz it sounds like we should hold off on closing this until BVA signs off. If they have feedback, we'll need you to bring that back to Danielle.

[2022-10-13 18:11] Samara-Strauss commented on #47266
@cgednalske thank you for clarifying about how the screen reader code would handle the nametag! This clears up any confusion I had.

FWIW, I do think the right call is to pull full name and disability rating into the profile somehow. I'm not sure exactly how and it might take some iteration to get things right, but I do think it's the right call.

[2022-10-13 18:18] ianhundere commented on #46952
sinatra vs rails

[2022-10-13 18:24] vbellissimo opened #48189 "Request Slack group for team"
As a platform content team,
I want any support bot form requests to notify all 4 team members,
So that we are all aware of all incoming requests and can coordinate who will reply as a secondary step.

Tasks:

- [x] Submit request to create a Slack team tag that includes all 4 Platform Content team members via #slack-workspace-admin

https://dsva.slack.com/archives/C01S729LX6X/p1665685910427859

[2022-10-13 18:33] joeniquette commented on #47831
If the test works we need to ensure we make the appropriate manifest changes for staging: https://github.com/department-of-veterans-affairs/devops/pull/12080

[2022-10-13 18:36] #38457 closed

[2022-10-13 18:43] jimuhh opened #48190 "Midpoint Review - IA Feedback - VAOS VA Online Scheduling"
## VFS acceptance criteria
- [ ] Let Platform know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
-

## Feedback
- Practice areas will document their feedback following the [Must, Should, and Consider Framework](https://depo-platform-documentation.scrollhelp.site/collaboration-c

[2022-10-13 18:54] jjulian opened #48191 "Offboarding of Lauren Maxwell"
# Description
Please provide the following information about the individual being offboarded:
- name:

- team name:

- role on team:

- expected last day:

- company they work for:

- email: _(Multiple emails listed in order of relevance to VA business, VA, Company, Personal, etc....)_

- GitHub username: _(Please include @ symbol)_

- additional access they may have: _(First line formatted with a

[2022-10-13 18:57] laineymajor commented on #46779
@td-usds can you endorse this epic? We'll then add it to the platform roadmap. Thanks!
@andreahewitt-odd for visibility

[2022-10-13 18:58] #47629 closed

[2022-10-13 18:58] #47631 closed

[2022-10-13 18:58] #47633 closed

[2022-10-13 18:58] #47702 closed

[2022-10-13 19:16] #20603 closed

[2022-10-13 19:26] dsinla commented on #46365
Taking a question to Office Hours

https://www.va.gov/greater-los-angeles-health-care/locations/west-los-angeles-va-medical-center/
https://www.va.gov/**system**/locations/**facility**/
https://www.va.gov/*/locations/*/

[2022-10-13 19:35] andaleliz commented on #43214
This is such a strong improvement! Thank you for making these improvements.

[2022-10-13 19:35] #44703 closed

[2022-10-13 19:42] CherylEvans commented on #47917
@shiragoodman I created the [Change History statement](https://vfs.atlassian.net/wiki/spaces/PPST/pages/2405171226/47917+-+Cheryl+Draft+Change+History+Entry+Release+Plan+Deletion).  Please feel free to edit or make suggestions as you see fit.  Thank you!!

[2022-10-13 19:44] SKasimow opened #48192 "BE | Profile | Database Queries"
## Background

The VA.gov profile team needs help answering the following questions:

1. How many people save a Mailing address or Home address with the "I live on a United States military base outside of the United States." checkbox checked?

This can be found at https://www.va.gov/profile/contact-information.

2. How many accounts are left blank for  "Contact email" out of total accounts?

This

[2022-10-13 19:46] RLHecht commented on #48164
Changes are live. @laurwill can you let Tanekwa know? Closing ticket.

[2022-10-13 19:46] #48164 closed

[2022-10-13 19:46] laurwill commented on #44011
I sent these to Shireen — will update when we hear back

[2022-10-13 19:48] RLHecht commented on #47921
Changes are live. Closing ticket.

[2022-10-13 19:48] #47921 closed

[2022-10-13 19:56] shiragoodman commented on #47917
@CherylEvans I made some changes to the post. Thanks for getting it started! Feel free to publish this to Platform Website.

[2022-10-13 19:57] shiragoodman commented on #39825
@jimuhh I think you responded to the wrong ticket. Was this in response to ticket #42503 ? @CherylEvans FYI

[2022-10-13 19:58] CherylEvans commented on #47917
@shiragoodman Will do!  Thank you.

[2022-10-13 19:58] michelle-dooley commented on #46365
@dsinla - thanks for meeting and notes above.  I will continue to look into this but at first glance I do the utm_campaign parameters coming through with the page url in GA so that is start... https://analytics.google.com/analytics/web/#/report/content-event-pages/a50123418w177519031p184624291/explorer-table.filter=utm_campaign&explorer-table.plotKeys=%5B%5D

[2022-10-13 20:02] CherylEvans commented on #47917
@shiragoodman Platform-Confluence has already updated PW today, so once it is published tomorrow, I will finish the last task.

[2022-10-13 20:04] vbellissimo opened #48193 "Demo Slack support process to all Platform teams"

[2022-10-13 20:06] joshkimux commented on #48161
One export as a .csv would be perfect! And I'm unsure of any common misspellings, curious just to see if this will present any results!

[2022-10-13 20:14] mchelen-gov opened #48194 "[OCTO-DE Crew Onboarding]: Bill Chapman"
### What OCTO-DE Crew is the team member joining?

Platform

### What OCTO Community of Practice is the team member part of?

Engineering

### Has user received VA.gov email address?

- [x] User has @va.gov email address

### VA Email Address

William.Chapman7@va.gov

### Has user been added to Department of Veterans Affairs Github Organization?

- [x] User is member of Github org

Requested: http

[2022-10-13 20:18] nfstern02 commented on #47401
We got a request from the user to run the script in prod and I got this error when I tried. (data x'd out for security reasons)

User: arn:aws-us-gov:iam::xxxxxxxxx:user/Noah.Stern is not authorized to perform: ssm:StartSession on resource: arn:aws-us-gov:ec2:us-gov-west-1:xxxxxxx:instance/i-xxxxxxxxx because no identity-based policy allows the ssm:StartSession action

We are now officially blocke

[2022-10-13 20:21] ericasauv09 opened #48195 "[FE] Payment Info V2: Bug - Number of Copays Not Displayed Correctly"
## Background
Currently we are not displaying the correct number of copays for users. This issue was found in Staging with user 36 who should have 2 copays but is displaying in My VA as having 3 copays. We reached out to the benefits team on Slack and they informed us in this [thread](https://dsva.slack.com/archives/CPE4AJ6Q0/p1665685144323159) that we should be using the number of facilities that

[2022-10-13 20:23] #48122 closed

[2022-10-13 20:25] ericasauv09 commented on #47764
Identifyed a bug during validation which is being resolved in #48195

[2022-10-13 20:29] ianMcCullough-ob opened #48196 "VFS Team Feedback Plan"
## Issue Description
We wish to empower teams to utilize the data the Contact Center has access to (Medallia, VA411) to make improvements to their products. We wish to develop a plan that can be duplicated by VFS PMs (or other relevant teams) that outlines how they can use Contact Center data to improve their task completion scores.

---
## Tasks
- [x] Build a demo deck to present on the 10/24 des

[2022-10-13 20:31] briandeconinck opened #48197 "Midpoint Review - Accessibility Feedback - VAOS, VA Online Scheduling, Appointment List Feature"
## VFS acceptance criteria
- [ ] Let Platform know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
- Definitely continue working with Angela (and the rest of the Shared Support team too!). She's going to be able to give you some really good insights into how to structure the list

[2022-10-13 20:39] dsinla commented on #46365
Thanks @michelle-dooley , that seems promising. If I understand your search, you're really just searching for the string "utm_campaign" in the URL.  You're not executing any report specific to a campaign?  Thanks for continuing to explore.

I have updated the [Problem Statement ](https://github.com/department-of-veterans-affairs/va.gov-team/issues/46365#issuecomment-1278085073) above and, hopefull

[2022-10-13 20:42] sortizsh opened #48198 "Investigate evidence submission logs legacy data"
# Situation

It is important for us to monitor the number of evidence submissions that are rejected/accepted by upstream systems like BGS.  We should use monitoring tools like Sentry, DataDog, or others to do this.

For context, Michel was using the following bit of code to do the work:

`#fetch 526 file upload errors
jss = Form526JobStatus.where(job_class: "SubmitUploads", status: ['exhausted', '

[2022-10-13 20:43] sortizsh commented on #46953
companion to https://github.com/department-of-veterans-affairs/va.gov-team/issues/48198

[2022-10-13 20:43] sortizsh commented on #48198
companion to https://github.com/department-of-veterans-affairs/va.gov-team/issues/46953

[2022-10-13 20:44] joshkimux commented on #18706
Hi @jwoodman5 ! By any chance could you give me access to that spreadsheet? I'm trying to document a history of a11y audits for the medallia feedback button and could use your awesome help as always 🙏

[2022-10-13 20:49] it-harrison opened #48199 "QA Feedback - Midpoint Review - Collaboration Cycle for [VAOS, VA Online Scheduling, Appointment List Feature] #42025"
## VFS acceptance criteria
- [ ] Let Platform know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

Feedback for #42025

## Thoughts/questions
Even if your project requires minimal verification of functionality, it is prudent to develop a test plan that ensures quality is baked into your product. You n

[2022-10-13 21:00] jerekshoe opened #48200 "va-alert background-only hidden i affecting layout"
## Background
When working with the `va-alert` web component, I'm noticing that when using the `background-only` prop, the layout is still being affected by the `i` tag even though it's not showing. Specifically, the space between the text and the border on the left side is a different length than it is on the right side.

[code]

Produces this:
![Screen Shot 2022-10-13 at 3 47 12 PM](https://user

[2022-10-13 21:06] tbaker1026 opened #48201 "Chat with Central Mail to see if we can get their paper submission metrics"

[2022-10-13 21:06] SKasimow opened #48202 "FE | Profile | Create Feature Flag for new BVA Notification"
## Background

We need to create a new feature flag for the new BVA notification which will send people text message updates when there is a status change with their appeal.

## Tasks
- [x] Create a feature flag for the new BVA notification using "id 6" to reference
- [x] Conditionally display the notification based on the feature toggle
- [x] write tests for feature toggle based functionality

##

[2022-10-13 21:07] tbaker1026 opened #48203 "Chat with Central Mail to see if we can get their paper submission metrics"
https://docs.google.com/spreadsheets/d/1yVuH4Ltp00X-XAZhWp5g9GaUl-Jgxd8q/edit#gid=2011638928

[2022-10-13 21:08] #48201 closed

[2022-10-13 21:09] tbaker1026 commented on #48203
Charley to see if they can provide the form # on the download and find out what taxonomy means.

[2022-10-13 21:13] laurwill commented on #47842
Megan copyedited, I published, changes are live and notified Heather. @RLHecht we can close this out!

[2022-10-13 21:18] tbaker1026 opened #48204 "Investigate how to auto-generate models for forms in vets-api"

[2022-10-13 21:20] tbaker1026 opened #48205 "Project Brief Part II review with VA PO"

[2022-10-13 21:20] CBonade commented on #47589
Evaluation of workflows has been completed and diagrams created of the existing workflows. Thoughts will be added to a confluence doc tomorrow.

[2022-10-13 21:22] tbaker1026 opened #48206 "Figuring out additional meeting cadence"

[2022-10-13 21:22] tbaker1026 opened #48207 "Setting up all program docs, etc."

[2022-10-13 21:23] tbaker1026 opened #48208 "Reach out to Naomi on existing general/user research"
Meeting set up on 10/14

[2022-10-13 21:25] andaleliz commented on #47381
@Samara-Strauss and @SKasimow The [findings summary](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/profile/Research/2022-09-profile-editing-evaluation/findings-summary.md) has been peer-reviewed and is now ready for your eyes!

In the key findings and recommendations section, I plan to add links back to relevant points in the document,

[2022-10-13 21:26] tbaker1026 opened #48209 "Set up meeting with BJ -previous dev on VAFSC"
Meeting on Oct 13th

Meeting notes:  https://docs.google.com/document/d/1zfyBsxfXDtxvZHhLLrcRDHBJuSmBIonYYMS_ImpX2Wk/edit

[2022-10-13 21:27] tbaker1026 commented on #48209
Met with BJ and developers and Pat

[2022-10-13 21:28] tbaker1026 opened #48210 "Reviewing/diving into VAFSC to see what works and what doesn't Front End"

[2022-10-13 21:29] sortizsh opened #48211 "[DDL FE] Notification Letter performance tracking and monitoring"
Using standard tracking and monitoring tools like Sentry, Datadog, Grafana, and/or PagerDuty, enable the team to identify fail states and to know whether we are reaching our performance benchmarks or not.

## Tasks

### Front end (estimated at a 3-4)

- [ ] add code for failure event pushed to Google Analytics for API call to pull list of letters that includes the failure reason and status code
-

[2022-10-13 21:29] sortizsh commented on #48211
companion to BE ticket https://github.com/department-of-veterans-affairs/va.gov-team/issues/48017

[2022-10-13 21:30] sortizsh commented on #48017
companion ticket to https://github.com/department-of-veterans-affairs/va.gov-team/issues/48211

[2022-10-13 21:39] ianhundere commented on #48153
https://github.com/department-of-veterans-affairs/devops/pull/12073

also included error for failed plans:
https://github.com/department-of-veterans-affairs/devops/pull/12078

[2022-10-13 21:39] tbaker1026 opened #48212 "Testing: Digitize 10-10d via VAFSC"

[2022-10-13 21:40] #48153 closed

[2022-10-13 21:40] tbaker1026 opened #48213 "Get access to the VAFSC repository for engineers"

[2022-10-13 21:41] bevnobev commented on #47441
Just heard back from the BVA.  Below is there response.  Based on what they said, we probably need to change the group name as well.

[2022-10-13 21:41] tbaker1026 opened #48214 ""Assembly line" rough draft for digitizing forms"

[2022-10-13 21:42] tbaker1026 opened #48215 "Build a script or application to scrape/analyze a PDF and output a "complexity score" (and other helpful info)"

[2022-10-13 21:43] tbaker1026 opened #48216 "Developing a logic model to communicate burden reduction solution"

[2022-10-13 21:44] tbaker1026 opened #48217 "Looking for # submissions data"

[2022-10-13 21:45] tbaker1026 opened #48218 "Talking with VA folks who have worked on forms stuff in the past"

[2022-10-13 21:46] tbaker1026 opened #48219 "Getting Zenhub set up"

[2022-10-13 21:46] #48219 closed

[2022-10-13 21:46] tbaker1026 commented on #48219
Set up new Zenhub workspace - VA.gov Product Teams Forms

[2022-10-13 21:47] tbaker1026 opened #48220 "Platform Orientation"

[2022-10-13 21:47] #48220 closed

[2022-10-13 21:47] tbaker1026 commented on #48220
Created ticket and went through platform orientation

[2022-10-13 21:49] tbaker1026 opened #48221 "Draft email template and communications plan for business unit outreach"

[2022-10-13 21:50] tbaker1026 opened #48222 "Draft Scorecard / Rubric"

[2022-10-13 21:51] tbaker1026 opened #48223 "Evaluating docusign or another solution"
[Supporting Documentation:](https://docs.google.com/document/d/1nTCGisjrvJ-zn9-Uj8kXhSVziUI-ikhVyuyiB5rdCGc/edit)

[Other Background](https://github.com/department-of-veterans-affairs/va.gov-team/blob/cbb478614b1c011d4d43ffd61938e3570be177e7/products/find-a-va-form/e-application/Pilot_Pitch.md)

[2022-10-13 21:51] tbaker1026 opened #48224 "Presentation to Jeff & Chris"
Draft: https://docs.google.com/presentation/d/1ez5Veb7QLGI8fX8q-WIStjvtuVeuWPxvI0K4-vpxKTc/edit#slide=id.g33cc3b02a5_0_49

[2022-10-13 21:58] tbaker1026 commented on #48223
![Uploading Screen Shot 2022-10-13 at 4.48.02 PM.png…]()

[2022-10-13 22:03] SKasimow opened #48225 "BE | Profile | Military Service History | Discovery for Clarifying Display of Multiple Military History Dates"
## Background

In an effort to understand what additional military info for Veterans can be made available to us through VA Profile, Tom has put together a document depicting all the fields here: [Military History Fields doc](https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/blob/master/products/identity-personalization/profile/military_info/vaprofile_response_fields.md)

As

[2022-10-13 22:19] sortizsh opened #48226 "Supplemental Claims | 4142/4142(a) form integration QA and testing"
## Value Statement

**_As a_** Veteran
**_I want to_** authorize medical providers to disclose my medical records
**_So that_** I can submit those records as evidence to support my claim.

---
## Background Context
- partner to [#22218](https://github.com/department-of-veterans-affairs/vets-website/issues/22218)
- Forms [4142](https://www.va.gov/find-forms/about-form-21-4142/)/[4124a](https://www.

[2022-10-13 22:37] SKasimow commented on #48225
Hi @tpharrison - I started this ticket; can you take a look and see what else could be added or clarified?

[2022-10-13 22:41] SKasimow commented on #47266
Thanks for the adt'l info; that's helpful @cgednalske

[2022-10-13 22:42] SKasimow commented on #47381
Thanks @andaleliz - I'm going to read tomorrow with fresh eyes :)

[2022-10-13 22:53] robbie1226 opened #48227 "Adding Fernanda Alcocer to DSVA Slack"
# Description

**new user requests**: please verify that the user does not already exist in dsva.slack.com (it may be the account exists, but is not in a particular channel)

Requesting to add falcocer@thoughtworks.com as a full member to DSVA Slack. She will be supporting the Digital Health Platform (DHP) team.

Please add to the channels
#digital-health-platform-public
#digital-health-platform-t

[2022-10-13 22:55] chloedotbrown commented on #47735
Hello @megansiddle and @mjones-oddball - following up from today's meeting! I've made the changes to the [VANotify dashboard](https://va-gov.domo.com/page/2040841289) we're able to implement right away: card titles have been changed where emails only are shown, colors have been added to the "Total notifications sent" card by type, and I've swapped the language of "campaign" for "template" where ap

[2022-10-13 22:59] sortizsh commented on #47904
@jerekshoe  please add estimate

[2022-10-13 23:14] eunicegar commented on #48227
Done

[2022-10-13 23:14] #48227 closed

[2022-10-13 23:24] DanielleThierryUSDSVA opened #48228 "Dental care content audit"
## Stories

As a Veteran or family member, I need to know my dental care options and how to get care.

As a VA content team member or VHA partner, I need to have an understanding of the dental care content that currently exists within different parts of VA.gov so I can work to effectively migrate content to modernized VA.gov environments.

## What we need to do

Audit dental care content as a firs

[2022-10-13 23:26] DanielleThierryUSDSVA opened #48229 "Dental care content audit"
## Stories

As a Veteran or family member, I need to know my dental care options and how to get care.

As a VA content team member or VHA partner, I need to have an understanding of the dental care content that currently exists within different parts of VA.gov so I can work to effectively migrate content to modernized VA.gov environments.

## What we need to do

Audit dental care content as a firs

[2022-10-13 23:43] cindymerrill commented on #46654
Scheduled 2 pilots

[2022-10-13 23:59] brianseek commented on #47705
@loripusey / @zach-park  Here are the updated screens[https://app.zenhub.com/files/133843125/a789954b-971c-45c1-98f1-8fd5b33eb436/download](https://app.zenhub.com/files/133843125/a789954b-971c-45c1-98f1-8fd5b33eb436/download)

[2022-10-14 00:53] #48183 closed

[2022-10-14 10:00] andaleliz commented on #47757
Added mock-ups to this ticket and updated the description. I noticed a related change that needs to be made and have added that to this ticket as well.

[2022-10-14 11:55] #47842 closed

[2022-10-14 12:20] RLHecht opened #48230 "Spanish translation of updated claim exams Q&A on COVID FAQs page"
## Issue Description
We reworked a Q&A about claim exams on the [coronavirus FAQs](https://www.va.gov/coronavirus-veteran-frequently-asked-questions/#claims-and-applications) that we need to also update on the Spanish version of the page.

Doc sent to translators: [https://app.zenhub.com/files/133843125/0e5af6a1-206e-4ac1-84f3-947950361902/download](https://app.zenhub.com/files/133843125/0e5af6a1-

[2022-10-14 12:23] RLHecht opened #48231 "Tagalog translation of updated claim exams Q&A on COVID FAQs page"
## Issue Description
We reworked a Q&A about claim exams on the [coronavirus FAQs](https://www.va.gov/coronavirus-veteran-frequently-asked-questions/#claims-and-applications) page. We need to update this on the Tagalog version of the page as well.

Doc sent to translators: [https://app.zenhub.com/files/133843125/20e03fb5-d12a-4521-a488-4af1a99c5cea/download](https://app.zenhub.com/files/133843125/

[2022-10-14 12:40] RLHecht commented on #42038
Closing as completed

[2022-10-14 12:41] RLHecht commented on #42704
Closing as completed

[2022-10-14 12:41] #42704 closed

[2022-10-14 12:41] RLHecht commented on #39008
closing as completed

[2022-10-14 12:41] #39008 closed

[2022-10-14 12:42] #40071 closed

[2022-10-14 12:42] RLHecht commented on #40071
This is complete. Closing ticket.

[2022-10-14 12:49] #39894 closed

[2022-10-14 12:49] RLHecht commented on #39894
Closing ticket

[2022-10-14 12:49] RLHecht commented on #40072
closing as complete

[2022-10-14 12:49] #40072 closed

[2022-10-14 12:50] RLHecht commented on #40073
Closing as completed

[2022-10-14 12:50] #40073 closed

[2022-10-14 12:51] loripusey commented on #47705
validated. @zach-park can you take a look as well?

[2022-10-14 12:51] Eallan919 commented on #48206
@tbaker1026 Did y'all get the demo schedule after chatting with Andrea? If yes, let's sync at the end of standup :)

[2022-10-14 12:55] Eallan919 commented on #48206
Em's 1:1 with Matthew scheduled every Tuesday

[2022-10-14 12:56] RLHecht commented on #35290
IA work is documented. Closing this ticket but please reopen if it's still needed!

[2022-10-14 12:56] #35290 closed

[2022-10-14 12:56] Eallan919 commented on #48206
@tbaker1026 Maybe on Tuesday- at the Sprint start (every other week) we can extend our standup and have 30 min of refinement? Have a think and LMK if that sounds good!

[2022-10-14 12:58] RLHecht commented on #40230
Moving this to the icebox until we have time to pick this up again.

[2022-10-14 13:24] Eallan919 commented on #48207
Invoice schedule, Sprint Cert, Staffing - DONE!

[2022-10-14 13:25] #48207 closed

[2022-10-14 13:25] #48208 closed

[2022-10-14 13:25] #48205 closed

[2022-10-14 13:25] benbrasso-agile6 commented on #44383
10/13

![Screen Shot 2022-10-14 at 9.23.44 AM.png](https://images.zenhubusercontent.com/62264cddfdd7546d65710eff/8f685344-8881-44b3-bd27-824fe696ab61)

[2022-10-14 13:26] Eallan919 opened #48232 "Reach out to team utilizing Docusign"
We would like to understand more about potential solutions to use to digitize unauthenticated forms.

Reach out to teams/programs using Docusign and set up a meeting/info transfer with the blockers and work-arounds the teams utilized.

At the end, our team needs to assess if we want to leverage docusign or implement another solution.

[2022-10-14 13:27] benbrasso-agile6 commented on #46817
@RLHecht increasing to 30% of Veterans

[2022-10-14 13:29] #40609 closed

[2022-10-14 13:33] loripusey commented on #47008
@acrollet who can validate this? can't access staging right now

[2022-10-14 13:33] loripusey commented on #47367
@acrollet who needs to validate this?

[2022-10-14 13:36] benbrasso-agile6 commented on #44383
@loripusey @acrollet suggestion:

Monday 50%
Tuesday 70%
Wednesday 90%
Thursday 100%

[2022-10-14 13:39] Eallan919 commented on #48214
https://app.mural.co/invitation/mural/nicksspace9114/1665091304130?sender=nicksprinkle6933&key=70154863-b523-4b54-b913-d254c40edb2e

[2022-10-14 13:40] benbrasso-agile6 commented on #47705
The couple that we were talking about late yesterday were:

1. https://share.goabstract.com/5c39328b-c6c1-452f-93f8-390b3698dd82?mode=design&sha=d1bbc36f2c43a6aa4bca0685e667bf07b092eed5 Change h1 to: You're checked in. And we received your travel claim.

2. https://share.goabstract.com/4ab2a1a6-d54a-4e52-81b9-f218ddba2311?mode=design&sha=d1bbc36f2c43a6aa4bca0685e667bf07b092eed5 In the yellow box,

[2022-10-14 13:46] loripusey commented on #44383
sounds like a good plan

[2022-10-14 13:49] loripusey commented on #47705
@brianseek do you want a new ticket for the 2 new changes or do you want to just do it as part of this ticket?

[2022-10-14 13:56] acrollet commented on #47367
I think the fact that it's been in production without issues is validation enough, closing.

[2022-10-14 13:56] #47367 closed

[2022-10-14 13:57] joshkimux opened #48233 "Sponsor page needs additional discovery and content review (and possibly redesign)"
## Open questions

### Are all questions required?
The form instructs users to answer as many questions as possible to help speed up the process, but doesn't offer deeper explanation as to why. Some questions appear to be sensitive and possibly trauma inducing. Specifically:
- Marital status
- Date and cause of death
- Race
- Sex

### Why is sex required?
The form requires the sex field to be fill

[2022-10-14 13:58] marcynadeau commented on #46281
@ldelacosta This failed testing.  Now there is an entirely new issues are presenting.  VETERANS ELIGIBLE FOR DS DROPPED INTO REQUEST FLOW.

1.  Cecil. Springfield Mental Health = Yes Any.  Issues was that a clinic with DS Flag = False was displaying for veteran to select for direct scheduling. FIXED/PASSED
2.  Ola.  Cheyenne Optometry.  Issue was that a clinic with DS Flag = False was displaying f

[2022-10-14 13:59] Samara-Strauss commented on #47441
@andaleliz can you take this feedback to Danielle for review?

[2022-10-14 13:59] mjones-oddball commented on #47735
@chloedotbrown Any reason why I wouldn't be seeing data from 10/13 (yesterday) in Domo?

[2022-10-14 13:59] acrollet commented on #47008
@brianseek you've tested this work, can you validate that it meets the ACs?

[2022-10-14 14:02] andaleliz commented on #47441
@Samara-Strauss definitely - what is the timeline for this? Trying to determine if I should schedule a separate meeting with her or if it's OK to wait until office hours next Thursday.

Also, do you have any more info about what the notification is? What are the possible statuses?

[2022-10-14 14:08] markkvba commented on #47401
The following event indicates the approval was granted (since the issue applies to both staging and prod):

@[td-usds](https://github.com/td-usds) td-usds removed the [Awaiting Approval](https://github.com/department-of-veterans-affairs/va.gov-team/labels/Awaiting%20Approval) need approval before processing label [11 days ago](https://github.com/department-of-veterans-affairs/va.gov-team/issues/47

[2022-10-14 14:14] mjones-oddball commented on #47441
@Samara-Strauss @bevnobev My only concern with making the grouping more specific is that I thought it was meant to capture high level categories of things even if they are handled by multiple departments/business lines. For example, payments. If we make the distinction clear in the item name would that be enough?

[2022-10-14 14:18] zach-park commented on #47705
Looks nice. Thank you!

[2022-10-14 14:22] joshkimux opened #48234 "508-defect-2: Military service information field uses the maxlength attribute without a hint or validation"
### Point of contact

Josh Kim

### Severity level

2, Serious. Should be fixed in 1-2 sprints post-launch.

### Details

The military service information field uses the maxlength attribute to cap input to 9 characters. While this prevent users from inputting beyond 9 characters, no feedback, hint, or validation is actually provided to them to know that.

For family members and caregives who may n

[2022-10-14 14:25] SKasimow commented on #47755
Thanks Liz!

[2022-10-14 14:27] joshkimux opened #48235 "BUG: Some sponsor fields and validation use "you" instead of "sponsor""
## What happened?
Minor issue where...

1. the sponsor's claim number has validation that reads "your claim number"
<img width="586" alt="Screen Shot 2022-10-14 at 10 24 50 AM" src="https://user-images.githubusercontent.com/14154792/195870838-43618219-e20f-4e12-918b-4af7ddd9c2bc.png">

2. the label for "which categories describe you" uses "you" instead of the sponsor
<img width="595" alt="Screen S

[2022-10-14 14:39] SKasimow commented on #47757
Updated ticket to reflect the update to error alert applies to all phone number fields - home, mobile and work.

[2022-10-14 14:44] mjones-oddball commented on #47441
@andaleliz @Samara-Strauss Here's the general list let me know if you need to see any further detail:

Appeal docketed
Appeal decision mailed (Non-contested claims)
Appeal decision mailed (Contested claims)
Hearing scheduled
Withdrawal of hearing
Postponement of hearing
Privacy Act request pending
Privacy Act request complete
VSO IHP pending
VSO IHP complete

[2022-10-14 14:47] loripusey commented on #47705
I'm closing this ticket and moving the above 2 changes to a new ticket. @brianseek @benbrasso-agile6

[2022-10-14 14:47] #47705 closed

[2022-10-14 14:53] ajakabcin opened #48236 "[FE] Payment info V2: Update error messages to red alert styling"
## Background
While implementing the audit UX updates to the Claims and appeals section on My VA, Taylor noticed a discrepancy in how alerts were being handled in that section vs the new Outstanding debts and Benefit payments sections.

Yellow alert styling that needs to be updated:
![Screen Shot 2022-10-14 at 10 58 22 AM](https://user-images.githubusercontent.com/45603961/195878383-375dda67-ac96-

[2022-10-14 14:54] loripusey opened #48237 "[FE] Minor Content Changes"
## Changes
- Change h1 to: You're checked in. And we received your travel claim
    - [Wireframe](https://share.goabstract.com/5c39328b-c6c1-452f-93f8-390b3698dd82?mode=design&sha=d1bbc36f2c43a6aa4bca0685e667bf07b092eed5)
- In the yellow box, add the word "travel" immediately before the word "reimbursement." So, it should read, "... travel reimbursement claim for you now."
    - [Wireframe](https:

[2022-10-14 14:57] bevnobev commented on #47441
Just wanted to clarify BVA wasn't dictating the group name.  I only asked for suggestion on the item name.  I'm slightly torn on the group name.  A part of me feels it should be broad, but as @andaleliz mentioned, the broad aspect is causing confusion with Veterans.

[2022-10-14 14:59] eli-oat opened #48238 "SOCKS access for [individual]"
### Your Name

Eli Mellen

### Your Email

eli.mellen@adhocteam.us

### Your Role and Team

Associate Product Manager and QA specialist on Shared Support

### Product Manager (PM) name and email

Eli Mellen, eli.mellen@adhocteam.us

### Product Owner (PO) name and email

Martha Wilkes, martha.wilkes@va.gov

### Access Type Requesting

developers

### Public SSH Key

ssh-rsa AAAAB3NzaC1yc2EAAAADAQA

[2022-10-14 15:02] loripusey commented on #47705
I've moved the changes to this [ticket](https://app.zenhub.com/workspaces/check-in-experience-61fc23a2cb8a14001132e102/issues/department-of-veterans-affairs/va.gov-team/48237). @brianseek feel free to pull it into this sprint or we can wait for next sprint, I'll leave it up to you.

[2022-10-14 15:04] tmitchellgcio commented on #48236
Will need a title with the red style @aagosto90 I believe

[2022-10-14 15:04] vbellissimo opened #48239 "Schedule meeting with Governance about workflow"

[2022-10-14 15:15] chloedotbrown commented on #47735
Morning @mjones-oddball - I'm seeing the 10/13 data. All the data sources feeding into this dashboard refresh at 10:15am ET, which is to make sure that 1) the Google Analytics session tables from yesterday are available to pull and that 2) you don't end up with a dashboard straddling date ranges due to update timing.

If you're still encountering issues, please let us know.

[2022-10-14 15:27] rjohnson2011 commented on #48130
PR approved -> https://github.com/department-of-veterans-affairs/vets-api/pull/10900

[2022-10-14 15:43] joshkimux commented on #48135
@saderagsdale great question! My gut would say to go for process based acceptance criteria (if that's a thing 😅 ) as opposed to design specific criteria (which may depend on the context)

Review select claimant type with an a11y specialist...
- [ ] As low-fidelity wireframes before the design intent or as soon as possible
- [ ] As high-fidelity wireframes before engineering handoff
- [ ] As a stag

[2022-10-14 15:48] ldelacosta opened #48240 "Canceled Status Link on VAOS homepage"
## Description
Create a new view to display canceled VA booked appointment(s). Currently the Veteran views their canceled booked appointments on the VAOS homepage if the status is Canceled. We will add a new link "Canceled" on the homepage which will re-direct the veteran to a new view displaying their canceled booked appointment(s).

Current version in production:

![Screen Shot 2022-10-24 at 7.5

[2022-10-14 15:56] aagosto90 commented on #48236
@tmitchellgcio @ajakabcin @ericasauv09
Updated the mockups and FE documentation to have headers since we know platform team will suggest this.
[FE documentation for outstanding debts errors](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/my-va/payment-history/documentation/outstanding-debts-FE-documentation.md#error-states)
[FE documenta

[2022-10-14 15:59] laurwill commented on #48033
Thanks @katherine-fung ! I like the way you adjusted to avoid the "Post 9/11 GI Bill Veteran" phrasing, and I think what you did will work. But it's also possible that we need to avoid classifying these benefits as "additional GI Bill or Fry benefits" and more as "Nourse benefits for people who were using GI Bill or Fry" instead. But this is a question for the stakeholder! So I'll send an email to

[2022-10-14 16:00] denisecoveyduc commented on #38755
Closing #40101 as it reflects the same task.

[2022-10-14 16:01] denisecoveyduc commented on #40101
Closing this issue since #38755 captures the same effort.

[2022-10-14 16:01] #40101 closed

[2022-10-14 16:07] ldelacosta commented on #46281
@beth-wodzinski @marcynadeau - We realized the feature toggle for the ticket was turned off. Can you re-test and let us know if you're getting the same results?

[2022-10-14 16:11] #46634 closed

[2022-10-14 16:49] jlang10761 opened #48241 "Adding [ayangbe.mannen@coforma.io] to DSVA Slack"
Please add ayangbe.mannen@coforma.io as a full member, they will be joining the CEDAR CDS project. We will add them to the appropriate channels once they are in.

Please reach out to Jeff Langworthy on DSVA slack for any questions/clarifications.

[2022-10-14 16:58] humancompanion-usds opened #48242 "Staging Review [Design System Team - OMB info component]"
The Design System Team would like staging review for the OMB info web component.

OMB info
design.va.gov: https://design.va.gov/components/omb-info
Storybook: https://design.va.gov/storybook/?path=/docs/components-va-omb-info--default

[2022-10-14 17:08] jhouse-solvd commented on #47025
**How this initiative is broken down:**
- Epics exist for major platform components and services
- Epics contain individual issues for sub-components and services
- Issues are scoped to set up a dashboard, monitors, and alerts for the service/thing to be monitored

[2022-10-14 17:10] ryguyk commented on #38428
Closing. This work was completed [here](https://github.com/department-of-veterans-affairs/va.gov-cms/issues/9074)

[2022-10-14 17:10] #38428 closed

[2022-10-14 17:12] cgednalske commented on #47350
Hi @Samara-Strauss and @SKasimow -- Danielle had one more minor change for this - now updated 👍 Here's the mockups for the [Desktop](https://www.sketch.com/s/ebd4596f-0707-46cb-941e-247a808725cc/a/AxG3GRz) and [Mobile](https://www.sketch.com/s/ebd4596f-0707-46cb-941e-247a808725cc/a/jgY3M2G) versions. If all looks good, I can add a new screenshot to the contact center guide.

@SKasimow would you mi

[2022-10-14 17:14] #47815 closed

[2022-10-14 17:16] #47813 closed

[2022-10-14 17:16] #47445 closed

[2022-10-14 17:17] #47814 closed

[2022-10-14 17:18] ericasauv09 commented on #48155
@RLHecht this is all set now, do I need to post it in your Slack channel?

[2022-10-14 17:19] loripusey commented on #47595
Question: What should we do if the user needs an insurance review?
@acrollet

[2022-10-14 17:20] #48148 closed

[2022-10-14 17:25] mchelen-gov commented on #47630
That's fine, we might want to review the rest of the page though because there are some other issues as well, like it does not actually include a link to Sentry instance.

[2022-10-14 17:25] jhouse-solvd commented on #47043
Should we rename this project to "Centralize Logging and Monitoring"? _just a thought_

For the most part, metrics are collected across all systems. However, those metrics should be used to create monitors that provide value to platform operators. With those in place, it's possible to "centralize monitoring" by empowering operators to rely on a single source of truth.

[2022-10-14 17:26] ericasauv09 opened #48243 "[Research] My VA Audit UX Improvements: Create Conversation Guide"
## Background
Create the conversation guide for the My VA Audit UX Improvements initiative.

## Tasks
- [x] Create Conversation Guide for Audit Research
- [x] Share with team for review

## Resources
- [Conversation Guide Template](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/research/planning/conversation-guide-template.md)

[2022-10-14 17:28] it-harrison opened #48244 "End date shouldn't be visible when Veteran is currently enlisted"
### General Information

#### VFS team name
Benefits 1

#### VFS product name
Certificate of Eligibility

#### Point of Contact/Reviewers
Ian Harrison (QA)

---

### Platform Issue
Content includes an error message or validation error to indicate an error or empty state. (05.09.01))

### Issue Details
There is a possible discrepancy between steps 4 and 5 of the [Steps to Reproduce](https://github.

[2022-10-14 17:29] markfallows opened #48245 "Sitewide Content/IA Review from 10-10 Health Apps Team [Household section]"
## What does your team need support for? Check all that apply.
- [x] Launching one or more new unauthenticated (static) VA.gov pages
- [x] Making revisions to one or more existing unauthenticated (static) VA.gov page
- [ ] Launching a new online form, app, or tool on VA.gov
- [x] Making revisions to an existing online form, app, or tool on VA.gov
- [ ] Something else (please add details in the nex

[2022-10-14 17:31] loripusey opened #48246 "[Design] Create Final Wireframes"
## User Story
As a Veteran, I do not understand the difference between Pre-Check-in and Check-in and often think that I have checked-in when I completed Pre-Check-in.

## Description
It was recommended that we "rename" Pre-Check-in to make it distinct from Check-in. We need to determine the best way to do that.

## Tasks
- [ ] Create final mockups with callouts
- [ ] Decide: Should a content and a

[2022-10-14 17:31] loripusey opened #48247 "[Design] Create Final Wireframes"
## User Story
As a Veteran, I do not understand the difference between Pre-Check-in and Check-in and often think that I have checked-in when I completed Pre-Check-in.

## Description
It was recommended that we "rename" Pre-Check-in to make it distinct from Check-in. We need to determine the best way to do that.

## Tasks
- [ ] Create final mockups with callouts
- [ ] Decide: Should a content and a

[2022-10-14 17:32] loripusey opened #48248 "[Design] Create Final Wireframes"
## User Story
As a Veteran, I do not understand the difference between Pre-Check-in and Check-in and often think that I have checked-in when I completed Pre-Check-in.

## Description
It was recommended that we "rename" Pre-Check-in to make it distinct from Check-in. We need to determine the best way to do that.

## Tasks
- [ ] Create final mockups with callouts
- [ ] Decide: Should a content and a

[2022-10-14 17:34] shiragoodman opened #48249 "[Other - Accessibility] Helper text not programmatically associated with input. (00.00.1)"
### General Information

#### VFS team name
Benefits Team 1

#### VFS product name
Certificate of Eligibility

#### VFS feature name
Loan Guarantee: Certificate of Eligibility

#### Point of Contact/Reviewers
Brian DeConinck - @briandeconinck - Accessibility

*For more information on how to interpret this ticket, please refer to the [Anatomy of a Staging Review issue ticket](https://depo-platform-

[2022-10-14 17:37] tpharrison commented on #48192
Ian McEwan (VA Profile) will run these queries on Monday, Oct. 17th.

[2022-10-14 17:40] ianhundere commented on #47100
prs are up:
- https://github.com/department-of-veterans-affairs/vsp-infra-application-manifests/pull/933
- https://github.com/department-of-veterans-affairs/vsp-infra-argocd/pull/145

will start with dev/utility for `vsp-infra-application-manifests`

[2022-10-14 17:42] #44551 closed

[2022-10-14 17:49] acrollet commented on #47595
I'd suggest that we develop specific wording (or take the existing text message wording) and explain to the veteran that they need to go to the desk to check in.

[2022-10-14 17:57] RLHecht commented on #48155
Thanks! Yeah, please post a message just so the rest of the team has awareness.

[2022-10-14 18:02] ldelacosta opened #48250 "Feature Toggle for Acheron updates"
## Item Description
We will need to create a feature toggle in VAOS for the Acheron service changes.

---

## Tasks
- Add `va_online_scheduling_acheron_service` feature toggle

## Acceptance Criteria:
- [ ] The toggle is created for VAOS

## Definition of Done
- [ ] All acceptance criteria are met
- [ ] [Documentation](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/produ

[2022-10-14 18:04] ldelacosta commented on #48250
@simiadebowale - Please size the ticket when you have a chance. Thanks!

[2022-10-14 18:07] alexiawunder commented on #47747
I forgot to mention on our Wednesday sync - which color alert do you recommend this new content go into? Should we go with or without the icon?

[2022-10-14 18:07] ldelacosta commented on #47734
There is a new feature toggle for the Acheron work #48250

[2022-10-14 18:09] ldelacosta commented on #47730
There is a new feature toggle for the Acheron work #48250 cc: @jenniemc

[2022-10-14 18:10] ldelacosta commented on #47728
There is a new feature toggle for the Acheron changes #48250 cc: @vbahinwillit

[2022-10-14 18:11] ldelacosta commented on #47660
There is a new feature toggle for Acheron work #48250. cc: @simiadebowale

[2022-10-14 18:12] allison0034 opened #48251 "Midpoint review - design feedback - VA Online Scheduling, Appointment List Feature"
## VFS acceptance criteria
- [ ] Let Platform know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
- The left nav and 2 links (pending and past) have some IA issues. Please refer to the IA feedback.

## Feedback
- Practice areas will document their feedback following the [Must, S

[2022-10-14 18:20] cindymerrill commented on #46654
All ready to conducts pilots on Monday

[2022-10-14 18:22] allison0034 opened #48252 "Midpoint review - design feedback - VA Online Scheduling, Appointment List Feature"
## VFS acceptance criteria
- [ ] Let Platform know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
- The left nav and 2 links (pending and past) have some IA issues. Please refer to the IA feedback.

## Feedback
- Practice areas will document their feedback following the [Must, S

[2022-10-14 18:25] allison0034 opened #48253 "Midpoint review - design feedback - VA Online Scheduling, Appointment List Feature"
## VFS acceptance criteria
- [ ] Let Platform know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
- The left nav and 2 links (pending and past) have some IA issues. Please refer to the IA feedback.

## Feedback
- Practice areas will document their feedback following the [Must, S

[2022-10-14 18:26] allison0034 opened #48254 "Midpoint review - design feedback - VA Online Scheduling, Appointment List Feature"
## VFS acceptance criteria
- [ ] Let Platform know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
- The left nav and 2 links (pending and past) have some IA issues. Please refer to the IA feedback.

## Feedback
- Practice areas will document their feedback following the [Must, S

[2022-10-14 18:48] jessicastump commented on #25350
@DanielleThierryUSDSVA (and also @cgednalske and @nicko-amida) -
Here is the [Desktop Sketch link](https://www.sketch.com/s/da85cf44-4503-4e98-834e-ff068b242ef6/a/Qbek9jw) to the order version we discussed and landed on during the 10/14 content meeting.

[Mobile Mockup too](https://www.sketch.com/s/da85cf44-4503-4e98-834e-ff068b242ef6/a/xrOK9yx)

**Next**: stay in sync on any other research findin

[2022-10-14 18:49] tbaker1026 opened #48255 "Look into to see if can get the # of downloads via Stats D Library"

[2022-10-14 18:49] tbaker1026 opened #48256 "Look into to see if can get the # of downloads via Stats D Library"

[2022-10-14 18:50] tbaker1026 opened #48257 "Contact Ian McCullough to see if we can get support tickets around forms"

[2022-10-14 18:51] shiragoodman commented on #47656
Meeting recording: https://oddball-io.zoom.us/rec/share/gCe-Es-1i3qzbXbpCY2nhdbeUYUMdxEXkdGJKyh-W6C4brLz6noczT5v_R7ugNoO.8hltFXITW8dx4qS1
Passcode: &3NXQq?4

[2022-10-14 18:53] SKasimow commented on #48192
Awesome - thanks Tom!

[2022-10-14 19:02] katherine-fung commented on #47188
Hi @bethpottsVADEPO,

I've updated the Supplemental Claims draft as we've discussed: http://preview-prod.vfs.va.gov/preview?nodeId=3011

For the instructions under "By mail" and "In person," I've delineated the steps using "Step 1," "Step 2," and "Step 3." I thought this would clarify the instructions, while working well with screenreaders -- let me know if you have other thoughts about how we mig

[2022-10-14 19:03] tbaker1026 commented on #48203
Sent request back to Melissa - to explain what the taxonomy is and the form #

[2022-10-14 19:03] tbaker1026 commented on #48204
Demo stuff to Jesse & Nick - worth keeping working on it- able to generate stuff for the backend stuff to stub in. Figure out how far it goes etc.

[2022-10-14 19:04] tbaker1026 commented on #48213
Still working on getting access

[2022-10-14 19:05] ndsprinkle commented on #48213
https://github.com/department-of-veterans-affairs/github-user-requests/issues/12828

[2022-10-14 19:08] brianseek commented on #47008
I think the screenshots from [this ticket ](https://app.zenhub.com/workspaces/check-in-experience-61fc23a2cb8a14001132e102/issues/department-of-veterans-affairs/va.gov-team/47705)also validates this

[2022-10-14 19:09] tbaker1026 commented on #48215
Have general skeleton done, right now it excepts a single PDF at a time and then adapt for multiple PDF's.  Trying to use a different PDF reader, to see if get different results from what Jesse was using.  Look into Popular PDF

[2022-10-14 19:12] ndsprinkle commented on #48215
This is the PDF analyzing tool used by vets-api: https://poppler.freedesktop.org/

Seems a bit dated, but may be an alternative to the other PDF parsing tools we are looking at.

[2022-10-14 19:13] tbaker1026 opened #48258 "Brought in ally data - errors & URL - into Air Table - connecting them up."
Slide deck for Chris - there are only 48 forms

[2022-10-14 19:14] tbaker1026 opened #48259 "Brought in Accessibility into Air Table - connecting them up."
Slide deck for Chris - there are only 48 forms

[2022-10-14 19:15] tbaker1026 commented on #48255
Duplicate

[2022-10-14 19:22] cgednalske commented on #47350
@adamwhitlock1 here's the alert change we're talking about 😃

[2022-10-14 19:25] cgednalske commented on #47266
@adamwhitlock1 FYI on nametag changes 😃

[2022-10-14 19:30] #45197 closed

[2022-10-14 19:30] #46144 closed

[2022-10-14 19:30] lkoenigsberg commented on #45134
Noticed there are no Benefits Delivery Portfolio products on the list - Virtual Regional Office (VRO) as an example.  Add this to the task list.

[2022-10-14 19:33] allison0034 opened #48260 "Design Intent - Design Feedback - 10-10EZ Household Information Optimization"
## VFS acceptance criteria
- [ ] Let Platform know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
- Use alerts sparingly. We have noticed alert fatigue on va.gov. Try to use alerts sparingly, eg. financial disclosure, does that really need to be styled as an info alert?

## Feed

[2022-10-14 19:35] hdjustice commented on #46144
Reviewed and confirmed that second Verification Email field has been removed.  This field was confirmed as view only, and no data was sent to backend or downstream )no dependencies)
![image](https://user-images.githubusercontent.com/92328831/195927738-87cf1646-4c5e-4678-b005-eeed2e202d0a.png)

[2022-10-14 19:38] outerpress commented on #41256
@ldelacosta I added a link to the user flow, lmk if you need anything else

[2022-10-14 19:42] longmd commented on #46144
So much nicer without having to do those twice!!

[2022-10-14 19:44] Mottie commented on #46744
[Lighthouse's Benefits Reference Data](https://dsva.slack.com/archives/C8R3JS8BU/p1649702827450209?thread_ts=1649700446.433219&cid=C8R3JS8BU) endpoint (`https://api.va.gov/services/benefits-reference-data/v1/service-branches`) provides a "more thorough" list of service branches

[code]

[2022-10-14 19:54] joshkimux opened #48261 "508-defect-2: Military service history needs design review (and possible redesign)"
## What happened?
The military service history needs a design review as:
- [it uses a typeahead instead of the standard open text field](https://design.va.gov/patterns/ask-users-for/service-history)
- it provides 50+ possible selections despite [EVSS planning to only accept 23 in the future](https://dsva.slack.com/archives/C8R3JS8BU/p1649702827450209?thread_ts=1649700446.433219&cid=C8R3JS8BU)
- it

[2022-10-14 19:58] Samara-Strauss commented on #47350
Also, if this error occurred, would we be able to show that version of the nametag? I would imagine we wouldn't be able to show military branch or disability rating if we can't verify their identity.

[2022-10-14 20:03] ajakabcin commented on #47615
Holding on this until we have a better idea of when QA will happen

[2022-10-14 20:04] ajakabcin commented on #47764
Putting this in blocked until #48195 is resolved

[2022-10-14 20:06] SKasimow commented on #47350
@cgednalske - just want to make sure I'm following this thread so I can create a front-end ticket. Can you confirm the following:

- We only need to update the alert for when a user is not found in MPI
- The update to this alert should read:
![Screen Shot 2022-10-14 at 4.01.19 PM.png](https://images.zenhubusercontent.com/5fb57aafa11eae0592a15cb1/1a6514a8-f1cb-4cb1-afc0-68c11fbc3e88)

- If above is

[2022-10-14 20:10] tbaker1026 opened #48262 "Qualitative Data Request"
### Data Type Requested

Support

### Date Range Start

01/01/2022

### Date Range End

10/14/2022

### Product Name(s)

VA Forms

### Product Description

We are analyzing and digitizing VA Forms and would like to see which forms are the most problematic for Veterans.  Search term Form. Not sure just pulling find-forms is too generic.

### Product URL(s)

https://www.va.gov/find-forms/

### VA Em

[2022-10-14 20:14] joshkimux commented on #22622
hey @jaredcunha ! update! I met with @rocio-desantiago who was patient enough to test this out with me on VO using iOS.

**We confirmed a couple of things together including:**
- Adding an `aria-live="polite"` does in fact read this out earlier _before_ the legend as [I documented in this ticket](https://github.com/department-of-veterans-affairs/va.gov-team/issues/19660) (and proceeded to forget a

[2022-10-14 20:16] aliyahblackmore commented on #48028
Updating this ticket cc: @laurwill !
Preview

**I made these changes in Drupal (based on our Thursday 10/13 sync and slack messages) to move this along:**

Changed the sentence before the bulleted list to be aligned with current VA style standards and added **“You're”** to the beginning of each bullet point. Also, as you suggested, the bullet point that previously had “and” in the middle was chang

[2022-10-14 20:26] SKasimow commented on #47266
**"Landmark role!!"**  That's the term that escaped me on today's stand-up.

Adam sound like ok approach?

[2022-10-14 20:28] SKasimow opened #48263 "FE | Profile | Accessibility | Screenreader Improvements for Nametag section"
## Background

The Accessibility team informed us that a screenreader may not pick up the Nametag section of Profile because it is not under an H2. After considering some options, we determined that by making a coding change and including an "Landmark-role" Nametag info becomes easier to find.

Specifically this would be adding the `role='banner'` landmark role

Accessibility team does NOT suggest

[2022-10-14 20:38] Samara-Strauss commented on #47381
@andaleliz this is great! Let's discuss recommendations maybe Monday? I don't see anything that's problematic, just want to make sure we have a chance to review and talk about what we might pursue next sprint.

[2022-10-14 20:40] laurwill commented on #47747
Hi @alexiawunder , let's use a blue info alert for this — the warning alert might be too scary in this context.

And based on discussion in our sync, we also took another look at more explicitly saying that secure messaging is not for urgent/emergency needs. We think this could work better in the content above the alert instead of the alert itself:
<img width="493" alt="image" src="https://user-im

[2022-10-14 20:45] #46358 closed

[2022-10-14 20:45] SKasimow commented on #46358
All open/unchecked tickets have been moved to Sprint 84...closing

[2022-10-14 20:47] cgednalske commented on #47350
@Samara-Strauss No problem! Yep - confirmed with Adam while doing the documentation that 2-factor identification always shows - even for LOA1, so yes that would still show. It's terms and conditions that sometimes doesn't show. Here's what Adam confirmed shows for both this and the general MPI error alert (note: first alert still has the old wording).

<img width="948" alt="Screen Shot 2022-10-14

[2022-10-14 20:48] cgednalske commented on #47350
@Sharon -- yep! And because they are so similar I should specify for @adamwhitlock1  that out of the two alerts he found it's the 1st "Not in MPI" one that needs to be updated:

<img width="664" alt="Screen Shot 2022-10-14 at 1 27 34 PM" src="https://user-images.githubusercontent.com/79372956/195939651-b3df58c1-fedb-4547-8e32-8e4a052978d7.png">

It does actually, which is what is so bizarre about

[2022-10-14 20:51] cgednalske commented on #47350
Actually I'll just ask @adamwhitlock1 right here so it's documented for all of us! 😄

Adam, are you able to tell what happens to the nametag information when either of the above errors are shown? Samara has a great point that military info and disability rating seem like they would not be shown if records can't be matched or accessed.

[2022-10-14 20:57] RLHecht commented on #48233
@joshkimux These kinds of substantive questions are for a product team to answer. I'm not sure if there is one working on this right now but you could ask some other teams. Maybe benefits team 1?

[2022-10-14 21:07] #48259 closed

[2022-10-14 21:08] tbaker1026 commented on #48259
Duplicate

[2022-10-14 21:29] eunicegar commented on #48241
invite sent

[2022-10-14 21:29] #48241 closed

[2022-10-14 21:31] katherine-fung commented on #47192
Hi @laurwill,

I've added login.gov to these pages:

Check your VA claim or appeal status
http://preview-prod.vfs.va.gov/preview?nodeId=711

Post-9/11 GI Bill Statement of Benefits
http://preview-prod.vfs.va.gov/preview?nodeId=3007

The following pages are multiple FAQ R&S pages, so I updated the single FAQs to add login.gov:

[Claim status tool FAQs](https://www.va.gov/resources/claim-status-tool

[2022-10-14 21:32] SKasimow commented on #47350
@cgednalske - thanks for the slack thread; that surprised me but is good news!

[2022-10-14 21:49] mmiddaugh commented on #46710
@megzehn Tallahassee is ready for you - it's spare but clean, I think.

[2022-10-14 21:50] mmiddaugh commented on #46710
@megzehn Tallahassee is ready for you - it's spare but clean.

[2022-10-14 21:54] SKasimow opened #48264 "Design | Profile | Nametag - Full Name and Disability Rating | Discovery"
## Background

As part of ticket #47266, we determined that the Nametag info was important enough that including full name and disability rating in the main sections of Profile would be beneficial for screen reader users or anyone else who might miss this info in the name tag.

## Tasks
- [x] Consider placement options for Nametag info
- [x] Review viability and ease of implementation with FE
- [x

[2022-10-14 21:59] SKasimow commented on #48264
Hi @cgednalske - can you review and point?

[2022-10-14 22:03] SKasimow opened #48265 "Design | Profile | Accessibility Research | tbd"
## Background

Describe the issue background and scope

## Tasks

## Acceptance Criteria

## Validation
- Who can validate this ticket? (FE, BE, Design, PM)?
- How can this work be validated?
- What updates need to be made (e.g. product outline, use cases, contact center guide)

## Associated Tickets
- #

[2022-10-14 22:05] SKasimow commented on #48265
@liz - I just created a placeholder ticket we can use once we determine next steps from your research report.

[2022-10-14 22:28] bosawt opened #48266 "Automate fixing flaky specs"
The method of fixing flaky specs on the `vets-api` backend is actually pretty mechanical, but people seem to rarely perform the steps. I can probably add a service in CI itself, or an easy to run command, to do this automatically:

Here are my current notes for flaky specs:
* This is relevant if we start with an XML that looks like this
[code]
* And we want it to look like this:
[code]

### Steps

[2022-10-14 22:48] heyjoni commented on #48245
IA feedback:

Change(s):
- H1 should be "Apply for VA health care" to match the breadcrumb

OK:
- Not having a left nav for the form flow is correct
- Not having breadcrumbs for steps within the form is correct

[2022-10-14 22:58] #45728 closed

[2022-10-14 22:59] #18222 closed

[2022-10-14 22:59] #47252 closed

[2022-10-14 22:59] #16067 closed

[2022-10-14 22:59] #41572 closed

[2022-10-14 22:59] #47255 closed

[2022-10-14 23:01] #46434 closed

[2022-10-14 23:03] jwoodman5 commented on #46427
Duplicate. Closing.

[2022-10-14 23:03] #46427 closed

[2022-10-14 23:05] jwoodman5 opened #48267 "[Ongoing Service] 2023 Q1 - Contact Center Support and Reporting"
## Product Outline
[Data and Reporting](https://vfs.atlassian.net/wiki/spaces/Contact/pages/1791983788/Contact+Center+Data+and+Reporting)
[Medallia User Surveys](https://vfs.atlassian.net/wiki/spaces/Contact/pages/1794015358/Medallia+Product+Outline)

## High Level User Story/ies
* _As a VFS team member, I want user surveys on my product pages so I can collect feedback from users to better underst

[2022-10-14 23:12] jwoodman5 opened #48268 "Veteran Feedback Data Requests"
## Product Outline
[Data and Reporting](https://vfs.atlassian.net/wiki/spaces/Contact/pages/1791983788/Contact+Center+Data+and+Reporting)

## High Level User Story/ies
* _As a VFS team member, I want access to (support and survey) data about my products/features so I can track impact of improvements and learn about problems that need to be solved_
* _As a VA leader, I want access to (support and s

[2022-10-14 23:12] #46266 closed

[2022-10-14 23:13] jwoodman5 opened #48269 "[Ongoing Service] 2023 Q1 - Contact Center Support"
## Problem Statement
* VA.gov user need support for issues they encounter while trying to complete tasks on VA.gov. Our team is responsible for tier 2 and tier 3 support for issues originating from call to the VEO contact center (White House Hotline/VA411) and tier 2 AskVA (AVA) support for issues submitted through the AVA online portal.
* For each product or service on VA.gov there needs to be a

[2022-10-14 23:14] #46265 closed

[2022-10-15 00:02] cgednalske commented on #48264
Hi @SKasimow! This looks good to me 👍 I just changed to title to include Full Name and Disability Rating so it's easier to find and know what it's for than general Nametag. I added a 4 because I think this will need to be decently thorough, but I'm not super sure about that estimate. 🤔

[2022-10-15 02:03] raywangoctova opened #48270 "Report Major VA.gov Incidents Following VA OIT's Major Incident Management (MIM) Process"

[2022-10-15 20:39] jbritt1 commented on #48238
SOCKS access granted. Please continue with [the guide](https://depo-platform-documentation.scrollhelp.site/getting-started/Internal-tools-access-via-SOCKS-proxy.1821081710.html) to establish a connection to SOCKS proxy. If you run into any issues, please feel free to reach out in the [#vfs-platform-support](https://dsva.slack.com/archives/CBU0KDSB1) channel using the [support request workflow](htt

[2022-10-15 20:39] #48238 closed

[2022-10-15 20:40] jbritt1 commented on #48136
SOCKS access granted. Please continue with [the guide](https://depo-platform-documentation.scrollhelp.site/getting-started/Internal-tools-access-via-SOCKS-proxy.1821081710.html) to establish a connection to SOCKS proxy. If you run into any issues, please feel free to reach out in the [#vfs-platform-support](https://dsva.slack.com/archives/CBU0KDSB1) channel using the [support request workflow](htt

[2022-10-15 20:40] #48136 closed

[2022-10-16 18:45] td-usds commented on #47401
w.r.t. https://github.com/department-of-veterans-affairs/va.gov-team/issues/47401#issuecomment-1265693800

Apologies, I did intend to mean this to be 2 months granted for the requested access including prod...

[2022-10-16 19:35] bethpottsVADEPO commented on #47188
@katherine-fung I dug up these Veteran comments that Autumn (who you'll meet on Monday) sent to me back when we first talked about how we could improve the DR pages. Attaching here, and you may want to also attach it to the tickets you'll work on for HLR and Board Appeals for background info.
[https://app.zenhub.com/files/133843125/bd1a70b0-4304-4124-85f7-ef15631522d9/download](https://app.zenhub.

[2022-10-16 21:18] SKasimow commented on #47381
Hi @andaleliz - agree! Nice job compiling and summarizing the sessions!!

I can see if everyone can stay on for an extended stand-up on Monday if that's a good place to do a team review.

[2022-10-16 21:23] SKasimow opened #48271 "Design | Profile | BAI | Documentation"
## Background

With the launch of the Bad Address Indicator we need to update our design documentation for the Contact info product outline and the BAI project outline.

## Tasks
- [x] Update use cases for this feature
- [x] Update user flows
- [x] Update screen mocks and text

## Acceptance Criteria
- [x] Post to appropriate sections of GitHub and sketch
- [x] Check that links from product outlin

[2022-10-16 21:37] SKasimow commented on #48271
Hi @cgednalske - can you review/edit if needed and then point this?

[2022-10-16 21:46] SKasimow opened #48272 "PM | Profile | BAI | Documentation"
## Background

With the launch of the bad address indicator the product outline for Contact info and the BAI project outline needs to be reviewed and updated.

## Tasks

- [x] Review Contact info product outline
- [x] Review the BAI info project outline
- [x] Update as needed

## Acceptance criteria

- [x] Bad address indicator outline is up to date.

[2022-10-16 21:47] nfstern02 commented on #47401
Can you state that prod access should be granted?

[2022-10-16 21:50] SKasimow opened #48273 "FE | Profile | BAI | Documentation"
## Background

Update documentation for the Contact info product section in GitHub and BAI project outline and add/update relevant FE documentation.

## Tasks
- [x] Add analytics documentation on what events we are firing and where in the code they come from.
- [x] Document Api calls and how they are set up in the FE code
- [x] Map what error codes that might surface for a particular feature and t

[2022-10-17 11:10] andaleliz opened #48274 "[Design] Profile - Prepare research presentation artifacts"
Now that our profile editing evaluation research is complete, we need to put together a deck to present the findings to our team, and in the Monday research/design/content sync.

**Task**
- [x] Create presentation deck for Monday design/content sync

**Acceptance criteria**
- [ ] Findings and recommendations have been presented to the product team

[2022-10-17 11:11] andaleliz commented on #47381
I'm going to close this ticket in favor of #47646, since it's duplicative of our planning steps. I created a separate ticket for the research readout steps too (#48274)

[2022-10-17 11:11] #47381 closed

[2022-10-17 11:15] andaleliz commented on #47441
@bevnobev do you think if we changed the group name to "Decision reviews and appeals" it would be appropriate for the two notifications we have now?

People were confused about the group name because it also included the words "applications and claims". I think once we have relevant notifications about those things, we can broaden the group name, but for now, we can limit it so it's relevant to th

[2022-10-17 12:18] jbritt1 commented on #47401
Reminder set for 2 months out in the platform-devops channel

<img width="798" alt="image" src="https://user-images.githubusercontent.com/56260532/196175030-be07a895-c1fb-4a53-af17-f1c7c524ddca.png">

[2022-10-17 12:34] #47824 closed

[2022-10-17 12:39] djfredvs opened #48275 "10/17/22 2 PM AVS Training"
Booked by Bruce Nelson

[2022-10-17 12:55] wullaski commented on #47827
@loripusey, @zach-park here's screenshots of the changes running locally:

![Screen Shot 2022-10-11 at 11 29 54 AM](https://user-images.githubusercontent.com/2982977/196181623-eb1e2c36-3aac-4bd6-bbb2-17cde89bc184.png)
![Screen Shot 2022-10-11 at 11 04 18 AM](https://user-images.githubusercontent.com/2982977/196181630-1229677d-a2af-4b41-99e2-decad573dbac.png)

[2022-10-17 13:01] laineymajor commented on #48000
Duplicate

[2022-10-17 13:04] laineymajor commented on #47996
Duplicate

[2022-10-17 13:04] #47996 closed

[2022-10-17 13:05] #44503 closed

[2022-10-17 13:05] CBonade commented on #47589
https://vfs.atlassian.net/wiki/spaces/TT4/pages/2407137393/Current+and+Proposed+Review+Instance+Update+Scenarios

Thoughts in confluence doc linked here.

[2022-10-17 13:15] benbrasso-agile6 commented on #44383
10/14-16

![Screen Shot 2022-10-17 at 9.15.05 AM.png](https://images.zenhubusercontent.com/62264cddfdd7546d65710eff/24c4a091-29e2-4698-b8f5-d22b1c88ed83)

[2022-10-17 13:18] benbrasso-agile6 commented on #46817
@RLHecht moving up to 50% of Veterans today

[2022-10-17 13:24] joshkimux commented on #22622
hey folks, thanks to @rocio-desantiago and @jaredcunha 's feedback, I've updated the original ticket (and will continue to do so for future tickets) which includes a change log.

Let me know if y'all have any more feedback on how I can make these easier to parse through! Appreciate everyone here ❤️

[2022-10-17 13:31] joshkimux commented on #48233
@RLHecht thank you for the quick reply Randi! Agree these are heavy and need proper discovery. Will update this ticket and unassign you! 🙏

[2022-10-17 13:33] mgleo commented on #45039
@denisecoveyduc IA/Content team should also look at the Combined Debt Portal as well.

[2022-10-17 13:37] Eallan919 commented on #48206
We will cover in our sync today! I should be able to close this out this afternoon

[2022-10-17 13:48] Samara-Strauss commented on #47350
Someone would have to confirm, but if we can't match someone in MPI, we likely can't match their records to show things like military info or disability rating. TBH, I'm not 100% sure if we'd be able to show their full name, or if it would be more like the LOA1 nametag that shows the email address.

LOA1 nametag should be different.

Yes, we should document if there is a substantial and known diff

[2022-10-17 13:49] Samara-Strauss commented on #46744
@tpharrison is it a safe assumption that we would not be able to leverage the lighthouse information since our integration is through VA Profile?

[2022-10-17 13:49] RLHecht commented on #46817
Thanks @benbrasso-agile6 Do you have a date set for when you think you'll be at 100%? That's when we would want to change the content to reflect only one verification method.

[2022-10-17 13:52] shiragoodman opened #48276 "QA Orientation Session - October 2022"
## Issue Description
Host the QA Orientation Session for VA.gov Platform on 10/20/2022

---
## Tasks
- [ ] Host the session and answer any questions that come up.

## Acceptance Criteria
- [ ] We have provided a QA Orientation session for VA.gov Platform for October 2022.

[2022-10-17 13:52] Dr-Pongo opened #48277 "[FSR] - bug - Installment contract values & calculations"
## Issue Description
Investigate and fix required inconsistencies with installment contracts on current form.

We need to either make these fields required or handle when they are not complete/incorrectly filled out.

---
## Tasks
- [ ] Investigate if these installment contracts should be required
- [ ] Update requirements and include additional error handling so good data is being received.

## A

[2022-10-17 13:53] Dr-Pongo opened #48278 "[FSR] - bug - Installment contract values & calculations"
## Issue Description
Investigate and fix required inconsistencies with installment contracts on current form.

We need to either make these fields required or handle when they are not complete/incorrectly filled out.

---
## Tasks
- [ ] Investigate if these installment contracts should be required
- [ ] Update requirements and include additional error handling so good data is being received.

## A

[2022-10-17 13:54] Dr-Pongo opened #48279 "[FSR] - bug - Installment contract values & calculations"
## Issue Description
Investigate and fix required inconsistencies with installment contracts on current form.

We need to either make these fields required or handle when they are not complete/incorrectly filled out.

---
## Tasks
- [x] Investigate if these installment contracts should be required
- [x] Investigate how data is being handled in transform & confirm it handles empty original amount.

[2022-10-17 13:54] Samara-Strauss commented on #47441
I would say given this feedback from the Board:

"Decision reviews and appeals" might not be an appropriate group name if the "Decision reviews" part doesn't apply.

[2022-10-17 13:57] benbrasso-agile6 commented on #46817
Yes

<img width="123" alt="Screen Shot 2022-10-17 at 9 57 20 AM" src="https://user-images.githubusercontent.com/101129355/196196513-183a5d88-3211-4264-b6a2-2c8dab5166de.png">

[2022-10-17 13:58] shiragoodman commented on #48276
FYI @it-harrison - the orientation session is on Thursday this week. If you have questions or concerns about presenting, please connect with @pjhill . Thanks!

[2022-10-17 14:01] jsimonVA opened #48280 "Update to Static Pages from GovCIO"
## What does your team need support for? Check all that apply.
- [ ] Launching one or more new unauthenticated (static) VA.gov pages
- [x] Making revisions to one or more existing unauthenticated (static) VA.gov page
- [ ] Launching a new online form, app, or tool on VA.gov
- [x] Making revisions to an existing online form, app, or tool on VA.gov
- [ ] Something else (please add details in the nex

[2022-10-17 14:06] denisecoveyduc commented on #45039
Agreed! I have spoken with @DanielleThierryUSDSVA and as we take the FSR enhancement release thru the collab cycle the Content and IA teams will review the dortal and ensure consistency with the term overpayment and others. She has just released a [content brief for VA payments, debts and copay bills ](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/content/conte

[2022-10-17 14:06] #45039 closed

[2022-10-17 14:11] shiragoodman opened #48281 "Review WCAG reference for standard 05.09"
## Description
[See Slack thread from 10/17/2022](https://dsva.slack.com/archives/GNF5GSD9N/p1665774176386319)

[2022-10-17 14:16] hdjustice commented on #20533
This ticket is no longer necessary, as we will be connected to Lighthouse/Facilities API to retrieve the most up to date facilities list for selection.

[2022-10-17 14:16] #20533 closed

[2022-10-17 14:17] #18300 closed

[2022-10-17 14:17] hdjustice commented on #18300
This ticket is no longer necessary, as we will be connected to Lighthouse/Facilities API to retrieve the most up to date facilities list for selection

[2022-10-17 14:17] ScottyRJames opened #48282 "Combined multiple last names for valid FSR filename"
## Issue Description
Bug where Veteran has multiple space separated last names produced an invalid filename for SharePoint.

---
## Tasks
- [ ] Combine the multiple last names with an underscore

## Acceptance Criteria
- [ ] The API produces a valid SharePoint filename for this edge case
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Att

[2022-10-17 14:18] #25531 closed

[2022-10-17 14:18] #40036 closed

[2022-10-17 14:20] hdjustice commented on #40794
All tickets are closed, the code has been deployed since 9/23/22 and have had successful results.  Closing this epic

[2022-10-17 14:20] #40794 closed

[2022-10-17 14:22] hdjustice commented on #45172
@lzapson opened feature toggle to 25% on 10/17/22

[2022-10-17 14:23] hdjustice commented on #13435
All tickets are closed.  New initiatives and improvements will be logged in additional tickets/epics

[2022-10-17 14:23] #13435 closed

[2022-10-17 14:29] andreahewitt-odd opened #48283 "Adding Anita Middleton to DSVA Slack"
# Description

- Please add [anita.middleton@oddball.io] as a full member. She is the new PM of the contact center team

[2022-10-17 14:30] ianMcCullough-ob commented on #48161
Good morning @joshkimux

I wrapped up the exports for these terms, I have two of them. One is a .CSV that has all the terms on one tab. The other is an excel doc that has 3 tabs: one with all the above terms provided, one with all those terms WITHOUT "disability" and one with ONLY the term "disability."

I did this because "disability" produced the most records by far; over 3000, compared to the r

[2022-10-17 14:31] zach-park commented on #47827
@wullaski They look great. I just wanted to be sure that all "Need Help?" should have the content from the first screenshot except the confirmation pages (all three confirmation pages should show the content from the second screenshot). Could you please confirm? Thank you!

[2022-10-17 14:32] #47713 closed

[2022-10-17 14:33] vbellissimo opened #48284 "Add RSVP links to Platform Office Hours Page"
Acceptance criteria:

- [x] The Platform Team Office Hours page will include links to each of the teams' RSVP Calendly links: https://vfs.atlassian.net/wiki/spaces/AP/pages/2407464993/Platform+Team+Office+Hours

The Calendly RSVP links can be found here: https://depo-platform-documentation.scrollhelp.site/support/office-hours

The new Calendly RSVP link for the Platform Content team is this: https

[2022-10-17 14:35] joshkimux commented on #48161
@ianMcCullough-ob please share with me at joshua.kim3@va.gov 🙇

[2022-10-17 14:37] #37873 closed

[2022-10-17 14:38] RLHecht commented on #46817
@katherine-fung Could you make these changes this week so that we can publish on Thursday? Thanks!

[2022-10-17 14:39] pjhill commented on #47589
Thanks for that write-up -- looking good! This should serve as a good reference for the baseline behaviors from current review instances. We may not re-create all the same behaviors in the new preview environment, but this is valuable information to have going forward.

[2022-10-17 14:39] #47589 closed

[2022-10-17 14:40] pjhill commented on #47572
Interviews are approximately 33% complete -- the remainder are being scheduled for this week.

[2022-10-17 14:41] mchelen-gov commented on #17349
@jhouse-solvd What is the status of this Initiative?

[2022-10-17 14:41] mchelen-gov commented on #38476
@JoeTice What is the status of this Initiative?

[2022-10-17 14:42] mchelen-gov commented on #35048
@jhouse-solvd What is the status of this Initiative?

[2022-10-17 14:42] mchelen-gov commented on #35048
@jhouse-solvd What is the status of this Initiative?

[2022-10-17 14:42] mchelen-gov commented on #38470
@JoeTice What is the status of this Initiative?

[2022-10-17 14:42] JoeTice opened #48285 "Placeholder: Improve ability to create and manage test data"

[2022-10-17 14:44] elizabethkochBT opened #48286 "Adding Tyler Gindraux to DSVA Slack"
# Description

**new user requests**: please verify that the user does not already exist in dsva.slack.com (it may be the account exists, but is not in a particular channel)

- Please add tyler@bluetiger.digital as a full member.
Tyler is Senior User Experience Researcher for the new identity product team.

[2022-10-17 14:50] joshkimux opened #48287 "508-defect-2: VA national cemetery list loop needs design review (and possible re-design)"
## Point of contact

Josh Kim

## Severity level

2, Serious. Should be fixed in 1-2 sprints post-launch.

## Details

The VA national cemetery list loop page needs a design review as:
- it uses a typeahead with over 100+ cemeteries
- it nests a list loop pattern within a dynamic expandable region (see below video on how recorded entries are erased when a user changes their decision)
- the list lo

[2022-10-17 14:51] ianMcCullough-ob commented on #48262
Hey @tbaker1026

I wrapped up the exports. I have 3 of them:
1) I searched for the term "form" to see what users were saying about forms
2) One for just the url va.gov/find-forms
3) One that has all the about form pages (about-form-20-572, about-form-10-2850c, etc)

Unfortunately I can only share these files with VA email addresses. Some of these responses contain PII (email, phone numbers, etc) a

[2022-10-17 14:51] ianMcCullough-ob commented on #48161
@joshkimux Done! Thanks!

[2022-10-17 14:51] #48161 closed

[2022-10-17 14:51] ajakabcin commented on #43288
launched to 25% on 10/13

[2022-10-17 14:51] #43288 closed

[2022-10-17 14:53] #43122 closed

[2022-10-17 14:57] andaleliz commented on #47381
Yes! I sent out a calendar invite. Thanks :)
--
Liz Lantz
Senior UX Designer, Ad Hoc
adhoc.team
<https://www.google.com/url?q=https%3A%2F%2Fadhoc.team%2F&sa=D&sntz=1&usg=AFQjCNE4MGCYSFhDl_lZwwTif1R0KYNm0w>
|
<https://www.google.com/url?q=https%3A%2F%2Ftwitter.com%2FAdHocTeam&sa=D&sntz=1&usg=AFQjCNE4GKY_Z86vvRgx9vcdArRxzNO-Hg>
@adhocteam
<https://www.google.com/url?q=https%3A%2F%2Ftwitter.com%2FAdH

[2022-10-17 15:03] lzapson opened #48288 "[FE] | 10-10EZ | Implement Unit Tests for the FormFooter Component"
## Description

Implement unit tests for the FormFooter Component (hca/components/FormFooter.jsx)

## Acceptance Criteria

- [x] test for component rendered
- [x] test for appropriate content

[2022-10-17 15:04] it-harrison commented on #48009
Hi @shiragoodman:

- changes to Q/A standards are in bold in [this document](https://vfs.atlassian.net/wiki/spaces/~853060520/pages/2403237889/Proposed+Changes+to+QA+Standards).
- thoughts on "How to check for compliance and address remediation" section, I put some notes in your summary of the issue in this ticket above ^.

[2022-10-17 15:06] lzapson opened #48289 "[FE] | 10-10EZ | Implement Unit Tests for SIGI and AIQ in Veteran Information Form Pages Unit Tests"
## Description

Implement Unit Tests for SIGI and AIQ in Veteran Information Form Pages Unit Tests

## Acceptance Criteria

- [ ] test for component rendered
- [ ] test for appropriate content

[2022-10-17 15:06] lzapson opened #48290 "[FE] | 10-10EZ | Implement Unit Tests for SIGI and AIQ in Veteran Information Form Pages Unit Tests"
## Description

Implement Unit Tests for SIGI and AIQ in Veteran Information Form Pages Unit Tests

## Acceptance Criteria

- [ ] test for component rendered
- [ ] test for appropriate content

[2022-10-17 15:10] ianhundere commented on #47100
the first PR is working as intended, will keep playing with argo to get that to work as well.

[2022-10-17 15:11] lindsay-insco commented on #48152
Going into staging today

[2022-10-17 15:17] lzapson opened #48291 "[FE] | 10-10CG | Implement Unit Tests for all the CG Form Pages"
## Description

 Implement Unit Tests for all the CG Form Pages

## Acceptance Criteria

Implement tests for the following pages.

primary
- [ ] hasPrimaryCaregiver
- [ ] primaryContact
- [ ] primaryHealthCoverage
- [ ] primaryInfo

secondaryOne
- [ ] hasSecondaryCaregiver
- [ ] secondaryCaregiverContact
- [ ] secondaryInfo

secondaryTwo
- [ ] secondaryTwoContactInfo
- [ ] secondaryTwoInfo

signAs

[2022-10-17 15:17] lzapson opened #48292 "[FE] | 10-10CG | Implement Unit Tests for all the CG Form Pages"
## Description

 Implement Unit Tests for all the CG Form Pages

## Acceptance Criteria

Implement tests for the following pages.

primary
- [ ] hasPrimaryCaregiver
- [ ] primaryContact
- [ ] primaryHealthCoverage
- [ ] primaryInfo

secondaryOne
- [ ] hasSecondaryCaregiver
- [ ] secondaryCaregiverContact
- [ ] secondaryInfo

secondaryTwo
- [ ] secondaryTwoContactInfo
- [ ] secondaryTwoInfo

signAs

[2022-10-17 15:17] lzapson opened #48293 "[FE] | 10-10CG | Implement Unit Tests for all the CG Form Pages"
## Description

 Implement Unit Tests for all the CG Form Pages

## Acceptance Criteria

Implement tests for the following pages.

primary
- [ ] hasPrimaryCaregiver
- [ ] primaryContact
- [ ] primaryHealthCoverage
- [ ] primaryInfo

secondaryOne
- [ ] hasSecondaryCaregiver
- [ ] secondaryCaregiverContact
- [ ] secondaryInfo

secondaryTwo
- [ ] secondaryTwoContactInfo
- [ ] secondaryTwoInfo

signAs

[2022-10-17 15:18] bevnobev commented on #47441
@andaleliz I agree with @Samara-Strauss that the "Decision Review" doesn't apply and is not appropriate.

[2022-10-17 15:19] lzapson commented on #48289
duplicate

[2022-10-17 15:19] #48289 closed

[2022-10-17 15:19] lzapson commented on #48291
duplicate

[2022-10-17 15:19] #48291 closed

[2022-10-17 15:19] lzapson commented on #48292
duplicate

[2022-10-17 15:19] #48292 closed

[2022-10-17 15:21] ytsaoca commented on #47852
Mural  board for information collection and ideation
https://app.mural.co/t/vfscie8528/m/vfscie8528/1665431891681/e232da055539a2681bca924c23b5d36fa557b811?sender=u70b8b2930b03d3ef317d2520

[2022-10-17 15:21] ytsaoca commented on #47852
Mural  board for information collection and ideation
https://app.mural.co/t/vfscie8528/m/vfscie8528/1665431891681/e232da055539a2681bca924c23b5d36fa557b811?sender=u70b8b2930b03d3ef317d2520

[2022-10-17 15:21] #47008 closed

[2022-10-17 15:24] ianhundere commented on #47100
so for whatever reason, the `log_processing_rules` are not working as intended though the env vars for excluding logs are (e.g. `DD_CONTAINER_EXCLUDE_LOGS` and `DD_CONTAINER_EXCLUDE`).

reaching out to datadog to see if there's anything special we need to do in order to get `log_processing_rules` working in our dd govcloud instance.

[2022-10-17 15:25] tygindraux opened #48294 "Platform Orientation Template Tyler Gindraux"
## Welcome and Introduction
Welcome to the Veteran's Administration (VA) Veteran Facing Services (VFS) team!
As a new VFS team member, you will be working in the web ecosystem we call the VA.gov Platform (or "**The Platform,**" for short).  The tasks on this list are designed to get you up to speed on the role of Platform, making it easier for you to do your job.

Because the VA is a huge organiza

[2022-10-17 15:36] tbaker1026 opened #48295 "Add Central Mail # to airtable."

[2022-10-17 15:40] denisecoveyduc commented on #27918
We have added a temporary path to include medical copays and updated the description. We plan to meet with Sitewide content on Oct 26th to iron out the various pathways and changes needed for the wizard going forward.

[2022-10-17 15:41] shiragoodman commented on #37781
Research as a practice area is not involved in the Staging Review. Research is also no longer a practice area within the Governance team. Closing this ticket.

[2022-10-17 15:43] denisecoveyduc commented on #38755
10/17/22- I spoke with Jill who is checking to see if all letters from VBMS are now available for download or if a subset are still unavailable.

[2022-10-17 15:45] vbellissimo opened #48296 "Ask about Slack channel retirement archives"
Tasks:
- [x] Reach out to Slack support to ask the following:

Instructions:

1. Go to #vfs-platform-support Slack channel
2. Open the "Platform Support Request" form
3. **Assign to:** Other
4. **Request topic:** Something Else
5. **Summary of request:**
Hello. Our team is working on an initiative that will eventually allow us to "retire" the #platform-confluence Slack channel. When a Slack channe

[2022-10-17 15:49] denisecoveyduc commented on #47662
Oct 17 - we are planning to meet with Danielle (Sidewide Content ) to discuss this and the wizard changes. Should have a path forward as a result of that discussion.

[2022-10-17 15:52] joshkimux opened #48297 "508-defect-2: Upload on pre-need is out of date with design system standards and needs design review (and possibly redesign)"
## Point of contact

Josh Kim

## Severity level

2, Serious. Should be fixed in 1-2 sprints post-launch.

## Details

Several issues exist with the upload page on the pre-need form:

- [Content is out of date with the design system pattern](https://design.va.gov/patterns/ask-users-for/files)
- Post-upload document titles are not semantically written as headings (uses the `strong` element instead)

[2022-10-17 16:01] loripusey opened #48298 "[UX] Brainstorm Enhancements & Prioritize"
## Tasks
- Create list of possible enhancements
- Prioritize enhancements

[2022-10-17 16:03] laucon commented on #46247
Done

[2022-10-17 16:05] shiragoodman commented on #48041
@sterkenburgsara [here is the Design Intent ](https://github.com/department-of-veterans-affairs/va.gov-team/issues/39038)from March 2022.

[2022-10-17 16:11] ianhundere commented on #47100
traefik has been substantially reduced:![image.png](https://images.zenhubusercontent.com/624b40ac4980d90d75917e4c/c051ea21-212e-4a73-a17f-cc5c6a6937c1)

[2022-10-17 16:23] joshkimux opened #48300 "508-defect-1 ❗ Contact information isn't announced to screen reader users"
## Point of contact

Josh Kim

## Severity level

1, Launchblocker. Critical. Must be fixed before launch.

## Details

Screen reader users in forms mode (e.g. using the tab key as they anticipate only form fields, not static text fields) will likely miss the note describing how the VA will contact them on the _applicant address_ page.

<img width="502" alt="Screen Shot 2022-10-17 at 11 56 40 AM"

[2022-10-17 16:26] holdenhinkle commented on #48191
/request Lauren Maxwell

[2022-10-17 16:29] andaleliz commented on #47441
I'll clarify with @DanielleThierryUSDSVA on Thursday (unless you can chime in sooner, @DanielleThierryUSDSVA?) but she said the term "appeals" is going away, to be replaced by decision reviews, and including the two phrases together would align with the unauthenticated content Veterans will see about these things on VA.gov.

[2022-10-17 16:33] holdenhinkle commented on #48191
@department-of-veterans-affairs/confluence-admins Can you please remove Lauren Maxwell from Confluence? https://vfs.atlassian.net/wiki/people/618193a4062f4c00691d775e

[2022-10-17 16:36] jimuhh opened #48301 "Design Intent - IA Feedback - 10-10 Health Apps, 10-10EZ, Household Information Optimization"
## VFS acceptance criteria
- [ ] Let Platform know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
-

## Feedback
- Practice areas will document their feedback following the [Must, Should, and Consider Framework](https://depo-platform-documentation.scrollhelp.site/collaboration-c

[2022-10-17 16:37] tmitchellgcio commented on #43293
Set to 50% as of about 1130am today

[2022-10-17 16:38] tmitchellgcio commented on #47522
Just deployed. Give this maybe 30 min or so to reach staging

[2022-10-17 16:39] tmitchellgcio commented on #48236
This is on staging and ready for deployment

[2022-10-17 16:42] #44430 closed

[2022-10-17 16:42] holdenhinkle commented on #48191
Oseas Moran
  [1 minute ago](https://dsva.slack.com/archives/C02RLAUM2LV/p1666024877773109?thread_ts=1665600171.547229&cid=C02RLAUM2LV)
User does not have AWS as I cant find in IAM directory (edited)

[2022-10-17 16:45] holdenhinkle commented on #48191
Request to have user removed from VA GitHub Org - https://github.com/department-of-veterans-affairs/github-user-requests/issues/12917

[2022-10-17 16:46] cgednalske commented on #47350
Actually [Angela's audit](https://app.mural.co/t/vsa8243/m/vsa8243/1648129585496/d22080eb307aac8bda5ba1153e013a386b7f1396?sender=u28f508d646c449cc1afe4873) of the nametag nicely outlines most of the different use cases! 🎉  It does not include LOA1, but this situation seems like it would fit with the last version: **LOA3 - no branch of service**.

<img width="695" alt="Screen Shot 2022-10-17 at 9 3

[2022-10-17 16:47] holdenhinkle commented on #48191
User does not have a PageDuty account

[2022-10-17 16:48] holdenhinkle commented on #48191
User does not have a Sentry account

[2022-10-17 16:52] tpharrison commented on #46744
@Samara-Strauss I don't think we'll be able to use this, but I will review the code (just out of curiosity).

[2022-10-17 16:54] holdenhinkle commented on #48191
Submitted a support request with the Analytics Insights team asking them to remove her from GA and DOMO - https://dsva.slack.com/archives/CBU0KDSB1/p1666025603217209

[2022-10-17 16:56] tpharrison commented on #48192
Asked Ian McEwan to run queries for the following:

1. How many production users have an overseas military address (home or mailing)?
2. How many production users have an overseas military address (home or mailing) with an address-type of "Domestic"?
3. How many users are missing an email address?

His answers...

- VA Profile has contact information for 26.2 million people.
- 34K have overseas mi

[2022-10-17 16:59] joshkimux opened #48302 "508-defect-1 ❗ Preparer instructions isn't announced to screen reader users; page needs discovery and a potential redesign"
## Point of contact

Josh Kim

## Severity level

1, Launchblocker. Critical. Must be fixed before launch.

## Details

Screen reader users in forms mode (e.g. using the tab key as they anticipate only form fields, not static text fields) will likely miss the note describing preparer instructions upon selecting "someone else" during the contact information steps.

<img width="725" alt="Screen Shot

[2022-10-17 17:01] bramleyjl commented on #47955
Confirmed `client_id` is present and `id_token` is not in SiS/Login.gov logout calls in all environments

![image.png](https://images.zenhubusercontent.com/5f99b8d1032b9709f1c7e051/9929d86e-e1c1-421b-9aab-7f86f1edc34f)

[2022-10-17 17:02] #47955 closed

[2022-10-17 17:04] ericasauv09 commented on #48236
validated in Staging with user 21: ![Screen Shot 2022-10-17 at 13.01.34.png](https://images.zenhubusercontent.com/62571b850845ac72a9917e8e/6682d74d-1e6d-410a-8568-b4a78aac4d8d)

I didn't find any users with errors under the payment section, not sure if we can/want to validate that as well or if we are ok with the validation above? @ajakabcin @tmitchellgcio

[2022-10-17 17:07] ianhundere commented on #47100
i'm gonna change the `logLevel` for argo until i hear back from datadog.

[2022-10-17 17:10] joeniquette commented on #39797
pivot: verify this is already done

[2022-10-17 17:15] holdenhinkle commented on #48191
User does not have bot user GitHub account(s) YubiKey(s).

[2022-10-17 17:16] RLHecht commented on #43901
@Mottie Yes, we realized we didn't need the rest of the content to be in the widget as the alternatives are still an option in either scenario.

[2022-10-17 17:25] tmitchellgcio commented on #48195
Just merged give it 30 min to deploy

[2022-10-17 17:27] holdenhinkle commented on #47959
User not on VFS Team Roster

[2022-10-17 17:33] holdenhinkle commented on #47959
User does not have a PagerDuty or DataDog account

[2022-10-17 17:34] holdenhinkle commented on #47959
User was removed from Sentry

[2022-10-17 17:44] adamwhitlock1 commented on #31403
The update to the verify identity alert is live in staging

![Screen Shot 2022-10-17 at 11.41.16 AM.png](https://images.zenhubusercontent.com/60ddebd504ce2452d0e0fa92/81d57bee-1f3e-4003-ac5d-abf0daf2ce25)

I validated this by just setting up a regular account with one of my personal emails and bv default was at LOA1 and could see the alert.

[2022-10-17 17:49] jsimonVA opened #48303 "Redirect Request For online Form 22-1990n"
### Instructions
- Requests must be submitted **AT LEAST** 2 weeks in advance.  Some requests take a significant amount of time and coordination to implement, so start the process as soon as you know you will need one.
- This issue will be used from initial request through implementation to ensure all individuals working on this are notified of status updates.  Please do not create multiple issues

[2022-10-17 17:52] #40297 closed

[2022-10-17 17:59] mviterna opened #48304 "Need Athena access for RDS"
## Who is the devops resource on your team?
_Please use their github username, if applicable (optional, please delete if unused)_

@github-name
mviterna (Mark.Viterna)
kristen-brown (Kristen.Brown)
michelpmcdonald (Michel.McDonald)
cilestin (Drew.Fisher)
Alex.Wilson

## Description
_What details are necessary for understanding the specific work or request tracked by this issue?_
Team Dash and Cara

[2022-10-17 18:00] adamwhitlock1 commented on #46731
We did some discovery around the FE for an 'error summary' component, and it turns out there is some existing support for this and a prop exists for `showErrorList` within the schema form component

https://github.com/department-of-veterans-affairs/vets-website/blob/main/src/platform/forms-system/src/js/components/SchemaForm.jsx#L207

The prop is statically set to `false` for all our form instance

[2022-10-17 18:01] mviterna opened #48305 "Sidekiq Admin UI Access Request"
_Access to the Sidekiq Admin UI is managed through a GitHub team under the [department-of-veterans-affairs/va.gov-sidekiq team](https://github.com/orgs/department-of-veterans-affairs/teams/va-gov-sidekiq/members). Please provide your GitHub username to be added to that team, along with a reason access is required._

- GitHub username:
mviterna (Mark.Viterna)
kristen-brown (Kristen.Brown)
michelpmc

[2022-10-17 18:02] holdenhinkle commented on #47959
Remove User from Org: Katy Bowman - https://github.com/department-of-veterans-affairs/github-user-requests/issues/12850

[2022-10-17 18:09] ericasauv09 commented on #48195
validated with user 36:
![Screen Shot 2022-10-17 at 14.06.48.png](https://images.zenhubusercontent.com/62571b850845ac72a9917e8e/09414c28-6fb8-4367-a304-eaf6f331c891)

and user 80:
![Screen Shot 2022-10-17 at 14.08.23.png](https://images.zenhubusercontent.com/62571b850845ac72a9917e8e/8c6713d4-e30d-4371-a8e2-748a3a3159de)

[2022-10-17 18:10] sortizsh commented on #48249
Not a launch blocker, nice to have

[2022-10-17 18:10] sortizsh commented on #48244
Not a launch blocker, nice to have

[2022-10-17 18:10] #48195 closed

[2022-10-17 18:11] ericasauv09 commented on #47764
unblocking and closing now that #48195 is complete

[2022-10-17 18:11] #47764 closed

[2022-10-17 18:14] #48126 closed

[2022-10-17 18:18] mviterna commented on #48305
I already have access, so you can disregard mine

[2022-10-17 18:18] mviterna commented on #48305
but they all need similar to what I have

[2022-10-17 18:19] #48253 closed

[2022-10-17 18:20] #48252 closed

[2022-10-17 18:20] #48251 closed

[2022-10-17 18:29] annekerr49 commented on #38736
@michel-dooley  What is the status of this item?

[2022-10-17 18:30] cgednalske opened #48306 "Design | Profile | Nametag - update designs to match use cases in staging/prod"
## Background

The nametag component may not be accurately reflected in certain use cases throughout Profile. We ran across this while working on the [Account security MPI alert](https://github.com/department-of-veterans-affairs/va.gov-team/issues/47350).

We should make sure the nametag is updated to correct version ([see Angela Agosto's nametag audit](https://app.mural.co/t/vsa8243/m/vsa8243/164

[2022-10-17 18:33] vbellissimo opened #48307 "Request Calendly RSVP schedule change"
Tasks:
- [x] Ask Naomi to reduce our office hours to only 1 time a week (Tuesdays at 2:30pm EST)

[2022-10-17 18:34] annekerr49 commented on #39251
@kjduensing - Can we get a status update on this item?

[2022-10-17 18:34] andaleliz commented on #47646
Initial meeting set for 10/17

[2022-10-17 18:35] vbellissimo opened #48308 "Ask Naomi to create RSVP link"
- [x] Ask Naomi to create our Canlendly RSVP link

[2022-10-17 18:36] cgednalske commented on #48306
Hi @SKasimow -- I made this ticket to check/update the nametag in the designs to make sure our mockups are accurately showing what actually happens to the name tag in different LOA1 and LOA3 use cases (discussed in our ticket for the [Account security alert work](https://github.com/department-of-veterans-affairs/va.gov-team/issues/47350#issuecomment-1280891130)).

Not sure how urgent this is to do

[2022-10-17 18:39] vbellissimo opened #48309 "Update office hours on team pages"
Tasks:

- [x] Update the following pages to include Calendly RSVP link and schedule to Tuesdays at 2:30pm EST

- https://vfs.atlassian.net/wiki/spaces/CIT/pages/1640333324/Platform+website+support+overview

- https://vfs.atlassian.net/wiki/spaces/CIT/overview

[2022-10-17 18:40] vbellissimo opened #48310 "Communicate new Office Hours to other teams"
Tasks:

- [x] Draft Slack communication message about our Office Hours:
- changing to once a week (as opposed to twice a week)
- later in the day (2:30pm EST) to accommodate West Coast team members
- available with new RSVP; please do this!

- [x] Peer review our drafted message (this can be done via our #content-chats or daily stand-up

- [x] Post Slack message on #platform-team Slack channel

[2022-10-17 18:43] #48275 closed

[2022-10-17 18:48] wullaski commented on #47827
@zach-park I just checked the three confirmation pages for the longer content and can confirm it is there. The short content from the first screenshot shows everywhere else. We have unit tests in place to test that functionality as well.

[2022-10-17 18:48] annekerr49 commented on #39252
kjduensing - can we get a status update on this issue?  Last update was 5/9/2022

[2022-10-17 18:50] vbellissimo opened #48311 "Ask how to find out when there are new team members to the Platform contract"
### Tasks:

- [x] Ask question to Andrea or Jason on our #platform-content Slack channel
- We're thinking through how to meet with new team members to the Platform contract to give them a quick intro of our team and our services.
- Is there a way for us to know who is new to the contract?
- Which team they are in?
- Our goal is to ensure they are set up for success by providing them with a high-le

[2022-10-17 18:53] zach-park commented on #47827
@wullaski , thanks so much!

[2022-10-17 18:54] vbellissimo opened #48312 "Demo: orientation video storyboard"
### Tasks

- [x] Create PPT to introduce demo of orientation video storyboard/script
- [x] Demo at the next scheduled demo (Wednesday, February 15)

[2022-10-17 18:54] aarathi-poldass opened #48313 "VAOS Staging: V2 User not able to choose both AM and PM on a preferred date for CC request"
We have noticed that when the user selects AM and PM on a particular preferred date the system is throwing a 400 error and the request is not making its way through to HSRM. We have tested this scenario during VAR Res 4.32.10 regression and passed testing.

**Validation steps before reporting: **

- This issue is inly happing with CC requests only. VA flow is working as expected
- Only happens wit

[2022-10-17 18:55] vbellissimo opened #48314 "Plan out an orientation for new team members, using other similar orientations as a model"

[2022-10-17 18:56] tbaker1026 opened #48315 "Take first 38 forms and open them to group them into categories from the Airtable board"
https://airtable.com/app8r8N52jBfzOkMb/tblYHPlW3Sv5bNBRq/viwUGCxIiuMxCqrgE?blocks=hide

[2022-10-17 18:58] vbellissimo opened #48316 "Outdated or duplicative links: Document recommendations/questions"
Tasks:

- [x] Review the support request ticket details: https://github.com/department-of-veterans-affairs/va.gov-team/issues/33450

- [x] Review the tickets comments and history

- [x] Assess next steps to resolve the ticket

- Look through related pages on Platform website to provide any recommendations for alternative pages to link to
- If any, document questions for Platform SMEs

- [x] Messag

[2022-10-17 18:59] annekerr49 commented on #39254
kjduensing - can we get a status update on this issue? Last update was 5/9/2022

[2022-10-17 18:59] vbellissimo opened #48317 "(Samara) Create orientation takeaway document for Platform team member"
### Tasks

- [x] Create a document (Slides, Confluence doc, etc.) with orientation takeaways for the new Platform team member

- [x] Share document with rest of the team for peer review

- [x] Make additional revision based on team feedback

Other info:

- Strategy notes: https://vfs.atlassian.net/wiki/spaces/CIT/pages/2477621264/FY2023+Q2+Platform+website+orientations

- Internal orientation guid

[2022-10-17 19:00] aarathi-poldass commented on #48313
@ldelacosta Can you please assign this ticket to the developer for further analysis. Please note this is marked as high priority and needs to be addressed before Go-Live date. Thank you!

[2022-10-17 19:01] vbellissimo opened #48318 "Communicate about new Platform website orientation"
### Tasks

- [x] Announce at Team of Teams meeting about new orientation for new team members but available for anyone interested.

- [x] Vicky will let other PMs know at an upcoming Platform Huddle sync meeting

- [x] Vicky will let team know if there are any existing team members interested to schedule their orientation

[2022-10-17 19:02] tbaker1026 commented on #48203
Form # is in the name but not consistent.

[2022-10-17 19:03] tbaker1026 commented on #48232
Reached out to Nicole working with Docusign

[2022-10-17 19:04] #46744 closed

[2022-10-17 19:08] narin opened #48319 "Offboarding of Rafael Arroyo"
# Instructions
Fill out name of individual and *Description* section below.

*(Please add only one individual per form)*

# Description
Please provide the following information about the individual being offboarded:
- name:

- team name:

- role on team:

- expected last day: _(MM/DD/YYYY)_

- company they work for:

- email: _(Multiple emails listed in order of relevance to VA business, VA, Compa

[2022-10-17 19:10] #48236 closed

[2022-10-17 19:13] Samara-Strauss commented on #47441
Hmm, that's interesting. I obviously don't know much about the world of appeals, but I'd be curious if there is differing guidance being given by different people in BVA.

[2022-10-17 19:13] Samara-Strauss commented on #47441
Also, I would confirm Danielle is holding office hours this week, as she will be at the OCTO offsite.

[2022-10-17 19:15] #48258 closed

[2022-10-17 19:15] #48209 closed

[2022-10-17 19:15] #48256 closed

[2022-10-17 19:15] Samara-Strauss commented on #47350
TBH, I am not sure. Being able to connect to MPI and not having a military branch of service is very different than not being able to connect to MPI at all. I really would think the nametag would not even be able to show the full name if we couldn't connect to MPI, but we'd need to confirm.