[2022-05-18 13:46] saderagsdale opened #41547 "VFS Team Support Requests"
## Value Statement
**_As_** Benefits Team 1
**_We want to_** triage and manage support requests
**_So that_** we can respond to investigative and delivery requests related to our team.

---
## Background Context
The scope of this epic captures support and maintenance requests incoming from neighboring teams.

## How to use this epic
- Create an issue, including any details needed to complete the t

[2022-05-18 13:51] michelle-dooley commented on #33871
Based on this feedback from security I am going to close this ticket as we will not be moving forward with this request.

[2022-05-18 13:51] #33871 closed

[2022-05-18 13:51] #40434 closed

[2022-05-18 13:52] marcynadeau commented on #40970
@ldelacosta @JRRoof This was discussed on a call with Front End and back end developers.  It was determined this is a front end issue.
For a future enhancement Brad Crosby will look into  'beefing up the API' so that the client does not have to infer the modality.

[2022-05-18 13:58] rjohnson2011 commented on #40382
Filled out the section for 'Making Changes to the List' as well as added a table of contents and expanding on the Intro. https://vfs.atlassian.net/wiki/spaces/TTT/pages/2193359369/VA.gov+Product+Directory+Documentation

Planning on creating a Feature Request Template on Github today, which users can utilize to make changes to the VAPD or request the Human Readable List. Will reach out to the team

[2022-05-18 13:59] marcynadeau commented on #40972
@ldelacosta @JRRoof This was discussed on a call with Front End and back end developers. This issue should be fixed once VAOSR-3605 is fixed as the kind will now show telehealth. The front end will then need to update logic so that if kind is Telehealth and no VMR link and VVS kind = clinic based, then front end can infer this is a  VA Video Connect Appointment at a VA Location.
For a future enhan

[2022-05-18 14:01] pjhill opened #41548 "Store "VA.gov - Search Test" Datadog Monitor as Code in Terraform"
# Description
In order to support maintenance and recovery we need to store "VA.gov - Search Test" as code in Terraform.

# Acceptance Criteria
- [x] "VA.gov - Search Test" has been exported from Datadog as code
- [x] "VA.gov - Search Test" is stored in Terraform as code
- [x] Updates to "VA.gov - Search Test" are directed at Terraform code changes
- [x] "VA.gov - Search Test" change management us

[2022-05-18 14:01] pjhill opened #41549 "Integrate Terraform with Datadog to Publish Monitors"
# Description
Use existing examples from Infrastructure team to integrate Terraform with Datadog for the purposes of managing synthetic monitors.

Here's an example of a monitor in Terraform --
https://github.com/department-of-veterans-affairs/devops/blob/master/terraform/environments/datadog/monitors.tf

# Tasks
- [x] Research existing solutions for Terraform implementations that integrate with D

[2022-05-18 14:02] JoeTice opened #41550 "Rename Heartbeat Synthetic Monitor"
## Issue Description
There is confusion around the use of the term 'heartbeat', people feel that the term heartbeat implies a certain type of check that is not representative of what this monitor checks for. We would like to select a new name for this monitor, but don't have a good option identified yet.

The name cleared with all involved is -- "VA.gov - Homepage interaction - Sign in modal"

---

[2022-05-18 14:02] JoeTice opened #41551 "Update Playbook Documentation"
## Issue Description
Based on the renaming of the heartbeat monitor, there will need to be updates made to our documentation. As well, we would like to make a small tweak to the documentation to improve overall quality and consistency of our documentation. Lastly, we would like to cross-link to the User Guide documentation as well, based off of a request that we received in the Go/No-Go

---
## Ta

[2022-05-18 14:03] JoeTice opened #41552 "Update User Guide Documentation"

[2022-05-18 14:03] DanielleThierryUSDSVA commented on #41320
You're welcome, @andaleliz! Always a pleasure working with you. And thank you for driving this effort to encourage more research participants!

[2022-05-18 14:04] jlang10761 opened #41553 "Adding [Sarah Shields] to DSVA Slack"
Please add [sarah.shields@coforma.io] as a full member, they will be joining the CEDAR Benefits project as a Project Manager. We will add them to the appropriate channels once they are in.

Please reach out to [jeff@coforma.io](mailto:jeff@coforma.io) on DVSA slack for any questions/clarifications.

[2022-05-18 14:05] jlang10761 opened #41554 "Adding [Sam Cormier] to DSVA Slack"
Please add [sam.cormier@coforma.io] as a full member, they will be joining the CEDAR Benefits project as a developer. We will add them to the appropriate channels once they are in.

Please reach out to [jeff@coforma.io] on DVSA slack for any questions/clarifications.

[2022-05-18 14:08] #40342 closed

[2022-05-18 14:11] marcynadeau commented on #40974
@ldelacosta @JRRoof This was discussed on a call with Front End and back end developers.  The front end needs to update logic so that if kind is Telehealth and no VMR link and there is a VA clinic data then front end can infer this is a VA Video Connect Appointment at a VA Location.
For a future enhancement Brad Crosby will look into 'beefing up the API' so that the client does not have to infer t

[2022-05-18 14:15] marcynadeau commented on #40979
@ldelacosta @JRRoof This was discussed on a call with Front End and back end developers. The front end needs to update logic but I think you all need to follow up with Brad on this one.  It seems there is a missing flag to indicated this Video Visit call is on a VA issued device (Government Furnished Equipment (GFE)).  Let me know if I need to log a backend defect on this.  I was furiously taking

[2022-05-18 14:17] MRamaniVA opened #41555 "Platform Orientation Template [Your name here]"
## Welcome and Introduction
Welcome to the Veteran's Administration (VA) Veteran Facing Services (VFS) team!
As a new VFS team member, you will be working in the web ecosystem we call the VA.gov Platform (or "**The Platform,**" for short).  The tasks on this list are designed to get you up to speed on the role of Platform, making it easier for you to do your job.

Because the VA is a huge organiza

[2022-05-18 14:19] Mottie commented on #6006
@saderagsdale This is still a problem, but ultimately an issue with the platform code. I did try to add a method to include a custom algorithm, but I was told it'd be [better to fix the core matching algorithm](https://github.com/department-of-veterans-affairs/vets-website/pull/18786).

I don't think we should close this ticket, but we don't need to be assigned to it anymore.

[2022-05-18 14:21] #41146 closed

[2022-05-18 14:22] scottymeyers commented on #29394
This also updates `vets-website` to use the new version.

[2022-05-18 14:27] #40438 closed

[2022-05-18 14:28] mydesignrocks commented on #39265
Identified composite actions and moved them to a global repo.
they are: aws-credentials, security-audit, configure-bigquery, init-data-repo, slack-notify
1. QA actions tied to bigquery and init-data-repo are not in use for now within vets-website
2. aws-credentials is already a market place action and not a huge gain in moving it over to global action
3. moving security-audit and slack-notify
http

[2022-05-18 14:33] darlavan opened #41557 "Platform Orientation Template [Darla van Nieukerk]"
## Welcome and Introduction
Welcome to the Veteran's Administration (VA) Veteran Facing Services (VFS) team!
As a new VFS team member, you will be working in the web ecosystem we call the VA.gov Platform (or "**The Platform,**" for short).  The tasks on this list are designed to get you up to speed on the role of Platform, making it easier for you to do your job.

Because the VA is a huge organiza

[2022-05-18 14:35] k80bowman commented on #316
@joshkimux a smaller huddle would be great.

[2022-05-18 14:42] cohnjesse commented on #6006
@saderagsdale it seems like it needs to be fixed at some point but there might not be a clear path forward. I would suggest we use a pre-built algorithm that works for what we need out of the box instead of doing our own. If what we are using doesn't fit the bigg then we may need to swap it out for something else. Also might be good to work with UX a bit to determine what exactly we are trying to

[2022-05-18 14:44] cohnjesse commented on #41511
@saderagsdale yep. Though it mentioned this is not just an issue with our code, it affects multiple apps, so this may be a Ops issue

[2022-05-18 14:46] jbritt1 opened #41558 "Remove duplicated external service integration docs"
## Description
External service integration documentation was moved to Confluence a while back. No need to continue to house two copies of the same docs.

---
## Tasks
- [x] Ensure a version of the doc exists in Confluence
- [x] Ensure there are no links pointing back to the GitHub version of the docs in https://vfs.atlassian.net/wiki/spaces/pilot/pages/1885601877/Partner+Services+Upstream+Service

[2022-05-18 14:47] shiragoodman commented on #41466
@chaseakirby Here's my comments:

- the "Moderator Script" should be changed on Platform Website: Staging Review AND in the Moderator Responsibilities doc.
- For the Original Staging Review Request Ticket, the Slack channel should refer to #vfs-platform-support

[2022-05-18 14:51] tameracorson opened #41559 "1095-B Launch discovery"

[2022-05-18 14:51] calquisola commented on #41377
SOCKS access granted. Please continue with [the guide](https://depo-platform-documentation.scrollhelp.site/getting-started/Internal-tools-access-via-SOCKS-proxy.1821081710.html) to establish a connection to SOCKS proxy. If you run into any issues, please feel free to reach out in the [#vfs-platform-support](https://dsva.slack.com/archives/CBU0KDSB1) channel using the [support request workflow](htt

[2022-05-18 14:51] #41377 closed

[2022-05-18 14:52] tameracorson opened #41560 "UAT"

[2022-05-18 14:53] cgednalske commented on #38886
@allison0034 awesome! Thank you 😃

[2022-05-18 14:53] #38886 closed

[2022-05-18 14:56] #39790 closed

[2022-05-18 14:58] raywangoctova opened #41561 "Platform Tools Page Change Log"
### Description

Please add a change log on the Platform Tools page. It should track what information on the tools got changed, the reason and when was the change.

### Relevant URLs
https://depo-platform-documentation.scrollhelp.site/getting-started/Platform-tools.1872855066.html

[2022-05-18 15:04] chaseakirby commented on #41466
@shiragoodman Thanks! Made those changes! I'm going to check the other original tickets as I believe I copied that.

[2022-05-18 15:04] saderagsdale commented on #41546
@cohnjesse Who previously touched this code and can speak to historical context? Since this item was added to the backlog after refinement and requires investigation, it is not an ideal candidate for sprint #2 planning. Ideally, the investigative details are ironed out before sprint planning to ensure any work meets DoR.

[2022-05-18 15:06] humancompanion-usds opened #41562 "Add a link to the contribute-to-the-design-system page from Components and Patterns"
When asked to determine how to contribute to the design system a number of users in our research sessions went to /components or /patterns to look and found nothing. This issue is to add a secondary action link to those pages, with a header and some supporting text, encouraging users to contribute to the system.

[2022-05-18 15:06] acrollet commented on #41065
In code review: https://github.com/department-of-veterans-affairs/vets-website/pull/21096

[2022-05-18 15:15] chaseakirby commented on #34739
@SarahKay8 Hey Sarah, I don't see the Dashboard to view by Products. Can you comment a link to the board/card?

[2022-05-18 15:17] shiragoodman commented on #40821
Thank you @CherylEvans for summarizing our concerns.

I would also like to add a comment to your last bullet. All recordings shared on Platform Website are required to be 508 accessible, meaning we would need to create a transcript and add closed captions to each video. This would require additional time and resources each month.

[2022-05-18 15:19] Samara-Strauss commented on #40559
**Personal info revisions**

- There are no QA tasks for Tze, just tickets for our team coming out of QA, right? If so, you can remove the "QA" heading.

**Bad address indicator**

- I didn't have any sprint goals for PM for bad address indicator this sprint, so you can remove those.

*Notification preferences**

- There shouldn't be work this sprint. You can remove this heading.

**Direct deposit

[2022-05-18 15:20] acrollet opened #41563 "[BUG] Pre-checkin should not be allowed to be attempted more than once"
## Time Box
1 day - let's spend 1 day trying to reproduce the bug, if we can't after 1 day we will close this ticket

## Background
Sometimes we receive an error from VistA for pre-checkin already complete. When this happens, the attempts are generally a minute or two apart. We need to reproduce the issue and fix it if possible.

https://dsva.slack.com/archives/C02U11L00TF/p1654020402374599
https:

[2022-05-18 15:20] mmiddaugh opened #41564 "[Research] Research synthesis and reporting - Top Task Moderated sessions"
## Description
The goal of this research is to get feedback from Veterans and others (including Veterans' family members or caregivers, survivors, and service members) on a survey designed to identify Veteran top tasks. We want to get feedback on the tasks, questions, and instructions before launching the unmoderated survey to a large group of Veterans and others to complete independently (without

[2022-05-18 15:22] mmiddaugh opened #41565 "[Research] Conduct Research - Top Task Moderated sessions"
## Description
Conduct top task research with Veterans and others

## Tasks
- [x] Print [conversation guide](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/public-websites/research/Veteran-tasks/moderated/conversation-guide.md)
- [x]  Post to #feedback-backchannel right before session starts with observer instructions and participant description
- [x]  Co

[2022-05-18 15:27] shiragoodman commented on #41201
re: the gh/Slack integration - awesome, awesome, awesome. I'm 100% for this, however I don't think we need to rush to get it in prior to the launch. thank you, Brian!

@chaseakirby can you create a ticket for the backlog for implementing Slack notifications for new Collaboration Cycle tickets?

[2022-05-18 15:28] shiragoodman commented on #40404
Confirming that the Staging Review meeting is scheduled for 5/24 at 11:30am

[2022-05-18 15:35] mmiddaugh opened #41567 "[Research] Post Research Tasks - Usability of redesigned VA.gov home page"
## Description
Wrap up research study and associated documents/resources

## Tasks

- [x]  Add participant characteristics into MVS checker (for marginalized groups)
- [x]  Make longer presentation for Design/Research/Content Mon mtg
- [x]  Present findings to team and stakeholders, discuss recommendations
- [x] Present findings to designer, discuss recommendations
- [x]  Revise report per report

[2022-05-18 15:36] mmiddaugh opened #41568 "[Research] Research synthesis and reporting - Usability of redesigned VA.gov home page"
## Description
The goal of this research is to get feedback from Veterans and others (including Veterans' family members or caregivers, survivors, and service members) on a survey designed to identify Veteran top tasks. We want to get feedback on the tasks, questions, and instructions before launching the unmoderated survey to a large group of Veterans and others to complete independently (without

[2022-05-18 15:38] mmiddaugh opened #41569 "[Research] Conduct research - Usability of redesigned VA.gov home page"
## Description
Conduct usability of redesigned home page with Veterans and others

## Tasks
- [x] Print conversation guide
- [x]  Post to #feedback-backchannel right before session starts with observer instructions and participant description
- [x]  Conduct scheduled research sessions
- [x]  Debrief research sessions w/team
- [x]  Post debrief/updates on slack
- [x]  Debrief research sessions into

[2022-05-18 15:40] batemapf opened #41570 "10-10EZ - Improvement: Evaluate new GA event for unsigned in 1010EZ form progress"
(This is definitely low priority)

Context: Trying to completely understand 1010EZ usage breakdown between users who sign in for pre-fills vs. users who continue without signing in. As far as I can tell, there is no unique event for someone clicking the "continue without signing in". You can get at the data by evaluating unique pageviews of `health-care/apply/application/id-form` (available on the

[2022-05-18 15:42] raywangoctova commented on #40821
@shiragoodman The request was to record the orientation sessions and post the recording after each session. This way the most current recording is available. This request is not intended to create prerecorded orientation sessions or replace the need of the interactive sessions. Can we use the Zoom transcription for both transcript and closed captions?

[2022-05-18 15:42] chloedotbrown commented on #36807
Amazing! Thank you so much, @obrienjulie!

I've reconfigured the [dashboard](https://va-gov.domo.com/page/447193050) cards, deleted the beast mode, and tested to make sure everything's still working. I also added a note near the first version filter explaining what it does.

Whenever documentation is good, I think we should be able to close this one out! 🤞🏻

[2022-05-18 15:43] amygoldman commented on #41169
5/18

- Polishing feedback today to share with Console UI team over Slack tomorrow

[2022-05-18 15:45] aubreyarcangel opened #41572 "Add Medalia button to remaining Drupal templates"
## Issue Description

The Medallia feedback button needs to be added to the bottom of main content to following drupal templates:

[code]

## Tasks
- [x] Add Medallia button to templates above
- [x] Q/A pages that use the templates above

## Acceptance Criteria

- [x] _Add bulleted list of all the task that bust be finished for the feature to be consider finished & ready to merge_

[2022-05-18 15:46] briandeconinck commented on #41201
For this item:

In a team discussion on 5/18, we determined we would **not** add another field for additional artifacts. We don't want/need prototypes at kickoff and this would mostly just be extra clutter. Leaving as is and marking as complete.

[2022-05-18 15:46] dennispwang opened #41573 "Platform Orientation Template [Dennis Wang]"
## Welcome and Introduction
Welcome to the Veteran's Administration (VA) Veteran Facing Services (VFS) team!
As a new VFS team member, you will be working in the web ecosystem we call the VA.gov Platform (or "**The Platform,**" for short).  The tasks on this list are designed to get you up to speed on the role of Platform, making it easier for you to do your job.

Because the VA is a huge organiza

[2022-05-18 15:51] mmiddaugh opened #41574 "Draft research convo guide: Usability of redesigned home page"
## Issue Description
Based on the research plan created in #41415, produce a conversation guide in support of the moderated usability of redesigned home page research project

## Tasks
- [ ] Draft research plan
- [ ] Share plan with a UX team member, PM, PO, and incorporate their feedback
- [ ] Draft recruitment emails for unmoderated card sort
- [ ] Share recruitment emails with a UX team member

[2022-05-18 15:51] SKasimow commented on #40559
@Samara-Strauss - this is a placeholder for any adt'l bugs that come up from Platform testing and review:

- Removed Bad Address from sprint goals
- Removed Notification Preferences placeholder
- Will check with @mdewey on carry-over work for DD or need for act'l tickets.

Got it!

[2022-05-18 15:52] andaleliz commented on #41320
Aw, back at you! I really appreciate your support in this effort. We lucked out - today is the weekly Research Ops meeting so they've added these to their agenda for review ❤️  hopefully we can start using these soon.

[2022-05-18 15:57] BevCaddy opened #41575 "Platform Orientation Template [Robert Berry]"
## Welcome and Introduction
Welcome to the Veteran's Administration (VA) Veteran Facing Services (VFS) team!
As a new VFS team member, you will be working in the web ecosystem we call the VA.gov Platform (or "**The Platform,**" for short).  The tasks on this list are designed to get you up to speed on the role of Platform, making it easier for you to do your job.

Because the VA is a huge organiza

[2022-05-18 16:01] shiragoodman commented on #40821
@raywangoctova - The summary is referring to the process necessary for posting the recording after each session. Zoom transcription could work, but not for closed captions. I do not think the benefit outweighs the work required to maintain it. At least not at this time.

[2022-05-18 16:04] SarahKay8 commented on #34739
HI @chaseakirby.Does this url populate the card? https://va-gov.domo.com/analyzer?cardid=1350189801

[2022-05-18 16:17] CherylEvans commented on #41338
Would it be possible to attach your FB to the core GH ticket?
https://github.com/department-of-veterans-affairs/va.gov-team/issues/41090
<https://www.google.com/url?q=https://github.com/department-of-veterans-affairs/va.gov-team/issues/41090&sa=D&source=calendar&ust=1653322208663666&usg=AOvVaw3ZiBpXnwDRa1CVMhv74D3W>
Thanks again for the situational awareness!
Cheryl

Cheryl Evans | Consultant

The

[2022-05-18 16:19] LindseySaari commented on #38518
Notes for the SLO report percentiles:

We will most likely want to use [distribution metrics](https://docs.datadoghq.com/metrics/distributions/) to graph percentiles. See [Ruby code examples here.](https://docs.datadoghq.com/metrics/custom_metrics/dogstatsd_metrics_submission/#code-examples).  DogStatsD will allow us to send distribution type metrics which statsd is unable to process/accept.

Step

[2022-05-18 16:20] justin-trieu opened #41576 "SOCKS access for Justin Trieu"
### Your Name

Justin Trieu

### Your Email

justin.trieu@thoughtworks.com

### Your Role and Team

Orchid, Developer, ThoughtWorks

### Product Manager (PM) name and email

Alina Murphy, amurphy@thoughtworks.com

### Product Owner (PO) name and email

Luciana Morais, luciana.morais@va.gov

### Public SSH Key

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDFL14wQgw4Qhy0+NBx+YAxsp664skwdHyIw+tNmfkouxthbLck

[2022-05-18 16:21] jacobworrell opened #41577 "526 Submission Errors"
## Product Outline
[Link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/product-management/product-outline-template.md)

## High Level User Story/ies
As a _____, I need _____ so I can _____.

## Hypothesis or Bet
**If** _we make this change_ **then** _we expect this to happen_.

## OKR
_Which Objective / Key Result does this epic push forward?_

## Definition o

[2022-05-18 16:22] mmiddaugh opened #41578 "[Research epic] Usability of redesigned VA.gov home page"
This research will validate the March 2022 redesign for the VA.gov home page.

## Related artifacts
- [Initiative brief for the Homepage iteration - March 2022](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/public-websites/home-page/home-iteration-initiative-mar2022)
- [Baseline Wayfinding Research on VA.gov](https://github.com/department-of-veterans-affairs/va

[2022-05-18 16:23] andaleliz commented on #31404
Closing this as it is now a duplicate of the more details #41527

[2022-05-18 16:23] #31404 closed

[2022-05-18 16:24] jacobworrell opened #41579 "Failed submission notifications"

[2022-05-18 16:31] markfallows opened #41580 "SOCKS access for Mark Fallows"
### Your Name

Mark Fallows

### Your Email

mark.fallows@adhocteam.us

### Your Role and Team

Associate Product Manager 10-10 Team

### Product Manager (PM) name and email

Heather Justice heather.justice@adhocteam.us

### Product Owner (PO) name and email

Lauren Alexanderson laura.alexanderson@va.gov

### Public SSH Key

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDB6EEjUAxuTsF5sZ14u4QRfd3dvxqir1E2F

[2022-05-18 16:33] tpharrison opened #41581 "BE - Vets API - Error Monitoring - Investigate Sentry Error: Pundit::NotAuthorizedError"
## Background
The purpose of this ticket is to investigate the root cause of an error that has been logged in Sentry 450,000+ times over the past 90 days (as of 05/18/2022) to determine if it is a legitimate error or a common occurrence that is being logged as an error.

The specific error: `Pundit::NotAuthorizedError not allowed to access? this Symbol`

Click [here](http://sentry.vfs.va.gov/organ

[2022-05-18 16:34] ldelacosta commented on #37906
This ticket will be re-tested after the work is completed in #36913

[2022-05-18 16:35] mmiddaugh opened #41582 "[Research] Monitor unmoderated Top Task participation"
## Description
Monitor unmoderated top task research with Veterans and others

## Tasks (WIP)
- [x] Monitor/track cohort participation
- [x] Report participant codes to Perigean daily
- [x] Download data from Optimal workshop
- [x] Download final participant list from Perigean
- [x] Close out Optimal workshop survey

[2022-05-18 16:35] SebVortex commented on #31151
What work is necessary for this story to be completed?
	1.	Create sandbox version for new design
	2.	Design for new refine tuition modal.
	3.	If nothing in GIDS needs to be changed, then the search should be conditionally changed to location or by name based on content.

Questions
	•	Will cards remain the same?
	•	Where will cards be positioned?
	•	Where will the map be positioned?
	•	Will filter

[2022-05-18 16:37] mmiddaugh opened #41583 "[Research] Research synthesis and reporting - Top Task Unmoderated survey"
## Description
The goal of this research is to get feedback from Veterans and others (including Veterans' family members or caregivers, survivors, and service members) on a survey designed to identify Veteran top tasks.

## Tasks
- [x] Enter task data from moderated sessions as a separate cohort
- [x] Download all data from Optimal Workshop
- [x] Add participant characteristics into MVS checker (f

[2022-05-18 16:37] shiragoodman opened #41584 "Respond to DGIB/EDU teams re: "Accelerated Collaboration Cycle""
## Description
On May 3, 2022, the DGIB/EDU teams presented to Governance team (as well as other Platform folks) their proposal for an "accelerated Collaboration Cycle." [https://app.zenhub.com/files/133843125/706247cf-4156-4cb7-973b-d52deabc5dc5/download](https://app.zenhub.com/files/133843125/706247cf-4156-4cb7-973b-d52deabc5dc5/download)

The purpose of this ticket is to assemble an artifact do

[2022-05-18 16:38] mmiddaugh opened #41585 "[Research] Post Research Tasks - Top Task Unmoderated Sessions"
## Description
Wrap up research study and associated documents/resources

## Tasks
 - [x] Share research report with team, stakeholders, research, UX for feedback
- [x]  Make presentation for Design/Research/Content Mon mtg
- [x]  Present findings to team and stakeholders, discuss recommendations
- [x]  Revise report per report out discussions
- [x]  Close out ticket once once completed
- [x]  Pos

[2022-05-18 16:40] jacobworrell opened #41586 "Create Problem Brief Draft"

[2022-05-18 16:40] jacobworrell opened #41587 "Create Problem Brief draft."

[2022-05-18 16:40] jacobworrell opened #41589 "Review and revise with Benefits Team 1."

[2022-05-18 16:40] jacobworrell opened #41590 "Review and revise with Matt"

[2022-05-18 16:42] jacobworrell opened #41591 "Review and revise Problem Brief w/ Skyler"

[2022-05-18 16:43] adamwhitlock1 commented on #41319
Going to work on doing validation only on 'submit' and therefore eliminating the need for the 'required' schema situation.

- Create custom field component
- Validate field on submit
- Show error messaging if update is attempted with empty field value
- Allow cancelling the edit state without any error messaging tripping up the cancel process

[2022-05-18 16:44] adamwhitlock1 commented on #37747
We can just close this ticket as we are not going to be implementing any delete functionality within personal info

[2022-05-18 16:44] #37747 closed

[2022-05-18 16:44] scottymeyers commented on #40414
@shiragoodman I was told you may be able to help me. I'm on the `benefits-team-1` crew and unable to assign myself to tickets, add labels to tickets or move them between columns in Zenhub. Do you have any idea what I need to do in order to have receive permissions to proceed with those actions? Cheers!

[2022-05-18 16:45] jacobworrell opened #41593 "Disability Claims Service Blueprint"
## High Level User Story
As a _____, I need _____ so I can _____.

## Goals
_What outcome(s) do we want to see?_

## Issues to create within this Epic

[code]

## How to configure this issue
- [ ] **Labeled with `discovery` and `research` and `team-name`**

[2022-05-18 16:45] adamwhitlock1 commented on #38951
Until this is approved to be a field available then I would keep it blocked until we know more from VA profile folks

[2022-05-18 16:47] jacobworrell opened #41594 "Follow up on getting Zenhub access"
Acceptance Criteria:

- Skyler gets Zenub access
- Skyler is able to participate in creating tickets and getting assigned tickets

[2022-05-18 16:47] jhouse-solvd commented on #40147
This is done. See linked plan in resources section above. Closing.

[2022-05-18 16:47] #40147 closed

[2022-05-18 16:48] madebydna commented on #41515
@alwerner that's a great question and I had thought about this. The only reason would be that those domains for the other environments would initially be sitting around unused. They wouldn't be functional and we would have no way of testing them. However, we should probably ask if it would make sense to just request them all at once.

[2022-05-18 16:48] raywangoctova commented on #40821
Can we validate the benefits? Looking from a program perspective, it is inefficient for a new development team to time their project with the availability of orientation offerings. This would especially difficult if a project has a shorter time frame. How do we offer closed captions via the zoom meeting today? Why can we do the same?

[2022-05-18 16:48] mmiddaugh opened #41595 "[Research] Prep Tasks - Usability of redesigned VA.gov home page"
## High Level User Story/ies
As a Veteran, I need a quick and efficient way to navigate VA.gov that supports doing top tasks. This research initiative will validate the redesigned VA.gov home page

## Tasks

- [ ]  Share research plan and conversation guide with Shane for approval and recruiting
- [ ]  Make note-taking spreadsheet
- [ ]  Schedule pilots
- [ ]  Change display name of Perigean Zoom

[2022-05-18 16:48] chaseakirby commented on #34739
I get a "this card hasn't been shared with you."
I think that we should put the card into a Dashboard, it appears that DOMO only displays Dashboards on the left navigation and cards may need a specific url to access.

![image](https://user-images.githubusercontent.com/94856753/169097708-72e79c74-20f7-4bbd-9eff-d3deaa44aec2.png)

[2022-05-18 16:52] tpharrison commented on #41581
@Samara-Strauss It might be easier to work on one error at a time, so this ticket addresses a specific error that occurs with high frequency across many API controllers.  I will start grooming tickets for the next set of errors, and hopefully we can work through these faster as we learn more.

Based on our conversations, I think we should have 3 developers looking into this - myself, Michele McDon

[2022-05-18 16:54] PJart commented on #40581
Made some changes to task last week, was told to move the logic to a class for better readability and added tests. Started the ticket 8 days ago, ended up taking a few days to get reviewed. Ticket was approved, will merge in after I run updates for brian and staging and test.

[2022-05-18 16:56] jjulian opened #41596 "Adding Judge Parajuli to DSVA Slack"
# Description

Please add judgeparajuli11@gmail.com as a full member.

cc @madebydna

[2022-05-18 16:56] jacobworrell opened #41597 "Create an inventory of FE-focused maintenance items related to 526EZ form"
## Value Statement
**_As a_**
**_I want to_**
**_So that_**

---
## Background Context
- Add here

## Acceptance Criteria
- [ ] _AC_
- [ ] _AC_
- [ ] _AC_

## Designs and Build Notes
- Add here

## Out of scope
- Add here

## Open questions
- Add here

## Tasks
- [ ] _Task_
- [ ] _Task_
- [ ] _Task_

## Definition of Ready
- [ ] _Clear value discription_
- [ ] _Testable acceptance criteria_
- [ ]

[2022-05-18 16:58] shiragoodman commented on #40821
We can turn closed captions on during the meeting (if requested - we can make it a default action), but they don't transfer over to the recording.

I can ask @CherylEvans to document the benefits of recording here as well and we can make a decision. For the record, I'm not suggesting we don't record... I'm suggesting that we don't take action at this time as my team has other pressing items and th

[2022-05-18 16:58] mchelen-gov commented on #40934
good catch, added to AC along with https://vfs.atlassian.net/wiki/spaces/ECP/pages/1872363553/Platform+Architecture+Working+Group

[2022-05-18 17:00] calquisola commented on #41576
@justin-trieu is in the VFS roster.

[2022-05-18 17:02] calquisola commented on #41580
@markfallows is in the VFS roster

[2022-05-18 17:03] rbeckwith-oddball commented on #41550
The monitor now technically does more than a simple heartbeat.

1. Pulls up the page for www.va.gov
2. Simulates clicking the `Sign In` button
3. Verifies that the `Sign in` header is present
![step-2__1652892900797.jpeg](https://images.zenhubusercontent.com/61265d854c842ee6052dd62e/3919ff78-5e08-4fc9-a248-9e3e047b3679)

[2022-05-18 17:04] adamwhitlock1 commented on #41066
I think we can add the events as required manually. I believe the reason that events are not firing automatically are because the main buttons are custom and can't just be a string based as the component accepts (they include a loading indicator and are full components).

[2022-05-18 17:08] raywangoctova commented on #40821
Did we validate the assumptions identified in the bullets. Beside the close captions, It is not clear how the recording via existing Zoom meeting tool would be time-consuming, and resource intensive. If posting on the website is adding to LOE and the concern with the assumption of people might not attend the interactive sessions, can we provide the recording after the session to be a take away in

[2022-05-18 17:16] CBonade commented on #41226
These are filled in for as good as I could match them up. Unfortunately, the team data did not seem to provide us much more than the Governance list already had.

[2022-05-18 17:18] yonidoronpeters opened #41598 "[Infrastructure Request] Set up S3 bucket and service account for DHP team"
## Description
The DHP team needs an encrypted S3 bucket (for dev, staging, and prod) and 1 or 2 service accounts with access to the buckets.

## Background/context
The @department-of-veterans-affairs/digital-health-platform team needs access to an S3 bucket. The bucket will store Veteran bearer and refresh tokens, and therefore needs to be encrypted with a key from KMS accessible only to our team

[2022-05-18 17:18] tameracorson opened #41599 "Identify criteria for hypothesis validation (#1)"
- [x] Hold collaboration meeting with team to decide on how we will know from the tests which hypothesis is correct.
- [x] Define synthesis criteria and actions based on results for each measure
- [x] Produce shareable document that outlines the synthesis strategy
- [x] Socialize with VA-PO

[2022-05-18 17:26] cohnjesse commented on #41546
@saderagsdale I am the only engineer on this team that has touched this code before, but I worked on the front end only. This is a back end ticket and the back end engineers that worked on it no longer work on this project. The engineer that picks it up will most likely need to do some research to orient themselves to the code so should over point accordingly

[2022-05-18 17:28] tameracorson opened #41600 "Conduct pilot testing (#1)"
- [x] Conduct pilot testing w/ 1 or more Veterans
- [ ] Capture insight or lessons learned

[2022-05-18 17:36] bethpottsVADEPO commented on #41159
@RLHecht I'm attaching the Word doc the team created that now has my edits tracked. I'd like to be able to send stakeholders a preview link, so go ahead and create a ticket for the drupal work that's needed to get this content in the CMS.

@laurwill Thanks to you and the team for your thoughtful work on this. I like the approach in the 2nd approach you all had in the Word doc, but I kept my edits

[2022-05-18 17:37] bethpottsVADEPO commented on #41159
And here's the attachment...

[https://app.zenhub.com/files/133843125/17f4c321-c0e5-4b7a-bdc6-1eb01e6c5506/download](https://app.zenhub.com/files/133843125/17f4c321-c0e5-4b7a-bdc6-1eb01e6c5506/download)

[2022-05-18 17:37] mrblanco1 commented on #31151
This story is part of the entire Search Page redesing. AFS UX is currently conducting some research and wireframe designs for a recommended solution. Wireframes will be shared with EDU once AFS approves the design.
We may work on this story, we may not and decide to close it and open a new one.

[2022-05-18 17:39] chaseakirby commented on #41411
@wesrowe Hi Wes. Thanks for completing this Collaboration Cycle Kickoff ticket! Based on your responses, your project has no visible changes.

So we are recommending the following Collaboration Cycle touchpoint:
 - [Privacy, Security, Infrastructure Readiness Review](https://depo-platform-documentation.scrollhelp.site/collaboration-cycle/Privacy-and-security-review.1782317101.html)

Since your wor

[2022-05-18 17:42] michelle-dooley commented on #41188
Note:  this should address the other ticket https://github.com/department-of-veterans-affairs/va.gov-team/issues/41099

[2022-05-18 17:43] aliyahblackmore commented on #40572
Noting here that Randi confirmed that I should go ahead and remove react widgets where necessary. I will work on this today, May 18!

[2022-05-18 17:45] brianseek commented on #38136
PR for this epic's feature branch: https://github.com/department-of-veterans-affairs/vets-website/pull/21119/files#diff-1f1a7251baf5db9de31431da6e970890096332d981f7e4c685b00576000dd196

[2022-05-18 17:46] andreahewitt-odd opened #41602 "Create GH/ZH and Scrum standards for all the platform teams to follow"
Currently, there is no documented standards for Platform teams to follow in regards to how individual teams use GH/ZH. That was ok when we were immature and building the platform from scratch, but as we've grown so greatly the last 6 months, that's impeded leadership from being able to dive in and quickly find answers to questions.

[Draft](https://vfs.atlassian.net/wiki/spaces/~534593234/pages/22

[2022-05-18 17:50] andreahewitt-odd opened #41603 "Updates to sprint reports"
Ray has requested changes to the VSP sprint report in a couple places:

- [This thread](https://dsva.slack.com/archives/GJY0PL91S/p1652202353203209) in VSP-contract-leads
- https://vfs.atlassian.net/wiki/spaces/LEAD/pages/2195685436/Sprint+doc+examples

AC:

[2022-05-18 17:50] pjhill opened #41604 "Research Publishing to GitHub Pages"

[2022-05-18 17:53] andreahewitt-odd commented on #41603
We need to define what is needed on the sprint Report, what process changes need to be defined and what needs to occur to make those happen. @little-oddball I tagged you too because if we want to validate sprint objectives with the POs and craft definition of done I think the TLs will need to be in those convos to make sure the tickets brought into the sprint align with the objectives.

[2022-05-18 17:58] calquisola commented on #41189
SOCKS access granted. Please continue with [the guide](https://depo-platform-documentation.scrollhelp.site/getting-started/Internal-tools-access-via-SOCKS-proxy.1821081710.html) to establish a connection to SOCKS proxy. If you run into any issues, please feel free to reach out in the [#vfs-platform-support](https://dsva.slack.com/archives/CBU0KDSB1) channel using the [support request workflow](htt

[2022-05-18 17:58] #41189 closed

[2022-05-18 18:01] shiragoodman commented on #40821
Orientation availability has never come up in the VFS satisfaction surveys, and as I said above, we've never had push back from VFS teams when we share that we do not record the orientation meeting. To be frank, it seems like this is solution to an assumption, not a validated issue. I am open to doing discovery to answer your questions, however there are validated issues reported by VFS that we wo

[2022-05-18 18:04] Mottie opened #41605 "HLR: Update wizard start page content"
## Description

The first paragraph of the [Higher-Level Review wizard](https://staging.va.gov/decision-reviews/higher-level-review/request-higher-level-review-form-20-0996/start) content needs to be updated to be [more direct & task-focused per a content review](https://github.com/department-of-veterans-affairs/va.gov-team/issues/34879#issuecomment-1129110225)

Recommendation:

## Tasks

- [ ] Up

[2022-05-18 18:09] andreahewitt-odd opened #41606 "Plan For and Facilitate Handoff of Spike Teams' Work to Core Platform teams"
The spike team contract ends Sept 11th and we need to prepare to hand off the work they have built to the Core Platform teams.

We've started drafting thoughts in [this confluence doc](https://vfs.atlassian.net/wiki/spaces/AP/pages/2192211997/Spike+to+Core+Team+Feature+Product+Handoffs) but it is very much a draft at this point.

AC:

- [x] Figure out plan for who is taking what
- [x] Raise risks

[2022-05-18 18:10] nicko-amida commented on #33561
@DanielleThierryUSDSVA Here's what we can use to run by Tarsha:

**Original:** "VA uses the claim number to create an Explanation of Benefits, known as Medicare Remittance Advice, outlining what Medicare would have paid VA if Medicare would not prohibited by law from paying for health care services provided by the VA to eligible Veterans. The MRA is used by VA to create a secondary bill to those c

[2022-05-18 18:21] loripusey opened #41607 "[Design] Update Wireframes for Retry Limit Sub-Message"
Related to 39305

@zach-park We need an updated wireframe because we won't know if the user has an i-person or phone appointment until they have logged in; since this is the retry limit, we can't display a custom 2n'd part of the message; please update wireframes after talking to @niradatta1
Also affects https://app.zenhub.com/workspaces/check-in-experience-61fc23a2cb8a14001132e102/issues/departme

[2022-05-18 18:21] loripusey opened #41608 "[Design] Update Wireframes for Retry Limit Sub-Message"
Related to 39305

@zach-park We need an updated wireframe because we won't know if the user has an i-person or phone appointment until they have logged in; since this is the retry limit, we can't display a custom 2n'd part of the message; please update wireframes after talking to @niradatta1
Also affects https://app.zenhub.com/workspaces/check-in-experience-61fc23a2cb8a14001132e102/issues/departme

[2022-05-18 18:22] mnorthuis commented on #41516
@RLHecht The following pages are already redirected, but to our facility locator page.  They should all be redirected to their new page, which is what you have requested, but I'm not sure who implemented the current redirect and whether or not we can override it.  I'll reach out to PW team to see if they have further info.

Current URL  |  New URL
---  |  ---
| https://www.va.gov/directory/guide/f

[2022-05-18 18:24] loripusey opened #41609 "[Design] Research Hand-off Tool"

[2022-05-18 18:24] loripusey opened #41610 "[Design] Research Hand-off Tool"

[2022-05-18 18:25] #40912 closed

[2022-05-18 18:25] #40510 closed

[2022-05-18 18:30] #40699 closed

[2022-05-18 18:32] #40757 closed

[2022-05-18 18:37] saderagsdale commented on #30030
@saderagsdale Talk to Jacob about moving to squad 1.

[2022-05-18 18:38] randomsync opened #41611 "[BE] Update betamocks to add an optional delay in returning the mocked responses"
## User Story
It will be great to optionally allow the responses to be delayed by some configured number of seconds. This will be especially useful in simulating real world delays from downstream services when doing load testing and mocking downstream services.

This could be done by adding a `response_delay` config to the endpoints which, if defined will cause the response to be delayed by that m

[2022-05-18 18:38] saderagsdale commented on #30030
@thehastingsp bring to joe's attention.

[2022-05-18 18:41] calquisola commented on #41576
SOCKS access granted. Please continue with [the guide](https://depo-platform-documentation.scrollhelp.site/getting-started/Internal-tools-access-via-SOCKS-proxy.1821081710.html) to establish a connection to SOCKS proxy. If you run into any issues, please feel free to reach out in the [#vfs-platform-support](https://dsva.slack.com/archives/CBU0KDSB1) channel using the [support request workflow](htt

[2022-05-18 18:41] #41576 closed

[2022-05-18 18:44] shiragoodman commented on #40414
Hi @scottymeyers. The reason for this is you had not yet been added to the vets.gov-write GH team. I just added you, so you should be good now!

We recently modified this Platform Orientation ticket to add a step for Platform to add folks to the vets.gov-write GH team. It looks like your ticket was opened _right before_ we implemented the changes, so apologies for the confusion and/or delay!

[2022-05-18 18:46] scottymeyers commented on #40414
@shiragoodman thank you so much, I really do appreciate it!

[2022-05-18 18:47] saderagsdale commented on #37470
@thehastingsp See if we can make this an enhancement. If it requires a lot of effort, hit pause.

[2022-05-18 18:52] allison0034 commented on #41209
@seanasewell can you please do a peer review for the documents below? Keep in mind I cannot Update links to feedback templates until the PR is merged.

[Platform Website: Design Intent](https://vfs.atlassian.net/wiki/spaces/PPST/pages/2167767138/Cheryl+-+Copy+of+Design+intent)
[Design Intent Ticket](https://github.com/briandeconinck/cc-test/issues/new?assignees=briandeconinck&labels=collab-cycle-r

[2022-05-18 18:54] loripusey opened #41612 "Messaging for Login Issues"

[2022-05-18 18:55] shiragoodman opened #41613 "Remove step from Platform Orientation template"
## User Story
As a new VFS team member, I want to not encounter any unobtainable steps in Platform Orientation so that I can easily complete the steps in the Platform Orientation process.

- Intended Audience: VFS teams
- Desired Outcome: Platform Orientation gh template updated
- Due Date: TBD

## Description
In ticket #39321, Governance team added the process of getting added to vets.gov-write G

[2022-05-18 18:58] #39038 closed

[2022-05-18 18:58] #40184 closed

[2022-05-18 18:59] #39408 closed

[2022-05-18 18:59] SKasimow opened #41615 "Profile | Bad Address Indicator | Foundational Accessibility Requirements"
Staging Review Process doc [here](https://depo-platform-documentation.scrollhelp.site/developer-docs/How-to-prepare-for-an-accessibility-staging-review.1909293137.html)

Checklist of the recommended and required accessibility tests have been completed for this effort.

**Foundational accessibility tests (required)**

- [x] Axe scans in daily development

- [x] Axe scans included in end-to-end (e2e

[2022-05-18 19:08] AdamFreemer commented on #39715
Code has been updated, awaiting new weams file from edu to then integrate in sample data and use for updated code testing suite.

[2022-05-18 19:10] raywangoctova commented on #40821
Updated acceptance criteria and moved to the backlog.

[2022-05-18 19:10] loripusey opened #41616 "[BE] Implement LoROTA Login Using DOB"
We are waiting on CHIP to implement DOB for LoROTA login; team wants to wait until CHIP is done before pointing this one

## CHIP Dependency
https://github.com/department-of-veterans-affairs/va.gov-team/issues/41616

## Tasks
- Change variable names to use DOB instead of Last 4 for sign in

[2022-05-18 19:13] shiragoodman opened #41617 "Remove "Calendly" from title of Orientation Sessions page"
## User Story
As a VFS team member, I do not want encounter unfamiliar words in Platform Website title pages so that I can easily find the guidance that I'm looking for.

- Intended Audience: VFS teams
- Desired Outcome: Remove reference to "Calendly" in the Orientation Sessions page
- Due Date: TBD

## Description
It has been reported that the Platform Website page, "Calendly Orientation Sessions

[2022-05-18 19:14] #41580 closed

[2022-05-18 19:15] #41558 closed

[2022-05-18 19:23] MitchLivingstone commented on #41445
Done / Completed on 05/18/2022

[2022-05-18 19:23] #41445 closed

[2022-05-18 19:23] MitchLivingstone commented on #41445
Done / Completed on 05/18/2022

[2022-05-18 19:24] RachalCassity opened #41619 "[Discovery] Integrate DogStatsd"
## Coclusion

Integrating DogStatsd will not generate the HAProxy metrics in Datadog. HAProxy has to be correctly configured in the Devops. This [issue] (https://github.com/department-of-veterans-affairs/vets-api/issues/9838) incorporates the HAProxy data.

### Issue Description

Datadog will be replacing Grafana with the Kubernetes integration. Grafana has the functionality to calculate quantiles

[2022-05-18 19:24] SKasimow commented on #39162
Consolidated with #39342

[2022-05-18 19:24] #39162 closed

[2022-05-18 19:26] SKasimow commented on #39346
Consolidating with #39342

[2022-05-18 19:26] #39346 closed

[2022-05-18 19:30] jhouse-solvd commented on #23513
**Meeting planned w/ DOTS for 5/19**. @ph-One and @jhouse-solvd plan to be in attendance.

_In addition to the questions raised above, @mleclerc00 mentioned the following:_

- getting metrics pointed to the new instance should be somewhat simple, ie provide a new key and URL to the agents
- a greater effort is likely to move private locations (and all of the synthetics using them)
- most of the mo

[2022-05-18 19:32] SKasimow commented on #39347
Closing...consolidating with 39342

[2022-05-18 19:32] #39347 closed

[2022-05-18 19:32] Mottie commented on #41101
Verified no issues in prodution

[2022-05-18 19:32] #41101 closed

[2022-05-18 19:35] mchelen-gov opened #41621 "Deprecate legacy issues on Digital Experience Product Board"
Deprecate outdated items on [Digital Experience Product Board](https://github.com/orgs/department-of-veterans-affairs/projects/306?card_filter_query=label%3Acrew-platform)

- [x] Close issues from https://github.com/department-of-veterans-affairs/digital-experience-products/issues on the board
- [x] Replace with relevant issue from https://github.com/department-of-veterans-affairs/va.gov-team/issu

[2022-05-18 19:40] andreahewitt-odd opened #41622 "Consolidate Office Hours information into one place"
List of all [Office hours](https://vfs.atlassian.net/wiki/spaces/AP/pages/2141519911/Platform+Meetings) offered by Platform Teams.
- [ ] Collect list of all office hours

For each meeting, make sure the following are noted
- [ ] Time and day
- [ ] Target audience
- [ ] Hosted by/maintainer
- [ ] Meeting notes (if taken)

[2022-05-18 19:43] Samara-Strauss commented on #41581
All of this sounds good! I DM'd you with some questions. I'd like to make sure everyone involved coordinates on this through either a Slack chat or meeting (or both) so we can work in a coordinated effort. I can set that up once we confirm if anyone else needs to be involved besides Michel and Scott.

[2022-05-18 19:44] mchelen-gov opened #41623 "Create Platform Leadership issue template"
### Description
Create an issue template for Platform Leadership issues.

### Subject Areas

- [ ] Product
- [ ] Design
- [X] Engineering
- [ ] OCTO-DE

### AC
- [x] Template created https://github.com/department-of-veterans-affairs/va.gov-team/edit/master/.github/ISSUE_TEMPLATE/platform-leadership.yml
- [x] GHA to add issues to project board https://github.com/department-of-veterans-affairs/va.go

[2022-05-18 19:45] andreahewitt-odd commented on #39220
Everyone take a peak at this issue template and comment any changes

[2022-05-18 19:48] andreahewitt-odd commented on #41602
Might think about breaking this down into pieces -- automated sprint aspect

[2022-05-18 19:49] mchelen-gov commented on #38491
All Platform Q2 initiatives have been verified on DE Product Board!

[2022-05-18 19:51] MitchLivingstone commented on #40961
Meeting set for Tuesday 05/24/2022.

[2022-05-18 19:53] mchelen-gov commented on #38491
Followup: https://github.com/department-of-veterans-affairs/va.gov-team/issues/41621

[2022-05-18 19:53] #38491 closed

[2022-05-18 19:56] AGarcia-Clarity opened #41624 "Update ID.me create account endpoint"
## Description
Non-ID.me authenticated users (MHV & DS Logon) are expected to be able to create an ID.me account when routing through VA.gov & the API (`idme_signup/new`).  Because users are authenticated with MHV | DS Logon eAuth sees that the AuthnContext is through ID.me and a session is active and redirects the user back to VA.gov instead of allowing those users to be redirected to ID.me to cr

[2022-05-18 19:57] obrienjulie commented on #36807
Updated documentation is complete and can be found [here](https://vfs.atlassian.net/wiki/spaces/AT/pages/2201321491/Forms+KPIs+Funnel+Logic).

@chloedotbrown / @michelle-dooley  - Please review and let me know if any edits are neded.

[2022-05-18 19:58] pdavies88 commented on #39844
* Destructure all values set via this ie: `const {value, label} = this;` between render and return
* Label and Required Best Practice:
[code]
* Error Message best practice:
[code]

[2022-05-18 19:58] shiragoodman opened #41625 "Create must, should, consider guidance for Collaboration Cycle"
## User Story
As a VFS team, I want to know how to interpret the feedback received at Design Intent and Midpoint Review so that I know how to prioritize appropriately.

- Intended Audience: VFS Teams
- Desired Outcome: New guidance drafted on must, should, consider
- Due Date:

## Description
VFS teams may not have a clear understanding of the differences between must, should and consider in the f

[2022-05-18 20:00] AGarcia-Clarity opened #41626 "Investigate E2E EAuth issues"
## Description
Look into the eAuth issue that is causing E2E Cypress tests to break.

Background information
- https://dsva.slack.com/archives/C02V265VCGH/p1652882476538359

## Tasks
- [x] Investigate what is causing E2E Cypress tests to break
- [x] Implement fixes to ensure .skip is not used in E2E Cypress tests

## Acceptance Criteria
- [x] In CI/CD, E2E Cypress tests pass as normal

[2022-05-18 20:00] djfredvs commented on #41238
Attendance 85

[2022-05-18 20:00] andreahewitt-odd commented on #36486
@jjulian @sGplkrsh Can you all ask Cloud Isolation to update their roster? And then mark that box as complete when they are done? Thanks!

[2022-05-18 20:00] #41238 closed

[2022-05-18 20:03] andreahewitt-odd commented on #40318
Duplicate

[2022-05-18 20:03] #40318 closed

[2022-05-18 20:12] andreahewitt-odd commented on #40004
Duplicate of the repo guidance ticket because once that is implemented folks will know where to put in tickets for that repo

[2022-05-18 20:12] #40004 closed

[2022-05-18 20:13] nsoutouras commented on #39076
Banner is cancelled.

[2022-05-18 20:13] #39076 closed

[2022-05-18 20:14] andreahewitt-odd commented on #41621
Sai, Andrea and someone with board permissions walk through the board. Close issues and link up tickets correctly.

[2022-05-18 20:14] mdewey commented on #39342
Note around screen reader:

Placing the alert above the h1, but removing the heading. It could use aria-live="polite" to announce itself. The main con is that it would lose visual prominence without a heading and may be harder to find if the user fails to hear the initial polite announcement.

[2022-05-18 20:16] nsoutouras commented on #41280
5/18/22: Moving to blocked waiting on mind mapping

[2022-05-18 20:17] mdewey commented on #39342
Question: Link goes to the mailing address section, with the something in focus

[2022-05-18 20:17] nsoutouras opened #41627 "MHV Research Mind Mapping"
# Description
As one of the outputs of our MHV Inherited Proofing research, we are mind mapping problems and potential solutions.  This will inform future wireframes and research projects.  The current mindmap can be viewed here: https://whimsical.com/mhv-transition-mindmap-HpoxA4E88nxKoXPsCao8hL

# Acceptance Criteria
- [x] Mind Map completed
- [x] Team has reviewed and discuessed
- [x] Follow-on

[2022-05-18 20:18] shiragoodman commented on #40734
@MarciMcGuire please be sure to update this ticket when Bob gets his github set up!

[2022-05-18 20:22] andreahewitt-odd commented on #40570
Duplicate

[2022-05-18 20:22] #40570 closed

[2022-05-18 20:23] adamwhitlock1 commented on #41526
Notes on foundational accessibility testing:

- Ran Axe scan on personal information page

![Screen Shot 2022-05-18 at 2.00.48 PM.png](https://images.zenhubusercontent.com/60ddebd504ce2452d0e0fa92/b50edc1a-f040-43f1-8e99-632866458ae3)

  - 9 'Needs Review' items, but no Critical, Serious, Moderate, or Minor issues reported
    - Of the 9 needs review issues, most were just the tool not being able

[2022-05-18 20:24] shiragoodman commented on #41417
@lichellebain please comment here and tag me once you[ get added to the VA Organization in Github](https://depo-platform-documentation.scrollhelp.site/getting-started/Request-access-to-tools.969605215.html#Requestaccesstotools-GettingaccesstotheVAGitHuborganization). Once you do, we can add you to the vets.gov-write Github team.

[2022-05-18 20:25] andreahewitt-odd opened #41628 "Draft Quarterly Planning Cadence for Q3"
AC:

- [x] Draft Quarterly planning Cadence - https://docs.google.com/presentation/d/1I110NPzRkNbIos0cimp7mZa54-4AAXA8FTM5I2r-9MA/edit#slide=id.g131a57f59bd_0_0
- [x] Move to Confluence - https://vfs.atlassian.net/wiki/spaces/PMCP/pages/2221867152/Quarterly+Planning+Cadence
- [x] Get sign off from leadership - https://dsva.slack.com/archives/C01SCFMUNCA/p1654625499310079

[2022-05-18 20:25] andreahewitt-odd opened #41629 "Contract Kickoff"

[2022-05-18 20:27] shiragoodman commented on #41555
hi @MRamaniVA  - please be sure to complete this ticket so we can follow through on the Platform Checklist.

[2022-05-18 20:27] mdewey commented on #39342
Note:

On Error of saving information, hide the yellow alert

[2022-05-18 20:27] ewilson-adhoc commented on #41507
What I was trying to do (mount sidekiq within sinatra) isn't actually supported. Closing this wontfix.

[2022-05-18 20:27] #41507 closed

[2022-05-18 20:27] #36807 closed

[2022-05-18 20:30] shiragoodman commented on #41575
@BevCaddy please be sure to complete this ticket so Platform can follow through with the items on the Platform Checklist.

[2022-05-18 20:31] mdewey commented on #39342
Note: Only show Alerts on Personal Information and Contact Information pages

[2022-05-18 20:33] rsmithadhoc commented on #41294
I heard back on account creation, we need a shared email for the account. Peter is looking into getting that.

[2022-05-18 20:34] mdewey commented on #39342
Note: Analytics for

- Big Alerts shown
- Big Alerts clicked

[2022-05-18 20:36] rsmithadhoc commented on #41296
Continued work on this:

- Converted CSV to an HTML table.
- Working on converting JSON within a field into an HTML list.

After that is wrapped up, I need to send the HTML to Confluence, do some code cleanup, and add tests.

[2022-05-18 20:36] andresriveratoro commented on #40157
@GnatalieH Do we want to create a separate Sketch page for Textarea now that it has been separated from Text inputs on design.va.gov?

[2022-05-18 20:43] michelle-dooley commented on #41573
@dennispwang can you please provide your VFS team and start date in the "Share your info with Platform" section.

[2022-05-18 20:46] adamwhitlock1 commented on #41526
At this time I don't have any issues that would require any further tickets based off this testing, so I think we are good to go for the staging review!

[2022-05-18 20:50] claytonzook opened #41630 "Add/clarify observer guidelines on relevant Platform pages"
## User Story
"As a researcher, I want clear and updated guidance on observers, to keep research participants safe and empowered."

- Intended Audience: VFS
- Desired Outcome: add updated guidance to relevant documentation
- Due Date:

## Description
We want to clarify guidelines surrounding how many people from the VA side should be in a given session. Observing research is important, so we shoul

[2022-05-18 21:07] obliviga opened #41631 "SOCKS access for Anish Kshatriya"
### Your Name

Anish Kshatriya

### Your Email

anish.kshatriya@adhocteam.us

### Your Role and Team

Senior Software Engineer on FLT

### Product Manager (PM) name and email

Karen Taylor (karen.taylor@adhocteam.us)

### Product Owner (PO) name and email

Matt Dingee (matthew.dingee@va.gov)

### Public SSH Key

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCbKY7C4Nw+pxp6YuApPzgTU+vPP5384dnO0ZWdz8Yg5U+q1z

[2022-05-18 21:17] #40556 closed

[2022-05-18 21:25] claytonzook commented on #41466
@chaseakirby the "How to document feedback for Staging Review" step 9 change to allow Row N to be editable, I think is a change on the [drafting template](https://docs.google.com/spreadsheets/d/1zabutKbKQnZMb3A2hxs-OaB7q6j8DWw1xcFaCfFDIVw/edit?usp=sharing). I don't seem to have permissions to unprotect, so leaving that one for you.

[2022-05-18 21:30] briandeconinck commented on #41201
Another note on another item:

I've tried a few different ways of doing this, but no luck. The HTML renders in a "Markdown"-type field object, but GitHub auto-closes any unclosed tags --- so you can't open a `<details>` element in one object, add a bunch of input objects, and then close a `</details>` in another object.

My proposed alternative would be to add a step to the kickoff moderator scrip

[2022-05-18 21:34] jerekshoe opened #41632 "526ez | Create keyboard-only e2e tests"
## Value Statement
**_As a_ frontend developer**
**_I want to_ ensure that the 526 can be completed with only the keyboard**
**_So that_ veterans that can only use keyboards are able to complete the 526 form**

---
## Background Context
- All VA form applications are expected to be able to be completed by veterans with disabilities. Some veterans are only able to complete the 526 form via keyboard

[2022-05-18 21:45] SKasimow commented on #39342
Sketch files [here](https://www.sketch.com/s/59857eb5-d9f9-4145-99d3-d9a1de2d0655/a/eKeeAl0)

[2022-05-18 21:46] laurwill commented on #40572
Thanks Aliyah! Noting that I reviewed and published all the checked pages — I'll plan to review and publish the pages with react widgets once those are done.

Also noting that in addition to the primary action link on the [How to file a VA disability claim](https://www.va.gov/disability/how-to-file-claim/) page, we changed the secondary blue "Check the status of your claim" button to a secondary a

[2022-05-18 21:53] skylerschain opened #41633 "Claims Design Discovery"
## High Level User Story
As a team member working on Disability Claims, I need to understand the existing claims experience so I can identify opportunities for improvement.

## Goals
_What outcome(s) do we want to see?_

A clear mapping of the existing claims user experience, with some specific areas for UX possible improvements highlighted and explained.

## Issues to create within this Epic

[co

[2022-05-18 21:56] skylerschain opened #41634 "Basic Claims Service Blueprint"
A simple service blueprint, incorporating existing services blueprints and other research, tailored to fit our needs.

[2022-05-18 21:58] laurwill commented on #41116
Thanks @katherine-fung ! Just an update here: Based on your very good questions and after looking at some previous emails about this content, we may suggest retiring this page.

But first, @RLHecht is reaching out to Public Websites to help us find any pages that link here, as those pages would all need to list the mailing address instead. Stay tuned!

[2022-05-18 21:58] skylerschain opened #41635 "Shortlist of possible UX work areas"
A simple list of proposed UX work areas for the VA Benefits Team.

[2022-05-18 22:09] kanchanasuriya commented on #40552
This github action seems to require `requirements.txt` but our load test script doesn't need any additional modules to install through pip3.

[code]
Reference Link: https://github.com/department-of-veterans-affairs/devops/runs/6497735224?check_suite_focus=true

[2022-05-19 00:25] andaleliz commented on #40167
@SKasimow the deck is complete ([uploaded PDF here](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/profile/mhv-profile-research/mhv-profile-recommendations.pdf)) so you can schedule the meeting for any time that's open on my calendar. Feel free to check w/ me if something is blocked off that works for everyone else.

[2022-05-19 01:03] cindymerrill commented on #36676
Conducted first pilot and debriefed with @mmiddaugh. Then made changes to survey and conversation guide so ready for the second pilot tomorrow.

[2022-05-19 03:20] mydesignrocks commented on #40317
Based on the R&D so far and plan of action:
current state: jenkins —> ansible role of build/deploy —> docker compose —> RI
future state: GHA (which is in devops repo for all 3 repos) —> ansible role playbook —> docker compose —> RI

Plan of action:
1. Convert Jenkins file into GitHub Action for review instances
2. Do feasibility check (based on this: https://blog.marcnuri.com/triggering-github-act

[2022-05-19 11:12] #40076 closed

[2022-05-19 12:25] little-oddball commented on #41603
@raywangoctova @andreahewitt-odd: I feel like it might be worth some additional conversation on this topic. I am looking through the referenced Confluence page and working to add comments, etc. that we can hopefully all talk about.

[2022-05-19 12:34] kylesoskin commented on #41121
Had to make some changes to the terraformer code to get a clean run. Still working on this.

[2022-05-19 12:37] kylesoskin commented on #41401
Starting this today

[2022-05-19 13:11] td-usds commented on #40620
Reached out to VOR and included Megan Gatesman (who - I think - is helping out with Michael Lovejoy)

[2022-05-19 13:13] td-usds commented on #40964
Reached out to VOR, used @raywangoctova as COR

[2022-05-19 13:14] td-usds commented on #41412
reached out to VOR

[2022-05-19 13:14] td-usds commented on #41075
Reached out to VOR

[2022-05-19 13:18] djfredvs opened #41636 "5/20/22 12 PM AVS Summary Training"
Arranged by Jennifer Gonzalez

[2022-05-19 13:18] djfredvs opened #41637 "5/20/22 12 PM AVS Summary Training"
Arranged by Jennifer Gonzalez

[2022-05-19 13:20] djfredvs opened #41638 "5/23/22 VEText Community Care Training"

[2022-05-19 13:23] djfredvs opened #41639 "5/25/22 11 AM VEText 101 Training"
Booked by Daniel Gamboa Valdez

[2022-05-19 13:26] tameracorson commented on #39722
![image.png](https://images.zenhubusercontent.com/61856bab21cd5965714d703d/42c47621-1a11-4d19-8aa5-6fbd7304e9ba)

[2022-05-19 13:27] mdewey commented on #40723
This is being sent to another team to work through the bug in the IAM server.

https://dsva.slack.com/archives/CSFV4QTKN/p1652899219350979?thread_ts=1652820532.805409&cid=CSFV4QTKN

Unblocked when: The IAM team resolves the issue

[2022-05-19 13:29] loripusey opened #41640 "[BUG] Pre-Check-in: Two Pieces of English Text appear in Spanish Mode"
## What happened?
Two snippets of English appear in Spanish mode

## Screenshot
![image.png](https://images.zenhubusercontent.com/60db6a817900f619905e68b1/ca3db9fb-cfe6-4e66-9842-7717949bf871)

## Steps to Reproduce
- URL: https://department-of-veterans-affairs-vets-website-4jwxv4qxr345w-3001.githubpreview.dev/health-care/appointment-pre-check-in/complete
- Test User _(if applicable)_: Smith/1234

[2022-05-19 13:37] djfredvs opened #41641 "5/23/22 11:30 AM VEText 101 Training"
Booked by Dynda Farar

[2022-05-19 13:39] djfredvs opened #41642 "5/23/22 2 PM VEText Open Slot Management Training"
Booked by Dynda Farar

[2022-05-19 13:43] scottymeyers commented on #29394
Just waiting on the `vets-website` pull request to be approved by all parties and this can be closed out.

[2022-05-19 13:51] djfredvs commented on #41642
Booked by Dynda Farar

[2022-05-19 13:53] shiragoodman commented on #41201
@briandeconinck im supportive of your proposed alternative.

[2022-05-19 13:53] djfredvs opened #41643 "5/24/22 2:30 PM VEText Open Slot Management Training"
Booked by Steve Swanson

[2022-05-19 13:55] shiragoodman commented on #41466
thanks @claytonzook . i don't think the change to Row N in the drafting template is critical for this launch. just leave it unchecked for now and during the final walk through on Monday, we'll take an action to get it updated.

[2022-05-19 13:55] RLHecht opened #41644 "Update rate on NADL page"
## Issue Description
Stakeholder Eric Jones informed us we need to update the rate on our [Native American Direct Loan](https://www.va.gov/housing-assistance/home-loans/loan-types/native-american-direct-loan/) page.

The new rate is **5%**

This appears in the fourth bullet under the H2 Why might I want to get an NADL?

## Tasks
- [x] Update rate in Drupal (Aliyah)
- [x] Review change (Laura)
- [x

[2022-05-19 13:57] rjohnson2011 commented on #40382
Created two Github Product Directory templates -
1. Feature Request - Changes
2. Human Readable List
https://github.com/department-of-veterans-affairs/product-directory/pull/40/files

Doing final pass on the draft documentation and will hand that over for review this afternoon.

[2022-05-19 13:59] djfredvs opened #41645 "5/25/22 11:30 AM VEText 101 Training"
Booked by Daniel Gamboa Valdez

[2022-05-19 13:59] hdjustice commented on #34581
@shiragoodman Hi Shira!  With blessings from Danielle and Mikki, do we need anything else for this design intent?  Also, since it is a comparatively small addition to the form, would we still require a Staging review?  We still plan internal team QA and accessibility testing before we deploy to production.  Thanks!

[2022-05-19 13:59] calquisola commented on #41631
Hi @obliviga !
We couldn't find your presence in the rosters maintained by the organization. If you are newly joining the team, please follow along with [this platform orientation guide](https://depo-platform-documentation.scrollhelp.site/getting-started/Platform-Orientation.1877344532.html). If you're not newly joining the team, please reach out to your PM or PO for help.
Once you're added to the

[2022-05-19 14:08] pjhill commented on #41294
Still working on getting guidance around an email for a shared account in Confluence -- guidance is still forthcoming.

[2022-05-19 14:09] #40882 closed

[2022-05-19 14:11] RLHecht commented on #40484
@katherine-fung Adding here that the stakeholder said that Space Force should be included on the CRSC page.

[2022-05-19 14:13] shiragoodman commented on #34581
thanks for the double ping @hdjustice ! sorry i missed this last week. You should be okay publishing without a staging review, however I would recommend submitting a [Privacy Security Infrastructure Readiness Review ticket. ](https://depo-platform-documentation.scrollhelp.site/collaboration-cycle/Privacy,-security,-infrastructure-readiness-review.1782317101.html) so you can get Platform Security s

[2022-05-19 14:17] #41462 closed

[2022-05-19 14:17] katherine-fung commented on #40484
Thanks for getting clarification on that page @bethpottsVADEPO  @RLHecht!

[2022-05-19 14:22] npeterson54 commented on #40847
Docs look good to me

[2022-05-19 14:25] kylesoskin opened #41646 "Add to the ABAC playground repo"
Good morning Kyle.  Been finishing up my work for this, I’m going to use a configuration for the resource so its fine if they do not match between dev and “production”.
However, to test this fully I need to have three distinct users in the abac-realm:
**A user that is an admin (einstein)
A user this is an editor, but not an admin (feynman)
A user that is a viewer, but not an editor or admin (NOT F

[2022-05-19 14:26] acrollet commented on #41065
Merged, should get deployed this afternoon. Will validate on staging this morning.

[2022-05-19 14:26] pjhill opened #41647 "Research the Common Cause of E2E Tests Passing in a Branch and Failing in Main"
# Description
The occurrences of tests failing in `main` when they have passed in a branch appear to be increasing in frequency. We should dig into a few of these recent occurrences, analyze the cause, and identify common causes for the issues.

# Tasks
- [ ] Identify 5 workflow failures that were the result of a flaky test
- [ ] Analyze root cause of each failure
- [ ] Search for common causes
-

[2022-05-19 14:32] td-usds commented on #40620
Karan, I have you eQIP confirmed. Can you be more specific about which secrets in the parameter store you need access to? I want to make sure that we scope your permissions accordingly.
Approval is dependent on this scoping down.

[2022-05-19 14:32] td-usds commented on #40620
ping @ksk385 for https://github.com/department-of-veterans-affairs/va.gov-team/issues/40620#issuecomment-1131781960

[2022-05-19 14:38] chancetheoriginal commented on #41347
Writeup made and passed to Justin for approval.

[2022-05-19 14:39] denisecoveyduc opened #41648 "Benefits 2 (Debt Res) Sprint 74 Priorities"
## Benefits 2: Sprint 74 Priorities
(_Sprint 74: May 18-31, 2022_)  (_Formerly Debt Resolution Team_)

### Sprint Goals
1. Continued development of the Combined Portal including debt 2.0 and merging
2. Address Midpoint Review feedback for Combined Portal
3. Document user scenarios
4. JSON to PDF conversion

### Sprint Deliverables (_list of deliverables completed during sprint)_
1.  Documented use

[2022-05-19 15:04] ScottyRJames commented on #41581
For our team's apps we see this error most often within our `medical_copays` controller. The pundit policy requires `edipi` and `icn` to be present, both of which are pulled from the user's MPI profile. I'm not seeing any correlation to a spike on a specific day with these values missing, Tuesdays seems to have a higher occurrence but nothing egregious

[2022-05-19 15:08] djfredvs opened #41649 "5/24/22 12:30 PM VEText 101 Training"
Booked by Schuana Wheat
Cancelled due to double booking.
She attended the same class the day before.

[2022-05-19 15:10] djfredvs opened #41650 "5/26/22 2:30 PM VEText Open Slot Management Training"
Booked by Schuana Wheat
Cancelled She was a No Show

[2022-05-19 15:11] SarahKay8 commented on #34739
Hi @chaseakirby try this url https://va-gov.domo.com/page/366499128. I added the card to the dashboard I created

[2022-05-19 15:16] BevCaddy opened #41651 "Platform Orientation Template [Robert Berry]"
## Welcome and Introduction
Welcome to the Veteran's Administration (VA) Veteran Facing Services (VFS) team!
As a new VFS team member, you will be working in the web ecosystem we call the VA.gov Platform (or "**The Platform,**" for short).  The tasks on this list are designed to get you up to speed on the role of Platform, making it easier for you to do your job.

Because the VA is a huge organiza

[2022-05-19 15:17] michelpmcdonald commented on #40605
@jacobworrell - have a fix, so can the agents who pointed out this issue be notified one the fix is merged ?

[2022-05-19 15:18] gperlangeli commented on #40992
I invited you as a member. Although, for if you need admin, for the purposes of your research, then I'll have to get someone to grant those permissions for you.

[2022-05-19 15:19] ksk385 commented on #40620
This would be all the parameters in this location: `ssm_parameter: /dsva-vagov/va-virtual-agent/*`

[2022-05-19 15:25] scottymeyers opened #41652 "SOCKS access for Scott Meyers"
### Your Name

Scott Meyers

### Your Email

scott.meyers@coforma.io

### Your Role and Team

Software Engineer on the Benefits team

### Product Manager (PM) name and email

sade@coforma.io

### Product Owner (PO) name and email

Matt Self, matt.self@va.gov

### Public SSH Key

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDOQWdjDxwyFJ2mgzAOTxxmScuTlCrYJhS0i8S8ZBdxH9Rgzl/ld2SeWgQ0DwisoVPEjsLNFOtdKvEglen0

[2022-05-19 15:25] scottymeyers commented on #41652
I can be found on the VFS Team Roster.

[2022-05-19 15:27] ScottyRJames opened #41653 "Generate 5655 PDF Form"
## Issue Description
As we integrate with VHA to submit FSR requests one of our needs is to generate a PDF file of the form both for SharePoint uploading as well as maintaining the download PDF functionality within the portal.

---
## Tasks
- [ ] Acquire fill-able 5655 PDF
- [ ] Setup generation of PDF

## Acceptance Criteria
- [ ] A PDF for this form has been generated
---
## How to configure thi

[2022-05-19 15:29] mdewey commented on #40722
Created PR for component library changes : https://github.com/department-of-veterans-affairs/component-library/pull/434

[2022-05-19 15:32] ScottyRJames opened #41654 "Open up RFC Process for SharePoint integration"
## Issue Description
We need to work with platform to get feedback on the planned approach for uploading PDFs to SharePoint. We can begin this discussion with starting the [RFC](https://github.com/department-of-veterans-affairs/va.gov-team/discussions/38717) process.

---
## Tasks
- [x] Fill out RFC template in GitHub discussions with planned implementation and detailed design

## Acceptance Crite

[2022-05-19 15:39] sarahknoppA6 commented on #39696
This will be validated when the state department validation document is created.

[2022-05-19 15:40] #39696 closed

[2022-05-19 15:44] npeterson54 opened #43760 "Implement super admin for Argo integration"
## Why are we doing this
We are currently dependent on the AMT team and need to implement a work around to get Keycloak and Argo to talk together.  This will be removed when AMT gets us a permanent solution

## Tasks

- [ ] Investigate the use of the Github access token (timeblock this to a few hours max)
- [ ] Implement super duper user if necessary

[2022-05-19 15:51] rjohnson2011 commented on #40382
@JoeTice The Product Directory documentation is ready for review. https://vfs.atlassian.net/wiki/spaces/TTT/pages/2193359369/VA.gov+Product+Directory+Documentation

Please let me know of any changes to be made for the final draft.

[2022-05-19 15:59] shiragoodman commented on #41555
duplicate ticket. see link above. closing.

[2022-05-19 15:59] #41555 closed

[2022-05-19 16:09] aliyahblackmore commented on #41644
Rate was updated in Drupal! @laurwill this is ready for you!

[2022-05-19 16:14] #40847 closed

[2022-05-19 16:19] tlei123 commented on #40404
@ddzz , QA-artifact links now updated/added above, in main description.  cc @SKasimow @shiragoodman

[2022-05-19 16:21] tlei123 commented on #40249
[Summary (Defects) report](https://dsvavsp.testrail.io/index.php?/reports/view/333) now ready.  QA-artifact links updated/added in [Staging Review ticket](https://github.com/department-of-veterans-affairs/va.gov-team/issues/40404).

[2022-05-19 16:21] theodur opened #41657 "Migrate vagov-content default branch to `main`"
## Description
Since the default branch has been changed to `main` in `vets-website` and `content-build`, we should also change the default branch in the `vagov-content` repository to `main`, since it's used in parallel with `content-build`.

## Definition of done
- [x] Inventory of references to `master` branches been created
- [x] References have been updated
- [x] Documentation has been updated

[2022-05-19 16:25] tpharrison commented on #41581
@michelpmcdonald @ScottyRJames - thanks for looking into this.

Authorization is working as intended. Because this is intended behavior, these failed authorization occurrences should not be sent to Sentry.  After discussing this with @cohnjesse, we think the best approach is to leave things as they are for now.  This issue will need to be addressed as part of a larger, more strategic effort.

cc/

[2022-05-19 16:25] #41581 closed

[2022-05-19 16:29] pujasingh2 opened #41658 "Platform Orientation Template [Your name here]"
## Welcome and Introduction
Welcome to the Veteran's Administration (VA) Veteran Facing Services (VFS) team!
As a new VFS team member, you will be working in the web ecosystem we call the VA.gov Platform (or "**The Platform,**" for short).  The tasks on this list are designed to get you up to speed on the role of Platform, making it easier for you to do your job.

Because the VA is a huge organiza

[2022-05-19 16:30] chaseakirby commented on #34739
@Saraharaba8 That links tells me that the page is private.
Is there a setting to make it public? I don't see a need to keep this private as we currently screenshot the "open issues by team" card for our weekly Team of Teams meeting.

![image](https://user-images.githubusercontent.com/94856753/169351134-ab361430-4edd-49cb-8ad8-398556782a7a.png)

[2022-05-19 16:30] SKasimow commented on #40524
@jennaouellet Yay! Thanks so much for the quick turn-around!

cc: @adamwhitlock1 @Samara-Strauss

[2022-05-19 16:34] GnatalieH commented on #40157
@andresriveratoro good question. @humancompanion-usds is it OK if I move Text Area to its own page in Sketch? That would allow us to link to it from design.va.gov.

[2022-05-19 16:39] nbarthelemy commented on #40383
Working with platform on a set of failing Cypress E2E Tests. This issue has nothing to do with the code.

[2022-05-19 16:40] PJart commented on #40581
Was tested in staging, found one small bug I needed to fix related to the check bad address logic on the he portion of the code that updates non us countries. Was merged into master already.

[2022-05-19 16:46] SarahKay8 commented on #34739
@chaseakirby there's a padlock icon and its currently unlocked. So I'm assuming it's public. I shared the dashboard with you. Check your spam if you don't see it in primary. Thanks Chase

[2022-05-19 16:48] djfredvs opened #41660 "5/25/22 9:30 AM VEText Community Care Training"
Booked by Cindy Baker & Vincent Smith lll

[2022-05-19 16:52] bkjohnson commented on #18211
Some additional details:

- The BUILD.txt file on va.gov [comes from here](https://github.com/department-of-veterans-affairs/content-build/blob/d5dafbdb3d8c4c0f2aa695ea2d54a8ef8e7e8a17/jenkins/common.groovy#L207)
- Our [environment variables in GitHub actions](https://docs.github.com/en/actions/learn-github-actions/environment-variables#default-environment-variables) include:
  - `GITHUB_REF`
  -

[2022-05-19 17:08] RLHecht opened #41662 "Copyedit and publish changes to COVID-19 testing page"
## Issue Description
Danielle made changes to our [COVID-19 testing at VA](https://www.va.gov/resources/covid-19-testing-at-va/) page. We need to do a final copyedit with the pre-publishing checklist and publish the page.

She reordered a few sections and added one new section about getting free self-test kits from VA.

Preview link: http://preview-prod.vfs.va.gov/preview?nodeId=42902

## Tasks
-

[2022-05-19 17:08] chaseakirby commented on #34739
@SarahKay8 Thanks! I can see it now. I only see data for two of the labels (caregivers & 686) so I think we may need to see if the other ones are being found by the DataSet or being filtered out somewhere.
I also see under Details that it shows only us as having access to the card.
![image.png](https://images.zenhubusercontent.com/619d1b3396a3389c5e2dd17f/1910f577-7207-4d05-8219-e3bdd8149d66)

[2022-05-19 17:16] SarahKay8 commented on #5865
Tested using Jaws+Chrome, Jaws+Firefox, Voiceover, NVDA+Chrome. I am seeing no issue on my end. Still believe this is an IE11 issue.

[2022-05-19 17:21] theodur commented on #41657
The inventory of references to `master` has been completed and added to the [spreadsheet](https://docs.google.com/spreadsheets/d/1yHX-LyHp4h_XcB50R9t8YRYBd1xEL9iW-ukeUqyLZ5k/edit#gid=4130798)

[2022-05-19 17:32] zachclarity opened #41663 "Datadog Metric Source Configuration Info for Vets-ApI, Sidekiq, Forward Proxy, Reverse Proxy"
## Who is the devops resource on your team?
@zachclarity

@github-name
@zachclarity

## Description

We need a list of all the configuration files and info related to metrics values in Datadog.

Demian Ginther created some of them and we are unsure who owns and configures them now.

## Background/context
We need to know and document all monitors and the metrics associated with how they are configu

[2022-05-19 17:37] olamik commented on #41113
The CHIP-side update has been pushed to production.

[2022-05-19 17:38] SarahKay8 commented on #34739
@chaseakirby gotcha. Should we set something up?

[2022-05-19 17:44] steel36 opened #41664 "Update Feedback Themes"
## Issue Description
Update Feedback Themes mural

---
## Tasks
- [x] Post information to Feedback Theme Mural

## Acceptance Criteria
- [x] Feedback Theme Mural is updated

[2022-05-19 17:48] steel36 opened #41665 "Create Customer Insights presentation"
## Issue Description
Create presentation for Demo

---
## Tasks
- [x] Create presentation

## Acceptance Criteria
- [ ] Presentation is prepared.

[2022-05-19 17:52] claytonzook opened #41666 "Add information to Platform about UAT"
"As a researcher, I want clear and updated guidance on observers, to keep research participants safe and empowered."

- Intended Audience: VFS
- Desired Outcome: add updated guidance to relevant documentation
- Due Date:

## Description
There is a [GH page with UAT guidance](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/research/planning/what-is-uat.md) that ha

[2022-05-19 17:56] laineymajor commented on #35193
Done.
By default, this is already in place for PROD.
This process has been tested in a previous epic for changed app builds in MAIN.

[2022-05-19 17:56] #35193 closed

[2022-05-19 17:58] laineymajor commented on #35197
Complete as we currently ping teams appropriately, per the updates made for changed builds (CI) process.

[2022-05-19 17:58] #35197 closed

[2022-05-19 17:59] claytonzook opened #41667 "Add information to Platform about Discovery Research"
## User Story
"As a researcher, I want clear and updated guidance for Discover Research on Platform, so I have a single source of truth"

- Intended Audience: VFS
- Desired Outcome: add updated guidance to Platform
- Due Date:

## Description
There is a [GH page with Discovery Research guidance](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/platform/research/discovery-s

[2022-05-19 18:00] laineymajor commented on #35195
Save for future sprint when we are doing console work again.

[2022-05-19 18:05] mnorthuis commented on #41338
Hi @alexander-ferzola, one thing that needs to be updated while you are working on this form, is correcting the current breadcrumb segment and the title tag to appropriately match the H1.  This is a design system standard.   Please note that the title tag is initial cased, while the breadcrumb is the same casing as the H1.

I believe I have mentioned this before, but across all the education forms

[2022-05-19 18:05] laineymajor opened #41668 "Update front-end support dashboard to be accurate per the changed app build process"
**DESCRIPTION / USER STORY**
VFS engineers want to know if their commit, specifically for apps on the allowlist, is deployed to prod or not.
*The current dashboard they use for this, due to changed app builds process, will no longer remain completely accurate.

**ACCEPTANCE CRITERIA**
There are 2 functionalities that will be built out, and 1 that should remain:

- [x] Apps not on the allowlist: ch

[2022-05-19 18:08] claytonzook opened #41669 "Address having two locations for Zoom use in research"
## User Story
"As a researcher, I want clear and updated guidance for using Zoom on Platform, so I have a single source of truth"

- Intended Audience: VFS
- Desired Outcome: add updated guidance to Platform
- Due Date:

## Description
There is [a GH page on How To Use Zoom for User Research](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/research/during-researc

[2022-05-19 18:13] aliyahblackmore commented on #41385
As requested, new link was added to the CRSC page under the last accordion in the first group of accordions on that page. @megzehn this is ready for you to review!

[2022-05-19 18:22] RLHecht commented on #40611
PR for this was merged. Moving to validate and will close once it's live.

[2022-05-19 18:27] sarahknoppA6 opened #41670 "[SPIKE] [Timeboxed] How can we reduce app payload size (performance improvement)"
## Background
- From St Louis Research Report Readout: @acrollet notes, "we don't have a lot of control over how long the API calls take, but I think it could be worth doing a spike on how much opportunity there is to reduce the app payload size (to reduce the amount of data that has to be loaded before the app can render)"
- [Google Analytics dashboard that measures page load times](https://analy

[2022-05-19 18:27] sarahknoppA6 commented on #41670
@loripusey This was suggested by Adrian as a performance improvement to address lag Veterans are seeing when loading the app.

[2022-05-19 18:31] loripusey opened #41671 "CIE Performance Improvements"

[2022-05-19 18:49] claytonzook opened #41673 "Address having two locations for Mobile Research guidance"
## User Story
"As a researcher, I want clear and updated guidance for Mobile Research on Platform, so I have a single source of truth"

- Intended Audience: VFS
- Desired Outcome: add updated guidance to Platform
- Due Date:

## Description
There is [a GH page on Mobile Research](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/research/planning/mobile-research-gu

[2022-05-19 18:49] #41055 closed

[2022-05-19 18:53] jerekshoe commented on #38842
Once this is done, we will need another ticket to remove these feature flags from `vets-api` as well

[2022-05-19 19:00] jsgarmon commented on #40620
AWS access granted, first time login instructions sent via Slack DM.

[2022-05-19 19:00] #40620 closed

[2022-05-19 19:04] loripusey commented on #41670
I created an Epic for [Performance Improvements](https://github.com/department-of-veterans-affairs/va.gov-team/issues/41671)

[2022-05-19 19:08] #41510 closed

[2022-05-19 19:12] calquisola commented on #41652
SOCKS access granted. Please continue with [the guide](https://depo-platform-documentation.scrollhelp.site/getting-started/Internal-tools-access-via-SOCKS-proxy.1821081710.html) to establish a connection to SOCKS proxy. If you run into any issues, please feel free to reach out in the [#vfs-platform-support](https://dsva.slack.com/archives/CBU0KDSB1) channel using the [support request workflow](htt

[2022-05-19 19:12] #41652 closed

[2022-05-19 19:13] mleclerc00 commented on #41406
closing for the time being

[2022-05-19 19:13] #41406 closed

[2022-05-19 19:15] scottymeyers commented on #41652
@calquisola thank you!

[2022-05-19 19:16] ajmauricio commented on #41510
Thank you

[2022-05-19 19:19] djfredvs commented on #41172
520 Gulf Coast – Default Template No Instructions – Default Follow Up Non-PHI & PHI over character limit – No Instructions
586 G.V. (Sonny) Montgomery – Default & Default Follow Up No Instructions – Pre-Checkin Non-PHI & PHI Confirm has Instructions
598 Central Arkansas – No Instructions in any template
629 Southeast Louisiana – No Instructions in any template

[2022-05-19 19:29] SKasimow commented on #40524
@Samara-Strauss - yes I can but think we may just need to submit an analytics ticket.

@jennaouellet - is that correct?

[2022-05-19 19:33] chaseakirby commented on #34739
@SarahKay8 Yeah I think we can go through some and do some more tests on it. I'll schedule a meeting for us.

[2022-05-19 19:34] #41172 closed

[2022-05-19 19:35] jfinnern commented on #40383
Validated in staging
Test run: https://dsvavsp.testrail.io/index.php?/runs/view/3247&group_by=cases:section_id&group_order=asc
Test case: [Remove "update benefits" button and make changes automatic.xlsx](https://github.com/department-of-veterans-affairs/va.gov-team/files/8733732/Remove.update.benefits.button.and.make.changes.automatic.xlsx)

[2022-05-19 19:37] scottymeyers commented on #41652
Looks like my Github handle is wrong in the VFS Team Roster, not sure if that'll have implications?

`scottmeyers` should be `scottymeyers`.

[2022-05-19 19:37] shiragoodman commented on #39970
@taylojill  - as far as I know, no. the information does not exist on Platform Website.

We can add to our backlog, but I want to tag in @andreahewitt-odd and ask her opinion on if Platform should own this type of documentation. ZenHub is a tool managed by the VA CTO office.

[2022-05-19 19:38] jfinnern commented on #41303
Validated in staging
Test run: https://dsvavsp.testrail.io/index.php?/runs/view/3248&group_by=cases:section_id&group_order=asc
Test case: [(Issue) Issue with Chapter 35 (DEA) Philippines Housing Rate.xlsx](https://github.com/department-of-veterans-affairs/va.gov-team/files/8733745/Issue.Issue.with.Chapter.35.DEA.Philippines.Housing.Rate.xlsx)

[2022-05-19 19:39] shiragoodman commented on #34874
@joshkimux is there a sitewide label we can use? We require a product label on all issue tickets, so if HLR is removed, we need one to replace it with.

[2022-05-19 19:39] djfredvs opened #41674 "5/24/22 9:30 AM VEText Community Care Training"
Booked by Nikki Coombs

[2022-05-19 19:40] mmiddaugh commented on #41372
<details>
<summary> The following hypotheses and questions were identified during a series of brainstorming sessions and through async input. </summary>

## Homepage general
### Possible hypotheses
- Veterans are aware of all content available on the full page
- Browsing is mostly for Veterans new to the VA.
- Most pageviews of VA.gov are focused on task completion.
### Questions
- What works well

[2022-05-19 19:40] #41372 closed

[2022-05-19 19:48] jennaouellet commented on #40524
@SKasimow a ticket is fine! We can help out with the dashboard needs that way. When you're submitting the ticket, just include the events you'd like to have displayed and if they should be added to an existing dashboard or a new one.

[2022-05-19 19:48] jhouse-solvd commented on #23513
Met w/ DOTS & DataDog personnel 5/19 @ 1500 ET along w/ @ph-One & @mleclerc00

We'll synthesize notes and link to this issue today or tomorrow.

[2022-05-19 19:48] shiragoodman commented on #34876
hey @joshkimux  - again, if this isn't related to HLR, we need to know what product is is related to. please let me know!

[2022-05-19 19:50] SarahKay8 commented on #34739
@chaseakirby sounds good! See you then

[2022-05-19 19:59] SKasimow commented on #40524
@jennaouellet ok ty. I will join an office hours if I have any q's when drafting the ticket.

[2022-05-19 20:11] jerekshoe commented on #41302
@jacobworrell after talking to @Mottie I'm realizing that there needs to be backend work done before we can start this ticket. `vets-website` doesn't interface with Lighthouse directly, but uses `vets-api` as a middle man instead.

[2022-05-19 20:18] calquisola commented on #41652
hi @scottymeyers,

You are already part of the VA org, so i don't think there would be any implications. In any case you have an issue access wise, please feel free to reach out in the [#vfs-platform-support](https://dsva.slack.com/archives/CBU0KDSB1)

[2022-05-19 20:19] #41535 closed

[2022-05-19 20:25] RLHecht commented on #41405
Going back through emails from when we first needed to make these updates in December, we had language that the stakeholders had approved to put on the FAQs page. I confirmed that we are still good to use this language with a few adjustments. Here is is:

**If you’re taking online classes**

**If your school or program offers approved online classes or training,** you’ll continue receiving GI Bill

[2022-05-19 20:32] laurwill commented on #41662
Hi @RLHecht — I copyedited, did the checklist, and published.

Also noting that per a chat with Danielle, I made small tweaks to the content about the COVID.gov test kits and made the same changes in draft form on the COVID FAQs page. Additional updates to that FAQs page are tracking in this ticket: https://github.com/department-of-veterans-affairs/va.gov-team/issues/40829

[2022-05-19 20:35] jsgarmon commented on #41412
AWS access has been granted, and first-time login instructions sent via Slack DM.

[2022-05-19 20:35] #41412 closed

[2022-05-19 20:35] jsgarmon commented on #41075
AWS access has been granted, and first-time login instructions sent via Slack DM.

[2022-05-19 20:35] #41075 closed

[2022-05-19 20:45] mdewey commented on #39342
First pass: Focus on the alert header.

[2022-05-19 20:45] mnorthuis commented on #39294
@rileyorr @denisecoveyduc @Dr-Pongo @kevinstachura @OptionSelect
A bit of a change to the breadcrumb direction from previous discussions. Because the static pages provides entry points into 2 different tools/options (the debt summary and the FSR), the static page should remain available for users to access and visible in the breadcrumb.  This doesn't change the deep linking approach and the abilit

[2022-05-19 20:55] laurwill commented on #41644
Thanks Aliyah! @RLHecht, I published this update

[2022-05-19 20:58] obrienjulie commented on #31789
The primary differences between the Forms dashboard and the Time to Complete are the filters we have added. That seems to be the primary reason for dropping records between both.

In the TTC output, we are using this filter:

 WHERE
     "closest_confirmation_timestamp" IS NOT NULL
     AND ("closest_confirmation_timestamp" - "hit_timestamp") BETWEEN 0 AND 2592000 (0-30 Days).

I do not want to re

[2022-05-19 20:59] ajakabcin commented on #34543
Documenting questions, points of contact, timelines, etc in [this doc](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/notifications/vagov-notifications/mvp/qa/onsite-notifications-qa-strategy.md)
cc @Samara-Strauss  @ericasauv09

[2022-05-19 21:02] #41278 closed

[2022-05-19 21:05] caw310 commented on #5865
Closing since this is only an IE11 issue. There is a plan to stop supporting IE11.

[2022-05-19 21:05] #5865 closed

[2022-05-19 21:21] wesrowe commented on #41411
Got it - thanks @chaseakirby

[2022-05-19 21:22] aliyahblackmore commented on #41159
Thanks @RLHecht ! Just an update here --> I started to update in Drupal and will continue tomorrow. I added in a new rich text box with these changes and will remove the old one once I am done.

[2022-05-19 21:31] benbrasso-agile6 commented on #40597
I messaged danielle about the Resources & Support page. That page could be edited. But, up to her if she feels it's necessary. I provided her with some thoughts. https://www.va.gov/resources/how-to-check-in-with-your-smartphone-for-some-va-appointments/

[2022-05-19 22:03] joshkimux commented on #34874
Attached sitewide here!

[2022-05-19 22:03] joshkimux commented on #34876
Attached sitewide here too!

[2022-05-19 22:31] #40524 closed

[2022-05-19 22:31] starlow00 commented on #41073
Hi @loripusey. The drafts of the product guides and the video script look good. On the guides, there are a few comments. Take a look, and once you're able to reply to those things and all looks good, I can share with VEO for their review.
[PRE-CHECK-IN_V2_srt_05182022.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/8734576/PRE-CHECK-IN_V2_srt_05182022.docx)
[PATIENT.CHECK

[2022-05-19 22:33] SKasimow commented on #41067
Completed - no issues so closing. See #40524

[2022-05-19 22:33] #41067 closed

[2022-05-19 22:34] #40095 closed

[2022-05-19 22:47] chloedotbrown commented on #41512
@obrienjulie Confirming that this will require an additional BQ view, but luckily, it should be pretty simple! I did a bunch of exploration into the search data today, and a select-all of the current standardized views with the following where clause should get us what we need:

[code]
We'll need to hard-code the `search_scope` field as well - maybe just "VA Homepage" would work? I'm not sure wher

[2022-05-19 23:00] SKasimow commented on #39342
Hey @mdewey - now thinking I should combine tickets and add the scenarios I wrote for the other ticket with this ticket. Are you ok with that?

[2022-05-19 23:18] brianseek commented on #40586
@zach-park Thanks for the handy sketch annotations! When looking at these specific tickets, note that they are only scoped to one part of the page. This covers accordions only, so the H1 and footer stuff is not applicable. But this does bring up a question about the footer, currently the content in the footer is static across all pages, if we shouldn't be showing part of it, that needs a new ticke

[2022-05-20 02:37] andresriveratoro commented on #35528
Create a PR to revert changes from https://github.com/department-of-veterans-affairs/vets-website/pull/21137 after it and https://github.com/department-of-veterans-affairs/vets-website/pull/21127 have been merged

[2022-05-20 02:42] raywangoctova commented on #39695
Mission statement approved.

[2022-05-20 05:05] bethpottsVADEPO commented on #40484
@katherine-fung @RLHecht I answered Katherine's questions inline above and added SME names (Randi you probably already know this info, but just getting it in the ticket in case someone other than you reaches out to SMEs).

In the first section where you list the pages that need Space Force added, it's probably best to send screen shots where you have a red arrow pointing to the part where you want

[2022-05-20 05:41] raywangoctova opened #41675 "Platform 2022 Q2 Miscellaneous Objective"

[2022-05-20 06:41] #40965 closed

[2022-05-20 06:58] raywangoctova opened #41676 "Platform 2022 Q2 Reorg Cleanup"

[2022-05-20 07:09] raywangoctova opened #41677 "Platform 2022 Q2 Internal Documentation"

[2022-05-20 07:11] raywangoctova opened #41678 "Platform 2022 Q2 Continue with Annual Objective"

[2022-05-20 12:34] loripusey commented on #40586
@brianseek @zach-park I'd like to get to a place where FE and Designers can look at the product together over Zoom; the asynchronous nature of these interactions add additional overhead and time for the designer to have to generate annotations; it would be much better if we can just hop on a quick zoom, have FE show us the application (as it pertains to a specific story) and validate on the spot o

[2022-05-20 12:37] djfredvs opened #41679 "5/26/22 1 PM VEText Community Care Training"
Booked by James Taylor

[2022-05-20 12:37] djfredvs opened #41680 "5/26/22 1 PM VEText Community Care Training"
Booked by James Taylor

[2022-05-20 12:46] loripusey opened #41681 "[BUG] Error Title Displays in English when in Spanish Mode"
## What happened?
Error title displays in English when in Spanish mode

![image.png](https://images.zenhubusercontent.com/60db6a817900f619905e68b1/f7e2fd75-394a-4359-ac53-1193050fc898)

## Steps to Reproduce
- URL: Pre-Check-in
- Force 3 failed login attempts

## Desired behavior
Error title should display in Spanish when in Spanish mode

## Acceptance Criteria
- [ ] Error title should display in

[2022-05-20 12:49] loripusey opened #41682 "[BUG] "Go to your appointment details" displays in English when in Spanish mode"
## What happened?
"Go to your appointment details" displays in English when in Spanish mode

![image.png](https://images.zenhubusercontent.com/60db6a817900f619905e68b1/eccb31eb-d152-4000-acac-fd2d31f87aa0)

## Steps to Reproduce
- URL: Pre-Check-in
- Complete Pre-Check-in

## Desired behavior
"Go to your appointment details" displays in Spanish when in Spanish mode

## Acceptance Criteria
- [ ] "G

[2022-05-20 12:51] loripusey opened #41683 "[BUG] Message body displays in English when in Spanish mode"
## What happened?
Message body displays in English when in Spanish mode

![image.png](https://images.zenhubusercontent.com/60db6a817900f619905e68b1/eccb31eb-d152-4000-acac-fd2d31f87aa0)![image.png](https://images.zenhubusercontent.com/60db6a817900f619905e68b1/0b185e97-95fe-4822-9506-f3c5699ba4ff)

## Steps to Reproduce
- URL: Pre-Check-in
- Complete Pre-Check-in

## Desired behavior
Message body d

[2022-05-20 13:26] michelpmcdonald commented on #40605
Merged

[2022-05-20 13:26] #40605 closed

[2022-05-20 13:48] CBonade opened #41685 "Rework Domo queries to use new product list schema"
## Issue Description
All our queries in Domo that pull QA data for our QA dashboards were linking QA artifacts to a product by joining the product list on ID. As the product list schema has changed, all of our data sets have broken. We need to change all these data sets to use the new product list schema.

---
## Tasks
- [ ] Convert all Domo Data sets for the QA Dashboards to use the new product l

[2022-05-20 13:51] JoeTice commented on #41234
This task is being deprioritized, as it is not related to one of the priority use cases

[2022-05-20 13:52] JoeTice commented on #41219
This task is being deprioritized, as it is not related to one of the priority use cases

[2022-05-20 13:56] JoeTice commented on #41242
This task is being deprioritized, as it is not related to one of the priority use cases

[2022-05-20 14:14] DuscaFichtel opened #41686 "Business intake form for VA Insurance"
## Your Details
1. Dusca Fichtel
​
2.  **Business Line**
VA Insurance

## Notification Details
3. Email and Text/SMS
​
4. **Please describe your use case.**
   Send text messages to Veterans Affairs Life Insurance (VALife) insureds to notify them communications are available to them in their online account or that changes were made to their online account.

5. **What actions can the user take base

[2022-05-20 14:22] tameracorson commented on #41542
[https://app.zenhub.com/files/133843125/3f762589-baf3-4d09-abf6-518eafe731d0/download](https://app.zenhub.com/files/133843125/3f762589-baf3-4d09-abf6-518eafe731d0/download)

[2022-05-20 14:29] lichellebain opened #41687 "Change account type for Lichelle Bain to DSVA Slack"
# Description

**new user requests**: please verify that the user does not already exist in dsva.slack.com (it may be the account exists, but is not in a particular channel)

<describe the request>My account is set at a multi-channel guest.  This is blocking me from adding the channels I need to access.  Please change this setting to the regular member setting, (?) If that is the correct term!

![

[2022-05-20 14:33] ajakabcin commented on #31302
Just uploading a copy of the mockup the Analytics team created for us as a ppt since I don't believe Samara/OCTO-DE folks can access the Google version.
[MyVA Edge Case Dashboard Mockup.pptx](https://github.com/department-of-veterans-affairs/va.gov-team/files/8740929/MyVA.Edge.Case.Dashboard.Mockup.pptx)

[2022-05-20 14:35] tmitchellgcio opened #41688 "Look into why the tests for On Site Notifications have to be skipped for the CI"
The  [My VA Dashboard Notifications E2E spec](https://github.com/department-of-veterans-affairs/vets-website/blob/main/src/applications/personalization/dashboard/tests/e2e/dashboard-notifications.cypress.spec.js) from [this PR](https://github.com/department-of-veterans-affairs/vets-website/pull/21102) had to be skipped. They worked perfectly locally, but in the CI it refused to pass. We tried ever

[2022-05-20 14:35] #39113 closed

[2022-05-20 14:37] Samara-Strauss commented on #40524
All of this sounds good. Thanks!

[2022-05-20 14:37] npeterson54 opened #41689 "Documentation update: Request access to tools"
## Why are we doing this?

As part of our Q2 goals we need to update all reports that are owned for by our team.  This story will focus on the "[Request access to tools](https://vfs.atlassian.net/wiki/spaces/GS/pages/969605215/Request+access+to+tools)" document

## Tasks

- [x] Update the document with current information if necessary

[2022-05-20 14:39] npeterson54 opened #41690 "Documentation update: "Backend to running vets API locally""
## Why are we doing this?

As part of our Q2 goals we need to update all reports that are owned for by our team.  This story will focus on the "[Backend of running vets API locally](https://vfs.atlassian.net/wiki/spaces/pilot/pages/1887567963/Backend)" document

## Tasks

- [x] Update the document with current information if necessary

[2022-05-20 14:41] npeterson54 opened #41691 "Migrate External Server Status graph to datadog"
## Why are we doing this?
With the move of vets-API to EKS, we will no longer be able to pull graphs out of Grafana due to the fact that Prometheus will no longer be used in the new infrastructure, this will prohibit us from pulling this report

## Tasks

- [ ] Migrate the External Server Status graph to Datadog

[2022-05-20 14:43] npeterson54 opened #41692 "Migrate External Service Performance Indicators graph to datadog"
## Why are we doing this?
With the move of vets-API to EKS, we will no longer be able to pull graphs out of Grafana due to the fact that Prometheus will no longer be used in the new infrastructure, this will prohibit us from pulling this report

## Tasks

- [ ] Migrate the External Service Performance Indicators graph to datadog

[2022-05-20 14:43] chancetheoriginal opened #41693 "VEText/AVS: User History [TBD]"
## Description

Create user history gallery view within VEText/AVS Support apps

---

## Acceptance Criteria

- [x] implement and test design
- [x] Review with leadership
- [ ] Publish
---

[2022-05-20 14:45] #40697 closed

[2022-05-20 14:46] taylorkaren commented on #5190
@caw310 : The tracking sheet https://docs.google.com/spreadsheets/d/1M9wfqjLNjecPvwhl8XmJxBJi2CbiOyRS-_9uI3Dn678/edit#gid=0) has this ticket noted as one to retest but it has no assignee. Matt asked me to put a comment on this ticket for you to make sure that it is on the radar to be reviewed and assigned.

[2022-05-20 14:48] chancetheoriginal opened #41694 "VEText/AVS: Escalations to Rob/Manual ticket creation Support App Integration [TBD]"
## Description

Connect VSA/ASA to Rob's list for centralization.

---

## Acceptance Criteria

- [ ] Design and test implementation
- [ ] Publish
---

[2022-05-20 14:51] #41586 closed

[2022-05-20 14:55] #39695 closed

[2022-05-20 14:58] #38710 closed

[2022-05-20 15:01] claytonzook opened #41695 "Move Screen Reader research guidance and check list to Platform"
## User Story
As a VFS researcher, I want all the important guidance I need in one location, that I know to be source of truth,  so I don't have to hunt for it and so that I know that I'm getting the latest guidance.

As Platform Governance Team, I want make sure researchers have access to important information on Platform, since it is source of truth for research guidance.

- Intended Audience: V

[2022-05-20 15:04] joshkimux commented on #19696
This might be used with 10-10ez as well? @Dene-human could you help confirm that? Otherwise, if it's benefits specific we can see what we can do about it within our team.

[2022-05-20 15:06] joshkimux commented on #34872
Thank you @taylorkaren and team 🥳

[2022-05-20 15:06] #34872 closed

[2022-05-20 15:16] #36734 closed

[2022-05-20 15:17] claytonzook opened #41696 "Move Research Synthesis guidance to Platform"
## User Story
As a VFS researcher, I want all the important guidance I need in one location, that I know to be source of truth,  so I don't have to hunt for it and so that I know that I'm getting the latest guidance.

As Platform Governance Team, I want make sure researchers have access to important information on Platform, since it is source of truth for research guidance.

Assignee: @it-harrison

[2022-05-20 15:18] CherylEvans commented on #41338
@bethpottsVADEPO Good morning Beth.  Thanks again for providing your FB for my SA.  :-) I'm looking over the provided artifact [wireframes](https://accenturefederal.invisionapp.com/freehand/FRYDEA-Visual-Designs-WE63OVY4) and am realizing that a lot of SWC's FB was not implemented.  I understand there are time constraints, so that is fine, but is it your understanding that these recommendations/ed

[2022-05-20 15:18] joshkimux opened #41697 "CST: Hubless spoke page and IA needs review"
# Hubless spoke pages needs review

- [Your compensation claim pages](https://staging.va.gov/track-claims/your-claims/600219085/status?postLogin=true)
- Profile pages
- [Mural outline of the issue](https://app.mural.co/t/vsa8243/m/vsa8243/1653404244021/d2fdb4d36539e09705429286accaf119db765664?sender=u2134c22982ad9c7b41798011)

Hubless spoke pages are pages that together as a group form one "hub" o

[2022-05-20 15:18] lindsay-insco commented on #41087
Follow up with @shanemelliott

[2022-05-20 15:19] lindsay-insco commented on #36728
Update: Looks promising - awaiting final word from site

[2022-05-20 15:24] k80bowman commented on #37672
I'm working on this one as I have time.

[2022-05-20 15:27] joshkimux commented on #34872
sitewide! Adding that on now :)

[2022-05-20 15:28] JoeTice opened #41698 "Product List: Convert CSV list to JSON"
## Issue Description
_What details are necessary for understanding the specific work or request tracked by this issue?_

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attac

[2022-05-20 15:31] JoeTice opened #41699 "Product List: Update validation script to support JSON"
## Issue Description
_What details are necessary for understanding the specific work or request tracked by this issue?_

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attac

[2022-05-20 15:32] amygoldman commented on #41165
5/20

- Samara is doing this today

[2022-05-20 15:33] JoeTice opened #41700 "Product List: Update ingestion script to support JSON"
## Issue Description
The ingestion script is currently set to parse a CSV into a JSON object, before chopping it up into rows to be sent to BigQuery. We need to convert this to expect to start with a JSON data set. This may be more of a delete and redirect ticket than creating something new. We should also take a look at the `processJson.js` class that handles this exact use case for test results,

[2022-05-20 15:34] amygoldman commented on #39970
5/20

- Response from Shira: wants to get Andrea's opinion, waiting for response in thread

[2022-05-20 15:36] amygoldman commented on #40374
5/20

- Mike Chelen requested that people who request support make the request through VFS-Platform-support instead of other channels
- not sure if this ticket belongs to us
- waiting for Liani to come back to discuss the next steps
  - Do we need to update the documentation to reflect this change?
  - Should we socialize this through Slack?

[2022-05-20 15:36] PJart opened #41701 "AWS access for Patrick Arthur"
### COR Name

Other

### Vendor Onboarding Representative Name

Accenture Federal Services - Alexa Elliot

### Your Name

Patrick Arthur

### Your Email

patrick.arthur@accenturefederal.com

### Your Team, Role, and Company

Ruby on Rails Dev legacy edu

### Product Manager (PM) name and email

Abe Blanco abelardo.blanco@accenturefederal.com

### Product Owner (PO) name and email

Matt Self Matthe

[2022-05-20 15:37] JoeTice opened #41702 "Product List: Update the automated collection to support JSON"
## Issue Description
We currently have a number of fields of information that are being collected in an automated fashion for our product directory. These are currently built around adding these values into a CSV once they are determined. We need to alter this script to add the values to a JSON file properly.

---
## Tasks
- [x] Alter the automated data collection script to account for adding the

[2022-05-20 15:42] npeterson54 opened #41703 "[Infrastructure Request] DataDog: Setup Puma integration for Console Services team"
### Team name

Console Services

### Application name

Datadog

### GitHub repository

_No response_

### Product owner

Thomas D

### Product manager

Nathan Peterson

### DevOps resource

none

### Related issue

https://github.com/department-of-veterans-affairs/va.gov-team/issues/39887

### Infrastructure needed

@jhouse-solvd We need to get Puma integrated with Datadog and need some help from

[2022-05-20 15:42] JoeTice opened #41704 "Product List: Define use case for product list menu"
## Issue Description
_What details are necessary for understanding the specific work or request tracked by this issue?_

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attac

[2022-05-20 15:44] RLHecht commented on #41644
@aliyahblackmore The stakeholder just emailed to say that this rate goes into effect May 30. Could you please put back the old rate and publish the page and save the new rate in draft form? I'll reach out to him about us publishing on May 31 since the 30th is a holiday.

[2022-05-20 15:44] hallihocine opened #41705 "Auto switch from DEA (Ch 35) to Post-9/11 GI Bill (Ch 33)"
If I select for military status Spouse/Child the benefit DEA (ch 35),  then I change the military status to Veteran, Active Duty or National Guard, the benefit DEA (ch 35) remains selected. Which is not correct (Spouse and Child are the only options eligible for DEA (ch 35)).

## Steps to Reproduce
- Navigate to: https://staging.va.gov/education/gi-bill-comparison-tool/institution/13957113
- In yo

[2022-05-20 15:44] SKasimow opened #41706 "Analytics KPI dashboard update request for [Team]"
# Request an update to your KPI Dashboard

## What this form is for

Use this ticket template to request an update to your existing KPI dashboard. To request a new product be added to our dashboards, please use [Request a New Standardized KPI Dashboard template](https://github.com/department-of-veterans-affairs/va.gov-team/issues/new?assignees=joanneesteban&labels=analytics-insights%2C+analytics-r

[2022-05-20 15:44] JoeTice opened #41707 "Product List: Create a template for the product list interaction"
## Issue Description
_What details are necessary for understanding the specific work or request tracked by this issue?_

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attac

[2022-05-20 15:46] JoeTice opened #41708 "Product List: Conduct User Research"
## Issue Description
In order to provide a high quality user experience to users of the product list, we need to conduct user research with potential users.

---
## Tasks
- [x] Preliminary:
   - [x] Prototype exists and is ready for testing
   - [x] Research plan is created
- [x] Create conversation guide
- [x] Recruit users from a pool of potential users
- [x] Conduct user research for the produc

[2022-05-20 15:46] claytonzook opened #41709 "Move Inclusive Research guidance to Platform"
## User Story
As a VFS researcher, I want all the important guidance I need in one location, that I know to be source of truth,  so I don't have to hunt for it and so that I know that I'm getting the latest guidance.

As Platform Governance Team, I want make sure researchers have access to important information on Platform, since it is source of truth for research guidance.

- Intended Audience: V

[2022-05-20 15:47] SKasimow commented on #41512
@mmiddaugh - so sorry! I accidentally changed some labels thinking I was in my own ticket :(
I've added them back but just wanted to let you know in case you were wondering what I was doing here!

[2022-05-20 15:48] JoeTice opened #41710 "Product List: Create GHA Workflow to process form"
## Issue Description
When a new "update" issue is created in the product-directory repository, we want a GitHub actions workflow to kick off that will grab the latest issue, process the input from it and open a pull request to add the changes to the Product Directory.

---
## Tasks
- [x] Create a workflow that opens a pull request with changes whenever a new issue is opened for a product directory

[2022-05-20 15:50] JoeTice opened #41711 "Product List: Create PR Template"
## Issue Description
We need a PR template for the automatically generated PRs that are created as the result of an update issue being generated. This PR request should explain all the relevant information we need to know about whether that PR is ready for approval.

---
## Tasks
- [x] Create a PR template for our GHA workflow to use when it creates PRs for updates.

## Acceptance Criteria
- [x] W

[2022-05-20 15:50] ahicksfearless opened #41712 "Update PVS/AVS SharePoint Guide"
Rob updated the PVS so it auto-closes the TIU note as it does with AVS

- [x] Add this information to SharePoint

- [x] Send to Justin for review

[2022-05-20 15:50] shiragoodman opened #41713 "Refine guidance on Collab Cycle issue ticket labels"
## User Story
As a VFS team member, I want to be able to easily understand the applied labels on a GitHub issue ticket so that I can know who is responsible and what product is impacted.

- Intended Audience: VFS/Governance
- Desired Outcome: clarity/transparency on CC issue ticket labels wrt product and team
- Due Date:

## Description
The [Anatomy of a Staging Review issue ticket ](https://depo-

[2022-05-20 15:52] JoeTice opened #41714 "Product List: Create GHA workflow to update YAML template each merge"
## Issue Description
As we are using a YAML form template, we will not be able to fetch a current list of products. We will need to start with the current list at the time of creating the template, and when changes are made, we need to update the template with the most recent list. This should be able to be accomplished via a GitHub action triggered on merging of a PR.

---
## Tasks
- [x] Create a

[2022-05-20 15:54] JoeTice opened #41715 "Product List: Create GHA Workflow to update data"
## Issue Description
_What details are necessary for understanding the specific work or request tracked by this issue?_

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attac

[2022-05-20 15:56] JoeTice opened #41716 "Product List: Implement Confluence Export from JSON"
## Issue Description
_What details are necessary for understanding the specific work or request tracked by this issue?_

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attac

[2022-05-20 15:58] #41365 closed

[2022-05-20 16:01] #41554 closed

[2022-05-20 16:02] #41518 closed

[2022-05-20 16:02] #41475 closed

[2022-05-20 16:02] #41410 closed

[2022-05-20 16:03] #41373 closed

[2022-05-20 16:03] aliyahblackmore commented on #41644
@laurwill This was changed back to 4.5% and is ready for you to publish. Once you have published, I will save the new rate (5%) in draft form!

[2022-05-20 16:06] benbrasso-agile6 commented on #41073
@loripusey edits are completed and here are the revisions:

[PATIENT.CHECK-IN_PRODUCT_GUIDE.pdf](https://github.com/department-of-veterans-affairs/va.gov-team/files/8741805/PATIENT.CHECK-IN_PRODUCT_GUIDE.pdf)
[PATIENT.CHECK-IN_PRODUCT_GUIDE.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/8741806/PATIENT.CHECK-IN_PRODUCT_GUIDE.docx)
[PRE-CHECK-IN_PRODUCT_GUIDE.pdf](https:/

[2022-05-20 16:12] TravisGM commented on #41407
/request Travis McKinstry

Remove access to Slack, Confluence, Github, etc.

[2022-05-20 16:15] little-oddball opened #41717 "Review On Call Notifications and Schedule"
Based on discussion with the platform team leads there is some re-visiting/decision making to be to the on-call schedule as well as looking more into the notifications generated through the on-call channel.

The goal here is to investigate each of the items mentioned above and provide insight, recommendations and resolution. That specific information will be carried within the sub-tickets of this

[2022-05-20 16:17] Dene-human commented on #19696
Hey! We might have a couple of overlaps.

- On the insurance detail we have an array of items- and we are also waiting on a bug fix ([ticket](https://github.com/department-of-veterans-affairs/va.gov-team/issues/34828)). Another note, our goal is to split this page, but we can't currently have an array of items on its own page because of how the Review page handles it.
![Insurance](https://user-ima

[2022-05-20 16:17] denisecoveyduc opened #41718 "[FSR] Itemize "other living expenses" provided by Veterans"
## What happened?
"Other Living Expenses" are currently lumped together with a singular total. The COWC staff who process the forms need to review those expenses individually and determine if the expense amount is reasonable.  If they are all clumped together as one total, they are unable to determine if the Veteran's submission is reasonable. Stakeholder is requesting that the expenses be separat

[2022-05-20 16:20] chaseakirby commented on #40501
@claytonzook Hey Clayton, I have reviewed and the changes to Research Overview Page & Monday Design and Research Share template look good.
For the "Platform Website: Research Checklist has been updated" short mention in section 7; I see that it links to [this generic slide deck](https://docs.google.com/presentation/d/19l8281cENnUmdz0qIsyPcVIeoyB8uw_kzoHYWbuYlwA/edit#slide=id.g892adcb623_0_422) tha

[2022-05-20 16:23] little-oddball opened #41719 "Work with Joe to get insight on PagerDuty schedule and transitions to SRE"
Meet with Joe to go over additional information related to Pager Duty and use that information in conjunction with already had information to put together a plan/solution in moving forward.

###### Acceptance Criteria
- Documentation created that outlines current state and proposal to move forward
- Tickets, as needed, to support actionable items that come out of the created documentation and prop

[2022-05-20 16:28] RachalCassity opened #41720 "Create a SuperUser for Argo"
### Why are we doing this

An access token is used to make API calls to Argo in order to view deployments in Platform Console API.   Dex, an OIDC provider, allows users to login to Argo via Github. Github access tokens cannot be used to make API calls since Dex becomes the Issuer in Argo.

### Tasks

- [x] Attempted to use a Github token to make calls to Argo. **This was unsuccessful** :(
- [ ] No

[2022-05-20 16:29] ajakabcin commented on #40551
All feedback is documented in subsequent tickets to be incorporated into research plan or already addressed in our designs. Closing - thanks!

[2022-05-20 16:29] #40551 closed

[2022-05-20 16:29] brianseek commented on #40586
I like that idea @loripusey, I think we could even do these things on the fly. If a UX person is reviewing and has questions, they can ask in slack to hop on a quick zoom to go over stuff and tag Lori in too if you have time to join.

[2022-05-20 16:34] denisecoveyduc opened #41721 "[FSR] NaN are interfering with FSR column calculations"
## What happened?
Veterans appear to be able to enter non numerical values when completing the FSR which is preventing the columns from being totaled.

![image.png](https://images.zenhubusercontent.com/5f7f60ca14e26c658f77b9f5/1a8c01a9-25c9-44b4-9d1a-6d32d426f143)

![image.png](https://images.zenhubusercontent.com/5f7f60ca14e26c658f77b9f5/8a7ac5e8-dc25-4363-a336-19b59a325aba)

## Desired behavior

[2022-05-20 16:34] laurwill commented on #41644
Published!

[2022-05-20 16:35] ajakabcin opened #41722 "Sitewide Content Request - Auth Experience My VA team (v2 of Payment info section on My VA dashboard)"
## What does your team need support for? Check all that apply.
- [ ] Launching one or more new unauthenticated (static) VA.gov pages
- [ ] Making revisions to one or more existing unauthenticated (static) VA.gov page
- [ ] Launching a new online form, app, or tool on VA.gov
- [x] Making revisions to an existing online form, app, or tool on VA.gov
- [ ] Something else (please add details in the nex

[2022-05-20 16:36] Mottie opened #41723 "526: Remove extra text"
## Description

When a logged in user is missing information (some ID?), form 526 will display an alert stating that we need more information. After the TTY number is some text that shouldn't be there

<img width="612" alt="va-t text is seen immediately after the TTY phone number inside an alert on form 526" src="https://user-images.githubusercontent.com/136959/169567237-199bd788-db59-4cab-9652-d9

[2022-05-20 16:38] mrblanco1 commented on #39715
File was provided to Dev on 5/20/2022. Dev making progress.

[2022-05-20 16:41] ajakabcin commented on #41161
Submitted #41722

[2022-05-20 16:41] #41161 closed

[2022-05-20 16:47] aliyahblackmore commented on #41644
Thanks @laurwill ! @RLHecht A new draft has been saved with the 5% rate, to be published on May 30 or 31!

[2022-05-20 16:50] Samara-Strauss commented on #41123
Latest update:

- I've created [a slack channel](https://dsva.slack.com/archives/C03G60B5DAP/p1652973788179859) which fully outlines this issue and investigation done by backend devs from each team into the errors that have occurred with each integration.
- Based on the investigation into the errors, it sounds like the errors may be coincidental and not related to the latency, but we aren't 100% s

[2022-05-20 16:51] golavarr-va opened #41724 "Offboarding of Haidong (Alex) Ji"
# Instructions
Fill out name of individual and *Description* section below.

# Description
Please provide the following information about the individual being offboarded:
- name:

- team name:

- role on team:

- expected last day:

- company they work for:

- email:

- GitHub username:

- additional access they may have:

 SOCKS, Google analytics, AWS, Slack, etc.

## Acceptance Criteria
*Perform

[2022-05-20 16:52] jsgarmon commented on #41407
/request Travis McKinstry

[2022-05-20 16:56] little-oddball opened #41725 "Review On Call Notifications and Schedule"
Based on discussion with the platform team leads there is some re-visiting/decision making to be to the on-call schedule as well as looking more into the notifications generated through the on-call channel.

The goal here is to investigate each of the items mentioned above and provide insight, recommendations and resolution. That specific information will be carried within the sub-tickets of this

[2022-05-20 16:57] Cmjones233 commented on #40659
incremental refresh set up. Auto refresh pending

[2022-05-20 16:57] Cmjones233 commented on #40659
incremental refresh set up. Auto refresh pending

[2022-05-20 16:59] Cmjones233 commented on #40942
troubleshooting

[2022-05-20 17:01] #41636 closed

[2022-05-20 17:03] jsgarmon commented on #41724
/request Alex Ji

[2022-05-20 17:20] #41194 closed

[2022-05-20 17:20] #41347 closed

[2022-05-20 17:22] jimuhh opened #41726 "IA Feedback - Midpoint Review - My Education Benefits, Authenticated 22-5490"
## VFS acceptance criteria
- [ ] Let Platform know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
-

## Feedback
- **Must** = the feedback must be applied
- **Should** = the feedback is best practice
- **Consider** = suggestions/enhancements

**Must:**

**Should:**

**Consider:*

[2022-05-20 17:35] ahicksfearless opened #41727 "Resubmit SQL DB Scan"
[] resubmit excel spreadsheet in emass excluding Mongo scans

[2022-05-20 17:38] claytonzook commented on #37550
@chaseakirby I had indeed missed that. It's now added in [Research Review section](https://vfs.atlassian.net/wiki/spaces/RD/pages/1958773011/Research+Checklist#2.-Research-review) for the next Platform publish. Thanks!

[2022-05-20 17:39] katherine-fung commented on #40484
@RLHecht - I've attached screenshots of the life insurance pages with the proposed changes in red.

SMEs: Steve Fital, Lori Hamilton, Kristan Hoffman

![TSGLI payment .png](https://images.zenhubusercontent.com/627bd98be9182e080ddd515b/b1a36cbe-f791-4e33-bd07-c4632bc4068e)![SGLI.png](https://images.zenhubusercontent.com/627bd98be9182e080ddd515b/9a70aa51-50ba-4051-a17a-4febb692ad88)

[2022-05-20 17:49] little-oddball opened #41728 "Work with Joe to get insight on PagerDuty schedule and transitions to SRE"
Meet with Joe to go over additional information related to Pager Duty and use that information in conjunction with already had information to put together a plan/solution in moving forward.

###### Acceptance Criteria
- Documentation created that outlines current state and proposal to move forward
- Tickets, as needed, to support actionable items that come out of the created documentation and prop

[2022-05-20 17:53] claytonzook commented on #40501
@chaseakirby I asked Naomi about this when I was seeking edit access to these decks. Since it's a more generic slide deck template, not focused on research, she suggested not modifying it. In looking back I do feel it's then better to include the research focused template at that part of the research checklist as well. I reworded the [Share your findings section of the checklist](https://vfs.atlas

[2022-05-20 17:57] af-manish opened #41729 "AWS access for Manish Shah"
### COR Name

Other

### Vendor Onboarding Representative Name

Accenture Federal Services - Alexa Elliot

### Your Name

Manish M. Shah

### Your Email

m.c.shah@accenturefederal.com

### Your Team, Role, and Company

Tech lead - Legacy EDU

### Product Manager (PM) name and email

Abe Blanco abelardo.blanco@accenturefederal.com

### Product Owner (PO) name and email

Matt Self-  matthew.self2@va

[2022-05-20 18:03] loripusey commented on #41073
@starlow00 Please see the edited documents based on your comments. Let us know if there are any additional comments. Thanks.
cc: @sarahknoppA6 @kristenmcconnell

[2022-05-20 18:13] ajakabcin opened #41730 "Analytics Implementation for [Auth Experience My VA - Onsite Notifications]"
# Google Analytics Implementation or QA Request

## What this form is for

<details>
<summary>More Information</summary>
<div>
    <br>
<p>Use this template to request Google Analytics implementation or QA for your product. Please fill out all brackets.</p>

</div>
</details>

## Description
### Required
- **Is this request for **Google Analytics implementation** or **QA**?**

     - [x] Google An

[2022-05-20 18:17] ajakabcin commented on #41236
submitted #41730

[2022-05-20 18:17] #41236 closed

[2022-05-20 18:20] jhouse-solvd commented on #41123
I spoke with @Samara-Strauss to confirm that there are no critical issues at this moment, but due to the recurring nature of the problem, BGS stakeholders would like to have the Platform Infrastructure team investigate further.

We will discuss this as a team next week during sprint planning and follow up by Tuesday or Wednesday.

[2022-05-20 18:29] Samara-Strauss commented on #41123
One clarification -- this request is coming from OCTO, not BGS. BGS has said they don't think these issues are originating on their end, and we need to determine if that is or is not the case. If there are issues with BGS that need to be resolved, those will need to be clearly defined so we can get that information back to them.

[2022-05-20 18:32] outerpress opened #41731 "Update VAOS templates to match staging"
## Task Description

Update VAOS' [templates](https://www.figma.com/file/twogqAIoOL9WAFRqvUbwiS/VAOS-Templates?node-id=0%3A1911) to match the equivalent screen on Staging

## References

- [VAOS Templates](https://www.figma.com/file/twogqAIoOL9WAFRqvUbwiS/VAOS-Templates?node-id=0%3A1911)
- [Staging link](https://staging.va.gov/health-care/schedule-view-va-appointments/)

## Acceptance criteria

Al

[2022-05-20 18:32] outerpress opened #41732 "Appts notifications preliminary report"
Create report on research progress to determine next steps with OCTO

[2022-05-20 18:35] jsgarmon commented on #41724
- Removed from AWS and SOCKS via PR above
- No pagerduty, datadog, or sentry access
- already removed from GitHub Org
- Not in Confluence or team roster

[2022-05-20 18:52] Mottie opened #41733 "NOD & Letters: Re-enable keyboard-only e2e tests"
## Description

The keyboard-only e2e tests for the Notice of Disagreement (NOD) form and letters app were skipped recently due to the tests failing in CI. That problem has since been fixed, so we can now re-enable these tests

## Tasks

- [ ] Enable NOD keyboard-only e2e test
- [ ] Enable Letters keyboard-only e2e test

## Definition of done

- [ ] All tasks complete
- [ ] All tests passing

[2022-05-20 18:57] caw310 commented on #5190
@taylorkaren This was not assigned b/c it was not one that Matt was suppose to review. Are you saying that you need someone from DST to test?

[2022-05-20 18:59] caw310 commented on #5190
@SarahKay8 , Assigned this to you for retesting when you have time. Thanks!

[2022-05-20 19:01] cohnjesse opened #42299 "Swap out green buttons for green action links"
# Background

 https://dsva.slack.com/archives/C01DBGX4P45/p1653064650558229?thread_ts=1653059647.064739&cid=C01DBGX4P45

Design has decided that we should move away from green buttons to start forms and move to using green action links instead. The green action link can be found [here](https://design.va.gov/storybook/?path=/docs/components-action-link--primary) in the design system.

## Tasks
- [

[2022-05-20 19:05] CoryTrimmUSDS commented on #41724
Removed from Slack.

[2022-05-20 19:05] CoryTrimmUSDS commented on #41407
Thank you!

Removed from Slack.

[2022-05-20 19:05] PJart commented on #41276
Step 1: sudo su - -c 'docker exec -it gi-bill-data-service bash'
Step 2:  source config/.env.sh
Step 3: nohup rake fix_coord_mismatch & exit
Step 4: sudo su - -c 'docker exec -it gi-bill-data-service tail -f nohup.out'

[2022-05-20 19:06] hallihocine commented on #41316
Ticket has been validated in staging: the DEA (Ch 35) benefit option is only active/selectable if the military status is: Spouse or Child. Otherwise it will be disabled/greyed out.

- DEA (Ch 35) benefit option is greyed out for Veteran/Active Duty/National Guard:
<img width="621" alt="Screen Shot 2022-05-20 at 10 42 59 AM" src="https://user-images.githubusercontent.com/86266024/169595122-ab180df2

[2022-05-20 19:06] madebydna commented on #41418
Currently there is an issue with the EKS version of `vets-api` in that there is a 503 service unavailable error when curling an endpoint that would make a second API call to LH using a new fwdproxy port that first goes to Kong:

[code]

Curl command that returns a 503: `curl https://dev-api.va.gov/facilities_api/v1/va/vba_354b`
If we force the traffic to go to the EC2 version of `vets-api` outside

[2022-05-20 19:07] aliyahblackmore commented on #41159
Hi @laurwill the Drupal page was updated with Beth's changes and is ready for you to copy edit!

[2022-05-20 19:08] laurwill commented on #41342
Hi @DanielleThierryUSDSVA , since this will involve Cerner and passing off some of the updates to Public Websites, we're thinking we'll do this all in one go, rather than fast-follows. Here's our suggested approach:

1. Create **new R&S article for VHIE** using the multiple Q&As template. (May need editing to fit template — could switch to Detail template if Q&A doesn’t work.)
2. Create **new R&S

[2022-05-20 19:08] hallihocine commented on #41316
- Test run in Test rail:
https://dsvavsp.testrail.io/index.php?/runs/view/3250&group_by=cases:section_id&group_order=asc&group_id=4443
- Test Steps:
[ Your military details should only allow Spouse and Child to apply to Ch 35.xlsx](https://github.com/department-of-veterans-affairs/va.gov-team/files/8743469/Your.military.details.should.only.allow.Spouse.and.Child.to.apply.to.Ch.35.xlsx)

[2022-05-20 19:16] CherylEvans opened #41734 "Content Feedback - Midpoint Review - [My Education Benefits, Authenticated 22-5490 Form (Fry/DEA) Updates]"
## VFS acceptance criteria
- [ ] Let Platform know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
-

## Feedback
- **Must** = the feedback must be applied
- **Should** = the feedback is best practice
- **Consider** = suggestions/enhancements

**Must:**

**Should:**

**Consider:*

[2022-05-20 19:20] chloedotbrown commented on #41503
@obrienjulie I did some scoping work on this as well - confirming we will need to take a different approach than adding "www.va.gov" to the `content_urls` table to avoid accidentally bringing in the whole website. I think the question of where in the pipeline the new code should be added is clearer than in the case of [Search](https://github.com/department-of-veterans-affairs/va.gov-team/issues/41

[2022-05-20 19:21] djfredvs opened #41735 "5/31/22 11:30 AM AVS Training"
Booked by Jennifer Gonzalez

[2022-05-20 19:24] joeniquette commented on #37205
@nsoutouras sorry for the poor formatting above, markdown converter from google docs wasnt as great as I'd hoped. But the list is complete. We should have a ticket per outer subject (7 in total).

[2022-05-20 19:38] outerpress opened #41736 "Document VAOS user flows"
The current user flow diagram is in github: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/appointments/va-online-scheduling/design/images/VAOS-User-Flows.png

We can't currently update and track this diagram, and it's difficult to socialize this format with other teams.

## Tasks
- [x] Transfer the information in the current diagram to a Figjam boar

[2022-05-20 19:41] little-oddball commented on #40726
Been moved to here based on feedback, etc. from Govt.

https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/blob/master/platform/engineering/service-accounts.md

[2022-05-20 19:41] #40726 closed

[2022-05-20 19:46] michelpmcdonald opened #41737 "Payment History Endpoint Sunday fails"
Ticket to track my support of this:

https://github.com/department-of-veterans-affairs/va.gov-team/issues/41581

[2022-05-20 19:48] katherine-fung commented on #40484
@RLHecht Here's an updated TSGLI screenshot for stakeholders: ![TSGLI.png](https://images.zenhubusercontent.com/627bd98be9182e080ddd515b/b5c825dc-c68f-4357-bf24-4ccd3e87481d)

[2022-05-20 19:51] zachclarity opened #41738 "Document the Platform Datadog Metric Sources and Configuration Details"
# Description

Document the configuration details related to [Datadog metric data](https://app.datadoghq.com/metric/explorer?from_ts=1653072420548&to_ts=1653076020548&live=false&tile_size=m&exp_agg=avg&exp_row_type=metric)

# Tasks
- [. ] Document DataDog Metrics for AWS resources and their Configuration Details
- [. ] Document DataDog Metrics for Vets-Api resources and their Configuration Details

[2022-05-20 19:52] theodur commented on #39544
As part of this initiative, the default branch in [vagov-content](https://github.com/department-of-veterans-affairs/vagov-content) will also be updated to `main`. [Ticket](https://github.com/department-of-veterans-affairs/va.gov-team/issues/41657)

[2022-05-20 19:55] amygoldman commented on #41169
5/20

- [Shared feedback with the Console team](https://dsva.slack.com/archives/C02SLSSGSBX/p1653064957616809)
- Monday: talk about our next steps and what we want to discuss with the Console team during our sync

[2022-05-20 20:00] zachclarity commented on #41738
Current Dataadog metrics list:  [extract-2022-05-20T19_58_59.718Z-metrics.csv](https://github.com/department-of-veterans-affairs/va.gov-team/files/8743733/extract-2022-05-20T19_58_59.718Z-metrics.csv)

[2022-05-20 20:01] jsgarmon commented on #41729
Closing this, as user has required access:
https://dsva.slack.com/archives/CBU0KDSB1/p1653072145812069?thread_ts=1653069634.650149&cid=CBU0KDSB1

[2022-05-20 20:01] #41729 closed

[2022-05-20 20:01] pjhill opened #41739 "Investigate Slow TestRail Report Generation"
# Description
TestRail report generation is currently taking many hours to complete. We should --

# Tasks
- [ ] Complain to Gurock about the lack of performance
- [ ] Look for some way to improve the performance of report generation on our own

[2022-05-20 20:04] pjhill commented on #40249
@tlei123 , I created this [ticket ](https://app.zenhub.com/workspaces/sprint-board-qa-standards-613a3f47e06ba00013d05eed/issues/department-of-veterans-affairs/va.gov-team/41739)for our team to investigate the slowness. Hopefully, we'll be able to get somebody to work this in the near future. That said, our complaints to Gurock about an endpoint being non-functional have not yet been resolved eithe

[2022-05-20 20:08] claytonzook opened #41740 "Move Estimating Research Timelines guidance to Platform"
## User Story
As a VFS researcher, I want all the important guidance I need in one location, that I know to be source of truth,  so I don't have to hunt for it and so that I know that I'm getting the latest guidance.

As Platform Governance Team, I want make sure researchers have access to important information on Platform, since it is source of truth for research guidance.

- Intended Audience: V

[2022-05-20 20:09] zachclarity commented on #41738
Detail Configuration for some metrics:
[extract-2022-05-20T20_03_28.589Z-trace.sidekiq.job.duration-tag-table.csv](https://github.com/department-of-veterans-affairs/va.gov-team/files/8743754/extract-2022-05-20T20_03_28.589Z-trace.sidekiq.job.duration-tag-table.csv)
[extract-2022-05-20T20_02_01.931Z-vets_api.statsd.api.auth.latency.avg-tag-table.csv](https://github.com/department-of-veterans-affair

[2022-05-20 20:10] mnorthuis commented on #39294
IA information has been updated to include new URLs.

@DanielleThierryUSDSVA and I reviewed and worked through H1s together to land on this structure, which resulted in the URLs and breadcrumbs documented.  We still have some work to do on link labels - primarily the entry point links that will deep link into the tool.  There is a very slight possibility that those decisions may result in slight t

[2022-05-20 20:17] laurwill commented on #41485
Thanks Randi!

@DanielleThierryUSDSVA , I wanted to run approach by you before we chat with Tarsha.
- We could model the new self-service information on this [Veteran ID card page](https://www.va.gov/records/get-veteran-id-cards/vic/) — guide users to the AccessVA self-service tool and add a section similar to the "You'll need this information" H2 explaining what info to gather and how to take the

[2022-05-20 20:20] claytonzook commented on #41090
@alexander-ferzola A reminder that if you can link us to the stakeholder interviews mentioned at the meeting today, but it could certainly be the findings report or even just a top line summary from that, we'd love to look at that in order to get a better understanding of your product and direction.

[2022-05-20 20:32] katherine-fung commented on #40484
Here are the screenshots for the careers/employment pages.

SME: Carol Cleveland

![veteran-owned business support.png](https://images.zenhubusercontent.com/627bd98be9182e080ddd515b/d9e8d8e8-30a1-4088-86a9-05f454f05fac)

![family resources.png](https://images.zenhubusercontent.com/627bd98be9182e080ddd515b/630e84aa-98b8-4231-b180-4da7a7c911ad)

[2022-05-20 20:33] michelpmcdonald commented on #41737
I think we're done with this for right now.

It appears that the main issue is BGS going down on Sundays for maintenance

[2022-05-20 20:34] #41716 closed

[2022-05-20 20:35] CBonade commented on #41716
Closed in favor of editing prior existing issue ticket.

[2022-05-20 20:38] RLHecht commented on #41222
@aliyahblackmore I edited the top of this ticket to show that they are launching the new program June 30. The stakeholder said we can publish earlier but this is not a rush so may push this ticket to next sprint if other things take priority.

[2022-05-20 20:41] aliyahblackmore commented on #41222
Thanks @RLHecht ! I'm working on this at the moment and compiling the pages in a Word doc. If you hear more about another way to collect the pages, let me know!

[2022-05-20 21:02] #20469 closed

[2022-05-20 21:02] #20467 closed

[2022-05-20 21:04] #12256 closed

[2022-05-20 21:06] #11817 closed

[2022-05-20 21:09] rsmithadhoc commented on #41296
Shifted focus to getting the API calls working since we are changing from a CSV to a JSON file. The API calls are working with a sample HTML file that will be similar to the final output sent to Confluence.

While waiting on the final JSON format, I am working on:

- Table formatting in Confluence is squished due to the number of columns.
  - I believe I have a workaround that will set column widt

[2022-05-20 21:18] rocio-desantiago opened #41741 "SOCKS access for Rocio De Santiago"
### Your Name

Rocio De Santiago

### Your Email

rocio@coforma.io

### Your Role and Team

Frontend Engineer on Benefits Decision Reviews Team

### Product Manager (PM) name and email

Sade Ragsdale, sade@coforma.io

### Product Owner (PO) name and email

Matt Self, matt.self@va.gov

### Public SSH Key

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCj/TR5YlZvVadOd7t/Ug4G4r0ooVAQ2SZadg2CGWJpC+0imIfplpZCn6

[2022-05-20 21:21] katherine-fung commented on #40484
@bethpottsVADEPO - is there guidance for the order in which the various branches should be listed on va.gov pages?

[2022-05-20 21:46] jilladams commented on #41516
Slack thread: https://dsva.slack.com/archives/C52CL1PKQ/p1652898333163349

We did find some related redirect logic that handles the `[directory/guide/facility.asp?ID=618&dnum=1](https://www.va.gov/directory/guide/facility.asp?` pattern, but it's unclear exactly what the logic is doing with unspecified paths like the ones in this list. Ideally our team would take a little time to confirm that, in u

[2022-05-20 22:08] cindymerrill commented on #36676
All set for research to begin.

[2022-05-20 22:08] #36676 closed

[2022-05-20 22:09] cindymerrill commented on #36617
Revised survey after pilot #1 and then again after pilot #2 so now ready for moderated research sessions. Planning another revision after the moderated research and before the unmoderated research.

[2022-05-20 22:48] chloedotbrown commented on #31789
Hi @obrienjulie - think we had a miscommunication about the edits to the additional dataflow edits! I went into the testing dashboard, and the totals that had previously matched were way off (screenshot below).

The `step_name` field only needed to be added to the "Time on Step" output dataset. Adding it to the fields and grouping conditions for the "Time to Complete" dataset means that these sums

[2022-05-20 23:20] SKasimow opened #41743 "Analytics Implementation or QA Support for Auth-Profile Team | Migration of Military Info"
# Google Analytics Implementation or QA Request

## What this form is for

<details>
<summary>More Information</summary>
<div>
    <br>
<p>Use this template to request Google Analytics implementation or QA for your product. Please fill out all brackets.</p>

</div>
</details>

## Description
### Required
- **Is this request for **Google Analytics implementation** or **QA**?**

     - [x] Google An

[2022-05-20 23:56] SKasimow commented on #41743
Hi Michelle - this template did not have an assignee pre-populated so lmk if I should switch to someone else. Thanks!

[2022-05-20 23:59] starlow00 commented on #41073
Those look good, @loripusey. I'll forward to VEO for their review.

[2022-05-21 00:17] brianseek opened #41744 "AWS access for Brian Seek"
### COR Name

Other

### Vendor Onboarding Representative Name

Agile Six - Anthony M. Arashiro

### Your Name

Brian Seek

### Your Email

brian.seek@gmail.com

### Your Team, Role, and Company

Check-in Experience, Frontend engineer, CivicActions

### Product Manager (PM) name and email

Stephen Barrs stephen.barrs@va.gov

### Product Owner (PO) name and email

Patrick Bateman  patrick.bateman@v

[2022-05-21 01:34] #41407 closed

[2022-05-21 02:41] #41289 closed

[2022-05-21 17:00] bethpottsVADEPO commented on #40484
@katherine-fung Good question! I don't think we have that documented. Want to talk with @RLHecht and @megzehn about it and decide if an addition to the style guide is warranted? Another one I'd love for @megzehn to look into a bit that's related and could be

[2022-05-22 18:39] penny-lischer opened #41745 "Request access to Google Analytics and/or Domo"
# Request Google Analytics and/or Domo access

## What this form is for
Use this template to request access to Google Analytics and/or Domo. Please complete steps 1 & 2 below.

## 1. Access Requirements
Please check the analytics tool(s) you need access to:
- [ x] Google Analytics
- [x ] Domo
- [x ] (Platform Teams only) BigQuery

## 2. User Email Address to Receive Access
**Due to privacy concern

[2022-05-22 21:56] #17400 closed

[2022-05-23 11:26] andaleliz commented on #41528
Hi @Samara-Strauss, I'm working on the docs, and it seems that users can't _remove_  or turn off direct deposit from profile. Is that correct? If so, how do people go about doing that?

[2022-05-23 11:45] andaleliz commented on #41528
Hi @Samara-Strauss, I'm working on the docs, and it seems that users can't _remove_  or turn off direct deposit from profile. Is that correct? If so, how do people go about doing that?

Also, what would be the easiest way for you to review my updates to the product outline? I'm thinking I can commit them on a separate branch and then you can compare changes if needed. I could also put them in a go

[2022-05-23 12:49] hdjustice commented on #38288
@starlow00 - We have finallly completed the final draft of the guide to include the Short Form flow within the current process.  We have also updated screenshots and information, since this document had not been updated for some time.  We would recommend a full review of the guide, and welcome any feedback you have.  Thank you!

[2022-05-23 12:50] #40182 closed

[2022-05-23 12:51] hdjustice commented on #40182
[Final draft ](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/application/va-application/product/HCA.Product.Guide.shortform.FinalDraft.docx)submitted to contact center team.  Once feedback is received, we will create a ticket to incorporate any changes.

[2022-05-23 13:08] kjduensing commented on #41038
https://github.com/department-of-veterans-affairs/access-management-integration/pull/34/files ready for review

[2022-05-23 13:46] clantosswett opened #41746 "Disability Claim Application Submission Issue"
## What happened?

Veteran is trying file a claim for compensation using the site. They complete the process step by step, and the website has a “submit” button at the end of the process. When they click on submit, the website goes to another page and says it cannot process the submission.

They have tried to submit my claim on a MacBook and a Windows machine using Safari, Chrome & Internet Explor

[2022-05-23 13:46] iriteshp commented on #41741
@rocio-desantiago is in the VFS roster.

[2022-05-23 13:48] jtmst opened #41747 "SOCKS access for Josh Mills"
### Your Name

Joshua Mills

### Your Email

jmills@kindsys.us

### Your Role and Team

Frontend Engineer on Facilities Team

### Product Manager (PM) name and email

Roger Eagans roger.eagans@agile6.com

### Product Owner (PO) name and email

Wesley Rowe wesley.rowe@agile6.com

### Public SSH Key

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDPqzNUZ0ROZF3WND1kz2GNtqy4Y0V3nPP2QyXn2gvglEaV4NA2V/KciH1LOlys

[2022-05-23 13:54] Samara-Strauss commented on #41528
Correct, there is not a way to turn off direct deposit from the profile. I think there is a way for people to go from direct deposit to paper check, but it's discouraged. I believe the government has a mandate to try to get as many people using direct deposit as possible, so while we used to have info on the content page for direct deposit about how to switch back to paper checks, that's since bee

[2022-05-23 13:58] iriteshp commented on #41741
SOCKS access granted. Please continue with [the guide](https://depo-platform-documentation.scrollhelp.site/getting-started/Internal-tools-access-via-SOCKS-proxy.1821081710.html) to establish a connection to SOCKS proxy. If you run into any issues, please feel free to reach out in the [#vfs-platform-support](https://dsva.slack.com/archives/CBU0KDSB1) channel using the [support request workflow](htt

[2022-05-23 14:06] #40339 closed

[2022-05-23 14:07] ewilson-adhoc commented on #41506
https://github.com/department-of-veterans-affairs/access-management-integration/issues/35

[2022-05-23 14:10] ewilson-adhoc commented on #41508
https://github.com/nov/openid_connect

[2022-05-23 14:21] JoeTice commented on #41076
Tickets have been created for these items, a scope change was made to this effort, so expanding it into Sprint 2

[2022-05-23 14:23] #40958 closed

[2022-05-23 14:26] #41550 closed

[2022-05-23 14:32] GnatalieH commented on #40157
@andresriveratoro question: our text input component is called "va-text-input" and I'm wondering if this component should be called "va-text-area" instead of "va-textarea". Thoughts?

[2022-05-23 14:32] JoeTice commented on #41221
Deprioritized based on the use case that it belongs to

[2022-05-23 14:35] JoeTice commented on #41041
Thanks for the input Darius, I'll take this one and follow-up with people on more detail on this

[2022-05-23 14:37] #40405 closed

[2022-05-23 14:38] kjduensing commented on #41402
@jchapin @ericvoshall looks like the Login.gov changes have been deployed. We've tested it on our end and all looks well. Would you mind giving it a try and make sure it works from your end? Thanks!

[2022-05-23 14:38] pjhill commented on #15784
This is complete.

[2022-05-23 14:38] #15784 closed

[2022-05-23 14:39] andresriveratoro commented on #40157
@GnatalieH I know it looks a little weird, but that seems to be its name (textarea).

[Textarea element](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/textarea) on MDN

[2022-05-23 14:42] chancetheoriginal opened #41748 "VEText: Support Form Attachments Included in Email Notifications [TBD]"
## Description

Have VSA/ASA include submitted attachments in email notifications.

---

## Acceptance Criteria

- [x] Design and test implementation
- [x] Publish

[2022-05-23 14:44] chancetheoriginal opened #41749 "VEText: Support Form Attachments Included in Email Notifications [TBD]"
## Description

Have VSA/ASA include submitted attachments in email notifications.

## Acceptance Criteria

- [x] Design and test implementation
- [x] Publish

[2022-05-23 14:50] tpharrison opened #41750 "Devops- Auth Profile - Onsite Notifications - Add public key"
## Background

The auth experience team has created a new `onsite_notifications` controller in vets-api that will be called from the VA Notify team.

The VA Notify client will use their private key to digitally sign requests to the vets-api.  The VA Notify team has sent the auth experience team their public key which will be used to verify requests to the vets-api.

Basic steps:
1. VA Notify signs

[2022-05-23 14:54] zachclarity commented on #41750
This seems to be a new process.  We need to define a process and verify with any teams that may need to approve this new access point.

[2022-05-23 14:57] katherine-fung commented on #40484
@RLHecht - I've attached the education screenshots (#1 through #5). For SME Tammy Hurley

#1
![college credits.png](https://images.zenhubusercontent.com/627bd98be9182e080ddd515b/45eda921-c1ab-4b23-bc3d-3d09aa72cf9b)

#2
![education eligibility.png](https://images.zenhubusercontent.com/627bd98be9182e080ddd515b/b19204c1-8938-48c3-bb96-0e7510713ff1)

#3
![GI bill benefits.png](https://images.zenhubus

[2022-05-23 14:58] MarciMcGuire commented on #40731
@michelle-dooley thank you!  I was on vacation last week but I have updated the missing info.

[2022-05-23 14:59] #41088 closed

[2022-05-23 15:00] adamwhitlock1 commented on #41426
This typo has been fixed and can now be validated in staging

[2022-05-23 15:03] #41467 closed

[2022-05-23 15:12] BevCaddy opened #41751 "Platform Orientation Template [robert berry]"
## Welcome and Introduction
Welcome to the Veteran's Administration (VA) Veteran Facing Services (VFS) team!
As a new VFS team member, you will be working in the web ecosystem we call the VA.gov Platform (or "**The Platform,**" for short).  The tasks on this list are designed to get you up to speed on the role of Platform, making it easier for you to do your job.

Because the VA is a huge organiza

[2022-05-23 15:15] bethpottsVADEPO commented on #41338
@CherylEvans I believe Alex is saying that they will address my feedback that applies to all the education forms in a future ticket and cc review, not as a part of the work on these new DEA/Fry screens. So, in your content QA step, you'd focus only on the new screens that have to do with marriage/remarriage.

@alexander-ferzola did I get that right?

[2022-05-23 15:16] hdjustice opened #41752 "Analytics KPI dashboard update request for 10-10 Team"
# Request an update to your KPI Dashboard

## What this form is for

Use this ticket template to request an update to your existing KPI dashboard. To request a new product be added to our dashboards, please use [Request a New Standardized KPI Dashboard template](https://github.com/department-of-veterans-affairs/va.gov-team/issues/new?assignees=joanneesteban&labels=analytics-insights%2C+analytics-r

[2022-05-23 15:22] MarciMcGuire opened #41753 "Collaboration Cycle - MHV to VA.gov - Secure Messaging"
## Steps to complete the Collaboration Cycle Kickoff

**VFS Product Manager**

- [x] Create this issue and notify the Collaboration Cycle team of this ticket in the in #vfs-platform-support ([see Slack Workflow (User guide](https://depo-platform-documentation.scrollhelp.site/support/Getting-help-from-the-Platform-in-Slack.1439138197.html)).
- [x] Answer the questions below and attach any artifacts

[2022-05-23 15:23] hdjustice commented on #41752
When looking at the current funnel and the actual pages, I noticed some pages were missing or out of order.  The completed spreadsheet linked in this ticket has the correct list of pages in proper order.
I am wondering how we will be able to tell the difference between people who complete the long form and those who complete the short form (essentially skipping pages).

[2022-05-23 15:26] #41637 closed

[2022-05-23 15:29] Samara-Strauss commented on #41750
Thanks, @tpharrison! Assuming this *is* the ticket, and that another one does not need to be created...?

Also, have you discussed timeline with them? I'm assuming this needs to be done before we QA, but let me know if that is not the case. If it does, we need to make sure that timeline is clear to the devops team.

[2022-05-23 15:29] pjhill commented on #41297
Looks like we answered all the questions we still had -- thanks for closing this out!

[2022-05-23 15:29] #41297 closed

[2022-05-23 15:36] SKasimow commented on #41426
@adamwhitlock1 - confirmed as corrected. Thank you!

[2022-05-23 15:38] tpharrison commented on #41268
This [ticket](https://github.com/department-of-veterans-affairs/va.gov-team/issues/41750) was opened and assigned to devops for configuring the public key.

[2022-05-23 15:43] zachclarity opened #41754 "Benefits Gateway Service Documentation on Developers ScrollHelp.site Missing"
# Description
The following [documentation for Benefits Gateway Service](https://depo-platform-documentation.scrollhelp.site/developer-docs/Benefits-Gateway-Service.1887272987.html) is missing on the developer documentation scrollhelp.site.

# Tasks
- [  ] We need to restore or add the updated information on the the developer   developer documentation scrollhelp.site.

# Acceptance Criteria

- [

[2022-05-23 15:44] kanchanasuriya commented on #40552
@oseasmoran73 Used devops as the repository for running the script & passed in `40651_check-in_load_test_scripts` branch  in the workflow

[2022-05-23 15:47] MarciMcGuire commented on #41753
I believe they were hoping to schedule design intent this week.

[2022-05-23 15:48] shiragoodman commented on #41753
ok, no worries. I'll respond to this shortly.

[2022-05-23 15:49] briandeconinck opened #41755 "Accessibility Feedback - Midpoint Review - My Education Benefits, Authenticated 22-5490 Form (Fry/DEA) Updates"
## VFS acceptance criteria
- [ ] Let Platform know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
-

## Feedback
- **Must** = the feedback must be applied
- **Should** = the feedback is best practice
- **Consider** = suggestions/enhancements

**Must:**
- In the "Need help?" sect

[2022-05-23 15:55] Dene-human opened #41756 "10-10EZ update preferred contact with more encouraging language"

[2022-05-23 15:57] shiragoodman commented on #35525
re-opening to ensure the Platform Checklist is completed.

[2022-05-23 16:03] #41343 closed

[2022-05-23 16:05] #41641 closed

[2022-05-23 16:14] zach-park commented on #41139
LGTM. Thank you!!

[2022-05-23 16:16] oseasmoran73 commented on #40552
I took a look at the branch and it was difficult to see what was being tested as it is out of sync with master.

What you can do for now is create a `requirement.txt` folder at the root level and test for now.

See [demo](https://github.com/department-of-veterans-affairs/devops/compare/master...demo/gha/performance-load-testing) branch I created

[2022-05-23 16:22] jaredcunha opened #41757 "Platform Orientation Template: Jared Cunha"
## Welcome and Introduction
Welcome to the Veteran's Administration (VA) Veteran Facing Services (VFS) team!
As a new VFS team member, you will be working in the web ecosystem we call the VA.gov Platform (or "**The Platform,**" for short).  The tasks on this list are designed to get you up to speed on the role of Platform, making it easier for you to do your job.

Because the VA is a huge organiza

[2022-05-23 16:25] allison0034 commented on #41209
@claytonzook see above please and thank you!

[2022-05-23 16:30] katherine-fung commented on #40484
@RLHecht I'm attaching the screenshot for housing loans eligibility page. SME Raleigh

![home loans eligibility.png](https://images.zenhubusercontent.com/627bd98be9182e080ddd515b/90fe1793-c591-49e0-b354-9c335a9baae4)

[2022-05-23 16:31] tpharrison commented on #41750
@Samara-Strauss - this ticket, along with [#41268](https://github.com/department-of-veterans-affairs/va.gov-team/issues/41268) will need to be completed before QA can begin.

I spoke with @zachclarity and we're going to go with option 2 for now (see above).  This option doesn't require devops to add any additional files to staging so I should be able to finish both tickets by EOD tomorrow.  If dev

[2022-05-23 16:32] katherine-fung commented on #40484
@RLHecht I'm attaching 2 screenshots for the DIC rates page (we need to ask about 2 different sections of the same page)

SME: Angie Smith

#1
![survivor dic rates.png](https://images.zenhubusercontent.com/627bd98be9182e080ddd515b/b3ea04df-ada1-4fe9-a1cd-2365a53a1a28)

#2
![survivor dic rates 2.png](https://images.zenhubusercontent.com/627bd98be9182e080ddd515b/c357f33b-4ae1-47f8-9588-928756aaad6e)

[2022-05-23 16:32] jhouse-solvd commented on #23513
**Notes from call w/ DOTS & DataDog personnel on May 19, 2022:**

[2022-05-19: Meeting w/ DOTS and DataDog personnel](https://vfs.atlassian.net/wiki/spaces/OT/pages/2204041225/2022-05-19+Meeting+w+DOTS+and+DataDog+personnel)

**TL;DR**

- The Platform needs to fully **transition to the new GovCloud account no later than June 30,** 2022
- It is recommended that there be **one organization for Platf

[2022-05-23 16:32] joshkimux commented on #41447
# Screenshots of issues

![add file describedby](https://user-images.githubusercontent.com/14154792/169866025-f86d87a3-452f-4dae-a5bb-d239cae19268.PNG)

https://user-images.githubusercontent.com/14154792/169866027-071705dc-9c6d-4251-ac72-2f14971e06f5.MP4

https://user-images.githubusercontent.com/14154792/169866030-dc29741a-613d-41ea-95af-b4e92746f64f.MP4

https://user-images.githubusercontent.com

[2022-05-23 16:35] jaredcunha commented on #41757
Hopefully this is the right path, but I've noticed that I'm not able to assign myself tickets or move tickets across the board on `va.gov-team`. I also do not have access to the `va.gov-team-sensitive`, so I cannot sign in as a test user.

[2022-05-23 16:38] alexander-ferzola commented on #41090
Hi @claytonzook, I'm not able to link everything - but here is an overview of our initial round of research. We use these findings as our guiding principles for all of our My Education Benefits efforts (application forms to be updated and future features).

[Va.gov Research Report Request.pdf](https://github.com/department-of-veterans-affairs/va.gov-team/files/8756496/Va.gov.Research.Report.Reques

[2022-05-23 16:40] alexander-ferzola commented on #41338
This is what we had in mind! We've documented all of your feedback that applies universally across all the education application forms and will look to address those issues in a separate update. We'll respond and close this ticket at that point, as well.

[2022-05-23 16:44] ewilson-adhoc commented on #40248
Closing wontfix -- will address this problem as part of https://app.zenhub.com/workspaces/integration-experience---platform-spike-team-61f18a64735e8e0015911cf7/issues/department-of-veterans-affairs/va.gov-team/41509

[2022-05-23 16:44] #40248 closed

[2022-05-23 16:48] oseasmoran73 commented on #41293
CPU & Memory differ from how it is in BRD.

In EKS, it is handled per cluster. We have a dashboard for it in [Kubernetes Nodes Overview](https://app.datadoghq.com/screen/integration/30340/kubernetes-nodes-overview?tpl_var_cluster=dsva-vagov-dev-cluster&from_ts=1653323982749&to_ts=1653324282749&live=true). Do we want to have `Nodes Overview` dashboard?

@ph-One @jhouse-solvd

[2022-05-23 16:48] jtmst commented on #41747
@iriteshp  it appears I am on the VFS roster, under Josh Mills.  my email is [jmills@kindsys.us](mailto:jmills@kindsys.us)

[2022-05-23 16:50] kanchanasuriya commented on #40552
We tried that as well @oseasmoran73.  Created requirement.txt in [check_in/](https://github.com/department-of-veterans-affairs/devops/tree/40651_check-in_load_test_scripts/loadtest/check_in) with `locust.py` in [check_in/check_in](https://github.com/department-of-veterans-affairs/devops/tree/40651_check-in_load_test_scripts/loadtest/check_in/check-in).  Workflow continues to fail looking `requirme

[2022-05-23 16:51] ewilson-adhoc commented on #40468
@lhelmer do you have objections to us converting this into an epic which will cover the backend work that we need to go for this integration?

[2022-05-23 16:51] iriteshp commented on #41747
@jtmst is in the VFS roster.

[2022-05-23 16:52] brianseek commented on #40586
@zach-park here is the latest update with the line break:
![localhost_3001_health-care_appointment-pre-check-in__id=354d5b3a-b7b7-4e5c-99e4-8d563f15c521 (7).png](https://images.zenhubusercontent.com/61523b5b9d354750f04823db/407159ac-27c9-4693-81ee-8fe27b55099a)

[2022-05-23 16:53] oseasmoran73 commented on #40552
You created in `devops/check_in/requirements.txt` rather than `/devops/requirements.txt`. Add it to the root folder.

Most likely, we will need to have a way to identify where `requirements.txt` lives. Give it a whirl and see if that works.

[2022-05-23 16:54] little-oddball commented on #41728
#41719 Duplicate of

[2022-05-23 16:54] #41728 closed

[2022-05-23 16:55] RLHecht commented on #40829
These changes were published today. I sent out the translation and will track that work in a new ticket. Closing this ticket.

[2022-05-23 16:55] #40829 closed

[2022-05-23 16:56] tlei123 commented on #41426
Validated on Staging.

[2022-05-23 16:57] ewilson-adhoc opened #41758 "[spike] Research and prototype sidecar authentication"
## User Story

_As a microservices developer I would like a reusable component that I can use for authentication._

## Expected Behavior

_Sidecar seems like a good option to encapsulate authentication and authorization, it provides the advantages of moving authN/Z to the forward poxy without needing to involve the load balancer we want to examine the feasibility of this approach and make recommen

[2022-05-23 17:00] zachclarity commented on #38620
Add details to [Deployment policies](https://vfs.atlassian.net/wiki/spaces/PWD/pages/1279787009/Deployment+Policies)

[2022-05-23 17:02] zachclarity commented on #38620
Created [new OOB Deploy Request Template](https://github.com/department-of-veterans-affairs/va.gov-team/issues/new?assignees=&labels=platform-sre%2C+operations%2C+Console-Services%2Cfrontend&template=OOB-Deploy-Request.md&title=OOB+Deploy+Request).

[2022-05-23 17:03] zach-park commented on #40585
LGTM. Thank you!! :)

[2022-05-23 17:03] #40585 closed

[2022-05-23 17:04] allison0034 opened #41759 "Design - Midpoint Review [My Education Benefits, Authenticated 22-5490 Form (Fry/DEA) Updates]"
## VFS acceptance criteria
- [ ] Let Platform know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
-

## Feedback
- **Must** = the feedback must be applied
- **Should** = the feedback is best practice
- **Consider** = suggestions/enhancements

**Must:**

**Should:**

**Consider:*

[2022-05-23 17:04] iriteshp commented on #41747
SOCKS access granted. Please continue with [the guide](https://depo-platform-documentation.scrollhelp.site/getting-started/Internal-tools-access-via-SOCKS-proxy.1821081710.html) to establish a connection to SOCKS proxy. If you run into any issues, please feel free to reach out in the [#vfs-platform-support](https://dsva.slack.com/archives/CBU0KDSB1) channel using the [support request workflow](htt

[2022-05-23 17:04] #41747 closed

[2022-05-23 17:04] RLHecht opened #41760 "Translation work for newest COVID FAQs updates (health facility protection levels)"
## Issue Description
We recently made changes to the [COVID FAQs](https://www.va.gov/coronavirus-veteran-frequently-asked-questions/) page to include information about health facility protection levels. This was done in ticket #40829. Danielle also reworked the page to remove some questions, add to other questions and move the content around.

We need to update our translated pages with this same

[2022-05-23 17:05] #38616 closed

[2022-05-23 17:05] #41139 closed

[2022-05-23 17:06] zachclarity commented on #38620
TODO: Update public Developer Document with OOB info.

[2022-05-23 17:06] chaseakirby commented on #41753
Hi @MarciMcGuire. Thanks for completing this Collaboration Cycle Kickoff ticket! Based on your responses, your project is a new tool and/or application.

So we are recommending the following Collaboration Cycle touchpoints:
[Design intent](https://depo-platform-documentation.scrollhelp.site/collaboration-cycle/Design-intent.1782153235.html)
[Sitewide Content and IA intake request](https://depo-pla

[2022-05-23 17:07] little-oddball commented on #38620
We additionally notified TLs in the TL channel.

[2022-05-23 17:08] #41733 closed

[2022-05-23 17:08] GnatalieH commented on #40157
Closing issue as all tasks have been completed.

[2022-05-23 17:08] #40157 closed

[2022-05-23 17:13] little-oddball commented on #38620
The developer manual request page updates are in-flight waiting on auto deploy, which should occur Wednesday.

[2022-05-23 17:18] kristenmcconnell commented on #41681
I can confirm that this wording was sent as part of the Phase 2 translations.

[2022-05-23 17:21] djfredvs commented on #41008
5/25/22 1 PM Pre-Checkin VEText Configuration - VISN 22 has no dependencies

[2022-05-23 17:27] aliyahblackmore commented on #41185
Hi @mnorthuis! The new meta title tag is longer than the character limit. Could you provide us with a new title tag that that fits the character limit? Right now it's over by 6 characters.  Also noting that we will wait for this change before moving forward with the breadcrumb update (cc: @RLHecht)

[2022-05-23 17:37] lihanli commented on #41359
# Pros and cons of Mulesoft

### Pros
We don't have to build and maintain the feature ourselves

### Cons
Reduced visibility into errors that happen
Increased latency
Reliant on another team to fix issues that occur
Using a middleware API introduces a new system that can cause bugs and security problems

### Previous experience with middleware APIs

I previously worked on another team that used th

[2022-05-23 17:42] SarahKay8 commented on #34739
@chaseakirby All label data is present. Ticket ready for review

[2022-05-23 17:44] jacobworrell opened #41761 "[Product] CST Product Outline revised and validated"
## Value Statement
**_As a_** product manager and cross-functional team member
**_I want to_** have a clear summary of all current, relevant problem assumptions, strategies, objectives, risks, and success measures for the CST
**_So that_** the whole team understands the product strategy.

---
## Background Context
Current version of Product Brief was written forever ago and needs to be revised bas

[2022-05-23 17:46] CBonade commented on #41685
All set here! All dashboard data sets have been rerun and are showing no more errors.

[2022-05-23 17:46] claytonzook commented on #41209
@allison0034 I did see a couple minor things I had questions with:

- DI ticket - Fix link in Design artifacts - "Whiteboard sketch or other lo-fi prototypes or wireframes"
I don't see any link on the core ticket at that spot now.

- [How to provide Feedback documentation](https://vfs.atlassian.net/wiki/spaces/PPST/pages/2169241701) - If you have feedback - the "Collaboration Cycle Feedback" Githu

[2022-05-23 17:51] chaseakirby commented on #34739
@SarahKay8 Thanks Sarah! Is this the same link, https://va-gov.domo.com/page/366499128, as before or did you have to create a new card with a new link?
The existing link shows only the 686 and Caregivers data still.

[2022-05-23 17:52] loripusey commented on #41681
Thanks @kristenmcconnell , I'm going to leave the bug to make sure it gets resolved when we get the round 2 translations back.

[2022-05-23 17:52] sortizsh opened #41762 "Platform Orientation Template [Sarah Shields]"
## Welcome and Introduction
Welcome to the Veteran's Administration (VA) Veteran Facing Services (VFS) team!
As a new VFS team member, you will be working in the web ecosystem we call the VA.gov Platform (or "**The Platform,**" for short).  The tasks on this list are designed to get you up to speed on the role of Platform, making it easier for you to do your job.

Because the VA is a huge organiza

[2022-05-23 17:54] allison0034 commented on #41209
@claytonzook thank you!

- There are no links on platform website so since we agreed to just keep what we currently have, I removed all links
- Not sure I understand... here is what I have:

If you have feedback

- Create a new “Collaboration Cycle Feedback” GitHub  ticket and link to the Collaboration Cycle ticket.
- Open the Collaboration Cycle ticket.
- Check the box that says , “[name of your

[2022-05-23 17:55] allison0034 commented on #41209
I did add an extra step...

If you have feedback

- Create a new “Collaboration Cycle Feedback” GitHub  ticket and link to the Collaboration Cycle ticket.

- Add your feedback.

- Open the Collaboration Cycle ticket.

- Check the box that says , “[name of your practice area] has completed the review.”

[2022-05-23 17:58] claytonzook commented on #41209
That "add your feedback step" might need to be 3rd, after you open the ticket

[2022-05-23 18:00] allison0034 commented on #41209
@claytonzook I am not changing that template, I believe Jim was : )

You would want to create a new feedback ticket, then add you feedback, then go to the core ticket and check your box.

[2022-05-23 18:06] #41642 closed

[2022-05-23 18:11] kanchanasuriya commented on #40552
No luck @oseasmoran73 .  Pushed `requirements.txt` in [root/](https://github.com/department-of-veterans-affairs/devops/tree/40651_check-in_load_test_scripts). Still workflow fails in `Install dependencies` step with `ERROR: Could not open requirements file:`

[2022-05-23 18:12] #40192 closed

[2022-05-23 18:13] bethpottsVADEPO commented on #41338
Sounds good, @alexander-ferzola -- so there's no ticket yet for that future work?

[2022-05-23 18:17] Dene-human opened #41763 "Update 10-10EZ review page disability section with labels that reflect the user choice"
## User story
As a Veteran I want to be able to see my disability selection reflected on the review page.

## Problem
Currently the review page displays disability as low/high disability (see screenshot)

![review disability .png](https://images.zenhubusercontent.com/605c95113f60cac14b50309b/2b82ef3b-3068-4f6c-8b75-42a01b91b4fa)

## Solution
Labels should read:

- Yes (40% or lower rating)
- Yes (

[2022-05-23 18:19] jonathan-epstein13 commented on #41724
Doesn't have google analytics or domo access.

[2022-05-23 18:20] #41723 closed

[2022-05-23 18:25] SarahKay8 commented on #34739
@chaseakirby Here you are! https://va-gov.domo.com/page/366499128?userId=523054097

[2022-05-23 18:27] oseasmoran73 commented on #40552
@kanchanasuriya Can you sync your branch with the latest master so I can look at the files committed only? I will give it a try on my end once that is done

[2022-05-23 18:32] jonathan-epstein13 commented on #41745
GA, Domo and, BQ access has been granted.

[2022-05-23 18:38] benbrasso-agile6 commented on #40597
@loripusey I updated the [pre check in file product guides in git](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/checkin/product/product-guides/README.md). I don't see that check-in guides require updates based on the [release notes](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/checkin/release-plan/d

[2022-05-23 18:45] kanchanasuriya commented on #40552
Rebased with master and pushed the changes to `40651_check-in_load_test_scripts` branch.  GitHub action still fails with `ERROR: Could not open requirements file:`

[2022-05-23 18:46] djfredvs opened #41764 "6/25/2022 1 PM Pre-Checkin VEText Configuration"
In anticipation of the VISN 23 PCI tool roll out. I am setting up time to walk through the Pre-Checkin configuration process with VEText admins for each site in VISN 23.

[2022-05-23 18:48] bramleyjl opened #41765 "Set ForceAuthn = true"
https://dsva.slack.com/archives/CSFV4QTKN/p1652899696674049

https://dsva.slack.com/archives/C019S3NSSAD/p1653321221936679

[2022-05-23 18:55] oseasmoran73 commented on #40552
I got your branch working, so I presume there is a misalignment on what was being entered vs what we have documented. I will be sure to update our document

Here is a [workflow](https://github.com/department-of-veterans-affairs/devops/actions/runs/2373296901) that installs dependency. It doesn't quite succeed as it looks like its trying to get something from python2

![image](https://user-images.g

[2022-05-23 18:56] it-harrison commented on #41208
[PR](https://github.com/department-of-veterans-affairs/vets-website/pull/21093) for custom ESLint rule

[2022-05-23 18:56] #40338 closed

[2022-05-23 18:59] kanchanasuriya commented on #40552
Glad to see it moved forward @oseasmoran73.  Now it fails with one of the dependency package installation,

[code]

[2022-05-23 19:03] kanchanasuriya commented on #41113
The staging environment has issues in initiating check-in for the appointment ([Slack thread](https://dsva.slack.com/archives/C02G6AB3ZRS/p1653328271135279))

Currently blocked in verifying the changes against CHIP staging environment

[2022-05-23 19:04] markfallows opened #41766 "10-10EZ: Research Form Email vs. Profile Email"
How can we track when a user puts an email into the 10-10EZ form **that is different** from the email address already associated to their profile?

[2022-05-23 19:06] #40340 closed

[2022-05-23 19:23] jhouse-solvd commented on #40838
This issue can be closed.

[2022-05-23 19:23] #40838 closed

[2022-05-23 19:26] starlow00 commented on #41073
@loripusey Do you have another way of sharing the video? The link to it in this form is a 404.

[2022-05-23 19:31] batemapf commented on #41359
thanks @lihanli, this is excellent.

i'd like to connect with the CARMA folks and make an offer to handle retries per your recommendation. do you think we should go to them with a description of what kind of retry capability already exists in vets-api, or ask them for a set of requirements (e.g., do retries in this pattern for this long, then do this) and maybe do some customization on our end?

[2022-05-23 19:31] benbrasso-agile6 commented on #40597
Pre check in product guide with comments for contact center team:

[Pre Check In Product Guide](https://app.zenhub.com/files/133843125/f36c3236-a99c-4179-a1e9-72c06ff7ce65/download)

Note: This version was NOT posted to git because it has comments in it.

@loripusey

[2022-05-23 19:41] oseasmoran73 commented on #40552
Was chatting with @kanchanasuriya on the side trying to debug. Asked her to add `setup.py` prior to executing `subprocess32` and had no success. Will investigate from our side and most likely need to upgrade pip3 prior to install dependencies

[2022-05-23 19:52] michelle-dooley opened #41767 "[Ongoing Service] Support VFS teams with their analytics needs - Q2"
## User Story
As a VFS team member, I need the following support from the Platform Analytics & Insights team:

- Access to analytics tools (GA & Domo)
- Standardized Domo Dashboards
- Google Tag Manager implementations
- New feature requests
- Answer ongoing data and reporting questions and triaging

As a Platform Analytics & Insights team member, I need to provide analytics support to VFS teams t

[2022-05-23 19:54] lihanli commented on #41359
@batemapf I'm not sure who's in charge of the business logic requirements for this feature. If they already figured out the requirements we could take them and implement them, otherwise we would have to figure out the requirements ourselves, maybe by copying the way the 1010ez is doing it and making adjustments as necessary.

[2022-05-23 19:56] Mottie commented on #41733
Well, re-enabling these tests apparently broke the production build - see https://github.com/department-of-veterans-affairs/vets-website/pull/21156... they pass in CI. Also, the burials keyboard-only e2e test is working without any problems.

[2022-05-23 19:56] megzehn commented on #41385
Change looks good. I reviewed and published. @RLHecht this is ready for you to close out.

[2022-05-23 20:00] andaleliz commented on #41528
@Samara-Strauss I shared the google doc with you via email, and left comments about what I've added. Note that the formatting is a little wonky, as the markdown > google doc transition isn't super smooth. I'll make sure all the heading levels are correct + formatting matches what we have now when we move it back into google docs.  I look forward to your feedback!

[2022-05-23 20:00] michelpmcdonald commented on #38842
Jared Cunha is current working this issue.  He is having some kind of github  permission issue that is preventing assigning this issue to him

[2022-05-23 20:01] Mottie opened #41768 "HLR: Add keyboard-only e2e tests"
## Description

To improve accessibility, we need to add keyboard-only navigation of the Higher-Level Review app end-to-end testing.

## Tasks

- [ ] Add keyboard-only e2e tests on happy path

## Definition of done

- [ ] All tasks complete
- [ ] All tests passing

[2022-05-23 20:06] oseasmoran73 commented on #40964
Reached out to @ajmauricio and gave credentials along with instructions on how to get access. Please feel free to reopen/create new issue should you run into any issues

Thanks @iriteshp for the help!

Closing ticket.

[2022-05-23 20:07] RLHecht commented on #41185
@mnorthuis Yeah, Drupal isn't letting us add more than View Or Change Dependents On Your VA Disability Ben | Veterans Affairs. It cuts off the last word. I don't think that was always the case.

[2022-05-23 20:08] pjhill opened #41769 "Store "DSLogon - Status" Datadog Monitors as Code in Terraform"
# Description
In order to support maintenance and recovery we need to store "DSLogon - Status" as code in Terraform.

# Acceptance Criteria
- [x] "DSLogon - Status" has been exported from Datadog as code
- [x] "DSLogon - Status" is stored in Terraform as code
- [x] Updates to "DSLogon - Status" are directed at Terraform code changes
- [x] "DSLogon - Status" change management uses GH and Terraform

[2022-05-23 20:08] pjhill opened #41770 "Store "VA.gov - login" Datadog Monitor as Code in Terraform"
# Description
In order to support maintenance and recovery we need to store "VA.gov - login" as code in Terraform.

# Acceptance Criteria
- [ ] "VA.gov - login" has been exported from Datadog as code
- [ ] "VA.gov - login" is stored in Terraform as code
- [ ] Updates to "VA.gov - login" are directed at Terraform code changes
- [ ] "VA.gov - login" change management uses GH and Terraform to integra

[2022-05-23 20:08] pjhill opened #41771 "Store "TUD - Status" Datadog Monitor as Code in Terraform"
# Description
In order to support maintenance and recovery we need to store "TUD - Status" as code in Terraform.

# Acceptance Criteria
- [x] "TUD - Status" has been exported from Datadog as code
- [x] "TUD - Status" is stored in Terraform as code
- [x] Updates to "TUD - Status" are directed at Terraform code changes
- [ ] "TUD - Status" change management uses GH and Terraform to integrate changes

[2022-05-23 20:09] Samara-Strauss commented on #41528
Great! I'll check it out. And no worries about the formatting. I totally get that things don't play nice transitioning from Github to Google Docs.

[2022-05-23 20:09] pjhill opened #41772 "Store "VA.gov - Homepage interaction - Sign in Modal" Datadog Monitor as Code in Terraform"

[2022-05-23 20:13] #41272 closed

[2022-05-23 20:17] michelle-dooley commented on #41762
@sortizsh - please complete the "Share your info with Platform" section so we can get you added to the roster.

[2022-05-23 20:17] jerekshoe opened #41773 "Use primary action link on 526 form"
## Value Statement
**_As a_ frontend developer**
**_I want to_ update the 526 Introduction page to use a primary action link instead of the current button**
**_So that_ we are following the latest guidelines from the design system team and ensuring that the veterans using this form are getting the best experience we can provide**

---
## Background Context
- The current accepted pattern for presen

[2022-05-23 20:20] michelle-dooley commented on #41751
@BevCaddy - please complete the "Share your info with Platform" section so we can get you added to the roster.

[2022-05-23 20:22] megzehn commented on #39485
Thanks @aliyahblackmore!  Looks good. Just published.

@RLHecht, could you create a ticket for the next update?

[2022-05-23 20:30] zach-park commented on #40586
LGTM. Thank you!!

[2022-05-23 20:31] mrblanco1 commented on #41701
Hello! Can we get an update on this request please?

Thanks!

[2022-05-23 20:31] #40586 closed

[2022-05-23 20:32] Samara-Strauss commented on #41528
This looks great! I made a few comments and suggestions, but I think this is great.

[2022-05-23 20:32] pjhill opened #41774 "Create a Cypress Failure Playbook"
# Description
Cypress test specs sometimes fail. Sometimes they fail due to a tool implementation issue, and sometimes they fail for legitimate reasons. Platform should provide a playbook for VFS teams to follow in order to take the proper actions for the best outcomes.

Additionally, we need to create a document for Platform that discusses how to deal with VFS teams creating support requests for

[2022-05-23 20:33] BevCaddy commented on #41751
I accidently created this new issue  ( #41751 ) this morning. I have already created an issue ( #41651 ), last week, to complete the Platform Orientation Template. So, would you please close issue #41751. I am sorry for any inconvience this may cause.

[2022-05-23 20:33] #41751 closed

[2022-05-23 20:33] iriteshp commented on #41701
@PJart is in the VFS Team roster.

[2022-05-23 20:34] jhouse-solvd commented on #41123
As a follow-up, we are proposing to investigate this issue during the next sprint: May 26 - Jun 7.

We will communicate that plan with @mchelen and let you know if anything changes.

[2022-05-23 20:34] iriteshp commented on #41701
For AWS Access
User: Patrick Arthur
COR: Other
VOR: Alexa Elliot
Approval needed: @department-of-veterans-affairs/operations-aws-approvers
Admin level: no
Approvers will check with your VOR on your EQIP status.

[2022-05-23 20:36] pjhill commented on #39189
This ticket is OBE at this point.

[2022-05-23 20:36] #39189 closed

[2022-05-23 20:38] jbritt1 commented on #41701
@td-usds, this is a request for production ssm access like we have loaned out in the past. Do you approve?

[2022-05-23 20:45] jcklpe opened #41775 "SOCKS access for Aslan French"
### Your Name

David Aslan French

### Your Email

aslan.french@civicactions.com

### Your Role and Team

Product Designer

### Product Manager (PM) name and email

Wesley Rowe: wesley.rowe@agile6.com

### Product Owner (PO) name and email

Dave Conlon: david.conlon@va.gov

### Public SSH Key

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDM8aBBwbRwATcjnqzTvfQP2gCdj/kX+nVurxptaPw3v89uNwxBtnxnv7ocuYNQFHPHA

[2022-05-23 20:45] jcklpe commented on #41775
I think label is PTEMS but I could be wrong on that.

[2022-05-23 20:47] theodur commented on #41657
A test plan for `vagov-content` was added to the original test plan [spreadsheet](https://docs.google.com/spreadsheets/d/16WLud7d3n-npOzmTEE2nrCZDERLckvAIbC6jjH6WO9k/edit?usp=sharing)

[2022-05-23 20:55] iriteshp commented on #41775
I was unable to locate in VFS Team Roster (also checked Platform Roster just in case), please reach out to your team leadership about starting [platform orientation](https://depo-platform-documentation.scrollhelp.site/getting-started/Platform-Orientation.1877344532.html) so that you can be added to the necessary roster. This is blocking and we are unable to process this request until the requestin

[2022-05-23 20:58] ph-One commented on #41701
@PJart It looks like this is a reoccurring request. In the future, can you please note that in the ticket (and even link to previous requests.) It will help speed things up for all parties. Not every team/individual has that context. Thanks

Previous requests:
https://github.com/department-of-veterans-affairs/va.gov-team/issues/37086
https://github.com/department-of-veterans-affairs/va.gov-team/is

[2022-05-23 21:02] ddzz opened #41776 "QA Feedback - Staging Review - Auth-Profile - Personal Info Revision"
## VFS acceptance criteria
- [ ] Let Platform know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

Feedback for https://github.com/department-of-veterans-affairs/va.gov-team/issues/40404

**Comments:**
None

## Feedback
- **Must** = the feedback must be applied
- **Should** = the feedback is best prac

[2022-05-23 21:07] claytonzook commented on #41090
Thanks for these slides!
No feedback from research practice area.

[2022-05-23 21:10] RLHecht opened #41777 "Create alert for GI Bill Statement of Benefits page about tool not working correctly"
## Issue Description

Currently the Post-9/11 Gi Bill Statement of Benefits tool is showing some users the wrong information. We need to create an info alert to put on the [Statement of Benefits page](https://www.va.gov/education/gi-bill/post-9-11/ch-33-benefit/) to tell users that the tool isn't working.

When we add the info alert to the Drupal page, we also need to remove the react widget that

[2022-05-23 21:20] benbrasso-agile6 commented on #38570
Finished staff research report - https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/checkin/research/staff-facing/st-louis/pilot-feedback/research-findings.md

[2022-05-23 21:21] jhouse-solvd commented on #33208
@oseasmoran73 is adding a recurring reminder that requests teams to add agenda items

we will communicate that change once implemented

[2022-05-23 21:23] alwerner commented on #41515
Referred to Gabriel Olavarria by Beau Grantham.

[2022-05-23 21:26] tpharrison commented on #41750
@Samara-Strauss - onsite notifications security works a bit differently (still secure though). My PRs to add the public key to validate onsite notification requests were just reviewed and here is the comment...

Let me ask team and I will have an answer to you no later than tomorrow._

I don't think there will be any issues here...devops is just deciding the best way to store the public key.  I'll

[2022-05-23 21:26] oseasmoran73 commented on #33208
Notification will go out at 930AM M/W/F. See bot [reminder](https://dsva.slack.com/archives/CJYRZK2HH/p1653331471036179)

[2022-05-23 21:28] oseasmoran73 commented on #33208
@jhouse-solvd I am in favoring of closing this ticket, seeing if bot helps & iterating accordingly. Thoughts?

[2022-05-23 21:38] jilladams opened #41778 "Add Daniel Sasser to DSVA Slack"
# Description

Please add Daniel Sasser <daniel.sasser@agile6.com> as a full member to DSVA slack.
Daniel is a new Drupal Software Engineer, Sr on the Sitewide Public Websites team, starting on 5/26.

CC @cmaeng

[2022-05-23 22:07] cgednalske commented on #37845
This has been updated in Personal information ([Sketch files](https://www.sketch.com/s/ba254d92-3c3d-4eba-825d-d7f5bda35565)) and Contact information ([Sketch files](https://www.sketch.com/s/59857eb5-d9f9-4145-99d3-d9a1de2d0655))! @SKasimow do we need to set up a corresponding FE ticket?

[2022-05-23 22:09] CherylEvans commented on #40404
No Content FB, although I did have few questions.
I was reviewing the Content Artifacts > Use Cases w/Design links > Personal Information page > Preferred Name it says: "Share this information if you'd like us to use a first name that's different from your legal name when you come in to VA."  This sentence really is somewhat confusing to me.  It sounds as if the user is physically coming in to the

[2022-05-23 22:28] SKasimow commented on #37845
@cgednalske - yup, I will create one for this and ping you when I have it drafted

[2022-05-23 22:36] jcklpe commented on #41775
Thanks @iriteshp : I have signed up for platform orientations next week. Thanks!

[2022-05-23 22:40] SKasimow commented on #41776
Hi @ddzz - thanks for the review and feedback. Response are in-line:

This would require a code change from VA Profile; not sure if it would impact other form fields or the LOE but we can follow-up if we want to pursue.

- There is no way to remove a preferred name or gender identity after one is saved. Should there be an option to remove these?

This was also a limitation on the VA Profile API. "