[2022-10-21 02:20] joeniquette commented on #46528
Test ran yesterday showed 7 DSLogon users who are coming back as LOA1. Will send the report to IDme.

[2022-10-21 05:39] aarathi-poldass commented on #48313
This issue was addressed after pushing VAOS-Service 1.23.1 to staging environment. I was able to create a CC request by choosing both AM and PM on a preferred date and request is making it's way through to HSRM. Attached below is a screenshot for reference.
![image](https://user-images.githubusercontent.com/69315717/197120878-be8ca111-d9ae-4698-8515-b36eed0543bb.png)

[2022-10-21 11:50] mjones-oddball opened #48555 "Request access to Google Analytics and/or Domo"
# Request Google Analytics and/or Domo access

## What this form is for
Use this template to request access to Google Analytics and/or Domo. Please complete steps 1 & 2 below.

## 1. Access Requirements
Please check the analytics tool(s) you need access to:
- [x] Google Analytics
- [x] Domo
- [x] (Platform Teams only) BigQuery

## 2. User Email Address to Receive Access
**Due to privacy concerns,

[2022-10-21 12:42] rmessina1010 commented on #47586
**Conclusion:**

GH Codespaces is designed to create a pre prepared environment to deploy and test code. In essence, each codespace is like running a copy of VS Code in a custom configured VM in the cloud. Keeping this in mind, we can leverage this to generate Preview Instances; it’s just not as turnkey as other products and thus may be more challenging. for less technical users.  Also, codespaces

[2022-10-21 12:45] ldelacosta commented on #48313
Thanks! Whenever you have a chance, please close out the ticket @aarathi-poldass

[2022-10-21 13:07] ldelacosta opened #48556 "[Spike] Review FE logic for Type of Care page"
## Background/Request
The product team is looking for assistance from the development to research on how the code is built on the frontend for scheduling flow. We would like to improve the code base in the near future. After the spike ticket is complete, our team will evaluate the next steps to improve the code by comparing the business rules to the current behavior.

### Goal
To understand the be

[2022-10-21 13:10] ldelacosta opened #48557 "[Epic] Improve VAOS app code"
This is an internal epic for the VAOS FE team to do research and provide recommendations on how to improve the `vet-api `and `vets-website` code. Our goal is to provide technical analysis. When the research is complete, we will be document all our findings in the GitHub repo.

[2022-10-21 13:18] benbrasso-agile6 commented on #48356
@kellysmith1008 forgot... we'll also want to add Tagalog to the pre check in guide. But, we can wait until we have that up on staging to pull screenshots.

[2022-10-21 13:28] jaredcunha commented on #47904
These are some tests that we can safely remove. Most apply to handling video and audio files, which are not included in the designs. There is also a test we can remove that relates to multiple languages present on the page.:
- SC 1.2.1_A: Text alternative is provided for prerecorded audio or video files.
- SC 1.2.2_A Captions (Prerecorded)
- SC 1.2.4_A Captions (Live)
- SC 1.4.2_A Audio Control
-

[2022-10-21 13:50] jonathanjnelson opened #48558 "[DESIGN] MyHealth: Medical Records: Strategic brief (draft)"
## :star2: User Story
- As a designer, I want to create a brief (an artifact) that compiles research, technical considerations, and business requirements so there is a documented strategic/design vision moving forward.

## :star2: Related Documentation
- Link documents here; remember to update if they change.

## :star2: Description

Create a strategic brief (an artifact) that will help guide the

[2022-10-21 13:59] acaruso-oddball opened #48559 "Investigate "Refresh token is not defined" error"
https://vagov.ddog-gov.com/logs?query=signinservice%20signincontroller%20error%20deployment_env%3Avagov-prod%20%20-%22logout%22%20%22refresh%22%20%22Refresh%20token%20is%20not%20defined%22&cols=host%2Cservice&index=oct-01-oct-02-service-traefik-vets-api%2Cmain&messageDisplay=inline&stream_sort=service%2Cdesc&viz=stream&from_ts=1666195200000&to_ts=1666209600000&live=false

[2022-10-21 14:01] acaruso-oddball opened #48560 "Investigate "Anti CSRF token is not valid" error"
https://vagov.ddog-gov.com/logs?query=signinservice%20signincontroller%20error%20deployment_env%3Avagov-prod%20%20-%22logout%22%20%22refresh%22%20-%22Refresh%20token%20is%20not%20defined%22&cols=host%2Cservice&index=&messageDisplay=inline&stream_sort=service%2Cdesc&viz=stream&from_ts=1666195200000&to_ts=1666209600000&live=false

[2022-10-21 14:03] acaruso-oddball opened #48561 "Investigate “Attribute mismatch, ssn in credential does not match MPI attribute” error"
https://vagov.ddog-gov.com/logs?query=signinservice%20signincontroller%20error%20deployment_env%3Avagov-prod%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20-%22logout%22%20%22callback%22%20%E2%80%9CAttribute%20mismatch%2C%20ssn%20in%20credential%20does%20not%20match%20MPI%20attribute%E2%80%9D&cols=host%2Cservice&index=&messageDisplay=inline&stream_sort=service%2Cdesc&viz=stream&f

[2022-10-21 14:04] Kimberley2019 commented on #46500
Hey @joeniquette are you needing anything else from us at this time?  I sent you the most recent email with the details.

[2022-10-21 14:07] SKasimow commented on #47350
Thank you!

[2022-10-21 14:09] tpharrison commented on #48225
Spoke with Dan Ramunda from VA Profile.

He suggested I look at the Military Personnel Domain Data Dictionary on the VA Max Confluence site.

https://community.max.gov/display/VAExternal/VADIR+Master+Schema+Data+Dictionary

I have requested access and waiting to hear back.

[2022-10-21 14:11] acaruso-oddball opened #48562 "Investigate “Code in state is not valid” error"
https://vagov.ddog-gov.com/logs?query=signinservice%20signincontroller%20error%20deployment_env%3Avagov-prod%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20-%22logout%22%20%22callback%22%20%E2%80%9CCode%20in%20state%20is%20not%20valid%E2%80%9D&cols=host%2Cservice&index=&messageDisplay=inline&stream_sort=service%2Cdesc&viz=stream&from_ts=1666195200000&to_ts=1666209600000&live=fals

[2022-10-21 14:13] acaruso-oddball opened #48563 "Investigate “Code is not defined” error"
https://vagov.ddog-gov.com/logs?query=signinservice%20signincontroller%20error%20deployment_env%3Avagov-prod%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20-%22logout%22%20%22callback%22%20%E2%80%9CCode%20is%20not%20defined%E2%80%9D&cols=host%2Cservice&index=&messageDisplay=inline&stream_sort=service%2Cdesc&viz=stream&from_ts=1666195200000&to_ts=1666209600000&live=false

[2022-10-21 14:14] acaruso-oddball opened #48564 "Investigate “Unable to Authorize User” Error"
https://vagov.ddog-gov.com/logs?query=signinservice%20signincontroller%20error%20deployment_env%3Avagov-prod%20logout&cols=host%2Cservice&index=&messageDisplay=inline&stream_sort=service%2Casc&viz=stream&from_ts=1666195200000&to_ts=1666209600000&live=false

[2022-10-21 14:14] npeterson54 opened #48565 "Investigation: Keycloak UI Availability randomly spikes about once per day"
## Description
@td-usds is wondering why this is spiking every day and would like us to investigate
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ]  An explanation is given as to why the spikes happen

## How to configure this issue
- [ ] _Attach a Milestone_
- [ ] _Story points_
- [ ] _Sprint assigned if pulling into sprint_
- [ ] _Epic assign

[2022-10-21 14:17] SKasimow opened #48566 "Design | Profile | Audit Alerts for Consistency"
## Background

There were some variances noted recently in the Profile alerts that don't seem to match recent design and/or content guidance. For example, "please" is used in a few places, though this is something we've been asked to avoid. There are also a few different versions of similar instructions, such as "please try again later" and "please refresh this page or try again later" vs. "please

[2022-10-21 14:20] outerpress commented on #45582
Thank you @jenniemc , this is great!

One follow-up question regarding the error that shows when the API fetch for appointment slots fails (copied below):
* What does that error look like when requests are disabled?
* If it looks the same, what happens when you click the link to "submit a request for an appointment"?

[2022-10-21 14:22] jenniemc commented on #47660
The location where patient preferred date values should reside per Brad C.

[2022-10-21 14:24] #40762 closed

[2022-10-21 14:25] RLHecht opened #48567 "Adding Novavax booster content to 2 COVID pages"
## Issue Description

Now that Novavax has been approved for boosters in some cases we need to update content on the main [COVID-19 vaccines at VA](https://www.va.gov/health-care/covid-19-vaccine/) page and the [COVID-19 booster shots](https://www.va.gov/health-care/covid-19-vaccine/booster-shots-and-additional-doses/) page.

## Tasks
- [ ] Add new content to pages (Laura)
- [ ] Copyedit (Megan)
-

[2022-10-21 14:29] SKasimow commented on #40762
Congrats!

[2022-10-21 14:29] td-usds commented on #48565
@kylesoskin postulated that it's probably related to resource constraints in the dev cluster (that being said, I am seeing this in the utility cluster as well, e.g. https://dsva.slack.com/archives/C02GQ27HXQW/p1666053658128839, https://dsva.slack.com/archives/C02GQ27HXQW/p1665826196055489, ...)

[2022-10-21 14:34] laurwill commented on #48567
Hey @megzehn , these are ready for copyedit:
- Main vax page (updates in blue box only): http://preview-prod.vfs.va.gov/preview?nodeId=11463
- Booster page (updates in When to get your booster): http://preview-prod.vfs.va.gov/preview?nodeId=34054

[2022-10-21 14:55] zach-park commented on #48394
@zach-park

[2022-10-21 14:56] outerpress commented on #45130
All screens and logic captured in user flows [here](https://www.figma.com/file/xRs9s6QWoBPRhpdYCGc3cV/User-Flow?node-id=255%3A41180). Thanks @vbahinwillit and @Cieramaddox !

[2022-10-21 14:56] #45130 closed

[2022-10-21 14:59] loripusey commented on #47812
done

[2022-10-21 15:11] cbrizen opened #48568 "Adding [Daniel Scarbrough] to DSVA Slack"
# Description

**new user requests**: please verify that the user does not already exist in dsva.slack.com (it may be the account exists, but is not in a particular channel)

Please add Daniel to DSVA Slack

Are you requesting to add an individual as a:

- Full member

Daniel was just onboarded to the Long COVID team as a data engineer and needs to be able to communicate with the team and stakehol

[2022-10-21 15:19] CamilleLewisTW opened #48569 "Offboarding of Camille Lewis"
# Instructions
Fill out name of individual and *Description* section below.

*(Please add only one individual per form)*

# Description
Please provide the following information about the individual being offboarded:
- name:

- team name:

- role on team:

- expected last day: _(MM/DD/YYYY)_

- company they work for:

- email: _(Multiple emails listed in order of relevance to VA business, VA, Compa

[2022-10-21 15:25] andaleliz commented on #47441
Thanks @mjones-oddball! Let me know what you learn and we can update the notification name if needed.

[2022-10-21 15:25] andaleliz commented on #47441
Thanks @mjones-oddball! Let me know what you learn and we can update the notification name if needed.

[2022-10-21 15:27] shiragoodman commented on #48024
@CherylEvans yes! Go for it. sorry for the delayed response.

[2022-10-21 15:31] andaleliz commented on #48396
I've updated the Sketch files as much as I can on this - now blocked until we get BVA approval on #47441

[2022-10-21 15:36] oseasmoran73 commented on #45364
[1:56](https://dsva.slack.com/archives/D0479606ZK8/p1666299399618599)
FYI, we’re planning on switching all our EVSS services to use Lighthouse but that probably won’t happen till next year

[2022-10-21 15:37] megzehn commented on #48567
Thanks, @laurwill! These are both copyedited.

[2022-10-21 15:45] CherylEvans commented on #48024
@shiragoodman Thank you!!

[2022-10-21 15:45] #48024 closed

[2022-10-21 15:46] rd-huerta opened #48570 "SOCKS access for Raina Huerta"
### Your Name

Raina Huerta

### Your Email

raina.huerta@thoughtworks.com

### Your Role and Team

Developer - Virtual Agent

### Product Manager (PM) name and email

Alina Murphy - amurphy@thoughtworks.com

### Product Owner (PO) name and email

Luciana Morais - luciana.morais@va.gov

### Access Type Requesting

developers

### Public SSH Key

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDMyf1TDyzfTozS

[2022-10-21 15:47] eunicegar commented on #48568
Sent.

[2022-10-21 15:47] #48568 closed

[2022-10-21 15:58] aliyahblackmore commented on #48119
Hi @megzehn (cc: @RLHecht) just confirming that I checked and the rate change is still updated (after the "linkies").

This is ready for 10/24!

[2022-10-21 16:16] jhouse-solvd commented on #41250
This can be closed.

[2022-10-21 16:17] #41250 closed

[2022-10-21 16:19] jhouse-solvd commented on #47251
All documentation is linked to "[VA.Gov Platform Manual [WIP]](https://vfs.atlassian.net/wiki/spaces/OT/pages/2354315287/VA.Gov+Platform+Manual+WIP)"

This issue can be closed.

[2022-10-21 16:19] #47251 closed

[2022-10-21 16:28] jhouse-solvd commented on #38890
All epics and issues have been completed. Documentation has been linked to this initiative, and to epics and issues within.

This initiative can be closed.

[2022-10-21 16:28] #38890 closed

[2022-10-21 16:31] jhouse-solvd commented on #22987
Please see #38890. Automated project setup now exists for platform crew teams. In this context, projects refer to the resources needed for teams to manage an application deployed to the platform using container orchestration.

This initiative can be closed. And, if needed, re-evaluated and re-created to address a specific audience and need.

[2022-10-21 16:31] #22987 closed

[2022-10-21 16:31] jhouse-solvd commented on #22986
Please see #38890.

Automated project setup now exists for platform crew teams. In this context, projects refer to the resources needed for teams to manage an application deployed to the platform using container orchestration.

This initiative can be closed. And, if needed, re-evaluated and re-created to address a specific audience and need.

[2022-10-21 16:31] #22986 closed

[2022-10-21 16:34] jhouse-solvd commented on #47630
Agreed on updating the link to "[Sentry tagging standards](https://depo-platform-documentation.scrollhelp.site/developer-docs/sentry-tagging-standards)" on the Platform Website.

And thank you for closing #47994 which appears to be a duplicate. :)

[2022-10-21 16:37] jhouse-solvd commented on #17349
@mchelen-gov - Hey Mike. This initiative never began. The Platform would need to evaluate if there is a need or use case for VFS teams to deploy applications to EKS, outside of the frontend website or Vets-API. Happy to discuss more!

[2022-10-21 16:38] laucon commented on #47630
@jhouse-solvd Great! I changed the "tagging standards" link. It will appear as a new link once I deploy it on Monday at 3:30-ish. I don't want to close this doc just in case there are any other links Mike would like to change.

[2022-10-21 16:41] jhouse-solvd commented on #47030
@kanchanasuriya - We'd like to perform discovery to better understand monitoring use cases for teams that are delivering veteran-facing services.

My recommendation would be to engage your product owner to discuss this w/ Platform product owners and leadership.

In the meantime, if can provide a sentence or two describing what you'd like to monitor, that may help us to better understand your need

[2022-10-21 16:46] markfallows opened #48571 "10-10CG: Translate instructions and form to Spanish and Tagalog"
### Description
The 10-10CG is currently only available online in English.  Several stakeholders have asked that we expand the number of available languages to include Spanish and Tagalog.  Doing these translations will open the form to additional Veterans, as well as make it simpler for some Veterans, or their support team, to apply for.

### Problems
- The 10-10CG is only available in English

#

[2022-10-21 16:48] markfallows opened #48572 "10-10CG: Translates instructions and form to Spanish"
The first phase of the 10-10CG translation will be to translate the form and instructions into Spanish.  This will be an ongoing effort with the Content and App team.

[2022-10-21 16:49] katherine-fung commented on #48336
Hi @laurwill! I updated this page per today's standup:

http://preview-prod.vfs.va.gov/preview?nodeId=946

[2022-10-21 16:50] jhouse-solvd commented on #35048
@mchelen-gov - This initiative never began. It was de-prioritized in favor of #35039.

However, we did begin putting together service documentation together in "[Platform Infrastructure Services](https://vfs.atlassian.net/wiki/spaces/OT/pages/2105016379/Platform+Infrastructure+Services)"

And, there was an issue template created that could be tested to see if it meets the needs of VFS teams:

"[In

[2022-10-21 16:52] jhouse-solvd commented on #45284
Thank you @dcloud for the excellent suggestions and documentation provided!

And thank you @taylojill and team for working to get this published! Team work :)

[2022-10-21 16:52] jhouse-solvd commented on #47630
Thank you @laucon ☺️

[2022-10-21 16:52] markfallows opened #48573 "10-10CG: Translate instructions and form to Tagalog"
The second phase of the 10-10CG translation will be to translate the form and instructions into Tagalog. This will be an ongoing effort with the Content and App team.

[2022-10-21 16:54] dmkosko opened #48574 "Request access to Google Analytics and/or Domo"
# Request Google Analytics and/or Domo access

## What this form is for
Use this template to request access to Google Analytics and/or Domo. Please complete steps 1 & 2 below.

## 1. Access Requirements
Please check the analytics tool(s) you need access to:
- [ ] Google Analytics
- [ X] Domo
- [ ] (Platform Teams only) BigQuery

## 2. User Email Address to Receive Access
**Due to privacy concerns,

[2022-10-21 16:56] #36097 closed

[2022-10-21 16:56] Cmjones233 commented on #48521
duplicate

[2022-10-21 16:56] #48521 closed

[2022-10-21 17:00] jhouse-solvd commented on #43743
All issues in this initiative have been addressed. This issue can be closed.

[2022-10-21 17:00] #43743 closed

[2022-10-21 17:01] jhouse-solvd commented on #43759
All issues in this initiative have been addressed. This issue can be closed.

[2022-10-21 17:01] #43759 closed

[2022-10-21 17:01] jsimonVA commented on #48280
@RLHecht The intent was to have this completed prior to next Tuesday (25 Oct 2022). However, I have let them know that I just made the request to have the content changed on the static sites and the URL redirected which will take up to two weeks.

So no, the changes do not have to be done this week. Next week would be perfect. Would you like me to send them your question(s) or will you reach out t

[2022-10-21 17:02] lindsay-insco commented on #45567
Sent response re: Cloud service provider to Privacy office

[2022-10-21 17:03] jhouse-solvd commented on #44013
There are a number of important open issues attached to this initiative that should be moved to another for tracking purposes.

I've added the platform-cop-devops label so that the DevOps Community of Practice can decide how to process remaining issues.

[2022-10-21 17:03] lindsay-insco commented on #41694
OBE

[2022-10-21 17:03] #41694 closed

[2022-10-21 17:04] Cmjones233 commented on #44202
obsolete due to data discrepancies

[2022-10-21 17:04] #44202 closed

[2022-10-21 17:05] Cmjones233 commented on #47969
new ticket created for this task

[2022-10-21 17:05] #47969 closed

[2022-10-21 17:05] lindsay-insco commented on #36672
OBE

[2022-10-21 17:05] #36672 closed

[2022-10-21 17:06] megzehn commented on #48119
@RLHecht I reviewed the rate change, and it looks good. This is ready for you to publish on Monday a.m.

Thank you so much!!

[2022-10-21 17:06] RLHecht commented on #48280
@jsimonVA That's great to hear about timing. We can email with the stakeholder. Is Cinda who you've been working with or is it someone else?

[2022-10-21 17:10] jhouse-solvd commented on #33325
@ph-One This may be interesting to tackle as part of #47025

Or, @npeterson54 as part of #46778

Let me know your thoughts?

[2022-10-21 17:12] jsimonVA commented on #48280
@RLHecht Cinda is the main person, I am not sure if Michael Napper would have any input on this as well but probably include him.

[2022-10-21 17:13] jhouse-solvd commented on #32454
This might be addressed as Vets-API migrates to EKS, and as performance issues are addressed.

Relevant issues
- #46779
- #46778

[2022-10-21 17:13] ahicksfearless opened #48575 "STOP Code Message Language"
- [x] Draft initial STOP all messages verbiage

- [x] Draft effective language to opt Veterans out of specific use case messages if they want to

[2022-10-21 17:13] megzehn commented on #48514
Thanks, @katherine-fung!

@RLHecht, I published the page with the updated link.

[2022-10-21 17:15] jhouse-solvd commented on #33977
This is a duplicate. See #46249 for a newer issue relating to this need.

[2022-10-21 17:15] #33977 closed

[2022-10-21 17:19] jhouse-solvd commented on #40317
Based on #46783, this may be irrelevant or be de-prioritized in favor of a new solution.

I suggest closing this issue if no longer needed. Adding the platform-cop-devops label so that the Platform DevOps Community of Practice can evaluate in the case that this is still desired.

[2022-10-21 17:22] jhouse-solvd commented on #43380
This is no longer relevant. Please consult the Platform DevOps Community of Practice for the allocation of DevOps engineering resources.

[2022-10-21 17:22] #43380 closed

[2022-10-21 17:22] jhouse-solvd commented on #44173
This might be interesting to evaluate as part of #47025

cc: @ph-One

[2022-10-21 17:24] jhouse-solvd commented on #44388
Adding platform-cop-devops so that the Platform DevOps Community of Practice can evaluate this need.

Also, thinking that the "[VA.Gov Platform Manual [WIP]](https://vfs.atlassian.net/wiki/spaces/OT/pages/2354315287/Platform+manual+WIP)" in Confluence might address this need.

cc: @ph-One

[2022-10-21 17:25] allison0034 opened #48576 "Midpoint Review - Design Feedback - Sitewide Homepage, VA.gov homepage redesign"
## VFS acceptance criteria
- [ ] Let Platform know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
-

## Feedback
- Practice areas will document their feedback following the [Must, Should, and Consider Framework](https://depo-platform-documentation.scrollhelp.site/collaboration-c

[2022-10-21 17:25] ldelacosta commented on #47730
Once #47660 is completed, please proceed with making the changes.

[2022-10-21 17:31] annekerr49 commented on #38446
@steel36 - Mike Chelen is requesting that these product boards be updated every month. If there is no change to the plan just make that note.

[2022-10-21 17:32] thehastingsp commented on #45873
closing this epic. [research folder is here](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/decision-reviews/Supplemental-Claims/Research/MVP%20Usability%20Research).

[2022-10-21 17:32] #45873 closed

[2022-10-21 17:33] jhouse-solvd commented on #35043
This should be evaluated in relation to #47025. _It's possible much of this will be covered by that initiative._

cc: @ph-One

[2022-10-21 17:33] jhouse-solvd commented on #35043
This should be evaluated in relation to #47025. _It's possible much of this will be covered by that initiative._

cc: @ph-One

[2022-10-21 17:33] #48313 closed

[2022-10-21 17:34] thehastingsp commented on #48160
added prototype to ticket

[2022-10-21 17:34] thehastingsp commented on #48159
Added prototype to ticket.

[2022-10-21 17:35] thehastingsp commented on #48156
Added prototype to ticket.

[2022-10-21 17:35] thehastingsp commented on #48142
Added prototype to ticket

[2022-10-21 17:35] bramleyjl commented on #46092
SAML request signing is confirmed present & working VA.gov production.

[2022-10-21 17:35] #46092 closed

[2022-10-21 17:39] thehastingsp commented on #48403
@saderagsdale @Mottie added final design to this ticket as well as a prototype link.

[2022-10-21 17:44] thehastingsp commented on #46512
This is done and [referenced here](https://github.com/department-of-veterans-affairs/va.gov-team/issues/48399)

[2022-10-21 17:45] thehastingsp commented on #47420
@saderagsdale @Mottie our Supplemental Claims usability gave us enough data to move ahead with this.

[2022-10-21 17:54] jonathanjnelson opened #48577 "[DESIGN] MyHealth: Medical Records: Surfacing requirements"
## :star2: User Story
- As a designer, I want to create a centralized place (i.e. Mural) where all the valuable information gathered from discovery research (interviews, technical discovery, accessibility audit) so it can be used to inform the strategic design brief and Medical Records design work.

## :star2: Related Documentation
- Link documents here; remember to update if they change.

## :sta

[2022-10-21 17:57] rmtolmach commented on #47585
Based on the research done by Jeremy and myself and conversations with the PM, team lead, and the ATO lead, and the write-up in confluence (link in previous comment☝️) , I am going to mark this ticket as closed.

[2022-10-21 18:14] acrollet commented on #48377
I have a question out to platform support on how best to implement this: https://dsva.slack.com/archives/CBU0KDSB1/p1666375988481699

[2022-10-21 18:22] kellysmith1008 commented on #48356
Closing this ticket per recommendation from Ben. Will update the product guides with this Need Help text along with Tagalog when it's ready.

[2022-10-21 18:22] #48356 closed

[2022-10-21 18:24] outerpress opened #48578 "Create dev spec for appointment list"
## Task Description

Create a spec for devs to build the appointment list.

## References

[Design spec](https://www.figma.com/file/JpGM8LGBCqAlL8qh3DmFk8/Home-Page-Redesign?node-id=2161%3A54658)

## Acceptance Criteria

- [x] Collab Cycle Midpoint Review tickets are resolved [Collab cycle epic](https://app.zenhub.com/workspaces/vaos---productdesign-5fff340c2d80a4000fb6f69c/issues/department-of-ve

[2022-10-21 18:25] thehastingsp commented on #48160
@Mottie [content approved](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/decision-reviews/Supplemental-Claims/design/sourceofcontenttruth.md).

[2022-10-21 18:26] joeniquette commented on #46528
Send report to IDme on 10/21/22

[2022-10-21 18:26] thehastingsp commented on #46818
Closing this issue as we've broken it out into tickets and will be tackling one at a time in the [source of truth here](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/decision-reviews/Supplemental-Claims/design/sourceofcontenttruth.md).

[2022-10-21 18:26] #46818 closed

[2022-10-21 18:27] joeniquette commented on #46500
working a second case related to this one. Keeping ticket open. Next steps are to ask the Veteran if they can try to login from a different device or meet with us on a zoom. I suspect there is a time issue on their local machine which is causing these logout loops.

[2022-10-21 18:28] thehastingsp commented on #48159
@Mottie @saderagsdale [content](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/decision-reviews/Supplemental-Claims/design/sourceofcontenttruth.md) approved.

[2022-10-21 18:30] CherylEvans commented on #48041
No Content feedback at this time.  Looks great!

[2022-10-21 18:31] thehastingsp commented on #48156
@Mottie @saderagsdale [content approved](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/decision-reviews/Supplemental-Claims/design/sourceofcontenttruth.md). I think this is a duplicate ticket - [this one](https://github.com/department-of-veterans-affairs/va.gov-team/issues/46510)?

[2022-10-21 18:34] RLHecht opened #48579 "Update NCA Scheduling Office hours on Schedule a burial page-HOLD TO PUBLISH UNTIL 11/7"
## Issue Description

The National Cemetery Scheduling office's hours are changing as of November 7, 2022. We need to make updates to the [Schedule a burial for a Veteran or family member](https://www.va.gov/burials-memorials/schedule-a-burial/) page to reflect this change.

Stakeholder Lisa Hollenbeck provided suggested content to update the paragraph below step 3 of the subway map. We'll need to

[2022-10-21 18:37] thehastingsp commented on #48142
@Mottie [content approved](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/decision-reviews/Supplemental-Claims/design/sourceofcontenttruth.md).

[2022-10-21 18:37] jerekshoe opened #48580 "[CST] Update usa-alert components to va-alert"
## Background
There are several components using the `usa-alert` CSS class instead of the `va-alert` web component.

These should be update to use `va-alert`

# Tasks
- [ ] Update `usa-alert` to `va-alert`

# Acceptance Criteria
- [ ] `usa-alert` CSS classes have been replaced with the `va-alert` component

[2022-10-21 18:39] bosawt opened #48581 "Create Github Actions Self-hosted runner to automatically update mock data (dev/staging)"
## Description
We now have a script in vets-api to iterate through the `vets-api-mockdata` repository and update mocked records with actual MPI lowers records, but we should automate this more thoroughly. We can add a Github self-hosted runner that will pull vets-api-mockdata, run scripts to update MPI (and other services that may make sense), and create a PR for review and submission.

Currently

[2022-10-21 18:43] thehastingsp commented on #48163
[Content approved](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/decision-reviews/Supplemental-Claims/design/sourceofcontenttruth.md) @Mottie @rocio-desantiago @data-doge

[2022-10-21 18:44] jwoodman5 opened #48582 "Add "Forms" Filter to Medalia Dashboard in DOMO"
## Issue Description
_The new Forms team on VA.gov want to view survey feedback data for their products._

---
## Tasks
- [x] _Add a `Forms` filter to the Medallia Dashboard in DOMO_

## Acceptance Criteria
- [x] _`Forms` is a filter in the Medallia DOMO Dashboard_
- [x] _Filtering by `Forms` displays only forms related data_
- [x] _The Forms team PM is told this is live_
---
## How to configure t

[2022-10-21 18:47] beth-wodzinski commented on #46281
I believe this passes testing.

Cases executed:

Cecil Morgan/Mental Health/Springfield. Only Clin A should be offered for direct scheduling. PASS.
Ola Edgecombe/Optometry/Cheyenne. Only Chy Opt Var 1 and Chy Visual Field should display. PASS.
Ola Edgecombe/CPAP/FTC. Only FTC Cpap should display. PASS.
Brienne Ferrara/Audiology/Cheyenne. Wheatland Audiology and Friendly name Audiology should displ

[2022-10-21 18:48] RLHecht opened #48583 "Sprint 86 stakeholder requests for Sitewide Content and IA"
This epic is to keep track of all the stakeholder requests that come in during Sprint 86.

[2022-10-21 18:51] #47468 closed

[2022-10-21 18:59] katherine-fung commented on #46305
Hi @laurwill,

posting this back for us to review over Zoom!
[https://app.zenhub.com/files/133843125/2bf1014c-6667-453f-b9ca-df1c7e61694f/download](https://app.zenhub.com/files/133843125/2bf1014c-6667-453f-b9ca-df1c7e61694f/download)

[2022-10-21 18:59] katherine-fung commented on #46305
Hi @laurwill,

posting this back for us to review over Zoom!
[https://app.zenhub.com/files/133843125/2bf1014c-6667-453f-b9ca-df1c7e61694f/download](https://app.zenhub.com/files/133843125/2bf1014c-6667-453f-b9ca-df1c7e61694f/download)

[2022-10-21 18:59] ericasauv09 commented on #48468
validated with user 1:![Screen Shot 2022-10-21 at 14.49.12.png](https://images.zenhubusercontent.com/62571b850845ac72a9917e8e/4544459c-be79-4dd7-a0d6-83c52f7edb73)

user 11:
![Screen Shot 2022-10-21 at 14.50.33.png](https://images.zenhubusercontent.com/62571b850845ac72a9917e8e/40c9436d-9f6f-4b6e-99aa-0af3425996f7)

and user 81:![Screen Shot 2022-10-21 at 14.52.50.png](https://images.zenhubusercont

[2022-10-21 19:10] alyssagallion commented on #48502
Followed up in Slack Channel #idme-va-gov with Jessica McClure, she will follow up on 10/28 with progress. Alyssa will follow up by EOD that day if have not heard back.

[2022-10-21 19:10] alyssagallion commented on #48503
https://app.zenhub.com/workspaces/identity-5f5bab705a94c9001ba33734/issues/department-of-veterans-affairs/va.gov-team/48502

[2022-10-21 19:10] alyssagallion commented on #48503
Followed up in Slack Channel #idme-va-gov with Jessica McClure, she will follow up on 10/28 with progress. Alyssa will follow up by EOD that day if have not heard back.

[2022-10-21 19:10] alyssagallion commented on #48504
Followed up in Slack Channel #idme-va-gov with Jessica McClure, she will follow up on 10/28 with progress. Alyssa will follow up by EOD that day if have not heard back.

[2022-10-21 19:11] RLHecht opened #48584 "Redirect Request: Vet Centers"
### Instructions
- Requests must be submitted **AT LEAST** 2 weeks in advance.  Some requests take a significant amount of time and coordination to implement, so start the process as soon as you know you will need one.
- This issue will be used from initial request through implementation to ensure all individuals working on this are notified of status updates.  Please do not create multiple issues

[2022-10-21 19:13] alyssagallion commented on #48470
Progress Update: Reviewing structure with team via Slack. Once approved by all, I will get started on revamping. For now, I have moved the items from Icebox to Backlog.

[2022-10-21 19:14] alyssagallion commented on #48469
@joeniquette Seen, noted, and on my list.

[2022-10-21 19:28] briandeconinck opened #48585 "Midpoint Review - Accessibility Feedback - Sitewide Homepage, VA.gov homepage redesign"
## VFS acceptance criteria
- [ ] Let Platform know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
- Heading structure is fantastic! I really appreciate the thought that went into it.
- On staging the illustration accompanying the Pathfinder news article has alt text `Thumbnail a

[2022-10-21 19:37] it-harrison opened #48586 "Midpoint Review - QA Feedback - Sitewide Homepage, VA.gov homepage redesign"
## VFS acceptance criteria
- [ ] Let Platform know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
- good start to generating QA artifacts.

## Feedback
- Practice areas will document their feedback following the [Must, Should, and Consider Framework](https://depo-platform-docume

[2022-10-21 19:39] saderagsdale commented on #48454
@kylesoskin added our action items to the list of tasks in the ticket.

[2022-10-21 19:41] data-doge commented on #47435
@saderagsdale

Just spoke with @AGarcia-Clarity, who is already planning on handling the 403 issues as part of an app-wide migration to `apiRequest`. Because Alex is handling the issue and because this issue is not COE-specific, it should not block COE launch.

LGY is working on a bugfix for the 500 errors.

[2022-10-21 19:43] benbrasso-agile6 commented on #44383
https://github.com/department-of-veterans-affairs/va.gov-research-repository/issues/188

[2022-10-21 19:47] MarciMcGuire opened #48587 "[EPIC] MHV to VA.gov Secure Messaging: User Acceptance Testing"

[2022-10-21 19:47] andaleliz commented on #48410
@Samara-Strauss, @ericasauv09 and @SKasimow I have a concept for this and set up a meeting for us to review on Monday.

[2022-10-21 19:49] MarciMcGuire opened #48588 "[EPIC] VA.gov SM: Application Setup"
JIRA Initiative: https://vajira.max.gov/browse/MHV-44848

View in JIRA to see children epics and stories.

[2022-10-21 19:50] MarciMcGuire opened #48589 "[EPIC] MHV to VA.gov Secure Messaging: Rollout Phase 1: "Try Me""

[2022-10-21 19:51] MarciMcGuire opened #48590 "[EPIC]. MHV to VA.gov Secure Messaging: Rollout Phase 2: VA.gov Transitions"

[2022-10-21 19:52] MarciMcGuire opened #48591 "[EPIC] MHV to VA.gov Secure Messaging: Rollout Phase 3: MHV Nudge"

[2022-10-21 19:53] MarciMcGuire opened #48592 "[EPIC] MHV to VA.gov Secure Messaging: Rollout Phase 4: MHV Redirect app to My Health"

[2022-10-21 20:05] benbrasso-agile6 commented on #48394
@ytsaoca I'm going to schedule a meeting Matt and our team on either Wednesday or Thursday this week. I'll put it on the calendar once I have it scheduled with Matt.

[2022-10-21 20:13] MarciMcGuire opened #48593 "[EPIC] VA.gov SM: Initial Build for Phase 0"
Initiative in JIRA: https://vajira.max.gov/browse/MHV-44846

View JIRA for more information on Epics, Stories, etc.

[2022-10-21 20:16] JoeTice commented on #47572
User Research Interviews are now nearly 90% done, final interview is currently scheduled for Monday afternoon.

[2022-10-21 20:16] longmd commented on #31735
@markfallows  / @hdjustice , all of todays updates are now in staging. I reworked the review page to show the plain language labels instead of the values we consume in the backend. The schema changes are also now in, which update the order of the items on the SIGI page.

@lihanli , you can run that schema update on vets-api at your earliest convenience!

[2022-10-21 20:28] ianMcCullough-ob commented on #48262
Closing this to pursue an alternate solution using DOMO.

[2022-10-21 20:28] #48262 closed

[2022-10-21 20:30] MarciMcGuire opened #48594 "[EPIC] MHV to VA.gov: Pharmacy: Onboard MHV Team"

[2022-10-21 20:32] MarciMcGuire opened #48595 "[EPIC] MHV to VA.gov: MR: Immunizations: Gather requirements"
**Purpose of this epic:**
To gather and centralize requirements related to the data fields for Immunizations that need to be represented on VA.gov, UX design strategy that can be articulated, and any feedback from SMEs or other stakeholders that needs to be defined.

**Process:**
- [x] Create a Immunizations brief that describes: required data fields, Use cases, UX considerations, Questions to ans

[2022-10-21 20:33] ph-One commented on #48570
Completed. Jumpboxes and VA SOCKS Proxy updated.

[2022-10-21 20:33] #48570 closed

[2022-10-21 20:35] denisecoveyduc commented on #48475
@mgleo @Dr-Pongo  these two seem to be related. #46669 and this one #48475. Do we need both?

[2022-10-21 20:38] denisecoveyduc opened #48596 "Combined Portal Enhancements"
## Product Outline
Combined Portal Enhancement for future consideration

## Definition of done
### What must be true in order for you to consider this epic complete?

*Take into consideration Accessibility/QA needs as well as Product, Technical, and Design requirements.*

## How to configure this issue
- [ ] **Labeled with Team** (`product support`, `analytics-insights`, `operations`, `Console-Ser

[2022-10-21 20:39] patrickvinograd opened #48597 "undefined method issue in breakers exception handling for SSLErrors"
## What happened?
When debugging 500 errors originating in the SM application, I noticed instances of
[code]
coming from this line:
https://github.com/department-of-veterans-affairs/vets-api/blob/d5ec2a52e412e69695caee026ccff255b45ab04c/lib/common/client/configuration/base.rb#L119

Attaching a debugger I found that it was an instance of `Faraday::SSLError` wrapping an `OpenSSL::SSL::SSLError`. Bec

[2022-10-21 20:40] denisecoveyduc commented on #47356
This has been resolved and anything remaining will be addressed as part of #48446

[2022-10-21 20:40] #47356 closed

[2022-10-21 20:40] ajakabcin opened #48598 "Analytics Implementation or QA Support for [Authenticated Experience My VA - Payment info v2]"
# Google Analytics Implementation or QA Request

## What this form is for

<details>
<summary>More Information</summary>
<div>
    <br>
<p>Use this template to request Google Analytics implementation or QA for your product. Please fill out all brackets.</p>

</div>
</details>

## Description
### Required
- **Is this request for **Google Analytics implementation** or **QA**?**

     - [x] Google An

[2022-10-21 20:42] denisecoveyduc opened #48599 "Sprint 85 Priorities (Benefits Team 2)"
## Benefits Team 2: Sprint 85 Priorities
(_Sprint 85: October 19- November 1,  2022_)

### Sprint Goals
- Continue to monitor recent launch FSR submission errors
 - Triage and resolve FSR submission errors
- Establish design for mini summary pages for work history, installment contracts and other debts, living expenses and household assets
- Continued streamlined waiver discovery and meet with VHA

[2022-10-21 20:43] #41890 closed

[2022-10-21 20:43] ajakabcin commented on #45967
Submitted #48598. Implementation of analytics, QA and GA dashboard validation will happen in a future ticket.

[2022-10-21 20:43] #45967 closed

[2022-10-21 20:43] ianMcCullough-ob commented on #48018
Data has been delivered

[2022-10-21 20:43] #48018 closed

[2022-10-21 20:43] ianMcCullough-ob commented on #48019
Data has been delivered

[2022-10-21 20:43] #48019 closed

[2022-10-21 20:45] MarciMcGuire opened #48600 "[EPIC] MHV to VA.gov: MR: Immunizations: Technical Discovery"
## Description
Technical discovery around feasibility of designs and limitations of FHIR specification/PHR FHIR implementation.

## Tasks
- [ ] Keep up-to-date on FHIRization progress as outlined in #50703. Roadblocks or hurdles in FHIR implementation could affect design implementation.
- [ ] Research around FHIR US Core profile and if additional immunization statuses can be reported (upcoming, ov

[2022-10-21 20:46] ianMcCullough-ob commented on #47383
Additional drawbacks:

- The emerging trends highlight general sentiments based on results. It is not built to analyze results based on key terms, it is built to identify general issues.
- Searching for key terms does not produce results that contain that explicit term, but a list of results that may have overlapping terms.
- The downloaded report can list the same response multiple times with a d

[2022-10-21 20:47] MarciMcGuire opened #48601 "[EPIC] MHV to VA.gov: MR: General: Generative Research"

[2022-10-21 20:48] #48601 closed

[2022-10-21 20:50] denisecoveyduc opened #48602 "Sprint 84 Priorities (Benefits Team 2)"
## Benefits Team 2: Sprint 84 Priorities
(_Sprint 84: October 5 - 18,  2022_)

### Sprint Goals

 - Continue to monitor and resolve issues related to the live FSR for VHA
   in production Finalize review page designs Finalize Other living
   expenses design wireframes Draft streamlined waiver user flow List
   loop enhancements front end development Lighthouse API discovery for
   CDW connection f

[2022-10-21 20:51] #48602 closed

[2022-10-21 20:53] ajmagdub commented on #39319
Moving to blocked until we get a notification that VAOS Service (V2) is in production and nobody is using VAR (V0)

[2022-10-21 20:54] ajmagdub commented on #39154
Moving to blocked until we get a notification that VAOS Service (V2) is in production and nobody is using VAR (V0)

[2022-10-21 20:55] ajmagdub commented on #39152
Moving to blocked until we get a notification that VAOS Service (V2) is in production and nobody is using VAR (V0)

[2022-10-21 20:56] SKasimow commented on #48439
[https://app.zenhub.com/files/133843125/45c8eea6-6a62-41ae-9f36-c7ee38527664/download](https://app.zenhub.com/files/133843125/45c8eea6-6a62-41ae-9f36-c7ee38527664/download)

[2022-10-21 20:56] ajmagdub commented on #39153
Moving to blocked until we get a notification that VAOS Service (V2) is in production and stable

[2022-10-21 20:56] ajakabcin opened #48603 "Staging Review [Authenticated Experience My VA - Payment Info V2]"
# NOTE
This template is being deprecated. If your kickoff meeting took place after May 26, 2022, you should be following the guidance specified in the Collaboration Cycle Rquest per the [May 26, 2022 change history post](https://depo-platform-documentation.scrollhelp.site/collaboration-cycle/Change-history.1846870032.html) instead. If you are unsure if this applies to you, please reach out to the

[2022-10-21 20:57] mgleo commented on #48475
This ticket is a more of a discovery ticket to find out if a design update (and eventually dev update) is possible. 46669 is a dev ticket. So they're tickets for different things.

[2022-10-21 20:58] katherine-fung commented on #48370
@laurwill - I updated this page per our discussion today:

http://preview-prod.vfs.va.gov/preview?nodeId=591

For the Bob example, I ended up taking the numbers out of running text and formatting them like the other example that's already on the page.

I don't know if this works:

Example: You're a Veteran with no dependents and you don't qualify for Housebound or Aid and Attendance benefits.

You

[2022-10-21 21:00] ajakabcin commented on #48603
@shiragoodman We're not quite ready to even get this scheduled yet, but I wanted to get the ticket started so I could drop the artifacts in as we get them. I'll message in the platform channel when this is ready to go, but in the meantime I'll leave it in my name. Thank you!

[2022-10-21 21:01] ajakabcin commented on #47615
Started the ticket and have compiled a good portion of the artifacts to get us started - #48603

[2022-10-21 21:05] randomsync opened #48604 "[BE] Save icn to appointment identifiers"
## User Story
As a Veteran who is using eCheck-in to check-in for an appointment, I want to have the option to submit a claim for travel reimbursement when I check-in so that I don't have to later fill out a form or visit the Travel Office.

## Tasks
- [x] [BE] serialize icn to be saved in redis with appointment identifiers

## Acceptance Criteria
- [x] Deployed to staging
- [x] Tested on staging

[2022-10-21 21:07] JoeTice commented on #47590
User flow diagrams are being documented [here](https://app.mural.co/t/adhocvetsgov9623/m/adhocvetsgov9623/1666011911859/c0bf24d69db1638ccb56bf090acc1487ea9431c7?sender=uc4d00ea50beebdfad05a4846) - and will be published to Confluence when finished

[2022-10-21 21:09] thehastingsp commented on #48173
[Content approved.](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/decision-reviews/Supplemental-Claims/design/sourceofcontenttruth.md)

[2022-10-21 21:10] thehastingsp commented on #48408
Content approved.

[2022-10-21 21:10] thehastingsp commented on #48403
Content approved

[2022-10-21 21:11] katherine-fung commented on #48371
Just nothing that I'm doing some work on the "2022 VA pension rates for Veterans" page and have some questions that will be relevant here too.

Other ticket: https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/48370

[2022-10-21 21:11] starlow00 commented on #46707
@saderagsdale, the Google docs draft is ready for your review. I made suggestions, had a couple of questions. When it's ready to go, please let me know and I'll forward to VEO for their review. Thanks!

[2022-10-21 21:11] thehastingsp commented on #48397
[content approved](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/decision-reviews/Supplemental-Claims/design/sourceofcontenttruth.md)

[2022-10-21 21:12] ajakabcin opened #48605 "[Design, FE] Payment info v2: Run a11y scans for Staging review"
## Background
In preparation for staging review we need to perform accessibility tests on Outstanding debts and Benefit Payments on My VA. This will be a joint effort from Design and FE to perform these tests and Product to ensure everything is documented to submit the request.

[A11y staging review preparation](https://depo-platform-documentation.scrollhelp.site/developer-docs/prepare-for-an-acce

[2022-10-21 22:26] cgednalske commented on #48271
@SKasimow I've updated the bad address indicator [use case](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/profile/contact-information/use-cases/address-marked-as-bad.md) and [user flow](https://www.sketch.com/s/59857eb5-d9f9-4145-99d3-d9a1de2d0655/a/7yPo0rZ) throughout our documentation. I also double-checked the images and text in the

[2022-10-21 22:30] cgednalske commented on #47266
@SKasimow closing this out as we discussed in a recent standup 👍

[2022-10-21 22:30] #47266 closed

[2022-10-21 22:41] SKasimow commented on #48566
Hi - was just thinking this might need to be broken up into multiple tickets. Once we pull this in for grooming, lmk if it is too big for a single ticket and I will break-up into separate tickets for discovery and updates.

[2022-10-21 23:01] cgednalske commented on #48460
Hi @SKasimow - I added the new Account security alert images and info to this [shared doc](https://docs.google.com/document/d/1tBR0CUVilPDw8dBQt9xDlolVvpNdMxxYRASiNA-yyfY/edit#) so we can confirm everything first like we did for the last contact center guide update. I also updated the verify identity alert. Could you check if any changes or additional details are needed before we add these updates

[2022-10-21 23:03] cgednalske commented on #47350
@SKasimow can we close this? Should all be complete.

[2022-10-21 23:19] cgednalske commented on #48151
@samara -- from the documentation + background I received from Liz, it's clear we need to block _editing_ information for all of Profile, but do you know if there is any use case where the fiduciary would still need read access?

[2022-10-21 23:19] denisecoveyduc commented on #47069
Work will continue in #47391

[2022-10-21 23:19] #47069 closed

[2022-10-21 23:25] denisecoveyduc opened #48606 "VBMS Letters Data Issue"
## Issue Description
October 21, 2022 we received notice from our stakeholders that there was a potential data breach on one of the VBMS letter that were downloaded on the debt portal. While the case is being investigated we have turned the feature off.

---
## Tasks
- [ ] Toggle VBMS Letter download off while incident is being investigated
- [ ]  Upon stakeholder approve, Toggle VBMS Letter downl

[2022-10-21 23:32] denisecoveyduc opened #48607 "Design Discovery for FSR Progress Indicator Bar"
## Issue Description
FSR progress indicator is not that useful for our users and does not clearly identify how many additional pages there are remaining for them to complete

![image.png](https://images.zenhubusercontent.com/5f7f60ca14e26c658f77b9f5/325c6548-a104-4261-a6aa-b916144e30b0)

---
## Tasks
- [ ] Design discovery to identify more useful or different approaches for the progress indicator

[2022-10-21 23:44] jwoodman5 commented on #47383
Based on Ian's findings ^, we have decided not to use this report option in Medallia to deliver _meaningful_ insights to VFS teams. We will research additional reporting options in our next sprint. Closing.

[2022-10-21 23:44] #47383 closed

[2022-10-22 00:19] #47256 closed

[2022-10-22 00:21] jwoodman5 opened #48608 "KM Article Audit and Update"
## Issue Description
_As part of our VEO KM article audit, we will be making regular updates to KMs. Our goal for this sprint is to review and update at least 1 KM._

---
## Tasks
- [x] _Review and update at least 1 KM_

## Acceptance Criteria
- [x] _At least 1 KM is updated_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [x] **Attached to an

[2022-10-22 00:21] jwoodman5 opened #48609 "KM Article Audit and Update"
## Issue Description
_As part of our VEO KM article audit, we will be making regular updates to KMs. Our goal for this sprint is to review and update at least 1 KM._

---
## Tasks
- [ ] _Review and update at least 1 KM_

## Acceptance Criteria
- [ ] _At least 1 KM is updated_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [x] **Attached to an

[2022-10-22 00:30] jwoodman5 opened #48610 "Update Qualitative Data Issue Template"
## Issue Description
_The qualitative data issue template has had issues retaining assignees, causing us to miss several requests. We also got some feedback on how we can make the template more flexible for different use cases such as research data requests._

---
## Tasks
- [x] _Ensure assignees don’t get dropped_
- [x] _Add description text_
- [x] _Make intuitive for research data requests_

##

[2022-10-22 00:44] cindymerrill commented on #46654
All prepared for research sessions next week

[2022-10-22 00:44] #46654 closed

[2022-10-23 17:58] laurwill opened #48611 "Audit use of react widget for Ask VA links"
## Issue Description
When we link to Ask VA, we usually use a react widget to preserve the signed in state for users who have already signed in. Some pages link directly to Ask VA without the widget. And some pages link to the Ask VA section on the Contact us page (which has the react widget).

This isn't a high priority because the link still works without the widget. But when time allows, we sho

[2022-10-23 18:20] laurwill opened #48612 "Table work and other content updates to VA home loan funding fee page"
## Issue Description
We recently adjusted the bullets in the eligibility section on the [VA home loan funding fee page](https://www.va.gov/housing-assistance/home-loans/funding-fee-and-closing-costs/). This page also has tables and some other outdated content styling we need to adjust.

---
## Tasks
- [ ] Assess tables and other page content and suggest updates
- [ ] Review (Laura)
- [ ] Copyedit

[2022-10-23 18:35] andaleliz commented on #48396
@SKasimow and @ericasauv09, FE can go ahead and clean up spacing. The language updates will come through the API so no FE work there.

Spacing has been updated in the Sketch files, and I created [this mock-up](https://www.sketch.com/s/afd69a1f-72d2-430b-9b62-285e9d3f479c/a/jg8yMMb) to make it more clear how far away elements should be from each other.

We also need to update the link copy to say "

[2022-10-23 18:36] andaleliz commented on #48274
@SKasimow I'm moving this to sprint 87 -  I'm not presenting until Dec 5 so this is not a priority. Thanks!

[2022-10-23 18:40] laurwill opened #48613 "Update VIC page"
## Issue Description
We recently updated the VHIC page, and stakeholder Tarsha noted that the photo rules on the [VIC page](https://www.va.gov/records/get-veteran-id-cards/vic/) should probably match the VHIC rules. We also need to make updates to the VIC page to align with tool landing page content pattern.

Katherine started this work when a stakeholder requested we add a note about VIC going al

[2022-10-23 19:02] andaleliz commented on #48243
Thanks @aagosto90! This convo guide looks like it'll support the research questions in your plan. A few minor comments/possible edits:

- If you are planning on leveraging the transcription feature for notes, I would add a reminder to turn them on when you start the recording.
- IMO you don't need that first warm up question about their relationship to VA, but if you feel like it's a good starter

[2022-10-24 02:45] laurwill commented on #48155
Hi @ericasauv09 ,
Here are a few notes on the content in the Sketch screens. Let me know if you'd like to chat about anything. Thanks for the chance to review!

All screens
- Suggest removing "service connected" after "Your disability rating: 40%" (I think it could read as % connected to service rather than % disabling)
- I wondered if "decision reviews" should also appear in the "Claims and appea

[2022-10-24 12:47] RLHecht commented on #48119
I published this. Will close out and let Raleigh know it's live after I validate.

[2022-10-24 12:53] #48276 closed

[2022-10-24 12:54] #48489 closed

[2022-10-24 12:57] pjhill commented on #47585
Thanks for the analysis! This is great, and the [Recommended Approach](https://vfs.atlassian.net/wiki/spaces/TT4/pages/2391343120/Preview+Environments+outside+of+SOCKS#Recommended-approach) is a good summary.  I think this is about as far as this ticket can go, and it ticks off the two AC.

The proposed architecture that avoids SOCKS access requirements will be worked under a subsequent ticket.

[2022-10-24 12:57] #47585 closed

[2022-10-24 13:19] #48514 closed

[2022-10-24 13:19] RLHecht commented on #48514
This is live. Closing ticket.

[2022-10-24 13:29] #47577 closed

[2022-10-24 13:33] ph-One commented on #48015
Closing. Everyone has had eyes on this. This charter will continue to evolve with the team

[2022-10-24 13:33] #48015 closed

[2022-10-24 13:46] ph-One commented on #47978
https://vagov.ddog-gov.com/monitors/98190

[2022-10-24 13:46] ph-One commented on #47978
https://vagov.ddog-gov.com/monitors/98188

[2022-10-24 13:46] ph-One commented on #47978
https://vagov.ddog-gov.com/monitors/98228

[2022-10-24 13:47] marcynadeau commented on #46281
https://issues.mobilehealth.va.gov/browse/VAOSR-4628. This defect was logged for the above backend issue.

[2022-10-24 13:51] jjulian commented on #47557
Is that the correct VOR for Lighthouse team members?

[2022-10-24 14:04] ajakabcin commented on #43300
Release plan and project outline updated with launch dates and key dates, respectively

[2022-10-24 14:06] jacobworrell opened #48614 "DDL: Pagination"
## Value Statement
**_As a_** veteran looking for a notification letter
**_I want to_** be able to click through pagination if I have more than ten notification letters
**_So that_** I am not overwhelmed by a huge list and can't find what I'm looking for

---
## Background Context

We need to add pagination to the DDL listview

## Acceptance Criteria
- [x] Pagination appears when there are more th

[2022-10-24 14:10] Eallan919 opened #48615 "Request access to Google Analytics and/or Domo"
# Request Google Analytics and/or Domo access

## What this form is for
Use this template to request access to Google Analytics and/or Domo. Please complete steps 1 & 2 below.

## 1. Access Requirements
Please check the analytics tool(s) you need access to:
- [X ] Google Analytics
- [X ] Domo
- [ ] (Platform Teams only) BigQuery

## 2. User Email Address to Receive Access
**Due to privacy concerns

[2022-10-24 14:11] jacobworrell opened #48616 "DDL: Application load animation"
## Value Statement
**_As a_** veteran trying to find their notification letters
**_I want to_** see a loading animation when the tool is loading
**_So that_** I do not navigate away from the page because I think the page is empty

---
## Background Context
We need to add a loading graphic

## Acceptance Criteria
- [x] Load animation appears when tool makes calls and waits receive data
- [x] Uses s

[2022-10-24 14:21] shiragoodman opened #48617 "Integrate QA with other practice areas at Staging Review"
## User Story
As a Governance team member supporting QA in the Collaboration Cycle, I want to be able to document my Staging Review findings alongside IA, a11y, design and content so that my product-specific findings can align to the VA.gov Experience Standards.

Assignee: @it-harrison @shiragoodman
Peer Reviewer: @CherylEvans

## Description
In the Benefits Team 1 - Certificate of Eligibility Sta

[2022-10-24 14:23] ph-One commented on #47986
Platform - AWS EC2 CPU Utilization High (Sustained)
https://vagov.ddog-gov.com/monitors/100272

- Alert when CPU is sustaining 90%

[2022-10-24 14:24] #48615 closed

[2022-10-24 14:24] ph-One commented on #47986
Platform - AWS EC2 Memory Usage High (Sustained)
https://vagov.ddog-gov.com/monitors/100273
- When memory usage is sustaining 90%+
- This one is a bit tricky since high memory usage does not indicate a problem, but a _potential_ problem

[2022-10-24 14:26] #48574 closed

[2022-10-24 14:27] ph-One commented on #47986
Storage/Disk is already covered for EC2 by https://vagov.ddog-gov.com/monitors/98188

[2022-10-24 14:29] ldelacosta commented on #46281
This ticket has been validated. Closing out the ticket!

[2022-10-24 14:29] #46281 closed

[2022-10-24 14:30] ldelacosta commented on #48115
@marcynadeau - This ticket can be tested. Please let us know if you have any issues. Thanks!

[2022-10-24 14:34] #48555 closed

[2022-10-24 14:36] michelle-dooley commented on #48569
No Domo or GA.

[2022-10-24 14:37] ph-One commented on #47986
Platform - AWS EC2 Status Check Failed
https://vagov.ddog-gov.com/monitors/100274
- AWS status checks have failed

[2022-10-24 14:37] shiragoodman commented on #48603
@ajakabcin Do you have the Design Intent and/or Midpoint Review tickets for this work? Just trying to make it easier for my team to review (when it's ready) and I don't see "Payment Info V2" anywhere in the [Point Tracker](https://docs.google.com/spreadsheets/d/1OgPyEvUlNF6EnaYMFAXJkV6FKOvZnlPnbOQ2fAJ7W7A/edit#gid=1116695886)

[2022-10-24 14:39] JoeTice opened #48618 "Create Success Metric Dashboard for Review Environments"
## Issue Description
With success metrics validated, we will want to create a dashboard to track and reflect those metrics for current Review Instances.

**NOTE** - This dashboard will need to be updated when a new Preview Environment is created and additional metrics are available for tracking.

---
## Tasks
- [x] Create a dashboard for Review Instance metrics in Domo
- [x] Collect the metrics in

[2022-10-24 14:39] steel36 opened #48619 "Research Request: prep and meet with Tech Team 2 (Jesse)"
## Issue Description
A Research [Request ](https://dsva.slack.com/archives/CPCGRR7F1/p1666381261475809)has been made and our team needs to review and consider it.

From Jesse:  We’d like to gather info from VFS teams regarding their needs for platform monitoring tools. We hope the understand the use cases and how VFS teams might use Datadog for monitoring.
I’d be happy to collab with your team on

[2022-10-24 14:41] laurwill commented on #48336
Thanks @katherine-fung ! I tweaked the mailing instruction a bit to note that you choose the regional office for your school or home. I sent the updates to Cinda for review along with a question about one of the form instructions, and copied you so you can follow any feedback.

[2022-10-24 14:45] ericasauv09 commented on #48155
Thank you @laurwill, my team will review your recommendations and let you know if we have any questions!

[2022-10-24 14:47] ajakabcin commented on #48603
Hi @shiragoodman - yes we do! The name has evolved as we've gone through the collab cycle so that's probably why it's not coming up, and this initiative is still on the old template 🙃  - apologies for the confusion!

- Design intent - #40551
- Midpoint review 1 - #43068
- Midpoint review 2 (we had to make some fairly significant changes from our first midpoint review and we felt we needed to come

[2022-10-24 14:47] JoeTice opened #48620 "Create a Service Blueprint diagram for a Preview Environment"
## Issue Description
With an understanding of existing pain points, and the user and technical flows of the current state of Review Instances, we will want to diagram the planned approach to a proposed solution.

---
## Tasks
- [x] Include a table matrix that defines which pain points will be addressed
- [x] Include a basic mapping of testing environments
- [x] Include a comparison of Review Insta

[2022-10-24 14:47] RLHecht opened #48622 "Spanish translation for updated Novavax booster information from 10/21/22"
## Issue Description
We made updates to 2 COVID-19 pages about Novavax booster eligibility that we need to have translated in Spanish.

Word doc sent to translators: [https://app.zenhub.com/files/133843125/75e34646-267f-445c-a327-f094a5502cc6/download](https://app.zenhub.com/files/133843125/75e34646-267f-445c-a327-f094a5502cc6/download)

Note that on the Booster shots page we also removed content,

[2022-10-24 14:49] RLHecht opened #48623 "Tagalog translation for Novavax booster updates on 10/21/22"
## Issue Description
We made updates to 2 COVID-19 pages about Novavax booster eligibility that we need to have translated in Tagalog.

Word doc sent to translators: [https://app.zenhub.com/files/133843125/75e34646-267f-445c-a327-f094a5502cc6/download](https://app.zenhub.com/files/133843125/75e34646-267f-445c-a327-f094a5502cc6/download)

Note that on the Booster shots page we also removed content,

[2022-10-24 14:49] allison0034 commented on #48107
@briandeconinck this si ready for review and PR is linked.

[2022-10-24 14:50] shiragoodman commented on #48603
thank you @ajakabcin ! This is super helpful. I'll rename it in the tracker so it's up to date with your current language.

[2022-10-24 14:56] CherylEvans opened #48624 "Midpoint review - Content Feedback - Authenticated Experience, My VA, Audit UX Improvements"
## VFS acceptance criteria
- [ ] Let Platform know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
- Great job so far!

## Feedback
- Practice areas will document their feedback following the [Must, Should, and Consider Framework](https://depo-platform-documentation.scrollhelp.si

[2022-10-24 14:59] shiragoodman opened #48625 "Modify Design Intent script to add time limit for VFS team"
## User Story
As a VFS designer or PM presenting on my product at the Design Intent, I want to know how much time I have to present so that I don't take up all of the 30 minute meeting.

Assignee: @briandeconinck
Peer Reviewer: @CherylEvans

## Description
As the Design Intent on 10/14, @allison0034 told the VFS team, after completing reading the script out loud, how much time the VFS team had to

[2022-10-24 15:03] lkoenigsberg commented on #47461
Sharing a draft 30-60-90 day onboarding template I played around with [here](https://dvagov-my.sharepoint.com/:w:/g/personal/lisa_koenigsberg_va_gov/EW-7oNKUxBVCs-B0Uj_ozSUBYwPuxIBkA3LqzXGAWL-FUQ?e=MGxXpb).   Would be good to sync that up with what @leahbannon2 shared above.

[2022-10-24 15:04] aagosto90 commented on #42329
[Discussion Slack thread w/ benefits 2 team](https://dsva.slack.com/archives/CPE4AJ6Q0/p1666282723576959)

[UXPin mockup of debt letters](https://preview.uxpin.com/29cd8f525781fa231d16f5b50905ad15a99cbf01#/pages/149089100/simulate/sitemap?mode=i)

[2022-10-24 15:05] SKasimow commented on #48271
@cgednalske - yay! Thank you. I'll close this out :)

[2022-10-24 15:05] #48271 closed

[2022-10-24 15:13] jeremy-stitz opened #48626 "Adding Sarah Cnota to DSVA Slack"
Please add scnota@thoughtworks.com as a full member.

Sarah Cnota is a new developer on the CDSP (Clinical Decision Support Platform) team.

[2022-10-24 15:20] rjohnson2011 commented on #47991
Have all tasks implemented except the final 5 minute timeout. Working on adding completing this final task & getting all CI tests to pass. Anticipate putting in a PR later this day.

[2022-10-24 15:25] rsmithadhoc commented on #47975
I created monitors for the following and added them to our [dashboard](https://vagov.ddog-gov.com/dashboard/9dk-y7n-6vf/platform-monitors--alerts)

- Fundamental system resources
    - [CPU Utilization](https://vagov.ddog-gov.com/monitors/100036)
    - [Memory Utilization](https://vagov.ddog-gov.com/monitors/100039)
    - [Free Storage Space](https://vagov.ddog-gov.com/monitors/100275)
- Database

[2022-10-24 15:30] bryan-riley-va opened #48627 "Analytics Implementation or QA Support for [MHV Secure Messaging on VA.gov] - In Progress"
**This ticket is still in progress and being filled out by the MHV Secure Messaging team**

# Google Analytics Implementation or QA Request

## What this form is for

<details>
<summary>The intent of this ticket is to share our plans for Analytics and to seek feedback on the implementation and measurement strategies to capture the necessary metrics.

Secure Messaging on VA.gov will provide Veteran

[2022-10-24 15:31] SKasimow commented on #48460
@cgednalske - I sure will. Will put on my "to-do" list for today 👍

[2022-10-24 15:31] bryan-riley-va opened #48628 "Contact Center Review for [MHV Secure Messaging on VA.gov] - In Progress"
**This ticket is still in progress and being filled out by the MHV Secure Messaging team**

# Request the Contact Center Review

## What this form is for
Use this template to request a Contact Center review of your product.

Please review the Self-service Product Guide Template [link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/contact-center/self-service-pro

[2022-10-24 15:33] #47578 closed

[2022-10-24 15:33] bryan-riley-va opened #48629 "Staging Review [MHV Secure Messaging in VA.gov] - In Progress"
**This ticket is still in progress and being filled out by the MHV Secure Messaging team**

# NOTE
This template is being deprecated. If your kickoff meeting took place after May 26, 2022, you should be following the guidance specified in the Collaboration Cycle Rquest per the [May 26, 2022 change history post](https://depo-platform-documentation.scrollhelp.site/collaboration-cycle/Change-history.

[2022-10-24 15:34] #47805 closed

[2022-10-24 15:34] #48237 closed

[2022-10-24 15:35] SKasimow commented on #47350
Yup! And for reference the corresponding FE ticket in backlog is: #48501

[2022-10-24 15:39] #48488 closed

[2022-10-24 15:41] mjones-oddball commented on #47441
@andaleliz
QSTN:  do you know how many text notifications a person will get as a hearing reminder if they opt into this notification?
ANSWER: Two - one at seven days prior, and the second at three days prior

[2022-10-24 15:41] shiragoodman opened #48630 "Document user flow (before, during and after Platform Orientation)"

[2022-10-24 15:43] andaleliz commented on #47441
Thanks @mjones-oddball ! Reminder**s** it is.

[2022-10-24 15:44] cmaeng opened #48631 "Offboarding of Roger Eagans"
# Instructions
Fill out name of individual and *Description* section below.

*(Please add only one individual per form)*

# Description
Please provide the following information about the individual being offboarded:
- name:

- team name:

- role on team:

- expected last day: _(MM/DD/YYYY)_

- company they work for:

- email: _(Multiple emails listed in order of relevance to VA business, VA, Compa

[2022-10-24 15:46] zach-park opened #48632 "[Design] Provide VAOS with CIE appointment icon list"
**Description**
Provide CIE's appointment icon list to VAOS design team

**Task**
- [x] Create an icon list
- [x] Share the list with the VAOS design team (e.g., Peter Russo)

![CIE Iconography - appointment.png](https://images.zenhubusercontent.com/6155d02ed6dc2cbaa5d23b32/72578722-7b3a-4e9c-b573-7348d0db2682)

[2022-10-24 15:46] oseasmoran73 commented on #45349
No control upstream via VA
What tools/query can we use? Can we curl certain endpoints? TCP? Traceroute? Between vets-api / BGS?

Where does BGS lie? border gateway services

[2022-10-24 15:46] zach-park opened #48633 "Task: Provide VA with CIE appointment icon list"
Task: Provide CIE's appointment icon list to VA design team

[2022-10-24 15:46] zach-park opened #48634 "Task: Provide VA with CIE appointment icon list"
Task: Provide CIE's appointment icon list to the VA design team

[2022-10-24 15:46] shiragoodman opened #48635 "Document a research plan"
## User Story
As a Governance team member, I want to have a clear plan and methodology for my discovery research on Platform Orientation so that I am able to run effective moderated user research sessions that surface pain points with the orientation process.

Assignee: @sterkenburgsara @allison0034

## Description
There is a [Platform-specific template](https://vfs.atlassian.net/wiki/spaces/DCP/p

[2022-10-24 15:47] zach-park opened #48636 "Task: Provide VA with CIE appointment icon list"
Task: Provide CIE's appointment icon list to the VA design team

[2022-10-24 15:47] RLHecht commented on #48119
This is live. Closing!

[2022-10-24 15:47] #48119 closed

[2022-10-24 15:49] shiragoodman opened #48638 "Modify Platform Orientation flow"

[2022-10-24 15:51] shiragoodman opened #48639 "Conduct research with research participants"
## User Story
As a Governance team member, I plan to conduct user research with multiple VFS team members who have recently undergone the orientation process  so that I can get a fresh understanding of pain points, frustrations, and successes with their experience onboarding to platform.

As a Governance team member, I want to conduct user research with platform orientation hosts who have regularl

[2022-10-24 15:51] shiragoodman opened #48640 "Synthesize research findings"

[2022-10-24 15:51] npeterson54 opened #48641 "Manually remove old feature toggles"
## Description
We would like to automate the process of removing old feature toggles, but first, need to go through the process manually to determine how to best do that.

## Tasks
- [x] Compile a list of features to disable
  - [x] Consider how might this be automated / workflow
- [x] Create PR and reach out to respective teams
  - [x] Consider how might this be automated / workflow
- [x] Verify

[2022-10-24 15:52] shiragoodman opened #48642 "Propose solutions for identified pain points"
## User Story
As a Governance team member, I want to come up with ideas for resolving the identified pain points from the Platform Orientation discovery research so that we can begin to work on a plan for implementation and release.

Assignees: @allison0034 @sterkenburgsara @shiragoodman

## Description
We have completed our Platform Orientation discovery research and synthesized our findings to i

[2022-10-24 15:52] cmaeng opened #48643 "Offboarding of Cindy Terdiman"
# Instructions
Fill out name of individual and *Description* section below.

*(Please add only one individual per form)*

# Description
Please provide the following information about the individual being offboarded:
- name:

- team name:

- role on team:

- expected last day: _(MM/DD/YYYY)_

- company they work for:

- email: _(Multiple emails listed in order of relevance to VA business, VA, Compa

[2022-10-24 15:53] #48636 closed

[2022-10-24 15:53] #48634 closed

[2022-10-24 15:54] RLHecht commented on #47192
Closing this out. Will open a new ticket if/when we find more instances of pages to add Login.gov to.

[2022-10-24 15:54] #47192 closed

[2022-10-24 15:54] #48633 closed

[2022-10-24 16:01] cmaeng commented on #47504
this was resolved through slack [here](https://dsva.slack.com/archives/C01S729LX6X/p1666626584040279)

[2022-10-24 16:01] #47504 closed

[2022-10-24 16:05] ericasauv09 opened #48644 "[PM] Onsite Notifications: Update Post Launch Metrics (1- month)"
## Background
Update Onsite Notification metrics in the [Product Outline](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/identity-personalization/notifications/vagov-notifications/mvp#measuring-success) once we are at the one month post launch date. We launched to 100% on 10/24 so we should update the outline on or after 11/24.

## Tasks
- [x] Pull metrics from

[2022-10-24 16:11] Mottie commented on #41046
Update:
- The backend is rejecting these options, possibly due to the [`dist` file not yet being updated](https://github.com/department-of-veterans-affairs/vets-json-schema/pull/726):

    <img width="626" alt="form - The property '#/serviceInformation/servicePeriods/0/serviceBranch' value 'Women's Army Corps' did not match one of the following values: Air Force, Air Force Reserve, ..., Public Hea

[2022-10-24 16:17] laucon commented on #48526
@theodur @npeterson54 Mottie had 2 requests, an addition and an update. For the addition, I added the text at the bottom of the "CustomPage props" on [this page.](https://depo-platform-documentation.scrollhelp.site/developer-docs/va-forms-library-how-to-bypass-schema-form) Here is the before and after.

Before the edit, the section looks like this:
<img width="1787" alt="Screen Shot 2022-10-24 at

[2022-10-24 16:21] laucon commented on #48526
@theodur @npeterson54 Hello again. Mottie had a second request which was harder for me to understand. Mottie said "Updates:
    goToPath (add before last entry)
    The path can also include search parameters which would allow navigating between CustomPages, and pass a reference; example: goToPath('/view?id=1234')"

I don't know what that means. Can you figure out what text he wants to update and

[2022-10-24 16:32] Mottie commented on #48526
@laucon Sorry I wasn't clear. I was suggesting this change to `goToPath`:

The item, "The path can also... ", is added before the last item

[2022-10-24 16:41] michelle-dooley commented on #48555
It shows you have access.  Can you see this...https://console.cloud.google.com/bigquery?project=vsp-analytics-and-insights&ws=!1m4!1m3!3m2!1svsp-analytics-and-insights!2splatform_vanotify

[2022-10-24 16:44] ericasauv09 opened #48645 "[PM] Onsite Notifications: Update Post Launch Metrics (2-months)"
## Background
Update Onsite Notification metrics in the [MVP Project Outline](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/identity-personalization/onsite-notifications/mvp#measuring-success) once we are at the one month post launch date. We launched to 100% on 10/24 so we should update the outline on or after 12/24.

## Tasks
- [ ] Pull metrics from GA and ad

[2022-10-24 16:49] oseasmoran73 commented on #45349
https://depo-platform-documentation.scrollhelp.site/developer-docs/benefits-gateway-service

https://grafana.vfs.va.gov/d/000000032/forward-proxy?orgId=1

https://grafana.vfs.va.gov/d/sZP0EYh7z/bgs?orgId=1

[2022-10-24 16:51] cris-oddball commented on #48555
Yes! Thanks so much.

[2022-10-24 16:53] eunicegar commented on #48626
done.

[2022-10-24 16:53] #48626 closed

[2022-10-24 16:54] jwoodman5 opened #48646 "Research Medallia Reports for VFS Team Engagement"
## Issue Description
_We have a lot of meaningful data being captured through our Medallia surveys and want to increase engagement with VFS teams who's product can be improved through understanding what Veterans like and don't like about those products._

---
## Tasks
- [x] _Research Medallia report in their UI_
- [x] _Identify which report(s) can be most valuable to share with VFS teams_
- [ ] _U

[2022-10-24 16:55] laucon commented on #48526
@Mottie Understood. ok. thank you so much. @theodur @npeterson54 so, are you ok with this edit? I've highlighted the text I want to add. It's just me adding 1 single line.

Before:
<img width="1784" alt="Screen Shot 2022-10-24 at 12 51 03 PM" src="https://user-images.githubusercontent.com/14806304/197581947-270a9bca-e94e-4323-9f36-91f97ff21d33.png">

After:
<img width="1788" alt="Screen Shot 2022-

[2022-10-24 16:56] RLHecht commented on #48350
Will keep this ticket open until we follow up with the product team about the decision reviews/appeals question we are discussing in our sync with Danielle.

[2022-10-24 16:56] pscruz opened #48647 "Test"

[2022-10-24 16:57] #48647 closed

[2022-10-24 16:59] jhouse-solvd commented on #47973
These docs may be useful:

- https://docs.datadoghq.com/integrations/amazon_route53/
- https://www.datadoghq.com/blog/monitor-dns-with-datadog/

[2022-10-24 16:59] laurwill commented on #41493
And more updates! Edward and Tarsha explained that their office is promoting the online option specifically to Veterans who have been living overseas. If these Veterans don't already have a verified account, the only account type they can create with a foreign address is ID.me.

So we agreed to add a note on the VHIC page noting that if you live outside the U.S. and don't already have one of the s

[2022-10-24 17:20] LindseySaari opened #48648 "EKS Testing Concerns"
# Problem Statement

## Problem 1 - Param store values
We should create tests to ensure the most critical values, between BRD and EKS, are in sync. As we are in a migration state from BRD to EKS, both deployments exist simultaneously. We currently have an [alert via GHA ](https://github.com/department-of-veterans-affairs/devops/blob/master/.github/workflows/k8s-settings-prompt.yml) that triggers a

[2022-10-24 17:28] alyssagallion commented on #47831
With leadership.

[2022-10-24 17:28] alyssagallion commented on #47831
With leadership.

[2022-10-24 17:36] jwoodman5 opened #48649 "Generate Login Related Keywords Report"
## Issue Description
_Since login activities can happen many different pages on VA.gov, a standard user survey report segmented by URL (directory) is not likely helpful when looking for login related user survey feedback. This effort is to generate a report specifically for the Identity team using several login specific URLs along with login keywords pulled from text feedback responses._

---
## T

[2022-10-24 17:39] Eallan919 commented on #48232
Started a convo with LH folks although that is not proving as fruitful. Marci is our go to person atm. Which, Pat and Tricia are syncing with her. Closing this out.

[2022-10-24 17:39] #48232 closed

[2022-10-24 17:41] Samara-Strauss commented on #48243
Great job, @aagosto90!

- I think you can leave the warm-up questions since they influence the rest of the convo guide.

A couple things on this question:

- Is the plan to ask it more than once if they do multiple things online (eg. check appointments, check claim status, etc)?
- I would frame this as "You said you go online to check X..." instead of making it exclusive to VA.gov. People may use

[2022-10-24 17:41] alyssagallion commented on #41908
Currently un-breaking all tests that were broken. Comment mostly for Alyssa to remember.

[2022-10-24 17:42] alyssagallion commented on #48451
Chatting about on engineering meeting tomorrow and scoping out afterward.

[2022-10-24 17:42] pscruz opened #48650 "MHV Coordinators in-person proofing (and remote video)"
## Product Outline
[Link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/product-management/product-outline-template.md)

## High Level User Story/ies
As a _____, I need _____ so I can _____.

## Hypothesis or Bet
**If** _we make this change_ **then** _we expect this to happen_.

## OKR
_Which Objective / Key Result does this epic push forward?_

## Definition o

[2022-10-24 17:45] jwoodman5 opened #48651 "Create and Implement New Support Coverage Plan"
## Issue Description
_We have had a general support ownership coverage plan in the past, but with new team members and working practices in place now, we need an new, more comprehensive coverage plan created and implemented_

---
## Tasks
- [ ] _Create support (tier 2, tier 3, AVA, inbox) coverage plan_
- [ ] _Document new coverage plan in Confluence_
- [ ] _Reference & link new coverage plan in T

[2022-10-24 17:47] ianpsant opened #48652 "Collaboration Cycle for Virtual Agent Chatbot - Move the Chatbot"
## VFS product information

### VFS team name

Virtual Agent

### Product name

Chatbot

### Feature name

Move the Chatbot

### GitHub label for product

Virtual-Agent

### GitHub label for feature

_No response_

## Kickoff questions

<details><summary>Toggle kickoff questions</summary>

### When did/will you start working on this product/feature?

Q1 2023

### Will your work result in visible c

[2022-10-24 17:51] jwoodman5 opened #48653 "Tier 3 Tracking Process"
## Issue Description
_In order to optimize our tier 3 support handling, we need to be able to track the process._

---
## Tasks
- [ ] _Document our tier 3 tracking process in Confluence_
- [ ] _Identify any gaps to tracking data and include in document (potential work needed)_

## Acceptance Criteria
- [ ] _Tier 3 tracking process is documented in Confluence_
- [ ] _Trackable and untrackable metri

[2022-10-24 17:52] Eallan919 opened #48654 "FEDRAMP Approved Tech & Findings"
I want to see if there are any other FEDRAMP approved solutions our team should research as a way for users to sign and submit an official VA Form.

https://marketplace.fedramp.gov/#!/products?sort=productName&status=Compliant

Findings:

DocuSign- Authorized
[Adobe Acrobat Sign for Government ](https://blog.adobe.com/en/publish/2022/06/06/adobe-reaches-public-sector-milestone-with-fedramp-moderat

[2022-10-24 17:53] #48203 closed

[2022-10-24 17:53] Eallan919 commented on #48255
@charleystran any updates? Pls add here!

[2022-10-24 17:54] Eallan919 commented on #48295
@tbaker1026 do we need an engineer to do this? If yes, we can get J or C on it! LMK

[2022-10-24 18:06] patrickvinograd commented on #48597
Fixed via above PR

[2022-10-24 18:06] #48597 closed

[2022-10-24 18:07] jenniemc commented on #45582
here is the screenshot when the request is disabled.
<img width="295" alt="Screen Shot 2022-10-24 at 10 56 07 AM" src="https://user-images.githubusercontent.com/54327023/197595339-2386669b-d52c-4631-8517-567a96f129ab.png">

[2022-10-24 18:13] briandeconinck commented on #47915
@CherylEvans @sterkenburgsara This is ready for PR! A couple of notes:
- The [draft form for generating the accessibility testing artifact](https://github.com/briandeconinck/a11y-artifact-discovery/issues/new?assignees=briandeconinck&labels=a11y-testing&template=a11y-artifact.yaml&title=Accessibility+Testing+for+%5BTeam+Name%2C+Product+Name%2C+Feature+Name%5D) is available in a personal GitHub rep

[2022-10-24 18:17] allison0034 opened #48655 "Midpoint Review - Design Feedback - Authenticated Experience, My VA, Audit UX Improvements"
## VFS acceptance criteria
- [ ] Let Platform know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
-

## Feedback
- Practice areas will document their feedback following the [Must, Should, and Consider Framework](https://depo-platform-documentation.scrollhelp.site/collaboration-c

[2022-10-24 18:17] andaleliz commented on #48410
We reviewed three options (screenshots below, [link to Mural](https://app.mural.co/invitation/mural/vsa8243/1666560614852?sender=lizlantz1528&key=c2645042-710b-4a4a-b48b-8bc8a6cafed7)). Ultimately, we feel option 3 is the best UX, but want to pursue moving forward with option 1 for now, since we know the notification settings page will grow in complexity and we'll have more opportunity to test a b

[2022-10-24 18:17] #48468 closed

[2022-10-24 18:19] #47602 closed

[2022-10-24 18:24] shiragoodman opened #48656 "Data available to researchers"
## User Story
As a VFS team researcher, I want to know what data is already available to teams supporting VA.gov so that I am able to access that data easily and do not waste my time trying to capture it on my own.

Assignee:
Peer Reviewer:

## Description
_What details are necessary for understanding the specific work or request tracked by this issue?_

## Impacted Artifacts

## Tasks
- [ ] _Plac

[2022-10-24 18:36] kristenmcconnell commented on #48058
Posted [current list](https://dsva.slack.com/archives/C02GXKL8WM6/p1666636518154709) in Slack to have Shawn Adams review.

[2022-10-24 18:38] ericasauv09 commented on #47522
Looks like the new changes don't match exactly with the sketch files - this is for user 15:
Sketch file ![Screen Shot 2022-10-24 at 14.37.37.png](https://images.zenhubusercontent.com/62571b850845ac72a9917e8e/22b228ca-5c13-4dcf-a6e0-64cd7d96b631)

Staging:
![Screen Shot 2022-10-24 at 14.36.24.png](https://images.zenhubusercontent.com/62571b850845ac72a9917e8e/92ca3c84-5e27-45df-b9d3-485921e835cb)

[2022-10-24 18:44] ericasauv09 commented on #48038
I got an error while validating with user 36 and it looks like this issue was fixed properly:
![Screen Shot 2022-10-24 at 14.34.05.png](https://images.zenhubusercontent.com/62571b850845ac72a9917e8e/1680a097-91ee-4d19-bd0e-1c4466fa2a05)

[2022-10-24 18:45] vbellissimo opened #48658 "Bypass Schema Form: Content Recommendation"
Tasks:

- [x] Review the support request ticket details: https://github.com/department-of-veterans-affairs/va.gov-team/issues/48526
- [x] Review any existing content on the Platform website related to this new documentation
- [x] Document questions for SME ahead of time (where in the IA, etc.), communicate any of our own suggestions
- [x] Reached out to Platform SME

[2022-10-24 18:47] golavarr-va opened #48659 "Offboarding of Brent Schneider"
# Instructions
Fill out name of individual and *Description* section below.

*(Please add only one individual per form)*

# Description
Please provide the following information about the individual being offboarded:
- name:

- team name:

- role on team:

- expected last day: _(MM/DD/YYYY)_

- company they work for:

- email: _(Multiple emails listed in order of relevance to VA business, VA, Compa

[2022-10-24 18:49] aagosto90 commented on #48243
Hey @Samara-Strauss  - thank you so much for reviewing and sending this feedback along!

- Good point that many veterans we speak to don't use VA.gov and we want to know if they'd be able to find what they look for on MHV and eBenefits, on My VA. I changed the language in this question.
- Very fair points about the education and training section. I thought we might want to know if these links are

[2022-10-24 18:50] vbellissimo opened #48660 "Bypass Schema Form: Follow up with Platform SME"
Tasks:

- [x] If necessary, follow up with the Platform SMEs regarding this recommendation to the content changes of this ticket: https://github.com/department-of-veterans-affairs/va.gov-team/issues/48526

SMEs for this ticket are: : Pat Siebenlist, Tricia Baker, Nick Sprinkle

[2022-10-24 18:53] vbellissimo opened #48661 "Cypress Axe Testing: Follow up with Platform SME"
Tasks:

 Follow up with Platform SME (Peter Hill, Joe Tice) regarding this ticket: https://github.com/department-of-veterans-affairs/va.gov-team/issues/46963

[2022-10-24 18:54] vbellissimo opened #48662 "Keyboard testing helper: Follow up with Platform SME"
Tasks:

- [ ] Follow up with Platform SME (Peter Hill, Joe Tice) regarding this ticket: https://github.com/department-of-veterans-affairs/va.gov-team/issues/46964

[2022-10-24 18:55] shiragoodman commented on #47915
hey @briandeconinck i did a quick overview (I will do a more detailed review once Cheryl completes hers) and I have only 1 comment at this time. Please add numbers to each of H2 section. For example, "1. Introduction", "2. Before you begin" etc. I think it'll just be easier to read and navigate, and to reference in the future. If you disagree, please let me know and we can discuss. I also think we

[2022-10-24 19:00] heyjoni opened #48663 "Remove search best bet for 1990N form"
# Template Instructions
- You are here to creation or change a Best Bet on VA.gov pages.
 -  Select Request Type:
    - [ ] NEW: You would like to create a new best bet
    - [x] CHANGE: You would like to change an existing best bet
- Complete the corresponding section below to provide the relevant details  *(Section 1- New Request or Section 2-Change Request)*
- Post a link to this issue in Slack

[2022-10-24 19:02] briandeconinck commented on #47915
@shiragoodman Numbers added! I agree, that's going to make referencing sections easier with teams.

I have done a quick check of what a submitted issue will look like and I think it will be clear enough and useful enough to me (and to the team that may want to go back to reference it). But we'll check again when Cheryl and Sarah do their test run.

[2022-10-24 19:03] outerpress commented on #45582
Thank you @jenniemc ! From our chat today where you answered my questions:

The error looks the same.

The link doesn't do anything, it's broken.

FYI @ldelacosta

[2022-10-24 19:03] #45582 closed

[2022-10-24 19:04] #30790 closed

[2022-10-24 19:07] PSIEBENLIST commented on #48224
V1 complete
V2 in progress

[2022-10-24 19:10] jessecanderson commented on #48212
Trying to deep dive into Formik and how `handleSubmit` vs `onSubmit` works and how to get responses or a status from these to built in callbacks.

[2022-10-24 19:11] shiragoodman commented on #46540
@denisecoveyduc do you have a product label? I thought `vsa-debt` was your team label, not product label. Please let me know!

[2022-10-24 19:16] tmitchellgcio commented on #48002
CI looks fine. Don't know what Tugboat is. That's new, but I think this is fine. Code LGTM. We just have to wait until @mdewey takes it out of Draft and I can Approve it.

[2022-10-24 19:19] RLHecht commented on #48157
Per our check-in with Danielle, for now we are going to remove the link on the eligibility page under the list of conditions since it's currently being redirected to the wrong page. We also need to add "such as" the lead-in sentence for the second group of bullets. @aliyahblackmore could you go in and make these changes? Thanks!

[2022-10-24 19:20] laucon commented on #47630
@jhouse-solvd I have now deployed this doc. So I am going to close the ticket. If there are any other links that you or Mike see that need to be resolved, just let my team know. Thanks!

[2022-10-24 19:20] #47630 closed

[2022-10-24 19:27] katherine-fung commented on #47188
Hi  @bethpottsVADEPO --

I was thinking of the SME's feedback about the Supplemental Claims page.

In the "Is a Supplemental Claim the right decision review option for me?" alert, what do you think of saying:

"A Supplemental Claim might be the right choice if you meet both of these requirements." [currently says: "is the right choice"]
...
Note: You can also request a Board Appeal if you have new

[2022-10-24 19:30] laurwill commented on #41493
@katherine-fung per chat with Danielle, can you try adding the content from the draft accordion section on the [Verifying page](http://preview-prod.vfs.va.gov/preview?nodeId=8233) to the VHIC page? We may want a jump link from a note just under the AccessVA link — see what you think when you get into Drupal.

This will be sort of "manual" reusable content, with the expectation that we can eventual

[2022-10-24 19:36] Eallan919 commented on #48654
**Initial Discovery and Findings**

Assumptions
 - We do not want to utilize a tech stack or solution that is not already FEDRAMP approved as we know the approval process takes considerable amount of time.
- VA business units utilize DocuSign however, we understand there are [higher barriers to entry](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/find-a-va-form

[2022-10-24 19:42] oseasmoran73 commented on #45349
Compiled a list of questions and reached out to John (found in the document). Waiting to hear back if he is corerct POC

[2022-10-24 19:44] MarciMcGuire opened #48664 "[EPIC] MHV to VA.gov: MR: General: Technical Discovery"

[2022-10-24 19:45] little-oddball commented on #48362
Seems like we are missing a bunch of details around requirements and acceptance criteria, etc.. @mchelen-gov is this something you can add so this ticket can be in a good place for team grooming. Thanks!

[2022-10-24 19:45] taylojill commented on #46963
Hi @shiragoodman! I noticed the governance team label was added. Let us know if we can assist in any way.
cc @vbellissimo

[2022-10-24 19:46] #45213 closed

[2022-10-24 19:47] MarciMcGuire opened #48665 "[EPIC] MHV to VA.gov: MR: General: Low-fi design & refinement"

[2022-10-24 19:47] ianhundere commented on #42770
https://github.com/department-of-veterans-affairs/va.gov-team/issues/47100

[2022-10-24 19:49] MarciMcGuire opened #48666 "[EPIC] MHV to VA.gov: MR: General: Hi-fi design and technical feasibility"

[2022-10-24 19:49] taylojill commented on #48661
10/24/2022 - The Governance team label was added to ticket #46963. Follow-up message sent to Shira.

[2022-10-24 19:49] #48661 closed

[2022-10-24 19:55] sterkenburgsara opened #48667 "Midpoint Review - IA Feedback - [Authenticated Experience, My VA, Audit UX Improvements] #42601"
## VFS acceptance criteria
- [ ] Let Platform know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
-

## Feedback
- Practice areas will document their feedback following the [Must, Should, and Consider Framework](https://depo-platform-documentation.scrollhelp.site/collaboration-c

[2022-10-24 19:57] andreahewitt-odd opened #48668 "Link to confluence"
[Current Forms Library Audit: Features, definitions, components, fields](https://vfs.atlassian.net/wiki/spaces/FLT/pages/2031812688/Current+Forms+Library+Audit%3A+Features%2C+definitions%2C+components%2C+fields+-+FLT) on [this page](https://depo-platform-documentation.scrollhelp.site/developer-docs/va-forms-library-overview) links to confluence.

### Relevant URLs
https://depo-platform-documentati

[2022-10-24 20:02] pscruz opened #48669 "Non-Veteran user roles focusing on Caregivers, Beneficiaries, and Delegates"
There are hosts of non-Veteran users that would require Login.gov and related identity proofing. Currently there are no VA-wide agreed upon definition of these users or clarity on their use cases and needed levels of access. The primary user roles to investigate are delegates, caregivers, and beneficiaries.
These individuals will need the ability to identity proof in person at VA facilities.

## P

[2022-10-24 20:03] pscruz opened #48670 "Migration of legacy CSP users to Login.gov"
There is an opportunity to bind an LOA2 VA credentials to Login.gov IAL1 so it can at least be used within VA without requiring initial additional identity proofing. The end goal is to simplify the migration process for existing users.

## Product Outline
[Link](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/login.gov-adoption/products/legacy%20CSP%20migrations)

[2022-10-24 20:04] jwowk commented on #47903
Shane provided RPC info, Rob to work

[2022-10-24 20:04] jwowk commented on #42504
Ongoing

[2022-10-24 20:04] pscruz opened #48671 "Pilot Security keys as an MFA option distributed during in-person proofing"
Some users struggle with using Multi-Factor Authentication. Could MHV
Coordinator provide these users with security keys as an alternative?

## Product Outline
[Link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/product-management/product-outline-template.md)

## High Level User Story/ies
As a _____, I need _____ so I can _____.

## Hypothesis or Bet
**If** _w

[2022-10-24 20:05] pscruz opened #48672 "TAP curriculum evaluation"
The TAP curriculum is out-of-date when it comes to login for VA services and
benefits. It should be updated to remove DS Logon and encourage users to
use Login.gov from the start. This area has unknowns, a lack of contact
points and relationships, and a lack of general knowledge.

## Product Outline
[Link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/product-m

[2022-10-24 20:06] ericasauv09 commented on #48155
@laurwill thank you so much for your feedback, here are the changes we will be making:

1. We will be updating all links that mention "view" to "review."
2. We will also update the GI Bill information to be capitalized.
3. We are going to look into what other types of benefits users may be able to apply for, we are unsure if we can be more specific here.
4. We cannot update the Claims/Appeals stat

[2022-10-24 20:07] bramleyjl commented on #48451
Updated Work Order

1. Remove UserIdentity entirely from User attribute sourcing
2. Reduce SSOe flow to use as few attributes as necessary to query MPI (perhaps just ICN)
3. Shrink UserIdentity class to its bare minimum of attributes
4. Reduce UserIdentity usage to just MPI querying & pre-authentication attribute management

[2022-10-24 20:07] jwowk commented on #43915
Scan occurred week of 10/17, waiting for findings.

[2022-10-24 20:07] taylojill commented on #48662
Hi @pjhill  Let us know if we can assist in any way.
cc @vbellissimo

[2022-10-24 20:08] #47951 closed

[2022-10-24 20:08] pscruz opened #48673 "Onboarding"

[2022-10-24 20:09] taylojill commented on #46964
Hi @pjhill! Let us know if we can assist in any way.
cc @vbellissimo

[2022-10-24 20:09] MarciMcGuire opened #48674 "[EPIC] MHV to VA.gov: MR: General: Usability testing & refinement"

[2022-10-24 20:10] jwowk commented on #43914
Rob working on instructions for Ambas

[2022-10-24 20:10] Samara-Strauss commented on #48243
Great! That's what I suspected but wanted to confirm. Thank you for letting me know!

Sounds good to me!!

Great work!

[2022-10-24 20:11] taylojill commented on #48662
10/24/2022 - Follow-up message sent to Peter Hill.

[2022-10-24 20:11] #48662 closed

[2022-10-24 20:13] dmkosko commented on #45134
Added products from the Product Directory to our spreadsheet to compare the two lists

Added in forms that are associated with products (need a second set of eyes to review)

[2022-10-24 20:13] denisecoveyduc commented on #46540
@shiragoodman you are correct. Just added the Combined Debt Portal Label - `CombinedVADebt`

[2022-10-24 20:14] denisecoveyduc commented on #48663
@mnorthuis looks like we need to update the template.. still shows John and I as primary contact for best bets.

[2022-10-24 20:15] megzehn commented on #48230
Thank you, @aliyahblackmore! Confirming that this page is published.

CC @RLHecht

[2022-10-24 20:17] jwowk commented on #43914
Andy is using some of the new servers for VistA API. Cannot migrate until those are migrated to new servers.

[2022-10-24 20:21] djfredvs opened #48675 "11/09/22 3 PM AVS Open Office Hour"
## Description
Every week the product support team hosts a bi-weekly office hours to advertize or demo new or existing features, communicate updates to our users, and hold an open forum to answer questions from users live.

---

## Agenda
What is the agenda for office hours?
Including Meds/Allergies in AVS Stub Note
Privacy Guidance on AVS/PVS (Dr. Maureen Layden)
Update on Park Prescriptions (Dr.

[2022-10-24 20:28] briandeconinck opened #48676 "Midpoint Review - Accessibility Feedback - Authenticated Experience, My VA, Audit UX Improvements"
## VFS acceptance criteria
- [ ] Let Platform know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
- On the discussion about placing secondary links in the right-hand column on desktop: I think the benefits of a consistent layout (eg. cognitive load, predictability of interaction

[2022-10-24 20:36] it-harrison opened #48677 "Midpoint review - QA Feedback - Authenticated Experience, My VA, Audit UX Improvements"
## VFS acceptance criteria
- [ ] Let Platform know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions

Even if your project requires minimal verification of functionality, it is prudent to develop a test plan that ensures quality is baked into your product. You need to develop a tes

[2022-10-24 20:41] ph-One opened #48678 "[DataDog] Eval/Setup Monitoring for SSL Certificate Expiration"
# Description
As a platform engineer Datadog monitors and alerts for SSL certificate expiration

# Acceptance Criteria
- [ ] Monitor is created for SSL certificate expiration
  - [ ] api.va.gov
  - [ ] dev-api.va.gov
  - [ ] staging-api.va.gov

# Notes
- Alert if the certificate expires within 30 days
- https://vagov.ddog-gov.com/monitors/100292 for reference

[2022-10-24 20:45] SKasimow commented on #48460
Looks good @cgednalske! Are you adding to CC guide or should I do that?

[2022-10-24 20:49] SKasimow opened #48679 "PM | Profile | BAI | Analytics for Address Updates"
## Background

We have a widget set up in Google Analytics that tells us the number of times the BAI message is viewed on the Profile and Contact pages as well as CTR for the link in the modal for the Profile page.

This ticket is to research how/if we can also determine how many address updates were made after viewing the BAI modal(s).

## Tasks
- [ ]

## Acceptance Criteria
- [ ]

[2022-10-24 20:51] megzehn commented on #45746
Confirming that these have all been copyedited, but I'm holding in drafts.

Thanks for updating the month and days for the disability claim number, @aliyahblackmore.

[2022-10-24 20:56] shiragoodman commented on #47720
Ray's feedback: "I would prefer the 1, 2, 3 months be individual bars. the bar after 3 month should be 4-6 months grouping."

Change made.

[2022-10-24 20:57] shiragoodman commented on #47720
![image.png](https://images.zenhubusercontent.com/5f62315e822e9b2aa88b1f1c/14d0b553-3267-403e-a980-5d16232e19dd)

[2022-10-24 21:00] shiragoodman commented on #47720
Create pie chart with percentages of days to close issue tickets.

[2022-10-24 21:06] jhouse-solvd commented on #47630
Thank you @laucon! ☺️

[2022-10-24 21:06] shiragoodman opened #48680 "Create pie chart with percentages of days to close issue tickets."
Create pie chart with percentages of days to close issue tickets.

_Originally posted by @shiragoodman in https://github.com/department-of-veterans-affairs/va.gov-team/issues/47720#issuecomment-1289610590_

[2022-10-24 21:09] mmiddaugh commented on #48041
@shiragoodman is there any feedback from Design or Accessibility?

[2022-10-24 21:10] bethpottsVADEPO commented on #47188
@katherine-fung
1/ That's a great suggestion! Let's use "may" though since that aligns with our voice and the meaning is a bit more positive/definitive than "might." From what I've read on the distinction between the two, the word "may" implies that this is likely the right choice whereas "might" implies that it's unlikely the right choice. Sort of like, this might or might not be the right choice

[2022-10-24 21:10] jhouse-solvd commented on #32790
I can pick this up and start the doc. I'll get feedback from those familiar w/ the process to ensure accuracy.

[2022-10-24 21:12] shiragoodman commented on #48041
Have you seen the IA and QA feedback?

[2022-10-24 21:13] mmiddaugh commented on #48041
my view isn't showing any linked issues...I'll look for them another way. Thank you for the heads up

[2022-10-24 21:14] #47537 closed

[2022-10-24 21:18] shiragoodman commented on #48041
I know a lot of folks have been having issues with ZenHub lately. You should be added as an assignee to the feedback tickets so you can easily find. You can filter on the `collab-cycle-feedback`, `sitewide` and `VA.gov homepage` labels.

[2022-10-24 21:34] jenniemc commented on #45582
@outerpress, Happy to walk through the alert screens anytime.

Assuming the user wants to go by the way of a request flow, he will not see the error message. Instead, he will receive a warning message that facility does not allow online request.
<img width="295" alt="Screen Shot 2022-10-24 at 10 56 07 AM" src="https://user-images.githubusercontent.com/54327023/197630719-4c4eeb93-9400-42b2-bc20-ae0

[2022-10-24 21:36] #44387 closed

[2022-10-24 21:40] ldelacosta opened #48681 "Update the comment field on Choose your reason for appointment page"
## Description
The VA request flow service is changing from Scheduling Manager to Acheron. With the new Acheron changes, the comments field has increased to 500 characters. We will increase the user's comment on the Choose your reason for appointment page from 100 characters to 250.

Current:
<img width="387" alt="Screen Shot 2022-10-24 at 5 36 34 PM" src="https://user-images.githubusercontent.com

[2022-10-24 21:41] vbahinwillit commented on #47253
Answer the following questions:
Q1: Do we need to update the FE and/or BE code?
A1: Yes, since the 'isCerner' flag will be deprecated 12/1/2022

Q2: What is the recommendation/plan for the initiative? Please provide a comparison of current code versus proposed code.
A2: All changes will be behind the 'vaOnlineSchedulingAcheronService' feature flag. The function, 'connectDrupalSourceOfTruthCerner'

[2022-10-24 21:49] ldelacosta opened #48682 "Update the VAOS FE code (va_online_scheduling_use_dsot) - IsCerner changes"
## Description
Public Website team plans to deprecate the [file](https://github.com/department-of-veterans-affairs/vets-website/blob/main/src/platform/utilities/cerner/index.js) that our `isCerner` flag references. VAOS FE code uses the `isCerner` flag to determine if the Veteran is associated with a VAMC facility that uses Cerner or Vista.

When the facility uses Cerner (the name of the facility

[2022-10-24 22:39] jhouse-solvd commented on #32790
Document [HERE](https://vfs.atlassian.net/wiki/spaces/OT/pages/2418507777/Monitor+SSL+TLS+Certificate+expiration)

[2022-10-24 22:46] rbsingleton opened #48683 "MyHealth: MHV to VA.gov: Collect interview data"
## 🌟 Problem Statement
We need to interview 18-24 individuals, either Veterans or Caregivers, according to the recruitment criteria outlined in this [research plan](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/digital-health-modernization/mhv-to-va.gov/medical-records/research/2022-10_Generative-research/2022-10-medical-records-research-plan.md)

#

[2022-10-24 23:00] tbaker1026 commented on #48257
Got access to the Domo

[2022-10-24 23:00] #48257 closed

[2022-10-24 23:00] #48315 closed

[2022-10-24 23:05] #48608 closed

[2022-10-24 23:05] starlow00 commented on #48609
For this sprint, working on KM 5889—ID.me Resources, Member Support, and Response

[2022-10-24 23:14] #38735 closed

[2022-10-24 23:14] #46375 closed

[2022-10-24 23:14] mmiddaugh commented on #46710
@megzehn
To be copy edited, please

- [ ] Des Moines Vet Center

[2022-10-24 23:15] #39834 closed

[2022-10-24 23:16] #48582 closed

[2022-10-24 23:49] charleystran opened #48684 "Autofill 10-10d form from forms library submit"
We currently have show that we can create a submit from the form system core, as we as autogenerate stub code to receive it on the api side. The next thing to attempt, as we are figuring out which forms have APIs and which ones will be uploaded to either Central Mail or VBMS. Is to take the data send from the front end and fill the current 10-10d out with it.

[2022-10-25 00:31] ldelacosta opened #48685 "Update the email field on Confirm your contact information page - VA Request, Direct Scheduling & Community Care flow"
## Description
We will need to update the alerts for the email field on the Contact Information page in VAOS for direct scheduling, VA and Community Care request flow.

Direct Scheduling and VA Request Contact Info page: ![Screen Shot 2022-11-02 at 9.56.58 AM.png](https://images.zenhubusercontent.com/615208f37e69549d6e01d915/60c29369-410f-4462-bf44-ce00324b7c82)

Community Care Contact Info page:

[2022-10-25 01:12] tbaker1026 commented on #48295
@humancompanion-usds not sure if we want to add the central mail # to airtable as another reference point for submissions - if not I can close this ticket.

[2022-10-25 01:45] jkwontheso commented on #48651
@jwoodman5 Once Ervin gets added to this story (I might refer to story as issue at times, sorry in advance) I'll provide whatever support I can.

[2022-10-25 02:48] theodur commented on #48526
@laucon Hi Lauren, there's a new team that manages the forms library. They would probably be the best people to ask. I believe you can reach them in [#forms-library](https://dsva.slack.com/archives/C862Q82UQ) but I'm tagging @PSIEBENLIST @tbaker1026 & @ndsprinkle for reference.

[2022-10-25 03:29] tlei123 opened #48686 "[QA-internal] Develop new custom Cypress reporter for TestRail"
Develop new Cypress custom-reporter for TestRail, that is leaner and customized for our Cypress and TestRail configurations.

## Problems

- Current custom-reporter:
  - does not consistently post results to TestRail.
  - is not actively maintained.
- Other 3rd-party custom reporters do not support:
  - our single-spec run-and-post process.
  - our TestRail projects/suites setup.
  - our Cypress s

[2022-10-25 11:25] ph-One commented on #47981
@alexandec (AWS ASG Total Instances) https://vagov.ddog-gov.com/monitors/98620 - Try and use a title that indicates what the issue is. For example, "Platform - AWS ASG Runaway Scaling"

![image.png](https://images.zenhubusercontent.com/622146ffd0422cdb4d9fdd52/78c1dd74-fd7e-48b2-bc30-0a28fef208c8)

[2022-10-25 11:31] ph-One commented on #47981
@alexandec For ASG, see if you can create a monitor showing the % of the ASG being used. This would fall under Utilization. Possible settings could include a warning at around 80%, and an alert at 95%

[2022-10-25 11:35] ph-One commented on #47981
@alexandec You can do away with "Alert: Platform - AWS ASG Instances In Service," as this is more informational. You _could_ however, look into creating a monitor that is somewhat the inverse of this one to make sure that ASGs always have at least one healthy instance In Service

[2022-10-25 11:38] ph-One commented on #47981
@alexandec (Platform - AWS ASG Instances Failing Status Checks) https://vagov.ddog-gov.com/monitors/98636 Can you make this one a bit more aggressive. Something more close to a warning at 3 and alert at 5

[2022-10-25 12:59] Eallan919 opened #48687 "Spike: Learn more about Adobe Sign for Government"

[2022-10-25 13:09] Eallan919 commented on #48687
Attached to https://app.zenhub.com/workspaces/vagov-product-team-forms-634853151f5c6000165942bc/issues/department-of-veterans-affairs/va.gov-team/48654

[2022-10-25 13:15] #46247 closed

[2022-10-25 13:15] #47849 closed

[2022-10-25 13:28] michelle-dooley commented on #47093
@benbrasso-agile6 - going to close this ticket unless there is anything else you need?

[2022-10-25 13:35] mviterna opened #48688 "AWS access for Aaron Hietpas"
### COR Name

Cecila Lee

### Vendor Onboarding Representative Name

Liberty IT -  Michael G. Lovejoy

### Your Name

Aaron Hietpas

### Your Email

 Hietpas_Aaron@bah.com

### Team, Role, and Company of the target individual

Ninja Pigs

### Product Manager (PM) name and email

Nichole Harris - Harris_Nichole@bah.com

### Product Owner (PO) name and email

Janet Coutinho janet.coutinho@va.gov

##

[2022-10-25 13:36] #48243 closed

[2022-10-25 13:37] michelle-dooley commented on #48659
No GA or Domo.

[2022-10-25 13:38] michelle-dooley commented on #48643
No Domo or GA.

[2022-10-25 13:40] michelle-dooley commented on #48631
Domo removed.  No GA.

[2022-10-25 13:40] shiragoodman opened #48689 "Midpoint Review - VAOS - Appointment List feature"

[2022-10-25 13:40] #48689 closed

[2022-10-25 13:42] shiragoodman opened #48690 "Design Intent - 10-10 team - Household Information Optimization"

[2022-10-25 13:42] #48690 closed

[2022-10-25 13:43] michelle-dooley commented on #46893
Access granted.

[2022-10-25 13:43] #46893 closed

[2022-10-25 13:45] michelle-dooley commented on #46383
Access granted.

[2022-10-25 13:45] #46383 closed

[2022-10-25 13:46] benbrasso-agile6 commented on #44383
Added to research repo and messaged in Slack thread. Closing

[2022-10-25 13:46] #44383 closed

[2022-10-25 13:47] shiragoodman opened #48691 "Midpoint Review - Authenticated Experience - Audit UX improvements"

[2022-10-25 13:47] #48691 closed

[2022-10-25 13:54] shiragoodman commented on #42147
This work is partially complete and will be put on hold. The output of this ticket includes the creation of a [MURAL board](https://app.mural.co/t/adhoccorporateworkspace2583/m/adhoccorporateworkspace2583/1665500955936/2b8194ca7d65654651b03be8c5cbc757728ca74b?sender=u0574179b1d97118ccc0e3591) that ranks all of our confusing terminology by frequency of use and ambiguity. Screenshot of MURAL below f

[2022-10-25 13:54] #42147 closed

[2022-10-25 13:55] michelle-dooley commented on #47442
Thank you for the info.  I will get this added to our upcoming sprint.

[2022-10-25 13:57] michelle-dooley commented on #42360
Updating comment with link to [slack convo](https://dsva.slack.com/archives/CPE4AJ6Q0/p1664476042250179)

Pending items:

1- Detailed list of additions/changes you are requesting added to the GH ticket as Chloe references above.
2. FSR implementation ticket to be completed.

Once we have this information we will discuss what we can add as part of the MVP and what will need to be part of a new v2 r

[2022-10-25 14:00] #48487 closed

[2022-10-25 14:11] shiragoodman commented on #48107
Backfill missing GitHub team name information in VFS Team Roster.

[2022-10-25 14:11] shiragoodman opened #48692 "Backfill missing GitHub team name information in VFS Team Roster."
Backfill missing GitHub team name information in VFS Team Roster.

_Originally posted by @shiragoodman in https://github.com/department-of-veterans-affairs/va.gov-team/issues/48107#issuecomment-1290624001_

[2022-10-25 14:11] benbrasso-agile6 commented on #47443
@kellysmith1008 I had a moment to look at this ticket. Thoughts below. Do you want to give it a review?

Recommend: Go back to your VA appointments

Rationale: While VAOS often uses the "back" breadcrumb (and not a "go back to your appointment list" feature), they do have a call to action of "Go to your VA appointments" that takes Veterans into their appointment list. So, we could amend that.

![S

[2022-10-25 14:12] #48366 closed

[2022-10-25 14:13] #47807 closed

[2022-10-25 14:13] #47806 closed

[2022-10-25 14:15] shiragoodman commented on #48140
@naomimarcussen since both the inclusive research and discovery research tickets are on hold, I am removing the dependencies for them. However, we still need to announce the new synthesis guidance once published.

[2022-10-25 14:17] djfredvs opened #48693 "10/31/22 12 PM AVS Training"
Booked by Lara Carson, Christopher Graves

[2022-10-25 14:26] #3853 closed

[2022-10-25 14:30] RLHecht commented on #48448
@ldelacosta Can you link to the content you want reviewed or provide a little more detail on what support you are looking for from our team? Thanks!

[2022-10-25 14:34] #48659 closed

[2022-10-25 14:36] #47991 closed

[2022-10-25 14:36] rjohnson2011 commented on #47991
Closed & merged the following PR -> https://github.com/department-of-veterans-affairs/vets-api/pull/10980

[2022-10-25 14:36] loripusey commented on #46318
@benbrasso-agile6 were we going to present this to Stephen/Patrick? What was the next step on this one?

[2022-10-25 14:41] benbrasso-agile6 commented on #46318
Yes, @sarahknoppA6 scheduled a meeting and it's on the calendar for Thursday

[2022-10-25 14:44] rmtolmach commented on #48569
/request Camille Lewis

She has no other access listed here besides Slack.

[2022-10-25 14:47] lindsay-insco opened #48694 "[10/29/22] VEText/AVS Tier 3 Escalation Guide"
## Description
To onboard the VNCE Tier 3 team and make escalation of additional issues for VEText and AVS as seamless as possible, the VEText and AVS helpdesk team has been tasked with creating a guide of what is often escalated to Rob, now Tier 3
---

## Acceptance Criteria

- [x] Create draft
- [ ] Review with Team
- [ ] Approved by Justin/Lindsay
---

[2022-10-25 14:47] ph-One commented on #47983
The forward proxy's USE monitors are already handled by the ASG's and EC2's USE monitors. All that is really needed for this work are the RED monitors

[2022-10-25 14:50] ianMcCullough-ob commented on #48162
[Confluence doc has been created](https://vfs.atlassian.net/wiki/spaces/Contact/pages/2419359848/VA411+Sub-Category+and+VFS+Product+Mapping)

[2022-10-25 14:54] rmtolmach commented on #48643
/request Cindy Terdiman

not in confluence
not in VFS roster
✅ removed from socks in https://github.com/department-of-veterans-affairs/devops/pull/12148#pullrequestreview-1154967105
no aws
✅ removed from github org in https://github.com/department-of-veterans-affairs/github-user-requests/issues/13018
no pagerduty
✅ access disabled in datadog
✅ removed from Sentry
not a bot user

[2022-10-25 14:56] rmtolmach commented on #48631
/request Roger Eagans

[2022-10-25 14:57] tpharrison opened #48695 "BE | Profile | Notifications | Multiple Requests Issue"
## Background
There’s a scenario where communication permissions requests are being re-sent multiple times.

More details here - https://dsva.slack.com/archives/C909ZG2BB/p1666709447101449?thread_ts=1666296364.149259&cid=C909ZG2BB

## Tasks
- [x] Investigate and determine root cause.

## Acceptance Criteria
- [x] Determine cause of issue.
- [x] Create tickets for fix.

[2022-10-25 14:58] manalo-soco commented on #48694
@chancetheoriginal  When you can pls past the link to the SOP draft here

[2022-10-25 14:59] jsimonVA commented on #48303
Just an FYI, the education wizard has been updated with the removal of the National Call to Service and will be pushed out this week once the PR is approved

[2022-10-25 15:05] mnorthuis commented on #48663
@heyjoni The best bet for the 1990n that was directing visitors to the online form has been removed.  It was an older best bet and there is an additional one that directs visitors to the find a form landing page that is still live.

@denisecoveyduc I will work with @heyjoni to update this template. Sorry for the noise!

[2022-10-25 15:06] #48663 closed

[2022-10-25 15:06] loripusey commented on #47788
I would think so yes

[2022-10-25 15:09] ph-One commented on #47986
https://vagov.ddog-gov.com/dashboard/9dk-y7n-6vf/platform-monitors-alerts?tv_mode=false&from_ts=1666706951879&to_ts=1666710551879&live=false&tile_focus=2429793893564904

[2022-10-25 15:09] steel36 opened #48696 "[Ongoing Service] - FY2023 Q1 - Provide Service Design support to Platform teams"
### **Problem Statement** ###
VSP teams often need SD support to examine their services or offerings.

How might we offer support on an ongoing basis?

### **Sample Services** ###
Collaboration on shared projects/endeavors
Feedback on Communications
Feedback on new tools and services
Research Requests
Mapping requests

[2022-10-25 15:09] ph-One commented on #47978
https://vagov.ddog-gov.com/dashboard/9dk-y7n-6vf/platform-monitors-alerts?tv_mode=false&from_ts=1666706979785&to_ts=1666710579785&live=false&tile_focus=4172946528074186

[2022-10-25 15:16] joeniquette opened #48697 "Identity - Accessibility Audit"

[2022-10-25 15:18] andreahewitt-odd commented on #48515
@KevinMHoffmanUSDS @LEHigley Any chance I can get an approval?

[2022-10-25 15:21] rmtolmach commented on #48631
no confluence
no vfs
✅ removed from SOCKS in https://github.com/department-of-veterans-affairs/devops/pull/12149#pullrequestreview-1155020818
no AWS
✅ removed from github org in https://github.com/department-of-veterans-affairs/github-user-requests/issues/13024
not in pd
✅ disabled from dd
not in sentry
not a bot user

[2022-10-25 15:25] #46365 closed

[2022-10-25 15:30] ericasauv09 opened #48699 "[PM, Design] My VA Audit UX Improvements: Review Audit Changes with VA Teams For Each Section on My VA"
## Background
To ensure our changes for the VA Audit are consistent with expectations and functionality across Va.gov we want to reach out to or meet with each relevant team per each section on My VA. This will allow each team to review our changes and ensure we are properly presenting information to our users.

## Tasks
- [x] Review with Claims/Appeals team - Benefit team 1
- [x] Review with Heal

[2022-10-25 15:40] clantosswett opened #48700 "[Spike] Incorrect Claims Data Showing"
## Spike open question:

Why are the values in eBenefits different form CST?

## What happened?
A Veteran and VA employee states that his claim data on the VA.gov claims status tool is showing differently than it should. In particular, he states that on eBenefits and the disability ratings page the information is correct but on claims status tool it is incorrect. Specifically the claimed condition

[2022-10-25 15:47] laucon commented on #48668
Hi @andreahewitt-odd Just letting you know that our team has seen this. We will work on trying to figure out the best alternative link or wording to use instead of the confluence link. Thanks for bringing this to our attention. :)

[2022-10-25 15:52] #48107 closed

[2022-10-25 15:53] briandeconinck commented on #48107
@allison0034 Approved and merged the PR.

[2022-10-25 15:56] ajakabcin commented on #48667
Hi @sterkenburgsara! Under the Consider feedback you wrote

Did you mean LOA3 vs LOA1 instead of authenticated users vs unauthenticated users? Unauthenticated users can't access My VA at all, they're immediately prompted to log in. Thanks!

[2022-10-25 16:02] #47453 closed

[2022-10-25 16:08] AGarcia-Clarity commented on #48358
Unit tests complete, In Review

[2022-10-25 16:08] ericasauv09 opened #48701 "[Design] My VA Audit UX Improvements: Copy Updates Based on Midpoint Review Feedback"
## Background
During Midpoint Review we received feedback around some of our copy on the My VA page. Feedback is documented [here](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/my-va/2022-audit/MidpointReview.md). This ticket is to update copy based on content feedback.

Feedback on this topic can be found in these tickets:
* #48624 --

[2022-10-25 16:09] mchristiansonVA opened #48702 "AWS access for Matthew Christianson"
### COR Name

Cecila Lee

### Vendor Onboarding Representative Name

Liberty IT -  Michael G. Lovejoy

### Your Name

Matthew Christianson

### Your Email

matthew.christianson@adhocteam.us

### Team, Role, and Company of the target individual

Dash on Lighthouse, Software Engineer, Ad Hoc

### Product Manager (PM) name and email

Kayla Watanabe, kayla.watanabe@va.gov

### Product Owner (PO) name

[2022-10-25 16:10] loripusey opened #48703 "[FE] Add GA Events for Travel"
## Tasks
- Add the new API events & Yes/No clicks for travel questions to the spreadsheet
- Add the new events to the dashboards?

[2022-10-25 16:11] ericasauv09 opened #48704 "[FE] My VA Audit UX Improvements: Copy Updates to Claims and Appeals Section"
## Background
Based on midpoint review feedback from content on the My VA page we need to update copy in the Claims and Appeals section. Related to design ticket #49701

Feedback on this topic can be found in these tickets:
* #48624 -- Must feedback
* #48155 ([comment](https://github.com/department-of-veterans-affairs/va.gov-team/issues/48155#issuecomment-1288336945))

## Tasks
- [ ] Change all in

[2022-10-25 16:13] #48632 closed

[2022-10-25 16:13] ericasauv09 opened #48705 "[FE] My VA Audit UX Improvements: Update Copy in Healthcare Section"
## Background
Based on Midpoint review feedback from content we need to update the copy in the Healthcare Section of My VA. Related to Design ticket #48701

Feedback on this topic can be found in these tickets:
* #48624 -- Must feedback
* #48155 ([comment](https://github.com/department-of-veterans-affairs/va.gov-team/issues/48155#issuecomment-1288336945))

## Tasks
- [x] Update all instances of "v

[2022-10-25 16:16] ericasauv09 opened #48706 "[Design] My VA Audit UX Improvements: Update LOA1 State Designs"
## Background
During Midpoint Review we received feedback around our design of the LOA1 state on My VA. Feedback is documented [here](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/my-va/2022-audit/MidpointReview.md). This ticket is to update the designs for LOA1 based on content feedback.

Feedback on this topic can be found in these ti

[2022-10-25 16:17] joeniquette opened #48707 "ISAM Prod Cert Change 10/27/22"
Production change over at IAM is 2100 ET on 10/27/22.

- Need to coordinate an OOB deploy
- Instructions can be found here about how to make this change: https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/blob/master/teams/vsp/teams/Identity/How-To/Security/SSOe_certs.md

cert goes live on prod on 10/27

Same as last years change: https://github.com/department-of-veterans-affa

[2022-10-25 16:18] #48569 closed

[2022-10-25 16:18] #48643 closed

[2022-10-25 16:19] #48631 closed

[2022-10-25 16:23] joeniquette opened #48708 "CANCELED**[Ongoing] support of platform Identity services"

[2022-10-25 16:26] katherine-fung commented on #48336
Update: Per Cinda's response, I updated the mailing instructions to say "regional processing office," and removed the note about not qualifying for MGIB.

We're waiting for Cinda's response about the DoD note.

Page: http://preview-prod.vfs.va.gov/preview?nodeId=946

[2022-10-25 16:26] katherine-fung commented on #48336
Update: Per Cinda's response, I updated the mailing instructions to say "regional processing office," and removed the note about not qualifying for MGIB.

We're waiting for Cinda's response about the DoD note.

Page: http://preview-prod.vfs.va.gov/preview?nodeId=946

[2022-10-25 16:26] ericasauv09 opened #48709 "[Design] My VA Audit UX Improvements: Review "What Benefits Does VA Offer" Placement"
## Background
In Midpoint Review we received feedback from Design  and IA around the placement of the "What Benefits Does VA Offer" drop down. Both teams felt the link was a bit orphaned and not placed in the right area. We want to review this design and explore new options for the design. Midpoint Review feedback is documented [here](https://github.com/department-of-veterans-affairs/va.gov-team/b

[2022-10-25 16:29] jhouse-solvd commented on #48678
We may want to add 'update https://vfs.atlassian.net/wiki/spaces/OT/pages/2418507777/Monitor+SSL+TLS+Certificate+expiration' to this issue

[2022-10-25 16:30] ericasauv09 opened #48710 "[Design, FE] My VA Audit UX Improvements: Confirm Flow of My HealtheVet Link"
## Background
Based on Midpoint Review feedback we want to confirm that the “Visit My HealtheVet” link that appears in error state for Health care section opens in a new tab (I believe that is the correct/expected behavior). If it doesn’t, make that change in the FE. Ensure documentation reflects this behavior

## Tasks
- [ ] Confirm if My HealtheVet Link opens a new tab
- [ ] If not, make changes

[2022-10-25 16:32] JoeTice commented on #47572
Last interview was conducted today - 10/25

[2022-10-25 16:34] #48616 closed

[2022-10-25 16:38] asg5704 opened #48711 "[EPIC] Ensure session management contininuity for OAuth"
## Description
Several different applications and teams are utilizing the `fetchAndUpdateSSOeSession` as their applied global `fetch` in order to update the SSOe session.  Because this implementation relies solely on SSOe, the newer initiative to enable OAuth on VA.gov currently breaks sessions for other applications not already implementing the `apiRequest` function.

## Definition of done
All im

[2022-10-25 16:38] ajakabcin opened #48712 "[Design] My VA audit UX improvements: Revise logic around secondary links"
## Background
Per feedback from Midpoint review, we need to revise (or consider revising) our logic around secondary links and how they display. Currently we right-align secondary links when there is potential for the user to have _something_ to display on the left, immediately below the section header. Feedback from Design and A11y is to maintain right-aligned position (on desktop).

Feedback on

[2022-10-25 16:39] #47953 closed

[2022-10-25 16:45] kristenmcconnell commented on #47443
Do we need to emphasize what they would be able to do when they click the link? What if the new wording had "check in" in it? Something like "Check in for another appointment" or "Go back to check in for another appointment."

[2022-10-25 16:47] RLHecht commented on #43901
@jaredcunha @Mottie I just added the react widget to our page to review. The "Request a COE on ebenefits" link needs to be an action link, like it is currently. The widget shows it as a text link. Could you please update?![Screen Shot 2022-10-25 at 12.46.23 PM.png](https://images.zenhubusercontent.com/5c9b7e302ac54336e2c327b8/d73c1358-0a82-49ff-989a-2cbb49d9906f)![Screen Shot 2022-10-25 at 12.46.4

[2022-10-25 16:48] tayism commented on #47498
Question to bring up to the team about showing current state maps: how do we know when a map is considered 'out of date'? How can we build this into our process for iterative work?

[2022-10-25 16:50] ajakabcin opened #48713 "[FE] My VA audit UX improvements: Update secondary link logic in Claims and appeals section"
## Background
Per feedback from Midpoint review, we need to revise our logic around secondary links and how they display in the **Claims and appeals** section on My VA. Currently we right-align secondary links when there is potential for the user to have _something_ to display on the left, immediately below the section header. Feedback from Design and A11y is to maintain right-aligned position (on

[2022-10-25 16:50] ajakabcin opened #48714 "[FE] My VA audit UX improvements: Update secondary link logic in Health care section"
## Background
Per feedback from Midpoint review, we need to revise our logic around secondary links and how they display in the **Health care** section on My VA. Currently we right-align secondary links when there is potential for the user to have _something_ to display on the left, immediately below the section header. Feedback from Design and A11y is to maintain right-aligned position (on deskto

[2022-10-25 16:56] LindseySaari opened #48715 "Sprint 13 - Technical support for Platform & VFS teams"
## Problem
VFS and Platform crew teams need support for developer operations, technical issues, code reviews, etc. They also need access to platform resources to manage the applications delivered through platform infrastructure.

## Background
- Support may originate in response to troubleshooting health or performance issues
- Support may be needed to facilitate the completion of product initiati

[2022-10-25 16:59] ajakabcin opened #48716 "[Design] Payment info v2: Revise logic around secondary links"
## Background
Per feedback from [My VA audit UX improvements' Midpoint review](https://github.com/department-of-veterans-affairs/va.gov-team/issues/42601), we need to revise our logic around secondary links and how they display. Currently we right-align secondary links when there is potential for the user to have _something_ to display on the left, immediately below the section header. Feedback fr

[2022-10-25 17:00] ajakabcin opened #48717 "[FE] Payment info v2: Update secondary link logic Outstanding debts and Benefit payments sections"
## Background
Per feedback from [My VA audit ux improvements' Midpoint review](https://github.com/department-of-veterans-affairs/va.gov-team/issues/42601), we need to revise our logic around secondary links and how they display in the **Outstanding debts** and **Benefit payments** sections on My VA. Currently we right-align secondary links when there is potential for the user to have _something_ t

[2022-10-25 17:08] RLHecht commented on #48033
Update: Laura sent the content to stakeholders 10/25 for approval.

[2022-10-25 17:08] benbrasso-agile6 commented on #47443
Alternative could be, Go back to view your VA appointments

[2022-10-25 17:09] RLHecht commented on #48230
These changes are live. Closing ticket

[2022-10-25 17:09] #48230 closed

[2022-10-25 17:10] ajakabcin opened #48718 "[Design] My VA audit UX improvements: Update designs/docs to use new notification design system component in health care section on My VA"
## Background
Per feedback from Midpoint review, we learned we can use the notification component that Angela designed and submitted to the design system (it was approved!). This ticket is to update designs and documentation to indicate use of new notification component instead of "warning alert component" on My VA in the Health care section. (_I believe the health care section is the only "in-lin

[2022-10-25 17:10] ajakabcin opened #48719 "[FE] My VA audit UX improvements: update Health Care section "unread messages" notification with new notification component"
## Background
Per feedback from Midpoint review, we learned we can use the notification component that Angela designed and submitted to the design system (it was approved!). This ticket is to update the "unread messages" notification within the Health care section on My VA (where we currently use the "warning alert component") to use the new notification component. (Build of the component was done

[2022-10-25 17:11] jonathanjnelson opened #48720 "MyHealth: MHV to VA.gov: Collect interview data"
## 🌟 Problem Statement
We need to interview 18-24 individuals, either Veterans or Caregivers, according to the recruitment criteria outlined in this [research plan](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/digital-health-modernization/mhv-to-va.gov/medical-records/research/2022-10_Generative-research/2022-10-medical-records-research-plan.md)

#

[2022-10-25 17:13] cgednalske commented on #48264
Hi @Samara-Strauss and @SKasimow -- Here's a [mural board](https://app.mural.co/t/vsa8243/m/vsa8243/1666278971896/e40f7917f9908c9190d6c01d7edacd07e4fce24c?sender=u28f508d646c449cc1afe4873) of the design explorations for how disability rating and full name can be incorporated into the main part of Profile. I've discussed considerations and feasibility with Liz and Adam and would definitely recommen

[2022-10-25 17:18] mmiddaugh commented on #48361
Thank you for your input @sterkenburgsara. I'll do my best to respond to your feedback here

What will be driving the list "Popular on VA.gov" - will this change over time based on analytics, or more or less stay the same?

Possibility of the gradient background contributing to some possible visual confusion here - maybe worth testing with users.

How confident are we in things like: case sensitiv

[2022-10-25 17:18] mmiddaugh commented on #48361
@davidconlon any additional thoughts?

[2022-10-25 17:20] mmiddaugh commented on #48576
Thanks @allison0034 rather than alpha order, we intentionally ordered the list to group related tasks (i.e., health care tasks appear more or less together).

[2022-10-25 17:21] zach-park opened #48721 "[FE] [Bug] Update authentication error message for date of birth (CI and PCI)"
## Description
Update the infobox text to "We’re sorry. We couldn’t find an account that matches that last name or date of birth. Please try again."

## Wireframes
- [Anstract](https://share.goabstract.com/42ad6c8a-1e51-458c-a098-61838b01602b?collectionLayerId=a2391179-643f-4a54-8c5f-737ff2d362dd&mode=design)
- NOTE: The following is a screenshot of the Sketch file at the time this ticket was crea

[2022-10-25 17:21] mmiddaugh commented on #48586
Thank you for your feedback!

[2022-10-25 17:21] #48586 closed

[2022-10-25 17:25] #35652 closed

[2022-10-25 17:25] #35655 closed

[2022-10-25 17:25] #35654 closed

[2022-10-25 17:25] #35649 closed

[2022-10-25 17:25] #45886 closed

[2022-10-25 17:25] #47788 closed

[2022-10-25 17:26] #37206 closed

[2022-10-25 17:26] #37208 closed

[2022-10-25 17:26] #37207 closed

[2022-10-25 17:26] alyssagallion opened #48722 "Identity - Bugs - Ongoing"
Ongoing bug fixes for the Identity team.

[2022-10-25 17:26] andreahewitt-odd opened #48723 "Update post mortem documentation"

[2022-10-25 17:27] allison0034 commented on #48576
Ok thanks @mmiddaugh . If you do any future testing I would try A/B testing. If users are likely to know the name of what they are looking for typically alpha is a better option, but obviously user testing wins. : )

[2022-10-25 17:28] #46532 closed

[2022-10-25 17:29] #35950 closed

[2022-10-25 17:29] #48614 closed

[2022-10-25 17:30] #41035 closed

[2022-10-25 17:30] #41034 closed

[2022-10-25 17:30] #41033 closed

[2022-10-25 17:30] #41031 closed

[2022-10-25 17:30] #35621 closed

[2022-10-25 17:31] #37360 closed

[2022-10-25 17:31] acrollet commented on #47443
fwiw if someone had consecutive appts they should be able to go back and check in once the window opens for the next appt.

[2022-10-25 17:31] oseasmoran73 commented on #45349
https://github.com/department-of-veterans-affairs/vsp-infra-evss-bgs-split

[2022-10-25 17:31] katherine-fung commented on #47188
Thanks @bethpottsVADEPO! I've updated the alert, and I'll update this ticket with notes after today's backlog grooming.

[2022-10-25 17:31] #35563 closed

[2022-10-25 17:32] joeniquette commented on #47072
completed

[2022-10-25 17:32] #47072 closed

[2022-10-25 17:33] aagosto90 commented on #48718
Just FYI because I'm not sure if all of you are aware of how this process works for new components and I just learned this information - Taylor can code the new notification component and use it on our page and it doesn't need to be totally perfect and design system ready. Once the platform team is able to work on this, they will utilize his code to add it to the design system and make any variati

[2022-10-25 17:34] #44718 closed

[2022-10-25 17:36] ajakabcin commented on #48718
Thanks @aagosto90 ! Definitely helpful info to know, I'm sure that will factor into @tmitchellgcio 's thinking when we groom/estimate this tomorrow

[2022-10-25 17:36] tlei123 commented on #48686
This new reporter, instead of using [deasync](https://github.com/abbr/deasync) [which Cypress keeps erroring out & complaining about], spawns a Node child-process to fire our async API-calls to TestRail.

[2022-10-25 17:37] joeniquette opened #48724 "Closed due to duplicate tickets"

[2022-10-25 17:37] joeniquette commented on #44386
Closed due to duplicate tickets

[2022-10-25 17:37] #44386 closed

[2022-10-25 17:37] ajakabcin opened #48725 "[Design] Onsite Notifications: Update designs and documentation to use new notification design system component instead of "warning alert component""
## Background
Per feedback from [My VA audit UX improvement Midpoint review](https://github.com/department-of-veterans-affairs/va.gov-team/issues/42601), we learned we can use the notification component that Angela designed and submitted to the design system (it was approved!). This ticket is to update designs and documentation to indicate use of new notification component instead of "warning aler

[2022-10-25 17:38] ajakabcin opened #48726 "[FE] Notification design system comp.: Build new notification component"
## Background
Per feedback from [My VA audit UX improvement Midpoint review](https://github.com/department-of-veterans-affairs/va.gov-team/issues/42601), we learned we can use the notification component that Angela designed and submitted to the design system (it was approved!). **This ticket is to build the component. Implementing the component for onsite notifications is in separate ticket ([5481

[2022-10-25 17:39] vbellissimo opened #48727 "VA Forms Overview: Document recommendations/questions"
Tasks:

- [x] Review the support request ticket details: https://app.zenhub.com/workspaces/platform-content-team-62bde00be46b400017674aef/issues/department-of-veterans-affairs/va.gov-team/48668

- [x] Look through Platform website to provide any recommendations for alternative pages to link to (so that we avoid having links on the website that go to Confluence pages, which Platform teams cannot ac

[2022-10-25 17:42] joeniquette commented on #47796
not doing this

[2022-10-25 17:42] #47796 closed

[2022-10-25 17:44] laurwill commented on #47658
Thanks @katherine-fung ! I made all the links to other resources nodes and made the careerscope reference an alert as we discussed in standup. I also added a sentence about how long the process takes, based on info stakeholders sent previously. I'm going to confirm with Beth that the length of this page is okay, and then we can send for approval.

[2022-10-25 17:45] sterkenburgsara commented on #48667
@ajakabcin Ah, forgive me, I am only a few weeks into this role and still learning the various user states & acronyms. Peeking back at the wireframes, yes - I am referring to the [LOA1](https://www.sketch.com/s/9b0e6efc-423a-4354-9db3-ab2083d566c9/a/padQ1OG) vs. LOA3 user types.

[2022-10-25 17:45] SKasimow commented on #48460
I don't think so...how about you add the updates and I'll fix the TOC and post the updated version to GitHub and reach out to CC (can show you how to do ToC - it's easy once you know it).

[2022-10-25 17:45] AGarcia-Clarity opened #48728 "Pensions - Replace fetch with apiRequest"
## Description
This ticket represents the body of work of replacing the `fetch` with the `apiRequest` function for Pensions

## Tasks
- [ ] Replace the `fetch` with the `apiRequest` function
- [ ] Update unit tests and Cypress (E2E)

[2022-10-25 17:46] #47738 closed

[2022-10-25 17:47] AGarcia-Clarity opened #48729 "Save in Progress forms - Replace fetch with apiRequest"
## Description
This ticket represents the body of work of replacing the `fetch` with the `apiRequest` function for Save in Progress forms

## Tasks
- [x] Replace the `fetch` with the `apiRequest` function
- [x] Update unit tests and Cypress (E2E)

[2022-10-25 17:49] asg5704 opened #48731 "Pre-needs - Replace fetch with apiRequest"
## Description
This ticket represents the body of work of replacing the `fetch` with the `apiRequest` function for Pre-needs

## Tasks
- [x] Replace the `fetch` with the `apiRequest` function
- [x] Update unit tests and Cypress (E2E)

[2022-10-25 17:50] AGarcia-Clarity opened #48732 "GI Bill - Replace fetch with apiRequest"
## Description
This ticket represents the body of work of replacing the `fetch` with the `apiRequest` function for GI Bill

## Tasks
- [x] Replace the `fetch` with the `apiRequest` function
- [x] Update unit tests and Cypress (E2E)

[2022-10-25 17:51] ldelacosta opened #48733 "Add a feature toggle to display canceled booked appointments in VAOS"
## Item Description
We will need to create a feature toggle in VAOS to add the canceled booked appointments in VAOS.

---

## Tasks
- Add `va_online_scheduling_status_improvement_canceled` feature toggle

## Acceptance Criteria:
- [ ] The toggle is created for VAOS

## Definition of Done
- [ ] All acceptance criteria are met
- [ ] [Documentation](https://github.com/department-of-veterans-affairs/v

[2022-10-25 17:52] asg5704 opened #48734 "Financial Status - Replace fetch with apiRequest"
## Description
This ticket represents the body of work of replacing the `fetch` with the `apiRequest` function for Financial Status

## Tasks
- [ ] Replace the `fetch` with the `apiRequest` function
- [ ] Update unit tests and Cypress (E2E)

[2022-10-25 17:52] joeniquette commented on #47709
@joeniquette document details

[2022-10-25 17:53] AGarcia-Clarity opened #48735 "Facility Locator - Replace fetch with apiRequest"
## Description
This ticket represents the body of work of replacing the `fetch` with the `apiRequest` function for Facility Locator

## Tasks
- [ ] Replace the `fetch` with the `apiRequest` function
- [ ] Update unit tests and Cypress (E2E)

[2022-10-25 17:53] Samara-Strauss commented on #48264
Thanks for this! I think we are going in the right direction. Some thoughts:

- I'd review this with IA and content as soon as possible. IA can help us confirm this is the right place for this piece of information, and content can help us with the copy (duh). The My VA half of the team recently got some feedback about removing "service connected" from the disability rating, so we'd want to solidif

[2022-10-25 17:55] OptionSelect opened #48736 "[eFSR] - Veteran Information - Required Text Placement & Screen Adjustments"
## What happened?
![image.png](https://images.zenhubusercontent.com/61fc34bdeb6088eace717afe/cbf545ea-3556-4442-b257-7c6b6bf74281)_Describe in detail what went wrong; screenshots, videos, or gifs are strongly encouraged_

## Desired behavior
Move required text to correct element.

## Acceptance Criteria
- [ ] _Describe the desired working behavior_

## How to configure this issue
- [ ] **Attached

[2022-10-25 17:57] AGarcia-Clarity opened #48737 "Claims Status - Replace fetch with apiRequest"
## Description
This ticket represents the body of work of replacing the `fetch` with the `apiRequest` function for Claims Status

## Tasks
- [x] Replace the `fetch` with the `apiRequest` function
- [x] Update unit tests and Cypress (E2E)

[2022-10-25 17:58] ajakabcin commented on #48701
This ticket also addresses feedback we received in #48155

[2022-10-25 17:59] AGarcia-Clarity opened #48738 "Disability Benefit (2346) - Replace fetch with apiRequest"
## Description
This ticket represents the body of work of replacing the `fetch` with the `apiRequest` function for Disability Benefit (2346)

## Tasks
- [x] Replace the `fetch` with the `apiRequest` function
- [x] Update unit tests and Cypress (E2E)

[2022-10-25 18:02] ajakabcin commented on #48155
Work to address the changes that @ericasauv09 outlined can be tracked in #48701

[2022-10-25 18:05] SKasimow opened #48739 "PM | Profile | BAI | Update Pre and Post Launch Metrics (after Nov)"
## Background

Update BAI metrics in the Product Outline once we are one month post launch date. We launched to 100% on 10/24/22 so we should update the outline on or after 12/1/22

Tasks
- [x] Get current count of BAI flags from VA Profile
- [x] Pull metrics from GA and add them to the Product Outline under measuring success
- [x]  Create report to show how many users that saw the BAI alert went

[2022-10-25 18:05] RLHecht commented on #48350
This is complete. Closing!

[2022-10-25 18:05] #48350 closed

[2022-10-25 18:09] kanchanasuriya opened #48740 "[BE] Modify Claims Service Object to get PatientICN from Redis"
## Description
Currently, the BTSSS Claims API service object gets `patientICN` from the controller. As part of this task, modify the service object to read `patientICN` from redis

## Tasks
- [ ] Change method input parameters
- [ ] Read `patientICN` from Redis
- [ ] Define common interface to read `patientICN` from Redis

## Acceptance Criteria
- [ ] Deployed to staging
- [ ] Tested on staging

[2022-10-25 18:09] markfallows opened #48741 "Analytics KPI dashboard update request for 10-10 Health Applications Team"
# Request an update to your KPI Dashboard

## What this form is for

Use this ticket template to request an update to your existing KPI dashboard. To request a new product be added to our dashboards, please use [Request a New Standardized KPI Dashboard template](https://github.com/department-of-veterans-affairs/va.gov-team/issues/new?assignees=joanneesteban&labels=analytics-insights%2C+analytics-r

[2022-10-25 18:09] markfallows commented on #48741
Tagging @hdjustice.

[2022-10-25 18:10] stevelong00 commented on #47557
I believe so, I have worked with him for approval on other onboarding tasks.

[2022-10-25 18:11] ajakabcin commented on #48667
@sterkenburgsara No need to apologize! Just wanted to make sure we understood the states you were referring to. Thanks for clarifying!

[2022-10-25 18:11] OptionSelect opened #48742 "[eFSR] Your VA Benefits Enhancement"
## Issue Description
Update VA Benefit information page with the ability to edit listed benefits.

~~[Old Design](https://preview.uxpin.com/552e9ad135f7d7ee943a92576feab45190b069f4#/pages/146446310/simulate/sitemap?mode=i)~~

[Mural for edit functionality](https://app.mural.co/t/departmentofveteransaffairs9999/m/departmentofveteransaffairs9999/1671734127581/dc254b12e788570c946af60bc55338b0045aea03

[2022-10-25 18:13] #48222 closed

[2022-10-25 18:13] #48217 closed

[2022-10-25 18:14] PSIEBENLIST opened #48743 "Form owner meetings"
Question set:

- Priority forms

- Any special requirements

- Backend data

[2022-10-25 18:15] shiragoodman opened #48744 "Connect axe scans with VA.gov Experience Standards"

[2022-10-25 18:15] PSIEBENLIST opened #48745 "MVP Feature Prioritization"

[2022-10-25 18:23] #48478 closed

[2022-10-25 18:23] #48479 closed

[2022-10-25 18:23] #48477 closed

[2022-10-25 18:24] #47498 closed

[2022-10-25 18:32] cferris32 commented on #47253
Backend Findings:

Q1: Do we need to update the FE and/or BE code?
A1: We do not need any BE updates for this work. The api code already contains the 'vaOnlineSchedulingAcheronService' feature flag, along with individual cerner facility flags, in our features.yml configuration. The FE will still be calling the same vets-api endpoints.

Q2: What is the recommendation/plan for the initiative? Please

[2022-10-25 18:34] td-usds commented on #47374
user is approved for general access and 6 months of prod access

[2022-10-25 18:34] kristenmcconnell commented on #47443
It is a fine line between what our appointment list shows and what is available on VAOS.

[2022-10-25 18:37] SKasimow opened #48746 "Profile Team | Sprint 87 | Nov 16 - Nov 29"
## PTO/OOO/Unavailable

Sharon: 11/16, 11/17, 11/24  + 11/25
Erica: 11/24
Liz: 11/23 - 11/25; 11/29 (1/2)
Christina: 11/24 - 11/25
Adam: 11/24
John: 11/24 (Thanksgiving)
Tom: 11/24 - 11/25
Samara: 11/23 - 11/25

## Retro Board is open:

[Sprint 86](https://www.reetro.app/board/6203c8f3edfa6100174612bb/63582aad20452ba44e70fcfa)

## Accessibility

#### FE - John
- [x] #46195 Use TTY Prop in Telephon

[2022-10-25 18:41] kellysmith1008 commented on #47443
@benbrasso-agile6 Could we do "View your VA appointments" instead? The idea of "go back" implies that a user will see the same (or similar) workflow they just completed (think of when you go back in a web browser, the previous page is often similar or the same as it was when you navigated away from it), but if we remove the "go back" idea I think this works: "View your VA appointments"

[2022-10-25 18:41] OptionSelect opened #48747 "[eFSR] - Content Page & Start Your Request"
## What happened?
New
![image.png](https://images.zenhubusercontent.com/61fc34bdeb6088eace717afe/166312fc-7a17-43d3-82fd-fd7eed283413)

Old
![image.png](https://images.zenhubusercontent.com/61f96bcb96295709970afb65/7d9c9ac2-793c-45df-ad0d-1da308c28ae6)

![image.png](https://images.zenhubusercontent.com/61fc34bdeb6088eace717afe/7190043c-5d7a-438a-9c32-2d38450a6356)

## Desired behavior
Update to ma

[2022-10-25 18:42] benbrasso-agile6 commented on #47443
I like it 👍 Will see what others think on the thread and then we can move it along to engineering

[2022-10-25 18:43] Dr-Pongo opened #48748 "[eFSR] Bankruptcy History Enhancements"
## Issue Description
Update FSR Bankruptcy Page to match new design
[UXPin](https://preview.uxpin.com/552e9ad135f7d7ee943a92576feab45190b069f4#/pages/146487297/simulate/sitemap?mode=i)

![image.png](https://images.zenhubusercontent.com/61f96bcb96295709970afb65/3e68349a-d94d-413d-a130-768ab59a030c)

---
## Tasks
- [ ] Update Bankruptcy Details Page

## Acceptance Criteria
- [ ] Bankruptcy Details p

[2022-10-25 18:45] Dr-Pongo opened #48749 "[eFSR] Resolution Option Explainer Enhancement"
## Issue Description
Add Resolution option explainer to FSR that matches [the design](https://preview.uxpin.com/552e9ad135f7d7ee943a92576feab45190b069f4#/pages/150789024/simulate/sitemap?mode=i)

![image.png](https://images.zenhubusercontent.com/61f96bcb96295709970afb65/6aa36599-b525-4561-8303-5971288bdb6d)

---
## Tasks
- [ ] Add Resolution option explainer page behind feature flag

## Acceptance

[2022-10-25 18:45] SKasimow commented on #48006
FYI...you can zoom in on other messages such as "We don't seem to have your military records".

[2022-10-25 18:46] OptionSelect opened #48750 "[eFSR] - Spouse Information Sections"
## Desired behavior
Implement new design, list loop removed.

![image.png](https://images.zenhubusercontent.com/61fc34bdeb6088eace717afe/1da46e84-f459-4c9d-b447-4fbae653c8bf)

![image.png](https://images.zenhubusercontent.com/61fc34bdeb6088eace717afe/bb35e2d7-8049-40e8-a652-1b0ffa7b01a9)

![image.png](https://images.zenhubusercontent.com/61fc34bdeb6088eace717afe/873d926e-501c-4ffd-be1a-6ab73e9c0df

[2022-10-25 18:47] clantosswett opened #48751 "Veteran signs in and is immediately signed out"
## What happened?
The veteran I am working with has a login.gov and id.me account. The veteran navigates to va.gov and clicks the sign in button. When the veteran tries to sign in with login.gov, they are able to enter their email address, password, two-factor authentication. It appears they are being signed in until the below page appears on their screen and then several seconds later, it signs t

[2022-10-25 18:48] Dr-Pongo opened #48752 "[eFSR] Real Estate Enhancements"
## Issue Description
Update Real Estate pages to match [the new design](https://preview.uxpin.com/552e9ad135f7d7ee943a92576feab45190b069f4#/pages/146385053/simulate/sitemap?mode=i)

![image.png](https://images.zenhubusercontent.com/61f96bcb96295709970afb65/34ca0cf0-a643-48a3-9eff-bad804c5dde1)

---
## Tasks
- [ ] Update Real Estate pages to match new design

## Acceptance Criteria
- [ ] New Real E

[2022-10-25 18:51] SKasimow commented on #31447
@Samara-Strauss - I'm going to close this out based on AJ's comment above,  but should I open a ticket to hide the mobile extension field on the Contact info page unless that field has an entry?

[2022-10-25 18:56] pjhill commented on #47586
Thanks for the analysis and the write-up! Having reviewed it a few times and talked through the results, it is safe to close this ticket.

[2022-10-25 18:56] #47586 closed

[2022-10-25 19:04] starlow00 commented on #48628
Hi @bryan-riley-va. When you have a draft ready for review (ideally in Word format, but Google doc is acceptable), please attach or provide a link on this ticket. Thanks!

[2022-10-25 19:06] katherine-fung commented on #41493
@laurwill - per our Slack, I tweaked the QA on the Verifying and the VHIC pages to say "How can I verify my identity if I live outside the U.S.?"

I added the draft QA to the accordion at the bottom of the VHIC page. I also added a note with a jump link to that section under the AccessVA link on the VHIC page.

Notes
VHIC page
- I made the question the first accordion item on the VHIC page, so it'

[2022-10-25 19:19] #47590 closed

[2022-10-25 19:26] LEHigley commented on #48517
ractivated account

[2022-10-25 19:26] LEHigley commented on #48516
reactivated account

[2022-10-25 19:26] #48516 closed

[2022-10-25 19:26] LEHigley commented on #48515
reactivated

[2022-10-25 19:26] #48515 closed

[2022-10-25 19:26] #48286 closed

[2022-10-25 19:26] #48283 closed

[2022-10-25 19:27] LEHigley commented on #48013
resent invite

[2022-10-25 19:27] #48013 closed

[2022-10-25 19:27] #47971 closed

[2022-10-25 19:27] #47895 closed

[2022-10-25 19:27] loripusey commented on #47443
The only problem to consider is that these are not necessarily ALL of their VA appointments, only the ones for which eCheck-in is enabled or applicable (i.e. only in-person appointments). So we don't want them to think that this is everything either, I think we need to qualify it with "these are the ones you can do eCheck-in for" or something to that effect.

[2022-10-25 19:27] #47833 closed

[2022-10-25 19:28] #47823 closed

[2022-10-25 19:28] #47784 closed

[2022-10-25 19:28] #47782 closed

[2022-10-25 19:28] LEHigley commented on #47692
this account isn't showing up

[2022-10-25 19:34] sterkenburgsara commented on #48361
@mmiddaugh Of course! I am new to the team, so please forgive my lack of context for some things. The rubric around "Popular on Va.gov links" sounds great. I don't have any follow-on questions. Good luck!

[2022-10-25 19:34] benbrasso-agile6 commented on #47443
Would we also then want to correct that on the "Your appointments" page? I feel like introducing "eCheck..." type language will cause confusion with Veterans.

Let me see if I can pull Analytics for that link real quick to help guide us.

[2022-10-25 19:35] ericasauv09 opened #48753 "FE | Profile | Research Recommendations | Notifications Settings Spacing"
## Background

Based on the designs Liz created in this [ticket](https://github.com/department-of-veterans-affairs/va.gov-team/issues/48396) we need to update the spacing in the notifications settings page. The design mock up can be found [here](https://www.sketch.com/s/afd69a1f-72d2-430b-9b62-285e9d3f479c/a/jg8yMMb)

## Tasks
- [ ] Make Changes based on designs
- [ ] Conduct Unit tests
- [ ] Run

[2022-10-25 19:37] shiragoodman commented on #31447
@SKasimow I am opening this back up. We ask that you don't close out any Collab Cycle Staging Review issue tickets until the identified issues has been resolved.

[2022-10-25 19:37] joeniquette commented on #48751
I understand that the user believes their time is set correctly, but this happens when the time is not set to automatic on their windows machine. In the image attached, the use must ensure that the "set time automatically" and "set time zone automatically" and then click "sync now". Once they have done this then they should try to login again. I will also confirm that this user does not appear to

[2022-10-25 19:39] benbrasso-agile6 commented on #47443
Gets more clicks than I would have guessed

[Analytics All VA.gov Website Data [Production] Top Events 20220925-20221024.pdf](https://github.com/department-of-veterans-affairs/va.gov-team/files/9863461/Analytics.All.VA.gov.Website.Data.Production.Top.Events.20220925-20221024.pdf)

[2022-10-25 19:42] ianMcCullough-ob commented on #48196
@starlow00 if you have time, feel free to check out the confluence doc linked above

[2022-10-25 19:43] Samara-Strauss commented on #48264
All of this sounds good to me! Thanks, Christina!

[2022-10-25 19:50] pjhill commented on #47572
Interviews have been completed. Interview feedback is available [here](https://vfs.atlassian.net/wiki/spaces/TT4/pages/2396094503/Preview+Environment+Stakeholder+Interview+Guide).

Interview feedback has been used to inform our understanding of the user flows defined in the [Define User Flows](https://app.zenhub.com/workspaces/platform-tech-team-4-633b069d2920b776613c93d8/issues/department-of-vete

[2022-10-25 19:50] #47572 closed

[2022-10-25 19:53] ldelacosta commented on #48448
Hey @RLHecht - We are not ready yet. We are still updating the details in the ticket. Will let you know when it's ready. If you have any questions, please reach out. Thanks!

[2022-10-25 20:03] Samara-Strauss commented on #31447
I don't think it's worth our team adding extensions to mobile numbers in notification preferences since, to the best of my knowledge, people can't legitimately have extensions for mobile numbers. At most, an extension for a mobile number is likely a mistake.

We're in talks with VA profile about removing the extension field for home and mobile numbers. I'm gonna leave this open and hope we can wai

[2022-10-25 20:04] joeniquette commented on #46500
Case resolved, it was a system clock issue. We walked the Veteran through how to update their time to "automatically" be set for both time and time zone on their windows 10 machine. This resolved the issue.

Of note, there did seem to be confusion around the term "verified" user. He seemed to think since he entered MFA that is was verified.

[2022-10-25 20:04] #46500 closed

[2022-10-25 20:04] kristenmcconnell commented on #48069
We met with Josh and pam. After talking through the history of the progress bar and navigations needs within a form, we realized that the best pattern to look into is uk.gov's [task list pattern](https://design-system.service.gov.uk/patterns/task-list-pages/).

[Example of a complete uk.gov form using the pattern.](https://www.tax.service.gov.uk/feedback/TAMC)

[2022-10-25 20:23] Mottie commented on #43901
Updated, thanks to @jerekshoe

[2022-10-25 20:36] jhouse-solvd opened #48755 "[Platform Tech Team 2] Onboarding checklist for Lee Warrick"
## Overview
Welcome to the VA.Gov Platform.  This ticket is a checklist and guide to help you get access to communications, documentation, and tools used by technical project teams.

##  Checklist

### EQIP / PIV / RA

_EQIP - Electronic Questionnaires for Investigations Processing
PIV - Personal Identity Verification
RA - Remote Access_

**If you're new to the VA, an EQIP submission is needed to

[2022-10-25 20:36] benbrasso-agile6 commented on #48412
@loripusey does this scenario:

Assume that there's one test case for, 1) they answered No to a question, and 2) the API returned an error? Or should those be split up into two scenarios?

[2022-10-25 20:37] andaleliz commented on #48006
I think what you're referring to isn't in a modal component though.  I believe this specifically impacts modals, but it's not sitewide since the crisis line modal allows for gesture zooming.

[2022-10-25 20:39] aliyahblackmore commented on #48579
Hi Laura - thanks for the temp check sync earlier!

10/25 update to have a record of this work moving along:

We're still confirming which version I should work from in Drupal to make these more immediate changes (as there are a series of drafted changes from 1/25/22 to 1/26/22). As discussed, I'll make the following changes to the page and we'll wait to hear back from Beth on any other changes, a

[2022-10-25 20:48] benbrasso-agile6 commented on #48412
@kellysmith1008 wrote the new content. Being routed to Danielle for review. https://docs.google.com/document/d/1tSuRWQ-dveIh5NwWVKSVY6ZC4bAL70exV0axJjfAVhM/edit#

Danielle has confirmed she has time to review this week.

[2022-10-25 20:50] benbrasso-agile6 commented on #47443
This can be PL'd tomorrow

[2022-10-25 20:55] ldelacosta commented on #47253
Will create a new working ticket for this update. Closing out the spike ticket.

[2022-10-25 20:55] #47253 closed

[2022-10-25 20:57] denisecoveyduc commented on #43909
Updating this ticket to reflect our current understanding and requirements going forward.

We are looking to change the TEMPLATE NAMES to the following:

- **FSR Confirmation – VBA** (changed from FSR Confirmation)
- **FSR Confirmation – VHA** (Changed from VHA FSR Confirmation)
- **New Benefit Overpayment – VBA** (Changed from Debt Notification)
- **New Medical Copay - VHA** (Future Notification

[2022-10-25 21:19] CBonade commented on #47581
Usage metrics were able to be tracked by pulling the access logs from the EC2 instances themselves. Simply, if the log has anything in it at all, a user has accessed it. Otherwise, it's empty. This is done in the devops repository via a GitHub actions workflow that runs every 12 hours (11:30am, 11:30pm) and captures all active EC2 instances in a list. Then using that list of IDs, it fetches the ac

[2022-10-25 21:32] SKasimow commented on #48264
Looks good...just one question on the use case for people who were never in the military and don't have a disability rating.
Is the thought to leave the disability rating field in place and indicate "no rating" or remove the field entirely as we do in the Nametag?

[2022-10-25 21:34] acrollet commented on #48379
In PR review.

[2022-10-25 21:43] acrollet commented on #48456
Created platform support request: https://dsva.slack.com/archives/CBU0KDSB1/p1666734111554899

[2022-10-25 21:56] jhouse-solvd opened #48756 "[Issue Tracking] Create issue template for platform tech team 2"
## Description
Filling out issues can be time-consuming. Issues require lots of standard info and labels to be appropriately tracked. But, adding info and labels requires lots of repetitive, manual work.

## Background/context
See the [Platform Tech Team 2 Charter, Issue Sections](https://vfs.atlassian.net/wiki/spaces/TT2/pages/2401796102/Team+Charter+WIP#Creating-Issues):

## Acceptance Criteria

[2022-10-25 22:11] SKasimow opened #48757 "Design | UI Alerts for Editing Contact Info | Update Design Files"
## Background

Per comment in ticket #31410 we are updating the content for one of the alerts on the contact page to this:

- [Desktop](https://www.sketch.com/s/59857eb5-d9f9-4145-99d3-d9a1de2d0655/v/waVZjj/a/OmlnPxp)
- [Mobile](https://www.sketch.com/s/59857eb5-d9f9-4145-99d3-d9a1de2d0655/v/dMz8DZ/a/pamAp4p/r/bWjPW0)

## Tasks
- [x] Update sketch files
- [x] Update use cases
- [x] Update user flo

[2022-10-25 22:32] joeniquette commented on #47073
google sheet mostly complete, have outstanding questions for appeals (appeals-api slack channel) and medical_copays (Scott James). I sent over the sheet to Alyssa and John R. for review and approval. Once approved we will start on the first service and work our way through each one.

[2022-10-25 22:33] SKasimow commented on #31447
Thanks @Samara-Strauss!

[2022-10-25 22:39] SKasimow commented on #46564
Hi @cgednalske - would you be able to take this to the next office hours so we can finalize?

[2022-10-25 22:49] aliyahblackmore commented on #48157
Thanks @RLHecht! I added in "such as" to the lead-in statement for the second group of bullets and removed the link.

For translation purposes, I wonder if we should use "such as these" instead? Just a thought here!

[2022-10-25 22:51] cgednalske commented on #46564
@SKasimow - sure! I can check in with Danielle via message and see if it's something she wants to work through during content hours or if she can address asynchronously. I don't think this is a super high priority - just something on her list she wants to revisit/fix - but I'll work on moving it along.

But this doesn't block anything with the link we're adding (finalized in the [earlier ticket](h

[2022-10-25 22:51] aliyahblackmore commented on #48464
Update 10/25: We are pausing on this work as we reach out to another writer!

[2022-10-25 23:04] starlow00 commented on #48196
Made minor edits

[2022-10-25 23:11] cgednalske commented on #48264
@SKasimow the thought is to leave the disability rating field in place and indicate "no rating." Still finishing up this part of the exploration, but we probably don't want to remove it if there's a chance it might be needed - also because it'd be hard to differentiate between who doesn't have a rating and might need one and who doesn't have a rating and will never need one. So likely our best app

[2022-10-25 23:50] pscruz opened #48758 "VA Employee Internal Login.gov"

[2022-10-25 23:50] #48758 closed

[2022-10-26 00:03] pscruz opened #48759 "VA Employee Internal Platform of Login.gov"
## Product Outline

**Scenario 2:** Deferred Migration
- Task 7: CHECK IN FOR APPOINTMENT & ID PROOF. _When you arrive at your appointment and check-in, the nurse at the desk says, “I see that we could confirm your ID for your Login.gov account today. Would you like to do that now?”_
**Scenario 1:** Migration >> https://www.figma.com/file/nAlLYv1GLIpB9KMavdZKq0/VA-Identity-Research?node-id=101%3A2

[2022-10-26 00:21] pjhill commented on #47581
Nice -- data warehouse is filling up!
![image.png](https://images.zenhubusercontent.com/5d2633e0a6db635dbcbaf8d5/80e94dca-0652-453b-a02e-30d773ba5317)
![image.png](https://images.zenhubusercontent.com/5d2633e0a6db635dbcbaf8d5/499c212b-5d75-49d0-8534-ff6cf21a6158)

Given the tiny sample size we are at about 20% of review instances being accessed which is an interesting baseline metric.

Thanks for

[2022-10-26 00:21] #47581 closed

[2022-10-26 00:34] pscruz opened #48760 "Automated User Emails"
## Description
_What details are necessary for understanding the specific work or request tracked by this issue?_
The VA needs email as an integral form of communication with users.

### Flows
**Scenario 2:** Deferred Migration
- Email from MHV about updating the way you login: https://www.figma.com/file/nAlLYv1GLIpB9KMavdZKq0/VA-Identity-Research?node-id=152%3A5
- Email from MHV reminding of the

[2022-10-26 00:56] pscruz opened #48761 "MFA by Mail >> Login.gov"
## Product Outline
[Link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/product-management/product-outline-template.md)

**Scenario 2**
[Only if they express concerns about more technical forms of multi-factor authentication] One option we’re exploring is slow MFA or MFA by mail.
### Steps

1. user would go onto MHV and request a code to be mailed to address on

[2022-10-26 00:56] pscruz opened #48762 "MFA by Mail >> Login.gov"
## Product Outline

**Scenario 2**
[Only if they express concerns about more technical forms of multi-factor authentication] One option we’re exploring is slow MFA or MFA by mail.
### Steps

1. user would go onto MHV and request a code to be mailed to address on file
2. 3-5 days later the code arrives via mail and you can use it
3. MHV by Mail login page credentials: username (previously set crede

[2022-10-26 01:16] pscruz opened #48763 "Security Key for MFA >> Login.gov"
## Product Outline
**Scenario 2**: As you might know, security keys are small devices like this [show security key] that can either be plugged into a computer or held close to a smart phone and act as the secondary confirmation so you don’t have to type anything in after your email and password.

## High Level User Story/ies
_As a user, I need the option for security keys (provided by the VA or ot

[2022-10-26 01:39] katherine-fung commented on #47188
Notes from last Monday's meeting:

- Shireen does want us to mention the Board Appeal alternative in the "Is a Supplemental Claim the right decision review option for me?" note. She asked that we mention the benefit of that option (that a judge will review the case).

- Shireen provided the average time it took it to complete a SC as of 10/2/22. She says the team can provide this information every

[2022-10-26 01:39] katherine-fung commented on #47188
Notes from last Monday's meeting:

- Shireen does want us to mention the Board Appeal alternative in the "Is a Supplemental Claim the right decision review option for me?" note. She asked that we mention the benefit of that option (that a judge will review the case).

- Shireen provided the average time it took it to complete a SC as of 10/2/22. She says the team can provide this information every

[2022-10-26 01:42] pscruz opened #48764 "Address Verification by Mail >> login.gov"
## Product Outline

**Scenario 2:** Deferred Migration
- Address verification >> https://www.figma.com/file/nAlLYv1GLIpB9KMavdZKq0/VA-Identity-Research?node-id=152%3A30

**Outcome:** Imagine you use the code from the letter and verify your address for Login.gov. After that you see that your Login.gov account is now working, and you can start using it to access MHV from now on.

## High Level User

[2022-10-26 01:54] #48761 closed

[2022-10-26 02:07] jwoodman5 commented on #48651
@jkwontheso Either works. I do the same thing. Thanks for being willing to jump in and help figure it out. If nothing else, maybe you can coordinate updates to this issue from Ervin since I still can't seem to add him as an assignee...?

[2022-10-26 02:20] katherine-fung commented on #46305
Hi @laurwill - I don't know if you've started reviewing this yet, but I was tweaking my note about VA disability and SSI and I realized I never defined SSI.

Posting with a tweak:

Note: VA disability payments don’t affect SSDI payments. But VA disability payments could affect eligibility and payments for another Social Security disability program called Supplemental Security Income (SSI). The SSI

[2022-10-26 02:34] mydesignrocks opened #48765 "Lighthouse developers: additional AWS access - IAM policy"
Lighthouse development team is looking to gain additional access (mostly readonly) to be able to view resources like RDS and be able to SSM from the was console. This issue will be filling in for a couple of requirements that popped in during the support.
https://github.com/department-of-veterans-affairs/va.gov-team/issues/48304
https://github.com/department-of-veterans-affairs/va.gov-team/issues/

[2022-10-26 03:10] aarathi-poldass opened #48766 "PROD: VAOS v2 - Newly created CC Requests only displaying after re-loading the page"
## What happened?
During VAOS and HSRM integration testing call scheduled on 10/25 ,we have encountered an issue related to newly created Community Care request. These requests were displaying in pending queue only after refreshing the system multiple times. There were no errors in the Dev Tools or Backend logs.

Tried replicating the scenario in staging but couldn't get the same outcome as seen i

[2022-10-26 03:17] aarathi-poldass commented on #48766
@ldelacosta As per the discussion with Simi on the prod testing call here is a ticket for further analysis.

[2022-10-26 04:34] pscruz opened #48767 "[Feature] Shared Access >> MHV"
## Product Outline

This feature gives you the option to set-up limited or full access to your account for anyone who you want.
- Person will be able to create their own account with their own email and password and access as much of your information as you want them to
- User can change or remove their access at any time

**Location:** Post MHV Login
- _Premium_ Account

**Integrations:**
- MPI >

[2022-10-26 04:43] pscruz commented on #48767
Question: Login.gov integration >> will 3rd party users need login.gov credentials?

[2022-10-26 04:51] pscruz commented on #48767
Question: Submission >> send an auto-email to specified person at their corresponding email address
- What are the next steps?

[2022-10-26 13:07] ericasauv09 commented on #43509
[Samara's Sprint Plan](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/authenticated-experience/sprint-objectives/my-va/sprints-81-90.md#sprint-86-112---1115)

[2022-10-26 13:11] marcynadeau opened #48769 "Staging: Update Verbiage when Veteran presented clinics for direct scheduling."
These are issue are arising because Front End was filtering the return of clinics to only those clinics where veteran was seen in the last 36 months.
Scenario #1:  **INT11Amp**
1.  Set Fort Collins DS= Yes, Any.  Req = Yes 36 mos. Clinic configured. FTC Amputation/Friendly Name FTC (IEN 1081)
2.  Log in as Patientfour.vaostest@id.me (no past Amputation appointments ) or john.morrison (who has past

[2022-10-26 13:22] loripusey commented on #48412
These are all the possible combinations that I can see. Have we decided if we should allow them to file if they have updates to their contact info?

<html>
<body>
<google-sheets-html-origin><style type="text/css"></style>

  | All Contact Correct | Demo Not Correct | EC Not Correct | NOK Not Correct | Demo & EC Not Correct | Demo & NOK not correct | EC & NOK Not Correct | Demo, EC, & NOK Not Corre

[2022-10-26 13:28] RLHecht opened #48770 "Fix broken link on CHAMPVA page"
## Issue Description
Siteimprove reported a broken link on our [CHAMPVA benefits](https://www.va.gov/health-care/family-caregiver-benefits/champva/) page.

In the accordion labeled "A primary family caregiver of a Veteran with injuries and/or disabilities" we need to update the link for "Download a fact sheet on CHAMPVA for primary family caregivers (PDF)."

It should now point here: https://www.c

[2022-10-26 13:30] katherine-fung commented on #48336
update from 10/25:

- Cinda says we can get rid of DoD note.

- Beth will follow up with Cinda to clarify the status of the National Call to Service program (and whether we should consider retiring this page).

[2022-10-26 13:36] Samara-Strauss commented on #48264
Agreed. It's impossible to differentiate between someone who is not a veteran and logs in (like us) who will never have a rating, and veterans who have not yet applied for disability compensation that may do so at some point.

[2022-10-26 13:44] benbrasso-agile6 commented on #48412
So far, yes, we are proceeding with allowing them to file. The content seemed to support a good Veteran experience.

[2022-10-26 13:52] vbellissimo opened #48771 "Support: Mon-Thur Deploy (S13)"

[2022-10-26 13:52] vbellissimo opened #48773 "Support: Reply to Slack Inquiries (S13)"
Acceptance criteria:

- Reply to any new Slack inquiries as they come. Acknowledge and troubleshoot as needed.

Data tracking info:
https://vfs.atlassian.net/wiki/spaces/CIT/pages/2282979860/Content+Support+Data

[2022-10-26 13:58] aagosto90 commented on #48713
Something to consider that I thought of and wanted to note here is we're now adding a section that doesn't contain any dynamic content (education and training) so if all secondary links will appear on the right all the time, we have to think of what we would display on the left for that section. @ajakabcin @ericasauv09

[2022-10-26 14:02] laineymajor opened #48774 "Condense manifests into helm charts"
**PROBLEM STATEMENT**
Need to condense manifests into helm charts to improve standardization and reduce the amount of time/work it takes to migrate from BRD to EKS.

**DEFINITION OF DONE**
- [x] Helm charts are complete for dev
- [x] Helm charts are complete for staging
- [x] Helm charts are complete for sandbox
- [ ] Helm charts are complete for prod

[2022-10-26 14:02] laineymajor opened #48775 "Tests for helm charts"
**PROBLEM STATEMENT**
Need tests to ensure the most critical values between BRD and EKS are in sync.

**DEFINITION OF DONE**
- [x] Tested to ensure values are in sync between BRD and EKS for dev
- [x] Tested to ensure values are in sync between BRD and EKS for staging
- [ ] Tested to ensure values are in sync between BRD and EKS for sandbox
- [ ] Tested to ensure values are in sync between BRD and

[2022-10-26 14:02] laineymajor opened #48776 "Param store values"
**PROBLEM STATEMENT**
Param store values need to be added as credstash cannot be used in EKS.

**DEFINITION OF DONE**
- [x] Param store values have been added for dev
- [x] Param store values have been added for staging
- [x] Param store values have been added for sandbox
- [ ] Param store values have been added for prod

- [x] Necessary tests complete

[2022-10-26 14:04] pjhill commented on #46964
@taylojill -- I agree with the sentiment of the feedback offered by Mike. Platform is currently of the disposition that a manual review of accessibility compliance is prudent. The accessibility guidance that we offer generally includes a prescription for manual verification of accessibility standards. The document intended to guide a team through the process of preparing to release their products

[2022-10-26 14:08] acrollet commented on #47578
This was shipped yesterday. https://github.com/department-of-veterans-affairs/chip/issues/1248#event-7672909908

[2022-10-26 14:09] pjhill commented on #46963
We do require the use of axe checks in Cypress test specs. That requirement is listed [here](https://depo-platform-documentation.scrollhelp.site/developer-docs/writing-an-end-to-end-test#Writinganend-to-endtest-End-to-endtestsconventions). Although the use of axe is not discussed at the top level document pointed to in this feedback, it _is_ discussed in the context of accessibility testing and in

[2022-10-26 14:11] MarciMcGuire opened #48777 "MHV to VA.gov: MR: Immunizations Detailed Design"

[2022-10-26 14:12] #48279 closed

[2022-10-26 14:21] RLHecht opened #48778 "Remove broken link from education hub landing page and left nav"
## Issue Description

We have a broken link on the [education hub landing](https://www.va.gov/education/) page and in the left nav that we need to remove.

On the landing page, in the More information and resources section, we want to remove the entire content and link for "My Story—how Veterans and service members use the GI Bill."

![Screen Shot 2022-10-26 at 10.15.19 AM.png](https://images.zenh

[2022-10-26 14:22] joeniquette commented on #47073
work is completed, each subsequent task will be its own epic

[2022-10-26 14:22] #47073 closed

[2022-10-26 14:30] RLHecht commented on #48155
@ericasauv09 I'm going to close this as I think our team's work is complete. Please reopen if you need anything more from us. Thanks!

[2022-10-26 14:30] #48155 closed

[2022-10-26 14:31] katherine-fung commented on #48370
Hi @laurwill, I did some more digging re: the Medicare deduction and "child's wages" that the current page mentions.

There are other types of income and expenses that you can subtract that the live page doesn't mention -- including Medicare premiums, I believe? : https://helpdesk.vetsfirst.org/index.php?pg=kb.page&id=2799

re: child's wages, there's some legislation that discusses "How a child's

[2022-10-26 14:36] Mottie commented on #41046
Update: FE changes PR is "essentially complete with these exceptions:

- The `all-claims/tests/schema/schema.unit.spec.js` unit test will continue failing until the vets-json-schema changes have been merged - see [PR #726](https://github.com/department-of-veterans-affairs/vets-json-schema/pull/726)
- Submission from the FE changes (not yet merged) will fail until vets-json-schema is updated
- We a

[2022-10-26 14:49] RLHecht commented on #48157
Thanks @aliyahblackmore I changed it to "like these." I went back to check the word doc and we had already updated it there so it should now match and should have already been translated!

I've reviewed all three of these pages and will confirm with Danielle at our next call if we need to send to stakeholders for awareness before we publish.

[2022-10-26 14:57] CherylEvans commented on #47915
@briandeconinck I would like to commend you on the great job you have done!  Your attention to detail, and the specificity with which you laid out your case was thoughtful and intentional.  :-)
I found only a few issues:
[Draft form for generating the accessibility testing artifact](https://github.com/briandeconinck/a11y-artifact-discovery/issues/new?assignees=briandeconinck&labels=a11y-testing&te

[2022-10-26 15:02] michelle-dooley commented on #45510
@jamigibbs - I think this is everything you need for the new components.  I also updated the GA4 worksheet with these new events for that implementation.

va-date:  event: 'int-date-blur', prefix: 'date'
va-banner:  event:  'int-banner-close', prefix: 'banner'
va-button-pair:  event: 'int-button-pair-click', prefix: 'button-pair'
va-memorable-date:  event: 'int-memorable-date-blur', prefix:  'memo

[2022-10-26 15:02] mmiddaugh opened #48779 "Analytics Implementation or QA Support for [Sitewide Homepage - VA.gov Homepage]"
# Google Analytics Implementation or QA Request

## What this form is for

<details>
<summary>More Information</summary>
<div>
    <br>
<p>Use this template to request Google Analytics implementation or QA for your product. Please fill out all brackets.</p>

</div>
</details>

## Description
### Required
- **Is this request for **Google Analytics implementation** or **QA**?**

     - [ ] Google An

[2022-10-26 15:02] shiragoodman opened #48780 "Add IA design as requested artifact at Midpoint and Staging"
## User Story
As a Governance team member supporting IA for the Collaboration Cycle Staging Review, I want to see the IA design for the VFS product so that I can be sure to validate the products IA against the IA design.

As a Governance team member supporting IA for the Collaboration Cycle Midpoint Review, I want to see the current IA design for the VFS product, even if it's incomplete, so that I

[2022-10-26 15:03] #48658 closed

[2022-10-26 15:03] #47863 closed

[2022-10-26 15:03] #48309 closed

[2022-10-26 15:04] #48310 closed

[2022-10-26 15:04] #48308 closed

[2022-10-26 15:04] #48284 closed

[2022-10-26 15:04] #48486 closed

[2022-10-26 15:05] #48307 closed

[2022-10-26 15:06] #48181 closed

[2022-10-26 15:06] #48184 closed

[2022-10-26 15:07] #48189 closed

[2022-10-26 15:07] shiragoodman commented on #47915
hey @CherylEvans - thanks for your feedback . I think I have to disagree with your suggestion to capitalize axe. If you look at their [own site](https://www.deque.com/axe/browser-extensions/), they don't capitalize the name of their own product. We also have [existing pages on PW](https://depo-platform-documentation.scrollhelp.site/developer-docs/accessibility-testing-helper-functions) that refere

[2022-10-26 15:08] #47226 closed

[2022-10-26 15:09] #47052 closed

[2022-10-26 15:09] #48026 closed

[2022-10-26 15:09] joeniquette opened #48781 "CANCELED**[Ongoing]Identity - Improve user related data services in vets-api"
Goal:
- Improve the overall user experience on VA.gov as it relates to the user data we pull from external services
- More consistent expectations for VA.gov engineers as it relates to external user data services

Metric:
- Less downtime for the selected external user data services as it pertains to the expectations of their usage on VA.gov
- More consistent response times when VFS and Platform en

[2022-10-26 15:09] #47154 closed

[2022-10-26 15:10] #48003 closed

[2022-10-26 15:10] #48004 closed

[2022-10-26 15:11] #48005 closed

[2022-10-26 15:15] SKasimow opened #48782 "FE | Profile | Add Link for DD214 on Military Page"
## Background

["DD214" is the second most searched term from the profile](https://analytics.google.com/analytics/web/?authuser=0#/report/content-site-search-pages/a50123418w177519031p176188361/_u.date00=20200101&_u.date01=20200707&_.useg=builtin1&explorer-table.plotKeys=%5B%5D&_r.drilldown=analytics.searchStartPage:www.va.gov~2Fprofile~2F/). It's reasonable to assume that users expect to see info

[2022-10-26 15:17] rjohnson2011 commented on #45364
Looked into the mobile controllers and routing, which is handled in the `mobile` modules section of the `vets-api` app.

Chatted with the va-mobile-app team. Was informed that mobile often uses caching, so initial requests may be slow but subsequent requests should be fast. Also, sometimes mobile has to gather data from multiple sources, where the web app aggregates those multiple sources on the f

[2022-10-26 15:18] mmiddaugh opened #48783 "Content wordsmithing from Sitewide homepage"
## What does your team need support for? Check all that apply.
- [ ] Launching one or more new unauthenticated (static) VA.gov pages
- [ ] Making revisions to one or more existing unauthenticated (static) VA.gov page
- [ ] Launching a new online form, app, or tool on VA.gov
- [ ] Making revisions to an existing online form, app, or tool on VA.gov
- [x] Something else (please add details in the nex

[2022-10-26 15:23] michelle-dooley commented on #48741
@markfallows - can you please share the google sheet with me.  Thanks!!

[2022-10-26 15:25] michelle-dooley commented on #48627
@bryan-riley-va - can you please provide details on this request and what you need implemented.  Urls and screen shots are great.

[2022-10-26 15:27] shiragoodman opened #48784 "Add "Introduction to Inclusive Research" to Platform Website/Research"
## User Story
As a VFS team member doing research, I want to make sure my research is inclusive, so that my team can help fight sampling bias and in turn, design services that all Veterans can easily access and use.

Assignee:
Peer Reviewer:

## Description
Ticket #41709 was deprioritized due to the artifacts being outdated and in need of serious updates. However, @joshkimux shared that the [Intro

[2022-10-26 15:34] it-harrison commented on #41696
Hi @CherylEvans [here is a draft of this document](https://vfs.atlassian.net/wiki/spaces/PPST/pages/2415493233/Research+Synthesis).

[2022-10-26 15:36] joeniquette commented on #48707
completed support request: https://dsva.slack.com/archives/CBU0KDSB1/p1666714835059079

Have two folks on standby to assist with approving the PR and then merging it once IAM has published the new metadata file.

[2022-10-26 15:37] #48604 closed

[2022-10-26 15:37] shiragoodman commented on #48629
@bryan-riley-va sorry! typed this out yesterday and never commented.

Do you know if your team completed a Midpoint Review for Secure Messaging? I was able to find the [Design Intent ticket](https://github.com/department-of-veterans-affairs/va.gov-team/issues/41827), but I don't see anything after that. Please let me know.

[2022-10-26 15:38] #48377 closed

[2022-10-26 15:41] SKasimow opened #48785 "Design | Profile | Addition of DD214 to Military page| Update CC guide"
## Background

With the addition of a link for DD214 on the Military page, we want to update the CC guide and keep our documentation current.

## Tasks
- [x] Once #48782 is in staging, update the CC guide with new screen images

## Acceptance Criteria
- [ ] Notify Product Manager that the updates are completed and can be sent to CC poc

[2022-10-26 15:43] shiragoodman opened #48786 "Add Sara Sterkenburg to Contact Us page and remove Jim"
****Assignee:** @sterkenburgsara
**Peer Reviewer:**** @allison0034

## Description
Add Sara Sterkenburg to Contact Us page as the IA for Governance team. Remove Jim Ryan.

## Impacted Artifacts
[Contact Us](https://depo-platform-documentation.scrollhelp.site/collaboration-cycle/contact-us)

## Tasks
- [x] Edit the page to remove Jim and add Sara

## Peer Review
_To be completed by peer reviewer_
-

[2022-10-26 15:58] CherylEvans commented on #47915
@briandeconinck Completed test #1
[Accessibility Testing for [47915, Cheryl E, TEST-1] #2](https://github.com/briandeconinck/a11y-artifact-discovery/issues/2url) - Basic test, no issues or contingencies.

[2022-10-26 15:58] joeniquette commented on #48368
New user log widgets added to Identity DD dashboard:
![Screen Shot 2022-10-26 at 11 57 28](https://user-images.githubusercontent.com/71290526/198075938-5d24bb3d-0db9-47d6-b992-40354d18e9b9.png)

[2022-10-26 15:58] #48368 closed

[2022-10-26 15:58] benbrasso-agile6 commented on #47443
Back to today's appointments

^ Only display when more than 1 appointment is available for the day

[2022-10-26 16:00] laucon commented on #48668
@andreahewitt-odd I think the content team needs an answer or a general guideline: is it bad if any Pltform website docs link to confluence? Because you had the issue with [this link](https://vfs.atlassian.net/wiki/spaces/FLT/pages/2031812688/Current+Forms+Library+Audit%3A+Features%2C+definitions%2C+components%2C+fields+-+FLT), but the page also links to [this confluence doc](https://vfs.atlassian

[2022-10-26 16:12] mmiddaugh commented on #48037
@megzehn San Juan Vet Center is ready for copyediting, per Tiffany. Thank you!

[2022-10-26 16:24] CherylEvans commented on #47915
@briandeconinck I also wanted to add that what you presented in the [conversation thread accessibility ops slack channel](https://dsva.slack.com/archives/C023ZKDJJK1/p1664468503794349url) was a perfect start to the overall conversation and subsequent collaborative solution.

[2022-10-26 16:30] SKasimow commented on #48264
Thanks for clarifying!

[2022-10-26 16:31] michelle-dooley commented on #48598
@ajakabcin - so we know from our previous work on #41730 that link from the notification is working as expected....

![image](https://user-images.githubusercontent.com/93597659/198076530-b9de9d2d-ba00-4047-b8e6-84c41bd66cf3.png)

![image](https://user-images.githubusercontent.com/93597659/198076773-3712d0c9-a0ce-45d1-b29b-91ed50173e41.png)

To track the link click from 'Outstanding debts' section

[2022-10-26 16:35] SKasimow commented on #48410
We can also cover in grooming once you can join Liz if that is helpful for Adam + John

[2022-10-26 16:37] laurwill commented on #47658
Hi @megzehn ,
This page is ready for a copyedit: http://preview-prod.vfs.va.gov/preview?nodeId=49817
Let me know if you have any Qs! Thanks. And noting that we'll send this to stakeholders before publishing.

[2022-10-26 16:38] tpharrison commented on #47440
Linked!

[2022-10-26 16:53] nicko-amida commented on #48245
@heyjoni [H1 headings have been update across all pages](https://www.sketch.com/s/da85cf44-4503-4e98-834e-ff068b242ef6/a/ygvYdEq) - I'm checking with @DanielleThierryUSDSVA to see if there's any additional content suggestions still being worked on.

[2022-10-26 16:57] laucon commented on #48668
After talking to Vicky, I think it would be best to get rid of all the links to confluence docs. I think there are 3 main steps to doing this for this document:
1. Change:
 "If you are looking for information about the VA Forms System Core (VAFSC - the next generation version of the Forms Library), details about the current development status of the package can be found on the [VAFSC Work Stream p

[2022-10-26 16:57] aliyahblackmore commented on #48337
Hi @RLHecht ! This is ready for review and then publish on 10/31!
Preview link: http://preview-prod.vfs.va.gov/preview?nodeId=19578

[2022-10-26 17:16] #42661 closed

[2022-10-26 17:16] #45172 closed

[2022-10-26 17:25] shiragoodman opened #48787 "Schedule Platform Orientation in Calendly for 2023"
## User Story
As a Governance team member supporting Platform Orientation, I want to make sure the teams responsible for orientation are signed off on the orientation timeslots for 2023 so that I can commit to the changes in Calendly.

Assignee: @shiragoodman
Peer Reviewer: @CherylEvans

## Description
Calendly is the tool we use for scheduling the Platform Orientation sessions. Although Calendly

[2022-10-26 17:25] Samara-Strauss commented on #47441
All -- I am SO sorry. I somehow missed a reply from John Gosnell last week confirming that it should be "reminders" instead of "reminder":

I have a final email out to him to confirm he signs off on the rest of the copy, since he didn't address it in his most recent email.

Again, so so sorry for the delay. I don't know how I missed his email.

[2022-10-26 17:27] Samara-Strauss commented on #47441
CONFIRMED! John has signed off on the copy [Liz outlined above](https://github.com/department-of-veterans-affairs/va.gov-team/issues/47441#issuecomment-1292206130). I will pass this on to VA Profile. We can otherwise close this ticket.

[2022-10-26 17:27] #47441 closed

[2022-10-26 17:27] SKasimow commented on #48006
Notes: Is this an issue specific to Profile modals - if so we can address. If not, talk to Design system folks.

Compare against Crisis modal and see if it uses the legacy react modal component.

[2022-10-26 17:32] kylesoskin opened #48788 "Supplemental Claims | Endpoint and JSON schema works/documentation"
This is a requirement that needs done before release

- [ ] Add/Update https://github.com/department-of-veterans-affairs/vets-json-schema
- [ ] Add to Swagger docs https://department-of-veterans-affairs.github.io/va-digital-services-platform-docs/api-reference/#/supplemental_claims/createSupplementalClaim
- [ ] Add test cases that make use of the schemas

[2022-10-26 17:32] SKasimow commented on #47757
Connectivity issue causes this alert.

[2022-10-26 17:34] #48334 closed

[2022-10-26 17:36] kylesoskin commented on #48373
This has been reparsed and re-evaluated. Results sent to Emily. Waiting on validation, but I think the last checkbox of "Identify which of the codes are in the updated 125 list" is not going to be ours to do/part of this ticket. So will close after emily says she is good/done with the data provided.

[2022-10-26 17:37] mmiddaugh opened #48789 "IA request from Sitewide homepage"
## What does your team need support for? Check all that apply.
- [x] Launching one or more new unauthenticated (static) VA.gov pages
- [x] Making revisions to one or more existing unauthenticated (static) VA.gov page
- [ ] Launching a new online form, app, or tool on VA.gov
- [ ] Making revisions to an existing online form, app, or tool on VA.gov
- [ ] Something else (please add details in the nex

[2022-10-26 17:38] kylesoskin opened #48790 "Supplemental Claims Backend Test cases"
- [ ] Determine required backend rspec tests required
- [ ] Write them
- [ ] Merge them

[2022-10-26 17:41] laineymajor opened #48791 "EKS security considerations next steps"

[2022-10-26 17:43] ajakabcin opened #48792 "[FE] Payment info v2: Implement/update analytics tags for GA tracking"
## Background
We need to implement one new tag for GA tracking on payment info v2 and update the tag on the "manage your va debt" link. See [guidance](https://github.com/department-of-veterans-affairs/va.gov-team/issues/48598#issuecomment-1292498848) in #48598

## Tasks
- [x] Add tagging on the "Manage your VA bills" link within the copay card using the following

- [x] Update tagging on "Manage y

[2022-10-26 17:52] ajakabcin commented on #48598
Hi @michelle-dooley thanks for this - yes you're right the only _new_ tracking we need to add here is on the "Manage your VA bills" seen in[ this sketch file](https://www.sketch.com/s/9b0e6efc-423a-4354-9db3-ab2083d566c9/a/rb3RzvK) on the Copay card

Does that still align with your guidance above? Thanks!

[2022-10-26 17:54] #48449 closed

[2022-10-26 17:54] #47821 closed

[2022-10-26 18:10] michelle-dooley commented on #48598
Here is what you need for that one....

event: 'dashboard-navigation'
dashboard-action: 'view-link'
dashboard-product: 'view-manage-va-bills'

[2022-10-26 18:13] denisecoveyduc commented on #46008
19/26 we think the work is done for this but waiting to validate. Validation is slow because of staging user issues @Dr-Pongo