[2021-07-06 16:59] annaswims opened #26984 "HLR v2 - add email"
Lighthouse says they're going to accept longer email addresses for HLR v2 . Currently the email address must be 44 characters or less and is optional so we don't send it.  But, it might be worth sending for v2.

No action is required now but adding this as a reminder for later.

https://dsva.slack.com/archives/CSKKUL36K/p1625589750145500?thread_ts=1625238891.135200&cid=CSKKUL36K

[2021-07-06 17:00] annaswims commented on #21757
new related issue for hlr v2 emails https://github.com/department-of-veterans-affairs/va.gov-team/issues/26984

[2021-07-06 17:07] ajakabcin commented on #26747
Thanks @mnorthuis ! Ditto to what Erik said above - thank you for pulling this info together for us.

Do we just close this ticket then?

[2021-07-06 17:12] andaleliz commented on #26529
@erikphansen I now see the problem - my mocks reflecting the updated to the secondary button style don't follow the design system guidance. That was my bad, sorry for the re-work.

We should follow the design system and let them go full width.
Update and cancel buttons should stack.

Do you need me to provide mock-ups?  Thanks for catching this!

[2021-07-06 17:14] joshkimux commented on #23437
Just checked, alt is blank now 👍
Great work y'all 🥳

[2021-07-06 17:14] #23437 closed

[2021-07-06 17:16] joshkimux commented on #26416
Confirming all VA.gov search results tickets have been fixed. Find a VA Form and Resources/Results remains. I'll reassign this accordingly.

[2021-07-06 17:19] joshkimux commented on #26416
Closing this ticket out as all defects have been resolved. Headings still need adjustment to be consistent, but are documented in a separate ticket.

[2021-07-06 17:19] #26416 closed

[2021-07-06 17:27] joshkimux commented on #26335
Confirmed that VA.gov search results has been fixed 🥳

<img width="1305" alt="Screen Shot 2021-07-06 at 1 22 27 PM" src="https://user-images.githubusercontent.com/14154792/124642456-dca41e00-de5d-11eb-8bbe-bd17968de85e.png">

[2021-07-06 17:30] joshkimux commented on #26335
@MarciMcGuireGCIO and @zacharymorel forwarding this ticket over your way. Two items remain to get search results to be consistent with one another:

- "Showing X results" should be a h2 on resource results
- Find a form search results should be headings

<img width="1792" alt="Screen Shot 2021-06-21 at 12 26 37 PM" src="https://user-images.githubusercontent.com/14154792/122797396-6e703080-d28d-11e

[2021-07-06 17:36] mdewey commented on #26325
The `MUSTS` were addressed in  [this PR](https://github.com/department-of-veterans-affairs/vets-website/pull/17734).

[2021-07-06 17:48] annaswims commented on #21757
lighthouse will now allow for long but valid email addresses in NOD so I upped our limit too https://github.com/department-of-veterans-affairs/vets-api/pull/7363

[2021-07-06 17:48] erikphansen commented on #26529
No mocks needed. I think it was this way because the "cancel" button used to look like a text link that sat right next to the update/save button.

[2021-07-06 17:48] amyknox commented on #26936
Thanks for the input Trevor.  Question for you on "aria-describedby":  Curious if that label is added to the question content or is it on the input control?

👀 @1Copenut

[2021-07-06 17:49] #26747 closed

[2021-07-06 17:52] 1Copenut commented on #26936
Great question @amyknox ! The `aria-describedby="UNIQUE_ID"` attribute is added to the input that toggles the new questions or controls. It should point to a unique ID on the new questions/controls container so the input will read out the new elements.

[2021-07-06 17:55] mmiddaugh commented on #26688
Looks great! Thank you!

[2021-07-06 17:55] #26688 closed

[2021-07-06 17:55] annaswims opened #26985 "Sidekiq Admin UI Access Request"
_Access to the Sidekiq Admin UI is managed through a GitHub team under the `department-of-veterans-affairs/vets.gov-write` org. Please provide your GitHub username to be added to that team, along with a reason access is required._

- GitHub username: @annaswims, @michelpmcdonald
- Reason access is required: We work on Form 526, application for Disability, which uses a series of workers to submit t

[2021-07-06 17:56] mmiddaugh commented on #26588
Looks great - thank you!

[2021-07-06 17:56] #26588 closed

[2021-07-06 17:57] andaleliz commented on #26529
That's what I thought too, but I went back to an old screenshot and see that indeed, the text link button style fell underneath the full-width update button.

FYI I noticed that the `back` and `continue` buttons in our forms aren't full width, so I [checked in with the design system team to learn more about exceptions to things being full width](https://dsva.slack.com/archives/C0NGDDXME/p162559262

[2021-07-06 17:57] srsuddath commented on #26728
The following command is used to sync our cypress tests with our test rail account!

TR_USER="dcoveyduc@governmentcio.com" TR_API_KEY="8v.fL9bwBFD46Li53Li3-ypYC26AgLPTnRU4WL91u" TR_PROJECTID="31" TR_SUITEID="150" TR_RUN_NAME="Typeahead test run 1" TR_INCLUDE_ALL="TRUE" TR_GROUPID="642" TR_FILTER="" yarn cy:testrail-run --spec src/platform/site-wide/user-nav/tests/e2e/00-required.cypress.spec.js

[2021-07-06 17:58] mmiddaugh commented on #24626
Resolved by fix for #26588

[2021-07-06 17:58] #24626 closed

[2021-07-06 17:59] mmiddaugh commented on #26689
Looks good - thank you!

[2021-07-06 17:59] #26689 closed

[2021-07-06 18:00] mmiddaugh commented on #8178
visible on staging - thank you!

[2021-07-06 18:00] #8178 closed

[2021-07-06 18:03] denisecoveyduc commented on #26323
Thanks @MarciMcGuireGCIO & @zacharymorel

@joshkimux Can you confirm, is there an accessibility issue with the "Back to Top" link located at the bottom of the Find a Form page?

fyi: @mgleo

[2021-07-06 18:13] RLHecht commented on #26864
@bethpottsVADEPO Here's my suggestion for the teaser text for the disability hub page:

File a claim online (VA Form 21-526EZ)
Start your application for disability compensation online now.

[2021-07-06 18:14] amyknox commented on #26936
Got it.  Thanks @1Copenut !!

[2021-07-06 18:15] dneel-bah commented on #26936
@1Copenut To be clear then, this request:
- Screens 11, 12, 13: Same comment about needing an aria-describedby to announce the month, day, year set of inputs depending on the checked radio button. This may become "noisy", but the attribute allows screen readers to announce the current radio button, pause, then read the describedby text like "Sponsor's date of..."

Would actually reference the uniq

[2021-07-06 18:18] allison0034 opened #26986 "Design feedback - Design intent Decision Tools - Discharge Upgrade Wizard change PDF form link to Air Force portal link"
## VFS acceptance criteria
- [ ] Let Platform know when the **Must** feedback has been incorporated
- [ ] Leave any comments for feedback you decide _not_ to take
- [ ] VFS team closes the ticket

## Thoughts/questions
-

## Feedback
- **Must** = the feedback must be applied
- **Should** = the feedback is best practice
- **Consider** = suggestions/enhancements

**Must:**
- Use green action link

*

[2021-07-06 18:21] #26100 closed

[2021-07-06 18:22] rarroyo23 commented on #14764
This ticket as been fixed by the fixed on PR https://github.com/department-of-veterans-affairs/va-mobile-app/pull/895/files. I also tested the talkback on Android and iPhone to make sure it says V-A instead of vah.

[2021-07-06 18:27] annaswims commented on #21757
all character limit issues have been addressed

[2021-07-06 18:27] #21757 closed

[2021-07-06 18:29] RLHecht commented on #26966
Work complete. Closing ticket.

[2021-07-06 18:29] #26966 closed

[2021-07-06 18:30] jeff2d2 opened #26987 "Developer Tool Authentication (Sidekiq): Release Plan"
This initiative is for adding GitHub Authentication to Sidekiq, and is an auth change to an internal (both VSP and VFS) tool. There was no testing and success is determined by successfully enabling it.

## Phase I: User Acceptance Testing

### Planning:

- Desired date range or test duration: N/A
- Desired number of users: N/A
- The group(s) from which you'll recruit test users: N/A
- How you'll r

[2021-07-06 18:33] mpelzsherman commented on #26301
Node ID for Pittsburgh locations page is 2802. http://preview-prod.vfs.va.gov/preview?nodeId=2802

[2021-07-06 18:33] #26987 closed

[2021-07-06 18:34] annaswims commented on #22484
once you get access to production you should be able to run `rake form526:errors` on the console.  You'll see something like
`form526.disabilities.ratedDisability.isInvalidThe rated disability being claimed for increase was not found for Disability`

Then, take the submission id and run `rake form526:submission[683761]`
examples - submission_id:
683761
683765
683773
683788
684046
684302
686112
687

[2021-07-06 18:35] #22354 closed

[2021-07-06 18:35] RLHecht commented on #26858
@kelsonic I think we need to keep this open for the language in the hubs. Though I can also open a new ticket for that. Would you be able to do the search?

[2021-07-06 18:37] 1Copenut opened #26988 "[SEMANTIC MARKUP] Checkbox Component - Extend the aria-describedby attribute to accept more than one ID"
## Definition of done

1. Review and acknowledge feedback.
1. Fix and/or document decisions made.
1. Accessibility specialist will close ticket after reviewing documented decisions / validating fix.

## Point of Contact

**VFS Point of Contact:** _Trevor_

## Details

The Design System team has been [working on an Attestation component](https://github.com/department-of-veterans-affairs/vets-websit

[2021-07-06 18:40] jeff2d2 opened #26989 "TEST: Sidekiq Admin UI Access Request"
# TEST

_Access to the Sidekiq Admin UI is managed through a GitHub team under the `department-of-veterans-affairs/vets.gov-write` org. Please provide your GitHub username to be added to that team, along with a reason access is required._

- GitHub username: jeff2d2
- Reason access is required: cuz

[2021-07-06 18:44] jeff2d2 commented on #26985
Added on 7/6/21

[2021-07-06 18:44] #26985 closed

[2021-07-06 18:49] #26989 closed

[2021-07-06 18:51] jeff2d2 opened #26990 "test"
test

[2021-07-06 18:58] mchelen-gov opened #26991 "Improve Homepage alert banner publishing process"
## Product Outline

## High Level User Story/ies
As a content editor, I need to quickly publish alerts on the VA.gov homepage, so that time sensitive information can reach Veterans.

## Hypothesis or Bet
**If** _we improve the process for publishing updates to homepage alert_ **then** _we lower coordination work and more quickly and reliably deliver content to Veterans_.

## OKR
_Which Objective /

[2021-07-06 18:59] thilton-oddball opened #26992 "Sidekiq Admin UI Access Request"
_Access to the Sidekiq Admin UI is managed through a GitHub team under the `department-of-veterans-affairs/vets.gov-write` org. Please provide your GitHub username to be added to that team, along with a reason access is required._

- GitHub username: thilton-oddball
- Reason access is required: Need access as member of BE Tools

[2021-07-06 19:00] #26990 closed

[2021-07-06 19:03] dneel-bah commented on #26936
@1Copenut Also, to answer this question:

Screen 2 of 14: Does the message "Applicants under the age of 18..." appear when the year field loses focus?

Yes, but more specifically it will display once the last piece of the date is populated that calculates the DOB to be < 18.  So for example if the applicant filled in the month, tabbed over the day, filled in the year, selected a day it would displ

[2021-07-06 19:08] MarciMcGuireGCIO commented on #26823
2021-07-06

- Find a Form changes went in this morning!
- Cassandra is working on Harassment tool

[2021-07-06 19:14] shiragoodman commented on #26643
@nathanielbuck i added a few items to your list above. thanks!

[2021-07-06 19:15] #26992 closed

[2021-07-06 19:16] shiragoodman opened #26993 "New Team VSP Orientation"
## User Story
As a new VA.gov team member, I need to complete onboarding activities so I can successfully work on my project.

## Acceptance Criteria
- [ ] Each team member has completed each item in the orientation checklist below.

## Onboarding Checklist

- [ ] PM: Attend intro meeting with product support PM
- [ ] Attend general orientation meeting
- [ ] [Request Access to Tools](https://githu

[2021-07-06 19:23] #17858 closed

[2021-07-06 19:27] shiragoodman commented on #26976
@tchrisdyer  - thanks for submitting this. I read your overview (thank you so much for providing) and recalled when we discussed this a few weeks back. Would you be able to take a second look at question # 1? I would assume that the Veteran would experience "no visible changes" based on your overview, however you selected Yes to visible changes.

[2021-07-06 19:32] ksantiagoBAH commented on #26096
PR: https://github.com/department-of-veterans-affairs/vets-website/pull/17748

[2021-07-06 19:32] pjhill opened #26994 "Quality Assurance Feedback - Midpoint Review - Education Benefits - VA Form 22-5490, 22-0994, 22-1990E"
## VFS acceptance criteria
- [x] Let Platform know when the **Must** feedback has been incorporated
- [x] Leave any comments for feedback you decide _not_ to take
- [x] VFS team closes the ticket

## Thoughts/questions
- Thanks for all the TestRail artifacts! We also appreciate the links in the references fields to the tickets from which the acceptance criteria are derived.

## Feedback
- **Must**

[2021-07-06 19:33] MarciMcGuireGCIO commented on #26335
@joshkimux forgive my confusion.  I see that the title changed from Defect 1 to Defect 2, but comments still has Defect 1 and there is a Defect 1 flag.  Can you please confirm which this is?  Thanks!

[2021-07-06 19:34] dneel-bah opened #26995 "0994: Add aria-describedby to form submit button"
As a developer, I need to add a describedby aria attribute to the form submission button so that users with accessibility issue can have the confirmation content reconfirmed on form submission.

## Assumptions:
1. This work does not require a prod or feature flag.

## Acceptance Criteria
1. The "Submit application" button has a aria-describedby="[By submitting this form content UNIQUE ID]"

## Sup

[2021-07-06 19:42] dneel-bah opened #26996 "EDU Forms: Update spacing on SSN fields in forms"
As a developer, I need to update the spacing of the 'Social Security number' and the 'I don't have a Social Security number' inputs so that the applicant can easily focus on either input on a mobile device without experiencing any difficulties.

## Assumptions:
1. This work is completed behind a prod flag.

## Acceptance Criteria
1. TBD - I don't have a social security number should be spaced fart

[2021-07-06 19:44] dneel-bah commented on #26936
**5490**
#26436 - Actively working in the current/next sprint
   - All musts included
   - Should's 1 & 3 included

Not going to take:
   - Should 2: This is a part of a platform definition, and similar behavior is contained in other forms.  Added to backlog #26996
   - Consider 1: Our mockup templates may be out of date as the "Need Help" footer has the TTY: 711.

**1990E**
Not going to take:

[2021-07-06 19:51] joshkimux commented on #26335
It's a defect 2, I'll fix that now!

[2021-07-06 19:52] MarciMcGuireGCIO commented on #26335
Awesome!  Thanks, @joshkimux !

[2021-07-06 20:03] amygoldman commented on #25850
Hey, I just sent you an invitation for a follow-up session to discuss the solution Gretchen came up with. Let us know if the suggested time doesn't work and we can reschedule!

[2021-07-06 20:05] mdewey commented on #26515
We have an engineer meeting set for July 13th 2021 for the engineering team to sync up on the details and early questions

Full doc here: https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/health-care/questionnaire/engineering/LoROTA

[2021-07-06 20:06] #26437 closed

[2021-07-06 20:06] #21221 closed

[2021-07-06 20:25] joshkimux commented on #26323
@denisecoveyduc I'll be writing a separate ticket addressing issues as Zach pointed out this is a global site wide component.
The main issue I'd like to test more is its stickiness, but that's not something that needs to be handled here! 🙇

[2021-07-06 20:27] alexandec commented on #26198
@theodur Awesome, that is helpful, thanks!

My hope is we can share a bunch of code between your `yarn watch` implementation and the Partial Builds implementation. It's true that the Partial Build approach on CI would be a new build from scratch, but in reality it should be basically the same in how it operates. The main difference would be the method of determining which templates/filters have ch

[2021-07-06 20:31] kristenmcconnell commented on #25854
A draft of the report has been sent to Corey Parker for review.

[2021-07-06 20:36] pjhill commented on #26022
I'm having trouble reproducing this issue on [https://www.va.gov/find-locations](https://www.va.gov/find-locations) for example. Has this been addressed already?
![image.png](https://images.zenhubusercontent.com/5d2633e0a6db635dbcbaf8d5/703caac8-897a-4ffb-a92a-002a21e251f2)

[2021-07-06 20:37] andaleliz commented on #26949
We touched base; capturing a few points for consideration (@tressaellen lmk if I missed anything) :
- Not all alerts will have associated notification items (but some will)
- Alert MVP will likely be kind of a news feed
- It may be helpful to include a way to manage related notifications within the alert
- People will probably conflate/confuse alerts and notifications (it's already happening inter

[2021-07-06 20:44] bethpottsVADEPO commented on #22726
@MarciMcGuireGCIO I'll be reviewing batch 1 stakeholder feedback by Wednesday. Will let you know if there's anything to push back on.

@lunascoop @RLHecht Can you take another pass at batch 2 for
- plain language (for example, "make changes to" rather than "modify")
- ensuring the right verb is used in all the first sentences: apply vs request
- VA.gov voice (and try to borrow language from our ex

[2021-07-06 20:46] joshkimux commented on #26325
@mdewey Fieldset is working well!

As for focus management it looks like you've added a `tabindex="-1"` but you may be missing a script to send the focus to the `h1`. `tabindex="-1"` allows an element to receive focus, but doesn't actually give it focus. You'll need to use javascript to do so.

[2021-07-06 20:54] pjhill opened #26997 "Refine Existing Home Page Canary Based on Stakeholder Feedback"
# Description
Per the this [thread ](https://dsva.slack.com/archives/CJRQ85PQB/p1624307675346800)of discussion regarding image loading and other issues on the VA.gov homepage, we need to make changes to the canary in order to accommodate new feedback. Ideas pulled from that thread include --

## New Acceptance Criteria
- [x] Refactor Canary to distinguish between `console.log()` and errors (consol

[2021-07-06 20:56] kristenmcconnell commented on #26645
Met with Corey and Mark to review midpoint review items.

[2021-07-06 20:56] lwalsh617 opened #26998 "R&S Updates: What your decision review or appeal status means"
### Issue

As R&S further evolves, we've reviewed live articles and are making updates. The following changes will be made to[ the live page](https://www.va.gov/resources/what-your-decision-review-or-appeal-status-means/):

- Intro:

Change "Find your type of decision review or appeal below to learn what your status means," to:
On this page, you can choose a type of decision review or appeal to le

[2021-07-06 20:58] lwalsh617 commented on #26998
@bethpottsVADEPO - Let me know if I should go ahead and make these changes in Drupal. Thanks!

[2021-07-06 20:59] kristenmcconnell commented on #26645
## Here is the list of things to change from usability and midpoint review:

**Definitely update**
- Change instruction text for what to do next on the confirmation page.
- Add back buttons when someone clicks yes or no to the contact/insurance question
  - Work with Danielle on wording
  - “Back to update information” or “Did you mean to hit yes?” Or “Need to update your information?”
   - Ask Ve

[2021-07-06 21:01] rjohnson2011 commented on #26881
Reaching out to @platform-team to get list of desired requirements for latest iteration of synthetic tests.

[2021-07-06 21:05] kristenmcconnell commented on #26645
@jparker0425 Complete list of the design changes that need to be completed based upon the midpoint review and usability testing.

[2021-07-06 21:05] #17346 closed

[2021-07-06 21:07] holdenhinkle commented on #26740
I haven't gotten very far getting the canary to run. Here's a link to a convo with Bill Ryan in Slack - https://dsva.slack.com/archives/CBU0KDSB1/p1625584677194400?thread_ts=1625067149.442700&cid=CBU0KDSB1

In the meantime, I implemented Visual Regression testing on the VA.gov homepage using Applitools in a GitHub Action on the Testing Tools Team repo.

Here's the pr - https://github.com/departmen

[2021-07-06 21:08] joeniquette commented on #13136
[https://app.zenhub.com/files/133843125/c1dd7410-9562-4eda-8898-79c54e114e69/download](https://app.zenhub.com/files/133843125/c1dd7410-9562-4eda-8898-79c54e114e69/download)

[2021-07-06 21:08] lwalsh617 opened #26999 "R&S Updates: How to check your VA claim, appeal, or decision review status online"
### Issue

As R&S further evolves, we've reviewed live articles and are making updates. The following changes will be made to[ the live page](https://www.va.gov/resources/how-to-check-your-va-claim-appeal-or-decision-review-status-online/):

- Change CTA button label to **Check your claim or appeal status**

### Tasks

- [ ] DEPO to approve changes as described above (Beth)

- [ ] SC to make chang

[2021-07-06 21:09] lwalsh617 commented on #26999
@bethpottsVADEPO - Let me know if I should go ahead and make the changes described above in Drupal. Thanks!

[2021-07-06 21:13] joeniquette commented on #26860
File sent to Dan Fein on 7/6/21 in an encrypted VA email.

[2021-07-06 21:13] amyknox commented on #26936
Double checking the templates, the Sketch template that was used appears to be the most recent (date updated: May 25).  Since the footer is a shared component, we'll be ok regardless of what displays in the prototype footer.

[2021-07-06 21:26] tchrisdyer commented on #26976
@shiragoodman Originally the plan was for no visible change as we would have used the original dropdown boxes, but as we learned more about the Facilities API we re-evaluated and decided to make a more substantial change allowing the user to search in an area. We may also show more information about the facility such as location and distance. So the complexity has risen quite a bit since we origin

[2021-07-06 21:32] holdenhinkle commented on #26740
I submitted this pr to make a minor change to the `cypress.yml` GitHub Actions workflow file because one of the modules for `puppeteer` required for Applitools was over 100mb, too big to upload to GitHub. So I'm planning to delete `node_modules` from from the Testing Tools Team Dashboard Data repo and instead run `yarn install` in each GitHub Actions workflow file.

PR - https://github.com/departm

[2021-07-06 22:16] lwalsh617 opened #27000 "R&S updates: Life insurance if you have preexisting conditions"
### Issue

As R&S further evolves, we've reviewed live articles and are making updates. The following changes will be made to[ the live page](https://www.va.gov/resources/life-insurance-if-you-have-preexisting-conditions/):

- Intro: Replace the current last sentence of intro with the following:
**Keep reading this page to learn about preexisting conditions and what to do right now to get insuranc

[2021-07-06 22:16] bethpottsVADEPO commented on #26933
@RLHecht I've been back channeling with Raleigh via chat, and he's trying to figure out how to message this without all the jargon. He was pushing for us to just put up the content with the jargon about titles/sections. But I said I'd rather wait until we have a more plain language approach--and that we'd send him a preview link with this approach of splitting out NG and Reserve info.

Let's try i

[2021-07-06 22:19] lwalsh617 commented on #27000
@bethpottsVADEPO - Let me know if I should go ahead and make these changes in Drupal.
Thanks!

[2021-07-06 22:25] lwalsh617 opened #27001 "R&S Updates: Life insurance dividend payment options"
### Issue

As R&S further evolves, we've reviewed live articles and are making updates. The following changes will be made to[ the live page](https://www.va.gov/resources/life-insurance-dividend-payment-options/):

- Intro: Replace last line of intro with the following:
Keep reading this page to learn about your options for receiving or using your dividend.

### Tasks

- [x] DEPO to approve change

[2021-07-06 22:26] lwalsh617 commented on #27001
@bethpottsVADEPO - Let me know if I should go ahead and make the change above in Drupal. Thanks!

[2021-07-06 22:29] mchelen-gov commented on #26991
Related OOB PM: https://github.com/department-of-veterans-affairs/va.gov-team-sensitive/blob/master/Postmortems/2021-07-06-homepage-banner-update.md

[2021-07-06 22:36] lwalsh617 opened #27002 "R&S updates: How to find out if you should get a higher TSGLI payment"
### Issue

As R&S further evolves, we've reviewed live articles and are making updates. The following changes will be made to[ the live page](https://www.va.gov/resources/how-to-find-out-if-you-should-get-a-higher-tsgli-payment/):

- Under related information, add [TSGLI Loss Standards](https://www.benefits.va.gov/insurance/tsgli_schedule_Schedule.asp)

### Tasks

- [x] DEPO to approve changes as

[2021-07-06 22:37] lwalsh617 commented on #27002
@bethpottsVADEPO - Let me know if I should go ahead and make the change described above in Drupal. Thanks!

[2021-07-06 22:46] lianilychee opened #27003 "Strategize for summer edition (Publish Monthly Newsletter)"
# User story

As a VFS team member, I want to understand any Platform releases, so that I can build my VA.gov service.

# Tasks

- [x] Alert Joanne and Carol that we are -not- publishing a July newsletter
- [ ] Determine when the summer edition should be released

Strat:
- Schedule the pair writing sessions
- Revise the draft

# Acceptance criteria

- We have a modified schedule for the summer edi

[2021-07-06 22:46] lianilychee opened #27004 "Prepare for office hours"
# User story

As a Platform Eng team member, I want to understand Content's audit guidance, so that I can prioritize what/how to transform my team's documentation.

# Tasks

- [x] Identify times for office hours (Amy)
- [x] Make calendar series (Tues, Thurs 11-11.30) (Amy will ask what they did)
- [x] Draft message to socialize office hours (Amy)
- [ ] Send out messages on a repeated cadence

# Ac

[2021-07-06 22:46] lianilychee opened #27005 "Host office hours for Eng teams' audits"
# User story

As a Platform Eng team member, I want to understand Content's audit guidance, so that I can prioritize what/how to transform my team's documentation.

# Tasks

- [ ] Remind people that there are office hours
- [ ] Host office hours

# Acceptance criteria
- To come.

# Reference info
- n/a

[2021-07-06 22:46] lianilychee opened #27006 "Delete old Platform website support overview page"
# User story

As a Platform team member, I need to know how to request support from the Content team, so that I can complete the task-that-I-am-doing as quickly as possible.

# Tasks

- [x] Delete old support overview page (Amy)
- [x] Think through holistically how to represent general content support and Platform website support
- [x] Put content from old support overview page somewhere in our Op

[2021-07-06 22:46] lianilychee opened #27007 "Iterate on and publish the support taskflow"
# User story

- As a Content team member,
- I need a clearer version of the support taskflow
- so that I can assist other teams smoothly.

# Tasks
- [x] Determine _what_ we want to clarify/refine in the taskflow
- [ ] Determine where this taskflow should live (in MURAL, or operational docs?)
- [ ] Share with Rachael Roueche

# Acceptance criteria
- There are artifacts for all the indicated areas (

[2021-07-06 22:46] lianilychee opened #27008 "Implement `page properties` macros to individual existing pages and tracker"
# User story

- As a Content team member
- I want to know the metadata for existing Platform website pages
- so that I agitate the teams whose pages are are ROT'd.

# Tasks

- [x] Determine what we _can_ track with the macro
- [x] Decide what page properties to track
- [x] Test macros and reports with a few pages
- [x] Identify and add `page property to all pages
- [x] Add the `page property repor

[2021-07-06 22:46] lianilychee opened #27009 "SUPPORT - Support Platform teams in contributing to Platform website (Support Platform teams)"
# Description
Ensuring Platform Teams can contribute to the Platform Website.

# Reference info
- [Support board](https://github.com/department-of-veterans-affairs/va.gov-team/projects/37)

[2021-07-06 22:52] lwalsh617 opened #27010 "R&S updates: What your claim status means"
### Issue

As R&S further evolves, we've reviewed live articles and are making updates. The following changes will be made to[ the live page](https://www.va.gov/resources/what-your-claim-status-means/):

- Intro:
Change last sentence of intro to read: **Keep reading this page to learn about the terms we use for each stage of the process.**

### Tasks

- [ ] DEPO to approve changes as described abo

[2021-07-06 22:55] lwalsh617 commented on #27010
@bethpottsVADEPO - Let me know if I should go ahead and make the change described above in Drupal. Thanks!

[2021-07-06 23:01] mpelzsherman commented on #26301
Fixed

[2021-07-06 23:01] #26301 closed

[2021-07-06 23:03] lwalsh617 opened #27011 "R&S updates: How to set up direct deposit for VA travel pay reimbursement"
### Issue

As R&S further evolves, we've reviewed live articles and are making updates. The following changes will be made to[ the live page](https://www.va.gov/resources/how-to-set-up-direct-deposit-for-va-travel-pay-reimbursement/):

- Intro:
Add "keep reading"  language so user knows not to hit CTA buttons:
**Keep reading this page to find out how to set up direct deposit so we can deposit your

[2021-07-06 23:04] annaswims commented on #26715
id's so that I can look up in-progress forms tomorrow
 id:7c937871-5122-40fe-acea-09a74a127f7f
id:5c3c7269-d05b-4bf1-a263-3f51dcf36c63
id:af064f77-fd72-42fe-b01e-f656e9415e87

[2021-07-06 23:04] lwalsh617 commented on #27011
@bethpottsVADEPO - Let me know if I should go ahead and make this change in Drupal. Thanks!

[2021-07-06 23:11] lwalsh617 opened #27012 "R&S Updates: What if I don't want a fiduciary anymore?"
### Issue

As R&S further evolves, we've reviewed live articles and are making updates. The following changes will be made to[ the live page](https://www.va.gov/resources/what-if-i-dont-want-a-fiduciary-anymore/):

- 2nd CTA button:
Change label to make it clearer:
**Appeal a fiduciary claim decision**

### Tasks

- [x] DEPO to approve changes as described above (Beth)

- [x] SC to make changes (L

[2021-07-06 23:14] bsmartin-ep commented on #26512
@joanneesteban / @JasonTheBearded -

GTM integration for Confluence is pretty basic - just specify a GTM id and... that's it.

This might be the rare case where scraping interactions in GTM is our best bet.  Thoughts on a generic global link click event, Jason?

[code]

![image](https://user-images.githubusercontent.com/62304138/124677375-4e945b80-de8e-11eb-9a7c-1a189abb2e67.png)

[2021-07-06 23:25] chloedotbrown commented on #25868
Update: drill paths built out for all cards (except line chart at top left, which doesn't need one). Data dictionary also finished and ready to be proofed. I've added a few small notes on this in my OOO doc, but it should be ready for QAing once data is uploaded from PM forms.

[2021-07-06 23:29] erikphansen commented on #26752
Just waiting for this change to propagate to prod. But it looks good in staging.

[2021-07-06 23:30] kathleencrawford commented on #25698
Update 07/06/2021 - sent an email request to BGS to confirm a test user's PID in PreProd.  Also asked Trevor for help with submitting a request to the IM team to update a user's PID in DEV.

[2021-07-06 23:32] kreek opened #27013 "Sidekiq Admin UI Access Request"
_Access to the Sidekiq Admin UI is managed through a GitHub team under the `department-of-veterans-affairs/vets.gov-write` org. Please provide your GitHub username to be added to that team, along with a reason access is required._

- GitHub username: kreek
- Reason access is required: The mobile api makes use of a couple Sidekiq jobs that may require monitoring and debugging during app beta testin

[2021-07-06 23:33] kathleencrawford commented on #26716
Update 07/06/2021: Connection established through DEV!  Currently just in terminal session, not tested via vets-api yet (code needs to be added).

[2021-07-06 23:38] jwoodman5 commented on #26017
@1Copenut Just confirming this is a defect-2, not a defect-1? We are allocating resources for these and the question came up for clarification. Thanks!

[2021-07-06 23:42] jeff2d2 commented on #27013
Added on 7/6/21

[2021-07-06 23:42] #27013 closed

[2021-07-07 00:03] amyknox commented on #26973
@JenLJ 2 could you address these updates in the prototype Wednesday am?  TIA!

[2021-07-07 00:24] chloedotbrown commented on #26507
Adding @JasonTheBearded to this ticket for situational awareness about the ETL portion of this work.

I brought this issue up in our data chat this morning, but documenting it here for better traceability! A downside with the current dataflow is that Domo does not make it easy to append ETLs (instead of replacing full datasources each time they run). This may become an issue for us as people cycle

[2021-07-07 02:02] kevwalsh commented on #26991
Today @swirtSJW  and i briefly discussed what an iteration on the content model and governance structure for the existing banner alert structure might look like (which was never really meant to scale, it was a barebones implementation to accomplish the Benefits Hubs migration).

1. A new content type called, say, **Banner**, modelled after VAMC banner alert but without the facility-specific aspect

[2021-07-07 11:45] sonntag-adam commented on #26920
In staging. Testing passes QA.

[2021-07-07 11:45] #26920 closed

[2021-07-07 11:46] sonntag-adam commented on #26671
In staging. Testing passes QA.

[2021-07-07 11:46] #26671 closed

[2021-07-07 11:50] sonntag-adam opened #27014 "CT Redesign: Can't search by name"
## Steps to reproduce:

1. Navigate to https://staging.va.gov/gi-bill-comparison-tool-sandbox/?search=name
2. Search on a school
3. Observe error

![Screen Shot 2021-07-07 at 7.48.52 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/d2acebde-e985-418c-890d-5a1a4f804512)

[2021-07-07 12:46] mdewey commented on #26501
Note: Added the meta tags to the `withFeatureFlip` Component that will be implemented in #26293

[2021-07-07 12:59] Cooperjstn opened #27015 "Footer displaying old date on OPRM.VA.GOV"
## Issue Description
Hello, my name is Justin Cooper. I am the webmaster/web-developer for OPRM.VA.GOV. Our footer is displaying Feb 28th, 2020 and the stakeholders would prefer if the date is updated/removed all together. I've reached out to VA CMS Team and they said that due the custom build of the footer, they cannot update it at all. I've exhausted all connections and communicated with everyon

[2021-07-07 13:04] indytechcook commented on #26991
One more possible use case

### Load data from JSON file on S3 populated from Drupal
- pros
   - does not require OOB deploy
   - does not require a full content release
   - alert i loaded in real time
- cons
  - requires CMS/GFE access
  - **requires a new publishing pipeline**

[2021-07-07 13:14] johnhashva commented on #27015
This was reviewed by the VA.gov CMS team and a front-end engineer and we determined this footer component is now in our "control" -- it does not use the footer injection -- so we are unable to assist/fix.

[2021-07-07 13:19] johnhashva commented on #26991
To put a finer point on a few things:

[2021-07-07 13:19] johnhashva commented on #26991
To put a finer point on a few things:

[2021-07-07 13:21] 1Copenut commented on #26017
@jwoodman5 Yes, let's treat this as a defect two. It's a lot of keypresses for users to get to the Feedback button via keyboard, so very difficult but workable. I'd consider this a high two, maybe the first two fixed after the 1's are cleared.

[2021-07-07 13:27] kristenmcconnell commented on #26645
@DanielleThierryUSDSVA The items in the above comment are what we will be discussing today.

[2021-07-07 13:30] johnhashva commented on #26991
Additional context as we think this through:

- Banner must be deployed into production as quickly as possible -- 5-10 minutes.
- Optimally: A broken link checker must be in place to "force" the editor to fix those links before the banner can be published.
- Optimally: a spell checker is part of this solution

[2021-07-07 13:39] dat-gcio commented on #26656
@Dene-human Here is the review instance [link](http://bee83717a9ddd6c81e58213b7b105c69.review.vetsgov-internal/health-care/apply/application/introduction)

[2021-07-07 13:39] RLHecht commented on #26933
@bethpottsVADEPO I just added the third accordion and redid the bullets so that only National Guard requirements where in that accordion and Reserve requirements were in the other accordion. Take a look and let me know what you think.

[2021-07-07 13:40] meganhkelley opened #27016 "Tools FE VFS Support - PR Reviews Sprint 56"
## Details

Add PRs to this epic during Sprint 56. Any time you ...
* Approve a PR
* Leave comments on a PR
* Request changes on a PR

Add PRs from ...
* VFS teams
* Other VSP or Platform Crew teams

DO NOT add PRs from ...
* FE Tools team

[2021-07-07 13:41] ajakabcin commented on #26703
Hi @bsmartin-ep - any updates on this?

[2021-07-07 13:41] #26457 closed

[2021-07-07 13:49] timwright12 commented on #25568
Pausing this work based on a [slack conversation](https://dsva.slack.com/archives/C01CHAY3ULR/p1625582297232700)

[2021-07-07 13:52] jenniferlee-dsva commented on #26991
Wanted to provide this reference which captures some of the early discussions that @johnhashva @davidconlon @rtwell and at the time someone on the Drupal engineering team (forget her name).

https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/content/banners/banner-alerts.md

I think ^ @kevwalsh is including in-body alert components in # 6. That may be appropriate, b

[2021-07-07 13:55] 1Copenut commented on #26022
Thanks @pjhill. I cross-checked your screenshot on VA.gov and am seeing the yellow focus halo. AC is met, going to move this one to closed.

[2021-07-07 13:55] #26022 closed

[2021-07-07 14:00] JenLJ commented on #26973
Thanks @allison0034! We've changed the underage 5490 message to a background only alert with an icon.  Do we need to use the conditional blue bar with the alert - or is that unnecessary?
![Screen Shot 2021-07-07 at 9 48 11 AM](https://user-images.githubusercontent.com/36964225/124772587-2a766000-df0a-11eb-92c4-55fcf37ae2e3.png)

[2021-07-07 14:06] k80bowman commented on #25393
I started research on this card by speaking with Tim Wright about the expectations our team has for what automated unit test failure would accomplish. The main goal he identified was to find a way to automate alerting the appropriate team when a unit test fails in `master` on `vets-website` or `content-build`.

He also identified several other goals that we might look into including
* automating s

[2021-07-07 14:14] shiragoodman commented on #26976
@tchrisdyer thank you for sharing! This is helpful. Based on your responses and the additional info you shared, your project is an iteration to a tool and/or application so we are recommending the following Collaboration Cycle touchpoints:

- Design Intent
- Midpoint Review
- Contact Center Review (you may just need to update the Product Outline for the 10-10CG, but check with the Contact Center t

[2021-07-07 14:18] kelsonic commented on #26858
@RLHecht Oops! I completely forgot, let me do that search now, sorry! 🙂

[2021-07-07 14:22] CBonade commented on #25551
I've been looking into a solution for this. My programming brain says there should be an easy way to check if an artifact exists before it's attempted to be downloaded, however I have yet to find a way to do this and team members I've asked additionally are unsure.  In theory, if it failed because of a failed test an artifact would exist and it would not be an issue, however these failures were du

[2021-07-07 14:23] AGarcia-Clarity commented on #20198
Meeting with Content/IA team today at 2pm.

[2021-07-07 14:27] joanneesteban commented on #26512
Global link clicks should work! Having the different classes is also some good metadata for us.

[2021-07-07 14:28] kristenmcconnell commented on #26645
@DanielleThierryUSDSVA Without shortening the URL, the URL will be around 88 characters and look something like this:

https://va.gov/health-care/appointment-check-in/?id=46bebc0a-b99c-464f-a5c5-560bc9eae287

See [Slack thread](https://dsva.slack.com/archives/C022AC2STBM/p1625667001457200) with details.

[2021-07-07 14:30] shiragoodman opened #27017 "New Team VSP Orientation"
## User Story
As a new VA.gov team member, I need to complete onboarding activities so I can successfully work on my project.

## Acceptance Criteria
- [ ] Each team member has completed each item in the orientation checklist below.

## Onboarding Checklist

- [x] Attend general orientation meeting
- [x] [Request Access to Tools](https://github.com/department-of-veterans-affairs/va.gov-team/blob/m

[2021-07-07 14:31] rjohnson2011 commented on #26883
Looking into Canary with recent AWS permissions and how to test while triggering alerts silently. Reaching out to #platform-team to get all desired requirements for next iteration of synthetic testing.

[2021-07-07 14:34] dneel-bah opened #27018 "EDU Form: Education form updates for 5490"
## High Level User Story
As an Education stakeholder, I need the Education Services form 5490 on VA.gov updated so that veterans have a consistent experience when completing the forms on paper or digitally.

## Assumptions:
1. The stories linked to this EPIC have been agreed upon by reps from OIT, DEPO and EDU.
2. This work follows the [VSP Collaboration Cycle](https://github.com/department-of-vet

[2021-07-07 14:34] DanielleThierryUSDSVA opened #27019 "Iterations for Prescription refill tool landing page"
## Issue Description
Updates to prescription tool landing page based on revised content flow for tool landing pages (first example of this launched as part of the Manage your VA debt/FSR updates: https://www.va.gov/manage-va-debt/).

---
## Tasks
- [x] Update H1 and intro (Danielle)
- [x] Check H1 and intro and publish (Randi)
- [ ] HOLD FOR NOW

## Acceptance Criteria
- [ ] Page updated per revis

[2021-07-07 14:35] DanielleThierryUSDSVA commented on #27019
Hi @RLHecht. I updated the H1 and intro for this page (node 27). Could you check and set to publish if all is well? Thanks!

[2021-07-07 14:36] Dene-human commented on #26656
Looks great! Just one question: Would it be possible to make the "required" on the Medicare question not an orphan?
![Screen Shot 2021-07-07 at 10 33 29 AM](https://user-images.githubusercontent.com/80857940/124778671-23058580-df0f-11eb-9aa4-15327ff6cb88.png)

[2021-07-07 14:37] timwright12 commented on #25393
@k80bowman @meganhkelley Based on the time estimates here, I don't think the value is present for any of these tasks. 4-6 weeks to save a support person 30 seconds doesn't seem like the return on investment is there.

**For #1**
This would just take too long, maybe we can revisit after the GHA work is complete, but I would spend more than 1 sprint on something like that, the information is just to

[2021-07-07 14:39] LinnJS commented on #25780
[PR](https://github.com/department-of-veterans-affairs/vets-website/pull/17778) Where this work is being done

[2021-07-07 14:44] RLHecht commented on #27019
@DanielleThierryUSDSVA This looks good. I've published the page.

[2021-07-07 14:48] DanielleThierryUSDSVA commented on #27019
Thanks @RLHecht! I realized we also need to update the link in the note about prescriptions during the pandemic. It should now go to: https://www.va.gov/coronavirus-veteran-frequently-asked-questions/#prescriptions

Let me know if you want to make this update, or if you'd like me to.

[2021-07-07 14:51] dat-gcio commented on #26656
@Dene-human Unforunately, it is how the form system wraps it, so that it is mobile friendly. On desktop, if the line was shorter, it wouldnt wrap. (deleted some characters from the word insurance)
![image](https://user-images.githubusercontent.com/83595736/124781156-30bc0a80-df11-11eb-9c86-f091d8c46d45.png)

[2021-07-07 14:52] kelsonic commented on #26858
Oh wow, there are a LOT of instances of `LGBT` without `LGBTQ+` (472 files contained `LGBT`):

[code]

[2021-07-07 14:54] bsmartin-ep commented on #26512
@joanneesteban / @JasonTheBearded -

OK cool.

- Global link tracking has been added to `depo-platform-documentation.scrollhelp.site`
- `depo-platform-documentation.scrollhelp.site` has been added to scroll tracking

### New custom dimensions on documentation GA property:

Name | Index | Scope
-- | -- | --
Click Text | 1 | Hit
Click URL | 2 | Hit
Click Classes | 3 | Hit
Click ID | 4 | Hit

</div><

[2021-07-07 14:54] ajakabcin commented on #26703
Also, @bsmartin-ep, I added some additional info to the body of the request, posting here for reference as well:

When users land on the My VA dashboard, we often need to make calls to the `GET /evss_claims_async` API. This API is very slow and we need to call it every five seconds. If it does not have data after thirty seconds, we stop calling the API and treat it like an error.

We'd like to tra

[2021-07-07 14:54] joeniquette opened #27020 "Document Trivy Results"

[2021-07-07 14:57] allison0034 commented on #26973
@JenLJ thank you. You do not. Since this is immediate feedback you can use the background only alert.

[2021-07-07 14:58] erikphansen commented on #8690
Closing this. This is old and Profile v1 has been dead for some time.

[2021-07-07 14:58] #8690 closed

[2021-07-07 14:58] Dene-human commented on #26656
Yeah I figured. How do you feel about artificial breaks (bumping "insurance" to the next line?) It's probably not good for responsiveness/ consistency, right?

Anyway it's fine. I'm mostly asking out of curiosity.

[2021-07-07 15:01] JasonTheBearded commented on #26512
Thanks @bsmartin-ep!

I'll also note that I created an initial version of the query and created a DOMO dataset for this. I'll update an needed once the new event tracking starts showing up in BQ.

[2021-07-07 15:01] erikphansen opened #27021 "Route matching for `react-routes` is not strict enough"
Client-side routing is set up for `/coronavirus-research` (https://github.com/department-of-veterans-affairs/devops/blob/49b780b25510b35654d3fd91999a013e5be5da87/ansible/deployment/config/revproxy-vagov/vars/react_routes.yml#L99)

Navigating to `va.gov/coronavirus-researchhhhhhh` should 404 but instead it loads the page and React app that lives at `va.gov/coronavirus-research`

Similarly, if you a

[2021-07-07 15:03] SgardnerPMP opened #27022 "[VAMC-Scaffolds] Create or Clone all required pages for VA Boston health care in VISN-1 [BA]"
## User Story
As a Veteran Web user, I need a easier and more efficient site, so I can quickly get to my objective and complete my journey on the local VA.Gov/MC website.

## Goal
_Implement required VAMC-upgraded va.gov webpages_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran web user_
- _Reduce Click through count by_Highlighting top sto

[2021-07-07 15:03] thilton-oddball commented on #26977
Added following people to list:

- Fernando Boza: Boza: fernando.boza@accenturefederal.com

- Khansa Hammami: khansa.ayari.hammami@accenturefederal.com

- Nathaniel Buck: nathaniel.buck@accenturefederal.com

- Cesar: cesar.santiago@accenturefederal.com

[2021-07-07 15:04] zurbergram commented on #27014
https://github.com/department-of-veterans-affairs/gibct-data-service/pull/841

[2021-07-07 15:04] kevwalsh commented on #26475
@mnorthuis Just to be clear, no redirect for Pittsburgh either?

[2021-07-07 15:05] SgardnerPMP opened #27023 "[VAMC-Scaffolds] Create or Clone all required pages for VA Central Western Massachusetts health care in VISN-1 [BA]"
## User Story
As a Veteran Web user, I need a easier and more efficient site, so I can quickly get to my objective and complete my journey on the local VA.Gov/MC website.

## Goal
_Implement required VAMC-upgraded va.gov webpages_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran web user_
- _Reduce Click through count by_Highlighting top sto

[2021-07-07 15:06] SgardnerPMP opened #27024 "[VAMC-Scaffolds] Create or Clone all required pages for VA Connecticut health care in VISN-1 [BA]"
## User Story
As a Veteran Web user, I need a easier and more efficient site, so I can quickly get to my objective and complete my journey on the local VA.Gov/MC website.

## Goal
_Implement required VAMC-upgraded va.gov webpages_

## Objectives or Key Results this is meant to further
- _Increase overall quality experience for veteran web user_
- _Reduce Click through count by_Highlighting top sto

[2021-07-07 15:07] dat-gcio commented on #26656
Having arbitrary break points is not a good idea for responsiveness.

[2021-07-07 15:13] #20767 closed

[2021-07-07 15:13] #26451 closed

[2021-07-07 15:14] cbtkc commented on #23096
Waiting on @rileyanderson to finish his work on getting docker working within GHA. After that is done, I can remove the remaining tests.

[2021-07-07 15:14] lianilychee commented on #26449
we're doing a joint july/aug summer edition, per https://dsva.slack.com/archives/G01JN8X1S7M/p1625596206101500

[2021-07-07 15:14] #26449 closed

[2021-07-07 15:16] mnorthuis commented on #26475
@kevwalsh I don't feel its necessary.

[2021-07-07 15:16] JasonTheBearded commented on #25293
I've also created [documentation](https://vfs.atlassian.net/wiki/spaces/AT/pages/1713045522/How+to+-+Loading+new+content+pages+to+the+Content+KPI+Dashboard) on how to load new products to the Content KPI Dashboard

[2021-07-07 15:27] RLHecht commented on #26858
@kelsonic Yikes! All of these are VAMC pages. Are you able to search if there are any in benefit hub pages or this would have captured those too?

[2021-07-07 15:27] erikphansen commented on #27021
@dginther sorry I added it because the `react-routes.yml` lives in the devops repo.

[2021-07-07 15:28] lexicalninja commented on #18624
@kreek @patrickvinograd is this ticket good to close or do we need work on the backend?

[2021-07-07 15:31] kjduensing opened #27025 "Port Java code to NodeJS"
The CHIP API Java lambdas make it difficult to apply the appropriate certificates to talk to Twilio. In addition, cold starts and response times in general are slow.

Porting the existing lambdas to NodeJS make it easy to add certificates to outgoing requests. They also improve response times and cold start times.

- [ ] Initiate Checkin
- [ ] Check Veteran In
- [ ] Get Appointments

[2021-07-07 15:33] lianilychee commented on #26452
draft message to #VSP-confluence channel

---

(some emojis here)

hello all -- thank you for all your questions about the Platform website, Confluence, and Scroll Viewport so far!

The Content Team has put together **preliminary SLAs/SLOs** governing how and how quickly we respond to you.

Important points:

- Do not DM or tag us in channel messages.
- We’ll acknowledge most questions within 1 bu

[2021-07-07 15:35] kjduensing opened #27026 "Token endpoint for CHIP API"
In order for chip to authorize the caller to perform certain actions, the CHIP API must provide an endpoint for the caller to generate and receive a cryptographically signed token.

This endpoint must exist
This endpoint must generate a valid JWT with the minimal payload:
[code]

[2021-07-07 15:36] johnhashva commented on #27015
This issue has been resolved by Donald Cowan VIA Teams.  Closing ticket.

[2021-07-07 15:36] #27015 closed

[2021-07-07 15:37] kjduensing opened #27027 "Prevent unauthorized users from calling CHIP API"
CHIP endpoints must be locked down to only allow authorized users to call them.

Ensure a valid JWT is passed as a bearer token for:
- [ ] initiate checkin endpoint
- [ ] check in endpoint
- [ ] get appointment endpoint

[2021-07-07 15:37] kelsonic commented on #26858
@RLHecht this would have captured them! If you don't see any benefit hub pages in the above output then it means that there's no all caps `LGBT` instances on benefit hubs that need to be updated 🙂

[2021-07-07 15:39] CBonade commented on #26660
Reminder was sent to outstanding reviews yesterday and one more was received, but still awaiting two more reviews.

[2021-07-07 15:40] DanielleThierryUSDSVA commented on #26858
@RLHecht I see one! health-care/health-needs-conditions/index.html

[2021-07-07 15:40] lexicalninja commented on #25733
@leanna-usds can we close this ticket?

[2021-07-07 15:42] #13143 closed

[2021-07-07 15:43] #20434 closed

[2021-07-07 15:43] kjduensing opened #27028 "CHORE: Call new LoROTA endpoints"
LoROTA has been updated to provide a token endpoint. The CHIP API endpoints must get a valid token to prove to LoROTA that they are authorized.

Do this for:
- [x] Initiate checkin endpoint
- [x] Check In endpoint
- [x] get appointments

[2021-07-07 15:44] #27025 closed

[2021-07-07 15:44] #27026 closed

[2021-07-07 15:44] #27027 closed

[2021-07-07 15:44] #16285 closed

[2021-07-07 15:44] kelsonic commented on #26858
If the pages are particularly long and you're having trouble finding the specific instance of `LGBT` lmk and I can give you the exact markup where the instance of `LGBT` is found 🙂

[2021-07-07 15:44] KCollinsBrown opened #27029 "Offboarding of Meghana Khandekar"
# Instructions
Fill out name of individual and *Description* section below.

# Description
- Please provide the name of the individual needing offboarded.

- Please provide the name of their team, their role on that team, expected last day, and the name of the company they work for.

- Please provide any type of access they may have and their GitHub username.

## AC
 - [x] Remove global/config.yml

[2021-07-07 15:45] lianilychee commented on #26935
Gretchen:
- think the end result is flagging Dror or someone else w/ conf experience
- seems like an auth thing
- will respond something today!

[2021-07-07 15:46] RLHecht commented on #26858
Oh good catch @DanielleThierryUSDSVA  I'll go in and fix that. Are the VAMC folks aware that they need to update? There are also Outreach and Events listings.

[2021-07-07 15:46] #16266 closed

[2021-07-07 15:47] #23290 closed

[2021-07-07 15:47] #20195 closed

[2021-07-07 15:49] jennaouellet commented on #27029
No existing Google Analytics or DOMO access to revoke.

[2021-07-07 15:49] lianilychee opened #27030 "PS - Google Sheets in Platform website?"
# Description

**Question or description:** display google sheet in svp?

**(If proactive) where to post:** To come.

**(If reactive) Slack URL:** https://dsva.slack.com/archives/C01AS05BQ79/p1625601050110100

# Reference info

**When we were asked:** Sprint 55, 7/7.

**When we resolved:** Date, Days-to-resolution.

[2021-07-07 15:49] lexicalninja commented on #20086
VAScroll view fixes this

[2021-07-07 15:49] #20086 closed

[2021-07-07 15:51] jbritt1 commented on #27029
/request Meghana Khandekar

[2021-07-07 15:51] #22561 closed

[2021-07-07 15:52] jbritt1 commented on #27029
No SOCKS, AWS, Sentry, PagerDuty, DataDog access.

[2021-07-07 15:52] RLHecht commented on #26858
@DanielleThierryUSDSVA Can you check my changes on that one page? preview-prod.vfs.va.gov/preview?nodeId=34

[2021-07-07 15:52] CBonade commented on #26220
This was requested to be put on hold awaiting the deactivation of the Jenkins a11y scan when it's fully moved over to GHA.  That seems to now be dependent on the Cypress a11y scan conversion from Nightwatch being completed. WIP will keep this updated as it moves along (the PR still exists here: https://github.com/department-of-veterans-affairs/content-build/pull/266 , originally pushed 20 days ago

[2021-07-07 15:56] lianilychee commented on #26750
restart the convo at the start of aug:
- there isn't an elegant way of displaying that content, let alone on the pw
- let's see if we can bring RR, Content, and PS team together at the start of August
- if the mvp is a google sheet, then we can just link to the google sheet and let VFS teams give feedback for ~a quarter

[2021-07-07 15:56] rebeccawalsh commented on #25663
@mnorthuis Nice! This represents strictly the ecosystem around the initial release of Medical Copays, right?

Feedback:
- There is also a link off to pay.gov within 'Pay copay bill'
- Another thing that has been mentioned is Travel Pay and its new(?) online tool, which one of our participants mentioned in conjunction with Medical Copays in our current study: https://www.va.gov/health-care/get-reim

[2021-07-07 15:57] CBonade commented on #26616
This monitoring process has been completed and the specs have been removed pending a merge into master.  As there is a separate ticket that exists to actually remove the specs, this ticket should be good to close.

[2021-07-07 15:58] patrickvinograd commented on #20194
Yes, we can do admin actions on additional test users as needed at any point.

[2021-07-07 15:58] #20194 closed

[2021-07-07 15:59] joanneesteban commented on #26507
Hi! Question for y'all: we'll have data issues around folks leaving VFS or changing teams?

[2021-07-07 16:01] CBonade commented on #26618
Originally opened 6 days ago this is still awating 4 approvals to go into master. I've commented on Github notifying the 4 groups that it's awaiting a review.

[2021-07-07 16:12] batemapf commented on #26737
First data pull was so good, I'm back for more! @bsmartin-ep would you be able to run a similar query, but include the fields marked with an X in this sheet, without any aggregation (i.e. line level data / each event on its own line)?

[Google Host Schema.xlsx](https://github.com/department-of-veterans-affairs/va.gov-team/files/6778681/Google.Host.Schema.xlsx)

[2021-07-07 16:13] mmiddaugh commented on #24704
<details>
<summary> Documenting my research notes here </summary>

VA domiciliaries are generally defined as "a temporary home" for Veterans

**eligibility**
- no income beyond military pension/no adequate means of support
- may have chronic disability or disease preventing them from earning a living
- not able to live independently but not requiring acute inpatient/medical or nursing home admissi

[2021-07-07 16:13] pjhill commented on #25551
Disclaimer, I have not implemented anything in GitHub:
So, there's no way to create more granular error handling? We really only need two branches --
1. The error was the result of a test spec failing, the artifacts are valid, store the artifacts
2. The error was the result of something outside of a spec, the artifacts may not be valid, throw away the run's results

If we can't do this in GHA then

[2021-07-07 16:16] shiragoodman commented on #26298
hi @MarciMcGuireGCIO , @johnhashva , @zacharymorel and @callen2563,

As stated on the call, we are asking you to please complete a survey for the pilot of our new standards and Staging Review process. The survey link can be found here: https://adhoc.optimalworkshop.com/questions/xv854bro

We will be reviewing all feedback received from VFS teams, and will be making enhancements to our process prio

[2021-07-07 16:18] jbritt1 commented on #27029
All line items complete for user at this time.

[2021-07-07 16:18] #27029 closed

[2021-07-07 16:18] rileyorr commented on #25663
One more thing I'd like to add is that Veterans can request waivers and compromise offers for copay bills using the FSR. It's on our roadmap to expand the online form's functionality to include copay bills; but as part of the MVP it might make sense to link to the FSR's content page with adjusted content as needed. Unless the thinking is to incorporate the medical copay FSR content into the 'Reque

[2021-07-07 16:22] RLHecht commented on #22721
@SKasimow Here are Mateo's comments from the survey review:

Change the Word Feedback to Comentarios –if we are able to change this radio button.

For the questions, change them to read:

Q1 Pudo encontrar lo que buscaba hoy?

Q2 Que información estaba buscando?

[2021-07-07 16:26] mdewey opened #27031 "Prep QA documents for Colab cycle"

[2021-07-07 16:28] Mottie commented on #26715
Opened a PR with a "possible" fix and a lot more tests. Will verify once I get some save-in-progress data, or if Sentry starts working again.

[2021-07-07 16:33] mnorthuis commented on #25663
@rebeccawalsh @rileyorr Thanks for the feedback!  Will try to answer all of the questions above...please let me know if I missed anything or if there is anything we need to continue to discuss.

- Yes, this strictly represents the MVP - no actual financial "hub", just a content page and alot of crosslinking to build relationships.
- For the pay.gov link, I assumed that link would go away with the

[2021-07-07 16:35] Mottie commented on #26701
@joshkimux This fix is now available on staging. Please validate at your convenience.

[2021-07-07 16:42] jhouse-solvd opened #27032 "[Sentry] Known performance and usability issues"
## Description
Sentry is currently experiencing performance issues that make it sporadically unusable or sub-optimal. Ops is working to take any immediate remediation steps possible, while simultaneously working w/ Platform leadership and stakeholders to discuss alternative solutions.

## Background/context/resources
Sentry was recently upgraded and migrated to EKS as part of the large infrastruct

[2021-07-07 16:45] digitalken commented on #26232
PASS 7/7/2021 - Looks good on iOS and Android.  Closing.

[2021-07-07 16:45] #26232 closed

[2021-07-07 16:47] cvalarida opened #27033 "Remove the "unknown attributes" spread shenanigans"
## Issue Description
In `va-checkbox` and `va-text-input`, I added some logic to spread the attributes of the web component to the underlying input element in the shadow DOM. Unfortunately, this is having some unintended consequences. The benefit doesn't appear to outweigh the cost.

Instead, we'll just deliberately define all the props and pass what we mean to on to the input elements. :man_shrug

[2021-07-07 16:47] bethpottsVADEPO commented on #26704
@RLHecht Would you open a request with public websites for this sitemap URL change?

[2021-07-07 16:48] digitalken commented on #26596
PASS 7/7/2021 - Looks good on iOS and Android.  Closing.

[2021-07-07 16:48] #26596 closed

[2021-07-07 16:53] digitalken commented on #25037
7/7/2021 - Arfan DS Logon account is still broken.  Marking as blocked.

[2021-07-07 16:55] kreek commented on #18624
We can close it, on login we check if a user has a Vet360 id and if not create one for them in the code @patrickvinograd noted above.

[2021-07-07 16:55] #18624 closed

[2021-07-07 17:00] cvalarida commented on #26873
**TL;DR:** We won't spend time to set up Stencil to output the React bindings. This is probably useful eventually to keep the usage less "magic" in React—and to pass non-scalar data such as objects and arrays—but for now, the benefits don't justify the cost.

We can revisit this decision later, though.

---

After some experimentation, we discovered the issues I ran into aren't a problem in `vets-

[2021-07-07 17:00] #26873 closed

[2021-07-07 17:06] digitalken commented on #24747
PASS 7/7//2021 - Looks good on iOS now, too.  Closing.

[2021-07-07 17:06] #24747 closed

[2021-07-07 17:09] andaleliz commented on #23665
@erikphansen, @tmitchellgcio, and @lihanli, I put [specs together](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/profile/maintenance/front-end/remove-info-specs.md) for this change.

Trying to think through any errors or weird things that might happen when someone tries to remove their contact information. The only thing I can think of

[2021-07-07 17:10] andaleliz commented on #26529
I'm going to close this out, we can move forward w/ buttons being 100% and then stacking on mobile.

[2021-07-07 17:10] #26529 closed

[2021-07-07 17:10] dneel-bah commented on #8715
@1Copenut Any update on this issue?

[2021-07-07 17:10] bethpottsVADEPO commented on #23765
@lwalsh617 Are we done looking at all the CTAs that you assessed as needing to be revisited/changed? If so, we could close this ticket. Would any of the info in the spreadsheet be helpful to have in github? Or does Selina's doc there cover all this--or does that need updating now that you've done this work and updated CTAs?

[2021-07-07 17:11] digitalken commented on #26472
PASS 7/7/2021 - Looks good on iOS and Android.  Closing.

[2021-07-07 17:11] #26472 closed

[2021-07-07 17:17] RLHecht opened #27034 "Change URL in sitemap for R&S article"
## Issue Description
Sitewide Content is changing the H1 and URL for the R&S article [What if I'm having trouble opening a PDF?](https://www.va.gov/resources/what-if-im-having-trouble-opening-a-pdf/what-if-im-having-trouble-opening-a-pdf/) and we need to change this on the sitemap.

When published the new H1 will be **How to download and open a VA.gov PDF form** so the new URL will be:

https://ww

[2021-07-07 17:17] ajakabcin commented on #26949
Next steps are to dive into the technical conversations for backend specifically around the requirement to have a toggle for general updates that indicates whether a notification goes to My VA action items or not. We plan to start this conversation in grooming today (7/7) and go from there.

[2021-07-07 17:17] mmiddaugh opened #27035 "Turn on 'operationalHoursSpecialInstructions' for VHA"
## Issue Description

#19615 added operationalHoursSpecialInstructions field language (for VA health facilities only) behind a flag due to formatting issues which needed to be resolved by Lighthouse (contained  pipes)

This issue serves as a placeholder reminder to turn on this field once the formatting issue has been resolved

PRs:
- Handle operationalHoursSpecialInstructions field for VA health

[2021-07-07 17:17] ajakabcin commented on #26949
@andaleliz and @tressaellen anything else from your perspectives' at this point on this ticket?

[2021-07-07 17:17] RLHecht commented on #27034
@brianalloyd @johnhashva Wasn't sure who to tag in this one but let me know if you have questions about the info above. We should be publishing the page with the new URL this week.

[2021-07-07 17:19] RLHecht commented on #26704
New ticket #27034 created for public websites.

[2021-07-07 17:21] digitalken commented on #24254
PASS 7/7/2021 - Looks good on iOS and Android.  Closing.

[2021-07-07 17:21] #24254 closed

[2021-07-07 17:24] #26486 closed

[2021-07-07 17:24] #25607 closed

[2021-07-07 17:24] andaleliz commented on #26949
@ajakabcin as long as we have things documented somewhere else I think we can close this :) LMK if there is a doc I should move my notes into from the comment above.

[2021-07-07 17:27] bridgethapner commented on #26492
# Things we plan to start exploring

- Profile background simple
- Native action sheets
- Removing "view" from the app
- Disabled & active state for "Add files" button

The design team will add more ideas to this too! :)

[2021-07-07 17:27] tchrisdyer commented on #26760
Adding a link to my notes from the April 9th [VANotify Lunch and Learn](https://docs.google.com/presentation/d/1l2sHoFhQ3or73xO7Z_Ia0Vj_NhbEUMWRJbuFkeo0X2I/edit?usp=sharing) session.

[2021-07-07 17:29] #26341 closed

[2021-07-07 17:31] timwright12 commented on #26717
This has been merged

[2021-07-07 17:31] #26717 closed

[2021-07-07 17:32] timwright12 commented on #26717
https://github.com/department-of-veterans-affairs/content-build/commit/ad2e0020f7a9519166e3cbe64ad762d38b51e651

[2021-07-07 17:32] #26676 closed

[2021-07-07 17:32] tchrisdyer opened #27036 "10-10EZ - Use VANotify to send notifications"
## Epic User Story

**As an** authenticated veteran, **I want to** receive reminder, submission failure or submission confirmation notifications on my application, **in order to** complete or confirm that I have completed my application, or take action to remedy a failure.

The purpose of this epic is to contain stories related to sending notifications using VANotify from the 10-10EZ form such as

[2021-07-07 17:36] lianilychee commented on #27003
Weds 7/7:
- Amy drafting strat tomorrow, and will share in SU on Thurs

[2021-07-07 17:37] lianilychee commented on #27008
Weds 7/7:
- Gretchen will do initial investigation into what info the page property gives, and how to structure the report

[2021-07-07 17:45] andaleliz opened #27037 "Content review - Warning modal triggered when someone removes contact information from profile."
We heard in a [recent research study](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/notifications/notification-preferences/discovery-and-research/notifications-research-findings.md#all-participants-easily-understood-how-to-remove-contact-information-but-some-wanted-more-information-about-the-impacts-of-doing-so) that Veterans want clear

[2021-07-07 17:48] kreek opened #27038 "Handle 500s from the Vet360 contact information endpoint"
### User Story
As a mobile API consumer I want upstream Vet360 500s to be handled gracefully, as a 502, by the API so I know that an upstream service is returning an error rather than the mobile API.

http://sentry.vfs.va.gov/organizations/vsp/issues/42097/?environment=staging&project=3&query=is%3Aunresolved

[2021-07-07 17:50] andaleliz commented on #23665
Also @erikphansen and @tmitchellgcio I'm interested in your thoughts on all the [conditionals I put in the warning modal](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/profile/maintenance/front-end/remove-info-specs.md#warning-modal-1). This is still out for review/approval from our content team, FYI.

Currently only two of the bullets

[2021-07-07 17:52] kreek opened #27039 "Handle EVSS::ErrorMiddleware::EVSSErrors"
### User Story
As a mobile API consumer I want EVSS middleware errors to be handled gracefully by the API so I receive an error detailing a response parsing error rather than a 500.

http://sentry.vfs.va.gov/organizations/vsp/issues/37130/?environment=staging&project=3&query=is%3Aunresolved&statsPeriod=14d

[2021-07-07 17:58] tlei123 commented on #22929
@pjhill @ddzz , all logged defects now closed, follow-up test-runs completed, and [new Summary (Defects) report](https://dsvavsp.testrail.io/index.php?/reports/view/259) generated.

Will check E2E tests next.

cc @LindaLi123

[2021-07-07 17:59] lihanli commented on #23665
all those conditionals should be possible based on the backend data that is available

[2021-07-07 18:01] kreek opened #27040 "Update mobile appointments dashboards to use CloudWatch as a datasource"
### User Story
As a developer I want to update the datasource of the mobile appointments facility and type to use CloudWatch rather than Prometheus as a datasource so that they render correctly.

[2021-07-07 18:03] #19674 closed

[2021-07-07 18:04] #26874 closed

[2021-07-07 18:04] bkjohnson commented on #26566
(We still need to release that version & update `vets-website`)

[2021-07-07 18:05] joanneesteban commented on #19879
Rachael sent a follow up email to Halfaker on 7/7/21. One workaround _might_ be to drop the data into AWS S3 and then drop it into BQ.

[2021-07-07 18:10] jhouse-solvd commented on #26093
@dginther - this is what you and I quickly drafted before as a start:

https://vfs.atlassian.net/l/c/KcX4mACk

[2021-07-07 18:11] mdewey opened #27041 "[FE] Implement Feedback from UAT"
## Description
Update site to match new mockups, https://www.sketch.com/s/e79a827e-42cf-4a82-b554-874c75b5c70e/a/QbxZp4L/play

## Tasks
-  [x] Update to new content
-  [x] Address a few out standing [accessibility issues](https://github.com/department-of-veterans-affairs/va.gov-team/issues/26325)
-  [x] update unit tests
-  [x] update e2e tests

## Acceptances
- [x] Merged in staging
- [ ] Signed

[2021-07-07 18:11] SKasimow commented on #26434
Hi @adamwhitlock1 - this is a bit of a long thread but short story is that in Lauren's comment above, the accordion buttons are coming in as (not set).I think we just need to pass nav-accordion-embedded-link-click. (GA report w/those events for reference [here](https://analytics.google.com/analytics/web/#/report/content-event-events/a50123418w177519031p184624291/explorer-segmentExplorer.segmentId=

[2021-07-07 18:14] mdewey opened #27042 "[FE] Hook up Google Analytics"

[2021-07-07 18:17] EdwardBoehme05 commented on #24243
Leadership page was not done due to pending receipt of new version of the page.

[2021-07-07 18:20] #9957 closed

[2021-07-07 18:20] RLHecht opened #27043 "Updating PDF links on life insurance pages"
## Issue Description
Stakeholder Lori Hamilton reached out with a new link to their updated life insurance PDF that we need to put on three of our benefit detail pages.

New link to use: https://www.benefits.va.gov/INSURANCE/forms/ParticList.htm

Pages to update:
https://www.va.gov/life-insurance/options-eligibility/sgli/  under Applying for VGLI when you separate or retire, linked text “Learn how

[2021-07-07 18:20] Teesh opened #27044 "Invalid Date in Message List"
## What happened?
The first message in each Draft message thread in the iOS simulator showed an Invalid Date
![Screen Shot 2021-07-07 at 12.57.58 PM.png](https://images.zenhubusercontent.com/608716c8425a91126d5ff063/9e1fd64d-22e7-4190-90d9-a1ea38250aae)

## Specs:
- Device: Xcode iOS simulator (iPhone 12 Pro Max)
- Test User: Melvin Freeman (261 or 41)

## Steps to Reproduce
Log in with user
Go to

[2021-07-07 18:21] RLHecht commented on #27043
I have an email out to Lori Hamilton to determine if we should use the link above or link directly to the new PDF. Will update and implement when I hear back.

[2021-07-07 18:22] joanneesteban opened #27045 "Analytics on our Analytics - Dashboard satisfaction"
## Issue Description
How might we track satisfaction on our dashboards? And make it easy for VFS teams to quickly give us their feedback?

---
## Tasks
- [ ] Technical discovery
- [ ] Discovery on the ease of use

## Acceptance Criteria
- [ ] Platform Analytics & Insights understands the best approach to tracking customer satisfaction and feedback on our KPI dashboards.

[2021-07-07 18:26] mpelzsherman commented on #25091
The current https://www.va.gov/pittsburgh-health-care/ page looks fine to me.

It would be helpful to have a series of steps to reproduce with a tugboat instance.

[2021-07-07 18:27] rebeccawalsh commented on #25663
@mnorthuis
- Great, was just confirming with the medical copay FSR not being present currently, but soon after the medical copay 'portal'
- Our tool does not support the actual *payment* of copays, it just allows users to view their copay account balances and activity, then the content or wizard will direct them to the appropriate payment or resolution pathway. So if they want to pay their bill on

[2021-07-07 18:30] joanneesteban commented on #25246
@jason-gcio Hi! Let us know if you need to distinguish between the 2 links in the screenshots above. Thanks!

[2021-07-07 18:31] gmaciolek commented on #25850
@AGarcia-Clarity Here are the links to our high-level recommendations as well as the Whimsical board where you can see a rough idea of how it might look if it were pared down to 2 pages:

- [Recommendations](https://vfs.atlassian.net/l/c/o1HhKpHr)
- [Whimsical wireframe](https://whimsical.com/test-user-dashboard-content-feedback-CPAoi2ehrK4SD2Aq8N3Kn3@VsSo8s35WwKKWNSYSUVT2F)

We'll wait to hear ba

[2021-07-07 18:31] joanneesteban commented on #12317
@leahkeeler Hi! Any update on this?

[2021-07-07 18:37] leahkeeler commented on #12317
Good question - not by the debt team, let me check if this was taken over by a different team

[2021-07-07 18:40] narin commented on #26595
I'm pretty sure that not signing the T&C for MHV wouldn't block a user from accessing the appointments APIs.  @kreek do you happen to know?

[2021-07-07 18:48] micahchiang commented on #25246
Hey @joanneesteban - Jason is OOO right now so he may not get back to you right away. Yes, I believe we do need to distinguish between the two links in the screenshot above since they semantically mean different things.

The first one is for when a user completes the wizard but then chooses to skip the chapter 31 orientation. We currently have a GA event for that called `howToWizard-skip-orientati

[2021-07-07 18:50] kevinmirc commented on #26804
**Findings**
Vets-API already extracts identifiers from the MPI response ([see here](https://github.com/department-of-veterans-affairs/vets-api/blob/master/lib/identity/parsers/gc_ids_constants.rb)).

Based on the email exchange with Mike (from the LibertyIT team) the ID they need is based on the identifier type being `PI` and the identifier source being `USVHA`.

We'd need to send them ids in the

[2021-07-07 18:50] mnorthuis commented on #25663
Thank you for clarifying what your tool does, I had that wrong.  I will work on updating this to represent the view vs pay functionality.

[2021-07-07 18:52] meganhkelley commented on #25393
Thanks for the writeup, Katy! I agree with Tim's comments.

If we entertain the idea of gathering flaky test metrics manually every 6 months (or similar), is that still less work than idea 3 (over the course of, say, 3 years)? I assume yes but want to confirm.

Other than that Q I think this ticket is good to close with no further action.

[2021-07-07 18:54] joanneesteban commented on #25246
Got it! Thanks for the quick response, @micahchiang !

FYSA @bsmartin-ep @laurensimpson14

[2021-07-07 18:57] kevinmirc commented on #24402
The credstash (parameter store) values have been updated and this is ready for another FSR submission attempt to Pre-Prod in order to identify any additional errors occurring (including whether or not we can auth - this hasn't been tested with the new creds yet).

[2021-07-07 19:06] LindaLi123 commented on #26838
Need to confirm location with stakeholder

[2021-07-07 19:12] LindaLi123 commented on #26838
This should be included in "additional debt"

[2021-07-07 19:19] rileyorr commented on #26629
There should be an example of a submission error alert on its own page in the medical device re-ordering tool ([link](https://staging.va.gov/health-care/order-hearing-aid-batteries-and-accessories/order-form-2346/introduction))

[2021-07-07 19:20] andaleliz commented on #26921
Spoke to Mikki and we decided to order the groups as follows:

- Your Health Care
- Applications, claims....
- Benefit payment and debts
- General VA...

The thinking behind this is a combination of frequency and prevalence; it also generally follows the IA of the home page and mega menu on the site.  It has the added benefit of still following a logical, alphabetical order for people who don't ha

[2021-07-07 19:22] LinnJS commented on #26629
This ticket was created around the confusion of the primary submit button being replaced with a primary go back button. Some users might not realize its not a re-submit button and is a go back button instead. It was raised in grooming that when a fatal error occurs routing the user to another page might be a better solution.

@rileyorr mentioned referencing the MDOT (Medical device form) to see ho

[2021-07-07 19:23] LinnJS commented on #26629
Bumped this ticket to a 3 to a 5 due to some cross team coordination needing to take place

[2021-07-07 19:25] #15867 closed

[2021-07-07 19:30] SKasimow commented on #22721
Hi - I already have a q into Medallia re: changing the "feedback"radio button :)

[2021-07-07 19:30] lihanli commented on #26921
ordering by the frequency of turning on the notification sounds good to me

[2021-07-07 19:31] SKasimow commented on #22721
@DanielleThierryUSDSVA Hi there - let me know if we should move forward with Mateo's feedback. thx!

[2021-07-07 19:31] mpelzsherman commented on #25091
Steps to reproduce:

1. In Tugboat, find a past event for Pittsburgh Health Care
2. Check the "Featured" checkbox in the "Feature This Content" section on a past event
3. View the Pittsburgh Health Care page while pointing to tugboat and note that the featured/past event now shows up.

[2021-07-07 19:39] bethpottsVADEPO commented on #27034
@brianalloyd and @johnhashva Do you have a sense of when this work could be done so I can time it with publishing our R&S article changes?

[2021-07-07 19:39] holdenhinkle opened #27046 "Fix '.github/workflows/main.yml: All jobs have failed' error"
I woke up to this email from GitHub:

![image](https://user-images.githubusercontent.com/9326247/124817992-7cce7580-df38-11eb-84df-e2d39eab2052.png)

The error:

[code]

For some reason `tests`, which is an array, sometimes has a value of `undefined`.

[code]

I added a check to make sure `tests` exist:

[code]

I added checks for other arrays too.

PR - https://github.com/department-of-veterans-a

[2021-07-07 19:45] mpelzsherman commented on #26852
We're currently using Downshift v.1.22.5, which is very old.

If we would benefit greatly from upgrading, we should consider it, but keep in mind impact to other teams. (Probably a separate ticket to upgrade.)

[2021-07-07 19:47] RLHecht commented on #19848
@bethpottsVADEPO I think it's safe for us to close this ticket since we won't be creating education rates pages in time for this work to be done. But if you think we should leave in the icebox for when we eventually do build these, let me know.

[2021-07-07 19:50] zacharymorel commented on #26908
Some factors that pertain to this user story:

1. We have the translation of the form names for the form title, so I can solve that has no blockers. (We have it for both Search Results page and Detail pages).
2. Part 2 is that a11y needs the “Go to online tool for” text **lang** attribute added, however, we need a proper translation for that. (That translation will apply to both Form Detail page a

[2021-07-07 19:53] bethpottsVADEPO commented on #26864
@RLHecht I like what you have, let's just get rid of the second instance of "online"--keep it in the link label, but delete it from the teaser. Thanks!

[2021-07-07 19:56] zacharymorel commented on #26904
@joshkimux does this user story include adjusting the headings, exchanging Bold tags for headers, and exchanging the description list for an unordered list?

[2021-07-07 19:56] mpelzsherman commented on #26557
Already done

[2021-07-07 19:56] #26557 closed

[2021-07-07 19:58] johnhashva commented on #27034
@bethpotts brian is out on vacay thru next Monday -- can @brianalloyd get back to you then?

[2021-07-07 19:59] kreek commented on #26595
@narin only requirement for appointments is LOA3, so if not signing the T&C doesn't take away that status then they'd still have access.

[2021-07-07 20:05] kjduensing commented on #25585
plan to put sql server in sacramento rdc

[2021-07-07 20:07] joshkimux commented on #26904
This covers adjusting headings and bold tags, but doesn't cover changing the description list to an unordered list. I believe there's a separate ticket for that 👍

[2021-07-07 20:07] kjduensing commented on #25884
Progress made last few days.

[2021-07-07 20:07] mpelzsherman commented on #26547
Discussed w/Dave & the team... we don't think there's enough benefit since we will be done migrating sites by December.

[2021-07-07 20:07] #26547 closed

[2021-07-07 20:09] kjduensing commented on #21881
report added before vacation - enabled clinics

possibly adding filter fields

[2021-07-07 20:10] kjduensing commented on #21575
non ascii chars showing up as "?"s. Installed update, was not able to reproduce - heard no issues. Changed HTML meta tags encoding

[2021-07-07 20:10] zacharymorel commented on #26904
Thanks @joshkimux

[2021-07-07 20:12] bethpottsVADEPO commented on #26864
@RLHecht For the green button on the how to file a claim page, would you check with accessibility about the label we talked about to make sure there aren't any concerns?: Find out if you can file a claim online

[2021-07-07 20:12] kjduensing commented on #20799
config management plan

IRP(?) sent out for SSO to assign - secuirty officer out this week.

DRP working with sacramento on getting memo saying we can utilize their disaster recov
ISCP - working on after CMP

[2021-07-07 20:13] kjduensing commented on #23972
waiting on VANotify work to be complete. Our work is largely done. Need to test directly with VANotify.

[2021-07-07 20:15] kjduensing commented on #24821
waiting on the site to come back with time, date, message. Last checked - reviewing list of users (had found some inconsistencies).

[2021-07-07 20:15] kjduensing commented on #26186
LoROOMBA

[2021-07-07 20:15] #26186 closed

[2021-07-07 20:16] kjduensing commented on #26192
Discuss Post-Pre-MVP

PreMVP important fields: validStartDate, validEndDate

[2021-07-07 20:17] SKasimow commented on #22721
@RLHecht Hi Randi - spoke with @DanielleThierryUSDSVA and wanted to understand Mateo's reasoning for changing the wording/meaning from "task" to "information"?

Was he using the English version of the survey to translate from?

Q1
- English: Were you able to do your **task** today?
- Mateo: Pudo encontrar lo que buscaba hoy?
     - Google translates this to: **Could you find** what you were lookin

[2021-07-07 20:18] kjduensing commented on #24629
Team dedicated to do monitoring systems. AVS/VEText on their list. Installed agent on staging server. Plan is to go with Dynatrace.

[2021-07-07 20:18] #24629 closed

[2021-07-07 20:22] zacharymorel commented on #26904
@joshkimux can you find that ticket for the search results list change?
I don't see it here linked => https://github.com/department-of-veterans-affairs/va.gov-team/issues/26298

[2021-07-07 20:24] CBonade commented on #25551
https://docs.github.com/en/actions/reference/context-and-expression-syntax-for-github-actions#steps-context

So here's the current issue

The type of error has to be made available to the workflow.  In the above linked documentation, you can get the status of both a specific step and a whole job.  However, the only possible values for those are `success`, `failure`, `cancelled` or `skipped`.  Whet

[2021-07-07 20:24] bethpottsVADEPO commented on #26933
Looks good to me. Thank you for sending the preview link to Raleigh. We'll see if he thinks this works.

[2021-07-07 20:25] CBonade commented on #26618
Got all necessary approvals and this has merged into master.  Ready to close!

[2021-07-07 20:27] zacharymorel commented on #23071
Link to mock up https://github.com/department-of-veterans-affairs/va.gov-team/issues/23591#issuecomment-874870018

[2021-07-07 20:29] denisecoveyduc opened #27047 "Exploration: Presenting Videos in VA.gov Search Results"
##  Description
The content team highlighted an effort to promote videos to users and they are exploring the creation of a landing page from the main site. In addition, we think there is a way to add videos to the results page after a user has conducted a search. This ticket is to collect more information and explore the effort and  what impact it would have on the veteran experience.

## Backgrou

[2021-07-07 20:29] #25418 closed

[2021-07-07 20:30] mdewey commented on #26293
Renabled feature flip with the PR https://github.com/department-of-veterans-affairs/vets-website/pull/17789

The workaround with the error page should no be needed.

[2021-07-07 20:30] #26293 closed

[2021-07-07 20:30] #25453 closed

[2021-07-07 20:30] mdewey opened #27048 "[FE] Implement GA"
Start and GA process

## Tasks

- [x] Document events
- [x] Implement tracking
- [x] Open ticket with analytics team
- [x] Address feedback
- [x] Double Check PHI

[2021-07-07 20:31] #26901 closed

[2021-07-07 20:32] SKasimow opened #27049 "CMS Sandbox Access"
## High Level Story

Get new engineer set up with access to CMS sandbox and a local build so he can start working on testing and demoing some programmatic approaches in support of in-language content.

# CMS Sandbox Info:

- CMS URL: https://localization-nwlghnqkwe3ftxcgy830jkfejcxjswak.demo.cms.va.gov/
- Web: https://web-nwlghnqkwe3ftxcgy830jkfejcxjswak.demo.cms.va.gov/
- Tugboat page for refresh

[2021-07-07 20:32] #25796 closed

[2021-07-07 20:33] U-DON commented on #25188
In progress docs: #26898

[2021-07-07 20:34] digitalken commented on #26541
7/7/2021 - @bridgethapner - I'm logging in with +262 (judy isn't working correctly in messages for me today).  +262 shows that I have no messages but when I tap to compose a message, I'm not presented with the screen about not being matched with a provider.  If I tap Cancel on the compose screen, I'm given the "Cancel this message?" screen.  If I tap back on that screen, I'm sent back to the compo

[2021-07-07 20:42] holdenhinkle commented on #26740
My attempts to create a canary continue - https://dsva.slack.com/archives/CBU0KDSB1/p1625667540279200?thread_ts=1625067149.442700&cid=CBU0KDSB1

Bill created a new s3 bucket for me with a scripts directory where I can add/delete files. That's where my Canary zipFile will live.

I still can't create a canary; I don't have permissions or something.

---

Applitools support emailed me back last night

[2021-07-07 20:43] zacharymorel commented on #25571
@MarciMcGuireGCIO This is the work that will be on staging only so the research can be done for it?
See => https://github.com/department-of-veterans-affairs/va.gov-team/issues/25924

[2021-07-07 20:49] pjhill opened #27051 "Create a Spike of Visual Regression Testing with Applitools"
## User Story

As a platform participant, I need a quick and intelligent analysis of my product for unexpected regressions resulting from the changes being integrated for each build.

## Expected Behavior

Visual regression testing tooling provides immediate feedback about regressions to the product that have a visual impact.

## Acceptance Criteria

- [ ] One product hosted on the platform is eva

[2021-07-07 20:54] k80bowman commented on #25393
Yes, I think it would take less time to collect it manually every six months for three years (so six times) than it would to build option 3. But that depends on setting up a methodology ahead of time so that we are collecting data for the same number of builds each time. Generally when I have collected this data if I'm going through builds and adding them to a spreadsheet it takes me about a day t

[2021-07-07 20:56] digitalken opened #27052 ""Compose a Message" button requires tapping twice to compose message and remains in tapped state upon return"
## What happened?
When I tap the "Compose a Message" button, it remains in the dark blue "tapped" state.
I must tap the button again to get an action.
Upon returning to the screen from the compose screen, the button is still in the "tapped" dark blue state.

Happens with iOS and Android.

## Specs:
- Device: Android Galaxy Note 9, iPhone XR

## Steps to Reproduce
- Go to messages
- Tap Compose a M

[2021-07-07 20:58] digitalken commented on #24815
PASS 7/7/2021 - This is now looking good on both Android and iOS.  Closing.

[2021-07-07 20:58] #24815 closed

[2021-07-07 21:00] meganhkelley commented on #25393
Got it, thanks! Let's aim to do that very roughly every 6-8 months for the next year, and then we can reassess.

[2021-07-07 21:04] k80bowman commented on #25393
I can create a card for that and a spreadsheet template with instructions, if you think that would be useful.

[2021-07-07 21:06] kristenmcconnell commented on #25854
Final report: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/checkin/research/veteran-facing/mvp-usability/research-findings.md

Also, reviewed the report with Mark Dewey today. I scheduled a meeting to discuss this with everyone on the check-in project for next Wednesday, July 14.

[2021-07-07 21:13] kristenmcconnell opened #27053 "[Research] Check-in MVP After Launch Research Plan and Conversation Guide"
## User Story
- As a product development team, we are interested in understanding what Veterans think about the MVP after it is launched at the pilot site.
_Decide if this should involve a trip to the pilot site or not._

## Related Documentation
 - [MVP Product Outline](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/checkin/product/product-outline.m

[2021-07-07 21:16] mpelzsherman opened #27054 "Remove URL validation for featured content call to action section"
In this [PR](https://github.com/department-of-veterans-affairs/content-build/pull/323), we added validation of the featured content call to action URL.

After discussing with @davidconlon and the CMS team, we decided this validation needs to be removed, since URLs might be relative. The link checkers will handle identifying bad links.

We should remove the URL validation and just check that the UR

[2021-07-07 21:20] kristenmcconnell opened #27055 "[Research] Foundational Pre-check-in Veteran Research Plan and Conversation Guide"
## User Story
- As a Veteran, I want to complete as many check-in tasks and as much paperwork as possible prior to the day of my appointment.

- As a product development team, we are interested in knowing where the best place to notifyVeterans of these new pre-check-in tasks are. Therefore, we are interested in understanding the landscape of appointment notifications more.

## Related Documentatio

[2021-07-07 21:20] micahchiang commented on #26476
Internal audit findings are documented [here](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/teams/vsa/teams/ebenefits/features/dependency-verification/508/README.md). Summary of major changes / necessary follow up items:
1. Modal doesn't have an h1 so aXe throws a header warning. aXe doesn't seem to scan the rest of the DOM when the modal is active(?)
2. 400% zoom and <

[2021-07-07 21:27] holdenhinkle commented on #27051
I chatted with Applitools. They say Cypress tests can run in parallel and gave me a link to their site
 - https://applitools.com/docs/topics/overview/using-the-ultrafast-grid.html

---

The chat:

Keith
Hi Holden!

Holden
Hi there!
Two things: my product manager will be joining our meeting tomorrow. his name is Joe Tice. I sent him an invite.
So it will be Joe Tice, PM, Peter Hill, Engineer Lead,

[2021-07-07 21:47] mmiddaugh opened #27056 "Remove flag for Leadership url change"
## Issue Description
As part of [the runbook](https://github.com/department-of-veterans-affairs/va.gov-cms/issues/5500) for the Leadership url change, we need to remove the feature flag code now that it is no longer needed. Once we have removed the flag, CMS can remove the feature flag

Related to

- [Change hardcoded Leadership menu link va.gov-team#25606](https://github.com/department-of-veteran

[2021-07-07 21:58] mmiddaugh opened #27057 "Revisit Facility Locator "no results" error message"
## Issue Description
When a search on Facility Locator returns no results, a lengthy error message is displayed. This issue is to revisit the message for a possible rewrite using concise plain language.

## Related work
In Screen reader announcement for "No search results" message #25629, we restored the search results header and removed the first line of the existing error message.

## Current te

[2021-07-07 22:00] SKasimow commented on #26048
@adamwhitlock1 Hi - can you review this ticket as Fareez was able to complete the discovery work and find an approach but as a next step would be great if we can test in sandbox (I'll open a new ticket for that after we discuss). Thanks, Sharon

[2021-07-07 22:05] kreek opened #27058 "Replace the mobile appointment facility and appointment type statsd metrics with log lines"

[2021-07-07 22:08] DanielleThierryUSDSVA commented on #26858
@RLHecht Changes look great! Note that I'm checking with our partners in VHA on whether we should update "safe and sensitive environment" to "affirming and inclusive environment" per new language on the LGBTQ+ health page. So I'll let you know if we need more updates. But this is good to publish for now. Thank you!

[2021-07-07 22:21] lihanli opened #27059 "[BE] Profile: Fix sidekiq expires_in jobs"
sidekiq `expires_in` option does not work. this job was set to expire in 1 day, but was still retrying a week later.
http://sentry.vfs.va.gov/organizations/vsp/issues/41848/events/b6e94977938f49aaa8e19576a18df434/?environment=production&project=3&query=is%3Aunresolved+level%3Aerror+sidekiq&statsPeriod=14d

[2021-07-07 22:26] DanielleThierryUSDSVA commented on #27037
Hi @andaleliz. Was able to work this in today. Just a few tweaks:
- Making lead-in to bullets active voice
- Making the notifications bullet parallel in structure so it works with the lead-in and tweaking wording
- Bringing the last 2 sentences together so they flow a little more, and tweaking wording a bit

Feel free to slack me with any questions or additional thoughts on this!

Heading
**Are yo

[2021-07-07 22:48] dnalbach commented on #26760
VANotify is a service created by forking a GovUK project and creating custom infrastructure for it to make a US VA version, branded as VANotify.

- https://github.com/alphagov/notifications-ruby-client
- https://docs.notifications.service.gov.uk/ruby.html#ruby-client-documentation

### Official VANotify docs and repos

- https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/pro

[2021-07-07 22:53] dnalbach commented on #26760
We have learned a lot about the VANotify service and are meeting with that team later this week. We now know enough to close this research ticket and open a Design ticket to plan out the work needed to implement our own version of it.

[2021-07-07 22:55] digitalken commented on #26222
PASS 7/7/2021 - Looks good on iOS and Android.  Closing.

[2021-07-07 22:55] #26222 closed

[2021-07-07 22:57] #26752 closed

[2021-07-07 22:57] erikphansen commented on #26752
looks good on prod.

[2021-07-07 23:24] digitalken commented on #26597
PASS 7/7/2021 - Looks good on iOS and Android - seeing the name.  Closing.

[2021-07-07 23:24] #26597 closed

[2021-07-07 23:24] erikphansen commented on #23665
@andaleliz the conditionals for the delete confirmation modal are fine. I'd only push back on this one:

We _could_ load all their notification preferences on the contact info section, but I wouldn't want to do that just because we want to conditionally show one line of text when they are deleting a piece of info. I was planning on only loading their notification prefs when they went to the notifi

[2021-07-07 23:27] erikphansen commented on #26921
This sounds fine. I was gonna say the order shouldn't change all that frequently because it could be confusing. On the other hand, this won't be something anyone is visiting and using on a regular basis so if the order changes between visits they likely won't even notice.

[2021-07-07 23:29] digitalken commented on #25710
PASS 7/7/2021 - Looks good now on both iOS and Android.  Closing.

[2021-07-07 23:29] #25710 closed

[2021-07-07 23:36] erikphansen commented on #23665
@andaleliz yes we need to deal with the fact that:
1. The call to delete contact info will take at least a second or two. Maybe longer.
2. That call can fail. And it can fail quickly or it can fail many, many seconds after they start the delete.

Right now the Profile handles all of these cases.

Deletes and updates happen in the edit view.
1. If the delete fails quickly, we show an error alert in

[2021-07-07 23:45] erikphansen commented on #23665
@andaleliz question about x-padding in your specs. What should the minimum padding be for these two red lines? This will be more important for the spacing between the contact info itself and the edit/delete buttons to the right.
<img width="799" alt="Screen Shot 2021-07-07 at 4 16 55 PM" src="https://user-images.githubusercontent.com/20728956/124841680-a42a4000-df42-11eb-8f73-e0e93422ac49.png">

[2021-07-07 23:57] narin commented on #26595
Thanks @kreek.

@drjecker @ashley-matthews We can probably close this out as MHV's T&C status shouldn't affect appointments.

[2021-07-08 00:01] narin commented on #26623
Looks like this has been implemented already, but copy isn't exactly the same.  Will keep track of updating the copy with this ticket.

[2021-07-08 00:18] dnalbach opened #27060 "[Design] Create implementation plan and identify work items for confirmation notifications on 10-10EZ"
**As an** authenticated veteran, **I want to** receive reminder or confirmation notifications on my application, **in order to** complete or confirm that I have completed my application.

The purpose of this story is to design a new implementation of VANotify usage for the 10-10EZ. This is the next step after research is completed in ticket #26760. It should cover the following topics at minimum:

[2021-07-08 00:23] dnalbach commented on #25686
Learned recently that Prometheus may be getting replaced with DataDog. This should not impact this effort as we are preferring log data in CloudWatch/Loki rather than Prometheus anyway.

[2021-07-08 00:30] dnalbach commented on #25686
Chris Dyer fixed or found workarounds for the broken CloudWatch queries used in the old report on June 24th. He was able to backfill some of the missing data and start reporting regularly again. It is a continuation of the old manual process, and should still be automated, but allowed for the continued flow of information during the interim.

[2021-07-08 00:39] denisecoveyduc opened #27061 "Exploration: Removing "||Veterans Affairs" from the Title"
##  Description
Content titles for modern VA pages show **"||Veterans Affairs"** which is adding more copy to the results page while not offering much value to users. Consider removing to improve the user experience.

## Background

![Screenshot VA in Titles.png](https://images.zenhubusercontent.com/5f7f60ca14e26c658f77b9f5/6212b35d-35ce-45e5-8019-350b9d33ce9c)

## Acceptance Criteria

- [x] Check

[2021-07-08 01:05] denisecoveyduc opened #27062 "Request Full Accessibility + 508 Office Audit for Typeahead"
##  Description
As part of the collab cycle for typeahead we need to complete Full Accessibility + 508 Office Audit.

## Acceptance Criteria
- [ ] Audit has been requested

[2021-07-08 01:06] bsmartin-ep commented on #26703
Apologies for the delay @ajakabcin - we had to tame our tagging for these API calls.  We would like to to use our new global `api_call` event.

[code]

[code]

[code]

You may also want to fire an event when the request begins to get a completion rate....

[code]

[2021-07-08 01:44] denisecoveyduc commented on #24492
@mgleo Let's close this one until it comes back up again. #24597 will highlight future work, once we know what that is we can reassign as needed.

[2021-07-08 01:44] #24492 closed

[2021-07-08 02:23] denisecoveyduc commented on #20841
@srsuddath @tlei123  Since our existing cypress tests are now connected to TestRail does this resolve the "should" Are we now able to close? or what steps need to be addressed going forward?

[2021-07-08 02:45] bcastoe commented on #26790
#26790 - Create csv file for VISN-15 Facility Health Services used to migrate into CMS Systems [VAMC

[2021-07-08 02:49] bcastoe commented on #26792
#26792 Create csv file for VISN-9 Facility Health Services used to migrate into CMS Systems - completed and moved to validate

[2021-07-08 03:19] denisecoveyduc opened #27063 "S+D Grooming"
Opened in error - please refer to https://github.com/department-of-veterans-affairs/va.gov-team/issues/27084

[2021-07-08 04:27] SgardnerPMP opened #27064 "[VAMC] Create csv file for VISN-1 System Health Services used to migrate into CMS Systems [VAMC]"
## Story
As a data editor and customer, unique system health services need to be pulled from the system playbook and migrated through an automated process, so the process is scalable and accurate.

## Goal
Create a repeatable process that will allow for scalable input into the CMS system via data migration

## Resources
[Previous csv files](https://drive.google.com/drive/folders/1jpxDn49L4NonSd6bx

[2021-07-08 04:29] SgardnerPMP opened #27065 "[VAMC] Create csv file for VISN-1 Facility Health Services used to migrate into CMS Systems [VAMC]"
## Story
As a data editor and customer, unique system health services need to be pulled from the system playbook and migrated through an automated process, so the process is scalable and accurate.

## Goal
Create a repeatable process that will allow for scalable input into the CMS system via data migration

## Resources
[Previous csv files](https://drive.google.com/drive/folders/1jpxDn49L4NonSd6bx

[2021-07-08 04:59] holdenhinkle commented on #27046
I found the source of the error by adding the following `console.log()` statements to `getRows()` in `src/testrail/service.js`:

[code]

The following was logged many times when I ran the job:

[code]

So the issue is a timeout.

Handling it:

[code]

It's complaining about `data.message.error`. Running another job, logging out data as json to see what's going on - https://github.com/department-of

[2021-07-08 12:12] lunascoop commented on #22726
@RLHecht here's batch #2 ready for you review.
[Batch 2 Find a form.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/6784309/Batch.2.Find.a.form.docx)

[2021-07-08 12:29] sonntag-adam commented on #26096
https://dsvavsp.testrail.io/index.php?/runs/view/1977&group_by=cases:section_id&group_order=asc

[2021-07-08 12:29] sonntag-adam commented on #26096
In staging. Closing story.

[2021-07-08 12:29] #26096 closed

[2021-07-08 12:52] dneel-bah commented on #4020
This functionality was completed and delivered in late 2019, closing this epic out as completed.

[2021-07-08 12:52] #4020 closed

[2021-07-08 12:58] dneel-bah commented on #6916
Closing this issue as OBE.

[2021-07-08 12:58] #6916 closed

[2021-07-08 13:02] dneel-bah commented on #9895
Closing issue as OBE.

[2021-07-08 13:02] #9895 closed

[2021-07-08 13:06] holdenhinkle commented on #27046
There are two messages, with response status code `500`:

[code]

And...

[code]

Here's my fix, which I'm testing now:
[code]

[2021-07-08 13:10] dneel-bah commented on #11708
Duplicate of #11706, closing as OBE.  Work validated with OCTO in #10780.

[2021-07-08 13:10] #11708 closed

[2021-07-08 13:20] tchrisdyer opened #27066 "Design intent [Caregivers, Facilities Search on 10-10CG)"
## Steps to complete Design Intent Collaboration
- [x] VFS Product Manager or Designer: Create this issue and fill in your team and feature name in the title.
- [x] VFS: Using the Slack Workflow ([User guide](https://depo-platform-documentation.scrollhelp.site/support/Getting-help-from-the-Platform-in-Slack.1439138197.html)), notify Collaboration Cycle team of this Github ticket in #vfs-platform-s

[2021-07-08 13:20] tchrisdyer commented on #27066
### Enhancement Overview
The purpose of this enhancement is to improve the user experience of selecting a VA facility on VA Form 10-10CG (Caregivers) and solve problems related to maintain hardcoded facilities lists.

**Current Experience**
Currently, to select a facility, the user must select the state from a hardcoded dropdown list of states. Then they must select a facility name from another ha

[2021-07-08 13:24] dneel-bah commented on #13554
Closing as OBE

[2021-07-08 13:24] #13554 closed

[2021-07-08 13:30] pjhill opened #27067 "Refactor Nightwatch Specs into Cypress"
# Description
The first scan of `vets-website` for Nightwatch specs may not have located them all. Upon attempting to remove the form tester helper files, it turns out there are still some specs that depend on it.  We need to look for more Nightwatch specs and refactor them into Cypress.

## Tasks
- [x] Generate a list of Nightwatch specs that are still in the repository and do not have replacemen

[2021-07-08 13:30] ltrombley commented on #27064
Task #27064 - Create csv file for VISN-1 System Health Services used to migrate into CMS Systems [VAMC]  - Is Pending Review - moved to Validate.

[2021-07-08 13:31] vhenry07 opened #27068 "EVSS Form526 Validation Rules"
## Issue Description
EVSS has provided a [document](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/disability/526ez/support) outlining all Form526 validation rules.

collaborative google doc in our slack channel.
---
## Tasks
Review rules and document thoughts/actions for backend.

## Acceptance Criteria
- Documented evaluation that details changes/updates we ne

[2021-07-08 13:33] vhenry07 opened #27069 "EVSS Form526 Validation"
## Issue Description
EVSS has provided [list of validations](https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/disability/526ez/support).

---
## Tasks
- [ ] Review validation list and determine updates we need to make on frontend.

## Acceptance Criteria
- [ ] Documented findings.
---

[2021-07-08 13:37] ltrombley commented on #26789
Task #26789 - Create csv file for VISN-1 System Health Services used to migrate into CMS Systems [VAMC]  - Is Pending Review - moved to Validate.

[2021-07-08 13:39] ltrombley commented on #26791
Task #26791 - Create csv file for VISN-9 System Health Services used to migrate into CMS Systems [VAMC]  - Is Pending Review - moved to Validate.

[2021-07-08 13:46] tchrisdyer opened #27070 "Contact Center Review for [Caregivers, Improve File Upload Error Messaging]"
# Request the Contact Center Review

## What this form is for
Use this template to request a Contact Center review of your product.

Please review the Self-service Product Guide Template [link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/contact-center/self-service-product-guide-template.md) and the Contact Center Review How to [link](https://github.com/depar

[2021-07-08 13:55] ajakabcin opened #27071 "[FE] Profile: Contact info tables incorrect (missing rounded corners + x-padding table headers and rows)"
## Background
As reported by Erik in [slack](https://dsva.slack.com/archives/C909ZG2BB/p1625693643076600), the contact info tables in profile are missing rounded corners and the x-padding for table headers and table rows are inconsistent.

<img width="689" alt="Screen Shot 2021-07-07 at 2 28 55 PM" src="https://user-images.githubusercontent.com/45603961/124934401-a89e3980-dfd2-11eb-9459-ff6a63c2ae

[2021-07-08 13:59] RLHecht commented on #26864
@joshkimux See Beth's comment directly above. We are going to change the text on green CTA button on the disability claims landing page from "Let's get started" to read "Find out if you can file a claim online" and it will go to the [start page](https://staging.va.gov/disability/file-disability-claim-form-21-526ez/start) where users will need to answer the questions in the wizard. We wanted to con

[2021-07-08 14:02] ajakabcin opened #27072 "[FE] Profile: Long email addresses break Profile layout"
## Background
As reported in [slack](https://dsva.slack.com/archives/C909ZG2BB/p1625699754078400), long email addresses break the Profile layout:

<img width="741" alt="Screen Shot 2021-07-07 at 4 15 09 PM" src="https://user-images.githubusercontent.com/45603961/124935269-81943780-dfd3-11eb-9f4f-3ef0ce57b157.png">

## Task
- [x] Consult with @andaleliz as needed for how best to handle this
- [x] I

[2021-07-08 14:02] #26761 closed

[2021-07-08 14:03] AGarcia-Clarity opened #27073 "Access for Alexander Garcia"
# Instructions
1. Fill out **Description**
2. Change the **Title** to include your name
3. Add the label used by your team (eg: `BAH-526`)
4. Do not remove `operations` label or the `ops-access-request` label; this will notify the VSP Operations team of your request
5. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contrac

[2021-07-08 14:04] AGarcia-Clarity commented on #27073
@department-of-veterans-affairs/vsp-operations

[2021-07-08 14:07] amyknox opened #27074 "Analytics Implementation or QA Support for AFS-Education team - GI Bill Comparison Tool Redesign"
# Google Analytics Implementation or QA Request

## Description
- Is this request for Google Analytics implementation or QA?

Implementation

- Who is this request for?

    - Abe Blanco, Gina Ronat

    _Provide any relevant contact information and link this issue on the DSVA Slack Channel: `#VFS-Platform-Support` and tag `@platform-analytics`._

- What team/project is this work for?
    - Educat

[2021-07-08 14:07] holdenhinkle commented on #27046
I merged this. I'm 99.99999% sure this is fixed.

I added some statements (for debugging purposes) to log the response data from testrail if the response doesn't include `body`. I'll review the logs every morning. If nothing is logged from these statements in the next few weeks I'll delete them.

[2021-07-08 14:08] alexandec commented on #26198
@timwright12 this is ready for your review when you get a chance.

[2021-07-08 14:09] vhenry07 opened #27075 "EVSS fix - get data"
## Issue Description
Get a list of veterans affected by the EVSS service date bug.  (starting april 1, 2021).
exclude veterans who have submitted a claim after they experienced the error.

As with previous error communication get
Name, Email, EDIPI

---
## Tasks
- [ ] _What work is necessary for this story to be completed?_

## Acceptance Criteria
- [ ] _What will be created or happen as a result

[2021-07-08 14:11] shiragoodman opened #27076 "Create Slack guide for Platform Product Support"
## Issue Description
Platform Product Support team members have shared that the large number of Slack channels is overwhelming. Team members do not know where to post concerns that they have, and have trouble keeping track of conversations.

We plan to create a Slack Guide for internal (or operational) use by the Platform Product Support team. The Slack Guidance will be published on Confluence:
ht

[2021-07-08 14:11] bethpottsVADEPO commented on #27034
@johnhashva  Sure--no problem. @brianalloyd want to check in with me about timing when you're back?

[2021-07-08 14:13] tchrisdyer commented on #27070
Note the primary change in this enhancement is changing the error messaging the is displayed when a file upload error occurs due to an unknown network error.

Original messaging:
![image](https://user-images.githubusercontent.com/48114189/124936784-d7b5aa80-dfd4-11eb-84de-6b48b331bcff.png)

New Messaging
![image](https://user-images.githubusercontent.com/48114189/124936360-755caa00-dfd4-11eb-9799-

[2021-07-08 14:13] vhenry07 opened #27077 "Prepare communication for impacted Veterans - Submission errors"
## Issue Description
Prepare list of Veterans impacted by submission errors

---
## Tasks
- [ ]Prepare list and submit to Paul so that he can help determine which have already submitted and then we take the new list and reach out to Veterans and ask then to resubmit.

## Acceptance Criteria
- [x] List prepared, email drafted.
---

[2021-07-08 14:17] 1Copenut commented on #25568
7/7: Worked on the intermittent failing issue for static content in Cypress. Isolated the issue, but haven't determined why it's happening on some pages but not others.

[2021-07-08 14:19] lianilychee opened #27078 "FE - audit support (proactive)"
# Description

**Question or description:** To come (copy/paste full question).

**(If proactive) where to post:** To come.

**(If reactive) Slack URL:** To come.

# Reference info

**When we asked:** Sprint 56, 7/8.

**When we resolved:** Date, Days-to-resolution.

[2021-07-08 14:20] vhenry07 opened #27079 "526 Error Resolution - Special Characters in Names"
## Issue Description
526 error resolution

---
## Tasks
- [ ] Investigate errors related to submission problems with accents or special characters.

## Acceptance Criteria
- [ ] Issue documented with EVSS and action plan agreed to.
- [ ]
---

[2021-07-08 14:21] andaleliz commented on #27037
@DanielleThierryUSDSVA Thanks for taking care of this so quickly! I appreciate the feedback and have updated our specs accordingly.

[2021-07-08 14:21] #27037 closed

[2021-07-08 14:25] joshkimux commented on #26864
@RLHecht we can include specifics like "disability compensation" in an `aria-label` as we do elsewhere at VA.gov 😄

[2021-07-08 14:26] allison0034 commented on #27066
@tchrisdyer this has been scheduled for 7/16 at 2pm ET. Can you answer the question "Has your product been reviewed by the OCTO-DE Design Lead?" in the ticket?

[2021-07-08 14:27] RLHecht commented on #26864
@joshkimux I'm not sure we can do that in Drupal. I know that it often strips out aria labels for certain things. The only thing we usually have them for is phone numbers.

[2021-07-08 14:30] joshkimux commented on #26864
Got it-- three follow up questions just so I can get a little bit more context before making a recommendation:

1. How many links of this type will exist on the page? If this is the only "Find out if you can file a claim online" and the `h1` already suggests it's around disability compensation, we may not need to include it.
2. If there are many types of this link on this page, could we use `sr-on

[2021-07-08 14:36] joshkimux commented on #26904
Here it is! I'll link it to this ticket
https://github.com/department-of-veterans-affairs/va.gov-team/issues/26353

[2021-07-08 14:37] #26628 closed

[2021-07-08 14:38] #26506 closed

[2021-07-08 14:38] #26533 closed

[2021-07-08 14:38] #26534 closed

[2021-07-08 14:39] #25554 closed

[2021-07-08 14:39] #24778 closed

[2021-07-08 14:39] lianilychee opened #27080 "BE - audit support (proactive)"
# Description

**Question or description:** To come (copy/paste full question).

**(If proactive) where to post:** To come.

**(If reactive) Slack URL:** To come.

# Reference info

**When we asked:** sprint 56, 7/8.

**When we resolved:** Date, Days-to-resolution.

[2021-07-08 14:39] lianilychee opened #27081 "OPS - audit support (proactive)"
# Description

**Question or description:** To come (copy/paste full question).

**(If proactive) where to post:** To come.

**(If reactive) Slack URL:** To come.

# Reference info

**When we asked:** sprint 56, 7/8.

**When we resolved:** Date, Days-to-resolution.

[2021-07-08 14:39] lianilychee opened #27082 "ID - audit support (proactive)"
# Description

**Question or description:** To come (copy/paste full question).

**(If proactive) where to post:** To come.

**(If reactive) Slack URL:** To come.

# Reference info

**When we asked:** sprint 56, 7/8.

**When we resolved:** Date, Days-to-resolution.

[2021-07-08 14:39] lianilychee opened #27083 "SD - migrate all their GH content (proactive)"
# Description

**Question or description:** To come (copy/paste full question).

**(If proactive) where to post:** To come.

**(If reactive) Slack URL:** To come.

# Reference info

**When we asked:** sprint 56, 7/8.

**When we resolved:** Date, Days-to-resolution.

[2021-07-08 14:39] #26532 closed

[2021-07-08 14:40] #26287 closed

[2021-07-08 14:43] denisecoveyduc opened #27084 "S+D Grooming"
# Search & Discovery Grooming
_Search & Discovery team uses this issue for Grooming Sessions._
<details><summary>More Information about this meeting</summary>

### Details:
- Reoccurring meeting: BiWeekly - Thursdays 11AM EST
- Meeting owner: Denise Coveyduc (PM-Search & Discovery)
- Facilitator: Denise Coveyduc
- Attendees: John Hashimoto (VAPO), Sam Suddath (FE Engineer), Megan Gayle (Designer/R

[2021-07-08 14:43] #27063 closed

[2021-07-08 14:43] #26476 closed

[2021-07-08 14:47] zacharymorel commented on #26298
@shiragoodman can you add this issue to the Epic here.
https://github.com/department-of-veterans-affairs/va.gov-team/issues/26353

[2021-07-08 14:47] joshkimux commented on #26476
@micahchiang Thank you for this! You're the best 🥳

[2021-07-08 14:49] lwalsh617 commented on #17605
@bethpottsVADEPO - Per your request, I compared Danielle's debt pages to the education debt copy deck. I inserted a comment for each question, indicating whether it's already covered or if we should make it an article. See deck at top of this ticket. Thanks!

[2021-07-08 14:51] jbritt1 commented on #27073
Cognito power user access granted in the referenced pull request [#9538](https://github.com/department-of-veterans-affairs/devops/pull/9538).

[2021-07-08 14:53] jbritt1 commented on #27073
Please reopen if any issues are observed or if we need to adjust permissions further.

[2021-07-08 14:53] #27073 closed

[2021-07-08 15:00] amygoldman commented on #27004
Drafts of Slack announcement and calendar event text: https://vfs.atlassian.net/wiki/spaces/~832277940/pages/1714585825/Content+IA+team+office+hours

[2021-07-08 15:02] amygoldman commented on #27006
Private page in our Op Docs space with the info that was on old the GitHub overview page: https://vfs.atlassian.net/wiki/spaces/CIT/pages/1717796868/Requesting+documentation+support+from+the+Content+and+IA+team+for+other+VSP+teams

[2021-07-08 15:04] RLHecht commented on #26864
@joshkimux Thanks for thinking this through with me!
1. This is the only link like this on the page. The page it's on has the H1 "[How to file a disability claim](https://www.va.gov/disability/how-to-file-claim/)" so it does mention disability already.
3. This will be styled as a button. The CMS does not allow for the action link yet so we are still using the green CTA button. If you scroll down o

[2021-07-08 15:06] CBonade commented on #27067
edu-benefits/tests/feedback-tool/00.feedback-tool.e2e.spec.js
edu-benefits/tests/feedback-tool/01.feedback-tool.-keyboard.e2e.spec.js
pre-need/tests/00-all-fields.e2e.skip.spec.js
veteran-representative/tests/00.veteran-representative-entry.e2e.spec.js
coronavirus-research/tests/00.covid-vaccine-trial.e2e.spec.js
gi/tests/2e2/01-keyboard.e2e.spec.js
post-911-gib-status/tests/01-authed.e2e.spec.js

[2021-07-08 15:07] srsuddath commented on #26530
This ticket has been closed as part of the Search UI PR

[2021-07-08 15:07] #26530 closed

[2021-07-08 15:07] CBonade opened #27085 "Remove Circle CI logic from content-build repo tests"

[2021-07-08 15:16] mchelen-gov opened #27086 "Deprecate va.gov-team wiki"
- Repo wiki is not being actively used
- Other documentation is more current
- Removal reduces confusion

Reference URL: https://github.com/department-of-veterans-affairs/va.gov-team/wiki
Settings page: https://github.com/department-of-veterans-affairs/va.gov-team/settings
Slack convo: https://dsva.slack.com/archives/CBU0KDSB1/p1625751625353100

[2021-07-08 15:16] mchelen-gov commented on #27086
done

[2021-07-08 15:16] #27086 closed

[2021-07-08 15:19] joshkimux commented on #26864
@RLHecht Of course, glad to help! 🤜 🤛

1. If this is the only link, "Find out if you can file a claim online" works 👍
2. I'd recommend writing up an issue ticket to backlog for updating the green CTA button to an action link; this is an ongoing effort across VA.gov we'd like to keep tabs on 🙏

[2021-07-08 15:21] miabecker commented on #26923
@shiragoodman let me know what we need to do next here. Thank you!

[2021-07-08 15:23] amygoldman commented on #27006
Added the "2 paths for support" info to the current support overview in Confluence: https://vfs.atlassian.net/wiki/spaces/CIT/pages/1640333324/Platform+website+support+overview#Options-for-requesting-support

[2021-07-08 15:28] dat-gcio commented on #26329
@Dene-human Here is the [link](http://86fadf9e3a40ba8786c4fad2fc68b2d6.review.vetsgov-internal/family-member-benefits/apply-for-caregiver-assistance-form-10-10cg/introduction) to the review instance

[2021-07-08 15:29] RLHecht commented on #26864
@joshkimux Great, thank you! The CMS team does have the action link in their backlog already so I think we are OK on that front.

[2021-07-08 15:29] micahchiang commented on #17743
@cohnjesse - do you think the work originally described for this ticket has been completed in your PR for https://github.com/department-of-veterans-affairs/va.gov-team/issues/17730? Feel like we may be able to close this one as a duplicate now.

[2021-07-08 15:34] lianilychee commented on #27003
Thurs 7/8:
- will send over slack today!

[2021-07-08 15:34] clantosswett opened #27087 "General Analytics Request for Contact Center Support Team"
# General Analytics Request

## What this form is for

Use this template to request support for analytics that need interpretation. If you have your KPIs set, please [request a KPI dashboard](https://github.com/department-of-veterans-affairs/va.gov-team/issues/new?assignees=joanneesteban&labels=analytics-insights%2C+analytics-request%2C+kpi-dashboard&template=analytics-request-kpi-dashboard.md&tit

[2021-07-08 15:39] lianilychee commented on #27008
Thurs 7/8:
- today will work on: tracker reporting out on a few test pages, and we can look over at the team sync gretchen is going to schedule for early next week

[2021-07-08 15:45] holdenhinkle opened #27088 "Create daily job to clean up erroneous TestRail data pushed to BigQuery. Only push seemingly accurate GitHub issues to BigQuery."
Create a daily job to clean up erroneous TestRail data pushed to BigQuery. Set a condition for pushing new GitHub issues data to BigQuery.

Add a script to the Testing Tools Team Dashboard Data repo that:
- [x] Deletes erroneous data from `testrail_metrics` table
- [x] Call the script in a new GitHib Actions scheduled event workflow
- [x] Only push the updated/new GitHub issues to BigQuery if the

[2021-07-08 15:47] #26913 closed

[2021-07-08 15:47] andaleliz commented on #26913
Met w/ VA Notify team today and they helped to clarify reasons we don't offer both email and text for all notifications. Primarily:
- channel is determined by research the business line conducts prior to requesting a notifications
- budgetary constraints (text messages cost $$$)

That's not to say they will never all be available, but we confirmed that we need to account for this in our UI and lik

[2021-07-08 15:48] #19009 closed

[2021-07-08 15:48] bsmartin-ep commented on #26737
@batemapf -

I'll Slack you the link to the export.

Not news to you, but...

Standard disclaimer we're mixing session level metrics like `totals.hits` with hit level events.  So avoid directly aggregating these columns.  We will usually CONCAT together a session id with other fields and COUNT DISTINCT that to get our totals and unique totals.

Updated query...

[code]

[2021-07-08 15:49] andaleliz commented on #26921
cool, glad we are all aligned. I don't want the order to change frequently either, and I don't think it will.  @erikphansen your point is also valid that this isn't a place people are going to be going regularly.

I'll bring this up in our VA Profile meeting today.

[2021-07-08 15:52] #27028 closed

[2021-07-08 15:52] #25960 closed

[2021-07-08 15:54] andaleliz commented on #26949
Closing this - @tressaellen feel free to reopen if there are outstanding concerns

[2021-07-08 15:54] #26949 closed

[2021-07-08 15:58] holdenhinkle commented on #27051
# GitHub integration
https://applitools.com/docs/topics/integrations/github-integration.html

From https://applitools.com/docs/topics/integrations/github-integration.html#Installing

I’ve been searching and searching using the words ‘applitools’ and ‘parallel’… They use the word ‘concurrently’ here…

# Synchronizing multiple concurrent builds
https://applitools.com/docs/topics/integrations/github-

[2021-07-08 15:59] dat-gcio commented on #26697
Here are the links, and some hints to make sure you can get to the file upload compoonent.

Single file upload form:
1) Navigate to: https://staging.va.gov/family-member-benefits/apply-for-caregiver-assistance-form-10-10cg/introduction
2) You only need to fill out primary or secondary caregiver, you do not have to fill out both
3) When you get to `Step 4 of 5: Representative document`, make sure y

[2021-07-08 16:01] dneel-bah commented on #22043
Code cleanup story #22044 completed.  Closing this epic.

[2021-07-08 16:01] #22043 closed

[2021-07-08 16:06] dneel-bah commented on #18117
All associated issues have been completed and PI9 has ended; closing out this epic.

[2021-07-08 16:06] #18117 closed

[2021-07-08 16:08] bsmartin-ep commented on #26537
Not entirely sure what the issue is with the group assignment, but Curt should be set up in GA and Domo.  Closing.

[2021-07-08 16:08] #26537 closed

[2021-07-08 16:09] joeniquette opened #27089 "Research IAL implementation constraints for VA.gov"
ID.me has the capability to process IAL1 and IAL2 instead of LOA1 and LOA3, Login.gov also prefers the usage of IAL. This ticket asks the backend team to research any potential issues with dependencies on the LOA credential and naming convention. What would it take to flip to using IAL.

[2021-07-08 16:10] Kimberley2019 commented on #27070
@tchrisdyer is this ready for a CC review?

[2021-07-08 16:11] kelsonic opened #27090 "Request access to Google Analytics and/or Domo"
# Request Google Analytics and/or Domo access

Request for Ryan Leahy (engineer on Public Websites) to get access to Google Analytics (email: ryan.leahy@adhocteam.us)

## What this form is for
Use this template to request access to Google Analytics and/or Domo

## User Email Address
Please use `/support` on the DSVA Slack channel [#vfs-platform-support](https://dsva.slack.com/channels/vfs-platform

[2021-07-08 16:13] shiragoodman commented on #26697
@Dene-human thank you! Would you mind copy/pasting your last message into the main body of the ticket? This makes it easier for our reviewers to find everything they need (so they don't have to go digging through the comments). Thank you!

[2021-07-08 16:15] jperk51 commented on #26678
Note about AC: I used the existing SyncScreen instead of creating a new one specifically for this

[2021-07-08 16:17] dat-gcio commented on #26697
@shiragoodman  updated!

[2021-07-08 16:22] rileyorr commented on #22762
All the sessions I took notes for are up on GH with key takeaways added for each. (https://github.com/department-of-veterans-affairs/va.gov-team/tree/master/products/Debt%20Resolution/Medical_Copays/research/jun-2021/notes)

[2021-07-08 16:26] Dene-human commented on #26329
Great! Just one thing:

 - Make "full documents" bold in the more information components
![Screen Shot 2021-07-08 at 12 22 12 PM](https://user-images.githubusercontent.com/80857940/124957946-a0042e00-dfe7-11eb-9902-f97246305346.png)

[2021-07-08 16:33] desireeturner opened #27091 "Offboarding of Desiree Turner"
# Instructions
Fill out name of individual and *Description* section below.

# Description
- Please provide the name of the individual needing offboarded.

- Please provide the name of their team, their role on that team, expected last day, and the name of the company they work for.

- Please provide any type of access they may have and their GitHub username.

   - GitHub, @desireeturner
   - Slac

[2021-07-08 16:35] jennaouellet commented on #27091
Google Analytics access removed, Domo not applicable

[2021-07-08 16:36] Rleahy22 opened #27092 "VSA Onboarding - Ryan Leahy"
## Welcome to the VSA Program

Welcome! This issue will be used to track your onboarding to the VSA Program.

---

## Pre-Onboarding

**Operation Lead Tasks**

- [ ] Send Welcome email to New Hire (request GitHub Username)

*Send Notifications with New Hire details (name, position, start date) to:*

- [ ] Admin Analyst
- [ ] VA Leadership
- [ ] VA PO
- [ ] Practice Lead
- [ ] VSP Onboarding

**Acc

[2021-07-08 16:36] desireeturner commented on #27091
This request should not be effective until 07/16 (next Friday)

[2021-07-08 16:39] kelsonic commented on #26199
Closing these redirect tickets for now since PW can't implement them: https://dsva.slack.com/archives/C52CL1PKQ/p1625759187483900?thread_ts=1625754059.481800&cid=C52CL1PKQ

We will keep a look out for how this new edge case can be implemented in our redirect process moving forward 👀

[2021-07-08 16:39] #26199 closed

[2021-07-08 16:39] kelsonic commented on #26234
Closing these redirect tickets for now since PW can't implement them: https://dsva.slack.com/archives/C52CL1PKQ/p1625759187483900?thread_ts=1625754059.481800&cid=C52CL1PKQ

We will keep a look out for how this new edge case can be implemented in our redirect process moving forward 👀

[2021-07-08 16:39] #26234 closed

[2021-07-08 16:39] zurbergram commented on #27014
https://github.com/department-of-veterans-affairs/devops/pull/9539

[2021-07-08 16:39] kelsonic commented on #26200
Closing these redirect tickets for now since PW can't implement them: https://dsva.slack.com/archives/C52CL1PKQ/p1625759187483900?thread_ts=1625754059.481800&cid=C52CL1PKQ

We will keep a look out for how this new edge case can be implemented in our redirect process moving forward 👀

[2021-07-08 16:39] #26200 closed

[2021-07-08 16:40] desireeturner commented on #27091
Closing this request because I think I submitted it a little early! Please don't remove any additional access

[2021-07-08 16:40] #27091 closed

[2021-07-08 16:41] kelsonic commented on #24383
Related tickets:
https://github.com/department-of-veterans-affairs/va.gov-team/issues/26679
https://github.com/department-of-veterans-affairs/va.gov-team/issues/23082
https://github.com/department-of-veterans-affairs/va.gov-team/issues/24383

[2021-07-08 16:42] kelsonic commented on #23082
Related tickets:
#26679
#23082
#24383

[2021-07-08 16:42] kelsonic commented on #26679
Related tickets:
#26679
#23082
#24383

[2021-07-08 16:43] mmiddaugh opened #27093 "Vet Center name is missing from title tag"
## Issue Description
The Vet Center name is missing from title tag, both `<title>` and `<meta content og:title>`. This can negatively impact the page's SEO.

![image](https://user-images.githubusercontent.com/55411834/124959291-4c3e1880-dfd8-11eb-8c55-b4782144a9ee.png)

**Expected behavior for main page:** [Vet Center] | Veterans Affairs
**Expected behavior for Locations page:** Locations | [Vet C

[2021-07-08 16:43] kelsonic commented on #18869
Would the idea here be to add e2e tests for at least 1 instance per template? CC @brianalloyd

[2021-07-08 16:48] ajakabcin commented on #26703
Thanks @bsmartin-ep - I'll create a separate ticket for @erikphansen to implement these and circle back for assistance with QA/testing.

@erikphansen any questions/concerns on this?

[2021-07-08 16:50] dat-gcio commented on #26329
@Dene-human The code has been updated to make `full documents` bold.

[2021-07-08 16:50] andaleliz commented on #23665
Thanks @lihanli and @erikphansen! In response to your questions/comments:

That makes sense to me, and I'm find w/ removing the conditional based on whether or not they're signed in.

I updated the specs to specify a min x-padding of 48px; if you plug that in and it ends up absolutely not working with content, let's try 32px.

Yep, that tricked worked and allowed me to see it! Thank you. Updated t

[2021-07-08 16:53] Dene-human commented on #26329
Thanks! Good by me.

On Thu, Jul 8, 2021 at 12:50 PM dat-gcio ***@***.***> wrote:

--
Dené Gabaldón
Senior UX Designer, Ad Hoc
adhoc.team
<https://www.google.com/url?q=https%3A%2F%2Fadhoc.team%2F&sa=D&sntz=1&usg=AFQjCNE4MGCYSFhDl_lZwwTif1R0KYNm0w>
|
<https://www.google.com/url?q=https%3A%2F%2Ftwitter.com%2FAdHocTeam&sa=D&sntz=1&usg=AFQjCNE4GKY_Z86vvRgx9vcdArRxzNO-Hg>
@adhocteam
<https://www.google

[2021-07-08 16:54] desireeturner opened #27094 "Adding Shelby Kavades to DSVA Slack"
Shelby Kavades [kavades_shelby@bah.com, Shelby.nelson2@va.gov] needs be added as a full member guest to the following channels:
- general
- gids-prod
- random
- vfs-all-teams
- vfs-platform-support
- vfs-test-accounts
- victories
- vsa-education
- devops-deploys

[2021-07-08 16:54] RLHecht commented on #26858
@SgardnerPMP Hey Stan, in case you need a list of all the LGBT references on VAMC pages so they can be updated to LGBTQ+, Kelson ran a search and the full list is in a comment above. Just wanted to make you aware in case you needed to reference this for the work.

[2021-07-08 16:54] rjohnson2011 commented on #24982
This is completed.

[2021-07-08 16:54] #24982 closed

[2021-07-08 16:59] kelsonic commented on #18869
We should probably break up this ticket's AC into the exact template files we want to create tests for, but I think the [`/layouts`](https://github.com/department-of-veterans-affairs/content-build/tree/master/src/site/layouts) directory would be a great place to start! 🙂

[2021-07-08 17:16] rjohnson2011 opened #27095 "Refactor Staging & Production Canary Checks"
Currently Staging & Production Canary Checks are done in a verbose manner. They can be refactored into a single reusable component, as requested by #platform-team.

## Acceptance Criteria
- [x] Staging & Production Canary checks are in one reusable component.
- [x] Successful deploy of Canary checks.

[2021-07-08 17:17] JenLJ commented on #26406
Discussion guide: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/education-careers/school-comparison-tool/redesign/research/usabilitytesting-july2021/discussion-guide.md

[2021-07-08 17:20] tchrisdyer commented on #27070
@Kimberley2019 The change is in staging. I still need to update the Product Guide which I will attach shortly. I'm hoping the change is small enough that I won't need to update the Product Video or Transcript.

[2021-07-08 17:26] jbritt1 commented on #26385
https://vfs.atlassian.net/wiki/spaces/OT/pages/1717075969/Tools+for+Development+on+Kubernetes

[2021-07-08 17:31] #27030 closed

[2021-07-08 17:36] Mottie opened #27096 "508|NOD - Review & submit page labels & headers"
## Description

On the review & submit page, the edit button for an added issue "Edit {issue}" and the area of disagreement page edit button "Edit {issue}" have the same aria-label. These need to be made unique so a screen reader user can differentiate what is being edited.

Additionally the area of disagreement checkboxes included heading level 3

## Tasks

- [ ] Add unique `aria-label` text to e

[2021-07-08 17:38] chrisj-usds commented on #25109
Hi @Mottie -- Is there any update or status on this issue? It's come back around with various folks at VA as part of a larger problem.

[2021-07-08 17:38] darkbushido commented on #26593
The query to the rails api that isn't giving any results is

`https://api.va.gov/facilities_api/v1/ccp/urgent_care?address=632+West+6th+Avenue%2C+Anchorage%2C+Alaska+99501%2C+United+States&bbox%5B%5D=-150.6449&bbox%5B%5D=60.4663&bbox%5B%5D=-149.1449&bbox%5B%5D=61.9663&latitude=61.2163&longitude=-149.8949&page=1&per_page=40&radius=665`

changing the `per_page` param by one we were able to get 18 re

[2021-07-08 17:38] erikphansen opened #27097 "[FE] Direct Deposit: DRY out the two BankInfo components."
`src/applications/personalization/profile/components/direct-deposit/BankInfoEDU.jsx` and `src/applications/personalization/profile/components/direct-deposit/BankInfoCNP.jsx` have a ton of duplicate content. We should refactor these two components to DRY them out.

The main difference between the two is that DD4EDU has a different state when the user is not currently signed up for DD4EDU. And you c

[2021-07-08 17:41] AngelaFowler82 opened #27098 "508 defect 2, screen readers, cognition, VA home page main navigation confusing and redundant"
Label:

    - [508-defect-2]

https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2

Issue Title: 508 defect 2, screen readers, cognition, VA home page main navigation confusing and redundant
Point of Contact: Angela Fowler
**VFS Point of Contact:** _First name only: Angela

<h2>User Story or Problem Stateme

[2021-07-08 17:41] micahchiang opened #27099 "React Widget addition from vfs-ebn-migration team"
## What do you need content guidance and support for?

- [ ] Content strategy and writing to create new unauthenticated (static) VA.gov page
-	[x] Writing/editing to update existing unauthenticated (static) VA.gov page
-	[x] Content support for an app or tool
-	[ ] Something else (please add details in the next question)

## What do you need help with?

The `/view-change-dependents` static page in

[2021-07-08 17:43] erikphansen commented on #27071
@ajakabcin I'll knock this out this sprint since I know the fix.

[2021-07-08 17:43] rtwell commented on #182
@1Copenut is this only for non-sighted folks, or for all users?

[2021-07-08 17:43] micahchiang commented on #26330
Intake request here - https://github.com/department-of-veterans-affairs/va.gov-team/issues/27099

[2021-07-08 17:43] digitalken commented on #25589
7/8/2021 - Not in build as of this date.

[2021-07-08 17:44] tlei123 commented on #26728
Sorry, @srsuddath !  Please re-generate your team's TR **API Key** and **save the new one ONLY within TR** [not here in GH] -- I've just added a label for that in your TR-Project edit-screen [here](https://dsvavsp.testrail.io/index.php?/admin/projects/edit/31/1).

Once done, feel free to Close this ticket.

Thx much for getting this integration done!  :)

[2021-07-08 17:46] Mottie commented on #25109
I haven't had a chance to look into this within the past 7 days. I will try to dig into it again today.

[2021-07-08 17:47] mmiddaugh commented on #24704
Notes from Meeting with Lisa on 7/7
Program =  "package of services"

Domiliciaries
- Most Doms are aligned with only one VAMC system but may appear listed only under the main facility.
- More likely to be freestanding
- Recommends Butler, Coatesville and San Diego as potential interviews
- Domiliciary not an official national health service

[2021-07-08 17:47] andaleliz opened #27100 "[Discovery] - Learn more about My VA Treating Facilities (facility preferences) in MHV"
**Background**
Based on what we learned in our health facility research study, it isn't valuable to Veterans to have the ability to manually set preferred facilities in their profile.  Before we fully pivot away from this effort, we want to learn more about how this works and performs in MHV.  Perhaps there is still a business case to bring this functionality over to VA.gov

**Tasks**
- [x] Meet w

[2021-07-08 17:47] mmiddaugh commented on #24819
Notes from Meeting with Lisa on 7/7

Community Living Centers
- Extended care and rehabilitation is an official national health service (which is overlap with extended care facilities)
- Most CLCs are aligned with only one VAMC system but may appear listed only under the main facility although large systems may have more than one
 - CLCs tend to be more standardized and usually considered a health

[2021-07-08 17:48] starlow00 commented on #24757
Sam A. mentioned in VEO sync meeting that he is sharing the first training module with the training team. Attached is the file
[Not-Tier.2-Presentation-Example.pptx](https://github.com/department-of-veterans-affairs/va.gov-team/files/6786357/Not-Tier.2-Presentation-Example.pptx)

[2021-07-08 17:48] #24757 closed

[2021-07-08 17:50] erikphansen commented on #27072
@ajakabcin I don't think we really need Liz to weigh in on this. I _think_ we could make the email address break/wrap at symbols (`@`, `-`, `.`) first (by adding in hidden spaces) and also potentially have it force-wrap (by using `word-break: break-all;` or `overflow-wrap: break-word;`) even if wrapping at symbols does not accomplish what we need. Example: if an email address was something like `t

[2021-07-08 17:51] mmiddaugh commented on #16098
This issue was addressed during Merge and sort urgent care mash-up results on the FL front end #19959

[2021-07-08 17:51] #16098 closed

[2021-07-08 17:52] tlei123 commented on #20841
@denisecoveyduc , yep, this is ready for Closing.  I just confirmed  @srsuddath 's satisfied the Should item, and Closed the [automated E2E test-run](https://dsvavsp.testrail.io/index.php?/runs/view/1975&group_by=cases:section_id&group_order=asc) in TestRail.

cc @ddzz

[2021-07-08 17:54] CBonade commented on #27085
There were two specs here that have been updated.  That said, it looks like CI builds have been failing so I can't get it to pass it's checks.  Both Nightwatch and Cypress tests look to be being skipped in content-build currently, but I've removed the logic just in case.

[2021-07-08 17:56] digitalken commented on #25913
PASS 7/8/2021 - Passing on the basis of 'sc_received' as I'm unable to change anything on the devices.  Closing.

[2021-07-08 17:56] #25913 closed

[2021-07-08 17:56] #5498 closed

[2021-07-08 17:56] #7010 closed

[2021-07-08 17:57] drjecker commented on #26595
Great! Closing.

[2021-07-08 17:57] #26595 closed

[2021-07-08 17:57] mmiddaugh commented on #12564
This issue has been resolved

[2021-07-08 17:57] #12564 closed

[2021-07-08 17:57] CBonade commented on #26560
https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/27067

The above issue is tracking specs that have yet to be converted to Cypress.  Once converted and tested for a period of time, the nightwatch specs can be removed and then this deprecation process can continue.

[2021-07-08 17:59] mmiddaugh commented on #19363
Addressed during #21256

[2021-07-08 17:59] #19363 closed

[2021-07-08 17:59] jbalboni commented on #26442
I was able to get the two calls working in staging. Some partial answers to my questions:

1. At least in staging, judy morrison has two PACTs, both at the same facility. This is probably more reflective on the staging CDW instance than actual practice
2. In staging, it's about 400ms. That at least suggests it could be reasonable in production
3. We have to make the request by stop code, so we're

[2021-07-08 18:00] mmiddaugh commented on #21327
addressed during #21256

[2021-07-08 18:00] #21327 closed

[2021-07-08 18:00] denisecoveyduc commented on #20841
Thanks @tlei123  & @srsuddath

[2021-07-08 18:00] #20841 closed

[2021-07-08 18:01] mmiddaugh commented on #20471
Addressed during #17963

[2021-07-08 18:01] #20471 closed

[2021-07-08 18:03] AngelaFowler82 opened #27101 "508 defect 3, screen readers, VA home page no header to indicate footer links"
Label:

    - [508-defect-3]

https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-3

Issue Title:508 defect 3, screen readers, VA home page no header to indicate footer links
Point of Contact: Angela Fowler
**VFS Point of Contact:** _First name only: Angela

<h2>User Story or Problem Statement:</h2>
As a scr

[2021-07-08 18:03] digitalken commented on #25452
PASS 7/8/2021 - Looks good on Android and iOS.  Closing.

[2021-07-08 18:03] #25452 closed

[2021-07-08 18:08] digitalken commented on #26478
PASS 7/8/2021 - Looks good on iOS and Android.  Closing.

[2021-07-08 18:08] #26478 closed

[2021-07-08 18:10] zurbergram commented on #26820
https://github.com/department-of-veterans-affairs/vets-website/pull/17803/files

[2021-07-08 18:11] andaleliz opened #27102 "[Discovery] - Review analytics and previous research for side nav component and VAMC/profile mobile menus"
**Background**
We noticed Veterans had a hard time intuitively using the profile mobile menu in our health facilities research study.  We want to better understand any usability problems Veterans may be experiencing with this, and compare with an alternative to our mobile menu, the [side nav component](https://design.va.gov/components/sidenav).

**Goals**
We're hoping analytics can help us underst

[2021-07-08 18:12] erikphansen commented on #26703
@bsmartin-ep Thanks for this!

A few notes/questions:
- claims and appeals are actually two different APIs. So the `api_name` would be something like `'GET claims'` or `'GET appeals'`. Is that fine?
- I don't think we'll fire events when we make a call, at least when getting claims, because this call could be made every five seconds for 30 seconds. Yeah it's a weird endpoint.
- Also, we want to re

[2021-07-08 18:14] mmiddaugh commented on #19415
A newer issue replaces this

[2021-07-08 18:14] #19415 closed

[2021-07-08 18:15] andaleliz commented on #22886
I don't think we'll do this work, but added MHV discovery as a blocker in case we learn something that suggests we do need this section of profile. If we do, we'll still need this ticket.

[2021-07-08 18:16] dat-gcio commented on #26656
Validated in staging.

[2021-07-08 18:16] #26656 closed

[2021-07-08 18:17] mmiddaugh commented on #12143
This issue has been resolved

[2021-07-08 18:17] #12143 closed

[2021-07-08 18:18] zacharymorel commented on #26050
@callen2563 Just an FYI, the design component in the design library does not have an the Icon if it is `background only` mode. Is that going to be okay?

See https://design.va.gov/storybook/?path=/docs/components-va-alert--background-only

[2021-07-08 18:18] andaleliz commented on #25642
I don't think we'll build this section of profile, but added MHV discovery as a blocker in case we learn something that suggests we do need this. If we move forward, we'll still need this ticket.

[2021-07-08 18:18] #25987 closed

[2021-07-08 18:18] andaleliz commented on #25514
I don't think we'll build this section of profile, but added MHV discovery as a blocker in case we learn something that suggests we do need this. If we move forward, we'll still need this ticket.

[2021-07-08 18:19] #26173 closed

[2021-07-08 18:19] #26342 closed

[2021-07-08 18:20] #25606 closed

[2021-07-08 18:20] #26877 closed

[2021-07-08 18:25] dat-gcio commented on #26419
Validated in staging.

[2021-07-08 18:25] #26419 closed

[2021-07-08 18:26] #26593 closed

[2021-07-08 18:31] RLHecht commented on #27099
@micahchiang is the react code to put into Drupal **form-686-CTA**?

[2021-07-08 18:35] micahchiang commented on #27099
@RLHecht - yes that's correct.

[2021-07-08 18:35] digitalken commented on #22175
PASS 7/8/2021 - Sounds good on Samsung.  Closing.

[2021-07-08 18:35] #22175 closed

[2021-07-08 18:37] joanneesteban commented on #25323
## How To Additions

**1. No data in filter**
- [ ] Add a section to the How to use this dashboard guide on the charts not showing up if there's no data in a given time range. Slack conversation located [here](https://adhoc.slack.com/archives/C01EUNU6W1Z/p1625675788033800).

[2021-07-08 18:40] #26924 closed

[2021-07-08 18:42] ltrombley commented on #26783
Task #26783-  Prepare North-Texas-health-care for Dual-state [VAMC] is Pending Tugboat resolution - Moved to BLOCKED.

[2021-07-08 18:44] rjohnson2011 commented on #27095
Refactored staging & production Canary script into a single function. Looking to create a PR and test in Canary tomorrow.

[2021-07-08 18:59] RLHecht commented on #22721
Hi @SKasimow @DanielleThierryUSDSVA I went back to Mateo with the English content so that he could see what our intended questions were. Here is his last email about using the language that's there:

Ok, the words of Q1 and Q2 are not written incorrectly from a literal translation perspective.

However, culturally, the word “tarea” is not used to say task…in a cultural sense this is to mean “homew

[2021-07-08 19:02] ajakabcin commented on #26230
Looking good - closing this

[2021-07-08 19:02] #26230 closed

[2021-07-08 19:06] zacharymorel commented on #26050
Another note is that I have no way to override the paddings on the alert box. The way a web component is lives in the "shadow-dom", it makes it so that we cannot apply any styling to any nodes within that "dom" unless we style it within the class that builds that web component node.

[2021-07-08 19:07] #27017 closed

[2021-07-08 19:11] MarciMcGuireGCIO commented on #26823
2021-07-08

- Mark deploying fix for forms starting with VA to Staging.  Has full control over what time that goes in.
- For testing on Staging - send a handful of search terms
- Cassandra working on harassment tool; preparing for workshop tomorrow.
- Zach
   - Merged work to fix ability to sort by closest match
   - Working on PDF alert box - messaged Cassandra on that
   - Can't override some of

[2021-07-08 19:12] holdenhinkle commented on #27051
I'm pausing this until further notice, based on the cost of Applitools.

[2021-07-08 19:19] cvalarida opened #27103 "Style va-checkbox so it doesn't rely on formation.css"
## Issue Description
Currently, the styles implicitly rely on formation.css to show up properly, but that shouldn't be a peer dependency.

[2021-07-08 19:20] cvalarida opened #27104 "Style va-text-input so it doesn't rely on formation.css"
## Issue Description
Currently, the styles implicitly rely on formation.css to show up properly, but that shouldn't be a peer dependency.

[2021-07-08 19:20] digitalken commented on #26604
PASS 7/8/2021 - Looks good now.  Closing.

[2021-07-08 19:20] #26604 closed

[2021-07-08 19:21] cvalarida opened #27105 "Style va-select so it doesn't rely on formation.css"
## Issue Description
Currently, the styles implicitly rely on formation.css to show up properly, but that shouldn't be a peer dependency.

[2021-07-08 19:22] cvalarida opened #27106 "Style va-alert so it doesn't rely on formation.css"
## Issue Description
Currently, the styles implicitly rely on formation.css to show up properly, but that shouldn't be a peer dependency.

Specifically, the font-awesome icon for the close button doesn't show up without the formation stylesheet.

[2021-07-08 19:22] dneel-bah opened #27107 "CT: Update profile learn more modal content regarding covid in person allowance"
As an EDU team member, I need the covid in person allowance date to be updated to Dec 21, 2021 so that the information provided to the users of the tool is accurate.

## Assumptions:
1. N/A

## Acceptance Criteria:
1. The date in the following content, in the current Comparison Tool, of the Learn more modal of the "Will you be taking any classes in person?" question on the profile page is "Dec. 21

[2021-07-08 19:25] MarciMcGuireGCIO commented on #26755
Corrected title and description.  Correct form is 8824i and VA8824i; there is no 1 in that form name.

[2021-07-08 19:26] 1Copenut commented on #182
@rtwell All users. By moving it into the H2 at the top of the page, it's read back to screen reader users navigating by headings, (and can be ignored easily) and is also visually present.

[2021-07-08 19:31] kathleencrawford opened #27108 "[LISA] Follow Up on VR&E Request for Statistical Data"
The following question was posed: “Are there any statistics regarding the responses to the question on the new application in VA.gov on whether the applicant wants to opt into telecounseling?”

Is the question  above something that the VA.gov team would be able to provide a response to via google analytics or another method?

`check with Lisa`
Add column with application results

[2021-07-08 19:31] kevinmirc commented on #26804
We can move forward by parsing the GCID as described. To ensure that the IDs are what we expect, we should collect a sample set of DFNs from production users and validate that they are in the structure we expect. We should also take the sample set and runt them against the VBS production data set to ensure it filters the statement data as expected.

[2021-07-08 19:31] #25583 closed

[2021-07-08 19:33] drjecker commented on #26541
@digitalken I will chime in here. Not sure I am 100% following but I don't think this is a bug. I've tried to capture how the flow should work in this image:

![Screen Shot 2021-07-08 at 3.27.08 PM.png](https://images.zenhubusercontent.com/602e6bbb345265c801d416d8/5ced8428-825c-4c32-a05b-c7b19c2c5d69)

Of note, this flow will be updated as a result of Drafts (which is partially in the build I am l

[2021-07-08 19:40] kevinmirc opened #27109 "Parse DFNs from MPIs GCID"
**Description**
To query VBS API we will need to provide a list of DFNs that can be extracted from the string of IDs MPI provides. Add logic to extract these IDs from the GCID parser:
- [code reference]()
- [code reference]()

[2021-07-08 19:43] kevinmirc opened #27110 "Log DFNs of authenticated VA.gov users"
**Description**
Create a logger and log the (prospective) DFN of users who sign into VA.gov. This is to get a set of real world DFNs that we can validate the structure of (and eventually validate against VBS's data set).

- Have this run on a feature toggle so we can control the duration of logging

[2021-07-08 19:46] kevinmirc opened #27111 "Collect a set of logged DFNs from production logs"
**Description**
Collect the list from logs.

**A/C**
- Create query to identify DFN logs
- Join/pivot the list of logs to be unique per user (list of users and all their DFNs)
- Evaluate the IDs and make sure they are in the expected format
- Create a plan (or request from VBS team) to validate that these IDs can be used to query their system.

[2021-07-08 19:48] #26804 closed

[2021-07-08 19:48] alexandec commented on #25859
@meganhkelley found it! I will update the Details section

[2021-07-08 19:50] #26004 closed

[2021-07-08 19:50] #25734 closed

[2021-07-08 19:50] #23052 closed

[2021-07-08 19:53] joanneesteban commented on #25870
@JasonTheBearded @chloedotbrown

## Usability Checklist 07-08-2021
Completed using the participant tester:

| Test                                 | Expected Behavior                                            | Actual Behavior                                              | Pass/Fail |
| ------------------------------------ | ------------------------------------------------------------ | ---------

[2021-07-08 19:54] k80bowman opened #27112 "Collect Flaky Test Data"
Every 6 months (June and December) through June of 2024, we would like to collect data on the number of the most recent 385 unit test runs on the `master` branch of the vets-website repo that have failing tests.

**Acceptance Criteria:**
- [ ] Add data to this [spreadsheet](https://docs.google.com/spreadsheets/d/1I-6KCBIFm8FFyxzhbrTzsl42qHmhJSRZKRUhB8r614E/edit#gid=0)
- [ ] Add summary of the resu

[2021-07-08 19:55] Mottie commented on #25109
@mbmasuda We're not able to duplicate the same error. If you could provide us with the application ID number (in bold) from within the green box, we might be able to get a better idea of where to look for the problem.

![](https://user-images.githubusercontent.com/136959/124982382-3f332080-dffc-11eb-8328-c166d1a43a31.png)

[2021-07-08 19:55] k80bowman commented on #25393
Created a "[Collect Flaky Test Data](https://app.zenhub.com/workspaces/vsp---frontend-tools-5fc9325744944e0015ed1861/issues/department-of-veterans-affairs/va.gov-team/27112)" card.

[2021-07-08 19:55] #25393 closed

[2021-07-08 19:58] andaleliz opened #27113 "[Design] Notification settings: Mock-up an approach to orienting users"
Now that we completed discovery for user onboarding in #26946, we can start design work.

**Tasks**

- [x] create mock-ups
- [ ] share with team

[2021-07-08 20:00] mbmasuda commented on #25109
Sure, I am not right in front of my computer at the moment but will get the info when I get home.

[2021-07-08 20:06] digitalken commented on #26541
@drjecker thank you.  I believe you understood what I was asking and from the flow you indicated, this is exactly what I was seeing.  Thanks.

[2021-07-08 20:06] digitalken commented on #26541
PASS 7/8/2021 - This appears to be fixed now.  Closing.

[2021-07-08 20:07] #26541 closed

[2021-07-08 20:11] denisecoveyduc commented on #27047
@srsuddath Shared the data that is returned with each "video result"
![Screen Shot 2021-07-08 at 2 15 57 PM](https://user-images.githubusercontent.com/72393866/124984269-ff256b00-e006-11eb-8418-ba8ad40eb59a.png)

[2021-07-08 20:11] MarciMcGuireGCIO commented on #26050
@zacharymorel would you be able to build it so that is closely resembles the mock-up for the purposes of a user test, even if it's not exactly like the mock-up?

@callen2563 Cindy is planning to review internally next week on Staging prior to her user study.  Do you have any time to help Zach with the issues he's identified?  Thank you!

[2021-07-08 20:12] kathleencrawford opened #27114 "[UNPLANNED] Update Ch31 Daily Report Email"
When #24945 was implemented, a regression was introduced. The object was changed from an `ActiveRecord::Relation` object to an `Array` object and `#find_each` is raising an exception, so we need to switch to `.each`.

[2021-07-08 20:14] zacharymorel commented on #26050
Yes, I can do everything **but** change the distance from the borders of the box to the text (padding for Cassandra) and I can't add the Icon back on the `background only` Alert Box.

[2021-07-08 20:18] Mottie commented on #27096
@joshkimux The fixes have been merged into staging.

[2021-07-08 20:19] MarciMcGuireGCIO commented on #26050
@zacharymorel thanks! Do the best you can within the limits and we may have to tweak it a bit later.

[2021-07-08 20:21] ashley-matthews opened #27115 "Move up home screen buttons"
## Background
We'd like to maintain the spacing between the 'Sign In' button and the 'Find a VA Location' button but move them both up 80 total pixels away from the bottom of the screen to make the screen look more visually balanced & avoid any potential for interference with the swipe-up control.

## Reference screenshot
![homescreen-reference.png](https://images.zenhubusercontent.com/5d8e52f61c5

[2021-07-08 20:23] ashley-matthews opened #27116 "App Polish"
Gathering stories that ladder up to the polish category

[2021-07-08 20:24] andaleliz commented on #26921
Brought this up in VA Profile; it's best if we handle the ordering if groups for now.  We can submit a request to them to add ordering logic in the future if we have a use/business case that warrants that.

I've updated the [spec doc content](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/notifications/notification-preferences/frontend/R

[2021-07-08 20:24] #26921 closed

[2021-07-08 20:25] k80bowman commented on #184
In the interest of making it easier to find, I went ahead and opened a draft PR for Calvin's branch in the `veteran-facing-services-tools` repo (creating the dashboard itself): https://github.com/department-of-veterans-affairs/veteran-facing-services-tools/pull/639

[2021-07-08 20:29] Dene-human commented on #25350
@DanielleThierryUSDSVA Putting these here to work on tomorrow for the 10-10CG facility selection. Thank you!

Word doc: [10-10CG_Facility selection_7.8](https://app.zenhub.com/files/133843125/003ce710-0ea9-42d8-8fc2-79a92236e5f4/download)

PDF mockup: [Facility selection V1](https://app.zenhub.com/files/133843125/74c526d4-bf44-4ff9-b45d-b5617e80d7b7/download)

[2021-07-08 20:30] ashley-matthews opened #27117 "Change Background Color of Profile Banner"
## Acceptance Criteria
* Change the background color of the Common Component of Profile Banner to #0071bb - Primary Blue.

This component appears in Profile.

## Design reference
![Profile Header.png](https://images.zenhubusercontent.com/5d8e52f61c53fd000173c5de/6829b357-28e7-49d7-8495-41c27418849d)

## Context
This change takes a step towards matching the design of the mobile app profile banner w

[2021-07-08 20:30] ajakabcin opened #27118 "[FE] Notification Prefs: Handling sorting of communication groups on the frontend"
## Background
Through our usability testing of Notification Preferences we found that the order of communication groups was not as intuitive as it could be. We receive the ordering in a specific way from VA Profile but need to reorder them on the frontend.

See Liz's [notes](https://github.com/department-of-veterans-affairs/va.gov-team/issues/26921#issuecomment-875867813) from consultation with IA

[2021-07-08 20:31] holdenhinkle commented on #27088
Draft PR for removing unwanted records from the BigQuery `testrail_metrics` table daily - https://github.com/department-of-veterans-affairs/testing-tools-team-dashboard-data/pull/44

It grabs the `created_at` values for records created the previous day. `created_at` is unique to each record and is a natural key.

If the result is only one `created_at` value, the scripts stops execution; there's no

[2021-07-08 20:31] mpelzsherman commented on #25379
Hi @theodur . Any updates?

[2021-07-08 20:34] mpelzsherman commented on #24599
Is there any plan to address this, or should we just close the ticket?

[2021-07-08 20:34] amygoldman commented on #27003
July:
- Schedule PW sessions with Carol and Joanne & their subject matter experts for next week (week of 7/12)
- Prepare for PW sessions by doing a preliminary revision of Carol and Joanne’s newsletter submissions and determine which questions from the PW script are relevant for their sessions by EOD Tuesday 7/13
- Revise blurbs based on feedback from PW sessions by EOD 7/16 & share with Carol, Jo

[2021-07-08 20:35] annaswims commented on #27075
😢 The EVSS "fix" was reverted because it had a bug.

[2021-07-08 20:35] mpelzsherman commented on #22545
Hi @jhouse-solvd . Any updates for our meeting with @jt20816 and @drorva tomorrow?

[2021-07-08 20:36] zacharymorel commented on #26050
Here is an example, see how it is slightly larger it is compared to the mock up?
I, unfortunately, cannot override those styles.

![Screen Shot 2021-07-08 at 4 33 28 PM](https://user-images.githubusercontent.com/26075258/124986929-3ba69600-e00a-11eb-8719-001ea087efb3.png)

[2021-07-08 20:38] rtwell commented on #26050
Please use/test with default design system components and validate with users that they are not performing, and customize later if needed.

[2021-07-08 20:39] MarciMcGuireGCIO commented on #26050
@zacharymorel - I do see that.

[2021-07-08 20:40] MarciMcGuireGCIO commented on #26050
Thanks, @rtwell !

[2021-07-08 20:43] theodur commented on #25379
@mpelzsherman  Here's the [PR](https://github.com/department-of-veterans-affairs/content-build/pull/337) for the updates to watch command process.

[2021-07-08 20:47] 1Copenut commented on #25568
7/8: Consulted with Darius about some issues I was having with CORS errors. Verified I can recreate the issue, but not much closer to knowing if the CSS selector logic works properly.

[2021-07-08 20:50] psanders86 commented on #26146
The performance page needs to be recreated, so I did not review it.

[2021-07-08 20:58] SKasimow commented on #22721
@DanielleThierryUSDSVA @RLHecht Hola! The update from Jason re: changing the word "Feedback" on the survey button to "Comentarios" was the feedback button uses an image and there isn't an easy way to change these dynamically. There is a larger discussion around changes to the button in general that may solve for this.

[2021-07-08 21:02] jennaouellet commented on #27087
Hi @clantosswett
You can use a Segment to differentiate between authenticated users vs. unauthenticated users with the Segment name "VA.gov - Session - Authenticated - LOA Present".

Here is an example:
https://analytics.google.com/analytics/web/?authuser=1#/report/visitors-overview/a50123418w177519031p176188361/_.useg=useri0ZvPaPpQKyUHGrYCFPigw,userXZpoGov_R4K1a1Biwj2YNg

 This segment counts use

[2021-07-08 21:04] holdenhinkle commented on #27088
PR is merged - https://github.com/department-of-veterans-affairs/testing-tools-team-dashboard-data/pull/44

I'll add conditions for pushing Cypress results and GitHub issues to BigQuery first thing tomorrow.

[2021-07-08 21:20] #26452 closed

[2021-07-08 21:20] travis-newby commented on #27115
There are a couple of issues here...

1. Originally there was a bug. Find a VA location was super close to the swipe up control because someone used the wrong margin between them. That issue was fixed (and will be a part of the 1.0 release).
2. So now the question is, is the standard spacing enough space so that there's not as much interference between the swipe up control and the button and does

[2021-07-08 21:27] mdallaswatson opened #27119 "Business intake form for CTM/DSS"
## Requestor Name
**Michael Watson** _(dwatson@dssinc.com)_

## Business Line
Consult Tracking Manager (CTM), COTS Application created by <a href="https://www.dssinc.com">DSS Inc.</a>

## What is the business outcome you are trying to achieve? (required 1-2 sentences)
per customer requests, we are exploring the integration of text messaging & email into the application

## What is an overview of t

[2021-07-08 21:31] bridgethapner commented on #27115
Thanks @travis-newby! Good to know the bug was fixed. I think it does still look low visually -- even though I'm not experiencing interference with the swipe up is just looks really close, so we can keep this open and increase the spacing.

[2021-07-08 21:47] mlighdc commented on #25350
@Dene-human the design looks good.

@DanielleThierryUSDSVA I am sending you and Dene some comments on the copy via an email since I can't attach my work doc here. Take a look and let me know if you have any questions. Thanks!

[2021-07-08 21:51] mpelzsherman commented on #26372
Any updates?

[2021-07-08 22:08] bridgethapner commented on #14304
Closing this in favor of a future ticket to rethink the web view component more holistically  -- this Common Component is on the list for refinements.

[2021-07-08 22:08] #14304 closed

[2021-07-08 22:13] mpeterz commented on #27102
@andaleliz - The above looks good! I added suggestions below.

**What do you mean by "main landing page" in the context of benefit hubs?**
The hub pages themselves don't have "In this section" menus. The "In this section" menus start showing at the next level down. For example:
* Disability hub page does not have "In this section menu": https://www.va.gov/disability/
* "How to file a claim" page h

[2021-07-08 22:19] erikphansen commented on #26837
Both FE and BE PRs were merged so I'm closing this.

[2021-07-08 22:19] #26837 closed

[2021-07-08 22:31] mmiddaugh opened #27120 "Content recommendation for Vet Center Appointments accordion from Facilities team"
## What do you need content guidance and support for?

- [ ] Content strategy and writing to create new unauthenticated (static) VA.gov page
-	[ ] Writing/editing to update existing unauthenticated (static) VA.gov page
-	[x] Content support for an app or tool
-	[ ] Something else (please add details in the next question)

## What do you need help with?

Recommendations on content and formatting fo

[2021-07-08 22:38] digitalken opened #27121 "Seems like Canceling a new address entry should clear out current work when going back to Personal Information"
## What happened?
1.  I entered a new mailing address but didn't "Save" it, rather I tapped "Cancel" to go back to the Personal Information page.  When I tapped on Mailing Address again from the Personal Information page, I was given a screen that shows I entered the old address with a suggestion of the new address I had entered (which is not the full address that I had entered.

## Specs:
- Devic

[2021-07-08 22:52] jwoodman5 commented on #26017
Thank you for that confirmation and description, @1Copenut.

[2021-07-08 22:56] digitalken commented on #24400
PASS 7/8/2021 - Seeing messages in custom folders with user +41.  Closing.

![2021-07-08_15-55-26.png](https://images.zenhubusercontent.com/5f6a83c84093730d05b5cee6/80c24eaa-5373-4780-966a-97b2541cb808)

[2021-07-08 22:56] #24400 closed

[2021-07-08 23:10] DanielleThierryUSDSVA commented on #25350
Thanks, @mlighdc! I think this was just @Dene-human's placeholder copy for now and we're going to workshop it together tomorrow. So will be good to have your thoughts as we go through it!

[2021-07-08 23:28] digitalken commented on #26389
7/8/2021 - Nothing for QA to verify here.  Closing.

[2021-07-08 23:28] #26389 closed

[2021-07-09 00:37] annaswims opened #27122 "Delete unused code for preneeds burials"
From our [graphana dashboard,](http://grafana.vfs.va.gov/d/zGS4XzkMk/backend-to-frontend-app-mapping?orgId=1&var-data_source=Prometheus%20(Production)&var-backend_controller=v0%2Fpreneeds%2Fburial_forms&var-backend_controller=v0%2Fpreneeds%2Fcemeteries&var-backend_controller=v0%2Fpreneeds%2Fpreneed_attachments&var-frontend_app=All&from=now-30d&to=now) it looks like the only api endpoints that star

[2021-07-09 01:01] DanielleThierryUSDSVA commented on #26645
@kristenmcconnell - Going to start adding content feedback below.

## For text

I think either of these options could work, with the "welcome" being a little warmer.

Check in for your VA appointment at https://va.gov/health-care/appointment-check-in/?id=46bebc0a-b99c-464f-a5c5-560bc9eae287

Welcome to VA. Check in now at https://va.gov/health-care/appointment-check-in/?id=46bebc0a-b99c-464f-a5c5-

[2021-07-09 01:22] mbmasuda commented on #25109
Hi, I got home and just tried to log in to va.gov using my DS Login to try to get the ID you are requesting, but now I cannot log in to va.gov due to the following issue:

<img width="1792" alt="Screen Shot 2021-07-08 at 17 59 19" src="https://user-images.githubusercontent.com/1646132/125008190-d9a05d80-e016-11eb-8d99-f8124ca29e95.png">

<img width="1792" alt="Screen Shot 2021-07-08 at 17 59 53" s

[2021-07-09 01:59] kristenmcconnell commented on #25854
Updated #26645 with details of all the changes that need to be made, which will then result in a FE ticket.

[2021-07-09 02:02] mraewhaley opened #27123 "Access for Morgan Whaley"
# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please Provide your email.

- Please provide the name of your team, your role on that team, and the name of the company you work for.

- Requesting SSH key authorization?

   - What is your **public** SSH key?

[code]

- Grant AWS Console access?

[2021-07-09 02:03] kristenmcconnell commented on #25420
Schedule – Thursday July 8th (UNIVERSITY DRIVE)

TIME      DEPT                      POC
9a           HAS                        Jeston Robinson
10a         Imaging                 Shayna Nowark
11a         Surgery                Renita Moore/Marva Brower-2nd floor Check-in
12:30     Medicine             Michael Hoover-9E130
1:30        PC                         Dana Saunders-Check-in Window Prim

[2021-07-09 02:13] bsmartin-ep opened #27124 "Remove or fix unused secure message events in GTM"
We have many events in GTM for secure messaging...

- SM Additional Subject
- SM Attach File
- SM Create Folder
- SM Delete Message
- SM Move Message
- SM Notification Settings
- SM Save Draft
- SM Search
- SM Send Message
- SM Sort

...but [I only see data in GA](https://analytics.google.com/analytics/web/#/report/content-event-events/a50123418w177519031p176188361/_u.date00=20170101&_u.date01=202

[2021-07-09 02:14] kristenmcconnell commented on #26645
@DanielleThierryUSDSVA

**Text**
I like those text options. I'll run them by the VeText team.

**Screen 1**
- I think some examples of contact information, such address and phone would be good. Describing what other information means would be good too. Next of kin is what we meant originally with "other information." However, from my observations today at the Pittsburgh VAMC, they also ask about e

[2021-07-09 02:33] bsmartin-ep opened #27125 "Remove or fix "opt out" tagging from GTM"
We have a `Opt Out Clicked` event that fires when someone opts out of GA tracking.  This is not recording in GA because the cookie update takes effect before the dataLayer push, thereby blocking the event from reaching GA.

My recommendation is removing the `Opt Out Clicked` tag and trigger from GTM or - if this is useful - update the code to fire the dataLayer push.

[2021-07-09 02:41] bsmartin-ep commented on #25278
Hey @stephenBarrs - anything else you needed for this request?

[2021-07-09 02:48] bsmartin-ep commented on #26512
Apologies @JasonTheBearded -

Just noticed these are logging with an event label of `gtm.linkClick` due to the scraping triggers.  I updated to `link_click`.

[2021-07-09 11:17] vhenry07 opened #27126 "Claims Status Tool - Synthesis"
## Issue Description
Claims Status Tool Research Synthesis

---
## Tasks
- [ ] Synthesize data

## Acceptance Criteria
- [ ] _What will be created or happen as a result of this story?_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to an Epic** (what body of work is this a part of?)
- [ ] **Labeled with Team** (`product support`

[2021-07-09 11:20] vhenry07 opened #27127 "Claims Status Tool"

[2021-07-09 11:47] dmccurdybah commented on #26725
PR:  https://github.com/department-of-veterans-affairs/vets-website/pull/17807

[2021-07-09 12:15] srsuddath commented on #26728
@tlei123 I generated a new API key, but am having a hard time getting to the edit-screen you are mentioning. The link you provided seems to get blocked with a login and then not redirecting me to the desired page.

Can you give me directions for how to get to the edit screen?

[2021-07-09 12:25] holdenhinkle commented on #27088
https://github.com/department-of-veterans-affairs/testing-tools-team-dashboard-data/runs/3027953868?check_suite_focus=true

The job ran this morning:

[code]

Yay!

[2021-07-09 12:34] dmccurdybah commented on #27107
PR: https://github.com/department-of-veterans-affairs/vets-website/pull/17807

[2021-07-09 12:38] dneel-bah opened #27128 "SCO: Add PDF to SCO page to make available for download"
As an EDU team member, I need a VRRAP Training Material PDF to be made available for download on the SCO resources page so that the SCOs have information available to help veterans who are interested in the VRRAP program.

## Assumptions:
1. These updates are made on the SCO page found here: https://www.va.gov/school-administrators/

## Acceptance Criteria:
1. The PDF in SA1 can be downloaded from

[2021-07-09 12:57] holdenhinkle commented on #27088
PR for conditionally inserting GitHub and Cypress data into BigQuery - https://github.com/department-of-veterans-affairs/testing-tools-team-dashboard-data/pull/48

[2021-07-09 13:03] #26940 closed

[2021-07-09 13:07] sonntag-adam commented on #27014
Fixed in staging.

[2021-07-09 13:07] #27014 closed

[2021-07-09 13:08] amyknox commented on #26941
@watersemma to confirm with Xfunc team that all looks good & no add'l updates are needed.

If they are, work happens on this ticket.

[2021-07-09 13:14] amyknox commented on #26937
@watersemma Quick review at roundtable & share in slack.  Comments by EOD (7/9)

[2021-07-09 13:21] dneel-bah opened #27129 "CT Redesign: Update Navigation controls on the profile page"
As a developer, I need to add a way for the users to quickly navigate back to the top or to various sections of the comparison tool profile page so that the amount of scrolling when viewing sections of the page is reduced.

## Assumptions:
1. This work is completed in the CT sandbox found here: https://staging.va.gov/gi-bill-comparison-tool-sandbox/
2. These changes are applicable to all instituti

[2021-07-09 13:24] #27123 closed

[2021-07-09 13:25] jbritt1 commented on #27123
SOCKS access granted. Please continue with [the guide](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/engineering/internal-tools.md#configure-the-socks-proxy) to establish a connection to SOCKS proxy.

[2021-07-09 13:35] SgardnerPMP opened #27130 "[Content] Find and list all LBGT references so they can be provided to PAO for correction [CW]"
## Story
As a Public Affairs Officer I need to know all the location the LGBT reference is made, so I can update them in my own Web System pages.

## Goal
Provide Technical-Debt created by the LGBTQ+ change to the PAO and make it easy for them to find the areas to update.

## Task
[ ] List the page name and area within the page the LGBT term used so we can provide the map to the PAOs for easy corr

[2021-07-09 13:38] lwalsh617 commented on #23765
@bethpottsVADEPO - There are still 5 open questions in the spreadsheet at the top of this ticket. Can you take a look and help me resolve? Then I can create individual tickets for those changes, and close this ticket. Thanks!

[2021-07-09 13:55] DanielleThierryUSDSVA commented on #26645
Thanks, @kristenmcconnell. Yes, absolutely for screen 4. Just wanted to confirm "clinic" piece first.

[2021-07-09 14:02] bevnobev commented on #23915
Reached out to @nicole-bills and received the following response:

[9:58 AM] Bills, Nicole (Atlas Research)
    We have two community partners for the effort.  One of them decided to reach out to Veterans through the local VAMC, so they won't be using emails / texts, just PCP referrals
(​[9:59 AM] Bills, Nicole (Atlas Research)
    The other partner is fully booked up for at least a month, so we h

[2021-07-09 14:13] lexicalninja commented on #27115
Updated the ACs just a little bit.

[2021-07-09 14:19] LinnJS opened #27131 "Pass Signature Values to BE on FSR"
## Technical Task

Currently we are just using signatures to validate that the form is signed before submission. We need to pass this signature value to the BE now so we can generate the signature on the PDF and pass that payload to the DMC so they can generate PDF.

## Expected Behavior

Veteran's signature is being passed to BE via payload on submission

**New Properties**
[code]

## Acceptance

[2021-07-09 14:22] LinnJS opened #27132 "Pass signature values from FE to DMC"
## Technical Task

Once signature values are being passed from the FE to the BE payloads we need to relay that data so the DMC can generate a PDF with the veterans signature.

## Expected Behavior

Veteran's signature is being passed to DMC via BE payload so DMC can generate a PDF with a signature

## Acceptance Criteria

- [ ] DMC is retrieving the Veteran's signature via BE payload

[2021-07-09 14:25] kevinstachura opened #27133 "NOD - 'Area of Disagreement' Content"
## Issue Description

Currently, on the 'area of disagreement' page(s), we are instructing veterans to tell us **why** they disagree with their issue. After chatting with the Board, they are mostly interested in just knowing '**what**' is being disagreed with - and that is categorized into the 4 checkboxes that the user can select.

In usability testing and in UAT, we found that veterans wanted to

[2021-07-09 14:29] LinnJS opened #27134 "Renew BE Credentials to DMC"
## Technical Task

During out last meeting with the DMC BE folks they mentioned that credentials are being renewed and the old ones will be invalidated. So we need to update credentials at the same exact time or schedule downtime in a maintenance window so we can swap out the credentials.

Either way we need to perform this update with minimal downtime to Veterans.

## Expected Behavior

`vets-api

[2021-07-09 14:39] shawkey-daniel commented on #27128
[PR 777](https://github.com/department-of-veterans-affairs/vagov-content/pull/777)
[PR 779](https://github.com/department-of-veterans-affairs/vagov-content/pull/779)

[2021-07-09 14:49] timwright12 commented on #26198
@alexandec No real feedback, I think think this looks great. Thanks for putting it together!

[2021-07-09 14:55] MarciMcGuireGCIO commented on #25571
I'm sorry, @zacharymorel  -- I must have overlooked this.  You're correct; this is the work that will be on staging only for the research study.

[2021-07-09 14:56] andaleliz commented on #27102
@mpeterz thanks for the input! By **main page** I just mean an entry point that has the side navigation on it.  Profile is really the only one that has a "main page". To evaluate the side nav on hub pages, I'd probably choose 2-3 of the most trafficked pages with side nav to look at.

Those are interesting analytics to consider as well - I'll add them to the list when I start this work.  Unfortuna

[2021-07-09 15:06] RLHecht opened #27135 "Update clothing allowance rate on VA clothing allowance page"
## Issue Description
We currently have an outdated rate for clothing allowance on our [VA clothing allowance](https://www.va.gov/disability/eligibility/special-claims/clothing-allowance/) page. This number should be changed from $830.56 to $841.36 based on the [2021 VA special benefit allowances rates page](https://www.va.gov/disability/compensation-rates/special-benefit-allowance-rates/).

## Tas

[2021-07-09 15:14] zurbergram commented on #26834
https://github.com/department-of-veterans-affairs/vets-website/pull/17819

[2021-07-09 15:17] shawkey-daniel commented on #27128
[PR 780](https://github.com/department-of-veterans-affairs/vagov-content/pull/780)

[2021-07-09 15:19] #27054 closed

[2021-07-09 15:20] rileyorr commented on #26838
Here's more context based on this morning's standup:

- Veterans are currently receiving notifications about owing an education debt under the 75b deduction code, but that deduction code is for _debt owed by educational institutions_
- Deduction code 75b's description based on the master codes Excel spreadsheet:

Questions I have:
- @LindaLi123 the outlined content states that these are letters Ve

[2021-07-09 15:24] alexandec commented on #26198
@timwright12 thanks, sure thing!

[2021-07-09 15:29] RudyOnRails commented on #27114
opened https://github.com/department-of-veterans-affairs/vets-api/pull/7393

[2021-07-09 15:30] AGarcia-Clarity commented on #25850
👋  @gmaciolek After reviewing the high-level recommendations and speaking with Amanda we are going to move forward with reducing down to 2 pages as suggested.  Is there anything required on my part at this time as I work on fixing the high-level items?

[2021-07-09 15:36] dneel-bah opened #27136 "CT Redesign: Add compare drawer functionality to profile page"
As a developer, I need to add the compare drawer to the profile page so that the user can add an institution to the drawer from the profile page and then navigate to the compare page if they choose to do so.

## Assumptions:
1. This work is completed in the CT sandbox found here: https://staging.va.gov/gi-bill-comparison-tool-sandbox/
2. The compare drawer is a shared component that can be reused.

[2021-07-09 15:36] Mottie opened #27137 "NOD: Allow contact info updates within the page"
## Description

The Notice of Disagreement form requires the Veteran's email, phone and mailing address. If any of these are missing, the user should be able to update this information within a modal that directly interacts with their profile data. Previously, we sent the Veteran to the profile page in a new tab.

Related: https://github.com/department-of-veterans-affairs/va.gov-team/issues/26013

[2021-07-09 15:37] lianilychee commented on #27003
7/9:
- Amy seeking feedback!
- could schedule pair writing sessions

[2021-07-09 15:38] Mottie commented on #26714
I haven't been able to duplicate the problem, likely because I'd need an expired save-in-progress form. That combined with Sentry working intermittently has delayed progress on this issue.

[2021-07-09 15:43] lianilychee commented on #27006
7/9 Fri:
- will outline the 2ndary page of general content support (to review at SU on Monday)

[2021-07-09 15:47] holdenhinkle commented on #27088
The Cypress test results data that has been pushed to BigQuery is highly variable. Here's a spreadsheet that lists some high-level numbers from the last 100 Cypress runs - https://docs.google.com/spreadsheets/d/1ahMVMfXkkLabJsTcTcR9muepJyCsl8GrSqY3cgSjYaU/edit#gid=0

I talked to Darius about this and he said that the Cypress tests are very unstable right now, for various reasons. He suggest that w

[2021-07-09 15:49] lianilychee commented on #27008
Fri 7/9:
- plot twist!
- I'm gonna build out one of the options today
- send out session for early next week

[2021-07-09 15:54] bethpottsVADEPO commented on #21414
@RLHecht This noncompensable disabilities article is ready for a final copyedit. Paul Shute has approved it.

http://preview-prod.vfs.va.gov/preview?nodeId=26921

[2021-07-09 15:57] #27083 closed

[2021-07-09 15:59] LindaLi123 commented on #26838
@rileyorr I think we can just go with the text Jill provided for this one since it is expected to only be a temporary alert.

[2021-07-09 15:59] DanielleThierryUSDSVA commented on #25350
Hi @Dene-human. I know you have a meeting at 12:30 p.m. so here's an initial draft to help get caregiver program feedback. I'd love to know if they are comfortable saying what the coordinator might do as part of the application process.

## VA health facility for application process

Select the VA health facility from the list below that’s closest to you. A Caregiver Support Coordinator from this

[2021-07-09 16:00] mdewey commented on #25561
The MUSTS have been addressed (new URLs and meta tags for restricting search) are in staging. With a sample URL being

https://staging.va.gov/health-care/appointment-check-in/?id=46bebc0a-b99c-464f-a5c5-560bc9eae287

[2021-07-09 16:03] bethpottsVADEPO commented on #27010
@lwalsh617 Keep reading ~this page~ to learn about the terms we use for each stage of the process.

Just would like to take out "this page"--thank you!

[2021-07-09 16:04] drorva commented on #22545
@mpelzsherman , the result of this spike was that we decided not to move forward with this approach of  providing access from GFE (or w/out SOCKS).
The short version is that the current implementation of review instances is fragile and "translating" it to our new infrastructure would be a major effort and we would still end up with something that is not robust.
Instead, we're looking at a better l

[2021-07-09 16:04] lianilychee commented on #27003
decision: end of august tentatively but ask joanne and carol if there is urgency behind their submissions

[2021-07-09 16:08] erikphansen commented on #24952
This can be validated on staging once https://frontend-support-dashboard.vercel.app shows hash 68995de7ddad8ea1d42911296e014315f007ae07 as being on staging

[2021-07-09 16:09] erikphansen commented on #27071
This can be validated on staging once https://frontend-support-dashboard.vercel.app shows hash `90a6b76e77360c13881a164ba955e830869ca6ff` as being on staging

[2021-07-09 16:11] DanielleThierryUSDSVA commented on #25350
A note mainly for myself before I forget - in iterating, I'd like to find a way around the directional language of "below."

[2021-07-09 16:14] bradbergeron-us opened #27138 "Access for Bradley Bergeron"
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please Provide your email.
-

- Please provide the name of your team, your role on that team, and the name of the company you work for.

- Requesting SSH key authorization?

- What is your **public** SSH key?
[code]

- Grant AWS Console access?

[2021-07-09 16:28] pjhill commented on #26697
@dat-gcio , reading through your QA activities in the ticket I see the following:

Coverage for Reference: as this is a small incremental change to an existing message, no major adjustments being made

Did you discover any defects during your testing efforts? Do you have a list of those issues if they exist? Additionally, ad hoc testing can be great! We do encourage you all to use the exploratory

[2021-07-09 16:28] miabecker commented on #23915
Thank you for the update!

On Fri, Jul 9, 2021 at 10:02 AM Beverly Nelson ***@***.***>
wrote:

--
Maria Becker
Product Manager
Email ***@***.***
Telephone 347-461-7592
Pronouns they/them or she/her
[image: ThoughtWorks]
<http://www.thoughtworks.com/?utm_campaign=maria-becker-signature&utm_medium=email&utm_source=thoughtworks-email-signature-generator>

[2021-07-09 16:32] bethpottsVADEPO commented on #22726
@MarciMcGuireGCIO @johnhashva
1/ **For Form 21-0538:** It looks like the stakeholder removed the description but I don't see a replacement. Would you run the one I just wrote past them and see if they approve (see attached Word doc)?

I also updated the name of the form in the appropriate column per the stakeholder feedback: Mandatory Verification of Dependents

2/ I see new content inserted for F

[2021-07-09 16:34] bethpottsVADEPO commented on #22726
@MarciMcGuireGCIO @johnhashva @lunascoop @RLHecht Wait! I see a typo I'm correcting and will re-upload the Word doc.

[2021-07-09 16:37] bethpottsVADEPO commented on #22726
OK, updated Word doc, both here and in my comment above. Apologies!:
[https://app.zenhub.com/files/133843125/91577e04-bd43-4426-a69b-6d6ed68f7888/download](https://app.zenhub.com/files/133843125/91577e04-bd43-4426-a69b-6d6ed68f7888/download)

[2021-07-09 16:38] bridgethapner opened #27139 "Set up In-App Reviews Rules and UI"
# User Story
Show users of the app a prompt to add an app store review based on certain usage criteria.

# Acceptance Criteria
- [ ] Define the triggers we want to kick off the process & what data we need to track
- [ ] Define UI styles and copy for review requests (note: the plan is to use native defaults)
- [ ] Define when the review prompt should display
- [ ] Define if there's a sleep timer if

[2021-07-09 16:40] holdenhinkle commented on #26741
Hey @Robdel12 I thought I'd circle back to this quickly to confirm my findings with you, just to make sure I didn't miss anything.

We're interested in using Percy outside of CI (outside of GitHub) to run a visual regression test against the va.gov homepage in an AWS CloudWatch Canary, which will run every 5 minutes.

If a difference is detected in a Canary run and the build in Percy isn't reviewe

[2021-07-09 16:41] gmaciolek commented on #27005
Looking at the name of this ticket, I just realized that we might not be aligned on the purpose of office hours. I don't think we should limit the focus of office hours to a specific topic. I want people to show up and ask questions about anything Platform content-related. I don't even care if it's about how to write a better operational doc. 😄  I see this an opportunity to develop partnerships wi

[2021-07-09 16:42] johnhashva commented on #22726
@bethpotts sounds like I should wait for @lunascoop and @RLHecht to work in the edits to the other information links -- then I can then resend to the stakeholders to see/sign off on our final set of updates before I paste/publish all these in the CMS -- right?

[2021-07-09 16:51] #26826 closed

[2021-07-09 16:57] CBonade opened #27140 "Mochawesome and JUnit reporters are reporting inconsistently"
We have two reporting mechanisms in our GHA workflow - the JUnit reporter that spits out the summary in it's own workflow step, and the Mochawesome reports that compile and currently push to Github Pages. Even though the tests only run once, they generate separate sets of results.  The JUnit results are xml that is generated by Cypress, while the Mochawesome combines json partials to create the re

[2021-07-09 17:01] tlei123 commented on #26728
@srsuddath , sorry about that!  You can just log in the regular way, then...

1. Copy your API key.
2. Go to your team's Project: https://dsvavsp.testrail.io/index.php?/projects/overview/31
3. Just below the Project Overview page-header, at the top-right of the main panel/column, click the **Edit** button to access the project's edit-screen.
4. In the project edit-screen's **Announcement** text-ar

[2021-07-09 17:04] #27138 closed

[2021-07-09 17:05] jbritt1 commented on #27138
SOCKS access granted. Please continue with [the guide](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/engineering/internal-tools.md#configure-the-socks-proxy) to establish a connection to SOCKS proxy.

[2021-07-09 17:05] lwalsh617 commented on #27010
@RLHecht - I made the change to the intro per Beth's comment ^ and the top of the ticket. It's ready for you to edit and publish. Thank you!   http://preview-prod.vfs.va.gov/preview?nodeId=8548

[2021-07-09 17:08] #25726 closed

[2021-07-09 17:12] mpelzsherman commented on #20078
@jhouse-solvd - any updates?

[2021-07-09 17:14] dat-gcio commented on #26697
@pjhill I tested in the review instance during development, and found no defects there. I will test again in the staging environment with some documentation built out in testrail. The testing charter template is to be used for making a ticket correct?

[2021-07-09 17:15] #26937 closed

[2021-07-09 17:18] #27033 closed

[2021-07-09 17:25] Dene-human commented on #25350
Thanks again for getting this in before the meeting @DanielleThierryUSDSVA Good thinking on the directional language! I also want to use similar/same language below the search results when/if user loads more results.

Program team is very receptive-here is their feedback:

1. "Change Caregiver Support Coordinator" to "Caregiver Support Program Staff" in all places
2. Remove last sentence (not real

[2021-07-09 17:26] kelsonic opened #27141 "Collapsible panel inconsistency"
# Description

**Slack background:** https://dsva.slack.com/archives/CDHBKAL9W/p1625846379266400

There are 2 behaviors of accordions on va.gov right now. One allows the opening of multiple accordions at the same time, and one closes the previously opened accordion. You can see the examples of this here:

Multiple: https://staging.va.gov/health-care/about-va-health-benefits/dental-care/
One at a t

[2021-07-09 17:26] lunascoop commented on #22726
@RLHecht I've reviewed the other information links for the doc @bethpottsVADEPO attached and they're ready for your review.

[91577e04-bd43-4426-a69b-6d6ed68f7888.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/6793014/91577e04-bd43-4426-a69b-6d6ed68f7888.docx)

@johnhashva @bethpottsVADEPO @MarciMcGuireGCIO I want to confirm that we aren't including information links to

[2021-07-09 17:30] johnhashva commented on #22726
good call, @lunascoop -- we should only link to modern pages as the source of truth.  TY.

[2021-07-09 17:32] pjhill commented on #26697
The charter there is a template intended to guide an ad hoc test session. You can drop that template into a ticket if you'd like, or you could add a copy of the template to your product folder here in va.gov-team and fill it out as you go.  Either way, thanks for your response!

[2021-07-09 17:35] #21639 closed

[2021-07-09 17:38] johnhashva commented on #27141
Thanks for  capturing this one @kelsonic.  Would only add that this might be good to get @rtwell eyes/POV on this one too.

[2021-07-09 17:44] MarciMcGuireGCIO commented on #25571
Per Ryan's comment and our discussion in Backlog Grooming, @callen2563 is going to update the [mockup](https://github.com/department-of-veterans-affairs/va.gov-team/issues/26050) so that it is an [informational alert](https://design.va.gov/components/alertboxes#informational-alert) in the Design System.

[2021-07-09 17:45] MarciMcGuireGCIO commented on #26050
Per Ryan's comment above and our discussion in Backlog Grooming, @callen2563 is going to update the [mockup](https://github.com/department-of-veterans-affairs/va.gov-team/issues/26050) so that it uses the [informational alert](https://design.va.gov/components/alertboxes#informational-alert) in the Design System and @zacharymorel will update his code and promote that to Staging for Cindy's user tes