[2020-12-03 18:22] cilestin commented on #16896
Tagging @department-of-veterans-affairs/vsp-operations

This is just for AWS access, I have already been granted my other access(es) through #16223

[2020-12-03 18:27] MarciMcGuireGCIO opened #16897 "Find a VA Form - Sitewide 508 Issues"
## High Level User Story/ies
As a Product Manager, I need to corral any sitewide issues that will need to be addressed in CMS templates or platform so that we can close all epics that are otherwise complete.

[2020-12-03 18:27] jbritt1 commented on #16896
### For AWS Access

User: Drew Fisher
COR: Cecilia Lee
Approval required: @Jeff-Hayter

[2020-12-03 18:28] jbritt1 commented on #16896
@cilestin, have you submitted an e-QIP at this time? If so, could you forward Jeff Hatyer (tagged above) the confirmation email? This will help expedite your approval if so.

[2020-12-03 18:31] #13017 closed

[2020-12-03 18:35] LinnJS commented on #16567
Added more concise logic that add/removes hasSecondaryTwo page based on hasSecondaryOne but in the case of hasSecondaryTwo having data it will keep the yes/no for hasSecondaryTwo... Need to see if the BE will accept this use-case.

[2020-12-03 18:39] dneel-bah opened #16898 "5495: Form Content Updates"
As a developer, I need to update the 22-5495 form so that it is consistent with DEPO recommendations and other Education Services forms.

## Assumptions:
1. This update does not require a feature or prod flag; story will be merged at the beginning of the day for staging review prior to afternoon production deployment.
2. The 5495 is located here: https://staging.va.gov/education/apply-for-educatio

[2020-12-03 18:40] dneel-bah opened #16899 "5495: Add ability to print confirmation page"
As a veteran, I need the ability to print the confirmation page of my 5495 form submission so that I can have it for my personal records.

## Assumptions:
1. This update does not require a feature or prod flag; story will be merged at the beginning of the day for staging review prior to afternoon production deployment.
2. The 5495 is located here: https://staging.va.gov/education/apply-for-educati

[2020-12-03 18:47] U-DON commented on #16401
The Drupal cache key is required to [fetch the cache](https://github.com/department-of-veterans-affairs/vets-website/blob/master/script/drupal-aws-cache.js#L74) or [create the cache](https://github.com/department-of-veterans-affairs/vets-website/blob/master/script/drupal-aws-cache.js#L104).

To generate it, [it hashes the GetAllPages query](https://github.com/department-of-veterans-affairs/vets-we

[2020-12-03 18:49] U-DON commented on #12970
I just mapped out the relationship between the cache and the side nav [in this comment](https://github.com/department-of-veterans-affairs/va.gov-team/issues/16401#issuecomment-738214046) in department-of-veterans-affairs/va.gov-team#16401. Hope that clarifies things.

[2020-12-03 18:53] kfrz opened #16900 "Prepare to Build SLO Report in DataDog"
## Background

We intend to migrate the external service SLO report to a Datadog-based

## Tasks

- [x] Figure out how to sum the `haproxy` metrics for "all requests" and "good requests" in SLO definitions
- [x] Set targets for 7d, 30d, 90d, based on the historical performance data
- [x] Create SLOs in DataDog for development environment, in preparation for prod data

[2020-12-03 18:54] jbritt1 commented on #16637
https://dsva.slack.com/archives/CBU0KDSB1/p1606956876455200?thread_ts=1605557619.162400&cid=CBU0KDSB1

[2020-12-03 18:56] caw310 opened #16901 "Forms Library: Build prototype of a new forms library"
## Problem Statement

Currently the forms library tries to do everything and is not flexible which results in work arounds or hacks to accommodate other use cases.

How might we make using the forms library easier so that teams would use the design system more.

How might we make using the forms library easier so that teams could build applications faster.

## Hypothesis or Bet

VFS teams will be

[2020-12-03 18:59] sporeboy commented on #13812
First five sessions conducted; two more will follow to ensure at least one female participant.

[2020-12-03 19:01] jason-gcio commented on #16615
Checking in with Jon to see if it would be a good idea to standardize these a little

[2020-12-03 19:01] denisecoveyduc opened #16902 "Research Plan VAPO review"
Continuation of https://github.com/department-of-veterans-affairs/va.gov-team/issues/12331

Tasks
- [x] Review research plan with VAPOs to collect their perspective
- [x] Megan will help capture notes and summarize findings
- [x] Send reminder to add cards to PO who may not be able to attend sessions
- [x] Synthesize information gathered to integrate feedback back into design research plan or prod

[2020-12-03 19:04] joanneesteban opened #16903 "Offboarding of Amy Cesal"
# Instructions
Fill out name of individual and *Description* section below.

# Description
- Please provide the name of the individual needing offboarded.
Amy Cesal
- Please provide the name of their team, their role on that team, expected last day, and the name of the company they work for.
Amy Cesal, VSP Analytics & Insights, 11/30/20, Ad Hoc
- Please provide any type of access they may have and

[2020-12-03 19:15] Kimberley2019 commented on #16062
@clantosswett I'm unable to access the link.  I am getting an error 404.

@starlow00 Can you access the link?

[2020-12-03 19:15] erikphansen opened #16904 "Update names of Direct Deposit's Google Analytics events"
We currently send data to GA when users are working with their direct deposit information on VA.gov. Unfortunately we use the string `direct-deposit` without specifying that we are referring to direct deposit for compensation and pension. Since we are soon going to support direct deposit for education on VA.gov, and will likely record similar events when users are working with that info, we should

[2020-12-03 19:19] Mottie opened #16905 "Access for Robin Garrison"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Do not remove `operations` label; this will notify the VSP Operations team of your request
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Pleas

[2020-12-03 19:25] starlow00 commented on #16062
@clantosswett Same here, I get a 404.

[2020-12-03 19:26] peggygannon commented on #16489
@luke-gcio @ndsprinkle Here is my content recommendation below. Please let me know if you have any questions. Thx!

A few thoughts from me:

-  I replaced "typing" with "enter" Reading this again, I don't want to assume how users will interact with the site.
-  I've also made recommendation to the validation error that appears if a condition isn't entered, as well as slight tweaks to the content u

[2020-12-03 19:29] jbritt1 commented on #16905
### For AWS Access

User: Robin Garrison
COR: Mary O'Toole
Approval required: @Jeff-Hayter

[2020-12-03 19:34] jenniferlee-dsva commented on #15607
I was able to validate this in the demo! Looks right - closing.

![image.png](https://images.zenhubusercontent.com/5bb2975c143b4d2ee7a35ef6/1caa96f4-ea76-42f0-b179-ec16fca77692)![image.png](https://images.zenhubusercontent.com/5bb2975c143b4d2ee7a35ef6/0aaa86cc-6365-4b61-91f8-16058b56bd34)

![image.png](https://images.zenhubusercontent.com/5bb2975c143b4d2ee7a35ef6/ab280020-3e90-452d-b9e4-30f83008fb

[2020-12-03 19:34] #15607 closed

[2020-12-03 19:37] #11773 closed

[2020-12-03 19:39] denisecoveyduc commented on #12333
As per discussion with @mgleo changing the estimate to a 5 from 8 since we extracted the PO approval piece.

[2020-12-03 19:44] ala-yna commented on #16485
Things to consider:
- Other VFS teams are interested in this functionality
- A Veteran could provide POA documentation at a different time in the process
- What user outcomes would this impact?
- Would allowing signatures to not match address a need?

[2020-12-03 19:51] cilestin commented on #16896
@jbritt1 Forwarded. Thanks for the assist!

[2020-12-03 19:53] jbritt1 commented on #16903
No SOCKS / AWS / PagerDuty access for this user.

[2020-12-03 19:53] jbritt1 commented on #16903
/request Amy Cesal

[2020-12-03 19:54] jbritt1 commented on #16903
@joanneesteban any idea what Amy's GitHub username might be? A people search for her name is bringing up empty results.

[2020-12-03 19:57] denisecoveyduc opened #16906 "[SD] Product Definition"
## Description

Collecting any product related work for the search and discovery team.

## Background/Context/Resources

- TBD

[2020-12-03 20:00] rileyorr commented on #16831
@3obryandogs thanks for syncing with me and Becca today! I adjusted this ticket to take into account that we'll be pulling in a library for the vehicle make+model data and that the final deliverable will be in w/e format works best for the frontend dev team. LMK if you have questions :)

[2020-12-03 20:02] jenniferlee-dsva commented on #16626
taking a look... oh: where can I go to see the new logic in action?  demo? staging?

[2020-12-03 20:02] #16209 closed

[2020-12-03 20:03] timwright12 commented on #12700
Tested on staging at: https://staging.va.gov/education/how-to-apply/

Staging PR: https://github.com/department-of-veterans-affairs/vets-website/pull/15154

Production PR: https://github.com/department-of-veterans-affairs/vets-website/pull/15171

[2020-12-03 20:03] digitalken opened #16907 "Unable to save phone number unless there is an existing phone number already present"
## What happened?
I tried to add a phone number where there wasn't already one existing.  When I tap "Save", it just sits there on the edit page.
"Save" is activated because a sufficient amount of numbers has been entered.

Thinking this may be a backend issue...

## Specs:
- Device: Probably not specific, but it was a Samsung Galaxy 7 Android.

## Steps to Reproduce
- Navigate to a phone number e

[2020-12-03 20:04] Mottie commented on #15368
There is a more detailed discussion [in Slack](https://dsva.slack.com/archives/CBU0KDSB1/p1606932092415400) discussing possible solutions. One of which is to remove the `'X-Key-Inflection': 'camel'` setting in the header to prevent this issue from happening in the future.

To deal with existing altered save-in-progress data, our team came up with a solution where we pass all `treated_disability_na

[2020-12-03 20:04] digitalken commented on #16460
Bug entered on saving a phone number where there isn't already one existing.
https://app.zenhub.com/workspaces/va-mobile-app-5f205eac3155a2000f422ecb/issues/department-of-veterans-affairs/va.gov-team/16907

[2020-12-03 20:10] jbritt1 commented on #16903
Perhaps she is @amygoldman on here?

[2020-12-03 20:10] rileyorr commented on #16827
@3obryandogs thanks for syncing with me and Becca! I updated this ticket to reflect that the final deliverable should be whatever format works best for the frontend dev team. I also readjusted the content in [the Google Doc](https://docs.google.com/document/d/17cfVffip0guLS_Y_Nf8bLar6ZI--zc66CoXngWKLSiY/edit?usp=sharing) based on what we saw on VA.gov. Feel free to change it to whatever you and Pe

[2020-12-03 20:10] jhouse-solvd opened #16908 "OKRs - Need metrics for VFS build and deploy time"
## Issue Description
One of the VSP Q4 KRs is "KR3: By Jan 2021, VFS build and deploy time is 25% faster. We need a way to track this and come up with baseline metrics (potentially by polling Jenkins for this information).

---
## Tasks
- [ ] Determine which metrics regarding VFS build and deploy time would be relevant
- [ ] Determine the best way to get those metrics into a format that can be sha

[2020-12-03 20:11] ronrtafoya commented on #16560
I uploaded final versions of the content to the team drive yesterday.

[2020-12-03 20:11] jenniferlee-dsva commented on #16626
well - i think this is live bc i used the live site to test it.

BEFORE - when i searched on "apply for pension" I received any articles (4)  with the word "for" , "apply", or "pension."
https://user-images.githubusercontent.com/1915775/98741178-2e9dae00-237a-11eb-8bde-e8346f9947ad.png

NOW - when i do the same search, I only receive 1 relevant article which has the word "pension." This is certain

[2020-12-03 20:11] #16626 closed

[2020-12-03 20:12] bradl3yC commented on #16776
@1Copenut this is merged

[2020-12-03 20:13] jbritt1 commented on #16903
Or perhaps already removed from the org?

[2020-12-03 20:14] jbritt1 commented on #16903
Last one is the case, found it: https://github.com/department-of-veterans-affairs/github-user-requests/issues/5427

[2020-12-03 20:30] LinnJS commented on #16816
This ticket is blocked due to Gatsby failing locally and in CI. Blocked till resolved by VSP Frontend Tools Team.

https://dsva.slack.com/archives/CBU0KDSB1/p1607027209029400

[2020-12-03 20:32] jenniferlee-dsva commented on #15826
This appears resolved. Will close.

[2020-12-03 20:32] #15826 closed

[2020-12-03 20:35] mmiddaugh commented on #16391
![image](https://user-images.githubusercontent.com/55411834/101085178-4e388880-356c-11eb-949f-4665af900337.png)
[Slack thread here](https://dsva.slack.com/archives/C0FQSS30V/p1606834192250800)

[2020-12-03 20:38] shiragoodman commented on #16557
@mshea0606 can you please add this to the [Platform Collaboration Point Tracker](https://docs.google.com/spreadsheets/u/1/d/1d219oL1zCvCvnv1Bx-dI-GMzwgbarLv9_bzMSa3ULjA/edit#gid=1341642809)?

[2020-12-03 20:40] bessgreen opened #16909 "No Claims & Appeals (UI)"
## User story
As a user, I want a screen that tells me when I do not have any Claims or Appeals

## Acceptance Criteria
1. Create UI as shown in designs
     - This UI will be used across both the Active and Closed views
2. Display this UI when:
     - A user does not have any Active Claims/Appeals
     - A user does not have Closed Claims/Appeals

## Designs
https://adhoc.invisionapp.com/d/main?o

[2020-12-03 20:43] #14921 closed

[2020-12-03 20:44] #14768 closed

[2020-12-03 20:44] #14827 closed

[2020-12-03 20:44] #15179 closed

[2020-12-03 20:45] #16043 closed

[2020-12-03 20:45] #16228 closed

[2020-12-03 20:45] mpelzsherman opened #16910 "Final audit of facilities pages"
Compare the cms-export vs. graphql builds to identify any remaining discrepancies.

Assigned to the facilities team by @meganhkelley. See [Slack](https://dsva.slack.com/archives/C01512KN35G/p1606925392376800?thread_ts=1606924673.376300&cid=C01512KN35G) for more detail.

Results will be captured in a [Google Spreadsheet](https://docs.google.com/spreadsheets/d/1X4kCief2pE8SqlAm2GEEoeyn_RlJ4e520h95TF

[2020-12-03 20:46] bradl3yC commented on #16783
@1Copenut I do not see any violations with Axe plugin for heading levels - the only one I see based on your screenshots using the lefthand number as a heading level indicator and their nesting, is the H4 in the final screenshot.

[2020-12-03 20:52] holdenhinkle commented on #16338
@1Copenut I'm working on this and noticed that these two helper methods aren't being used anywhere. Yet. Just letting you know...

[2020-12-03 20:53] holdenhinkle commented on #16338
Testing @holdenhinkle Testing...

[2020-12-03 20:53] lildziner opened #16911 "Vet Centers intro copy content review and feedback"
## Issue Description

_Provide content review and feedback for Vet Center's updated description to be used as web page intro copy._

#### Background
Facilities team is designing a new website template to be used for 10 pilot (TBD) Vet Centers. A prototype of this website template will be used in an upcoming usability study with Veterans to test their understanding of the services and logistical in

[2020-12-03 20:59] lealester commented on #16320
moving into validate (12/03/2020)

[2020-12-03 21:00] jenniferlee-dsva commented on #16440
The full github list still needs FE review, but on glance, these are the ones that I could identify as sitting with PW (and one thing with @johnhashva decision tools team).  There may be others that I didn't recognize and Nick/Kelson/someone on CMS might need to shed light on what they map to. @brianalloyd

1. block_content-promos
2. node-basic_landing_page
3. node-checklist
4. node-faq_multiple_q

[2020-12-03 21:03] lealester commented on #16318
picked up (12/03/2020)

[2020-12-03 21:06] AGarcia-Clarity commented on #16301
@1Copenut so am I understanding that we're just updating the content right now (and closing this out) until we get button vs link debacle?

[2020-12-03 21:14] joeniquette opened #16913 "Pull YoY Login Metrics"
Per Cory we need to pull YoY metrics for the month of November for 2019 and 2020.

**After March of 2020 we cannot use these commands, otherwise they are what we need to use to pull V0 data before March 2020:**
New requests: `aws logs filter-log-events --log-group-name "dsva-vagov-prod/var/log/nginx/access.log" --filter-pattern='"GET /sessions/idme/new"' --start-time "1572566400000" --end-time "15

[2020-12-03 21:17] U-DON commented on #12970
I think that's one way we could do get it to work. The cache key would work as long as it doesn't need to make a request to the CMS.

We've been talking about populating a cache that just uses the latest content, which would supercede the use of a specific hash for the key in most cases. Still figuring that out.

Meanwhile, is there a way to refactor the query to not require two round trips? If no

[2020-12-03 21:21] RLHecht commented on #13787
This update is live. Closing ticket.

[2020-12-03 21:21] #13787 closed

[2020-12-03 21:23] RLHecht commented on #16682
These changes are live on the site. Closing ticket.

[2020-12-03 21:23] #16682 closed

[2020-12-03 21:26] #12700 closed

[2020-12-03 21:27] timwright12 commented on #12700
this has been merged into master

[2020-12-03 21:28] ltrombley commented on #16317
Task #16317 complete- VISN 16 Systems "Staff Profile" for:
VA Houston health care
VA Jackson health care
VA Shreveport health care _(Note: Pending decision on Caregiver Support)_
VA Southeast Louisiana health care

[2020-12-03 21:31] lealester commented on #16318
resume with caregiver (Central Cali)

[2020-12-03 21:31] 3obryandogs commented on #16827
@peggygannon - would you take a look at the Google Doc above? (Or I can send it to you in a Word file) Riley, Becca and I are concerned about the bullet points. Are they written in empathic, friendly tone? We are trying to list some of the reasons that a Veteran might receive a debt letter. Thanks!
https://docs.google.com/document/d/17cfVffip0guLS_Y_Nf8bLar6ZI--zc66CoXngWKLSiY/edit?usp=sharing

[2020-12-03 21:31] mpelzsherman commented on #12970
Thanks. Part of the problem is I don't understand how the cache gets populated. lt also seems like we might have gone a bit overboard in our approach to solving the problem.

The whole point of the dynamic queries is simply populate the hard-coded FACILITY_MENU_NAMES array with a list pulled from drupal via GraphQL.

Is there some way we can just publish that list to an AWS server and pull it from

[2020-12-03 21:32] 1Copenut commented on #16301
@AGarcia-Clarity Yes, as far as I can tell. The original issue was the use of "blue" to identify the button, so adjusting content gets us aligned with the VA 508 office.

[2020-12-03 21:34] 1Copenut commented on #16338
@holdenhinkle Thank you, that's helpful. I noticed I'd missed a swath of focusable elements and figured I"d better get it logged while it was top of mind. IE, before teams started using it :)

[2020-12-03 21:38] srsuddath opened #16914 "VSA spot check review for Search Discovery [Search Typeahead]"
## Instructions

1. Click or press the gear icon next to the "Labels" heading on the right. Search for your team in the labels list. If your team is not listed in the Labels menu, please leave a comment after you have created this issue. The Product Support team will create a new label for your team.
2. Text inside `<-- comment -->` blocks will not appear in your issue ticket. These comments offer

[2020-12-03 21:39] 1Copenut commented on #16783
@bradl3yC The H4 is the only item that'll show up on the axe browser plugin. It'll be a Best Practice item. I flagged the others to be retagged for users who have visual acuity and use assistive technology. Having a visually equal heading as an H2 further up the page and an H3 further down the page is potentially confusing.

This is a high impact item to assistive technology users, but if it's dif

[2020-12-03 21:41] jenniferlee-dsva opened #16915 "Prioritize/rank RS search results by relevance (learning center)"
## Prioritize/rank RS search results by relevance (learning center)

**User story:**
As a Veteran searching for info in the RS, when I get a list of  results, I want to see the most related/relevant articles first.

Currently, the search does not rank or prioritize results. We  simply list results in alpha order by title. While this works ok when there are only a few results, it will be unhelpful

[2020-12-03 21:42] 1Copenut commented on #16646
Thank you @murrayra for the comments and follow up. I'll move this item to closed.

[2020-12-03 21:42] #16646 closed

[2020-12-03 21:48] jenniferlee-dsva opened #16916 "Add whole phrase matching logic to RS search (learning center)"
## Add whole phrase matching logic to RS search (learning center)

Today, we filter for individual search terms in the article titles before rank sorting them by body text instances (per ticket [#16915](https://github.com/department-of-veterans-affairs/va.gov-team/issues/16915).

**Hypothesis: Can we further improve relevance by search filtering on phrase matching in addition to just checking for

[2020-12-03 21:51] LinnJS commented on #13999
After running the e2e test found that the error is happening on the review page. Found that the errors highlighted in red are related to the dotted outline around that particular UI. Going to dive deeper and figure out how the data might be causing the UI to render this way.

![Screen Shot 2020-12-03 at 4.48.39 PM.png](https://images.zenhubusercontent.com/5dcf313b98e0b800015f2353/e2074b95-61c4-47f

[2020-12-03 21:54] 1Copenut commented on #13014
Thanks @micahchiang this is looking good. We were having trouble with the buttons' accessible labels when there wasn't a heading directly beside them. Your last screenshot shows the expected outcome. 👍

[2020-12-03 21:59] 1Copenut commented on #11970
@zurbergram & @desireeturner Just retested in Staging. The three alert boxes are all taking keyboard focus as expected. Moving this one to close. Thank you!

[2020-12-03 21:59] #11970 closed

[2020-12-03 22:05] bethpottsVADEPO commented on #13842
Latest agreed upon text with the stakeholder:

**Educational and career counseling (VA Chapter 36)**  @RLHecht as an fyi, because this is now used generically referring to the benefit rather than the program, I'm lowercasing.

Personalized Career Planning and Guidance (PCPG), or VA Chapter 36, offers free educational and career guidance, planning, and resources to Veterans and their dependents who

[2020-12-03 22:05] outerpress opened #16917 "Document appointment card states"
To support a redesign of appointment cards we need to document all the ways appointment data is presented to the user in the appointment list.

Ideally this documentation would include:

- "Types" of appointments (all the ways an appointment or request can show to a user)
- Data presented with each type
- Screenshots of an example state for each

## Tasks
- [ ] Document VA appointment types
- [ ]

[2020-12-03 22:07] 3obryandogs commented on #16361
https://docs.google.com/document/d/1wYPCXE_yaahUvk9Ah4fi4SD_rMtv79I3aJ6MqddYF4c/edit

Attached is a document with the shortened error messages. What is the next step?

[2020-12-03 22:09] outerpress opened #16918 "[Design] CC - No providers found error"
Update language for error message that shows when providers are not found in CC Provider list.

## Use Case 1
- [ ] Technical issue retrieving providers ([current error)](https://user-images.githubusercontent.com/8315447/101203702-19463780-3639-11eb-9064-683656909878.png)

### Questions/Considerations
- Should we prompt the user to refresh the page/widget to retry?
- Should the FE detect the error

[2020-12-03 22:09] outerpress commented on #16918
@LanceGundersen could you drop a screenshot of the current error state/message here?

[2020-12-03 22:11] #15853 closed

[2020-12-03 22:11] jhouse-solvd opened #16919 "Monitoring - provide application performance monitoring (APM) for BE tools on vets-api in DEV (Datadog)"
## Issue Description
_from @kfrz: Starting with vets-api, we want to see how much "magic" datadog provides, and what we can get for just vets-api
specifically, will tracing be useful if we don't have any correlation to proxy requests_

---
## Tasks
- [x] Install Datadog APM on vets-api instances in DEV
- [x] Discuss with BE Tools team to see how our APM solution with Datadog meets their needs

##

[2020-12-03 22:12] denisecoveyduc commented on #14897
HI ;)

[2020-12-03 22:12] #14897 closed

[2020-12-03 22:12] jhouse-solvd commented on #16919
@mydesignrocks @kfrz - please try to add as many relevant notes as you can that will help others understand the work as you all progress
@alexpappasoddball @dginther - please follow this ticket for updates or reference

[2020-12-03 22:13] #15858 closed

[2020-12-03 22:16] #16189 closed

[2020-12-03 22:18] denisecoveyduc commented on #16186
@mgleo completed medallia review and is now waiting for implementation covered in  User Survey Request for Public Websites - Medallia Pilot #16625

[2020-12-03 22:18] #16186 closed

[2020-12-03 22:19] batemapf commented on #16762
@stephenBarrs to connect with Ming re: what is required on Caregiver and @batemapf will learn from Ming about privacy matters.

[2020-12-03 22:19] denisecoveyduc commented on #12331
@mgleo completed the creation of research plan for SD team and will proceed to get required approvals( #16822)  before implementing and moving forward with conversation guide (#12333).

[2020-12-03 22:19] #12331 closed

[2020-12-03 22:25] batemapf commented on #16764
VEText

[2020-12-03 22:25] 1Copenut commented on #16737
@youngfreezyVA (I really like this user name!)

Adding comment from our discussion earlier today. When users press / click the Back to top button, we should set focus back to the `<body>` tag. When users press the `TAB` key again, the skip to content link will be the first element under keyboard focus. That feels like the best approach, and matches the focus handling GOV.UK uses in this example pa

[2020-12-03 22:26] bmcgrady-ep commented on #16233
Thanks, @brianalloyd for the clarification!

@JasonTheBearded - For this KPI dashboard, it looks like we will need a few more BigQuery Domo datasets - one for `Traffic to Benefit Hubs` and one for `% profile task created by way of the Learning Center`.

[2020-12-03 22:35] 1Copenut commented on #16519
@outerpress Hey! Thank you for the link and explanation. For my part, the tip at the top is the clear winner. It gave me all the conditional information in one place, and let me change to my current location before hunting for a facility. I had a couple of question thoughts, use or discard as you see fit!

1. For the tip at the top, would it a lot of trouble to line up the text that says "Why isn'

[2020-12-03 22:39] 1Copenut commented on #13018
@steve-gov I must have been moving too fast when I wrote that original ticket. I'm looking for an explicit explanation of what hours represents. It sounds like it's Credit Hours. If we know that for sure, I think should go with @jason-gcio comment to make the label **"Credit hours per week"**.

[2020-12-03 22:41] Mottie commented on #16210
Reference to "fax" has been removed in the forth bullet point - screenshot has not been updated.

[2020-12-03 22:45] murrayra commented on #16657
Hi Peggy - thanks for the feedback! We'll be incorporating much of this either on this card or the [card on the IRIS board](https://github.com/department-of-veterans-affairs/orchid/issues/85).  I've put the content in the actual card and added task boxes to help with the dev team to ensure we incorporate all of them - let me know if that's ok, and will be adding comments throughout with status of

[2020-12-03 22:58] #15893 closed

[2020-12-03 23:00] theodur commented on #16075
Closed in https://github.com/department-of-veterans-affairs/vets-website/pull/15097.

[2020-12-03 23:00] #16075 closed

[2020-12-03 23:14] 1Copenut commented on #13016
@allison0034 & @emilywaggoner Jason brings up a good point here, that the form labels will need to be much longer in order to have those longer labels appear on the review screen. I'm good at pointing out the ambiguity in the labels, but can't offer much guidance on label length in forms. Do either of you have suggestions? I'm okay tabling this as an enhancement if I'm inventing an issue.

[2020-12-03 23:19] bessgreen commented on #13966
Questions/considerations:
-What will app be called in the app store?

[2020-12-03 23:24] mmiddaugh commented on #15132
Ready for your review @bmcgrady-ep

[2020-12-03 23:44] laurenernest commented on #14108
@peggygannon No additional content work needed for this ticket right now.

[2020-12-03 23:49] steve-gov commented on #13018
We don't know for a fact whether it means credit hours per week or total time burden or something else, so I'll ask the business for input. Please stand by.

[2020-12-03 23:50] holdenhinkle commented on #16338
Branch 16338_update_hasFocusablecount_and_hasTabbableCount_cypress_helpers

[2020-12-03 23:53] ala-yna opened #16920 "Additional work to support downtime implementation"
## User Story

As a Veteran completing the 10-10CG
I want to understand when *not* to fill out and submit the form
Because a backend system is undergoing planned maintenance.

## Expected Behavior/AC

- Update downtime to block the introduction page of the form, rather than the confirmation page
- Address issues relating to https://dsva.slack.com/archives/CBU0KDSB1/p1605806969332500

[2020-12-03 23:53] #16920 closed

[2020-12-03 23:57] mmiddaugh opened #16921 "Staging Review - Facilities [Map enhancements]"
## Steps to complete Staging Review:

- [x] Product Manager: create this issue and fill in feature name in the title and other bolded information appropriately
- [x] Attach all artifacts before requesting the meeting
- [x] Link to this issue once created in [#vfs-platform-support](https://dsva.slack.com/channels/vfs-platform-support) in Slack; tag @ Shira Goodman and @ Andrea Hewitt
- [ ] Shira to

[2020-12-03 23:59] ala-yna opened #16922 "Research and present data surrounding the online health care application"
## User Story

As the health care team
I want to understand how usage on the online health care form has changed in 2020
So that I can understand how best to move forward to increase the number of Veterans applying for healthcare

[2020-12-04 00:00] ala-yna commented on #16922
[https://app.zenhub.com/files/133843125/163ce7a9-43b5-4ddb-a0ff-a1b545b5ddc4/download](https://app.zenhub.com/files/133843125/163ce7a9-43b5-4ddb-a0ff-a1b545b5ddc4/download)

[2020-12-04 00:00] #16922 closed

[2020-12-04 00:01] #15161 closed

[2020-12-04 00:01] #15753 closed

[2020-12-04 00:03] DanielleThierryUSDSVA opened #16923 "[DISCOVERY] Translation | Spanish | Corona | Design Implementation Exploration for Links"
## Issue Description
We need to determine if/how we can implement the previously researched design for the translation link.

**screenshot of link icon and placement:**
![spanish translation design of link.png](https://images.zenhubusercontent.com/5e8b13016a4378a604f5e799/b4cf938b-f1fe-4983-ac8f-12f82c7c1169)

**invision mockup of icon and link on a page:**
https://vsateams.invisionapp.com/share/D

[2020-12-04 00:04] shanemelliott commented on #16762
Table Created, Rob will create endpoint tomorrow by COB.

Three endpoints

1. Put
2. Get by ICN
3. Get By sta3n

[2020-12-04 00:16] shanemelliott commented on #16762
A site commented on Travel plans should we collect? Travel plans/other issues which would make appointment or follow up appointment impossible to make based on clinic dates

[2020-12-04 00:27] shanemelliott commented on #16762
Need to discuss adding:   race, ethnicity to unauthenticated data.

[2020-12-04 00:27] shanemelliott commented on #16762
forgot email on unauth

[2020-12-04 00:56] joeniquette opened #16924 "Access for Joe Niquette"
# Instructions
1. Fill out **Description**
2. Add the label used by your team (eg: `BAH-526`)
3. Add a comment @department-of-veterans-affairs/vsp-operations to ping the operations team
4. When the issue is closed you will be notified and can continue with on-boarding setup

# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please

[2020-12-04 01:46] jenstrickland commented on #4637
@jason-gcio Yes, Firefox+NVDA states the wrong number of items in the list. So, the new recommended code could be as follows.

- The headings should follow heading order and styling, I just used h# as placeholder.
- Added the `role` attributes because I imagine the design doesn't have bullets, and VoiceOver will need the role to convey the list semantics when `list-style:none` is used to style.

[

[2020-12-04 02:00] #15460 closed

[2020-12-04 05:28] SgardnerPMP opened #16925 "[PM] UPdate VA Salem and VA Salisbury System Health Serivces so Facility Health Services can be Automated and loaded [PM]"
## Story
As a engineer, data loader, I need to have all System Health services loaded, so I can perform the Facility health service testing and data load.

## Resources
[VISN-6 Playbooks]( TBD)

## TASKS
Load all System Health Services for Salem and Salisbury with Full upload html source code
- [x] Salem (41) SHS
- [x] Salisbury (43) SHS

## Acceptance Criteria
- [ ] All Health Services are loaded

[2020-12-04 05:49] omgitsbillryan commented on #15126
Testing Grafana Migrations Locally

1. Setup postgres locally using docker
[code]
2. Find your vagrant default gateway (mine was `10.0.2.2` which I think is common)

[code]

3. Modify grafana config to point to postgres on the host
[code]

4. Start grafana in Vagrant
[code]

5. (Optional) Verify connectivity from vagrant to postgres
[code]

6. Navigate in your browser to `http://localhost:3000` an

[2020-12-04 05:59] omgitsbillryan commented on #15126
[An important tidbit](https://codesposts.com/Wg04jK59) when migrating from pre 7.2 to 7.2+:

...

[2020-12-04 11:45] andaleliz commented on #13475
Hey @rebeccawalsh adding you as an assignee to this as our resident UXPIn expert,  in case you have some time to dig in during my leave.  Laurel Lawrence may also have time, but she's not in GH yet so I can't add her.

cc @sshein FYI

[2020-12-04 11:54] #16593 closed

[2020-12-04 12:29] bradl3yC commented on #16783
@1Copenut whats the fix here? should all of the heading levels be the same or decreased in size down the page? If so, we should get @rileyorr and @rebeccawalsh to weigh in

[2020-12-04 12:31] bradl3yC commented on #16769
@1Copenut this is ready for validation

[2020-12-04 12:38] clantosswett commented on #16062
Trying again. Hopefully it works this time!

[VA.gov IVR CLS Edits.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/5642770/VA.gov.IVR.CLS.Edits.docx)

[2020-12-04 13:07] stephenBarrs commented on #16762
@shanemelliott if we can send ICN should we still send SSN?  We should probably have SSN for any Veteran that we cannot find an ICN for.

[2020-12-04 13:28] #16496 closed

[2020-12-04 13:28] desireeturner commented on #14424
@JenLJ @watersemma @amyknox Looking for your input on this issue. Thank you!

[2020-12-04 13:29] desireeturner commented on #14422
@JenLJ @watersemma @amyknox looking for your input on this issue. Thank you!

[2020-12-04 13:32] MarciMcGuireGCIO opened #16926 "[ORIENTATION] Decision Tools Team: Content and IA Intro"
## User Story

As recommended in the New Team VSP Orientation, we will request and attend an intro meeting with the Content and IA team

## Expected Behavior

Decision Tools team learns about collaborating with Content and IA team

## Acceptance Criteria

- [ ] Attend Content and IA intro meeting

[2020-12-04 13:35] allison0034 commented on #13016
I looked at design.va.gov and I dont see one specific for guardian. I do see a label for spouse is "Spouse’s first name". Would "Parent's/Guardian's first name" be ok?

I do not know of any issues in having a long label except space and its takes longer for screen readers to read.

[2020-12-04 13:45] MarciMcGuireGCIO opened #16927 "[ORIENTATION] Decision Tools Team 508 Intro"
## User Story

As recommended in the New Team VSP Orientation, we will request and attend a 508 intro meeting

## Expected Behavior

Decision Tools team learns about 508 compliance

## Acceptance Criteria

- [ ] Request and attend 508 intro meeting

[2020-12-04 13:46] jonwehausen opened #16928 "Analytics Implementation for programmatic GTM PII Scrubbing"
# GTM Implementation

## What this form is for

<details>
<summary>More Information</summary>
<div>
    <br>
<p>Use this template to request Google Tag Manager and Google Analytics implementation or QA for your product. Please fill out all brackets.</p>

For more information, please check out the [Google Tag Manager resources](https://github.com/department-of-veterans-affairs/va.gov-team/blob/mast

[2020-12-04 13:56] srsuddath commented on #15668
agree!

[2020-12-04 14:03] jonwehausen commented on #9396
Per 0 email receipts from users wanting to convert their access and 12/2 marking the end of our grace period...the remaining 18 GA accounts have been removed:

[code]

[2020-12-04 14:03] #9396 closed

[2020-12-04 14:13] #16499 closed

[2020-12-04 14:23] DanielleThierryUSDSVA opened #16929 "COVID-19 Redirect Request"
### Instructions
- Requests for URL changes/redirects need to be submitted **AT LEAST** 2 weeks in advance.  Some changes/redirects take significant amount of time and coordination to implement, so start the process as soon as you know you will need one.
- This issue will be used from initial request through implementation of the redirect to ensure all individuals working on this are notified of s

[2020-12-04 14:23] #11083 closed

[2020-12-04 14:25] MarciMcGuireGCIO commented on #11453
Adding a Collab Cycle issue as a blocker for completing this issue since there will be involvement from Lighthouse, QA, and UX.

[2020-12-04 14:27] MarciMcGuireGCIO opened #16930 "Find a VA Form: Post-Launch Enhancements MVP 1.0 x Collab Cycle Plan"
## Product Outline
[Link to Product Outline](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/find-va-forms-redesign/README.md)
## Collab Point Tracker & Shared Support Spreadsheet
- [Collab Point Tracker](https://docs.google.com/spreadsheets/d/1d219oL1zCvCvnv1Bx-dI-GMzwgbarLv9_bzMSa3ULjA/edit#gid=1710283887)
- [Shared Support Spreadsheet](https://docs.google.com/

[2020-12-04 14:37] cmaeng opened #16931 "Turn off jenkins missing query flag notification to #cms-team"
## Description
Looking to turn off jenkins notifications to the `#cms-team` Slack channel when a query flag is found to be missing in the vagovprod build.

## Background/context/resources
The current notifications create unhelpful noise in the channel.

## Technical notes
examples:
![image](https://user-images.githubusercontent.com/60702623/101175606-5dbedc80-3613-11eb-83f9-a1bc66f756bc.png)

The

[2020-12-04 14:37] mnorthuis commented on #16929
Updated the table to clarify which is the destination url and which are the ones to redirect.

These redirects are ready to go and can be implemented at any time.  They do not necessarily need to wait until the page is live, but they will redirect to a 404 until it is live  (which is no different than if you try to go to them right now).

[2020-12-04 14:38] MarciMcGuireGCIO commented on #16930
Adding this to capture dependencies on other teams

[2020-12-04 14:40] cmaeng commented on #16931
@meganhkelley not sure if this is in your purview to help triage? any guidance you can give is greatly appreciated.

[2020-12-04 14:40] mnorthuis commented on #16929
@brianalloyd @kelsonic @ncksllvn In the interest of time, I'm tagging you on this.  These redirects for for the vaccine page going up and can be implemented at any time - even before the page goes live on monday.

[2020-12-04 14:46] MarciMcGuireGCIO commented on #11592
Moving this out of Public Websites team into Decision Tools team

[2020-12-04 14:47] timwright12 opened #16932 "Update Review Instances to reflect a production/staging build"
The current review instances are set to reflect dev/localhost, which isn't super helpful because we can all do that locally, so we're updating it to reflect a staging build instead.

[2020-12-04 14:51] Mottie commented on #15368
I've merged in the FE work-around for this... it will now pass _all_ `treated_disability_names` that are set as `true` and alert the Veteran if there isn't a matching selection - hopefully this last part alerts Veterans that have attempted to submit the form in the past that there was a problem.

[2020-12-04 14:52] lunascoop opened #16933 "Update special benefits and birth defects pages with 2021 rates in Drupal"
## Issue Description
_What details are necessary for understanding the specific work or request tracked by this issue?_

---
## Tasks
- [x] _Clone current pages and update content_

## Acceptance Criteria
- [x] _Updated rates are live and links to 2020 past rates pages are live_
---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be completed?)
- [ ] **Attached to

[2020-12-04 14:53] lunascoop commented on #16933
@RLHecht these pages are ready for review.

Birth defects:
2021 (main page): http://preview-prod.vfs.va.gov/preview?nodeId=993
2020: http://preview-prod.vfs.va.gov/preview?nodeId=11440

Special benefits:
2021 (main page): http://preview-prod.vfs.va.gov/preview?nodeId=990
2020: http://preview-prod.vfs.va.gov/preview?nodeId=11441

[2020-12-04 14:55] RLHecht commented on #15968
@bethpottsVADEPO I added the STEMtext info to the page as the last question. The only change I made was adding (YouTube) after the video link. It's saved as draft and ready to publish when we get the green light.

[2020-12-04 14:56] shiragoodman commented on #16921
@mmiddaugh thanks! do you have a preferred date in mind per the [VSP Collaboration Meetings Calendar?](https://calendar.google.com/calendar/embed?src=adhocteam.us_4dn3o77gcm5e3vbiedlha96tc0%40group.calendar.google.com&ctz=America%2FNew_York)

[2020-12-04 15:06] rebeccawalsh commented on #16783
@bradl3yC Looks like he's included his recommendations in the annotated screenshots above. I believe we pulled most of this styling from other parts of the site - @1Copenut do you suggest using the default heading styling for each level, or using utility classes to mimic the current visual experience?

[2020-12-04 15:19] bethpottsVADEPO commented on #13842
@RLHecht Per confirmation from the stakeholder, we're good to publish this today. Thanks!

[2020-12-04 15:20] bethpottsVADEPO commented on #13842
@lunascoop I'll handle these edits and @RLHecht can copyedit. Go ahead with the main page, and I'll let you know when I'm done with the surrounding pages.

[2020-12-04 15:22] SKasimow commented on #16923
Thanks @DanielleThierryUSDSVA .  I'll synch with @youngfreezyVA to investigate.

[2020-12-04 15:27] MarciMcGuireGCIO opened #16934 "Find a VA Form: State of the Product"
## Issue Description
Create a single point of reference to access existing documentation about Find a VA Form Product

---
## Tasks
- [ ] Locate all existing product overview info
- [ ] Locate all existing product technical info
- [ ] Locate existing code repos
- [ ] Create State of the Product doc that includes overview info and links to technical and product documentation

## Acceptance Criteria

[2020-12-04 15:27] bethpottsVADEPO commented on #15968
@RLHecht This is the final text to use, placed as the second Q&A under "More questions about the Rogers STEM Scholarship":

**What’s STEMText?**

We use STEMText to communicate with you about your Rogers STEM Scholarship benefits through text messages.

If you receive the Rogers STEM Scholarship, we’ll send an opt-in text message to your primary phone number. We’ll ask if you’d like to receive upd

[2020-12-04 15:28] ndsprinkle commented on #15852
"Unknown" is what our `formatDate` function defaults to if the passed in date is `null` OR if `moment.isValid()` is false, so that explains why we get that text. I guess this means Robin is right in saying that we shouldn't be using `submittedAt`, though it is confusing because all other forms use `submittedAt` with no issues. Looking at the back end, it looks like `submittedAt` is just an alias f

[2020-12-04 15:29] MarciMcGuireGCIO opened #16935 "Find a Yellow Ribbon School: State of the Product"
## Issue Description
Create a single point of reference to access existing documentation about Find a Yellow Ribbon School Product

---
## Tasks
- [ ] Locate all existing product overview info
- [ ] Locate all existing product technical info
- [ ] Locate existing code repos
- [ ] Create State of the Product doc that includes overview info and links to technical and product documentation

## Accept

[2020-12-04 15:31] jenniferlee-dsva commented on #15618
@youngfreezyVA - just looked over design updates with Ryan. His ETA for uploading all of the updated mocks and specs is EOD today, so you should have everything ready to go on Monday.

And of course, always feel free to reach out to me or Ryan with requirements Qs.

[2020-12-04 15:32] kelsonic commented on #16929
I'm picking this up now

[2020-12-04 15:36] Mottie commented on #15852
Sorry, that's what I was thinking would work after my quick glance at the code. I don't know what service other forms are using, but I think we might be unique in using EVSS. So maybe that's why `submittedAt` doesn't work?

Either way, it sounds like you did a lot more digging than I did, so I would go with whatever you think is the best route.

[2020-12-04 15:38] bradl3yC commented on #16783
@rebeccawalsh I understand now - opening a PR now

[2020-12-04 15:38] kelsonic commented on #16929
PR is up: https://github.com/department-of-veterans-affairs/devops/pull/8128

[2020-12-04 15:38] kelsonic commented on #16929
@mnorthuis just want to confirm, I can merge + deploy this asap?

[2020-12-04 15:40] denisecoveyduc opened #16936 "Comparative Analysis Research (Part 1)"
## Description
Audit of on-site search features on content-heavy websites.
#16936 is **Part 1** of a compendium of on-site search research and comparisons.
#18036 is **Part 2**

## Background/Context/Resources
Part 1 to focus on:
- Broad on-site search research from nngroup.com
- Research and examples of typeahead

## Tasks

- [x] Identify and summarize research from Nielsen Norman Group (search i

[2020-12-04 15:41] ndsprinkle commented on #15852
You know what, I spoke too soon! Looking at the redux state in staging, `timestamp` is what we need to be checking. You were right, I'll make the change :)

[2020-12-04 15:43] mdewey commented on #15257
Success!  I was to get the front end talking to the back end.

For the front end, we need to send `daysTillExpires/days_till_expires` field as part of the form. This can be done by adding this property to the first form page as a hidden form field. This will cause the SIP system to pick up the data automatically and send the number of days left to the back end.

For the back end @dillo  was able t

[2020-12-04 15:45] mdewey commented on #15257
Conversation about delete data: https://dsva.slack.com/archives/CBU0KDSB1/p1607096689079700

[2020-12-04 15:47] emilywaggoner commented on #16881
Hey @jonathanjnelson! Would you mind specifying what the additional flow is? What page does it start on? What selections should be made to trigger the new flow? Where does it end? Etc. (Just want to make sure we are focusing the review on the part of this that's new.) Thank you!

[2020-12-04 15:50] #16227 closed

[2020-12-04 15:50] Mottie commented on #15852
<img alt="ghe-emoji" title=":_tuzki_yipee:" src="https://cloud.githubusercontent.com/assets/136959/13203739/b390cc24-d883-11e5-9f1d-52d7b8ec9a61.gif">

[2020-12-04 15:54] mchelen-gov opened #16937 "Error when starting vets-api in Docker"
`make up` fails with this error:

[code]

OS: ubuntu 20.04
Docker version 19.03.8, build afacb8b7f0
docker-compose version 1.24.1, build 4667896b

i've tried doing `make rebuild`, `make down`, `make docker-clean` and still have the same results

[2020-12-04 15:55] #16435 closed

[2020-12-04 15:55] bmcgrady-ep commented on #16904
Hi @erikphansen - After looking into this further, this should be fine. It will require some changes in Google Tag Manager to capture the updates, so if you are going to make these changes I would ask that you do them in staging, so I could update the GTM and QA. Also, we would need to create an analytics implementation ticket for tracking purposes.

_For my reference_
Things that will change in G

[2020-12-04 15:55] #16683 closed

[2020-12-04 15:56] #16740 closed

[2020-12-04 15:56] mdewey opened #16938 "[FE] Add support for Dynamic Expiration date"
## User Story
As a veteran,
I should have my questionnaire expire on the day of my appointment.
So that I know when I can fill out the form by

## Related Documentation
 - [MVP: Visit Intro Initiative (Proof of Concept)](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/questionnaire/product/initiatives/visit-intro.md)
- [Mock up](https://app.zeplin.io/

[2020-12-04 16:01] mnorthuis commented on #16929
Yes, this can be deployed.  The destination page is not live yet, but should be shortly.

[2020-12-04 16:02] jason-gcio commented on #13016
I don't think we _need_ to include the "legal" part, this is just to make sure we are mapping the right fields to the user.  I really like the "**Parent's/Guardian's first name**" suggestion and would like to try it on for size and see how it goes.  (It helps clarify and is also not as long as I thought.)

This form is long and winding and I think I recall a few other points where this sort of spe

[2020-12-04 16:04] jason-gcio commented on #13016
Could also be "**Parent or Guardian's first name** as I read it back to myself...

[2020-12-04 16:05] peggygannon commented on #13016
@jason-gcio I would recommend this for the label (removing the / for readability)
Parent or guardian's first name

[2020-12-04 16:07] SKasimow commented on #16641
@DanielleThierryUSDSVA - do you have a contact that can provide us with the list of error messages used for both the volunteer form and the FAQ page?

cc: @youngfreezyVA

[2020-12-04 16:12] RLHecht commented on #16933
These pages are now all published. Moving to validate.

[2020-12-04 16:27] Clark-W-Griswold opened #16939 "Add button in jenkins to deploy latest build to staging."
Currently, there is logic that prevents vets-website changes from being deployed to staging when another build is in progress. This can lead to instances where a staging deploy might now occur for 3 hours or more despite commits to master during that span.

https://dsva.slack.com/archives/CBU0KDSB1/p1606845204326200

[2020-12-04 16:28] kristenmcconnell opened #16940 "[Content] Phone Number and Text Notification Wording"
# Issue Description

1. We plan to show facility and clinic phone numbers on the confirmation page of our form, so Veteran can contact them if they have more questions about their appointments.
- We want to link the user to the facility locator tool, so they can find more information, when 
  - an appointment has no associated phone number or 
  - there is an error because the code didn’t correctl

[2020-12-04 16:29] kristenmcconnell commented on #16039
I created ticket ##16940 for content to review/create wording for the phone numbers on the "Need Help" section as well as the missing phone number uses case.

[2020-12-04 16:32] digitalken commented on #15754
Added to TestRail.

[2020-12-04 16:34] sshein commented on #16489
interesting. Do we think moving "you don't have to use one of the suggested conditions" to its own line would help? I'm worried people won't read that block of text so they still won't see it

[2020-12-04 16:35] #13483 closed

[2020-12-04 16:35] RLHecht commented on #15968
@bethpottsVADEPO I moved the order of the question so it's now second. It's ready for you to look at.

[2020-12-04 16:38] jenstrickland commented on #16489
I agree with Shawna. Iirc there was research that people didn't see that, so making it super clear would be helpful. Alternatively, bold that phrase, maybe?

[2020-12-04 16:40] bradl3yC commented on #16783
@1Copenut this is merged and should be in staging for validation in the next hour or so

[2020-12-04 16:46] digitalken commented on #15739
Added to TestRails.

[2020-12-04 16:47] #16416 closed

[2020-12-04 16:47] #14607 closed

[2020-12-04 16:47] #14715 closed

[2020-12-04 16:47] #14637 closed

[2020-12-04 16:52] #16821 closed

[2020-12-04 16:57] Clark-W-Griswold opened #16941 "Increase retries in mocha from 3 to 5"
With the increase of flaky tests, we going to increase the retry limit from 3 to 5 as a short term attempt to help produce a higher rate of successful builds.

Acceptance Criteria:
1. Retry limit has been increase from 3 to 5.

[2020-12-04 17:12] mpelzsherman commented on #16830
The root cause of the missing spotlight section was https://github.com/department-of-veterans-affairs/vets-website/pull/15019. The graphql query fragment that pulls this data from drupal was removed accidentally.

The root cause of the title issue was https://github.com/department-of-veterans-affairs/vets-website/pull/14151. I'm not sure why this change was made.

[2020-12-04 17:12] #16830 closed

[2020-12-04 17:21] digitalken commented on #16424
Added to TestRail.

[2020-12-04 17:22] joanneesteban commented on #16636
### Next Steps

- [ ] Add Jason, Ben, & Brian.
- [ ] Check team's access
- [ ] Create Domo account for Google Group

[2020-12-04 17:26] outerpress commented on #16840
@jbalboni @laurenernest I added the spec, just a couple of notes:
* Use the screens marked as V1 in the Table of Contents (first screen in the prototype)
* The language hasn't been reviewed by @peggygannon yet so there may be changes to the instruction and tooltip
* I'll get tablet specs in there shortly, I don't think much will change for larger screen sizes though

[2020-12-04 17:27] delli-gatti-michael commented on #16558
Local testing complete

[2020-12-04 17:34] brianalloyd commented on #16440
@jenniferlee-dsva thanks for providing the list, @kelsonic and @ncksllvn could you guys review and update as needed.  Thanks.

[2020-12-04 17:53] SKasimow commented on #14891
Hi @DanielleThierryUSDSVA - is this complete? Can I close it?

cc: @youngfreezyVA

[2020-12-04 17:54] 1Copenut commented on #12996
@jason-gcio I've passed this issue on to Carol and the design system team. I'll leave you as an assignee for now.

[2020-12-04 17:55] SKasimow commented on #16791
+ @DanielleThierryUSDSVA

[2020-12-04 17:56] 1Copenut commented on #13007
@jason-gcio I've passed this issue on to Carol and the design system team. I'll leave you as an assignee for now.

[2020-12-04 18:00] peggygannon commented on #16527
**12/4/2020 update** per depo feedback, this work is on pause.

[2020-12-04 18:11] kevinmirc commented on #16226
[_Dec 3, 2020 10:23 PM Eastern_] Milagros Ridoutt:

[2020-12-04 18:15] kevinmirc commented on #16226
Tested today in CARMA SIT. I was able to successfully send a submission for the following scenarios:

**Submission Tests (SIT)**:

State - Veteran: **WA** (baseline test)
State - PC: **WA** (baseline test)
Submitted: :white_check_mark:

State - Veteran: **FM** (Micronesia)
State - PC: **FM** (Micronesia)
Submitted: :white_check_mark:

State - Veteran: **MP** (Northern Mariana Islands)
State - PC:

[2020-12-04 18:20] kevinmirc commented on #16748
Ran query again to get the count for the time period starting at 2020/11/24 00:00:00 and ending at 2020/12/03 23:59:59 UTC:
Total number of applications: `1923 `
Total number of applications that do not have a Primary Caregiver Present: `16 `

[2020-12-04 18:20] sshein commented on #16489
oh it looks like this is related https://github.com/department-of-veterans-affairs/va.gov-team/issues/13639

[2020-12-04 18:23] lihanli commented on #10275
@annaswims is the `separation_locations` data the same for every user?

[2020-12-04 18:29] mnorthuis commented on #14205
Yes, always good to coordinate with them.  Thank you!

[2020-12-04 18:40] #10279 closed

[2020-12-04 18:46] joshkimux opened #16943 "Accessibility feedback for the Spot Check Review: Search Discovery [Search Typeahead]"
**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Point of Contact

VSA: Josh
VSP: Trevor

## Details

This epic contains the accessibility feedback for the Spot Check Review: Search Discovery [Search Typeahead].

## Definition of done

1. Review and acknowledge feedback.
1.

[2020-12-04 18:48] kristenmcconnell commented on #13153
@mlighdc  Regarding our additional privacy questions...

1. I logged into staging and found the following two identical examples of a checkbox to read and accept the privacy policy before submitting a form. Do we need to incorporate a similar checkbox?

![Screen Shot 2020-12-04 at 1.22.44 PM.png](https://images.zenhubusercontent.com/5f44055c65a5c54f7cfe5928/43ad0742-ed49-48db-8e6d-271c5c30baa5)
![

[2020-12-04 18:49] joshkimux opened #16944 "Accessibility feedback for the Spot Check Review - Search Discovery [Search Typeahead]"
**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Point of Contact

VSA: Josh
VSP: Trevor

## Details

This epic contains the accessibility feedback for the Spot Check Review - Search Discovery [Search Typeahead].

## Definition of done

1. Review and acknowledge feedback.
1.

[2020-12-04 18:52] mmiddaugh opened #16945 "Map displays area searched, even if no results found"
As a Veteran, I want the map to display the area I entered, even if no results are found.
As a Veteran, when no results are found, I want to be able to zoom out and search again.

E.g.:
1. search for Oral & Maxillofacial Surgery in Poulson, MT
2. Map zooms to Poulson, MT. no results found,
3. Click Zoom Out control a few times and pan West until Cour d'Alene appears. "Search This Area" button appe

[2020-12-04 18:53] leahkeeler opened #16946 "IA Request [BAM2 Debt Resolution FSR Form ]"
## What this is:
Work with VSP Information Architecture experts to finalize the IA of your product for VA.gov

## When to use this:
After completion of usability/protyping, prior to moving to development

## Required Inputs:
- Link to [product outline](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/Debt%20Resolution/Financial-Status-Report/FSR-Product-Outline.md

[2020-12-04 18:55] #16488 closed

[2020-12-04 19:00] LanceGundersen commented on #16918
![image](https://user-images.githubusercontent.com/8315447/101203702-19463780-3639-11eb-9064-683656909878.png)

[2020-12-04 19:05] bridgethapner opened #16947 "Veteran-facing instructions for iOS app set up"
Write instructions w/ screenshots of the setup process so that Perigean can help Vets with Apple devices set up Test Flight and the prototype app prior to sessions.

[2020-12-04 19:05] mnorthuis commented on #16946
@leahkeeler Draft IA is here for initial review: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/information-architecture/ia-reviews/bam2-debt-fsr.md

[2020-12-04 19:05] kristenmcconnell commented on #16063
Met with Dr. Byrne on Dec. 3.

[2020-12-04 19:05] bridgethapner opened #16948 "Veteran-facing instructions for Android app set up"
Write instructions w/ screenshots of the setup process so that Perigean can help Vets with Android devices set up the prototype app prior to sessions.

[2020-12-04 19:06] omgitsbillryan commented on #15126
Upgrade went off w/o a hitch to `7.2.2`.
![image.png](https://images.zenhubusercontent.com/59c291c1b0222d5de4787932/a3d6a64d-9afc-4a05-803e-3143af82b6e0)

I'm holding off on opening and re-saving the alert channels in the Grafana UI so that if we need to downgrade for some reason, they will continue to work.

[2020-12-04 19:06] bridgethapner opened #16949 "Discussion guide for usability testing"
Write discussion guide for next round of usability testing to prep for submission to Perigean

[2020-12-04 19:11] leahkeeler opened #16950 "Publish Landing Page and URL redirects for Debt Letters Iteration 2 from BAM2 (your favorite team )"
**## Debt Letters Iteration 2 will be going live on va.gov on 1/4/2021!!!!!!**

The landing page /manage-va-debt needs to be published
The page is currently being redirected to /debtman - that needs to be disabled.
@bradl3yC Will take care of feature flag

### Content support for:
- Unauthenticated (static) VA.gov pages
- Apps or tools
- Other writing or editing requests

### Engineering support f

[2020-12-04 19:16] #16506 closed

[2020-12-04 19:27] lealester commented on #16318
moving into validate (12.4.2020, 2:27pm ET)

[2020-12-04 19:27] bkjohnson commented on #16116
@cvalarida is this closeable?

[2020-12-04 19:30] JenLJ commented on #16493
Features documentation can be found [here](https://boozallen.sharepoint.com/:x:/r/teams/benefitsintegrationplatform/education/_layouts/15/Doc.aspx?sourcedoc=%7BB92D797F-F53D-4E72-81ED-18F70EACEDD9%7D&file=CT%20Redesign%20-%20Features%20Identification.xlsx&action=default&mobileredirect=true&cid=d1a592ab-5988-4485-ad0d-7cb073bb31c7)

[2020-12-04 19:30] #16493 closed

[2020-12-04 19:31] desireeturner commented on #16145
The CC feature is not currently functional so we have a story in the backlog to come up with an alternative implementation. That said, emails are working as expected and this bug can be closed.

[2020-12-04 19:31] #16145 closed

[2020-12-04 19:33] laurenernest commented on #16359
Working as expected for users with and without an address on file. Thanks @jbalboni !

[2020-12-04 19:33] #16359 closed

[2020-12-04 19:36] peggygannon commented on #16554
Hi, @outerpress @laurenernest  Taking a look at this now. Are we wanting to tweak the message for both scenarios/screenshots above?

I didn't realize this message needed to be updated. Is this a request to tightened up the language or  to rework the whole message?

[2020-12-04 19:38] desireeturner commented on #14964
This is being discussed on slack here: https://dsva.slack.com/archives/CG6N59X40/p1604433713032900

[2020-12-04 19:39] CrystabelReiter commented on #13639
Final decision from Design System council meeting on 12/4/20:
- We need to look into fuzzy search options
- Short term solution: Clarify in the copy that they can enter their own thing. Close the suggestion box when what they’re typing is not in the list. It should also closes if person pauses typing if enough time passes by
Related content ticket:  :https://github.com/department-of-veterans-affai

[2020-12-04 19:40] EdwardBoehme05 commented on #16316
Completed comment to avoid deactivation

[2020-12-04 19:49] holdenhinkle commented on #16338
https://dsva.slack.com/archives/C01CHAY3ULR/p1607111188256700

Holden Hinkle  2:46 PM
I refactored the Cypress `hasFocusableCount` and `hasTabbableCount` helper functions by creating a Cypress custom command called `hasCount` - https://github.com/department-of-veterans-affairs/vets-website/blob/16338_update_hasFocusablecount_and_hasTabbableCount_cypress_helpers/src/platform/testing/e2e/cypress/sup

[2020-12-04 19:51] CrystabelReiter commented on #13639
@Mottie Can you add this ticket info as a ticket on the design system issue board? So we can channel into our backlog

[2020-12-04 19:52] mmiddaugh opened #16951 "[AXE-CORE] Contrast ratio for Facility drop down"
## User Story or Problem Statement

As a user with low vision, I need sufficient contrast between the field and background so that I am able to perceive text.

## Details
This issue was raised during AXE testing conducted for the Staging review of the Map enhancements.

**Issue description**
Ensures the contrast between foreground and background colors meets WCAG 2 AA contrast ratio thresholds

**

[2020-12-04 19:52] laurenernest commented on #16554
@peggygannon This is just for what would go in the blue box on the Community Care page. The facility page screenshot is there as an example of what we show in a similar situation elsewhere. We'll use whatever your copy recommendation is for the CC page. It doesn't have to be modified from what's in that screenshot. If you think what's in that CC screenshot works as is, then that's great too!

[2020-12-04 19:57] kevinmirc opened #16952 "Process 10-10CG Attachments in a background job"
**Description**:
Create a background job to process the attachment(s) on Form 10-10CG Submissions. This should allow us to reattempt the delivery of attachments when the PDF generation fails or there is a network failure.
- [x] [Prerequisite] Persist Form 10-10CG Submissions https://github.com/department-of-veterans-affairs/va.gov-team/issues/10280
- [x] Create the Background Job (and update the F

[2020-12-04 19:58] #16596 closed

[2020-12-04 20:02] #14351 closed

[2020-12-04 20:11] kelsonic commented on #16440
This is what we currently have in our PR:

[code]

[2020-12-04 20:15] outerpress commented on #16519
@1Copenut Thanks for the feedback!

I added a few more screens to show the different weird states that list can find itself in. The "required" state definitely is a problem I want to iterate on a bit. (Also note, I broke up the two versions into separate projects and updated the comment above to reflect that).

Responses:

1. I'll do a run through later today to fix up spacing issues.

2. That lis

[2020-12-04 20:15] shiragoodman commented on #16881
@ala-yna when are you planning to do Usability Testing? Since test cases won't be ready until mid next week (per @tlei123), I think it might make sense to move this out to next Thursday 12/10.

[2020-12-04 20:17] timwright12 commented on #16932
Abandoning this as review instances can't access prod data. Slack thread: https://dsva.slack.com/archives/CBU0KDSB1/p1607112235125900

[2020-12-04 20:17] #16932 closed

[2020-12-04 20:26] mdewey commented on #16591
![Screen Shot 2020-12-04 at 3 01 40 PM](https://user-images.githubusercontent.com/1793923/101209372-9fff1280-3641-11eb-9a91-896e05f5fa03.png)

BLOCKER:

Context:
We have decided to keep the Privacy Statement Act, but hide the OMB number and expiration date. Those three items are the same component, (along with Respondent burden) that is owned by the platform team. In order to hide the OMB number a

[2020-12-04 20:42] holdenhinkle commented on #16338
My inclination is to submit a PR for this as-is (all current tests pass) and deal with any bugs that arise (I don’t think there will be any) when people start using the helper.

[2020-12-04 20:43] kevinmirc opened #16953 "Create "form1010cg_submissions" table"
**Related to**: https://github.com/department-of-veterans-affairs/va.gov-team/issues/10280

**Epic**:
https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/16952

**Description**
Create a table to store the resulting data of submitting a `SavedClaim::CaregiversAssistanceClaim` to CARMA.

**Acceptance Criteria**
- This should be able to rel

[2020-12-04 20:43] kevinmirc opened #16954 "Relate Form1010CG::Submissions to SavedClaim::CaregiversAssistanceClaims"
**Related to**: https://github.com/department-of-veterans-affairs/va.gov-team/issues/10280

**Epic**:
https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/16952

**Prerequisites**:
- https://github.com/department-of-veterans-affairs/va.gov-team/issues/16953

**Description**:
Now that we have a table for `Form1010cg::Submissions`, make the

[2020-12-04 20:45] joeniquette commented on #16913
### Lessons Learned
- Each of these queries costs money per GB scanned. So start with short timeframes to verify your queries work, then expand it to larger chunks. Again though, not too large or the query will timeout and report back incomplete numbers.
- Prior to 11/9/2019, cloudwatch logs insights does not report any SSO related information. If you use the command line queries you can obtain th

[2020-12-04 20:51] abuckley3385 opened #16955 "Usability Testing Prep [Team Name, Feature Name]"
## Steps to complete Usability Testing Prep:
- [X] Product Manager: create this issue and fill in the team name and feature name in the title and other bolded information appropriately
- [X] Attach all artifacts before requesting the meeting
- [X] Link to this issue once created in [#vfs-platform-support](https://dsva.slack.com/channels/vfs-platform-support) in Slack; tag @ Shira Goodman and @ And

[2020-12-04 20:53] jhouse-solvd opened #16956 "ATO - Action items from retro and upcoming tasks"
## Issue Description
_This epic is for tracking actions items that came out of an ATO retrospective meeting held w/ Nancy Smith, Faith Owusu-Sekyere, and other members of the VSP Operations team. The purpose is to track relevant action items and potential upcoming tasks related to the outcome of that meeting, as well as work that we will need to schedule in the near future._

---
## Tasks
- [ ] _W

[2020-12-04 20:56] jason-gcio opened #16957 "Flipper component Installation Request from eBenefits for View Payments"
## Why you're here

### Content support for:
- Unauthenticated (static) VA.gov pages
- Apps or tools
- Other writing or editing requests

### Engineering support for:
- Redirects that have **first been vetted by the VSP IA team**
- REACT sign-in widgets or feature flags (flipper)
- Other engineering support

**Note:** Apps teams engineers are responsible for flipper implementation related to their

[2020-12-04 20:58] luke-gcio commented on #16489
Wow this ticket is quite a party now.

[2020-12-04 21:02] jhouse-solvd opened #16958 "Redeploy EBS resources to ensure all volumes are encrypted"
## Issue Description
Default encryption is already enabled at the account level, so a simple re-deploy of any of those resources should do the trick.

---
## Tasks
- [x] Audit EBS volumes and attach a list of unencrypted volumes to this ticket
- [ ] Re-deploy EBS volumes that are currently un-encrypted
- [ ] Ensure that EBS volumes are re-attached as needed after being re-deployed

## Acceptance C

[2020-12-04 21:03] kevinmirc commented on #10586
Closing since the description is "How might we update the processing of the application so that the user doesn't see as long of a response time?" and the comments outline a solution.

Linking the implementation epic: https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/va.gov-team/16952

[2020-12-04 21:03] #10586 closed

[2020-12-04 21:08] kelsonic commented on #16950
Hey @leahkeeler do you know what the redirect(s) are yet? 🙂

[2020-12-04 21:10] kristenmcconnell commented on #16591
@mdewey We were suggesting removing the expiration date, because it is hardcoded and our forms have dynamic expiration dates. If we can make the expiration dates dynamic, which it sounds like we can, then lets leave the expiration date in the design. I'll update the wireframes.

[2020-12-04 21:10] kevinmirc commented on #15147
Closing in favor of: https://github.com/department-of-veterans-affairs/va.gov-team/issues/16952

[2020-12-04 21:10] #15147 closed

[2020-12-04 21:11] jhouse-solvd commented on #16350
[From a member of the VSA Healthcare Experience Team:
](https://dsva.slack.com/archives/CBU0KDSB1/p1607115799145600?thread_ts=1607112235.125900&cid=CBU0KDSB1)

"I have very high expectations and for the record, I want a review environment where the bit of code I wrote can be tested/reviewed by all stake holders EASILY and I want said review environment to be able to talk to and interact with  all

[2020-12-04 21:14] brianalloyd commented on #16950
@kelsonic just updating details from our [Slack Convo](https://dsva.slack.com/archives/C52CL1PKQ/p1607109326128700).

[2020-12-04 21:19] holdenhinkle commented on #16338
PR submitted - https://github.com/department-of-veterans-affairs/vets-website/pull/15204

Something that may be an issue:

Two files [from another branch](https://github.com/department-of-veterans-affairs/vets-website/pull/15162) that has already been merged ended up in this branch somehow and I haven't been able to remove them:
- config/cypress.json
- src/platform/testing/e2e/cypress/support/comm

[2020-12-04 21:20] kelsonic commented on #16950
PR is up, won't merge until Jan 4: https://github.com/department-of-veterans-affairs/devops/pull/8139

[2020-12-04 21:27] #16737 closed

[2020-12-04 21:27] annaswims commented on #10275
The data is the same for every user, but for some reason the API still requires the same auth headers that have user's info.  So, caching feels a bit weird to me but is probably fine.

[2020-12-04 21:28] annaswims commented on #10275
the data is different on different environments though.

[2020-12-04 21:28] kristenmcconnell commented on #16591
Wireframe updated. Expiration date added back in.

[2020-12-04 21:32] erluti opened #16960 "investigate approach to making generators"
## Description
As part of the initial feature to develop as the MVP of the "VSP Toolkit", the Backend Tools team will look into existing module generators and discuss what should be done next so that the toolkit can feature module generators.  This approach will allow us to re-think how our rails generator will work to improve the visibility for new VFS developers building their backend components

[2020-12-04 21:36] erluti commented on #16960
PR for deleting old generators https://github.com/department-of-veterans-affairs/vets-api/pull/5433

[2020-12-04 21:38] mdewey commented on #16591
Thank you @kristenmcconnell  and @abuckley3385. This no longer has a blocker.

[2020-12-04 21:40] asg5704 opened #16961 "Improve web performance on vets-website & vets-api"
## Issue Description
This is a request to improve web performance on VA.gov by making the following improvements to reduce latency:
- Use Brotli as a primary compression algorithm with GZIP as a backup ([14% smaller than GZIP](https://expeditedsecurity.com/blog/nginx-brotli/)).
- Work with External Service Provider teams (like eAuth/IAM) to investigate using compression (ie eAuth is serving up the

[2020-12-04 21:41] bkjohnson commented on #15169
We have moved the dev & staging deploys into CircleCI, and we also have storybook deploying to both of those environments. Here is what needs to happen in order for us to close this ticket:

- Deploy to design.va.gov (prod) from CircleCI
    - There isn't a technical reason why we haven't done this yet - we can set this up at any time modeled after dev & staging
    - Need to request access from O

[2020-12-04 21:45] mpelzsherman commented on #16220
This continues to happen quite often. Can we do anything in the short term to address this?

[2020-12-04 21:47] peggygannon commented on #16554
@laurenernest ok, thanks. I think we can tighten up the language a bit more. Here's my recommendation for blocked message:

Your bowser can't find your current location. Please make sure your browser's location feature is turned on.

[2020-12-04 21:52] Samara-Strauss commented on #16806
We are taking the traditional dashboard approach.

[2020-12-04 21:52] #16806 closed

[2020-12-04 21:54] jbalboni opened #16962 "New facilities page isn't correctly sorting by current location"
Current location sort order is not working, in some cases looks like it's reversed:

![Screen Shot 2020-12-04 at 4.51.47 PM.png](https://images.zenhubusercontent.com/599c94608f62dc7798c3b2cd/44e60fe7-bf45-4312-a969-bfc5d875907f)

[2020-12-04 21:59] jbalboni opened #16963 "Write RTL tests to check order of facilities when sorting by current location and residential"
We don't have tests that adequately cover this, leading to bugs like https://github.com/department-of-veterans-affairs/va.gov-team/issues/16962

[2020-12-04 22:01] RLHecht commented on #16933
These changes are now live. Closing ticket.

[2020-12-04 22:01] #16933 closed

[2020-12-04 22:03] RLHecht commented on #15968
These changes are live. Closing ticket.

[2020-12-04 22:03] #15968 closed

[2020-12-04 22:04] luke-gcio commented on #12904
We are good. We will continue to work this but there is a large email chain with the information about submissions and responses from Barry.

[2020-12-04 22:04] #12904 closed

[2020-12-04 22:06] Samara-Strauss opened #16964 "[Design] My VA: Finalize wireframes of disability rating & claim status blocks"
## Background

Epic #16807

Post-testing [design exploration A](https://vsateams.invisionapp.com/share/EDZFDJ7UWTC#/screens/437719085_myVA_Mobile_A) and [design exploration B](https://vsateams.invisionapp.com/share/HDZFDLY3WEZ#/screens/438177954), we have decided to move forward with a more traditional dashboard approach instead of a newsfeed approach. We're ready now to finalize the wireframes fo

[2020-12-04 22:06] joshkimux opened #16965 "508-defect-1 ❗ Launchblocker [SCREEN READER, COGNITION]: The auto-suggest search field MUST be accessible to screen reader users"
# [508-defect-1 :exclamation: Launchblocker](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-1)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and a

[2020-12-04 22:08] luke-gcio commented on #16210
Latest info from Lauren which Robin is working towards:

Step 2 of 4:  Previously Decided Issues
Select the issue(s) you would like reviewed:

![image](https://user-images.githubusercontent.com/53824125/101220234-94601b80-3642-11eb-96ac-ecf44311d2b5.png)

[2020-12-04 22:11] luke-gcio commented on #13639
After reviewing with design council, we decided to not implement this and make content changes instead.

[2020-12-04 22:11] #13639 closed

[2020-12-04 22:23] Samara-Strauss opened #16966 "[Design] My VA: Finalize wireframes presentation of health care blocks"
## Background

Epic #16807

Post-testing design exploration A and design exploration B, we have decided to move forward with a more traditional dashboard approach instead of a newsfeed approach. We're ready now to finalize the wireframes for each section. This ticket covers the health care blocks.

### Which blocks?

We need to show next upcoming appointment, secure messages, prescription refills,

[2020-12-04 22:24] jenstrickland commented on #16737
Double-checking here, since @1Copenut said that the focus should go to `<body class=" merger" screen_capture_injected="true">` after the back to top button is clicked, so that the next tab press goes to the Skip to content link. Is that right, Trevor?

[2020-12-04 22:25] laurenernest commented on #15992
@vbahinwillit FYI on this bug @jbalboni discovered on the similar sort functionality in the VA flow #16962. Let's make sure this is covered for CC.

[2020-12-04 22:30] 1Copenut commented on #16737
Yes. When I think of back to top, I think of it like pressing the `Home` button that zooms all the way to the top of the page. We don't have any conflicting research or information, so let's set it at the top. This ensures we always have the same element being referenced.

If research shows users would prefer the back to top be set on the `<main>` element, we can adjust later.

[2020-12-04 22:35] Samara-Strauss opened #16967 "[Design] My VA: Finalize wireframes presentation of applying for benefits section"
## Background

Epic #16807

Post-testing design exploration A and design exploration B, we have decided to move forward with a more traditional dashboard approach instead of a newsfeed approach. We're ready now to finalize the wireframes for each section. This ticket covers the applying for benefits section.

### Applying for benefits

At this point, I think we can move over what we have in the pr

[2020-12-04 22:37] starlow00 commented on #16724
@clantosswett @Kimberley2019 I made some edits to the PDF. Some spacing issues around punctuation marks I added may occur, as I couldn't get my PDF editor (FoxIt Phantom) to select the small spaces between words. Thus, I'm hoping edits are applied manually, rather than by software.
[Contact-Center-Product-Guide-view-payments_v11132020_ST_120420.pdf](https://github.com/department-of-veterans-affair

[2020-12-04 22:38] Samara-Strauss commented on #16807
Attaching the lightweight wireframes we discussed in our planning meeting on 12.4.20. These are supposed to communicate page hierarchy and a couple slightly different ways we could break down information. These are *not* meant to communicate that you have to use the exact styling or dimensions or weight I did for each section — that stuff will all flex a bit as the design develops. I *did* use the

[2020-12-04 22:42] tlei123 commented on #15648
@jason-gcio , sorry... what exactly was that "additional question" you mentioned in our Shared Support Standup yesterday?  Was that for this, or actually for Ch31?

[2020-12-04 22:43] bmcgrady-ep commented on #16598
Hi @mmiddaugh - Here is a [link](https://analytics.google.com/analytics/web/template?uid=pGf28rwGR025NZk3MUKN1w) to a custom report template that shows the facility location (by pageviews) and the browser language used by the user (excluding English). To access the report, you need to click on the link and then it will ask you to choose a View - choose the Facility Locator Modernized View.

Also,

[2020-12-04 22:44] ltrombley commented on #16319
**Task #16319 - Data Load for VISN 21 Systems "Staff Profile" complete:**

- VA Palo Alto health care
- VA San Francisco health care - **Pending Mental Health care Coordinator date**
- VA Sierra Nevada health care - **Pending Patient Advocate Coordinator data**
- VA Southern Nevada health care - **Pending Caregiver Support Coordinator data**

[2020-12-04 22:48] laurenernest commented on #15992
@vbahinwillit I added to the ACs the specific copy for the message box when the browser is blocked from finding the current location.

[2020-12-04 22:49] laurenernest commented on #16554
Thanks! I've updated our dev ticket.

[2020-12-04 22:49] #16554 closed

[2020-12-04 22:50] joanneesteban commented on #16636
### Next next steps
Domo ownership
- [ ] Transfer all datasets
- [ ] Transfer all cards
- [ ] Transfer all pages

[2020-12-04 22:57] peggygannon opened #16968 "VSP content review - Usability prep - 10-10CG additional flow"
## User story
This ticket captures VSP content feedback for 10-10CG additional flow.

Staging link:  https://staging.va.gov/family-member-benefits/apply-for-caregiver-assistance-form-10-10cg/introduction

## Acceptance criteria
- [ ]  VSP/Peggy provides content feedback and recommendations for the form/tool.
- [ ] Product team incorporates feedback and/or asks follow up questions about the feedbac

[2020-12-04 22:57] 3obryandogs commented on #12948
@leahkeeler Attached are files for the I2 video script and user guide.

[Leah's video script - updated.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/5645949/Leah.s.video.script.-.updated.docx)

[Leah's product guide - updated.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/5645946/Leah.s.product.guide.-.updated.docx)

[2020-12-04 23:01] peggygannon opened #16969 "VSP content review - Usability prep - Health care questionnaires MVP"
## User story
This ticket captures VSP content feedback for Health care questionnaires

Prototype links
https://preview.uxpin.com/d3c9bb8ac5052d077234b5e4b2f7749d0bc5200d#/pages/134593965/simulate/no-panels?
https://preview.uxpin.com/db0b9ece7c8e0983a8baf1971db406af9f1d2201#/pages/134600026/simulate/no-panels?mode=cvhidm

## Acceptance criteria
- [x]  VSP/Peggy provides content feedback and recomm

[2020-12-04 23:11] youngfreezyVA commented on #16737
got it, that's a quick fix. re opening pr

[2020-12-04 23:13] bethpottsVADEPO commented on #16687
Cleveland and I had lots of email communication back and forth about how to message this tool since he wants it on the very specific page in disability called "Upload evidence to support your disability claim." One tricky part is that the tool can be used to upload any kind of document to VA--not just for disability benefits, and not just evidence. We came to agreement on text, then I shared on th

[2020-12-04 23:17] joanneesteban opened #16970 "Covid Dashboard - Iterate on Covid Dashboard for Vaccines"
## Problem Statement

VA digital health decision makers needs to understand how Veterans are looking for vaccine-related information and benefits during the pandemic so that the VA can best support them during a time of crisis.

How might we design a Covid-19 dashboard so that we can provide relevant data that VA digital health decisions makers need to understand how Veterans are looking for vacci

[2020-12-04 23:18] laurenernest commented on #15878
Ticket no longer needed. User can continue without provider selection. No provider selected = no preference. https://adhoc.invisionapp.com/share/BFZED2H362S#/screens/437633293

[2020-12-04 23:18] #15878 closed

[2020-12-04 23:25] jonathanjnelson commented on #16881
Hello @emilywaggoner! The addition to the form is the page with (see below) - _Would you like to add a Primary Family Caregiver?_ This will allow the user to skip adding primary caregiver information and just add secondary caregiver information to the form. The page lives after the Veteran information. There has been no other design/code changes to the form. We simply want to make sure the additio

[2020-12-04 23:26] mmiddaugh opened #16971 "508-defect-2 Mapbox in keyboard user flow"
## Issue Description
Zoom in/out to Search this area button focus management is inconsistent

On Chrome, if a user fires a zoom in/out event for the first time using space or enter, the Search this area button will appear and receive focus. This behavior is acceptable from an accessibility standpoint, but from a UX perspective it can be argued that this is taking control away from the user. e.g. W

[2020-12-05 00:07] laurenernest commented on #15944
@outerpress Spacing look good on these cards?
![Screen Shot 2020-12-04 at 4 05 40 PM](https://user-images.githubusercontent.com/72046525/101226880-bbbae680-364a-11eb-8d68-f4a5af07c696.jpg)

[2020-12-05 00:36] laurenernest opened #16972 "Add tracking for CC request language preference"
To help inform future iterations of the Community Care provider preferences, it would be helpful to know the distribution of preferred languages users include in their request.

## Task
- [ ] Add tracking for preferred language selection

## Acceptance Criteria
- [ ] Preferred language is included in submission event

## Technical Notes
We similarly update the submission event in #15834 for anothe

[2020-12-05 00:39] laurenernest commented on #16972
@jbalboni Do we track this in the submissions where I can pull this up in GA? Or, do you know of another way we can see this?

[2020-12-05 01:12] outerpress commented on #15944
Yep! Looks good to me.

[2020-12-05 01:33] ronrtafoya commented on #16662
Errera VA Clinic appears listed on the legacy site, but is not included in this ticket. I commented in Slack support page.

[2020-12-05 05:00] watersemma commented on #16494
Ideation is tracked collaborative mural board here: https://app.mural.co/invitation/mural/bahdigitalexperience6902/1605879130829?sender=watersemma2223&key=d7bb3c6a-2009-47bc-99cb-b2a024d85822

Design intent input has been reviewed and is incorporated some

[2020-12-05 05:00] #16494 closed

[2020-12-05 17:36] youngfreezyVA commented on #16923
it's definitely doable. here are screenshots as well as link to PR:

<img width="731" alt="Screen Shot 2020-12-05 at 9 33 36 AM" src="https://user-images.githubusercontent.com/46791771/101259367-5bc15000-36dd-11eb-9b9c-53cb78ccd48d.png">
<img width="744" alt="Screen Shot 2020-12-05 at 9 33 28 AM" src="https://user-images.githubusercontent.com/46791771/101259370-5d8b1380-36dd-11eb-8dfb-4b77cef2ae2f

[2020-12-05 19:01] DanielleThierryUSDSVA commented on #16923
This is fantastic news, @youngfreezyVA .Thank you so much for the quick turnaround!

@batemapf @artsymartha68 keeping you in the loop here re: design discovery for translation link.

[2020-12-05 19:26] jenstrickland commented on #16047
Please note this accessibility staging review is still in progress. Once we learned the team was still developing in staging, we put it on hold and worked on other priorities. We need to find the time to complete this.

[2020-12-05 20:04] DanielleThierryUSDSVA commented on #16766
@batemapf @lalexanderson-dsva SEO update below

Pasting in the SEO themes that bubbled up when I did my original SEO research using SEMRush on 11.17.20:

1.	When we’ll have a COVID-19 vaccine (various keywords: when will there be a vaccine, when will a vaccine be ready, vaccine updates, vaccine news, vaccine progress, vaccine tracker, how close are we to a vaccine)
2.	Vaccine trials
3.	Specific co

[2020-12-05 22:38] bethpottsVADEPO commented on #16810
Updated the two nodes:
http://preview-prod.vfs.va.gov/preview?nodeId=6860 (new Q&A is here)
http://preview-prod.vfs.va.gov/preview?nodeId=931 (new link to STEM page added to this work study page)

@RLHecht You can take your copyediting pass! Wait to publish until we hear back from SMEs.

[2020-12-06 19:53] meganhkelley opened #16973 "Create documentation for running diff between GraphQL/CMS Export Build"
## Details

VFS teams are responsible for maintaining the transformers for pages they own, and for ensuring that their transformers are ready for the release of CMS Export Build.

We need to document how to run the diff between GraphQL and CMS Export Build so that VFS teams can do this on their own.

Likely makes sense to add to most recent docs: [Transformers Development Guide](https://vfs.atlass

[2020-12-06 19:53] meganhkelley commented on #16973
Related convo: https://dsva.slack.com/archives/C01512KN35G/p1607018383415100

[2020-12-06 21:33] DanielleThierryUSDSVA commented on #16638
Hi @RLHecht @brianalloyd. Since this is a small, straightforward update, could we see if Selina or Laura could make the updates this week when they have a few moments?

[2020-12-06 21:50] Bester1987 opened #16974 "General Analytics Request for [Leslie Byford]"
# Metrics Reporting Request

## What this form is for

Use this template to request one-off performance, usability, or outcomes va.gov metrics that is difficult to access or that needs analytics interpretation. If you have your KPIs set, please [request a KPI dashboard](https://github.com/department-of-veterans-affairs/va.gov-team/issues/new?assignees=joanneesteban&labels=analytics-insights%2C+ana

[2020-12-06 23:44] bsmartin-ep commented on #16765
Sure thing @jbritt1.

[2020-12-06 23:54] bsmartin-ep commented on #7837
The following tags have been paused [in this GTM workspace](https://tagmanager.google.com/#/container/accounts/144676348/containers/2214120/workspaces/1000403)

- OPIA Joint Events
- OPIA Joint Pageviews
- OPIA Property Events
- OPIA Property Pageviews

These are the individual pageview and event tags for OPIA Joint and OPIA Property.

Are we pausing (eventually deleting) both?  They are attached

[2020-12-06 23:58] bethpottsVADEPO commented on #14544
Uploading the most recent deck here with track changes that will need to be made in drupal. @RLHecht @lwalsh617 please wait on making these edits for now, as some things will change with the SME review. You can do all the edits at once when I receive her feedback. I just wanted to make sure my edits were captured here.

I'll resolve edits on the copy that I send to the SME for review: [https://app

[2020-12-07 01:35] bsmartin-ep commented on #13494
### QA

Interaction|Data Layer|GTM Tag|Pass
-----|-----|-----|-----
`phased-roll-out-enabled` flag for user|N/A|N/A|N/A
View Search Results|![image](https://user-images.githubusercontent.com/62304138/101299783-65dc6f00-3801-11eb-856f-1b740cae9593.png)|![image](https://user-images.githubusercontent.com/62304138/101299758-47767380-3801-11eb-9c88-30e234280c64.png)|**:heavy_check_mark: PASS**
Onsite S

[2020-12-07 02:41] batemapf commented on #16923
Thanks! This looks great!

[2020-12-07 04:03] bethpottsVADEPO commented on #13842
@RLHecht You can start editing the first 4 pages under "Issue Description" where I added checkboxes. As I finish editing the rest of the surrounding pages, I'll add checkboxes to those too. Please ignore the tasks section for now until I have a chance to revisit those. We may not get through all of them for the build on Monday, and that's fine. Let's focus on the edits to the surrounding pages fir

[2020-12-07 12:32] rtwell commented on #15618
# Design

1. There is one maximum optional H2 at the top of the image list
2. Images and their respective content are listed in the following order:
      a.  Title of image (h3)—These are always displayed as h3s, but will need to dynamically change to h2s if there is no h2 present (as it is optional)
      b. Image
      c. Optional image description
3. In lieu of pagination, we use a Show more i

[2020-12-07 12:45] rtwell commented on #15618
# Progressive enhancement

I look to @jenstrickland for any corrections or additions to this:

![image](https://user-images.githubusercontent.com/12564977/101352430-2133f080-3860-11eb-920f-487412c7ac0c.png)

[2020-12-07 13:26] dmccurdybah commented on #15952
PR: https://github.com/department-of-veterans-affairs/vets-website/pull/15210

[2020-12-07 13:44] holdenhinkle opened #16975 "Update Cypress docs with information about new hasCount() custom command"
## Issue Description
Update Cypress documentation to include information about new hasCount() Cypress custom command.

---
## Tasks
- [ ] Add documentation about new hasCount() Cypress custom command
- [ ] If documentation about the old hasFocusableCount() and hasTabbableCount() helper functions exists, remove it.

## Acceptance Criteria
- [ ] Documentation will be updated.

[2020-12-07 13:49] wwanamaker commented on #15380
Hi @Kimberley2019 , I'm following up on this as TJ is on leave. The feature was pushed into production and I wanted to make sure that the contact center is all set. Do they need anything else from us?

[2020-12-07 13:49] amyknox commented on #16597
Reviewed initial approach with Education Service on 11/30. Back to the drawing board to refine with email and possible with-in form alert.

[2020-12-07 14:04] RLHecht commented on #16638
@DanielleThierryUSDSVA This shouldn't be a problem!

[2020-12-07 14:17] holdenhinkle commented on #16975
PR submitted - https://github.com/department-of-veterans-affairs/va.gov-team/pull/16976

[2020-12-07 14:36] holdenhinkle commented on #16975
This is merged.

[2020-12-07 14:37] #15799 closed

[2020-12-07 14:37] jbritt1 commented on #15799
User is offboarded (#16765)

[2020-12-07 14:41] leahkeeler commented on #12948
HI @3obryandogs - the product guide still has screen shots from Iteration 1 - it needs ot be updated to iteration 2

[2020-12-07 14:44] jbalboni commented on #16972
@laurenernest I don't believe there's a way to see this currently, we'd have to add this to the submission event like we did for number of providers.

[2020-12-07 14:44] jbritt1 commented on #16689
Document is in "near-complete" status, awaiting team feedback.

[2020-12-07 14:44] jbritt1 commented on #16689
https://vfs.atlassian.net/wiki/spaces/VI/pages/797638657/Unbound

[2020-12-07 14:46] joanneesteban opened #16977 "16348"

[2020-12-07 14:47] joanneesteban opened #16979 "analytics kpi dashboard request for covid dashboard"

[2020-12-07 14:57] pjhill opened #16980 "Metrics for Cypress Viewport Use"
## User Story

As a VSP testing team member, I want to measure the adoption, use, and compliance with platform recommendations for the Cypress viewports.

## Expected Behavior

- [ ] ~~VFS teams with existing hardcoded viewport sizes migrate to the abstracted top 5s.~~
*We are not recommending iterating through multiple viewports at this time due to the likely linear increase in test execution tim

[2020-12-07 14:58] leahkeeler commented on #16361
I think we need to make this more specific to the actual field as we discussed during team meeting

[2020-12-07 14:58] pjhill commented on #16330
Original and Refactor PRs merged
Detailed tasks completed
Created a [follow-up ticket](https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/16980) to measure the use of these viewport environment variables

[2020-12-07 14:58] #16330 closed

[2020-12-07 14:59] kevinstachura commented on #16489
Oh wow, lots of discussion on this! Really good ideas. I will work on @sshein 's concept of maybe separating out the 'you can save it as entered' concept. Just wanted to throw my concept in there too, before I saw all this:

<img width="858" alt="Screen Shot 2020-12-07 at 9 53 49 AM" src="https://user-images.githubusercontent.com/54544300/101365863-4df10380-3872-11eb-9c68-95fd3e8813c9.png">

As fa

[2020-12-07 14:59] pjhill commented on #16474
Great work!

[2020-12-07 14:59] #16474 closed

[2020-12-07 15:07] srsuddath commented on #13494
@bsmartin-ep Yes, you should. Let me check around and see what I can find out.

[2020-12-07 15:11] JoeTice commented on #13849
Moving to future initiatives till after holiday code freeze, will plan to execute this on Jan 4 2021

[2020-12-07 15:11] JoeTice commented on #16544
Moving to future initiatives till after holiday code freeze, will plan to execute this on Jan 4 2021

[2020-12-07 15:16] 1Copenut commented on #16776
Spot checked with MacOS + Safari + VoiceOver and Win10 + Chrome + JAWS/NVDA. All worked as expected. Moving to close.

/cc @leahkeeler & @bradl3yC

[2020-12-07 15:17] stephenBarrs opened #16981 "Analytics Implementation or QA Support for coronavirus-vaccination"
# Google Analytics Implementation or QA Request

## Description
- This request is for Google Analytics implementation

- Who is this request for?
    - @stephenBarrs @batemapf  @ncksllvn

- What team/project is this work for?
    - coronavirus-vaccination

- Provide the Domain where Google Analytics needs to be implemented
    - www.staging.va.gov
    - www.va.gov

 - No PII will be passed in URL

[2020-12-07 15:17] leahkeeler commented on #16776
Thank-you Sir :) Hate having those launch-blockers

[2020-12-07 15:18] 1Copenut commented on #16786
@bradl3yC Can we make the `<dd>` elements left-aligned to match the original design? Otherwise this is good to go. Spot checked it with the big three screen readers as part of another item.

[2020-12-07 15:18] delli-gatti-michael commented on #16558
@department-of-veterans-affairs/uxbah This is on staging and ready for review

[2020-12-07 15:19] zurbergram commented on #16818
https://github.com/department-of-veterans-affairs/devops/pull/8145

[2020-12-07 15:21] 3obryandogs commented on #12948
@leahkeeler - I used screen shots from https://staging.va.gov/manage-va-debt/your-debt/. I left in two that you'd made earlier because they had arrows and notes. Let me know what you want changed. Thanks!

[2020-12-07 15:25] bridgethapner opened #16982 "Error States: Phone Number Screens"
## User Story
As a user saving a phone or fax number, I want to see the message "Please enter a valid phone number." when what I've written does not meet field requirements.

## Tasks
- [ ] Design UI for what a phone number screen looks like when an error has occurred
- [ ] Define text of the error
- [ ] Define when the error shows up (e.g. field rules)

[2020-12-07 15:27] JenLJ commented on #16558
UX Review 1 of 2: This checks out for me!

[2020-12-07 15:29] #16696 closed

[2020-12-07 15:29] kelsonic commented on #16950
@RLHecht so it sounds like we'll need to publish that new page on Jan 4 too CC @bradl3yC

[2020-12-07 15:31] bridgethapner opened #16983 "UI design of new Common Component: Delete Button"
## User Story
As a user, I would like to be able to delete any phone number, fax, email, or residential address with one click of a button.

## Tasks
- [x] Design UI of button
- [ ] Document design as a common component

[2020-12-07 15:33] bridgethapner opened #16984 "App start & login/unlock UX"
## User Story
UX and Patrick to work together on app start and login/unlock UX to support sync and push notifications in the app.

[2020-12-07 15:34] SlakrHakr commented on #14954
Email forwarded

[2020-12-07 15:35] #12739 closed

[2020-12-07 15:37] lunascoop commented on #16638
@RLHecht these pages are ready for review. You can break my lock on the Drupal pages!

- PTSD Treatment: http://preview-prod.vfs.va.gov/preview?nodeId=19
- VA mental health services: http://preview-prod.vfs.va.gov/preview?nodeId=23 (Updated link in first set of accordions only. Didn't update link in "How do I schedule my first appointment?" as it also referenced finding local medical facility.
- M

[2020-12-07 15:38] joanneesteban commented on #16970
Bodies of work here - incorporating data from:

1. Vaccine trial registry. @jasonthebearded has begun work in [16348](https://app.zenhub.com/workspaces/vsp-5cedc9cce6e3335dc5a49fc4/issues/department-of-veterans-affairs/va.gov-team/16348).
2. Contact Center data. @clantosswett & Contact Center team will provide updates.
3. Chatbot data. We should already be tracking data. @bsmartin-ep do you know i

[2020-12-07 15:41] erikphansen commented on #16793
Narrowed the scope of this ticket to just create the feature flag. It will be used in future PRs that set up the new Redux actions and the new `DirectDepositContent` component.

[2020-12-07 15:42] jason-gcio commented on #16302
PubWeb should be able to get this in for us by next sprint (request #16957)
last usability will roll into UAT after security and privacy review

[2020-12-07 15:42] #16302 closed

[2020-12-07 15:45] joanneesteban commented on #16974
Thanks for sending this request, @Bester1987 !

@bmcgrady-ep is going to be working on the report for you. We estimate a final report completed for you by EOD tomorrow (12/8), but will try to have this done today. Let us know if you have any questions!

---

@bmcgrady-ep is it possible to put this up on Domo so we can use these datasets in the future?

[2020-12-07 15:48] pjhill opened #16985 "VSP Testing Services for Vaccine Preparation Tool"
In support of the rapid development and release of a tool to gauge interest in COVID vaccination distribution, VSP will employ various test methodologies in order to verify and validate the acceptance criteria and business requirements of the vaccine preparation tool.

[2020-12-07 15:50] SKasimow commented on #16923
Yes, great news! Thanks @youngfreezyVA

[2020-12-07 15:58] starlow00 commented on #14318
@clantosswett and @Kimberley2019  Thought I attached this Friday, but I don't see it here. [https://app.zenhub.com/files/133843125/cb22a496-cdaf-451c-8138-cd360a03e99f/download](https://app.zenhub.com/files/133843125/cb22a496-cdaf-451c-8138-cd360a03e99f/download)

[2020-12-07 15:59] Jeff-Hayter commented on #14954
@jsev-io Approved for AWS.

[2020-12-07 16:01] brianalloyd commented on #15196
@jonwehausen thanks for closing the loop on this greatly appreciated.  Keep us updated on what else you need to close this out and we'll ensure we provide follow up and resolution soonest.  Thanks, Brian.

[2020-12-07 16:02] sporeboy commented on #13812
Sixth and final session conducted 12/7/20.

[2020-12-07 16:05] jsev-io commented on #14954
Thanks @Jeff-Hayter & @SlakrHakr

[2020-12-07 16:08] pjhill opened #16986 "Create Manual QA Test Cases"
## User Story

As a QA engineer verifying and validating the development of the Vaccine Prep Tool, I need to initially stub out test cases and then iterate the definition of test cases in a test suite.

## Acceptance Criteria

- [ ] Manual test case stubs have been created based on the user stories, prototypes, and initial draft of the front-end / back-end.
- [ ] The steps to a test case represent

[2020-12-07 16:09] #15684 closed

[2020-12-07 16:09] 1Copenut opened #16987 "Accessibility Review - COVID Vaccine Prep Tool"
This will serve as the epic to house any accessibility issues uncovered during the VSP accessibility audit.

[2020-12-07 16:10] Mottie commented on #16489
I combined all the suggestions and ended up with this...  how does it look?

I've also added numbering because during UAT, we always see the Veteran counting their entries

![Screen Shot 2020-12-07 at 10 08 42 AM](https://user-images.githubusercontent.com/136959/101374943-6bbf6800-3874-11eb-9cf2-df2eb1bbd091.png)

[2020-12-07 16:12] joshkimux opened #16988 "508-defect-2 [COGNITION, SCREENREADER]: Changes to the length of the form SHOULD be announced to screen reader users"
## [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2020-12-07 16:12] leahkeeler commented on #16827
Hi @peggygannon This is the last piece of iteration 2 - do you have ETA of when you will be able to review this so the FE devs can merge - Thanks!

[2020-12-07 16:13] pjhill opened #16989 "Create Pact Tests"
## User Story

As a QA engineer verifying and validating the development of the Vaccine Prep Tool, I need to create Pact tests in order to verify the endpoints used for the product remain available and functioning as expected over time.

## Acceptance Criteria

- [x] Survey the existing [skeletal back-end](https://github.com/department-of-veterans-affairs/vets-api/tree/covid-19-vaccine-registry-se

[2020-12-07 16:14] bridgethapner commented on #16698
Hi @bessgreen Yes, this is correct!

[2020-12-07 16:15] YanaRoy opened #16990 "Add Laurel Lawrence to DSVA Slack as Full Member"
Hello! We have a new person starting with the VSA Project. Can you please add her as a full member to the DSVA Slack. Thanks!
Email: Laurel.Lawrence@adhocteam.us

[2020-12-07 16:17] Samara-Strauss commented on #13812
Great! We can close this.

[2020-12-07 16:17] #13812 closed

[2020-12-07 16:21] ksantiagomorgan6 commented on #16620
Pull Request: https://github.com/department-of-veterans-affairs/vets-website/pull/15215

[2020-12-07 16:23] pjhill opened #16991 "Create Load Tests"
## User Story

As a QA engineer verifying the performance of the vaccine prep tool under load, I need to examine the skeletal back-end, plan for load testing based on analysis of comparable tools, and create load tests in Locust.

## Acceptance Criteria

- [x] Using the skeletal back-end available in [this branch of vets-api](https://github.com/department-of-veterans-affairs/vets-api/tree/covid-19

[2020-12-07 16:27] RLHecht commented on #16638
Thanks for the quick turnaround @lunascoop ! @DanielleThierryUSDSVA These pages have all been published. Moving to validate and will close after today's deploy.

[2020-12-07 16:27] caw310 opened #16992 "Update outdated documentation for mailing address and name"
## Issue Description
Update outdated documentation for mailing address and name

---
## Tasks
- [x] Update documentation  for mailing address in the forms library
- [x] Update documentation  for name in the forms library

## Acceptance Criteria
- [x] Documentation is updated for mailing address and name
---

[2020-12-07 16:30] bridgethapner commented on #16709
@bessgreen Hyperlink in AC #3 goes to: https://staging.va.gov/claim-or-appeal-status/

[2020-12-07 16:30] YanaRoy opened #16993 "VSA Onboarding - Laurel Lawrence"
## Welcome to the VSA Program

Welcome! This issue will be used to track your onboarding to the VSA Program.

---

## Pre-Onboarding

**Operation Lead Tasks**

- [ ] Send Welcome email to New Hire (request GitHub Username)

*Send Notifications with New Hire details (name, position, start date) to:*

- [ ] Admin Analyst
- [ ] VA Leadership
- [ ] VA PO
- [ ] Practice Lead
- [ ] VSP Onboarding

**Acc

[2020-12-07 16:33] bridgethapner commented on #16777
@bessgreen Story #14029 has a UX solution for this - if there's no est decision date we want to show a message saying that in place of the date.

![Screen Shot 2020-12-07 at 10.32.23 AM.png](https://images.zenhubusercontent.com/5d8e52f61c53fd000173c5de/cf01ecc9-22bb-46aa-8bfd-93b01673b613)

[2020-12-07 16:34] bridgethapner commented on #16700
@bessgreen Unfortunately claims is timing out in staging at the moment, will check back later today and hopefully be able to share the link then!

[2020-12-07 16:40] DanielleThierryUSDSVA commented on #16638
Thank you so much, @RLHecht @lunascoop!

@davidconlon These updates will be live in today's deploy. Thanks!

[2020-12-07 16:43] #14284 closed

[2020-12-07 16:45] joanneesteban commented on #15757
Reassigning to @bmcgrady-ep .

[2020-12-07 16:46] bessgreen commented on #16709
Update: hyperlink in AC #3 goes to https://www.va.gov/claim-or-appeal-status/

[2020-12-07 16:47] joanneesteban commented on #16348
Vaccine Response charts started on [this page](https://va-gov.domo.com/page/1096571128).

[2020-12-07 16:48] kevinmirc commented on #12111
Wanted to document the original reason for making this form unauthenticated: Given that multiple people sign this form, having one user authenticated would delegitimize the other signatures (this was a blocker posed by Legal).

[2020-12-07 16:50] holdenhinkle opened #16994 "Automatically update Cypress files with VA.gov user viewport data once a month"
## Issue Description
Instead of manually logging into the VA.gov Google Analytics account once a month to manually get the latest viewport information for mobile, tablet and desktop devices, then updating the code, and finally submitting a PR, we'd like to automate this process.

---
## Tasks
- [x] Create a Sidekiq(?) job that executes a script once a month, on the first of every month
- [x] The s

[2020-12-07 16:50] sporeboy commented on #14978
This ticket is invalid; new copy/design changes were implemented.

![Screen Shot 2020-12-07 at 11.49.14 AM.png](https://images.zenhubusercontent.com/5d6ec7967521390001c3e794/6928b20f-1b9c-450f-8b30-4caaa4a156d1)

[2020-12-07 16:51] timwright12 opened #16995 "[Pre-release] Improve local development experience for content-build repository"
The current (and plan for) vets-website and content-build repos are decoupled so that an developer updating CSS or JS for the main vets site (i.e. something not in an application) isn't really possible.

The goal here is to make updates viewable locally without breaking apart all the assets and rearchitecting the system.

[2020-12-07 16:52] kevinmirc commented on #7429
Resolved in https://github.com/department-of-veterans-affairs/vets-json-schema/pull/537.

[2020-12-07 16:52] #7429 closed

[2020-12-07 16:52] #16962 closed

[2020-12-07 16:53] kevinmirc commented on #6703
Relates to: https://github.com/department-of-veterans-affairs/va.gov-team/issues/16875

[2020-12-07 17:06] bradl3yC commented on #16786
@1Copenut this has been resolved - should be in staging in the next 30 mins to 1 hour

[2020-12-07 17:08] DanielleThierryUSDSVA commented on #16048
Hi @CrystabelReiter. Heard back from VBA SME. As I'd suspected, they confirmed that, at this time, they do not want to promote Direct Express due to some issues with fraud. So they propose that we **only** go with the VBBP copy. I think we can also keep a modified note re: calling the Treasury Dept. if you don't want to use direct deposit.

Content is below. This should replace all instances of th

[2020-12-07 17:10] joshkimux opened #16997 "508-defect-2 [COGNITION]: Checkbox selections MUST be clear to the user on the review information page"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-1)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2020-12-07 17:14] bessgreen commented on #15963
Update from @bridgethapner (via va.gov Profile team): Anything from 1-17 digits is valid

[2020-12-07 17:18] bmcgrady-ep commented on #16974
@Bester1987 - Would you have time to meet and discuss the metrics further, as I have some questions that would hopefully clarify what you are looking for?

[2020-12-07 17:21] Bester1987 commented on #16974
Hi Ben,

Sure! I have some time now or at 2:30, whichever works best for your schedule. Thanks!

Best,
Leslie

From: Ben McGrady <notifications@github.com>
Sent: Monday, December 7, 2020 12:19 PM
To: department-of-veterans-affairs/va.gov-team <va.gov-team@noreply.github.com>
Cc: Byford, Leslie E. <Leslie.Byford@va.gov>; Mention <mention@noreply.github.com>
Subject: [EXTERNAL] Re: [department-of-ve

[2020-12-07 17:25] mmiddaugh commented on #16921
[testrail-report-165.pdf](https://github.com/department-of-veterans-affairs/va.gov-team/files/5654155/testrail-report-165.pdf)
[testrail-report-166.pdf](https://github.com/department-of-veterans-affairs/va.gov-team/files/5654171/testrail-report-166.pdf)

[2020-12-07 17:25] bmcgrady-ep commented on #16974
@Bester1987 - Sure I am available to meet now.

[2020-12-07 17:28] laurenernest commented on #16840
@jbalboni Per the release timing discussion, I've added the 2 analytics events to the ACs. Please update the LOE estimate if necessary. I'm going to hold off on tracking the phone number clicks right now.

[2020-12-07 17:29] srsuddath commented on #13494
@bsmartin-ep I found a bug that was preventing the error from being logged, I have pushed up a fix to this pull request:
https://github.com/department-of-veterans-affairs/vets-website/pull/15181

[2020-12-07 17:29] 1Copenut opened #16998 "508-defect-1 [SCREENREADER]: COVID Vaccine - Focus must be set on the H1 when users start the intake form"
# [508-defect-1 :exclamation: Launchblocker](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-1)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and a

[2020-12-07 17:39] 1Copenut opened #16999 "508-defect-2 [COGNITION]: COVID Vaccine - Users must be able to re-enter their email address on the logged out form"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2020-12-07 17:39] #9156 closed

[2020-12-07 17:43] #16470 closed

[2020-12-07 17:47] Samara-Strauss commented on #16470
Was this closed because it is finished? Or because it was closed in favor of another ticket. When closing, please include a short note about why. Otherwise, I have no idea what the actual status of the work is.

[2020-12-07 17:49] mpelzsherman commented on #16220
Here is the error we see when the builds fail due to a CMS system update in progress:

[code]

[2020-12-07 17:49] zurbergram commented on #16818
https://github.com/department-of-veterans-affairs/vets-website/pull/15219

[2020-12-07 17:51] mdewey commented on #16591
Content changes in PR

[2020-12-07 17:54] #16328 closed

[2020-12-07 17:55] bmcgrady-ep commented on #16974
Thank you for taking the time to meet with me @Bester1987.

To recap what we discussed: You are looking to update the metrics that were provided back in May 2019, there isn't much insight into who created the report or how the report was created, but I will do some investigation to see if I can find the original report. Ideally, you would like the data to be from the date range of May 2019 - Prese

[2020-12-07 17:55] mmiddaugh opened #17000 "Remove hard coded logic in health-care-region.js file"
## Issue Description
Custom pages in `src/site/stages/build/drupal/health-care-region.js` need to be removed ASAP to remove hardcoding and resolve technical debt - ideally before we cut over to transformers.
This is similar to the work which was done to [remove legacy logic from the health services page](https://github.com/department-of-veterans-affairs/vets-website/pull/15217)

Logic in `src/site

[2020-12-07 17:56] SKasimow commented on #16667
@DanielleThierryUSDSVA Hi Danielle - tagging you on this analytics ticket for our review later; need some help to complete.

[2020-12-07 17:59] mshea0606 commented on #16470
Will do. This has been completed.

[2020-12-07 17:59] joanneesteban commented on #2779
Results from discussions & [user feedback](https://app.optimalworkshop.com/a/adhoc/questions/results/db7588ec-a3e7-4cb5-a500-c4608a2ffbd7#/t/results/analysisTools/questions).

VFS teams should be using the same KPI and website performance data that we're providing for KPI dashboard and that we're working on retrieving for website performance dashboards.
- Having separate dashboards just for rollou

[2020-12-07 18:00] larrywest52 commented on #16797
All pages written, cross-checked and revised.

[2020-12-07 18:01] Bester1987 commented on #16974
Thank you Ben. I appreciate your assistance with this request.

From: Ben McGrady <notifications@github.com>
Sent: Monday, December 7, 2020 12:56 PM
To: department-of-veterans-affairs/va.gov-team <va.gov-team@noreply.github.com>
Cc: Byford, Leslie E. <Leslie.Byford@va.gov>; Mention <mention@noreply.github.com>
Subject: [EXTERNAL] Re: [department-of-veterans-affairs/va.gov-team] General Analytics R

[2020-12-07 18:04] dneel-bah commented on #16839
Closing as OBE based on EDU feedback to not change the spool file on 12/07 call.

[2020-12-07 18:04] #16839 closed

[2020-12-07 18:05] CrystabelReiter commented on #16048
Thanks @DanielleThierryUSDSVA We really appreciate your help on this

[2020-12-07 18:05] rroueche commented on #16643
Some additional questions pursuant to my meeting w/the rest of DEPO:

- Is community care facility selection captured along with some of the address data?
- If we ask Google to remove the data...
  - Does that mean every VA.gov product would be missing that time period of data that we clear out?
  - Does that mean we wouldn't be able to monitor products while thing are being reconfigured?
  - Woul

[2020-12-07 18:06] amyknox commented on #16558
UX Review 2 of 2: This checks out for me, too.  Way more results with "Texas" in the name.  Good stuff.

[2020-12-07 18:15] bsmartin-ep commented on #16643
@rroueche -

Yes - 'Facility type' is one of the fields we collect in the Event action

From what we understand, Google removes all data for the "column" you request.  In this case, we believe they would remove the "Event Action" for every event in that time period.  Some products (especially newer implementations) use Event Action to bank data, so those would be greatly affected.  Other products

[2020-12-07 18:16] rroueche commented on #16643
Thanks @bsmartin-ep ! I added one more question there, sorry :) Appreciate these answers, thank you!

[2020-12-07 18:16] delli-gatti-michael commented on #16558
Closing this out

[2020-12-07 18:16] #16558 closed

[2020-12-07 18:20] bsmartin-ep commented on #16643
@rroueche -

Just an address string.  Lat/Lng is used in the geocoding, but we don't save it.

[2020-12-07 18:25] youngfreezyVA commented on #15618
hey @jenstrickland hope you had a good weekend... wanted to see if you had any input before i got started

[2020-12-07 18:35] lexicalninja commented on #16284
12/7
Met with Chris, got a hand hold into the code from va.gov and working to reverse engineer the va.gov code and then engineer mobile app code from there to use the data.

[2020-12-07 18:35] jason-gcio opened #17001 "Request a VSA design, dev intent, or spot check review for "View Payment History""
## Instructions

1. Click or press the gear icon next to the "Labels" heading on the right. Search for your team in the labels list. If your team is not listed in the Labels menu, please leave a comment after you have created this issue. The Product Support team will create a new label for your team.
2. Text inside `<-- comment -->` blocks will not appear in your issue ticket. These comments offer

[2020-12-07 18:41] denisecoveyduc opened #17002 "Staging Review [Search & Discovery - Type Ahead POC]"
## Steps to complete Staging Review:

- [x] Product Manager: create this issue and fill in feature name in the title and other bolded information appropriately
- [x] Attach all artifacts before requesting the meeting
- [x] Link to this issue once created in [#vfs-platform-support](https://dsva.slack.com/channels/vfs-platform-support) in Slack; tag @ Shira Goodman and @ Andrea Hewitt
- [x] Shira to

[2020-12-07 18:44] holdenhinkle commented on #16989
`vets-website branch`: `16989_create_pact_tests`

[2020-12-07 18:44] #15071 closed

[2020-12-07 18:46] jason-gcio commented on #15648
Probably not for this...trying to remember what the additional questions were. 🤔

[2020-12-07 18:47] esther-k opened #17003 "Past Appointment Details - Accessibility Issues"
## What Happened?
NOTE: Adding that this bug also applies to Canceled Appointments. -Ken

**VoiceOver / TalkBack**

1. With the appropriate screen reader enabled on iOS and Android, the a11yHint for the back button is not being picked up
     - Note: affects all past appointments (VA appointment, VAVC at home; etc)
     - NOTE: Should be updated with [a11y update ticket](https://app.zenhub.com/wor

[2020-12-07 18:49] christine-dillman commented on #15351
The IAM team resolved this issue by increasing their request header size in the ISAM.

[2020-12-07 18:49] digitalken commented on #16739
PASS 12/7/2020 - Margin now looks like designs.

[2020-12-07 18:49] #16739 closed

[2020-12-07 18:49] #15351 closed

[2020-12-07 18:53] joshkimux opened #17004 "508-defect-2 [FOCUS MANAGEMENT, SCREENREADER]: Focus on page load SHOULD be consistent"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-3)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2020-12-07 18:54] esther-k commented on #15754
**12/07**

UI and functionality pass on iOS and Android. Accessibility fails with a [multi-issue bug](https://app.zenhub.com/workspaces/va-mobile-app-5f205eac3155a2000f422ecb/issues/department-of-veterans-affairs/va.gov-team/17003) entered. Moving to Design QA

[2020-12-07 18:55] denisecoveyduc opened #17005 "Project Kickoff [Search & Discovery- Click Tracking]"
## Steps to complete Project Kickoff
- [x] Product Manager: create this issue and fill in feature name in the title and other bolded information appropriately
- [x] Attach all relevent artifacts to the ticket
- [x] Link to this issue once created in [#vfs-platform-support](https://dsva.slack.com/channels/vfs-platform-support) in Slack; tag @ Shira Goodman and @ AndreaHewitt
- [x] Shira will schedu

[2020-12-07 18:57] bethpottsVADEPO commented on #14001
@DanielleThierryUSDSVA We're ready to implement changes to chapter 36 references in the coronavirus FAQ.  Is it ok if Randi goes into the file to do that now? I'll let you two work out timing, but the sooner the better.

[2020-12-07 18:58] #15289 closed

[2020-12-07 18:59] MarciMcGuireGCIO commented on #7548
MVP has been delivered; 508 results could take months, so I'm moving that deliverable out of this epic

[2020-12-07 19:02] #16937 closed

[2020-12-07 19:02] bridgethapner commented on #13696
Per 12/7 stand up, we want to use the phone's share sheet instead of the SMS app since those are a similar level of effort / the share sheet is recommended by Patrick. @lexicalninja @bessgreen Do we need more definition of the requirement past deciding to use the share sheet?

[2020-12-07 19:03] digitalken commented on #14161
Added to TestRail.

[2020-12-07 19:04] MarciMcGuireGCIO commented on #8248
Moving this to our Sitewide epic so we can close other epics that are otherwise complete.

[2020-12-07 19:04] #15581 closed

[2020-12-07 19:04] alexpappasoddball commented on #3407
@omgitsbillryan removing this from the BE Tools board and adding it to the Ops board, might want to double check my labels to make sure it doesn't get lost on the Ops board.

[2020-12-07 19:05] #15582 closed

[2020-12-07 19:05] #15580 closed

[2020-12-07 19:05] bessgreen commented on #13966
Share sheet example:
![image (8).png](https://images.zenhubusercontent.com/5f64e41291069a617acc1b47/b28732b0-8608-4f2a-a99d-d0f9dd956973)

[2020-12-07 19:07] #16613 closed

[2020-12-07 19:08] digitalken commented on #13958
Added to TestRail.

[2020-12-07 19:09] pnwstevan commented on #16303
Hi @bosawt!

SOCKS access granted - please review this [guide](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/engineering/internal-tools.md#configure-the-socks-proxy) to configure and use the SOCKS proxy.

[2020-12-07 19:09] digitalken commented on #16424
Testing...

[2020-12-07 19:11] joanneesteban commented on #16970
Continuation of other bodies of work:

6. Clean up the current week/month view. It looks like the numbers fall off during the current week/month and are misleading.
7. Fix data update bugs. Outside of Contact Centers data, it looks like the following datasets aren't updating:
    - `Topic Trends` - `Number of link clicks on homepage banner` - no update since 11/4
    - @lalexanderson-dsva is there

[2020-12-07 19:14] peggygannon commented on #16489
Hi, @kevinstachura and @Mottie here's additional recommendations from me, based on your mockups ^^^

Also, what are your thoughts about doing away with the helper link (What if I don't know the name of my condition), since we've added info to this content about what user can do if they don't find a match?

also, i don't recommend putting the (*Required) right after You don't have to choose one of

[2020-12-07 19:18] digitalken commented on #15739
Testing...

[2020-12-07 19:19] AGarcia-Clarity commented on #16388
I think this ticket might be able to be closed as it has already been merged in with the above issue on GitHub.

[2020-12-07 19:19] dmccurdybah commented on #16630
PR: https://github.com/department-of-veterans-affairs/vets-website/pull/15210

[2020-12-07 19:20] joshkimux commented on #15386
@jason-gcio I've completed the accessibility review, so I'm assigning this to you 😄
Note for @1Copenut that this does not include testing with JAWS as I am still working on getting my license 🙇

[2020-12-07 19:26] laurenernest opened #17006 "[Design] Facility v2 - 0 & 1 facility found"
## Background
When the Facility Selection v2 page returns 0 or 1 valid result, an alert box with respective message displays. With the improvements to the page that show results for valid facilities that don't have online scheduling enabled, we should review the context of alert and if updates need to be made.

**Example 0 facility**
![image.png](https://images.zenhubusercontent.com/5f7dd2dad6b9a9

[2020-12-07 19:26] bramleyjl commented on #15236
Duplicate issue: https://github.com/department-of-veterans-affairs/va.gov-team/issues/15883
PR (linked to duplicate issue): https://github.com/department-of-veterans-affairs/vets-api/pull/5437

[2020-12-07 19:26] peggygannon commented on #16827
hello, @3obryandogs and leah, yes taking a look at this today. I've requested access to the google doc.

[2020-12-07 19:28] #15236 closed

[2020-12-07 19:29] tressaellen commented on #16964
I'm dropping this link in here from the claims folks so it doesn't get lost in slack. :) https://dsva.slack.com/archives/C5AGLBNRK/p1596741886253000

[2020-12-07 19:33] MarciMcGuireGCIO commented on #1632
Moved Sitewide items to sitewide epic https://github.com/department-of-veterans-affairs/va.gov-team/issues/16897; moved remaining 508 issue into a post-MVP epic.

[2020-12-07 19:33] #1632 closed

[2020-12-07 19:37] #14978 closed

[2020-12-07 19:37] bridgethapner commented on #14031
Thank you so much @DanielleThierryUSDSVA & @peggygannon! We appreciate your help on these highest priority items! I am going to close this ticket for now. We would love to ask for more of your help in early 2021 (perhaps ~February-March) if you have the bandwidth then (I can reach back out). For now, we feel we have everything we need to go into our next round of testing.

@bessgreen @jmarchi All

[2020-12-07 19:37] #14031 closed

[2020-12-07 19:40] MarciMcGuireGCIO commented on #11378
Moving remaining outstanding issues to a post-MVP epic and closing out this post-soft-launch ticket for clarity.

[2020-12-07 19:40] bessgreen commented on #13696
@bridgethapner we should be good to go!

[2020-12-07 19:41] #11378 closed

[2020-12-07 19:41] Samara-Strauss commented on #16964
@tressaellen thank you for that! That's really interesting — I hadn't seen that convo before. One thing to note is even for the people who have a crazy amount of claims, they likely aren't going to all get updated at the same time, and even if they magically did, we don't need to show them all on the dashboard. In other words, we don't need to accommodate showing 32 claims on the dashboard even if

[2020-12-07 19:42] gunsch commented on #1579
I'm interested in continuing to track the CSP work, but I see that CSP is still not enabled in prod on www.va.gov.

Is there another ticket tracking overall enablement of CSP, or should this be reopened?

[2020-12-07 19:51] elder-joseph commented on #16898
Associated PR: https://app.zenhub.com/workspaces/vft-59c95ae5fda7577a9b3184f8/issues/department-of-veterans-affairs/vets-website/15222

[2020-12-07 19:54] joshkimux opened #17007 "Accessibility feedback for the Spot Check Review - eBenefits [View Payment History]"
**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Point of Contact

VSA: Josh
VSP: Trevor

## Details

This epic contains the accessibility feedback for the Spot Check Review - eBenefits [View Payment History].

## Definition of done

1. Review and acknowledge feedback.
1. Fi

[2020-12-07 19:54] joanneesteban commented on #16970
@JasonTheBearded edited the dashboard you created to include a template of what it should eventually look like (including formatting for eventual exports). Please edit it as you need to.

[2020-12-07 19:57] RLHecht commented on #16810
@bethpottsVADEPO These changes all look good. I'll wait to hear from Tammy to publish.

[2020-12-07 19:57] jenniferlee-dsva commented on #15618
@youngfreezyVA - you can use this preview sample node to test with:  http://preview-prod.vfs.va.gov/preview?nodeId=6954

Or same node in staging: http://preview-staging.vfs.va.gov/preview?nodeId=6954

[2020-12-07 20:00] drorva commented on #16637
Confirmed by @mpelzsherman and Paul Short that this works.

[2020-12-07 20:00] #16637 closed

[2020-12-07 20:05] digitalken opened #17008 "Appointments Upcoming / Past - Using keyboard up/down arrows on appointments is actually going through menu of appointments on previous page"
## What happened?
With a bluetooth keyboard attached, I used the up/down arrows on an individual appointment (upcoming or past) and found that I couldn't see where the highlighted section was on the current page. I tapped the Enter key and found myself on another appointment.  The up/down arrow keys on the keyboard are actually going through the menu list of appointments on the previous page while

[2020-12-07 20:06] #16388 closed

[2020-12-07 20:07] omgitsbillryan commented on #3407
Linked one final ticket ☝️ , but ya, this is donezo.

[2020-12-07 20:07] #3407 closed

[2020-12-07 20:09] dmccurdybah commented on #14243
PRs:

- https://github.com/department-of-veterans-affairs/vets-website/pull/15227
- https://github.com/department-of-veterans-affairs/vets-api/pull/5445

[2020-12-07 20:12] zacharymorel commented on #8253
@jenstrickland this is ready for validation on https://staging.va.gov/find-forms/

[2020-12-07 20:13] srsuddath opened #17009 "Search & Discovery - Search.gov fwd proxy endpoint"
## Description
We need a backend fwd proxy set up to allow us to hit the Search.gov click tracking API endpoint (Secret key required)

## Background/context/resources
The endpoint is:
https://api.gsa.gov/technology/searchgov/v2/clicks/

the required parameters are:
url: passed in
query: passed in
affiliate: va
position: passed in
module_code:  I14Y.
access_key: (this is a secret, reach out to me f

[2020-12-07 20:17] ltrombley commented on #16323
**Task #16323 - Create Staff Profiles for VISN 2 Systems Program Providers**

- VA Albany health care
- VA Bronx health care
- VA Finger Lakes health care - Missing Homeless Veteran Care Coordinator
- VA Hudson Valley health care

[2020-12-07 20:21] esther-k commented on #15227
**12/07**

Currently, having issues with the backend? Will retest once resolved

[2020-12-07 20:30] outerpress commented on #16519
@peggygannon another note to consider - we should think about communicating in the page instructions that the facility list are only those that offer online scheduling, if that can fit in without blowing it up too much.

[2020-12-07 20:34] #15009 closed

[2020-12-07 20:39] jenniferlee-dsva commented on #16923
All - could you please include @rtwell to validate design? He was the og designer who worked with me on the localization research, and my eye is not trained, but the spacing in the screenshot looks off.

[2020-12-07 20:42] jenniferlee-dsva commented on #16923
Also the "n" in espanol is missing the tilda.

[2020-12-07 20:43] callen2563 commented on #16964
I mocked up "3 claims in progress in the last 30 days" since the data showed that 6 was the average but they didn't have any data showing how many claims were typically processed in a 30 day period.

[2020-12-07 20:47] Samara-Strauss commented on #16964
@callen2563 sends good. Remember, the average of 6 claims is not 6 claims that have been updated in the last 30 days. In fact, it was unclear to me whether that was an average of 6 open claims, or 6 claims total (so some might be open and in progress, while others have been fully adjudicated and closed). So, that's all to say I think showing 3 updated claims at most is fine, but we shouldn't be wo

[2020-12-07 20:47] peggygannon commented on #16519
thanks @outerpress I plan to drop in some content recommendations tomorrow!

[2020-12-07 21:00] jhouse-solvd opened #17011 "Testing Epic"
## Product Outline
[Link](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/product-management/product-outline-template.md)

## High Level User Story/ies
As a _____, I need _____ so I can _____.

## Hypothesis or Bet
**If** _we make this change_ **then** _we expect this to happen_.

## OKR
_Which Objective / Key Result does this epic push forward?_

## Definition o

[2020-12-07 21:00] jhouse-solvd commented on #17011
Closing. this was a test to ensure that the template was working correctly.

[2020-12-07 21:00] #17011 closed

[2020-12-07 21:01] callen2563 commented on #16964
@Samara-Strauss @tressaellen
Hi Samara,
Here are 3 mockups: 1 traditional dashboard with 2 blank state options. I'd love to get your thoughts on the last blank state option for users who have never filed a claim and don't have a disability rating. Does it make sense to show it like this or should we not show the disability rating at all?

![myVA mobile Traditional Dashboard](https://user-images.gi

[2020-12-07 21:03] joshkimux opened #17012 "508-defect-2 [COGNITION]: Heading levels SHOULD increase by one in a logical order"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2020-12-07 21:03] jason-gcio opened #17013 "Finalize Research Plan for UAT (View Payments)"
## Background
View your VA payment history is ready for launch to be available to Veterans so that they can clearly and easily see their payment history without having to go back into eBenefits.

## Goal
This ticket is meant to capture the work around getting the research plan (and conversation guide) in place for UAT and include any outstanding items for usability to be measured in the moderated

[2020-12-07 21:05] amyknox opened #17014 "Rogers STEM Scholarship: SCO Outreach Language"
Including 2 small updates to the 22-10203 form to let users know their School Certifying Official will be contacted to help support claim development.  Applicant is notified via a blue info alert (cleared with Emily) on the page where they're inputting school info.  The applicant also receives an email with a copy of the email which goes to the SCO requesting background on the student.

For you:
1

[2020-12-07 21:06] youngfreezyVA commented on #16923
@jenniferlee-dsva the associated PR was prefixed with WIP and was a discovery ticket. it's not intended to be merged in just yet.

[2020-12-07 21:08] digitalken commented on #16125
The keyboard issue here (where it is actually working against the previous page) is similar to this bug.  So let's track the keyboard issue on this one:
https://app.zenhub.com/workspaces/va-mobile-app-5f205eac3155a2000f422ecb/issues/department-of-veterans-affairs/va.gov-team/17008

[2020-12-07 21:09] outerpress commented on #16519
Sounds great @peggygannon , thanks! One other note, the facilities page and CC provider list are related so we should aim to make the language consistent if possible. "Home address" vs. "address on file" came up as an example in sprint demo today (see screenshot).

![Screen Shot 2020-12-07 at 12.27.59 PM.jpg](https://images.zenhubusercontent.com/5f7ce3163782a585b910eaf3/7b8c58d4-5910-4ff6-86c6-0c2

[2020-12-07 21:10] jenstrickland commented on #8253
@zacharymorel **You're awesome!** Thank you for fixing this. Validated.

[2020-12-07 21:10] #8253 closed

[2020-12-07 21:12] jason-gcio opened #17015 "Breadcrumb Tweak for "View your VA payment history""
## Background
Since authenticated uses will go straight to the tool page itself, it was recommended by IA that the breadcrumbs not mention the interstitial landing page and simply show the **Home > View your VA payment history** breadcrumb.

## Considerations
- [IA Recommendation](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/information-architecture/ia-reviews

[2020-12-07 21:21] msmanak opened #17016 "Adjust widths to accommodate Landscape mode"
## User Story

As a user who uses landscape mode, I want to be able to read the text without text cutoff

## Task
- [ ] Figure out which mobile phone/os has this issue
- [ ] work with front end devs to remedy this issue

[2020-12-07 21:24] amyknox commented on #14422
Hi @1Copenut - this is an oldie! I get your intent that the numbers should be lined up but based on the calculation, the items which are indented from the right margin are sub-calculations on for when the provider gets its payments. I believe adding them to the right aligned column would make that calculation more challenging for users to scan.  However, given your experience, it must be a little

[2020-12-07 21:26] mpelzsherman commented on #16220
Assigning to @U-DON per [Slack convo.](https://dsva.slack.com/archives/CDHBKAL9W/p1607372724173200?thread_ts=1607363447.158700&cid=CDHBKAL9W)

[2020-12-07 21:31] bmcgrady-ep commented on #3825
Hi @Mottie - Jon is OOO this week, but I am following up to see the status on this and if a launch date has been decided for this.

If there is anything on the analytics end that needs to be done, let us know. Thanks!

[2020-12-07 21:32] U-DON commented on #16616
Related support thread: https://dsva.slack.com/archives/CBU0KDSB1/p1607027209029400
Support ticket: department-of-veterans-affairs/vsp-support#53

In progress branch is `gatsby-fix-attempt`. [With the fixes so far, it’s currently failing on the gatsby-plugin-sharp plugin.](https://github.com/department-of-veterans-affairs/veteran-facing-services-tools/compare/master...gatsby-fix-attempt?expand=1)

[2020-12-07 21:33] komaly15 opened #17017 "Screens using the TextArea components had too much of a margin above and below the text area"
Screens using the textArea component had bigger margins above and below the textArea because the textArea also had a margin top and bottom. TextArea needs top and bottom margin to be removed, an components using the TextArea need to be updated

Example: Contact VA screen has too much of a margin between the Veterans Crisis line banner and the TextArea containing the screens text

[2020-12-07 21:37] #16476 closed

[2020-12-07 21:43] amyknox commented on #14424
@watersemma - do you have time this sprint to take a look at this and propose new vertical spacing for schools and OJT?

It'd be good if we could tighten up the vertical spacing... but not too much... want the numbers to still have room to breathe.

[2020-12-07 21:44] Mottie commented on #3825
We're holding off for the Central Mail endpoint change, which probably won't be done until next week (Dec 14th). We'll discuss what happens then, but maybe we won't launch a week before the holiday code freeze...

[2020-12-07 21:44] mmiddaugh opened #17018 "Audit blocked by data in health care facility node"
## Issue Description
The Facilities team needs to perform a final audit of pages before cms-export cutover. The audit is blocked by invalid data in the `health care local facility` node.

---
## Tasks
- [x] Resolve blocker caused by newly populated data

## Acceptance Criteria
- [x] Audit work can proceed.

---
## How to configure this issue
- [ ] **Attached to a Milestone** (when will this be com

[2020-12-07 21:45] mmiddaugh commented on #17018
PR: #15231 Fix validation error in health_care_local_facility nodes

[2020-12-07 21:45] msmanak opened #17019 "voiceover/talkback simplification"
## User Story
as a user who uses VoiceOver,  I want the information to be consistent without repetitive information

## Task
- [ ] Content writing
- [ ] VSP team involvement?

[2020-12-07 21:46] #17018 closed

[2020-12-07 21:46] joanneesteban commented on #16981
@bsmartin-ep can you prioritize this for the Covid dashboarding work?

[2020-12-07 21:48] msmanak opened #17020 "TTY icon update"
## User Story
As a user who uses TTY, I want to pinpoint which number is the correct number to call

## Task
- [ ] find the correct TTY Icon
- [ ] add to design system![Contact VA.png]

## Current placeholder
(https://images.zenhubusercontent.com/5faabf11b099434179a66d66/c13131f0-7d27-4249-9f24-2f062776cf83)

[2020-12-07 21:49] RLHecht commented on #16638
These changes are validated on the live site. Closing ticket. FYSA @DanielleThierryUSDSVA @brianalloyd

[2020-12-07 21:49] #16638 closed

[2020-12-07 21:51] bramleyjl opened #17021 "Create Test User Dashboard Database for Identity Team"
## Issue Description
Identity/backend needs a new Postrgres DB for the purpose of hosting the test users

---
## Tasks
- [ ] Create new DB in utilities environment
- [ ] Create admin accounts for new DB for John Bramley and Trevor Bosaw and Alex Garcia

## Acceptance Criteria
- [ ] Expect to be able to directly access the new DB over development & staging environments (not available via production

[2020-12-07 21:53] #15257 closed

[2020-12-07 21:56] mdewey commented on #16041
![Screen Shot 2020-12-07 at 4 56 11 PM](https://user-images.githubusercontent.com/1793923/101410277-1eabb800-38ad-11eb-98b3-24fd9a9fd689.png)

Verified in staging

[2020-12-07 21:58] msmanak opened #17022 "Update Click to Call Common Component to always include TTY number"
# User Story
- [x] As a user of the VA mobile app, I want to be able to call my provider via TTY number within the app
- [x] As a user of the VA mobile app who uses TTY, I want to pinpoint which number is the correct number to call

# Tasks
- [x]  Find the correct TTY Icon
- [x]  Update design library component to include TTY component in Click to Call
- [x]  Identify all the places in the app thi

[2020-12-07 21:59] mdewey commented on #16746
The changes look to be in staging, @kristenmcconnell  Can you verify that the changes are there?

[2020-12-07 22:00] rileyorr commented on #16361
I started a [Google Sheet for the form's error messages](https://docs.google.com/spreadsheets/d/1fi9aV1YdRQRfvLOFmZUFctvzYpkTRH0RQjQ2SPlq-d4/edit?usp=sharing) - will continue working on it tomorrow. @3obryandogs, please add/edit anything that looks off!

[2020-12-07 22:04] rtwell commented on #16923
hello gang! a couple notes:

1. the spacing on the link for Spanish is too close to the breadcrumb (so much so it kinda looks like part of the breadcrumb). Might we add some space above? I'm thinking something in the neighborhood of 3 spacing units.
2. the icon should also be blue like the link

[2020-12-07 22:05] bramleyjl opened #17023 "Separate Repo (or Gem) For Test User Dashboard Work"
## Issue Description
The Identity team needs a separate place to host the Test User Dashboard (TUD) codebase; we are unsure if a new repository is the best way to accomplish this. The TUD app is a full-stack app (React/Ruby/Postgres) to connect to the Test Users database as well as making API calls to vets-api on staging and development environments (only, no connection to production wanted).

---

[2020-12-07 22:10] Samara-Strauss commented on #16964
Hey! This is a really great start :D :D :D

**Disability rating**

- This is pretty straightforward, and not much to change here. For the "disability rating" after "40% disability rating", can you change that to "service connected?" We'll work out the final copy with Peggy or another content person, but being "service connected" is the term used for whether a disability has been deemed related to

[2020-12-07 22:11] bramleyjl opened #17024 "Test User Dashboard - Work Needed From Operations Team"
## Product Outline
[TBD](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/product-management/product-outline-template.md)

## High Level User Story/ies
As a Identity team engineer, I need an environment set up so I can build the Test User Dashboard application.

## Hypothesis or Bet
**If** the Identity team has this environment **then** we can build the Test User

[2020-12-07 22:15] alexandec opened #17025 "Access for Christopher Alexander"
# Description
- Please provide your Contracting Officer's Representative (COR) name.

- Please provide your name.

- Please Provide your email.

- Please provide the name of your team, your role on that team, and the name of the company you work for.

- Requesting SSH key authorization?

   - What is your **public** SSH key? If you don't have a SSH Key or know how to find it [click here]
[code]

-

[2020-12-07 22:16] bramleyjl opened #17026 "Test User Dashboard Application MVP"
## Product Outline
[TBD](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/product-management/product-outline-template.md)

## High Level User Story/ies
As a QA tester, I need an easier way to assume a test user account so I can test changes to va.gov.

## Hypothesis or Bet
**If** we make this change to the test user account processes **then** we expect testing to

[2020-12-07 22:21] rroueche commented on #16527
Hey @peggygannon , I'm sorry for my miscommunication! I think this can still be in the backlog. DEPO hasn't yet determined whether global VA.gov audits should be a part of the platform purview, so while I don't think it should be a _prioritized_ initiative, I think it's fine/good to pick up this work when the priority things are out of the way (i.e. collab cycle reviews, and quarterly initiative w

[2020-12-07 22:21] joanneesteban commented on #13762
@U-DON - Checking in to see if any progress has been made on this transformers ticket.

[2020-12-07 22:22] bethpottsVADEPO commented on #8306
This work is done. Remaining left nav and top nav work is covered in #13842.

[2020-12-07 22:22] #8306 closed

[2020-12-07 22:22] joanneesteban commented on #16478
@jhonnyoddball  - Checking in to see if any progress has been made on this transformers ticket.

[2020-12-07 22:22] joanneesteban commented on #16480
@theodur  - Checking in to see if any progress has been made on this transformers ticket.

[2020-12-07 22:23] joanneesteban commented on #16348
@JasonTheBearded added the charts to the dashboard! Usability looks fine on my end. @bsmartin-ep can you QA?

As a future iteration, we may want to combine this data with page entries on the tools to see how Veterans are getting to _all_ vaccine related tools.

[2020-12-07 22:28] desireeturner opened #17027 "STEM - Stand Alone: Review Applicant CC email with DEPO"
Send applicant cc email to DEPO for content review

[2020-12-07 22:29] desireeturner opened #17028 "STEM - Stand Alone: Update Applicant CC email per DEPO"
Update applicant cc email per DEPO recommendations

[2020-12-07 22:30] ltrombley commented on #16323
**Task #16323 Complete- Create Staff Profiles for VISN 2 Systems:**

- VA Albany health care
- VA Bronx health care
- VA Finger Lakes health care
- VA Hudson Valley health care

[2020-12-07 22:30] desireeturner opened #17029 "STEM - Stand Alone: Format Applicant CC email per VA styles"
Use VA.gov HTML email format for cc email

[2020-12-07 22:30] SKasimow commented on #16641
@DanielleThierryUSDSVA Hi Danielle - per our convo, I am assigning this to you to gather the Spanish version of error messaging used on the Corona Volunteer form. Also are there any error messages we'd need to have translated for the FAQ page?

CC: @youngfreezyVA

[2020-12-07 22:32] desireeturner opened #17030 "STEM - Stand Alone: Applicant email - Dev support"
Support dev efforts to create HTML effort for applicant CC

[2020-12-07 22:33] DanielleThierryUSDSVA commented on #16923
Thanks, @jenniferlee-dsva and @rtwell. And just to make sure we're all aligned: This ticket was just a discovery ticket for @youngfreezyVA to confirm if we could add this icon/link on the front end for the Drupal page. Definitely not intended as the actual implementation. This will go through a design intent review as part of the collab cycle as well. Thanks!

[2020-12-07 22:35] bridgethapner opened #17031 "Update UI design of Input Field Common Component to include an error state"
_Internal note:_ This story is for the work to document:
1) The common component for an input field with a label above the input field ([should look like this](https://adhoc.invisionapp.com/share/GTZ1ESFF6BN#/screens/431636876))
2) The error state for this component

---

## User Story
- [x] As a user of the VA mobile app, I want to see a field's label **above** the field for clarity and increased

[2020-12-07 22:36] rtwell commented on #16923
no problem! thanks, @DanielleThierryUSDSVA

[2020-12-07 22:36] DanielleThierryUSDSVA commented on #16048
Sure, of course! Great working with you on this, @CrystabelReiter.

[2020-12-07 22:38] desireeturner opened #17032 "CT Redesign: Executive Summary prep & presentation"
Review findings & recommendations to prep for presentation
Present executive summary to VA Education Leadership

[2020-12-07 22:39] bridgethapner opened #17033 "Apply updated input field design to all Profile screens"
_Internal note:_ This story is for the work to update all input fields in the app to match the new UI design of the input field CC from #17031.

---

## User Story
Update the UI of profile screens for consistency across all profile screens where input fields exist:
- Personal & Contract Information
- Phone number screens
- Email address
- Direct Deposit

## Design considerations

personal/contact

[2020-12-07 22:39] desireeturner opened #17034 "CT Redesign: Refine features list"
Continue to groom features list to clarify functionality, identify questions, categorize for easier use, etc.

[2020-12-07 22:40] desireeturner opened #17035 "CT Redesign: Internal features review & prioritization"
Work with team to identify priorities

[2020-12-07 22:42] desireeturner opened #17036 "CT Redesign: Preliminary features review with EDU"
Review preliminary priorities with Education team - bonus points for interactive and engaging presentation that sparks conversations and clarifies questions

[2020-12-07 22:43] bosawt commented on #16303
Starting proxy server and running test command:
`ssh socks -D 2001 -N `
`curl -v --proxy socks5h://127.0.0.1:2001 sentry.vfs.va.gov`
Response includes:
`*   Trying 127.0.0.1...
* TCP_NODELAY set
* SOCKS5 communication to sentry.vfs.va.gov:80
* SOCKS5 request granted.
* Connected to 127.0.0.1 (127.0.0.1) port 2001 (#0)

< HTTP/1.1 302 Found`

Looks like it's working! Think we can close this ticket.

[2020-12-07 22:45] joanneesteban commented on #16348
@JasonTheBearded would you also be able to get started on this portion of the vaccine dashboard? ![image.png](https://images.zenhubusercontent.com/5cbde0c0353363084a079083/c49e620c-3a30-4d95-a8bf-fe2fa342ad8b)

[2020-12-07 22:47] desireeturner opened #17037 "CT Redesign: Profile Page Anatomy"
Deconstruct & inventory profile page data elements to facilitate redesign
Suggest capturing data inventory in a spreadsheet (Title, Data source, Related feature, etc.)"

[2020-12-07 22:48] desireeturner opened #17038 "CT Redesign: Internal ideation workshop"
Internal workshop to identify next steps for design effort
Create stories for design / prototyping based on decisions

[2020-12-07 22:48] pnwstevan commented on #16303
Thanks for confirming SOCKS access!

We should leave this ticket open until your AWS access is approved though, which can take a bit of a time so we keep the tickets open for tracking.

[2020-12-07 22:49] desireeturner opened #17039 "CT Redesign: Landing Page Concepts"
Use prioritized features list & best practices to start drafting this page

[2020-12-07 22:49] bosawt commented on #16303
Ah sounds good! I'll be watching for that, thanks

[2020-12-07 22:50] desireeturner opened #17040 "CT Redesign: Search Results Page Concepts"
Use prioritized features list & best practices to start drafting this page

[2020-12-07 22:51] desireeturner opened #17041 "CT Redesign: Profile Page Concepts"
Use prioritized features list & best practices to start drafting this page

[2020-12-07 22:51] bridgethapner opened #17042 "Error States: Email address"
## User Story
As a user saving an email address, I want to see the message "Please enter your email address again, using this format: X@X.com." when what I've written does not meet field requirements.

## Tasks
- [ ] Design UI for what the email screen looks like when an error has occurred
- [ ] Define text of the error
- [ ] Define when the error shows up (e.g. field rules)

[2020-12-07 22:52] U-DON commented on #13762
Draft PR is available here:
https://github.com/department-of-veterans-affairs/vets-website/pull/15236

Will continue to iterate on it a bit more before opening it up for review.

[2020-12-07 22:52] desireeturner opened #17043 "STEM Automated Decision: Update denial letter - DEPO input"
Update denial email per DEPO recommendations

[2020-12-07 22:53] bridgethapner opened #17044 "Profile: Document error message text & when errors should display"
## User Story
Document the text of error messages for Profile screens.

## Error Message Test for Profile:

### Domestic address:
- Error message "Country is required" should display when a user tries to save an address but hasn't selected a country.
- The error message "Street address is required" should display when a user tries to save an address but hasn't entered the street address.
- Error m

[2020-12-07 22:53] desireeturner opened #17045 "STEM Automated Decision: Review Email draft content / EDU"
Share content with Education for review

[2020-12-07 22:54] desireeturner opened #17046 "STEM AD: Update denial letter - EDU input"
Update email per Education recommendations

[2020-12-07 22:55] 1Copenut commented on #16786
@bradl3yC This does get us what we're looking for in the semantic relationship, which captures the ticket scope. If there's time to tweak the CSS, it would be worth making the `<dl>` 100% parent width, setting a fixed width on the `<dt>` and removing the space-between declaration. This will give us a cleaner layout on mobile. LMK if you'd like that as a separate issue ticket.

---
![Screen Shot 20

[2020-12-07 22:55] U-DON commented on #16220
Builds have been updated to pull from prod CMS.
https://github.com/department-of-veterans-affairs/vets-website/pull/15118

After merging in or branching off of the latest master, let us know if builds still fail due to system update errors.

[2020-12-07 22:55] #16220 closed

[2020-12-07 22:55] desireeturner opened #17047 "STEM Automated Decision: Format email per VA styles"
Support dev efforts to create HTML effort for applicant CC.
In other words: apply VA Notify html email styles; share with BA for dev story

[2020-12-07 22:55] bethpottsVADEPO commented on #13842
@RLHecht The tasks section is now ready for you to complete! There's one left nav item that can't happen until the form is fully launched--add a link to the form. But other tasks you can proceed with. Let me know if you have any questions. It's ok with me if we keep this ticket open until January 4. But if you want to close this one out and create a new ticket, fine by me.

[2020-12-07 22:57] desireeturner opened #17048 "Validated User Log-in: Discovery Activity - continued"
Support any UX needs for continued discovery.
If actionable items are identified, pull in new stories

[2020-12-07 22:57] joanneesteban opened #17049 "Analytics dashboard request for Vaccine Content Viewing"
# Request a KPI Dashboard

Is this a new KPI dashboard request? Or is this an iteration? Please check the corrrect response.
- [ ] New dashboard
- [x] Iteration of current dashboard

Add Vaccine information from the Covid FAQ page/Hub to the Vaccine tab.

Add the following
Bar chart for interactions related to the Vaccine on the FAQ page.

@DanielleThierryUSDSVA do you have information on where we

[2020-12-07 22:59] joanneesteban opened #17050 "Analytics dashboard request for Vaccine Chatbot Data"
# Request a KPI Dashboard

Is this a new KPI dashboard request? Or is this an iteration? Please check the correct response.
- [ ] New dashboard
- [x] Iteration of current dashboard

Add Vaccine inquiries from the Covid Chatbot to the Vaccine tab.

Add the following
Bar chart for interactions related to the Vaccine on the FAQ page.

@DanielleThierryUSDSVA do you have information on where we can fin

[2020-12-07 23:01] tlei123 opened #17051 "Type Ahead - PoC - VSA-QA Test Plan"
\[**Product Managers**: Open this ticket **at least 2 Sprints** before you expect a Platform Staging Review of this Product/Feature.  Then:
- Add yourself to Assignees
- Fill-out sections below.]

## Product/Feature summary

\[Provide brief summary of product/feature to be tested on Staging by VSA-QA. Also, be sure to include links to the Product/Feature Outline, Epic, Pre-Launch Checklist, and De

[2020-12-07 23:04] tressaellen commented on #15685
Here is the [topline summary](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/identity-personalization/my-va/2.0-redesign/product/Research/MyVA-topline-summary.md) - I'm now working on the full research summary.

[2020-12-07 23:05] 1Copenut commented on #16769
LGTM! Moving this one to close.

[2020-12-07 23:05] #16769 closed

[2020-12-07 23:06] tlei123 commented on #17002
@denisecoveyduc , I just opened VSA-QA Test Plan ticket #17051 for us to start putting Use Cases together.

I'll chat w/ you tmrw (Tue) about this.  Thx much!

[2020-12-07 23:07] 1Copenut commented on #16760
@bradl3yC Looking 💯 Moving to close.

---
<img width="460" alt="Screen Shot 2020-12-07 at 5 06 26 PM" src="https://user-images.githubusercontent.com/934879/101416038-9b8b6180-38ae-11eb-8d3a-100349d3dc6b.png">

[2020-12-07 23:07] #16760 closed

[2020-12-07 23:10] U-DON commented on #15938
The new Pact Broker has been integrated into the CI pipelines.

[2020-12-07 23:10] #15938 closed

[2020-12-07 23:10] 1Copenut commented on #16789
@bradl3yC I took another look in staging, and wasn't able to verify this behavior. I tried clicking on the table headings, and tried to tab to them. The click events didn't trigger the sort, and there was no element to take keyboard focus, so it's not fully accessible yet. Let's chat tomorrow about this one.

[2020-12-07 23:25] outerpress commented on #16918
@laurenernest my first pass, with some questions:

Use case 1: https://adhoc.invisionapp.com/d/main#/console/20790192/439802127/preview
* Are these errors typically resolved quickly enough that refreshing would be an effective fix? If not, we shouldn't offer that as an option.

Use case 2: https://adhoc.invisionapp.com/d/main#/console/20790192/439802128/preview
* I'm assuming this would be trigger

[2020-12-07 23:26] #17042 closed

[2020-12-07 23:28] #16982 closed

[2020-12-07 23:28] #16151 closed

[2020-12-07 23:30] jenstrickland commented on #15618
@youngfreezyVA @rtwell Thanks for the nudge!

I recommend using a description list to sidestep heading order issues. Let me know if I can clarify any of this.

For more info on responsive, progressive images:

- https://dev.to/stefanoverna/how-to-offer-responsive-progressive-images-in-2020-in-one-line-5fed

- https://piccalil.li/quick-tip/picture-element-as-a-progressive-enhancement/

[code]

[2020-12-07 23:32] bridgethapner opened #17052 "Claims: Add description of each of the 5 steps to the Claims Detail Screen"
## User Story
As a user, I want to see text describing what happens at the step of each claim.

## Tasks
- [x] Track down language used on VA.gov CST for each of the 5 steps
- [x] Update UI to include language
- [x] Update documentation of Claim Status Tool Step List

[2020-12-07 23:34] bridgethapner opened #17053 "Claims: Add descriptions of file requests to the file requests list"
## User Story
As a user, I want to see a description of the file VA is requesting from me when a description exists.

## Tasks
- [x] Determine is file request descriptions exist in the API
- [x] If yes, update the [design of the File Requests screen](https://adhoc.invisionapp.com/share/GTZ1ESFF6BN#/screens/432623517) to include file descriptions

[2020-12-07 23:37] outerpress commented on #17006
@laurenernest, looking at the 0 valid facilities error:
- I think it would be helpful to list their registered facilities that don't offer online scheduling - basically the same list we're showing in the new additional info box
- I'm not sure how helpful the last sentence is. It's fine that they can go back, but directing them to do so seems confusing. Maybe that's just me.

[2020-12-07 23:49] starlow00 commented on #16062
Hi @clantosswett. Does this draft look like it's headed in the right direction? I think it addresses more of the basics up front, but I'm still not sure if you want me to go digging for more to fill in secondary branches that apply to the rest after today's addition.

[https://app.zenhub.com/files/133843125/912c4827-cd93-4df3-8d56-f8ac99c65760/download](https://app.zenhub.com/files/133843125/912c4

[2020-12-07 23:49] patrickvinograd opened #17054 "Non-Lighthouse engine routes are not covered by nginx route metrics"
## Description
We attempt to record http metrics for specific routes in nginx, so you can break out things like request rate/error rate for a specific application.

All or most of the "classic" API endpoints that are part of the main Rails monolith get mapped to `api.va.gov/v0/foo` are defined in a list `api_generic_components`, and then the metrics are regexed out in this block:
https://github.co

[2020-12-07 23:50] bridgethapner opened #17055 "Update UI design of Checkbox Common Component to include an error state"
## User Story
Update UI design of Checkbox Common Component to include an error state

## Accessibility Considerations

**iOS**

- “{label}. Un-selected”
- “{label}. Selected”
- “Dimmed, {label}. un-selected”
- “Dimmed, {label}. selected “

Helper text:
- “{label}, {helper text}. [then whatever task it performs]

error text:
- “{label}, {error text}. [then whatever task it performs]

**Android**

[2020-12-07 23:52] digitalken commented on #15089
Added to TestRail.

[2020-12-07 23:55] patrickvinograd commented on #17054
To clarify, those requests would get counted in the total "nginx_http_request_" metrics, but there's no way to break them out by `app` or `component`.

[2020-12-08 00:06] digitalken commented on #13957
Added to TestRail.

[2020-12-08 00:10] bridgethapner opened #17057 "Direct Deposit: Define error message text & when errors should display"
## User Story
Document the text of error messages for the Direct Deposit screen & define when these errors should occur.

## Error Message Text for Direct Deposit

| Error message text     | When it should display |
| ----------- | ----------- |
| Please enter the bank’s 9-digit routing number.     | When a user tries to save DD info and has not entered a 9-digit routing number       |
| Please en

[2020-12-08 00:13] digitalken commented on #13966
Added to TestRail.

[2020-12-08 00:23] bridgethapner opened #17058 "Add Delete Button Common Component to Profile Screens"
## User Story
As a user, I would like to be able to delete any phone number, fax, email, or residential address with one click of a button.

Note: users should not be able to delete their mailing address.

## Tasks
- [x] Add CC component to relevant screens

[2020-12-08 00:29] digitalken commented on #14932
PASS 12/7/2020 - Getting data filled in here now.  Some users may or may not have all data. Keeping an eye on it, however.

[2020-12-08 00:29] #14932 closed

[2020-12-08 00:37] laurenernest commented on #16918
I'm not confident enough in the consistency a refresh would provide results so let's leave that off.

Good point. We don't have any distance limits set so if 0 are returned, it should mean there aren't any providers in the country that meet the specialty codes we query. I'm checking if we can see total provider counts by specialty.

Overall, linking out the facility locator seems to be the best op

[2020-12-08 00:42] bsmartin-ep commented on #15794
## QA

Interaction|Data Layer|GTM tag|Pass
---|----|---|----
Click on "Find a VA Location" link|![image](https://user-images.githubusercontent.com/62304138/101421816-38f09080-38c3-11eb-8adf-3db1097e950f.png)|![image](https://user-images.githubusercontent.com/62304138/101421854-4c036080-38c3-11eb-8a73-aeee3b0fb149.png)| **PASS**

Published.

We should have production data shortly.

[2020-12-08 01:09] peggygannon commented on #16527
ok, thank you @rroueche for clarifying! I'll reopen and put this in my backlog.

[2020-12-08 01:13] digitalken opened #17059 "Logo for Coast Guard is not displaying"
## What happened?
I have a user with Military history of Coast Guard but the logo is not displaying.

Looking for "coastal guard" in data but it comes through as "coast guard".  Confirm names.

## Specs:
- Device:  Android Moto G7
- User:  vets.gov.user+228@gmail.com

## Steps to Reproduce
- Log in as user vets.gov.user+228@gmail.com
- Navigate to military history.
- Look for logo in header.

## D

[2020-12-08 01:14] laurenernest commented on #16918
@peggygannon Tagging you in this ticket to get in your queue. We can discuss in our next sync.

[2020-12-08 01:21] laurenernest commented on #17006
Agreed. Once you add the list where you want in the design, let's get guidance on the copy for the whole page with the new context.

[2020-12-08 01:27] digitalken commented on #16785
Added to TestRail.

[2020-12-08 02:54] lianilychee opened #17060 "Platform Website — Migrate Homepage MVP documentation to Confluence"
## Problem Statement

VFS teams struggle to find documentation to answer their questions, which blocks them from developing on VA.gov. This leads to VSP team members manually fielding questions that could otherwise be answered in the documentation.

HMW use the Confluence documentation site to improve the findability of documentation for VFS teams?

HMW leverage Confluence to provide a better over

[2020-12-08 04:27] mpelzsherman opened #17061 "Available at these locations section missing from pittsburgh-health-care/health-services"
Several health services are missing this section when expanded:

![Health_services___Veterans_Affairs.png](https://images.zenhubusercontent.com/5ee91ea93ee2bbe222cd827f/4b92e05c-db5b-4bcb-ba29-9ffd608bb506)

[2020-12-08 04:37] mpelzsherman opened #17062 "Sort order of Stories on pittsburgh-health-care/stories is reversed"
Staging/prod has this:

![VA_Pittsburgh_Health_Care___Veterans_Affairs.png](https://images.zenhubusercontent.com/5ee91ea93ee2bbe222cd827f/f5c9988a-0a66-4c0d-8a90-93fa0f1c87f7)

CMS Export has this:

![VA_Pittsburgh_Health_Care___Veterans_Affairs.png](https://images.zenhubusercontent.com/5ee91ea93ee2bbe222cd827f/41acc2ec-8d0e-4e4f-91e8-e7ecad14e0fd)

[2020-12-08 05:40] mpelzsherman opened #17063 "Health Service Hours data is malformed in CMS Export build"
/pittsburgh-health-care/locations/beaver-county-va-clinic/index.html has issues with hours' data:

Issues:
1. there are `<p>` tags in the hours' data causing extra whitespace
2. `field_hours`= 0  in the cms export which corresponds to facility hours, which are “800AM-430PM”, rather than the specified hours.
3. Formatting of facility hours does not conform to the styling of facility health service

[2020-12-08 05:48] mpelzsherman opened #17064 "Email section malformed on some location health services sections"
e.g. pittsburgh-health-care/locations/h-john-heinz-iii-department-of-veterans-affairs-medical-center/index.html

GraphQL/Staging:

![VA_Pittsburgh_Health_Care___H__John_Heinz_III_Department_of_Veterans_A.png](https://images.zenhubusercontent.com/5ee91ea93ee2bbe222cd827f/21011580-aca1-4578-90c2-f828c624f0fe)

CMS Export:

![VA_Pittsburgh_Health_Care___H__John_Heinz_III_Department_of_Veterans_A.png]

[2020-12-08 06:04] mpelzsherman opened #17065 "CMS Export build adds unnecessary meta tag"
The CMS Export build is adding this header to many pages:

`<meta name="DC.Date" scheme="W3CDTF" content="2020-03-24">`

This isn't needed and creates a lot of false positives when running audits.

It should be removed.

## Acceptance Criteria
- [x] CMS Export does not add unnecessary header to pages

[2020-12-08 06:13] mpelzsherman opened #17066 "Staff Profile page using wrong thumbnail image"
https://staging.va.gov/pittsburgh-health-care/staff-profiles/alan-petrazzi/index.html

![Alan_Petrazzi___VA_Pittsburgh_health_care___Veterans_Affairs.png](https://images.zenhubusercontent.com/5ee91ea93ee2bbe222cd827f/175100a5-a4b9-4199-ba4d-4c4e470a7a63)

## CMS Export

![Alan_Petrazzi___VA_Pittsburgh_health_care___Veterans_Affairs.png](https://images.zenhubusercontent.com/5ee91ea93ee2bbe222cd827f

[2020-12-08 06:58] mpelzsherman opened #17067 "Facility name missing from Stories page"
pittsburgh-health-care/stories

# Staging

![Stories___Veterans_Affairs.png](https://images.zenhubusercontent.com/5ee91ea93ee2bbe222cd827f/99aa7d77-4ab0-4ff5-9bae-5710e07305fd)

# CMS Export

![Stories___Veterans_Affairs.png](https://images.zenhubusercontent.com/5ee91ea93ee2bbe222cd827f/6e70c4d3-88c9-4697-b035-ffe6dac2503c)

[2020-12-08 07:07] mpelzsherman commented on #16910
Audit completed

[2020-12-08 07:07] #16910 closed

[2020-12-08 12:31] Kimberley2019 commented on #15380
HI @wwanamaker I have not received any input from the VEO Contact Center regarding this feature.  I do not think that they need anything else, if they reach out, I will advise.

[2020-12-08 12:49] watersemma commented on #14424
@amyknox yes, I can take a look at this today.

[2020-12-08 13:20] ndsprinkle commented on #15852
@luke-gcio I merged this yesterday afternoon, so it should be deployed and available in staging soon. To test, all you need to do is successfully submit a 526/BDD form and the timestamp will show on the confirmation page that follows.

[2020-12-08 13:34] jbritt1 opened #17068 "Update / Migrate VA Signed SSL Doc"
## Issue Description
Process for obtaining VA signed SSL certs has changed according to the old landing page we had in our docs. This likely needs to be updated and moved to Confluence under our "How do I..." section.

Current location / content for reference: https://github.com/department-of-veterans-affairs/devops/blob/master/docs/StandardOperatingProcedures/CreatingVASignedSSLCertificate.md

--

[2020-12-08 13:42] dneel-bah commented on #11530
Closing as OBE

[2020-12-08 13:42] #11530 closed

[2020-12-08 13:45] jbritt1 opened #17069 "Assist in Configuring IAM SSOe OAuth backend in Production"
## Issue Description
Assist Jonathan Julian in configuring the IAM SSOe OAuth backend in production with necessary client ssl connection.

---
## Tasks
- [x] Assist in obtaining VA signed SSL certificate
- [x] Configure systems to leverage the new backend connection in production

## Acceptance Criteria
- [x] Obtain VA signed SSL cert
- [x] Configure new backend connection in production
- [x] Conf

[2020-12-08 13:56] joshkimux opened #17070 "508-defect-2 [COGNITION, SEMANTIC MARKUP] The link text MUST make sense in context, and should make sense when taken out of context"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

**Feedback framework**

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Point of Contact

**VFS Point of Contact:** Josh Kim

## User

[2020-12-08 14:04] ala-yna opened #17071 "Refactor/flatten 10-10EZ Form Config Schema"
## Technical Task

As a developer it is hard to track the context of data through the 10-10CG due to so many references in other files. Simplify this flow by only abstracting shared definitions, and flatten the constant definitions so they are less nested and are easier to read with out linter configuration. This way it will be easier to maintain and refactor in the future.

## Expected Behavior

[2020-12-08 14:19] JasonTheBearded commented on #16348
@joanneesteban I certainly can!

[2020-12-08 14:22] bradl3yC commented on #12184
@camerontesterman did we look into this? The dates in the file name aren't aligning with the dates that are in the data

[2020-12-08 14:25] laurenernest commented on #16918
@outerpress I misspoke. @saneshark clarified there's a radius set in the query.

@LanceGundersen What is the max distance the list will pull up?

[2020-12-08 14:33] RLHecht opened #17072 "Update eligibility language on VR&E Eligibility page"
## Issue Description
Based on the Chapter 31 wizard work, we need to review and update language on our Eligibility page around the basic period of eligibility.
The stakeholder is asking if the language we currently have about the 12-year basic period of eligibility is misleading.

Page to work on: https://www.va.gov/careers-employment/vocational-rehabilitation/eligibility/

## Tasks
- [ ] Review l

[2020-12-08 14:40] bsmartin-ep commented on #16981
Hi @stephenBarrs -

### Buttons

The buttons should be tracked with the `cta-button-click` event:

<table>
<tr>
<th>Button</th><th>Data Layer</th>
</tr>
<tr>
<td><strong>Sign in</strong> button</td>
<td>
<pre>
'event': 'cta-button-click',
'button-type': 'default',
'button-click-label': 'Sign in'
'button-background-color': '#0071bb'
</pre>
</td>
</tr>
<tr>
<td><strong>Continue without signing in</s

[2020-12-08 14:40] zurbergram commented on #16879
AC3 is in https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/applications/edu-benefits/pages/schoolSelection.js#L30

This will affect
- 1990
- 1990e
- 1990n
- 5490
- 5495

[2020-12-08 14:41] youngfreezyVA commented on #15618
thanks @jenstrickland I was able to implement the above minus the following tags:
`                                                <source srcset="{{webpSrcSet}}" type="image/webp">
                                                <source srcset="{{srcSet}}">`

unfortunately the cms does not return the properties `srcSet` or `webpSrcSet` for an image, it only returns the following properties:
`{

[2020-12-08 14:43] zurbergram commented on #16879
AC2 is in https://github.com/department-of-veterans-affairs/vets-website/blob/master/src/applications/edu-benefits/definitions/toursOfDuty.jsx#L82

This will affect
- 1990
- 1990n
- 1995
- 5490
- 5495

[2020-12-08 14:43] 3obryandogs commented on #16361
I reviewed what was there last night. Made a few minor edits.

[2020-12-08 14:49] micahchiang commented on #13018
@steve-gov - was business able to verify what the definition of `hours per week` here is?

[2020-12-08 14:52] SgardnerPMP opened #17073 "[Analytics] Upload data needed for Caregiver Support Program Pages - VISN-6 [BA]"
## Story
As a web user, I need staff and contact information for Caregiver support, so I can quickly find and reach out for caregiver support.

## Goals
Complete ALL Caregiver support pages in the entire VISN

## Resources
[Staff Profiles for VISN-6](https://drive.google.com/drive/folders/1VE97L56orKhof5TXBbSaMvbmsrta2uyo)

## Tasks
Complete ALL Caregiver pages for each System Across the VISN to i

[2020-12-08 14:55] SgardnerPMP opened #17074 "[Analytics] Upload data needed for Homeless Veteran Care Program Pages - VISN-6 [BA]"
## Story
As a web user, I need staff and contact information for Homeless Veteran Care, so I can quickly find and reach out for caregiver support.

## Goals
Complete ALL Homeless Veteran Care pages in the entire VISN

## Resources
[Staff Profiles for VISN-6](https://drive.google.com/drive/folders/1VE97L56orKhof5TXBbSaMvbmsrta2uyo)

## Tasks
Complete ALL Homeless Veteran Care Program pages for each

[2020-12-08 15:00] SgardnerPMP opened #17075 "[Analytics] Upload data needed for LGBT-Veteran-Care Program Pages - VISN-6 [BA]"
## Story
As a web user, I need staff and contact information for LGBT-Veteran-Care, so I can quickly find and reach out for caregiver support.

## Goals
Complete ALL LGBT-Veteran-Care pages in the entire VISN

## Resources
[Staff Profiles for VISN-6](https://drive.google.com/drive/folders/1VE97L56orKhof5TXBbSaMvbmsrta2uyo)

## Tasks
Complete ALL LGBT-Veteran-Care pages for each System Across the V

[2020-12-08 15:03] zurbergram commented on #16879
https://github.com/department-of-veterans-affairs/vets-website/pull/15241

[2020-12-08 15:03] sonntag-adam commented on #16620
![Screen Shot 2020-12-08 at 10.02.37 AM.png](https://images.zenhubusercontent.com/5c98df9c534e09000148f8d1/6abd2879-5db6-475b-8963-2a0f9c18ef4c)

[2020-12-08 15:08] Mottie opened #17076 "[Development] Add GA events to HLR wizard"
## Description

During QA testing, we were asked to add GA event recording to the HLR wizard per these requirements: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/analytics/google-analytics/tracking-how-to-wizards.md

Related: https://github.com/department-of-veterans-affairs/va.gov-team/issues/3825

## Acceptance Criteria

- [ ] Add HLR wizard event recording

[2020-12-08 15:12] SgardnerPMP opened #17077 "[Analytics] Upload data needed for Mental Health-care Program Pages - VISN-6 [BA]"
## Story
As a web user, I need staff and contact information for Mental Health-care, so I can quickly find and reach out for caregiver support.

## Goals
Complete ALL Mental Health-care pages in the entire VISN

## Resources
[Staff Profiles for VISN-6](https://drive.google.com/drive/folders/1VE97L56orKhof5TXBbSaMvbmsrta2uyo)

## Tasks
Complete ALL Mental Health-care pages for each System Across th

[2020-12-08 15:14] SgardnerPMP opened #17078 "[Analytics] Upload data needed for Minority Veteran Care Program Pages - VISN-6 [BA]"
## Story
As a web user, I need staff and contact information for Minority Veteran Care, so I can quickly find and reach out for caregiver support.

## Goals
Complete ALL Minority Veteran Care pages in the entire VISN

## Resources
[Staff Profiles for VISN-6](https://drive.google.com/drive/folders/1VE97L56orKhof5TXBbSaMvbmsrta2uyo)

## Tasks
Complete ALL Minority Veteran Care pages for each System

[2020-12-08 15:16] SgardnerPMP opened #17079 "[Analytics] Upload data needed for Patient-advocates Program Pages - VISN-6 [BA]"
## Story
As a web user, I need staff and contact information for Patient-advocates, so I can quickly find and reach out for caregiver support.

## Goals
Complete ALL Patient-advocates pages in the entire VISN

## Resources
[Staff Profiles for VISN-6](https://drive.google.com/drive/folders/1VE97L56orKhof5TXBbSaMvbmsrta2uyo)

## Tasks
Complete ALL Patient-advocates pages for each System Across the V

[2020-12-08 15:17] #14993 closed

[2020-12-08 15:17] steve-gov commented on #13018
The question is still out. I just asked again.

[2020-12-08 15:18] Mottie opened #17080 "[Development] Add GA events to 526 wizard"
## Description

With the updates to 526's wizard, we need to include GA events per these requirements: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/analytics/google-analytics/tracking-how-to-wizards.md

Related:
- #3825 (HLR wizard)
- #9510

## Acceptance Criteria

- [ ] Add 526 wizard event recording

[2020-12-08 15:18] 1Copenut opened #17081 "508-defect-2 [COGNITION]: COVID Vaccine - Radio groups must not lose focus on click or keypress event"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2020-12-08 15:18] SgardnerPMP opened #17082 "[Analytics] Upload data needed for Returning-service-member Program Pages - VISN-6 [BA]"
## Story
As a web user, I need staff and contact information for Returning-service-member, so I can quickly find and reach out for caregiver support.

## Goals
Complete ALL Returning-service-member pages in the entire VISN

## Resources
[Staff Profiles for VISN-6](https://drive.google.com/drive/folders/1VE97L56orKhof5TXBbSaMvbmsrta2uyo)

## Tasks
Complete ALL Returning-service-member pages for eac

[2020-12-08 15:19] delli-gatti-michael commented on #14243
Local testing complete

[2020-12-08 15:20] #15549 closed

[2020-12-08 15:21] sonntag-adam commented on #16620
https://dsvavsp.testrail.io/index.php?/tests/view/24327&group_by=cases:section_id&group_order=asc&group_id=51

[2020-12-08 15:22] SgardnerPMP opened #17083 "[Analytics] Upload data needed for Suicide-prevention Program to the Latest version of Suicide Prevention Page - VISN-6 [BA]"
## Story
As a web user, I need staff and contact information for Mental Health-care, so I can quickly find and reach out for caregiver support.

## Goals
Complete ALL Suicide-prevention pages in the entire VISN and assure that latest page is set for this VISN.

## Resources
[Staff Profiles for VISN-6](https://drive.google.com/drive/folders/1VE97L56orKhof5TXBbSaMvbmsrta2uyo)

## Tasks
Complete ALL

[2020-12-08 15:24] SgardnerPMP opened #17084 "[Analytics] Upload data needed for Women-veteran-care Program Pages - VISN-6 [BA]"
## Story
As a web user, I need staff and contact information for Women-veteran-care, so I can quickly find and reach out for caregiver support.

## Goals
Complete ALL Women-veteran-care pages in the entire VISN

## Resources
[Staff Profiles for VISN-6](https://drive.google.com/drive/folders/1VE97L56orKhof5TXBbSaMvbmsrta2uyo)

## Tasks
Complete ALL Women-veteran-care pages for each System Across th

[2020-12-08 15:28] #17020 closed

[2020-12-08 15:30] joshkimux opened #17085 "508-defect-2 [COGNITION, SCREENREADER]: Pagination SHOULD use meaningful landmarks and aria techniques"
# [508-defect-2](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-2)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2020-12-08 15:30] kreek opened #17086 "Mobile address validation endpoint"
### User Story
As a FE developer I want an endpoint where I can check that a user's address is valid so I can let them know if they need to make any corrections

### Acceptance Criteria
A new mobile endpoint exists that returns if an address is valid or not. It will also return which fields are invalid and address suggestions for the 'official' address on record.

[2020-12-08 15:31] Samara-Strauss commented on #15685
This is great! Nice job. Lots of good findings. I think we can act on some of the findings immediately (eg. clarifying what the benefit applications section is) and some things are hopefully stuff we can add or improve on over time with access to more data (eg. tracking a prescription that has been shipped). Looking forward to the full summary!

[2020-12-08 15:44] LizCallaghan commented on #16990
done!

[2020-12-08 15:48] AGarcia-Clarity opened #17087 "Session Timeout Modal does not display in production"
## Issue Description
There have been several issues that stem from the `SessionTimeoutModal.jsx` file not being viewable in production as it is currently behind environment flags.  Discussions below outline the UX (User Experience) issue and security concerns of not having the modal in production.

- [Robin G discussion in Slack](https://dsva.slack.com/archives/CBU0KDSB1/p1607013285486200)

- [Eri

[2020-12-08 15:50] MarciMcGuireGCIO commented on #11453
@zacharymorel you probably already know, but this one will need to be part of the Jan 12 go-live since we may need GA tag to track CTA clicks, a test case in TestRail, then we'll do internal staging review and request a review by QA and a11y.

[2020-12-08 15:56] zacharymorel commented on #11453
Does this need to be reviewed by QA?

[2020-12-08 15:57] 1Copenut opened #17088 "508-defect-3 [COGNITON]: COVID Vaccine - Contact preference must be as clear as possible"
# [508-defect-3](https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/accessibility/guidance/defect-severity-rubric.md#508-defect-3)

## Feedback framework

- **❗️ Must** for if the feedback must be applied
- **⚠️ Should** if the feedback is best practice
- **✔️ Consider** for suggestions/enhancements

## Definition of done

1. Review and acknowledge feedback.
1. Fix

[2020-12-08 15:57] MarciMcGuireGCIO commented on #11453
Yes, because we're adding a new feature.  I believe it has to go through the full collab cycle, but we can roll some other updates in with it.  I'm going to schedule a project kickoff to discuss so we know what is and is not required.

[2020-12-08 15:59] jbritt1 commented on #17069
Tagging @jjulian on this for visibility. CSR and cert request were submitted yesterday (12/07/2020), awaiting reply from VA PKI Team.

[2020-12-08 16:03] zacharymorel commented on #11453
So this is interesting to me. What counts to VSA as a new feature, what is the definition of a feature?
To me this is just a few buttons/links added and some descriptive text about a search result.

[2020-12-08 16:03] alexpappasoddball opened #17089 "Create SLO Templates in DataDog"
## Description

While the BE Tools team waits for DataDog to have full production infrastructure support, we want to create the SLO reporting templates that will be used to report on when the production data starts being sent.

## Goals
Templates are created in DataDog and ready (the best they can be) to be able to report on SLOs for external services when Production data is available
There is a d

[2020-12-08 16:04] alexpappasoddball commented on #17089
@kfrz here is the ticket for creating the templates we have been discussion

[2020-12-08 16:04] lexicalninja opened #17090 "Update Out of Date Dependencies"
# Issue Description:
Update out of date dependencies in all of VA Mobile App front end project. This task will be completed at the beginning of each sprint.

ACs:
- [ ] Update all DevDependencies in one PR
- [ ] Update any Dependencies in their own PR after reviewing change log for dependencies

# `yarn outdated` Report:

| Package                                   | Current | Wanted  | Latest  |

[2020-12-08 16:05] MarciMcGuireGCIO commented on #11453
Based on my convo w/VSP, I believe it's anything that is a new iteration.  The other work didn't require full collab cycle because it was remediating things that were found in a QA and a11y review of the MVP that launched earlier this year.

[2020-12-08 16:07] zacharymorel commented on #11453
Okay, so we can self define a feature as anything that is being iterated over and/or brand new scope of work.

This should be merged and deployed soon.

[2020-12-08 16:09] #15807 closed

[2020-12-08 16:09] #15808 closed

[2020-12-08 16:09] #16277 closed

[2020-12-08 16:10] MarciMcGuireGCIO commented on #11453
I believe so, yes.  I don't think we can merge and deploy this particular change until the GA tags are added there's a staging review, and I have to put in requests for those.  That was why I landed on Jan 12 due to the lead time each group requires + code freeze coming up.

[2020-12-08 16:12] #16684 closed

[2020-12-08 16:13] luke-gcio commented on #16210
We decided to go with a minor change to the above:

"Step 2 of 4: Issues Eligible for Review"

[2020-12-08 16:20] theodur commented on #16480
@joanneesteban I'm currently working on documenting the process for tracking the build time metric, which we have determined should be build time + deploy time since we want to track the *publish time* which is the time it takes to build and deploy content to va.gov.

[2020-12-08 16:21] johnhashva commented on #11453
Team -- this is a good use case for What's goes through CC/Review and what doesn't.   As far as I know, there is no specific guidance for this.  That said, we are confronting the same questions in Search -- and it can create swirl.   More clarity is needed and @MarciMcGuireGCIO let's team with @denisecoveyduc to get that for future reference.    My take for this ticket and its assortment of tasks

[2020-12-08 16:22] LanceGundersen commented on #16918
@laurenernest it's set to 60 miles but we can change that param.

[2020-12-08 16:23] micahchiang commented on #15621
Closing as this has been resolved in [this pr](https://github.com/department-of-veterans-affairs/va.gov-team/issues/15483)

[2020-12-08 16:23] #15621 closed

[2020-12-08 16:27] MarciMcGuireGCIO commented on #11453
@johnhashva Thank you.

Agreed.  A more clear definition of the threshold for Collab Cycle would be helpful.

[2020-12-08 16:35] mdewey commented on #16041
@abuckley3385  I have verified this in stagin. I am clear to close this?

[2020-12-08 16:36] bethpottsVADEPO opened #17091 "Improve the quality of screen shots in R&S articles"
## Issue Description

The screen shots are slightly blurry in these articles (listed in order of priority to work on them--the last one here isn't in need as much as the others):
https://www.va.gov/resources/how-to-check-your-va-claim-appeal-or-decision-review-status-online/
https://www.va.gov/resources/how-to-change-your-address-in-your-vagov-profile/
https://www.va.gov/resources/how-to-change-di

[2020-12-08 16:36] mmiddaugh commented on #16971
Per Josh, we should skip the Mapbox icon in the keyboard flow
Additional accessibility changes will likely be possible once we are able to evaluate/leverage the plug-in.

[2020-12-08 16:46] Mottie commented on #16210
I also changed the path from `contested-issues` to `eligible-issues` - e.g. https://staging.va.gov/decision-reviews/higher-level-review/request-higher-level-review-form-20-0996/eligible-issues

[2020-12-08 16:46] jbalboni commented on #16840
@laurenernest I think we need to confirm with the analytics folks what the events should be for those two clicks. This is what I came up with:

[code]

The only other example I could find of tracking a facility locator click was within an alert box and it didn't make sense to follow that pattern.

[2020-12-08 16:48] digitalken commented on #16699
Added to TestRail.

[2020-12-08 16:49] jenniferlee-dsva commented on #16923
Thx for that clarification @DanielleThierryUSDSVA. (Sorry to jump the gun.) RE design intent review/collab cycle - will be helpful to make them aware that we went through user research and prototype testing with this prior to there even existing a Platform team (and a collab cycle).  Excited to see this move forward.

[2020-12-08 16:54] jenniferlee-dsva commented on #11453
Confirming ^ @johnhashva. Forms search and forms LP both separately went through design collab and intent reviews in fact.

[2020-12-08 16:58] jhouse-solvd opened #17092 "EKS - Set up dedicated repo for application manifests that Argo can monitor"
## Issue Description
_As per Argo best practices, we need a place to keep the kubernetes manifests separate from the application source code._

https://argoproj.github.io/argo-cd/user-guide/best_practices/

---
## Tasks
- [x] _Create repo with name that makes sense given our current naming scheme and the purpose of this repo_
- [x] _Configure repo with appropriate permissions_
- [x] _Create a dire

[2020-12-08 17:02] narin commented on #12525
Completed spike and POC.  Notes and takeaways here: https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/products/health-care/appointments/va-online-scheduling/engineering/notes/state_management_spike.md

[2020-12-08 17:02] #12525 closed

[2020-12-08 17:03] callen2563 commented on #16964
@Samara-Strauss @tressaellen
I made the updates (design finessing to come later ;).. I removed the "Issue on review" and "Submitted on" as I felt that I felt it was a bit too much info on mobile and they can get those details once they click the claim. Maybe we can show more details on desktop vs mobile. Any way let me know your thoughts. Thanks! :)

![myVA mobile Traditional Dashboard V2](https:/

[2020-12-08 17:03] #16260 closed

[2020-12-08 17:12] mchelen-gov opened #17093 "Test `fetch-drupal-cache` script on PR"
- [x] confirm `fetch-drupal-cache` is not broken by PR

[2020-12-08 17:14] mchelen-gov commented on #16637
@theodur Good catch on finding the PR that broke `fetch-drupal-cache` script. This should be added to CI tests: https://github.com/department-of-veterans-affairs/va.gov-team/issues/17093

Also for context: https://github.com/department-of-veterans-affairs/va.gov-team/issues/16401

[2020-12-08 17:18] bessgreen opened #17094 "Appointments detail | Hide categories with null states"
## User story
As a user, if I have sparse appointment details, I do not want to see any categories with empty states.

## Acceptance Criteria
1. On the upcoming Appointments detail pages, for any categories that are data-driven, these should be hidden from the UI when the API does not return any data. This includes:
     - Community Care: **Special instructions**
     - VA Video Connect at an ATLA

[2020-12-08 17:22] #15545 closed

[2020-12-08 17:23] laurenernest commented on #16840
Sounds good!

@bsmartin-ep We'll be adding these [events](https://github.com/department-of-veterans-affairs/va.gov-team/issues/16840#issuecomment-740753474) for the highlighted links below. Let us know if you have any concerns or changes.
![Screen Shot 2020-12-08 at 9 18 28 AM](https://user-images.githubusercontent.com/72046525/101518468-cc16de00-3936-11eb-8c45-28c046c33388.jpg)

[2020-12-08 17:25] SgardnerPMP opened #17095 "[PM] Update .csv files for Facility Health Services as reflected from CMS review"
## Story
As a engineer I need corrections to the .csv files in order to finalize testing, so the .csv will migrate successfully in test and can be implemented to Production.

## Tasks
- [ ] Update VISN-6 .csv issues
- [x] Update VISN-16 .csv issues
- [x] Update VISN-21 .csv issues
- [x] Update VISN-23 .csv issues
- [x] Update VISN-2 .csv issues

## Acceptance criteria:
- [ ] All .csv files success

[2020-12-08 17:30] peggygannon commented on #16827
hello, @3obryandogs and @leahkeeler Content recommendations for Why might I have this debt:

[Why have this debt content.pgedits.docx](https://github.com/department-of-veterans-affairs/va.gov-team/files/5660773/Why.have.this.debt.content.pgedits.docx)

[2020-12-08 17:30] mmiddaugh commented on #6071
@davidconlon Can this be closed as a duplicate to the work Natalie has been doing?

[2020-12-08 17:37] #15493 closed

[2020-12-08 17:40] laurenernest opened #17096 "Create feature flag for Facility v2.2 updates: front-end"
## Background
Now that Facility Selection v2 has fully rolled out, we have veteran feedback driving additional improvements. #16519

## Tasks
- [ ] Add FE flag

[2020-12-08 17:40] Mottie commented on #16489
Updates to content with accessibility fixes have been merged.

[2020-12-08 17:40] #16489 closed

[2020-12-08 17:41] mpelzsherman opened #17097 "Skip unpublished bios on pittsburgh-health-care/returning-service-member-care"
On pittsburgh-health-care/returning-service-member-care:

![VA_Pittsburgh_Health_Care___Returning_service_members.png](https://images.zenhubusercontent.com/5ee91ea93ee2bbe222cd827f/de060771-54ef-4ded-9844-3cc20df11d10)

See https://github.com/department-of-veterans-affairs/va.gov-team/issues/15460 for more info.

[2020-12-08 17:42] digitalken commented on #16700
Added to TestRail.

[2020-12-08 17:43] outerpress commented on #17006
No facilities found message: https://adhoc.invisionapp.com/share/W8ZLYPI2S53#/screens/439890195

I'll put together the one facility found message once I can get a look at its current state.

[2020-12-08 17:43] leahkeeler commented on #16827
Thank-you Peggy :) I am going to go ahead and send to DMC after accepting your changes for them to review for accuracy only --as in if something is wrong.